[2016-10-28 09:47] sxpert commented on #18231
this is the broken commit
https://github.com/ansible/ansible/pull/18157

[2016-10-28 10:14] brutto commented on #7235
Have the same issue with `git` module with passphrased private key. Ansible v2.1.1

Thanks for @bdowling @kolypto @wojtek-oledzki
There is my working workaround: https://github.com/ansible/ansible-modules-core/issues/5419#issuecomment-256884835

[2016-10-28 10:35] zfy0701 commented on #4870
+1

[2016-10-28 10:50] justingood opened #18232 "Callback only reports module_name for copy when force argument is set to no"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### OS / ENVIRONMENT

N/A
##### COMPONENT NAME
Callbacks

##### Summary:

Callback only reports `module_name` for _copy_ when `force` argument is set to _no_
##### Steps To Reproduce:

hosts/local:

[code]

test_playbook.yml:

[code]

callback.py:

[code]
##### Expected Results:

[code]
##### Actua

[2016-10-28 13:45] ludwig-gramberg commented on #13274
so... is there a way how to do it right? i have exactly the same problem, my 'when' is using a variable which is not bound to the loop, so i was expecting it not to run the loop (with_items) in the first place...

[2016-10-28 14:04] agaffney opened #18235 "Ansible should automatically set ansible_python_interpreter to sys.executable with 'connection: local'"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

`local` connection plugin
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

There is currently logic to set `ansible_python_interpreter` to the value of `sys.executable` (the python interpreter that is running ansible) in the code that creates the implicit `localhost` entry in the inventory. This

[2016-10-28 14:08] agaffney commented on #18235
It looks like this _should_ be as easy as adding a 'python_interpreter' -> 'ansible_python_interpreter' mapping in the play context magic vars, explicitly setting 'play_context.python_interpreter' in plugins/connection/local.py if it's not already set, and then using play_context.python_interpreter in executor/*

Edit: or maybe not

[2016-10-28 14:15] mputilin commented on #14270
+1

[2016-10-28 14:36] sm4rk0 opened #18236 "Task name is not templated in "FAILED - RETRYING: TASK:" message"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

[CallbackModule](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/default.py) or [StrategyBase](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/strategy/__init__.py)

This is the method printing the message in question:
CallbackModule.v2_runner_retry
and it's called from
StrategyBase._process_pending

[2016-10-28 15:17] abadger commented on #16006
can someone verify whether this is fixed by https://github.com/ansible/ansible-modules-core/pull/4617 ?  That change has been merged to devel and stable-2.2 and will be in 2.2.0 when released.

needs_info

[2016-10-28 16:11] abadger commented on #18227
@Shaps is correct here.  what you want in your inventory is something like this:

[code]

If you want to set both connection and interpreter in the play you should be able o do that as well:

[code]

[2016-10-28 16:11] #18227 closed, assigned to nobody

[2016-10-28 17:07] mavit commented on #17919
I'm confident that there are plenty of old Solaris systems in the wild that don't use ZFS; it wasn't available in the initial release of Solaris 10, and Solaris 10 is still supported until 2021.  However, although it would be nice for `become` to work without any additional configuration, I don't think there's anything preventing people with these systems from enabling pipelining.

It does.

[2016-10-28 17:22] jctanner commented on #18231
Could not reproduce on F23, but did see the error on u1404 ...

[code]

[2016-10-28 17:27] showaltb commented on #15321
I am experiencing the same problem as https://github.com/ansible/ansible/issues/15321#issuecomment-256346976

`ansible-playbook` is failing to connect and is not creating the socket under `~/.ansible/cp`. If I run `ansible -m ping` first, the socket is created and `ansible-playbook` will succeed if I run within 60 seconds.

Interestingly, if I run `ansible-playbook` with `-vvv` option and then cop

[2016-10-28 17:31] jctanner commented on #18231
The error went away once I updated setuptools.

[2016-10-28 17:34] agaffney commented on #18235
We probably don't actually want this.

[2016-10-28 17:34] #18235 closed, assigned to bcoca

[2016-10-28 17:43] jctanner commented on #18231
@sxpert what version of setuptools is on your machine? Are you using the default 2.2?

needs_info

[2016-10-28 17:49] sxpert commented on #18231
this is what's installed on the box, on what is basically a fresh install through pxe/netboot of ubuntu 14.04:

$ aptitude show python-setuptools
Package: python-setuptools
State: installed
Automatically installed: no
Version: 3.3-1ubuntu2
Priority: optional
Section: python
Maintainer: Ubuntu Developers ubuntu-devel-discuss@lists.ubuntu.com
Architecture: all
Uncompressed Size: 830 k
Depends: pytho

[2016-10-28 18:56] em429 opened #18239 "Ansible hangs on setup"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

setup
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

Running it from OS X, on AWS Ubuntu 14.04 instances. It used to work, and the playbook still works on other AWS Ubuntu 14.04 instances.
##### SUMMARY

I run this command:
`ansible-playbook site.yml -i hosts --private-key ~/.ssh/webserver.pem`
and it hangs on

[2016-10-28 19:22] #18239 closed, assigned to nobody

[2016-10-28 20:41] fd98279 commented on #16858
I had # in the password. Ansible was not reading the complete password. Put the password in single quotes and it worked.

[2016-10-28 22:33] brandonheller commented on #14248
@cornfeedhobo's example exactly matches my use case.  By using include_vars, I'm preventing easy overrides of any individual variables by plays.

Another interface option would be:
- Add an option to the include_vars module, 'as_default', which processes the included file as if it were in defaults.

[2016-10-29 02:22] grugnog commented on #18231
It seems that this is at least somewhat related to the version of setuptools installed:
- I can reproduce this issue on the devel branch or d60bc492 (#18157) on CentOS 7 with the yum version of setuptools-0.9.8-4.el7 (but an upgraded pip). Reverting to 679da002 installs ansible fine.
- However using newer version of setuptools installed via get-pip.py (apip-8.1.2 setuptools-28.7.0 wheel-0.29.0) al

[2016-10-29 03:42] bryfry commented on #12086
+1

Me waiting for  openstack modules to iterate through the `with_` loop on 100+ items...
![image](https://cloud.githubusercontent.com/assets/116113/19826967/e3e5d24e-9d67-11e6-9dcd-6304fbf62e73.png)

[2016-10-29 07:33] srgvg commented on #17078
Tested using the same test again, `git clone git@github.com:srvg/ansible-ansible-issue17078.git && ansible --version && cd ansible-ansible-issue17078/ && ansible-playbook test-ok.yml -v; ansible-playbook test-nok.yml -v`, this issue is **not fixed** I'm afraid.

[2016-10-29 08:33] #17341 closed, assigned to nobody

[2016-10-29 13:02] lukasojd commented on #13410
:+1:   hotfix is install older version :(

[2016-10-29 15:45] tartley commented on #9034
:-1

[2016-10-29 15:45] tartley commented on #9034
:-1:

[2016-10-29 15:51] tartley commented on #9034
I would really like this feature, more than any other new Ansible feature. Currently, if something goes wrong during a provision, I have 160kb of output (42 screensfull in a fullscreen small-font terminal) to visually parse to try and debug. Often, the relevant error, after lots of scrolling, is at the end. But sometimes it is not. This is regularly unnecessarily inconvenient.

I draw attention to

[2016-10-29 17:54] cavaliba opened #18247 "ansible-vault rekey losing file with env ANSIBLE_VAULT_PASSWORD_FILE set"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

ansible 2.1.2.0
  config file =
  configured module search path = Default w/o overrides
##### CONFIGURATION

```export ANSIBLE_VAULT_PASSWORD_FILE=secret.txt```

##### OS / ENVIRONMENT

Debian 8, python27

##### SUMMARY

When using ansible-vault rekey with env var ANSIBLE_VAULT_PASSWORD_FILE set, rekeying s

[2016-10-30 05:16] abarnas commented on #13898
Try this: https://launchpad.net/ubuntu/xenial/amd64/ansible/1.9.4-1

[2016-10-30 09:47] xubin0127 opened #18251 "ERROR! Unexpected Exception: must be type, not classobj"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-30 09:52] xubin0127 opened #18252 "ERROR! Unexpected Exception: must be type, not classobj"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-30 09:53] #18251 closed, assigned to nobody

[2016-10-30 09:55] #18252 closed, assigned to nobody

[2016-10-30 09:59] xubin0127 opened #18253 "ERROR! Unexpected Exception: must be type, not classobj"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04 Python 2.7
##### SUMMARY

Run ansible appear the following error:
“ERROR! Unexpected Exception: must be type, not classobj”
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-10-30 14:07] ludwig-gramberg commented on #17905
can confirm the problem of relative paths in ansible.cfg AND ssh.cfg
i changed all paths in ansible.cfg and ssh.cfg to absolute paths and now everything is working again... really nasty bug

the working directory ansible-playbook ended up using, was the playbooks directory...

[2016-10-30 15:34] mscherer commented on #18253
Can you share the inventory file ?

[2016-10-30 18:38] jeuniii opened #18255 "synchronize fails with become module"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

synchronize
##### ANSIBLE VERSION

2.1.0.0

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

RHEL 6.7
##### SUMMARY

I am trying to use the synchronize module to copy file from Ansible node to remote node. I want these files to exist as UserB on the remote nodes but I do not have access to UserB directly. Instead UserA has sudo privile

[2016-10-30 19:07] #18255 closed, assigned to nobody

[2016-10-30 19:14] sserdarerkan commented on #13876
Anyone has a clue about this problem? We tried all of the aforementioned solutions (except updating the kernel itself).But none of them worked. We build a nice installation infrastructure using ansible. But this small issue is killing us. Whenever we execute ansible-playbook command, the first one throws this failure message. Mostly, the second one works. Also, during the installation, we see the

[2016-10-30 22:34] it-praktyk commented on #15321
I had the same issue
- ansible: 2.1.2.0
- Fedora 24 as management box
- CentOS 7 as managed box

I've resolved it by adding key used to authentication to ssh-agent. The key used by me was without password.

[2016-10-30 23:51] jctanner commented on #12755
@skynet please indicate if this is still an issue for you.

needs_info

[2016-10-30 23:52] jctanner commented on #10617
utopic is no longer a supported release http://fridge.ubuntu.com/2015/07/03/ubuntu-14-10-utopic-unicorn-reaches-end-of-life-on-july-23-2015/

[2016-10-30 23:52] #10617 closed, assigned to nobody

[2016-10-31 00:04] jctanner commented on #17570
There is not enough information in this issue to indicate a problem with ansible or galaxy. Like @mscherer hinted at, offline mode is not for the install method (the metadata needs to be fetched from galaxy.ansible.com). Reinstalling ansible to fix a network error seems like a red herring.

If you hit this error again, please provide the following in a new issue:

1) ansible-galaxy -vvvv output
2)

[2016-10-31 00:04] #17570 closed, assigned to nobody

[2016-10-31 05:42] xubin0127 commented on #18253
[code]

[2016-10-31 08:57] ptman opened #18257 "Per var merging of lists (and hashes?)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
group/host_vars

##### SUMMARY
group_vars/group1:

    foo_tags:
     - bar

group_vars/group2:

    foo_tags:
     - baz

{{foo_tags|merge}} would be ['bar','baz']

Related: https://groups.google.com/forum/#!searchin/ansible-project/merge$20lists|sort:relevance/ansible-project/LfhifDwnCo4/8BWzpmSSBQAJ

[2016-10-31 11:16] peterroelants commented on #10472
I have the same issue, changing the reboot command to `sleep 5 && shutdown -r` seems to make it work.

[code]

[2016-10-31 12:40] joernheissler commented on #13876
Any reason why you can't update the kernel?

[2016-10-31 12:47] alv000h opened #18258 "ansible hangs indefinitely waiting for command termination (using yum or gather_facts)"
##### ISSUE TYPE
 - Bug Report
 - Feature Request

##### COMPONENT NAME
ansible
yum
setup (gather_facts)

##### ANSIBLE VERSION
ansible 2.3.0 (devel 5fa82f2b4e) last updated 2016/10/31 12:01:58 (GMT +200)
  lib/ansible/modules/core: (detached HEAD f9fada7db0) last updated 2016/10/31 12:02:21 (GMT +200)
  lib/ansible/modules/extras: (detached HEAD 5701a2e050) last updated 2016/10/31 12:02:41 (GMT +

[2016-10-31 13:00] alikins commented on #18253
I haven't been able to reproduce this with stable-2.1, stable-2.2, or devel branches.

@xubin0127 could you test this with a stable-2.2 release candidate? https://github.com/ansible/ansible/releases/tag/v2.2.0.0-0.4.rc4

[2016-10-31 13:04] alikins commented on #18253
Which python yaml packages are installed?

[2016-10-31 13:05] #18258 closed, assigned to nobody

[2016-10-31 13:07] alikins commented on #18247
reproduces with stable-2.1 branch

[code]

[2016-10-31 13:09] alikins commented on #18247
also can reproduce for stable-2.2

[code]

[2016-10-31 13:13] alikins commented on #18247
and devel/

[code]

[2016-10-31 13:49] thunder-spb commented on #18223
Same issue with RC3-RC4

[2016-10-31 13:51] jctanner commented on #9568
1.7.2

[code]

1.8.4

[code]

1.9.6

[code]

2.0.2

[code]

2.1.3

[code]

2.2.0 rc4

[code]

[2016-10-31 13:54] gundalow opened #18259 "sanity test: Most Python files should not be executable"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Tests

##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

A number of modules (in core & extras) are executable. This is difficult to spot during new module creation PR as GitHub doesn't display file mode flags.

Also I've seen some PRs that modify modules that end up changing the file mode.

Check that:
*

[2016-10-31 13:54] jctanner commented on #9568
The intent with assert is to have an expression which evaluates to True or False, similar to python's assert keyword. The error message in 1.8 did change from previous releases, but I believe it wasn't incorrect. We improved the message slightly in 1.9 and above and have remained fairly consistent in the error. At this point, I wouldn't want to change something that has been consistent for so long

[2016-10-31 13:54] #9568 closed, assigned to nobody

[2016-10-31 14:05] phil-dileo opened #18261 "Tower install with Ubuntu 14 will not work with EOS 4.17+ with cli transport"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Package dependencies

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Installation provided through Tower ``setup`` script. No existing Ansible environment setup.

##### OS / ENVIRONMENT
[code]
I would think this issue applies to more than one distro.

##### SUMMARY

The Paramiko version that gets installed with apt-get install ansible on Ubu

[2016-10-31 14:26] jctanner commented on #9572
We don't have "path" listed as an option in the requirements.yml documentation, and I suspect that this scenario might be why:
http://docs.ansible.com/ansible/galaxy.html#installing-multiple-roles-from-a-file

It could be hairy trying to juggle the install path if each role in the requirements defines a different path. I think using ansible.cfg or the --roles-path option is a better approach.

[2016-10-31 14:26] #9572 closed, assigned to nobody

[2016-10-31 14:30] sserdarerkan commented on #13876
It is very difficult  to persuade people for kernel upgrade. Since the
kernel is baselined for this system. (The only reasonable excuse could be
Dirty cow bug. )

On Oct 31, 2016 3:41 PM, "joernheissler" notifications@github.com wrote:

[2016-10-31 14:34] jctanner commented on #9608
This was fixed in 1.8

[2016-10-31 14:34] #9608 closed, assigned to nobody

[2016-10-31 15:00] jctanner commented on #9744
I am not able to reproduce the traceback with 1.8.2 ...

[code]

In 2.2 a slight different message appears ...

[code]

With the --force parameter added, the role is overwritten ...

[code]

Galaxy cli appears to behave as requested by this issue's description, so I'm closing it.

[2016-10-31 15:00] #9744 closed, assigned to nobody

[2016-10-31 15:12] jctanner commented on #9836
@mihai-satmarean I think you've missed a key element of the blog post you linked to. The author is using cygwin to emulate a more "unixy" posix filesystem where the permission on the sshkey are actually set. Quickly looking through the babun page, it's an enhanced powershell/dos terminal and not in the same league as cygwin.

I suggest doing one of the following:
1. Use the shell provisioner in va

[2016-10-31 15:12] #9836 closed, assigned to nobody

[2016-10-31 15:21] jctanner commented on #9837
@mspiegle I can't find anything that documents using roles in this way. There is some documentation stating "friendly" names can be used in the role meta's dependency section or in a requirements.yml ... http://docs.ansible.com/ansible/playbooks_roles.html#role-dependencies

What is the usecase you are trying to achieve with this that can't be achieved by setting a roles path in ansible.cfg?

need

[2016-10-31 15:28] bcoca commented on #18257
The `combine` filter does this already, the limitation is you cannot use the same initial variable name.

Templates, which includes filters, do not run when variables are loaded so by the the filter runs the vars have already been collapsed.

[2016-10-31 15:37] ptman commented on #18257
Well I'd be happy for the merging to happen somewhere earlier than jinja as well. But having to have each merged variable named differently seems pretty counterintuitive. Also combine seems to be for hashes, not lists.

[2016-10-31 15:38] bcoca commented on #18257
lists can use the `union` filter or just `list1 + list2`

[2016-10-31 15:44] jctanner commented on #9865
Variables in the name stopped working around 1.8 and still didn't work through 1.9. However, they are filled out in 2.x if the variable is available at the time of task execution.

Please update to ansible 2.x if you need this feature.

[2016-10-31 15:44] #9865 closed, assigned to nobody

[2016-10-31 15:47] phil-dileo commented on #18261
@gundalow

[2016-10-31 16:01] gundalow commented on #18261
@phil-dileo Can you please provide (sanitised) copy of `provider`.

[2016-10-31 16:02] alikins commented on #18247
More notes... Looks like the right thing happens if --new-vault-password-file=secret.txt is provided to rekey
ie ('ansible-vault rekey --new-vault-password-file=secret.txt myvault.yml') and/or without setting ANSIBLE_VAULT_PASSWORD_FILE

Looks like the cli parser always sets a value for self.options.vault_password_file and self.options.new_vault_password_file via the expand_tilde optparse callback

[2016-10-31 16:04] phil-dileo commented on #18261
[code]

[2016-10-31 16:05] gundalow commented on #18261
@phil-dileo Thanks

/cc @privateip @Qalthos

[2016-10-31 16:06] jctanner commented on #9964
ssh related errors have been significantly revamped in 2.2 to expose all stdout and stderr to the user as to avoid situations like this. Please check your testcase with one of the recent 2.2 release candidates or 2.2 final once it is out.

needs_info

[2016-10-31 16:07] phil-dileo commented on #18261
For the https://github.com/ansible/test-network-modules repo, which version(s) of EOS do you test against? Do you run the playbooks from different control hosts with various packages?

[2016-10-31 16:10] gundalow commented on #18261
I run `ansible-playbook` on a Ubuntu 16.04 machine.

device: veos01 (vEOS, EOS-4.15.4F)

[2016-10-31 16:27] mspiegle commented on #9837
It appears that the docs for this feature (and maybe even the feature?) has been removed.  Please see the following doc from git and search for ",,":
https://github.com/ansible/ansible/blob/8e2a8c92ac7c4134f822ec77de08a1106da36fc6/docsite/rst/playbooks_roles.rst

[2016-10-31 16:44] #9904 closed, assigned to jctanner

[2016-10-31 16:46] jarovo commented on #16032
It is quite dangerous bug considering one may fall into this trap:

[code]

[2016-10-31 16:55] fxfitz commented on #16032
... yup, I did that... #fail

On Mon, Oct 31, 2016 at 11:47 AM Jaroslav Henner notifications@github.com
wrote:

[2016-10-31 16:55] fxfitz commented on #16032
... yup, I did that... #fail

[2016-10-31 17:14] shanemcd commented on #18231
@chouseknecht @jctanner This is causing failures across the board when building Ansible debs.

Can we make this work with the version of `python-setuptools` provided by the distro repos?

[2016-10-31 17:28] alikins commented on #18236
I think that is probably a bug with the default callback's 'v2_on_retry', since it's changed since stable-2.1:

[code]

devel/

[code]

[2016-10-31 17:29] alikins commented on #18236
stable-2.2 looks like it's busted as well:

[code]

[2016-10-31 17:36] jctanner commented on #9984
@ISF can you confirm if this is still a problem in ansible 2.1 or 2.2?

needs_info

[2016-10-31 17:42] ISF commented on #9984
@jctanner I don't have access to an AWS account anymore, thus I'm unable to reproduce the issue.

[2016-10-31 17:43] jctanner commented on #10093
@roysmith, I'm not sure what ansible version this pertains to but please indicate what you tested against and if the issue is still present in 2.1 or 2.2. @Jmainguy is the maintainer for the module, so his input might be good to have here too.

needs_info

[2016-10-31 17:48] jctanner commented on #10108
Ansible 1.8 added the fact caching feature which does allow to store facts into a json file without requiring extra redirect magic. http://docs.ansible.com/ansible/playbooks_variables.html#fact-caching

The other options are to use the template module and a to_nice_json filter to write out hostvars or use/write a custom callback plugin to store outputs as json.

[2016-10-31 17:48] #10108 closed, assigned to nobody

[2016-10-31 17:50] jctanner commented on #10121
@jagibson what would you expect ansible to do once the filename length was found to be too long for the filesystem?

needs_info

[2016-10-31 17:56] alikins commented on #18232
I can reproduce the behavior on 2.3:

(with an extra pprint.pprint(results) thrown in callback)

[code]

[2016-10-31 18:06] alikins commented on #18232
misc notes...

Looks like the result in the cases that don't set module_name in invocation also set ''_ansible_parsed' to True.

copy module exists early if dest exists and force is falsey

[2016-10-31 18:14] O2Graphics commented on #13401
Hello,
This almost one year old critical bug still isn't solved.
On Debian, with ansible 2.1.1, I tried changing scp_if_ssh, control_path, pipelining, sftp_batch_mode, retries (and different combinations of them) according to the comments above and I'm still getting this "SSH Error: data could not be sent to the remote host. Make sure this host can be reached over ssh" error.

In ansible 2.1.1, co

[2016-10-31 18:20] alikins commented on #18253
The error show is usually a subclass attempting to use super() on a base class that is not a 'new style' class. In this case, the base class is yaml.constructor.Constructor, so curious which yaml implementations are installed and which versions  (ie, what versions of PyYAML and/or pyyaml and/or python-yaml and/or libyaml are installed).

[2016-10-31 18:22] jctanner commented on #10262
Reproduced with devel ...

[code]

[2016-10-31 18:23] nirik commented on #13401
Those of you still seeing this should bring it up on the mailing list and/or IRC. As noted when this was closed: "Because this project is very active, we're unlikely to see comments on closed tickets, though the mailing list is a great way to get involved or discuss this one further."

So, it's unlikely any ansible folks are seeing your comments...

[2016-10-31 18:58] alikins commented on #18207
Yup, installation docs don't currently cover building packages, but probably should.

'asciidoc' is one of the Build-Depends listed in packaging/debian/control though.

[2016-10-31 19:03] O2Graphics commented on #13401
Thanks @nirik for your answer.
Well, finally, by running ansible with "ANSIBLE_DEBUG=1 ansible-playbook..." I found my issue isn't related to this one anymore. The problem is in fact similar to https://github.com/ansible/ansible/issues/15766 or https://github.com/ansible/ansible/issues/16938

[2016-10-31 19:15] 399a36c3b7 commented on #18227
@Shaps @abadger but what about the `connection: local` case, which is my case?

What you're saying right now sounds like that even for modules executed under `connection: local` they are expected to use `ansible_python_interpreter` specified for remote host? I would expect consistency in running code locally, irrespective of the conceptual blueprint host modules are executed for.

[2016-10-31 19:32] alikins commented on #18197
Looks like 'ansible_distribution_major_version' for Solaris was missed in 5626c540ce408ac19ebe4d6ac8321ee11ce356c2.

It probably fell into the 'other' category for 2.1 which would default to the first segment of the platform.dist()[1] versopm, but 2.2 has support for SunOS/Solaris specifically but that doesn't set the ansible_distribution_major_version

[2016-10-31 19:58] jagibson commented on #10121
@jctanner Well, ideally Ansible would not generate filenames this long.  If that's not an option the ability to use an alternate path for ec2.py would probably work.

[2016-10-31 20:09] tima commented on #17492
needs_info

[2016-10-31 20:14] cinerama70 commented on #17920
https://github.com/ansible/ansible/commit/972379c9072e1debeefce7a7bf99ffbe1e9217c4 should have fixed this.

[2016-10-31 20:15] muratdx commented on #18154
This is a behavior change in 2.x: group_vars/parent now has a higher precedence than a child group var defined in the inventory.

I had reported this already in #17361; another user also filed #17703. This was deemed a feature, not a bug.

The documentation is still a bit confusing in this regard. For example, the [Variables](http://docs.ansible.com/ansible/playbooks_variables.html) page mentions:

[2016-10-31 20:32] vossenjp commented on #13680
++ on both the rename, since that is quite confusing and the addition of the ability to set the owner/group/mode, the lack of which nearly had catastrophic results for me due to the current race condition between sync and fixing some critical owner & perms (like for.../etc/sudoers)!

Currently running ansible 2.1.1.0.

[2016-10-31 21:05] cinerama70 commented on #16554
https://github.com/ansible/ansible/commit/7bd57acda4eee70158eb48a7e0c5947fff82dfb9 includes a fix for this.

[2016-10-31 22:21] 399a36c3b7 commented on #18227
@abadger from what you're saying that `ansible_python_interpreter` does not depend on connection type feels quite different from what the [documentaion](http://docs.ansible.com/ansible/playbooks_delegation.html#local-playbooks) says. Also, why is virtualenv python picked up by `hostvars['localhost']` as `ansible_python_interpreter`  but not by `connection: local`? If anything, I feel like it shoul

[2016-11-01 01:07] #10262 closed, assigned to jctanner

[2016-11-01 01:37] jctanner commented on #10342
Duplicate of https://github.com/ansible/ansible/issues/9572

[2016-11-01 01:37] #10342 closed, assigned to nobody

[2016-11-01 01:53] jctanner commented on #10440
The null output was corrected in 1.9 and above ...

[code]

[2016-11-01 01:53] #10440 closed, assigned to nobody

[2016-11-01 01:58] jctanner commented on #10450
This should have been resolved by https://github.com/ansible/ansible/pull/14910

[2016-11-01 01:58] #10450 closed, assigned to nobody

[2016-11-01 02:00] jctanner commented on #10477
This should have been resolved by https://github.com/ansible/ansible/pull/13203 which is in 2.1

[2016-11-01 02:00] #10477 closed, assigned to nobody

[2016-11-01 03:44] xubin0127 commented on #18253
in my linux enviroment, i installed the pyyaml package with the version 3.12.

[2016-11-01 04:54] xubin0127 commented on #18253
Installation of this version, the problem is still:
ipaloma@iZ23366tv76Z:~$ ansible --version
ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/usr/share/ansible']
ipaloma@iZ23366tv76Z:~$ ansible nginx-hz -m shell -a "ifconfig"
ERROR! Unexpected Exception: must be type, not classobj
to see the full traceback, use -vvv

[2016-11-01 08:04] SirTimmyTimbit commented on #15321
Having the same issue. Standard OpenSSH attempt fails but paramiko works.

Running Ansible inside Vagrant/Virtualbox on Windows to provision remote VMs. Both machines running Ubuntu 16.04. Ansible **version 2.1.2.0** Ansible config file is located in /ansible/ansible.cfg.

hosts line:

    raw1  ansible_host=xx.xx.xx.xx  ansible_port=22  ansible_user=root  ansible_ssh_pass=wer32dw

This fails:

[c

[2016-11-01 11:45] rvben commented on #14430
Just now, I did a Pull Request that solves this issue. While it might not be a 'big' issue, it seemed like a good start to get involved in the project. At least I learned a lot by debugging it.

[2016-11-01 11:52] gthieleb commented on #9944
I also have this issue with ansible 2.1.2.0. Is the file lookup currently broken?

[code]

[2016-11-01 12:04] ebikt commented on #7839
xdaxdb: Or maybe `file_mode` wich will affect all non-directory entries, so that `mode` will be coherent with the toplevel directory.

[2016-11-01 12:53] rvben commented on #11100
I tested this with the current devel version, and it works as expected. It seems that this issue has been solved already.

[2016-11-01 13:29] jctanner commented on #10609
@MrMMorris roles have always required .yml files. You can include other task files from the main.yml by whatever extension you'd like, but the convention is .yml. In your roles dir, run "ansible-galaxy init foo" if you would like to see a default directory and file structure.

[2016-11-01 13:29] #10609 closed, assigned to nobody

[2016-11-01 13:34] jctanner commented on #10740
Per @cchurch, this should have been resolved by https://github.com/ansible/ansible/pull/10664

[2016-11-01 13:34] #10740 closed, assigned to nobody

[2016-11-01 13:43] alikins commented on #18253
Are there host or group vars files that could be getting read?  Maybe a non-yaml file in a vars path somewhere?

Traceback suggests it may be attempting to load group_vars from a file and is failing, which could mean a non yaml file somewhere.

2.2 includes some fixes for cases like that, could you try out the new releases 2.2 (https://github.com/ansible/ansible/releases/tag/v2.2.0.0-1) and see if

[2016-11-01 13:46] rvben opened #18280 "Tasks always run after roles, even when tasks are defined first."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

play

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Roles run first. Tasks second.
There are cases in which you would want to run these tasks _before_ running the roles. Example: When you'd want to dynamically prepare and set variables through tasks, this will prevent you from doing so. It feel

[2016-11-01 13:59] #16554 closed, assigned to alikins

[2016-11-01 14:14] jeblair opened #18281 "Retry with synchronize uses wrong source path on subsequent attempts after failure"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
task_executor

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Ubuntu 14.04.5 LTS

##### SUMMARY
Using a retry loop with synchronize results in an incorrect source path being used in subsequent rsync invocations after a failure.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The task should have failed

[2016-11-01 14:18] jesuscript commented on #5512
+1 would be a great feature, not sure why it's missing

[2016-11-01 14:26] jctanner commented on #10834
@tomashavlas @garthk I'm not able to create any errors on 1.9.x or in 2.x based on the description. Here's my testcase ...

[code]

Could you help me by pointing out where my testcase doesn't fit the description?

needs_info

[2016-11-01 14:57] jctanner commented on #10840
@zerOnepal If you have a recommended change for the docs, please file a PR.

[2016-11-01 15:38] Shaps commented on #18280
Hi @rjongejan, this is how it's supposed to be. The [docs](https://docs.ansible.com/ansible/playbooks_roles.html#roles) ( Look towards the end of that paragraph, just before Role Default Variables ) say that if you want to run something **before** or **after** roles are applied you should use `pre_tasks` and `post_tasks`

[2016-11-01 15:38] jctanner commented on #18280
@Shaps thanks for helping out with this.

[2016-11-01 15:38] #18280 closed, assigned to nobody

[2016-11-01 16:16] dead10ck opened #18285 "The Ansible project should maintain release notes"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Ansible project as a whole

##### SUMMARY

Ansible should have release notes. It helps inform users about any new features, deprecations, bug fixes, breaking changes, etc., etc. The only source of information I've been able to find about changes between releases is the blog, which doesn't fill the whole picture, and is harder to skim

[2016-11-01 16:19] Shaps commented on #18285
Hi @dead10ck have you had a look at [CHANGELOG.md](https://github.com/ansible/ansible/blob/devel/CHANGELOG.md) ?

[2016-11-01 16:20] jctanner commented on #10975
There are 2 separate components to this issue:
1. A bad key in known_hosts
2. ssh-pass getting stuck on interactive input for something other than the string "assword:" which is what it is coded to look for.

The bad key can be mitigated by using the ansible config option to ignore host keys so that the option is passed into ssh. However, this is not a recommended way to assure secure connections.

[2016-11-01 16:20] #10975 closed, assigned to nobody

[2016-11-01 16:21] dead10ck commented on #18285
Doh, apparently I'm blind.

[2016-11-01 16:21] #18285 closed, assigned to nobody

[2016-11-01 16:28] jctanner commented on #11212
Accelerate mode has been deprecated ....

http://docs.ansible.com/ansible/playbooks_acceleration.html

[2016-11-01 16:28] #11212 closed, assigned to nobody

[2016-11-01 16:44] bcoca commented on #18218
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The issue here is that the top level include is 'static' so the `when` clause does not apply to it, it is inherited by the tasks inside.

As is documented a `w

[2016-11-01 16:44] #18218 closed, assigned to bcoca

[2016-11-01 17:07] #18247 closed, assigned to alikins

[2016-11-01 17:08] duck-rh commented on #18218
I disagree. The fact you implement the when+include internally this way is not the user's concern. What you point out is using with_items+when, which is not what I did directly in my playbook.

I'm discussing some behavior that is clearly counter-intuitive, so it should be improved. At the very least the documentation should be updated to explain the limitation.

[2016-11-01 17:41] alikins commented on #18247
cherry-picked into stable-2.2 as well 32971e86396012af3eb88bbaa7f7b1c2cc27dee5

[2016-11-01 17:59] r-daneel commented on #13274
so, if I get this well:
- we try to trigger a task 'with_items' on a list stored in 'mylist'
- we want the 'when' clause to test if 'mylist' is defined, in order to loop on the items in 'mylist'
- if 'mylist' is undefined, we get the deprecation warning.

My workaround:

[code]

We ensure the variable is defined (if not already), then just loop on the variable if it's non-empty.
It looks a bit dir

[2016-11-01 18:07] bcoca commented on #11100
Since the original opener never responded to questions, we have never been able to reproduce and others confirm this works, I'm going to close this issue.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user

[2016-11-01 18:07] #11100 closed, assigned to nobody

[2016-11-01 18:10] ghjm commented on #12086
+1 on forks. Could use this for copying AMIs to all the AWS regions.

[2016-11-01 18:11] jctanner commented on #11273
I was able to reproduce with 1.9.1 but not with 1.9.6 or 2.2. Please update your version of ansible if you have not already done so.

[2016-11-01 18:11] #11273 closed, assigned to nobody

[2016-11-01 18:12] bcoca commented on #13274
So, as mentioned in the docs http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals

The simple solution:

[code]

[2016-11-01 18:22] jctanner commented on #11289
The code in devel (2.3) still has this inefficient behavior. I'm guessing it was just a mistaken indentation? https://github.com/ansible/ansible/pull/11290 was never merged and I suspect will never get rebased.

[2016-11-01 18:27] kstrauser commented on #11289
I don't have access to a machine to test this against anymore.

[2016-11-01 18:50] dpedu2 opened #18287 "Anisble does not allow handling of "host unreachable" errors"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Anible core (?)

##### ANSIBLE VERSION
[code]

I updated to 2.2.0.0 and the behavior is identical.

##### CONFIGURATION
[code]

ssh.config contains:
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible does not allow handling of "host unreachable" errors. The following methods of handling errors do not catch "host unreachable" errors and do

[2016-11-01 19:04] bcoca commented on #18287
Those are for errors on the execution of the task, communication errors (unreachable) can be cleared using the a`meta`  task. http://docs.ansible.com/ansible/meta_module.html

[2016-11-01 19:05] dpedu2 commented on #18287
Thanks for the info - that workaround will probably work in my case. Though I still think allowing programming of custom handling would be useful.

[2016-11-01 19:20] dpedu2 commented on #18287
After testing, it seems `- meta: clear_host_errors` (and `refresh_inventory`) does not clear unreachable host errors.

[2016-11-01 19:43] jpgimenez commented on #14141
I can reproduce this, but is maybe a limitation more than a bug...
On a playbook that configure a load balancer we need to know the ipv4 address of internal interface, so we iterate over a group and access hostvars like this:

[code]

That works if not --limit is set, but as soon as we limit to only one host it fails because 'ansible_eth2' is only defined for the host passed on the limit param. I

[2016-11-01 19:48] adityamarella opened #18289 "ignore_errors="{{ False }}" not failing the playbook on task failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Ansible Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu-14.04

##### SUMMARY
ignore_errors: "{{ False }}" should fail the playbook when the task fails. This is broken in 2.2.0.0 release, it was working as expected in 2.1.0.0. This could be a more generic problem with jinja template boolean translation. I

[2016-11-01 19:55] bcoca commented on #14141
@jpgimenez that is different issue, facts are not collected for that host, the original ticket is about group vars. You might want to look into fact caching and/or a task that runs over all hosts with `delegate_facts: True`

[2016-11-01 20:22] caseyzub opened #18290 ""Porting custom scripts" link results in 404 page in "Porting Guide" document"
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
- Documentation

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
"Porting custom scripts" link results in 404 page in "Porting Guide" document

##### STEPS TO REPRODUCE
1. Navigate to this documentation page: http://docs.ansible.com/ansible/porting_guide_2.0.html#porting-custom-scripts
2. Cl

[2016-11-01 20:56] jpgimenez commented on #14141
Thank you @bcoca, delegate facts solved my issue.

[2016-11-01 21:01] diego-treitos opened #18292 "Variables always evaluating inside conditional block when in loop"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Loop

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian Jessie amd64

##### SUMMARY
Variables inside loops are always evaluated even if they are in conditional blocks that should not be executed.
For example, this playbook would work in 2.1 but it does not in 2.2:
[code]

##### STEPS TO REPRODUCE
Exec the above pla

[2016-11-01 21:05] bcoca commented on #18292
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As stated in the docs http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals, conditionals execute inside the loop. Blocks are not

[2016-11-01 21:05] #18292 closed, assigned to nobody

[2016-11-01 21:23] diego-treitos commented on #18292
Hi @bcoca, thanks a lot for the answer.

I am still a bit confused. First of all this was working in 2.0 and 2.1. Today I updated to 2.2 and this started failing.

I understand that conditionals are executed in each iteration of the loop (for each item) but in this case the "when" statement always evaluates to false so it shouldnt evaluate any variable in any iteration.

[2016-11-01 21:54] bcoca commented on #18292
2.0 and 2.1 should have been giving you deprecation messages. The `when` never gets evaluated because the `with` fails first. The same happened in 1.x but the error was ignored.

[2016-11-01 22:00] diego-treitos commented on #18292
Thanks again for your help @bcoca. Now I get it. I guess I will have to use a `|default`.

Thanks a lot !

[2016-11-01 22:31] ftaeger commented on #9260
Same here with 2.1.2.0 on mac os x sierra

this is really breaking my /etc/hosts depoyments of large scale setups. This is just bad!

[2016-11-01 23:34] #11289 closed, assigned to jctanner

[2016-11-02 00:09] ruissalo opened #18293 "Unable to import custom module from an Ansible custom module."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Module search paths

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I wrote a custom Python module "A" that is correctly found and used by an Ansible playbook.
From that custom module "A" I need to import another custom module "B".

Problem: Ansible fails to load module B from module A. I tried putting

[2016-11-02 00:26] jimmymccrory opened #18294 "setting vars does not work on playbook include"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Include file variables

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

A role name provided as a variable to an included playbook is not executed as expected.

##### STEPS TO REPRODUCE

###### init_play.yml
[code]
###### play.yml
[code]
``ansible-playbook init_play.yml``

##### EXPECTED RESULTS

The role provided by

[2016-11-02 00:44] bcoca commented on #18294
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is not a feature that playbook includes allow.

In the future, this might be a topic more well suited for the user list, which you can also post here if y

[2016-11-02 00:44] #18294 closed, assigned to nobody

[2016-11-02 00:46] bcoca commented on #18293
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible-devel on irc.freenode.net
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel
- mailing list: h

[2016-11-02 00:46] #18293 closed, assigned to nobody

[2016-11-02 02:17] roytruelove commented on #9650
Making [this change](https://github.com/ansible/ansible/issues/9650#issuecomment-64901287):

[code]

to

[code]

_AND_ upgrading to 2.2.x solved this for me.  Making this change while on 2.1.x did _not_ work.

[2016-11-02 02:43] jctanner opened #18297 "galaxy unit test requires internet connection"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
galaxy unit test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

test/units/cli/test_galaxy.py:test_exit_without_ignore triggers a codepath in galaxy that attempts to connect to the internet to fetch data from galaxy. We shouldn't have tests that require internet access because downstream packagers (e

[2016-11-02 05:55] simplesteph commented on #15249
Is there a workaround for this issue? I need some variables to be cast to integer types in set_fact, or anytime after?

[2016-11-02 05:59] simplesteph commented on #9362
Any news on this or workarounds?

[2016-11-02 07:36] m-messiah opened #18299 "playbook_dir changes leak outside of include"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

playbook_dir variable

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nope

##### OS / ENVIRONMENT

N/A

##### SUMMARY

playbook_dir may be changed inside the playbook.

##### STEPS TO REPRODUCE

~/Sources/ansible-roles/postgres.yml
~/Sources/ansible-roles/nginx.yml
~/Sources/web/playbooks/bootstrap.yml
[code]

##### EXPECTED RESULTS

In

[2016-11-02 08:53] Shaps commented on #18290
Hi @caseyzub, thanks for this, this is indeed an issue, as those guides have been moved. While this gets fixed, you can access the page from here: [https://docs.ansible.com/ansible/dev_guide/developing_api.html](https://docs.ansible.com/ansible/dev_guide/developing_api.html)

[2016-11-02 08:57] gundalow commented on #18290
I'll fix that today, and see if we have any other hard coded links to `github.com/ansible/ansible/blob` in `docsite/rst/`

[2016-11-02 08:57] Pietia10 opened #18301 ""No such file or directory" error on wildcards."
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

ansible 2.1.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

6.8 redhat to 6.8 redhat

##### SUMMARY
ansible host2 -a "cat /etc/*release"
host2 | FAILED | rc=1 >>
cat: /etc/*release: No such file or directory

##### STEPS TO REPRODUCE

[2016-11-02 09:25] antoniopinarella opened #18302 "Alied Telesis switch and ansible"
Hello,
is there a solution for Allied Telesis switches?
i tried ios_command which is the most similar, but no luck.

any help would be appreciated.

thanks

Bojan

[2016-11-02 09:53] monokal opened #18303 "Ansible Python API 2.0 module has missing dependencies."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible API Python module.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
Reproduced on CentOS, Ubuntu and MacOS.

##### SUMMARY
Having installed the Ansible API Python module via `pip install ansible` on various platforms the following error is reproducible when trying to run a Python script the the imports do

[2016-11-02 11:16] Shaps commented on #18303
Hi @monokal, just tested on a clean Ubuntu 16.04 and OSX, ran the script from the docs page and worked correctly. Can you confirm ansible is available in your `PYTHONPATH`?

[2016-11-02 11:18] aShobhitSingh commented on #18231
What is the solution. I am also facing this problem. Steps done
sudo apt-get install python-pip git python-dev
   git clone https://github.com/ansible/ansible.git
   git -C ansible submodule update --init --recursive
   sudo pip install ./ansible
It fails with error: can't copy 'lib/ansible/galaxy/data/default': doesn't exist or not a regular file
Anyone?

[2016-11-02 11:29] mikeycmccarthy opened #18304 "Ansible Tower inventory import won't import host vars nested in directories named after the host."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Tower - specifically 'tower-manage inventory_import'

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)

##### SUMMARY
Using the Tower inventory import functionality won't import per host variables that are nested in directories under host_vars.

##### STEPS TO REPRODUCE
Consider a

[2016-11-02 11:45] Shaps commented on #18304
Hi @mikeycmccarthy. `tower-manage` is part of Ansible Tower, not part of the open source project. For questions related to it you should email support@ansible.com

[2016-11-02 11:50] #18304 closed, assigned to nobody

[2016-11-02 12:08] gundalow commented on #18304
@mikeycmccarthy We are migrating off email for support to using the Red Hat Portal, to be inline with the rest of Red Hat.

So for Ansible Tower support please create a ticket in the Red Hat Portal that can be accessed via https://access.redhat.com/

[2016-11-02 12:22] alv000h opened #18305 "ansible hangs indefinitely waiting for command termination when SSH connection is OK"
##### ISSUE TYPE
 - Bug Report
 - Feature Request

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
ansible 2.3.0 (devel 5fa82f2b4e) last updated 2016/10/31 12:01:58 (GMT +200)
  lib/ansible/modules/core: (detached HEAD f9fada7db0) last updated 2016/10/31 12:02:21 (GMT +200)
  lib/ansible/modules/extras: (detached HEAD 5701a2e050) last updated 2016/10/31 12:02:41 (GMT +200)
  config file = /etc

[2016-11-02 12:26] ismaelfernandezscmspain commented on #10412
Any answer about?

[2016-11-02 12:44] mikeycmccarthy commented on #18304
Thanks all, will do.

[2016-11-02 13:36] xubin0127 commented on #18253
version v2.2.0.0-1, the problem is still。
attach files for group vars files。
[group_vars.zip](https://github.com/ansible/ansible/files/566654/group_vars.zip)

[2016-11-02 14:02] bcoca commented on #18303
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible-devel on irc.freenode.net
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel
- mailing list: h

[2016-11-02 14:02] #18303 closed, assigned to nobody

[2016-11-02 14:06] bcoca commented on #18299
playbook_dir SHOULD be overridden for the tasks inside the include, but should be restored afterwards.

[2016-11-02 14:14] abadger commented on #18303
Note since your error appears to have imported "ansible " okay but not "ansible.executor" I'd check to see if you have an ansible-1.x install somewhere that's being found rather than ansible-2.x.  2.x introduced executor and removed runner as the main engine inside of ansible.

[2016-11-02 14:21] henridf commented on #14509
Ran into the same, and got past it by setting the OS_FORCE_IPV4 env var (`export OS_FORCE_IPV4=true`).

This is documented at https://github.com/openstack/os-client-config.

[2016-11-02 14:25] #18297 closed, assigned to jctanner

[2016-11-02 14:29] gundalow opened #18308 "validate-modules: Ensure __init__.py (under modules) are empty"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

validate-modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

The `__init.__py` files under modules must be empty. They are not allowed to be used to share code between modules

Also this need adding to the list of checks in `test/sanity/validate-modules/README.rst`
##### STEPS TO REPRODUCE
##### EXPE

[2016-11-02 14:37] dmsimard commented on #13587
So I think this has somewhat been addressed, at least as far as roles are concerned, with the release of 2.2 with the new task: include_role.

You can do something like this, I guess:

[code]

[2016-11-02 14:50] martineg commented on #14413
An update of the docs and/or the support article to use the preferred full YAML format for tasks would also be nice. This works for me:

[code]

[2016-11-02 15:04] ktaragorn commented on #15321
I had this error, with `cron` module, and upgrading to ansible 2.2.0.0 fixed for me too!

[2016-11-02 15:32] joelthompson commented on #18223
I don't think that 13261b7 copmpletely fixes the issue. At the very least, it should be mentioned as a breaking change in the CHANGELOG. But, why is this requirement even necessary in the first place?

[2016-11-02 16:06] furiml commented on #14413
I wrote something else to test this. Instead of waiting for an host to be up, I want to wait for it to be down.

[code]

If I understood well, this will poll the port 22 of my target every second and will only continue if it is closed. I shutdown the machine myself, but Ansible is stuck for 5 minutes now :(

[2016-11-02 16:15] snsb-seifert commented on #14145
I had time to check this issue again. Ansible actively send the environment variable LC_ALL to the host in each task. Setting the LC_ALL variable to '' for the whole playbook, it works for me. LC_ALL is nowhere set on my machines for good reasons.
I tested with version 2.1.2.0. Can it be that the environment processing changed between 1.9 and 2.x?
Is there a ansible-global setting for this?

The p

[2016-11-02 16:24] jctanner commented on #11311
I think I have reproduced the described behavior with a simple version of the redis role ...

[code]

The handler is notified twice, but only runs once which is the expected behavior. Based on what I gather from the role's files, it wants to restart a particular redis instance. If the handler only fires once, it'll never restart all the expected instances. That means the role was written without c

[2016-11-02 16:24] #11311 closed, assigned to nobody

[2016-11-02 16:30] bcoca commented on #18301
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is a 'local shell' issue, you need to use single quotes when calling Ansible with shell globing otherwise your local shell will try to interpret it.

`ans

[2016-11-02 16:30] #18301 closed, assigned to nobody

[2016-11-02 16:42] abadger commented on #18281
I'm betting this is the issue: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/synchronize.py#L313

Looks like the fix would be:
- copy self._task.args early in the run() method.
- anytime we modify _task.args in the current code, modify the copy instead.
- When we invoke _execute_module(), pass it the copy of _task.args so that it uses that instead of falling back to self

[2016-11-02 16:45] bcoca commented on #18223
This is a bug, the restriction should only apply to the new feature that allows including directories.

[2016-11-02 16:52] brunosan commented on #18148
As @suryajak said, but using:
`pip install git+http://github.com/ansible/ansible.git@devel`

[2016-11-02 17:22] bcoca commented on #10412
working on this as a solution https://github.com/ansible/ansible-modules-core/pull/3694

[2016-11-02 18:51] jctanner opened #18310 "write code smell test for use of type(foo) =="
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

code smell tests

##### ANSIBLE VERSION

[code]

##### SUMMARY

per https://github.com/ansible/ansible-modules-extras/pull/2977 modules should use isinstance instead of "type(foo) ==" for comparison.

Need to write a script to check for the string and place in https://github.com/ansible/ansible/tree/devel/test/sanity/code-smell

[2016-11-02 18:54] gundalow commented on #18310
Was discussed in https://meetbot.fedoraproject.org/ansible-meeting/2016-11-02/new_module_review_meeting.2016-11-02-18.13.log.html

[2016-11-02 19:06] nfnty commented on #16740
Bisecting between `v2.1.0.0-1` and `v2.1.1.0-1` revealed that this issue is caused by commit 73a3a5839b7698a6b2d6ea459b0f65234729627b. A workaround is setting `static: false` on `include` tasks with `when` conditionals. E.g.:

[code]

[2016-11-02 19:40] ismaelfernandezscmspain commented on #10412
👍 Thanks!

[2016-11-02 19:43] edrozenberg opened #18311 "Certain formatting of 'failed_when' block not working as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Ansible core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Using sudo on localhost to the same local mac via local connection

##### OS / ENVIRONMENT
MacOS Sierra to the same

##### SUMMARY
Having issues with certain formatting approaches to a failed_when block

##### STEPS TO REPRODUCE

The following task works fine with the 'failed_when

[2016-11-02 19:51] sivel commented on #18311
Using "list" syntax is an implicit ANDing operation.  It looks like your original `failed_when` used an `or`.  So the list syntax is providing you with different logic than what you expected.

[2016-11-02 19:57] mircea-vutcovici commented on #18209
It seems that ansible is part of the distribution now and you do not need a ppa. See: https://launchpad.net/ubuntu/yakkety/+package/ansible
However it doesn't contain yet the latest ansible version (2.2)

[2016-11-02 20:37] geerlingguy commented on #15342
Ugh, still hitting this in many of my roles, which I upgraded to assume 2.0/early 2.1 behavior. No I'm having to run through many of them and add `static: no` to select includes to fix this (see examples below):
- https://github.com/weareinteractive/ansible-newrelic/issues/13
- https://github.com/geerlingguy/ansible-role-java/issues/26
- https://github.com/geerlingguy/ansible-role-postgresql/issue

[2016-11-02 20:42] tkinz27 opened #18312 "python3 support for ec2.py inventory script"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2.py inventory script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Python 3.5.2
Ansible installed with pip in a python3 -m venv.

##### OS / ENVIRONMENT

MacOS El Capitan

##### SUMMARY

Our ec2 inventory takes advantage of splitting tags into groups using a comma separated list. To do the split the ec2.py script runs `map(lambda x:

[2016-11-02 20:50] earlrob commented on #15996
@ThomasSteinbach @jctanner I'm seeing this issue in the current ansible release v2.2.0 on ubuntu 14.04 via apt.

[2016-11-02 21:17] ebmarquez opened #18314 "dellos9_command ansible hangs after reload command issued to remote device."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dellos9_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
Linux ansible 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
Create a task where the dellos9_command can issue a remote reload of the switch.  Ansible will never timeout after the switch h

[2016-11-02 21:19] #18314 closed, assigned to nobody

[2016-11-02 21:20] omgjlk opened #18315 "include inheritable directives are ignored for tasks beyond the first task in an included playbook"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Playbook includes

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS X, Ansible installed in a virtualenv.

##### SUMMARY

I have a simple playbook that exists only to include other playbooks. Some of the includes have conditionals, that rely on a value set in a group_var. In 2.2, what I'm seeing is that the playbo

[2016-11-02 21:26] jimi-c commented on #18315
Appears related to #17810 and #18206 as well.

[2016-11-02 21:29] jimi-c commented on #16757
@r3m0t thanks for checking, we'll go ahead and close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for

[2016-11-02 21:29] #16757 closed, assigned to nobody

[2016-11-02 21:44] edrozenberg commented on #18311
Makes sense if AND is what a list is doing. I was led to believe OR based on Michael DeHaan's (Ansible founder) note here:

https://groups.google.com/forum/#!topic/ansible-project/cIaQTmY3ZLE

[code]

[2016-11-02 21:47] edrozenberg commented on #18311
I can't find any Ansible official documentation saying list syntax = implicit AND. If it's not documented somewhere, would be helpful to have it documented because it's not obvious.

[2016-11-02 21:48] omgjlk commented on #18315
Bits to help reproduce.

hosts:

[code]

top.yaml:

[code]

busted.yaml:

[code]

Execution:
`ansible-playbook -i hosts top.yaml -vv`

Output:

[code]

[2016-11-02 21:52] edrozenberg commented on #18311
For now I'm going to use the single line broken up into multiple lines syntax, since my goal was to get the line to fit in 80 columns:

[code]

[2016-11-02 22:27] omgjlk opened #18318 "playbook include conditional short circuit can false positive skip playbooks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Playbook includes with conditionals

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS X

##### SUMMARY

There is code in Ansible to short-circuit playbook includes if the conditional attached to the include can be equated to False.

https://github.com/ansible/ansible/blob/stable-2.2/lib/ansible/playbook/playbook_i

[2016-11-02 23:21] havlasme commented on #10834
@jctanner I can't replicate error using your test case nor with my test, using latest versions of ansible (tried 1.9.6@debian8 and 2.1.2@centos7).

However there is still something odd, after copying content to file I believe that hardlink is broken because running

[code]

displays different inode number for `/tmp/ahardlink`.

I think this might be correct behavior because I found that there is a

[2016-11-02 23:28] jmehnle opened #18319 "Symlinked executable vault password files should be invoked by their original path, not real path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`--vault-password-file`

##### ANSIBLE VERSION
[code]
(but also occurs in Ansible 2)

##### DESCRIPTION
When specifying an executable vault password file, Ansible invokes it by its "real" path, not by the path as specified. This matters if what's passed is actually a *symlink* to an executable, and the executable uses the path by which it is inv

[2016-11-02 23:29] jmehnle commented on #18319
I have a pull request coming up for this.

[2016-11-02 23:36] edrozenberg opened #18321 "Unquoted three digit file mode (mode=xxx) sets strange mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core module 'file' (and maybe others are affected)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOS Sierra to MacOS Sierra (same machine, local connection)

##### SUMMARY
Setting a file module mode using for example 'mode=755' sets a very different mode

##### STEPS TO REPRODUCE
[code]

Weirdly this gives /usr/lo

[2016-11-03 01:00] nitzmahone commented on #17990
pywinrm 0.2.1 is a red herring too then, because it only included a one-line exception handler fix for Kerberos delegation over 0.2.0.

[2016-11-03 01:01] nitzmahone commented on #17990
Ansible 2.2.0 also made zero changes to the winrm connection plugin and its interface with pywinrm over 2.1. There's _something_ else that got changed on the fly.

[2016-11-03 01:08] nitzmahone commented on #17990
This is almost certainly an OS packaging issue (which is outside Ansible's hands, since we have no control over OS packaging)- if you're seeing this error, you're using an old broken version of requests that does not match pywinrm's setup.py requirements. It's been fixed since requests 2.10, which is why that's our minimum version.

[2016-11-03 01:08] #17990 closed, assigned to nitzmahone

[2016-11-03 01:16] bcoca commented on #18223
docs were missing for new features, merged now and backported to 2.2 https://github.com/ansible/ansible-modules-core/pull/4609, testing bugfix to revert restriction when specifying a file.

[2016-11-03 01:29] lukasz-zaroda opened #18323 "Modules don't see options if they come from the variable as name and value pairs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

##### SUMMARY

The problem is that using string variables for multiple options in modules doesn't work, which is kind of unexpected. In `mysql_db: "{{some_options}}"` the "some_options" are being ignored entirely (the variable is a string), but `m

[2016-11-03 01:46] spikedrba commented on #15297
Hi,

I'm running ansible 2.1.2.0 on Ubuntu xenial 16.04 and having the same issue , synchronize fails with a _sudo: no tty present and no askpass program specified_ error.

The same task works against /tmp/ with no become/sudo. It also works if I set the become_user as NOPASSWD in sudoers.

I'm unclear why this breaks, many other modules works correctly with sudo and password provided with become_

[2016-11-03 01:46] sivel commented on #18311
This is largely documented already in the Playbooks>Conditionals documentation at http://docs.ansible.com/ansible/playbooks_conditionals.html#the-when-statement

I say "largely" because it doesn't mention `failed_when` or `changed_when` there, only `when`, although they are processed in the same manner.  The `failed_when` and `changed_when` documentation does not currently specify the possible use

[2016-11-03 01:49] edrozenberg commented on #18311
Thanks for that, it's one of the more subtle corners of the Ansible syntax.

[2016-11-03 01:49] #18311 closed, assigned to nobody

[2016-11-03 06:25] skimj opened #18325 "hardcoded $HOME/.ansible/cp; unexpected ControlPath behavior"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
plugins/connection/ssh.py
constants.py
examples/ansible.cfg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ssh_args
control_path

##### OS / ENVIRONMENT
N/A

##### SUMMARY
1. When using the `control_path` variable, the directory portion of the ControlPath option is hard-coded to `$HOME/.ansible/cp` usi

[2016-11-03 07:03] naslanidis commented on #18315
I am seeing a similar thing in 2.2

I have an include as follows:
- { include: create_dhcp_options.yml, when: stage != "delete"}
- { include: delete_dhcp_options.yml, when: stage == "delete" }

The delete_dhcp_options.yml is being included when stage != delete which for me is quite dangerous. This definitely doesn't happen in earlier versions.

[2016-11-03 07:20] kravvcu commented on #8603
+1

Not having this prevents having a nice, clean variable hierarchy, since we have to do it the old-fashioned prefixed way. Consider:

[code]

vs

[code]

Although this is just an example not a real world case of (at least for me), it presents what the problem is. IMO, the latter definition is just nasty. The former applies some kind of DRY'ing out.

[2016-11-03 07:52] robinro opened #18326 "Setup fails with "TimeoutError" on machines with floppy drive"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lib/ansible/module_utils/facts.py
setup module

##### ANSIBLE VERSION
[code]
Also devel

##### CONFIGURATION
default

##### OS / ENVIRONMENT
OpenSuSE 42.1 Leap

##### SUMMARY
Running the setup module of ansible 2.2.0.0 on a machine with a floppy drive fails with a timeout.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Normal setup r

[2016-11-03 08:06] robinro commented on #18326
Possible solutions:
- increase gather timeout (this is also the shortterm workaround)
- ignore floppy disks when getting uuids, see #18327

[2016-11-03 08:18] robinro commented on #10779
I stumbled over a follow-up to this, when I ran into timeouts on old machines, where the floppy drive took 12 seconds to answer lsblk.
The fix there was to add `--exclude 2` to lsblk:

[code]

See details see #18326 and #18327

[2016-11-03 08:31] robinro commented on #18326
@ansibot @gregdek
I'm pretty sure this is the right repo, since the fix is a PR in this repo. Please reopen.
bot broken

[2016-11-03 10:05] Shaps commented on #18321
hi @edrozenberg, I don't think that's a bug. It is well explained in the [docs](https://docs.ansible.com/ansible/file_module.html) ( Using `file` as example, this will be true for all the other modules providing `mode` ) you should add the '0' at the beginning. This is because ( iirc ) when you don't quote the value will be converted from decimal to octal ( hence you will get 1362 in octal ).

[2016-11-03 10:13] chrisdutz commented on #10902
Having the same problem ...

[2016-11-03 10:30] mootezbessifi opened #18331 "using lineinfile or replace module to set a line ends with backslash"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

##### STEPS TO REPRODUCE

i am trying to modify the following docker.service file:
[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=network.target rhel-push-plugin.socket
Wants=docker-storage-setu

[2016-11-03 11:03] DanyC97 commented on #10515
@bcoca will be nice if the priority will be increased (unfortunately i'm not in a position (yet) to contribute, still learning about it)

[2016-11-03 11:27] linlinas opened #18333 "Git module does not work via http proxy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- git module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
 Suse 12

##### SUMMARY

Git module does not work via http proxy

##### STEPS TO REPRODUCE

Connection which is initialized on the remote host, does not include proxy and is going straight to destination IP vi default gateway.

Example task
[code]
Ended wi

[2016-11-03 11:48] #18333 closed, assigned to nobody

[2016-11-03 12:21] kbechler commented on #8603
+1

[2016-11-03 13:33] abadger commented on #18231
Several things to look into here:
-  if someone does "python setup.py sdist" does a tarball get created?
  Does it contain all the files that are in that source tree?
  *if not, then try looking for problems in MANIFEST.in. (I see an
  include-recursive for the data directory already so I don't think this is
  the problem)
- if you add  `__init__.py` files to the data directories (all of
  them),

[2016-11-03 13:46] shanemcd commented on #18231
@abadger I've tried your suggestion of creating `__init__.py` in all subdirectories of `lib/ansible/galaxy`, but the problem persists.

`'galaxy/data/*'` in this line seems like it may be at least part of the problem: https://github.com/ansible/ansible/blob/devel/setup.py#L29

[2016-11-03 13:55] abadger commented on #18231
Yeah.. maybe older versions of setuptools can't handle directories in that
data structure.  Does making it more explicit about what files in those
directories to include work?  Or specifying the directory name without the
wildcard to match all files in the directory?

[2016-11-03 14:06] abadger commented on #18231
Yeah, that seems to be the case:

https://github.com/pypa/setuptools/issues/261

Fixed in setuptools 21.2.1

[2016-11-03 14:14] dmsimard opened #18334 "The include_role task should be seen as an actual task by callbacks"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
callbacks for include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Not relevant

##### SUMMARY
The ``include`` task, when set to ``static: no`` is seen by the callbacks with the hook ``v2_playbook_on_include``.

There is no equivalent for the ``include_role`` task. The role's tasks just gets run

[2016-11-03 14:30] #18223 closed, assigned to bcoca

[2016-11-03 14:32] joelthompson commented on #18223
Thanks @bcoca and @abadger!

[2016-11-03 14:44] ric79 opened #18335 "CISCO FTP"
Hello,
In ansible 2.2.0.0 I need to exec a copy command on Cisco 7609

[code]

I get:
[code]

What's wrong?
Riccardo

[2016-11-03 14:47] aarlint commented on #12086
+1 on forks.  Please! make it part of loop_control

[2016-11-03 14:50] jctanner commented on #18334
@dmsimard sorry, the bot doesn't know how to deal with this module correctly.

[2016-11-03 14:53] sivel commented on #18321
This is do to how python and pyyaml handle octal and decimal modes.

The equivalents are:

#### Proper Octal

[code]

#### Octal represented as a string

[code]

or

[code]

#### Mode as a decimal

[code]

The reason that `mode=755` produces the same results as `mode: "755"` is due to the fact sure that `key=value` ansible uses shlex to parse the values, effectively casting all values to strings.

[2016-11-03 14:53] #18321 closed, assigned to nobody

[2016-11-03 14:53] jean-christophe-manciot opened #18336 "Cannot loop over hashes using with_dict"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
with_dict
##### ANSIBLE VERSION
[code]
##### CONFIGURATION
inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/Roles/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
- host: Ubunt

[2016-11-03 14:54] Bedotech opened #18337 "Block issue on evaluating undefined variable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
it appears on `block` feature.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No custom config

##### OS / ENVIRONMENT
Ubuntu 16.04, x86_64, Python 2.7.12

##### SUMMARY
There is no way to execute a block of task if in the subtask use a loop over a undeclared variable.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I don't know if

[2016-11-03 14:55] sivel commented on #18334
bot_skip

[2016-11-03 14:56] jean-christophe-manciot commented on #18202
It does not work, cf. [bug report](https://github.com/ansible/ansible/issues/18336).

[2016-11-03 15:08] edrozenberg commented on #18321
Very useful explanation thanks! I didn't previously understand why mode: 755 vs. mode=755 were giving different results.

[2016-11-03 15:41] pcastellazzi opened #18338 "include directive does not respect become directive from outer block"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I am running from macSierra 10.12.1 and Ubuntu 14.04 targeting CentOS 7, Amazon Linux 2016.09, and Ubuntu 14.04

##### SUMMARY

include directive does not respect become directive from outer block

##### STEPS TO REPRODUCE

1. Create an inventory file

[2016-11-03 16:19] jctanner commented on #18326
@robinro it triggered on the "setup" module keyword, which is technically a core module.

[2016-11-03 16:21] laurentribot opened #18341 "include_role doesn't work with with_items and multi host vars"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Master: Ubuntu 16.04.2
Managed: Rhel 6.6

##### SUMMARY
include_role doesn't work with 'with_items' and multi host vars

##### STEPS TO REPRODUCE
Playbook
[code]
roles/role_test/tasks/main.yml
[code]

hosts:
[code]

host_vars/host1/main.yml
[code]
host_va

[2016-11-03 16:25] cdelgehier commented on #14358
+1

[2016-11-03 16:37] robinro commented on #18326
There is also an alternative fix, that reverts some of #17036 and only runs lsblk on volumes listed in /etc/mtab.

[2016-11-03 16:52] shanemcd commented on #18231
@abadger Thanks for the link. That was it. It works when changing that to `'galaxy/data/*.*'`. The following files don't have extensions and wont be matched:

[code]

I'm not familiar with what's going on here, so I'm not sure what the implication(s) of this approach would be. Suggestions for getting this to work with older versions of setuptools?

[2016-11-03 16:54] jhriv commented on #18223
What about vaulted files?

[2016-11-03 16:58] davidak commented on #7475
I got the same error:

[code]

[code]

from https://github.com/antoiner77/caddy-ansible/blob/master/tasks/main.yml#L5

`caddy_user` is www-data and PHP-FPM is running with it.

[2016-11-03 17:52] #18326 closed, assigned to nobody

[2016-11-03 18:24] benapetr commented on #18188
This really isn't so easy, I might try to do what you want but keep in mind that is hundreds of thousands of debug lines out there. We are managing about 2000 servers with ansible and this can be easily reproduced only when I start it on all of them.

On other hand, using "retries" option in config file, and setting it to high value, fixed this as workaround, with -vv I am now getting lot of

ssh_

[2016-11-03 18:46] #18312 closed, assigned to nobody

[2016-11-03 19:45] ShijunK commented on #9065
One more victim here.

Anyone figure out a good solution for the following scenario?

Let's say I have a list of web applications (app-a, app-b, app-c). And there are 4 hosts in 2 DC for DR/Load-balancing. I want to use ansible to simplify deployment.

My first instinct is to use group vars, obviously I failed, but what alternative Ansible provides?

inventory

[code]

groups_vars
app-a

[code]

a

[2016-11-03 19:52] hanej commented on #9065
This is what I do to get around it

[code]

[2016-11-03 20:05] yogeshdarji commented on #16354
@Trozz : I am facing same issue: I run below command:

`ansible-playbook ssh-addkey.yml -vvv --ask-pass`

My ssh-addkey.yml contains:

[code]

I am getting below error:

Using module file /usr/lib/python2.7/dist-packages/ansible/modules/core/system/authorized_key.py
<10.77.188.218> ESTABLISH SSH CONNECTION FOR USER: darjiyo
<10.77.188.218> SSH: EXEC sshpass -d12 ssh -C -o ControlMaster=auto -o Con

[2016-11-03 20:26] Trozz commented on #16354
@yogeshdarji99 the error you are receiving is not due to connection error but instead due to the fact that the user `darjiyo` requires a password to sudo correctly.

[2016-11-03 20:30] yogeshdarji commented on #16354
@Trozz : yes so i am entering password, still the same error? What should i do?

[2016-11-03 21:37] sbrueseke opened #18346 "include ignores when statement when var inside inlcuded yml not defined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
Debian 8 64bit

##### SUMMARY
when using include with when statement and inside the included yml is a var used which is not defined the task fails even if when statement of the include did not match.
This was working in ansible 2.0.0.2

##### STEPS TO REPRODU

[2016-11-03 22:19] agaffney commented on #18346
This might be a result of the change in 2.1 to make the default include behavior "static" like it was in 1.9. Does adding `static: no` to the include task prevent the error?

Additionally, you should probably just add a `| default([])` after the `_itemvar` in the failing item. That will prevent the undefined variable error either way.

[2016-11-03 22:19] #18325 closed, assigned to nobody

[2016-11-03 22:37] dbrgn commented on #17495
Looks like ansible 2.2.0 is out, which fixes this issue. Right?

[2016-11-03 22:41] agaffney commented on #18346
This (using an undefined var in a `with_items`) generated a deprecation warning starting in 2.0 and is now a fatal error starting in 2.2. Add the `| default([])`, and you should be fine.

[2016-11-03 22:54] lukasged commented on #17495
@dbrgn Right! That's great, although switching to ansible 2.2.0 gave me another problem. It seems to break one popular ansible galaxy role for [mysql](https://github.com/geerlingguy/ansible-role-mysql/issues/175) . So be careful if you use that role.

[2016-11-03 22:59] dbrgn commented on #17495
Yeah, and 2.2 seems to break `docker_service` too :face_with_head_bandage: https://github.com/ansible/ansible-modules-core/pull/5159

[2016-11-03 23:02] biroeng commented on #4320
@vijayranker  any luck , I am facing same problem ..

[2016-11-03 23:53] julian1 opened #18353 "Misleading documentation,"
See https://github.com/ansible/ansible/issues/18133#issuecomment-256786789

[2016-11-04 00:46] #18231 closed, assigned to chouseknecht

[2016-11-04 01:03] dene14 commented on #18346
@agaffney confirm that `| default([])` helps. However don't you agree that if task file conditionally SHOULD NOT be included into play ansible SHOULD NOT evaluate anything from that task file?

[2016-11-04 01:30] naslanidis commented on #18346
@agaffney

You might be on to something here. I was having a similar issues with includes conditional on a variable that should've been skipped and changing them to static: no explicitly seems to have restored the previous behaviour:

e.g.

---
- { include: setup_instances.yml, static: no, when: stage != "delete"}
- { include: terminate_instances.yml, static: no, when: stage == "delete" }

[2016-11-04 02:56] privateip commented on #18335
@ric79 the copy command needs to be executed in exec mode not config mode if i recall correctly.  Use `ios_command`

[2016-11-04 03:35] #14991 closed, assigned to nobody

[2016-11-04 04:54] amenonsen commented on #18336
I can't run your example (I don't even know what `ios_facts` is, and
it surely wouldn't return the same results for me), so I had to come up
with a self-contained test case.

[code]

This works fine.

`item.value` is a list, so `item.value.host` can't possibly work.
`item.value.0.host` works fine.

Just use `ansible_net_neighbors` directly, since the module is
returning it as a fact.

`item` is a

[2016-11-04 04:55] #18336 closed, assigned to nobody

[2016-11-04 06:16] jaccoh commented on #17495
Right

[2016-11-04 06:35] sunisunil007 opened #18355 "Ansible Vault depcryption failing with ansible 2.2"
- Bug Report
##### COMPONENT NAME

Ansible Version: ansible 2.2.0.0
Cofiguration: ansible.cfg(in present directory)

OS: Ubuntu 14.04 LTS

ansible-playbook not able to decrypt the files which encrypted with ansible 2.1.0.0 & below.

Steps to reproduce:

1. Install ansible 2.1.0.0 or below
2. Encrypt an inventory file
3. Add vault_password_file in ansible.cfg
4. Run, ansible-playbook -i inventory/q

[2016-11-04 06:41] ric79 commented on #18335
Thanks. That is true

[2016-11-04 06:41] #18335 closed, assigned to nobody

[2016-11-04 08:12] #17285 closed, assigned to nobody

[2016-11-04 08:17] #13097 closed, assigned to nobody

[2016-11-04 08:39] sbrueseke commented on #18346
static: no fixed it. Is this documented anywhere?
But my understanding of include with when statement is different than the default behavior in ansibble 2.2. I am with @dene14 here, if something is not matching why evaluate it in the first place.

We have the following use case for our role mysql-server:
main.yml

[code]

config-mysql.yml

[code]

ansible is failing because "_mysql_version_query"

[2016-11-04 09:26] turb commented on #15103
Note that the workaround proposed in #12170 does not seem to work, blocking us from migrating to Ansible 2.x.

[2016-11-04 10:01] Denis-Mak opened #18356 "If you specify localhost and 127.0.0.1 in different groups, variable not passed from one task to another."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Task

##### ANSIBLE VERSION
2.2.0.0

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
CentOS  3.10.0-327.36.1.el7.x86_64

##### SUMMARY
If you specify localhost and 127.0.0.1 in different groups, variable not passed from one task to another.

##### STEPS TO REPRODUCE
File: /src/ansible-bug/environments/vars/hosts
[code]

File: /src/ansible-bu

[2016-11-04 10:53] ludwig-gramberg commented on #18355
I have a similar problem:

whenever i encrypt the inventory file ansible fails to run (version 2.2 rc4)

[2016-11-04 10:53] ludwig-gramberg commented on #18355
I have a similar problem:

whenever i encrypt the inventory file ansible fails to run (version 2.2 rc4)

[2016-11-04 11:04] vmindru commented on #9196
this has to be somehow fixed, enforcing one to use any of the above methods is not cool or this has to be explicitly  mentioned in the docs. right now the docs are ambiguous asking one to use a leading 0  ....

[2016-11-04 11:23] SteveTalbot opened #18357 "Unexpected exception when using include statement in handler"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Handlers
- Include statement

##### ANSIBLE VERSION

Problem occurs with:
[code]

Problem does not occur if I roll back to:
[code]

##### CONFIGURATION

Using ansible.cfg as supplied by package maintainer of http://ppa.launchpad.net/ansible/ansible/ubuntu

##### OS / ENVIRONMENT

- Running from Ubuntu 16.04
- Used as a Vagrant provisioner
-

[2016-11-04 11:30] fabala commented on #17878
Hello,

Will this bug be fixed soon?
Thanks!

For information, I encounter the same issue with new Ansible 2.2 "include_role" task.
The fix provided by redshark1802 works also in this case.

[2016-11-04 11:44] mahesh-kore commented on #9260
Any update/fix for this..??

[2016-11-04 12:07] jarosite commented on #9260
I faced with same issue, but now I think it is not right way to use ansible for managing /etc/hosts or  for service discovery in large scale setup. By the way, workaround still works for me.

[2016-11-04 12:28] byteshiva opened #18358 "unable to assign roles path using variables"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-11-04 12:51] byteshiva commented on #18358
The only I was able  do it is by creating a ansible.cfg file in the current directory and setting roles_path

[code]

[2016-11-04 12:56] gvilarino commented on #17495
It's honestly awe-striking how fragile ansible is an an environment and the amount of effort it demands users for keeping basic functionalities working with just a minor upgrade. Remarkable.

[2016-11-04 12:57] fernandezcuesta opened #18359 "ansible_host cannot be overriden"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
variable precedence

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
verbatim `ansible.cfg` file

##### OS / ENVIRONMENT
- Running from: Linux (Arch)
- Target: Linux (Debian 8 in Azure) with static and dynamic inventory (`azure_rm.py`)

##### SUMMARY
There's no way to override `ansible_host` variable if different from `null`.
When working with

[2016-11-04 13:15] sunisunil007 commented on #18355
Issue Type: Bug Report

@ansibot , let me know what more information you need about the issue?

[2016-11-04 13:25] mahesh-kore commented on #9260
what is the workaround you have tried.?

[2016-11-04 13:28] byteshiva commented on #18358
also noted that it doesn't set vars_files using variables that is  if I get the values from group_vars inventory.

[2016-11-04 14:04] cholpona opened #18360 "Special characters errors with registered vars"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
variables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
We have collected  x number of salts generated by Wordpress Api to variable wp_salt, and wanted to use it later in script. But because sometimes salt sent by Wordpress Api can contain special charachters like {{ or {%. when trying to use variabl

[2016-11-04 14:22] jean-christophe-manciot commented on #18336
You have changed the use case by adding a "-" before 'host' and this changes the way the element can be accessed.. If I remove it, your playbook does not work anymore, unless you remove the '.0' to access both fields.
I cannot see right now why the **first method does not function as expected** on the facts returned by the network module [ios_facts](http://docs.ansible.com/ansible/ios_facts_module

[2016-11-04 14:27] jscheible commented on #16857
I have also encountered this problem.  I have several different "environments" which must be maintained separately.  Each is in it's own directory.  My M.O. was to be in that directory, and run playbooks from there:

[/opt/ansible/inv/TEST1] $ ansible-playbook ../playbooks/create_instances.yml

After creating the instances, I tried meta: refresh_inventory.  It told me that /opt/ansible/playbooks/e

[2016-11-04 14:31] ShijunK commented on #9065
@hanej Thanks, that certainly points to a direction I wasn't aware of.
However, I am now more incline to use roles for code reuse, and declare variables directly in playbook. Even though that means I will have one playbook per app, but by declare variable right next to the role which will use it, make the entire config much easier to understand.

[2016-11-04 14:33] amenonsen commented on #18336
In your output, the value of the key "Gi0/1" is a list that contains a
single dict. That is exactly what I have written in YAML. So I believe
this is a misunderstanding on your part—the examples are equivalent.

Those are not "undesirable characters". The json_query expression is
returning a list. Your query essentially means "give me the .host of
every item in this list", so it returns a list; th

[2016-11-04 14:42] sgreco2002 opened #18361 "vpnc dies immediately with command ansible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux version 2.6.32-431.el6.x86_64

##### SUMMARY

i'm launching "vpnc" binaries in a playbook with "command" module.
But the vpnc immediately dies with this log message (taken from /var/log/messages file):
[code]
even if ansible stdout gives a:
[code]
indeed

[2016-11-04 14:56] bcoca commented on #18361
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The expect/command/shell modules are not designed to run backgrounded apps, you should setup a service, otherwise you'll hit race conditions like this one in w

[2016-11-04 14:56] #18361 closed, assigned to nobody

[2016-11-04 15:39] bcoca commented on #18356
I cannot reproduce this, i always get the following:

[code]

[2016-11-04 15:41] bcoca commented on #17878
dupe of #18315

[2016-11-04 15:41] #17878 closed, assigned to jimi-c

[2016-11-04 15:42] bcoca commented on #18346
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As explained above, this is an issue with static vs dynamic includes, inheritance and that `when` executes inside the `with` loops.

In the future, this might

[2016-11-04 15:42] #18346 closed, assigned to nobody

[2016-11-04 15:43] bcoca commented on #18338
might be related with  #18315

[2016-11-04 15:43] bcoca commented on #18315
might be related to #18299

[2016-11-04 15:48] sbrueseke commented on #18346
Hi,

can you please explain why ansible is validating something which will be skipped because of conditional false? Can you please refer to documentation about static and dynamic inlcudes? I want to understand this. Thank you very much!

[2016-11-04 16:05] bcoca commented on #18358
Note that config and play do not have access to group vars as they must execute globally and cannot depend on per host basis.

[2016-11-04 16:20] yogeshdarji commented on #16354
@Trozz : Will you be able to help? Thanks

[2016-11-04 16:23] turb commented on #15103
After some tests, it seems it only happens for me when a given host is skipped. `set_fact` is skipped, but `with_items` is still evaluated for the next task.

https://gist.github.com/turb/278dc6378e9045da1fe5ad278c7bed01

[2016-11-04 16:28] yogeshdarji commented on #15706
+1

[2016-11-04 16:36] jean-christophe-manciot commented on #18336
Thanks, I stand corrected now for the first method.
For the 2nd one, the correct way is rather:

[code]

[2016-11-04 16:37] amenonsen commented on #18336
Glad you got it working.

[2016-11-04 16:40] bcoca commented on #12170
Considering the way 'serial' and plays work, this is not really something we see adding to Ansible. You have several ways of implementing something similar with existing functionality, many others have been discussed above and elsewhere, so I'm only going to detail the 2 that cover most cases.

* Use an intermediate play (allows for many diff serials, but requires previous tasks to end on all host

[2016-11-04 16:40] #12170 closed, assigned to nobody

[2016-11-04 16:47] bcoca commented on #15103
So i can reproduce this on 2.0.1 but it seems to have been working since 2.0.2  (I'm not going to track down exact commit that fixed it).

I also checked 2.1.3 and 2.2, so I'm going to close this as 'fixed'.

[2016-11-04 16:47] #15103 closed, assigned to nobody

[2016-11-04 16:50] upbeta01 commented on #18360
This is the closest ticket opened for my case too.

[code]

here is my `roles/ansible-vpc-24h/tasks/main.yml`

[code]

Running the playbook on a raw format:

[code]

Verbose log shows the playbook is executed well but not for the `debug` line:

[code]

[2016-11-04 16:57] bcoca commented on #15103
@turb your issue is unrelated, `when` does not avoid the evaluation of `with` as it runs PER item in the loop, as documented  http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals

[2016-11-04 17:02] erikmouw opened #18364 "Anisble 2.2.0.0 fails to decrypt an encrypted inventory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Ansible no longer works with encrypted inventory files. The inventory is encrypted with ansible-vault. This used to work just fine with Ansible 2.1.2.0. Ansible is installed using the Ansible PPA repo for Ubuntu Xenial.

##

[2016-11-04 17:04] turb commented on #15103
@bcoca it did work in 1.9

By all means the `when: false` is just here to simulate _the case when one host is skipped_. I would have supposed the whole task to be skipped for this host without be evaluated in such case, as in 1.9.

[2016-11-04 17:09] erikmouw commented on #18364
Note this bug affects both ansible and ansible-playbook.

The inventory (and all other encrypted files) were encrypted using the ansible-vault from Ansible 2.1.2.0. Rekeying the inventory using ansible-vault from 2.2.0.0 doesn't make any difference, ansible and ansible-playbook still can't decrypt the playbook.

[2016-11-04 17:16] bcoca commented on #15103
@turb it did AND did not 'work' in 1.9, 1.9 was just ignoring the undefined error.

In 2.0 we 'fixed that' and showed the error, but since it broke many people's playbook we changed it from error to a deprecation message. As is our normal procedure with deprecations, we removed it and it is an error again in 2.2.

[2016-11-04 17:19] netvisao commented on #7732
:+1:  Occurs on ansible 2.1.2.0

[code]

[2016-11-04 17:20] bcoca commented on #18364
dupe of #18355

[2016-11-04 17:20] #18364 closed, assigned to nobody

[2016-11-04 17:24] turb commented on #15103
@bcoca ok, will proceed by the doc, thanks.

[2016-11-04 17:28] erikmouw commented on #18364
This has been sitting in my browser all day, I finally got time to submit it and didn't see the other report. If you still need more information to reproduce the issue, feel free to reopen this one.

[2016-11-04 17:33] ak5 commented on #16391
I am running into this for the first time _after_ upgrading to 2.2 via ubuntu ppa :(

I am trying to copy a saved docker image compressed with bz2 to a remote host in a role included in a playbook.

[code]

[2016-11-04 17:34] #17905 closed, assigned to nobody

[2016-11-04 17:47] Idanatcox commented on #15706
+1

[2016-11-04 17:52] ferrants commented on #16391
See if this change fixes it for you guys: https://github.com/ansible/ansible/pull/18365

[2016-11-04 17:59] Denis-Mak commented on #18356
[var_test.tar.gz](https://github.com/ansible/ansible/files/572302/var_test.tar.gz)
I have attached src files.
Have you created all files exactly as in example?
I have just reproduced this bug on another VM created from scratch with 14.04.1-Ubuntu SMP
Just set 'test-vars-host' to IP address instead of 'localhost'

[2016-11-04 18:13] deepshikhagandhi commented on #963
+1

[2016-11-04 18:45] gundalow opened #18367 "validate-modules: Run on py3"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

validate-modules
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Currently `validate-modules` doesn't run on python 3, that needs fixing

There's code in there that intercepts stdout/stderr. It's broken on py3. So the program fails silently w/ no errors when you hit that.

Once the script works on py2 &

[2016-11-04 19:03] gundalow commented on #16864
Suggestion from @abadger

[2016-11-04 19:04] SteveTalbot opened #18369 "INI lookup fails if default is specified"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- lookup('ini', ...)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- Running from Ubuntu 16.04
- Managing Ubuntu 16.04

##### SUMMARY

If you specify the `default` field in an INI lookup, the lookup always fails with the error:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

This is the output f

[2016-11-04 19:06] gundalow commented on #16864
We should rename the image, as it's will be doing a lot more than just http

[2016-11-04 19:29] bcoca commented on #16857
can you confirm the PR above fixes the issue?

[2016-11-04 19:49] bcoca commented on #18346
http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals
http://docs.ansible.com/ansible/include_module.html

The issue is that with both static includes and when/with interactions Ansible does NOT know if it will skip the task.

[2016-11-04 19:55] jimi-c commented on #15117
@cfoutstd did you read the above? Please be sure you're setting the correct options in your ansible.cfg if not using the `static` option in your plays.

[2016-11-04 19:56] jimi-c commented on #15117
As this appears to be resolved (though it may require some user changes in the ansible.cfg or plays), we're going to close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and

[2016-11-04 19:56] #15117 closed, assigned to jimi-c

[2016-11-04 20:00] jimi-c commented on #14146
@MatthewBooth can you please provide an example, or create/reference another issue showing how it's broken?

[2016-11-04 20:09] abadger commented on #16391
This should be fixed in the devel and stable-2.2 branches via #18368

In the stable-2.1 branch found out that the original fix wasn't backported.  Cherry-picked adea1f2b80d806d94ca1bdb2d06f2df077feb948 to fix it there.

That means that the fix will show up in 2.3.0, 2.2.1, and, if we make another 2.1 release, 2.1.4.

Chronologically, 2.2.1 is most likely the next release that we'll make.

And just

[2016-11-04 20:18] alikins commented on #18355
git bisect points to 23305540b411eeb0edf44d7190ba2675a224cd24 as introducing this, and testing confirms. That commit removes the use of dataloader to load inventory which also skips decrypting it.

looking to see if there is a reasonable way to do both...

[2016-11-04 21:09] alvaroaleman commented on #16857
Yup, fixes the issue.

[2016-11-04 21:11] #16857 closed, assigned to bcoca

[2016-11-04 21:14] andyceo commented on #14686
Well, nice to see fix in the `larsks/ansible` repository! But guys, how about fix this in upstream?

[2016-11-04 21:24] bcoca commented on #16857
The fix will make 2.3 and probably a possible 2.2.1 and/or 2.1.4 if we decide to cut those.

[2016-11-04 23:11] ilearnedthisthehardway commented on #18356
For whatever it is worth, I have reproduced this behavior with Ansible version 2.1.2.0 on a Fedora system:

[code]

[2016-11-05 00:19] ruissalo commented on #18124
I think this also affects version 2.2. At least in my case it tries to convert the variable name into a list, so it fails to find the first character of the variable as a valid variable name

[2016-11-05 04:04] julian1 commented on #18353
@ansibot, all details were provided. please follow the link.

[2016-11-05 08:21] #9154 closed, assigned to nobody

[2016-11-05 08:21] #8129 closed, assigned to nobody

[2016-11-05 09:41] ypid opened #18375 "Check min_ansible_version for roles and don’t run the role if to old"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Ansible role min_ansible_version checking

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian stable

##### SUMMARY

Role authors can currently specify which Ansible version the role requires to run using `galaxy_info.min_ansible_version`.
It is pointless to attempt to run a role using a older Ansible version as

[2016-11-05 12:17] ypid commented on #18375
I wrote a small Python script to keep the min version in roles up-to-date: https://github.com/ypid/ypid-ansible-common/blob/master/bin/ansible-update-min-version

That might sound counterintuitive at first because there is no reason to update the min version automatically, right? Well, depending on the goals of the role you are writing, the statements you make and how committed you are to security

[2016-11-05 13:22] Tahvok commented on #18124
@ruissalo that's because it's not fixed yet.

@bcoca could you add the affects 2.2 label to it?

[2016-11-05 14:02] ypid commented on #4357
@martbhell I had the same idea. Tracked in https://github.com/ansible/ansible/issues/18375

[2016-11-05 14:48] srgvg commented on #18375
In the same way, it might be handy to have a max version?

[2016-11-05 14:57] luto commented on #17136
re: "affects_2.1"

[code]

This sample works using 2.1.3, but does not using 2.2.0 on my machine.

2.1.3

[code]

2.2.0

[code]

[2016-11-05 17:08] alvaroaleman opened #18378 "Play-Level environment doesn't get propagated to handlers"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Ansible core

##### ANSIBLE VERSION

[code]

##### SUMMARY
Environment set on play level is not present in the handlers of that play, only in the task

##### STEPS TO REPRODUCE

Execute the following playbook:

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2016-11-05 17:12] alvaroaleman commented on #18378
The issue is not present in 2.1.3.0

[2016-11-05 22:32] sohansc commented on #14920
tried this and not working... am i missing something

ansible-playbook --private-key aws_key.pem -u ubuntu -e --ssh-extra-args='-o StrictHostKeyChecking=no  -o UserKnownHostsFile=/dev/null  -o ProxyCommand="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p user@host.com"' -i hosts.txt ./ansible/docker.yml

still asking for knowhost

[2016-11-06 00:00] Marian0 commented on #15508
I have the same error. If I use in my host file the public DNS of Amazon Ec2 I got:

[code]

If I change the DNS by an IP works like a charm.

[2016-11-06 09:22] #16941 closed, assigned to nobody

[2016-11-06 09:25] ngmariusz opened #18380 "Unexpected Exception: cannot import name linear - ansible 2.1.1.0 ubuntu 16.04"
##### ISSUE TYPE
-  Bug Report

##### COMPONENT NAME
strategy: debug

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

BAD
[code]

GOOD
[code]

GOOD
[code]

##### ACTUAL RESULTS

[code]

[2016-11-06 17:42] trompx commented on #5801
Also seeing this with ansible 2.0.2-1

I have a bash script in which I pass variables with extra-vars
`ansible-playbook -i myinv myplay.yml --extra-vars "var1=test1"`

In myplay.yml, I include another global playbook with the variables passed with extra vars, and I want to hardcode one variable directly in the playbook.
[code]

If instead I do:
`ansible-playbook -i myinv myplay.yml --extra-vars "v

[2016-11-06 19:48] michaelansel opened #18390 "Slot-based (Pogo-style) Strategy"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
New strategy: slot-based free

##### ANSIBLE VERSION
N/A (but would only work for 2.0+ where strategies exist)

##### CONFIGURATION
N/A: new feature

##### OS / ENVIRONMENT
N/A: new feature

##### SUMMARY
I would like to propose (and develop) a new strategy that follows the same model as Yahoo!'s Pogo tool: https://github.com/ytoolshed/pogo/wiki/

[2016-11-06 19:50] michaelansel commented on #18390
One place where I do see a potential issue is in playbook retries. If the playbook fails and you use the *.retry file to run again, percentage math would be broken. The user-side fix for this is to specify a number of slots instead of a percentage when doing retries (basically the same as you would have to do in the serial model).

[2016-11-06 20:00] trompx commented on #5801
Also seeing this with ansible 2.0.2-1

I have a bash script in which I pass variables with extra-vars
`ansible-playbook -i myinv myplay.yml --extra-vars "var1=test1"`

In myplay.yml, I include another global playbook with the variables passed with extra vars, and I want to hardcode one variable directly in the playbook.

[code]

If instead I do:
`ansible-playbook -i myinv myplay.yml --extra-vars "

[2016-11-07 03:36] wyaeld commented on #13243
@andyfeller can you explain what you mean?  Not everyone who uses Ansible is going to be using Ansible Tower

@bcoca is it possible to get some direction on this, and ideally some improvement into 2.3?  Vault seems to have been languishing for a while, and

I'm personally a big fan of explicit over implicit. I'm not sure if you can express maps in the ansible.cfg though, could we future-proof some

[2016-11-07 08:58] rpettersen opened #18391 "Failure using become on HP-UX: Failed to set file mode on remote files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running Ansible from RHEL 6 towards node with HP-UX (11+, 11.23 and others)
Failure only on HP-UX

##### SUMMARY
Whenever using playbook with "become: True", it fails with:
Failed to set file mode on remote files (rc: 2, err: chmod: can't change /tmp/ansible-t

[2016-11-07 09:13] ErrorProne commented on #963
+1

[2016-11-07 10:13] gawel commented on #14939
Hi,

I need this feature. Is there any plan for it ? Is it ok if I provide a PR ?

[2016-11-07 10:58] iamfletch opened #18392 "includes wrapped in a block statement drop environment variables"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
block
include
environment

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Base ansible config

##### OS / ENVIRONMENT
N/A

##### SUMMARY
environment variables do not seem to carry when using includes inside a block

##### STEPS TO REPRODUCE

env.yml
[code]
env_inc.yml
[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS
[code]

[2016-11-07 11:08] iamfletch commented on #18392
I have tested and this works on my old ansible server, I have copied the base config over to eliminate a config issue.

This command shows all 3 with the test=123456 variable:

[code]

The old version number:

[code]

[2016-11-07 11:24] iamfletch commented on #18392
I have decided to use the epel version and that doesnt have this issue:

[code]

[2016-11-07 11:53] okv commented on #17998
Yeah, that's weird host, currently I'm using patched ansible (with 0 added to the list of supported error codes). It works for me but it doesn't look like appropriate solution for mainstream.

[2016-11-07 14:55] alikins commented on #18369
I can reproduce this with the devel branch

[code]

[2016-11-07 15:01] alikins commented on #18378
I can reproduce this with devel branch.

[code]

[2016-11-07 15:08] #18355 closed, assigned to alikins

[2016-11-07 15:09] alikins commented on #18378
And with stable-2.2 branch

[code]

[2016-11-07 15:19] alikins commented on #18378
reproducer (the play including by OP in the description) at https://github.com/alikins/ansible-bug-repro/blob/master/play_env_not_in_handlers_18378/test.yml

[2016-11-07 15:26] alikins commented on #18378
git bisect points to 96e2be9bf84e0a0d47fde9b4e4b6567759e8133e

[code]

[2016-11-07 15:48] ssbarnea opened #18395 "error while importing yml via include_vars does not specify filename"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]
##### SUMMARY
The bug is that the error "failed to load file" does specify only the line number of the error but not the filename and path. This is a serious usability issue because in many cases we can have big list of files and these could also be computed via jinja tempting. Ansible MUST specify the YML filename that failed to be loa

[2016-11-07 15:49] alikins commented on #18380
I can reproduce this with 2.1.0.0-1, but https://github.com/ansible/ansible/releases/tag/v2.1.2.0-1 has a fix for it.

[code]

Failing in v2.1.1.0-1:

[code]

Working in v2.1.2.0-1

[code]

[2016-11-07 15:50] alikins commented on #18380
iow, already fixed in latest 2.1 release (2.1.2 and later)  as well as 2.2 and devel

[2016-11-07 15:50] #18380 closed, assigned to nobody

[2016-11-07 15:54] alikins commented on #18355
cherry-picked into stable-2.2 as 366bfe14c39d6aee1604928edb2c76589750a516

[2016-11-07 16:16] alikins commented on #18369
bisect points this to 4ba60d00c8d7e62912a37ec24f90f6e5d0770c4d

[code]

[2016-11-07 16:21] alikins commented on #18369
reproducer and bisect script at https://github.com/alikins/ansible-bug-repro/tree/master/lookup_ini_18369

[2016-11-07 16:24] alikins commented on #18390
bot_skip

[2016-11-07 16:30] alikins commented on #18391
Just to verify, I assume setting the config variable 'allow_world_readable_tmpfiles=False' fails as well (results in errors like 'Failed to set permissions on the temporary files Ansible needs to create when becoming an unprivileged user')  ?

[2016-11-07 16:39] bcoca commented on #18356
My results with your files

[code]

[2016-11-07 16:43] Sodki commented on #14292
Hi, I'm also bitten by this bug. Just wanted to mention that @hidekiy's workaround doesn't seem to work. Is there anything I can do to provide more information or is this already a known reproducible issue?

[2016-11-07 16:43] bcoca commented on #18353
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

I believe you misread what the docs/examples. It shows the action executing on the local machine but targeting the remote ssh port.

In the future, this might

[2016-11-07 16:43] #18353 closed, assigned to nobody

[2016-11-07 16:45] bcoca commented on #18375
role authors can currently handle this with assert/fail tasks.

[2016-11-07 17:17] alikins commented on #18392
This sounds like it may be the same issue as https://github.com/ansible/ansible/issues/18378

[2016-11-07 17:18] jsbruneau opened #18396 "Wrong variable resolution when multiple parents role call the same child role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None specific

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core) - Ansible host and server

##### SUMMARY
When multiple parents includes the same child role but override some variables, the variable resolution is wrong.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2016-11-07 17:34] sermilrod opened #18398 "to_nice_json does not respect template identation"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
to_nice_json filter does not respect template identation, and consequently you cannot use the filter to template a variable and convert it to a json document within subkeys.

##### STEPS TO REPRODUCE
Lets assume we have have the following configuration block somewhere in our group_vars:
[code]

[2016-11-07 17:51] jsbruneau commented on #18396
@Ansibot
The code related to the bug i filled lives in this repo

[2016-11-07 17:55] axos88 commented on #9964
Not using ansible anymore, can't confirm or deny.

[2016-11-07 18:44] sivel commented on #18398
This is not a but, but a misunderstanding in how jinja2 templating works.

`to_nice_json` has no concept of how or where it is called to know what indentation it should use.  Instead I would recommend 1 of a few things:
1. Combine use of `to_nice_json` with the `indent` (http://jinja.pocoo.org/docs/dev/templates/#indent) filter, to indent all lines after the first to a specific indentation level
2

[2016-11-07 18:44] #18398 closed, assigned to nobody

[2016-11-07 18:46] alikins commented on #18392
I can reproduce this more or less with a different playbook

In stable-2.1:

[code]

in devel:

[code]

[2016-11-07 19:30] bcoca commented on #13243
@wyaeld that seems more appropriate with my ansible-config proposal https://github.com/ansible/proposals/issues/35

About the 'languishing', please note that we added several features to vault in 2.2.

For this feature we might need a bigger revamp of vault, multiple formats, multiple agent/input formats for secrets.

[2016-11-07 19:35] bcoca commented on #14939
no current plan, but we will consider a PR. I would advise this sets the 'default' strategy (also config/env var option).

[2016-11-07 19:38] bcoca commented on #17998
Can you try the following patch?

[code]

[2016-11-07 19:57] bcoca commented on #18390
doesn't the free strategy + serial do this already?

[2016-11-07 20:03] bcoca commented on #18396
bot_skip

[2016-11-07 20:16] cliimatta opened #18400 "`ansible-galaxy init` creates empty files directory which git skips over"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Running `ansible-galaxy init <role name>` creates the necessary directory structure, but the files directory is empty so it doesn't get tracked in git

##### STEPS TO REPRODUCE
`ansible-galaxy init testrole`
`git add *` or `

[2016-11-07 20:16] bcoca commented on #18359
I cannot reproduce, are you sure your group_vars are being picked up? can you show full ssh line with -vvv?

[2016-11-07 20:22] ravishivt opened #18401 "Support patterns logic for tags"
##### ISSUE TYPE
 - Feature Idea

#### SUMMARY

Ansible [patterns](http://docs.ansible.com/ansible/intro_patterns.html) are very useful for narrow down which hosts/groups to target.  It would be nice if we could use the same pattern syntax for narrowing down which tasks/plays to run using tag patterns.

For example:
[code]

If I only wanted to target the third task, I could then use the pattern --

[2016-11-07 20:32] naftulikay commented on #14751
@bcoca I am also affected by this issue in Vagrant. My Vagrant configuration looks like this:

[code]

My `/vagrant/ansible/ansible.cfg` file looks like this:

[code]

My requirements pulls down an organization-internal Git dependency:

[code]

It fails like this:

[code]

There seems to be no valid workaround to this issue other than to call `ssh-copy-id` in a different provisioning step.

This i

[2016-11-07 20:34] #18195 closed, assigned to nobody

[2016-11-07 20:42] #18198 closed, assigned to nobody

[2016-11-07 20:50] michaelansel commented on #18390
No, in free+serial, you still have the problematic batching behavior. Example:

Batch 1:

[code]

Batch 2:

[code]

In the free+serial strategy, `web2` will run all tasks to completion, but Ansible won't advance to Batch 2 until `web1` has also completed all tasks, which means we can't start the `web4` drain until after `web1` has completed instead of doing both long drains in parallel.

I can put

[2016-11-07 20:55] hanej commented on #9034
I tried using @varunkatta's plugin and it fails on Ansible 2.2.  This would be a great feature to have in Ansible and am quite surprised that it's not in there already.

[2016-11-07 20:59] bcoca commented on #8919
Closing for lack of feedback and also because this is an ancient version we don't support anymore.

If you continue seeing any problems related to this issue on a current version, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https:

[2016-11-07 20:59] #8919 closed, assigned to nobody

[2016-11-07 21:00] bcoca commented on #8460
Closing for lack of response and because this is an old unsupported version.

If you continue seeing any problems related to this issue on a current version, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.com/fo

[2016-11-07 21:00] #8460 closed, assigned to nobody

[2016-11-07 21:02] madduck commented on #9034
Really, @hanej? I think you'll be up for some nasty surprises when you find out more about priorities and choices of this project…

[2016-11-07 21:27] bcoca commented on #18401
dupe of #16273

[2016-11-07 21:27] #18401 closed, assigned to nobody

[2016-11-07 21:29] bcoca commented on #18390
OK, so this is just the behavior of free + forks, ignoring serial

[2016-11-07 21:34] wyaeld commented on #13243
@bcoca config proposal looks excellent.  I reread 2.2 changelog, can see work on the api.

I do like the agree of multiple agents or formats.  One common pattern for public cloud deployments and credential handling is to store a form of 'secrets' in an S3 bucket that only a read-only role has access to.

While not asking for that to be in core, it would be nice for the ability to specify some form

[2016-11-07 21:40] michaelansel commented on #18390
Isn't task dispatch managed at the global level, not the fork level? I'm not sure I fully understand your comment.

[2016-11-07 21:47] mbregg1 commented on #16259
I'm working around this with duo auth by excluding the ansible user's group in pam_duo.conf and login_duo.conf, and then setting the following in sshd_config:

[code]

[2016-11-07 21:48] wildefires opened #18405 "Add object output to documentation"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
- Documentation

##### SUMMARY
It would be nice for when writing an ansible playbook if the documentation included all of the information that the registered variables had.

For example, with the following plays:
[code]

The output of the debug play is

[code]

There's currently no way, other than adding this debug or inspecting the code, to

[2016-11-07 22:00] sivel commented on #18405
This is done on a module by module basis such as what can be found at http://docs.ansible.com/ansible/stat_module.html#return-values

If you wish to include the output for a specific module, please feel free to open a pull request with that documentation update for the individual module, or open a specific issue for a module.

Module documentation lives in the module file over in one of the module

[2016-11-07 22:00] #18405 closed, assigned to nobody

[2016-11-07 22:00] bcoca commented on #18390
forks == number of concurrent hosts processed
serial == subset of hosts to run play for, per batch (default 100%)

So free + forks = numofhosts/2 would give you your 50% hosts in play, as soon as one host finishes another one will start.

[2016-11-07 22:34] michaelansel commented on #18390
Ohh, interesting. Is forks the number of concurrent hosts or the number of concurrent tasks? If hosts, then we are golden. If tasks, then there is nothing preventing you from doing 50% of the disable tasks, another 50% of the disable tasks, and then your entire site going down... 😭

Doing some quick testing, it looks like it is task-based parallelism, not host-based.

`hosts.ini` is just `host1`..

[2016-11-07 22:44] jacobweber commented on #6941
FYI, the fix was pushed to the EPEL repository; you can fix this warning with a "yum update python-crypto2.6".

[2016-11-07 23:10] bcoca commented on #18390
That does not look right, parallelism is 'global' so each task/host combination should take a slot, host 7 should not start until one of the hosts has ended. Also we seem to be 'off by one'.

[2016-11-07 23:20] ringerc commented on #9034
@madduck I know it's frustrating when it's not just what you want, but unless you're contributing considerable time or money to the project please appreciate what the team _are_ giving you, for free. I've been on the other side of this coin too, and it's incredibly demotivating to have people complaining at you as if they somehow inherently deserve more because what you did doesn't meet their spec

[2016-11-07 23:49] michaelansel commented on #18390
Right, every combination takes a slot, which is what is happening in my test: only 5 files are being touched at a time (you can see the ~10s gap between each set of 5), but there are no guarantees about which task-host combination will come next as long as it fits the sequential ordering constraint in the play. It looks like the free strategy is actually intentionally trying to execute task1 on al

[2016-11-08 00:11] bcoca commented on #18390
that seems to have changed, free was intended for hosts 'not to wait' and finish play ASAP.

[2016-11-08 00:39] michaelansel commented on #18390
I can't speak to history, but I think "not waiting" is just a matter of perspective. The strategy isn't so much "waiting" for task1 to complete, it is just trying to load balance and ensure that every host gets an action before it gives one of the hosts a second action instead of snubbing hosts further down in the host list.

All that aside, what do you think about the best way to implement this?

[2016-11-08 02:28] bdgscotland commented on #4638
I can confirm that this works:
`content="{{ '{{' }} variable_name_inserted_into_dest {{ '}}' }}/mirrors/{{ variable_evaluated_for_dest }}"`

[2016-11-08 02:38] scurvydoggo opened #18411 "include_role with with_items causes unexpected exception for role handlers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS X 10.11.6, Ansible installed via pip

##### SUMMARY
Using the `include_role` directive in conjunction with `with_items` will cause the the use of any handlers defined within the role to throw an unexpected exception.

##### STEPS TO REPRODUCE

[code]

#

[2016-11-08 03:27] cliimatta commented on #18400
Just realized this is an issue with the templates directory as well

[2016-11-08 03:31] #18378 closed, assigned to jimi-c

[2016-11-08 03:42] amenonsen commented on #18411
bot_skip (this is getting a bit annoying, isn't there a way to teach the bot about include_role?)

[2016-11-08 04:31] jimi-c commented on #17810
@dgoodwin I believe this has been resolved by the above commit, which was merged in. Can you confirm?

[2016-11-08 04:40] julian1 commented on #18353
@jimi-c @bcoca It's amusing that you aren't even aware that the variables are specifically referred to as deprecated in other parts of the documentation. Good luck with your project.

[2016-11-08 05:25] snsb-seifert opened #18413 "---"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-11-08 05:26] #18413 closed, assigned to nobody

[2016-11-08 06:29] madduck commented on #9034
@ringerc I was a (early) contributor to this project before Michael shut me out because I was not 100% in line with his interests. Back then, I raised the issue that the template processing lost all data types in YAML and e.g. integers and booleans became text strings, which I considered a problem, but he didn't, and so that was it for me.

Anyway, this issue here (and the one I filed a long time

[2016-11-08 06:48] xiaobogod opened #18414 "Error while executing ansible-playbook commands - "failed": true, "msg": "ERROR! paramiko is not installed. It can be installed using `pip install paramiko`""
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

TIANBO-M-P05H:src tianbo$ cat /etc/ansible/ansible.cfg
[defaults]
transport=paramiko
timeout=5

##### OS / ENVIRONMENT

TIANBO-M-P05H:src tianbo$ uname -a
Darwin TIANBO-M-P05H 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/

[2016-11-08 07:20] brontog opened #18415 "How to remove ansible 2.2 to source ?"
How to remove ansible 2.2 to source ?

[2016-11-08 07:56] brontog commented on #18415
Hi.
I installed Ansible 2.3 from git, how to remove it?

[2016-11-08 08:05] ghost commented on #16956
Ewwww... Had to downgrade from 2.1.1.0 to 2.1.0.0! 3 hours and I finally found the problem!   :-P

My playbook run with 2.1.1.0 is ignoring the default settings located under "ansible/group_vars/all"! While 2.1.0.0 works just fine.

How to upgrade to 2.1.1.0 easily? Is there any new subdir recommendation?

Does Ansoble 2.2.0.0 behaves the same way as 2.1.1.0?

Here is my Ansible subdir structure t

[2016-11-08 08:07] rpettersen commented on #18391
Correct, setting allow_world_readable_tmpfiles=False gives:
Failed to set permissions on the temporary files Ansible needs to create when becoming an unprivileged user (....)

[2016-11-08 08:14] kustodian commented on #16956
@tmartinx that structure looks fine, because the `hosts` file and `group_vars` directory are in the same directory. What exactly isn't working and how do you run your playbooks?

[2016-11-08 09:14] martbhell opened #18416 "Always run a task with --diff"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Running ansible-playbook with "--diff" adds more details to a register for a file that is templated, specifically I'm interested in ['diff']['after']
I would like to have an option to always run a specific task with --diff - so that I can use the

[2016-11-08 09:56] sermilrod commented on #18398
Thanks for the help @sivel that way I get what I need.

[2016-11-08 10:24] amenonsen commented on #18341
Yeah, bot_skip

[2016-11-08 10:48] lberruti opened #18417 "with_first_found search in parent role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
with_first_found

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
with_first_found search incorrectly also inside parent role, i.e:

* role aa depends on role bb
* with_first_found used in role bb
* with_first_found search files in roles/aa/vars/

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECT

[2016-11-08 10:50] ivn86 commented on #10902
@offlinehoster Just now tested with ansible 2.2.0.0:

[code]

Archive versions of JRE require to be logged in, so the code above works only with current ones.

[2016-11-08 11:59] ivn86 commented on #10902
@emielmolenaar

I think the problem in comma after "KHTML", so "like" becomes new key and needs new value. BTW, you don't need to setup custom headers for downloading PHPStorm.

[2016-11-08 12:25] fernandezcuesta commented on #18359
Yes, here is the output when using a dynamic inventory:

[code]

The contents of `group_vars/testgroup`:

[code]

From the outcome you can see the `ProxyCommand` argument was added but the connection is still done to the content of `ansible_host` from the inventory:

[code]

[2016-11-08 12:39] morphje opened #18418 "Memory error when copying large file"
##### ISSUE TYPE: Bug Report

##### COMPONENT NAME: win_copy module

##### ANSIBLE VERSION
ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Ubuntu 16.04 with ansible/ansible PPA

##### SUMMARY
When copying a large file from local to a remote host, ansible crashed. Looks like a re

[2016-11-08 12:50] okv commented on #17998
I tried - playbook passed without errors, task marked as changed in the playbook, but changes are not applied to the file.

[2016-11-08 13:07] j3k0 commented on #5463
Improvement over @lhoss filter to works for any type (basic types, and recursive structures made of lists and dictionaries).

[code]

[2016-11-08 14:19] alvaroaleman opened #18420 "Add name parameter for blocks"
##### ISSUE TYPE

 - Feature Idea

##### ANSIBLE VERSION

[code]

##### SUMMARY

It would be nice if blocks could have a ``name: `` attribute, this way the code would be much more readable.

[2016-11-08 14:53] bcoca commented on #18415
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-11-08 14:53] #18415 closed, assigned to nobody

[2016-11-08 15:06] OrBaruk commented on #18206
Can confirm that problem is fixed.

Tested on the following version:

[code]

[2016-11-08 15:45] tcpip2016 commented on #14710
Hi nitzmahone,
We got the similar issue when running playbook against to Windows, if I put "ansible_winrm_server_cert_validation: ignore" to top level group_var/, then it works fine; if I put it to roles/vars/main.yml, then it's failed with "kerberos: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:765)", please advise (ansible 2.1.2.0).

Thanks,

[2016-11-08 15:48] ghost commented on #16956
@kustodian it is super easy to reproduce this problem! Let me try to exemplify for you...

EDITED:

_Note: I'm creating the hosts AND the top-level-playbook.yml files, inside of a tmp/ subdir_

I'm running the playbook like this:

[code]

Create those 2 files (Inventory and Playbook)

[code]

Where the "tmp/openstack-hosts" contains:

[code]

And the "tmp/top-level-playbook.yml" contains:

[code]

[2016-11-08 15:57] westsouthnight opened #18425 "docker_container cannot download image with any tag, when tag not a "latest""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

1) MacOS X Ansible Native
2) Docker Containered Ansible

##### SUMMARY
When we use docker_container with tag and tag not a latest module fails with

``` Error creating container: 404 Client Error: Not Found (\"No such image: company/image:0.1

[2016-11-08 16:03] ghost commented on #16956
BTW, same problem with Ansible-2.2.0.0 (from ppa:ansible/ansible), I'm running Ansible from an Ubuntu 16.04 machine, "apt upgraded" today.

Is there a new, undocumented, "Directory Layout"? After reading more comments here, I'm seeing that many people are talking about outdated documentation, is that correct?

http://docs.ansible.com/ansible/playbooks_best_practices.html#directory-layout <- outdat

[2016-11-08 16:06] westsouthnight commented on #17014
@nitzmahone if people not interest, i think we can close issue

[2016-11-08 16:07] #18369 closed, assigned to jctanner

[2016-11-08 16:19] nitzmahone commented on #14710
Pseudo-connection vars like ansible_winrm_X can currently only be set via inventory or extra_vars (due to some fairly deep issues around delegation and the Ansible process model). This _should_ be corrected in devel by the time 2.3 releases.

[2016-11-08 16:22] tcpip2016 commented on #14710
Thanks for the quick response!

[2016-11-08 16:25] jimi-c commented on #18206
@OrBaruk I was not seeing this fixed yet. Using your example (on both devel and stable-2.2), I see the following:

<pre>
TASK [debug] *********************************************************************************************************************************************************************************
task path: /home/jamesc/testing/18206/tasks_a.yml:2
ok: [localhost] => {
    "msg": "Hel

[2016-11-08 16:27] ghost commented on #16956
Oh, I found a much better workaround!

[code]

Looks like that Ansible +2.1.1.0 is not including the "./group_vars/all" located inside of the current directory, where I'm running `ansible-playbook` command from.

Until, with 2.1.0.0, it is good to use an "ansible/tmp", to create your "Dynamic Inventory" (like just an "auto-generated" _hosts_ file), like "./tmp/openstack-hosts-f42342" and your Top-

[2016-11-08 16:38] OrBaruk commented on #18206
Indeed it not fixed yet (both devel and stable-2.2).

I had changed some of my example files locally and it was not reproducing correctly the bug anymore. Sorry for the confusion.

[2016-11-08 16:42] alikins commented on #18418
I believe ed134d81f1b66fed63aa49b3599dd5b8388ff4b4 should fix this (and de7fbd407a787c538b5d7360fbb69a2c68bca380 in the stable-2.2 branch for the next 2.2 release)

[2016-11-08 16:59] yogeshdarji commented on #4355
I am getting the similar error. Below is my playbook:

[code]

I am running:

`ansible-playbook install-nginx.yml -i inventory.ini --sudo -vvvv`

Getting below error;

Using /home/ssreportal/darjiyo/ansible.cfg as config file
[DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and make sure become_method is 'sudo' (default).
This feature will be removed in a future release. De

[2016-11-08 17:03] bcoca commented on #13587
you now have the `include_role` action which allows blocks to wrap them, not the same but should be a good workaround

[2016-11-08 17:29] EdoBarroso opened #18427 "Error trying to execute ansible GROUP -m ping"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible all -m ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg unchanged. Just used `ansible_user: root` in `/etc/ansible/group_vars/GROUP.yaml`

##### OS / ENVIRONMENT

Elementary OS Loki, based on Ubuntu 16.04

##### SUMMARY

I'm receiving an error saying that a stdlib json or simplejson module are missing, but they're

[2016-11-08 17:37] sivel commented on #18427
You also need to have `json/simplejson` installed on the remote host you are targeting, which in the output above is identified by the name of `hostname`.

This requirement is listed in the "Managed Node Requirements" section in the installation documentation:

http://docs.ansible.com/ansible/intro_installation.html#managed-node-requirements

If you have further questions please stop by IRC or the

[2016-11-08 17:37] #18427 closed, assigned to nobody

[2016-11-08 17:52] alikins opened #18428 "'ansible-vault edit' on files that are non-ascii fails with UnicodeDecodeError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/parsing/vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

fedora 23, x86_64

##### SUMMARY

'ansible-vault edit' on files that are non-ascii fails with UnicodeDecodeError.

This affects devel (2.3) and stable-2.2 (2.2). pr pending

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No errors.

[2016-11-08 17:57] SaaldjorMike commented on #16259
@mbregg1 So you're effectively disabling duo auth for the ansible user? That seems rather strange to me as this breaks the entire idea of forcing multi-factor login. I've managed to get it working by adding `keyboard-interactive` to the list of `PreferredAuthentications` here: https://github.com/ansible/ansible/blob/b18263cf3668e2330825c4ae42161e619f81e2e4/lib/ansible/plugins/connection/ssh.py#L19

[2016-11-08 18:08] marcinhlybin opened #18430 "first_found lookup path differs from with_first_found"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
first_found lookup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
Debian Jessie 64 GNU/Linux

##### SUMMARY

The `first_found` lookup requires different path than `with_first_found` when looking for the same file. For testing I use template module with `lookup('first_found')` used in `src` and `with_first_fou

[2016-11-08 19:09] akrzos commented on #17979
Anyone know if this is also the behavior of Ansible 2.2?

[2016-11-08 19:10] alikins commented on #18253
I haven't been able to reproduce this.

Are there any custom ansible plugins involved? Particularly anything that involves python yaml.

[2016-11-08 19:24] msainz commented on #16354
I'm seeing the same error `FAILED! => {"failed": true, "msg": "Failed to connect to the host via ssh."}`. It always manifests during a long running task. I've tried both without `async`, and more recently with `async` and a `poll` of 60 seconds. You can see below (not full trace) how it succeeds with ssh connectivity repeatedly, and then at some point it can't connect and it blows up. SSH keys and

[2016-11-08 19:28] msainz commented on #16354
I have no problem connecting with the command `ssh -C -q -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=ec2-user -o ConnectTimeout=10 -o ControlPath=/home/admin/.ansible/cp/ansible-ssh-%h-%p-%r -tt 172.30.0.150`

[2016-11-08 20:42] bcoca commented on #18417
I would expect this to be the case, first.yml was found FIRST, lookups/action plugins should search relative paths in role, parent roles and play relative directories.

[2016-11-08 20:44] bcoca commented on #18418
duplicate of #16391

[2016-11-08 20:44] #18418 closed, assigned to nobody

[2016-11-08 20:48] bcoca commented on #18430
when used in 'with_' the first found lookup gets passed a 'paths' of template/vars/files(default) depending on the task. So a template task will default to using 'template/' as a path, include_vars will use 'vars/' instead.

[2016-11-08 21:01] jscheible commented on #17349
I've got "ansible-playbook 2.2.0 (devel 37f721f315) last updated 2016/09/06 14:41:48 (GMT -400)"

Running on RHEL 6 from source.  Still have the problem.

The playbook fails.  I run PING, then the playbook works again.

[2016-11-08 23:36] jctanner commented on #17159
!needs_info

[2016-11-09 08:06] gbevan commented on #18142
I'm seeing same issue of retained new-lines with local_action in ansible 2.2:

[code]

fails with shell\n module not found.
Seems like > is being treated like | in the yaml.

[2016-11-09 08:10] martbhell commented on #18416
Related to https://github.com/ansible/ansible/issues/16073

[2016-11-09 09:27] eromoe opened #18432 "What is the meaning of "to retry, use: --limit @/some-path/site.retry ""
I tried

1. `ansible --limit @/some-path/site.retry `
2. `ansible-playbook --limit @/some-path/site.retry `
3. `ansible-playbook site.yml --limit @/some-path/site.retry --limit @/some-path/site.retry`

All not work.
This tip is so confused that should be improved.

[2016-11-09 12:07] shaharmor commented on #9362
Still broken

[2016-11-09 12:08] JamesUoM commented on #16956
Really? This is bad joke. I'm trying to port code from 1.6.x (yes) to 2.1.2.0

[code]

worked under 1.6 and now neither that nor this works:

[code]

-vvv has improved since 1.6 but it really needs to tell us what files it is looking for and finding.

EDIT:

OK it appears playbook files don't pick up the groups_vars eg I have site.yml which includes number of playbook yml files like:

[code]

wher

[2016-11-09 12:26] keachi opened #18433 "ansible.cfg multilocation support"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible.cfg with multiple locations support

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Linux

##### SUMMARY
Some parameters in the ansible.cfg configuration files are more project specific and some options are more client specific, so loading these parameters from multiple locations could be nice. E.g. ansib

[2016-11-09 13:09] gthieleb opened #18436 "Ansible is picky with whitespaces used around equal signs"
- Bug Report

Ansible: 2.1 / 2.2

##### SUMMARY
When using whitespaces  before or after equal sign e.g. for set_fact the parameter, the value is not assigned and the variable keeps uninitialised.
For someone with a (python) programming background it is common to make white spaces around equal signs for readability. Within ansible its a hard time to figure this out.

##### STEPS TO REPRODUCE

w.o w

[2016-11-09 13:14] amenonsen commented on #18436
This is not a bug, it's just how it works (and is documented to work). You can use the `key: value` syntax for module arguments if you prefer:

[code]

[2016-11-09 13:14] #18436 closed, assigned to nobody

[2016-11-09 13:15] bcoca commented on #18433
This is a subset of existing proposal https://github.com/ansible/proposals/issues/35

[2016-11-09 13:15] #18433 closed, assigned to nobody

[2016-11-09 14:52] dagwieers commented on #14923
@bcoca I noticed this #17902 and it seems configurable, so fixed in v2.2 ?

[2016-11-09 15:52] ceving commented on #14418
See: https://github.com/ansible/ansible-modules-extras/issues/1792

[2016-11-09 16:00] furiml opened #18438 "Launching big remote script fails (too much output ?)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- WinRM connection (PSRemoting)
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

out of the box
##### OS / ENVIRONMENT

debian
##### SUMMARY

I'm deploying Windows softwares with Ansible, and ran into this problem :
I wrote a PS1 script that downloads and extracts files from a web server. There's 20 softwares, weighing about 7Go in total. W

[2016-11-09 16:03] bcoca commented on #14923
yes, I thought i had closed this ... doing so now.

[2016-11-09 16:03] #14923 closed, assigned to nobody

[2016-11-09 16:28] #18425 closed, assigned to nobody

[2016-11-09 16:29] #17491 closed, assigned to nobody

[2016-11-09 16:30] #12877 closed, assigned to nobody

[2016-11-09 16:31] JamesUoM commented on #18358
Can we therefore (as I can't find one) have a place to define global variables that can be used where group_vars/all ones can't. The only option is envs or commandline. Currently I'm having to use var_files to include an env.yml file that defines a couple of basic variables such as env=staging, as I'd like to keep these variables set in the relevant git branch of my playbook.

[2016-11-09 16:35] jctanner opened #18440 "Fix all usage of type() == in modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

All affected modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
All modules should use isinstance() instead of type()

https://paste.fedoraproject.org/476495/09416147/

Related to:
https://github.com/ansible/ansible/issues/18310
https://github.com/ansible/ansible/pull/18439

##### STEPS T

[2016-11-09 19:29] jean-christophe-manciot opened #18442 "blockinfile replaces the block instead of inserting it after EOF"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
blockinfile
##### ANSIBLE VERSION
[code]
##### CONFIGURATION
inventory   = ./hosts
gathering = explicit
roles_path = /home/actionmystique/Program-Files/Ubuntu/Ansible/Roles/roles
private_role_vars = yes
log_path = /var/log/ansible.log
fact_caching = redis
fact_caching_timeout = 86400
retry_files_enabled = False
##### OS / ENVIRONMENT
- host: Ubu

[2016-11-09 20:08] #18442 closed, assigned to nobody

[2016-11-09 20:50] jctanner commented on #18440
https://github.com/ansible/ansible-modules-core/pull/5541
https://github.com/ansible/ansible-modules-extras/pull/3404
https://github.com/ansible/ansible-modules-extras/pull/3405
https://github.com/ansible/ansible-modules-extras/pull/3412

[2016-11-09 21:06] rodolof commented on #4265
Hi, I followed the instructions from pythononwheels and I am writing what it worked for me ( some corrections)

Prereqs:

[code]

in case we don't have pip, we should install it
 yum -y install python-pip.noarch

Build the HTML doc

[code]

Watch it locally

[code]

python -mSimpleHTTPServer

Starts serving a site from the current directory on port 8000 with directory listing activated.

Accessibl

[2016-11-09 21:06] bhcopeland opened #18444 "become module: ascii exception"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
become

##### ANSIBLE VERSION

ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION

##### OS / ENVIRONMENT
My OS: Arch 4.8.6
Server: Ubuntu 14.04

##### SUMMARY
5 servers deploy this, it only fails on one. However, this is the only server that runs inside LXC. I h

[2016-11-09 21:55] nlevitt commented on #1705
Problem seems to persist in ansible 2.1.1.0 (why is this issue closed?)

[2016-11-09 23:14] jjaone commented on #6912
@toadjaune Thanks for your suggestion, but I don't still see how that could resolve my aim to be able to add "new hosts dynamically to inventories and groups"..?

In your task, the "ansible_play_hosts" contains all the existing hosts (from the static inventory of the playbook) and they get added to the "my-group" in th My-Task, right?

Where as my example code above depicts a case where the playbo

[2016-11-10 06:06] schast commented on #17983
version 2.2.0.0 is also affected.

[2016-11-10 07:03] samdoran commented on #18414
I believe you need to change `gather_facts` to `no` and it should resolve your issue.

[2016-11-10 08:15] #18092 closed, assigned to docschick

[2016-11-10 08:50] raghu999 commented on #14426
Faced with similar problem ,Adding `-c paramiko` to my ansible-play command helped to resolve this issue.

[2016-11-10 08:56] stinnux opened #18446 "Cannot install role via ansible-galaxy on Mac OS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Darwin MacBook-Pro-2.local 16.3.0 Darwin Kernel Version 16.3.0: Sun Oct 23 14:50:01 PDT 2016; root:xnu-3789.30.76~4/RELEASE_X86_64 x86_6

##### SUMMARY
When trying to install a role via
[code]
the following error occurs:
[WARNING]: - geerlingguy.firewall wa

[2016-11-10 09:36] AlexAkulov commented on #18090
@beevee has described the problem

[2016-11-10 10:13] fuhbar commented on #14469
FYI: This behaviour affects version 2.2 as well.

[2016-11-10 11:13] yamb00 opened #18447 "ansible don't skip task when iterating over jinja2 filtered list"
##### ISSUE TYPE
 - Bug Report
##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
ubuntu 16.04
##### SUMMARY

##### STEPS TO REPRODUCE
PLAY [localhost] ***************************************************************

TASK [setup] *******************************************************************
ok: [localhost]

TASK [find] ********************************************************************
ski

[2016-11-10 11:51] elouanKeryell-Even commented on #12793
Still witnessing this issue in ansible 2.2.0.

[2016-11-10 12:06] zer0glitch opened #18448 "using a when statement on an include only applies to first task in include file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- include

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

host_key_checking=false

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)

##### SUMMARY

When there is a top level playbook that will include a sub level playbook based upon a variable in the inventory file, the when statement only applies to the first task in the sub

[2016-11-10 12:14] richard-hulm commented on #17983
This is a change in behaviour from 2.0 - and will silently start causing builds that used to fail to pass.

We rely on the fail: when= to catch various preconditions before migrations etc.

This causing it to exit with a 0 exit code meant the error was never caught

[2016-11-10 12:19] eproxus commented on #17892
Sorry to break open an old thread, but I have the same problem with Phabricator on FreeBSD 10.3-RELEASE-p7 using Ansible 2.2.0.0. As far as I could gather from the discussion here, the conclusion was that somehow the rc scripts were broken. It looks to me like the [Phabricator rc script](https://svnweb.freebsd.org/ports/head/devel/phabricator/files/phd.in?view=markup) is correct, in that it loads

[2016-11-10 12:25] pmarques commented on #18447
i'm having the same issue but with a slightly different playbook, which lead me to believe that the problem is when you use the `with_items`. The second task works as expected and the third have the same problem.

[code]

[2016-11-10 12:31] amenonsen commented on #18447
This is not a bug. A `when` condition on a task with a `with_items` clause is evaluated for each item in the list, not for the task as a whole.

[2016-11-10 12:31] #18447 closed, assigned to nobody

[2016-11-10 12:34] jbergstroem commented on #17892
@eproxus I suggest you follow the same debugging steps I did to make sure that the init script is ok.

[2016-11-10 12:38] 116davinder opened #18450 "nesting of dynamic varaiable in ansible2"
i have ansible 2.2.0.0 and ubuntu 16/14
#### This is my playbook
- name: Getting username and getting respective id from git
  uri:
    url: "{{ gitlab_url }}users/?private_token={{ git_token }}"
    method: GET
    body: "&username={{ item }}"
  with_items: "{{ members }}"
  register: user_info

- debug: msg="{{ user_info.results[{{ item }}].json[0].id }}"
  with_sequence: start=0 end=2

 - name:

[2016-11-10 12:38] 116davinder commented on #18450
i doing something wrong or something else ..

[2016-11-10 12:47] eproxus commented on #17892
Without anything in `rc.conf`:

[code]

Are packages supposed to add that line, or do I as a user have to add it before running the Ansible `service` module?

Guess I just didn't get the conclusion in this thread. The behaviour from before, adding the line when it didn't exist, is broken and removed?

[2016-11-10 13:05] rubal033 commented on #18337
The same thing also happening with other loops.

with_items:
     - zabbix_agent_packages

above is not working , but rewriting it as below working.

with_items: "{{zabbix_agent_packages}}"

Due to this previous written playbooks/roles using loops need to be modified and can't be use at is.

[2016-11-10 13:25] eproxus commented on #17892
I also see the same behaviour with `www/nginx`. Put more practically, is the "official" solution to always add the line manually? Like so:

[code]

If so, I think it warrants a better error message than `"unable to get current rcvar value"` and a note in the documentation that in FreeBSD the `enable=` parameter only works if you manually edit `/etc/rc.conf` first.

[2016-11-10 13:27] nilsfr commented on #18357
I can confirm that this happens if you include tasks in a handler.

[code]

[2016-11-10 13:28] cadavre commented on #17876
I'm facing this issue when using Ansible inside of a Docker container. I'll share it with you and a use-case.

[2016-11-10 13:31] problame commented on #17892
@eproxus are you running https://github.com/ansible/ansible-modules-core/commit/872594b49a69a1f3795e0de3f7cf0194b6bdfd53 or newer? Since you are quoting `unable to get current rcvar value`, I think you aren't.

[2016-11-10 13:34] eproxus commented on #17892
[code]

I'm switching between 2.1.2.0 and 2.2.0.0 via Homebrew. The Homebrew formula for 2.2.0.0 states:

[code]

[2016-11-10 13:42] mearsten opened #18452 "ternary operator converts int/float into string"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
standard

##### OS / ENVIRONMENT
Debian 8
Python 2.7.9

##### SUMMARY
ternary operator returns string instead of int/float

##### STEPS TO REPRODUCE
Run the following playbook
[code]

##### EXPECTED RESULTS
(all extra output has been removed)
[code]

##### ACTUAL RESULTS
[code]

[2016-11-10 13:45] problame commented on #17892
Please do a test run from source: http://docs.ansible.com/ansible/intro_installation.html#running-from-source

origin/stable-2.2 should work out fine for the ansible-modules-core repo.

[2016-11-10 13:45] eproxus commented on #17892
@problame Is the stable 2.2 published on the homepage not the same version?

[2016-11-10 13:46] 116davinder commented on #18450
# finally i got solution for this problem

just need to replace my json query

### earlier query

[code]

### new query is like this

[code]

[2016-11-10 13:46] #18450 closed, assigned to nobody

[2016-11-10 13:47] tearsakura commented on #17720
Hi!, now works well on ansible 2.2 thank you!

[2016-11-10 13:56] problame commented on #17892
@eproxus nope, stable-2.2. receives udpates after 2.2.0.0 release

[2016-11-10 13:58] eproxus opened #18453 "pycrypto not listed in the Python package requirements list"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Running From Source

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`pycrypto` not listed in the Python package requirements list

##### STEPS TO REPRODUCE

1. Read https://docs.ansible.com/ansible/intro_installation.html#running-from-source
2. Install the Python dependencies:
[code]
3. Ru

[2016-11-10 14:03] eproxus commented on #17892
Ah, I get it. Just cloned and built from source and switched to `stable-2.2` by doing a `git checkout stable-2.2`. Running my playbook I just get:

[code]

Nothing happens at all. Is it the right way to switch to `stable-2.2` or am I missing something?

[2016-11-10 14:07] nmeyer-otto commented on #18209
+1 on this. although there seems to be no harm running the version from xenial ppa.

One of the reasons to use a PPA is to have the current upstream version, and it's unlikely that Ubuntu will update in a timely fashion (or at all?).

[2016-11-10 14:10] eproxus commented on #17892
Sorry, my bad. Still had the `ANSIBLE_INVENTORY` variable set from the install instructions. Here's the current result:

[code]

[2016-11-10 15:45] lberruti commented on #18417
Maybe there is a misunderstanding: which is the parent role in a role dependecy relationship?
if role aa depends on role bb, which do you mean for the parent and the children?

In ansible 1.x with_first_found doesn't search files in the aa role folder when it is running the bb role. This new approach is a breaking change.

Consider the following use case where:
- role aa depends on role bb
- role

[2016-11-10 16:08] groenator commented on #14667
@tabibazar what do you mean by changing them to LF? I am using Mac, not sure how much this would help.

can yo share some instructions?

[2016-11-10 16:33] fuhbar commented on #14469
@haasn Please check if the referenced PR #18454 meets your needs.

[2016-11-10 16:42] tabibazar commented on #14667
@groenator there two possible ways one is git config that auto changes line ending, the other is your IDE that could re-ecode the line endings. Just make sure that the those files have the line endings are LF (linefeed). I have included links for git and pycharm. I hope that helps

https://help.github.com/articles/dealing-with-line-endings/
https://www.jetbrains.com/help/pycharm/2016.1/configuring

[2016-11-10 17:32] gundalow opened #18456 "Generate py3 module status spreadsheet"
With the following columns in
* List of all modules
* Module description
* version_added
* Automated tests: if test/integration/targets/MODULE_NAME exists
* Manual tests
* Priority

[2016-11-10 17:56] chocopowwwa commented on #14752
Hi, i got the same problem too

i'm using ansible 2.2.0

i solved this problem by downloading the role it self, whether it's from galaxy or by creating the module itself,

[2016-11-10 17:58] chocopowwwa commented on #14752
i got the same problem too

im my case, by downloading the dependency solved the issue
(IMHO ) which is weird since ansible give error syntax instead of missing role?

[2016-11-10 18:13] davegallant opened #18457 "delete"
Using Ansible 2.2.0.0

[code]

Error:

`fatal: [my_host]: FAILED! => {
    "cache_update_time": 1478801319,
    "cache_updated": false,
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "allow_unauthenticated": false,
            "autoremove": false,
            "cache_valid_time": 0,
            "deb": null,
            "default_release": null,

[2016-11-10 18:15] #18457 closed, assigned to nobody

[2016-11-10 19:01] gundalow commented on #18456
bot_skip

[2016-11-10 19:32] juju4 commented on #276
It seems this error appears constantly with ansible v2.2 and centos6. at least in all my kitchen test (1.13.2) with ansible and lxd_cli.

changing ansible_version in provisioner of .kitchen.yml is a valid workaround

[code]

[2016-11-10 19:53] mrwacky42 commented on #9196
Agreed, the docs are infuriatingly vague.
This seems to work as expected:

[code]

[2016-11-10 20:15] haasn commented on #14469
I haven't tested it but it seems like it would. I'll re-open the issue if I run into any problems. Thanks!

[2016-11-10 20:15] #14469 closed, assigned to nobody

[2016-11-10 20:30] davidmnoriega opened #18459 "Group vars not passed into vars_plugins"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vars_plugins

##### ANSIBLE VERSION

[code]

##### SUMMARY
Working on creating a vars plugin and discovered that in 2.2.0.0, the plugin is not getting any group vars. Downgrading to **2.1.0.0**, and the plugin can get data via `host.get_group_vars()`. I think this is potentially related to #15493

##### STEPS TO REPRODUCE
Simple single host inve

[2016-11-10 20:53] bcoca commented on #18447
http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals

[2016-11-10 20:57] fewknow commented on #3759
@mpdehaan it should set the default permissions for the directory.  As it does in your example....you are not setting permissions for the directory, but allowing the defaults.   Having to add this is annoying at best.

[2016-11-10 21:10] bcoca commented on #18452
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

It is not the ternary filter doing this, it is the 'normal' result of jinja2 templating, use the `|int` and `|float` filters on consumption to guarantee the ty

[2016-11-10 21:10] #18452 closed, assigned to nobody

[2016-11-10 21:14] decayofmind opened #18461 "Returned data parser will exclude ansible_docker_container variable from ansible_facts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

[code]

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

"N/A"

##### SUMMARY

Returned data parser (ansible/plugins/action/__init__.py) will remove facts returned by docker_container module, cause variable ansible_docker_container fits in regexp, produced for removal of  docker connection plugin specific vars

[2016-11-10 21:30] lmilbaum opened #18462 "skipping filter sometimes doesn't work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role and conditionals

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS-X

##### SUMMARY

role execution is supposed to be skipped due to conditional check
but, some tasks are not skipped and as a by product fail the run

##### STEPS TO REPRODUCE
myplay.yml

[code]

#### EXPECTED RESULTS
all role tasks are ski

[2016-11-10 22:06] #18310 closed, assigned to jctanner

[2016-11-11 01:15] gmanfunky commented on #12692
I found myself wanting to do this when running ansible inside of virtualbox with a windows mount.

I am able to work around some other file copy tasks by setting `remote_tmp` , but when trying to use `local_action: wait_for ...`, ansible is trying to use the `remote_tmp` value, which causes problems due to the way ansible uses python for file copies.

I don't have a workaround yet.

[2016-11-11 02:47] untoldone commented on #13401
@O2Graphics do you have specifics on how you fixed it? I am having the same type of issue with Debian

[2016-11-11 06:27] TheSameCH commented on #18337
This is not only a block issue. We had to fall back to ansible 2.1.x because we use "is defined" conditions in a lot of tasks and they all fail in 2.2 instead of beeing skipped like in 2.1.

[2016-11-11 06:29] manan00 opened #18466 "Complex password as variable through ansible templates"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Templates in ansible

##### ANSIBLE VERSION
1.9.4

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
I am using command line to peform operation on remote server.

ansible-playbook -i hosts site.yml --tags copy_password --extra-vars "dbPassword=abc$cd"
below is template content,
[code]
I am copying this template file on remote s

[2016-11-11 07:25] duck-rh commented on #18218
Would you please reconsider?
This means it is no longer possible to have a variable local to the include using set_fact, and that each petty variable has to have a global default. Also it is breaking a lot of existing roles for no good reasons.

[2016-11-11 09:01] raji789 commented on #18099
Another update is, the issue is randomly coming in different locations of ansible code. Here are another stacktrace

Traceback (most recent call last):
  File "/opt/myapp/site/mbot/ansible/ansibleworker.py", line 56, in submit
    results = pbex.run()
  File "/opt/myapp/venv/venv/lib/python2.7/site-packages/ansible/executor/playbook_executor.py", line 142, in run
    result = self._tqm.run(play=pl

[2016-11-11 09:04] raji789 commented on #18099
Another update is, the issue is randomly coming in different locations of ansible code. Here are another stacktrace

[code]

One more place

[code]

In all cases host becoming none. when 2 play books are running parallel on different hosts with 2 different inventory files

[2016-11-11 09:15] raji789 commented on #18099
sample code used to run playbook attached

[2016-11-11 09:16] raji789 commented on #18099
[SampleCode.txt](https://github.com/ansible/ansible/files/585403/SampleCode.txt)

[2016-11-11 09:34] eromoe commented on #18432
The issue type is broken help message, not a bug.
I just think this tip make me confuse, it need more words to explain how to retry and how to use that command.

[2016-11-11 09:49] raji789 commented on #18099
Another update

Updated ansible to 2.2.0.0 and issue is still happening.

[code]

[2016-11-11 09:55] krzysztof-magosa commented on #18466
It's because of your shell behaviour and not bug in Ansible.
You need to escape dollar sign, or put string in `'` instead of `"`.

[code]

[2016-11-11 10:02] krzysztof-magosa commented on #18446
I cannot reproduce your issue. Did you try again?
Maybe it was temporary problem with API server.

[2016-11-11 10:12] pmarques commented on #18447
@bcoca thanks :) After Abhijit comment I found it... this is a good example of RTFM 😔.

[2016-11-11 10:28] krzysztof-magosa commented on #18131
What would happen if two groups have conflicting value of variable for serial?

[2016-11-11 10:36] krzysztof-magosa commented on #17998
That's weird that console `mv` fails to move files between filesystems.

Could you show me output of:
- `stat /home/parking/.bashrc`
- `getfacl /home/parking/.bashrc`
- `mount`

[2016-11-11 10:41] stinnux commented on #18446
I found the error. i've installed ansible using python3. When using python2 everything is working as expected.

[2016-11-11 10:41] #18446 closed, assigned to nobody

[2016-11-11 10:41] krzysztof-magosa commented on #17786
You should use `defaults` for values which you want to override later.
`vars` are something like private/internal variables of role.

[2016-11-11 11:17] krzysztof-magosa commented on #17664
I don't agree with that. You can have universal role deploying application and run it many times with different variables to deploy many applications.

[2016-11-11 11:33] amenonsen commented on #18218
@duck-rh: you can set `static: no` on the outer include task to make it work the way you want (which I also think is the sensible and unsurprising way for it to work).

P.S. Note that `set_fact` isn't in any sense local to the include.

[2016-11-11 11:40] pgasiorowski commented on #13830
Is there any way to disable this semaphore or multiprocessing completely?
I am getting the same error when trying to run Ansible in AWS Lambda which does not provide shm? Or how do I tell Ansible to use /tmp instead of /dev/shm?

[2016-11-11 12:16] cjw296 commented on #16724
Okay, so re-reading, I did submit this as a bug, and it still feels as such. The problem is the inconsistency.

Firstly, if `ansible_python_intrepreter` is specified explicitly, then of course that should used.

If not, either every local connection should use `sys.executable` _or_ it should use `/usr/bin/python`, in all circumstances, rather than having an edge case as you describe. So, that's th

[2016-11-11 12:35] SaitamaGuru opened #18468 "Unable to transfer file larger than 100MB in size"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing is changed in the ansible.cfg or environmental variables

##### OS / ENVIRONMENT

Ansible box is running on CentOS7 vagrant
Windows 2008 R2 with Power Shell v5 (Virtual Box Machine)
##### SUMMARY

When I run the playbook to transfer a file using

[2016-11-11 12:54] amenonsen commented on #16724
I strongly agree that being forced to set ansible_python_interpreter for localhost when using ansible from a virtualenv is an annoyance, and an unhelpful default.

Edit: I misunderstood the distinction that @abadger made earlier about `ansible localhost …` vs. `local_action: …`. The former uses `sys.executable`, but the latter uses `ansible_python_interpreter`, as described. Still, I think that's

[2016-11-11 13:32] duck-rh commented on #18218
I think the static/dynamic way of includes is really not trivial, and a friend helped me understand more. it feels wrong to have to give hints to Ansible instead of finding out by himself I'm using a dynamic variable. it's still is a workaround, but an acceptable one, thanks @amenonsen. task_includes_dynamic could have been useful to simplify this.

yes, it was not appropriate to says "local". it

[2016-11-11 13:52] bcoca commented on #17786
# Question About This One

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational. Since the precedence order is something all playbooks rely on, I don't see us changing it as it would cause issues to the great maj

[2016-11-11 13:52] #17786 closed, assigned to nobody

[2016-11-11 14:06] decayofmind commented on #18461
A bit dirty workaround for those who needs this behaviour is to change the regexp in `ansible/plugins/action/__init__.py` to something like this:

[code]

[2016-11-11 14:10] bcoca commented on #18337
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The block does NOT evaluate conditionals, they are there to be inherited by the tasks inside the block, since `when` executes inside the loop defined by `with`

[2016-11-11 14:10] #18337 closed, assigned to nobody

[2016-11-11 14:11] #18206 closed, assigned to bcoca

[2016-11-11 14:33] jctanner commented on #18466
@manan00 can you please confirm @krzysztof-magosa 's comment?

needs_info

[2016-11-11 14:35] jctanner commented on #18462
@bcoca can you take a look?

[2016-11-11 14:38] pgasiorowski opened #18469 "Multiprocess issues when running Ansible programically on AWS Lambda"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible core

##### ANSIBLE VERSION
2.2
##### OS / ENVIRONMENT
Amazon Linux 2016.9 / AWS Lambda Python 2.7

##### STEPS TO REPRODUCE
Run Amazon Linux on Aws
Create Vitualenv and activate
Install ansible
Package the Virtualenv folder according to aws docs for creating virtualenv
Add https://github.com/jtyr/ansible-run_playbook/blob/master/run.py

[2016-11-11 14:42] krzysztof-magosa commented on #18400
What's the point of storing empty directories in git?
They are not needed for correct work of role.

[2016-11-11 14:43] jctanner commented on #18461
The regex is by design to prevent certain security problems described in https://github.com/ansible/ansible/pull/15925

The fix should probably be to have the module not return facts prefixed with ansible_*

@chouseknecht can you take a look?

[2016-11-11 14:51] jctanner commented on #18440
This work is complete and the patch to validate-modules has been merged.

[2016-11-11 14:51] #18440 closed, assigned to jctanner

[2016-11-11 14:57] jctanner commented on #18448
@jimi-c is this related to https://github.com/ansible/ansible/issues/18318 ?

[2016-11-11 15:02] TomaszKlosinski commented on #6189
Why this ticket is closed? I still would like to see this feature.. @bcoca what do you mean by accessing them directly? By include_vars from the other role?

[2016-11-11 15:11] TheSameCH commented on #18337
@bcoca thanks for the fast answer. That's ture, I remember such a warning... Could you please update your documentation on Loops where this is still listed as an example? Thansk! [http://docs.ansible.com/ansible/playbooks_conditionals.html](url)
Is there still a way to skip tasks when a variable is not defined?

[2016-11-11 15:15] krzysztof-magosa commented on #17701
Ansible (in fact Jinja) did exactly what you asked for.
You wanted string beginning with space followed by list.
Because list cannot be part of string Jinja converted list to its string representation.

[code]

[2016-11-11 15:34] jctanner commented on #18453
I agree that we should make the install doc match the contents of setup.py ...

[code]

[2016-11-11 15:59] bcoca commented on #16724
To clarify:

These are identical: `local_action:`, `delegate_to: localhost`, both of them change the target to 'localhost' and the task then uses the `ansible_python_interpreter` and `ansible_conneciton` defined for localhost.

If you don't define a localhost, Ansible creates an implicit one which assigns `sys.executable` (python under which ansible itself is executed) to  `ansible_python_interpre

[2016-11-11 16:08] sivel commented on #18453
Maybe we could move the requirements to install into a requirements.txt file that is referenced by setup.py as well as the instructions specifying to utilize the requirements.txt instead of listing the packages separately in 2 locations?

Just a thought, as I've seen this done elsewhere.

[2016-11-11 16:11] bcoca commented on #18462
can you add `static: no` to the task?

[2016-11-11 16:34] jimi-c commented on #17490
Hi @basictheprogram, this appears to have been resolved by other inheritance-related fixes I've been working on recently. I can no longer replicate this in `stable-2.2` or `devel`:

<pre>
[jamesc@jimi 17490]$ cat test.yml
- hosts: localhost
  gather_facts: no
  roles:
  - { name: test, become: yes }
[jamesc@jimi 17490]$ cat roles/test/tasks/main.yml
---
# tasks file for roles/test
- debug:
  chang

[2016-11-11 16:34] #17490 closed, assigned to jimi-c, bcoca

[2016-11-11 16:46] lmilbaum commented on #18462
added. worked like a charm.

[2016-11-11 16:48] manan00 commented on #18466
Thank you @krzysztof-magosa . It works !

[2016-11-11 16:53] agaffney opened #18471 "Create magic variable that contains the value of sys.executable"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Playbook variables

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
As discussed in `#ansible-devel`, it would be useful to have a magic global variable named something like `ansible_playbook_interpreter` that contains the value of `sys.executable`. This allows explicit use of the python interprete

[2016-11-11 16:53] agaffney commented on #18471
@bcoca

[2016-11-11 16:54] bcoca commented on #18337
If you look at the example, that is NOT used with a loop, and if you look
at the page I linked you have the correct example for dealing with loops
and undefined variables.

---

Brian Coca

[2016-11-11 17:34] onlime commented on #15621
@do3cc so this didn't make it into Ansible 2.2. I am sorry I never found time to look more into this. I am just no Pythonian and when I read about problems (whatever problems you had...) this held me back. Still would be very much interested in this feature enhancement!

[2016-11-11 18:23] jimi-c commented on #18448
I would say high probability it is related, I'll test now.

[2016-11-11 18:28] jimi-c commented on #18448
This appears to be resolved on the latest devel and stable-2.2 branches, so I'll close it now.  This will also be included in the next `2.2.1.0` release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user

[2016-11-11 18:28] #18448 closed, assigned to jimi-c

[2016-11-11 18:41] jctanner commented on #18469
@WooDzu does changing the remote_tmp help at all? http://docs.ansible.com/ansible/intro_configuration.html#remote-tmp

EDIT: try setting local_tmp too: http://docs.ansible.com/ansible/intro_configuration.html#local-tmp

needs_info

[2016-11-11 18:42] FlorinAndrei commented on #18131
What happens when two groups have conflicting values of any variable?

[2016-11-11 18:50] bcoca commented on #18131
The groups are not an issue, that each host has a different value is, as vars are flattened by host so groups have no bearing after that.

[2016-11-11 19:16] pgasiorowski commented on #18469
Hi and thanks for the suggesions.
I have actually changed local_tmp to /tmp already which was required as /tmp is the only writable place on Lambda. I will try the same for remote_tmp and report back.

[2016-11-11 20:11] krzysztof-magosa commented on #18466
@manan00, no problem. Could you close the ticket if you don't need further help?

[2016-11-11 20:18] krzysztof-magosa commented on #18131
@FlorinAndrei Normally each host would have some value calculated based on precedence, but I believe value of serial must be 'global' for entire play and cannot be different for hosts within it.

For example something like that:

[code]

And assume that `frontend` and `backend` group does not share the same hosts, and `some_variable` is set to different value for each group.

[2016-11-11 20:49] msainz commented on #16354
The issue went away after upgrading to ansible `2.2.0`

[2016-11-11 21:01] davidmnoriega commented on #18459
I have a hunch the change might come from here:
https://github.com/ansible/ansible/commit/0ba9a6a8756745dc6c486eaca92af583a89c228d
but I dont know for sure.

[2016-11-11 21:08] cliimatta commented on #18400
Because then you need to re-create the directories if you decide to add something into either files/ or templates/

Isn't the point of "ansible-galaxy init" to create the directory structure needed for roles?

[2016-11-11 21:19] krzysztof-magosa commented on #18400
Personally I'm not convinced to store empty directories in repo.
I've looked into a lot of roles, including examples provided by Ansible Team - nobody stores empty directories.

But it's just my opinion, so let's wait for somebody else.

[2016-11-11 21:36] bcoca commented on #18400
I agree with @krzysztof-magosa , the directories are created correctly, if you don't use them that is up to you. If git does not store empty directories but you want them stored, add placeholder files.

[2016-11-11 21:36] #18400 closed, assigned to nobody

[2016-11-11 21:37] bcoca commented on #18400
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with the above.
- https://gr

[2016-11-11 21:59] juliedavila commented on #15215
@SydOps I'd like to make a version of this that support multiple roles (ie multipe arns) to connect through. If you're up for it, I'll make a pull request that is rebased from yours with my tweaks.

[2016-11-11 22:06] jctanner commented on #18459
@davidmnoriega yep, I bisected to https://github.com/ansible/ansible/commit/273a965dcc1e522fcd6637c63be0157a17cff421 which is what https://github.com/ansible/ansible/commit/0ba9a6a8756745dc6c486eaca92af583a89c228d was cherry picked from.

@jimi-c can you take a look?

[2016-11-11 22:07] krzysztof-magosa commented on #17872
There was similar bug reported for netmask: #17627.

For some reason filter checks if network has more than 1 host and only then returns network address:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/filter/ipaddr.py#L169

[2016-11-11 22:14] landryb commented on #13879
Also experienced this bug, while trying to pass a variable to count, ie `with_sequence: count="{{ nbslaves }}"` wont work..

[2016-11-11 22:29] krzysztof-magosa commented on #17460
Hi @ghost,
This functionality is already implemented, just has another name.
You need to use `hostmask` and not `wildcard`.

[code]

[code]

[2016-11-11 23:04] krzysztof-magosa commented on #17267
Maybe something more universal? Just proposition:
https://github.com/krzysztof-magosa/ansible/blob/devel/lib/ansible/plugins/filter/core.py#L434

Example:

[code]

Output:

[code]

[2016-11-11 23:10] raji789 commented on #18099
We followed python sample in the following lync to execute playbooks programatically
https://serversforhackers.com/running-ansible-programmatically

[2016-11-12 01:10] FlorinAndrei commented on #18131
I just want some way to template that variable, the way many other variables can be templated. It's a bit crazy to have to use different versions of the same playbook for different environments, only because one variable is hardcoded. I would like to be able to pull its value from somewhere, no matter how many times it could potentially be overridden.

I'm sure there are good structural reasons fo

[2016-11-12 02:16] bcoca commented on #18131
you can template it, you just cannot use host variables to do so

[2016-11-12 02:29] mscherer commented on #18456
I am not sure that we need the version_added, and the module description. That's already in the module.

I would however add the status somewhere:
- ported and tested extensively (or tested by the test suite)
- ported and tested manually
- ported, but not tested ( like automatic ) (not sure about this one)
- not tested
- not ported, need patch
- not ported, deps missing (for example, i would say "

[2016-11-12 03:06] jimi-c commented on #18315
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-11-12 03:06] #18315 closed, assigned to jimi-c

[2016-11-12 08:53] frenzymadness commented on #18456
@mscherer I like the "easyfix" idea.

[2016-11-12 09:24] eest opened #18473 "facts.py: global name 'to_text' is not defined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
facts.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
OpenBSD -current

##### SUMMARY
Running the setup module fails, pointing to problem in facts.py.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Collected facts shown on screen.

##### ACTUAL RESULTS
Error in facts.py.

[2016-11-12 09:47] ozbillwang commented on #15215
@defionscode sure, appreciate it.

I can help to review.

[2016-11-12 11:43] fredleger commented on #12841
+1
I don't really see the point to throw an error. This is tricky and i have to download a fake role for testing some roles with CI using the same template. Marked as fixed but this is stille the case with recent versions of ansible installed with pip (2.2.0). Which version is fixing this ?

[2016-11-12 11:56] jimi-c commented on #16356
Sorry to take so long to get back to this. If you also export DEBSIGN_KEYID along with `OFFICIAL=yes` it will sign the .deb as well. Beyond that, if there's anything you'd like to add to the Makefile process for deb building, send us a PR.

[2016-11-12 11:56] #16356 closed, assigned to jimi-c

[2016-11-12 14:43] okv commented on #17998
Sure.
I've replaced some unique identifiers and excluded information about network mount points but that should not change essence.

[code]

[2016-11-12 15:57] jimi-c commented on #17845
Hi @mukundhansuresh, sorry to take a while to follow-up on this, however I am not seeing this issue in any version going back to 2.1.0.0:

<pre>
PLAYBOOK: test.yml *************************************************************
2 plays in test.yml
PLAY [all] *********************************************************************
TASK [test_site] ********************************************************

[2016-11-12 15:57] #17845 closed, assigned to jimi-c

[2016-11-12 16:09] krzysztof-magosa commented on #17998
Could you paste also output from `lsattr /home/parking/.bashrc`?

[2016-11-12 16:51] okv commented on #17998
[code]

[2016-11-12 18:56] michaeldfallen commented on #17810
Any update to this? A substantial amount of roles use conditional includes and this breaks them quite badly. Can we get a fix released soon?

[2016-11-12 19:03] krzysztof-magosa commented on #17998
So far I didn't see anything bad in your outputs.
Could you paste me output of `sestatus` and `dmesg`?

[2016-11-12 21:45] gaurav-dalvi opened #18475 "fatal: [node1]: FAILED! => {"failed": true, "msg": "'dict object' has no attribute u'Core'"}"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
NA

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
centos 7.2

##### SUMMARY
Earlier till version 2.1.2.0 never faced this problem. Now Once I upgrade to 2.2.0 I am facing this problem.

##### STEPS TO REPRODUCE

[code]

Though I am running this playbook on Centos 7 still this is getting executed.
First task above gets

[2016-11-13 09:06] RonjaPonja opened #18476 "with_subelements does not work on dicts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
with_subelements

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
N/A

##### SUMMARY

When looping over a dict of lists of lists it works, when looping over a dict of dicts of lists, item.0 is alway just {}. For it to be usefull, I'd expect it to be the key or the key + content.

##### STEPS TO REPRODUCE

[code]

[2016-11-13 09:41] #16764 closed, assigned to nobody

[2016-11-13 09:43] zarnovican commented on #15621
@abadger Still willing to do the review ?

[2016-11-13 10:47] irfanjs commented on #13278
Hi All,
i am too facing this issue with ansible version : 2.1.1.0
i tried all these workarounds mentioned in this post. but no luck ...
please suggest

[2016-11-13 12:33] alvaroaleman commented on #10829
I like this idea as well. Especially for roles, there are usecases where I want all handlers of that role to be flushed at the end of the role runtime but I do **not** want  **ALL** handlers to get flushed.

The current workaround for that is to use a lot of registers and a task that has a `when: register1|changed or register2|changed or register3|changed`. This works but is pretty ugly.

A differ

[2016-11-13 15:04] #18466 closed, assigned to nobody

[2016-11-13 15:47] upbeta01 opened #18478 "Debug Module Parsing (Doesn't read Spaces)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Debug Module (Utilities)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default _ansible.cfg_

##### OS / ENVIRONMENT

debian 8
[code]

##### SUMMARY

Debug Module is parsing `vars` eliminating _spaces_ along the string. It somewhat adds `[u` (see PLAYBOOK 3 on Actual Results).

Might be something related to https://github.com/ansible

[2016-11-13 16:45] upbeta01 commented on #18478
FYI: I used the complex YAML approach and can see difference. However, the issue still falls on parsing the space with `[u` prior to the `vars`

PLAYBOOK:

[code]

OUTPUT:

[code]

[2016-11-13 16:59] upbeta01 commented on #18478
Adding the **0** on the _stdout_ string fixed the problem.

PLAYBOOK

[code]

OUTPUT

[code]

EXPLAINATION:
Might be that the older version of **Ansible** is not forcing everything for _unicode_ string and upon upgrading Ansible to 2.2, behavior of the script where changed so playbook scripts should by adjusted.

LEARNING:
- Better use the complex YAML args
- Take note of the _unicode_ strings
- S

[2016-11-13 16:59] #18478 closed, assigned to nobody

[2016-11-13 18:03] stianvi commented on #17460
I've heard of host bits, subnet mask, netmask and wildcard mask... never hostmask.
Maybe consider renaming to wildcard?

[2016-11-13 18:30] tarunlalwani commented on #9861
This seems like a bug or a missing feature. There should be a way to specify run_once per playbook or per batch. Both would be useful to have

[2016-11-13 19:48] jszwedko commented on #16006
This appears to be fixed in `2.1.2.0`

[2016-11-13 21:25] #17846 closed, assigned to resmo, jimi-c, bcoca

[2016-11-13 21:30] jimi-c commented on #17846
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-11-13 22:08] krzysztof-magosa commented on #17460
Ansible didn't invent own naming.
It comes from underlying library doing actual calculations.
https://docs.python.org/3/library/ipaddress.html#prefix-net-mask-and-host-mask

[2016-11-13 23:21] pavarotti305 commented on #15534
Perfect worked perfectly for me

[2016-11-14 01:22] liuyong2000 commented on #17664
@krzysztof-magosa , in my playbook above, roleC doesn't take with different variables,
and it will run one time in some condition,  eg.

[code]

in other condition, it will run two times, eg.

[code]

pls see my descriptions in above ticket.

[2016-11-14 02:47] rajivshprosper commented on #15321
i can connect to my host as root but can not run my ansible

[code]

i tried verbose

[code]

[2016-11-14 03:20] rajivshprosper commented on #15321
found the solution, ran the following command on my host to fix ssh key folder permission (Centos6.6)

[code]

and was able to run setup

[code]

[2016-11-14 05:56] jimi-c commented on #17912
@snemir2 sorry for the late follow-up, however on `stable-2.1`, `stable-2.2` and `devel` I'm seeing the expected output from the above.

[2016-11-14 06:51] jimi-c commented on #14112
As 2.2 has been released, I'm going to go ahead and close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel -

[2016-11-14 06:51] #14112 closed, assigned to nobody

[2016-11-14 07:18] jimi-c commented on #11766
As of 2.1, the following is the output of the example playbook above:

<pre>
$ ansible-playbook -vv 11766.yml
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: 11766.yml ************************************************************
1 plays in 11766.yml
PLAY [localhost] ***************************************************************
TASK [Test shell task which always should fire change] ******

[2016-11-14 07:18] #11766 closed, assigned to nobody

[2016-11-14 09:35] NISHAgl opened #18479 "hi"
hi
Please tell me do I need to first build the setup.py or can I directly run setup.py install
Nothing is mentioned in README about the steps to install. Please update

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPEC

[2016-11-14 10:11] bborysenko commented on #18197
Same issue with macOS:

[code]

[2016-11-14 10:49] martindines commented on #963
+1

[2016-11-14 12:47] snemir2 commented on #17912
Yep.   Confirmed working on 2.1

Get Outlook for Android

On Mon, Nov 14, 2016 at 12:57 AM -0500, "James Cammarata" notifications@github.com wrote:

@snemir2 sorry for the late follow-up, however on stable-2.1, stable-2.2 and devel I'm seeing the expected output from the above.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread

[2016-11-14 14:18] pipern commented on #18192
I found the same bug (ansible 2.2.0.0)

My example was:

[code]

I confirm https://github.com/ryanpineo/ansible/commit/2ec3338d4d8ac3ebcfd919e19a6a0342f1fb58b7?diff=unified fixes this.

[2016-11-14 14:21] jctanner commented on #18479
Hello @NISHAgl thank you for your interest in ansible.

You have a few options for installing ansible, and setup.py is only one of them. We have an extensive set of documentation for installation (with various methods) on our docsite: http://docs.ansible.com/ansible/intro_installation.html

[2016-11-14 14:21] #18479 closed, assigned to nobody

[2016-11-14 14:31] gundalow commented on #18456
@mscherer Thanks for your suggestions.

I was thinking "version_added" could be useful to help us prioritise the list.
"Description" could be useful as we've got ~800 modules in there, some with non obvious prefixes or names.

"Easyfix" is a great idea, that will help the community a lot.

[2016-11-14 14:33] marcio-santos-zocdoc commented on #16873
@nitzmahone thanks for the workaround. Can we add this workaround to the running ansible on windows documentation?

[2016-11-14 14:47] okv commented on #17998
SELinux is disabled, dmesg contains a lot of messages about usb (optical mouse found, unable to enumerate USB device on port 6, etc) - nothing suspicious

[2016-11-14 15:00] alikins commented on #18099
See https://serversforhackers.com/running-ansible-programmatically#comment-2554676993

That example code does not work with ansible 2.0+.
https://serversforhackers.com/running-ansible-2-programmatically is referenced as an ansible 2.0+ compatible version, thought I haven't tested it.

[2016-11-14 15:08] mscherer commented on #18456
mhh, how would we prioritize the list based on the version ?

And, so, maybe we should name the module using the full path ?

[2016-11-14 15:17] gundalow commented on #18456
Pull path is a good plan that should give enough context.
I was wondering about fixing older modules first. Just trying to work out how to prioritise 800 modules.

I wonder of easyfix can be based on the linecount (excluding docs)

[2016-11-14 15:25] krzysztof-magosa commented on #17998
I have no more ideas.
`mv` can move files between filesystems on my servers without any issues.

[2016-11-14 15:30] alikins commented on #18462
@jimi-c @bcoca is this a variation of https://github.com/ansible/ansible/issues/18206 ?

[2016-11-14 15:32] alikins commented on #18468
@nitzmahone could this be related to https://github.com/ansible/ansible/issues/18438 ?

[2016-11-14 15:34] bcoca commented on #18432
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case I'll answer a couple of things here. The ret

[2016-11-14 15:34] #18432 closed, assigned to nobody

[2016-11-14 15:39] bcoca commented on #18476
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is working as designed, it requires a list of dicts as inputs, this is already useful, it does not work with your specific use case as the input is not wh

[2016-11-14 15:39] #18476 closed, assigned to nobody

[2016-11-14 15:44] alikins commented on #18468
Looks like it is hitting the default read timeout (30 sec)

Try setting ansible_winrm_read_time_sec and ansible_winrm_operation_timeout_sec to higher values (default are 30 sec for former and 20 sec for the latter).

[2016-11-14 15:48] bcoca commented on #9861
@fdutheil  the docs have a specific note about serial interaction in that section, so I'm going to close this as 'done'.

@tarunlalwani in >=2.2 you have ansible_play_hosts and ansible_play_batch which you can use in conditionals instead of run_once.

[2016-11-14 15:48] #9861 closed, assigned to nobody

[2016-11-14 15:54] alikins commented on #18473
https://github.com/ansible/ansible/pull/18481 for a potential fix.

[2016-11-14 15:56] mscherer commented on #18456
Yeah, easyfix could be done on linecount, or complexity

I would have placed priority based on remote modules (ie, something like service) vs something executed locally, but I am not sure which one should be first, ie, is there more demand for module that will manage a python 3 system, or for module being run locally on a python 3 controller, dealing with a remote API ?

I would say the 2nd, but w

[2016-11-14 15:58] jimi-c commented on #18462
A simple reproducer is here: https://gist.github.com/jimi-c/1ae8ba59f2ca07e1d682bd7eccc0e674

[2016-11-14 16:00] alikins commented on #18438
I suspect this is just winrm connection timeouts.

Try setting ansible_winrm_read_time_sec and ansible_winrm_operation_timeout_sec to higher values (default are 30 sec for former and 20 sec for the latter).

If possible, try running with '-vvv' and including the ansible-playbook output here or in a gist/pastebin. Probably don't need to include the script output itself, just the ansible-playbook ou

[2016-11-14 16:06] bcoca commented on #18462
No, this is different. Here we have a non static include having the conditional be inherited and `when` cannot prevent `with_` undefined errors.

When adding `static: no` to the task, the inheritance does not happen as the tasks are never included and the `with_` is never processed.

[2016-11-14 16:15] #18473 closed, assigned to alikins

[2016-11-14 16:16] cherti commented on #17877
is this fix included 2.2? Because this just hit me with the new ansible 2.2 with the copy-module. As I'm not sure if I should open another issue for this or if it is this code not having landed in 2.2, I thought I might ask here. :)

[2016-11-14 16:18] agaffney commented on #17877
Yes, this is fixed as of 2.2.0 RC2. It's likely not the same issue, as I can verify it's still fixed in 2.2.0

[2016-11-14 16:19] alikins commented on #18444
u'\u2018' is: ‘  ('LEFT SINGLE QUOTATION MARK' )  but not sure where that is coming from.

For the lxc system, what does the LANG (or other LC_\* ) env vars look like?

[2016-11-14 16:20] cherti commented on #17877
then I'll open another issue for this.

[2016-11-14 16:21] Jonnymcc opened #18482 "Broken pipe; Sharing connection closed."
Sorry if there are similar issues but I think I have a specific case.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
command module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS 10.11.6
OpenSSH_6.9p1, LibreSSL 2.1.8

##### SUMMARY
This happens sporadically. It appears to happen once and then on subsequent runs the error disappears. After waiting f

[2016-11-14 16:32] alikins commented on #18475
Could you include the output when running with the '-vvv' verbose arguments?

What does the 'docker_cs_engine_supported_versions_ubuntu' dict look like? Where is the 'Core' coming from?

[2016-11-14 16:33] rmfitzpatrick opened #18483 "Conditionally omitted task file task conditions are evaluated"
When a role task file is conditionally omitted, the `when` statements in its tasks are still evaluated and cause fatal errors when those conditions use variables that haven't been registered or set.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
stable 2.2 and devel
bisect shows this was introduced by debfb798dd15c9cea0ebfdc95e4bce9cc459c039

##### OS / ENVIRONMENT
rhel/centos/ubuntu/osx

[2016-11-14 16:38] jctanner commented on #18483
@jimi-c can you take a look?

[2016-11-14 16:48] bcoca commented on #18483
the include task is 'statically evaluated' which means the `when` is inherited by the included tasks and appended to their conditions. You can force 'dynamic' evaluation so the `when` applies to the include itself by adding `static: no` to the include task.

[2016-11-14 17:01] nitzmahone commented on #18438
@Furiml Since you're using 2.2, could I get you to try pushing the script to the host yourself and using the `win_shell` module instead? I suspect we might be running into an internal buffer deadlock with the direct consumption of output via WinRM in the script action. We explicitly handle that in `win_shell` (and test for it)- give that a try and see if it works better for you...

[2016-11-14 17:02] rmfitzpatrick commented on #18483
If this is the case could it be possible to prepend the inherited include condition instead of requiring undesired updates to previously reliable playbooks?  The functionality would be the same in the end and would be a smoother user experience.

[2016-11-14 17:06] bhcopeland commented on #18444
LXC system, which is the same as my other servers:

[code]

[2016-11-14 17:07] nitzmahone commented on #18468
This is almost certainly the same issue others have hit- it appears to be the HTTPS tunnel getting wedged (not sure if it's the Windows side or the OpenSSL side). In the cases I've been able to reproduce it, it's only fixable by twiddling the Windows allowed ciphers/protocols (eg, with a tool like IISCrypto) and/or recompiling Python against a newer version of OpenSSL. 2008R2 seems more susceptibl