[2018-01-11 00:34] lindsm opened #34726 "win_package retries"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
win_package

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS Sierra 10.12.6

##### SUMMARY
win_package ignores retries.

##### STEPS TO REPRODUCE
Use win_package to install an MSI on a windows host with retries set.  Start a install by hand, preferably a long running one, or one with prompts.  Execute the sample task

[2018-01-11 00:59] andrewvaughan commented on #17446
I moved it here when I learned about the `ansible-` prefix standards.  Sorry for the switch:

https://galaxy.ansible.com/andrewvaughan/prompt/

[2018-01-11 01:08] lindsm commented on #34726
Sorry clicked the wrong button and submitted an issue before I had filled anything out.  Temporarily closed it until I got it filled out.

[2018-01-11 01:13] mildebrandt opened #34727 "pipelining doesn't work with python3.6 on Mac"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sudo

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

When running sudo through ssh with pipelining enabled, the selector doesn't detect any events. Inside ansible/plugins/connection/ssh.py I can see that it correctly detected the become_prompt and sent the password to the stdin. Then

[2018-01-11 02:11] 2nd-machine commented on #19880
We're experiencing this issue as well when we switched to the ecr credential helper. It looks like docker-py supports this feature since this MR: https://github.com/docker/docker-py/pull/1662

[2018-01-11 02:12] sheldonkwok commented on #19880
Running into this issue as well since we switched to the ecr helper. It looks like docker-py supports using the credHelper since: https://github.com/docker/docker-py/pull/1662

[2018-01-11 03:25] yuwzho commented on #31967
@zikalino

[2018-01-11 03:37] kcd83 commented on #27780
I would think the only reason to clean is to ensure the next package action does an update... clear cache vs clear cache and update

[2018-01-11 04:47] kcd83 commented on #30901
Here is another workaround

[code]

[2018-01-11 05:32] vincentwoo commented on #29869
Somewhat amusing to see ansibot @ itself. Can't update the description myself, but hopefully someone sees this!

[2018-01-11 07:03] #31303 closed, assigned to trishnaguha

[2018-01-11 07:58] Ph03n1xRt opened #34729 "I have an unknown error to connect to the host"
<10.70.23.31> ESTABLISH SSH CONNECTION FOR USER: None
<10.70.23.29> ESTABLISH SSH CONNECTION FOR USER: None
<10.70.23.29> SSH: EXEC ssh -C -q -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o ConnectTimeout=10 -o ControlPath=/home/cym/.ansible/cp/ansible-ssh-%h-

[2018-01-11 08:16] jhawkesworth commented on #34226
My previous comment is wrong - I was testing with ansible 2.3.0.0.
I can reproduce this behaviour with latest devel branch.

[2018-01-11 09:29] asaphe commented on #4319
A single playbook with two `Hosts:` directive each targeting a different hosts group.
The host itself has the same name but different IPs. (Internal/External)

**Expected Result:**
Ansible should target the correct host per group.

**Result**:
Ansible targets only one of the hosts under a specific group
**Note** that list actually targets the different group and manages to select the correct hostn

[2018-01-11 10:02] jimholden82 commented on #34698
Thanks for the work around.
I'm unfamiliar with the process and rules: Shoudl I leave this issue 'as-is', edit it or re-open as feature request?

[2018-01-11 10:20] sc0rp1us commented on #30366
Hello there,

maybe my this can help someone else
consul config should have correct json
so I had same problem with `bootstrap_expect: "{{groups['consul-server']|length}}"`
because bootstrap_expect should be int
so I solve it by this hack

[code]

[2018-01-11 10:22] Madhura-CSI opened #34732 "AWS direct connect modules are unable to create direct connect resources when 'ec2_url' is specified."
AWS Direct Connect modules cannot create required resources like direct connect connection or gateway when 'ec2_url' parameter is specified in a playbook run.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
aws_direct_connect_connection
aws_direct_connect_gateway
aws_direct_connect_link_aggregation_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Centos 7.4

[2018-01-11 10:37] #34729 closed, assigned to nobody

[2018-01-11 10:38] kraduk commented on #33240
This is a genuine issue, however I have been able to work around it.

1. In your plays remove and references to proxies
2. One the affected hosts  define the https_proxy and http_proxy env vars.

I'm sure you have tried this but it didnt work as usually people stick them in the ~/.bashrc or under /etc/profile.d/ or similar.  This is fine for interactive shells but ansible doesnt seem to pick them

[2018-01-11 10:50] #31277 closed, assigned to rcarrillocruz

[2018-01-11 10:51] #31279 closed, assigned to rcarrillocruz

[2018-01-11 10:58] guillemsola commented on #16818
For the record, I was having the same issue and came here as the first Google term. After renaming a host machine run the `.\ConfigureRemotingForAnsible.ps1 -ForceNewSSLCert` to force creating a new certificate to solved it.

[2018-01-11 10:59] sparunakian opened #34733 "LDAP lookup"
Hi,

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
LDAP lookup

##### SUMMARY
A LDAP lookup would be quite useful to get information from a LDAP server. A use case would be the creation of users queried from the LDAP server.

There already is a community LDAP lookup at https://github.com/quinot/ansible-plugin-lookup_ldap which works very well. The author would be ok with the integration

[2018-01-11 11:09] jborean93 commented on #34226
This is due to the change from sharing the copy action plugin with the posix side to now our own special windows variant in the 2.4. Unfortunately in this process the diff mode was missed and has to be readers.

[2018-01-11 11:31] tiukhtinvladimir commented on #33461
@soliverr this is a point. We would like to build cache separately

[2018-01-11 11:42] krisleech commented on #14426
I had to `killall ssh`, maybe a stale ssh connection if you are using `ControlPersist`.

[2018-01-11 11:54] Gaurav2728 opened #34734 "! not supported in password when passing with ansible_become_pass"
Hi Ansible team,

I am using `ansible 2.4.2.0`

I want to pass sudo password with ansible playbook command. I am using the following command to do that and in my password `!` is present.
When I am running the following command
`ansible-playbook -i hosts.ini hubs.yml --extra-vars "ansible_become_pass=abc!"`

I am getting error: `-bash: !": event not found`

But if I remove `!` symbol in my password

[2018-01-11 12:27] Akasurde commented on #34734
@Gaurav2728 Thanks for reporting this issue. Could you please try single quote instead of double quote.

[2018-01-11 12:28] Akasurde commented on #34734
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2018-01-11 12:28] #34734 closed, assigned to nobody

[2018-01-11 12:40] #31276 closed, assigned to rcarrillocruz

[2018-01-11 12:41] Gaurav2728 commented on #34734
@Akasurde thank you for support. I'll use IRC for that.

[2018-01-11 12:44] suzuki-shunsuke opened #34736 "ansible role's dependency is called only once although it is called twice with different parameters."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

roles

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Mac OS X

##### SUMMARY

ansible role's dependency is called only once although it is called twice with defferent parameters.

##### STEPS TO REPRODUCE

roles/foo/meta/main.yml

[code]

roles/hello/tasks/main.yml

[code]

playbook.yml

[code]

##### EXPECTED RESULTS

When the playbo

[2018-01-11 12:53] achinsngh opened #34737 "ansible authentication failed when trying to run some command but login using vault is working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)
NAME="CentOS Linux"
VERSION="7 (Core)"

##### SUMMARY

i am trying to login to ansible user of the remote user using my ansible server using vault key and it is working fine, like this
[code]

But when I am trying to execute so

[2018-01-11 13:34] ChristianTacke commented on #19086
There is now #33195

[2018-01-11 14:00] websmurf commented on #30827
I'm getting the same issue with ansible 2.4.2.0 as well
[code]

[2018-01-11 14:09] gitet opened #34739 "Value passed to playbook using 'ansible-playbook -u' is not exposed in variable available to playbook author"
##### ISSUE TYPE
~~- Bug  Report~~
- Feature Idea
##### COMPONENT NAME
Ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/home/eto/github/ansible/playbooks/ansible.cfg) = [u'/home/eto/github/ansible/playbooks/inventory']
DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /home/eto/github/ansible/playbooks/ansible.log
DEFAULT_MODULE_PATH(/home/eto/github/ansible/playbooks/ansible.

[2018-01-11 14:24] achinsngh commented on #34737
updated the issue with component/module

[2018-01-11 14:44] ryanpetrello commented on #33999
Any more news on this?  As @ghjm and @matburt mentioned, releasing this change in 2.5 _will_ prevent _all_ current and past Tower users from upgrading to 2.5.

[2018-01-11 15:10] #34312 closed, assigned to nobody

[2018-01-11 15:42] #26371 closed, assigned to trishnaguha

[2018-01-11 15:42] #32635 closed, assigned to trishnaguha

[2018-01-11 15:42] dagwieers commented on #34698
No, leave it open. It is a bug-report to me as the intention was to make it identical to the **uri** module.

[2018-01-11 15:43] #34646 closed, assigned to trishnaguha

[2018-01-11 15:48] guillemsola commented on #34698
I was about to say don't close it! I spent the last two hours with this json issue. Luckily I made the search at the right moment 😀

[2018-01-11 15:53] dagwieers commented on #34698
Looking at the code it should be returning `Content`, `Images`, `InputFields`, `Links`, `RawContent` keys when `return_content` is set. So from that perspective, this is working. That it is returned as a string is something to discuss.

But if we want to make this identical to **uri** we should be returning `json` too. I would discuss the exact behaviour on a Windows Working Group meeting.

[2018-01-11 15:55] ocervell commented on #15040
This is still really an issue as sometimes the failure messages are really long.
@marcosdiez has a good solution that could be embeeded in Ansible, please consider it.

[2018-01-11 15:58] resmo commented on #34153
I also confirm this issue, pymongo v3.6.0.

To me it looks like an issue in pymongo as mongodb would allow to query the version without auth.

[2018-01-11 15:59] Qalthos commented on #34701
Well, I can't reproduce this. Prompts are definitely a thing that should be handled properly already. This _looks_ like the output one would expect if the users are already removed from the device.

That said, if you're sure the users are there, could you please show me the full `-vvv` output of the following playbook (adapted to your environment):

[code]

That should give me a better idea of whe

[2018-01-11 16:11] sivel commented on #33177
We have discussed this in the Core Team Meeting on Jan 11, 2018.

After looking at the code previous to 2.4, and discussing what our expectations are, we have decided that the previous behavior was a bug, and we will not be adding functionality to mimic the pre 2.4 behavior.

Previous to 2.4, this was handled as part of inventory, effectively making the initial playbook part of the inventory, whic

[2018-01-11 16:14] pari- commented on #34690
Hi @Vladimir-csp,

as I see it: to the `lineinfile`-module, every one of the subsequent calls is independent from the former (which IMHO is correct, since otherwise it'd comprise containment), therefor what you see is

*item[0]*:
the regexp matches => the line will become replaced
*item[1-4]*:
the regexp does not match => the line will be added to the end of the file.

This is exactly the same beh

[2018-01-11 16:20] #29600 closed, assigned to nobody

[2018-01-11 16:29] pschiffe commented on #33177
@sivel thank you for the update. Is there a way how to work around this? Can I define variables in a way, that different playbook will have access to them? My use case is simple - I have my custom playbooks and roles, which include playbooks from some installer.. Only way I currently know of, is to specify the variables on the command line with `-e` option.. Is that it?

[2018-01-11 16:47] windowsrefund commented on #25626
Perhaps not. The distinction between occurences filtering and an attribute named occurrences is less than clear and leads to tons of confusion.

[2018-01-11 16:53] ghjm commented on #33999
@sivel @abadger @bcoca see above

The Tower team really needs to know what's expected to be in 2.5, and I really want the answer to be "not this, yet."

[2018-01-11 17:03] #23957 closed, assigned to nobody

[2018-01-11 17:20] kwerey commented on #34700
I figured out the issue here - the module passes an empty string for `KmsKeyId` and `False` for `EnableLogFileValidation`, and this causes the CloudTrail service because it doesn't support those parameters.

I'll make a PR to leave those options out of API calls unless explicitly set in the module params. That changes one default module behaviour (setting 'EnableLogFileValidation' to false) but si

[2018-01-11 17:41] beddari commented on #29273
Hm, this seems worthwhile, but can't find the referenced PR any more? What happened @jtyr ?

[2018-01-11 17:44] font commented on #19086
Closing this as it is solved by #33195.

[2018-01-11 17:44] #19086 closed, assigned to nobody

[2018-01-11 17:45] kokarn commented on #19352
I'm seeing something that might be related to this as well.
The win_template.changed is always true on every run.

[2018-01-11 17:51] mckerrj commented on #33999
We can't break install/backward compatibility like that.  But @ghjm @matburt @ryanpetrello is Toshio's "toggle" suggestion above a sufficient fix or not?

[2018-01-11 17:59] dkirrane opened #34746 "vmware_guest module doesn't allow creation of vm under specific DataCenter folder & DataStore folder"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
vmware_guest module doesn't allow creation of the VM under a datacenter folder and datastore folder

##### STEPS TO REPRODUCE

Settings folders in the module like below do not work for VM creation

[code]

##### EXPECTED RESU

[2018-01-11 18:03] lnovara commented on #10791
Since Ansible modules are now merged with the main repository, can this issue be reopened? I think that there is still interest in having this feature implemented.

[2018-01-11 18:04] foozmeat commented on #34727
I've been experiencing this issue as well since moving to python3 on my mac. Toggling pipelining gets it working again.

[2018-01-11 18:22] eyeofthefrog commented on #34727
@foozmeat Can you describe what you mean my "toggling"? I don't understand it in this context. That usually means setting it to False and then setting it back to True. I don't understand how that would fix this issue. Thanks.

[2018-01-11 18:36] foozmeat commented on #34727
@eyeofthefrog yes you're right, I made a confusing comment. In the past we've had pipelining set to True but have to set it to False if ansible is running under python3 or else we get the error described above.

[2018-01-11 18:47] boomertsfx commented on #34001
The key for the `test` user should be owned by root with 644 perms when you're using a central SSH keys directory.  Typically you want to do this when you want to control the user's ability to add any key they want if it was in their `~/.ssh` directory.

I think owner and mode parameters need to be added to the authorized_keys module.

[2018-01-11 18:53] saichint opened #34747 "nxos_vxlan_vtep is not idempotent for source_interface_hold_down_time"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vxlan_vtep
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(3)
##### SUMMARY

1. source_interface_hold_down_time has a default value of 180. In the ansible code, this is not defined in the defaults and it is causing idempotent issues. However on older platforms, this is not

[2018-01-11 18:56] ghjm commented on #33999
I'm happy for it to be a toggle, as long as the default in 2.5 is the old behavior.  If we make it the default in 2.6, that should be post-Tower 3.3, so that should be fine too.

[2018-01-11 19:21] sivel commented on #33177
@pschiffe `host_vars` and `group_vars` are sourced from 2 locations.  Either inventory *file* relative or playbook *file* relative.  Perhaps they can be moved to inventory *file* relative.  Otherwise you might look at `include_vars`.

[2018-01-11 19:21] #33177 closed, assigned to nobody

[2018-01-11 19:25] sivel commented on #33999
I will be working on the implementation soon.  We are going to add a config and default the value to the old behavior (using the actual method in the message).  Per discussions, we will look to change that default to use agnostic BECOME messages, in either the 2.6 release or the 2.7 release, whichever happens after the Tower 3.3 release.

[2018-01-11 19:26] eyeofthefrog commented on #34727
@foozmeat I see, you meant "toggle to off". I should have understood that, sorry. Thanks for clarifying.

[2018-01-11 19:27] brainclots commented on #33993
Using a special debug build, we can see that when the enable command is sent, ansible does not send the ansible_become_password regardless of how it is supplied (I tried in a group_vars/all.yml file, in the inventory file and via the command line with -e). When the password is not sent, ansible then sends a \r, which causes the switch to prompt "Enter Old Password:", as it assumes you wish to chan

[2018-01-11 19:36] aetelman commented on #34701
Thanks for the quick reply.
After several attempts, I got the playbook to work in our environment.
Below are the outputs with -vvvv, and again with maximum debugging with -vvvv
I also sent you the actual playbook I ran from your example.

[git_ios_user_ANSIBLE_DEBUG.txt](https://github.com/ansible/ansible/files/1623879/git_ios_user_ANSIBLE_DEBUG.txt)

[ios_user issue attempting to remove multiple

[2018-01-11 19:43] ghjm commented on #33999
Sounds good to me @sivel - thanks!

[2018-01-11 19:52] IPvSean opened #34754 "<platform>_vrf and <platform>_vlan module parameter *interfaces* is not DI, it actually configures it"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_vrf
ios_vrf
nxos_vrf
junos_vrf
eos_vlan
ios_vlan
nxos_vlan
junos_vlan

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
the eos_vrf module has a parameter **interfaces**  which is described as a "List of interfaces to check the VRF has been configured correctly."  This is supposed to be a

[2018-01-11 20:09] sivel commented on #34727
I wonder if we should instead, just utilize `selectors2` for py2 and py3 as it's not a 1 to 1 backport of selectors from py3.4+.  From the docs:

So I'm guessing that one of those additional features, might have resolved the problem.

Can you of you test a change similar to:

[code]

needs_info

[2018-01-11 20:10] aetelman commented on #34701
BTW, what is the purpose of the `&` and `*` in the ansible 'remove' command?

I went into the router CLI and typed the `y` after the ``` This operation will remove all username related configurations with same name.Do you want to continue? [confirm] ``` and it was successful. Of course, it never processes the next `remove username` command

[2018-01-11 20:14] eyeofthefrog commented on #34727
@sivel I should have mentioned, I tried that too with no success. Good idea though! :)

[2018-01-11 20:53] wfaulk opened #34760 "Empty hosts declaration in YAML inventory causes partial fallback to INI parsing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default environment, no config or envvars

##### OS / ENVIRONMENT

running from MacOS 10.12.6
managing N/A

##### SUMMARY

YAML inventories where a group contains a "hosts:" group, but no hosts exist inside the group cause ansible to interpret the file partially as just a list of hos

[2018-01-11 21:01] shezaan commented on #22171
This issue is a generic issue and should not be just related to auditd. I am having the same problem even with the sumologic collector which won't start since it is a SysV init script.

[2018-01-11 21:19] jschwanz opened #34762 "aws_kms: 'policy_json_string' referenced before assignment"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_kms

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
RHEL7

##### SUMMARY
On first run using the aws_kms module it completes successfully. The second run it produces an error.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect the job to complete with no changes being made.
##### ACTUAL RESULTS

[code]

[2018-01-11 21:21] sivel commented on #33999
I've opened a PR at https://github.com/ansible/ansible/pull/34761 which should resolve this issue.

Please validate and let me know.

[2018-01-11 21:30] cmndrsp0ck commented on #17939
Not sure if this is related but I have a role/main.yml using a couple of blocks that import different tasks based on inventory_dir|basename, but it looks like both blocks are running regardless of the *when* conditions being true or false.

[code]
The same type of conditional works within the imported tasks though.

[2018-01-11 21:34] natemara commented on #31691
I'm seeing a similar issue when using a `keyserver` as opposed to a `url` directly. I think that `apt-key adv` requires `--keyserver-options http-proxy=$http_proxy` to be provided on the command line in order to work, and I don't see that in the module file

https://github.com/ansible/ansible/blob/e9c2546ffeb30a8675740ca276a71b4718813b97/lib/ansible/modules/packaging/os/apt_key.py#L245

[2018-01-11 21:41] t6n opened #34763 "openbsd_pkg: does not install latest version if multiple versions are available"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openbsd_pkg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg:
[code]

##### OS / ENVIRONMENT
OpenBSD 6.1

##### SUMMARY

I want to install OpenBSD packages with the openbsd_pkg module.
If pkg_add find multiple versions of this package, it fails.
It is independent of the flavor.

##### STEPS TO REPRODUCE

I executed following task:

[2018-01-11 21:42] obilodeau commented on #5683
If you use a dynamic inventory with `digital_ocean.py` (available here: https://github.com/ansible/ansible/blob/devel/contrib/inventory/digital_ocean.py) you can use the `do_id` variable. This allows you to get rid of all the hosts that have a specific tag with a playbook like:

[code]

ansible 2.4.2

p.s.: leaving this here because this is what I was originally looking for and ended up here

[2018-01-11 21:46] jborean93 commented on #34651
Fixed in https://github.com/ansible/ansible/pull/34656

[2018-01-11 21:46] #34651 closed, assigned to nobody

[2018-01-11 21:47] jayman82 commented on #27958
when I installed the following modules the plays worked for me:

sudo pip install junos-eznc
sudo pip install jxmlease

[2018-01-11 21:54] nergdron opened #34764 "count_tag with multiple tags and exact_count in ec2 broken in ansible 2.4.x"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
works:
[code]

broken:
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu 16.04 amd64 on ec2.

##### SUMMARY
Discovered that using multiple count_tag entries + exact_count to prevent spinning up duplicate instances in ec2 no longer works in ansible 2.4.x, and that it'll just spin up a duplicates even when t

[2018-01-11 22:06] nergdron commented on #34764
this should be -affects_2.3 +affects_2.4

[2018-01-11 22:24] danmoz opened #34767 "route53_zone ignores 'comment' parameter if zone already exists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
route53_zone

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/###/ansible.cfg) = True
DEFAULT_MODULE_LANG(/###/ansible.cfg) = en_US.UTF-8
DEFAULT_VAULT_PASSWORD_FILE(env: ANSIBLE_VAULT_PASSWORD_FILE) = /###/.vault_password

##### OS / ENVIRONMENT

MacOS 10.13.2

##### SUMMARY
Ansible will only update the AWS zone comment w

[2018-01-11 22:29] willthames commented on #34732
What is the use case for using ec2_url with directconnect?

My understanding is that ec2_url allows people to use the ec2 modules with non-AWS services (euca etc) but my understanding might be incorrect or incomplete. I'm not sure we do any testing or have changed much to do with ec2_url in years and I thought it was a legacy parameter.

[2018-01-11 22:37] LukeDRussell opened #34768 "ios_facts returns "null" for ansible_net_model when run against IOS-XE devices"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_facts

##### ANSIBLE VERSION
stable-2.4 and devel branches
[code]

##### CONFIGURATION
DEFAULT_CALLBACK_WHITELIST(/Users/luke/OneDrive/Luke/projects/ansiblePSN/ansible.cfg) = ['timer']
DEFAULT_FORKS(/Users/luke/OneDrive/Luke/projects/ansiblePSN/ansible.cfg) = 100
DEFAULT_GATHERING(/Users/luke/OneDrive/Luke/projects/ansiblePSN/ansible.cfg) =

[2018-01-11 22:39] LukeRussell commented on #34768
Output from a Cisco ISR4331 running IOS-XE.

`QATF_SITE1A_R1#show version`
[code]

[2018-01-11 23:29] gmckinley4 opened #34771 "ssh issues"
ansible 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/sha                       re/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Aug  4 2017, 00:39:18) [GCC 4.8.5 20150623 (R

[2018-01-11 23:41] #32301 closed, assigned to sivel

[2018-01-12 02:32] ujmore commented on #10805
I have the same issue. How to configure to elevate the privileges using this command  "pbrun /bin/su -"

[2018-01-12 02:40] ujmore commented on #10805
@sivel
There is no documentation on how to use pbrun_exe and pbrun_flags on the link you have provided. Do you have any example playbook config which will elevate the privileges using "pbrun /bin/su -"

[2018-01-12 04:07] harekrishna0 opened #34777 "ImportError: No module named zipfile"
Hi team,
I am running ansible on a VM in virtual box with Ubuntu 17.10.64. I have created some linux containers to play with it. When ever I run the following command, I get the message (No module named zipfile):

[code]

#####################################
[code]

###########################################

[code]

##############################

Please help troubleshoot this.

[2018-01-12 04:21] itdependsnetworks commented on #32724
@calfonso Is the ansible core team open to allowing (not even coding) the following changes.

- Allow definition of backup directory
- Allow definition of backup filename

[2018-01-12 04:22] Akasurde commented on #34777
@harekrishna0 Thanks for reporting this issue. Could you please try on '10.0.3.237' -

[code]

It seems that `zipfile` module is missing on remote machine.

[2018-01-12 04:24] Akasurde commented on #34771
Hi @gmckinley4 !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2018-01-12 04:24] #34771 closed, assigned to nobody

[2018-01-12 04:28] Akasurde commented on #34746
@dkirrane Thanks for reporting this issue.

You have specified 'folder' in disk section which is not a valid option. Could you please re-try after removing this option? also, could you please paste `-vvvv` output after failure?

needs_info

[2018-01-12 04:36] harekrishna0 commented on #34777
@Akasurde That was the case. Thanks a lot for your help.  I will close this issue.

[2018-01-12 04:36] #34777 closed, assigned to nobody

[2018-01-12 05:20] Akasurde commented on #34777
@harekrishna0 No problem.

[2018-01-12 06:36] ailjushkin opened #34779 "How to change a directory for temporal files on a remote host?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
become

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes.

##### OS / ENVIRONMENT

Control host:

Linux 02b9e1074767 4.9.60-linuxkit-aufs #1 SMP Mon Nov 6 16:00:12 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Controlled host:

Linux srv2-drse-im01.net.billing.ru 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 13 10:46:25 EDT 2017 x86_64 x86_6

[2018-01-12 06:56] cheeye opened #34780 "[Errno 7] Argument list too long and got failed indication with yum module"
##### ISSUE TYPE

 ```- Bug Report```

##### COMPONENT NAME

```Name of the module: yum```

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

```Ubuntu 16.04 server```

##### SUMMARY

Use yum module to update  remote red hat server. Use register to capture the output of the yum installation. When there are tons of packages to install, it shows tons of messages, an

[2018-01-12 07:17] ailjushkin commented on #34779
@ansibot done.

[2018-01-12 07:17] wangycc commented on #21566
[code]
Is this a bug? Code from ansibel stabe2.4: https://github.com/ansible/ansible/blob/stable-2.4/lib/ansible/modules/cloud/amazon/ec2_vpc_net.py

[2018-01-12 07:28] torgiren opened #34782 "Wrong search paths with include_role"
##### ISSUE TYPE
 - Bug Report (propably)

##### COMPONENT NAME
dynamic includes

##### ANSIBLE VERSION
[code]
same on 2.4.0

##### CONFIGURATION
default configuration
ansible-config dump --only-changed - empty result

##### OS / ENVIRONMENT
Linux, but it isn't important

##### SUMMARY
include path are wrong, then using include_roles.
Ansible does not search for tasks in role that use include_task

[2018-01-12 08:34] saiterio opened #34786 "Create --from-tags options for ansible-playbook"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-playbook
lib/ansible/playbook/taggable.py
lib/ansible/playbook/play.py
lib/ansible/cli/playbook.py

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/damien/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/li

[2018-01-12 08:35] Vladimir-csp commented on #34690
It has nothing to do with loops, with_sequence is just a way to optimize reproduction steps.
The issue is: lineinfile adds another `REPLACED` line when there is already `REPLACED` line in the file. This is not idempotent.

[2018-01-12 09:02] MrTwIXx opened #34787 "SSH connection to root user fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
DEFAULT_REMOTE_USER(/etc/ansible/ansible.cfg) = root
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
When I try to connect to a remote server via ssh as root, in the playbo

[2018-01-12 09:31] dedekind commented on #19083
Hi, what would be an alternative of "group many actions, and run them in a loop in parallel" ? The "include + with_items" idiom is what people commonly use a "group many actions and run them in a loop". But adding the "parallel" part is impossible to this common idiom. Any alternatives? Thanks!

[2018-01-12 09:52] jtyr commented on #29273
I had all this implemented in the `yum_repository` module but the Ansible code team didn't like it so I had to remove it. The reason is that Ansible is not allowed to hold any _state_. And the `.namaged` file was some kind of _state_.

[2018-01-12 09:53] danowar2k commented on #22781
I did some tests and found the reason for the strange behaviour. It has to do with restricting versions in Solaris.

[code]
There's the reason we can't update to the latest package. Solaris has packages which freeze the system to some particular package level.
See https://docs.oracle.com/cd/E26502_01/html/E21383/glyus.html#scrolltoc (Incorporation packages)
The package userland-incorporation says

[2018-01-12 10:01] danowar2k commented on #22781
So... the latest userland-incorporation would allow the latest wget version.

But it can't be updated because it needs the latest "entire" incorporation package.

And that itself can't be updated because the global zone doesn't provide the newest version for it.

So in an effective global managed installation we are depending on packages "released" through our gloabl zones, because they are deemed

[2018-01-12 10:06] danowar2k commented on #22781
Thus I can confirm that the patch for #23007 would fix the problem. Please @autarch confirm the fix if you have to so that the patch can be merged. If my word is enough, all the better ;-)

[2018-01-12 10:31] pari- commented on #34690
Hi @Vladimir-csp,

as I stated earlier: If `regexp` is not found , `line` is appended to EOF - this is documented and IMHO correct behaviour.

best regards,
pari

[2018-01-12 10:39] ghost opened #34792 "Return multiple IP addresses or add subnet filter in vmware facts"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

`vmware_vm_facts`

##### ANSIBLE VERSION

[code]

##### SUMMARY

In the current `devel` branch (at the time of writing), a single IP address is returned in the configuration summary. This is taken from the VMware vSphere API Python Bindings (`pyvmomi`).

If the VM has multiple interfaces (and therefore multiple IP addresses), only one of the

[2018-01-12 10:53] sravan1265 opened #34794 "ec2_asg module causes 'AssociatePublicIpAddress field can not be specified without a subnet id' error"
i am getting below error while creating sample auto scaling group.

TASK [Configure Auto Scaling Group] ********************************************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ClientError: An error occurred (ValidationError) when calling the CreateAutoScalingGroup operation: Associ

[2018-01-12 10:56] ailjushkin commented on #21562
Could you please explain where is ANSIBLE_LOCAL_TEMP environment variable described in the ansible docs? I googled for the exact match, but no luck.

[2018-01-12 10:57] drewmullen opened #34795 "ansible-vault appends '\n\' when using echo"
##### ISSUE TYPE
bug... or just documentation error (see bottom)

##### COMPONENT NAME
ansible-vault encrypted_string

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/ansible', u'/opt/ansible/roles']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  py

[2018-01-12 10:58] Akasurde commented on #34792
@cvanniekerk Thanks for reporting this issue.

`vmware_guest_facts` returns all IP addresses for given virtual machine. Could you please try and let me know if it satisfies your requirement.

[2018-01-12 10:59] mrmunch commented on #12862
Any update on this?

[2018-01-12 11:00] sravan1265 commented on #34794
**@ansibot** Thanks for your feedback actually i am trying to create ec2 instance and auto scaling group in aws. please find the below playbook to get the more details.

 ---
- name: spin up the load balancer and add the servers to it
  hosts: webserver
  connection: local
  gather_facts: False
  tasks:
    - name: setup a simple load balancer
      ec2_elb_lb:
        name: aws-blog-elb
        s

[2018-01-12 11:01] mavink78 commented on #34641
I originally installed using this command:
`pip install --ignore-installed git+https://github.com/ansible/ansible.git@devel`

I just upgraded using `pip install --upgrade --ignore-installed git+https://github.com/ansible/ansible.git@devel` but that didn't fix the error.

[2018-01-12 11:03] drewmullen opened #34796 "ansible-vault documentation error"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ansible-vault encrypt_string

##### SUMMARY
documentation [here](https://docs.ansible.com/ansible/2.4/vault.html#use-encrypt-string-to-create-encrypted-variables-to-embed-in-yaml)

notice 'the_secret' != 'some_foo'

 Result:
 some_foo: !vault |

very confusing while trying to learn vaulting

[2018-01-12 11:21] cvanniekerk commented on #34792
@Akasurde Thanks for the quick response.

According to my understanding, `vmware_guest_facts` only returns the details of one VM at a time. When dealing with a large number of VMs, this reduces the performance and also increases the complexity of the playbook. This is typical in my example of needing to build an in-memory inventory.

[2018-01-12 11:40] Vladimir-csp commented on #34690
I can not find this behavior in the docs. Perhaps you've confused it with `insertbefore/insertafter`.

[2018-01-12 12:17] hemskgren opened #34799 "bigip_command show command"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-01-12 12:51] mkrizek commented on #34795
cc @alikins

[2018-01-12 12:53] mkrizek commented on #34796
Thanks for the report! This has been already fixed in `devel` branch.

[2018-01-12 12:53] #34796 closed, assigned to nobody

[2018-01-12 13:17] balonik opened #34801 "vmware_guest ignores 'cluster' option when creating VM"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
VMware vCenter environment:
1 Datacenter 'DC'
2 Host clusters under that DC called 'clusterA' and 'clusterB'
1 ESXi 6.0U3 host under each cluster (2 total)
There are some VMs running on clusterA-ESX.
clusterB-ESX is empty.

##### SUMMARY
While using vmware_

[2018-01-12 13:18] mkrizek commented on #34737
cc @alikins

[2018-01-12 13:21] yuskul commented on #9867
@bcoca
Nice to see such a kind support of Ansible! Though the ticket is closed, but the described issue persists in Ansible 2.4.2. When I use an arg `vpc_subnet_id: "{{ vpc.subnets.id | default(item.subnet) }}"` in `ec2` module, it throws me a fail:

 But if I pass the (undefined) var with a one value (not nested in another value, as above), `vpc_subnet_id: "{{ vpc.subnets_id | default(item.subnet

[2018-01-12 13:21] balonik opened #34802 "vmware_guest tries to create VM on ESX in maintenance mode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
VMware environment:
1 DC with ESX cluster and 2+ ESXi hosts
1 ESXi host in maintenance mode

##### SUMMARY
vmware_guest does not take into account if ESXi host is in maintenance mode.
I've tried 10 times. Always the ESXi host in maintenance mode was selecte

[2018-01-12 13:27] cvanniekerk commented on #34792
@Akasurde I have done some tests by replacing a single call to the `vmware_vm_facts` module with multiple calls to `vmware_guest_facts` and I can say the performance is quite acceptable in my environment.

For the moment, for my use I find this to be an acceptable solution.

[2018-01-12 13:40] machacekondra opened #34803 "ovirt: Support passthrough host devices for Virtual Machines"
oVirt support PCI passthrough for virtual machines:

 https://www.ovirt.org/documentation/install-guide/appe-Configuring_a_Hypervisor_Host_for_PCI_Passthrough/

We need to support to attach host devices to VMs using Ansible.

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ovirt_vms

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO

[2018-01-12 13:58] james-portman commented on #18694
This is now happening here too in 2.4.2.0.
I have got as far as - something (python requests?) has stopped using the system CA certs.
I had to run export or set this in /etc/environment

REQUESTS_CA_BUNDLE="/etc/ssl/certs/ca-certificates.crt"

[2018-01-12 14:33] yuskul commented on #26182
@bcoca
Nice to see such a kind support of Ansible! Though the ticket is closed, but the described issue persists in Ansible 2.4.2. When I use an arg `vpc_subnet_id: "{{ vpc.subnets.id | default(item.subnet) }}"` in `ec2` module, it throws me a fail:

 But if I pass the (undefined) var with a one value (not nested in another value, as above), `vpc_subnet_id: "{{ vpc.subnets_id | default(item.subnet

[2018-01-12 14:44] rlueckl commented on #22571
I tried it with "include_role", but I'm still getting an error:

[code]

Output:
[code]

balancing_disable_{{ lbtype }}.yaml exists under roles/loadbalancing/tasks/

Ansible 2.4.2.0

[2018-01-12 14:45] miticojo opened #34804 "Force group creation to be local"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
group module

##### ANSIBLE VERSION
N.A.

##### OS / ENVIRONMENT
- RHEL/CENTOS 7

##### SUMMARY
As already applied and merged for user module (#22140), I would like to add the option force=yes to the group module such that is used grouped instead of groupadd.

[2018-01-12 14:55] promaty commented on #18305
Still no solution in Ansible 2.4 ?

[2018-01-12 14:56] Akasurde commented on #34792
@cvanniekerk Ok. I will try to come up with something which will work out-of-the-box for `vmware_vm_facts`.

[2018-01-12 15:12] Madhura-CSI commented on #34732
Yes. ec2_url is legacy parameter and it can be avoided for standard AWS module calls. But since this is still allowed(as required by other non-AWS services), if we specify that explicitly and invoke 'aws_direct_connect*' modules, the endpoint_url becomes wrong in the below boto3_conn.
connection = boto3_conn(module, conn_type='client',
                            resource='directconnect', region=r

[2018-01-12 15:58] geerlingguy commented on #32472
Gah, was banging my head into a wall for an hour today on this...

[code]

This works fine.

But:

[code]

Fails with the following:

[code]

The workaround I'm using currently is to set `failed_when: False`, and then for the next task:

[code]

Obviously this is a contrived example; in my case I'm looking at a few other error codes, but for an illustration/test case it works fine to show the prob

[2018-01-12 16:02] mkrizek commented on #34739
`ansible -u $REMOTE_USER -m debug -a "msg={{ ansible_user }}" localhost`

[2018-01-12 16:05] Akasurde commented on #34802
@balonik Thanks for reporting this issue. Could you please try https://github.com/ansible/ansible/pull/32139 and let me know if it works for you ?

[2018-01-12 16:05] Kevin-De-Koninck commented on #33760
Hi,
I have the same error when creating a VM.

the detailed error:

[code]

My task:
[code]

My ansible version:

[code]

When I try [this](https://github.com/Akasurde/ansible/commit/958fa23243ca7b72d697c909bf89f2f083c3a462) patch, proposed by @Akasurde, I get the following error message:
[code]

[2018-01-12 16:06] mkrizek commented on #34760
cc @bcoca

[2018-01-12 16:07] Akasurde commented on #34801
@balonik Thanks for reporting issue.

[2018-01-12 16:14] mkrizek commented on #34787
The error message says `sudo: a password is required`, have you run with the `-K` option to provide a sudo password?

[2018-01-12 16:20] dgjustice commented on #22192
@lpenz [Jetconf](https://github.com/CZ-NIC/jetconf) is an open-source RESTCONF implementation written in Python.  You might be interested in testing with it at some point.  It is used on the [Turris](https://www.turris.cz/en/) platform.

[2018-01-12 16:21] Akasurde commented on #33760
@Kevin-De-Koninck Thanks for testing the patch. The problem here is that I am not able to re-produce this in my local environment. As a workaround -

[code]

Let me know failure after this. Thanks.

[2018-01-12 16:27] autarch commented on #22781
Unfortunately, this was a for work thing that is no longer being worked on, so I don't think I'm going to be able to check :(

[2018-01-12 16:28] #33999 closed, assigned to nobody

[2018-01-12 16:30] #20819 closed, assigned to Akasurde

[2018-01-12 16:36] pschiffe commented on #33177
@sivel thanks. Moving the group vars relative to the inventory file fixed the problem for me.

[2018-01-12 16:53] Kevin-De-Koninck commented on #33760
@Akasurde Yes, I also did the same already in my file. and this bypasses the problem described in this issue.

_But then I encounter another bug 'Failed to find a matching datastore' when trying to power on the recently created but that's not related to this issue._

[2018-01-12 16:56] Akasurde commented on #33760
@Kevin-De-Koninck Can you help me getting variable value of `clonespec` and `self.configspec` ?

It is very simple. Install Python package called [`q`](https://pypi.python.org/pypi/q) and use as

[code]

You will get values in `/tmp/q` file. Let me know those values so I can backtrack the error based on your setup. Thanks in advance.

[2018-01-12 16:57] Akasurde commented on #33760
_Failed to find a matching datastore_ is a known issue.

[2018-01-12 16:59] sivel commented on #34795
Vault is not appending the newline, your use of echo is causing the newline.

You will need to use `echo -n` to prevent echo from adding the newline to your data.  Vault should not be responsible for stripping newlines, as the newlines could be desired.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.g

[2018-01-12 16:59] #34795 closed, assigned to nobody

[2018-01-12 17:08] newsletter2go opened #34811 "HAProxy module does not work with python3 interpreter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
HAProxy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible OS: Ubuntu 16.04
Managed OS: Ubuntu 16.04

##### SUMMARY
When using python3 as ansible interpreter the haproxy fails while setting the backend to a specific state.

##### STEPS TO REPRODUCE
[code]

It works when no specific ansible interprete

[2018-01-12 17:20] Zalek-Git opened #34812 "Juniper unable to open shell"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION
2.3.1

##### OS / ENVIRONMENT
Ubuntu
JunOS

##### SUMMARY
When I try to edit Juniper SRX300, I get unable to connect to shell problem. I had no problem with junos_get_facts module, but junos_config module is unable to connect to shell

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The playbook to con

[2018-01-12 17:21] caphrim007 commented on #34799
@hemskgren I believe this is fixed in 2.5. Have you tried that version (ie, devel)?

[2018-01-12 17:42] jhawkesworth commented on #34226
Thanks @jborean93

I took a look at the win_copy action plugin to see if I could re-add the diff support, and made the following change.  Although it seems to put the diff info into the results, for some reason the diff still isn't displayed.
I am not yet sure if this is the only place it might need adding (due to win copy's zip mode - not sure what an appropriate diff for a compressed file set wo

[2018-01-12 17:50] sivel commented on #34517
FWIW, we dropped the "hacks" in validate-modules, so any failure to import due to this type of behavior results in `E321`, and is being ignored in `test/sanity/validate-modules/ignore.txt` for now.  Running `validate-modules` on it's own (external to ansible-test) will display any tracebacks along with those errors.

That change is in devel now.

[2018-01-12 17:56] jctanner commented on #33760
@Akasurde @Kevin-De-Koninck you may want to try it this way ...

[code]

If the data is too large for q's log, it will write the data to another file like "/tmp/q-wfweiasdfl.txt". Include those with your next update too.

[2018-01-12 18:16] gitet commented on #34739
[code]

[2018-01-12 18:17] caphrim007 commented on #34517
@sivel I've fixed all my modules. I'm in the process of merging them into devel. Afterwards, the hacks can be removed.

[2018-01-12 18:33] cacampbell commented on #23023
Hi, me too thanks

[code]

Still getting 'ansible_default_ipv4 is undefined' for these hosts in the next task (when this is imported via import_role into a task list)

[2018-01-12 19:10] nilloBE commented on #34211
I agree with the above proposed approach. I would suggest the following as text:
"OpenStack VMM domains must not be created using this module. The OpenStack VMM domain is created directly by the Cisco APIC Neutron plugin as part of the installation and configuration. This module can be used to query status of an OpenStack VMM domain."

[2018-01-12 19:45] drewmullen commented on #34795
Hi thanks @sivel I know that fixes the issue, i wrote that at the bottom of my issue ticket. However, if thats the intended usage, then the ansible docs need to be updated

From the bottom of my write up:

[2018-01-12 20:29] jwitko opened #34816 "ec2_group module errors intermittently when "group_name:" parameter includes existing group"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I have a large YAML file that defines lists of dictionaries that contain my AWS security groups.  I also have a playbook which loops over these lists and creates security groups from them.  Sometimes when running the playbook I will rec

[2018-01-12 21:30] caphrim007 commented on #34355
@termlen0 this should now be fixed in f5-ansible. Will upstream before 2.5

[2018-01-12 21:30] #34355 closed, assigned to caphrim007

[2018-01-12 22:02] mohankumarbm opened #34821 "ansible (ansible-vault) decrypt files inside zip/tar file"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
copy,unarchive,archive

##### ANSIBLE VERSION
ansible 2.4.2.0

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
ansible module (copy,unarchive ) to decrypt files inside zip or tar file.

##### STEPS TO REPRODUCE
1. Encrypt files using ansible-vault
2. Create a zip/tar file containing encrypted files
3. copy to remote server and u

[2018-01-12 22:02] Everspace opened #34822 "s3_bucket policy fails in python3 with "TypeError: the JSON object must be str, not 'bytes'""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

s3_bucket

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Docker container,
[code]

##### SUMMARY

Running the playbook and specifying "policy" for a bucket fails due to the json not being converted.

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

[code]

[2018-01-12 23:55] kwilson7770 commented on #31419
I realize this was closed, but what is with the directories within ansible?

This is a installation path for ansible:

test/integration/targets/copy/files/subdir/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circle

[2018-01-12 23:59] kwilson7770 opened #34827 "Test code is in the ansible production code breaking Windows installation among other things"
This is a installation path for ansible:

test/integration/targets/copy/files/subdir/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/cir

[2018-01-13 00:01] kwilson7770 commented on #34827
Also, you can find where this code was added on fossies.org:

https://fossies.org/diffs/ansible/2.3.2.0_vs_2.4.0.0/

look for test/integration/targets/copy and you will see where it was added

[2018-01-13 00:12] gundalow commented on #33950
These issues have also been identified by https://github.com/ansible/ansible/pull/34809

[2018-01-13 02:39] aarnaud commented on #30613
I think, this commit introduce this bug
https://github.com/ansible/ansible/commit/baf1ed9100803b0962554d5bbf30e0e531af9b34

[2018-01-13 03:06] axarriola opened #34829 "SSH authentication for new named Juniper.junos modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Juniper.junos, 2.0.0

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ACCELERATE_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 5.0
ACCELERATE_PORT(/etc/ansible/ansible.cfg) = 5099
ACCELERATE_TIMEOUT(/etc/ansible/ansible.cfg) = 30
DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/plugins/action']
DEFAULT_CALLBACK_PLUGIN

[2018-01-13 06:55] sensomatic commented on #26968
HI @mkrizek,
I have a similar issue, so if I may continue on with answers to your diagnostic questions...
or if you prefer I can raise a new ticket

#### Ansible version
ansible-playbook 2.4.3 (stable-2.4 ccf10e95fc) last updated 2018/01/04 10:17:23 (GMT +1100)
#### Playbook
[code]

#### Relevant part of the playbook output
[code]

#### Specific answers to debugging questions
`/usr/bin/rpm -q --qf

[2018-01-13 07:42] Akasurde commented on #34801
You have specified `cluster` value as "clusterA", try using "clusterB" as `cluster` value.

needs_info

[2018-01-13 09:19] jhawkesworth commented on #31419
Its for testing symbolic links
This is what it looks like in the source code:

[code]

[2018-01-13 10:23] eest commented on #34763
See my comment in https://github.com/ansible/ansible/pull/34766

[2018-01-13 10:53] tomaluca95 opened #34832 "from_yaml can't decode yaml with vault values"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

!component

filter from_yaml

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Debian 9

##### SUMMARY
I have a playbook that deploys OpenStack instances and creates all configs in the ansible inventory.
Part of the process is modify the `all.yml` file in the group_vars directory.
If the file has a vault string f

[2018-01-13 15:50] pari- commented on #34690
Hi @Vladimir-csp,

unfortunately, I am not. The synopsis of the module (`lineinfile`) says:

`This module will search a file for a line, and ensure that it is present or absent.`

Therefor, when your `regexp` is not found, it'll be added to EOF (correct and intended behaviour).

Now, when looking at the `backrefs`-parameter:

[code]

Therefor, your bug is invalid. If you want `lineinfile`-module w

[2018-01-13 16:04] Vladimir-csp commented on #34690
Looking back, it appears I've never used a regexp that doesn't match after the change, until recently. Using `backrefs: true` fixes the issue.
I would suggest adding an explicit note to the regexp section of the manual that it adds line at EOF if unmatched.

[2018-01-13 16:15] pari- commented on #34690
Hi,

well, the `EOF`-behaviour is unrelated to `regexp`, but comes from `insertafter` (which is `EOF`, by default), also see it's related documentation:

```If specified regular expression has no matches, EOF will be used instead.```

PS: I am happy you got your issues fixed at last .. ;-)

regards,
pari

[2018-01-13 20:18] balanandam commented on #16354
Hi,

I am also facing the same issue like permission denied always asking for password for connecting to remote host using ssh though I did set for id_rsa file and used ssh-copy-id remote-host. Here is the verbose attached, could anyone please do check and do the needful. Thanks in advance for your help.
Using AWS EC2 AMI - RHEL

SSH: EXEC ssh -C -o ControlMaster=auto -o ControlPersist=60s -o KbdI

[2018-01-13 22:31] mzpqnxow opened #34835 "Error in user module with Solaris 11.3 target"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`user` module

##### ANSIBLE VERSION
2.4.2.0

##### CONFIGURATION
DEFAULT_BECOME(/home/debian/ansible-solaris/ansible/etc/ansible.cfg) = True
DEFAULT_BECOME_ASK_PASS(/home/debian/ansible-solaris/ansible/etc/ansible.cfg) = True
DEFAULT_BECOME_METHOD(/home/debian/ansible-solaris/ansible/etc/ansible.cfg) = su
DEFAULT_BECOME_USER(/home/debian/ansibl

[2018-01-13 23:29] ipatalas opened #34836 "locale_gen module failing with 'No such file or directory'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

locale_gen

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Changed:
[code]

##### OS / ENVIRONMENT
Control machine: `Linux debian 4.9.0-4-amd64 #1 SMP Debian 4.9.65-3+deb9u1 (2017-12-23) x86_64 GNU/Linux`

Controlled machine: `Linux osmc 4.9.29-13-osmc #1 SMP PREEMPT Thu Dec 21 17:18:07 UTC 2017 armv7l GNU/Linux` (http://osmc.tv media cente

[2018-01-14 02:09] magic7s commented on #21562
Having the same issue on 2.4.2.0. Pulling my hair out until I found the `HOME=/root ansible-playbook` trick.

`ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ubuntu/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible

[2018-01-14 03:06] caphrim007 commented on #34517
@sivel this should now be fixes

[2018-01-14 03:06] #34517 closed, assigned to caphrim007

[2018-01-14 04:25] bngsudheer commented on #9786
The issue is occurring on  ansible 2.4.2.0 which prevents using the role ansible.install-gcloud. The test case https://github.com/ansible/ansible/issues/9786#issue-51718114 fails.

[2018-01-14 04:32] jmcgill298 commented on #34449
@rost-d I have updated the module and all tests have passed. I expect this to get merged soon, but feel free to pull down my branch and test if you want

[2018-01-14 05:01] Akasurde commented on #34836
@ipatalas Thanks for reporting this issue. The module is trying to find command `locale-gen` which is provided by package `locale` on Debian/Ubuntu like system. Try installing it on remote machine and re-try.

[2018-01-14 07:38] mindcurv-jerald commented on #10695
+1

[2018-01-14 08:30] ipatalas commented on #34836
@Akasurde it is installed on target machine. When I execute `sudo locale-gen` directly it works just fine.
Even when I keep python script using environment variable mentioned above and then running `sudo python .ansible/tmp/<temp-path>/locale-gen.py execute` on target machine directly to mimic the way ansible runs that it still works.
It only doesn't when executed by ansible.
I think it is related

[2018-01-14 11:55] cropr commented on #30239
Using `pip install docker ` iso. `pip install docker-py` breaks docker_image module, who insists on the use of docker-py.   Ansible version 2.4.2.0

[2018-01-14 12:09] alvaroaleman commented on #34628
Sure. Just wasn't sure sure what Ansibles policy around including patches that add workarounds for bugs in libraries is.

[2018-01-14 12:32] Akasurde commented on #24548
@z3r0fox Could you please re-try with latest Ansible branch as there are lot of changes went between 2.4 and latest branch ?

needs_info

[2018-01-14 13:11] ipatalas commented on #34836
Did some digging and found some new facts.
I was able to reproduce the problem without using Ansible at all.
Basically I ran the following command from the control machine:
` ssh -o User=osmc -C 192.168.1.105 '/bin/sh -c "sudo -H -S -n /bin/sh -c '"'"'python .ansible/tmp/ansible-tmp-1515884163.27-258571792161588/locale_gen.py'"'"'"'`

It's pretty much the same what Ansible is calling. It throws th

[2018-01-14 13:30] deterralba commented on #17346
This is probably not a high priority task, but still it is interesting.

Something like what [blackbox](https://github.com/StackExchange/blackbox) does would be a nice feature: being able to remove the access for one key, instead of using `rekey` to change the password.

Sadly, I don't have enough knowledge in crypto to help here.

[2018-01-14 13:38] eoli3n commented on #29414
Hi,
No, it can be close now.
Thx for your answer and sorry for the late mine.

[2018-01-14 14:14] IoTPlay opened #34851 "ansible on clean-install Mac docker_image task error: <'module' object has no attribute 'get_config_header'>"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/Users/jean/Documents/IoTPlay_Stacks/ansible/ansible.cfg) = [u'/Users/jean/Documents/IoTPlay_Stacks/ansible/inventory/hosts']
DEFAULT_MODULE_PATH(/Users/jean/Documents/IoTPlay_Stacks/ansible/ansible.cfg) = [u'/usr/share/my_modules']
DEFAULT_ROLES_PATH(/Users/je

[2018-01-14 14:53] IoTPlay commented on #34851
Furthermore:
**pip list on the Mac**:
[code]

And,

[2018-01-14 15:47] andeschau opened #34853 "SSH connection unstable on Ansible v2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

wait_for
shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMARY

The SSH connection is intermittent to target host.
The ssh connection should use ssh key (public key) to do authentication.

Bu

[2018-01-14 15:50] paulfantom commented on #34693
@sivel could it be a feature request? Adding this would simplify creating some files, especially ones using `to_nice_yaml` filter.

[2018-01-14 16:55] sharma-raj commented on #20238
Hi getting error boto3 required and it's already installed.
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "msg": "boto3 required for this module"}
pip freeze |grep boto
boto==2.48.0
boto3==1.5.14
botocore==1.8.28

[2018-01-14 17:07] jhawkesworth commented on #34226
here's my reproducer, by the way.

[code]

[2018-01-14 19:04] lxndrv commented on #22171
Have same issue mysql service on ubuntu 16.04 with ansible 2.4.2.0
Using 'shell: service mysql start' as workaround

[2018-01-14 19:21] austinbutler commented on #24110
In case anyone has the same issue, the problem in my case was `gcc-multilib`.

[2018-01-14 20:59] ipatalas commented on #34836
That's been a long day...
Found this: https://github.com/ansible/ansible/issues/15518

It led me to introducing the following change:
[code]
It works fine now!

However it worries me a little. Quote from the issue above:
_This is expected and by design, Ansible is a batch system and avoid interactive logins if possible, which means it won't source certain user/shell specific files._

I feel like i

[2018-01-14 21:26] smueller18 opened #34855 "docker_network does not support ipv6 networks"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION

[code]

##### SUMMARY
The docker_network module does not support defining an ipv6 network. There is no `enable_ipv6` parameter. Furthermore, a new strategy must be chosen to allow defining custom ipv4 and ipv6 options.
At the moment an ipv6 subnet could be defined with
[code]
but without setting `enable_

[2018-01-14 21:53] IoTPlay commented on #34851
And, **docker version** on the TARGET host:

[code]

[2018-01-14 22:21] lukegriffith opened #34856 "Windows SSH Transport"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Windows Transport

##### SUMMARY
Allow connectivity to Windows hosts, via Win32 OpenSSH  (https://github.com/PowerShell/Win32-OpenSSH) opposed to WinRM.

I can see this was requested last year but was closed as it wasn't apart of windows. Now there is a Microsoft release available (pre-prod currently). https://github.com/ansible/ansible/issues

[2018-01-14 22:30] jborean93 commented on #34856
Hi @lukemgriffith there is already an issue in response to this here https://github.com/ansible/ansible/issues/25344. I am going to close this one so we don't have any duplicates.

In short, we've played around with it a bit and things mostly work and have worked with the Win32-OpenSSH team to iron out some bugs. Unfortunately it will require some internal rework within Ansible to get up and runni

[2018-01-14 22:30] #34856 closed, assigned to nobody

[2018-01-14 23:28] grabmana opened #34857 "Ansible truncates output from network devices"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ansible launched on Ubuntu 16.04.2 LTS
managing ios-xe
##### SUMMARY

Ansible truncates output of cpmmands executed on ios devices
##### STEPS TO REPRODUCE

execute "show run" on the device which contain

[code]

##### EXPECTED RESULTS

...
ip sla 10524001

[2018-01-15 01:45] fs-takada opened #34860 "An error occurred in the backup option of cron module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cron module

##### ANSIBLE VERSION
[code]

client: `Python 2.6.6`

##### CONFIGURATION

##### OS / ENVIRONMENT
ansible server: CentOS release 6.8 (Final)
client: CentOS release 6.7 (Final)

##### SUMMARY
An error occurred when I execute playbook of backup option in cron module.

[code]

The job succeeds if it were not for backup option

##### S

[2018-01-15 05:17] YoninL opened #34861 "Host order in groups variable is not 'as provided' when using yaml inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - inventory

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
 - Ubuntu 14.04 LTS

##### SUMMARY
The order of elements in hostvars[groups['group_name']] list doesn't follow the order in yaml format host inventory file.

Host file:
[code]
Commands run against the host file:
[code]
##### EXPECTED RESULTS
192.168.11.1

##### ACTUAL RESULTS
192

[2018-01-15 06:38] sharma-raj commented on #16354
Hi
I am also facing the same issue after creating the ec2 from ansible.
Failed to connect to the host via ssh: Warning: Permanently added '18.216.236.254' (ECDSA) to the list of known hosts.\r\nPermission denied (publickey).\r\n", "unreachable": true}

When I tried to manual login then success.

ssh -i key_aws.pem  ubuntu@18.216.236.254
Welcome to Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-1041-aws x86_6

[2018-01-15 06:57] #34747 closed, assigned to nobody

[2018-01-15 08:12] RushPu opened #34863 "rabbitmq_user throws "ValueError: need more than 1 value to unpack""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-01-15 08:19] MrTwIXx commented on #34787
I use SSH-Keys. I can connect via ssh to the root user without a password. It only fail if I want to use Ansible. If I use Ansible with Semaphore it works without a password.

[2018-01-15 09:33] mkrizek commented on #26968
@sensomatic if that's a different problem, please create a new issue, thanks!

[2018-01-15 09:37] mkrizek commented on #34787
@MrTwIXx I was commenting on the run as non-root user, which fails on you not providing `sudo` password though, I wonder if that fails even with that password provided.

[2018-01-15 11:12] vyyal commented on #33976
OK, it works  even with only notes: defined as vm_extra_config.

[2018-01-15 11:12] #33976 closed, assigned to nobody

[2018-01-15 11:18] Akasurde commented on #34792
@cvanniekerk Could you please try above patch and let me know if it works for you ?

needs_info

[2018-01-15 11:23] KKoukiou opened #34867 "Yum module runs yum install when `state` is `latest` and `name` != `*`"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME
lib/ansible/modules/packaging/os/yum.py

##### ANSIBLE VERSION

[code]

##### SUMMARY

`Yum` module does not use `yum update` when  `name` != `*` but instead `yum install`.
Is this desired behavior? If so it should be documented properly.

##### STEPS TO REPRODUCE
I am using `yum` module with `state` == `latest` and `nam

[2018-01-15 11:33] KKoukiou commented on #34867
!component lib/ansible/modules/packaging/os/yum.py

[2018-01-15 11:43] ciaranRoche commented on #19584
I had the same issue, ansible tries to connect using your current user name, so my way around it was overwriting the username, for example:
`ansible all -m ping -u ec2-user`

[2018-01-15 11:48] oswalya commented on #18305
Any update on this? I experience also random hanging tasks, especially with yum and package installs.
Running at the momentan on 2.4.2

[2018-01-15 12:12] dkirrane commented on #34746
- I get the below error when I specify a Datacenter folder. I assumed vmware_guest `/Europe/dev/joe` would create the folder structure.
- However, I also manually create the `/Europe/dev/joe` folder using vSphere Client and re-ran. But I get the same error.

[code]

The Ansible task:

[code]

[2018-01-15 13:57] ganeshrn commented on #34754
We probably need to have a separate parameter to check operational state for the interface
assigned to vrf/vlan.

In the current implementation, the operational state is always checked which is not right imo.
This results in failing the module in case the user wants to only do the configuration (declarative part) and not check the operational state (intent part).

Thoughts?

[2018-01-15 14:04] Kevin-De-Koninck commented on #33760
@Akasurde @jctanner I played a bit with the files and then uninstalled Ansible and reinstalled it again, but now I can not reproduce that issue anymore... I even tried another machine that never had ansible installed before.
I'll update this as soon as I encounter the bug again.

Thanks for the feedback!

[2018-01-15 14:04] yajo opened #34875 "No network interruption handling"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ssh connector

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

From Fedora 27 to Ubuntu 16.04.

##### SUMMARY

When network connection is interrupted, Ansible gets stuck.

##### STEPS TO REPRODUCE

1. Run any playbook against any server.
2. Disconnect network at some point.

##### EXPECTED RESULTS

Ansible should no

[2018-01-15 14:27] RealKelsar commented on #12086
+1 forks

[2018-01-15 15:12] dagwieers commented on #34211
@nilloBE Thanks, I have created a PR with this note, however should we add a similar note to **aci_domain** and **aci_aep_to_domain** ?

[2018-01-15 15:19] alikins commented on #34827
What happens on install?  Are there error messages? If so, what are they?

What installation method is being used?

Which ansible version?

[2018-01-15 15:32] nilloBE commented on #34211
Thanks! @dagwieers . We should add a similar note to aci_domain because that module should not be used to create OpenStack domains. But we should not add it to aci_aep_to_domain because you still need to associate an OpenStack domain an AEP and that is a task you may want to do via ansible.

[2018-01-15 15:33] sivel commented on #34851
This is not a problem with ansible, but instead a potential problem with upstream docker-py/docker:

https://github.com/docker/docker-py/issues/1353

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-01-15 15:33] #34851 closed, assigned to nobody

[2018-01-15 15:41] sivel commented on #34861
I've update the title, to better reflect the issue.  Based on what I have read in this issue, it appears as though the issue is that the host order in the `groups` variable is inconsistent when using an INI inventory.

When using a YAML inventory, the host order in the `groups` variable matches inventory order, but when using an INI inventory, the order may not match the inventory order.

[2018-01-15 15:43] alikins commented on #34736
This sounds like a similar issue to https://github.com/ansible/ansible/issues/29052

[2018-01-15 15:46] #34875 closed, assigned to nobody

[2018-01-15 15:47] #30979 closed, assigned to trishnaguha

[2018-01-15 15:47] alikins commented on #34736
pinginh @bcoca, @jimi-c

[2018-01-15 15:48] #31301 closed, assigned to ganeshrn

[2018-01-15 15:49] #34779 closed, assigned to nobody

[2018-01-15 15:49] #31673 closed, assigned to nobody

[2018-01-15 15:52] sivel commented on #34811
Easier to read traceback:

[code]

[2018-01-15 15:57] alikins commented on #34794
@sravan1265 Need some more info.

What ansible version?

Could you provide the full output from running that playbook with the additional '-vvv' added to the cli?

Was this working previously? If so, what versions?

[2018-01-15 16:00] alikins commented on #34794
@ansibot !component +lib/ansible/modules/cloud/amazon/ec2_asg.py

[2018-01-15 16:06] alikins commented on #34779
See also https://github.com/ansible/ansible/issues/31022 (part of 2.5 roadmap https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_5.rst#engine-improvements)

[2018-01-15 16:12] nilloBE opened #34884 "aci_aep_to_domain needs to support additional VMM domains"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_aep_to_domain

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible running on CentOS 7 managing a Cisco APIC running 3.1(1i)

##### SUMMARY
At the moment it is only supporting three VMM domain types: vmware, microsoft and openstack.

we need to add more:
* redhat
* kubernetes
* openshift
* cloudfoundry

I

[2018-01-15 16:14] rsmeyers commented on #34884
@dagwieers

[2018-01-15 16:16] #34449 closed, assigned to nobody

[2018-01-15 16:20] nilloBE opened #34885 "aci_domain needs support for VMM domain creation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
aci_domain

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ansible running on CentOS 7.3 and ACI running 3.1(1i).

##### SUMMARY

For VMM domains we need to be able to specify all required parameters. This is dependent on the domain type (vmware, redhat, microsoft). I believe it would be great to add to the mod

[2018-01-15 16:21] nilloBE commented on #34885
@dagwieers

[2018-01-15 16:21] alikins commented on #29383
Fixed in c82cf791dd82e7e59268be91b885f82a5bd42a0a

[2018-01-15 16:24] alikins commented on #29383
And in 3b86554081d69d9848fa314944da1a54a3b76f04 in stable-2.4

[2018-01-15 16:24] #29383 closed, assigned to nobody

[2018-01-15 16:38] nilloBE commented on #34884
Supported ACI releases:
- Kubernetes VMM Domain added with ACI 3.0
- OpenShift VMM Domain added with ACI 3.1
- Red Hat VMM Domain added with ACI 3.1
- CloudFoundry VMM Domain added with ACI 3.1

[2018-01-15 16:38] JqckB opened #34886 "Nested jinja2 include can't use home template variables"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`template`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT

```macOS High Sierra‎ version 10.13```

##### SUMMARY

Since I updated my version of Ansible from 2.3.2 to 2.4.2, I can't generate a jinja2 template which have 2 nested includes with a variable at the template base.

##### STEPS TO REPRODUCE

Command to

[2018-01-15 16:46] #21573 closed, assigned to Akasurde

[2018-01-15 17:16] jasonkcarter commented on #22025
I just reproduced this issue as well.  I wasted several hours banging my head against a wall, thinking I had some syntax wrong.  The docs definitely say that set_fact should override include parameters, but that is not currently happening.

[2018-01-15 18:19] mftovey commented on #2769
I am using Ansible version 2.3.1.0.  I got past this with the following syntax:

  - debug:
        msg: "My message with colon: {{somevar}} - this works for me"

[2018-01-15 19:14] computergeek125 commented on #32268
@abadger @vedagiridharan I can confirm that it is a user configuration issue, as reinstalling Ansible fixed my issue.

@vedagiridharan reference for Cygwin:
When installing dependencies via `pip` in Cygwin, you need to ensure that `gcc` is the compiler, not Microsoft's `cl`.  Once that was done, I was able to get the following version of Ansible operational as far as I can tell:
[code]

I am runni

[2018-01-15 19:30] H1YAoQYD opened #34893 "recursive copy does not copy files, only directories"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default configuration

##### OS / ENVIRONMENT

Linux / Linux

##### SUMMARY

The copy module copies only directories, no files. The directories look fine and are created recursively, however no files are copied. If you run the playbook again then the files too are copied.

##### STEPS TO

[2018-01-15 19:58] ivanbaldo commented on #23980
Have the same problem with Debian Jessie (oldstable) with some packages from Sid (unstable).
Ansible 2.4.2.0
python-boto 2.34.0-2
python-boto3 1.4.2-1
python-botocore 1.6.6-1
Any other package I should look for?
Any suggestion?
Thanks.

[2018-01-15 20:09] ivanbaldo commented on #23980
Ok, I fixed it by upgrading python-boto from 2.34.0-2 to 2.44.0-1.

[2018-01-15 20:28] nilloBE opened #34896 "aci_epg module needs to support PreferredGroup"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
aci_epg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[root@ansible-server ~]# ansible-config dump --only-changed
[root@ansible-server ~]#

##### OS / ENVIRONMENT
Ansible server on CentOS 7.3 and ACI version 3.0 or 3.1

##### SUMMARY

Since ACI 2.3 it is possible to configure EPGs to be part of a Preferred Group. This is a new attribute

[2018-01-15 20:28] nilloBE commented on #34896
@dagwieers

[2018-01-15 20:37] ScubaDrew commented on #19711
Ran into this today. Would be nice if it detected the default AWS cloud-init environments since they are so common.

[2018-01-15 20:48] raarts commented on #30239
Why is this labeled `deprecated`?

[2018-01-15 20:55] wfaulk opened #34898 "When selecting groups, subgroups from other groups with matching group names get incorporated"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none; default config

##### OS / ENVIRONMENT

running from MacOS 10.12.6
managing: N/A

##### SUMMARY

If you have groups with subgroups, and select one of the upper-level groups, hosts from within the other upper-level groups that are within subgroups that have the same name as th

[2018-01-15 21:06] sivel commented on #34898
This is expected.  The structure you used in your YAML doesn't mean what you think it means.

It has given you the misconception that groups are tracked based on hierarchy, instead `subgroupa` is always referencing a single subgroup.

In INI terms you have created:

[code]

This means that `subgroupa` contains `hosta`, `hostb` and `hostc` and `groupa` inherits all of those hosts.

Using `ansible-i

[2018-01-15 21:06] #34898 closed, assigned to nobody

[2018-01-15 21:12] maxamillion commented on #32854
@cdman now that the fix for #31673 has been merged, can you test using the `stable-2.4` branch?

[2018-01-15 21:17] sivel commented on #34893
I am able to duplicate this.  On the first pass only the directories are created.

[code]

I checked the 2.3 behavior, and 2.3 requires that all the directories be pre-created, so it looks like 2.4 took a step forward, but it's not complete.

[2018-01-15 21:37] eval opened #34899 "runit: can't start a stopped service"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
runit

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY
A service that is down can't be started.

##### STEPS TO REPRODUCE

* given a service `updater` in `/etc/sv/updater` that can be operated via runit (ie `sv start|stop|restart /etc/sv/updater` all work)
* and this service is currently down:
[code]
* when I provisio

[2018-01-15 21:38] sivel commented on #34860
More readable traceback:

[code]

[2018-01-15 21:41] sivel commented on #34860
This issue has been resolved in https://github.com/ansible/ansible/pull/24899 and has been resolved in Ansible 2.3.3.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-01-15 21:41] #34860 closed, assigned to nobody

[2018-01-15 21:44] #25075 closed, assigned to nobody

[2018-01-15 21:52] sivel commented on #34821
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are, that this would require either:

   * unarchiving locally, decrypting, and then pu

[2018-01-15 21:52] #34821 closed, assigned to nobody

[2018-01-15 23:27] iprok commented on #30034
Confirm this. git module should support git deploy with separated git tree. It's --separate-git-dir option for git-clone.

[2018-01-15 23:33] axarriola commented on #34829
To make it work do the following:

Disable host key checking in ansible.cfg (uncomment this line):
host_key_checking = False

specify the ansible port for netconf in hosts file:
ansible_port=830

[2018-01-15 23:33] #34829 closed, assigned to nobody

[2018-01-16 01:15] YoninL commented on #34861
thanks @sivel , but actually the inconsistent happens when using a yaml inventory.

[2018-01-16 01:25] #34702 closed, assigned to nitzmahone

[2018-01-16 03:18] kedarX commented on #30836
@bcoca @abadger should this have fixed #33554 too? Does CentOS vs Ubuntu make a difference here?

[2018-01-16 04:29] trishnaguha commented on #33774
@IPvSean nope, this is not happening for 2.5.

[2018-01-16 06:17] kyliel opened #34913 "azure_rm_loadbalance should accpet a list of rules instead of one"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_loadbalance

##### ANSIBLE VERSION
2.4
2.5

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The load balancer module. Currently it can only accept one load balancing rule and one NAT rule.  It should be able to accept a list of rules.

##### STEPS TO REPRODUCE
##### EXPECTED RESULTS
##### ACTUAL RESULTS

[2018-01-16 06:18] kyliel commented on #34913
@yuwzho , could you please look at it? Thanks.

[2018-01-16 07:39] jsrtr commented on #10829
+1, I run into this situation all the time with starting supervisord services on blank hosts since we start supervisord in its handler

[2018-01-16 07:53] tamsky commented on #21562
Remember kids, `~` is shorthand for `$HOME`.

So far, I've been bitten twice where `HOME` is unset:
- by cloud-init (fix: set `HOME=/`)
- by `sudo` (fix: use `sudo -H`)

[2018-01-16 07:58] #17843 closed, assigned to nobody

[2018-01-16 07:59] ganeshrn opened #34917 "eos_vlan and eos_vrf modules not idempotent if interface parameter is given as input"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_vlan
eos_vrf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ansible run should be successful

##### ACTUAL RESULTS

Fails with error

[code]

[2018-01-16 08:29] medaka commented on #34141
Is there anybody who's dealing with this issue or knows alternates?
I've tried to replace 'shell' with 'command' and it seems to be going well.
However this still reproduces when I use a 'shell' module.

[2018-01-16 08:57] Akasurde commented on #29237
Closing this issue as PR #34261 is merged. If issue persists, please feel free to re-open.

[2018-01-16 08:57] #29237 closed, assigned to nobody

[2018-01-16 09:18] mkrizek commented on #34886
@JqckB Your test case fails even on `2.3.2` for me. Can you please check if it really worked on `2.3.2` for you? Thanks! It would help with debugging if I could manage it to not fail on some version of Ansible.

[2018-01-16 09:33] progz commented on #34536
If you need more information, feel free to ask me.

[2018-01-16 09:51] lx183 opened #34918 "Python API Documentation only working for localhost and hosts in config file"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
-Python API

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
-N/A

##### OS / ENVIRONMENT
-N/A

##### SUMMARY

Using the  Pyhton API like this:

http://docs.ansible.com/ansible/latest/dev_guide/developing_api.html

with specified hosts as string values in an array is not accepted. Ansible tries to parse the values as they were direct

[2018-01-16 09:58] cvanniekerk commented on #34792
@Akasurde From my limited testing your patch appears to be working very well on my test environment.

[2018-01-16 10:50] akhil2111 opened #34922 "Apt module fails with "Permission denied""
running this code in ssh vm with host ip:10.0.1.119
Issue type:
Bug Report

Ansible version:
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/saurabh1/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python versio

[2018-01-16 10:57] chuegel opened #34924 "Ansible: cannot connect to the LXD server"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu Xenial

##### LXD Information

 * Distribution:
 * Distribution version:
 * The output of "lxc info" or if that fails:
   * Kernel version:
   * LXC version:
   * LXD version:
   * Storage backend in use:

[code]
[code]

##### SUMMARY

I got two identica

[2018-01-16 11:01] #34792 closed, assigned to nobody

[2018-01-16 11:05] Akasurde commented on #34922
@akhil2111 Thanks for reporting this issue. Does `saurabh1` is user in sudoer list ?

needs_info

[2018-01-16 11:12] akhil2111 commented on #34922
https://github.com/Akasurde yes saurabh1 is in sudoer list

[2018-01-16 11:50] IoTPlay commented on #34851
Thank you, the I saw docker/docker-py#1353. And the many others Issues logged around the same issue.  I tried below, but it did not work. I have no clue of how to move forward... So, it looks like this is an open bug, not resolved yet?
[code]

[2018-01-16 11:51] cvanniekerk commented on #34792
Thanks for resolving this issue so quickly @Akasurde. I now still need some method to filter the list of IP addresses down to the one I need but for this I will create a separate issue as it is, functionally seen, not directly related.

[2018-01-16 12:04] #34091 closed, assigned to nobody

[2018-01-16 12:16] #34917 closed, assigned to ganeshrn

[2018-01-16 12:25] Voolkanus opened #34927 "contrib/inventory/gce.py fails with "libcloud.common.google.ResourceNotFoundError" error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Google Cloud Platform inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed

(default)

##### OS / ENVIRONMENT
Debian GNU/Linux 8

##### SUMMARY
Sometimes when running ansible playbook using the gce.py inventory I'm receiving an exception, with "libcloud.common.google.ResourceNotFoundError" error. In 100

[2018-01-16 12:59] s-hertel commented on #23980
Thanks for updating this issue @ivanbaldo. Closing since upgrading boto resolves the problem.

[2018-01-16 12:59] #23980 closed, assigned to nobody

[2018-01-16 13:18] ghost opened #34929 "Filter list of IP addresses on range"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

`ipaddr`

##### ANSIBLE VERSION

```ansible 2.5.0 (devel 0a9489ef66) last updated 2018/01/16 12:43:50 (GMT +200)```

##### SUMMARY

Related to the resolved issue #34792 I need the ability to filter a list of IP addresses on a given IP range in order to determine the correct address to add to the in-memory inventory.

For this I propose addin

[2018-01-16 13:37] krathow commented on #33096
found the error, the remote_ip_prefix needs to be empty, as it resolves to null or any in the module.

- name: Remove Rules from custom security groups
  os_security_group_rule:
    state: absent
    security_group: foo
    direction: egress

[2018-01-16 13:37] #33096 closed, assigned to nobody

[2018-01-16 13:45] #34700 closed, assigned to nobody

[2018-01-16 13:53] ghost opened #34931 "Error when directory name is comma and space"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS High Sierra version 10.13.2

##### SUMMARY
[code]

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2018-01-16 14:04] trishnaguha commented on #34654
@mikewiebe I think we are good to close this?

[2018-01-16 15:09] cwarner-mdsol commented on #33267
I can confirm I get this even without using main.yml so something resembling the following

[code]

Where the file itself is named whatever.yml gets the same error trying to invoke, falling back to include works fine.

[2018-01-16 15:15] maxamillion commented on #34927
!component +contrib/inventory/gce.py

[2018-01-16 15:18] maxamillion commented on #34927
cc @erjohnso @supertom

[2018-01-16 15:20] maxamillion commented on #34924
!component = lib/ansible/plugins/connection/lxd.py

[2018-01-16 15:21] maxamillion commented on #34924
cc @bcoca @mattclay

[2018-01-16 15:27] maxamillion commented on #34913
!component =lib/ansible/modules/cloud/azure/azure_rm_loadbalancer.py

[2018-01-16 15:49] kachkaev commented on #28078
I'm also unable to check uri status codes with retries in 2.4. Here's a custom task that works:

[code]

However, it produces a warning:
[code]

These are a couple of ways I've been trying to switch to `uri`, but with no luck:
[code]
[code]

[2018-01-16 15:51] robertdebock commented on #29705
I've seen exactly the same, here are some details for reproducibility:

Failed: (using "-")
[code]

Success: (using "=")
[code]

I think an update to the documentation can help, although it would be better to change the module.

I'll make a merge request for fixing the documentation.

[2018-01-16 15:57] #34918 closed, assigned to nobody

[2018-01-16 16:06] chrisgavin commented on #34557
Could you please confirm you still in-fact consider this to be not-a-bug? Do I need to make my own module to fix this?

[2018-01-16 16:10] sivel commented on #34931
I'm not sure there is enough information to go on here.  Where is the `zabbix` variable defined at?

The error alone doesn't directly indicate an issue with your path, only that the `zabbix` variable is not defined.  Providing us with a minimal reproducer to show this issue is needed.

needs_info

[2018-01-16 16:26] #34654 closed, assigned to trishnaguha

[2018-01-16 16:29] Akasurde commented on #20762
Closing this issue as this works on both 2.4 and latest devel (2.5). If issue persists, please feel free to re-open.

[2018-01-16 16:29] #20762 closed, assigned to nobody

[2018-01-16 16:45] #34922 closed, assigned to nobody

[2018-01-16 16:57] itdependsnetworks opened #34941 "/tmp directory being used"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

template and potentially more

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Files are writing to /tmp when remote_tmp and local_tmp is defined

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-01-16 17:04] balonik commented on #33832
Hi,

This is not an ansible bug.

MongoDB comes with localhost exception out of the box as described in the docs `https://docs.mongodb.com/manual/core/security-users/#localhost-exception`
The first time you run the playbook, the user 'dba' is created in the database and the localhost exception is turned off.
From this point onwards, you have to Authenticate (login with credentials) to make any cha

[2018-01-16 17:06] privateip commented on #26809
This work was completed as part of ##32521

[2018-01-16 17:06] #26809 closed, assigned to privateip

[2018-01-16 17:16] carawarner commented on #28744
And us. Is there a workaround?

[2018-01-16 17:20] vinitkhandagle commented on #15321
@induraj looks like the user that your running ansible with does not have access to the key.
could you also put the output of ansible --version.
also make sure you have install ansible only by one method either (pip or brew)

[2018-01-16 17:27] sharma-raj commented on #15321
Thanks for quick response.
(ansble) ansible@sharma:~$ pip freeze |grep ansible
ansible==2.4.2.0

[2018-01-16 17:28] induraj commented on #15321
Thanks for quick response:
(ansble) ansible@sharma:~$ pip freeze |grep ansible
ansible==2.4.2.0

[2018-01-16 17:40] 4c74356b41 commented on #33661
try doing pip install ansible[azure] and see if that helps

[2018-01-16 17:42] vinitkhandagle commented on #15321
are u running through the virtualenv does that have access to the key?

[2018-01-16 17:43] 4c74356b41 commented on #31237
i would assume template and playbook would help. why does it even look for network interface?

[2018-01-16 17:47] 4c74356b41 commented on #27426
ping

[2018-01-16 17:48] sivel commented on #34941
I cannot duplicate this, and your selection from `ansible.cfg` doesn't indicate the header it is nested under.

It is also not clear if you have indicated that the task is suppose to run with `become`.

I also notice you are using an older version of ansible, the current stable version is 2.4.2.  Is there the possibility you could test this scenario with a newer version?

needs_info

[2018-01-16 17:55] #34799 closed, assigned to nobody

[2018-01-16 17:57] saichint opened #34944 "nxos_vxlan_vtep_vni default issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vxlan_vtep_vni
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I7(1)
##### SUMMARY

##### STEPS TO REPRODUCE

There are multiple issues with nxos_vxlan_vtep_vni module.

1. Documentation error where default choice for ingress_replication parameter is missing
2. If we set defau

[2018-01-16 17:57] macamherst opened #34945 "win_security_policy fails when value is same but in a different order"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_security_policy.ps1

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ansible Host: Debian GNU/Linux 9.3 (stretch)
Target: Microsoft Windows Server 2012 R2

##### SUMMARY
If requested user rights assignment value is the same as the target system, but in a different order, the playbook run will fail. Changing win_

[2018-01-16 18:00] nwsparks commented on #33858
I think there are two ways of approaching this.

1.  Always treat line as literal. Multiple lines don't fit into the purpose of the module. I did test the Linux version of this module however, and it does allow line breaks....so this may not be an acceptable answer.
2. Remove this validation block. If people want to insert line breaks they should do it as a PowerShell native/acceptable format.

ht

[2018-01-16 18:01] induraj commented on #15321
yes they have access:
ll ~/.ssh/raj_aws.pem
-rw------- 1 ansible ansible 1692 Jan 13 23:12 .ssh/raj_aws.pem.
Is there anything required?

[2018-01-16 18:02] hemskgren commented on #34768
Never ending issue!
Maybe it is time to use "show inventory" instead, as it work on most Cisco IOS/ASA etc.

[2018-01-16 18:07] Everspace opened #34948 "s3_bucket fails when a manually created bucket already exists"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I have already made 'my-bucket' manually. Transitioning to ansible managing it causes s3_bucket to fail.

##### STEPS TO REPRODUCE

1. Create a bucket named 'birds-content' through the web console.
1. Then run the following task:

[code]

##### EXPECTED RESULT

[2018-01-16 18:14] #33455 closed, assigned to nobody

[2018-01-16 18:23] sivel commented on #34861
Ok, that makes a little more sense then. I was having difficulty following your description of the problem.

Roughly, I know how this needs to be handled, or at minimum what the problem is.  In python a dict is not ordered, as compared to a list which is ordered.  So when loading any inventory source that represents the hosts as keys in a dictionary, it is likely that order will not be maintained,

[2018-01-16 18:52] boxrick opened #34949 "Ansible ansible_group_priority variable is not passed down to child groups"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

When using ansible_group_priority in inventory file, it is not passed down from group to child group

##### STEPS TO REPRODUCE

[code]

##### RESULTS
`ansible_group_priority` is set to higher, which should mean that `hardw

[2018-01-16 19:08] vinitkhandagle commented on #15321
@induraj I am completely not sure but it could be not getting the right permissions through the virtualenv.

[2018-01-16 19:14] fxfitz commented on #30239
All: I think a better option for you would be to backport the module, instead of messing with `docker` and `docker-py`.

Simply take what's in `devel`, and put it in your `library/` folder adjacent to your playbook.  I'm now doing this until I see the fix is in one of the upcoming releases. :-)

[2018-01-16 19:16] nwsparks commented on #25077
The lineinfile module is a bit frustrating to use.

I believe this is actually functioning as intended and matches the behavior of the Linux version. If `regexp` is defined the behavior of the module is..

1. Match is found. Replace if needed and exit. If no match is needed, exit.
2. If no match is found, add `line` at default `insertafter: eof`

So what's happening here is because your `regexp` i

[2018-01-16 19:50] jborean93 commented on #34945
While yes the user's that are set for that privilege are technically correct the values are technically different causing the failure to be the correct behaviour. Unfortunately due to the way Windows works, win_security_policy makes it's changes through an ini file and then validates that ini file is correct after importing it. This is a pretty poor way to implement it but in reality Windows uses

[2018-01-16 19:50] #34945 closed, assigned to nobody

[2018-01-16 19:51] raviteja88 commented on #23843
This issue is still present. Tried uninstalling/cleaning folders and re-installing as suggested by @darioems , but it's still not working. Not an issue with listeners though, choosing ntlm works fine on port 5985 and 5986.

Any help would be appreciated.

[2018-01-16 20:32] giovannisciortino commented on #28078
@kachkaev I have reviewed your last comment to this issue that was closed 5 months ago.

I think that there isn't any correlation between the problem described in the first comment of this issue(ansible didn't execute multiple retries whet a task was called with the option "retries" without the option "until", you are using it correctly) and your issue.

The [PR](https://github.com/ansible/ansible

[2018-01-16 20:34] s-hertel commented on #34948
You'll get this error if it looks like you're trying to modify the region of a bucket since it can't be modified. If you specify the region matching the region you used to create, does that work as expected? needs_info

[2018-01-16 20:35] s-hertel commented on #34948
You'll get this error if it looks like you're trying to modify the region of a bucket since it can't be modified. If you specify the region you used to create the bucket does that work as expected? needs_info

[2018-01-16 20:55] s-hertel commented on #34822
Thanks for opening the bug report @Everspace. This has been fixed on devel for 2.5 in https://github.com/ansible/ansible/pull/31535.

[2018-01-16 20:55] #34822 closed, assigned to nobody

[2018-01-16 20:58] steaksauce- opened #34956 "win_dns_client fails when specifying an empty list of addresses"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_dns_client

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration (config dump returns nothing)

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

When running the win_dns_client example to configure all adapters whose names begin with Ethernet to use DHCP-assigned DNS values, I get an error,

[2018-01-16 21:47] s-hertel commented on #34762
This has been [fixed](https://github.com/ansible/ansible/commit/8ab4412684c99c688bf0f8006c28c475285d74b6#diff-d6ee77c59b7f6025851a678ce45e4d5fR197) in https://github.com/ansible/ansible/pull/30728 for 2.5.

[2018-01-16 21:47] #34762 closed, assigned to nobody

[2018-01-16 22:00] dagwieers commented on #34226
So you need to either return: `diff.prepared`, or both `diff.before` and `diff.after`. I guess the latter is preferred unless the output could become huge (e.g. 2 huge files only having 1 line different). So it basically depends on the exact use-case.

[2018-01-16 22:00] maxamillion commented on #34949
cc @jimi-c @bcoca

[2018-01-16 22:03] maxamillion commented on #34949
!component +lib/ansible/inventory/group.py

[2018-01-16 22:37] morgangraphics opened #34963 "openssl_privatekey, openssl_csr doesn't generate x509 complaint request"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
openssl_privatekey
openssl_csr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/home/machine-name/Projects/project1t/ansible.cfg) = [u'/home/machine-name/Projects/ansible-roles']

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
A combination of the openssl_privatekey and openssl_csr modules do not generate a X.509 comp

[2018-01-16 22:53] slaterx commented on #31590
Reproducible on:

ansible 2.4.2.0
  config file = /Users/gn1573/.ansible.cfg
  configured module search path = [u'/Users/gn1573/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/Cellar/ansible/2.4.2.0/libexec/lib/python2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.14 (default, Sep 25 201

[2018-01-16 22:56] itdependsnetworks commented on #34941
Fair enough about header, will grab relavant information. Not meant to use become, no reason to. Ansible is on client network and don’t have much I can change without justification, but will look to replicate on my own systems.

[2018-01-16 23:20] mmoleksf commented on #7584
@bcattle  I think purge_rules option should be no by default. I have the same case. 2 vars with array of ports and cidr's. With -vvv you can see all of them being "added" but just the last item in list is actually valid after the with_items iterates to the end. One would expect all of them to be added :)

[2018-01-16 23:27] sivel commented on #31590
!component =lib/ansible/modules/clustering/openshift/_oc.py
!component -lib/ansible/module_utils/urls.py

This should be the responsibility of the caller, in this case the `oc` module.  It should not unconditionally add a scheme to the host without checking first.  As the `oc` module is now deprecated in the upcoming 2.5 release in favor of `openshift_raw`, I'm not sure what the chances of getting

[2018-01-16 23:44] slaterx commented on #31590
I think I've zeroed the issue. It seems that oc doesn't strip the 'https://' on the host parameter, sending it all to urls.py.

This works and doesn't give the exception:

[code]

[2018-01-17 01:22] itdependsnetworks commented on #34941
No real way via text to show, but I can see that this is in fact true as of 2.4.2 as well.

You can see it is writing files to the ansible.cfg defined remote_tmp or local_tmp, in addition to /tmp. Should be easy to replicate in any environment.

Showing files writing to two different places
[code]

Showing ansible.cfg file, playbook, and version.
[code]

[2018-01-17 03:06] akhil2111 commented on #34922
@sivel   after removing become_user commanf frm yml file iget.

PLAY [local] ***********************************************************************************************************************************************************

TASK [Gathering Facts] ***********************************************************************************************************************************************

[2018-01-17 03:56] luisco commented on #31741
Thanks azenakhi ,

pip install --upgrade setuptools

work for me!!

[2018-01-17 04:00] brainstorm commented on #21562
I can confirm this bug, it affects our event-driven automation setup:

https://github.com/StackStorm-Exchange/stackstorm-ansible/pull/24

So unfortunately downgrading to 2.2 is the only suitable option for us at the moment :/

[2018-01-17 04:42] induraj commented on #15321
OK. even i am trying the same, still trying to figure it out.

let me share what I have till now.
- created virtualenv
- installed ansible with dependency.
- able to create EC2 instance with ansible.
- but facing problem login into the EC2 VM with ansible.

Could you please help me with accessing the EC2 VM via ansible so that I can move ahead my testing with ansible.

[2018-01-17 05:16] thinkmassive opened #34974 "inconsistent documentation for tags on dynamic-include tasks"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
- include_role
- include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Fedora 26 (probably N/A)

##### SUMMARY
The [Creating Reusable Playbooks](http://docs.ansible.com/ansible/latest/playbooks_reuse.html) doc states:

The Tags doc, under [Tag Inheritance](http://docs.ansible.com/ans

[2018-01-17 05:29] LukeRussell commented on #34768
Update: I found 3850s don't conform to my suggested regex pattern. The following matches all test cases.

I've created a gist for my sample outputs [here](https://gist.github.com/LukeRussell/07740b7dc00ec181c89af64f7f5fa088).

My updated regex pattern:

[code]

I also agree about using `show inventory`, it's a lot cleaner output.

[2018-01-17 05:37] #34944 closed, assigned to nobody

[2018-01-17 06:30] brainstorm opened #34978 "EC2 user-data error when spot_price != null"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
$ ansible-config dump --only-changed
ANSIBLE_SSH_ARGS(/Users/romanvg/dev/pcgr-deploy/ansible/ansible.cfg) = -o ControlMaster=auto
HOST_KEY_CHECKING(/Users/romanvg/dev/pcgr-deploy/ansible/ansible.cfg) = False
INVENTORY_ENABLED(/Users/romanvg/dev/pcgr-deploy/ansible/ansible.cfg) = ['host_list'

[2018-01-17 07:33] cjdcordeiro commented on #33861
component name is described

[2018-01-17 07:36] supernomad commented on #33183
I can confirm that this issue is definitely present in 2.4 seeing memory usage spike to 10+ GB when running include_role on ~100 servers without include_role the memory usage is a nominal 2-3GB:
[code]

[2018-01-17 08:02] trishnaguha commented on #31901
@hbenaouich Please try this on devel and let us know:
Here is `config1.cfg` file which configures vlans:
[code]
Another config file where I have changed the IP address for vlan 2096 `config2.cfg`:
[code]

Playbook:
[code]

Result:
[code]
This works for me.

[2018-01-17 08:14] hryamzik commented on #12170
@kami8607 I've faced the same issue with failures as rolling updates and restarts require the whole playbook to fail on any error. Solved with `any_errors_fatal: true`.

I also confirm that this solution works with `include_tasks`, however `check` mode is executed in parallel.

[code]

[2018-01-17 08:35] resmo commented on #33975
Another existing way would be to ignore the error.
[code]

[2018-01-17 08:42] Spredzy commented on #34963
Hi @morgangraphics thanks for reporting the issue. I could reproduce and submit a fix (#34982) for this issue.

To explain  what was going on. The certificate emitted by `openssl_certificate` did not contain an `Issuer` value. After a second read of the RFC (I misread it the first time), this field should always be set up (RFC5280 Sect. 3.2).

Java, rightfully, considered the current `openssl_cert

[2018-01-17 09:03] andeschau commented on #34853
The connection issue was resolved.

From the connection debug log:
<172.31.206.76> SSH: EXEC ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=ansible -o ConnectTimeout=10 -o ControlPath=/tmp/awx_2345_BEAtYS/cp/%h%p%r

[2018-01-17 09:26] joshperry commented on #31673
This did help quite a bit, but we are still getting OOM killed. Perhaps not related to this at all, but these are running with 2.4.1.0 on alpine 3.7 and then stable-2.4 branch with this backport. The playbook takes about 1.5 minutes with 10 forks, there are about 600 hosts.

![screenshot from 2018-01-17 00-47-33](https://user-images.githubusercontent.com/298053/35035098-78b16d1a-fb2d-11e7-8851-253

[2018-01-17 09:27] ymagriso commented on #34196
I am also experiencing a similar issue in this area.
I need to use include_role for running the role multiple times (in a loop).
The role includes several tags and I want to skip some of them using "--skip-tags tag1,tag2" (where tag1 and tag2 are defined on some of the role's tasks).
Unfortunately, the "--skip-tags tag1,tag2" does not have an effect on the playbook's execution.
When I run the ansi

[2018-01-17 09:34] zerkms commented on #31673
My 2 cents, an educated guess:

given that the ansible uses multiprocess fork-based model when another fork is created the memory is COW'ed (copy-on-write). That effectively is a cheap operation, both in terms of cpu and memory actually mapped/allocated to the process.

What happens next is - every fork uses their "cloned" memory, which leads to the actual memory copy operation, which is not bad s

[2018-01-17 09:38] joshperry commented on #31673
The inventory file has a channel variable set for each host, and then we have different playbooks that we include depending on the host channel.

playbook.yml
[code]
roles/panels/main.yaml
[code]
production.yaml
[code]
fstrim-cron.yaml
[code]
sd-info.yaml
[code]

[2018-01-17 09:42] joshperry commented on #31673
@zerkms One thing I did neglect to mention is that the spikes correlated with the `include_role` happening in the logs just after Gathering facts.

[2018-01-17 09:57] jnogol commented on #34628
+1, had encountered the same issue

[2018-01-17 10:04] ymagriso commented on #34196
@ocervell thanks for the workaround (#1) provided in the issue's details.
It is working, but as you mentioned, a permanent solution for the issue should be provided.

[2018-01-17 10:27] #28148 closed, assigned to nobody

[2018-01-17 10:35] cdman commented on #31673
@zerkms - That's certainly a good guess. I think Instagram battled a similar issue with their Django deployment which ended up with adding a new API to CPython: https://engineering.instagram.com/copy-on-write-friendly-python-garbage-collection-ad6ed5233ddf (unfortunately only 3.7).

[2018-01-17 10:35] jhawkesworth commented on #34827
@kwilson7770 What actual problem is being caused here?  Since you can't use ansible installed on windows in this way and there's no support for running ansible directly from a windows machine then its not clear what is being attempted.

If your goal is to work on the ansible code so that it can run on windows, then I suggest installing the source from git.  Yes, the packaging issue remains but the

[2018-01-17 10:48] MarkusTeufelberger commented on #34963
I think you mean `4.1.2.  TBSCertificate`:

While the Subject can also be defined in subjectAltName, the Issuer field apparently must exist with at least a non-empty DN field.

[2018-01-17 10:49] davidfischer-ch commented on #30827
Me too with 2.4.2.0 ...

[2018-01-17 11:00] aioue commented on #33177
@pschiffe Based on your opening post for this issues, which matches my environment exactly, what is the workaround for referencing `group_vars_variable` from `playbook2.yml`?

[2018-01-17 11:01] haad commented on #34557
You can definitely create a PR for this module. For now I will update doc to make sure that's this behavior is clear to everyone.

[2018-01-17 11:11] dabesa53 commented on #34931
I report that result.
[code]
[code]
[code]
[code]
[code]

[2018-01-17 11:12] pschiffe commented on #33177
@aioue move your group vars next to your inventory. So the `group_vars` dir is in the same dir as inventory file, or inside your inventory dir (depending on your setup).

[2018-01-17 11:23] ssimonek commented on #34746
Hi, I think this issue is resolved with the last version on dev branch. But there is still an error when the folder name begins with a special character.
For example:
folder: /WER/FR/DATACENTER/vm/_Deployment => Failed
folder: /WER/FR/DATACENTER/vm/Deployment => Success

[2018-01-17 11:47] Akasurde commented on #34746
@ssimonek Thanks for reporting this. Could you please provide error message returned when folder name contains special character ?

needs_info

[2018-01-17 11:57] #33972 closed, assigned to nobody

[2018-01-17 12:01] aioue commented on #33177
Using my top level `group_vars` as a 'global' vars store, common across all inventories.

My inventories _already have_ `group_vars` inside, specific to each inventory.

Representation:

[code]

Is the suggestion that I symlink the *top level* `group_vars/all` directory into every `inventory/[...]/group_vars/all/`?

That's not a particularly elegant change. Would I be best to do a large refactor s

[2018-01-17 12:18] faizan80 commented on #25298
For me it works fine on win10 Red Stone2 but it does not work on Windows 10 RedStone 3 release. Have no clue if it is powershell or group policy or something else.

[2018-01-17 12:22] cnasten opened #34985 "nso_config fails to set leaf-list values"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nso_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian GNU/Linux Buster controlling NSO 4.4.4

##### SUMMARY
Setting leaf-list values does not currently work with nso_config due to the handling of types.

##### STEPS TO REPRODUCE
Use the provided YAML together with the YANG below.

YAML:
[code]

YANG:

[2018-01-17 12:36] gundalow commented on #34628
@alvaroaleman If you could create the PR against `github.com/ansible/ansible` we can review and merge. Looks like the PRs were created against `github.com/alvaroaleman/ansible`

[2018-01-17 12:44] alvaroaleman commented on #34628
@gundalow : No, the PR is against `github.com/ansible/ansible`: https://github.com/ansible/ansible/pull/34847

I think the weird links are because I force pushed several time to fix failing tests

[2018-01-17 12:46] kinware opened #34987 "The "script" module sometimes fails on Windows hosts (WinRM HTTP 500 status code)"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
The ansible 'script' module

##### ANSIBLE VERSION
ansible 2.4.0.0
  config file = .../ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = ..../lib/python2.7/site-packages/ansible
  executable location = ..../bin/ansible
  python version = 2.7.9

[2018-01-17 12:49] willis7 opened #34988 "Failed to connect to the host via ssh despite successful auth"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`ansible my-host -m ping`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
`Linux parrot 4.14.0-parrot2-amd64 #1 SMP Parrot 4.14.2-1parrot2 (2017-12-05) x86_64 GNU/Linux
`

##### SUMMARY

##### STEPS TO REPRODUCE

With the inventory below and config above, this should be fairly straightforward. I'm using basic

[2018-01-17 13:00] kachkaev opened #34989 "Unable to use retries in uri_module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
uri module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`"ansible-config dump --only-changed` -> empty

##### OS / ENVIRONMENT

macos <-> any web server

##### SUMMARY

I'm checking if one of my playbooks is successful by crawling the status code of a webpage:

[code]

This has been working well for a while, however, I've started seeing

[2018-01-17 13:01] kachkaev commented on #28078
Thanks for your comment @giovannisciortino! I started https://github.com/ansible/ansible/issues/34989.

[2018-01-17 13:37] gundalow commented on #34628
@jnogol @sgargan A fix has been proposed in https://github.com/ansible/ansible/pull/34847 could you please review that and add a comment on that PR if it works (or not)?

Thanks in advance

[2018-01-17 13:45] gundalow commented on #31197
**Update**
* Code is done, though not live
* Not putting this live now as we don't have the ability to correctly have locking around jobs (DCI isn't a scheduler)
* Agreed we'd put this on hold till Zuul is live, which should be ~month

Moving to from in-progress to stretch on the 2.5 Network board

[2018-01-17 13:46] plup opened #34990 "ansible 2.4 synchronise module overrides ansible_user with remote_user when use with delegate_to"
Hi guys,

None of the issues I read about delegation troubles seems to apply to my problem. So here it is :

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Sychronize module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

I want to synchronize 2 remote servers with ansible. This is the ssh command I want to mimic :
[code]

##### S

[2018-01-17 13:53] gundalow commented on #31198
Handed over to @acozine

[2018-01-17 13:56] tumluliu commented on #28534
may I ask if there is any progress on this issue? thanks!

[2018-01-17 14:08] calfonso commented on #34812
@Zalek-Git Take a look at the trouble shooting guide as noted in the output https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell . We see a couple of other issues with your playbook example. Provider is spelled incorrectly and you're mixing juniper modules packaged with Ansible with a module directly from Juniper. If you could narrow down the issue and follow th

[2018-01-17 14:08] #34812 closed, assigned to nobody

[2018-01-17 14:09] maxgio92 commented on #30120
It would be nice to have control on which versions to apply the rule to (current version or previous non-current versions).
If I am right, actually is not possible to enable the rule for non-current version objects and by default the rule will be applied to current version objects only.
I searched for this feature but I did not find anything.

Thank you all

[2018-01-17 14:14] Plup-io commented on #34990
Actually it might be related to this one : https://github.com/ansible/ansible/issues/16215

[2018-01-17 14:14] pschiffe commented on #33177
@aioue yeah, it has to be inside of both `eu` and `us` dirs.. :-( Some best practices are described on this page http://docs.ansible.com/ansible/latest/playbooks_best_practices.html#alternative-directory-layout

[2018-01-17 14:21] timeu commented on #19617
ran into the same issue. Is there any update ?

[2018-01-17 14:21] kwanlowe opened #34992 "azure_rm_networkinterface and azure_rm_virtualmachine inconsistent "location" param"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
hostfile = inventory
become=True
become_user=root
deprecation_warnings=False
system_warnings=False
host_key_checking=False

##### OS / ENVIRONMENT

Red Hat Enterprise Linux 7.4
##### SUMMARY

The "location" parameter between azure_rm_networkinterface and

[2018-01-17 14:21] aquasan commented on #31741
Thanks @azenakhi
pip install --upgrade setuptools worked for me!

[2018-01-17 14:21] rcarrillocruz commented on #31173
closing this, as POC was succesful

[2018-01-17 14:21] #31173 closed, assigned to rcarrillocruz

[2018-01-17 14:22] gundalow commented on #28210
Hi, can you please retest on latest `devel` and let us know.

[2018-01-17 14:28] #33324 closed, assigned to kedarkekan

[2018-01-17 14:31] rcarrillocruz commented on #31781
closing, we splitted this in repos network-infra-playbooks + network-infra

[2018-01-17 14:31] #31781 closed, assigned to rcarrillocruz

[2018-01-17 14:32] rcarrillocruz commented on #32064
agreed to move this to 2.6, in the end we'll migrate to Zuul so no point in writiing DCI related docs on this.

[2018-01-17 14:35] kinware commented on #34987
Guessing @jborean93 might have some input here.

[2018-01-17 14:38] beddari commented on #29273
Hehe, quite funny ... but then, begs the question, if implemented differently, would it be accepted?

E.g a var/some data keeping "these *.repo files are the ones we know" then diff that versus the full list of files in the dir? I've implemented that pattern several times. It would not keep state between runs, but naturally, you couldn't build the contents iteratively any more, you'd need all that

[2018-01-17 15:11] anbsmile opened #34994 "win_iis_webapplication: additional parameters"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_iis_webapplication

##### SUMMARY
It would be nice to be able to modify web application params as it implemented in _win_iis_website_.

[2018-01-17 15:23] ganeshrn opened #34997 "Add secure session tracing capability for network_cli and netconf connections"
Connection and interactions with remote network device are handled in background `ansible-connection` process. If any goes wrong behind during this interaction there is no way to debug it.

For instance, if an unexpected prompt is received from the remote device that is not matched either by `terminal_stdout_re` or `terminal_stderr_re` (from platform-specific terminal plugins) it can result in wai

[2018-01-17 15:27] sivel commented on #34989
What specific error are you getting when it isn't working?  Seeing a playbook run with at least `-v` would help, if not a higher verbosity.

needs_info

[2018-01-17 15:42] sivel commented on #34931
My testing so far has led me to believe, this happens when the inventory and group_vars are in a subdirectory, and the parent directory has a `,` in the path.

Moving the inventory and group_vars out of the subdir, for whatever reason, doesn't suffer from this.

Still looking into a resolution.

[2018-01-17 15:47] kachkaev commented on #34989
Here's the output for this specific task:

[code]

[code]

Same for `-v` and `-vv`. Here's what I see when adding `-vvv`:

[code]

[2018-01-17 15:50] #34899 closed, assigned to nobody

[2018-01-17 15:55] s-hertel commented on #34732
If you tried to run a s3 module with ec2_url set like above it would also fail because it isn't in the format `s3.region.amazonaws.com`. This is true for any other service really (see https://docs.aws.amazon.com/general/latest/gr/rande.html for all the varying endpoints by service), so I don't think removing ec2_url is a good option in case anyone else is using it.

Perhaps you can group your task

[2018-01-17 16:04] jtyr commented on #29273
I don't think there is any acceptable solution for this problem.

[2018-01-17 16:11] jkim711 opened #34999 "Concurrency Test"
Please delete

[2018-01-17 16:21] joshperry commented on #31673
@zerkms Interesting, I'm going to try to put together a statically imported version of my playbooks and see if that helps with the GC. I'm assuming that even though these includes only distill down to 7 tasks, each dynamic task is considered unique since it is imported, causing it to be more like 600 hosts * 7 tasks that GC has to grind through.

[2018-01-17 16:24] jkim711 opened #35001 "Ansible Concurrency Test through AWX_Task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

AWX_task
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default ansible.cfg
##### OS / ENVIRONMENT

CentOS
##### SUMMARY

We are testing out AWX_task's ability to handle concurrent Ansible jobs. We executed a single Ansible job to a 1000 virtual hosts with various number of forks (100,200,500 etc). Ansible server’s hardware’s spec is very

[2018-01-17 16:26] sivel commented on #34931
I've submitted a pull request which resolves this issue: https://github.com/ansible/ansible/pull/35002

[2018-01-17 16:29] Voolkanus commented on #34927
@maxamillion Thanks for the suggestion, wasn't sure how to describe the component exactly.

[2018-01-17 16:31] sivel commented on #35001
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker:

   * https://github.com/ansible/awx

If you can stop by the tracker or forum for one of those projects, we'd appreciate it.

Should you still wish to discuss

[2018-01-17 16:31] #35001 closed, assigned to nobody

[2018-01-17 16:36] sivel commented on #34989
Per the documentation at http://docs.ansible.com/ansible/latest/playbooks_loops.html#do-until-loops you need to include `until`:

Which means that it will not retry at all.

Try using the following instead:

[code]

needs_info

[2018-01-17 16:36] maxamillion commented on #34927
@Voolkanus Certainly, happy to help. We're continuing to work on the bot so that it knows what to do, but we still help it from time to time. Thanks for the Issue report!

[2018-01-17 16:39] manjunathrreddy opened #35003 "Cloudformation module failed to create stack"
##### ISSUE TYPE

 - Unable to create stack in ansible cloudformation module
##### COMPONENT NAME

ansible cloudformation module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Unable to create a linux instaces through ansible cloudformation module. But i'm successful in creating the linux instance using the aws cloudformation services from the aws consol

[2018-01-17 16:42] chosak commented on #32486
In [the release notes](https://github.com/ansible/ansible/blob/devel/CHANGELOG.md#24-dancing-days---20170918) for 2.4, there's the entry "All configuration paths are now relative to the `ansible.cfg` file used." Does this mean that the use of paths like `~/.vault_pass` is no longer supported?

[2018-01-17 16:46] tedder commented on #35003
It looks like you need to specify additional parameters in template_parameters. If that's not the case, please share `ec2-eu-west-1-1a-s-services-xxx-ans.yaml` so we can reproduce.

[2018-01-17 17:09] kachkaev commented on #34989
One of the options I tried above did contain `until`, but it still was not working perfectly:

[code]
The problem occurred when the server was temporary unreachable, and I was thus getting this:
[code]

The solution ended up being this:
[code]

Turns out the module itself is OK, just the task setup is not straightforward. How about adding a couple of examples with `retries` to [`uri_module.html`](

[2018-01-17 17:09] sivel commented on #34941
I've submitted  #35005 which should resolve this problem.

[2018-01-17 17:10] sivel commented on #34989
Feel free to open a docs pull requests with additional examples.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-01-17 17:10] #34989 closed, assigned to nobody

[2018-01-17 17:16] #34999 closed, assigned to nobody

[2018-01-17 17:17] JqckB commented on #34886
Ok, there is the paste of ansible-playbook on 2.3.2 (OS X) :

[code]

And the result file :

[code]

Don't hesitate to ask me anything else if it can help you to debug.

[2018-01-17 17:25] kachkaev commented on #34989
Actually my example above is not complete, one line is missing:

[code]

Because `status_code` option is 200 by default, the task fails when the 'right' status is not 200 and this is only mentioned in `until`. Turns out like too much stuff to write for such a small check IMO.

How about introducing something like `result.success = true / false` to make it possible to write just this?

[code]

In a

[2018-01-17 17:38] s-hertel commented on #35003
needs_info
(for the above comment)

[2018-01-17 18:09] gundalow commented on #34768
@LukeRussell Thanks for the updates. I'm wondering if there are multiple issues here

1) https://github.com/ansible/ansible/pull/33714 changing from  return type from a string to a list.
1.1) Does this need changing back
1.2) Should all `*_facts` modules be consistent
2) Regex needs updating
3) `test/units/plugins/connection/test_network_cli.py` should be updated to include a list of valid & inval

[2018-01-17 18:18] itdependsnetworks commented on #34941
Thanks 👍

[2018-01-17 18:23] #30269 closed, assigned to nobody

[2018-01-17 18:37] joshperry commented on #31673
Holy Hannah,
Let that be a cautionary tale that dynamic includes are a hairy beast.

This is my same playbook with the channels functionality moved to host groups and with serial:20.

![screenshot from 2018-01-17 11-35-06](https://user-images.githubusercontent.com/298053/35060098-8c4e1704-fb7a-11e7-9cda-9f1c4b1590c8.png)

[2018-01-17 19:10] hymie0 commented on #4265
Sorry to bring up an old thread, but the "latest" PDF/Epub do not include the module documentation.  That's what I'm personally looking for.

[2018-01-17 19:13] martydelaney3 commented on #34927
After some troubleshooting it appears that the error is somewhere within how the module parses the zone. If I manually set the zone within the gce.py I no longer experience the error.

[2018-01-17 19:42] twall commented on #27745
I'm seeing this error without passing any arguments to the handler.

[2018-01-17 19:45] jborean93 commented on #34987
@kinware, nice work you are pretty much smack on the money here. There is a PR open to fix this https://github.com/ansible/ansible/pull/33855 but I haven't gotten around to merging it. Would be helpful if you could test it out.

[2018-01-17 19:55] jborean93 commented on #25794
This was fixed in https://github.com/ansible/ansible/pull/34967

[2018-01-17 19:55] #25794 closed, assigned to nobody

[2018-01-17 19:55] #34689 closed, assigned to nobody

[2018-01-17 20:11] SaranrajMG opened #35012 "vmware_guest Error : Unable to access the virtual machine configuration: Unable to access file"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL6.8

##### SUMMARY
##### STEPS TO REPRODUCE
Running the module vmware_guest to create a VM from a template gives the following error:
[code]

I have the following setup in my environment.
1.  I have a Datacenter (ex: DC1) in my vCenter, under the da

[2018-01-17 20:14] #34941 closed, assigned to nobody

[2018-01-17 20:38] maxamillion commented on #34949
@boxrick just to clarify, are you suggesting that the variables are not being merged as they should be or are you expecting the execution order to be altered based on this priority setting? (The former being the feature provided by [ansible_group_priority](https://docs.ansible.com/ansible/devel/intro_inventory.html#how-variables-are-merged) and not the latter)

[2018-01-17 20:41] gundalow commented on #33950
Most of this will be resolved by https://github.com/ansible/ansible/pull/35013

`ansible/utils/module_docs_fragments/nxos.py` needs updating to include correct provider (should be suboptions doct).

I'll review the other docs fragments as well, may be missing `authorize:` and the other few still valid top-level args

[2018-01-17 20:55] robinro commented on #30827
@davidfischer-ch @websmurf @torfsen As far as I know, this fix is not backported to 2.4 (yet). Your options:
* Use the devel version of ansible
* Use the apache2_module from devel (put it in library folder next to your playbook)
* Talk to ansible core (best on IRC) to get this backported for 2.4.x

[2018-01-17 21:01] abhigrover opened #35015 "Including playbook and passing ssh_user and ssh_pass"
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]
##### COMPONENT NAME
setup

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows
##### SUMMARY

I am trying to have a parent playbook call a child playbook, while passing in the "host" to run against, ssh username to use and ssh password to use to connect to this host. Calling the child playbook by itself works, but from the parent pla

[2018-01-17 22:10] ksmets commented on #33699
same problem on ubuntu on both sides. works fine using python2, but not using python3

[2018-01-17 22:17] ksmets commented on #34727
I confirm this issue also exist when running ansible on Ubuntu 16.04 in python 3 environment. Disabling pipelining provides a workaround

[2018-01-17 22:22] sivel commented on #34727
I've been able to bisect this issue to f921369445900dcc756821e40c9257d5359087af

I've not determined the specific cause within that commit yet.

[2018-01-17 22:44] alikins commented on #23609
@riton I can reproduce partially with devel (ea1361a9273d4b31391f08eb7d7a5e3d44b6161e) and your POC repo.

I can reproduce the eventually error on poc-include_role.yml, but so far poc-import_role.yml works for me
with the amount of recursive cranked as high as 40.

[2018-01-17 22:52] sivel commented on #34727
Ok, that commit wasn't it.  It actually addressed a bug that I was "utilizing" in my testing.  I'll go back to it.

[2018-01-17 23:15] sivel commented on #34727
Ok, good news is that I've actually figured it out.  I'll work on a pull request tomorrow and will link here with that resolution.

In my testing this has existed, at minimum, back to 2.3.0 with python3.

[2018-01-18 00:16] nitzmahone commented on #34068
bot_status

[2018-01-18 00:17] Mixer9 opened #35023 "jabber module fails with messages successfully sent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jabber

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) = /tmp/ansibleretry

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)
Jabber server version unknown, I don't own the server.

##### SUMMARY
Jabber module su

[2018-01-18 00:18] Mixer9 commented on #35023
CC @maxamillion Thanks Adam for your help today.

[2018-01-18 00:30] nitzmahone commented on #34068
Bot misidentified the component to include the deprecated `_azure.py` module because the issue template was not used.

[2018-01-18 00:46] Mixer9 opened #35025 "Unicode characters used in blockinfile"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) = /tmp/ansibleretry

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### SUMMARY

I want to edit the /etc/bashrc file to make the prompt turn re

[2018-01-18 00:47] Mixer9 commented on #35025
CC @maxamillion Check this one out Adam, you'll like this, leave it to me to have the funky issues.

[2018-01-18 01:28] #32850 closed, assigned to nobody

[2018-01-18 03:14] hvindin opened #35029 "Copy module silently truncates files if target server tmp location is to small."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running with master and target server on Red Hat Enterprise Linux Server 7.2 (Maipo)

##### SUMMARY
The Copy module seems to silently fail if the tmp location runs out of space when copying a large file. The copy module will simply fill the diskmount f

[2018-01-18 03:40] zikalino commented on #34992
@kwanlowe I will look into this issue by the end of the week.

[2018-01-18 03:53] zikalino commented on #33819
resolved_by_pr 33624

[2018-01-18 04:04] induraj commented on #15321
I have configured on base machine without virtualenv is working. Might be there is some user authentication issue.

[2018-01-18 04:14] #33819 closed, assigned to nobody

[2018-01-18 04:28] Akasurde commented on #32195
@raspinall Could you please check with latest Ansible version as above mentioned patch is merged and let us know if it works for you ?

needs_info

[2018-01-18 04:57] NZSmartie opened #35030 "delegate_to with unreachable hosts breaks playbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.3 LTS

##### SUMMARY
Using `delegate_to` (a perfect example can be found in the documentation [http://docs.ansible.com/ansible/latest/playbooks_delegation.html#delegated-facts](http://docs.ansible.com/ansible/latest/playbooks_delegation.html#delegated-facts)); When a

[2018-01-18 05:06] trishnaguha commented on #27654
resolved_by_pr https://github.com/ansible/ansible/pull/35031
The PR confirms that the idempotency issue doesn't exist now.

[2018-01-18 05:10] #27654 closed, assigned to Qalthos, trishnaguha

[2018-01-18 05:12] NZSmartie commented on #35030
Updated the issue as it's only `delegate_to` that is the cause. omitting `delegate_facts` has no affect on the bug

[2018-01-18 05:13] trishnaguha commented on #27292
@rahushen based on your comment https://github.com/ansible/ansible/pull/28939#discussion_r151739160 looks like using `command_timeout` has fixed the issue, hence closing the issue. If there are other issues with the module please open a new one. Thanks.

[2018-01-18 05:13] #27292 closed, assigned to trishnaguha

[2018-01-18 05:18] yuwzho commented on #29768
wontfix

[2018-01-18 05:22] trishnaguha commented on #27383
Closing the issue as this is fixed on devel and 2.4. Please reopen if the issue persists.

[2018-01-18 05:22] #27383 closed, assigned to trishnaguha

[2018-01-18 05:29] #29768 closed, assigned to nobody

[2018-01-18 05:35] yuwzho commented on #29550
Thanks for reporting this, I will take a look!

[2018-01-18 05:38] yuwzho commented on #29593
Thanks for your reporting, I will fix it soon!

[2018-01-18 05:40] yuwzho commented on #28534
@tumluliu it is included in the #32882

[2018-01-18 06:02] manjunathrreddy commented on #35003
---
AWSTemplateFormatVersion: 2010-09-09
Description: 'Launch an RedHat/CentOS instance with Tags, adds 2 volumes (log and app), OS logs redirected to CW Logs and Sentinel user latest public key. Template assumes realmd and OTP packages previously installed on AMI'

Metadata:

  StackName:
    Type: String
    Default: test
    Description: 'AWS CF Stack Name'

  AWS::CloudFormation::Interface:

[2018-01-18 06:06] yuwzho commented on #27878
Thanks for reporting this issue, I will fix it soon!

[2018-01-18 06:08] Chetan-CSI opened #35032 "An error occurred (RequestLimitExceeded) when calling the DescribeSubnets operation"
ISSUE TYPE
Bug Report

COMPONENT NAME
ec2_vpc_subnet

ANSIBLE VERSION
[code]

CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

 OS / ENVIRONMENT
Centos7.4

SUMMARY
Received the error for max tries exceeded while deleting aws subnetwork.
Could not reproduce this issue in the next iteration, but seems to be an intermittent one.

STEPS

[2018-01-18 06:11] yuwzho commented on #25032
resolved_by_pr 26052

[2018-01-18 06:15] #25032 closed, assigned to nobody

[2018-01-18 06:19] manjunathrreddy commented on #35003
[ec2-eu-west-1-1b-s-cms-centos-ans.zip](https://github.com/ansible/ansible/files/1641804/ec2-eu-west-1-1b-s-cms-centos-ans.zip)

[2018-01-18 06:19] Chetan-CSI opened #35034 "An error occurred (RequestLimitExceeded) when calling the DescribeVpcEndpoints operation"
An error occurred (RequestLimitExceeded) when calling the DescribeVpcEndpoints operation

ISSUE TYPE
Bug Report

COMPONENT NAME
ec2_vpc_endpoint_facts

ANSIBLE VERSION
[code]

CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

 OS / ENVIRONMENT
Centos7.4

SUMMARY
Received this error while trying to collect  VPC endpoint facts.

STEPS

[2018-01-18 06:21] yuwzho commented on #27426
Thanks for reporting this, I will look into this issue

[2018-01-18 07:00] tedder commented on #35003
I count at least 6 parameters that don't have defaults- e.g., they need to be specified.

I'm also suspicious about how you are calling the module, I don't think it'll even see the `args` section. So you have a couple problems, at least.

`notabug`

[2018-01-18 07:02] #35003 closed, assigned to nobody

[2018-01-18 08:12] jhawkesworth commented on #23843
@rtk88 - closed tickets aren't often monitored, I saw this one by chance, it is best to open a new issue with full details.

Assuming you are seeing
 "msg": "credssp: 'module' object has no attribute 'TLSv1_2_METHOD'",
I suggest checking what pyOpenSSL version you have, and also ensuring the targets you are managing can support TLS 1.2 - as the documentation says here: http://docs.ansible.com/ansi

[2018-01-18 08:26] manjunathrreddy commented on #35003
I have created the role for calling this ansible cloudformation module and within the tasks/main.yml i'm calling this module. The Cloud formation template has no issues calling from the AWS console, and the instance is created successfully. The issue here i'm facing is through the ansible playbook

If I'm missing any parameters, please let me know, what are the parameters and how to pass them?

[2018-01-18 09:25] kyliel commented on #34068
@akamalov try to isolate the issue. Without terraform, can you see the hosts identified by Ansible inventory? For example,  run "python azure_rm.py --list --pretty" see whether you can identify hosts.

[2018-01-18 09:25] kinware commented on #34987
@jborean93 I transplanted the lib/ansible/plugins/action/script.py patch in PR #33855 to the 2.4.0.0 release, and the script module run of "fast.ps1" does work (i.e it does run over a high latency link). It does have some cruft on stderr though:

[code]

I don't know if this a side effect of the wrapper included in 2.4.0.0?

Data sent to the '-' powershell command:

[code]

Decoded module_entry st

[2018-01-18 09:29] jborean93 commented on #34987
I’ll have a look tomorrow and try and get a fix for 2.4 as well, off the top of my head I think the script module changed a bit for 2.5 so it may not have immediately been compatible but I’ll have a look. Thanks for the info.

[2018-01-18 09:35] kyliel commented on #31967
Assign to @zikalino

[2018-01-18 09:37] kinware commented on #34987
No prob. Happy test anything you got for 2.4.0.0!

We are just starting a bunch of tests when just removing the stdin part (i.e comment out those two lines sending input). This means scripts are still run "raw" without the wrapper (just "& path-to-script"). This I think is a smaller change (and thus "safer") when it comes to the 2.4.0.0 release. We already passed our internal QA with 2.4.0.0, but

[2018-01-18 09:40] kyliel commented on #29317
@nitzmahone , cloud we close this one since the last test was successful from the submitter? Thanks.

[2018-01-18 10:26] tiraboschi opened #35039 "ovirt_hosts has iscsidiscover and iscsilogin state but it misses iscsilogout"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_hosts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Centos 7

##### SUMMARY
ovirt_hosts has iscsidiscover and iscsilogin state but it misses iscsilogout,
oVIrt REST APIs lacks it as well: https://bugzilla.redhat.com/show_bug.cgi?id=1535951

ovirt_host_storage_facts then performs an implicit iSCSI login:
https:/

[2018-01-18 10:37] mwperina commented on #34867
@machacekondra

[2018-01-18 10:58] ramonamis commented on #30036
this bug still exists

[2018-01-18 11:28] Akasurde commented on #35012
@SaranrajMG Thanks for reporting this issue. I will try to reproduce this issue in my environment.

[2018-01-18 12:03] marinus81 opened #35041 "aci_rest: change not detected"
##### ISSUE TYPE

 - Bug Report
 - maybe Enhancement request?

##### COMPONENT NAME
aci_rest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_DEBUG(env: ANSIBLE_DEBUG) = False
DEFAULT_STRATEGY(env: ANSIBLE_STRATEGY) = linear

##### OS / ENVIRONMENT

N/A

##### SUMMARY

aci_rest module does not always detect changed config, but reports it as unchanged ("ok:")

##### STEPS TO REPRODUCE

[2018-01-18 12:12] yamenk opened #35042 "Add exclusion list to filetree plugin"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
  - Filetree plugin

##### SUMMARY
When using the filetree plugin in combination with the template module, I would like to exclude some subdirectories under the root path as these sub-directories contain many files that I don't want to process with the template module.

[code]

It is possible to specify the subdirectories separately, however t

[2018-01-18 12:26] mumutu66 commented on #12086
+1 forks

[2018-01-18 13:35] #34963 closed, assigned to nobody

[2018-01-18 13:44] maxgio92 commented on #30120
Sorry, it seems that is not possible since the current s3_lifecycle module uses Boto 2 rather Boto 3.
In 2nd version the Rule class does not support the non-current versions of the S3 objects instead the 3th one does:
http://boto.cloudhackers.com/en/latest/ref/s3.html?highlight=lifecycle#boto.s3.lifecycle.Rule
https://boto3.readthedocs.io/en/latest/reference/services/s3.html#S3.BucketLifecycle.rul

[2018-01-18 14:01] maxgio92 opened #35046 "s3_lifecycle: Add support for non-current versions"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
s3_lifecycle

##### ANSIBLE VERSION
2.4.2.0

##### OS / ENVIRONMENT
MacOS 10.13.2

##### SUMMARY
It would be nice to have control on which versions to apply the rule to (current version or previous non-current versions).

Actually is not possible to apply the rule for non-current version S3 objects and by default the rule will be applied only to

[2018-01-18 14:17] ibogomolov opened #35047 "cannot get remote_user in a callback plugin (hipchat)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cli.options and play modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ALLOW_WORLD_READABLE_TMPFILES(/Users/ibogomolov/ansible/ansible.cfg) = True
DEFAULT_ACTION_PLUGIN_PATH(/Users/ibogomolov/ansible/ansible.cfg) = [u'/Users/ibogomolov/ansible/action_plugins']
DEFAULT_CALLBACK_PLUGIN_PATH(/Users/ibogomolov/ansible/ansible.cfg) = [u'/Use

[2018-01-18 14:31] gundalow commented on #33950
bot_skip

[2018-01-18 14:47] IoTPlay commented on #20492
Same problem, Controller on Mac, TARGET on RPi, have been struggling with this for 3 weeks. I logged my own issue, they closed it, so where do we go from here?

"This is not a problem with ansible, but instead a potential problem with upstream docker-py/docker: docker/docker-py#1353

[2018-01-18 14:57] tedder commented on #35003
The missing parameters are listed in the error:
[code]

[2018-01-18 15:05] Voolkanus commented on #34927
@martydelaney3 Sounds great! Can you elaborate on this a bit more? I would like to make some local changes for now to make it work. Btw I'm using all the available zones in an area(4 out of 4).

[2018-01-18 15:13] freeseacher opened #35048 "import_tasks inside include_tasks generates confusing error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
wrong error generated if import_tasks found in include_tasks file

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
import error/lint error/any error

##### ACTUAL RESULTS
[code]

[2018-01-18 15:13] dagwieers commented on #35041
Yes, I have experienced similar problems, but **aci_rest** relies on this information from the APIC and it seems the APIC is not correctly returning this information to us in every case. This should be reported to Cisco.

[2018-01-18 15:23] Applemann commented on #34851
@IoTPlay Hello, are you using Python 2 or Python 3 interpreter??
viz.: https://github.com/ansible/ansible/issues/20492#issuecomment-294350693

[2018-01-18 15:39] dagwieers opened #35050 "aci_rest: Using status="created" behaves differently than status="deleted""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_rest

##### ANSIBLE VERSION
v2.4+

##### SUMMARY
If you use a REST payload with **aci_rest** using `status="created"` the action is not idempotent. The first time (when the object does not exist) it works (`changed=True`), but a subsequent call fails as the APIC returns an HTTP failure.

However, if you do the same for removing an object usi

[2018-01-18 15:40] sivel commented on #34727
I've submitted my pull request, which should resolve these issues.  If anyone could please test it would be appreciated:

https://github.com/ansible/ansible/pull/35049

[2018-01-18 16:03] sivel commented on #33699
I'm not sure if my recent pull request will address these issues or not, but please take a look at https://github.com/ansible/ansible/pull/35049 and test the change.  It's 1 line, so you can likely just make the change locally without a patch if that works easier.

[2018-01-18 16:04] martydelaney3 commented on #34927
Somewhere around line 7400 in /usr/lib/python2.7/site-packages/libcloud/compute/drivers/gce.py you should find this block of code:

[code]

We commented out the volume = self._ex_volume_dict[volume_name].get(zone, None) and added:

[code]

This forces the zone to the variable you set, in our case david, instead of using the zone that is in some way improperly formatted by libcloud.
It also then ap

[2018-01-18 16:15] sivel commented on #35047
This is possible. The slack callback that is included with ansible does it currently:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/slack.py#L92-L94
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/slack.py#L155

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: ht

[2018-01-18 16:15] #35047 closed, assigned to nobody

[2018-01-18 16:23] rafecolton commented on #33699
@sivel I'm using passwordless `sudo`—would #35049 still be relevant?

[2018-01-18 16:24] mtnbikenc opened #35051 "ansible_virtualization_type and ansible_virtualization_role not recognized for Amazon EC2 C5 Instances"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/module_utils/facts/virtual/linux.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Amazon EC2 C5 instances are not properly recognized due to a change in bios_vendor/sys_vendor identifier.

##### STEPS TO REPRODUCE

On a C5 instance:
[code]

##### EXPECTED RESULTS

Expected

[2018-01-18 16:26] mtnbikenc commented on #35051
/cc @maxamillion

[2018-01-18 16:31] sivel commented on #33699
@rafecolton it may not.  These problems are especially hard to diagnose, and others usually see the error message, and assume they are all related.

I'll do what I can to diagnose a passwordless sudo scenario.  It could be something related however.

[2018-01-18 16:49] rafecolton commented on #33699
@sivel understood. FWIW I have only ever seen this when running multiple simultaneous playbooks. The scenario is bootstrapping multiple machines using `terraform`, so each playbook is run in a separate process. I've never encountered this error running one playbook at a time, even if that playbook runs on multiple machines in parallel.

[2018-01-18 16:53] sivel commented on #33699
@rafecolton I wonder if your issue could be related to MaxStartups in ssh?  Just a thought, I know it can impact other things as well.  Often setting `timeout = 30` under `[defaults]` will sometimes help with problems like that.

[2018-01-18 17:21] hadfiiw commented on #20106
@Akasurde  I know I didn't start this and you didn't ask me but more then happy to help as I seem to be running into the same issue.

I have tried the following without luck.  I am using ansible 2.4.2.0, python 2.7.12, and pyvmomi 6.5.0.2017.5.post 1 against a 6.0U3b vCenter.  The target VM is an Ubuntu VM with Guest Managed VMware tools installed (version 2147483647)

`      vmware_guest:

[2018-01-18 17:26] jimi-c commented on #31673
@joshperry there was another issue fixed by https://github.com/ansible/ansible/commit/c30ee42fe1f0a9666a90f4d63121780f2a186c54#commitcomment-26942713 which should address this and is being included in 2.4.3 rc3. You can test it there, or give devel a try if possible.

[2018-01-18 17:30] hadfiiw commented on #20106
@Akasurde I know I didn't start this and you didn't ask me but more then happy to help as I seem to be running into the same issue.

I have tried the following without luck. I am using ansible 2.4.2.0, python 2.7.12, and pyvmomi 6.5.0.2017.5.post 1 against a 6.0U3b vCenter. The target VM is an Ubuntu VM with Guest Managed VMware tools installed (version 2147483647)

[code]

Even though the VM is p

[2018-01-18 17:32] #34727 closed, assigned to sivel

[2018-01-18 17:38] jhawkesworth commented on #34226
Thanks, slowly making progress on this.
I can get diff output from win_template provided I am running in check mode at the moment.
need to get it working not in check mode and handle zip case etc.

[2018-01-18 17:57] TPXP commented on #27520
Same problem on Ansible 2.4.2.0, any updates ?

[2018-01-18 18:04] #21096 closed, assigned to nobody

[2018-01-18 18:06] IoTPlay commented on #34851
Pythin 2.7

On Thu, 18 Jan 2018 at 17:24, Martin Jablečník <notifications@github.com>
wrote:

[2018-01-18 18:12] hadfiiw commented on #20106
@Akasurde

Actually, I just got this to work.  I went on to the next phase of my playbook (vmware_guest_snapshot) and noticed that the "folder" documentation for "vmware_guest_snapshot" says...

[code]

...but for "vmware_guest" it says...

[code]

Just as a test, I added the folder option to "vmware_guest" and it is now working.

So it seems that "folder" is required for "vmware_guest"(?)  The on

[2018-01-18 18:19] eyeofthefrog commented on #34727
Yes, it worked. Thanks for the quick turnaround!

[2018-01-18 18:23] jctanner commented on #34853
This should find it's way into the documentation somewhere. For that reason, i'm going to mark it as needs_contributor.

[2018-01-18 18:25] alikins opened #35055 "Generalize HPUX arch check in facts/hardware/hpux.py cpu facts"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

lib/ansible/module_utils/facts/hardware/hpux.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

HP-UX

##### SUMMARY

See https://github.com/ansible/ansible/pull/33333/files#r156724661

HP-UX hardware cpu fact code does a if arch == '9000/800' check to see if
arch is ia64 or 9000 platform.

The pr a

[2018-01-18 18:25] chiefy commented on #29383
thanks @alikins

[2018-01-18 18:26] #31976 closed, assigned to nobody

[2018-01-18 18:28] sivel commented on #35029
Ok, from my testing I have narrowed this down to 2 configuration options that produce this behavior:

[code]

Any combination other than this allows it to succeed.

It seems that when using `sftp_batch_mode = false`, we don't get a proper failure from sftp.  And when using `pipelining = True`, it seems that later because we don't need to create a temporary file for the module, it doesn't fail due

[2018-01-18 18:30] sivel commented on #35029
[code]

It seems like this may be a known issue.  Disabling `BatchMode` on sftp prevents us from catching failed transfers.

[2018-01-18 18:31] JakeDEvans opened #35056 "yum module support query"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
any

##### OS / ENVIRONMENT
redhat/centos

##### SUMMARY
yum support `queryformat` and `query` function

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Same output as `rpm -qa httpd --queryformat %{VERSION}`

[2018-01-18 18:48] sivel commented on #34727
It will be included in 2.4.3.  We cherry picked it today, and plan to release a 2.4.3rc3 today.

[2018-01-18 18:49] IoTPlay commented on #34851
Python 2.7

Any ideas? Should I go to Python 3? I am not sure how..., okay, will try:
[code]

[2018-01-18 18:56] IoTPlay commented on #34851
Okay, ran the **docker_container** playbook with
[code]
AFTER I did the following:
[code]
Now get a diff. error:
[code]
What is Module name **'requests'** ?

[2018-01-18 18:58] eyeofthefrog commented on #34727
That's great, thanks!

[2018-01-18 19:03] IoTPlay commented on #34851
I checked, I have **requests** pip package.

'Managed Host - RPi'
[code]

[2018-01-18 19:10] sivel commented on #27780
Per the decision in https://github.com/ansible/ansible/pull/31450 I am going to close this issue out.

[2018-01-18 19:10] #27780 closed, assigned to nobody

[2018-01-18 19:14] #35056 closed, assigned to nobody

[2018-01-18 19:23] giovannisciortino commented on #34989
@kachkaev I'm not sure if you have observed that there is already a variable failed in result dictionary. It's content is the opposite of the "result.success" variable that you are searching.

I report below an example of its use:
[code]

Does it fit your requirements? If yes, I'm agree with you that using it to increase the readability of the playbook and I don't think that adding a new return va

[2018-01-18 19:48] felixfontein commented on #32767
This is a problem with parsing the OpenSSL output; when SANs are marked as critical, the regexp used is ignoring them.

[2018-01-18 19:55] maxamillion commented on #35025
This works on ansible 2.4.2.0

[code]

[code]

[code]

[code]

[code]

[2018-01-18 20:00] rbrandon81 opened #35058 "Ansible connection to Nexus device fails."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_command

##### ANSIBLE VERSION
ansible --version
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/rob/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  py

[2018-01-18 20:20] marinus81 commented on #35041
I'll try to see if I can get some response from Cisco on this (not sure if I can open a TAC case for my LAB equipment). However as this behavior is consistent across two major releases I guess this is either a major flaw in their software or works as intended.

Some further investigations using postman revealed that without `rsp-subtree=modified` there is no response form APIC on the modified item

[2018-01-18 20:29] akamalov commented on #34068
Thanks for the reply @kyliel . It returns the list. Example:

[code]

What it does not honor is the tags. For example, if I specify ```python azure_rm.py --list --tags zookeepernodes --pretty```, it still displays everything, bastion nodes, kafka nodes and zookeeper nodes. I am deploying the environment using Terraform, but upon completion of deployment of instrastructure, I am bootstrapping Ansib

[2018-01-18 20:30] dagwieers commented on #35041
So,

1. Yes, **aci_rest** always provides `rsp-subtree=modified` to every POST/DELETE request.
2. Yes, we check all objects to see if the status has either created, modified or deleted.

this is according to what the documentation states.

The issue you reported was related to the fact that if you provided a different path, there was no change reported even though 1. and 2. were OK. So to me that

[2018-01-18 20:38] skylerbunny opened #35061 "synchronize loses ssh connection params between retries"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION

[code]
This also affects the newest stable 2.4, which is what brought me here in the first place.

##### CONFIGURATION
No ansible.cfg used.
ANSIBLE_HOST_KEY_CHECKING=False
(Though this happens with or without the above set)

##### OS / ENVIRONMENT
Centos 7.4-1708 (newest with updates)

##### SUMMARY
Performing

[2018-01-18 20:39] tdtrask opened #35062 "apk dependencies falsely marked as changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apk.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Alpine Linux 3.7.0

##### SUMMARY
If you attempt to remove a package that is installed as a dependency, it will report that it was successfully changed although the package is still installed. Running the same action again produces the same results.

##### STEPS TO

[2018-01-18 20:41] skylerbunny commented on #35061
This issue is reminiscent of #18281, but obviously a different issue. In that bug, the 'src' changes between retries. In this one, the overall 'cmd' does.

[2018-01-18 20:42] #34716 closed, assigned to sivel

[2018-01-18 21:00] maxamillion commented on #35025
@Mixer9 I did copy/paste it but it appears that something isn't quite right because this is what the prompt looks like, and it's not red.

[code]

[2018-01-18 21:08] #22411 closed, assigned to nobody

[2018-01-18 21:19] rmfitzpatrick opened #35064 "TypeError raised when plugins are without docstrings"
When using custom plugins that don't have docstrings, a `TypeError` is now raised on ansible-playbook invocations:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/plugins/loader.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### SUMMARY
If a user is attempting to use a custom callback plugin that doesn't have a docstring as returned by `ansible.utils.plugin_d

[2018-01-18 21:27] LukeRussell commented on #34768
Gday @gundalow,

I think there are definitely several issues here, as you've listed, though I will answer them in a different order.

2. Yep. That's the primary outcome I was hoping for when I created this issue. I've added a 2960X to the [previous gist](https://gist.github.com/LukeRussell/07740b7dc00ec181c89af64f7f5fa088) as well, which still [seems to be correct](https://regex101.com/r/HkfviC/1)

[2018-01-18 21:30] sivel commented on #35064
Fixed in https://github.com/ansible/ansible/pull/35017

[2018-01-18 21:30] #35064 closed, assigned to nobody

[2018-01-18 21:32] Mixer9 commented on #35025
@maximillion right, when I put the text into the issue, it clobbered the
control characters so when you copied it it copied literal ^[ instead of
the control character there are three control characters if you look at the
code, they are all the same and of course as you know in vi you can correct
the literal ^[ with the control character by using ctrl-v+[ . Give that a
try and see if you can still

[2018-01-18 21:38] maxamillion commented on #35025
@Mixer9 recommendation from a colleague is to stick the stuff that is in `block` into another file, and then load it like `block: "{{ lookup('file', 'bashrc_part') }}"`

[2018-01-18 21:47] kiorky opened #35065 "included include_role fails to escalate since ebf971f"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
- ubuntu LTS

##### SUMMARY
- 2nd reproducable test case here: https://github.com/kiorky/ansible_test_cases/tree/35065b ->
   - The third form (with block) should already work
- reproducable test case here: https://github.com/kiorky/ansible_test_cases/tree/35065
- With the commit

[2018-01-18 21:49] kiorky commented on #33922
@jimi-c
done: https://github.com/ansible/ansible/issues/35065
test case: https://github.com/kiorky/ansible_include_role_test_cases

[2018-01-18 21:50] felixfontein commented on #20638
bug_resolved

[2018-01-18 21:54] kiorky commented on #35065
cc @jimi-c

[2018-01-18 21:59] #20638 closed, assigned to nobody

[2018-01-18 22:08] WRJFontenot commented on #31699
ANSIBLE VERSION

[ansible@localhost ~]$ ansible --version
  2908 1516312537.38636: starting run
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version

[2018-01-18 22:20] #34325 closed, assigned to nobody

[2018-01-18 22:32] jborean93 commented on #34987
Cool, so it turns out the error is due to the `#Requires -Version 3.0` that is set in the exec wrapper which was removed in 2.5 but not backported. I'll have a fix pushed soon for 2.4 that will be available in the 2.4.4 release.

[2018-01-18 22:46] jborean93 commented on #34987
@kinware the final changes can be found here https://github.com/ansible/ansible/commit/96ced5941e1fe7b845a7c1edb3c343b946098f38, unfortunately it was too late for the 2.4.3 release but will make it in for 2.4.4. Feel free to try it out and close the issue if it has been resolved.

[2018-01-18 23:15] morgangraphics commented on #34963
Thanks for getting on this so quickly. Very much appreciated.

[2018-01-18 23:24] ericdong66 commented on #18305
I hit same issue as well, ansible task hang on "sftp a file to remote", file is created but size stuck at 0.

work around by reduce interface mtu size, was 9k and reduced to 1500.

[2018-01-19 00:00] #25473 closed, assigned to jborean93

[2018-01-19 00:21] grybak-arista opened #35069 "eos_config with consecutive second-level indents is no longer idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
-- no output --

##### OS / ENVIRONMENT

Ansible on macOS/Linux
Managing Arista EOS

##### SUMMARY

When using eos_config with a src file or template that contains consecutive second level indents, the operation no longer is idempotent and the

[2018-01-19 00:29] lbrigman124 commented on #22571
Similar issue.  Cannot check syntax or list tasks when passing them as a variable
`
  - include_role:
      name: "{{ROLE_NAME}}"
      tasks_from: "{{ROLE_TASK}}"
    static: no
`
Calling this with --syntax-check or --list-task gets nothing from the role.
`
ap test-role2 -e ROLE_NAME=mdc-etc -e ROLE_TASK=wipe --list-tasks
 [WARNING]: Could not match supplied host pattern, ignoring: all

 [WARNING

[2018-01-19 00:29] #15725 closed, assigned to nitzmahone

[2018-01-19 00:40] jborean93 commented on #18934
This feature was added in https://github.com/ansible/ansible/pull/34907 where you can specify what updates to skip (blacklist) or what updates can be installed (whitelist).

[2018-01-19 00:40] #18934 closed, assigned to nitzmahone

[2018-01-19 00:41] bjornicus opened #35070 "docker_container does not recreate the container if dns_servers is removed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/home/ubuntu/.ansible.cfg) = -o StrictHostKeyChecking=no
DEFAULT_REMOTE_USER(/home/ubuntu/.ansible.cfg) = hoylu
DEFAULT_ROLES_PATH(/home/ubuntu/.ansible.cfg) = [u'/home/ubuntu/ansible-roles']
DEFAULT_SCP_IF_SSH(/home/ubuntu/.ansible.cfg) = True
DEFAULT_TRANSPOR

[2018-01-19 01:07] willthames commented on #22571
This bug is fixed, in that it works correctly on the devel branch, but has not been backported to 2.4.

[2018-01-19 01:17] ajmora7 opened #35072 "win_scheduled_task module requires argument 'time'; documentation states 'time' is not a required argument"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/home/ansible@sollab.local/solutionslab_2018-01-18/ansible/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=10
ANSIBLE_SSH_CONTROL_PATH(/home/ansible@sollab.local/solutionslab_2018-01-18/ansible/ansible.cfg) = %(directory)s/%%h-%%r
HOST_KEY_CHECKING(/home/ansi

[2018-01-19 01:25] jborean93 commented on #34827
@kwilson7770 ultimately this issue is due to the copy tasks testing out recursive symbolic links that was added for 2.4. While we do not support Ansible running on Windows and these are some of the unfortunately side effects of our testing, I did create a PR to hopefully fix this https://github.com/ansible/ansible/issues/34827.

Instead of storing the symlink in the repo, it will be created on the

[2018-01-19 01:41] jborean93 commented on #35072
Thanks @ajmora7 for the info, unfortunately this module was overhauled in 2.5 to try and fix a lot of the issues with the existing module. It changed some of the arguments and have deprecated others and will be available when 2.5 is released.

Unfortunately due to the scope of the change, we were unable to cherry-pick it to 2.4 and these releases are still stuck with the older version. I have just

[2018-01-19 01:41] #35072 closed, assigned to nobody

[2018-01-19 01:42] #34827 closed, assigned to nobody

[2018-01-19 03:53] abadger commented on #34727
Been one of those days....

After some discussion, the bug that was prompting an rc3 release has proven to change behaviour in undesirable ways so it has been reverted. Since there's (at present) no bug that's blocking 2.4.3, there may not be an rc3 and this may not make it into a release until 2.4.4.  I've added the PR to the 2.4.x Project so that if there is a 2.4.3-rc3, I do not forget to re-ad

[2018-01-19 04:18] Akasurde commented on #20106
@hadfiiw Thanks for providing information about this. Actually, `vmware_guest` module has default value of folder as `/vm` which make this parameter optional. There is a [PR](https://github.com/ansible/ansible/pull/33525) which makes folder as a required parameter, if only there are multiple VMs with same name (VMware doesn't restrict from creating VM with same name! ) and also improves the way th

[2018-01-19 05:38] NZSmartie commented on #35030
Digging into this further.
When a Task is executed using `delegate_to` it's results are stored against the executing host without any context of which host was actually unreachable.
Which happens in `TaskExecutor.run(self)`(`lib/ansible/executor/task_executor.py`)

When those results are passed back to `WorkerProcess.run(self)`(`lib/ansible/executor/process/worker.py`), The TaskResult object store

[2018-01-19 05:52] felixfontein opened #35080 "Add OCSP Must Staple support for openssl_csr"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
openssl_csr

##### ANSIBLE VERSION
[code]

##### SUMMARY
It would be nice if the `openssl_csr` module could generate CSRs which include the OCSP Must Staple (id-pe-tlsfeature, 1.3.6.1.5.5.7.1.24) extension. The RFC is [here](https://tools.ietf.org/html/rfc7633), an explanation can be found [here](https://scotthelme.co.uk/ocsp-must-staple/).

The

[2018-01-19 06:26] Akasurde commented on #32901
Closing this issue as PR #33525 is merged. If issue persists, please feel free to re-open.

[2018-01-19 06:26] #32901 closed, assigned to Akasurde

[2018-01-19 06:32] Akasurde commented on #32702
@cyrbi Could you please test with latest vmware_guest patch and let me know ?

[2018-01-19 06:37] Akasurde commented on #24888
Closing this issue as PR #33525 is merged. If issue persists, please feel free to re-open.

[2018-01-19 06:37] #24888 closed, assigned to nobody

[2018-01-19 06:49] rlueckl commented on #22571
@willthames Can you give us an ETA when the fix will be released and which version (if you have one?). Will it be in 2.4.3.0, which is the current release candidate?

[2018-01-19 07:17] felixfontein commented on #32626
At least for me, openssl_csr already works fine with EC private keys (pyOpenSSL version 17.5.0). Or is this a problem with older versions of pyOpenSSL?

[2018-01-19 07:20] thomwiggers commented on #32626
`openssl_csr` maybe, but that module is key-agnostic. `openssl_privatekey` definitely doesn't support it.

[2018-01-19 07:21] felixfontein commented on #32626
Yes, I know (just from the module interface), I just wanted to point out that `openssl_csr` might not belong on the list :)

[2018-01-19 07:25] thomwiggers commented on #32626
I've added `(?)` in the description, I do think that these modules should probably be tested with ec keys when supported.

[2018-01-19 07:36] thomwiggers commented on #32626
Before this can be supported, we'll probably need to require the Python package `cryptography>=2.0`, which is only available on very recent versions of various distributions. See also the discussion on #32620

[2018-01-19 08:00] JasonSheedy commented on #8603
+1

[2018-01-19 08:25] marinus81 commented on #35041
I'm fairly new to collaborating on open source software, so please excuse if this is not the right place to discuss, or the wrong approach I took. That said - I believe I identified an issue with the aci_rest module which does not work as intended in all possible (but IMO valid) use cases. I also provided examples where this can be seen, as well as a brief root cause analysis. I also provided an i

[2018-01-19 08:36] trishnaguha commented on #31129
The module nxos_config supports `diff`.
With `diff: true` option in the task, it does show the `after` and `before` diff in the response.
It doesn't display diff for specific task like `--diff` does.
[code]
but when run the playbook with command line option `--diff`, it displays diff for the specific task:
[code]

This is more like a feature idea to me and core issue.

[2018-01-19 08:42] yuwzho commented on #26171
wontfix

[2018-01-19 08:43] yuwzho commented on #26171
notabug

[2018-01-19 08:45] #26171 closed, assigned to nobody

[2018-01-19 08:57] cvanniekerk commented on #34929
@Akasurde @maxamillion Could one of you kindly review this issue and merge the branch if possible?

[2018-01-19 09:20] #32767 closed, assigned to nobody

[2018-01-19 09:23] Applemann commented on #34851
@IoTPlay can you send me the part of your ansible with installation instruction?
I will try reproduce and resolve it (if will be possible) on my computer this weekend..

[2018-01-19 09:54] vinzenz opened #35084 "Network modules to link to Network and Platform Specific page (if it exists)"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
net_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
The command failed over SSH with this:

fatal: [default]: FAILED! => {"changed": false, "msg": "invalid connection specified, expected connection=local, got ssh"}

However there's no mentioning of this limitation in t

[2018-01-19 10:25] moon-musick opened #35085 "Setup module - ansible_service_mgr detection errors"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

Setup module.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

"Controller" OS is Ubuntu 16.04 amd64
"Target" OS is Ubuntu 14.04 amd64

##### SUMMARY

It seems the `setup` module detects `ansible_service_mgr` incorrectly (and with major inconsistencies between subsequent runs) in an Ubuntu 14.04 (upstart) host

[2018-01-19 11:02] jmtd commented on #28159
This would be *very* useful. Currently we are doing e.g.

[code]
which is obviously not ideal. I will take a look at @giovannisciortino's PR to see what I think (which is #28292 btw)

[2018-01-19 11:08] giovannisciortino commented on #28159
@jmtd I have to do apply some changes on PR #28292 described in the review of "samdoran on Dec 15, 2017". I'm thinking to remove the code related to listing subscription-manager repositories and leave only the features to enable/disable repositories. I need some spare time to work on it, I hope to have it soon maybe in the next weekend.

[2018-01-19 11:13] ghost opened #35086 "clear_host_errors causes unexpected behaviour with unreachable hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meta

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = redis
CACHE_PLUGIN_TIMEOUT(/etc/ansible/ansible.cfg) = 86400
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/root/scripts/get_inventory.py']
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) =

[2018-01-19 11:55] trishnaguha commented on #35084
@vinzenz This is not supposed to come with net_interface module doc.
Please follow the guide: https://docs.ansible.com/ansible/2.4/network_debug_troubleshooting.html#playbook-issues

[2018-01-19 12:00] vinzenz commented on #35084
@trishnaguha Ok I understand, but this is obviously a restriction for all network modules and I think it would be very wise to highlight this restriction for such modules with a hint on the documentation page and not in the troubleshooting part, as this is a given fact that you do not allow that so it's very much worth it to document it for the users sake.

[2018-01-19 12:14] gundalow opened #35087 "Test cases for `eos_facts/nxos_facts: examples of show (version,running-facts,interfaces)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
eos_facts
nxos_facts

##### ANSIBLE VERSION
[code]

##### SUMMARY
Most of the `eos_facts/nxos_facts` modules parse the output of `show` commands such as `show version` via regex to populate the various facts.

We've seen the data returned can vary depending on the network OS. For example you may get

`"ansible_net_model": null` on some IOS-XE

[2018-01-19 12:15] gundalow commented on #35087
Cisco IOS and IOS-XE `show version` sample outputs:

[code]

Thanks to @LukeRussell

[2018-01-19 12:44] zakabluk commented on #31125
Hi! I have same problem for ansible 2.4.2.0.  I resolved problem as:
added in ansible.cfg an option   pipelining=True .
Can you explain me, why we have error? And what will be in future?

My case:
I launched my playbook and got error:
`fatal: [10.6.220.125]: FAILED! => {"msg": "Failed to set permissions on the temporary files Ansible needs to create when becoming an

[2018-01-19 12:53] dagwieers commented on #35041
@marinus81 No, your proposed solution is based on an assumption that I don't know if it holds true in all cases. That's why I would much rather stick to the implemented and documented solution rather than to implement a work-around of which we are not certain it will work in every case. Even if that means that **aci_rest** is as unreliable as the APIC itself for specific payloads.

The **aci_rest*

[2018-01-19 12:59] #33898 closed, assigned to nobody

[2018-01-19 13:05] abadger commented on #31125
This is a closed bug report.  We seldom s see new comments on closed bug
reports.  If you think you are still experiencing this big, please open a
new ticket.

On Jan 19, 2018 4:44 AM, "Andrey" <notifications@github.com> wrote:

[2018-01-19 13:10] Akasurde commented on #26669
resolved_by_pr #35088

[2018-01-19 13:32] hadfiiw commented on #20106
Sounds good to me.

Yes, /vm should work for anybody running it against an ESXi host or a vCenter without folders.  What was confusing me was that "vsphere_guest" and "vmware_guest" were acting differently with the same info passed to them.

Seems that "vsphere_guest" is walking the folder tree while "vmware_guest" is not.  Either way is totally fine once one understands what they are actually doi

[2018-01-19 13:32] dagwieers commented on #35042
You can exclude by filtering out those paths using the `when:` condition. Just like you are now filtering by directory or regular file.

[2018-01-19 13:32] tlc commented on #25489
FWIW, there is a 3rd party plugin on github, https://github.com/antifuchs/ansible-sshlxd-connection,
that appears to address this.  I've never used it.

[2018-01-19 13:33] #35042 closed, assigned to nobody

[2018-01-19 13:45] bl4ckb1rd commented on #14426
Hi, i have the same trouble with deploying to ubuntu 16.04 with ansible 2.4.2.0, the --paramiko option solve the problem, but in same case dont read my ~/.ssh/config, so instead of --paramiko option I solve disabling the option pipelining (by default is False) in the ansible.cfg add:
[code]

[2018-01-19 13:50] kachkaev commented on #34989
Thanks for your response @giovannisciortino – that's what I've been looking for! The only minor bit to note is that there should be a `not` in until: `until`, i.e.: `until: result.failed is no defined` 🎉

[2018-01-19 13:50] zakabluk opened #35089 "Failed to set permissions on temp files with pipelining"
Hi! I have same problem as in #31125
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION
ansible 2.4.2.0
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
all servers: CentOS Linux release 7.4.1708  @(Core)

##### SUMMARY
Failed to set permissions on the temporary files Ansible ...

##### STEPS TO REPRODUCE
Basically: default ansible configuration, test without pipeli

[2018-01-19 13:53] gundalow opened #35090 "REGRESSION: ios_facts: return type changed from string to list (stacked switches)"
##### ISSUE TYPE
 - Bug report

##### COMPONENT NAME
ios_facts

##### ANSIBLE VERSION
[code]

##### SUMMARY
https://github.com/ansible/ansible/pull/33714 introduced a change to return details of the stacked switches. This is definitely useful data to return, though we've changed the format of the data returned

This needs changing, so that:
* `ansible_net_model` and `ansible_net_serialnum` need ch

[2018-01-19 13:57] gundalow commented on #35090
@kalimsshar @Qalthos FYI

[2018-01-19 14:17] gundalow commented on #35090
Also may want to look at `show inventory` vs `show version`

[2018-01-19 14:28] philippe-granet commented on #31407
Hi
I am also facing similar issue when dynamically updating the hosts field. It fails on the **syntax check**, however the playbook run fine as expected.
@bcoca This appears to be a bug, not a user question

[2018-01-19 14:31] Mixer9 commented on #35025
@maximillion So that worked brilliantly can you please explain why that
works, isn't that just a variable version of what I was already doing? Why
would that pass the syntax check when the original way wouldn't?

On Thu, Jan 18, 2018 at 3:39 PM, Adam Miller <notifications@github.com>
wrote:

--
Chris Hood
chris.hood@gmail.com
RHCE (RedHat Certified Engineer)
RHCVA (RedHat Certified Virtualization

[2018-01-19 14:35] gundalow commented on #34768
Thanks for the comments, I've broken this down into individual issues

1 & 1.1) Change back to string, create new return for stacked switches https://github.com/ansible/ansible/issues/35090

1.2) consistency: We discuss this internally before creating an issue

2) https://github.com/ansible/ansible/issues/35090

3) https://github.com/ansible/ansible/issues/35087

4) `show inventory` vs `show inven

[2018-01-19 15:00] calfonso commented on #23252
We are tracking this as an issue in https://github.com/ansible/ansible/issues/33047 , closing this issue.

[2018-01-19 15:00] #23252 closed, assigned to privateip

[2018-01-19 15:00] maxamillion commented on #35025
@Mixer9 I'm pretty sure it's because of the way the file lookup works vs inline parsing. The file lookup loads the contents of the file as byte data. When it's inline in the task, it gets parsed as an unicode string and my theory is something gets messed up in the mix of encoding the escape characters in python, yaml, and/or jinja2 templating (because we do handle some templating attributes in the

[2018-01-19 15:01] gundalow commented on #33047
Adding this to the Network project board to replace https://github.com/ansible/ansible/issues/23252

This MUST be fixed before beta1

[2018-01-19 15:12] mhalano opened #35092 "Wrong default group for Scaleway dynamic inventory script"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
scaleway.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No need.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The Scaleway dynamic inventory script returns information about VMs on Scaleway. The default group for all Scaleway machines is called 'all', but Ansible itself has this group for all machines, so may be could occur superposition. P

[2018-01-19 15:13] walro opened #35094 "rabbitmq_policy incompatible with RabbitMQ 3.7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

rabbitmq_policy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.12.6

##### SUMMARY

RabbitMQ 3.7 has made some changes to how `rabbitmqctl ` works in at least two different scenarios when it comes to managing policies.

Example 1 (the one that is the root-cause to he problem described below), for 3

[2018-01-19 15:31] sivel commented on #35065
I wanted to take a moment, and update this issue with our plans for this issue.

We are going to work on a change for the 2.4.3 release, that will maintain the recursion fix, but revert the previous behavior to allow some of the attributes to `include_*` to merge down onto the included tasks.

Our plan for 2.5 currently, is to leave the functionality as is.

The reason for this decision and dispar

[2018-01-19 15:40] gundalow commented on #32542
I'll retest this and update

[2018-01-19 15:46] gundalow commented on #32050
Thinking about this a bit more I'll create a https://github.com/ansible/ansible/tree/devel/lib/ansible/utils/module_docs_fragments that all the `net_*` modules include that has the relevant info in, and possibly links to the agnostic blog post

[2018-01-19 15:53] sivel opened #35096 "Add 2.5 porting guide notes about include_role and inherited attributes"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A
##### SUMMARY
In 2.5 we resolved a bug in `include_*` to meet our expectations that attributes applied to `include_*` should not be inherited by the included tasks.  That functionality is reserved for `import_*`

We need to document this change in the 2.

[2018-01-19 16:06] gundalow commented on #19586
@Zanthras I see this bug was reported against `2.2.0.0`. We believe this is fixed in `2.3`. Did you ever get a chance to test this against `2.3`, `2.4`, or `devel`?

needs_info

[2018-01-19 16:29] rsmeyers commented on #35041
Let's fix this on the right side, being, on APIC side, can you get me the SR you opened, I'll have somebody in my team yank it and work with engineering on this

[2018-01-19 16:32] jeffsheltren commented on #31543
I've also experienced this issue. In addition, `any_errors_fatal` is ignored if a block has a `rescue` section (and/or an `always` section as described above).

[2018-01-19 17:04] #34211 closed, assigned to nobody

[2018-01-19 17:10] soichih commented on #12971
Hi. I am having the same problem. I can't quite understand this thread.. What do I need to resolve this?

[2018-01-19 17:10] ryancurrah commented on #17763
I'm just going to come right out and say it. This would be so freakn' awesome for conf templates.

[2018-01-19 17:14] kiorky commented on #35065
@sivel @abadger im not sure that will be the proper way to go as you then can't escalate a role that doesnt explictly "becomes" itself, like the test case i gave and is pretty inintuitive.

You can't then run a task somewhere that does:
[code]
and expect "foo" to run as 'root'.

Idem for the when statements, this defeats and breaks completly the initial use of include_role.

[2018-01-19 17:17] kiorky commented on #35065
I'm also begging for a long time for your input on my  #32565 PR, if someone can make things go a little bit further ;-)

[2018-01-19 17:18] CarlosEspejo commented on #31557
My apologies for responding months! later but I am now using the Digitalocean script from the devel branch and its working great.

But there is a very recent development that affects previous scripts and it looks like Digitalocean changed their tag API because I am now getting this error:

[code]

In the meantime, I am not using the digital_ocean_tag module and instead, I am tagging machines manua

[2018-01-19 17:21] dagwieers commented on #35041
@marinus81 I have een playing with your example and this does work too:
[code]

Since you're already in the infra-namespace (dn=uni/infra), I don't think you need to repeat `<infraInfra>`.
If you would be using `path: /api/node/mo/uni.xml` then your example also works as expected.

[2018-01-19 17:45] grassyknolling commented on #35065
This looks related to #34974 "inconsistent documentation for tags on dynamic-include tasks"

@sivel where can we see which attributes will be merged down and which will not? Thanks!

[2018-01-19 17:49] grassyknolling commented on #35096
This looks related to #34974 "inconsistent documentation for tags on dynamic-include tasks"

[2018-01-19 17:55] sivel commented on #35096
@grassyknolling I will see what I can do in regards to existing documentation inconsistencies as well.

[2018-01-19 17:55] steaksauce- commented on #34956
bot_status

[2018-01-19 18:11] sivel commented on #17763
Just an FYI here, this is something I started working on, however OrderedDict is not available in py2.6, which is problematic, since I don't want to add more external dependencies, and the solution should work on 2.6.  I've worked on backporting OrderedDict from py2.7, but it will require more work, and ensuring that is something we want to do, and validating licensing.

[2018-01-19 18:12] knowshan commented on #8603
+1

[2018-01-19 18:17] saichint opened #35102 "nxos_pim issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_pim
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I7(1)

##### SUMMARY

##### STEPS TO REPRODUCE

There are multiple issues with nxos_pim module.

1. ssm_range is actually a list. The platform allows multiple ssm ranges to be configured at the same time. However, the code ha

[2018-01-19 18:45] kiorky commented on #35065
in 2.5, None.

[2018-01-19 19:24] ajslater commented on #20579
Related issue: https://github.com/ansible/ansible/issues/3887

[2018-01-19 19:46] BondAnthony commented on #31557
@CarlosEspejo this bug should be fixed in devel, see https://github.com/ansible/ansible/pull/33486#issuecomment-358847606 please let me know if that's not the case.

[2018-01-19 20:28] abhigrover opened #35108 "host_vars not getting picked up"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows, managing Solaris
##### SUMMARY

I have ansible_ssh_pass and ansible_ssh_user defined in a "host specific" file, which I am expecting would be picked up when running task under this host. However, it isn't.
##### STEPS TO REPRODUCE

This is the playbook I

[2018-01-19 20:33] kiorky opened #35109 "Multiple levels of include_tasks lead to unexpected behavior"
See PR #35107 for all details.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### COMPONENT NAME
 lib/ansible/playbook/included_file.py

[2018-01-19 21:02] dan-osms opened #35110 "s3_bucket default encryption upon bucket create and http mode in same module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

s3_bucket and s3_website as one with capability for standard encryption option during bucket launch.
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOs 10.13.2
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-01-19 21:13] LukeRussell commented on #34768
Thanks John, I think this Issue can be closed.

For posterity and anyone looking for an immediate fix in 2.4 series, add the contents of [this gist](https://gist.github.com/LukeRussell/7e44462da82b6d816b87a37f406d2a37) to {{playbook_directory}}/library/ios_facts.py

[2018-01-19 21:13] #34768 closed, assigned to gundalow

[2018-01-19 21:21] heijmans commented on #31193
Updating pip worked for me:

    sudo pip install --upgrade pip
    sudo pip install ansible

It seems that easy_install installs an old version of pip (6.0.x) while pip 9.0.x is available. pip 9.0.x can install ansible without problems on my system (macOS 10.13.2). I would strongly suggest to document this in (the macOS part of) the installation docs.

[2018-01-19 21:30] dagwieers commented on #34175
The implementation in xmljson was already correct. So the question is, should we be rewriting the user's payload, or do we expect the user knows what he's doing.

I prefer not to rewrite the payload, but add a note to the aci_rest module.

[2018-01-19 21:50] abhigrover commented on #35108
my bad...had the wrong variable name...ansible_ssh_password instead of ansible_ssh_pass

[2018-01-19 21:50] #35108 closed, assigned to nobody

[2018-01-19 22:31] morungos commented on #31193
I did encounter this issue again, recently, and a total clean of homebrew and manually removing a bunch of git-installed ansibles from past days (when that was recommended) fixed the issues. My concern was more that I needed to know UNIX environment variables for C code to get ansible to install. Dependence on "someone else's python" is always going to be a risk point, and an embedded install whic

[2018-01-19 23:16] maxamillion commented on #33837
The option to enable defined by `state`, why would you like a redundant option?

[2018-01-19 23:18] jsumners commented on #33837
@maxamillion I think you mean an alias, and I explained why in the summary of the issue.

[2018-01-19 23:31] dagwieers commented on #34174
I implemented dict-to-etree support in https://github.com/sanand0/xmljson/pull/28
This enables us to convert back from JSON/YAML to XML based on payload_type, avoiding this issue.

[2018-01-19 23:41] dagwieers commented on #34884
Closing since the PR got merged.

[2018-01-19 23:46] #34884 closed, assigned to nobody

[2018-01-20 02:28] kingdonb commented on #22248
@kingdonb I am still here... I will revive this playbook if there is interest in looking at this issue.

I might do it anyway, I need a Jenkins server on Azure and this strategy worked great against AWS EC2 instance!  Thanks ansibot

[2018-01-20 02:46] sgtpanic opened #35119 "Creating Docker secrets from file system"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

docker_secret

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

N/A

##### SUMMARY

I think that docker_secret is an excellent addition to Ansible and I am interested to use it to manage infrastructure. I looked at it today but it appears that I can only create secrets from strings, not directly from files (e.g.

[2018-01-20 03:21] yannrouillard opened #35120 "--flush-cache operation fails with redis database"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - plugin/cache/redis

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Redhat 7.2

##### SUMMARY
When trying to flush-cache with the redis database cache plugin, the command fails with the following error:
[code]

##### STEPS TO REPRODUCE
With the following inventory and playbook, run the following commands:
- Flush the

[2018-01-20 04:17] skylerbunny commented on #34141
I don't think this has anything to do with Ansible module failures. If I run the playbook as outlined above, and then run inside my own shell:

```/bin/cp -r /opt/security_monkey/dart/build/web/* /opt/security_monkey_ui/static/```

it fails with 'No such file or directory'. It _should_, because /opt/security_monkey/dart/build/web is never created. Even if I DO create ```/opt/security_monkey/dart/b

[2018-01-20 06:26] 1NoOne1 commented on #33156
@coltsixshooter Does this fix work with multiple clusters i.e, If I have template in one cluster and I would like to deploy VM to another cluster ... I still see the error?

[2018-01-20 07:43] Akasurde commented on #22713
Closing this issue as this functionality works in current version. If issue persists, please feel free to re-open.

[2018-01-20 07:43] #22713 closed, assigned to jctanner

[2018-01-20 07:44] Alex2357 commented on #32122
I have same problem. Ubuntu 17.10.1. Ansible 2.3.
[code]

[2018-01-20 07:47] Akasurde commented on #23340
Closing this issue as there is no activity from user. If issue persists, please feel free to re-open.

[2018-01-20 07:47] #23340 closed, assigned to jctanner

[2018-01-20 07:51] Akasurde commented on #24506
@lampogass Could you please re-try with latest vmware_guest and let us know if issue persists ? Lot of changes were made meanwhile.

needs_info

[2018-01-20 09:38] IoTPlay commented on #34851
Thank you @Applemann !!

I created a test bench from Mac to RPi with docker_login, docker_image, docker_container and  docker_service. See it here:

https://github.com/IoTPlay/docker-iotplay-standards/blob/master/10_Test_docker-with-ansible.yml

All my tests pasts, after  recreated a Pi from scratch, instructions in the above link as well. I used the standard pi user, and not a user I created myse

[2018-01-20 10:12] Akasurde commented on #26095
@angystardust @lepiepl Could you please try on your setup and let me know ?

needs_info

[2018-01-20 10:13] Akasurde commented on #27096
@mavenir-labs Any news ?

[2018-01-20 10:25] Akasurde commented on #27176
resolved_by_pr #35124

[2018-01-20 11:09] #27176 closed, assigned to Akasurde

[2018-01-20 12:44] SergeiHanus opened #35125 "Module fortios_config fails to apply configuration file when template contains several "config" statements"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Ansible module fortios_config is not working for uploading configuration file when template contains several "config" statements
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expeted result : ospf configuration changes on device
##### ACTUAL

[2018-01-20 14:57] Applemann commented on #34851
@IoTPlay Ok so now it is working well on your side?? :)
And are you sure that you really want your password of docker account in the public guthub repository on line 45: https://github.com/IoTPlay/docker-iotplay-standards/blob/master/10_Test_docker-with-ansible.yml
???

[2018-01-20 15:36] xcambar commented on #29389
I've just tried locally with `ansible 2.4.2.0` with the following  configuration:

#### Vagrantfile

[code]

#### playbook.yml

[code]

#### requirements.yml

[code]

Run it with: `$ ansible-galaxy install -r ./requirements.yml && vagrant up`

First run will show `changed: true` on the `npm` task.
Next runs will show `changed: false` on the `npm` task.

As expected.

Can anyone confirm? @shaharmor

[2018-01-20 15:45] Mixer9 commented on #35025
@maximillion that makes sense. Is there a way to register a variable that
is not a Unicode string, say an array that would be a hash. I'm leaning
back on my perl experience since I don't really know python.

Mixer 9

On Jan 19, 2018 9:01 AM, "Adam Miller" <notifications@github.com> wrote:

[2018-01-20 17:55] caphrim007 commented on #29375
closing this issue as I believe it is fixed, or no longer applicable, in 2.5. If this is still an issue, either file an issue in Ansible here, or (preferably), file an issue at the F5 Ansible side-band repository here https://github.com/F5Networks/f5-ansible

[2018-01-20 17:55] #29375 closed, assigned to nobody

[2018-01-20 17:56] isaacegglestone commented on #33835
I'm also confused here still.

Are blocks also allowed to have names inside role/task/main.yml files?

The stynax in the Doc:

   tasks:
     - name: Install Apache
       block:
         - yum: name={{ item }} state=installed
......

Has the block after      - name: Install Apache
This errors for me with roles at least and it is only accepted when I put the block above the Name as the TheFriendly

[2018-01-20 17:58] kiorky commented on #35065
Really, the more i think to this, the more i think that for the special case of the ``become_`` knobs, they should merge down to the executed tasks for ``include_tasks`` & ``include_roles``.

This will be in other case disastrous in term of usability of ``include_*`` and DRY patterns.
As the only solution i see for the moment is to patch all include statements to add a vars: {somevar: true}

[code