[2016-09-21 22:51] #16982 closed, assigned to abadger

[2016-09-21 22:58] dharmabumstead commented on #15478
Revisiting this one. Where are we with it? Do we want a blurb in the 'developing modules' section saying not to import the Python requests library?

[2016-09-22 00:25] #16583 closed, assigned to abadger

[2016-09-22 00:27] abadger commented on #16583
Fix has been pushed to devel and should be in the 2.2.0 release (We're getting ready for the first release candidate for 2.2 now).

[2016-09-22 00:29] abadger commented on #16982
@ryanlovett Very strange.  If you ever manage to figure out enough information that we can reproduce, feel free to ping us about whether we can anticipate that case in our code.

[2016-09-22 02:43] abadger commented on #17593
@dbayle we need more information in order to reproduce your problem.  Are you able to give us a simple playbook that reproduces your issue as @mscherer asked for?

needs_info

[2016-09-22 02:48] mtkunkel commented on #17685
Just commenting to agree this is needed,  especially for an app deployment use case!   Pulling artifacts via the command module a la: `wget --limit-rate 2k http://releases.ansible.com/ansible/ansible-latest.tar.gz` is super un-ideal.   It breaks idepotency and doesn't md5 check like the maven_artifact module.  I can foresee several hundred (possibly a thousand) nodes pulling artifacts from nexus s

[2016-09-22 03:00] wraithm commented on #10594
Now that @shaunbrady's managed policy PR is merged into boto, what's the status of this issue?

[2016-09-22 03:17] jctanner commented on #17159
@gbolo what are you expecting to happen in this case? ...

[code]

needs_info

[2016-09-22 03:22] jctanner commented on #17690
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the is

[2016-09-22 03:22] #17690 closed, assigned to nobody

[2016-09-22 03:27] abadger commented on #16816
@allan-simon I finally had a chance to look at this today and I am unable to reproduce.  I'll need more information from you about how to create a virtualenv to work against, how I might need to configure alembic, what the error messages are, and what is shown when it works.  Here's what I've tried so far:

[code]

[code]

Thanks.

needs_info

[2016-09-22 03:34] shaunbrady commented on #10594
@wimnat Has a PR https://github.com/ansible/ansible-modules-extras/pull/2201 I have not had time to test/contribute it yet.  Check it out!

[2016-09-22 03:36] #16529 closed, assigned to nobody

[2016-09-22 03:46] abadger commented on #16529
Fix should be in 2.1.2 (2.1.2-rc3 is currently being tested.  If you want to test as well, you can get it from here: https://releases.ansible.com/ansible/ ).

[2016-09-22 08:08] Shaps commented on #17684
HI @Vskilet, it seems this has already been fixed, so it should work as expected in the next release

[2016-09-22 09:16] OoNanioO opened #17700 "Ansible not able to identify a full filesystem"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

File transfer during an Ansible run with sftp
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When the target FS is full, Ansible fails without explicitly saying that there is no space left on the device.
It seems like this is caused by sftp returning 0 as return code even when it fails : https://gist.gi

[2016-09-22 09:50] bechampion opened #17701 "List not parsed as a list ?"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

with_items
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Basic
##### OS / ENVIRONMENT

N/A
##### SUMMARY

List picked up from facts not parsed as a list when called by with_items , instead being taken as a string

When using a basic task with with_items: "{{ groups['all'] }}" ,  the task doesn't iterate in each item
of the list , instead i

[2016-09-22 10:32] keNzi commented on #15706
+1

[2016-09-22 10:37] bechampion commented on #17701
[code]

The space made the difference... is this expected behaviour?

[2016-09-22 11:50] vkruoso commented on #11766
I see that ignoring non-existent handlers might be a nice feature for some cases. If this is fixed, please consider adding an option to ignore missing handlers.

[2016-09-22 12:56] andreea-vld opened #17702 "Conditional on include task fails"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

conditional include
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

I have an include task conditioned by a when clause which resolves to True, but the playbook is not included. If I add the SAME condition in a variable and use that variable in _when_ , it is evaluated to true and the pl

[2016-09-22 13:12] alvaroaleman commented on #12170
workaround:

[code]

[2016-09-22 13:18] kustodian opened #17703 "Child group cannot override group_vars variables of parent group in the inventory file"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Parsing of the inventory
##### ANSIBLE VERSION

[code]

The same problem exists in `stable-2.1`.
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

If you have a parent `group1` and a child group `subgroup1`, and we define a variable in `group_vars/group1`, when you try to override that variable in `subgroup1` in the inventory file, the va

[2016-09-22 13:44] abra7134 opened #17704 "Problem when use jinja2 loops in action variables"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

jinja2 template system
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
host_key_checking = false
hash_behaviour = merge
nocows = true
roles_path = roles
vault_password_file = vpass
pipelining = true
retry_files_enabled = false
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Not clear problem when using jinja2 loops in action variables,

[2016-09-22 13:47] tlhumphrey2 opened #17705 "My macro does not work correctly"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

ansible 2.1.1.0

##### CONFIGURATION
No changes to ansible.cfg

##### OS / ENVIRONMENT
Ubuntu 12.04

##### SUMMARY
Cannot get this macro to work properly. It always produces the "ANSIBLE TEMPLATE ERROR", which it after {% else %} in the macro, next.
[code]
##### STEPS TO REPRODUCE
I execute using the following playbook:
[co

[2016-09-22 13:56] sdarwin opened #17706 "helpful error "skipping: no hosts matched" is missing"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no settings changed in ansible.cfg
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Approximately two months ago (and maybe for many versions) ansible would output this error when the host was incorrect:

ansible-playbook main.yml

"skipping: no hosts matched".

However the l

[2016-09-22 14:02] dbayle commented on #17593
Greetings, the playbook my colleague sent you is one of none working playbook.
https://www.dropbox.com/s/vykt0qw4ulodyow/nagios.zip?dl=0

BTW all playbooks are not working as said before.
I m pretty sure it s an issue related to latest Python updates on CentOS 7.2

[2016-09-22 14:08] jctanner commented on #16816
@allan-simon I would also be interested to see the result of this task ...

[code]

needs_info

[2016-09-22 14:41] alikins commented on #17159
I think the ~ being shown as empty string is intentional, and has existed since at least 2.0.

@jctanner found the commit that added a finalizer to never return None/null from jinja2
https://github.com/ansible/ansible/blame/devel/lib/ansible/template/__init__.py#L413-L417

[2016-09-22 14:44] alikins commented on #17159
Testing with:

[code]

Shows the same behavior for 2.2,2.1, and 2.0.

[code]

[code]

[code]

[2016-09-22 15:32] #16556 closed, assigned to jctanner

[2016-09-22 15:39] jimi-c commented on #16866
I am unable to reproduce this, and I have tested 2.1.0, 2.1.1 and both the stable-2.1 and devel branch. I have used the role verbatum as well as your example playbook. As a result, I will go ahead and close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- htt

[2016-09-22 15:39] #16866 closed, assigned to jimi-c

[2016-09-22 15:50] #17520 closed, assigned to jimi-c

[2016-09-22 15:50] jimi-c commented on #17520
Hi @tonk, this was actually (mostly) fixed when I reverted b71957d6e6d666dc9594e798e4230e908c19b299. One additional fix had to be made to the overridden `_process_pending_results` in the debug strategy plugin, which was done via the commit above.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailin

[2016-09-22 16:30] leseb commented on #12170
@alvaroaleman thanks for your suggestion however it seems to lead to this bug: https://github.com/ansible/ansible/issues/15103
At least for me, I applied your workaround like so: `with_items: "[{% for h in groups[mon_group_name] %}'{{ h }}'{% if not loop.last %} ,{% endif %}{% endfor %}]"`.

Am I missing something?

[2016-09-22 16:58] ki0 commented on #17096
The same error here and @fvant suggestions doesnt work for me.. any info?

[2016-09-22 18:19] muratdx commented on #17703
I reported this same issue a while ago -- see #17361.

[2016-09-22 19:13] louiseth1 commented on #17593
I also report having similar issues since the latest releases.
My environment differs a bit, I am on CentOS 6.8 instead of 7.2.

Playbooks that were workined perfectly before started failing, formatting issues seem to be in cause but the playbooks themselves did not change a bit.

ENV INFO:
ansible-2.1.1.0-1.el6.noarch
python-2.6.6-66.el6_8.x86_64
python-libs-2.6.6-66.el6_8.x86_64

Typical error:

[2016-09-22 19:21] gbolo commented on #17159
@jctanner

[code]

I expect to not lose the null. An empty string is different from null. The problem I have having, is that i use dictionaries to create json configs with the jinja2 filter `to_nice_json`. Currently, these issues make this filter useless for providing accurate json config files for applications which need accurate json files.

In summary, both `null` and `int` types seem to be aff

[2016-09-22 21:14] GabrielLaden-minted commented on #13243
+1 requesting the multiple files and passwords live in a passwords yaml config file that ansible will just know what to do with at runtime.

[2016-09-22 21:22] juanbrein commented on #16443
Same problem here with wordpress salts...

[2016-09-22 21:31] ichundu opened #17713 "Using ansible from git in python3 default distros"
##### ISSUE TYPE

- Documentation Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no settings changed
##### OS / ENVIRONMENT

Arch Linux
##### SUMMARY

So, i'm trying to use ansible devel latest 2.2.0 in Arch Linux which uses python3 as the default version of python. I can't find any documentation how to use ansible from this repo in such distros. I would really lik

[2016-09-22 21:35] rahniwalden commented on #13986
@andrenarchy, in regards to use with a variable, I had actually gotten the same suggestion to use (omit) by Ansible support just today:
The literal example I was given back was:

[code]

Whether or not what they suggested was best practice, I cannot say, but I had the same issue with omit not actually omitting and inserting the placeholder text......

What I did instead was this:

[code]

Which wo

[2016-09-22 21:35] netkgk commented on #8603
@mpdehaan, imagine I've just installed another module from the ansible galaxy in replacement for that I've used before. Imagine it has set default variable named, let's say `mysql_version`. Imagine I have the variable of the exact same name in my module, which has dependency in meta to the module I've just installed.

I don't want to change the variable name inside my module. As it's mnemonic by i

[2016-09-22 21:43] nitzmahone commented on #16814
closing for inactivity

[2016-09-22 21:43] #16814 closed, assigned to nitzmahone

[2016-09-22 22:46] rahniwalden opened #17714 "Appending or "stacking" variable lists"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Ansible support for appending or "stacking" Variable Lists

In this case, with "with_items"
--Should be able to append variable lists on the fly, conditionally
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

##### SUMMARY

We have the goal of dynamically being able to append lists to another list in a variable during a task. This setup i

[2016-09-22 22:48] notfol commented on #16217
ansible_ssh_pass seems broken in 2.0 as well.

[2016-09-22 23:45] nitzmahone commented on #13386
This works as expected using win_shell in devel/2.2. Closing.

[2016-09-22 23:45] #13386 closed, assigned to nobody

[2016-09-23 01:16] haroldTlan opened #17716 "tmp files still being"
by the way，thanks a lot 。jhawkesworth ，I learn a lot from your advises。

ISSUE TYPE
•BUG

ANSIBLE VERSION
 version: 2.2.0

CONFIGURATION
 python2.7

OS / ENVIRONMENT
 Linux Ubuntu

SUMMARY
each time I use ansible python api to do sth, it will create tmp files in

`~/.ansible/tmp`

however, if I used ansible-play, it was not happened.

here is my code:

[code]

[code]

here is ansible.cfg:

[code]

[2016-09-23 02:07] mattclay commented on #17187
The [direct traceback writes](https://github.com/ansible/ansible/blob/4ed88512e45112f9670560ac3f01707a40a7f5c5/lib/ansible/plugins/connection/winrm.py#L276) are a result of the calls to `traceback.print_exc()` in the `winrm` connection plugin. This same pattern is used in most of the other connection plugins as well.

It would be a simple matter to remove these calls, but then the information woul

[2016-09-23 02:47] phemmer commented on #12170
Nifty idea. Though with Ansible 1.9, this can be simplified by doing:

[code]

[2016-09-23 03:21] jctanner commented on #17713
@ichundu did you install PyYAML? You need to be able to do the following with your python install before attempting to run ansible ...

[code]

The full list of python libraries required is listed in this guide:
http://docs.ansible.com/ansible/intro_installation.html#running-from-source

needs_info

[2016-09-23 04:08] jeffrey4l commented on #12170
@alvaroaleman thanks for the workaround.

it there any solution for serial: 30%?

[2016-09-23 07:53] ichundu commented on #17713
Hi @jctanner , sorry this was an issue on my part. I already had python2-yaml and python2-jinja installed but i also needed python-yaml and python-jinja packages (python 3 versions). My problem is solved now. Thanks for the guidance!

Regards

[2016-09-23 07:53] #17713 closed, assigned to nobody

[2016-09-23 08:05] tearsakura commented on #6737
Hi, I have this error on this system

[code]

With ansible 2.1.1

I tried this:

[code]

but nothing..

[2016-09-23 08:08] tearsakura opened #17720 "SVN checkout "Can't convert string from native encoding to 'UTF-8'""
##### ISSUE TYPE

- Bug Report

Hi, I have this error on this system

[code]

With ansible 2.1.1

I tried this:

[code]

but nothing..

I tried with ansible 1.9.2 on ubuntu and ansible 1.9.3 on alpine and works fine, is this a bug on 2.x?

[2016-09-23 08:18] kkurian opened #17721 "Rescue block does not execute when a run_once command fails"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

block / rescue
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Rescue fails to execute in response to a failed command with `run_once: true`.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

The `command` should fail, triggering the rescue block, causing the `assert` to execute.
##### ACT

[2016-09-23 09:00] momoneko opened #17722 "ansible_user does not resolve in with_items loops"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Playbook variables
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu 16.04.1
##### SUMMARY

The `with_items` feature resolves `ansible_user` to none if `remote_user` is
not defined inside the playbook. It does resolve it correctly when
`remote_user` is defined.
##### STEPS TO REPRODUCE

Have a variable in the playbook that uses `ansibl

[2016-09-23 09:24] tearsakura commented on #17720
I tried it again with 2.0.2 (on alpine) works fine too, seems something wrong between 2.0.x - 2.1.x

[2016-09-23 09:29] gillesgagniard commented on #16865
I've submitted a pull request based on @winggundamth suggestion. In case of delegation, remote_user is overriden iff the delegate host is local too.

[2016-09-23 09:37] gariels opened #17724 "Sub-role variables not applied when dependant role specified multiple times"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

from: Ubuntu 14.04.1 LTS
target: Ubuntu 14.04.1 LTS (container)
##### SUMMARY

Dependency-role variables not applied when dependant role specified multiple times.
##### STEPS TO REPRODUCE

1. Get and extract my attached playbook, its just roles with debug tasks
2. Change

[2016-09-23 10:34] ki0 commented on #17096
This is the ssh command what i get in debug mode:

`ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o 'IdentityFile="/Users/user/.ssh/key.pem"' -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=ubuntu -o ConnectTimeout=10 -o ControlPath=/Users/user/.ansible/cp/%h-%r ec2.compute.amazonaws.com

[2016-09-23 10:50] jhita commented on #17495
Hello guys, when are you going to release a new version with this change merged? Are you planning to do it soon? Thanks!

[2016-09-23 11:53] tyll opened #17725 "with_first_found not skipped when "when:" conditional is false"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

with_first_found conditional
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

Fedora 23
##### SUMMARY

tasks that are skipped because of `when: false` still fail when `with_first_found` does not find a file.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Should skip both tasks and not fail the second task
#####

[2016-09-23 13:10] jctanner commented on #17096
needs_info

[2016-09-23 13:19] sdodson commented on #17096
@ki0 I'm curious, which exact version of openssh is used both on local machine and target hosts?

[2016-09-23 13:26] objectified commented on #17692
@dustymabe IIRC, the Docker client CLI was used directly at the time as the docker-py interface was not very reliable back then. I'm not sure what its state is nowadays. Is it very likely that this connection plugin will have to be calling out to a remote Docker server, and can docker-py being installed without having a local Docker daemon?

[2016-09-23 13:30] jctanner commented on #17703
@kustodian vars found in group_vars/\* have a higher level of precedence than vars found in the inventory file. It is documented here: http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

If you would prefer the child group vars to override the parent, please put them in a group_vars/child file or do not use group_vars at all.

[2016-09-23 13:30] #17703 closed, assigned to nobody

[2016-09-23 13:37] ki0 commented on #17096
I use @ramsrib versrion from OS and ansible, my openssh version is OpenSSH_6.9p1, LibreSSL 2.1.8. This is really strange, because i thought it was a configuration issue but after digging on it, i am not really sure.

@jctanner what info do you need?

Cheers!!

[2016-09-23 13:37] uhmfa commented on #7689
Hi, this is still failing, on SLES 12_SP2, using ansible 2.1.0.0.
fatal: [sles12sp2]: FAILED! => {"changed": false, "failed": true, "msg": "Repository named 'server_monitoring_zabbix' already exists. Please use another alias.\n"}

[2016-09-23 14:25] #13986 closed, assigned to nobody

[2016-09-23 14:26] jctanner commented on #17096
@ki0 the issue submitter is running a test and will post results, per the quote in my previous comment.

[2016-09-23 14:28] jctanner commented on #7689
@fedealaimo this issue is closed. Please open a new issue in https://github.com/ansible/ansible-modules-core/issues

[2016-09-23 14:29] riccardomurri commented on #16952
It looks like this affects Ansible 2.1.1.0 but _not_ 2.1.0.0.

[2016-09-23 14:39] bcoca commented on #17716
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible-devel on irc.freenode.net
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-devel
- mailing list: h

[2016-09-23 14:39] #17716 closed, assigned to nobody

[2016-09-23 14:44] vijayrajah opened #17727 "error with azure dynamic inventory script -- azure_rm.py"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

azure_rm.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Linux -- Redhat 7.2
##### SUMMARY

I'm getting a python error

[code]

python versiob

[code]

Here are the pip component versions

[code]
##### STEPS TO REPRODUCE

execute azure_rm.py
##### EXPECTED RESULTS

actual azure inventory
##### ACTUAL RESULTS

Python

[2016-09-23 14:50] bcoca commented on #14540
closing as per fix reference above

[2016-09-23 14:50] #14540 closed, assigned to nobody

[2016-09-23 14:53] bcoca commented on #17722
dupe of #16776

[2016-09-23 14:53] #17722 closed, assigned to nobody

[2016-09-23 15:04] bcoca commented on #17725
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As the documentation states, `with_` gets evaluated BEFORE `when` to enable conditional execution per loop item, as such it's evaluation cannot be conditioned

[2016-09-23 15:04] #17725 closed, assigned to nobody

[2016-09-23 15:43] jimi-c commented on #17101
The fix in #16538 did address this, and I've cherry-picked this over to stable-2.1 as well, so it will be included in 2.1.2.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks

[2016-09-23 15:43] #17101 closed, assigned to jimi-c

[2016-09-23 15:53] alikins commented on #17720
Need more info to be able to reproduce this.
- The output of 'ansible-playbook -vvv your_svn_playbook.yml'
- More specifics about the values used in the playbook (svn_base, svn, svn_username)
- The conditions it fails... does it work for read only anon access with no username or password?
- Info about the remote system the module runs on (OS, version, svn version, python version)
- What requires t

[2016-09-23 16:52] tyll commented on #17725
On Fri, Sep 23, 2016 at 08:05:06AM -0700, Brian Coca wrote:

Actually the documentation does not state this. It states that "the when
statement is processed separately for each item" and this is documented
for "with_items". There documentation about "with_first_found" does not
mention this. Also the playbook would work when "with_items" is used
instead of "with_first_found", since the when stateme

[2016-09-23 17:00] bcoca commented on #17725
The docs don't go into details, but it really is `with_` + lookup, so all loops behave the same, the only thing different is the lookup used.  So the docs and example applies to all `with_` + lookup combinations, not just 'items'.

To make as clear as possible, the default lookup is 'items', you are using 'first_found' lookup, changing the lookup does not change the `when:` to `with_` scope or int

[2016-09-23 17:01] bcoca commented on #17725
Also documented here, in loops in a generic way http://docs.ansible.com/ansible/playbooks_loops.html#standard-loops

[2016-09-23 19:12] xen0l commented on #16256
I added these in #17731.

[2016-09-23 19:25] johnny-b-goode commented on #12233
+1 Running from within the VPC using private IPs. Also tried various combinations of all_instances and instance_states without any variation in what was being returned.

[2016-09-23 19:34] trennepohl commented on #17495
Facing this issue as well
`fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Error: docker-py version is 1.10.3. Minimum version required is 1.7.0."}`

Downgraded docker-py as suggested by @vietbui  and it's working!

[2016-09-23 19:41] dustymabe commented on #17692
Not sure - in the cases where people are trying to run ansible inside a container (which will be happening more and more) then the docker daemon may or may not be remote.

yes

[2016-09-23 19:55] gbolo commented on #17159
@alikins are you saying that this will not be fixed? what about the integers changing to strings?

[2016-09-23 20:09] #17691 closed, assigned to privateip

[2016-09-23 21:23] allan-simon commented on #16816
hello when I arrive in monday at the office I will try to reproduce the bug and put here all the requested information

[2016-09-23 22:56] jimi-c commented on #17582
@Jorge-Rodriguez I believe this may be a misunderstanding. In your debug loop, you're showing facts for all systems however you've filtered out some in the explicit `setup` task (namely those that are specified in your `--limit`). By setting `gather_facts: yes` on the play, I see this work as expected:

<pre>
[jamesc@jimi 17582]$ cat test.yml
- hosts: all
  gather_facts: yes
  remote_user: root

[2016-09-23 23:09] jimi-c commented on #17258
In testing this on the most recent devel/stable-2.1, I actually see quite a different result:

<pre>
[jamesc@jimi testing]$ ansible-playbook -vvv 17258.yml
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: 17258.yml ************************************************************
1 plays in 17258.yml
PLAY [localhost] ***************************************************************
TASK [lineinfil

[2016-09-24 00:04] bcoca commented on #17582
confirmed the issue (locals group has localhost, local1,local2,local3):

[code]

if you change to `msg: "{{ hostvars[item]}}"` you avoid the error and you can see only localhost has facts, the rest only have other vars.

[2016-09-24 00:06] nitzmahone commented on #16266
Closing this, as there's not really anything we can do about it directly.

[2016-09-24 00:06] #16266 closed, assigned to nitzmahone

[2016-09-24 00:08] bcoca commented on #17582
checked against 2.1 and it does not have the issue

[2016-09-24 00:24] bcoca commented on #17582
I think i found the culprit, but many changes here https://github.com/ansible/ansible/commit/d2b3b2c03e2934b126f5701e5f6e25821e2dbe35

[2016-09-24 00:46] bcoca commented on #17582
@Jorge-Rodriguez  please confirm that the PR above fixes it for you too

[2016-09-24 00:48] jctanner commented on #17159
A python snippet and example output to clarify some of the behaviors described in this issue ...
https://gist.github.com/jctanner/7d1faf7109606c08dfc4608aeea42c3f

If we have two variables such as ...

[code]

And then create jinja template expressions to render those variables ...

[code]

We would get the following result from a vanilla jinja configuration...

[code]

In ansible's jinja configur

[2016-09-24 01:18] gbolo commented on #17159
@jctanner

Thanks for spending some time on this issue. I look forward to the possibility of solution to this shortcoming.

There still remains the issue with integers being converted to strings as described above. Perhaps a separate issue should be open for it?

[2016-09-24 07:27] gyzpunk opened #17739 "Service module boilerplate run() method fails with NoneType error"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`lib/ansible/module_utils/service.py`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing particular
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When creating a subclass of `Service` class provided by module_utils, 3 methods has to be redefined : `status`, `enable` and `action`.
Problem is that `action` is currently also defined in construc

[2016-09-24 07:43] slan77 opened #17741 "with_dict: "{{ansible_hostname}}" can't work"
##### ISSUE TYPE

- Bug Report
- Feature Idea
- Documentation Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 6.5
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

TASK [push_package : debug] ****************************************************
ok: [192.168.100.121] => {
    "msg": "cs1"
}

TASK [push_package : d

[2016-09-24 08:04] amenonsen commented on #17741
As the error message says, `with_dict expects a dict`, and `ansible_hostname` isn't a dict, so what you tried cannot possibly work. This is not a bug.

You may want to try something like `with_dict: "{{ hostvars[inventory_hostname] }}"` or so.

[2016-09-24 08:04] #17741 closed, assigned to nobody

[2016-09-24 08:20] slan77 commented on #17741
thanks, but  "{{ hostvars[inventory_hostname] }}" not work too.
- debug: msg="inventory hostname is {{inventory_hostname}}"
- debug: msg="{{ item.key }}/target/{{item.value.port}}-{{version}}.{{item.key}} aaaa"
  with_dict: "{{ hostvars[inventory_hostname] }}"

TASK [push_package : debug] ****************************************************
ok: [cs1] => {
    "msg": "inventory hostname is cs1"
}

[2016-09-24 08:59] emonty commented on #17035
@Shrews I think we also need to add a call in our OpenStackCloud constructor call that does all the null loggers. I agree with @nitzmahone that we should add the filter to async_wrapper - but there's no need to spam people with the keystoneauth warnings either.

[2016-09-24 11:50] xenithorb commented on #10515
Using 2.1.1 surprised this isn't already the behavior.

What's stranger is that this person suggests that it can be used that way: https://github.com/marbu/ansible-modules-core-issue-1853-reproducer/commit/41727b465533717015d8d55904c5a102fe248bc4

Related:

https://github.com/ansible/ansible-modules-core/issues/1853
https://github.com/ansible/ansible-modules-core/issues/3789

[2016-09-24 16:22] JulienPalard commented on #13570
Got this issue using pip 1.something, but did not get it after upgrading pip with `python2.7 -m pip install --user --upgrade pip`. With pip 8.1.2 it worked like charm.

Installed using:  `python2.7 -m pip install --user --no-use-wheel ansible`

(I'm getting problems with CFFI when using wheels)

 Hope ansible will soon be python3 compatible :)

[2016-09-24 19:54] rootconsole opened #17743 "OSX "Failed to connect to the host via ssh.""
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Defaults
##### OS / ENVIRONMENT

OSX 10.11.6
##### SUMMARY

Receiving "Failed to connect to the host via ssh." when attempting to run ansible or ansible-playbook. Running SSH command manually from debug output works fine.
##### STEPS TO REPRODUCE

$ ansible all -m raw -a "ping 8.8.8.8" -vvv
Using /Users/Tim/.ansible.c

[2016-09-24 20:14] jimi-c commented on #16675
I am inclined to not support this, as the vars_prompt is used before the play object is "post-validated" (which means all fields are templated).

[2016-09-24 20:15] jimi-c commented on #16668
Duplicate of https://github.com/ansible/ansible/issues/13876, so closing.

[2016-09-24 20:15] #16668 closed, assigned to nobody

[2016-09-24 20:34] jimi-c commented on #15748
# Closing This Ticket

Hi!

As there has been no follow-up and we were unable to reproduce this, we're going to go ahead and close this issue now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2016-09-24 20:34] #15748 closed, assigned to nobody

[2016-09-24 20:34] jimi-c commented on #12091
Removed the P2 label, as this is organizational and internal, and not a critical bug.

[2016-09-24 20:35] jimi-c commented on #11491
Sorry for the late follow-up, but it does appear that these options have since been documented so we will close this issue now.

Thanks!

[2016-09-24 20:35] #11491 closed, assigned to nobody

[2016-09-24 20:43] jimi-c commented on #11159
It appears this option was never added to boto, but is now in boto3.

[2016-09-24 20:45] jimi-c commented on #11157
There have been major improvements in this area (even before 2.0 was released). Overall memory usage is a bit higher than 1.9.x but should be lower in 2.2.

If this is still an issue you're seeing specifically with any playbook please let us know via a new issue.

Thanks!

[2016-09-24 20:45] #11157 closed, assigned to nobody

[2016-09-24 20:49] jimi-c commented on #10855
As this has not been reported on any version of Ansible past 1.9.x, I'm leaning towards closing this. Is anyone still seeing this, especially on a newer version of Ansible?

[2016-09-24 20:51] jimi-c commented on #10179
# Closing This Ticket

Hi! Sorry for the late follow-up, but it appears the question here has been answered. As such, we're going to close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user ques

[2016-09-24 20:51] #10179 closed, assigned to nobody

[2016-09-25 09:45] worp1900 opened #17744 "|failed expects a dictionary when using "when""
The following configuration

[code]

results in

`fatal: [schreibnacht]: FAILED! => {"failed": true, "msg": "The conditional check '(online) and (redisInstalled.rc|failed)' failed. The error was: |failed expects a dictionary\n\nThe error appears to have been in '/Users/svhu/vagrant/schreibnacht/ansible/roles/redis/tasks/main.yml': line 8, column 3, but may\nbe elsewhere in the file depending on th

[2016-09-25 09:48] worp1900 commented on #17744
My bad.
The error is here:

[code]

it should be:

[code]

[2016-09-25 09:48] #17744 closed, assigned to nobody

[2016-09-25 12:47] belovanton opened #17745 "Ansible stuck when run any playbook"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

ansible core
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

OS for running Ansible:
Linux 060075bb8a41 4.7.4-1.el7.elrepo.x86_64 #1 SMP Thu Sep 15 09:37:27 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux
Description:    Ubuntu 14.04.4 LTS

Mang

[2016-09-25 17:46] abadger commented on #16269
This seems to be fixed in devel (which will be 2.2.0).  Figuring out whether we want to backport a fix or not.

[2016-09-25 19:45] belovanton commented on #17745
I updated issue.

[2016-09-25 20:03] #17745 closed, assigned to nobody

[2016-09-25 20:04] belovanton opened #17746 "Ansible stuck when run any playbook"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

ansible core
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

OS for running Ansible:
Linux 060075bb8a41 4.7.4-1.el7.elrepo.x86_64 #1 SMP Thu Sep 15 09:37:27 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux
Description:    Ubuntu 14.04.4 LTS

Mang

[2016-09-25 23:33] agaffney opened #17747 "A module in a role's library/ dir that overrides a built-in module is ignored if the module was used in an earlier role"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Loading of custom modules from a role
##### ANSIBLE VERSION

[code]

and

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When you override a built-in module with a version in a role's `library/` dir, that custom module will be ignored when the module has been used in another role from earlier in the play. The same does

[2016-09-26 01:56] davidorman opened #17748 "local_tmp still seems to be ignored in ansible.cfg in 2.1.1.0"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

local_tmp
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg is just:
[defaults]
inventory = inventory
local_tmp = /tmp/.ansible/tmp
##### OS / ENVIRONMENT

running from CentOS 6.7 managing CentOS 6.7
##### SUMMARY

local_tmp seems to be be ignored.  Files are still created in $HOME/.ansible/tmp
##### STEPS TO REPRODUCE

[vagrant@loc

[2016-09-26 02:54] wise0103 opened #17749 "module_utils/netcli.py wait_for match bug"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

lib/ansible/module_utils/netcli.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

There is a bug in matches function of Conditional class.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-09-26 04:25] davidorman commented on #17748
nevemind.... I needed to set remote_tmp as well to get both to change

[2016-09-26 04:25] #17748 closed, assigned to nobody

[2016-09-26 06:33] yurikhan opened #17750 "Support 256-color terminals"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

lib/ansible/utils/color.py
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Running on Ubuntu 14.04; OS being managed is not relevant
##### SUMMARY

Ansible 2.1 added configurable colors (see commit d3deb24). However, the set of available colors is limited to 8 standard terminal colors + bold, due to a hardcoded map `codeCodes` in `color.p

[2016-09-26 06:40] dcarosone commented on #15642
Can confirm affects 2.1.1 against SmartOS as well.

[2016-09-26 07:04] yanc0 commented on #10725
This worked for me:

`#jinja2: trim_blocks: "true", lstrip_blocks: "false"`

You have to surround values by `"`

Hope this help ;)

[2016-09-26 07:22] belovanton commented on #17745
bot_broken

[2016-09-26 07:23] belovanton commented on #17746
bot_broken

[2016-09-26 07:26] ffledgling commented on #17346
@bcoca I have a bash/wrapper script around GPG that does this already, basically the same as @amenonsen described. The only problem is that I now have to write additional tooling to encrypt the vault password with my makeshift script and then decrypt that and give it to ansible before it can deploy playbooks, this is not ideal and it'd be nice to have 1st class support for GPG in vault. If you nee

[2016-09-26 07:38] mgedmin opened #17751 "[WARNING]: Exception in safe_eval() on expr: [mail.example.com] (invalid expression ([mail.example.com]))"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

[code]
##### SUMMARY

Ansible produces a warning about an invalid expression while setting my postfix's relayhost
##### STEPS TO REPRODUCE

[code]

Run with `ansible-playbook -c local -i localhost, test.yml`.
##### EXPECTED RESULTS

[code]

which is what I get with ansible 2.1
##### ACTUAL RESULTS

[code]

which is

[2016-09-26 08:48] ALSEDLAH commented on #14667
Hello guys

Currently I'm experiencing the same error, any hints could help to sort it out. The strange thing, when I run the script alone it did work well but when it is executed  via ansible-playbook no :( . I tested it on to different systems CentOS and Debian in vain.
- Ansible v 2.1.1.0

[2016-09-26 09:04] objectified commented on #17692
@dustymabe That makes sense. I'm always curious about what sort of use cases people have for this connection plugin other than testing. Since the Docker inventory plugin and the common Docker module also use docker-py, I suppose it also makes sense for consistency.

I'll see what I can do, thanks for bringing this up.

[2016-09-26 09:14] tearsakura commented on #17720
[INNOV-INBV7-JOB1-27.txt](https://github.com/ansible/ansible/files/492672/INNOV-INBV7-JOB1-27.txt)

Output:

`build  26-sep-2016 10:59:05    PLAYBOOK: innova-base.yml ******************************************************
build   26-sep-2016 10:59:05    [0;34m1 plays in innova-base.yml[0m
build   26-sep-2016 10:59:05
build   26-sep-2016 10:59:05    PLAY [innova_base76] **************************

[2016-09-26 10:30] sherpaurgen commented on #15297
Getting similar issue onubuntu 14.04.3 LTS ansible version: 2.1.0, the sshport on remote server is 44022

Im using adhoc way to run synchronize module as a sudo user [ nopasswd is not enabled on sudoers file ] to synchronize local and remote directories (push)

Below is host file /etc/ansible/hosts

[code]

Below are the command used:

[code]

and (dest_port used)

[code]

Both commands outputs be

[2016-09-26 12:07] ronakjain90 commented on #17081
Having the same issue. Any better way.?

[2016-09-26 12:29] andreisirghi commented on #16797
this is not a bug of ansible, but a specific pip version from https://bootstrap.pypa.io/ we used, was causing all these hangs and segfaults, using latest pip from centos repo solved the issue

[2016-09-26 12:29] #16797 closed, assigned to nobody

[2016-09-26 13:44] alikins commented on #16797
Do you remember which version of pip was causing the problem? I'd like to reference it here in this bug report in case anyone else hits it.

[2016-09-26 14:03] alikins commented on #17720
If you run the svn command on the remote host from cli, does svn work? ie something like:

[code]

[2016-09-26 14:07] bcoca commented on #17739
That file is a place holder and not currently in use, it will not stay as it is for much longer.

[2016-09-26 14:07] #17739 closed, assigned to nobody

[2016-09-26 14:17] tearsakura commented on #17720
svn runs ok with LC_ALL=en_US.utf8 and LC_ALL=es_ES.utf8 on host red hat

[2016-09-26 14:24] alikins commented on #17720
Looks like the subversion module overrides the locale settings when issuing the command, which is likely causing the problem.

[code]

[2016-09-26 14:27] alikins commented on #17720
Which makes this a bug in ansible-modules-core/

[2016-09-26 14:28] alikins commented on #17720
Looks like the change to fix https://github.com/ansible/ansible-modules-core/issues/3255 is causing issues.

[2016-09-26 14:29] alikins commented on #17720
https://github.com/ansible/ansible-modules-core/issues/4178 is also related.

[2016-09-26 14:30] alikins commented on #17720
And https://github.com/ansible/ansible/issues/6737  (noticed @tearsakura already commented there...)

[2016-09-26 14:33] bcoca commented on #17741
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

@slan77 that is not a problem of the with_ nor the hostv

[2016-09-26 14:41] alikins commented on #17720
Looking at the module code, it looks like it is overly zealous applying LANG=C. It doesn't need it for a 'checkout' for example, but sets it anyway, which is likely causing this bug.

[2016-09-26 14:44] alikins commented on #17720
@tearsakura Any idea what encoding the filenames in that repo are in?
`/tmp/SISnetMPP20140801/SISnetFramework/src/marketing/operaciones/OperacionBuscadorIrAltaCampa?\195?\177a.java` looks to be the path causing the error.

[2016-09-26 14:53] okand opened #17755 "playbooks cannot contain emoji"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible-playbook (I think)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

default
##### OS / ENVIRONMENT

Two different computers both running the playbook on themselves:
1. Ubuntu Gnome 16.04.1
2. Debian 8.4 (over ssh, no gui installed)
##### SUMMARY

If a playbook contains emoji anywhere it fails to run.
##### STEPS TO REPRODUCE

Run the e

[2016-09-26 14:57] jctanner commented on #17746
@belovanton sorry, the bot was in a stuck state this weekend and didn't get a chance to process your issue.

To troubleshoot this, we need theses pieces of information:
1. An example playbook to understand what modules/connections/privileges are in use.
2. Details of the stuck process, starting with the ps aux output.

That will get us started, but we'll probably need further information as we dis

[2016-09-26 15:10] bcoca commented on #10515
This feature requries an 'action plugin' to be created, as copy, template and other modules have. Only action plugins can get files from the 'controller' and follow role/play search logic.

[2016-09-26 15:14] bcoca commented on #13570
To clarify, this is an issue with some broken versions of pip, Ansible correctly states that jinja2 is a requirement, the jinja2 package correctly states that markupsafe is a requirement.

Adding markupsafe would not fix the issue (broken pip) and would require us to add every possible sub dependency to our dependencies directly, keep track of all subprojects and their changes.

[2016-09-26 15:17] jctanner commented on #16597
Testcase ...

[code]

Ansible 2.1.0.0-1 result  ...

[code]

Ansible devel c8b8cda result ...

[code]

[2016-09-26 15:18] jctanner commented on #16597
Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for

[2016-09-26 15:18] #16597 closed, assigned to jctanner

[2016-09-26 15:21] abadger commented on #16269
Decided  that this is a rather invasive fix so we're not going to fix it in 2.1.x.  It will be in 2.2.0 when it comes out, though.

[2016-09-26 15:21] #16269 closed, assigned to abadger

[2016-09-26 15:22] bcoca commented on #10636
closing as dupe of https://github.com/ansible/proposals/issues/7

[2016-09-26 15:22] #10636 closed, assigned to jimi-c, bcoca

[2016-09-26 15:26] jcdejong commented on #16200
@sebastiaanluca try updating ansible? After I ran `sudo pip install ansible --upgrade` everything worked again for me

[2016-09-26 15:27] sr75 commented on #5977
Had the same issue, good overview of how to get around or do it the ansible expected way:

http://maciej.lasyk.info/2016/Jun/27/working-with-virtualenv-and-ansible/

[2016-09-26 15:31] sebastiaanluca commented on #16200
I've lost count of many times I reinstalled Ansible and all its dependencies really :p Probably 30+ the day after I posted that message. Anyhow, "fixed" it by removing any pip/python/… module I could find and reinstalling/upgrading/… them all. Not sure what exactly did it (tried a lot of combinations), but now I just got some crypt warning every time I run Ansible. Works for me, but annoying as he

[2016-09-26 15:34] bcoca commented on #17346
@ffledgling I see 2 options here, using a vault script to provide the vault secret (i.e. https://github.com/ansible/ansible/blob/devel/contrib/vault/vault-keyring.py) or add an additional encryption format 'GPG'. I'm not sure which is the best solution. At this point I think this should shift into a proposa http://github.com/ansible/proposals .

cc @alikins @abadger

[2016-09-26 15:36] bcoca commented on #17751
That is exactly what it is doing, as it tries to figure out 'type'.

This is because jinja2 returns text by default so Ansible tries to compensate by trying to convert into the expected type, which in this case was incorrect as you wanted a string.

[2016-09-26 15:36] #17751 closed, assigned to nobody

[2016-09-26 15:43] fvillain commented on #16354
same problem here than @marcoskv in version 2.2.0

[2016-09-26 15:49] moritz opened #17757 "Inventory directories insufficiently documented"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

docs.ansible.com, man page
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Neither the introduction to inventories nor the ansible-playbook man page explain that you can specify a directory as inventory path, and what that means.

http://docs.ansible.com/ansible/intro_inventory.html mentions

[2016-09-26 15:56] alikins commented on #17720
@tearsakura Can you test this with ansible version 2.2 or latest from devel branch? for my reproducer, 2.1 fails as you described, but devel works.

(I think the 2.2 version still has some bugs in it that need fixing, but I think your case should work)

2.1 failing:

[code]

devel/2.2 working:

[code]

[2016-09-26 16:07] alikins commented on #17743
The ""Failed to connect to the host via ssh." error is the generic ssh failure error, which hides some info.

Could you try running the command:

[code]

(The same command you mentioned trying, but with no -q and with extra ssh verbosity.)
 Curious if that will indicate anything that might cause the ansible invocation to fail.
May also be useful to try that command with just the '-q' removed.

[2016-09-26 16:07] bcoca commented on #16952
So the simple case works:

[code]

but for some strange reason it gets 'lost' when another include is put in, at least in 2.1

[2016-09-26 16:08] bcoca commented on #16952
tested against devel, so this has already been fixed (probably a side effect of proper scoping) and will be released in 2.2

[2016-09-26 16:08] #16952 closed, assigned to nobody

[2016-09-26 16:09] belovanton commented on #17746
1. I think that playbook stuck at first time:
   https://gist.github.com/belovanton/f83a87855dd9caab562783d4f6d114e9
   after stuck any playbook stucked.
2. http://termbin.com/pbol

[2016-09-26 16:11] ccoager opened #17758 "kerberos: the specified credentials were rejected by the server, ssl: 401 Unauthorized."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

winrm
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Not aware of any changes in ansible.cfg.
Otherwise using the following in the vault besides the username/password.

[code]
##### OS / ENVIRONMENT

Issues with two Windows 2008R2 hosts.
##### SUMMARY

When attempting to use module win_ping against two hosts, I am getting the following error:

[2016-09-26 16:48] jimi-c commented on #16050
Hi @ralavay, I am unable to reproduce this, even on 2.0.1 as reported. That version's output is shown here:

<pre>
[jamesc@jimi 16050]$ ansible-playbook -vv -i inv test.yml
Using /etc/ansible/ansible.cfg as config file
1 plays in test.yml
PLAY ***************************************************************************
TASK [setup] *******************************************************************

[2016-09-26 16:48] #16050 closed, assigned to jimi-c

[2016-09-26 17:17] mgedmin commented on #17751
So, is there something I can do to avoid those warnings?  Put quotes inside quotes or something?

[2016-09-26 17:28] ohmer1 commented on #17672
Hi,

Yeah I know it can be done with little work, but we could also say that with host_vars. I think this is still an useful feature.

[2016-09-26 17:49] jctanner opened #17759 "callback plugins have vague instructions"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

callback plugin documentation
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The callback plugin documentation has a very high level mention of how to use callbacks, but fails to mention the specific settings you -must- use in order to make your plugin work. There is a small note stating "If yo

[2016-09-26 18:14] okand commented on #17755
Update. On my mac at home this works. Running the playbook prints the extraterrestrial.
Running Mac OS X 10.11.6

[2016-09-26 18:25] aLostEngineer commented on #16597
@jctanner Should we close #16774?

EDIT: Closed

[2016-09-26 18:36] fvillain commented on #16354
ssh-add /path/to/mykey.pem solved the problem. The same key i passed to "--private-keyfile" parameter by the way. Is that normal ?

[2016-09-26 19:10] mwoodson opened #17761 "include_role does not support tags"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Linux, Red Hat Enterprise 7.3
##### SUMMARY

Forgive my terminology.  I will do my best to describe that issue I am seeing.  I am using a pre-release version of Ansible 2.2 for this.

When using include_role module with tags, the include_role seems to igno

[2016-09-26 20:00] marcoskv commented on #16354
@fvillain , my problem seems to have been solved adding the IP address of the server in the inventory file. For example

[code]

[2016-09-26 20:18] cboylan opened #17762 "Using an empty inventory group no longer noops and instead results in error."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

Old "good/desired" behavior observed with ansible 2.0.0.2 as installed via `pip install ansible==2.0.0.2`.

New "bad/undesired" behavior observed with ansible 2.1.1.0 as installed via `pip install ansible==2.1.1.0`.
##### CONFIGURATION

No changes made.
##### OS / ENVIRONMENT

Ubuntu Xenial 16.04
##### SUMMARY

If y

[2016-09-26 20:20] dagwieers opened #17763 "Add support for OrderedDict"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

YAML parser
##### SUMMARY

The proposal is to also support [!!omap](http://yaml.org/type/omap.html) in the YAML syntax and support it in Ansible.

The most simple implementation is to use OrderedDict for every dictionary in YAML. But if this is for some reason not acceptable, we could add support for [!!omap](http://yaml.org/type/omap.html) an

[2016-09-26 21:46] maxisme commented on #15706
+1

[2016-09-26 22:12] bcoca commented on #17762
this is not an issue of an empty group, but of an empty host list for the play,this was always a failure. The only difference that I see is that it shows 'error' instead of warning:

in 2.0

[code]

in 2.1/2.2

[code]

[2016-09-26 23:05] alikins commented on #17159
Not sure it's broken since it seems to be intentional behavior. And identity and equality checks
internal to playbooks seem to work.

Still seems busted to me, but I suspect the cause is different.

In that case, I think param2 is defined (to null), so the default doesn't get used (based on http://jinja.pocoo.org/docs/dev/templates/#default). But that does point to the option of

[code]

which wil

[2016-09-26 23:29] #17749 closed, assigned to privateip, Qalthos

[2016-09-27 00:12] cboylan commented on #17762
I would argue it wasn't a failure before. The exit code was zero. Warning in that case seems reasonable to me in case its not what someone wanted. However changing it to an error breaks backward compatibility with the behavior that was there before. The difference between warning, return 0 and error return non zero is pretty significant.

Not sure what assertions ansible makes about its warnings a

[2016-09-27 01:25] jamessewell opened #17767 "group_by doesn't add hosts on second run"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

group_by
##### ANSIBLE VERSION

HEAD
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When group_by is used twice, any new hosts are not added the second time.

The host will have the group in group_names, but will not appear in groups.groupname.

This seems to be a problem with the `self._inventory.clear_group_dict_cache()` call being misplaced in the

[2016-09-27 01:28] #17767 closed, assigned to nobody

[2016-09-27 06:31] srgvg commented on #16116
The issue described here is how things have actually always worked in the inventory.
The code here was written by @amenonsen  when he rewrote ini parsing, and added some extra validations. So the reason for why the `pending_declarations` code is here, was AFAIK to validate the current behaviour.

I do agree it's not the most usable way of working, but how Inventory works currently, it means each f

[2016-09-27 06:58] jhawkesworth commented on #17758
Not dug into this yet but do you have the legacy winrm listeners set up on these boxes?. (originally winrm worked over ports 80 and 443 for http and https respectively - the legacy listeners let you connect on those ports). If so they will fail to gather facts because of a bug I introduced before I had come across the legacy listeners. Workaround  is to delete the legacy listeners if possible.

I

[2016-09-27 08:02] ludwig-gramberg commented on #5632
same problem here:
vagrant + parallels provider
when trying to create a file directly inside a shared folder (creating it outside and moving it in works though)

[2016-09-27 08:44] cpatry-poly commented on #17461
Hello !

I already tried this kind of test before and didn't reproduce the issue.
I ran your playbook directly on our ansible server and everything was fine.

So I looked again if I didn't do everything wrong before this task, as you ask.
I found a template which use this lookup inside :
{{ lookup("password", '/etc/psql_credentials/' + master_hostname + ':replication') }}

And it was use before AN

[2016-09-27 08:44] #17461 closed, assigned to alikins

[2016-09-27 10:27] toby-griffiths opened #17769 "when x is defined not working to prevent included tasks from running"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- task/when
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OSX 10.10.5
##### SUMMARY

The 'when' condition on the 'include' for a task is not preventing the file form being included, even when false
##### STEPS TO REPRODUCE

Tasks file...

[code]

[code]

Results...

[code]
##### EXPECTED RESULTS

The tasks withi

[2016-09-27 10:47] stefanocog commented on #13637
+1

[2016-09-27 10:57] jamieburchell commented on #14674
This is especially useful when for example, Apache configuration files have random trailing spaces in their comments and my editor is configured to automatically trim trailing spaces on save!

[2016-09-27 12:07] ccoager commented on #17758
If I'm looking at the correct output, it doesn't appear to be using legacy listeners, just the standard ports 5985 and 5986.

[code]

[2016-09-27 12:21] jimi-c commented on #16356
There is already a `make deb` target for the .deb package, how come you're doing this manually?

[2016-09-27 12:32] fvant opened #17770 "SSH connection works for `ansible -m` but not for `ansible-playbook`, version 2.2.0"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

SSH connection
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

[code]

~/ansible$ pip list
ansible (2.2.0)
apache-libcloud (0.20.1)
aws (0.2.5)
awscli (1.10.61)
backports.ssl-match-hostname (3.5.0.1)
boto (2.40.0)
boto3 (1.1.3)
botocore (1.4.51)
certifi (2015.11.20.1)
cffi (1.7.0)
colorama (0.3.7)
Cython (0.20.1.po

[2016-09-27 13:09] dbayle commented on #17593
Any feedback on this ?

[2016-09-27 13:13] Shaps commented on #17770
@fvant Have you tried running the ssh command from the shell to see if you can actually connect to the server?
`ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o 'IdentityFile="./vars/keys/ansible_id_rsa"' -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=root -o

[2016-09-27 13:21] fvant commented on #17770
sure, the  ansible -m setup also runs as root

[code]

[2016-09-27 13:25] jean-christophe-manciot commented on #16356
Both generated debs are identical, except for the binaries & the versioning (not mentioning (/usr/share/man/man1/ansible-*):
- the deb from "make deb" contains unnecessary 6 cloned copies of ansible for all ansible-_, whereas my "manual" deb contains symlinks for the same ansible-_ binaries pointing to ansible.
- if I build from the stable-2.1 branch with "make deb", the resulting package name say

[2016-09-27 14:43] alikins commented on #16855
Tested with the following mount points:

[code]

Testing with the devel branch, the stable-2.1 branch, and the 2.1.0.1-1 branch
a 'ansible localhost -m setup' runs without errors. The sshfs mounts aren't included in the mount facts, but that is intentional.

But, if I add:

[code]

I can get this to fail on 2.1.0.0-1, but stable-2.1 and devel branches work.

[code]

[2016-09-27 14:44] alikins commented on #16855
I'm also going to add the mtab with single quotes to the unit tests to make sure it doesn't break in the future.

[2016-09-27 14:56] alikins commented on #16855
Since this appears to be fixed in devel branch, and in stable-2.1 (the branch for the next 2.1 release), I'm going to close this.

You can test the https://github.com/ansible/ansible/releases/tag/v2.1.2.0-0.4.rc4 release candidate to verify. If that doesn't fix it, please reopen this bug.

[2016-09-27 14:56] #16855 closed, assigned to jimi-c

[2016-09-27 15:14] abadger commented on #17593
I am unable to reproduce this with your playboook.  UnicodeError is usually the result of mixing non-ascii strings improperly in python. But that means there needs to be a source of the non-ascii characters.  I do not see any non-ascii in your playbooks.  Are there some coming from somewhere else?  Perhaps the directory that you're running ansible inside of?  I have recently fixed a bug in devel (

[2016-09-27 15:18] abadger commented on #17593
Hmm... I see that you already said the playbook path was /etc/ansible/playbooks so that isn't it... Can you figure out where non-ascii characters would be coming from, though?

[2016-09-27 15:19] abadger commented on #17461
Thanks @Tiduster !  Good to know that there was a simple explanation :-)

[2016-09-27 15:30] jimi-c commented on #16356
@jean-christophe-manciot pre-pend `OFFICIAL=yes` to the `make deb` command, and it should create a package name with the version info rather than the git sha (which we call a "nightly" build).

Beyond that, I'd like to have the fix back in for the symlinking of the binaries but in my opinion otherwise we are keeping it more simple via our method, as we're not having to duplicate the work.

[2016-09-27 15:31] alikins commented on #17213
I can reproduce this on devel

with gathering = smart:

[code]

[2016-09-27 15:33] alikins commented on #17213
And without gathering = smart, it works:

[code]

[2016-09-27 15:35] dbayle commented on #17593
I'm in the same position as you are, I don't have any clue where those unicodeerrors are coming from.
The only thing we can let you know is the fact that all our playbooks stopped working from one day to another and the only change were the python updates on CentOS 7.2.

I'm still investigating on a way to solve this, I will try to copy our playbooks elsewhere but I'm not convinced about the resul

[2016-09-27 15:37] alikins commented on #17213
added repro setup to https://github.com/alikins/ansible-bug-repro/tree/master/gather_facts_17213

[2016-09-27 15:44] alikins commented on #17213
Using 'gathering = explicit' also works

[code]

[2016-09-27 15:51] #17582 closed, assigned to jimi-c, bcoca

[2016-09-27 16:04] alikins commented on #17213
The big if (lots of gather logic) statement in https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/play_iterator.py#L315-L317  seems to end up as False in the gathering=smart case.

In particular, the line at https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/play_iterator.py#L317 is False since 'implied' is False.

[2016-09-27 16:06] mscherer commented on #17593
Could be from anything in the environment, could you share it (ie, the output of 'env') ?

[2016-09-27 16:13] #17410 closed, assigned to Qalthos

[2016-09-27 16:13] dbayle commented on #17593
Waht do you mean, what are you thinking of ?

[2016-09-27 16:23] jhawkesworth commented on #17758
Ok, not that then.

So I missed that you were getting 401 Unauthorized - setup module is irrelevant.

I suggest doing a winrm get winrm/config on the affected machines and comparing with known good machines.

Another thing that you can check is if the affected machines are really on the same domain that you are connecting as. I am not sure if you can connect if the machine belongs to a different d

[2016-09-27 16:25] alikins commented on #17213
Removing the 'and implied' from https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/play_iterator.py#L317  seems to make the test case work (and doesn't break the gathering=implicit or gathering=explicit cases)

[code]

[2016-09-27 16:30] #17246 closed, assigned to alikins, abadger

[2016-09-27 16:40] indraindu opened #17772 "aws ec2_key "module_stderr": "/bin/sh: /usr/bin/sudo: Permission denied\n"
Hi all,

Iam new bee to Ansible tower, When iam running this module in tower it shows me permission denied.My credentials for aws are correct and it autheticates successfully in tower .But When loading this module it shows something like this :+1:

[code]

Here i exported my aws credentials

**My result:**

[code]

EXPECTED RESULTS:

Need to create keypair ..

I have also tried with become, become

[2016-09-27 16:51] JohnPeacockMessageSystems opened #17773 ""| int " pipe does not work as described"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

but also happens with 1.9.2
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a
##### SUMMARY

The Jinja2 docs here:http://jinja.pocoo.org/docs/dev/templates/
say that you can use "| int" to convert a floating point number to a true integer, but that isn't the case.  I can convert a string to an integer, but not a

[2016-09-27 16:57] JohnPeacockMessageSystems commented on #17773
It looks like it is the additional math operations which is confusing things:

[code]

vs

[code]

[2016-09-27 17:03] alikins commented on #17213
https://github.com/ansible/ansible/pull/17774 is a proposed fix. Or at least an implementation of the change mentioned in https://github.com/ansible/ansible/issues/17213#issuecomment-249918267

That change appears to be enough to get the sample reproducer to work, but haven't dug in to see what the implications of the change are.

[2016-09-27 17:22] ccoager commented on #17758
I have compared the WinRM config from a working machine to this one, they are exactly identical.  Yes, they are on the same domain as well.

I'm pretty confident that issue has to do with SPN. I cannot connect via Powershell from Windows without using that -IncludePortInSPN option.

[2016-09-27 17:47] JohnPeacockMessageSystems commented on #17773
An acceptable (but still annoying) workaround is to use set_fact in the playbook to do the calculation and then the "| int" filter on the resulting variable inside a template.

[2016-09-27 18:10] dbayle commented on #17593
[root@**************\* ~]# env
XDG_SESSION_ID=3275
HOSTNAME=*****************
TERM=xterm
SHELL=/bin/bash
HISTSIZE=1000
SSH_CLIENT=*****************
SSH_TTY=/dev/pts/0
USER=root
LS_COLORS=rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=01;05;37;41:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:_.tar=01;31:_.tgz=01;31:_.arc=01;31:_.arj=0

[2016-09-27 18:10] alikins commented on #17747
This looks very similar to https://github.com/ansible/ansible/issues/17078

[2016-09-27 18:12] nuncanada opened #17775 "Changing directory owner, at 1st provision ansible tells it has changed, but it is not. At the 2nd time, provision does change it."
Configured task:
- name: Modificar permissões de acesso para o Jenkins
  file: path=/var/www/html state=directory mode=0755 owner={{ composer_usuario }}

LS after the 1st run:

[vagrant@symfony-desenvolvimento ~]$ ls -la /var/www/html
total 4
drwxr-xr-x 2 root root  27 Aug  6 15:57 .
drwxr-xr-x 4 root root  31 Sep 28 03:50 ..

LS after 2nd run:
[vagrant@symfony-desenvolvimento tmp]$ ls -la /var/ww

[2016-09-27 18:33] dav1x commented on #17770
+1 Having this exact same issue. Ansible-playbook fails to connect via ssh. However, if I connect ahead of time via an ssh the control master is set and everything works fine.

I resolved by removing ansible 2.2 and installed 2.1.

[2016-09-27 18:38] alikins commented on #17747
https://github.com/ansible/ansible/compare/devel...alikins:cache_invalid?expand=1  has a small changed that seemed to potentially fix #17078  (basically, invalid the plugin cache if we add paths to it)

[2016-09-27 18:49] jbergstroem commented on #17587
Guess this stalled a bit. I'm still waiting for feedback on how to proceed wrt deprecating/removing `get_distribution`. Should I just proceed and ignore it?

[2016-09-27 18:51] alikins commented on #17747
Added a repro case for this bug at https://github.com/alikins/ansible-bug-repro/tree/master/role_custom_module_override_17747

compare/contrast with similar bug https://github.com/alikins/ansible-bug-repro/tree/master/role_custom_module_override_17078

[2016-09-27 18:52] hanej commented on #9065
Just spent several hours banging my head on the table trying to get around this issue.  With the amount of chatter this issue is getting I'm really surprised Ansible (or Red Hat) is allowing this to continue.

[2016-09-27 18:53] alikins commented on #17078
added a repro test case for this to https://github.com/alikins/ansible-bug-repro/tree/master/role_custom_module_override_17078

afaict, this is very similar to https://github.com/ansible/ansible/issues/17747

(the repro cases are basically the same, see https://github.com/alikins/ansible-bug-repro/tree/master/role_custom_module_override_17747)

[2016-09-27 18:57] sivel commented on #17773
The problem is in how jinja2 handles groupings. I'll try to demonstrate by adding parentheses to show the groupings:

Your initial example:

[code]

is really:

[code]

Your last example:

[code]

is really:

[code]

So re-writing them all for you to what you expect:

[code]

As a playbook:

[code]

With an output of:

[code]

[2016-09-27 19:14] iainlbc commented on #9065
Why rely on the group_vars abstraction to merge vars and determine what is
needed in the first place?

I can't think of a good reason not to explicitly define and include vars
(simplest example is included above in the thread)

##

Iain Wright

This email message is confidential, intended only for the recipient(s)
named above and may contain information that is privileged, exempt from
disclosure u

[2016-09-27 19:43] hanej commented on #9065
Part of the issue is that it's not immediately clear that's how Ansible parses variables.  One would think (as evidenced by the number of people having this problem) that assigning a host to a group, and running only that group, would inherit the variables for only that group and not of all of the groups that host is in.

Running all hosts is a different story but at least then it should be a clea

[2016-09-27 19:45] jimi-c commented on #17747
@agaffney I'm going to push a fix to restore the functionality to 1.9.x and before's behavior (which in this case would be to always use the plugin found in the role). Note this would still use the incorrect plugin for the `bar` role in your example, however that has been a long-standing issue with roles. In the past, the guidance has always been to not override core/extras modules names as you're

[2016-09-27 19:49] jimi-c commented on #17747
The commit to restore 1.9.x behavior is 5a57313dd72e574d38272364df3ef01d6a3646ef

[2016-09-27 19:50] agaffney commented on #17747
I was overriding a built-in module in a role because the built-in module had an issue that was fixed in the custom module version in the role. In my case, the custom version in the role being used in both roles is just fine.

[2016-09-27 20:35] snemir2 opened #17778 "sshpass/ansible_ssh_pass is BROKEN on rhel7"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ssh authentication with password
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

to authenticate to host
##### ACTUAL RESULTS

see abouve.  fails.

[code]

[2016-09-27 20:38] jhawkesworth commented on #17758
Ok, so I knew nothing about SPNs but  having read
http://blogs.iis.net/brian-murphy-booth/the-biggest-mistake-serviceprincipalname-s
and some of
https://blogs.technet.microsoft.com/askds/2008/05/29/kerberos-authentication-problems-service-principal-name-spn-issues-part-1/
and some of https://blogs.technet.microsoft.com/tristank/2006/05/08/3-simple-rules-to-kerberos-authenticationdelegation-spns/

[2016-09-27 21:10] igormoochnick commented on #14270
+1

[2016-09-27 21:25] snemir2 commented on #17778
please disregard --reinstalling openssh solved this.

[2016-09-27 21:25] #17778 closed, assigned to nobody

[2016-09-27 21:26] snemir2 commented on #17778
was openssh/not ansible issue

[2016-09-27 21:38] redixin commented on #13278
The problem is not necessary in ansible, it may be in misconfigured /etc/hosts or other DNS issue.

Please check two things:
1. Ensure you can login to host fast enough by ssh. Usually it should take less then one second.
2. Ensure you can run sudo fast enough. Usually it is much less then one second.

Big ssh delays usually caused by incomplete DNS configuration. The same with sudo delays.

Commo

[2016-09-27 21:48] stevesirois commented on #9065
That's EXACTLY the point of an abstraction! If the tool let me abstract my environment in different groups and then by applying clear rules of inference deduce which variables should be use, why not use it?!? So there's 2 problems here : The rules are not clear or the abstraction is not working. Otherwise, explain me the purpose of groups_vars if I need to explicitly define and include vars?

I'm

[2016-09-27 21:52] dav1x commented on #16845
Hey @jctanner

I'm also having this issue. Do you want the full verbosity of the commands from above or just a summary?

[2016-09-27 21:52] nerzhul commented on #9065
We have found a way to solve our app/env problem with variables inheritance by cross defining variables between groups using a prefix.
for example

app_collectd.yml
collectd_host: "{{ env_collectd_host }}"

env_production.yml
env_collectd_host: 1.1.1.1

then it's now not a problem, we have a clear app variables + env variables using cross calling variables

[2016-09-27 22:42] hanej commented on #9065
I'm coming from Puppet-land where doing abstraction and code reuse is simple and clear.  Maybe I don't understand correctly how Ansible approaches this so if there is a better way  that doesn't involve group_vars I'm all ears.  What I don't want to have to do is maintain another set of variables for each host or group to specify where it should be getting its variables.  To me that should be the r

[2016-09-27 22:51] ccoager commented on #17758
Yes, the host is running IIS. I tried using the IP address but I get the same exact error message.

[2016-09-27 23:36] hachaboob commented on #6756
I don't think being able to set default values per OS is required if the variable precedence was changed. I see roles as being isolated as in they maintain their own variable precedence. So any OS specific defaults can be in a role's vars folder. Then if Ansible's overall variable precedence was changed so that group_vars and host_vars could override all variables in a role that would take care of

[2016-09-27 23:47] hachaboob opened #17786 "Allow group_vars and host_vars to override role variables"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

Variable Precedence
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Change Ansible's variable precedence so that groups_vars and host_vars can override all role variables. Roles should be considered standalone or isolated modules and maintain there own variable precedence. Roles can use conditi

[2016-09-28 02:42] Gourds commented on #16408
NO MORE HOSTS LEFT *************************************************************
    to retry, use: --limit @playbooks/ssy/dbservers/dbservers.retry

PLAY RECAP *********************************************************************
ssy-db1                    : ok=5    changed=1    unreachable=0    failed=1
ssy-db2                    : ok=5    changed=1    unreachable=0    failed=1

[root@ssy-thrift

[2016-09-28 05:16] duck-rh opened #17790 "ansible_fact_caching not honored in extra vars"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

facts caching
##### ANSIBLE VERSION

[code]

This is rc3.
##### CONFIGURATION

Set the role path and activatd JSON facts caching.
##### OS / ENVIRONMENT

From Debian unstable to CentOS 7.2.
##### SUMMARY

Setting the variable in extra vars has no effect
##### STEPS TO REPRODUCE

In projects's ansible.cfg:

[code]

I want to disable fact caching t

[2016-09-28 05:19] trishnaguha commented on #16561
I could reproduce the same bug.

[2016-09-28 06:48] mtarvainen commented on #17769
I can confirm this behaviour. Also role dependencies are always included even when 'when' criteria isn't met. That causes huge performance drop. 2.1.0.0 version did not have this behavior. On the bright side, tasks in those files are skipped and not executed.

[2016-09-28 08:25] haozhang2 commented on #2769
I have the same problem on Ansible 2.1.0 .

[code]

[2016-09-28 08:48] toby-griffiths commented on #17769
@mtarvainen Did you find the tasks in the file didn't run?  I had to manually add checks to the various prevent the deprecated warnings.

[2016-09-28 09:59] mtarvainen commented on #17769
@toby-griffiths Yes. I think your warnings are there because included files get parsed though.

[2016-09-28 10:09] jhawkesworth commented on #17758
Is using a different domain user an option?

I suggest asking on ansible-project google group in case anyone else has encountered this and has a workaround - many more people use the group than follow the ansible issue reports.

cc @nitzmahone @trondhindenes - have you encountered this situation of SPN interfering with winrm connection before?

[2016-09-28 10:17] m4grio commented on #16443
Same problem here with wordpress salts.

[2016-09-28 10:18] m4grio commented on #16443
@dagwieers for me, replacing just `#` solved the problem.

[2016-09-28 10:31] jean-christophe-manciot commented on #16356
I'd be glad to remove my workaround trick and use your script. However:
- I don't see the equivalent of `dpkg-checkbuilddeps` (I may be wrong)
- the "export OFFICIAL=yes" does change the version of the package, but `make deb` tries to sign the package with "Ansible, Inc. support@ansible.com" private GPG key, which obviously I do not own.  This makes the recipe for target 'deb' fail.
- IMHO, "ppa~u

[2016-09-28 11:46] ccoager commented on #17758
I just tried another domain account that has local admin rights, same error message.

I created a thread before I created this issue but have received no replies.
[FAILED => the username/password specified for this server was incorrect](https://groups.google.com/forum/#!topic/ansible-project/37u6k31Rxmc)

[2016-09-28 13:04] sdodson commented on #16845
Who/what requested closure? How do we request that it be reopened? bot help doesn't make it clear how to do that as a non member

[2016-09-28 13:47] wouteroostervld opened #17793 "Ordering of roles with at least one 'when' conditional has effects on running of their dependencies or not."
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

roles with conditionals
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

vanilla
##### OS / ENVIRONMENT

Ubuntu 16.04.1 LTS
##### SUMMARY

Ordering of roles with at least one 'when' conditional has effects on running of their dependencies or not.
This means if there are two roles with the same dependencies. The dependencies might run or not dep

[2016-09-28 13:57] #17761 closed, assigned to bcoca

[2016-09-28 14:33] wouteroostervld commented on #17793
Sorry! Seems to be fixed in 2.1.1.0.

[2016-09-28 14:34] #17793 closed, assigned to nobody

[2016-09-28 14:35] jctanner commented on #13266
Resolved by https://github.com/ansible/ansible-modules-core/pull/2538

[2016-09-28 14:35] #13266 closed, assigned to nobody

[2016-09-28 14:41] smiller171 opened #17795 "Callback plugins duped in docs"
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

Plugin development docs
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Callback plugins have two sections in the plugin dev docs, with mostly the same info.
##### STEPS TO REPRODUCE

Go to http://docs.ansible.com/ansible/developing_plugins.html and observe the documentation issue.
#####

[2016-09-28 14:51] jctanner commented on #10445
Using puppetlabs/debian-6.0.10-64-nocm vagrant box ...

[code]

[2016-09-28 15:21] #17762 closed, assigned to bcoca

[2016-09-28 15:29] Schroeffu commented on #13876
same here ansible 2.1.2.0 (stable-2.1 559fcbe531), target rhel 7.2
funny thing when it does not work, it is running with "-vvv". And little bit later as soon as it stops working with "-vvv", it is running normal without verbose again.

[2016-09-28 17:12] toby-griffiths commented on #17769
Ah. That makes sense.

[2016-09-28 18:29] jctanner commented on #9582
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-09-28 18:29] #9582 closed, assigned to nobody

[2016-09-28 18:33] jctanner commented on #9298
The controller code checks for controlpersist capability on the client now, so they will no longer be set if the client doesn't support it.

[2016-09-28 18:33] #9298 closed, assigned to nobody

[2016-09-28 19:47] bcoca commented on #17769
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Unless the include is specifically dynamic, the `when` condition is inherited by the tasks and does not affect the include itself, so this is working as expect

[2016-09-28 19:47] #17769 closed, assigned to nobody

[2016-09-28 20:09] dharmabumstead commented on #17795
Fixed. Thanks!

[2016-09-28 20:09] #17795 closed, assigned to docschick

[2016-09-28 20:14] derekmahar commented on #8603
I still think this is still an issue.  I encountered a case similar to [_ansible: recursive loop detected in template string_](http://stackoverflow.com/questions/21738661/ansible-recursive-loop-detected-in-template-string).  I commented that I expected nested role invocation to work similar to nested function calls.  Essentially the problem happens because the parser doesn't treat each role as a s

[2016-09-28 20:17] jctanner commented on #8340
Testcase ...

[code]

[code]

[code]

[code]

Results ...

[code]

[2016-09-28 20:18] jctanner commented on #8340
Based on the results above, this issue was fixed sometime during 1.8.x

[2016-09-28 20:18] #8340 closed, assigned to nobody

[2016-09-28 20:21] derekmahar commented on #12713
I think this is still an issue.  I encountered a case similar to this and [_ansible: recursive loop detected in template string_](http://stackoverflow.com/questions/21738661/ansible-recursive-loop-detected-in-template-string).  I commented that I expected nested role invocation to work similar to nested function calls.  Essentially the problem happens because the parser doesn't treat each role as

[2016-09-28 22:33] #16865 closed, assigned to bcoca

[2016-09-28 22:48] dharmabumstead commented on #17759
Thanks for the feedback. Moved the instructions on writing to stdout up into the configuring section under its own subheading to enhance visibility.

[2016-09-28 22:48] #17759 closed, assigned to nobody

[2016-09-28 23:06] ilyapoz commented on #14549
+1 please fix this, really a big and totally unneeded hurdle in diagnosing

[2016-09-28 23:17] bcoca commented on #17790
extra vars are NOT configuration, they are variables.

Entries in ansible.cfg are not available as vars normally, there are some 'connection variables' that can override these default settings, but they are specific to communication with hosts and not generic as options to override any config.

[2016-09-28 23:24] #17453 closed, assigned to nobody

[2016-09-29 04:18] gariels commented on #17724
I'm closing this issue because when I try with ansible from git it works (and solve my other issue as well). Looking forward for the next release coming to PyPI. :cool:

[2016-09-29 04:18] #17724 closed, assigned to nobody

[2016-09-29 05:15] duck-rh commented on #17790
Ok, sorry for the semantic confusion, but you're eluding the problem. Why some can be modified with -e and some not?
As said, there may be valid technical difficulties, but it should at least be documented.
For example setting ansible_ssh_common_args or ansible_become\* or ansible_pipelining… works perfectly, so why not this one?

[2016-09-29 06:30] toby-griffiths commented on #17769
@bcoca Thanks for taking the time to explain.
I'll look into how dynamic includes now.
Perhaps the documentation could be a little clearer. Is it a repo somewhere that I could submit a PR to update?

[2016-09-29 07:11] jhawkesworth commented on #16261
@basictheprogram - just following up on some older bug reports.
I've realised since I wrote this that you can specify wait: true with win_msi and I'd advise doing so if you want to retrieve the logs.  Can you try with wait: true set in your playbook?

needs_info

[2016-09-29 07:13] Shrek27 opened #17804 "Some problems with :"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

YAML parser
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

##### SUMMARY

I have some problems with colon marks within playbook. Just installed ansible and tried to make simple playbook:

[code]
##### ACTUAL RESULTS

So when i execute ansible-playbook -l clientname test.yml i got errors near all coon marks. It looks like parser doesn't und

[2016-09-29 07:46] jacderida commented on #17578
This is also happening to me when trying to install Ansible via pip on the Vagrant [debian/jessie64](https://atlas.hashicorp.com/debian/boxes/jessie64) box.

[2016-09-29 08:20] prutseltje commented on #17686
**removed as it was unrelated**

[2016-09-29 09:20] Shaps commented on #17804
This is not a bug. `tasks` indentation is wrong, it has to be at the same level as `hosts`:

[code]

[2016-09-29 09:23] gundalow commented on #17804
@Shrek27 As @Shaps has said this is an issue with indentation. If you believe their is still an issue please reopen this bug.

[2016-09-29 09:23] #17804 closed, assigned to nobody

[2016-09-29 09:29] jlec opened #17805 "--limit inconsitency"
When using `--limit` I get inconsistent behaviour. See following inventory

[code]

Running
`ansible-playbook site.yml -t netdata --inventory inventory.dev --limit lc3n[1-9].ukapd.astrazeneca.net --become --ask-become-pass` acts on blades 1-9.

[code]

whereas `ansible-playbook site.yml -t netdata --inventory inventory.dev --limit lc3n[21:28].ukapd.astrazeneca.net --become --ask-become-pass` only

[2016-09-29 09:50] ghost commented on #17043
Hi all,
any help?

[2016-09-29 11:10] ghost commented on #17043
Hi,
i don't know why ansible is closing the connection on these tasks..

[2016-09-29 11:22] sherpaurgen commented on #15706
same issue in ansible version 2.1.1

[2016-09-29 12:06] dbayle commented on #17593
Greetings, we found the issue on the Ansible server, someone in our team left a comment with special characters in /etc/ansible/hosts file. Once this comment was removed, all playbook and ansible worked fine.

so in /etc/ansible/hosts:

# Comment with special char░ in there

Even as a comment it was producing all these errors.
Thank you for your help, hope this feedback can help.

Regards.

[2016-09-29 12:30] Jorge-Rodriguez commented on #17582
@bcoca This works for me except if the setup task is `run_once`

[2016-09-29 12:31] lassizci opened #17806 "hostvars[host][variable] are not recursively templated"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration without changes.
##### OS / ENVIRONMENT

Linux (Fedora 23)
##### SUMMARY

When using host/groupvars in a template through hostvars and the variable is templated, jinja template string is returned instead of the interpolated variable. This renders map/extract pretty useless in variables. Can't co

[2016-09-29 12:38] ssbarnea commented on #13401
Why is this task marked as resolved when we can all reproduce it with current version of Ansible? -- 2.1.1.0

It is clear to me the without setting `ANSIBLE_SCP_IF_SSH=y` before running ansible, the template module will fail with a meaningless error message: complaining about not being able to ssh. That's clearly a bug in the template module.

[2016-09-29 12:41] objectified opened #17807 "Async task fails doing attribute lookup during "do until" scenario"
##### ISSUE TYPE

 Bug Report
##### COMPONENT NAME

asynchronous tasks
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No config set
##### OS / ENVIRONMENT

[code]
##### SUMMARY

When running tasks with the `async` parameter set, conditions that use attributes of the result object of these tasks do not seem to work (e.g. an `unless` checking `someresult.stdout`), seemingly because these attribu

[2016-09-29 12:50] ssbarnea opened #17808 "review and reopen bug #13401"
Please check last comments on bug #13401 and reopen it as the reported problem does reproduce with current release of ansible.

[2016-09-29 12:56] ssbarnea commented on #11536
@isotopp

Is this the right syntax (with underline prefix) for putting inside `~/.ssh/config` file?

[code]

Is this an escape that would have the same meaning as the double `%%` from ansible.cfg file? I am trying to configure both of them the same way as I use ssh even outside ansible.

[2016-09-29 13:06] ssbarnea commented on #13401
At least I am glad that I was able to workaround this bug by adding this to `ansible.cfg`:

[code]

[2016-09-29 13:18] mtarvainen commented on #17769
@bcoca Thanks for taking time and pointing this it out. I revisited my roles and applying `static: false` did the trick.

[2016-09-29 13:23] ghost commented on #17043
Created an issue in the module ansible/ansible-modules-core repository

[2016-09-29 13:23] #17043 closed, assigned to nobody

[2016-09-29 13:36] mscherer commented on #16845
Reopening, since others people are ready to provides information. @dav1x , I guess that the full command would be what is needed, better have too much information than not enough for debugging.

[2016-09-29 13:40] bcoca commented on #16845
To clarify closure, the ticket was in 'needs_info' for many weeks and bot is now configured to close tickets that seem 'abandoned'.

[2016-09-29 14:21] lassizci commented on #17806
the same thing with `v2.1.2.0-0.5.rc5`

[2016-09-29 14:23] jctanner commented on #16845
@mscherer @sdodson @dav1x the bot was looking for a response from the submitter. We're expecting the submitter to respond to info requests because they are the only person who can provide information for their specific environment. Many of these ssh related issues look similar but are completely different. It's very helpful when other community members provide data, but it doesn't always help reso

[2016-09-29 14:23] #17593 closed, assigned to abadger

[2016-09-29 14:37] dgoodwin opened #17810 "Tasks Running in Included File Despite Conditional Include Evaluating False"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

include / when
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 24 using Ansible 2.2 builds being done for OpenShift 3.3.
##### SUMMARY

Using an include statement with a when conditional that is evaluating to _false_, in the included file the second task in the second play is triggering. (and failing because the

[2016-09-29 14:43] ccoager commented on #17758
Found some supporting evidence from the Powershell side.
[Can we add PSSessionOptions to the PowerShellJob.ps1 / Invoke-PsOnRemote](https://github.com/Microsoft/vsts-tasks/issues/2441)
[Cannot use PowerShell Remoting when a http/ SPN exists for target machine](https://www.reddit.com/r/PowerShell/comments/3ze9pp/cannot_use_powershell_remoting_when_a_http_spn/)

[2016-09-29 14:48] hoall commented on #17786
I would say you need to be more specific. Role default vars for example are overwritten.

See [Variable Precendence](http://docs.ansible.com/ansible/playbooks_variables.html#variable-scopes)

[2016-09-29 15:05] dgoodwin commented on #17810
Speaking with @bcoca it sounds like this is caused by using an include on a file which contains plays, combined with a when. We can't apply "when" on plays so this should technically be an error today. Leaving open at bcoca's request so it can either error with a consistent message or be made to work somehow. (perhaps apply when to all tasks in plays in this situation)

I will workaround for my us

[2016-09-29 15:16] derekmahar commented on #12713
I think I understand now why roles behave this way.  Ansible invokes a role only once.  Roles are not analogous to procedure calls.  If a playbook wants to invoke a role more than once, it should do so in a separate playbook.

[2016-09-29 15:23] phips opened #17811 "Allow vmware_inventory to control acceptance of SSL certificates"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

vmware_inventory
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

[code]
##### SUMMARY

`vmware_inventory` blindly accepts the SSL certificate at the moment - regardless of it being part of a genuine chain or a self signed cert. Convenient, possibly, but not the height of security. Really we should have an option to accep

[2016-09-29 15:39] davidak opened #17812 "adhoc and playbook command inconsistent"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

adhoc command
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

OS X 10.9.5
Python 2.7.12
##### SUMMARY

adhoc command behave different than playbook
##### STEPS TO REPRODUCE

ping.yml

[code]

inventory/mz2

[code]

group_vars/mz2.yml

[code]

(gateway reachable from internets)
##### EXPECTED RESULTS

succesfully connect

[2016-09-29 16:20] Shaps commented on #17770
I don't seem to be able to reproduce this, can you please provide the playbook where this error happens?

[2016-09-29 16:27] agaffney commented on #17770
The first `ssh` command in the ad-hoc command and the first _failing_ `ssh` command in the playbook run appear to be identical, aside from the name of the temp dir.

[2016-09-29 16:29] bcoca commented on #17790
If you look, those are specifically documented and they are 'host connection variables', which are normally set in inventory, but extra vars have precedence and they are still vars. The configurations are just setting 'defaults' in these cases.  http://docs.ansible.com/ansible/playbooks_variables.html

Most configurations do not deal with host connections and should not be "overridable" via this m

[2016-09-29 16:30] agaffney commented on #17770
It would be very helpful if you could provide a small testcase. The playbook that you are using has 11 plays in it, which doesn't really make it good for other people trying to reproduce this issue.

[2016-09-29 16:31] fvant commented on #17770
I execute the commands directly after each other from the same directory.

completely removing 2.2 and a yum install ansible, results in both commands
working.

On Thu, Sep 29, 2016 at 6:28 PM, Andrew Gaffney notifications@github.com
wrote:

[2016-09-29 16:34] jhawkesworth commented on #17758
I can't check right now but I believe our iis app pools run as a different user from the one we connect via ansible as, so its possible that we get round it that way. Or we don't use SPNs (I am not windows domain admin).

Seems like the only option is to avoid the SPN for your ansible winrm user, although it sounds like you already tried that.

[2016-09-29 16:37] agaffney commented on #17770
You execute what commands directly? What are the results when you execute those commands?

Edit: I assume you're referring to the `ansible` and `ansible-playbook` commands

[2016-09-29 16:45] jctanner commented on #17808
@ssbarnea I got the impression that the submitter for #13401 found a resolution. If you are seeing a problem, we should work through a new issue. Please fill out the issue template with the relevant data in your description and we can go from there.

needs_info

[2016-09-29 16:52] nitzmahone commented on #17758
Yeah, that makes sense- the SPN config is essentially hijacking what's required for WinRM. There are some apps that hijack the HTTP SPN so they can do Kerberos auth via IIS under a nonstandard domain account, but I haven't seen anything do that for years (I wrote one of them ca 2001). Pywinrm does support overriding the kerb hostname separately from the actual network hostname, so you might be abl

[2016-09-29 16:52] #17758 closed, assigned to nobody

[2016-09-29 16:56] bcoca commented on #17578
not sure this is an Ansible issue, looks like a pip/debian/cryptography issue (cryptography is a dependency)

[2016-09-29 17:07] remyleone commented on #17578
When I install cryptography before installing ansible it seems to work.

[2016-09-29 17:08] ccoager commented on #17758
@nitzmahone
Can you keep the ticket open until we find resolution?

[2016-09-29 17:12] nitzmahone commented on #17758
Regardless of the success of the workaround, it's a local configuration issue (confirmed by that fact that PS remoting itself is completely broken), so not really anything Ansible can do about it beyond what I've already suggested. That's why I've closed the issue.

[2016-09-29 17:14] ccoager commented on #17758
I wouldn't call it a configuration issue, it is necessary for IIS to operate with kerberos authentication. Also, it does work with Powershell when using the -IncludePortInSPN PSSessionOption.

I'm willing to research the WinRM settings but will need to do some research.

[2016-09-29 17:16] fvant commented on #17770
I will try to set up an example playbook but the playbook fails at the
gather_facts Setup task, so any playbook will do I guess

@agaffney  yes I meant those

On Thu, Sep 29, 2016 at 6:31 PM, Andrew Gaffney notifications@github.com
wrote:

[2016-09-29 17:19] agaffney commented on #17770
It's possibly that a `vars:` section in the playbook or `group_vars/` in the same dir as the playbook are having an effect here. Make sure that your example playbook takes these things into account.

[2016-09-29 17:25] jefftrimm commented on #13262
+1 This is a tremendously important and useful feature.  Looping over a set of tasks is a very frequent use-case...

[2016-09-29 17:26] bcoca commented on #17686
@prutseltje  this is totally unrelated to the current ticket, please open a new one.

[2016-09-29 17:49] elventear commented on #16845
I apologize, but I do not have more time to spend on this issue. I have moved on and won't be able to revisit it.

From my perspective, the bot was ok to close it.

[2016-09-29 17:55] gundalow commented on #16864
We discussed in this Testing Working Group on 2016-09-29
- This is something that we've thought about before and believe would be a good thing - We do see tests failing from tom
- There were concerns that we are making httptester a dependency of tests. Tests need to see if httptester is available before deciding to use that as a repo source.

Moving forward please pick just one package manager to

[2016-09-29 18:01] jctanner commented on #16845
@elventear thank you for chiming in. I'll go ahead and re-close the issue.

[2016-09-29 18:01] #16845 closed, assigned to nobody

[2016-09-29 18:04] agronchi-nxw commented on #14270
+1, would make life easier to the playbook reader

[2016-09-29 18:08] winglian commented on #17770
I'm also seeing the same issue when using `ansible-playbook` with v2.1.2.0 that "resolves" itself when going back to v2.1.1.0.

[2016-09-29 18:10] jctanner commented on #17808
related https://github.com/ansible/ansible/pull/17813

[2016-09-29 18:26] bcoca commented on #17582
@Jorge-Rodriguez in the example the debug one is. Anyways, `delegete_facts: True` and `run_once: yes` do not make sense in the same task.

[2016-09-29 18:38] ccoager commented on #17758
I was able to fix the issue. I've submitted a pull request to pywinrm:

[Added service to HTTPKerberosAuth #144](https://github.com/diyan/pywinrm/pull/144)

You also need to add the following option in your vault or via command line:

[code]

[2016-09-29 18:41] nitzmahone commented on #17758
Nice- clearly I missed the service override during the requests refactor in
pywinrm... I'm planning on doing a pass on pywinrm stuff as soon as ansible
2.2 stabilizes, so I'll include this in the next pywinrm release.

Thanks!

On Sep 29, 2016 11:39 AM, "ccoager" notifications@github.com wrote:

[2016-09-29 18:49] alikins opened #17815 "unify the lists of strings/values that are booleans (ie, 'yes','on','true','TRUE','y','1', etc)"
- Bug Report
##### COMPONENT NAME

N/A
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

We have multiple places where we define what strings or values that map to booleans.
We should unify them and verify their usage where possible.

**examples:**

[code]
- Gundalow - tweaked formatting

[2016-09-29 19:07] ccoager commented on #17758
@nitzmahone
Does it make sense to change the default service from HTTP to HOST? I can't think of it breaking with HOST but it could break with HTTP with the issue I've experienced. At least with Ansible anyways, not sure what other use cases there are with pywinrm.

[2016-09-29 19:11] nitzmahone commented on #17758
Hmm, good question. I'd have to talk to the Microsoft gang about that and
see what they think...

On Sep 29, 2016 12:08 PM, "ccoager" notifications@github.com wrote:

[2016-09-29 19:40] alikins commented on #16864
Other potential aspects of this:
- (does httptester provide DNS currently?) if not, then: The httptester or mockserver could also provide DNS to the intg test docker images which may make it easier to test things like TLS hostname checks.
- mockserver[s] could provide multiple ssh servers (with different configs, crypto impls, different auth requirements, even different ssh impls like dropbear).
-

[2016-09-29 19:50] davegallant commented on #2097
+1

[2016-09-29 20:01] jdambly commented on #13243
👍

[2016-09-29 20:03] #17260 closed, assigned to bcoca

[2016-09-29 23:11] jctanner commented on #17808
Now that https://github.com/ansible/ansible/pull/17813 is merged, these sorts of issues can be filed with additional data in the future.

[2016-09-29 23:11] #17808 closed, assigned to nobody

[2016-09-30 00:01] geerlingguy commented on #16048
@jklaiho - @sgsabbage's hack is currently working for me under Ansible 2.1.1.0 (haven't tested 2.1.2.0 or devel yet).

[2016-09-30 00:08] schoksey opened #17825 "Responses from remote devices not sanitized completely"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

shell.py library from module_utils
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Remote devices that use ssh clients to execute commands remotely e.g. on Cisco N9K,
may return extraneous spaces in their responses.  As a result, if the response is not
appropriately sanitized to conform to JSON fo

[2016-09-30 00:42] fallencliff opened #17826 "ansible pipelining config for aix"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

pipelining = True
##### OS / ENVIRONMENT

control machine: redhat7.0
target machine: aix 6.1.0.0
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

set pipelining = True in ansible.cfg, then execute playbook ,target machine is aix,

[code]

[code]

##### EXPECTED RESULTS

execute uname -a as root
#

[2016-09-30 01:19] schoksey commented on #17825
#17829

[2016-09-30 03:00] bcoca commented on #17825
Module Repo Information
=======================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull

[2016-09-30 03:24] schoksey commented on #17825
#17829 - Can someone also please review the corresponding patch.
Thank you.

[2016-09-30 05:51] Jorge-Rodriguez commented on #17582
@bcoca Unless I'm badly mistaken, it does make sense to use `delegate_facts: True` and `run_once: yes` on the same setup task, consider this play, very similar to the example:

[code]

This task will be skipped when targeting all hosts on the inventory, however, if the playbook is run with `--limit` which is one of the reasons to use setup on a task according to the documentation, `play_hosts` may

[2016-09-30 07:15] Shaps commented on #17770
Can you also please specify what version of OS are you using? I'm still not able to replicate this, I've tested on `Ubuntu 14.04` and `Ubuntu 16.06`

[2016-09-30 07:31] Shaps commented on #17812
Hi @davidak can you please try running `ansible` specifying the group instead of the hostname?
`ansible mz2 -m ping -vvvvv`

[2016-09-30 07:53] jaccoh commented on #17495
I thought this would be fixed in 2.1.2.0 but I tried today:
"Error: docker-py version is 1.10.3. Minimum version required is 1.7.0."

This is, in my opinion, an urgent problem!

[2016-09-30 09:09] ric79 commented on #13262
+1!!!

[2016-09-30 09:13] eprogres commented on #13262
+1 definitely

[2016-09-30 09:16] fvant commented on #17770
Several, Centos 7 and Ubuntu Trusty (14.04.5 LTS)

On Fri, Sep 30, 2016 at 9:15 AM, Andrea Tartaglia notifications@github.com
wrote:

[2016-09-30 09:27] dbarrosop commented on #16938
This applies to 2.1.2 as well, how can an error like this be reported for 2.1.1 and be propagated to 2.1.2 months later? This is not a minor issue, this is a major one that renders ansible unusable: (

[2016-09-30 10:03] dminca commented on #4852
Issue still persisting in `ansible 2.1.2.0`

[code]

[2016-09-30 10:12] dzhus commented on #16789
I'm having an issue with using SSH keys from Yubikey on Ansible 2.1.1.0.

Here's what I did to use Yubikey for SSH in general:
1. Install OpenSC via Homebrew. OpenSC has PKCS11 implementation that works with my Yubikey NEO.
2. Add `PKCS11Provider /usr/local/lib/opensc-pkcs11.so` to `/etc/ssh_config`.

This allows me to use the private key of a self-signed certificate installed in the PIV applet on

[2016-09-30 11:21] unai-ttxu opened #17832 "Ssh plugin is not working with python3"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ssh.py from plugins/connection module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Centos 7 with Python 3.4.3
##### SUMMARY

When you try lo login into a server, the user name generated is not valid. There is a duplicated call to the `to_bytes` method when applying the `ANSIBLE_REMOTE_USER`.
##### STEPS TO REPRO

[2016-09-30 11:31] Shaps commented on #17770
@fvant Ok, can you still provide a test case playbook ( including any eventual vars your playbook might be including )

[2016-09-30 12:47] jcortejoso commented on #17832
This problem is also blocking us. I will try this fix.

[2016-09-30 13:06] #17811 closed, assigned to jctanner

[2016-09-30 13:35] jctanner commented on #15706
Related https://github.com/ansible/ansible/pull/17813

[2016-09-30 13:52] bcoca commented on #17578
So cryptography is a dependency, but not a direct one, it comes in via ~~pycrypto~~ paramiko.
We don't have control over pip nor the ~~pycrypto~~ paramiko package and I'm still unclear what the exact problem is (version? dependency resolution?).

I'm leaving the ticket open as a reminder to research this issue, but I suspect that the most likely solution on our side will be documenting this quirk

[2016-09-30 14:04] abadger commented on #17578
Correction: cryptography is an optional dependency of ansible.  If it's installed we use it because it's faster than pycrypto.  If it's not there we fallback to using pycrypto.

[2016-09-30 14:07] bcoca commented on #17815
At most we should have 2, one for 'ansible core' and another for modules, but we probably do even just one.

[2016-09-30 14:12] sivel commented on #17578
cryptography is actually a direct dependency of paramiko since paramiko version 2.

[code]

https://github.com/paramiko/paramiko/commit/56a4739923a356ff5670b4620139ca55a2f30148

[2016-09-30 14:27] fvant commented on #17770
I am trying to get to the minimal failing play, so far I have ruled out the use of roles and ansible-vault as making a breaking difference in my case.
But the failing playbook has a lot of includes and gives warnings like this:

[code]

Interesting is perhaps that a working run with 2.1.1 gives the same warnings but not the "statically included"  lines

Some of them are meant to be dynamic and doe

[2016-09-30 14:29] davidak commented on #17812
@Shaps Of course!

It also ignores the `group_vars`.

[code]

[2016-09-30 15:00] bcoca commented on #17769
@toby-griffiths modules have the docs embeded in themselves, the main ansible documentation is in this same repo, both man pages and the docs.ansible.com site (/docsite).

[2016-09-30 15:15] davidak commented on #5634
I also run into this problem:

I create a config for each host on the backup server and trigger a reload handler.

The problem is that the handler is triggered once for each host. Currently we have about 10 hosts in Ansible, but we have over 200 servers in general. The 6. handler call fails because the server don't respond anymore!

I consider this a serious problem and bad design (for this case).

[2016-09-30 15:27] bcoca commented on #17826
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Using `su` with pipelining is not supported as `su` requires a tty which pipelining avoids creating, this cannot work by the very nature of `su`.

In the futur

[2016-09-30 15:27] #17826 closed, assigned to nobody

[2016-09-30 15:31] Shaps commented on #17812
Ah! Just seen your inventory file is in a sub-directory. Ansible includes variables from the playbook or the inventory directory. Meaning that when you run ansible ad-hoc it will look for vars in inventory/\* . That's why the `ansible_ssh_common_args` are not included in the ad-hoc command but included in the playbook run.

[2016-09-30 15:33] jctanner commented on #17578
The first problem is that "pip install --upgrade cffi" breaks pip permanently on a Jessie system. Every operation will fail on the cffi.api.CDefError regardless of it's relation to ansible or crypto. For example, I can no longer install epdb because of the cffi.api.CDefError. So do not try to upgrade cffi through pip.

Second problem that you'll hit if trying to pip install ansible without first u

[2016-09-30 15:33] #17578 closed, assigned to nobody

[2016-09-30 15:33] abadger commented on #13876
The Openssh bugzilla mentioned above ( https://bugzilla.mindrot.org/show_bug.cgi?id=2492 )  has this comment:

and links to this commit: http://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=0f40fbbcc34e093255a2b2d70b6b0fb48c3f39aa

Many Long-Term Linux distros (RHEL, Ubuntu-LTS, etc) Are running older kernels.. You'd have to audit the patches they applied to the kernel to find

[2016-09-30 15:44] bcoca commented on #17582
`run_once` has the effect of apply facts to ALL hosts in the play (but not delegated host), that is why `delegate_facts` makes little sense. You are better off with a `when:` condition that forces to only execute once.

[2016-09-30 15:45] jctanner commented on #17832
@unai-ttxu How did you install 3.4 on el7 and how did you configure ansible to use it?

needs_info

[2016-09-30 15:50] abadger commented on #17832
@unai-ttxu I think you've got the right general idea there but your change will break cornercases on python2.  Let me take a look.

[2016-09-30 15:50] betrcode commented on #10967
If this is closed, is there a reference to a open issue where versioned documentation is the aim?

[2016-09-30 16:00] bcoca commented on #16938
This does not look like an `ansible_python_interpreter` issue. The `cwd` path resolution that was present in 2.1.0 was a bug, cwd is a security vulnerability for loading most things. Your `group_vars/` has to be relative to inventory file OR playbook, `ansible` has no playbook so it has to be relative to the inventory file used.

[2016-09-30 16:46] nitzmahone commented on #16734
fixed by https://github.com/ansible/ansible/pull/17816 for 2.2.0RC1

[2016-09-30 16:46] #16734 closed, assigned to nobody

[2016-09-30 17:46] martbhell commented on #4357
A lot of roles have galaxy meta information and have an ansible min version in there.
I think it would be cool if ansible looked in there and give an error if it's not right.

[2016-09-30 17:50] jctanner commented on #16938
@2bithacker can you please confirm if relocating your group_vars directory next to your inventory or playbook resolves the issue?

needs_info

[2016-09-30 18:48] billyfoss commented on #16443
I'm seeing this problem when [setup] runs against a windows virtual machine.

[code]

I had to search to find where the problem string is defined.  It is pulled as the vmxconfig checksum from the vCenter via vmware_inventory.py dynamic inventory.

[code]

Thanks,
Billy

[2016-09-30 19:04] privateip commented on #17111
This is now resolved and passing in all current test cases.  Had to add back the code for validating changes using `set ...` commands due to a limitation in junos-eznc that will error on delete statements.

[2016-09-30 19:04] #17111 closed, assigned to privateip, gundalow

[2016-09-30 19:05] matthargrave opened #17838 "become method dzdo fails"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

become_method: dzdo
##### ANSIBLE VERSION

ansible 2.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.8 (Santiago)
Red Hat Enterprise Linux Server release 7.2 (Maipo)
##### SUMMARY

when using DZDO as become me

[2016-09-30 19:12] matthargrave commented on #17838
I initially opened a ticket with Red Hat and did several things to troubleshoot.  Here is a list of things we tried:
Timeout  = 90
scp_if_ssh = True
transport=paramiko

with using the paramiko transport you can see the prompt in the stdout

[code]

[2016-09-30 19:16] michaelsmoody commented on #10472
@bcoca I can confirm this is broken in 2.1 on our install also

[2016-09-30 19:26] rgroten commented on #17805
In the case of `--limit dev-blades-[1:3]` I think Ansible is treating the suffix as an array index.
For example: `--limit dev-blades-2[0:1]` would return

As for `--limit lc3n[21:28].ukapd.astrazeneca.net`
Would this work for you instead? `--limit lc3n2[18].ukapd.astrazeneca.net`

[2016-09-30 19:33] bcoca commented on #17838
from the output, the password prompt is not matching the expected 'password:' as it has the 'for rharg1' instead.

[2016-09-30 19:36] rgroten commented on #17775
From your `ls` outputs the owner changed from `root` to `vagrant`

[2016-09-30 19:41] bcoca commented on #17838
Is the dzdo prompt configurable?

The method was contributed by other dzdo users, being a proprietary product we don't have access to test.

[2016-09-30 20:04] matthargrave commented on #17838
Yes it appears it is.  I attempted to change it to 'password:' as stated above but had the same result.  I tried adding a white space at the end but that also had the same result.   Assuming it is merely a parsing issue, it might be beneficial to use the -p flag to set the prompt with dzdo to avoid issues with custom prompts.  My description above is the default by Centrify ([dzdo] password for %u

[2016-09-30 20:10] bcoca commented on #17838
see if this PR fixes the issue for you #17840

[2016-09-30 20:20] matthargrave commented on #17838
That PR results in the following failure:

TASK [setup] *******************************************************************
Using module file /usr/lib/python2.7/site-packages/ansible-2.2.0-py2.7.egg/ansible/modules/core/system/setup.py
<localhost> ESTABLISH SSH CONNECTION FOR USER: None
<localhost> SSH: EXEC sshpass -d12 ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=30

[2016-09-30 20:24] matthargrave commented on #17838
I was able to fix it by changing the following

567 of lib/ansible/playbook/play_context.py

 becomecmd = '%s -p \'%s\' -u %s %s' % (exe, prompt, self.become_user, command)

[2016-09-30 20:26] bcoca commented on #17838
updated the PR to quote prompt

[2016-09-30 20:32] matthargrave commented on #17838
PR fixed issue.  Thank you!

Using /etc/ansible/ansible.cfg as config file
SSH password:
DZDO password[defaults to SSH password]:
Loading callback plugin default of type stdout, v2.0 from /usr/lib/python2.7/site-packages/ansible-2.2.0-py2.7.egg/ansible/plugins/callback/**init**.pyc

PLAYBOOK: test.yml *************************************************************
1 plays in test.yml

PLAY [localhos

[2016-09-30 20:32] #17838 closed, assigned to bcoca

[2016-09-30 20:33] todd-dsm opened #17843 "RFE: Add network manager ipv4.dns-search to the nmcli module"
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

nmcli

##### ANSIBLE VERSION

NA
##### CONFIGURATION

NA
##### OS / ENVIRONMENT

control machine: F24 workstation
managed nodes: centos 7.2
##### SUMMARY

It would be helpful if the nmcli module had the ability to reset the search domain.
(some clients need some crazy patches till things can be fixed properly)
##### STEPS TO REPRODUCE

Managed N

[2016-09-30 21:07] #17686 closed, assigned to jimi-c, bcoca

[2016-09-30 21:08] jimi-c commented on #17686
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-10-01 00:07] omgjlk commented on #17770
I was able to replicate this. It is a weird one.

First, I have a custom ssh_config file that I use, and I was using `ANSIBLE_SSH_ARGS="-F tmp/ssh_config"` to point to it.

Next, when I was testing, my playbook was outside of the current working directory, `playbooks/tests/tasks/foo.yaml`.

This combo does not work, as of commit to fix bug #16805 ( 9255a618e307b4e087cb0f3f6f4f225f7652c298 ), as th

[2016-10-01 01:24] geerlingguy commented on #17135
So... since this is now happening in dozens of my playbooks (in 2.1.2, didn't happen in 2.1.1 or previously), is the answer that I'll need to add `static: no` to every conditional include? This is also happening with conditionally added roles.

[2016-10-01 01:27] geerlingguy commented on #16222
Eek... I get the reasoning, but all the sudden all my playbooks are giving dozens of errors (example: https://travis-ci.org/geerlingguy/drupal-vm/jobs/164191257).

I never noticed the errors in Ansible <= 2.1.1, but with 2.1.2, the log looks like a bloody mess. It's a bit of a shock when a minor version bump fills your screens with purple :(

[2016-10-01 03:55] mukundhansuresh opened #17845 "Play continues with when 'any_errors_fatal' and max_fail_percentage satisfied the % of hosts failed"
##### ISSUE TYPE

Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.8 (Santiago)
##### SUMMARY

Play continues after a failed task when any_errors_fatal is set with max_fail_percentage. Is there a patch for this

[2016-10-01 06:50] resmo opened #17846 "handlers listen: duplicate named handlers break handlers listen"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

handlers listen
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

While writing test for handlers listen, I found inconsistencies in how handlers are marked for execution:

If handlers listen, it is not necessarily a must that they require a name (as we notify the listen param), if the task notifie

[2016-10-01 07:42] resmo opened #17848 "handler listen: notify a undefined handler must not be an error"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

handler listen
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

With the new feature of handler listen, a common use case is to notify an inexistent handler. However, currently Ansible expects the handler to be there and shows an error.

The error should be replaced with a warning so potential iss

[2016-10-01 09:58] corny commented on #15157
This example should be included in the documentation. I search quite long before I found this issue.

[2016-10-01 10:58] xen0l opened #17850 "type='int' in AnsibleModule triggers traceback"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

module_utils/basic.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Module arguments of type='int' in AnsibleModule trigger  traceback and cause Ansible to stop working correctly. The following traceback is triggered:

<pre>

  File "/tmp/ansible_4qbG0y/ansible_module_find.py", line 39, in <module>

[2016-10-01 11:56] jborean93 commented on #16858
You should be using ansible_password and not ansible_pass.

[2016-10-01 13:54] abadger commented on #17850
It doesn't matter what the type of the parameter in the argument_spec is.  That just determines what type of argument ansible expects to be passed in via that parameter.  The error is coming from the custom module's use of run_command.  run_command()'s args parameter takes either a string or a list of strings.  So the module you write needs to make sure it's sending strings.  For your sample modul

[2016-10-01 13:54] #17850 closed, assigned to nobody

[2016-10-01 16:42] joaosa commented on #13401
In my instance of this issue, adding `--ssh-extra-args="-o ControlPath=none" --sftp-extra-args="-o ControlPath=none"` (as mentioned on https://github.com/ansible/ansible/issues/13401#issuecomment-209554276) worked around this.

[2016-10-01 16:46] candlerb opened #17852 "with_sequence should provide int (not unicode) values"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

with_sequence
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No changes
##### OS / ENVIRONMENT

N/A
##### SUMMARY

`with_sequence` sets item to a series of unicode values instead of integer values. This makes it impossible to do arithmetic with them.
##### STEPS TO REPRODUCE

This fails:

[code]

This works:

[code]

##### EXPECTED RESULTS

[2016-10-01 19:05] jhawkesworth commented on #16858
@arunjohn can you retry using ansible_password ? I think @jborean93 is correct, so this should fix your problem.

needs_info

[2016-10-01 19:34] geerlingguy commented on #15342
I noticed that in 2.1.2 there's now a huge list of (by default) statically included files at the beginning of a playbook run (I don't recall seeing it in 2.1.1). Is there any way to ignore / not print that? And couldn't fairly substantial UX changes like that be made in minor releases and not patch?

[2016-10-01 20:19] dj-wasabi opened #17853 "apt_key: key does not seem to have been added. While the ID looks correct."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

apt_key
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Executing Ansible on CentOS, running playbook against Debian.
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Key is added.
##### ACTUAL RESULTS

[code]

Strange thing, when using the id `79EA5ED4` it works?
(Or am I missing something?)

[2016-10-01 20:20] #17853 closed, assigned to nobody

[2016-10-02 00:30] jborean93 opened #17854 "Windows facts not gathered during check mode"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Host fact gathering for Windows
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing custom
##### OS / ENVIRONMENT

Running: Bash for Ubuntu on Windows
Managing: Windows Server 2012 R2
##### SUMMARY

When running a playbook in --check mode facts about the host is not gathered like it would with unix hosts in check mode.
##### STEPS TO REPRO

[2016-10-02 06:07] #17258 closed, assigned to jimi-c

[2016-10-02 09:37] resmo opened #17855 "handler: mixing notify listen and name behavior changed"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

handler
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

In the first implementation of listen (see ca6ee4c78980707a6ff83176d0e019a9b0ef052f but use 17447ff for tests) it was defined that if there are identical handler names and listen names, notifying a name has prio and listen would be ignored (

[2016-10-02 10:15] jlec commented on #17805
if the `[]` is really meant as python list slicing and not logical ranges, then using groups makes more sense. But to me this seems to be a quite convenient feature having logical ranges.

[2016-10-02 13:34] jimi-c commented on #17258
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-10-02 13:49] thorian93 commented on #13278
To give a heads up:
My environment:

[code]

I ran a playbook containing some roles against a local VM. Without a conscious  change suddenly I got that timeout error mentioned above. I first tried a solution @vutoff mentioned in [this comment](https://github.com/ansible/ansible/issues/13278#issuecomment-194349084), which seems to work for me. Currently I am following [this comment](https://github.

[2016-10-02 14:27] unai-ttxu commented on #17832
@jctanner To test it, I use the following [docker container image](https://hub.docker.com/r/unaittxu/ansible/) where the image is build from the CentOS 7 one. Python 3.4.3 is installed using pyenv. Also ansible has been installed using pip `pip install git+git://github.com/ansible/ansible.git@devel`. No ansible.cfg is created within /etc/ansible, so ansible is using defaults configuration file.

@

[2016-10-02 15:18] nitzmahone commented on #17035
Should be fixed in devel and 2.2 RC1 by https://github.com/ansible/ansible-modules-core/pull/5107.

[2016-10-02 15:18] #17035 closed, assigned to nitzmahone

[2016-10-02 19:03] #17441 closed, assigned to privateip, Qalthos

[2016-10-02 20:17] ichundu commented on #15357
I doesn't seem to do the trick for me. I it is still using external ip address even though i have set  `inventory_ip_type = internal` inside gce.ini file

I'm running:
`ansible all -i gce.py -m ping -vvv`

and i see its still connecting through the external ip address

[2016-10-02 20:47] Thermi opened #17862 "ansible-playbook prints out wrong error message and does not honor -u centos or --private-key"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

ansible-playbook prints out a wrong error message.
It also does not honor the -u switch, although it is mentioned on the man page for `ansible-playbook`:

[code]

The SSH key that is specified with --private-key does not seem t

[2016-10-02 21:55] #17832 closed, assigned to abadger

[2016-10-02 22:18] abadger commented on #17832
@unai-ttxu Okay, I think that #17860, now merged to devel, should fix this.  I started off with just the simple fix of making sure those particular strings were both byte type but then ended up making a bunch of cleanups so that all of the arguments that we're building up are byte type... Saves from having to call to_bytes() on every argument at the end of the function.

If you find it doesn't fix

[2016-10-02 23:15] AnthonyWC opened #17865 "[Feature Request] Ability to suppress output detail when using with_items with registered variable in ansible-playbook"
##### ISSUE TYPE
- Feature Idea

SUMMARY

Currently when using with_items + registered variable during ansible-playbook command would result in displaying the item value in question.  When using this in combination with either debug message or fail message module result in very unclear output as the latter module message is jumbled up with the rest of the register variable value.  This almost defe

[2016-10-03 02:45] bcoca commented on #15706
fixed via 9ec69ee7eaf6386e0931a7826cc413f128554d89

[2016-10-03 02:45] #15706 closed, assigned to alikins

[2016-10-03 02:53] bcoca commented on #17213
fixed via 7bdeaac18f1418cb67034e30606dd93c7d498929

[2016-10-03 02:53] #17213 closed, assigned to alikins, bcoca

[2016-10-03 03:26] bcoca commented on #17852
This should do what you want:

`- debug: msg="hello {{10+item|int}}"`

Im not sure sequence should return an int as the most common use case is to create cloud servers and append the sequence to the name:

`cloud: name="{{ 'stuff_' + item}}"`

[2016-10-03 04:04] bcoca commented on #17865
You can use `loop_control` and label to set the item to something more readable.

http://docs.ansible.com/ansible/playbooks_loops.html#loop-control

[2016-10-03 04:19] bcoca commented on #17862
do you have ansible_user or ansible_ssh_user set for that host?

[2016-10-03 04:20] bcoca commented on #17805
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Ranges in hostnames ( [1:3] ) are allowed in the inventory but are not part of host patterns which is what --limit takes (same as hosts:  in play).

In the fut

[2016-10-03 04:20] #17805 closed, assigned to nobody

[2016-10-03 05:16] abadger commented on #17308
@mattclay Do you have some thoughts on the above 4 possible solutions?

[2016-10-03 06:17] candlerb commented on #17852
Yes, that works, thank you.

Since the documentation section is headed "[Looping over Integer Sequences](http://docs.ansible.com/ansible/playbooks_loops.html#looping-over-integer-sequences)" I was surprised to get strings rather than integers.

You provide this use case:

This could alternatively be done as:

[code]

which actually is the approach used in the documentation example:

[code]

...rat

[2016-10-03 07:02] unai-ttxu commented on #17832
@abadger Tested and it is working perfect! Thanks for the quickness!

[2016-10-03 07:13] jhawkesworth commented on #17852
Interesting discussion. Its tricky to know where to document this exactly.  I believe its really jinja2 that 'wants' to output strings by default, so this is going to be true throught playbooks and templates.  I guess in the context of jinja2's origins (as a templating engine for generating html) it makes sense to output strings by default.

I hit something like your issue a little while back and

[2016-10-03 07:26] candlerb commented on #17852
Only in the sense that `{{ item }}` is a string. This expansion works if `item` is either an integer or a string. There is no requirement for `item` itself to be a string.

What I'm actually doing is building IP addresses: e.g. `10.10.0.{{220 + item}}`; I don't want `10.10.0.22{{item}}` because that only works up to 9.

I use arithmetic inside a jinja2 expansion quite a lot.

I think this behaviou

[2016-10-03 08:53] fallencliff opened #17867 "ansible su prompt issue"
##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

play_context.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

control machine: redhat7
targetmachine: SUSE Linux Enterprise Server 11 (x86_64), LANG=zh_CN.UTF-8
##### SUMMARY

Timeout (32s) waiting for privilege escalation prompt:
##### STEPS TO REPRODUCE

ansible host1  -m raw -a 'uname -a' -u foo -b --become-meth

[2016-10-03 10:28] toby-griffiths commented on #17769
@bcoca Thanks.  I'll add it to my todo list for when I can find time.  And thanks again for taking the time to advise.

As a side thought… if the conditions get applied to all the tasks in the included file, could this be improved by checking this condition first, before those on the tasks, so that the 'is defined' is checked first, to avoid these errors?

[2016-10-03 10:37] nhooey commented on #15706
The change just adds the hostname or IP. It doesn't state the reason for the failed connection, which was the whole point of this issue.

[2016-10-03 10:40] nhooey commented on #15706
Nevermind, I jumped the gun.

[2016-10-03 11:28] ankurkgupta commented on #11326
@bcoca is there any workaround to have a global variable that can be used for specifying hosts filter?

[2016-10-03 11:29] cadavre opened #17869 "Valid SSH connection fails after Ansible update 2.1.1.0 -> 2.1.2.0"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

After update from 2.1.1.0 to 2.1.2.0 Setup task cannot complete due to `Unreachable` error.
##### STEPS TO REPRODUCE

[code]

[code]

[code]

##### EXPECTED RESULTS

Print from `ls`.
##### ACTUAL RESULTS

[code]

Due to bug with no S

[2016-10-03 11:59] gnosek commented on #16391
Has this been released/backported to 2.1.x? I'm running fresh 2.1.2.0-1ppa~trusty from the official PPA and still get MemoryError (understandable as the code is not fixed there).

In this particular install, I'd _really_ like to stick with the PPA.

[2016-10-03 12:17] cadavre commented on #17869
On the other hand:

[code]

[2016-10-03 12:24] cadavre commented on #17869
#17770 – this is the same case, but in here I don't use any custom SSH arguments.

[2016-10-03 12:25] cadavre commented on #17770
As described – it also affects 2.1.2.0.

[2016-10-03 12:40] jean commented on #10698
postgres needs `LANGUAGE` not `LANG`, so we still need hacks like https://github.com/andreychernih/railsbox/issues/29#issuecomment-176761625

[2016-10-03 12:45] #17770 closed, assigned to nobody

[2016-10-03 12:45] #17869 closed, assigned to nobody

[2016-10-03 12:57] cadavre commented on #17869
You sure about `49ce0c8` @bcoca ? I tried now generated `ssh command` and what I had was:

[code]

After manual creating `/root/.ansible/cp/ansible-ssh-jzapp.io-22-ubuntu` everything went fine.

[2016-10-03 13:37] grizmin commented on #11702
It seems the issue has not been fixed.

root@ansible:/etc/ansible/playbooks/javanodes[env: qa1]# ansible --version
ansible 2.2.0 (devel 15ee97d214) last updated 2016/10/03 13:05:00 (GMT +000)
  lib/ansible/modules/core: (detached HEAD 7de287237f) last updated 2016/07/17 11:35:06 (GMT +000)
  lib/ansible/modules/extras: (detached HEAD 68ca157f3b) last updated 2016/07/17 11:35:10 (GMT +000)
  config

[2016-10-03 13:38] ehiggs commented on #14655
A lot of these workarounds seem to fail when using `--start-at-task`. I'm not very experienced at Ansible but (ignorant comment incoming!)... wouldn't it make sense or the implicit setup/gather_facts task to be treated as special (as it's implicit and hence special already) and run as a distinct task before every job unless disabled either at the command line or in the first task being run?

[2016-10-03 14:02] grizmin commented on #16391
It has not been fixed anywhere.

root@ansible:/etc/ansible/playbooks/javanodes[env: qa1]# ansible --version
ansible 2.2.0 (devel 15ee97d214) last updated 2016/10/03 13:05:00 (GMT +000)
  lib/ansible/modules/core: (detached HEAD 7de287237f) last updated 2016/07/17 11:35:06 (GMT +000)
  lib/ansible/modules/extras: (detached HEAD 68ca157f3b) last updated 2016/07/17 11:35:10 (GMT +000)
  config file =

[2016-10-03 14:09] Thermi commented on #17862
It was set in the es-cluster.yml file. I did not know that the field there overrides the command line argument. Intuitively, the command line argument should override any such setting in a configuration file.
Still, with that fixed, the problem with the wrong error message remains.

[2016-10-03 14:10] hansbogert commented on #3489
Actually this hit me only recently. It was quite an ordeal to pinpoint it to this issue. How can I debug why my ansible (installed through macports) is not using SSH by default?

[2016-10-03 14:12] bcoca commented on #17862
ansible.cfg is the configuration file, which -u does override.

Connection variables are considered 'runtime' which overrides the command line and even play directives. This still does not seem like a bug but a configuration issue so I'm going to refer you to the lists/irc as this is not the place for debugging configuration issues.

[2016-10-03 14:12] bcoca commented on #17862
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-10-03 14:12] #17862 closed, assigned to nobody

[2016-10-03 14:18] smeijer commented on #17035
When I use ansible from a `git checkout` I can indeed use `os_server` together with `async` & `poll: 0`, whereas `ansible 2.1.2.0` failed.

Closes some issues for me. :+1:

[2016-10-03 14:18] bcoca commented on #17852
If you want to submit a pull request we'll be happy to review it

[2016-10-03 14:21] ghost opened #17871 "ipaddr('net') doesn't work with host address (only network)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ipaddr filter
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The ipaddr('net') filter doesn't return anything when given a host address. It only works for network addresses.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]
##### WORKAROUND

[code]

[2016-10-03 14:26] rawbertp commented on #15687
Note that the above mentioned commit is not in ansible-2.1.2.0-1!?

[2016-10-03 15:07] ghost opened #17872 "ipaddr('network') doesn't work with /32 addresses"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ipaddr filter
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The ipaddr('network') filter returns an empty string when given a /32 subnet.
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]
##### WORKAROUND

[code]

[2016-10-03 15:32] nitzmahone commented on #17854
fixed in devel for 2.2RC1, backported to stable-2.1

[2016-10-03 15:32] #17854 closed, assigned to nitzmahone

[2016-10-03 16:14] cadavre opened #17876 "Ansible is not creating proper directory structure in ~/.ansible"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04

[code]
##### SUMMARY

There is missing `~/.ansible/cp` directory. While executing `ssh` with `ControlPath` OpenSSH – no directory inside on `~/.ansible/cp/` can be created because of missing parent dir.
##### STEPS TO REPRODUCE

[code]

####

[2016-10-03 16:15] cherti opened #17877 "Ansible breaks backwards-compatibility when constructing paths for source files"
##### ISSUE TYPE
- Bug Report, Regression
##### COMPONENT NAME

tasks-execution, path-creation, to be observed at least in the `file`\- and `template`-module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Central ansible-folder changed to ~/.ansible
roles-folder configured to ~/.ansible/roles
##### OS / ENVIRONMENT

Linux, but most likely unrelated to OS
##### SUMMARY

`template: src=template/

[2016-10-03 16:21] kirtixs opened #17878 "delegate_to is not propagated properly"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

delegate_to
##### ANSIBLE VERSION

[code]
##### SUMMARY

When using `include` with `delegate_to`, `ansible_host` is set for the first level include, consecutive includes are ignored.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

PLAY [localhost] ***************************************************************

TASK [setup] *************

[2016-10-03 16:44] #16818 closed, assigned to nobody

[2016-10-03 18:27] gamuniz opened #17882 "Block and Rescue not failing properly with an include:"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Block and Rescue with includes
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Stock configuration file.
##### OS / ENVIRONMENT

cat os-release
NAME="Ubuntu"
VERSION="14.04.5 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 14.04.5 LTS"
VERSION_ID="14.04"
##### SUMMARY

When using an include: as the Rescue task, it fails but the

[2016-10-03 18:33] mukundhansuresh commented on #17845
Hi Jimi-c

Can you please let know if there are any fixes for this issue?

[2016-10-03 18:48] mazzystr commented on #13871
I got this to work.  Wasn't easy tho.

[code]

[2016-10-03 19:32] rootconsole commented on #17743
ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o ConnectTimeout=10 -o ControlPath=/Users/Tim/.ansible/cp/ansible-ssh-%h-%p-%r -tt asr9k-dlls.tlsn.net 'ping 8.8.8.8'
OpenSSH_6.9p1, LibreSSL 2.1.8
debug1: Reading configuration data /Users/Tim/.ssh/con

[2016-10-03 19:34] rootconsole commented on #17743
$ ssh -C -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o ConnectTimeout=10 -o ControlPath=/Users/Tim/.ansible/cp/ansible-ssh-%h-%p-%r -tt asr9k-dlls.tlsn.net 'ping 8.8.8.8'

Mon Oct  3 13:33:45.863 CST
Type escape sequence to abort.
Sending 5, 100-byte ICMP Ec

[2016-10-03 20:49] avatar4d opened #17887 "Local become_method variable not overriding global"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

become_method: will not override default when defined in playbook
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Stock configuration
##### OS / ENVIRONMENT

OS X 10.11.6
Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64
##### SUMMARY

I am attempting to make my Ansible playbook be OS agno

[2016-10-03 20:54] mattclay commented on #17308
@abadger I'm leaning towards using `PYTHONHASHSEED` so results from tests are more repeatable. The only downside I see is that doing so would prevent tests from detecting code which erroneously relies on the hash ordering.

[2016-10-03 21:54] diclophis commented on #17528
Our entire devops team has been extremely upset with the performance in the `2.1.1.0` version.

In our benchmarks, our playbook execution time has more than doubled... and the CPU load is un-acceptable in terms of being able to run more than 1/2 `ansible-playbook` processes at a given time.

[2016-10-03 22:12] theromis commented on #16048
[code]

not works for me

[code]

[2016-10-03 22:13] bcoca commented on #17887
The password prompt goes by the global config default or command line options, the password will be used for both sudo and doas, so what it displays at prompt won't be an issue with actually using it.

[2016-10-03 22:22] mferrier commented on #16010
:+1:

[2016-10-03 22:35] abadger commented on #17593
Thanks @dbayle.  i'll take a look and see if there's something we can do to mitigate that.

[2016-10-03 23:29] jbergstroem opened #17891 "with_first_found gets incorrectly traversed in static includes"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`with_first_found`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Irrelevant
##### OS / ENVIRONMENT

N/A
##### SUMMARY

If an include is skipped tasks within should also be skipped - but a task using `with_first_found` is still run.
##### STEPS TO REPRODUCE

parent.yml:

[code]

child.yml:

[code]
##### EXPECTED RESULTS

Task using `with_firs

[2016-10-03 23:36] bcoca commented on #17891
So the task itself is not executing, but the loop is, this cannot be short circuited through `when` as it runs per item in the loop, to allow for conditional execution of items.

As the message suggests, use the `skip` parameter to first found to avoid this error.

[2016-10-03 23:36] #17891 closed, assigned to bcoca

[2016-10-03 23:37] jbergstroem commented on #17891
(for the internets)

the "proper" way I solved this was by setting the include to dynamic, seeing how the task invoked a loop:

[code]

[2016-10-04 00:16] jamessewell commented on #12170
Cool idea.

Assumes that a task knows which hosts are running in it OR targets all hosts from the play.

If it's a task in a role (which could have been targeted at anything) this doesn't make sense.

You could make a temporary group, but then you can't run that task twice without targeting some hosts twice.

[2016-10-04 02:51] jbergstroem opened #17892 "service: enabled=yes broken on freebsd"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

service
##### ANSIBLE VERSION

[code]

(works in ansible 2.1.2, broken in 2.2)
##### CONFIGURATION

irrelevant
##### OS / ENVIRONMENT

Freebsd
##### SUMMARY

When enabling a service at boot-time (or runtime if you pass `start` to sysvinit) on freebsd
you need to have`$foo_enabled='YES'` in either `/etc/rc.conf` or `/usr/local/etc/rc.conf`.
Recent

[2016-10-04 03:04] avatar4d commented on #17887
I confirmed it is working now. Something wasn't configured right when I submitted the bug since it failed with a command not found, but everything seems fine with the following:

ansible.cfg:
become_method=doas

playbook:
vars_files: [ "roles/common/vars/{{ ansible_os_family }}.yml" ]

ansible_os_family.yml
become_method: sudo

task:
become_method: "{{ become_method }}"

[2016-10-04 03:04] #17887 closed, assigned to nobody

[2016-10-04 04:31] jimi-c commented on #17528
@diclophis have you tested out devel (now 2.2 RC1)? There have been a lot of improvements over 2.1.

[2016-10-04 05:22] abadger opened #17894 "Roles are being searched for directly in the playbook basedir"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

roles search path
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ANSIBLE_ROLES_PATH=/srv/ansible/troubleshooting/roles
##### OS / ENVIRONMENT

Fedora 23 to localhost
##### SUMMARY

Ansible roles are being looked for directly in the playbook_directory.  From documentation it seems like they should be looked for in playbook_directory/roles
####

[2016-10-04 05:39] tima commented on #17492
This should have been fixed with v2.2 by these two PRs.
- https://github.com/ansible/ansible/pull/16756
- https://github.com/ansible/ansible-modules-core/pull/4211

Please try it out to verify.

[2016-10-04 06:45] #17882 closed, assigned to jimi-c, bcoca

[2016-10-04 06:46] jimi-c commented on #17882
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release (2.2 and also cherry-picked to `stable-2.1` if there is another 2.1.x release).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
-

[2016-10-04 06:59] ciphernaut commented on #13086
This is relevant to newer version of ansible also

[2016-10-04 07:35] jbergstroem commented on #17892
perhaps worth mentioning that the target vm lacks `/etc/rc.local.conf` and `/usr/local/etc/rc.conf`.

[2016-10-04 11:58] simon-sinx17 opened #17895 "NameError: global name 'AnsibleError' is not defined"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

empty config file
##### OS / ENVIRONMENT

F25
##### SUMMARY

typo in playbook resulted in unhandled exception
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

error handling
##### ACTUAL RESULTS

[code]

[2016-10-04 12:35] resmo opened #17896 "[2.1.2] template and copy still uses old CWD"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible.cfg with an special config for a basion jump host.

[code]

playbooks and ssh.config are located in a subdir `playbooks/`
##### OS / ENVIRONMENT

N/A
##### SUMMARY

With e2f17f8d9b212b1e8d65c12a778d036753831ab6 the CWD changed to the location where the playbooks are located, in this case

[2016-10-04 12:52] problame commented on #17892
Cannot reproduce on stable-2.2.

Which version of FreeBSD are you using?

[2016-10-04 13:00] problame commented on #17892
Ah, I see. I think your test case is broken, @jbergstroem

`foobar` is not a service installed on your test system (and probably / hopefully not on any machine).

The FreeBSD-part of the module uses the `service <servicename> enabled` command to determine whether sysrc was successful in setting the rc.conf entry (see `core/system/service.py:1014` and following lines).

Hence, I would not consider

[2016-10-04 13:28] jbergstroem commented on #17892
@problame ..but I've installed the file prior -- let me expand the above test case to make that clear.
Also, the fact that this works in 2.1 but not 2.2 or 2.3 should also be taken into consideration.

[2016-10-04 13:31] jbergstroem commented on #17892
Also, not sure what you're saying with regards to `lineinfile`. The `service` module previously added the line to `/etc/rc.conf` (or any of the other config files). In fact, you can see the stubs still [being there](https://github.com/ansible/ansible-modules-core/blob/devel/system/service.py#L963).

Finally, the order at https://github.com/ansible/ansible-modules-core/blob/devel/system/service.py#

[2016-10-04 13:35] abadger commented on #16816
@allan-simon Were you able to reproduce and get more information?

needs_info

[2016-10-04 13:40] bcoca commented on #17892
iirc @jbergstroem  you reported this issue with the jenkins service, could it be that the jenkins package is not installing/updating the correct data for sysrc to work correctly?

@problame since this 'works' with previous versions, can we not make the code more flexible and let it deal with these cases?

[2016-10-04 13:43] jbergstroem commented on #17892
@bcoca: i just renamed jenkins to foobar above; unfortunate action but I chose to stick with it. I don't use the jenkins module.

Full example here:
- [playbook](https://github.com/jbergstroem/build/blob/feature/refactor-the-world/ansible/roles/jenkins-worker/tasks/main.yml#L14..L27)
- [template](https://github.com/jbergstroem/build/blob/feature/refactor-the-world/ansible/roles/jenkins-worker/temp

[2016-10-04 13:44] bcoca commented on #17896
dupe of #17770

[2016-10-04 13:46] bcoca commented on #17892
@jbergstroem I'm not that familiar with sysrc internals, my question was geared to find out of for some reason the jenkins package is not installing/updating some info that sysrc uses to know if a 'service is valid'.

[2016-10-04 13:46] jbergstroem commented on #17892
@bcoca: yeah, I figured -- just elaborated my comment to mention that I'm not using the jenkins module.

[2016-10-04 13:55] bcoca commented on #17892
whatever you are using, is it lacking some new requirement that sysrc needs to detect the service?

I have not been using FreeBSD regularly since 9 came out so I'm out of date with the changes .
The updates to service seem to rely on new behavior of the service manager, we need to identify if a) this new code assumes incorrect behavior and/or b) not all services have adapted to the new requirement

[2016-10-04 13:59] 2bithacker commented on #16938
Can you clarify what you mean by "next to"? Presently my inventory and my group_vars are directories at the same level of my ansible setup.

[code]

[2016-10-04 14:01] #17892 closed, assigned to bcoca

[2016-10-04 14:05] sivel commented on #16938
`group_vars` must be located beside your inventory **file** instead of the inventory directory.  Otherwise it must be located beside your playbook file.

There was a bug that would load `group_vars` from CWD instead of next to the inventory file or playbook file.  This was resolved in a 2.1 release.

[2016-10-04 14:06] dtolj commented on #12441
How can I filter the vmware inventory list by Guest OS?

[2016-10-04 14:08] 2bithacker commented on #16938
Huh, ok. Moved my `group_vars` directory inside my `inventory` directory and everything works fine now.

[2016-10-04 14:33] jctanner commented on #12441
@scatat that should have been resolved by a recent commit.

@dtolj please use the mailing list for usage based questions.

[2016-10-04 14:34] jctanner commented on #12441
I am locking the conversation on this issue. Please open new issues for any bugs you may find with the script and please use the mailing list for any user based questions you might have.

[2016-10-04 14:36] problame commented on #17892
@jbergstroem an rcvar for a typical service is `servicename_enable`. It is defined in the rc-script (`rcvar=`servicename_enable`), which may be named differently than`servicename`, e.g.`service-name`.

If you install an init script, `service <rcvar of service> enabled`, the status should be returned.

Glympsing at the rc. script you showed for jenkins, I don't see why `service jenkins enabled` wou

[2016-10-04 14:45] jbergstroem commented on #17892
@problame if I add the enabled manually it works just fine:

[code]

[2016-10-04 14:56] resmo commented on #17896
as the bug still exists with commit wihich resolves #17770

[code]

[2016-10-04 15:05] diefans commented on #17869
@bcoca regarding https://github.com/ansible/ansible/issues/14489 I think your patch level and version management is nearly insane and in now way predictable. Introducing this "bug" in a major version (1 -> 2) and not fixing it in two minor versions (2.0, 2.1) makes it quite a feature - now fixing it in a patch level (`pip install ansible==2.1.2`) is not comprehensible (see http://semver.org).

You

[2016-10-04 15:13] jbergstroem commented on #17892
(as in, the init script works as intended)

[2016-10-04 15:16] Freyja-Folkvangr commented on #15706
+1

[2016-10-04 15:17] belovanton commented on #17746
Any luck with that?

[2016-10-04 15:24] alikins commented on #17895
Fixed in a942758a0714c6176cc09a78562e9f3c62b2c8ff (https://github.com/ansible/ansible/pull/17259). That needs backport to 2.1

[2016-10-04 15:52] bcoca commented on #17895
pushed e72d1e995ff0414ba8fc1978507b13e733ad057c

[2016-10-04 16:09] jctanner opened #17899 "test issue for resolved by PR"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

testme plugin
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

test test test
##### STEPS TO REPRODUCE

N/A
##### EXPECTED RESULTS

N/A
##### ACTUAL RESULTS

N/A

[2016-10-04 16:11] jctanner commented on #17899
resolved_by_pr #17897

[2016-10-04 16:32] gundalow commented on #17899
resolved_by_pr #17897

[2016-10-04 16:33] bcoca commented on #16938
closing as per above

[2016-10-04 16:33] #16938 closed, assigned to nobody

[2016-10-04 17:15] ccoager commented on #16202
:+1:
Would like to see this implemented as well. Not having this severely limits functionality on Windows where UAC is mandatory.

Does anyone have a work around in the mean time?

[2016-10-04 17:56] akurach opened #17900 "osx error yaml syntax [only with git or pip]"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Can't run playbooks, it founds syntax error.
But if I install ansible from brew, or run it on unix host everything is ok.
Error:

[code]
##### STEPS TO REPRODUCE

Playbook:

[code]

error_file

[code]

##### EXPECTED RESULTS

##### ACTUAL RESU

[2016-10-04 18:29] abadger commented on #17593
Merged a fix to devel and stable-2.2 so that non-decodable chars in leading comments (a line that begins with a comment character) won't cause errors.  Also, bcoca made a change to error messages from parsing inventory that should make it more apparent where an error is coming from in the future.

[2016-10-04 18:33] #17899 closed, assigned to nobody

[2016-10-04 19:06] akurach commented on #17900
Founded that YAML doesn/t support TABs.
But why it works from brew?

[2016-10-04 19:19] Shreeraj1746 commented on #15439
This would be great as it would resolve issues like #10374

[2016-10-04 19:36] agaffney opened #17901 "Binary content gets mangled in a playbook"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`ansible-playbook` and Jinja2
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When trying to grab the content of a "binary" file and transfer it using Ansible, the content gets mangled. It appears as if this is due to UTF8-ification of the data.
##### STEPS TO REPRODUCE

Playbook:

[code]

Create

[2016-10-04 19:38] agaffney commented on #17901
Additionally, if i add the following task in the playbook, it appears to show the correct length when capturing the data.

[code]

Output:

[code]

[2016-10-04 19:39] ghost commented on #17901
Thanks @agaffney, I am also experiencing this issue and would be glad to test any proposed fixes.

[2016-10-04 19:43] sivel commented on #17901
I believe the problem is in the `copy` task.  When using `content`, the content gets placed into the built module and shipped to the remote side.  So it may be getting encoded when placed into `MODULE_COMPLEX_ARGS`

[2016-10-04 19:50] bcoca commented on #17848
So after discusisng in IRC we all agreed that a missing handler should by default be an error, as such this is not a bug.

In any case I added PR #17902 to allow a user to toggle into a warning for those that have that preference.

[2016-10-04 19:50] #17848 closed, assigned to resmo

[2016-10-04 19:54] problame commented on #17892
Skimming through the code, I recognize https://github.com/ansible/ansible-modules-core/blob/devel/system/service.py#L1001 shoudl be using `stdout=current_rcconf_value`.
Currently, it is using the stdout of the previous `service(8)` invocation in https://github.com/ansible/ansible-modules-core/blob/devel/system/service.py#L974
This is a bug and should be fixed.

Again: what version of FreeBSD are y

[2016-10-04 20:02] bcoca commented on #17901
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `content` option in `copy` and any templating has to convert into unicode as this is a jinja2 requirement. As such we don't support binary data in the temp

[2016-10-04 20:02] #17901 closed, assigned to nobody

[2016-10-04 20:05] agaffney commented on #17901
Using the local files was only a simple test case. The original problem came from transferring a binary file from one remote host to another, where `src` won't work.

[2016-10-04 20:06] bcoca commented on #17901
^ which is why i pointed at `fetch`

[2016-10-04 20:06] jbergstroem commented on #17892
@problame: 10.1-RELEASE-p13 on one host and 10.3-RELEASE-p0 on the other.

`ansible_user` is `freebsd` but I [sudo up for all commands](https://github.com/jbergstroem/build/blob/feature/refactor-the-world/ansible/plugins/inventory/nodejs_yaml.py#L127..L129).

I just ran ansible 2.1 against FREEBSD-11. Works fine:

[code]

[code]

..then removed above line and tried with the devel branch as of toda

[2016-10-04 20:09] agaffney commented on #17901
If the answer if that the UTF8-ification is unavoidable and this just can't work, I can accept that. I blame @bwlz, as she was the one that originally ran into this problem. I only created the issue because I already had created a small test-case to reproduce it.

[2016-10-04 20:14] bcoca commented on #17901
As long as you avoid putting the data in a results object or module option directly, you can deal with binary, but not otherwise. `copy` and `fetch` can just copy the data w/o looking at it.

There is really not much reason to modify/inspect binary data inside the play, so this is a limitation of Ansible, but one that seems reasonable to me (Ansible is not a proper ELF loader nor should be used fo

[2016-10-04 20:23] bcoca commented on #17846
talked in IRC and still need to decide if 'listen' handlers have to obey the 'unique name' restriction 'name' handlers have.

[2016-10-04 20:40] aoyawale commented on #15022
getting this issue too. Using centos 7.x and installed ansible from yum.

[2016-10-04 20:44] ghost commented on #17901
These are all fair limitations. For reference, the use case was copying a FreeIPA replica file generated by the `ipa-replica-prepare` command from the original first master to the replica being created. I am currently in the process of figuring out the correct `synchronize` incantation to use for this - thanks to all involved for taking the time to review this.

[2016-10-04 20:57] msheiny commented on #14413
The `local_action` following the `shell` reboot always skips for me. A peek at the `-vvv` output only indicates that it was skipped because of a conditional. Anyone else experiencing this? I can open a new ticket if its seemingly un-related.

[2016-10-05 00:31] yee379 opened #17904 "cannot become with rhel6: Timeout (12s) waiting for privilege escalation prompt"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

remote_tmp     = /tmp/.ansible/tmp
local_tmp    = /tmp/.ansible/tmp
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
##### OS / ENVIRONMENT

from rhel6 to rhel6
##### SUMMARY

i cannot run `become`, always end up with a `Timeout (12s) waiting for privilege escalation prompt`.
##### STEPS TO REPRODUCE

this works fine:

[co

[2016-10-05 00:53] danktec commented on #17495
I received errors with various versions of docker-compose and docker-py, in the end i settled on
docker-compose(1.8.1) and docker-py(1.7.0) on my client. No more errors and my docker-compose.yml is being consumed properly. Ansible version is 2.1.2.0

[2016-10-05 00:53] rouge8 opened #17905 "ansible-playbook reports host unreachable while 'ansible -m ping' can connect"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OS X 10.11.6
##### SUMMARY

`ansible-playbook` reports the host is unreachable during the `setup` phase, but I can connect to the host with `ansible -m ping`.
##### STEPS TO REPRODUCE

To reproduce: `ansible -m ping prod` vs `ansible-playbook ansible/site.yml -l pro

[2016-10-05 00:59] rouge8 commented on #17905
Reverting to 2.1.1.0 fixes this for me (see #17869)

[2016-10-05 06:30] jimi-c commented on #17894
# Closing This Ticket

Hi!

We believe the commit 0a86ddc25125359c244ac7040036a5080dd5bb04 should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansi

[2016-10-05 06:30] #17894 closed, assigned to jimi-c

[2016-10-05 06:31] jimi-c commented on #17882
Ignore the above, was supposed to reference #17894 in that commit.

[2016-10-05 08:36] bartfeenstra commented on #16039
I ran into this problem as well. After trying @Qalthos's patch on 2.1, I got to see the root error message (`~/.netrc` having too liberal file permissions).

I see this was fixed in 2.2 in early June. Thanks!

[2016-10-05 08:51] Shaps commented on #17900
TABs are ok for YAML, as long as you _only_ have TABs, if you mix TABs with SPACEs then you get an error

[2016-10-05 08:55] akurach commented on #17900
but why it was working earlier?
We didnt change this file since it was created.

[2016-10-05 08:58] candlerb opened #17906 "Infinite loop when trying to override an undefined variable with a default"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

Variable expansion
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY
##### STEPS TO REPRODUCE

[code]

Same problem with:

[code]
##### EXPECTED RESULTS

`ansible-playbook ert.yml`
:   expected "got abc"

`ansible-playbook ert.yml - foo=""`
:   expected "got " (since extra-vars override absolutely ev

[2016-10-05 09:09] jhawkesworth commented on #16202
@tim-seoss - I think the issue you are describing is a 'second hop' issue.  There's one authentication hop from ansible to your target windows machine, and a second hop from the target machine to the network share.  The only way round this right now is using kerberos with auth delegation enabled.

@ccoager - I believe UAC doesn't apply for privileged accounts (e.g. local administrators) over winrm

[2016-10-05 09:16] akurach commented on #17900
fixing by changed in all files tab to spaces...

[2016-10-05 09:16] #17900 closed, assigned to nobody

[2016-10-05 09:18] Shaps commented on #17900
I'm not sure why ( and if ) the 'brew' version works, they should be the same.

[2016-10-05 09:21] dagwieers commented on #16202
@jhawkesworth But most modules don't work for modifying user-accounts (i.e. modifying registry settings for specific users, mapping disks for users with credentials, etc.). Especially if you're managing desktops the lack of become_method for Windows is severely limiting what we can do.

[2016-10-05 09:45] problame commented on #17892
I cannot think of a scenario where this happens.

Just to be clear, a reproducer for your behavior would be something like this:

[code]

Correct?

[2016-10-05 10:33] ahrib commented on #13401
thanks all, workaround corrects issue for me too

Ansible 2.1.2.0

[2016-10-05 11:38] h0nIg opened #17907 "with_fileglob not working with glob in path / absolute path"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

with_fileglob lookup
##### ANSIBLE VERSION

2.2.0 rc1
on 2.0 / 2.1 it works
##### CONFIGURATION

nothing changed
##### OS / ENVIRONMENT

ubuntu 14.04
##### SUMMARY

with_fileglob lookup does not work with glob in path / absolute path
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

with_fileglob should respect glob in path / absolute path

[2016-10-05 11:42] davidak commented on #17812
So can you fix that bug, that `ansible` also looks in `group_vars` (and `host_vars`)?

[2016-10-05 11:46] jhawkesworth commented on #16202
@dagwieers I'm not saying this isn't needed, just that there are ways around some of this stuff.
If you are happy passing credentials as module parameters and using powershell, you can do some things that require other user credentials.  From memory win_package does this, although perhaps not the best module to look at as its mostly generated from a dsc resource.

[2016-10-05 11:49] mavit opened #17908 "Solaris user's home directory must be readable for become_user to work with pipelining enabled"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`become`
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Solaris.
##### SUMMARY

Directive `become_user` fails when the sudo user can't read the home directory of the ssh user.
##### STEPS TO REPRODUCE

[code]

[code]
##### EXPECTED RESULTS

The command should be run as the `become_user` user.  This worked fine in 2.1.
##### ACTUAL RESULTS

[2016-10-05 11:59] mavit commented on #16215
Additionally, `become_user` is not taken into account.  This also affects 2.2-rc1.

[2016-10-05 12:56] jbergstroem commented on #17892
Figured it out. First, lets acknowledge that the init script is "special":

[code]

The problem is that calling `sysrc -n` will always return non-zero for services that doesn't have a default value set:

[code]

So, I would still argue that this is a bug. We [can't rely on `sysctl -n` to get current value](https://github.com/ansible/ansible-modules-core/blob/devel/system/service.py#L999). Since we

[2016-10-05 14:05] bcoca commented on #17908
There is not much we can do in this case, but you can set the remote temp to a shared dir (normally /tmp or /var/tmp).

[2016-10-05 14:07] bcoca commented on #17812
not a bug, `ansible` will look in those dirs if they are adjacent to the inventory.

`ansible-playbook` also looks in those if adjacent to the playbook,  `ansible` does not have a playbook.

[2016-10-05 14:33] chetan commented on #5317
Not sure why this would be such a massive change. Can't we just do:

[code]

Even better would be the use of a marker as mentioned at the top of this issue.

[2016-10-05 14:52] silviot commented on #14219
I'm running into this with the latest [devel](/ansible/ansible/tree/devel) branch, currently at b233f3ed3c7eb409af344474edb486cd44666d87.
Using @andreyshestakov's playbook I get:

[code]

while with the latest release (2.1.2.0) I get:

[code]

[2016-10-05 15:13] meetmatt commented on #14137
Having a variation of mentioned issue.

Controller: Ubuntu 16.04
Target: CentOS 7.2
Ansible: 2.1.1.0

The difference is that in my case users always get ownership of the home dir set to UID 1000. GID is correct however. Also user's mail directory `/var/spool/mail/{user}` has the same wrong UID also.
I suppose that the issue is with `uid: {{ var | default(omit) }}`.

I am using https://galaxy.ansib

[2016-10-05 15:13] davidak commented on #17812
Ah, now i understand.

Moving `group_vars` and `host_vars` into `inventory/` solves it.

Thanks!

[2016-10-05 15:13] #17812 closed, assigned to nobody

[2016-10-05 15:30] Sispheor commented on #17495
+1 !!
`"Error: docker-py version is 1.10.3. Minimum version required is 1.7.0."}`

On Ubuntu 16.04

[code]

Edit: same with 2.1.2.0

[2016-10-05 15:53] discovery-ansible opened #17911 "Values of environment variables are unconditionally output in verbose logs, even when no_log: true"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

no_log

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Using Ansible Tower
##### OS / ENVIRONMENT

Ubuntu 14.04.4
##### SUMMARY

I want to run some commands using the AWS CLI (in my particular case, creating new access keys for a user and encrypting them).  I am storing the AWS Access Keys Ansible will use to use the CLI in a Vault file and

[2016-10-05 16:21] quater commented on #14372
While preparing to upgrade from 1.9.4 to 2.1.1, I also run into this error. Are there any short term plans to fix this?

[2016-10-05 16:45] stephen-164 commented on #17911
Sorry, raised this using the wrong account...  :-(

[2016-10-05 17:03] fiunchinho commented on #14372
It's been sitting here since February 😢

[2016-10-05 17:25] elventear commented on #17869
@bcoca Can we expect a `2.1.2.1` release soon?

[2016-10-05 17:28] elventear commented on #16845
It seems that with the latest release of `2.1.2.0`, this issue has surfaced on the stable branch, I have experienced it after upgrading and #17869 seems to sum up what is the problem. I hope this issue on `2.2` is also caused by the same problem.

[2016-10-05 18:09] pshchelo commented on #17528
@jimi-c 2.2 RC1 is even worse.

executing a simple playbook that presumably does nothing eats one entire core on my Core i5:

[code]

devel is the same. On released 2.1.2.0 from PyPI I get about 9% CPU (which is still too much for doing nothing IMO, but way better than 2.2 RC1).

I tend to blame the code in base strategy plugin (and thus default linear strategy), as switching to `strategy: free` r

[2016-10-05 18:17] snemir2 opened #17912 "rescue not called after fail..."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

block/rescue does not act as expected...
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have the following in my tasks/main.yml
- name: FAIL IF STATE IS NOT HEALTHY
  fail: msg="{{inventory_hostname}} is not in HEALTHY state"
  when: HDP_host_state != "HEALTHY"
- debug:  msg="{{inventory_hostname}} is

[2016-10-05 18:33] bcoca commented on #14372
This looks like 1.9 was ignoring an error, try this:

[code]

[2016-10-05 18:56] ccoager commented on #16202
@dagwieers
UAC can apply to administrators. There are separate policies for regular users vs. administrators. I haven't tried the registry setting yet, does that require a reboot?

[2016-10-05 19:50] sqldiablo commented on #17758
I had this exact issue as well, and after applying the changes to pywinrm and adding the ansible_winrm_service option, it's working now. Thanks, ccoager. The sooner we can get this baked into pywinrm and ansible, the better. :-)

Worth noting, I'm using the HOST option for all of my Windows boxes now, and so far it's working without issue for all of the various OS versions, etc.

[2016-10-05 19:52] jimi-c commented on #17912
@snemir2 do you have `-` in front of rescue and always in your actual main.yml? If so, that's the problem - you're essentially creating new blocks with each one of those. Your block should look like this:

<pre>
- block:
  - name: FAIL IF STATE IS NOT HEALTHY
    fail: msg="{{inventory_hostname}} is not in HEALTHY state"
    when: HDP_host_state != "HEALTHY"
  - debug:  msg="{{inventory_hostname}}

[2016-10-05 19:52] #17912 closed, assigned to nobody

[2016-10-05 20:00] snemir2 commented on #17912
thanks, will give that a try! Perhaps, docs need to be updated?   the examples shown only show within tasks block,  not within roles..

[2016-10-05 20:08] jimi-c commented on #17528
@pshchelo this seems to address it:

<pre>
diff --git a/lib/ansible/plugins/strategy/__init__.py b/lib/ansible/plugins/strategy/__init__.py
index 02610e4..57fc83b 100644
--- a/lib/ansible/plugins/strategy/__init__.py
+++ b/lib/ansible/plugins/strategy/__init__.py
@@ -533,6 +535,8 @@ class StrategyBase:

             results = self._process_pending_results(iterator)
             ret_results.extend(

[2016-10-05 20:17] wkoszek commented on #11068
@jalbstmeijer Not sure why this is opened, since with the current official `route53_zone` module I am able to create/delete zone records, i.e.: my domain is `domain.com` and I can make `some.domain.com` just fine in Route 53. I use it for testing in fact, before I apply the playbook to the production domain.

[2016-10-05 20:17] wkoszek commented on #11068
@bennojoy @jimi-c I believe we can close this issue, unless I misunderstood it.

[2016-10-05 20:31] grgi opened #17913 "safe_eval() warning for variables containing curly braces and Jinja2 expressions"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`template/safe_eval`
##### ANSIBLE VERSION

[code]
##### SUMMARY

There is a strange `safe_eval()` warning if one wants to template a string containing Jinja2 expressions and curly braces. Even escaping the curly braces like `{{ '{}' }}` does not help.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

Apart from the warning the expected re

[2016-10-05 20:40] fidelperez commented on #6854
I'm having the same issue on 2.1.0.0

[2016-10-05 20:57] mfriedenhagen commented on #14219
Hello, I still get a very big difference when pinging 142 hosts (From MacOSX 10.11.6 "El Capitan", Python 2.7.10):

**1.9.6**
ansible -i production all -m ping -o -f20 > /dev/null
        5.38 real         3.96 user         2.51 sys

**2.1.2.0**
ansible -i production all -m ping -o -f20 > /dev/null
        8.45 real        14.73 user         9.59 sys

As can be seen not only real time is up but 2.

[2016-10-05 21:00] thiagomgo commented on #17905
I'm facing the same issue, but only after execute `ansible <host> -m ping` I can run the playbook smoothly.

[2016-10-05 21:07] problame commented on #17892
Ugh, I didn't know `sysrc` is trying to be _smart_.

I left the `rcconf_key` parsing code untouched, hoping I would not break backward compatibilty.

However, my opinion is that the rc script is broken, you would need to [load rc config](https://github.com/jbergstroem/build/blob/feature/refactor-the-world/ansible/roles/jenkins-worker/templates/freebsd-sysinit.initd.j2#L77) before [setting the defa

[2016-10-05 21:14] lassizci opened #17914 "Merge ansible config files"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

ansible.cfg
##### SUMMARY

Merge configurations instead of using the first configuration found.

I think it would be helpful if ansible merged the configuation files instead of just using the first one it finds. This would allow to have a repo specific configurations while allowing people to keep their local settings such as forks or ssh option

[2016-10-05 21:31] derekmahar commented on #16922
I encountered this issue in Ansible 2.3.0 on branch "devel":

[code]

My case is very similar to that which @kevinburke reported.  Ansible invokes each handler, but doesn't interpolate the variable in the handler name.

Version details:

[code]

[2016-10-05 21:38] geerlingguy commented on #13570
@bcoca Note that since it seems broken in pip in Ubuntu 14.04, users of the Linux Subsystem in Win10 will run into this (see: http://www.jeffgeerling.com/blog/2016/using-ansible-through-windows-10s-subsystem-linux).

[2016-10-05 21:39] derekmahar commented on #15713
I encountered this issue in Ansible 2.3.0 branch "devel":

[code]

See [similar case](https://github.com/ansible/ansible/issues/16922#issuecomment-251805585).

[2016-10-05 21:41] derekmahar commented on #15713
Same issue with Ansible 2.2.0.0:

[code]

[2016-10-05 21:44] derekmahar commented on #15713
Same issue with Ansible 2.1.2.0:

[code]

[2016-10-05 21:49] derekmahar commented on #16922
Related to #15713.

[2016-10-05 22:12] jbergstroem commented on #17892
Ahhhh. I assumed sysrc didn't source all scripts -- rather just read the default config. Cool.

I guess the question with regards to change in behavior is still something that needs to be taken into consideration?

[2016-10-05 23:16] problame commented on #17892
Any valid rc file that contains a variable (`${name}_enable` is a variable, too) should follow the guidelines from the [official FreeBSD documentation](https://www.freebsd.org/doc/en_US.ISO8859-1/articles/rc-scripting/article.html#rcng-confdummy-loadconfig) and hence not pose a problem.

I think using sysrc is still better than a regression to the situation before.
I don't see an immediate workaro

[2016-10-05 23:18] jbergstroem commented on #17892
Ok, fair enough. I believe we've exhausted all open questions/issues then. Thanks for staying with me.

[2016-10-06 00:31] sochoa commented on #17495
Why not do something like this?

[code]

That comparison works:

`/usr/lib/python2.7/dist-packages/ansible/module_utils/docker_common.py`

[code]

[2016-10-06 05:02] jaccoh commented on #17495
LooseVersion works fine. It's just that this single line patch wasn't committed to 2.1 branch ..

[2016-10-06 06:28] pshchelo commented on #17528
@jimi-c my pleasure. With the above fix and the same synthetic "do nothing" playbook now I get about 3% CPU load. Will the fix be backported to stable-2.2?

[2016-10-06 08:56] bitbauer opened #17917 "Wrong doc "Installing Multiple Roles From Multiple Files""
##### ISSUE TYPE
- Documentation Report
##### COMPONENT NAME

ansible-galaxy / install requirements / include
##### ANSIBLE VERSION

ansible 2.1.2.0
  config file = /vagrant/provision/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Running ansible-galaxy at Ubuntu 14.04.5 LTS
##### SUMMARY

When calling ansible-galaxy

[2016-10-06 09:50] Sispheor commented on #17495
@sochoa It works with your fix. I've updated the file manually.
I'll keep an eye on this issue for an official patch.

[2016-10-06 10:43] mavit commented on #17908
Setting `remote_tmp = /tmp` in `ansible.cfg` doesn't help.

I'm probably naïve to some horrible corner cases, but the following hack seems to work for me:

[code]

I should add that this failure is particular to when pipelining is enabled.  If I disable pipelining I hit a different failure, for which I'll log another bug.

[2016-10-06 11:36] aabdnn commented on #15769
Hey @jctanner @abadger @alikins @jimi-c @mckerrj  I have attempted to reproduce this bug. I arranged for our ENTIRE fleet of servers (over 500) to run ansible with ANSIBLE_DEBUG=1 and -vvvv. The servers ran with this setup for 15 days. Not a single one experienced this issue. We conjectured that it was some kind of race condition, that was not being triggered, probably because the debugging slowed

[2016-10-06 13:08] mmoleksf commented on #16956
HI all!

As I see that there has been quite a few issues with vars in general. I do also have one question here regarding this if someone could please help me out. I cannot get any answer from Ansible/Red Hat. We are looking into buying license for 1000+ servers and therefore you would expect to have some more support that 3 email a week and even trhis 3 emails do not answer your questions..ok sor

[2016-10-06 13:40] kustodian commented on #15342
@geerlingguy check out this pull request #17918.

[2016-10-06 13:45] jimi-c commented on #17528
Yes it will.

[2016-10-06 13:49] jimi-c commented on #17528
@pshchelo I'm going to set it to 0.001 (which it usually was in the past) to make sure there's no major impact in performance, which gives me about 8% usage in your test.

[2016-10-06 13:51] jimi-c commented on #17528
@pshchelo commited in both devel and stable-2.2 now.

[2016-10-06 13:54] jimi-c commented on #15769
@aabdnn thanks for the follow-up, this is definitely weird. Any chance you could test it with the 2.2 RC1? I'd expect a bug like this is most likely affecting the most recent version as well. If so, just use the stable-2.2 branch.

[2016-10-06 13:59] jimi-c commented on #15342
Merged #17918 (and CP'd to `stable-2.{1,2}`).

[2016-10-06 14:01] mavit opened #17919 "Can't become unprivileged user without pipelining on Solaris"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`become`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

`pipelining = False`
`remote_tmp = /var/tmp` or commented out.
##### OS / ENVIRONMENT

Solaris
##### SUMMARY

[Becoming an Unprivileged User](https://docs.ansible.com/ansible/become.html#becoming-an-unprivileged-user) discusses using POSIX ACLs when both the remote user and become user a

[2016-10-06 14:05] mavit commented on #17919
By the way, this isn't terribly bothersome for me, because I usually have pipelining enabled.  I only noticed it when investigating #17908.

[2016-10-06 14:09] jimi-c commented on #6309
@AdamBark that's interesting, that indicates the problem is more with the `put` call in the connection plugin rather than the `execute` call. So for those using pipelining mode, there generally won't be a `put` call done (which is probably why we haven't heard many reports of this).

[2016-10-06 14:16] aabdnn commented on #15769
Hi @jimi-c . In order to trigger the bug, I'd have to deploy 2.2 to all our servers (more than 500), because it happens randomly, and rarely. But I'm not so comfortable deploying 2.2 everywhere, because I don't know what things it might break. Do you have any other ideas?

[2016-10-06 14:19] jimi-c commented on #14145
@davidmnoriega that's because the output doesn't contain the string you're looking for, so the rc is being set to 1 by grep (and thus the failure).

[2016-10-06 14:21] jimi-c commented on #14145
@bcoca, can you check if this does in fact still affect 2.2?

[2016-10-06 14:22] jimi-c commented on #6912
@jjaone this is more of a question for the mailing list:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writing code

[2016-10-06 14:27] derekmahar commented on #16922
In my case, Ansible invokes the handlers, but doesn't resolve the variable references in the handler names.

[2016-10-06 14:58] mirskifa opened #17920 "vv() got an unexpected keyword argument 'color'"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ansible-playbook using statically included files
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Running ansible from the stable-2.1 branch fails after commit 6db31bb4c6f8b6338a38ae602d3b4f5ca8cbce5b was merged
##### STEPS TO REPRODUCE

1. Create playbook that uses include
2. clone ansible and use curren

[2016-10-06 15:01] andrewrothstein commented on #13652
Buggered by this with Ansible 2.1.1.0 on Ubuntu Xenial with Docker 1.12 and the overlay storage driver. Problem went away when I switched to the overlay2 storage driver.

[2016-10-06 15:11] bcoca commented on #17917
someone did propose adding includes, but that was never implemented, sorry, not sure how the docs got through.

[2016-10-06 15:13] jimi-c commented on #8919
This would seem to be a setup issue on the part of the user. Required packages need to be available in the chroot or virtualenv for Ansible to work correctly. I'm leaning towards closing this as not an issue.

[2016-10-06 15:29] bcoca commented on #14145
Yes, but I do not think this is a bug, its a issue with what is being executed, as per original ticket:
As me

[code]

as root

[code]

So it looks like a PATH issue, root has /sbin, I do not. Many things can trigger a failure here, the shell used, having PIPEFAIL set on bash, the user used, all can change the resulting RC.

Ansible just looks at that to determine the success/failure of a shell co

[2016-10-06 15:44] derekmahar opened #17922 "Ansible 2.3.0 (devel) and several earlier versions do not populate variables in handler names."
##### ISSUE TYPE
- Bug Report (same as #15713 and #14082)
##### COMPONENT NAME
- Handlers and variable interpolation
##### ANSIBLE VERSION

[code]

[code]

[code]

[code]

[code]

[code]
##### CONFIGURATION

No change.
##### OS / ENVIRONMENT
- Ansible manager: Lubuntu 16.04.1
- Ansible worker: Ubuntu Server 16.04.1
- Python 2.7.12
##### SUMMARY

Ansible 2.1.2.0, 2.1.1.0, and branches devel, stable

[2016-10-06 15:44] bcoca commented on #17908
soo .. `cd;` should take you to your home dir, which does not make much sense on why you get the error in the first place as that should already be your CWD.

I can only suppose that:
 a) sudo on Solaris requires a readable CWD (no clue why)
 b) your login is not putting you into your home directory by default

Can you confirm?

[2016-10-06 15:56] jimi-c commented on #17687
@odyssey4me that's probably named a little poorly, those are more like force settings. If set to true, it forces them to static, otherwise (when False) it uses the option as set on the task.

[2016-10-06 16:02] michaelsmoody commented on #14413
I can confirm this broke completely on 2.1 in our install. We had it working on 1.9 in the "1.9" way, upgraded Ansible to 2.1, modified the task to the "2.1" way, and it breaks every time.

[2016-10-06 16:04] jimi-c commented on #14145
I agree this seems to be environmental and not a bug. The fact that it's `20` vs. `0` is coincidental and I don't believe it's truncating the output.

[2016-10-06 16:13] #17895 closed, assigned to nobody

[2016-10-06 16:16] jimi-c commented on #16241
# Closing This Ticket

Hi!

This was fixed in 2.1.2.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for strategy,

[2016-10-06 16:16] #16241 closed, assigned to jimi-c

[2016-10-06 16:20] jimi-c commented on #13887
You can always try this by calling the `setup` module directly with `gather_facts: no`. If you also use ANSIBLE_KEEP_REMOTE_FILES=1 in your environment it will leave the setup code on the remote system, so you can execute it manually to see what might be happening.

[2016-10-06 16:49] snsb-seifert commented on #14145
When I wrote the ticket, I did not change anything in the environment. I just installed the 1.9 or 2.0 packet. (Gentoo, emerge). And the play was on the same remote machine without any changes on that environment. So if it is an environment issue, there must be a difference in how Ansible is interpreting the environments. I just switched yesterday from 1.9 to 2.2 but have not run my tests, yet.

[2016-10-06 17:20] nitzmahone opened #17925 "Allow endpoint override in azure_rm module utils"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

azure_rm_common.py
##### SUMMARY

The current definition of the azure_rm common module utils doesn't allow overriding the various built-in endpoints (auth, table/blob storage, service bus, etc). This will be necessary to allow connection to other Azure instances (eg, AzureChinaCloud, private Azure Stack instances).

The new Python SDK seems to

[2016-10-06 17:23] diclophis commented on #17528
I feel like adjusting this `sleep` timeout is largely placebo in terms of rooting out the real performance problem...

For example, see attached movie... it shows 1 python process (of the many spawned during a playbook execution) generating >20k unix system calls per second...

![python-making-thousands-of-system-calls-per-second](https://cloud.githubusercontent.com/assets/10122/19162841/63991ddc-

[2016-10-06 17:38] dcritch commented on #13190
I'd like to add my vote for this feature. For cases where you spin up quick test environments, it would be handy to have a nice shortcut to tear it all down. It would definitely get complicated with roles and all that though.

For now, I've created a simple python script that will reverse a self-contained playbook [here](https://github.com/dcritch/scripts/tree/master/ansible/reverse_playbook). Hop

[2016-10-06 17:39] milosgajdos opened #17926 "Ansible skips role includes"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- `include`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Run from: `OS X El Captain 10.11.6 (15G1004)`
Run on: `Centos 7.2.1511`
##### SUMMARY

When running an Ansible playbook, the playbook skips some included roles.
##### STEPS TO REPRODUCE

You can find the example playbook/role where I discovered this in th

[2016-10-06 17:54] bcoca commented on #17926
The gist does not provide enough information to see any error, nor where you call the  ansible-marathon nor nfs-server roles.

Please give as simple as possible reproducer that has the same symptoms, your current example is not only incomplete but very involved in debugging already.

[2016-10-06 18:05] pshchelo commented on #17528
@diclophis that's exactly what PR #16560 is doing - making this sleep interval configurable in ansible.cfg

[2016-10-06 18:27] milosgajdos commented on #17926
Ok, I figured core Ansible developers would be able to decode the symptoms of the bug from the gist and description.

Here is [hopefully] a better information -- note the only **task** in the included role is a debug message -- I hope this will make the issue easier to understand:

#### Playbok to be run

[code]

#### random-role role

[code]

### Actual output from the ansible-playbook run comman

[2016-10-06 18:31] abadger commented on #16638
2.1.2 is now out.  Going to close this as fixed in that version.  Thanks to everyone for reporting and testing!

[2016-10-06 18:31] #16638 closed, assigned to abadger

[2016-10-06 18:46] bcoca commented on #17926
I cannot reproduce with the simple example, for me it runs the tasks inside the role

play.yml

[code]

roles/test1/tasks/main.yml

[code]

output:

[code]

[2016-10-06 18:54] stevenmccord opened #17927 "Static Include Displayed in StdOut 2.2 (devel)"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
- stdout
##### ANSIBLE VERSION

[code]
##### SUMMARY

Per this discussion, it was suggested to put in an issue regarding static includes and to not show it with lowering the verbosity when you run the playbook
##### STEPS TO REPRODUCE

Have static includes in your playbook and then run the provisioning it will output a bunch of static includes int

[2016-10-06 19:33] thegreatjerboa commented on #16519
I ran into the same thing. And got the same output as @jayenashar. After seeing the permission error, I added `become: true` and it worked correctly.

[2016-10-06 19:40] alikins commented on #17308
change the template to use 'to_json(sort_keys=true)' and updating the expected foo.txt seems to fix the hash output comparison.

But I'm also seeing the 'fileglob' value in that template get expanded to a empty list and causing a fail.

(diff at https://gist.github.com/alikins/627f34d3fb18535347f502adec0d3e02)

[2016-10-06 19:49] alikins commented on #17308
I'm assuming I'm missing a cleanup step by running the tests from cli, but failure output after above changes:

[code]

plain diff output

[code]

output_dir ls

[code]

[2016-10-06 20:25] #17926 closed, assigned to nobody

[2016-10-06 21:15] juliakreger commented on #17920
Thank you @cinerama70!  Hopefully this, or a revert will merge soon to stable-2.1 so my CI jobs work again without me having to pin to a specific version.

[2016-10-07 06:52] parberge opened #17930 "Small documentation issue in several openstack modules"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

os_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Several of the Openstack os_\* modules (e.g http://docs.ansible.com/ansible/os_subnet_module.html) reports two different python versions as requirements:

[code]

Looking in module `os_subnet.py` I can see that it only has

[2016-10-07 09:04] jamesdh commented on #16956
@mmoleksf This is not related to the discussion at hand, and is not even an "issue" per se. Please take a look at the Ansible forum for support: https://groups.google.com/forum/#!forum/ansible-project

[2016-10-07 11:05] dmromanov opened #17932 "Ansible throws an exception if inventory file path contains non-ascii characters"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

core
##### ANSIBLE VERSION

`ansible 2.1.2.0`
##### CONFIGURATION

default
##### OS / ENVIRONMENT

Ubuntu 16.04
Python 2.7.12
##### SUMMARY

Ansible fails to load inventory file if path contains non-ascii characters and throws an exception.
Affects `ansible` and `ansible-playbook` commands.
##### STEPS TO REPRODUCE

Create an ansible project and

[2016-10-07 11:08] markusthoemmes commented on #17495
Facing the same issue. Any ETA on the official release this will be included in?

[2016-10-07 13:03] lukasged commented on #17495
I'm having the same issue, thought that it would be resolved in the 2.1.2 version, but it's still there. Will it be resolved in 2.2.0 ?

[2016-10-07 13:28] mavit commented on #17908
My understanding of what was happening here was loosely:
1. `sshd` accepts an incoming connection.
2. `sshd` switches user to `remote_user`, changes directory to `~remote_user/`, and starts a shell.
3. The shell starts `sudo`.
4. `sudo` switches user to `become_user`, does _not_ change directory, and starts `python`.
5. `python` tries to inspect its CWD, but fails because it lacks permission for `

[2016-10-07 13:34] jctanner commented on #17905
@rouge8 are you able to run this command successfully? ...

[code]

needs_info

[2016-10-07 13:51] jimi-c commented on #17905
@rouge8 I would also run `ansible -m setup -a filter=ansible_env prod` to make sure it's not something within the setup task itself.

[2016-10-07 14:49] kinvaris commented on #13262
Is there already a possible estimate for this feature? Thanks in advance! @bcoca

[2016-10-07 15:27] rdbisme commented on #15915
**Ansible Version**: 2.1.2.0
**OS:** Archlinux + virtualenv (Python 2.7.12)

**main.yml**

[code]

**handlers.yml**

[code]

`ansible-playbook main.yml` returns the mentioned error only at first run. If I run it a second time everything works correctly.

[2016-10-07 15:45] bcoca commented on #13262
The feature requires redesigning how blocks work, currently they are processed at 'play build time' and would require them to be dynamic.

Also the feature requires some developer WANTING to implement it, right now no one has stepped up.

Once we have a developer wanting and KNOWING how to implement it .. you can get a timeline.

[2016-10-07 15:52] rouge8 commented on #17905
@jctanner: yes, i can use that ssh command and connect to the host

@jimi-c yes, i can run adhoc ansible commands, including `ansible -m setup`.

[2016-10-07 15:58] pipern opened #17934 "azure_rm doesn't work if Service Principal doesn't have permission to perform 'Microsoft.Compute/register/action' over entire subscription"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`contrib/inventory/azure_rm.py`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The implementation of `azure_rm.py` calls `ResourceManagementClient.providers.register()`, but this seems necessary and causes it to fail if the Service Principal doesn't have any authorisations over the entire subscri

[2016-10-07 16:01] brk3 opened #17935 "Ansible SSH multiplexing unreliable, randomly fails setup"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

ansible-playbook  / SSH connection type
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No custom config present
##### OS / ENVIRONMENT

[code]
##### SUMMARY

I'm seeing random (but persistent) failures in ansible-playbook around the setup task failing due to what seems to be SSH multiplexing.

We run a playbook comprised of about 15 roles, ea

[2016-10-07 16:26] jeanpaulmanjarres-payulatam commented on #12086
+1 forks

[2016-10-07 17:00] #16995 closed, assigned to jimi-c

[2016-10-07 17:25] #16880 closed, assigned to nobody

[2016-10-07 17:32] #16837 closed, assigned to nobody

[2016-10-07 17:32] #16799 closed, assigned to nobody

[2016-10-07 17:32] #16784 closed, assigned to nobody

[2016-10-07 17:38] #15461 closed, assigned to nobody

[2016-10-07 19:51] logan2211 commented on #17093
Hi I have tested and it does seem fixed in devel. Thanks for the assistance.

[2016-10-07 19:51] #17093 closed, assigned to jimi-c

[2016-10-07 20:11] agaffney opened #17937 "set_*_if_different() functions in module_utils/basic.py show "old" attributes in diff for newly-created dirs"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

`module_utils`
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When using the `file` module (for example) to create a new directory/file, the "diff" output generated by the task shows "old" values for attributes such as the owner, group, and mode, which doesn't make sense for a newly created file.

[2016-10-07 20:26] filapinoaquino opened #17938 "ERROR! Missing target hosts with 2.2 RC1"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

Regression
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

CENTOS 7
##### SUMMARY

Inventory file is not recognized
##### STEPS TO REPRODUCE

[root@ny-nitools-003 tmp]# ansible-playbook -vvvv show.yml

[code]

##### EXPECTED RESULTS

[root@ny-nitools-003 tmp]# ansible-playbook -vvvv show.yml
Using /etc/ansible/ansible.