[2019-11-08 21:56] vkmellon commented on #51687
I have the same issue.
`fatal: [localhost]: FAILED! => changed=false
  msg: |-
    Terraform plan could not be created
    STDOUT: Refreshing Terraform state in-memory prior to plan...
    The refreshed state will be used to calculate this plan, but will not be
    persisted to local or remote state storage.

    data.vsphere_datacenter.dc: Refreshing state...
    data.vsphere_resource_pool.resour

[2019-11-08 22:10] felixfontein commented on #64555
Great!

It's not that simple. If we simply do that form version X on, version X will suddenly restart a lot of existing containers created with earlier versions.

What we *could* do is deprecate the current behavior of passing `None` if `network_mode` is not specified when `networks_cli_compatible` is `yes` and a non-empty list of networks is passed, and change behavior in four versions. The resul

[2019-11-08 22:21] LastCaress77 commented on #63891
gather_subset I believe is what you are looking for?

https://docs.ansible.com/ansible/latest/modules/setup_module.html

[2019-11-08 22:24] psehgal commented on #64117
Thanks for the update. This is very useful

Is there any chance this issue will be backported to Ansible 2.8 and 2.7?

[2019-11-08 23:21] hugocartwright commented on #64016
@telbizov @gtie Integration tests fail for me with @sivel 's suggestion. An extra flag required besides "not checksum"? Regardless, I am PRing it with some suggestions for progress.

The test failures seem to come from the following commit:
- https://github.com/ansible/ansible/commit/7d51cac3301fddf6a876b2f75057f432b0841f04#diff-db467d0b6402f54d9beb7ec4ae4b0c5d

@mscherer @pilou- Thanks

[2019-11-08 23:23] t1bur1an commented on #64062
I think this request will be possible only if someone rewrite module for multiprocessing work because for gathering all info for keys module make separated requests for getting policy, tags, metadata and grants. In my case for 9 keys in kms was made 46 api calls which consume all time of work this module. And all of this requests require key id for returning data and not support batch requests.
![

[2019-11-08 23:26] jhg03a opened #64625 "Add Filename and Line number to ansible_failed_task"
##### SUMMARY

I'd like to see variables added to ansible_failed_task which represent the filename and line of the task that failed.  This information is available inside the JUnit callback module already, but would be helpful to expose for better information in a rescue block notice.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible_failed_task

##### ADDITIONAL INFORMATION

The nam

[2019-11-08 23:52] jasongitmail commented on #51663
The bug seems related to using `update_cache: true` like @eff917 said.

I had to run `sudo mv /var/lib/dpkg/lock /var/lib/dpkg/lock.bak` to remove the lock, then Ansible proceeded successfully and apt-get also worked again on the server. Of course, you could also use: `sudo rm /var/lib/dpkg/lock`.

I had success with this, but still TBD whether this solves it consistently:
[code]

On Ubuntu 16. An

[2019-11-09 00:57] smemsh commented on #64469
@jelly

[2019-11-09 03:32] AlanCoding opened #64627 "Error using callback plugin syslog_json"
##### SUMMARY
The stdout callback plugin `syslog_json` looks like it is not updated for some changes in the base callback plugin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/callback/syslog_json.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
playbook

[code]

inventory

[code]

command

[code]

#####

[2019-11-09 03:37] AlanCoding opened #64628 "Warning using dense callback plugin"
##### SUMMARY
Something is broken about the `dense` stdout callback plugin, evidenced by a suppressed traceback.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/callback/dense.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
playbook

[code]

inventory

[code]

command
(note that verbosity turns off this p

[2019-11-09 03:53] AlanCoding commented on #64627
was wrong, syntax is `ANSIBLE_CALLBACK_WHITELIST=syslog_json`

[2019-11-09 03:53] #64627 closed, assigned to nobody

[2019-11-09 04:00] jhg03a commented on #64625
https://github.com/ansible/ansible/blob/9ccef9e8192084e9e6b38c36a38c820fc8bd66db/lib/ansible/plugins/strategy/__init__.py#L515

[2019-11-09 04:08] Akasurde commented on #58824
@JoschuaA4 @nemethloci Could you please check if PR #62537 works for you and let us know? Thanks,

needs_info

[2019-11-09 04:26] Akasurde commented on #64625
!component =lib/ansible/plugins/strategy/__init__.py

[2019-11-09 04:35] jhg03a commented on #64625
For reference: This is where the JUnit side of things gets access to this information https://github.com/ansible/ansible/blob/e2f85b3f6cfd56846e65cad51c5fe47c551e72dd/lib/ansible/plugins/callback/junit.py#L189 for example.

[2019-11-09 06:08] Akasurde commented on #63905
resolved_by_pr #64605

[2019-11-09 09:13] gmarokov opened #64630 "Using ansible-pull with --ask-pass parameter does not prompt"
##### SUMMARY
When using `ansible-pull` and providing `--ask-pass` or `--ask-vault-pass` does not prompt for password.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`ansible-pull`

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
OS: Windows 10
Environment: WSL

##### STEPS TO REPRODUCE
1.1 `ansible-pull –U https://github.com/gmarokov/ansible-win-postinstall.git -e ansible_user=your_win

[2019-11-09 09:33] #47764 closed, assigned to nobody

[2019-11-09 10:01] justjais commented on #64515
@misch42 Thanks for logging the issue. I have created a PR #64633 for the fix, can u plz verify and update if the PR resolves the issue.

[2019-11-09 10:25] #29579 closed, assigned to nobody

[2019-11-09 10:25] #32868 closed, assigned to nobody

[2019-11-09 10:25] #55738 closed, assigned to nobody

[2019-11-09 12:14] benjdudas opened #64634 "Netconf modules are sending a bad rpc call for IOS-XR"
##### SUMMARY

Seeing a issue with netconf on ios-xr.  The capabilities are being returned and the intial hello sent is good but then this invalid rpc call is being sent to the router:
[code]
Which returns a rpc error
[code]
This is being followed with a rpc close-session and the connection closes cleanly.

This RPC call is not part of the task body and is only being sent for IOS-XR devices. Not s

[2019-11-09 15:11] felixfontein commented on #64555
I created a PR for this behavior change in #64635. Feel free to take a look and comment on it :)

I'll close this issue since it is not really a bug (just unexpected behavior)...

[2019-11-09 15:11] #64555 closed, assigned to nobody

[2019-11-09 15:15] felixfontein commented on #19880
Is this still a problem with support for credential helpers for `docker_login` (#63158)? That will be available for Ansible 2.10. (I can create a backport to 2.9 if there is enough interest.)

needs_info

[2019-11-09 15:18] felixfontein commented on #28382
Have you tried the new `networks_cli_compatible` option? By setting it to `yes`, and by setting `network_mode` to the name of the first network, `docker_container` should behave like docker CLI in this regard.

needs_info

[2019-11-09 15:20] felixfontein commented on #60675
Since this is not a bug of docker_container, and can only be fixed (without a lot of ugly monkey-patching) by the module, I'm closing this issue. Feel free to create a feature request for this when paramiko and docker-py support this.

[2019-11-09 15:20] #60675 closed, assigned to nobody

[2019-11-09 15:33] felixfontein commented on #62728
I've created a PR for this: #64637.

resolved_by_pr #64637

[2019-11-09 15:39] felixfontein commented on #53789
@gnowxilef @jackivanov since you explicitly asked for a `openssl_crl` module, could you please take a look at the new module in #63435? Any kind of feedback would be really helpful!

[2019-11-09 15:54] felixfontein commented on #29950
Answering to myself: yes, we did.

[2019-11-09 15:54] #29950 closed, assigned to nobody

[2019-11-09 16:07] felixfontein commented on #62759
needs_info

[2019-11-09 16:07] felixfontein commented on #64492
needs_info

[2019-11-09 16:10] fu7mu4 opened #64638 "packaging/debian/copyright says GPLv2"
##### SUMMARY

ansible/packaging/debian/copyright says GPL is version 2. But Ansible is released under GPL 3+. Need to be updated.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
packaging for debian
- packaging/debian/copyright

##### ANSIBLE VERSION

I checked only zip of 2.9.0 and the source on the github.
The blame of that file (packaging/debian/copyright) says it was commited on Apr 19,

[2019-11-09 20:01] #62728 closed, assigned to nobody

[2019-11-10 01:25] cimichaelm commented on #60576
Each command option is added with a leading space. For the manifest, the leading space appears to be missing.

See line 303 of puppet.py

I found the following works for me:

            cmd += " " + shlex_quote(p['manifest'])

[2019-11-10 04:27] msaladna opened #64642 "Performance regression with large playbooks in handler invocation between 2.8.1 and 2.8.2"
##### SUMMARY
PR #55624 resolved handler resolution that introduced significant performance impacts (20x+) on large playbooks. I'm around 12k lines and a task that repeatedly calls ini_file with an optional notify call swells from 26.82s to 465.33s. I've traced changes traced back to search_handler_blocks_by_name() within [strategy/\_\_init\_\_.py](https://github.com/ansible/ansible/commit/cb70656

[2019-11-10 04:33] msaladna commented on #64642
!component =lib/ansible/plugins/strategy/\_\_init\_\_.py

[2019-11-10 05:53] sky-joker opened #64643 "VMware: Cautions on using VMware modules with standalone ESXi"
##### SUMMARY
As a cautions when using VMware modules with standalone ESXi, I think that it is necessary to add to the following document that API is read-only for in the case of free license.

https://docs.ansible.com/ansible/latest/scenario_guides/vmware_scenarios/faq.html

If I create a VM by execute vmware_guest with the free license, the following error occurs.

[code]

##### ISSUE TYPE
- Doc

[2019-11-10 11:53] evadeflow commented on #64265
Yes, @Nolfik, I can confirm: the fix is to specify `ansible_become` pass rather than `ansible_sudo_pass`. (I just hit the same regression, and that's what solved it.)

[2019-11-10 12:08] papanito opened #64646 "nmcli not working on Centos8: `No package NetworkManager-glib available`"
##### SUMMARY

The [docu](https://docs.ansible.com/ansible/latest/modules/nmcli_module.html) lists some requirements to be installed:

- NetworkManager-glib
- libnm-qt-devel.x86_64
- nm-connection-editor.x86_64-
- libsemanage-python
- policycoreutils-python

however there is no package `NetworkManager-glib` available in `CentOS 8` and it is not clear how to install the required libraries.

[code]

[2019-11-10 12:23] papanito commented on #64646
!nmcli

[2019-11-10 14:22] ghost opened #64653 "Can't run snap via lxd connector"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/packaging/os/snap.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-11-10 14:37] icebluey opened #64654 "[WARNING]: template parsing did not produce documentation"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]
$ansible-doc -l | grep UNDOCUMENTED
[WARNING]: template parsing did not produce documentation.
[WARNING]: win_template parsing did not produce documentation.
tem

[2019-11-10 15:03] aglorei commented on #63077
I'm not sure if it's the same root cause, but the error in #64603 is similar. I'm receiving the same stack trace, and I'm definitely not using a split filter.

[2019-11-10 15:05] #60234 closed, assigned to nobody

[2019-11-10 15:28] nnhanndakara opened #64656 "Honor explicitly marking a parameter as not sensitive."
##### SUMMARY

The way that the `no_log` parameter is currently implemented in `AnsibleModule._log_invocation` is overly simplistic, and appears to violate the principle of least astonishment due to its overly brief documentation failing to mention the corner cases for which it appears to have been written. As `no_log` is currently implemented, it will:

* Not log a parameter value if `no_log` is

[2019-11-10 16:03] #60323 closed, assigned to maxamillion

[2019-11-10 16:07] Akasurde commented on #64408
Reproduced.

[code]

[2019-11-10 20:14] n0guest commented on #61369
Looks like it happens because get_url doesn't even trying to download checksums. Instead of GET method it's using HEAD (just to verify availability?).

PS: Same goes for Ubuntu 16.04/xenial:

[code]

[2019-11-10 21:54] klingac opened #64659 ""throttle" on "block" limits tasks inside one by one"
##### SUMMARY

When using `throttle` to limit the number of workers in `block`, it is limiting workers for tasks one by one, but it is not limiting for the whole `block`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

throttle

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Run playbook with tasks in `block`. Set `thrott

[2019-11-11 02:43] Fred-sun commented on #60244
kindly ping

[2019-11-11 03:03] Fred-sun commented on #59916
@mybayern1974 Would you please help check this issue? a bug in ansible's azure_rm_manageddisk module! Thank you very much!

[2019-11-11 03:31] Fred-sun commented on #59392
@mybayern1974 Would you please help check this issue? a bug in ansible's azure_rm_sqldatabase module! Thank you very much!

[2019-11-11 04:22] jhg03a commented on #61639
Completely agree.  I'd like to file an initial task message, then send more detailed messages throughout execution into a thread rather than flood a channel.

[2019-11-11 04:22] Akasurde commented on #61369
I can confirm, with `--check` flag, `get_url` fails to download the checksum file from the given URL. This behaviour is because module only check the existence of checksum of file in the given URL (Added via 3f321e759158a3954cceacf62a14cd5126a225d0) rather than downloading the file. Respective code - https://github.com/ansible/ansible/blob/00193f27eb107310257efecae1d8ceadaa3acd95/lib/ansible/modul

[2019-11-11 05:37] Akasurde commented on #64638
cc @abadger @goneri

[2019-11-11 06:46] kertzi commented on #27299
Confirming that bug still exist in ansible 2.8.5.
Luckily I find this issue with workaround after spending hours with this problem.
So thanks guys!

[2019-11-11 06:49] Fred-sun commented on #59269
@mybayern1974

[2019-11-11 07:09] mkrizek commented on #64642
This should be resolved by https://github.com/ansible/ansible/pull/59969. Can you test again with the `devel` branch which includes the fix?

[2019-11-11 07:23] dove-young commented on #64004
Here is my workaround:

Below is the playbook copied from `helm` module page https://docs.ansible.com/ansible/latest/modules/helm_module.html with  slight changes

[code]

Here is a summary
- `chart.name` must be present. Otherwise `KeyError: 'name'\r` will occur https://github.com/ansible/ansible/issues/64004#issuecomment-547768135
   - here is the relevant code in `/usr/lib/python2.7/site-packag

[2019-11-11 07:28] Fred-sun commented on #58929
@Sispheor Thanks for your contribute to this issue! Would you can submit a new PR to fix this problem code at https://github.com/ansible/ansible/pulls?

[2019-11-11 07:34] mkrizek commented on #64654
Both modules are in fact documented, you can view the documentation of each module by running: `ansible-doc template` and `ansible-doc win_template` or by visiting https://docs.ansible.com/ansible/latest/modules/template_module.html and https://docs.ansible.com/ansible/latest/modules/win_template_module.html.

The issue here is that both modules are missing the `short_description` field in the `DO

[2019-11-11 07:43] Fred-sun commented on #58601
@elaurijssens You are welcome to submit PR to fix this issue in your spare time! Thank you very much!

[2019-11-11 08:09] dove-young commented on #64129
@willthames  which file do you mentioned about `at line 158 `? thanks.

[2019-11-11 08:50] raymond-grointel commented on #43543
Also affects v2.90

[code]

[2019-11-11 08:53] LKaemmerling commented on #58745
close_me  we have added the protection to all modules. This will be released with Ansible 2.10

[2019-11-11 08:59] #58745 closed, assigned to nobody

[2019-11-11 09:07] heuels commented on #55042
It's just a hunch, but can you try commenting out the following line from your `ansible.cfg`? Looks like that's the only difference between your config and mine.
[code]

[2019-11-11 10:05] LKaemmerling commented on #64483
We can't filter servers per attached network API-side, so this wouldn't scale well if we calculate this locally and have many servers. I have passed the request to our team.

[2019-11-11 10:48] rsommer opened #64664 "Regression in jira module between ansible 2.8.6 and 2.9.0"
##### SUMMARY

After updating from ansible 2.8.6 to 2.9.0, commenting via the jira-module failes with

`fatal: [testhost.local]: FAILED! => {"changed": false, "msg": "'module' object has no attribute 'comment'"}`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

jira

But there have been no code changes between 2.8.6 and 2.9.0 in this module.
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2019-11-11 11:50] Akasurde commented on #64101
resolved_by_pr #64665

[2019-11-11 11:50] Akasurde commented on #64101
@gstorme, Could you please check PR #64665 and let us know if it works for you, Thanks. needs_info

[2019-11-11 12:46] discostur commented on #64606
just changed the module name - it is working now! Thanks ;)

[2019-11-11 12:57] nicolaibaralmueller commented on #62130
@Fred-sun Any status update here?

[2019-11-11 14:10] samhabaneh opened #64667 "Ansible Azure FIrewall: Ability to append rules to Azure Firewall"
##### SUMMARY

We want to use Ansible to manage our Azure Firewall rules. A great feature to have would be having the ability to either append or purge firewall rules. This would give users more flexibility in terms of managing the Azure Firewall strickly from the azure_rm_azurefirewall module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_azurefirewall

##### ADDITIONAL INFORMA

[2019-11-11 14:13] nicolaibaralmueller opened #64668 ""Failed to import the required Python library" after upgrading to 2.9"
##### SUMMARY

No azure modules work after upgrading ansible to 2.9.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_resourcegroup

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Uses python 2.7:

[code]
Also tried via pip using python 3.7.

[code]

##### ACTUAL RESULTS

[code]

Edit: I can confirm that downgrading to 2.8.6 solved the error.

[2019-11-11 14:37] pffs commented on #52926
I'm no longer seeing the traceback/debug messages in 2.9.0, so I think this can be closed.

[2019-11-11 14:50] sivel commented on #64628
It looks like the `dense` callback subclasses the `default` callback. `v2_runner_on_start` in the `default` callback makes use of `show_per_host_start ` via the `default_callback` documentation fragment.  However, the `dense` callback does not use `default_callback` as a doc fragment, and thus doesn't have `show_per_host_start` as an available option.

[2019-11-11 14:50] sivel commented on #64628
PRs welcome. `dense` is a community maintained callback plugin.

[2019-11-11 15:13] alexbarcelo opened #64669 "k8s_info ignoring label_selectors in (at least) a certain scenario"
##### SUMMARY

The `k8s_info` is not filtering as expected. I have certain labels in a `Deployment` kubernetes resource, and trying to filter through them results in no filtering applied.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I think they are irrellevant, but I am using kubespray so just to be sure:

[code]

##### OS / E

[2019-11-11 15:36] sivel commented on #64664
I'm looking into this now. The problem seems to be that a few modules made bad assumptions based on an implementation detail instead of explicit behavior in how modules were invoked.

It's possible that one of a few things need to happen:

1. Implement a change to fix how modules are invoked to restore behavior
1. Update the modules to rely on different mechanism for getting top level methods

[2019-11-11 15:45] joschkappel opened #64671 "bigip_dns_cache_resolver: Example uses wrong module name"
#64011 ### SUMMARY
the bigip_dns_cache_resolver uses a wrong module name in the example that's provided

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bigip_dns_cache_resolver

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOs Catalina

##### STEPS TO REPRODUCE
the example provided uses module name "bigip_dns_cache"

##### EXPECTED RESULTS
replace "bigip_

[2019-11-11 15:59] kaenganxt commented on #63077
I first thought that my issue was different, but this is indeed the same problem as in #64603, so I'm closing my issue. The problem here is with installing the python3 package, which is "provided" by the python package.

Here is my investigation about the man package (which is "provided" by man-db):

**Background information**:
When installing `man`, pacman looks up what packages provide `man` and

[2019-11-11 15:59] kaenganxt commented on #64603
Closing in favor of #63077

[2019-11-11 15:59] #64603 closed, assigned to nobody

[2019-11-11 16:21] cherdt opened #64673 "The git module should provide warning if the ssh_opts parameter is supplied but the version of git is 2.2.3 or earlier"
##### SUMMARY

The `ssh_opts` parameter relies on setting environment variables for git, such as GIT_SSH. Git did not recognize this environment variable until version 2.3.0 (see https://git-scm.com/docs/git/2.3.0), and many contemporary OSes (RHEL 7, CentOS7) include older versions of Git (1.8.3.1).

It would be useful to provide a warning in this case, similar to the warning for the `depth` para

[2019-11-11 16:48] s-hertel commented on #64483
If this would need to be calculated locally anyway and if there are already host variables that would indicate networking (such as labels) you could use `keyed_groups` to make a group with the right criteria.

It looks like these in the `Reply` section are probably the vars available to use https://docs.hetzner.cloud/#servers-get-all-servers.

[2019-11-11 16:48] hdiass commented on #34320
Is there any update on this option to be available on docker_container module ?
thanks,

[2019-11-11 16:49] msaladna commented on #64642
Fixed, success! Could we pretty please mark this for inclusion in 2.9.1/2.8.7?

Here are the run times for each:

v2.8.1: 114.27s
v2.8.2 + patch: 114.87s
devel: 111.28s

[2019-11-11 17:20] rrey commented on #52635
Hi @Duologic,

Can you elaborate a bit on the feature ?
What the module would have to do ? I'm wondering if it should check if provided vars exists in the JSON for instance.

[2019-11-11 17:42] mkrizek commented on #64642
I have created backport PRs for 2.8 and 2.9 releases:
* https://github.com/ansible/ansible/pull/64675
* https://github.com/ansible/ansible/pull/64676

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-11 17:42] #64642 closed, assigned to nobody

[2019-11-11 19:14] Fmstrat opened #64678 "Ansible playbook lookups do not respect nested YAML variables."
##### SUMMARY
When using nested YAML variables, lookups fail to recognize existing variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running in docker under Ubuntu.

##### STEPS TO REPRODUCE

Run the below playbook. Accessing `{{nested.variable}}` works fine, however accessing `{{lookup('vars'

[2019-11-11 20:38] devourerOfBits80 opened #64682 "Pacman module throws "get_name: fail to retrieve package name from pacman output" for packages that have been already installed"
##### SUMMARY

Pacman module throws "get_name: fail to retrieve package name from pacman output" for packages that have been already installed. This error completely prevents execution of playbooks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Pacman

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### STEPS TO REPRODUCE

Execute any playb

[2019-11-11 20:39] felixfontein commented on #34320
@hdiass so far, nothing happened. I'll work on a PR today; I would be glad if you could test it once it is ready.

[2019-11-11 21:03] felixfontein commented on #34320
resolved_by_pr #64683

[2019-11-11 21:12] spike77453 opened #64684 "redfish_command - failure on user account deletion"
### SUMMARY

Running the example playbook from https://docs.ansible.com/ansible/latest/modules/redfish_command_module.html#examples to disable and delete a certain user works as expected, but results in an error message

Note that the user to be deleted (in the example below the user with id 5) _is different_ from the user specified in "username".
The user (in the example below the user with id 5)

[2019-11-11 22:50] sivel commented on #64664
This has been resolved in https://github.com/ansible/ansible/pull/64670 and should appear in the next 2.9.x release.

[2019-11-11 22:50] #64664 closed, assigned to sivel

[2019-11-11 22:51] sivel commented on #64479
This should be resolved with https://github.com/ansible/ansible/pull/64670

The above PR is still fine, but unnecessary.

[2019-11-11 22:58] sivel commented on #64646
Duplicate of https://github.com/ansible/ansible/issues/48055

[2019-11-11 22:58] #64646 closed, assigned to nobody

[2019-11-11 23:10] versewithverve opened #64687 "fails if you try to config pool in one partition and member in common partition"
##### SUMMARY

fails if you try to config pool in one partition and member in common partition
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

f5

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expect a node in common partition to be added to pool in a different partition

##### ACTUAL RESULTS

It t

[2019-11-11 23:24] versewithverve commented on #64687
Realised that you need to put in the full path for a node not in same partition as its pool, and for a pool not in same partition as its virtual server.

[2019-11-11 23:26] versewithverve commented on #64687
Spoke too soon. Putting in full path does not work either.

[2019-11-12 00:06] #37711 closed, assigned to nobody

[2019-11-12 00:09] evgeni commented on #59226
bot_broken

[2019-11-12 00:09] ecs-hk opened #64689 "Ansible 'dnf' and 'package' modules broken on Fedora 30"
##### SUMMARY

Cannot install packages using 'dnf' or 'package' modules on Fedora 30.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Expected the package to be installed.

##### ACTUAL RESULTS

Package install task fails (and the messa

[2019-11-12 01:48] Fred-sun commented on #62130
@nicolaibaralmueller We are working on a fix ，Link will be connected here when PR push. Thank you very much!

[2019-11-12 02:17] Akasurde commented on #63967
Closing this issue as PR #64139 is merged into Stable-2.8. Thanks.

[2019-11-12 02:17] #63967 closed, assigned to Akasurde

[2019-11-12 02:36] Fred-sun commented on #62130
@mybayern1974 @haiyuazhang Would you please help handle this issue? Thank you very much!

[2019-11-12 03:04] Fred-sun commented on #62140
@mybayern1974 @haiyuazhang

[2019-11-12 03:40] Akasurde commented on #63512
Closing issue as PR #63622 is merged for Stable-2.8.

[2019-11-12 03:40] #63512 closed, assigned to nobody

[2019-11-12 04:44] #62401 closed, assigned to nobody

[2019-11-12 05:05] #64542 closed, assigned to nobody

[2019-11-12 05:58] #54896 closed, assigned to nobody

[2019-11-12 06:13] Fred-sun commented on #62395
@nicolaibaralmueller Now that ansible has been upgraded to 2.9.0 and fixed the bug, you can update to this version and try again("sudo pip install ansible==2.9.0 -I"). Thank you very much!

[2019-11-12 06:13] #63267 closed, assigned to nobody

[2019-11-12 06:41] Akasurde commented on #64573
@vijaychebium Could you please check error `Request failed: <urlopen error ftp error: timed out>` ?

I am not able to reproduce this on setup.

[code]

needs_info

[2019-11-12 06:51] Akasurde commented on #60118
@mlda065 Thanks for reporting this issue. Could you please add a note in module itself - https://github.com/ansible/ansible/blob/4bf79de8a65b5bb8bddeff3d328adbd49a8dd19b/lib/ansible/modules/cloud/amazon/aws_acm_info.py#L15

You can find developer's guide over [here](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html).

[2019-11-12 07:09] Fred-sun commented on #62424
@goneri Reruns of the run test on ansible2.9.0 and 2.10.0devel will not cause a failure due to resource occupancy. Can you try again? Thank you very much!

[2019-11-12 07:15] Fred-sun commented on #64668
@nicolaibaralmueller From the error log, it should be installed. Can you re-install ansible (sudo pip install ansible== 2.9.0 -I) and try again? In addition, please help to provide your playbook, and I will also do the test. Thank you very much!

[2019-11-12 07:36] dove-young commented on #64129
I workarouded by patch this

[code]

[2019-11-12 07:45] willthames commented on #64129
oops, sorry, yes, the file to patch would have been helpful! But that is indeed what I meant

[2019-11-12 08:06] amadeuszkryze commented on #64009
@pgrzegorz can You create PR with it?

[2019-11-12 08:23] marcowenwolf opened #64730 "Subnet creation with stack definitions not idempotent"
##### SUMMARY
When creating a subnet with stack definition, either IPV4 or DUAL stack, ansbile nuage module generates a 409 Conflict if run for a next time, i.e. subnet already exists.

It is expected that subnet creation with specified IP stack is idempotent.

##### ISSUE TYPE
-

##### COMPONENT NAME
Nuage VSPK plugin

##### ANSIBLE VERSION
version 2.8.6

##### CONFIGURATION

[code]

##### OS / E

[2019-11-12 09:09] nicolaibaralmueller commented on #64668
@Fred-sun  Sure. Just tried with your pip install command and the same error occurs.

Playbook example:

[code]

[2019-11-12 09:31] Fred-sun commented on #64668
@nicolaibaralmueller Thanks for your reply, I tried but I can't use this module to create( hav no authorization). Can you try it on other modules. If there is an error, please help to provide log and playbook. Thank you very much!

[code]

[2019-11-12 09:36] krepflap commented on #64449
Any news on this ?

On https://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/ you can clearly see the repodata date is older than the 2.9.0 rpm, which effectively keeps us from installing the 2.9.0 version (e.g. when building awx images).

Thanks.

[2019-11-12 09:48] nicolaibaralmueller commented on #64668
@Fred-sun Try the below module. The error is the same as above.

[code]

[2019-11-12 10:07] Fred-sun commented on #64668
@nicolaibaralmueller I execute on 2.9.0 without any problems. Thank you very much!

[2019-11-12 10:56] Shaps commented on #64094
@TeamNautilus Glad it worked!

Apparently the issue does not come from the underlying library but somewhere in the gitlab API, which truncates the pubkey comment. I have raised the question to gitlab, but got no response. I'm going to close this for now.

close_me

[2019-11-12 11:02] #64094 closed, assigned to nobody

[2019-11-12 11:03] Duologic commented on #52635
Hi @rrey

[This dashboard](https://github.com/torkelo/dashboards/blob/master/grafana-internal-stats-graphite-version/internal_stats.json#L2) contains 2 'inputs'. With grafana_dashboard.variables, we could configure these 'inputs'. Be sure to check https://github.com/cloudalchemy/ansible-grafana/pull/135 as it contains the 'solution' I implemented back then.

Checking if the vars exist could help,

[2019-11-12 11:08] nicolaibaralmueller commented on #64668
@Fred-sun I just tested this on our Centos AWX and the same error appears with ansible 2.9. Before I used Ubuntu.

[2019-11-12 11:14] mlda065 commented on #60118
Oh, I forgot about this issue.

Since submitting it I wrote a whole `aws_acm` module, including this doc change.

(note: I and @matt-telstra are the same person)

[2019-11-12 11:14] #60118 closed, assigned to nobody

[2019-11-12 11:18] #60587 closed, assigned to Akasurde

[2019-11-12 11:21] Akasurde commented on #60118
@mlda065 Thanks for the feedback.

[2019-11-12 11:22] gstorme commented on #64101
I can confirm it works fine with the change from PR #64665
Thanks

[2019-11-12 11:22] #64101 closed, assigned to Akasurde

[2019-11-12 11:43] #64399 closed, assigned to nobody

[2019-11-12 12:28] drybjed commented on #64169
I can confirm that this also affects `lookup("template")` / `q("template")` lookups when a template uses `hostvars`, without the use of loops. On Ansible 2.9 this results in `VARIABLE IS NOT DEFINED` message from Ansible.

[2019-11-12 12:40] mkrizek commented on #64169
@drybjed Your description suggests you see an issue that has been fixed in the `devel` branch by https://github.com/ansible/ansible/pull/64070. There is a backport PR open for the `2.9` release.

Would you mind testing with the `devel` branch to see if your issue is fixed there?

[2019-11-12 12:54] drybjed commented on #64169
@mkrizek You're right, my issue is fixed in `devel`. Waiting for a backport to Ansible 2.9.

[2019-11-12 13:45] s-hertel commented on #64479
Closing as per above. I'd love to see the tests in #64548 merged regardless.

[2019-11-12 13:45] #64479 closed, assigned to nobody

[2019-11-12 14:16] #64668 closed, assigned to nobody

[2019-11-12 14:29] #60592 closed, assigned to Qalthos

[2019-11-12 14:33] GLaN1K opened #64734 "tower_job_template: Add job template is not idempotent"
##### SUMMARY

The module tower_job_template is not idempotent

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: tower_job_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: CentOS Linux 7 (Core)
Tower: 7.0.0

##### STEPS TO REPRODUCE

1. Execute the playbook below to add a Job Template into Tower:
**NOTE**: "survey_spec" and "survey_enabl

[2019-11-12 14:42] sivel commented on #64169
I'm going to proceed with closing this issue.  The related PR has been merged to devel, and the 2.9 backport is open at https://github.com/ansible/ansible/pull/64522

[2019-11-12 14:42] #64169 closed, assigned to sivel

[2019-11-12 14:45] AlanCoding commented on #64734
These are migrating to a separate collection, the PR to deprecate these as they are here is up at https://github.com/ansible/ansible/pull/62924

Instead, we want to get these issues in https://github.com/ansible/awx/issues, which is the repo where the collection is hosted.

This looks like a valid issue, and we have a testing system there which I expect can be used to address this. You're welcome

[2019-11-12 15:04] sivel commented on #64584
A pull request has already been submitted to address this issue, however requested updates have not been applied:  https://github.com/ansible/ansible/pull/37477

I'm going to close this as a duplicate.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-12 15:04] #64584 closed, assigned to nobody

[2019-11-12 15:07] #62407 closed, assigned to nobody

[2019-11-12 15:08] samdoran commented on #64595
!component =lib/ansible/modules/packaging/language/maven_artifact.py

[2019-11-12 15:13] samdoran commented on #64612
This seems to fail on macOS because macOS is using BSD `tar` not GNU `tar`. Is this targeting an Ubuntu host or macOS host? Please provide the playbook output with `-vvvv`.

needs_info

[2019-11-12 15:16] acozine commented on #64654
The short description exists, but it is currently located in a shared doc fragment: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/doc_fragments/template_common.py#L14. To fix this, we can move the `short_description` from the shared fragment into the two module files.
- [ ] add short description to template module
- [ ] add short description to win_template module (possibly opt

[2019-11-12 15:17] samdoran commented on #64630
This is by design. `ansible-pull` does not support any parameters that required interactive input as it is meant to be run without user interaction.

Leaving this open since we should remove interactive options from `ansible-pull`.

[2019-11-12 15:20] TomaszKlosinski commented on #55153
I'm facing the same issue.

[2019-11-12 15:33] sivel commented on #64678
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-12 15:33] #64678 closed, assigned to nobody

[2019-11-12 15:34] albertshort opened #64737 "ACI/MSO mso_schema_template_bd : not valid VRF association"
##### SUMMARY
Using the mso_schema_template_bd module I have come across the following issue:

Setting the scene:
VRF has been create in Schema X, with template X associated to tenant USER
BD has been created in Schema1, with template 1 associated to tenant USER
BD in schema 1 references VRF in Schema X, a valid deployment in MSO, proven to work.

My issue:
The module only allows to reference the

[2019-11-12 15:38] sivel commented on #64689
The problem here is related to your use of a python virtual environment.

The `python3-dnf` package installs the dnf python bindings into the system site packages, and is only available to the system python (`/usr/bin/python3`).

When using implicit localhost, the `ansible_python_interpreter` will be set to that of the python binary used to execute `ansible-playbook` which is lacking access to the

[2019-11-12 15:38] #64689 closed, assigned to nobody

[2019-11-12 15:50] s-hertel commented on #64678
@Fmstrat The `vars` lookup finds entire variables by using the variable name(s). 'nested.variable' isn't a valid variable name, but you can get the result you want by moving the keys outside of the lookup parentheses:
[code]

[2019-11-12 15:55] rosowiecki opened #64741 "FAD, first_found lookup wokrs for directories"
##### SUMMARY

**EDIT: not a bug, it was my mistake, read the last comment**

Currently, first_found lookup looks only for files. It used to work, but doesn't anymore (I haven't found exact version when this behavior was changed). I used to relay on this feature to find most recent version of software package like
[code]
.. but then it just stopped working with some ansible upgrade

##### ISSUE TY

[2019-11-12 16:17] tumbl3w33d commented on #64595
It's a bit weird that the former issue was closed before the PR got merged although it totally makes sense to have this in. Would be great if someone finds the time to create a new PR with this simple fix.

[2019-11-12 16:27] gmarokov commented on #64630
Okay thanks. You can remove `--ask-become-pass`. In this case what is the suggested way to provide sensitive information when we can't use vault or prompt?

[2019-11-12 16:36] johnbui423 opened #64742 "gitlab_runner: AttributeError: maximum_timeout"
The gitlab_runner module seems not idempotent. It throws an error "AttributeError: maximum_timeout" when registering the same runner twice or more.

##### SUMMARY
Running a gitlab_runner module task twice, results in following error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gitlab_runner

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Runnin

[2019-11-12 17:20] mpechner commented on #51122
I wrote an ecs_tag module based on  the ec2_tag code.
It only handles tagging ecs_clusters at the moment, since that is all I need.

The boto3 ecs client call tag_resources can tag services and tasks as well.

Questions:
First if I put in the effort to follow the process for creating test cases for a pull request, is there interest?
Two, should I write it requiring ARN's only like the boto3 call?

[2019-11-12 17:43] BobBoldin commented on #51122
I've been hoping to see the AWS utility module take on tagging to the next
level.  It'll currently do the diff between existing and new, but since
tagging is across just about all modules I would think it should be able to
take a tag dictionary and a resource list and apply them with an optional
purge.  Would hopefully allow all the near duplicate tag code in the
various modules to be summarized.

[2019-11-12 17:46] wojtek0806 commented on #64531
@mattclay
[code]

[2019-11-12 17:54] #64068 closed, assigned to nobody

[2019-11-12 17:55] mattclay commented on #64068
Resolved by https://github.com/ansible/ansible/pull/64108 and https://github.com/ansible/ansible/pull/64142

[2019-11-12 17:58] s-hertel commented on #64741
What version isn't working for you now? And can you provide a simple reproducer? Devel is working for me with directories and files. The first_found lookup takes a parameter 'paths' for a list of directories to check.

needs_info

[2019-11-12 18:52] dbeech opened #64745 "'VariableManager' object has no attribute '_loader' from 'template' lookup plugin"
##### SUMMARY

Using the "template" lookup function with a template containing hostvars causes the playbook execution to fail with error `'VariableManager' object has no attribute '_loader'`

The problem only exists in version 2.9.0.
Version 2.8.6 and devel branch do not show the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Lookup plugin 'template' / VariableManager

##### ANSIBLE

[2019-11-12 18:54] dbeech commented on #64745
The issue looks similar to #57437 which was closed pending info.

[2019-11-12 19:16] fabianvf commented on #64129
It looks like this should have been fixed with this PR: https://github.com/ansible/ansible/pull/61182 , but it doesn't seem to have been backported to 2.8.x

[2019-11-12 19:45] C0rn3j commented on #63077
Slightly dirty workaround on Arch Linux is to replace the new `pacman.py` with the 2.8.6 version

[code]

[2019-11-12 19:49] fabianvf commented on #64669
I think this is because you are specifying `name`, if you provide `name` and `namespace` then the selectors are likely being ignored. I think we should probably be throwing an error in this case, which is what kubectl does (equivalent command to the task would be `kubectl get deployments.apps cert-manager -A -l='helm.sh/chart=cert-manager-v0.11.0'`). If you remove the `name` from your task I think

[2019-11-12 19:51] Hoffamania commented on #64612
I can confirm I am seeing this same exact issue:

The unarchive module is failing to extract a .tar.gz that /usr/bin/tar extracts fine:

I am using the get_url module to pull down a file from a remote source which works fine.

`ansible --version
ansible 2.8.5
  config file = None
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible py

[2019-11-12 19:52] #40342 closed, assigned to Qalthos

[2019-11-12 19:55] daraul commented on #62205
The `ec2_instance` module states that it you should use the `ec2` module to create spot instances: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_instance.py#L21

[2019-11-12 20:15] #34125 closed, assigned to Qalthos

[2019-11-12 20:29] gearboxscott commented on #56046
Is this issue fixed yet?   we are still seeing this issue in Ansible 2.8.2, trying to see if this a coding issue on our part or it's an issue that needs fixing?

[2019-11-12 20:36] nitzmahone commented on #61497
The fix in #61831 (that was also backported) doesn't seem to have fixed this, so I'm reopening.

[2019-11-12 20:42] karthikeyan-dhandapani commented on #56449
@bngsudheer Do you have the enable in SSH login with enable password in the Aruba controller?
If you would like to bypass it, try "enable bypass" in the configure terminal prompt.

Seems to work that way.

PLAY [Sample Playbook for mobility master SSH command] ***************************************************************************************************************************

TASK [show com

[2019-11-12 20:52] samdoran opened #64750 "firewalld fails on CentOS 8 unless a zone is specified"
##### SUMMARY

When using `firewalld` on a CentOS 8 container and no zone is specified, the task fails with `ERROR: Exception caught: org.fedoraproject.FirewallD1.Exception: INVALID_ZONE`.

I have found that setting a default value for `zone` in the `argument_spec` fixes this issue.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/modules/system/firewalld.py`

##### ANSIB

[2019-11-12 20:53] colans commented on #56046
@gearboxscott I've been tracking this issue, and haven't seen any updates anywhere about it getting fixed.  So yes, it's still open.

[2019-11-12 21:03] alexbarcelo commented on #64669
You are right.

I agree. I hadn't realized that my `kubectl` command was not faithful to the ansible snippet. But, now that I have tried it, it makes sense.

Thanks!

(Not closing yet because I would argue that not throwing a bug is an error, but maybe it doesn't matter).

[2019-11-12 21:26] jhawkesworth commented on #64113
@jamesmarshall24 just wondering if you could work around this by wrapping "/opt/CA/uxauth/bin/uxconsole -krb -init" up in a shell script and configuring ansible to use that?

[2019-11-12 21:56] billdodd commented on #64684
@spike77453 I haven't been able to reproduce this error on the Dell R630 I have access to. And I do not have access to an R640.

I do have a suspicion of what may be causing it and a potential fix idea. If I create a PR with a potential fix, would you be willing and able to test it?

[2019-11-12 21:57] misch42 opened #64752 "ios_linkagg runs into timeout"
##### SUMMARY
Using the ios_linkagg module results in a timeout.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_linkagg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ansible see above.
Cisco side:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
#sh etherchannel summary
Group  Port-channel  Protocol    Ports
------+-------------+-------

[2019-11-12 21:59] GomathiselviS opened #64753 "eos_lldp : deleted operation is not deleting all lldp configs"
##### SUMMARY
lldp_global , with state=deleted , is deleting only lldp timer. Other configs are not deleted.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_lldp_global.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2019-11-12 22:16] misch42 commented on #64752
Sorry, my mistake. I used the port I was attached in the portchannel.

[2019-11-12 22:16] #64752 closed, assigned to nobody

[2019-11-12 22:42] #45298 closed, assigned to nobody

[2019-11-12 22:44] jborean93 commented on #59485
Resolved by https://github.com/ansible/ansible/issues/45298

[2019-11-12 22:44] #59485 closed, assigned to nobody

[2019-11-12 23:05] #57974 closed, assigned to nobody

[2019-11-12 23:10] willthames commented on #64669
If name and label_selectors are definitely mutually exclusive, that should be an easy fix.

Also, using `-A` is not equivalent to passing `namespace` either, but that's less relevant to this problem.

[2019-11-12 23:10] daladen opened #64754 "mso_schema_site_bd_l3out - fails for first object"
##### SUMMARY

Deploying a BD and associating to a Site L3Out.  If new install and no objects at the site level, the script will fail.  I can add the same L3Out to the BD from the GUI.  If a manually add a different L3Out this BD, the ansible script will be successful.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mso_schema_site_bd_l3out

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2019-11-12 23:18] daladen commented on #64754
I must have clicked submit before done....

OS Environment
Ubuntu on Windows 10

Fresh install of Tenant/Schema/Template.  Create stretched VRF, stretched BD, add site-specific L3Out.

Expecting Site L3 to link to Shared BD.

---
- name: MSO Testing
  hosts: MSO
  connection: local
  gather_facts: False

  vars:
    schema: "TestSchema"
    bridgedomain: "Testing_VIP"
    template: Shared
    vrf:

[2019-11-12 23:32] Raman-Kathpalia commented on #31712
I got a similar problem with lineinfile and blockinfile. Fully described [here on stackoverflow](https://stackoverflow.com/questions/58827823/ansible-save-registered-variables-to-a-local-file).
Any ideas?

[2019-11-12 23:46] javery45 commented on #64745
I had this exact error message. After some digging I came across #62600 which was very similar to #63940, and in the comments others had agreed that it was basically a duplicate. The fix for #63940 was #64070, which I was able to manually apply to my Ansible in order to resolve this bug. As of writing this, I don't see a newer production release just yet that includes this fix, just development re

[2019-11-12 23:53] torgiren commented on #31712
@Raman-Kathpalia
Have you tried throttle?
https://docs.ansible.com/ansible/latest/user_guide/playbooks_strategies.html#using-keywords-to-control-execution
it's new feature in ansible 2.9

[2019-11-12 23:54] #57753 closed, assigned to nobody

[2019-11-13 00:09] dagwieers commented on #64754
You first have to make a site-local BD entry using **mso_schema_site_bd**.
See: https://docs.ansible.com/ansible/latest/modules/mso_schema_site_bd_module.html

[2019-11-13 00:24] #63828 closed, assigned to nobody

[2019-11-13 02:01] Fred-sun commented on #64668
@nicolaibaralmueller Thank you for your feedback. In view of this problem, I only pay attention to the result but ignore the platform. I should pay more attention to many environmental factors, which will be paid special attention in future cooperation. Thank you very much!

[2019-11-13 02:32] Akasurde commented on #64745
cc @mkrizek

[2019-11-13 02:43] Fred-sun commented on #64667
@samhabaneh Thank for your contribution, We will look into this! Thank you very much!

[2019-11-13 02:58] daladen commented on #64754
that fixed the issue.  so i would need to do this for every site level object associated with stretched object.  I am mapping this to my experience with the GUI.  I recall there is a site level object created when the template object is created.  This is a manual step in ansible/restapi.

[2019-11-13 02:58] #64754 closed, assigned to nobody

[2019-11-13 02:58] daladen commented on #64754
closed.

[2019-11-13 03:27] Fred-sun commented on #64667
@mybayern1974 @haiyuazhang Would you please help take look this issue? New feature request for azure_rm_azurefirewall module! Thank you very much!

[2019-11-13 04:44] Aech1977 opened #64764 "vmware_guest module: cluster setting doesnt create VM on the right datastores"
##### SUMMARY
My automation worked fine until I created 2 separate clusters and separate datastores.  I get an error that virtual machine is trying to install to a datastore it doesnt have a physical connection to when I specify cluster and use autoselect_datastore: true

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/modules/cloud/vmware/vmware_guest.py`

##### ANSIBLE VERSION
[

[2019-11-13 04:49] Aech1977 commented on #64764
If I pick a specific datastore that would work find but I'm trying to avoid do this if it all possible.  Also SDRS is not going to work because our datastores are a mixture of NFS and VMFS (I dont actually believe that to be true but I do have 2 datastores that are VMFS 5 and 2 that are VMFS 6........either way SDRS is not possible at the moment).  The module apparently ignores the clusters physic

[2019-11-13 05:08] troyfontaine opened #64765 "Support for Amazon Aurora Cluster Snapshots is missing from rds_snapshot module"
##### SUMMARY
The rds_snapshot module does not support AWS Aurora clusters, which require that they be managed using the `CreateDBClusterSnapshot API` which the module is not aware of (nor is it documented on the module as a limitation).  It should either be added as an option to the existing module or split out as a separate module. e.g. rds_cluster_snapshot

##### ISSUE TYPE
- Feature Idea

####

[2019-11-13 05:09] sugitk opened #64766 "`task_name` as a special variable"
##### SUMMARY

The customer needs the name of the `task` currently being executed.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

Like `role_name` and `ansible_play_name`

[2019-11-13 06:02] ganeshrn commented on #64634
The iosxr netconf plugin (https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/netconf/iosxr.py#L59) executes install RPC to fetch the device facts which results in this error. This might because the version of iosxr is different from the one it is working on that is (Cisco IOS-XRv Version 6.1.3). Is there a way to identify the right `install` RPC for the version is failing on. This i

[2019-11-13 07:23] mkrizek commented on #64745
This has been resolved in https://github.com/ansible/ansible/pull/64070 which will be included in the upcoming `2.9.1` release.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-13 07:23] #64745 closed, assigned to mkrizek

[2019-11-13 07:55] bngsudheer commented on #56449
@karthikeyan-dhandapani I don't see an `enable` in the device web interface. Please note that the device is not Aruba controller but `Aruba IAP 205`. I am able to login to this device via openssh and other via Paramiko.

[2019-11-13 08:09] tboerger commented on #29781
Great that this issue got such an attention :( Do you guys seriously add another `file` task to drop the template when it's not needed anymore?

[2019-11-13 08:27] #57607 closed, assigned to nobody

[2019-11-13 08:46] spike77453 commented on #64684
@billdodd Sure thing. I'm happy to test any potential fix. Just let me know.

[2019-11-13 09:12] JulienPalard opened #64768 "ResourceWarning: unclosed file"
##### SUMMARY
When running ansible with a debug build of Python, I'm getting ResourceWarnings.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/connection/ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

many times.

I'd like to fix it myself,

[2019-11-13 09:19] nicolaibaralmueller commented on #64668
Thanks. I had to create a new Ubuntu 19.10 with only Python 3.6 installed and then install ansible[azure] via pip3. Now it works.

I have to troubleshoot the AWX environment aswell though.

[2019-11-13 09:36] dbeech commented on #64745
Thank you @javery45 and @mkrizek!

[2019-11-13 09:44] zaskan commented on #57399
Attaching customer's example running ansible 2.9

[code]

[2019-11-13 09:47] sshnaidm commented on #46362
@felixfontein @samdoran please look at new version of podman_container with idempotency: https://opendev.org/openstack/tripleo-ansible/src/branch/master/tripleo_ansible/ansible_plugins/modules/podman_container.py#L1341
It still doesn't have idempotency for a half of parameters and it takes a very long time because almost each one of parameters needs to be treated separately for idempotency.
If the

[2019-11-13 09:59] Lunik opened #64770 "gitlab modules : user/password method is deprecated"
##### SUMMARY

`python-gitlab` library release a new version [v1.13.0](https://github.com/python-gitlab/python-gitlab/releases/tag/v1.13.0). User/Password authentication as been removed completely causing all Ansible GitLab module to fail...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gitlab_group
gitlab_deploy_key
gitlab_hook
gitlab_project
gitlab_project_variable
gitlab_runner
gitlab_u

[2019-11-13 10:39] KajdeMunter opened #64771 "docker_image parameter to print build output"
##### SUMMARY

A parameter in the `docker_image` module that would enable printing the output of `docker build`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`docker_image`

##### ADDITIONAL INFORMATION

https://github.com/ansible/ansible/pull/20757 added an output on failure, but printing the output of a successful build is not possible as far as I know. For example, a use case could b

[2019-11-13 10:51] bogd commented on #55042
@heuels - nice hunch! It seems to be absolutely correct :)

After commenting out the configuration line, I can successfully connect to the router with a username/password combination. In the router logs,  the "expected msg" line is gone, replaced by a much more normal-looking `user ansible-test logged in from 10.1.1.1 via ssh`.

So if I'm reading this correctly, it means that when that configurati

[2019-11-13 11:03] fsvm88 commented on #30411
I believe this can also be due to an oversight in the implementation of SSH connection retries (and lacking/bad documentation as far as I could see).
SSH connections in ansible are also influenced by your local .ssh/config or your host's /etc/ssh/ssh_config *in addition to* the standard ansible.cfg files.
I discovered this when trying to diagnose hangs due to the wait_for_connection module.
As lon

[2019-11-13 11:09] Akasurde commented on #64766
!component =lib/ansible/vars/manager.py

[2019-11-13 12:01] D3DeFi commented on #63774
I believe this is now resolved. Next bugfix releases 2.8.7 and 2.9.1 will ship with these changes

resolved_by_pr 64735

[2019-11-13 12:54] D3DeFi commented on #63774
bot_status

[2019-11-13 12:58] D3DeFi commented on #63774
close_me

[2019-11-13 13:05] fransflippo opened #64773 "docker_compose.py : what is project_src relative to?"
##### SUMMARY

`docker_compose` has a parameter `project_src` that's documented as "Path to a directory containing a `docker-compose.yml` or `docker-compose.yaml` file.".

However, I can't figure out what it's relative to. If I'm using `docker_compose` in an Ansible role, I would expect this to be relative to something in the role directory. But if I try that it doesn't work. Also, since the comma

[2019-11-13 13:08] PulsatingQuasar opened #64774 "vmware_guest clone from template will keep same MAC as the template"
##### SUMMARY
When using the vmware_guest module and cloning from a VMWare template the MAC address remains the same.

The template and VM then have the same MAC which is not a problem untill you convert the template to a VM. In the vCenter console a MAC duplicate address triggered alarm is then triggered. vCenter then corrects the problem by changing the MAC to some other address and you can rese

[2019-11-13 13:09] #63774 closed, assigned to nobody

[2019-11-13 13:13] fransflippo commented on #64773
Just found #4085 which explains `docker_compose` doesn't copy over the `project_src` directory when running on a remote host (the normal case for Ansible playbooks).

The role/playbook author needs to copy `project_src` over themselves with a `copy` task, and then `project_src` refers to the path on the remote host, not the controlling machine.

Will look at submitting a documentation fix since th

[2019-11-13 13:21] Lunik commented on #64770
+label affects_2.8
+label affects_2.9

[2019-11-13 13:22] mboehm21 commented on #60349
Can confirm that it is not working in ansible 2.9.0. ansible does nothing whereas "yum autoremove" on Oracle 7.7 shell wants to cleanup two packages.

[2019-11-13 13:24] mbovo commented on #64770
I can confirm, temporary remediation is to downgrade `python-gitlab` to `1.12.1`

[2019-11-13 13:24] Lunik commented on #57483
I agree with @SamyCoenen templating the `config.toml` is not the purpose of this module.
`config.toml` file is not configured the same way if it's a Bare, Docker or Kubernetes installation of the GitLab runner.

[2019-11-13 14:08] skytime-sh opened #64776 "openssl_certificates_info: use without disk access"
##### SUMMARY

It would be nice if you could submit the Certificate content just in a variable instead of a file.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

openssl_certificates_info

##### ADDITIONAL INFORMATION

I am collecting information about the Certificates installed on a device via the devices Rest API.
Unfortunately the API just delivers the PEM Formate Certificate. I am not a

[2019-11-13 14:12] gmarokov opened #64777 "Creating new ansible role with different repo name"
##### SUMMARY
I'm trying to create new ansible-role following the documentation on the site.
I didn't enter `role_name` and ran the test playbook just to make sure everything works ok - and it was.
Then I moved the just created role to different folder to simulate repository giving it `ansible-role-{name}` name. This time the test fails with `ERROR! the role 'win_deploy_service' was not found in /

[2019-11-13 14:25] rohitthakur2590 commented on #64518
needs_info

[2019-11-13 14:37] skytime-sh commented on #64776
!component =lib/ansible/modules/crypto/openssl_certificate_info.py

[2019-11-13 15:00] klingac opened #64781 "Module mongodb_replicaset fails with "MongoDB Replicaset validation failed. Invalid arbiter index." even when arbiter index is correct"
##### SUMMARY
Trying to create mongodb replicaset with one arbiter with module mongodb_replicaset results in error if you set `validate` parameter to `true`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mongodb_replicaset

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

uname -a

Linux wrk-ntb 5.3.0-19-generic #20-Ubuntu SMP Fri Oct 18 09:04:39 UTC 2019

[2019-11-13 15:17] seanlook opened #64782 "vars_plugins only worked in control machine"
I've written a vars_plugins to discover processe list on my remote hosts (saved to a variable like `service_list: []`). But it seem that the plugin run just on the controller machine, and obviously it's wrong.

Is there any way to get this?

[2019-11-13 15:40] heuels commented on #55042
There've been reports that adding a `+cet1024w` as a suffix to your username might help with that. Unfortunately mutating username by a network module or plugin is not something that is currently supported by Ansible, so you need to manually specify this suffix in usernames of your hosts files.

It looks like Ansible variable precedence rules are to blame here. If you have defined something in you

[2019-11-13 16:18] dr4Ke opened #64788 "fix terraform module support for no workspace"
##### SUMMARY
Some terraform backends don't support workspaces. The module should not fail when using them.

The module fails with messages like:
- `Failed to list Terraform workspaces:\r\nworkspaces not supported\n`
- `Failed to list Terraform workspaces:\r\nnamed states not supported\n`

Related to:
- https://github.com/ansible/ansible/issues/43134#issuecomment-480873362
- https://github.com/ans

[2019-11-13 16:22] #64268 closed, assigned to nobody

[2019-11-13 16:24] zaskan opened #64789 "Regression: ansible_failed_task and ansible_failed_result are undefined in the rescue section"
##### SUMMARY

Ansible returns `VARIABLE IS NOT DEFINED!` when we use ansible_failed_task and ansible_failed in **loops**.

Possible duplicate of https://github.com/ansible/ansible/issues/57399

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible_failed_task
ansible_failed_result
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1

[2019-11-13 16:36] dr4Ke commented on #64788
Print a warning instead of failing:
[code]

It should not have an impact on working workspaces configurations because if the listing fails, and we don't want to use the default workspace, the module will try to create a new one and that should fail whether the workspace already exists or the backend don't support  workspaces.

[2019-11-13 16:37] zaskan opened #64792 "ansible_failed_tasks - Regression to old behavior"
##### SUMMARY

Ansible returns VARIABLE IS NOT DEFINED! when we use ansible_failed_task and ansible_failed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible_failed_task
ansible_failed_result

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

This is the correct behavior extracted from pre

[2019-11-13 16:48] sivel commented on #64792
Duplicate of https://github.com/ansible/ansible/issues/64789

[2019-11-13 16:48] #64792 closed, assigned to nobody

[2019-11-13 16:49] Raman-Kathpalia commented on #31712
@torgiren
Now, I did. I put `throttle: 1` at task level which calls - `lineinfile` module (which is where the problem is). I do see reduction but not elimination.

[2019-11-13 16:51] rhysmeister commented on #64781
Arbiter logic was back-to-front- Fixed with tests in https://github.com/ansible/ansible/pull/59883

[2019-11-13 16:57] zaskan opened #64795 "ansible_failed_task is undefined"
##### SUMMARY

Ansible returns VARIABLE IS NOT DEFINED! when we use ansible_failed_task and ansible_failed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible_failed_task
ansible_failed_result

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

This is the correct behavior extracted from pre

[2019-11-13 16:58] sivel commented on #64795
Duplicate of https://github.com/ansible/ansible/issues/64789

[2019-11-13 16:58] #64795 closed, assigned to nobody

[2019-11-13 17:06] mkrizek commented on #64789
I have bisected this to https://github.com/ansible/ansible/pull/58400. From a quick look, this might be enough for the fix:

[code]

[2019-11-13 17:29] mattclay commented on #64531
@wojtek0806 Is this working for you now, aside from the git warning?

[2019-11-13 17:56] mkrizek commented on #64789
So the diff above is just to fix "the regression" mentioned in https://github.com/ansible/ansible/issues/64792. The second part of the issue is what is already reported in https://github.com/ansible/ansible/issues/57399.

[2019-11-13 18:14] billdodd commented on #64684
Thanks! PR is ready to test: #64797

[2019-11-13 18:22] fabianvf commented on #64669
I think if you wanted to filter by name on e.g. a query across all namespaces, I believe you'd use a field selector on name rather than providing name directly. We could translate that automatically without much difficulty I think.

[2019-11-13 19:02] #59228 closed, assigned to nobody

[2019-11-13 19:11] felixfontein commented on #64773
It's always best to use **absolute** paths for anything on remote machines. Modules generally don't copy stuff over, they usually have no access to the controller machine at all. (Action plugins have such control, and modules such as "copy" and "template" are in fact action plugins.)

[2019-11-13 19:32] xtxerr opened #64799 "netconf_config fails running on Python 3"
##### SUMMARY
netconf_config fails running on Python 3 (while not experiencing issues running on Python 2)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
(ansible-github) ➜  cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.7 (Maipo)
(ansible-github) ➜  pip list
Package

[2019-11-13 19:45] exc1te opened #64801 "unsafe not work as expected"
##### SUMMARY
Unsafe not working as expected, play fail. Also i tried play with {% raw %}{% endraw %} statements but without success.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Main

##### ANSIBLE VERSION
ansible 2.9.0

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Print variable with speci

[2019-11-13 19:55] sivel commented on #64801
The problem that you are running into is not with `unsafe` but with YAML quoting.

You started the value with a `"` so the next `"` the YAML parser expects should be the one at the end of the line.

I'd recommend using the following syntax to achieve your goal:

[code]

That syntax (`|-`) uses a scalar block, that trims new lines, and prevents the quoting issues you are seeing.

If you have furthe

[2019-11-13 19:55] #64801 closed, assigned to nobody

[2019-11-13 19:56] felixfontein commented on #63553
Related: #64776

[2019-11-13 20:18] wojtek0806 commented on #64531
at times i get failures where some files I am testing are not found but this is intermittent so i cannot pinpoint where it is coming from

[2019-11-13 20:27] #62331 closed, assigned to nobody

[2019-11-13 20:28] andreasgerstmayr opened #64804 "azure_rm inventory plugin doesn't read public IPs of scale set instances"
##### SUMMARY
The `azure_rm` inventory plugin doesn't read public IPs of scale set instances.

The `azure_rm` inventory plugin uses API version `2015-06-15`, which apparently doesn't expose the public IPs. Increasing the API version to `2017-03-30` resolves this issue
https://github.com/ansible/ansible/blob/f8f76628500052ad3521fbec16c073ae7f99d287/lib/ansible/plugins/inventory/azure_rm.py#L228

Lo

[2019-11-13 21:10] Cohedrin opened #64806 "postgres_user does not correctly commit changes if groups is set"
##### SUMMARY
The `postgres_user` module does not commit changes if the variable groups is set. The create action will be commited, but any changes after that which do not change the `groups` variable will not be commited. This is due to [this line](https://github.com/ansible/ansible/blob/80bf24b17c52546c081b27e639499ba128824cf3/lib/ansible/modules/database/postgresql/postgresql_user.py#L855) whic

[2019-11-13 21:12] #63507 closed, assigned to nobody

[2019-11-13 21:48] spike77453 commented on #64684
#64797 works for me. Thanks a bunch!

[2019-11-13 22:06] billdodd commented on #64684
@spike77453 Great! Thanks for testing.

Would you mind re-opening the issue? That way the core team will see that my PR is to fix an open issue and will be sure to merge it. Otherwise, there might be some confusion if the issue is already closed. :-) Once the PR is merged, your issue will be automatically closed.

[2019-11-13 22:11] spike77453 commented on #64684
Sorry, wasn't aware that it's still needed.

[2019-11-13 22:11] billdodd commented on #64684
No worries. Thanks again.

[2019-11-13 22:55] magick93 opened #64811 "sudo: 1 incorrect password attempt - error on tasks with become: false"
##### SUMMARY
I have  playbook that contains tasks that do no need `become:true`, yet the playbook fails on these with `{"changed": false, "module_stderr": "Sorry, try again.\n[sudo via ansible, key=yikxcg... ...ruxqpc] password:\nsudo: 1 incorrect password attempt\n", "module_stdout": "", "msg": "MODULE FAILURE\nSee stdout/stderr for the exact error", "rc": 1}`

##### ISSUE TYPE
- Bug Report

###

[2019-11-13 22:59] benjdudas commented on #64634
@ganeshrn I can provide a capabilities listing, would that work?

[2019-11-13 23:49] OxHobbs commented on #64667
@samhabaneh - what if this worked like the tags property does on the other modules.  If you specify a rule set then you are making a declaration of what the configuration should be.  However, if you wanted to append rules then you would specify that:

[code]

[2019-11-14 00:48] mishaal79 commented on #62972
Hey Forrest,

When will the updated LogicMonitor module using REST API be available to use ?

Mishal

[2019-11-14 01:13] nitzmahone commented on #64449
It should be corrected with today's releases (building right now)- there had been some manual intervention to a previous issue that screwed up the permissions and prevented the metadata from being updated.

[2019-11-14 01:32] #46809 closed, assigned to nobody

[2019-11-14 02:02] karthikeyan-dhandapani commented on #56449
@bngsudheer Thanks for the bug report. I was able to reproduce this issue. The issue was that the "paging" and "no paging" commands are not available in recent Aruba Instant OS.

[2019-11-14 02:07] karthikeyan-dhandapani commented on #61433
@janrv Thanks for the Bug Report. By default, hostname will be the MAC address. But when the hostname is changed, the regex prompt mismatched and socket timedout. Created a PR.

[2019-11-14 02:08] zraider7 opened #64815 "vmware_vm_info module does not work when show_tag is switched on"
##### SUMMARY
When using the 'vmware_vm_info', it works fine until I switch on the 'show_tag' option.
It complains that I turned off 'validate_certs', but what stands out is "TypeError: get_tags_for_vm() got an unexpected keyword argument 'vm_id'" in stdout_error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vm_info

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### O

[2019-11-14 03:31] Fred-sun commented on #62901
@frsh-augustin Does that help with your question? If it has been fixed, you can turn it off! Thank you very much!

[2019-11-14 05:00] mpechner commented on #51122
Does this seem ok for an interface?   Since I started with the code fro ec2_tag.py I have those authers in the list.  If they can be reached, I'll keep or remove them from the authors list.
---
module: ecs_cluster_tag
short_description: create and remove tags on ecs clusters.
description:
    - Creates, removes and lists tags for an ecs_cluster resource.  The resource is referenced by its cluster

[2019-11-14 05:18] calvinbui opened #64818 "Encryption in s3_sync module"
##### SUMMARY

The `s3_sync` module does not support any encryption options for uploads .The `aws_s3` module on the otherhand does.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`s3_sync`

https://docs.ansible.com/ansible/latest/modules/s3_sync_module.html

##### ADDITIONAL INFORMATION

[code]

[2019-11-14 05:19] Akasurde commented on #64766
@sugitk Thanks for reporting this. Could you please add business need for this feature apart from "customer need" ? This way we can discuss further course of action.

Thanks,

needs_info

[2019-11-14 05:47] Fred-sun commented on #62861
@mybayern1974 @haiyuazhang Would you please help take a look this issue? new feature request for azure_rm_publicipaddress! Thank you very much!

[2019-11-14 06:25] ericsysmin opened #64819 "zabbix_host module no longer supported in ansible >= 2.8.7"
##### SUMMARY
The zabbix_host module now results in
[code]
In prior releases it worked fine. Looks like a possible edit that broke communication.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Not a failure

##### ACTUAL RESULTS

[2019-11-14 06:25] sugitk commented on #64766
@Akasurde
Thank you for checking this issue.
The customer wants to make additional logging with the current running task name.  I am not sure how it impacts their business.

[2019-11-14 06:40] mcassaniti opened #64820 "docker_swarm_service force_update causes configuration loss"
##### SUMMARY
When running the docker_swarm_service module to force a service update, and when the minimum number of parameters are supplied, the empty parameters are stripped from the service even though they don't show in the diff.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_swarm_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Controller

[2019-11-14 06:48] Andersson007 commented on #64806
@Cohedrin hi, thanks for reporting this!
shipit'ed the PR

[2019-11-14 06:51] Andersson007 commented on #64806
s/thanks for reporting/thanks for reporting and solving!/g
BTW we have a WG and Community pinboard to communicate, feel free to write yourself there if you'd like to support us continuously
https://github.com/ansible/community/wiki/PostgreSQL
https://github.com/ansible/community/issues/435
also there are some ideas to implement

[2019-11-14 06:59] Akasurde commented on #64815
resolved_by_pr #64821

[2019-11-14 06:59] Akasurde commented on #64815
@zraider7, Could you please check PR #64821 and let us know if it works for you, Thanks. needs_info

[2019-11-14 07:03] D3DeFi commented on #64819
Hi @ericsysmin and sorry for the trouble we've introduced. This issue seems to be related to the underlying `zabbix-api` python module. Version 0.5.3 is now a bit old and was released in September 2017. Since then, there was 0.5.4 version release, which seems to be shipping `logout()` function. This is unfortunately something that I have discovered only by comparing source code/commits from both v

[2019-11-14 07:08] arjunprakashn opened #64829 "Define Network I/O Control shares for the different traffic types on the distributed switch in vmware_dvswitch module"
Define Network I/O Control shares for the different traffic types on the distributed switch in vmware_dvswitch module

https://docs.ansible.com/ansible/latest/modules/vmware_dvswitch_module.html

##### SUMMARY
a) Click on distributed switch, click the Configure tab, and click Resource
Allocation > System traffic.
b) Under System Traffic, configure each of the following traffic types with the follo

[2019-11-14 07:11] D3DeFi commented on #64819
As stated in the #64735, I will update documentation for zabbix modules to state that zabbix-api 0.5.4 is required

[2019-11-14 09:01] #61382 closed, assigned to nobody

[2019-11-14 09:01] Fred-sun commented on #63005
@mybayern1974

[2019-11-14 09:02] Fred-sun commented on #62798
@mybayern1974

[2019-11-14 09:22] Akasurde commented on #61921
resolved_by_pr #64832

[2019-11-14 09:22] Akasurde commented on #61921
@mjeco, Could you please check PR #64832 and let us know if it works for you, Thanks. needs_info

[2019-11-14 09:23] Sputnik93 opened #64833 "proxmox module compliance with proxmox API"
##### SUMMARY

Regarding container creation, use Proxmox API default values as Ansible proxmox module default values, and/or add an option for cpulimit parameter

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

proxmox module

##### ADDITIONAL INFORMATION

The default values for parameters like cpuunits are not the same in proxmox module for ansible (https://docs.ansible.com/ansible/latest/

[2019-11-14 09:39] #64806 closed, assigned to nobody

[2019-11-14 10:15] decentral1se commented on #63734
What.

[2019-11-14 10:29] JohnVonNeumann opened #64836 "ec2_vpc_subnet - ansible2.9.1 - line 517, in ensure_final_subnet TypeError: 'NoneType' object is not subscriptable"
##### SUMMARY

Using the ec2_vpc_subnet throws a TypeError whilst still creating the resource.

I went back and used 2.8 as well and the issue continued.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_vpc_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

You can copy the examples listed from the docs at:
https:/

[2019-11-14 11:46] s-hertel commented on #64782
It seems like you want a module that returns ansible_facts, not a vars plugin if you want it to run remotely.

[2019-11-14 11:51] #61921 closed, assigned to Akasurde

[2019-11-14 12:54] #64449 closed, assigned to mattclay, nitzmahone

[2019-11-14 13:35] dominikholler opened #64841 "document that os_network requires openstacksdk >= 0.29"
##### SUMMARY

os_network requires openstacksdk >= 0.29, while the documentation says openstacksdk >= 0.12.0 is required.
The required paraneter 'dns_domain' is added to openstacksdk in https://github.com/openstack/openstacksdk/commit/a3e846e2b9301f4ae725e97b21b4313bfcc81d10#diff-73529bc87d3ebb2e7a65ef0fe3028033

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_network

##### ANSIBLE VERSIO

[2019-11-14 14:23] swimlappy commented on #58242
@rambleraptor This bug still exists in 2.9.1

[2019-11-14 14:23] wahaha2001 opened #64842 "vmware_guest : VM always created at same datastore as the template"
##### SUMMARY

VM always created at same datastore as the template, even "autoselect_datastore" was set as True.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

There have two esxi server in same cluste

[2019-11-14 14:25] Harry93 commented on #57965
Any updates here?
I want to create a small development database for edition "basic" or "standard". The playbook runs but, when I inspect the created database via azure-cli or the dashboard then a different SKU (General Purpose). This increases the costs drastically.

Thanks in advance.

[2019-11-14 14:36] ttsrg commented on #54151
Please use repl_stat_passive_master.File or  repl_stat_passive_master.Position and you may  see output:

- name: replication "show  master status;"
  mysql_replication:
    mode: getmaster
    login_unix_socket: /var/run/mysqld/mysqld.sock
  register: masterstatus
  become: yes

- debug: var=masterstatus.File
- debug: var=masterstatus.Position

I've tested it on ansible v.2.8.6

[2019-11-14 14:36] neleshgoel commented on #61984
Recently while  doing some additional testing same issue is reoccurring while re-executing azure_rm_managed_disk module.

Below error details for reference :

Nov 14 14:35:52  kernel: XFS (dm-2): metadata I/O error: block 0xa00888 ("xlog_iodone") error 5 numblks 64
Nov 14 14:35:52  kernel: XFS (dm-2): xfs_do_force_shutdown(0x2) called from line 1221 of file fs/xfs/xfs_log.c.  Return address = 0xff

[2019-11-14 14:50] #64789 closed, assigned to nobody

[2019-11-14 14:55] jctanner commented on #64768
resolved_by_pr https://github.com/ansible/ansible/pull/64785

[2019-11-14 15:05] zraider7 commented on #64815
Alright, so now it goes through without error, but it still shows the tags array as empty

[2019-11-14 15:08] alk-rniveau opened #64845 "Match filter disappears ?"
##### SUMMARY
Match filter seems to have disappeared with the 2.9.1. I can't find anything about that in the changelog

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
assert

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04
OsX 10.14.5

##### STEPS TO REPRODUCE
Works with 2.8.5, not with 2.9.1

[code]

##### EXPECTED RESULTS
[code]

[2019-11-14 15:30] sivel commented on #64845
`match` was never a filter, it was a test: https://docs.ansible.com/ansible/latest/user_guide/playbooks_tests.html#testing-strings

However, there was some functionality to allow calling a test as a filter.

Using tests as filters was deprecated in 2.5 and indicated via a runtime deprecation warning, as well as listed in the porting guide at https://docs.ansible.com/ansible/latest/porting_guides/p

[2019-11-14 15:30] #64845 closed, assigned to nobody

[2019-11-14 15:45] gundalow commented on #31309
Hi, there is a proposed fix in https://github.com/ansible/ansible/pull/62963 reviews welcome

[2019-11-14 15:53] #64267 closed, assigned to nobody

[2019-11-14 16:35] #64768 closed, assigned to JulienPalard

[2019-11-14 17:04] danielbjorkholm commented on #27160
I agree with @guzzijason
Using some ansible playbooks for pure validation/testing, I would love to run all tasks in `ignore_errors: yes` and still get a burning red counter in the end of what would then be a very neat-looking test report.

[2019-11-14 17:39] ChevyNovaLN commented on #61718
I just wanted to state that we are also running into this same issue.   We upgraded our development server to the latest 2.9.0 from 2.8.2 and are now receiving the same message, pasted below:

ERROR! Unexpected Exception, this is probably a bug: 'CyberarkPassword' object has no attribute 'delimiter'.

[2019-11-14 18:04] daemenseth opened #64849 "Win_updates : does not install malicious sofware tool and drivers"
##### SUMMARY

Win_updates : does not install malicious sofware removal tool and drivers. I have added all categories.

see screenshot
![IMG_20191114_162444](https://user-images.githubusercontent.com/7492384/68883884-377d8480-0712-11ea-9349-cc2a664b82e8.jpg)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVI

[2019-11-14 18:14] gamuniz opened #64850 "Galaxy Collection throws generic 401 while installing collections from Automation Hub."
##### SUMMARY

If a user passes an incorrect username or password via the configuration for a galaxy_server the error message is unhelpful.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Actual error from automation hub api is exp

[2019-11-14 19:03] #54151 closed, assigned to nobody

[2019-11-14 19:16] #54956 closed, assigned to nobody

[2019-11-14 19:20] samdoran commented on #64766
@sugitk If the goal is to use the task name in logs, a callback plugin should provide this information. I'm not sure how providing the task name as a magic variable would help.

needs_info

[2019-11-14 19:22] jborean93 commented on #64811
Do you have `ansible_become` set anywhere in your inventory or host/group_vars? These variables override the task directives like `become` as documented at https://docs.ansible.com/ansible/latest/user_guide/become.html#become-directives

I would check your inventory to make sure that this isn't set to `yes/true` which means setting `become: no` will do nothing.

needs_info

[2019-11-14 19:24] samdoran commented on #64782
Please reach out on IRC or the mailing list to discuss plugin development:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-11-14 19:24] #64782 closed, assigned to nobody

[2019-11-14 19:26] jborean93 commented on #64849
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-14 19:26] #64849 closed, assigned to nobody

[2019-11-14 19:39] jborean93 commented on #64777
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The `role_name` key in `meta/main.yml` is only used for the import process to define the name of the role in Galaxy
   * Ansible role loader does not use this

[2019-11-14 19:39] #64777 closed, assigned to nobody

[2019-11-14 19:59] marcelvanveen opened #64852 "add dnf module enable/disable support"
##### SUMMARY
Update the dnf module to enable/disable modules (currently only install/remove is supported).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- dnf

##### ADDITIONAL INFORMATION
To install 389-ds-base on CentOS 8, you first need to enable module '389-ds:1.4'.
Using `dnf: name="@389-ds" state=present`, the module will not be enabled.

Latest version of python-dnf does support e

[2019-11-14 20:27] nmirolli opened #64854 "Flag "-c" getting added to "Sudo su - mongod" automatically causing failure."
##### SUMMARY
Flag "-c" getting added to "Sudo su - mongod" automatically causing failure.

I have permissions on a remote server to log in as myself "myuser" and run the command "sudo su - mongod".  Since I have permission to run this command I am not prompted for a password.
 When I try to do this through Ansible, the command ends up being "sudo su - mongod -c" causing it to prompt for the passw

[2019-11-14 21:01] jillr commented on #64836
Unfortunately I haven't been able to reproduce this; the subnet reliably creates and subsequent runs succeed with changed=0.  Will need additional investigation.

needs_verified

[2019-11-14 21:09] #58978 closed, assigned to pabelanger

[2019-11-14 21:10] ichekaldin opened #64856 "Ansible PPA Is Missing 2.9.1 Packages"
##### SUMMARY

[Ansible main PPA](https://launchpad.net/~ansible/+archive/ubuntu/ansible) appears to be missing packages for 2.9.1 release.

On the other hand, [Ansible 2.9 PPA branch](https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.9) has them.

Potentially related to missing packages for Ubuntu Xenial/Trusty (reported in #64160).

Is this intentional? This appears to be an oversight/bug

[2019-11-14 21:38] #64043 closed, assigned to nobody

[2019-11-14 22:35] tofi86 commented on #45850
It's not only the item types `password` and `Secure Note` for me, it's also the item type 'login' which does not work for me because the username and password fields are not wrapped in a section. Other item types work for me with Ansible 2.9.1.
It also works if i query the `login` item for a field in a specific section...

🤷‍♂

[2019-11-14 22:38] nitzmahone commented on #64856
Yeah, we still haven't automated that, so it's a manual copy that we have to wait for the main builds to be finished to do. They should be there within the next hour...

[2019-11-14 22:38] #64856 closed, assigned to nobody

[2019-11-14 23:24] Rylon commented on #45850
Hi @tofi86 ate you able to provide a couple of example playbooks of when the behaviour you expect isn’t working correctly please? I’ll take a look.

[2019-11-15 00:16] majerus1223 opened #64875 "Expand documentation regarding /modules/system/mount.py"
##### SUMMARY
The Ansible documentation for Mount does not specify which file systems are supported. Perhaps state what file systems are supported in the documentation?  IE NFS, XFS, BTFS, EXT4, etc

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
/modules/system/mount.py mount

##### ANSIBLE VERSION
2.9

[2019-11-15 00:38] phanirajl opened #64876 "Task ec2_vpc_peer Add "cidr_block" parameter for VPC Peering"
SUMMARY

    Alter ec2_vpc_peer.py to add the  requester "cidr_block" parameter when creating the peering connection.

I just took code from ansible/2.8.4_1/libexec/lib/python3.7/site-packages/ansible/modules/cloud/amazon/ec2_vpc_peer.py

    ec2_vpc_peer.py has unhelpful error messages when you are missing a parameter. This is easily fixable by doing some parameter checking in main(). I copied a

[2019-11-15 00:39] phanirajl commented on #64876
author: Mike Mochan (@mmochan)

[2019-11-15 01:50] jacksonp2008 commented on #64613
Any update on this?  Seems like a very simple issue.

[2019-11-15 01:54] #54331 closed, assigned to nobody

[2019-11-15 02:28] Fred-sun commented on #57965
@Harry93 Could you help share your playbook and log? Thank you very much!

[2019-11-15 03:06] JohnVonNeumann commented on #64836
That's strange, I checked this pretty thoroughly before creating the report. Let me know if there's anything else you need.

[2019-11-15 03:13] Fred-sun commented on #61984
@neleshgoel Under what circumstances did you encounter this problem? Can you share your playbook and full log? Thank you very much!

[2019-11-15 03:19] brstallings-clgx opened #64879 "Looping with the Special Variable Groups and a regular variable does not iterate"
##### SUMMARY
I'm in the process of adding nodes to our F5 appliances using dynamic inventory in Google Cloud.
The problem I'm running into is when I'm running the loop in order to pull instances from the groups in dynamic inventory using a variable, Ansible is throwing the following error:
fatal: [fncuc1gbbigip01-q19v]: FAILED! => {"msg": "'dict object' has no attribute '{{gcp_inventory_group}}'"

[2019-11-15 03:53] jborean93 commented on #55736
Fixed by https://github.com/ansible/ansible/pull/64880

[2019-11-15 03:53] #55736 closed, assigned to nobody

[2019-11-15 04:21] lpugoy opened #64883 "Tasks inside a block that use a `loop` are not skipped even if the block's `when` condition evaluates to `false`"
##### SUMMARY

Tasks inside a block that use a `loop` are not skipped even if the block's `when` condition evaluates to `false`. Tasks that don't use a `loop` are skipped.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Loops

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS version: macOS Mojave 10.14.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2019-11-15 04:41] #64453 closed, assigned to GomathiselviS

[2019-11-15 05:10] rajeevarakkal commented on #64176
@markatdxb, this module cater help you to fetch the device information from DellEMC OpenManage Enterprise (OME). Kindly ensure you have the DellEMC OpenManage Enterprise (OME) appliances up and running with devices discovered in it.

[2019-11-15 05:53] urajio commented on #33699
Same error with Ansible 2.9 and MacOS 10.15.1
When I try to download big file in "become" block

[2019-11-15 06:07] mpechner commented on #51122
ok, code done.  So done? :-D  Will start writing tests this weekend before I do the pull request.
cluster_name is required for almost everything.
resource_type is the resource type.  Otherwise I'd have a optional parameters for each resource type, cluster, tasks, service ... Which I can still do.  Feedback good.
If resource_type is cluster, then resource is not required, unless you guys think it s

[2019-11-15 06:55] Akasurde commented on #64883
!component =lib/ansible/executor/task_executor.py

[2019-11-15 07:22] #44340 closed, assigned to nobody

[2019-11-15 07:34] markatdxb commented on #64176
Thanks for clarification. We use OME shortcut for OpenManage Essentials. Anyway i understand that module works with Enterprise version only.

[2019-11-15 07:34] #64176 closed, assigned to nobody

[2019-11-15 07:35] bmalynovytch commented on #19814
I can confirm that rebooting solves the issue for a while.
In my case, everything worked in local, they started to fail when accessing the host through an OpenVPN tunnel.
[code]

[2019-11-15 08:23] jxs commented on #46362
Hi all, thanks for getting this moving, is this module planned to support creation of pods or should there be another one dedicated solely for it, like `docker_network` but for pod management?
thanks

[2019-11-15 08:33] spradeepv commented on #63902
I am getting the same error on version 2.8.6. Any update on this issue?

[2019-11-15 08:48] Harry93 commented on #57965
Sure, but I've generalized the contents ;)

I use a customized docker image based on ansible/ansible:centos7. After building the image I mount the playbook into /home/playbook.yaml and set the ansible environment variables required to authenticate to azure.

Dockerfile:
`FROM ansible/ansible:centos7

RUN python -m pip install --upgrade pip cryptography
RUN pip install ansible[azure]

CMD ["/bin/ba

[2019-11-15 09:44] JoshuaEdwards1991 commented on #51663
You could try

[code]

[2019-11-15 09:49] rajeevarakkal commented on #64176
Sure, We will update the descriptions accordingly

[2019-11-15 10:07] jtyr commented on #64875
The `mount` is filesystem-independent and supports all filesystems which are supported by the `mount` command itself.

@ansibot please close this issue as it's `notabug`.

[2019-11-15 10:10] #64875 closed, assigned to nobody

[2019-11-15 10:24] jutkarsh079 commented on #64503
I have the same issue. Tried #64544 but no success . I am trying to vmotion a vm from one host to another in same cluster. there is no resource pool defined. I am able to do the same manually from web interface.
Ansible version - 2.8.6

[2019-11-15 10:39] Akasurde commented on #64815
@zraider7 Thanks for testing this PR. Could you please use #64890 with #64821 and try again ?

[2019-11-15 10:41] Sispheor commented on #58929
Hi @Fred-sun. Thanks for your answer.
Can you tell me where I'm supposed to add the testing file in the Ansible repository?
In the `azure_preview_modules` the path is `tests/integration/targets/azure_rm_postgresqlserver/tasks/main.yml`

But in Ansible repo I only have `tests/integration/targets`.

BTW, I first opened my PR in the [azure modules repo](https://github.com/Azure/azure_modules/pull/109

[2019-11-15 10:53] Akasurde commented on #63902
@spradeepv Could you please try 2.8.7 release since it contains the fix ?

needs_info

[2019-11-15 10:55] Akasurde commented on #63902
resolved_by_pr #64011

[2019-11-15 10:55] Akasurde commented on #63902
@jarekgajewski, Could you please check PR #64011 and let us know if it works for you, Thanks. needs_info

[2019-11-15 10:56] #63902 closed, assigned to Akasurde

[2019-11-15 11:05] gerardocastaldo commented on #64318
Hello, i would confirm you that the issue is resolved in ansible 2.9.1.

Thanks
Gerardo

[2019-11-15 11:05] #64318 closed, assigned to nobody

[2019-11-15 11:12] pgbidkar commented on #64503
Hi @jutkarsh079 Please can you share your playbook. Hosts in same cluster I have not seen any issue in vMotion. only in case of hosts in different cluster resourcePool is required

Thanks

[2019-11-15 11:21] Akasurde commented on #64354
@kclinden Thanks for reporting this issue. Could you please provide `-vvvv` output for cluster task for second run ?

Thanks

needs_info

[2019-11-15 11:33] ssbarnea commented on #46362
Lets try to march currently existing docker modules in order to

- ease cross migration
- avoid creating an megalosaurus module that tried to do everything and that ends up being unmaintainable
- lets aim to get this in ASAP, as there is a bit g need for it

[2019-11-15 12:16] zraider7 commented on #64815
That fixed it up! Thanks for the quick turn around on that.

[2019-11-15 12:17] akaFalsh opened #64893 "win_feature fails when using include_sub_features on Windows 2016 Server"
##### SUMMARY
When using win_feature with include_sub_features on Windows 2016 Server it returns error: "Failed to install Windows Feature: The request to add or remove features on the specified server failed.\r\n Installation of one or more roles, role services, or features failed.\n The source files could not be downloaded. \r\n Use the "source" option to specify the location of the files that a

[2019-11-15 12:17] zraider7 commented on #64815
Whoops, not sure if I was supposed to close it before the merge into master. sorry about that

[2019-11-15 12:42] sshnaidm commented on #46362
In module that I prepared there is an option `pod:` for container. If there is such pod, container will be attached to it. If there is no such pod, it will be created on the fly and container will be attached to it. (Exactly as it works with `podman container run --pod newpod ...` ). For more advanced pod management it will be a separate `podman_pod` module.

[2019-11-15 12:46] jxs commented on #46362
yeah agree with it

ok awesome! ❤️

[2019-11-15 13:37] neleshgoel commented on #61984
[azure_managed_disk.zip](https://github.com/ansible/ansible/files/3851678/azure_managed_disk.zip)
Uploaded zip file includes the logs and the yml that is creating and attaching the disk to VM.

Executing the yml multiple times cause the issue :
- Increment the LUN
- Update the physical volume of the Disk

Let me know in case if you would need more information.

[2019-11-15 13:49] mihudec opened #64896 "Module nxos_l2_interfaces does not set switchport mode"
##### SUMMARY

**First of all:** I really hope that this issue is a result of me doing something wrong. I've checked the docs but haven't found any mentions regarding this issue. Or maybe it's just a bug in my specific setup/NXOS version.

Using module nxos_l2_interfaces does not configure *switchport mode* on switch interface. Only native_vlan, allowed_vlans and access vlan are pushed to the devi

[2019-11-15 13:53] victron commented on #63905
Hello @sky-joker ,
actually it were a question, but you did more than simple answer )))
Thank you!!!

p.s. Sorry for latter replay....

[2019-11-15 13:53] #63905 closed, assigned to nobody

[2019-11-15 13:54] tomwassenberg commented on #58688
Maybe this could be made non-default behavior then, hidden behind a parameter (e.g. `always_validate`).

If the docs for such a parameter would mention the possible negative side-effect (longer duration), people can then make the trade-off themselves.

[2019-11-15 14:12] D3DeFi commented on #64291
I second what @mycloudrevolution is reporting. Issue seems to happen when `customvalues` parameter is used.

[2019-11-15 14:13] edsantiago opened #64897 "error: argument --ssh-common-args: expected one argument"
##### SUMMARY
Using the `--ssh-common-args` option with a value such as `"-o GSSAPIAuthentication no -i /home/foo/.ssh/id_foo"` yields:
[code]
It looks like db6cc603528 may have broken parsing of args with spaces.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/cli/arguments/option_helpers.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fe

[2019-11-15 14:25] thinkl33t opened #64898 "virt_net modify doesn't make changes permanently if a network is active"
##### SUMMARY

Making a change using virt_net will act differently if the network is running, or inactive.  If running, the change is made temporarily to the running network.  If not running, the change is made to the config.

This is due to the `libvirt.VIR_NETWORK_UPDATE_AFFECT_CURRENT` flag being passed to the modify command at https://github.com/ansible/ansible/blob/b1360c0d943e50239c8f8bfb0c6

[2019-11-15 14:40] mslebodnik opened #64899 "lineinfile race condition"
##### SUMMARY
when running following task from different playbooks simultaneously, sometimes only one update is in /etc/hosts, but both tasks finished succesfully

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[ans@master ~]$ uname -a
Linux master.prg-dc.dhl.com 3.10.0-862.el7.x86_64 #1 SMP Wed Mar

[2019-11-15 14:44] mikewiebe commented on #64896
@mihudec Regarding how to configure `switchport mode`.  I started using the `nxos_*_interfaces` modules for a setup of my own.  The `nxos_interfaces` module is used to set the mode as either `layer2` or `layer3`.

See: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_interfaces.py#L71

Once the mode is set, then either the `nxos_l2_interfaces` or `nxos_l3_interfa

[2019-11-15 14:55] mihudec commented on #64896
@mikewiebe Thank you for a quick response, however, I am aware of `nxos_interfaces` and how to use this module to configure port as either layer2 (switchport) or layer3 (no switchport). The issue I'm facing, is that the  `nxos_l2_interfaces` does not configure the (already layer2) port as trunk. In the provided example, the first task makes sure the interface is layer2 using `nxos_interfaces`, the

[2019-11-15 14:56] mschelln commented on #64774
Have the same issue.
Here's my playbook (sensitive information masked with *):
[code]

This was cloning the template into a running VM...unfortunately with same MACs as the template.
Tested with several Ansible versions (2.7.x, 2.8.x) - always with same result: VM is created, but gets wrong IP caused by wrong MACs (all NICs).

Debugged the Python code behind and might found a bug in
`/usr/lib/pyth

[2019-11-15 14:59] marcinpraczko commented on #46152
Yes - is broken and I commended on closed PR. IMHO would be very nice to have module which work with indepondecy (as ansible has been designed to). I comments above that was information of using `grafana lookup module` however from my point of view this is not a point of indepondecy. Module should be able run multuiple times and present 'change' only when something changed.

[2019-11-15 15:03] D3DeFi commented on #64291
@Akasurde ^

[2019-11-15 15:21] sivel commented on #64897
I've looked into this, and this is a limitation in argparse, and one that cannot be worked around by us, but one that end users must handle.

There are a few options:

1. Use an `=` after the argument:

[code]
1. Escape the hyphens in the argument value:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https:/

[2019-11-15 15:21] #64897 closed, assigned to nobody

[2019-11-15 15:27] sivel commented on #64883
This is expected.  A `when` statement on a `block` does not prevent the `block` from being evaluated, instead, think of any keyword that is applied to a block, being merged down onto the underlying tasks.

So this:

[code]

Is equivalent to:

[code]

Per the documentation at https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#loops-and-conditionals :

The meaning of that

[2019-11-15 15:27] #64883 closed, assigned to nobody

[2019-11-15 15:29] sivel commented on #64879
You cannot double nest `{{ }}`, as such your syntax to reference the variable `gcp_inventory_group` is invalid.

Instead you need to use the following:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-15 15:29] #64879 closed, assigned to nobody

[2019-11-15 15:36] mschelln commented on #64842
Have a look to [https://github.com/ansible/ansible/issues/64774](https://github.com/ansible/ansible/issues/64774) (MACs not taken from playbook, but from template).
Perhaps its the same reason (for a general bug fixing).

[2019-11-15 15:37] mschelln commented on #64774
Have a look to [https://github.com/ansible/ansible/issues/64842](https://github.com/ansible/ansible/issues/64842) (datastore not taken from playbook, but from template).
Perhaps its the same reason (for a general bug fixing).

[2019-11-15 15:41] mikewiebe commented on #64896
@mihudec Ah, I see what you mean now.  I took a quick look at the code under https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/network/nxos/config/l2_interfaces/l2_interfaces.py and I don't see support for the `switchport mode trunk` command so I believe this is missing functionality/bug in the module.

[2019-11-15 15:49] mihudec commented on #64896
@mikewiebe Yup, I've done the same and haven't found anything, but I didn't have time to go through all the ins and outs of new modules, so maybe... It seems weird that this module would get to the core without this basic functionality. But just the fact that you can configure both access and trunk parameters on the same interface in one task is weird enough, at least to me. But I'm sure there's a

[2019-11-15 16:05] knagamin opened #64902 "allow_duplicates: an example of a document doesn't work"
##### SUMMARY

[The document](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-duplication-and-execution) says that `allow_duplicates: true` makes it possible to execute a same role multiple times in play but it doesn't work. Actually I'm not sure the current behavior is not intended or it's just an omission of correction in documents. However, I think the variabl

[2019-11-15 16:14] ck3mp3r commented on #55097
November and still no fix?

[2019-11-15 16:20] sivel commented on #64854
We do not actually support `sudo su` as a means of become.  The `su` become plugin implicitly adds `-c` which you have found.  To properly support `sudo su`, you would likely need to write your own become plugin.

Perhaps setting the `become_method` to `sudo` would be more flexible, but configuration to operate with `sudo su` is really outside of the scope.

If you have further questions please st

[2019-11-15 16:20] #64854 closed, assigned to nobody

[2019-11-15 16:23] mschelln commented on #64774
Seems to be a longer story. See [https://github.com/ansible/ansible/issues/51124](https://github.com/ansible/ansible/issues/51124).
Extract the solution of this (https://github.com/ansible/ansible/issues/51066), this change [https://github.com/zeot/ansible/commit/488055b4a28d0369152d803afb9bf36cbf8545f8](https://github.com/zeot/ansible/commit/488055b4a28d0369152d803afb9bf36cbf8545f8) should fix it

[2019-11-15 16:32] mycloudrevolution commented on #64291
@D3DeFi Thanks for your verification and Analysis!

And even the documentation for this Parameter has not changed.

Is there still a Parameter to set Advanced Options?

[2019-11-15 16:48] relrod opened #64903 "When we delegate_to a host, its python interpreter becomes the one cached and used for the inventory_hostname host of the play"
##### SUMMARY

Given `fact_caching=jsonfile` and `ansible_python_interpreter: auto`,
when we `delegate_to` a host as the first task in a play, the python interpreter of **the host we delegate to**
is what gets cached as the `discovered_interpreter_python` of **the host the play is defined for**.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

delegate_to and interpreter discovery

##### ANSI

[2019-11-15 16:57] sivel commented on #64903
Yes this is a duplicate of #63180

[2019-11-15 16:57] #64903 closed, assigned to nobody

[2019-11-15 17:10] pabelanger opened #64905 "Add --pre flag for ansible-galaxy client"
##### SUMMARY

We publish semver collection (vyos.vyos:0.0.1-dev58) to ansible galaxy, however by default it seems ansible-galaxy client will not be able to find it. You must specific the version number directly to fetch it.

https://galaxy.ansible.com/vyos/vyos

EDIT:

This is working as expect, but it would be nice to Include:

   --pre                       Include pre-release and development v

[2019-11-15 17:13] adworjan commented on #29394
Adding a parameter such as "firstmatch" that is used in lineinfile would be perfect.

I am currently having issues with the "insertbefore: BOF" if a new line is detected at the end of the file. By using the first match in lineinfile it works as one would expect to add at the beginning of the file.

[2019-11-15 17:20] pabelanger commented on #64905
Talking with people, I think what we want to add is the ability to pass --pre-release flag to ansible-galaxy, to have galaxy client return the latest version uploaded.  This would work much like pip

[2019-11-15 17:41] brstallings commented on #64879
Thank you so much for your quick response.
I tried every combination I could think of to get this to work.
The only thing I never tried was removing the single quotes.
That worked perfectly.

[2019-11-15 18:47] #62927 closed, assigned to nobody

[2019-11-15 19:34] #64876 closed, assigned to nobody

[2019-11-15 19:35] phanirajl commented on #64876
No CIDR Block is required.. !

[2019-11-15 20:48] samdoran commented on #64569
@awheeler Can you take a look at #64855 and see if that fixes this issue?

[2019-11-15 21:02] bogd opened #64908 "nsupdate module crashes with EOFError"
##### SUMMARY
When trying to update a dynamic DNS zone using the `nsupdate` module, the task fails with an EOFError (see below).

The playbook with this exact configuration worked fine previously, and as far as I know there have been no changes in the playbook or on the DNS server.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nsupdate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[c

[2019-11-15 21:23] MrThePlague opened #64909 "nxos_lag_interfaces fails when force parameter is set"
##### SUMMARY
The **nxos_lag_interfaces** fails when the force parameter is set to either _yes_ or _no_.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_lag_interfaces

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Target host: Cisco Nexus 93180YC-EX, **NXOS 7.0(3)I7(6)**

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected "changed", m

[2019-11-15 21:39] MrThePlague opened #64910 "nxos_l2_interfaces does not set interface to trunk"
##### SUMMARY

The *nxos_l2_interfaces* module does not set the interface to a trunk, when trunked VLANs are defined.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
**nxos_l2_interfaces**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target host: Cisco Nexus 93180YC-EX, **NXOS 7.0(3)I7(6)**

##### STEPS TO REPRODUCE

Setting trunk parameters with the nx

[2019-11-15 21:46] MrThePlague opened #64911 "nxos_l2_interfaces does not allow for allowed_vlans "1-4094""
##### SUMMARY

The **nxos_l2_interfaces** does not have a provision to allow for all vlans to be allowed on a trunk, and does not accept the range _1-4094._

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

*nxos_l2_interfaces*

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target host: Cisco Nexus 93180YC-EX, **NXOS 7.0(3)I7(6)**

##### STEPS TO REPRODUCE

[2019-11-15 22:15] bogd commented on #64908
Amazingly enough, this was caused by my ISP that was somehow altering the DNS packets. After connecting to a full-tunnel VPN, the problem went away. Closing the issue now, since it is not related to ansible.

Thank you!

[2019-11-15 22:15] #64908 closed, assigned to nobody

[2019-11-15 23:24] ramon-garcia commented on #46809
Thank you

[2019-11-16 05:53] jutkarsh079 commented on #64503
Here is my task:
` - name: Perform storage vMotion and host vMotion of virtual machine
    vmware_vmotion:
      hostname: '{{ vCenter_host }}'
      username: '{{ vCenter_user }}'
      password: '{{ vCenter_pass }}'
      validate_certs: no
      vm_name: 'Ubuntu-16.04'
      destination_host: '192.168.80.24'
      destination_datastore: "datastore2 (1)"
    delegate_to: localhost`

[2019-11-16 06:00] Akasurde commented on #64503
@jutkarsh079 Could you please paste the `-vvvv` output of this task ?

[2019-11-16 06:08] jutkarsh079 commented on #64503
PLAYBOOK: site.yml ***************************************************************************************************************************************
1 plays in site.yml

PLAY [localhost] *****************************************************************************************************************************************
META: ran handlers

TASK [vm_migrate : Perform storage vMotion and ho

[2019-11-16 07:04] rightaway commented on #64483
@s-hertel I'm fine with any solution that doesn't require us to have to label the servers ourselves. Because that would be a maintenance nightmare. Every time you change add/remove a server from a network you'd need to remember to update the labels, which is unusable.

@LKaemmerling I think adding the ability to filter by network would be very useful if it enables this feature. Otherwise the usefu

[2019-11-16 08:00] atomlab commented on #40868
I do direct request to LXD API. And all it's ok.

*containers/<container_name>/metadata*

output

*containers/<container_name>/state*

output

**Ansible task**

[code]

But ansible is return incomplete data. Ansible waiting to response 60 sec.

[code]

[2019-11-16 08:13] atomlab commented on #40868
At the same time for another container on the same hypervisor.

[code]

[code]

[2019-11-16 08:43] rohit-smpx commented on #55097
@ck3mp3r or anyone else: could you verify that this PR, https://github.com/ansible/ansible/pull/62348, works for you?

Steps to setup a local env: https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#common-environment-setup

[2019-11-16 10:21] ShachafGoldstein commented on #64893
Not fully understand the issue. You are trying to install all of the dozens of iis features. If you run this yourself on the server you saw it working? Is the server connected to the internet, if not you may actually need to give the source info for offline files.

[2019-11-16 10:25] jborean93 commented on #64893
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-16 10:25] #64893 closed, assigned to nobody

[2019-11-16 12:21] tgadiev commented on #58585
We managed to generate sas token via `azure_rm_resource` module. Working example:
[code]
This code created sas valid for 120 seconds allowing to download it directly throu https during that period.

[2019-11-16 12:31] shuke163 opened #64933 "not supported between instances of 'NoneType' and 'int'"
## version info
[code]
[code]

### Refer to the official API call example，return the following error info
[code]
###
[code]

[2019-11-16 14:04] rnestler commented on #57483
Well feel free to close the issue, if it is out of scope for this module.

[2019-11-16 14:05] #57483 closed, assigned to nobody

[2019-11-16 14:07] grcancelliere commented on #64682
I have the same issue.

Line 174 of the [pacman module](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/pacman.py#L174) searches the `pacman` output for a string starting with `Name `, but the output is localized, so in languages other than English `get_name` will return with an error. `get_version` suffers from the same problem.

The quickest way to solve this would

[2019-11-16 14:45] felixfontein commented on #25665
resolved_by_pr #62701

[2019-11-16 14:53] #25665 closed, assigned to nobody

[2019-11-16 15:11] felixfontein commented on #60536
@fdevans could you please respond?

[2019-11-16 15:43] scomoletti commented on #23073
why extra args? just treat match as a list and get rid of the quotes. iptables allows multiple match arguments. Additionally by getting rid of quotes you benefit other options like jump which will break if you try things like tproxy with it right now. Just eliminating quotes alone would fix a lot.

[2019-11-16 16:58] #64910 closed, assigned to nobody

[2019-11-16 16:59] MrThePlague commented on #64910
Looks like a duplicate issue: https://github.com/ansible/ansible/issues/64896

[2019-11-16 17:00] Andrei-Pozolotin commented on #63077
+1

[2019-11-16 17:09] seuf commented on #46152
I've finally found the issue. When your JSON file contain a `id` field, Grafana API will search for a dashboard with this id, and if it does not exists it return a 404.
I've fixed this in m'y pr https://github.com/ansible/ansible/pull/64097

[2019-11-16 17:54] aschult5 opened #64935 "notify is silently ignored on import_tasks"
##### SUMMARY

`notify` is silently ignored on `import_tasks`.
This leads to unexpected behavior.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

import_tasks

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

`ansible-playbook test.yml -c local -l localhost`

*test.yml:*
[code]

*tasks.yml:*
[code]

##### EXPECTED RESULTS

An error is printed similar to the one for `include_tasks`, i

[2019-11-16 18:18] pgbidkar commented on #64503
Hi @jutkarsh079 , I am not able to reproduce the issue. Below is my output

[code]
My playbook is
[code]

Please can you try again with PR #64544

Thanks

[2019-11-16 19:15] oldskoolsig opened #64936 "Failure when using cgroup_perf_recap"
##### SUMMARY

When running:
[code]
I'm seeing the following:
[code]
I'm not sure if this is related, but I'm seeing this when facts are being gathered:
[code]

If I comment out the following lines:
[code]
The playbook runs as expected, but I'm unable to utilize the cgroup_perf_recap callback.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

My guess is there's an issue with the cgroup_perf_r

[2019-11-16 19:38] hannseman commented on #64820
This is a duplicate of issue https://github.com/ansible/ansible/issues/55010.

[2019-11-16 19:40] hannseman commented on #64820
duplicate_of #55010

[2019-11-16 19:45] #64820 closed, assigned to nobody

[2019-11-16 20:15] shellraiser commented on #51858
Correct, that field should be optional.

[2019-11-16 21:29] aschult5 opened #64937 "ignore_unreachable documentation needs improvement"
##### SUMMARY

The `ignore_unreachable` keyword is not offered in the error handling documentation.
The `ignore_unreachable` keyword description is misleading.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

playbooks_error_handling.rst
playbooks_keywords.rst.j2
keyword_desc.yml

##### ANSIBLE VERSION

[code]

##### ADDITIONAL INFORMATION

With this change, I'd expect users to more

[2019-11-17 00:34] jhg03a opened #64939 "include_vars missing Nonetype check"
##### SUMMARY

The include_vars action plugin now fatally breaks when given a NoneType object.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

https://github.com/ansible/ansible/blob/b04940d2567fa5c4779e3bb6073f7388e619bcd9/lib/ansible/plugins/action/include_vars.py#L53

##### ANSIBLE VERSION

[code]
It appears to have began breaking in the 2.9.0 release having been working in the 2.8.5 rele

[2019-11-17 00:35] jhg03a commented on #64939
This appears to have come from https://github.com/ansible/ansible/pull/57605.

[2019-11-17 00:45] jhg03a commented on #64939
And may also have interaction with https://github.com/ansible/ansible/issues/56775

[2019-11-17 02:25] ashrafhasson opened #64952 "ansible-playbook incorrectly reports ovirtsdk4 is missing when pycurl is compiled without ssl support"
##### SUMMARY

`ansible-playbook` reports that ovirtsdk4 version 4.3.0 or higher is required even though the latest version of ovirt-engine-sdk-python is installed. This happens when pycurl is installed through `pip` and is compiled without SSL support, e.g., without exporting `PYCURL_SSL_LIBRARY=openssl`, and running against RHV 4.2 or higher.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2019-11-17 06:31] ShachafGoldstein commented on #30412
IMHO commands should fail if the resource doesn't exist. You can always add failed_when and such to ignore the specific error to ensure your use case works.

@jborean93 @nitzmahone - thoughts?

[2019-11-17 06:43] ShachafGoldstein commented on #59056
Can you say which updates were installed? since that error is a very generic error of WU it has hard to pinpoint the issue.

[2019-11-17 07:01] ShachafGoldstein commented on #62343
What versions of pywinrm are you using?

[2019-11-17 08:37] mafalb opened #64954 "ansible_virtualization_ facts inside podman container are wrong"
##### SUMMARY
When running ansible inside a container with podman, I get

[code]
It does not detect that it is a guest running inside a container

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

podman version 1.4.4
from latest centos 7 extras

`$ podman run -ti centos:7`

##### STEPS TO REPRODUCE

[2019-11-17 08:54] blake commented on #29398
This was resolved in https://github.com/ansible/ansible/pull/56408. This issue can be closed.

[2019-11-17 09:18] blake commented on #61699
Because you have not defined a value, `consul_kv` is trying to read from the specified `key`. This behavior is actually documented under the description of the module's [`state` parameter](https://github.com/ansible/ansible/blob/b04940d/lib/ansible/modules/clustering/consul/consul_kv.py#L38-L39).

You're correct in that this module requires you to provide some true value (1 or a blank string - "")

[2019-11-17 09:22] rosowiecki commented on #64741
OK, first_found lookup does work for directories, I forgot about delegate_to proper file repository. My bad.

[2019-11-17 09:22] #64741 closed, assigned to nobody

[2019-11-17 09:33] blake commented on #11042
I'd like to note that there's also a request to implement this in the underlying python-consul library – https://github.com/cablehead/python-consul/issues/263.

[2019-11-17 11:28] Tomek80Bytom commented on #64682
Yes, you are right. I've made an investigation a few days ago and the issue is exactly as you described above. I think that both methods, `get_name` and also `get_version` should be rewritten, because they generally based on searching for strings but unfortunately, these strings are related to the user localization settings, so for all non-English users, this module is currently completely useless

[2019-11-17 11:51] ganeshrn commented on #64634
Yes please provide capability listing as it might help to identify if it is iosxr or iosxe device but in addition to that will need right rpc to execute on iosxr to fetch the os version and related details fo sake of facts gathering.

needs_info

[2019-11-17 13:42] felixfontein opened #64956 "Modules using add_file_common_args=True and the files document fragment have multiple undocumented arguments"
##### SUMMARY
If a module sets `add_file_common_args=True` when calling `AnsibleModule`, all elements from [FILE_COMMON_ARGUMENTS](https://github.com/ansible/ansible/blob/e9d29b1fe4285d90d7a4506b80260a9e24c3bcea/lib/ansible/module_utils/basic.py#L229-L257) are included in the argument spec. The [files document fragment](https://github.com/ansible/ansible/blob/e9d29b1fe4285d90d7a4506b80260a9e24c3bc

[2019-11-17 14:04] bidord opened #64957 "extract() filter fails when key does not exist in container"
##### SUMMARY
`extract()` filter fails when key does not exist in container

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core filters

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(default)
[code]

##### OS / ENVIRONMENT
Any.

##### STEPS TO REPRODUCE
test-extract.yml:
[code]

##### EXPECTED RESULTS
All tests should print `SUCCESS`.
[code]

##### ACTUAL RESULTS
Some tests fail during

[2019-11-17 14:07] rdonkin opened #64958 "routeros_facts crashes with KeyError in populate_ipv6_interfaces()"
##### SUMMARY

routeros_facts crashes with KeyError in populate_ipv6_interfaces()

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

routeros_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control machine: macOS 10.13.6

Target device:
[code]

##### STEPS TO REPRODUCE

1. Create the files `routers` and `bug-interface.yml`
2. Reset router to default co

[2019-11-17 14:09] heuels commented on #55042
@bogd I would like to close this issue since the original problem you had is not a bug in `routeros_command` module. If you have any further questions on the topic feel free to comment on this one. Have a nice day :)

[2019-11-17 14:10] heuels commented on #55042
notabug

[2019-11-17 14:17] #55042 closed, assigned to nobody

[2019-11-17 16:42] kbreit commented on #63012
@feisacrabel Did you rename? Looks like it changed. Hopefully this gets to the right person.

Okay, lets see if we can schedule time for some chat. What timezone are you in?

[2019-11-17 16:45] sky-joker commented on #64442
Hi @sk1917

Thank you for reporting this issues.
Could you please check PR https://github.com/ansible/ansible/pull/64962 and let us know if it works for you.

thanks.

[2019-11-17 16:48] knagamin commented on #64902
Thank you @sivel .

I was able to confirm that `_extend_value` removes duplicates and the alternative idea you said makes correct. I'm planning to add tests. Give me some time before PR.

[2019-11-17 17:17] apollo13 opened #64963 "dnf/yum module not idempotent and reports changed for an installed package"
##### SUMMARY

When installing epel-release with `dnf/yum` it reports as changed even though the package is already installed. This happens because the second iteration performs an upgrade!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS is centos:8 in a docker container

##### STEPS TO REPRODUC

[2019-11-17 19:25] mariolenz commented on #63374
@k3x PR #64458 has been merged. Can you please check if this solves your problem and close this issue if it does?

[2019-11-17 19:32] mariolenz commented on #64590
!needs_info

Can you please show us your playbook that fails and the result you get? That would make it a lot easier for us to investigate this issue.

[2019-11-17 19:32] #62367 closed, assigned to nobody

[2019-11-17 20:11] ansible-sam opened #64966 "Ansible blockinfile ^M bug!?"
### SUMMARY
In SuSe SLES there is a file: /etc/vimrc. It contains ^M characters, like in line:  101 containing:
    map! <ESC>OM  ^M
When running module blockinfile on this file it removes the ^M characters.
The blockinfile just needs to adds some lines on the end of the file. Even when the lines are already there it removes the ^M characters.

It looks like that it reads the file and cannot handl

[2019-11-17 21:00] kbreit opened #64968 "Meraki - Integration tests shouldn't have connection tests"
##### SUMMARY
Many of the Meraki modules' integration tests have connection tests. These tests should be moved into unit tests.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-11-17 21:05] apollo13 opened #64969 "openssh_keypair module not idempotent on debian"
##### SUMMARY
`openssh_keypair` seem to report changed in cases where it shouldn't

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openssh_keypair

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Sid in a docker container, see playbook below

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I'd expect the second `openssh_keypair` task to re

[2019-11-17 21:20] felixfontein commented on #64969
I was able to reproduce it with your playbook. Interestingly, the files had the same content after the second run. I'll investigate it a bit more tomorrow...

[2019-11-17 21:22] apollo13 commented on #64969
Yeah, I had the same aha-effect. I also tried to explicitly set mode=0600 but that didn't help either :/ Let me know if you need anything or if I should test something.

[2019-11-17 21:30] #55962 closed, assigned to nobody

[2019-11-17 21:53] schrodervictor commented on #56930
This is truly a wrong decision in my honest opinion. And for the wrong reason. Reducing the number of support requests, really?

Ansible, as a tool, should not impose language specific details to the end user. I'm already so upset with Terraform imposing me all that Golang down the throat, now the same is happening here with Ansible and the "pythonic" style. Don't get me wrong, I work quite well w

[2019-11-17 22:27] davidolrik opened #64971 "Synchronize module does not work when remote shell is zsh"
##### SUMMARY
When rsync'en to a remote host that uses zsh the rsync fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[synchronize](https://docs.ansible.com/ansible/latest/modules/synchronize_module.html)

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Target system:

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Files are uploaded

##### ACTUAL RESULTS

rsync

[2019-11-18 01:17] frsh-augustin commented on #62901
@Fred-sun Sorry for the late response. This has been fixed, I close this ticket.

[2019-11-18 01:17] #62901 closed, assigned to nobody

[2019-11-18 01:25] jutkarsh079 commented on #64503
Hi, I just checked my vCenter and we do not have any clusters. So they are independent hosts without any resource pools.

[2019-11-18 01:35] techie879 commented on #30411
i finally switched over to ansible pull method.

On Wed, Nov 13, 2019 at 3:04 AM Fabio Scaccabarozzi <
notifications@github.com> wrote:

--
Regards,
*Imam Toufique*
*213-700-5485*

[2019-11-18 01:50] sjlongland opened #64973 "ec2_instance broken on Ubuntu 18.04"
##### SUMMARY

`ec2_instance` is broken on Ubuntu 18.04.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`ec2_instance`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
(yes, it returned the empty string.)

##### OS / ENVIRONMENT

* Target OS: ask Amazon -- I don't know what they use to host AWS EC2 itself.
* Local OS: Ubuntu 18.04.3 LTS AMD64

##### STEPS TO REPRODUCE

[code

[2019-11-18 01:53] Fred-sun commented on #62901
Thanks for your attention to ansible!

[2019-11-18 01:54] sjlongland commented on #64973
I initially tried Ansible from the Ubuntu PPA, hit the same issue.  So after much argument with `make deb` installed the latest at commit 096c3ffa80cad99d16a2545bc721806239ecc437.

`python-boto3` is the latest version according to APT.  It usually is not a good idea to mix-and-match Debian packages and `pip` installs, so the policy is to source all Python modules via the Debian packaging system.

[2019-11-18 02:02] sjlongland commented on #64973
Tried updating `boto3`, checking out the repository and using `stdeb` to generate a package from revision `899522c8015674eabddbce34ab05df0e47566441`.  I get the same stack trace.

So evidently `ec2_instance` is compatible with _older_ releases of `boto3`, but not current or newer.

[2019-11-18 02:05] Fred-sun commented on #58585
@nicolaibaralmueller Does the approach in the comments above address your needs? Thanks a lot!

[2019-11-18 02:19] sjlongland commented on #64973
BINGO: it's `botocore`… checking it out and making a package from revision `d9a1e0789b00d91d24b5456a74a0afbbd4667e62` seems to have nailed it.

https://github.com/boto/botocore/issues/1258 I think relates to this problem, it's an interaction between the shipped `requests` in Ubuntu/Debian and `botocore`.  So not an Ansible bug, but probably worth documenting it here for the sake of those who trip

[2019-11-18 02:19] #64973 closed, assigned to nobody

[2019-11-18 02:43] profilernz commented on #47898
+1
Currently there is no security group assignment support for interface types.

[2019-11-18 03:15] prasadkatti commented on #62856
Are we adding features to the boto2 based `ec2` module? If yes, then I would like to take a crack at this.

[2019-11-18 04:11] ganeshrn commented on #64799
I am not able to reproduce the issue on python 3.6 with iosxr 6.1.3 version.
Please enable the device interaction logging to identify exactly which RPC is failing Refer: https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging

After running the task grep for `jsonrpc request` and `jsonrpc response` to identify whic

[2019-11-18 05:04] cuichenli opened #64978 "win_psexec module is exposing password to output"
##### SUMMARY
The `win_psexec` module is exposing the password and username to output, is that intended? Is there a way to hide it? Thanks!

My playbook:
[code]

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_psexec

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Host OS : Linux
Target OS: Windows

[2019-11-18 05:07] Akasurde commented on #64442
resolved_by_pr #64962

[2019-11-18 05:07] Akasurde commented on #64442
@sk1917, Could you please check PR #64962 and let us know if it works for you ? <br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br> Thanks. <br> needs_info

[2019-11-18 05:11] Akasurde commented on #63374
needs_info

[2019-11-18 05:13] felixfontein commented on #64956
There are also discrepancies between argument spec and documentation fragment:
 - `selevel` defaults to `s0` according to documentation, but not according to argument spec (no default);
 - the type of `mode` is `str` according to the documentation fragment, but `raw` according to the argument spec;
 - `unsafe_writes` defaults to `no` according to documentation, but not according to argument spec (

[2019-11-18 05:58] Akasurde commented on #64939
resolved_by_pr #64979

[2019-11-18 05:58] Akasurde commented on #64939
@jhg03a, Could you please check PR #64979 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-11-18 06:01] Fred-sun commented on #61984
@neleshgoel I executed your playbook and the result is PASS. What is the platform and ansible version of your run playbook?
In addition, after ansible 2.8, the module for managing disks is the M(azure_rm_manageddisk) module. Thank you very much!

[2019-11-18 06:06] Akasurde commented on #64957
resolved_by_pr #64959

[2019-11-18 06:20] Fred-sun commented on #61984
@mybayern1974 Would you please take a look this issue? Thank you very much!
[code]

[2019-11-18 06:36] pgbidkar commented on #64503
Hi @jutkarsh079 , I am not able to reproduce the issue. tried moving both the hosts out of Cluster (Both the hosts are independent). ResourcePool is not mandatory, if User doesnt pass, we retrieve the resourcePool from Host parent. Please try #64544
Thanks

[2019-11-18 07:25] pawellrus commented on #59056
That was October cumulative update KB4519338.

I has another issue recently with searching of new updates. New updates weren't been found when running process from ansible. But starting update process from GUI gave a couple of new updates. But that issue gone after some time.

I didn't experienced such problems at older versions of WinServer. There is definetely some issue in server 2019 that make

[2019-11-18 07:44] Akasurde commented on #64954
resolved_by_pr #64981

[2019-11-18 07:44] Akasurde commented on #64954
@mafalb, Could you please check PR #64981 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-11-18 07:46] nicolaibaralmueller commented on #58585
It might. I will test when possible.

[2019-11-18 07:46] #58585 closed, assigned to nobody

[2019-11-18 08:41] Fred-sun commented on #62489
@mybayern1974 @haiyuazhang Would you please help take a look this issue? Thank you very much!

[2019-11-18 08:46] Fred-sun commented on #62499
@mybayern1974 @haiyuazhang Would you please help take a look this issue? Thank you very much!

[2019-11-18 08:54] neleshgoel commented on #61984
@Fred-sun did you execute the playbook multiple times ??? if Yes, when you say result is PASS does it mean that the LUN were not incremented and there were no changes to the physical volume ??

Ansible Version : ansible 2.8.5
Platform : Red Hat Enterprise Linux Server release 7.7 (Maipo)

[2019-11-18 09:01] Fred-sun commented on #61984
@neleshgoel The old comment has been deleted and I have the same problem as you( Increment the LUN). But I have not encountered I/O block issue. I will continue to try, Thank you very much!

[2019-11-18 09:45] Reshma-rechu opened #64984 "Ansible Tower issues with "delegate_to: localhost""
##### SUMMARY
I'm using Ansible Tower 3.5.2 (Ansible core 2.8.2)
My playbook has a delegate_to tasks section which is working fine in Ansible core but not in Tower. It seems tower is not working properly with "delegate_to: localhost" section.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION
# ansible --version
ansible 2.8.2
  config file = /etc/ansible/ansibl

[2019-11-18 10:09] adrianlzt commented on #63449
This PR is uncomplete. With ``force=false`` it does not work.

Fixed in https://github.com/ansible/ansible/pull/64986

[2019-11-18 10:13] Schrottfresse opened #64987 "ansible_sudo_pass not working anymore"
##### SUMMARY
In any vars the `ansible_sudo_pass` variable is not working anymore. It looks like `ansible_sudo_pass` got removed (https://github.com/ansible/ansible/commit/183ba93ba39f8590af8e36144c3174920acbe321#diff-b77962b6b54a830ec373de0602918318) because of deprecation. Looking at the documentation (https://docs.ansible.com/ansible/latest/plugins/become/sudo.html) `ansible_sudo_pass` should b

[2019-11-18 10:27] neleshgoel commented on #61984
@Fred-sun  Did you checked if the physical volumes were updated ???

For e.g
Physical Volumes post First Execution
lsblk
lsblk
NAME                      MAJ:MIN RM   SIZE RO TYPE MOUNTPOINT
fd0                         2:0    1     4K  0 disk
sda                         8:0    0   127G  0 disk
├─sda1                      8:1    0   500M  0 part /boot
└─sda2                      8:2    0 126.5G  0 p

[2019-11-18 11:38] Akasurde commented on #64936
!component =lib/ansible/plugins/callback/cgroup_perf_recap.py

[2019-11-18 12:42] jesk78 commented on #64799
Seems like get-config fails, while it's not failing with Python 2 or by using ncclient in Python 3 script:

`2019-11-18 13:32:15,176 p=root u=22319 | PLAY [LAB CSR1 config tests] *****************************************************************************************************************************
2019-11-18 13:32:15,226 p=root u=22319 | TASK [netconf edit-config] ***************************

[2019-11-18 12:51] zsmartin opened #64990 "Handler is skipped if the role is also in a failed conditional dependency"
##### SUMMARY

Setup:
- role A and B are explicitly included in the playbook (in this order)
- role B also conditionally depends on role A, but this condition is false

When running the playbook, the tasks in role A are executed (as they should be), but the handlers are skipped due to that previous (unrelated) condition.

The bug affects branch 2.8, 2.9 and devel (works as expected in 2.7).
#####

[2019-11-18 13:00] D3DeFi commented on #64291
I am not sure if there is any. This change is really inconvenient for me as I was depending on _Advanced Options_ for a few things. Maybe some of the vmware module namespace maintainers will be able to tell us if there is any, but I doubt so.

Regardless, I've been digging around commit history and found that this bug was first introduced ~3 years ago with addition of `vmware_guest_info` module in

[2019-11-18 13:17] Akasurde commented on #64291
First of all my apologies to everyone for breaking this feature. We will discuss this in (18 Nov' 2019) today's VMware working group meeting and will decide the next steps.

[2019-11-18 13:20] jpdasma commented on #63297
@Gillingham could you test the fix in my branch? Still need to download a Solaris 10 iso, can't remember my Oracle account.

[2019-11-18 13:23] D3DeFi commented on #64291
Thanks @Akasurde ! Let my now afterwards if I can be any help to you

[2019-11-18 13:24] ShachafGoldstein commented on #64978
We can make a patch to replace the password in the output with `*PASSWORD_REPLACED*` but if someone would need to see if the password value was formatted correctly they couldn't.

[2019-11-18 13:29] davydovk opened #64995 "credssp: requests auth method is credssp, but requests-credssp is not installed"
#### SUMMARY
10.73.0.58 | UNREACHABLE! => {
    "changed": false,
    "msg": "credssp: requests auth method is credssp, but requests-credssp is not installed",
    "unreachable": true

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
WinRM, Credssp

##### ANSIBLE VERSION
ansible 2.7.10
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules',

[2019-11-18 13:32] Akasurde commented on #62776
cc @kamathe

[2019-11-18 13:38] ShachafGoldstein commented on #59056
I Don't we have any way to resolve this. it seems like changes in how MS
deploys updates to these versions. they require human intervention.

On Mon, 18 Nov 2019 at 09:27, pawellrus <notifications@github.com> wrote:

[2019-11-18 13:42] ShachafGoldstein commented on #64995
Can you explain the bug here?
https://docs.ansible.com/ansible/latest/user_guide/windows_winrm.html#credssp
Clearly states you need to install the package.

[2019-11-18 14:16] markuman commented on #60205
every new 2.0.x release brings changes on the table with it.
it's not that easy to cover all minor versions between 1.4.x to 2.0.0 to 2.0.9.

[2019-11-18 14:35] toennito commented on #38605
I ran into the same issue today. Is there any hope on a fix?

[2019-11-18 14:48] heuels commented on #64958
@rdonkin, thank you for reporting this! It indeed does look a lot like #23949, and in fact a lot of code in `routeros_*` modules is adapted from `ios_*` modules, so it may well be the case.

I will look deeper into this issue and provide a fix in the coming days.

[2019-11-18 14:58] mooninite opened #64999 "Rescue tasks are run after a role called with import_role or include_role"
##### SUMMARY

Block + Rescue behavior is unexpected when the Rescue is inside of a role that is called with import_role or include_role. The Rescue tasks are called *after* the role completes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

import_role
include_role

##### ANSIBLE VERSION

[code]
This bug has occurred since at least 2.8.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-11-18 15:12] heuels commented on #64958
If it is not too much trouble – can you execute the following commands and post the output here?
[code]

[2019-11-18 15:14] davydovk commented on #64995
The package pywinrm[credssp] is already installed.

#pip install pywinrm[credssp]
Requirement already satisfied (use --upgrade to upgrade): pywinrm[credssp] in /usr/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): xmltodict in /usr/lib/python2.7/site-packages (from pywinrm[credssp])
Requirement already satisfied (use --upgrade to upgrade): requests>=2.9.1 in /u

[2019-11-18 15:16] coreoas commented on #64987
They have removed the user/sudo_password system in favor of the become_user/become_password system.

You can set the default `ansible_become_password` instead of `ansible_sudo_password`, and since the default `become_user` is root, it will work the same

[2019-11-18 15:21] sadok-f commented on #44374
+1

[2019-11-18 15:24] Schrottfresse commented on #64987
Hey @coreoas, thanks for your reply.

I'm aware of the deprecation of the old system, but the new sudo plugin supports `ansible_sudo_pass` or so the documentation says: https://docs.ansible.com/ansible/latest/plugins/become/sudo.html
So either the documentation is wrong or the variable is missing.
Anyway I would like to have this corrected one way or the other...

[2019-11-18 15:36] sivel commented on #64987
This issue was recently resolved in https://github.com/ansible/ansible/pull/62373 and will be backported to the 2.9.x release series in https://github.com/ansible/ansible/pull/64965

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-18 15:36] #64987 closed, assigned to nobody

[2019-11-18 15:36] okynos opened #65001 "Timeout passed on stressed Windows hosts without option to increase it"
##### SUMMARY

Hello Ansible team,

I have detected a problem when I launch some of my stress scripts over a windows host with Ansible, it seems that the host is really stressed at some point and Ansible reach the timeout limit at this line https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/powershell/async_wrapper.ps1#L150

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

 `li

[2019-11-18 15:39] ShachafGoldstein commented on #64995
What is the exact version of the packege?

[2019-11-18 15:51] forestoden opened #65003 "FortiOS - Support more encryption proposals for IPsec VPN Connections"
##### SUMMARY

FortiGate firewalls support a multitude of encryption standards for VPN proposals. When going to configure a `fortios_vpn_ipsec_phase1_interface` and `fortios_vpn_ipsec_phase2_interface`, the `proposal` only allows for DES encryption. In the CLI and GUI, there are much more encryption options that are supported. Ansible should support these features, because right now the VPN config

[2019-11-18 16:06] VincentHokie commented on #64788
This PR actually sorts this out (ish) by adding a "reconfigure" option to the ansible module.
https://github.com/ansible/ansible/pull/63464/files

My pain was around switching between backends which the reconfigure flag also helps with. Really hope it goes in soon, I want to avoid forking and using an internal version at work.

[2019-11-18 16:07] bobross419 commented on #31712
@Raman-Kathpalia I had the same issue as you, and throttle at task still had problems.  I was able to group the lineinfile in with another task and throttle them at the block level.  Not pretty and might have to be hacked together with something like a pause: seconds=1 if you don't have something else that logically groups there.

[2019-11-18 16:21] kumy opened #65004 "docker_swarm_info mismatch between parameters and examples"
There is a mismatch between the parameters list and the examples provided on page https://docs.ansible.com/ansible/latest/modules/docker_swarm_info_module.html

The parameter `nodes_filters` contains a trailing `s` in the parameter list, whereas the example is missing the `s`. Which one is the right syntax?

![Screenshot from 2019-11-18 17-20-11](https://user-images.githubusercontent.com/176794/69

[2019-11-18 16:21] sivel commented on #64984
This issue tracker is for the open source ansible project. For Tower support, please contact your support team for further assistance.

https://access.redhat.com/products/ansible-tower-red-hat#support

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-11-18 16:21] #64984 closed, assigned to nobody

[2019-11-18 16:29] shaopeng-lin commented on #64898
I have the same problem, is there any other ways to make my modification to the network persistent? Thanks.

[2019-11-18 16:44] damiandiaz76 opened #65005 "azure_rm_servicebusqueue: requires_session and requires_duplicate_detection are not set on service bus queue"
##### SUMMARY
azure_rm_servicebusqueue: requires_session and requires_duplicate_detection are not set on service bus queue

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Task: azure_rm_servicebusqueue

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected the

[2019-11-18 16:56] rgarrigue opened #65006 "wait_for a DNS entry"

[2019-11-18 16:58] #65006 closed, assigned to nobody

[2019-11-18 17:22] ekultails commented on #63891
@LastCaress77 Thanks for sharing! I do believe this will help accomplish what I'm looking for.

[2019-11-18 17:27] oldskoolsig commented on #64936
Akasurde, I'm trying to follow the comments you've posted, so please pardon my ignorance. Did you identify an issue that effects the cgroup_perf_recap on Centos8?

[2019-11-18 17:45] pritul95 opened #65008 "ec2_asg.py doesn't update target group"
##### SUMMARY
Target Group attached to `ec2_asg` won't get updated if you have same number of target group arns. Let's say you have target group A attached to ec2_asg, you now want to remove old target group A and want to attach B. This block of [code](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_asg.py#L1160) will skip instead of updating this scenario.

####

[2019-11-18 17:57] benjdudas commented on #64634
@ganeshrn I attached the capabilities listing from this host. This node running is running in one of our support labs so if you want me to set you up with a user/pass I am on internal slack.

Capabilities Listing:
[xr_capabilities.txt](https://github.com/ansible/ansible/files/3859960/xr_capabilities.txt)

[2019-11-18 18:55] pritul95 commented on #65008
@garethr @s-hertel I have a fix if you want me to create PR.

[2019-11-18 18:56] angystardust commented on #38605
@Tomorrow9 @pgbidkar Can you help here, please?

[2019-11-18 19:30] adakhin opened #65011 "Unexpected role_name behaviour with import_role variables"
##### SUMMARY
Passing `role_name` of the current role (role1) as a variable to another role (role2) leads to parameter being role2 name, not role1.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7.6 ansible master

##### STEPS TO REPRODUCE
[code]

role1/tasks/main.yml:
[code]

role2/tasks/main.

[2019-11-18 19:40] mestuddtc opened #65012 "ansible 2.9.0 breaks ansible-vault aliases"
##### SUMMARY

I set up an alias for ansible-vault so I didn't have to specify how to get the credentials every single time:
[code]
With Fedora upgrading to ansible 2.9.0, the alias is broken, giving and error:
[code]

Downgrading to ansible 2.8.5 works as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

####

[2019-11-18 19:41] #59513 closed, assigned to nobody

[2019-11-18 19:46] sivel commented on #65012
Ansible 2.9 switches from using python optparse to python argparse.  The switch to `argparse` means that the argument parsing is now more strict.

As such, `ansible-vault` has no argument called `--vault-id`.  `--vault-id` is only an argument for one of the sub commands.

As such, you cannot specify `--vault-id` before the sub command, it will have to be provided after.

Instead of using an alias,

[2019-11-18 19:46] #65012 closed, assigned to nobody

[2019-11-18 21:02] felixfontein commented on #64969
resolved_by_pr #65017

[2019-11-18 21:16] DrPyser commented on #33947
I'm encountering this issue on ansible 2.9.1, and none of the proposed fixes seem to work(setting `TMP`,  `TMPDIR`, setting `remote_tmp` in the ansible config). Has there been any movement around this? New alternative solutions?

[2019-11-18 21:16] DrPyser commented on #33947
bot_status

[2019-11-18 21:23] lp177 commented on #33947
The syntaxe
`- name: "Check for source code updates"
  environment:
    TMPDIR: "{{ deployement_location }}"
  git:
    repo: "{{ git_repository }}"`
Work actualy well for me with ansible 2.9.1

[2019-11-18 21:30] DrPyser commented on #33947
Never mind, got it working as well.

[2019-11-18 21:32] dicko82 opened #65019 "fortios_system_vdom created vdom is missing necessary config for dynamic routing"
##### SUMMARY
When creating a VDOM using the fortios_system_vdom module the vdom is created successfully but dynamic routing is broken. The route redistribution options are not visible in the fortios GUI and cannot be added via CLI.

The base config of a vdom created using this module appears to be missing all of the dynamic routing configuration that a manually created vdom has. This makes it imp

[2019-11-18 21:48] mjmayer opened #65020 "AWS Application Load Balancer Fails with Multiple Host Headers"
##### SUMMARY
When using the `host-header` condition for a load balancer rule if there are multiple values for the host header ansible fails to apply the changes with broken json output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
elbv2

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mint 19.2 / Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]
##### EXPECTE

[2019-11-18 23:26] Andrei-Pozolotin opened #65024 "BUG: ec2_instance module stopped working after update to python v 3.8 / ansible v 2.9.1"
##### SUMMARY

ec2_instance module stopped working after update to v 2.9.1

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_instance module
https://docs.ansible.com/ansible/latest/modules/ec2_instance_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

previously working snippet
[code]

##### EXPECTED RESULTS

[2019-11-18 23:48] apple4ever commented on #47301
Confirmed this still happens for me in 2.8

[2019-11-19 01:04] joeto0 commented on #26190
same issue here, we need to unencrypt all values and it is a nightmare, this must be common function

[2019-11-19 02:30] Akasurde commented on #64936
@oldskoolsig I was able to reproduce the issue on CentOS 7 itself. This PR will solve issue for CentOS8 as well since issue is not related to operating system.

[2019-11-19 02:33] #62816 closed, assigned to nobody

[2019-11-19 02:43] Fred-sun commented on #61984
@neleshgoel Physical volume not update, but the datadisk 'lun' is updated post repetitive execution. I'll try again on CentOS and Red hat.
[code]

[2019-11-19 03:41] ganeshrn commented on #64799
@jesk78 That's quite strange. So `get_config` is failing but the reason is still not clear.
Can you please update the file `lib/ansible/plugins/netconf/__init__.py` with https://gist.github.com/ganeshrn/3aee6c73dcff3dde116c06f67f8aefd2 which has curated logs to identify the root cause.
The logs are added using the python q library (https://pypi.org/project/q/). So you will need to install the q li

[2019-11-19 04:25] unix-bomber commented on #25465
Receiving this error. Using win_iis_webbinding as a workaround. Perhaps remove ssl as win_iis_webbinding is effective enough?

[2019-11-19 05:10] Akasurde commented on #64291
resolved_by_pr #65031

[2019-11-19 05:10] Akasurde commented on #64291
@mycloudrevolution, Could you please check PR #65031 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-11-19 06:02] justjais opened #65032 "Adding management of Switchport mode in newer *_l2_interfaces resource module"
##### SUMMARY

Adding management of Switchport mode in newer `*_l2_interfaces` resource module, which was present in older `*_l2_interface` modules

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ios_l2_interfaces
eos_l2_interfaces
nxos_l2_interfaces

##### ADDITIONAL INFORMATION

[code]

[2019-11-19 07:03] jackivanov opened #65036 "scaleway_user_data: multiline is broken, cloud-init doesn't work"
##### SUMMARY
There should be multiline in the cloud-init field, but instead either the module or API itself breaks it and sends the whole text as a string in double quotes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
scaleway_user_data

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

1. Update the cloud-init and start

[2019-11-19 07:13] rdonkin commented on #64958
@heuels Here's the output for those commands.   The OS version is what came with the device, ordered recently.

[code]
[A forum thread](https://forum.mikrotik.com/viewtopic.php?t=121269) revealed that this error happens when the ipv6 package is not enabled, and indeed it was not:
[code]
So I enabled it like this - see 'scheduled for enable' on right - followed by reboot:
[code]

Now the ipv6 comma

[2019-11-19 08:23] rgarrigue opened #65038 "rabbitmq_vhost fails with rabbit 3.8 due to bad node name"
##### SUMMARY
rabbitmq_vhost works with latest RabbitMQ 3.7 and fails with RabbitMQ 3.8.1

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_vhost

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10 AMI on AWS with RabbitMQ 3.8 installed from official packagecloud repo

[code]

##### STEPS TO REPRODUCE

Install a Debian 10 with Ansible 3.7.7, R

[2019-11-19 08:54] #63817 closed, assigned to trishnaguha

[2019-11-19 09:06] mycloudrevolution commented on #64291
Hi @Akasurde ,

the same playbook (se initial example) fails with the new module version:
[code]

[2019-11-19 09:12] jamesRUS52 commented on #64155
thank you, I will use postgresql_db
it works

[2019-11-19 09:33] dr4Ke commented on #64788
@VincentHokie
I don't have to switch between backends, and I hit this workspaces unavailable issue. A reconfigure will not make workspaces available for my backend, and I'll still hit the issue. Am I wrong?

[2019-11-19 09:36] D3DeFi commented on #64291
@Akasurde works for me when applying patch manually to vmware_guest.py copied from ansible pip installation

[code]

This would be good once backported to 2.9.2

[2019-11-19 09:39] sugitk commented on #64766
@samdoran
Sure I think so.  If the implementation is complex, I will tell it was declined to the customer..

[2019-11-19 09:44] chkp-orso opened #65043 "Can't pass parameter with value `false` to cp_mgmt modules"
##### SUMMARY

Can't pass parameter with value `false` to cp_mgmt modules
for example the following task, won't sent the parameter `add_default_rule`:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

check_point
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-11-19 10:00] #64770 closed, assigned to nobody

[2019-11-19 10:03] Akasurde commented on #64291
@mycloudrevolution @D3DeFi Let me know once when we are ready to merge this. 2.9.2 backport window is closing.

[2019-11-19 10:08] djasa opened #65046 "jinja2 version test"
##### SUMMARY
Sometimes there's need to do something for specific major version, not lower, not greater. Current `version` filters don't allow that, you always need to combine e.g. `>=` and `<` tests to get this result

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

core or jinja2

##### ADDITIONAL INFORMATION

[code]

There should be some operator, that would resolve `4.4.<anything>` as T

[2019-11-19 10:13] Akasurde commented on #64952
!component =lib/ansible/modules/cloud/ovirt/ovirt_auth.py

[2019-11-19 10:46] PardoJ commented on #46126
Hi guys, problem still here in 2.8.5, but this time, I think I have found the main problem!

Well, let me summarize the problem:
Sometimes, when using the synchronize module, the execution of the ansible script is suspended indefinitely.

An simple '`ps aux`' on the source host show the rsync command executed:
` rsync --delay-updates -F --compress --archive --no-perms --rsh=/usr/bin/ssh -S none -o

[2019-11-19 11:07] tcraxs commented on #64371
sorry for the late response, I will have a look to that today. Beside, I can ack the issue, I saw it also in my environment.

[2019-11-19 11:13] dr4Ke opened #65053 "Duplicate quoting of User option for ssh"
##### SUMMARY

I wanted to use a custom ssh binary and command line with ansible:
[code]
The command line generated by ansible was:
[code]
Notice the `'User="user1"'` double quoting. While the openssh client ignores it, `vault` tries to generate a certificate for `"user1"` which it considers not the same as `user1`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ssh plugin

##### ANSIBLE VE

[2019-11-19 12:10] thanos1983 opened #65056 "Ansible Python Version is wrongly validated as pre_task"
##### SUMMARY

Pre_task on playbook seems to be first validating Python2 instead of Python3.

On my playbook I am trying to validate the Python version. On this OS (Linux) I have two versions of Python:

[code]

I set the pre_task to validate the Ansible version and also the Python version through setup module. Sample of code:

[code]

The pre_task is failing as the validation is failing. The weir

[2019-11-19 12:48] jkrabbe commented on #62210
WTF? QA? The module is not even working with Ansible 2.9.1 for me. See #64526
Please let me know once a working Ansible version for nxos_interfaces is available.

[2019-11-19 13:01] mycloudrevolution commented on #64291
@D3DeFi Thanks for your support.

Works fine now,.

[2019-11-19 13:13] alanbchristie commented on #34144
Just fell into this trap with Ansible `2.9.0`. Any advice on a fix or work-around when generating a number of passwords?

[2019-11-19 13:19] #64291 closed, assigned to Akasurde

[2019-11-19 13:39] miso231 opened #65060 "Ansible fails when merging variables with encrypted text"
##### SUMMARY

Ansible fails when there are multiple hash variables that contain vault-encrypted string applied to host with config option `hash_behaviour = merge`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

I tried ansible modules `ping` and `shell` but I suppose it affects any module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Ubuntu 18.04.3

[2019-11-19 13:56] oldskoolsig commented on #64936
@Akasurde - Thank you! I installed ansible using pip, and, as noted in the issue, I'm running 2.9.1. Which release of 2.9 do you think should include the fix?

[2019-11-19 13:56] tcraxs commented on #64371
As far as I could find out is, that with postgresql 9.3 the behavior of `pg_default_acl` changed. So the `get_default_privs` function in line 692 will not work anymore in a perfect manner. Also I saw, that the order is not correct and so the comparison in line 781 failed:
[code]
I will create a PR to fix this.

[2019-11-19 14:13] adarobin commented on #64291
@D3DeFi it also looks at the wrong place for the facts of which setting are set so that any advanced settings show as needing a change (at least last I looked) #49800

[2019-11-19 14:25] sk1917 commented on #64442
https://github.com/ansible/ansible/pull/64962 works.
Thanks.

[2019-11-19 14:40] tcraxs commented on #64371
@anasbouzid I fixed the changed report behavior. This should now be working as expected.

For your second notice, please create a new issue if it is so.
If we have to change this, there has to be more then a change of one line. The module is quite old and there were added a lot of features more in the past. So this could be tricky. But if we have a real issue here, then this has to be done :)

[2019-11-19 14:53] tcraxs commented on #64371
Just for the record, after PR is merged I will backport it for ansible 2.8 and 2.9

[2019-11-19 14:53] acozine opened #65062 "Docs: Add examples to common return values page"
##### SUMMARY
We document the general return values Ansible provides on each playbook run here:
https://docs.ansible.com/ansible/devel/reference_appendices/common_return_values.html

Add real-world examples for each field.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
2.10

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

[2019-11-19 15:04] minusf commented on #46764
this is still an issue (tried 2.8.5), any updates on this?

[2019-11-19 15:07] sivel commented on #64933
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2019-11-19 15:07] #64933 closed, assigned to nobody

[2019-11-19 15:19] AlanCoding opened #65064 "Regression - no longer returning vars plugin host_vars from ansible-inventory"
##### SUMMARY
If I have a host with a name like `foo` and have variables inside a file `host_vars/foo.yml` inside of a directory properly passed via `--playbook-dir` to the `ansible-inventory` command, vars from that file are not present in the output.

This used to work. The regression was first seen the night of Nov 4, 2019

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/inv

[2019-11-19 15:30] abadger commented on #46126
`--out-format` is never sent to bash in the synchronize code.  It is executed directly via the exec() family of functions.  If you want to experiment, the code that gets run inside of synchronize.py looks more like this:

[code]
(Also note that `ps aux` output will have the same issue that ansible's own log has.... it's meant to give users an idea of what is running on the system rather than preci

[2019-11-19 15:34] twouters opened #65067 "Handlers ignore serial/strategy"
##### SUMMARY
Handlers run one by one, on host at a time.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
strategy / serial

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Archlinux

##### STEPS TO REPRODUCE
The following play shows that handlers "sleep random 4" and "sleep random 5" run one after the other (fine) on one host, but the other hosts wait for the

[2019-11-19 15:35] sivel commented on #65064
This was introduced in c1f1b2029c425665622608001207267e8f2dc176

cc @s-hertel

[2019-11-19 15:36] #64569 closed, assigned to nobody

[2019-11-19 15:50] clammers opened #65069 "nxos_vrf purge breaks with empty aggregate"
##### SUMMARY

VRFs are getting deployed with the aggregate function of nxos_vrf. In case all vrfs are removed from the host_inventory the aggregate param will be empty and the param purge will remove all configured vrf. This procedure breaks due to wrong check of aggregate.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_vrf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-11-19 16:10] clammers commented on #65069
Problematic code lines
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_vrf.py#L358

which could be fixed with

[code]

[2019-11-19 16:19] sivel commented on #65046
Why not just `actual_version is match('4\.4\.?')` ?  There are many ways I can think to do this currently.  The regex can be improved for certain situations as well.

Another idea:

[code]

Again, there are likely many ways to accomplish this.

[2019-11-19 16:21] Belabacsi commented on #27299
Same for me when using containsm thanks for the workaround.

[2019-11-19 16:24] sivel commented on #65056
There seems to be a few problems here.

1. You cannot define the python interpreter to use in an ansible.cfg file, you can only defined the discovery mechanism there, or you can define the `ansible_python_interpreter` in inventory or another var type.
2. The `setup` module is running against the remote host using `/usr/bin/python` which with a CentOS7 remote host, will be Python2.

You would need

[2019-11-19 16:24] #65056 closed, assigned to nobody

[2019-11-19 16:30] sivel commented on #65011
This is expected. Variables are lazily evaluated, and remain in the defined form until used.  As such, passing in `target_role_name: "{{ role_name }}"` means that it will be defined differently based on the context where it is evaluated.

You can instead do something with `set_fact` to force evaluation creating a static value:

[code]

If you have further questions please stop by IRC or the mailin

[2019-11-19 16:30] #65011 closed, assigned to nobody

[2019-11-19 16:32] Edward-Ireson commented on #50466
I had the same issue and had to work around it, I did

"{{ lookup('aws_ssm', '/var/var1', region='eu-west-2', shortnames=true ) | default(NULL,true) }}"

The lookup is passed an empty result which because of the true flag tries to set the default to NULL which then fails because NULL is not defined.

[2019-11-19 16:33] kdelee commented on #65064
@sivel can we get the `tower_blocker` label put on this issue?

[2019-11-19 16:33] sivel commented on #65053
This is required for usernames which include spaces. This instead seems like a bug in vault.  Since there is a PR open here, I'll close this and we can continue whatever necessary discussions in the PR.

[2019-11-19 16:33] #65053 closed, assigned to nobody

[2019-11-19 16:34] kdelee commented on #65064
thanks!

[2019-11-19 16:35] thanos1983 commented on #65056
@sivel It worked perfectly.

Sample of code (in case someone else might need it):

[code]

[2019-11-19 16:42] sivel commented on #65064
This behavior seems to be expected, and the commit I reference above contains a porting guide entry for this change:

https://github.com/ansible/ansible/commit/c1f1b2029c425665622608001207267e8f2dc176#diff-ba80a50bd1857d013ed3c2eadf4f8b77R38

It appears as though there are multiple potential fixes:

1. `ANSIBLE_RUN_VARS_PLUGINS=start`
2. `ANSIBLE_VARS_PLUGIN_STAGE=inventory`

I'm unsure if we can

[2019-11-19 16:52] ganeshrn opened #65071 "action plugin in collection not loaded if collection keyword in task not defined"
##### SUMMARY

If action plugin with the same name is present in collection and ansible core and if collections keyword is not defined in the paly the action plugin from the core is loaded instead of action plugin in collection

Works fine if collection keyword defined in the play eg:
PB1: https://gist.github.com/ganeshrn/7a7426aec0317277b16be1d9f5c83aed

Fails if collection keyword not defined in

[2019-11-19 17:03] hardened-user commented on #60946
[code]
[code]

way to fix it

[code]

[2019-11-19 17:11] ShachafGoldstein commented on #47497
The module simply uses `Add-Computer` with the `-NewName` argument to indicate name change.
it seems this is a bug in the cmdlet if you use the module on a vanilla server and get unexpected results.

seems like this issue is inactive if you have the same issue but with a different version of Ansible or hosts, I suggest opening a new issue with all relevant information.

[2019-11-19 17:11] Sneedes opened #65072 "azure_rm_manageddisk module allow LUN argument"
##### SUMMARY
 Desire the ability to use a user-provided LUN number rather than the next-sequential LUN number when using azure_rm_manageddisk module to attach a data disk to a VM.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_manageddisk

##### ADDITIONAL INFORMATION

Utilizing the azure_rm_manageddisk module.  Desire the ability to use a user-provided LUN number rather than the

[2019-11-19 17:12] twouters commented on #65067
sort of the same result on 2.7.7 so it doesn't look like a regression in 2.9 I guess it just doesn't behave how I expected.

[code]

[2019-11-19 17:14] twouters commented on #65067
!component lib/ansible/plugins/strategy/free.py

[2019-11-19 17:18] s-hertel commented on #65064
The inventory CLI code wasn't returning an accurate representation of data available after parsing inventory. On 2.9 and prior host vars have only been available on demand (i.e. per task). I think prior to 2.4 (I'd need to double check that was the release, but I'm pretty sure) vars plugins were loaded for inventory and tasks. I can see why it would be helpful to have the inventory CLI return the

[2019-11-19 18:27] felixfontein commented on #64969
@apollo13 thanks for testing it!

[2019-11-19 18:43] jof commented on #29716
I can also confirm this issue, however with the `eos_config` module.

I did a little digging and debugging and propose a fix in #65076.

[2019-11-19 18:50] mattclay commented on #64523
I've changed this issue from a bug to a feature request, since the current behavior is expected.

[2019-11-19 18:57] heuels commented on #64958
@rdonkin, I've put together a pull request with a fix, hopefully it will get merged soon. And once again, thank you so much for reporting this issue!

[2019-11-19 19:02] mattclay commented on #64531
The original issue can be broken down into two parts:

1. Files were being ignored by git, so they were also ignored by ansible-test. This is expected behavior.
2. The `git submodule` command was returning an error which was reported by ansible-test as a warning. Although this did not prevent ansible-test from working, it was confusing. This has been fixed by https://github.com/ansible/ansible/pul

[2019-11-19 19:02] #64531 closed, assigned to mattclay

[2019-11-19 19:29] elaadt commented on #31050
As a workaround, until someone supports editing ini files on Windows targets, we do the following:
- fetch the file
- dos2unix (to set the new lines to linux mode)
- update the file locally
- unix2dos (to set newlines back to Windows mode
- copy the file back to the target

Ugly, but it works.

[2019-11-19 19:45] rpurcelldesj commented on #62574
I'M currently facing this issue, I was using a variable in our pipeline to target specific vm using tags and was exporting the tags to AZURE_TAGS env var in the ansible host, but the new azure_rm inventory module provided in ansible 2.8 seems to ignore the old AZURE_TAGS variable.

[2019-11-19 20:07] onitake commented on #64610
Thanks for the clarification!
Should I send a pull request to add the suggestion?

[2019-11-19 20:08] sivel commented on #64905
For background and clarity, for the 2.9 release, we decided to not tackle this problem.  Largely this is due to collections using semver (semver allows for pre-release versioning), and to keep from introducing another dependency, we handle release versions using `distutils.version.StrictVersion`, and reject all versions that do not adhere to `StrictVersion` (pre-releases are included in this).

As

[2019-11-19 20:11] samccann commented on #56315
fixed by PR #45190

[2019-11-19 20:11] #56315 closed, assigned to samccann

[2019-11-19 20:29] robconklinmd opened #65079 "vmware_vmkernel now requires device when state: absent. Prior versions were able to use portgroup_name."
##### SUMMARY
When moving from Ansible 2.7 to 2.9 I found that my call to vmware_vmkernel to delete (state: absent) began failing.  In 2.7 we could supply:
   esxi_hostname: "{{ esxi_hostname }}"
   network:
      type: static
      ip_address: "{{ ip_address }}"
      subnet_mask: "{{ subnet_mask }}"
    portgroup_name: "{{ portgroup_name }}"

NOTE:  The ip_address and subnet_mask values are irre

[2019-11-19 20:34] pabelanger commented on #64905
thanks for info! Yah, I think LooseVersion on --pre makes sense to me.

[2019-11-19 21:08] dpierce377 opened #65082 "ERROR! 'stat' is not a valid attribute for a Play cannot get stat to work even with sample pulled from online"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

[2019-11-19 21:18] jborean93 commented on #65082
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-19 21:18] #65082 closed, assigned to nobody

[2019-11-19 21:21] #50549 closed, assigned to samccann

[2019-11-19 21:22] dpierce377 commented on #65082
Sorry, my company does not allow me to access Google groups.

From: Jordan Borean <notifications@github.com>
Sent: Tuesday, November 19, 2019 4:20 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Pierce, David A <David.A.Pierce@bnymellon.com>; Author <author@noreply.github.com>
Subject: Re: [ansible/ansible] ERROR! 'stat' is not a valid attribute for a Play cannot get stat to work even with

[2019-11-19 21:22] coltsixshooter commented on #56243
Just upgraded to Red Hat 8.1 and using ansible 2.9.1 with python 3.6.8 and having the same issue writing (copy module) to NFS file system with SELinux. Anyone have a solution?

[2019-11-19 21:33] jborean93 commented on #65082
The issue is that you are trying to run a list of tasks when it expects a play. There are alternatives to getting help with Ansible such as IRC but that and Google Groups are the only official sources of help for Ansible. GitHub is only used for bug support which this is not a bug.

[2019-11-19 21:42] jborean93 commented on #62365
This has recently been mitigated in the latest ansible-core-ci update. The ultimate cause is a bug in the Microsoft update manifest for Server 2016 which just chews through all the memory and the workaround is to either increase the memory available (8GB+) or increase the page file. We went with the former for CI as it wasn't a massive increase in costs.

[2019-11-19 21:42] #62365 closed, assigned to nobody

[2019-11-19 21:49] klogan12 opened #65084 "Installation of tower fails with yum error"
##### SUMMARY
Installation of ansible tower failed.

**Installation of tower fails with yum error**

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible Tower

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

 CentOS Linux 7 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Installation of ansible tower works

##### ACTUAL RESULTS

[2019-11-20 00:55] abadger opened #65087 "Config is leaving strings from default as bytes"
##### SUMMARY
On Python2, pyyaml loads strings as byte strings instead of text strings.  config/manager.py uses pyyaml to parse default configuration information.  To make sure that the unicode sandwich convention is in place, we need to either override pyyaml so that it will return text strings on python2.

This proof of concept code, ripped off from `parsing/yaml/{loader,constructor}.py` will do

[2019-11-20 01:00] #63003 closed, assigned to nobody

[2019-11-20 01:40] caleb15 opened #65089 "State when doing dry run"
##### SUMMARY

It would be great if ansible stated that it the run is dry when doing a dry run.

For example:
`DRY RUN - not making any changes`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Check Mode

##### ADDITIONAL INFORMATION

So people don't get a panic attack thinking they accidentally did a real run

[2019-11-20 02:36] Fred-sun commented on #60284
@acozine This shouldn't be a Bug, just a way of writing code. Thank you very much!

[2019-11-20 02:40] gavinfish commented on #62574
@rpurcelldesj I need someone review the PR and help me merge it into the right place.

[2019-11-20 02:47] asnkh commented on #62856
@prasadkatti After I create this issue, I found `boto.ec2.spotinstancerequest` of boto2 does not have any way to specify block duration minutes.
http://boto.cloudhackers.com/en/latest/ref/ec2.html#module-boto.ec2.spotinstancerequest
Boto3 has `BlockDurationMinutes`:
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.Client.request_spot_instances

The only way I

[2019-11-20 02:57] prasadkatti commented on #62856
@asnkh - Thanks for sharing that info. So the best way would be to create something like `ec2_spot_instance` as a new module to work with spot requests?

[2019-11-20 03:01] Fred-sun commented on #65005
@damiandiaz76 Thanks for your contribution, "requiresSession" and "requiresDuplicateDetection"  does not work, whether set to 'yes' or 'no', default value is false. We will check it! Thank you very much!

[2019-11-20 03:04] Fred-sun commented on #65005
@mybayern1974

[2019-11-20 03:39] apple4ever commented on #59164
I could use this too. I will work to get the PR merged so it can be released. Seems like #59340 is related too.

[2019-11-20 03:43] apple4ever commented on #59340
I need this too. I'll work to get it into Ansible.

[2019-11-20 04:17] justjais commented on #64515
@misch42 can u update the issue

[2019-11-20 05:19] Andersson007 commented on #64155
@jamesRUS52 yw!

[2019-11-20 05:24] Akasurde commented on #47212
Closing this issue as per https://github.com/ansible/ansible/issues/47212#issuecomment-439556081. @abarbare Thanks for the information.

[2019-11-20 05:24] #47212 closed, assigned to nobody

[2019-11-20 05:43] #64371 closed, assigned to nobody

[2019-11-20 06:25] Fred-sun commented on #51062
@jvalderrama Any update for this ? Could you help share your test result? Thank you very much!

[2019-11-20 06:27] martbhell commented on #41320
@n3pjk I now closed #45553 as some different changes would be needed after the nice refactoring of the snow_record module :)

Let's say we have an on-premise installation and we have not been given an instance from service-now. I have checked the HTTPS certificate on our on-premise and it does not have an alt name pointing to a service-now.com instance. So I don't see how using instance: would wor

[2019-11-20 06:32] Fred-sun commented on #53299
@mybayern1974

[2019-11-20 07:27] davydovk commented on #64995
pip list

ansible (2.7.10)
Babel (0.9.6)
backports.ssl-match-hostname (3.5.0.1)
blivet (0.61.15.72)
certifi (2019.9.11)
cffi (1.6.0)
chardet (3.0.4)
configobj (4.7.2)
configshell-fb (1.1.23)
cryptography (1.7.2)
decorator (3.4.0)
enum34 (1.0.4)
ethtool (0.8)
futures (3.1.1)
httplib2 (0.9.2)
idna (2.8)
iniparse (0.4)
iotop (0.6)
ipaddress (1.0.16)
javapackages (1.0.0)
Jinja2 (2.7.2)
jmespath (0.9.0

[2019-11-20 08:18] Fred-sun commented on #65072
@Sneedes Thanks for your contribution this issue! What is the purpose of using the lun set by yourself? This will help drive the attention of developers! Thank you very much!

[2019-11-20 08:22] Fred-sun commented on #52068
@mybayern1974 Would you please take a look this issue? Thank you very much!

[2019-11-20 08:22] n3pjk commented on #41320
I don't see a problem with adding a 'hostname' parameter that would be exclusive of 'instance' and would accept an FQDN. I had been sidetracked on other projects this last month, but I should be able to get back on this very soon.
________________________________
From: Johan Guldmyr <notifications@github.com>
Sent: Wednesday, November 20, 2019 1:29:15 AM
To: ansible/ansible <ansible@noreply.github

[2019-11-20 08:24] dr4Ke commented on #65053
I opened an issue in vault repository.

[2019-11-20 08:25] Fred-sun commented on #52082
@mybayern1974

[2019-11-20 08:30] mkayontour commented on #61680
I'm having the same issue, I don't want to use a file and want to integrate the collection into AWX. So this would be helpful if we can mention the the collection in a requirements.yml and target the git.
The URI to already build collection doesn't work the way its documented.
[code]

[2019-11-20 08:52] jborean93 commented on #61680
Set `name` as the URL, the source is designed to specify custom galaxy or Automation Hun servers.

[2019-11-20 08:53] rchikatw opened #65095 "CLI Parsing fails in when volume return Gluster Id"
##### SUMMARY

Ansible facts return invalid result format when gluster id present.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Gluster-heal

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora-29

##### STEPS TO REPRODUCE

1.  Setup Environment for 1*3 replica.
2.  Make one of the brick Down
3.  Create some file or any operation on the up bricks so

[2019-11-20 08:57] mkrizek commented on #65089
To achieve this, you can use `check_mode_markers` (off by default) option for the default (and some others, see PR below) callback plugin: https://docs.ansible.com/ansible/latest/plugins/callback/default.html#parameters

The option has been introduced in Ansible 2.9, please refer to the docs above and https://github.com/ansible/ansible/pull/49432 for more information.

[2019-11-20 09:04] OlegKorchagin commented on #17349
aix 7.1, problem solved by vendor ( update openssh to 7.5.102.1500 )

IBM say: it is a bug in openssh ( ! ) - race condition while allocate pty.
https://www-01.ibm.com/support/docview.wss?uid=isg1IV82042

it strange that bug only occurs in aix, never in linux.  nevertheless, problem is solved in my case

[2019-11-20 09:06] nicolas-marcq commented on #34144
@alanbchristie you can add a blank string with `+ '' `. It work if you call the line multiple time independently. I haven't tried in a loop.
[code]

[2019-11-20 09:13] #59379 closed, assigned to Akasurde

[2019-11-20 09:16] Akasurde commented on #64815
Closing this since PR #61082 is merged. Thanks.

Backport 2.9 - #65097

[2019-11-20 09:16] #64815 closed, assigned to Akasurde

[2019-11-20 09:22] alanbchristie commented on #34144
Thanks and it's good you've confirmed it works even with more than two instances. I create about 12 passwords in the same file (not in a loop).

To be honest it's a mess which also requires you to leave comments in the file to explain to others who read it why you're doing such an odd thing.

Now I know there's template caching going on, surely, the ultimate solution lies in the engine?

1. Code i

[2019-11-20 09:25] Akasurde commented on #65095
!component =lib/ansible/modules/storage/glusterfs/gluster_heal_info.py

[2019-11-20 09:29] #65095 closed, assigned to nobody

[2019-11-20 09:29] rdonkin commented on #64958
@heuels, thank you for a very rapid fix!

[2019-11-20 09:38] thinkl33t commented on #64898
If you destroy the network, make your change, then recreate the network, it will be persistent.

[2019-11-20 09:40] AndiDog commented on #29781
That's the current workaround I'm using. It adds quite a few more lines to the tasks (where it should be only `state: {{ desired_state }}` in the copy/template modules).

[2019-11-20 09:41] r4j4h opened #65099 "Named blocks and roles should appear in play output like named plays and roles alone do"
This feature was roughly discussed in https://github.com/ansible/ansible/issues/33835 but not clearly before the issue was closed.

##### SUMMARY

In #33835, user bcoca finishes the thread with:

It is completely understandable that only tasks can be used with --start-at-task. However, plays and roles do both appear in the output to varying extents. Because of this, I can't think of a reason for t

[2019-11-20 09:58] mkayontour commented on #61680
oh ok, thanks. Now it works.. 👍

[2019-11-20 10:05] markuman commented on #34569
I run into the same issue - but it is more strange than any other report here.

We hit this issue in a gitlab ci cd process with docker executor.
So our job image is shipped with python 3.7.5 and ansible 2.9.0 and all files with 0 bytes are missing in the created zip file.

When I try to reproduze it locally and start the same docker image und run the same command, files with 0 bytes are successfu

[2019-11-20 10:53] jborean93 commented on #61680
No worries name can be one of these three things

* The name of the collection, including the namespace, which is looked up on the configured Galaxy/AH servers
* The URL to a tar.gz which will be downloaded, unpacked, and finally verified as a valid collection before installing
* The path to a tar.gz on the local file system that does the same as above.

[2019-11-20 11:16] #55880 closed, assigned to justjais

[2019-11-20 11:19] europ opened #65104 "List of conditionals processed as a disjunction"
##### SUMMARY
List of conditionals processed as a disjunction (logical OR)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- Conditionals

##### ADDITIONAL INFORMATION

List of conditionals as a conjunction - **all** of them need to be true (currently possible)
[code]

List of conditionals as a disjunction - at least **one** of them needs to be true (currently NOT possible)
[code]

Alternat

[2019-11-20 11:21] jackivanov commented on #65036
a workaround for now is to use the `uri` module:

[code]

[2019-11-20 11:27] s19n commented on #61394
Affects 2.9 as well

[2019-11-20 11:38] dtenbrinck opened #65105 "Add configuration to buildah connection plugin to support "buildah unshare""
##### SUMMARY

It would be nice to have a functionality for the buildah connection plugin that allows to change the user namespace via `buildah unshare` when interacting with containers in a rootless environment. This behaviour of the buildah connection plugin could be configured manually by the user or realized programmatically without any user interaction.

##### ISSUE TYPE
- Feature Idea

#####

[2019-11-20 11:49] mbovo opened #65106 "Module gitlab_project_variable ignore validate_certs"
##### SUMMARY
The module **gitlab_project_variable** is ignoring the passed argument `validate_certs` and fails when dealing with a self-signed ssl certificate.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gitlab_project_variable

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
Using the module above passing `validate_certs:

[2019-11-20 11:54] mbovo commented on #65106
Impacted code is:
https://github.com/ansible/ansible/blob/6c051b0241b27ea884722d1e822cd2eec3a919a0/lib/ansible/modules/source_control/gitlab_project_variable.py#L238

[2019-11-20 11:55] minusf commented on #46764
I have traced down the issue to `path_dwim_relative` which `synchronize` calls at https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/synchronize.py#L42

The way `path_dwim_relative` chooses a `candidate` is flawed, but before I go into that, first of all I have no idea why any candidates have to be built at all for the source folder of my rsyncing command and if **really** th

[2019-11-20 12:04] pcwearingmedia opened #65107 "When using shell module without warn argument, misleading ansible instruction is printed as warning."
#### SUMMARY
When using Ansible version 2.8.4, if I don't specify the warn argument for the shell module AND issue an rm -rf command, I'm advised to use "warn: false".

However, warn: false is not possible, but warn: no is possible as an argument.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

PRETTY_N

[2019-11-20 12:36] HugoPuntos opened #65108 "Ansible - lookup plugin hangs after upgrading to macOS Catalina"
##### SUMMARY

The lookup plugin hangs since I've been using macOS Catalina.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lookup plugins.

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Create a dummy playbook using lookup.

[code]

cf https://docs.ansible.com/ansible/latest/plugins/lookup/url.html

##### EXPECTED RESULTS

Display the IP ranges from the ip-ranges.json online pag

[2019-11-20 12:42] Akasurde commented on #65107
@pcwearingmedia I can use `warn: false` as

[code]
I'm not sure about misleading instruction.

[2019-11-20 12:51] axel3rd opened #65109 ""ansible-galaxy collection install" fails with URL as parameter"
##### SUMMARY

Ansible galaxy collection installation in command line fails when parameter is an URL.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

**ansible-galaxy**

*collection_name* as url parameter should be supported according the documentation:

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS : Ubuntu. Ansible usage via native *

[2019-11-20 12:52] tremble commented on #51122
@mpechner One thing you can do is create a PR with your existing work and just prepend "WIP" (Work In Progress) to the title.  This means folks can take a look while you're getting the tests ready.  It'll also flag things like linting issues.

[2019-11-20 13:01] rpurcelldesj commented on #62574
Ok, I've looked at the commit history and I tried to tag one of the "original" contributor to the new code, let's try that and we'll see where we go from there!

[2019-11-20 13:12] Lunik commented on #65106
Thank's for the report.
This has been fixed by #64989 and soon backported with #65049

[2019-11-20 13:13] bmillemathias-1a commented on #51402
Hi @justjais

as 2.9 landed few weeks ago, did some changes were push to this release ?

[2019-11-20 13:25] raksingh commented on #65108
It results in a crash on my machine.
`TASK [display ip ranges] ***********************************************************************************************************************************************************************************
task path: /private/tmp/x.yml:6
url lookup connecting to https://ip-ranges.amazonaws.com/ip-ranges.json
objc[40938]: +[__NSCFConstantString initialize] may h

[2019-11-20 13:48] JeferCatarina opened #65111 "Foreman's dynamic inventory plugin is not working properly"
##### SUMMARY

When using 'want_facts: True' in the Foreman's dynamic inventory plugin, the facts are not returned. Debugging the problem, I realized that the Foreman's plugin try to add the facts as 'ansible_facts' in the inventory. When I replace 'ansible_facts' in the plugin's code by any other variable name, it works. I was trying to figure out if there was any structural problem, like the var

[2019-11-20 13:50] HugoPuntos commented on #65108
Thanks for your reply. It's doesn't fix the issue. Are you using macOS catalina ?

[2019-11-20 13:51] #65043 closed, assigned to nobody

[2019-11-20 13:51] NilashishC commented on #60934
@kevintieman Sorry for the delayed response. I have started looking into it.

[2019-11-20 13:52] NilashishC commented on #56282
@rohitthakur2590 I was not able to reproduce this issue, could you have look at it?

[2019-11-20 13:53] NilashishC commented on #61601
@pabelanger I believe we are not seeing this now.

[2019-11-20 13:56] Ovski4 commented on #46203
Same as @matanbaru with a way to fail after multiple retries

[code]

[2019-11-20 13:56] Lunik opened #65113 "gitlab_project: fail on 2nd play"
##### SUMMARY

`gitlab_project` fail on idempotency 2nd run when project is in a group

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gitlab_project

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run this task 2 times

[code]

##### EXPECTED RESULTS

The module should detect that the project is already present, update it if nee

[2019-11-20 14:24] #64968 closed, assigned to nobody

[2019-11-20 14:56] TomasTomecek commented on #65105
We have discussed this problem with Daniel over mail and I can see two potential solutions:
1. Magic solution: if the uid of the ansible process is != 0, then prepend all buildah commands with `buildah unshare`
2. On-demand: user would be able to control when the buildah commands are prepended with `buildah unshare` - not sure what would the best interface would be: env var? some ansible var?

Any

[2019-11-20 14:57] sgargel commented on #29870
I'm still having the issue on:
[code]

[2019-11-20 15:00] minusf commented on #46764
to bypass that code path i ended up forcing absolute paths on `src` prepending
`"{{ playbook_dir }}../../"` to it.

[2019-11-20 15:01] Lunik commented on #65113
`findProject` and `findGroup` in `module_utils/gitlab.py` are in causes

[2019-11-20 15:08] ShachafGoldstein commented on #64995
Please add a verbose output with -vvvvv

[2019-11-20 15:09] g7r opened #65116 "`length` filter produces different types under python2 and python3"
##### SUMMARY
`template-bug.yml`:
[code]

Second block does work under python2 and doesn't work under python3.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run ansible playbook mentioned above:
[code]

##### EXPECTED RESULTS

It is expected that `ansible template-bug.yml` finishes

[2019-11-20 15:19] davydovk commented on #64995
ansible windows -i hosts -m win_ping -vvvvv

ansible 2.7.10
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (default, Sep 12 2018, 05:31:16) [GCC 4.8.5 20150623

[2019-11-20 15:26] davydovk commented on #64995
ansible appservers -m win_ping -vvvvv

ansible 2.7.10
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (default, Sep 12 2018, 05:31:16) [GCC 4.8.5 20150623 (Red

[2019-11-20 15:30] davydovk commented on #64995
ansible appservers -m win_ping -vvvvv

ansible 2.7.10
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (default, Sep 12 2018, 05:31:16) [GCC 4.8.5 20150623 (Red

[2019-11-20 15:51] ShachafGoldstein commented on #64995
Can you try updating your pywinrm package? It seems that pywinrm fails to import from the credssp package.