[2020-02-25 22:47] sivel commented on #67723
I'm going to go ahead and close this.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-25 22:47] #67723 closed, assigned to nobody

[2020-02-25 22:50] mwhahaha commented on #67755
Just dropping "FAILED - " is an improvement

[2020-02-25 22:55] sivel commented on #67755
This is not the async_status messaging.

This is the result of the `until` statement.  `until` works very much like a `when` statement, and when the `until` statement evaluates to `False`, this is considered a failure, and as such, it is retried.

Duplicate of https://github.com/ansible/ansible/issues/63926

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible

[2020-02-25 22:55] #67755 closed, assigned to nobody

[2020-02-25 22:59] mwhahaha commented on #67755
Which is closed as WONTFIX. It is a terrible UX and is confusing. ‾\_(ツ)_/‾

[2020-02-25 23:02] fbruetting commented on #22286
Something host-specific would be nice, too – like `end_play` ⇔ `end_host`.

Additionally, I find it dangerous that roles can end surrounding plays. When I use an external role, that can end my whole play without showing an error – so the user might not notice that other tasks of that play did not run (as no skips get shown). The equivalent in a programming language would be a command that would no

[2020-02-25 23:26] geerlingguy commented on #65673
I just rewrote the issue summary because the _original_ original issue was a simple bug in the documentation in a place outside the collections doc. But the UX issue still exists, and I'd call it a bug in the fact that when installing any content from Galaxy, there are weird behaviors that I wouldn't expect using the various `ansible-galaxy install` incantations, and definitely lead to new users s

[2020-02-25 23:30] geerlingguy commented on #62847
@bcoca - Good point; the meta.yml `dependencies` key is a bit overloaded in that it's used to both install the dependencies during `ansible-galaxy install` _and_ run them prior to the role's invocation. What if there's a new key added to `meta/main.yml` like `collection_dependencies` or `collection_requirements`?

[2020-02-25 23:34] geerlingguy commented on #19763
Does this actually have a PR? I don't even recall the scope of the issue, but I haven't been having any issues with my tests _lately_... so it might've just been related to systemd issues and not an Ansible bug.

[2020-02-25 23:44] zoredache opened #67757 "Add an file extension specific to vault encrypted files"
##### SUMMARY
Vault files are not yaml/json from the perspective of tools that are not vault aware. Running a basic yamllint against a vault encrypted yaml file results in an error.  It would be nice to have a dedicated extension for vault encrypted files.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- core

##### ADDITIONAL INFORMATION

I want to be able to use `yamllint *.yaml` without

[2020-02-26 00:33] jborean93 opened #67758 "Create alias for ansible-galaxy collection"
##### SUMMARY
I feel that we should have an alias for the command `ansible-galaxy collection <action>`. There are a few reasons why I feel like this should be done for 2 reasons

* Writing `ansible-galaxy collection <action>` is annoying to do multiple times, most package manager tools use 3 letters for their binary; `dnf`, `yum`, `apt`
* It's too similar to `ansible-galaxy <action>` which causes

[2020-02-26 00:36] jborean93 opened #67759 "Add ansible-galaxy collection uninstall"
##### SUMMARY
While users can just delete the directory it would be nice to have a command that removed/uninstalled collections in the current (or all found paths) and it's dependencies using and `ansible-galaxy` command.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-galaxy

[2020-02-26 00:37] jborean93 opened #67760 "ansible-galaxy collection install - support rollback on failures"
##### SUMMARY
The `ansible-galaxy collection install` command should be able to safely rollback any changes that have been made in case an error has occurred. Currently we just extract the downloaded collection to the actual install location but that should only occur with all collections at the same time once everything is extracted.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-

[2020-02-26 01:45] #67524 closed, assigned to nobody

[2020-02-26 03:02] Fred-sun commented on #67473
@joaocc I will check with community matainer. How to deal this issue? Thank you very much!

[2020-02-26 03:03] Fred-sun commented on #67473
@haiyuazhang @gavinfish Would you please help take a look this issue when  you're free? Thank you very much!

[2020-02-26 03:31] thylocene opened #67764 "win_domain_user - ability to clear an attribute"
##### SUMMARY

The win_domain_user module currently has no way to clear an attribute e.g. city, PostalCode, etc.

The module throws an error if an empty string is used for an attribute:

e.g.
Microsoft.ActiveDirectory.Management.ADInvalidOperationException: replace ---> System.ServiceModel.FaultException: Bad AttributeTypeAndValue or Change found inside the request.

##### ISSUE TYPE
- Feature Ide

[2020-02-26 04:37] Akasurde commented on #67757
!component +=lib/ansible/config/base.yml

[2020-02-26 04:59] pgbidkar commented on #67743
Hi @jhb31 , Please try changing dest parameter like
[code]
It looks like File path is not constructed properly causing **The file name is not valid** Error

[2020-02-26 05:08] Akasurde commented on #67743
As per the above comment. I am closing this issue.

[2020-02-26 05:08] #67743 closed, assigned to nobody

[2020-02-26 06:22] flowerysong commented on #67746
No, there isn't. The module is working as it's meant to.

It returns a different structure than a newly created key, which is the proper thing to do in this situation (and is what the module documentation states will happen.) Amazon only returns the private key once, and it's the caller's responsibility to preserve it.

When no `key_material` is provided, that is the caller declaring "I don't care

[2020-02-26 07:08] hunter9x commented on #62049
same here. i found that i work well with 2.7.* (latest 2.7.16?).

[2020-02-26 08:30] itcultus opened #67766 "openssl_pkcs12 not idempotent"
##### SUMMARY
The openssl_pkcs12 module is not idempotent.
I can generate a p12 file however, when I re-run the playbook it fails with the following error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_pkcs12.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 30

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When I run

[2020-02-26 08:31] apapsch commented on #65351
Though it should do the job with `dump_extra_args: --tables` (no arguments). It's a bit of a hack (https://mariadb.com/kb/en/mysqldump/):

[2020-02-26 08:50] marbarmar commented on #67169
Hello,
I have checked #67359 and the solution there is to repair identation in lib/ansible/module_utils/network/common/cfg/base.py
The __init__ function in this file did not contain self.state parameter. I have added this parameter so now the file looks as shown below. Th problem is that tshis did not solve the idempotency issue.

#
# -*- coding: utf-8 -*-
# Copyright 2019 Red Hat
# GNU General Pu

[2020-02-26 08:53] Andersson007 commented on #65351
https://github.com/ansible/ansible/pull/67767 should work. Could anyone please try

[2020-02-26 08:57] marbarmar opened #67768 "In module "nxos_bgp_af" parameter "networks" with "state: present" does not work as expected."
##### SUMMARY
We are using ansible as a tool which assures all the required configuration is present on all devices. This mean we run our Ansible playbooks reqularly with the same parameters (including networks which shold be redistibuted into BGP) to assure all the intended configuration is present on all devices.
Parameter "networks" in module "nxos_bgp_af" unfortunatelly does not follow this lo

[2020-02-26 09:02] evrardjp commented on #67737
That looks valid, --clean-deps only applies to the remove cmd in zypper. In our code, we are are establishing the installed state first, which doesn't accept that argument.

Either we change prerun_state in package_absent to not use that argument, or we make a new flag for the removal. Any opinion?

I am not able to tackle this right now, can someone work on this?

[2020-02-26 09:15] Andersson007 commented on #65351
resolved_by: https://github.com/ansible/ansible/pull/67767

[2020-02-26 09:19] dcermak commented on #67737
But @jbudev is not passing the `--clean-deps` parameter to the installation sample, it is being passed to the zypper invocation with `state: absent`. So to me that looks absolutely reasonable.

The former sounds reasonable to me, maybe we should invert this and instead of blacklisting specific flags add a white list of flags that can be passed to the `zypper search` command?

Not at the moment, bu

[2020-02-26 10:12] jhb31 commented on #67743
Thanks you !

[2020-02-26 10:36] #67691 closed, assigned to nobody

[2020-02-26 11:19] martinuu commented on #67702
I am sorry, but seems, that I made mistake on my side.

[2020-02-26 11:19] #67702 closed, assigned to nobody

[2020-02-26 13:40] Hipska commented on #40710
Same here, especially to see which other packages have been installed because of requirements from the rpm's

[2020-02-26 13:47] GomathiselviS commented on #67169
@marbarmar  I am sorry that you are still finding the issue unresolved.

Have you checked the changes done to
lib/ansible/module_utils/network/nxos/config/lag_interfaces/lag_interfaces.py  ?

These changes are fixing the issue. This is the playbook I used :+1:

`nxos_lag_interfaces:
      config:
        - name: port-channel7
          members:
            - member: Ethernet1/11
              mode

[2020-02-26 14:22] jjshoe commented on #67746
If only there was a way to reduce four tasks down, into one. Maybe ansible could introduce these things called modules where like actions could be grouped...

[2020-02-26 14:24] jjshoe commented on #67746
Not stated in the docs anywhere

Not stated in the docs anywhere

[2020-02-26 14:26] jjshoe commented on #67746
But it's not, as I've specified force, for which the docs state:

Note no mention of key_material here

[2020-02-26 14:27] jjshoe commented on #67746
Not stated in the docs anywhere

[2020-02-26 14:28] HaraldPaterek opened #67779 "zypper package downgrade fails on sles11/12"
##### SUMMARY
zypper refuses to downgrade packages on sles11/12

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zypper
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
inventory puppet-agent-version.yml

[code]

tasks:

[code]

defaults:

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
which is the unchanged situation

[2020-02-26 14:29] jjshoe commented on #67746
Again, module could be fixed up, and have sane behavior defined in docs, or current insane behavior could be in docs.

Still. A. Bug.

[2020-02-26 14:48] apapsch commented on #65351
I can confirm that your PR avoids USE in the resulting file and removes the need for `--tables` hack.

[2020-02-26 14:59] #44957 closed, assigned to nobody

[2020-02-26 14:59] #44288 closed, assigned to Akasurde

[2020-02-26 15:03] renskewierda opened #67780 "Option to handle redirect in nios_host_record module"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nios_host_record

##### ADDITIONAL INFORMATION

Would it be possible to add a feature to the nios_host_record module so that it can handle a redirect from the REST API?

We experienced an issue when trying to register a DNS entry after a failover had happened for our Infoblox server. After the redirect, the REST api connection w

[2020-02-26 15:14] Andersson007 commented on #65351
@apapsch thanks for testing!

[2020-02-26 15:29] MikeKlebolt commented on #51180
Experiencing same issue when deploying a new vm where there is a vswitch portgroup and distributed portgroup with the same name.

[code]

[2020-02-26 15:35] LuckySB commented on #56345
follow up https://github.com/ansible/ansible/issues/61025

[2020-02-26 15:46] stephan2012 commented on #44128
Same issue here. Any news on this issue? Is there any way to force Ansible to re-evaluate the Jinja template in a do/until loop?

[2020-02-26 15:49] stephan2012 commented on #44128
Semantics documented in https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#retrying-a-task-until-a-condition-is-met suggest that templates are evaluated in every iteration.

[2020-02-26 16:37] samccann commented on #66485
This has been fixed in the IOS collection - https://github.com/ansible-collections/ios/blob/master/plugins/modules/ios_l2_interfaces.py

Docs on docs.ansible.com/ansible should show this fix after the Great Module Migration happens.

[2020-02-26 16:38] tremble commented on #67746
@jjshoe I understand that you're frustrated by this behaviour and disagree with the mechanics.  However, they are what they are and have been there for a long time.  Unfortunately, as @flowerysong has already pointed out, changing these mechanics would almost certainly cause breakage for existing users.

For many people, especially those already familiar with AWS, the mechanics around returning th

[2020-02-26 16:39] jjshoe commented on #67746
@tremble glad to have someone on board who can see the flaws.

[2020-02-26 16:39] maltron opened #67783 "uri module only fails with an inventory is being used"
##### SUMMARY
I'm trying to download a tar.gz file using the module uri as seem in this playbook:

[code]
It works like wonders. However, when I run the same playbook using this simple inventory as such:
[code]
and running the command by: $ ansible-playbook -i hosts test.yaml -vvvvv
The all logs are here: https://pastebin.com/UdticRJ7
[code]
So, why the presence of a inventory affects the behavior

[2020-02-26 16:40] jjshoe commented on #67746
Exactly what doesn't happen on a second call.

[2020-02-26 16:41] jjshoe commented on #67746
I'm telling it to change by `force: True`

[2020-02-26 16:42] jjshoe commented on #67746
Plenty of modules have been deprecated, and cleaned up in newer versions, it takes people being not defensive about the poor behavior of current implementations.

[2020-02-26 16:44] jjshoe commented on #67746
Solid reason to not improve something.

[2020-02-26 16:45] samccann commented on #15022
Hi all!  Sorry for the long delay here! The documentation has changed considerably since this issue was opened, including a section on setting up your environment for developing Ansible modules - https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#environment-setup

Closing this issue. If you see additional problems, please open a new issue with the details. Thanks!

[2020-02-26 16:45] #15022 closed, assigned to nobody

[2020-02-26 16:53] jctanner commented on #67758
My suggestions so far: `mazer`, `agc`, `val`

[2020-02-26 16:55] acozine commented on #15624
@ssbarnea could you take a look at https://docs.ansible.com/ansible/devel/user_guide/playbooks_blocks.html#block-error-handling? Right now it's only in the `devel` version of the docs . . . does it address the concerns you've raised in this issue?

[2020-02-26 16:56] drzraf opened #67784 "cloudflare_dns: TXT idempotency"
##### SUMMARY

1. Using `solo=true` with `type=TXT` **replaces all other TXT records** for that domain (or APEX) and may break the domain in various ways
2. Using `solo=false` with `type=TXT` create **duplicated** TXT records of the same value for the same subdomain (or APEX).

But:
- A given domain (or subdomain) often has multiple TXT records, and often on the APEX.
- Emptying all TXT records is

[2020-02-26 16:57] acozine commented on #15624
We've also expanded the documentation on handlers in the `devel` docs: https://docs.ansible.com/ansible/devel/user_guide/playbooks_intro.html#handlers-running-operations-on-change

[2020-02-26 17:02] samccann commented on #16804
Hi folks!  This issue has been open for a while now, with different bits of work applied over the time. Is there anything left to cover here? (excluding anything to do with the undocumented temporary workaround). Otherwise we'll close this one out soon.  Thanks!

[2020-02-26 17:23] jillr commented on #67746
This is less around whether or not we would want to improve something, and more that we have to think about our users and make sure we don't introduce breaking changes in a minor version release.  If we make a non-backwards compatible change in 2.10 and someone updates from 2.9 and suddenly their playbooks either don't work or behave in new and unexpected ways, that's a violation of the expectatio

[2020-02-26 18:19] #65032 closed, assigned to justjais

[2020-02-26 18:25] nwchandler commented on #67764
It’s been a while since I worked on this module, but I think I remember testing this behavior. Is it possible to remove an attribute by omitting it from the dictionary? So for example, instead of `street: “”` will it remove the attribute if you do not include the line with street at all?

[2020-02-26 18:36] jillr opened #67788 "aws_acm tests unstable"
##### SUMMARY
Marked unstable in #67787

It appears that AWS can at times create invalid certificates.  When this happens, `describe_certificate` fails.  The [terminator](https://github.com/mattclay/aws-terminator) is then unable to delete them resulting in every test that calls `describe_certificate` also failing.

The terminator will need to be updated to either (or both) use `DbTerminator` and

[2020-02-26 18:38] jillr opened #67789 "Unstable connection_aws_ssm tests"
##### SUMMARY
Marked unstable in #67787

https://app.shippable.com/github/ansible/ansible/runs/160867/133/tests

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
test/integration/targets/connection_aws_ssm

##### ANSIBLE VERSION
devel

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Shippable

##### STEPS TO REPRODUCE
Run tests on Shippable.

##### EXPECTED RESULTS
Tests pass.

##### ACTUAL RES

[2020-02-26 19:02] robconklinmd commented on #65079
Will anybody be looking at this?

[2020-02-26 19:04] billdodd commented on #58941
Another query regarding performing the insert/eject via PATCH if the Actions are not available:

My initial thought was clear the `ImageName` property in the PATCH when doing the Eject operation and to set it to the last component of the path from the Image property when doing an Insert. But then I saw that `ImageName` is a read-only property. So I assume we should not try to set or clear it via t

[2020-02-26 19:16] jjshoe commented on #67746
![nothanks](https://user-images.githubusercontent.com/2053992/75378823-04fb3000-589a-11ea-8224-fccfa18e8867.png)

@jillr - As you can see from the screen shot, I don't think IRC is of any help.

This is pretty simple, either the module needs work in it's functionality, or documentation.

I've already fixed the module locally.

To act like everything is fine and I'm a nut is hilarious.

[2020-02-26 19:16] #48366 closed, assigned to nobody

[2020-02-26 19:27] tremble commented on #67746
@jjshoe I tried to be polite and explain why people aren't interested in changing the behaviour.  What I got in response was a stream of responses which demonstrated that **you** weren't interested in listening to an alternative point of view.  Including your sarcastic "Solid reason to not improve something."  Keep in mind that I'm getting an email **every time** you command.

The way you're actin

[2020-02-26 19:30] jjshoe commented on #67746
@tremble I don't re-call ever asking you to make changes.

[2020-02-26 19:41] tremble commented on #67746
@jjshoe You're asking, via this issue, for the module to be changed, and very aggressively asserting "Still a. bug" when people try to explain to you why this is expected behaviour.

As a community maintained module you're effectively asking the Ansible 'community' (ie those interested in contributing, in particular to this module and other AWS modules) to update the behaviour for this module.  Th

[2020-02-26 19:44] jjshoe commented on #67746
@tremble Feel free to mute the issue and move on!

[2020-02-26 19:45] jjshoe commented on #67746
@tremble I'm legitimately sorry that you don't think the documentation could be drastically improved here. I don't know why you're so resistant to seeing that, or unable to see that.

[2020-02-26 19:46] samdoran opened #67791 "Insecure creation of temporary directory for become_user"
##### SUMMARY

CVE-2020-1733

We create a temporary directory for the `become_user` with `umask 077` in `/var/tmp` without first checking if the directory exists and that it has the expected permissions.

**Relevant code**

https://github.com/ansible/ansible/blob/79dfae9624480f757795224732bfaa9ca1dd4543/lib/ansible/plugins/shell/__init__.py#L159-L163

We need to validate the parent directories are

[2020-02-26 19:48] demakkar commented on #66518
@justjais : Do you know if this issue has been fixed ??

[2020-02-26 19:48] samdoran opened #67792 "pipe lookup plugin enables shell by default"
##### SUMMARY

CVE-2020-1734

The `pipe` lookup plugin should use `shell=False` be default to avoid potential privilege escalation. A new option should provide a way to enable `shell=True`.

If a variable is passed to the `pipe` lookup, that variable could be overriden via facts, leading to arbitrary code execution.

**Relevant code:**
https://github.com/ansible/ansible/blob/79dfae9624480f75779522

[2020-02-26 19:50] samdoran opened #67793 "fetch module path traversal"
##### SUMMARY
CVE-2020-1735

Possibly related to CVE-2019-3828 (https://github.com/ansible/ansible/pull/52133/)

The `fetch` module takes the `source` result from the `slurp` module, which came from the remote host. We don't really validate this path and it could have been manipulated by the remote host in a malicious way such that we end up a path similar to `/tmp/result_fetch/ansible1/../../../.

[2020-02-26 19:52] samdoran commented on #67793
`os.path.commonpath()` was added in Python 3.4 but is not available in Python 2.7, so we cannot use that. `os.path.commonprefix()` is available in Python 2.7 and should work, though.

[2020-02-26 19:54] samdoran opened #67794 "The default permissions used by atomic_move can create files that are world readable"
##### SUMMARY
CVE-2020-1736

If a file doesn't exist, we create it with `0666` permissions combined with the current `umask`. Depending on the default umask as well as the permissions on the destination directory, this could result in world readable files.

**Relevant code:**
Default permissions:

https://github.com/ansible/ansible/blob/79dfae9624480f757795224732bfaa9ca1dd4543/lib/ansible/module_u

[2020-02-26 19:55] samdoran opened #67795 "win_unzip path traversal with specially crafted archive"
##### SUMMARY
CVE-2020-1737

A specially crafted zip archive could result in path traversal in the `win_unzip` module.

The `Extract-Zip` function doesn't check if the extracted path belongs to the destination folder.

A possible solution is to [check destination path](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.ziparchive?view=netframework-4.8).

##### ISSUE TYPE
- Bug Repor

[2020-02-26 19:57] samdoran opened #67796 "package and service modules allow arbitrary modules to be executed"
##### SUMMARY
CVE-2020-1738

Both `package` and `service` modules use facts to determine the name of the module to run if `use` is not passed to the module. The `ansible_facts['pkg_mgr']` and `ansible_facts['service_mgr']` facts could be set to another module name or a module name installed in a collection such as `ansible_collections.namespace.name./tmp/reverse-shell`, which would allow arbitrary

[2020-02-26 19:58] samdoran opened #67797 "Command used in subversion module is problematic"
##### SUMMARY
CVE-2020-1739

The `password` is used in the `svn` command that is run by the `subversion` module. The password should be passed in via some other mechanism other than as a parameter to avoid the password being read at `/proc/<pid>/cmdline` on the managed node.

**Problematic code:**

https://github.com/ansible/ansible/blob/79dfae9624480f757795224732bfaa9ca1dd4543/lib/ansible/modules

[2020-02-26 20:00] samdoran opened #67798 "ansible-vault edit race condition"
##### SUMMARY
CVE-2020-1740

A race condition exists in `ansible-vault edit` which could allow another user on the same computer can read the old and new secret.

When executing `ansible-vault edit`, the method `VaultEditor._edit_file_helper()` creates the temporary file with `tempfile.mkstemp()`. However, the returned file descriptor is closed and  `VaultEditor.write_data()` is called to write to

[2020-02-26 20:03] jillr commented on #67746
@jjshoe I agree, we should all try to assume good intent from contributors - and that goes both ways.  Whether in irc or github, or any other forum, we shouldn't be snarking, derisive, or ill-tempered about people's contributions (past or present) or perspective on the design choices of the code.  We should be going into these conversations understanding that folks may have differing viewpoints ab

[2020-02-26 20:10] geerlingguy commented on #67758
I am still sad that `mazer` didn't become a 'thing', and was just used as a transitional tool. It fits into the nomenclature (Galaxy, Ansible... not sure if Tower fits in there though).

[2020-02-26 20:25] Andersson007 commented on #65351
could anyone confirm the pr by putting ```shipit``` there #67767.
There is that annoying unstable test which happens very often and doesn't relate to the code, it is not a problem

[2020-02-26 21:03] #65149 closed, assigned to nobody

[2020-02-26 21:13] sivel commented on #67783
When you provide an inventory with localhost, `/usr/bin/python` will be used to execute the module.  Whereas without an inventory you are using implicit localhost, that will utilize the python that is executing Ansible.

Assuming these are different versions of Python, they may have been compiled against different versions of OpenSSL, or have bugs in the Python SSL implementation, that causes this

[2020-02-26 21:13] #67783 closed, assigned to nobody

[2020-02-26 21:25] felixfontein commented on #67766
I'm using the module in a very similar setting (difference: one CA cert instead of two), and cannot reproduce this. Also, the line number doesn't really make sense for this error.

Which pyOpenSSL version do you have installed? Maybe there error comes from there (even though the stacktrace doesn't mention that).

[2020-02-26 23:11] k4ch0 commented on #58307
Hello!

+1 on the PR, I'm waiting on this for my playbook.

[2020-02-27 00:22] kbreit opened #67803 "Add VLAN consolidation filter"
##### SUMMARY

Many network devices will consolidate numbers. For example 1,2,3 and 5 would become 1-3,5. I’d like a filter in Ansible which would take a list of integers and merge them in this way.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Filter

##### ADDITIONAL INFORMATION

This would be used with many network devices. It’s most common for VLANS but is often used for interface nu

[2020-02-27 01:03] beasteers opened #67804 "handle `register` expressions for dict specs"
##### SUMMARY

Currently `register` saves the entire module output to a variable, but many times you only need one part of the output. For example, I would love to be able to set:
`register: something=result.stdout`
after running a shell command.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Basically - add dictionary support for `register`

##### ADDITIONAL INFORMATION

Essentially, you

[2020-02-27 01:25] ginigangadharan commented on #67245
Seems this is working with 2.9.5 version.

Sample task below; I have added `become_flags: 'su - postgres -c'` as well.

[code]

[2020-02-27 02:04] garamirseokim opened #67805 "Need ansible hostname without domain part from Satellite inventories"
##### SUMMARY
Some users are syncing the inventory from Satellite to Ansible Tower and they needs to have the hosts listed by short names instead of FQDN (for example: 'my-host-name' instead of 'my-host-name.domain.tld') from Satellite inventories.
I think we need a parameter similar to "alias patterns" in vmware_inventory.ini.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Ansible / AWX /

[2020-02-27 02:27] thylocene commented on #67764
Hi Nick,

We need to include the attributes because of the automation but the issue
we have is that we cannot use street: '' for the scenario where the street
attribute is not provided since it is optional (creating a new user
account). With Set-Aduser PowerShell module to clear an attribute you have
to use $null. We have no way to do that with the existing module
See *https://docs.microsoft.com/e

[2020-02-27 03:05] Fred-sun commented on #67555
@superz202 This seems to be your template problem, can you try creating a non-empty template? Thank you very much!

[2020-02-27 08:22] wtfred opened #67809 "deploy_helper module make broken link for current when using relative paths"
##### SUMMARY
I'm on Plesk, so the paths used for symbolic links can't be absolute, else Plesk will fail to do action such as renaming a domain.
I know it's better to use absolute paths, and when i did everything was working fine. But working with Plesk (or any other system that let you rename the domain) you can't use absolute paths, else everything will break when renaming the domain.
On the doc

[2020-02-27 08:24] player93github opened #67810 "ovirt_host_network don't save the network configuration"
#66014 ### SUMMARY

By default, the ovirt_host_network module is supposed to save the network configuration but, in my script, i also add the "save: yes" data and, when i go to the ovirt manager, it says that the network configuration changes are not saved.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

ansible 2.9.5

##### STEPS TO REPRODUCE

Just execute the code
My

[2020-02-27 08:28] markuman commented on #64292
resolved_by_pr #65201

[2020-02-27 09:03] itcultus commented on #67766
pyopenssl on the control node is
[code]

On the managed node is:
[code]

[2020-02-27 09:17] alexcernat opened #67812 "handler not fired when subsequent redefined later in conditional role"
##### SUMMARY
In a playbook, when multiple roles are defining the same handler, the handler is skipped if subsequent when don't match the hostname (see example below).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Because role1 made change

[2020-02-27 09:19] alexcernat commented on #67812
sorry, the ansible version was not included, package version is:
ii  ansible                              2.9.4-1ppa~bionic           all          Ansible IT Automation

[2020-02-27 09:30] nemethloci opened #67813 "ovirt_snapshot doesn't snapshot disk when creating snapshot of vm snapshot and disks to be snapshotted are enlisted"
##### SUMMARY
When creating VM snapshots with ovirt_snapshot it's possible to specify selectively which disk should be included in the snapshot, however snapshot currently will not contain the disk snapshot in such case (Note: without specifying the disks explicitly all disks are included in the snapshot and this works fine)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_snapshot

####

[2020-02-27 09:36] Sispheor opened #67814 "SandboxViolation: symlink('../k8s/k8s_scale.py', 'build/lib/ansible/modules/clustering/openshift/_openshift_scale.py') {}"
##### SUMMARY
During an installation as library (in a setup.py). The last version 2.9.5 exit with an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Installation as lib

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Docker cotainer based on Ubuntu 18.04
Python 3.6 and python 3.7
pip-20.0.2
setuptools-45.2.0
wheel-0.34.2

##### STEPS TO REPRODUCE
Having a python setup.py that us

[2020-02-27 09:41] mkrizek commented on #67812
If I understand your example correctly, this is expected. If multiple handlers are defined in a play (handlers are in a global scope) then the last one defined is used, the previous ones are ignored. In your example the handler from role2 is used and is only run on host1 because the handler inherited the role2's `when`.

Please see documentation https://docs.ansible.com/ansible/latest/user_guide/p

[2020-02-27 09:41] #67812 closed, assigned to nobody

[2020-02-27 11:22] belkone commented on #34316
is there any progress in the subject?

[2020-02-27 12:52] gforster commented on #63180
with multiple deleagate_to's in a playbook, this gets very ugly and unmaintainable very quickly.  Hoping the draft from @sivel is ready soon. Looks like it was good?

[2020-02-27 13:02] dmpe opened #67816 "vmware_vm_info should return VMs that are accessible to the user"
##### SUMMARY
`vmware_vm_info` normally returns all information about all VMs available on the ESXi datacenter. This is nice; however, in the corporate environment I do not have access to such information. Therefore, what I would expect is to `vmware_vm_info` return all information about (only) those VMs that i have access to and can normally query with other ansible tasks.

Otherwise one has to r

[2020-02-27 13:24] alexcernat commented on #67812
Thank you for your answer. From what you say this is the expected behavior. From my point of view (as ansible user) it is a "logical bug", because I see handlers as "functions" (actually deferred functions), which are "defined" and "called" in roles. I can "re-define" a "function" in subsequent role (maybe even change the "function" behavior ... but why change?), but when a "function" is defined (

[2020-02-27 13:39] #54541 closed, assigned to nobody

[2020-02-27 13:47] #56650 closed, assigned to nobody

[2020-02-27 13:51] #65351 closed, assigned to nobody

[2020-02-27 14:02] Andersson007 commented on #65351
thanks all for reporting this bug and your help!
I’ll create a backport to 2.9 today or tomorrow.

[2020-02-27 14:29] sivel commented on #67804
We have discussed this before, and there may be another feature request for it here somewhere.

I think generally speaking we are in favor of adding some form of "projection", that would allow you to manipulate the module response before registering the result.  It would likely be another keyword, that supplements `register` and not done in register directly.

However, with that being said, this w

[2020-02-27 14:58] noraab opened #67818 "Support port-ranges for Docker Swarm Service"
##### SUMMARY
Allow the usage of port-ranges when defining a docker swarm service using `docker_swarm_service`-Module. This is supported when using docker swarm cli.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`docker_swarm_service`

[2020-02-27 15:03] dglinder commented on #58307
@k4ch0 @splashx  - if either of you know Python, can you look over the PR and either provide updates to it or champion for it being accepted if it looks well.

I've since left the company where I encountered this bug and don't have access to the same environment to validate the updated code.  It sounds like either of you might so having a second set of eyes on this would help.  (And I *hate* leavi

[2020-02-27 15:03] edthezombie commented on #49254
Running Ansible 2.9.1 with Python version 3.6.8. The only thing that worked for me was putting `host_key_checking = False` in /etc/ansible/ansible.cfg

[2020-02-27 15:34] andreaso commented on #67784
Just to make sure that I fully understand. When you talk about duplicates you don't talk about actual duplicate identical TXT records, but rather duplicates on a usage/prefix level? Such as two different `"v=spf1 ..."` records?

[2020-02-27 16:04] MatthiasKammerlohr opened #67819 "docker_network: Support for --config-only and --from-config switch"
##### SUMMARY
Please support the settin "--config-only" and "--from-config" in docker_network
see docs (https://docs.docker.com/engine/reference/commandline/network_create/)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
docker_network

[2020-02-27 16:26] till opened #67820 "Debug module unserialises JSON sometimes"
##### SUMMARY
When you _dump_ variables, sometimes, the JSON is unserialised into a list, object, etc. Sometimes it's not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

debug

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Docker/CentOS7/Ubuntu

##### STEPS TO REPRODUCE

Say you have a module and register it's output:

[code]

Response could look like:

[code]

Response contains a

[2020-02-27 16:30] drzraf commented on #67784
I'm talking about duplicated identical TXT records.

Eg:
[code]

Consequence:
- `boolean A = true` and `boolean B = true`: Not idempotent, only `google-site-verification`
- `boolean A = true` and `boolean B = false`: Not idempotent, works once. But override any other records`
- `boolean A = false` and `boolean B = true`: Not idempotent, only `google-site-verification`
- `boolean A = false` and `bo

[2020-02-27 16:49] #34152 closed, assigned to nobody

[2020-02-27 17:10] andreaso commented on #67784
I think we might have parallel issues here.

First of all, yes the whole concept of the `solo` parameter is problematic when it comes to idempotency, and especially so when it comes to modern use of TXT records.

That said, I'm not sure I see the same thing as you regarding this case.

Hence, before we start talking about design changes I would like to sort out if you also might be hitting some bu

[2020-02-27 17:20] lvrfrc87 opened #67821 "eos_config - Response was not valid JSON, got Unable to authenticate user: Bad username/password combination"
##### SUMMARY
I am working with `eos_config` on my playbook and I have a very strange behavior. I can run the first task okay, but when I run the second one I always get `Response was not valid JSON, got Unable to authenticate user: Bad username/password combination`. This happen also with `eos_commands`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`eos_config`, `eos_commands`

##### ANSIB

[2020-02-27 18:01] abadger commented on #67621
For the docs website, we currently link to galaxy which then links to the repository for the collection.  But that's several clicks to get there.

We are going to query galaxy api for generating the collection docs.  I just looked and the repository information is not returned from there.  We may have access to it but that would mean adding yet another round trip to the galaxy server for each coll

[2020-02-27 18:09] geekifier commented on #60002
I see the same issue even without check mode in 2.9.5.

[2020-02-27 18:11] geekifier commented on #60002
+label affects_2.9

[2020-02-27 18:23] compyy commented on #36172
Any news on this bug, i am having same issue :(

[2020-02-27 19:32] JieX19 commented on #66077
Please follow the steps below to run your playbook (using "wildcard_fqdn" in the playbook)

Playbook:

![yaml](https://user-images.githubusercontent.com/59745792/75479542-94651980-5954-11ea-94c1-de436b47983b.PNG)

Results:

![result](https://user-images.githubusercontent.com/59745792/75479595-a6df5300-5954-11ea-83d0-474c33a7e26a.PNG)

I will close the ticket because it's been fixed. Please reach o

[2020-02-27 19:40] sivel commented on #67820
This is the result of a historical integration between ansible and the jinja2 templating engine.

jinja2 has historically only been able to output a template result as a string. So, when users are expecting something like the following to actually be a dict, jinja2 really gives us a str:

[code]

To work around this, we have a function called `safe_eval` that will attempt to turn things that look

[2020-02-27 19:40] #67820 closed, assigned to nobody

[2020-02-27 19:52] gromovadarya90 opened #67825 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 21:11] mraineri commented on #58941
Since ImageName is read-only, it's probably best to PATCH Image to null; I would think the service would clear ImageName in this case. @samerhaj does this seem reasonable from work you've done in this area?

[2020-02-27 21:14] pgrenaud commented on #61534
I previously had an issue with a freshly deployed Ubuntu 18.04 VM where it was not able to find a python interpreter. I had to manually override it to `/usr/bin/python3` in the inventory. But now I'm no longer able to reproduce this issue.

I fully agree with @duck-rh that the documentation and the naming is slightly confusing. At first, it made me believe that someone forgot to add the 18.04 rele

[2020-02-27 22:01] renata2216 opened #67831 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:21] renata7738 opened #67833 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:22] jillr commented on #67788
The terminator change has been deployed to prod in https://github.com/mattclay/aws-terminator/pull/89

It has not yet however been tested on an invalid certificate - only valid certs.  For now let's see if we can catch a bad cert and ensure it's handled properly by the changes before putting these back to stable.

[2020-02-27 22:26] #26592 closed, assigned to nobody

[2020-02-27 22:26] #28754 closed, assigned to nobody

[2020-02-27 22:26] #41260 closed, assigned to nobody

[2020-02-27 22:26] #43775 closed, assigned to nobody

[2020-02-28 00:04] benformosa opened #67835 "shebang sanity test does not identify module in a role's library directory"
##### SUMMARY
The [shebang](https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/sanity/code-smell/shebang.py) sanity test does not identify a file as a module when it is in a role's library directory.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
shebang.py

##### ANSIBLE VERSION

[code]

I've also seen the same result using shebang.py from devel

##### CONFIGURATION

[2020-02-28 00:08] fcam-naveen commented on #30411
I am facing similar problem. I am running RAW command against Cisco and Juniper routers. It hangs for some of the devices only. Works 90% of the devices. Can someone help. Attaching the debug output after running the command
This is how I am running the command
ansible all -i "$DEVICES," -m raw -a "$COMMAND" -c paramiko --extra-vars "ansible_user=$ans_user ansible_password=$ans_password"

[show_ha

[2020-02-28 00:10] kakurpiel commented on #64599
You don't actually need to send the config "terminal pager 0" to the device for a show command, the asa_command module handles the paging for the response and will output everything regardless of length.

However, it does look like your asa_config task is not set up properly. When using network_cli as a connection method, you do not need to set authorize, username, or password in the task itself.

[2020-02-28 00:18] mattclay commented on #67835
Roles in collections [do not support plugin directories](https://docs.ansible.com/ansible/latest/dev_guide/developing_collections.html#roles-directory).

Use the `plugins/modules` directory of the collection instead of the `library` directory of the role.

[2020-02-28 00:18] #67835 closed, assigned to nobody

[2020-02-28 00:54] nitzmahone commented on #61534
I'd been thinking about the design for interpreter discovery since ~ Ubuntu 16.04, but when we got wind of how RHEL8 would be handling its system Python, it became a must-build feature. Read what you will into that, but if you ask around, you'll find that I'm a very vocal advocate for "$feature needs to work well on non-Red Hat stuff" (sometimes to my own detriment). That said, it's also a Bad Thi

[2020-02-28 02:11] hasegawa-csi commented on #66077
Dear @JieX19 Confirmed that the problem has been fixed
Thank you :)

[2020-02-28 02:11] #66077 closed, assigned to nobody

[2020-02-28 02:30] garamirseokim opened #67837 "Request to add advanced schedule options in Tower"
##### SUMMARY
Some users are requesting one of below options in Tower.
1. cron-style timing configuration: Allow for cron-style detailed timing configuration
2. blackout option on Tower UI: Keep the current UI but have a global "blackout" window in which Ansible won't start new schedules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
UI / API

##### ADDITIONAL INFORMATION
The user has an

[2020-02-28 02:41] garamirseokim commented on #67837
Close this issue accordingly and will create this issue to correct place "ansible/awx" again.

[2020-02-28 02:41] #67837 closed, assigned to nobody

[2020-02-28 02:41] garamirseokim commented on #67837
Close this issue accordingly and will create this issue to correct place "ansible/awx" again.

[2020-02-28 03:25] beasteers opened #67838 "supervisorctl can't restart all"
##### SUMMARY

Restarting all processes is not supported by the `supervisorctl` module.

E.g.
[code]
raises:
[code]
I also tried `all:` and `*`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`supervisorctl`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(blank)

##### OS / ENVIRONMENT

Mac OSX (Mojave) accessing Raspberry Pi 3 over LAN.

[2020-02-28 04:10] WesToleman opened #67839 "Support contentType for azure_rm_keyvaultsecret"
##### SUMMARY

Azure KeyVault secrets have an optional *content type*. This is exposed via the [setsecret REST API](https://docs.microsoft.com/en-us/rest/api/keyvault/setsecret/setsecret) and [Az Powershell `Set-AzKeyVaultSecret`](https://docs.microsoft.com/en-us/powershell/module/az.keyvault/set-azkeyvaultsecret). The `azure_rm_keyvaultsecret` module does not support this option.

##### ISSUE TYP

[2020-02-28 04:22] goetzc commented on #57022
@mishas You can do it with a local connection hosts group (using a group per connection type) and `group_vars`. For example:

##### **`inventories/hosts`**
[code]

##### **`inventories/group_vars/local.yml`**
[code]
##### **`inventories/group_vars/all.yml`**
[code]

[2020-02-28 04:42] Fred-sun commented on #66849
@irmejonk Yes, we can't create ipv6 when sku is Standard, but we can create ipv6 when sku is Basic. I'll find out why. Thank you very much

[2020-02-28 05:14] jborean93 commented on #66534
I've started to work on something like this https://github.com/ansible/ansible/pull/67632. It's reliant on a few other bits and pieces I've got going on but this might be able to make it into ansible-galaxy if approved by others.

[2020-02-28 05:15] jborean93 commented on #65955
I believe has been address, the `--token` keyword was added as an alias for `--api-key` with https://github.com/ansible/ansible/pull/66376 and the docs also updated with https://github.com/ansible/ansible/pull/66644 to unify out docs on the token keyword.

[2020-02-28 05:15] #65955 closed, assigned to samdoran

[2020-02-28 05:17] jborean93 commented on #65661
This was implemented with https://github.com/ansible/ansible/pull/60660, you can specify a timeout with `--import-timeout` and the default was changed to an indefinite wait.

[2020-02-28 05:17] #65661 closed, assigned to nobody

[2020-02-28 05:27] Andersson007 commented on #65351
I created the backport https://github.com/ansible/ansible/pull/67842, hope it will be included in the following minor release

[2020-02-28 05:39] jborean93 commented on #65673
I've tried to try and simplify some of the behaviour around just `ansible-galaxy install` with a requirements file in https://github.com/ansible/ansible/pull/67843. I think follows the behaviour around what you have specified when `role` or `collection` is not set on the ansible-galaxy arg. The only caveat where this will not work is if someone specified a custom install path with `-p`, in that ca

[2020-02-28 06:26] helen78989 opened #67845 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-02-28 07:03] felixfontein commented on #53789
That module is now also merged. During developing it, we decided to not add revocation query support to that module, but add another module `openssl_certificate_revocation` or so which allows to query various revocation sources (i.e. CRL, OCSP). I'll look into developing that once stuff has been moved to collections (the moving process starts next week).

[2020-02-28 08:31] Fred-sun commented on #66849
@haiyuazhang @gavinfish Can you help me see why we can't create ipv6 when sku=Standard? Thank you very much!

[2020-02-28 08:50] tuxick commented on #30411
I'm doing something like this:

    - name: update system
      yum:
        name: '*'
        state: latest # noqa 403
      async: 600
      register: yum_sleeper

    - name: 'YUM - check on async task'
      async_status:
        jid: "{{ yum_sleeper.ansible_job_id }}"
      register: job_result
      until: job_result.finished
      retries: 30

[2020-02-28 08:57] evrardjp commented on #67737
Exactly. It's reasonable. I was basically triaging it, and came to the same conclusion :)

I have the impression whitelist of flags will be error prone, but I guess it's up to the bug fixer :)

Sorry I don't have extra time either...

[2020-02-28 09:00] evrardjp commented on #67779
That's not clear to me whether the oldpackage flag was given or not.

[2020-02-28 09:02] HaraldPaterek commented on #67779
I have set the oldpackage flag, but the module description says it is implied when you define a version number.

[2020-02-28 09:03] HaraldPaterek commented on #67779
Also, the problem occurs under Ansible 2.9 as well.

[2020-02-28 09:28] mkrizek commented on #22810
Closing as per above.

[2020-02-28 09:28] #22810 closed, assigned to nobody

[2020-02-28 09:57] marbarmar commented on #67169
Hello @GomathiselviS.
I am new to ansible. Can you please point me to where exactly I can find the changes you have done with: lib/ansible/module_utils/network/nxos/config/lag_interfaces/lag_interfaces.py
Thank you

[2020-02-28 10:04] Vaishnavi-infoblox commented on #67423
Fixed and raised a pull request #67849.

[2020-02-28 10:16] richierg opened #67850 "Ansible user module delete user password"
##### SUMMARY

 Add password_delete option to user module
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Module name : user
##### ADDITIONAL INFORMATION

Some cloud provider create an user / password for first installation of System. For me this user is ansible.
Currently I just lock this user with the password_lock feature of user module.
But I would like delete this.

[code]

[2020-02-28 10:17] FedericoOlivieri commented on #67821
I have managed to isolate the problem: this happen when in network cli vars user and password strings are encrypted with vault. When strings in clear text, everiting works ok

[code]

[2020-02-28 10:23] justjais commented on #66518
@demakkar I can see that for `Invalid input detected ` issue, check is already in place (ref: [hardware_facts_invalid_input](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/network/ios/facts/legacy/base.py#L113)). So, it seems like the respective check is either failing or the error received on your device is somehow skipping the tests.

Can you please run the tests with `-v

[2020-02-28 12:07] mkrizek commented on #27268
This has been implemented in Ansible `2.8`:
[code]

[code]

[2020-02-28 13:08] DEvil0000 opened #67855 "feature rabbitmq module: cluster and federation management module"
##### SUMMARY
having a module for manageing rabbitmq cluster joins and federation would be nice.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
rabbitmq

[2020-02-28 13:43] GomathiselviS commented on #67169
@marbarmar Pleaes check the  files changed under [PR](https://github.com/ansible/ansible/pull/67359) .
I hope this helps.

[2020-02-28 13:48] karczex opened #67857 "Template module crash if run in podman container from directory in mounted volume"
##### SUMMARY

Template module cause crash with python exception if run in podman container. To reproduce this bug, playbook code need to be in directory on volume mounted in  container, and parameter "delegate_to" set to 127.0.0.1

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Debian GNU/Linux bullse

[2020-02-28 14:51] mcgoldrickm opened #67858 "PROXY grants via mysql_user do not appear to work correctly"
##### SUMMARY

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

GRANT PROXY ON 'db_admins'@'localhost' TO ''@''

##### ACTUAL RESULTS

[code]

[2020-02-28 15:16] rvdlinden opened #67860 "Resizing swap using filesystem and/or lvol modules fails"
##### SUMMARY

Unable to resize a swap filesystem on RHEL 7/8 using either the filesystem module nor the lvol module.

The filesystem module states in the documentation at https://docs.ansible.com/ansible/latest/modules/filesystem_module.html, that it can resize a swap partition. When used however, the following message is shown:
"msg": "module does not support resizing swap filesystem yet."

When

[2020-02-28 15:16] till commented on #67820
@sivel Thanks for the write-up!

[2020-02-28 15:19] #30064 closed, assigned to nobody

[2020-02-28 15:19] #33947 closed, assigned to nobody

[2020-02-28 15:24] samdoran commented on #66775
This best left to third-party repositories.

Yes, which we use to provide this text at the end of `ansible-doc -h`:

[code]

</br>

Not that I am aware of. You could reach out to the [Docs Working Group](https://github.com/ansible/community/wiki/Docs) for more information.

[2020-02-28 15:39] masterphenix opened #67861 ""NotImplementedError: APIVersion 2019-06-01 is not available" with module azure_rm_publicipaddress on version 2.10.0.dev0"
##### SUMMARY
Using cloud module azure_rm_publicipaddress with latest dev version of ansible generates the following error : NotImplementedError: APIVersion 2019-06-01 is not available

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module name : azure_rm_publicipaddress

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Docker image based on alpine 3.11.3, with

[2020-02-28 15:54] sivel commented on #67850
Why can't you just set `password: ''` or from the documentation:

I'm not sure we need another option, when you can just supply a password that achieves the same goal.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-28 15:54] #67850 closed, assigned to nobody

[2020-02-28 16:08] geerlingguy opened #67862 "Allow galaxy api-key/token to be set via environment variable"
##### SUMMARY

I am trying to automate the building and publishing of Ansible Collections via a CI system, and the CI system makes it very easy to use secrets (e.g. the Galaxy API token) as environment variables.

However, the `ansible-galaxy publish` command requires the key to be specified one of two ways:

  1. Via the cli, which means it would be printed to screen if I were to run the command

[2020-02-28 16:29] fklucas82 opened #67864 "vmware_host_datastore - option to resignature"
##### SUMMARY
Currently if the VMFS datastore is cloned from a snapshot, the module automatically formats the datastore when mounting.  I'd like to be able to resignature and mount the datastore so that I can use the module for disaster recovery operations.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_host_datastore

##### ADDITIONAL INFORMATION
Creating cloned datastores for file

[2020-02-28 16:47] xenlo opened #67865 "`user` module does not seem to work with BusyBox class on ESXi platforms"
##### SUMMARY

The `user` module fails when we run it against a VMware ESXi 6.7.0:
[code]
I know that the shell used there is a BusyBox and I see that there was a MR #45507 implementing a class for BusyBox (solving the issue for Alpine Linux #30445). So maybe it's just a link missing between platform `VMkernel` and that new BusyBox class?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- Modu

[2020-02-28 17:54] dustinwoodhouse opened #67867 "win_iis_webapplication: physical_path return param is merely a pass-through param"
##### SUMMARY
The physical_path return param is merely a pass-through of the corresponding request parameter. It is a valid use case that the user may not know the physical path, for example in the case where this module is being used to REMOVE the specified web app. And in that use case, the user will want to receive the physical_path of the specified web app after removal, to easily clean up the

[2020-02-28 19:10] samdoran commented on #48782
I have fixed all the tests needed for upgrading to FreeBSD 11.3. However, the failure to boot problem still exists. I will need to dig into a failed test instance and see what is causing the boot failure. It may be a problem with our init scripts.

[2020-02-28 19:27] jillr opened #67869 "ansible-test bad module_utils import detection in collections"
##### SUMMARY
When doing change detection in collections, module_utils import path is improperly detected.

As in: https://app.shippable.com/github/ansible-collections/amazon-core/runs/11/1/console
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION
devel

##### OS / ENVIRONMENT
shippable

##### STEPS TO REPRODUCE
run collections job in shippable

#####

[2020-02-28 19:42] mjcotner opened #67870 "Ansible's "vmware_guest" module seems to ignore it's host MTU Settings"
##### SUMMARY

The Ansible Control Node seems to be ignoring it's OS defined MTU settings.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Platform: VMware 6.7
OS: CentOS8
Ansible 2.9.5
Python3: 3.6.8
VCSA: 6.7.0.31100

##### STEPS TO REPRODUCE

1. Install Ansible 2.9.5 on CentOS8.
2. Install pyvm

[2020-02-28 20:25] fcam-naveen commented on #30411
Thanks @tuxick. Looks like you are doing retries.
But in my case it just hangs. I can keep retrying. It the same problem.
I got around adding timeout 45 infront of Ansible command. But it doesn't solve my problem.
timeout 45 ansible all -i "$DEVICES," -m raw -a "$COMMAND" -c paramiko --extra-vars "ansible_user=$ans_user ansible_password=$ans_password"

Why is it handing?? it hangs at
<10.121.0.3>

[2020-02-28 21:19] sivel commented on #67805
!component =contrib/inventory/foreman.py

[2020-02-28 22:12] #67172 closed, assigned to nobody

[2020-02-28 22:56] #67795 closed, assigned to samdoran

[2020-02-29 00:21] navisidhu commented on #64418
@Qalthos : Have you had a chance to look at this?

[2020-02-29 01:33] #47945 closed, assigned to nobody

[2020-02-29 07:56] #66135 closed, assigned to nobody

[2020-02-29 08:01] #60128 closed, assigned to nobody

[2020-02-29 13:27] iamperson347 commented on #66945
@s-hertel sorry for the late response. I'm a bit confused. It seems to me that ansible_play_batch should ignore failed host, regardless of the setting of ignore_unreachable. Do you think the issue is being caused by the delegate_to trying to (initially) run against the failed host prior to actual delegation to 127.0.0.1? Otherwise, i still think ansible_play_batch should only return active host, r

[2020-02-29 15:38] arensb commented on #67113
No,
!component macports
you silly bot.

[2020-02-29 15:52] s-hertel commented on #67113
!component =lib/ansible/modules/packaging/os/macports.py

[2020-02-29 17:36] ecchong opened #67885 "tower_receive does not return inventory group name if user is not System Administrator"
##### SUMMARY

Using tower_receive module, tower-cli or awx-cli command to pull a inventory from Tower does not return the group name if the user is not System Adminsitrator

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tower_receive
tower-cli
awx-cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTE

[2020-02-29 18:51] #64292 closed, assigned to nobody

[2020-02-29 19:11] AlanCoding commented on #67885
These modules have been replaced by the collection at

https://github.com/ansible/awx/tree/devel/awx_collection

and the `tower_send` module is being replaced by new a new set of import/export commands which are a rewrite. https://github.com/ansible/awx/pull/6125

close_me

[2020-02-29 19:11] #67885 closed, assigned to nobody

[2020-02-29 22:27] WojciechowskiPiotr commented on #67818
The API itself does not allow ranges specified the same way as when using CLI. But we can covert the range into array of published ports and this way provide it for the Docker API.

[2020-02-29 23:27] felixfontein commented on #67818
If someone is interested in implementing this: there's already code in `docker_container` doing that. It could potentially be generalized.

(Whoever is interested: in two days the ansible/ansible repository will be locked down and migration to collections will begin. So now's not a good time to create a new PR; it's better to wait a few weeks :) [More infos](https://github.com/ansible-collections/

[2020-03-01 02:20] ShachafGoldstein commented on #67867
I might be missing something but according to the source here, as long as the webapp is a valid one , the path is the actual path.

https://github.com/ansible/ansible/blob/70fc69c852eacd48bfcf82e068a83182f6b0aacc/lib/ansible/modules/windows/win_iis_webapplication.ps1#L125-L136

[2020-03-01 02:24] ShachafGoldstein commented on #67536
Would you mind commenting the output of `get-disk` on the system?

[2020-03-01 02:31] ShachafGoldstein commented on #67642
Can you please post the output of `get-childitem C:\ -Force`?
and are you sure that file is there and you are able to manipulate it from the GUI for example?

I vaguely remember that specific file not always present, on my win10 machine it is not there.

[2020-03-01 02:57] ShachafGoldstein commented on #67627
If we are ok with it, changing the regex on line 86 to `"(?(\:\\$) | \\$)"` should solve the issue here
gonna make a PR.
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_share.ps1#L86

[2020-03-01 04:04] Lin-Buo-Ren commented on #66414
Or should I file a new issue for my specific case :frowning:

[2020-03-01 05:09] #41397 closed, assigned to trishnaguha

[2020-03-01 05:24] ShachafGoldstein commented on #63595
Are you running the playbook with a user that is in the Administrators Group?

[2020-03-01 08:41] andreaso commented on #66845
So, for the case where the same server is authoritative both for the parent zone and the child zone the only reliable way I see for TTL change detection is doing a full AXFR. Yet, being able/allowed to do AXFR requests is hardly a requirement we can introduce to the nsupdate module at this stage.

Still, we don't want to let the perfect be the enemy of the good, so might as well try fixing the iss

[2020-03-01 10:59] p-v-a opened #67896 "ios_vlans throws an error due to unexpected show vlan output"
##### SUMMARY
Attempts to run ios_vlans fails with exception

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_vlans, probably other cisco IOS modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

WS-C3560X-48P running 15.2(4)E9
or
WS-C3750X-48 running 15.2(4)E1

the issue is in the show vlan output with VLAN1003, it seems that ios_vlans doesn't expect

[2020-03-01 11:20] p-v-a commented on #67896
!component lib/ansible/module_utils/network/ios/facts/vlans/vlans.py

[2020-03-01 12:10] dustinwoodhouse commented on #67867
The issue is not what the path is, it's that if the user doesn't provide the path, no path is returned. Same is true for the application_pool param. In the case of a REMOVE operation where the path is not known, and only name and site are provided, the return params (both physical_path and application_pool) should be populated with the respective values from the app that was removed. Instead they

[2020-03-01 12:26] ShachafGoldstein commented on #63595
I did some debugging and it looks like the `RequiresReboot` is missing and causes an exception that propagates to the setup.ps1 which in turn outputs null

[2020-03-01 14:38] Fred-sun commented on #67861
@masterphenix Thank you for taking the time to report this problem. You can try this command installation ( sudo pip install git+https://github.com/ansible/ansible.git@devel). Does the problem exist?

[2020-03-01 14:42] Fred-sun commented on #67839
@WesToleman Thank you for taking the time to report this problem. We will invetesting into this. Thank you very much!

[2020-03-01 16:02] pipoe2h commented on #49284
Having this exact issue when using the following Consul role.

https://github.com/brianshumate/ansible-consul

[2020-03-01 17:54] uditgaurav opened #67898 "Getting the kubernetes job pod logs using ansible kubernetes modules"
##### SUMMARY

I want the print the logs of Kubernetes job pod, we can do this via
`kubectl logs -f <pod-name>` using shell module
But how to do it using Ansible modules like  k8s,k8s_info?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

MODULE NAMES
`K8s`
`k8s_info` /  `k8s_facts`(before asnible 2.9)

##### ADDITIONAL INFORMATION

Kubernetes modules like `k8s_info` module are used to deal

[2020-03-01 17:56] uditgaurav commented on #67898
@willthames

[2020-03-01 18:18] fabianvf commented on #67898
Active module development has moved to the [Kubernetes Ansible collection](https://github.com/ansible-collections/kubernetes), and we just merged a new `k8s_log` module that should fit your needs: https://github.com/ansible-collections/kubernetes/blob/master/plugins/modules/k8s_log.py

[2020-03-01 19:51] gparent opened #67900 "get_certificate always checks availability of pyopenssl backend"
##### SUMMARY

If pyOpenssl is unavailable `get_certificate` module fails with error about missing `pyopenssl` even when `cryptography` backend is available, or selected using `select_crypto_backend`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

get_certificate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Controller and managed host is the same one,

[2020-03-01 20:32] #67900 closed, assigned to nobody

[2020-03-01 20:45] pipoe2h commented on #49284
I have applied the change mentioned below to unarchive.py and the deployment is successful now.

https://github.com/ansible/ansible/pull/65666

[2020-03-01 20:48] Ahmed-Hussein-Karam opened #67904 "Ansible url lookup doesn't give final HTML for React apps"
##### SUMMARY

When I use the [Ansible url lookup](https://docs.ansible.com/ansible/latest/plugins/lookup/url.html) to get the html of a web page developed with [ReactJs](https://reactjs.org/), the returned html result doesn't include the inner html of the `<div id=\"root\"></div>` element.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible URL Lookup
##### ANSIBLE VERSION

[code]

####

[2020-03-01 22:02] #67273 closed, assigned to nobody

[2020-03-01 22:35] uditgaurav commented on #67898
Awesome eagerly waiting for `k8s_log` Thanks! @fabianvf

[2020-03-02 03:26] andreaso commented on #67904
Are you really expecting the url lookup plugin to parse the fetched JavaScript?

[2020-03-02 04:55] leedm777 opened #67913 "Roles that are tagged in dependencies duplicate execution with playbook"
##### SUMMARY
If a dependency is tagged, then its execution is duplicated if that role is also listed in the play.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS; local playbook

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Tasks in role a should only be executed once.

##### ACTUAL RESULT

[2020-03-02 06:00] Fred-sun commented on #67255
@Akasurde Any update for this? Thank you very much!

[2020-03-02 08:38] marbarmar commented on #67169
Hello @GomathiselviS
I have checked this page even before but I can't  find there what exactly shoudl I modify in lib/ansible/module_utils/network/nxos/config/lag_interfaces/lag_interfaces.py
Please tell me what exactly shoudl I change in this file.
Thank you

[2020-03-02 09:32] justjais commented on #67277
@craigarms Thanks for logging the issue, and you can resolve the config command prompt via ansible `cli_command` module. Please ref: [cli_command](https://docs.ansible.com/ansible/latest/modules/cli_command_module.html) module example section, as to how you can handle the config level command prompt and resolve the issue you're facing.

ref example:
[code]
Closing the bug, as the scenario can be r

[2020-03-02 09:32] #67277 closed, assigned to justjais

[2020-03-02 09:34] justjais commented on #66485
Hi @kbreit thanks for logging the issue and since the issue is fixed in ios collection doc, can we close the respective issue?

[2020-03-02 09:48] kbreit commented on #66485
Yes. I’ll close the issue. Thanks for the fix.

[2020-03-02 09:48] #66485 closed, assigned to justjais

[2020-03-02 09:51] justjais commented on #66039
@markeriv Thank you for logging the issue, and I am not able to reproduce the respective issue from my end and it's working as expected for the device from which I have tried the scenario, ref output:

[code]
That said, duplex value is populated from regex search, can you paste in your out for `show interfaces` for `FastEthernet0/24` for triaging the issue you're facing.

[2020-03-02 09:55] justjais commented on #58575
@comshelp closing the issue, as the issue is fixed in `ios_l2_interfaces` resource module available in Ansible `2.9`

[2020-03-02 09:55] #58575 closed, assigned to justjais

[2020-03-02 10:00] justjais commented on #53322
@kalero I am unable to reproduce the issue, can you please check the issue again with Ansible `stable-2.9` and report if you're still having the issue with `network_cli` connection plugin.

[2020-03-02 10:10] justjais commented on #52738
@smolz Thanks for logging the issue, and for manging VRFs from ios standpoint is planned to be released with future release of Ansible network resource modules.
I can update the issue, once the release schedule for the same is finalized.
Keeping the issue open and tagging it currently on `_waiting_on_contributor_`

[2020-03-02 10:13] justjais commented on #52684
@AuroraLi Thank you for logging the issue and apologies for the delay in response. Just to check here can you please update if you're still having the issue with `network_cli` connection plugin in the latest available stable ansible version.

I am not able to reproduce the issue from my end.

[2020-03-02 11:47] Madhura-CSI opened #67925 "Incorrect Return Value 'azure_resourcegroups' for azure_rm_resourcegroup_info module"
##### SUMMARY
azure_rm_resourcegroup_info module has incorrect return value as 'azure_resourcegroups'.
The old module 'azure_rm_resourcegroup_facts' had ansible_facts.azure_resourcegroups as the list of resourcegroups returned as a result of execution of this module.
But this has changed to only 'resourcegroups' if we use azure_rm_resourcegroup_info, the new module. But the documentation still pri

[2020-03-02 11:48] mnecas commented on #67813
resolved_by_pr #67815

[2020-03-02 11:56] #67813 closed, assigned to nobody

[2020-03-02 13:18] bcoca commented on #60424
^ above is PR that adds deprecation support for collections, currently it requires removing the leading `_` from the name and adding an entry in `meta/routing.yml`

[2020-03-02 13:30] bcoca commented on #59997
fixed by #61078

[2020-03-02 13:30] #59997 closed, assigned to nobody

[2020-03-02 13:56] Arkadietz opened #67929 "Showing percent of tasks"
##### SUMMARY

A feature module to showing the percent of request done

##### ISSUE TYPE
- Feature Idea
(Having a large tasks will be great to showing on right step of the task you are and the % of the main task)

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

Like:
Progress: [ 61%] [#####################################(currently is on )########

[code]

[2020-03-02 14:25] timurkhisamov commented on #52979
Up, macOSX
`ansible 2.9.5
  config file = None
  configured module search path = ['/Users/timur/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.7.6 (default, Dec 30 2019, 19:38:26) [Clang 11.0.0 (clang-1100.0.33.16)]`
not also work.

[2020-03-02 14:36] sivel commented on #67904
This is expected. React is implemented in javascript, and this tooling does not implement that. You will have to utilize some form of headless browser and maybe selenium to accomplish your goal.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-02 14:36] #67904 closed, assigned to nobody

[2020-03-02 14:46] sivel commented on #67929
Thank you very much for your interest in Ansible. We have no plans of adding such a feature at this time.  One complexity to be aware of is with includes, as we have no idea how many tasks are hidden behind includes, until the include is processed.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google

[2020-03-02 14:46] #67929 closed, assigned to nobody

[2020-03-02 14:55] anonfriese commented on #30075
fyi still having this issue with 2.9.5....

[2020-03-02 15:14] Ahmed-Hussein-Karam commented on #67904
Can't this even be implemented as a new feature in Ansible ?

[2020-03-02 15:37] sivel commented on #67904
You are free to develop a selenium module, but we have no plans of accepting such a feature into the get_url or uri modules, nor do we have plans of creating this functionality.

[2020-03-02 15:49] frangdlt opened #67932 "Module ovirt_storage_domain does not update warning_low_space_indicator unless critical_space_action_blocker also changes"
##### SUMMARY
Module ovirt_storage_domain does is not updated unless critical_space_action_blocker also changes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_storage_domain

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible 2.8 running on RHEL 7.7 and connected to a RHV 4.3.8 engine. Also reproducible with latest Ansible 2.9 .

##### STEPS T

[2020-03-02 15:54] rhysmeister commented on #66395
@mohag Thanks for the tip.
@thy143 Might have some time to work on this soon but it'll continue over at https://github.com/ansible-collections/mongodb

[2020-03-02 16:16] jfoliveira commented on #51988
+1

[2020-03-02 16:20] pacsikaz opened #67933 "ovirt_disk: invalid Actual Size after uploading sparse qcow2 image to datastore"
##### SUMMARY

Using ovirt_disk ansible module to upload a sparse qcow2 image results in invalid actual size on a storage domain, backed by an iSCSI storage.
On source the qcow2 file size is less than 1G, but after uploading the actual size will be more than the virtual size given in the playbook. See details in attached logs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_disk

#####

[2020-03-02 17:03] ShachafGoldstein commented on #65982
In windows there is no `/etc/ethers`, the possible  solution is to use `arp -a` output based on given IP, maybe resolve name to IP also.
but I am not sure this is a correct or valid approach.

@jborean93 @nitzmahone

[2020-03-02 17:06] ShachafGoldstein commented on #47497
Please see above discussion.
If you see different behavior between versions of hosts or controllers, maybe write it here.

[2020-03-02 17:09] ShachafGoldstein commented on #59056
@mhazri Seems you are talking about something else, this issue is about reboot loop caused by Ansible.
Maybe open a different issue on your problem?

[2020-03-02 17:12] ShachafGoldstein commented on #62899
We can add a try catch for `Get-LazyCimInstance`, but should we return `$null` on catch or something else?

@nitzmahone @jborean93

[2020-03-02 17:29] dgm commented on #32346
Still an issue, only the error messages are a little different:

[2020-03-02 17:46] geerlingguy opened #67939 "Add documentation to assist with determining where issues should go"
##### SUMMARY

We are now in a new era of ansible/ansible maintenance, according to this timeline:

Source: https://groups.google.com/forum/#!msg/ansible-devel/oKqgCeYTs-M/cHrOgMw8CAAJ

It may be helpful—especially since there will be many people who have ignored and/or not seen the public postings at all—to have a docs page that helps people determine where they should file a given issue.

It sho

[2020-03-02 17:49] geerlingguy commented on #67939
Just noting that the [community guide](https://docs.ansible.com/ansible/latest/community/index.html) links to:

  - [Reporting a bug](https://docs.ansible.com/ansible/latest/community/reporting_bugs_and_features.html#reporting-bugs)
  - [Requesting a feature](https://docs.ansible.com/ansible/latest/community/reporting_bugs_and_features.html#requesting-a-feature)

That entire page ("Reporting Bugs

[2020-03-02 17:50] geerlingguy commented on #67939
The docs page [Information for submitting a group of modules](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_in_groups.html#developing-modules-in-groups) probably also needs a full rewrite.

[2020-03-02 18:15] zoechi commented on #65982
I think `arp -a` is not helpful at all, because
if the machine is not running it won't return a MAC
if it's running I don't need to wake it up anyway.

I don't say it should solely rely on `/etc/ethers`, only if it ecists.

Yes, it's probably only relevant for non-Windows machines.

[2020-03-02 19:50] evgeni commented on #67118
ping? ;)

[2020-03-02 20:20] mattclay commented on #67118
@evgeni This is on my todo list, but I don't know if I'll have time to address it until after migration.

[2020-03-02 20:27] evgeni commented on #67118
Would it help to open a PR?

[2020-03-02 20:32] mestuddtc commented on #66497
No, `defaults_from` exhibits the same behaviour. I came to open a bug on it and found this one.

It is causing a lot of pain for me. I am releasing a large number of containers using a role. But each container has different configuration, and this forces including each container separately. Releases take hours instead of minutes because I can't parallelise.

I may be able to spend some time lookin

[2020-03-02 20:42] mattclay commented on #67118
@evgeni Sure, but additional changes to requirements may be required, as I'd like to get it working for Python 3.9.0a4 as well (if possible), now that we have that version available in CI.

[2020-03-02 20:47] jerrac commented on #42524
Having just needed the opening posts described feature, I'll add my two cents. (And risk bumping an old issue...)

Using filters to set a specific time seems a bit overly complicated to me. I think it makes more sense to directly copy the syntax used by the `at` command.

[code]

[2020-03-02 21:43] Hoeze opened #67948 "'register' for blocks"
Hi, I'm not sure if there is a better solution, but I would like the following solution for the problem: "Execute reload task if any other task in a block has changed".

##### SUMMARY
Allow `register` as attribute for task blocks:
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible task blocks

[2020-03-02 21:53] eshellman opened #67949 "acme_certificate module reversion"
##### SUMMARY
challenge data is missing in result for http-01 verification.

This appears to be a reversion introduced in https://github.com/ansible/ansible/pull/61191

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

acme_certificate module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target -  Ubuntu 18.04

##### STEPS TO REPRODUCE

when running in any

[2020-03-02 22:06] felixfontein commented on #67949
The module only returns challenges which still need to be satisfied. If there are none, you can simply run the module another time providing `data` and the certificate should get issued.

[2020-03-02 22:09] felixfontein commented on #67949
Your debug data clearly shows that the challenges are already `valid` (see https://tools.ietf.org/html/rfc8555#section-7.1.6 for possible states of ACME objects).

[2020-03-02 23:01] CosmoMyzrailGorynych opened #67952 "vmware_guest cannot remove 2 CDROMs, adds 1 CDROM with state: absent"
##### SUMMARY

The module `vmware_guest` cannot remove CDROMs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* vSphere Client version: 6.5.0.13000
* Hypervisor: VMware ESXi, 6.5.0
* VM Compatibility: ESXi 6.5 and later (VM version 13)

##### STEPS TO REPRODUCE

* Have a VM with two CDROMs in a

[2020-03-03 01:35] fcam-naveen commented on #30411
can someone help looking at the logs or you had similar experience? Thanks a lot.

[2020-03-03 02:22] eshellman commented on #67949
Yes, but take a look at the documented method to fulfill the challenge:
# - copy:
#     dest: /var/www/html/{{ sample_com_challenge['challenge_data']['sample.com']['http-01']['resource'] }}
#     content: "{{ sample_com_challenge['challenge_data']['sample.com']['http-01']['resource_value'] }}"
#     when: sample_com_challenge is changed

This ALWAYS fails, stopping the play,  as "changed" returns

[2020-03-03 07:56] aniejek opened #67956 "docker_swarm_info: KeyError: 'EndpointSpec'"
##### SUMMARY
While executing task with docker_swarm_info module and `service` property with value `yes` I get an error KeyError: 'EndpointSpec'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_swarm_info

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.3 LTS

##### STEPS TO REPRODUCE
Execute task as follows:
[code]

docker info on manager

[2020-03-03 08:55] Fred-sun commented on #67925
@Madhura-CSI Yes, you are right, I will update this module! Thank you very much!

[2020-03-03 10:21] #43313 closed, assigned to justjais

[2020-03-03 10:21] #40920 closed, assigned to justjais

[2020-03-03 10:21] #35015 closed, assigned to nobody

[2020-03-03 10:52] grobile opened #67960 "nxos_vlans returns tracback ValueError: malformed string"
##### SUMMARY
running a playbook against CISCO NEXUS 7710 to create a vlan with nxos_vlans module generates a traceback "malformed string"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 vxos_vlans

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Hardware:
 cisco Nexus7700 C7710
Software
  BIOS:      version 3.7.0
  kickstart: version 8.4(1)
  system:    vers

[2020-03-03 11:12] drybjed commented on #67723
@Legogris The new DebOps collections with fix for this issue have been uploaded to Ansible Galaxy. Can you check them out and see if the issue is fixed on your side?

[2020-03-03 12:22] ssato opened #67962 "win_audit_policy_system does not work in non-English environment"
##### SUMMARY

win_audit_policy_system does not work as expected in non-English environment
because it calls auditpol.exe and its output varies depends on the locale.

[code]

[code]

[code]

The reason of this error looks because the line does not work at all as expected
in non English locale environment, that is, audtpol.exe outputs localized
non English results instead of English ones the power

[2020-03-03 13:15] P-Hessler opened #67964 "Unexpected CLIXML in stderr output"
##### SUMMARY
Hi,
I'm using ansible v2.9.5 (the problem exists at least since version 2.9.1).
The issue:
Using the script module in order to execute scripts with escalated rights leads to unexpected output in stderr.
In ansible version 2.7.10 the behavior is as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

script

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#####

[2020-03-03 13:22] bossi86 opened #67965 "podman_image: remove_signatures option not correct implemented"
#### SUMMARY
The module podman_image has a typo in the remove-signatures options.
The name of the options is "--remove-signatures", but "--remove_signatures" is used instead.
See: https://github.com/ansible/ansible/blame/devel/lib/ansible/modules/cloud/podman/podman_image.py#L580

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
podman_image

##### ANSIBLE VERSION
all Versions (including curren

[2020-03-03 13:54] CodeSmolder opened #67966 "Mount module not mounting sshfs using state: mounted"
##### SUMMARY
Ansible mount module not mounting sshfs using state: mounted

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible mount

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target OS is Ubuntu 18.04.4 LTS

##### STEPS TO REPRODUCE
If you run the following code within a task, the fstab entry will be written correctly but it will not be mounted as e

[2020-03-03 14:01] xorrkaz commented on #67415
I'm seeing this with 2.9.4, too.  I am using the NetApp modules, and I see a stack trace related to:

[code]

This is also being run withing Docker and using Python 3.7.  Sadly, I don't have a simple playbook to reproduce this.  The playbook I have would require a NetApp cluster.  I was thinking perhaps some space issues, but I haven't been able to confirm yet.  This does appear to be transient.

[2020-03-03 14:13] mego2000 opened #67967 "i try to run at.py but noting happens commend not execute"
after run yml for Schedule  nothing happend commend Schedule  not execute
 "changed": true,
    "count": 1,
    "invocation": {
        "module_args": {
            "command": "ansible-playbook /etc/ansible/nbe/ans-play.yml -i /etc/ansible/nbe/hosts -e 'ansible_python_interpreter=/opt/freeware/bin/python3'  -e \"ansible_user=wasadmin\"",
            "count": 1,
            "script_file": null,

[2020-03-03 14:22] sivel commented on #67967
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-03-03 14:22] #67967 closed, assigned to nobody

[2020-03-03 14:24] Mark0016 opened #67969 "Sudo prompt timeout on redhat hosts only"
##### SUMMARY

Sudo prompt times out on RedHat based hosts only. With pipelining enabled everything works fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

sudo

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

The environment I'm testing in consists of VMs all with different Linux distributions. Their name reflects the distribution I'ts running. Here's

[2020-03-03 14:34] Zoran-P opened #67970 "Fail when A != B not working (A and B are vars of type String)"
##### SUMMARY
When two string variables are checked for not being equal in:
fail when condition, it does not work for:
[code]

and the check works only for being two strings equal. So following all works:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

not relevant

##### STEPS TO REPRODUCE

test.yaml

[2020-03-03 14:48] GuidoZuccarelli opened #67972 "Git module: Failed to download remote objects and refs"
##### SUMMARY

The invocation to git module executes the command `git fetch --tags` which can fail under certain circumstances (some tag remotely overridden).
Even by adding the option `force: "yes"` the command it is executed without the **-f** option.
To workaround it, it is necessary to execute the command `git fetch --tags -f` previous to the git module execution.

##### ISSUE TYPE
- Bug Repor

[2020-03-03 14:55] baccenfutter commented on #66845
Bug: Confirmed
Fix: Confirmed (works-for-me)

[2020-03-03 15:06] sivel commented on #67970
The problem is that if your `fail` task doesn't fail due to the `when` condition, you fall through to the `debug` task, and the `debug` task does not have access to a variable called `expected_domain`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-03 15:06] #67970 closed, assigned to nobody

[2020-03-03 15:07] samdoran commented on #67589
needs_info

[2020-03-03 15:09] samdoran commented on #67608
Changing this to a feature request since it is asking for new behavior.

[2020-03-03 15:12] samdoran commented on #67609
The other issue is the tag is problematic. I'm not sure exactly how a tag with dashes and spaces would work, but it's probably best to simply the tag on the task:

`tag: update_cve`

For help with YAML and writing playbooks, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-03 15:22] samdoran commented on #67637
This will be the case in 2.10 since we are moving most plugins and modules to collections.

[2020-03-03 15:22] #67637 closed, assigned to nobody

[2020-03-03 15:26] samdoran commented on #67667
To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-03 15:26] #67667 closed, assigned to nobody

[2020-03-03 15:30] samdoran commented on #67720
There is probably a difference in the Python path between interactive and non-interactive logins.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-03 15:30] #67720 closed, assigned to nobody

[2020-03-03 15:32] samdoran commented on #67732
This may be due to having to support older systems with older versions of various libraries. We would be happy to review a PR provided it is backwards compatible and works on supported platforms with the Python versions we support.

[2020-03-03 15:33] samdoran commented on #67732
To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-03-03 15:33] #67732 closed, assigned to nobody

[2020-03-03 15:35] ShachafGoldstein commented on #67962
Can you please try using the localized text?

[2020-03-03 15:36] samdoran commented on #67734
Please look at the [Windows documentation](https://docs.ansible.com/ansible/latest/user_guide/windows_setup.html#windows-ssh-setup) for information on how to configure Windows SSH connections.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible or #ansible-windows on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-03 15:36] #67734 closed, assigned to nobody

[2020-03-03 15:43] samdoran commented on #67803
This is a feature that is best implemented in the [netcommon collection](https://github.com/ansible-collections/netcommon).

[2020-03-03 15:43] #67803 closed, assigned to nobody

[2020-03-03 15:49] samdoran commented on #67810
!component =lib/ansible/modules/cloud/ovirt/ovirt_host_network.py

[2020-03-03 15:57] Mark0016 commented on #67969
Looking through the logs again the following sequence shows up on stdout before the password prompt
[code]
The weird characters are `ESC` (`0x1b` or `0o33`).
This looks to me like a terminal escape sequence. It only shows up on the failed machines so it's possible this might be causing ansible to somehow not detect the prompt.

[2020-03-03 15:59] samdoran commented on #67857
We are reporting the error

[code]

This seems to be a problem with how the directory is bind mounted into the container.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-03 15:59] #67857 closed, assigned to nobody

[2020-03-03 16:13] Mark0016 commented on #67969
OK, My bad.
**This is not an issue with ansible**
Since I was accessing the VMs via the serial console I added a line in `/etc/profile.d` to run xterm-resize on very login. This escape sequence is produced by `resize` when it runs (figured out from tying to decode it). It appears on RedHat scripts in `/etc/profile.d` are ran even on non-login shells.
I added a condition to my script in `/etc/profi

[2020-03-03 16:13] #67969 closed, assigned to nobody

[2020-03-03 17:28] hubert-s opened #67973 "gem module incorrectly formats build_flags parameter list"
##### SUMMARY
GEM module fails to install Ruby gems that require compilation with custom build flags.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gem

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7

##### STEPS TO REPRODUCE

Install "pg" gem with lib and include paths in custom locations.

[code]

##### EXPECTED RESULTS

Gem module will pass

[2020-03-03 17:51] jmkleijer opened #67974 "VmwareCategory object has no attribute api_client"
##### SUMMARY
This bug was already mentioned on [Oct 2, 2019](https://github.com/ansible/ansible/issues/61220#issuecomment-537464245)
by nicholasrodriguez.

I'm using the module vmware_category from the devel branch but this results in an error.

The particular feature (for which I'm using this module from the development branch) is the ability to add associable_object_types.

##### ISSUE TYPE
- B

[2020-03-03 20:57] zepplen opened #67981 "Anasible EC2 Metadata Facts module not using new Metadata Service V2"
##### SUMMARY

Aws has released a more secure method of gathering instance metadata from the local metadata service

As users disable the v1 metadata service, the current ec2_metadata_facts module will break.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ec2_metadata_facts
##### ADDITIONAL INFORMATION

Link to aws post about their new endpoint:

https://aws.amazon.com/blogs/security/defen

[2020-03-03 21:43] droopy4096 commented on #56046
just tripped over this counter-intuitive behaviour. Documentation does not emphasize this aspect at all leading users into a "trap": develop "common" role on which other roles would be dependant upon (helps with heavy tag usage in playbooks and at run time as one example) only to discover that role fires *every time* despite the `allow_duplicates: false` . Even if there's no desire/capacity to fix

[2020-03-03 22:23] aadams26 opened #67984 "Win_package hangs on MSI uninstall for Windows Server 2012"
##### Win_package not working with MSI product_ID
Fails when attempting to uninstall an application when targeting the product_ID.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- win_package

##### ANSIBLE VERSION
ansible 2.9.4

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Windows Server 2012

##### ANSIBLE TASK
[code]

##### EXPECTED RESULTS
Uninstall WinCollect.

##### ACTUAL RESULT

[2020-03-03 23:12] zoredache commented on #67589
Sorry for the noise.  I looked again today, and found the problem.  Apparently I had a group var set that applied to the problem host, combined with me being a bit confused precedence of configuration items..

[2020-03-03 23:12] #67589 closed, assigned to nobody

[2020-03-04 00:16] uditgaurav commented on #67898
Also, for some commands like for entering in a container
Is there any support for such command available using k8s modules?
we can do this via `kubectl exec -it `using shell till now I guess.
@fabianvf

[2020-03-04 00:34] uditgaurav commented on #67898
And while using `k8s_info modules` we get the output in `JSON` format in the register variable then we have to add an extra task (can be a `set_fact` ) to filter the useful values. Can/ Do we have `k8s_info` modules with some basic filtering power so that we don't need to add an extra task for getting one value inside our JSON output?
I'm just correlating these tasks with `shell` commands
We do `-

[2020-03-04 01:03] #63276 closed, assigned to Akasurde

[2020-03-04 01:03] Fred-sun commented on #31867
close_me

[2020-03-04 01:18] Fred-sun commented on #44806
@haiyuazhang @gavinfish

[2020-03-04 02:48] Akasurde commented on #62018
Fixed in Ansible 2.10 + ServiceNow Collection - ServiceNowITOM/servicenow-ansible#5

[2020-03-04 02:48] #62018 closed, assigned to nobody

[2020-03-04 04:38] #67661 closed, assigned to Akasurde

[2020-03-04 05:04] roadmapper commented on #67981
I'll take a look at this; integrating the token endpoint is likely not too difficult but detecting IMDS v2 might be not that straightforward. Additionally the module will need to handle a 401 Unauthorized if the metadata service is turned off.

[2020-03-04 06:13] NilashishC commented on #56282
@ibarrere We are not able to reproduce this issue on a ASAv 9.10(1)11 running in AWS with Ansible 2.9.5. Are you still facing this?

needs_info

[2020-03-04 07:01] ShachafGoldstein commented on #67984
Please add a verbose output (`-vvvv`)

[2020-03-04 07:19] mego2000 opened #67989 "Schedule not run"
##### SUMMARY
i try to make Schedule to run commend to get heap size every day from other server and after try to run Schedule  successfully that include the commend and to run the playbook

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
at.py module that i try to use it

##### ANSIBLE VERSION
ansible 2.8.4

[code]

##### OS / ENVIRONMENT
Linux
##### ADDITIONAL INFORMATION

[Schedul

[2020-03-04 07:40] igor-raits opened #67990 "ansible-test: Allow passing --requirements-mode"
##### SUMMARY
I'm working on packaging ansible collections into RPMs and trying to run unit-tests as part of the build process..

However, it seems that ansible-test units tries to create files it should not.

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible_test

##### ADDITIONAL INFORMATION
I think ansible.egg-info is not really valid name, the proper one would be `/usr/lib/

[2020-03-04 07:53] mego2000 commented on #67989
i can't understand

[2020-03-04 07:53] Fred-sun commented on #49659
@jeking3 Have you submitted the PR? Can you link it here? Thank you very much!

[2020-03-04 08:18] Andersson007 commented on #67307
@nepella i think it must fail in both cases.
Just imagine you didn't add the user before. So, when you run it in check_mode it returns True but if you run the same in the actual mode your playbook fails.
It must fail in both cases, otherwise, it behaves wrong successfully passing this check.

[2020-03-04 09:19] mkrizek commented on #67989
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-03-04 09:19] #67989 closed, assigned to nobody

[2020-03-04 09:35] Akasurde commented on #67974
@jmkleijer I am not able to reproduce this error using `devel` branch

[code]

I see you are using Ansible 2.8 and feature which is introduced in 2.10 (devel).
I think you may need to copy [`module_utils/vmware_rest_client.py`](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/vmware_rest_client.py) as well. Thanks

Also, `VMware` modules are migrated to [`ansible-collection/v

[2020-03-04 09:35] bmillemathias-1a commented on #67592
Seconding the request because I was not really obvious to me either.
I think I saw @geerlingguy had some as he was working on k8_wait module in the collection k8s.

[2020-03-04 09:37] ghost opened #67993 "Stickiness type 'lb_cookie' is not supported for target groups with the TCP protocol(unable to disable stickiness not supported in NLB)"
##### SUMMARY
We are using Ansible 2.5 to deploy AWS resources in our environment. From March 02, 2019 our deployment is failing with the below error.

ERROR:
=====
TASK [immutable_server : target group for analytics-tst-plebos loadbalancer] ***
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: InvalidConfigurationRequestException:
An error occurred (

[2020-03-04 09:48] Fred-sun commented on #51062
@haiyuazhang @gavinfish

[2020-03-04 09:52] porn commented on #57342
related SO question: https://stackoverflow.com/questions/60523088

[2020-03-04 09:54] Fred-sun commented on #53299
@haiyuazhang @gavinfish Would you pelase help fixes the bug when you're free? Thank you very much!

[2020-03-04 10:00] Fred-sun commented on #52068
kindly ping!

[2020-03-04 10:17] freeeflyer commented on #42534
Is the PR still in progress ?

[2020-03-04 10:44] mkrizek commented on #67993
!component -lib/ansible/modules/system/ping.py

[2020-03-04 11:02] jmkleijer commented on #67974
You're absolutely right *facepalm*
My apologies, I should've looked further, thanks for the quick response!

[2020-03-04 11:02] #67974 closed, assigned to Akasurde

[2020-03-04 11:10] gvfnix commented on #34861
The same issue here.
ansible 2.9.5 / molecule 3.0.0 / python 3.5

[code]
When I try to use `{% for host in groups['clickhouse'] %} ... {% endfor %}` I end up with different order from time to time I run `molecule converge`.

I found a workaround for this. The first task in my ansible role is
[code]

Then I don't use `groups['clickhouse']`, I use `clickhouse_hosts` and this works for me.

[2020-03-04 11:11] haanjde opened #67996 "oom killer - worker found in dead state - local playbook - set_fact"
##### SUMMARY

After a task crashed on a server, I triaged the problem down to a small (except for the data) local task that is reproducing the problem hard.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Distributor ID:	Ubuntu
Description:	Ubuntu 19.04
Release:	19.04
Codename:	disco
Linux mylaptop

[2020-03-04 11:30] Alex-Richman opened #67997 "Add AWS ECS Capacity Provider Strategy Support"
##### SUMMARY
Add support for AWS ECS Cluster Capacity Provider Strategy configuration.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ecs_cluster

##### ADDITIONAL INFORMATION
Enable configuration of ECS cluster capacity providers and strategies thereof.

[code]

https://github.com/terraform-providers/terraform-provider-aws/issues/11150
https://docs.aws.amazon.com/AmazonECS/latest/develop

[2020-03-04 11:31] Akasurde commented on #67974
@jmkleijer No problem. Happy to help.

[2020-03-04 11:42] #66030 closed, assigned to nobody

[2020-03-04 11:58] #63302 closed, assigned to nobody

[2020-03-04 12:20] #62446 closed, assigned to nobody

[2020-03-04 12:21] #59635 closed, assigned to nobody

[2020-03-04 12:40] aadams26 commented on #67984
@ShachafGoldstein a verbose output doesn't provide much info for this module.
[code]

[2020-03-04 12:45] #54621 closed, assigned to goneri

[2020-03-04 12:52] ghost opened #68000 "Cisco Spark Module TypeError: send() got multiple values for keyword argument 'MESSAGE'"
##### SUMMARY

When trying to send a message to Cisco Webex Teams (formerly Cisco Spark)
Ansible throws error:
TypeError: send() got multiple values for keyword argument 'MESSAGE'

Maybe its related to this issue:
https://github.com/ansible/ansible/pull/60051
'This change is required since 'message' as parameter name is used internally by
Ansible core engine.'

##### ISSUE TYPE
- Bug Report

#####

[2020-03-04 12:56] geerlingguy commented on #67592
This PR should be moved over to the kubernetes collection repo; it will likely never get merged in this project.

[2020-03-04 13:05] Akasurde commented on #68000
@mrkaemi Thanks for reporting this issue. You are right. `cisco_spark` module is using an argument called `MESSAGE` which is being used by Ansible engine.

Would you like to raise a PR to deprecated current parameter and replace it with new? For example - https://github.com/ansible/ansible/pull/60051/files#diff-9408fd620f09a490c25597b95cd43454R138

[2020-03-04 13:13] Veltarn commented on #29253
Same here, just ran into the same behavior with two pear modules.

[2020-03-04 13:41] mrkaemi commented on #68000
I tried to create PR:
https://github.com/ansible/ansible/pull/68001

[2020-03-04 13:44] bjoern-the-bear opened #68002 "yum module: no package group support in check_mode"
Title:
**yum module: no package group support in check_mode**

Body:

##### SUMMARY

When the yum module is used with check_mode=true and state=latest and name="@<group_name>", no packages are reported.
Instead the "installed" section is empty and the "updated" section contains the provided group name and "null".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[cod

[2020-03-04 13:51] goneri commented on #67952
Hi @CosmoMyzrailGorynych,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core `ansible/ansible` repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
Could you please reopen the issue there:

https://github.com/ansible-collections/vmware/issues

L

[2020-03-04 13:51] #67952 closed, assigned to nobody

[2020-03-04 13:53] goneri commented on #67864
Hi,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
Could you please reopen the issue there:

https://github.com/ansible-collections/vmware/issues

Links:

    https://group

[2020-03-04 13:53] #67864 closed, assigned to nobody

[2020-03-04 13:57] fragpit opened #68003 "vmware modules not support similar tag names"
##### SUMMARY
Looks like some of the python submodules of the  ansible vmware modules can't support  similar vmware tag name in different categories. And it's not producing an error.
For example vmware_tag_info module is returning list  which has tag_name as a key, and a category as a subkey. So if I have similar tag names, it returns only one of them.

##### ISSUE TYPE
- Bug Report

##### COMPONE

[2020-03-04 14:01] #67984 closed, assigned to nobody

[2020-03-04 14:38] sivel commented on #67996
Using a `set_fact` with a loop is always going to be expensive. In your case, it is obviously causing an OOM scenario, due to the amount of memory required for processing the data.

Instead of using `set_fact` with a loop, you should instead just use native jinja2 functionality with `set_fact` to create your lists.  Something like:

[code]

If you have further questions please stop by IRC or the m

[2020-03-04 14:38] #67996 closed, assigned to nobody

[2020-03-04 14:43] ses-team commented on #51284
I am having the same issue in Ansible v2.9.2 using:
- name: Install updates
  yum:
    name: "*"
    state: latest
    update_cache: yes
    exclude:
      - python*
      - java*

Any update on a resolution to this?

[2020-03-04 14:43] goneri commented on #68003
Hi @fragpit ,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two Github project. Could you please reopen the i

[2020-03-04 14:43] #68003 closed, assigned to nobody

[2020-03-04 14:45] samccann commented on #67939
Triaged in #ansible-docs today.  Besides addressing the pages listed here that need updating, we will tell developers/users if they are in the docs and see a problem, use the link that will go back to the collection on Galaxy to find if there is an issue tracker listed.

[2020-03-04 14:46] Fred-sun commented on #55350
@haiyuazhang Could you pls take care of this feature? Thank you very much!

[2020-03-04 14:49] Fred-sun commented on #54914
@haiyuazhang Culd you pls take care of this feature? Thank you very much!

[2020-03-04 14:55] mrkaemi commented on #68000
My very first PR #68001 miserable failed.
Now I tried a new one:
#68004
But that one failed also with 4 errors:
lib/ansible/modules/notification/cisco_spark.py:0:0: module-incorrect-version-added: version_added should be '2.3'. Currently '2.10'
lib/ansible/modules/notification/cisco_spark.py:0:0: option-incorrect-version-added: version_added for new option (send_message) should be '2.10'. Currentl

[2020-03-04 14:58] samccann commented on #67925
Hi @Madhura-CSI and @Fred-sun !  The azure modules have migrated to https://github.com/ansible-collections/azure so please open the issue there.  There will be a tool in the future to help migrate PRs to the appropriate collection, but since this is such a small fix, you could manually apply it to the azure collection and just close the PR here in
ansible/ansible.

Thanks for your help in Ansible!

[2020-03-04 14:58] #67925 closed, assigned to nobody

[2020-03-04 15:00] mowgli opened #68005 "unrelated variables get evaluated in set_fact every time resulting in high CPU load"
##### SUMMARY
I use the following:
[code]

This allows to get the sudo password via pass.

Now I found out, that, when using set_fact in a loop, that task produced high CPU load. -vvv does not show why but when killing the gpg-agent, it gives the error:
[code]

So it seems that this variable is evaluated every time in the loop.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIB

[2020-03-04 15:08] acozine commented on #67592
Thank you, @dave93cab, for opening this issue. Adding examples with `wait` will make Ansible better for everyone.

We cannot address this issue in this repository. Right now the `devel` branch is frozen and we are migrating content out of the ansible/ansible repo into collections. The collection for the k8s modules already exists, so you can move ahead with this idea there.

Please move this issue

[2020-03-04 15:08] #67592 closed, assigned to nobody

[2020-03-04 15:19] yan12125 commented on #63798
I got a similar error (`KeyError` from `_needs_to_change_container_config`), and https://github.com/ansible/ansible/pull/61607 fixes my issue.

[2020-03-04 15:21] pmfoss opened #68006 "include_role and import_role undefines vars of third level parent role"
##### SUMMARY
The variables defined in a role's vars/main.yml are available up to the second level child role. However, if the second level child role includes or imports another role, the variables are suddenly
not defined.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- import_role
- include_role

##### ANSIBLE VERSION

[code]
This bug has occurred since at least 2.2.

##### CONFIGURATION

[2020-03-04 15:28] sivel commented on #68006
Duplicate of https://github.com/ansible/ansible/issues/47023

[2020-03-04 15:29] #68006 closed, assigned to nobody

[2020-03-04 15:40] nepella commented on #67307
@Andersson007: That's a good point; I agree with you. A false positive is
preferable to a false negative here, especially since this usage—creating a user
and using that user as a parameter to modules within the same playbook—is
probably not the most common case. Using `when: not ansible_check_mode` is a
fine solution. Also, it seems I have to make similar adjustments in many other
cases; the foll

[2020-03-04 15:46] ericcitaire opened #68007 "KeyError: 'getpwuid(): uid not found: 1000'"
##### SUMMARY

Ansible fails when the current uid refers to a non-existing user.

This is really common when running in a container as a non-root user.

Related to : https://github.com/ansible/ansible/pull/65582

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
FilterUserInjector

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

[code]

[2020-03-04 15:56] Arvedui opened #68008 "Unexpected Behavior with set theory Filters and Generators"
##### SUMMARY

The set theory filters intersect and difference are order dependent if the second input is a generator.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Set Theory filters

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Just execute the provided playbook

[code]

##### EXPECTED RESULTS

I would expect all tasks to e

[2020-03-04 16:08] doctrewho opened #68009 "Ansible: vmware_guest_network fails to support multiple distributed virtual switches with identical port group names"
##### SUMMARY
I have a system with 2 datacenters each have their own set of DVS.  These DVS have different names but the port groups defined in each DVS are identical.

i.e.
Datacenter1 has DVSwitch0 that has Portgroup: portgroup1
Datacenter2 has Other_DVSwitch0 that has Portgroup: portgroup1

if I pass vmware_guest_network the network name portgroup1 and the subvar dvswitch_name: Other_DVSwitch0

[2020-03-04 16:15] dfoley84-zz opened #68010 "Vmware Guest"
##### SUMMARY
While working with the New Ansible Module: "vmware_guest_info" with Ansible Version
While trying to get the Mac Address or the IP Address from the guest_info

[code]

[code]

JSON File:

 "```
hardware": {
                    "_vimtype": "vim.vm.VirtualHardware",
                    "device": [
                        {
                            "_vimtype": "vim.vm.device.VirtualE1

[2020-03-04 16:18] goneri commented on #67816
Hi,

Thank you for your feature request. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue  between the two projects. Could you please reopen the issue

[2020-03-04 16:34] geerlingguy opened #68011 "Collections unable to define minimum (or maximum) ansible version requirement"
##### SUMMARY

With Ansible Galaxy roles (and roles in general), there was a `min_ansible_version` variable in the role metadata ([docs here](https://galaxy.ansible.com/docs/contributing/creating_role.html#role-metadata)) which would be used to identify the oldest Ansible version with which the role could be used.

Collections currently don't have a `min_ansible_version` (or any kind of `ansible_v

[2020-03-04 16:59] droopy4096 opened #68013 "collision of global namespace and role namespace causes recursion at run-time"
##### SUMMARY

When role accepts parameter which named the same as global variable Ansible gets recursion errors. This results in a conflict of role parameters and global vars that is hard to avoid using third-party roles etc. In effect it gets in a way of creating "clean" reusable components

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible core

##### ANSIBLE VERSION

[code]

##### C

[2020-03-04 17:07] mjcotner commented on #67870
We are seeing what I would expect to see using the MTU ping commands.

Tun1000's MTU size is 1276. 1276-28=1248.

A 1276 byte packet pings through:
[code]
Adding a single byte however results in packet loss:
[code]
Attempting to ping with the MTU size reported in our WireShark capture (1294), results in the "Message too long" error we should expect to see:
[code]
The playbook above creates a VM fr

[2020-03-04 17:14] #68009 closed, assigned to nobody

[2020-03-04 17:14] sivel commented on #68011
This is being solved in https://github.com/ansible/ansible/pull/67684

[2020-03-04 17:14] #68011 closed, assigned to nobody

[2020-03-04 17:17] #68010 closed, assigned to nobody

[2020-03-04 17:21] Akasurde commented on #68010
@dfoley84 Please check https://github.com/ansible-collections/vmware/issues/33

[2020-03-04 17:49] Sodki commented on #67993
The same is happening to me with Ansible 2.9.

[2020-03-04 17:54] HaanJde commented on #67996
Thanks. I clearly need to spend some time on that jinja2 thing.

[2020-03-04 18:01] Sodki commented on #67993
I tried putting a random value for `stickiness_type` and got the following error:

[code]
So it seems that `lb_cookie` is not the only valid option, unlike what the documentation says. Using the following workaround worked for me:

[code]

[2020-03-04 18:26] nkatarmal-crest commented on #57417
#67773 Solves the issue.

[2020-03-04 19:13] ihtiuh opened #68017 "Openstack dynamic inventory returns 401 unauthorized"
##### SUMMARY
I am trying to run the following:
`./openstack_inventory.py --debug --refresh --list`

But I am getting
[code]

Here is the full output log:
[code]

After sourcing `admin-openrc.sh`, `nova list` runs successfully for me.

Here are my environment variable related to my openstack deployment from `env | grep OS_
`
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Openstack dyn

[2020-03-04 19:18] sivel commented on #68013
There are no namespaces. Additionally `vars` on a role, are scoped as `play` vars.

In your case, there is no need to pass a play var, into a role, the role already has access.

Effectively, there is only a single scope/namespace for vars. There is precedence that dictates which wins.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2020-03-04 19:18] #68013 closed, assigned to nobody

[2020-03-04 19:29] sivel commented on #68008
This is an implementation detail in how generators work with an `in` statement.

Because a generator is passed into `difference`, we cannot use a `set` to calculate the difference, and instead, we use the following list comprehension:

[code]

Where `b` is the generator. The `in` statement only invokes a single iteration, which results in only `['c']`.

I'm working on something that may impact thi

[2020-03-04 19:34] #57876 closed, assigned to nobody

[2020-03-04 19:50] Tyler-2 opened #68019 "aws_kms ignores check mode for key creation"
##### SUMMARY

The aws_kms module will still create KMS keys when Ansible is run in check mode.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_kms

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running on Debian.

##### STEPS TO REPRODUCE

Run the below ansible-playbook with the --check option.

[code]

##### EXPECTED RESULTS

No key gets created.

[2020-03-04 19:51] sivel commented on #68008
I've confirmed that https://github.com/ansible/ansible/pull/68014 does fix this.

[2020-03-04 20:27] #67816 closed, assigned to nobody

[2020-03-04 21:01] mossroy commented on #65804
I unfortunately can't run this playbook on the same machine any more.

[2020-03-04 22:06] aciguru commented on #63270
Resolved: #63270

[2020-03-04 22:09] aciguru commented on #57417
@ansibot resolved_by_pr

[2020-03-04 22:16] bkmeneguello opened #68024 ""collections" keyword is UNDOCUMENTED"
##### SUMMARY

There is no documentation of "collections" keyword in Keywords page: https://docs.ansible.com/ansible/2.9/reference_appendices/playbooks_keywords.html

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2020-03-04 22:48] mattclay commented on #37899
The [docs-build](https://github.com/ansible/ansible/blob/devel/test/sanity/code-smell/docs-build.py) sanity test resolves this.

[2020-03-04 22:48] #37899 closed, assigned to mattclay, acozine

[2020-03-05 01:05] Fred-sun commented on #67925
I see! Thank you very much!

[2020-03-05 03:08] vbotka commented on #67410
For the record: I don't think this is a race. I'd rather guess it's permission problem of the unprivileged user. I can't reproduce the problem. Both host1 and host2 found the file.

    TASK [show the stat results] ***
    ok: [host1] => { "st3.stat.exists": true }
    ok: [host2] => { "st3.stat.exists": true }

Note: One task is missing both in the listing of the playbook and of the output. There

[2020-03-05 04:55] sugitk opened #68029 "ansible-inventory overrides a variable in the same target IP address in different group"
##### SUMMARY

ansible-inventory overrides a variable in the same target IP address in different group

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.7

##### STEPS TO REPRODUCE

1) created an inventory file with groupa and groupb

The same target IP address in each group
[code]

2) created a playbook for eac

[2020-03-05 05:04] sugitk commented on #68029
https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#how-variables-are-merged

I found it was an expected behavior, I will close this issue.  Thanks

[2020-03-05 06:11] pushkarkumar15 commented on #68002
what does @group represent

[2020-03-05 06:38] neatherweb commented on #67497
FYI - As a work around you can 'set terminal length 0', after which the escape sequence is no longer evident.
Note.  Setting terminal length via environment variable ANSIBLE_VYOS_TERMINAL_LENGTH does not work due to another bug in Vyos terminal plugin (type miss match).
[code]
Sample output shows first command has escape chars, but not after setting terminal length.

[code]

[2020-03-05 06:44] neatherweb opened #68031 "setting ANSIBLE_VYOS_TERMINAL_LENGTH causes type error in plugins/terminal/vyos.py"
##### SUMMARY
When setting terminal length for Vyos network cli via environment variable ANSIBLE_VYOS_TERMINAL_LENGTH, Ansible fails with type error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/terminal/vyos.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.2 LTS
Release:        18.04
Codename

[2020-03-05 07:12] mowgli commented on #68005
An example for such a loop would be:
[code]

As otherwise, there is no way to use `exclusive:`

[2020-03-05 07:27] ganeshrn commented on #68031
The PR https://github.com/ansible-collections/vyos/pull/8 fixes the issue. You can test it in your environment by adding the PR changes in file `lib/ansible/plugins/terminal/vyos.py`

needs_info

[2020-03-05 07:47] tadeboro opened #68032 "Unit test runner hides the normal pytest failure output"
##### SUMMARY
When running `ansible-test units ...`, failed tests have no diagnostic messages attached to the assertion error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ansible-config dump --only-changed` reported no changes.

##### OS / ENVIRONMENT
Tested on latest stable Fedora, Ansible was installed in a virtual environ

[2020-03-05 08:06] bjoern-the-bear commented on #68002
This is a package group. Could be for instance “@compat-libraries”. You can find installed groups using “yum group list installed id”

From: pushkarkumar15 <notifications@github.com>
Sent: Donnerstag, 5. März 2020 07:11
To: ansible/ansible <ansible@noreply.github.com>
Cc: Bierhold, Bjoern (SI DG SW-R&D GC 2) <bjoern.bierhold@siemens.com>; Author <author@noreply.github.com>
Subject: Re: [ansible/an

[2020-03-05 08:35] #67398 closed, assigned to Akasurde

[2020-03-05 08:36] pushkarkumar15 commented on #68002
where have you defined group and how

On Thu, Mar 5, 2020 at 1:36 PM bjoern-the-bear <notifications@github.com>
wrote:

--
Confidentiality Notice and Disclaimer: This email (including any
attachments) contains information that may be confidential, privileged
and/or copyrighted. If you are not the intended recipient, please notify
the sender immediately and destroy this email. Any unauthorized use

[2020-03-05 08:42] marzdgzmn opened #68034 "Connection type 'network_cli' is not valid for 'junos_facts' module."
#67957 ### SUMMARY
Running junos_facts module via the network_cli connection/provider is giving me an error:
"Connection type 'network_cli' is not valid for 'junos_facts' module"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: junos_facts

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
5.4.23-1-MANJARO

##### STEPS TO REPRODUCE
ansible all -i IP_Address, -c network_cli  -u user

[2020-03-05 08:49] ganeshrn commented on #68034
This is expected. junos_facts module work with connection=netconf has only for more details refer https://docs.ansible.com/ansible/latest/network/user_guide/platform_junos.html

[2020-03-05 08:49] #68034 closed, assigned to nobody

[2020-03-05 08:55] marzdgzmn commented on #68034
Ah, so https://docs.ansible.com/ansible/latest/modules/junos_facts_module.html should be updated then.

[2020-03-05 08:57] pmfoss commented on #47023
A possible workaround may be as follows:
[code]

This only needs to be done once and all deeper included/imported role can use the variable. It is not the prettiest way, but it works.

[2020-03-05 09:01] ganeshrn commented on #68034
What is the issue in module documentation. I  can't see anywhere it is mentioned that module works with network_cli connection

[2020-03-05 09:05] marzdgzmn commented on #68034
*Deprecated*
Starting with Ansible 2.5 we recommend using connection: network_cli
or connection:
netconf.
For more information please see the Junos OS Platform Options guide
<https://docs.ansible.com/ansible/latest/network/user_guide/platform_junos.html>
.

My bad, it says deprecated. Thanks though.

On Thu, Mar 5, 2020 at 5:01 PM Ganesh Nalawade <notifications@github.com>
wrote:

[2020-03-05 09:08] PuffTMD commented on #49207
I've also encountered this issue when attempting to connect to windows machine with error of : ```
objc[2646]: +[__NSCFConstantString initialize] may have been in progress in another thread when fork() was called.
objc[2646]: +[__NSCFConstantString initialize] may have been in progress in another thread when fork() was called. We cannot safely call it or ignore it in the fork() child process. Cras

[2020-03-05 09:53] rahkumar651991 opened #68035 "Namespace issue in collection"
##### SUMMARY
Juniper has a role named juniper.junos. When we try to add the collection with namespace juniper.junos it gives an error of namespace conflict with the role. We want same namespace to be used for collection as well.

##### ISSUE TYPE
- Bug Report

[2020-03-05 10:01] rahkumar651991 commented on #68035
https://github.com/ansible/galaxy/issues/2281 ---> Issue raised in ansible/galaxy so closing it here.

[2020-03-05 10:01] #68035 closed, assigned to nobody

[2020-03-05 11:16] bjoern-the-bear commented on #68002
If you don’t have a yum group available up to now, you can test with an own repo/yum group too.
I will explain, how to do that using a short sample.

# create a new repo folder
mkdir -p /tmp/myrepo

# copy some new RPMs to the repo
cp *.rpm  /tmp/myrepo

# create the repodata folder (createrepo package must be installed):
cd /tmp/myrepo
createrepo .

# Create the comps.xml file (what defines the g

[2020-03-05 11:30] nicolaibaralmueller opened #68036 "Error handling for unreachable hosts"
##### SUMMARY

It is not possible to handle unreachable hosts. This is needed when executing tasks against multiple servers in order to retrieve data on which hosts are unreachable.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

hosts

##### ADDITIONAL INFORMATION

We are implementing windows updates with ansible but the lack of support for missing/unreachable hosts is a let down.

A spec

[2020-03-05 11:59] eleksis commented on #45602
What's the state of this?
If it was fixed/improved with new junos_l2_interfaces module in 2.9, should be commented here & ticket can be closed?

[2020-03-05 12:16] ganeshrn commented on #45602
@eleksis Sorry for the delayed response, the issue got ignored over a period of time.

@linnil1 Your analysis in the previous comment is spot on and it is fixed in the new junos_l2_interfaces module.

With the new junos_l2_interfaces module, all the interfaces are added in a single xml payload request and send over netconf as one request. In the older module (junos_l2_interface) each interface ent

[2020-03-05 12:34] pushkarkumar15 commented on #68002
thanks

On Thu, Mar 5, 2020 at 4:46 PM bjoern-the-bear <notifications@github.com>
wrote:

--
Confidentiality Notice and Disclaimer: This email (including any
attachments) contains information that may be confidential, privileged
and/or copyrighted. If you are not the intended recipient, please notify
the sender immediately and destroy this email. Any unauthorized use of the
contents of this email

[2020-03-05 12:43] dentarg commented on #49207
I'm able to reproduce this against a single Windows host (2012, 2016) with the `win_ping` module:

[code]

I'm using macOS 10.14.6 (18G1012), Python 3.8.1, Ansible 2.9.4 and pywinrm 0.4.0:

[code]

(`ansible.cfg` only sets `inventory` and `vault_password_file`)

[2020-03-05 12:46] nightowlengineer commented on #68029
This is expected and documented behaviour though. You shouldn't be adding the host to groups where things are defined in a duplicate manner and expecting Ansible to 'know' somehow not to override certain things.

[2020-03-05 12:51] nightowlengineer commented on #68036
Have you looked into combinations of `ignore_unreachable` (play attribute) and `clear_host_errors` (a meta action)?

[2020-03-05 12:54] dentarg commented on #49207
I found https://github.com/psf/requests/issues/4768 (but nothing on urllib3 or requests-ntlm)

[2020-03-05 13:01] nightowlengineer commented on #65062
🙋‍♂️ I can pick this up 🙂

[2020-03-05 13:09] nicolaibaralmueller commented on #68036
Not sure how to use the two for my purpose but will have a look. Thanks

[2020-03-05 13:19] Antho-j opened #68040 "Dynamic inventory virtualbox : no result"
##### SUMMARY

impossible to have an output with the virtualbox inventory plugin
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

plugin: virtualbox

##### ANSIBLE VERSION
ansible 2.9.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-p

[2020-03-05 13:36] mmolinac commented on #58242
This bug is still present on version 2.9.6 .

[2020-03-05 13:42] #68040 closed, assigned to nobody

[2020-03-05 14:31] sivel commented on #68029
Closing per above.  At this time we have no plans to implement such a feature.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-05 14:31] #68029 closed, assigned to nobody

[2020-03-05 14:59] xenlo opened #68041 "Document `vmware_cluster` parameters that will deprecated and removed in 2.12"
##### SUMMARY
Since 2.9 (I think), we face a deprecated message when using the `vmware_cluster` module.

[code]

As far as I understand the message and the discussion #58023 and associated PR #58468, the it's not the entire module `vmware_cluster` that will become deprecated but only the arguments used to configure the HA, DRS and vSAN. Like it's done for [`ip_address` param of `vmware_vmkernel`](

[2020-03-05 14:59] maab commented on #25099
Another workaround:

[code]

[2020-03-05 15:03] grobile commented on #67960
I'v found out the issue by my self, my Nexus device hast for what ever reason a 'null' value in vlan 1.
currently there is no way to change it. But have found out with json.loads() the problem can be solved as it is designet to be used for JSON data.

[2020-03-05 15:08] markgoddard opened #68042 "OpenStack modules broken in Ansible 2.8.9"
##### SUMMARY
When using the OpenStack modules in Ansible 2.8.9, they fail quite early on.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
OpenStack (e.g. os_keystone_service).

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Seen on Ubuntu, CentOS 7 & 8.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

The task should be successful, or if there is

[2020-03-05 15:44] goneri commented on #68041
Hi @xenlo!

Thank you for your issue. There is indeed a lack of clarity of the documentation.

Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between

[2020-03-05 15:53] apollo13 opened #68044 "mysql_user not idempotent for long grant lists"
##### SUMMARY
`mysql_user` is not idempotent for long grant lists (ie an example):
[code]
You can see that on the second line the grants are not split by `, ` but just `,`. This means https://github.com/ansible/ansible/blob/35996e57abba1f40abb493379d5cbe2dd90e65c3/lib/ansible/modules/database/mysql/mysql_user.py#L572 fails (it also only take one db line into account)

##### ISSUE TYPE
- Bug Report

[2020-03-05 16:15] goneri commented on #67675
Hi @Bahu2016,

I don't see any backport of this PR, so it should be released with 2.10. Also, please be aware there is some changes regarding the repository organization. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-

[2020-03-05 16:17] goneri commented on #67663
Hi,

Thank you for your issue @masquerade-anon. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the

[2020-03-05 16:23] goneri commented on #67606
Hi,

Thank you for your issue @JoschuaA4. Could you try this:

[code]

Also, since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects.

[2020-03-05 16:23] goneri commented on #67424
Hi @nicolaibaralmueller,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen

[2020-03-05 16:25] goneri commented on #67219
Hi @adarobin,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue t

[2020-03-05 16:26] goneri commented on #67101
Hi,

Thank you for your issue. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continue but in the new VMware collection repository: https://github.com/ansible-collections/vmware
We have no way to properly migrate a Github issue between the two projects. Could you please reopen the issue there:

htt

[2020-03-05 16:31] nicholasrodriguez commented on #66713
I've installed the module locally and if I run the following
[code]
I get the following error
[code]

[2020-03-05 16:38] Bahu2016 opened #68046 "Get all open/resolved/inprogress issues in a JIRA project"
##### SUMMARY
Get all open/resolved/inprogress issues in a JIRA project

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
jira

##### ADDITIONAL INFORMATION
Looking JIRA module to get all open/resolved/inprogress issues in a project.

[2020-03-05 17:09] nicholasrodriguez commented on #66713
I've run with the module version in bdcaf4a using the following config

[code]
I get the following traceback
[code]

[2020-03-05 17:10] farflungfish commented on #38605
Also facing the same issue CentOS Linux release 7.6.1810 (Core), ansible 2.9.3, pyvmomi (6.7.3)

[code]
**Output:**
[code]

[2020-03-05 17:27] nightowlengineer commented on #68036
Well the 'proper' way to handle it is to just re-run the playbook again. If you wanted to do something more advanced/funky you're going to have to get them back into the play using clear_host_errors as a starting point. You may not need ignore_unreachable actually.

[2020-03-05 18:12] mattclay commented on #68042
Resolved by #68043

[2020-03-05 18:12] #68042 closed, assigned to nobody

[2020-03-05 18:26] Andersson007 commented on #67307
@nepella thanks for reporting this, the issue hepled the hidden bug to emerge! Hope to get one more review from the core team and ```shipit``` for the PR

[2020-03-05 18:57] msgithub789 opened #68051 "Script to create new user and group in Linux, picks username as group even though group name is specified"
##### SUMMARY

Script to create new user and group in Linux, picks username as group even though group name is specified
[code]
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux sp-inst-bst-lin01 4.14.35-1902.3.2.el7uek.x86_64 #2 SMP Tue Jul 30 03:59:02 GMT 2019 x86_64 x86_64 x86_64 GNU/Linux
Red Hat

[2020-03-05 19:02] msgithub789 commented on #68051
This was also tried with a simple script but created group with username instead of group name
-
 name: Create Linux user on remote
 hosts: localhost
 connection: local
 become_user: root
 become: yes
 become_method: sudo
 tasks:
  - name: Add the user 'ms' with a bash shell, appending the group 'opc' to the user's groups
    user:
     name: ms1
     shell: /bin/bash
     groups: opc
     append:

[2020-03-05 19:04] sivel commented on #68051
`groups` and `group` are different options.  `groups` are secondary groups, `group` is the primary group. When excluding `group` it defaults to the `user`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-05 19:04] #68051 closed, assigned to nobody

[2020-03-05 19:28] SylvainMartel opened #68052 "win_firewall_rule Allow enabling built-in rules by using displaygroup"
##### SUMMARY

In powershell, we can enable multiple rules that belong to the same displaygroup, and  many built-in rules use disaplygroups
`Enable-NetFirewallRule -DisplayGroup "Windows Remote Management"`

The win_firewall_rule doesn't seems to allow that.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

win_firewall_rule

[2020-03-05 19:32] samdoran commented on #67948
I don't think this would give you the desired result. `block` is not really a task, and the results are most likely not what you expect.

A better solution would be to have each task register the same variable and if the variable has changed, then you know at least one of the tasks changed.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.n

[2020-03-05 19:32] #67948 closed, assigned to nobody

[2020-03-05 19:34] samdoran commented on #67964
cc @jborean93

[2020-03-05 19:41] samdoran commented on #67990
cc @mattclay

[2020-03-05 19:44] samdoran commented on #68002
cc @maxamillion

[2020-03-05 19:46] samdoran commented on #68005
This may be due to the fact that `ansible_become_password` is somewhat special and handled differently than other variables. I believe that for normal variables, the lookup is run once and then cached. Further investigation is needed.

[2020-03-05 19:48] mattclay commented on #67990
This is a similar issue to the one fixed by https://github.com/ansible/ansible/pull/66738

It looks like the egg-info detection needs to be a bit more clever to handle cases like this.

[2020-03-05 19:48] rwagnergit opened #68054 "raw no longer honoring executable (2.9 vs 2.7)"
##### SUMMARY

In Ansible 2.7, I was able to specify an alternative executable at the task level when running the raw module.  This behaviour has changed in 2.9; the task no longer honors executable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I'll elaborate below, but our users are not allowed to ex

[2020-03-05 19:49] samdoran commented on #68007
Out of curiosity, what is the point of running a command on a container with a fake UID that does not exist on the system? This seems to break many assumptions about how *nix programs work, not just Ansible.

[2020-03-05 19:59] samdoran commented on #68036
It's possible to get this information since we use it for retry files. We would probably need to create a new magic variable to contain the list of unreachable hosts.

[2020-03-05 20:06] fabianvf commented on #67898
Yeah absolutely, we also recently merged the `k8s_exec` plugin into the collection that does exactly that: https://github.com/ansible-collections/kubernetes/blob/master/plugins/modules/k8s_exec.py

That's a good question and the request totally makes sense. I think currently the answer is no, but if you'd like to file an issue against the collection I think it would be a good feature request: http

[2020-03-05 20:31] rwagnergit commented on #68054
Incidentally, if I change ansible.cfg to:
[code]
the playbook runs fine in Ansible 2.9.  However, specifying executable at the task level fails.

[2020-03-05 20:41] sivel commented on #68054
This is the result of 445ff39f944f45492bf7b2360d99fdadc02d142b

We no longer pass the `executable` when making the become command, and rely on the configuration of the shell object. The shell object is impacted by the configuration you outline above.

I'm not positive where the correct location to fix this is, but this naive change seems to resolve it.

[code]

For the record, you could create you

[2020-03-05 20:49] ossm1db commented on #27081
@zsystem @onitake

Adding the filename as an additional argument does not work:

`fatal: [xxxxxxxx]: FAILED! => {"changed": false, "msg": "Unsupported parameters for (unarchive) module: extra_ops Supported parameters include: attributes, backup, content, creates, delimiter, dest, directory_mode, exclude, extra_opts, follow, force, group, keep_newer, list_files, mode, owner, regexp, remote_src, sel

[2020-03-05 21:08] rwagnergit commented on #68054
@sivel - Thanks for the suggestion about a custom plugin; I'll look into that.

[2020-03-05 21:39] fcam-naveen opened #68057 "Ansible hangs for raw commands on several devices"
I am running RAW command against Cisco and Juniper routers. It hangs for some of the devices only. Works 90% of the devices. Can someone help. Attaching the debug output after running the command
This is how I am running the command
ansible all -i "$DEVICES," -m raw -a "$COMMAND" -c paramiko --extra-vars "ansible_user=$ans_user ansible_password=$ans_password"

I have already looked into this bug.

[2020-03-05 21:43] KowMangler commented on #42666
one of the key things I've used http locationsfor is remote sites with low bandwidth. Using the esxi path to the OVA on the datastore allows the esx host itself to run the unpack and deploy. The method to the end is to split the ova (split -b 50M someprefix-) and then cat it back together on the ESXi datastore. For some sites we see transfer times of ~8 hours for all parts. This would normally res

[2020-03-05 22:04] blaksec commented on #64599
I have a similar issue when trying to crate a tunnel-group via asa_config.

Environment: Client: RHEL8, Ansible 2.9
Destination: ASA v 9.1(7)21

[code]
This fails with the following error in msg: "operation requires privilege escalation"

The full traceback is: File "/tmp/.../module_utils/network/asa/asa.py", line 156, in load_config conn.edit_config(config)

Note this used to work 100 times but t

[2020-03-05 22:14] kepstin opened #68059 "Ansible filter_plugins (Jinja2 filters) cannot import python modules installed with pip"
##### SUMMARY
I'm attempting to write a filter plugin that uses an external python library which is not readily available in system packages (`hashids` in particular). I install the hashids library with pip, which puts it either into `/usr/local/lib/python3.7/site-packages` for a system install or `/home/cwalton/.local/lib/python3.7/site-packages` for a user install.

The plugin fails to load, des

[2020-03-05 22:59] s-hertel commented on #67913
This is because you're passing different parameters to role `a`. The role will only run once if you change `./roles/c/meta/main.yml` to
[code]
(or remove `tags: a` from the play)

[2020-03-05 23:24] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #17324
Workaround:

[code]

[2020-03-05 23:38] sivel commented on #68059
Duplicate of https://github.com/ansible/ansible/issues/67124

[2020-03-05 23:38] #68059 closed, assigned to nobody

[2020-03-05 23:38] neatherweb commented on #68031
Thanks - I can confirm PR fixes the issue.

[2020-03-06 00:18] blakeinate opened #68060 "Extend FQCN behavior to ActionModule._execute_module()"
##### SUMMARY

Action plugins should be able to utilize modules provided in separate collections. I can't seem to get the desired behavior using standard methods.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ActionModule._execute_module()
##### ADDITIONAL INFORMATION

Collections may benefit from the ability to leverage another module (which is located in a separate collection) as part

[2020-03-06 00:36] leedm777 commented on #67913
@s-hertel Thanks for the info. Tags are distinct from parameters, though, aren’t they?

[2020-03-06 01:07] blakeinate commented on #68060
!component

[2020-03-06 01:42] nicktimko commented on #63810
I don't think `flatten` is defined in Jinja2 at all. [Searching in the pallets/jinja repo for "flatten"](https://github.com/pallets/jinja/search?q=flatten&unscoped_q=flatten) returns no code results. It looks like it's defined in [lib/ansible/plugins/filter/core.py#L457-L475 (@`308723c`)](https://github.com/ansible/ansible/blob/308723c3ca1/lib/ansible/plugins/filter/core.py#L457-L475)

Somewhat ma

[2020-03-06 02:23] theque5t commented on #14367
@kustodian I recently opened PR #65844 which adds a callback plugin that I believe can assist with this issue. I have included an example below that I believe demonstrates the problem you have described, and the potential solution using the callback plugin.

# Example

## Ansible Version
[code]

## CONFIGURATION
[code]

## OS / ENVIRONMENT
[code]

## STEPS TO REPRODUCE

1. Create `callback_plugins

[2020-03-06 02:36] Uttam92477 commented on #66681
Hey in Centos8/ RHEL8, you have to explicitly enable support for TLS 1.0
the command: update-crypto-policies --set LEGACY
Reference url: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/considerations_in_adopting_rhel_8/security_considerations-in-adopting-rhel-8
Section: 8.1.5. TLS 1.0 and TLS 1.1 are deprecated

[2020-03-06 02:36] theque5t commented on #15350
@bjne @szhem I recently opened PR #65844 which adds a callback plugin that I believe can assist with this issue. I have included an example below that I believe demonstrates the problem described, and the potential solution using the callback plugin. However, this would require using ansible 2.8.5 or higher.

# Example

## Ansible Version
[code]

## CONFIGURATION
[code]

## OS / ENVIRONMENT
[code]

[2020-03-06 02:41] theque5t commented on #32584
@andersla @gdloch I recently opened PR #65844 which adds a callback plugin that I believe can assist with this issue. I have included an example below that I believe demonstrates the problem you have described, and the potential solution using the callback plugin. However, this would require using ansible 2.8.5 or higher.

# Example

## Ansible Version
[code]

## CONFIGURATION
[code]

## OS / ENVI

[2020-03-06 02:46] p-v-a opened #68061 "ios_l2_interfaces in replaced mode fails on fresh ports"
##### SUMMARY

Attempt to run playbook fails with exception if pruning not defined

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_l2_interfaces
may be related to https://github.com/ansible/ansible/issues/65032, as it works if port mode defined.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco WS-C3750X-48 running 15.2(4)E1

##### STEPS TO REPROD

[2020-03-06 02:46] theque5t commented on #50640
@cognifloyd I recently opened PR #65844 which adds a callback plugin that I believe can assist with this issue. I have included an example below that I believe demonstrates how it can be used to provide the inventory pattern suggestions you're looking to implement. Hopefully it solves part of the issue.

# Example

## Ansible Version
[code]

## CONFIGURATION
[code]

## OS / ENVIRONMENT
[code]

##

[2020-03-06 03:01] theque5t commented on #57138
@joelgriffiths I recently opened PR #65844 which adds a callback plugin that I believe can assist with this issue. I have included an example below that I believe demonstrates the problem you have described, and implemented the potential solution @bcoca described(`PLAYBOOK FAILED` in red at the end of the summary), using the callback plugin.

# Example

## Ansible Version
[code]

## CONFIGURATION

[2020-03-06 03:11] p-v-a commented on #68061
If port configuration has been primed with
[code]
then module works as expected.

If attempted to set trunk mode before changing encapsulation then switch rejects command:
[code]

[2020-03-06 03:19] Fred-sun commented on #44806
@sujiar37 Could you try PR #64894? It should fix your needs. Thank you very much!

[2020-03-06 03:31] theque5t commented on #66541
@clerskine I recently opened PR #65844 which adds a callback plugin that I believe can assist with this issue. I have included an example below that I believe demonstrates the problem you have described, and the potential solution using the callback plugin. This would require using ansible 2.8.5 or higher.

# Example

## Ansible Version
[code]

## CONFIGURATION
[code]

## OS / ENVIRONMENT
[code]

[2020-03-06 04:44] ChavaliShr opened #68063 "VM ip is not set using ansible vmware_guest"
##### SUMMARY
I created a vm using ansible and installed RHEL 7.6. I am trying to set the ipv4 address of the vm, but it is not getting set, even though the playbook successfully runs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest networks

##### ANSIBLE VERSION
ansible 2.9.0
  config file = path/ansible/ansible.cfg
  configured module search path = ['path/plugins/modules', '/u

[2020-03-06 05:00] fieldse opened #68064 "Rax guide documentation"
##### SUMMARY

Unclear documentation in "Rackspace Cloud Guide"..

The documentation describes using the `rax.py` inventory plugin, but has no mention about where to find or how to install the `rax.py` file.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
Doc page:  https://docs.ansible.com/ansible/latest/scenario_guides/guide_rax.html

##### ANSIBLE VERSION

[code]

##### CONFIGURA

[2020-03-06 05:26] theque5t commented on #67260
@mvorisek I recently opened PR #65844 which adds a callback plugin that I believe can assist with this. I have included an example below that I believe demonstrates the feature idea, and the potential implementation using the callback plugin. Lastly, this plugin is compatible with ansible 2.8.5 or higher, using python 2.7, 3.5, or 3.6.

# Example

## Ansible Version
[code]

## CONFIGURATION
[code]

[2020-03-06 06:19] srikark16 commented on #67993
Thank you Henrique Rodrigues!!!
The work around you have provided worked for me.

Regards,
Srikar

[2020-03-06 06:19] #67993 closed, assigned to nobody

[2020-03-06 06:46] fieldse commented on #68064
Related issue: https://github.com/ansible/ansible/issues/35305

[2020-03-06 06:47] fieldse commented on #35305
Some improvement to the page may be needed.
https://github.com/ansible/ansible/issues/68064

[2020-03-06 07:11] Fred-sun commented on #64667
@haiyuazhang Can you help fix the above feature request? Thank you very much!

[2020-03-06 07:11] nicolaibaralmueller commented on #68036
Sometimes hosts are not reachable no matter how many times you try and it would be great to know which hosts after a run.

[2020-03-06 07:34] theque5t commented on #56464
@benjdudas As a workaround, I recently opened PR #65844 which adds a callback plugin that can work like the selective callback plugin(only prints tasks that have been tagged with print_action or that have failed). I have included an example below that I believe demonstrates the problem described, and the potential workaround using the callback plugin.

# Example

## Ansible Version
[code]

## CONF

[2020-03-06 07:48] JoschuaA4 commented on #67606
@goneri I close this issue, a new issue is know opened up here [#41](https://github.com/ansible-collections/vmware/issues/41).

[2020-03-06 07:51] #67606 closed, assigned to nobody

[2020-03-06 08:18] zystem commented on #27081
You write "extra_ops" when must to be "extra_opts"

[2020-03-06 08:26] kustodian commented on #14367
That is exactly what I proposed :)

[2020-03-06 09:00] xenlo commented on #68041
As requested by @goneri, I reopened this issue in ansible-collections/vmware:
—> https://github.com/ansible-collections/vmware/issues/43

[2020-03-06 09:00] #68041 closed, assigned to nobody

[2020-03-06 09:03] rareshornet opened #68066 "proxmox features module argument when deploying lxc containers"
Proxmox allows extra configuration for lxc containers using the "feature" argument. Features take the following setting as arguments:

features: [fuse=<1|0>] [,keyctl=<1|0>] [,mount=<fstype;fstype;...>] [,nesting=<1|0>]
Allow containers access to advanced features.

For example, the nesting switch fixes a problem where docker can't run on lxc containers as it cant mount sysfs and procfs.

Here is

[2020-03-06 09:15] bitfoo1 opened #68067 "AttributeError in pamd module while adding new rule"
##### SUMMARY

I'm getting Traceback `AttributeError: 'NoneType' object has no attribute 'group'` while trying to add a new rule.

##### ISSUE TYPE
Using either ansible ad-hoc command or ansible-playbook. I'm getting the same result.

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: CentOS
Version: 8.0.1905
Provisioner: Vagrant

##

[2020-03-06 09:23] webknjaz commented on #68060
Not sure if it's reasonable security-wise.

[2020-03-06 10:19] Maelstromeous opened #68068 "GitHub Projects & Website Roadmap issues"
##### SUMMARY
GitHub projects are vastly out of date, no roadmap on the documentation website for release 2.10. It's hard to see where the project is at in terms of progress. According to the issue list, the 2.9 release is heavily behind, yet we have a stable 2.9x?

If the GitHub projects aren't being used, I suggest you delete them in favour of a more up to date issue tracker.

There is also no m

[2020-03-06 10:37] veera2019 opened #68069 "expect module fails with "sre_constants.error: nothing to repeat""
Whenever i execute playbook i am getting below error, i am installing my application using playbook and i have added installer response key and value .

[code]

[2020-03-06 10:43] veera2019 commented on #68069
This is the my yaml file, whenever i will install manual installation it will ask these all responses so i have added those all responses here.
---
- hosts: localhost
  tasks:
   - name: installng app
     expect:
       command: ./filename
       responses:
          '? Please enter your  access key': 'accesskey..............'
          ' "Enter" for the next page, or "F" to print the full licens

[2020-03-06 10:48] brutus opened #68070 "set password with mysql_user fails with "no database selcted""
##### SUMMARY

Possible regression since Ansible `>= 2.8`:

Our previously fine running task, that sets the password for the MariaDB root user with the `mysql_user` module, fails with "no database selected" error. Works again, if we switch back to Ansible `2.7.16`.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

mysql_user module or maybe DB driver?

##### ANSIBLE VERSION

[code]

##### CON

[2020-03-06 10:52] nightowlengineer commented on #68057
This is a duplicate of the ticket you linked, but with less information in.

[2020-03-06 10:59] Akasurde commented on #68069
!component =lib/ansible/modules/commands/expect.py

[2020-03-06 11:05] Akasurde commented on #68064
!component =contrib/inventory/rax.py

[2020-03-06 11:11] Akasurde commented on #68063
Please be aware there are some changes regarding the repository organization. Since March 2, 2020, the Ansible team does not accept any new changes on the VMware modules on the core ansible/ansible repository.
The development continues but in the new VMware collection repository: https://github.com/ansible-collections/vmware

https://github.com/ansible-collections/vmware/issues

Links:

- https://

[2020-03-06 11:11] #68063 closed, assigned to nobody

[2020-03-06 11:17] Akasurde commented on #68066
!component =lib/ansible/modules/cloud/misc/proxmox.py

[2020-03-06 11:18] AndreasUfert opened #68072 "ec2_group is not idempotent for self-referenced rules"
##### SUMMARY
When creating a security group with ec2_group that has a self-referenced rule ([{ proto: all, group_name: "sg_examplegroup"}]) the module runs into a timeout when run for the first time. Yet, the security group is created. When run repeatedly it either takes very long and returns with changed: true (when called with purge_rules: true) oder returns with failed: true (when called with

[2020-03-06 11:19] Akasurde commented on #68057
!component =lib/ansible/modules/network/junos/junos_interfaces.py

[2020-03-06 11:21] evgeni commented on #67118
@mattclay there you go :)

[2020-03-06 11:31] RushinthJohn commented on #66310
This is a very useful feature.

[2020-03-06 12:09] Alex-Richman opened #68074 "aws_secret state:absent is not idempotent"
#### SUMMARY
aws_secrets module called with state: absent fails if the named secret doesn't exist (e.g. if the playbook is re-run).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_secret

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Task should succeed with [OK] if the secret doesn't exist.

##### ACTUAL RESULTS
Task fails with:
[code]

[2020-03-06 12:20] lliepins-clgx opened #68075 "Add attribute in sysctl module to uncomment commented items"
##### SUMMARY
In many cases, changing value of setting using sysctl moduel is not enaugh. You also need to enable ( a.k.a uncomment the settings ). That means you end up with boilerplate code (using lineinfile or block_file or even template module usage ) to do the job. To handle such cases and reduce needful length of code to achieve the result, I suggest to add one more attribute that essentiall

[2020-03-06 13:55] s-hertel commented on #67913
Depends on your definition of a parameter? I'd still consider them parameters on the role. Those attributes are applied to the role. Same with `vars`. The way I'm thinking about it - if I call the role with one set of tags and then later with another, the role can have different behavior. Therefore the role shouldn't be considered a duplicate. I did see that we have no examples using tags here htt

[2020-03-06 13:56] mohclips opened #68077 "listen_ports_facts - requires netstats to be installed"
##### SUMMARY

listen_ports_facts - requires netstats to be installed

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

listen_ports_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Distributor ID: Ubuntu
Description:    Ubuntu 18.04.4 LTS
Release:        18.04
Codename:       bionic

##### ADDITIONAL INFORMATION

[code]

I feel it would be a

[2020-03-06 13:57] rajsshah86 opened #68078 "regex_search under assert task is not working correctly."
##### SUMMARY
regex_search under assert  task is not working correctly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
assert , regex_search

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.7 (Maipo)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The assertion should pass , as you can see that in **DEBUG

[2020-03-06 14:29] s-hertel commented on #67913
It looks like this is intended, and has been the case since 2.0 (thanks @bcoca for the pointer). https://github.com/ansible/ansible/commit/dca36c1d16064b24adfa14b417eb71637b960b96

[2020-03-06 14:31] leedm777 commented on #67913
Good point. It's not explicitly defined, but the way the docs read only the `vars` are referred to as parameters.

Adding the `tags` to `meta/main.yml` is a good workaround for now, but I'm worried that it's not well defined and the behavior could change.

Is it just the tags explicitly defined in the role that count as parameters? Roles also inherit tags from the playbook, but those don't seem to

[2020-03-06 14:32] leedm777 commented on #67913
bq. It looks like this is intended, and has been the case since 2.0 (thanks @bcoca for the pointer).

Oh, cool. As long as it's intentional.

If I get the time, I'll submit a PR with a documentation update to clarify it. Thanks!

[2020-03-06 14:50] sivel commented on #68060
Can you detail the problem you are experiencing?

I've had to inference that you are stating that an action plugin in a collection, cannot call a module in another collection.

I cannot duplicate this issue.  I've created a collection with an action plugin, that calls a module from another collection.  It works without issue.

needs_info

[2020-03-06 14:53] blaksec commented on #64599
Figured out what my issue was. Since the account I'm  using can only run a restricted list of commands, terminal pager not being one of these commands, the moment it runs show run (which I think it's called as part of ansible_conf), it will get presented by a pager prompt (<-- more -->). Because it does not get the expected "#" prompt, it throws "operation requires privilege escalation" exception.

[2020-03-06 14:57] JonTheNiceGuy commented on #68077
If in [line 229 of listen_port_facts.py](https://github.com/ansible/ansible/blob/58edfec145cf3c0ffa38a35ca4c01bd0daac38e8/lib/ansible/modules/system/listen_ports_facts.py#L229) you use:

[code]
with
[code]

You'll likely have to tweak [the `netStatParse` function](https://github.com/ansible/ansible/blob/58edfec145cf3c0ffa38a35ca4c01bd0daac38e8/lib/ansible/modules/system/listen_ports_facts.py#L150-

[2020-03-06 15:08] sivel commented on #68078
The issue comes from a change in how pyyaml and python interact once you introduce quotes and escaping.  One thing to note is that `debug` is special, and often will do things that other modules don't.

For your assert task to work properly, you need to escape the `\` in `\b`.

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2020-03-06 15:08] #68078 closed, assigned to nobody

[2020-03-06 15:08] blaksec opened #68079 ""operation requires privilege escalation" error needs to be more descriptive."
##### SUMMARY
While attempting to perform certain config steps on the Cisco ASA platform I ran into an issue where it would come back with "operation requires privilege escalation" error without further explanation what may be causing the issue. Digging through the code I discovered that this error will be returned when we do not get presented with "#" prompt. In my case it was caused by the accou

[2020-03-06 15:10] sivel commented on #68069
Please take note that the "question" in the expect module is regex. So you must escape any regex modifiers.  Such as `?`.

Using a regex `?` modifier at the start of a string is illegal:

[code]

So in the following example:

[code]

That would need changed to:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list:

[2020-03-06 15:10] #68069 closed, assigned to nobody

[2020-03-06 15:15] sivel commented on #68068
GitHub projects are purely for core team use. They are not intended to be an external indication of where the project is, or used by people outside of our organization.

As for the 2.10 roadmap, it's empty, because we have nothing to put in there at the moment. There are no real features planned, and no release dates have been confirmed.

I will spend a few minutes today, and work on filling out t

[2020-03-06 15:15] #68068 closed, assigned to nobody

[2020-03-06 15:16] rwagnergit commented on #68054
@sivel - well, I tried a custom plugin, and while it works, it forces a dependency on Ansible 2.8+ (since custom become plugins don't work in 2.7).  I'm going to hold off and hope that this gets fixed in 2.9.  Your code change in plugins/action/__init__.py does work, but without understanding the side effects of that, I'm not about to naively submit a PR.  And I wouldn't even begin to know how to

[2020-03-06 15:32] sivel commented on #68064
For clarity at least here, the path to that script is `contrib/inventory/rax.py` within the `ansible/ansible` github repository for the time being.

This script is about to be removed from this repository in 3 days and relocated to https://github.com/ansible-collections/general

I should also note that all Rackspace functionality here, is unmaintained, and should quite possibly be considered depre

[2020-03-06 15:34] edulas opened #68082 "nxos_vlans, nxos_l2_interfaces and nxos_lag_interfaces modules not working with httpapi for the Cisco Nexus switches."
##### SUMMARY

nxos_vlans, nxos_l2_interfaces and nxos_lag_interfaces modules not working with httpapi for the Cisco Nexus switches.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Working fine when network_cli is uses:

[code]

##### ACTUAL RESULTS

[

[2020-03-06 15:36] Maelstromeous commented on #68068
Thanks for the update @sivel, appriciated

[2020-03-06 15:36] sivel commented on #63810
The docs can be found at https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/playbooks_filters.rst

On each docs page, there is an `Edit on GitHub` link that will take you directly to the file to edit.

Feel free to submit documentation updates as you see fit.

[2020-03-06 15:39] sivel commented on #68054
To clarify my intentions here, I am not actively pursing this fix.  Should someone wish to look into it in more depth, please feel free to do so.

[2020-03-06 15:40] sivel commented on #68068
PR to update the roadmap: https://github.com/ansible/ansible/pull/68081

[2020-03-06 16:00] nitzmahone commented on #68060
Likewise, I'm unable to reproduce this. Literally every collection-hosted module does this, because the default action lives inside Ansible and has to call it by its FQCN.

[2020-03-06 16:16] ossm1db commented on #27081
@zsystem You are correct, I apologize for the typo. However, it still does not work:

`fatal: [xxxxxxxx]: FAILED! => {"changed": false, "dest": "/tmp", "extract_results": {"cmd": ["/usr/bin/unzip", "-o", "myscript.sh", "/tmp/files.zip", "-d", "/tmp"], "err": "unzip:  cannot find or open myscript.sh, myscript.sh.zip or myscript.sh.ZIP.\n", "out": "", "rc": 9}, "gid": 0, "group": "root", "handler":

[2020-03-06 16:41] tomsucho opened #68084 "Option to reduce verbosity on a task"
##### SUMMARY
I'm mostly running on verbosity 1 as it is nicely logging things by default and no need to bother with explicit debug statements. However in some situations like with looping with_items going over a large list of massive dicts it is just an overkill of information and can't seem to find any way to limit that output. I tried no_log=True but that still gives one line per item, and is m

[2020-03-06 16:58] hsq-cernansky commented on #63810
This is just a continuation of, "we know how it works and you don't, so go figure it out and write it up yourself". I understand why you might feel that there is plenty of work for the devs already, but if you write features, YOU SHOULD BE THE ONES TO DOCUMENT THEM.

[2020-03-06 17:31] blakeinate commented on #68060
I appreciate your feedback. @sivel @nitzmahone would either of you be willing to send a brief working example? For some reason my coworkers and I are unable to produce the desired behavior; I have a feeling the issue will be something syntax related.

[2020-03-06 17:36] sivel commented on #68060
@blakeinate I assume my assumption of your issue was correct?

I used one of my own published collections, and wrote a new action in another to demonstrate.

[code]

And then at:

`~/.ansible/collections/ansible_collections/sivel/test/plugins/action/call_out.py`:

[code]

Fwiw, you had an issue in your action.

`self.ActionModule._execute_module` -> `self._execute_module`

And then tested with:

[

[2020-03-06 17:38] sivel commented on #68060
We've also added a PR to assert this functionality as well: https://github.com/ansible/ansible/pull/68080

[2020-03-06 17:40] blakeinate commented on #68060
@sivel I appreciate your prompt reply, I found your test case moments before your comment. I will try to run in my environment and compare to our failing plugin. I also appreciate you pointing out the error in the example, serves me right for writing up an example from memory. :)

Thank you all for addressing this, I am closing this issue as the problem must be on our end.

[2020-03-06 17:40] #68060 closed, assigned to nobody

[2020-03-06 18:00] Bahu2016 commented on #67675
Sure @goneri

I could see the updates in vmware collections.

[2020-03-06 18:00] #67675 closed, assigned to nobody

[2020-03-06 18:48] JoshuaLyle commented on #55932
I believe this has to do with the auth is done across all of the openstack modules because I cannot get any of the `os_*` modules to respect a project selection whether using a `OS_*` env variable or directly including it in the `auth` dict.

Even more strangely, at least in the case of `os_network`, if the network exists in another project but has the same name, it treats the network as if it exi

[2020-03-06 18:56] aadams26 opened #68086 "Need win_shell to run with elevated privileges"
##### SUMMARY
Need win_shell to run local ps1 script file as elevated to modify file located in C:\Program Files.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_shell

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible host:
CentOS 7

Target host:
Windows Server 2012
##### STEPS TO REPRODUCE

Authentication. *NOTE* user has local administrative privi

[2020-03-06 19:04] LaurencelleJ commented on #43405
Hi is this ever going to get merged?

[2020-03-06 19:24] sivel commented on #68079
!component =lib/ansible/plugins/cliconf/__init__.py

[2020-03-06 19:27] nicktimko commented on #63810
@hsq-cernansky I understand your frustration as well, being new to Ansible. However, absent any support contracts you kinda just have to roll with what there is. Docs don't write themselves and take a fair bit of skill to write: if you built the thing, it can be "too obvious" how it works to explain it.

The frustrating part is when I make a PR and it gets held up ;)

[2020-03-06 19:33] abezella commented on #65334
i am also affected by this and can confirm that this behavior exists (and is unexpected)

[2020-03-06 19:46] ShachafGoldstein commented on #68086
There are no errors in the output, it could be an error with double hop or something in the script itself.

[2020-03-06 20:06] jborean93 commented on #68086
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * Ansible runs with the highest privilege available to the user, to verify this just run `whoami.exe /all` and you will see the user is a member of the `Administ

[2020-03-06 20:06] #68086 closed, assigned to nobody

[2020-03-06 20:07] aadams26 commented on #68086
@ShachafGoldstein thanks for the quick response. I just tried to see if it was a double hop issue by adding the following:
[code]
But still not updating config file. I ran the script locally instead and it updates configs that way. Do you know what else it could be?

[2020-03-06 20:10] dj-wasabi opened #68088 "Playbook failing.. getting KeyError inventory_mode"
##### SUMMARY

I have created a simple playbook that points to the role dj-wasabi.zabbix-agent, which is installed by AWX on the flight.
The playbook has worked earlier (two days ago) and not it doesn't work anymore.

I receive following issue, when running the playbook on my ansible server (towards every host).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_host

##### ANSIBLE VERSI

[2020-03-06 20:12] jhawkesworth commented on #68086
@aadams26 would rather chat about this on irc or ansible-project google group rather than a closed ticket, but does something else already have the file open?

[2020-03-06 20:15] aadams26 commented on #68086
@jhawkesworth Hi, thank you I have already posted here: https://groups.google.com/forum/#!topic/ansible-project/2MPbadVGBcs

And no, the file is not open, it is ported over using ansible and then immediately deleted once complete. In order to test that it was successfully working I simply transferred the file and ran it manually. It works perfectly when running powershell as admin.

[2020-03-06 21:36] michaelsmoody commented on #53907
This remains an issue even on dev 2.10. I too would have expected this to work on roles.

[2020-03-06 22:00] blair3000 opened #68092 "Callback Exception: show_per_host_start"
##### SUMMARY
Receiving error below when run playbook, it appears after each tasks. I am think my be related to issue #297.

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Mostly Windows modules

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.7 (Maipo)

##### STEPS TO REPRODUCE
We are running the scripts under T

[2020-03-06 22:10] acozine opened #68093 "Properly fix "undefined label" errors introduced by the migration"
##### SUMMARY

Testing during the Collections Migration uncovered 539 "undefined label" docs errors when content left the ansible/ansible repo. See https://app.shippable.com/github/ansible/ansible/runs/161699/2/tests.

As a stopgap, we opened #68090, which changes the behavior of `:ref:` links that have no prefix. If the target of a prefix-less `:ref:` link exists in the `devel` docs, the link wil

[2020-03-06 22:33] MaartenMol commented on #46963
Any development on this?

[2020-03-07 01:14] fcam-naveen commented on #68057
I see Ansible uses sshpass. When I run like this. It hangs also
-sh-4.2$ sshpass -p  'xxx' ssh abcd@yy.yy.yy.yy 'show standby brief'
xxx-1-1#

This command entered into the device, never exits.  Same command works for other devices. Is there some type of config I need to do in ssh, run and exit??

[2020-03-07 05:01] cognifloyd commented on #50640
@theque5t The `diy` callback is a fascinating plugin that brings variables templating into the output. Very interesting.
OK, so with the idea of templating extra output using vars, let's see what vars are available:
- you used `ansible_inventory_sources` which works for the `-i` case. I have a global ansible.cfg that uses a directory of inventories, so in this context we rarely use `-i`.
- `ansibl

[2020-03-07 05:10] cognifloyd commented on #50640
I just changed the original message and the title to highlight that I think a callback is the best way to do this. So, how do we go about adding a callback that gets called each time a host pattern does not match?

[2020-03-07 06:21] cognifloyd commented on #50640
How would I do a `send_callback` in this context?
https://github.com/ansible/ansible/blob/308723c3ca1122363e419070f1fa1d76ff5611a9/lib/ansible/inventory/manager.py#L568-L576

Tracing the stack, I see that this is where the playbook_executor calls the inventory:
https://github.com/ansible/ansible/blob/308723c3ca1122363e419070f1fa1d76ff5611a9/lib/ansible/executor/playbook_executor.py#L257

And get_h

[2020-03-07 06:38] cognifloyd commented on #50640
And this could use a similar callback:
https://github.com/ansible/ansible/blob/308723c3ca1122363e419070f1fa1d76ff5611a9/lib/ansible/inventory/manager.py#L482-L485

[code]

[2020-03-07 07:26] MadLittleMods commented on #63354
Running into the same problem

[code]

I fixed up the problem by replacing the `/etc/hostname` file directly when running on `trusty`

[code]

[2020-03-07 11:55] #68031 closed, assigned to ganeshrn

[2020-03-07 18:20] bloob00k commented on #55827
Any update on this?  I'm really keen to see it too.

[2020-03-07 19:49] ainiml commented on #29924
This happens on `ansible-playbook 2.9.6`

[code]

[2020-03-07 23:27] aboubeta commented on #67358
Hi, same problem here.
When I reach the quota:

`The full traceback is:
Traceback (most recent call last):
  File "/home/boube/.ansible/tmp/ansible-tmp-1583623421.28-97292350591788/AnsiballZ_azure_rm_virtualmachine.py", line 102, in <module>
    _ansiballz_main()
  File "/home/boube/.ansible/tmp/ansible-tmp-1583623421.28-97292350591788/AnsiballZ_azure_rm_virtualmachine.py", line 94, in _ansiballz_

[2020-03-08 03:56] Castingnet commented on #67642
The bootmgr is there when I use the command provided. And currently, I worked around the issue by using win_shell module. So I could make sure the file does exist.

Yes, it's not present by default. To show system protected file, you need follow the guide below:
https://www.ilovefreesoftware.com/05/windows-10/show-protected-system-files-windows-10.html

Here is the output for my system:

PS C:\Use

[2020-03-08 12:27] adamus1red opened #68101 "cloudflare_dns state absent does not remove SSHFP record"
##### SUMMARY
When attempting to remove an SSHFP record using `state: absent` the record is not removed but is left intact with no modification

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloudflare_dns

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

openSuse Tumbleweed & Debian 10 tested

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

SSHFP

[2020-03-08 14:37] #41320 closed, assigned to nobody

[2020-03-08 15:23] sli720 commented on #52239
What is the status here? How did you fix that issue?

[2020-03-08 16:26] canihavesomecoffee commented on #29405
@LaurentDumont while not being the original reporter I can confirm that the issue seems to be caused by the comment.

I found this exact issue because I was also seeing duplicate entries in my iptables (v1.8.2 (nf_tables) on Debian Stretch). After removing the comments out of my Ansible playbook I can run multiple times without duplicate entries being added.

[2020-03-08 16:47] theque5t commented on #15350
@szhem I have included an example below that I believe demonstrates the scenario you described, and the potential solution using the `diy` callback plugin.

# Example

## Ansible Version
[code]

## CONFIGURATION
[code]

## OS / ENVIRONMENT
[code]

## STEPS TO REPRODUCE

1. Create `callback_plugins` directory and add the [diy.py](https://raw.githubusercontent.com/ansible/ansible/781b71e17fc7fa5b3ae

[2020-03-08 17:56] patrakov commented on #67966
This would be fixed by #65869

[2020-03-08 17:59] patrakov commented on #67588
This would be fixed by #65869

[2020-03-08 18:00] patrakov commented on #65855
Please reopen, the bug is still there, and has a pull request, #65869

[2020-03-08 23:44] eshellman commented on #67949
If I've not made clear what the problem is, please let me know if I can provide more info. My code is here: https://github.com/EbookFoundation/regluit-provisioning/blob/master/roles/regluit_prod/tasks/certs.yml

[2020-03-09 00:30] jdorel commented on #67029
! component

[2020-03-09 01:41] dale-c-anderson commented on #43506
I find it worth noting in randlet's `command` workaround [above](#issuecomment-434031296): `aws elbv2 create-listener` is an idempotent operation. Even though the command reports "changed" across multiple playbook runs, it doesn't continue to append multiple HTTP listeners. \m/

[2020-03-09 02:28] Fred-sun commented on #67358
@haiyuazhang Can you help me with this problem when you are free? I tried to find the reason, but I couldn't. Thank you very much!

[2020-03-09 04:20] berts83231 opened #68104 "Create AWS Lightsail fails to get public ip address"
##### SUMMARY

I'm using the AWS Lightsail module to create new servers.
But the module does not return the public ip address most of the time.

So I attempted to set the state: running instead of state: present.
And this fails entirely. It errors out and does not create the server.

Questions:

- Can I use this module to create a server and wait for the state "running"?
Or is this not how it is s

[2020-03-09 06:36] Fred-sun commented on #67861
kindly ping

[2020-03-09 08:31] #66340 closed, assigned to Akasurde

[2020-03-09 09:17] emz00 opened #68106 "Confusing warning form postgresql_user module: "Module did not set no_log for no_password_changes""
##### SUMMARY
Calling the postgresql_user module reports a warning:

`[WARNING]: Module did not set no_log for no_password_changes`

I don't understand what this means, i.e. what the problem is that it's warning me about. I didn't set no_log, but I didn't set no_password_changes, either. Should I be setting no_log for this? Why?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_user

[2020-03-09 09:30] eleksis commented on #45602
@ganeshrn
I can confirm that junos_l2_interfaces is much faster compared to old one (46s vs 5m14s).

p.s. Since we are discussing junos modules already & got your attention. I would like to remind you that I have feature proposal for confirm parameter (https://github.com/ansible/ansible/pull/53315) open for a year. Just need a confirmation to make a proper pull request, since I already added this

[2020-03-09 09:38] masterphenix commented on #67861
Sorry for the delay. I have tried with the command you provided, and it does work fine. Which made me search for the difference between the way I built the image before, and after some more tests, it appears that the cause of the issue is the order of the package installation :

This works :
[code]

This doesn't :
[code]

[2020-03-09 09:54] Fred-sun commented on #67861
@masterphenix Thank you for trying, if there are no other problems, we can close it. Thank you very much!

[2020-03-09 10:01] fabala opened #68107 "Unarchive module does not correctly handle archive's files and unarchived files with same size and same date but not same content"
##### SUMMARY
Unarchive module does not correctly handle archive's files and unarchived files with same size and same date but not same content.
When trying to update files from an archive to a unarchived directory, no changes are performed if file has same size and same date but different content.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
unarchive module

##### ANSIBLE VERSION

[code]

[2020-03-09 10:07] fabala commented on #68107
I have executed my test playbook on localhost only for convenience, but the same issue exists on a remote host.

[2020-03-09 10:41] rohitthakur2590 commented on #67497
@gitpel  Thanks for contacting us. Could you mention for which VyOS release you are getting this. ?

[2020-03-09 10:52] masterphenix commented on #67861
Thank you for your help, issue can indeed be closed.

[2020-03-09 10:52] #67861 closed, assigned to nobody

[2020-03-09 11:23] nureynisow opened #68108 "Jenkins Ansible no config file using default"
i'm trying to automate my deployment using ansible. It's working fine. But with jenkins when i run ```ansible-playbook ./test-playbook.yml -v```i get this message :

[code]

When i run the same command directly on the system, it works fine. The verbose mode shows that the config file is not found. Can someone help me

Regards

[2020-03-09 12:04] D3DeFi commented on #68088
Hey @dj-wasabi, sorry for the delay. Can you please take a look at the #66860 and see if it works for you?

Has any change occurred on your side a few days ago like updating ansible version, pulling changes from devel or something like that? Asking because you said that it worked for you a few days ago.

[2020-03-09 12:12] mmolinac commented on #65291
I get the same error with Ansible version 2.9.6

[2020-03-09 12:36] AntoinePorte31 opened #68109 "Cisco ACI - EPG to Domain - Allow Promiscuous"
#67957 ### SUMMARY

Add the choice between Accept / Reject for the "allow promiscuous" option

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aci_epg_to_domain – Bind EPGs to Domains (fv:RsDomAtt)
##### ADDITIONAL INFORMATION

Add in Parameter something like "promiscuous" and in the choices : Accept / Reject, in order to fully achieve the vmm domain association with ansible.

[code]

[2020-03-09 14:13] gundalow opened #68110 "ansible-galaxy "unknown keys" type"
##### SUMMARY
~/git/work/ansible_collections/community/community.general ((0.1.0) %)$ ansible-galaxy collection build
[WARNING]: Found unknown keys in collection galaxy.yml at '/home/johnb/git/work/ansible_collections/community/community.general/galaxy.yml': type

`type` is valid, so should be added to the whitelist

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

[2020-03-09 14:49] monsterry opened #68111 "Default filter breaks with chained variables"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Default filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

In all cases I expect the outer default filter to be triggered and evaluated.

##### ACTUAL RESULTS

[code]

[2020-03-09 14:53] sivel commented on #68110
I don't think `type` is valid. What uses this?  I believe all future "metadata" features will be pulled from a `routing.yml` file.

[2020-03-09 15:07] LaurentDumont commented on #29405
Thanks for the confirmation. I'll create a new bug for that issue for tracking purposes. It seems to be different from the original report.

[2020-03-09 15:27] samccann commented on #57709
A note that while this works today with local builds, we do not currently publish the docs to the website with Sphinx 2.x  We are tied to Sphinx 1.7.9 via this:

https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/requirements/constraints.txt#L9

This is due to a limitation in rstcheck.  While the 3.3.1 version of rstcheck supports Sphinx 1.8 and greater now, it is still not

[2020-03-09 15:51] lonico commented on #66672
Sorry, I did not see this.  We have a live support channel on Slack
https://netapppub.slack.com/join/shared_invite/enQtNzc0MDAwNzQ5MDc2LTE4ZDQxODgwZmY3NGUwNWM2OGVkMDlkNjZjNTEzZDYwMDMwYWM1M2E4ZmNiNzYyMWE5NmVkYTMyODdlMzhhOTI

We added group_id and user_id in our January collection.

[2020-03-09 15:54] ronansalmon commented on #67572
With rabbitmq version 3.8.2

The following command returns a header :
[code]

This issue is already fixed in module rabbitmq_policy, it does detect the rabbitmq version and handle headers.

Can this be version detection apply to all rabbitmq modules ?
Thanks,

[2020-03-09 16:06] Akasurde commented on #67865
resolved_by_pr #68112

[2020-03-09 16:06] naxhh opened #68113 "elb_application_lb_info reaches AWS rate limits"
##### SUMMARY
We are seeing a high number of failures when retrieving information from AWS for ALB's

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`elb_application_lb_info`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos catalina with virtualenv and python3
travis on a ubuntu 13

##### STEPS TO REPRODUCE

[code]

we run this several times in one la

[2020-03-09 16:06] Akasurde commented on #67865
@xenlo, Could you please check PR #68112 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-03-09 16:13] sylock opened #68114 "include_tasks from include_roles don't satisfy the tags"
##### SUMMARY
With ansible, let's say you have that file structure:

[code]

The playbook includes the 2 roles:
[code]

The roles includes the tasks:

[code]

What I want to do is: being able to only start the task1 of my_role1 for example, or task2 of my_role1. Especially when developping it saves a lot of time to only run the subset your are currently developping.

I tried to set the tags at the

[2020-03-09 16:17] tremble commented on #68113
Hi @naxhh this is kind of a 'known' issue, and we have some helpers to work around the way AWS and the 'boto3' library work, unfortunately these helpers haven't been consistently applied.

Unfortunately we're in the middle of splitting up the main Ansible repo and moving most of the modules out into Collections.  I will attack elb_application_lb and elb_application_lb_info once we're out of the 'f

[2020-03-09 16:17] Akasurde commented on #68108
Hi @nureynisow !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2020-03-09 16:17] #68108 closed, assigned to nobody

[2020-03-09 16:20] goneri commented on #67606
thanks @JoschuaA4!

[2020-03-09 16:21] xenlo commented on #67865
I will try to give a try to your fix tomorrow.

Nevertheless, last Friday, I found that there is a module [`vmware_local_user_manager`](https://docs.ansible.com/ansible/latest/modules/vmware_local_user_manager_module.html).
Does those two modules (that vmware module and the core `user` module with your fix) not trying to do the same stuff?
If yes does it make sense to maintain those 2?
Maybe the b

[2020-03-09 16:23] Akasurde commented on #68106
@loop-evgeny Thanks for reporting this. Ansible heuristically checks if the user-provided input from the module is sensitive information or not. It is done by checking keywords like `password`. Here, I think `no_password_changes` is false-positive and can be ignored.

@Andersson007 @felixfontein  Would you like to add something here?

Let me know if you need anything from my side.

Thanks,

needs_

[2020-03-09 16:40] Akasurde commented on #67865
@xenlo `vmware_local_user_manager` uses vSphere SOAP APIs to manipulate ESXi user whereas the current change in the `user` module uses native busybox commands. `vmware_local_user_manager` provides facility to modify just password and description (which I feel is very limited).

I am open to discuss this.

[2020-03-09 16:43] naxhh commented on #68113
Hi @tremble thanks for the heads up!

Is there any place I can see more info about these freeze and dates regarding it? Just to be up to date on this.

[2020-03-09 16:45] dj-wasabi commented on #68088
Hi @D3DeFi

No worries, I'm just the proxy (A user created issue on the zabbix-agent role). But I'll ask if he can apply it and see if that works. Will let you know! 👍

[2020-03-09 17:32] sivel commented on #68114
This is expected behavior.

You have tagged `my_role1` with both `my_role1_task1` and `my_role1_task2`, which means that all tasks within the role also get tagged with both of those tags.

So when you limit execution to just `my_role1_task1`, it will execute all tasks within the role, because they have inherited that tag.

If you have further questions please stop by IRC or the mailing list:

   *

[2020-03-09 17:32] #68114 closed, assigned to nobody

[2020-03-09 18:21] sivel commented on #68092
This is a bug in the tower/awx callback module, that has since been fixed in ansible-runner at https://github.com/ansible/ansible-runner/pull/282/files

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-03-09 18:21] #68092 closed, assigned to nobody

[2020-03-09 18:22] samccann opened #68119 "Create a recommended template for collection Readme files"
##### SUMMARY

As developers create or migrate to collections, we want to give them guidance on what makes for a good/reasonable README.md file in their collection such that it:

- Covers the information a user needs on first investigating a collection
- Displays well in Galaxy (and Automation Hub).

This issue will be used to debate/discuss/settle on a structure for this README.md template, but w

[2020-03-09 18:37] felixfontein commented on #68106
I fully agree. We can disable the warning in the module by explicitly adding `no_log=False` to this option's argspec.

@Andersson007 could you prepare a PR for that once the repository where these modules end up in is active and functional?

[2020-03-09 18:42] samccann commented on #68119
_This comment will be updated as we decide on the overall structure of the README.md file. Please note it must be .md not .rst._

# Collection Title

# Requirements

## Installing the collection

## Included content

## Using the collection

## Contributing to the collection

## Roadmap

## More information

## Licensing

[2020-03-09 18:46] jborean93 commented on #68110
I haven’t heard of type before. We can add it but what is the purpose of it and is it meant to be understood by Galaxy in the manifest?

[2020-03-09 18:48] samccann commented on #68119
Some example readme files:

- https://github.com/ansible-collections/kubernetes/blob/master/README.md

- https://github.com/ansible-collections/ibm_zos_core/blob/dev/README.md

[2020-03-09 18:53] felixfontein commented on #68106
Ah, I didn't notice that a [PR already exists](https://github.com/ansible/ansible/pull/68116).

[2020-03-09 18:54] mmolinac opened #68120 "gcp_compute_instance fails when instance existed from some time, but not with a new one"
##### SUMMARY

I am using the `gcp_compute_instance` module to replace the old `gce` module in order to create GCE instances. We wanted to both keep our code base up to date and use the `labels` functionality.

When running the task over a current and working host, it reports an error. This current instance was created and is working since more than a year now.
When the task is run with a differen

[2020-03-09 18:57] mmolinac commented on #68120
Possibly related to https://github.com/ansible/ansible/issues/65853 and https://github.com/ansible/ansible/issues/65291 .

[2020-03-09 18:59] samccann commented on #68119
Note - Galaxy currently uses a conservative markdown as follows:

# Tags suitable for rendering markdown
markdown_tags = [
    "h1", "h2", "h3", "h4", "h5", "h6",
    "b", "i", "strong", "em", "tt",
    "p", "br",
    "span", "div", "blockquote", "code", "hr",
    "ul", "ol", "li", "dd", "dt",
    "img",
    "a",
    "sub", "sup",
]
and
 tags=markdown_tags + ['pre', 'table', 'thead', 'th', 'tr', '

[2020-03-09 19:03] jborean93 commented on #68119
A couple of thoughts

* Having a common set of badges would be cool, currently for the Windows ones we have the Shippable badge for CI status and Codecov.io for coverage info
* Do we know when docs.ansible.com will contain the docs for a collection to point the README to? I don't particularly want to document each plugin manually in a collection if the site is live, especially for collections with

[2020-03-09 19:10] sivel commented on #68110
The `type` key in `galaxy.yml` was an assumption of functionality, that is not going to be implemented.  Instead of this, https://github.com/ansible/ansible/pull/67684 will provide this functionality via a different file.

[2020-03-09 19:10] #68110 closed, assigned to nobody

[2020-03-09 19:17] abenokraitis commented on #68119
I'd vote for a standalone "Tested with Ansible versions" section, which should already be in metadata?

[2020-03-09 19:24] jjshoe commented on #68104
@berts83231 - Look at the `wait` argument.

[2020-03-09 19:51] samccann commented on #68119
@jborean93 - codecov.io looks to be used for a number of collections so that seems common already and I'll add to the template above.  For CI status, we have a two types - Kubernetes uses github action, windows uses shippable. Do we need to find common ground there? (@geerlingguy )  or do we just want to suggest a CI badge should be added in general?

- module docs on docs.ansible.com - we likely

[2020-03-09 19:56] jborean93 commented on #68119
For generic collections then it could really be anything, even Travis-CI or Azure DevOps Pipelines as it's up to the author of the collection to decide. A few of the migrated collections will continue to use Shippable because that's what `ansible-test` is designed for and is required for things like spinning up Windows hosts in AWS using the same mechanism as the CI in ansible/ansible.

[2020-03-09 19:57] samccann commented on #68119
Okay I've added the comments thus far to the README.md template comment.

[2020-03-09 19:59] geerlingguy opened #68121 "kubectl connection plugin migration routed to wrong collection"
##### SUMMARY

During the 'great migration', the `kubectl` connection plugin was missed in the initial routing mapping, so it needs to be updated in the `routing.yml` file (https://github.com/ansible/ansible/blob/temp-2.10-devel/lib/ansible/config/routing.yml#L19-L20).

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

The Great Collection Migration

##### ANSIBLE VERSION

N/A

##### CONFIGURA

[2020-03-09 20:15] berts83231 commented on #68104
@jjshoe `wait` does not work as expected.
According to the docs `wait: yes` is the default. But even explicitly setting it does not affect the outcome.

It seems wait on create, was added late last year.
https://github.com/ansible/ansible/issues/63869

[2020-03-09 20:26] cidrblock commented on #68119
For users just getting started with a collection with the intent to debug or contribute, should we point to a "running from source" doc, that shows the clone of the collection and 1) a link to their .ansible folder 2) playbook ajacent or 3) and entry in an ansible.cfg file?  I suspect we may already have this somewhere but as a link in each collection it may be useful rather than each collection o