[2018-08-25 13:47] kassiansun commented on #43177
DNS resolution will add unnecessary complexity, just follow the `docker-py` behavior.

[2018-08-25 13:50] felixfontein commented on #43679
@kassiansun Is this an answer to the comment I wrote in #44670?

[2018-08-25 13:53] felixfontein commented on #43679
I just saw that there's also #23066 with a similar request.

[2018-08-25 13:54] felixfontein commented on #26093
!component +docker_container

[2018-08-25 14:52] jakegatsby opened #44681 "vmware_vm_facts module does not support duplicate VM/template names"
##### SUMMARY
vmware_vm_facts module does not support duplicate VM/template names

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_vm_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE
use vmware_vm_facts to gather all virtual machines

##### EXPECTED RESULTS
a complete "list" of VMs hosted in vsphere

##### ACTUAL

[2018-08-25 15:25] leegarrett opened #44682 "missing ansible.cfg documentation for "remote_tmp""
##### SUMMARY
The documentation for get_url has this excerpt for the tmp_path parameter: "When run on Ansible 2.5 or greater, path defaults to ansible's remote_tmp setting"

However, remote_tmp is not documented:
https://docs.ansible.com/ansible/latest/search.html?q=remote_tmp&check_keywords=yes&area=default#

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[

[2018-08-25 15:40] mnaser opened #44683 "systemd module cannot manage *running* services with unit file *not-found*"
##### SUMMARY
The `systemd` module does some checks and assumes that if the unit file status is set to `not-found`, it automatically marks that service as non-present.

An example of something silly is that when uninstalling `NetworkManager`, the unit files are removed, but the service continues to run.  You can stop it but the unit files don't exist.

##### ISSUE TYPE
 - Bug Report

##### COMPONE

[2018-08-25 17:28] flatterlight opened #44684 "add the possibility to add a context via sefcontext module"
##### SUMMARY

In the current form it is not possible to add a setype to a file/directory.
##### ISSUE TYPE
 - Feature Idea
add an option to add the in "setype" given context to the target
##### COMPONENT NAME

sefcontext
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes
##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

set both contexts
##### ACTUA

[2018-08-25 18:47] hulkk commented on #41934
I have the same issue with macOS.

[code]

[2018-08-25 20:59] nkakouros opened #44687 "Allow evaluation of variables from the contents of other variables"
##### SUMMARY
I am looking for sth like `eval()`.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Arch linux latest

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would like to see the task succeed.

##### ACTUAL RESULTS

The conditional fails complaining about quotes.

[code]

Another example where

[2018-08-25 23:52] kassiansun commented on #43679
Yes, this is a better solution, I'll close #44670 later.

BTW, the default dict should cover all of the current options, so we can unify the comparison logic, tune the default behavior precisely.

[2018-08-25 23:53] kassiansun commented on #44670
duplicate_of #43679

[2018-08-25 23:53] #44670 closed, assigned to nobody

[2018-08-26 07:49] hanbaobao2005 commented on #36199
met the issue too
OS: MAC High Sierra
Fix it by copy the telnet.py in https://github.com/ansible/ansible/pull/43609/files/ac393ff504e08d6c87f868fb647099270c859bfa

ansible 2.6.3
  config file = None
  configured module search path = ['/Users/kz/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /Users/kz/Documents/C/ansibleprj/venv/lib/python3.7/sit

[2018-08-26 08:56] FredrikWendt opened #44689 "ini_file module backup pattern breaks on vfat filesystem(s)"
##### SUMMARY
When using the `ini_file` module on a file on a vfat filesystem, with `backup=true`, ansible fails (fatal) with msg: `"Could not make backup of path_to_ini_file_that_is_changed to backup_file_path: [Errno 22]: invalid mode ('rb') or filename: backup_file_path"`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ini_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none:
[cod

[2018-08-26 11:38] robinro commented on #43385
@lemmy04 Can you give the full output in your case?
Based on the code I would expect the module to fail when zypper returns 102: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/zypper.py#L289-L312

The 103 code is caught in the module and automatically handled, i.e. the command is run twice.

[2018-08-26 11:57] felixfontein commented on #29588
The `docker_*` modules do *not* use the `docker` executable, but the [docker Python SDK](https://pypi.org/project/docker/). So there is no place where we could send these additional command line options to.

If you need something specific supported, create an issue for that (and/or a PR would be awesome :) ). If you don't want that or cannot wait, you have to use the `command` module and run `dock

[2018-08-26 12:05] #29588 closed, assigned to nobody

[2018-08-26 12:22] #41869 closed, assigned to justjais

[2018-08-26 12:26] #42565 closed, assigned to nobody

[2018-08-26 12:27] felixfontein commented on #42681
The problem seems to be some badly formatted YAML. In your reproduction code above, you write:
[code]
As you can see in the verbose output, this is interpreted as follows:
[code]
So instead of having a list (having one `dict` whose only key is `name`), you get a simple `dict` with a key `-name`.

Please change your task to:
[code]
(Note the space between `-` and `name`!)

notabug

[2018-08-26 12:30] felixfontein commented on #43177
Then I guess we should update the documentation, and maybe even add some code which detects something invalid passed (neither IPv4 or IPv6 address) and report an error.

[2018-08-26 12:31] felixfontein commented on #43293
resolved_by_pr #36889

close_me

[2018-08-26 12:33] felixfontein commented on #43304
@fRzzy Can you run `ansible-playbook` with `-vvv` (very verbose output) and also `-C --diff` (check mode, output differences)? and paste the results?

needs_info

[2018-08-26 12:33] #43293 closed, assigned to nobody

[2018-08-26 12:33] #42681 closed, assigned to nobody

[2018-08-26 12:41] felixfontein commented on #43679
Another related issue: #25974
Related PRs: #44311, #43679, #36638

[2018-08-26 12:49] felixfontein commented on #43679
Ok. The current idea (as discussed here and in #44670, with inspirations taken from potentially some more places). Note that the concrete names aren't fixed yet, so if you have better ideas, contribute! :)

1. There exists a `dict` which describes which module parameters are compared in which way to container properties. Valid comparsions are:
   - `ignore` (don't recreate/patch container if value

[2018-08-26 13:31] felixfontein commented on #19103
@kassiansun Apparently it is enough to edit your comment and remove "wontfix" and "close_me" from it.

[2018-08-26 14:46] felixfontein commented on #33622
@agowa338 I don't think `docker_container` should wait by default until the container becomes healthy. But there could be an option which forces `docker_container` to wait (when state is `started`).

[2018-08-26 15:48] felixfontein commented on #41509
The python Docker SDK passes the name straight on to the docker daemon, but the daemon doesn't find the image if `docker.io/` is there. Adding code to remove it seems to fix the problem.
I guess the `docker pull ...` command line client does some magic to work around this.

[2018-08-26 15:55] felixfontein commented on #41509
@ljesmin Can you check whether the patch in #44692 solves the problem for you?

[2018-08-26 16:24] felixfontein commented on #19193
In your case, the parameter is passed untouched to the Docker API. `docker_container` does not interpret it in any way. Unfortunately, in some cases (when only one `:` is specified instead of two), it needs to understand the parameters (at least in general), and there it only accepts the values mentioned in the documentation.

So more logic is required to correctly handle all permission specifiers

[2018-08-26 17:14] realtebo commented on #2303
Same problem

[code]
This task is executed against

[code]

with this vars automatically read from `host_vars/ansible1`

[code]

When ansible esecutes the `copy`, I got

[code]

Any suggestion? Of coursem the source folder exists, and the dest folder too, (I just created it  with low privileges)

[2018-08-26 17:38] Akasurde commented on #44662
@mfisher30 Thanks for this feature request. Could you please check this PR https://github.com/ansible/ansible/pull/37072 and let me know if it works for you ?

[2018-08-26 17:40] Akasurde commented on #44625
@SmruthiNaidu Thanks for reporting this issue. Could you please check if the host `ukmom-ifhyt01.ppppp.yy.xxxx.com` is resolvable or not ?

[code]

needs_info

[2018-08-26 17:42] Akasurde commented on #44681
@jakegatsby Thanks for reporting this issue. I will try to reproduce this issue and let you know.

[2018-08-26 17:48] #44304 closed, assigned to nobody

[2018-08-26 17:50] Akasurde commented on #38178
Closing this issue as PRs are merged. If issue persists, please feel free to re-open.

[2018-08-26 17:50] #38178 closed, assigned to nobody

[2018-08-26 18:01] felixfontein opened #44693 "Maintainers for docker_common"
##### SUMMARY
Currently, there is no maintainer for [lib/ansible/module_utils/docker_common.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/docker_common.py), a module which is used by all `docker_*` modules. The main side effects of this are that:
  1. if some PR modifies `docker_common.py` and some `docker_*` module, maintainers of other `docker_*` modules won't notice

[2018-08-26 18:09] linnil1 opened #44694 "[Junos] Diff of result not show"
##### SUMMARY

I found that even I change the configuration, the result show `changed: true` but didn't show up the `diff` as example said.

`module._diff` doesn't work as expect.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

plugins/netconf/junos.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Devices: Juniper EX3300, Juniper EX4300
Local OS: python:2.7.15

[2018-08-26 18:25] felixfontein commented on #21188
@bbayani @mrdaemon @ti-mo Can you check whether adding `image: ...` fixes the problem for you?

[2018-08-26 19:59] lemmy04 commented on #43385
please tell me what exactly you want me to do to provide that output. I'm preparing a VM for a test run right now that has openSUSE 42.3 on it, with no updates. There should be enough kernel updates pending for that one to get what you need.

[2018-08-26 20:12] ganeshrn commented on #44694
What command are you using to run playbook?
`diff` key will be present in `result` only when `--diff` command line option is added `ansible-playbook`.

needs_info

[2018-08-26 20:25] decentral1se opened #44695 "linode: linode-python only has py2 support"
##### SUMMARY
https://github.com/tjfontaine/linode-python/issues/30 shows that `linode-python` has no python 3 support. The Linode module documentation [requirements section](https://docs.ansible.com/ansible/2.6/modules/linode_module.html#requirements) only specifies `python >= 2.6`. Is anyone against me submitting a small documentation PR that states this up front?

##### ISSUE TYPE
 - Documentat

[2018-08-26 20:28] decentral1se opened #44696 "linode: no fields are marked as required"
##### SUMMARY

The [Linode parameters section](https://docs.ansible.com/ansible/2.6/modules/linode_module.html#parameters) has no `required` markers, so it is not clear what the required parameters are. Is anyone against submitting a PR to mark these in?

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

####

[2018-08-26 20:40] lwm commented on #36348
Heyo, I'm new to Ansible development but would like to help out on this since we're using Linode quite extensively at [Aptivate](https://aptivate.org) and automate with Ansible. I am not sure how to split this issue apart but if it could be broken down a bit more, I could start to try and pick things off. Also worth noting, I've been watching https://github.com/linode/linode_api4-python coming alo

[2018-08-26 20:44] lwm commented on #44696
Reviewing the module, I see it doesn't mark any parameter as required!

However, I do see https://github.com/ansible/ansible/issues/29785 raised.

[2018-08-26 20:54] lwm commented on #29785
I hope the OP of this is aware that they dropped the Linode API key into the report!

[2018-08-26 20:54] rwaweber commented on #36348
That sounds great!

Unfortunately, I don't really use linode much in my current role and it sounds like you're definitely in a more invested position to allow it to grow into a healthier module. I would recommend following a similar strategy as to what @Akasurde followed with the digitalocean module, breaking it out service by service and also adding some helper objects like [this](https://github.

[2018-08-26 21:08] lwm commented on #44696
OK, checking the documentation I see that different calls have different required parameters.

Following the lead of the https://docs.ansible.com/ansible/latest/modules/ecs_service_facts_module.html#notes documentation, I might just link out to the Linode documentation to help people find the required parameters: https://www.linode.com/api/linode.

[2018-08-26 22:00] lemmy04 commented on #43385
ok, so this is the state of that VM as seen by zypper before i run my playbook:
[code]
See the last line, "reboot required".

now I run this playbook:
http://eregion.kicks-ass.net/git/?p=updates.git;a=blob_plain;f=update-opensuse-v3.yml;hb=HEAD

the handler that should send me a notice about the required reboot is skipped, and when I inspect the task in AWX I see a "rc: 0" in there:
[code]

but th

[2018-08-26 22:35] lwm commented on #29785
Submitted https://github.com/ansible/ansible/pull/44699 for this :+1:

[2018-08-26 22:41] lwm commented on #44696
Submitted https://github.com/ansible/ansible/pull/44700 for this :+1:

[2018-08-26 22:49] lwm commented on #25842
Sooo, did https://github.com/ansible/ansible/pull/23874 fix this? I did see https://github.com/ansible/ansible/pull/23874#issuecomment-312538341, so looks like it.

[2018-08-26 22:53] MikeSpreitzer commented on #19193
@felixfontein I am not sure whether you are speaking of logic in the implementation or logic in the documentation.

It would be an improvement if only the documentation were upgraded to accurately correspond with the current implementation.

[2018-08-26 23:03] lwm commented on #22607
I can't say much about performance since I'm new to the inventory script and haven't used chube but I would hope we can make some improvement on this. I see that chube uses the deprecated API. We can use the new supported client for the v4 API though:

I assume this can be a straight switch in for the new code since the behaviour should stay the exact same.

[2018-08-26 23:05] lwm commented on #30059
I'll take a stab at this tomorrow.

[2018-08-26 23:07] lwm commented on #36348
Thanks @rwaweber!

I've submitted some changes (https://github.com/ansible/ansible/pull/44700 and https://github.com/ansible/ansible/pull/44699) and am a little better acquainted with the module now. I think I see a decent first step to start phasing out `linode-python` by trying to re-write the inventory script motivated by https://github.com/ansible/ansible/issues/22607.

I'll start taking a loo

[2018-08-27 00:13] kassiansun commented on #41509
`docker.io` prefix only appears on `CentOS`, `docker pull node` will appear as `docker.io/node` on `docker image`. Actually, `docker run node` still works, though the display name has `docker.io` prefix.

I think @ljesmin should use `ubuntu` across centos and ubuntu hosts, and it will works find, can you verify it?

[2018-08-27 00:27] rushins commented on #27220
hello team

i had the same issue getting error "the python NetApp-Lib module is required" i have installed all the
lxml, oslo_log and netapp_lib using pip also i have copied all NetApp modules in the ansible host /root/modules and adjusted "vi /etc/ansible/ansible.cfg" -->  Find the commented line for library default value --> Remove the # sign from start of the line. Edit it to library = /root/mo

[2018-08-27 01:23] zikalino opened #44702 "async_status fails when job output contains depreciation warning"
##### SUMMARY
I have been running several jobs (creating NICs), for some of them I couldn't obtain a status.

[code]

The jobs that I couldn't obtain a status contained following element:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
async_status

##### ANSIBLE VERSION
2.6
##### CONFIGURATION
##### OS / ENVIRONMENT
##### STEPS TO REPRODUCE
##### EXPECTED RESULTS
Job status should be

[2018-08-27 01:32] m3gat0nn4ge commented on #19124
This is still an issue... os_security_group_rule does not support the 'project' parameter.

Workaround:
Each project has a 'default' security group, to manipulate them currently you need a _member_ account in each project, you can then create custom clouds to auth to each project:
[code]

The os_security_group module has already been fixed accordingly:
https://github.com/ansible/ansible/commit/852

[2018-08-27 01:37] m3gat0nn4ge commented on #19124
Actually, just to add... the code would need to filter existing groups based on the current project as users with the admin role can see security groups from all projects resulting in the "duplicate group" error.

[2018-08-27 02:01] Fred-sun commented on #44416
@zikalino @nitzmahone Could you help take a look this issue? Thanks!

[2018-08-27 02:24] #25842 closed, assigned to nobody

[2018-08-27 02:56] shinux85 commented on #44606
works fine on ansible ansible 2.5.0.
@ansibot & @Akasurde : Thanks a lot

[2018-08-27 02:56] #44606 closed, assigned to Akasurde

[2018-08-27 05:03] notonlyvandalzzz commented on #44493
I've decided to make some tests on my home machines. Master is Ubuntu16.04LTS, remote - FreeBSD11. Installed ansible on master, added freebsd host to inventory, and viola:

10.254.254.2 | SUCCESS | rc=0 >>
root

[2018-08-27 05:05] notonlyvandalzzz commented on #44493
Next step was about parsing .cfg from that fresh install - no luck.
And final step of that round: added home freebsd machine to inventory at work:

10.0.3.187 | SUCCESS | rc=0 >>
halcyon
95.--.--.-- | SUCCESS | rc=0 >>
halcyon
10.0.3.196 | SUCCESS | rc=0 >>
halcyon

[2018-08-27 05:32] felixfontein commented on #41509
The `docker.io` prefix appears also in the (unmodified) `docker` Python SDK. I'm also getting
[code]
in the output. So it should also work when specifying `docker.io/ubuntu`.

It looks like me that this is a bug in the docker Python SDK itself. I'll try to cough up a minimal example for this and open a bug there. #44692 is a workaround so that it will hopefully work for now, even though `docker-py

[2018-08-27 05:32] felixfontein commented on #41509
(Actually, the bug seems not to be in `docker-py`, since it passes this value on to the docker daemon. So the bug is probably in the daemon.)

[2018-08-27 05:34] notonlyvandalzzz commented on #44493
What i see now: somehow only ansible master at work is affected. I've even tried to completely reinstall ansible and all its deps (with purge option), and still see same result

[2018-08-27 05:49] jborean93 commented on #44682
@leegarrett remote_tmp used to be a global configuration but was moved to be a shell specific config. You can find the documentation for the default shell plugin `sh `[here](https://docs.ansible.com/ansible/latest/plugins/shell/sh.html) and for Windows [here](https://docs.ansible.com/ansible/latest/plugins/shell/powershell.html).

[2018-08-27 05:49] #44682 closed, assigned to nobody

[2018-08-27 05:51] vbotka commented on #44493
You might want to run the playbook below and review the configuration if you can't create the system from scratch.

    - hosts: freebsd
      tasks:
        - name: List all vars
          vars:
            msg: |
            Module Variables ("vars"):
            {{ vars | to_nice_json }}
            Environment Variables ("environment"):
            {{ environment | to_nice_json }}

[2018-08-27 05:54] #44444 closed, assigned to nobody

[2018-08-27 06:07] vmjordan opened #44704 "vmware_dvs_portgroup - Modify Uplink LAG"
##### SUMMARY

Requesting to add a variable in that allows the user to specify what Uplink LAG you want the the DVS portgroup in. Currently it sets it to the first one in your list but if you have multiple you have to go in and manually go in and change it

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

vmware_dvs_portgroup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### O

[2018-08-27 06:18] #44508 closed, assigned to nobody

[2018-08-27 06:47] dermeister0 commented on #37441
`null_var is none`

[2018-08-27 06:48] notonlyvandalzzz commented on #44493
Just finished testing freshly installed Ubuntu 18.04LTS + ansible 2.6.3
It works!
Looks like my main ansible server is corrupted, but i don't have idea what could create that after having full reinstall ansible and its deps

[2018-08-27 07:42] fessmage opened #44708 ""locale_gen" module fails on CentOS 6 and CentOS 7"
##### SUMMARY

When using module "locale_gen" for machines with CentOS 6 or CentOS 7 get fail message "/etc/locale.gen and /var/lib/locales/supported.d/local are missing. Is the package locales installed ?"
But there is no such package for CentOS. I think this module can be worked for supporting RHEL, or there must be listing in module description with supported and not-supported OS.

##### ISSUE

[2018-08-27 09:30] kmmbvnr commented on #22568
^^ seems not solved

[2018-08-27 09:37] chewdevs commented on #44129
Yes, the user is already created because this error happens when the playbook is run a second time.

[2018-08-27 09:50] joltcan commented on #43884
Same here!

[code]

The host is running Debian 9, mounted homedir with NFS (nfs (rw,noatime,vers=3,rsize=524288,wsize=524288,namlen=255,hard,proto=tcp,timeo=600,retrans=2,sec=sys,mountaddr=nas,mountvers=3,mountport=30000,mountproto=udp,local_lock=none,addr=nas,_netdev), and my ansible host is MacOS 10.13.6. Same with MacOS 10.14 beta.

[2018-08-27 09:59] laurent-perrin opened #44710 "Cannot add several for a role with na_ontap_user_role"
##### SUMMARY
When using the `na_ontap_user_role` to create role, it's not possible to add several command to one role.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

na_ontap_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

OS: Ubuntu 18.04
Netapp: AFF200 with cdot 9.3

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run the playbook

[code]

##### EXPECTED RESULTS

It should b

[2018-08-27 10:14] Yajo commented on #24236
Indeed. I'd prefer this:

[code]

[2018-08-27 10:16] ericrousse commented on #44416
@Fred-sun , oh yeah, of course.
startvmnum = 1
vmcount = 1
application = teste
envName = lab
appID = 1

[2018-08-27 11:49] theo-bot opened #44711 "InfluxDB retetntion policy shard duration"
##### SUMMARY
The ability to configure the shard duration is missing from the influxdb_retention_policy module.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

influxdb_retention_module

##### ANSIBLE VERSION

``ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/users/v5a0m4t2/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules'

[2018-08-27 11:56] hanxinyu commented on #44251
@bcoca Thanks for your suggestion.

[2018-08-27 11:56] #44251 closed, assigned to nobody

[2018-08-27 12:41] Qalthos commented on #37758
As of #42847 this is now possible, using the syntax in the linked issue. This has also cleared up some issues with getting the timeout value to work properly in some cases.

[2018-08-27 12:41] #37758 closed, assigned to Qalthos

[2018-08-27 12:51] #43718 closed, assigned to nobody

[2018-08-27 13:17] felixfontein commented on #24236
@Yajo What would be the difference between `all` and `true`? But yes, that's even better!

[2018-08-27 13:52] jwitko commented on #44693
@felixfontein No issues on my end.  Please feel free to add me as a maintainer and I'll do my best.

[2018-08-27 14:00] Ploy-XIV commented on #44186
Using this workaround for creating users/home folders on macOS:

[code]

[2018-08-27 14:04] maxamillion commented on #22407
Resolved (as a side effect) in https://github.com/ansible/ansible/issues/22407

[2018-08-27 14:06] ericdost commented on #38146
I believe this is the same bug that I was hitting.  If `vault_password_file` is specified in `ansible.cfg`, You get an error trying to encrypt a string with a specific `vault-password-file`.

Here is the error: `ERROR! The vault-ids default,default are available to encrypt. Specify the vault-id to encrypt with --encrypt-vault-id`

Comment out `vault_password_file` and then it generates the string.

[2018-08-27 14:07] maxamillion commented on #27377
This is an upstream dnf api issue, it's been reported. https://bugzilla.redhat.com/show_bug.cgi?id=1620324

[2018-08-27 14:11] resmo commented on #31101
bot_skip

[2018-08-27 14:24] #44680 closed, assigned to nobody

[2018-08-27 14:45] samccann commented on #42057
@trishnaguha @ganeshrn @privateip - I'm not sure I can figure out what the full list of options that are/aren't idempotent for this module. Do any of you know already which are/aren't so I can update the module docs appropriately?  Thanks.

[2018-08-27 14:46] lwm commented on #22607
@maedox, FYI, the `linode.ini` has been configured for caching: https://github.com/ansible/ansible/blob/a8d4bf86421d151d8df7132e8e87d04b6662f45a/contrib/inventory/linode.ini. Hopefully that had some impact.

[2018-08-27 15:09] #44163 closed, assigned to nobody

[2018-08-27 15:27] Xalorous commented on #25149
@valentin-krasontovitsch @bcoca @gdahlm: In practice, iptables-save exports the current table to the screen.  A sysadmin can redirect the output into a text file then modify it, make a backup of it, distribute it, and reload it.  Yes, it is used to provide consistency across reboots, but the previous method for automating was to export the list using iptables -L, mangle it with sed/awk, and use th

[2018-08-27 15:40] #17266 closed, assigned to nobody

[2018-08-27 16:29] decentral1se opened #44721 "Linode: a new inventory plugin"
##### SUMMARY

I've been working on https://github.com/ansible/ansible/issues/22607 and also been chatting on #ansible and I've been told that any new inventory work should ideally be contained in a Linode inventory plugin! I've been reading https://docs.ansible.com/ansible/latest/plugins/inventory.html and it makes sense. So, I wanted to create this issue to check that this all OK to be accepted

[2018-08-27 16:31] lwm commented on #22607
Sorry for the noise on this ticket but a new plan is coming together on an inventory plugin which I think would go along way to solve performance issues if we could handle the grouping (which is done on the inventory script level and requires many more requests, therefore slowing down the whole script itself) on the inventory plugin level as I have described in https://github.com/ansible/ansible/i

[2018-08-27 16:32] maxamillion commented on #42384
@ckotte want to file a PR with that change? If not I can do it and offer you attribution credit. Either way, thanks. :)

[2018-08-27 16:32] maxamillion commented on #42384
needs_info

[2018-08-27 16:34] maxamillion commented on #26673
I'm unsure if this should be added to the dnf module or be a new module `dnf_copr` or similar name, much like `yum_repository` is held as a separate module in order to manage the addition/removal of content sources. Thoughts?

[2018-08-27 16:57] DBezemer commented on #41494
@Akasurde yes, I'm looking into a way to remove the clause altogether as an endless list of exceptions is against the common dev principles of Ansible and unlikely to get merged

[2018-08-27 16:59] gomker commented on #43637
@fabianvf  I am seeing this same error with Ansible 2.6.3 with `k8s` and `k8s_raw` ( I am attempting to migrate to the new `k8s` module)

[code]

Playbook Task

[code]

Environment build (Docker Image for AWX with custom venv)

[code]

Checking the `venv` shows OpenShift installed

[code]

[2018-08-27 17:00] theromis opened #44724 "GCE authentication"
[code]
[code]
trying to play with GCE playbook:
[code]
it fails on reading from input google response code, finally just created separate python file with the same credentials
which authorizes fine:
[code]

my questions:
1. Why Ansible passes `credentials_file` as `secret_key` to libcloud?
2. Is there the way to give ability Ansible read stdin during execution?
[code]

[2018-08-27 17:03] techfishio commented on #33131
@sivel tagging since you closed, thanks

[2018-08-27 17:08] rbvto opened #44725 "Archive module doesn't work with python 2.7 and LZMA package, asks for backport."
##### SUMMARY

I've tried using the xz archive extension from ansible and can't seem to make it work.
Whenever i try to execute the script ansible errors out with the message:
` lzma or backports.lzma is required when using xz format.`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux 4.4.0-124-

[2018-08-27 17:35] fabianvf commented on #44408
My guess would be that it is failing to build the proper url for whatever reason, and is not actually getting an API server response... How are you handling the credentials for the connection? I just tested it locally myself (loading from kubeconfig) and was unable to reproduce the issue.

[2018-08-27 17:36] fabianvf commented on #38722
!component k8s

[2018-08-27 17:38] ckotte commented on #42384
will do. give me a few minutes.

[2018-08-27 17:43] fabianvf commented on #43637
@gomker I think this is more of a virtualenv + ansible issue than a k8s module issue, it looks like Ansible isn't running the python in your virtual environment (that has openshift installed), but is instead running `/usr/bin/python` which has no access to the modules in your virtual environment. I think setting the ansible_python_interpreter to the path to the python binary for your virtual envir

[2018-08-27 17:49] jdoss commented on #26673
I think since copr is just a plugin for DNF, support should be added to the current ansible dnf module for all the functionality for adding and removing of repos.

[2018-08-27 18:09] userwithuid commented on #42357
I had to debug an issue like that as well (but I knew I created it myself :-) ). What pointed me in the right direction was to unhide the ImportError. I changed [the first "try" block in vault's init](https://github.com/ansible/ansible/blob/v2.6.3/lib/ansible/parsing/vault/__init__.py#L41),
from
[code]
to
[code]
Running
[code]
then gave me an actionable error.

[2018-08-27 18:38] #43492 closed, assigned to nobody

[2018-08-27 18:40] jvanderaa opened #44731 "asa_config pushes config when config already exists"
##### SUMMARY
When setting up asa_config with the parents of `DNS server-group DefaultDNS` (or any other server group), Ansible will still attempt to deploy the configuration, even though it is already configured.
[code]

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

asa_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS, ASA 9.1

##### STEPS

[2018-08-27 18:59] mnaser commented on #44432
This has been fixed by #44448

[2018-08-27 19:07] felixfontein commented on #19103
bot_broken

[2018-08-27 19:20] mzi77 commented on #32507
Confirmed, working for me on 2.6.3

[2018-08-27 20:20] vwbusguy commented on #44409
I can verify this as well - both for service and systemd modules.  (Fedora 28, Ansible 2.6.2, RHEL7 target hosts)

[2018-08-27 20:34] gomker commented on #43637
@fabianvf Thanks - that did work as all these tasks were local

```ansible_python_interpreter: '{{ansible_playbook_python}}' ```

Also using `openshift client (0.6.3)`  was needed , found a PR where you had found another issue related

[2018-08-27 20:44] bmike78 commented on #43007
@agowa338, a downgrade of Ansible to 2.5.x worked for me, for example:

# pip install ansible==2.5.8

[2018-08-27 22:14] ryancabrera opened #44738 "ConfigureRemotingForAnsible.ps1 compatibility with Windows CIS Hardened Image"
##### SUMMARY

When attempting to enable remoting for ansible on a CIS hardened image, the default policies prevent the ConfigureRemotingForAnsible.ps1 scripts from running without modifications to the policies. Specifically, it would be nice to modify this script to accommodate CIS hardened AMIs to allow for the enabling/disabling of necessary policies.

##### ISSUE TYPE
 - Feature Idea

##### CO

[2018-08-27 23:13] mfisher30 commented on #44662
@Akasurde Thanks for the follow up! After digging through it, it definitely looks like it would take care of my original concerns, and then some! Sorry, I searched ahead of time and didn't see this first time around.

Do you happen to know when this will get pulled in? And will it be pulled in with a later version of 2.6 or with the 2.7 RC?

[2018-08-27 23:22] in-in opened #44739 "assemble module: Adds an extra line if the delimiter parameter is set to "\n""
##### SUMMARY
I want to add a new line between my fragments. For this, I set the `delimiter` parameter to '/n"', but I got two lines between the fragments. In case I omit the `delimiter` parameter my fragments are combined without any delimiter

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

assemble
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Host: Li

[2018-08-27 23:44] nkakouros opened #44741 "Is it possible to have `until` with `loop`?"
##### SUMMARY

I have a `get_url` task that downloads a list of files. Sometimes the server is busy and a download might fail. I would like to use `until` to retry the download.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Arch linux

##### STEPS TO REPRODUCE

I would imagine sth like this:

[code]

But

[2018-08-27 23:53] atedja-em opened #44742 "Ansible is not publishing the docker_container ports if network_mode=host"
##### SUMMARY
Ansible (when executing using `ansible-playbook`) is not publishing the ports as specified when `network_mode: "host"`. Removing `network_mode: "host"` confirms the ports are mapped as expected.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 18.04 (docker container)

##### STEPS

[2018-08-27 23:57] atedja-em commented on #44742
Output of `docker version`:

[code]

[2018-08-28 00:34] kassiansun commented on #44742
`network: host` bind container's network on host, so there's no way to publish(remap) it.

notabug

[2018-08-28 00:37] kassiansun commented on #41509
So I don't think we should handle this case, just use `ubuntu` instead of `docker.io/ubuntu`.

[2018-08-28 00:40] #44742 closed, assigned to nobody

[2018-08-28 04:31] mattdc10 commented on #37991
@ganeshrn Hey.  I have IOS XE switches and I'm experiencing a similar issue.  Please let me know what tests you want me to run.

[2018-08-28 04:59] jasstionzyf opened #44748 "file link not work"
##### SUMMARY

simply want to create a symbol link for a path

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

module name: file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

os: Ubuntu 14.04.5 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

create symal link /opt/java for /opt/jdk1.8.0_71

##### ACTUAL RESULTS

[code]

[2018-08-28 05:26] mattdc10 opened #44751 "Can't remove non-existent DNS server from IOS Switch"
##### SUMMARY

Expected responses cause the task to fail.  In this specific case, removing a non-existent name server returns an error.

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host:  CentOS Linux release 7.4.1708 (Core)
Client:  Cisco IOS Software [Denali], Catalyst L3 Switch Softw

[2018-08-28 07:15] bhadra9999 commented on #11979
Hi All,
Build ec2 instances with attaching multiple tags names :-
  For example- I have launched one ec2 instance with tag name "websever1" the next builds of ec2 instances should start with tag name webserver2 , webserver3 .... automatically.

Note: No two ec2 instances have same tag name.

please help me

[2018-08-28 07:32] sdubrul commented on #44141
+1
I'm looking for a capability to manage a windows host after a jump as well.
This feature idea matches that capability request.
I'm not aware of any other how this could be accomplished with current Ansible versions.

[2018-08-28 08:02] Fred-sun commented on #43544
@zikalino Could you help update the issue status? Thanks a lot!

[2018-08-28 08:07] Fred-sun commented on #44416
@ericrousse I have tried, But I can't reproduced this error, Could you use '-vvv' parameter to retry and update the test log in the comment?
ansible-playbook ***.yml -vvv

[2018-08-28 08:09] Fred-sun commented on #43416
@zikalino @yuwzho Could you help take a look this issue? Thanks a lot!

[2018-08-28 08:27] Fred-sun commented on #43195
@zikalino Could you help update this issue? Thanks!

[2018-08-28 08:33] Fred-sun commented on #42769
@yungezz Could you help take a look this issue? Thanks!

[2018-08-28 08:52] Fred-sun commented on #42414
@yungezz Could you help update the issue status? Thanks!

[2018-08-28 09:01] yuwzho commented on #44416
@ericrousse Have you ever tried create the vm with a hard code name `vmtestelab0101`?

[2018-08-28 09:41] Yajo commented on #24236
Sorry, I wrote that from memory. The command works like this:

[code]

So, it should have similar options instead:

[code]

[2018-08-28 10:34] nicolaibaralmueller opened #44757 "win_domain_user CN name"
##### SUMMARY
Module win_domain_user has no option to edit CN (Full Name).

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_domain_user

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
User created with displayed full name (CN)

##### ACTUAL RESULTS
[code]
User is created. But CN name is same as username.

![image](https://user-images.githubusercont

[2018-08-28 10:48] gundalow commented on #42507
@linnil1 Thanks for confirming,

closing

[2018-08-28 10:48] #42507 closed, assigned to gundalow

[2018-08-28 11:03] #33578 closed, assigned to nobody

[2018-08-28 11:10] gundalow commented on #19103
bot_status

[2018-08-28 11:13] #44124 closed, assigned to nobody

[2018-08-28 11:13] gundalow commented on #44124
Fixed by https://github.com/ansible/ansible/pull/44666 which will be released in Ansible 2.7.0

[2018-08-28 11:18] nicholasrodriguez opened #44758 "vmware_host_vmnic_facts: Traceback"
##### SUMMARY
When I try to run vmware_host_vmnic_facts I get a traceback.

I've seen this bug reported by others #43745, I've applied the latest fixes but I get the same result

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/cloud/vmware/vmware_host_vmnic_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default config

##### OS / ENVIRONMENT
Ansible e

[2018-08-28 12:02] tirkarthi commented on #30489
`platform.linux_distribution` was removed in CPython master that will be released with Python 3.8 . Ref : https://bugs.python.org/issue28167

Thanks

[2018-08-28 12:10] GBT commented on #35223
@yungezz I already use cloud_environment in my tasks (check example in summary)

    - name: "Creation Container"
      azure_rm_storageblob:
      ...
        cloud_environment: "{{ cloud_environment }}"
      ...

It works good for Storage account creation, but it fails for container creation.

Here is below the error if it can help, pls note the host cqcnppsatest.blob.core.windows.net when clou

[2018-08-28 12:12] Qalthos commented on #37518
resolved_by_pr 37528

[2018-08-28 12:14] seuf commented on #44298
Hi @MichalPloski I'm waiting for my pull requests https://github.com/ansible/ansible/pull/40402 to be merged. Then I will add the new ds_type cloudwatch.

[2018-08-28 12:20] #37518 closed, assigned to nobody

[2018-08-28 12:33] natebc-duke commented on #43246
We're seeing this as well on our Ubuntu 14 systems with ansible 2.6.2

[2018-08-28 12:44] jctanner commented on #19103
bot_status

[2018-08-28 12:53] jctanner commented on #19103
sigh.

[2018-08-28 12:53] jctanner commented on #19103
bot_status

[2018-08-28 13:23] tafiela opened #44761 "Ansible issues : problem confirming the ssl certificate"
Pip version: pip 9.0.1
* Python version: Python/2.7
* Operating system: MacOS Sierra V 10.12.16

I am trying to install ansible, however, it seems like i am not able to by pass this ssl certificate issue. i have read few posts asking to upgrade pip, sudo install, .. etc

nothing is working. Any thoughts or help would be much appreciated please.

`15:53:39` $ pip install --upgrade pip
Could not fet

[2018-08-28 13:36] Akasurde commented on #44662
@mfisher30 We will try to merge this is 2.7 release cycle if you can add your testing report and feedback on the PR. Thanks.

[2018-08-28 13:41] Akasurde commented on #27220
@rushins Could you please open a new issue with environment details as this issue is closed ? Thanks,

[2018-08-28 13:51] webknjaz commented on #44748
Are you sure `/opt` directory exists prior to running this task? If so, it might be a bug, otherwise, it's expected behavior: you cannot create a file in a non-existing path.
[code]

-label needs_triage

[2018-08-28 13:53] frisbee23 commented on #42567
ahoy @lumatijev .. unfortunatly i found a bug. i can see in the log that a task with module debug is logged, but in reality it was another module- see below.

i have changed the logformat (to see below), but i think this shouldn't mess it up. i think it's a order issue when these members are set....

self.log_format = 'TASK [%(task)s] %(timestamp)s *****\\n%(category)s: %(module)s => %(data)s\\n\\

[2018-08-28 14:12] ericrousse commented on #44416
@Fred-sun @yuwzho oups, my bad. vmtestelab0101 is only 14 characters and doesn't trigger the error because its lower than 15 characters. My real initial vm name had a typo, and was vmvmtestelab0101 and this triggers the error of more than 15 characters and in the error report you will see the 0 replaced by strings of asterisk.

[2018-08-28 14:18] dagwieers commented on #40510
This is a pretty important issue to fix. On the other hand, checking if the file is open is not a good fix for this, as there's a time between the check and actually performing the action, a good solution is one that is atomic in nature. This really ought to go into Copy-Item rather than a lesser workaround IMO.

[2018-08-28 14:19] #44761 closed, assigned to nobody

[2018-08-28 14:30] mikewiebe commented on #43223
Hi John

I realize now that Ansible is incorrectly detecting our native bash environment as systemd.  It should be using init d instead.

This actually worked in 2.6  when I set it to ‘initd’ which is correct for our native bash environment.

The strange thing is when I tested it on 2.5 is also incorrectly detects the environment as systemd yet succeeds in starting the service.

I get the followin

[2018-08-28 14:30] mikewiebe commented on #43223
@gundalow

I realize now that Ansible is incorrectly detecting our native bash environment as systemd.  It should be using init d instead.

This actually worked in 2.6  when I set it to ‘initd’ which is correct for our native bash environment.

The strange thing is when I tested it on 2.5 is also incorrectly detects the environment as systemd yet succeeds in starting the service.

I get the follow

[2018-08-28 14:37] jxn opened #44767 "AWS Waf-Regional support in waf modules"
##### SUMMARY
waf modules do not currently support waf-regional (see boto: https://boto3.readthedocs.io/en/latest/reference/services/waf-regional.html).

Additionally, It's also a bit confusing that waf modules usually take a "region" parameter which is the connection region for aws.  It also might be worth clarifying the global description of the region parameter for AWS modules to note that this

[2018-08-28 14:38] IPvSean opened #44768 "twilio module can't take a list of multiple to_number fields"
##### SUMMARY
If you have a list of numbers like this->

[code]

It will fail like this->

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/modules/twilio_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS 10.13.6

##### STEPS TO REPRODUCE

- Get a working twilio account
- Make sure you have a num

[2018-08-28 15:04] maxamillion commented on #42384
@ckotte yes, you can run Ansible from your local git clone https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-from-source

[2018-08-28 15:05] maxamillion commented on #42384
@ckotte I see the patch you linked but I'm not finding a pull request to the Ansible repo, did you open one?

[2018-08-28 15:07] bcoca commented on #42384
closed via #44730

[2018-08-28 15:07] #42384 closed, assigned to nobody

[2018-08-28 15:19] webknjaz commented on #44741
I've just tried this locally (just replaced files with real urls) and it works for me:
[code]

_Then_, I tried it disconnected from the Internet and got this:
[code]

[2018-08-28 15:19] bcoca commented on #31375
use `no_log:  True` on the task, there is no way for the lookup or set_fact to know each other's context, the user has to tell Ansible "do not display this"

[2018-08-28 15:20] #31375 closed, assigned to nobody

[2018-08-28 15:30] bcoca commented on #33853
related #43795

[2018-08-28 15:31] ryansb commented on #44647
In this case, the issue appears to be the indentation of the `profile:` argument.

[code]

Should be

[code]
Please try with fixed indentation and reopen if that does not resolve your issue.

[2018-08-28 15:31] #44647 closed, assigned to nobody

[2018-08-28 15:32] webknjaz commented on #44741
So I've finally realized that you try to access a list of results, but `until` works with every separate task run. This works:
[code]

Under each `loop`, the `until` is bound to the task within/inside that loop, not to the set of results after loop evaluation. This is what you're supposed to do:
[code]

It'll retry each of downloads separately.

[2018-08-28 15:46] mohammad-dabour opened #44771 "gcp_compute_instance_template.py email type is boolean instead of str"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

/usr/local/lib/python2.7/site-packages/ansible/modules/cloud/google/gcp_compute_instance_template.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

After fixing the issue on my local the result was generating a GCP template with service accoun

[2018-08-28 15:48] mohammad-dabour commented on #44771
https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/cloud/google/gcp_compute_instance_template.py#L835

[2018-08-28 15:48] bcoca commented on #30929
@rouge8 so the issue here is that `all` is the default, but once you add `!facter` it does not include `all`, only `min` is implied so `=!facter` is the same as `=min,!facter` not `=all,~facter` as you expected.

i'm not sure this is wrong but we might want to be clearer in docs about how this works.

[2018-08-28 15:50] ryansb commented on #44771
cc/ @rambleraptor

[2018-08-28 15:57] nicholasrodriguez opened #44772 "vmware_host: Module exits if re-run when host is not in a cluster and just in a datacenter"
##### SUMMARY
If a ESXi host is configured to be just in a datacenter in the vCenter inventory and not a cluster the module will add the ESXi host with a status of ok.  When the module is re-run it exits rather than returns a state of Ok.

When preparing additional ESXi hosts we need to do the configuration outside of a production cluster at the datacenter level. Once configured then it is moved i

[2018-08-28 16:10] webknjaz commented on #44741
Related proposal issue: https://github.com/ansible/proposals/issues/140

[2018-08-28 16:33] gundalow commented on #44556
Based on internal discussion
* We will no longer use GitHub Milestones
* We will use GitHub projects
* A project for 2.8 will be created.
* It was viewed it's too late in the cycle to bother with a 2.7 project
* All open issues & PRs against existing milestones will be reviewed and moved into 2.8project or general backlog
* New project boards will have a "needs review", before moving into stretch,

[2018-08-28 16:39] samdoran commented on #44658
Please fill out the form rather than submitting a screenshot. The issue cannot be properly triaged and we cannot easily use your reproducing code (without retyping it all by hand).

Ansible cannot work properly with command specific `sudo` settings because Ansible executes a temp file or a sudoed shell on the remote node. See [this discussion](https://groups.google.com/d/msg/ansible-project/TZoUZU

[2018-08-28 16:39] #44658 closed, assigned to nobody

[2018-08-28 16:45] gundalow commented on #43223
Hi, which of these binaries exist in these paths:

[code]

[2018-08-28 16:45] dagwieers opened #44773 "Pure action plugins accept every parameter without error"
##### SUMMARY
As explained in #25424, almost all pure action plugins take whatever parameter it needs, but doesn't report back unsupported parameters. As a result, mis-indented task-directives end up being ignored.

Affected plugins are:
- add_host *-- Plugin accepts any parameter to become a host variable*
- assert
- debug *-- Already using VALID_ARGS*
- fail
- group_by
- include_vars *-- Impleme

[2018-08-28 16:48] mikewiebe commented on #43223
Since it’s initd it uses the ‘service’ binary.

From: github <notifications@github.com<mailto:notifications@github.com>>
Reply-To: ansible/ansible <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, August 28, 2018 at 12:45 PM
To: ansible/ansible <ansible@noreply.github.com<mailto:ansible@noreply.github.com>>
Cc: mwiebe <mwiebe@cisco.com<mailto:mwiebe@cisco.com>>, Mention <menti

[2018-08-28 17:25] rambleraptor commented on #44771
Thanks a lot for bringing this to my attention! This bug has been fixed and checked into devel (https://github.com/ansible/ansible/blob/ed22efb2a69308c0f06f8ed4007cb4ec377778fb/lib/ansible/modules/cloud/google/gcp_compute_instance_template.py#L864). It'll be available in 2.7.

[2018-08-28 17:29] bcoca commented on #44773
#37611

[2018-08-28 17:30] njohnsonmortenson commented on #38679
I'm also running into this issue currently. Are we aware of an ETA for this?

[2018-08-28 17:47] bpleines opened #44780 "nios_zone could have a field to specify a Name Server Group for Grid membership"
##### SUMMARY

[Name Server Groups](https://docs.infoblox.com/display/NAG8/About+Name+Server+Groups) are an alternative to manually managing Grid membership for zones. You specify a name server group for automatically assigning a group of DNS (name) servers to DNS zone(s). In our example, we tag one system as Primary.  You can actually have a mix - all Primaries, some Primaries and some Secondarie

[2018-08-28 18:03] sivel commented on #44687
What you want is the following:

[code]

You originally just set `t` to the literal value `r`, not to the templated expansion of the value `r`.

As for your 2nd, that is a different thing, and we do not allow for keys to be templated, so `"{{ item }}": "{{ eval('__' + item) }}"` would create a literal variable called `{{ item }}`.

However, do note that there is a lookup designed for similar purpo

[2018-08-28 18:03] #44687 closed, assigned to nobody

[2018-08-28 18:10] ckotte commented on #42384
@maxamillion thanks

[2018-08-28 18:12] sivel commented on #44526
Your syntax for `skip_missing` is incorrect.  You must pass it as a dictionary:

[code]

Otherwise, the `skip_missing` keyword argument is silently ignored.

The documentation is a little unclear, so I have submitted a PR to fix the docs: https://github.com/ansible/ansible/pull/44782

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2018-08-28 18:12] #44526 closed, assigned to nobody

[2018-08-28 18:19] bcoca commented on #25384
-1  from me as any `X_from` option from outside the role as it kind of defeats the purpose of roles

[2018-08-28 18:29] sivel commented on #44603
This is indeed expected.  A configuration option was added to influence this: https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-private-role-vars

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-28 18:29] #44603 closed, assigned to nobody

[2018-08-28 18:30] sivel commented on #25384
-1 from me too

[2018-08-28 18:57] espressobeanies commented on #36410
Is this being worked on at all? I know it's been about 7 months or so...

[2018-08-28 19:15] dagwieers commented on #44773
Now I remember why I think it was a bad idea to ask people to add "Fixes #<pr>" to a commit message...

[2018-08-28 19:27] felixfontein commented on #34320
There's a PR for this (#38063), which seems to be stuck. Also, there's disagreement how the interface for this should look like.

[2018-08-28 19:31] dec21raj opened #44786 "Ansible didn't give error message while script was executed properly"
Hi,

I have started using ansible recently for our deployment purpose.

We have seen many cases where we are executing script through ansible, it didn't execute it properly and gave success result. We executed same task playbook for all the machines but somewhere it worked as expected and somewhere it didn't.

We ran it for ~150 in parallel with 20 forks.( These numbers can vary).

Is this somethi

[2018-08-28 19:33] dec21raj commented on #44786
---
- hosts: all
  become: yes
  gather_facts: no

  vars:
     num_hosts: "{{ ansible_play_hosts_all | length }}"

  vars_prompt:
    - name: target_host_confirmation
      prompt: |
          "Please confirm if target host list is correct(true/false)?"
          "{{ ansible_play_hosts_all | list | to_nice_json }}"
      default: false
      private: no

  tasks:
    - name: rollback
      shell:

[2018-08-28 19:34] bmike78 commented on #43007
@agowa338, @thonacker @precurse, @jainnikhil30, I have some more updates here... some changes I made did allow me to create records, but failed to delete properly when using "absent" or deliver on being idempotent.  I did also specify the version of shade to shade==1.21.0.  What I found was that when "filtering" with the openstacksdk, it just did not work like shade used to, so I suspect some kind

[2018-08-28 19:39] dec21raj commented on #44786
Also to update you, when I run it next time, it works fine, without any issues. So its like a inconsistent behavior noticed.

[2018-08-28 19:40] roostercactus opened #44787 "vmware facts about distributed port groups"
##### SUMMARY
It would be nice if ansible could get a list of all distributed port groups and return those values as facts.  Our VLANs are distributed port groups on distributed vswitches and right now I can't see any way to get a list of port groups.

##### ISSUE TYPE
There's already a module for adding/removing dvs_portgroups (vmware_dvs_portgroup).  It would be nice if we could get the correspo

[2018-08-28 19:55] mrhillsman commented on #41384
ping @emonty

[2018-08-28 20:08] bcoca commented on #44773
i tend to add it to the 'final'  version or just into ticket summary

[2018-08-28 20:12] jctanner commented on #38679
@njohnsonmortenson ETA would be faster if you tested and collaborated on https://github.com/ansible/ansible/pull/39285

[2018-08-28 20:12] rbobrowicz opened #44788 "ec2_group cross account ingress rules are broken"
##### SUMMARY
ec2_group module introduced at least two regressions when dealing with cross account ingress rules.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
INVENTORY_ENABLED(/etc/ansible/ansible.cfg) = ['aws_ec2', 'host_list', 'ini', 'yaml', 'constructed']

##### OS / ENVIRO

[2018-08-28 20:23] #44786 closed, assigned to nobody

[2018-08-28 20:34] srjayep opened #44791 "ovirt_vms RHEV kernel_params doesn't seem to work"
#####  ISSUE TYPE
[code]
##### SUMMARY
I am using ovirt_vms module to create a template from ISO. I am able to attach cd but not able to populate kernel_parameters at boot time, stopping from unattended installation from ISO. Any help is greatly appreciated.

I have tried setting kernel parameters in both ways  , as below. Not seem to work.

kernel_params:  initrd=initrd.img inst.stage2=cdrom inst

[2018-08-28 20:35] felixfontein commented on #44679
@pilou- Since you mentioned `docker_container` integration tests in #42306: did you do something in that direction already, or plan to do something in the near future?

[2018-08-28 21:31] #43446 closed, assigned to nobody

[2018-08-28 22:10] #41797 closed, assigned to nobody

[2018-08-28 22:16] srjayep commented on #44791
Updated component name.

[2018-08-28 22:33] nirik commented on #44402
We have a downstream report in fedora of this same thing:

https://bugzilla.redhat.com/show_bug.cgi?id=1613525

Definitely looks like a regression somewhere, there's a example/duplicator on the downstream report.

[2018-08-28 23:04] bcoca commented on #43865
in this case its a child fork that is blocked, but once in that state we cannot kill it

[2018-08-28 23:41] jborean93 commented on #43839
@jvidals thanks for the bug report, I've raised a PR that should fix this https://github.com/ansible/ansible/pull/44797. It also contains a test to stop this regressing in the future.

[2018-08-29 00:12] #43839 closed, assigned to nobody

[2018-08-29 02:05] Fred-sun commented on #44416
@ericrousse Thanks for you try and update, Do you have any other question, if not, this issue can be closed. Thanks!

[2018-08-29 02:26] yungezz commented on #35223
@GBT thanks for the info. After look at code, found a fix in PR #44802 . Could you pls try the fix in Azure China cloud to validate it? Thanks.

[2018-08-29 03:31] #39903 closed, assigned to nobody

[2018-08-29 03:39] yuwzho commented on #42414
Adding easyfix label to attract user who is interested  in this issue to do a fix.  Removing the alias option and take care of the related documentation as well.

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/azure/azure_rm_keyvaultsecret.py#L103

[2018-08-29 04:44] sujiar37 opened #44806 "Create PostgreSQL server from Geo redundant backup"
##### SUMMARY
azure_rm_postgresqlserver doesn't have an option to set source whether it is a new / from a backup which can use it for creating a PostgreSQL server from Geo redundant backup. However, the azure portal have the capability to perform this action where user can opt Source as Blank / Backup.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_postgresqlserver

##### ANSIBLE

[2018-08-29 04:56] yuwzho commented on #44806
@zikalino

[2018-08-29 05:28] felixfontein commented on #44669
For #18983: how about not allowing to specify `log_options` when `log_driver` is not specified? If the container hasn't been present before, we can't use `log_options` anyway, so I think it is acceptable to make this an error.

[2018-08-29 05:29] felixfontein commented on #44669
(Or at least print a warning that it is ignored.)

[2018-08-29 05:32] felixfontein commented on #44669
The problem with `restart_retries` is similar to the `log_options` one: it is only used if `restart_policy` is given:
[code]

[2018-08-29 05:35] Fred-sun commented on #26195
@yungezz Could you help update the issue status? Thanks!

[2018-08-29 05:49] felixfontein commented on #44669
`auto_remove` (and two related) are fixed in the first commit of #44808.

[2018-08-29 06:00] Fred-sun commented on #28392
@zikalino Could you help update the issue status?  Thanks!

[2018-08-29 06:12] Fred-sun commented on #30392
@nitzmahone It seem not a bug according by @yuwzho advice. Could you help recheck this issue? If you have other concerns, Please share to us. Thanks!

[2018-08-29 07:27] Fred-sun commented on #31867
@zikalino Could you help update the status of the issue and push to next step forward?

[2018-08-29 07:30] eglipeter opened #44809 "Manage Printers with CUPS"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

Possiblilty to manage printers within the [CUPS system](https://www.cups.org/)

##### OS / ENVIRONMENT

Linux, Mac OS, any UNIX

##### SUMMARY

I have to manage the network printers and local printers for many Linux and macOS stations . It would be nice if there is a Ansible module which manages printers. One would need to possibility to add

[2018-08-29 07:43] Fred-sun commented on #34047
@nitzmahone Thanks for the contribution, Could you give more info about this issue? We need more info to verify this issue. Thanks!

[2018-08-29 07:44] GBT commented on #35223
@yungezz I validated it and my test passed :-) thank you

I updated the PR for my version. Please find it below :

[code]

[2018-08-29 07:50] yungezz commented on #35223
@GBT thanks for validating. The fix  will be in ansible 2.7 release. And we'll see what's next ansible 2.6 minor release train, and backport it there.

[2018-08-29 08:57] zhushida775 commented on #44173
ansible

[2018-08-29 09:02] thorus90 commented on #14270
Affects 2.6 as well:

 # ansible --version
ansible 2.6.3

# ansible-playbook -i hosts play.yml
PLAY [test] **************************************************************************************************************************************************

TASK [Gathering Facts] **************************************************************************************************************************

[2018-08-29 09:11] Fred-sun commented on #37158
@kwoodson Thanks for the contribution, if you want create VM image from virtual machine, don't need to generalize and allocate, you can use azure_rm_image module create image . just like follow YML. Could you try it( I have try and get successful result)? thanks!
You also can upgrade your ansible version to latest (sudo pip install ansible[auzre] --upgrade)
[code]

[2018-08-29 09:20] lwm commented on #44721
OK, I've been unstuck by chatting on IRC and this email thread on ansible-devel:

Will get moving on submitting something!

[2018-08-29 09:34] tbouvet commented on #44693
I agree with @felixfontein
You can add me as maintainer.

[2018-08-29 09:52] Fred-sun commented on #38561
@yungezz Could you help update the issue status? Thanks a lot!

[2018-08-29 09:53] felixfontein commented on #44693
@jwitko @tbouvet Thanks!

@kassiansun Do you also want to be on the list?

And anyone else? In particularly pinging @agronholm, @chouseknecht, @dariko, @keitwb who are active on Github in general. I'll wait until the end of this week, and then create a PR with everyone who answered so far (and `$team_ansible`). If anyone wants to get added later, that should be no problem :)

[2018-08-29 10:25] pilou- commented on #38536
@kleppy with which Ansible version ?

This issue has been fixed in 2.6 by #36513. The bug is still in 2.5, @maxamillion can we backport it ?

[2018-08-29 10:26] andyeff opened #44815 "azure_rm_storageblob cannot find source files when run as part of a role"
##### SUMMARY

When using a role that contains azure_rm_storageblob tasks that upload a file to Azure, with the source file held inside the roles "files" directory, ansible-playbook returns the error 'The source path must be a file' and doesn't appear to be looking inside the roles/<role>/files directory.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_storageblob
##### ANSIBLE VERS

[2018-08-29 10:35] andyeff commented on #44815
As an aside, lines 177 and 321 of azure_rm_storageblob.py also have a typo in last_modified, possible to role the typo fix up as part of this issue too?

[2018-08-29 10:40] #43176 closed, assigned to nobody

[2018-08-29 11:15] mgsergio opened #44819 "Please add docs for with_first_found."
##### SUMMARY

There is no description of with_first_found in the docs. It's mentioned several times
but without any explanations.

##### ISSUE TYPE
 - Documentation Report

[2018-08-29 11:57] michalmedvecky commented on #38426
Even the first example from docs does not work for this module 🙄. Ansible 2.6.1.

[2018-08-29 12:14] jesusch commented on #44404
Also explicit specifing the enable_plugins sort order does not do the trick
see:

[code]

[2018-08-29 12:26] michalmedvecky commented on #38426
So I found out that the problem is not completely on Ansible side but rather on Consul's:

Look at my sandbox rules:

[code]

The problem of the first ACL is that there's a typo in having `Policy` instead of `policy`.

[2018-08-29 12:28] gundalow commented on #28161
NetApp Team, does this issue still exist?

[2018-08-29 12:28] flazzarini opened #44822 "import_tasks of non existing fail raises Shared connection to <host> closed. Error"
##### SUMMARY
When executing a playbook/role which involves ``import_tasks`` statment which are not explicitly stated as ``static: yes``, ansible 2.6.3 reports a fatal ssh error stating ``"module_stderr": "Shared connection to localhost closed.\r\n"``. The message might trick users into thinking that something is off with the SSH Connection when there is not.

When using ``static: yes`` on ``impor

[2018-08-29 12:28] gundalow commented on #28166
NetApp Team, does this issue still exist?

[2018-08-29 12:28] #33292 closed, assigned to nobody

[2018-08-29 12:29] #33873 closed, assigned to nobody

[2018-08-29 12:30] gundalow commented on #38798
@shanumondal `na_cdot_volume` has been deprecated, I believe `na_ontap_volume` handles this correctly.

Therefore closing. If you find this is still broken in `na_ontap_volume` please raise a new issue against `na_ontap_volume`

Thanks

[2018-08-29 12:30] #38798 closed, assigned to nobody

[2018-08-29 12:35] gundalow commented on #39481
@eric-becker the new `na_elementsw_snapshot_schedule` module has been merged into `devel`, and will be released in Ansible 2.7.0.

@carchi8py Can we close this issue?

[2018-08-29 12:36] gundalow commented on #42932
NetApp Team: What's the next steps for this issue?

[2018-08-29 12:38] gundalow commented on #44129
Ansible modules should be safe to run a second and should report no-change, if that's not the case then this is a bug.

[2018-08-29 12:38] erjohnso commented on #44538
See https://github.com/ansible/ansible/pull/44602#issuecomment-416936953

[2018-08-29 12:44] fasher opened #44823 "maven_artifact module does not provide clear error message when required parameter dest is missing."
##### SUMMARY

maven_artifact module requires a dest parameter.
when that parameter is missing, I would a expect a clear error message.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

maven_artifact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Failure with a clean error message such as:
maven_artifa

[2018-08-29 12:52] ganto opened #44824 "'ignore_errors: {{ ansible_check_mode }}' is always true on exceptions"
##### SUMMARY
When having a task which uses `ignore_errors: {{ ansible_check_mode }}` and the task results in an exception the error is always(!) ignored. This is especially bad when running in non-check mode.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible_check_mode

##### ANSIBLE VERSION
[code]
Same issue with `2.6.3`, `2.5.8`, `2.4.6.0`

##### CONFIGURATION
[code]

##### OS / ENV

[2018-08-29 12:59] ganto commented on #44824
If I set `no` or `false` as the `ignore_errors` argument, then the playbook properly fails. It seems that the exception leaves a wrong value in `ansible_check_mode`.

[2018-08-29 13:12] AlanCoding commented on #31141
This is no longer a bug, resolved with @bcoca's enhancements to `ansible-inventory` vault secrets pass-through.

proof

[code]

[2018-08-29 13:12] #31141 closed, assigned to alikins, bcoca

[2018-08-29 13:15] cailen opened #44827 "Trying to change SSH user in middle of playbook not working as expected"
##### SUMMARY
I am running a playbook that connects as an old admin user, creating a new user, and then trying to switch to that user so it can remove the old user (basically updating the users we have on our systems). What I am running into is that no matter what variables I set, or using remote_user for the block, the SSH connection is still using the old user. My expectation based on remote_use

[2018-08-29 13:15] Lunik opened #44828 "Allow to provide openssl config to openssl_csr"
##### SUMMARY

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

openssl_csr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04, Centos 7

##### PROPOSED FEATURE

Allow to provide an openssl config file to the `openssl_csr`.

[code]

##### EXPECTED RESULTS

The module should parse the config file and autofill is attributes

[2018-08-29 13:20] rcarrillocruz commented on #44751
Can you please try out ios_system?

ios_config is a module to send generic configs, we don't have an easy way disambiguate when an Error returned from CLI is legit or not.
OTOH, if you want to still use ios_config, you can use ignore_errors: yes on the task so the play does not fail.

[2018-08-29 13:22] AlanCoding opened #44829 "JSON option for ansible-vault encrypt_string"
##### SUMMARY
An additional step is necessary to produce encrypted variables in either JSON or universally-readable YAML. This could be eliminated with a `--json` option to `ansible-vault encrypt_string` CLI.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-vault encrypt_string

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
Mac OS, local actions

[2018-08-29 13:37] #43979 closed, assigned to samccann

[2018-08-29 13:39] shrirang12 opened #44831 "show inventory not working using iosxr_command module"
##### SUMMARY
<show inventory not working using iosxr_command module>

##### ISSUE TYPE
 - "show inventory" not working using iosxr_command module using ansible for ASR9922 and 9010

##### COMPONENT NAME
<iosxr_command>

##### ANSIBLE VERSION
<root@shri-VirtualBox:~# ansible --version
ansible 2.6.0
  config file = /root/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/module

[2018-08-29 13:51] maxamillion commented on #44402
I'm unable to reproduce with any rpm URL I've tried and the one provided in that BZ is unreachable for me via `curl` so I'm pretty sure it's not related. If someone has a publicly accessible url that is reproducing this issue I'd be happy to fix it.

[2018-08-29 14:06] loop-evgeny commented on #22417
This makes it difficult to re-use roles and forces me to specify default values in multiple places. I've only started using Ansible recently and already run into this multiple times. Most recent use case:

Role **active_user** creates a Linux user account and sets its home directory mode. Role **app_service** creates a systemd service and a user account for it to run under, calling the **active_us

[2018-08-29 14:15] AlanCoding commented on #44829
!component c:cli/vault

[2018-08-29 14:28] nicholasrodriguez commented on #44758
Apologies but this is working now with the patched version. I've tried it across several ESXi hosts both directly and via vCenter.

[2018-08-29 14:31] ericdost commented on #43731
I am seeing this issue on `bigip_facts`, `bigip_ucs_fetch` & `aci_tenant`

**Error:**
[code]

[2018-08-29 14:40] helldorado commented on #28517
@d3pre5s not implemented yet if `clone is not None`.  But since it's just a slight change to make, I'm going to make a fix tonight or tomorrow.

[2018-08-29 14:46] dumblerod opened #44838 "iam_cert module does not seem to be idempotent"
##### SUMMARY
I am using the iam_cert module to upload a certificate to be used by an application load balancer.  The first time I upload the cert information, it works just fine.  The second time it runs, I get this error message: "A cert with the name mycertname already exists and has a different certificate body associated with it. Certificates cannot have the same name."  I have validated the

[2018-08-29 14:51] dagwieers commented on #43430
There are two end-users (readers) for the VMware documentation.
- Users managing vCenter infrastructure
- Users of vCenter for deploying systems
Both have different needs and different concerns.

[2018-08-29 14:55] mohag commented on #39155
The main use case I see is Ubuntu Core, which only has `snap` as package manager. (The base install does at least include Python (3))

[2018-08-29 15:01] ericdost opened #44839 "Unable to run playbook without vault"
##### SUMMARY

When attempting to run a playbook without any encrypted strings, I get an error: `"msg": "Attempting to decrypt but no vault secrets found"`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Ansible Vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
DEFAULT_LOCAL_TMP(/etc/ansible/ansible.cfg) = /tmp/.ansible/tmp/ansible-local-29163Yo

[2018-08-29 15:08] carchi8py commented on #42932
We are looking into fixing this one, but i won't be ready for 2.7 freeze date.

[2018-08-29 15:09] carchi8py commented on #39481
@gundalow yes this can be closed.

[2018-08-29 15:11] naioja opened #44840 "sensu_silence.py needs to support API authentication"
##### SUMMARY

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

sensu_silence
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect to have a way to use authentication for sensu API
##### ACTUAL RESULTS

FAILED! => {"changed": false, "msg": "Failed to silence client:server1.example.dev. Reason:

[2018-08-29 15:15] carchi8py commented on #44129
We are looking into getting a fix for this (but it won't be ready for 2.7 freeze date).

[2018-08-29 15:39] maxamillion commented on #44402
needs_info

[2018-08-29 15:43] xmadsen opened #44845 "unarchive module "could not find or access" a symlink to a .tar archive"
##### SUMMARY

When I use the unarchive module where the src is a symlink to a real archive, the task fails saying "Could not find or access '/path/to/symlink.tar'".
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from Kubuntu 18.04 LTS, managing RHEL 7.5
##### STEPS TO REPRODUCE

[code]

##### EXP

[2018-08-29 15:46] mildlyincompetent commented on #39155
Snap works well as a package manager for desktop applications, so the use case for this would extend to workstation builds for a variety of distros (since the `snap` package manager is available for various distros).

[2018-08-29 15:53] t-readyroc commented on #38998
Just as FYI, I experienced the same issue under Ansible 2.6.3, Mongo 3.6.6 & pymongo 3.7.1. The PR referenced above solved the issue.

[2018-08-29 16:08] nicholasrodriguez commented on #44758
After some more detailed testing I've found an edge case where the module does fail as originally described.

For a newly built hosts who have had vmnics created and migrated once it works.

In my development environment When manually shuffling vmincs around via the web client on a ESXi host to test edge cases once I've manually added both the vmnics back to the dvSwitch for it's final configurati

[2018-08-29 16:18] bcoca commented on #44819
https://docs.ansible.com/ansible/latest/plugins/lookup/first_found.html

[2018-08-29 16:22] #43796 closed, assigned to nobody

[2018-08-29 16:27] bcoca commented on #44261
we cannot know how you will use a variable until the play has ended, by that time that information is irrelevant, so having omit value in a variable is not incorrect nor wrong, the usage of it might be, but that is not something we can know at the time of the value assignment.

[2018-08-29 16:40] pilou- opened #44848 "Unexpected Exception when using notify with an handler defined in another play by an imported role"
##### SUMMARY

An exception occurs when a task tries to notify an handler from another play. This other play needs to use `import_role` in order to reproduce this error.

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Python 3.6

##### STEPS TO REPRODUCE

* playbook:
[code]
* role:
[code]
[code]

#####

[2018-08-29 16:41] ericdost commented on #43731
Update:  At least in my case it seems to have been Vault related.  My playbook included a vault encrypted string for the password.  If I change that to an unencrypted string, the playbook will run.

[2018-08-29 16:52] #39481 closed, assigned to nobody

[2018-08-29 17:27] crossan007 commented on #41312
Yep, I've also got this issue.

[2018-08-29 18:11] stobias123 opened #44851 "Playbook group patterns break when groups have underscores"
##### SUMMARY
When targeting more than two groups of hosts, ansible spits out an error if the 3rd group has an underscore. This also applies to extra groups added with the `--limit` cli option

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible Core?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora, managing windows/linux (RHEL7)
Target host in tes

[2018-08-29 18:28] viveksaiaws opened #44855 "working"

[2018-08-29 18:42] deivid-rodriguez opened #44857 "`get_url` gives confusing error message when destination already exists"
##### SUMMARY

The current `get_url` [docs](https://docs.ansible.com/ansible/2.6/modules/get_url_module.html#parameters) for the `force` and `dest` parameter does not make it clear what the expected behavior is when `dest` exists and `force` is `false` (the default). I kind of expect that it just succeeds. In any case, I think the error message one currently gets is very confusing.

##### ISSUE TY

[2018-08-29 18:55] sivel commented on #44848
The above PR should resolve these issues.

[2018-08-29 19:08] sivel commented on #44857
I cannot duplicate this issue.

The only thing that I can assume, is that the result of `touch` on your system, or the conversion of the mtime to the format required for `If-Modified-Since` is producing a value that is causing the server to respond with a 400 Bad Request.

Can you run the following for me?

[code]

As of right now, this produces the following for me:

[code]

needs_info

[2018-08-29 19:17] felixfontein commented on #44669
I cannot reproduce something with `expected_links` either. (I tried Python 3 with `docker` and Python 2 with `docker-py`, in case that matters.)

[2018-08-29 19:18] deivid-rodriguez commented on #44857
@sivel Thanks for the reply.

Probably adding the touch was misleading, I can reproduce the issue by running the command twice in a row.

The result of your command after touching for me is:

[code]

[2018-08-29 19:35] felixfontein commented on #44669
I've added code for `restart_retries` and `log_options` so that they are ignored if `restart_policy` resp. `log_driver` is not specified (and there are warnings in that case) in #44808.

So from my point of view, everything in this thread I was able to reproduce is fixed.

[2018-08-29 19:36] deivid-rodriguez commented on #44857
A very random guess, but I though I'd mention it, since last time I reported an issue to a python repo, I was the only one getting it, and it was due to this issue.

Sometimes the standard `urllib` in python has trouble with my internet connection. I investigated it a while ago, and it was due to [this python issue](https://bugs.python.org/issue34357). Does `ansible` use `urllib` under the hood?

[2018-08-29 19:38] sivel commented on #44857
Yes, ansible utilizes urllib2 under the hood for making requests.

FWIW, I tested with both touch and running the command 2 times.  I cannot think of why you would get a 400 Bad Request, based on that info provided above.

It's not expected, and for whatever reason, something that is being sent in the request is causing the remote server to respond that way.  The only thing I can imagine is the `I

[2018-08-29 19:42] felixfontein commented on #41372
This is expected as `network: host` binds the container's network to the host, so all open ports of the container are automatically open ports of the host itself, and no mapping is possible.

duplicate_of #44742
notabug

[2018-08-29 19:45] deivid-rodriguez commented on #44857
Nice, thanks! Yeah, I was terribly confused by this "Bad request" error.

I'll try to log the request & response using the way you mentioned. The information you show is "compatible" with the issue with `urllib` I mentioned, since the problem was the `Connection: close` header that the library adds by default. For example, in https://github.com/linuxmint/Cinnamon/issues/5926#issuecomment-412590616

[2018-08-29 19:47] #41372 closed, assigned to nobody

[2018-08-29 19:49] felixfontein commented on #19508
I don't think we should change the behavior, as that breaks backwards compatibility. While `purge_networks` is explicitly mentioned in the description of `networks`, I think the description can be a bit better. I'll create a PR for that.

[2018-08-29 19:49] #36691 closed, assigned to nobody

[2018-08-29 19:51] felixfontein commented on #21188
needs_info

[2018-08-29 19:55] viveksaiaws commented on #44855
@xuxinkun

[2018-08-29 20:01] sivel commented on #14270
FWIW, one reason this doesn't work currently, is that ansible operates off of blocks.  When you create a task that is not explicitly wrapped in a block, ansible implicitly wraps it in a block.

So the following 2 examples are the same in the end (I removed the name to not cause confusion):

Implicit (will become the same internally as Explicit):
[code]

Explicit:
[code]

When we search for handler

[2018-08-29 20:05] #44848 closed, assigned to sivel

[2018-08-29 20:14] deivid-rodriguez commented on #44857
@sivel You nailed it! Nothing related to my suspicions, but totally related to yours! It's a bad character in the `If-Modified-Since` header.

##### Request

[code]

##### Response Headers

[code]

##### Response body

[code]

[2018-08-29 20:15] deivid-rodriguez commented on #44857
It sounds like `ansible` shouldn't be localizing the date that it's sent in this header?

[2018-08-29 20:17] deivid-rodriguez commented on #44857
[code]

works just fine.

[2018-08-29 20:17] sivel commented on #44857
I believe you are correct, but I'm not sure we can rely on the strftime functionality in python at that point.  We may need to handle it ourselves.

I'll have to do more research here.

[2018-08-29 20:19] deivid-rodriguez commented on #44857
Well, thanks so much for your support, it was really helpful!

[2018-08-29 20:25] aplc0r commented on #41512
I just ran into this as well. I have many inventories representing different developer environments. I wanted to set ansible_group_priority in playbook level group_vars to avoid having to modify each inventory.

[2018-08-29 20:36] crosson opened #44864 "Junos_command display json missing or overwriting data"
##### SUMMARY
When displaying the status of a cluster I noticed that entries are being duplicated in the json blob output offering incorrect data.

When running the command without display json the output is correect.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

RETRY_FILES_ENABLED(/home/crosson/ansible/ansible.cfg) = Fals

[2018-08-29 20:54] sanseihappa opened #44867 "Neither become_ask_pass nor ask_become_pass in an ansible.cfg has any effect"
##### SUMMARY
Neither become_ask_pass nor ask_become_pass in an ansible.cfg has any effect

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Unsure. I've encountered this with ansible-playbook.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ASK_PASS(/Users/me/work/playbooks/ansible.cfg) = True
DEFAULT_ASK_VAULT_PASS(/Users/me/work/playbooks/ansible.cfg) = True
DEFAULT_HOST_LIST(/Us

[2018-08-29 20:58] bcoca commented on #44867
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

`become_ask_pass` does not work in` [defaults]` it goes under `[privilege_escalation]`, to check settings you can do `ansible-config li

[2018-08-29 20:58] #44867 closed, assigned to nobody

[2018-08-29 21:13] sivel commented on #44857
I have a pull request that should resolve this issue: https://github.com/ansible/ansible/pull/44868

[2018-08-29 21:30] angristan commented on #39155
There is https://github.com/ansible/ansible/pull/40852

[2018-08-29 21:50] sivel commented on #44857
Great!  I'm re-evaluating a few assumptions, just to see if I can not duplicate the formatting code.  Once I've completed that and tests are passing, I'll get that PR merged.

[2018-08-29 21:52] citrin opened #44869 "setup module: gathering facts fails on FreeBSD if tunnel is present"
##### SUMMARY
On FreeBSD hosts gathering network facts does'n work for tunnel interface ([tun(4)](https://www.freebsd.org/cgi/man.cgi?query=tun&sektion=4)) is present. If `IFCONFIG_FORMAT=inet:cid` environment variable is set module fails with error `error('illegal IP address string passed to inet_aton',)` otherwise incorrect netmask returned for tun interface.

##### ISSUE TYPE
 - Bug Report

###

[2018-08-29 21:54] citrin commented on #44869
Code which fail is in file https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/network/generic_bsd.py
Probably special case should be added for tunnel interfaces (tun, gif, gre).

[2018-08-29 22:16] #41865 closed, assigned to nobody

[2018-08-29 22:16] citrin commented on #44869
I have no IPv6 working tunnels, but ifconfig output should contain string like `inet6 2001:db8::2 --> 2001:db8::1 prefixlen 128` or `inet6 2001:db8::2 --> 2001:db8::1/128` (with `IFCONFIG_FORMAT=inet:cidr,inet6:cidr`). First address is local one and should be used by Ansible while gathering facts.

[2018-08-29 23:06] willthames commented on #21188
!bot_broken

[2018-08-29 23:07] JonZeolla commented on #18375
+1 to this, using a callback function currently...

[2018-08-30 00:03] kuromatsu-nobuyuki commented on #19508
That's good idea!
The description helps users to avoid their confusion.

[2018-08-30 00:06] #19508 closed, assigned to nobody

[2018-08-30 00:18] jladdjr opened #44874 "Task result not saved when delegate_to points to set_stat var"
##### SUMMARY
Task result not saved when delegate_to points to set_stat var.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
VariableManager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False`

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

repro.yml
[code]

`ansible-playbook -i localhost, -c local repro.yml`

##### EXPECTE

[2018-08-30 00:31] xandradx commented on #15035
You can create a workaround for this case.

Create a Task on the first play that sets a fact for a flag and then create an extra play at the end to fail in case this flag is not present.

Example:

On the first play on the playbook add:

  tasks:

  - name: Sanity Check for hosts
    set_fact:
      hosts_available: True

Then create a extra play with:

- name: Fail in case no hosts matched
  host

[2018-08-30 01:01] kassiansun commented on #44693
Count me in :)

[2018-08-30 01:07] #44669 closed, assigned to nobody

[2018-08-30 01:20] #44694 closed, assigned to ganeshrn

[2018-08-30 01:35] dmsimard commented on #19605
@bcoca @sivel are there any plans to revisit this ? It seems to me like Ansible should at least attempt to use /usr/bin/python3 (or /usr/bin/python2 as appropriate) if /usr/bin/python is not available.
@SpamapS reported that official Ubuntu AMIs on AWS only ship with /usr/bin/python3:
[code]

[2018-08-30 02:28] yuwzho commented on #44815
Thanks for reporting this issue. The root cause is that the storage blob just check whether the file (in relative file path) is a file at

https://github.com/ansible/ansible/blob/1dcf52c8fec76a8187b67ddba280f545f91a6105/lib/ansible/modules/cloud/azure/azure_rm_storageblob.py#L412-L413

I will add it to our team's backlog to do a fix. Before the fix applied, you can pass the full absolute path to t

[2018-08-30 03:16] #29785 closed, assigned to nobody

[2018-08-30 03:16] #44696 closed, assigned to nobody

[2018-08-30 03:52] resmo commented on #44768
resolved_by_pr #44878

[2018-08-30 04:50] gundalow commented on #21188
bot_status

[2018-08-30 05:38] lhorace commented on #25423
[code]

I am having the same issue here.

[2018-08-30 05:49] datakid commented on #37147
I'm seeing this too - on CentOS 7.5 with ansible 2.6.3.1, python 2.7.5.69, pip 8.1.2

[code]
On the server in question
[code]

[2018-08-30 05:58] datakid commented on #37147
Is it because psycopg2 is in /usr/lib64/python2.7/site-packages rather than /usr/lib/python2.7/site-packages?

[2018-08-30 06:03] TheSameCH commented on #24536
This is a known bug in some SLES 11 SP4, SLES 12 SP2 and SLES 12 SP3 kernel versions which has been fixed. See [SUSE Support Document 7022728](https://www.suse.com/support/kb/doc/?id=7022728).

[2018-08-30 06:26] miramar-labs opened #44886 "shell using dash on ubuntu"
I have an Ubuntu16.04 VM that I am trying to install some software on using Ansible.
On the VM there is a user, foo, whose default shell is BASH
Various environment variables are defined in foo's .bashrc
When I use the Ansible 'shell' statement, the commands I execute are not picking up the user's BASH env variables, because they are being executed in the dash shell ..
I tried using 'become_user:

[2018-08-30 07:32] trishnaguha commented on #44397
Closing the issue since enabling the feature resolved the issue as mentioned by @cesarfn4 internally.

[2018-08-30 07:32] #44397 closed, assigned to trishnaguha

[2018-08-30 07:41] loop-evgeny commented on #44261
I see what you're saying, but seeing the string value "__omit_place_holder__5ebe2a97fd59a2b8a8f0f9772e8e675496a74faa" is never the expected behaviour.

I ran into this again yesterday where I tried something similar with the "mode" variable of the "file" module. What happened was that the mode was simply left unchanged (instead of the `| default('0700')` being used). This is a real trap that I'm s

[2018-08-30 08:06] mkrizek commented on #41312
@nlevitt @crossan007 what Ansible version are you seeing this on? Can you try if latest `devel` branch fixes the issue? Thanks!

[2018-08-30 08:40] atul-ram commented on #22127
This worked for me.

# if True, make ansible use scp if the connection type is ssh
scp_if_ssh = True

[2018-08-30 08:41] robinro commented on #43385
Thanks for the detailed output. Can you, on the system with the updates pending, run `zypper --quiet --non-interactive --xmlout patch --auto-agree-with-licenses --no-recommends` and tell me the exit code?
Based on the above output I would guess it's `0` and not `103`. If it's `103` there is a bug in the ansible module, which I don't see yet, if it's `0` one would have to investigate further which

[2018-08-30 08:48] zeenlym opened #44889 "EC2 IGW module timeout when using corporate proxy"
##### SUMMARY
When deploying using corporate proxy ec2_vpc_igw get a timeout but ec2_vpc_net nor ec2_vpc_subnet pass.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- ec2_vpc_igw
- ec2_elb_lb

##### ANSIBLE VERSION

[code]

Boto version

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ANSIBLE_LOG_PATH=../log/playbook-afs-2018-08-30@09:20:35.log
HOSTNAME=myhostname
TERM=xterm
O

[2018-08-30 08:56] lemmy04 commented on #43385
[code]

returncode is 0 ... i have the xml output as well, do you need it?

[2018-08-30 09:09] lemmy04 commented on #43385
ok I tried to narrow this down, as soon as you run "zypper patch" with any combination of options that make it go "full autopilot", it also stops returning 102 for "reboot needed", and instead returns 0 even with a kernel update applied.

Might have to file this as a zypper bug...

[2018-08-30 09:10] gdpak opened #44890 "asa_config/asa_* modules improvements for 2.8 release"
Placeholder for ASA modules improvements (asa_* modules) . Please add if you have some ideas

##### SUMMARY
1. 'save' option of asa_config should be deprecated and should be replaced with

save_when :
Choices:
always
never ←
modified
changed

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

asa_config
asa_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##

[2018-08-30 09:24] #33505 closed, assigned to nobody

[2018-08-30 09:28] gundalow opened #44891 "Support network/asa"
##### SUMMARY

Place so we can track what needs doing to support `network/asa`

* Update `BOTMETA` to list the various `asa` files and directories as `support: network
* Update `ANSIBLE_META`'s support
* Add Platform specific page to https://docs.ansible.com/ansible/latest/network/user_guide/platform_index.html
* Add automated testing
* Review existing integration tests
* Issue #44890 is tracking

[2018-08-30 09:49] shrirang12 commented on #44831
Could anyone help!!!

[2018-08-30 10:32] agowa338 commented on #43007
@bmike78 Can you please open a PR? Just mention this ticket id in your PR and it gets linked automatically. And as long as you're working on it prefix it with "WIP: ", that stands for "work in progress", so you still have time developing, and others have the ability to help and/or review those changes as you progress and can provide feedback.

[2018-08-30 10:53] resmo commented on #34153
resolved_by_pr #42350

[2018-08-30 10:59] #34153 closed, assigned to nobody

[2018-08-30 11:00] dzhivkov opened #44894 "nxos modules return "nothing to repeat" error with Python2.6"
##### SUMMARY

Trying to use any of the nxos modules results in the message "nothing to repeat" when running a simple playbook. The issue happens on a Centos6.10 installation with a vanila install of Ansible 2.6.2 with python2.6. I tested the same playbook on Centos 7 and didnt hit the issue. (https://gist.github.com/davetechfreak/59389622f116676b2aa804eef61f4021)

I tried this with two modules so

[2018-08-30 11:30] nicolaibaralmueller opened #44895 "azure_rm_securitygroup priority optional"
##### SUMMARY
azure_rm_securitygroup module requires priority
This needs to be optional as priority is not known without having access to the portal.
When no priority is set, the module should take the next available priority.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_securitygroup

##### ANSIBLE VERSION
[code]

[2018-08-30 11:47] willthames commented on #44889
@zeemlyn the reason for the difference is likely that the working modules have been ported to boto3 and the not-working module hasn't yet.

https://github.com/ansible/community/blob/master/group-aws/boto3.md suggests that's exactly the case.

I'm not sure what to say in this case - the module needs porting, we know it needs porting but someone actually has to do the work. This issue will remain un

[2018-08-30 11:47] bje commented on #44767
Hi @jxn, I just raised a PR at https://github.com/ansible/ansible/pull/44896 that will add support for AWS WAF Regional.

[2018-08-30 11:52] gundalow commented on #44894
@ganeshrn thinks this maybe a Python 2.6 issue

[2018-08-30 12:14] emz00 opened #44897 "Double quotes are converted to single quotes on variable assignment if contents look like JSON"
##### SUMMARY
When I assign a variable containing double quotes to another variable the double quotes (`"`) sometimes get converted to single quotes (`'`). This appears to happen when the variable contents look like valid JSON.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux Mint 19 Tara

##### S

[2018-08-30 12:29] jvanderaa commented on #44731
Got it, that makes sense there, that there was a case mismatch so it tried to push. So really I need to open a different issue on the fact that there isn't a `save_when` feature like the ios_config module has?

[2018-08-30 12:31] webknjaz commented on #39155
Oh, then someone needs to pick up that PR and fix linter errors in order for us to proceed :)

[2018-08-30 12:34] gdpak commented on #44731
@jvanderaa spot-on. I have opened a feature idea for this at #44890 . Please add your feature ideas here as we won't be able to change and add any new option to modules for current ansible release (2.7

[2018-08-30 12:41] #38420 closed, assigned to ganeshrn

[2018-08-30 12:46] mirabilos opened #44899 "Optionally show progress during a synchonise operation"
##### SUMMARY
Copying a couple hundred Mebibytes of data can take quite some time. Progress would be welcome.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
I do not have an `ansible.cfg`.

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
In my example situation, all I see is:

    TASK [Copy offline docker images] ******

[2018-08-30 12:52] #44731 closed, assigned to gdpak

[2018-08-30 13:07] #43867 closed, assigned to ganeshrn

[2018-08-30 13:27] tkoeck commented on #21982
Configuration

Debian Stretch 64 Bit
Ansible: Version: 2.6.3-1ppa~trust

I get the same error around every 5th command execution

tkoeck@tron-nb:~$ ansible all -a "uname -a"
tron.someurl.de | SUCCESS | rc=0 >>
Linux tron 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt9-3 (2015-04-23) x86_64 GNU/Linux

Exception ignored in: <function WeakValueDictionary.__init__.<locals>.remove at 0x7f9bb732aa60>
Traceback

[2018-08-30 13:34] #44857 closed, assigned to nobody

[2018-08-30 13:35] nicolaibaralmueller opened #44900 "azure_rm_securitygroup - remove individual rules"
##### SUMMARY
According to azure_rm_securitygroup module documentation there is no option to remove individual rules.
Azure Cli has functions for this action. Please add remove rule functionality.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_securitygroup

##### ANSIBLE VERSION
[code]

[2018-08-30 13:40] #44773 closed, assigned to nobody

[2018-08-30 13:51] zeenlym commented on #44889
@willthames If there is a patch will it be backported on ansible 2.5 or directly on last version 2.6 (2.7 ?)

[2018-08-30 14:00] sivel commented on #44874
I've just submitted a PR that should fix this issue: https://github.com/ansible/ansible/pull/44901

[2018-08-30 14:07] sivel commented on #44886
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-30 14:07] #44886 closed, assigned to nobody

[2018-08-30 14:27] #42974 closed, assigned to nobody

[2018-08-30 14:30] sivel commented on #44897
This is a known issue, and related to the interaction between Ansible and Jinja2.  Jinja2 has historically only allowed returning strings, so we have some code to attempt to convert things that look like python data structures, into actual python data structures.

We have merged a new feature (that is toggled off by default for now) to utilize new Jinja2 native types.

When enabled, this problem w

[2018-08-30 14:30] #44897 closed, assigned to nobody

[2018-08-30 14:36] sivel commented on #44851
I'm unable to reproduce this with out additional information.

Can you provide us with a working example of your inventory?  Also if you have any `host_vars` or `group_vars` files, please provide us with a working example.

Effectively, we need a full working reproducer.

needs_info

[2018-08-30 14:37] sivel commented on #44839
I believe we are going to need more information to properly help you.

Do you have any vaulted values in your inventory or `host_vars`/`group_vars`?

Can you provide us with a full minimal reproducer that we can run to see this issue?

needs_info

[2018-08-30 14:39] sivel commented on #44822
Resolved by https://github.com/ansible/ansible/pull/44836

[2018-08-30 14:39] #44822 closed, assigned to sivel

[2018-08-30 14:47] #39780 closed, assigned to nobody

[2018-08-30 14:48] bittner commented on #14150
I have a very similar issue with the `--user` option on the command line. I have it defined in my inventory as follows:

[code]
... and I overriding the remote user with `--user` is not possible:

[code]
_However_, it's possible to override the remote user like this:

[code]

I believe, those two options should behave the same.

[2018-08-30 14:56] sivel commented on #44824
I'll need to do some more research as to why things are the way they are currently, but here is a proof of concept fix for this issue:

[code]

As it is there are 2 problems:

1. We don't run `post_validate` on the task until after we evaluate the `when` statement.  `post_validate` is what templates all of the fields.
1. `ignore_errors` is not templated as it has a default value of `None` and isn'

[2018-08-30 14:57] sivel commented on #44824
cc @bcoca

[2018-08-30 14:59] Cinux90 commented on #42090
+1

[2018-08-30 14:59] madrover opened #44905 "win_shell / win_command task stuck on execution from 2.5.1 onwards"
##### SUMMARY
win_shell task gets stuck on execution since version 2.5.1. Same exact task works on previous versions such as 2.4.3 and 2.5.0.

Same behaviors appears with win_command

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_shell
win_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OSX as control host, Windows as managed host

##### STEPS

[2018-08-30 15:00] sivel commented on #44899
This is not possible currently.  We have a proposal to enable modules to stream updates: https://github.com/ansible/proposals/issues/92

Until a solution to that proposal is merged, no progress can be made here.

[2018-08-30 15:00] bdowling opened #44906 "vars_prompt docs does not say default is private"
##### SUMMARY

https://docs.ansible.com/ansible/2.6/user_guide/playbooks_prompts.html

Does not mention that prompts are private by default.  The "alternative form" section is probably superfluous.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

vars_prompt

##### ANSIBLE VERSION

[code]

[2018-08-30 15:02] sivel commented on #44824
Additionally, we may need to ensure we don't template `when`, `changed_when`, `failed_when` to move post_validate before evaluation of `when`

[2018-08-30 15:06] m2acgi opened #44907 "How to execute ansible ad-hoc commands against a specified OS distribution？"
How to execute ansible ad-hoc commands against a specified OS distribution？

[2018-08-30 15:07] sivel commented on #44907
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-30 15:07] #44907 closed, assigned to nobody

[2018-08-30 15:12] yaplej commented on #43996
Thinking about this.  If there is a "?" in the line it just needs escaped with a SYN if the command needs to be executed.  That would probably resolve the issue.

[2018-08-30 15:35] kwaio commented on #16049
Agreed. We have a playbook here that loads a bunch of variables from external files (generated by other applications and regularily changing) and this playbook runs actions on several host groups.

This means we have 2 ugly solutions :

1. Fetch the variables and include them on each play
2. Fetch them once and them use the `hostvars['ansible']['<variable_name>']` syntax which here makes no sense

[2018-08-30 15:51] ericdost commented on #44839
Yes, there is one vaulted value in group_vars\all.yml.  That is also an encrypted string.  We are overriding at the playbook level though.  I just upgraded again to test.  In 2.5.1, I don't need to supply the vault password and the playbook will run.  In 2,6.3 I need to supply the vault password in order to run the playbook at all, but it will run if I supply the vault password.  The playbook itse

[2018-08-30 15:57] dmsimard commented on #19605
For posterity, this is a known improvement opportunity for Ansible and is being considered for inclusion in the roadmap for >=2.8

[2018-08-30 16:04] mburtless commented on #26366
I was able to work around this by adding some code to copy the value of `self.credentials['security_token']` to `self.credentials['aws_session_token']` and then remove `self.credentials['security_token']` before the call to `ec2_utils.boto3_inventory_conn()` in the `get_rds_instances_by_region()` method.

After the `ec2_utils.boto3_inventory_conn()` call I reset `self.credentials['security_token']

[2018-08-30 16:06] Fred-sun commented on #40596
@yuwzho Could you help check and give the fix? Thanks!

[2018-08-30 16:07] george-stoynev opened #44911 "loop doesn't flatten a list"
##### SUMMARY

The new loop keyword does not behave as expected when flattening a list.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

loop keyword
with_list keyword

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_REMOTE_USER(env: ANSIBLE_REMOTE_USER) = username@company.com

##### OS / ENVIRONMENT

Ubuntu 16.04.5 LTS
4.15.0-33-generic

##### STEPS TO REPRODUCE

tasks:
    - de

[2018-08-30 16:32] mfisher30 commented on #44662
@Akasurde Absolutely. Would you like me to post my notes on this PR or the other one, #37072? I'm hoping we can start giving you some beta feedback next week.

[2018-08-30 16:52] D3DeFi commented on #42617
I am not sure @asfaltboy as it is not within my sphere of influence (only module maintainer here), but I think it is unlikely that it will.

[2018-08-30 16:52] sivel commented on #44911
This is expected.  `loop` provides no flattening capabilities of it's own.  If you have 2 lists, and you want those flattened, you will need to use slightly different syntax:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-30 16:52] #44911 closed, assigned to nobody

[2018-08-30 16:57] joshtbernstein opened #44913 "win_package fails to connect to network share with explicit credentials"
##### SUMMARY

win_package fails to install from a network share on a non-domain machine using explicit credentials.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Host OS: macOS 10.13.5
Client OS: Windows Server 2016 running from a Vagrant box

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2018-08-30 17:02] #44874 closed, assigned to sivel

[2018-08-30 17:34] jdamata opened #44914 "k8s ansible module issue with apiVersion: monitoring.coreos.com/v1"
##### SUMMARY
The k8 module src parameter doesn't seem to allow for using the monitoring.coreos.com/v1 apiversion. Attempted different kubernetes manifest files with apiVersion: monitoring.coreos.com/v1. All of which fail.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS High Sierra 10.13.6

##### STEPS TO

[2018-08-30 17:38] thkala opened #44915 "Support commit-confirm in edgeos_config"
##### SUMMARY

Currently edgeos_config will apply any changes immediately; any incorrect setting can cause the targeted router to become unreachable. EdgeOS has the "commit-confirm" command (https://help.ubnt.com/hc/en-us/articles/204960094-EdgeRouter-Configuration-and-Operational-Mode) that will cause a reboot (and a revert) if the "confirm" command is not used within the timeout.

A possible imp

[2018-08-30 18:00] bcoca commented on #44839
Ansible cannot know if the playbook needs a variable from the vaulted file or not until it unvaults the file and runs the playbook. Also by using group_vars/all.yml you are indicating 'all hosts always need a vault password'.

[2018-08-30 18:00] briantist commented on #17078
Also just ran into this :(

[2018-08-30 18:10] bcoca commented on #44824
similar issue as i just fixed with no_log

[2018-08-30 18:34] thkala opened #44917 "Relative imports broken in ANSIBLE_PLUGIN_FILTERS modules"
##### SUMMARY

[This commit](https://github.com/ansible/ansible/commit/0633f73faf962620e09774a45a65aab968f6fb6d) inadvertently changed the way plugins are loaded, causing relative imports to fail in at least the case of plugin paths being overridden via environment variables (e.g. ANSIBLE_FILTER_PLUGINS).

Changing [this line](https://github.com/ansible/ansible/commit/0633f73faf962620e09774a45a65a

[2018-08-30 19:35] dagwieers commented on #44702
@zikalino Can you please provide feedback on whether PR #44726 works for you ?

[2018-08-30 19:39] ericdost commented on #44839
That makes sense, but the behavior is different in 2.5.1.  The only vault change that I saw in the release notes was related to AWS vault files.

[2018-08-30 19:43] elJoeyJojo opened #44924 "Ansible Git Module"
##### SUMMARY

When I use the GIT module although it works I am unable to see the other branches for that repository. If I do the manual command of $ git clone https://github.com/XXXXXX then I can see the available branches and switch between both but using the actual Ansible GIT module does not give me the branches. I fee like I've tried every switch/option for the GIT module and nothing works

#

[2018-08-30 19:48] jborean93 commented on #44905
While I know you said running it with win_command is the same, you shouldn't be using win_shell to run an executable as you could be coming across escaping issues. The args you have are relatively tame so I doubt that is the issue but just an FYI.

[2018-08-30 19:50] thebirch commented on #33385
Did message encryption for Kerberos get implemented?  Unless i use  unencrypted winrm setting on the target i get the 500 error.

[2018-08-30 19:57] bcoca commented on #44839
unsure how, if a file is read and it is vaulted it always required unvaulting, being group_vars/all.yml i don't see how this file was not read

[2018-08-30 19:58] sivel commented on #44839
@bcoca I think an earlier comment indicated it was a per value vault encrypted string.  Not the full file.

[2018-08-30 19:58] jborean93 commented on #44913
Looks like we need to update the documentation but I highly recommend you use become to achieve this task. win_package relies on what I would call a hack to pass the credentials on but you can do the same in a more reliable fashion by running

[code]

The docs for this are [here](https://docs.ansible.com/ansible/latest/user_guide/become.html#become-flags) but what this does is to run the process u

[2018-08-30 20:01] ericdost commented on #44839
Yes, none of my files are fully vault encrypted.  Just encrypted strings.  I can try to downgrade again and run it from 2.5.1.

[2018-08-30 20:01] jborean93 commented on #33385
@thebirch Yes it did, you need pywinrm 0.3.0, requests-kerberos 0.12.0 and pykerbero 1.2.1 installs to support it. Please direct your questions to IRC or the mailing list in the future. There's no guarantee we will see older closed tickets in the future.

[2018-08-30 20:04] bcoca commented on #44839
ah, sorry, missed that part.

the vault should not be required if that variable is never used, are you sure that name is never referenced?

[2018-08-30 20:09] dummptyhummpty commented on #44913
That sounds like what I need. I'll give that a try and report back.

[2018-08-30 20:10] sivel commented on #44839
I'll also note that your output shows `task path: /home/ansible/playbooks/queryaci.yml:27`, and your reproducer you provided does not have that many lines.

I'm guessing something that you didn't include is the cause.

[2018-08-30 20:26] s-hertel commented on #30080
Resolved by #27121

[2018-08-30 20:26] #30080 closed, assigned to nobody

[2018-08-30 20:28] dummptyhummpty commented on #44913
Fails with:
`fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "Exception calling \"Run\" with \"1\" argument(s): \"Exception calling \"Invoke\" with \"0\" argument(s): \"The running command \r\nstopped because the preference variable \"ErrorActionPreference\" or common parameter is set to Stop: Access is denied\"\"\r\nAt line:65 char:5\r\n+     $output = $entrypoint.Run($payload)

[2018-08-30 20:42] jborean93 commented on #44913
Sounds like you may have a permissions issues on that share, if both the explicit username/pass on win_package fails as well as become then I'm not sure.

You can try and verify it by running the following manually on your server

[code]

[2018-08-30 20:49] rhino5oh commented on #35398
@ekultails have you figured out how to solve this issue with 'apply'? I've tried a few things and was not able to get it to work with ansible 2.7.0a1

One thing I attempted was:

[code]

Also tried nesting the with_items under apply and got an error.

[2018-08-30 20:55] bmike78 commented on #40072
Request for the change to openstacksdk:
https://storyboard.openstack.org/#!/story/2003607

[2018-08-30 20:55] bmike78 commented on #43007
Request for the change to openstacksdk:
https://storyboard.openstack.org/#!/story/2003607

[2018-08-30 21:09] csnyder78 opened #44930 "set_fact not adhearing to when"
##### SUMMARY

When using set_fact with when, it is not adhering to the condition properly, and is overwriting it in a not so great way.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Set bob as some_var
##### ACTUAL RESULTS

Set bob as someothervar.

[code]

[2018-08-30 21:12] angristan commented on #39155
Working on it :)

[2018-08-30 21:27] stawii opened #44933 "Squash facts from loops to lists"
##### SUMMARY
When using loops (or with_* magic) with actions that generates facts (with `set_fact` at the forefront) only last returned facts are exposed to host. It would be nice feature to have option to squash them into list with simple parameter. By default this should be off, so current behavior is kept for backward compatibility.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Actio

[2018-08-30 22:01] madrover commented on #44905
Thanks for tip about **win_command** vs **win_shell**. I recall seeing it as well on the lint rule [ANSIBLE0013](https://github.com/willthames/ansible-lint/blob/master/lib/ansiblelint/rules/UseCommandInsteadOfShellRule.py) but I now notice it's not capturing the *win_shell*, only *shell*.

I just tried to execute **win_command** with **become: false** on 2.6.3 to ensure I am not using privilege el

[2018-08-30 22:06] jborean93 commented on #44905
@madrover are you able to 100% confirm whether 2.5.0 works and the issue starts with 2.5.1? You are saying the process is no longer running on the remote host. This is what a running process looks like from Ansible (using procmon to get the process hierarchy)

![image](https://user-images.githubusercontent.com/8462645/44881914-9ebd3d80-acf4-11e8-9248-786ff71f58fd.png)

If you have a `winrshost.exe

[2018-08-30 22:13] willthames commented on #44914
This is a merge_type problem - you need to parse `merge_type: merge` to update custom resource definitions. `merge_type` is only available with the unreleased 2.7, but you can copy lib/ansible/module_utils/k8s/{common,raw}.py into your local module_utils/k8s and also lib/ansible/modules/clustering/k8s.py into your local library directory

http://willthames.github.io/2017/12/12/using-updated-module

[2018-08-31 01:38] yungezz commented on #42414
fixed, close the issue.

[2018-08-31 01:38] #42414 closed, assigned to yungezz

[2018-08-31 02:17] #11159 closed, assigned to s-hertel

[2018-08-31 02:17] #19524 closed, assigned to nobody

[2018-08-31 02:17] #20395 closed, assigned to nobody

[2018-08-31 02:17] #22617 closed, assigned to nobody

[2018-08-31 02:17] #24268 closed, assigned to nobody

[2018-08-31 02:17] #24415 closed, assigned to nobody

[2018-08-31 02:17] #28981 closed, assigned to nobody

[2018-08-31 02:17] #29831 closed, assigned to nobody

[2018-08-31 02:17] #23618 closed, assigned to nobody

[2018-08-31 02:17] #30020 closed, assigned to nobody

[2018-08-31 02:17] #30094 closed, assigned to nobody

[2018-08-31 02:17] #34064 closed, assigned to nobody

[2018-08-31 02:17] #34067 closed, assigned to nobody

[2018-08-31 02:17] #38073 closed, assigned to nobody

[2018-08-31 05:33] Fred-sun commented on #44895
@nicolaibaralmueller Thanks for the contribution, Could you say more detail info about this issue? I can't understand your question? Thanks!

[2018-08-31 05:33] yuwzho commented on #44900
notabug

@nicolaibaralmueller Hi, from Ansible perspective, using Ansible module is not on demand to adding/deleting, even creation for a resource. But to define a state to check whether the resources is in the defined state or update it to the state. This is why there is no single command for adding/removing a single rule for NSG. If you want to remove a one, you can use the `azure_rm_securitygro

[2018-08-31 05:36] #44900 closed, assigned to nobody

[2018-08-31 05:38] #44075 closed, assigned to NilashishC

[2018-08-31 06:07] felixfontein opened #44948 "ACME: add support for ACMEv3 protocol"
##### SUMMARY
The discussion on the ACME IETF WG mailling list ([discussion](https://mailarchive.ietf.org/arch/msg/acme/cGQzjW7WQQ5oS2nrnXCXZM-2Jn8), [summary](https://mailarchive.ietf.org/arch/msg/acme/sotffSQ0OWV-qQJodLwWYWcEVKI)) is leading to some breaking changes, which will probably result in an [ACMEv3 endpoint at Let's Encrypt](https://community.letsencrypt.org/t/acme-breaking-change-most-

[2018-08-31 06:41] Fred-sun commented on #37934
@yuwzho Could you help recheck and fix the missing feature? Thanks!

[2018-08-31 07:00] #34094 closed, assigned to nobody

[2018-08-31 07:00] Fred-sun commented on #25352
@zikalino Could you help share the issue status? azure_rm_virtualmachine_facts module has added to ansible 2.7.0devel, but it not show the VM status. Thanks!

[2018-08-31 07:07] mkrizek commented on #44930
Works as expected for me:
[code]
gives me:
[code]

What am I doing differently?

needs_info

[2018-08-31 07:09] Fred-sun commented on #31967
@zikalino Has the issue been solved? Can you help update the status of the issue or which PR fix? Thanks!

[2018-08-31 07:09] Spredzy commented on #43602
Hi @hkonala sorry for the delayed answer. The proper form is `basic_contraints: "CA:true"`, it follows the same patther as `subject_alt_name` and the others. (ie. `key:value,key1:value1`).

Please find below a full run,

[code]

[2018-08-31 07:12] Spredzy commented on #43602
close_me

[2018-08-31 07:16] #43602 closed, assigned to nobody

[2018-08-31 07:23] #39613 closed, assigned to nobody

[2018-08-31 07:36] MartinRudatDHS commented on #29739
The above comment only applies if acl were used to modify the privileges of the owning user or group, or world privileges. As the example specified a user that is not the owner, the privileges as stored in the unix permission bits and reported by ls should still remain 0600.

[2018-08-31 07:55] olaldiko opened #44950 "Proxmox_kvm VMs not correctly converting to template"
##### SUMMARY
The Proxmox_kvm module does not correctly convert VMs to templates, it only sets the template flag in the VM, but the disks are left without preparation, as the API endpoint POST /api2/json/nodes/{node}/qemu/{vmid}/template is not called. This causes to not be able to create linked clones from the newly created template. Giving the following error: "Linked clone feature is not suppor

[2018-08-31 07:58] yuwzho commented on #44895
notabug

`priority` is such an important option for the rule. If we just append the rule, how can user know the order of each rule? OTH, the priorities are not continuous numbers, and some people  may add a rule with the least priority. Where should the rule be inserted?

To solve the priority problem, I suggest to use `azure_rm_securitygroup_facts` to get the details of your security group if you

[2018-08-31 08:03] #44895 closed, assigned to nobody

[2018-08-31 08:05] gundalow commented on #44915
@ganeshrn pointed out a possible work around:

[2018-08-31 08:20] #38973 closed, assigned to nobody

[2018-08-31 08:51] Fred-sun commented on #42407
@zikalino Could you help update the issue status or resolve progress ? Thanks!

[2018-08-31 09:28] turb commented on #44823
Reproduced. Adding `required=True` solves it, so I'll prepare a PR as soon as the current ones are merged.

[2018-08-31 09:32] #43149 closed, assigned to nobody

[2018-08-31 09:44] Sourav04 opened #44954 "Not able to update xml file element value using xml module"
##### SUMMARY
Not able to Update xml file element value using xml module and namespaces in particular. This is the xml file which I am trying to update :+1:
--------------------------------------------
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

	<appender name="SharedSv

[2018-08-31 09:59] olaldiko opened #44955 "Integrate Cloud Init in proxmox_kvm module"
##### SUMMARY
Latest versions of ProxmoxVE support Cloud init as a very convenient way to bootstrap VMs. It would be great if the Ansible module allowed to define all those settings when creating or updating VMs.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CACHE_PLUGIN= jsonfile
CACHE_PLUGIN_CONNECTION= ./facts_cache/
CA

[2018-08-31 10:28] ajmalshaikh commented on #9659
I am getting error same as above as failed": true, "msg": "The module sitefacts.py was not found in configured module paths. Additionally, core modules are missing. If this is a checkout, run 'git submodule update --init --recursive' to correct this problem."}

[2018-08-31 10:36] nicholasrodriguez opened #44957 "vmware_guest: Configure a VM with multiple vSCSI controllers"
##### SUMMARY
As per;

https://blogs.vmware.com/vsphere/2014/02/vscsi-controller-choose-performance.html

To provide the best performance, one should also distribute virtual disk across as many vSCSI adapters as possible.  This configuration provides the capability to process more IO simultaneously and benefit from additional queues if necessary.

This is something we do in product for our interna

[2018-08-31 11:02] Im0 opened #44959 "net_put upload issues for Cisco IOS image"
##### SUMMARY

Trying to upload a binary file to a Cisco switch running IOS.  `net_put` seems to fail with a template syntax error, and, the file is not uploaded.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

net_put

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/johni/upgrade_ios/ansible.cfg) = [u'/home/johni
DEFAULT_TIMEOUT(/home/johni/upgrade_ios/ansible.c

[2018-08-31 11:42] Im0 opened #44960 "ios_command long running command returns no data (was: ios_command wait_for failing with traceback)"
##### SUMMARY

Certain long running commands either don't return data, or, when using wait_for the task fails.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/johni/upgrade_ios/ansible.cfg) = [u'/home/johni/upgrade_ios/inventory']
DEFAULT_TIMEOUT(/home/johni/upgrade_ios/ansible.cfg) = 60

##### OS / ENV

[2018-08-31 11:50] ericdost commented on #44839
Sorry, that was a whole bunch of other vault encrypted strings that were commented out.  I tried to reproduce again this morning and I'm not having any luck.  Not sure what I was doing wrong, but I'll close this out.  Sorry for wasting your time.

[2018-08-31 11:50] #44839 closed, assigned to nobody

[2018-08-31 11:55] ReinerNippes commented on #43192
Hi @ZuZuD ,

I was runing ec2_group on ansible tower. And tower has it's own virtual env with an old botocore version. I wasn't aware of that.

[2018-08-31 11:55] #43192 closed, assigned to nobody

[2018-08-31 11:55] ulide4 opened #44961 "one_vm memory parameter not working"
##### SUMMARY

when instantiating a new vm the memory parameter is not used. The memory size from the template is used instead.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

one_vm
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A VM with 4GB of Memory

##### ACTUAL RESULTS

[code]

[2018-08-31 11:57] agowa338 commented on #43082
@cigamit The problem is not waiting for an ip address. In fact, windows does already have an ip before the guest customization is

I did some research around this and come across three events provided by vmware: [API](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/fa0b429a-a695-4c11-b7d2-2cbc284049dc/doc/vim.event.CustomizationEvent.html)
This three eve

[2018-08-31 12:08] joliverm commented on #44905
Same result on macOS High Sierra (10.13.6) and Ansible >= 2.5.1 (Ansible 2.5.0 works Ok), when testing the same scripts that @madrover is testing.

[2018-08-31 12:19] agowa opened #44962 "VMware: vmware_guest not resizing hardware"
##### SUMMARY

The VMware module does not reflect changes after the initial deployment, e.g. Disk/Memory size changed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ArchLinux

##### STEPS TO REPRODUCE

[code]

and after you have run Ansible once, change something like the disk or memory size

[2018-08-31 12:36] dariko commented on #44693
@felixfontein
[code]
I agree, count me in

[2018-08-31 13:20] #41512 closed, assigned to nobody

[2018-08-31 13:24] #44961 closed, assigned to nobody

[2018-08-31 13:25] #40046 closed, assigned to nobody

[2018-08-31 13:55] aioue commented on #44408
Everything is default, so I am guessing the module us using the local `~/.kube/` configs?
I'm `oc login`'d to the cluster before running the command.

Is there anything I can provide to assist?

[2018-08-31 14:08] aioue commented on #44408
I moved the `~/.kube/` directory somewhere else, forcing a fresh config after login, and the exception remains.

[code]

[2018-08-31 14:14] cesarfn4 opened #44968 "archive module can not compress a single file in a tar file"
##### SUMMARY
The archive module can not compress a single file in a tar file getting the following error:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
archive

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Playbook:
[code]

##### EXPECTED RESULTS
The "archive" module should compress files in tar files.

##### ACTUAL RESULTS
Error:
[code]

[2018-08-31 14:18] henti opened #44970 "mongodb_user fails with MongoDB 4.0 and SCRAM-SHA-256"
##### SUMMARY
When using mongodb_user on mongodb 4.0 and SCRAM-SHA-256, creation fails with "OperationFailure: Use of SCRAM-SHA-256 requires undigested passwords"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mongodb_user
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Local machine : Linux Mint 18.3 Sylvia
Target Machine : Debian 9 (stretch)

##### STEPS T

[2018-08-31 14:29] yuwzho commented on #44900
Hi @nicolaibaralmueller , IMO, when you use az cli to delete a rule, you will delete the rule once you running the command, and the command will run into failure if you run it second time. But for Ansible Playbook, we don't suggest you run it only once. You can configure which rules you want, and run the playbook as many times as you can and whenever you want, Ansible will update the NSG to the st

[2018-08-31 14:37] mohannmurthy commented on #42977
Could you please confirm if this issue is still on?

[2018-08-31 14:54] aioue commented on #44408
Veering off-topic, running it with python3 gets a lot further but ends with `TypeError: Object of type 'ResourceField' is not JSON serializable`.

[2018-08-31 15:19] mclapinski opened #44973 "Async cancels win_service task on Windows"
##### SUMMARY

On Windows. when win_service task isn't finished before the end of time specified in `async:`, it's canceled instead of being left alone to run.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

async
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

empty
##### OS / ENVIRONMENT

On Ubuntu 18.04 LTS, managing Windows Server 2016
##### STEPS TO REPRODUCE

[code]
##### EXPECTED

[2018-08-31 15:20] utoddl commented on #15800
Ansible's shell module runs the script as (or equivalent to)
[code]
So if your script contains `pkill -f killpattern` it's going to match not only the process(es) you meant to kill but also the shell process running the pkill command -- i.e. the ansible step itself.

To get around this, you need to do something like this:
[code]

[2018-08-31 15:42] michal-clapinski commented on #44973
!component =lib/ansible/plugins/shell/powershell.py

[2018-08-31 15:45] farrellit commented on #34690
IMHO also, the doc should make clear in the `regexp` section that if there's no match the line will be appended with the rules based on `insertberofe`/`insertafter`.

[2018-08-31 15:49] fabianvf commented on #44408
hmm, I'm sorry you're hitting so many issues around this right now, thanks for digging so much though. I'm going to see if I can carve out some time early next week to do a more thorough exploration of what's going on, it sounds like there are multiple issues that are probably my fault.

The `TypeError` could be an oversight, the complex response fields have a `to_dict` method that makes them seri

[2018-08-31 15:50] dummptyhummpty commented on #44913
Testing with runas.exe and powershell.exe works. I'll see if I can look at this further.

[2018-08-31 15:51] #44823 closed, assigned to nobody

[2018-08-31 15:56] abadger commented on #44917
So a few things here:

* I've tested on Ansible's stable-2.3 branch where this code was not applied and Ansible errors in the same situation so this isn't a regression.

* I've tested changing the code you mention and it makes the warning message on your ```ansible -c local -m ping localhost``` test case disappear.  However, it doesn't make your actual use case work.  Ansible still fails to import

[2018-08-31 16:01] pescobar opened #44977 "`dellos6_facts` module crashes when collecting the interfaces information"
##### SUMMARY

`dellos6_facts` module crashes when there is only the default vlan

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

dellos6_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
control host: Centos7 with python 2.7.5
managed switch: Dell EMC Networking N1148T-ON System Software Version 6.4.1.4

##### STEPS TO REPRODUCE
[code]

this is the VL

[2018-08-31 16:09] balonik opened #44978 "postgresql_db: don't connect to maintenance_db if database already exists"
##### SUMMARY
In environments where access to initial db (maintenance_db) is restricted the module will fail if the user does not have access to initial db.
The module should not try to connect to maintenance_db if the db specified by 'name' already exists, i.e. in subsequent runs or check mode. In such cases it is not really required to have any initial db (to create DB from) accessible.
The para

[2018-08-31 16:56] briantist commented on #42977
@mohannmurthy the issue still exists. The linked PR is still open and I'm still using it successfully, locally.

[2018-08-31 18:00] helldorado commented on #28517
@d3pre5s Fixed. Please see PR https://github.com/ansible/ansible/pull/42313 and https://github.com/ansible/ansible/pull/42313/commits/26d6faa9ca30c4b5b10f784ff3e40c63f0e77965

When `clone` you can get cloned `mac`, `devices` and `vmid` like:

[code]

You can pull this version in your `playbooks/library/` If this fix your issue please feel free to leave comment with **shipit** keyword.

[2018-08-31 18:24] #44954 closed, assigned to nobody

[2018-08-31 19:06] watsonb commented on #34281
Is this still being worked at all?  I'm kind of implementing something like an `ansible-galaxy` style method of "installing" playbooks into a playbooks sub-directory and then I want to `include_playbook` a playbook that was just "installed".

Here is what I've got so far:

[code]
If I run this as-is, I get an import error because the playbook to be imported isn't there yet.

[code]
If I comment ou

[2018-08-31 19:07] jonathan-willis commented on #40668
This happens when there are no AOIs in the account.

changing the offending line 96, to this fixes it:
`
            result = paginator.paginate().build_full_result().get('CloudFrontOriginAccessIdentityList', {})
`

[2018-08-31 19:59] fabianvf commented on #44504
I have an open PR that should improve the reliability of the authorization overrides here: https://github.com/ansible/ansible/pull/44142

I think it may fix your issue, there were some problems related to the priority of certain authorization methods that caused some user provided values to be clobbered.

[2018-08-31 20:01] fabianvf commented on #43882
There are some additional fixes for authorization parameters here; https://github.com/ansible/ansible/pull/44142

[2018-08-31 20:04] fabianvf commented on #43637
@aparedero did any of the suggestions work for you?

[2018-08-31 20:05] fabianvf commented on #43206
Yeah, if you want to clobber the whole configmap the proper way would be to add `force: true` to the task, by default we willl do a merge+patch. Does using `force` fix the issue for you @zioproto ?

[2018-08-31 21:46] nkakouros opened #44987 "fetch module does not work ad-hoc against windows machines"
##### SUMMARY
I am trying to run an adhoc command to download a file from a windows instance. But ansible fails.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

fetch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Arch linux

##### STEPS TO REPRODUCE

ansible -i inventory.yml -m fetch -a 'flat=yes src="C:/Windows/explorer.exe" validate_checksum=no dest="/tmp/"'

[2018-08-31 21:55] sivel opened #44989 "ec2_vpc_dhcp_option contains deprecated call to be removed in 2.8"
##### SUMMARY
ec2_vpc_dhcp_option contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #44990 "ec2_vpc_dhcp_option_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ec2_vpc_dhcp_option_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #44991 "os_server_action contains deprecated call to be removed in 2.8"
##### SUMMARY
os_server_action contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #44992 "ovirt_affinity_group contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_affinity_group contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #44993 "ovirt_affinity_label contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_affinity_label contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #44994 "ovirt_affinity_label_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_affinity_label_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #44995 "ovirt_cluster contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_cluster contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #44996 "ovirt_cluster_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_cluster_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #44997 "ovirt_datacenter contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_datacenter contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #44998 "ovirt_datacenter_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_datacenter_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #44999 "ovirt_disk contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_disk contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45000 "ovirt_external_provider contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_external_provider contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45001 "ovirt_external_provider_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_external_provider_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45002 "ovirt_group contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_group contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45003 "ovirt_group_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_group_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45004 "ovirt_host contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_host contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45005 "ovirt_host_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_host_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45006 "ovirt_host_network contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_host_network contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45007 "ovirt_mac_pool contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_mac_pool contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45008 "ovirt_network contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_network contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45009 "ovirt_network_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_network_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45010 "ovirt_nic contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_nic contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45011 "ovirt_nic_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_nic_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45012 "ovirt_permission contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_permission contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45013 "ovirt_permission_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_permission_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45014 "ovirt_quota contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_quota contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45015 "ovirt_quota_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_quota_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45016 "ovirt_scheduling_policy_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_scheduling_policy_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45017 "ovirt_snapshot contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_snapshot contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45018 "ovirt_snapshot_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_snapshot_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45019 "ovirt_storage_connection contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_storage_connection contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45020 "ovirt_storage_domain contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_storage_domain contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45021 "ovirt_storage_domain_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_storage_domain_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45022 "ovirt_storage_template_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_storage_template_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45023 "ovirt_storage_vm_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_storage_vm_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45024 "ovirt_tag contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_tag contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45025 "ovirt_tag_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_tag_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45026 "ovirt_template contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_template contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45027 "ovirt_template_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_template_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:56] sivel opened #45028 "ovirt_user contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_user contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:57] sivel opened #45029 "ovirt_user_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_user_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:57] sivel opened #45030 "ovirt_vm contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_vm contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:57] sivel opened #45031 "ovirt_vm_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_vm_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:57] sivel opened #45032 "ovirt_vmpool contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_vmpool contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:57] sivel opened #45033 "ovirt_vmpool_facts contains deprecated call to be removed in 2.8"
##### SUMMARY
ovirt_vmpool_facts contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:57] sivel opened #45034 "panos_nat_policy contains deprecated call to be removed in 2.8"
##### SUMMARY
panos_nat_policy contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:57] sivel opened #45035 "panos_security_policy contains deprecated call to be removed in 2.8"
##### SUMMARY
panos_security_policy contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:57] sivel opened #45036 "systemd contains deprecated call to be removed in 2.8"
##### SUMMARY
systemd contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:57] sivel opened #45037 "playbook contains deprecated call to be removed in 2.8"
##### SUMMARY
playbook contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:57] sivel opened #45038 "role_include contains deprecated call to be removed in 2.8"
##### SUMMARY
role_include contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:58] sivel opened #45039 "fetch contains deprecated call to be removed in 2.8"
##### SUMMARY
fetch contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 21:58] sivel opened #45040 "unsafe_proxy contains deprecated call to be removed in 2.8"
##### SUMMARY
unsafe_proxy contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
N/A

##### ACTUAL RESULTS
N/A

[2018-08-31 22:04] wilvk commented on #40668
thanks for the report @jonathan-willis , that seems odd. I'll look into it and let you know.

[2018-08-31 23:22] avocadojesus opened #45043 "[aws] cloudfront distribution giving `KeyError: 'Distribution'` traceback"
##### SUMMARY
No matter, what my cloudfront distribution config reads, all i seem to get is this error:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

cloudfront_distribution

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[DEPRECATION WARNING]: [defaults]hostfile option, The key is misleading as it can also be a list of hosts, a directory or a list of paths , use [defaults]
i

[2018-09-01 00:14] jasstionzyf commented on #44748
@webknjaz   hello,  i am sure /opt directory  exists

[2018-09-01 00:32] #44748 closed, assigned to nobody

[2018-09-01 02:30] tobiasmcnulty commented on #44950
I can confirm this; I found this ticket Googling the error "Linked clone feature is not supported for drive 'scsi0'.", and when I switch to running `qm template <vmid>` on the command line (instead of using `template: yes` in `proxmox_kvm`), this error goes away and I can create a linked clone successfully.

[2018-09-01 06:18] amenonsen opened #45045 "Tasks tagged [always,b] are skipped by --skip-tags b"
##### SUMMARY
Tasks tagged 'always' should be skipped only if you do ``--skip-tags always``

##### ISSUE TYPE

 - ~Bug  Report~
- Feature Idea

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

I noticed when testing the new "apply" feature that tasks tagged with ``[always,b]`` were being skipped by ``--skip-

[2018-09-01 07:39] mowgli opened #45047 "ansible_os_family on Devuan gives wrong and unreliable values"
##### SUMMARY
Ansible on Devuan gnu linux has some weird behaviour. The fact „ansible_os_family“ is (often) something like „Devuan GNU/Linux“ instead of „Debian“ (or „Devuan“ but the family is Debianoid.)

This makes it difficult to use that value in playbooks.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible facts

##### ANSIBLE VERSION
All versions up to
[code]

##### CONFIGURATION

[2018-09-01 12:43] jmnavarrol commented on #27268
Just to clarify, my expectations are the following:

This task should print "not defined but valid syntax" in every case, no matter if any of my_dict, my_dict['key'] or my_dict['key']['subkey'] are **not** defined:
[code]

This should also print "not defined but valid syntax" in every case:
[code]

[2018-09-01 12:44] noonedeadpunk commented on #18973
+ for regexp in path for find module

[2018-09-01 13:05] noonedeadpunk opened #45048 "find_module regexp problem with consecutive math"
##### SUMMARY
Find module doesn't find anything if range of repeats is specified. For example, if you would like to find python file, which have from 2 to 4 numbers in the beginning, correct regexp will be like this:
`^_[0-9]{2,4}_.*.py$`
However, in this case nothing will be found. So in order to implement this regexp currently is required to write it in this way:
`^_([0-9]{2}|[0-9]{3}|[0-9]{4})_

[2018-09-01 15:04] avocadojesus commented on #45043
I have been unable to get the `cloudfront_distribution` module working with any version of this config, and it always comes down to this error. I have tried removing chunks from it, or obtaining the distribution id before hand and manually passing it as `distribution_id`, as it seems the error may come from an inability to locate the distribution on ec2's end, but every time i get stuck on this sa

[2018-09-01 17:36] Amos-85 commented on #43884
same issue with ansible 2.6.3 on rhel 7.5

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TimeoutError: Timer expired after 10 seconds
fatal: [hostname]: FAILED! => {"changed": false, "cmd": "/sbin/udevadm info --query property --name /dev/mapper/rootvg-varlv", "msg": "Timer expired after 10 seconds", "rc": 257}

the command is executing without is

[2018-09-01 18:14] cwilby opened #45050 "After email-trap, quickstart video doesn't play on ansible.com"
##### SUMMARY
After entering an email address to unlock the quickstart video, the video doesn't play.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Organization Website

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu 18.04.1 LTS
Firefox 61.0.1

##### STEPS TO REPRODUCE
* Visit the [Quickstart guide](https://docs.ansible.com/ansible/latest/user_guide/qui

[2018-09-01 20:43] BondAnthony opened #45053 "DigitalOcean Inventory Deprecation Warning"
##### SUMMARY

DeprecationWarning for ConfigParser in python3
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

contrib/inventory/digital_ocean.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY) = ['/Users/abond/ansible/inventory']
DEFAULT_ROLES_PATH(env: ANSIBLE_ROLES_PATH) = ['/Users/abond/ansible/roles']
HOST_KEY_CHECKING(/Users/abond/ansible/an

[2018-09-01 22:51] webknjaz commented on #44748
Well, probably it didn't exist the first time you tried. Anyway, it doesn't look like a bug belonging to Ansible :)

[2018-09-02 02:17] #40668 closed, assigned to nobody

[2018-09-02 03:38] egee-irl commented on #42966
Awesome, it seems to be fixed. Thanks guys!

[2018-09-02 03:38] #42966 closed, assigned to nobody

[2018-09-02 11:14] Im0 opened #45081 "vmware_guest can't clone a specific template or VM using UUID"
##### SUMMARY

When trying to use `vmware_guest` to clone a template, or, virtual machine it is not possible to specify a specific template/VM.  This is a problem when you have multiple Templates/VM's called the same thing in different folders.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ans

[2018-09-02 11:15] Im0 commented on #45081
@jakegatsby FYI

[2018-09-02 11:46] mohannmurthy commented on #42977
Thanks @briantist . I have also noticed the module is not idempotent. When we rerun with LB already created, it complains with msg": "An error occurred (ResourceInUse) when calling the CreateLoadBalancer operation: The allocation IDs are not available for use"

[2018-09-02 16:26] Wo0dsi3 opened #45083 "Napalm-Ansible playbook - can't connect to device"
##### SUMMARY
I am using napalm-ansible modules to gather facts.
Cannot get to network device.
Not sure if this is a bug or an issue with my setup.
Any help really appreciated

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

napalm_install_config:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/home/btadmin/.local/lib/python2.7/

[2018-09-02 17:46] yeukhon opened #45085 "vars_prompt "retry" for empty value"
##### SUMMARY
It would be really nice to have a "retry", keeps prompting until user enters a value.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vars_prompt

##### ANSIBLE VERSION

[code]

I use 2.5 at work, but this is going to work on 2.6 and above.

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOSX

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
Here is what the additio

[2018-09-02 18:45] dagwieers commented on #24492
I am going to close this as v2.4 is becoming irrelevant now :)

[2018-09-02 18:45] #24492 closed, assigned to nobody

[2018-09-02 21:02] chopraaa commented on #44819
@bcoca: That's the plugin, not the action or whatever the `with_first_found` thing is called.

Also, no mention of `skip: true` in this plugin doc.

[2018-09-02 21:07] dagwieers commented on #43422
@smnmtzgr I lost track of this one. And you're right, I focused on backward compatibility when doing the rewrite. I now added an integration test for your issue and #45088 seems to fix this for real.

Can you test ? I would like to backport this to the v2.7 release. Thanks !

[2018-09-03 00:11] willthames commented on #45043
@avocadojesus what version of botocore are you using?

If you're able to update the cloudfront_distribution module, it's probably worth just adding

[code]

after the

[code]

line - this might provide enough information to work out why `distribution` is truthy but the `Distribution` key is not present

[2018-09-03 00:12] surdu commented on #22171
Having the same issue (I think) with supervisor:

[code]

[code]

[2018-09-03 00:37] ghost opened #45090 "eos_facts: intermittent module failure"
##### SUMMARY

When running eos_facts with `gather_subset: all` or another setting that includes collection of `interfaces`, it will intermittently return a MODULE FAILURE with "The error was: TypeError: string indices must be integers"

Can reproduce on 2.5.8, 2.6.3, devel, 2.7.0b1.

It looks like similar issues were dealt with in #42347

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

####

[2018-09-03 02:32] zikalino commented on #38431
fixed_by#38431

[2018-09-03 02:38] Akasurde commented on #45053
resolved_by_pr #45054

[2018-09-03 02:41] Akasurde commented on #45050
@cameronwilby Thanks for reporting this issue. Could you please provide information about the browser and its version ? For me, Chrome 68 and Firefox 61 works.

[2018-09-03 02:42] yungezz commented on #44416
@yuwzho

[2018-09-03 02:49] dagwieers commented on #43412
@smnmtzgr I implemented a fix for this, rather than redoing the complete design, which I think we will need at some point anyway. Can you please verify if #45091 works for you ? Thanks !

[2018-09-03 03:29] yuwzho commented on #44416
@Fred-sun Please use ansible to create a vm with name `vmvmtestelab0101` and see what's the error message?

[2018-09-03 05:40] yuwzho commented on #44416
@ericrousse As @Fred-sun 's test result, with hard coding vm name `vmvmtestelab0101`, Neither Ansible nor Azure service don't replace any character to `*`. I think it should be some ansible playbook problem that  the parameter send to azure_rm_virtualmachine modules is `vmvmtestelab********1********1`

[2018-09-03 05:44] #38431 closed, assigned to zikalino

[2018-09-03 05:51] universonic commented on #43865
If you are running command via SSH protocol, it is possible. You can send a `KILL` signal to server to enforce a immediate termination on the assigned session process. See: [RFC4254](https://tools.ietf.org/html/rfc4254#section-6.10)

[2018-09-03 05:52] judyQD opened #45096 "shell module: to run a script in backend, however, the shell script was run partly"
This issue is not already reported on GitHub
##### SUMMARY

Shell module will excute a shell script such as a.sh.  a.sh will execute b.sh in backend. Howerver, the b.sh only be run partly. There is no other wrong.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/an

[2018-09-03 06:00] ianw opened #45098 "!!binary YAML data causes a JSON decoding error in ansible-inventory"
##### SUMMARY
When using a YAML [!!binary](http://yaml.org/type/binary.html) construct in the inventory, dumping with ``ansible-inventory`` leads to a JSON conversion failure per below.

We use this with base64 encoded  kerberos keytab in the host vars

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No special config

##

[2018-09-03 06:05] Fred-sun commented on #37259
@zikalino Could you help to add this new feature in azure_rm_virtualmachine(Auto shutdown) module? Thanks!

[2018-09-03 06:18] smnmtzgr commented on #43412
I have tested the changes and it seems to work correctly now.

[2018-09-03 06:25] smnmtzgr commented on #43422
@dagwieers I have tested the changes and it seems to work correctly now.

[2018-09-03 06:28] smnmtzgr commented on #43106
@dagwieers @rsmeyers How can we proceed with this issue? It would be good to get this implemented. If you need some help or information please inform me.

[2018-09-03 06:45] yungezz commented on #35223
https://github.com/ansible/ansible/pull/44802 merged, backporting to stable2.6 and stable 2.7.

[2018-09-03 06:45] #35223 closed, assigned to nobody

[2018-09-03 06:47] marchenko1985 opened #45100 "redis module without dependencies"
##### SUMMARY
@slok will be nice if redis module will not require [redis-py](https://docs.ansible.com/ansible/2.5/modules/redis_module.html#notes) on target nodes, it can be done by implementing redis protocol and talking to it directly via socket, it seems that module can be rewriten little bit to achieve this but not sure if it problem at all for anyone except me

##### ISSUE TYPE
 - Feature Ide

[2018-09-03 08:38] madrover commented on #44905
On the previous screenshot I was showing that the requested process was actually being executed via **win_command** or **win_shell**, I'm not 100% sure. Once the installer is finished the process under **winrshost.exe** disappears and I can actually see the **java.exe** of the service that has just been installed. See:
![image](https://user-images.githubusercontent.com/4009248/44976162-99662a00-af

[2018-09-03 08:49] judyQD commented on #45096
@ansibot @anotherjesse @uggedal @jvantuyl @fivethreeo  Could you please help check this? It is so nice of you to reply and help me.

[2018-09-03 08:51] lrrb opened #45101 "unarchive error if several files are excluded and the owner or group changed"
##### SUMMARY

When you use the exclude option of the unarchive module with a list, and you change the default owner/group, Ansible failed trying to update the owner of the excluded files.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-09-03 09:04] gdpak commented on #44959
Hi @Im0 This is fixed in latest release of (2.7). Can you try same playbook from 2.7 beta1 release https://groups.google.com/forum/#!topic/ansible-devel/gsOLo91Lr-Q

Basically till 2.6, default mode was to look for template vars in file specified by 'src' option. It used to fail for binary file. This has been changed in 2.7 so same playbook should work for 2.7.

[2018-09-03 09:06] lrrb commented on #45101
The bug exist also in branch devel and appear also with tar.gz archive.
It has probably been introduce with [PR40120](https://github.com/ansible/ansible/pull/40120), I'll provide a patch asap.

[2018-09-03 09:06] taraspos opened #45102 "Installing npm packages from beta channel"
##### SUMMARY
Allow installing npm packages from beta channel with `state: beta`

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

npm

[2018-09-03 09:13] machacekondra opened #45104 "Rewrite oVirt dynamic inventory to inventory plugin"
##### SUMMARY

This issue asks to rewrite oVirt dynamic inventory into inventory plugin.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-09-03 09:17] Fred-sun commented on #39006
@pschiffe Thanks for the contribution, Could you help share your reproduced method and your test scripts? I want to simulate the environment you encounter. Thanks!

[2018-09-03 09:18] jborean93 commented on #44905
The raw module still runs under winrshost.exe and is a bit more direct than win_shell/win_command which is run under a few more layers controlled by Ansible.

Is this an installer that is available online that I can play around with?

[2018-09-03 09:18] davidebelloni opened #45105 "gcp_compute.py: allow for home path expansion with"
##### SUMMARY
gcp_compute.py inventory plugin doesn't manage the ENVVARS described here: https://docs.ansible.com/ansible/latest/scenario_guides/guide_gce.html#providing-credentials-as-environment-variables

Then for example one could manage the contextual path with a bash script preloaded.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gcp_compute.py inventory plugin

##### ANSIBLE VERSION

[2018-09-03 09:37] shinux85 opened #45107 "Failed to create new process(%1 is not a valid Win32 application, Win32ErrorCode 193)\"","
##### SUMMARY
unable to run a powershell script via ansible plabook on windows 2008R2 server.But able to run directly from the server.
The same playbook works fine on windows 2012 servers

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

[code]

##### EXPECTED RESULTS
Should be able to install the agent

##### ACTUAL RESULTS
[root@ansb01 windows]# ansible-playbook

[2018-09-03 09:46] pschiffe commented on #39006
@Fred-sun I'm sorry, I'm on a different project now. Maybe @kargakis can help.

[2018-09-03 09:50] jborean93 commented on #45107
The default behaviour in Windows Explorer of opening a .ps1 file is to open it up in notepad. The error you are receiving is because this behaviour is not supported and you should look at changing your playbook so it would work in generic hosts instead.

For this case you want to do the following;

[code]

This starts the executable `powershell.exe` as a process and passes in the path to your scri

[2018-09-03 09:50] #45107 closed, assigned to nobody

[2018-09-03 10:00] Fred-sun commented on #39006
Thanks @pschiffe , I will.

[2018-09-03 10:01] giovannisciortino commented on #44689
I reproduced the problem also on the latest ansible devel branch.

The problem is caused by the characters ":" in the backup file time format because the character ":" is invalid in vfat filesystem ( https://docs.microsoft.com/en-us/windows/desktop/fileio/naming-a-file ).

Also other module supporting backup parameter should be affected by this problem ( replace module is affected)

Based on my kn

[2018-09-03 10:03] Fred-sun commented on #39006
@kargakis Thanks for you pay attention on ansible project. do you still have this question, I have tried, but can't reproduce. if you still have this error, Could you help share the test log( ansible-playbook task.yml -vvv) and test script ？ Thanks!

[2018-09-03 10:22] #14549 closed, assigned to nobody

[2018-09-03 11:00] michal-clapinski commented on #44973
Okay, but on Linux I've seen people do something like this:
[code]
and it works. Clearly the job takes at least 2 seconds to finish. So what am I missing? And what does `async: 0` mean then? Is it equivalent to infinity?

I'm trying to start a service which breaks connectivity for a while upon starting.

[2018-09-03 11:11] mkrizek commented on #18722
This behavior can be altered with the following config option (turned off by default) https://docs.ansible.com/ansible/devel/reference_appendices/config.html#default-jinja2-native which will be included in the `2.7` release.

[2018-09-03 11:11] #18722 closed, assigned to nobody

[2018-09-03 11:43] talonx commented on #20432
The current list of plugins does not have GCP - https://docs.ansible.com/ansible/2.5/plugins/inventory.html

[2018-09-03 11:55] talonx commented on #20432
I don't think inventory plugins accept CLI parameters - at least I could not find any documentation which says they do. This is an important use case as I need to be able to use the same plugin config YML file for configuring different subsets of hosts, without editing the file manually. E.g. in the case of the GCP inventory plugin, I want to be able to filter the instances by tag.

[2018-09-03 12:24] davidwneary opened #45111 "k8s: Failed to patch object"
##### SUMMARY
Get error `Failed to patch object` when using the `k8s` command for a resource that already exists.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Local machine: macOS Sierra [Version 10.12.6 (16G29)]
Remote Cluster: Azure AKS, Kubernetes version: 1.11.2

##### STEPS TO REPRODUCE

[code]
**c

[2018-09-03 12:28] mkrizek commented on #23970
Fixed in https://github.com/ansible/ansible/pull/33011

[2018-09-03 12:28] #23970 closed, assigned to nobody

[2018-09-03 12:59] fabianvf commented on #45111
What version of the openshift client do you have installed?

[2018-09-03 13:15] LeoUfimtsev opened #45115 "Ansible tower is missing azure pip dependencies."
##### SUMMARY
Ansible Tower fails to run azure_rm_* templates due to missing pip dependencies, but customers expect it to work as azure integration appears to be supported out of the box.

Can we add:
pip install (packaging | msrestazure | ansible[azure] ) to Ansible Tower's setup?

If not, can we improve the error message to explain how to overcome the problem inside Ansible Tower? (the complexit

[2018-09-03 13:25] #44416 closed, assigned to nitzmahone, zikalino

[2018-09-03 13:29] Akasurde commented on #44787
@roostercactus Thanks for reporting this issue. Could you please check #45116 and let me know if it works for you ?

Thanks.

needs_info

[2018-09-03 13:30] Akasurde commented on #44787
resolved_by_pr #45116

[2018-09-03 13:32] Akasurde commented on #44758
@nicholasrodriguez Could you please provide me the steps to reproduce this ? Thanks.

[2018-09-03 13:33] zikalino commented on #44513
fixed_by_pr#45108

[2018-09-03 13:40] madrover commented on #44905
This installer is not commonly available online. I might be able to share with you but I need to check on my company beforehand, I'll keep you posted.
Is there anything else that we could do?

[2018-09-03 13:43] LeoUfimtsev commented on #45115
Please note, I"m not referring to dynamic inventories. I'm referring to ansible azure_rm_* modules that run inside playbooks.

[2018-09-03 13:57] theboeh commented on #21890
Once you have more than a handful of inventories that becomes a massive pain. Allow me to present an example:

You have mulitple developers developing Docker images. These developers are also responsible for the development of the roles that will deploy, setup, and instantiate these images. Now, there is a shared piece of information that multiple of these roles need, maybe it's a directory on the

[2018-09-03 14:16] nicholasrodriguez commented on #44758
To replicate this involves manual intervention as it arose from when I manually pulled servers out of vCenter to re-run the playbook to test other features.

Once the server is configured in vCenter using Ansible (first run always works);

1. Remove vmnic0 from the mgmt dvSwitch
2. Re-create a local vSwitch0 add vmnic0
3. Move the VMkernel to vSwitch0 and name the destination port group as Managem

[2018-09-03 14:34] Darcidride commented on #43246
Hi,

Same issue on Ubuntu 14.04 and ansible 2.6.3

[2018-09-03 14:39] #43412 closed, assigned to dagwieers

[2018-09-03 14:42] dagwieers commented on #43422
resolved_by #45088

[2018-09-03 14:42] #43422 closed, assigned to dagwieers

[2018-09-03 14:46] davidwneary commented on #45111
Hi @fabianvf, thanks for the quick response. I've got `openshift==0.7.1`. For completeness, here's my `pip freeze` output:

[code]

[2018-09-03 14:47] MarkusTeufelberger commented on #45115
You might want to report this in the awx repository instead of here.

[2018-09-03 14:49] fabianvf commented on #45111
If you use openshift 0.6.3 do you hit the same issue? May have broken something in the latest release...

[2018-09-03 14:52] davidwneary commented on #45111
Same issue if I run with openshift 0.6.3

[code]

[2018-09-03 14:56] MarkusTeufelberger opened #45119 "ssh_key_data in tower_credential should not be a file path"
##### SUMMARY

`tower_credential` has a parameter named `ssh_key_data`. I want to provide a (vaulted) string there, not a file path. `ssh_key_data` should be renamed to `ssh_key_path/file`.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

See summary...

I want to be able to store an

[2018-09-03 14:56] AbelinLamarisi opened #45120 "Nested tags (role level + task level) don't work"
##### SUMMARY
If the role is tagged with `tag1` and the task is tagged with `tag2`, it looks like the task has only `tag2` tag.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
general

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not important

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
playbook.yaml
[code]
roles/hello/tasks/main.yaml
[code]

Run `ansible-playbook playbook.yam

[2018-09-03 15:02] davidwneary commented on #45111
Also tried downgrading to `ansible==2.6.3` but same issue

[2018-09-03 15:03] fabianvf commented on #45111
Ah, I'm sorry, is this a resource defined with a custom resource definition? I think the default strategic merge patch strategy doesn't work with them. @willthames has done some work exposing the merge strategy as a parameter and fixing our default handling https://github.com/ansible/ansible/pull/44821

Can you check if the above patch is present in your local Ansible install?

[2018-09-03 15:28] davidwneary commented on #45111
Yes it is there and adding
[code]
to the task fixes the issue! Thanks a lot @fabianvf 👍

[2018-09-03 15:34] dagwieers commented on #43106
@smnmtzgr There was no time to refactor this before the v2.7 deadline, so this is scheduled for the v2.8 release. The only thing I need to know to complete this, is the name for this new module. I always leave that up to people with a better understanding and taste of ACI :-)

[2018-09-03 15:35] zoobab commented on #11692
Still have the issue with ansible 2.6.2:

[code]

[2018-09-03 15:41] Jean-Daniel commented on #21890
@ansiblejunky: While using `set_fact` may be a clean solution to expose variable, it also introduce module ordering issues. The modules that expose a variable MUST be run before the one that consume it.

With the actual `role`, variables are exporting at parsing time, which is far more helpful.

[2018-09-03 15:57] #45111 closed, assigned to nobody

[2018-09-03 16:26] dagwieers commented on #44987
Did you make any specific changes to your inventory or your configuration in order to target Windows systems ? If not, please read the documentation at: https://docs.ansible.com/ansible/devel/user_guide/windows.html

[2018-09-03 16:57] dzmitry-rudnouski opened #45124 "Error when unarchiving with exclude list"
##### SUMMARY

Unarchive with exclude option shows embarrasing error if exclude contains list with at least 2 items.
Not reproduced with 2.5.8, reproduced with 2.6.* only.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7, CentOS7

##### STEPS TO REPRODUCE

[code]
test.zip contains 3 files test1.txt,

[2018-09-03 20:07] tterranigma commented on #44987
Here is the inventory I use to target that Windows instance:

[code]

and in `group_vars/windows.yml`:

[code]

and in `host_vars/server.yml`:

[code]

I tried the `ansible` command without loading any `ansible.cfg` file and without any special environment variables.

Actually, the adhoc command succeeds in some files that I have under `C:\Users\me\Documents`. But it fails in the example in the fi

[2018-09-03 20:42] LeoUfimtsev commented on #45115
@MarkusTeufelberger
Thank you for your suggestion. I've created a AWX issue:
https://github.com/ansible/awx/issues/2221

[2018-09-03 20:42] #45115 closed, assigned to nobody

[2018-09-03 20:44] pratikkava1189 opened #45129 "VMware: Duplicate Ethernet Entry | Cloning through vmware_guest"
##### SUMMARY
Cloning virtual machine and assigning IP address, it create duplicate entry on OS level.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
ansible 2.5.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib

[2018-09-03 21:39] itdependsnetworks commented on #45083
Napalm ansible is not a core module, not likely to get support here. Most likely best bet is to go to join a slack community, by going to slack.networktocode.com and check out the napalm and/or ansible channels.

[2018-09-03 21:42] jborean93 commented on #44905
@madrover you can try and run things locally and see how it works, what you would need to do is;

* Create a copy of https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/powershell/Ansible.ModuleUtils.CommandUtil.psm1 to your server
* Create in a new admin PowerShell Window run; `Import-Module -Name Ansible.ModuleUtils.CommandUtil.psm1` (you may need to set the full path of the f

[2018-09-03 22:40] ebarault commented on #42090
i believe a simple case "archive as link even if broken" should be managed to keep it simple

[2018-09-03 23:05] willthames commented on #45111
@davidwneary one additional point worth noting is that if you're using the same task for both CRDs and non CRDs (for example if you just do `k8s: src=resource.yml` with both CRDs and standard resources) you can do

[code]

which will then prefer strategic-merge as now for the majority of tasks but retry with merge on failure

[2018-09-04 00:08] retr0h commented on #36395
Others are interested in this idea.

https://github.com/metacloud/molecule/issues/1463

[2018-09-04 00:41] shinux85 commented on #45107
still failing
TASK [win_ssm_2008 : Run the SSM Installation script] ***************************************************************************************************************************************************************************************
task path: /home/isopsxa/windows/roles/win_ssm_2008/tasks/main.yml:10
Using module file /usr/lib/python2.6/site-packages/ansible/modules/windows/win

[2018-09-04 00:51] thkala commented on #44917
I'll admit to some confusion. Why compare with 2.3, which didn't even have the same loader infrastructure? FWIW, I first noticed this issue as a regression from 2.5.2, where it works just fine, to 2.6; I tracked down the cause with git bisect.

I also believe the the commit in question did not intentionally _not_ change the argument to `_load_module_source()` when the variable was effectively rena

[2018-09-04 01:41] #44513 closed, assigned to zikalino

[2018-09-04 02:44] Fred-sun commented on #30392
@nitzmahone It seem not a bug according by @yuwzho advice. Could you help recheck this issue? If you have no other views, we can close it( has opened about one year).  Thanks！

[2018-09-04 02:54] zikalino commented on #31237
closing as can't be reproduced

[2018-09-04 02:54] #31237 closed, assigned to zikalino

[2018-09-04 03:32] #44855 closed, assigned to nobody

[2018-09-04 03:59] zikalino commented on #25352
now added "power_state" field into azure_rm_virtualmachine_facts….

[2018-09-04 03:59] #25352 closed, assigned to zikalino

[2018-09-04 04:04] shinux85 opened #45134 "unable torun powershell script on windows 2008 via ansible"
##### SUMMARY
unable to run a powershell script via ansible plabook on windows 2008R2 server.But able to run directly from the server.
 The same playbook works fine on windows 2012 servers

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_shell /win_command

##### ANSIBLE VERSION
ansible 2.5.0
[code]

[code]

[2018-09-04 04:32] bhushan8805 commented on #44557
As a workaround, you can use `prefix: ''` to apply lifecycle to the whole bucket

[code]

[2018-09-04 04:55] jhawkesworth commented on #45134
Hi,
Not sure what is happening but worth checking the privileges associated with the user, as described here: https://docs.ansible.com/ansible/latest/user_guide/become.html#id2
A couple of other things to check
1/ S2008r2 needs to be either up to date with windows updates, or at least a SP1 to fix a bug in WMF which stopped memory from being allocated properly to winrm processes, although i think

[2018-09-04 05:07] trishnaguha commented on #44894
@davetechfreak Will you please try this PR https://github.com/ansible/ansible/issues/44894?

[2018-09-04 05:28] #40013 closed, assigned to trishnaguha

[2018-09-04 05:36] Matthias-Beck opened #45136 "na_ontap_gather_facts fails on NetApp MetroCluster systems"
##### SUMMARY

When gathering system information from a MetroCluster System, the module fails. On non MetroCluster systems it works.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

na_ontap_gather_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ontap 9.3P6

##### STEPS TO REPRODUCE

Run the module against a NetApp MetroCluster system

[code]

##### EXPECTED

[2018-09-04 05:38] shinux85 commented on #45134
HI, The managed node OS is Microsoft Windows Server 2008 R2 Standard.Also want to amned that i am able to run bat script using win_command module on the same server.I have issue with win_command with ps1 scripts only

[2018-09-04 05:42] Matthias-Beck commented on #45136
cc @dprts

[2018-09-04 05:47] trishnaguha commented on #37376
Please use the nxos_ntp module instead.

[2018-09-04 05:47] #37376 closed, assigned to trishnaguha

[2018-09-04 05:47] shinux85 commented on #45134
also tried to call the ps1 script via bat script, then the error is as below
  InsecureRequestWarning)
fatal: [crmw09d]: FAILED! => {"changed": true, "cmd": "C:\\SSM_Agent\\agent.bat", "delta": "0:00:11.466000", "end": "2018-09-04 05:43:51.756337", "msg": "non-zero return code", "rc": 3762504530, "start": "2018-09-04 05:43:40.290337", "stderr": "\nUnhandled Exception: OutOfMemoryException.\n", "st

[2018-09-04 05:56] Fred-sun commented on #37158
@kwoodson Are you still here? do you still have this question? if not, we can close this issue? Thanks!

[2018-09-04 06:17] Fred-sun commented on #39958
@zikalino do you have any update about this issue? Thanks!

[2018-09-04 07:03] Tomorrow9 commented on #44957
Hi,
Anyone is doing/will do this? If not I can have a try.
Thanks.

[2018-09-04 08:27] yuwzho commented on #42407
-label bug
+label feature

[2018-09-04 08:32] Shinerrs commented on #14426
I agree,

I am having the same issue, I have given the user sudoers root.... I have forced change of users.

Nothing works and reasonable error to investigate. Maybe better exception handling is required here?

My playbook looks like this:

All other hosts work but the hosts: backup.

-vvv Shows

Sever is in AWS.

[2018-09-04 08:41] jhawkesworth commented on #45134
Perhaps you are hitting a quota limit in winrm?  see https://docs.microsoft.com/en-us/windows/desktop/winrm/quotas - remote shells are more limited than interactive login sessions.

[2018-09-04 08:54] Shinerrs commented on #18305
Well I can understand how +1 can be anoying, but not as annoying as no proper response about an issue in over 2 years and 6 major versions later.

I am dealing with this issue, I had an issue with https://github.com/ansible/ansible/issues/14426 issue. and then it didnt read in the group vars. so I used inventory_hostname instead and continued. Then I removed gather facts and I got a freeze instead

[2018-09-04 09:04] yuwzho commented on #43802
Since there is not azure_rm_applicationsecuritygroup  module right now. I do suggest adding the new module first  then add the new option for nsg

[2018-09-04 09:12] davetechfreak commented on #44894
@trishnaguha I just re-tested with the solution from the PR and still experiencing the same problem

[2018-09-04 09:16] mohannmurthy commented on #42977
I have deleted the NLB and recreated. It works fine and is idempotent. Thanks.

[2018-09-04 09:27] trishnaguha commented on #44894
@davetechfreak Do you have an Ansible version where it used to work on the same CentOS device?
We had similar issue opened https://github.com/ansible/ansible/issues/41477 earlier, where Ansible didn't seem to work on a specific CentOS and RHEL version, but started working after upgrading.

[2018-09-04 09:36] davetechfreak commented on #44894
@trishnaguha I tried all the versions here: https://releases.ansible.com/ansible/rpm/release/epel-6-x86_64/ its currently failing on all of them. Atm, I cant find any version where the nxos modules work on rhel/centos6.

[2018-09-04 09:43] unkaputtbar112 opened #45149 "vmware_guest_disk_facts.py queryUUID"
##### SUMMARY
An old problem related to VMware is identifying the disks accurately.
The SCSI-Controller/Device-ID in the vCenter doesn't match 1:1 to the scsi-address at OS-level.
I figured out, the only solid solution is to work with UUID's (set the disk.enableUUID=true in the VM-options to propagate them into OS).
But now there is the Issue, I can see the UUID on OS-Level, but to see it from vSp

[2018-09-04 10:07] dcarrillo opened #45151 "An exception occurred when using os_volume module"
##### SUMMARY

An exception occurre when using os_volume module to delete an existing cinder volume

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

The cinder volume is deleted.

##### ACTUAL RESULTS

[code]

[2018-09-04 10:21] endejoli opened #45154 "Powershell on linux: Unable to retrieve the specified information about the process or thread. It may have exited or may be privileged"
##### SUMMARY
while exeucitng powershell script on linux through ansible,
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
VERSION="16.04.3 LTS (Xenial Xerus)"

##### STEPS TO REPRODUCE

Execute below task through ansible tower

[code]

##### EXPECTED RESULTS

Powershell should be executed succesfully
##### ACTUAL RESU

[2018-09-04 10:26] Akasurde commented on #45149
@unkaputtbar112 Thanks for reporting this feature request.

[2018-09-04 11:06] madrover commented on #44905
You can see in the screenshot the output both in silent or interactive mode and the installer finishes successfully every time.
![image](https://user-images.githubusercontent.com/4009248/45027894-0f40c300-b043-11e8-8dbf-bed26668fd38.png)
You can also see the spawned executable, but it disappears once the installation is finished...

[2018-09-04 11:26] JanReiners opened #45156 "The inventory does not accept vault encrypted values"
##### SUMMARY

The inventory does not accept vault encrypted values.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804, host and target device
Ansible 2.6.3
Python 2.7.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The value in the inventory is decrypt

[2018-09-04 11:30] DXist commented on #43085
+1

[2018-09-04 11:32] Akasurde commented on #45149
resolved_by_pr #45157

[2018-09-04 11:32] Akasurde commented on #45149
@unkaputtbar112 Could you please check above PR and let me know if it works for you ? Thanks.

needs_info

[2018-09-04 11:33] MarkusTeufelberger commented on #45119
Another option would be to keep (and deprecate in a few versions) `ssh_key_data`, introduce the `file/path` alias and add a `ssh_key_content` or `ssh_key_string` parameter.

[2018-09-04 11:54] jborean93 commented on #44905
Ok so that’s a good sign that the win_shell/win_command modules are fine as they do exactly what you are running locally. The next thing to rule out is running the code from a Runspace and seeing if that works. This is a bit trickier and I’ll see if I can give you a decent set of instructions tomorrow morning (~9 hours). This could account for raw working compared to a module as raw doesn’t run in

[2018-09-04 11:58] laerus commented on #39617
also for plugins? @bcoca logs doesn't seem to include any traceback atm.

[2018-09-04 12:07] ashbecky opened #45160 "QXcbConnection: Could not connect to display"
fatal: [vm-xubuntu1710]: FAILED! => {
    "changed": true,
    "cmd": [
        "/tmp/ansible.zQqB6M.jetbrains_toolbox_download/jetbrains-toolbox-1.8.3868//jetbrains-toolbox",
        "--install",
        "gui=False"
    ],
    "delta": "0:00:00.301868",
    "end": "2018-09-04 14:06:26.367022",
    "invocation": {
        "module_args": {
            "_raw_params": "/tmp/ansible.zQqB6M.jetbrains_t