[2019-11-20 15:58] s-hertel commented on #64610
@onitake That would be great!

[2019-11-20 16:12] fdammeke commented on #50762
This is not completely related to the issue reporters environment, but I had a similar issue running ansible (brew managed) on OSX. I managed to install the library using `/usr/local/Cellar/ansible/2.9.1/libexec/bin/pip3 install netapp-lib`

[2019-11-20 16:22] dpierce377 commented on #65082
[cid:image001.png@01D59F94.D6DC36B0]

From: Pierce, David A
Sent: Tuesday, November 19, 2019 4:22 PM
To: 'ansible/ansible' <reply@reply.github.com>
Subject: RE: [ansible/ansible] ERROR! 'stat' is not a valid attribute for a Play cannot get stat to work even with sample pulled from online (#65082)

Sorry, my company does not allow me to access Google groups.

From: Jordan Borean <notifications@gith

[2019-11-20 16:23] caleb15 commented on #65089
Thanks :)

[2019-11-20 16:23] #65089 closed, assigned to nobody

[2019-11-20 17:44] Sneedes commented on #65072
Using a play to provision Linux VMs in Azure.  Each provisioned VM will have 0 to _n_ additional Azure managed data disks.  Each of the Azure data disks will be created as an LVM physical volume.  Then, each LVM physical volume can be added to an LVM volume group.  Finally, logical volumes are carved out from the LVM volume group.

By having the user specify the LUN number as part of data disk/LVM

[2019-11-20 17:51] DaazKu opened #65121 "Encrypting string from STDIN output result right after value"
##### SUMMARY

When encrypting a single variable from sdtin the resulting output appears right after the value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`ansible/lib/ansible/cli/vault.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OSX

##### STEPS TO REPRODUCE

1. Encrypt a string using STDIN
1. Input vault password 2 times
1. Type variabl

[2019-11-20 18:23] kirank89 commented on #49291
We follow the very same approach as shared above to provision and deprovision AWS resources for ECS deployments and looks like the issue still persists as I see the error `"Target group 'arn:aws:elasticloadbalancing:region:account:targetgroup/xxxx/xxxx' is currently in use by a listener or a rule"` when I try to deprovision a target group. However, to unblock the devs, I have re-created the servic

[2019-11-20 18:34] jvonau commented on #57342
This is still affecting ppa installs of 2.9.1-1 due to [the packaging.](https://github.com/ansible/ansible/blob/devel/packaging/debian/control) I don't want any python2 packages on my shiny new Ubuntu-19.10 and have to set interpreter_python explicitly to python3 to avoid falling back to using python2 due to the python2 dependencies being dragged in. I have been forced to install supporting python

[2019-11-20 18:49] rgaufman opened #65123 "Invalid options for import_tasks: ansible_connection (same with import and include_tasks)"
##### SUMMARY
ansible_connection stopped working inside of include statements with this error: ERROR! conflicting action statements: include, ansible_connection

##### ISSUE TYPE
- Bug Report / Regression

##### COMPONENT NAME
ansible-connection

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu Linux 18.04

##### STEPS TO REPRODUCE
I have this situation:

[c

[2019-11-20 18:50] jborean93 commented on #64995
The easiest way to figure out why it failed to import is to run `python -c " from requests_credssp import HttpCredSSPAuth"`. My guess is that one of the dependencies of requests_credssp hasn't been met so you cannot import it.

[2019-11-20 19:45] rgaufman commented on #65123
I found a workaround by doing this:

[code]

It's a bit more wordy than the previous:

[code]

But good enough. Thank you mackerman and jborean93 on #ansible on IRC!

[2019-11-20 19:45] #65123 closed, assigned to nobody

[2019-11-20 19:49] 4erpak commented on #65108
Same issue on macOS catalina.
This solution `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` doesn't help on latest macOS.

[2019-11-20 20:02] #64969 closed, assigned to nobody

[2019-11-20 20:03] #64684 closed, assigned to nobody

[2019-11-20 20:04] #64475 closed, assigned to nobody

[2019-11-20 20:09] #28325 closed, assigned to nobody

[2019-11-20 20:13] 0b11stan commented on #64682
I have the same problem uder archlinux with the 2.9.1 version of ansible. The workaround of @grcancelliere is working: `LC_ALL=C ansible-playbook ...` (to change your environment variable for this command only).

[2019-11-20 21:01] Jon-Rausch commented on #63045
The Ansible bot incorrectly marked this as depreciated version and ansible version 2.8.  It's actually in the current module version vmware_host_vmhba_info and an active bug still in version 2.10.

[2019-11-20 21:52] #61631 closed, assigned to GomathiselviS

[2019-11-20 23:03] samdoran commented on #64766
@sugitk I'm mainly just trying to better understand the use case. Most of the time logging is done via a callback plugin where task name is already available.

needs_info

[2019-11-21 00:08] prasadkatti commented on #65024
Did you recently upgrade to using python 3.8? Seems like the code is incompatible with python 3.8.

[2019-11-21 01:02] apple4ever commented on #59164
I confirmed this works for me as well

[2019-11-21 02:26] Fred-sun commented on #65072
@Sneedes I see, thank you for sharing!

[2019-11-21 02:27] Fred-sun commented on #65072
@mybayern1974 Would you please help take a look this issue? Thank you very much!

[2019-11-21 04:39] Akasurde commented on #60968
resolved_by_pr #65134

[2019-11-21 04:39] Akasurde commented on #60968
@dekimsey, Could you please check PR #65134 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-11-21 04:39] brstallings-clgx opened #65135 "Issue with accessing variables across roles within same playbook"
##### SUMMARY

I'm trying to configure Windows servers and take those server names across to another role in the same playbook to add them as nodes in our F5 appliances.  We are using Google Cloud and dynamic inventory.
I'm using 1 playbook to call 2 different roles.  The first role targets a dynamic inventory group named "_sbx_web_test."  The second role targets our F5 dynamic inventory group nam

[2019-11-21 05:03] Fred-sun commented on #54914
@mybayern1974 @haiyuazhang

[2019-11-21 05:25] msaladna opened #65136 "Templated keyed expressions no longer evaluate as of 2.9.0"
##### SUMMARY

Prior to 2.9.0 and still available as of 2.8.7, a templated key will evaluate correctly. Beginning in 2.9.0, a templated key is evaluated literally with no discernible workaround that I'm aware of to dynamically evaluate these keys.

This is still broken in the devel branch.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/plugins/strategy/__init__.py`

##### ANSIB

[2019-11-21 07:01] VincentHokie commented on #64788
hmm I think you're right, your problem is a different one from mine. The key is in what appears after `Failed to list Terraform workspaces`. For me it's `Error: Initialization required. Please see the error message above.` which is why the reconfigure flag makes sense.

[2019-11-21 07:21] ssoerensen commented on #34566
Is there any progress on this issue?

[2019-11-21 07:22] Fred-sun commented on #55350
@mybayern1974 @haiyuazhang Would you please help take a look this issue?

[2019-11-21 07:57] raksingh commented on #65108
Hi,

Yes, I am on Catalina 10.15.1

[code]

These appear to be two different issues, so my crash may be unrelated.

Thanks

[2019-11-21 08:00] zhengqisong opened #65139 "delegate_to can not run"
# The task definition:
[code]
# software environment

**host**:  127.0.0.1
**system os**: centos 7
**ansible version**: 2.9.1
**python**: python

**host**: 10.122.17.201
**system os**: centos 8
**python**: python3

**host**: 10.122.12.177
**system os**: centos 7
**python**: python

# exec ansible task, error message:
[code]

[2019-11-21 08:48] mkrizek commented on #65139
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-21 08:49] #65139 closed, assigned to nobody

[2019-11-21 09:03] Akasurde commented on #65108
Ansible 2.10.0.dev0 fails with error on Python 3.7.4. I am using Mojave 10.14.6

[code]

[2019-11-21 09:03] D3DeFi commented on #64291
@adarobin I completely agree. Your changes will fix `vmware_guest_info` module as well. Gonna test them

[2019-11-21 09:17] bogd commented on #55042
Thank you for your help. Just one more note - maybe you could add that "+cet1024w" part to the documentation (including a brief description of what it does and why it is needed)? It might help other people who (like me) are trying to use the module with username/password auth.

Maybe [here](https://docs.ansible.com/ansible/latest/network/user_guide/platform_routeros.html)?

Thank you for your help

[2019-11-21 09:30] mkrizek commented on #65136
This is expected. In order to template the keys, use `loop` instead of `with_dict`, like so:
[code]

This has been documented in the porting guide where you can read more about this change in behavior (a bugfix actually): https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.9.html#loops

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.

[2019-11-21 09:30] #65136 closed, assigned to nobody

[2019-11-21 09:35] Akasurde commented on #65108
Duplicate of https://github.com/ansible/ansible/issues/32499

[2019-11-21 09:35] #65108 closed, assigned to Akasurde

[2019-11-21 09:50] heuels commented on #55042
@bogd, that's a great idea, thanks! I've opened a pull request #65140.

[2019-11-21 09:56] sohnaeo opened #65141 "VMware: vmware_guest disable DNS settings"
##### SUMMARY
We have requirement to have dns disabled in our network due to security issues. We are using vmware_guest module to provison/clone vms. We leave the dns dictionary blank but it is still creating hosts:files dns entry in /etc/nsswitch.conf file. Is there any way if we have that feature if we want to disable dns completely .

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

 !com

[2019-11-21 10:05] mkrizek commented on #65116
[code]

I believe the behavior on Python 3 is correct. `the_list_length` is effectively made into a string during `set_fact` which then results in `TypeError` in the debug task where string and integer are being compared. To workaround this, you need to do one of:
1. cast `the_list_length` to integer: `"{{ the_list_length|int > 1 }}"`
2. use native Jinja2 feature: https://docs.ansible.com/ansible/

[2019-11-21 10:16] jborean93 commented on #65108
Just an FYI, macOS Catalina has exacerbated this issue where the env var `OBJC_DISABLE_INITIALIZE_FORK_SAFETY` no longer works. The issue relates to the use of [scproxy.get_proxies](https://bugs.python.org/issue31818) under a forked process like Ansible runs. This is deep within Python and there could be other issues but typically is found with projects that read proxy settings from the environmen

[2019-11-21 10:19] tgadiev commented on #60635
I used retry approach as workaround:

[code]

This gives idempotent result.

[2019-11-21 10:24] wioch opened #65143 "vmware_guest: Cannot create VM on standalone ESXi"
##### SUMMARY
I'm trying to create a single VM on standalone ESXi  (no vCenter here) with vmware_guest module. Task execution ends with error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
PyVmomi 6.7.3
CentOS Linux release 7.7.1908 (Core)
VMware ESXi 6.7.0 Update 2 (Build 13981272)

##### STEPS

[2019-11-21 10:43] DeLoWaN opened #65144 "gitlab_runner creates a new runner each time and does not update existing ones"
##### SUMMARY
gitlab_runner creates a new runner each time and does not update existing ones

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gitlab_runner

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

* Debian buster
* python 2.7.16
* python-gitlab 1.12.1
* Gitlab 12.4.2

##### STEPS TO REPRODUCE
[code]

Of course the description var is always the same. I also t

[2019-11-21 10:57] kalumkalac commented on #65144
Another information: when I try to delete the runner just by replacing `state: present` by `state: absent`, it does not delete the runner, Ansible reply "ok" and not "changed".

So I guess there is a problem while looking for existing Runners.

Worth to mention, I use Gitlab 12.4.2

[2019-11-21 11:14] wioch commented on #65143
Got it solved. Apparently hostname from ESXi host name is taken from _hostname_ command, not from /etc/hosts:
[code]

[2019-11-21 11:20] DE110283 commented on #38605
Facing the same issue (ansible 2.8.2, CentOS 7 (3.10.0-957.el7.x86_64)). It is not only the issue, that the play is listed as "changed" although nothing changed. We have a reboot handler in place which fires every time although nothing has really changed on the network setting. Please provide a fix asap.

[2019-11-21 11:34] pgbidkar commented on #65143
Hi @wioch , Please close the issue
Thanks

[2019-11-21 11:50] ngp-star commented on #54045
hi @harvey637
can  you just explain how to reproduce the issue , and can you just explain the following scenario what you mentioned in additional information section of this issue.

Relating to the issue #50923 it is still not possible to create vmware systems with several disks on different datastores (datastore_autoselect allways uses the first datastore, see #50923).

This needs the creation of

[2019-11-21 11:57] #65143 closed, assigned to nobody

[2019-11-21 11:57] misch42 commented on #64515
Patched manually, but still the same error:

'''
The full traceback is:
Traceback (most recent call last):
  File "/home/misch/.ansible/tmp/ansible-local-4322dlgh_tco/ansible-tmp-1574337393.9051335-10364516038627/AnsiballZ_ios_vlans.py", line 102, in <module>
    _ansiballz_main()
  File "/home/misch/.ansible/tmp/ansible-local-4322dlgh_tco/ansible-tmp-1574337393.9051335-10364516038627/AnsiballZ_io

[2019-11-21 12:06] Harry93 commented on #57965
@Fred-sun any updates here?

[2019-11-21 12:14] misch42 commented on #64515
'''list''' patch should be applied also to line 131:

'''
 --- vlans.py    2019-11-21 13:12:44.580184798 +0100
+++ /usr/local/lib/python3.7/dist-packages/ansible/module_utils/network/ios/facts/vlans/vlans.py        2019-11-21 13:12:54.512165480 +0100
@@ -127,7 +127,7 @@
                     config['state'] = 'active'
                 config['shutdown'] = 'disabled'
         elif vlan_info == 'Type

[2019-11-21 12:32] shahnewazrifat commented on #64442
Hi, when can we expect this to be merged ?

[2019-11-21 12:35] Akasurde commented on #64442
@sk1917 @shahnewazrifat Could you please check if PR https://github.com/ansible/ansible/pull/62741 works for you ? Since it superseded #64962 Thanks.

[2019-11-21 12:36] Akasurde commented on #65141
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2019-11-21 13:38] sk1917 commented on #64442
https://github.com/ansible/ansible/pull/62741 resolves my problem too.

[2019-11-21 13:48] mkrizek commented on #64999
Note for myself or anyone looking into this further:

The reason that it is working for `- role` and not for `{import, include}_role` appears to be that the latter implicitly wraps role's tasks into a block. That additional level seems to be problematic in the linear strategy for the `_get_next_task_lockstep` method which incorrectly inserts `noop` tasks resulting in the tasks being executed in th

[2019-11-21 13:58] brandoniffert commented on #55097
@rohit-smpx I just started using the yarn module recently and ran into this error. I tested PR #62348 and no longer get the error.

Also, I noticed that when I run the command multiple times, it always says it was changed. Is that intended?

I'm using this task:

[code]

[2019-11-21 14:40] sivel commented on #65116
Python2 does allow strings and integers to be compared, whereas python3 does not.

However, any string is greater than an integer on Py2.

[code]

On python3, this fails as type comparisons are more strict.

Closing this per above. You can explicitly cast to an integer when you are ready to use it, or use the jinja2 native functionality.

If you have further questions please stop by IRC or the mai

[2019-11-21 14:40] #65116 closed, assigned to nobody

[2019-11-21 14:46] sivel commented on #65135
Your issue is not with accessing a variable, but that you are trying to loop over a value which is not a list.

The error message indicates this:

[code]

You likely don't want to use `loop` in this case, you likely just want to access the variable you want to use.

However you can just make it a list, and get your desired outcome:

[code]

If you have further questions please stop by IRC or the m

[2019-11-21 14:46] #65135 closed, assigned to nobody

[2019-11-21 15:02] choeffer opened #65148 "feature request - module apt not displaying if connecting to remote repository or not"
##### SUMMARY

Ansible is not updating the apt cache on the remote host. Regarding the docs https://docs.ansible.com/ansible/latest/modules/apt_module.html , setting "cache_valid_time: 0" explicitly should set "update_cache=yes".

But even with adding "update_cache=yes" in addition, the apt cache is not updated. I can run the task several times in a row and the result is always the same and the ca

[2019-11-21 15:18] joshland commented on #60968
@dekimsey - be advised, you will need to patch the local SELinux python code as well, it has the same bug.

Selinux python utils: SELinuxProject/selinux#189

[2019-11-21 15:22] adarobin commented on #64291
I've been pulled to other projects, so I never had a chance to look into integration tests.  We have a production freeze through most of December, so I might have time then though.

[2019-11-21 15:44] gustavomcarmo opened #65149 "docker_compose fails on python 2.7"
##### SUMMARY
docker_compose fails on python 2.7 because of the dependency to more-itertools, which [starting with 6.0 dropped support for python 2](https://github.com/erikrose/more-itertools/issues/272#issuecomment-462612920)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_compose

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO

[2019-11-21 15:49] rohit-smpx commented on #55097
Great! Could you add a comment on the PR mentioning the same? It'll help to get it merged.

That is being tracked in a different issue: https://github.com/ansible/ansible/issues/57912

Will try to get to it in a separate PR.

[2019-11-21 15:56] rohit-smpx commented on #57912
Can be done using [`yarn check`](https://yarnpkg.com/lang/en/docs/cli/check/) command before running any install/add commands.

Any thought on if it would be better to verify it against `yarn.lock` and integrity hashes (`yarn check --integrity`) or just check `package.json` versions(`yarn check --verify-tree`)?

[2019-11-21 16:23] choeffer commented on #65148
Only if using a freshly created machine and only if applying the task the first time I get

[code]

All following executions of the play/task do not update the cache.

[2019-11-21 16:25] joelwking opened #65151 "ansible-galaxy message ERROR! Invalid collection name should specify reason collection name is invalid"
##### SUMMARY

The written documentation for `ansible-galaxy` and the error message from the program does not offer the user useful information regarding invalid characters in the collection name.

For example, underscores are permitted in the collection name, but dashes are not.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

ansible-galaxy
##### ANSIBLE VERSION

[code]

##### CON

[2019-11-21 16:26] felixfontein commented on #65149
If you look at the stack trace, you can see that this is a problem with docker compose itself, not with Ansible. Try to run docker compose directly on the machine (with latest more-itertools), that should fail as well.

[2019-11-21 16:42] #65020 closed, assigned to nobody

[2019-11-21 16:44] sshnaidm commented on #46362
As I understand from the current roadmap there are the plans to extract all community modules, including containers ones, to collections and external repos. Not sure it even will be under ansible umbrella.
If this is the case, I doubt if it makes any sense to continue to submit podman modules here. I have a few on review and a bunch in a pipeline. Although their merge goes quite slow. Maybe if any

[2019-11-21 17:17] dglinder commented on #57182
@dekimsey how did your testing (mentioned on May 30) go?

[2019-11-21 17:22] choeffer commented on #65148
Using tshark, I was able to verify that Ansible is checking for updates at the specific host, as an “apt-get update” would do. It was just not visible in the debug messages from Ansible. So “cache_updated : false” makes sense, because there was no change in the remote repository. I was just confused because there was no log/message that the remote repositories were checked/connected to.

Maybe a m

[2019-11-21 17:32] kclinden commented on #64354
I will try to get more verbosity for you in the next week.

[2019-11-21 17:45] gloria-silveira-looker commented on #57203
+1 to this...we are in need of this feature as well

[2019-11-21 17:59] Andrei-Pozolotin commented on #65024
yes, using python 3.8

[2019-11-21 18:27] mariolenz opened #65154 "vmware_datastore_cluster: Configure SDRS"
##### SUMMARY
`vmware_datastore_cluster` can only create and delete datastore clusters. The really cool thing about storage clusters is Storage DRS, but the module doesn't take SDRS into account. It would be great to be able to at least configure some basic SDRS stuff.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_datastore_cluster

##### ADDITIONAL INFORMATION
Create a datastore c

[2019-11-21 19:51] msaladna commented on #65136
Your example worked fine, but didn't work with my vars. After some additional work, usage of the block chomping indicator suppresses evaluation of the block if an undefined variable is encountered, despite having a default.

All things being equal and just changing the `dict` var, the following version works OK:

[code]

as does this version:
[code]

and this version:
[code]

Using the block chomp

[2019-11-21 19:54] prasadkatti commented on #65024
Looking at the `git blame`, that part of code hasn't changed since the module was created. So your issue isn't caused by upgrading the ansible version. It is a result of upgrading the python version to 3.8. You should update the issue summary to say that the module has compatibility issues with python 3.8.

[2019-11-21 20:29] eff917 commented on #51663
@JoshuaEdwards1991 our playbooks are full with different lockfile waits (dpkg.lock, dpkg-frontend.lock, etc.) this problem is inside the apt task, when update is true, it doesn't check locks halfway through the task. The current solution is to split the single task into apt-update, wait-for lockfile, apt-upgrade...

[2019-11-21 22:26] karthi81 commented on #55625
Is there any update on this issue?

[2019-11-21 23:41] magick93 opened #65157 "Ansible modifies or ignores PYTHONPATH"
##### SUMMARY

Ansible is ignoring or modifying the PYTHONPATH, which is causing various modules to fail, as they are looking for pip packages in the wrong place.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Control machine is Ubuntu 18.04.3 LTS.
Remote host is Centos 7

##### STEPS TO REPRODUCE

[code]

##

[2019-11-22 00:04] #65157 closed, assigned to nobody

[2019-11-22 00:17] karthi81 commented on #55625
if There is any workaround, it will be appreciated.

[2019-11-22 00:52] magick93 opened #65158 "k8s_facts fails with error"
##### SUMMARY
I'm trying to use the `k8s_facts` module, but it is returning an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOs 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expect to get facts/info returned regarding our Openshift cluster.

##### ACTUAL RESULTS

[code]

[2019-11-22 01:20] jhg03a commented on #64939
Works for me! Tested on `Ansible 2.10.0.dev0` at commit `95bd92da0`.  I verified this on OSX.

[2019-11-22 02:27] BerkhanBerkdemir commented on #56208
I can reproduce the same problem in Ansible 2.9.0

[2019-11-22 03:15] chillancezen commented on #65019
I'm looking into this.

[2019-11-22 03:19] Fred-sun commented on #57965
@Harry93 Thanks for your update, We trace this issue regularly. Thank you very much!

[2019-11-22 03:19] Fred-sun commented on #57965
@mybayern1974 @haiyuazhang Would you please help take a look this issue?

[2019-11-22 03:39] Uttam92477 opened #65161 "Typo error in vmware_guest_powerstate.py module"
##### SUMMARY
There is a typo error in [line 266](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_powerstate.py#L266)
**Expected:** module.exit_json(changed=False, details=to_native(e.msg))
**Current:** module.exit_json(chanaged=False, details=to_native(e.msg))

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_powerstate.py

[2019-11-22 03:44] Akasurde commented on #65161
@Uttam92477 Thanks for reporting this issue.

[2019-11-22 03:59] Akasurde commented on #65161
resolved_by_pr #65162

[2019-11-22 03:59] Akasurde commented on #65161
@Uttam92477, Could you please check PR #65162 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-11-22 04:22] #63920 closed, assigned to Akasurde

[2019-11-22 04:30] Akasurde commented on #65158
!component =lib/ansible/modules/clustering/k8s/k8s_info.py

[2019-11-22 04:30] Akasurde commented on #65158
Logs for readability -

[code]

[2019-11-22 04:31] Akasurde commented on #65158
Related to https://github.com/erikrose/more-itertools/issues/272

[2019-11-22 04:49] caphrim007 commented on #59864
aws_ec2_eip is one of those modules; I just got bit by this.

[2019-11-22 04:52] Uttam92477 commented on #65161
Works now.

[2019-11-22 04:52] #65161 closed, assigned to Akasurde

[2019-11-22 05:01] Akasurde commented on #65158
Either you can update to Python 3 or You can use version 5.0.0 (pip install more-itertools==5.0.0), which was the last version that worked on Python 2.7.

[2019-11-22 05:02] Akasurde commented on #65158
similar to https://github.com/ansible/ansible/issues/65149

[2019-11-22 05:08] Akasurde commented on #64564
resolved_by_pr #65153

[2019-11-22 05:08] Akasurde commented on #64564
@ninelciocoiu, Could you please check PR #65153 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-11-22 05:58] ngp-star commented on #51180
hi @strom18
is there any updates on this?

[2019-11-22 06:17] asnkh commented on #62856
@prasadkatti I prefer to extend `ec2` module itself rather than to create a new module.  But if extending `ec2` module is too difficult, maybe creating a new module is the only option.

[2019-11-22 07:21] chillancezen commented on #65019
hi @dicko82
I compared the arguments that fortigate resolved, and found only when you specify 'temporary' in the argument list, all the dynamic routing config is missing.

just comment the option 'temporary' will be all right.
[code]
since it works fine with my testbed, I believe this is NO bug.

also +@frankshen01

thanks,
Link

[2019-11-22 08:26] Tazminia commented on #64625
Hi @samdoran @jhg03a ,

Is this still open ? I have been using ansible for about a year now and would like to contribute.

Can you give me more information on where to begin.

- From which branch to start ?

- how to produce the first output ?

-  what is the expected output ?

[2019-11-22 08:35] laaubert opened #65169 "Ansible 2.9.1: "Maximum sessions reached" error with imc_rest module"
##### SUMMARY
After an upgrade from 2.8.4 to 2.9.1, I noticed a regression issue with the imc_rest module.
The module doesn't clean up its session after each connection to the UCS so after few tasks it won't be able to connect because there are too many session still opened on the CIMC server.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

imc_rest
##### ANSIBLE VERSION

[code]

##### CONFI

[2019-11-22 08:56] jwrn3 commented on #57061
I have found the same and reverted to 2.8.6 to fix the issue. Vaulted p/w stored individually in host_vars/$hostname.yaml. Example of failing playbook:

[code]

[2019-11-22 09:10] onitake opened #65175 "Implement custom CA certificate path option on all modules that interact over TLS"
##### SUMMARY

Currently, there is no option to interact with servers that use custom (non-public) CAs unless the CA certificate is added to the system-wide CA store or the `validate_certs: no` option is specified.

It would be very useful to have a task or ansible.cfg option to specify a custom CA path.

According to #12884 , there was an ansible.cfg option at one point of time, but it wasn't hon

[2019-11-22 09:16] davydovk commented on #64995
I reinstalled the package pywinrd but I get another error:
10.73.0.58 | UNREACHABLE! => {
    "changed": false,
    "msg": "credssp: Received error status from the server: (3221225581) STATUS_LOGON_FAILURE 0xc000006d",
    "unreachable": true

[2019-11-22 09:24] Akasurde commented on #64628
resolved_by_pr #65173

[2019-11-22 09:24] Akasurde commented on #64628
@AlanCoding, Could you please check PR #65173 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-11-22 09:58] kumy commented on #42409
I confirm that manually applying the patch from https://github.com/ansible/ansible/issues/42409#issuecomment-433039694 fixed the issue.

[2019-11-22 10:10] ngp-star commented on #54045
hi @harvey637

can you please elaborate on the following proposal what you suggested.

Proposal: Add a flag (e.g. creation_state: [powerdon|poweredoff] default('powerdon')) to the CREATING of a vmware_guest, how the state after creation
of a new guest should be. IGNORE this flag on a INSTALLED guest.

[2019-11-22 10:13] weshouman opened #65178 "Handle the case of from_yaml_all ouput not filtered by list"
##### SUMMARY
Show a meaningful error message for the case of not filtering with ```list``` after ```from_yaml_all```

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- k8s
- could be in other modules too as it's specific to how output coming from ```from_yaml_all```

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS Independent

##### STEPS TO REPRODUCE

-

[2019-11-22 10:14] bbaassssiiee opened #65179 "ansible-galaxy install fails with no useful error message"
##### SUMMARY
To use a recent git on RHEL7 I installed git from SoftwareTools
/opt/rh/rh-git29/root/usr/bin/git

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.7 (Maipo)

##### STEPS TO REPRODUCE
Use this command:
[code]
This is my requirements.yml, but

[2019-11-22 10:14] ShachafGoldstein commented on #64995
What parameters are you using? Are you sure the user and password are correct? Does the user have needed permissions?

[2019-11-22 10:27] weshouman commented on #65178
#65180 shows how to avoid such issue anyway.

[2019-11-22 10:55] Bubbelb opened #65182 "locale_gen comments/uncomments locales in a wrong on way Archlinux"
##### SUMMARY
When enabling for example the 'en_US.UTF-8' locale on Archlinux, not only the specific locale line is getting uncommented, but also the example line of 'en_US.UTF-8' in the header.

When disabling the said locale again via locale_gen, the comments (pond signs) are added again, followed by a space. In the default archlinux /etc/locale.gen, the header, including examples all start with

[2019-11-22 10:58] basos9 commented on #63228
Hello this broke some of our playbooks when upgrading to ansible 2.9.0

[2019-11-22 11:03] stefanhorning commented on #56930
To people coming here just looking for a quick solution on how to make this go away, just add the line `force_valid_group_names = ignore` to your `ansible.cfg` and the problem will go away.

[2019-11-22 11:36] milouse commented on #64682
If we are sure `get_name` will process the output of a `pacman -Qi`, I think a more reliable way could be to check the package name against the first line, as this place is forced by the command. By looking at the code it seems to be only called once as response to a `pacman -Qi`

For the `get_version` method, it's called twice, for a `pacman -Qi` and a `pacman -Si`. My proposal here is simply to

[2019-11-22 12:21] pjxiao commented on #45214
+1

I tried process substitution (`--vault-password-file=<(echo ${MY_PASSWORD})`) instead of `ANSIBLE_VAULT_PASSWORD`, but this didn't work (because Ansible calls `os.path.realpath()` to resolve an absolute path).

[2019-11-22 12:36] manov555 commented on #19352
I think **"{{ var_.stdout.split('\n')  }}"** could be also helpfull

[2019-11-22 12:39] vmindru opened #65185 "foreman_callback ignores verify_certs"
##### SUMMARY

foreman_callback plugin requires FOREMAN_SSL_CERT and FOREMAN_SSL_KEY even when verification is disabled
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

foreman callback plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

plugin will execute without SSL certificate ch

[2019-11-22 12:45] vmindru commented on #65185
will send a PR shortly

[2019-11-22 13:01] fumiyas commented on #63291
I'm facing the same issue with Debian unstalbe (controller) + Ansible 2.9.1 and CentOS 8 (nmcli target).

I can fix this problem with a patch in the pull request #62609.

[2019-11-22 13:43] swatinarvekar opened #65187 "Need Ansible Module which provides the same functionality as the 'yumdownloader' utility"
##### SUMMARY

Need Ansible Module which provides same functionality as "yumdownloader" utility

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
yum

##### ADDITIONAL INFORMATION

There are two ways to download a package without installing it.
One is using the "downloadonly" plugin for yum, the other is using "yumdownloader" utility.

But there is difference,

  - only downloads the package

[2019-11-22 13:45] vmindru commented on #65185
it seems i have missunderstoor  the purpose ... it seems it's not a bug it's on purpose those certificates are used to AUTH into the API.

[2019-11-22 14:03] fredericgiquel opened #65188 "Impossible to modify attribute of a ovirt VM created by cloning a template"
##### SUMMARY

We try to maintain VM's configuration using the ovirt_vm module using a single playbook (that does not change) and a yaml configuration file to describe the VM (that change during the life of the VM).
The VM is created from a template as a clone/independant version. The creation is done with ansible-playbook without error.
But when we try to change an attribute (for example : descri

[2019-11-22 14:05] #57937 closed, assigned to nobody

[2019-11-22 14:22] goneri commented on #65141
Hi @sohnaeo,

What makes you think this is caused by `vmware_guest`. What OS do you use? and is `/etc/resolv.conf` empty?

[2019-11-22 14:26] #64442 closed, assigned to nobody

[2019-11-22 14:33] samdoran commented on #55625
This is a problem with ESXi choosing to omit core parts of the standard Python library. We have no plans to account for this. Updating ESX is the best solution.

[2019-11-22 14:50] sivel commented on #65187
Thank you very much for your request. We have no plans currently to implement such functionality.  If you wish to contribute such a module, we would be open to review it for potential inclusion.

Otherwise, we recommend you use the `command` module, potentially coupled with `creates` for idempotency.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.

[2019-11-22 14:50] #65187 closed, assigned to nobody

[2019-11-22 14:53] goneri commented on #58541
The problem still exists. `is_datastore_valid()` is done at the datastore level, but a totally valid datastore can be mounted readonly on a specific ESXi. If we try to deploy a VM on this ESXi, the deployment will still fail.

[2019-11-22 14:53] goneri commented on #64764
Similar to: https://github.com/ansible/ansible/issues/58541

[2019-11-22 14:54] goneri commented on #58068
Similar to: Similar to: https://github.com/ansible/ansible/issues/58541

[2019-11-22 14:55] pgbidkar commented on #54045
+label needs_info

[2019-11-22 15:00] gregbkr opened #65189 "gitlab_runner can not register a runner "sudo: unable to resolve host xxx""
##### SUMMARY

First time I try to install gitlab-runner via ansible.

I am using the latest `python-gitlab`:
[code]

Go an error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Python-gitlab=1.13.0

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Run ansible from: Ubuntu 16.04 laptop
Target: AWS ubuntu 16.04

##### STEPS TO REPRODUCE

[code]

[co

[2019-11-22 15:04] sivel commented on #65175
Generally speaking there is.  You can place the ca cert into `/etc/ansible` on the target machine.  As long as the module utilizes `ansible.module_utils.urls` ca certs in that directory will be read.

The other option, is actually importing the ca cert into your machines bundle, which is a more robust solution.

I do not see us implementing a generic `ca_cert` argument to every module. This would

[2019-11-22 15:04] #65175 closed, assigned to nobody

[2019-11-22 15:06] harvey637 commented on #54045
hi @ ngp-star
when CREATING a vmware_guest this new guest is normally started after creation.
Mostly ok so, BUT:
If you need to create a vmware_guest that ist NOT powered on it is not possible in ansible. You have to go to the vmware_host to immediatly stop the system. Than you are able to modify the newly created vmware_guest to modify settings, that are not handled (or not correctly handled) in

[2019-11-22 15:23] Timoses opened #65190 "ovirt_nic errors with exception "Network 'infra-prod' was not found in datacenter 'BUA'.""
##### SUMMARY

ovirt_nic reports exception "Network 'infra-prod' was not found in datacenter 'BUA'.".
However, the VM resides in cluster "Default" which is located in datacenter "BAF".
The datacenter "BAF" does have a network named "infra-prod".
Hence, the `ovirt_nic` module should not throw the exception.

It is possible to manually assign the correct network to an interface for the VM via the GU

[2019-11-22 15:27] sivel commented on #65189
I believe this is due to https://github.com/ansible/ansible/issues/64770

Backports of the fix are open for the 2.9.x and 2.8.x releases.

In the mean time, you can work around this by installing an older version of the `python-gitlab` library.

[code]

!component =lib/ansible/modules/source_control/gitlab/gitlab_runner.py

If you have further questions please stop by IRC or the mailing list:

[2019-11-22 15:27] #65189 closed, assigned to nobody

[2019-11-22 15:45] ekohl commented on #65185
That's correct. You can probably look into different authentication (username/password, API keys) but there needs to be some authentication.

[2019-11-22 15:53] samdoran commented on #64625
@Tazminia

Start by [setting up your development environment](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#common-environment-setup). Then read [this section](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#contributing-back-to-ansible) on contributing back to Ansible.

I believe the goal is to display the task path on failed t

[2019-11-22 16:03] gregbkr commented on #65189
OK, thank you for your quick answer. With `1.12.1` it is working further.
However I don't understand what's ansible installing:

[code]
But on the target I see nothing:
[code]
And a disconnected runner is present in gitlab/setting/runner
![image](https://user-images.githubusercontent.com/5642000/69440825-cd846100-0d49-11ea-99d1-1fe4880a62b8.png)

Any documentation I should read?
Thank you for your

[2019-11-22 16:41] bryanasdev000 commented on #42378
Hi!

This continues in the latest version (2.9.1), has there been any progress in this issue?

From what I've researched, this have to be resolved in GCP Magic Modules? right?

Just for the records, what I've doing is create a managed instance group with multiple zone based in southamerica-east1 region.

The console REST equivalent to that is:

[code]

In the GCP modules, there's only the 'zone' p

[2019-11-22 17:24] vikinglooney opened #65194 "Gather facts not working, expiring after 10secs for Hosts installed with hadoop."
##### SUMMARY
Gather facts not working, expiring after 10secs.
However, this issue happenning to only hosts - ((RUNNING CLOUDERA MANAGER RUNNING HUE, HDFS, IMPALA, SPARK)), Every other hosts gather facts working fine.

:::::::::  "cmd": "/usr/bin/findmnt --list --noheadings --notruncate",

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
Gather facts hangs on VMs running Cloudera, hadoop, hive ap

[2019-11-22 17:30] #65194 closed, assigned to nobody

[2019-11-22 17:33] vikinglooney opened #65195 "Gather facts not working, expiring after 10secs for Hosts installed with hadoop."
##### SUMMARY
Gather facts not working, expiring after 10secs.
However, this issue happenning to only hosts - ((RUNNING CLOUDERA MANAGER RUNNING HUE, HDFS, IMPALA, SPARK)).

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
Gather facts hangs on VMs running Cloudera, hadoop, hive apps running on hosts. All other hosts work fine.

##### ANSIBLE VERSION
`ansible` `2.4.6.0`
`config` file = `/home/xxx

[2019-11-22 17:34] pgbidkar commented on #54045
Hi @harvey637 , Thanks for the details. if I understand it correctly here vmware_guest means virtual machine. You are trying to create virtual machine in poweredoff state.

vmware_guest module has flag to create VM in powered off state.
Please try task like this
[code]

or in your playbook set the state parameter to poweredoff.

Please let me know if more details required
Thanks

[2019-11-22 17:46] faxm0dem commented on #42409
It's a shame such an easy fix takes so long to get included let alone acknowledged

[2019-11-22 18:00] keitalbame commented on #58835
Seeing the same issue on ansible 2.7.14 and python version = 2.7.15+ (default, Jul  9 2019, 16:51:35) [GCC 7.4.0]

[2019-11-22 18:28] msaladna opened #65198 "Jinja <2.9 fails to evaluate templated keys on CentOS7"
##### SUMMARY

In reference to issue #65136, certain YAML patterns that fail to resolve templated keys beginning in Ansible 2.9.0. After more digging I've traced the issue back to Jinja 2.7 that ships with CentOS 7. Installing Ansible via EPEL, which pulls down the stock python-jinja2 package exhibits the problem. Installing via pip, which pulls down Jinja 2.10.3, does not.

The referenced issue,

[2019-11-22 19:17] sohnaeo commented on #65141
Hi @goneri
Thanks for the reply.
Yes, correct /etc/resolv.conf is empty and it is RHEL 7.6. If I do manually clone then no issues, /etc/nsswitch.conf get untouched.

I did further troubleshooting and it seems it is done by vmtoolsd and I can see there is an entry in /var/log/vmware-imc/toolsDeployPkg.log file that shows /etc/nsswitch.conf file modified.

It seems vmware_guest calls vmtoolsd or som

[2019-11-22 19:17] sivel commented on #65198
The templating changes in https://github.com/pallets/jinja/commit/1205e641ed9d1c4eb581b50ab3cc5313b9950773 mean that where in jinja2<2.9 we saw the undefined class used, in >=2.9 things are now templated fully.

Due to `AnsibleUndefined` being returned, and it's due to it's implementation, it passed the following check from `AnsibleContext._is_unsafe`

[code]

This is because `AnsibleUndefined.__g

[2019-11-22 20:25] jillr commented on #64292
Hi @saraogivinay, there is a proposed fix for "target_type is instance but all of the following are missing: protocol, port, vpc_id"` in #61256, would you be able to test with that branch and see if that's working for you?  Also could you please open a separate issue for stickiness not updating?

[2019-11-22 21:42] #64503 closed, assigned to nobody

[2019-11-22 22:02] mjmayer opened #65206 "AWS ECR Attribute Error"
##### SUMMARY
When using the aws_ecr module to configure an existing elastic container registry the module fails.
I suspect this is related to the recent code change #62871

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ecs_ecr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
REHL 7

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The module complete

[2019-11-22 22:03] Nand087 commented on #59381
Any solution to this issue yet?
When setting verbosity to 4 `-vvvv` all I get is the following:
[code]

[2019-11-22 22:05] #62969 closed, assigned to samdoran

[2019-11-22 22:15] msaladna commented on #65198
This resolves one case. What about in the situation of lookup('pipe')?

[code]

I can understand the intention to be cautious on unsanitized input from untrusted sources. I pull defaults from a system-owned ini-style file, but because it's sectionless lookup('ini') won't work. grep/cut are used to set the defaults and the dict key is determined dynamically from another var like in this example.

I

[2019-11-22 22:32] mjmayer commented on #65206
I ran my playbook on another computer and it succeeded. I updated botocore and boto3. Now it works.

[2019-11-22 22:32] #65206 closed, assigned to nobody

[2019-11-22 22:36] sivel commented on #65198
Data coming from lookups is always marked as unsafe.  When the templar is dealing with any variable that is unsafe, it "taints" the entire templating as being unsafe.  There is no explicit functionality to make an unsafe string safe. Nor can I see us ever implementing such a feature.

Also, I should mention that templating dict keys is not an explicit feature either, and it just so happens to work

[2019-11-23 03:38] pgbidkar commented on #54045
+label needs_info

[2019-11-23 04:48] lparkes commented on #54045
This is what the default value of ``state`` (i.e. ``present``) already does. I use this all the time to create new guests in a powered off state so that I can configure various other things needed to kickstart them and then I power on the guest. I'm running Ansible 2.8.x.

Here is a snippet from main.yaml of the role I use.

[code]

[2019-11-23 08:26] #55097 closed, assigned to nobody

[2019-11-23 08:39] arthurhenrique commented on #64971
I think that problem is about the zsh errors evaluation of rsync command.

When you run this rsync command using CLI:
`$ rsync xpto arthur@172.17.0.2:/home/arthur/test --chown=root:root --chmod=D0750 --chmod=F640`

Raises `(code 12)` error through zsh, because the --chown argument seems doesn't work, and in this case the file is not transfered by rsync.
[code]
But when rsync runs on bash, the resu

[2019-11-23 10:28] choeffer commented on #65148
-label bug
+label feature

[2019-11-23 15:27] solvaholic opened #65216 "syspatch.py references check_flag before assignment"
##### SUMMARY

syspatch.py references check_flag before assignment

`syspatch_run()` assumes either `apply` or `revert` will be set.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
syspatch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host OS is a OpenBSD vmm VM at 6.6 with `python-3.7.4`.

<details><summary>dmesg output</summary>

[code]

</details>

#

[2019-11-23 15:38] solvaholic commented on #65216
I added an `else:` in my `.local/lib/python3.6/site-packages/ansible/modules/system/syspatch.py` to set `check_flag` and `run_flag` to `[]`, which got me a result I was looking for:

[code]

[2019-11-23 19:25] gustavomcarmo commented on #65158
@magick93 before the k8s_facts task, you can use the workaround below, like I used to solve #65149

[code]

[2019-11-23 19:33] ljesmin opened #65220 "podman connection plugin order of arguments"
##### SUMMARY
Execution using podman connection fails due to issues executing podman on command line.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
podman connection plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OS: Fedora 31, cgroupsv1 is disabled.

##### STEPS TO REPRODUCE

[code]

As root, run ansible_playbook -vvv this_playbook.yml
There is a

[2019-11-23 20:45] tazerdev commented on #60044
The 'in a nutshell' request is, make the warning behavior consistent between setting an option individually vs setting the option via a loop.

Specifically I think the issue lies in the looping code somewhere because I do not receiving a warning when I do this:

[code]

But I do receiving a warning when I do this:

[code]

From an end user perspective, these tasks should be identical and generate

[2019-11-23 21:41] jerri opened #65223 "LibraryError doesn't exist in the module ansible.module_utils.postgres"
##### SUMMARY
Line 556 in the current file `ansible/modules/database/postgresql/postgresql_db.py` references an exception LibraryError, that doesn't exist. This leads to the code to stop at that point instead of showing the actual error. The error message is `AttributeError: 'module' object has no attribute 'LibraryError`. This line seems to be new since 2.9 version. It is still existent in the cu

[2019-11-23 23:45] Tazminia commented on #64625
Thank you for the clarification @samdoran , I will go through the documentation and update the issue as soon as possible.

[2019-11-24 00:28] LaurentDumont commented on #29405
I am seeing the same issue on Ubuntu 19.04.
[code]
It seems that if I'm using the comment field, the rule is applied a second time. If I remove the comment field, the rule is seen correctly and not added as a duplicate.

[2019-11-24 04:04] #34320 closed, assigned to nobody

[2019-11-24 04:18] akira6592 opened #65225 "Allow tower_host module to associate a host with groups"
##### SUMMARY

I want to associate a host with  groups using the tower_host module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- tower_host

##### ADDITIONAL INFORMATION

In the case of tower-cli, it is realized as follows.
[code]
However, it seems that this is not possible with the `tower_host` module.

[code]

[2019-11-24 04:44] AlanCoding commented on #65225
These modules are no longer being maintained here, and an issue for this is open at the repo hosting the collection that replaces them:

https://github.com/ansible/awx/issues/5177

Ping @beeankha

[2019-11-24 04:44] AlanCoding commented on #65225
close_me

[2019-11-24 04:47] Akasurde commented on #65223
`LibraryError` removed via 86354ff1fb559a943442805b046f3a8b06b2e91e

As a quick workaround, you can do -

[code]

[2019-11-24 04:50] Akasurde commented on #65223
!component =lib/ansible/module_utils/postgres.py

[2019-11-24 04:55] #65225 closed, assigned to nobody

[2019-11-24 05:36] Akasurde commented on #65216
resolved_by_pr #65217

[2019-11-24 05:36] Akasurde commented on #65216
@solvaholic, Could you please check PR #65217 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-11-24 08:51] Udayendu commented on #63376
I need to verify again with ansible 2.9.0 GA and then will let you know. We are still on NSX-V.

[2019-11-24 09:05] favoyang commented on #33147
Can you be more specific? I still got below error when `encrypt: true`

An error occurred (InvalidArgument) when calling the PutObject operation: Server Side Encryption with KMS managed key requires HTTP header x-amz-server-side-encryption : aws:kms

[2019-11-24 12:10] Tazminia commented on #64625
Hello @jhg03a @samdoran,

can you please check the [PR](https://github.com/ansible/ansible/pull/65233) and let me know if i have to fix something ?

[2019-11-24 14:50] Akasurde commented on #65216
resolved_by_pr #57259

[2019-11-24 14:50] Akasurde commented on #65216
@solvaholic, Could you please check PR #57259 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-11-24 15:02] L3n41c opened #65237 "`pacman` module fails when the locale is set"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module `pacman`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-11-24 15:18] #60729 closed, assigned to nobody

[2019-11-24 17:46] mnecas commented on #65188
Hi @fredericgiquel,
the issue is that after VM is cloned, the template of created VM is Blank and when you rerun the playbook it is trying to change the template.
**Fix**: You can remove the template parameter or change it in your "vm.yaml" file to Blank.
I might need to update docs about the clone parameter.

[2019-11-24 17:52] rrey commented on #37886
close_me

[2019-11-24 18:06] #37886 closed, assigned to nobody

[2019-11-24 20:56] mnecas commented on #65190
Hi @Timoses,
I have tried to reproduce the issue but it worked without a problem.
I know you said that the VM is in the data center with network infra-prod, but could you please check it once again. Because we get the data center from the VMs cluster and then get the networks in it.

[2019-11-24 21:43] magick93 commented on #65158
Thanks @gustavomcarmo

I tried your suggestion, with the following:
[code]

But, now I get the following error:

[code]

[2019-11-24 22:45] jhg03a commented on #64625
Thanks for the PR, I think it would be more valuable though to just add the variables to the existing `ansible_failed_task` magic variable.  That way you can use it if desired or pass that data to other tasks such as a slack module inside a rescue block.

[2019-11-24 23:28] jborean93 commented on #64654
Wouldn't the better option be to load the `short_description` from the fragment document instead of duplicating work?

[2019-11-25 03:09] Fred-sun commented on #56356
@mybayern1974 @haiyuazhang

[2019-11-25 05:07] karthi81 commented on #55625
I appreciate your update!

[2019-11-25 05:10] OnceUponALoop opened #65240 "vmware_dvs_portgroup: private vlan (pvlan) support"
##### SUMMARY
 vmware_dvs_portgroup is unable to assign a private vlan (pvlan) to a portgroup.
This issue is identical to the, incorrectly, closed #47649

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_dvs_portgroup

##### ADDITIONAL INFORMATION
In an environment that utilizes pvlans Ansible is unable to assign vlans to portgroups.

[2019-11-25 05:18] #64150 closed, assigned to nobody

[2019-11-25 06:43] Fred-sun commented on #58069
@mybayern1974 @haiyuazhang Please help!

[2019-11-25 07:53] Fred-sun commented on #58043
@mybayern1974 @haiyuazhang

[2019-11-25 07:58] Fred-sun commented on #58285
@bayern1974

[2019-11-25 07:59] Tazminia commented on #64625
Hello @jhg03a ,

so for you I should instead make changes to
https://github.com/ansible/ansible/blob/5c0b2c151ce7d7f2a4df2f1525d3eb6302a2e790/lib/ansible/plugins/strategy/__init__.py#L451-L454

so that the variable gets updated as expected with the path variable here
https://github.com/ansible/ansible/blob/5c0b2c151ce7d7f2a4df2f1525d3eb6302a2e790/lib/ansible/plugins/strategy/__init__.py#L515

[2019-11-25 08:12] JeromeH27 opened #65242 "IOS Module(config and command): Provide an answer in "configure terminal" context"
##### SUMMARY

I would like use IOS modules to configure a Cisco switch.

I need to provide an answer in the "configue terminal" context.

It seems that I can't do this with ios_config module. What I have tried:
------------------------------------------
- name: Convert to 802.1X mode
  ios_config:
    lines:
     - authentication convert-to new-style
     - yes
-----------------------------------

[2019-11-25 08:25] kshaidfr commented on #59381
Have done some research recently again, found this:
https://github.com/paramiko/paramiko/issues/1390

When there are multiple keys present in the ssh-agent AND the one for cisco switches is not the first one, the logon will fail. With only the cisco key present OR when the cisco key is added first, logon will be successful.

[2019-11-25 08:59] Nothing4You opened #65243 "Inconsistent documentation on _uri for cache plugins"
##### SUMMARY

Cache plugins like [jsonfile](https://docs.ansible.com/ansible/latest/plugins/cache/jsonfile.html) list the parameter `_uri`, however, the parameter in ini/env is `_connection`.
Looking at the files (checked jsonfile & yaml) the only place where `_uri` is referenced is the documentation.
Passing `fact_caching_uri` is not recognized.

##### ISSUE TYPE
- Documentation Report

##### CO

[2019-11-25 09:00] clammers commented on #65069
any updates?

[2019-11-25 09:03] mgsaranraj87 opened #65244 "VMWare : vmware_content_deploy_template module doesnt create VM from CL Template"
##### SUMMARY
Im trying to deploy a VM from Content Library using vmware_content_deploy_template module , ansible playbooks is running without action. i have waited for long time to check whether VM is getting created or not? . Finally i have to cancel the execution since its taking so much time.

Environment details

I have 5 VMWare host cluster with assosicated datastore cluter for it. I have 5

[2019-11-25 09:16] nqb opened #65245 "ansible-galaxy collection: add support for extra arguments"
##### SUMMARY
`ansible-galaxy collection` subcommand currently supports following arguments:
- init
- build
- publish
- install

It will be nice to support other arguments like it's done for `ansible-galaxy role`:
- remove
- list
- search
- info

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
collection
ansible-galaxy

##### ADDITIONAL INFORMATION
Usage will be the same as for `ansible-gala

[2019-11-25 09:42] #65223 closed, assigned to nobody

[2019-11-25 10:01] mgsaranraj87 commented on #65244
component name :

[2019-11-25 10:01] Timoses commented on #65190
Thanks for the quick response @mnecas .

I went ahead and tested below reduced example against our RHEV:
[code]

Result:
[code]

On the VM when selecting "Edit" in RHEV-M it shows:

In RHEV-M under Compute -> Clusters:

Under Network -> Networks / vNIC Profiles:
Both list `infra-prod` under datacenter `BAF-INFRA`.

Even when creating the VM in another cluster (e.g. `F-INFRA`) then it complains wit

[2019-11-25 10:06] mgsaranraj87 commented on #65244
!component = lib/python2.7/site-packages/ansible/modules/cloud/vmware/vmware_content_deploy_template.py

[2019-11-25 10:11] xaerowalk commented on #56576
Centos 7.6
install pip and then
`pip install docker`

fixed for me but usually I don't need and don't want pip at target machine

[2019-11-25 10:21] b1czu opened #65246 "Add feature for setting PTR Sync for ipa_dnszones"
##### SUMMARY

Hi,
I try to manage dns zones in FreeIPA through ipa_dnszones module. Unfortunately module can not enable PTR Sync in zone settings.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

lib/ansible/modules/identity/ipa/ipa_dnszone.py

[2019-11-25 11:05] andr1an commented on #50627
Sorry, looks like it was already fixed in https://github.com/ansible/ansible/pull/52166.

[2019-11-25 11:11] Akasurde commented on #65244
bot_broken

[2019-11-25 11:12] Akasurde commented on #65244
cc @Tomorrow9 @pgbidkar @anusha94 @goneri

[2019-11-25 11:56] Akasurde commented on #65216
Closing this since #57259 is merged. Please feel free to open a new issue if problem persists.

Thanks,

[2019-11-25 11:59] jsalgado78 opened #65249 "Exception from file connectionpool.py with every ad-hoc command executed on Windows node connecting by WinRM and certificate"
### SUMMARY

Exception from file connectionpool.py showed with every ad-hoc command executed on Windows node connecting by WinRM and certificate. Ansible 2.8.x doesn't show this exception

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible Connection WinRM

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

Dynamic inventory created with these variables for all nodes:

'all': {

[2019-11-25 12:01] Akasurde commented on #55625
@pgbidkar Could you please comment on this issue? Since you are working with VMware and provide good insights about this?

[2019-11-25 13:05] #48292 closed, assigned to nobody

[2019-11-25 13:38] mariolenz commented on #61421
@patede I think I have a way to implement this. If you are still interested, I would work on it and open a PR.

[2019-11-25 14:06] #65198 closed, assigned to nobody

[2019-11-25 14:11] fgleixner opened #65252 "rhn_register fails with "option values must be strings" on RHEL 8"
##### SUMMARY

running rhn_register with various arguments always fails with error message: "Failed to register with 'spacewalk.server.local': option values must be strings"

I modified /usr/lib64/python3.6/configparser.py to find out, which option shall be string, and it shows me the option "enabled" has value 0, which is integer.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rhn_register

[2019-11-25 14:21] pgbidkar commented on #65244
Hi @mgsaranraj87 , Thanks for reporting this. Few queries
Please can you share vSphere version?
```i have waited for long time to check whether VM is getting created or not?```
is there any task running status shown in vSphere UI client when playbook is running?

I will try to reproduce the issue in my env

Thanks

[2019-11-25 14:37] mgsaranraj87 commented on #65244
is there any task running status shown in vSphere UI client when playbook is running? - **NO**
Please can you share vSphere version? **- 6.5**

[2019-11-25 14:57] pgbidkar commented on #65244
Hi @mgsaranraj87 , Template deploy from content library is introduced from vSphere 67U1 I guess.
Thanks

[2019-11-25 15:02] benjdudas opened #65254 "The --force-handlers option if used with 'strategy: free' does not run handlers on all hosts."
##### SUMMARY

As of Ansible 2.7 the `--force-handlers` option is no longer running the handler/s on all hosts when used with strategy free. Only tested back to 2.5 and this was working as I would expect it to on 2.5 & 2.6.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

plugins/strategy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRO

[2019-11-25 15:23] JeromeH27 commented on #65242
issue fix with this:
- name: Convert to 802.1X mode
  ios_command:
    commands:
      - command: "conf t\r authentication convert-to new-style"
        prompt: 'you wish to continue'
        answer: y

[2019-11-25 15:23] #65242 closed, assigned to nobody

[2019-11-25 15:56] Akasurde commented on #65252
@fgleixner Thanks for reporting this issue. Could you please check if PR https://github.com/ansible/ansible/pull/65119 works for you? Thanks.

[2019-11-25 16:01] saargrincr commented on #60234
can confirm https://github.com/ansible/ansible/pull/60265 resolves the issue with python3

[2019-11-25 16:23] #34569 closed, assigned to nobody

[2019-11-25 16:57] DanyC97 commented on #41146
can someone kick bot and tag 2.9 release too ? it just happened to me too on python `2.7.10`, once i moved to python `3.7.x` all is good

[2019-11-25 17:02] geerlingguy commented on #59021
It seems this is in neither 2.8.x or 2.9.x, though it is a bugfix affecting both stable releases...

[2019-11-25 17:03] Xyon commented on #65001
In our testing, while experiencing this issue on an underpowered target box in Azure, I found that upping the timeout by an order of magnitude (to 50s) gave the process sufficient time in all the cases we found we were having this issue. I did this in my fork, so I'm happy to PR it, but I'm not _entirely_ convinced this _fixes_ the issue here really (it would be better to have this configurable, b

[2019-11-25 17:29] jeffwarnica opened #65258 "tower_job_launch fails on non-trivial extra_vars"
##### SUMMARY

tower_job_launch is documented to take `extra_vars` parameter. It is not clear what is allowed, but seems to take a simple k/v dictionary, as expected. However, it does _not_ take a deeper structure, or - and this is shocking - any data with a comma in it.

The error message (and comma failure) would seem to indicated the value for extra_var is mangled to a string and passed and re-

[2019-11-25 17:32] pgbidkar commented on #65244
Till vSphere 67
```The VM Template type is only supported in the vSphere Client. You can deploy virtual machines from VM Templates in a content library only in the vSphere Client```

Please refer https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vm_admin.doc/GUID-AE275F8E-6C7D-4654-A02E-9C3F6EF4B8BD.html

[2019-11-25 17:36] jhg03a commented on #64625
I'm not entirely positive how it comes into existence.  I think you're looking in the right area though.

Sample Playbook:
[code]
Sample Result (current, 2.8):
[code]
Also be aware that as of 2.9.0 and 2.9.1 it looks like have a regression that's addressed by [this backport](https://github.com/ansible/ansible/pull/64843) that's already merged in the head of development.

[2019-11-25 18:16] #65064 closed, assigned to nobody

[2019-11-25 18:50] starboarder2001 commented on #47945
This is still an issue, running into it now.

[2019-11-25 19:18] Andrei-Pozolotin commented on #65024
a workaround is to replace [ec2_instance.py#L1297](https://github.com/ansible/ansible/blob/v2.9.1/lib/ansible/modules/cloud/amazon/ec2_instance.py#L1297) in place:
`/usr/lib/python3.8/site-packages/ansible/modules/cloud/amazon/ec2_instance.py`

from:
[code]
into:
[code]

[2019-11-25 19:26] #64564 closed, assigned to nobody

[2019-11-25 19:31] AlanCoding commented on #65258
An FYI, we are no longer maintaining the modules here, because we are moving them to a collection, with the current issue tracking at https://github.com/ansible/awx/issues?q=is%3Aissue+is%3Aopen+label%3Acomponent%3Aawx_collection

In your case, I would like to get the YAML of the task causing the error to help reproduce it.

[2019-11-25 19:57] mariolenz commented on #64590
!component =lib/ansible/modules/cloud/vmware/vmware_guest_info.py

[2019-11-25 19:59] #64819 closed, assigned to nobody

[2019-11-25 20:03] AlanCoding opened #65262 "ansible-inventory --playbook-dir option gives warning when ~ in path"
##### SUMMARY
A warning message about invalid path seems to be incorrectly emitted when giving `~` (user directory) in the `--playbook-dir` option

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/inventory.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
Mac OS

##### STEPS TO REPRODUCE
In my case:

[code]

I don't believe that the specific

[2019-11-25 20:08] mariolenz commented on #64590
bot_broken

This issue affects 2.8, _not_ 2.10. Maybe it affects 2.10, too, but it's been opened for 2.8.5.

[2019-11-25 21:01] dchsueh opened #65263 "get_url does not return status_code on 304 result"
##### SUMMARY

[get_url is documented to always return a status_code](https://docs.ansible.com/ansible/latest/modules/get_url_module.html), but in cases where the request results in 304, it does not

The devel get_url.py at time of writing is [missing status_code in line 367](https://github.com/ansible/ansible/blob/7d51cac3301fddf6a876b2f75057f432b0841f04/lib/ansible/modules/net_tools/basics/get_u

[2019-11-25 21:21] omarqureshi opened #65265 "elb_target_group and elb_network_lb should support UDP"
##### SUMMARY
elb_network_lb and elb_target_group should support UDP, currently only HTTP, HTTPS and TCP are supported by ansible.

Based on the current pages, UDP and TCP_UDP are supported as protocols:
- https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-listener.html
- https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-target-group.html

##### ISSUE TYPE

[2019-11-25 21:23] jpgrall commented on #59056
Same issue is happening for the November cumulative update (KB4523205).

[2019-11-25 21:35] hunt3r commented on #59372
I ran into this only on python3.7, 2.7.10 works fine for me.

[2019-11-25 21:57] tquid opened #65266 "Add state: empty for the file module"
##### SUMMARY

Emptying a directory is cumbersome using native Ansible tools, so mostly people will use a shell-command `rm` to do it.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

file
##### ADDITIONAL INFORMATION

Adding state `empty` to the file module would cause the playbook to delete all files in a directory. It could also be applied to a file to truncate it to 0 bytes.

[code]

Thi

[2019-11-25 22:30] #44459 closed, assigned to samccann

[2019-11-25 22:44] cyborg-x1 commented on #18910
yes but I would specify a little more:
- directory_empty
  if exists directory is cleaned, otherwise directory created
- file_empty
  if exists contents are deleted, otherwise file created

just "empty" would be, if the "path" does not exist, empty does what? file or directory? Error?

[2019-11-25 22:50] planeturban opened #65267 "Xenserver state inconsistency"
##### SUMMARY
The states in xenserver_guest and xenserver_guest_powerstate have different naming conventions:
_guest: poweredon
_guest_powerstate: powered-on, powered-off (and so on)

It ought to be just one, right?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
xenserver_guest
xenserver_guest_powerstate

##### ANSIBLE VERSION
ansible 2.9.0

##### CONFIGURATION
Not applicable

##### OS / ENV

[2019-11-25 23:20] ThePrez commented on #64031
backdating ansible to 2.7.6 should at least temporarily work around this issue.

`lib/ansible/module_utils/facts/network/iscsi.py` also causes similar breakage.

[2019-11-25 23:23] bvitnik commented on #65267
Hi @planeturban . `poweredon` state for `xenserver_guest` is a leftover from early development and is kept for some internal backward compatibility. I'm more inclined to remove it completely than to rename it. All power related state management should be done trough `xenserver_guest_powerstate` module. Also, the idea was to keep the module compatible with `vmware_guest` module as much as possible.

[2019-11-25 23:50] planeturban commented on #65267
Ok, fine by me. :)

But in that case you probably want to update the "present" state. Since the guest has to be powered off to be reconfigured. The following will not work if powered on and change is true.

And this seems to be the logical way to do it, in my mind.

[code]

 Or, maybe it's a feature request? Either way, I'm fine with whichever solution. :)

I've solved this with some handlers and

[2019-11-25 23:51] seanw122 opened #65268 "azure_rm_virtualmachinescaleset fails when using image that requires plan information"
The module azure_rm_virtualmachine has fields for plan information. Module azure_rm_virtualmachinescaleset needs to have them and forward them when creating a VM with an image that requires plan info to be specified. The CIS hardened images from the Azure Marketplace is a prime example.

[2019-11-26 00:00] seanw122 commented on #65268
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
ansible verison 2.9
component name azure_rm_virtualmachinescaleset

[2019-11-26 00:01] bvitnik commented on #65267
I'm not sure I understand you correctly. Are you trying to detect in advance if reconfiguration is to be done or are you trying to reconfigure a VM in running (poweredon) state? Have you checked the `force` parameter?

[2019-11-26 00:07] allquixotic commented on #65223
I'm using Ansible 2.9.1 stable via RHEL7 and this is blocking my workflow. Is there a temporary workaround while this goes through the release process? When will this hit the RHEL7 stable release stream?

[2019-11-26 00:08] planeturban commented on #65267
(We've left the original issue now. :D )

Of course I haven't tried that in that task! :D

The use case I'm running is cloning an image, reconfigure it to my specs. OR reconfiguring a running vm.

And force did the trick. Thanks! 👍

[2019-11-26 00:13] bvitnik commented on #65267
If you find that original issue is not relevant any more, please close it. You can reopen it if you change your mind :).

[2019-11-26 00:15] #65267 closed, assigned to nobody

[2019-11-26 01:14] nicohouillon opened #65269 "environment section not populated with pre-task variables"
##### SUMMARY

before ansible 2.7.2 (at least) we could run pre-task before evaluating environment section .
since updated to 2.7.9 and above, environment section fails for undefined variable even though it is created in pre-task .

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7.7

#

[2019-11-26 01:19] nicohouillon commented on #65269
might be similar as issue 14181

[2019-11-26 01:29] #65151 closed, assigned to nobody

[2019-11-26 01:47] willthames commented on #59021
@geerlingguy It's almost quicker to raise the backport PRs than complain about the lack of them, no?

[2019-11-26 01:59] willthames commented on #59021
#65270 and #65271 raised for backport PRs.

[2019-11-26 02:14] geerlingguy commented on #59021
@willthames - Thanks for the PRs! I had that in my to-do list (though not sure what priority I'd be able to give, I was just testing `k8s_scale` because I hadn't tried it out before), I just wanted to make sure to note the fact that both are currently broken (so others coming to this issue aren't wondering if they're just using the module wrong).

[2019-11-26 02:46] jborean93 commented on #64905
@pabelanger The trouble with using `LooseVersion` is that it doesn't strictly order things the way that semantic versioning would expect. So if we were to do that then we would be going against what people would expect with pre release versioning. The 3 options I see are;

1. Add a dep to Ansible for a semantic versioning library so we can order pre releases properly
2. Add an optional dep for the

[2019-11-26 02:51] jborean93 commented on #65109
This was a problem with how we were parsing the collection name from the arguments. https://github.com/ansible/ansible/pull/65272 should fix that.

[2019-11-26 02:52] glasgow commented on #18910
I still think that since the whole point of this feature is to empty out a file or directory _while preserving its metadata_, it's fine if the object is required to exist.  If there's nothing to preserve, you don't really need to use "empty".

We already have other ways to create files or directories, so I guess I don't see the benefit of overloading this one to do both creation and emptying.

[2019-11-26 03:00] pabelanger commented on #64905
I would suggest we look to another project, for example openstack, which has a good solution to this for python packages. They use version logic with in pbr (https://opendev.org/openstack/pbr/) for semantic versioning, I suspect we can leverage a lot of that logic if needed.

How that falls into 1,2 or 3 would still need to be decided.

FWIW: We are using pbr today to generate our semantic version

[2019-11-26 03:10] #64575 closed, assigned to Qalthos

[2019-11-26 03:11] sam-github commented on #64031
We worked around this by backdating ansible to 2.7.6, in case anyone else is similarly stuck. A fix would be better!

[2019-11-26 03:14] jborean93 commented on #64850
@gamuniz are you able to have a look and see if https://github.com/ansible/ansible/pull/65273 returns what you are looking for. I basically just substituted the generic `Unknown error returned by Galaxy server.` with the HTTP status reason to give some more context around the HTTP code. Apart from that I'm not sure what else we can do.

[2019-11-26 03:17] jborean93 commented on #64905
That would be option 3 as per https://opendev.org/openstack/pbr/src/branch/master/pbr/version.py. It remains to be seen if the ability to sort pre-release versions instead of an explicit opt in is what we want to have.

[2019-11-26 05:40] Akasurde commented on #65240
resolved_by_pr #65256

[2019-11-26 05:42] Akasurde commented on #65252
needs_info

[2019-11-26 05:52] Fred-sun commented on #59134
@mabayern1974 @haiyuazhang  Can you help to look at the azure_rm_virtualmachine's parameter "zones" design specification, it should be characters or integers, not lists. I'm not sure what the design specifications are. Thank you very much!

[2019-11-26 06:02] Andersson007 commented on #65223
@allquixotic as a tmp solution you could find postgresql_db.py in your filesystem and remove/comment these lines
https://github.com/ansible/ansible/pull/65229/files

[2019-11-26 06:23] rmarable commented on #53217
Has there been any update on this request?

[2019-11-26 06:51] Fred-sun commented on #65268
@seanw122 Thank you for opening this question! In order to analyze and solve the problem you met, according to https://github.com/ansible/ansible/issues/new/choose, please provide the format of the report? Thank you very much!

[2019-11-26 06:58] pgbidkar commented on #55625
Hi @karthi81 , I am asking it very late.
is the playbook executed remotely on ESXi host?
Please can you share the playbook to reproduce the issue?

I am surprised that import is failing in 60U3. ESX 60U3 has Python 2.7.13 and multiprocessing is standard package from 2.6.
```New in version 2.6```
https://docs.python.org/2/library/multiprocessing.html

[2019-11-26 08:53] rule88 opened #65277 "tmp files not removed when using delegate_to in synchronize module"
##### SUMMARY
When using the synchronize module to synchronize files between directories where the source and directory are the same host, tmp (~.ansible/tmp/) files won't be removed after completion.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- synchronize

##### ANSIBLE VERSION
[code]
Also affects 2.9.1 (upgraded in place with RPM)
[code]

##### CONFIGURATION
default:
[code]

##### OS

[2019-11-26 09:17] Fred-sun commented on #65268
@seanw122 Also need you'r playbook, reproduce steps, expected results and actual results. Thank you very much!

[2019-11-26 10:25] mgsaranraj87 commented on #65244
Thanks for sharing information.

But in the ansible documentation , its was mentioned this will support from version 6.

**Content Library feature is introduced in vSphere 6.0 version, so this module is not supported in the earlier versions of vSphere.**

[2019-11-26 10:58] egnirra commented on #65249
I have the same issue but only when using CredSSP, using certificate authentication it works normally.

`Traceback (most recent call last):
  File "/usr/lib64/python2.7/logging/__init__.py", line 851, in emit
    msg = self.format(record)
  File "/usr/lib64/python2.7/logging/__init__.py", line 724, in format
    return fmt.format(record)
  File "/usr/lib64/python2.7/logging/__init__.py", line 467,

[2019-11-26 11:17] ngp-star commented on #55216
hi @fdalrymple-hp
i am able to reproduce the issue, this issue is with permission on the folder name in which vm got created.

i created the folder with read only permission, with this i got same error message what is mentioned in the issue,
following is the error message.
 "msg": "Failed to clone virtual machine test-vm2 to folder 'vim.Folder:group-v1022' due to permission issue: Permission to pe

[2019-11-26 11:18] #63907 closed, assigned to nobody

[2019-11-26 12:08] jvalderrama commented on #51062
@Fred-sun I updated to v2.9 my ansible version and I was testing the feature to use the **azure_rm_manageddisk** module to create the **data_disks** after create the virtual machine, therefore as far as I understood the **create_option** will allow to set the **custom image**, but I don't have so clear the final definition for the **custom image** -if this affirmation is right- using this module.

[2019-11-26 12:10] pgbidkar commented on #65244
Thanks @mgsaranraj87 pointing this out. I will fix the doc
Actually Content Library feature is introduced in 6.0, but vmtx template APIs are introduced from vSphere 67U1.

[2019-11-26 12:14] pgbidkar commented on #55216
This is Basically Folder Permission issue. If you dont have Write or Admin privileges for the folder on which you are trying to create the VM, then error/issue reported here is expected.

[2019-11-26 12:15] pgbidkar commented on #55216
+label needs_info

[2019-11-26 13:01] cesarjorgemartinez commented on #64935
Hi,

In my environments this issue appears using Ansible version 2.8.2, 2.8.7, 2.9.1.

In Ansible 2.6.5 is working correctly, the handler is executed correctly:

[code]

Using the other versions:

[code]

When will this bug be fixed? It's very important

Regards,
Cesar Jorge

[2019-11-26 13:09] jpgrall commented on #59056
Adding a win_reboot just before the start of win_update seems to have provided a valid work around.  BTW, In my scenario this playbook is being ran on a new system build.

[2019-11-26 13:12] nhojpatrick opened #65282 "wait_for module path tail_lines"
##### SUMMARY
At the moment wait_for with path and search_regex, scans the file from the start for the specified pattern given.

tail_lines would specify how far to scroll back in the current file to find the pattern being monitoring the additions to the file.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
wait_for

##### ADDITIONAL INFORMATION

If you rotate log files daily, not on each b

[2019-11-26 13:13] nhojpatrick commented on #65282
fyi I've tried to create a patch for this feature but can't get it work

[2019-11-26 13:31] fredericgiquel commented on #65188
Hi @mnecas ,

Thanks for the answer. I tested with the line 'vm_template: ""' in the playbook and the description attribute of the VM has been modified without error.

But in my opinion, it's not a fully satisfying solution because we need to edit either playbook or yaml file. If the VM is destroyed and we want to recreate it, we need to edit again the yaml file to respecify the template.

I'm a n

[2019-11-26 13:56] willthames commented on #59021
k8s_scale needs a few more changes for openshift > 0.9 (as @Sephtex alludes to) but that should be manageable (I suspect we'll just need openshift > 0.6)

[2019-11-26 14:39] seanw122 commented on #65268
Playbook to create a VM Scale Set using a shared image in the Azure Image Gallery listed below. The image is a CIS hardened image from the Azure Marketplace. It requires a plan to be specified.

- name: Create Azure VM Scale Set
  hosts: localhost
  connection: local
  vars:
    resource_group: dscrsgcisvm
    admin_username: notadmin
    admin_password: 1GoodPwd@Here
    vnet_name: dscvnet
    su

[2019-11-26 14:44] #47013 closed, assigned to nobody

[2019-11-26 15:06] #61811 closed, assigned to Qalthos

[2019-11-26 15:27] gtie commented on #64016
@hugocartwright, is perhaps the failing test a consequence of changing the test URL from `https://{{ httpbin_host }}/get` to `https://{{ httpbin_host }}/html`? What is the purpose of the URL change so far away from the actual double-download assertion (mid-file vs end-of-file)?

[2019-11-26 15:46] s-hertel commented on #64935
@cesarjorgemartinez It seems like you may be having a different issue. There isn't different behavior on 2.6.5 using the reproducer in this ticket. Adding this feature would be a significant change to how imports/includes fundamentally work and would probably need to go through the proposal process if it was something we wanted to add.

[2019-11-26 15:53] geerlingguy opened #65285 "Start Kubernetes Working Group"
##### SUMMARY

I would like to kick off the Kubernetes Working Group for Ansible.

There is already something of an informal working group consisting of at least the following:

  - @willthames
  - @fabianvf
  - @geerlingguy
  - @maxamillion
  - @pilou-
  - @chris-short
  - @shawn-hurley
  - @tima
  - @mmazur
  - TODO — there are definitely a few more people to add here...

I hope to get a more co

[2019-11-26 15:58] geerlingguy commented on #57244
+label digital_ocean
+label cloud

[2019-11-26 16:29] #57247 closed, assigned to jillr

[2019-11-26 16:47] nkakouros commented on #50441
@rambleraptor I took a look at the tests you mention and you are missing tests for the disabling and enabling of a firewall. I am pretty sure that if you add coverage for that, the tests will fail.

[2019-11-26 16:47] cesarjorgemartinez commented on #64935
Then, I create a new issue?

[2019-11-26 17:04] fgleixner commented on #65252
Yes, PR #65119 works. Thank you.

[2019-11-26 17:08] silverdr opened #65290 "No task names on stdout"
##### SUMMARY
After updating to the current version (2.9.1 at the moment) the ansible-playbook output does not show the tasks being run. It does show the colourful results, even verbose ones but no tasks that are being executed. Example:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-11-26 17:13] samccann commented on #64654
This is the only instance afaik where we got clever with using the doc fragment to supply the short description. We now have what seems to be a working PR to fix this manually. I'm inclined to merge that  since it works and resolves this issue.

[2019-11-26 17:34] nkakouros opened #65291 "`gcp_compute_instance` fails due to `deletionProtection` key"
##### SUMMARY

Using the `gcp_compute_instance` module to create an instance fails with the following error:

[code]

The instance is successfully created online though.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux latest, python 3.8

##### STEPS TO REPRODUCE

Just try to c

[2019-11-26 17:35] s-hertel commented on #65111
ansible_facts is an internal keyword so Ansible will overwrite it with the correct value (such as here, https://github.com/ansible/ansible/blob/devel/lib/ansible/vars/manager.py#L295) so I agree with the way you resolved the problem. If you're debugging with ansible-inventory, the CLI tool just deletes internal keys to give an accurate representation (adding a warning in addition to that would pro

[2019-11-26 17:40] nkakouros commented on #65291
Actually, changing `deletionProtection` to ` deletion_protection` in the failing line fixes the error.

[2019-11-26 18:01] fabianvf commented on #65285
+100, I think it's definitely past time we did this. I'm happy to sign on as a lead. I also wanted to point out that in addition to the members and use cases you listed, there's also a large community built around installing and managing Kubernetes with Ansible in the [kubespray project](https://kubespray.io/)

[2019-11-26 18:11] #64939 closed, assigned to nobody

[2019-11-26 18:18] tima commented on #65285
@geerlingguy please add me to this proposal.

[2019-11-26 18:35] #64937 closed, assigned to nobody

[2019-11-26 18:41] #65111 closed, assigned to nobody

[2019-11-26 19:49] ShachafGoldstein commented on #59056
Do you see the server rebooting in your scenarios?, could the issue be around not actually rebooting the server?

[2019-11-26 19:50] s-hertel commented on #65269
This was introduced in https://github.com/ansible/ansible/pull/41411. I feel like the current behavior makes much more sense. If `environment` is set at the play level, then it should be used for pre_tasks as well. I'd set the environment inside `tasks` if I only expect it to be evaluated after pre_tasks.

[2019-11-26 19:53] gundalow commented on #65285
Excellent stuff, thanks y'all
Everybody that has a GitHub account has edit powers on https://github.com/ansible/community/wiki/Kubernetes

All kubernetes things: https://github.com/ansible/ansible/labels/k8s

[2019-11-26 20:06] aschult5 opened #65293 "group module return values undocumented"
##### SUMMARY

group module return values are undocumented.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

group
##### ANSIBLE VERSION

[code]

[2019-11-26 21:35] tylarb opened #65295 "Ansible variable becomes defined in loop by `default` notation, despite when controller"
##### SUMMARY

If a `| default ` is used in a loop, the variable in front of the "pipe" becomes defined before the "when" statement is resolved.

This leads to tasks getting executed in an unexpected way.

Whereas for the "loop" example given, you can skip the task with an empty list, and the end result is the same, we believe that a variable should not be defined in a tasks until the "when" state

[2019-11-26 22:04] jpgrall commented on #59056
Yes, it's kicking off a reboot shortly after the attempted install. It's as if it gets a completed return call rather than a wait.  Adding the manual reboot before the win_update process is working on multiple runs now.

[2019-11-26 22:10] ShachafGoldstein commented on #59056
So if you simply reboot and then install updates everything works? Or you reboot between updates?

Can you post a verbose output of a failed one and a working one?

[2019-11-26 22:34] mullnerz opened #65297 "env lookup plugin error with utf8 chars in the variable value"
##### SUMMARY

The env lookup plugin fails with an error when the environment variable value contains an UTF8 character.
The problem exists since Ansible 2.9 and only with Python 2.7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

env lookup plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2019-11-26 22:39] seanw122 commented on #65268
I forked the code and made some updates. Tomorrow I'll attempt to run and test this locally. I've been using Azure Shell until now.
[azure_rm_virtualmachinescaleset.py.txt](https://github.com/ansible/ansible/files/3894294/azure_rm_virtualmachinescaleset.py.txt)

[2019-11-26 22:56] mwhahaha opened #65298 "using setup module under a role provide via a collection fails due to the wrong module being picked"
##### SUMMARY

A role provided via collection that includes a call to setup: gather_subset fails because the windows powershell version of setup is picked.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible plugin loader

##### ANSIBLE VERSION

[code]

Also tested
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

On a fedora31 host running under python 3.6.8 in a virtual envi

[2019-11-26 23:02] mwhahaha commented on #65298
I tracked this down to what appears to be the collection list difference provided to https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/loader.py#L371

When running under a collection, the collection_list=['mwhahaha.failure', 'ansible.builtin'] where as if you create a basic playbook that contains the setup module as a top level, it would be collection_list=['mwhahaha.failure', 'ans

[2019-11-26 23:10] mwhahaha commented on #65298
Because it gets ansible.builtin and not ansible.legacy, it's likely running into problems with this block: https://github.com/ansible/ansible/blob/4c589661c2add45023f2bff9203e0c4e11efe5f6/lib/ansible/plugins/loader.py#L398-L408

[2019-11-26 23:50] seanw122 commented on #65268
Trying to build the module locally. I was not expecting it to reach out to Azure. Should it?    If so, do I simply execute _az login_ ?

$ python3 -m azure_rm_virtualmachinescaleset /tmp/args.json

{"msg": "Error retrieving resource group dscrsgcisvm - Get Token request returned http error: 400 and server response: {\"error\":\"invalid_grant\",\"error_description\":\"AADSTS700082: The refresh toke

[2019-11-27 00:54] jtstuedle commented on #64765
I've got a module rds_cluster_snapshot put together for this - I'll upload it to my github tonight and then work on creating a fork to let the larger community review and look at it for potential integration into the main branch.

[2019-11-27 01:00] willthames commented on #59021
#65299 will fix k8s_scale for newer openshift module (and add some tests!)

[2019-11-27 02:05] Fred-sun commented on #59770
@bpados Can you try PR #65279? It should be able to fix your problem! Thank you very much!

[2019-11-27 03:37] whs-dot-hk commented on #64016
Hi, can I start working on this issue?

[2019-11-27 03:59] lkthomas commented on #63617
I am new to Ansible and I hope I could contribute, do you think using generic DNS dig method would work instead of query LDAP?

dig +short _ldap._tcp.example.com SRV

I think it's not hard to include DNS "dig" feature in Python, module dns.resolver would work

[2019-11-27 04:06] lkthomas commented on #65266
https://stackoverflow.com/q/38200732/2940723

You don't have to use shell rm command, can you check if the solution above work for you?

[2019-11-27 05:20] devarshishah3 commented on #64737
@albertshort You can reference to another schema and template for VRF using,

[code]

This will attach VRF from the schemaX and templateX to the BD you are creating.

[2019-11-27 05:21] tarjbains opened #65303 "Trying to upgrade Cisco 9300 sw, stuck on clean flash"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

I am trying to create an Ansible playbook to upgrade an IOS on cisco 9300 switch. First, it requires to delete the old files via a command (Switch# request platform software package clean switch all) and then upload the file and upgrade the switch. However, when ansible runs, it delete files from fla

[2019-11-27 05:46] robertdebock opened #65304 "zabbix_host fails: zabbix_host.py .. KeyError: 'inventory_mode'"
##### SUMMARY
The module zabbix_host [fails](https://travis-ci.org/robertdebock/ansible-role-zabbix_web/jobs/617545189#L653) using:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian
Centos-7
Centos-8
Ubuntu

##### STEPS TO REPRODUCE
Git clone my [zabbix_web Ansible role](https://github.c

[2019-11-27 05:51] Fred-sun commented on #51062
@jvalderrama Sorry for the late reply. The azure_rm_manageddisk module currently only supports copy,import,empty three modes. Thank you very much!

[2019-11-27 05:55] nicohouillon commented on #65269
it kinda makes sense yes to evaluate `environment` at first, however it ruins the whole logic behind this keyword usage .
We can group tasks in block and therefore use `environment` nicely, same goes with `roles` , we could pass `environment` to all roles at once .

[2019-11-27 06:25] Akasurde commented on #64939
Backport 2.9 #65301

[2019-11-27 06:30] lkthomas commented on #65263
Sorry, I am new to contribute on GitHub, please correct if I make any mistake.

[2019-11-27 07:35] whs-dot-hk commented on #64016
/assign @whs-dot-hk

[2019-11-27 07:47] mgsaranraj87 commented on #65244
@pgbidkar Thanks for sharing the information. i would like to suggest below this module.

**1. It will be useful, if you can add regex feature to choose the template name from content library.**

Now im trying to use vmware_deploy_ovf , but in this not module it was not mentioned which are the mandatory parameters to use.

Can you help what value i have to use in networks paramater , im trying to

[2019-11-27 07:53] #63721 closed, assigned to nobody

[2019-11-27 07:53] #64319 closed, assigned to nobody

[2019-11-27 07:55] #64506 closed, assigned to nobody

[2019-11-27 08:08] Fred-sun commented on #65268
@seanw122  As you can see from the document azure_rm_virtualmachinescaleset, image supports three things. In addition, the error information in item 3 above seems incomplete. Could you please provide the complete information? Thank you very much!
···e.g.

            - If a string, the image is sourced from a custom image based on the name.

            - If a dict with the keys I(publisher), I(of

[2019-11-27 08:09] Fred-sun commented on #65268
The reset- API documentation describes why plan is used, I'm not sure if it helps you, please check. Thank you very much!
link: https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate#create-a-scale-set-with-a-marketplace-image-plan.

[2019-11-27 08:13] pgbidkar commented on #65244
Hi @mgsaranraj87 , in vmware_deploy_ovf module, value for networks param is of type Dictionary.
You should pass something like
`{"VM Network": "VM Network"}`
It is key: value mapping of OVF network name, to the vCenter network name.

1. It will be useful, if you can add regex feature to choose the template name from content library.

Sure I will explore this to do this change.

For now can we clos

[2019-11-27 08:32] davydovk commented on #64995
The user didn`t have needed permissions.
Thanks.

[2019-11-27 08:32] #64995 closed, assigned to nobody

[2019-11-27 08:46] alexdepalex commented on #57099
We're encountering the same issue. Our keystone deployment heavily depends on domains and this bug prevents us from configuring role assignments through ansible.

[2019-11-27 08:50] foo-source opened #65314 "Ansible role duplication at meta folder"
I wanted to include two same roles in my meta/main.yml dependencies.
Below is Role-01:

[code]

Below is Role-02

[code]

When execute, the Role-02 will overwrite Role-01 which it will create groups, add public key and  make a sudo account based on Role-02.

Any method to prevent it from overwriting as stated above?

Thank you.

[2019-11-27 08:57] thessell commented on #64101
It would be good if this issue could be fixed for the general case identified in #57062, not just explicitly for "plesk-release".

[2019-11-27 09:25] nicolaibaralmueller opened #65316 "ansible[azure] output structure major changes"
##### SUMMARY

This might not be a bug but no sure where to post the issue.
Output structure has changed so much that migration will take days.
Below is just one example.

Output before
[code]

Output after
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_publicipaddress_info

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]

[code]

##### STEPS TO REPRODUCE

[cod

[2019-11-27 09:54] mgsaranraj87 commented on #65244
@pgbidkar : I will raise a new issue for vmware_deploy_ovf module issue.

[2019-11-27 10:14] Vladimir-csp commented on #63773
I can confirm this with ansible 2.8 and 2.9.
I do not know if earlier versions affected or if I happened to avoid this bug until now.

[2019-11-27 10:19] yangchao0512 opened #65318 "MySQL Service Module Bug"
##### SUMMARY

MySQL 5.6 use ansible service module bug：service mysql restart.
mysql restart error,but service module return success.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible service module
mysql 5.6

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

42-Ubuntu SMP Tue Oct 23 15:48:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linu

##### STEPS TO REPROD

[2019-11-27 10:25] pgbidkar commented on #65244
There is no issue with vmware_deploy_ovf. Please raise issue for regex implementation for templates in content library

Its is Network Name. You can find Network name from UI

[2019-11-27 10:31] b1czu opened #65319 "FreeIPA: There is no way to modify Password Policies"
##### SUMMARY

There is no way to modify Password Policies; I will be contributing a module in an upcoming PR.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

There is no module for modifying Password Policies.

##### ADDITIONAL INFORMATION

[code]

[2019-11-27 10:42] mkrizek commented on #65314
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-11-27 10:42] #65314 closed, assigned to nobody

[2019-11-27 10:45] mkrizek commented on #65295
This is expected. Since the `when` conditional is evaluated for each iteration of the loop, the data passed to `loop` is evaluated beforehand. Because of that whatever you pass to `loop` needs to be valid, `loop: "{{ yum_installs  | default([]) }}"` is correct way of doing it. Passing a dict (`default({})`) does not make sense as `loop` expects a list, as the message you got suggests.

If you have

[2019-11-27 10:45] #65295 closed, assigned to nobody

[2019-11-27 11:05] mnecas commented on #65188
Hi @fredericgiquel,
after the PR will be merged you can fix it for you by

- adding library folder to your playbook
- copy and renaming the fixed module to the library
- use the renamed name module as task

example (https://github.com/oVirt/ovirt-ansible-vm-infra/tree/ovirt-ansible-vm-infra-1.1)

[2019-11-27 11:12] next-jesusmanuelnavarro opened #65323 "ansible-playbook exits 0 on bad or incomplete options"
##### SUMMARY

While running `ansible-playbook` from a script on a Jenkins job, I noticed that some builds exited in success despite obvious errors on the Ansible command, i.e.: wrong path to inventory dir, or (I'm using the ec2 script for dynamic inventory) errors on ec2.ini file.

Root cause on my scenario was that, in these circumstances, `ansible-playbook` was returning *0*  against expectatio

[2019-11-27 11:13] laaubert commented on #65169
@dagwieers

Were you able to look into this ?

Thanks,

[2019-11-27 11:17] Rogach commented on #56629
It seems that this issue can arise when Ansible on the control host is running via Python 2 interpreter. To avoid passing the password to sshpass in the command line it uses pipes and `Popen(pass_fds=)`, which are only available in Python 3.

I'm running Ubuntu 18.04 LTS on the control machine, and it seems that it still runs Ansible using python2 interpreter, so it is unable to pass the password

[2019-11-27 11:45] nikolaykanov opened #65324 "na_ontap_command seems to not work"
##### SUMMARY
When I run any command using na_ontap_command, I always get the same output:
{
    "msg": {
        "changed": true,
        "failed": false,
        "msg": "<results xmlns=\"http://www.netapp.com/filer/admin\" status=\"passed\"><cli-output/><cli-result-value>0</cli-result-value></results>"
    }
}

The command is never executed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2019-11-27 11:45] tinproject opened #65325 "Add 'allow_change_held_packages' option to apt module."
##### SUMMARY

When installing or updating an already held apt package with the `apt` module, it fails.
This forces to use the `force: yes` option that it's too broad and already deprecated by apt.

Add an option `allow_change_held_packages` to the `apt` module to use the `--allow-change-held-packages` `apt` option.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

apt

##### ADDITIONAL INFO

[2019-11-27 11:54] robdawg925 commented on #39201
Hey all,

Re-opening this thread, looking for some help.

Running Ansible 2.9.1

root@node-0:~# ansible --version
ansible 2.9.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/student/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.6/dist-packages/ansible
  executable location = /usr/local

[2019-11-27 12:59] MrDecisive commented on #64036
@Fred-sun - Hi, Is this being worked on? I've come across the same issue. The existing ansible module **azure_rm_dnszone** has a **type** parameter which can be set to public or private. It also has the **registration_virtual_networks** and **resolution_virtual_networks** which are only associated with private dns option for **type**.  As @rewilliams1 says - no matter what you set these options to

[2019-11-27 13:11] Akasurde commented on #65262
I can confirm -

[code]

cc @sbulage

[2019-11-27 13:27] sbulage commented on #65262
@Akasurde  @AlanCoding I am working on fix.

[2019-11-27 13:41] grupoz opened #65326 "variable is not read from host inventory"
[code]

Inventory
[code]

Template
[code]

playbook worked correctly, when updating ansible stopped working, the error is:

[code]

[2019-11-27 13:54] mkrizek commented on #65326
Provide all the information in the issue template including a simple minimal reproducer playbook we can easily run. Also your Ansible version **before** the update is missing. From the information provided I could not reproduce your issue.

needs_info

[2019-11-27 13:58] avollmerhaus commented on #35669
Are there any plans to fix this?
It would be very nice to at least be able to create AAAA records for my droplets!

[2019-11-27 14:02] grupoz commented on #65326
##### SUMMARY

In host file, variable 'lan ip' is declared, however ansible ends with error AnsibleUndefinedVariable

[code]

In previous versions of ansible, this error did not occur

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template, core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

playbook:

[code]

template f

[2019-11-27 14:17] mkrizek commented on #65326
In the template file you are looping through `all` group but the playbook is run against `haproxy` group. Are there any hosts in inventory (in `all` group) other than those in `haproxy` that don't have `lan_ip` host var?

[2019-11-27 14:46] chrisvanheuveln commented on #39201
This might work for avoiding the user prompt:

[code]

Ref:
https://www.cisco.com/c/en/us/td/docs/switches/datacenter/nexus9000/sw/6-x/command_reference/config_612I22/b_n9k_command_ref/b_n9k_command_ref_chapter_010110.html#wp3962612674

[2019-11-27 14:53] mkrizek commented on #65326
needs_info

[2019-11-27 15:24] skytime-sh commented on #64776
I had a look to openssl_certificate_info.py
From what I see this would require a change in ansible/module_utils/crypto.py, as all goes back to class crypto.OpenSSLObject and function load_certificate.

If, alternatively to reading the Certificate from a file, cert_content (in function load_certificate) could be directly submitted, that should do the trick, but that's where my developing skills get

[2019-11-27 15:39] guenhter opened #65328 "alternatives: Allow installation of alternatives without changing the existing selection"
##### SUMMARY
When a ansible alternative is installed, it automatically also changes the selection to the newly added alternative (see here):

[code]

But this is not always intended. So it would be useful if

* alternative path is added
* a new option defines if the current selection is changes (if selection is e.g. 0 (auto-mode) it should leave that as it is)

##### ISSUE TYPE
- Feature Idea

##

[2019-11-27 15:42] robdawg925 commented on #39201
Thanks @chrisvanheuveln. Unfortunately looks like I still get the prompt.

PoD1-N5K-1(config)# term dont-ask
PoD1-N5K-1(config)# no feature npv
Verify that boot variables are set and the changes are saved. Disabling npv mode erases the current configuration and reboots the switch in non-npv mode. Do you want to continue? (y/n):

[2019-11-27 15:57] Akasurde opened #65330 "fortios: Function underscore_to_hyphen does not seems right"
##### SUMMARY
All Fortios modules use a function called `underscore_to_hyphen`, which does not seems right to me.
https://github.com/ansible/ansible/blob/6ae01d4fbdcf713b1bdd420f586db79e44debb61/lib/ansible/modules/network/fortios/fortios_firewall_address6.py#L388

When data is a list, it just loops over it and returns the same data.

I am not familiar with data structures which the modules are ha

[2019-11-27 16:00] fdalrymple-hp commented on #55216
I've opted away from using Ansible for this task since it was unable to perform the needed function. I've replaced it with PowerCLI. I have no real interest in going back to Ansible as it's not going to bring any benefit at this point. One of the other reporters will have to validate the information you've requested, or alternatively the issue can simply be closed.

For the record, however, I've n

[2019-11-27 16:22] pgbidkar commented on #55216
Hi @fdalrymple-hp , Thanks for the updates.
Read only to folder, I meant is Roles with read only permissions can be assigned to any inventory.

Also, if you are curious, please follow below steps to assign readonly role to Folder.
- 1. Login to vSphere client
- 2. Right click on any Datacenter and Select create Folder. Finish folder creation by giving some name.
- 3. Right click on created folder

[2019-11-27 16:26] jvalderrama commented on #51062
@Fred-sun , so you mean it will be something similar to the next block code, with a _blob uri_ in the **source_uri** that it is the **CUSTOM_IMAGE** parameter specification, in this case RetHatSlave7.5, right?
[code]

[2019-11-27 16:26] chris-short commented on #65285
I'm in but, I'm wondering if it'd be helpful to spin up a similar effort in the kubernetes/community repo? Not sure where the best place to launch from?

[2019-11-27 16:31] benjdudas opened #65332 "Add functionality to `nxos_l2_interfaces` to append the allowed vlans list"
##### SUMMARY

Currently, the `nxos_l2_interfaces` module does not provide an option to append vlans to that allowed vlan list. When using the `state: merged`  any config that was untouched by the task remains but any configuration provided will replace the current config. This option was available in the `nxos_l2_interface` with the `trunk_vlans` parm.  The module is currently sending the `switch

[2019-11-27 16:33] danielmellado commented on #65332
@trishnaguha I saw that you authored the original module. Mind taking a look? Thanks!

[2019-11-27 17:46] tquid commented on #65266
@lkthomas Yes, I am using one of the solutions in that stackoverflow thread. However, they all have defects. Using glob doesn't catch all files, and the other solutions require deleting and re-creating the directory, so you lose information on the directory's history. Also having an `empty` status would let you zero out a file, which is an added functionality.

[2019-11-27 17:56] jangrewe opened #65334 "hostname module in chroot changes parent host's hostname"
##### SUMMARY
When changing the hostname of a Raspbian image mounted to a chroot (via `packer`), the hostname of the host where Ansible is running is changed ("outside the chroot"), not the hostname inside the chroot.

All the other tasks (copy, file, cron, mounts, etc. - all omitted from the playbook below for clarity) are performed succesfully inside the chroot.

##### ISSUE TYPE
- ~Bug  Report~

[2019-11-27 18:33] jhg03a commented on #25637
I also can still confirm it's an issue with 2.9.1 as well:
Sample Playbook:
[code]
What I'd love to see is the ability to see either the async job finished attribute also include timeout, or a separate attribute so we can do `until: async_test_job.finished or async_test_job.timed_out`

[2019-11-27 18:40] jhg03a commented on #25637
I believe this issue is duplicated with #32181

[2019-11-27 19:02] Dagon- commented on #64036
Private DNS was added to the module when it was still in preview and is using an outdated version of the API. Shortly before Private DNS went GA the API was updated and was split into it's own resource. Some details on this are here:

https://docs.microsoft.com/en-us/azure/dns/private-dns-migration-guide

The old API is deprecated so yeah, this need to updated. Personally I think  azure_rm_private

[2019-11-27 22:35] Im0 commented on #55908
Hi @frsauvage I was just wondering if this is still a problem for you?

[2019-11-28 01:09] ric-man commented on #64369
Hi @ryansb - just wondering about the process in this repo around who maintains / looks at terraform.py? Are you able to advise>

[2019-11-28 03:38] jvanderaa opened #65342 "Meraki_SSID Query Requires Network"
##### SUMMARY

When using meraki_ssid to query for SSIDs in the organization, the module fails that `No network found with the name None`

###### Task

[code]

###### Result
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

meraki_ssid

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS - Meraki Dashboard

##### STEPS TO REPRODUCE

[code]

##### EX

[2019-11-28 03:48] Akasurde commented on #65291
cc @sbulage

[2019-11-28 04:09] kbreit commented on #65342
@jvanderaa I looked at the Meraki API documentation and SSIDs are associated to networks and not organizations. For example, you’ll see https://dashboard.meraki.com/api_docs#return-a-single-ssid shows a network ID is required in the URL. If you specify the network using `net_name` or `net_id` you should be able to query it. Please let me know if that doesn’t work though.

[2019-11-28 04:10] kbreit commented on #65342
I’m thinking this through. Are you expecting the API to return all SSIDs in all networks in an organization?

[2019-11-28 04:31] lkthomas commented on #65266
I just checked the code file.py, to include a new state, there are big chuck of code need to rewrite, and it's not a quick fix, can't help you at this moment, hopefully someone else have time to sort this out.

[2019-11-28 04:43] lkthomas commented on #65332
https://docs.ansible.com/ansible/latest/modules/nxos_l2_interfaces_module.html

Document example on "merged" seem wrong as well. The "merged" state is exactly like "replaced" if you compare the change before and after.

[2019-11-28 07:12] zwluxx opened #65345 "SSH private key type ed25519 is not a valid EC private key file"
##### SUMMARY

When the ssh-agent does not have a ed25519 key,  I try to configure an ed25519 private key file in ansible 2.9, ansible-playbook failed with "not a valid ED private key file"
However, if the ssh-agent has the ED25519 key, ansible-playbook works properly, with or without the ed25519 ansible_ssh_private_key_file specified.

Need to allow ed25519 key for ansible_ssh_private_key_file.
#

[2019-11-28 07:42] mgsaranraj87 commented on #63376
Hi All,

Im getting the below error. Im using Distributed Port Group name to assign nic when im trying to deploy VM using vmware_deploy_ovf module.

If Im posting in wrong place , please ignore .

My Environment is

ESXi  - 6.5.0
vCenter -  6.5.0
Ansible .29(latest)

Please find the below output of execution and result.

fatal: [localhost -> localhost]: FAILED! => {
    "changed": false,
    "invo

[2019-11-28 08:00] svscorp commented on #26905
Hi Ansible community & maintainers,

Recently used the module and caught the same. Is there a chance to get attention to this issue? In fact, the power is state declaration - if state is compliant to the definition, nothing should be happening. In current case indeed an error (specified above) is being thrown. For now we'll implement a workaround by adding an extra task, registering a variable and

[2019-11-28 08:06] gundalow commented on #65285
Chris, good question, perhaps where ever the most people are?

I guess it should appear as an Ansible Working Group and a k8s SIG, and they should cross link.

[2019-11-28 08:24] dsmanneke commented on #59164
change
`VZ_TYPE = 'openvz' if float(proxmox.version.get()['version']) < 4.0 else 'lxc'`
to
`VZ_TYPE = 'openvz' if float(proxmox.version.get()['version'][:2]) < 4.0 else 'lxc'`

[2019-11-28 08:25] Fred-sun commented on #65316
@nicolaibaralmueller Thank you for contributing this question, from the code point of view, from the azure_rm_publicipaddress_facts --> azure_rm_publiipaddress_info change, add the following judgment. Causes the information under ansible_facts not to be displayed. I will investigate why it was changed. Thank you very much!

https://github.com/ansible/ansible/blob/6ae01d4fbdcf713b1bdd420f586db79e44

[2019-11-28 08:26] mrdrogdrog commented on #59164
There is already a solution in the referred PR.

[2019-11-28 08:35] Fred-sun commented on #65316
@mybayern1974 @haiyuazhang Could you please help to check the problems in the above report? azure_rm_publicipaddress_facts -> azure_rm_publiipaddress_info changes, add the following judgment. Causes the information under ansible_facts not to be displayed. Why do this? Thank you very much!
https://github.com/ansible/ansible/blob/6ae01d4fbdcf713b1bdd420f586db79e44debb61/lib/ansible/modules/cloud/azu

[2019-11-28 08:36] nicolaibaralmueller commented on #65316
@Fred-sun Thanks. The entire output has changed. Changes like this breaks existing code and should be documented in the release.

[2019-11-28 08:40] Fred-sun commented on #65316
@nicolaibaralmueller Yeah, I'm trying to figure out why this change? Thank you for your reply!

[2019-11-28 08:54] Fred-sun commented on #51062
@jvalderrama Should be create a new disk from a platform image specified by the given imageReference., But this still needs the developer to design.  Thank you very much!

[2019-11-28 09:01] jbaresfe commented on #32687
I have the same experience and now working in a customer which handle hundred of ansible vault variables. Is there any update about the issue?. I really unfortunate to deal with that because it takes forever to debug some scenarios. I would be useful to have a better error message showing the specific variable/s which is/are failing during the decryption process.

Tested and failing in the same wa

[2019-11-28 09:09] Fred-sun commented on #64036
@MrDecisive @Dagon- Thank you for your advice, we are also working hard on this!

[2019-11-28 09:56] mator commented on #65345
Please give more info and/or command output. Why does it fail at gather facts step? #11018  have added ed25519 to facts module. Thanks.

[2019-11-28 10:13] next-jesusmanuelnavarro opened #65347 "[import,include]_role: more clever defaults"
##### SUMMARY

Let *handlers_from*, *defaults_from*, *vars_from* default to the same name than *tasks_from* (with fallback to *main*).

Also, if not already implemented, allow *includes* within *defaults/*, *handlers/*, *vars/* to load files from those same directories.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
* import_role
* include_role

##### ADDITIONAL INFORMATION
I have in mind

[2019-11-28 11:13] #57873 closed, assigned to nobody

[2019-11-28 11:15] Akasurde commented on #65244
@pgbidkar Do you think we need to update the documentation clearing mentioning about requirement about 6.7u1 from cloning.

needs_info

[2019-11-28 11:19] Akasurde commented on #54045
@harvey637 Do you agree with @pgbidkar and @lparkes opinions ? If yes, let me know so that we close this issue.

needs_info

[2019-11-28 11:25] k3x commented on #63374
@mariolenz
Thanks for adding changes and for mentioning me! Sorry for my late reply.

I tested the new module for setting "dns_servers" on a single "esxi_hostname" and a whole "cluster_name". It is working, thank you very much!

I have only a small notice: The parameter "type" is required, but not all examples include it. Maybe you can include the type parameter in all examples?

Thanks!
K3X

[2019-11-28 11:25] oukooveu opened #65349 "Add support for GCP RouterNat resource"
##### SUMMARY

Cloud NAT resource manipulation API [is available](https://cloud.google.com/nat/docs/apis) and appropriate modules for [Terraform](https://www.terraform.io/docs/providers/google/r/compute_router_nat.html) and [InSpec](https://www.terraform.io/docs/providers/google/r/compute_router_nat.html) were implemented already. Please add the same functionality for ansible.

##### ISSUE TYPE
-

[2019-11-28 11:33] solvaholic commented on #65216
@Akasurde those changes require the user to specify `apply` or `revert`. When specifying `apply=no`, syspatch.py still references check_flag before assignment:

[code]

<details>

https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr

[code]

</details>

[2019-11-28 11:38] Akasurde commented on #65216
@solvaholic Can you try this -

[code]

[2019-11-28 11:51] oukooveu commented on #65349
!component

[2019-11-28 11:55] pgbidkar commented on #65244
Hi @Akasurde , Yes! I will update the documentation. It is required.
I updated Tested with version, but I missed in Module description.

Thanks

[2019-11-28 11:57] #65216 closed, assigned to nobody

[2019-11-28 11:57] pgbidkar commented on #55216
Hi @Akasurde , I think we can close this issue.

+label needs_info

[2019-11-28 12:06] solvaholic commented on #65216
@Akasurde that diff does get past this issue:

[code]

I'd never used `patch` before, that was cool!

[2019-11-28 12:56] fredericgiquel commented on #65188
Hi @mnecas ,

I tested the patch. It works as expected.

Thank you

[2019-11-28 12:56] #65188 closed, assigned to nobody

[2019-11-28 13:07] Akasurde commented on #65216
@solvaholic Thanks for the feedback. Please check PR https://github.com/ansible/ansible/pull/65350.

[2019-11-28 13:21] platypus-geek opened #65351 "Dump SQL with use database since 2.9"
##### SUMMARY

Since 2.9 mysql_db dump create dump with create database and use instruction.
Is that possible to add an option for using --no-create-db with a dump ?

##### ISSUE TYPE
- Feature Idea
- Bug Report

##### COMPONENT NAME

mysql_db

[2019-11-28 13:34] stephenpaynter commented on #65332
I flagged this to Ansible, the Cisco command line should read

switchport trunk allowed vlan add <vlan_number>

the add keyword allows the addition off a VLAN to a trunk/port-channel without affecting any current configuration already applied.

[2019-11-28 14:29] DE110283 commented on #55703
@Akasurde do you have an idea, by when vmware_guest will be updated to be able to specify storage policy?

[2019-11-28 14:43] pypypyo14 opened #65352 "Homebrew module's some functions ignore check_mode option (with Destructive change)"
##### SUMMARY

- In the `homebrew` module, following functions ignore check_mode option.
- Even if check_mode is enabled, Homebrew and Formulae are actually updated.
  - update_homebrew
  - upgrade_all
- I'm working to create PR.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Homebrew module
`ansible/modules/packaging/os/homebrew.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[cod

[2019-11-28 15:19] freemti commented on #65332
as a Cisco guy, there are few things as potentially catastrophic as dropping a list of allowed vlans from an trunked interface. Logic to include handling the "add <vlan id>" logic is included somehow within the ansible code right?

[2019-11-28 15:34] freemti commented on #65332
no it isn't, it is slightly different. afaict, the merge behavior is working fine just merging new lines alongside the old ones in the individual interface config lines. However the examples used are not good because they do not have one with an existing "switch trunk allowed vlan 1,2,3" that would show how a new vlan id 10 would be merged into that list as "switch trunk allowed vlan 1,2,3,10"

[2019-11-28 15:49] benjdudas commented on #65332
@freemti you could use the nxos_config module:
[code]

But the only way I have been able to work around it with this module is to first build the current allowed VLAN list and provide that with anything new.

[code]

[2019-11-28 15:58] freemti commented on #65332
@benjdudas yes, I looked at some of the other modules like ios_l2_interfaces and the behavior is the same. I think this should be added as a feature request. It is not always practical or possible to have the list of exiting allowed vlans in front of you when you are putting together a playbook to add some new infrastructure. At the very least you would need to add your own programming somehow to

[2019-11-28 16:38] seanw122 commented on #65268
@Fred-sun I updated an earlier comment about the need to log into Azure. Also, this is more of a new feature to this module. How do I change this from bug to feature request?

[2019-11-28 17:23] cwtrsld commented on #57965
Same problem here, a fix would be super nice!

[2019-11-28 18:26] mariolenz opened #65354 "VMware: vmware_host_dns misses required parameter in examples"
##### SUMMARY
As @k3x pointed out in #63374 the examples in `vmware_host_dns` miss a required parameter.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
vmware_host_dns

##### ANSIBLE VERSION
[code]

[2019-11-28 19:01] mariolenz commented on #63374
Great! Can you please close this issue? After all, it sounds like it's fixed in your opinion.

Thank you very much for pointing this out! I've opened a new issue (#65354) and pull request (#65355) for this.

[2019-11-28 20:47] mnhauke commented on #49044
Same issue here.
A workaround can be found in a related bugreport: https://github.com/networklore/ansible-snmp-facts/issues/3#issue-355610373

[2019-11-29 01:20] #65354 closed, assigned to nobody

[2019-11-29 01:22] Akasurde commented on #63374
Closing this issue since PR #64458 and #65355 merged. Please feel free to open a new issue if the problem persists. Thanks.

[2019-11-29 01:22] #63374 closed, assigned to nobody

[2019-11-29 01:35] Akasurde commented on #65351
@pratikgadiya12 Since you recently worked on this feature, can you please comment on this ? Thanks.

[2019-11-29 06:41] Akasurde commented on #44651
@kstenerud Any news?

needs_info

[2019-11-29 06:42] MorganGeek commented on #64897
This has broken lot of deployment pipelines at our end.
Looks like a big regression in ansible.

[2019-11-29 08:05] bmalynovytch commented on #65351
+label easyfix

[2019-11-29 09:15] dongtaoyu opened #65360 "nboundLocalError: local variable 'filters' referenced before assignment"
ansible: 2.9
python: 3.6.6
footmark: 1.14

##### SUMMARY
[code]
##### ISSUE TYPE
- Bug Report

[2019-11-29 09:38] gubbe505 commented on #58950
I can report that the fix #42678 is incorrect for Windows OSes. See the attached image.

![image](https://user-images.githubusercontent.com/57907607/69859397-5fcdbd00-1294-11ea-89e3-f9d85f42cd1d.png)

[2019-11-29 10:33] Akasurde commented on #65360
@dongtaoyu Thanks for reporting this issue. This issue is related to https://github.com/alibaba/footmark, could you please report this there ?

Thanks.

[2019-11-29 10:33] #65360 closed, assigned to nobody

[2019-11-29 12:04] Akasurde commented on #62739
@poil Thanks for reporting this issue. This has been fixed in `cloudalchemy/ansible-prometheus` repo. I am not able to reproduce this.

[code]

Short version of preflight.yml

[code]

needs_info

[2019-11-29 12:10] Akasurde commented on #63601
@jborean93 Do you think this is similar to https://github.com/ansible/ansible/issues/65108 ?

[2019-11-29 12:15] mszumilak commented on #37496
I've been encountering the same issue in ansible 2.9.0 and 2.9.1 using couple versions of boto/botocore/boto3 including latest available:
[code]

I can confirm that issue started occurring after manual deletion of part of resources.

What's the most interesting here is that in the CloudTrail events I see completely different TargetGroup ARN than in the Ansible fact I registered in the previous ste

[2019-11-29 12:19] dthielking commented on #64963
@apollo13 I have the same problem, did you find any workaround for that?

[2019-11-29 13:03] bmillemathias-1a opened #65364 "module filesystem should have a state argument to make a fs absent"
##### SUMMARY
I wanted to remove a type of FS absent based on the retrieved fact. I naively did something like
`filesystem: type=lvm state=absent dev={{ item.key }}`
looping over  `hostvars[inventory_hostname]['ansible_lvm']['pvs']`

but actually it does not support state argument
Ansible version: 2.9

##### ISSUE TYPE
support a keywork `state` with `present` and `absent` as a lot of other modules

[2019-11-29 13:06] apollo13 commented on #64963
Aside from simply putting a "changed_when: false" or actually inspecting the resulting stdout and then adjusting changed_when base on that no

On Fri, Nov 29, 2019, at 13:19, Daniel wrote:

[2019-11-29 13:12] dthielking commented on #64963
Ok, I just added this one here.
[code]

[2019-11-29 13:22] rdd commented on #57062
+1

Had this problem with an /etc/*-release file which was not plesk-release.

If the intention is to look for OS releases, I don't understand how it could possibly make sense to look for *any* file in /etc ending with -release. Wouldn't you need to know which file corresponds to which OS? And have some kind of expectation of what information they will contain in order to accurately parse them?

T

[2019-11-29 13:59] rdonkin opened #65365 "Traceback with "debug var=vars" when jinja2_native is true"
##### SUMMARY

Traceback with `debug var=vars` when `ANSIBLE_JINJA2_NATIVE` is `true`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/vars/manager.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No config changes.
[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.2 LTS

- running playbook on localhost

##### STEPS TO REPRODUCE

Command:
[code]

Playbook `bug-playbook.yml`:
[co

[2019-11-29 14:30] cr00836 commented on #63678
thank you, do you think that might be s possibile to untie the ip modification to the sysprep configuration and make the sysprep option indipendent?
https://pubs.vmware.com/vi3/sdk/ReferenceGuide/vim.vm.customization.WinOptions.html

[2019-11-29 14:42] mihaitodor opened #65366 "ANSIBLE_DUPLICATE_YAML_DICT_KEY=error crashes with a bug report"
##### SUMMARY

This is a follow-up to #16903.

Setting the new env var `ANSIBLE_DUPLICATE_YAML_DICT_KEY` implemented in #56933 to `error` outputs a cryptic `ERROR! Unexpected Exception, this is probably a bug: 'NoneType' object has no attribute 'line'` instead of the message defined [here](https://github.com/ansible/ansible/blob/d335d7a62c022d702a29a0ff55cd0c526ec2c5ad/lib/ansible/parsing/yaml/con

[2019-11-29 14:56] rtsisyk opened #65367 "postgresql_query doesn't support non-ASCII characters in SQL files with Python3"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Local:

[code]

Remote:
[code]

All managed hosts are RHEL 8 (Python3 only):

hosts.yml:
[code]

##### STEPS TO REPRODUCE

main.yml:

[code]

scheme.sql:
[code]

##### EXPECTED RESULTS

scheme.sql applied.

##### ACTUAL RESULTS

[code]

[2019-11-29 15:12] djasa commented on #63617
@lkthomas, if it was that simple, I wouldn't bother writing this bug. :) The `dig` gets us halfway, we then need to:
1. pick up a record according to priority and weight (that's what I do crudely in the example `ipa_host` variable)
1. fail over to other server if the first is unreachable but network in general is

You can't do 2. in a nice way at all using ansible syntax and 1. only crudely (choos

[2019-11-29 15:15] rdonkin commented on #65365
!component =lib/ansible/vars/manager.py
!component -lib/ansible/modules/remote_management/manageiq/manageiq_group.py

[2019-11-29 15:18] jwatt commented on #64612
@samdoran Yes, it's an Ubuntu host, as noted above under the "OS / ENVIRONMENT" section of the report.

I also tried using on an Ubuntu 19.10 client to an Ubuntu 19.10 host (so no macOS involved), using Ansible 2.9.1 on both machines.

If I pre-download the .tar.gz file on the host, remove `remote_src` from the Ansible play and change `src` to the path of the .tar.gz on the host, then re-run the p

[2019-11-29 15:22] jwatt commented on #64612
Output using -vvvv:

[code]

[2019-11-29 15:25] jwatt commented on #64612
Unfortunately using `strategy: debug` doesn't open the debug terminal before the temporary file has been deleted, so I can't use that to check to see if it was downloaded correctly.

It's would be helpful if -vvvv would make the module log the actual `tar` and `unzip` commands that it tried to invoke before deciding they failed.

[2019-11-29 16:22] vignemail1 opened #65373 "ansible-config: generate default ansible.cfg"
##### SUMMARY
It would be great, specially when installing using pip, to have a way to generate an `ansible.cfg` file in the current directory with keys and default values and maybe descriptions as comments.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-config

##### ADDITIONAL INFORMATION
Since all sections, descriptions, default values are already available with `ansible-config

[2019-11-29 16:57] bidord commented on #64628
Hi,

I believe although PR #65173 does remove the warning message, it's not fixing the underlying bug.

I submitted an alternative solution in PR #65377.
As explained in PR, the issue with this plugin is not just that `v2_runner_on_start()` fails. The whole plugin has no access to its configuration variables because of a wrong class name.

[2019-11-29 17:02] jvanderaa commented on #65342
I was expecting to return all SSIDs in all networks if not specified. Similar to the meraki_networks module. If that is the expected behavior, I could update the docs on it to just specify that with query what is required. I'd work on that if this is expected. @kbreit

Note, that this also makes sense as I dig in on the Meraki VLANs side of things as well.

[2019-11-29 17:09] ganeshrn commented on #39201
@sweenig  You can use [cli_command](https://docs.ansible.com/ansible/latest/modules/cli_command_module.html) module that handles single as well as multiple prompts.

@robdawg925
The format for `nxos_command` module to handle prompt in this case is
[code]

*Note:* The value of the prompt option is a Python regex hence special characters like `?` should be handled with escape charterers if required.

[2019-11-29 17:10] ganeshrn commented on #39201
needs_info

[2019-11-29 17:16] #59164 closed, assigned to nobody

[2019-11-29 17:17] ssbarnea opened #65378 "docker_connection gets broken when podman shimed docker command is installed"
#### SUMMARY
`docker_connection` should work even if docker cli is not installed or if the fake docker cli is installed by podman. This can easily be reproduced on RHEL 8 after installing podman.

Instead of using python api to get version information the module is trying to execute `docker version --format '{{.Server.Version}}'`, which fails miserably on these systems as this returns something li

[2019-11-29 17:35] seanw122 commented on #65268
notabug

[2019-11-29 17:35] jwatt commented on #64612
Okay, the problem seems to be the use of `fetch_file`, which downloads the .tar.gz to a temporary file with a name like `filename.tarV7uknU.gz`. That change in filename suffix causes the unarchive module to fail to recognize this temporary file as a gzipped tar file, and so it uses TgzArchive instead of TarArchive (the former removing the `-z` that the latter uses). I'll put up a pull request.

[2019-11-29 18:00] felixfontein commented on #65378
Which docker module does not work without docker CLI? Or are you talking about the docker connection plugin (which your title seems to indicate, and which is not a module)?

The connection plugin uses docker cli, so that it doesn't work if docker cli is not installed (or replaced by podman) is not that surprising.

[2019-11-29 18:01] felixfontein commented on #65378
If you are talking about the docker connection plugin, this would be a feature request, and also a duplicate of #17692.

[2019-11-29 19:23] robdawg925 commented on #39201
@ganeshrn thanks.  That worked! The command get executed on the switch.  The only thing is the task in playbook gets a timeout error because the switch reboots write after the command.

[2019-11-29 20:34] cyborg-x1 commented on #18910
Well my point is **clearing a mount point -> USB Drive, SDCard content**. You can't just make a used mount point "absent" to delete it's whole contents, can you?

[2019-11-29 20:52] mator commented on #65345
needs_info

[2019-11-29 20:59] mator commented on #65195
can you try to increase [gather_timeout](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-gather-timeout) in ansible.cfg ?

for example:

[code]

[2019-11-29 22:15] illikainen commented on #63903
Gah, really sorry for the spam!  I was setting up CI for my clone of Ansible and did a bunch of force-pushes until everything was working.  Didn't think of the implications of referencing this issue in the commit messages :anguished:

[2019-11-30 02:01] kbreit commented on #65342
The current behavior is the expected behavior. `meraki_network` is able to easily query all networks in an organization because Meraki provides an endpoint to do exactly that. The SSID and VLAN endpoints do not provide organziation level queries, so it isn't "free". I would have to iterate through each network and merge the data. This is doable using Ansible on its own, so I'd rather leave the fea

[2019-11-30 05:58] zwluxx commented on #65345
It turns out to be the problem of ansible dependency: paramiko
On CentOS 7, the OS has python-paramiko-2.1.1-9.el7.noarch, which does not support for the ED25519 private key type.  I was able to use a more recent paramiko (python2-paramiko-2.4.2-2.el7.noarch and its dependencies) to resolve the problem.  Thank you.

[2019-11-30 05:58] #65345 closed, assigned to nobody

[2019-11-30 06:06] zwluxx commented on #65345
Module paramiko imported from here:
/usr/lib/python2.7/site-packages/ansible/module_utils/compat/paramiko.py

[2019-11-30 06:11] mzeier commented on #65108
Where's a good place to set this or set this globally? I'm striking out with a working example on this.

[2019-11-30 06:40] Nikhil-bit opened #65384 "Failed to use copy module in Ansible Tower"
![IMG_20191128_172852](https://user-images.githubusercontent.com/55892323/69897537-7d258880-1373-11ea-9904-594a22c770ac.jpg)

##### SUMMARY
Getting "could not find or access files in the ansible controller" when copying file to client using copy module.
Tar files are present in the files directory i.e /var/lib/awx/projects/project_name/files/file_name.
The same module works smoothly when playbook

[2019-11-30 07:18] Nikhil-bit opened #65385 "VMware: VM creation freezed at language selection window"
##### SUMMARY
I am trying to provision a CentOS machine using ansible's vmware_guest module on esxi 6.7
I am able to see the vm in the esxi but its installation freezed at language selection window.
The iso image is been fetched from datastore of the esxi server only.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
2.8.x

[code]

##### OS / ENVIRONMENT

##### STEPS TO R

[2019-11-30 08:33] bauen1 opened #65386 "Unexpected exception when specifying invalid hosts field for task"
##### SUMMARY

ansible crashes with an unexpected exception when specifiyng an invalid hosts field for a task (and probably similiar)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Host OS: debian unstable

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Failure with an error message.

##### AC

[2019-11-30 13:52] herealways opened #65389 "Cannot flush_handlers in role"
##### SUMMARY

I want to flush handlers in role/myrole/tasks/main.yml but it does not work

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_role, meta

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

centos7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

the handler is executed even the dubug module return 'ok' state because of the "flus

[2019-11-30 15:35] sky-joker commented on #65304
Hi @robertdebock

Thank you for reporting this issue.
This problem occurs because the position of the inventory_mode key has changed from zabbix 4.4.

**in the case of 4.2 or lower**

https://www.zabbix.com/documentation/4.2/manual/api/reference/host/object#host_inventory

[code]

**in the case of 4.4 or higher**

https://www.zabbix.com/documentation/4.4/manual/api/reference/host/object#host_inven

[2019-11-30 16:23] Akasurde commented on #65386
!component =lib/ansible/playbook/play.py

[2019-11-30 16:25] Akasurde commented on #65385
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2019-11-30 16:26] Akasurde commented on #65385
@Nikhil-bit Thanks for reporting this issue. Could you please provide additional details such as console log, playbook used ? This will help us to debug more.

needs_info

[2019-11-30 16:28] Akasurde commented on #65384
Hi @Nikhil-bit!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allow

[2019-11-30 16:28] #65384 closed, assigned to nobody

[2019-11-30 16:31] Akasurde commented on #65367
!component =lib/ansible/modules/database/postgresql/postgresql_query.py

[2019-11-30 16:32] Akasurde commented on #65367
cc @Andersson007

[2019-11-30 16:32] Akasurde commented on #65367
resolved_by_pr #65368

[2019-11-30 16:36] Akasurde commented on #65365
!component =lib/ansible/vars/manager.py

[2019-11-30 17:03] felixfontein commented on #63903
No problem, this is the kind of spam which doesn't trigger email notifications, so I didn't even notice ;-)

[2019-11-30 17:04] sky-joker commented on #65304
I confirmed the details and it seems that this issue occurs from 4.4.1.
It does not occur in 4.0.0.

[2019-11-30 18:56] bmillemathias-1a opened #65391 "Red Hat Core Os (rhcos) not properly discovered"
##### SUMMARY
Distribution rhcos 4.2 is improperly detected as redhat 4.2 (this is not totally incorrect though)

[code]
[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
distribution

##### ANSIBLE VERSION
ansible 2.8

##### CONFIGURATION
not relevant I think

##### OS / ENVIRONMENT
Red Hat CoreOs 4.2

##### STEPS TO REPRODUCE
nothing special

[2019-11-30 19:50] #52408 closed, assigned to nobody

[2019-11-30 22:45] s-hertel commented on #64935
@cesarjorgemartinez Yes, create a new issue with a simple reproducer for the behavior you're seeing. From the brief excerpt it looks like you're having a problem with the conditional on your handler rather than a problem with notify not working.

[2019-12-01 00:41] s-hertel commented on #37161
This should be fixed for inventory plugins by 7092c196ed0f0e1ee9a53d4040d5ff8c509c05b6. There's also a backport to include this in 2.9 (#65023).

[2019-12-01 00:41] #37161 closed, assigned to nobody

[2019-12-01 00:43] s-hertel commented on #57012
This should be fixed for inventory plugins by 7092c19. There's also a backport to include this in 2.9 (#65023).

[2019-12-01 00:43] #57012 closed, assigned to nobody

[2019-12-01 02:08] robdawg925 commented on #25916
Hey all,

I was able to get this to work via telnet.

name: Play 7

 hosts: CONIO_7Ks
 connection: network_cli
 gather_facts: no
 tasks:

   - name: send configuration commands to IOS
     telnet:
      user: admin
      password: yourpass
      login_prompt: "login: "
      prompts:
       - "[#|:]"
      command:
       - "switchto vdc fcoe-switch"

[2019-12-01 08:23] sky-joker commented on #65304
Hi @robertdebock

Could you please check PR https://github.com/ansible/ansible/pull/65392 and let us know if it works for you.

thanks

[2019-12-01 08:28] bmillemathias commented on #65391
There is the issue #53563 from Core Os detection but it seems RedHat Core OS (4.2 at least) is somwhat different.

[2019-12-01 09:49] OscarBell opened #65393 "Copy module doesn't remove AnsiballZ file and directory on the remote host when used with remote_src option"
##### SUMMARY
When using the copy module to copy files on a remote host, using the remote_src option, Ansible doesn't remove the AnsiballZ file and parent directory on the remote host.

I expect the bug to be in the copy action plugin (`lib/ansible/plugins/action/copy.py`) and specifically around line 548 where I miss the removal part. The method already returns to the calling object vefore doing

[2019-12-01 10:38] leoindra86 commented on #65195
**Increased gather_timeout = 20 or 30 in home folder  ansible.cfg, Didnt helped.**

Tried gather_subset = !all, Didnt helped.

Manual execution of
ansible -i ansible/inventory/inventory -u userid@domain --become -m shell -a '/usr/bin/findmnt --list --noheadings --notruncate' linux -k -K

Worked. Noticed, it takes a few seconds to publish results. I noticed the problem is happening to hosts mounted

[2019-12-01 11:02] candlerb opened #65394 "ansible-vault encrypt_string: exception when supplying `--vault-password-file` override"
##### SUMMARY
ansible-vault raises an exception if you supply `--vault-password-file` when there is already ANSIBLE_VAULT_PASSWORD_FILE set in the environment, or a `vault_password_file` set in ansible.cfg

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.3

##### STEPS TO REPRODUCE
[co

[2019-12-01 12:38] Udayendu commented on #63376
With dvs it should work. I have tested multiple times. Make sure in your OVA it should have option to accept the dvs based network and you have defined that correctly in you playbooks.

[2019-12-01 14:46] Akasurde commented on #65394
@candlerb Thanks for reporting this issue. Could you please upgrade since this is fixed in PR https://github.com/ansible/ansible/pull/63622 ? Thanks.

needs_info

[2019-12-01 15:09] candlerb commented on #65394
Thanks - I didn't find that one.

[2019-12-01 15:09] #65394 closed, assigned to nobody

[2019-12-01 15:22] jvanderaa commented on #65342
Sounds good - I will definitely get that in there. Thanks for the conversation!

[2019-12-01 15:26] Akasurde commented on #65394
@candlerb Thanks for the feedback.

[2019-12-01 15:51] fbruetting opened #65396 "Module "flatpak_remotes" adds remotes with faulty URLs"
##### SUMMARY
When you try to add a Flatpak repository with `URL: x`, the module throws an error, yet adds the faulty repository.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
flatpak_remote

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS 8 Stream

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect that faulty repositories don’t get

[2019-12-01 19:44] felixfontein commented on #64776
I've started implementing this in #65400. This issue is already resolved by the current version, but I want to implement some more of #63553 before it is done.

[2019-12-01 19:45] felixfontein commented on #63553
I've started implementing some of this in #65400. That PR won't add support for reading the main file from memory, as described in this issue, but it will allow to read other files from memory, and allow to retrieve the output directly (at least in some cases).

[2019-12-01 20:49] #62620 closed, assigned to nobody

[2019-12-01 20:54] #63998 closed, assigned to nobody

[2019-12-01 23:48] vijaychebium commented on #64573
issue is resolved.

[2019-12-01 23:59] vijaychebium opened #65401 "non-IOS devices does not show running-config"
##### SUMMARY

Ansible fail to run  show running-config on non-IOS device.
Note: The non-IOS device can take show command and config command.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

/usr/lib/python2.7/dist-packages/ansible/plugins/connection/ios.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux
Network Device : NON - IOS device but has command

[2019-12-02 00:01] vijaychebium commented on #65401
terminal length and terminal width commands won't work in the device I have.

[2019-12-02 00:28] sugitk commented on #56629
@Rogach
Could you please make a PR for devel branch and backport to stable-2.9?
My customer has the same problem on this issue, so they would very appreciate it if your fix is merged.

[2019-12-02 02:39] Tomorrow9 commented on #35665
Hi @dagwieers, @Akasurde, @phemmer, @jobcespedes is there a new module to generate ISO file submitted? We also want to use this method to auto install guest OS. Thanks.

[2019-12-02 04:59] Akasurde commented on #64573
Closing this issue as per https://github.com/ansible/ansible/issues/64573#issuecomment-560175919. Thanks.

[2019-12-02 04:59] #64573 closed, assigned to Akasurde

[2019-12-02 05:26] Akasurde commented on #65401
!component =lib/ansible/plugins/action/ios.py

[2019-12-02 05:29] Andersson007 commented on #65367
@rtsisyk thanks for reporting this, i left a comment in the PR
@Akasurde thanks for mentioning!

[2019-12-02 07:01] #63903 closed, assigned to nobody

[2019-12-02 07:12] #63910 closed, assigned to nobody

[2019-12-02 08:09] mgsaranraj87 opened #65409 "VMware: vmware_deploy_ovf Host did not have any virtual network defined"
##### SUMMARY
Hello Team,

Im trying to deploy VM using vmware_deploy_ovf module. i have placed my OVF template in the linux system.
When i tried below i got the below error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION
(ansible)[root@ansibleserver ansible]# bin/ansible --version
/appl/saran/virtualenv/ansible/lib/python2.7/site-packages/cryptograph

[2019-12-02 08:11] imuab commented on #65401
I am running into a similar issue with the aruba module. The connection is successful but I am not getting a stdout with the current config from the device.

[code]

Using Ansible 2.9.1 and Python 2.7.5
[code]

[code]

But the interesting part is, this issue happens spordically onto 4-5 hosts, when I am running the playbook for around 60 devices.
And when I am running the playbook against a single

[2019-12-02 08:31] mrjeffelipe commented on #64049
Hello,

question: is issue     "msg": "Unexpected failure during module execution." resolve in ansible 2.9?

we experiencing the same error using winrm  on ansible version 2.8,4

Thank you

[2019-12-02 08:40] sugitk opened #65411 "ios_config: cannot handle duplicated NAT table entry"
##### SUMMARY

When a static NAT table exists, `ios_config` cannot handle an error `%NAT: similar static entry (10.1.1.5 -> 172.16.1.101) in table_id 0 already exists`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

2.7.15
2.8.5
2.9.1

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 8.1
IOS 15.1.(3)T2，15.5(3)M5

##### STEPS TO REPRODUCE

This entry is co

[2019-12-02 08:52] ganeshrn commented on #65401
@vijaychebium You can't use ios modules to work with the non-ios device. This is not supported.
Refer https://github.com/ansible/community/blob/master/group-network/network_dev_network_cli.rst to add cliconf and terminal plugins for your platform.

@imuab As per your comment, it seems to be an issue specific to Aruba modules. Please raise a new issue with all the required details to track it corre

[2019-12-02 08:52] #65401 closed, assigned to nobody

[2019-12-02 08:54] bmillemathias-1a opened #65414 "k8s inventory does not expose node in OCP 4.2"
##### SUMMARY
Openshift 4.2 manage and expose nodes in rhcos in the API however I can't find such in the inventory plugin

##### ISSUE TYPE
- Expose nodes in the k8s inventory plugin

##### COMPONENT NAME
- k8s_inventory

##### ADDITIONAL INFORMATION
- nodes information would be useful to manipulate / push some information through ansible.

[2019-12-02 09:23] mkrizek commented on #65365
!component -lib/ansible/vars/manager.py
!component -lib/ansible/modules/remote_management/manageiq/manageiq_group.py

[2019-12-02 09:44] #63678 closed, assigned to nobody

[2019-12-02 09:45] cr00836 commented on #63678
i'm opening a feature request

[2019-12-02 09:51] mkrizek commented on #65365
For printing hostvars, I am curious as to what is the use case to print hostvars for **all** hosts on each host? Wouldn't it make more sense to print hostvars just for the current host?

[code]
That would also prevent the traceback you were getting.

The two "workarounds" mentioned are effectively the same, as `jinja2_native` feature is available only on Jinja2 2.10+. Also jinja2_native is off by

[2019-12-02 09:58] imuab opened #65416 "aruba_command - show running config sporadically not working"
##### SUMMARY

Ansible does not stdout the current config from a aruba switch sporadically. But it only happens when running the playbook against 60 switches. When I am running the playbook against a single device, which generated no stdout, I am getting the current config in stdout.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aruba_command

##### ANSIBLE VERSION

[code]
##### PYTHON VERS

[2019-12-02 10:01] cr00836 opened #65417 "Give the possibility to choise on windows customization if the system will be sysprepped or not"
##### SUMMARY

Give the possibility to choise on windows customization if the system will be sysprepped or not

##### ISSUE TYPE
If you do a windows deploy and change the system config (for example IP), the sysprep occur.
Sysprep include many system modification, for example the SID machine property change. Sometimes this can be troublesome
I saw that the Vsphere give the option about this choise

[2019-12-02 10:06] rohitthakur2590 commented on #64402
@ecantin  Thanks very much for your submission to Ansible. If you can upgrade to 2.9  and give a try with resource modules it would be great as this is already fixed in 2.9.

[2019-12-02 10:07] ssbarnea commented on #17692
Currently remoting support in docker does not work with ansible_connection because it fully ignores the content of DOCKER_HOST, which can be something like `ssh://root@host`. Docker CLI and API both work well with these but ansible_connection doesnt. The docker modules are not affected by this bug, only ansible_connection. See https://github.com/ansible/ansible/blob/e7cd5af1a673d9f2a6d692d66d318f8

[2019-12-02 10:16] willthames commented on #65414
If it's possible using kubectl, it's likely possible using the k8s lookup plugin (or k8s_info module)

Is it possible using kubectl? What API is used to get the information in openshift?

From https://kubernetes.io/docs/reference/using-api/api-concepts/
GET /apis/GROUP/VERSION/RESOURCETYPE/NAME
translates to
[code]
and GET /apis/GROUP/VERSION/namespaces/NAMESPACE/RESOURCETYPE/NAME
translates to th

[2019-12-02 10:18] felixfontein commented on #17692
@ssbarnea The documentation does not mention `DOCKER_HOST`. Also, the documentation you cite explicitly mentions `ansible_docker_extra_args`, which can be used to pass the docker host to use (`-H=tcp://myserver.net:4243` in the provided example).

()

[2019-12-02 10:19] felixfontein commented on #17692
(Sorry for closing, must have hit a wrong button... Suddenly my post was sent unfinished and the issue was closed...)

[2019-12-02 10:28] felixfontein commented on #17692
BTW, the presence of `ansible_docker_extra_args` makes implementing this more complicated. The plugin probably has to keep support for using the docker CLI command (to be used when `ansible_docker_extra_args` is specified) for some versions, while that option gets deprecated and eventually removed.

[2019-12-02 10:49] propyless opened #65418 "unit test documentation contains incorrect import references"
##### SUMMARY
After this MR https://github.com/ansible/ansible/pull/46996 ansible unittests where moved out of the ansible scope.
The documentation page for `Unit Testing Ansible Modules` https://docs.ansible.com/ansible/latest/dev_guide/testing_units_modules.html#how-to-unit-test-ansible-modules is not updated accordingly and I'm trying to find a package in pypi which contains these ansible unitt

[2019-12-02 11:44] bmillemathias-1a commented on #65414
Ok, my bad it works fins this way `ansible -m k8s_info -a 'api_version=v1 kind=Node localhost`

Sorry for the noise, and thanks for the support.

best.

[2019-12-02 11:44] #65414 closed, assigned to nobody

[2019-12-02 12:03] victorcoder commented on #51122
@mpechner I need to tag ECS taskdefs, do you finally opened the PR? how's the status? can I help?

[2019-12-02 12:17] pawellrus opened #65420 "Ansible win_certificate_store can't remove certificate by thumpbrint"
##### SUMMARY
Ansible win_certificate_store does not see and does not remove certificate by thumpbrint

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_certificate_store

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows Server 2012R2/2016 at client
Centos 7 at ansible machine

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Certificate w

[2019-12-02 12:35] Yannis100 commented on #64518
The "issue" is specific to Cisco and IOS-XE version and not Ansible nor ncclient, therefore I close this issue

[2019-12-02 12:35] #64518 closed, assigned to nobody

[2019-12-02 12:38] sigio commented on #29693
Still an issue.... multiple simulatanious updates overwrite eachother, this needs some locking or support for concurrent updates.

[2019-12-02 12:50] sigio commented on #29693
Looks like this will be fixed with 'throttle: 1' in ansible-latest... 2.9 ?

[2019-12-02 13:47] mgsaranraj87 commented on #65409
I have commented the networks parameter and tried now im getting below error.

'''
fatal: [localhost -> localhost]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "allow_duplicates": true,
            "cluster": "TESTLAB",
            "datacenter": "TESTDC",
            "datastore": "TESTLAB-SCLU-001",
            "deployment_option": null,

[2019-12-02 13:58] mkrizek commented on #65365
So after initial debugging this is what I have found out so far:

1. The result of the debug task printing `hostvars` contains a `HostVars` object.
[code]

2. The result goes through serialization/deserialization when it is passed from a worker thread to the main thread. The (de)serialization process appears to not preserve `_loader` (and others) attributes of `VariableManager` whose instance is s

[2019-12-02 14:40] jobcespedes commented on #35665
Hi,

Not that I know of. I'm using custom  vmware_guest module based on patch from https://github.com/ansible/ansible/pull/37869/commits/03875065b10783f373eca70c9ca1b66a5fc4c6f8

[2019-12-02 14:55] sivel commented on #41146
Lookups will never be able to successfully handle binary data, this is due to to the fact that lookups are required to return text data encoded as utf-8.

For additional assistance on other ways to achieve your goals please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-02 14:55] #41146 closed, assigned to nobody

[2019-12-02 15:10] sivel commented on #65297
The fix for this should be to use `ansible.utils.py3compat.environ` instead of using `os` to fetch the env vars.

Note that only py2 is affected by this, py3 works correctly.

Probably solution:

[code]

Would just need someone to put together a PR with a changelog and tests.

[2019-12-02 15:11] sivel commented on #65269
I agree with @s-hertel. Another option is to allow `environment` to evaluate by using the `|default` filter, so that it succeeds without issue in pre-tasks, and works as expected in tasks.

[2019-12-02 15:14] sivel commented on #65245
We plan to implement additional commands for the `ansible-galaxy collection` sub-command for the 2.10 release.

As of now, the additional commands will be:

* list
* verify
* provides

Any additional commands are outside of the scope for the 2.10 release, and may be implemented in future releases.

[2019-12-02 15:19] sivel commented on #65243
`_uri` is the internal name of the plugin variable, and not directly exposed to users.

The documentation states to use it in an `ansible.cfg` file to use:

[code]

The config system specifies an internal name of the variable, and then the potential for INI config entries as well as env vars.  Those config options are listed under the `Configuration` column, and not the `Parameter` column.

If you

[2019-12-02 15:19] #65243 closed, assigned to nobody

[2019-12-02 15:29] 0x8f701 opened #65426 "get uncommented list of hosts"
##### SUMMARY
I would like to check if certain host is commented, but while I use `--list-hosts`, it always show all the host even I commented some of them

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
N/A

##### ADDITIONAL INFORMATION
N/A

[code]

[2019-12-02 15:44] sivel commented on #65365
I'm thinking that in order to utilize `__setstate__` and `__getstate__` we would need to add those methods to `HostVars` and `DataLoader`, but I'm not sure how far down the rabbit hole we end up going.  Do we need it for `InventoryManager` as well?  `FactCache`? `InventoryData`? `VaultLib`?

I believe part of the reason of using our own custom `__getstate__` and `__setstate__` is to improve pickle

[2019-12-02 15:55] apple4ever commented on #59340
This was fixed in #59165. You can close this.

[2019-12-02 16:14] knagamin commented on #64902
@sivel Could you check my PR, please?

[2019-12-02 16:35] stefan-enway commented on #45161
any plans when this labeling will happen?

[2019-12-02 16:42] #44458 closed, assigned to samccann

[2019-12-02 16:56] jimi-c commented on #65365
Workers are spawned with a copy of the loader. It would be easier (and faster) to simply assign that to the hostvars reference to correct the problem.

[2019-12-02 17:46] candlerb opened #65430 "netbox_inventory: does not work with virtual-machines"
##### SUMMARY
Problems with netbox_inventory module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netbox inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE
Create an inventory which communicates with netbox API:

[code]

Run the inventory:

[code]

Problem 1: does not pick up config_context for virtual machines

[2019-12-02 18:47] candlerb commented on #65430
I've found a much better solution.  From netbox v2.6.0, the config_config is included already in the device and VM listings (you have to apply an attribute to have it *not* returned).  So we just need to use this value.  I have updated the PR.

[2019-12-02 18:55] #65109 closed, assigned to nobody

[2019-12-02 19:02] geerlingguy commented on #64852
Subscribe; I'm trying to update some of my roles to support CentOS 8 / RHEL 8, and finding it annoying to do so, because I either need to use the full appstream spec in each package name (e.g. `php:remi-7.3`), or manually run `dnf module enable php:remi-7.3` in a `command` prior to yum/dnf install tasks.

Related: https://github.com/geerlingguy/ansible-role-php-versions/issues/44

[2019-12-02 19:06] axel3rd commented on #65109
FI : Fixed in v2.10.

[2019-12-02 19:17] jborean93 commented on #65109
@axel3rd I'm planning on backporting the change to stable-2.9 so it will also be fixed in the next 2.9 release.

[2019-12-02 19:20] axel3rd commented on #65109
@jborean93 : Many thanks 😗 !

[2019-12-02 19:20] pcmsoares commented on #24064
It would be very interesting if this feature become avaliable in Ansible. ;)

[2019-12-02 19:41] karthikeyan-dhandapani commented on #65416
@imuab Could you also share output of "show version" in the Aruba Switch? Wanted to know the model and AOS version as well.

[2019-12-02 20:12] #63869 closed, assigned to nobody

[2019-12-02 20:49] #65154 closed, assigned to nobody

[2019-12-02 21:21] samccann commented on #45939
Tasks to complete:

- [ ] move swiftype search into existing theme search box (branch - samccann/search-move)

- [ ] Enable faceted search so users can select search result based on their installed version of ansible.

- [ ] (nice to have option) - move swiftype search details out of sphinx theme - https://github.com/ansible/ansible/pull/63762

[2019-12-02 21:36] #64850 closed, assigned to nobody

[2019-12-02 21:55] jborean93 opened #65440 "ansible-galaxy role fails if Automation Hub is a defined server"
##### SUMMARY
Installing a role in `ansible-galaxy` has no concept of multiple servers that we have in a collection install. This means if a user has multiple Galaxy server's defined (1 for AH, 1 for Galaxy) it will fail to find any roles if AH has a higher priority. This is because it will only search for a role in the first server defined (or the one specified by `--server`).

Proposed fixes

*

[2019-12-02 21:55] jborean93 commented on #65440
Related https://github.com/ansible/awx/pull/5426

[2019-12-02 22:34] #49457 closed, assigned to nobody

[2019-12-02 23:35] Hidetoxin commented on #43259
I've got a similar issue to this. I'm building an AMI with packer and providing it with Ansible. The AMI needs to be build with different variables depending on the environment. Therefore I used the below structure based on [this](https://www.digitalocean.com/community/tutorials/how-to-manage-multistage-environments-with-ansible) article:

[code]

My environment file is where I define my inventory

[2019-12-03 02:28] saito-hideki commented on #65411
Hi, I confirmed the following code, and there is no filter for `already exists`:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/terminal/ios.py#L39-L54

So, personally I think we should append the following line to `terminal_stderr_re`:

[code]

[2019-12-03 03:15] Fred-sun commented on #63844
@mmallet-digipok Thanks for open this issue .  we are  working on this and will update when we make new progress. Thanks a lot!

[2019-12-03 04:10] jlgaddis opened #65443 "ufw: Policy is changed; Ansible reports "ok" (not "changed")"
##### SUMMARY

When using the `ufw` module to change the default policy for incoming traffic, the task does not report "`changed`" even though the change was successfully made.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

`ufw`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Pretty standard (virtual) environment set up for role development and testing (Ansible, Molecule, TestInfra, a

[2019-12-03 04:25] jlgaddis commented on #65443
For posterity, here are the default contents of the `ufw` configuration files upon installation:

[code]

[code]

FWIW, I'm _guessing_ that this may be occurring because `ENABLED=no`.

[2019-12-03 06:47] Sethueha opened #65444 "fmgr_fwobj_address Module not working in Ansible 2.9"
##### SUMMARY
I have an Fortimanager VM with trail license running on it. I'm trying to configure address in device using fmgr_fwobj_address module, but it is not working. I have super user access to Fortimanager and able to do SSH from Ansible server. It gives an error MODULE FAILURE\nSee stdout/stderr for the exact error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fmgr_fwobj_address

#

[2019-12-03 06:58] mgsaranraj87 commented on #65409
Hi Team,

it would be greatful , if someone address this issue

[2019-12-03 07:05] imuab commented on #65416
Of course. But I forgot to mention that this happens everyday to 4-5 different hosts.
Today it happend to the following devices:
[code]

With Ansible Version 2.8.x it was working fine. I don't think thats a problem with any of the device.

[2019-12-03 07:32] felixfontein commented on #65443
You're right, this is because `ufw` is disabled. The module uses the output of `ufw status verbose` and the rules files (/lib/ufw/user.rules, /lib/ufw/user6.rules, /etc/ufw/user.rules, /etc/ufw/user6.rules, /var/lib/ufw/user.rules, /var/lib/ufw/user6.rules) to determine whether something changed. If `ufw` is disabled, `ufw status verbose` doesn't containt any information (except that it is disable

[2019-12-03 08:45] nicolaibaralmueller commented on #65316
@Fred-sun Any news here? Just wanna make sure that ansible won't roll back those changes when I've changed my code.

[2019-12-03 08:46] robertdebock opened #65448 "The module `file` changes the relative `path` of a symlink to absolute"
### SUMMARY
The `file` module changes the `path` of a relative symlink to absolute path.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
controller: mac
target: centos:8

##### STEPS TO REPRODUCE

Prepare a container:
[code]

Run ansible on the container:
[code]

##### EXPECTED RESULTS
I was hoping that `fi

[2019-12-03 08:49] pgbidkar commented on #65244
Hi @Akasurde , Can we close this issue?
Thanks

[2019-12-03 08:50] sebastianw commented on #55014
I have the same issue (with ansible 2.9) when running with netconf devices (junos in my case):

[code]

This will give (with ansible 2.9):

[code]
I've now set `interpreter_python = auto_silent` in my ansible.cfg but this shouldn't be happening with netconf connections at all.

[2019-12-03 09:32] knagamin commented on #65389
@herealways If you want to do so, you have to make a notifying task "changed" because it is trigger condition to run handler in play. So you can change like:
[code]

[2019-12-03 09:33] fungalcofe opened #65450 "`assemble` documentation is wrong/outdated about `decrypt` parameters"
##### SUMMARY

I would like to assemble files into one with `assemble` module. Documentation said it can decrypt files. After a few tests with `Ansible 2.9` I discover that parameter not implemented.

That argument should be available since `Ansible 2.4`. Which is wrong, documentation or the module?

##### ISSUE TYPE
- Bug Report
- Documentation

##### COMPONENT NAME

`assemble`, core module.

###

[2019-12-03 09:48] gaellalire opened #65451 "Archlinux: Invalid data passed to 'loop'"
I have a software whose deployment was made using ansible 2.4.0.
2.4 is the latest version that can't run with python3, I have to migrate to at least 2.5.

Ansible 2.8 introduces breaking thing for my software, so I tried with 2.7.15.

It's working with python 2.7.17

[code]

However python 2 is in EOL and it's not working with python 3.8.0 (provided by arch repositories).

[code]

Ansible 2.7.15

[2019-12-03 10:08] mgsaranraj87 commented on #63376
@Udayendu : Thanks for information. In the networks parameters , im using portgroup name as value and what should be the key value? Will this module accepts "VM Networks" as key value?

It may be silly question , but still im confused what value should i use here

"networks": {
"**<what name should i give>**": "TEST_LAB_3017" (PortGroup Name)
},

Thanks

[2019-12-03 10:11] tsr-caubry commented on #64495
The problem seems come from the version of openstacksdk package version "0.27.0" shipped with Ubuntu 18.04.

[2019-12-03 10:24] rohitthakur2590 commented on #64549
@zaskan  Thanks very much for your submission to Ansible. can you try
- show version and show inventory commands on 5k device through cli and share the output of that ?

[2019-12-03 10:42] jlgaddis commented on #65443
Thanks. I hadn't looked at `ufw.py` previously but I'm looking at it now and ISTM that a task that sets one of the default policies (i.e., `default`) will *never* show as changed since `changed = True` [is only executed](https://github.com/ansible/ansible/blob/d82361a7092d8b33f0fa7340e388aa464f25f56e/lib/ansible/modules/system/ufw.py#L506) when Ansible is being ran in "check mode":

[code]

That l

[2019-12-03 10:53] misterunknown commented on #64560
I have the same problem.

[2019-12-03 11:13] hefernan commented on #65332
@benjdudas ,
I have tested that workaround and it does not seem to work for me (Nexus 3172, NX-OS 9.2(2)). Moreover, if you need to add that VLAN to multiple ports (with_items or loop), it will gather the L2 information for every port (expected, I guess) every time.

The workaround renders this error:

The port is actually a trunk port.

I parsed the result and I can get information for every indi

[2019-12-03 11:18] tsvsj opened #65452 "Lookup nios.py return value type is mixed"
##### SUMMARY
When using the lookup plugin for Infoblox NIOS, nios.py, I see inconsistent behavior of the return values from the module. I'm using the lookup to check if the host, that I'm planning to deploy, is not already registered. Unfortunately the response from the lookup differs, based on the number of returned host records.

If there is just one host record, the returned value type is dict

[2019-12-03 11:36] felixfontein commented on #65443
The relevant line is https://github.com/ansible/ansible/blob/d82361a7092d8b33f0fa7340e388aa464f25f56e/lib/ansible/modules/system/ufw.py#L593 for non-check-mode. The above lines are just for check mode, and that is intended (because check mode does not modify the output of `ufw status verbose`).

[2019-12-03 11:47] tsvsj opened #65453 "nios_host_record is not idempotent"
##### SUMMARY
The module nios_host_record is not idempotent. It will always create a new, even duplicated, host record. From my understanding that is not the way it should be. To me it doesn't make any sense to create a new host record, if the name already exists. Unfortunately the NIOS does allow this configuration. You can even configure the same host record several time, on the same IP address.

[2019-12-03 12:04] flerxu opened #65454 "How to make offline site of ansible documentation of ansible from source code."
How to make offline html documentation of doc.ansible.com from ansible source code.

[2019-12-03 12:10] herealways commented on #65389
@knagamin Thanks, I have solved this problem by doing the same thing. I really appreciate your help

[2019-12-03 12:10] #65389 closed, assigned to nobody

[2019-12-03 12:33] mkrizek commented on #65454
https://docs.ansible.com/ansible/latest/community/documentation_contributions.html#building-the-documentation-locally

[2019-12-03 12:34] mkrizek commented on #65454
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-12-03 12:34] #65454 closed, assigned to nobody

[2019-12-03 12:35] zaskan commented on #64549
Sure @rohitthakur2590

Find below.

[code]

[2019-12-03 13:32] mgsaranraj87 commented on #63376
I have tried providing Distributed Switch Name  and Portgroup Name as key pair value. Still i get the same error.

[2019-12-03 13:34] benjdudas commented on #65332
@hefernan When running this against a list of interfaces you're going to need to look at looping those tasks somehow. If not you are going to have some problems with building the current VLAN list. For instance:

[code]

[code]
Also, this is not the only workaround available, I was just trying to find the best way to make it work with only this module.

[2019-12-03 14:34] hefernan commented on #65332
@benjdudas
Thank you! Appreciated!

[2019-12-03 15:00] loganmzz opened #65463 "[import|include]_role.vars_from ignored if role doesn't have 'vars' directory"
##### SUMMARY

Declaring a playbook which uses import/include role with a "vars_from" in order to share some variables between several roles, but having one role without "vars" directory leads to "vars_from" be completely ignored (not dectecting invalid files or loading values)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

* import_role
* include_role

##### ANSIBLE VERSION

[code]

#####

[2019-12-03 15:08] samdoran commented on #64852
Does this capability already exist in the module, possibly the `enablerepo` or `disablerepo` parameters? From looking at the code, it seems this may have been added in 6d95624c22d1c275974db1e7c94dcc171dc1457e.

needs_info

[2019-12-03 15:11] Tarik-H opened #65464 "Pls add support for ACI contract labels"
##### SUMMARY

The aci_contract_subject.py module is missing the possibility to specify consumer or provider subject labels. It would be great to add the support for contract subject labels into both aci_contract_subject.py and aci_epg.py modules to be able to re-use the same contract multiple times.
##### ISSUE TYPE
- Feature Idea
Add feature to specify at contract subject creation: provider or c

[2019-12-03 15:17] Emusp opened #65465 "VMware: Add MachineObjectOU to customization in vmware_guest"
##### SUMMARY

Adding ability to define OU path when joining machine to a windows domain using the customization.

##### ISSUE TYPE
- customization should be able to add MachineObjectOU to the sysprep file.

##### COMPONENT NAME
vmware_guest

ansible version: 2.8.5

[2019-12-03 15:19] samdoran commented on #64899
duplicate_of #30413

[2019-12-03 15:21] #64902 closed, assigned to nobody

[2019-12-03 15:22] renard opened #65466 "cron: cron_file validation skip option"
##### SUMMARY

In  #11295 there was a discussion about validating a cron file name. This is a good thing in most case.

Done in commit  e8a396be16a737119e62d1e72ccafeec60c884bc

However if for some reason someone has to deploy a *disabled* cron file (such as `/etc/cron.d/task.disabled`) the role will produce unwanted warning.

A simple solution would be to add a parameter such as `cron_file_name_c

[2019-12-03 15:26] samdoran commented on #64956
Yes, this is true. This comment covers what needs to be done:

[code]

Either we fix this in the caller, or we continue to ignore it.

[2019-12-03 15:27] #64899 closed, assigned to nobody

[2019-12-03 15:34] samdoran commented on #64966
Is this still an issue with supported versions of Ansible (>= 2.7.0)?

needs_info

[2019-12-03 15:36] samdoran commented on #64971
This seems like a bug in the underlying tool Ansible is using rather than an issue with Ansible itself.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-03 15:36] #64971 closed, assigned to nobody

[2019-12-03 15:37] gaellalire commented on #65451
This bug does not affect 2.10.

It's for 2.7.15 2.6.20 and 2.5.15

I have issue with notify listen with 2.7.15 2.6.20, so if you could fix 2.5.15

[code]

[2019-12-03 15:41] samdoran commented on #65004
The example documentation is incorrect. It should be `nodes_filters`.

[2019-12-03 15:44] samdoran commented on #65046
There are several way so to do this already. We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-12-03 15:44] sivel commented on #64966
I'm going to hazard a guess that this is still an issue, due to `.splitlines()` in python translating windows newlines into unix newlines, and stripping them.

Simply using `.readlines()` will also translate.

It looks like to get around it, you need to use `io.open` with `newlines=''` and `.readlines()` to prevent universal newline translation.  But this will require a rewrite in that we would ne

[2019-12-03 15:51] samdoran commented on #65060
Based on the error message, it seems like the vault password was not provided. In order for hash merging to work, the values first need to be decrypted. Since this feature has been deprecated (4c2b137728), we have no plans to change this behavior.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups

[2019-12-03 15:51] #65060 closed, assigned to nobody

[2019-12-03 15:54] samdoran commented on #65067
"Fixing" this would mean changing handler execution in the `free` strategy to behave like the `linear` strategy. I'm not sure that is what we want. Maybe @jimi-c can comment more?

[2019-12-03 15:55] samdoran commented on #65071
cc @nitzmahone

[2019-12-03 15:56] samdoran commented on #65071
Fixed by #65078

[2019-12-03 16:02] samdoran commented on #65099
duplicate_of #33581

Further information of why this would be rather complicated to implement: https://github.com/ansible/ansible/issues/33581#issuecomment-433524158

[2019-12-03 16:13] #65099 closed, assigned to nobody

[2019-12-03 17:00] felixfontein commented on #52409
Hmm, `--dump-master-key` works, but I don't feel good about the master key leaving protected memory (as protected as cryptsetup's internal memory as). even if we directly get rid of the result, a copy might live on somewhere in memory which we can't clear.

[2019-12-03 17:16] jonathannaguin commented on #64062
For a simple use case where we just want to fetch the KMS ARN from an alias, it takes minutes. Would it make sense to have another parameter to the module that would disable the 'grants' fetching? I believe that's the operation that takes minutes to complete.

[2019-12-03 17:51] sivel commented on #65463
The intention of those `X_from` arguments is to only support files within the role.

Per the documentation:

[code]

As such, the ability to load and use a file outside of the role, is not supported, and may produce unexpected results.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!

[2019-12-03 17:51] #65463 closed, assigned to nobody

[2019-12-03 18:22] sivel commented on #65426
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-12-03 18:22] #65426 closed, assigned to nobody

[2019-12-03 18:27] sivel commented on #65451
Ansible 2.7 is maintained only for security fixes, and will not receive bug fixes. As you state that it only affects <=2.7, but not newer versions, there is no potential resolution from a code perspective for Ansible 2.7.

There may be options to update your playbook to resolve your issues, however please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: h

[2019-12-03 18:27] #65451 closed, assigned to nobody

[2019-12-03 18:32] sivel commented on #65373
Thank you very much for your interest in Ansible.  Unfortunately we have no plans to add such functionality.  Additionally I question the usefulness.

There are a lot of options, and over time these options may change their defaults over a deprecation period.  If we were to generate an ansible.cfg with all defaults, it would cause long term issues and confusion, as users would not have set them ex

[2019-12-03 18:32] #65373 closed, assigned to nobody

[2019-12-03 18:53] felixfontein opened #65471 "lib/ansible/module_utils/basic.py contains deprecation which was supposed to be removed for 2.9"
##### SUMMARY
See https://github.com/ansible/ansible/blob/88d8cf8197c53edd3bcdcd21429eb4c2bfbf0f6a/lib/ansible/module_utils/basic.py#L699-L706

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/basic.py

##### ANSIBLE VERSION
[code]

[2019-12-03 19:14] sivel commented on #65366
I'm failing at allocating my time right now, and although I know what the proper fix is, I don't have the time to get it together.

Here is the required change:

[code]

In addition to this, a PR will require a changelog, and preferably tests to ensure we don't regress.

[2019-12-03 19:16] geerlingguy commented on #64852
@samdoran - That seems to not be the case.

I tried the following (assuming `php_version` equals something like `7.4` and you have remi's repo already configured earlier):

[code]

And that worked.

When I tried using enablerepo, it did not work (gave me the 'no package found' message):

[code]

(I also tried with `enablerepo: "php:remi-{{ php_version }}" and that didn't work.)

[2019-12-03 20:03] #50627 closed, assigned to nobody

[2019-12-03 20:28] schrodervictor commented on #65024
I also have this issue. Python v3.8 is now official and the recommended version to use for basically everything. This bug must be fixed otherwise it's going to be a chaos very soon.

[2019-12-03 20:35] sivel commented on #64852
The code to do this does seem present, and it does roughly mirror that of the code sample from @marcelvanveen

Perhaps there is some subtle difference in the logic.

cc @maxamillion

[2019-12-03 20:41] maxamillion commented on #64852
@samdoran enabling modules and enabling repos are unfortunately not the same thing

@marcelvanveen how would you like to see the enable/disable functionality presented to the user? ... do you have an example task in mind that you'd like to see function? I can't think of a good clean way without overloading params and I generally prefer not to do that but I'm open to suggestion on this. I was think

[2019-12-03 20:45] sivel commented on #64852
@maxamillion in our triage this morning, we assumed that it should only be enabled for the term of the module invocation, not persisting, but I don't have enough understanding of modules and dnf.

We were basically working off of the assumption that they would work like repos.  I'm not sure we should expose management of modules through the `dnf` module.  If necessary, management of a module shoul

[2019-12-03 20:48] sivel commented on #65471
Hrm, I wonder why this wasn't picked up by the pylint plugin...

https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/sanity/pylint/plugins/deprecated.py

[2019-12-03 20:54] felixfontein commented on #65471
@sivel I'm not that familiar with how pylint works, but could it be because here `self.deprecate()` is called? The check (https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/sanity/pylint/plugins/deprecated.py#L66-L67) looks like it will only detect `xxx.depreate()` where `xxx` contains `module` or `display` (as a string).

[2019-12-03 20:58] geerlingguy commented on #64852
So maybe a `dnf_config` or `dnf_module` module or something? We do have things like `apt_key`, `apt_repo`, `apt_repository`... and `yum` and `yum_repository`.

But the paradigm is a little strange, I grant :/

[2019-12-03 20:59] sivel commented on #65471
@felixfontein I was just about to comment.  Yes, it is because `_get_expr_name` returns `self` and when I wrote it originally I was operating off of the assumption that it would always be called by `module.deprecate`.

I would say we could probably loosen that check:

[code]

This causes the following to be caught:

[code]

So we'll also likely need:

[code]

@felixfontein are you willing to make

[2019-12-03 21:18] felixfontein commented on #65471
@sivel I'll give it a shot!

[2019-12-03 21:29] prasadkatti commented on #65024
`ec2_group_info` also has a similar bug. Someone created a PR for it - https://github.com/ansible/ansible/pull/65434

[2019-12-03 21:44] candlerb commented on #65430
This was already fixed in devel in 5f9fe6b9

[2019-12-03 21:44] #65430 closed, assigned to nobody

[2019-12-03 21:50] demurgos commented on #63077
As another datapoint, I have two tasks using Pacman, one of them fails and the other one works fine:

This task fails:
[code]

This task succeeds:
[code]

[2019-12-03 23:22] Ackak12 opened #65481 "Upgrade azure_rm_storageaccount module to support FileStorage kind for premium storage"
##### SUMMARY
Upgrade azure_rm_storageaccount role to support FileStorage kind for premium storage. Currently the module only accepts storage, storagev2 and blobstorage kind for all storage account types. But there is a new option from Azure which is already available in Portal, Powershell and Azure CLI that the premium storage account can be created with FileStorage kind to have the file share fe

[2019-12-03 23:33] vijaychebium opened #65482 "Ansible script failed to run ios_config module. show version syntax error: element does not exist"
##### SUMMARY
Ansible script failed to run  ios_config module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
ansible 2.9.0

[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The target device should configure NFMGMT1 and return Ok

##### ACTUAL RESULTS
[code]

[2019-12-03 23:46] mrmibrown opened #65483 "The package module with 'state: present' set forces package upgrade on RHEL8"
##### SUMMARY
If an older package is present on a RHEL8 system and 'state: present' has been set as follows:
[code]

The output shows the package was upgraded:
"results": [
        "Installed: aide",
        "Installed: aide-0.16-11.el8.x86_64",
        "Removed: aide-0.16-8.el8.x86_64"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2019-12-03 23:55] schrodervictor commented on #65024
Exactly, the one affecting `ec2_group_info` was the first one I found. I'm afraid this thing is everywhere... A simple `grep -riI 'for .*\.keys()' lib/ansible/ | wc -l` shows 334 occurrences in v2.9.1. All these are potential places where this bug can manifest (not saying that all of them will manifest the problem, but at the same time there are other situations that can lead to the same bug).

[2019-12-04 00:00] #63290 closed, assigned to GomathiselviS

[2019-12-04 00:49] gaellalire commented on #65451
So less than 1 year and half support ...
It could be OK if you did not break things on each release.
I think you're sending a bad message to those who made a non-trivial playbook.
It's a pity I like the project, but having no support makes investment in it unreasonable.

[2019-12-04 01:28] sugitk commented on #64766
The customer closed the case, so this issue can be closed.  Thank you for discussing.

[2019-12-04 01:28] #64766 closed, assigned to nobody

[2019-12-04 01:28] bjornicus opened #65486 "docker_container using image digest doesn't recreate container when digest changes"
##### SUMMARY
when a docker container is started using the image digest instead of a tag, and then the digest is changed, the container is not recreated

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux ubuntu-xenial
Docker version 19.03.5

##### STEPS TO REPRODUCE
run the following playboo

[2019-12-04 01:30] bjornicus commented on #65486
should add how I got those digests:
[code]

[2019-12-04 02:03] Akasurde commented on #65481
!component =lib/ansible/modules/cloud/azure/azure_rm_storageaccount.py

[2019-12-04 02:58] Tomorrow9 commented on #35665
Ok, thanks. Multiple CDROM support is in 2.9 now. As to create iso file, I'll submit a new module PR later.

[2019-12-04 03:16] #56181 closed, assigned to nobody

[2019-12-04 04:16] #59237 closed, assigned to nobody

[2019-12-04 06:06] felixfontein opened #65490 "Documentation: heading styles look too similar"
##### SUMMARY
The different heading styles are hard to distinguish visually, especially h3 and h4.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
documentation

##### ANSIBLE VERSION
[code]

[2019-12-04 06:07] felixfontein commented on #65490
From IRC:
 - try to adjust upstream theme: https://sphinx-rtd-theme.readthedocs.io/en/stable/demo/structure.html#id5 (not sure if possible, they seem to assume section numbers)
 - override CSS locally

[2019-12-04 06:38] ganeshrn commented on #65071
@samdoran @nitzmahone The PR you referred for this issue does not fix this issue. PR #65078 is specific to network code flow and it is added to allow scenario wherein the network connection plugin is moved to a collection.

This issue is different, not specific to network and seems to be in the generic collection code path. I have shared the reproducer in the issue description.

[2019-12-04 07:36] Sethueha commented on #65444
Could you please provide the update on above issue.

[2019-12-04 07:38] felixfontein commented on #65486
Hmm, this is unexpected, since we actually have a test for this situation:
https://github.com/ansible/ansible/blob/devel/test/integration/targets/docker_container/tasks/tests/image-ids.yml#L106-L146

I have to investiate what is going wrong here.

[2019-12-04 07:58] ipspace commented on #64659
That's how Ansible works ;) Block is just a wrapper around tasks that you can use to simplify settings, or catch errors, not a real programming language construct.

[2019-12-04 07:58] djasa commented on #65046
OK, closing then.

[2019-12-04 07:58] #65046 closed, assigned to nobody

[2019-12-04 08:27] Udayendu commented on #63376
@mgsaranraj87
Please take a look at the below playbook:

https://github.com/Udayendu/ansible-demo-VmugPNQ/blob/master/roles/vm-deploy/tasks/main.yaml

[2019-12-04 09:18] Akasurde commented on #55642
needs_info

[2019-12-04 09:24] laaubert commented on #65169
Anyone ?

[2019-12-04 09:25] HighKing81 commented on #64852
If a module has already been set and packages are installed, you have to do a 'dnf module reset' before you can issue a 'dnf module enable' command. So maybe an extra bool 'reset' would be nice?

This way you could upgrade a package by selecting another stream.

[2019-12-04 09:27] imuab commented on #65416
Today I downgraded Ansible to test older versions.

I tested the versions 2.9.0, 2.8.7 and 2.8.6.

With 2.8.6 and 2.8.7 everything went fine. I got every config from every device in stdout.

With the version 2.9.0 I ran into the same problem as I mentioned above.

After I upgraded Ansible to 2.9.1 I ran into the same problem again.

It seems like there is a bug in 2.9.x ?

[2019-12-04 09:42] lroquec commented on #55642
You were right, it was an access problem with our network. Thank you very much.

[2019-12-04 09:58] mgsaranraj87 commented on #63376
@Udayendu : Thanks for sharing the link.

Im able to create VM using vmware_guest without any issue , even i have tried to manually tried to deploy the VM from OVA file and im able to create the VM successfully.

But when i trying to use vmware_deploy_ovf module , then im getting the below error.
**"msg": "Failure validating OVF import spec: Host did not have any virtual network defined."**

[2019-12-04 10:36] deano2point0 opened #65501 "Add Support for ICMP Protocol when creating rules using azure_rm_securitygroup"
##### SUMMARY

Azure securitygroups now support creating rules for the ICMP protocol when creating rules via the Azure portal, but Ansible doesn't seem to support this currently.

It would be great if azure_rm_securitygroup could support this new option

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_securitygroup

##### ADDITIONAL INFORMATION

This would be used to easily create

[2019-12-04 10:48] jaschaio commented on #15297
Enabling passwordless sudo for rsync seems to do the trick for me:

[code]

[2019-12-04 11:16] kbreit commented on #55642
@lroquec Glad to hear you were able to get this working. Please close this issue. If you have other hiccups, open other issues and I’ll be happy to look into them.

[2019-12-04 11:18] queglay opened #65502 "Ansible Vault and VS Code won't work as an editor on Macos with encrypted vault"
##### SUMMARY
If we define the editor vscode to edit a vault, it will not work.

I created a video to demonstrate this issue - https://www.youtube.com/watch?v=sBXgkHsjuVA&feature=youtu.be

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos 10.13.6

##### STEPS TO REPRODUCE

see video https://w

[2019-12-04 12:17] PYLochou opened #65505 "Wrong example in loop over dict"
##### SUMMARY
It seems that the example given for Iterating over a dictionary in https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#iterating-over-a-dictionary is wrong. "tags" cannot be used as variable name.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
dict2items filter?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS

[2019-12-04 12:24] #64957 closed, assigned to nobody

[2019-12-04 12:25] mkrizek commented on #63129
Fixed in https://github.com/ansible/ansible/pull/64959

[2019-12-04 12:25] #63129 closed, assigned to nobody

[2019-12-04 12:30] trishnaguha commented on #65332
This is a bug and I am working on it.

[2019-12-04 12:53] Rogacz commented on #65249
I had the same issue, but after updating urllib3 (also chardet and requests) its gone.

[2019-12-04 12:54] Akasurde commented on #61443
This is due to - https://github.com/nir0s/distro/blob/cdfe85d15bd366820db6a1cfdc6cf9a0a5de7e37/distro.py#L752 where it tries to guess the best version to return. We need a better strategy to get the best version.

[2019-12-04 13:13] sgr9412 opened #65506 "beadm module ends with " AttributeError: 'list' object has no attribute 'split' " python error"
##### SUMMARY
beadm module ends with Python error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/system/beadm.py

##### ANSIBLE VERSION

**ansible 2.9.1**
  config file = /home/userx/ansible/ansible.cfg
  configured module search path = [u'/home/userx/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/s

[2019-12-04 13:18] #60635 closed, assigned to nobody

[2019-12-04 13:18] #65144 closed, assigned to nobody

[2019-12-04 14:09] psehgal opened #65507 "Error handling in the bigip_command module is not consistent with other _command modules"
##### SUMMARY
Running an invalid command on a F5 Bigip device through the `bigip_command` module produces a `ok` result. This is inconsistent with other `_command` modules (e.g. `ios_command`, `junos_command`, etc.) whose tasks fail when the device detects an error in the command.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`bigip_command`

##### ANSIBLE VERSION
[code]

##### CONFIGURATIO

[2019-12-04 14:16] jsalgado78 commented on #65249
I've last urllib3 package for RHEL 7 installed:
python-urllib3-1.10.2-7.el7.noarch

[2019-12-04 14:40] sivel commented on #65505
Additionally, that example is very contrived, and not how I would recommend achieving that specific goal anyway.

Probably best to just make it something like:

[code]

[2019-12-04 14:42] Rogacz commented on #65249
I've updated it with pip to 1.25.6 (previously it was 1.24.1)

[2019-12-04 15:05] mnecas commented on #65190
Sorry for the late response.
it cannot be here:
`dc = dcs_service.list(search='Clusters.name=%s' % cluster_name)[0]`
only if multiple datacenters would have a cluster with the same name and its not possible to creat it. I talked with other devs and they were not sure either.
I tried to reproduce the issue as you described but still nothing I might misunderstood some parts. So I ask if you could gi

[2019-12-04 15:14] ansiblejunky commented on #64365
@Bkbrawler04
I have been trying to use the inventory plugin (not the script) by creating the YAML config file with the following:
[code]

To use the `with_tags: True`, vmware requires that the SDK is installed. So I have installed the SDK and it appears running `ansible-playbook -i hosts/vmware.yml --graph` works.  However, I am unable to filter hosts at all - something that is definitely required

[2019-12-04 15:18] sivel commented on #65483
Duplicate of https://github.com/ansible/ansible/issues/64963

[2019-12-04 15:18] #65483 closed, assigned to nobody