[2013-10-24 16:26] #4663 closed, assigned to nobody

[2013-10-24 16:32] jimi-c commented on #4666
This is a consequence of an improvement used for the apt and yum modules, where the list is concatenated together and sent to the command in one shot rather than executing each install one by one (which would be painfully slow for long lists of packages). It may be possible to add in a check that if the name field is not simply item, to prepend whatever's there to each item as it's joined together

[2013-10-24 16:34] jimi-c commented on #4665
As I just noted on #4666, this is a consequence of the fact that for apt and yum we join the list of items together to speed up the installation execution. However, fixing this instance may be a bit more complex than that of #4666's since the when logic is completely separate from the joining logic. I'll look into it ASAP, thanks!

[2013-10-24 16:36] jimi-c commented on #4665
Beyond that, the above seems to be a somewhat contrived example? Are you doing this in a playbook, because it would seem to be an inefficient way to achieve this.

[2013-10-24 16:37] jimi-c commented on #4668
Closing, exact dupe of #4667.

[2013-10-24 16:37] #4668 closed, assigned to nobody

[2013-10-24 16:59] markabey commented on #4566
I'm using ansible 1.3.2.

the "fetch" module places files in the playbook directory, and the other file based modules place them in the roles/<rolename>/files directory.

I've worked around this in the example above just by using ../../..
- fetch: dest=pubkeys/{{ansible_hostname}}/id_rsa.pub src=/home/user/.ssh/id_rsa.pub
- authorized_keys: user=anotheruser key=key="{{ lookup('file', '../../../pub

[2013-10-24 16:59] #4566 closed, assigned to nobody

[2013-10-24 17:24] jctanner commented on #4436
#4593 merged thanks to @pas256. @bhutch please try using the new "in_vpc" parameter.

[2013-10-24 17:24] #4436 closed, assigned to nobody

[2013-10-24 19:19] darkone23 commented on #4662
I'm still working on creating a base case but I uncovered a bit more information.

My role has a dependency that does something like:

[code]

The template says something like
`{{ command|replace('~', '$HOME') }}`

I wind up with a result of:
`$HOME/bin/command -c ~/foo/bar/conf`

The first one gets replaced, but the one in {{ home }} does not.  So somehow the replace filter is happening before th

[2013-10-24 19:21] alinnow commented on #4666
I thought as much. The optimisation does make a lot of sense, but yeah, it should be transparent.

[2013-10-24 19:28] darkone23 commented on #4662
A-ha!

[code]

[code]

The output will be:
a A a

Prior to the refactor the output was:
A A A

[2013-10-24 19:41] jctanner commented on #4653
Looks like this is affected by action plugins:

lib/ansible/runner/action_plugins/copy.py

<pre>
# SOURCE FILE MD5 IS SAME AS DEST
copy
    args: src=/home/jtanner/somefile dest=/tmp/somefile
    complex_args: {}
    src=/home/jtanner/somefile tmp=/home/jtanner/.ansible/tmp/ansible-1382639129.45-75345231992135/ dest=/tmp/somefile
    77f38573331483da1e9549cd0b1a5eaf == 77f38573331483da1e9549cd0b1a

[2013-10-24 19:46] jctanner commented on #4653
A more consistent reproducer ...

<pre>
- hosts: localhost
  connection: local
  gather_facts: False
  tasks:
   - name: test1 copy first time
     copy: src={{lookup('env','HOME')}}/somefile dest=/tmp/somefile
   - name: test2 copy second time
     copy: src={{lookup('env','HOME')}}/somefile dest=/tmp/somefile
   - name: screw up /tmp/somefile
     shell: echo "FOOBAR!!!" >> /tmp/somefile
   - na

[2013-10-24 19:52] jctanner commented on #4653
Another option is to have the copy module in library/files/copy simply do the md5 comparison and then only copy if different. The action plugin seems to be allowing people to use copy to set file attributes instead of using file ... which seems a little bit wrong.

[2013-10-24 20:00] bcoca commented on #4653
@jctanner, goes to idempotency, I want this file copied with these
permissions, if either differ, please revert to the expected state.

For example this fixes someone changing the ownership of the file after
being copied, but you need it to be the ownership specified in copy (seems
overkill to have a file per copy command to do same).

[2013-10-24 21:29] jimi-c commented on #4599
@Daemoen I believe @jctanner fixed this in the original issue, can you confirm if the patch he posted works for you?

[2013-10-24 21:46] jimi-c commented on #4657
The patch I created for other issues (found here: https://gist.github.com/jimi-c/154048f2a6eafc4e00d2) appears to correct the original issue. I tried it with the following playbook:

<pre>
$ cat test_4657.yml
- hosts: localhost
  connection: local
  gather_facts: false
  vars:
    ssh:
      - name: root
        key: "ssh-rsa AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA this is a key"
      - name: root

[2013-10-24 22:13] josh-at-knoesis opened #4670 "Trying to use apt_repository with PearOS8, which fails"
PearOS8 is based on Ubuntu 13.04.

I want to be able to add the PPA for things like Ansible to PearOS using apt_respository.

Here's the error I get:

[code]

Here's some the output of 'ansible -m setup <PearOS host>'

[code]

Thanks,
Joshua

[2013-10-25 00:46] mkubenka commented on #4551
Just for future reference, don't you mean `{{ item | basename }}` ?

[2013-10-25 01:42] jimi-c commented on #4596
@jctanner I'm not even sure the patch above is required, I can run your test cases above after merging in @mscherer's patches without error, and the md5 of the generated file is identical every time.

[2013-10-25 02:33] jctanner commented on #4549
Reproduced with latest devel ...

[code]

[2013-10-25 03:06] jimi-c commented on #4670
From a python shell, could you do the following and post the results?

<pre>

</pre>

[2013-10-25 03:36] jctanner commented on #4549
It appears that I can workaround the problem by giving the task a name ...

[code]

[2013-10-25 05:41] jctanner commented on #4549
Test patch:

[code]

[2013-10-25 08:06] garethrees commented on #4665
Similar to #4666, I'm doing #4634.

[2013-10-25 08:07] garethrees commented on #4663
Ah didn't realise. My bad. Thanks

[2013-10-25 08:20] jpcaruana commented on #4575
:+1:

[2013-10-25 08:46] candlerb opened #4672 "Errors in jinja2 value expansion are not reported"
ansible 1.3.3

[code]

Note one missing brace on `owner={{admin_user}`

Now when you run this:

[code]

What appears to have happened is that the jinja2 template expansion error has been silently ignored, and it has gone ahead trying to write to `~{{admin_user}}` instead of `~brian`

[2013-10-25 11:25] mscherer commented on #4670
Also, see https://github.com/ansible/ansible/issues/4587 for a similar type of bug/discussion. I think the issue is the same, ie by changing the code name, this break python-apt, and the issue is on python-apt side.

[2013-10-25 12:41] mpdehaan commented on #4661
Thanks,

I've updated the defect description to more accurately describe the problem and will reopen this for investigation

[2013-10-25 12:42] #4246 closed, assigned to nobody

[2013-10-25 12:44] mpdehaan commented on #4672
So what you asked for, because it was missing the trailing brace, is not a Jinja2 expansion at all.

This is not a bug and there's no way for the template system to detect you didn't use the template system :)

[2013-10-25 12:44] #4672 closed, assigned to nobody

[2013-10-25 12:45] mpdehaan commented on #4670
Sounds like it needs to do something like what was done for Mint to me.

[2013-10-25 12:46] mpdehaan commented on #4667
I think this is going to be hard to reproduce unless you can boil it down to a minimal example.

Can you reproduce this with a "sleep" command?

Also please see contributing.md for information required in bug reports, namely what version of ansible you are using.

Thanks!

[2013-10-25 13:07] candeira commented on #4661
Yeah, sorry for the overly generic description. I'll do better next time.

[2013-10-25 13:16] candlerb commented on #4672
So you're saying that anything which successfully parses as jinja2 is taking as jinja2, and anything which isn't is treated as a plain string?

Does it say that anywhere in the documentation? This violates POLA for me.

[2013-10-25 13:26] mpdehaan commented on #4672
Let's put it this way.

Suppose you don't read how Jinja2 works and mistype {{ foo }} as

MOOCOW foo QUACKQUACK

how is it to know to replace foo?

This violates user-did-not-read-instructions :)

[2013-10-25 13:36] jctanner commented on #4549
Proposed patch: https://gist.github.com/jctanner/7154779

[2013-10-25 13:38] candlerb commented on #4672
What I expect is:

[code]

or something like that. Your MOOCOW example is valid jinja2; mine was not.

jinja2 knows what I mean:

[code]

ansible is silently hiding this exception.

[2013-10-25 13:38] ghost commented on #4667
Sorry,

I am using version 1.4. I may actually break up the this wrapper script into smaller pieces and just have ansible execute those.

--John

On Oct 25, 2013, at 8:47 AM, Michael DeHaan notifications@github.com wrote:

[2013-10-25 13:51] mpdehaan commented on #4672
Patches would be considered.

[2013-10-25 13:57] candlerb commented on #4672
Before patches, what's the intended behaviour?

I have just been browsing the group and see suggestions that jinja2 templates are expanded over and over again until no more expansion is possible, is that true?

If it is, it gives a reason why bad jinja2 values must be accepted, because otherwise you would be unable to use any string literal value which happens to be invalid in jinja2 (unless there

[2013-10-25 14:27] #4549 closed, assigned to jctanner

[2013-10-25 15:17] jimi-c commented on #4670
Ahh, I didn't know this had come up before with Mint.

[2013-10-25 15:23] josh-at-knoesis commented on #4670
Thanks all.

[code]

[2013-10-25 15:30] bcoca commented on #4670
So its detecing it as a simple debian type distro (otherwise you would see
"aptsources.distro.UbuntuDistribution"). It might be worth creating our own
test for ppa support.

[2013-10-25 15:41] mscherer commented on #4670
Well, for mint, we didn't do much. Python-apt use the codename to see what it should support
https://bazaar.launchpad.net/~mvo/python-apt/debian-sid-mirrored/view/head:/aptsources/distro.py#L472

and it hardcode Ubuntu for ppa. The only way to fix that is to accept ppa support for every distribution in ansible, no matter what python-apt say, and looking at the code, to have a huge correspondence s

[2013-10-25 15:58] jctanner commented on #4661
@candeira I can not reproduce this. Please add some debugging statements so that we can validate the newline character ...

[code]

[2013-10-25 16:05] jctanner commented on #4665
with_items and when will work together in most cases:

[code]

Result:

[code]

[2013-10-25 16:18] jctanner commented on #4665
This is the code in runner that changes the behavior for packaging modules ...

[code]

[2013-10-25 16:23] jctanner commented on #4665
Proposed patch:

[code]

[2013-10-25 16:28] jctanner commented on #4666
This should be fixed by the proposed patch in https://github.com/ansible/ansible/issues/4665#issuecomment-27106039

[2013-10-25 17:47] #4666 closed, assigned to nobody

[2013-10-25 18:26] mpdehaan commented on #4341
yep

[2013-10-25 18:29] jimi-c commented on #4341
Alternative idea: task groups:

<pre>
- hosts: all
  task_group:
  - when: ansible_os_family == "Debian"
    tasks:
    - name: task 1
      ...
</pre>

Alternative to the alternative, define the task groups outside of the play and allow tasks to be added to them, as follows:

<pre>
- task_group: foo
  when: something is true
- task_group: bar
  when: something is false
- hosts: all
  tasks:
  - n

[2013-10-25 18:31] jimi-c commented on #4341
For the second case, the task group definition would not have to be outside of the play, but it could help simplify things for playbooks that contain multiple plays.

[2013-10-25 19:31] #4448 closed, assigned to nobody

[2013-10-25 19:39] jctanner commented on #4482
@kafeinnet Thanks for the update. I'll go ahead and close this in reference to http://bugs.python.org/issue1675455

[2013-10-25 19:39] #4482 closed, assigned to nobody

[2013-10-25 19:59] jctanner commented on #4561
Proposed patch:

[code]

[2013-10-25 20:09] #4561 closed, assigned to jctanner

[2013-10-25 21:05] cg-soft opened #4675 "ansible fails if target host does not have simplejson"
<pre>
GATHERING FACTS ***************************************************************
failed: [172.16.143.129] => {"failed": true, "parsed": false}
invalid output was: Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-1382725603.42-55777648167588/setup", line 98, in ?
    import simplejson as json
ImportError: No module named simplejson
</pre>

It might be nice for that case to

[2013-10-25 21:10] srgvg commented on #4675
As for documentation, that is mentioned on http://www.ansibleworks.com/docs/intro_installation.html#managed-node-requirements

[2013-10-25 22:50] cg-soft commented on #4675
The documentation mentions I can use the "raw" module to install
python-simplejson, but that doesn't work since simplejson is required at
the fact gathering stage... I guess I need to find out how to defer the
fact gathering...

On Fri, Oct 25, 2013 at 2:10 PM, Serge van Ginderachter <
notifications@github.com> wrote:

[2013-10-25 23:02] darkone23 commented on #4675
@cg-soft use ansible 'raw' directly.

like so:
`ansible all -i my-inventory.ini -U root -u ssh-user --ask-pass --ask-sudo-pass -m raw -a 'yum install python-simplejson -y'`

[2013-10-25 23:06] jctanner commented on #4675
http://www.ansibleworks.com/docs/glossary.html#gather-facts-boolean

[code]

Please move this discussion to the mailing list.

[2013-10-25 23:06] #4675 closed, assigned to nobody

[2013-10-25 23:06] darkone23 opened #4676 "synchronize module doesn't work with ansible sudo user"
When you use the new synchronize module with a sudo user it syncs to the ssh user instead of the sudo user.

[code]

Instead of syncing to /home/sudo_user/bar it syncs to /home/ssh_user/bar

[2013-10-25 23:09] cg-soft commented on #4675
Still not very pretty. The whole point of having a playbook is to have a one stop shop to configure my cluster. If I now have to do two separate steps...

[2013-10-25 23:11] jctanner commented on #4675
Playbooks can contain multiple plays:

[code]

[2013-10-26 01:13] mpdehaan commented on #4676
cc @tima

[2013-10-26 03:39] jcftang opened #4677 "traceback in authorized_key module"
As of commit 43f48a2e021f12cfe3547904ce0a97c7dfdbf893 the authorized_keys module isn't behaving the same as previously...

[code]

[2013-10-26 06:29] jimi-c commented on #4677
Are you testing with the latest version of devel? This seems to be a duplicate of #4599, which I thought was fixed by some patches I have recently committed. If not, you may wish to try the patch @jctanner posted in #4596.

[2013-10-26 06:41] berendt opened #4679 "modules library/cloud/quantum_* should be renamed to library/cloud/neutron_*"
Quantum is not longer used in the upstream. The new name of Quantum is Neutron. We should soon rename all existing modules.

[2013-10-26 07:03] berendt commented on #4679
Existing modules:
- library/cloud/quantum_floating_ip
- library/cloud/quantum_floating_ip_associate
- library/cloud/quantum_network
- library/cloud/quantum_router
- library/cloud/quantum_router_gateway
- library/cloud/quantum_router_interface
- library/cloud/quantum_subnet

[2013-10-26 07:15] berendt commented on #1682
This should be fixed. Because it's a limitation of ConfigParser (in Python 2) or configparser (in Python 3) that module should be rewritten using something else. There are enough modules available on PyPi. I can take care of this issue. Because I want to deploy OpenStack with Ansible I have to modify the DEFAULT section in INI-like files. I think to use workarounds for this issue is not the right

[2013-10-26 14:21] jcftang commented on #4677
@jimi-c I'm running the latest head, and it does appear to be a duplicate of #4599, it's currently broken with the above output. I tried the patches in #4596 but they don't apply cleanly to the latest devel branch.

Apologies for creating a duplicate, we can move this discussion to #4599 if necessary.

[2013-10-26 14:33] jimi-c commented on #4677
Sure, I'll rebase that patch and get it to you ASAP.

[2013-10-26 14:43] jcftang commented on #4677
Okay, thanks. I probably won't be able to test till monday.

[2013-10-26 15:45] resmo opened #4687 "feature idea: remember the notified handlers in .retry files on fail/error"
if ansible fails, ansible creates a retry file. This is nice, but ansible forgets about handlers, which should have been executed at the end of the play, notified earlier in the play.

What about executing the handlers even after an error or even better, remember in the retry file the handlers, which should have been executed. So they can be executed the next time.

[2013-10-26 16:01] mpdehaan commented on #4679
Lots of users are probably still deploying older versions, so this would break them.

The module name will probably need to stay the same and be made compatible with both old and new.

[2013-10-26 16:01] #4679 closed, assigned to nobody

[2013-10-26 16:03] sheldonh opened #4688 "Inventory ansible_ssh_user overrides play remote_user"
I put ansible_ssh_user in inventory, to cope with the fact that new instances in our cloud demand login with different users, depending on distro (root, cirros, debian, etc.)  But this overrides remote_user in playbooks.

I mentioned this issue on #ansible, and @jctanner asked me to file a bug for it. Not a big deal for me, because I have a workaround (which is to use sudo_user instead of remote_u

[2013-10-26 16:07] mpdehaan commented on #4687
Let's discuss this one on ansible-devel.

I'm open to the idea (or alternatives), though this isn't the best medium for group discussion and would like to encourage some brainstorming around this.

Thanks!

[2013-10-26 16:07] #4687 closed, assigned to nobody

[2013-10-26 16:09] mpdehaan commented on #4688
Thanks for filing this.

I can see a use for it both ways so we'll need to consider things.

In this case, most people would leave off the "remote_user" line and just set it up in variables, and then pass in the default user with "-u".

[2013-10-26 17:31] sheldonh commented on #4688
Yeah, don't stress about pleasing everyone all the time. Those of us on the
fringe can live with easy work-arounds. :-)
On 26 Oct 2013 6:09 PM, "Michael DeHaan" notifications@github.com wrote:

[2013-10-26 19:05] mpdehaan commented on #4662
Ok, think I get it now, somebody else was saying something similar:

[code]

And in template

{{ b | upper }}

does not return FOO

Seems like we just need to pass a flag to let Jinja2 be recursive and it's not doing that.

[2013-10-26 19:53] mpdehaan commented on #4662
working on this now BTW

[2013-10-26 23:12] tima commented on #4676
Without some debugging output I'm shooting in the dark here. I'm guessing that I'm not taking in to account if Ansible is in sudo mode to use a different username that the usual.

[code]

That's a guess though. @eggsby can you run your test  with -vvv and post it?

[2013-10-26 23:13] mpdehaan commented on #4662
The above should fix most occurrences, let us know if this works for you.

Thanks!

[2013-10-27 20:10] alanfairless commented on #3779
FWIW, on newest devel this seems to now work as desired.  I'm successfully using Jinja2 import with context, and global variables are available inside the imported macros without me having  to pass them manually.  It's of course quite helpful for eliminating redundant idioms.  :)

[2013-10-27 23:26] jcftang commented on #4677
Not to loose track of things, but commit 9b1fe455c65e901c9d50a75b68eae77f231aa51d breaks lookups (I guess this should be logged as a new ticket if it hasn't already), so I'm not sure if it affect this regression.

[2013-10-28 01:41] tartansandal opened #4692 "interpolation of complex vars inside a host_vars files no longer works"
Prior to the recent refactoring of variables, complex vars could be set at the top of a host_vars file and reference later using the old $ syntax.  This was great for denormalising data in certain setups.  This as working at commit  0568abe, but no longer works (eg at commit 3722beb).  Using new {{ style variables does not help.  I've produced a minimal test case at

https://gist.github.com/tartan

[2013-10-28 03:13] jsmartin opened #4693 "ansible-playbook hangs indefinitely when using an env lookup"
[code]

playbook:

[code]

expected result:  The playbook should finish running

actual result: The playbook hangs (until I kill -9 ansible-playbook)

[code]

[2013-10-28 07:37] bennojoy opened #4694 "playbook fails if there is "{{" in any modules Documentation section"
The commit 3722bebb1d81864b481aa4626ced6df205829f33 causes the playbook to fail, if module that is executing has "{{" in it's Documentation section. Following is the traceback. The reason being the t.render(vars_input) function in module_common.py tries to substitute the "{{" in module's doc section.

fatal: [localhost] => Traceback (most recent call last):
  File "/root/ansible/lib/ansible/runner

[2013-10-28 09:49] berendt commented on #1682
Sorry for the both wrong references before. I had some issues with git...

[2013-10-28 12:36] mpdehaan commented on #4692
In queue for investigation -- I was able to have working references in my tests.

[2013-10-28 12:36] mpdehaan commented on #4692
Your git bisect BTW seems a bit off https://github.com/ansible/ansible/commit/3722beb -- is about the gem command.

[2013-10-28 12:37] mpdehaan commented on #4694
This is now fixed on the devel branch

[2013-10-28 12:37] #4694 closed, assigned to nobody

[2013-10-28 12:45] mvo5 opened #4699 "ansible-playbook --syntax-check does not check includes in tasks:/vars: section"
Hi,

it appears that the ansible-playbook --check-syntax site.yml does not check includes under the "tasks:" or "vars:" sections.

E.g.

[code]

However:

[code]

I will attach a very simple diff that fixes it for me.

Thanks for your consideration,
 Michael

[2013-10-28 12:50] mvo5 commented on #4699
This branch: https://github.com/mvo5/ansible/compare/bugfix;more-syntax-check?expand=1 contains a trivial diff that seems to solve it for me, it appears that the tasks loading is done later (or lazy) and by re-using the --list-tasks code we can get the check for free.

[2013-10-28 12:55] mpdehaan commented on #4699
If you want to submit a code change, please submit a pull request per the process defined in contributing.md

[2013-10-28 12:55] #4699 closed, assigned to nobody

[2013-10-28 13:02] mpdehaan commented on #4693
This might be the result of some template weirdness on the devel branch, but I'm guessing it might not be indefinite (just called an insane amount of times), but that the "fix_ds" code I wrote should disable evaluation of strings that contain any amount lookup plugins -- in fact, I'm almost positive that it should now.

cc @jctanner

[2013-10-28 13:09] mpdehaan commented on #4693
Possible fix pushed in 73dbab702f8469c8ce99ffc0e1d8da1d4fa82d62 ... though as I have to drive in a bit, this isn't tested.

[2013-10-28 13:15] jsmartin commented on #4693
+1, works for me.

[2013-10-28 13:16] jctanner commented on #4693
https://github.com/ansible/ansible/commit/73dbab702f8469c8ce99ffc0e1d8da1d4fa82d62 confirmed to fix a recursion error ...

[code]

[2013-10-28 13:16] #4693 closed, assigned to jctanner

[2013-10-28 13:27] berendt opened #4700 "lineinfile not working because of wrong default value of insertafter"
[code]

Using this task with every run a new line `auth_unix_ro = "none"` is attached at the EOF of /etc/libvirt/libvirtd.conf. That's not the expected behavior. The expected behavior is that the line `#auth_unix_ro = "none"` is replaced by `auth_unix_ro = "none"`.

Looks like the issue is that `insertafter = 'EOF'` is used when not setting insertafter and insertbefore.

[2013-10-28 13:31] mpdehaan commented on #4700
I'm very skeptical about this as in general this is exactly where you want to add something with lineinfile,  we can take a look.

[2013-10-28 13:32] mpdehaan commented on #4700
FYI -- I'm closing this ticket because we already have a pull request and there's no sense tracking two tickets.

[2013-10-28 13:32] #4700 closed, assigned to nobody

[2013-10-28 13:33] berendt commented on #4700
Sorry. Thought there should be also an issue for a pull request.

[2013-10-28 13:44] jctanner commented on #4692
@tartansandal What is the expected content of pg_hba.conf ?

[2013-10-28 13:46] micafer opened #4702 "Setup module error in windows host"
I was using the 1.2 version to configure windows hosts (with cygwin installed) without problems. I now that it is not a supported O.S. but it can be used to some research purporses.
Using 1.3.3 version I’m having an error with the setup module. It is a very simple error in the “get_date_time_facts” function.  In particular obtaining the “epoch” value (the line 437):
        if self.facts['date_tim

[2013-10-28 14:21] jctanner commented on #4692
If I understand this correctly, it seems that jinja is supposed to be getting a list for group_A_ipaddrs, but is getting a string instead ...

[code]

When jinja tries to reference the members of this string, we get a character by character evaluation in the template.

[2013-10-28 14:31] jctanner commented on #4692
Simple reproducer:

[code]

[2013-10-28 14:57] jctanner commented on #4692
This is related to https://github.com/ansible/ansible/issues/4616

[2013-10-28 15:05] jimi-c commented on #4677
@jctanner Could you please open a new issue for that? I don't believe anyone else has reported it and we do not want to lose track of it as you mention.

[2013-10-28 15:06] jctanner commented on #4677
@jcftang

[2013-10-28 15:07] jctanner commented on #4667
Debug patch: https://gist.github.com/jctanner/7163506

[2013-10-28 15:53] phillipuniverse commented on #4677
Definitely confirm that this is happening with me with latest devel (73dbab7). I attempted to pull in the changes from @jctanner in #4596 (did not apply cleanly, attempted manually) but I still get the stack trace.

Also, to @jcftang's comment about broken lookups; I saw the same thing but it looks like the latest devel has that problem resolved.

Ready to test once anybody has a fix in for this.

[2013-10-28 16:01] jctanner commented on #4572
random exit httpd: https://gist.github.com/jctanner/7199435

[2013-10-28 16:45] jarv opened #4707 "need to improve the supervisorctl docs, consistent handling of configuration updates"
- `state=present` will call `supervisorctl reread` and `supervisorctl add`. I'm curious what the intended use-case was for this and I would like to improve the module docs for it (maybe add an example or something).
- `state=restarted` will call `supervisorctl update` in addition to `supervisorctl restart` but calling `state=started` and `state=stopped` does not, I don't know whether this was inte

[2013-10-28 16:55] jimi-c commented on #4677
Here is a diff that should apply cleanly against devel: https://gist.github.com/jimi-c/7200498

Let me know if this fixes the issue for you.

[2013-10-28 16:56] #4572 closed, assigned to nobody

[2013-10-28 16:57] jctanner commented on #4572
Thanks to benno for this fix!

[2013-10-28 16:58] jarv opened #4708 "need to improve the supervisorctl docs, consistent handling of configuration updates"
- `state=present` will call `supervisorctl reread` and `supervisorctl add`. I'm curious what the intended use-case was for this and I would like to improve the module docs for it (maybe add an example or something).
- `state=restarted` will call `supervisorctl update` in addition to `supervisorctl restart` but calling `state=started` and `state=stopped` does not, I don't know whether this was inte

[2013-10-28 16:58] darKoram opened #4709 "lookup error exception in /jinja2/environment.py" for apt_key module since last weeks commits"
Yesterday I synched to the latest ansible head.
ad5731b4a80355dbf5aa26db495f60e2e88131e1

When I run the ansible-hadoop playbook
I now get failing errors below.  Sorry I don't have any
experience with apt_key to produce a minimal example here,
but the error msg looks fairly useful.

[code]

[code]

Previously I had been on commit:
d7e172f776a87fe79a6cda47ffe93409d38eecef
When i revert to it, thing

[2013-10-28 17:00] jarv commented on #4708
accidental re-submit of https://github.com/ansible/ansible/issues/4707

[2013-10-28 17:00] #4708 closed, assigned to nobody

[2013-10-28 17:19] darkone23 commented on #4662
Hey @mpdehaan, I'm still seeing the same behavior in the example you provided (the filter happens before the substitution), maybe I could write a test case for this?

[2013-10-28 17:29] darkone23 commented on #4662
Here's the base case scenario that shows the strange behavior:

site.yaml

[code]

template.j2:

[code]

cat output:

[code]

This bug basically means you can't use jinja filters if you reference other vars in your vars, right?
I'll try to help however I can.

-- Thomas Omans

[2013-10-28 17:39] jctanner commented on #4662
Setting vars with other vars is not something that works at the moment: https://github.com/ansible/ansible/issues/4616

[2013-10-28 18:18] jctanner commented on #4676
@eggsby I think you have described the behavior for the copy module.

Example:

[code]

If I run that task as "jtanner", src evals to /home/jtanner/1 and dest evals to /home/bob/foofile1

@tima fyi

[2013-10-28 18:22] phillipuniverse commented on #4677
@jimi-c tried it out, works with some keys and fails with others. Stack trace:

[code]

[2013-10-28 18:26] phillipuniverse commented on #4677
Gimme a few and I'll post some failing keys

[2013-10-28 18:30] jimi-c commented on #4677
Could you also verify what revision you're testing against? The last line in your traceback above is 346, but that line on my system (with my patch above applied) is 339.

[2013-10-28 18:34] faust64 opened #4710 "lineinfile & tab character"
Hi,

Using 1.3.1 from pip
Trying to patch some init script, I found out that using tab character when setting the `line' argument of lineinfile plugin syntax errors.

ansible:~/playbooks# ansible-playbook -i production site.yml -l virtservers
ERROR: Syntax Error while loading YAML script, /x/unbound/tasks/service.yml
Note: The error may actually appear before this position: line 6, column 71

name

[2013-10-28 18:37] darkone23 commented on #4676
@jctanner ah, that's a different problem entirely.  However, the rsync module still doesn't work with sudo: changing to use an absolute path shows the following as the cmd:

`rsync --delay-updates --compress --archive --rsh 'ssh  -o StrictHostKeyChecking=no' --out-format='<<CHANGED>>%i %n%L' files/ ssh_user@myhost.example.com:/home/sudo_user/files`

I don't know of a good way to get around this, s

[2013-10-28 18:38] phillipuniverse commented on #4677
FYI, looks like this happens whenever the authorized_keys file does not already exist on the remote machine. When the file already exists it works as expected (no matter what key).

The above was tested on 73dbab7 but it looks like there have been a few changes since then. Testing with absolute latest now (9249cf578d5214cd8b8687c63aa9f24a0e3ea405)

[2013-10-28 18:40] jimi-c commented on #4709
Could you please test with the latest head of devel from today? There were other reports of the lookup plugin having issues but they seem to be resolved.

[2013-10-28 18:49] jimi-c commented on #4677
Ahh yes, I can reproduce that, nice catch! I'll fix this in a moment.

[2013-10-28 18:52] jimi-c commented on #4677
This was the culprit:

<pre>
diff --git a/library/system/authorized_key b/library/system/authorized_key
index 2695d2c..5c40e7d 100644
--- a/library/system/authorized_key
+++ b/library/system/authorized_key
@@ -238,7 +238,7 @@ def parsekey(raw_key):
 def readkeys(filename):

     if not os.path.isfile(filename):
-        return []
+        return {}

     keys = {}
     f = open(filename)
</pre>

I

[2013-10-28 18:52] phillipuniverse commented on #4677
Ok awesome, thanks.

[2013-10-28 18:53] #4599 closed, assigned to nobody

[2013-10-28 18:53] #4657 closed, assigned to jimi-c

[2013-10-28 18:53] #4677 closed, assigned to nobody

[2013-10-28 19:00] phillipuniverse commented on #4677
Sweet, looks like everything is in working order with your latest push to devel. Thanks a ton for the quick resolution!

[2013-10-28 19:02] jimi-c commented on #4677
No problem, thanks again for isolating the issue :)

[2013-10-28 19:11] jctanner commented on #4709
Bug confirmed in ad5731b4a80355dbf5aa26db495f60e2e88131e1
Fix confirmed in 0e9184eefd4eb1729814aad3ee00fdef2fbc2ee4

[2013-10-28 19:11] #4709 closed, assigned to nobody

[2013-10-28 19:17] jimi-c commented on #4596
This should be fixed now, thanks!

[2013-10-28 19:17] #4596 closed, assigned to jimi-c

[2013-10-28 19:51] jctanner commented on #4667
Result: https://gist.github.com/ruv-/7203391

[2013-10-28 19:57] jctanner commented on #4524
@briceburg I can not reproduce this with the latest devel or 84a57b75450fa513ccf9e4132d66c0a67cd08c59 ...

[code]

Could you specify what version/commit you are using, and if possible retest with the latest devel?

[2013-10-28 20:23] jctanner commented on #4667
@ruv- as discussed on irc, it seems like subprocess.communicate never returns with your shell script. Let's try reducing this down to just subprocess and your script ...

https://gist.github.com/jctanner/7203887

[2013-10-28 20:33] ghost commented on #4667
Worked with jctanner and it seems to be an issue with the script I am calling. When wrapping it in python there are a lot of errors. I am going to re-write it and try again.

[2013-10-28 20:33] #4667 closed, assigned to jctanner

[2013-10-28 20:50] bwhaley commented on #3157
Just to add my two cents, I was _just_ about to add an "all" tag to my group_by tasks just as described in this issue but thought I'd look up if there was an ansibley way to do it first. Having such a tag definitely makes sense to me. I don't want to add --tags all,foo each time I need to run a playbook on some set of tasks.

[2013-10-28 21:08] jctanner commented on #4521
Confirmed @bcoca's statement with 0e9184eefd4eb1729814aad3ee00fdef2fbc2ee4. Group_vars is loaded when the playbook starts, but group_by does empty out anything that was defined ...

[code]

[code]

[2013-10-28 21:08] #4521 closed, assigned to nobody

[2013-10-28 22:19] marcinpraczko opened #4714 "Ansible doesn't read global knowhosts files for SSH."
Hi,

Ansible 1.3.2

I've described more details in mailing list: https://groups.google.com/forum/#!topic/ansible-project/osEh8SSdjhQ

It looks like ansible is not supporting reading global SSH Knowhosts files (which can be modified by SSH options). In world where a lot of virtual machines can be created in cloud and software designed for continuous integration and continuous delivery (like jenkins

[2013-10-28 22:31] darkone23 commented on #4616
I believe the regression was introduced here: https://github.com/ansible/ansible/compare/0568ab...503110
(at least the issue in #4662, a git bisect and test-case could prove if this one was also introduced by the same commits)

Is the simplest fix just to revert those commits until we can get them working with the previous behavior?

[2013-10-28 22:48] tartansandal commented on #4692
Hi jctanner. Thanks for picking this up. You're test case looks spot on.  I thought this had something todo with host_vars files, hence the complex gist, but clearly not.

[2013-10-28 23:49] jcftang commented on #4677
+1 it's closed and all, but its working for me now as well

[2013-10-29 00:28] jimi-c commented on #4677
@jcftang Yeah I closed it via the commit, as I had enough reports of things being fixed to feel confident in pushing it up. Thanks!

[2013-10-29 02:51] #4653 closed, assigned to nobody

[2013-10-29 10:46] candeira commented on #4661
Ok, so the regression is in two places, and none of them seem to be the lookup plugin.:

a) when quoting a {{ jinja_stlyle_plugin_call }} via the > Character, a newline gets inserted at the end.
b) when interpolating in the ${old_style}, the newline gets stripped. The interpolation in {{ jinja_style }} preserves it.

I'm writing myself a couple of tests,  and then I'll try to find and fix the bug(

[2013-10-29 12:42] candeira commented on #4661
The playbook below confirms the above analysis. Run with -v to see it break only when creating a var by quoting a {{ jinka_style_interpolation }} via the ">" character, and interpolating it later also with {{ jinja_syntax }}.

Workarounds: using the old, deprecated syntax anywhere solves the problem. So does not using ">" quoting.

[code]

[2013-10-29 13:03] #4702 closed, assigned to nobody

[2013-10-29 13:10] srgvg opened #4719 "bug in resolving/templating keys for dict variables"
Given this playbooklet:

[code]

This fails with

`fatal: [localhost] => One or more undefined variables: 'dict object' has no attribute '{{name|last}}'`

Expected result:

``ok: [localhost] => {    "msg": "two" }`

This faulty behaviour was introduced in 35cb9dc and still exist on latest devel 0faecdf7d1e8b2af1e69a7a67fffa3731ef130e3

[2013-10-29 13:42] jctanner opened #4720 "mysql_db restore function does nothing"
Per https://github.com/ansible/ansible/commit/84a692bcf721444fc853490843f9012deae537fe#commitcomment-4453575

Thanks to @Ligustah for pointing this out.

[2013-10-29 13:47] mpdehaan commented on #4719
Still exploring options on the devel branch -- I believe when resolving the filters we need to run them for at least one pass, but not more, yet there are issues if we run them too many times.

Hope to have this resolved in a few days.  The temporary workaround for now is to filter inside the msg line.

[2013-10-29 13:56] mpdehaan commented on #4616
We're going to move forward because this is the development branch rather than simply revert, there are some upgrades to variable handling that are worth working on.

Sorry for the delay in response we have chased some related issues and this _LOOKS_ resolved, though because this got tagged feature accidentally it slipped off my radar.   Apologies.

[2013-10-29 14:12] srgvg commented on #4719
Just bumped into another issue, which probably will be the same.

Playbook:

[code]

With 35cb9dc~1 the full list is resolved and iterated.
With 35cb9dc I get

[code]

[2013-10-29 14:33] #4720 closed, assigned to nobody

[2013-10-29 14:40] jctanner commented on #4720
Tested with ...

<pre>
- hosts: el5.lab.net
  #connection: local
  gather_facts: false
  vars:
     DB_DNS : el5.lab.net
     DB_USER : "root"
     DB_USER_PASSWORD : "redhat"
  tasks:
    - shell: /usr/bin/mysql -u root --password=redhat -e "drop database test"
      ignore_errors: True
    - shell: /usr/bin/mysql -u root --password=redhat -e "create database test"
      ignore_errors: True
    -

[2013-10-29 15:25] jctanner commented on #4661
@candeira I see what you are saying now. I did not use ">" in my testcases. However, the behavior seems to be correct for yaml ...

https://gist.github.com/jctanner/7216608

The lookup plugin will make a string without a newline character. The yaml ">" will append a newline character to the string.

Just so that I'm clear, do you want to prevent the newline from being appended to the string if usi

[2013-10-29 15:35] jctanner commented on #4616
Testing with latest devel seems to show this issue is fixed:

[code]

Result ...

[code]

[2013-10-29 15:36] #4616 closed, assigned to jctanner

[2013-10-29 15:54] jctanner commented on #4662
Moving to https://github.com/ansible/ansible/issues/4726

[2013-10-29 16:15] jctanner commented on #4239
https://github.com/ansible/ansible/issues/4239#issuecomment-26916438 is resolved.

[2013-10-29 17:45] marcinpraczko opened #4722 "Not detecting whether variable for 'user' is setup."
Hi,

Ansible 1.3.2

When dynamic variable is used for connection with servers - ansible is not checking whether this variable has been setup or not:

Playbook:
Inventory:
  user: "{{ ssh_user }}"
  vars_files:
    - vars/common_sshuser.yml

If 'ssh_user' is defined in command line or in file common_sshuser.yml - everything is working as expected and ansible connects with valid user.
But if this va

[2013-10-29 17:50] marcinpraczko opened #4723 "TestRunner - hardcoded path to /tmp/gitdemo"
Hi,

Ansible: branch devel

test/TestRunner.py has hardcoded path to /tmp/gitdemo and /tmp/gd.
This issue doesn't allow run tests by different users on the same machine:

For example:
- Manaul run tests as user1
- Automated run tests for example with jenkins.

If one user will run tests / another user is not able run this tests because folders has been created on /tmp with different owner and test

[2013-10-29 18:00] mpdehaan commented on #4722
You can't define a variable to nothing and have it just know what you mean.

Please stop by the mailing list with your question as this isn't a support forum.

Thanks!

[2013-10-29 18:00] #4722 closed, assigned to nobody

[2013-10-29 19:12] jctanner commented on #4688
Reproduced:

[code]

[2013-10-29 20:20] candeira commented on #4661
What I want to prevent is the newline inserted in the playbook and breaking expectaitions. See my original example, where it was inserted in the middle of a shell command.

My point is that this shouldn't happen:
- Following deprecation instructions breaking existing playbooks. On the contrary, it should lead to regressionless refactoring.
- Putting a value in a var followed by interpolating the v

[2013-10-29 22:48] mscherer commented on #4648
Looking at it, it seems you can either set the user, or a filename, but not both ( ie, crontab $user, or crontab $filename ). I am not sure we can find a better way

[2013-10-29 23:29] neh opened #4724 "lookups no longer working in group_vars"
A lookup I've had in my group_vars/all for a while stopped working recently. It stopped working as of baebe6d, and still doesn't work as of the latest, e0fbaea. The group_vars file looks similar to this:

[code]

Expected result: local_dir should equal /home/username/dir.
Actual result: local_dir is /home/username/ansible_working_dir/{{ lookup('env', 'HOME') }}/dir

[2013-10-30 00:02] neh opened #4725 "apt module no longer optimizing with_items lists"
Starting from 1f6edf7, the apt module (and presumably yum and pkgng as well) is processing each package in a with_items list separately, rather than bundling them into a single call. Here is one of my tasks where this is occurring:

[code]

That task lives in a main.yml in a common role, which is applied like this:

[code]

(edited to reflect correct commit)

[2013-10-30 00:54] mpdehaan commented on #4724
Just tried to reproduce this and encountered no problems.

I would have to see more of your playbook to see what may be going on but lookup plugins defined in group_vars are in fact running.

(note that we are going to revert some magic here soon that may also help you out)

[2013-10-30 01:04] jctanner opened #4726 "jinja2 vars and filters in templates are applied in the wrong order"
Reproduced with (as of d3c883241428091d5de4175e609b1831af8228b7):

[code]

Result ...

[code]

Per #4616 and this testcase, we know that using vars within vars: is working again. The expected content of the output file should be "FOONEW"

[2013-10-30 01:05] #4662 closed, assigned to jctanner

[2013-10-30 02:40] mpdehaan commented on #4726
(for those reading this) we're looking at reverting a bit of this tomorrow, please stay tuned, thanks!

[2013-10-30 02:40] mpdehaan commented on #4725
cc @jctanner assume you have got this one near-term, yes?

[2013-10-30 02:42] mpdehaan commented on #4719
We're looking at reverting some of this tomorrow so this should all self-resolve soon.

I have some ideas about making references work nicely in other ways after that is done.

[2013-10-30 02:42] mpdehaan commented on #4692
See comments on the other BTW, most of this should be fixed up tomorrow.

[2013-10-30 03:00] jctanner commented on #4725
@mpdehaan yep

[2013-10-30 03:29] neh commented on #4724
Thanks for testing it out. Now knowing that it should work, I did some more testing and realized that I was using local_dir in the above example inside a file lookup to install an authorized_key. Changing from this:

[code]

to this:

[code]

makes things work (where local_dir is defined in group_vars as previously posted).

[2013-10-30 07:01] nueces commented on #2484
I did some changes in my vars that modified the /etc/exports (change netblok ip clients) in the nfs server, thats remove the permission to the host in where the mount was configured, then when the play run in the client, it fail with the error:

[code]

[code]

[code]

If I umount the directory before run the play it works as expect. I'm not sure about whats is the best way to manage this, but I l

[2013-10-30 08:33] lied commented on #4061
gdamjan, I also need this. Until something like this works I'm using ini_file module to set facts

[2013-10-30 12:21] Jmainguy commented on #4648
It is a Solaris limitation to be sure. In solaris you can crontab $filename, or crontab [-e | -l | -r ] $username. If you did crontab $username it would load a file called $username into the user running the command cron.

If Solaris specific code can be implemented into the module to sudo as the user=$username and then crontab $file once sudo'ed I believe that could fix the issue as well. An issu

[2013-10-30 13:36] JensRantil opened #4729 "Missing tags parameters in `ansible-playbook --help`"
As of current `devel` (e0fbaea5663350af329c818dc1b69f99ca44fefb), I can't seem to find `--tags` and `--skip-tags` when I issue `ansible-playbook --help`.

[code]

[2013-10-30 13:39] bcoca commented on #4729
Wrong binary, that is for addhoc commands and doesn't support tags as they
would be useless.

Brian Coca

[2013-10-30 13:45] JensRantil commented on #4729
Eh, my apologies...

[2013-10-30 13:45] #4729 closed, assigned to nobody

[2013-10-30 13:56] srgvg opened #4730 "stacktrace instead of proper error for "when: inventory_hostname in groups['doesnotexist']""
When referring to the special variable `groups['doesnotexist']`, one usually gets a proper error, as shown here in the first example.

[code]

However, when using the same construct in a conditional, this triggers a stacktrace:

[code]

Tested with ansible versions 1.4 devel from
- 20131014
- 20131029
- ansible 1.4 (devel e0fbaea566) last updated 2013/10/30 14:49:14 (GMT +200)
  all with same resu

[2013-10-30 15:04] jctanner commented on #4726
@eggsby As of https://github.com/ansible/ansible/commit/d154bf87812209409a673fd7f9848d75701e2f32 this should be working again, based on my tests.

[2013-10-30 15:04] #4726 closed, assigned to nobody

[2013-10-30 15:07] jctanner commented on #4692
@tartansandal as of d154bf87812209409a673fd7f9848d75701e2f32 , this will work if you revert to old style var references ...

[code]

[2013-10-30 15:07] #4692 closed, assigned to jctanner

[2013-10-30 17:12] EmmanuelKasper opened #4732 "git and hg module should recommand use /etc/ssh/ssh_known_hosts instead of"
The git and the hg modules recommends using `StrictHostKeyChecking no` to bypass the ssh pubkey prompt.
 A much saner way to do this would to put the needed ssh pubkey in `/etc/ssh/ssh_known_hosts`, so you server can still have the MITM defense of publickeys.

The wording could be as such:

If using git over ssh and the task seems to be hanging, first verify that the remote host public key is pres

[2013-10-30 18:23] jctanner commented on #4724
@neh as of d154bf87812209409a673fd7f9848d75701e2f32 your first example will work again.

Test playbook:

[code]

Output:

[code]

[2013-10-30 18:23] #4724 closed, assigned to nobody

[2013-10-30 18:27] neh commented on #4128
Does https://github.com/ansible/ansible/pull/4338 solve this?

[2013-10-30 18:47] neh commented on #4724
@jctanner It does indeed, thank you.

[2013-10-30 18:51] jctanner commented on #4719
@sergevanginderachter as of d154bf87812209409a673fd7f9848d75701e2f32 both of your examples are working:

Test playbook:

[code]

Results:

[code]

[2013-10-30 18:51] #4719 closed, assigned to nobody

[2013-10-30 19:12] jctanner commented on #4524
Tests still pass with d154bf87812209409a673fd7f9848d75701e2f32

@briceburg If you are able to reproduce this with a fresh checkout, please open a new ticket.

[2013-10-30 19:12] #4524 closed, assigned to jctanner

[2013-10-30 19:21] fdhenard commented on #3761
+1

Also what is the duplicate id?

[2013-10-30 19:22] jctanner commented on #3761
@fdhenard https://github.com/ansible/ansible/issues/3887

[2013-10-30 19:37] Daemoen opened #4734 "SSH known_hosts prompt spews without waiting for response"
[~/Projects/ansible_source] % git log | head -n1                                                                                               [±] Branch: devel Status: no-change
commit d154bf87812209409a673fd7f9848d75701e2f32

[~/Projects/ItOps/ansible] % ansible -i test all -m raw -a 'groupmod -n mapr hadoop' -u root                                                  [±] Branch: master Status: unt

[2013-10-30 19:47] jctanner commented on #4688
@mpdehaan Can you confirm that we want to set the order of precedence for the connection user from ...

inventory ansible_ssh_user > task remote_user > play remote_user > playbook remote_user > cli --user

to ...

 task remote_user > play remote_user > playbook remote_user > inventory ansible_ssh_user > cli --user

[2013-10-30 20:02] fdhenard commented on #3887
+1

[2013-10-30 20:28] jctanner commented on #4633
Reproduced with d154bf87812209409a673fd7f9848d75701e2f32

[code]

[2013-10-30 21:01] jctanner commented on #4394
@lufik I can reproduce the issue with "ansible" on 1.3.2 ...

[code]

However, it is fixed as of 1.3.4 ...

[code]

Try updating to 1.3.4 or checking out the latest devel and running your testcase with that.

[2013-10-30 21:04] #4394 closed, assigned to nobody

[2013-10-30 21:34] jctanner commented on #4455
@rdesmet I tested this from 1.3.2 -> d154bf8781 and it works fine in all versions...

[code]

Output:

[code]

The difference between this testcase and yours is that I used "ansible_os_family" not "family" and RedHat/Debian had to be single quoted.

[2013-10-30 21:41] jctanner commented on #4455
Oops, failed to read the "skipped filter" part of the example.

[2013-10-30 21:49] jctanner commented on #4455
@rdesmet Ok, retested with filters in the when statements and I'm not seeing errors there either ...

[code]

Output

[code]

[2013-10-30 21:53] jctanner commented on #4455
Retested with ...

[code]

Same result. Please open a new bug if you can reproduce this on the latest devel with ansible_os_family and 'RedHat/'Debian.

[2013-10-30 21:53] #4455 closed, assigned to nobody

[2013-10-30 21:57] jctanner commented on #4725
This was introduced intentionally by https://github.com/ansible/ansible/commit/1f6edf7d76c66af0042dfc535b39785f2869dc19

I need to make it smarter though it seems.

[2013-10-30 22:24] mscherer commented on #4648
@jmainguy or we could just use su, as I suspect it would be installed on every unix

[2013-10-30 22:44] Jmainguy commented on #4648
@mscherer Yeah I initially coded it to use su as a work around as @romeotheriault is suggesting. I however got stuck when ansible deletes the file as soon as I used su. I will put some work into it now to see if I can get around ansible deleting the tmp file before I can load it with su.

[2013-10-30 23:37] jctanner commented on #4623
@SirScott I'm assuming #4624 fixed this issue.

[2013-10-30 23:37] #4623 closed, assigned to nobody

[2013-10-31 00:05] mpdehaan commented on #4734
Can I ask why you are using the raw module for this?

This is curious it seems to be asking about hosts after for you.

[2013-10-31 00:07] mpdehaan commented on #4665
The conditional should be evaluated for each step here.

[2013-10-31 00:18] jctanner commented on #4665
Reopening: 078aaa95a2a07cb42a1da65b11837e4198ebbb4c

[2013-10-31 00:19] jctanner commented on #4725
Reverted 1f6edf7d76c66af0042dfc535b39785f2869dc19 with 078aaa95a2a07cb42a1da65b11837e4198ebbb4c. Lists are sent to yum/apt again.

[2013-10-31 00:19] #4725 closed, assigned to jctanner

[2013-10-31 00:30] mpdehaan commented on #4665
taking this

[2013-10-31 00:36] mpdehaan commented on #4665
Ok, now fixed, should be good to go!  Thanks!

[2013-10-31 00:36] #4665 closed, assigned to nobody

[2013-10-31 00:36] mpdehaan commented on #4734
Looking at this now BTW

[2013-10-31 00:41] mpdehaan commented on #4734
Ok, I don't get this behavior using the raw module or other modules.

This behavior is controlled by some flock operations, can I ask some questions about what OS you are running from as your ansible control machine?   (Nothing crazy like Windows I hope?  That's not supported as a control machine).

I'm not sure of your background but you may be interested in poking in the code under lib/ansible/r

[2013-10-31 00:49] #4535 closed, assigned to nobody

[2013-10-31 00:49] mpdehaan commented on #4535
I pushed a few additions to absolute-ify the path, which we missed previously.

Tested with your example above, you should be good to go.

let me know if not.

Thanks!

[2013-10-31 00:59] mpdehaan commented on #4734
Current speculation is the known host file is not in ~/.ssh/known_hosts but the host IS in ~/.ssh/known_hosts so the lock might not be firing (we know Ansible doesn't know if you have configured it to an odd location).

This may not match reality though.

[2013-10-31 01:18] Daemoen commented on #4734
Something weird must have happened to known_hosts itself, not sure what, but removing the file and starting again, the issue disappeared..  Closing as PEBCAK issue.  Apologies.

[2013-10-31 01:18] #4734 closed, assigned to nobody

[2013-10-31 01:26] jctanner opened #4737 "NameError: global name 'item' is not defined"
Task

[code]

Result

[code]

[2013-10-31 01:30] jctanner commented on #4737
Resolved by 7b331ef6edb17b718e724033eb470f02592e0059

[2013-10-31 01:30] #4737 closed, assigned to nobody

[2013-10-31 01:50] mpdehaan commented on #4635
Ok you're running the devel branch so the inventory "eval" stuff is there.  Good deal.

[2013-10-31 01:51] mpdehaan commented on #4635
@jimi-c can you help take a look at this?

I didn't remember role deps having conditionals, which may be a case of us needing to raise an error if this is an unsupported keyword.  Although I don't recall.

[2013-10-31 05:31] ksage opened #4739 "accelerate mode python2.4 compliance - (CentOS 5)"
I'm trying to switch to accelerate mode and I'm having trouble with my CentOS 5 clients (5.9 to be exact).  I'm using the Ansible 1.3 release:

 # ansible --version
 ansible 1.3.2

It works ok for CentOS 6 clients (which use Python 2.6), but for CentOS 5 (which uses Python 2.4) I get the following:

 GATHERING FACTS ***************************************************************
 Could not connect

[2013-10-31 08:39] kafeinnet opened #4741 "with_templates look for templates in files/"
Hi,

The with_template lookup search templates in files subdir.

Example with "with_template: dummy_all_hosts.j2" :

[code]

I think it'd be better if it looks in the templates subdir were all templates are.

\fd

[2013-10-31 09:13] przemolb commented on #4101
But when you have hundreds or thousands of servers to change syslog config (even with ansible) you need to raise a Change Request which in big environments might take a lot of time to test, deploy, etc. It is much, much easier to change just ansible config. After all ansible is to make our, sysadmins/devops, life easier so why to complicate it ?

[2013-10-31 12:04] mpdehaan commented on #4741
This is just because it's a lookup plugin and that's where they look.

(Almost no one uses with_template because they just use the template module instead -- IIRC it's not documented for that reason even, so it's not a large concern)

You can "../templates" in the path if you like.

[2013-10-31 12:04] #4741 closed, assigned to nobody

[2013-10-31 12:32] przemolb opened #4743 "rpm_key doesn't import remote key"
Example playbook:
- name: import HP SPP GPG key

  action: rpm_key state=present key=http://downloads.linux.hp.com/repo/spp/GPG-KEY-SPP

When I run:
ansible-playbook install-spp.yml ...
I get the following message:

fatal: [node1] => failed to parse: Traceback (most recent call last):
  File "/tmp/ansible-1383222123.08-223059426643390/rpm_key", line 1135, in ?
    main()
  File "/tmp/ansible-13832

[2013-10-31 13:01] jlaska opened #4744 "ec2 traceback..."
Observing a regression with a playbook that runs on a daily basis.  The playbook relies on a custom ec2 module that has idempotency changes not yet accepted upstream.

The problem appears to be triggered by code the following method call:

[code]

The task calling the module is as follows:

[code]

[code]

Using `git bisect`, I've determined that the commit causing the problem is commit b5c9d5a59b

[2013-10-31 13:11] jurgenhaas opened #4745 "AttributeError: 'list' object has no attribute 'startswith'"
When I have the following task in a role, that works fine:

[code]

However, when the "when" statement is not in the task but in the main playbook when calling the role, then I get the error stack trace below. The playbook looks like this:

[code]

The stacktrace with the error is this:

[code]

[2013-10-31 13:43] przemolb opened #4746 "rpm_key: add option to avoid importing duplicate keys"
While testing some playbooks with rpm_key module I have noticed that each time I run it it imports the same key. It would be good to have an native ansible option which would prevent importing already imported key.

[2013-10-31 14:31] candlerb opened #4747 "jinja2 errors do not report line number in template"
ansible 1.3.3

Output from ansible with an erroneous template:

[code]

This does not show the line number. But jinja2 _does_ report the line number in its exception traceback:

[code]

The error is in fact in line 131.

[2013-10-31 15:25] bcoca commented on #4101
I would argue that getting the remote logging to work correctly would
require more setup, from permissions, locking scheme (same or multiple
users running ansible against same machine), log rotation, etc is a lot
more complicated than just using syslog.

[2013-10-31 15:56] jctanner commented on #4746
@przemolb The rpm_key module is idempotent in regards to existing keys based on a quick review of the code. Can you share an example task with a key/url that is repeatedly imported?

[2013-10-31 15:58] jctanner commented on #4745
@jurgenhaas What is the output of "ansible --version" ?

[2013-10-31 16:02] jctanner commented on #4744
@jlaska is there a pull request for the ec2 module changes you are using?

[2013-10-31 16:07] jctanner commented on #4743
@przemolb I can not reproduce this as 4a3e828b8387ca386d6ac51d07302d08ceb95c14

Please indicate what version or hash of ansible you are using: "ansible --version"

[2013-10-31 16:26] jlaska commented on #4744
@jctanner it's based off of #4033 but not available in any fork/branch.  It's available for review at http://pastebin.com/Z0yNap4n

[2013-10-31 17:55] davestern opened #4750 "tags not working on post_tasks include?"
I have this playbook:

[code]

But when I try to run just the tests, I get this output:

[code]

Tags do not appear to work in post_tasks: include files

[2013-10-31 17:57] alanfairless opened #4751 "Ansible generated passwords would benefit from additional entropy"
The passwords generated by Ansible use random strings from Python's random module (in `lookup_plugins/password.py` and in `library/cloud/linode`.  However, that's not a cryptographically secure source of random data.

Frank Sievertsen showed how an attacker who knows some amount of output from the Python random module can reconstruct the internal state of the generator, and then predict all past a

[2013-10-31 17:58] CormacBracken opened #4752 "mysql_user fails to delete user when reprovisioning."
This task ran on first provision (when I assume there's no such user) but fails subsequently, with the output below.

However if I change /etc/hostname from ubuntu-64bit to ubuntu-sfbit, the task again runs correctly. It seems related to https://github.com/ansible/ansible/issues/4467 .

[code]

(The above output is from running 1.3.3, but I previously tested with 1.4 which failed at the same point

[2013-10-31 18:05] mpdehaan commented on #4744
That bisect does not seem related.

[2013-10-31 18:05] jctanner commented on #4752
@CormacBracken can you provide an example playbook I can use to reproduce this?

[2013-10-31 18:23] jctanner commented on #4747
@candlerb Can you share an example playbook and template file that reproduces the issue?

[2013-10-31 18:42] dekked opened #4753 "Recent commit broke instance_tags in ec2 module"
This is the commit: https://github.com/ansible/ansible/commit/90cce35919e6b93c0b904078c5285e1dbaeb0fdf

The following `site.yml` file used to work with the previous commit. It launches an ec2 instance. You are probably going to need to modify `keypair`, `region` and `ami_id` variables to reproduce, and also need to have the `AWS_ACCESS_KEY` and `AWS_SECRET_KEY` environment variables present.

[cod

[2013-10-31 19:01] mscherer commented on #4648
Ansible do not delete the file, but the file is root readable only, so I had to make a rather ugly chown. I think the code could be more elegant, or refactored, but it work, so that's IMHO a good starting point.

[2013-10-31 19:04] mscherer commented on #4745
Also, could you edit the bug so we can have playbook without being interpreted by the github markdown parser ?

[2013-10-31 19:05] jurgenhaas commented on #4745
It's ansible 1.4 and I've done this about 12 hours ago:

git pull (from git://github.com/ansible/ansible)
python setup.py build
python setup.py install

So in other words I believe to be on the latest dev release.

[2013-10-31 19:10] jurgenhaas commented on #4745
Sorry for the formatting, I have just corrected the original post.

[2013-10-31 19:29] Jmainguy commented on #4648
@mscherer you are the best. Tried your pull request and it worked like a charm. +1 for recommending this gets included in 1.4

[2013-10-31 19:49] candlerb commented on #4747
[code]

Giving:

[code]

The error is shown, but the line number in the template is not. This seems to apply to all other template errors too, e.g. if a variable is undefined, or you try to access a non-existent attribute of an object.

[code]

Result:

[code]

I now use a little script to identify where the error is in a badly-formed template:

[code]

It doesn't help for mis-spelled variables/at

[2013-10-31 19:59] CormacBracken commented on #4752
Of course (unfortunately it's a long one)

https://github.com/voceconnect/afterburner-ansible

[2013-10-31 21:11] mpdehaan commented on #4747
1.4 should already report line numbers of template error, so this is available in the pending release towards the end of this month.

Undefined variables will be unable to report line numers as we are templating the whole file.

[2013-10-31 21:11] #4747 closed, assigned to nobody

[2013-10-31 21:12] mpdehaan commented on #4744
If the playbook is using a custom ec2 module then reporting a bug on the modified ec2 module is not something we can fix here.

[2013-10-31 21:12] #4744 closed, assigned to nobody

[2013-10-31 21:13] mpdehaan commented on #4743
Closing this as fixed in latest.

[2013-10-31 21:13] #4743 closed, assigned to nobody

[2013-10-31 21:15] mpdehaan commented on #4745
Thanks, this is due to some recent feature additions, the code needs to account for the conditional possibly being a list of conditions.   Looking at this now.

[2013-10-31 21:16] przemolb commented on #4743
Which version of ansible was it fixed in ? I have used 1.4 cloned a few days ago.

[2013-10-31 21:20] mpdehaan commented on #4745
fixed on latest devel branch and pushed just now, thanks!

[2013-10-31 21:20] #4745 closed, assigned to nobody

[2013-10-31 21:24] mpdehaan commented on #4633
This defect description is not very good at explaining the problem BTW.  Please take some time to explain the defect in English in the future.

It does not provide it's own reproduction playbook so it's very unclear what the value of the template is.

I'm going from what James has above.

[2013-10-31 21:28] mpdehaan commented on #4316
This no longer causes an exception on the devel branch so I'm going to close this one.

Sorry for the delay in response, we have been swamped with community input!

Thanks!

[2013-10-31 21:28] #4316 closed, assigned to nobody

[2013-10-31 21:29] mpdehaan commented on #4494
So interestingly enough restarting supervisor on Ubuntu is just a problem in general, in Ubuntu 12.04 you have to stop it, sleep, and restart it.

I suspect this is just an issue with the init script and not Ansible.

[2013-10-31 21:30] mpdehaan commented on #4494
In fact, yes, it doesn't support "reloaded" per the output from the service binary, you would just use the shell command in this case.

Open to the idea of the other ticket of course!

[2013-10-31 21:30] #4494 closed, assigned to nobody

[2013-10-31 21:33] mpdehaan commented on #4688
I think the idea here is you are describing a fundamental property of the host, in this case, "the host needs to be connected to like so", and the value in the play is a default if none is set.

As such, I do not think this is a bug, and is in fact useful behavior.

Suppose 98% of your systems were in compliance and 2% were odd ducks, etc.

In this case I would choose to _not_ set this var in inve

[2013-10-31 21:33] #4688 closed, assigned to nobody

[2013-10-31 21:34] mpdehaan commented on #4648
Closing this as we have the pull request ticket to review, thanks!

[2013-10-31 21:34] #4648 closed, assigned to nobody

[2013-10-31 21:36] mpdehaan commented on #4606
updates have been reverted so closing this one

[2013-10-31 21:36] #4606 closed, assigned to nobody

[2013-10-31 21:37] mpdehaan commented on #4618
As the "last weekend" stuff has been reverted this should all once again be operational, so i'm going to close this ticket.

Thanks!

[2013-10-31 21:37] #4618 closed, assigned to nobody

[2013-10-31 21:38] mpdehaan commented on #4730
Suggested fix for this is to probably detect StrictUndefined in the error message and then raise errors.AnsibleError

[2013-10-31 21:40] mpdehaan commented on #4661
I can confirm this no longer occurs on the development branch, this was a result of some code we have recently reverted.

[2013-10-31 21:40] #4661 closed, assigned to jctanner

[2013-10-31 21:44] mpdehaan commented on #4710
YAML seems to support a \t

[2013-10-31 21:44] #4710 closed, assigned to nobody

[2013-10-31 21:45] mpdehaan commented on #4619
What Ansible version did you experience this on?

(ansible --version?)

some changes to wait logic have been made on 1.4 (devel branch)

Thanks!

[2013-10-31 21:47] mpdehaan commented on #4650
Ok so yes, it's like I said, if the condtional is a variable, and bare like that, we're expecting a reusable conditional expression in foo, and there's not one.

I would think this is working like we want.

I have confirmed the above is operational using the previous example.

[2013-10-31 21:47] #4650 closed, assigned to nobody

[2013-10-31 21:57] mpdehaan commented on #4732
I'm updating the docs for both now and this will be available in the next push.

Agree and thanks!

[2013-10-31 22:02] mpdehaan commented on #4714
The suggestion here might be to check the SSH args, if specified, and shlex.split them to see if a GlobalKnownHosts param was specified, and if so, look in that file for a host match not the other.

If this is not done the prompts don't lock correctly or lock at the wrong time (see thread).

[2013-10-31 22:02] #4732 closed, assigned to nobody

[2013-10-31 22:02] mpdehaan commented on #4732
done, will show up shortly.

[2013-10-31 22:05] mpdehaan commented on #1919
closing as this is somewhat complex as it would imply pinning the file context to every object created from the file.

I'm going to suspect we don't go here.

[2013-10-31 22:05] #1919 closed, assigned to nobody

[2013-10-31 22:05] mpdehaan commented on #4640
That sounds like a good solution actually.

[2013-10-31 22:06] mpdehaan commented on #4655
BTW, you can somewhat do this now with the configurable role path on 1.4 devel

[code]

[2013-10-31 22:17] mpdehaan commented on #4753
What I really want here is to not require JSON inside and just be able to take basic tag structures.

The idea that we have to embed JSON in Ansible content to use the tags option is offensive to me and our simplicity goals.

If we can solve this by instead supporting a non-JSON way this should be fine.

[2013-10-31 22:18] mpdehaan commented on #4744
This is a duplicate of (newer, but a bit better described as it got the commit right - https://github.com/ansible/ansible/issues/4753)

[2013-10-31 22:21] #4739 closed, assigned to nobody

[2013-10-31 22:27] mpdehaan commented on #4753
@jctanner and @jlaska -- can you debug this one?  If you get a dictionary type here you would not have to do json.loads and this might be very simple.

I see we have in the argument spec this however:

[code]

What I really would like is a "type='dict'" parameter to instance_tags that works just like 'list' but can take JSON, a repr printed dict, or even key=value and works correctly regardless.

[2013-10-31 22:28] mpdehaan commented on #4753
I see we have type=dict BTW it just needs to get smarter

[2013-10-31 22:46] mpdehaan commented on #4753
Possible fix pushed in 4318b27 and 08f42d3

Needs further testing but let us know if this works for you.

[2013-10-31 22:48] mpdehaan commented on #4750
Testing this now.

In the future please report what version of Ansible you are running when filing tickets.  Thanks!

[2013-10-31 22:50] mpdehaan commented on #4750
I can't reproduce this on 1.4 devel so I'm going to mark this as closed.

1.4 will be released towards the later half of next month (shooting for 11/20)

[2013-10-31 22:50] #4750 closed, assigned to nobody

[2013-10-31 22:59] mpdehaan commented on #3977
@steverweber -- how about submitting a pull request for the above?

[2013-11-01 00:37] candeira commented on #4661
Thanks!

[2013-11-01 02:16] dekked commented on #4753
Issue is definitely fixed now :+1:

Thank you!

[2013-11-01 05:15] lufik commented on #4394
It was fixed even in 1.3.3-1 (epel) for the example. But the root cause is still somewhere there :(
It's enough to add efgh to the master name (in internal and location files) and I have the really same problem:

master[01:01].abcd.efgh.domain.local:
$ ansible-playbook test.yml --list-hosts --limit ansible -i /etc/ansible/test
ERROR: provided hosts list is empty

And it's even more weird with
mast

[2013-11-01 05:15] tashmore opened #4762 "gather_facts fails: No such file or directory /setup"
I'm using vagrant to run an ansible playbook. For some reason, gather_facts fails with message "/usr/bin/python: can't open file '/setup': [Errno 2] No such file or directory". How can I find the root cause of this error?

[code]

[2013-11-01 05:30] pgehres commented on #4655
That will work for variables, yes, but if I understand it correctly, I would need to apply that role to each host.  Additionally, I can't think of a way to make it work for files without putting the tasks that require those files in the secret_bits role as well, correct?

[2013-11-01 05:41] ksage opened #4763 "accelerate mode python2.4 compliance - (CentOS 5) part 2"
Thanks for the fix for Issue #4739, but now I'm getting a different syntax error out of accelerate mode on CentOS 5:

GATHERING FACTS ***************************************************************
fatal: [sc-scm-ansible-stage-p4-master-01.nvidia.com] => Failed to launch the accelerated daemon on sc-scm-ansible-stage-p4-master-01.nvidia.com (reason:   File "/root/.ansible/tmp/ansible-1383284240.36

[2013-11-01 08:20] mvo5 opened #4764 "generated module manpages has warnings"
Hi,

the sphinx generated module man pages (e.g. ansible.zfs.3) give me a warning:
$ man --warnings   ./docs/man/man3/ansible.zfs.3  > /dev/null
<standard input>:2: warning: macro `"' not defined

There is also no "EXAMPLES" section in most man-pages, e.g. ansible.zfs.3 has
." ------ EXAMPLES
." ------ PLAINEXAMPLES
.nf
...
.fi

But no ".SH Examples" section header.

Thanks,
 Michael

[2013-11-01 10:58] resmo opened #4766 "Flush handlers on fail/error."
Hi

As discussed on Google Groups https://groups.google.com/forum/#!topic/ansible-devel/WsWJYgxxoB0
## Problem:

If ansible fails, ansible does not flush handlers.
## Expected:

ansible should flush handlers even on fail.
## Use case:

[code]

So you see I have a typo in 2nd task (foobaR instead of foobar). so ansible says something like "error: could not find service named foobaR".

In the copy t

[2013-11-01 12:53] #4753 closed, assigned to nobody

[2013-11-01 13:32] #4516 closed, assigned to nobody

[2013-11-01 13:38] jctanner opened #4767 "add_path_info identifies hard links as "file""
lib/ansible/module_utils/basic.py handles outputs for the file module, but has less intelligence about the state of a file. We should take some code from the file module to spruce up this function.

[code]

[2013-11-01 13:41] #4767 closed, assigned to nobody

[2013-11-01 15:26] sivel commented on #4577
I think I am getting pretty close here.  I created a bunch of test plays/playbooks yesterday to verify functionality and try to catch bugs.

All of the examples are up on the gist: https://gist.github.com/sivel/7076710

[2013-11-01 16:05] #4540 closed, assigned to jctanner

[2013-11-01 16:06] srgvg commented on #4618
+1, I confirm this is fixed

[2013-11-01 16:42] asyd opened #4771 "Invalid reference in registeredvariable|changed in doc"
http://www.ansibleworks.com/docs/playbooks_variables.html show

[code]

while the expecting syntax is

[code]

[2013-11-01 17:01] davestern commented on #4750
My apologies. I'm on 1.3.x (not at my other computer, don't know the rev). I'll add this in any future requests. Thanks for handling this! I can workaround it until 1.4 is out.

[2013-11-01 17:03] sivel commented on #4771
That is not necessarily invalid.

The `changed` filter was added for 1.4, which hasn't been released yet.  The docs, get built from the devel branch (as far as I know), so what you are seeing is documentation for the yet to be released version.

See #4437

[2013-11-01 17:06] asyd commented on #4771
Hmm ok I can understand. But it's a bit strange than /docs/ refers to the development version rather the stable one ihmo. How I can access to doc about 1.3? I remember it as possible using /docs/released/1.3/ but it doesn't work anymore

[2013-11-01 17:31] srgvg opened #4773 "Small bug when using "with_items: some_dict[ some_existing_key ]""
This is a follow-up to #4606, after testing with the latest ansible devel branch (dc4d589), there still are some things.

Given this playbook:

[code]

Whilst this works by simply running `ansible-playbook play.yml`, setting `tomcat_version` on command line, gives an unexpected error:

[code]

Also, nog sure this is really a bug, but in following cases I would expect an error about the 6 key not t

[2013-11-01 17:37] srgvg commented on #4719
:+1: double checked, and all works!
Also check ed `node_num: "{{ name|last }}"`definition you commented out with `debug: msg="{{ datastore[node_num] }}"` And that still works.

Thanks!

[2013-11-01 17:53] brendanhay commented on #4643
Seconding this. Would be nice from the perspective group names are constant (say, between regions) but the ids differ.

[2013-11-01 17:56] dpeterka commented on #4619
ansible --version
ansible 1.4 (devel 214b0b052c) last updated 2013/10/22 16:08:14 (GMT -400)

[2013-11-01 18:20] steverweber commented on #4640
https://github.com/ansible/ansible/pull/4775

[2013-11-01 18:25] fabienlege commented on #3564
I have the same problem in version 1.4 ! I just try this command :
ansible localhost -i .ansible/hosts --ask-pass -a "whoami"
and the result is :
localhost | FAILED => to use the 'ssh' connection type with passwords, you must install the sshpass program

What is the problem ?!

[2013-11-01 19:01] jctanner commented on #4641
@briceburg This is expected behavior for how roles are executed. If alpha depends on beta, it will execute beta by passing in alpha's variables. If you declare beta as a top level role and allow_duplicates in it's meta, beta will execute twice ... once with it's own vars and a second time with alpha's vars.

[2013-11-01 19:01] #4641 closed, assigned to nobody

[2013-11-01 19:04] briceburg commented on #4641
@jctanner Please review issue https://github.com/ansible/ansible/issues/4642  -- it has very strange and different behavior && was closed prematurely.

[2013-11-01 19:17] jctanner commented on #4642
@briceburg This is not quite a duplicate of #4641 so I'm going to reopen. Here's the output from your example git repo:

[code]

So we know from #4641 that a role dependency will execute with vars being passed from the parent (alpha vars --> beta). In this case we are seeing beta run main.yml with alphas vars, but then beta runs an included playbook 'include.yml' with beta's vars. This does seem i

[2013-11-01 19:23] jctanner commented on #4642
@briceburg This is also expected behavior.

[2013-11-01 19:23] #4642 closed, assigned to nobody

[2013-11-01 19:30] briceburg commented on #4642
Hah... pretty ridiculous. They should all work one way.

I've spent a lot of time compiling these issues && given up on our refactor because of this weirdness. Hopefully it'll be addressed as weird in the future; until then I hope the new include_vars ( https://github.com/ansible/ansible/blob/devel/library/utilities/include_vars )  can bail us out.

[2013-11-01 21:23] gregbuehler commented on #3564
You should try `ansible localhost -i .ansible/hosts --ask-pass -a "whoami" -c paramiko`

[2013-11-01 21:45] aljungberg commented on #4359
+1 for the OP. Over-engineering for theoretical future situations reduces usability. Complexity affects productivity negatively. I think many users are drawn to Ansible for its simplicity, so the explosion of folders and files was a surprise to me.

[2013-11-01 22:17] jctanner commented on #4676
Suggested workaround from irc is to append a --rsync-path option to the rsync command if the task is sudo'ed. This will require "Defaults    !requiretty" to be set on the remote machine or the following error will occur ...

[code]

If !requiretty is set, the command should work as expected ...

[code]

We also have to check that the rsync binary on the originating host supports --rsync-path, whic

[2013-11-01 22:25] mpdehaan commented on #4771
@sivel We need to indicate the version added in the example, basically.

@asyd was reporting at my request :)

[2013-11-01 22:30] mpdehaan commented on #4766
As discussed on the thread, we do _NOT_ want to do this every time.

We want instead a flag for ansible to --force-handlers

Closing this and opening the other as a RFE

[2013-11-01 22:30] #4766 closed, assigned to nobody

[2013-11-01 22:31] mpdehaan opened #4777 "Add a way to force handler execution"
If a playbook fails not all handlers may be run.

In this case it would be nice to have a --force-handlers that runs all handlers on a retry.

The line that prints the retry command should also indicate that this flag should be used.

[2013-11-01 22:31] mpdehaan commented on #4766
Opened here:  https://github.com/ansible/ansible/issues/4777

[2013-11-01 22:32] mpdehaan commented on #4764
closing this given we have the other pull request ticket open -- housekeeping :)

[2013-11-01 22:32] #4764 closed, assigned to nobody

[2013-11-01 22:33] mpdehaan commented on #4763
cc @jimi-c

[2013-11-01 22:33] mpdehaan commented on #4762
Host OS, Target OS, and output from ansible --version ?

[2013-11-01 22:45] tima commented on #4676
@jctanner Is there something that can be done that doesn't require a work around? If I'm following your example, if contacting a remote server, don't run rsync with sudo (cancel it) and instead prepend the remote rsync path with sudo and the user name. Would there be a case where a user would want the initial rsync execution to be run via sudo? It's sort of fuzzy now, but I seem to recall others c

[2013-11-01 22:57] jctanner commented on #4676
@tima my last comment was just recording what was discussed in irc and how it -could- be done with straight rsync. I'm still digging through the code to see if there's a safe way to implement it.

[2013-11-02 00:06] jctanner commented on #4773
Workaround:

[code]

Result

[code]

[2013-11-02 00:07] jctanner commented on #4773
Another workaround:
with_items: tomcat_libs[ tomcat_version | int]

[2013-11-02 02:23] tashmore commented on #4762
I believe I was running an old version of ansible. I fixed the issue using "sudo pip install -r requirements.txt", where requirements.txt was this file: https://github.com/edx/configuration/blob/3071f65b7e341b0fcc449f0abdafd8c24b7ee3a7/requirements.txt .

[2013-11-02 02:23] #4762 closed, assigned to nobody

[2013-11-02 03:19] willthames opened #4778 "(revised caption) When doing async without poll, and with timeout of 0, don't babysit the process, just execute directly"
See https://groups.google.com/forum/?fromgroups=#!topic/ansible-project/bMuOs5lLg_8 for more background.

Using command or shell to start a synchronous task that kicks of a job in the background under nohup does not succeed (for some reason the popen.communicate does not return)

It is not possible to start a long running task that does not have an incredibly large timeout. In the meantime, there

[2013-11-02 03:33] mpdehaan commented on #4676
We could probably just see if sudo was set and temporarily set ansible_ssh_user to the sudo user.

(Should also include some debug in the output in case this is confusing and mention in docs)

[2013-11-02 03:38] mpdehaan commented on #4778
Original caption was "There is no way to kick off a task that runs forever"

Ok, so this defect is not entirely correct.   There is.

"async" with a poll interval of 0 does fire and forget a task, there's no need for the nohup.   You could set a timeout that was longer than the death of the universe, and it would work.

The above problem was reported when trying to get around the babysitter proces

[2013-11-02 03:43] mpdehaan commented on #4778
note: updated comment above to make it more clear what I'm proposing if both the poll interval is 0 and the lifetime is 0.

Current way to execute infinite task is poll interval of 0 -- fire and forget -- and a lifetime of VERY LARGE NUMBER.

Request would be basically let 0 be "infinite timeout" and if poll interval is also 0 just execute directly and don't have the watcher process -- just the ne

[2013-11-02 03:45] willthames commented on #4778
Sounds like a sensible approach - and you're right about the original title, it was incorrect.

I'll see if I can come up with a way of implementing this in the way you're proposing.

[2013-11-02 04:06] mpdehaan commented on #4778
Outstanding, thank you!

[2013-11-02 04:22] dirtyharrycallahan opened #4779 "(edited) possible hybrid conditional problem"
Possible bug when using or condition in when. I have assembled a playbook with examples.

Looks like this condition containining two variables might not be being evaluated correctly.

Environment: ansible 1.4
Local Host OS is CentOS 6

[code]

[2013-11-02 06:55] darkone23 commented on #4676
rsync has a lot of options, another possibility would be to use a sudo command to start an rsync daemon on the remote end and sync over rsync:// instead of ssh.

Switching the ansible_ssh_user would work for some cases. In some use cases the sudo_user would be locked down from ssh access.

I think anything is fine, so long as it is documented.

 :)

[2013-11-02 10:18] resmo commented on #4766
ok, misunderstood this... sorry for confusion.

[2013-11-02 10:58] resmo commented on #4640
can be closed as https://github.com/ansible/ansible/pull/4775 has been merged in

[2013-11-02 12:52] mpdehaan commented on #4779
Hmm, you didn't file just the part of the defect I requested :)

I'll amend the ticket.

[2013-11-02 12:54] mpdehaan commented on #4779
done -- in queue for testing and debug if needed.

When reporting ansible versions always include the output of ansible --version

Ansible 1.4 is not yet released so the SHA version is usually useful and should be provided when running from source.

[2013-11-02 15:39] romabysen commented on #4778
Shouldn't a process that is supposed to run forever really be some kind of service though? I just have a hard time seeing this as a common use-case that isn't better solved outside of ansible.

[2013-11-03 12:13] alinnow opened #4790 "Inconsistencies in package modules' states"
The `apt` module allows the use of `state=installed` as a synonym for `state=present`. The `yum` and `pacman` modules are also documented with this feature.

Using the same state with the `pkgng` module results in an error that only `present` and `absent` states are allowed. This caught me by surprise, so I would suggest that all the package modules are made consistent where possible−I understand

[2013-11-03 16:20] alinnow opened #4791 "Accelerated mode fails against FreeBSD"
I'm using ansible 1.3.4 against two FreeBSD 9.2-RELEASE boxes and the playbook below fails. I've verified that the keyczar package is installed successfully.

[code]

[code]

[2013-11-03 16:51] mpdehaan commented on #4790
Only present/absent are documented, the other aliases are there for backwards compatibility from older versions only.

[2013-11-03 16:51] #4790 closed, assigned to nobody

[2013-11-03 16:52] mpdehaan commented on #4791
keyczar must be installed on both the local and remote ends.

I'm cc'ing @jimi-c so we can update the error message so it's clear about what side it is not installed on.

[2013-11-03 16:52] alinnow commented on #4791
Yes, I'm aware of that. It's installed locally and working with two Debian remote hosts.

[2013-11-03 16:53] mpdehaan commented on #4791
The error message is pretty clear, I'm guessing you've got it installed somewhere unusual then (virtualenv, different ansible_python_interpreter, etc)

Anyway, we do need to make the error message clearer.

[2013-11-03 16:55] alinnow commented on #4791
It's installed by `pkgng` in the play I showed. There's nothing special here as I replicated it on a simple vagrant box.

[code]

[2013-11-03 17:01] alinnow commented on #4790
Okay, so perhaps `state=installed` should be removed from the examples in the documentation to make this clear.

[2013-11-03 17:03] alinnow commented on #4791
I've setup `ansible_python_interpreter` to use the standard python location on FreeBSD and non-accelerated plays work successfully.

[2013-11-03 17:08] alinnow commented on #4791
There's no difference when I setup a symlink `/usr/bin/python -> /usr/local/bin/python` and remove `ansible_python_interpreter` either, so I don't think it's that.

[2013-11-03 17:26] alinnow commented on #4791
Just to make it clear that the problem isn't on the client side:

[code]

[2013-11-03 17:39] mpdehaan commented on #4779
Ok, I did some testing:

when: saved_expression

works fine.

However, if you are using two saved expressions, it needs to be written like so:

[code]

Tested on the latest devel and all are operational.

[2013-11-03 17:39] #4779 closed, assigned to nobody

[2013-11-03 17:41] claco commented on #4577
Cool!  I’m working on a PR this morning for the module to create/delete load balancers (rax_clb) and renaming rax_clb to rax_clb_nodes. I’m sure it will need many passes/reviews, but I want to at least get it rolling.

-=Chris

On November 1, 2013 at 10:27:00 AM, Matt Martz (notifications@github.com) wrote:

[2013-11-03 17:41] mpdehaan commented on #4773
This works for me fine on the latest development branch code.

[code]

I believe this was due to a fix I made in the debug module actually.

Anyway, all good, thanks!

[2013-11-03 17:41] #4773 closed, assigned to nobody

[2013-11-03 17:43] mpdehaan commented on #4791
Pretty sure it is something with ansible_python_interpreter as lots of people are using accelerated mode -- definitely not FreeBSD specific.  If you would like some help debugging please ask on the mailing list or IRC (suggest during the week) and we can reopen a ticket if need be.

[2013-11-03 17:43] #4791 closed, assigned to jimi-c

[2013-11-03 17:51] alinnow commented on #4791
As I mentioned, I tried removing `ansible_python_interpreter` and setting up a symlink, but that didn't help.

[2013-11-03 18:23] mpdehaan commented on #4791
That message is from the client side.

It failed to connect to the accelerated daemon and fell back to standard
SSH.

On Sun, Nov 3, 2013 at 12:51 PM, Alan Pearce notifications@github.comwrote:

[2013-11-03 18:24] mpdehaan commented on #4791
slight correction -- client is vague terminology here, since ansible is a
client to client machines.

"remote side".

On Sun, Nov 3, 2013 at 1:23 PM, Michael DeHaan michael.dehaan@gmail.comwrote:

[2013-11-03 19:43] chuggins opened #4795 "Incorrect changed result in cron module."
The following task always results in a 'changed' message during plays:

[code]

This appears to be due to this line in the cron module:

https://github.com/ansible/ansible/blob/devel/library/system/cron#L468

[code]

Changed needs to be set based on whether the `remove_job_file()` method actually unlinked a file or not.

[2013-11-03 20:05] arrfab opened #4796 "Traceback on UnicodeDecodeError"
Not directly an Ansible issue, but let me explain it (as requested by mdehaan on #ansible) :

ansible -i hosts/hosts.cfg -m setup mymachine -u root -a 'filter=ansible_product_serial_'
mymachine | FAILED >> {
    "failed": true,
    "msg": "Traceback (most recent call last):\n  File \"/root/.ansible/tmp/ansible-1383501273.05-178496394500210/setup\", line 3080, in <module>\n    main()\n  File \"/roo

[2013-11-03 22:49] przemolb commented on #4746
When you test your ansible code (i.e. playbook with a lot of tasks and one of them is importing rpm key) you just repeat the same task several times. ANd that is when you run rpm key import several times.

[2013-11-03 22:52] mpdehaan commented on #4795
Since you've identified the above line, how about submitting a pull request?

Thanks!

[2013-11-03 22:52] mpdehaan commented on #4796
What is "ansible --version"?

Thanks!

[2013-11-04 00:09] chuggins commented on #4795
I could try to look in to it a bit later this week, though I haven't set up an ansible dev env yet.  Do you prefer patches against one of the current release branches, or devel?

[2013-11-04 01:50] weaselkeeper commented on #4795
I have a fix for this now if it's useful. As noted, not a tough one. I'll submit a PR if wanted.

[2013-11-04 02:45] willthames commented on #4778
I suppose that would be a reasonable alternative (handle the daemonization in the application rather than through ansible). Certainly my investigations of code fixes haven't come up with a means of doing this in any nice way.

[2013-11-04 07:30] pgehres commented on #4655
https://github.com/pgehres/ansible/commit/dd2986c0795d871ccee724c5324b6c06ed1b3208 is a toy implementation of this.  @mpdehaan any thoughts on this direction? I realize that it complicates the logic a bit, but at least at this point I didn't to completely refactor the lookup code and this seemed like an easy way to bolt this feature on while preserving existing logic.

[2013-11-04 09:45] arrfab commented on #4796
Sorry, I forgot to mention it : ansible 1.3.0 (ansible-1.3.0-1.el6.noarch)

[2013-11-04 09:46] sspans commented on #4459
How about this: #4801

It seems to work for me.

[2013-11-04 11:20] garethrees commented on #4665
Thanks for fixing this :+1: Much appreciated.

[2013-11-04 15:54] jctanner commented on #4676
In testing this, I noticed that no matter how we alter the code, it's very likely that the rsync command will need input for the remote password and will hang indefinitely. I added 0adf0956771ef02b788e2bbe90b4a7a643dc1482 to handle this better by setting a configurable timeout (default = 10s) to the rsync command.

[2013-11-04 17:22] jctanner commented on #4676
5c34ed0827f88094204bbb10f714145aad084595 adds some notes to the module docs to clarify what happens when sudo==True. This is the best we can do for now on resolving this issue because there are too many consequences from overriding the destination `<remote_user>@<hostname>` with the sudo_user.

[2013-11-04 17:22] #4676 closed, assigned to nobody

[2013-11-04 17:22] ksage commented on #4763
I tested this and looks like the errors have moved to a different file.  I am now getting the following:

fatal: [sc-scm-ansible-stage-p4-master-01.nvidia.com] => failed to parse: Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-1383585649.37-237033989848421/accelerate", line 125, in ?
    from keyczar.keys import AesKey
  File "/usr/lib/python2.4/site-packages/keyczar/keys.py

[2013-11-04 17:23] l1k opened #4804 "ansible-1.3.4.tar.gz is incomplete on PyPI"
The ansible-1.3.4.tar.gz tarball that was uploaded to PyPI is incomplete, it's only got 376763 bytes. The tarball on ansibleworks.com has 450676 bytes. Specifically, the PyPI tarball is missing all the module manpages in docs/man/man3/.

[2013-11-04 18:28] jctanner commented on #4763
@ksage how did you install keyczar on your el5 machine?

[2013-11-04 18:38] ksage commented on #4763
@jctanner I just did:

$ sudo yum install python-pip  (which installed 0.8-1.el5)
$ sudo pip-python install python-keyczar

[2013-11-04 18:38] chuggins commented on #4795
@weaselkeeper, thanks for that. I think the patch is missing a needed fix though, see commit for my comment.

[2013-11-04 22:23] #4485 closed, assigned to jimi-c

[2013-11-04 22:42] jctanner commented on #4763
@ksage Did you not get these errors during install?...

[code]

[2013-11-04 23:36] #4763 closed, assigned to jimi-c

[2013-11-04 23:58] tima commented on #4676
Thanks for working this out @jctanner.

[2013-11-05 06:22] chuggins commented on #4795
Looks great, thanks for putting that together.

[2013-11-05 06:23] Apsu opened #4808 "add_host doesn't add/update hostvars for an inventory-defined host"
When using add_host for a new hostname, the plugin correctly adds the host/group and any custom variables, and subsequent calls will add/update as expected. If the hostname already exists in the inventory, however, it does not get updated.

[2013-11-05 06:34] Apsu opened #4809 "Merge ansible_interfaces and ansible_$iface facts"
Currently the setup module specifies that ansible_interfaces will be a flat list of interface name strings and each interface will have an ansible_$iface dict of the discovered interface information. However, this makes programmatically using the interface information very ugly, especially if you may expect that a given group of hosts may have different interface layouts, be missing interfaces, ha

[2013-11-05 06:41] darkone23 commented on #4676
Thanks @jctanner

It might also be worth noting that you can use the `rsync_path` module parameter to run the command as a sudo user (with the sudo users permissions) if the module can only run as the local/remote_user.

[2013-11-05 11:17] jpcaruana opened #4810 "apt_key module to behave like apt-key"
Hi,

as mentionned on the mailing list, it would it be great for apt_key module to behave like apt-key. For instance, adding a "keyserver" parameter, because sometimes there is no url to download from. This line is valid (and fully working) under my ubuntu :

[code]

It would be great to write something similar in ansible :

[code]

Today, I have to write this:

[code]

BTW, my ansible version is

[2013-11-05 14:19] hngkr commented on #3518
This fix actually breaks Ansible when it's running with redirected stdin (such as when a PlayBook is being executed in a Celery/Django task from Python code).

The culprint seems to be the reload(sys) that's introduced here. It resets the redirected stdin - which messes with what the runner expects. I'm getting this fatal error:

[code]

From this very simple playbook:

[code]

It works when runni

[2013-11-05 14:41] jctanner commented on #3518
@hngkr can you open a new bug please?

[2013-11-05 15:51] jarv opened #4812 "Referencing a var inside a hash that is set to !!null will be set to "None" when written out as yaml or json"
ansible-playbook 1.4 (devel 6517e0b54d) last updated 2013/11/05 10:43:51 (GMT -400)

Our application has a large configuration hash and we would like to override an element deep in the hash in different environments.  The way we do this is referencing defaults and overrides inside the hash ("my_cfg_hash" below).

In some cases we want to use "!!null" as a default which ends up converting to the st

[2013-11-05 17:01] bcoca commented on #4791
Do you have python keyczar module installed on the target AND master
machiens?

[2013-11-05 17:57] alinnow commented on #4791
Yes, I mentioned that I had it working against linux targets and provided a sample of output from working and non-working targets.

[2013-11-05 18:34] bcoca commented on #4778
demonizing over ssh is not normally a good idea, you can use many things
(runit, uwsgi, monit, start-stop-daemon, daemontools, superviserctl,
init/upstart/systemd script, etc) to do this correctly and then call that
from ssh.

[2013-11-05 19:00] alanfairless commented on #4777
Conceptually related to #4443.

[2013-11-05 19:25] bcoca commented on #4812
!!null is a yamilism. Have you tried setting it to null?

Brian Coca
On Nov 5, 2013 10:51 AM, "John Jarvis" notifications@github.com wrote:

[2013-11-05 19:32] jctanner commented on #4635
Tested patch: https://gist.github.com/jctanner/2468258f3f6e9ec5785b#comment-944574

[2013-11-05 19:47] #4635 closed, assigned to jctanner

[2013-11-05 20:49] claco opened #4814 "rax: flavor comparison fails with new performance tier"
Now that the performance tier is happened, the "present" checks fail with an int() conversion on the flavor:

[code]

ValueError: invalid literal for int() with base 10: 'performance1-1'

[2013-11-05 20:50] sivel commented on #4814
This is already resolved and tested in the refactor that I am working on (#4577)

I hope to have that work merged for the 1.4 release.

Testers of that work would be greatly appreciated.

[2013-11-05 21:19] faust64 commented on #4710
Doing such actually prints a \ and a t
I see I'm 3 releases behind. Could this be fixed updating?

[2013-11-05 21:28] faust64 commented on #4710
Updated, no more luck.
Do you have some actual working sample?

[2013-11-05 22:53] willthames commented on #4778
I don't really disagree - I just wonder if the documentation could be improved (I think it's the term fire-and-forget in the async documentation that led me down the wrong path).

I haven't done much documentation for Ansible so I guess now's my opportunity to contribute - basically outline some of the mechanisms (in the end I solved my issue by running the task synchronously under setsid - so the

[2013-11-05 23:01] #4323 closed, assigned to nobody

[2013-11-05 23:47] phillipuniverse opened #4815 "Lineinfile does not appear to work with global playbook variables"
Use case:
1. I have 2 roles: 'jenkins' and 'common'
2. The 'jenkins' role declares that it is a dependent of 'common' via meta/main.yml (this appears to work)
3. In my playbook, I specify that my hosts is a member of the jenkins role:

[code]
1. I have a group_vars/build-server file with the following:

[code]
1. Within my common role I am using a Jinja filter to join the list by whitespace:

[cod

[2013-11-05 23:49] phillipuniverse commented on #4815
Also, I'm on the devel branch but about a week old (targeting 0e9184eefd4eb1729814aad3ee00fdef2fbc2ee4)

[2013-11-05 23:50] jcassee opened #4816 "Raise a warning when a reserved variable is set"
As per [a list discussion](https://groups.google.com/forum/#!topic/ansible-project/fP0hX2Za4I0), it would be nice if a warning was printed if the user tries to set a reserved variable, such as `environment`.

[2013-11-06 03:43] geerlingguy commented on #4511
I'm getting the same issue (ntp enabled=yes causing changed to report true) on 1.3.4, which is the latest version available via pip... should I open a new issue?

[2013-11-06 07:28] faust64 opened #4818 "lineinfile & tab character"
Hi,
#4710 has been closed but not solved.

Using \t don't print a tab character.

In 1.3.1, then 1.3.4 from pip.

Regards.

[2013-11-06 10:41] przemolb opened #4819 "Ansible 1.4 hangs during installation linux packages (Service Pack for Proliant) provided by HP"
Create /etc/yum.repos.d/spp.repo:
[spp]
name=Service Pack for ProLiant
baseurl=http://downloads.linux.hp.com/repo/spp/rhel/$releasever/$basearch/current
enabled=0
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/GPG-KEY-ServicePackforProLiant

Now using the following playbook:

[code]

I am trying to install this package. The required package is installed but ansible doesn't stop working and doesn't give

[2013-11-06 11:58] madmac2501 opened #4821 "UnicodeDecodeError when receiving spanish output from a Wndows command"
I am doing a task that interacts with an spanish Windows. The stderr from one command has the character 'á', the string encoding is lost and later it cannot be interpreted.

I am using ansible v1.3.4

This could be a solution, but I don't really like to lose information.

[code]

Some more information

This is the dictionary passed to jsonify:

{"changed": true, "end": "2013-11-06 06:46:03.987240"

[2013-11-06 13:09] tronner commented on #4628
I worked around the first issue by creating a bootstrap playbook (role) that is included for all FreeBSD systems. This playbook uses the 'raw' action to:
- create /usr/local/{sbin,etc} if not exist
- if /usr/local/sbin/pkg does not exist: fetch latest pkg.txz from repo (url in variable; I use poudriere to build my own packages), unpack pkg-static from it, install downloaded pkg.txz with extracted

[2013-11-06 13:16] nextus opened #4822 "OS specific variables take precedence over host specific"
Hello. My ansible playbook defines some variables for role depends on which OS is using:

[code]

And now I need to change some variables for specific host in spite of which OS is using. The most reasonable way doesn't work: I've tried to define this variable in inventory file but vars_files directive from playbook take precedence over it. I've read about parameterized roles but for my task it loo

[2013-11-06 14:15] jctanner commented on #4821
@madmac2501 what are you using for sshd on the windows client? Not relevant to the issue, but I'm curious for testing purposes.

[2013-11-06 14:17] madmac2501 commented on #4821
@jctanner I am running ansible on a linux host, the windows machine doesn't have sshd I use smb for winexec

[2013-11-06 14:19] jctanner commented on #4818
@faust64 is this the task that is causing an error? ...

[code]

[2013-11-06 14:26] jctanner commented on #4821
@madmac2501 oh ok, so the linux machine has the winexe binary and you are calling that to connect over the smb protocols.

[2013-11-06 14:29] madmac2501 commented on #4821
@jctanner Yes, that's it. Also please note that the Windows machine is installed in spanish

[2013-11-06 16:39] ghost commented on #4010
This typo is also in the documentation http://www.ansibleworks.com/docs/intro_configuration.html#hash-behavior

[2013-11-06 16:47] jarv commented on #4812
for both: `setting_override: null` and `setting_override: None` I get
`my_cfg_hash|to_nice_json` as:

[code]

[2013-11-06 17:31] vpuech opened #4825 "Odd behavior on the stdout using ansible.playbook.PlayBook"
hello,
i've found an odd behavior using ansible.playbook.PlayBook on a Flask server.
- i pass a random number in extra_vars["myvar"]
- i print it everywhere and it is the good number the first time
- The second time, it is still the good number except in data["stdout"] on the runner_on_ok, where it display the last myvar
- if i put this in a script and not in a Flask server it work each time, if i

[2013-11-06 18:19] erachen opened #4826 "authorized_key module does not rewrite correctly key options"
When rewriting authorized_keys file, the module
1. insert space between options
2. remove protecting double quote on the 'command' option
the above lead to a syntax error that may lead to losing control on a server (especially if password login is disabled)

To illustrating that, given an authorized_keys file with 2 key:

[code]

after rewriting:

[code]

[2013-11-06 18:23] sivel commented on #4826
I believe this was already resolved in ansible 1.4 (devel).  What version of ansible are you using?  `ansible --version`

[2013-11-06 18:26] sivel commented on #4826
See #4487

[2013-11-06 19:00] resmo commented on #4323
good job!

[2013-11-06 19:06] erachen commented on #4826
Short story: thanks a lot, it is solved !

sorry to have forgot this basic information (it's the end of a long long day...)

well I was using ansible 1.4 on branch devel (here is the last commit I've got in history)
Date:   Sun Oct 20 12:52:09 2013 -0400

and then following you're advice, I checkout the new version and find that it is working perfectly !
Great job!

[2013-11-06 19:06] #4826 closed, assigned to nobody

[2013-11-06 19:47] drewda commented on #3601
Thanks for making an Ansible docset, @vmalloc

(I've been getting great use out of Dash and am glad to see more and more others doing the same!)

[2013-11-06 20:10] vmalloc commented on #3601
You're welcome. I only regret that the documentation is so hard to convert via doc2dash, and requires some hacky preprocessing.

[2013-11-06 20:53] faust64 commented on #4818
Yes indeed.
The following produces a syntax error:
  lineinfile: dest=/etc/init.d/unbound regexp='if ps ax | grep' line='  if ps ax | grep "in/u[n]bound" >/dev/null; then'

While using \t, I actually have '\' and 't' chars:.
  lineinfile: dest=/etc/init.d/unbound regexp='if ps ax | grep' line="\tif ps ax | grep 'in/u[n]bound' >/dev/null; then"

[2013-11-06 22:01] drewda opened #4828 "airbrake_deployment module: allow different hostname to be provided"
**_continuing discussion from https://github.com/ansible/ansible/pull/3016#issuecomment-27908668**_

In addition to sending updates about a new deployment to the Airbrake hosted service, I'd like to be able to send an update to my own hosted instance of [Errbit](https://github.com/errbit/errbit), an open-source project that has an API equivalent to Airbrake's.

Here's where the Airbrake endpoint i

[2013-11-06 23:43] #3847 closed, assigned to jimi-c

[2013-11-06 23:51] leth commented on #3847
Awesome, thanks :)

[2013-11-07 06:43] #4092 closed, assigned to nobody

[2013-11-07 06:44] jctanner commented on #4092
When the new docs are pushed, this will show up at http://www.ansibleworks.com/docs/playbooks_tasks.html

[2013-11-07 07:35] mscherer commented on #4819
What does happen when you type the commnd yourself, and on what platform do you see the problem ?

[2013-11-07 07:42] przemolb commented on #4819
When I run this command "yum -y --enablerepo=spp install hpvca" everything is ok - the package is installed and I get shell prompt back. The problem is on RedHat 5.9

[2013-11-07 07:44] mscherer commented on #4819
I assume this work fine on newer RHEL ? Can you connect and see with strace if the process run by ansible ( should be a python script in /tmp ) is hang or something ?

[2013-11-07 08:06] przemolb commented on #4819
It works fine on RHEL 6. Strace output:

[code]

[2013-11-07 10:51] dagwieers opened #4831 "Installer does not allow to influence module path (/usr/share/ansible)"
We have the issue that we would like to install ansible as a user. And we cannot use setup.py to install Ansible because /usr/share/ansible is hardcoded. We can influence the runtime to look elsewhere, but the installer does not allow us to influence where it **should** be installed.

[code]

Am I doing it wrong ? Or have I missed something ?

[2013-11-07 10:56] dagwieers commented on #4819
I would disable (and kill) the yum-updatesd service. You don't really need it on servers and it can (but shouldn't) interfer with other yum-related activity.

Another issue is that by default Ansible uses pseudo-tty's, so anything you run through Ansible will assume there is an interactive session and may issue a prompt to the user and wait for input. Whereas if you run it through ssh directly, th

[2013-11-07 10:58] dagwieers commented on #4628
By default Ansible uses pseudo-tty's, so anything you run through Ansible will assume there is an interactive session and may issue a prompt to the user and wait for input. Whereas if you run it through ssh directly, there is no pseudo-tty and it behaves differently. Very unfortunate. #1801

[2013-11-07 11:00] dagwieers commented on #4583
Is it possible that prtdiag behaves differently when there is a pseudo-tty, rather than no tty ?

A lot of Ansible 'hangs' are related to the fact that commands run with a pseudo-tty, and so it may issue a prompt to the user, rather than be silent.

[2013-11-07 11:17] kevintsai opened #4833 "No response with shell module on MacOS system."
Have no stdout and stderr response when using shell module on MacOS system.
###### Environment:

Host Machine: MacOS 10.8 and Ansible 1.3.2
Target Machine: MacOS 10.9
The 'brew' installed default location: /usr/local/bin/brew

Target Machine the 'which' command execution:

[code]
###### Task as follows:

[code]
###### The output:

[code]

but when i copy the brew to /usr/bin/brew from /usr/local/b

[2013-11-07 11:20] przemolb commented on #4819
I removed yum-updatesd. Nothing has changed.

[2013-11-07 11:41] przemolb commented on #4819
While CTRL-C ing it I get the following messages:

[code]

This specific package prints some messages to stdout/stderr (?) while being installed but doesn't ask for any input.

[2013-11-07 13:23] sivel commented on #4831
I'm not sure it is the solution you are looking for, however since setup.py uses `DEFAULT_MODULE_PATH` from `ansible.constants` you can influence the location utilizing the `ANSIBLE_LIBRARY` environment variable, such as something like:

`ANSIBLE_LIBRARY=/srv/ansible/ansible-1.3.4/modules python setup.py install --home=/srv/ansible/ansible-1.3.4`

Which will of course require you to continue utili

[2013-11-07 13:32] srgvg opened #4834 "not_in_host_file() checks wrong user's known_hosts file when ran with sudo"
See https://github.com/ansible/ansible/blob/devel/lib/ansible/runner/connection_plugins/ssh.py#L119

When one runs ansible(-playbook) itself through sudo on the local machine, `host_file` resolves to the one in the $SUDO_USER's home folder (probably as $HOME still points to it) not the one from the user ansible is ran as.

This should reference `~$USER`?

[2013-11-07 13:37] srgvg commented on #4834
`host_file = os.path.expanduser(os.path.expandvars("~${USER}/.ssh/known_hosts"))` solves this.
If that's an acceptable solution, I'll make a PR for it.

[2013-11-07 15:40] jctanner commented on #4819
stracing the module script ...

[ Process PID=5079 runs in 64 bit mode. ]
[ Process PID=5074 runs in 32 bit mode. ]
[ Process PID=5079 runs in 64 bit mode. ]
[ Process PID=5074 runs in 32 bit mode. ]
[ Process PID=5079 runs in 64 bit mode. ]
[ Process PID=5074 runs in 32 bit mode. ]
[ Process PID=5079 runs in 64 bit mode. ]
[ Process PID=5076 runs in 32 bit mode. ]
[ Process PID=5079 runs in 64 bi

[2013-11-07 15:42] bpennypacker commented on #4828
@drewda - Go ahead and try this out.  If it works I'll submit a pull request.  If you see any issues go ahead and comment on the commit rather than here:

https://github.com/bpennypacker/ansible/commit/83a1665be55649fb57c1630e5d900e91697badf7

[2013-11-07 15:46] jctanner commented on #4819
@przemolb I can't tell if it's the numerous forks the post install scripts make or if it's the mode switching at fault, but suprocess in python 2.4 doesn't seem to handle it very well. This is not something we really can solve in ansible other than to to tell you to switch to python 2.6 or use the raw module ..

[code]

I've reproduced the issue with the yum module and the shell module, and also t

[2013-11-07 15:46] #4819 closed, assigned to nobody

[2013-11-07 16:06] jctanner commented on #4639
resolved with afa5988391b014e6997e4ceee3ef604340f38134

[2013-11-07 16:06] #4639 closed, assigned to nobody

[2013-11-07 16:10] jctanner commented on #4834
@sergevanginderachter yeah that seems good to me. Submit a PR and I'll test it.

[2013-11-07 19:29] rrtj3 commented on #4583
@dagwieers , I don't believe it behaves differently in this case. When I've seen prtdiag hang with 'facter' in the past it would also hang when I ran it manually in a terminal.

[2013-11-07 20:11] drfickle opened #4838 "insertafter argument to lineinfile causes traceback"
Given this test playbook

[code]

and this existing interfaces file

[code]

The 'line' argument goes fine, but the 'insertafter' goes boom

[code]

[2013-11-07 20:12] drfickle commented on #4838
Duh. I forgot to mention this is with Ansible 1.3.1

[2013-11-07 20:15] jctanner commented on #4838
@drfickle Have you tested this with any newer releases of 1.3.x or devel?

[2013-11-07 20:34] drfickle commented on #4838
1.3.4 gives the same error.
devel gives

[code]

[2013-11-07 20:35] drfickle opened #4839 "="

[2013-11-07 20:47] #4839 closed, assigned to nobody

[2013-11-07 20:47] jctanner commented on #4839
@drfickle I assume this was a mistake?

[2013-11-07 20:51] evanccnyc opened #4840 "Allow the user to set the disk size of the root partition partition on ec2"
In boto, you can set the size of the root, before you launch the instance.  This is really helpful if you need more disk size then whatever the ami has.

The example boto code is here:

 https://gist.github.com/anonymous/df0ddf374b3dd982c670

[2013-11-07 21:01] jangondol opened #4841 "Daemon for accelerated mode starts, connection to it not established"
When using `accelerate: true`, Ansible (1.4) first starts the daemon at the target machine (if not running yet). If the target is specified in ansible_hosts using an IP address or a resolvable hostname, tasks are then executed as expected (using the accelerated connection). However, _task execution fails for non-resolvable hosts_ specified in `~/.ssh/config`, e.g.:

[code]

(In this scenario, "ser

[2013-11-07 21:04] drfickle commented on #4839
Sorry about that. Must have had focus in the wrong window.

[2013-11-07 21:39] #4751 closed, assigned to nobody

[2013-11-07 22:04] jctanner commented on #4459
Closed per #4801

[2013-11-07 22:04] #4459 closed, assigned to nobody

[2013-11-07 22:53] jkordish opened #4843 "mysql_db force option"
I have an issue with importing sql schema into databases. If upon importing a table exists it will cause mysql to error thus causing the playbook to fail. The mysql command does allow for force via the -f argument. Using this flag it will continue through the sql import even if a table exists and not error out.

mysql_db:
138     cmd += " -f --user=%s --password=%s" %(user, password)

While this m

[2013-11-08 00:16] jctanner commented on #4841
@jangondol If you add this to your inventory, does it help the issue?

[code]

[2013-11-08 05:20] mpdehaan commented on #4833
Sounds like brew just isn't in your path and there's nothing wrong with the command here.

Run "which toadstool" without anything called toadstool installed and you get exactly the same thing.

[2013-11-08 05:20] #4833 closed, assigned to nobody

[2013-11-08 05:21] mpdehaan commented on #4831
Ansible isn't a python library, it's a complete systems management program -- and modules don't have to be written in just python.

What you are asking for are to move the location of some data files.

As such this seems like something you'd really want to do with _packaging_, rather than pip.

I'd be happy to entertain patches to make other flags in pip work differently, provided they do not brea

[2013-11-08 05:21] #4831 closed, assigned to nobody

[2013-11-08 05:22] mpdehaan commented on #4825
Closing this because it's a question, not a bug

Also, no ansible version reported.

Please stop by the development mailing list.

[2013-11-08 05:22] #4825 closed, assigned to nobody

[2013-11-08 05:23] mpdehaan commented on #4822
Look into using role defaults.

[2013-11-08 05:23] #4822 closed, assigned to nobody

[2013-11-08 05:24] mpdehaan commented on #4804
should be fixed in latest update

[2013-11-08 05:24] #4804 closed, assigned to nobody

[2013-11-08 05:25] mpdehaan commented on #4821
Ok so this is just a generic unicode issue and not Windows specific.

Sounds reasonable.

Windows clients are definitely not supported at this time.

[2013-11-08 05:27] mpdehaan commented on #4815
lineinfile has no magic in this module that has anything at all to do with where the variables come from.

I am guessing build server is a host and not a group, or you don' thave that group defined properly in inventory.

In any event, there's nothing module specific going on here, and host_vars and group_vars don't have any problems.

Please stop by the mailing list or IRC if you need help.

[2013-11-08 05:27] #4815 closed, assigned to nobody

[2013-11-08 05:28] mpdehaan commented on #4809
While I understand your points, this is not going to happen as it would break backwards compatibility.

[2013-11-08 05:28] #4809 closed, assigned to nobody

[2013-11-08 06:56] jangondol commented on #4841
Hello @jctanner, thank you, I tried the suggested inventory workaround (using the latest checkout from github), same error messages: `failed, retrying...` + finally `Could not connect via the accelerated connection, exceeded # of tries` + `fatal: [servernickname] => Failed to connect to servernickname:5099` + `FATAL: all hosts have already failed -- aborting`

Both using FQDN and using IP in the i

[2013-11-08 08:02] przemolb commented on #4101
I repeat it again: why not give people a choice ?

[2013-11-08 10:38] jpcaruana opened #4848 "can't access to existing "ansible_eth1" fact"
I successfully managed to add a private IP address on my servers. I can see both network interfaces eth0 and eth1 when I ask for the facts of this server :

[code]

But when I want to access the "ansible_eth1" fact from my playbook :

[code]

I get the following error on every single server :

[code]

This kind of code worked really good with eth0 ,as you can see in my fully working iptables templ

[2013-11-08 10:39] nextus commented on #4822
It doesn't appropriate for me, because I haven't got singular value for variable. It vary with which OS is used. So, defaults/main.yml doesn't make much sense for me. Maybe some directive for playbook that can redefine role defaults file for each host based on ansible facts would be helpful.
Let me explain why I need this: I have NGINX_CONF variable that point to the nginx config with different pa

[2013-11-08 10:40] jpcaruana commented on #4848
To gather more information, I decided to print the content of the **ansible_eth1** key inside my generated hosts file... I don't know if there is a more straightforward way to enter in debugging mode, still I found interesting data.

I replaced

[code]

with

[code]

in my template

and got this (formatted for your eyes) dict, the content of the **ansible_eth1** key :

[code]

As we can see, there

[2013-11-08 14:03] stevew-Purdue opened #4851 "DEBUG_LEVEL in accelerate"
The logic for checking DEBUG_LEVEL is reversed in the log function of library/utilities/accelerate (v. 1.3).  It currently tests against DEBUG_LEVEL like this:
    if cap >= DEBUG_LEVEL:
when I believe it should be this:
    if DEBUG_LEVEL >= cap:

Steve

[2013-11-08 14:57] #4522 closed, assigned to nobody

[2013-11-08 15:20] #4771 closed, assigned to nobody

[2013-11-08 15:57] rackergs opened #4852 "Errors out when user can't write to /var/log even if they can to /var/log/ansible.log"
When enabling logging to /var/log/ansible.log and ensuring that the user has access to write to the file, when ansible runs it will fail stating:

[code]

If ugo+w is set on /var/log then ansible stops erroring.
### What version of ansible you are using (ansible --version)

ansible 1.3.4
### Steps to reproduce the problem
1. Create /var/log/ansible.log (0775 owned root:ansible am creating ansible

[2013-11-08 16:24] jarv opened #4853 "parameterized roles and notification behavior change in ansible 1.4"
## Summary

We would like to have a paramaterized role to configure a service and have a handler that restarts the service using parameters that are passed into the role.

A real world example is a role that installs supervisor that takes a path to a virtual environment and config parameters as parameters.  In that case we want to notify a restart on the service using the parameters for each time

[2013-11-08 16:55] lwade commented on #4840
Would be good to support block device mappings.  Keep in mind that this example is for EBS-backed instances only, not Instance-store backed.

[2013-11-08 17:12] brafales opened #4854 "shell module: option for interactive/login shell"
I was trying to execute a `shell` command using a specific user. I was having problem to execute that shell command with the same invocation method as when the user normally logs in (`login shell`).

The way to solve it was to specify a `-i` at the end of the `sudo_user` parameter like this:

[code]

It'd be nice if the `shell` module had an option to specify the shell invocation method.

[2013-11-08 17:14] akuznecov opened #4855 "Synchronize module fails with multiple items"
Synchronize module adds unwanted path fragment to rsync destination when multiple items used (with_items)

Part of task with synchronize action and with_items directive:

[code]

Got output:

Some of options got duplicated for second item

Ansible: v1.4 (devel)
Python: 2.7

[2013-11-08 17:19] bcoca commented on #4101
Implementing that choice is non trivial, if you want to submit a PR that
works I doubt there will be much resistance, I just warn you it ends up
being a lot more complicated than a syslog config is.

[2013-11-08 17:52] jctanner commented on #4335
@sergevanginderachter Can you share an example inventory file to reproduce the behavior in https://github.com/ansible/ansible/issues/4335#issuecomment-25534214 ?

[2013-11-08 18:17] #4506 closed, assigned to nobody

[2013-11-08 18:52] jctanner commented on #4565
@mpdehaan are you saying we should change all the 'NA' values in setup to None ?

Current setup module output:

[code]

With None for unfound values:

[code]

[2013-11-08 19:02] srgvg commented on #4335
@jctanner : this should do it:

[code]

The last command is expected to return just the `3` host.

[2013-11-08 20:05] rszewczyk opened #4859 "EC2 Module fails with a boto exception when group_id is passed a variable list"
ansible version 1.3.4

I'm using the EC2 module from a task list in a role, basically like this (this works with group instead of group_id and without vpc_subnet):

from the role:

[code]

calling the role with parameters:

[code]

results in:

[code]

I would have expected to be able to use group_id the same way I can use group - that is I can use it with a parameterized role.

It does work if I

[2013-11-08 21:27] mpdehaan commented on #4859
Passing structured data via Jinja2 is fixed in 1.4 for sure.

You should be able to do this in 1.3.X:

group_id: ${group_ids}

Let us know if this works for you.

Thanks!

[2013-11-08 21:47] rszewczyk commented on #4859
That changed the error to: Invalid id: "sg-0001,sg-0002,sg-0003"

In the EC2 module, this did the trick:

[code]

Looks like this was already done here:
0e909640c5142ac5ede1f549c34adeb90f4794ab

[2013-11-08 22:40] rszewczyk commented on #4859
Also, line 395 in the EC2 module does not appear to be doing what it is supposed to... i.e. it doesn't return a list of ids, but rather a nested listed of lists that contain ec2 security group objects.

A list of ids would allow group to be used with vpc_subnets (since the group names will be convered to ids). This appears to be the intent, since the above generated list is later passed to boto, w

[2013-11-08 23:03] rszewczyk commented on #4859
Submitted #4862

[2013-11-09 01:09] vliw opened #4863 "Accelerated mode via ssh"
i wonder if its possible to connect the accelerate daemons via ssh stdin/stdout instead of using an extra channel? i dont know if i get it, but it should be possible at least via ssh control master and a dedicated channel? this would be great for people with firewall restrictions.

[2013-11-09 05:02] jimi-c commented on #4863
Unfortunately, no, this is not how accelerated mode works. It is possible to set the port accelerate uses (in ansible.cfg), so you can move it to a port that is more accessible.

[2013-11-09 05:02] #4863 closed, assigned to nobody

[2013-11-09 05:11] jimi-c commented on #4851
I haven't seen any issues with it logging things inappropriately, do you have an example of an issue with the code the way it is?

[2013-11-09 16:38] pwaller commented on #4318
One should be able to install the project without root by writing simply `pip install --user [--editable] ansible`. In fact, this seems to work without `[--editable]`. Unfortunately [due to a bug in `distribute/pip`](https://bitbucket.org/tarek/distribute/issue/177/setuppy-develop-doesnt-support-package_dir) `package_dir` isn't currently supported correctly in `setup.py`.

[2013-11-09 17:37] hjwp commented on #3881
this tripped me up too...

[2013-11-09 18:34] elpek opened #4867 "FreeBSD service module rc.conf entries"
Hello,

The problem started with release 1.3.3 and is still present in version 1.3.4.

Using service module in playbook:

service: name=example_service enabled=yes

Produced entry in rc.conf:

example_service="YES"

Correct form is:

example_service_enable="YES"

[2013-11-10 10:19] timurb opened #4869 "apt module does not work for old version of python-apt"
I've just been trying to trigger the simple command on remote Debian Lenny box:

[code]

When run ansible produced the following error:

[code]

While doing some research on that it seems that `apt.Cache()._cache['foobar']` does not have attribute `current_state`:

[code]

I'm running `ansible 1.4 (devel aa0577c211) last updated 2013/10/25 13:57:26 (GMT +400)`.

More info on versions for reference

[2013-11-10 12:50] srgvg commented on #4869
FYI - Debian 5 (Lenny) is an "old" and (by Debian) unsupported distribution, current stable being Debian 7

[2013-11-10 13:25] timurb commented on #4869
Yes, I know that. There is a single server left with Lenny in our setup.

[2013-11-10 16:20] hynek commented on #3573
Is there some way I missed to avoid that ansible litters my home directory with retry files? This ticket is all I found when googling for the obvious terms and nobody knew anything on IRC…

[2013-11-10 21:33] mpdehaan commented on #4848
Have you narrowed this down by using --limit to exactly one host and made sure there is an ipv4 address for that host?

I'm guessing one host might not have an ipv4 address for that interface.

[2013-11-10 21:44] mpdehaan commented on #4869
You probably are going to want to use the 'shell' module in this case.

I am ok with this being unsupported as it's a 2009 release, and security updates have been unavailable for over a year.

http://www.debian.org/releases/lenny/

"Security updates have been discontinued as of February 6th, 2012"

If this is painful and makes folks think about upgrading, it's probably a good thing.

That being sa

[2013-11-10 21:44] #4869 closed, assigned to nobody

[2013-11-10 21:52] mpdehaan commented on #4853
I think we're looking at fragments of a reproduction example here, so I'm having trouble understanding all of it.

Can you link to a repo that shows an example of this together?

Thanks!

[2013-11-10 21:54] mpdehaan commented on #4848
This is still in a question / tech-support mode and there's no issue with the underlying Jinja2, so I'm going to close this ticket.

Let's continue on the mailing list and/or IRC

[2013-11-10 21:54] #4848 closed, assigned to nobody

[2013-11-10 21:59] mpdehaan commented on #4841
So as accelerate mode isn't SSH I shouldn't expect accelerate mode would dive into ssh config and attempt to figure out what the alias you were using for your host was.

[2013-11-11 03:06] jarv commented on #4853
It's a simple example and only the files in the description are needed to reproduce.
Also uploaded here - https://github.com/jarv/ansible-notify-test

[2013-11-11 03:30] jangondol commented on #4841
Hello Michael, thanks for commenting.

I think you might be right, and still: it feels somewhat counter-intuitive that the first phase (launching the daemon using SSH) works correctly and the second phase fails silently due to the difference in name resolution method.

Personally, I see at least two ways to address this:

1) Leave the code as it is now but point out in the documentation that users

[2013-11-11 09:51] dwt opened #4870 "Live output from remote processes"
Hi there,

we're currently test driving some of our old scripts remotely from ansible and if we choose to use it probably will for some time.

On the one hand ansible makes it really easy to automate workflows that span multiple servers (that we'd like to use) on the other hand though it makes it really hard to see live whats going on on the other system.

What we would like is a way to see the ou

[2013-11-11 13:30] przemolb commented on #4819
I tried on another RH 5 host (with python 2.4) and raw module doesn't work neither.

[2013-11-11 13:32] timurb commented on #4869
This was introduced in https://github.com/ansible/ansible/commit/0d408ff29565d7c9814b5fc70ecea82db37c8e00, I've filed pull request #4869 to fix that.

[2013-11-11 14:08] jsmits commented on #3881
Me too...

[2013-11-11 14:18] jctanner commented on #4870
Closing as a duplicate of #3887

[2013-11-11 14:18] #4870 closed, assigned to nobody

[2013-11-11 14:43] podollb opened #4873 "deprecation warning issue (?)"
The "DEPRECATION WARNING" is displayed when the file being used by the "copy" module contains a "$".

It should not scan the contents of the files in the "files/" directory since those do not even use variable substitution.

NOTE: Here's the deprecation warning for reference (also note there is a typo, the word substitution is mis-spelled).

"[DEPRECATION WARNING]: Legacy variable subsitution, suc

[2013-11-11 14:49] stevew-Purdue commented on #4851
On 11/09/2013 12:11 AM, James Cammarata wrote:

This is what I expect to see and do see after the change I made:

But the following debug messages are what I saw until I made the
change.  I'll only include the first 20 lines since for this example
there were 814 debug messages logged:

Regards,
Steve

[2013-11-11 16:10] mpdehaan commented on #4873
Please provide the playbook that you are referencing here so we can see what you are talking about.

Thanks!

[2013-11-11 16:17] mpdehaan commented on #4873
am I interpreting this like:

[code]

If so I think I understand and we could test that the template didn't change anything once evaluated.  (Though I think this is what we did...)

[2013-11-11 16:27] podollb commented on #4873
Actually, the situation was where I was just copying a file with a regular filename, such as "src=file.txt", but that file contained (within the file) a "$".

But before we investigate this any further, I may retract this issue (it seems that the DEPRECATION WARNING isn't displayed at the time of the occurrence and can be displayed at anytime during the output (at least that is what it seems is go

[2013-11-11 20:08] jctanner commented on #4435
@nicolas-g any updates per https://github.com/ansible/ansible/issues/4435#issuecomment-26717324 ?

[2013-11-11 20:10] jctanner commented on #4565
TODO:
- do not change all "NA" returns
- return the real release name, not "NA", even if lsb-release is not installed

[2013-11-11 20:53] jctanner commented on #4746
@przemolb

I re-examined and retested the module code and found that the bahavior is such:

1) Get the keyid for the file by using the gpg command.
2) Call "rpm -q gpg-pubkey"
3) If keyid not in list, import key

The only way a key would be imported more than once, is if the gpg keyid for the file changes after the first transaction.

[2013-11-11 20:53] #4746 closed, assigned to nobody

[2013-11-11 21:01] mgan59 opened #4875 "Linode Inventory path issue"
In the process of learning how to use ansible with my linode I had pip installed all the necessary libraries.  Then I had cloned the ansible repository to have access to the inventory scripts in my local documents folder.  When I cloned the main repo I named it `ansible-src/` just so I'd remember that it was a clone from a read only repo.

[code]

[code]

Took me abit to sort through what was goin

[2013-11-11 21:08] jctanner commented on #4752
@CormacBracken it seems like this issue really related to ansible_hostname doesn't match the user's hostname in the database. However, I can not reproduce the error with 1.3.3 or e2b75abb1dda5fd1ff3f7b6b2b5441992146c24d .

If you can, please try to simplify this down to a small reproducer.

[2013-11-11 21:11] jctanner commented on #4875
@mgan59  Does this same behavior occur if you copy the inventory script to a
directory outside the checkout?

[2013-11-11 21:14] jctanner commented on #4795
Closed per 7dac397d1afb6c024f6bbea8242268f282621b18

[2013-11-11 21:14] #4795 closed, assigned to nobody

[2013-11-11 22:36] jctanner commented on #4855
@akuznecov what does "instances" look like in your testcase? I can not reproduce the issue with this simple playbook ...

[code]

[2013-11-11 23:37] narcisbcn opened #4876 "I cannot invoke different yml tasks files within a role"
# Overview

When I try to divide yml tasks within a role I cannot invoke files different than main.yml
# Context
# ls /etc/ansible/roles/mysql/tasks/

   main.yml  master.yml
# setup.yml

[code]
# Error

[code]

// Checking whether the file exists

[code]

If I do not specify the file, main.yml is invoked correctly:

[code]
# Ansible version

[code]

[2013-11-12 02:43] jctanner commented on #3955
Closing per #4358

[2013-11-12 02:43] #3955 closed, assigned to nobody

[2013-11-12 02:50] #4079 closed, assigned to nobody

[2013-11-12 03:30] jctanner commented on #4385
@uvizhe I think what you are asking for has been added by 9faaa2b98b9c9843d927179148015b6f92ef285f

Please take a look and open a new ticket with an example playbook if it does not meet your needs.

Thanks!

[2013-11-12 03:30] #4385 closed, assigned to nobody

[2013-11-12 03:48] jctanner commented on #4810
@jpcaruana do you want to try to write this and submit a pull request?

[2013-11-12 04:23] jctanner opened #4877 "Set cached module parameter to use real bool type in pkgng module"
per https://github.com/ansible/ansible/pull/4245#issuecomment-27171217 ...

[code]

This should actually be:

[code]

(and thus will convert other type of near booleans)

[2013-11-12 04:24] #4877 closed, assigned to nobody

[2013-11-12 08:30] akuznecov commented on #4855
@jctanner here is my part of playbook

[code]

i have tried to apply your playbook(but with one task only) for localhost and it works too for me, but not for remote machine

[code]

[2013-11-12 09:21] jpcaruana commented on #4848
ok thanks
(sorry for the delay, yesterday was a day off in France (end of world war 1))

[2013-11-12 12:26] jpcaruana commented on #4810
that would be great, but right now I have no time :(
I'll try to submit a pull request in the future

[2013-11-12 12:26] nicolas-g commented on #4435
sorry @jctanner  just saw your update, will try to come back with this today .

[2013-11-12 13:02] mpdehaan commented on #4876
This isn't how this works.

Your role always loads main.yml, you never specify a .yml file when pathing a role.

Instead, within the role, your main.yml can do this:

[code]

Stop by the list if you have further questions.

cc @jctanner

[2013-11-12 13:02] #4876 closed, assigned to nobody

[2013-11-12 13:20] nicolas-g commented on #4435
[code]

-u root

[code]

I have no ssh_user defined anywhere .

[code]

"use" instead of "user" was a typo in the copy paste as I changed the facts for security reasons. I have created a new RDS instance for testing the same with no edits from my side  :

[code]

# "connection: local" present

[code]

# "connection: local" NOT present

[code]

That's still an issue with the latest version of Ansib

[2013-11-12 14:38] nicolas-g opened #4878 ""ignore_errors: yes" not working in case of mysql_db import failed task (?)"
As discussed in [Google Groups](https://groups.google.com/forum/#!topic/ansible-project/9s8ARNfKQyU)

I have a task that imports a db file into mysql but it fails the second time I re-run the playbook.

In order to overcome the failure I need to login to the mysql server and drop the database in order to import successfully in the second play, this is not possible in a production environment and d

[2013-11-12 14:54] jctanner commented on #4867
@elpek the string for the entry comes from the service command and the service it's self...

[code]

I'm not sure if example_service is your real service, but can you show me the rcvar that comes from it?

[code]

[2013-11-12 14:58] jctanner commented on #4878
@nicolas-g can we see the -vvvv output for that failing task?

[2013-11-12 15:07] jctanner commented on #4878
@nicolas-g I dont' have the mysql knowledge to create the error you see, but I was able to force the task to fail and then to also ignore the failure ...

[code]

The -vvvv output might help me understand your issue better.

[2013-11-12 15:29] jctanner commented on #4628
Taking some notes:

[code]

[2013-11-12 15:59] jctanner commented on #4628
@tronner would you consider submitting a pull request for https://github.com/ansible/ansible/issues/4628#issuecomment-27953715 ?

[2013-11-12 16:02] mgan59 commented on #4875
confirmed same error

[code]

[2013-11-12 16:09] matburt commented on #4628
Since pkg is a little busted in some version of FreeBSD and won't allow you to bypass the check we may need to test its state before running the command.  Not sure how feasible that is but the pkg man page has a safe recommendation that should work in all cases:

[code]

[2013-11-12 16:13] podollb commented on #4873
- name: overwrite the xxx users temporary public ssh key

  copy: src=ssh_keys/xxx.pub dest=/home/xxx/.ssh/id_rsa.pub owner=xxx group=xxx mode=0644

[2013-11-12 16:14] podollb commented on #4873
TASK: [../roles/common | overwrite the xxx users temporary public ssh key] ***
chang [DEPRECATION WARNING]: Legacy variable subsitution, such as using ${foo} or
$foo instead of {{ foo }} is currently valid but will be phased out and has
been out of favor since version 1.2. This is the last of legacy features on our
deprecation list. You may continue to use this if you have specific needs for
now.

[2013-11-12 16:16] podollb commented on #4873
I don't see a "$" in the contents but I still get the deprecation warning...

Here is xxx.pub

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDSZIaOdq1KIFAsbwqusDNBbpo4Ji4F8AR1HiHy0Fws2LZe5K8rs6mmulsQt5SDsDb9A9WpfbF0vLMVwMluS7+oZlkBpyLB+k9C6frbKvPMzfE5vpgbzwiNXRWBR6wXzXUE3SvbaRF/VV9Iqx2aKgBMi7SZg3+Viq/yxtFBUSNsVF+Phn6jwj2WRoYnQfPtXSSirgErxGt4lcGg/SrHxiEgjXTt67wKel/3VUFXxPxT5qdVGbp160NkxJiS3x7qHjkSrh7eOFi2P

[2013-11-12 16:17] jctanner commented on #4873
@podollb please provide a simplistic playbook that reproduces the issue.

[2013-11-12 17:38] podollb commented on #4873
The problem ended up being due to the fact that message was being written to stderr, and showing up (for whatever reason) at the same (weird spot) in the stdout, which threw me off. I was running ansible in vagrant (via a shell provisioner), so the ansible output (stdout/stderr) is not continuous. So, I found what was causing the issue (and it was a $ variable substitution issue in a snippet of ba

[2013-11-12 17:38] #4873 closed, assigned to nobody

[2013-11-12 18:16] jctanner commented on #4873
@podollb thanks for the update

[2013-11-12 19:26] elpek commented on #4867
@jctanner, ok, you made it all clear for me, thank you very much. The reason I assumed the server module not to work properly was that I have tested  it with a playbook which was supposed to set 'nfsv4_server_enable="YES"`. Since the nfsv4_server doesn't have any valid rc script and is in fact just a kind of a flag the service module returned an empty string. Now from what I see service module wor

[2013-11-12 19:26] #4867 closed, assigned to nobody

[2013-11-12 20:07] ddimmich opened #4880 "creating zpool using zfs module"
The documentation doesn't really clarify how to add devices to a zpool/create a zpool using the zfs module - is this because the zfs module cannot do this and a separate zpool module needs to be written?

[2013-11-12 20:08] ddimmich commented on #4880
fyi - i created a stackoverflow question to go with this: http://stackoverflow.com/questions/19938439/how-do-i-create-a-zfs-filesystem-zpool-using-ansible-using-zfs-linux

[2013-11-12 21:26] nextus opened #4881 "FR for cron module: add jobs into /etc/crontab"
I'm using singular file for all my cron jobs for all users and this is /etc/crontab. I'm looking toward manage this tasks by ansible cron module but it's turned up I couldn't specify cron_file outside the /etc/cron.d/ and I can't write into /etc/crontab jobs for nonroot users.

[2013-11-12 21:31] jctanner commented on #4881
@nextus the .d structure is something a lot of daemons have moved to or are moving to because it allows less magic manipulation of file contents. Is there a reason you can't use cron.d to handle your needs?

Based on what you've described, you may have better luck using lineinfile.

[2013-11-12 21:43] bcoca commented on #4880
IIRC the zfs module only manages the file system not the pools themselves.

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011100100111010000100001
Pedo mellon a minno

[2013-11-12 21:44] bcoca commented on #4880
you can use the shell or command module to run the zpool cli (idea for
module contribution!)

[2013-11-12 21:47] bcoca commented on #4881
@jctanner, cron.d is not available everywhere, cron.{daily,weekly,monthly}
can be implemented using /etc/crontab, but cron.d needs support in the cron
executable.

[2013-11-12 21:48] jctanner commented on #4881
We can work on this as a feature request. @nextus pull requests are welcomed.

[2013-11-12 21:56] ilgarm opened #4883 "single vars_files list item does not interpolate multiple {{ }} variables"
Hi, I am using latest devel branch.

Use case: I need to create several vms using ansible, each vm has the same set of variables defined in var files, file per vm per host, like: vm1-hostname1.yml, vm1-hostname2.yml

Problem: when vars_files list item contains more than one variable specified as {{ var_name }}, none of the varialbes are interpolated, when it has only one variable with {{ }}, it wo

[2013-11-12 22:27] marcp opened #4884 "File needs state=file to change ownership and permissions"
Recent devel version:
ansible 1.4 (devel f31cb7c6e8) last updated 2013/11/12 14:00:57 (GMT -700)

Playbooks that were setting file permissions and ownership are now not working unless we add "state=file" to the file command.

This does not work:

[code]

Although it appears to succeed:

[code]

This works:

[code]

[code]

[2013-11-12 22:36] bcoca commented on #4884
I also encountered this issue with the file and acl modules.

[2013-11-12 23:08] timlo opened #4885 "problem with conditional include handler trigger (needs info) in 1.3.X"
Related to the issue: https://github.com/ansible/ansible/issues/3539
Experiencing this on Ansible 1.3.3

Example:

main.yml:

[code]

extra.yml:

[code]

If you run main.yml and 'do_extra' is not defined, the task will report appropriately as being skipped, however the notification to restart apache will still occur.

[2013-11-12 23:17] #4884 closed, assigned to nobody

[2013-11-12 23:31] jctanner commented on #4855
@akuznecov Ah, I see now ....

[code]

[2013-11-12 23:37] #4855 closed, assigned to jctanner

[2013-11-12 23:41] jnials opened #4887 "Add ebs_optimize to ec2 module"
I'd like to have support for creating images with ebs_optimize=yes enabled.

I'm willing to do the work, just need a little guidance.  I've already posted my questions in ansible-devel google group.

[2013-11-13 00:00] jsmartin commented on #4853
I'm hitting the same or related issue.  TL;DR, 2 roles with the same handler named assigned to host, only 1 handler will be executed. Here's my reproducer:

https://github.com/jsmartin/test-ansible.git

[code]

Here you can see only the handler in role "a" was activated

Now let's try with 1.3.4

[code]

Here you can see both handlers were activated.

[2013-11-13 05:40] ddimmich commented on #4880
Thought that might be the case. Would it be ansible convention to create a new module for zpool or extend the zfs module and keep all the functionality in that?

Brian Coca notifications@github.com wrote:

[2013-11-13 08:18] alexniehaus opened #4890 "fail to add rules to ec2 security group"
ansible-playbook 1.4

module: ec2_group

playbook contains :

[code]

Creates security group just fine but when running playbook again to try and add a rule:

failed: [127.0.0.1] => {"failed": true, "parsed": false}
invalid output was: Traceback (most recent call last):
  File "/home/alexn/.ansible/tmp/ansible-1384330228.56-49642389926506/ec2_group", line 1312, in <module>
    main()
  File "/home

[2013-11-13 10:30] tronner commented on #4628
@jctanner I don't have a patch. I can post my bootstrap playbook somewhere if that's what you mean.

[2013-11-13 13:34] jctanner commented on #4880
@ddimmich a new module would be preferable so that we can maintain ease of use on the existing module by not adding a bunch of new options that only make sense in certain operational modes.

[2013-11-13 13:35] jctanner commented on #4890
@alexniehaus can you give the full version output from ansible-playbook --version?

[2013-11-13 13:38] alexniehaus commented on #4890
ansible-playbook 1.4

[2013-11-13 13:54] langemeijer opened #4891 "apt package with non-ascii filename fails"
Running this playbook:

[code]

Will install the aspell-es package on the first run, but when ran a second time the apt module crashes with the following output:

[code]

in apt main() the output from apt.Cache() is stored into the cache variable this variable is used in package_status()
 has_files = len(pkg.installed_files) > 0

aspell-es is failing because it contains the file '/usr/lib/aspell/e

[2013-11-13 14:00] jctanner commented on #4891
@langemeijer what version of ansible playbook?

I'm not able to reproduce with current devel ...

[code]

[2013-11-13 14:07] langemeijer commented on #4891
1.3.1, 1.3.2, 1.3.3 1.3.4 and current devel tested. 1.2.3 was fine.

Did you run it twice? The first run will be ok, only when the installed_files is present in the cache when the package is already installed the problem occurs.

[2013-11-13 14:08] jctanner commented on #4891
@langemeijer Yep, I'm seeing the traceback on the second run now. I'll debug/fix.

[2013-11-13 14:10] langemeijer commented on #4891
Impressed with the speed you are responding. fwiw: We tried fixing the code ourselves, but failed.

[2013-11-13 14:16] marcusphi opened #4892 "want to be able to use a variable for the value of ignore_errors"
AFAICT it's impossible to use a **variable** for _ignore_errors_
### Given

[code]
### Solution Attempts

Interpreted as a string, so always true:

[code]

Dito:

[code]

Illegal YAML syntax:

[code]

String again...:

[code]

Maybe I'm stupid, but I can't see how to do this. I had to duplicate the task with one ignore_errors: yes and one no and control it with a when...

[2013-11-13 14:49] #4891 closed, assigned to nobody

[2013-11-13 14:49] jctanner commented on #4891
@langemeijer the patch I just committed will catch the error and proceed as if there were files installed. Maybe not the most accurate behavior, but it does fix the traceback.

[2013-11-13 17:56] JensRantil commented on #4629
:+1: I would love this, too! I'm tired of having to fiddle to get the handler running a second time.

[2013-11-13 22:11] josh-at-knoesis opened #4897 "roles_path should allow user environment variables"
I tried:

roles_path     = $HOME/Roles

but received, for example:

ERROR: cannot find role in /home/doej/posix/code/gitlab.com/acme-devops/ansible/roles/external_roles/common/group-by or /home/doej/posix/code/gitlab.com/acme-devops/ansible/external_roles/common/group-by or /home/doej/posix/code/gitlab.com/acme-devops/ansible/$HOME/Roles/external_roles/common/group-by

I definitely have a role (wi

[2013-11-13 22:38] esamattis opened #4899 "Implement delete option for recursive copy"
As recursive copy was merged in #4375 it would be nice if it implemented a delete option which would work like `--delete` in rsync: If a file is deleted from the source folder it will be deleted from the target also.
### Use case

I want to manage my nginx configurations and often I need to remove some configuration files from `/etc/nginx/{sites-available,sites-enabled}` because just a existence o

[2013-11-13 23:38] hyphen-jb commented on #4818
Using 1.3.2,  "\t" properly expanded only when I double-quoted the entire parameter line:

[code]

However I am fond of the readability from having each task parameter on a separate line.  Which means "\t" does not expand properly.  So I end up doing things like:

[code]

I was unclear if the single quotes in your final grep were desired.

I wouldn't say this bug is resolved, but it might be good

[2013-11-13 23:46] jctanner commented on #4897
@josh-at-knoesis please indicate which version of ansible you are using.

[2013-11-13 23:48] josh-wrale commented on #4897
@jctanner

Sorry about that.  I am running the master branch, which I cloned to the machine about three hours ago.  v1.4

[2013-11-14 11:20] conradlee opened #4902 "ec2_elb not able to register previously unregistered instance"
Summary: currently `ec2_elb` can only register an instance on an elastic load balancer if that instance has a status on that load balancer.  The module should be able to register instances with a load balancer that has no status information on that instance.

Here's why it currently can't do so.  Here's the current `register` method in `library/cloud/ec2_elb`

[code]

Check out the line that get's

[2013-11-14 11:31] conradlee commented on #4902
My proposed solution is to allow the method `_await_elb_instance_state` to take a null initial state by passing `None` as the value for the initial state.

This involves changing one line of code in the `_await_elb_instance_state` method:

[code]

becomes

[code]

Thus, the modified method looks like:

[code]

Then, if we find that the elastic load balancer has no state information on the instance

[2013-11-14 14:55] JensRantil commented on #4707
I'm fairly new to Ansible, but I've been contributing a bit to supervisord and know some of its ins and outs. That said, I saw your e-mail to an Ansible mailing list and I'm happy to hear someone else feels this way with `supervisorctl`! I will respond to your comments below:

Agree. It especially conflicts with the use case

[code]

which would, when first run, first start the program and then (r

[2013-11-14 15:17] jarv commented on #4707
The ansible module assumes you are dealing with one service, if you pass in a group the module will call supervisorctl and not do the right thing since it will get the status for all services in the group.

My preference right now is to use the shell module and call `supervisorctl update` when any of the supervisor configs are updated.  This will automatically start or stop the services affected.

[2013-11-14 16:32] jctanner commented on #4853
@jsmartin @jarv if you can, test if reverting f51b8ffde9e883a84ac63af000c1442469387a84 resolves this for you. Otherwise, we need to do a bisect and figure out where this changed.

[2013-11-14 17:14] jarv commented on #4902
This looks like it changed with the 1.4 refactor in https://github.com/ansible/ansible/pull/4112 , the proposal seems fine with me, @jsdalton can you weigh in?

[2013-11-14 17:25] micafer commented on #4140
I'm having a similar problem with ansible 1.3.4.

If I use:

[code]

I get the same error message:

[code]

Also when installing a package with the update_cache option:

[code]

A similar error is shown:

[code]

The error appears intermittently. In fact using a set of 50 EC2 virtual machines with ubuntu 12.04 (all using the same base image, ami-e50e888c). The error appears in 5 to 20 depending on

[2013-11-14 17:29] bcoca commented on #4140
This is normally exactly as the message says, either you don't have
permissions to lock the dpkg db or someone else (or you in other process)
has locked it (this happens to me if I control+C in the middle and try
again).

[2013-11-14 17:31] micafer commented on #4140
Yes. But using it with 50 VM with the same O.S. with the same configuration in some of them it works and in others it fails. Moreover if i retry the playbook 3 o 4 times finally it works in all the nodes.

[2013-11-14 17:33] jctanner commented on #4140
@micafer is it possible that other users/processes are calling apt at the same time on those machines?

[2013-11-14 17:38] micafer commented on #4140
I'm testing it with a set of 50 VMs specially created for this tests, and I'm the only user in all of them.
I don't know if ubuntu have some internal process (cron or similar) that uses the apt commands.

[2013-11-14 17:46] bcoca commented on #4140
ubuntu has cronned cache updates daily, normally stepped so as not to
create 'thundering herd' issue, if you have unattended installed and
enabled, you'll also get automatic security updates that will also lock
this.

[2013-11-14 18:36] XavM opened #4905 "delegate_to doesn't delegate when using "-c local""
delegate_to doesn't delegate when using "-c local" but plays the task localy

Playbook Example :

vi ./test.yml

[code]

ansible-playbook test.yml -i production/ -v -c local

[code]

Of course it delegates well when not using local connexion :
ansible-playbook test.yml -i production/ -v

[code]

[2013-11-14 19:15] quicksnap opened #4906 "Is the .j2 filename extension necessary for the template module?"
Nowhere in the docs is it stated whether the j2 filename extension is required for the `template` module. In practice, it works fine without using the extension, which is very helpful for Sublime syntax highlighting.

Could it be clarified that the filename extension is optional? A future release that requires the filename extension to be present would break a lot of my playbooks.

[2013-11-14 19:15] jsdalton commented on #4902
@conradlee Cool, good catch. I concur with your assessment and your proposal 100%. I'd suggest maybe throwing your code into a pull request and submitting it -- that might end up being a quicker pathway to getting it fixed. But if a committer wants to just fix the issue that'd be great too.

My only comment was that we ask for the initial state during the `deregister` process as well...and I wonde

[2013-11-14 19:20] bcoca commented on #4906
no, most of us use it so vim uses correct syntax coloring, its just a handy
convention sometimes.

[2013-11-14 19:35] srgvg commented on #4905
I confirm this is the current behaviour, and as I see it, it is the expected behaviour.
-c local forces all connections to local and that's it.
If I'm not mistaken, you can set the connection type per playbook, if you need something more fine grained.

[2013-11-14 20:17] langemeijer commented on #4891
Excellent solution. If there are no files this error could never occur. I'm assuming this issue was caused by a problem in the python-apt library. Do we need to get this issue fixed upstream?

[2013-11-14 20:24] jctanner commented on #4891
@langemeijer yeah, it's python-apt at fault. I can't really spend the time to research it upstream, but i did find some related bugs for ubuntu, so I'm guessing someone knows about it.

[2013-11-14 23:27] XavM commented on #4905
Mmm ...

Pretty much sure it can't be the desired behavior : Forcing the connexion to be local is one thing, but overriding the "delegated host" a task is targeted for with localhost is definitely not an expected behavior

I ran into that problem as I was using the standard ansible-pull script, that first clones a git repo and then run the task locally using a combination of --limit "127.0.0.1:hos

[2013-11-14 23:29] rektide commented on #4883
Needs to be fixed but 'vars/{{ vm_name+"-"+inventory }}.yml' will workaround

Definitely looking forward to whatever can be done to make more places jinja2 can be stuffed. With_fileglobs for example would be a great addition. This is just one more place where it needs to get done, & needs to get done well, no?

[2013-11-15 00:12] XavM opened #4907 "Feature request : Being able to retrieve the file name used for backup when using files module"
The "file" modules (lineinfile, ini_file, etc...) can create a backup file that includes a timestamp

It would be handy to make the file name used for backup accesible later in the play

Ex:

ini_file: dest=/etc/conf section=drinks option=fav value=lemonade backup=yes
register: some_var

debug: msg="{{some_var.backup}}"

Use case :

After a task modifies a nginx.conf, an other task runs a "service

[2013-11-15 05:51] ilgarm commented on #4883
probably not such a high priority, but in order to make it consistent with other places where such syntax can be used. thanks for looking into it and for the hint!

[2013-11-15 07:40] conradlee commented on #4902
@jsdalton In the case of `deregister` the error that comes up is appropriate.  My own fork of ansible includes other changes, so I'm  reluctant to do a pull request.  [Here's a link](https://github.com/conradlee/ansible/commit/b39265b1445cc4a0ec4abfe301a65b9505504858#diff-65143e5debe6a07b9e81d5d14fc8abbb) to a commit that fixes the bug in the way I have proposed.

I've also found a bit more undesi

[2013-11-15 10:12] JensRantil commented on #4707
Good! Do you think I was missing any use case in [my comment above](https://github.com/ansible/ansible/issues/4707#issuecomment-28489743)? Any use case that should be modified? Removed? If not, we can sketch up the commands we would issue for the various use cases.

[2013-11-15 10:34] JensRantil opened #4911 "with_sequence does not document `end` inclusiveness"
See http://www.ansibleworks.com/docs/playbooks_loops.html#looping-over-integer-sequences

I suggest each loop example also shows an output of the generated items.

[2013-11-15 13:22] alexniehaus commented on #4890
Any news on this . is it perhaps something I did wrong ?

[2013-11-15 14:51] JensRantil commented on #4707
I just noticed that for groups, stopping an instance that does not exists does _not_ fail. Starting one fails.

[2013-11-15 15:39] jsmartin commented on #4853
I went ahead and bisected.. the problem commit is here: f081c68a656488e79255eb6865b930cf56c791a9

[2013-11-15 15:51] brandonhilkert opened #4915 "apt installation failure (needs info)"
I have a task that installs Git:

[code]

It seems to fails every once in awhile. I used to just chalk it up to network issues, but this morning I did some more poking and would be interested in feedback.

I thought it was just not running the `update_cache` part because I would log in to the remote machine and the do `sudo apt-get install git` and would get the message:

[code]

So I would manual

[2013-11-15 15:55] brandonhilkert commented on #4915
I just ran 2 more times, 1 worked, and the other failed with:

[code]

[2013-11-15 15:59] brandonhilkert commented on #4915
And here's another example run right after without the separate `apt-get update` task:

[code]

[2013-11-15 16:00] brandonhilkert commented on #4915
For reference, this is being run on Ubuntu 13.04 version 1.4

[2013-11-15 16:15] podollb opened #4916 "file compression and uncompression not available"
This is more of a question/request about an ansible module to handle compression (and possibly decompression) of files such as zip, gzip, bzip, etc.? I often download a file from a URL that is compressed, and I usually then have a following task using the "command" module to issue my uncompress command. I wonder why there hasn't been the creation of a module to handle this?

[2013-11-15 16:24] jctanner commented on #4915
@brandonhilkert Based on the code in the apt module, this seems like a problem with building the cache. If the cache doesn't have the package name as a key, you'll get the error you've described. Here's a patch that would help verify the assumption that something is wrong with the cache ...

[code]

If you apply that to your ibrary/packaging/apt b/library/packaging/apt, we should get some data in

[2013-11-15 16:43] brandonhilkert commented on #4915
Just for log trail, I said this in the IRC room " i added that line, ran again, it failed, but never wrote to /tmp/aptcache.log"

[2013-11-15 16:43] jctanner commented on #4915
@brandonhilkert new patch:

[code]

[2013-11-15 16:44] iffy opened #4917 "ssh.Connection doesn't always collect all output"
I don't know for sure that the problem is the yum module.  The error is sporadic on an identical machine (a Vagrant VM) with an identical playbook/role.

Here is the relevant part of the role's playbook:

[code]

The failure/success cases are too big for the issue tracker, so I'll pastebin them instead.

Here's a failure: https://gist.github.com/iffy/7487203
Here's a success: https://gist.github.c

[2013-11-15 16:46] iffy commented on #4917
Here's just the traceback:

[code]

[2013-11-15 16:49] brandonhilkert commented on #4915
Still nothing in that log i posted.

[2013-11-15 16:55] iffy commented on #4917
This is the function producing the dictionary to be serialized: https://github.com/ansible/ansible/blob/devel/library/packaging/yum#L547

Walking through the code with my eyes, I'm lead to believe that the function makes it all the way to `module.exit_json` on line 620 because `res['results']` is appended to on line 609.  And making it from 609 to `module.exit_json(**res)` without exception seems

[2013-11-15 17:00] iffy commented on #4917
I think `module.exit_json` is this: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L829

`self.add_path_info` returns quickly.

I wonder if there just needs to be a `sys.stdout.flush` after the print?

[2013-11-15 17:15] iffy commented on #4917
It fails on this line: https://github.com/ansible/ansible/blob/devel/lib/ansible/runner/__init__.py#L369.

`res['stdout']` is the problem output, which comes from `_low_level_exec_command` which comes from `conn.exec_command`.  Which is the ssh connection, I think:

https://github.com/ansible/ansible/blob/devel/lib/ansible/runner/connection_plugins/ssh.py

And I suspect this: https://github.com/an

[2013-11-15 17:26] iffy commented on #4917
I think this loop contains the problem: https://github.com/ansible/ansible/blob/devel/lib/ansible/runner/connection_plugins/ssh.py#L219

I'll test, but first record my guess.  Each time through the loop, either stdout or stderr is read, but not both.  If either stdout or stderr is read and found to be done (`dat == ''`) then it waits for the end of the process and breaks from the loop.

So the fol

[2013-11-15 17:47] iffy commented on #4917
This minimally reproduces the problem:

[code]

output:

[code]

[2013-11-15 18:26] sivel commented on #4577
We have gotten a fair amount of testing accomplished on the refactor, and it has been validated that the refactor has not broken any previous functionality of the module.

I'll be submitting the pull request shortly.

[2013-11-15 18:32] sivel commented on #4577
Pull request submitted at #4919

[2013-11-15 18:39] jctanner commented on #4915
@brandonhilkert just noting that you were going to try to get a clean ansible install for debugging.

[2013-11-15 20:20] #4577 closed, assigned to nobody

[2013-11-15 20:23] brandonhilkert commented on #4915
Clean install, error occurs 100% of the time. I can't get it to log anything using the changes above.

Here's my playbook:

[code]

[code]

[2013-11-15 21:18] jctanner commented on #4915
@brandonhilkert what happens if you use shell to install git instead?

[code]

I could not reproduce this with a vanilla 13.04 VM, and I'm having trouble connecting to the official ubuntu images with ssh.

[2013-11-15 22:06] ksage opened #4922 "False deprecation warnings for escaped dollar sign in shell command"
This is a somewhat contrived example because the actual command I'm running is much longer/uglier, but if I have something like this:

[code]

Then I'm getting a deprecation warning:

[code]

The shell command seems to work just fine, but it seems like the deprecation warning is because it's falsely detecting the escaped "\$2" in the shell command as an Ansible variable.

Note that it doesn't comp

[2013-11-15 22:16] neh commented on #4890
I have the same issue with the ec2_group plugin. I think it's related to the plugin being written only for VPC setups, but haven't had a chance to look at it further.

[2013-11-16 17:27] mpdehaan commented on #4922
The code should be set to flag this when the string both changes the template and it does contain ${x} or $x but not "{{""

This is in queue to be reproduced, thanks!

[2013-11-16 17:31] mpdehaan commented on #4917
Thanks for the report.

I'm closing this ticket as we already have the pull request open, and we can still come back here to read the report.

[2013-11-16 17:31] #4917 closed, assigned to nobody

[2013-11-16 17:33] mpdehaan commented on #4915
@jctanner -- if we had a problem with the apt module failing, we'd know about it 100x over.

(removing priority flag)

No idea what you mean by "I'm having trouble connecting to the official ubuntu images with ssh"

[2013-11-16 17:35] mpdehaan commented on #4916
Ansible questions should be asked to the mailing list, not the bug tracker.

[2013-11-16 17:35] #4916 closed, assigned to nobody

[2013-11-16 17:36] mpdehaan commented on #4911
It ends at the end :)

[2013-11-16 17:36] #4911 closed, assigned to nobody

[2013-11-16 17:38] mpdehaan commented on #4907
You could also implement this by using the "validate" option on the template or copy module, that way the file wouldn't have to be overwritten.  It would require being able to path the file in the validate command, however.

[2013-11-16 17:39] mpdehaan commented on #4906
(A) no

(B) don't ask questions here, that's what the mailing list and IRC are for.

[2013-11-16 17:39] #4906 closed, assigned to nobody

[2013-11-16 17:42] mpdehaan commented on #4905
This is not a bug, -c local overrides the connection type.   The idea of a local delegation for the play wouldn't make sense.

Don't do "-c local", let it use the remote transport.

[code]

And then just where you want to do something locally, use "local_action".

[2013-11-16 17:42] #4905 closed, assigned to nobody

[2013-11-16 17:45] mpdehaan commented on #4892
This is probably just because this variable is not being templated, which is a pretty easy thing to add.

[2013-11-16 17:47] mpdehaan commented on #4885
Please include a link playbook that reproduces this, CLI invocation (with parameters) and output of the playbook run.

Thanks!

(I suspect this won't occur on 1.4 regardless, seeing this releases very soon -- next week -- we are unlikely to do a 1.3.X update)

[2013-11-16 17:54] mpdehaan commented on #4883
I'm skeptical about this, but it's in queue for reproduction.

I think it's more of an issue here that one variable is coming from global scope and another from inventory scope.

We'll see if we can reproduce this.

[2013-11-16 18:00] mpdehaan commented on #4878
This should be equivalent to:

[code]

More information would be appreciated.

Thanks!

[2013-11-16 18:02] mpdehaan commented on #4814
Closing per the above merge commit already being merged, let me know if you disagree!

Thanks!

[2013-11-16 18:02] #4814 closed, assigned to nobody

[2013-11-16 18:04] mpdehaan commented on #4851
Ok the code is this:

[code]

Let us say that DEBUG_LEVEL is 3.

If we call vvvv, cap of 4 greater than 3 and it will log.

I would agree the code is incorrect.

cc @jimi-c

[2013-11-16 18:06] mpdehaan commented on #4902
Thanks for looking into this folks -- Please submit a pull request.

[2013-11-16 18:08] mpdehaan commented on #4841
I think we're ok, I understand why you were confused above, if we get a few more people feeling the same we'll think about it.

I think most people would not except aliases to work the way you have indicated.

[2013-11-16 18:08] #4841 closed, assigned to nobody

[2013-11-16 18:19] mpdehaan commented on #4808
What is "ansible --version"?

Always include this when reporting bugs.

Also, can you please provide a playbook you are using that showcases the problem?

[2013-11-16 19:32] claco opened #4926 "[hosts] Entire line removed on name match / 127.0.0.1 killed"
When adding a host entry using the hosts module, if the name matches an existing entry with a different ip, the entire entry line is removed, even if it contains other aliases. I would expect it to leave the other entries in place.

Ever more so, if the entry for the current name/ip exists AND the name exists in another entry, the other entry line is removed and a second instance of the existing e

[2013-11-16 19:41] claco commented on #4926
For the background on this, since the name sharing with the `127.0.0.1` is a bit odd.

I currently have 2 roles: `chef-server` and `chef-client`. For all of the machines, the `chef-client` role drops the chef server hostname/ip into the `/etc/hosts` file to make chef-client happy (as of Chef 11). This works great as none of those machines are the same hostname as the chef server hostname being dro

[2013-11-16 20:20] XavM commented on #4907
Sure, but validate does not seam to be present with lineinfile and ini_file

Am i wrong ?

[2013-11-16 20:35] XavM commented on #4905
OK, not a bug, but a warning in the doc about using delegation in conjunction with '-c local' would have been nice

[2013-11-16 22:23] mscherer commented on #4926
I cannot reproduce on git head using:

[code]

[code]

Who became:

[code]

But I can reproduce with your test case.

[2013-11-16 22:27] mscherer commented on #4926
Ok so:

[code]

is ok

[code]

is not.

[2013-11-16 23:41] mpdehaan commented on #4926
(A)

So I don't think anything about the module should imply a DNS lookup is going to happen.

This module is about the contents of the file, not DNS.

This other part though:

[code]

Seems like that behavior needs to be more consistently defined.

[2013-11-17 19:44] darKoram opened #4932 "unable to pull ansible-vault"
Hi JP,

I'd like to give your ansible-vault module a whirl.
I've tried several things along the lines of the following, but i can't find a proper branch with ansible-vault in it.

git branch --set-upstream vault https://github.com/jpmens/ansible.git/tree/909a8e518fec431fbe03593d98fb0609ac67ff25

thanks
kesten

[2013-11-17 21:56] rclayton-the-terrible commented on #2459
This worked for me, and it didn't require managing a template (allowing you to compose IPTables modifications from multiple playbooks):

[code]

[2013-11-17 23:29] mpdehaan commented on #4932
So this isn't jpmens's repo, this is the main ansible one.

We still want some type of vault-style support in a future release, though we are likely going to want to tweak ideas somewhat.

In any event, this is misfiled, so I'm closing this ticket.

[2013-11-17 23:29] #4932 closed, assigned to nobody

[2013-11-18 01:50] jsmartin opened #4935 "synchronize module in pull mode ignores -u / ANSIBLE_REMOTE_USER"
When initiating a synchronize task with a pull mode, it will never use the ANSIBLE_REMOTE_USER or "-u" option on the command line.  It will always default to the user running the ansible-playbook command.   The only way I was able to get it to work properly was with an ansible_ssh_user hostvar, ansible.cfg file nor -u make a difference.

Additionally, you must always specify a local action when at

[2013-11-18 06:41] resmo commented on #4926
works as intended imho:

Per definition of a /etc/hosts,
- a hosts file hostname can have 1 IP. You can not use the hostname twice, e.g.

[code]

`ping vagrant-chef-server` should ping which IP?
- using the same IP more than once is also not possible:

[code]

make use of aliases for that:

[code]

This means:

if you have

[code]

and your task is like

[code]

Then IP will be changed, because yo

[2013-11-18 13:47] claco commented on #4926
@resmo  Re: "127.0.0.1 vagrant-chef-server localhost"

This would be true if I were the one doing that. In this case, that's either vagrant, virtualbox, or some call into the os putting things in that order. This could just as well be and provisioner, cloud or otherwise.

Aside from that, `hosts` is still broken because:

1) it should not to do different things based on the order of the entry vs a

[2013-11-18 13:55] resmo commented on #4926
lets discuss this on ML please.

[2013-11-18 14:07] claco commented on #4926
Yes, I will send one when I get towards an office. On last item of note:

[code]

The stock cent file has localhost / localhost.domain twice. So the minute I call `host` to read add the 127.0.0.1 line, the ::1 line disappears because it also contains localhost.

[2013-11-18 14:24] resmo commented on #4926
I think the only bug is, that IPv4 and IPv6 should be handled separately. which means.

[code]

should not touch IPv6 entries.

[2013-11-18 14:35] jctanner commented on #4838
@drfickle the message from devel is the right behavior. You did you not specify a line to insert into the file with your second task.

[2013-11-18 14:35] #4838 closed, assigned to nobody

[2013-11-18 14:57] #4851 closed, assigned to jimi-c

[2013-11-18 14:58] jctanner commented on #4851
@stevew-Purdue thank you for isolating this! Feel free to send a pull request next time so that we can give you credit.

[2013-11-18 15:03] brandonhilkert commented on #4915
@mpdehaan I agree that you'd notice if this module was inherently broken. So with that in mind, do you notice something about  my playbook that would cause this behavior?

[2013-11-18 15:08] nicolas-g commented on #4878
Hi @mpdehaan / @jctanner ,

Forgot to mention this happens in ansible-pull mode , there is no "-v" option available.

It's still happening on ansible 1.4 (devel 0ce1123693) last updated 2013/11/18 15:01:07 (GMT +000) .

Regards,
Nicolas.

[2013-11-18 15:40] #4852 closed, assigned to nobody

[2013-11-18 15:42] jctanner commented on #4852
@rackergs thank you for isolating this!

[2013-11-18 16:09] rackergs commented on #4852
thanks for fixing it! :+1:

[2013-11-18 16:27] jctanner commented on #4853
@jsmartin your issue is actually different. Can you please open a new bug? This patch potentially resolves your issue ...

[code]

[2013-11-18 16:29] brandonhilkert opened #4942 "Tagging EC2 instances"
I have a playbook that tags ec2 instances. I get errors from boto, but the task does actually complete. Am I doing something wrong to cause these errors?

[code]

[code]

[2013-11-18 16:30] jctanner commented on #4853
@jarv per https://github.com/ansible/ansible/issues/3863 you are seeing the expected behavior. If the role name and the handler name are the same, then we really only want to call the handler once. This behavior reduces/optimizes the number of calls to do things like restarting a service during the entire play.

[2013-11-18 16:30] #4853 closed, assigned to nobody

[2013-11-18 16:34] jsmartin opened #4943 "Only 1 notification being fire when 2 roles with same handler name assigned to host"
2 roles with the same handler named assigned to host, only 1 handler will be executed.

I bisected commits, and found that the problem commit is:

f081c68a656488e79255eb6865b930cf56c791a9

Here's my reproducer:

https://github.com/jsmartin/test-ansible.git

[code]

Here you can see only the handler in role "a" was activated

Now let's try with 1.3.4

[code]

Here you can see both handlers were act

[2013-11-18 16:35] jctanner commented on #4943
workaround ...

[code]

[2013-11-18 16:37] jctanner commented on #4943
@mpdehaan could you weigh in on this? I'm not sure if we want to think of handlers as independent with each role or if we want to stick with the current behavior.

[2013-11-18 16:37] drfickle commented on #4838
@jctanner I'm confused as to the intent of the argument then. My goal was to locate a line in the file, then insert a new line after the matching one. Doing this

[code]

not only seems redundant (specifying both regexp and lineafter), but results in removal of the "iface eth0 inet" line

[code]

If you can explain this argument to me, I'd be happy to submit a documentation patch to clarify its us

[2013-11-18 16:47] jarv commented on #4853
In the example I gave the role name is "test", the handler name is "test handler".

The issue is that I am calling the role twice so of course the handler name for the two calls will be the same (afaik there is no way for it not to be the same)

On the two calls what handler **does** is different so in that case you want to call it twice.

If it isn't called twice it will be pretty confusing for s

[2013-11-18 17:04] jctanner commented on #4838
@drfickle I believe you are getting caught by the meaning of "insertafter". From the module docstring ...

[code]

This is not the string you want to insert, this is a regex to indicate where "line" should go. The string that will be placed in the file is defined by "line". So if you wanted to place "# Monkeys taste delicious" -after- "^iface eth0 inet dhcp", you would set the parameters like this

[2013-11-18 17:07] raymondr-dev opened #4944 "Ninja2 filter in When Condition does not work with changed option"
According to the documentation you can check if a task result = Changed
(Ansible 1.3.4)

[code]

Result:

[code]

Expected result:
First time a message Debug1
The second time the second task (debug1) should be skipped

The above example fails, When you change result|changed to result.changed it works. The success filter does work (result|success)

[2013-11-18 17:19] mpdehaan commented on #4944
This may be fixed already in 1.4, we'll need to repro.

Thanks!

On Mon, Nov 18, 2013 at 12:07 PM, developerslog notifications@github.comwrote:

[2013-11-18 17:23] drfickle commented on #4838
@jctanner It looks like it's just a 1.3.x problem again. That branch requires both regex and insertafter, and then essentially ignores the insertafter. I have verified that it works as expected in the 'devel' branch. I will wait to use insertafter until 1.4 is released. Thank you.

[2013-11-18 17:32] jimi-c commented on #4853
Ansible in 1.4 now supports using variables in the handler name, so to trigger the same handler do the following:

<pre>
- name: "test handler {{ test_param }}"
  debug: msg="handler {{ test_param }}"
</pre>

If you continue having problems with this, let us know. Thanks!

[2013-11-18 17:37] jctanner commented on #4922
reproduced with ...

[code]

[2013-11-18 18:38] jarv commented on #4853
ah great, that does make it possible then to have different configuration files for the same handler in a parameterized role.

[2013-11-18 18:40] brandonhilkert opened #4946 ""No closing quotation" after running long rake command"
I'm deploying a Rails application and one of the steps of deployment is compiling assets. Here is the playbook:

[code]

Here is the `bundle_assets` role:

[code]

The tasks do depend on the Rails environment, which means that it will load the whole application and connect to the database based on the ENV settings. Development is specified as a mysql instance installed locally (127.0.0.1). However

[2013-11-18 18:59] jctanner commented on #4944
@developerslog I have confirmed that this fails in 1.3.4 and also that it passes in current devel.

[2013-11-18 18:59] #4944 closed, assigned to nobody

[2013-11-18 19:00] brandonhilkert commented on #4946
Here's a little more info...I created a test playbook and made an entry with the built EC2 server in my hosts file:

[code]

When I ran this from the ansible command server without the mysql instance, it worked fine:

[code]

My original playbook created the machine and also include the bundle assets role:

[code]

In the playbook above, the first task is issued from the localhost, is it possible

[2013-11-18 19:07] mpdehaan commented on #4942
ansible --version ?

boto version ?

[2013-11-18 19:10] mpdehaan commented on #4946
So this is a very long defect writeup and I think is really about something else.

"I get an error that the tasks fails because there's not Mysql instance install locally:"

the key part is about losing the sys.stderr bits

As per contributing.md it's important to report the ansible version when filing a ticket, so what's the output of ansible --version ?

[2013-11-18 19:10] mpdehaan commented on #4946
This may just be the case where a very large amount of stdout is confusing ansible, which is handled in a recent pull request...(see https://github.com/ansible/ansible/pull/4920)

[2013-11-18 19:12] brandonhilkert commented on #4942
[code]

[2013-11-18 19:13] mpdehaan commented on #4946
subject has been edited

[2013-11-18 19:14] brandonhilkert commented on #4946
Ansible 1.3.4

It's possibly due to something else, but I figured the more information the better...is there something else that I can run that would give you better info?

[2013-11-18 19:17] jimi-c commented on #4808
I am unable to reproduce this with the current head of devel (f270777):

<pre>
$ cat test_4808.yml
---
- hosts: localhost
  connection: local
  gather_facts: false
  tasks:
  - add_host: hostname=localhost ansible_ssh_hostname=127.0.0.2
- hosts: localhost
  connection: local
  gather_facts: false
  tasks:
  - debug: var=foo
$ cat inventory_4808
localhost
$ cat host_vars/localhost
---
foo: bar
$ an

[2013-11-18 19:18] brandonhilkert commented on #4946
@mpdehaan I think I disagree with your asssment of this. Clearly the failure message produces "ValueError: No closing quotation". However, the failure if you read through the entire trace is that the Mysql instance isn't available locally. IMO, the point is that it should be looking locally at all. And the only 2 reasons that I can think of that this would happen is the following:
1. It's running

[2013-11-18 19:21] brandonhilkert commented on #4915
Just a heads up, after building maybe 10 or 12 servers successfully this morning, this has started again and now will not get beyond it.

[code]

[2013-11-18 19:37] brandonhilkert commented on #4915
To answer the question above, i changed the role to use the `shell` command and still get an error.

[code]

[code]

[2013-11-18 19:38] mpdehaan commented on #4946
Per IRC, we are going to work on the traceback.

The module runs where you tell it (understand local_action, etc).

[2013-11-18 20:05] jimi-c commented on #4926
@claco I believe this module is acting exactly as it's supposed to, and isn't undefined behavior because it is operating on primary keys. The un-intuitive part is that each operation is all-or-nothing, so if you're reassigning the primary key the module correctly thinks that you want it completely replaced. Since the aliases that did not previously exist are no longer specified, it does not preser

[2013-11-18 20:06] jimi-c commented on #4926
Oh and @resmo, I think the issue there again is that the localhost name is assigned to the IPv6 address - in my opinion it shouldn't be (which is why the localhost6 name exists).

[2013-11-18 20:28] claco commented on #4926
Just to illustrate, I think  the ideal here clashes w/the real world. Aka, even stock dist files have dupes, and "moving" and entry from the fqdn in the 127.0.0.1 to another line isn't terribly uncommon:

http://projects.puppetlabs.com/issues/10704

Given all the possibilities and shenanigans out there, some not even of the end users doing, the safest thing might be the simple thing: just make sur

[2013-11-18 22:34] mpdehaan commented on #4926
So in that mode I would definitely expect an "append" mode.

BTW, citing the way a puppet module works is almost never a good way to point out the right way of doing something (they get it right sometimes, but often not, we are NOT trying to match puppet) :)

To me, the idea of acting on a primary key line only seems more intuitive.

[2013-11-18 22:38] claco commented on #4926
I'm not even suggesting there is a right way. I only pointed to that because it points how messed up some hosts files are in the wild from vendors and that others have had these sorts of issues with managing that file as well.

[2013-11-18 22:39] jctanner commented on #4946
@brandonhilkert please test with the latest devel. I merged in #4920 which should get rid of your traceback.

[2013-11-18 22:53] mpdehaan commented on #4922
Fix pushed in fc909b453f ... it deals with the \$ case only, but that should handle most false positives.

[2013-11-18 22:53] #4922 closed, assigned to nobody

[2013-11-19 01:19] dch opened #4954 "gce.py should be able to read (path to) gce.ini as a parameter"
`gce.py` uses `os.path.dirname(os.path.realpath(__file__)) + '/gce.ini'` to locate the ini file, viz https://github.com/jsonified/ansible/blob/devel/plugins/inventory/gce.py#L118

This is at best cryptic, and if run from a relative path fails without useful error message.

A command-line parameter to specify the config file, or at least looking in current working directory for `gce.ini` and subseq

[2013-11-19 02:26] dch opened #4955 "gce_test.py may have incorrect key export instructions"
Method for exporting key in required format in [gce_tests.py](https://github.com/ansible/ansible/blob/devel/test/gce_tests.py#L24-L27) doesn't seem to be accepted by crypto/RSA function. This issue is edging towards support but I currently think this syntax isn't correct - apologies if wrong :/.

cc @erjohnso again for illumination

[code]

Key seems a very sensible format, obv not real one:

[cod

[2013-11-19 02:27] mpdehaan commented on #4954
The ec2 plugin does it like this:

[code]

Similarly Rackspace:

[code]

This would be useful/required if we decide to add Google cloud inventory to AWX as well (as we're already adding for a few other providers initially).

It doesn't need to be a CLI parameter, just an environment variable.

[2013-11-19 02:29] mpdehaan commented on #4955
I'd ask this one on the development list.

When filing tickets, also always please include the output of "ansible --version" and the steps to reproduce the problem.

As you said, "this syntax isn't correct", it's unclear what you mean without seeing your config file that it's picking up.

[2013-11-19 02:42] dch commented on #4955
Thanks Mark, will do. I'm making progress, I think the parsing of options for the various configs doesn't fall through correctly.  I'll close this & open a new one with better info tomorrow.

[2013-11-19 02:42] #4955 closed, assigned to nobody

[2013-11-19 09:17] resmo commented on #4926
my words: the only bug is, that host module mixes up ipv6 and ipv4. You can define 2 identical hostnames but separated by IPv.

I am working on that fix.

[2013-11-19 09:30] ko-zu opened #4958 "Terminal Control Escape Sequences need to be escaped or removed"
Results contain special chars may break local terminal state.

for example,

[code]

will clear local terminal.

atleast control sequences needs to be filtered if stdout is tty.

[2013-11-19 13:32] alexniehaus commented on #4890
solved the problem by upgrading python-boto . version was 2.2.2 , upgraded to 2.17

[2013-11-19 13:32] #4890 closed, assigned to nobody

[2013-11-19 13:46] jctanner commented on #4958
@ko-zu what is your ansible version?

[2013-11-19 14:04] ko-zu commented on #4958
ansible (1.3.4)

[code]

[2013-11-19 14:28] mpdehaan commented on #4958
Please include output of the problem you're seeing, I'm failing to understand why someone would do this and why it causes a problem.

in other words, this seems purely theoretical and a non-issue (can you show a more real-world example where something doesn't work that you would expect it to?)

[2013-11-19 14:40] brandonhilkert commented on #4946
Just tried with head, and unfortunately i'm getting stuck at #4915

[code]

If you have some suggestion as to how to get past this, i'd be happy to report back.

[2013-11-19 15:22] jctanner commented on #4946
@brandonhilkert for the time being, try using the shell module to install git instead.
- shell: apt-get install git

That will possibly fail also, but it would give more data. Please indicate the output/results in #4915

[2013-11-19 15:25] brandonhilkert commented on #4946
@jctanner I did that yesterday on https://github.com/ansible/ansible/issues/4915. See the last comment.

[2013-11-19 15:31] jctanner commented on #4915
@brandonhilkert try "git-core" instead of "git"

http://stackoverflow.com/questions/16164261/apt-get-does-not-find-package-git-on-ubuntu-12-04

[2013-11-19 15:36] brandonhilkert commented on #4915
That's not the issue. This is 13.04 and `git` is preferred. The thing is, when I ssh to the actual box and run `sudo apt-get install git` it works fine. So something else is wrong.

[2013-11-19 15:41] ghost opened #4961 "action service on FreeBSD: rc.conf parsing error"
Ansible errors if your /etc/rc.conf file on FreeBSD has any lines that do not end in a quotation mark. This is bizarre parsing behavior; it is extremely normal for users to have comments in this file.

fatal: [backup1.foo.net] => failed to parse: Traceback (most recent call last):
  File "/home/supraupdate/.ansible/tmp/ansible-1384875495.66-103886466284879/service", line 2080, in <module>
    main

[2013-11-19 15:43] jctanner commented on #4915
If the script module can not install a known packagename, the image it's self or the package mirrors are somehow problematic.

Perhaps try running the install in a loop per http://stackoverflow.com/questions/12438946/e-unable-to-locate-package-git-ubuntu-on-ec2

[code]

However, this does not appear to be an ansible issue.

[2013-11-19 15:44] ghost commented on #4961
Might I also add that there are times when you have situations such as many VLAN interfaces and cannot cleanly fit the arguments all on a single line, so you format them to be as readable and editable as possible.

cloned_interfaces="lagg0 \
                        vlan10 vlan994 vlan996 \
                        vlan800 vlan804 vlan805 \
                        vlan807 vlan808 vlan809 \

[2013-11-19 15:45] erjohnso commented on #4954
Ack.  I can get a PR out in the next day or three.

[2013-11-19 15:47] brandonhilkert commented on #4915
Fair point. It's definitely intermittent, which that link would support. This seems ghetto, but after a bunch of tries, I agree that this doesn't seem to be due to ansible doing anything wrong. I'm surprised this hasn't come up more though. Frustrating for sure...closing.

[2013-11-19 15:47] #4915 closed, assigned to nobody

[2013-11-19 15:49] jctanner commented on #4915
@brandonhilkert thanks for sticking with it though. Let us know if you see any other oddities using the ec2 images, and we'll try to note them in docs or faqs somewhere.

[2013-11-19 15:50] sivel opened #4962 "Add Rackspace Cloud Files module"
This is just a placeholder so that it's visible that this is being worked on.

Module name: rax_files

I'll update this issue as things develop.

[2013-11-19 15:51] sivel opened #4963 "Add Rackspace DNS modules"
This is just a placeholder so that it's visible that this is being worked on.

Module names:
1. rax_dns - Manage domain
1. rax_dns_record - Manage records within a domain

I'll update this issue as things develop.

[2013-11-19 16:03] brianmhunt opened #4964 "Git module support for file:/// protocol for the repo"
It appears that the Ansible git module does not support the `file:///` protocol (per http://git-scm.com/book/ch4-1.html), as running e.g.

[code]

results in

[code]

This would seem to be because the desired behaviour is git pushing to the remote, and the ansible module appears to be attempting to pull.

The ability to git push would allow one to avoid the workaround discussed for [sudoers](https

[2013-11-19 16:21] jctanner commented on #4964
@brianmhunt try quoting your repo path ...

[code]

This is how the tests for the git module are run in test/TestRunner.py

[2013-11-19 16:52] sivel opened #4965 "Add Rackspace Keypair module"
This is just a placeholder so that it's visible that this is being worked on.

Module name: rax_keypair

I'll update this issue as things develop.

[2013-11-19 17:13] brianmhunt commented on #4964
Thanks @jctanner. Using quotes does not resolve the problem.

As you can see from [test/TestRunner.py](https://github.com/ansible/ansible/blob/devel/test/TestRunner.py#L183), your suggestion works in cases where `dest` is also local. It does not appear to work where `dest` is remote (which case is not tested in TestRunner.py).

The issue stands, I am afraid, but thanks for the suggestion.

[2013-11-19 17:48] jctanner commented on #4964
@brianmhunt ah, I'll reopen this then.

[2013-11-19 17:57] brandonhilkert commented on #4946
Ok, got past the git issues...same output

[code]

[code]

FATAL: all hosts have already failed -- aborting

[code]

[2013-11-19 18:42] brianmhunt commented on #4964
Thanks @jctanner. I hope there is a straightforward fix! :)

[2013-11-19 18:53] sivel opened #4967 "Implement ansible.module_utils.rax"
With the addition of a lot of rax modules, there is a lot of duplicate code currently.

Migrate some duplicate boilerplate code that usually shows up in main() into `lib/ansible/module_utils/rax.py`

All rax modules should be updated to use it.

This is just a placeholder so that it's visible that this is being worked on.

I'll update this issue as things develop

[2013-11-19 19:19] mpdehaan commented on #4946
So it looks like what happens is _after_ the command module has executed the process died and then rake spit some extra stuff on the screen after as the result of a daemonized process:

"sys.excepthook is missing
lost sys.stderr"

This has nothing to do with timeout intervals, and 20s is incredibly short, this is more of this process outputing things by holding on the filehandle after it returned.

[2013-11-19 19:24] jimi-c commented on #4926
We've gone ahead and decided to remove this module from core for the time being. We'll be drawing up a spec on how we believe the module should behave, after which time @resmo you can tackle rewriting your module to match or we can start over from scratch.

[2013-11-19 19:24] #4926 closed, assigned to nobody

[2013-11-19 20:04] mpdehaan commented on #4967
+1

[2013-11-19 20:05] mpdehaan commented on #4962
Appreciate that this is coming.

Perhaps the better way to communicate would be to post this to ansible-devel list

We are trying to keep the number of open tickets manageable

Thanks!

[2013-11-19 20:05] #4962 closed, assigned to nobody

[2013-11-19 20:05] mpdehaan commented on #4967
Appreciate that this is coming.

Perhaps the better way to communicate would be to post this to ansible-devel list

We are trying to keep the number of open tickets manageable

Thanks!

[2013-11-19 20:05] #4967 closed, assigned to nobody

[2013-11-19 20:05] mpdehaan commented on #4965
Appreciate that this is coming.

Perhaps the better way to communicate would be to post this to ansible-devel list

We are trying to keep the number of open tickets manageable

Thanks!

[2013-11-19 20:05] #4965 closed, assigned to nobody

[2013-11-19 20:06] mpdehaan commented on #4963
Appreciate that this is coming.

Perhaps the better way to communicate would be to post this to ansible-devel list

We are trying to keep the number of open tickets manageable

Thanks!

[2013-11-19 20:06] #4963 closed, assigned to nobody

[2013-11-19 20:08] mpdehaan commented on #4964
What do you mean by "dest is local or remote" ?

This module executes on exactly one server so I'm a bit confused here.

Examples of working and failing cases with playbook lines would be useful.

Thanks!

[2013-11-19 20:10] mpdehaan commented on #4961
Can you please paste an example of your rc.conf and the command in Ansible you used to trigger this?

Also please include the output of "ansible --version"

Thanks!

[2013-11-19 20:13] #4834 closed, assigned to nobody

[2013-11-19 20:55] #3977 closed, assigned to nobody

[2013-11-19 21:03] brianmhunt commented on #4964
Thanks for the attention @mpdehaan - sorry for the confusion as I am figuring out how the git module works. I hope the following helps explain:

The desired behaviour is to git push from a local directory to a repository on the target server.

So the expected behaviour for the following:

[code]

Should be along the lines of `cd /Users/brianmhunt/package; git push ssh://remote_server:/tmp/destinat

[2013-11-19 21:18] mpdehaan commented on #4964
So the way this works in the example is as follows:

[code]

And what this does is expected to be executed inside a host loop.
- hosts: webservers
   tasks:
  - git: repo=git://foosball.example.org/path/to/repo.git
          dest=/srv/checkout
       version=release-0.22

Which will on each webserver, do a checkout from foosball.example.com onto that local server in /srv/checkout.

This is what it

[2013-11-19 21:18] #4964 closed, assigned to nobody

[2013-11-19 21:24] mpdehaan commented on #4954
excellent, thanks!

[2013-11-19 21:45] mpdehaan commented on #4943
It seems that handlers for each name should be unique across roles.

If you want to trigger multiple handlers, handlers are unique by name.

Thus you can parameterize the name of the handler like:

[code]

And then:

[code]

And things will be good.

This requires Ansible 1.4

[2013-11-19 21:45] #4943 closed, assigned to nobody

[2013-11-19 22:54] #4954 closed, assigned to nobody

[2013-11-20 01:24] nijotz commented on #4897
@josh-at-knoesis

roles_path isn't shell expanded

[code]

My work around has been to set ANSIBLE_ROLES_PATH

[2013-11-20 10:19] resmo commented on #4926
I really agree with that decision.
I currently rewriting this module according the needs of the others and what we learned. Expect a proposal from me soon.

[2013-11-20 13:48] ghost commented on #4961
# ansible --version

ansible 1.3.4

the command was:
- name: enable nslcd daemon supervisor
  action: service name=nslcd_supervisor enabled=yes

and I cannot post the rc.conf publicly but I could probably send it to
you directly.

[2013-11-20 14:28] benregn commented on #3774
Could it fall back to the root, like e.g. copy and template do?  So if you say `keys/lorin.pub` it first looks relative to the role before falling back to the root?

[2013-11-20 14:43] claco commented on #4926
Sorry for the chaos I started. :-/

On November 20, 2013 at 5:19:40 AM, René Moser (notifications@github.com) wrote:

[2013-11-20 15:30] brandonhilkert commented on #4946
I was poking more at the underlying issue of the "bundle exec rake deplopyment:assets" looking for local mysql (I totally understand you guys also want to address the weird rake output), but I was hoping you could help me think through something. I suspect it has something to do with my playbook, but I can't seem to figure it out.

This one blows up looking for local mysql:

[code]

The `bundle_as