[2018-11-13 09:07] zasca commented on #31471
I'm faced with "always changed" too.
[code]
target host:
[code]

[2018-11-13 09:16] Akasurde commented on #42047
@michaelhajjar Could you please try #47962 and let us know if it works for you ? Your comments and reviews are important to us and will affect the merging process. Thanks.

needs_info

[2018-11-13 09:16] Akasurde commented on #42047
resolved_by_pr #47962

[2018-11-13 09:31] phatman168 opened #48594 "Katello Entity does not accept product as parameter"
##### SUMMARY
katello module seems to have a bug and does not accept product as entity. Product does not show as a choice for entity in https://docs.ansible.com/ansible/latest/modules/katello_module.html#katello-module , however examples show product being used.

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
katello

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2018-11-13 09:37] lanoxx commented on #31194
Fetching large files in memory is really a bad practice and should be avoided at all costs. Please fix this.

[2018-11-13 09:42] michaelhajjar commented on #42047
@Akasurde the PR has solved the issue. Thnx @Tomorrow9 and @Akasurde!

[2018-11-13 09:58] tendey commented on #48022
Tks.
I know why.Use https to login,and will be ok

[2018-11-13 10:22] praburaj1985 opened #48596 "Need to access the remote access root through the ansible"
Hi,
  Am new in ansible i need to access the remote host as a root but the remote host is root login is blocked (PermitRootLogin no) but i need to access the root in the remote host for example switch user through the ansible playbook.

Any one please help in this issue

[2018-11-13 10:36] mkrizek commented on #48596
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-13 10:36] #48596 closed, assigned to nobody

[2018-11-13 10:47] sarlacpit commented on #47981
D'oh! Thanks for taking the time to read and finding the problem.
I'll close the Issue. User Error :)

[2018-11-13 10:47] #47981 closed, assigned to NilashishC

[2018-11-13 10:57] jansohn commented on #48561
Works like this:

[code]

[2018-11-13 11:11] Akasurde commented on #43187
@DrMxxxxx I am closing this issue as PR #47062 is merged. Now you can specify vCenter and ESXi hostname for gather facts.

[2018-11-13 11:11] #43187 closed, assigned to nobody

[2018-11-13 11:31] Shaps commented on #29504
This still seems to be the case with `dev`, is there a particular reason why `snapshot_type` is hardcoded to `manual`?

[2018-11-13 11:35] Akasurde commented on #38255
@corbinstuard Any news ? Your feedback and review comments are most welcomed and will help in merging this PR soon. Thanks.

[2018-11-13 11:38] Akasurde commented on #42887
@oheinz Thanks for the feedback.

[2018-11-13 11:39] Akasurde commented on #44326
@Straevaras Could you please provide your feedback, it will be helpful for us to merge this PR ? Thanks.

[2018-11-13 11:53] gundalow commented on #47832
resolved_by_pr: 45158

[2018-11-13 11:57] #36135 closed, assigned to nobody

[2018-11-13 12:11] Akasurde commented on #48281
@jeking3 Thanks for reporting this issue.

[2018-11-13 12:13] marco-m commented on #48545
I spent some more time on this problem. At this point I am not sure wether it is a bug or not. It might be plain YAML corner behavior plus the Ansible requirement that interpolated variables `{{foo}}` must be quoted if they are at the beginning of a value field. I know that this quoting requirement comes also from YAML since `{` represents a YAML map.

Going back to the repro case:

[code]

Case `

[2018-11-13 12:16] Akasurde commented on #43618
@jeremyollis Any news?

[2018-11-13 12:31] #47832 closed, assigned to nobody

[2018-11-13 12:49] patrick-hill commented on #11592
Looks like this is an issue again in 2.7...

[2018-11-13 12:54] webknjaz commented on #48330
Hi @hoyeunglee,

Could you please open a new issue with the template filled in?
You'll need to fill out all sections present in https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md

Without it, it's not clear what you want or what you try to report.

[2018-11-13 12:54] #48330 closed, assigned to nobody

[2018-11-13 12:56] Akasurde commented on #48077
@ofirshtrull Could you please check if PR #48004 works for you and let us know ? Thanks.

needs_info

[2018-11-13 12:56] webknjaz commented on #48398
I assume this is resubmitted as #48399.

[2018-11-13 12:56] #48398 closed, assigned to nobody

[2018-11-13 12:57] samdoran commented on #48344
The playbook run exits with an exit code of `0`, indicating successful completion of the playbook. The stats at the end display the number of tasks that failed.

Is that the main issue here, that the summary data at the end reports failed tasks?

[2018-11-13 12:59] webknjaz commented on #48399
Hi @ssamdwii,

It looks like you're trying to suggest some architectural change. Questions like this should normally go to proposals and be discussed there.

Would you mind explaining your use case in more detail @ https://github.com/ansible/proposals/issues ?

[2018-11-13 13:03] webknjaz commented on #48594
Hi, it looks like examples contain leftovers from the previous versions. Parameters table looks fine.

P.S. Feel free to send a PR :)

[2018-11-13 13:07] nicolaibaralmueller commented on #48344
@samdoran I'm not sure how I can explain another way again.

The playbook fails with fatal error. If block is used then the whole playbook should not fail.

The documentation also states that any_errors_fatal won't be triggered.

I need the playbook to end successfully although the block task had a fatal error.

If this is not possible, then what is the point with block/rescue.

[2018-11-13 13:22] #47595 closed, assigned to Akasurde

[2018-11-13 14:01] vaisov commented on #42002
As workaround I'm using following syntax:
[code]

[2018-11-13 14:12] TermoK opened #48600 "Loop with register show always all variables"
##### SUMMARY
When using a loop with registering a variable for the output and showing this registered variable in a second task of the same play always shows all variables not just subelements.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Loop
Register
Debug

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Cisco Nexus5596 Chassis

Software
  BIOS:      ver

[2018-11-13 14:15] guhcampos commented on #27722
Hi @Akasurde I'm sorry, I cannot confirm this right now. I don't have access to my previous setup (left the job) and we do not have a kibana setup at this time at the new job.

Is there a recommended procedure in such a case? I'm happy to aid however I can.

[2018-11-13 14:28] henti opened #48601 "Python Version and Templating examples not working"
##### SUMMARY

I'm trying to use a hash loop and looking at the example code on https://docs.ansible.com/ansible/2.5/user_guide/playbooks_python_version.html

I tried both examples, but both error out with

[code]
and

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I'm using config from https://docs.ansible.com/ansible/2.5/user_

[2018-11-13 14:29] nicolaibaralmueller opened #48602 "uri module fails with New-style module did not handle its own exit"
##### SUMMARY
uri module fails with New-style module did not handle its own exit.

Downgraded ansible to version 2.5.11 and the error went away.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Centos 7.3

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Task complete.

##### ACTUAL RESULTS

`
TASK [sendgrid : Create Sendgri

[2018-11-13 14:31] webknjaz commented on #48592
You could use Jinja2's `default` filter with `true` as a second arg: http://jinja.pocoo.org/docs/2.10/templates/#default

[2018-11-13 14:37] webknjaz commented on #48600
Hi, what exactly do you expect there? Post an example, please.

[2018-11-13 14:44] texdc commented on #48387
I've resolved this issue: it was user error.  The `my_playbook_var` variable was misspelled.  🙄

[2018-11-13 14:44] #48387 closed, assigned to nobody

[2018-11-13 14:48] webknjaz commented on #48601
Hi @hentisemmle!

It looks like you refer to the docs for Ansible 2.5 but run example under Ansible 2.4, which **is EOL** since _July 2018_: https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html

Feel free to open a new issue should you encounter any issues with supported Ansible versions!

[2018-11-13 14:48] #48601 closed, assigned to nobody

[2018-11-13 14:59] webknjaz commented on #48602
@abadger is this related to #41749?

[2018-11-13 15:01] TermoK commented on #48600
Hi,

something like this:
[code]
So, only the stdoutlines variable for my items in the interface list file.

[2018-11-13 15:03] chris1984 commented on #47689
Confirmed the work-around above fixes the issue. I hit this myself last night.

[2018-11-13 15:12] brushtab commented on #32747
Is there any updates on the issue? @Dmitry1987 Did you solve this?

[2018-11-13 15:12] bcoca commented on #48600
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The default is always to display the item iterated over and the results of that iteration. What you want to use `loop_control`'s `label

[2018-11-13 15:12] #48600 closed, assigned to nobody

[2018-11-13 15:15] hentisemmle commented on #48601
You are completely right .. I completely missed that ... so sorry.

[2018-11-13 15:18] sivel commented on #48592
As indicated, the `default` filter is provided by the upstream jinja2 project, and not provided by us.

To get the behavior you are looking for, use the 2nd `boolean` argument for `default`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-13 15:18] #48592 closed, assigned to nobody

[2018-11-13 15:49] bcoca commented on #48344
@nicolaibaralmueller but your own output above shows the playbook ending normally, not in fatal error, can you show the case in which it does?

[2018-11-13 16:01] #46150 closed, assigned to nobody

[2018-11-13 16:09] mfisher30 commented on #47428
I'm sorry you feel that way, but in our situation, that is not the case. When we can deploy over 400 ESXi hosts, and thats a small deployment, and have an active inventory that can hit into the thousands in a mixed environment, every module call does count. Especially since we use a lot of J2 and Ansible has a known issue with memory overuse, streamlining the process is what we aim to achieve

Luc

[2018-11-13 16:25] ckotte commented on #47428
I use ~70 vmware module executions plus x certificate modules, x ssh-related modules, etc. pp. for one single ESXi host to configure (almost) everything. This would be just 1/70 saving for the vmware module part. Still, doesn't make a difference if I would have 69.

If you want to streamline the process, then you should start somewhere else. E.g. a "connection cache module/plugin" instead of creat

[2018-11-13 16:25] flamein commented on #34054
My two cents:

This also happens when using `openssl_certificate` to sign a certificate using the `ownca` provider.
Due to the warning there:
[code]
I was trying to do this on my freeIPA servers (coincidently the upstream for Red Hat's IDM) that will probably crash and burn if I override my system pyOpenSSL with a pip installed one.

[2018-11-13 16:32] mfisher30 commented on #47427
According to [](https://github.com/ansible/ansible/pull/40520), its not merged in yet. As an organization, we do not use parts of Ansible that are not part of a GA release. Can be closed considering the functionality is coming, but using as a placeholder.

[2018-11-13 16:40] rastakajakwanna commented on #29459
Weird that I am experiencing the same issue with
[code]
Task:
[code]

[2018-11-13 16:47] bradycl commented on #47521
We regularly deploy new environments.
We would want to format LUNs individually based on information returned by vmware_target_canonical_facts.

[2018-11-13 17:03] ckotte commented on #47521
How do you find out if the LUN is already formated with VMFS based on 'vmware_target_canonical_facts' output? This module might need to be changed as well or the lun format module only formats LUNs without VMFS. This can get nasty if you accidentally format a LUN...

[2018-11-13 17:05] abernalreply commented on #47927
I also faced this issue and solved as @cachemeoutside said (because of the reason that he mentioned), updating zlib.

Just for reference if you want to update the zlib from 1.2.7 to 1.2.11, I followed this procedure within the server

### 1 Download the version of zlib that we want to update to

`wget https://zlib.net/zlib-1.2.11.tar.gz`

### 2 Unpack the source

`tar -xzf zlib-1.2.11.tar.gz`

###

[2018-11-13 17:14] bradycl commented on #47521
I would hope that the data returned from a datastore_gather_facts could be correlated with canonical_gather_facts to prevent this.
That is not necessary in our case, as we only need the functionality on new cluster deployments prior to those clusters hitting production, and the new clusters this will be run on will only have unformatted LUNs visible to them.

[2018-11-13 17:22] Akasurde commented on #47119
@ilychkov Could you please try PR #47119 and let us know if it works for you ? Thanks.

needs_info

[2018-11-13 17:23] Akasurde commented on #47119
resolved_by_pr #47119

[2018-11-13 17:31] webknjaz commented on #38920
Hey @bviktor, feel free to send a PR.

It looks like this code block should be changed: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py#L1056-L1060

It shouldn't be hard to extend it but requires somebody to have time for the effort (not just implementation, but also testing).

[2018-11-13 17:33] webknjaz commented on #48134
@bbyhuy please send it as a PR, so that we could have the discussion there.

[2018-11-13 17:43] mfisher30 commented on #47428
I'll just leave it at this. We have, and continue to have issues with connections and memory overuse. Our network is one of the largest in the US and our Ansible use continues to gro.  At the advisory of Ansible/RedHat staff, we were encouraged to to find ways to use less modules per task and that if we identify something that can be streamlined in that regard, then we were told to open these requ

[2018-11-13 18:10] kbreit opened #48609 "Meraki modules should allow configuration of syslog servers"
##### SUMMARY
Meraki added support for syslog server configuration. A module should be created (or add to existing module) for configuring syslog.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2018-11-13 18:11] kbreit opened #48611 "Meraki module should allow for enabling VLANs"
##### SUMMARY
Meraki added support for enabling and disabling VLANs on a network. The `meraki_vlan` module should allow for enabling or disabling modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_vlan

[2018-11-13 18:12] ckotte commented on #47428
Ok. Understand. The current vmware module approach might not fit well in your case if a connection is opened and closed every time. If you want to configure hundreds of ESXi hosts (in parallel), then you also need a lot of CPUs in your delegate host. Otherwise, the config takes ages. Pyvmomi and Python is also not fast btw...

Then you might found out that you cannot configure everything you want.

[2018-11-13 18:13] kbreit opened #48612 "Meraki modules should support BLE information"
##### SUMMARY
Meraki added support for gathering BLE information via the API. A new module should be created for BLE.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2018-11-13 18:14] kbreit opened #48613 "New module - meraki_firewalled_services"
##### SUMMARY
Meraki added support for firewalled services in the API so Meraki modules should support this.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_network

[2018-11-13 18:14] kbreit opened #48614 "New module - meraki_webhooks"
##### SUMMARY
Meraki added support for configuration of HTTP server information and webhooks via the API. Meraki modules should be created to support the configuration.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2018-11-13 18:16] kbreit opened #48615 "New module - meraki_wireless_health"
##### SUMMARY
Meraki's API has significant information about wireless health available via the API. facts modules should be created to support this information

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2018-11-13 18:42] phatman168 commented on #48594
Hi @webknjaz
Could you kindly advise how to create products? I can't figure it out according to the parameters table. Many thanks.
Phat

[2018-11-13 19:02] akshay196 commented on #40186
resolved_by_pr #40413

[2018-11-13 19:11] jctanner commented on #48039
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * https://docs.ansible.com/ansible/become.html#becoming-an-unprivileged-user

As such, we're going to close this ticket.  However, we're open to being corrected,

[2018-11-13 19:11] #48039 closed, assigned to nobody

[2018-11-13 19:22] #40186 closed, assigned to nobody

[2018-11-13 20:04] DylanYoung opened #48622 "git_config module doesn't support version 1.7.9.5 (git module says it supports git>=1.7.1)"
##### SUMMARY
As per #28813, which was never resolved.  Simplest fix is documentation, if the maintainers aren't interested in supporting older git software (I'd like to see it at least match the support of the `git` module for the sake of the usability of ansible as a whole).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

git_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

#

[2018-11-13 20:04] #40615 closed, assigned to maxamillion

[2018-11-13 20:20] jvanderaa commented on #45184
We are getting to the point that we are needing to do this in our environment for real shortly. I think I'm going to have to go with Python to get my task done, but wanted to share that `\ry\r` did not help when we introduce variable substitution. It seems to work sending the individual line.

If we have some Python code to reference, would that be helpful towards further development here?

[2018-11-13 20:24] brophyja opened #48623 "AWS: Postgres10 suport in 'rds_param_group' module"
##### SUMMARY
Amazon RDS now supports Postgres 10 ([details here](https://aws.amazon.com/about-aws/whats-new/2018/02/postgresql-10-now-supported-in-amazon-rds/)), so that option should be available when creating RDS parameter groups.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
[code]
##### ADDITIONAL INFORMATION
Ansible Version:
[code]

This is an example playbook referencing a Postgres

[2018-11-13 20:36] nwsparks opened #48624 "aws_s3 return LastModified in addition to keys"
##### SUMMARY

It would be helpful if the aws_s3 plugin returned the LastModified field in addition to the key names.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aws_s3

##### ADDITIONAL INFORMATION

I have some use cases where I need to sort and return the most recent items from s3. Currently am unable to accomplish this with any native Ansible modules.

[2018-11-13 20:41] assarbad opened #48625 "Wondering what a particular set of messages mean"
##### SUMMARY
I am seeing a kind of warning and I wondering if it is expected or not.

I have a `hosts.ini` that is referred from `ansible.cfg` and looks roughly like this:

[code]

The output I get to see with `ansible-playbook -vv` is this:

[code]

##### ISSUE TYPE
I am unsure, this is more a kind of support request, actually. Please advise, if there is a better place.

##### COMPONENT NAME
Ver

[2018-11-13 21:04] couchgott commented on #46523
Hi Guys,
Foreman 1.19.1 is released and it seems (at least for my awx/foreman combo) the issue has been solved. Maybe you wanna double check with your ansible vanilla.

Cheers!
D.

[2018-11-13 21:09] gundalow commented on #48469
bot_status

[2018-11-13 21:11] bcoca commented on #48471
cc @richardcs

[2018-11-13 21:11] gundalow commented on #48471
@richardcs Hi, I believe you are the maintainer of this module, could you please take a look

[2018-11-13 21:18] snwbr commented on #39104
Hi there! I'm facing the same situation, my pip is under /usr/local/bin but the rest is the same. I've reinstalled pyasn1 but didn't work. I'm on a Mac. Have you faced this issue on a Mac?
Thanks!

[2018-11-13 21:19] bcoca commented on #48469
!component netconf_rpc

[2018-11-13 21:21] mariolenz commented on #47428
I haven't had a close look at the code but if the VMware modules really open new connections all the time a kind of connection cache sounds like a good idea.

BTW: I'm not an Ansible/RedHat employee, either.

[2018-11-13 21:28] #48625 closed, assigned to nobody

[2018-11-13 21:29] bcoca commented on #48489
!bot_skip

[2018-11-13 21:30] sivel commented on #48575
This is not a false positive.

The idea behind "squashing" is that we will take a "loop" such as `with_items` and squash all items into a single call to the module, instead of `N` number of calls where `N` are the number of items in the loop.

We are removing the squashing capability, so in your case, in the future it will call the `apt` module `N` times, if you ignore the warning.

If you address

[2018-11-13 21:30] #48575 closed, assigned to nobody

[2018-11-13 21:35] dpantel commented on #47009
Ultimately I was wrong and it was an issue with a tiny, but significant, template output error.

[2018-11-13 21:35] #47009 closed, assigned to nobody

[2018-11-13 22:09] kbreit commented on #41893
I'm closing this for 2 reasons. First, I'm hoping Ansible can eventually support this. But second, it increases complexity for a relatively niche feature. Ansible has built in loops which may take longer, but will still get the job done.

[2018-11-13 22:09] #41893 closed, assigned to nobody

[2018-11-13 22:17] bhundven commented on #34049
It doesn't exist yet: https://github.com/GoogleCloudPlatform/magic-modules/pull/570

[2018-11-13 23:23] msilmser opened #48629 "RFE: Add src and remote_src options to the win_uri module"
##### SUMMARY
Add src and remote_src options to the win_uri module similar to the standard uri module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_uri

##### ADDITIONAL INFORMATION
Can be used to submit files to a remote server.

[2018-11-13 23:35] tacobayle commented on #48060
+1
same error: VPC is crated as legacy instead of custom.

[2018-11-14 00:07] jborean93 commented on #48629
!component =lib/ansible/modules/windows/win_uri.ps1

[2018-11-14 00:12] p-hash commented on #23575
I was getting this error and my googling ended here. Can someone tell me, if this error is related to the issue or not?
[code]

[2018-11-14 01:25] dlbewley opened #48630 "os_nova_flavor support for project parameter"
##### SUMMARY

Add _project_ as an acceptable parameter of `os_nova_flavor`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

os_nova_flavor

##### ADDITIONAL INFORMATION

Support for a project parameter enables cloud administrators to provision private flavors on behalf of a tenant project.

Other OpenStack modules such as  `os_network` already support a _project_ parameter.

[code]

[2018-11-14 01:47] webknjaz commented on #48594
It looks like there's no such value. You should seek for the answer in source and/or the module maintainer.

[2018-11-14 01:53] mwchristiansen commented on #25459
this is still broken.  any plans to fix it?

[2018-11-14 01:55] brooklynbagel opened #48632 "Add builddep support to yum module"
##### SUMMARY
There is a `yum-builddep` (https://linux.die.net/man/1/yum-builddep) for installing the required RPMs to build a package. The [apt module](https://docs.ansible.com/ansible/latest/modules/apt_module.html) has support for the `state` of a package to be `build-dep` so it seems reasonable to support similar behavior for systems using `yum` as the package manager.

There is a similar issu

[2018-11-14 02:09] brooklynbagel commented on #48632
!component -lib/ansible/modules/packaging/os/apt.py
!component -lib/ansible/parsing/utils/yaml.py

[2018-11-14 02:15] #28758 closed, assigned to nobody

[2018-11-14 04:57] adam-kosseck commented on #36216
We've run into this issue.
This isn't a feature it is a bug.

[2018-11-14 06:18] #38535 closed, assigned to nobody

[2018-11-14 07:04] Akasurde commented on #24886
`ec2_ami_find` is deprecated, PR #34385 fixes `ec2_ami_facts`. @aioue Could you please confirm so that we can close this issue ?

Thanks,

needs_info

[2018-11-14 07:16] nicolaibaralmueller opened #48645 "template results in Unsupported parameters for (copy) module"
##### SUMMARY
template module results in error _Unsupported parameters for (copy) module_

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Have ran this part many times in other ansible versions without issues, for example 2.6.7

##### ACTUAL RESULTS

[code]

[2018-11-14 07:20] nicolaibaralmueller opened #48646 "win_copy fails with Get-AnsibleParam: Missing required argument: src"
##### SUMMARY
win_copy fails with Get-AnsibleParam: Missing required argument: src

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

win_copy documentation states:
_When used instead of src, sets the contents of a file directly to the specified value. This is for simple values, for anything complex

[2018-11-14 07:47] giovannipizzi opened #48648 "docker_compose does not allow to choose the project-directory when specifying more than one docker-compose file"
##### SUMMARY

When specifying more than one file in the `docker_service`, the `project-directory` is assumed to be the one of the first docker-compose.yml file provided, and cannot be changed (even if `project_src` is provided).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS 10.13.6,

[2018-11-14 07:53] jhawkesworth commented on #48471
@Roxyrob could you share a playbook to reproduce this - it would make it easier to investigate.
As you say it is likely it is because of assumptions about encoding but it would help to have a playbook or set of tasks to reproduce it.

[2018-11-14 08:01] jhawkesworth commented on #48471
@Roxyrob also please cn you supply an xml file to reproduce this with? I can imagine that encoding setting in the ```<?xml ?>``` header may have an effect on this.

[2018-11-14 08:04] JonasVerhofste opened #48650 "Rewrite Jenkins_plugin module to python API"
##### SUMMARY

The current [jenkins_plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/web_infrastructure/jenkins_plugin.py) module still uses the jenkins json API. However, Jenkins [currently](https://wiki.jenkins.io/display/JENKINS/Remote+access+API) also has a python API, so I would suggest using one of the wrappers to port the module to python. Seeing as Ansible is also

[2018-11-14 08:30] METAJIJI commented on #9112
Simpler solution `validate: 'nginx -t #%s'`

[2018-11-14 09:38] ant31 opened #48653 "Role Variable Specification"
##### SUMMARY
The current default/main.yaml is a great quick way to expose configuration to end-users.
But as an orchestration tool is reaching a certain size, it becomes harder to validate all user inputs, to document all options.

- The proposal is to allow OpenAPI specification as variables definitions

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

All variables, mainly to be used in r

[2018-11-14 09:49] vv3 commented on #46310
This bug really confused me as well recently, until I figured out what was happening. This bug triggers when the same <vault-password-file> is specified twice, once in <ansible.cfg>, and then on the command line. A sensible merging of parameters is clearly needed.

[2018-11-14 09:50] san7ket commented on #43570
@tedder Can you verify if the fix works for you?

[2018-11-14 09:53] dmurarasu commented on #27124
I agree, it would be good to get this sorted, output overload...

[2018-11-14 10:06] m3adow opened #48656 "openssl_privatekey can't create files which only have read permissions"
##### SUMMARY
openssl_privatekey module can not create read-only keys (mode 0444 or less)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_privatekey

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux 6.10, probably affects all Linux versions

##### STEPS TO REPRODUCE
Small playbook:
[code]
##### EXPECTED RESULTS
Private Key is cr

[2018-11-14 10:21] felixfontein opened #48657 "docker_swarm: required minimum API version?"
##### SUMMARY
@mohag claimed [here](https://github.com/ansible/ansible/pull/47046#issuecomment-438601494) that `docker_swarm` also used to work fine with Docker API version 1.30, while the documentation claims it needs API version 1.35.

Since the API version is enforced since #47046, we should make sure we don't require a newer API version than we actually need.

The requirement has been in the m

[2018-11-14 10:51] rafaelorafaelo commented on #46523
No more errors here with params and facts enabled and `ansible wzvx01* -m setup`. Ansible 2.7.1 and Foreman 1.19.1.

[2018-11-14 10:52] mohag commented on #48657
The functionality that I used on Docker-EE 17.06 (which has API 1.30) from Ansible 2.7.0:
Fact gathering (`state=inspect`) to get  `.swarm_facts.JoinToken.{Manager,Worker}`.
Joining swarms (with `state=join`) (for UCP use)

Other functionality was not tested, but it seems like [Swarm-related API changes](https://docs.docker.com/engine/api/version-history/) took place in 1.30 and 1.39.

My guess is

[2018-11-14 11:08] couchgott commented on #46523
I guess its related to -> https://projects.theforeman.org/issues/25188
Which was solved with 1.19.1 -> https://theforeman.org/manuals/1.19/index.html#Releasenotesfor1.19.1

[2018-11-14 11:12] CaptAintHere commented on #42614
Any news about IPv6 support by `vmware_guest` ? I'm also interested by this feature.

[2018-11-14 11:14] francoislpj commented on #44450
Idem for me : with a '%' character in program argument, the task always reports a change.
[code]

Replacing Windows environment variable by an Ansible variable works as expected:
[code]

(Ansible 2.7)

[2018-11-14 11:15] francoislpj commented on #44450
Idem for me : with a '%' character in program argument, the task always reports a change.
[code]

Replacing Windows environment variable by an Ansible variable works as expected:
[code]

(Ansible 2.7)

[2018-11-14 11:21] roberbri commented on #38510
I have just hit this issue. It is unexpected to say the least.

I would vote for renaming the keys list in the return to kms_keys (which seems a reasonable choice)

[2018-11-14 11:44] Spindel commented on #22568
This is still an issue.

In our case, databases and users are for them use DNS format, `app.example.com` style for both, and sadly, ansible fails at automating this setup for us.

[2018-11-14 11:48] specator opened #48660 "win_defrag: Defrag all volume do not work correctly"
##### SUMMARY
Defrag all volume do not work correctly because "defrag /c" do nothing.

##### ISSUE TYPE
- Bug Report Pull request

##### COMPONENT NAME
win_defrag

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Windows 8, 8.1, 10, 2012, 2012R2, 2016, 2019

##### STEPS TO REPRODUCE
Run this play
[code]

##### EXPECTED RESULTS
Invoke dafrag on all volumes

##### ACTUAL RESULTS
Do not invoke de

[2018-11-14 11:51] specator commented on #48660
to fix need to modify ansible/lib/ansible/modules/windows/win_defrag.ps1:
[code]

with:

[code]

[2018-11-14 13:27] #37361 closed, assigned to nobody

[2018-11-14 13:42] juanvalino commented on #19084
+1 this feature is a must if we want real meta-programming in ansible.

[2018-11-14 13:46] lechat commented on #37704
It should be possible to do a cross-check with a list of plugins available in update-center and refuse to install plugin if it is not in update center.

Here is an example code: https://github.com/pycontribs/jenkinsapi/blob/8ecf093ba7b1fc625d5f4bb314fc47ba6781f3cf/jenkinsapi/plugins.py#L87

[2018-11-14 13:49] ofirshtrull commented on #48077
yes i think so

[2018-11-14 13:57] lechat commented on #43728
By looking at code, I found that if you specify both plugin name and version, then latest version will not be installed.

[2018-11-14 13:59] Akasurde commented on #48374
@danielkelly22 Thanks for reporting this issue. Could you please test https://github.com/ansible/ansible/compare/devel...Akasurde:i48374 and let me know if works for you ?

Thanks

needs_info

[2018-11-14 14:01] Akasurde commented on #48077
Thanks for feedback. I will close this as duplicate of #47945 and will track there.

[2018-11-14 14:01] #48077 closed, assigned to nobody

[2018-11-14 14:06] TermoK opened #48663 "loop_control label displays string representation of data in default callback"
##### SUMMARY
The output of stdout_lines is shown in one line but not with new lines.

##### ISSUE TYPE
- ~Bug Report~
- Feature Idea

##### COMPONENT NAME
loopcontrol label

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 9

##### STEPS TO REPRODUCE
Depending of a list of interfaces the configuration of these interface is shown with a loop:
[code]

Main pla

[2018-11-14 14:09] bcoca commented on #46523
Since this was fixed in the upstream API, I'm going to close this issue

[2018-11-14 14:09] #46523 closed, assigned to nobody

[2018-11-14 14:20] specator opened #48665 "win_update: FATAL ERROR DURING FILE TRANSFER if Windows boot takes a long time"
##### SUMMARY
win_update: FATAL ERROR DURING FILE TRANSFER if Windows boot takes a long time after update. This message appears when Windows rebooted and apply latest changes, WinRM accessible, but not working.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Windows Server 2016

##### STEPS TO REPRODUCE
Run update install like

[2018-11-14 14:33] #46189 closed, assigned to bcoca

[2018-11-14 14:46] #40904 closed, assigned to nobody

[2018-11-14 15:04] bcoca commented on #9112
@Hubbitus that will test the 'previous' configuration, not the new one

[2018-11-14 15:09] mnecas commented on #47607
@machacekondra @mwperina  @mnecas

[2018-11-14 15:19] machacekondra commented on #43046
close_me

[2018-11-14 15:20] machacekondra commented on #35039
close_me

[2018-11-14 15:21] machacekondra commented on #42895
resolved_by_pr 43636

[2018-11-14 15:21] machacekondra commented on #46697
resolved_by_pr 46698

[2018-11-14 15:24] #43046 closed, assigned to nobody

[2018-11-14 15:25] reedium opened #48667 "net_put does not allow for setting a per command timeout"
##### SUMMARY

Currently, the only method for setting the timeout of net_put is to utilize the command_timeout which is a global change. This is a bit of a weird requirement for a module that's built for file transfer. Is ansible/net_put unable to tell if the transfer is still going?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
net_put

##### ADDITIONAL INFORMATION
I am attempting to tra

[2018-11-14 15:42] dagwieers commented on #48665
Not necessarily the solution you were looking for, but it may help to change the 'WinRM service' to become delayed-started.

[code]
PS This is now one of the examples in the **win_service** documentation.

[2018-11-14 15:50] dagwieers commented on #48665
Another thing you could try is to increase the parameter `reboot_timeout`, which defaults to `1200` seconds (20 minutes). In cases where updates may take longer for a system to become available (pre and post reboot), it is possible that **win_update** bails out because the WinRM service is in fact not started within the expected 20 minutes.

The problem is explained in issue #47229 **win_reboot: D

[2018-11-14 15:51] justcallmetrell commented on #34054
@jsumners Thanks for submitting this issue. Glad to see others are working through similar issues.

@aecolley I saw that you attempted a workaround using a Python VirtualEnv... were you successfully able to run your playbook(s)? I've attempted to pip install the 0.15 version of pyOpenSSL in my VirtualEnv, but still got failed results.

My issues are similar when attempting to use the`openssl_csr`

[2018-11-14 15:54] dagwieers commented on #47229
The problem translates to the **win_updates** module as well, when `reboot: yes` is used and updates may take longer than the default `1200` seconds (20 minutes) `reboot_timeout` setting.

[2018-11-14 16:01] specator commented on #48665
Hi @dagwieers,

Thank you for a fast answers!

If you look closer I had increase timeout to 1800 already (to 30 mins). Any way I checked that error appears before timeout exceeds (e.g. server was go to reboot and install updates at 00:00, rebooted at 00:16, booted to "Configuring Windows updates, Do not Turn off" at 00:17, error appeared at 00:18, windows booted and asked for CTRL+ALT+DEL at 00:23

[2018-11-14 16:06] champtar opened #48673 "Traceback when using omit on play keywords"
##### SUMMARY
Recently updated my Fedora 28 to Fedora 29, so I'm now using Ansible 2.7.1 with 3.7.1

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Running Ansible on Fedora 29, target doesn't matter

##### STEPS TO REPRODUCE
Here a minimal not working test case that was working on Fedora 28 (maybe ansibl

[2018-11-14 16:09] ctorgalson commented on #37551
It's possible there is more than one bug here.

I'm seeing the same issue as @ergonlogic on Ubuntu Xenial in Docker, _but_ in this case, the expected link (`/etc/systemd/system/multi-user.target.wants/mysql.service`) exists (contrary to the OP's [description](https://github.com/ansible/ansible/issues/37551#issue-306134349) of the issue).

[2018-11-14 16:21] yent commented on #15297
Using 2.6.4 here, same issue.

It is very bad as security policies in the company forbid us to add users/groups/sudoers on servers so we must do everything with our personal users (with sudo but not passwordless).

Current playbook requires moving 1000's of files from manager to managed machines at various location depending on the machine role, `copy` takes way too long ...

I tried to patch sync

[2018-11-14 16:23] sivel commented on #48673
`omit` is not designed for play keywords, and only designed to omit module parameters assigned to that value.

Instead of omit, you will need to supply a valid default for that keyword.

Example:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-14 16:23] sivel commented on #48673
I will however keep this issue open, to address the traceback.

[2018-11-14 16:28] aioue commented on #24886
Ansible 2.7.1
Speed is equivalent.
[code]

[2018-11-14 16:28] #24886 closed, assigned to nobody

[2018-11-14 16:43] felixfontein commented on #39941
need_info

[2018-11-14 16:45] felixfontein commented on #45683
If I see it correctly this issue can be closed, the problem was a too old version of docker-py, which is now checked against.

close_me

[2018-11-14 16:46] felixfontein commented on #48335
@motherboard1999 does this solves your problem?

needs_info

[2018-11-14 16:54] #48426 closed, assigned to nobody

[2018-11-14 17:00] sivel commented on #48653
See:
* https://github.com/ansible/ansible/pull/44983
* https://github.com/ansible/proposals/issues/39

[2018-11-14 17:02] #45683 closed, assigned to nobody

[2018-11-14 17:12] ant31 commented on #48653
@sivel thank you, I'm closing this one and I'll follow/comment the proposal and impl.

[2018-11-14 17:12] #48653 closed, assigned to nobody

[2018-11-14 17:35] wbagdon commented on #48577
Permissions should be the same since I'm just writing to a file in the %appdata% folder of the user I am becoming.
I've also verified that the user has full control over the file I'm trying to copy over.

Attached is the output (510 is the 2012 host, 511 is the 2016 host)
[code]

[2018-11-14 17:40] jhawkesworth commented on #48327
@basictheprogram
Heya.  Just saw this and was wondering if 'Default' is in your win_deprecated_users list.  If so that might be the cause of this one (assuming my box is similar to yours):

[code]

[2018-11-14 17:40] marco-m commented on #48545
Looks like the same regression reappearing: #4661

[2018-11-14 17:52] sivel commented on #48545
This is not an ansible issue, as you can see by just using pyyaml independently of ansible:

[code]

As you can see, both of these items have `\n` on the end, even when not using Ansible.

In the YAML spec (http://yaml.org/spec/1.1/#id929764) it is shown that a trailing `\n` is added by default on folded style.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansi

[2018-11-14 17:52] #48545 closed, assigned to nobody

[2018-11-14 17:57] gdpak commented on #48667
@rreed42
timeout value for net_put task can be set as per task var 'ansible_command_timeout'. I tried below and it works as expected
[code]
Here 1st task would be completed as per increased command_timeout while second task would face default timeout issue.
[code]

[2018-11-14 18:02] webhull opened #48677 "Ansible 2.7 does not accept /norestart option on windows"
##### SUMMARY
Ansible 2.7 does not accept /norestart option for win_package command.
It should run simple .bat script, which executes shell command
ex: start "C:\path\to\file\setup.exe" /silent FORCE_SILENT_REBOOT=false
If I run manually the bat script it passes fine, installs the software without any reboot, but the problem comes when I try to run it through ansible script.
This problem applies n

[2018-11-14 18:03] ju2wheels opened #48678 "git submodule causes ansible-pull to always clone submodules recursively"
##### SUMMARY
The `git` submodule which is used by `ansible-pull` when cloning the inventory repo is fixed to either initializing submodules recursively or not initializing submodules and doesn't support just initializing the first level of submodules in the repo.

Use Case:

I have thousands of IOT devices being managed using `ansible-pull`. Some SCM providers like Bitbucket have API limits and r

[2018-11-14 18:12] tedder commented on #43570
yep, that fixes it for me!

[2018-11-14 18:12] #43570 closed, assigned to nobody

[2018-11-14 18:50] rreed42 commented on #48667
@gdpak ah, it looks like you're right. That does work around my issue without modifying the other timeouts.

If it doesn't make sense to have a timeout within the module itself, I think this is fine and we can close out this issue. Thanks for taking a look.

[2018-11-14 19:03] jonmod opened #48680 "nxos_command connection failure on cli returning "incomplete|invalid|ambiguous command""
##### SUMMARY
When running multiple commands via the nxos_command module, if there is a single failure of one command with "incomplete" or "ambiguous" or "invalid" the whole set of commands is stopped and a connection error raised even when "ignore_errors: yes" is set. This is problematic when gathering a general set of stats/facts/checks on a large variety of devices.

##### ISSUE TYPE
- Bug Repo

[2018-11-14 19:05] jonmod commented on #48680
As a work-around, I found that running each command separately in a different nxos_command task allows me to proceed but takes much longer to run.

[2018-11-14 19:20] ssbarnea commented on #38227
@bcoca I think is time to create a new bug as your example while it looks correct fails to load any variable at all. It seems tha loop loading via include_vars is deeply broken.

How to reproduce:
Create `one.yml` with:
[code]
Now try to run this with ansible:
[code]
What you will get is:
[code]

As you can see this is really dangereus as it stops loading any variables once you add the loop.

[2018-11-14 19:23] kbreit commented on #48609
`meraki_syslog` is currently in development and visible on my meraki/meraki_syslog branch.

https://github.com/kbreit/ansible/tree/meraki/meraki_syslog

[2018-11-14 19:26] #32747 closed, assigned to nobody

[2018-11-14 19:30] ssbarnea opened #48683 "include_vars silently fails with loops when a file is missing"
##### SUMMARY
include_vars silently fails with loops when a file is missing insteaf of loading variables from existing files. While the task may return success no variable will be loaded if at least one file is missing.

This happens even if the result of task indicates the loaded variables inside `ansible_facts` dictionary. Still even if we can see them there, they are not loaded so they are not

[2018-11-14 19:31] ssbarnea commented on #38227
I raised it at https://github.com/ansible/ansible/issues/48683 -- Please be sure that two.yaml does **not** exist on disk, also run with ANSIBLE_VERBOSITY=1 to see what happens.

Because I see "ok" on the line with two.yml I suppose that file existed on disk.

[2018-11-14 19:33] bcoca commented on #48683
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is expected behaviour when you add `failed_when: false`, it won't report the error because you are stating there is NO error.

Als

[2018-11-14 19:33] #48683 closed, assigned to nobody

[2018-11-14 19:34] bcoca commented on #38227
remove `failed_when: false` from the play and you'll see the error, the whole point of that line is to 'make it have no errors'.

[2018-11-14 19:35] bcoca commented on #38227
w/o `failed_when`
[code]

[2018-11-14 19:35] minac commented on #9556
thank you @texnewmex I had been looking for a way to do this for about an hour!

[2018-11-14 19:37] ssbarnea commented on #48683
I see it bit differently because it seems impossible to make ansible to load variables from files without displaying any errors.

As an user, I do not expect to see (red) errors on console when Ansible is trying to load variables from a list of files which I know that they may exist or not.

I still do expect to see errors if:
- one of the files is invalid
- none of the files exist

[2018-11-14 19:38] cigamit commented on #47646
I have the same versions, and can not reproduce the error still.  Do you have a customization spec already applied to the template in VMWare?

[2018-11-14 19:43] bcoca commented on #48683
That has nothing to do with the above being a bug or not, `failed_when` overrides the return state of a task, being `include_vars` or anything else I would not expect to see an error. If you want errors, don't use `failed_when`.

If this is not how you want to load variables, there are other ways of doing what you ask, but that does not mean this behaviour is incorrect.

[2018-11-14 19:44] cigamit commented on #45834
@scottsisco What vCenter version? (different versions of VCenter only support specific OSes) Do you have open-vm-tools and perl installed?  Have you checked the vmware tools log on the new VM?

[2018-11-14 19:53] ssbarnea commented on #48683
@bcoca Indeed, with `failed_when: false` it works decently, ignoring the failure to load some files.
There is only one issue I was not able to address: the fail the task if none of the files are found.

I tried to do something like:
[code]
This was supposed to work as I succesfully used "result introspection" with ignore_errors in the past. Still in this case it appears that while `result` exits,

[2018-11-14 19:58] bcoca commented on #48683
the condition can probably made to fit your needs, but it will be a lot more complex than `False`

[2018-11-14 20:00] champtar commented on #48673
Thanks for the quick answer @sivel
I reported it as an issue and didn't went to IRC because it was working before (tm) ;)
`default(-1)` works for me

[2018-11-14 20:15] mmolinac commented on #27722
I don't know about @guhcampos , but I think that the PR should work for me.

[2018-11-14 20:32] ewascent commented on #43506
The Eric copies the nice man's code.

[2018-11-14 20:36] mmolinac commented on #43728
@lechat of course you may be right. But the 'present' state should provide that there's no need of install anything if the plugin is already installed.
That's what's supposed to be done by the state 'latest'.
By the way, if you read the documentation, you'll notice that specifying a version number deprives you from dependency resolution.

[2018-11-14 21:03] marco-m commented on #48545
Thanks.

[2018-11-14 22:50] basictheprogram commented on #48327
Default is not in the list of users.

[2018-11-14 22:56] jborean93 commented on #48327
Do you happen to have onedrive enabled in that profile and have some files downloaded? I know those files are shown as reparse points but are slightly different from standard symlinks and junction points.

[2018-11-14 22:59] basictheprogram commented on #48327
OneDrive is installed on these systems.

But the users profiles I'm trying to delete are no longer active and all authentication and access has been removed.

[2018-11-14 23:00] jborean93 commented on #48327
While the auth has been removed, is there file that had been downloaded previous in the onedrive folder?

[2018-11-14 23:05] basictheprogram commented on #48327
All the computer where this error is being thrown the user in questions has the OneDrive directory but it's empty.

[2018-11-14 23:10] jborean93 commented on #48327
Ok that scratches that idea. I think for the time being you will have to use `rmdir` to delete the user profile folder with

[code]

I've been planning on overhauling win_file for a while and I'm getting closer to having everything aligned for that.

[2018-11-14 23:12] dgarros opened #48691 "fact caching is very slow if the same hostvars is accessed multiple time"
##### SUMMARY
I noticed that our playbooks are slower when I'm using the cache facts plugins compare to when I'm accessing devices variables hosted in `host_vars`.

From jinja2 using the `template` module, we are currently accessible other device variables
 using `hostvars[<otherdevice>].var1` in multiple places. This is working very well for us as long as all the variables are stored in `group_va

[2018-11-14 23:13] jborean93 commented on #48327
Actually your issue is probably coming from `win_dirname`, this will get the parent directory of the path specified and `USERPROFILE` is the root path for a profile. In the case of any user this will return `C:\Users` which is definitely not what you want.

[2018-11-14 23:31] dgarros commented on #48691
!component

[2018-11-14 23:35] basictheprogram commented on #48327
What would be a better way to get the location where users home profiles live?

Setup a var manually for each host? group?

[2018-11-15 01:21] nahun opened #48697 "NIOS modules do not use environment variables in provider"
##### SUMMARY
The documentation for the NIOS modules say that environment variables can be used for the provider spec. The WapiModule in module_utils does not use environment_env as fallback in the spec.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios_a_record

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target NIOS is 8.2.2

##### STEPS TO REPRODUC

[2018-11-15 02:30] gdpak commented on #48667
Issue is solved as per last comment from submitter.

[2018-11-15 02:30] #48667 closed, assigned to nobody

[2018-11-15 03:54] richardcs commented on #48471
I just  tested adding and removing an attribute with this XML
[code]
and this playbook

[code]
and the comment section remains the same with no extra characters. Did you preamble for the file specify an encoding? was it UTF-8?

[2018-11-15 04:18] Akasurde commented on #46047
@zlbabe Issue 2 is resolved by https://github.com/ansible/ansible/pull/47188

@Spredzy @MarkusTeufelberger , Could you help with issue 1 ?

[2018-11-15 04:31] #27722 closed, assigned to Akasurde

[2018-11-15 04:39] Akasurde commented on #27722
@guhcampos @mmolinac Thanks for the help.

[2018-11-15 05:45] laixintao commented on #26968
@sensomatic Same issue here, when I use yum install nginx on centos7 I got this:

[code]

[2018-11-15 06:04] Akasurde commented on #48623
@brophyja Thanks for reporting this issue. Could you please try https://github.com/ansible/ansible/pull/48703 and let me know if it works for you ? You may need to specify -

[code]

[2018-11-15 06:05] Akasurde commented on #48623
resolved_by_pr https://github.com/ansible/ansible/pull/48703

[2018-11-15 06:13] Akasurde commented on #47405
resolved_by_pr #47410

[2018-11-15 07:05] arno1704 commented on #45834
When i check the vmTools log there is nothing - but can there be anything in the logs? Since the checkbox is missing even if i don't turn on the vm - so vmware-tools are not running at this time. The error happens before switching on the machine - right at the clone-process

[2018-11-15 07:12] Akasurde commented on #30127
resolved_by_pr #48705

[2018-11-15 08:06] AristonPost opened #48706 "Add netStackInstanceKey to vmware_vmkernel"
##### SUMMARY
For new interfaces to be created it would be nice to have the option to specify the netStack to be used.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_vmkernel

##### ADDITIONAL INFORMATION
netStackInstanceKey defaults to TCP/IP but in some cases it makes sense to have a vMotion netStack. However, this can't be changed afterwards without deletion and recreation of the

[2018-11-15 08:13] Akasurde commented on #29805
Fixed via https://github.com/ansible/ansible-modules-core/pull/3365. Closing this issue. Please feel free to re-open if problem persists.

[2018-11-15 08:13] #29805 closed, assigned to nobody

[2018-11-15 08:20] Fred-sun commented on #42215
@mkprizzle Thanks for the contribution, This has been fixed by #45548 ,it has been merged. you can reinstall lastest ansible try again. if you test pass. Please help to close this issue. Thanks !

[2018-11-15 08:28] Akasurde commented on #26762
@aioue Could you please verify if above PR #26940 fixes this issue ? Thanks.

[2018-11-15 09:20] SUrumov commented on #42090
+1

[2018-11-15 09:51] zx1986 commented on #22922
same error with ansible 2.7.1

[2018-11-15 10:04] epeli commented on #40561
I hit this too and seems to happen randomly on different servers. I had two python modules in the `library` directory. Neither of them had shebang hash but issue occurred only with the other one. Obvious fix seemed to add the shebang line but that caused import error on the ansible module. I tried to add `#!/usr/bin/env python3` as the script require Python 3.

I shuffled some import lines on top

[2018-11-15 10:05] apollo13 opened #48708 "Ansible evaluates variables in the inventory wrong"
##### SUMMARY
Ansible evaluates variables in the inventory instead of keeping them as a string

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
debian unstable

##### STEPS TO REPRODUCE

Consider the following inventory file
[code]
and then run:
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESU

[2018-11-15 10:11] #40524 closed, assigned to nobody

[2018-11-15 10:30] jhawkesworth commented on #48577
@wbagdon  not entirely sure what's going on there but I can see an 'Access is denied' in your trace output for 1511 (not the most helpful of error messages, unfortunately).  I don't know if the line number mentioned (52) is for the module code itself or the exec wrapper code.  If it is the module code that is approximately where Get-FileChecksum is called if you have force set (which you do).
[cod

[2018-11-15 10:39] juanvalino opened #48709 "New parameter for `include_role` to pass role variables"
##### SUMMARY
Add a new parameter to `include_role` module to pass a dict with the variables to use within the role.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`include_role` module.

##### ADDITIONAL INFORMATION
Currently there is no way to dynamically pass variables to an included role. Passing a dictionary to `vars` keyword is not an option due to issue #19084.

WIthout this feature

[2018-11-15 10:49] jhawkesworth commented on #48677
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible or #ansible-windows on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can sto

[2018-11-15 10:49] #48677 closed, assigned to nobody

[2018-11-15 10:51] ameyaagashe commented on #36622
Is this fixed? or not yet fixed?

[2018-11-15 11:11] waynembayport commented on #40304
You should run the playbook against localhost (or your Ansible controller) - not the "target". You should then specify the "target" host in the relevant task.

[2018-11-15 11:14] waynetjes commented on #40304
You should run your playbook against your localhost (or the Ansible controller) - not the target. You then specify the "target" within the relevant module.

[2018-11-15 11:20] #45446 closed, assigned to nobody

[2018-11-15 11:48] #32075 closed, assigned to nobody

[2018-11-15 11:48] marcingarstka commented on #32075
I leave this closed not problem with current version.

[2018-11-15 12:11] mohag opened #48714 "apt_repository module does not allow enabling 'universe' repository"
##### SUMMARY
apt_repository does not support enabling built-in repositories, like "universe"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Ubuntu 18.04
##### STEPS TO REPRODUCE

When attempting to do the equivalent of `add-apt-repository universe` using the apt_repository module, i

[2018-11-15 12:14] mohag commented on #48714
(I'm not sure if the module is intended as a full equivalent to the `apt-add-repository` command. It seems to support all the other functionality of the command)

[2018-11-15 13:08] misastovicek commented on #45362
You can also do something like this at the line 2189 if you want to use journald:

`for arg in log_args:
                    if arg.upper() == 'MESSAGE':
                        journal_args.append((arg.upper() + '_M', str(log_args[arg])))
                    else:
                        journal_args.append((arg.upper(), str(log_args[arg])))`

[2018-11-15 13:11] wbagdon commented on #48577
First I tried using `%appdata%` but the powershell shell didn't seem to like this so I switched to using `$env:appdata` to be more powershell friendly.

This worked on both 2012 and 2016:
[code]

Output:
[code]

Tried using `$env:appdata` in my `win_copy` step but that didn't seem to work.

[2018-11-15 14:15] jhawkesworth commented on #48577
I think the problem is when it copies the file from the temporary location into the intended destination, so I think the checksum would be happening on the temp dir location

C:\Users\taskdtcansible\AppData\Local\Temp\<a folder>\source

so maybe try there (as normal ansible user and also as the become user)?

If it is this point in the code where the problem lies, you might be able to workaround b

[2018-11-15 14:36] romain-dartigues opened #48722 "module user, luseradd: error parsing arguments"
##### SUMMARY

Module `user` fail creating users with `local: true` **and** with groups.

Note: this bug relates to #32199 (marked fixed by PR #32262) but is not the same.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- module **`user`**

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Local OS:
[code]

Target system:
[code]
##### STEPS TO REPRODUCE
[code]

[2018-11-15 14:38] nicolaibaralmueller opened #48723 "azure_rm_virtualmachine_facts does not return vm status"
##### SUMMARY

azure_rm_virtualmachine_facts does not return vm status (running, stopped, generalized)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine

[2018-11-15 14:46] romain-dartigues commented on #48722
I would expect the module to gives the same results *with and without* `local: true`; but I would at the very least content myself with an error message telling me my combination is not supported by the module *and* a clear warning in the documentation.

To provide the same functionalities with `local: true` than without, the module should, after creating the user makes a `lgroupmod --member-add={

[2018-11-15 14:49] nicolaibaralmueller opened #48725 "azure_rm_virtualmachine_facts fatal error when no VM in resourceGroup or state not running"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine_facts

##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

This is a fact module and should handle no VM's by returning nothing or facts that available for stopped/generalized VM's.

##### ACTUAL RESULTS

[code]

[2018-11-15 15:15] #45682 closed, assigned to Akasurde

[2018-11-15 15:21] jsengla commented on #15297
I've run into this error sporadically since before Ansible v2.0 was even released.  It's actually a downstream effect of how sudo is configured in some distributions, combined with how Ansible supplies the password.  It does appear to be related to how ssh pipelining is handled by Ansible, since I've seen some variance between versions in the earlier 2.x releases.
Ansible is a success because this

[2018-11-15 15:45] specator commented on #48665
Hi @dagwieers,

I had tested today with workaround "set WinRM to delayed start", "update and restart", "set WinRM to auto start" and seems that issue has gone. I will do some test next week.

May be in module documentation put some strings about that behavior?

[2018-11-15 15:45] psheridan1979 commented on #30754
Same problem, when I ran `sudo apt update` directly I got this message.

[code]
Once I accepted the change the problem went away.

[2018-11-15 15:50] winem opened #48727 "Use Linux style on sysctl module - spaces around the = sign"
##### SUMMARY
Currently, the sysctl configuration files maintained by ansible look like this:
`net.ipv4.conf.all.accept_redirects=0`

The default on Linux is to have spaces before and after the equal sign. Example: `net.ipv4.conf.all.accept_redirects = 0`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
sysctl module

##### ADDITIONAL INFORMATION
One might argue that it's just a cosmetically

[2018-11-15 15:59] BryanJeterCTR commented on #48134
At the commandline, `mount -o remount /foo` seems less disruptive than `umount /foo && mount /foo`, especially for LUNs exported as NFS, or NFS mounts which could be in use at the time the command runs.  Linux is good about queueing read/write when an FS mount is interrupted, however, my opinion is, "Why test it?"

I'm not a coder, but I'm wondering whether the Ansible modules wrap shell commands,

[2018-11-15 16:08] shrabok-surge opened #48728 "Error starting service using win_nssm with user and password parameters and password contains special characters"
##### SUMMARY
When running `win_nssm` module with parameters `user` and `password` and the password contains special characters (we have a number of special characters such as `#` `$` `%`) the service will fail to start with `The service did not start due to a logon failure`.

The issue did not occur in ansible version 2.6, only seen in 2.7.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win

[2018-11-15 16:09] jbemmel commented on #13104
In Ansible 2.5.0 I still get an empty string for "169.254.0.0/31" | ipaddr('address')

In Ansible 2.6.3 this works as expected

[2018-11-15 16:20] shrabok-surge commented on #48728
Additional note: We can go into `Services` on the target windows host and re-enter the password manually and the service will start successfully.

[2018-11-15 16:56] Roxyrob commented on #48471
In attach a test case files. Something strange on encoding, but I'm not sure. If you unzip webimage.zip on windows manually (with 7-zip) the web.config file is in "utf-8-BOM". But it is "utf-8" when decompressed by the playbook (win_unzip on target machine). I'm not sure this information can help. Probably some encoded chars inside.

As you'll see (I hope) garbage chars are added replacing chars l

[2018-11-15 16:59] billdodd commented on #48364
I've made a fix and will submit the PR shortly. Here is an outline of the fix:

1. Removed the CreateBiosConfigJob Systems command from redfish_commands.py
2. Removed the create_bios_config_job() method from redfish_utils.py
3. Added PowerReboot Systems command to redfish_commands.py
4. Updated manage_system_power() method (redfish_utils.py) to add PowerReboot command logic

The added PowerReboot

[2018-11-15 17:04] jyundt commented on #48296
Hmm, upon further examination of this issue, it may be worth reopening it. I think the redirect issue is addressed with #45704, however, even with that patch applied I'm still unable to gather redfish_facts from a Gen9 / iLO4 system.

I just discovered that HP Gen9 / iLO4 systems do **not** store BIOS Attrs in the `Attributes` key in  `/redfish/v1/Systems/$YOURSYSTEM/Bios`

This ends up breaking f

[2018-11-15 17:46] billdodd commented on #48364
While working on this issue, I also took the opportunity to do a proof-of-concept (POC) of adding a vendor redfish module that extends the standard Redfish utility module to provide Oem function. This POC code is of course not included in the PR, but I'll describe it here as a starting point for establishing a pattern for vendor extensions.

With the current Redfish support, there are three main m

[2018-11-15 17:48] mraineri commented on #48296
What is in the payload for `https://$GEN9BMC/redfish/v1/Systems/1/Bios`? If it's listing its attributes in something other than the "Attributes" property, then it's not conformant with the Redfish schema for the Bios resource.

[2018-11-15 17:56] jyundt commented on #48296
Correct, this is not stored in `Attributes` property and does not appear to be DMTF compliant.

Based on their publish [iLO4 API spec](https://hewlettpackard.github.io/ilo-rest-api-docs/ilo4/#hpbios), this seems to be intentional. I'm reaching out to HPE for additional clarification.

Payload example:
[code]

[2018-11-15 18:34] cigamit commented on #45834
@arno1704 That comment was for scottsisco's issue, not yours.

For yours, customization will not happen until the VM powers on and VMWare Tools loads, so if you aren't turning it on, then it will not check the box.  That is a requirement by VMWare's Customization spec not us.

[2018-11-15 19:31] JayHauss commented on #20106
Unfortunately it seems this issue still exists.

I was attempting to migrate our ESXi scripts from the "vsphere_guest" module to "vmware_guest" module and am experiencing the issue where "state: poweredon" does absolutely nothing.

I tried following the advice from @hadfiiw by explicitly defining folder and datacenter variables in the task. I've tried dozens of combinations of both and nothing see

[2018-11-15 19:32] cognifloyd commented on #34566
I think we need a way to declare "role A needs role B. role A will run role B using import_role or include_role." So, it's more like a pip or galaxy requirements, but loaded (not run) by Ansible directly. If while loading, Ansible saw this kind of dependency, and it could not resolve the indicated role, it should fail.

[2018-11-15 19:40] maxamillion opened #48743 "dnf module can't handle installation of module appstreams"
##### SUMMARY

dnf module can't handle installation of module appstreams

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dnf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 29

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

dnf module install and enable the AppStream

##### ACTUAL RESULTS

[code]

[2018-11-15 19:56] maxamillion commented on #48743
!component =dnf

[2018-11-15 20:20] zlbabe commented on #46047
`friendly_name` seems to be required whereas it shouldn't be.

[2018-11-15 21:07] DylanYoung commented on #32820
@tarpanpathak Yes.  In check mode, the file will never actually be downloaded and so unarchive will complain about it not existing (maybe other possible errors as well).

If you want your playbooks to run in check mode, you need to think about these things, as check_mode doesn't currently take into account the play as a whole (i.e. it doesn't remember that you "uploaded that file").

[2018-11-15 21:29] #45493 closed, assigned to nobody

[2018-11-15 21:32] wbagdon commented on #48577
No luck with deleting and then adding the file:

New task:
[code]

Result
[code]

[2018-11-15 21:32] jyundt commented on #48296
@mraineri @jose-delarosa

I  spoke with someone from HPE and this is working as designed, the Gen9 was released prior to the standardization of the BIOS attrs in the redfish spec. Bios attrs are available as an HPE OEM extension, they aren't advertised via "@odata.type=Bios...."

Based on that, any thoughts/suggestions on how to proceed?

Re-open this issue? Open a new issue?

[2018-11-15 21:52] msilmser opened #48751 "Add Oracle Linux to unsupported section of hostname module doc"
##### SUMMARY
Page in question: https://docs.ansible.com/ansible/2.5/modules/hostname_module.html#hostname-module

We currently list some unsupported platforms for it, but Oracle Linux is not listed. This is based on a customer attempting to use this to manage an Oracle host. It may also be nice to include language that indicates not all platforms are tested.

##### ISSUE TYPE
- Documentation Repo

[2018-11-15 22:07] Sneedes opened #48752 "hostname module incorrect behavior on Oracle Linux"
##### SUMMARY
To edit hostname in Oracle Linux 7, use either of following methods:

1. use hostname control utility: hostnamectl
2. use NetworkManager command line tool: nmcli
3. edit /etc/hostname file directly (a reboot afterwards is required)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

hostname module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2018-11-15 22:52] predatorian3 commented on #15215
Is this still a problem with Boto/Boto3? When I run the provided ec2.py script, I keep getting the error listed in the issue description. However, when I use the same setup via something else like the aws cli, or Ruby scripts, those all work with the same credentials.

[2018-11-15 23:05] bcoca commented on #48134
@BryanJeterCTR what modules use 'depends' on the module's intent, available APIs, cli tools, etc.

In the case of this `mount` module its a mixture of them, but it does use the `mount` and `unmount` commands in some cases. The current way it updates fstab is far from optimal so i would like to remove it and/or separate into another plugin.

[2018-11-15 23:12] ishrivatsa opened #48756 "RDS filtering with instance_filter=vpc-id"
##### SUMMARY
When trying to filter all the instances by VPC-ID, the RDS instances are not displayed even though they are part of the same VPC

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
ubuntu 18.04

##### STEPS TO REPRODUCE
1. create an RDS instance
2. Edit ec2.ini file and add these filters
instance_filters = vpc-id
rds = Tru

[2018-11-15 23:37] khayber commented on #47769
@ckotte PMJI, but I'm seeing this issue too.  My ESXi hosts definitely have self-signed certificates.
Applied your requested patch, output below.

[code]

Interestingly, govc seems to show the same problem:

[code]

[2018-11-15 23:47] bcoca commented on #48691
It is expected that the cache system is always slower than the host vars, it is meant to avoid the cost of running fact gathering (`setup` module).  It was never meant to be faster than an 'in memory' mapping.

[2018-11-15 23:49] #30127 closed, assigned to Akasurde

[2018-11-16 01:10] mattandes commented on #48728
I'm experiencing similar behavior. I'm pretty sure the cause of it is the below line (406) in `lib/ansible/modules/windows/win_nssm.ps1`

[code]

The problem appears to be the escaping of the `$password` variable with single quotes (introduced by PR https://github.com/ansible/ansible/pull/26228) which worked pre 2.7.0 when `Invoke-Expression` was being used to invoke nssm but with 2.7.1 nssm is be

[2018-11-16 01:38] mattclay opened #48759 "Add CI platform: macos/10.15"
##### SUMMARY

Replace the `osx/10.11` platform in the test matrix with `macos/10.15`.

macOS Catalina was released in October, 2019.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2018-11-16 01:50] mattclay opened #48760 "Add CI platform: linux/ubuntu1804"
##### SUMMARY

Add the `linux/ubuntu1804` platform to the test matrix.

Ubuntu 18.04 was released on April 26th, 2018.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2018-11-16 01:54] mattclay opened #48762 "Add CI platform: linux/fedora28"
##### SUMMARY

Replace the oldest `linux/fedora2[45]` platform in the test matrix with `linux/fedora28`.

Fedora 28 was released on May 1st, 2018.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2018-11-16 01:56] mattclay opened #48763 "Add CI platform: linux/fedora29"
##### SUMMARY

Replace the oldest `linux/fedora2[45]` platform in the test matrix with `linux/fedora29`.

Fedora 29 was released on October 30th, 2018.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2018-11-16 02:11] mattclay opened #48765 "Add CI platform: linux/opensuse15"
##### SUMMARY

Add the `linux/opensuse15` platform to the test matrix.

openSUSE 15.0 was released on May 25th, 2018.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2018-11-16 02:14] jborean93 commented on #48762
As an update, the Fedora 28 test container works fine in CI, it's just waiting on Fedora 29 to be ready.

[2018-11-16 02:15] jborean93 commented on #48763
All tests except the docker ones pass due to `docker-ce` not being available for Fedora 29 right now. Waiting on https://github.com/docker/for-linux/issues/430.

[2018-11-16 02:16] mattclay opened #48766 "Add CI platform: windows/2019"
##### SUMMARY

Add the `windows/2019` platform to the test matrix.

Windows Server 2019 was re-released on November 13th, 2018.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2018-11-16 03:04] alexcurtin commented on #48624
How do I go about taking a stab at this? I've read all the documentation on contributing but I don't know how to assign myself this issue (to then open a PR against).

[2018-11-16 04:03] #47148 closed, assigned to trishnaguha

[2018-11-16 04:37] willthames commented on #15215
@predatorian3 ec2.py is not going to be upgraded to boto3, so this is still going to be a problem

We recommend using the [aws_ec2 inventory plugin](https://docs.ansible.com/ansible/latest/plugins/inventory/aws_ec2.html)

[2018-11-16 04:47] justwheel opened #48780 "Add "creates" parameter to archive module"
##### SUMMARY

Add `creates` parameter to check if archive already exists before creating an archive

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`archive` module

##### ADDITIONAL INFORMATION

Not sure if it makes sense to specify a path or use a boolean. `dest` is already used when writing an archive out, but it doesn't distinguish if the archive already exists. Instead, a boolean val

[2018-11-16 05:45] jose-delarosa commented on #48296
@jyundt, @billdodd developed a POC to integrate/handle OEM extensions. See https://github.com/ansible/ansible/issues/48364. This could be a potential way to handle your problem. I suppose you could open another bug for you to track it, and then provide your own PR once we determine the best way to handle OEM extensions. Just a thought.

[2018-11-16 05:50] mattclay commented on #18259
The [shebang](https://github.com/ansible/ansible/blob/devel/test/sanity/code-smell/shebang.py) sanity test handles this now.

[2018-11-16 05:50] #18259 closed, assigned to nobody

[2018-11-16 06:16] mattclay opened #48781 "Add CI platform: freebsd/12.0"
##### SUMMARY

Add the `freebsd/12.0` platform to the test matrix.

FreeBSD 12.0 is [expected](https://www.freebsd.org/releases/12.0R/schedule.html) to be released on December 11th, 2018.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2018-11-16 06:22] mattclay opened #48782 "Add CI platform: freebsd/11.4"
##### SUMMARY

Replace the `freebsd/11.1` platform in the test matrix with `freebsd/11.4`.

FreeBSD 11.4 was released in June, 2020.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2018-11-16 06:33] NilashishC commented on #48567
@javcasalc I tried to reproduce this issue and realised that there's an extra space in between `deny` and `any` in running config. Ansible Network `*_config` modules compare the text of the commands you specify in lines to the text in the configuration. For idempotency to persist, these two must be exactly the same.

Hence, adding an extra space in that line in the task solved the issue, i.e., the

[2018-11-16 06:33] #48567 closed, assigned to NilashishC

[2018-11-16 06:34] mattclay opened #48783 "Add CI platform: rhel/8.0"
##### SUMMARY

Add the `rhel/8.0` platform to the test matrix.

RHEL 8.0 Beta was [announced](https://www.redhat.com/en/blog/powering-its-future-while-preserving-present-introducing-red-hat-enterprise-linux-8-beta) on November 14th, 2018.

No final release date has been announced.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2018-11-16 08:28] dknight-shl opened #48784 "eos_config can't modify username with shell specified"
Don't see this issue already reported.

Issue is present in devel branch as of 2018/11/16

##### SUMMARY

I want to use eos_config to manage an Arista/EOS user with eos_config.

The user has a shell specified, e.g.:

username bashuser shell /bin/bash secret sha512 $6$xxx...

This regex causes this to fail as it matches '/bin/bash'

https://github.com/ansible/ansible/blob/fa0af527650958b4e281bc1334

[2018-11-16 08:42] jhawkesworth commented on #48577
Ok thanks for trying it I wasn't convinced the error was coming from the module code anyway.

were you able to check the permissions on the temporary folder?

You can run ansible with
ANSIBLE_KEEP_REMOTE_FILES=1 envirnoment variable set and it won't delete the temp file
so you could try that and then examine the security properties of the temp folder on s2016 and s2012r2 box to see if they differ.

[2018-11-16 08:47] offlinehoster opened #48785 "Mail module is failing in ansible 2.7.2"
##### SUMMARY
Some weeks ago i saw the version 2.7.0 affected by an issue (#46673)  while using the mail module.
So i downgraded the local ansible to 2.6.5 where it was working fine.
After the backport for the smtp thing was done in 2.7.1, mail was working also.
Today i did an upgrade to 2.7.2 and see another/new smtp issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mail module

##### A

[2018-11-16 08:53] offlinehoster commented on #48785
I downgraded to ansible:amd64 (2.7.1-1ppa~cosmic) and mail is working again.

[2018-11-16 09:09] shederman opened #48786 "Service "Could not find the requested service" when trying to restart httpd; but it is installed"
##### SUMMARY
Get "Could not find the requested service" when trying to restart httpd; but it is installed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Run simple playbook that attempts to restart httpd
Ansible thinks that there is no `httpd` service at all on the

[2018-11-16 09:16] basos9 opened #48787 "Dry run (--check mode) should print discrete banner at the beginning and the end of the playbook execution."
##### SUMMARY
Dry run (--check mode) should print discrete banner at the beginning and more importantly at the end of the playbook execution, in order to clarify understanding of what was actually done.

When running long playbooks it might be good practice to first execute a dry run in order to have an idea of the actual changes that will be made. Also one could accompany this mode with `--diff`

[2018-11-16 09:47] philfry opened #48788 "loop w/ fileglob does not accept lists"
##### SUMMARY

When trying to replace all `with_whatever:` with `loop: q()` I ran into the quirk that `q("fileglob", …)` does not accept lists and fails with
[code]
Maybe I'm missing something. In that case, please be so kind and give me a working example, thanks!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

fileglob

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS /

[2018-11-16 09:52] gundalow commented on #48787
This sounds like a sensible thing to do. I, like most people, have tripped over this.

[2018-11-16 10:02] ckotte commented on #47769
@khayber The `sslThumbprintInfo` is empty. Did you try restarting hostd, the whole ESXi, or generate new self-signed certs? Maybe you can find some hints in the logs?

I use socket, ssl, and hashlib in my `vmware_host` PR #46225 to get the thumbprint before connecting a host to vCenter. This could be a workaround to this issue as well.

[2018-11-16 10:09] assarbad commented on #48625
Unfortunately, it seems, neither of my two posts to said mailing list (going by the contents of the web interface), even though they were sent more than 12 hours ago. So I guess I am out of luck here.

[2018-11-16 10:12] kradem commented on #30754
@psheridan1979 : that message you've got is out of this scope - that's just a regular apt behavior regarding names change and ansible can't and shouldn't prevent it happening.

[2018-11-16 10:39] pcfe opened #48790 "get_url does not handle CHECKSUMS files from URL unless the file contains a single checksum"
##### SUMMARY
get_url seems to only handles a downloaded checksums file if that file contains a single checksum.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

get_url

##### ANSIBLE VERSION

[code]
from `ansible-doc get_url`

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 29

##### STEPS TO REPRODUCE

1. be extremely happy that get_url allows checksums to avoid unneces

[2018-11-16 10:49] pcfe commented on #48790
Note: Alberto had a look and found this;

[2018-11-16 11:46] kbakk opened #48795 "AWS module for Organization account management"
##### SUMMARY
AWS module for Organization account management that allows adding new accounts

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
aws_organizations (does not exist)

##### ADDITIONAL INFORMATION
We use AWS Organizations to separate concerns when using AWS. E.g. one project or customer may get a separate AWS Account in our organization. This helps separate billing and isolate user

[2018-11-16 11:46] taraspos opened #48796 "homebrew_cask: "You must select a cask to install""
##### SUMMARY
`homebrew_cask`  has `name` property required, so I can't simply run `update_homebrew` operation without installing anything

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

homebrew_cask

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
MacOS

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Executed `homebrew cask update` command

##### ACTUAL RESULTS
`FAILED! => {

[2018-11-16 11:51] offlinehoster commented on #48785
I first had no secure option and after that I tried starttls - it makes no difference here, both are failing.

[2018-11-16 12:11] Akasurde commented on #33258
@cazgp Can you use `route53_facts` like following -

[code]

It provides same output as -

[code]

Pardon me if I misunderstanding your requirement. Thanks,

needs_info

[2018-11-16 12:13] srgvg opened #48797 "`ansible-doc` does not look at non .py files when enumerating modules"
##### SUMMARY
`ansible-doc` does not take into account the default `$HOME/.ansible/plugins/modules` path when looking for modules

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cli `ansible-doc`

##### ANSIBLE VERSION
[code]
Note that module search path does include `~/.ansible/plugins/modules` here.
##### CONFIGURATION
/zero changes/

##### OS / ENVIRONMENT
`CentOS Linux release 7.5.1804 (C

[2018-11-16 12:18] nkakouros opened #48800 "Allow gcp_compute_instance to start/stop/reset instances"
##### SUMMARY

The old `gce` module has the ability to define `state` as `stopped`, `started`, etc. It would be a handy addition to have this in `gcp_compute_instance` too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

gcp_compute_instance

[2018-11-16 13:06] tadeboro commented on #42871
I guess this can be closed now since the #43123 has been merged. And while I am here, would it be possible to apply changes in #43123 to 2.7 and 2.6 branches?

[2018-11-16 13:14] klauern commented on #16591
Hello @Akasurde,  my comment [immediately following that one](https://github.com/ansible/ansible/issues/16591#issuecomment-287762772) confirms that updating the version of `redis-py` does fix it.

[2018-11-16 13:38] #16591 closed, assigned to nobody

[2018-11-16 13:38] parrywangyin opened #48803 "ios_config: unable to open shell"
##### SUMMARY

Tried to use the 'ios_config' module to configure the Cisco switch (GNS3 virtual switch),  running the playbook always returned the error "unable to open shell".   It is working with the 'ios_command' module (no provider) with -u and -k parameter to manually enter the SSH username and password when running the playbook. But it's not working with 'ios_config' in which the SSH usernam

[2018-11-16 13:42] Akasurde commented on #16591
@klauern Thanks for the reply.

[2018-11-16 13:49] danielkelly22 commented on #48374
@Akasurde Works perfectly!  Thanks so much for the quick fix to this.

[2018-11-16 13:59] Akasurde commented on #48374
@danielkelly22 Thanks for the reply and testing the fix.

[2018-11-16 13:59] Akasurde commented on #48374
resolved_by_pr #48805

[2018-11-16 14:13] neilalexander commented on #47689
Also confirms that this fixes the same issue for me on a clean CentOS 7 build.

[2018-11-16 14:20] bcoca commented on #48788
[code]

[2018-11-16 14:33] bcoca commented on #48797
cannot reproduce:
[code]
[code]
also
[code]

[2018-11-16 14:35] bcoca commented on #48797
also tested with subdir:
[code]
same results

[2018-11-16 14:56] wbagdon commented on #48577
I've come to the root of the problem, thanks for your help with this!

This is how the ansible order of operations is occurring:
1) The file is copied as the normal ansible user to it's temp location to set up the task for execution
1) The become user (non-admin) attempts to copy this file from the ansible user's (admin) temp directory to the destination
1) The become user does not have permission

[2018-11-16 15:09] philfry commented on #48788
That's a pretty nice one, thanks!
Is this the intended/preferred way or some kind of a hack?

[2018-11-16 15:20] sivel commented on #42871
@tadeboro new features are not backported to previous versions.

[2018-11-16 15:20] #42871 closed, assigned to nobody

[2018-11-16 15:32] SimplySeth opened #48810 "cloudwatchlogs_log_group gives erroneous permissions issue when specifying retention"
##### SUMMARY
Creating log_groups with retention specified gives permissions issue even though I can create the desired log groups with boto3 using the same profile and region.
Creating log_groups without specifying retention works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cloudwatchlogs_log_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

```L

[2018-11-16 15:40] bcoca commented on #48788
the 'working' way

[2018-11-16 15:47] SimplySeth commented on #48810
`48004.patch` was previously applied

[2018-11-16 15:54] webknjaz opened #48812 "Introduce Q option in step mode"
##### SUMMARY

Improve interactive `--step` mode of `ansible-playbook` script: possibility to gracefully terminate is missing. It's annoying to have to use Ctrl+C to interrupt, while in interactive mode. Also, _maybe_ SIGINT might be processed more carefully.

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

`lib/ansible/plugins/strategy/__init__.py`

##### ANSIBLE VERSION

[code]

##### C

[2018-11-16 16:01] robertjebakumar commented on #47689
It works for me as well. thank you.

[2018-11-16 16:12] pwrape10 commented on #47589
Hi @caphrim007, any potential update here?

[2018-11-16 16:34] msilmser opened #48813 "Windows CIFS mounts are not listed in `ansible_mounts` fact"
##### SUMMARY
Windows CIFS mounts are not found in the `ansible_mounts` fact

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
RHEL//Windows

##### STEPS TO REPRODUCE
1. Create a Windows network share
2. Obtain the network path
3. Modify `/etc/fstab` to include that share as a mount point
4. Run `mount -a` to verify correct syntax
5.

[2018-11-16 16:59] kbreit commented on #48611
This is being developed in https://github.com/kbreit/ansible/tree/meraki/meraki_network_vlan_enable

[2018-11-16 17:01] bcoca commented on #24545
Since this is not an issue that affects our current code but the utilization of private methods by 3rd party not  providing needed information to the objects, I'm going to close this issue as 'not a bug'.

[2018-11-16 17:01] #24545 closed, assigned to nobody

[2018-11-16 18:01] Constantin07 opened #48818 "Tilde expansion resolves to master user instead of managed node user"
##### SUMMARY
The use of `~` in dest of copy module resolves to a user from control node and not target one.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/files/copy.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Invoking Ansible playbook via Packer.

##### OS / ENVIRONMENT
Ran playbook from MacOS 10.13.6

##### STEPS TO REPRODUCE
Ansible connects to the destinati

[2018-11-16 18:18] mirageglobe commented on #11702
yep same with 2.7.4 ... erm just a random suggestion.. cant there be a check for remote available memory vs filesize before initiating the slurp function; built into the fetch function? at least a simple message or workaround rather than just failing.

[2018-11-16 18:28] amit-prayag opened #48819 "Authorized_key fails with invalid key specified error"
##### SUMMARY

Getting following error, while executing job tempLate with AWX, which shows Ansible is looking for Private Key rather than Pub Key provied in playbook.

 FAILED! => {"changed": false, "msg": "invalid key specified: -----BEGIN RSA PRIVATE KEY-----"}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/system/authorized_key.py

##### ANSIBLE VERSION

[code]

#####

[2018-11-16 19:16] mcandre commented on #43746
The docs provide multiple solutions, without explaining which one should actually be used. Please help me understand which is recommended.

[2018-11-16 19:21] gizmonicus opened #48823 "Amazon Linux 2 ansible_distribution_version fact not parsed correctly"
##### SUMMARY
Amazon Linux 2 has changed the string they use in the `/etc/system-release` file. Previously, it did not have a "codename", but it does now. This breaks ansible_distribution_version fact.

[code]
Because this code... https://github.com/ansible/ansible/blob/c5b303fa5267c3ff8c8834a87b55d2a01901e9e0/lib/ansible/module_utils/facts/system/distribution.py#L224
...splits this string on spac

[2018-11-16 19:24] #21915 closed, assigned to nobody

[2018-11-16 19:31] khayber commented on #47769
@ckotte Restarting host and/or hostd does not change things.  Using the openssl command on the certificate itself does show thumbprint, so I don't think there is a problem with that.  Also adding host to vcenter using vcenter UI works.

I ended up on this issue when I found that between ansible 2.5 and 2.7 adding the host with `validate_certs: no` stopped working and it seems the thumbprint is now

[2018-11-16 20:23] kostapsimoulis commented on #34054
I am having the same issue with RHEL 7.5 and Ansible Tower 3.2.3, it looks like this module is checking the OS instead of looking the one that comes from Tower. Is there a way to skip the check for Tower?

Ansible Tower comes with pyOpenSSL-17.2.0:

` /var/lib/awx/venv/ansible/lib/python2.7/site-packages/pyOpenSSL-17.2.0.dist-info`

[2018-11-16 20:25] nafpliot opened #48824 "gcp_compute_instance_facts problem with the ":" operator in filters parameter"
##### SUMMARY
`gcp_compute_instance_facts` module does not return results when the filter is using the `:` operator. As per [documentation](https://cloud.google.com/sdk/gcloud/reference/topic/filters) the `:` operator can be used to match results when the value of a key contains a given pattern.

For example when using the gcloud command with the `:` operator in filter:
`gcloud compute instances l

[2018-11-16 20:32] MarkusTeufelberger commented on #34054
Modules use whatever library is installed on the target machine, not the host that runs Ansible (which would be AWX/Tower in this case).

Are you trying to run this module as `local_action` on Tower or does it fail on the remote host?

[2018-11-16 20:51] kostapsimoulis commented on #34054
@MarkusTeufelberger thank you for the clear explanation.

I am trying it on a remote host running RHEL 7.5. I am actually using it for both openssl_certificate and openssl_csr and they both fail.

Is there any workaround for RHEL 7.5? I need to make an offline installation and I tried to do it manually but it fails with this error:

`
$ sudo pip install pyOpenSSL-0.15-py2.py3-none-any.whl
Processi

[2018-11-16 20:51] vparames86 opened #48825 "Adding Datastore lock retry for netconf_config module"
##### SUMMARY
Currently in the "netconf_config" ansible module, there is no retry logic for acquiring the lock and the playbook fails if it is not able to acquire the lock. In devices like IOS-XE Cisco, there is some background synchronization logic which acquires the lock when it synchronizes. During this time the netconf_config module fails as it is not able to acquire it. Adding a retry logic w

[2018-11-16 20:57] MarkusTeufelberger commented on #34054
Please contact RedHat support about how to install recent (= less than 5 years old) versions of pyOpenSSL.

If someone wants to rewrite the modules to also work with pyOpenSSL 0.13.1, you're more than welcome. It was hard enough to stay on 0.15 though, there's some nice things that could have been that are not possible with that version, so good luck to whomever attempting this (maybe by backporti

[2018-11-16 20:59] rifty commented on #33643
Any updates on this one?  This issue also affects more recent releases (ie IOS 15.0(2)SG10) for particular switch platforms.
[code]

[2018-11-16 21:12] parrywangyin commented on #48803
Just to update that:

If I remove the username and password in the playbook,  and run it with -u and -k parameter, then it's working as expected.

[root@localhost]#ansible-playbook configure_OSPF.yml -u python -k

[2018-11-16 21:23] Thulium-Drake opened #48827 "Bug: Default filter not working with lookup"
##### SUMMARY

When a certain lookup cannot be done (due to the entry in passwordstore or the file containing the value) is missing, the default filter's output is empty.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Debian 9.6

##### STEPS TO REPRODUCE

echo test1 > test1
echo test2 > test2
a

[2018-11-16 22:07] jsf9k commented on #47097
Confirmed that this is still an issue in 2.7.2.

[2018-11-16 22:08] bcoca commented on #37510
closing as per above, this is not an issue with Ansible, it is just how the `|default` filter works in Jinja2

[2018-11-16 22:08] #37510 closed, assigned to nobody

[2018-11-16 22:12] bcoca commented on #44933
You can already do that w/o having a special feature:
[code]

[2018-11-16 23:07] abarbare commented on #47212
Hey ! @kristvanbesien
Thanks for your feedback. The security_group option have been included to compute module
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/scaleway/scaleway_compute.py#L152-163
This new feature will be released with `Ansible 2.8`. You can use it now by using an unstable version of Ansible

[code]

[2018-11-16 23:31] abarbare commented on #48012
bot_broken

[2018-11-17 00:00] johnboy2 opened #48832 "Crash on ec2 un-named NACL update"
##### SUMMARY
`ansible-playbook` crashes when attempting to update an *unnamed* EC2 NACL, identified by its `nacl_id`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_vpc_nacl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The NACL, identified by ID (which the docs explicitly allow), is upda

[2018-11-17 00:53] johnboy2 commented on #48832
The problem appears to be in the `tags_changed()` function within `modules/cloud/amazon/ec2_vpc_nacl.py`, which **forcibly** infers a `Name` tag based on whatever was in the module parameters (taking `None` when that is undefined). The net-result is that running the playbook _without_ specifying a `name:` parameter causes a tag-update with a value of None, which is illegal; hence the exception.

I

[2018-11-17 02:50] winem commented on #48818
I am not sure if it's really a bug or rather an unexpected behaviour. What you could do for now is something like this:

- set_fact:
    remote_user_home: "{{ getent_passwd[ansible_user][4] }}"

[2018-11-17 06:06] #48783 closed, assigned to nobody

[2018-11-17 06:45] zwindler commented on #45740
Sorry, I didn't explain the issue correctly.

The VM *is* in running state. Then I'm finished with it and I want to
remove it, with the absent flag.

I'm not interrupting anything.

Le sam. 17 nov. 2018 à 00:28, abarbare <notifications@github.com> a écrit :

[2018-11-17 07:39] hoyeunglee commented on #47841
i can change password now  after remove ios_config command "login local"

[2018-11-17 07:55] NFarrington opened #48839 "Adding file attributes always reports changed when attribute exists alongside others"
##### SUMMARY

The File module always reports changed when adding an attribute to a file when already has other attributes, even if the attribute is already present.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

File

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

CentOS 7

##### STEPS TO REPRODUCE

1. Create a file with multiple attributes, e.g. `A` and

[2018-11-17 08:00] NFarrington commented on #48839
Despite `set_attributes_if_different()` using the `+` modifier in the `chattr` command, it does not take it into account when checking if a change is required: https://github.com/ansible/ansible/blob/a41c0405a77d777d64d86e2d98a5d56663e9aeef/lib/ansible/module_utils/basic.py#L1368

`existing.get('attr_flags', '')` will evaluate to `dA`, while `attributes` will evaluate to `A`. If the modifier is `+

[2018-11-17 08:04] bartekrutkowski commented on #42460
I can confirm this still happens with the following Ansible version:
`ansible 2.7.1
  config file = None
  configured module search path = ['/Users/r/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/Cellar/ansible/2.7.1/libexec/lib/python3.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.7.1 (d

[2018-11-17 12:04] ckotte commented on #47769
The SSL Thumbprint isn't required anymore with the new `vmware_host` module and `fetch_ssl_thumbprint: True`.

[2018-11-17 12:15] felixfontein opened #48842 "Make setup_docker work with RHEL 8.0 CI platform"
##### SUMMARY
There's a new CI platform: RHEL 8.0 (see #48835).

Unfortunately, the `setup_docker` task doesn't work ([see here](https://app.shippable.com/github/ansible/ansible/runs/94063/2/console); search for setup_docker). Once this is fixed, the `docker_*` tests temporarily disabled in #48835 can probably be re-enabled.

CC @mattclay, @pilou-

##### ISSUE TYPE
- Feature Idea

##### COMPONENT

[2018-11-17 13:29] felixfontein commented on #48842
bot_status

[2018-11-17 14:09] stawii commented on #44933
Yes, this is working, but this is workaround (2nd solution). And if your list have a lot of items each one gives you `n` items in output constructing staircase debug spam. Also imagine how this should looks like if each element of target fact is not a simple string but complex structure. For some situation one can use json query but not for all cases.

[2018-11-17 14:32] sumkincpp commented on #22302
Also relevant to #28770 in upstream 2.5+

[2018-11-17 14:47] JonasVerhofste commented on #48650
Seeing as the module [doesn't have a maintainer](https://github.com/ansible/ansible/blob/devel/.github/BOTMETA.yml), I'll just tag the original author: @jtyr

[2018-11-17 14:48] sumkincpp commented on #28770
I've took sometime to check loader implementation and got some ideas here.

I believe that after #37748 we are unable to import filter plugins because they are imported via imp.load_source(..) with package_names consisting of full path to the file.
For example, ipaddr is imported as
[code]
So, we are obviously can't reference this module it from other filter/module.

And this is true for filters,t

[2018-11-17 15:06] felixfontein commented on #48842
-label aci
-label aws
-label azure
-label cloudstack
-label gce
-label include_role
-label infoblox
-label inventory
-label k8s
-label m:unarchive
-label m:xml
-label meraki
-label net_tools
-label netapp
-label networking
-label nxos
-label selinux
-label storage
-label ucs
-label vmware
-label windows

[2018-11-17 16:41] bblenard commented on #48440
I ran into this issue as well and I think the issue is how the `name` argument is passed to `modprobe.py`

I am using a variable file formatted like this:
[code]

My ansible task is this:
[code]

What happens is ansible passes the name variable as a list but modprobe.py expects a string (https://github.com/ansible/ansible/blob/fd4b282f6f14fa917a40ddf13e414519c300e81b/lib/ansible/modules/system/mod

[2018-11-17 22:24] lucastheisen opened #48847 "get_url failes to recognize checksum format with url"
##### SUMMARY

I am attempting to install golang using the guidelines from [their documentation](https://golang.org/doc/install).  One of my steps is to download the _official_ tarball:
[code]
However, doing so results in this error:
[code]
As you can see, the checksum is `sha256:https://dl.google.com/go/go1.11.2.linux-amd64.tar.gz.sha256` which is clearly of the [documented format `<algorithm>:<c

[2018-11-18 00:14] vbotka opened #48848 "ansible-lint "systemctl used in place of systemd module" No systemctl / systemd module."
Verified.

ansible-lint 3.4.20 is affected

##### SUMMARY

ansible-lint reports "[ANSIBLE0006] systemctl used in place of systemd module" with "command: "systemctl mask {{ item }}"".
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-lint and Ansible Galaxy Syntax Score
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04
##### STEPS TO REPRODU

[2018-11-18 01:01] #34780 closed, assigned to nobody

[2018-11-18 01:01] jtyr commented on #48650
Thanks for opening this issue, @JonasVerhofste. The Python API requires additional Python module which would break how people currently use the plugin. I'm also not sure if the Python API provides all the functionality implemented by the plugin. In any case, I'm keen to review any PR of the plugin which would maintain the current set of functionalities.

[2018-11-18 01:19] JonasVerhofste commented on #48650
The idea just occurred to me because with the current module, I sometimes get a random connection error (which I can't exactly reproduce, so I don't really know where the problem lies). Using the python API 'solves' this problem.

I'm guessing you mean the dependency on an external wrapper, like [jenkinsapi](https://github.com/pycontribs/jenkinsapi/) (which I'm currently using)? If not, could you

[2018-11-18 01:31] satken2 opened #48849 "win_security_policy fails although the policy is changed"
##### SUMMARY

win_security_policy reports "failed" status but security policy is successfully updated.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_security_policy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible server: Debian 9 (stretch)
Target server: Windows server 2012 R2

##### STEPS TO REPRODUCE

+ Confirm "Administrators" and "Backu

[2018-11-18 01:39] jborean93 commented on #48849
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * `win_security_policy` uses secedit.exe to manipulate these values but unfortunately that tool does not validate the results during import hence the log message

[2018-11-18 01:39] #48849 closed, assigned to nobody

[2018-11-18 01:46] jborean93 commented on #48849
I thought we had a warning for this but that isn't the case so have opened https://github.com/ansible/ansible/pull/48850 to try and help guide users to the correct module in the future.

[2018-11-18 01:57] JonasVerhofste commented on #48650
Hmm, it seems I've gotten confused by the explanation of the API's on jenkins-servers themselves (`serverurl/api`), as well as the existence of `../api/python` for several of the entry-points. I'll try to see if I can reproduce my problem and try to debug it, but the hours I've spend on it have left me puzzled, up till now.

jenkinsapi does use the above mentioned `api/python` entry-point, instead

[2018-11-18 03:16] ncoghlan commented on #45852
@nitzmahone is likely already aware of this, but the "no /usr/bin/python or /usr/bin/python3 by default" structure in the RHEL 8 beta adds the extra autodetection wrinkle of "platform-python vs user-facing-python2 vs user-facing-python3": https://developers.redhat.com/blog/2018/11/14/python-in-rhel-8/

[2018-11-18 04:22] medined commented on #37148
I spend quite a bit of time today trying to install a chart via the helm module. I think pyhelm is being installed correctly with the following Ansible playbook. However, the Helm module can't find it.

You'll notice some funkiness with the `requests` module. I don't know if I've handled the situation correctly, but pyhelm does seem to be installed so I'm going with the hack. If there is a better

[2018-11-18 04:25] #45247 closed, assigned to Qalthos

[2018-11-18 05:58] Akasurde commented on #46724
Closing this issue due to inactivity from the user. Thanks.

[2018-11-18 05:58] #46724 closed, assigned to nobody

[2018-11-18 10:03] ssahani commented on #48055
me too hit by this

[2018-11-18 21:15] mil1i opened #48859 "Inventory does not meet host_list/script requirements (Ansible 2.7.1)"
##### SUMMARY

After upgrading to ansible version 2.7.1 using Homebrew on macOS, I receive the following informational warning when running playbooks with the verbose option.
[code]
My playbooks still run and complete without issue. I have never had any issues with my hosts file in the past, nor does this message display with ansible 2.7.0.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

hos

[2018-11-18 22:54] dagwieers commented on #48665
@specator If you're 100% sure this fixes the issue you have been seeing, I will add a note to **win_updates** with some information.

[2018-11-19 02:05] kbreit opened #48861 "meraki_mx_l3_firewall - Integration test requires configured syslog server"
##### SUMMARY
Said integration test requires a syslog server to be enabled. When the module was developed the API didn't allow syslog creation but that has been fixed. When the meraki_syslog module is merged, the integration test should be updated to create the syslog server.

Depends on #48609

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_mx_l3_firewall

##### ANSIBLE VERSION
[code]

[2018-11-19 03:53] Akasurde commented on #30943
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-11-19 03:53] #30943 closed, assigned to nobody

[2018-11-19 04:22] #47008 closed, assigned to nobody

[2018-11-19 07:37] deoren commented on #34196
Do you mean the deprecated `include` statement or *any* of the `include_` statements (e.g., `include_role`, `include_tasks`)?

Could you elaborate on this?

My understanding when reading the documentation is that `include_tasks` statements without any tags applied would still be executed if tags are specified on the command-line with the intent of limiting which tasks run inside the included files

[2018-11-19 07:42] babalsurer opened #48863 "is any tool to write yml in easy language.? because many syntax error are getting in terminal."
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-11-19 07:48] jpdasma commented on #48797
Note OP's example does not end in .py, that's why it's not showing for him.

[2018-11-19 07:53] nicolaibaralmueller commented on #48725
@Fred-sun

I will get back to you after testing.

The return message is a bit misleading. A VM in a stopped state does not mean there is no resource with that name.

I much better return message would be the state of the VM when for example stopped.

[2018-11-19 07:56] deoren commented on #30882
Request: Expand your saved response to also include what appears (https://github.com/ansible/ansible/issues/34196#issuecomment-439797929) to be a requirement that the outer `include_` also be tagged,  that this tag be provided with the `--tags` option along with the tags for used by applicable *included* tasks in order for those tasks to run. If I'm correct, then this info would be really useful f

[2018-11-19 08:00] techs2resolve commented on #19767
you need to install python Like I have ubuntu-16.04. So I have installed  "apt-get install python" after that it works. You need install python on both machine.

[2018-11-19 08:04] Fred-sun commented on #48723
@nicolaibaralmueller Thanks for you contribution. It has been fixed by devel version(ansible), It will be released on next version. You can use command "pip install git+https://github.com/ansible/ansible.git@devel " to install the devel version. I have tested and get success result as below. Thanks!
[code]
[code]

[2018-11-19 08:16] nicolaibaralmueller commented on #48723
@Fred-sun Great. Any idea when 2.8 will be released?

[2018-11-19 08:31] mkrizek commented on #48863
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-19 08:31] #48863 closed, assigned to nobody

[2018-11-19 08:32] srgvg commented on #48797
Seems @jpdasma pinpointed that correctly:
[code]

[2018-11-19 08:45] Fred-sun commented on #48725
@nicolaibaralmueller Sorry to mislead you, There is no myVM01 in resource myRG, so it remind resource not found. As #48723 describe, you can use azure_rm_virtualmachine_facts module to get VM status. Thanks ！

[2018-11-19 08:45] mkrizek commented on #48848
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker, and let us explain our reasons for thinking this:

   * `ansible-lint` is a separate project, please create the issue there https://github.com/ansible/ansible-

[2018-11-19 08:45] #48848 closed, assigned to nobody

[2018-11-19 08:49] Fred-sun commented on #48723
@nicolaibaralmueller I am sorry I can't tell you the next release time. It should be release soon.  Thanks!

[2018-11-19 09:21] juanvalino opened #48865 "Filter `to_nice_yaml` renders incorrectly"
##### SUMMARY
The filter `to_nice_yaml` renders incorrectly. It introduces extra spaces and produces invalid yaml.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Filter `to_nice_yaml`.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 28.

##### STEPS TO REPRODUCE
The filter renders incorrectly the var `yaml` in the following example:

[code]

##### EXP

[2018-11-19 09:35] Constantin07 commented on #48818
Thanks @winem for advise, but it still resolves `ansible_user` to `<my_local_usename>` instead of the one used by Ansible to connect to the target system.

[2018-11-19 09:35] Fred-sun commented on #42215
@mkprizzle Thanks for your contribution, Are you still here? Could you help recheck this issue according by #45548 ? Thanks!

[2018-11-19 09:38] apollo13 commented on #48708
Ok, it works if I use "proper" quoting:
[code]
which is documented in the plugin and therefore makes this a non-issue.

[2018-11-19 09:38] #48708 closed, assigned to nobody

[2018-11-19 09:43] rightaway opened #48866 "Allow import_tasks to take wildcard"
##### SUMMARY

The import_tasks should be able to take a wildcard to include all file in a directory. It would include them in their natural sort order. This is very useful if you want to group many related features together but split them into their own files. With this feature you could just add a new file to the right directory and it would get included instead of also needing to remember to ad

[2018-11-19 09:55] yuwzho commented on #42215
resolved_by_pr #45548

[2018-11-19 09:59] #42215 closed, assigned to zikalino

[2018-11-19 10:13] dragan1979 opened #48867 "win_reboot unable to restart Windows server-Role change is in progress or this computer needs to be restarted."
##### SUMMARY
Unable to reboot windows server 2016 when reboot is required, after manual restart, and applying playbook, server is rebooted.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_reboot

##### ANSIBLE VERSION

 `ansible 2.7.1`

##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE

[code]

I'm getting this error when need to reboot server:

[code]

This happens if i leave onl

[2018-11-19 10:38] memo42 commented on #47349
This Issue was about usability - about the error you get when trying to use stat on a windows host.
It should explain the problem, not print pages of unreadable errors.

[2018-11-19 10:46] memo42 commented on #46980
@rishiloyola It is not supposed to work.
This issue is about whether the resulting error mentions that python is not installed, which yours does.
Could you tell us, which operating system and version the target was running, so we know where it works.

[2018-11-19 11:00] maisieccino opened #48869 "Terraform module fails when variable includes a special character"
##### SUMMARY

When calling the Terraform module with a variable containing a double quote (`"`), Terraform throws an error saying that the variable has not been set.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

terraform

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running locally on macOS Mojave.

##### STEPS TO REPRODUCE

Create a minimal Terra

[2018-11-19 11:05] ssahani commented on #48055
fix is waiting on https://github.com/ansible/ansible/pull/48870

[2018-11-19 11:06] ssahani commented on #48055
https://bugzilla.redhat.com/show_bug.cgi?id=1570875 is why we see this .

[2018-11-19 11:30] dragan1979 commented on #48867
Really have no idea what happened: removed AD Services, rebooted server, then changed a playbook:

`- name: reboot server
     win_reboot:
      msg: "Joining domain. Rebooting..."
      pre_reboot_delay: 10
     when: ad.changed`

and now seems to work, i'll close this issue for now

[2018-11-19 11:30] Constantin07 commented on #48818
looks like changing `copy` module to `template` doesn't change the situation.

[2018-11-19 11:33] dagwieers commented on #48867
The error message is **Role change is in progress or this computer needs to be restarted.**

We will have to look into what the possible causes if this could be in what part of the code.

[2018-11-19 11:34] dagwieers commented on #48867
I have reported a similar issue in https://github.com/ansible/ansible/issues/47352

[2018-11-19 11:47] basos9 commented on #48787
Finally I worked on something that will post soon.

[2018-11-19 12:15] skarapanahalli commented on #47646
I don't think we have any customization spec applied. However the image was provided to us by a different team. I can try with a plain vanilla image downloaded from Microsoft and let you know. Thanks!

[2018-11-19 12:51] mnaser commented on #48630
notabug

https://docs.ansible.com/ansible/2.7/modules/os_project_access_module.html

The Nova API does not support a 1:1 flavour mapping, so you need to use that above module to get the feature that you need 👍

[2018-11-19 12:57] #48630 closed, assigned to nobody

[2018-11-19 13:03] barlik opened #48874 "Consistent use of docker config path for docker modules"
##### SUMMARY

Ansible module `docker_login` takes `config_path` as a parameter. This is generally a good idea as it's not always desirable to write to the default `$HOME/.docker/config.json` file.

This parameter is, however, missing from any other docker modules. The only way to use alternate docker config file with modules like `docker_image` or `docker_container` is to use environment variable

[2018-11-19 14:02] veksh opened #48876 "junos_l2_interface unable to modify native and member vlans on EX switches with junos 12.2"
##### SUMMARY
On Juniper EX switches with [currently recommended Junos version 12.2](https://kb.juniper.net/InfoCenter/index?page=content&id=KB21476) `junos_l2_interface` is unable to modify L2 interface vlan membership due to a different syntax (from 15.x line of Junos).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

junos_l2_interface.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-11-19 14:12] jhawkesworth commented on #48577
cc @jborean93 I don't know why s2016 might different from s2012 but above suggestion regarding tmp file locations when using become seems like a good idea on the face of it.

[2018-11-19 14:39] veksh commented on #48876
!component lib/ansible/modules/network/junos/junos_l2_interface.py

[2018-11-19 14:47] bcoca commented on #48797
so it is unrelated to path, its due to extensions:
[code]

this was done on purpose to allow for 'other languages' to provide a python doc, i.e:
[code]

[2018-11-19 14:52] MrMarvin commented on #25459
Funnily enough, not all AWS resources are affected. Creating an ec2 key_pair or security group works, `DescribeInstances` (in my case) or the `DescribeVpcs` call in the initial issue however seems to somehow get their AWS SDK configuration messed up.
It appears that somewhere in that particular call-chain there's something setting/unsetting `AWS_` env vars...

[code]

In our environment we rely on

[2018-11-19 14:54] IPvSean opened #48878 "summary list by platform for network supported modules"
##### SUMMARY
We need this page [here](https://docs.ansible.com/ansible/latest/modules/network_maintained.html#network-supported) to

- have the platforms easily summarized at the top of the page
- have a link to the certified modules (which is [here](https://docs.ansible.com/ansible/latest/modules/partner_maintained.html#certified-supported))
- have the certified modules also have summarized list

[2018-11-19 14:58] bcoca commented on #44933
You can deal with the display by using select/reject/map, you also have filters like `combine` to deal with complex merges

[code]

[2018-11-19 14:59] bcoca commented on #47200
bot_broken

[2018-11-19 15:00] #48827 closed, assigned to nobody

[2018-11-19 15:02] sivel commented on #48859
This was purposefully implemented in https://github.com/ansible/ansible/pull/46766 to provide additional information when running ansible with `-v` or higher.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-19 15:02] #48859 closed, assigned to nobody

[2018-11-19 15:09] TermoK opened #48879 "loop_control label overwriting registered variable value?"
##### SUMMARY
It seems loop_control with element label is overwriting the content of a variable registered in this particular loop when one loop is failing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
loop
loop_control: label
register

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 9

##### STEPS TO REPRODUCE
An switch interface list is existing in

[2018-11-19 15:11] sivel commented on #48865
This seems to be a PyYAML bug:

[code]

+label needs_triage

[2018-11-19 15:15] Akasurde commented on #48869
@mbellgb Thanks for reporting this issue. Could you please check this PR #48805 and let me know if it works for you ?

needs_info

[2018-11-19 15:31] bcoca commented on #47517
afaik, `command` and `expect` are only 2 modules that implement this and the code is roughly the same, I say we document this clearly in both modules as an 'or', if someone has the case to use as an 'and' we can always add another option as a toggle.

[2018-11-19 15:47] dagwieers commented on #48489
cc @rsmeyers

[2018-11-19 16:13] paylocity-sflanders opened #48881 "running powershell from linux over ssh produces 'Shared connection to somemachine closed'"
[ansible-powershell.zip](https://github.com/ansible/ansible/files/2596121/ansible-powershell.zip)

##### SUMMARY

We have some powershell functionality that runs fine when directly used on a linux machine or running through ansible using localhost.  If using ssh it will break with 'shared conneciton to XXX closed'.   This appears to happen with 'script' or when using a custom library.  It works fi

[2018-11-19 16:29] ckotte commented on #48706
@AristonPost
Could you check PR #47270. I added the `tcpip_stack` option to configure the TCP/IP stack of the new VMkernel adapter.

Do you also need to configure the different TCP/IP stacks of an ESXi host? I guess I would need to create a new module for this..

[2018-11-19 16:45] #22468 closed, assigned to nobody

[2018-11-19 16:59] assarbad opened #48886 "immutable attribute not properly handled in copy and file"
##### SUMMARY
The immutable attribute when used with the `file` or `copy` module is not properly handled, as far as I can tell.

When setting the immutable (`i`) attribute, I would expect that the modules handles removing the attribute prior to changing the file. However, once you run a task with `attributes: i` (or similar) it fails with `OSError: [Errno 1] Operation not permitted`.

##### ISSUE

[2018-11-19 17:12] gitaaron commented on #18555
I was able to get ansible working on zOS.   A few notes -
1.  I had to install the proper version of python.  The rocket website provides two versions where one internally represents strings in ASCII (or ISO8859-1 ? ) and the other (older version) internally represents strings in EBCDIC.  The version that represents strings in EBCDIC fails with a slew of standard python libraries such as 'zipfile'

[2018-11-19 17:33] abadger commented on #18555
I think there would definitely be interest in adding an FAQ entry with what you had to do to get this working.  I'm not sure of a module (we try to provide "primitives" like the raw module for people to bootstrap their systems but we don't provide actual modules which do it.)  If setting the executable to bash allows the raw module to work, perhaps the combination of a FAQ plus a role on galaxy th

[2018-11-19 17:45] alanbbr commented on #48859
IMO, it's not additional information. If it said why requirements weren't met, or even just had a link to what the new requirements are, it might be useful.

[2018-11-19 17:54] sander85 opened #48890 "[rabbitmq_user] permissions: with multiple vhosts breaks functionality in 2.7.2"
##### SUMMARY

Since updating to 2.7.0 (now including 2.7.2) I can't add users anymore with multiple vhosts.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rabbitmq_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Before 2.7 it updated users' permissions

##### ACTUAL RESULTS

Now only

[2018-11-19 18:03] bcoca commented on #48859
no new requirements, its just giving you info on WHY a plugin was skipped, there are many reasons, in this case it is because it didn't pass the 'verify' phase for the plugin, which should have the specific requirements in it's own documentation (see ansible-doc -t inventory <pluginname>)

[2018-11-19 18:13] #48743 closed, assigned to maxamillion

[2018-11-19 18:45] dgarros commented on #48691
@bcoca thanks for your response

I understand cache system is always slower than host vars but I think there is room for improvement.

Based on my testing, the value pulled from the cache are not persistent for the duration of a task which mean that if a task, like jinja rendering, is accessing the same value in `hostvars[x]` multiple time, ansible will make a new request to the cache every time.

[2018-11-19 18:48] RustyTingz opened #48894 "GCP_compute inventory does not allow dynamic host selection"
I have an ansible setup as detailed below which allows me to provision a GCE instance using a role.  This works perfectly with a single environment, however when additional environments are added it seems as though the last environment in the list is used to provision the GCE instance.

Running the following, executes against stage
`ansible-playbook -i ansible/inventory.dev.gcp.yml -e 'resources_s

[2018-11-19 18:50] alanbbr commented on #48859
I see nothing in the message that says WHY, just WHAT, and that it does poorly. `ansible-doc -t inventory ini` doesn't give me any hint whatsoever as to what might not verify. If the verify phase has a complaint, it should be specific about it (line, column, what is not correct), not a vague message that doesn't mean anything if you don't live in the Ansible source code.

[2018-11-19 19:01] bcoca commented on #48859
The WHY is that requirements were not met, a parsing error can be another reason and that will give a specific exception/tracekback. Each plugin has it's own requirements and verification, in many cases it does not have to do with file contents but nature of the file itself.

[2018-11-19 19:05] s-hertel commented on #48623
@brophyja as Akasurde noted, this works if you provide `engine: 'postgres10'` instead of `'postgres10.4'` (without any changes to the module). The docs need to be fixed but they won't inhibit you from using the feature now. You can see the supported list using the AWS CLI command `aws rds describe-db-engine-versions --query "DBEngineVersions[].DBParameterGroupFamily"` as [boto3 documents](https://

[2018-11-19 19:08] bcoca commented on #48691
Most cache plugins implement a local dictionary so the cache is kept in 'local memory' during the life of the run, this also avoids issues with cache expiring mid play yet they were available at start when you checked.

As for 'per var' .. the caches work on a per host level, you don't get variable granularity so checking per var would actually involved changing how they work and, in some cases, p

[2018-11-19 19:30] srgvg commented on #48797
OK, I see. So this is actually an issue with those modules (https://github.com/oravirt/ansible-oracle-modules/blob/master/oracle_asmvol) I'll file an issue with them to rename them with an extension. Thank you.

[2018-11-19 19:30] #48797 closed, assigned to nobody

[2018-11-19 19:38] richardcs commented on #48471
@Roxyrob I was able to reproduce your issue.  However  by adding a encoding declaration to the .config file e.g. `<?xml version="1.0" encoding="UTF-8"?>` the problem goes away.

Also your playbook is using the type `attribute` which is going to find the  attribute specified and change it. All you are doing is finding the same attribute over and over and changing its value. I  think instead you wan

[2018-11-19 19:40] alanbbr commented on #48859
-vvv shows nothing more than the -v message. Neither does -vvvvvv. Looks to me like a bug for an alert to a non-existent issue, at least for ini based inventories.

[2018-11-19 20:03] sivel commented on #48879
The problem is a little more subtle than overwriting the registered variable.

Templating of `label` in this case causes an exception.  We aren't handling this templating failure individually so the task executor is interpreting this exception as a full task failure, and the result is that we only register the templating exception as the end result.

We likely just need to add a try/except around

[2018-11-19 20:16] Roxyrob commented on #48471
@richardcs I'll try with encoding declaration and check with devel if this is ok for every use of the config file.

For type: I need to change attributes so each attribute will be unique in the .config file, not adding new elements, in this .config at least. Code for test case is a simple list of same attribute in loop only to simplify the test case and to reproduce the issue immediately. `__DBSer

[2018-11-19 20:33] felixfontein commented on #48874
Please note that the `DOCKER_CONFIG` environment variable is processed by `docker-py` (the Docker Python SDK), not by Ansible.

Also, the Docker Python SDK only allows to specify the config path in two places, namely `Client.login` and `Client.reload_config` (the option is called `dockercfg_path` in docker-py). The `docker_*` modules only use `Client.login`, namely in the `docker_login` module, so

[2018-11-19 20:38] felixfontein commented on #48842
A relevant [question](https://access.redhat.com/discussions/3697371) about RHEL 8 beta on how to install docker on RHEL 8. Short answer: RHEL 8 comes with another container runtime out of the box, so there's no need to install docker.

[2018-11-19 20:57] abenokraitis commented on #48171
@ganeshrn What do you think?

[2018-11-19 20:59] bcoca commented on #48859
I gave that as one example, there are other reasons, not all of them show the specific info, it depends on the specific plugins. The ini inventory is not causing this, directly, you are seeing it because 2 other plugins get 'checked' before the ini accepts the file.

[2018-11-19 21:01] drewmullen commented on #38991
why was this issue closed? appears to still be broken

[2018-11-19 21:29] dgarros commented on #48691
Do you know if the redis cache plugin implement the local dictionary as you refer too ?
because looking at the number of queries sent to the redis server during a single task, I think either the local dict is not implemented or is not working properly.

[2018-11-19 21:38] alanbbr commented on #48859
Whatever those plugins that get `checked` are doing needs to be reported. Just saying something isn't right but giving absolutely no clue as to what is wrong, is wrong. Either the "did not meet requirements" message is showing up for no reason and should be removed, or give a real reason that says WHAT, WHERE, and WHY.

[2018-11-19 21:40] bcoca commented on #48859
its an incremental improvement, that part of the code doesn't know the reason, just that the plugin rejected it in verification phase, it is more info than you got before, in which you didnt know that it was rejected in that phase

[2018-11-19 21:42] bcoca commented on #48691
that is what i did in #29048

[2018-11-19 21:42] alanbbr commented on #48859
Since everything runs for both myself the original poster, it doesn't look like an improvement.

[2018-11-19 22:31] jctanner commented on #45280
!component -lib/ansible/parsing/utils/yaml.py

[2018-11-19 22:32] jctanner commented on #45391
!component =lib/ansible/modules/source_control/github_release.py

[2018-11-19 22:34] jctanner commented on #46508
!component =lib/ansible/modules/cloud/opennebula/one_image_facts.py
!component +lib/ansible/modules/cloud/opennebula/one_vm.py
!component +lib/ansible/modules/cloud/opennebula/one_vm_facts.py

[2018-11-19 22:35] jctanner commented on #46078
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py
!component +lib/ansible/modules/cloud/vmware/vmware_vmotion.py

[2018-11-19 22:37] jctanner commented on #45707
!component =lib/ansible/plugins/connection/ssh.py

[2018-11-19 22:40] jctanner commented on #46682
!component =lib/ansible/modules/packaging/os/pkg5.py

[2018-11-19 22:43] jctanner commented on #46537
!component =lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

[2018-11-19 22:45] jctanner commented on #46532
@thpica you have to use `=`, `-` or `+` actions on the components. Like this ...

!component =lib/ansible/modules/cloud/google/gcp_compute_instance.py

[2018-11-19 22:46] kustodian commented on #46508
It would be best that you create a PR when you are satisfied with the module and close this one.

Also i guess it would make sense to have some shared code between `one_vm` and `one_vm_facts`, at least the code that is used for querying and returning, so they return consistent results.

[2018-11-19 22:50] jctanner commented on #46777
!component =lib/ansible/modules/network/nxos/nxos_acl.py

[2018-11-19 23:09] jctanner commented on #47092
!component =lib/ansible/modules/web_infrastructure/jboss_eap_server_mgmt.py

[2018-11-19 23:13] jctanner commented on #47156
!component =lib/ansible/modules/system/capabilities.py

[2018-11-19 23:14] jctanner commented on #47329
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2018-11-19 23:14] jctanner commented on #47343
!component =lib/ansible/modules/system/getent.py

[2018-11-19 23:14] jctanner commented on #47577
!component =lib/ansible/modules/network/ios/ios_user.py

[2018-11-19 23:15] jctanner commented on #47609
!component =lib/ansible/modules/web_infrastructure/fastly.py

[2018-11-19 23:16] jctanner commented on #47649
!component =lib/ansible/modules/cloud/vmware/vmware_dvs_portgroup.py
!component +lib/ansible/modules/cloud/vmware/vmware_dvswitch.py

[2018-11-19 23:16] jctanner commented on #47654
!component =lib/ansible/modules/packaging/language/pip.py

[2018-11-19 23:16] jctanner commented on #47713
!component =lib/ansible/modules/cloud/vmware/vmware_vsan_cluster.py

[2018-11-19 23:17] jctanner commented on #47770
!component =lib/ansible/plugins/lookup/sops.py

[2018-11-19 23:17] jctanner commented on #47898
!component =lib/ansible/modules/cloud/amazon/ec2_vpc_endpoint.py

[2018-11-19 23:18] jctanner commented on #48134
!component =lib/ansible/modules/system/mount.py

[2018-11-19 23:18] jctanner commented on #48334
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2018-11-19 23:18] jctanner commented on #48353
!component =lib/ansible/modules/identity/ipa/ipa_user.py

[2018-11-19 23:21] jctanner commented on #48410
!component =lib/ansible/playbook/block.py

[2018-11-19 23:22] jctanner commented on #48706
!component =lib/ansible/modules/cloud/vmware/vmware_vmkernel.py

[2018-11-19 23:22] jctanner commented on #48709
!component =lib/ansible/modules/utilities/logic/include_role.py

[2018-11-19 23:23] jctanner commented on #48780
!component =lib/ansible/modules/files/archive.py

[2018-11-19 23:29] #46078 closed, assigned to nobody

[2018-11-19 23:37] hiyokotaisa opened #48912 "vmware_inventory.py cannot apply host_pattern and alias_pattern at the same time"
##### SUMMARY

I'm investigating the issue regarding vmware_inventory.

The vm has multiple NIC's with different IP address, so I'm using host_patterns to select the particular IP address as below:
`host_pattern={{ (guest.net|select_chain_match('ipaddress', '^10.0'))[0] }}`

But after the modify, all hosts was returned as UUIDs instead of hostname.

We found `alias_pattern`  will be disabled when

[2018-11-19 23:39] jchristopher327 opened #48913 "eos_config with "replace: config" always shows a change."
##### SUMMARY
eos_config with "replace: config" always show a change.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

eos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS High Sierra
Version 10.13.1

##### STEPS TO REPRODUCE

I have a simple playbook which replaces the configuration on an vEOS switch. This playbook sources a j2 template.

[cod

[2018-11-19 23:43] sivel commented on #48866
+label needs_triage

[2018-11-20 00:02] whater39 commented on #30878
The Bug for the "vault_identity_list" still appears to be an issue in 2.7.5.

The bug for "vault_password_file" seems to be resolved in 2.7.5 though. I'm able to encrypt/decrypt files while "vault_password_file" has a value in it.

[2018-11-20 01:07] tb3088 commented on #12862
Apparently the internal variable `playbook_dir` is [defined](https://docs.ansible.com/ansible/latest/reference_appendices/special_variables.html?highlight=playbook_dir) so it should be a simple case of treating that as the TLD for all path resolution tasks, augmented with searching $CWD and (optionally?) the location where ansible.cfg was found. This can't possibly be so hard and is how one would

[2018-11-20 01:54] lae commented on #38991
@drewmullen did you read through this issue? It was fixed in 2.5.2 back in April. My role's tests have not been failing, nor has my example playbook from the above, so I do not believe this is still broken:

[code]

Open a new issue with your steps to reproduce, referencing this issue if you need to.

@zloyleopold your example playbook works fine for me on 2.7.2, and even after I downgraded to 2.7

[2018-11-20 02:05] dagwieers commented on #38991
The example is also more complex than need be:
[code]

[2018-11-20 02:54] Fred-sun commented on #47696
@kaelscion Thanks for your update. Once you submitted changes, I will push maintainer to review and merge. Thanks!

[2018-11-20 04:05] ptux commented on #48847
@lucastheisen

checksum="sha256:http://example.com/path/sha256sum.txt"

 sha256sum.txt just support the format  [ filename: checksum ].

In your case, you could use [ checksum="sha256:D98291AC[...]B6DC7B97" ].

[2018-11-20 04:20] NilashishC commented on #47841
Great to hear that. Closing this issue since it is resolved.

[2018-11-20 04:20] #47841 closed, assigned to NilashishC

[2018-11-20 05:07] trishnaguha commented on #48680
@jonmod when a task fails, playbook execution stops right away. Since `show fex` is an invalid command for your device, even though you are using `ignore_errors: yes` the `register` method doesn't store stdout to the variable, `stdout` is only returned if the task is successful. Hence you are unable to use `stdout` key in next task.

[2018-11-20 05:31] Fred-sun commented on #47358
@zikalino

[2018-11-20 05:35] zhaolx01 opened #48917 "ansible-playbook apt report an error "Could not get lock /var/lib/apt/lists/lock ""
script:

result:

[2018-11-20 06:45] Fred-sun commented on #47226
@zikalino

[2018-11-20 06:46] hoyeunglee opened #48919 "can not generate report when number of hosts more than 300"
Ansible version 2.6.0

[code]

when number of hosts is 2 , it can generate report, but number of hosts more than 300 , it has error and html file has not been overwritten

 FAILED! => {"changed": false, "msg": "AnsibleUndefinedVariable: 'ansible.vars.hostvars.HostVarsVars object' has no attribute 'ansible_net_hostname'"}

[2018-11-20 06:47] Fred-sun commented on #47111
@zikalino

[2018-11-20 07:08] Fred-sun commented on #46790
@zikalino

[2018-11-20 07:20] Fred-sun commented on #46440
@yuwzho

[2018-11-20 07:21] Fred-sun commented on #46313
@zikalino

[2018-11-20 07:46] Fred-sun commented on #45176
resolved_by_pr #45269

[2018-11-20 08:15] MaxWinterstein opened #48921 "pip module not idempotent when using pip > 9.0.1"
##### SUMMARY

The pip module always comes back as changed. This only happens for pip > 9.0.1 for me.
But when staying on 9.0.1 i always get the "deprecated" warning, which also brings trouble.

I also made a quick *asciinema* to visualize it: https://asciinema.org/a/D5iKSGFuugMP9G8MfChzMkpDr

**Note:** I am using a local python package, this it not pypi related.

##### ISSUE TYPE
- Bug Report

##

[2018-11-20 08:17] MaxWinterstein commented on #37177
created a new issue as requested by ansibot, as this seems not to be resolved. see #48921

[2018-11-20 08:33] MaxWinterstein commented on #48917
Without deeper looking, i guess you are missing rights for the `apt-get update` part.
Quick fix for your solution:
[code]

But you  are using a really old syntax style.  I guess running it with `-vv` will throw a lot of deprecated messages.
In General i would not recommend to run the whole playbook with `sudo` / `become`. This is bad.

And, please take some time to format your Bug Report / code wi

[2018-11-20 08:43] MaxWinterstein commented on #48913
Just a quick coffee break guess:
did u try using the `save` property?
Documentation says:

This option is deprecated as of Ansible 2.4 and will be removed in Ansible 2.8, use save_when instead.

https://docs.ansible.com/ansible/2.6/modules/eos_config_module.html

[2018-11-20 08:51] sreerag4 commented on #41298
ERROR! Syntax Error while loading YAML.

The error appears to have been in '/root/sample.yml': line 8, column 5, but may
be elsewhere in the file depending on the exact syntax problem.
---
- copy:
    src: /root/sfptpd-3.2.1.1004.x86_64.tgz
   dest: /root/sfptpd
  owner: root
  group: root
   mode: 0644
unable to copy file from local to remote.

[2018-11-20 08:53] MaxWinterstein commented on #48796
But why? I can't imagine a good reason to do this 😉

What are you trying to archive? I would guess there is a better way. Homebrew invalidates its update cache every 60s normally, so i guess this is intended.

[2018-11-20 08:54] Akasurde commented on #41298
@sreerag4 This issue is resolved, please open a new issue. Thanks.

[2018-11-20 09:02] justjais commented on #47839
The fix for the issue is merged in `devel` and queued for `2.8` release, I'll also create backport for the issue to `2.7` branch. So, closing the respective bug.

[2018-11-20 09:02] #47839 closed, assigned to justjais

[2018-11-20 09:03] justjais commented on #46815
Closing the bug as the fix for the respective issue is merged in `devel`.

[2018-11-20 09:03] #46815 closed, assigned to justjais

[2018-11-20 09:44] Shridharbhandar commented on #15119
HI @osielczakd ,

Did you find out any way to overcome this? Even I'm facing the same issue. The individual plays are running fine but when it comes to include or importing the play in main playbook it's throwing out an error No action detected in task.

Even when I check the module search path, I don't find the plugins/modules directory on my machine and my ansible is updated. Any suggestions ?

[2018-11-20 10:01] zhaolx01 commented on #48917
Thanks very mach，Run successfully and correct the way of use，哈哈哈哈
------------------------------------------------------------------
发件人：Max Winterstein <notifications@github.com>
发送时间：2018年11月20日(星期二) 16:33
收件人：ansible/ansible <ansible@noreply.github.com>
抄　送：赵丽霞 <lixia.zhao@genetalks.com>; Mention <mention@noreply.github.com>
主　题：Re: [ansible/ansible] ansible-playbook apt report an error "Could

[2018-11-20 10:24] #48917 closed, assigned to nobody

[2018-11-20 11:22] rajeshmoharana commented on #2303
Hi ,
I am also facing this issue. Can anyone suggest what the mistake I am doing.

TASK [remove_httpd_check : Taking backup of the existing check] ****************
--
16:43:57 | An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AnsibleFileNotFound: Could not find or access '/etc/sensu/conf.d/check_httpd.json'
16:43:57 | fatal: [nva1tr1elm01]: FAILED!

[2018-11-20 12:03] JonasVerhofste commented on #48650
@jtyr : I just noticed the [jenkins_job](https://docs.ansible.com/ansible/latest/modules/jenkins_job_module.html) module uses the other python-wrapper, [python-jenkins](https://git.openstack.org/cgit/openstack/python-jenkins/). I on, the other hand, am currently using [jenkinsapi](https://github.com/pycontribs/jenkinsapi), as mentioned before.

Is that a problem, or should I use the same wrapper?

[2018-11-20 12:03] mattiasb commented on #36116
This could probably be closed then. :)

[2018-11-20 12:07] #36116 closed, assigned to nobody

[2018-11-20 12:07] sekharvajjula commented on #36116
Done. Sorry!

[2018-11-20 12:29] Tomorrow9 opened #48929 "vmware_guest_facts returns path strings in "hw_files" part not accurate"
##### SUMMARY

The path strings of VM files returned by vmware_guest_facts are not all accurate.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Snapshot files path is accurate, vmware.log file path is accurate.

##### ACTUAL RESULTS

[2018-11-20 12:44] Akasurde commented on #15732
resolved_by_pr #48930

[2018-11-20 13:58] Lonni93 commented on #22169
Yep, +1 here... very frustrating seeing same roles executed multiple times.

w8 4 any progress on this bug.

[2018-11-20 14:01] zloyleopold commented on #38991
@lae I checked it again and found that my Ubuntu subsystem on Win10 got "latest" ansible 2.5.1, heh.
After that i've tested it on ansible 2.7.x and it really works ok there. Sorry to waste your time.

[2018-11-20 14:04] rjshrjndrn commented on #37995
@sivel
hypothetical scenario of yarn provision
[code]
I want to run the tasks in master and tasks/common.yml in master and slave.

previously I was using
[code]
But now it's broken or as you said indented behavior. Is there any best way for my scenario?

[2018-11-20 14:32] pawzar commented on #36729
Still a problem.

[2018-11-20 14:54] Akasurde commented on #15862
Closing this issue since 1.9.6 is [EOL](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#release-status) Thanks.

[2018-11-20 14:54] #15862 closed, assigned to nobody

[2018-11-20 14:55] dagwieers commented on #47343
@danowar2k We may have 500.000 users, or more, or less. And we are listed as the 7th most-active project (with 7500 contributors) on GitHub in the Octoverse 2018: https://octoverse.github.com/projects.html

This is not because a handful contributors implement every proposed idea, but because we try to empower people to contribute modules, fixes and features. That Ansible is written in Python and w

[2018-11-20 15:12] danowar2k commented on #47343
Huh? I was not frustrated about your project, just about my inability to contribute in a meaningful way with the time I am given.

[2018-11-20 15:17] dagwieers commented on #47343
Well, then we'll have to wait for someone with (1) a need, (2) a purpose and (3) time :-)

[2018-11-20 15:19] basos9 opened #48936 "Handlers can be executed multiple times when defined in role and used under special circumstances"
##### SUMMARY

Handlers can be executed multiple times when the following conditions apply:
a) handler is defined in a role
b) handler is implemented with include_tasks
c) the role is used with **plays' role section** (assuming it does not define a default tasklist) and in a task **import_role**.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATI

[2018-11-20 15:53] sivel commented on #48709
+label needs_triage

[2018-11-20 15:55] sivel commented on #48919
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-20 15:55] #48919 closed, assigned to nobody

[2018-11-20 15:57] DavidWoffendin opened #48938 "ansible api version hardcoded in for azurestack when attempting azure_rm_storageaccount"
##### SUMMARY

When attempting to create azure_rm_storage_account when using Ansible for azure stack it fails. This error appears to come from the API version Ansible uses and that they are not supported by azure stack. The profile versions seem to be hard coded in to only use the latest version of the api even though we are given the 'api_profile' option.

##### ISSUE TYPE
- Bug Report

##### COM

[2018-11-20 16:18] mbellgb commented on #48869
@Akasurde Confirmed, that PR fixes this issue for multiple special characters (`%`, `"`, `#` tested). Many thanks!

[2018-11-20 16:21] pgassmann commented on #12862
FYI, the `roles_path` in ansible.cfg worked as expected when I removed the comment on the same line

Fix: Add comments on separate lines!

WRONG:
[code]

WORKING:
[code]

[2018-11-20 16:35] Akasurde commented on #48869
@mbellgb Thanks for reporting and testing. I will mark this issue closed as PR is merged. Thanks !

[2018-11-20 16:35] #48869 closed, assigned to Akasurde

[2018-11-20 16:58] kbreit opened #48944 "Meraki scenario guide should show how to merge data"
##### SUMMARY
Meraki Ansible modules don't do a lot of backend work around merging existing data with new data. This puts the burden on the playbook to gather existing data and reconcile the data structure proposed by the playbook against the existing production configuration. The scenario guide should show how to merge these components.

One example is with firewall rules where it makes sense to

[2018-11-20 16:58] krishaamer commented on #40586
Thanks, that fixed it for me @badgerspoke

[2018-11-20 17:49] marcomc commented on #41757
I have found that when installing the pip modules boto3 and botocore on the provisioned host it has to be done as the same user that you are running the aws_s3 task on the host (i.e. ec2-user) but also it has to be run with the `--user` flag
i.e.
`pip install --user boto3 botocore`
or
`- name:           Ensure botocore and boto3 modules are installed
  pip:
    name:         [ "boto3", "botocore"]

[2018-11-20 17:55] marcomc commented on #42152
I have found that when installing the pip modules boto3 and botocore on the provisioned host it has to be done as the same user that you are running the aws_s3 task on the host (i.e. ec2-user) but also it has to be run with the `--user` flag
i.e.
`pip install --user boto3 botocore`
or
[code]

[2018-11-20 17:55] marcomc commented on #41776
I have found that when installing the pip modules boto3 and botocore on the provisioned host it has to be done as the same user that you are running the aws_s3 task on the host (i.e. ec2-user) but also it has to be run with the `--user` flag
i.e.
`pip install --user boto3 botocore`
or
[code]

[2018-11-20 18:36] camilamacedo86 commented on #24319
The same issue was also faced in the MacOS version 10.14 and with python 2.7 installed.

[2018-11-20 18:54] manuBocquet opened #48948 "Reboot module does not work with paramiko transport"
##### SUMMARY
The reboot module does not complete when transport has been set to paramiko

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
reboot module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

Just add "transport = paramiko" in default section in your active ansible.cfg

[code]

##### EXPECTED RESULTS

Without "transpo

[2018-11-20 18:57] BarbzYHOOL opened #48949 "Debug var parameter should work with "{{ varname }}""
##### SUMMARY

Debug var parameter is pointlessly using a different syntax than any other parameter in ansible's modules. Debug var parameter should work with "{{ varname }}"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

debug

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should just work fi

[2018-11-20 18:59] cognifloyd opened #48950 "jinja2 native with vault encrypted var"
##### SUMMARY
Vault encrypted strings are not getting cast to string before passing as a parmater to a module when `jinja2_native = True`.

On the surface this looks related to #24425, however that predates `jinja2_native` and this bug is only visible when `jinja2_native = True`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-vault
ansible/lib/ansible/executor/module_common.py
jinja2

[2018-11-20 19:03] cognifloyd commented on #48950
From traceback, it looks like

[2018-11-20 19:03] cognifloyd commented on #48950
From traceback it looks like
!component actions/normal

[2018-11-20 19:11] JayHauss commented on #38182
I've encountered this issue as well and would like to clarify some things for other users trying to convert from 'with_subelements:' to 'loop:' structure with a 'skip_missing' flag.

The documentation is a bit lacking. Particularly on how to include the 'skip_missing' flag with the Jinja2 sublements filter (this is what led me to this conversation).

I'll demonstrate with an example using the 'fir

[2018-11-20 19:19] #25020 closed, assigned to nobody

[2018-11-20 19:39] yeswps commented on #48665
@specator I have experienced similar issue, i can confirm that set WinRm to delayed start does help with this specific issue.

Set reboot_timeout or wait_for_connection does not help.

Now that with winrm quickconfig, it will chanage WinRM to delayed start up by default. But with  [ConfigureRemotingForAnsible.ps1](https://github.com/ansible/ansible/blob/devel/examples/scripts/ConfigureRemotingForA

[2018-11-20 19:44] sivel commented on #48678
We have discussed this, and have no aversion to accepting it, however we would need to see an implementation.

It was discussed that a way to pass generic options to the underlying module would probably be the best option.

[2018-11-20 19:48] nitzmahone commented on #48646
I'm not able to reproduce this on any 2.5 release; `content` with `win_copy` seems to work properly for me in all cases (without specifying source, as expected).

Regardless, 2.5 is in security bugfixes only-mode, so even if we were able to reproduce the issue, a fix wouldn't be eligible for inclusion anyway. All that said, thanks for the report, but I'm going to close this as can't reproduce / wo

[2018-11-20 19:48] #48646 closed, assigned to nitzmahone

[2018-11-20 19:55] sivel commented on #48709
-label needs_triage

[2018-11-20 19:55] nitzmahone commented on #48756
You should be able to accomplish this already with the new `aws_rds` inventory plugin with a boto filter expression. We're not accepting new features on the old `ec2.py` inventory script; it's not going anywhere anytime soon, but we're encouraging people to use the plugins going forward.

[2018-11-20 19:55] #48756 closed, assigned to nobody

[2018-11-20 20:00] cognifloyd commented on #48950
So, maybe `json.dumps` in these places (the first is the one I hit) needs to somehow use a variant of AnsibleJsonEncoder that casts the vaulted strings:
https://github.com/ansible/ansible/blob/501acae5abaa81ed29670a26b367c54ebe611d53/lib/ansible/executor/module_common.py#L671-L673
https://github.com/ansible/ansible/blob/501acae5abaa81ed29670a26b367c54ebe611d53/lib/ansible/executor/module_common.py

[2018-11-20 20:02] #19179 closed, assigned to nobody

[2018-11-20 20:03] abatista75 opened #48952 "proxmox_kvm - No support of some features"
##### SUMMARY
When using proxmox_kvm, some features cannot be configured as the Proxmox UI:
- cpuunits cannot be set to 0 as stated in the documentation (2 is the minimum value)
- hugepages leads to "exception=500 Internal Server Error: {\"data\":null}"
- serial cannot be configured as "socket"
- ~~No way to enable SPEC-CTRL and PCID options~~

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
p

[2018-11-20 20:04] jctanner commented on #48795
!component =lib/ansible/modules/cloud/amazon/aws_organizations.py

[2018-11-20 20:04] kunaljha5 commented on #35645
Got this same issue and found the problem in the error response only

_root@kunal-VirtualBox:~# ansible-playbook b.yaml -e "FILE_NAME=project.zip"  -k
SSH password:

PLAY [192.168.77.21] **********************************************************************************************************************

TASK [example copying file with owner and permissions] **************************************

[2018-11-20 20:09] bcoca commented on #48818
I cannot really reproduce this with the copy module, can you give us the full output with -vvvv so we can see exactly what ansilbe is doing?

needs_info

[2018-11-20 20:12] mories76 commented on #36915
I have the same issue as resyst-it mentioned on 5 Jun. Do I have to make the change to the plugin as stated above ? Or is there another way

I didn't see the variables ansible_host or ansible_ssh_host with a correct value.
Any advice ?

[2018-11-20 20:29] #48879 closed, assigned to nobody

[2018-11-20 20:31] sivel commented on #48865
-label needs_triage

[2018-11-20 20:33] abadger commented on #48645
This appears to be using ansible 2.6 or later with the copy module from 2.5 or earlier.  The hidden original_basename parameter was renamed to have a leading underscore in Ansible-2.6+.  The output from our command shows that ```_original_basename``` is being sent (suggesting that the controller code is 2.6+) but that the module is expecting ```original_basename``` which suggests that the module i

[2018-11-20 20:34] abadger commented on #48663
We've thought about this and we would take this as a config toggle to change the behaviour.  It is pretty low priority, though, so we'll accept a PR to implement the toggle but are unlikely to work on it ourselves.

[2018-11-20 20:40] jborean93 commented on #48938
!component = lib/ansible/modules/cloud/azure/azure_rm_storage_account

[2018-11-20 20:41] nitzmahone commented on #48938
This is currently by design; Azure Stack is not yet supported, so while some things may work (or have worked in the past), Azure Stack is not being actively tested. It's something we've discussed ways to properly support and test, but the necessary work has not been scheduled or assigned to anyone.

The API profile is only a small part of the issue, so even if that were fixed, it would just fail l

[2018-11-20 20:41] #48938 closed, assigned to nobody

[2018-11-20 20:57] sivel commented on #48950
cc @mkrizek

[2018-11-20 21:11] sivel commented on #48709
Thank you very much for your submission.  We have discussed this and have decided against adding such a feature.

Instead you should create a top level variable via `vars` and assign the dynamic value to that top level var and reference it such as `my_dynamic_vars.var1` within the role.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2018-11-20 21:11] #48709 closed, assigned to sivel

[2018-11-20 21:13] bcoca commented on #48865
Opened upstream issue with pyyaml

[2018-11-20 21:15] abadger commented on #48790
We're not going to add knowledge of formats for checksum files to get_url.  get_url's parameter command is for passing in a checksum, not for extracting a checksum from a file.

The playbook author should have the knowledge of the checksum file's formats and can use jinja2 to extract the checksum from an upstream file if they wish.  For example, extracting the checksum for the tower bundled instal

[2018-11-20 21:15] #48790 closed, assigned to nobody

[2018-11-20 21:15] bcoca commented on #48866
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature because there are already very simple ways of achieving the same result, you can use a loop and either the fileglob/filetree/pipe filters to supply a list of files from the local files system.

[code]

However, we're absolu

[2018-11-20 21:15] #48866 closed, assigned to bcoca

[2018-11-20 21:22] abadger commented on #48886
We discussed this and felt that this is on the edge between something we consider part of copy and something that we consider should be outside of its scope.  On the one hand, since copy is able to set immutable on a file that it copies, it seems like it should be able to change that file's contents if that were the only thing to change about the copy task.

On the other hand,  sysadmins who set i

[2018-11-20 21:22] bcoca commented on #48949
So this is a misunderstanding, the `var` option ALREADY encases the expression in `{{ }}` so what you are seeing as 'undefined' is the var with the name that corresponds to the value of `varname` not `varname`, since you are doing double interpolation.

The PR above adds explicit documentation on this issue to the debug module to avoid future confusion

[2018-11-20 21:49] jchristopher327 commented on #48913
I tried with `save_when` and that doesn't change the behavior. Tried different variations too (always, modified).

[code]

[2018-11-20 22:04] #47904 closed, assigned to nobody

[2018-11-20 22:15] assarbad commented on #48886
Thanks, @abadger . Any introduction on how to contribute? I am familiar enough with Ansible, Python, Linux and Git to be able to contribute. I guess it's mostly a matter of time and getting it reviewed by the folks who have that power. Also, will we proceed in this ticket or elsewhere?

I was also thinking that something like the flag you are suggesting would be best to implement this. Anything el

[2018-11-20 22:36] dnorthup-ums commented on #48709
@sivel Could you please enlighten us further? Your answer reads very much like "I have no idea why you would want to do that, therefore you must want to do this other thing that you explicitly said you don't want to do." Such an answer doesn't help the community understand why the decision was made. I sure doesn't help me understand if the problem I'm seeing is related or not.

[2018-11-20 22:36] assarbad commented on #48886
Never mind, I found [this](https://docs.ansible.com/ansible/latest/community/). Only question remaining is if we continue in this ticket or not. Thanks.

[2018-11-20 23:05] kbreit opened #48965 "meraki_network - Specify disableMyMerakiCom and disableRemoteStatusPage at creation"
##### SUMMARY
Meraki's API now supports creating networks while specifying the parameters in the subject line. The API should be able to support these parameters.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki_network

[2018-11-20 23:43] klin938 commented on #13911
Sorry but what if want to check if 'role' is defined or not? I have been trying:
`when: hostvars[item].role is defined`
`when: hostvars[item]['role'] is defined`

none of them work.

[2018-11-20 23:59] dnorthup-ums opened #48968 "Included role cannot properly take vars as argument"
< !- - - Verify first that your issue is not already reported on GitHub - ->
Either it isn't here, or somebody doesn't think I'd ever want to do this. See #48709 for something similar in intent.

<!- - - Also test if the latest release and devel branch are affected too - ->
I'm not playing development games, I'm attempting to get work done, thank you.

##### SUMMARY
include_role may loop, but runs

[2018-11-21 00:36] jborean93 commented on #48881
So I've done some investigation on this and the issue is due to `pwsh` outputting a console escape character sequence `\u001b[?1h\u001b=` which is documented here https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences#mode-changes. I've been unable to find out how to disable this but this is probably a question for https://github.com/powershell/powershell as all we are

[2018-11-21 00:36] #48881 closed, assigned to jborean93

[2018-11-21 01:03] bcoca commented on #48865
agreed that the YAML is valid, its just the 'pretty' part that breaks

[2018-11-21 01:06] bcoca commented on #47022
Can you provide the full command use and output with -vvvvv?

needs_info

[2018-11-21 01:33] dgarros commented on #48691
@bcoca thanks for the pointer,
I tested with 2.4.1 and I'm seeing much faster results than in 2.7.1
- ansible 2.4.1 > template rendering with many hostvars 17s using `fact_caching=jsonfile`
- ansible 2.7.1 > template rendering with many hostvars 69s `fact_caching=jsonfile`

I couldn't test with Redis because somehow the redis plugin was not working for me in 2.4.1

[2018-11-21 01:42] dgarros commented on #48691
I did some more tests and looks like something changed between 2.4 and 2.5
- 2.4.4 ~18s
- 2.4.5 ~18s
- 2.4.6 ~18s
- 2.5.0 ~54s
- 2.5.1 ~54s

All 5 tests have been done in the exact some conditions etc ..

[2018-11-21 02:29] jtyr commented on #48650
Introducing dependency can bring problems to some users which don't have the module installed. I would prefer to fix the issue without any additional dependency.

[2018-11-21 02:33] nkakouros opened #48969 "union filter is broken"
##### SUMMARY

Commit [`24593f2ffbd589c1e88a73423a1e2955f6bc6f37`](https://github.com/ansible/ansible/commit/24593f2ffbd589c1e88a73423a1e2955f6bc6f37) broke the `union` filter under some circumstances.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

union

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux latest

##### STEPS TO REPRODUCE

The foll

[2018-11-21 02:33] nkakouros opened #48970 "union filter is broken"
##### SUMMARY

Commit [`24593f2ffbd589c1e88a73423a1e2955f6bc6f37`](https://github.com/ansible/ansible/commit/24593f2ffbd589c1e88a73423a1e2955f6bc6f37) broke the `union` filter under some circumstances.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

union

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux latest

##### STEPS TO REPRODUCE

The foll

[2018-11-21 02:38] kbreit commented on #48965
This is fixed in PR #48971

[2018-11-21 02:45] kbreit commented on #48612
I don't have any BLE compatible hardware so this is hard for me to test properly.

[2018-11-21 02:47] #48183 closed, assigned to nobody

[2018-11-21 02:49] Nothing4You commented on #16977
I'm not sure whether this is the same issue but I'm seeing a similar behavior on latest debian stretch, probably also related to ansible/ansible-modules-core#3545.

[code]
[code]

It seems to be completely mixed up in the results:
address, mac, mtu, prefix and type from wg0, gateway and interface from eth0.

[2018-11-21 03:21] Akasurde commented on #48970
Duplicate of #48969

[2018-11-21 03:21] #48970 closed, assigned to nobody

[2018-11-21 03:34] Akasurde commented on #48374
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-11-21 03:34] #48374 closed, assigned to Akasurde

[2018-11-21 03:54] Akasurde commented on #38153
@SimplySeth Any news ? Thanks.

needs_info

[2018-11-21 03:59] Akasurde commented on #29938
@dagwieers @pwnall @gibbsoft @fanwaken @lpancescu @gregswift Can we close this in-favour of `wait_for_connection` ? Thanks

needs_info

[2018-11-21 04:10] Akasurde commented on #29938
Fixed via https://github.com/ansible/ansible/pull/28839

[2018-11-21 05:08] caphrim007 commented on #41730
this should be fixed in the f5devcentral.f5ansible galaxy role (or what will be ansible 2.8). If this remains a problem, please file an issue with F5 here https://github.com/F5Networks/f5-ansible

[2018-11-21 05:08] #41730 closed, assigned to nobody

[2018-11-21 05:09] caphrim007 commented on #43916
this should be fixed in the f5devcentral.f5ansible galaxy role. If it remains an issue, please file an issue with F5 here https://github.com/F5Networks/f5-ansible

[2018-11-21 05:09] #43916 closed, assigned to nobody

[2018-11-21 05:12] caphrim007 commented on #41705
this should be fixed in the f5devcentral.f5ansible galaxy role. If it remains an issue, please file an issue with F5 here https://github.com/F5Networks/f5-ansible

[2018-11-21 05:12] #41705 closed, assigned to nobody

[2018-11-21 06:52] villelaitila opened #48975 "Using Softagram in code review phase in some of Ansible repositories"
##### SUMMARY
If you are curious to try out a new kind of tool, there is now a possibility for code change visualization integration.

##### ISSUE TYPE
An external tool integration.

##### COMPONENT NAME
You can pick any repo where you feel this sort of system would bring benefits.

##### ANSIBLE VERSION
[code]
##### ADDITIONAL INFORMATION
It would be possible to set up Softagram to analyze automa

[2018-11-21 07:19] specator commented on #48665
Hi @yeswps,

Thank you for confirm this issue.

Based on this MS post: [WinRM - Quick Default Configuration](https://docs.microsoft.com/en-us/windows/desktop/winrm/installation-and-configuration-for-windows-remote-management#quick-default-configuration) default WinRM service status after **winrm qc** is **auto-start**.

I think there ways to avoid this issue (this will help avoid issue, but system

[2018-11-21 07:58] juanvalino commented on #48709
@sivel I respect the decision that has been made, but I do not share it.

I think that an **automation** system should not resolve in a tricky and not automated way things that can be solved internally and transparently to the final user.

I'll try to explain the necessity of this feature in more detail, and the consequences of the implementation you proposed.

In my case this problem come up with

[2018-11-21 08:04] Fred-sun commented on #28392
@zikalino

[2018-11-21 08:12] Fred-sun commented on #30392
@nitzmahone Could you help recheck this issue according by yuwzho's comment? Automatic deletion of network security groups is unnecessary, if you agree, could we can close this issue? Thanks!

[2018-11-21 08:17] Fred-sun commented on #31867
@zikalino Could you help take a look this issue? Thanks!

[2018-11-21 08:18] jifox opened #48977 "with_items: is working whereas loop: leads to error 'variable' is undefined. ansible 2.6.4"
##### SUMMARY

When using `loop` instead of `with_items` the playbook aborts with an error that the loop: "{{ list }}" is undefined.

When using `with_items` instead of `loop` everything works fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_tasks:
loop:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

localhost

##### STEPS TO REPRODUCE

[cod

[2018-11-21 08:20] Fred-sun commented on #31967
@zikalino Could you help take a look this issue? Thanks!

[2018-11-21 08:32] paulmackinnon-adv365 commented on #31967
I'm so glad I ditched Ansible for another platform. Over a year and this still hasn't been addressed. Awesome.

[2018-11-21 08:34] danleonard80 commented on #17194
Hi mkotsbak,

Just to confirm - for Tower it should work if the required password is added as a machine credential or is it catually a scm credential?

Thanks,
Daniel

[2018-11-21 08:36] cfasnacht commented on #12862
This is documented like this:  "However, if the comment is inline with regular values, only the semicolon is allowed to introduce the comment. For instance:"
https://docs.ansible.com/ansible/2.7/reference_appendices/config.html
But in my opinion this is quite a pitfall!

[2018-11-21 08:53] Fred-sun commented on #37259
@zikalino Could you help take handle this issue? Thanks!

[2018-11-21 09:36] Fred-sun commented on #37934
@yuwzho

[2018-11-21 10:15] bbaassssiiee commented on #17194
PR #34621  does not work for me. Let me explain my use case:

- We re-use roles by storing them in separate repositories
- We have private repositories on GitHub for this
- We require 2FA, personal access tokens are OK
- We do not want to expose tokens in `requirements.yml` files

Workaround: Using a template for requirements.yml

[code]

[2018-11-21 10:37] trishnaguha commented on #48369
@marouim Thanks for the issue. Will you be able to give the fix https://github.com/ansible/ansible/pull/48981 a try?

[2018-11-21 10:48] Constantin07 commented on #48818
Hi @bcoca, thanks for getting back on this.

Here is the `-vvvv` output of the failed copy task. I've replaced the local username I'm logged on MacOS with `<my_local_usename>`.

[code]

ansible-paybook extra arguments used:
[code]

ansible.cfg:
[code]

[2018-11-21 11:03] mkotsbak commented on #17194
As SCM I think yes.

[2018-11-21 11:07] JonasVerhofste commented on #48650
Alright. This issue can be closed, as far as I am concerned, seeing as the problem itself is mentioned in multiple other issues and this issue was specifically a question about the rewriting of the module.

[2018-11-21 11:42] afour-sonal commented on #39295
Can somebody tell me the exact workaround for this issue? I am using ansible 2.6 and getting the same issue

[2018-11-21 11:52] kTitan commented on #41774
I could only do some rough checks in my virtual lab, becase I currently do not have access to the physical farm.
In my tests it looked very good, I did not find any issues.

[2018-11-21 12:11] rrey commented on #39295
@afour-sonal: Maybe uninstall systemd python library to avoid the attempt to send data to journal

[2018-11-21 12:22] afour-sonal commented on #39295
@rrey But we can not modify library files. Is there any other feasible solution?

[2018-11-21 12:29] etam opened #48984 "blockinfile fails when block is a jinja template with a for loop inside and quotes inside"
##### SUMMARY
I use blockinfile and block is taken from variable like this:
[code]
It fails with some weird internal errors.

If I remove single quotes around `{{ i }}` it's not failing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS: openSUSE Tumbleweed, snapshot 20181116

##### STEPS TO REPRODU

[2018-11-21 12:34] vbotka commented on #41313
FWIW. Let me describe a valid scenario (below). "flush_hadlers" is needed after tasks *abc.yml* complete, but the file with the tasks *xyz.yml* is imported when OS is RH only. Here Ansible complains:
**[WARNING]: flush_handlers task does not support when conditional**

**It would be nice to be able to suppress the warning.**

[code]

[2018-11-21 12:43] sreerag4 opened #48985 "ansile copy from local to remote"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2018-11-21 12:45] sreerag4 commented on #48985
getting error on opy from local to remote

ERROR! Syntax Error while loading YAML.

The error appears to have been in '/root/sample.yml': line 4, column 4, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line appears to be:

    src: /root/sfptpd-3.2.1.1004.x86_64.tgz
   dest: /root/sfptpd
   ^ here

[2018-11-21 12:56] Akasurde commented on #48985
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2018-11-21 12:56] #48985 closed, assigned to nobody

[2018-11-21 13:31] kbreit commented on #48861
This bug depends on #48609

[2018-11-21 13:31] sgrade commented on #48859
I also found this message confusing.

[2018-11-21 13:42] JonTheNiceGuy opened #48987 "azure_rm_loadbalancer does not include the "inbound_nat_rules" parameter"
##### SUMMARY

`azure_rm_loadbalancer` does not support the parameter inbound_nat_rules

##### ISSUE TYPE
- Implement inbound_nat_rules on the azure_rm_loadbalancer

##### COMPONENT NAME
azure_rm_loadbalancer

##### ADDITIONAL INFORMATION
Deploying the marketplace item "FortiGate NGFW Azure LB High Availability" deploys an Azure LoadBalancer with specific NAT rules enabled. I would like to duplica

[2018-11-21 14:04] JonTheNiceGuy commented on #48987
##### ANSIBLE VERSION

[code]

[2018-11-21 14:45] Akasurde commented on #38133
resolved_by_pr #48989

[2018-11-21 14:49] Akasurde commented on #39293
@karniemi Any news ?

[2018-11-21 14:49] NilashishC commented on #47958
needs_info

[2018-11-21 14:55] NilashishC commented on #48803
@parrywangyin Can you please upgrade to Ansible `2.7` and check as `2.4` is not being supported currently?

[2018-11-21 15:03] sivel commented on #48969
This is resolved by https://github.com/ansible/ansible/pull/48792 and https://github.com/ansible/ansible/pull/48961

I'll go ahead and close this as we have PRs in flight.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-21 15:03] #48969 closed, assigned to nobody

[2018-11-21 15:14] sivel commented on #48968
I cannot duplicate this issue:

playbook.yml
[code]

group_vars/all.yml
[code]

roles/rolename/tasks/main.yml
[code]

Produces the following output:

[code]

Seeing as though you cannot show me real output, you should be able to use the reproducer I have created to confirm.

needs_info

[2018-11-21 15:22] inl-pd-autotest commented on #29695
Same issue here as well. ansible 2.7.2, python version = 2.7.15rc1 (default, Nov 12 2018, 14:31:15) [GCC 7.3.0]
Installed on Xubuntu from ppa.

[2018-11-21 15:22] sivel commented on #48818
Based on your output, it looks like you are using packer, and by that, I believe you are likely running into a packer bug as referenced at https://github.com/hashicorp/packer/issues/6379

Due to the referenced packer bug, will attempt to connect as your local username unless you specify `user` in the provisioner.

needs_info

[2018-11-21 15:22] inl-pd-autotest commented on #29695
@jborean93 could you reopen this ticket?

[2018-11-21 15:50] ganeshrn commented on #48876
@veksh As you mentioned the issue can be fixed by adding a version and model check within junos_l2_interface module. `get_capabilities(module)` method returns a dictionary that holds information about junos device like version, model etc
Refer: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/junos/junos_command.py#L354 got `get_capabilities()` usage
and
https://github.com

[2018-11-21 15:53] flamein commented on #34054
Backporting features is not how Red Hat works for RHEL versions.
The only way I see this happening is by a rebase of pyOpenSSL package in RHEL 7.6.

The other option is to build a virtualenv for Ansible to run in with the newer pyOpenSSL and access to system libraries because you need python-selinux, making initial setup with ansible a 2-step process. (which sucks)

Or you know, run on RHEL 8 beta

[2018-11-21 15:57] Trane9991 commented on #48796
@MaxWinterstein sorry, bad example. The new one, for example.
Upgrade all casks on host, should be done by:
[code]
but it will not work, while
[code]
works fine

[2018-11-21 16:17] MaxWinterstein commented on #48796
you try to up**grade**, not up**date**, now i understand. That makes way more sense to me.
Are you sure you did not mix update and upgrade somewhere? your posted code about can't work as you misstyped the module name, so i guess  it is not really a copy of your tasks file.

Can you provide more output, by what you mean with does not work?

For my quick test, as my coffe is nearly sipped up, it wor

[2018-11-21 16:29] ganeshrn commented on #48876
@veksh Alternately you can share me the output of `show configuration interfaces ge-0/0/0 | display xml` and I can raise PR which you can test in your environment

[2018-11-21 16:30] ganeshrn commented on #48876
needs_info

[2018-11-21 16:34] MaxWinterstein commented on #48796
oh, now i understand.
As far as i understand, the cask repository is updated within the regular brew repository. So there is no need for an additional, separate update step.
See: https://github.com/Homebrew/homebrew-cask/blob/master/USAGE.md#updatingupgrading-casks

[2018-11-21 16:46] dnorthup-ums commented on #48968
@sivel I used your debug method... The `item` var is evaluated as you demonstrated, which begs a further question.
Are you saying that if a role is to be used with include_role that it must be written in such a way as to be incompatible with being run the normal way (where role vars are provided individually as part of the "call")? I don't see that in the documentation.

[2018-11-21 16:55] mrlesmithjr commented on #47329
Just as an FYI or maybe I am late to the game here. But I am seeing on vSphere 6.7 where no matter what type of scsi controller type I define, when the disk is created for the VM, it is attached to an IDE controller. Anyone else seeing this? Also, as @Akasurde mentioned, controller type per disk would be amazing. Which is what I am already attempting but obviously not possible as of now.

![image]

[2018-11-21 16:59] sivel commented on #48968
@dnorthup-ums to be honest, I'm not sure what you are asking.  There is no requirement that roles that are invoked with `include_role` are designed any differently than those used under the `roles` header.

However, as you are looping, which only works with `include_role`, that role would have to make use of the `item` variable, unless you customize that with `loop_control.loop_var` to change the

[2018-11-21 17:05] dnorthup-ums commented on #48968
@sivel Thank you, you answered my question. That would indeed mean that the role (as modified for the current include_role implementation) would be incompatible with being run the normal way, as there's no way to pass vars in the way the documentation implies (by omission of note otherwise where it is noted that include_role can loop). This should be either changed (no idea how to best ensure comp

[2018-11-21 17:11] sivel commented on #48968
I'm not sure what the following statement means:

You can pass vars into a role when using `include_role` by using the `vars` keyword:

[code]

A role that could work both with `include_role` and under `roles` would use something like:

[code]

and with `include_role`

[code]

Then it would use `top_level_var` in the role.

#48790 was rejected, because we do not believe you should be able to injec

[2018-11-21 17:11] #48968 closed, assigned to nobody

[2018-11-21 17:17] SimplySeth commented on #38153
@Akasurde works fine in 2.7.1 thanks

[2018-11-21 17:22] veksh commented on #48876
XML outputs:

1) wrong conf: ge-0/0/0

[code]

2) right conf:
[code]

[2018-11-21 17:27] #44962 closed, assigned to nobody

[2018-11-21 17:33] samdoran commented on #48948
I am able to reproduce this. The `paramiko` connection plugin is raising `EOFError()` which doesn't include message text.

There is also another issue I have discovered with the `paramiko` connection plugin and the `reboot` plugin that I will try to fix as well.

[2018-11-21 17:33] sivel commented on #48968
A variable within `vars` can reference `item`:

[code]

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-21 17:55] Trane9991 commented on #48796
Can confirm that next code works fine:

[code]

[2018-11-21 17:55] #48796 closed, assigned to nobody

[2018-11-21 18:03] manuBocquet commented on #48948
Hi samdoran,

Good news, thanks for your help.

[2018-11-21 18:34] nikaro commented on #48134
With the split fstab module, should an fstab modification trigger a [re]mount? If not, an fstab module is not needed, `lineinfile` module would do the job.

[2018-11-21 18:39] sivel commented on #48134
No, the `fstab` module, would only ever modify the file, never perform any mount/unmount operations.

I won't speak to using `lineinfile`, as I usually recommend that it never be used.

[2018-11-21 18:41] tpeyton commented on #48785
I am experiencing the same issue here. The mail module worked fine on v2.7.1 (running Ansible on python 2.7.10). After upgrading to v2.7.2 I can no longer send mail and am getting the same error as reported in the issue: `SMTPServerDisconnected: Connection unexpectedly closed: timed out`.

I've done some testing and it seems that 8c9070e broke the mail functionality (on my version of python at lea

[2018-11-21 18:51] antoinekociuba commented on #47429
Any news on that guys? Thx

[2018-11-21 19:29] curiousercreative commented on #29240
This task failed for me with similar error
Ansible: 2.7.1
macOS: 10.13.6 (17G3025)
Python: 3.7.1
NodeJS: 8.10.0
[code]

After some debugging, this was traced back to a wonky install of `npm` itself. Try uninstalling node/npm and reinstalling and/or trying some tips [here](https://stackoverflow.com/questions/11177954/how-do-i-completely-uninstall-node-js-and-reinstall-from-beginning-mac-os-x) speci

[2018-11-21 19:33] aoyawale opened #48998 "ovirt_vm spits out error with nic"
##### SUMMARY
error with libraries during vm creation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_vm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible Controller: Fedora 29
Target RHEV 4.2.7.4-0.1.el7ev

##### STEPS TO REPRODUCE
Run the role to create a VM. I verified that I had all the correct parameters used by this module.
The playbook and

[2018-11-21 19:46] osielczakd commented on #15119
Given that this was almost three years ago, I think I worked around it somehow in the end, but can't remember what the workaround was. Maybe try reorganizing your playbooks somehow.
Out of curiosity, what version of Ansible are you using? What is your playbook structure? Can you post the problematic code here?

[2018-11-21 20:03] ju2wheels commented on #48678
OK, ill follow up in a week or two with an updated proposal when I have time to look at this part. By generic options, I assume you are talking about the `ansible-pull` flags where you instead want something more like `ansible -m <module> -a <args>`'s `-a` flag rather than adding the internal submodule specific CLI options?

[2018-11-21 21:55] aaronmehar commented on #31620
I've found the opposite to be true here, `--ask-vault-pass` was giving me the error, where as setting this in the ansible.cfg file, allowed the decryption

[code]

[2018-11-21 22:01] samdoran commented on #48948
Please test with #49002 and see if that resolves your issue. Thank you for reporting this.

[2018-11-21 22:47] BarbzYHOOL commented on #48949
Ok, so that's why it's kept this way? to be able to add the var value as varname

Where is the PR's text going to show up? @bcoca

PS: I wanted to answer to this but it's locked, https://github.com/ansible/ansible-modules-core/issues/2836 just saying this is still happening today and is also very confusing. Omg in fact this module "uri" is completely not working, already found 3 bugs with it and o

[2018-11-22 00:23] psaini79 opened #49008 "Missing support for --cpu-rt-runtime"
##### SUMMARY

Trying to create container through Ansible docker_container module using following link:
https://docs.ansible.com/ansible/2.7/modules/docker_container_module.html

I did not a option to pass --cpu-rt-runtime value to a container.

##### ISSUE TYPE
docker container create command support  --cpu-rt-runtime but did not find this option in ansbile docker_container module.

##### COMPONE

[2018-11-22 00:36] psaini79 commented on #49008
##### ANSIBLE VERSION

[code]

[2018-11-22 01:47] boluobuyaofengli opened #49011 "Ansible run ad-hoc will failed once set become"
##### SUMMARY

when i execute this command on my mastermachine,raise the exception.But it was succesed when not set become or on other slavemachine.The command and exception as follows.
command: ansible -i hosts 10.16.31.170 -m shell -a 'echo helloworld' -become
exception:10.16.31.170 | FAILED >> {
    "failed": true,
    "msg": "sudo: invalid option -- ' '\r\nusage: sudo [-D level] -h | -K | -k |

[2018-11-22 01:50] harrydevine commented on #48353
I've read this doc:  https://help.github.com/articles/about-pull-requests/.  In it, it says "Once you've created a pull request, you can push commits from your topic branch to add them to your existing pull request.".

My question is: HOW?  Like I said, I'm VERY new to Github, and I have no idea how to push the updated file.

[2018-11-22 02:05] yuwzho commented on #48987
@JonTheNiceGuy Thanks for reporting this, we will put this into our backlog, according to Ansible's release cycle, this feature will not show up until 2.8

duplicate_of #42407

[2018-11-22 02:06] PikachuEXE opened #49012 "template module generating file with excessive content"
##### SUMMARY

Using 2.7.x (2.7.2 latest) the nginx config file generated by template module is different from what's generated before.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Source OS: MacOS 10.13.6
Target OS: Ubuntu 18.04.1 LTS (Linux 4.15.0-1023-gcp x86_64)

##### STEPS TO REPRODUCE

- R

[2018-11-22 02:09] #48987 closed, assigned to nobody

[2018-11-22 02:19] #38153 closed, assigned to Akasurde

[2018-11-22 02:43] #34559 closed, assigned to nobody

[2018-11-22 02:43] #41592 closed, assigned to nobody

[2018-11-22 03:36] kbreit commented on #48615
This module is in development at

Further module development is waiting on PR #49015

[2018-11-22 05:04] k0ste commented on #48785
Please, test #49016. I was tune lib params for STARTTLS server. I need results for SSL and nonsecured servers.
Thanks.

[2018-11-22 06:54] jborean93 commented on #46713
I've closed this ticket now that https://github.com/ansible/ansible/pull/48642 has been merged in. The PR is basically a rewrite of the `win_mapped_drive` module that uses a lower level API to manage the drives and extra logic to handle running under become and other common issues we've come across. This is available in devel today and it will be part of the 2.8 release but because it contains a l

[2018-11-22 06:54] #46713 closed, assigned to nobody

[2018-11-22 07:04] machacekondra commented on #48998
@jlozadad Looking at traceback:
[code]
This means that the `nic` you passed is string and not dictionary. Looking at your playbook the `vms_nics` should look something like this:

[code]
etc...
Looking at the: `disks` and `vnic_profile_mappings`, you have `-` at each item, which isn't right, can you please try to change it to dictionary structure as shown above?

[2018-11-22 07:08] zhaolx01 opened #49018 "Server with centos6 enabled with ansible ec2 failed, the server displays "stop" status and cannot be restarted"
version：2.0.0.2

[2018-11-22 07:33] Fred-sun commented on #39006
not a bug, advice to close

[2018-11-22 07:52] Fred-sun commented on #39977
@yungezz

[2018-11-22 07:57] villelaitila commented on #48975
Embedded the images straight to the issue description.

[2018-11-22 08:53] jan-harmsen commented on #48859
I agree that his "error" message is not helpful, at least there should be a link to the specific chapter in documentation containing host_list requirements. My playbooks run without problems and I have no clue why exactly this message occurs and how to fix the problem.

[2018-11-22 08:54] kellervater opened #49019 "Add state "disabled" to route53_health_check module"
##### SUMMARY

In module "route53_health_check" it would be helpful to be able to deactivate health checks.
My use case is to disable/deactivate health checks during a deployment and afterwards reenable them.
In the AWS Route 53 console it can be done via "Advanced Configuration" by checking "Disable health check". This option considers the health check positive as long as it is deactivated.

####

[2018-11-22 09:15] yungezz commented on #39958
hello @guillemsola , could  you pls provide information on how the vm was created? it's abnormal that a VM without storageAccountType. the error itself  reveals StorageAccountType null, but we need understand  why.

[2018-11-22 09:17] rrey commented on #39295
IMO the fix should be made in ansible module_utils because I doubt that introducing forbidden parameter names is a good idea. This require that the core team attention on #47132. I have difficulties finding time to manage this...

Another (not quite clean) solution would be to rename the "message" parameter, and try to see if keeping an alias named "message" for backward compat works.
You can test

[2018-11-22 09:37] Fred-sun commented on #39958
@yungezz If create VM by azure-cli or ansible, not configure storageaccount parameter , the VM will no attach storageaccount. Thanks!
@guillemsola Does you create VM like this? if not, Please tell us that you create method. Thanks!

[2018-11-22 09:42] Fred-sun commented on #43416
@zikalino @yuwzho @yungezz

[2018-11-22 09:46] quanvuminh opened #49020 "Prevent remove anything while installing package with apt"
##### SUMMARY
Installing a package will force to remove conflicted packages including some important and unexpected ones.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

apt

##### ADDITIONAL INFORMATION

It would be better to have an argument to prevent this behavior.

[code]

[2018-11-22 09:51] devyanikota commented on #38174
PR #38269 fixes this issue.

[2018-11-22 09:51] #38174 closed, assigned to nobody

[2018-11-22 10:11] SpComb commented on #43159
Same with Ansible 2.7 on Amazon Linux 2, with `/dev/sdf` being a symlink to `/dev/xvdf`, but `lvm.conf` `preferred_names` causing `pvs` to list `/dev/sdf`.

Using `pvs: [ '/dev/xvdf' ]` doesn't work because of the `pvs --filter 'pv_name = /dev/xvdf'` not matching: https://github.com/ansible/ansible/blob/c963ef1dfbf73efea5106624eb48b346f01eaefd/lib/ansible/modules/system/lvg.py#L170-L171

Using `pv

[2018-11-22 10:14] akr257 opened #49021 "Ansible win_shell and win_command unable to download large files"
##### SUMMARY
When using the win_shell or win_command to download a (large) file from S3, the download fails halfway through and the task returns with response code 1. It appears that the modules don't wait for the download to complete (or it expects to run within a certain period).

There is no issue with the target host as we are able to download the file without issues when downloading it manua

[2018-11-22 10:40] s4ms0n commented on #48109
i had to roll back to 2.6.3 because of this issue

[2018-11-22 11:03] jborean93 commented on #49021
Some things I would try

* Run the the `--no-progress` and/or `--quiet` option to rule out there being too much data in the stdout buffer
* See if there's some sort of `--debug` or `--verbose` option you can use to try and find out why it errored
* See if there are any error logs, either in a file or in the event log that could indicate what's happening
* If possible, try using `win_get_url` on th

[2018-11-22 11:06] Vladimir-csp opened #49022 "Notification of a handler hangs for extended time in certain conditions"
##### SUMMARY
A changed task with `notify` as a part of complex playbook hangs after actual task action is performed, but before task is reported as changed in the output (and before notification of handler message appears in `-v` output).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Free

[2018-11-22 11:47] akr257 commented on #49021
I think you may be right with the stdout buffer having too much of data. I just tried it with --no-progress option and it seemed to work OK consistently. Thanks

[2018-11-22 12:56] Vladimir-csp commented on #49022
Additional info: It seems that the duration of hangs is directly proportional to where the handler resides in roles succession. If notified handler resides in a role that runs at the beginning of playbook (early dependencies), there is almost no hang. Handlers in later roles have increasingly longer pauses during notifications.

Placement of the task that notifies handlers has no affect on the pau

[2018-11-22 12:59] priteau commented on #41240
This was fixed in Ansible 2.7.2 thanks to this backport: https://github.com/ansible/ansible/pull/48088

[2018-11-22 14:18] mkrizek commented on #49012
What version of Jinja2 do you have installed?
What's in
`DEFAULT_FILTER_PLUGIN_PATH(/users/pikachuexe/projects/spacious/spacious-rails/ansible.cfg) = ['/users/pikachuexe/projects/spacious/spacious-rails/ansible/filter_plugins']` ?
Does the issue persist when `jinja2_native` is set to `False`?

I can reproduce the issue with `2.7.0`:
[code]

but not with `2.7.1` and `2.7.2`.

Can you post your diff

[2018-11-22 14:37] bartoszcisek commented on #48439
@2-face I have similar problem but with bare `ssh`. Have you tried if included host definitions are interpreted correctly?

[2018-11-22 14:48] paneu opened #49026 "Field name for ansible_net_neighbors is inconsistent"
##### SUMMARY

For the various *_facts modules, there is an inconsistency between how the neighbor information is structured in ansible_net_neighbor. In particular, the key for the remote system name is different, e.g. `host` in ios_facts, eos_facts, nos_facts as far as I can tell and `sysname` in nxos_facts. This should be harmonized. If you can give me guidance on how the naming should be like a

[2018-11-22 14:55] Vladimir-csp commented on #49022
This script generates 25 empty roles with handlers and some vars, then runs the playbook. No noticeable delays.
[code]

So the problem may lie in particular var structure that I'm dealing with in production (lots of substitutions based on os/distribution/version groups and branching. Is there a way to debug ansible's variable resolution process? Maybe put some echo function in variable-related lib

[2018-11-22 15:11] guillemsola commented on #39958
@Fred-sun all the VM where always created with ARM template.

This is an excerpt from VM creation

[code]

[2018-11-22 15:50] 2-face commented on #48439
@bartoszcisek They work if used straight from OSX shell.

[2018-11-22 16:01] assarbad opened #49028 "Confusing error in file module with the mode parameter [solved, but ...]"
It is possible that this has been reported, but searching for open issues with `file` and `mode` gave me such a vast list, I didn't want to spend the rest of the week scouring it. #23521 looks similar, but since I am quoting the mode (which I *have* to do in order to render the template variable) this should not have been the issue.

##### SUMMARY

The file module fails with `msg: mode must be in