[2019-07-23 15:27] bcoca commented on #59403
!component =lib/ansible/modules/cloud/docker/docker_container.py

[2019-07-23 15:29] Akasurde commented on #59428
!component =lib/ansible/modules/cloud/google/gcp_storage_bucket_access_control.py

[2019-07-23 15:44] Akasurde commented on #58473
!component =lib/ansible/modules/network/routeros/routeros_command.py

[2019-07-23 15:45] ironfroggy opened #59451 "ansible-galaxy collection build failing to find meta file"
##### SUMMARY
`ansible-galaxy collection build` fails when unable to locate new ` lib/ansible/galaxy/data/collections_galaxy_meta.yml` data file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 28, should affect all versions OS tho

##### STEPS TO REPRODUCE
- Install latest `devel` branc

[2019-07-23 15:49] sivel commented on #59451
https://github.com/ansible/ansible/pull/59452 should resolve this.

Thank you for reporting this.

[2019-07-23 15:57] nitzmahone commented on #59384
Unfortunately, if you need to dual-publish, the correct way to handle this will be modifying the content at build/publish time, not at runtime. We can't retroactively add support for module_utils imports in `try/except` to old versions of Ansible (it's currently ASTing all the code and only understands top-level import statements to trigger the module_utils bundling magic). The module_utils are al

[2019-07-23 15:57] #59384 closed, assigned to nobody

[2019-07-23 16:11] bcoca commented on #59418
the `--json` option in 2.9 will make it a lot easier to verify content

[2019-07-23 16:14] mamunozgonzalez commented on #58914
Thanks @fleu42 for letting me know.
If possible please close the issue, since I don't have the possibility to do it as in our fortinet github account :)

[2019-07-23 16:19] jim5359 commented on #58831
I now get this error:
[code]

I'm able to overcome these errors by adding the following:
[code]

But this doesn't seem ideal.  I don't see why it's not picking up these ENV variables automatically.  The ENV variables are set in my global profile, so even the root user should have them set.

[2019-07-23 16:44] brenwhyte opened #59457 "netscaler_server - Support for targeting partitions"
##### SUMMARY
One cannot target partitions on the Netscaler. Only the default partition can be manipulated right now.

##### ISSUE TYPE
- Feature Idea
Allow support for specifing the partition name/id as a var
Much like this module
https://github.com/networktocode/netscaler-ansible/blob/master/library/netscaler_server.py#L615-L624

##### COMPONENT NAME
 netscaler_server

##### ADDITIONAL INFORMATI

[2019-07-23 16:48] bcoca commented on #59406
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature request because this is not something we can see being added to Ansible.

The main reason is, vault files and/or inlined vault variables can appear at any time dynamically in a play, we don't know when or if we will need a

[2019-07-23 16:48] #59406 closed, assigned to nobody

[2019-07-23 16:58] mvorisek commented on #59352
Here is an output from the `win_whoami`:
[code]

The user has full Administrator priviledges and comparing to the Win 10 onle these priviledges are missing:
[code]

Please verify and confirm. It seems like an issue in the `win_chocolatey` module.

[2019-07-23 17:01] jean-christophe-manciot commented on #18978
the ```provider``` parameter is being deprecated in other networking modules.

[2019-07-23 17:01] #18978 closed, assigned to nobody

[2019-07-23 17:03] enzanki-ars opened #59460 "New mount state of remount does not accept options"
##### SUMMARY
The new mount state of `remount` (added with #52649) does not take into consideration `opts`.  For example, on systems secured with `noexec` on `/tmp`, it would be preferable to remount with `exec` temporarily without saving that to the `fstab`, as demonstrated below, then return back to `noexec` at the end of the playbook.  No errors or warnings are returned when calling `state: rem

[2019-07-23 17:06] okelet commented on #47945
Hey! Can this PR be merged? This issue makes the module unusable. Thanks!

[2019-07-23 17:18] okelet opened #59461 "Add support for AWS Lambda concurrency"
##### SUMMARY

Add support for AWS Lambda concurrency.

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/lambda.html#Lambda.Client.put_function_concurrency

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/lambda.html#Lambda.Client.delete_function_concurrency

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

lambda

##### ADDITIONAL INFORM

[2019-07-23 17:27] felixfontein commented on #59409
@samdoran cleaning up docker swarm sometimes hangs forever (or at least a long time) and causes that task to fail. We've thought earlier about solving this as follows: force-killing docker daemon, and restarting it, and trying to disable swarm afterwards; or potentially even purge the docker daemon installation after the force kill and reinstall it.

[2019-07-23 17:42] #41523 closed, assigned to Qalthos, ganeshrn

[2019-07-23 17:57] felixfontein commented on #59296
That's very strange. There seems to be something seriously wrong here, but I have no idea what it is. It's unrelated to Ansible, though... Maybe you should ask here: https://github.com/docker/docker-py/

Also, there's a similar issue here: #56576

[2019-07-23 17:57] nitzmahone opened #59462 "Subdir support for collection plugins/roles"
##### SUMMARY
The original 2.8 collections design did not support subdirs/subpackages under the plugin-type or role dirs- each plugin type and the roles dir only supported a single-level flat structure. eg, `myns.mycoll.mymodule` -> `myns/mycoll/plugins/modules/mymodule.py` is supported, but `myns.mycoll.subdir1.subdir2.othermodule` -> `myns/mycoll/plugins/modules/subdir1/subdir2/othermodule.py` i

[2019-07-23 17:58] felixfontein commented on #56576
Here's a similar error message with some attempts to find out what's going on: #59296

Maybe you could check whether you have the same problem as in that issue.

[2019-07-23 18:01] nitzmahone opened #59463 "Collection role meta dependencies"
##### SUMMARY
Collection roles may specify dependencies today, but they must be fully-qualified. Unqualified names are currently assumed to be legacy roles. Unqualified role names should first be evaluated as possible intra-collection roles first.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
AnsibleCollectionLoader

##### ADDITIONAL INFORMATION
Needed for collections testing so that coll

[2019-07-23 18:06] nitzmahone opened #59464 "Default collection for non-collection content"
##### SUMMARY
Currently, collection-hosted roles implicitly add the hosting collection to the top of the `collections` search order (so unqualified plugin/role refs are resolved against the collection content first). When a playbook is run from inside a collection (eg an integration test target playbook), that collection should be added to the top of the search order for all playbooks and non-coll

[2019-07-23 18:07] ShachafGoldstein commented on #58958
@blindrood - can you please add the output of `Get-CimInstance win32_networkadapter -Property *`? i want to make sure I write the best possible fix for this and it would take me a while to set up an environment of my own

[2019-07-23 18:10] balmha commented on #56576
Hi Felix, thanks for shared my issue, i currently have a similar error but I running Ansible as a localhost.

[2019-07-23 18:12] nitzmahone opened #59465 "Relative Python import support in collections"
##### SUMMARY
2.9/devel currently supports relative Python imports inside a collection for all but modules/module_utils. Extend the AnsiballZ analysis/bundling to support relative imports for those as well.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
module_common.py

##### ADDITIONAL INFORMATION
This is needed to minimize the number of places a collection must refer to itself by name.

[2019-07-23 18:25] mattclay commented on #59465
This will also simplify handling of code coverage within ansible-test for collections.

[2019-07-23 18:40] seifer44 commented on #55216
This error is still present in Ansible v2.8.1.

[code]

Error output is below from -vvvv. Some info has been redacted/replaced.

[code]

Here's the task:

[code]

My if statement used to work. However, it's the exact same error that OP reported; templating isn't working properly for this field.

[2019-07-23 19:17] ShachafGoldstein commented on #59352
@jborean93's comment still stands, you can modify your systems to add needed privileges to the user running the playbook.
you can use https://docs.ansible.com/ansible/latest/modules/win_security_policy_module.html#win-security-policy-module

[2019-07-23 19:25] seifer44 commented on #55216
Update: I can't even get the module to work with the `template` and `folder` arguments as plain text. This is against vSphere 6.5.0.23000.

[2019-07-23 19:25] mvorisek commented on #59352
Based on https://superuser.com/questions/894826/invoke-command-using-wusa-exe-in-powershell-wont-install-the-msu#894854 wusa.exe can not be used with WinRM.

The only possible solution seems to be to create scheduled task with elevated local priviledges and trigger it.

This is an issue of `win_chocolatey` as it can not currently install quite major packages on Windows 7 and this issue should not

[2019-07-23 19:31] jborean93 commented on #59352
As I said, the issue isn't due to groups or privileges the user has but how a WinRM logon is treated. Once again and as per the note on win_chocolatey, use become to overcome these issues.

[2019-07-23 19:36] mvorisek commented on #59352
@jborean93 I tried almost every possible combination of `become`. If you know the solution using `become`, please post. A solution how to install for ex. `KB3035131`.

[2019-07-23 19:37] #59351 closed, assigned to nobody

[2019-07-23 19:51] ShachafGoldstein commented on #57405
I wonder if we should add this specific case to the module or add to the docs an example of just running the command `choco feature enable -n useFipsCompliantChecksums` before running the module

[2019-07-23 19:56] jhawkesworth commented on #57405
@ShachafGoldstein perhaps it would be better as an example on `win_chocolatey_feature` module: https://docs.ansible.com/ansible/latest/modules/win_chocolatey_feature_module.html

[2019-07-23 19:58] jborean93 commented on #57405
@ShachafGoldstein people can easily use `win_chocolatey_feature` to set that feature, the issue is when chocolatey is not already installed. They cannot set the feature if no chocolatey is present and `win_chocolatey` will fail when it runs the first time because of this error.

We can probably do something about this but ultimately I don't see why this feature needs ot exist at all. My personal o

[2019-07-23 20:15] samdoran commented on #59409
@felixfontein That's what I'm doing now: just taking the existing cleanup tasks and applying them a bit more often. I'll keep at it.

[2019-07-23 20:21] jborean93 commented on #59352
Just testes this on a fresh new Windows 7 host
[code]
[code]

This is not an issue with `win_chocolatey` you will find that calling `wusa.exe` yourself with `win_command` will produce the same access is denied error if you are not using become. We implemented become mainly for this issue as it changes the logon type from an network logon to an interactive one and any action is pretty much replicat

[2019-07-23 20:52] #59451 closed, assigned to nobody

[2019-07-23 20:56] #59403 closed, assigned to nobody

[2019-07-23 20:58] mvorisek commented on #59352
@jborean93 Please excuse my tonality, I was probably doing something wrong - your code works, thank you very much!

PS: works even without `ansible_become_pass`

[2019-07-23 21:39] hoathenguyen85 opened #59474 "become for pbrun without become_user errors trying with do a string join on None"
##### SUMMARY
When I run ansible-playbook using become with become-method=pbrun, it gives error about **TypeError: sequence item 2: expected string or Unicode, NoneType found**.

To fix it I just went to https://github.com/ansible/ansible/blame/devel/lib/ansible/plugins/become/pbrun.py, to add code for when user is not specified in get_option, then set user=root using this code. `user = self.get_o

[2019-07-23 21:45] sivel commented on #59474
!component =lib/ansible/plugins/become/pbrun.py

[2019-07-23 21:46] sivel commented on #59474
Please feel free to submit a Pull Request to resolve this issue. This is a community maintained plugin, and we do not have the facilities available to test this plugins functionality.

[2019-07-23 22:14] jborean93 commented on #59352
Ansible 2.8 added the ability to use become on an account without specifying their password but that has it's own limitations (it's a batch not interactive logon). You could also set the `become_user: SYSTEM` to run as the system account without a password.

[2019-07-23 22:17] ryanmerolle opened #59477 "net_put non-standard port support"
##### SUMMARY
Add non-default / non-standard port to net_put module.  Its not something super common, but helpful.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
net_put.py

[2019-07-23 22:17] ryanmerolle commented on #59477
@gundalow

[2019-07-23 23:14] nitzmahone opened #59479 "Minimize Ansible imports in collection loader"
##### SUMMARY
The collection loader currently imports a number of things from Ansible, the heaviest of which is config/constants. This makes it heavyweight and somewhat dangerous for ansible-test and unit tests to use. Refactor it to minimize those imports and supply the necessary impls another way (constructor, DI pattern, etc).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
AnsibleCollec

[2019-07-24 00:00] jillr commented on #51159
resolved_by_pr #56903
@bengerman13 Apologies for the delay in reviewing your PR, looks like this one has been resolved by another patch in the meanwhile.  If that doesn't resolve this issue please re-open.

[2019-07-24 00:00] #51159 closed, assigned to nobody

[2019-07-24 00:28] mjbnz commented on #16305
(ignore that sorry, I made a boo boo)

[2019-07-24 00:56] AirCombat opened #59485 "win_domain_user attributes do not comply with convention and cannot be fixed using module"
##### SUMMARY
Hi,

I am trying to create users that have attributes consistent with the format microsoft intends for those fields. Active Directory will create users with the following values:
[code]
win_domain_user creates users with the sAMAccountName set to the display name instead of username. The breaks multiple applications which rely on sAMAccountName for login.

If I try to correct this by

[2019-07-24 02:13] ps-jay commented on #46379
Hi all,

FYI this bug also effects if `--extra-vars` is provided on the CLI with a leading new-line.

For example:
[code]

[2019-07-24 02:39] jeffrey4l commented on #59370
thanks. close for duplication.

[2019-07-24 02:39] #59370 closed, assigned to nobody

[2019-07-24 03:01] mulatinho commented on #46768
Hello everyone, it is my first contribution to the project, I have added the possibility to create a zone with `--dynamic-update=TRUE` option, I hope everything is OK and it helps people like @nspitsky .

The default option continues to `FALSE` .

https://github.com/ansible/ansible/pull/59489

[2019-07-24 06:52] Fanduzi opened #59493 "how to use ipaddr filter get ip"
"ansible_all_ipv4_addresses": ["192.168.2.224", "192.168.3.120", "192.168.16.135", "192.168.3.223", "192.168.3.224", "10.1.2.224"],

The ip of our server is 192.168.1.x. and 192.168.2.x .keepalived vip are 192.168.3.x and 192.168.16.x
How can I use ipaddr to get the ip of 192.168.1/2.x

in the case I only want to get the ip 192.168.2.224.

[2019-07-24 07:32] qianghong000 opened #59495 "If you require Python 3 support use the `dnf` Ansible module instead"
"msg": "The Python 2 bindings for rpm are needed for this module. If you require Python 3 support use the `dnf` Ansible module instead.. The Python 2 yum module is needed for this module.

help me..

[2019-07-24 07:33] Fred-sun commented on #54440
@MyronFanQiu Can you close this issue? azure_rm_firewall already add in devel, Please check, thanks a lot!

[2019-07-24 07:39] Fred-sun commented on #54914
@MyronFanQiu Please help take a look this issue when you're free! Thanks a lot!

[2019-07-24 07:41] MyronFanQiu commented on #54440
@Fred-sun I cannot close the issue in this repo. FYI.@zikalino @yungezz

[2019-07-24 08:04] imlight opened #59496 "Not able to access Azure blob with service principal from ansible module azure_rm_storageblob"
##### SUMMARY
Not able to access Azure blob/container with service principal from ansible module azure_rm_storageblob

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_storageblob

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Target Azure cloud
Source , Linux 7.4

##### STEPS TO REPRODUCE
Create storage account , ans create a service principal  key

[2019-07-24 08:18] #58914 closed, assigned to nobody

[2019-07-24 08:25] #59442 closed, assigned to nobody

[2019-07-24 08:45] Vladimir-csp opened #59498 "Please add syslog_priority parameter"
##### SUMMARY

Please add a parameter to set syslog priority on target machines, along with defaults/syslog_facility.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

core

[2019-07-24 08:45] johnhckuo commented on #34144
issue still persist in ansible 2.8.2.post0

[2019-07-24 08:51] virtuoz75 opened #59499 "Unable to lauch shell module as an unprivileged user [Failed to set permissions on the temporary files]"
##### SUMMARY

I am trying to launch commands on a remote AIX machine with the shell module,
Some of these commands need to be run by an unprivileged user (oracle) so i use a - block then apply a become_user: oracle to the - block
I saw at this page (https://docs.ansible.com/ansible/latest/user_guide/become.html#becoming-an-unprivileged-user) that i can set the {{ allow_world_readable_tmpfiles }}

[2019-07-24 08:53] markuman commented on #58786
I've figured it out.

#56844 same issue.
https://github.com/ansible/ansible/issues/29296 solves it for me using ansible 2.8.2

[2019-07-24 08:55] blindrood commented on #58958
[gist net dump](https://gist.github.com/blindrood/e4565c8fe406f60529c89dcc0b490aa4)

[2019-07-24 08:55] markuman commented on #56844
@rosmo can you make a pull request?

[2019-07-24 09:28] mkrizek commented on #59493
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-24 09:28] #59493 closed, assigned to nobody

[2019-07-24 09:30] mkrizek commented on #59495
You don't have Python 2 bindings for rpm and yum as the message says, you need to install them.

[2019-07-24 09:31] mkrizek commented on #59495
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-24 09:31] #59495 closed, assigned to nobody

[2019-07-24 09:33] mkrizek commented on #59146
I am going to close this as per above.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-24 09:33] #59146 closed, assigned to nobody

[2019-07-24 09:35] #59414 closed, assigned to nobody

[2019-07-24 09:38] GVeitBatz commented on #29298
Hi, I just came over this issue because I want to snapshot an lxc container but with an ip address different from the original container; this means I want to **replace** the ip address. Obviously, this does not work currently and I get a snapshot container having **two** ip addresses (one from the original container and the new one).

Lxc allows multiple ip addresses per container. So what we nee

[2019-07-24 09:40] bieron opened #59501 "'become_exe' is not a valid attribute for a Play (2.8.2)"
##### SUMMARY
become_exe option is not allowed in play

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
privilege escalation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Escalates using given exe

##### ACTUAL RESULTS

It fails with the following error

[code]

It seems to be an issue with playboo

[2019-07-24 10:00] blindrood opened #59504 "win_template and win_copy with content should support encoding"
##### SUMMARY
Mentioned modules should allow to select encoding for a file (defaulting to utf8 or utf16)
I have a requirement to generate simple files with ascii encoding. I can't do that with neither win_copy nor win_template

win_copy currently creates file with UTF16
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_copy
win_template

##### ADDITIONAL INFORMATION
Tested on WinSrv 2016,

[2019-07-24 10:12] Akasurde commented on #52625
resolved_by_pr #59500

[2019-07-24 10:21] mkrizek commented on #59501
Fixed in #54002

cc @bcoca

[2019-07-24 10:32] stefano-m opened #59508 "aws_ec2 inventory plugin silently modifies hyphenated group names in ansible 2.8.2"
##### SUMMARY

In Ansible **2.8.2**, the [`aws_ec2` inventory plugin](https://docs.ansible.com/ansible/latest/plugins/inventory/aws_ec2.html)
changes hyphens (`-`) to underscores (`_`) in group names, breaking playbooks
that use hyphenated group names. This behavior is absent in Ansible 2.7.6.

This issue is particularly nasty because there is no sign about the name change in the **playbook** outp

[2019-07-24 10:44] Constantin07 opened #59509 "yum or package module - No package matching is available when using url"
##### SUMMARY
The install of package via `yum` or `package` module from url doesn't work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum
package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Running playbook on MacOS.
Ansible installed via `brew install ansible`

##### STEPS TO REPRODUCE
Run the above playbook.

##### EXPECTED RESULTS
Package install

[2019-07-24 10:50] mkrizek commented on #59509
This is expected. `https://collectors.eu.sumologic.com/rest/download/rpm/64` does not point to an RPM file. The yum command line behaves the same:
[code]

[2019-07-24 10:58] Constantin07 commented on #59509
@mkczuk thanks for getting back.

It does stream the package back though.

[2019-07-24 11:26] jtyr commented on #59460
The `state: remount` is using hardcoded `-o remount` option for the mount command if it's supported (otherwise it runs `umount` and `mount`). If you want to change options for a mount point, please use `state: mounted` with the new options which will change the `fstab` and remounts the mount point with the new options.

[2019-07-24 11:43] jfcgaspar opened #59512 "iosxr_command is slow"
##### SUMMARY
When using ansible version 2.8.2, the execution of commands on a Cisco IOS-XR device using the Ansible **iosxr_command** module takes way too long to run.
When using an earlier version of Ansible (tried with ansible version 2.5.1), the execution time is significantly lower for the exact same playbook with the same parameters.

The difference in execution time per command is of anywhe

[2019-07-24 11:44] coreaut opened #59513 "pulp_repo - using repo with tls client auth fails"
##### SUMMARY
When you wan't to create / update a repo which needs tls client auth for sync (like redhat repos)
this breaks because this module uses the following vars:
[code]
which overlap with the fetch_url vars which also use those.
So the api calls to your local pulp server are also made with tls client auth and
not only for the remote repo.

This only affects users who wan't to sync RedHat re

[2019-07-24 11:44] nkrishnakishor opened #59514 "Unable to connect windows host"
##### SUMMARY
Unable to connect windows host using winrm

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.6.

##### STEPS TO REPRODUCE

ansible windows -m win_ping

[code]
Below is the content of hosts file
[code]
Below is the output when we run winrm get winrm/config/Service on windows m

[2019-07-24 11:59] vperron commented on #47770
@endorama we are so interested.

[2019-07-24 12:00] coreaut commented on #59513
Ah fix for this problem:

[code]

[2019-07-24 12:10] coreaut commented on #59513
renaming module parameter ca_cert etc. is not a problem because they are broken and not usable currently anyway.

[2019-07-24 12:13] ganeshrn commented on #59512
In 2.8 buffer read timeout was added to resolve truncated response issues. You can disable it by adding below configuration in ansible.cfg file
[code]
Please share the performance details after the above setting.

needs_info

[2019-07-24 12:55] coreaut commented on #59513
In my pull request i renamed them to:

[code]

to clearly show for what they are used and to avoid confusion.

[2019-07-24 13:06] jfcgaspar commented on #59512
I tried buffer_read_timeout = 0 and results are identical

[2019-07-24 13:06] jpmahowald commented on #58388
Now with working backends. Closing.

[2019-07-24 13:06] #58388 closed, assigned to nobody

[2019-07-24 13:28] coreaut commented on #59513
The params have been renamed in #54315 but they wrongly understood the context of those params.

The original parameters for the module are only intended to be used by pulp to use tls client auth with a remote repo (the feed) for syncing.

Now they are used with every https call by the ansible module. Which is wrong because the module only supports http_basic_auth for the communication with the pu

[2019-07-24 13:31] enzanki-ars commented on #59460
The reason for this being a bug report is that `state: remount` ignoring `opts` is not documented, and can lead to confusion about the state of the machine, especially when ansible returns `"opts": "exec",` as a part of the changed state.

Additionally there are use cases where a mount should be done temporarily and interacting with the `fstab` is not desired.  My use case is documented in the iss

[2019-07-24 13:38] enzanki-ars commented on #59460
Personally, I would like to see the `mount` module support `remount` with new `opts`.  I am willing to submit a PR for this change as it does not seem to be a breaking change on first glance, but handling the comment at https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/mount.py#L417 will be a problem as the fall back path to calling `umount` then `mount` if `remount` fails w

[2019-07-24 13:42] ShachafGoldstein commented on #59485
Duplicate of #45298

[2019-07-24 13:44] bcoca commented on #59501
Did this ever work before current devel? checked 2.8, 2.7 and 2.6 and could not find a case in which it did.

Not sure if this is a bug, but a feature request .. which has already been added for 2.9.

needs_info

[2019-07-24 14:04] jtyr commented on #59460
I understand that the behavior you expecting would be handy but that would require non-trivial modifications of the module. I'm be keen to review a PR with such change if you willing to create one.

[2019-07-24 14:20] jpmahowald opened #59531 "lookup_passwordstore integration test fails on EL7"
##### SUMMARY
lookup_passwordstore integration test fails on EL7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/lookup/passwordstore.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7 (GCP image)
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Test without error

##### ACTUAL RESULTS
pass package is not available.

[2019-07-24 14:20] jpmahowald commented on #59531
EPEL 7's package was removed as broken. https://bugzilla.redhat.com/show_bug.cgi?id=1639806   Apparently there is an incompatibility with its use of git and tree. Consider finding some other repo with the right version. Or digging through EPEL for an old without fixes pass version.  https://bodhi.fedoraproject.org/updates/?packages=pass&release=epel-7

[2019-07-24 14:25] pabelanger commented on #59326
I don't believe junos_ping is supported using netconf, however need to confirm.

[2019-07-24 14:33] pabelanger commented on #58985
It looks like there is a PR already raise, which may be related. Do you mind trying with #59298

[2019-07-24 15:59] agowa opened #59538 "PowerShell CI Syntax check"
##### SUMMARY

For powershell modules we need an additional ci check. Currently syntax errors are not always covered. The ci for example does currently not cover usage of elif instead of elseif (former is python later is powershell).

Example shippables: https://app.shippable.com/github/ansible/ansible/runs/133592/1/console
It erroneously reports unused variables instead of a syntax error.

+label

[2019-07-24 16:38] AirCombat commented on #45298
IMO, the module should reference the name/cn/dn of the user. Thats is already consistent with the attributes the module creates according to the module's name attribute, and the name attribute in ad cannot be modified once set. Using the SID/GUID would require to edit the variable again after the account is created which is really ugly.

Ideally the module should be able to take First Name, Last N

[2019-07-24 17:00] duckie commented on #56930
I agree with all the detractors here.

In addition to breaking playbooks, this contributes to what I call the convention mess in ansible. Now hostnames and groups names have a different convention, just because some isolated beginners stumble upon the hyphen issue in dot notation ? Guess what ? They will stumble on it still, and the feature will have succeeded in angrying people and not solving an

[2019-07-24 17:29] FireFart commented on #30022
Just came across the same issue. Would it be a problem to flush privs after a user was changed?

[2019-07-24 17:38] Devin82m opened #59544 "Windows Installers With Response Files Run Via PowerShell Fail"
Hello, installs via win_shell, win_command, and raw fail when using response files in conjunction with EXE/MSI installers. We have tried adding pauses and numerous other work around tricks, but nothing helps, we have also spoken to people in your IRC channel and nothing was suggested we hadn't already tried. The installers will either seemingly install, but then we will find numerous DLLs are miss

[2019-07-24 17:41] #59326 closed, assigned to NilashishC

[2019-07-24 17:48] joelzamboni commented on #54886
Happened to me too.

[2019-07-24 17:55] samdoran opened #59545 "win_credential tests failing"
##### SUMMARY

`win_credential` tests are failing on during nightly runs in `devel`
https://app.shippable.com/github/ansible/ansible/runs/133490/46/tests

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`win_credential`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Shippable CI

##### STEPS TO REPRODUCE

Run Shippable tests with `COVERAGE="yes"` and `COM

[2019-07-24 17:56] justjais commented on #56602
@siemsen it definitely seems to be paramiko issue, and seems like other users with Cisco 6509 switches are also having the trouble (ref: [paramiko_issue_965](https://github.com/paramiko/paramiko/issues/965)).

I'll check with the team as well if they have any resolution to the issue.

[2019-07-24 17:58] justjais commented on #58513
@pabelanger wanted to check if we are still observing this particular issue.

[2019-07-24 18:24] acozine commented on #47068
@torched99 passing different parameters is covered in the docs at https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-duplication-and-execution. The default behavior of Ansible is to skip any role that is duplicated in a playbook, so setting `allow_duplicates: false` should have no effect. We will do some testing on your playbook above and see if we can replicate the

[2019-07-24 18:25] #46347 closed, assigned to nobody

[2019-07-24 18:30] HonkingGoose opened #59547 "ansible-playbook --syntax-check: error message for spaces not well-formed"
##### SUMMARY

Misspelled words, missing punctuation, capitalization in error message from ```ansible-playbook --syntax-check```

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

There's no output from the ansible-config dump command.

##### OS / ENVIRONMENT

Ubuntu 18.04.2 LTS, installed Ansible from *ppa:ansible/an

[2019-07-24 18:30] acozine commented on #46269
We think this has been addressed. For users who want to integrate `become` with PowerBroker, we strongly recommend upgrading to Ansible 2.8 and using https://docs.ansible.com/ansible/latest/plugins/become/pbrun.html.

@imthenachoman if you still have unsolved concerns, please open a new GitHub issue.

[2019-07-24 18:33] HonkingGoose commented on #59547
I tried searching the ```ansible/ansible``` master branch for **intendation** but that yields no results...
So I'm not sure where this error message is coming from.

[2019-07-24 18:37] fabianvf commented on #54886
Could you let me know the output of this script? Not much we can do about it Ansible side so would be nice to know what project is causing the error.

[code]

[2019-07-24 18:38] thedoubl3j commented on #46235
hey @funixz is this still an issue for you? the `gcp_compute_instance` module docs have been updated and require fewer fields, would you be alright with closing this or is this still causing problems?

Module docs for ref [here](https://docs.ansible.com/ansible/latest/modules/gcp_compute_instance_module.html#gcp-compute-instance-module)

[2019-07-24 18:39] acozine commented on #45684
A section in the developer guide for VMware development now exists: https://docs.ansible.com/ansible/devel/dev_guide/platforms/vmware_guidelines.html#vmware-module-development. Additions/corrections welcome in separate issues and/or PRs.

[2019-07-24 18:39] #45684 closed, assigned to nobody

[2019-07-24 18:40] ssbarnea commented on #59233
@felixfontein Please have a look at https://github.com/ansible/ansible/pull/59540 -- mainly that one allows me to use extra_hosts in molecule.

[2019-07-24 18:40] #45662 closed, assigned to samccann

[2019-07-24 18:42] #59509 closed, assigned to nobody

[2019-07-24 18:48] thedoubl3j commented on #44133
!componet -docs/docsite/rst/network/dev_guide/developing_plugins_network.rst

[2019-07-24 18:48] thedoubl3j commented on #44133
!component -docs/docsite/rst/network/getting_started/basic_concepts.rst

[2019-07-24 18:51] acozine commented on #43853
@theq86 are you still seeing this problem? did the comment above help?

[2019-07-24 18:54] sasjowood opened #59548 "Modules in parallel library/ directory not found for imported playbooks in Ansible 2.8"
##### SUMMARY

In Ansible 2.7, when I imported a playbook in another directory, custom modules in a library directory located parallel to that playbook were found, and the play executed without issue.

In Ansible 2.8, those custom modules are no longer found, and the library directory must be parallel to the root playbook for successful execution.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2019-07-24 18:54] acozine commented on #43379
@s-hertel @jillr @goneri is this issue still relevant?

[2019-07-24 18:56] jborean93 commented on #59545
This should no longer be an issue now that https://github.com/ansible/ansible/commit/1010363c0bebaf4ef3c34ac858d74de5ca01fc7b is merged

[2019-07-24 19:17] wbertelsen commented on #56930
Ansible group names should be capable of respecting the naming of the real world groups they represent.

 If all other tooling calls a set of hosts `my-backend-service` why should ansible force operators to translate that to `my_backend_service` to satisfy python's naming rules?

[2019-07-24 19:17] benjdudas opened #59549 "ansible_net_model is not populated when "C" in Cisco is lowercase in `show version`"
##### SUMMARY

When the "C" in Cisco is lowercase in `show version` the `anislbe_net_model` is not being populated.

Example from show version:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Allow regex match of lowercase "C"

[2019-07-24 19:41] someconservator commented on #59508
this behaviour is not only for aws_ec2. this is common bug for all inventory. We have this trouble too in ouк script based inventory.

[2019-07-24 19:42] pabelanger commented on #58513
Yah, we do. I can get up a reproducer so you can see it locally

[2019-07-24 19:44] nitzmahone commented on #59544
@Devin82m Sorry, this isn't an actionable bug report, just like #58028. You've not given us any explicit steps to reproduce (what installers, what's your playbook look like)... You're also working in an area where you're at the mercy of the installer vendor to ensure their stuff works under headless non-interactive scenarios- there's usually nothing we can do in Ansible to work around that (short

[2019-07-24 19:53] sasjowood commented on #59548
We were able to work around this by defining a symlink in our git repository so that the library/ folder from our imported playbook was sym'd to the directory containing the root playbook. However, this has its limitations. Namely, it only works when a clone is performed and it will not work correctly on Windows.

[2019-07-24 20:05] sivel commented on #59548
This was caused by https://github.com/ansible/ansible/commit/445ff39f944f45492bf7b2360d99fdadc02d142b

Likely this specifically: https://github.com/ansible/ansible/commit/445ff39f944f45492bf7b2360d99fdadc02d142b#diff-fc760c36dc6711859d36682f1b52b8f9L67

It seems that was removed in favor of doing it in `lib/ansible/cli/playbook.py` instead, but that only affects the initial playbook, and wouldn't

[2019-07-24 20:10] Devin82m commented on #59544
Yes, we have tried install view a remote PS session and it works. As for runas, we already run as an admin user.

Beyond that we have contacted Cognizant a few times to get them to add command line parameters, which is silly, and they have refused. We had this issue with installing the IBM MQ client as well with a response file, but it just so happened they had a clearly defined set of parameters

[2019-07-24 20:20] stefano-m commented on #59508
Possibly introduced by commit https://github.com/ansible/ansible/commit/d241794daa6d413e6447890e2a4f11e0d818cf0e by @bcoca

Since it's in `ansible.inventory.group` I'm not surprised that it affects multiple parts of the system.

[2019-07-24 20:20] MarkusTeufelberger commented on #44828
No input for half a year, I think this can be closed.

Despite the name, we try to keep the `openssl_*` modules fairly generic instead of depending on OpenSSL itself. If something is possible with these config files that isn't possible with module parameters, this should be reported as separate issue.

wontfix

[2019-07-24 20:22] stefano-m commented on #59508
@ansibot !component +lib/ansible/inventory/group.py

[2019-07-24 20:23] stefano-m commented on #59508
@someconservator please leave a :+1: reaction to the issue if it's relevant to you as the ansible team measures that metric.

Thanks.

[2019-07-24 20:40] kalebwalton commented on #15297
Same...

[2019-07-24 20:51] sivel commented on #58918
!component =lib/ansible/executor/task_executor.py

[2019-07-24 20:53] sivel commented on #57958
!component =lib/ansible/executor/task_executor.py

[2019-07-24 21:12] jbflowers commented on #59167
Not sure about the error message, but I was able to determine the issue that caused the pip problems in the first place. Seems the current `epel-release` package containing `pip` for RHEL 7 installs pip incorrectly; it moves `pip` related packages to `/usr/lib/python2.7/sitepackages` as read-only for root. Then, whenever another use attempts to run `pip` they get a "module not found" exception. Th

[2019-07-24 21:14] cpmills1975 opened #59558 "Netbox: Ability to query for non-device/vm related data"
##### SUMMARY

Modules designed to modify Netbox also provide a means to query Netbox -or- lookup plugins to obtain lists of information from Netbox

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

netbox_*

##### ADDITIONAL INFORMATION

I see a number of people are contributing on writing modules to modify data held in Netbox. It would be useful if these modules, or perhaps a generic 'quer

[2019-07-24 21:37] bcoca commented on #59547
the last part from `pyyaml` library, which is the YAML parser we use, we capture it and try to show it with more context so people can fix the issue, but Ansible itself does not generate the underlying error.

[2019-07-24 21:56] sivel commented on #59547
Yes, that error actually comes from libyaml which is used in the C implementation of pyyaml:

https://github.com/yaml/libyaml/blob/567353cee9c8c5f8de1f438f89a9a2fa7a7b06fe/src/scanner.c#L3526

[2019-07-24 21:57] ennkayhub commented on #40984
The workaround with aws cli I came with is to check the health of the targets on a given target group:

aws elbv2 describe-target-health --target-group-arn <arn> --region xxx

Output:
TARGETHEALTHDESCRIPTIONS port#
TARGET	i-456xxxxxxxxxx	port#
TARGETHEALTH	healthy

Still waiting for module to be fixed.

[2019-07-24 22:50] nicolemon opened #59560 "GitHub Enterprise support"
##### SUMMARY

Add GitHub Enterprise support to the GitHub modules that don't currently support it by adding a single optional parameter for the GitHub API URL which defaults to non-enterprise GitHub, similar to how this is handled in the `github_webhook` module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- `github_deploy_key`
- `github_key`
- `github_issue`
- `github_release`

#####

[2019-07-24 22:53] mattclay opened #59561 "Consolidate ansible-test sanity ignore/skip files"
##### SUMMARY

Consolidate all of the ansible-test sanity ignore and skip files into a single file. This will provide a much simpler method for adding ignore/skip entries to collections, without the need to create one directory and file per sanity test needing a skip or ignore entry.

This means all of the various files under `test/sanity/ignore*.txt` and `test/sanity/skip*.txt` would be combined

[2019-07-24 22:54] cpmills1975 commented on #59558
So I've got a PoC up and running as a lookup plugin. Quick question: I know a lookup plugin should generally return a list, but is it ever acceptable for it to return a dict? I'm looking up tenancy's and each tenancy contains many attributes. Should the lookup plugin simply return a list of tenancies, or is it acceptable to return a dict, keyed on the name with the value being a dict of all the at

[2019-07-24 23:07] skyscooby commented on #15476
Handlers are feature that was well intended but soooo unnecessary necessary.

For anyone who uses Ansible beyond a small scale handlers are just playing with dragonfire.. out of sequence actions that you never planned are the norm when stacking roles..  It's kinda sad that Ansible lint pushes this feature by default 'tasks that do something when changed should probably be a handler'.. YEAH RIGHT..

[2019-07-24 23:12] imthenachoman commented on #46269
I don't think the update solves the problem of using PowerBroker with roles. I will look into it and report back.

[2019-07-24 23:36] mattclay opened #59562 "Require Python 3.5+ for most ansible-test sanity tests"
##### SUMMARY

All "code smell" sanity tests in ansible-test already require Python 2.7+, while some regular sanity tests (pylint, validate-modules) already require Python 3.5+ to function.

To simplify management, development and testing of sanity tests, all single version sanity tests should be restricted to running on Python 3.5 or later. This will also allow use of newer versions of external t

[2019-07-24 23:53] mattclay opened #59563 "Support testing collections with deps using --docker"
##### SUMMARY

Running tests on collections which have dependencies with the `--docker` option is not currently supported. Only the collection being tested is copied into the container.

All collections in the same collection root should be copied into the container. Support for dependencies in other collection roots will not be supported. It will be up to the user to make sure all the necessary d

[2019-07-25 00:02] mattclay commented on #59563
This change should also include updates to the layout when using `--docker`. The current layout is:

- `~/ansible/` - ansible source
- `~/ansible/ansible_collections/` - collections

The new layout should be:

- `~/{working_dir}/ansible/` - ansible source
- `~/{working_dir}/ansible_collections/` - collections

This will avoid nesting the collections inside the ansible source, keeping the layout se

[2019-07-25 01:01] bincyber commented on #59560
Hi @nicolemon. Thank you for requesting this feature. I agree that all of the GitHub modules should support GitHub Enterprise. I have updated the `github_deploy_key` module to support GitHub Enterprise, however I will need #36876 merged first so that I can rebase those changes on top.

[2019-07-25 01:22] dchosnek commented on #45298
The problem is that once you've specified the samAccountName, you can no longer query the account with win_domain_user by **name** to acquire the SID. You end up with a playbook that is either not idempotent or requires coding if/then dependencies.

I can run the following tasks once, but I get an error if I try to run them a second time. I would have to query for both `Bob Smith` and `bsmith` to

[2019-07-25 04:05] jborean93 commented on #59544
You need to make sure this was through PowerShell with the `Enter-PSSession` cmdlet and not just opening a PowerShell window when going through RDP to truly test this out.

That is not what become/runas is for. You can use become/runas to change the logon type from a network logon to a psuedo interactive logon. This can be very important as Windows places a few limitations on what a network logon

[2019-07-25 04:05] #59544 closed, assigned to nobody

[2019-07-25 04:34] Devin82m commented on #59544
Hey @jborean93 , all of this is INCREDIBLY helpful, this is more of the type of answer I was looking for as opposed to "this isn't worth our time", I appreciate you taking the time. This is what I was hoping to get in the IRC channel, instead it was all stuff I had already tried like adding a Pause and a couple other things. As for your response, there are a few things in there I didn't know exist

[2019-07-25 06:29] #44828 closed, assigned to nobody

[2019-07-25 07:30] keirazhang opened #59572 "VMware: vmware_guest_network: adding new network adapter reports "Network 'VM Network' does not exist""
##### SUMMARY

Adding new network adapter always reports network doesn't exist
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_network
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

New network adapter is added

##### ACTUAL RESULTS

[code]

[2019-07-25 07:42] Tomorrow9 commented on #59572
I'll take a look at this issue. Thanks.

[2019-07-25 07:48] HonkingGoose commented on #59547
Thank you for your comments @bcoca and @sivel. I'll go fix this with a PR on the libyaml repo. :)

[2019-07-25 08:04] mkrizek commented on #59547
Thanks @HonkingGoose. I am going to close this since it's now tracked in https://github.com/yaml/libyaml/pull/151.

[2019-07-25 08:04] #59547 closed, assigned to nobody

[2019-07-25 08:18] Nurlan199206 opened #59573 "can't ssh access to VM after create instance... gcp_compute_instance"
##### SUMMARY

I am using gcp_compute_instance for deploy instances but can't SSH access after instance creation.
![gcp](https://user-images.githubusercontent.com/22808731/61858304-a9258e80-aee7-11e9-8a51-43c5ce896dbc.PNG)

![image](https://user-images.githubusercontent.com/22808731/61857317-b6417e00-aee5-11e9-97c9-61dc3c7df94f.png)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`gcp_comput

[2019-07-25 08:41] Akasurde commented on #59572
@keirazhang Thanks for reporting this issue. PR https://github.com/ansible/ansible/pull/59533 tries to solve this issue. Could you please take a look and provide your feedback ?

Thanks.

needs_info

[2019-07-25 08:41] qianghong000 commented on #59495
How do I need to solve it?

[2019-07-25 09:19] Rajinikamu84 commented on #59447
Hi Team,

Please someone can help me on this

[2019-07-25 09:50] keirazhang opened #59576 "vmware_deploy_ovf: AttributeError: 'vim.ServiceInstance' object has no attribute 'rootFolder'"
##### SUMMARY

Deploying OVF got AttributeError

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_deploy_ovf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-07-25 10:06] pierrehenrymuller commented on #52408
I agree with this feature to pass passphrase from external vault like ArchyVault or Syspass with lookup directly and not need to write temporary files on target.

[2019-07-25 10:08] tclavier commented on #59301
@ksubileau that work fine, just a typo in your sample :

Not : `user: windows_domain\windows_user` but `username: windows_domain\\windows_user`

[code]

[2019-07-25 10:11] Akasurde commented on #59576
@keirazhang Thanks for reporting this issue. Could you please check if this branch https://github.com/ansible/ansible/compare/devel...Akasurde:i59576 resolves the issue for you ? Thanks.

needs_info

[2019-07-25 10:12] Akasurde commented on #59576
regression introduced via de66abe52182bc124ffbd0ef0559375d471c79fe

[2019-07-25 10:36] jborean93 commented on #59301
Just an FYI, you only need to escape `\` with `\\` when you have quoted the value with double quotes. If you don’t quote the value or use single quotes then `\` is fine

[2019-07-25 10:59] Saurabh-Thakre opened #59578 "Add relational operators in "name" parameter of package module"
##### SUMMARY
Add " <, >, <=, => " operators in name parameter of package module. Currently we can specify

[code]

we should be able to use relational operator including following

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Module name : **package**

An example with one of the relational operator on how it would look after implementing the rfe

[code]

[2019-07-25 11:08] sathiarajah opened #59579 "os_stack is not able to update existing stack and throw KeyError: 'tags error"
##### SUMMARY
We are not able to update existing stack using os_stack, the error shown,

"exception": "Traceback (most recent call last):\n  File \"/var/lib/awx/.ansible/tmp/ansible-tmp-1564026090.37-166098855670149/AnsiballZ_os_stack.py\", line 114, in <module>\n    _ansiballz_main()\n  File \"/var/lib/awx/.ansible/tmp/ansible-tmp-1564026090.37-166098855670149/AnsiballZ_os_stack.py\", line 106, i

[2019-07-25 11:12] pugnacity opened #59581 "Netbox: support for Custom Field choices"
##### SUMMARY
When creating a filter for a custom field from type selection it would be great to use the label instead of the ID.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
netbox

##### ADDITIONAL INFORMATION
I would expect when query for a custom field i could use the label field instead the ID.
[code]
The Netbox API does support this, when the `/api/extras/_custom_field_choices/` ha

[2019-07-25 11:13] goneri opened #59582 "vmware_guest_network: The hot-plug operation failed."
##### SUMMARY

The `vmware_guest_network` test-suite fails with the following error:

[code]

The VM uses the `debian8_64Guest` flavor. I also can manually add a network interface through vCenter web interface.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

vmware_guest_network

##### ANSIBLE VERSION

devel branch

##### STEPS TO REPRODUCE

https://docs.ansible.com/ansible/devel/dev_guide/

[2019-07-25 11:33] willthames commented on #54886
My guess is that there's a server in `~/.kube/config` missing an `https://` or something looking at the error message.

This might help diagnose - feel free to update the path to your kube config if it isn't `~/.kube/config`
[code]

[2019-07-25 12:16] AlanCoding opened #59584 "In CLI commands, validate collection fully qualified name"
##### SUMMARY
As a nicety to the user, `ansible-galaxy collection` should check certain properties of the `collection_name` argument, and provide helpful suggestions about expected format.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/galaxy/collection.py

##### ADDITIONAL INFORMATION
When getting this message, it's not clear to the user what they should do differently:

[code

[2019-07-25 12:44] xamza1412 opened #59585 "airos"
Goog afternoon, why i can execute command via ansible , but via ansible-playbook , appears error:
_ansible RADIO -m raw -a "cat /tmp/system.cfg" -u admin_ - its work

_- name: Show interface status
   hosts: RADIO
   gather_facts: false
   connection: local

   tasks:

    - name: change shaper
      environment:
         PATH: "{{ ansible_env.PATH }}:/bin"
      shell: "cat /tmp/system.cfg"_ - do

[2019-07-25 13:11] hoerup commented on #59133
See https://github.com/ansible/ansible/pull/59366

[2019-07-25 13:17] skyscooby commented on #56930
It's is a really sad day today.. When a JR co-worker raised this deprecation to me I was like no way would the Ansible team be so out of touch with reality to make such a selfish choice. I absolutely love Ansible for what it can accomplish (from a user perspective that has ZERO to do with it being written in Python) The direction here to push PEP standards on end users makes me completely loose fa

[2019-07-25 13:30] andyfeller opened #59590 "Add support for ansible-vault encrypt_string to write results to file more easily"
##### SUMMARY

Whenever I use `ansible-vault encrypt_string`, I want to take the result and add it to a variable file, however I have to manually select the text/copy/open file for editing/paste/save the change.  This process is painful especially when you have multiple strings to encrypt as it doesn't work with the Unix way of things thus being very manual.   I thought `ansible-vault encrypt_stri

[2019-07-25 13:33] mj84 commented on #56930
As this behavior is obviously very controversial, I am asking myself if this is a done deal and this is going to be implemented in any case?

I would very much appreciate a response from the people behind this decision and hope for some elaboration beyond "this is a python standard thing".

[2019-07-25 13:52] mback2k commented on #58802
Some thoughts about this:  I guess that changes need to be made to https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/task_include.py#L101 in order to make get_vars inherit keyword arguments specified via "inherit" from the parent task object. Can someone confirm if this would be the correct way to go?

[2019-07-25 13:57] maglub commented on #56930
I agree with you. Just recently the "go" project backed out of an impopular proposal (see https://github.com/golang/go/issues/32437#issuecomment-512035919), so things like this can (and sometimes should) be revisited and eventually also backed out.

It is also an interesting topic and discussions, perhaps not only for this feature change. It is hard to figure out how the governance of Ansible as a

[2019-07-25 14:11] tmeralus commented on #56636
Having the same issue on Ubuntu 18.04 and Centos 7

[2019-07-25 14:37] bali007861 opened #59594 "Add Virtualization Support for Netbox module"
##### SUMMARY

Hello All,
It seems that Ansible netbox module can only create/delete/modify physical devices but not virtual machines.
##### ISSUE TYPE
- Feature Idea
Is it possible to add this feature or is there something I am missing in the documentation.
##### COMPONENT NAME

Netbox
##### ADDITIONAL INFORMATION

Most workloads these days are virtualized, adding this feature will greatly enhanc

[2019-07-25 15:54] #54736 closed, assigned to nobody

[2019-07-25 16:05] #48787 closed, assigned to nobody

[2019-07-25 16:11] DylanYoung commented on #47517
The `and` behaviour makes the most sense and should be the default:

I'm telling ansible that my command creates a file and removes another and to run this command only if it would make changes, then if either the creates-file does not exist or the removes-file does exist, I know that I need to run the command ('changed').  This is the opposite of the current behaviour as elaborated in this ticket

[2019-07-25 16:13] sivel commented on #56345
I've looked into this a little bit, and I believe the solution is going to be a little difficult.

The problem is that the task, is run through `post_validate` in `TaskExecutor` which happens in a fork. It does raise `AnsibleParserError`, but the only way to relay that back to the controller is via a module failure which is why we see the current behavior.

With recent changes we now have a `get_v

[2019-07-25 16:18] ravitejajyosula opened #59599 "NX OS command doesn't have prompt to send y or n"
##### SUMMARY
When we try to automate some MDS related activities on CISCO mds switch. Some commands like **zone mode enhanced vsan #vsan_number#**  need confirmation from user for successful execution of the command but we didnt see any promt to send yes or no. We have tried echo "y" and then command but no luck. if we dont pass y or n playbook is getting struck at that step till the timeout occu

[2019-07-25 16:28] bcoca commented on #59578
the package action is just a thin wrapper on actual package modules: apt, yum, dnf, pkgng, etc

so that would requires ALL packaging modules to support that, the package module would just pass the info to them.

[2019-07-25 16:32] GoodMirek opened #59600 "Allow empty/omitted block_duration_minutes in ec2_launch_template module"
##### SUMMARY
Thanks to @ryansb, we already have `ec2_launch_template` module, implemented in `lib/ansible/modules/cloud/amazon/ec2_launch_template.py`. While specifying `instance_market_options` as `spot` the module currently does not allow to omit key `block_duration_minutes`. This is causing an issue and hopefully could be improved.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ec2_la

[2019-07-25 16:49] #59409 closed, assigned to nobody

[2019-07-25 17:21] rightaway commented on #59133
@LKaemmerling Will you also include networks in the hcloud dynamic inventory plugin (https://docs.ansible.com/ansible/latest/plugins/inventory/hcloud.html) in Ansible 2.9?

I have to tag all of my servers with a label of my network name because the inventory plugin doesn't allow this filtering.

What are all the vars that can be used in `keyed_groups` in the inventory plugin? There's only a couple

[2019-07-25 17:21] mattclay opened #59604 "[1] Update collections dev guide for testing"
##### SUMMARY

Now that we have support for collections in ansible-test, the collections dev guide needs to be updated to reflect how testing works.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

docs

[2019-07-25 17:30] jctanner commented on #59604
https://docs.ansible.com/ansible/devel/dev_guide/collections_tech_preview.html

[2019-07-25 17:37] sivel commented on #59585
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-25 17:37] #59585 closed, assigned to nobody

[2019-07-25 17:37] sivel commented on #59579
!component =lib/ansible/modules/cloud/openstack/os_stack.py

[2019-07-25 17:50] felixfontein commented on #59409
@samdoran thanks for fixing this!

[2019-07-25 18:00] sivel commented on #59350
I'm not sure how this should work.  You cannot update a virtualenv with a new python version.  You must remove it and recreate with the new version.

The documentation does state that `virtualenv_python` is only used on creation:

Since any future calls are not creating the virtual environment, that argument is ignored for subsequent calls.

Based on the fact that this is documented, and there is

[2019-07-25 18:33] maweki commented on #59350
@sivel I did read that and interpreted it differently. You're right, it is documented. Maybe we can add a note. The problem is, that you can't pass an argument to `virtualenv_command` so setting it to `virtualenv --clear` does not work. Therefore you're stuck with hard-deleting the whole venv-folder.

I don't know whether I should open a ticket for that but maybe we can extend the documentation wi

[2019-07-25 18:41] sivel commented on #55729
Closing per above.

[2019-07-25 18:41] #55729 closed, assigned to nobody

[2019-07-25 18:51] sivel commented on #55157
I can replicate this if both local and remote use `uk_UA.KOI8-U`.  With remote using `uk_UA.KOI8-U` and local using `en_US.UTF-8` I don't get that behavior.

Additionally, if I do have `uk_UA.KOI8-U` for remote and local, I can write the registered stdout to a file, and it is correct.  So this seems to only happen when displaying the results, and the actual content is not affected, which indicates

[2019-07-25 19:23] sivel commented on #55157
It looks like there is more going on here, likely some conversion of encoding happening somewhere between execution and display.

[2019-07-25 20:07] sivel commented on #55157
After talking to one of our other devs who is an expert in encodings, the consensus is that this is using a non-utf8 encoding is not supported.

The reasons behind this are complicated, but we have made a conscious decision to not use the locale of the executing machine when doing type conversions, and rely on utf-8 instead.  There may be some improvements we can make to this process to eventually

[2019-07-25 20:15] sivel opened #59606 "Remove UnsafeProxy"
##### SUMMARY
There is no real reason that `UnsafeProxy` needs to exist.

We need to add unsafe bytes support, and by doing so within `UnsafeProxy` over complicates matters.

`wrap_var` should effectively take over the work that `UnsafeProxy` is doing, and then just rely on `wrap_var` directly using the proper `AnsibleUnsafe*` classes. Or callers can directly use `AnsibleUnsafe*` themselves when `

[2019-07-25 20:43] samdoran commented on #58619
@saito-hideki Adding a `force` option isn't quite the correct solution.

I did some testing and found that the Python `grp` module behaves the same as `pwd` (which is used in the `user` module: there is no way to distinguish between local accounts and directory accounts.

The way this is handled in the `user` module is by parsing the `/etc/passwd` file when `local: yes`. This not a great solution

[2019-07-25 21:05] samdoran commented on #58619
Related to #49694 and [#49788](https://github.com/ansible/ansible/pull/49788#discussion_r241434925).

[2019-07-25 21:07] samdoran commented on #59409
@felixfontein That was a rather crazy game of whack-a-mole. 😄

[2019-07-25 21:08] mattclay commented on #59561
Collections will need to use Ansible version specific ignore files:

- `test/sanity/ignore-2.9.txt`
- `test/sanity/ignore-2.10.txt`

This is necessary because the tests will change between major releases. Ignores that are valid for for one version of Ansible may not be valid for an older or newer version.

Ignore entries which are not supported by a version of Ansible (and ansible-test) cannot be

[2019-07-25 21:43] geekofalltrades opened #59609 "Ubuntu 18.04: aws_secret lookup plugin doesn't work with default botocore version in 2.8.3 when installed from PPA"
##### SUMMARY
I have installed Ansible from the [Ubuntu PPA](https://launchpad.net/~ansible/+archive/ubuntu/ansible). I recently upgraded to 2.8.3, as I was eagerly awaiting the fix to the aws_secret lookup plugin (https://github.com/ansible/ansible/issues/54790).

The plugin appears to depend on a newer version of botocore than is installed in the system by default. This means that the Ubuntu pac

[2019-07-25 22:49] rambleraptor commented on #59135
Sorry this took so long! I've got a PR out for a fix. I managed to get > 500 hosts with this PR, so it should be paginating correctly.

[2019-07-25 22:59] nitzmahone commented on #58413
I've narrowed this down to `coverage` breaking multiprocessing under Python3.8 and filed a bug with on that project: https://github.com/nedbat/coveragepy/issues/828

[2019-07-25 23:08] cpmills1975 commented on #59558
Having read through the existing dict module, I've seen that that behaves in exactly the way I was questioning so I've assumed that the behaviour is fine and based my own code upon it.

I've opened a PR as a first attempt. Having never contributed before, I am assuming my PR won't pass requirements initially, but a steer on what I need to do next would be helpful.

[2019-07-25 23:19] acozine opened #59612 "de-duplicate and integrate the sanity-testing pages"
##### SUMMARY
We have a page for each sanity test in https://github.com/ansible/ansible/tree/devel/docs/docsite/rst/dev_guide/testing/sanity. At least two of these are merely links to pages in the `dev_guide` directory:

- [x] [PEP8](https://docs.ansible.com/ansible/latest/dev_guide/testing/sanity/pep8.html)
- [x] [validate-modules](https://docs.ansible.com/ansible/latest/dev_guide/testing/sanity/

[2019-07-25 23:25] hemberger opened #59613 "[subversion] always shows as changed when using --check and revision"
##### SUMMARY
A `subversion` task will always report as changed if the `revision` option is specified when using `ansible-playbook --check`. It will report that the "after" revision is the remote URL's HEAD rather than the revision that was specified in the task options. This is misleading for two reasons:
1. The real "after" revision will not be what is reported by `--check` when the task is actu

[2019-07-26 00:16] lparkes commented on #42262
I can reproduce this error. I get the message

`Failed to create virtual machine due to product versioning restrictions: Current license or ESXi version prohibits execution of the requested operation.`

I also have a copy of a couple successful SOAP requests to create VMs generated by the HTML5 ui. I've attached a manually prettified copy of the successful request I sent to my free licensed ESXi s

[2019-07-26 00:30] Tomorrow9 commented on #59582
Hi @goneri, I can hot plug the network adapter on a debian9_64bit VM in my environment by specifying network adapter type using the latest code. Thanks.

[2019-07-26 02:50] eraser215 commented on #54855
This worked for me.  Thank you for sharing.

[2019-07-26 03:10] keirazhang commented on #59576
@Akasurde, this fix works for me.
Thank you!

[2019-07-26 03:21] lparkes commented on #42262
PyVmomi is failing to set the cookie vmware_client=VMware in the HTTP request header and this triggers the license error.

[2019-07-26 03:36] joelzamboni commented on #52050
I have the same issue.

[2019-07-26 03:42] Akasurde commented on #59576
resolved_by_pr #59614

[2019-07-26 03:45] Akasurde commented on #59572
@keirazhang PR #59533 resolves this issue. Please check once and let me know. Thanks.

needs_info

[2019-07-26 04:32] RakeshNagarajan opened #59616 "Dynamic variable creation for storing results per host"
##### SUMMARY
This helps us to take the details of all the servers in one single run as a report.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION
I need to fetch the information of all the severs and produce it as a HTML report. Since the servers will change dynamically, i need to create dynamic variables in ansible.

[code]

[2019-07-26 04:36] nghnam opened #59617 "grafana_dashboard: add dashboard report "send() got multiple values for keyword argument 'MESSAGE'""
##### SUMMARY

Add dashboard report "send() got multiple values for keyword argument 'MESSAGE'"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

grafana_dashboard
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

New datasource is added

##### ACTUAL RESULTS

[code]

[2019-07-26 04:47] eengstrom commented on #58942
As noted by @geerlingguy, the documentation needs to be updated to give an example of proper usage.  Since the `with_first_found` is apparently just syntactic sugar around the `first_found` lookup function, I took @sivel's comments and experimented a bit further.  After my experiments, I think the new, non-deprecated expected usage behavior is not only confusing, due to the documentation being out

[2019-07-26 05:33] Fred-sun commented on #59496
@imlight Thank you for opening this problem for easy tracking. From the failure log, it seems that there is no access right. Can you confirm whether your credentials are correct or whether access is allowed? Thanks a lot!

[2019-07-26 06:00] Akasurde commented on #59616
Hi @RakeshNagarajan !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This

[2019-07-26 06:00] #59616 closed, assigned to nobody

[2019-07-26 06:01] #56269 closed, assigned to Akasurde

[2019-07-26 06:06] Tomorrow9 commented on #59210
I can try to add USB controller support in this new submitted module "vmware_guest_disk_controller" in PR #59615. Will let you know when it's ready, thanks.

[2019-07-26 06:30] imlight commented on #59496
No, I can confirm my credentials are absolutely correct .

When I use these credentials in a python script , it works exactly as I want ...

[code]

[2019-07-26 06:31] mattclay commented on #59561
The existing skip and ignore files were combined in https://github.com/ansible/ansible/pull/59618. The skip and ignore entries hard-coded into code smell tests still need to be migrated to the new file.

[2019-07-26 06:58] pratikgadiya12 opened #59621 "Segregate dump and import operations from mysql_db module"
##### SUMMARY
Supporting new options in ansible mysql dump/import operation will create more complexity in mysql_db module. So it's better to segregate dump and import operations to new modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
!lib/ansible/modules/database/mysql/mysql_db.py

##### ADDITIONAL INFORMATION
**Usage**:
[code]

**Why it is needed and what it would solve?**

This w

[2019-07-26 06:58] seuf commented on #59617
Duplicate of https://github.com/ansible/ansible/issues/39295
I Think it's a bug when an ansible module have a parameter called `message`. Maybe we can rename grafana `message` option to something else like `update_message`.

[2019-07-26 07:00] Fred-sun commented on #59496
@imlight I execute your playbook all execute through( ansible ver: 2.7.9 and 2.8.3). I will keep trying. Thank you very much!

[2019-07-26 07:04] Akasurde commented on #59621
@pratikgadiya12 Thanks for reporting this feature.

[2019-07-26 07:31] michel-kraemer commented on #56844
I ran into the same problem. Is there a workaround until the PR has been merged?

[2019-07-26 07:31] Fred-sun commented on #59496
@imlight I encountered [a similar error](https://app.shippable.com/github/ansible/ansible/runs/133881/107/tests
), but not this module, which was caused by instability. Could you please run it again? Thanks a lot!

[2019-07-26 07:43] imlight commented on #59496
@Fred-sun  I am using the service principal keys ...which are just for that storage account . No success.

[2019-07-26 07:58] Fred-sun commented on #59496
Thanks for you let me know!

[2019-07-26 08:02] Akasurde commented on #56844
resolved_by_pr #59623

[2019-07-26 08:05] Akasurde commented on #56844
Closing this issue as PR #59623 is merged. If issue persists, please feel free to open a new issue.

Thanks.

[2019-07-26 08:05] #56844 closed, assigned to nobody

[2019-07-26 08:06] justjais commented on #59192
@ibarrere Thanks for logging the issue, but I am not able to reproduce the issue reported in the nearly same environment setup with `Ansible=2.8.1` and `Python=2.7.9` version and able to get the required facts over Cisco vbox with version `15.6(3)M2`.
Also, I can see few results wrt to python error you are facing, can u please refer the last comment from the [issue_link](https://mail.python.org/pi

[2019-07-26 08:26] richlv opened #59624 "allow specifying interface for templates in zabbix_host"
##### SUMMARY
When linking templates in Zabbix, items get attached to the "main" interface, if there are multiple interfaces of same type.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbix_host

##### ADDITIONAL INFORMATION
If there are multiple interfaces - let's say JMX - there is no way to specify to which interface should each template go. This makes it impossible to monitor multip

[2019-07-26 09:02] felixfontein commented on #59409
@samdoran that's unfortunately pretty normal with the docker_swarm tests ;-)

[2019-07-26 09:12] Fred-sun commented on #57254
kindly ping

[2019-07-26 09:14] deacomm opened #59629 ""ansible-test units" complains about missing python2.6"
##### SUMMARY

When trying to run "test/runner/ansible-test units" from latest git version (devel branch), I get following error:

ERROR: Required program "python2.6" not found.

This happens on three separate Linux installs:
Debian Stretch (oldstable), with python2.7 installed
Debian Buster (stable), also with python2.7 installed
Gentoo, with python3.6 and python2.7 installed

##### ISSUE TYPE
-

[2019-07-26 09:54] J-F-Liu commented on #56629
The recent change of `lib/ansible/modules/files/synchronize.py` file is:
[code]
I think this is the root cause.

[2019-07-26 10:13] kamathe commented on #28165
This seems to be working for me

Setup information

[code]

Steps to reproduce

[code]

[2019-07-26 10:15] ssbarnea commented on #35086
It seems that there is no way to safely clear host errors from unreachable hosts because this would clear even other errors with reachable hosts:

[code]
The example above is expected to return failure exit code 1 due to localhost task (the foobar being unreable and ignored). Instead the playbook will return success.

If we disable clear_host_errors the playbook will fail even if we put exit 0 as

[2019-07-26 11:15] #56781 closed, assigned to nobody

[2019-07-26 11:18] willthames commented on #52050
Ok, let's not track this in two places. Closing in favour of #54886

[2019-07-26 11:19] #52050 closed, assigned to nobody

[2019-07-26 11:20] willthames commented on #52050
@joelzamboni please have a look at the troubleshooting steps in #54886

[2019-07-26 11:35] #56428 closed, assigned to Akasurde

[2019-07-26 11:42] Aicop commented on #59340
Thanks, the fix works but I had to apply it to the proxmox module instead (LXC/Container creation).

[2019-07-26 11:56] liuyangc3 opened #59634 "Run playbook got error"
##### SUMMARY

run playbook got issue

##### ISSUE TYPE
- Bug Report
[code]

##### COMPONENT NAME

any module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-07-26 12:03] goneri opened #59635 "vmware: module without any functional test"
##### SUMMARY

The following modules don't have any test coverage:

- [ ] `vmware_guest_boot_manager`
- [ ] `vmware_guest_video`
- [ ] `vmware_guest_file_operation`
- [ ] `vmware_vmkernel_ip_config`
- [ ] `vmware_vsan_cluster`
- [ ] `vmware_cfg_backup`
- [ ] `vmware_dvs_host`
- [ ] `vmware_dns_config`
- [ ] `vmware_guest_tools_upgrade`
- [ ] `vmware_host_lockdown`
- [ ] `vmware_vmotion`
- [ ] `vmw

[2019-07-26 12:20] poleguy commented on #36615
This just burnt me.
using as a workaround:
shell: nmcli con mod "System enp0s8" ipv4.method manual

[2019-07-26 13:13] greenflowers commented on #45298
I would like to add that this issue also affects 2.7.4

[2019-07-26 13:51] endorama commented on #47770
@vperron PR sent, share your feedbacks!

[2019-07-26 14:05] samdoran commented on #58415
This is an issue with `coverage` and multiprocessing under Python 3.8. See https://github.com/ansible/ansible/issues/58413#issuecomment-515244677 for details.

[2019-07-26 14:12] dbevacqua opened #59642 "Unsafe use of fork() after join()-ing threads causes ansible to hang under certain conditions."
##### SUMMARY

Under certain conditions (see "STEPS TO REPRODUCE"), an ansible playbook run with local connection will hang when gathering facts.

We have traced the problem to unsafe use of `fork()` (via creation of `WorkerProcess`[1]) after result `Threads` have been `join()`ed. [2]. The python docs [3] warn against this:

This bug report [4] makes the point somewhat more emphatically:

We have

[2019-07-26 14:13] endorama commented on #36982
I provided a new PR for a `vars_plugin` with support for all sops features, if you want to have a look (#59641).

[2019-07-26 14:26] langemeijer opened #59644 "Interactive mode with preview"
##### SUMMARY

I'd like to suggest interactive mode with preview, a magic combination of --step, --check and --diff:

For each of the steps in a playbook:
- first run a normal --check --diff and display what is going to happen.
- then (only if something has changed) ask if the step needs to be applied, the same way --step works.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-playbo

[2019-07-26 15:12] samdoran commented on #31473
This is not something that can be done in Ansible because it is a recursive reference, which is something that cannot be done in programming languages in general.

[2019-07-26 15:12] #31473 closed, assigned to nobody

[2019-07-26 15:13] samdoran commented on #31351
It is now possible to run `ansible all import_role -a 'name=role'`

[2019-07-26 15:13] #31351 closed, assigned to nobody

[2019-07-26 15:15] samdoran commented on #31519
Diffs are displayed per task by default. It is possible to write a custom callback plugin to change the way this information is displayed.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-26 15:15] #31519 closed, assigned to nobody

[2019-07-26 15:18] samdoran commented on #31904
We have no plans to implement this feature at this time. Using a custom callback plugin that suits your needs or module customizations are the best solutions.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-26 15:18] #31904 closed, assigned to nobody

[2019-07-26 15:26] samdoran commented on #31988
Closing since this is longstanding, though problematic, behavior of Paramiko and we do not plan to work around it at this time. We could work around this limitation in Paramiko if there is more demand to change this behavior, but that would most likely result in a breaking change for those relying in this behavior currently.

[2019-07-26 15:26] #31988 closed, assigned to nobody

[2019-07-26 15:28] tekmans opened #59647 "debconf with locales don't apply"
##### SUMMARY
I want to set locales settings with debconf and it do not apply the settings

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
debconf

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Target OS Debian 10

##### STEPS TO REPRODUCE

On the remote host
[code]
The code

[code]

##### EXPECTED RESULTS
The must be locales in FR

##### ACTUAL RESULTS
[code]
On the remote it's still

[2019-07-26 15:29] samdoran commented on #32179
Closing since this has remained open with no contributors stepping up to implement this and this is not something the Core team plans to implement at this time.

[2019-07-26 15:29] #32179 closed, assigned to nobody

[2019-07-26 15:31] ansensible commented on #58772
the file module has a "follow" flag that can be set to "false" to not follow the symlink and fail instead

[2019-07-26 15:35] jbarotin commented on #10829
@bcoca thanks for the explanation, I understand now the meaning of this warning message (a look at #27565 helped me also). So, I think we should continue conversation on #41313

[2019-07-26 15:36] jbarotin commented on #41313
Is it possible to have a status about this issue ? (cc @bcoca or anyone)

[2019-07-26 15:37] samdoran commented on #32536
Based on the output, it looks to be an error with a missing module. We have no plans to filter syntax checking based on tags at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-26 15:37] #32536 closed, assigned to nobody

[2019-07-26 15:39] samdoran commented on #32672
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-26 15:39] #32672 closed, assigned to nobody

[2019-07-26 15:39] #48613 closed, assigned to nobody

[2019-07-26 15:39] eengstrom commented on #58942
Actually, it's a bit worse than I had hoped.  When using `include_vars` (or similar, I expect) in a role, I had to explicitly tell the lookup function `first_found` where to look:

[code]

If I did not specify the paths to examine, no file would be found.  I don't understand the difference between the `with_first_found` and `lookup(first_found,...)`, and [the documentation on `loop` v. `with_*`](h

[2019-07-26 15:42] #52874 closed, assigned to nobody

[2019-07-26 15:43] #55450 closed, assigned to nobody

[2019-07-26 15:45] bcoca commented on #32795
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because even though we can template some variables, most inventories include references or tempaltes that are not self contained, for example `bar: ' {{ansible_nodename}}'` is a valid variable definition in inventory, but it dep

[2019-07-26 15:45] #32795 closed, assigned to nobody

[2019-07-26 15:47] samdoran commented on #33057
Looking fro specific strings in the connection error output is problematic for a number of reasons: different systems have different strings, the error strings need to be localized for different languages, etc.

It is possible to see the errors from the connection by running with `-vvv`.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net 

[2019-07-26 15:47] #33057 closed, assigned to nobody

[2019-07-26 15:48] nitzmahone commented on #32231
While it would be *possible* to implement this feature (we do similar tricks to get Kerberos auth working under Windows, eg), it would be quite difficult to make it work reliably under the module subsystem, since the target environment would either already need a valid Kerberos ticket, or all the necessary deps to programmatically create one would have to be in place. In those cases, I'd recommend

[2019-07-26 15:48] #32231 closed, assigned to nobody

[2019-07-26 15:50] samdoran commented on #33242
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-26 15:50] #33242 closed, assigned to nobody

[2019-07-26 15:55] cognifloyd commented on #54996
This needs an entry here:
https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.8.html
https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.8.rst

[2019-07-26 15:55] anshulbehl opened #59650 "Issue with delegate_to and loops"
##### SUMMARY
Filing on behalf of Netapp
I started running some collection tests on the latest branch and found what I believe to be a bug in the devel branch. I also wrote a program to isolate the commit where the issue started and the failure with the commit https://github.com/ansible/ansible/commit/b7868529ee595b07b0cee5729dd103ef8f021600. I have also attached inventory outputs and execution lo

[2019-07-26 16:02] bcoca commented on #33675
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because we think this adds unnecessary complications to the caching code and you can already bypass the issue by using the prefixing options avaialble for the cache plugins.

However, we're absolutely always up for discussion.
S

[2019-07-26 16:02] #33675 closed, assigned to nobody

[2019-07-26 16:39] winds6206 opened #59652 "GKE and k8s module"
##### SUMMARY

Hi .

I know Ansible provide k8s module let us manage kubernetes object , for instance , pod、service、namespace、deployment ,and I can use k8s module on my CentOS virtual machine with kubernetes cluster.

Today , I have a kubernetes cluster on GKE ,  how can I use my ansible to connect GKE and use k8s module manage my object ?

I'm not sure if ansible provide us to manage object on GK

[2019-07-26 16:54] mulatinho commented on #46768
hey @Akasurde , as we talked at IRC, I've tested on vbox machine using Fedora 23.

[code]

Per default `ipa dnszone-add` creates zones without dynamic update option enabled, with this change user is allow to set dynamic updates if he wishes. I would love if you review that.

[2019-07-26 17:40] anshulbehl commented on #59650
@ndswartz Filed a bug based on your email

[2019-07-26 19:53] sivel commented on #59629
The default in ansible-test is to run the tests against all python versions that are supported by ansible.  To restrict to a specific version, you will need to pass something like: `--python 2.7`

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-26 19:53] #59629 closed, assigned to nobody

[2019-07-26 20:39] #59233 closed, assigned to nobody

[2019-07-26 20:59] stefano-m commented on #59508
!component +lib/ansible/inventory/grou

[2019-07-26 23:06] deecoaccela commented on #33273
What is the PR number ?

[2019-07-26 23:48] mmundy1 opened #59667 "win_dsc / ScheduledTask start time not working in 2.8"
##### SUMMARY

Calling win_dsc with the ScheduledTask resource from https://github.com/PowerShell/ComputerManagementDsc/wiki/ScheduledTask
worked in 2.7 but fails in 2.8 - Tested in 2.8.2 and 2.8.3.
Possibly related to the exec_wrapper.  The AnsiballZ_win_dsc.ps1 LOOKS correct...
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_dsc
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-07-27 00:27] deeco commented on #25532
How to implement or ensure 3-5 retries for winrm playbooks ? getting random 104 errors across deploys in azure

[2019-07-27 06:18] arrfab commented on #43915
I confirm this bug as we encounter it in the CentOS QA environment : aarch64 VMs have nvram defined, and the ansible virt module doesn't have a way to pass options.
For the time being, we had to fall back to "shell" module :
[code]

[2019-07-27 08:13] Constantin07 opened #59674 "No module named 'straight' - when building rpm package"
##### SUMMARY
Building rpm package from source (develop branch) fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Makefile

##### ANSIBLE VERSION
Latest devel branch.

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
CentOS 7.2

##### STEPS TO REPRODUCE
Checkout ansible repository.
[code]

##### EXPECTED RESULTS
Ansible rpm package created.

##### ACTUAL RESULTS
[code]

[2019-07-27 08:16] jpmens opened #59675 "Dead contributors"
##### SUMMARY

It's sad to see that Ansibot has been [referencing dead contributors](https://github.com/ansible/ansible/issues/43915) -- literally dead, i.e. users who have passed away.

Case in point is Seth who has contributed a lot of ideas and code to Ansible. As he's still listed as author for a number of modules, he's being Cc'd by @ansibot

Seth's github username is `skvidal`. Is there some

[2019-07-27 09:21] willthames commented on #59191
`kubectl` is a connection plugin rather than a module, so you'd run ansible with `-c kubectl` or a playbook with `connection: kubectl`.

An example is:
[code]

I could also set up an inventory.yml containing just

[code]

and then do:

[code]

Note that the "hostname" contains `_$containername` at the end compared to the previous invocation

For both of those I needed to either ensure that `remote

[2019-07-27 11:54] willthames commented on #59652
The `k8s` module supports GKE in the same way as all other kubernetes providers - if you can connect to your cluster with a context in your kube config, `k8s` will work. It will use your default kube config (`~/.kube/config`) and default context by default but you can override with `K8S_AUTH_KUBECONFIG` and `K8S_AUTH_CONTEXT` environment variables if need be.

[2019-07-27 11:54] #59652 closed, assigned to nobody

[2019-07-27 12:05] jpmens commented on #59675
I understand from @gundalow that this was a mistake which has been [corrected in BOT_META](https://github.com/ansible/ansible/blob/devel/.github/BOTMETA.yml)

Closing.

[2019-07-27 12:05] #59675 closed, assigned to nobody

[2019-07-27 13:06] dariko opened #59680 "Can't set `ansible_host` and `ansible_ssh_host` using openstack inventory plugin composite variables"
##### SUMMARY
My instances contains in their metadata some information which I want to use to configure ansible.
I need to override the plugin-detected `ansible_host` and `ansible_ssh_host` with composite variables based on my instances metadata but this seems not to work.

I need to use the metadata-stored information because my instances (created using heat) have multiple ports in multiple trunk

[2019-07-27 13:26] mjhalldotorg commented on #59210
Hey thanks for considering this request. I recently sent through a request
for clarification as to whether the vmware_guest module can handle USB
controllers, and if so how.

Anyway, my use case is setting up networking labs in a community college on
ESX 6.5 boxes using Ansible (without vCentre).
In some labs I need to set VMs up ready for students to boot an
installation ISO.
Everything works fin

[2019-07-27 19:12] renankaic opened #59682 "Can't copy inside Ansible"
##### SUMMARY

I'm trying to copy the file "/vagrant/configs/mysqld.cnf" to "/etc/mysql/mysql.conf.d/mysqld.cnf" but it's giving me this error:

"An exception occurred during task execution. To see the full traceback, use -vvv. The error was: If you are using a module and expect the file to exist on the remote, see the remote_src option
fatal: [192.168.15.20]: FAILED! => {"changed": false, "msg":

[2019-07-27 19:50] cpmills1975 commented on #59682
Correct me if I'm wrong, but it looks like you are trying to run this on the machine running vagrant and not on the vm? The copy module expects to copy a file FROM the ansible controller (the machine you are running vagrant on) TO the destination machine (in your case the VM).  If you already have a config file ON the VM and you simply want to copy it elsewhere ON the VM, see the "remote_src" opti

[2019-07-27 22:57] jpmahowald commented on #29295
pesize as a string with unit suffixes was added circa 2.6.
resolved_by_pr 39666

[2019-07-27 23:23] jpmahowald commented on #29295
As a practical matter, on Linux pesize does not matter for small files performance, it only defines the minimum size by which you can extend a LV.  Plenty of LVs with the default 4M store of small files, or databases with 8K block sizes, the file system has no idea. And you can make LVs as small as one extent.

One use case for defining pesize is making it _bigger_ for large storage systems. Fewer

[2019-07-27 23:58] joelzamboni commented on #54886
Here is the output:
[code]

[2019-07-28 00:14] joelzamboni commented on #54886
After fixing all the errors reported by yamllint  (except the long lines because of the certificates) I still got the same errors.
[code]

Here is the format of the yaml:
[code]
Also, the normal Kubernetes commands (ej `kubectl`) works fine.

[2019-07-28 03:27] Akasurde commented on #59650
resolved_by_pr #59659

[2019-07-28 03:28] Akasurde commented on #59650
@anshulbehl Could you please test if PR #59659 works for you and let us know ? Thanks.

needs_info

[2019-07-28 06:09] johanneskastl opened #59686 "Package installations fail intermittently on SLES15 and openSUSE Leap 15.x"
##### SUMMARY
Package installations fail intermittently on SLES15 and openSUSE Leap 15.x

Apparently (I am not a python expert) python3-xml is no longer a separate package but is included in python3-base on those releases, maybe this might be related?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/zypper.py

Proba

[2019-07-28 07:24] felixfontein commented on #29295
From my understanding, the module does not do anything with the parameter except passing it on, so you can simply specify other values here as well. So this is only a docs problem (since #39666 has been merged).

[2019-07-28 07:28] willthames commented on #54886
What happened when you ran the script I provided?

[2019-07-28 08:22] litaozijin commented on #34335
I had encounted this problem recently  when i create a lmdb-object to open a source lmdb databases  under a directory (first created by my program) each times and then merge these databases to one target database in merge_db() method. After merge ,i delete source lmdb databases by calling 'shutil.rmtree()'  ,but the lasted direcoty could not be rightly deleted, but the database files under the dir

[2019-07-28 08:35] komlevv opened #59688 "Make module: incorrect params passed to make when using variables"
##### SUMMARY

Unexpected result when using params with variables in make module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

make

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Operating System: CentOS Linux 7 (Core)
Kernel: Linux 3.10.0-957.21.3.el7.x86_64
Architecture: x86-64

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

`gmake

[2019-07-28 14:20] ShachafGoldstein commented on #59667
Can you add the vars you are using?

[2019-07-28 14:29] ercpe opened #59691 "docker_container: address already in use with ipv4+ipv6 ip-bound port mappings"
##### SUMMARY

A docker container cannot be started with ip-bound port mappings when using both, ipv4 and ipv6 addresses:

With #46596, i expected

    docker_container:
      name: "test123"
      image: "ubuntu:latest"
      tty: yes
      interactive: yes
      networks:
      - name: bridge
      purge_networks: yes
      pull: yes
      ports:
      - "127.0.0.1:53:53/tcp"
      - "127.0.0.1:

[2019-07-28 15:27] hdonnay opened #59692 "dconf: module fails on dbus-broker systems"
##### SUMMARY
The dconf module attempts to exec `dbus-send`, but this is not present on systems that use `dbus-broker` instead of `dbus-daemon`, notably Fedora Silverblue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dconf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora Silverblue 30

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No

[2019-07-28 15:28] mszumilak opened #59694 "ec2_vpc_route_table not allowing using registred facts"
##### SUMMARY
I created a routing table with routing defined statically. After that I want to add VPC peering routing collected in separate task. I use routing table fact registered in previous task.

As result I'm getting:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_vpc_route_table

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
AWS API

#####

[2019-07-28 16:34] basictheprogram opened #59695 "ERROR! Unexpected Exception, this is probably a bug: string index out of range"
##### SUMMARY
Ansible run fails and I want to retry the failed hosts with the --limit @windows.retry command and it fails with "ERROR! Unexpected Exception, this is probably a bug: string index out of range"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

limit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Management host macOS 10.14.6
Managed hosts var

[2019-07-28 18:41] joelzamboni commented on #54886
Here is the output of the second script:
[code]

Here is the full trace:
[code]

[2019-07-28 18:49] joelzamboni commented on #54886
I found this:
https://github.com/kubernetes-client/python/issues/525#

Which pointed to this:
https://github.com/kubernetes-client/python/issues/860

[2019-07-28 19:01] joelzamboni commented on #54886
After installing `pip install kubernetes==10.0.0` and running your first script I get this error:

[code]

Which is strange, since the custom certificate is on the config file

[2019-07-28 19:13] rightaway commented on #59133
@LKaemmerling Could we get the ip range (like `10.0.0.0/16`) of the private network that a server is part of? This variable could be quite useful in `hostvars`.

[2019-07-28 20:53] mmundy1 commented on #59667
See the scheduled_tasks fact being set at the top.
Slightly less obfuscated:
(consoleapp_dir = "d:\\scripts\\")
- task_name: "Task"
            task_path: "Batches"
            action_executable: "powershell.exe"
            action_arguments: "{{consoleapp_dir}}\\{{consoleapp_script_name}}"
            action_workingpath: "{{consoleapp_dir}}"
            action_executable:
            schedule_typ

[2019-07-28 21:20] syedafirdaus commented on #41727
Hi All here, I am facing similar issue. Ansible playbook doesn't run inside docker container which is in gitlab.
But it runs fine in a server. Can you please advise.
@acozine

[2019-07-28 21:39] jborean93 commented on #59667
The win_dsc module went through a massive overhaul in Ansible 2.8 but it looks like there has been a regression on DateTime fields. I know you've supplied the vars but can you also share the output of the task when running with `-vvv`. That will tells us exactly what vars were passed to the module during execution.

What it looks like it happening is that we only accept a date time in a specific f

[2019-07-28 21:48] jborean93 commented on #59321
Potentially fixed by https://github.com/ansible/ansible/pull/59426, are you able to try out the latest devel commit?

[2019-07-28 21:57] jborean93 commented on #59674
The docs build recently added a requirement for the [straight.plugin](https://pypi.org/project/straight.plugin/) package and this needs to be installed when building the docs, which `make rpm` seems to do. I believe this was added with https://github.com/ansible/ansible/pull/55893.

[2019-07-28 22:42] mmundy1 commented on #59667
No problem!
Here is a quick test playbook (hostname, username, password store path only things changed)
`- hosts: testhost.testdomain.local
  tasks:
    - set_fact:
        scheduled_tasks:
          - task_name: "TestTask"
            task_path: "TestTasks"
            action_executable: "powershell.exe"
            action_arguments: "-c 'write-host \"TEST\" | out-file d:/test"
            action

[2019-07-28 22:48] mmundy1 commented on #59667
No problem!
Here is a quick test playbook (hostname, username, password store path only things changed)
[code]
and here is the -vvv output (same vars obfuscated) for 2.8.3:
[code]

Same playbook for 2.7.11:
[code]

[2019-07-28 22:59] jborean93 commented on #59504
While I can see some very minimal situations requiring something like this it shouldn't be needed for a lot of scenarios. The `copy/win_copy` plugin already supports something like this right now when using the `src` option. The source file is copied exactly as it is, so if the file you want to copy is already encoded the way you need it on the Ansible controller side then Ansible will copy it acr

[2019-07-28 23:00] jpmahowald commented on #29295
Correct, pesize just becomes  the argument to vgcreate -s, and that was merged a while ago.

The docs problem is a confusing mention about "multiple of 128KiB". Really, it is powers of 2.  I have a PR to delete that and close this.

[2019-07-28 23:12] jborean93 commented on #59667
Thanks, I will attempt to replicate it sometime today and get back to you.

[2019-07-29 00:54] AirCombat commented on #59485
As mentioned in #45298, the main issue here is that the win_domain_user module does not create users that comply with MSFT's convention for the expected values of those attributes.

The issue with sAMAccountName not being able to be set is a secondary issue.

[2019-07-29 00:58] basictheprogram commented on #59321
Yes latest checkout of the devel branch fixes my problem.

[code]

[2019-07-29 00:58] #59321 closed, assigned to nobody

[2019-07-29 01:00] seldomrare commented on #59485
+1

[2019-07-29 02:00] jborean93 commented on #59667
@mmundy1 I've opened a PR that fixes this issue https://github.com/ansible/ansible/pull/59703. It would be great if you could try out the changes and confirm whether it is ok for you. I've tested it locally and it creates a trigger that starts at `6:00PM` as expected.

[2019-07-29 02:19] mmundy1 commented on #59667
PR works perfectly, thanks!
I could have sworn I tried an ISO 8601 date, but looking back over my history, I think there was no timezone offset (following the file format from Example 7 on the DSC's documentation page.

[2019-07-29 03:06] mdavis-xyz opened #59704 "aws_s3 shows changed when not changed"
##### SUMMARY

When using `aws_s3` to upload a file to S3, the task is always marked as "changed", even when running the playbook a second time, with the same file.

If the file that was previously in S3 matches the local file to upload, the task should not be marked as changed.

`overwrite: different` fixes this. The `mode` option should document that `put` is not idempotent by default.

##### IS

[2019-07-29 04:20] Im0 commented on #58082
@Qalthos - thanks for your reply.  Was this issue introduced in 2.8?  It appears to work fine in 2.7.

It's a shame that we won't see a fix in 2.8.

For `debug` module tasks, it seems fine to `delegate_to: localhost` as a work around.

If I'm rebooting a device and I want to `wait_for`, what would you recommend as a work around?  My current work around is to stick with an Ansible 2.7 virtual envir

[2019-07-29 04:36] go2sekhar commented on #15297
Face same issue

pipelining = False worked for me

[2019-07-29 04:43] mlda065 commented on #59704
Ah, setting `overwrite: different` fixes this.

I'm curious, why is `overwrite: different` not the default option? Doesn't `overwrite: always` break the idempotency of Ansible?

[2019-07-29 05:30] tonal opened #59706 "notify handler with import_tasks or block not work"
##### SUMMARY

nitify inside import_tasks not work

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

KDE Neon 18.04

##### STEPS TO REPRODUCE

`err_deploy.yaml.ans`
[code]
`service.restart.yaml.ans`
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-07-29 05:57] LKaemmerling commented on #59133
@rightaway we plan to contribute a full-featured version of our networks to Ansible, including all modules and the inventory. We have quite a month time from today :) So I guess we will have some progress on this in the next days/weeks.

[2019-07-29 07:14] tonal commented on #59706
If change `import_tasks` to `block` also not work.
[code]

[2019-07-29 07:32] mkrizek commented on #59706
This is expected. For the functionality you are looking for, use `include_tasks` instead of `import_tasks`.

`import_tasks` is processed at parse time and is effectively replaced by the tasks it imports. So when using `import_tasks` in handlers you would need to notify the task names within.

As for using blocks in handlers, please see https://github.com/ansible/ansible/issues/14270.

If you have

[2019-07-29 07:32] #59706 closed, assigned to nobody

[2019-07-29 07:32] blindrood commented on #59504
Hi Jordan, thankyou for thorough explanation. I don't need an input encoding for win_copy.
I have old system which requires having secret stored in a file in ASCII encoding. In PowerShell it's equivalent of
`$Key | Out-File -FilePath $keyPath -Encoding ASCII -Force`
I was looking for idempotent alternative for win_shell execution. Having secret stored as variable in vault or awx it seems reasonabl

[2019-07-29 07:35] netzvieh commented on #59686
!component lib/ansible/modules/cloud/linode/linode.py

[2019-07-29 07:37] mkrizek commented on #59682
needs_info

[2019-07-29 07:38] mkrizek commented on #59674
cc @abadger

[2019-07-29 07:43] ramilehti commented on #56930
The fact that there are support issues surrounding this is in my opinion a documentation issue not a functionality issue. If anything I would argue that group names should NOT be variables.

As is the fact that this change was implemented before any documentation was/is available.

[2019-07-29 07:55] ernestask commented on #27905
It is really unfortunate that this isn’t getting enough love. I find the current virt module rather barebones for what seems to be not at all an edge case - creating a transient domain for a Kickstart installation and then defining a permanent one. Typing out the XML template needed wasn’t too bad, but having the ability to avoid that also sounds nice.

[2019-07-29 08:02] pantaoran commented on #26581
I'm also waiting for this feature.

[2019-07-29 08:10] bloudman commented on #57965
I've got the same error with my ansible playbook.
Is there any updates concerning the issue?

[2019-07-29 08:27] Fred-sun commented on #57965
@MyronFanQiu @yungezz @zikalino Please!

[2019-07-29 08:29] keirazhang commented on #59572
@Akasurde PR #59533 resolved my issue.  Thanks.

[2019-07-29 08:30] #59572 closed, assigned to goneri

[2019-07-29 08:56] Fred-sun commented on #56634
@zikalino Do you have any update for this？Please! Thanks a lot!

[2019-07-29 09:00] #59576 closed, assigned to Akasurde

[2019-07-29 09:06] decaz opened #59714 "Add wait_sleep parameter for the k8s module"
##### SUMMARY
Add `wait_sleep` parameter for the `k8s` module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`k8s` module

##### ADDITIONAL INFORMATION
Currently there is no way to specify number of seconds to sleep between checks while waiting for Kubernetes response. It's hardcoded in awkward way:
https://github.com/ansible/ansible/blob/08d7905be2a45e51ceed315974e25d1008bf4263/lib/ansib

[2019-07-29 09:13] felixfontein commented on #59691
Here's a simple reproducer using docker-py:
[code]
The problem is when the container is started (not when it is created). Also, it can be fixed very simply:
[code]
(i.e. pass the IPv6 address without square brackets). I'll create a PR to fix this.

[2019-07-29 09:14] Fred-sun commented on #56774
@zikalino Could you can give any update? Thanks a lot!

[2019-07-29 09:29] willthames commented on #59714
@decaz that should be a reasonably straightforward PR if you want to take it on yourself (if you need any pointers on how to go about it, let me know)

[2019-07-29 10:48] felixfontein commented on #57275
What's the current state on this? Most modules don't seem to be renamed yet, and 2.9 feature freeze is in only one month.

[2019-07-29 11:32] zikalino commented on #57275
@felixfontein I will finalize this very soon.

[2019-07-29 11:39] fpob commented on #54162
Actually variables are expanded even in other modules where no one expect variables expansion. For example

[code]

And there is more modules that use `module.run_command()`.

[2019-07-29 11:45] microbioticajon opened #59721 "Support AWS EC2 launch template with AWS Batch"
##### SUMMARY

Allow AWS Batch to be configured with an EC2 Launch Template
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

lib/ansible/modules/cloud/amazon/aws_batch_compute_environment.py

##### ADDITIONAL INFORMATION

Added the ability to configure the Batch Compute Environment with a launch template as per the boto3 library.

[code]

[2019-07-29 11:48] mszumilak commented on #59694
enclosing facts in "{{ }}" solved issue and brought another one. I'll open new bug report.

[2019-07-29 11:48] #59694 closed, assigned to nobody

[2019-07-29 12:22] abadger commented on #59674
Not sure what people want here.... Building the tarball (not there rpm) has
requirements that are documented and present in various requirements.txt
files.  We've never installed those via the makefile in the past.

On Mon, Jul 29, 2019, 12:38 AM Martin Krizek <notifications@github.com>
wrote:

[2019-07-29 13:21] larsuhartmann opened #59725 "Netbox inventory plugin add interfaces"
##### SUMMARY

It would be nice to also have the devices interfaces as defined in netbox as additional environment variables - this would make it a lot easier for people who are configuring network equipment using ansible and netbox as inventory source

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
netbox inventory plugin

##### ADDITIONAL INFORMATION

[code]

[2019-07-29 13:39] sblack4 commented on #54195
In the FAQs, I found a level 2 header titled "Common Platform Issues" which seems like a likely place within the Ansible docs where people would look for this information. If you have a second let me know if this PR looks good 😃
- https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#common-platform-issues
- https://github.com/ansible/ansible/pull/59654

[2019-07-29 14:19] ltoscani opened #59726 "How-to use remote fact in task condition"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux version 4.15.0-55-generic (buildd@lcy01-amd64-029) (gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)) #60-Ubuntu SMP Tue Jul 2 18:22:20 UTC 2019

##### ADDITIONAL INFORMATION

Here is the YML:
[code]

I try to execute the task "ini

[2019-07-29 15:30] opticyclic opened #59730 "Split Out Cloud Modules To Sub-Pages"
##### SUMMARY
The list of Cloud Modules is very long now.
https://docs.ansible.com/ansible/latest/modules/list_of_cloud_modules.html

There are almost 150 just for Azure
https://docs.ansible.com/ansible/latest/modules/list_of_cloud_modules.html#azure

This page would be cleaner if it was a list of the providers and each link in that list went to a separate page detailing the the modules for that p

[2019-07-29 15:35] vmahadev opened #59731 "Ansible 2.8.3 fails to run mariadb create database root"
##### SUMMARY

Ansible 2.8.3 fails to run mariadb create database  root

##### ISSUE TYPE
- Bug Report
[code]
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.2 LTS
Release:        18.04
Codename:       bionic

##### STEPS TO REPRODUCE

ansible-playbook lamp-pl

[2019-07-29 15:41] MichalTaratuta opened #59732 "uri converting body int to string"
##### SUMMARY
URI module converting int to string when parameter is nested  in dictionary

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
uri
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2019-07-29 15:43] deeco commented on #23320
Also receiving random winrm resets in azure and not connecting , failing all playbooks, run again and either moves to another instance or completes.

##[error] [WARNING]: ERROR DURING WINRM SEND INPUT - attempting to recover:
ConnectionError ('Connection aborted.', error("(104, 'ECONNRESET')",))

[2019-07-29 15:44] relyt0925 commented on #58807
It has been solved in 2.8.2 thank you!!!!

[2019-07-29 15:44] #58807 closed, assigned to Akasurde

[2019-07-29 17:08] chrismeyersfsu opened #59734 "ansible-galaxy login -c CERT error"
##### SUMMARY
`ansible-galaxy login --ignore-certs` is not respected. Further, the traceback for the error when a cert fails isn't clear.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy login https://github.com/ansible/ansible/blob/devel/lib/ansible/galaxy/login.py#L91

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO RE

[2019-07-29 19:00] varunpanvelkar opened #59738 "aws_ssm_parameter_store: Add support for advanced tier"
##### SUMMARY
Add support for AWS SSMs advanced tier in parameter store
https://docs.aws.amazon.com/systems-manager/latest/userguide/parameter-store-advanced-parameters.html

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

lib/ansible/modules/cloud/amazon/aws_ssm_parameter_store.py

##### ADDITIONAL INFORMATION

[code]

[2019-07-29 19:29] aciguru commented on #57876
Please refer to my code here to reproduce the error: https://github.com/aciguru/Ansible-Playbook-APIC-Cloud-vCenter

After setting contract_filter_type: one-way (Initially it was set to both-way), I still receive the warning:

TASK [Add a new contract filter] ********************************************************************************************************************************************

[2019-07-29 19:41] Constantin07 commented on #59674
@jborean93 Thanks for getting back.

I do have installed the `straight.plugin` but unfortunately  it still fails with the same error.
[code]

[code]

@abadger I have been building rpm package of ansible for CentOS for long time. It only recently has been broken.

This page https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-from-source contains instructions h

[2019-07-29 20:05] #58413 closed, assigned to samdoran

[2019-07-29 20:05] #58415 closed, assigned to samdoran

[2019-07-29 20:09] #29295 closed, assigned to nobody

[2019-07-29 20:38] samdoran commented on #58413
Fixed in `coverage` [4.5.4](https://coverage.readthedocs.io/en/v4.5.x/changes.html#version-4-5-4-2019-07-29).

[2019-07-29 20:43] felixfontein commented on #46362
Is there any update on `podman_container`?

[2019-07-29 21:14] felixfontein commented on #51847
From the [code of the action plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/fetch.py), it looks like the `fetch` module behaves like the `copy` module: it tries to be idempotent, i.e. if the file already exists, it will compare it to the remote file, and if they differ, it will replace the local file's contents by the remote file's contents.

[2019-07-29 21:17] samdoran opened #59752 "Ansible Tower integration tests failing regularly due to missing host"
##### SUMMARY

Ansible Tower integration tests are failing more often because the `host` key is not set in the configuration file.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`test/integration/targets/tower_*`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run Ansible Tower integration tests in Shippable

##### EXPECTED RESUL

[2019-07-29 21:27] dms-cat commented on #51847
-waiting_on_contributor

[2019-07-29 21:39] ilulillirillion opened #59753 "rundeck_project does not show proper message on bad token"
##### SUMMARY

EDIT: Originally I thought the issue was that the module was reporting 400 no matter what I attempted, however on further inspection with my comments below, the module was reporting a 400 error in place of a bad token error when Ansible passed the token without stripping special characters. What _should_ happen is it should print a specific error message about a bad token, which it

[2019-07-29 21:42] zolvaring commented on #59753
As a note if I put a known bad token value in to test that I am also able to get a different message: `Token not allowed. Please ensure token is allowed or has the correct permissions.` This seems to indicate that the request is actually being made although nothing is written to the rundeck server API logs

[2019-07-29 22:00] zolvaring commented on #59753
I ended up finally solving this just shortly after posting after having been trying for quite a while. It is linked to my attempt to strip special characters from the token CLI return not working. What is odd is I found if I pass the exact correct token in Ansible directly it will work, where if I pass a bad token it will give the above error about having an incorrect token. When Ansible passes th

[2019-07-29 22:03] CMoH commented on #56930
What is the impact of this change? Do I have to carefully edit all my ansible inventories to make sure I don't have dashes in group names?

[2019-07-30 03:13] skyscooby commented on #56930
@CMoH IMO the best workaround for now is to add `force_valid_group_names = ignore` to your configuration and run ansible 2.8.2 or later.

[2019-07-30 03:51] Fred-sun commented on #56776
@zikalino Please take a look at this issue when you're free! Thanks a lot!

[2019-07-30 04:51] alexanderadam commented on #46362
@felixfontein [isn't it merged](https://github.com/ansible/ansible/pull/57956) and therefore fixed already?

[2019-07-30 04:54] Akasurde commented on #59731
!component =lib/ansible/modules/database/mysql/mysql_db.py

[2019-07-30 05:02] Akasurde commented on #59726
!component =lib/ansible/modules/windows/win_disk_facts.ps1

[2019-07-30 05:19] Akasurde commented on #59695
!component =lib/ansible/inventory/manager.py

[2019-07-30 06:31] Fred-sun commented on #57254
@MyronFanQiu Please take a look at this issue when you're free! Thanks a lot!

[2019-07-30 06:46] Woitekku opened #59760 "Assert cannot accept 0 as value"
##### SUMMARY
Assert cannot accept 0 as value.

A task code looks like this:
[code]

When playbook is fired up with extra-vars where scsi_controller is set to 0 (integer not in "" or '') or the same is for unit_number, it throws an error:

* with scsi_controller: 0, unit_number: 0
[code]
* with scsi_controller: "0", unit_number: 0
[code]
With other numbers (also integers) it works like a charm. On

[2019-07-30 07:23] imlight commented on #59496
Any traction on this ?

[2019-07-30 07:36] Akasurde commented on #59474
@hoathenguyen85 Could you please check if https://github.com/ansible/ansible/pull/59754 solves your problem ? I personally not tested this but looks promising.

[2019-07-30 07:36] Akasurde commented on #59474
resolved_by_pr https://github.com/ansible/ansible/pull/59754

[2019-07-30 07:45] gibillpay commented on #56788
BEFORE
`---
- hosts: dmz
  vars_prompt:
    - name: "ansible_sudo_pass"
      prompt: "Sudo password"
      private: yes
  tasks:

    - name: REMOVING LEFTOVER PACKAGES
      apt:
       autoclean: yes

    - name: REMOVING LEFTOVER PACKAGE DEPENDENCIES
      apt:
       autoremove: yes

    - name: UPDATING CACHES
      apt:
       update_cache: yes

    - name: CHECKING FOR UPGRADES
      apt:

[2019-07-30 07:46] #59650 closed, assigned to nobody

[2019-07-30 08:01] felixfontein commented on #46362
@alexanderadam it has been merged prematurely and has been reverted (#58422). @samdoran and @sshnaidm were talking on IRC about creating a new PR eventually, so that the module will be there for 2.9, but I haven't seen anything and was wondering what the current state is. Especially since feature freeze for 2.9 is in about one month.

[2019-07-30 08:06] Gourds commented on #56923
I also need this option now.

[2019-07-30 08:36] Akasurde opened #59762 "podman_image: Unstable tests"
##### SUMMARY

podman_image test is failing

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/podman/podman_image.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Shippable environment

##### STEPS TO REPRODUCE

https://app.shippable.com/github/ansible/ansible/runs/134376/75/console

##### EXPECTED RESULTS

Test should pa

[2019-07-30 09:25] sshnaidm commented on #46362
When reverted my patch @samdoran said he has something WIP that he's working on his own, you can ask him. I didn't hear anything since then.
I think I can share my reverted patch as package in pypi or module in galaxy, while adding missed things there.

[2019-07-30 09:32] thatsk opened #59766 "not able to access add_host module host variable into another host"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
ansible
##### ANSIBLE VERSION
ansible 2.8.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/test/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default

[2019-07-30 09:32] thatsk commented on #59766
not able to access downgraderpm version

[2019-07-30 09:33] kuldeep14327 commented on #24427
+1

[2019-07-30 09:39] thatsk commented on #59766
the hosts which are created in nodetype are test1, test2

[2019-07-30 09:41] thatsk commented on #59766
if i want to play with downgrade rpmversion further on another host

[2019-07-30 09:46] Akasurde commented on #59762
tests are disabled using - https://github.com/ansible/ansible/pull/59763

[2019-07-30 09:53] Fred-sun commented on #59496
@MyronFanQiu Could you look at this issue? I tried many times, but could not copy the error, thank you!

[2019-07-30 09:54] thatsk commented on #59766
@bcoca

[2019-07-30 11:45] bpados opened #59770 "azure_rm_managed_disk_facts module doesn't filter by tags"
##### SUMMARY
azure_rm_managed_disk_facts module doesn't filter the result by defined tags. Error message: "Tags must be a dictionary of string:string values.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
!component =lib/ansible/modules/cloud/azure/azure_rm_manageddisk_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MS Azure Cloud

##### STEPS T

[2019-07-30 12:02] gogeekness opened #59771 "Error on find module under local_location"
##### SUMMARY
I am trying to find a file `ms2i_x.x.x.x.tgz` on my local VM.

Later, I want to send the file to another VM on the same network segment (10.0.2.x).
Both VMs are on a single host using VBox internal network.

##### ISSUE TYPE
`fatal: [10.0.2.25]: FAILED! => {`
`    "msg": "privilege output closed while waiting for password prompt:\n"`
`}`

Error is from this task:

The source location

[2019-07-30 12:05] alexanderadam commented on #46362
@sshnaidm ah okay, I didn't know that. Thank you for updating me! :+1:

[2019-07-30 12:20] thatsk commented on #59766
debug is printing out but echo is not printing version

[2019-07-30 12:25] drewmullen opened #59775 "include description for COLLECTIONS_PATHS"
https://docs.ansible.com/ansible/devel/reference_appendices/config.html#collections-paths

collections_paths need a description

[2019-07-30 12:34] thatsk commented on #59766
TASK [debug] *******************************************************************
task path: /etc/ansible/playbooks/test.yaml:59
ok: [127.0.0.1] => {
    "hostvars[groups['msliv'][0]]['downgraderpmversion']['stdout']": "5.42.0-201809042105.733e1aa"
}

TASK [printing variable] *******************************************************
task path: /etc/ansible/playbooks/test.yaml:61
changed: [127.0.0.1]

[2019-07-30 12:46] Akasurde commented on #59775
resolved_by_pr #59778

[2019-07-30 12:56] drewmullen commented on #59775
thanks - sorry i didnt find it, i searched for "collections_paths" and thats named "collection"

[2019-07-30 12:56] #59775 closed, assigned to Akasurde

[2019-07-30 13:09] #54195 closed, assigned to nobody

[2019-07-30 13:59] sivel commented on #59760
The problem here is in your use of the jinja2 provided `default` filter.  Specifying the 2nd argument as `true` will tell the `default` filter that if the value is "falsy" to turn it into the default value which you have provided as `''`.

In python `0` is "falsy", which is causing this behavior.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.free

[2019-07-30 13:59] #59760 closed, assigned to nobody

[2019-07-30 14:00] #45617 closed, assigned to JohnLieske

[2019-07-30 14:03] abadger commented on #59674
It needs to be installed for python3 as the scripts for building the docs
and tarballs are moving to python3.

I'll take a look at that documentation and see how it should be updated.

[2019-07-30 14:20] thatsk commented on #59766
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/ansible-project/WHNIlvPs2X0

[2019-07-30 14:54] tremble opened #59787 "iam_password_policy ignores group/aws module defaults"
##### SUMMARY
I am using the [module defaults] feature to set common defaults among aws modules. However, iam_password_policy ignored these defaults.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/config/module_defaults.yml

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL7

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
iam_password

[2019-07-30 14:59] hoathenguyen85 commented on #59474
Yes that does solve my problem.  Thanks!

I'll close this ticket.

[2019-07-30 14:59] #59474 closed, assigned to nobody

[2019-07-30 15:09] samdoran commented on #59447
Closing as a duplicate of #26898, which is a feature request to add NTLM support to the `uri` module.

[2019-07-30 15:09] #59447 closed, assigned to nobody

[2019-07-30 15:15] sivel commented on #59499
`allow_world_readable_tmpfiles` can not be used as a variable from within a play.  This must be set from an ansible.cfg file only.

Please see https://docs.ansible.com/ansible/latest/reference_appendices/config.html#allow-world-readable-tmpfiles

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.co

[2019-07-30 15:15] #59499 closed, assigned to nobody

[2019-07-30 15:15] samdoran commented on #59501
Closing since this feature is now implemented in 2.9.

[2019-07-30 15:15] #59501 closed, assigned to nobody

[2019-07-30 15:18] Cougar commented on #56930
@skyscooby, even this is a PITA. The thing that it is not possible to put this line as a default in `/etc/ansible.cfg` and use local `ansible.cfg` in playbook directories for other config. This means that all exitsing `ansible.cfg` files needs to be changed.

Or is there any way to set up global defaults (without adding another variable to the user environment)?

[2019-07-30 15:18] samdoran commented on #59514
This seems like an issue with kerberos configuration. See the [Windows Guides](https://docs.ansible.com/ansible/latest/user_guide/windows.html) for details on configuring Windows connections.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-30 15:18] #59514 closed, assigned to nobody

[2019-07-30 15:26] vladimir-shopov-axway commented on #45298
I confirm that version 2.7.10 is also affected.

As for the issue itself - the primary user identifier from module's perspective is the name parameter (also called username in the win_domain_user.ps1 script). Upon creation of a new user the Name and SamAccountName attributes are implicitly tied together and are based on the value of the username variable from the script. The value of this username

[2019-07-30 15:30] nitzmahone commented on #59538
We're leaning entirely on [PSScriptAnalyzer](https://github.com/PowerShell/PSScriptAnalyzer) for Powershell code linting- if there are new rules you want in it, you'd need to see if the Powershell community as a whole is interested and get them implemented in that tool. We're probably not going to implement new/custom PS rules specifically for Ansible though, so going to close this issue here. If/

[2019-07-30 15:30] #59538 closed, assigned to nobody

[2019-07-30 15:30] samdoran commented on #59558
!component =lib/ansible/modules/net_tools/netbox/

[2019-07-30 15:31] samdoran commented on #59578
Closing per above comment.

[2019-07-30 15:31] #59578 closed, assigned to nobody

[2019-07-30 15:37] s-hertel commented on #59704
@mlda065 At this point, changing the default `overwrite: 'always'` behavior would need a deprecation cycle since it has been the case since Ansible version 1.2. This would also not work for FIPS systems. I've modified this to be a docs report since the `mode` option documentation should document that `put` isn't idempotent by default.

[2019-07-30 15:43] vladimir-shopov-axway commented on #44757
The issue is that system attributes cannot be changed like regular attributes are changed. In order to modify the CN/name of a user the Rename-ADObject command should be used. This means that those two additional attributes should be handled separately than the other additional attributes. Probably it would even make more sense to take them out as separate parameters of the win_domain_user module

[2019-07-30 15:48] samdoran commented on #59634
This looks like a bug from an underlying C library causing SSH to fail:

[code]

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-30 15:48] #59634 closed, assigned to nobody

[2019-07-30 15:52] samdoran commented on #59642
cc @jimi-c

[2019-07-30 15:54] samdoran commented on #59644
We have no plans to implement this feature at this time. This is best implemented in a custom strategy plugin.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-07-30 15:54] #59644 closed, assigned to nobody

[2019-07-30 15:59] jsutton commented on #51847
I ran fetch in both flat and non-flat modes, and @felixfontein is correct. If the file exists locally and is different than the remote source it will be updated. It is not immediately clear to me where to note this. In the copy module it is mentioned in the `force` parameter and implied in the `backup` parameter. Perhaps this is an opportunity for a new feature? Alternatively, we could notate it a

[2019-07-30 16:00] mmolinac commented on #58242
I did some debugging and found that the following code

https://github.com/ansible/ansible/blob/be6918689a1f646feec95e1f072bd0cdc9c1a4ec/lib/ansible/module_utils/gcp_utils.py#L159-L161

is not working because even if you filled `service_account_contents`, it doesn't reach this part.
I've dumped the keys there myself.
My Python (and Ansible internals, by the way) knowledge is limited and I don't kn

[2019-07-30 16:02] billdodd opened #59793 "Add GetSoftwareInventory command"
##### SUMMARY

During the 2019 APTS Plugfest, it was noted that the `GetFirmwareInventory` command was gathering the `FirmwareInventory` from the `UpdateService`, but not the `SoftwareInventory`.

There are two options to address this request:

1. Update the `GetFirmwareInventory` command to also gather the `SoftwareInventory`.
2. Add a new `GetSoftwareInventory` command.

I'll get input on these

[2019-07-30 16:08] mrhockeymonkey opened #59795 "put_file method in psrp connection plugin breaks JEA"
#### SUMMARY
PSRP connection plugin does not respect the JEA configuration parameters when running put_file(). It instead creates a new shell which does not support ansible_psrp_configuration_name parameter. This results in access denied errors when using modules such as win_template which rely on put_file()

see: https://github.com/ansible/ansible/blob/6adf0c581ee005f514ea68e80c0f91e97e63dcea/lib

[2019-07-30 16:19] jkirk opened #59796 "module user: no notes for parameter shell"
##### SUMMARY
The documentation of the module *user* / parameter *shell* states:

https://github.com/ansible/ansible/blob/8edad83ae029d7838a6d6347576d2ddbcce12ad0/lib/ansible/modules/system/user.py#L79

But there are no (shell specific) notes.
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
user / docs

##### ANSIBLE VERSION
devel branch

##### CONFIGURATION
N/A

##### OS / ENVIRONME

[2019-07-30 16:20] billdodd opened #59797 "redfish_facts: GetLogs can raise KeyError"
##### SUMMARY

The GetLogs command can raise a KeyError if any of the properties it tries to read are not present. The properties being gathered are not required, so it should not be an error condition for them to be absent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redfish_facts.py
redfish_utils.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ap

[2019-07-30 17:00] bcoca commented on #59796
the notes are there, they are not specific to the 'shell' option but about the tools used per platform

[2019-07-30 17:02] #59695 closed, assigned to nobody

[2019-07-30 17:02] chiradeep commented on #59457
tracked here: https://github.com/citrix/netscaler-ansible-modules/issues/91

[2019-07-30 17:25] samccann commented on #51847
Thanks @jsutton .  I think we could add that to either the `dest` parameter description or add it in the Notes section.  Something like "Overwrites the file if it already exists in the `dest` path and is different from the source file." ?

[2019-07-30 17:41] lwalke59 commented on #58302
@ShachafGoldstein Has there been a PR made for this?

[2019-07-30 17:45] derekslenk opened #59803 "Custom WIndows Modules broken in 2.8.1"
##### SUMMARY
I have a custom windows module that was working fine on 2.7.10 for weeks with no issue.

Upon upgrade to 2.8.1 it fails. However, the windows module did all the work and tried returning the correct data. The RC is 0.

However with debug, Ansible is failing on WinRM

<COMPUTER> WINRM STDERR #< CLIXML
<Objs Version="1.1.0.1" xmlns="http://schemas.microsoft.com/powershell/2004/04"><Obj

[2019-07-30 17:59] billdodd opened #59804 "Redfish: Power commands not mapping to allowable ResetType"
##### SUMMARY

For the Power* commands (redfish_utils.py:manage_system_power(), there is some logic to check the allowable ResetType values and try to map the requested command to one that is supported by the system. For example, map `GracefulRestart` to `ForceRestart` if `ForceRestart` is allowed but `GracefulRestart` is not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redfish_command.p

[2019-07-30 18:14] abenokraitis opened #59806 "CNOS modules showing as "supported" when it shouldn't"
##### COMPONENT NAME
cnos_linkagg

https://docs.ansible.com/ansible/devel/modules/network_maintained.html#network-supported

Specifically:
https://docs.ansible.com/ansible/latest/modules/cnos_linkagg_module.html#cnos-linkagg-module

should be modified to be community supported (not fully supported).

Thanks!

[2019-07-30 18:15] abenokraitis commented on #59806
cc @auraleedhar

[2019-07-30 18:18] bcoca commented on #41313
@jbarotin this is not something we are planning to add, it really does not make sense since handlers are flushed for all hosts, making it conditional to 'the first host' seems incorrect.

But we are open to considering an implementation, which is why this feature request is kept open.

[2019-07-30 18:28] bcoca commented on #54162
@fpob all file paths will get expanded, that is expected and done on purpose.

In other cases it depends on being backed by an API or by a CLI tool, which is the case for `user` and `git`

[2019-07-30 18:31] mmellin commented on #55572
We are currently running into issues in relation to the lack of "delete from disk" support.  The lack of "delete from disk" support causes many folders to be created on ESXi, which causes errors after 500 of the same VM have been created.  Vmware s/w supports appending integers up to 499 to a folder (`<vm_name>_499`).  Cleaning up these old folders is a challenge, for various reasons, which can be

[2019-07-30 18:37] abenokraitis commented on #59806
##### COMPONENT NAME
cnos_linkagg

[2019-07-30 18:39] skyscooby commented on #56930
@Cougar agreed this choice from Ansible is a PITA..

Your problem however is not unique to this setting.. we experienced similar pain and now we discourage the use of per-project ansible.cfg files as most settings can be set with environment variables which override cfg file settings.. so if a projects for some obscure reason needs a specific setting we ask they use the ENV method which leaves the

[2019-07-30 18:48] gparent commented on #56786
I think I'm also seeing this problem. Is there anything we can do to help?

[2019-07-30 19:14] samdoran commented on #59752
Fixed by adding an additional check in `ansible-core-ci`.

[2019-07-30 19:14] #59752 closed, assigned to nobody

[2019-07-30 19:18] fpob commented on #54162
@bcoca paths yes, it is expected. Unexpected is env variable expansion.

[2019-07-30 19:18] ShachafGoldstein commented on #58302
haven't gotten around to it yet - if someone has the time go-ahead

[2019-07-30 19:27] renankaic commented on #59682
**You were right**. I was pointing to the VM source instead of my own linux path.

I changed the "src: /vagrant/configs/mysqld.cnf" to "src: /home/renan/dev_environment/bionic64/configs/mysqld.cnf" and the copy process worked.

About the "remote_src" option: I tried to enable it but it didn't work too. It gaves me the same message.

But, it's solved.

I did this mistake because I was following the

[2019-07-30 19:27] #59682 closed, assigned to nobody

[2019-07-30 19:41] filippog opened #59813 "systemd module misses to 'enable' when Install section has changed"
##### SUMMARY
Upon changing the `[Install]` section of an unit file, the unit should be enabled again for changes to take effect, `systemctl` [documentation](https://www.freedesktop.org/software/systemd/man/systemctl.html#enable%20UNIT%E2%80%A6)

As far as I can tell from [systemd.py](https://github.com/ansible/ansible/blob/691976c3d0be3c5c29ff92da46cf8b1d7cacb233/lib/ansible/modules/system/system

[2019-07-30 19:58] felixfontein commented on #51847
Why not describe this in the description? This is about the module's core functionality, so I would say it belongs there.

[2019-07-30 20:15] pabelanger opened #59818 "ansible-test does not work with network-integration collection"
##### SUMMARY
We are starting to experiment with ansible-test for ansible-network collections, however it does seem to find out tests properly. When using the eos_.* wildcard, nothing is found.

https://logs.zuul.ansible.com/34/34/5ae2447599d7b9804947010370afbd710cb441b3/check/ansible-test-network-integration-eos-python35/dcd97e0/job-output.html#l903

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2019-07-30 20:20] jsutton commented on #51847
@felixfontein, @samccann, I went ahead and put it in the description of the module as it does pertain to overall behavior and clarified it in the `flat` parameter as that is where it is most likely to matter.

[2019-07-30 20:32] imjoseangel opened #59821 "New Azure Datalake directories management Module"
##### SUMMARY

Create Azure RM Datalake Gen1 Folder ACLs
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_datalakeacl.py

##### ADDITIONAL INFORMATION

This module will configure the Datalake Gen1 ACL Permissions. I already have this implemented and I would like to know if it is interesting to share. Another module for directories management is going to come and I need feedback to k

[2019-07-30 20:39] billdodd opened #59822 "EnableUser command fails if no Enabled property is present"
##### SUMMARY

When using the `EnableUser` command, if the account being targeted does not have an `Enabled` property, the command may fail with a `400 Bad Request`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redfish_command.py
redfish_utils.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Applies to Redfish OOB controllers.

##### STEPS TO REPRODU

[2019-07-30 20:40] imjoseangel commented on #59803
Hi @derekslenk if you check the [Windows module development walkthrough](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general_windows.html) you will find that there is a new way to develop Windows Modules in 2.8. Do you think it could be an option refactor one of your custom modules and check if the "new way" could be the issue?

Let me know if you need help

Regards

[2019-07-30 20:43] s-hertel commented on #59102
I have not tested this so someone who uses the module ought to make the PR after verifying, but I think something like this should fix it: https://gist.github.com/s-hertel/881ab33ac78371b5e3bd4b69b64c5338

[2019-07-30 20:45] Constantin07 commented on #59674
@abadger It looks like i's already installed for python3 too.
[code]

What am I doing wrong ?

[2019-07-30 21:06] mattclay commented on #59604
We should advise users to include the output of `ansible-test env --show` when filing bug reports involving `ansible-test`.

[2019-07-30 21:07] samdoran commented on #46362
I have a _very_ early WIP [here](https://github.com/samdoran/ansible/blob/74a4e3c1e628bd96c9d188f36a0c122899977d72/lib/ansible/modules/cloud/podman/podman_container.py). It's pretty much a skeleton that needs to be filled out. Lots of work to be done still.

[2019-07-30 21:36] colans commented on #56046
This problem was also discussed in #22169, and summarily closed by @bcoca with:

@jimi-c wrote:

I don't believe this behaviour makes sense anymore, given that users like us would like to:
1. Specify a role's dependencies, and
1. Use the newer `import_role` and `include_role` mechanisms to control how those dependencies are run.

To make this possible, I propose that we change the core behaviour s

[2019-07-30 21:37] stacmi opened #59824 "win_firewall_rule: when multiple rules exist in the case of predefined rules ansible creates new rule"
##### SUMMARY
I am trying to disable firewall rules on windows and when there are multiple rules of the same type (as is the case with rules for Cortana, Your profile, and Work or school account) it seems that the module does not fail out like it should on multiple rules but instead creates a new one.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_firewall_rule.ps1

##### ANSIBLE VERSIO

[2019-07-30 22:05] #59504 closed, assigned to nobody

[2019-07-30 22:11] jamescassell commented on #56930
I did some digging.

this functionality was originally added in PR https://github.com/ansible/ansible/pull/52748 allegedly to support the feature request https://github.com/ansible/ansible/issues/40581

one description of the goal: https://github.com/ansible/ansible/pull/52748#issuecomment-467976473

first version of THIS symptom (though different cause): https://github.com/ansible/ansible/issues/

[2019-07-30 22:12] jborean93 commented on #59504
Using `content` in the copy plugins is mostly just a convenience option, the recommended way for Ansible is to use a file in `templates` if need to template it with an option or `files` for static files. The other alternative is to use `win_shell` like:

[code]

This will be idempotent in the sense that the file is only created if it doesn't already exist. If you need an idempotent check on the co

[2019-07-30 22:33] colans commented on #32888
Is this the same problem as described in https://github.com/ansible/ansible/issues/56046#issuecomment-516605289 ?

[2019-07-30 22:35] jctanner commented on #59818
-label python3

[2019-07-30 22:35] #52253 closed, assigned to nobody

[2019-07-30 22:41] jctanner commented on #59818
@pabelanger do the tests invoke when the targets are NOT specified?

needs_info

[2019-07-30 22:45] #59667 closed, assigned to nobody

[2019-07-30 23:28] thylocene opened #59829 "win_domain_group_membership"
##### SUMMARY
win_domain_group_membership does not support cross domain membership.
This module needs extra parameters so that both group and members have server specified.  At the moment the users and groups have to be in the same domain for the module to work!  We have a multi-domain forest and need the ability to add users to groups from the other domains

$user = Get-ADUser fredb -Server fabri

[2019-07-30 23:53] octagonprogramming commented on #59824
!component =lib/ansible/modules/windows/win_firewall_rule.ps1

[2019-07-31 00:28] pabelanger commented on #59818
No, I am unsure how to do that, if I don't specific a target, I get the following:

  WARNING: All targets skipped.

[2019-07-31 01:28] jctanner opened #59834 "sanity tests for metaclass are too broad with collections"
##### SUMMARY
the metaclass sanity test is checking files it shouldn't be checking

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-07-31 01:33] mattclay commented on #59561
Most sanity tests have been migrated to the new ignore file.

The following tests still have hard-coded ignore or skip entries:

- action-plugin-docs (currently uses module names instead of file paths)
- no-unwanted-files (currently skips an entire directory)
- symlinks (currently skips an entire directory, also does not use targets list yet)
- package-data (currently skips patterns, also does not

[2019-07-31 01:40] jctanner opened #59835 "collections: sanity pylint unable to import ansible.module_utils.six.moves.urllib.*"
##### SUMMARY
pylint is failing on imports of ansible.module_utils.six.moves.urllib.*

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test sanity pylint

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-07-31 02:04] mattclay commented on #59834
The [metaclass-boilerplate](https://docs.ansible.com/ansible/devel/dev_guide/testing/sanity/metaclass-boilerplate.html) sanity test is checking all Python files because we want to make sure all defined classes have consistent behavior between Python 2.x and 3.x.

[2019-07-31 02:04] #59834 closed, assigned to mattclay

[2019-07-31 02:13] mattclay commented on #59818
@pabelanger I'm planning on removing the `network-integration` command and integrating the necessary functionality into `integration` instead. However, until that's done you'll need to continue using the `network-integtration` command.

The collection you're testing needs a `test/integration/target-prefixes.network` file to declare the network platforms that exist. You can copy the entire file fro

[2019-07-31 02:19] #59835 closed, assigned to mattclay

[2019-07-31 02:27] Fred-sun commented on #57989
Thanks for opening this Issue and give fix comments. Can you open a PR to fix this? Thank you very much!

[2019-07-31 02:44] Fred-sun commented on #58024
@ssbarnea Thanks for your contribution, Do you still have this issue? Can you uninstall ansible and reinstall ansible for retesting? Thank you very much!

[2019-07-31 02:55] peterwillcn opened #59837 ""yum" only once while using a loop via squash_actions is very useful，why deprecated??"
[code]

[2019-07-31 03:27] Akasurde commented on #59770
!component =lib/ansible/modules/cloud/azure/azure_rm_manageddisk_facts.py

[2019-07-31 03:28] Akasurde commented on #59731
@pratikgadiya12 Could you please take a look into this ? Thanks in advance.

[2019-07-31 03:31] Akasurde commented on #59558
cc @FragmentedPacket @pilou-

[2019-07-31 04:33] mattclay commented on #59562
Resolved by https://github.com/ansible/ansible/pull/59670

[2019-07-31 04:33] #59562 closed, assigned to mattclay

[2019-07-31 04:37] mdavis-xyz opened #59840 "aws_s3 to return version"
##### SUMMARY

I would like the S3 object version string to be returned as an output of `aws_s3`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aws_s3

##### ADDITIONAL INFORMATION

My use case is that I am trying to deploy Lambda functions with CloudFormation.

Here is the flow for doing so:

1. Zip up the code for your lambda function
2. Upload that zip to S3
3. Deploy a CloudFormation

[2019-07-31 05:07] Fred-sun commented on #59821
@imjoseangel Thanks for your contribution this issue.
@yungezz @MyronFanQiu Please take a look at this issue when you're free! Thanks a lot!

[2019-07-31 05:21] mlda065 commented on #59840
I'm willing to write this myself. I just want some guidance before I put that effort in.

Amazingly `s3.upload_object` doesn't actually return *anything*. (I have no idea what the AWS people were thinking when they designed that function.)

So I want to add another API call, to describe the object.
This will increase the duration of all `aws_s3` tasks by a bit.
Is this acceptable?
(I note that thi

[2019-07-31 05:22] #52232 closed, assigned to nobody

[2019-07-31 05:55] chriswayg commented on #56788
Using `yes` for both the boolean yes and the string "yes" is really confusing and is not made clear in the examples of the documentation. I cannot find any example which shows the following (non-intuitive but correct) syntax in the docs:

[code]

Look at the section for `upgrade` and `update_cache` here: https://docs.ansible.com/ansible/latest/modules/apt_module.html

It does not indicate anywhere

[2019-07-31 06:02] mlda065 commented on #59840
Ok it turns out this is far more complicated than I expected.

I want `mode=put` to upload an object, then fetch the list of object version for that object, and get the `VersionId` for the object we just uploaded.

Now what if someone else uploaded a different version of the object between us uploading our copy of the object and us downloading the list of versions?
We cannot assume that what we ju

[2019-07-31 06:58] maglub commented on #56930
Man, I have been reading #52748 so many times now.

As I understand it, group names were previously sanitised in the plugins and the core, and someone (for whatever reason, as it is still not at all clear to me why) decided that group names should follow python variable naming conventions.

So #52748 pushed the sanitation into the inventory instead, which breaks things for so many people. Especial

[2019-07-31 07:14] mkrizek commented on #59837
The deprecation message offers alternative.

[2019-07-31 07:14] mkrizek commented on #59837
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-07-31 07:14] #59837 closed, assigned to nobody

[2019-07-31 07:57] jjh74 commented on #57732
So far I haven't had time to create tests for this. Is the PR ok without tests or are tests required ?

[2019-07-31 08:12] ssbarnea commented on #50319
Sure, PRs are welcomed here.

[2019-07-31 08:16] #52625 closed, assigned to nobody

[2019-07-31 08:22] tremble commented on #59102
@s-hertel Thanks, that worked a treat.

[2019-07-31 09:17] pratikgadiya12 commented on #59731
Sure

[2019-07-31 09:19] pratikgadiya12 commented on #59731
@vmahadev: This issue is not reproducible. It seems like your root user is not able to connect to the database via localhost. Could you check the privileges?

**Playbook**:
[code]

**Playbook run**:
[code]

[2019-07-31 09:44] jbarotin commented on #41313
Thanks @bcoca for your answer, so I have to wait a PR about this. I'll not propose it, I have no more time to spend for this annoying warning message that appear in ansible 2.7 (but I understand why it appears).

[2019-07-31 09:44] Fred-sun commented on #58043
@MyronFanQiu Any update for the feature? Please share, Thank you!

[2019-07-31 09:48] Fred-sun commented on #58069
@yungezz @zikalino

[2019-07-31 09:51] snuser opened #59855 "AttributeError: 'Block' object has no attribute 'notified_hosts'"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS release 6.10 (Final)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-07-31 09:52] snuser commented on #59855
ERROR! Unexpected Exception, this is probably a bug: 'Block' object has no attribute 'notified_hosts'
the full traceback was:

Traceback (most recent call last):
  File "/usr/bin/ansible-playbook", line 110, in <module>
    exit_code = cli.run()
  File "/usr/local/python2.7/lib/python2.7/site-packages/ansible/cli/playbook.py", line 123, in run
    results = pbex.run()
  File "/usr/local/python2.7/

[2019-07-31 09:58] Yannis100 commented on #55880
#59716

[2019-07-31 10:01] Fred-sun commented on #58129
was fixed by #58150

[2019-07-31 10:04] Fred-sun commented on #58285
@yungezz @zikalino Could you look at this problem? Why there is no update logic for service_principal? Thank you!

[2019-07-31 10:36] mkrizek commented on #59855
Duplicate of https://github.com/ansible/ansible/issues/20493

[2019-07-31 10:36] #59855 closed, assigned to nobody

[2019-07-31 10:49] Vladimir-csp commented on #59017
Some elements of redundancy in `plugins/strategy/__init__.py`:

function `search_handler_blocks_by_name` iterates over undeduplicated `handler_blocks`, calling `get_handler_templar` on every handler until the right one is found, even if name does not contain variables and certainly would not fit.

After handler is found, `get_handler_templar` is being called yet again for every handler in `iterato

[2019-07-31 11:28] Vladimir-csp commented on #59017
Another set of  hacks:

Skipping temlar in `search_handler_blocks_by_name` by modifying condition:
[code]

Skipping templar invocation during the whole `listening_handler_block` stuff by wrapping it in `if listeners != []:` condition:
[code]
If I understand this correctly, this would prevent templating the handler if it its `listen` attribute is empty.
Those hacks reduce notification time **all th

[2019-07-31 11:32] fthommen commented on #41313
@bcoca:

I'm not sures if this point of view is valid.  See our use case above:
[code]
We are importing complete roles based on specific features.  Basically IMHO this "feature" breaks the functionality of the imported role, even though we (would like to) flush the handlers for _all_ hosts (which have been assigned to the respective role).  So far we haven't found a workaround and we _really_ hope

[2019-07-31 11:34] tux-84 opened #59857 "include_task should be case-insensitive for files"
##### SUMMARY
When including a .yml-file using the `include_tasks` command, Ansible will find it regardless whether the variable uses a different format than the actual file.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
include_tasks
##### ADDITIONAL INFORMATION
Example:
[code]
This variable might contain `Debian` but under OSX and Windows will call a file called `debian.yml`just fine, w

[2019-07-31 11:37] Vladimir-csp commented on #59017
Summary of my hacks:

[code]

[2019-07-31 11:49] mkrizek commented on #59017
@Vladimir-csp would you mind sharing a simple reproducer?

[2019-07-31 12:28] agowa opened #59859 ""Snapshot/Breakpoint" within playbook"
##### SUMMARY

As a developer using dynamic inventories I want to have snapshot support for playbook execution, so that I can halt/change/contine/jump back to halt/change/rerun tasks within a playbook.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ADDITIONAL INFORMATION

I often have very hard to debug race conditions and it is a bit tedious to have the whole playbook run agai

[2019-07-31 12:42] Vladimir-csp commented on #59017
"simple" might defeat the purpose, and I can't share actual playbooks.

I'll try generating something.

[2019-07-31 13:02] bool-rus commented on #36308
maybe reopen the #49041
there is no way to use some rollback behaviour with any_errors_fatal or max_fail_percentage options in current state.
Workaround: ugly boilerplates after each task a-la:
`
- name: fail if any host failed previous task
   fail: msg="previous task failed"
   when: (hostvars.values()|selectattr('previous_task', 'failed')|list)|length > 0
`

[2019-07-31 13:32] simonnix commented on #59021
I'm affected too. 👍

[code]

Same message :
[code]

As it does not work I use "k8s_raw" instead and change the replicas in the YAML Deployment definition, which sometimes (often) fails, and so I use "ignore_errors: yes".

[2019-07-31 13:40] mszumilak opened #59863 "ec2_vpc_route_table not idempotent - failing on adding already existing route"
##### SUMMARY
I created a routing table with routing defined statically. After that I want to add VPC peering routing collected in separate task. I use routing table fact registered in previous task.

As result I'm getting:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_vpc_route_table

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
AWS API

#####

[2019-07-31 13:45] shitalp commented on #25068
Where to add that --forks 1 in ansible

[2019-07-31 13:49] fabianvf commented on #59021
Sorry, this one slipped under my radar, I'll look into this one today. Thanks for the reports and sorry @ephracis for not responding initially.

Also @simonnix just fyi `k8s_raw` and `openshift_raw` were combined and renamed to `k8s` in 2.6, I'm not sure how long the alias will stick around but if you're already on 2.6+ it's probably best to go ahead and switch to the new name.

[2019-07-31 14:00] displague commented on #36348
This issue will not be relevant if https://github.com/ansible/ansible/issues/51060 is pursued (despite that issue being closed).

@decentral1se summarized this well here https://github.com/ansible/ansible/issues/36348#issuecomment-428219133

cc @ellisbenjamin

[2019-07-31 14:04] bcoca commented on #56930
To clarify some misconceptions, part of them were to due to my mistakes and making initial messages unclear, the latest versions have fixes to some of the issues people keep bringing up here, other fixes are still incomming:

Just to say this once, clearly , YOU WILL ALWAYS BE ABLE TO USE DASHES IN GROUP NAMES also dots and other characters that are now considered 'invalid', just not by default. T

[2019-07-31 14:16] haeringer commented on #56930
Thanks a lot for the clarification.

[2019-07-31 14:20] samdoran opened #59864 "module_defaults groups will not work with modules that only exist in collections"
##### SUMMARY

Currently we maintain a [hard coded list](https://github.com/ansible/ansible/blob/80d8058f5c49c5d10eb3e527bd9d72052143a629/lib/ansible/config/module_defaults.yml) of module defaults. Modules distributed via collections have no way to use module defaults groups.

Furthermore, having a hard coded list does not scale well. New modules are often not added to the file and old modules are

[2019-07-31 14:26] pabelanger commented on #59599
Can you please share an example playbook showing the issue.

[2019-07-31 14:27] pabelanger commented on #59549
This looks to have been fixed in the PR above, #59565

[2019-07-31 14:28] pabelanger commented on #59549
Sorry, my mistake, there is another PR

[2019-07-31 14:37] bcoca opened #59865 "ansible-doc fails to find deprecated plugin in collection"
##### SUMMARY

When running a sanity test against a collection with a deprecated plugin, `ansible-doc` fails to find the file for documentation.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

plugin loader
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora 30
python 3.6

##### STEPS TO REPRODUCE

run sanity test against collection with deprecated module

[2019-07-31 14:38] bcoca commented on #59865
cc @jctanner

[2019-07-31 14:40] klaver commented on #48055
Also affects RHEL-8, I tried to deploy a brand new RedHat 8 template and the rpm package NetworkManager-glib is not available.

[2019-07-31 14:50] Vladimir-csp commented on #59017
something like this:
[code]

[2019-07-31 14:53] TCJackwood opened #59866 "Using failed_when with include_role now fails in 2.8.0"
##### SUMMARY
Upgrading to Ansible version 2.8.0 now causes all playbooks with tasks having "failed_when" clauses attached to "include_role" commands fail to process.

These playbooks work correctly on Ansible 2.7.0, and are fine with the "failed_when" clause being attached to "include_role" commands

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
failed_when, include_role

##### ANSIBLE VERS

[2019-07-31 15:05] xoyteam opened #59868 "snap not installed packages"
##### SUMMARY

if in system snap no installed core, snap module always return changed: false and not setup any package

if on remote system command snap list  [package name] return
[code]
then ansible never install any package
but if on remote machine install snap core (example run manually `snap install hello-world` . command  snap  list [package name] return
[code]
then ansible work perfectly
##

[2019-07-31 15:53] #59787 closed, assigned to nobody

[2019-07-31 16:01] bcoca commented on #41313
@fthommen i would argue what you have there is a use case for `include_role` instead

[2019-07-31 16:02] samdoran opened #59870 "xml module - Order of keys is preserved in latest version of lxml"
##### SUMMARY
A [recent update to lxml (4.4.0)](https://lxml.de/4.4/changes-4.4.0.html) now preserves key insertion order for Python >= 3.6.

This means the output of this module will be different when running with Python >=3.6 and `lxml` >= 4.4.0. Integration tests were changed in #59742 to account for this.

Opening this issue to allow the community to decide if changes need to be made to the mo

[2019-07-31 16:03] #59102 closed, assigned to nobody

[2019-07-31 16:09] #51847 closed, assigned to nobody

[2019-07-31 16:14] #58063 closed, assigned to samdoran

[2019-07-31 16:34] weavage opened #59873 "Document mismatch in setup module"
##### SUMMARY
Several of the documentation examples for the setup module [link](https://docs.ansible.com/ansible/latest/modules/setup_module.html) show excluding 'any' but I don't think this is a valid subset. One of the main examples is:
[code]

I suspect this is supposed to be excluding 'min' instead of 'any'. If you run the setup module and try setting 'gather_subset=any' you'll see that this t

[2019-07-31 17:58] imjoseangel commented on #59821
Thanks @Fred-sun. @yungezz @MyronFanQiu the idea is creating a group of modules like this: [azure_rm_datalakeacl](https://github.com/imjoseangel/100-days-of-code/blob/devel/python/ansiblemodules/azure_rm_datalakeacl.py).

This is almost finish and I'm going to start working on one to manage directory creation/deletion/renaming. If you are fine, we can improve them to include in 2.9 or 2.10.

[2019-07-31 18:16] mattclay opened #59879 "Consolidate ansible-test integration* commands"
##### SUMMARY

Consolidate the three integration test commands `integration`, `windows-integration` and `network-integration` into a single `integration` command.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ansible-test

[2019-07-31 18:29] pabelanger commented on #59818
Thanks for the pointer, once we added the target-prefixes.network file, ansible-test started giving more errors. We also needed to add the following:

  test/integration/integration_config.yml
  test/integration/network-integration.cfg

however, for network-integration.cfg we are now looking to set environmental variable for ANSIBLE_CONFIG to a different file.

[2019-07-31 18:30] #57942 closed, assigned to nobody

[2019-07-31 18:35] angristan commented on #59868
I'm sorry I don't understand the issue... 🙁

[2019-07-31 18:41] kamleshdudani opened #59880 "azure_rm_virtualnetworkgateway latest sku not supported"
##### SUMMARY

Only legacy sku's are available which cannot be used for express_route gateway type

##### ISSUE TYPE
- Bug Report

fatal: [localhost]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "api_profile": "latest",
            "append_tags": true,
            "cloud_environment": "AzureCloud",
            "enable_bgp": false,
            "gatewa

[2019-07-31 18:58] #59806 closed, assigned to samccann

[2019-07-31 19:13] johanneskastl commented on #59686
I did some more debugging, and found that this appears on both Leap 15.0 and Leap 15.1, but not reproducible.

One day creating new VMs from the same image everything works, next day it fails.

The one task most likely to end in this error is this:
[code]

[2019-07-31 20:27] samdoran commented on #59762
Tests were fixed in https://github.com/ansible/ansible/pull/59805.

https://github.com/ansible/ansible/pull/59807 contains a fix for the module itself

[2019-07-31 20:27] #59762 closed, assigned to nobody

[2019-07-31 20:42] sivel commented on #21774
Closing per the above recommendation. Use the `ansible_ssh_common_args` variable, potentially from inventory to set a path to the variable that can utilize variables such as `inventory_dir` or `playbook_dir`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-31 20:42] #21774 closed, assigned to nobody

[2019-07-31 20:44] mattclay opened #59884 "Include ansible-test in setup.py"
##### SUMMARY

Include ansible-test in setup.py.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

setup.py
ansible-test

[2019-07-31 20:45] sivel commented on #24119
Closing now that https://github.com/ansible/ansible/pull/27874 is merged.

[2019-07-31 20:45] #24119 closed, assigned to nobody

[2019-07-31 20:45] pabelanger commented on #59818
Now that is this working, we can close and monitor https://github.com/ansible/ansible/issues/59879

[2019-07-31 20:45] #59818 closed, assigned to mattclay

[2019-07-31 21:05] simonnix commented on #59021
Hi @fabianvf, thanks for tackling this issue quickly (today?).

Also thanks for the "deprecated" warning. I'm not using "k8s_raw", don't worry, I'm using "k8s". But for a bug report on "k8s_scale" I thought, in the context, it was more comprehensible to use "k8s_raw" than "k8s".

Kind regards

[2019-07-31 21:53] sivel commented on #45050
The quickstart video no longer requires an email address, and plays without issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-31 21:53] #45050 closed, assigned to nobody

[2019-07-31 21:57] sivel commented on #46295
!component =lib/ansible/plugins/cache/mongodb.py

[2019-07-31 21:59] sivel commented on #46295
mongodb supports this as of 3.6.  Sanitizing these values is not recommended, as then the facts are incorrect.

Make sure you are running a version of mongodb that supports the `.` character in field names.

[2019-07-31 21:59] #46295 closed, assigned to nobody

[2019-07-31 22:00] sivel commented on #46545
Duplicate of #38696

[2019-07-31 22:00] #46545 closed, assigned to nobody

[2019-07-31 22:06] sivel commented on #48865
I'm going to go ahead and close this issue. The problem is not the fault of Ansible, but the underlying pyyaml library.  The issue is linked above for pyyaml.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-31 22:06] #48865 closed, assigned to bcoca

[2019-07-31 22:10] sivel commented on #49592
Closing per above.

To work around this situation, you may want to use jinja2_native as described at https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-07-31 22:10] #49592 closed, assigned to nobody

[2019-07-31 22:12] sivel commented on #55978
Closing per above.

[2019-07-31 22:12] #55978 closed, assigned to abadger, nitzmahone

[2019-07-31 22:14] cidrblock opened #59890 "Only filters in first file in collection/plugins/filter works"
##### SUMMARY
Only the filters in the first file found of a collection's filter directory work

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
filter plugins contained within a collection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 29

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
all filters in all files in a collection's plugins/filter

[2019-07-31 22:46] angystardust commented on #55370
resolved_by #57363

[2019-08-01 01:20] jborean93 opened #59892 "Check if _unquote is needed for win_stat/win_file/win_copy/slurp on action plugin call"
##### SUMMARY
When an action plugin runs the `stat`, `file`, `copy`, or `slurp` module on Windows it will unquote the path used in the `src`, `dest`, `path` options as per https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/__init__.py#L163. This needs to be investigate further to see whether we are incorrectly quoting a value when it shouldn't be or whether it is truly requir

[2019-08-01 04:13] jborean93 commented on #59195
@ironfroggy sorry for the delay here is a PR that should fix this for you https://github.com/ansible/ansible/pull/59898. I'm not 100% sure whether it was the collection stuff that broke this or the introduction of argparse but this fixes it :).

[2019-08-01 04:17] markafarrell commented on #58332
@jctanner I looked into this more and I actually think its a python 2.7 bug rather than ansible. I have no idea why but when you attempt to eval a large dictionary it will fail once it gets past a certain size. This is not the case with python3.

[2019-08-01 04:26] jborean93 commented on #59734
While this might be related to certificate veritifcation I've tried to replicate this locally and I can verify that I get a proper error message. To replicate this I changed https://github.com/ansible/ansible/blob/devel/lib/ansible/galaxy/login.py#L42 to `https://<github ip>/authorizations` and then I get;

[code]

It looks like something is going wrong when the `open_url` is trying to read the ce

[2019-08-01 06:07] Fred-sun commented on #59880
@kamleshdudani Thank you for opening this issue. It can be seen from the test log that it is caused by the wrong use of the sku parmater value. Sku parameters only support VpnGw1,VpnGw2 and VpnGw3. Thanks!

[2019-08-01 06:26] mlda065 commented on #59840
In case anyone else has the same use case, I created a custom filter as a workaround.

`./filter_plugins/aws_s3_version.py`

[code]

Invoke it with `key | s3_obj_latest_version(bucket)`

[2019-08-01 06:27] Fred-sun commented on #59880
@kamleshdudani Thank you for opening this issue. There are thirteen sku type. Now sku parmater only support VpnGw1,VpnGw2 and VpnGw3.  Maybe in the future, user can set others sku option  . Thanks a lot!

[2019-08-01 06:29] Fred-sun commented on #59880
@yungezz @MyronFanQiu Could you look at this issue? Is there an  plan to add additional option values to the sku? Thank you very much!

[2019-08-01 07:42] alxgu commented on #59686
Seems to be an issue with your environment/image. On my SLES15 server, it works as expected.

[2019-08-01 08:01] felixfontein opened #59904 "openssl_publickey: add cryptography backend"
##### SUMMARY
The `openssl_publickey` module should support a cryptography backend, so PyOpenSSL can be deprecated / removed eventually.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
openssl_publickey

[2019-08-01 08:03] felixfontein opened #59905 "openssl_pkcs12: add cryptography backend"
##### SUMMARY
The `openssl_pkcs12` module should support a cryptography backend, so PyOpenSSL can be deprecated / removed eventually. Currently cryptography does not support PKCS12, though, so some preliminary work on adding PKCS12 support to cryptography is needed. Also, this means that deprecating the PyOpenSSL backend would need to be done much later than for other modules, since a new enough c

[2019-08-01 08:03] xoyteam commented on #59868
If I set snap in a clean system without snap core.
I will not be able to set anything by means of the snap module.

Always returns the status of success unchanged

[2019-08-01 08:04] felixfontein opened #59906 "get_certificate: add cryptography backend"
##### SUMMARY
The `get_certificate` module should support a cryptography backend, so PyOpenSSL can be deprecated / removed eventually.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
get_certificate

[2019-08-01 08:04] cueedee commented on #58760
Note to self: as discovered through #32800, the following _does_ work:

[code]

[2019-08-01 08:32] Fred-sun commented on #59770
@bpados Thank you for reporting this bug.

[2019-08-01 08:34] Fred-sun commented on #59770
@yungezz @MyronFanQiu Could you take a look this issue? It can't get  disk facts by tags feature. Thanks!

[2019-08-01 08:39] rmetzler commented on #30754
I agree, there should be a flag `allow-releaseinfo-change` in ansible-module for apt.

[2019-08-01 08:41] xoyteam commented on #59868
I made a workaround
[code]

[2019-08-01 08:55] Akasurde commented on #49695
needs_info

[2019-08-01 09:12] simonnix commented on #59021
Hi @fabianvf, I tested your patch and it works now, I can use `k8s_scale`.

I noticed that wait does not work on scaling down, only on scaling up. Should I open an issue/feature request about it ?

[2019-08-01 09:36] Akasurde commented on #53750
@wedi Can you confirm if @sivel's solution works for you ? Thanks

needs_info

[2019-08-01 11:16] angristan commented on #59868
I can't reproduce on Debian 10.

I installed `snapd` from the Debian APT repo and `ansible` from the Ansible APT repo.

[code]

[code]

[2019-08-01 11:24] bpados opened #59916 "azure_rm_manageddisk module doesn't change storage_account_type if disk is OS disk"
##### SUMMARY

azure_rm_manageddisk module doesn't change storage_account_type if disk is an OS disk. Additionally it requires to defined disk size. Using az disk update command disk size parameter is not mandatory.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_manageddisk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Azure Cloud
Virtual host

[2019-08-01 11:28] angystardust opened #59917 "[vmware] vmware_portgroup idempotecy issue"
##### SUMMARY
When trying to run a play which adds a portgroup to a cluster, on the first run the modules correctly add the portgroup on every node while on the second run, the module returns a "_Security changed_" message even if the module parameters are the same as the first run.
On the third run, everything is ok and no change is reported.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
v

[2019-08-01 11:31] angystardust commented on #59917
@Akasurde It seems like the issue has been introduced with #56382

[2019-08-01 11:33] angystardust commented on #59917
+label vmware
+label cloud

[2019-08-01 11:42] Akasurde opened #59918 "mongodb_shard tests fail on Ubuntu 1604"
##### SUMMARY
Ubuntu test cases are failing with following -
[code]

https://app.shippable.com/github/ansible/ansible/runs/135011/59/console

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/packaging/os/apt_key.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

Above Shippable link

##### EXPECTED

[2019-08-01 11:44] Akasurde commented on #59918
Upgrading pyopenssl version to 17.1 or higher may resolve issue. But not sure where do pin this version.

[2019-08-01 11:47] kepi commented on #27179
I don't believe this is the case, at least not with stable version of ansible. Yes, password changes but `plugin` field remains as `unix_socket` and you can't login with that password.

[2019-08-01 11:51] angystardust commented on #59917
Ok I did another test: I've tried to explicitly declare the _security_ parameters setting them as vsphere sets them by default:

[code]
In this way, The idempotency issue is solved. So, I suppose it has something to do with the "default value" logic...

[2019-08-01 13:27] gogeekness commented on #59771
Still have the same error with new latest Ansible:
[code]

[2019-08-01 13:28] justjais commented on #59549
PR raised for ios fix is merged now, so closing the respective issue.

[2019-08-01 13:28] #59549 closed, assigned to nobody

[2019-08-01 13:57] #42221 closed, assigned to Akasurde

[2019-08-01 14:15] markuman commented on #42292
Here is my PR for this issue: https://github.com/ansible/ansible/pull/59925
But it's not ready to merge yet, because I got a few questions about the keyname handling (see my comment in the PR).

[2019-08-01 14:17] loop-evgeny commented on #57529
@autra's workaround of an empty `- hosts: all` line worked for me (thanks a lot!) but I definitely wasted a bit of time on this. Just to re-iterate what others have already said:

- This behaviour is completely counter-intuitive, because gathering facts is not a "task" that I (as a user) think of has being filtered by tags
- This is a breaking change, because it worked before Ansible 2.8.

I'm qui

[2019-08-01 14:42] thpang commented on #46152
Any activity on this one? It is still failing and no fix has been pushed to the primary code base.

[2019-08-01 15:01] ChristianCiach commented on #34281
I see that this issue now has a "has_pr" label. I searched a lot, but I can't find the PR. Can someone link it here?

[2019-08-01 15:01] goneri opened #59928 "vmware_category: RecursionError: maximum recursion depth exceeded while calling a Python object"
##### SUMMARY

The following playbook from https://github.com/ansible/ansible/blob/devel/test/integration/targets/prepare_vmware_tests/tasks/setup_category.yml fails with the error below.

[code]

The error:
[code]

The same error with expended `\n`:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_category

##### ANSIBLE VERSION

[code]

[2019-08-01 15:05] sivel commented on #59918
It's likely being installed by an integration test, and not uninstalled.  I'm guessing via `setup_openssl` and not uninstalled by the test that needs it.

[2019-08-01 15:07] sivel commented on #34281
The bot added that label, and it looks like it was a false positive.  No work is being done on this feature, nor are there any plans to work on it currently.

[2019-08-01 15:12] sivel commented on #59734
I think the following should resolve this:

[code]

[2019-08-01 15:14] bcoca opened #59930 "collection callbacks won't load options"
Also they bypass the 'single stdout' restriction

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

collections

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

any

##### STEPS TO REPRODUCE

put callback into collection and whitelist

[code]

##### EXPECTED RESULTS

callback works

##### ACTUAL RESULTS

callback options are ignored

[code]

[2019-08-01 15:20] bkmeneguello opened #59931 "openssl_pkcs12: friendly_name should not be required when exporting"
##### SUMMARY
When openssl_pkcs12 module is used to generate a keystore, the friendly_name is required.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_pkcs12

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux Mint 19.1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should create a very simple PKCS12 truststore, without requiring

[2019-08-01 15:25] Akasurde commented on #59928
@goneri Seems related to https://github.com/ansible/ansible/pull/55804

[2019-08-01 15:29] mattclay opened #59934 "Support collections layout in ansible-test sanity tests."
##### SUMMARY

Many of the sanity tests used by ansible-test have paths in code and/or configuration that are specific to Ansible. These need to be updated to work with collections as well.

This is related to, but separate from https://github.com/ansible/ansible/issues/59561

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ansible-test

[2019-08-01 15:41] sam-findler commented on #59002
For reference, I have also noticed this bug in ansible 2.7.3 when targeting ubuntu16.04

[2019-08-01 15:47] mishas commented on #45761
@obourdon, I just tried this on Ansible 2.8.1 and 2.8.3, and in both this does not seem to be fixed yet, even though I do see your commit in the 2.8.3 git tag.

The way I tested was:
I've used this playbook:
[code]

And I looked at my hosts `/etc/network/interfaces` file which had method as static.

After the run, it was still static.

[2019-08-01 15:49] sivel commented on #19765
Closing this in favor of tracking this in https://github.com/ansible/proposals/issues/136

[2019-08-01 15:49] #19765 closed, assigned to jimi-c

[2019-08-01 16:03] jimi-c commented on #59642
@dbevacqua so it seems to me the easiest way to fix this would be to

1. Prevent workers from starting if we've started cleaning up
2. Spin before calling `join()` on the results thread until we're sure no more workers are starting

I haven't tried to reproduce this yet but based on your description it may not be something easy to do. Would you be available via IRC or email to test out any patches

[2019-08-01 16:35] skyscooby commented on #56930
Appreciate you taking the time to explain even though it would have been far simpler to stop supporting dot notation and deprecate that support over a few releases. Fewer people use that vs the amount of people who have invalid chars in their group names. Se la vie

[2019-08-01 16:45] fabianvf commented on #59021
Yeah, the `wait` logic in this module is all super outdated, there have been significant library changes since then. That's part of why I'm thinking a rewrite may be in order. At the moment I'd probably recommend using the `k8s` module and updating the replicas in your definition, and using the `wait` feature there.

[2019-08-01 17:18] sergiopacezup opened #59944 "Allow inline templates to be used as play parameters"
##### SUMMARY
I have some complex and dynamic configuration parameters on my playbooks. My current approach is to set a fact with the parameter content and feed it to "from_yaml". Something like this, only bigger:
[code]

##### ISSUE TYPE
The double set_fact feels "hacky" at best. Been able to use inline template into the module would be way easier:
[code]
Maybe there is a "best practice" to deal

[2019-08-01 17:34] sivel commented on #56552
This is a shortcoming of the historical integration between Ansible and jinja2.  jinja2 has historically only been able to return strings, which means that we get back python string representations of datastructures, and then we have to safely evaluate those string representations to turn them back into python data structures.

If we cannot safely evaluate the string representations, then they are

[2019-08-01 17:35] th3penguinwhisperer commented on #25337
SSH based key auth is working as I use it daily.

[2019-08-01 17:41] bkmeneguello opened #59945 "openssl_pkcs12: cannot parse PFX without private key"
##### SUMMARY
Cannot parse a PFX/P12 file without that not contains a private key

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_pkcs12

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

* Create a PFX/P12 file with only certificates ("other_certificates")
* Try to parse the file or run the export again over the same file

[

[2019-08-01 17:42] bcoca commented on #56930
@skyscooby the problem is that it is not Ansible doing that, it is Jinja.

[2019-08-01 17:57] sivel commented on #44514
cc @abadger

[2019-08-01 18:02] sivel opened #59948 "Remove deprecated redis_kv lookup"
##### SUMMARY
`redis_kv` is scheduled to be removed in 2.9

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/lookup/_redis_kv.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-08-01 18:08] sivel opened #59949 "Bump deprecated skip option for first_found"
##### SUMMARY
The `skip` option for `first_found` was indicated to be removed in 2.8.

The `version` under `deprecated` isn't meant to indicate the version the feature was deprecated in, but the version it will be removed in.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/lookup/first_found.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRON

[2019-08-01 18:09] sivel commented on #58942
!component =lib/ansible/plugins/lookup/first_found.py

[2019-08-01 18:22] sivel commented on #43708
!component =lib/ansible/module_utils/facts/hardware/linux.py

[2019-08-01 18:24] sivel commented on #43708
Ansible doesn't run the mount command, but attempts to read `/etc/mtab` falling back to `/proc/mounts`.

Additionally there is some logic to use `findmnt` to check for bind mounts.

In one of the above cases, your system is reporting that the mount is a bind mount.

[2019-08-01 19:05] netson commented on #41313
I ran into the same issue today; I have a scenario where I can only check the status of a service if the program is installed (manually installed binary). The status of the program depends on a configuration file; if that has changed I would like to reload the service, but if the service hasn't been installed yet, it will fail.

So after reading everything here I was able to come up with a working

[2019-08-01 19:17] bcoca commented on #59766
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-01 19:17] #59766 closed, assigned to nobody

[2019-08-01 19:21] bcoca commented on #59771
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-01 19:21] #59771 closed, assigned to nobody

[2019-08-01 19:29] s-hertel commented on #59840
I wonder if we should add an aws_s3_object_info module.

[2019-08-01 19:48] jborean93 commented on #59734
@sivel thanks for that, it should solve `-c` not being applied to the GitHub login but I still need to figure out why the original message is failing with `Error: Incorrect padding` and not the `CertificateError` that I get locally.

[2019-08-01 19:57] DrewBarrett opened #59952 "VMware: vmware_guest throws AttributeError 'NoneType' object has no attribute 'uuid'"
##### SUMMARY
Ansible throws an AttributeError exception. If I do not specify a network section, it will create the vm but complain about mismatched number of NICs

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vSphere 6.7.0
RHEL 7.6 kernel 3.10.0-957.21.3.el7.x86_64
pyvmomi 6.7.1.2018.12
#####

[2019-08-01 20:01] jap commented on #57934
@ansibot No cookies for you, weird bot.
I'm unsure what response is being waited for. A patch/PR has been supplied by @sivel above.

[2019-08-01 20:02] sivel commented on #59734
@jborean93 when I rewrote the SSL handling, I knew there were some exceptions raised when calling `ssl.PEM_cert_to_DER_cert`.  In my testing, which was limited in scope, I only encountered a `ValueError`.  I think extending that to just `Exception` is appropriate there, as I'm not sure I can enumerate all of the exceptions that might be raised through that call stack.

It seems that for @chrismeye

[2019-08-01 20:04] sivel commented on #57934
This has been resolved by https://github.com/ansible/ansible/pull/59187 and was included in 2.8.3 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-08-01 20:04] #57934 closed, assigned to nobody

[2019-08-01 20:05] DylanYoung commented on #22417
It would be nice if omit was consistent:

1) {{ omit is undefined }} should return true
2) omit in a jinja2 template should either render as the empty string or erase the line
3) omit anywhere in a playbook should remove the dictionary key or list index in which it appears.

Not only is this essential for role reusability as pointed out by many others, it makes uninitialized role defaults much mor

[2019-08-01 20:05] DrHashi commented on #56779
The output could be more useful but I've found that some Firewall will treat the high data transfer through SSH as an intrusion and kill the connection.

[2019-08-01 20:08] sivel commented on #22417
1. This is simply not the intention of `omit`.  `omit` as a variable is indeed defined, it is a sentinel used to detect whether or not a module parameter should be sent to the target hose for module execution.
1. jinja2 has no knowledge of `omit` and any functionality support such a feature would need to be implemented in upstream jinja2.
1. `omit` was specifically designed to omit a module argume

[2019-08-01 20:08] #22417 closed, assigned to nobody

[2019-08-01 20:14] samdoran commented on #59866
This is not a regression but a bug that was [fixed in 2.8.0](https://github.com/ansible/ansible/pull/46177). `failed_when` never had any affect in `include_role` but was silently ignored before 2.8.0 when it should have reported an error. Now Ansible properly reports that `failed_when` is not valid attribute for `include_*`.

[code]

[code]

To discuss this further, please reach out on IRC or the

[2019-08-01 20:14] #59866 closed, assigned to samdoran

[2019-08-01 20:14] felixfontein commented on #46362
@samdoran do you plan to have this done before 2.9 feature freeze?

[2019-08-01 20:23] jctanner commented on #58719
bot_status

[2019-08-01 20:23] mraineri commented on #59822
General rule: if Enabled is not supported, the account is assumed to be enabled. No reason to ever try to PATCH the property on these systems.

[2019-08-01 20:24] mariolenz commented on #58023
Fixed / implemented by #58468

[2019-08-01 20:24] #58023 closed, assigned to nobody

[2019-08-01 20:36] samdoran commented on #59857
This is not an issue with Ansible but the behavior of the underlying filesystem. Ansible passes the path to the underlying OS, and it is up to the filesystem whether or not file paths are case sensitive.

Historically, Linux has always used case-sensitive filesystems. Consumer operating systems, such as macOS and Windows, have historically use case-**insensitive** filesystems.

As an example, Ansi

[2019-08-01 20:36] #59857 closed, assigned to nobody

[2019-08-01 20:47] jillr commented on #49695
For whatever reason I can reproduce this with the same ceph environment now.   @mtkunkel  would you be able to test with #42501 and see if that patch resolves the issue for you?

[2019-08-01 21:02] javacat33 commented on #44374
I'm in the same boat..... using Tower and want to use role versioning per environment.

[2019-08-01 21:06] sivel commented on #43551
Based on the above timings, and recent work that has been done up through the devel branch, I believe this issue can be closed.

Please feel free to test on devel, and if you are having any problems, open a new issue with details.

Thanks!

[2019-08-01 21:06] #43551 closed, assigned to nobody

[2019-08-01 21:13] samdoran commented on #59918
These tests were recently added in dacfd72bd6c661a3ee2565ca081bfe75882e6d0c. They run fine in isolation, but fail as part of the group.

[2019-08-01 21:17] samdoran commented on #59918
As @sivel pointed out, this may be due to the fact that it is installing `requests[security]` which brings along `pyOpenSSL`. This may be causing issues with an existing version installed via `apt` not `pip`.

[2019-08-01 21:20] DylanYoung commented on #22417
This has nothing to do with the scope of omit.  It has to do with systemic
consistency, as pointed out above.

On Thu, 1 Aug 2019 at 17:10, Matt Martz <notifications@github.com> wrote:

[2019-08-01 21:22] DylanYoung commented on #22417
There are two ways to make it consistent:

1) raise an error when it is templated / used as a string
2) Make it consistent ;)

If your software doesn't abide by POLA, you should issue a strong warning
to any potential users.

On Thu, 1 Aug 2019 at 18:20, Dylan Young <dylanyoungmeijer@gmail.com> wrote:

[2019-08-01 21:26] sivel commented on #59918
The `apt_key` module is failing, when calling `open_url`/`fetch_url`, which can rely on pyopenssl to provide advanced features for SNI.  Unfortunately, the pyopenssl stuff in use can be problematic when versions of deps don't match well.  There is no way to disable that functionality without uninstalling pyopenssl.  It's a tricky problem, but I'd recommend not having pyopenssl installed, except ex

[2019-08-01 21:31] mullaiarasu opened #59955 "postgresql_query is not able use variable list as postgreSQL array"
##### SUMMARY
I am not able to use the variable list as postgreSQL array argument in the  psql query

   PostgreSQL accept array in format '{16367,15820,15865,15869}'
   On manipulating variable list [6367,15820,15865,15869] into '{16367,15820,15865,15869}' using customized script  and when try to pass as argument will receive below error
  Unable to pass options to module, they must be JSON seria

[2019-08-01 21:31] #59195 closed, assigned to jborean93

[2019-08-01 21:42] lucasbasquerotto commented on #22417
@DylanYoung I agree with you that although this is out of scope of omit, this is not the expected behaviour from an end-user perspective.

This also happens with the scope of variables inside roles (making it difficult to create reusable roles, because it uses the global scope), several things that don't work with blocks (like loops, `until`, etc...), among other things.

That said, I, as a develo

[2019-08-01 22:07] mccuistion commented on #56786
Seeing this on with my projects as well. Having this module optimized so that it can work on larger inventories without failing would be a huge help in general.

[2019-08-01 22:16] jamescassell commented on #57958
This was introduced in ansible 2.4, and it's rather infuriating...  I can confirm this happens on 2.4 thru 2.8, but does not happen on 2.3.

[2019-08-01 22:29] jamescassell commented on #57958
guilty commit: 5ffb40fcdbefc03fee4994e5bbb8bf5cf5f76638

"Properly" was improper.

[2019-08-01 22:40] jamescassell commented on #57958
bug is not related to python3; I'm on python2.

[2019-08-01 23:36] jborean93 commented on #59734
Thanks @sivel, those changes have been applied to https://github.com/ansible/ansible/pull/59959.

[2019-08-01 23:50] mlda065 commented on #59840
Yes, an `aws_s3_object_info` module would be great.

[2019-08-02 00:43] lucasbasquerotto commented on #56552
@sivel Using `jinja2_native = true` throws an error at `test_list2 loop`:

[code]
This might be preferable than making the object turn into a string (totally unexpected), but I would expect it to use the undefined value though (and return the object).

About the `safe_eval` function, I did some search but haven't found any useful docs about it. I assume it's an internal function, in which case the

[2019-08-02 00:46] mattclay opened #59960 "Reorganize ansible-test code for inclusion in setup.py"
##### SUMMARY

The ansible-test code needs to be reorganized so that it can be included in `setup.py`.

This is a prerequisite of completing https://github.com/ansible/ansible/issues/59884

The proposed location for ansible-test is: `test/lib/ansible_test/`

This will make it easy to include `ansible_test` top-level package in `setup.py`.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ansi

[2019-08-02 00:47] mattclay commented on #59884
!component -lib/ansible/modules/system/setup.py
!component +setup.py

[2019-08-02 00:59] #41861 closed, assigned to nobody

[2019-08-02 01:45] Akasurde commented on #58023
@mariolenz Thanks for reporting and fixing this issue.

[2019-08-02 01:54] Akasurde commented on #45631
resolved_by_pr #59946

[2019-08-02 02:32] DylanYoung commented on #22417
I'd be perfectly happy to take it on.  But I have a lingering pull request
from over a year ago already so I'm not willing to commit the work if it's
going to be thrown away.

Le jeu. 1 août 2019 6:44 p.m., Lucas Basquerotto <notifications@github.com>
a écrit :

[2019-08-02 03:50] thylocene commented on #59829
Any updates please

[2019-08-02 06:24] Andersson007 commented on #59955
@mullaiarasu , thank you for reporting this!
I’ll try to solve this

[2019-08-02 06:33] jmnavarrol commented on #41313
Your workaround works because you are lucky enough not to need the service running on "stage 2" setup.  I use a somehow similiar approach for Jenkins (but I need to use two different "restart-like" handlers since Jenkins' behaviour is different upon first installation than once configured.

**BUT**, think of this quite standard use case I found, for instance with postgres: a role installs postgres

[2019-08-02 07:06] jhawkesworth commented on #59726
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-02 07:06] #59726 closed, assigned to nobody

[2019-08-02 08:07] jiuka commented on #59829
This is IMHO not a _Bug Report_ but a _Feature Idea_. As I do not have access to a multi-domain forest i can not test or verify this. Maybe using GC could help.

[2019-08-02 08:12] Fred-sun commented on #59916
@bpados [ In the API documentatio](https://docs.microsoft.com/en-us/rest/api/compute/images/update)n, we were unable to adjust the disk size attached to the VM and should not be able to adjust the disk type. Therefore, the account type cannot be changed through the azure_rm_manageddisk module, thank you!