[2018-03-18 02:18] agaffney opened #37565 "item shows as "None" with debug action"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
callback plugins

##### ANSIBLE VERSION
[code]
and
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using the `debug` action in a loop, `item` shows as `None`. This is a side effect from #36307.

##### STEPS TO REPRODUCE

Playbook:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-03-18 02:18] agaffney commented on #37565
@bcoca, the PR that caused this (#36307) was yours

[2018-03-18 02:24] selivan opened #37566 "service module fails to enable legacy SysV init script with systemd"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible host: Ubuntu 16.04 Xenial
Managed host: Ubuntu 16.04 Xenial (LXD conainer)

##### SUMMARY
`service` module can not enable service, if systemd is used and service is legacy SysV-style init script. For example, `rsync` package in Ubuntu/Debian.

[2018-03-18 02:26] agaffney commented on #37553
This is *probably* due to the loading of the docstring and config definitions from the shell plugin. It seems to happen on each task, plus it happens (seemingly) needlessly for the `debug` action (it doesn't use the shell).

[2018-03-18 02:42] #34243 closed, assigned to nobody

[2018-03-18 04:40] IshwarKanse opened #37567 "Getting error with tower_job_launch module, tower_cli.exceptions.MultipleResults: Expected one result, got 3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_job_launch module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Fedora 27
tower-cli version
Tower CLI 3.2.1
API v2
Ansible Tower 3.2.3
Ansible 2.4.2.0

##### SUMMARY
Getting exception when launching a job using the tower_job_launch module, tower_cli.exceptions.MultipleResults: Expected one result, got 3. Possibly caused by not providi

[2018-03-18 06:31] #18694 closed, assigned to nobody

[2018-03-18 06:59] j-santander opened #37569 "ansible_facts set by module do not overwrite variable set by set_facts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(nothing)

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I have created a module that, after is run, sets some variables by returning them with the ansible_facts key.

In some cases the variables I'm setting might have a previous value set using set_facts.

Not sure if I'm abusin

[2018-03-18 08:22] #29472 closed, assigned to nobody

[2018-03-18 09:09] jean-christophe-manciot commented on #37200
Yes, except that:
- the debian version of python-docker is old when compared to docker pip module: 2.5.1 vs 3.1.1
- I'm experiencing [another issue](https://groups.google.com/d/msg/docker-dev/W72oJ4vrYUY/qLAl2ij5EQAJ) which seems related to an incompatibility between python-docker and docker-ce itself.

[2018-03-18 10:32] j-santander commented on #37569
I've been trying to debug this issue. I've tracked it down to ansible/vars/manager.py
where
[code]
where the old value coming from _non_persistent_fact_cache overwrites the new value obtained previously from
[code]

[2018-03-18 11:14] isaacegglestone commented on #12086
Hrrm so far I have created a small test to delegate_to: 127.0.0.1 for
deletion tasks as this are also a pain in mass scale.

My playbook looks like this:
---

- hosts: "{{ DeploymentGroup }}"

  tasks:

  - name: remove vm and all associated resources
    azure_rm_virtualmachine:
      resource_group: "{{ host_vars[item]['resource_group'] }}"
      name: "{{ inventory_hostname }}"
      state: abs

[2018-03-18 12:01] chopraaa commented on #37562
!component =lib/ansible/plugins/callback/foreman.py

[2018-03-18 12:04] isaacegglestone commented on #12086
Okay so disabling fact gathering fixes this issue, however it causes
another one, host_vars no longer contains the azure dynamic inventory from
standard in.

So      resource_group: "{{ host_vars[item]['resource_group'] }}"  doesn't
work in the above and needs to be hard coded to a resource group name.

On Sun, Mar 18, 2018 at 11:14 AM, Isaac Egglestone <
isaacegglestone@gmail.com> wrote:

[2018-03-18 12:42] azaghal commented on #37303
@beenje Yes. Essentially, the module will try to find at least one process of user running the module (e.g. with `become`) with running D-Bus session. So, if you are already logged-in via GUI or something, that session will be picked up.

The goal of this was mainly to have consistent state across apps. I think there has been lots of ugly details discussed on user session availability in that meet

[2018-03-18 13:14] agaffney commented on #37553
Comparison of debug output:

`2.4.3`

[code]

`devel`

[code]

What previously took `0.0001s` now takes `0.01s`, which is 100x.

[2018-03-18 13:45] Alexander198961 commented on #27988
it seems has been implemented https://github.com/ansible/ansible/pull/33613

[2018-03-18 13:48] AndiDog commented on #35498
Here's a reproducible example and full problem description for Ansible 2.4.3.0: https://github.com/AndiDog/ansible-host-overrides

Tried from Ansible's `devel` branch as well, but it already fails parsing the two inventories (`extrainv:5: Section [homeserver_and_jails_group:vars] not valid for undefined group: homeserver_and_jails_group`), and going forward to fix several parsing problems brought

[2018-03-18 15:12] abadger commented on #37455
I believe that https://github.com/ansible/ansible/pull/37574 will fix this for you.  If you're able to verify that, it would be appreciated.  Thanks!

[2018-03-18 16:40] abadger commented on #36916
First: It's important to note that the reason you need to quote this twice is that you are first quoting for the shell and then quoting for ansible.  So in your reproducing case, ansible doesn't see any quotes at all.

Recategorizing as a feature request as this would be backwards incompatible new behaviour.  Right now people can specify multiple extravars in a single -e switch:

[code]

Implement

[2018-03-18 16:45] #37455 closed, assigned to nobody

[2018-03-18 16:56] n0trax commented on #37399
Thanks for this report @olivier-bezet.
I'm unable to reproduce this behavior with ubuntu 16.04 as host and as VMware guest. Unfortunately I don't have a Mac OS for testing.

Can you reproduce the failure with an other guest or host?

[2018-03-18 17:59] #36805 closed, assigned to nobody

[2018-03-18 18:03] #35429 closed, assigned to nobody

[2018-03-18 18:04] #35142 closed, assigned to nobody

[2018-03-18 18:11] #34794 closed, assigned to nobody

[2018-03-18 18:15] #34165 closed, assigned to nobody

[2018-03-18 18:16] #33861 closed, assigned to nobody

[2018-03-18 18:19] #32640 closed, assigned to nobody

[2018-03-18 18:37] #27860 closed, assigned to nobody

[2018-03-18 18:40] j-santander commented on #37569
Ok, some more debugging later.

I understand that before PR #32302, `set_nonpersistent_facts` was called for all facts returned by a task (at ansible/plugins/strategy/__init__py)

After the PR, this was restricted to only the facts set through set_facts, apparently solving a precedence issue.

The way I was using my module is as a custom set_facts.  I could always get the values from the register

[2018-03-18 18:53] bmerry opened #37579 "STRING_TYPE_FILTERS not recognised when used with arguments"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No ansible.cfg

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

When passing the `indent=` option to the `to_nice_json` filter (as described [here](https://docs.ansible.com/ansible/latest/playbooks_filters.html#filters-for-formatting-data)), the output JSON is all on one line, a

[2018-03-18 19:03] tonyskidmore opened #37581 "azure_rm_dnsrecordset TXT record creation results in msrest.exceptions.SerializationError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_dnsrecordset

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

[code]

##### SUMMARY

Using azure_rm_dnsrecordset to create Azure DNS TXT record set results in msrest.exceptions.SerializationError

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Both A and TXT

[2018-03-18 19:16] davidefreeman commented on #30239
Looks like we need to open a new issue since there is no 'docker-volume' module even referred to in the guide...

[2018-03-18 19:19] Nicarim commented on #30239
I don't actually know how this answer helps resolving this issue. In no way @gundalow actually said how it was replace and/or fixed... Are we supposed to use docker_service now? or what?

[2018-03-18 19:38] bmerry commented on #37579
I poked around a bit, and it looks like the problem is that when Ansible expands a template and sees something "looks like" a list or dict, it turns it into a list/dict. There is a `_no_type_regex` that is constructed to identify special cases where this shouldn't be done (based on a list of filters which are known to return strings that shouldn't be parsed), but the regex doesn't allow for argume

[2018-03-18 22:26] isaacegglestone commented on #12086
Okay so I have modified the Playbook below to try a number of  things.

1st I tried setting delegate_facts: True in case this helped but of course
even based on the documentation I didn't really expect that to work.
2nd I set gather_facts: no and tried running setup to reduce the fact
gathering to nothing hoping it would opt to not connect at all, but of
course as expected it still tried to connec

[2018-03-18 23:26] #33012 closed, assigned to nobody

[2018-03-18 23:39] #29792 closed, assigned to nobody

[2018-03-19 00:05] #36197 closed, assigned to nobody

[2018-03-19 01:20] zopar commented on #37309
Hi,
I just pulled a modification for the serial variable, that solve the problem. I modified also related unit tests and docs.
Now is possible to pass for every group a 0,1 (False, True) value like [[2, 1]] to the serial and skips the unreachable hosts from the count of failed hosts.  Serial like [[2,1], 2] or [2] are valid for the system because internally they results as [[2,1], [2,0]] and [2,0]

[2018-03-19 01:37] zopar commented on #37309
Please consider that your automatic units test will fail for test_playbook_executor.py because this commit includes also a modification of the test itself.
Indeed the _get_serialized_batches return 2 lists and not one.

Locally, with new unit tests it worked
[code]

[2018-03-19 03:04] yuwzho commented on #37330
@alexpilon666 I would like to implement this feature if I have time before April

[2018-03-19 04:05] zopar commented on #37309
Sorry I recreated the pull request I had to correct the syntax for sanity check and I prefer to keep clean the pull.

[2018-03-19 05:20] zikalino commented on #33661
i saw this issue before. i can even reproduce it easily.

the best way to reproduce is something like:

**sudo pip install ansible[azure]**

and then for instance:

**pip install 'azure>=2.0.0'**

If Ansible was originally installed with **sudo** then all subsequent **pip** calls should be also done with **sudo**. In case of any mistake it's pretty difficult to clean the mess.

I will do some more

[2018-03-19 05:57] zopar commented on #37309
Ok fixed sanity check and also unit tests works well, the only error is related to centos 6 but it seems not related to the merge request. It is more like a problem related to test environment

/root/ansible/test/integration/targets/uri/tasks/main.yml:57 / [testhost] testhost: uri : fetch pass_json url=http://localhost:{{ http_port }}/{{ item }}.json, return_content=yes

/root/ansible/test/integra

[2018-03-19 05:58] thannaske commented on #20432
I also think that this feature would be a heavy improvement for Ansible's dynamic inventories. So a little bump and +1 for the feature request.

[2018-03-19 07:28] bytebandit007 opened #37589 "Accessing the Ansible vars inside a Python script"
Hi,

##### ISSUE TYPE
 - Documentation Report
##### ANSIBLE VERSION
[code]
##### COMPONENT NAME
comand
##### SUMMARY
I am trying to have access to the Ansible vars inside the python script. However, the behavior is not similar to the bash files.

Is there any best practice for this purpose without sending them as args to the script?

##### STEPS TO REPRODUCE
My simplified playbook:
- name: Exec py

[2018-03-19 07:33] Poil commented on #37337
Hi,

Here it does not remove the VMDK files and other attached files, like if ansible only does a remove from inventory and not a delete from disk action.

We have a VCenter 5.5.
We also manage our VM via PyVmomi, and when we delete our VMs with Destroy_Task we don't have this problem.

Best regards

[2018-03-19 07:39] jfinkhaeuser commented on #36962
+label affects_2.1
+label affects_2.2
+label affects_2.3
+label affects_2.4
+label affects_2.5

Yeah, no, not just 2.6.

[2018-03-19 08:20] fumiyas opened #37590 "`service` module ignores `use` option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`service` module

##### ANSIBLE VERSION

[code]

##### SUMMARY
http://docs.ansible.com/ansible/latest/service_module.html says that `service`
module has`use` option that take a specific service manager to manage service, but
`service` module ignores it.

I want to reload a SysVinit service in a systemd envronment (CentOS 7), but
systemd's `syste

[2018-03-19 08:40] AgilDat commented on #37510
Yes, I know it is not failing in the filter. It fails parsing an inexistent yaml object but I could expect if dictionary has no that attribute, substitute it for defaults. Independently how deep that attribute is.

[2018-03-19 08:45] guldil opened #37591 "HAProxy Drain mode then MAINT not working as expected."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

haproxy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
ansible has to put web01 in DRAIN Mode, check every second "current session" and when session equal to 0, ansible has to put web01 in MAINT.

##### ACTUAL RESULTS

it always sta

[2018-03-19 08:51] W73 commented on #37073
I downloaded https://github.com/kevensen/ansible/blob/24a86d675a4639a822a12b9caf55bcf766631937/lib/ansible/modules/system/pamd.py into /usr/lib/python2.7/site-packages/ansible/modules/system/pamd.py on CentOS7 where i start ansible tasks against all servers.

But also i can not run generated pamd.py on CentOS6 against Python 2.7 from CentOS Software Collection. I will focus on sshd file, and i wil

[2018-03-19 08:56] freeseacher commented on #37224
@dagwieers @sgargan is 2.5 will be broken for consul_kv ?

[2018-03-19 09:27] winem commented on #37455
Haha, just had a look at the code and wanted to provide the same fix. Confirmed - works fine.

[2018-03-19 09:28] turb commented on #37242
Looks like a good idea.

There is the question of the user/password of the repository, if set. I don't like the idea of passing http://user:pass@url. I would say do not support it.

I would be more in favor of adding a `resolve` value to the `state` parameter, because it reminds the user the behaviour is expected to change, and that some parameters won't be used, depending on the target tate. For

[2018-03-19 09:39] AgilDat commented on #37510
This is probably more a Jinja issue than Ansible: https://github.com/pallets/jinja/issues/480

[2018-03-19 09:43] turb commented on #27233
@tumbl3w33d looks like this one should be closed. How can I do it? I don't have the `Contributor` flag, it seems.

[2018-03-19 09:47] turb commented on #32345
Hello, I don't believe having `maven_artifact` create directories is a good idea, since it can be done with `file`, which have a lot of options on directory creation, including `recurse`.

[2018-03-19 09:50] turb commented on #21577
@tumbl3w33d this one should be closed too, I think

[2018-03-19 09:59] #27233 closed, assigned to nobody

[2018-03-19 10:00] znirp opened #37593 "problem with dynamic inventory"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
- 2.2.1.0 and 2.4.3.0

##### OS / ENVIRONMEN
- RedHat 6

##### COMPONENT NAME
- Dynamic Inventory

This problem is may affecting 2.2.1.0 and 2.4.3.0, due I got the problem on both versions.
Actually I generate my environments dynamic, with a python script.
Each hostgroup got groupvars, like:

[code]

But those vars aren't used. If i run e.g.:

[2018-03-19 10:02] turb commented on #20003
IMHO, the only syntax we should support is the [Maven' one](https://cwiki.apache.org/confluence/display/MAVENOLD/Dependency+Mediation+and+Conflict+Resolution#DependencyMediationandConflictResolution-DependencyVersionRanges). That's some work though, any PR would be appreciated!

[2018-03-19 10:03] arsh9295 commented on #37240
Please update status of this bug.

[2018-03-19 10:26] tumbl3w33d commented on #27233
I see the contributor flag @turb and you can see the commands [here](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md).

In this case it's close_me

[2018-03-19 10:28] tumbl3w33d commented on #21577
Right. This is in place for a while.

close_me

[2018-03-19 10:30] turb commented on #27233
Strange, I posted my only then the bot closed the bug and only then I saw the flag. Well, whatever.

[2018-03-19 10:34] #21577 closed, assigned to nobody

[2018-03-19 10:35] shahzad73 commented on #15706
+1

[2018-03-19 10:39] mkrizek commented on #28011
Thank you for the bug report!

I cannot reproduce the problem with a fresh minimal install of Ubuntu 16.04 LTS, running:
[code]
which translates to:
[code]

My inventory:
[code]

This does not look like a bug in the `apt` ansible module but rather with your environment.

Closing this now, please feel free to re-open if you are able to isolate the issue from your environment, thanks!

[2018-03-19 10:39] #28011 closed, assigned to nobody

[2018-03-19 10:55] mkrizek commented on #29451
Note: Allow apt downgrades (https://github.com/ansible/ansible/pull/33677)

[2018-03-19 10:56] jean-christophe-manciot commented on #37200
I have found a [workaround](https://github.com/docker/docker-py/issues/1502#issuecomment-374172190) allowing me to finally be able to run the playbook described in this thread and install awx.

[2018-03-19 10:56] es1o commented on #27233
@turb Don't ask question. Another bug resolved. :D

I also commented and this is closed.

[2018-03-19 12:20] jpantsjoha commented on #17963
any movements, further fyi on this? I'm seeing the same now while running my play against one group while trying to access another district group and individual host vars within such a group - namely ipv4 address. nada. same issue.

[2018-03-19 12:21] W73 commented on #37073
I did copy/paste earlier.
Now i download it from https://raw.githubusercontent.com/kevensen/ansible/24a86d675a4639a822a12b9caf55bcf766631937/lib/ansible/modules/system/pamd.py and there are some differences.

[code]
Both has 516 lines, i do not know where it could change.
I will triple check it now.

[2018-03-19 12:50] jmvbxx commented on #28011
Yes, this should be closed. The issue was related to the Ansible version.
It was only an issue for pre 2.4. In fact, I thought this was already
closed.

Thanks for taking a look nonetheless

On Mon, Mar 19, 2018 at 5:40 AM Martin Krizek <notifications@github.com>
wrote:

[2018-03-19 13:24] Akasurde commented on #26095
bot_skip

[2018-03-19 13:39] karthi81 opened #37599 "Lvextend issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

LVM

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Linux ansible-lab-control 3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Dec 28 14:23:39 EST 2017 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

##### STEPS TO REPRODUCE

if LV size 2GB then extend 10GB then it will show as 10GB only but not 12GB.

[code]

##### EXPE

[2018-03-19 13:45] W73 commented on #37073
It seems it is working now.
I am sorry i confused you all. It was my fault. I do not know where i downloaded wrong version earlier, because there were so small changes.

[2018-03-19 14:01] twhiston opened #37600 "Openshift admin Rolebinding not added correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openshift_raw

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When performing an openshift rolebinding action the admin group is not added correctly, and instead the logged in user (who's token ansible uses) is added.
All other roles are bound properly and produce the expected result.

##### STEPS TO REPRODUCE

Rolebindi

[2018-03-19 14:16] #36926 closed, assigned to nobody

[2018-03-19 14:38] #36293 closed, assigned to nobody

[2018-03-19 14:55] #36848 closed, assigned to alikins

[2018-03-19 14:56] alikins commented on #30864
@UnitedMarsupials I've updated the branch at #24254 to handle 'undefined' vars more like Conditional does now, while also showing a little more info about what exactly was undefined. That branch also will fail a Conditional after the first 'false' result, instead of evaluating all of the when clauses.

For cases where there is an undefined early, the behavior should be similar to current behavior.

[2018-03-19 15:03] pffs commented on #37507
I'm seeing the same behavior on an 1841 running 12.4(22)T. Works against 2.4.3 code, but fails on 2.5.0rc3 due to lack of support for LLDP:

[code]

[2018-03-19 15:03] glatapoui commented on #32345
Hello,

This can indeed be subject to interpretation. I believe there should be coherence in the different modules (template, file, maven_artifact,...) where the destination folder can be specified. I would have preferred to use only 1 task (like before), but if we now need 2 then so be it.

[2018-03-19 15:04] bcoca commented on #37590
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `use` option is documented as selecting the actual module to use, the `service` module itself also uses autodetection internally an

[2018-03-19 15:04] #37590 closed, assigned to nobody

[2018-03-19 15:15] Akasurde commented on #37599
@karthi81 Thanks for reporting this issue. Could you please provide the playbook and `-vvvv` output so that it will easy to debug ?

[2018-03-19 15:26] alikins commented on #37551
@holta

That references a role in that repo that no longer exists (cmdsrv).

Could you update the bug with an example playbook and 'ansible-playbook' output with '-vvv' level verbosity?

[2018-03-19 15:27] pffs commented on #37507
Not sure if this is useful for this, but it appears LLDP support was added in the 15.2T release for routers and 12.2SE release on switches, based on feature navigator. Cisco's version numbering difference between routers and switches and IOS-XE may make that hard to utilize, though.

[2018-03-19 15:39] sivel commented on #37370
The docs have been updated in 4fe08441be0, but since 2.5 hasn't been officially released yet, the `latest` docs are still for 2.4.

If you look at devel, you will see they are fixed: http://docs.ansible.com/ansible/devel/user_guide/playbooks_tests.html#testing-strings

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: h

[2018-03-19 15:39] #37370 closed, assigned to sivel

[2018-03-19 15:41] sivel commented on #35896
Yes, I do realize that. Since 2.4.4 and 2.5.0 have not been released yet, I was asking for you to test a non-released version out of band from whatever your OS package manager has available.

You can find the release candidates for those versions at http://releases.ansible.com/ansible/

needs_info

[2018-03-19 15:43] njordr commented on #19203
Hi.

Same error for me.

I "just" need to use python 3 instead of python 2 to fix the issue.

[code]

[2018-03-19 15:44] mkrizek commented on #29633
@oppianmatt is this still an issue with the recent version of ansible?

needs_info

[2018-03-19 15:47] mkrizek commented on #29509
@elacour would you be interested in sending your patch as a PR? Thanks!

[2018-03-19 15:53] alikins commented on #37593
@znirp

Was this working prior to those versions? If so, which versions?

Is it just the user related vars that are wrong? Do other vars from the inventory work in this case?

could you provide the output of `ansible -i ~/dyn_inv.py Stage/Substage/DB -u someuser-m setup -a 'filter=ansible_*_mb' -vvv` when ran with ansible 2.4.3?

In particular, could you provide the output that shows the construct

[2018-03-19 15:54] ltsampros commented on #23657
Any update on this?

[2018-03-19 16:00] holta commented on #37551
CLARIF: The production code does exist, but apologies that may not have been obvious as it's in Internet-in-a-Box's other repo here: https://github.com/iiab/iiab-admin-console/blob/master/roles/cmdsrv/tasks/main.yml#L252-L255 (the last 4 lines)

[2018-03-19 16:05] lihu-zhong opened #37604 "lookups happen with respect to a different cwd depending on how the variable is referenced"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lookup()

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ForwardAgent=yes
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible/history.log
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'HOME/ansible-source-control/roles']
HOST_KEY_CHECKING(/etc/ansible/ansi

[2018-03-19 16:08] alikins commented on #37589
@Milad-Irani

Is there any best practice for this purpose without sending them as args to the script?

STEPS TO REPRODUCE
My simplified playbook:

[code]

[code]

The ansible vars are not environment variables and are not shared with processes started with 'command:'.  The ansible vars are only known to the ansible controller (the 'ansible-playbook'
process) unless passed to tasks (like 'command:'

[2018-03-19 16:08] #37589 closed, assigned to nobody

[2018-03-19 16:11] lbenezriravin commented on #37604
! component

[2018-03-19 16:12] rdepke commented on #35613
I created an example, so you can reproduce the error. It contains two playbooks, booth trigger the same error. One playbook triggers the error in **win_copy** and the other in **win_template**
You'll find a vagrantfile to create a setup with a machine for ansible and a windows machine, that should be configured.
**rdepke/ansible-35613-win_template-example**

I hope this helps.

[2018-03-19 16:17] NotAFile commented on #10530
I agree this is very annoying. I also think your attitude towards this very disappointing.

Yes, this is a fun feature. But it's fun exactly three times, then you realize your ansible output is now basically unreadable. I can set it in a config file, yes, but when using e.g. a pull configuration, this isn't really an option. I have to ensure to enable an option in a config file on every host that

[2018-03-19 16:24] sivel commented on #37238
Ok, I don't know why I didn't see this earlier, but this is a result of supplying `remote_src: true` to the `template` module:

[code]

The `template` action plugin calls the `copy` action plugin, which if `remote_src=true` is specified, which makes the assumption that it was invoked as the copy module and not the template module.

It ends up incorrect invoking the `template` module instead of `co

[2018-03-19 16:33] hogarthj commented on #31929
Either the --limit needs to be removed from the --help (and docs) or this needs to work as it's just silly as it stands right now.

Personally I'd love to see `ansible-inventory --limit` work as it's a great way to list variables for a given target, and being able to "pre filter" using that is much better than trying to "post filter" with jq etc

[2018-03-19 16:37] avielb opened #37607 "misleading documentation for vault encrypt"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

ansible-vault encrypt_string
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux
##### SUMMARY

so in the documentation, this example:
[code]
is misleading because working like this is adding a trailing '\n' to the string, the right command suppose to be:
[code]

took me a while to figure out the solutio

[2018-03-19 16:42] maxamillion commented on #26631
Can this be reproduced with the latest stable version of Ansible, either a 2.3 or 2.4 latest release? I'm happy to try and triage this further and get a fix in order but want to ensure it's still an issue. Thank you!

[2018-03-19 16:45] alikins commented on #37553
ping @bcoca

[2018-03-19 16:45] lbenezriravin commented on #37604
!component

[2018-03-19 16:47] lbenezriravin commented on #37604
!component +lookup

[2018-03-19 16:51] jhughes-mc commented on #35607
+1

[2018-03-19 17:01] bcoca commented on #37553
@agaffney change looks good, submit PR

[2018-03-19 17:05] bcoca commented on #37579
tested the PR above using your example, please confirm this fixes it for you

[2018-03-19 17:14] joaoh82 commented on #32126
Any update on this?

[2018-03-19 17:17] Kanshiroron commented on #37238
Hello @sivel
Thanks for your feedback. You are right, removing `remote_src=true` solves the issue. Since I'm only working with `localhost` so far, I'll stick with that.
Thanks again for your support and sorry for grabbing you out of your vacation mood ;)

[2018-03-19 17:29] saichint opened #37612 "nxos_static_route issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_static_route
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)

##### SUMMARY

##### STEPS TO REPRODUCE
There are few issues with nxos_static_route.
* There is no 'default' keyword support for optional parameters
* For removing a static route, we MUST specify all the optio

[2018-03-19 17:33] bmerry commented on #37579
It looks like it works for this particular case. It's still going to be a source of quirks in the future e.g.
```{{doc | to_nice_json(indent=2) | from_json()}}```
and
```{{doc | to_nice_json(indent=2) | from_json}}```
behave differently even though they should be equivalent, because the former matches the regex while the latter doesn't. But that's more of a corner case than my original use case (w

[2018-03-19 17:34] zopar opened #37613 "Uri integration test fail on pyopenssl installation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
uri integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Uri integration test fail, reference
https://app.shippable.com/github/ansible/ansible/runs/58252/
/root/ansible/test/integration/targets/uri/tasks/main.yml:284 / [testhost] testhost: uri : install urllib3 and pyopenssl via pip state=

[2018-03-19 17:36] bcoca commented on #37579
`from_json` is not expected to match string_types, it does the opposite.

[2018-03-19 17:40] #37553 closed, assigned to nobody

[2018-03-19 17:45] bmerry commented on #37579
Yes, but with your PR `{{doc | to_nice_json(indent=2) | from_json()}}` will be treated as a raw string (you get the `__str__` of the dictionary returned by `from_json`), because the regex doesn't care that the `(` of `to_nice_json` and the `)` of `from_json` don't actually match each other.

[2018-03-19 17:46] bcoca commented on #37565
fixed via #36534

[2018-03-19 17:46] #37565 closed, assigned to nobody

[2018-03-19 17:50] bmerry opened #37615 "STRING_TYPE_FILTERS shouldn't be recognised with a regex"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

While #37579 brought up a single instance of the problem, there is a fundamental issue with the handling of STRING_TYPE_FILTERS: a regex is being used to try to recognise uses of the filters. However, the language is fundamentally

[2018-03-19 17:51] bmerry commented on #37579
I've submitted #37615 to capture the more general problem that regexes aren't powerful enough for the problem they're being used for. Once #37608 is accepted I'm happy for this specific bug to be closed.

[2018-03-19 17:57] cornfeedhobo commented on #23657
We've had too much friction trying to contribute back to Ansible and have decided to stop for now.
Sorry, if anyone wants to pick up on this, reach out to me on IRC and I can share a gist of what we have working.

[2018-03-19 18:31] bcoca commented on #35498
so from the example, this does not seem to be an issue with Ansible but with how you mangle the connection variables with other tools.

Connections only need to know about the host they connect to and have the correct info for that host, you seem to want to overload the delegation system (execute on this host instead) into a proxying system, this will not work.

Closing this as hijacking delegatio

[2018-03-19 18:31] #35498 closed, assigned to nobody

[2018-03-19 18:37] bcoca commented on #37579
it does care, it needs to be the 'last' part of template, aside from 'blank space' and the 'end string' for templating `}}` ... i should really add 'parens'

[2018-03-19 18:59] #37281 closed, assigned to nobody

[2018-03-19 19:06] bcoca commented on #37579
@bmerry check my PR it covers all the cases you've posted, if you have more let me know

[2018-03-19 19:12] alikins commented on #37385
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2018-03-19 19:12] #37385 closed, assigned to nobody

[2018-03-19 19:16] bcoca commented on #20432
Since we are going the inventory plugins route, which let you set the options a lot more easier than scripts, I don't believe we will be implementing this feature as we expect to migrate away from the current inventory scripts.

[2018-03-19 19:16] #20432 closed, assigned to nobody

[2018-03-19 19:17] maxamillion commented on #28720
@Akasurde you marked this `needs_info`, what info where you waiting on?

[2018-03-19 19:18] alikins commented on #37512
@XooR Was this working previous to 2.4.4? If so, what versions?

[2018-03-19 19:19] maxamillion commented on #29468
@SKSJeffrey Hey, thanks again for the bug report. Is this still an issue with latest versions of Ansible? I'm unable to reproduce this on my end. If it is still an issue and you could provide me with some more information on how to reproduce, I'd be happy to look into fixing it.

[2018-03-19 19:22] dagoonline commented on #29312
This is still happening in ansible 2.4.3

[2018-03-19 19:24] Akasurde commented on #28720
@maxamillion I wanted to see full log of playbook run aka `-vvvv` to RCA, that why added needs_info

[2018-03-19 19:27] alikins commented on #37540
(for the pr bot)
!component=lib/ansible/plugins/terminal/ios.py

[2018-03-19 19:28] alikins commented on #37540
pinging @Qalthos @ganeshrn @gundalow @privateip @rcarrillocruz @trishnaguha @kedarX @gdpak

[2018-03-19 19:36] josdotso commented on #15179
@jimi-c, would you support an `include_vars:` in each meta dependency, so that we can include the consuming role's vars?

[2018-03-19 19:37] maxamillion commented on #29601
Hello! Thank you for the bug report, sorry for the lag time on getting around to working on it but hopefully we'll get this sorted soon.

My initial though is that this is not a bug in the yum module but in yum itself. In this scenario, yum isn't returning an error code nor is it exiting to the Ansible module. Ansible has no way to determine this behavior due to lack of feedback from yum. Yum is p

[2018-03-19 19:43] alikins commented on #37562
@chopraaa

Which instructions?

[2018-03-19 19:44] akloeber commented on #30239
Looks like the `docker-volume` module is still present in branch `stable-2.5` and the fix is also included, see https://github.com/ansible/ansible/blob/stable-2.5/lib/ansible/modules/cloud/docker/docker_volume.py#L152.

[2018-03-19 19:47] wenindoubt commented on #29468
@maxamillion - we can close this issue. I have confirmed on my end that if I do not install the packages with `sudo`, then I will get that error message. (Seems kind of misleading)

As long as I install the packages with `sudo`, it goes through fine.

[2018-03-19 20:01] Akasurde commented on #19538
resolved_by_pr #19886

[2018-03-19 20:02] Akasurde commented on #20291
@aperigault Can you please try and let me know if it works for you ?

[2018-03-19 20:08] krispayne opened #37620 "ipa_hostgroup module has undesired results"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ipa_hostgroup module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

stock

##### OS / ENVIRONMENT

centos 6.9

##### SUMMARY

when testing the ability to add a host to a hostgroup using the ipa_hostgroup module, the entire contents of the group is overwritten by the single host being added. No option to append the group is mentioned in d

[2018-03-19 20:08] e-tienne commented on #17098
"_until: is not currently supported on includes._"

I've reproduced the issue #17098 with Ansible 2.4.2.0 and there is still no error message.
I believe we should see an error message if it is not supported. This would add clarity for anyone who runs into the same issue.

[2018-03-19 20:14] jborean93 opened #37621 "win_service: does not work with special chars like []"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Controller - N/A
Host - Windows

##### SUMMARY
When using win_service to interact with services with special chars in the name like `[`, `]`, it will fail to find the service and return any info. This will result in incorrect information or a failure if so

[2018-03-19 20:19] alikins commented on #37604
That should be improved slightly in b2dcc9c5873d449946a76bf872deb2717a61f543

[2018-03-19 20:21] Akasurde commented on #33628
resolved_by_pr #37576

[2018-03-19 20:23] #37494 closed, assigned to trishnaguha

[2018-03-19 20:30] alikins commented on #37604
This sounds like it might be a case where the 2.5+ 'vars' lookup could be useful.

But that depends on what the goal of using of two methods to access the 'users' var is

[code]

[2018-03-19 20:32] alikins commented on #37613
pinging @mattclay

[2018-03-19 20:33] alikins commented on #37615
Yup, these seems like the regex used there should be improved (and/or, some other mechanism to detect the case correctly)

[2018-03-19 20:37] krispayne commented on #37620
This may be a feature request, depending on point of view.

[2018-03-19 21:03] lbenezriravin commented on #37604
I can't seem to find anything on the 2.5+ 'vars' lookup in the ansible changelog; could you elaborate so I can see if it fits the usecase?

On another note, I've observed the same behavior on v2.5.0rc3.

[2018-03-19 21:11] lbenezriravin commented on #37604
I took a guess on how to use it, and it seems to behave the same way as directly referencing `hostvars`. Please tell me if this is user error:

[code]

[2018-03-19 21:26] mattclay commented on #37530
The lack of coverage is due to the change to how `ansible-connection` is invoked:

https://github.com/ansible/ansible/blob/4378542ac7ff98fba4fe2c00eec99fbab8e93d1e/lib/ansible/executor/task_executor.py#L860-L863

This bypasses the path injection used by `ansible-test` to collect code coverage.

[2018-03-19 22:03] #29468 closed, assigned to nobody

[2018-03-19 22:08] cullenlinn commented on #37045
I was able to confirm that the patch worked on my original issue.

[2018-03-19 23:28] EliMutchnik opened #37623 "Same variables gets overridden binded to the same hostnames across different host groups in different inventory files"
##### ISSUE TYPE

Best practice for specific use case

##### COMPONENT NAME
Inventory usage

##### ANSIBLE VERSION
2.4 latest

##### CONFIGURATION
No settings were changed

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
I run ansible playbooks on root folder which contains folder for various products, each folder containing inventory file with the product groups and hos

[2018-03-20 01:05] zikalino commented on #37581
@tonyskidmore i will check this issue

[2018-03-20 01:17] kbreit opened #37624 "Documentation states needs_rebase is not used by ansibot"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Public documentation

##### ANSIBLE VERSION
2.4

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Documentation at https://docs.ansible.com/ansible/2.4/community/development_process.html#workflow-labels says needs_rebase is no longer used by the bot. But I saw it assigned to some PRs today. https://github.com/ansible/ansible/

[2018-03-20 01:20] carlbuchmann commented on #37550
experiencing the same issue with **ansible 2.5.0rc3**

**playbook:**
https://github.com/carlbuchmann/ansible/blob/master/network-lab/config-wan.yml

**Virl Topology:**
https://github.com/carlbuchmann/ansible/tree/master/network-lab/VIRL

**Configuration generated:**
https://github.com/carlbuchmann/ansible/tree/master/network-lab/documentation

**After 2.4.2 --> 2.5.0rc3 upgrade**, the following ta

[2018-03-20 01:38] agaffney commented on #37565
@bcoca, @abadger this issue should just be reopened until `stable-2.4` and `stable-2.5` are fixed.

[2018-03-20 01:48] abadger commented on #36825
@jdoss I've now backported #35143 to the stbale-2.4 branch so it will be in the 2.4.4 release.

[2018-03-20 01:48] #36825 closed, assigned to nobody

[2018-03-20 02:26] abadger commented on #32095
I've seen this before.  Here's the information I have about it:

* This is a warning, not an error.  Ansible should have completed correctly despite these messages
* This is a problem with python, not with Ansible.  See the upstream Python bug for information: https://bugs.python.org/issue29519
  * This should be fixed in newer versions of both Python2 and Python3.

[2018-03-20 02:26] #32095 closed, assigned to nobody

[2018-03-20 03:25] abadger commented on #36196
From the comments above, it looks like this should be fixed in the heads of 2.4.x 2.5.x and devel and will be released in their next versions.  If one of the reporters would care to test that would be great.

needs_info

[2018-03-20 03:46] jdoss commented on #36825
Many thanks @abadger and @MarkusTeufelberger!

[2018-03-20 03:48] abadger commented on #35417
Closing as this will be in the 2.4.4 and 2.5.0 releases.

[2018-03-20 03:48] #35417 closed, assigned to nobody

[2018-03-20 04:12] abadger commented on #34978
@brainstorm I don't use ec2 but I do fix Python3 bugs.  Can you test whether this PR fixes your issue? https://github.com/ansible/ansible/pull/37628

[2018-03-20 04:12] yuwzho commented on #37330
@alexpilon666 I have create the pull request, and you can try the pull request by installing our ansible role:

[code]

samples you can find under this folder and try it:
https://github.com/Azure-Samples/ansible-playbooks/tree/master/azure_rm_subnet

There are two ways to refer nsg in other resource group:
* [using the nsg.id](https://github.com/Azure-Samples/ansible-playbooks/blob/master/azure_rm

[2018-03-20 04:17] abadger commented on #34787
@MrTwIXx  Have you had a chance to test with the sudo password provided via -K?

needs_info

[2018-03-20 04:36] abadger commented on #34082
I took a look at this when cleaning and fixing any open Python3 bugs.  Unfortunately, this bug would need to be fixed by someone who either is knowledgable about the openshift APIs being used here or someone who has access to poke and prod at those APIs with this module.  What I think is happening is that the openshift REST API is returning something which the module cannot deserialize from json.

[2018-03-20 04:52] abadger commented on #33655
@ibuler we don't support running using the ansible python module as a library.  However, if you would like to submit a few PRs to close the open files (probably best to do that by opening them via a context manager) you can ping me on IRC to review and merge them.

(I'm abadger1999 on irc.freenode.net.  You can find me in #ansible-devel)

[2018-03-20 06:13] mattclay commented on #37613
Fixed by https://github.com/ansible/ansible/pull/37629

[2018-03-20 06:13] #37613 closed, assigned to mattclay

[2018-03-20 06:39] bmerry commented on #37579
There will always be cases you can't cover with a regex, but this looks like a good tradeoff. If you want an example, try this (the `|` in `indent|int` prevents the regex from matching).
[code]

[2018-03-20 07:33] #36030 closed, assigned to Akasurde

[2018-03-20 07:37] SeerKan commented on #35607
+1

[2018-03-20 07:39] gevial commented on #34144
This workaround is troublesome if you need to generate more than 2 passwords though. For example, if you're generating WordPress hash values (https://codex.wordpress.org/Editing_wp-config.php#Security_Keys), you need to generate 8 different values: changing a template 8 times is something you'd want to avoid.

Bugfix would be really helpful.

[2018-03-20 07:39] gevial commented on #34144
However, thanks for the finding @larsks!

[2018-03-20 09:30] chenzhiwei opened #37633 "Ignore the -l(--limit) in the play"
## ISSUE TYPE

 - Feature Idea

## ANSIBLE VERSION

[code]

## COMPONENT NAME

group_by

## SUMMARY

I'm trying to use dynamic host groups, if one host group does not exist then use default host group instead, such as:

[code]

If there is no `master` group in inventory file, then use `default` group instead. But this does not work.

<hr>

My currently implementation is:

[code]

This play will dy

[2018-03-20 09:35] gundalow commented on #30239
Hi,
Thank you for the comments, the old  module that this issue refers to no longer exists, so if with the other modules there is a gap in functionality then one or the other modules needs updating.

`docker_volume` was added in Ansible 2.4

https://docs.ansible.com/ansible/2.5/modules/list_of_cloud_modules.html#docker lists the various Docker modules that are available in Ansible 2.5, which shoul

[2018-03-20 10:03] dagoonline commented on #29312
After some research I've found a couple of things that worths noticing:
1. According to [Contributing Modules Checklist](http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_checklist.html#contributing-modules-checklist) or [Common return values](http://ansible-docs.readthedocs.io/zh/stable-2.0/rst/common_return_values.html#facts) : `facts modules must return facts in the ansible_fa

[2018-03-20 10:05] rdepke commented on #35613
Sorry I didn´t meant to close the issue

[2018-03-20 10:05] turb commented on #32345
@glatapoui after a look at the code, it does (should) create the directory recursively. I need to test that - a `recurse` parameter would be nice to have, I think...

[2018-03-20 10:08] #37306 closed, assigned to nobody

[2018-03-20 10:21] olivier-bezet commented on #37399
Thanks for the response.
I did not have another configuration to test it.
However, I have found an alternative of "apache2_module" to enable the module creating a link to
`/etc/apache2/mods-available/ssl.load`
with
`/etc/apache2/mods-enabled/ssl.load`

and then restarting apache2, it works perfectly.

[2018-03-20 10:21] #37399 closed, assigned to nobody

[2018-03-20 10:37] hypery2k commented on #21504
`restart: always` is working!

[2018-03-20 10:39] gundalow opened #37637 "Network Docs FAQ: Why is part of my output redacted"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
eos_command

##### ANSIBLE VERSION
2.5

##### SUMMARY

Possible Network FAQ and/or troubleshooting guide

Users occasionally ask "Why is output sometimes replaced with ********"

This generally occurs as people are logging in with the username `admin`. Ansible by design replaces any password strings (specified by `no_log=true`) with `*

[2018-03-20 10:48] gundalow commented on #37518
Bot issue raised as https://github.com/ansible/ansibullbot/issues/890

[2018-03-20 10:48] gundalow commented on #37518
.

[2018-03-20 10:48] gundalow commented on #37518
bot_status

[2018-03-20 10:49] MBoretto commented on #28567
Any news about that?

[2018-03-20 12:35] maxmeyer opened #37640 "Failed to import docker-py - No module named docker."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

IS EMPTY

##### OS / ENVIRONMENT

Fedora release 27 (Twenty Seven)

##### SUMMARY

Using "docker_image" -module fails with the following error message:

[code]

##### Non-related issues

I read/walk through the following issues, but could not solve the error with the help found

[2018-03-20 12:43] maxmeyer commented on #37640
This also fails for ansible 2.5.0rc3
[code]

[2018-03-20 13:01] #31901 closed, assigned to trishnaguha

[2018-03-20 13:02] gundalow commented on #31901
liorco250 issue has been raised as https://github.com/ansible/ansible/issues/37416h

[2018-03-20 13:34] mkrizek commented on #29612
Closing as per above.

[2018-03-20 13:34] #29612 closed, assigned to nobody

[2018-03-20 14:21] sivel commented on #37640
Do you have `localhost` explicitly listed in your `hosts` file?

Looking at the output I see:

[code]

If you notice it is using `/usr/bin/python` and not the python from your virtual environment.

Instead of listing `localhost` in your inventory file, you should utilize implicit localhost : http://docs.ansible.com/ansible/devel/inventory/implicit_localhost.html

Otherwise, you might be able to ma

[2018-03-20 14:32] #37050 closed, assigned to sivel

[2018-03-20 14:32] #37184 closed, assigned to sivel

[2018-03-20 14:58] resyst-it commented on #36915
I try to list VM by tags. However my vcenter 6.0 doesn't support all rest API.
https://code.vmware.com/apis/191/vsphere-automation -> i have a 404 with this rest request :
GET https://{server}/rest/vcenter/vm/{vm}

But when we call  this request :
POST https://{server}/rest/com/vmware/cis/tagging/tag-association/id:{tag_id}?~action=list-attached-objects

We have a list of vm-id. In vmware_inventor

[2018-03-20 15:19] XooR commented on #37512
Not to my knowledge. It also doesn't work in new Ansible 2.5.0.
Way it works now is not something that I would expect.

[2018-03-20 15:34] blackillzone commented on #31705
Same behaviour by using parametrized roles, and passing a vault variable this way:

[code]

The playbook can't be loaded, due to syntax problem.

[2018-03-20 15:36] jmcgill298 opened #37649 "ios_config: banner issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

ios_config handles banner inconsistently and incompletely.
##### STEPS TO REPRODUCE

using `lines|commands` does not attempt to capture `want_banners`, but using `src` does. Regardless of what method is used to generate `want`, the `ha

[2018-03-20 15:45] qasim-mehmood-pakeventures commented on #31269
This has been patched in Ansible 2.5. For anyone looking for a quick fix apply [these](https://github.com/ansible/ansible/pull/31270/files/129c2e76ab26874c9d5e6663f579df27ebf5620d) changes to the file ansible/modules/cloud/amazon/ec2_lc.py

[2018-03-20 16:24] jkomara opened #37652 "Setup module reports facter_virtual as physical on OS KVM instance"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Host
[code]
Target System
[code]

##### SUMMARY

The setup module is incorrectly reporting that an Openstack instance's `virtual` facter fact is physical.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When running the steps above I would expec

[2018-03-20 16:31] karniemi commented on #34853
@jctanner:considering that the problem happens with the default configuration of ansible (=gssapi-with-mic included with a 30s timeout which conflicts ssh 10s Connectiontimeout) ...wouldn't that deserve a sw fix as well? Not only documentation...

[2018-03-20 16:31] orgito opened #37655 "have the ios_interface module include CDP when checking neighbors"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ios_interface

##### ANSIBLE VERSION
[code]

##### SUMMARY

Currently `ios_interface` only check for neighbors using the LLDP protocol. Many environments only have the CDP protocol enabled.

The suggestion is to also include CDP neighbors when cheking neighbors intent. It could be done with a different option if you think is more appropriate.

[2018-03-20 16:35] maxmeyer commented on #37640
Yes, but I get `

That's strange. If I use the implicit local host the correct python is used and all tasks are successful. Any ideas about this?

* With implicit localhost

[code]

* With explicit localhost

[code]

I also tried this for `./hosts`, but there's no difference. It also fails.

[code]

[2018-03-20 16:38] sivel commented on #37640
Ansible uses a default python interpreter of `/usr/bin/python`.  Because you explicitly provided `localhost` in your inventory, but did not supply `ansible_python_interpreter` to point to your virtual environment, ansible used `/usr/bin/python`.

Using implicit localhost sets the correct `ansible_python_interpreter`.

If you have further questions please stop by IRC or the mailing list:

   * IRC:

[2018-03-20 16:38] #37640 closed, assigned to nobody

[2018-03-20 16:42] maxmeyer commented on #37640
@sivel Thanks a lot!

For reference and other readers. I fixed this with the following inventory file as well:

[code]

[2018-03-20 16:48] karniemi commented on #34690
The regexp-parameter documentation is really mis-leading on this issue, and would definitely need improvement. It states nothing about the case ,when ithe regexp does not match. And the wording is such that one may easily imply that no-match means no-change.

[2018-03-20 16:49] bcoca commented on #34690
closign as per above

[2018-03-20 16:49] #34690 closed, assigned to nobody

[2018-03-20 17:20] v1ck3r commented on #31218
I seem to be having this exact problem. I get output with the same error message.

When adding the machines to the domain manually, I have no problems. Once they are added, Ansible will validate that are indeed on the domain by returning ok: [<host>] ...
- I've tried to make sure that no spaces are in my OU path, didn't seem to help.
- I tried inverting the OU path; no luck, either.

I am using Wi

[2018-03-20 17:46] henti opened #37658 "KeyError: 'description' on azure_rm_securitygroup"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_securitygroup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### SUMMARY
Busy creating ansible playbooks to replicate existing azure infrastrcture. Tested with `jenkins-slave-test` NSG name, which created and then `--check` the deployement which was not changed as expected. Replicated the infr

[2018-03-20 18:22] rhn opened #37660 "virt module can't update domains"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

virt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(empty)

##### OS / ENVIRONMENT

Fedora 26 (ansible) / CentOS 7 (libvirt)

##### SUMMARY

Using `define` from the `virt` module will not update domain configuration if the domain already exists, leaving no obvious way to atomically update domains

##### STEPS TO REPRODUCE

1. Define a h

[2018-03-20 18:40] b2sweety commented on #33414
Retried this by removing the gssapi, still see the issue.

ansible-version: 2.4.0.0

error :
<1x.xx.xx.x1> socket_path: None
fatal: [Aruba-IAP]: FAILED! => {
    "changed": false,
    "failed": true,
    "msg": "unable to open shell. Please see: https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell"
}

log output:

2018-03-20 08:30:02,390 p=14821 u=root |  TASK [

[2018-03-20 18:43] Akasurde commented on #37620
@krispayne Thanks for reporting this issue. `ipa_hostgroup` adds and removes hosts from hostgroup but module does it by creating diff of existing hosts and user provided hosts. So maybe providing list of all host will change results.

[code]

[2018-03-20 18:47] krispayne commented on #37620
Maybe I’m doing it wrong but isn’t it a little absurd to print the entire contents of a group to an array only simply add a single host to the group?
Create, read, update, delete.
I would like to be able to update the group with a new host. Not recreate the group every time.

		—Kris

On Tue, Mar 20, 2018 at 11:44 AM -0700, "Abhijeet Kasurde" <notifications@github.com> wrote:

@krispayne Thanks fo

[2018-03-20 18:56] angystardust commented on #36915
@resyst-it "Custom Attributes != vSphere Tags" :)
https://www.virtuallyghetto.com/2015/01/custom-attributes-vsphere-tags.html

[2018-03-20 19:01] #34978 closed, assigned to nobody

[2018-03-20 19:04] #36962 closed, assigned to nobody

[2018-03-20 19:37] #32146 closed, assigned to bcoca

[2018-03-20 19:50] Akasurde commented on #37620
I agree this is little weird to provide all list of existing host while adding new host in hostgroup, but thats how the module will add / remove host from hostgroup. There is not special instructions to tell which host to add and which to remove. I hope this makes sense. If you have any additional suggestion to overcome this, then you are always welcomed.

[2018-03-20 19:58] #36808 closed, assigned to nobody

[2018-03-20 20:31] s-hertel commented on #22532
The module has since been ported to boto3 and the integration tests ported to the new testing setup and I haven't experienced this since. Feel free to open a new issue with the new traceback if you experience the intermittent failure deleting autoscaling groups.

[2018-03-20 20:31] #22532 closed, assigned to nobody

[2018-03-20 20:43] mattvonrocketstein commented on #19803
Came here looking for this, I think it would be a useful feature

[2018-03-20 21:49] orderedchaosdev opened #37669 "Inventory var getting processed multiple times"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

inventory
group_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In my inventory file for group_vars all I have a var set with a lookup. This lookup ends up being done multiple times

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect all 3 debug statements to have the

[2018-03-20 21:54] bcoca commented on #37669
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Variables are 'lazy loaded', if you need to set a specific date for a play, use `set_fact` as module options are evaluated before calli

[2018-03-20 21:54] #37669 closed, assigned to nobody

[2018-03-20 22:26] #37397 closed, assigned to bcoca

[2018-03-20 22:36] brainstorm commented on #34978
Woah, thanks @abadger! Will give it a try ;)

[2018-03-20 22:44] nusenu commented on #21547
Martin Krizek:

lsb-release was not installed in my case, can you send me an URL to the ISO you use, so I can try to reproduce?

thanks!

[2018-03-20 23:04] iyerusad commented on #16767
I ran into this issue today when attempting to connect to a host via bastion to run a task that uses ansible synchronize module. The task would fail to rsync connect to the host.

Enabling `use_ssh_args` allowed the task to complete successfully. By default, synchronize module does not appear to use/respect values defined in ansible.cfg. Whats the point of ansible.cfg if some modules respect it an

[2018-03-20 23:42] thisaaronm opened #37673 "Backup issue on /boot directory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/Users/thisaaronm/cm-ansible/ansible.cfg) = ['/etc/ansible/hosts.yml']
DEFAULT_LOG_PATH(/Users/thisaaronm/cm-ansible/ansible.cfg) = /etc/ansible/logs/ansible.log
DEFAULT_ROLES_PATH(/Users/thisaaronm/cm-ansible/ansible.cfg) = ['/etc/ansible/roles']
HOST_KEY_CHECK

[2018-03-20 23:56] willthames commented on #29312
Thanks @dagoonline for that additional analysis.

This is probably worth bringing up at the [Tuesday or Thursday Core meetings](https://github.com/ansible/community/tree/master/meetings) because, as you say, there are deeper underlying problems that should be properly addressed.

I'm happy enough to break backwards compatibility in the long term for ecs_service_facts, but perhaps we can return fac

[2018-03-21 01:48] matjam commented on #22025
This behavior breaks the [Principle of Least Astonishment](https://en.wikipedia.org/wiki/Principle_of_least_astonishment).

Just wasted an hour or so trying to figure out why my role vars were not being overwritten, now I know.

[2018-03-21 02:26] zikalino commented on #37658
i will try to reproduce it soon

[2018-03-21 02:27] zikalino commented on #37320
working on it

[2018-03-21 02:28] zikalino commented on #36087
working on it

[2018-03-21 02:28] zikalino commented on #36085
working on it

[2018-03-21 02:28] zikalino commented on #36082
working on it

[2018-03-21 02:28] zikalino commented on #36080
working on it

[2018-03-21 02:29] zikalino commented on #36076
working on it

[2018-03-21 02:29] zikalino commented on #36070
a bit delayed but working on it this week

[2018-03-21 02:30] zikalino commented on #36069
just working on it again

[2018-03-21 02:34] zikalino opened #37681 "azure_rm_functionapp test is disabled"
Test is currently disabled, should be fixed and enabled

##### COMPONENT NAME
azure_rm_functionapp

##### ANSIBLE VERSION
2.5

[2018-03-21 02:34] zikalino commented on #37681
i will do it soon

[2018-03-21 02:35] zikalino opened #37682 "azure_rm_storageblob test is disabled"
test should be fixed and reenabled asap

[2018-03-21 02:35] zikalino commented on #37682
i will take care of this

[2018-03-21 02:44] mponton opened #37683 "ansible_winrm_kerberos_delegation=true does not request a forwardable ticket"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

winrm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)
Linux <redacted> 3.10.0-693.11.1.el7.x86_64 #1 SMP Fri Oct 27 05:39:05 EDT 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

Setting `ansible_winrm_kerbero

[2018-03-21 03:40] zikalino opened #37685 "Create azure_rm_rest module"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Idea is to create **azure_rm_rest** module.
This would be a similar module to **url** module, however the differences would be as follows:
- it would use existing **azure_rm_common** stuff to provide authentication and access to azure_rest
- add a few additional features related to Azure REST API to make it simpler to use.

When using existing **uri

[2018-03-21 04:57] matjam commented on #15243
So, the use case for me was that I have a role that when passed a certain set of variables, it will go off to ec2 and create a bunch of instances. I wanted it to be declarative, so that I just declare, how many of what type I want, and it would generate hostnames, tags, all that stuff, and create the instances.

The problem I hit (other than being new to ansible) was that I needed to loop over VPC

[2018-03-21 05:12] rackergs commented on #35745
that commit looks great. thanks @maxamillion

[2018-03-21 06:21] zikalino commented on #37682
resolved_by_pr #37684

[2018-03-21 06:31] jborean93 opened #37693 "Azure Multiple Values for Argument when creating a SecurityRule"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_common

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
COLOR_VERBOSE(/Users/jborean/dev/module-tester/ansible.cfg) = cyan
DEFAULT_HOST_LIST(/Users/jborean/dev/module-tester/ansible.cfg) = ['/Users/jborean/dev/module-tester/inventory.ini']
RETRY_FILES_ENABLED(/Users/jborean/dev/module-tester/ansible.cfg) = False

##### OS / ENVIRONMEN

[2018-03-21 06:43] willthames commented on #35607
One less obvious obstacle is the fact that this'll also require someone to do the `networkConfiguration` changes (see
https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ECS_AWSCLI_Fargate.html) - however, https://github.com/ansible/ansible/pull/34381 is a start on that.

[2018-03-21 06:47] kbreit opened #37694 "Panorama support is conflicting panos_op documentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
panos_op

##### ANSIBLE VERSION
Devel

##### CONFIGURATION
Devel

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Documentation has a note at the top saying Panorama is not supported. However, the `ip_address` parameter documentation says “IP address (or hostname) of PAN-OS device or Panorama management console being configured.”

##### STEP

[2018-03-21 07:17] matjam opened #37697 "Unclear error messages when a dict is missing an attribute"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unsure

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ubuntu 1604

##### SUMMARY
When ansible is unable to find a key in a dict, it prints an unhelpful error message. It would be helpful if it mentioned the exact line the object was referenced, and if it would mention exactly which object was referenced.

####

[2018-03-21 07:19] windswordsgd opened #37698 "Azure ansible playbook new feature request for Availability Set"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

Azure Ansible playbook does not have the parameter for Availability Set.  So when deploying a new Azure VM with Ansible playbook,  availability set cannot be set to Azure VM.

Please help to add this for Ansible Azure Playbook

[2018-03-21 08:37] yuwzho opened #37700 "Azure image cannot be created with tag"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

tags can be see on the Azure portal

##### ACTUAL RESULTS

[code]

[2018-03-21 09:08] nusenu commented on #21547
Martin Krizek:

After a fresh install from that iso (without selecting anything during installation), the
lsb-release package is not installed:

dpkg -l lsb-release
dpkg-query: no packages found matching lsb-release

The only lsb package installed is lsb-base

[2018-03-21 09:09] roens commented on #7790
My workaround hack until `pip install ansible` "dtrt":

1. `git clone https://github.com/ansible/ansible`
1. `cd ansible`
1. `make docs`
1. `sudo cp docs/man/man1/* ${path-to-local-man}/man1/`
1. `man ansible` => standard manpages!

FWIW, I'm an oddball. I've been using macOS long enough that I use MacPorts, and fall back to `brew` "when I have to". The argument that "Manpages are installed with t

[2018-03-21 09:12] yuwzho commented on #37700
+label easyfix

[2018-03-21 09:14] yuwzho opened #37701 "I can add azure VM to a load balancer"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

azure_rm_loadbalancer

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I can add a vm id in load balancer's Backend pools param, then add the vm to LB

##### ACTUAL RESULTS

[code]

[2018-03-21 09:25] zikalino commented on #37701
👍

[2018-03-21 09:40] mkrizek commented on #21547
I have no idea what we're doing differently but I get this:
[code]
If I remove the package manually on the machine though and run:
[code]
I get:
[code]

@nusenu Help me out here, what am I doing differently?

needs_info

[2018-03-21 09:51] rtulke opened #37702 "call ansible tower REST API with ansible uri module failed with inventory in body payload"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - uri module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

My API curl reference command:
[code]
The job_template "19" is a execution job_template.

My API curl reference command works fine. But when I use the URI module, I've gotten some ancillary bugs. It's a bit strange that he st

[2018-03-21 09:51] zsythink opened #37703 "The bug of module replace"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module replace

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Operating System: CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

When using ad-hoc of replace module .
Bugs that can occur with after or before parameters.

##### STEPS TO REPRODUCE

Create a test file on the test70 host as follows.
[code]

Execut

[2018-03-21 09:53] ssbarnea opened #37704 "jenkins_plugin with state=present fails to install plugin and reports success all times"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
jenkins_plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It seems that jenkins_plugin does nothing but reports any plugin as installed, even if the plugin name is bogus.

This happens only when user uses `state: present`, once you change `state: latest` it seems to try to do the right thing.

[2018-03-21 10:02] nusenu commented on #21547
[...]

I assume you just installed your system differently or did run
ansible against the system before or use the bento/debian-9 vagrant box?
(in which case the lsb-release package is installed)

If you did install from the iso directly: Did you remove all selections during the
tasksel step?

[2018-03-21 10:06] dminca commented on #24440
@sivel if you need any help testing I could give you a hand. It's a pity this has been discontinued.

[2018-03-21 10:21] ssbarnea opened #37705 "jenkins_plugin silently converts list of plugins to string"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
jenkins_plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A
##### SUMMARY
It seems that jenkins_plugin is not able to load list of plugins from variables and fails to install plugins because it converts the list to a string which is evaluated as a plugin name.

##### STEPS TO REPRODUCE

[code]

Please note that

[2018-03-21 11:29] gyptazy opened #37707 "java_cert module: add 'trustcacerts' option for certificate import"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
java_cert

##### ANSIBLE VERSION
ansible 2.3.1.0

##### SUMMARY
ATM there's missing an option to define certificates on import to declare as trusted ca certs (keytool option '-trustcacerts'.

[2018-03-21 11:41] avoidik commented on #36605
Same issue here

[2018-03-21 11:53] #33434 closed, assigned to nobody

[2018-03-21 12:16] #37239 closed, assigned to nobody

[2018-03-21 12:21] jtyr commented on #37705
Thank for your suggestion, @ssbarnea. Please can you share how did you test it without the `with_items`?

[2018-03-21 12:26] Jean-Daniel opened #37710 "vault strings cannot contain jinja templating"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

encrypted vault variables does not behave like standard variable when they contains templates pattern.

When a variable contains a template pattern '{{ other_var }}', ansible automatically expands the nested var.
When an encrypted variable co

[2018-03-21 12:39] ssbarnea commented on #37705
@jtyr In fact there is zero support for list of plugins in jenkins_plugin module. I was confused by https://github.com/ansible/ansible/issues/37704 which made me believe it was working in some cases. In fact only way to do it is via via `with_items`, at least at this moment. Hopefully by fixing this bug we could make the plugin behave more like the packaging ones like (yum,...) which are able to d

[2018-03-21 12:51] mkrizek commented on #21547
This was the first time running ansible against the system, I did instal from the iso directly.

I did not remove all selections during the tasksel step, I left "standard system utilities" field checked, so that might be the difference, sorry I missed that during your earlier comment. So I tried again:

Installed the system from the above iso, unchecked everything in tasksel, did
[code]
Started `s

[2018-03-21 12:55] Moshem123 commented on #37348
?

[2018-03-21 13:08] dagwieers opened #37711 "ini_file-module does not create a section, when no option/value is defined (2.0.0.2)"
_From @my2ndhead on February 8, 2016 19:30_

##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

ini_file module
##### ANSIBLE VERSION

N/A
##### SUMMARY

When a section does not already exist, it will not be created, when no options/values are defined. This was working under 1.9.

When manually creating the section and running the task, a key-value-pair of "None = none" is created.

[code]

_Copie

[2018-03-21 13:08] dagwieers commented on #37711
_From @ansibot on July 31, 2016 18:33_

@jpmens, @noseka1, ping. This issue is waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2018-03-21 13:08] dagwieers commented on #37711
_From @ansibot on September 7, 2016 3:17_

@jpmens, @noseka1, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2018-03-21 13:08] dagwieers commented on #37711
_From @jpmens on September 7, 2016 6:42_

wontfix due to time constraints

[2018-03-21 13:08] dagwieers commented on #37711
_From @my2ndhead on September 7, 2016 6:52_

You can't just close this issue just because of time constraints. This is a major bug that breaks a lot of things.

[2018-03-21 13:08] dagwieers commented on #37711
_From @jpmens on September 7, 2016 7:2_

I agree. I did not close it.
I assume my comment caused the bot to close it. What I meant to do was to say "I cannot fix this"

@bcoca Please reopen.

[2018-03-21 13:08] dagwieers commented on #37711
_From @eden881 on March 21, 2018 12:29_

Any updates on this? We have this problem too...

[2018-03-21 13:10] dagwieers commented on #37711
needs_contributor

[2018-03-21 13:16] erik-saarts opened #37712 "Issues with fact_path: Parameter 'fact_path' has an invalid path.."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY) = [u'/root/windows/hosts']

##### OS / ENVIRONMENT

Ansible running in Debian 9.3
Remote hosts: windows 10 professional version 1709

##### SUMMARY

When using setup module to gather facts from Windows 10 Pro remote hosts, giving 'facts_path' v

[2018-03-21 13:25] dagwieers commented on #37711
bot_broken

[2018-03-21 13:31] jctanner commented on #37000
The current requirement for the "force" argument replicates the vcenter UI's workflow. @karniemi what aspect of this do you feel is a "bug"? Changing the workflow to automatically assume "force" would be a feature, not a bug in my opinion. I would be very hesitant to fulfill this request without consensus from the rest of the community. Please add an item to the vmware working group agenda/meeting

[2018-03-21 13:31] #37000 closed, assigned to nobody

[2018-03-21 13:44] marioland opened #37713 "networking module nclu support check mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nclu

##### ANSIBLE VERSION
2.5.0

##### SUMMARY
The networking module nclu should support check mode:
add supports_check_mode=True to AnsibleModule(...)

current code:
[code]

supporting check_mode:
[code]

[2018-03-21 13:47] maxamillion commented on #20438
From the stack trace, this looks like a bug in `yum` itself and not ansible, but I can't confirm because I'm unable to reproduce the issue here. What are the circumstances that cause the failure? I've run the example playbook from the original Issue Ticket posting and it works on my test system.

needs_info

[2018-03-21 13:48] dagwieers commented on #37000
The bits about the documentation and examples are important feedback though. So I would have kept this open just to track those suggestions.

But I agree that we implemented this with `force` for a good reason and changing this behavior should not be taken lightly. A lot of the (re)provisioning modules require `force` to boot/redeploy a system that is already running, to avoid scratching productio

[2018-03-21 13:51] sivel commented on #24440
@dminca Please do so.  Give #33689 a try and comment on your results.

[2018-03-21 13:53] cigamit commented on #37198
There should be a log file generated on the VM that shows exactly what is going on.  I am not sure where they put it on Debian, but it could be either in /var/log/ or even in /tmp/
You might try to find that and look through it to see where it is hanging up.

[2018-03-21 14:10] cigamit commented on #37087
I would be more inclined to go with Option 2, allow specifying of a full path.  This would also allow you to have multiple templates with the same name in the same Datacenter but maybe in a different cluster.  The only downside is that everyone seems to struggle with the fact that vmware pathing needs the /vm/ between the Cluster Name and the Folder.

[2018-03-21 14:45] plandolt opened #37723 "Usage of [sleep 0] fails if command sleep is not available"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lib/ansible/plugins/action/init.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

While stating an ansible playbook is running the command "sleep 0" (lib/ansible/plugins/action/__init__.py, Line 892). On a server without access to sleep this step fails.

##### ACTUAL RESULTS

[code]

[2018-03-21 14:46] #33243 closed, assigned to nobody

[2018-03-21 14:47] drewmullen opened #37724 "template fails - AnsibleUndefinedVariable. ignores default() and variable does exist"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = False
DEFAULT_BECOME(/etc/ansible/ansible.cfg) = True
DEFAULT_BECOME_METHOD(/etc/ansible/ansible.cfg) = sudo
DEFAULT_BECOME_USER(/etc/ansible/ansible.cfg) = root
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['foreman']
DEFAULT_FORKS(

[2018-03-21 14:53] ryansb commented on #20929
The EC2 health check is *only* for cases where the instance being booted is sufficient, and I think Ansible's behavior here is correct. There are indeed other ways to check that instances are "ready" such as documented here http://boto3.readthedocs.io/en/latest/reference/services/ec2.html#waiters

The EC2 health check only looks for InstanceRunning (done in the ASG, not by Ansible) not InstanceOk

[2018-03-21 14:53] #20929 closed, assigned to nobody

[2018-03-21 15:18] cigamit commented on #35665
I don't believe this is possible via the VMWare API (or even in the VMWare UI).  I would recommend that you remaster your ISOs to include the kickstart script itself.  Granted, doing ISO installs every time kinda defeats the purpose of templates.

[2018-03-21 15:18] tbouvet opened #37725 "docker_container failed with docker python 3.1.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ubuntu 16.04

##### SUMMARY
If I run a `docker_container` in interactive mode the command is always finished in failed mode even if all is ok.

The same task works perfectly with docker python 2.7.0

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

[2018-03-21 15:20] techraf commented on #20045
@bcoca This information is actually missing from the "2.x" list in the referenced document.

Shouldn't it be added before "extra vars (always win precedence)"?

[2018-03-21 15:22] BOPOHA commented on #31383
Please add support of prefix list IDs for allowing access to VPC endpoints:
[code]
format  does not matter!
This feature is very necessary.
Terraform has it for a long time: https://www.terraform.io/docs/providers/aws/r/security_group.html

[2018-03-21 15:23] nkakouros opened #37727 "hostvars[hostname] cannot be combined with dict"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

hostvars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

Arch Linux latest

##### SUMMARY

`hostvars[hostname]` cannot be combined with a dict

##### STEPS TO REPRODUCE

Example adhoc command:

`ansible -i localhost -m debug -a msg="{{hostvars['localhost'] | combine({})}}" localhost`

##### EXPECTED RESULT

[2018-03-21 15:57] #33628 closed, assigned to nobody

[2018-03-21 15:58] sivel commented on #37727
This appears to have been caused by https://github.com/ansible/ansible/commit/dae737c8b714f2c6d28663ef0afeab10e6d3a667

As a work around, you can use:

[code]

cc @agaffney

[2018-03-21 16:01] tterranigma commented on #37727
@sivel Thanks for the elegant workaround. Another uglier workaround I found is:

[code]

[2018-03-21 16:03] julienvey commented on #37419
@ybalt This is fixed in #37189 somehow

I've added the following integration test to cover the case (I also tried with `force: yes`)

[code]

[2018-03-21 16:04] agaffney commented on #37727
@bcoca, thoughts on how to handle this?

[2018-03-21 16:06] agaffney commented on #37727
@tterranigma, what is your use case for using `|combine()` with `hostvars`?

[2018-03-21 16:12] karniemi commented on #37000
Never mind. Just tried to be a good citizen and inform that 1) this "feature" is not documented 2) the "feature" makes anyway no sense after proper documentation( I already explained why.)

[2018-03-21 16:14] sivel commented on #37727
I think we just need to update the combine filter to allow a `Mapping`:

[code]

[2018-03-21 16:18] tterranigma commented on #37727
@agaffney I am prepared to hear that I am abusing ansible but here is what I am doing.

I have a huge playbook that operates against instances on Google Cloud. The playbook goes in summary like this:

[code]

[2018-03-21 16:21] agaffney commented on #37727
That is...atrocious, but sivel's proposed fix will probably get it working again. Can you test it?

[2018-03-21 16:31] pdellaert commented on #37000
I agree that the documentation needs to reflect this better. It could state something like:
```This module reflects the VMware vCenter API and UI workflow, as such, in some cases the `force` flag will be mandatory to perform the action to ensure you are certain the action has to be taken, no matter what the consequence. This is specifically the case for removing a powered on VM (using `state: abse

[2018-03-21 16:31] tterranigma commented on #37727
:disappointed:

Yes, it worked!

[2018-03-21 16:32] tterranigma commented on #37727
You are a great team guys!

[2018-03-21 16:35] zwindler opened #37731 "Possibility to create Internal Loadbalancers with azure_rm_loadbalancer"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_loadbalancer

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In azure console, you can create type "Public" loadbalancers with a public IP or type "Interal" loadbalancers using private IP address generated within a virtual network/subnet pair.

##### STEPS TO REPRODUCE
As far as I c

[2018-03-21 16:35] sivel commented on #37727
I'm off focused on another task.  Anyone, please feel free to submit that fix as a PR.

Thanks!

[2018-03-21 16:46] #29332 closed, assigned to nobody

[2018-03-21 16:47] #23655 closed, assigned to nobody

[2018-03-21 16:51] maxamillion commented on #29534
Hello! Thank you for the bug report, apologies for the lag time. I'm currently working to clean up the yum module's bug backlog. I wanted to comment here that the yum python API to list installed packages returns a list of type `RPMInstalledPackage` and that data type has no concept of their original yum repository. I looked into how `repoquery` does this and that utility puts together it's own cu

[2018-03-21 16:55] agaffney commented on #37727
I created PR #37732 with sivel's fix

[2018-03-21 16:55] #18979 closed, assigned to nobody

[2018-03-21 16:57] zwindler opened #37734 "Add network interface to Load Balancer Backend pool in azure_rm_networkinterface"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_networkinterface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In current azure loadbalancer module, you can create Backend pools, but you don't have the possibility to add network interfaces in this Backend pool, neither in *azure_rm_networkinterface* nor in *azure_rm_loadbalance

[2018-03-21 17:04] krispayne commented on #37620
I suppose I see the logic behind the ansible-way for this: Desired state. Although, in this instance I can see the benefit of being able to PUT, GET, POST, DELETE, as well.

Does the module have the ability to read the contents of the group, or do I have to supply that outside of the module, thus rendering the simplicity of using the module completely useless?

[2018-03-21 17:05] krispayne commented on #37620
I say all this, seeing
[code]

[2018-03-21 17:06] abadger commented on #37348
Hi, this is a misunderstanding of the filter_plugins config option.  filter_plugins needs to include all of the directories that ansible should be looking in for filter plugins.  So you need to add to it, not replace it.

If I were to do what you are doing, I'd do something like this:
[code]

You can, of course, define that string in your ansible config file instead of as an environment variable.

[2018-03-21 17:06] #37348 closed, assigned to nobody

[2018-03-21 17:11] henti opened #37738 "Support multiple keys for ssh_public_key in azure_rm_virtualmachine"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### SUMMARY
Busy creating ansible playbooks to create a new linux VM in azure. Tested using ssh_public_key and key_data with var `key_data: "{{ lookup('file', 'ssh_keys/henti-henti-rsa') }}"` works as expected, however we have a t

[2018-03-21 18:31] vickman2006 opened #37744 "ERROR! 'telnet' is not a valid attribute for a Play"
[ansible.log](https://github.com/ansible/ansible/files/1834753/ansible.log)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

**Telnet Module**
 telnet - Executes a low-down and dirty telnet command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

**cat ansible.cfg**
[defaults]
inventory = ./hosts
host_key_checking = false
timeout = 10
log_path=./ansible.log
eve@ubuntu-server:~/ansible$

[2018-03-21 19:09] jeffwils commented on #33131
This issue also occurs if even when the role is invoked directly from the playbook and the include_tasks is being invoked within a with_items loop.

Playbook
[code]

myrole/main.yml
[code]

myrole/mysubtask.yml

[code]

Output
[code]

[2018-03-21 19:11] dminca commented on #24440
Ok no problem. Will provide results there, I'll start tomorrow morning.

[2018-03-21 19:16] ssbarnea commented on #37705
@jtyr I would count that issue as an implementation detail because from the user point of view, he can install multiple plugins at once using the web interface.

I also made another discovery related to the plugin which worries me even more: it seems that the plugin does not respect the update sites configured in Jenkins.

I do have a customised `hudson.model.UpdateCenter.xml` file which contains

[2018-03-21 19:16] AntPhil opened #37749 "vmware_guest selectable disk backing mode"
##### ISSUE TYPE
- Feature Idea -> add disk mode in vmware_guest to specify disk mode on vmware :
       - independent persistent disk
       - dependent persistent disk
       - independent non-persistent disk
       - dependent non-persistent disk

##### COMPONENT NAME
vmware_guest, disk component

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
HOST_KEY_CHECKING(/root/ansible.cfg) = False

#

[2018-03-21 19:20] bcoca commented on #37744
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-21 19:20] #37744 closed, assigned to nobody

[2018-03-21 19:26] bcoca commented on #20045
@techraf you are confusing variable precedence with 'setting precedence' which can be provided by keyword, env var, cli option, config file entry OR a specific variable.

[2018-03-21 19:27] Akasurde commented on #37749
!component-lib/ansible/modules/packaging/language/composer.py

[2018-03-21 19:35] greg-hellings opened #37750 "yum_repository module is overly restrictive"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum_repository.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/home/greg/.ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/greg/.ansible.cfg) = -o ControlMaster=auto -o ControlPersist=600s -o IdentitiesOnl
ANSIBLE_SSH_CONTROL_PATH(/home/greg/.ansible.cfg) = %(directory)s/%%h-%%r
ANSIBLE_SSH_CONTROL_PATH_DIR(/home/greg/.ansibl

[2018-03-21 19:45] heathdbrown commented on #37305
I am currently re-running the tests I performed before against devel.

[2018-03-21 19:53] Akasurde commented on #37749
@AntPhil Thanks for reporting this issue. Do you have any specific required to change the disk types ?

[2018-03-21 19:55] Akasurde commented on #34195
@nikitakazantsev12 Any news ? If you are using sudo to install library then for all subsequent install use sudo. We have seen issue  related to this.

needs_info

[2018-03-21 20:13] AdamBark commented on #37006
I get the same error when trying to build containers with docker_service module

[2018-03-21 20:30] AntPhil commented on #37749
Thanks to you @Akasurde ! no specific required . thanks

[2018-03-21 20:35] heathdbrown commented on #37305
Re-ran net_vlan with aggregate using:

[code]

This looks to be fixed in the devel version.

[code]

[2018-03-21 20:38] gjtempleton opened #37752 "s3_bucket: Force parameter doesn't handle versioned objects"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

s3_bucket
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### OS / ENVIRONMENT

Mac OS 10.12.6
##### SUMMARY

The s3_bucket module's `force` parameter doesn't currently handle versioned objects, instead only deleting unversioned current objects.
##### STEPS TO REPRODUCE

Example giving using boto3 in ipython session:
[code]
Now atte

[2018-03-21 20:40] gjtempleton commented on #37752
I'm intending to do the work required to fix this myself, basing it off the existing PR for migrating to boto3 https://github.com/ansible/ansible/pull/37189 given the improvements already wrapped into that.

Raising this for visibility's sake.

[2018-03-21 20:41] heathdbrown commented on #37305
Re-ran net_vlan with aggregate using:
[code]

This looks to be busted in Ansible 2.5.0rc3

[code]

[2018-03-21 20:44] heathdbrown commented on #37305
sw1, sw2, sw10 are vEOS devices
[code]

[code]

sw6, sw5, sw11 are vN9k devices:

[code]

[code]

[2018-03-21 20:47] heathdbrown commented on #37305
In summary the devel branch is currently working for eos and nxos for all net_vlan modules tested.

net_vlan is still broken in 2.5.0rc3 for eos.

[2018-03-21 20:49] bcoca commented on #37727
fyi the task will execute, but i doubt it will work as hostvars is a 'magic var' and the internal copy will have precedence over the fact you just created. You 'might' be able to access 'extra keys' but anything that overlaps will be lost.

[2018-03-21 20:54] skiedude opened #37753 "Openstack Inventory Improvement"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

https://github.com/ansible/ansible/blob/devel/contrib/inventory/openstack.py
https://github.com/ansible/ansible/blob/devel/contrib/inventory/openstack.yml
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/Users/user/.ansible.cfg) = [u'/Users/user/company/ansible/inventory']
DEFAULT_REMOTE_USER(/Users/user/.ansible.cfg) =

[2018-03-21 20:57] bcoca commented on #37753
The inventory plugin already supports this

[2018-03-21 20:57] skiedude commented on #37753
I haven't had much success, care to share an example of how it works?

[2018-03-21 20:59] tterranigma commented on #37727
Him.. Do you think there is a way to make the example playbook run once when the servers have to be created and also make available to them the localhost hostvars? Accessing them directly through hostvars['localhost'] is not the solution as this playbook may also be run against a specific host online (after it is created) in which case hostvars['localhost'] seems to not be set.

[2018-03-21 21:00] bcoca commented on #37753
just enable the plugin http://docs.ansible.com/ansible/devel/plugins/inventory/openstack.html and `-i /path/to/vaulted.yml`

[2018-03-21 21:05] bcoca commented on #37727
i find this to be simpler:
[code]

[2018-03-21 21:08] skiedude commented on #37753
I'm using the openstack.yml to configure my openstack controllers, but then also using the openstack.py as the /etc/ansible/hosts file in order to do all the talking to openstack.

I'm following the Implicit user of the inventory script found here http://docs.ansible.com/ansible/latest/intro_dynamic_inventory.html#implicit-use-of-inventory-script

Using the following command
```ansible -i /etc/ans

[2018-03-21 21:15] bcoca commented on #37753
You are using the inventory script, i told you to use the inventory plugin (linked above).

[2018-03-21 21:34] skiedude commented on #37753
Ok, that makes a bit more sense now that I reread it. Forgive my newbness, but I've never used a plugin before. Where exactly do I put the data provided in https://docs.ansible.com/ansible/devel/plugins/inventory/openstack.html as opposed to my openstack controller login information?

[2018-03-21 21:44] atnoslen opened #37755 "parse_cli does not render nested items"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

parse_cli
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows 10 WSL

##### SUMMARY

When using a nested dictionary as a values with parse_cli, sub items are not rendered.

##### STEPS TO REPRODUCE

parser.yml
[code]

main.yml
[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[code]

[2018-03-21 22:00] alexander-bauer commented on #30239
Looks like the fix is present in the 2.5 stable branch, (and very likely also in `master`, though I didn't check). Regardless of the new organization of the modules, I think we won't encounter the error this issue describes once 2.5 drops.

https://github.com/ansible/ansible/blob/stable-2.5/lib/ansible/modules/cloud/docker/docker_volume.py#L152-L153

[code]

[2018-03-21 22:07] bcoca commented on #37753
in a yaml file you use as your inventory source, see the example in the plugin docs

[2018-03-21 22:19] zoredache opened #37756 "win_shell: Please launch shell with -noprofile, or provide argument to set -noprofile"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_shell

##### ANSIBLE VERSION
2,4.x, 2.5.x, devel branch head

##### OS / ENVIRONMENT
windows

##### SUMMARY
If a user has a powershell profile that has any kind out, that output will also be included in the stdout_lines, stdout.  It doesn't matter if the profile uses `Write-Host` or `Write-Output`.  I believe there should be a method to pr

[2018-03-21 22:29] zoredache commented on #37756
Given the module history this seems like it might be something for @nitzmahone to look at?  Thanks.

[2018-03-21 22:36] mldulaney opened #37757 "If locale is set to gd_GB.UTF-8 (Scots Gaelic), ansible fails"
- Bug Report

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Fedora 28, though this issue only seems to arrise from settings on the remote host (rhel 7)

##### SUMMARY
If the locale for the remote server is set to gd_GB.UTF-8, as in:
ocale
LANG=gd_GB.UTF-8
LC_CTYPE="gd_GB.UTF-8"
LC_NUMERIC="gd_GB.UTF-8"
LC_TIME="gd_GB.UTF-8"
LC_COLLATE="gd_GB.UTF-8"
LC_MONETARY="gd_

[2018-03-21 22:43] haught opened #37758 "ios_config times out"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True

##### OS / ENVIRONMENT

AWX 1.0.4.2

##### SUMMARY

When running ios_config with a long running before, it times out. The crypto key generate will take a long time on a switch and there doesn't appear to be a way to increase the

[2018-03-21 22:54] jewsco opened #37759 "ansible is getting hosts from wrong group though groupname is provided in play"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-03-21 22:58] stmos commented on #27556
This may help someone else facing the same issue. Among the list of things that may cause this error, I would also add:

- Older version of Powershell (e.g. 2.0) installed in the system (together with a newer version, e.g. 4.0)

Here are the steps I used to debug the issue:

- Run Powershell from the Windows start menu. Everything should work fine
- Launch cmd.exe and run "powershell.exe" . In my

[2018-03-21 22:58] one-t opened #37760 "Module vmware_guest_snapshot does not wait for the snapshot to complete"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest_snapshot

##### ANSIBLE VERSION
2.4.3

##### SUMMARY
The VMWare Guest Snapshot module does not wait for the snapshot to complete before moving on to the next task.

##### STEPS TO REPRODUCE
Create a snapshot using the snapshot_vm module, monitor vmware console, observe that the task completes before the snapshot

##### EXPECTED RES

[2018-03-21 23:11] jtyr commented on #37750
Thanks for opening this issue, @greg-hellings. According to the [code](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/yum_repository.py#L626), the requested functionality should already be in place. Please could you provide an example of a playbook which is failing for you?

[2018-03-21 23:15] jtyr commented on #37705
You should be able to specify custom Update Centre URL via `updates_url` option. Please could you provide more details what you mean by "broken"?

[2018-03-21 23:16] #36444 closed, assigned to nobody

[2018-03-21 23:17] bcoca commented on #37759
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You are only defining 1 host, hostnames are unique in Ansible, it does not matter which group you target, the host is always part of al

[2018-03-21 23:17] #37759 closed, assigned to nobody

[2018-03-21 23:33] jborean93 commented on #37756
@zoredache having an optional parameter to control this would be good to have. I'm not sure if line 78 will continue to work with `-noprofile` but it's just a matter of testing it to see if it still works or not.

[2018-03-21 23:45] brampling commented on #36574
The issue here is that the "name" field does not provide the ability to rename an object. In line 206 of module_utils/net_tools/nios/api.py obj_filter is being set based on any field with ib_req set in the ib_spec dict. If I am specifying a new name for an existing object, the new name is passed to the get_object function of the infoblox_client module. The result is that no existing object referen

[2018-03-21 23:57] dagwieers commented on #33127
It now works fine:
[code]

[2018-03-22 00:08] brampling commented on #35369
restart_if_needed was introduced some time after WAPI 1.4 which is the default WAPI version in api.py. This can be fixed through a combination of #37578 and commit 6baff81fb3bff9de3a1d1faa81b8ad703d1fbf69 in PR #37543. I recommend merging #37578 first, then there is no need to document the minimum WAPI version to support this parameter.

[2018-03-22 00:16] willthames commented on #20929
I'd say the better solution would be to use Lifecycle hooks to only put the instances InService once the user data has completed. The [`ec2_asg_lifecycle_hook` module](https://github.com/ansible/ansible/pull/34379) - available with ansible 2.5, or just drop it in your `library` directory now - can be used to create the lifecycle hook and then you just run

[code]

at the end of the user data

[2018-03-22 00:37] dagwieers commented on #37000
@pdellaert I wouldn't refer to the VMware vCenter API/UI workflow, as other modules were designed in the same fashion. It just to give the user the possibility to delete a VM but only if it's not running. So it is a safeguard feature rather than anything else.

[2018-03-22 00:55] jborean93 commented on #37756
Line 78 is used when sending input through the stdin pipe, I think it still works but it needs to be tested with running it with `-profile`.

[2018-03-22 01:10] brampling commented on #37032
It does need the - address. It is looking for a list of address and MAC address but the MAC is optional, we mostly use the MAC field for DHCP.

This works for me:

  tasks:
   - name: create host record
     nios_host_record:
       name: host.blairansible.com
       ipv4:
         - address: 1.1.1.1
       state: present
       provider: "{{ nios_provider }}"

Your "parent was not found" error pr

[2018-03-22 01:39] techraf commented on #20045
@bcoca You stated above: "**the connection variables** have precedence over directives" and the page you referenced states "*connection variables (`ansible_user`, etc.)*" for Ansible 1.x.

This information is missing from 2.x section.

I don't get what **I am** confusing here. Both Ansible 1.x and 2.x behave the same regarding this setting.

[2018-03-22 01:47] bcoca commented on #20045
that is not specific to 1.x only the variable precedence lists are specific per version

[2018-03-22 01:48] mababio commented on #18323
@lukasz-zaroda What version of python are you running? I'm having the same issue and not sure if it matters. Please display `ansible --version` output

[2018-03-22 01:59] #36632 closed, assigned to nobody

[2018-03-22 02:10] #36624 closed, assigned to nobody

[2018-03-22 02:35] zikalino commented on #37321
notabug

[2018-03-22 02:37] zikalino commented on #37321
i would like to close this issue, as i believe it's not a bug.
playbook given by @dealkk is not valid so this is most likely reason that it fails.
as there's no further information i think this issue should be closed, and pls reopen if you think it's still valid.

[2018-03-22 02:38] zikalino commented on #37321
close_me

[2018-03-22 03:09] techraf commented on #20045
I was trying to make you realize it was not 1.x specific. I’m glad you agreed.

The page you referenced lists:

“*In 1.x, the precedence is as follows []*”

“*In 2.x, we have made the order of precedence more specific []*”

And since this is not 1.x specific, “connection variables (`ansible_user`, etc.)” should be listed in both lists (just like “extra cars” are).

[2018-03-22 03:17] bcoca commented on #20045
connection variables are discussed AFTER both lists

[2018-03-22 03:18] greg-hellings commented on #37750
@jtyr It looks like this is something that's been fixed in devel/stable-2.5 but affects the stable-2.4 branch.  Relevant portion of the diff here:

[code]

[2018-03-22 03:20] greg-hellings commented on #37750
The same change is already present in the stable-2.5 branch. I track the head of the released versions pretty closely for my own work, so it's not a big deal for me to wait for 2.5 if the 2.4 releases aren't going to be seeing more updates. After patching it myself, I vendored in a version of the yum_repository.py file to my playbooks for the time being.

[2018-03-22 03:47] mattclay opened #37766 "Unstable integration test azure_rm_securitygroup"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_securitygroup integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_securitygroup:

https://app.shippable.com/github/ansible/ansible/runs/58719/62/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Test

[2018-03-22 03:48] mattclay commented on #37766
/cc @nitzmahone @zikalino

[2018-03-22 03:49] mattclay commented on #37766
This test appears to be failing due to interactions with the `azure_rm_networkinterface` integration test. Running the test by itself does not fail, but running it after `azure_rm_networkinterface` will fail. The `testnic001noip` referenced in the error is created in the `azure_rm_networkinterface` test.

[2018-03-22 03:51] mattclay commented on #37766
Since there are very recent commits to the `azure_rm_networkinterface` module I suspect one or both of those changes may be responsible:

https://github.com/ansible/ansible/commit/9fb04d20e170481d115a2eee1a5b0043ce6c71e9
https://github.com/ansible/ansible/commit/89401f13f761c94552fca8eafbaf5bcf54aff40c

[2018-03-22 03:53] mattclay commented on #37766
Test disabled here: https://github.com/ansible/ansible/commit/c7701fd4acfd39f0b59e751a19a742672befb2aa

[2018-03-22 03:55] zikalino commented on #37766
ok, i will take care of this

[2018-03-22 04:04] karniemi commented on #37000
jctanner already closed this ticket so 1) ansible maintainers officially thinks that no fix is needed in sw or docs 2) it's anyway of no use chatting in a closed ticket - it's closed already and won't be tracked.

Thanks for the effort.

[2018-03-22 04:08] karniemi commented on #34690
@bcoca it seems an obvious issue to be fixed in documentation,  but you closed it?

[2018-03-22 04:21] amanvirmundra commented on #37685
It’s a great idea. This could cover the breadth of Azure feature offerings. A lot of end to end Azure / ansible automation scenarios are struggling because of limited coverage of ansible azure modules. I had an uphill task when I wanted to pass of storage account keys, on the fly, to subsequent azure modules. There’s no module for it! So I ended up creating a custom module. Same is true for other

[2018-03-22 06:37] marklit opened #37768 "SSH Username not passed properly to SSH client properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
SSH

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

The SSH user is being passed via an ``-o`` flag when running playbooks:

[code]

[code]

Which the SSH client in Ubuntu 14 isn't passing along properly and won't allow me to connect to EC2.

If the username is moved to the following f

[2018-03-22 07:41] SuneKjaergaard commented on #36729
I have the same problem and can add to this.
Note that I am using a jump host (10.3.14.10) to connect to the machines

### Config file
`
[default]
remote_user=hungry
inventory=./k8s_hosts
`
### Jump host configuration from inventory
`
[all:vars]
ansible_ssh_common_args =  '-o ProxyCommand="ssh -W %h:%p -q hungry@10.3.14.10"'
`

### Ansible debug information
Confirms that the config file is read
`

[2018-03-22 07:59] mkrizek commented on #37750
For the record, this is the PR fixing the issue: https://github.com/ansible/ansible/pull/30736, @abadger is this something you want for 2.4?

@greg-hellings Thanks for the bug report, do you think this can be closed then?

[2018-03-22 08:26] zwindler commented on #36093
Hello,
Have you had time to see it ? Do you need more information on my part ?
Regards

[2018-03-22 08:37] zwindler commented on #35094
We were about to upgrade from 3.6 to 3.7 before I hopefully saw this issue !

Could you please look into this?

[2018-03-22 08:40] daMupfel commented on #21890
Is there any update to this? I tried to figure out the current state but i could not find a conclusive answer.

This is still not working with 2.5.0rc3 as far as i can see?

[2018-03-22 09:01] jean-christophe-manciot commented on #37006
It turns out it is not an ansible issue, but rather a consequence of some incompatibility between some python pip modules. cf. "[ImportError: No module named ssl_match_hostname' upon 'import docker' in a Python script](https://github.com/docker/docker-py/issues/1502#issuecomment-374565304)".
You also need to use docker pip module instead of docker-py.

[2018-03-22 09:23] manicminer commented on #33659
@scottsb appears so, thanks!

[2018-03-22 09:38] dagwieers commented on #35665
Look at https://github.com/ansible-provisioning/ansible-provisioning for a small playbook that creates a custom ISO per target node with a custom templated kickstart file baked into the ISO (so you don't rely on a working network for stage 2).

This process works for every RHEL version, using a different kickstart template for each major release (e.g. to tweak the package list or use newer kicksta

[2018-03-22 09:42] dagwieers commented on #35665
That said, an OOB solution to read from and write to the console (like is possible with iLO, UCS, RSA, etc...) would be useful for automating certain things that are impossible to automate otherwise because the device is isolated, or the installation process is proprietary and interactive.

It would enable a vmware_expect module to interact with it (if it was console-based).

[2018-03-22 10:25] BondAnthony commented on #35986
@tobiastom this change will be included in version 2.5. It's currently in `ansible (2.5.0rc3)` do you mind if I close this issue?

[2018-03-22 10:36] pierreant-p commented on #20929
@willthames Yes, that's what I ended up doing.
Thanks all for the answers 👍

[2018-03-22 11:06] yuwzho commented on #37731
@zwindler You are right, for now, load balancer can be only created with public ip. I will add this feature request in my backlog. But looking into the SDK interface, I will modify the ansible parameter as following, you can find different in the `frontend_ip_configurations` field

Public IP version
[code]

Private IP version
[code]

[2018-03-22 11:17] #37562 closed, assigned to nobody

[2018-03-22 11:29] yuwzho commented on #37734
@zwindler Actually it is the network ip configurations, a nic can have mutil ipConfigurations. I will add a suboption `backend_ip_configurations` under the `backend_address_pools`. Together with the other issue you created #37731

[2018-03-22 11:31] yuwzho commented on #37701
duplication_of #37734

[2018-03-22 11:31] #37701 closed, assigned to nobody

[2018-03-22 11:39] zwindler commented on #37734
You are absolutely right, sorry for the confusion between ipConfigurations and nic.

Thanks!

[2018-03-22 12:00] MartinPotier commented on #18162
The [s3_sync module](https://docs.ansible.com/ansible/2.3/s3_sync_module.html) expects `/usr/bin/python` to exist too… It's really a bad asumption.

[code]

[2018-03-22 12:05] MartinPotier opened #37773 "`s3_sync` expects python to be in `/usr/bin/python`."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_sync

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
NixOS 18.03pre130932.cc4677c36ee (Impala)

##### SUMMARY
The [s3_sync module](https://docs.ansible.com/ansible/2.3/s3_sync_module.html) expects `/usr/bin/python` to exist too… It's really a bad asumption.

[code]

[2018-03-22 12:25] Jorge-Rodriguez commented on #22953
PR #18437 is being maintained and had been waiting for merge for years, but nobody cares to click the merge button. I'm kind of getting tired of waiting for someone to bother just a little, especially after countless rebases and repository changes.

[2018-03-22 13:08] tobiastom commented on #35986
@BondAnthony I did not open this issue, but I would not mind if you close it. :)

[2018-03-22 13:41] haught commented on #37758
So I can set the connect_timeout and command_timeout in ansible.cfg but that would apply to everything I would run.  If I set ANSIBLE_PERSISTENT_COMMAND_TIMEOUT in the environment in the playbook, it seems to be ignored.

[2018-03-22 14:17] abadger commented on #37750
It borders on being a feature but metalink is common enough that I'm
willing to consider it a bugfix.  We need to get it in soon though, as I'm
going to put out a for real, potential release candidate for 2.4.4 either
Friday or next week.  I'll still let changes into the 2.4 tree after that
but there might never be an actual 2.4.5 release that contains them.

On Thu, Mar 22, 2018, 12:59 AM Martin

[2018-03-22 14:29] skiedude commented on #37753
Alright been tinkering it with it, and still not having much success. Thanks for bearing with me. It says in that documentation to put that stuff in `/etc/ansible/openstack.yml` and I assume you then use that as the -i inventory.
[code]

[2018-03-22 14:34] nusenu commented on #21547
Since you did not explicitly mention it, just to be clear: Can you confirm that the 'lsb-release' package was **not** installed on your fresh minimal install and before you did run that ansible command?

My output for:
```ansible -v -b -K --become-method=su -m apt -a "name=lsb-release"   debian```

[code]

In `/var/log/apt/history.log` I see that `lsb-release` got installed due to dependencies of

[2018-03-22 14:35] sangdrax8 opened #37778 "apt upgrade when using present and a wildcard version"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When I use the apt module with "state: present" along with a name with version wildcard, the module is attempting to update when I wouldn't expect one to be needed.  I was using a version 5.3.5* and I would expect that this would ensure any version 5.

[2018-03-22 14:40] IPvSean opened #37779 "Document deprecation process"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
We need to document the Ansible deprecation process in docs.ansible.com.  We have a really good page on releases https://docs.ansible.com/ansible/latest/release_and_maintenance.html but nothing on deprecation.  Currently it is understood

[2018-03-22 14:51] orgito commented on #37758
I think the problem is with `paramiko`. I tried execute this command before using `netmiko` and it returns that same error.

[2018-03-22 14:56] horacimacias commented on #26108
not sure if this helps but as a workarround in my case I'm using "os_port" to create the port (with fixed_ips) and then use os_server with "nics:" passing the port-id.
Seems to be working for me, YMMV.

[2018-03-22 15:04] sbhimani-splunk commented on #25493
Hello,

this is the issue related to **facl** Remote machines which have not **facl** installed, the ansible playbook will be failed for such machines.

**facl** is for permission used in temp folder created by ansible 2.* on the remote machine.

facl = file access control lists

You can observe that the machine on which play is failing, **getfacl** and **setfacl** command won't work.

[2018-03-22 15:04] ryansb commented on #31532
Closed in #28506

[2018-03-22 15:04] #31532 closed, assigned to nobody

[2018-03-22 15:05] ryansb commented on #32520
Fixed in https://github.com/ansible/ansible/pull/32337

[2018-03-22 15:05] #32520 closed, assigned to nobody

[2018-03-22 15:18] varunchopra opened #37781 "template: mode doesn't set correct permissions"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7.4

##### SUMMARY
I'm using the template module to copy templates but the permissions aren't being set properly.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
0400 should've set: `-r--------.`
0644 should've set: `-rw-r--r--.`

##### ACTUAL R

[2018-03-22 15:22] sivel commented on #37781
There are some complex interactions going on between pyyaml/jinja2/python here that are causing your issues.

Quoting the mode should resolve your problems:

[code]

What is happening now:

1. pyyaml converts the octal to an int
2. That int is interpreted by jinja2 and ansible, and ultimately converted to a string
3. Python then assumes that string is an octal

We have plans to address this by all

[2018-03-22 15:22] #37781 closed, assigned to nobody

[2018-03-22 15:26] tgoetheyn commented on #37198
I had the same problem.
VmWare customization uses perl script, so make share perl is installed in the template

[2018-03-22 15:37] sivel commented on #37773
This is expected.  All modules are coded to use `/usr/bin/python` as their interpreter.  To support interpreters in other locations we have a specific mechanism for changing it by setting `ansible_python_interpreter` for the specific host.

See also: http://docs.ansible.com/ansible/latest/faq.html#how-do-i-handle-python-pathing-not-having-a-python-2-x-in-usr-bin-python-on-a-remote-machine

If you

[2018-03-22 15:37] #37773 closed, assigned to nobody

[2018-03-22 15:40] samdoran commented on #32503
I updated the tests to not use host vars with `import_X`. Once those tests are merged, we can close this as resolved since we have tests of the `inclued_role` use case brought up by this issue.

[2018-03-22 15:42] skiedude commented on #37753
Alright finally got this to work, I was doing things a bit backwards.

First off I had assumed incorrectly that plugins listed in the output of `ansible-doc -t inventory -l` meant they were enabled, I still needed to enable them in my ansible config.

Second was that the -i file.yaml I needed to point at the clouds.yaml and not the openstack.yml.

Works as expected now, thanks for working through

[2018-03-22 15:53] sivel commented on #37623
Groups are not first class citizens in ansible.  The host is the unique key, and we merge the values from groups down onto hosts during inventory parsing, which is completely independent from limits and targets.

As such, if you define the same ver in multiple groups that contain the same host, the variable from the last parsed group will win.

If you have further questions please stop by IRC or t

[2018-03-22 15:53] #37623 closed, assigned to nobody

[2018-03-22 15:54] skiedude commented on #37753
Hmm guess I'm not all the way done with this. I've vaulted the clouds.yaml and now getting a python exception:
[code]

[2018-03-22 15:55] sivel commented on #37633
I believe what you are looking for is:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-03-22 15:55] #37633 closed, assigned to nobody

[2018-03-22 15:56] sivel commented on #37682
Resolved by https://github.com/ansible/ansible/pull/37684

[2018-03-22 15:56] #37682 closed, assigned to nobody

[2018-03-22 15:58] sivel commented on #37685
Our current module guidelines prohibit generic API modules.  Please see (5) on http://docs.ansible.com/ansible/devel/dev_guide/developing_modules.html#should-you-develop-a-module

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2018-03-22 15:58] #37685 closed, assigned to nobody

[2018-03-22 16:04] bcoca commented on #37753
that looks like a bug in the plugin, its issuing an uncaught exception

[2018-03-22 16:04] sivel commented on #37702
The problem is with your expected status code.

[code]

You will need to update your `status_code` accordingly:

[code]

or
[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-03-22 16:04] #37702 closed, assigned to nobody

[2018-03-22 16:05] skiedude commented on #37753
Is this the right place to report that bug? or where should I head to bug report it

[2018-03-22 16:09] hughsaunders commented on #31116
I installed python3 via homebrew and this caused various problems with ansible.  After reading the comments above I thought I may have multiple versions installed. `pip freeze` only showed 2.4, I uninstalled it, then ran uninstall again and the second time it removed 2.2!

Next problem was that the python3 upgrade meant that `pip` defaulted to python3, so ansible was installed in python3's site pa

[2018-03-22 16:09] bcoca commented on #37753
New issue, this was a feature request and we already hijacked it ... tempted to just close as the feature already exists (aside from possible bug in plugin) and continue this conversation in irc/ML.

[2018-03-22 16:22] sivel commented on #37697
Some form of POC solution:

[code]

Will need further investigation.

[2018-03-22 16:27] #37753 closed, assigned to nobody

[2018-03-22 16:35] sivel commented on #37703
A little research has led me to understand that it will only search for lines matching the regex before the `before`, but if there are multiple lines that meet that same pattern, they all get replaced.

We likely need to track the specific line or complete match including the `before` and replace based on that.

[2018-03-22 16:35] Zophren commented on #22303
Hello,

Same problem with Ubuntu 16.04 for service td-agent/Fluent.

The workaround is to use "use: service"

`- name: Enable and start td-agent
  become: yes
  become_method: sudo
  service:
    name: td-agent
    enabled: yes
    state: started
    use: service`

It would be interesting to use systemctl and not service.

[2018-03-22 16:37] skiedude opened #37784 "Openstack Plugin failing when clouds.yaml is vaulted"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Openstack

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY) = [u'/Users/user/company/ansible/inventory']
DEFAULT_REMOTE_USER(/Users/user/.ansible.cfg) = root
HOST_KEY_CHECKING(/Users/user/.ansible.cfg) = False
INVENTORY_ENABLED(/Users/user/.ansible.cfg) = ['openstack']
##### OS / ENVIRONMENT

MacOS H

[2018-03-22 16:47] sivel commented on #37724
The `default` filter provided by jinja2 only works 1 level deep.  So on a variable like `hostvars[i].facter_system_uptime.days` it would only default the value if `days` was undefined, but error if `facter_system_uptime` was undefined.

You will need to provide default at each level that could be undefined:

[code]

or use something like:

[code]

If you have further questions please stop by IRC o

[2018-03-22 16:47] #37724 closed, assigned to nobody

[2018-03-22 17:34] #37111 closed, assigned to nobody

[2018-03-22 18:03] Akasurde commented on #37760
resolved_by_pr #37761

[2018-03-22 18:32] mkrizek commented on #21547
@nusenu okay, the `/var/log/apt/history.log` output reveals the problem. Your issue is fixed in https://github.com/ansible/ansible/commit/58261a42e9e0ada4e10b62d3f17d204b844a1be5 and should probably be in the `2.5.1` release. It's in the `devel` branch already. Thanks for all the provided info! I think this can be closed?

[2018-03-22 18:57] tsanthosh328 opened #37786 "Ansible tower setup takes more than 20 minutes to complete"
Hi guys, I was trying to install ansible tower and it takes more than 20min for me to finish. I'm running the **setup.sh** file from this http://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-latest.tar.gz

The task hangs for sometime at, "migrate the tower database schema". Is there any way to make the install fast?

[2018-03-22 19:07] sivel commented on #37786
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker, and let us explain our reasons for thinking this:

   * This repository is for the open source ansible project.

If you can stop by the tracker or forum for on

[2018-03-22 19:07] #37786 closed, assigned to nobody

[2018-03-22 19:15] #37003 closed, assigned to nobody

[2018-03-22 19:26] jhdulaney commented on #37757
Yes, changing only the locale on the remote system resolves the issue.  My laptop remains set to gd_GB

[2018-03-22 19:27] Exchizz opened #37787 "Role included from two roles in playbook, but is run with last variable twice."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True
RETRY_FILES_SAVE_PATH(/home/$USER/.ansible.cfg) = /tmp

##### OS / ENVIRONMENT

Ubuntu Xenial

##### SUMMARY

The playbook uses two roles(role1, role2). Both roles include "test"-role and set different values for the variable, debug_var.

[2018-03-22 19:31] flomedja opened #37789 "win_certificate_store does not allow certificate import from store in ansible 2.5.0rc3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_certificate_store
##### ANSIBLE VERSION

[code]

##### SUMMARY

I upload a certificate in LocalMachine Store with this code :

[code]
The certificate is effectively add in the LocalMachine\My store but when It came to bind the certificate with a site in IIS i got the following error :

**Failed to set new SSL certificate - A specified logo

[2018-03-22 19:39] thiagoalves commented on #21285
I am not sure whether the information below is useful, but I was able to make it work with hostvars:

      include_role:
        name: "{{ hostvars['localhost']['rolename] }}"
        tasks_from: taskname

I hope this is useful to someone else

[2018-03-22 20:02] jborean93 commented on #37789
I think the issue is that the IIS worker account is unable to see the private key that is stored by Windows. When we go to import a pfx certificate, we set the following https://msdn.microsoft.com/en-us/library/system.security.cryptography.x509certificates.x509keystorageflags.aspx?f=255&MSPPError=-2147217396 flags by default

* `DefaultKeySet`: Is controlled with `key_storage` but the default valu

[2018-03-22 20:06] StevenAndradeSonos opened #37790 "parents not working on second run in asa_config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

asa_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No result
##### OS / ENVIRONMENT

Linux neteng-build-tools 4.9.70-25.242.amzn1.x86_64 #1 SMP Wed Jan 3 05:36:22 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Cisco Adaptive Security Appliance Software Version 9.9(1)2
##### SUMMARY

Running playbook second time gives DNS already exists er

[2018-03-22 20:11] BondAnthony commented on #35986
@wolfthefallen have you been able to test the upcoming release version `ansible (2.5.0rc3)`?

[2018-03-22 20:15] #37779 closed, assigned to nobody

[2018-03-22 20:30] FloMedja commented on #37789
@jborean93 : I tred it with `key_storage: machine` but it don't work. Otherwise i have a hint to fix it . In win_certificate_store.ps1 code at line 44 we have something like this :
`$store_flags = $store_flags -bor [Enum]::Parse([System.Security.Cryptography.X509Certificates.X509KeyStorageFlags], "$($key_storage)KeySet")`
I suppose this ensure that the key is stored in the correct location dependi

[2018-03-22 20:36] ryansb commented on #32133
Should be resolved in https://github.com/ansible/ansible/pull/37740

[2018-03-22 20:38] jborean93 commented on #37789
Thanks for the confirmation, sounds like the enum parser I had is broken and I will raise a PR to fix that.

[2018-03-22 20:47] FloMedja commented on #37789
Thanks 👍

[2018-03-22 20:53] flomedja opened #37795 "win_iis_webbinding does not remove binding"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_iis_webbinding
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Running Ansible on ubuntu xenial 64bits and targeted a windows server core 2016 for deployment
##### SUMMARY

I Created a site in iss on port 80 with [win_iis_website](https://github.com/ansible/ansible/blob/v2.5.0rc3/lib/ansible/modules/windows/win_iis_website.ps1) :
[co

[2018-03-22 20:57] dyasny opened #37796 "ovirt_snapshots_facts module does not show nested attributes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt_snapshots_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

CentOS 7.4, Fedora27, oVirt 4.2.1

##### SUMMARY

In order to dig into https://engine.example.com/ovirt-engine/api/vms/VMUUID/snapshots/SNAPUUID/

[2018-03-22 21:10] ryansb commented on #36066
Another attempt at the fix for clienterror handling in #37356 should have fixed some of the older errors

[2018-03-22 21:21] viyh commented on #34049
+1

[2018-03-22 21:27] #37535 closed, assigned to bcoca

[2018-03-22 21:28] abadger commented on #34811
#35176 has been merged.  Closing this as fixed in devel.  I've also created a backport request: https://github.com/ansible/ansible/pull/37791 for it to be fixed in 2.5.

[2018-03-22 21:28] #34811 closed, assigned to nobody

[2018-03-22 21:50] StevenAndradeSonos commented on #37790
I found the error. Case sensitive mistake on my part. Closing this, sorry.

[2018-03-22 21:50] #37790 closed, assigned to nobody

[2018-03-22 21:56] #35893 closed, assigned to nobody

[2018-03-22 22:02] abadger commented on #35893
Merged to devel and a backport PR to 2.5 opened up https://github.com/ansible/ansible/pull/37802

[2018-03-22 22:02] abadger commented on #35893
Thanks!

[2018-03-22 22:09] freeseacher commented on #37224
bump

[2018-03-22 23:11] zikalino opened #37804 "New module azure_rm_resource_facts"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

Idea is to create **azure_rm_resource_facts** module.

Module would take following parameters:

- resource_id

or:

- resource_group
- resource_type
- resource_name

and return appropriate facts regarding given resource.

[2018-03-22 23:16] zikalino commented on #37804
@sivel how about this?

[2018-03-22 23:31] mattclay opened #37805 "Unstable integration test azure_rm_storageblob"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_storageblob integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_storageblob:

https://app.shippable.com/github/ansible/ansible/runs/58872/62/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pa

[2018-03-22 23:31] mattclay commented on #37805
/cc @nitzmahone @zikalino

[2018-03-22 23:32] mattclay commented on #37805
Another occurrence: https://app.shippable.com/github/ansible/ansible/runs/58872/63/tests

[2018-03-22 23:34] mattclay commented on #36083
Another failure: https://app.shippable.com/github/ansible/ansible/runs/58876/66/tests

[2018-03-22 23:35] mattclay commented on #36062
Another failure: https://app.shippable.com/github/ansible/ansible/runs/58876/66/tests

[2018-03-22 23:37] zikalino commented on #37805
@mattclay i have just noticed that :-(
i am disabling asserts in azureblob in this pr:

https://github.com/ansible/ansible/pull/37714

[2018-03-22 23:38] zikalino commented on #37805
when it passes test could we merge it?

[2018-03-22 23:59] nwsparks commented on #37795
Can you please fill out OS/Environment and output from actual results with -vvvv as it asks in the issue form?

I tested this and am unable to reproduce.

[2018-03-23 01:16] freeseacher commented on #37224
@nitzmahone What for are you releasing rc versions if release comes with introduced broken modules ?

[2018-03-23 01:24] zikalino commented on #37681
resolved_by_pr #37687

[2018-03-23 01:37] zsythink commented on #37703
Execute the following command in ansible host.
# ansible test70 -m replace -a 'path=/testdir/test after="eee" regexp="ccc" replace=666'
only the ccc after eee will become 666.
Not all ccc has become 666

[2018-03-23 01:53] talhajilal opened #37807 "vmware_guest num_cpu_cores_per_socket does not work"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-23 01:55] talhajilal commented on #37807
Hello Team ,

I am trying to create vm with vmware_guest module and using linux os template.

My syntax for hardware section is ,

hardware:
      memory_mb: "{{ ram_size }}"
      num_cpus: "{{ cpu_nums }}"
      num_cpu_cores_per_socket: 2

Issue : CPU sockets are ok but virtual CPU does not take any change ?

############## Debug log ######

ok: [kuber-n-03] => {
    "deploy": {
        "change

[2018-03-23 01:56] talhajilal commented on #37807
google discussion link :   https://groups.google.com/forum/#!topic/ansible-project/jnf9cpT27U0

[2018-03-23 02:07] schallee opened #37808 "interfaces_file doesn't understand source-directory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

interfaces_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_CONTROL_PATH_DIR(/home/schallee/devel/ansible/src/ansible.cfg) = ~/.ssh/controls
CACHE_PLUGIN(/home/schallee/devel/ansible/src/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/home/schallee/devel/ansible/src/ansible.cfg) = cache
CACHE_PLUGIN_TIMEOUT(/home/schallee

[2018-03-23 02:21] jborean93 commented on #37789
@FloMedja turns out the logic on that line was ok, the issue lay with the part that parsed the value. I've raised a PR to fix it and it would be great if you could test it out https://github.com/ansible/ansible/pull/37810.

[2018-03-23 02:38] zikalino commented on #37681
bot_status

[2018-03-23 02:44] zikalino commented on #37681
bot_status

[2018-03-23 02:49] zikalino commented on #37681
resolved_by_pr #37687

[2018-03-23 02:49] #37681 closed, assigned to nobody

[2018-03-23 02:54] fabland opened #37811 "vca_vapp does not work with current pyvcloud module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vca_vapp

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian
pyvcloud==19.2.0

##### SUMMARY
vca_vapp seems to rely on older version of pyvcloud. vcloudair module seems to be obsolete. From source lib/ansible/module_utils/vca.py
[code]
If older pyvcloud module is required module documentation should specify which on

[2018-03-23 03:39] yuwzho commented on #36677
@joaocc Sorry for the late response, from version 2.5, sure you can get the field `managed_by` using `azure_rm_managed_disk_facts`, and then put it in the `azure_rm_managed_disk`.

BTW, you raise a good point, we should consider that new added option with nullable value should not introduce breaking change for existing playbook.

[2018-03-23 04:03] jborean93 commented on #37712
This isn't a problem with Ansible but just just generic quoting and argument escaping rules that you need to be aware of. We've created a guide to help people with this [here](http://docs.ansible.com/ansible/devel/user_guide/windows_usage.html#path-formatting-for-windows). Using the command line to specify paths are even more complex as it has a few different rules you need to be aware off. For th

[2018-03-23 04:03] #37712 closed, assigned to nobody

[2018-03-23 04:15] bingoarun commented on #32927
@gangefors, Is this a duplicate of https://github.com/ansible/ansible/issues/32926  which is also raised by you?
Unless it is any different, you can please close this bug. We will track the updates in #32976.

[2018-03-23 04:30] jborean93 commented on #37683
Just to add to this, it seems like Heimdal (MacOS) defaults to getting a forward-able ticket even if you don't specify `-f` in kinit so when trying your examples it worked there. I then tried on an MIT krb5 and was able to replicate the issue. Will have a PR to fix this sometime shortly.

[2018-03-23 05:01] jborean93 commented on #37683
@mponton here is the PR that should fix this for you. I tested it on a Fedora host and credential delegation started working for me there https://github.com/ansible/ansible/pull/37815.

[2018-03-23 05:05] Alex2357 commented on #19525
I have same problem on Ubuntu 16.04 and Ansible 2.4.3.
If I run playbook on a fresh Ubuntu then everything works just fine.

[2018-03-23 06:00] gangefors commented on #32927
It might be that the code that needs updating is the same for both issues.

This one is when checking that a network is absent. The other one is when trying to create a network.

[2018-03-23 06:11] erik-saarts commented on #37712
I see! I should have realized that myself, but it's too late now! As a newcomer to ansible I have only gone through minimal required amount of documentation for my needs and this guide obviously I did not read. I did read http://docs.ansible.com/ansible/latest/setup_module.html though, and last example there is very similar to what I had problem with (# ansible windows -m setup -a "fact_path='c:\c

[2018-03-23 07:11] mkrizek commented on #37807
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-23 07:11] #37807 closed, assigned to nobody

[2018-03-23 07:43] dharmabumstead opened #37817 "Rewrite playbooks_vars topic"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

documentation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-23 07:48] MartinPotier commented on #37773
Hey, thank you for the quick answer, I'll have a look at this today.

[2018-03-23 07:51] #37624 closed, assigned to nobody

[2018-03-23 08:44] hryamzik commented on #37808
resolved_by_pr #37809.

[2018-03-23 08:52] cahlchang commented on #20395
Certainly, the RDS tagging module is useful.
And because different is RDS and EC2 in the tag rules,
we will need a new module.

Note:
 EC2 tags based on the resource name
 RDS tags based on arn etc.

I made the rds-tag module based on the ec2-tag module.

[2018-03-23 09:08] znirp commented on #37593
Ok, looks like I have found the issue.

The issue is based on my structure I generate.
Actually I've got different hostgroups based on stages. In addition to that, I generate an extra group, where all hosts of all stages are member of. E.g.:

[code]

I just changed the vars in the stage part but not in the "overall group". And my tests are showing me, that only the vars of the overall group are us

[2018-03-23 09:16] nusenu commented on #21547
I'd prefer tickets to be closed after the fix reached a release but I have no strong opinion on that.

[2018-03-23 09:19] mkrizek commented on #21547
@nusenu It's in the queue - https://github.com/ansible/ansible/projects/17#card-8010259 :) Thanks again!

[2018-03-23 09:19] #21547 closed, assigned to nobody

[2018-03-23 09:39] mkrizek commented on #19102
@Knio I am curious as to what is a real use case for installing `htop=1.*.2*`?

needs_info

[2018-03-23 10:37] #37693 closed, assigned to nobody

[2018-03-23 10:56] Mebus commented on #4870
+1 :blush:

[2018-03-23 11:00] resmo opened #37824 "cloudstack: do not rely on APIs list queries for names"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cs_configuration
cloudstack

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

NA

##### SUMMARY

cloudstack may use %name% in query which may find more results as expected.

- Configurations (I was about to submit a fix)
- Counters
- PhysicalNetwork (PR #25647 should be affected)
- OsCategories

Also see #37783

[2018-03-23 11:23] #28907 closed, assigned to nobody

[2018-03-23 12:16] ikelos opened #37826 "vars_plugins cannot maintain state"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vars_plugins

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /tmp/ansible.log

##### SUMMARY

Using the new vars_plugin 2.4 infrastructure, each plugin is run separately for each host/group, meaning it's impossible to maintain state across the run.  This is troublesome for

[2018-03-23 12:46] mmolinac opened #37827 "Show more information in returned value of sl_vm"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

sl_vm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
allow_world_readable_tmpfiles=True
host_key_checking = False
retry_files_enabled = False
[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
control_path_dir = /tmp/.ansible/cp

##### OS / ENVIRONMENT

Ansible running on MacOS High Sierra 10.13.3, Da

[2018-03-23 12:57] mkrizek commented on #37826
cc @bcoca

[2018-03-23 13:08] s-hertel commented on #37419
@ybalt The error message is unhelpful. With the PR above you will at least get a Forbidden/403 error to indicate you lack permission. The reason you're getting this error is because the bucket cannot be removed. Bucket names are in a global namespace. Either someone else owns the bucket, or it is in a different region. As of https://github.com/boto/botocore/pull/936 (which you can use with @julien

[2018-03-23 13:27] s-hertel commented on #35595
Hi @strk, I don't believe there are any walrus users working on the S3 modules, but pull requests to fix it are very welcome. Do mind testing https://github.com/ansible/ansible/pull/37189 to see if that works?

[2018-03-23 13:28] bmv126 opened #37833 "Ansible-playbook takes pem key from the cache instead of the key passed"
##### SUMMARY
I have a target node which can be accessed by a pem key (correct_key.pem).

Command used:
ansible-playbook deploy.yml --private-key=correct_key.pem

With the above command the playbook runs without any issue.

Now if I run the same playbook with invalid pem key, then also the playbook is running successfully.
ansible-playbook deploy.yml --private-key=wrong_key.pem

##### EXPECTED RES

[2018-03-23 13:35] bcoca commented on #37826
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2018-03-23 13:35] #37826 closed, assigned to nobody

[2018-03-23 13:35] maxamillion commented on #29534
I discussed this with the team and it turns out there are historic reasons that the query is written as it is today and it was on purpose. It turns out that there are inconsistencies in the yum API between versions as well as inconsistencies caused by the data returned by the API depending on the yum plugins installed on the remote system and it was deemed unrealistic to attempt to support the ent

[2018-03-23 13:35] #29534 closed, assigned to nobody

[2018-03-23 13:38] ikelos commented on #37826
So how are plugin authors supposed to integrate external tools (that might require input, such as passwords) in order to populate variables required by the plugin?  Would a lookup plugin be a better method for achieving this goal, and if so are lookup plugins allowed to prompt for input?

[2018-03-23 13:40] s-hertel commented on #33248
This would make sense to me. It is stableinterface and a supported module though, so I'm not sure if this is possible.

[2018-03-23 13:43] ikelos commented on #37826
I marked this as an issue because it appears to have been a regression from previously working behaviour in ansible-2.3.  It also doesn't just affect plugins that prompt, the new vars_plugin mechanism prevents the programmatic population/modification of variables based on a global view of all the hosts being processed in a particular run (which may be extremely desirable given large/complex estate

[2018-03-23 13:43] bcoca commented on #37826
no, you can either use the config system, or in the case of lookups, the user can pass the info as a parameter to the lookup itself (see existing ones).

You CAN prompt in your play, there are currently 2 ways to do this, and assign the input to a specific variable, then use that variable for your plugin.

[2018-03-23 13:49] ikelos commented on #37826
Ah, ok, thanks very much, so it has to go into ansible, then get pulled back out for use in a plugin.  It would be quite useful for plugin developers for this to be clearly documented as the intended mechanism for accepting user input.

[2018-03-23 13:53] bcoca commented on #37826
I'm working on updating the plugin docs, specifically to show the new 'config' framework, I had not considered enumerating the ways you cannot use plugins, but it might be worth pointing out their 'execution context' since anything post-fork will have different limitations than those running in the main process.

That said, I would consider adding a 'prompt' source for configuration, I'm not sure

[2018-03-23 13:56] ReinerNippes opened #37834 "ec2_snapshot_copy: Failed AttributeError: 'WaiterError' object has no attribute 'reason'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_snapshot_copy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7
##### SUMMARY

While creating crypted EC2 snapshots from a 2TB ESB we receive the error message below.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Excpected result would be a crypted snapshot.
##### ACTUAL RESULTS

The play fai

[2018-03-23 14:03] colin-nolan commented on #26518
bug_resolved

[2018-03-23 14:06] danielkza commented on #22025
Any progress on this? What decision has been made regarding 2.5? I'm again severely hampered in my work because I can't upgrade to 2.4 to use the new vars plugins due to this bug. Is the behavior going to be kept to maintain compat. with 2.4, but then break everything for everyone running *every* older version? Or is this bug just being ignore for some reason I do not understand?

The existence of

[2018-03-23 14:07] aturetta commented on #14408
in my case the error was the result of the key dependencies in my role's metadata/main.yml
fixed by adding
`dependencies: []`

[2018-03-23 14:09] #26518 closed, assigned to nobody

[2018-03-23 14:15] resmo commented on #37824
!component contrib/inventory/cloudstack.py

[2018-03-23 14:16] mgedmin opened #37836 "'name' is a reserved variable name in Ansible 2.5 and shouldn't be used in examples"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY

Ansible 2.5 no longer allows you to specify a role parameter named `name`, which is used [in an example in the documentation](http://docs.ansible.com/ansible/devel/user_guide/playbooks_variables.html#variable-examples):

![ekrano nuo

[2018-03-23 14:20] mgedmin opened #37838 "Ansible 2.5 documentation doesn't fit in a browser window narrower than 1366px"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
css

##### ANSIBLE VERSION
2.5

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
Documentation pages for Ansible 2.5 do not fit horizontally if the browser window is narrower than 1366px.

##### STEPS TO REPRODUCE
- Resize browser window to something like 1280x1080
- Open http://docs.ansible.com/ansible/devel/user_gui

[2018-03-23 14:24] colin-nolan commented on #37224
I don't think this issue is actually related to CAS operations - if you just want to read a value, CAS is irrelevant. The problem is that you're trying to retrieve a value (which is a reasonable thing to want to do!) but such an operation was not actually supported.

In #37837 I've added support to retrieve values. Does this make the module work as you expect?

[2018-03-23 14:29] sm4rk0 opened #37839 "profile_tasks causes KeyError: 'sort_order'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
profile_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
Running any playbook causes this error:

[code]
##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2018-03-23 14:43] ThomasSteinbach opened #37840 "Ansible crashes on special characters in become and vault password"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

Ansible core under Python 3

##### SUMMARY

When starting `ansible-playbook` with entering a become/vault password containing special characters (e.g. '§'), it will instantly crash with an error.

It looks like this:

[code]

The error seems to depend on Ansible in conjunction with Python 3. With Python in version 2 the error does not occur.

###

[2018-03-23 14:49] khelkun opened #37841 "Latest Documentation URL Playbook Special Topics 404"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Playbook Special Topics

##### ANSIBLE VERSION
latest - 2.4

##### SUMMARY
From http://docs.ansible.com/ansible/latest/playbooks_special_topics.html# the sub-topics of this section point to 404 not found URLs

However from http://docs.ansible.com/ansible/2.4/playbooks_special_topics.html# those same sub-topics are available

##### STEP

[2018-03-23 14:58] AnandTella opened #37842 "unarchive module with exclude in wildcard doesn't seem to work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

I tried to unarchive a test.tar file which has the structure as below
[code]

I tried to filter out the uat folder using the wild card exclude=not*

as below and folder notwanted is ext

[2018-03-23 15:19] padraiglennon commented on #22568
Would be great to have a fix for this

[2018-03-23 15:28] maxamillion commented on #29622
Hello, thank you for the issue report! I'm currently going through and cleaning up the old yum bug backlog and this is a fairly old bug report that I'll assume fell through the cracks, my apologies. I was curious if this is still a bug given it's age and the version of Ansible it was reported against?

needs_info

[2018-03-23 15:31] pilou- commented on #22568
I plan to update #30828 using `postgresql_user` instead of `postgresql_ext` ([see](https://github.com/ansible/ansible/pull/26737#issuecomment-331853349)).

[2018-03-23 15:39] maxamillion commented on #30139
The PR that @mkrizek submitted and @santosh0705 confirmed fixed the issue has been merged. Closing this Issue Ticket.

[2018-03-23 15:39] #30139 closed, assigned to nobody

[2018-03-23 15:40] phemmer commented on #37841
Tons of docs are broken. Nearly every doc link under "popular topics" on http://docs.ansible.com/ is dead.

[2018-03-23 15:42] phemmer commented on #37841
The 2.3 docs seem to be intact. If you don't need anything recent you can use that: http://docs.ansible.com/ansible/2.3/index.html

[2018-03-23 15:44] khelkun commented on #37841
@phemmer indeed all the doc seems available from http://docs.ansible.com/ansible/2.4/
I'll leave the issue open but it's not very important

[2018-03-23 15:47] maxamillion commented on #34780
Thank you for reporting this issue, I'm happy to look into fixing this but I don't see any error reported in the Issue Ticket template above and I'm unable to reproduce using the steps and play task you provided. If you wouldn't mind providing me with the error output (preferably when running ansible with `-vvv`), it would be appreciated.

needs_info

[2018-03-23 16:10] ilyakamens commented on #35834
Would love for this to be fixed.

[2018-03-23 16:25] dchsueh commented on #22169
The [first comment](https://github.com/ansible/ansible/issues/22169#issuecomment-284537676)'s cited page is no longer available, and the quote only discusses dependency roles.

The doc page is https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html now, and now says:

[Role Duplication and Execution](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.htm

[2018-03-23 16:43] schallee opened #37846 "interfaces_file fails to parse allow-* including allow-hotplug"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

interfaces_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_CONTROL_PATH_DIR(/home/schallee/devel/ansible/src/ansible.cfg) = ~/.ssh/controls
CACHE_PLUGIN(/home/schallee/devel/ansible/src/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/home/schallee/devel/ansible/src/ansible.cfg) = cache
CACHE_PLUGIN_TIMEOUT(/home/schallee

[2018-03-23 16:45] schallee commented on #37808
Note, that as I just discovered, the sample given will also not be parsable after the fix. See issue #37846.

Remove the allow-hotplug line to test:

[code]

[2018-03-23 16:53] frogstarr78 opened #37848 "Presence of tuned-profiles-cloudlinux causes incorrect ansible_virtualization_type"
The code in the stable 2.4 branch appears to be the same, in this respect, as the version I'm running. The issue is with the Virtualization Fact reporting

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg w/out comments
[code]

##### OS / ENVIRONMENT
Controlling OS:
Linux scott-vivio2.viviotech.net

[2018-03-23 16:58] nkakouros opened #37849 "Inconsistent conditional include_tasks behavior with variable in path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default config

##### OS / ENVIRONMENT

Arch linux latest

##### SUMMARY

If `include_tasks:` contains a variable in the path, then the variable will be evaluated even if the conditional on `include_tasks:` fails.

##### STEPS TO REPRODUCE

`playbook.yml`
[code]

`play1.yml`
[c

[2018-03-23 17:18] mgedmin opened #37850 "Fact gathering fails with if dmidecode is not present"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 17.10 on the controller
Ubuntu 16.04 LTS on the target

##### SUMMARY

Fact gathering fails with

[code]

The machine in question is a Scaleway BareMetal C1 ARM server, upgraded from Ubuntu 14.04 LTS to 16.04 LTS.

##### STEPS TO REPRODUCE

`ansible

[2018-03-23 18:00] bcoca commented on #22025
@danielkza unsure why this is an 2.3/2.4 issue for you when it started affecting 2.2, are you sure it is not a different issue?

[2018-03-23 18:04] bcoca commented on #22025
as for solving THIS issue, i'm still not sure what the issues were, i was pinged out of band when others were already looking into it, I'll add this to the core meeting to see if we can get more context on what is going on here.

[2018-03-23 18:08] tedder commented on #37773
all(?) ansible modules have the /usr/bin/python location.

stackoverflow may be a better place for your question- but you'll need to post an example and the error given.

[code]

[2018-03-23 18:10] bcoca commented on #22025
fyi, i can confirm that the code and docs don't match, but that has been true for well before 2.4

[2018-03-23 18:21] hryamzik commented on #37846
resolved_by_pr #37847

[2018-03-23 18:29] freeseacher commented on #37224
Nope.
debug result
[code]

[2018-03-23 19:43] samdoran commented on #32503
Closing now that we have integration tests for this use case.

[2018-03-23 19:43] #32503 closed, assigned to samdoran

[2018-03-23 19:44] bcoca commented on #34974
coincidentally i was just updating those docs #37844

[2018-03-23 20:28] FloMedja commented on #37789
@jborean93 Everything work thank you :)

[2018-03-23 20:35] akloeber opened #37856 "Ansible 2.5.0: jinja2 abs-filter triggers AttributeError and deprecation warning"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Templating (jinja2)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS 10.13.3

##### SUMMARY
Starting with Ansible v2.5.0 jinja2 `abs`-math filter triggers `AttributeError: 'int' object has no attribute 'startswith'` and also prints _"[DEPRECATION WARNING]: Using tests as filters is deprecated. Instead

[2018-03-23 20:35] amarao commented on #36695
Thank you such deep bugreport with explanation.

I found a workaround. `ln -s ~ '/~'` inside a container allows to proceed.

Following commands allows to work with copy/template when lxc connector is used:

[code]
(Replace `staging` for you inventory, and `amarao` for your username).

[2018-03-23 20:38] maxamillion commented on #35672
Hello and thank you for the report, I'm going to be looking into this but was curious if you wouldn't mind posting the contents of your `/etc/yum.conf` file, any files found in `/etc/yum/protected.d/`, and the `.repo` file that provides the `kernel-ml`  from the remote system?

I'd like to rule out the possibility of a yum configuration issue before attempting to triage the Ansible module further

[2018-03-23 20:40] FloMedja commented on #37795
@nwsparks  Sorry i add some details to the summary

[2018-03-23 21:00] sivel commented on #37856
I have a fix for this, and will get it pushed up soon.

[2018-03-23 21:02] mponton commented on #37683
@jborean93 thanks for such a quick PR! I installed the patch on Ansible 2.5.0 in a Python venv on the same RHEL system I had the above issue and things worked just fine without the kinit wrapper. I can confirm this works perfectly as far as I can tell. Now I just have to wait for the next official RH release to use it in production :smile:

Thanks a lot for the help with this and you work on the p

[2018-03-23 21:02] #37683 closed, assigned to nobody

[2018-03-23 21:17] voronaam commented on #37850
Also affects us. Another workaround is to go back to 2.4.3.0 version

[2018-03-23 21:25] shibumi commented on #15321
I can confirm this issue. I have a container running with openssh-server on it.
But somehow ansible refuses to connect to it and just says:"unreachable":
**hosts**-file:
[code]

Ping seem to work:
[code]

ipv4 seems to work as well:
[code]

Normal connect works too:
[code]

trying to ansible to it:
[code]

[2018-03-23 21:27] freeseacher commented on #37224
if not module.params.get('value'):
            get_value(module)
        else:
            add_value(module)

[2018-03-23 21:27] freeseacher commented on #37224
[code]
went to add_value(module). cause of wrong check with NOT_SET object

[2018-03-23 21:41] freeseacher opened #37857 "become and include_tasks"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-23 21:42] #37857 closed, assigned to nobody

[2018-03-23 21:43] freeseacher commented on #37857
please delete it. created by cat :)

[2018-03-23 21:48] freeseacher opened #37859 "ansible 2.5.0 include_tasks and become"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
become not propgated to included tasks

##### STEPS TO REPRODUCE

[code]
in pre role

[code]
and task
[code]

##### EXPECTED RESULTS
become propgated to included tasks

##### ACTUAL RESULTS
got

[code]

[2018-03-23 22:01] freeseacher commented on #37856
@sivel i got
[code]
do i need to open separate issue ?

[2018-03-23 22:02] maxamillion commented on #37473
@Mixer9 What ended up in `/var/log/up2date` on the remote system as a result of this? Any more information there about the failed cert verification?

[2018-03-23 22:33] freeseacher commented on #37859
wow.
according to https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.5.html
that is not a bug. but new expected behavior

such brand new world.

[2018-03-23 22:33] #37859 closed, assigned to nobody

[2018-03-23 22:45] mattclay commented on #36066
Disabled test in https://github.com/ansible/ansible/commit/97942a588a63e6c1874938094b672e18e3b2f3b3

[2018-03-23 22:51] freeseacher commented on #37838
got the same on 2880x1620. please make it scale
![default](https://user-images.githubusercontent.com/289277/37856512-b3706c06-2eec-11e8-9bb6-ee590779238e.png)

[2018-03-23 23:12] dharmabumstead commented on #37838
This doesn't seem to be an issue on other doc pages; just this particular page. I am investigating.

[2018-03-23 23:17] #37789 closed, assigned to nobody

[2018-03-23 23:31] freeseacher commented on #37838
same on
http://docs.ansible.com/ansible/devel/user_guide/intro_inventory.html

[2018-03-23 23:47] mattclay commented on #36083
Disabled test in https://github.com/ansible/ansible/commit/af15a46f20b152a80a6d714bd519950d6fd9ab0c

[2018-03-23 23:50] mattclay commented on #36068
Disabled test in https://github.com/ansible/ansible/commit/c7b6a73d414a492345c96b7b201feb8af44ae763

[2018-03-24 01:15] dharmabumstead commented on #37838
The above PRs are in devel and fix the issue. We should have these cherry picked into 2.5-stable soon.

[2018-03-24 01:55] smuthali opened #37865 "Ansible 2.5 include_role - pass variables"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_roles directive
#####  VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Invoking ``` include_role```  by passing vars is completely ignored in Ansible 2.5

[code]

[2018-03-24 01:55] smuthali commented on #37865
This looks to be related to: https://github.com/ansible/ansible/issues/34447

[2018-03-24 01:58] smuthali commented on #37865
Ansible run output
[code]

[2018-03-24 03:49] dharmabumstead commented on #37838
<img width="929" alt="screen shot 2018-03-23 at 8 47 01 pm" src="https://user-images.githubusercontent.com/1683045/37860059-814a7958-2edb-11e8-8c8d-743a9151c91a.png">

[2018-03-24 03:51] dharmabumstead commented on #37838
<img width="932" alt="screen shot 2018-03-23 at 8 50 19 pm" src="https://user-images.githubusercontent.com/1683045/37860095-e48b5050-2edb-11e8-8fe8-f2b3515c3fb5.png">

[2018-03-24 04:47] gundalow opened #37866 "Network FAQ: Performance considerations"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### SUMMARY
There are various things that may been to be considered when thinking about performance. We should document them.

* strategy free
* show config
* difference in load on the Ansible Controller when using network modules vs Linux modules, inc `--forks` considerations

[2018-03-24 04:48] gundalow commented on #37866
Welcome comments and ideas from Community & field team, this will be an ongoing activity.

[2018-03-24 06:23] robertdebock opened #37867 "openssl_certificate on Ansible 2.5 fails: 'NoneType' object has no attribute 'get_notBefore'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_certificate

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Multiple:
- archlinux
- alpine
- centos
- debian
- fedora
- opensuse
- ubuntu

##### SUMMARY
When using openssl_certificate in Ansible 2.5, an error occurs:
[code]

##### STEPS TO REPRODUCE
See [the code](https://github.com/robertdebock/ansible-

[2018-03-24 08:32] hiyokotaisa commented on #35869
I replicated this issue on ansible 2.5 environment and there are same issues on vyos, eos and iosxr.
It looks net_ping module is failed to call device-specific ping modules but not failed on result.

Here is my environment.
[code]
Here is the result of net_ping with -vvvvv option.
[code]
I also do tcpdump and comfirmed there is no icmp packet received on destination server.

[2018-03-24 09:02] colin-nolan commented on #37224
@freeseacher I don't understand where the conditional you show above is coming from? In [the PR the conditional looks like this](https://github.com/wtsi-hgi/ansible/blob/cfa1b654f225498cd59df1edbea0e8229009a915/lib/ansible/modules/clustering/consul_kv.py#L168-L171):
[code]

Is there some other code that I'm missing here?

[2018-03-24 11:34] bentcoder opened #37870 "Curl command with apt-key add -"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
"get_url" and "uri"

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I don't have anything much to show. I was just running a single line as shown below.

##### OS / ENVIRONMENT
Mac OS

##### SUMMARY
Read section below please.

##### STEPS TO REPRODUCE
[code]

As you can see below, the `WARNING` message tells us to use either "get_ur

[2018-03-24 12:41] freeseacher commented on #37224
nope.
i just replace it with
            value=dict(type='str', default=None),
and check as above.
and it works.

[2018-03-24 13:16] robertdebock commented on #37870
Please have a look at the [apt-key](http://docs.ansible.com/ansible/latest/apt_key_module.html) module. I think it would help you achieve your goal.

If so; please close this issue.

[2018-03-24 13:29] BentCoder commented on #37870
I already use "apt-key" but `curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -` is a single line command and need running together unless Ansible provides a way to run them separately.

- `curl ....` - fetches something from given uri
- `|` - takes the output of one command (curl in this case) and runs it into the input of another (the one below)
- `apt-key add -` - adds a pa

[2018-03-24 13:52] larsks commented on #17086
Hey folks, I've submitted a patch that addresses this issue. Please take a look at #37871 and let me know what you think.

This patch backports cleanly against 2.4.3.0, which is what I'm running locally.

[2018-03-24 14:12] IvanovOleg opened #37872 "Ansible 2.5: azure_rm_networkinterface ignores security_group_name parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7
##### SUMMARY

The azure_rm_networkinterface module ignores security_group_name parameter and creates a security group with a default name.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The azure_rm_networkinterface modul

[2018-03-24 14:18] mauricemeyer commented on #37870
@BentCoder You don't need to run them seperately if you use the [apt-key](http://docs.ansible.com/ansible/latest/apt_key_module.html) module, as @robertdebock already said:

[code]

[2018-03-24 14:40] IvanovOleg opened #37873 "Ansible 2.5: azure_rm_networkinterface strange omit behavior"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_networkinterface
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

NIC has been created
##### ACTUAL RESULTS

`fatal: [k8s-agentpool1-1 -> localhost]: FAILED! => {"changed": false, "msg": "Error creating __omit_place_holder__cfb

[2018-03-24 14:55] IvanovOleg commented on #37873
If I remove `public_ip_address_name: "{{ public_ip | ternary(public_ip_name, omit) }}"` I get:
`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: msrest.exceptions.ValidationError: Parameter 'public_ip_address_name' can not be None. ` that can be None according to the documentation.

[2018-03-24 15:12] BentCoder commented on #37870
Worked perfectly fine. Thanks guys.

[2018-03-24 15:12] #37870 closed, assigned to nobody

[2018-03-24 17:19] billyblue52 opened #37874 "IOS Config - \ No newline at end of file (compare running v saved config)"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
no newline at the end of file, the documentation doesn't say how the master.cfg file should be formatted.

##### STEPS TO REPRODUCE

[code]

[2018-03-24 17:20] anoother opened #37875 "File mode being set incorrectly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Client: Ubuntu 16.04
Affected host: FreeBSD 11.0-RELEASE-p1

##### SUMMARY

Octal file mode of '1777' on a directory is being applied incorrectly

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected perms, as applied manually:
[code]

#####

[2018-03-24 17:28] anoother commented on #37875
Looks like somehow `mode: 1777` is being transposed into `"mode": "03361"`

Wrapping the mode in double quotes makes things work as expected:
[code]

[2018-03-24 17:59] mattclay commented on #37383
Additional failure: https://app.shippable.com/github/ansible/ansible/runs/59060/66/tests

This one appears to have a different failure than the others:

[2018-03-24 18:00] mattclay commented on #37383
Additional failure: https://app.shippable.com/github/ansible/ansible/runs/59060/67/tests

[2018-03-24 18:01] mattclay commented on #37383
Disabled test in https://github.com/ansible/ansible/commit/d502745a4e2184b566a9c150c5acb37827861b21

[2018-03-24 18:16] trondhindenes opened #37876 "Improve error msg for legacy windows modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
windows

##### ANSIBLE VERSION

[code]

##### SUMMARY
From Ansible 2.4.0, the powershell "result" object is changed from a PsCustomObject into a Hashtable. That's in general fine, but it causes some very nasty error messages that are hard to figure out, and could be improved upon

##### STEPS TO REPRODUCE
call a module which outputs a PsCustomOb

[2018-03-24 18:18] eucariot opened #37878 "ce_config uses mmi-mode on device"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ce_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

MacOS 10.12
Cloud Engine 8850.

##### SUMMARY

Module ce_config runs "mmi-mode enable" at the very beginning which deploy following command list without explicitly commiting at the end.
There are two problems:

1. In mmi-mode device couldn't depl

[2018-03-24 18:20] Spredzy commented on #37867
Hi @robertdebock thanks for reporting this issue.

I have a hard time reproducing locally. I've tested on both centos7/ubuntu artful and python2/python3. I got a succesful run all the time

[code]

Can you spot what's different between my env and the one from travis-ci ? I'll be happy to look into this bug.

For some reason I don't know yet it seems that this line https://github.com/ansible/ansibl

[2018-03-24 18:40] rgaufman commented on #26670
I'm getting this, any ideas?<

[code]

[2018-03-24 19:22] tchia04 opened #37879 "Enhance the win_dns_client windows module to support adding DNS suffix"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-24 19:34] grantcurell commented on #4870
+1

[2018-03-24 19:51] sivel commented on #37856
@freeseacher No, your issue is the same.

[2018-03-24 19:54] dagwieers commented on #37876
It would help if we knew what you were actually running. A module ? A script ?

The component name states "Windows", but that doesn't give us any clue either.

[2018-03-24 20:17] dagwieers commented on #35665
Creating a bootable ISO image (with just an isolinux.bin, isolinux.cfg, vmlinuz, initrd and ks.cfg) takes maybe 5 seconds and 80MB. That's not a real problem.

But your idea is very useful. I would create a module out of your script, just like we made an iso_extract.
Maybe a pure-python iso_extract makes more sense now.

The only problem I can see is that this works for VMware because you can crea

[2018-03-24 21:02] phemmer commented on #35665
Well for me the [ISO I would have to modify](http://cloud.centos.org/centos/7/atomic/images/CentOS-Atomic-Host-7-Installer.iso) is about 1gb.

What about a floppy? I would guess that under the hood anaconda is just looking for `/dev/disk/by-label/OEMDRV`. So it could be provided by anything as long as the label matches.

I dunno. My python is really weak. However looking at `iso_extract` as an exa

[2018-03-24 21:13] trondhindenes opened #37882 "win_dsc in Ansible 2.5.0 breaks in certain situations"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_Dsc
##### ANSIBLE VERSION
[code]

##### SUMMARY
During upgrade testing I noticed that win_dsc in Ansible 2.5.0 fails with the following message in some situations:
`Failed to serialize properties into CimInstance`. This is not the case when running a legacy (the originally merged) version.

##### STEPS TO REPRODUCE
Create a win_dsc task with

[2018-03-24 21:16] trondhindenes commented on #37882
Here's the exact task for testing:
[code]

[2018-03-24 22:48] jborean93 commented on #37882
We did change how CimInstance properties are marshaled from before for a few reasons;

* The previous state used some custom string format where you continued to define the CimInstance as you would in DSC and not as a plain dict which was more Ansible like
* We couldn't find any examples of it in action apart from the original PR that added it in your original repo
* We decided native list/dicts w

[2018-03-25 00:15] trondhindenes commented on #37882
Gotcha, thanks. Gut feeling is that the problem is in one of the "time" attributes, as the rest is essentially simple strings and bools. I'll have a closer look at it too.

[2018-03-25 00:53] apple4ever opened #37884 "Letsencrypt: Not creating certificates"
#### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
letsencrypt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Linux 4.13.0-36-generic #40~16.04.1-Ubuntu SMP Fri Feb 16 23:25:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
The letsencrypt module in 2.5 only creates empty certificate files when renewing a certificate. This works fine in 2.4.3.

##### STEPS

[2018-03-25 01:09] skylerbunny commented on #37364
This is expected behavior as explained on this page: [http://docs.ansible.com/ansible/devel/user_guide/playbooks_reuse.html#tradeoffs-and-pitfalls-between-includes-and-imports]

"Tasks which only exist inside a dynamic include will not show up in `--list-tasks` output."

I believe what you want would be achieved with the `import_*` family of modules.

[2018-03-25 02:33] LaurentDumont opened #37885 "[Raw module] Accedian MetroNID Network device | Raw module fails to execute commands on remote host."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
raw module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian 9

##### SUMMARY
I am trying to use the `raw` module in order to run arbitrary commands on an Accedian Metro NID device.

##### STEPS TO REPRODUCE
1) Configure SSH access on the Accedian Metro NID device.
2) Use the following one-liner Ansible command
`ansible -i accedian-in

[2018-03-25 06:27] jpmens commented on #35779
@dagwieers there never was syntax highlighting, at least not while I was involved. (I "fondly" recall having had to fight until blood flowed to have M. accept my code in the module doc generator for C(), M() formatting in the docs; that translated to bold, non-proportional, etc. but that was the extent of the "candy" :-) )

[2018-03-25 10:09] iron77 commented on #8603
+1

[2018-03-25 10:17] tonk commented on #35779
I would love to have better docs and syntax-highlighting. Wouldn't it be possible to have a Ansible file for Pygments. That way "we" have our own set that we can manage and be less dependant of Pygments.

@jpmens I remeber those discussions very well. Was involved in some of them myself.

[2018-03-25 10:44] felixfontein commented on #37884
@apple4ever Could you please post a more complete use of the `letsencrypt` module? You are simply doing the first invocation (also not with `dns-01` challenge), i.e. preparing the challenges, but you don't invoke it a second time to actually get a certificate. Only in this second step (where the `data` option is provided)), the module is writing to the certificate file.

[2018-03-25 11:02] BentCoder commented on #37870
@robertdebock @mauricemeyer Hi guys.

The command below is from [Install Docker Compose](https://docs.docker.com/compose/install/#install-compose) page but I couldn't work it out how to turn it into a "url" format like above.

[code]

[2018-03-25 11:58] colin-nolan commented on #37224
It would be great if you could test the [code in the pull request](https://github.com/ansible/ansible/pull/37837), opposed to a variation of it, as it is this what will end up merged.

[2018-03-25 12:01] freeseacher opened #37886 "grafana_plugin need more than 1 value to unpac"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
grafana_plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
plugin returns error

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
plugin installed

##### ACTUAL RESULTS

[code]

and
[code]

[2018-03-25 12:14] nougad commented on #37850
this might fix it: https://github.com/ansible/ansible/pull/34925

[2018-03-25 12:42] freeseacher commented on #37886
@seuf  @gundalow

[2018-03-25 12:45] freeseacher commented on #37224
code in pull request is not work. insted of reading we are going to `add_value(module)` function. so there have  `"Value": "<object object at 0x7f47773ba970>"`in value after read request

[2018-03-25 13:29] trondhindenes commented on #25820
Yup, I got the stuff I needed, and the new api is super-neat. Thanks!

Closing this.

[2018-03-25 13:29] #25820 closed, assigned to bcoca

[2018-03-25 14:34] LaurentDumont commented on #37885
If needed, I can also provide remote ssh access to a Metro NID device.

[2018-03-25 14:46] avielb commented on #37607
please just change the `echo` to `echo -n`

[2018-03-25 14:53] robertdebock commented on #37867
Hm, I can’t reproduce it either outside of Travis. I ran the same build with debugging on, maybe [these details](https://travis-ci.org/robertdebock/ansible-role-httpd/jobs/357979196#L5162) help.

[2018-03-25 15:22] danielkza commented on #22025
@bcoca I don't know if there was another issue that interacted with this one, but starting from 2.4 `set_fact` can't even overwrite role *defaults*. That's what caused major breakage for me. Not overwriting passed role vars, as seemingly has been happening for longer and reported in the original bug, is annoying but not impossible to work around.

Apologies if tagging you was inappropriate, I was

[2018-03-25 17:26] tonyskidmore commented on #31929
I spent quite a while looking at this until I found this issue.  I too was hoping that ```--limit``` was going to filter inventory output.

[2018-03-25 19:35] LuckySB commented on #30351
test on current devel
ansible-2.6.0-100.git201803241800.d502745a4e.devel.el7.centos.noarch.rpm

everything works correctly.
Thank you

[2018-03-25 19:44] jborean93 commented on #37876
@trondhindenes there is already an issue for improving the exception output for Windows here https://github.com/ansible/ansible/issues/28402. For this particular issue it seems like there are 2 problems being found;

* The first one is that the first line of your module is `#!powershell`
* The second one is that the module is using a PSCustomObject result object

Are you able to confirm this and a

[2018-03-25 19:47] dobrozhanskyi opened #37890 "The slice filter requires a mapping to operate on, got a <type 'list'>."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

filter slice

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.13.3

##### SUMMARY

fatal: [test]: FAILED! => {"changed": false, "msg": "AnsibleFilterError: The slice filter requires a mapping to operate on, got a <type 'list'>."}

##### STEPS TO REPRODUCE

In template use:
{%- for column in items|sl

[2018-03-25 19:48] dobrozhanskyi commented on #37890
https://github.com/ansible/ansible/pull/35922/files

[2018-03-25 20:06] jborean93 commented on #37882
The issue is actually the `RestartScheduled` being `null`, looking at the code right now there is no extra handling when the value is null https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_dsc.ps1#L243 compared to before where it would try and cast the value to the type even if it were null. We could remove the special case for `$null` handling here and just try and cas

[2018-03-25 20:19] trondhindenes opened #37891 "Wrongly ordered deprecation warning for win_reboot"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_reboot
##### ANSIBLE VERSION
[code]

##### SUMMARY
I get this message:
`[WARNING]: Since Ansible shutdown_timeout_sec, 2.5 is no longer used with win_reboot`
Pretty sure it should have been:
`[WARNING]: Since Ansible 2.5, shutdown_timeout_sec is no longer used with win_reboot`

[2018-03-25 20:20] Spredzy commented on #37867
@robertdebock I spotted the issue and could reproduce locally. The issue happens when you run the playbook in check mode

[code]

I'll work on a fix for it in the upcoming days. Again thank you for reporting the issue.

[2018-03-25 20:38] LuckySB commented on #31074
test with ansible-2.6.0-100.git201803241800.d502745a4e.devel
not fixed

[2018-03-25 20:52] trondhindenes commented on #37882
Thanks,
As far as error messages go, I would argue that we should spit the "parsed" parameters back out (this seems to have been removed, as I'm pretty sure it was in the first version) - maybe only in "vv" mode (are powershell modules able to pick up the verbosity from one of the "internal" params?)

[2018-03-25 21:00] trondhindenes commented on #37882
Regarding parsing null: Hm, thinking out loud.
If we have a dsc resource that takes a param "name", which can be "string" but defaults to `$null` (controlled internally by the dsc resource). Imho we need to send in that. The alternative is to have to use set_fact / dict joining in the playbook prior to calling the dsc resource in order to build up a dynamic object which is then passed down to the

[2018-03-25 21:15] stevenscg commented on #31706
This still seems to be happening as of Ansible 2.5.0.

[2018-03-25 21:19] LuckySB opened #37892 "when: condition with an undefined variable is always true in include_tasks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
standart

##### OS / ENVIRONMENT
centos 7.4

##### SUMMARY
include_tasks: i.yml
when: undefinded_variable == ''

when condition with an undefined variable not raise error - it is always true !

##### STEPS TO REPRODUCE
role with two files:
main.yml
[code]
test_include.yml
[code]

[2018-03-25 21:20] LuckySB commented on #30351
but i find abother bug
https://github.com/ansible/ansible/issues/37892

[2018-03-25 21:36] holta commented on #35796
@sivel this issue (or https://github.com/ansible/ansible/issues/31673 or similar?) has returned on Ansible 2.5.0 on Raspbian 2018-03-13 on Raspberry Pi 3.  As documented at https://github.com/iiab/iiab/issues/669#issuecomment-376005065 :

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: OSError: [Errno 12] Cannot allocate memory
fatal: [127.0.0.1]: F

[2018-03-25 21:37] holta commented on #31673
@sivel this issue (or https://github.com/ansible/ansible/issues/35796 or similar?) has returned on Ansible 2.5.0 on Raspbian 2018-03-13 on Raspberry Pi 3.  As documented at https://github.com/iiab/iiab/issues/669#issuecomment-376005065 :

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: OSError: [Errno 12] Cannot allocate memory
fatal: [127.0.0.1]: F

[2018-03-25 22:11] jborean93 commented on #37882
We are trying to move away from returning values that are passed into the module from Ansible, there is an outstanding issue to return the method invocation args when running with `-vvv` but that's been pushed back for a few different reasons. Returning the "dsc parsed" values may be something we want to add back in but I'm not sure how well the `ConvertTo-Json` cmdlet works with complex args like

[2018-03-25 22:20] trondhindenes commented on #37882
That makes total sense. I wasn't even aware of the `omit` option. In light of that the module works perfectly fine as-is for my use case, just a very few numbers of mini-refactoring to get our roles back up and running.

[2018-03-25 22:30] jborean93 commented on #37882
It is one of those lesser known things with Ansible, I'll add the parsed params to the agenda, here is an example of the "parsed" params for `xWebsite`

[code]

Will see what the general consensus is.

[2018-03-25 23:26] miramar-labs opened #37894 "hosts: [] is matching 'all' hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/filters/mathstuff.py

Set Theory Filters - difference()

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

this expression:

[code]
does not produce an empty set if there is only one item in the masters group.
for >1 items in the group, it works as expected.

##### STEPS TO R

[2018-03-25 23:42] n267 opened #37895 "bogus ec2 warning in Ansible 2.5.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2 module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_RETRIES(/etc/ansible/ansible.cfg) = 7
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible']
DEFAULT_TIMEOUT(/etc/ansible/ansible.cfg) = 300

##### OS / ENVIRONMENT

Ubuntu 16.04.4 LTS

##### SUMMARY

ec2 module (http://docs.ansible.com/ansible/latest/e

[2018-03-26 00:07] mowntan commented on #33284
@Akasurde, confirmed that the host / cluster member host are part of the DVSPortgroup + DVSwitch that I am trying to deploy. I believe, in order to resolve this issue we would need to reference the DVSwitch in the network name. (or possibly provide a lookup method). The current module doesn't allow for this, but it looks like the previous vsphere_guest module was aware of the difference between a

[2018-03-26 00:18] mowntan commented on #33284
I've also attempted with ansible 2.5.0a, 2.5.0rc, and final 2.5.0. I will note that the error has changed slightly, it now doesn't complain about an incorrect switchUUID.

"msg": "Failed to create a virtual machine : A component of the virtual machine is not accessible on the host."

I think this is still the same issue, just being represented a little differently. The vmware call is getting the f

[2018-03-26 00:33] n267 commented on #37895
The warning occurs during the second call to ec2 (the reboot).

[2018-03-26 00:41] willthames commented on #31706
@stevenscg - can you raise a new issue if this is still happening for you with a reproducible test case.

We have a test case for this behaviour, so you must be hitting a weird edge case:
https://github.com/ansible/ansible/blob/devel/test/integration/targets/ec2_vpc_subnet/tasks/main.yml#L263-L283

[2018-03-26 00:57] zikalino commented on #37873
@IvanovOleg this problem should be fixed by pr#36824
could you check if that fix works for you?

[2018-03-26 01:02] jborean93 commented on #37891
Thanks for the report @trondhindenes, I've raised a PR to fix this here https://github.com/ansible/ansible/pull/37898

[2018-03-26 01:03] jborean93 commented on #37133
Going to close, these issue should be discussed in IRC or on the mailing lists as it appears to be a user question.

[2018-03-26 01:03] #37133 closed, assigned to nobody

[2018-03-26 01:06] jborean93 commented on #35876
Closing as I am unable to replicate it in Ansible 2.4, 2.5 and devel.

[2018-03-26 01:06] #35876 closed, assigned to nobody

[2018-03-26 01:11] abadger opened #37899 "Add documentation rendering test"
##### ISSUE TYPE
Test Report
Feature Report

##### COMPONENT NAME
Testing of documentation building

##### ANSIBLE VERSION

[code]
##### SUMMARY

We accidentally shipped 2.5.0 with broken docs building.  We should have a test that checks whether docs building works.

##### STEPS TO REPRODUCE
[code]

[2018-03-26 01:24] srkiNZ84 commented on #35876
Apologies, it was on my list to test this, but couldn't find a combination of a box with Ansible 2.4/2.5/devel to test from a Windows server that needed updates and time to set it up. From the sounds of it, the issue has been resolved.

Thank you very much for responding and sorry again for not testing in a timely manner.

[2018-03-26 01:26] matthewrees commented on #37208
I am having the same issue with junos_config in --check mode with Ansible 2.5.0.0 and Python 2.7.14:

[code]

The module works in check mode in 2.4.3.0 and today I updated to 2.5.0.0 and ran the playbook to test the update and this is the result. I will test the commit by @ganeshrn to see if it resolves the issue.

[2018-03-26 01:37] willthames commented on #37895
My suspicion from reading the relevant code is that the instance is defaulting to public (and thus has public_dns_name set) even though you might not be setting assign_public_ip.

Can you provide the result of the first ec2 task (redacting any sensitive information) that might confirm or deny this theory? - or just the result of `aws ec2 describe-instances --instance-ids i-xxxxxxxx`

[2018-03-26 01:44] #25152 closed, assigned to nobody

[2018-03-26 01:52] jborean93 commented on #35876
No worries @srkiNZ84, if you do come across it again, please let us know the details on how you reproduced it.

[2018-03-26 02:02] n267 commented on #37895
Here's the verbose output for the first ec2:

[code]

It doesn't look like public_dns_name is being set. Also note that assign_public_ip couldn't be set even if I wanted to, because multiple interfaces are being used (AWS limitation).

[2018-03-26 02:04] willthames commented on #37895
Thanks for that extra info @n267, I'll see what else I can find!

[2018-03-26 02:06] jborean93 commented on #34168
@lucastheisen sorry for the long delay with this, I was hoping to get some other changes in and refactor win_file but they got pushed back. I've raised a PR to fix this issue for now until the rewrite happens later in the future. It would be great if you could test it out and leave your results there https://github.com/ansible/ansible/pull/37901.

[2018-03-26 02:10] willthames commented on #37895
Can you also post the same info from the second `ec2` module task? I'm really struggling to work out why the code containing that warning is even being called!

[2018-03-26 02:43] matthewrees commented on #37208
I can confirm that https://github.com/ganeshrn/ansible/commit/9354ba3b0143d64536fed0287e50947a8cbafd08 fixes the issue.

[2018-03-26 04:20] duck-rh commented on #21890
I can confirm 2.5.0 does not solve this.

[2018-03-26 04:34] zikalino opened #37903 "Changing upgrade_policy in azure_rm_virtualmachine_scaleset has no effect"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine_scaleset

##### ANSIBLE VERSION
2.5

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu on Windows

##### SUMMARY
When trying to update existing VMSS's upgrade_policy from Manual to Automatic, difference is not detected by the module, and in result changes are not made.

##### STEPS TO REPRODUCE

(1) Create VMSS with upgr

[2018-03-26 04:39] zikalino opened #37904 "Module crashes when trying to update VMSS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/azure/azure_rm_virtualmachine_scaleset.py

##### ANSIBLE VERSION
2.5

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu on Windows

##### SUMMARY
When trying to update existing VMSS, i experience crash:

TASK [Update something in that VMSS] *******************************************************************************

[2018-03-26 05:12] zikalino opened #37905 "Parameter data_discs in azure_rm_virtualmachine_scaleset can't be omited"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine_scaleset

##### ANSIBLE VERSION
2.5

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu on Windows

##### SUMMARY
data_discs parameter is not required, but:

- if not specidied, it will cause crash

- if specified as empty "data_discs:" will cause crash

The only way to specify empty data_discs is: "data_discs: []" which

[2018-03-26 05:40] Akasurde commented on #35982
resolved_by_pr #37858

[2018-03-26 05:43] robertdebock commented on #37867
Thanks @Spredzy ! I did not realize it was the check mode that was failing, well spotted. Looking forward to your update, I'll try to help by reviewing.

[2018-03-26 05:57] karniemi opened #37906 "vmware_guest_snapshot does not fail for non-existing snapshot"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest_snapshot
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7.4
##### SUMMARY

##### STEPS TO REPRODUCE

vmware_guest_snapshot does not fail when it's given a non-existing snapshot for "revert"-operation. The module claims that the operation was successful, which can't be true.

[code]

##### EXPECTED

[2018-03-26 06:16] Akasurde commented on #33284
bot_skip

[2018-03-26 06:17] Akasurde commented on #33284
@mowntan Do you have multiple Datacenters ?

[2018-03-26 07:18] IvanovOleg commented on #37873
@zikalino I will download this PR code and patch my ansible manually. I'll notify you about results.

[2018-03-26 07:37] seuf commented on #37886
@freeseacher what is your version of grafana ? Do you have already installed plugin 1 time by unziping plugin directly into grafana's plugins directory ?
I will add a fix to check if the version is present in the installed plugins list, before the split..

[2018-03-26 07:49] IvanovOleg commented on #37873
@zikalino ok, I've updated  /usr/local/lib/python2.7/site-packages/ansible/modules/azure/azure_rm_networkinterface.py file with the code provided in the PR, run playbook and got the same "omit" error.

[2018-03-26 08:21] JanMalte opened #37911 "Ansible 2.5 Gathering Facts fails on some hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
-

##### OS / ENVIRONMENT
Ubuntu Linux 17.10

##### SUMMARY
Gathering the facts fails with the new Ansible version 2.5 on some hosts

##### EXPECTED RESULTS
The facts would be gathered correctly like with Ansible 2.3

##### ACTUAL RESULTS
[code]

[2018-03-26 08:31] tonal opened #37912 "pip module broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Error for upgrade pip in remote python virtual environment

##### STEPS TO REPRODUCE

 1. Configure public key access to the remote server
 2. Create remote virtual environment by pyenv
 3. Link virtual environment to project subdir `ve

[2018-03-26 08:37] nikaro commented on #19820
Can someone review and merge #35294 ?

[2018-03-26 08:46] #35982 closed, assigned to nobody

[2018-03-26 08:50] #37750 closed, assigned to nobody

[2018-03-26 09:05] tonal commented on #37912
Error in this line: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/language/pip.py#L387
[code]
If not setup `virtualenv` option,  env is None

[2018-03-26 09:15] folkol commented on #15575
This should work: `{{ lookup('env', 'OTHER_HOME') or '/tmp' }}`

[2018-03-26 09:20] tonal commented on #37912
!component =lib/ansible/modules/packaging/language/pip.py

[2018-03-26 09:33] BogdanI-FintechOS opened #37913 "win_copy works only when "dest" is a root dir (e.g. c:\). Otherwise I get error: Test-Path : Cannot bind argument to parameter 'Path' because it is an empty string"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed. This is a bare bones installation.

##### OS / ENVIRONMENT

Ansible runs on: Ubuntu 16.04.4 LTS
Controlled node: Windows Server 2012 R2 Standard 64-bit

##### SUMMARY

win_copy only works when "dest" is a root dir (c:\ d:\ etc.). Otherwise, it throws this error: "Te

[2018-03-26 10:02] ganeshrn commented on #37208
@matthewrees Thank you for verifying the patch.

[2018-03-26 10:03] Akasurde commented on #37906
@karniemi Thanks for reporting this issue. Could you please add your playbook logs (aka `-vvvv` logs) and playbook used.

needs_info

[2018-03-26 10:09] Sunil788 commented on #36563
Verified

[2018-03-26 10:09] Sunil788 commented on #36564
Verified

[2018-03-26 10:10] Sunil788 commented on #36643
Verified

[2018-03-26 11:01] aykay76 opened #37917 "Have option to create Network Interface without NSG attached"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible on MacOS High Sierra, creating a new virtual machine in Azure.

##### SUMMARY

When creating a new network interface the default behaviour is to create a network security group with the same name if a name is not specified.

[2018-03-26 11:18] jborean93 commented on #37913
Looks like this is an issue with `\t` being in the path which is a tab character. We have a guide on how to write paths but this is more for playbooks and not in the command line http://docs.ansible.com/ansible/devel/user_guide/windows_usage.html#path-formatting-for-windows.

This issue is because the value is being parsed twice, 1 time when going from the command line to Ansible and another when

[2018-03-26 11:18] #37913 closed, assigned to nobody

[2018-03-26 11:27] #37208 closed, assigned to ganeshrn

[2018-03-26 12:04] dagwieers commented on #35779
@jpmens We now also have L(title,link) for named links. Progress ! ;-)

@tonk Yes, that would be my preferred solution, and not just for pygments, but a consistent set of lexers for the most popular editors and IDEs.

[2018-03-26 12:12] freeseacher commented on #37886
grafana 5.0.3
plugins dir explicitly created . no plugins installed
that is my code https://github.com/nocproject/ansible_deploy/blob/microservices/system_roles/grafana/tasks/plugins.yml
i've change it to code shown in reproduce steps and got error

[2018-03-26 12:12] racciari opened #37921 "Multiple matches found even when using project parameter on openstack modules"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_router
os_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When creating a router or a subnet with the os_router and os_subnet modules, it fails with `Multiple matches found for private_network` even when specifying the `project` parameter (that should filter the resource with t

[2018-03-26 12:24] ReinerNippes opened #37924 "Ansible 2.5.0 - create encrypted efs share fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

efs module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS7
##### SUMMARY

Try to create a crypted efs share fails.

##### STEPS TO REPRODUCE

Use the module "efs"

[code]

##### EXPECTED RESULTS

A crypted efs share.
##### ACTUAL RESULTS

The task fails.

[code]

[2018-03-26 12:30] BogdanI-FintechOS commented on #37913
@jborean93 , you are right. I changed "dest" to c:\\_temp\\_.txt and it worked. The possibility of needing more escaping for \ occured to me (I noticed hows \ were consumed when paths were displayed) but I guessed incorrectly how many \ are needed so I gave up. I also throught that escaping is limited to just \, didn't thought about \t \... sequences. Thanks.