[2019-08-21 21:02] sivel commented on #61026
You need to install the python-devel package to have the python C headers necessary to build some dependencies.

[2019-08-21 21:16] felixfontein commented on #60524
According to @ndswartz `netapp_e_facts` can stay a `_facts` module (see comments in #60980).

[2019-08-21 21:36] fcam-naveen commented on #50238
Will this be fixed in near future or we can use URI module to use rest api? in page 34
https://www.infoblox.com/wp-content/uploads/infoblox-deployment-infoblox-rest-api.pdf

[2019-08-21 21:38] perezjasonr commented on #61018
I found out a way to get around this! I basically just simulated the concept of me "manually inputting" the string.
[code]

Notice the result. two different values being passed as named_args now. And it matches the debug lines!

[code]

Heres the strange workaround i used:
[code]
so basically I registered the debug task, example: register: admin_pw
then just to check what value I'm about to use I

[2019-08-21 22:25] geerlingguy commented on #39122
+label affects_2.8

[2019-08-22 00:43] #60444 closed, assigned to pabelanger

[2019-08-22 00:57] ggnanasekaran77 commented on #54259
Hi @oboukili,

I would like to know is it possible to fix.

Regards,
Gnanasekaran G

[2019-08-22 01:57] #53128 closed, assigned to nobody

[2019-08-22 02:01] #50288 closed, assigned to nobody

[2019-08-22 02:09] lingxiankong opened #61081 "os_loadbalancer: absent doesn't work"
##### SUMMARY

OpenStack load balancer deletion failed:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_loadbalancer

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

the load balancer is deleted successfully.

##### ACTUAL RESULTS

[code]

[2019-08-22 02:14] Akasurde commented on #59379
resolved_by_pr #61082

[2019-08-22 02:29] JacobHenner opened #61084 "ec2_launch_template return values do not conform to documentation"
##### SUMMARY
The ec2_launch_template documentation states that it provides two return values, other than the common return values. This includes:

Key | Returned | Description
-- | -- | --
default_version                 integer | when state=present | The version that will be  used if only the template name is specified. Often this is the same as  the latest version, but not always.
latest_versio

[2019-08-22 02:48] JacobHenner opened #61085 "ec2_asg tagging results in "modified" status if tags are not alphabetized"
##### SUMMARY
When the ec2_asg module attempts to evaluate whether tags for an ASG have changed, it compares the input list of tags (in the order given) to the API result (in the order returned by the API, A-Za-z). If the ordering is not the same (non-alphabetical input), the module believes that modifications have been made, and issues API calls to replace the tags.

This is due to the [use](http

[2019-08-22 03:26] Fred-sun commented on #57275
@zikalino

[2019-08-22 04:23] toabctl commented on #27988
close_me feature was added with https://github.com/ansible/ansible/pull/33613

[2019-08-22 04:30] #27988 closed, assigned to nobody

[2019-08-22 05:27] felixfontein commented on #60515
resolved_by_pr #61090

[2019-08-22 05:37] felixfontein commented on #60517
resolved_by_pr #61091

[2019-08-22 05:49] Akasurde commented on #60729
@gamename Module `nxos_vlan` is deprecated in favour of `nxos_vlans`. This is why the bot added `deprecated` flag to this issue. I am not expert in nxos but trying `nxos_vlans` might help. Thanks.

[2019-08-22 06:08] felixfontein commented on #60520
resolved_by_pr #61095

[2019-08-22 06:41] RickS-C137 commented on #48786
Even when using `with_items` I'm running into this problem. It doesn't matter if its on Amazon Linux 1 (SystemV Init) oder Amazon Linux 2 (SystemD). The workarounds I've found so far aren't working.
When will it be fixed?

[2019-08-22 06:51] felixfontein commented on #57275
Feature freeze is **one week** from now. Any update @zikalino?

[2019-08-22 07:07] #59955 closed, assigned to nobody

[2019-08-22 07:09] linuxjoergen opened #61102 "Add group option to win_firewall_rule"
##### SUMMARY

On Windows, a firewall rule can be a member of a group.  Rule groups can be used to organize rules by influence and allows batch rule modification.

It would be nice to have the option to manage grouping with Ansible as well.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

win_firewall_rule

##### ADDITIONAL INFORMATION

We use grouping of firewall rules to associate the rul

[2019-08-22 07:15] LKaemmerling commented on #59133
@rightaway `hcloud_network_info` are now merged and will be available as of ansible 2.9.

!60932

I guess this can be closed.

[2019-08-22 07:16] LKaemmerling commented on #59133
close_me   All network related functionality is implemented and will be released with Ansible 2.9.

[2019-08-22 07:28] #59133 closed, assigned to nobody

[2019-08-22 07:40] Andersson007 commented on #60955
needs_info

[2019-08-22 08:00] clammers commented on #60224
Any updates here? We're also facing issues with the bad parsing of get_value function.

[2019-08-22 08:16] LKaemmerling commented on #56276
@samdoran @mattclay i guess this can be closed or? The backport pr was merged and as long as i can see on our side, there are some tests working :D

[2019-08-22 08:45] Fred-sun commented on #57254
@saito-hideki Can you describe what requirements are needed? Please share more detail info! Thanks a lot!

[2019-08-22 09:12] dcermak commented on #21145
This is not related to zypper, but appears to be a general issue.

[2019-08-22 09:13] dcermak commented on #21145
-label zypper
-label packaging

[2019-08-22 09:25] MadDog2K commented on #61017
And here a small update, that also handles 'extended-vlan-list', for example :

set routing-instances evpn-test protocols evpn extended-vlan-list 3751-3753

becomes

set routing-instances evpn-test protocols evpn extended-vlan-list 3751
set routing-instances evpn-test protocols evpn extended-vlan-list 3752
set routing-instances evpn-test protocols evpn extended-vlan-list 3753

[code]

[2019-08-22 09:32] set-db-id commented on #60955
thanks for reply,

I know that the "command" gives this possibility and there is nothing else to use it.

regards.

[2019-08-22 09:32] #60955 closed, assigned to nobody

[2019-08-22 10:05] alexgeek opened #61113 "Cannot connect to GCP nodes with dynamic inventory if hostnames is configured to 'name'"
##### SUMMARY
I would like the GCP inventory to use the node name as the host name / inventory name rather than its IP address but still use the IP address to connect to the node via SSH.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Centos 7 running under Windows Subystem for Linux (WSL) on Windo

[2019-08-22 10:26] Abam commented on #42534
Any plan to solve this annoying issue ?

[2019-08-22 11:05] ShachafGoldstein commented on #61102
Duplicate of #55109

[2019-08-22 11:11] hybridx commented on #60632
I will work on this. I'll submit the PR once this is done

[2019-08-22 11:22] radome commented on #43027
Thanks @pezzak! In the end I've fixed it as suggested in https://github.com/ansible/ansible/issues/59013#issuecomment-512569200

[code]

[2019-08-22 11:22] #43027 closed, assigned to nobody

[2019-08-22 11:24] aes256ctr opened #61127 "does these configuration duplicate?"
##### SUMMARY

does these configurations duplicate?

[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

/etc/ansible/ansible.cfg
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-08-22 11:32] ganeshrn commented on #59038
iosxr docs guide resolved_by_pr https://github.com/ansible/ansible/pull/60936

[2019-08-22 11:51] saurav955 commented on #57131
Had the same issue with ironware_config as well. Removing the check_mode solved it for me.
Thanks r1k0.

[2019-08-22 12:03] chkp-orso opened #61145 "wrong section title, very urgent"
Hi,
the section title in the ansible-network-checkpoint documentation is `Checkpoint`
This is a link for the section-title: https://docs.ansible.com/ansible/devel/modules/list_of_network_modules.html#checkpoint
Due to legal issues, we need to change the section title to `Check_Point` (we want to change only the title)
(because there is another company called checkpoint)
**This is very urgent**, ca

[2019-08-22 12:08] Andersson007 commented on #60955
set-db-id , thanks for discussing this!

[2019-08-22 12:20] #60921 closed, assigned to nobody

[2019-08-22 12:51] Schrottfresse opened #61171 "nxos_config: comma-separated list is split into multiple lines"
##### SUMMARY

Using the nxos_config module I'm trying to configure a comma-separated list of allowed vlans. This is not possible because the comma-separated list actually gets split into multiple lines. The input is generated from a template lookup, so escaping/quoting is not working.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATI

[2019-08-22 13:20] #61081 closed, assigned to nobody

[2019-08-22 13:21] alexgeek commented on #61113
A colleague pointed me at [this bit of documentation](https://docs.ansible.com/ansible/latest/plugins/inventory/gcp_compute.html?highlight=gcp_compute) that shows this can work via:

[code]

Which works great. I'm a bit confused as to the purpose of inventory_ip_type though, shouldn't setting that to public_ip be the same as manually composing it as above?

[2019-08-22 14:04] #60707 closed, assigned to nobody

[2019-08-22 14:18] Richard-Payne opened #61175 "win_templating a json file with to_json produces double double quotes"
##### SUMMARY
I'm trying to template the Docker daemon.json.  The data-root path on Windows contains backslashes.  These need to escaped in the json output.  Trying to use the to_json filter on the field value produce doubled double-quotes and Docker refused to start due to the invalid json.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_template

##### ANSIBLE VERSION

[code]

##### CON

[2019-08-22 14:19] abcfy2 opened #61176 "apt update_cache=yes Failed to lock apt for exclusive operation when /var/lib/apt/lists does not exist."
##### SUMMARY

When `/var/lib/apt/lists/` does not exists, `update_cache=yes` will failed by:

[code]

But when I create the `/var/lib/apt/lists/` manually or just `apt-get update`, it works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
target OS: Ubuntu Server 18.04

##### STEPS TO REPRODUCE

Here is the recurrence:

[code]

#####

[2019-08-22 14:34] walterdolce commented on #36395
Just ran into the same problem. It would be great to see this added to core.
It might actually save development time for ansible/galaxy#45

For the time being though, I had to resort to WoodenDoors' solution. Not great. But it works.

[2019-08-22 15:18] msilmser opened #61179 "gcp_compute_disk bug: `auth_kind: serviceaccount` returns `not implemented`"
##### SUMMARY
Customer report:

The documentation for the module 'gce_compute_disk' requests 'auth_kind' as 'required', which it is not.
Moreover, it does not specify what environment variables it is composed of.  'auth_kind: serviceaccount' leads to the error message 'not implemented'.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
gcp_compute_disk_module.html

[2019-08-22 15:25] thanos1983 commented on #61026
@sivel Unfortunately this did not worked for me. The python-devel is related to Python2 as far as I understand.

I was asking how to install ansible with Python3.

It became also more complicated as the server(s) that I am working are RH.

Most people propose to install `python3-devel`. This package does not exist on RH.

So the only solution on my case was to install `python36-devel.x86_64`.

[co

[2019-08-22 15:25] #61026 closed, assigned to nobody

[2019-08-22 15:39] dapiced commented on #38120
i have the same issue here

[2019-08-22 15:46] wbagdon opened #61181 "Receiving deprecation notices in the win_group_membership module"
##### SUMMARY

Seeing a deprecation notice about group names in the win_group module.
I'm assuming this is some sort of oversight since the error is being thrown on the windows group that I want to add users to (Performance Monitor Users)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_group_membership

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

C

[2019-08-22 15:55] IPvSean opened #61183 "juniper junos_facts does not gather junos_interfaces facts using gather_network_resources: interfaces"
##### SUMMARY
juniper junos_facts does not gather junos_interfaces facts using gather_network_resources: interfaces, this works for ios_facts and eos_facts and should match for junos_facts, basically this does not work->
[code]

my inventory
[code]

no interfaces information is gathered

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
junos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURA

[2019-08-22 15:57] wbagdon commented on #61181
Updated to reflect the correct module name `win_group_membership`

[2019-08-22 16:21] NilashishC commented on #61183
Same task seems to work fine for me:
[code]

I'm on ncclient version `0.6.6`.

[2019-08-22 16:26] danielmellado commented on #61183
Same there, I've tried reproducing the exact same commands there with a different version of junos, which is the one we used to develop with and it works just fine:

[code]

If you just get the final message in your playbook, it'd be

[code]

Could you please double check your `ncclient`version and junos version and reply here? I haven't been able to reproduce your issue.

Thanks!

[2019-08-22 16:27] ebarault commented on #60675
@ssbarnea @felixfontein the point in using an ssh config file here is not to specify the ssh user, but to enable these options:
[code]
for this paramiko needs to be tuned

[2019-08-22 16:40] MRigal opened #61185 "htpasswd module does not properly handle creating files in check mode"
##### SUMMARY
When in check mode, the check_file_attrs function is still called. This calls `module.set_fs_attributes_if_different,` which eventually raises an exception in `module.set_mode_if_different` if the file doesn't exist. This situation can occur when running in check mode when the destination file does not yet exist, even if `create` is set to `yes`.

##### ISSUE TYPE
- Bug Report

#####

[2019-08-22 16:43] saravananoff commented on #60286
Hey Guys - Can someone please look into this issue.

[2019-08-22 16:44] felixfontein commented on #60675
@ebarault feel free to raise these issues with paramiko (if required) and docker-py (definitely required, see [here](https://github.com/ansible/ansible/issues/60675#issuecomment-522168839)). Once they have implemented that, I'm sure `docker_container` should be able to use it.

[2019-08-22 17:07] Hursofid opened #61187 "copy fails to set correct permissions"
##### SUMMARY

Running playbook with module copy sets incorrect permissions for files copied to destination host after copying.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible 2.8.4 on OS X Sierra installed with brew against remote Debian Buster machine

##### STEPS TO REPRODUCE

[2019-08-22 17:51] jctanner commented on #54059
bot_status

[2019-08-22 18:02] IPvSean commented on #61183
[code]

here is the junos
[code]

[2019-08-22 18:04] #54059 closed, assigned to nobody

[2019-08-22 18:05] jctanner commented on #53703
resolved_by_pr https://github.com/ansible/ansible/pull/53778

[2019-08-22 18:19] #53703 closed, assigned to nobody

[2019-08-22 18:24] sinu opened #61193 "fortimanager adom lock"
##### SUMMARY
workspace mode not working as expected , getting permission denied error, is there any way to kill other administrator session before running the object/policy creation task?

##### ISSUE TYPE
workspace mode not working as expected , getting permission denied error, is there any way to kill other administrator session before running the object/policy creation task?

##### COMPONENT N

[2019-08-22 18:27] pabelanger opened #61194 "AssertionError: socket_path must be a value for vyos_banner collection"
##### SUMMARY

We have create a vyos.vyos collection located at: https://github.com/ansible-network/ansible_collections.vyos.vyos/ this is a 1:1 copy of the content of ansible/ansible with changes to imports / test to use the FQCN.

However, we see an issue with local connection about socket_path must be a value:

https://logs.zuul.ansible.com/12/12/a37045e15519391fdfac5953f514792a945c0eb0/check/a

[2019-08-22 18:39] pabelanger commented on #61194
Here is a task from ansible/ansible which works as expected:
  https://github.com/ansible/ansible/blob/devel/test/integration/targets/vyos_banner/tests/cli/basic-no-login.yaml#L5
[code]

and here is our updated test in our collection:

  https://github.com/ansible-network/ansible_collections.vyos.vyos/blob/master/test/integration/targets/vyos_banner/tests/cli/basic-no-login.yaml#L5
[code]
The only

[2019-08-22 18:50] s-hertel commented on #61127
They are two ways of setting the same option (there are 3 ways actually, since you can set it with the env var ANSIBLE_INVENTORY_IGNORE). The `[inventory] ignore_extensions` way has a higher precedence than the `[defaults] inventory_ignore_extensions` setting.

[2019-08-22 18:50] #61127 closed, assigned to nobody

[2019-08-22 19:07] jhg03a commented on #44829
In case someone else stumbles across this, the above JSON output doesn't work in Ansible 2.8.  It doesn't include the newline characters which are required.  https://gist.github.com/sivel/6991a5abcfc41bb2872d5898213575eb.  Generally JSON vault support needs better documentation.

[2019-08-22 19:14] jillr commented on #61000
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us.

This does not appear to be a bug.

As such, we're going to close this ticket.  Should you wish to discuss you can stop by one of our two mailing lists to talk about this.

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansib

[2019-08-22 19:14] #61000 closed, assigned to nobody

[2019-08-22 19:32] jillr commented on #61027
Thanks @ironfroggy, could you please file this in https://github.com/ansible/galaxy/issues?

[2019-08-22 19:32] #29124 closed, assigned to nobody

[2019-08-22 19:34] JacobHenner opened #61195 "Setting ec2_asg `metrics_collection: yes` results in module always reporting modifications"
##### SUMMARY

Similar to #61085, there is a comparison bug which is encountered when the module attempts to compare the value of "EnabledMetrics". The ordering of the input list might not match the API response's ordering for the existing ASG, which will cause the module to believe the ASG has been modified, even if it hasn't. This bug is only encountered when `metrics_collection: yes`.

##### IS

[2019-08-22 19:55] s-hertel commented on #61001
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

This was discussed in triage with the core team today and we have decided against enabling this, since omit may occur in expressions without being the omit value. The 'omit' option is only intended for module options and must be exact. You can use trim options on blocks to g

[2019-08-22 19:55] #61001 closed, assigned to nobody

[2019-08-22 20:01] sivel commented on #44829
This hasn't been fully thought out, and I'm sure there is need for improvement, but this change would allow this behavior:

[code]

[2019-08-22 20:16] felixfontein commented on #60536
@ethanculler @woz5999 are you still interested in this module? Or are actively using it, or at least can help testing changes?

[2019-08-22 20:27] #60157 closed, assigned to nobody

[2019-08-22 20:39] woz5999 commented on #60536
@fdevans is the current owner of this project

[2019-08-22 20:51] #60524 closed, assigned to nobody

[2019-08-22 20:55] felixfontein commented on #60536
@woz5999 thanks for telling me! Do you (and @ethanculler) want to be removed from the maintainer list?

@fdevans: can you take a look at this issue? Also, you seem to be not in the maintainer list for this module - do you want to be added? Then you'll be informed on all issues and PRs for this module.

[2019-08-22 21:12] woz5999 commented on #60536
Yes, we can both be removed.

[2019-08-22 22:29] selkabli commented on #60619
Hello all i'm facing the same issue with this module can someone help

my playbook
'''
---
# tasks file for roles/azure-template-deployment

- name: Create Azure Deploy
  azure_rm_deployment:
    resource_group: "ISE-terra"
    location: "Central US"
    name: "ise-ansible"
    state: "present"
    template:
      "$schema": https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate

[2019-08-22 23:13] nkakouros commented on #51097
@Akasurde Yes, I am now using `dict['key']` to access dictionary items instead of `dict.item` everywhere in my playbooks to avoid such issues but I am not sure if this is the proper way to deal with this issue.

[2019-08-22 23:32] profilernz opened #61200 "rds_subnet_group needs to be ported to boto3 to use region us-gov-east-1"
Running:
ansible 2.8.4
python version = 2.7.5 (default, Jun 20 2019, 20:27:34) [GCC 4.8.5 20150623 (Red Hat 4.8.5-36)]
boto 2.49.0
boto3 1.9.213
botocore 1.12.213

Getting:
File "/tmp/ansible_rds_subnet_group_payload_t7RHaR/ansible_rds_subnet_group_payload.zip/ansible/module_utils/ec2.py", line 340, in connect_to_aws
ansible.module_utils.ec2.AnsibleAWSError: Region us-gov-east-1 does not seem to b

[2019-08-22 23:48] andrewsaraceni commented on #61181
@wbagdon These deprecation warnings are not a function of the win_group_membership module, but rather Ansible in general, and the way in which your example is handling group names in your inventory.  It looks like your group names are the same names as the Windows groups you're trying to control membership on, so spaces in the name appear to be the issue.

There's some [documentation](https://docs

[2019-08-22 23:56] jborean93 commented on #61181
See above

[2019-08-22 23:56] #61181 closed, assigned to nobody

[2019-08-23 00:14] profilernz commented on #61200
Ansible version is there. Issue seem straightforward, mostly that us-gov-east-1 is missing on RDS modules?
Thanks

[2019-08-23 01:30] LucidOne opened #61204 "git module - New release available return code"
##### SUMMARY
I'd like the git module return a `new_release` boolean to provide a means of throwing a warning if a new release has been tagged. Ideally it should support semver/calver
comparisons across all tags to see if a new tag is newer.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

git

##### ADDITIONAL INFORMATION

This should provide a better means of version tracking when buildin

[2019-08-23 01:35] profilernz opened #61205 "rds_param_group missing support for RDS cluster parameter group"
According to:
https://docs.ansible.com/ansible/latest/modules/rds_param_group_module.html
and
https://docs.ansible.com/ansible/latest/modules/list_of_cloud_modules.html
...there is no support for RDS cluster parameters?

Apologies if posted in the wrong section, but this seems more like an oversight / bug since DB params have been implemented, so it's rather strange that Cluster params support wou

[2019-08-23 03:11] goniomdq commented on #36216
I agree that the module should append.
There should also be an option to remove a subscription, without un-registering or removing them all.

[2019-08-23 03:33] Fred-sun commented on #60619
@selkabli I think it should be caused by mistakes in your template, but I am not sure where the problem is, I will try again. Thank you!

[2019-08-23 03:42] geerlingguy commented on #56930
I just wanted to leave my 2¢ since I'm firmly on the side of dashes > underscores. Just doing a quick [Google search on the matter](https://www.google.com/search?client=safari&rls=en&q=dashes+vs+underscores+paths&ie=UTF-8&oe=UTF-8), almost universally underscores are labeled as inferior to dashes for any kind of pathing and labeling purposes. They are also more difficult to work with in many text

[2019-08-23 04:29] felixfontein commented on #60536
@fdevans can you confirm that you're now the only maintainer for this module?

[2019-08-23 05:23] Andersson007 commented on #61018
@perezjasonr hey! sorry for the late answer, was busy at work. Is the issue actual for you now or we could close the issue?

[2019-08-23 05:57] clhlc commented on #59508
+1.

aws instance name:
abc-def --> abc_def ??

i think aws_ec2 plugin may nead to use "abc-def"

[2019-08-23 06:11] felixfontein commented on #60522
resolved_by_pr #61208

[2019-08-23 06:12] felixfontein commented on #60518
resolved_by_pr #61197

[2019-08-23 06:20] felixfontein commented on #60535
@Rylon did you have a chance to work on this? I'm asking because feature freeze is next Thursday (August 29th), and it needs to be merged until then to happen in 2.9.

[2019-08-23 06:21] felixfontein commented on #60535
(If you don't have time, I can create a PR for this.)

[2019-08-23 06:45] Fred-sun commented on #59392
@zikalino Please take a look when you're free! Thank you !

[2019-08-23 07:13] Fred-sun commented on #57965
@yungezz @zikaklino

[2019-08-23 07:15] Fred-sun commented on #57965
@yungezz @zikalino

[2019-08-23 07:23] Fred-sun commented on #57989
@sparampalli Have you created the PR? Could you paste the link in here? when you finished changed, I will push for review! Thank you very much!

[2019-08-23 07:32] clammers opened #61210 "nxos_interface timing issue using admin_state and fabric_fowarding anycast"
##### SUMMARY

When using admin_state: up and fabric_forwarding_anycast_gateway: true there is a timing issue and fabric_forwarding_anycast_gateway is not applied on SVI.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Software
  BIOS: version 05.33
 NXOS: version 9.2(3)
  BIOS compile time:

[2019-08-23 07:39] clammers commented on #61210
Obviously we found our problem - sorry! We ran nxos_vrf_interface after this task, which is removing the fabric_forwarding_anycast. Maybe having fabric_forwarding_anycast in the nxos_interface is not the best option, cause you'll need a 2nd run.

[2019-08-23 07:47] clammers commented on #61210
Issue closed, we'll implement fabric_forwarding_anycast in nxos_l3_interface on our own ... as we already adjusted it with pvlan support

[2019-08-23 07:47] #61210 closed, assigned to nobody

[2019-08-23 07:52] Fred-sun commented on #58024
@ssbarnea I've never been able to replicate the problems you've had. Maybe it's like the conflict-related error in the comments above. Can you use virtualenv to build a virtual environment and install the latest ansible retry? Thank you very much!

[2019-08-23 08:40] clammers opened #61211 "nxos_l3_interface support with fabric_forwarding_anycast_gateway"
##### SUMMARY

Currently fabric_forwarding_anycast_gateway is implemented in nxos_interface, which does not have any effects until nxos_l3_interface is running and configuring an ipv4 or ipv6 address.

But when using nxos_vrf_interface all L3 informations in the SVI are deleted, which also affects the fabric_forwarding_anycast_gateway option.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

[2019-08-23 09:00] tremble commented on #55775
@s-hertel ec2_asg the main issue I was hitting during testing was caused by timeouts.  Not sure if there's been other work

[2019-08-23 09:02] Rylon commented on #60535
Hi @felixfontein sorry, haven’t had time yet, but today I should be able to look at it 👍

[2019-08-23 09:24] markgoddard commented on #56930
Very well put, Jeff. I strongly agree with you here - this change will be so disruptive, and rather than just requiring a one-off migration, will change the workflow of a huge number of users. Ansible will no longer work out of the box.

Hostnames cannot include an underscore, so in a sane world, inventory_hostname would not be forced to. This means that our inventories will now look quite inconsi

[2019-08-23 09:54] kustodian opened #61218 "ansible_loop undefined with extended loop_control in an include"
##### SUMMARY
Setting `extended: yes` in `loop_control` doesn't provide `ansible_loop` inside the loop.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
loop_control

##### ANSIBLE VERSION
[code]
This also doesn't work on 2.8.4

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ArchLinux

##### STEPS TO REPRODUCE
Create two files:
[code]
[code]
and run:
[code]

##### EXPECTED RESULTS
Ansible

[2019-08-23 09:57] Fred-sun commented on #58043
@nicolaibaralmueller Before azure_rm_virtuamachinescalesets adds this feature, perhaps we can generate SSH keys using the Rest API approach. I try to use this, Maybe you can try it too! Thank you very much!

[2019-08-23 10:38] #59987 closed, assigned to nobody

[2019-08-23 11:40] nicholasrodriguez opened #61220 "vmware_category add "Associable Object Types" functionality"
##### SUMMARY
Can functionality be added so that "Associable Object Types" can be configured for a tag category please?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_category

##### ADDITIONAL INFORMATION
Perhaps the module could be extended to include a list, examples below;
[code]
The type of Associable Object Types in vSphere 6.7 are:
All objects
Folder
Cluster
Datacenter
Datast

[2019-08-23 12:01] #50782 closed, assigned to nobody

[2019-08-23 12:11] ukreddy-erwin opened #61223 "win_mapped_drive: Drive not found"
I mapped a network drive using win_mapped_drive.

But it is not available for next tasks in the play.

My Playbook:
-------------------
---
- hosts: winvm
  gather_facts: no
  strategy: free
  tasks:
  - name: Copy Inventory
    win_copy:
      src: inventory.yml
      dest: c:\Build\
  - name: Mount Share
    win_mapped_drive:
     letter: M
     path: '\\companyautobuild\company r9.9 Cougar Buil

[2019-08-23 12:25] ukreddy-erwin commented on #61223
issue type = win_mapped_drive mapping issue
    ansible version = 2.8.4
    component name = windows network module

[2019-08-23 12:26] jzielke84 commented on #58515
Confirmed, even when the plugin name is misspelled

[2019-08-23 13:02] Tronde commented on #56930
Hi,
I totally agree with [Jeff here](https://github.com/ansible/ansible/issues/56930#issuecomment-524160919).

But as @bcoca stated above most of the developers don't look at these discussions here on a regular basis and this issue may not be the right place to discuss the change because it is about the correct documentation.

For discussion please join the thread [Is changing the default setting

[2019-08-23 13:13] perezjasonr commented on #61018
@Andersson007 no worries. you can probably close the issue. I don't think this is a postgresql_query module problem anymore. I actually tried to do the same thing with the psql command itself, using the shell module, and just gave it the same args and I had the same issue!

example:
psql <args> -v named_arg={{ admin_pw }} -v named_arg2={{ app_pw}}

I'm not sure where that value is coming from, but

[2019-08-23 13:16] sivel commented on #61218
I cannot fully work on this right now (integration tests and whatnot), but here is the basic fix:

[code]

[2019-08-23 13:37] zendritic opened #61228 "nxos_acl errors when piped to json transport network_cli"
##### SUMMARY
Piping to json is not supported on Nexus 5k version 7.2. nxos_acl module pipes to json when using state: delete_acl and the task fails as a result. Piping to xml is an option.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_acl

##### ANSIBLE VERSION
Can't copy paste from my dev or prod environment.
Ansible: 2.7.9
Python: 2.7.12

##### STEPS TO REPRODUCE
Attempt to make any

[2019-08-23 13:45] ganeshrn opened #61229 "vyos_logging integration test failed while deleting logs config"
##### SUMMARY

https://logs.zuul.ansible.com/03/61103/8f200f9358a18fbd4deb9f28903085f1e9093e8c/third-party-check/ansible-test-network-integration-vyos-python37/93073d3//controller/ansible-debug.html#l63290
[code]
The below task fail as the command in not in the result.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vyos_logging
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[cod

[2019-08-23 13:46] s-hertel commented on #61200
The bot is confused because you've edited the template rather than just populated the fields. Once it can read the fields it can assign the right labels and ping any maintainers for the module in question. If an issue sits with `needs_info` long enough it is auto-closed. You can fix the top post by using the link the bot provided (https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISS

[2019-08-23 13:56] JacobHenner opened #61230 "Add additional EKS cluster configuration options"
##### SUMMARY

The following configuration parameters are [supported by boto](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/eks.html#EKS.Client.create_cluster), but are currently omitted from aws_eks_cluster:

- endpointPublicAccess
- endpointPrivateAccess
- clusterLogging

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aws_eks_cluster
##### ADDITIONAL INFORMAT

[2019-08-23 14:55] glamrock commented on #60889
Hi @darkwizard242 - I've now updated to ansible 2.8.4, but unfortunately the behavior persists.

When python-apt is installed on the target server, the package list is empty. But when it's not installed, ansible declares that apt itself doesn't exist (as below).

[code]

[code]

[2019-08-23 15:01] glamrock commented on #60889
Incidentally, I've replaced the relevant tasks in the playbook while resolving this.

[code]

Works pretty well

[2019-08-23 15:07] sourcejedi opened #61233 "Template action does not recursively evaluate variables any more"
##### SUMMARY

Templates do not appear to be evaluated recursively anymore (see #4638).  I don't know when it changed.  I am using Ansible -devel or 2.8.  If it helps, here is the reproducer from issue #4638:

and here is the output *I* got:

[code]

At least, I really hope this is a documentation bug. I think the old behaviour was a bad idea.  I would not like Ansible to go back to it.

##### ISS

[2019-08-23 15:10] bcoca commented on #33062
closing as per above

[2019-08-23 15:10] #33062 closed, assigned to jimi-c

[2019-08-23 15:15] bcoca commented on #17714
fixed by #57894

[2019-08-23 15:21] wbagdon commented on #61181
The notices are specifically for the strings in the `name` property of win_group_membership so I'm still not understanding why this is giving me a deprecation notice.
[code]

"Remote Desktop Users" and "Performance Monitor Users" are not ansible group names in my inventory file.

[2019-08-23 15:21] bcoca commented on #36916
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request because we have not been able to think of an implementation that would work for the case presented and not break existing setups.

However, we're absolutely always up for discussion.
Since this is a really busy project, we

[2019-08-23 15:21] #36916 closed, assigned to nobody

[2019-08-23 15:23] mattclay commented on #56276
@LKaemmerling Yes, thanks. Closing.

[2019-08-23 15:23] #56276 closed, assigned to nobody

[2019-08-23 15:29] goneri commented on #38791
https://github.com/ansible/ansible/pull/22232

[2019-08-23 15:30] bcoca commented on #37755
~component = lib/ansible/plugins/filter/network.py

[2019-08-23 15:32] bcoca commented on #37768
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-23 15:32] #37768 closed, assigned to nobody

[2019-08-23 15:34] bcoca commented on #37757
closing as per above

[2019-08-23 15:34] #37757 closed, assigned to nobody

[2019-08-23 15:36] dsglaser opened #61234 "Yum and dnf module comparison operators not documented"
##### Summary
Document " <, >, <=, => " operators in name parameter of yum/dnf module. Currently the documentation does not mention that comparison operators are available, but they do work.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
yum/dnf module

##### ADDITIONAL INFORMATION
The value operators work currently in the yum/dnf modules
[code]

Yum/dnf will determine the version availabl

[2019-08-23 15:37] bcoca commented on #37710
This is by design as inline vaults are normally used to keep secrets/passwords that often contain 'templatable' tokens but are not meant to be templated.

[2019-08-23 15:37] #37710 closed, assigned to nobody

[2019-08-23 15:39] bcoca commented on #38074
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

This has been documented as the 'when' would be conditional to a specific host and the refresh is global. This is true for some of the 'meta' actions as they trigger changes into the engine itself, please see the docs for more details.  https://docs.ansible.c

[2019-08-23 15:39] #38074 closed, assigned to nobody

[2019-08-23 15:40] ldynia opened #61235 "Timeout waiting for privilege escalation prompt."
# Context
**I'm asking this question because those two questions/answerse ([one](https://stackoverflow.com/questions/51598354/ansible-playbook-failed-timeout-12s-waiting-for-privilege-escalation-prompt) and [two](https://stackoverflow.com/questions/51598354/ansible-playbook-failed-timeout-12s-waiting-for-privilege-escalation-prompt)) have little context, and I'd liket o expand on it.**

I'm trying

[2019-08-23 15:46] aedevops commented on #55560
I am also having the same issue. I'm wondering if its an incompatibility with something in the customization spec.... error is awfully vague

[2019-08-23 15:47] bcoca commented on #16600
we cannot make it recursive since includes can be dynamic and/or conditional:

[code]
so we would not know if it is even possible w/o executing the actual playbook.

So we are going to close this for now, but are open to suggestions if someone finds a usable implementation of the feature to 'list dynamic tasks'.

[2019-08-23 15:47] #16600 closed, assigned to nobody

[2019-08-23 15:52] s-hertel commented on #61068
I opened #61203 to replace all the aliases which were removed.

[2019-08-23 15:53] bcoca commented on #38463
closing as dupe

[2019-08-23 15:53] #38463 closed, assigned to alikins

[2019-08-23 15:55] bcoca commented on #37833
Ansible does not cache the connection in this, if you are using controlpersist this is something ssh does, you can use `meta: reset_connection` to force ssh to kill the persistent connection.

[2019-08-23 15:55] #37833 closed, assigned to nobody

[2019-08-23 15:56] darkwizard242 commented on #60889
@glamrock  - That's a good alternative workaround too 👍. Strangely, while [building and testing](https://travis-ci.com/darkwizard242/ansible-role-terraform/jobs/227626116) my ansible roles on TravisCI using **ansible 2.8.4**, **molecule 2.22** and **package_facts** module... I haven't observed a problem with package list returning empty string (this was a bug i did observe in
 ansible 2.8.2), so i

[2019-08-23 15:59] bcoca commented on #38754
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this request as there seems to have been no interest from developers or other users in getting this implemented.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on c

[2019-08-23 15:59] #38754 closed, assigned to nobody

[2019-08-23 16:20] wbagdon commented on #61181
@jborean93
I was able to remove the deprecation notice by changing my loop_var names from `remove_group` to `item`

[code]

[2019-08-23 16:24] AndrewCi commented on #55560
To update everyone. I was actually able to implement a fix for this error, but I haven't had a chance to submit a pull request. I'm not sure if this was a bug or a missing feature, but the module was not written in a way to handle a customization spec with a network input. My fix is a bit hacky and only allows one NIC to be used as input. Not sure if I should submit it as is or make it a little mo

[2019-08-23 16:34] sourcejedi opened #61236 "Consider removing `thirsty` alias from the copy module (only the copy module)"
##### SUMMARY
When I read the `copy` documentation, I couldn't work out what it meant.  Unfortunately, this meant it sounded like it might be a weird sex joke.

It doesn't sound like a big problem, but in an ideal world, I think we should prefer to avoid weird sex jokes in an alias for a parameter called `force`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
copy

##### ADDITIONAL INFORMA

[2019-08-23 16:45] Rylon commented on #60535
@felixfontein Hi again, I've completed the PR, tested the behaviour locally with the old and new names, and it looks good.

Is there anything else you need me to do in the PR?

Thanks!

[2019-08-23 16:50] felixfontein commented on #60535
@Rylon I just added a review!

resolved_by_pr #61237

[2019-08-23 17:04] felixfontein commented on #60521
resolved_by_pr #61239

[2019-08-23 17:21] m-bucher commented on #30246
For some reason this seems to be already the case if you run on windows:
[code]
Which is even worse as far as compatibility is concerned! :roll_eyes:

[2019-08-23 18:21] rambleraptor commented on #61179
Hello! `auth_kind` should be required, as there's multiple ways to authenticate with GCP.

As for `auth_kind: serviceaccount` returning "not implemented", that sounds like a more serious bug. Could you tell us what version of Ansible you're running and show us a snippet of your playbook.

[2019-08-23 18:28] mbigras commented on #56832
Does a workaround exist besides adding `force_apt_get: True` to all tasks that use the `apt` module?

[2019-08-23 18:45] #60535 closed, assigned to nobody

[2019-08-23 19:02] felixfontein commented on #59253
Hmm, so we only know when a key is definitely not PKCS#8. But if it starts with `-----BEGIN PRIVATE KEY-----` or `-----BEGIN ENCRYPTED PRIVATE KEY-----`, it could be both PKCS#1 or PKCS#8. And then there are raw keys. I'm not sure if a header-based detection is good enough. Maybe we have to look at the content?

[2019-08-23 19:07] rambleraptor commented on #45547
Hello! It's been a while since I've looked at this issue.

We do a much better job passing back error messages! Those issues should no longer be an issue. All 4xx and 5xx error messages are shown to the user.

close_me

[2019-08-23 19:22] IPvSean opened #61242 "l3_interfaces for ansible_network_resources are not working for eos, junos and ios"
##### SUMMARY
Using the `ansible_network_resources: l3_interfaces` does not work on ios, eos and junos.

- eos fails
- ios fails
- junos returns empty list

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_facts
ios_facts
junos_facts

(these are only ones I tested)

e.g
[code]

see below for more info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code

[2019-08-23 19:50] IPvSean opened #61244 "eos_vlans not reporting state parameter"
##### SUMMARY
Arista vEOS reports a state (active) but the eos_facts module is returning nothing

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_facts
eos_vlans

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
```state: active``` for corresponding vlans

##### ACTUAL RESULTS
playbook output
[c

[2019-08-23 19:56] jborean93 commented on #61223
As it says in [the docs](https://docs.ansible.com/ansible/latest/modules/win_mapped_drive_module.html)

If you know the UNC path use that in your win_copy task. If you need credentials then use [become](https://docs.ansible.com/ansible/latest/user_guide/become.html#become-flags) as shown in the win_copy example in the link above.

[2019-08-23 19:56] #61223 closed, assigned to nobody

[2019-08-23 19:57] bkmeneguello commented on #59253
Actually, this is how openssl do this job (by parsing PEM file header):
https://github.com/openssl/openssl/blob/16742672a0c1c99412bdb0ef59eaf750d32d38c4/crypto/pem/pem_lib.c#L123
https://github.com/openssl/openssl/blob/9fdcc21fdc9d148f78d9cd5be34030f38cc45812/include/openssl/pem.h#L26

[2019-08-23 19:59] #45547 closed, assigned to nobody

[2019-08-23 20:04] Qalthos commented on #61242
I can't reproduce with eos, and I don't see an exact git hash (did that get removed from `ansible --version`?) so my guess is your checkout is from before yesterday when eos_l3_interfaces was merged.

needs_info

[2019-08-23 20:20] rambleraptor commented on #58317
Hello! We've just pushed up a fix to this and it should be in devel shortly.

close_me

[2019-08-23 20:21] rambleraptor commented on #54386
Thanks a lot for submitting this bug! Sorry it's taken so long to get around to. I just pushed up a fix to our upstream code generator, so it should be in devel shortly. Thanks for your patience!

close_me

[2019-08-23 20:23] rambleraptor commented on #51097
I'm not entirely sure why it works differently in our modules versus other modules. If anybody has any ideas on what a fix looks like, I'd be more than happy to make a fix.

[2019-08-23 20:24] rambleraptor commented on #61028
close_me

[2019-08-23 20:27] rambleraptor commented on #55787
Hello! We've made some changes in the newer versions of the GCP modules.

Previously, if you put in a value that the module didn't explicitly support, the module will fail.

Now, the value will be sent to the GCP API (even if the docs don't mention the particular value).

We made this change particularly for issues like this one: when a new thing is released (say, SQL Server), you shouldn't have t

[2019-08-23 20:28] IPvSean commented on #61242
how do i get you the hash?

[2019-08-23 20:36] IPvSean commented on #61242
ok uninstalled and reinstalled and IOS and EOS work but JUNOS does **NOT** work

[code]

yay

but junos is still empty as of Aug 23, 4:36 PM ET

I assume this is same thing @ganeshrn had for the other juniper module with junos_interfaces

[2019-08-23 20:45] AlanCoding opened #61247 "Specification of named galaxy server properties by environment variables not working"
##### SUMMARY
The documentation mentions the ability to specify a galaxy server parameter via the syntax `ANSIBLE_GALAXY_SERVER_{{ id }}_{{ key }}`, but this seems to not be working for the URL of an example of this.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/galaxy.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS, control machin

[2019-08-23 20:50] theitjaeger commented on #53294
This would be a great edition. I've been using an openssl config file to generate the CSR and then the Linux sscep command to request a certificate as a workaround in the meantime.

[2019-08-23 21:08] IPvSean commented on #61244
I still believe this is a bug... b/c we can never read the state parameter if its active... but here is another bug imho

[code]

the data model won't work b/c it EXPECTS A STATE which we can't read:
[code]

[2019-08-23 21:14] medberry commented on #55560
Hello @AndrewCi where is your  patch/fix located? I'm not seeing it in this issue or linked.

[2019-08-23 21:25] AndrewCi commented on #55560
It’s still on my machine locally. I will try and push something this weekend.

[2019-08-23 21:25] andrew80k commented on #55560
@medberry I think he said he hasn't had a chance to submit a PR.

@AndrewCi Please take a look at the PR requirements and give it a shot.  I'd be very interested in seeing your solution.  Or create a gist or something.  I suspected it was around the customization_spec, but wasn't able to get the logs out of it to give me a direction.

[2019-08-23 22:18] jhg03a commented on #44829
I don't think it's just making ansible-vault be able to output it (still a nice thing though); it's also a general documentation update too that this is a supported thing and not just a strange accident.

[2019-08-23 23:06] rambleraptor commented on #59135
Sorry again, this got pushed to the backburner.

The new PR will have this fix. I did a refactor of the inventory plugin to make it easier to work with in the future.

[2019-08-23 23:27] #61028 closed, assigned to nobody

[2019-08-23 23:32] AlanCoding commented on #44829
I wouldn't call the implementation in

https://github.com/ansible/ansible/issues/44829#issuecomment-524055616

a strange accident. Since it's only outputting a single value, this is a perfectly good way to do it. This means of representing Ansible internal types in JSON has been rolled out in several other places, and has been relatively effective in the use cases it supports.

[2019-08-23 23:44] #58317 closed, assigned to nobody

[2019-08-23 23:45] karthi81 commented on #51124
I am also facing the same issue. Template Mac is assigning for VMs and there are conflicts in network, so VMs are failing to be online.

[2019-08-23 23:47] karthi81 commented on #51124
I am cloning the 5 VMs and powering on 5 VMs, new Mac is generated for some of VMs but retaining the same Mac from templates for some of the VMs. I am not sure that what will be the short term fix and long term fix.

I have tested 50+ times. its same thing.

[2019-08-23 23:49] #55787 closed, assigned to nobody

[2019-08-23 23:53] #54386 closed, assigned to nobody

[2019-08-23 23:56] #60744 closed, assigned to nobody

[2019-08-23 23:56] #60773 closed, assigned to nobody

[2019-08-24 01:08] #59561 closed, assigned to mattclay

[2019-08-24 02:06] jpreed2 opened #61250 "gcp_storage_object module very slow local downloads"
##### SUMMARY
Using the latest gcp_storage_object module to download a file from Google Cloud Storage is extremely slow.  Downloading a 8.9MB file takes 96s.  Downloading the same file using gsutil takes only 1.4s.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_storage_object

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.6.1810

[2019-08-24 03:40] #57437 closed, assigned to bcoca

[2019-08-24 06:51] jamescassell opened #61253 "block in rescue shows failed, not rescued"
##### SUMMARY

If the first task in a `rescue` section is a `block`, the summary of the playbook run counts the failed but rescued task as `failed`, not `rescued`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

block

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
All defaults

##### OS / ENVIRONMENT

RHEL 7.7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

###

[2019-08-24 07:26] #51116 closed, assigned to Akasurde

[2019-08-24 11:41] #38591 closed, assigned to Qalthos

[2019-08-24 15:54] #60521 closed, assigned to nobody

[2019-08-24 16:00] #26108 closed, assigned to nobody

[2019-08-24 16:07] vladvetu opened #61264 "lineinfile module: validate parameter unsupported format character"
##### SUMMARY

lininfile module reports ValueError: unsupported format character 'm'  on validation parameter when trying to validate the change.
Without the validation the module will always update the line.

##### ISSUE TYPE
- ~Bug  Report~
- Documentation Report

##### COMPONENT NAME
lineinfile.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Arch Linu

[2019-08-24 16:16] tremble commented on #55775
@s-hertel First three commits of #61263 fix the aws_codecommit tests I can split them off if you'd like

[2019-08-24 20:58] ShachafGoldstein commented on #61175
If I understand correctly the issue isn't with the `win_template` module but with the `to_json` filter.

[2019-08-24 21:19] ShachafGoldstein commented on #60785
I might be simplifying this but you have a typo in your example it should be `category_names` and not `catagory_names`.
The line you changed is the parameter input.

[2019-08-24 21:21] ShachafGoldstein commented on #40973
I'm working on a fix but haven't gotten around to make the proper PR, in the meantime you can test #58089 if you'd like

[2019-08-24 23:46] karthi81 commented on #51124
Here is the workaround which I have applied for now:

vmware_guest module:
../ansible/modules/cloud/vmware/vmware_guest.py

Update in document section(new Key feature auto-generate will be appreciated instead of only manual):
Added by Karthik
- ' - C(mac) (string): Customize MAC address, **auto-generate**'

               # Changing mac address has no effect when editing interface

[2019-08-25 06:40] dunefro opened #61268 "Ansible not using current directory PATH in copy module"
I am using simple force_handlers concept and to verify that I have used a copy module to create a file where I am running the playbook and have written a non-existent package to knowingly create a failure.

[code]
[code]
I am just testing that even if the package task fails, the handler is still notified.
After the  playbook is executed
[code]
**SUMMARY**
The file hey.txt doesn't exist in the curr

[2019-08-25 07:25] dunefro commented on #61268
Updated

[2019-08-25 10:55] tremble commented on #55775
@s-hertel hopefully that's fixes for the last of the integration tests

[2019-08-25 11:25] mvorisek commented on #58868
When this issue is expected to be fixed?

[2019-08-25 15:51] satken2 opened #61285 "Reporting shell/command task as "changed" in check mode"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- Check mode
- Shell/Command module

##### ADDITIONAL INFORMATION

When I execute shell module in non-check mode, Ansible always report it as "changed".
However in check mode, Ansible always report it as "skipped" even if it would have been executed in non-check mode.

When I execute a playbook such as below, I do NOT want to ex

[2019-08-25 18:46] hybridx commented on #60632
PR -> https://github.com/ansible/ansible/pull/61292

[2019-08-25 20:04] jborean93 commented on #61247
Looks like I made a mistake when setting the config definitions and have fixed this with https://github.com/ansible/ansible/pull/61294. Thanks for picking it up.

[2019-08-25 20:07] jborean93 commented on #58572
Was an issue with the above so closing this issue as they have been stable so far.

[2019-08-25 20:07] #58572 closed, assigned to nobody

[2019-08-25 20:07] jborean93 commented on #59545
See above

[2019-08-25 20:07] #59545 closed, assigned to nobody

[2019-08-25 20:07] felixfontein commented on #53294
When [cryptography](https://pypi.org/project/cryptography/) adds support for this ([should be somewhere here](https://cryptography.io/en/latest/x509/reference/#x-509-csr-certificate-signing-request-object)), we can support it.

[2019-08-25 20:10] jborean93 commented on #59795
This is unfortunately as designed as the copy operation in pure PSRP is quite slow compared to using the raw WSMan layer. I've talked about this a bit more at https://github.com/jborean93/pypsrp/issues/43 and there's potentially something I can try to speed this up a bit more. We could also implement something like the sftp/scp fallback mechanism we use in the ssh connection plugin to allow people

[2019-08-25 20:10] felixfontein commented on #29950
I think we just merged something equivalent :-)

[2019-08-25 20:11] felixfontein commented on #29949
No longer needed since `assertonly` is deprecated, and it is easy to get such checks with `openssl_certificate_info`.

close_me

[2019-08-25 20:12] felixfontein commented on #33457
No longer needed since `assertonly` is deprecated, and it is easy to get this behavior with `openssl_certificate_info` etc. (see #60623 for details).

close_me

[2019-08-25 20:14] #33457 closed, assigned to nobody

[2019-08-25 20:14] #29949 closed, assigned to nobody

[2019-08-25 20:19] jborean93 commented on #59803
Unfortunately there's not much we can do here, there have been a few instances where the data sent before or after the module JSON status causes this problem in the past. I'm unsure why it was not a problem before Ansible 2.8 as I've seen this occur for a lot of previous versions. We've always returned the JSON output under the PowerShell output stream and 2.8 changed that to also get it from the

[2019-08-25 20:19] #59803 closed, assigned to nobody

[2019-08-25 20:22] jborean93 commented on #60434
Can you test with a newer version of Ansible as well as show the full output when you run with `-vvvvvv`. There's been a lot of changes to win_uri over the past few releases so there's a good change that this issue has been fixed.

needs_info

[2019-08-25 20:30] jborean93 commented on #60677
There's a good chance your arguments are not being set properly and the host is actually rebooting even though you've set `REBOOT=R`. I'm having a look at https://pubs.vmware.com/vsphere-50/index.jsp?topic=%2Fcom.vmware.vmtools.install.doc%2FGUID-CD6ED7DD-E2E2-48BC-A6B0-E0BB81E05FA3.html and it seems like the .exe calls another MSI with the arguments inside those last quotes. We use [/norestart](h

[2019-08-25 21:11] #61247 closed, assigned to nobody

[2019-08-25 21:32] jborean93 commented on #60956
Thanks @rdicroce for the report, I've opened https://github.com/ansible/ansible/pull/61295 which should enable this to work but I've added it to the Ansible meeting agenda to discuss further as it is a slight behaviour change on the Python.

Ultimately what is happening is that internally the JSON string is being converted back to a dict and that is being passed to the remote host as is. The sugge

[2019-08-25 22:13] jborean93 commented on #61175
This is really a result in how Jinja2 operates. Using the below as an example which is completely separate from Ansible.

[code]

It prints out the same result with double quotes.

[code]

I haven't seen any documentation on how to override the behaviour of quoting a filter result in the Jinja2 docs but this isn't something that Ansible is doing. You have 2 options, you can either;

* Not quote th

[2019-08-25 22:13] #61175 closed, assigned to nobody

[2019-08-25 22:55] 116davinder commented on #61285
This expected behaviour from ansible as it doesn`t know what will be changing so it will be never executed in check mode.

check mode for shell/script/command module, it will always skip.
non-check mode, it will always run the command and say changed = +1.

https://github.com/ansible/ansible/blob/26474c690263eb7ecda454aec07129e3303b637f/lib/ansible/modules/commands/command.py#L276

[2019-08-25 22:56] jborean93 commented on #60785
Looks like the above is correct, I've tested `win_updates` right now and it's picking up the updates as expect. You can see the 2 filtered updates below to the following categories

* `Updates`, `Windows Server 2016`
* `Definition Updates`, `Windows Defender`

The default for `category_names` are (the spaces are irrelevant as these are historical updates that get mapped automatically)

* `Critical

[2019-08-25 23:14] jborean93 commented on #61102
Closing as https://github.com/ansible/ansible/pull/55109 is merged.

[2019-08-25 23:14] #61102 closed, assigned to nobody

[2019-08-26 01:16] benmcbenben opened #61296 "F5 modules do not use the new connection plugins"
##### SUMMARY
The F5 / BigIP networking modules still use the older style connection plugins, and not the newer style.
Example: https://docs.ansible.com/ansible/latest/modules/bigip_config_module.html#bigip-config-module

##### ISSUE TYPE
- Feature request

##### COMPONENT NAME
all bigip modules - bigip_*
e.g "bigip_config"

##### ADDITIONAL INFORMATION
None to add

[2019-08-26 02:48] chithanh89 opened #61297 "Duplicate host_group when create by zabbix_group ansible module"
##### SUMMARY
Duplicate host group when create by zabbix_group ansible module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Zabbix_group module

##### ANSIBLE VERSION
Ansible v2.8

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE
- name: Create host groups
  zabbix_group:
    server_url: "{{ zabbix_url }}"
    login_user: "{{ login_user }}"
    lo

[2019-08-26 03:13] powerschell commented on #47945
Seconding that request to get this PR merged. Thank you!

[2019-08-26 05:40] Fred-sun commented on #51062
@jvalderrama When you finished testing, please share the test results. Thank you very much!

[2019-08-26 06:16] rohitthakur2590 opened #61298 "vyos_user integration test failed while deleting user config"
##### SUMMARY

https://logs.zuul.ansible.com/03/61103/8f200f9358a18fbd4deb9f28903085f1e9093e8c/third-party-check/ansible-test-network-integration-vyos-python37/ffca306/controller/ansible-debug.html#l75146
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vyos_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2019-08-26 06:21] felixfontein commented on #60519
resolved_by_pr #61299

[2019-08-26 07:35] Fred-sun commented on #60100
@yungezz @MyronFanQiu Is it possible to list blobs through the RST API? I tried to get it by this method, but I still couldn't output blobs. Could you please help me check if it is ok? Thank you very much!

[2019-08-26 08:31] rohitthakur2590 opened #61302 "Mandatory parameter or no attributes check for config parsing doesn't work"
##### SUMMARY

while parsing config with no attributes or missing mandatory attribute should fail and display a proper failure message.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

fatal: [192.168.56.101]: FAILED! => {
    "changed": false,
    "invo

[2019-08-26 08:47] justjais opened #61305 "IOS l3 interface tests failing intermittently coz of zuul env issue"
##### SUMMARY

IOS l3 interface tests failing coz of zuul env issue, replace after assert dict is failing intermittently in diff python version, i.e. sometimes it fails on python27 and other time it fails on python35/37 (ref: https://github.com/ansible/ansible/pull/61103#issuecomment-524646499)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_l3_interfaces
##### ANSIBLE VERSION

[code]

#

[2019-08-26 09:06] georgej-github commented on #46379
I can confirm the same issue by ppoetz and ps-jay for 2.8.3, any update on this? Thanks.

[2019-08-26 09:08] Fred-sun commented on #59770
@MyronFanQiu I try to get facts as your said, but get same fail result, this module not support get facts by tags. Please check, Thank you very much!

[2019-08-26 09:09] clammers commented on #61211
hey there, someone have any opinions on this topic? would be nice to get some feedback

[2019-08-26 09:10] sparampalli commented on #57989
@Fred-sun, here is the link for PR - https://github.com/ansible/ansible/pull/61306.

Please review it and let me know if any issues.

[2019-08-26 09:11] Fred-sun commented on #58069
@Yungezz @zikalino New feature request, please take a look when you're free! Thank you very much!

[2019-08-26 09:19] rpluem-vf commented on #58619
@ableischwitz IMHO you need #59769 and #59772. #59772 takes care that the correct `l<command>` is used (`luseradd` / `lusermod`). Without #59772 the group is detected as present due to its presence in LDAP and `lusermod` is used to create the local group which fails at least on my CentOS 7. #59769 ensures that you can still create the group locally if the same GID / group name combination already

[2019-08-26 09:19] tYYGH commented on #33062
@bcoca Could you please explain “as per above”? Is the issue fixed?

[2019-08-26 09:24] Fred-sun commented on #57989
@sparampalli Thanks for your contribution. Please fixed the CI fail when you're free!

[2019-08-26 10:43] Andersson007 commented on #61018
@perezjasonr , anyway, thank you for discussing!
@gundalow , could you please close this issue

[2019-08-26 10:45] #61018 closed, assigned to nobody

[2019-08-26 11:25] justjais opened #61311 "Fix iosxr interfaces zuul failure"
##### SUMMARY

Fix iosxr interfaces zuul failure, which is failing coz of lowercase `loopback` instead of `Loopback` in iosxr. (ref: https://logs.zuul.ansible.com/03/61303/28b181fe1fcb3831516b336923ce39e29942ee50/third-party-check/ansible-test-network-integration-iosxr-python27/80fc31b/controller/ara-report/reports/01641385-035c-4e22-a0bd-fdfbf67a8cb9.html)
##### ISSUE TYPE
- Bug Report

##### COM

[2019-08-26 13:07] #60010 closed, assigned to Qalthos

[2019-08-26 13:16] mart3051 opened #61316 "Issue with gcp_dns_resource_record_set failing with 400 Client Error: Bad Request for url"
##### SUMMARY
gcp_dns_resource_record_set failing with HTTPError(http_error_msg, response=self)
requests.exceptions.HTTPError: 400 Client Error: Bad Request for url

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_dns_resource_record_set

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 19.04

##### STEPS TO REPRODUCE

Executed playbook with -vvv

[

[2019-08-26 13:22] bcoca commented on #60502
that should not appear on this page since it is not editable in github, it is generated from the command line options of ansible-pull itself.

[2019-08-26 13:26] Sephtex commented on #59021
Dear,

the patch #59887 on ./lib/python2.7/site-packages/ansible/module_utils/k8s/scale.py with ansible[azure]==2.8.4 and openshift==0.8.4 worked and solves the following error:
[code]
For openshift==0.9.1 it doesn't work as it'll throw the following error (which has potentially nothing to do with this issue):
[code]

[2019-08-26 13:29] rnsc commented on #59021
Would be great to have this backported for Ansible 2.8.5 :)

[2019-08-26 13:36] The-Judge opened #61318 "user module "append: no" not working"
##### SUMMARY
Using ansible 2.8.3, the user module is not behaving as documented when using "append: no" by not removing the user from all other groups.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
# Execution node
Node ansible is executed on: MacOSX 10.14.6
Installed: using homebrew
# Destination node
O

[2019-08-26 13:40] #57389 closed, assigned to nobody

[2019-08-26 13:42] trishnaguha commented on #61228
This requires adding nonstructured output support in the module code.

[2019-08-26 13:47] AlanCoding commented on #61247
Thanks for the fast fix! I confirmed the fix works by the steps here. Documenting the output for posterity:

[code]

[2019-08-26 14:02] Hipska opened #61319 "ANSIBLE_DISPLAY_SKIPPED_HOSTS does not work as play env"
##### SUMMARY
It seems [ANSIBLE_DISPLAY_SKIPPED_HOSTS](https://docs.ansible.com/ansible/latest/reference_appendices/config.html?highlight=ansible_display_skipped_hosts#display-skipped-hosts) does not get respected as environment variable for a play in a playbook. It does work correctly when set up in the ini file or as environment for the whole cli command.

##### ISSUE TYPE
- Bug Report

##### CO

[2019-08-26 14:05] #61068 closed, assigned to s-hertel

[2019-08-26 14:08] #47295 closed, assigned to nobody

[2019-08-26 14:45] justjais opened #61321 "IOS and IOSXR fails with traceback in absence of config"
##### SUMMARY

IOS and IOSXR fails with traceback in absence of config in recent ios and iosxr resource module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

IOS and IOSXR shouldn't fail w/o config

##### ACTUAL RESULTS

IOS and IOSXR fails w/o c

[2019-08-26 15:00] reitzig commented on #33581
Aye. I'm definitely expecting similar output to `loop` tasks. Nesting will certainly not scale, but that needs separate consideration.

[2019-08-26 15:28] mmallet-digipok opened #61324 "tower_credential: Parameter 'vault_id' is only valid if parameter 'kind' is specified as 'vault'"
##### SUMMARY
It seems that the commit 831f068 introduced a small regression. In the 'tower_credential' module, when the credential 'kind' is set to 'vault', the code expects the other parameter 'vault_id' to be set. Unfortunately, at execution time, the module returns an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_credential

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[2019-08-26 15:37] felixfontein commented on #60526
Usually the facts are host specific, so keeping (for now).

[2019-08-26 15:37] #60526 closed, assigned to nobody

[2019-08-26 15:44] heuels commented on #60362
@ekzkgz, thanks for reporting this! However, this is actually not a bug but a peculiarity of RouterOS. `/system reboot` is one of the few commands that requires user confirmation in order to continue. If you try executing it manually you will be asked to press <kbd>Y</kbd> in order to reboot – you can try it for yourself.

There are two ways that I know of to bypass the confirmation prompt.
You ca

[2019-08-26 15:44] heuels commented on #60362
notabug

[2019-08-26 15:56] #60362 closed, assigned to nobody

[2019-08-26 16:04] #39388 closed, assigned to nobody

[2019-08-26 16:10] #38937 closed, assigned to nobody

[2019-08-26 16:19] ibarrere opened #61326 "Pre-commands used by "nxos_command""
##### SUMMARY

What are the steps that "nxos_command" (with connection: network_cli) takes before running the specified command? I can't find documentation for that.

For some reason, when issuing "show archive log config all" on two of my Nexus 31108TCVs, the index number decrements by one each time on one switch, but does not on the other. I can't reproduce this by running the commands manually

[2019-08-26 16:22] DaveCrown opened #61327 "aci moduels not authenticating with private key under tower"
##### SUMMARY

ACI modules in tower not correctly reading the private key. The private key is passed in as an env variable. When running on a local Fedora it picks up the key correctly from the env var, but not from tower when running with 2.8. Downgrading to 2.7 resolves the issue

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aci_tenant

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2019-08-26 17:13] ReinerNippes opened #61330 "cron module cannot open crontab file"
##### SUMMARY
cron module doesn't work with python 3.7.4 (on Fedora 30)

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cron

##### ANSIBLE VERSION

[code]
The playbbok runs with -e ansible_python_interpreter=/usr/bin/python3
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora 30

##### STEPS TO REPRODUCE
[code]
Task that fails:

https://github.com/ReinerNippes/nextclou

[2019-08-26 17:27] #59135 closed, assigned to nobody

[2019-08-26 17:45] goneri opened #61332 "vmware_host_firewall_manager: TypeError: 'NoneType' object is not subscriptable"
##### SUMMARY

The function test of `vmware_host_firewall_manager` is currently broken. This seems to be a regression introduced with https://github.com/ansible/ansible/pull/56733.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_firewall_manager

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

The first step of the functional test:
https://github.com/ansible/ansible/blob

[2019-08-26 17:57] #58243 closed, assigned to nobody

[2019-08-26 17:57] #56595 closed, assigned to nobody

[2019-08-26 17:57] #55966 closed, assigned to nobody

[2019-08-26 18:00] mart3051 commented on #61316
@rambleraptor I had originally ran this with -vvv only. I already have provided the o/p of the same

[2019-08-26 18:08] #61113 closed, assigned to nobody

[2019-08-26 18:22] kdelee opened #61333 "Tower inventory plugin type-checking breaking config files that previously worked"
##### SUMMARY

Previously, we could specify a bare integer here or a named inventory.

Now tower-type inventory (where we source inventory in Tower A from an inventoyr in Tower B), are breaking with ansible devel

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/tower.py#L49-L54

##### STEPS TO REPRODUCE

Run tower inv

[2019-08-26 18:42] #60523 closed, assigned to nobody

[2019-08-26 18:45] #57278 closed, assigned to nobody

[2019-08-26 19:11] nccurry opened #61336 "Update VirtualBox inventory plugin to support VBoxManage.exe on WSL."
##### SUMMARY

When running ansible inside Windows Subsystem for Linux using the virtualbox inventory plugin, ansible looks for the VBoxManage executable instead of the VBoxManage.exe executable.

##### ISSUE TYPE
- ~Bug  Report~
- Feature Idea

##### COMPONENT NAME

VirtualBox Inventory Plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NAME="Ubuntu"
VERSI

[2019-08-26 19:41] jborean93 commented on #60956
I did some further testing and 61295 probably won't be going ahead as is as it implies a user wants it to be a json string and not some other dict represetation.

In your case you have 2 options today;

1. Set `testvar: '{{ bla | to_json }}'` on the actual task itself and not use set_fact for that filter like.

[code]

Doing this means means the actual value for `testvar` is interpreted only at th

[2019-08-26 19:41] #60956 closed, assigned to nobody

[2019-08-26 19:51] #55811 closed, assigned to nobody

[2019-08-26 19:51] #54406 closed, assigned to nobody

[2019-08-26 20:35] ReinerNippes commented on #61330
well. thanks for your answer.

somehow the fedora image i'm using at aws has no cronie installed. and therefore there is no crontab of any user. :-(

so no ansible problem here.

[2019-08-26 20:35] #61330 closed, assigned to nobody

[2019-08-26 20:54] JRusty15 opened #61344 "Cannot send multipart/form-data with uri"
### SUMMARY
Using the uri method, I cannot send data in a POST method as multipart/form-data. From the documentation (https://docs.ansible.com/ansible/latest/modules/uri_module.html), only form-urlencoded is supported. In terms of curl, this sends data as -d or --data instead of -F or --form. The API I am trying to script only supports data sent as multipart/form-data. I've tried a number of combi

[2019-08-26 21:49] #61344 closed, assigned to nobody

[2019-08-26 22:23] mmolinac commented on #58242
Hi @rambleraptor ,
I've just tested it with Ansible version 2.8.4, the code being something like this:
[code]

When the requested entry is already created and the IP address matches, the module "works" fine.
If the requested DNS entry doesn't exist or its content differs, I got a message like this:

[code]

[2019-08-26 22:45] mattclay opened #61348 "Support explicit collection relative module names in tasks"
##### SUMMARY

With the addition of https://github.com/ansible/ansible/issues/59462 collections now support plugin subdirectories.

A collection relative module reference without subdirectories is simply `module_name`. Thus a collection relative module reference for a module in a subdirectory might be anticipated by the user to be `some.path.module_name`. However, that form is ambiguous -- does it

[2019-08-26 23:03] selkabli commented on #60619
@Fred-sun i deployed directly the template on azure portal and it worked

[2019-08-26 23:21] #60102 closed, assigned to nobody

[2019-08-26 23:39] #53680 closed, assigned to nobody

[2019-08-27 00:18] mattclay opened #61354 "Support collection roles as integration test targets"
##### SUMMARY

Support collection roles as integration test targets.

Now that https://github.com/ansible/ansible/issues/59462 has been merged, ansible-test can be updated to support running integration test targets that are collection roles.

The planned convention is to look for targets under `roles/test/` and allow use of target-specific plugins from `plugins/{plugin_type}/test/{target_name}/`.

[2019-08-27 02:03] Fred-sun commented on #60100
@joshonike Thanks for your info.  The API will support this feature in the near future.

[2019-08-27 02:57] #36656 closed, assigned to nobody

[2019-08-27 03:07] Fred-sun commented on #60284
@yungezz @zikalino @MyronFanQiu Please confirm the parameter description of azure_rm_webapp dns_registration. Thank you very much!

[2019-08-27 03:40] #59934 closed, assigned to mattclay

[2019-08-27 04:36] felixfontein commented on #57275
@zikalino could you please provide an update?

[2019-08-27 04:59] chithanh89 commented on #61297
I found create zabbix_group when run on one host, if run more than one host, it's created group same as number of host you run playbook.

[2019-08-27 05:36] #61183 closed, assigned to nobody

[2019-08-27 06:59] Tomorrow9 commented on #60565
Hi @goneri, fixed the issue in PR #60626. Thanks.

[2019-08-27 07:05] Fred-sun commented on #60066
@Rajinikamu84 Are you still here? Could you share your template? I will try! Thank you very much!

[2019-08-27 07:13] Tomorrow9 commented on #60234
Hi @larrybg, do you mean PR #60265 still not resolve your issue? Do you use Python3 and what's the vSphere version? Thanks.

[2019-08-27 07:17] Tomorrow9 commented on #59635
Functional test for "vmware_export_ovf" module in PR #60265.

[2019-08-27 08:36] lukeg87 commented on #60785
ah, you're right guys, sorry for the waste of time, ill close the ticket.

[2019-08-27 08:36] #60785 closed, assigned to nobody

[2019-08-27 10:55] abcfy2 commented on #61176
This issue seems an upstream issue: https://salsa.debian.org/apt-team/python-apt/blob/master/apt/cache.py#L81

[2019-08-27 11:18] Hipska commented on #61319
!component

[2019-08-27 12:09] ashemedai commented on #25437
I am closing this issue since I have reported it back in 2017. In the meantime multiple versions of Ansible have been released, I have switched jobs twice, so I cannot replicate this even if I would. I would suggest people that are part of this issue that still encounter this problem to report their up-to-date case in a separate issue.

[2019-08-27 12:09] #25437 closed, assigned to nobody

[2019-08-27 12:25] privatedata commented on #52647
We had the a similar problem recently.
We notived that setting `ansible_httpapi_pass` dynamically (by using the value of another variable) did not work, the value was not interpolated.
However, using the `set_fact`-module solved the problem for us, i.e. adding
[code]
at the beginning of the play.

[2019-08-27 12:32] Normo opened #61369 "get_url: check mode not supported when using checksum URL"
##### SUMMARY

get_url does not support check mode (`--check`) when using the checksum format `<algorithm>:<url>`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Ubuntu 18.04.3 LTS

##### STEPS TO REPRODUCE

Run playbook in check mode: `ansible-playbook --check site.yml`

[code]

##### EXPECTED R

[2019-08-27 12:34] JSGUYOT commented on #56629
Same issue ... what's news ?

[2019-08-27 12:56] cankarm opened #61371 "s3_bucket creation should fail, if the bucket already exists in different region"
##### SUMMARY
**Prerequisite**:
An existing bucket named <bucket_name> in region A

**Problem**:
With Ansible you want to create a bucket with the same name <bucket_name> (as existing one in region A) in region B. The playbook finishes with "everything" OK. But the bucket is still there in region A. No changes or errors.

**Solution**:
This should fail as it is prohibited to have bucket with the s

[2019-08-27 13:10] #58630 closed, assigned to nobody

[2019-08-27 13:48] nickrusso42518 opened #61372 "restconf_config incorrectly spoofs HTTP 409 codes"
##### SUMMARY
The `restconf_config.py` file, around line ~171, returns HTTP 409 without even talking to the RESTCONF server. The code assumes that if the resource in the URL already exists, that this is a conflict. This is not necessarily true, but more importantly, the module should *never* spoof HTTP responses. Let the RESTCONF server return an HTTP 409 if it needs to.

##### ISSUE TYPE
- Bug Re

[2019-08-27 13:57] Hipska commented on #61319
@bcoca Thanks, this was the information I was looking for! Do you have any idea if and how I can achieve what I'm trying? (1 play in a playbook that hides skipped items because there are a lot of them)

[2019-08-27 14:03] ekzkgz opened #61374 "Can't get info from router with routeros_facts"
##### SUMMARY
Cann't get info from router with routeros_facts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
routeros_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Information about router

##### ACTUAL RESULTS

[code]

[2019-08-27 14:06] Hipska commented on #61319
Thanks, will close then.

[2019-08-27 14:06] #61319 closed, assigned to nobody

[2019-08-27 14:23] #58844 closed, assigned to Akasurde

[2019-08-27 14:27] heuels commented on #61374
@ekzkgz, thanks for taking the time to report this! I've put together a pull request, can you please verify that the issue no longer occurs with those changes applied?

[2019-08-27 14:29] #59563 closed, assigned to mattclay

[2019-08-27 14:49] samdoran opened #61378 "Hetzner Cloud integration tests failing due to authentication error"
##### SUMMARY

Tests were disabled by #61375 until this is resolved.

We are seeing consistent failure with these tests due to authentication issues. This may or may not be related to [issues with Hetzner Cloud reported yesterday](https://www.hetzner-status.de/en.html).

Example error output from a [recent test](https://app.shippable.com/github/ansible/ansible/runs/140148/134/console):

[code]

##

[2019-08-27 14:58] haroonhanif opened #61381 "using win_update to install updates on server 2012 R2 returns 0 updates found but shows up updates to be installed in Software Center"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

Hi,
We are trying to update our windows servers using ansible using manage_server option but it comes back with 0 updates found,

COMPONENT NAME
win_update module

 Ansilbe module win_update

ANSIBLE VERSION
 ansible 2.8.0

The playbooks is as follows
![image](https://user-images.githubusercontent.co

[2019-08-27 15:03] tyhawk opened #61382 "Hostname module doesn't work on a Manjaro Linux host"
##### SUMMARY
The hostname module reports that it doesn't work on Manjaro Linux, eventhough this is simply an Arch based distribution. So I think it should work without any modification if Manjaro is 'whitelisted' as a platform that supports this module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Hostname module.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVI

[2019-08-27 15:05] LKaemmerling commented on #61378
You should be able to revert all changes. We had an outage of our temporary token service.

In the future, it would be better to write to me first (per mail, twitter or whatever), before you disable all tests.

[2019-08-27 15:25] #61378 closed, assigned to nobody

[2019-08-27 15:28] gundalow commented on #57699
So I think there are a few things that need updating at the same time
- [ ] dev_guide "Starting in Ansible 2.10 we will require X" (This should go in various sections of dev_guide)
  * module checklist, `/testing.html`, writing modules, etc, etc
- [ ] [Changes impacting Contributors](https://github.com/ansible/community/issues/346) updating
- [ ] Add to the developer section of Porting Guides

Onc

[2019-08-27 15:35] dagwieers commented on #57699
@jctanner "Wanting to be in know" does not require sanity checks in Travis/Shippable. I feel this will cause a great deal of pain/activity where pain/activity is unwanted (or quite likely unable to handle that activity). Whereas moving modules out of Ansible was the painkiller this project came up with.

But let the believers of long ignore lists create long ignore lists :-)

[2019-08-27 15:44] ShachafGoldstein commented on #61381
Keep in mind that software center and the api for win updates aren't the same, what does the local windows update UI says?

[2019-08-27 15:50] #60518 closed, assigned to nobody

[2019-08-27 15:58] #33604 closed, assigned to nobody

[2019-08-27 16:03] haroonhanif commented on #61381
Thanks ShachafGoldstein for replying
I have the following settings in the windows update UI
![image](https://user-images.githubusercontent.com/48482560/63787734-32b3ec00-c8ec-11e9-94bb-edabaae55678.png)
![image](https://user-images.githubusercontent.com/48482560/63787874-79094b00-c8ec-11e9-8668-c60a910bc040.png)

Kind Regards

[2019-08-27 16:12] ShachafGoldstein commented on #61381
You can see here that no updates are available, I believe this is because
of the differences between the updates in windows to how systemcenter
manages them, basically system center only uses the updates api for reports
and deployment but you won't see the updates from the UI.

This is a feature of sccm updates deployment and not a bug.

T deploy updates you wpuld have to use sccm itself or its po

[2019-08-27 16:27] haroonhanif commented on #61381
Thanks ShachafGoldstein,
Could you please recommend as to how we can use ansible to deploy windows updates to servers which don't have internet connection as we are looking to automate the patching setup and rather than pushing updates from SCCM we would like the servers to pull updates from the SCCM server.
Also ansible gives us the option of whitelist and blacklist the updates.

Kind Regards,

[2019-08-27 16:39] ShachafGoldstein commented on #61381
The github issues are for features, bugs, etc.

Please ask on the mailing list or irc for help on the matter.

You could Google to see how it is done in powershell and use that with
proper modules in ansible.

On Tue, Aug 27, 2019, 19:29 haroonhanif <notifications@github.com> wrote:

[2019-08-27 16:40] wmcbroomd2d opened #61394 "ec2_launch_template doesn't accept null for max_price"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cloud/amazon/ec2_launch_template
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Create a launch template with these `instance_market_options`:

[code]

##### EXPECTED RESULTS

The configuration above should work because none of the parameters in `spot_options` are required. AWS allows you to not define a `max_price` in t

[2019-08-27 16:48] IPvSean opened #61396 "ios_l3_interfaces can't do round trip (gather_facts->data model->push back to device) b/c of cidr / notation"
##### SUMMARY
when you gather_facts for ios_l3_interfaces

it will gather the full subnet (e.g. 255.255.255.0 instead of /24)
[code]
but if you push this acquired data model back out, it will do this->
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_l3_interfaces

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[cod

[2019-08-27 17:09] #61218 closed, assigned to nobody

[2019-08-27 17:35] dmp1ce opened #61400 "Snapcraft: Add 'alias'"
##### SUMMARY
Because of naming restrictions on snaps it is sometimes necessary to use an alias for snaps. Right now this can be done by requesting an alias in the snapcraft forum or by setting up an alias in the shell.

- ansible 2.9.9

##### ISSUE TYPE
I would like to propose a snap module addition to support the snap alias commands.

##### COMPONENT NAME
lib/ansible/modules/packaging/os/snap.py

[2019-08-27 17:51] Nothing4You commented on #60502
I guess it's the same issue here: https://docs.ansible.com/ansible/latest/plugins/inventory/vmware_vm_inventory.html

worth noting however is that this one has an edit link at the bottom to the source code which actually works.

[2019-08-27 18:24] dagwieers commented on #52664
@rsmeyers Can you comment on point 1 from https://github.com/ansible/ansible/issues/52664#issuecomment-466546896

[2019-08-27 19:28] #60534 closed, assigned to nobody

[2019-08-27 19:56] mcandre opened #61408 "Keyboard provisioning for inline shell commands"
##### SUMMARY

Legacy targets such as DOS do not support sshd, nor do they provide reliable telnetd access. For these targets, it would be perhaps more convenient to operate the target in a VM, and send provisioning via the hypervisor's keyboard emulator, similar to `boot_command` in Packer scripts.

Could we get a similar mechanism for Ansible, that would plugin naturally to Vagrantfile's, allowi

[2019-08-27 20:16] axarriola opened #61410 "delegate_to with httpapi plugin does not use all necessary facts"
##### SUMMARY

When a host connection uses  httpapi connection plugin with variables like ansible_httpapi_use_ssl specified in the inventory, and that host is delegated a task, it does not evaluate the facts values to make the connection and uses the default values.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

connection/httpapi.py
httpapi/ftd.py

##### ANSIBLE VERSION

[code]

##### CONF

[2019-08-27 20:27] boustrophedon opened #61411 "openssh_keygen does not set permissions correctly on public key"
##### SUMMARY
In the openssh_keypair module, `set_fs_attributes_if_different` is not called on the public key, so the owner and group do not get set on the .pub file containing the public key.

I haven't tested it or reasoned about the code, but this may only occur when trying to run the task when the public key already exists.

<https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cr

[2019-08-27 20:36] #60517 closed, assigned to nobody

[2019-08-27 20:39] #60520 closed, assigned to nobody

[2019-08-27 20:43] #60532 closed, assigned to nobody

[2019-08-27 21:01] ei-grad opened #61413 "redis cache plugin broken"
Adding the `fact_caching = redis` to `ansible.cfg` makes ansible to print warning:

[code]

[2019-08-27 21:21] #60522 closed, assigned to nobody

[2019-08-27 22:44] #60989 closed, assigned to nobody

[2019-08-28 01:12] #59465 closed, assigned to mattclay

[2019-08-28 06:35] arkravin opened #61419 "Failed to connect to the host via ssh: bind: Operation not permitted\r\nunix_listener"
##### SUMMARY

Unable to execute an ansible playbook as a non root user. No problems if i execute it as root.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

storage_image_reference {
        publisher = "Canonical"
        offer     = "UbuntuServer"
        sku       = "16.04-LTS"
        version   = "latest

[2019-08-28 07:18] Udayendu commented on #60465
After upgrading the infoblox to 8.3.4 its working fine with ansible 2.5/2.6/2.7 and 2.8 well.

[2019-08-28 07:18] #60465 closed, assigned to nobody

[2019-08-28 07:53] Thulium-Drake commented on #60889
I can confirm that all of the 2.8.x releases have this bug, I have tested with a slightly modified playbook as the one provided above:

[code]

The version of Ansible is in my prompt and I use a script to switch to different virtualenvs.

[code]

[2019-08-28 08:24] HOSTED-POWER opened #61420 "apt_repository does not support remove_others"
##### SUMMARY
Simply allow the remove_others flag like the apt_repo module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
apt_repository

##### ADDITIONAL INFORMATION
We use apt_repository a lot, however sometimes we want to update the repo to support higher version. e.g.

deb https://deb.nodesource.com/node_8.x stretch main
deb-src https://deb.nodesource.com/node_8.x stretch main

Has to

[2019-08-28 08:26] patede opened #61421 "vmware_cluster_ha support for advanced configuration parameters"
##### SUMMARY
The vmware_cluster_ha module should support advanced configuration parameters in a generic way.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_cluster_ha

##### ADDITIONAL INFORMATION
The feature would allow advanced configurations like isolation address handling.

[code]

[2019-08-28 08:34] haroonhanif commented on #61381
Hi ShachafGoldstein,

Thanks for your help,
Could you please tell us what is the use case for the Server Selection option which gives you choices of
- default
- Managed_Server
- Windows update
and it clearly specifies SCCM as shown below.

![image](https://user-images.githubusercontent.com/48482560/63839198-ae5a7b00-c976-11e9-9c09-fcbceabd2ce0.png)
As our production environment has restriction for

[2019-08-28 08:45] sashka commented on #61420
apt_repository works with the repo explicitly passed to the module, so everything else is intact.

The use-case you described may be solved with a playbook, let’s say, upgrade_nodejs.yml to install new apt source and ensure all old versions are removed.

[2019-08-28 08:45] Fred-sun commented on #59880
@yungezz @zikalino

[2019-08-28 08:49] Fred-sun commented on #59916
@yungezz @zikalino

[2019-08-28 08:49] Andersson007 commented on #29066
solved with https://github.com/ansible/ansible/pull/58959

[2019-08-28 08:52] HOSTED-POWER commented on #61420
Thanks for looking into this!

We tried, but we cannot keep track of all versions, for example with varnish we have easily 10 versions and more.

If you can support regex for removal, this could maybe be a solution. However keeping track of any possible version of a software ever released which may or may not exists seems not like an ideal solution unless I'm missing something?

It would be ineffi

[2019-08-28 08:57] Fred-sun commented on #59821
@imjoseangel Welcome to you submission of PR to add this module. When you  submit, I will push the PR to review and merge. Thank you very much!

[2019-08-28 09:08] ShachafGoldstein commented on #61381
This is the original pr that added the support
https://github.com/ansible/ansible/pull/51334

As I said above, sccm handles the updates using wsus but not using regular
update mechanisms I.e your ansible and your server update UI returned the
same expected result. Please read on various web results how to deploy
updates in sccm in a scripted way.

Either way this is not a bug. Please use the maili

[2019-08-28 09:23] jborean93 commented on #61381
Agreed with the above, win_updates just calls the same API as the GUI which as you’ve tested returns no updates available. The module is doing what it should be doing. Please direct further questions to our mailing list or IRC

[2019-08-28 09:23] #61381 closed, assigned to nobody

[2019-08-28 09:48] #29066 closed, assigned to nobody

[2019-08-28 09:52] sashka commented on #61420
It looks like you actually want to manage your `/etc/apt/sources.list.d/node.list` with `template` module and trigger the package upgrade when `node.list` has changed.

[2019-08-28 09:56] HOSTED-POWER commented on #61420
We use template a lot, but what is the purpose of the apt_repository then?

Hence we can template a whole kubernetes config, why would we need any enhanced functions to manage stuff then? Will we solve all our problems from now on with the generic template approach? :)

I don't see how the template is THE solution for our problem, it's just a workaround since this module is unable to setup a clean

[2019-08-28 10:00] #37727 closed, assigned to nobody

[2019-08-28 10:00] Salandora commented on #60889
I experience the same problem with ansible 2.8.4

The workaround to install python-apt is also not working for me.
I did not wanted to redo all the checks I have and therefore came up with this solution for debian:

[code]

This way I can use my default checks without changing them
[code]

Maybe someone else finds this useful even if it looks extremly hacky.

[2019-08-28 10:10] tcraxs commented on #29774
With the PR #54984 this issue has been solved. There are several other option to do it and there is no need to put this option also in this module.
You can use the module `postgresql_owner` like this:
[code]

[2019-08-28 10:10] tcraxs commented on #29774
wontfix

[2019-08-28 10:13] sashka commented on #61420
I’d rather pass this thread to Core Team.

[2019-08-28 10:19] #29774 closed, assigned to nobody

[2019-08-28 10:30] gvanheyst opened #61424 "ACI-NXOS does not accept "terminal" commands"
##### SUMMARY
Accessing ACI-NXOS devices throws an error as the "terminal" commands are not accepted

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- nxos.py
##### ANSIBLE VERSION

[code]
[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Cisco Nexus in ACI Modus
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Run the command as normal

##### ACTUAL RESULTS
[code]

#

[2019-08-28 11:06] Andersson007 commented on #29774
needs_info

[2019-08-28 11:16] Andersson007 commented on #29774
@tcraxs I should check. I recall that there were problems with reassign postgres ownership

[2019-08-28 11:29] #45869 closed, assigned to nobody

[2019-08-28 11:48] Andersson007 commented on #29774
[code]
@tcraxs yep. However we can create temporary user with right privileges, upload a dump by it, then reassign ownership.
Thanks!

[2019-08-28 11:54] Sephtex commented on #50168
Can this issue be raised, we are experiencing a lot of warnings due to duplicate host callback, and it starts to become really a mess in the output.
At this moment it's affected in ansible-2.7 and even in the latest ansible-2.8.5

[2019-08-28 11:58] Sephtex commented on #50168
Can it be the issue is fixed with #34420 in python3?

[2019-08-28 12:35] sumanyunandwani commented on #60087
14316 1566990904.59327 [beta-pcnet1a-smlb]: free host state: HOST STATE: block=2, task=4, rescue=0, always=0, run_state=ITERATING_TASKS, fail_state=FAILED_NONE, pending_setup=False, tasks child state? (None), rescue child state? (None), always child state? (None), did rescue? False, did start at task? False
2019-08-28 11:15:04,593 p=14316 u=user |   14316 1566990904.59338 [beta-pcnet1a-smlb]: free

[2019-08-28 12:36] sumanyunandwani commented on #60087
It got stuck on **debug=true** finally. Kindly see this bug of ansible and help me as soon as possible

[2019-08-28 13:02] nkakouros commented on #18305
Sth else that has happened to me is to have sth like:

[code]

When `linux_cmd` is given that way, the command module silently fails.

[2019-08-28 13:10] jerry8668 opened #61429 "Don't show all instance at "aws_ec2""
##### SUMMARY
I group my all instance to each group by tag so I want to hide all instance listed at "aws_ec2" section

##### ISSUE TYPE
- New feature

##### COMPONENT NAME
"aws_ec2" inventory plugin

##### ADDITIONAL INFORMATION
Hide all instance listed at "aws_ec2" section

[code]

[2019-08-28 13:20] rlueckl commented on #57970
I've had the same issue, so I made a PR. Should be pretty easy to merge. /cc @tcicone @samdoran

[2019-08-28 13:27] #61236 closed, assigned to jillr

[2019-08-28 13:38] janrv opened #61433 "aruba_command/aruba_config modules results in socket timeouts"
Hello,

COMPONENT NAME

aruba_command
aruba_config

ansible version

ansible 2.5.1

I'm trying to automate deploying Aruba IAP's (305) for our office locations via Ansible.
My playbook is rather simple so far:

- hosts: all
  #become: yes
  connection: network_cli
  become_method: enable
  gather_facts: no
  vars:
    ansible_network_os: aruba

  tasks:

    - name: show version
      aruba_comman

[2019-08-28 13:40] justjais commented on #61410
cc. @annikulin can u please look into this issue and update, thanks!

[2019-08-28 13:43] NilashishC commented on #61326
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-network on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us

[2019-08-28 13:43] #61326 closed, assigned to nobody

[2019-08-28 13:44] NilashishC commented on #61311
Resolved by #61313

[2019-08-28 13:44] #61311 closed, assigned to nobody

[2019-08-28 13:52] NilashishC commented on #61229
The recent runs did not seem to have this failure. Lets keep an eye on the periodic runs just to be on the safer side.

[2019-08-28 13:56] iturovsky opened #61434 "win_package does not use literal path for product_id/creates_path verification"
##### SUMMARY

In some cases package has product_id in form of arbitrary string instead of guid , see 7-Zip in example https://docs.ansible.com/ansible/latest/modules/win_package_module.html.
If this string contains wildcard characters, win_package will not be able to see that package is already installed either with _product_id_ or _creates_path_ parameters

##### ISSUE TYPE
- Bug Report

##### C

[2019-08-28 13:57] sreber84 opened #61435 "k8s module does not honor validate_certs and ca_cert"
##### SUMMARY
The `k8s` module offers configuration of `ca_cert` and `validate_certs` to address certificate chain not available in the systems default trust store. Unfortunately setting `ca_cert` and/or `validate_certs` does not have any effect as the values are not picked up by the underlying tooling.

Applying a fix such as shown below allows the usage of `ca_cert` and `validate_certs` and prev

[2019-08-28 14:03] NilashishC commented on #60662
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2019-08-28 14:03] #60662 closed, assigned to nobody

[2019-08-28 14:08] NilashishC commented on #60591
Can you update the prompt to `Do you want to proceed` and try running this again?

needs_info

[2019-08-28 14:10] #22562 closed, assigned to nobody

[2019-08-28 14:15] NilashishC commented on #59263
Could you please try to use the `ios_logging` module to accomplish the mentioned task and see if it works?

needs_info

[2019-08-28 14:19] bogomips commented on #49135
Hi all, this is happening again

[2019-08-28 14:34] Qalthos opened #61441 "Documentation of command suboptions in networking command modules is suboptimal"
##### SUMMARY

We get a lot of issues with the `prompt` suboption on `[netos]_command` modules, and I think this has to do with the option being lightly documented at best.

* Should we change from `prompt` to `prompt_regex` or similar? A lot of prompts end with default values in brackets that make it hard to easily capture the prompt
* Alternately, is it possible to make prompt regex matching tog

[2019-08-28 14:34] mrhockeymonkey commented on #59795
Hey @jborean93 thanks for the insight. Seems like a reasonable approach. I guess whether to pursue an alternative or not depends on if the overall goal would be to get ansible supporting JEA "RemoteResticted" runspaces which may be a big ask. We found recently that with the way we had JEA setup a user could quite easily bypass the set of commands we had whitelisted by creating and running a script

[2019-08-28 14:42] dwerder opened #61443 "Ansible 2.8: ansible_distribution_major_version return 4 on oVirt server based on CentOS 7"
##### SUMMARY
Ansible 2.8 return total different values for ansible_distribution_*
I have no way to find out which CentOS version I have on oVirt servers. Because the oVirt version is return as OS version.

Thats frustrating, because roles which configure repository or install specific packages depend on ansiblbe_distribution_version. Returning 4.2 on a CentOS 7 system is awkward. And there is no

[2019-08-28 14:43] mart3051 opened #61445 "gcp_compute_instance_group is not working with instances"
##### SUMMARY

gcp_compute_instance_group is failing with below playbook.
However it works if in instances the format is selfLink: <<hard coded link>>

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance_group
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ununtu 19.04

##### STEPS TO REPRODUCE

Try the below playbook with -vvv option

[co

[2019-08-28 15:41] JonnyJD opened #61457 "uninstalled locale with UTF-8 encoding is set to C (ASCII) by ansible"
##### SUMMARY
The user running ansible (client system) has some locale set.
For this example I take ```LC_ALL=de_DE.UTF-8```.
Note that this locale includes UTF-8 as encoding, as is something like a "current default" and important for any scripts not only using ASCII characters.

The server also has some (different, but UTF-8) encoding set, for example: ```en_GB.UTF-8```

The locale "survives" ssh

[2019-08-28 15:47] #58832 closed, assigned to samccann

[2019-08-28 15:50] acozine opened #61459 "Refine CSS for docsite, prepare for future theme upgrades"
##### SUMMARY
Follow-up to #61189 and #58832.

Make sure all Ansible-specific CSS is separated from the underlying Sphinx theme. Then re-minify the CSS for the docsite.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.comb

##### ANSIBLE VERSION
2.9

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

[2019-08-28 15:56] nitzmahone opened #61460 "False positive on required-and-default-attributes sanity test"
##### SUMMARY
The required-and-default-attributes sanity test is somehow giving a false positive on a FieldAttribute that only specifies `default`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
required-and-default-attributes sanity test

##### ANSIBLE VERSION
2.9.0.dev0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Add a `default` to the collections FIeldAttribute

[2019-08-28 16:00] JonnyJD commented on #61457
For reference, this is a typical error running ``ant`` via ansible (with non-ASCII in files and no explicit encoding set):
[code]
Running ant is not part of the test playbook above, but running ant with the setup above boils down to
[code]
Similar when running javac directly with LC_ALL=C (as set by ansible).

[2019-08-28 16:10] nmshadey commented on #61005
I can confirm and I am having the same issue:

ansible 2.8.3
  config file = /home/gavin/projects/vaf/ansible.cfg
  configured module search path = ['/home/gavin/projects/vaf/library', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/gavin/python-env/ansible-2.8.3/lib/python3.6/site-packages/ansible
  executable location = /home/gavin/python-env/ansible-2.8.3/bin/ansi

[2019-08-28 16:35] gvanheyst opened #61473 "OpenSSL_CSR: Add custom OIDs to CSR"
##### SUMMARY
I would like to add custom OIDs to OpenSSL_CSR.
Particularly focussing on OIDs that are transient like the "challengePassword" (OID 1.2.840.113549.1.9.7) for example.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- ansible/modules/crypto/openssl_csr.py
_(i guess)_
##### ADDITIONAL INFORMATION
It would help with auto-enrollment of certificates using NDES or Puppet extensions.

[2019-08-28 17:04] #60565 closed, assigned to nobody

[2019-08-28 17:17] alexLorsung opened #61475 "Problem completing Ansible Tower 3.1.5 install"
OS: Centos 7.5
Ansible version: 2.8.4
Ansible Tower Community version: 3.1.5

Trying to install Ansible Tower with a Single VM installation scenario

The setup goes through installing Ansible, postgres, rabbitmq and configuring all of that. The setup.sh script runs until it gets to the following line:

**TASK [awx_install : Migrate the Tower database schema (may take awhile when upgrading).] *****

[2019-08-28 17:27] nmshadey commented on #61005
@goneri That is exactly the issue and I earlier used all settings and it worked fine. So looks like #59546 is exactly what is required. Thanks.

[2019-08-28 17:53] #61244 closed, assigned to Qalthos

[2019-08-28 17:53] mariolenz commented on #61421
I'm not sure if I understand what you mean with "in a generic way". Do you mean that, if a new vSphere version has a new parameter like das.foo, you would automatically be able to do something like:

[code]

without changes to the module? I don't think this is possible. As far as I know, ansible wants to know the type of a parameter; i.e. you have to define it explicitly. I think you could do some

[2019-08-28 18:04] Cherishty opened #61478 "AttributeError: 'ShellModule' object has no attribute 'ECHO'"
##### SUMMARY

same issue as [this](https://github.com/ansible/ansible/issues/59173) when gathering info in controlling windows machine
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

ansible 2.8.4
  config file = /root/kubernetes-engine/output/ansible/ansible.cfg
  configured module

[2019-08-28 18:06] Cherishty commented on #61478
@jborean93 what's your solution provided in [here](https://github.com/ansible/ansible/issues/59173), may you give some details?

[2019-08-28 18:20] mart3051 commented on #61445
The playbook may create multiple instances however for this case I have limited it to single instance and it didn't work

[2019-08-28 19:00] #61478 closed, assigned to nobody

[2019-08-28 19:01] #60519 closed, assigned to nobody

[2019-08-28 19:28] patede commented on #61421
According to https://kb.vmware.com/s/article/2033250 there's a quite big list of HA related options. Going with named parameters and implement all the magic is a lot of work and might result in harder maintenance of the module.

[2019-08-28 19:36] patede commented on #58568
Thanks for your investigation. I'm going to submit a bug report to Supermicro.

[2019-08-28 19:36] #58568 closed, assigned to nobody

[2019-08-28 19:59] sumanyunandwani opened #61486 "Ansible-playbook getting into infinite loop due to strategy free"
##### SUMMARY

Ansible-playbook getting into infinite loop randomly in the file /plugins/strategy/free.py.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Command: Ansible-playbook {{ playbook_name }}

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

My System - CentOS Linux
Remote Device - FreeBSD

##### STEPS TO REPRODUCE

1. Run ansible-playbook multiple

[2019-08-28 20:03] sumanyunandwani commented on #61486
!component

[2019-08-28 20:22] mariolenz commented on #61421
OMG! Honestly, I thought there were a lot less HA advanced settings. This changes things a bit. I think I'll need to have a closer look at this.

[2019-08-28 20:38] IPvSean opened #61490 "dict order matters for eos_l3_interfaces data model"
##### SUMMARY
it appears we will always say *changed* and issue commands if the order is not the same as the read in data model

to be more specific->
[code]

will be treated differently than
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_l3_interfaces

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
this Ansible Pl

[2019-08-28 21:01] rafiddewan opened #61492 "Cannot update role assignment"
##### SUMMARY
When changing the assignee for the role it does not update

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_roleassignment

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Cent OS 7
##### STEPS TO REPRODUCE

Run the playbook file and then it should run the roles and set the facts for the vars in azure_rm_roleassignment

**PLAYBOOK**
[co

[2019-08-28 21:12] #59405 closed, assigned to samdoran

[2019-08-28 21:56] felixfontein commented on #60514
@zikalino @smile37773 Currently, `azure_rm_availabilityset_facts` has been renamed to `azure_rm_availabilityset_info`, but that module **still returns `ansible_facts`** when called as `azure_rm_availabilityset_info`! `_info` modules **must not** return `ansible_facts`.

[2019-08-28 22:29] slammin commented on #59263
I can successfully use the ios_logging module to attempt the removal of a logging server that doesn't exist and Ansible doesn't error out.

This is an option, but requires a longer playbook to split up the tasks.

[2019-08-28 22:50] TrentonAdams opened #61497 "placing empty --extra-vars results in error"
##### SUMMARY
I don't even know if this is worth fixing, but it did cause me an issue.

`--extra-vars ' '` now throws an error when it never used to.  I'm essentially doing this in a script...

`--extra-vars "$extra_vars $vmware_restore"` which results in a space when both are empty.

`--extra-vars ''` with no space, works fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible playbook

[2019-08-28 23:18] JacobHenner commented on #61230
I'm currently working on this and expect a PR to be released within the next few days.

[2019-08-28 23:28] #50072 closed, assigned to nobody

[2019-08-28 23:28] #53944 closed, assigned to nobody

[2019-08-28 23:31] #59464 closed, assigned to nitzmahone

[2019-08-28 23:59] magick93 commented on #24035
I'm also getting this error.

[code]

## ansible.cfg

[code]

[2019-08-29 00:26] srajtiwari opened #61503 "Provide a way to set infinite timeout when using async_status"
##### SUMMARY
Provide a way to set infinite timeout when using "async_status". For the "async_status" module, retries defaults to 3 retries if omitted. The is no way to set async_status to keep retrying until the job is finished.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
async_status

##### ADDITIONAL INFORMATION

This feature will be used for kicking off multiple long running jobs as

[2019-08-29 00:58] jborean93 commented on #61503
While it would be nice to not have to do the calculation you do set the upper bound limit when starting the async task itself. The value of `async: ` is the time in seconds that the task can run for, just make sure your delay/retries match that limit and you should be good to go.

[2019-08-29 02:15] #60218 closed, assigned to mattclay

[2019-08-29 02:55] armorsun commented on #57342
Is there any update or release date for Ansible python3 PPA ?

[2019-08-29 03:08] Fred-sun commented on #59496
@MyronFanQiu @yungezz @zikalino Please take a look this issue when you're free! Thank you very much!

[2019-08-29 05:02] #60674 closed, assigned to ganeshrn

[2019-08-29 06:05] ianw opened #61513 "hostvars not set with implicit localhost"
##### SUMMARY

The following

[code]

If I run it with an explicitly empty inventory like

[code]

I get the following (where I see the warning about implicit localhost)

[code]

However, if I change the inventory to

[code]
(or, indeed run it via ```$ ./ansible-env/bin/ansible-playbook -i 'localhost,'  ./test.yaml```) then accessing ```hostvars``` works OK.

Ergo, it seems that ```hostvars``` isn

[2019-08-29 06:14] Cherishty commented on #61478
Hi @sivel , following your advice, I update add the `become_method: runas` in **group/all**, as well as b`ecome_method = runas ` in **ansible.cfg** but still not work, do you have any hint?

Thanks a lot!

[2019-08-29 06:19] Fred-sun commented on #61492
@MyronFanQiu Can you take a look this issue? I try to create role assignment in local machine, but got fail! I will try again! Thank you very much!

[2019-08-29 06:32] Cherishty opened #61514 "AttributeError: 'ShellModule' object has no attribute 'ECHO' when Gathering Facts for windows vm"
##### SUMMARY

same issue as [this](https://github.com/ansible/ansible/issues/59173) when `Gathering Facts` in controlling windows machine
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

ansible 2.8.4
  config file = /root/kubernetes-engine/output/ansible/ansible.cfg
  configured modu

[2019-08-29 06:33] Cherishty commented on #61514
Following @sivel  I get to know it may due to the `become` issue, so update add the `become_method: runas` in **group/all**, as well as b`ecome_method = runas ` in **ansible.cfg** but still not work, do you have any hint?

[2019-08-29 06:40] mart3051 opened #61515 "gcp_compute_backend_service is failing with below playbook"
##### SUMMARY

gcp_compute_backend_service is failing with below error "GCP returned error: {u'error': {u'message': u\"Internal error. Please try again or contact Google Support. (Code: '5913B7676272E.AC29531.6D091185')\", u'code': 503, u'errors': [{u'reason': u'backendError', u'message': u\"Internal error. Please try again or contact Google Support. (Code: '5913B7676272E.AC29531.6D091185')\", u'd

[2019-08-29 06:47] mart3051 commented on #61445
It does not work with that. Below is the o/p
[code]

[2019-08-29 07:25] jborean93 commented on #61514
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-29 07:25] #61514 closed, assigned to nobody

[2019-08-29 07:28] agowa opened #61518 "Add xpath jinja2 filter"
##### SUMMARY
Please add a xpath jinja2 filter

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
jinja2 filter

##### ADDITIONAL INFORMATION
Currently there is only a xml module and the parse_xml filter, but the later one expects a spec file instead of just a plain xpath string.

Using the parse_xml example xml:
[code]
I'd like to be able to do:
[code]
So that I can reference multiple element

[2019-08-29 07:45] Fred-sun commented on #56356
@zikalino

@zikalino Any update? Can you share how the problem is handled? Thanks a lot!

[2019-08-29 07:46] aclaim opened #61519 "Archive: Cyrilic symbols in filenames are incorrect inside archive"
##### SUMMARY
When I create a zip archive with files that has cyrilc symbols in the name Ansible's module Archive creates zip-archive with incorrect non-readable symbols.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module archive

##### ANSIBLE VERSION
2.8.1

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 7

##### STEPS TO REPRODUCE
1. Create a folder with cyrilic filenames (exa

[2019-08-29 07:52] janrv commented on #61433
When I manually log-in to the IAP I get the following:

show tech-support and show tech-support supplemental are the two most useful outputs to collect for any kind of troubleshooting session.

testIAP#

This device is brand new (factory reset), I only changed the hostname to something more readable, standard the hostname is the mac-address of the device

[2019-08-29 08:12] agowa338 commented on #61473
Have you tried using `extendedKeyUsage`? It looks like it should be supported right now, as the values provided are passed directly to the crypto library and they list it as example in there docs: https://www.openssl.org/docs/manmaster/man5/x509v3_config.html#STANDARD-EXTENSIONS

[2019-08-29 08:28] agowa338 commented on #61336
I don't think this is a supported scenario, as supporting the ".exe" extension will add unnecessary complexity. You could workaround this by simply symlinking the binary into wsl `ln -s /bin/VBoxManage /mnt/c/.../VBoxManage.exe`.

[2019-08-29 08:38] Lunik opened #61525 "gitlab modules : Support oauth authentication token"
##### SUMMARY

GitLab API v4 doesn't support login/password support since GitLab 10.2.
However it still support `oauth` token that we can get from login/password

All GitLab modules should support login/password with oauth mechanism.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

gitlab_groups
gitlab_deploy_key
gitlab_hook
gitlab_project
gitlab_project_variable
gitlab_runner
gitlab_user

[2019-08-29 08:50] nitzmahone opened #61527 "Role dep cycle detection broken on Py3.7+"
##### SUMMARY
Ansible's role cycle "detection" relied on the fact that stack overflows were recoverable in Python < 3.7- they'd catch (any old) RuntimeError and display a fatal message that a cycle was detected. This no longer works in 3.7+, and instead results in a crash with SIGABRT.

The recursive role dependency loader needs to explicitly detect cycles. Until then, the unit test for the cycle

[2019-08-29 09:16] mart3051 opened #61529 "gcp_compute_forwarding_rule is fialing with 400, u'message': u\"Invalid value for field 'resource.target'"
##### SUMMARY

gcp_compute_forwarding_rule is fialing with 400, u'message': u\"Invalid value for field 'resource.target'
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_forwarding_rule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 19.04

##### STEPS TO REPRODUCE

Run the playoook segment  with -vvv commmand

[code]

##### EXPECTED RESU

[2019-08-29 09:25] #59463 closed, assigned to nitzmahone

[2019-08-29 09:38] sumanyunandwani commented on #61486
Hi sivel,

I have not provided the whole playbook as it contains critical information.
The major problem here is the infinite loop. I have debugged myself and it's not getting out of this block -

File Name: "free.py"
File Path: ansible/plugins/strategy/free.py
Block Starts: Line 68
Block Ends: Line 163

``
# Block Starts

          while True:
                host = hosts_left[last_host]

[2019-08-29 09:42] fl0gu commented on #52933
I just tested with ansible 2.8.4 it is worst.

I have reproduced the issue with ansible 2.7.5, then upgrade to 2.8.4, and now I am facing this error :

[code]
In 2.8.4, even if the interface is not already created, I see the same error.

[2019-08-29 09:52] agowa338 commented on #61336
And honestly finding host executables from within wsl should be handled by the wsl api (or a patch within the distro) and not by an application running within it.

[2019-08-29 10:39] #61354 closed, assigned to mattclay

[2019-08-29 10:49] agowa opened #61533 "Add line number to TemplateRuntimeError"
##### SUMMARY
Please add the position within the Template file where a TemplateRuntimeError occurred.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
templating engine
template module
jinja2

##### ADDITIONAL INFORMATION
Currently a TemplateRuntimeError does not show the actual position it failed.
For long and complex templates having the actual line number that caused the error will signif

[2019-08-29 11:14] duck-rh opened #61534 "new interpreter discovery does not support non-RH distros"
##### SUMMARY
On Debian stable I was astonished to find the feature was fallbacking to binary discovery. After looking at the code I found out except from Ubuntu only Red Hat distributions are supported.

As a fellow Red Hatter I would like to point out this sends a very strong message that Red Hat is not working hand in hand with the community but only for its own products. As a former consultant

[2019-08-29 11:32] Yannis100 opened #61535 "ios_facts 2.9 - gather_subset min"
##### SUMMARY

Following merge of #59716 revamping ios_facts module, the doc states the 'min' subset in examples but it's not defined in 'Documentation' supported options.
And in module_utils/network/ios/facts/facts.py ; the dict FACT_LEGACY_SUBSETS doesn't mention this 'min' subset.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

ios_facts module

##### ANSIBLE VERSION

[code]

##

[2019-08-29 11:54] Kevin-De-Koninck opened #61537 "Fail on skipped tasks"
##### SUMMARY

When running certain tasks that should be skipped in the playbook, a fatal error will be generated instead of skipping it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

1. Create the playbook file as `playbook.yml` (see below).
2. run `ansible-playbook playbo

[2019-08-29 11:55] Kevin-De-Koninck commented on #61537
If it is fixed in `2.9`, is there a workaround for `2.8.4` or lower?

[2019-08-29 12:08] #54996 closed, assigned to nobody

[2019-08-29 12:18] agowa opened #61539 "allow ipaddr to be used with reject"
##### SUMMARY
allow ipaddr to be used together with reject or add the workaround with differences to the docs.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ipaddr
reject

##### ADDITIONAL INFORMATION
###### NOT WORKING EXAMPLE
Templating this jinja2 expression:
[code]

###### EXPECTED RESULTS
All hostnames only hostnames being returned as a list and all ip addresses being removed/filtere

[2019-08-29 12:25] justjais opened #61540 "iosxr_l3_interfaces zuul tests failing intermittently for different python run"
##### SUMMARY

iosxr_l3 zuul tests failing intermittently for different python run, ref: [link](https://github.com/ansible/ansible/pull/60464#issuecomment-526153103)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

iosxr_l3_interfaces
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

zuul

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Tests should

[2019-08-29 12:29] Rajinikamu84 opened #61541 "azure_rm_deployment module invokes different API version For NiC creation"
##### SUMMARY

For some reason, "azure_rm_deployment" module is using API version "2017-11-01" which is not mentioned anywhere in ARM template file and in a playbook.

##### ISSUE TYPE
- Bug Report

"We are deploying a Azure resource using ARM template file and the playbook execution is failed while creating network interface. also we cannot move to other tasks defined in the playbook

But when we

[2019-08-29 12:35] mvorisek commented on #58868
For OpenVZ, Docker, etc. containers all standard restaring commands work out of the box.

The only issue is the command to detect that the system has rebooted.

Would it be possible to solve this issue by adding an Ansible `boot_time_command` option which can be freely specified by the user? If a non-empty value is specified, it will override the default boot time detection command. If none or an

[2019-08-29 12:45] rsmeyers commented on #52664
Agree, we should add this in aci_interface_policy_leaf_policy_group

[2019-08-29 12:57] suprith4989 opened #61544 "Podman_image module couldn't pull the image from a configured repo"
##### SUMMARY

Failed to pull fedora image as repo was not found, totally expected, with below output:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: RHEL-7.6
Podman version: 1.4.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The image should have been pulled successfully as the manua

[2019-08-29 13:01] #55838 closed, assigned to Qalthos

[2019-08-29 13:09] sivel commented on #61486
You have omitted the task that is stuck in the loop.

[2019-08-29 13:11] LucasBoisserie opened #61546 "Helm module replacement"
##### SUMMARY
This is a proposal to a new helm module

Why a new module:
- security improvement: In order to use the current helm module you need to expose your tiller to the outside world, which is both insecure and completely unnecessary: #32513
- Current helm module is not compatible with helm 3 (already in beta) by design because it doesn't work without tiller which has been removed in helm 3

[2019-08-29 13:14] Yannis100 opened #61547 "_net_logging and ios_logging dest: file"
##### SUMMARY

In net_logging documentation examples, 'file' is used as 'dest:' but not mentioned in parameters choices
In ios_logging, the parameter 'name' says "If value of dest is file it indicates file-name" but again 'file' is not stated as a valid 'dest' choice.
I can update the doc for net_logging as it seems file is a valid choice because it is used in examples but for ios_logging, I'm not

[2019-08-29 13:17] resmo commented on #53916
resolved_by_pr #61090

[2019-08-29 13:22] willianccs opened #61548 "Region option to use with gcp_compute_instance_group_manager_facts"
##### SUMMARY
I trying to get a list of my instance group managers on all zones, but regional instance groups won't show.

##### ISSUE TYPE
- Module option "region".

##### COMPONENT NAME
gcp_compute_instance_group_manager_facts
gcp_compute_instance_group_manager_info

##### ADDITIONAL INFORMATION
Get instance group manager for a regional (multi-zone) instance group manager.

ansible 2.8.2
  pytho

[2019-08-29 13:23] chkp-orso opened #61549 "replace inner params to contain '-' instead of '_' and get relevant error for the user"
##### SUMMARY

replace inner params to contain '-' instead of '_' and get relevant error for the user
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

checkpoint
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-08-29 13:27] sandrobonazzola commented on #60380
Any reviewer here? Having Fedora and EPEL builds which doesn't match what is being tested nightly here means that systems in production may behave differently. Either the spec file within ansible project or the spec file in the downstream Fedora and EPEL should be changed to ensure that what's being tested is what end users will get.

[2019-08-29 13:30] cyprix commented on #60751
@rosmo is any update with this issue?

[2019-08-29 13:30] geerlingguy opened #61550 "ansible-test not finding roles in collections anymore"
##### SUMMARY

I have made no changes to my collection (geerlingguy.php_roles). Six days ago the CI tests passed without issue. Today I noticed the test structure changed (`test` directory is now `tests`), so I simply did a `mv test tests` and when the CI build ran, it picked up the tests as usual, but now I'm getting the following error about my collection role not being found:

[code]

I made no

[2019-08-29 13:31] justjais commented on #61549
Fixed in PR #61542

[2019-08-29 13:31] #61549 closed, assigned to nobody

[2019-08-29 13:34] hyperized commented on #57040
@renni It's been a while, but I finally got the time to sit down and have a proper look at this. However I simply cannot reproduce this issue with the versions mentioned above. Feel free to replicate my work:

`Dockerfile`:
[code]

`bintray.rabbitmq.list`:
[code]

`hosts`:
[code]

`playbook.yml`:
[code]

I built this using:
[code]

The output I get:

[code]

Unless you have any other additional in

[2019-08-29 13:35] hyperized commented on #57040
notabug

[2019-08-29 13:36] geerlingguy commented on #61550
I tested this locally too, where I can verify the path to the collection is exactly:

    ~/.ansible/collections/ansible_collections/geerlingguy/php_roles

I get the same error:

[code]

[2019-08-29 13:47] geerlingguy commented on #61550
Running a `git bisect` locally:

[code]

[2019-08-29 14:06] AlanCoding opened #61553 "Dead docs link to galaxy settings"
##### SUMMARY
https://github.com/ansible/ansible/blob/6ad40fd6b8b6319f9f3fff7bc6f854e951a82396/docs/docsite/rst/reference_appendices/galaxy.rst#L30-L31

in the text

The word "Galaxy Settings" links to `/docs/docsite/rst/reference_appendices/intro_configuration.html#galaxy-settings`, which does not exist.

~Perhaps it should link to https://github.com/ansible/ansible/blob/6ad40fd6b8b6319f9f3fff7bc

[2019-08-29 14:09] hyperized commented on #60263
Hi @TiJof

I seem to be unable to reproduce this, when given:

`Dockerfile`:
[code]

`bintray.rabbitmq.list`:
[code]

`hosts`:
[code]

`playbook.yml`:
[code]

I built this using:
[code]

The output I get:

[code]

[2019-08-29 14:10] hyperized commented on #60263
needs_info

[2019-08-29 14:14] #53916 closed, assigned to nobody

[2019-08-29 14:14] #60515 closed, assigned to nobody

[2019-08-29 14:17] bcoca commented on #61534
I think you are misreading the feature, 'binary discovery ' IS the main way to do things, the issue is that some distros (RHEL, Ubuntu) have special cases that need to be accounted for and cannot use binary discovery to get the 'correct python'.  There are probably more cases but we have not encountered them yet, as they appear they will be added as special cases also.

[2019-08-29 14:18] AlanCoding commented on #61553
It looks like the new link is maybe https://github.com/ansible/ansible/blob/66f52b74b1e0a5656677951695442ae074a1ce6d/docs/docsite/rst/dev_guide/collections_tech_preview.rst

[2019-08-29 14:20] Yannis100 opened #61554 "ios_lldp_global 'enable' or 'run' parameter"
##### SUMMARY

In new ios_lldp_global documentation, examples use 'run' parameter and value to boolean (True), in Parameters, only 'enable' is stated with values 'yes' or 'no'

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

ios_lldp_global

##### ANSIBLE VERSION

[code]

##### ADDITIONAL INFORMATION

I haven't checked the code yet but I assume the example is correct, so either we c

[2019-08-29 14:54] jghal commented on #60153
I'm having this issue with Ansible 2.8.4 as well. Is there a certain version of azure-cli known compatible with `ansible[azure]`/`requirements-azure.txt`?

[2019-08-29 14:56] #45407 closed, assigned to nobody

[2019-08-29 15:16] abenokraitis commented on #61296
AFAIK there are no plans from F5 to update their modules using the newer connection plugins, but @wojtek0806 (F5 modules maintainer) can confirm.

[2019-08-29 15:29] Yannis100 opened #61559 "Automate checks validity of modules examples / parameters"
##### SUMMARY

I noticed a few mistakes in the documentation of multiple network (and ios) modules, sometimes in the examples and sometimes in the parameters
I can see quite a few other issues for other modules regarding documentation errors (#53854, #45734, #33529, #35295)

My feature idea is an automated basic check of the validity of the examples, I'm still not familiar with the test system of

[2019-08-29 15:31] kevinwsin opened #61560 "ecs_service module should include tags and propagateTags fields"
##### SUMMARY
The ecs_service module should include tags and propagateTags fields.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ecs_service

##### ADDITIONAL INFORMATION
The ecs_service module should include tags and propagateTags fields as specified here: https://docs.aws.amazon.com/AmazonECS/latest/userguide/service_definition_parameters.html

[2019-08-29 15:32] ldynia commented on #61235
The error related to PAM permissions on my server not to the ansible per se. Thus, I am closing the issue.

[2019-08-29 15:32] #61235 closed, assigned to nobody

[2019-08-29 15:37] jghal commented on #60153
to expand, I see compatibility issues with azure-mgmt-network v4.0.0, namely that `_network_management_client` has no `VERSION` attribute. However looks like maybe `azure_rm_common.py` had that fixed on devel branch a few minutes ago.

[2019-08-29 15:51] abadger commented on #60380
Do you also need to build on RHEL8?  The Ansible Engine packages for RHEL8 do not include python-jmespath as a dependency because RHEL8 no longer ships that package so you'd probably want to add the dependency to your packages if you need that functionality.

I'm looking into syncing the upstream rpm and debian packages with Ansible Engine's spec file now.  After that, I'll look at whether there's

[2019-08-29 15:56] seraphire commented on #10374
The best hack I have found (so far) to evaluate the lowest child would be to use:

`my_role_path: "{{ playbook_dir }}/roles/{{ role_name }}"`

I haven't tried nesting it, but it is at least resolving to the current child (I'm only one level deep at this point.)

[2019-08-29 15:59] stawii commented on #36806
I would love to see this also in `include_role` and maybe for all other tasks/actions.
I don't see a reason why is this feature is limited only for plays.
There are many vars that are global enough to pass them here and there without need to copy-paste, but not so generic to put them inside inventory itself or extra_vars.

[2019-08-29 16:01] willianccs commented on #61548
ansible 2.8.2

[2019-08-29 16:06] geerlingguy commented on #61550
Detailed steps to reproduce:

  1. Verify I'm on head of master on `php_roles` repo
  2. Verify Ansible repo is on head of devel
  3. `git reset --hard 5434bf74c6` on Ansible repo
  4. `. hacking/env-setup` on Ansible repo
  5. cd back to php_roles repo, `mv tests test`
  6. Run `ansible-test integration --docker geerlingguy/docker-centos7-ansible`
  7. It succeeds.
  8. Check out any later commit

[2019-08-29 16:20] Nothing4You commented on #60502
@bcoca do you want a different issue for the plugin then or still track it here?

[2019-08-29 16:21] duck-rh commented on #61534
@bcoca the documentation along with the warning make it look like this is a problem to rely on the fallback. In the code also it just says it is a mapping, not a list of exceptions.

If this the way then I don't think issuing a warning by default is the best solution because most of the time it is interpreted as you probably got it wrong. Also, in most distros at least, the default interpreter is

[2019-08-29 16:45] mattclay commented on #61550
I've narrowed the issue down to the files in the submodules not being included in the working file list. I'm actually surprised submodules were working before https://github.com/ansible/ansible/pull/61248. I'll provide further updates when I learn more.

[2019-08-29 16:49] Cherishty commented on #61514
It works! much of thanks:)

[2019-08-29 16:50] bcoca commented on #61534
No, its not a question of the fallback, its a question of relying on discovery at all, you are mixing concepts.

cc @nitzmahone

[2019-08-29 16:56] mattclay commented on #61550
The issue is that the git source provider doesn't understand submodules. So when it enumerates available files, it sees the submodules as files instead of seeing the files inside them. This worked by accident with `--docker` because the tar creation automatically included all the files in those directories, but this was purely by accident. #61248 fixed that bug, which broke submodules.

[2019-08-29 17:33] adharshsrivatsr commented on #60224
@Wiston999 Is that supposed to be the nxos_vrf module in the Steps to Reproduce section? It is mentioned as nxos_static_route in that example. nxos_static_route does not have those parameters

[2019-08-29 18:10] geerlingguy commented on #61550
I can confirm PR #61564 fixes this issue - thank you for your help!

[2019-08-29 18:41] imjoseangel commented on #59821
Thanks @Fred-sun , PR Created. Let's work on it and see if we can add tests with your help.

The module allows SP names or SP Object ID and all the scenarios are covered. Also there is an exception if the dir doesn't exist. The rest of the params are checked on module_arg_spec.

Regards

[2019-08-29 19:10] bcoca commented on #60035
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `any_errors_fatal` applies to TASKs, not loop iterations, since `failed_when` can change the 'global result of the task' vs what ha

[2019-08-29 19:10] #60035 closed, assigned to nobody

[2019-08-29 19:15] mikewiebe opened #61568 "net_put and possible other action plugins broken in devel"
##### SUMMARY
The `net_put` action plugin and likely other action plugins that use the `network_cli` connection plugin in the latest devel branch.

I tracked the problem to the following commit:

https://github.com/ansible/ansible/commit/7d3c4a88823846cbcea7c61de38658a6d63d4265

If I checkout the commit that immediately precedes this commit the module functions properly.

Note: This also impacts t

[2019-08-29 19:20] bcoca commented on #61233
afaik the templates are still recursively evaluated, can you give clear example of before/after behaviour that you think has changed?

FYI, include itself has a lot of weird behaviour and might not be the best example.

needs_info

[2019-08-29 19:21] #61550 closed, assigned to mattclay

[2019-08-29 19:27] bcoca commented on #61264
changed to docs issue because this is expected , the 'validate' string goes through python formating to subsitute `%s` for the temp file name, the `%m` needs to be properly escaped or it breaks formatting.

We will update documentation to ensure this is clear.

[2019-08-29 19:28] bcoca commented on #61268
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Ansible avoids using the current working directory (CWD) by design, any relative paths in the play will be calculated as relative to th

[2019-08-29 19:28] #61268 closed, assigned to nobody

[2019-08-29 19:32] bcoca commented on #61285
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Shell and Command always return 'changed' by default, as the assumption is we ran an external '
shell or command' that affected change

[2019-08-29 19:32] #61285 closed, assigned to nobody

[2019-08-29 19:41] felixfontein opened #61569 "Some azure _info modules still return ansible_facts when called as _info"
##### SUMMARY
Some of the modules still return something in `ansible_facts`, even though the result in there is an empty list:
 - ~~`azure_rm_publicipaddress_info`~~
 - ~~`azure_rm_networkinterface_info`~~
 - `azure_rm_storageaccount_info`
 - `azure_rm_virtualmachineimage_info`
 - `azure_rm_virtualmachinescaleset_info`
 - `azure_rm_virtualnetwork_info`

Finally, `azure_rm_resourcegroup_info` alway

[2019-08-29 19:49] bcoca commented on #61419
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-29 19:49] #61419 closed, assigned to nobody

[2019-08-29 19:54] bcoca commented on #61475
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the OSS version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2019-08-29 19:54] #61475 closed, assigned to nobody

[2019-08-29 20:00] s-hertel commented on #61413
In addition to setting `fact_caching = redis` in ansible.cfg you'll need to configure _uri (the fact_caching_connection setting in ansible.cfg or the ANSIBLE_CACHE_PLUGIN_CONNECTION environment variable). For the redis plugin this will be a host:port:database value. For example:
[code]

[2019-08-29 20:09] bcoca commented on #61413
closing as per above, the warning is explaining you need to also set the `_uri` parameter, one way to do that is with `fact_caching_connection` as shown above

[2019-08-29 20:09] #61413 closed, assigned to nobody

[2019-08-29 20:20] sourcejedi commented on #61233
Ok, I edited the issue text to copy the example inline.  Hopefully this is clearer and self-contained now.  I didn't copy it originally because of the effort (I don't have a way to copy the Markdown from the original issue).  I also thought the original reference was interesting, to see that the behaviour appears to have changed.

Note the example doesn't use Ansible `include`.

[2019-08-29 20:25] pilarragorri opened #61571 "settingsVersion not implemented on gcp_sql_instance"
##### SUMMARY

The setting settingsVersion is mentioned on the documentation but is not implemented on the actual module
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_sql_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.3 LTS

##### STEPS TO REPRODUCE

Try to use the gcp_sql_instance module to create a REGIONAL sql instance type

[2019-08-29 20:28] goneri commented on #60401
resolved_by_pr #60679

[2019-08-29 20:29] goneri commented on #60401
Could you please also try https://github.com/ansible/ansible/pull/60679?

[2019-08-29 21:07] kenyon commented on #57048
Looks like this should be closed then, since this was fixed in release 2.8.1?

[2019-08-29 21:10] abadger commented on #60380
To clarify my last statement... the *RHEL7* nightly builds will gain those dependencies because Ansible Engine on RHEL7 is getting those packages from RHEL7 base. But if you want to function on RHEL8 as well, you'll need to specify those additional dependencies in your own packages.  (We don't currently publish RHEL8 nightlies but we will start once CentOS8 is released)

[2019-08-29 21:41] abadger commented on #59988
This has been designated a bugfix.  to be fixed before rc1.  @nitzmahone is working on this.

[2019-08-29 21:44] abadger commented on #61194
@pabelanger https://github.com/ansible/ansible/pull/60420 has been merged.  Can this be closed?

[2019-08-29 21:47] pabelanger commented on #61194
It can, thanks!

[2019-08-29 21:47] #61194 closed, assigned to nobody

[2019-08-29 21:52] magick93 opened #61574 "Vmware vmware_guest fails on python 3"
##### SUMMARY
Using the `vmware_guest` module with python 3 results in `The error was: ModuleNotFoundError: No module named 'pyVim'` error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`vmware_guest`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expect it to not error

##### ACTUAL RESULTS

[2019-08-29 22:02] abadger commented on #57542
The severity of this bug has been downgraded from P2 to P3.  so it no longer blocks the 2.9.0 release.

[2019-08-29 22:10] nitzmahone commented on #60255
Fixed in #60682

[2019-08-29 22:10] #60255 closed, assigned to nitzmahone

[2019-08-29 22:25] magick93 opened #61576 "ANSIBLE_PYTHON_INTERPRETER and interpreter_python var ignored"
##### SUMMARY
Due to #61574 I'm unable to use python 3, which means I need to tell ansible to use py 2x. Doing this appears to be buggy.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

18.04.3 LTS (Bionic Beaver)

##### STEPS TO REPRODUCE

ansible.cfg is same directory as actively run playbook

[2019-08-30 00:00] akira6592 opened #61580 "counter_enabled callback plugin doesn't show loop task log"
##### SUMMARY

When I use counter_enabled callback plugin, it doesn't show loop task log.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

counter_enabled callback plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-08-30 03:59] ganeshrn commented on #59038
Will close the issue as the docs PR is already merged to devel and will be available in Ansible 2.9 version.

[2019-08-30 03:59] #59038 closed, assigned to ganeshrn

[2019-08-30 04:53] felixfontein commented on #60514
All modules have been renamed. For remaining issues, see #61569.

[2019-08-30 04:53] #60514 closed, assigned to nobody

[2019-08-30 04:53] felixfontein commented on #57275
All modules have been renamed. For remaining issues, see #61569.

[2019-08-30 04:53] #57275 closed, assigned to nobody

[2019-08-30 04:55] #60537 closed, assigned to nobody

[2019-08-30 05:02] jborean93 opened #61587 "Windows Server 2016 in CI Slowness"
##### SUMMARY
Server 2016 in CI is running quite slow due to an OutOfMemory issue that causes a delay in it being online and ready for us. This is causing some of our test groups to reach the timeout. So far I've disabled the following tests on 2016 to ease the issue but we still need to fix the underlying problem.

* win_xml
* win_lineinfile
* win_nssm
* win_snmp
* win_certificate_store

##### IS

[2019-08-30 05:46] Tomorrow9 commented on #61574
Hi @magick93, can you find PyVim and PyVmomi in "/home/anton/.local/lib/python3.6/site-packages/" or other folder on your controller machine?

[2019-08-30 05:49] jborean93 commented on #61574
What's the issue, the module is expecting the Python module `PyVmomi` to be installed at `/usr/bin/python3` on kubejumphost and that isn't the case, hence the error

[2019-08-30 05:52] jborean93 commented on #61576
You can run `ansible-config dump --only-changed` to make sure the config file is being picked up and the `interpreter_python` option is being used. If it isn't being picked up then your config isn't being used at all. `ansible_python_interpreter` is a variable which is why it works if you set it with `-e`, you can also set it in your inventory for the host or group_vars/host_vars and it will be pi

[2019-08-30 05:53] magick93 commented on #61574
Hi @Tomorrow9 - I'm away from the office now, so I cant check. However I did try to explicity istall pyvim using `pip3 install pyvim`.

@jborean93 - I think the problem is casing. `ModuleNotFoundError: No module named 'pyVim'`. But I remember seeing a similar issue on google, and the fix was to change the import from `pyVim` to `pyvim`. Im not 100% sure, but I think that is the issue.

[2019-08-30 06:00] jborean93 commented on #61574
I don't see how, the `pyvmomi` package shows it as `pyVim` as per https://github.com/vmware/pyvmomi and their entry in `[setup.py](https://github.com/vmware/pyvmomi/blob/master/setup.py#L39). It also passes in our CI as is so it's probably because you don't actually have it installed for that Python. Are you using a venv to run Ansible? If so then `pip3` is probably referring to the venv pip and n

[2019-08-30 06:07] magick93 commented on #61574
No, I'm not using a venv.

[2019-08-30 06:13] jborean93 commented on #61574
Maybe just run `/usr/bin/pip3 list` on the host the module is running on and seeing what the output is. You can also just run `/usr/bin/python3 -c "from pyVim import connect"` on that same host to replicate the same steps that the module runs outside of the module.

[2019-08-30 06:38] felixfontein commented on #61569
Looks like some have been fixed in #61584. Thanks @jborean93!

[2019-08-30 09:32] xuxiaowei0512 commented on #52933
No, they are different error.
[code]
[code]

[2019-08-30 09:36] sushma-alethea opened #61596 "playbooks using icx_modules that require enable mode fail in stable 2.9 branch but work in 2.8"
##### SUMMARY
playbook that require enable mode work in Ansible 2.8 but fail in stable 2.9

##### ISSUE TYPE
When attached playbook is run using ansible-playbook binary in devel branch it fails. But when run with /usr/bin/ansible-playbook (2.8 version) it works fine.

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
2.9 devel

[code]

[2019-08-30 10:06] achamayou commented on #26905
Still present in 2.7.10

task:

[code]

Produces this on the second and subsequent runs:

[code]

[2019-08-30 10:27] GhostLyrics commented on #56832
Could someone checkout https://github.com/ansible/ansible/pull/57487 which resolves this and help along that PR? That'd be awesome.

[2019-08-30 10:50] agowa opened #61597 "Add examples for jinja2 advanced data manipulation with loops"
##### SUMMARY
In irc often questions about advanced forms of data manipulation with registered variables inside lists arise.
It is by now documented how to do it with "normal return values", but as soon as there is a loop all examples fall apart. So we may need to provide some more examples.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
jinja2 data manipulation

##### ANSIBLE VERS

[2019-08-30 12:45] justjais opened #61600 "Override and Replace state not behaving ideally for Iosxr_l3_interfaces"
##### SUMMARY

For the Replace and Override use case, where `secondary ip` is already configured on to the device but in override and replace operation user tries to configure only IP without setting any secondary IP in that case already existing IP was not entirely replaced/overridden coz the new IP mentioned in play was set but the `secondary ip` was also coming as configured.

##### ISSUE TYPE

[2019-08-30 12:59] fl0gu commented on #52933
Yes, the new error is different. But in 2.8.4, it's completely broken: I'm not able to create a simple sub-interface. A least in older versions I was able to create it if not already present.

[2019-08-30 13:03] pabelanger opened #61601 "vyos_users teardown test failing"
##### SUMMARY

We have a random failure with vyos_user failing for our tests. We need to understand why this is and work to fix.

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_27/27/b777c6ea5353f9668e208a006385d10cfb7e052b/gate/ansible-test-network-integration-vyos-python37/83e88ef/job-output.html#l41433

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2019-08-30 13:08] bcoca commented on #61336
This is not a bug as WSL is not a supported platform, I'm setting this as a feature request. This does not mean I'm working on it, but someone else can.

[2019-08-30 13:14] bcoca commented on #61597
You can use the `map` to apply other filters to elements of a list

Similar to map, you have `select`, `reject`, `selectattr` and `rejectattr` filters that allow you to get a subset of elements of a list.

[2019-08-30 13:51] bcoca commented on #61233
things are mixed here, this is the 'template' action and not 'templates in ansible' which is different i how they are handled, but there does seem to be a behaviour change in the action.

[2019-08-30 13:57] Poil opened #61602 "!!null / ~ not null"
##### SUMMARY
Hi,

I'm not sure if it's a bug or if I do something wrong
I have a role
[code]

In my playbook, if I declare a capabilities/env/published_ports it works, but if I try to declare a "None" (because the default value is None, https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_container.py), it does not work, ' \r\n' is pass from the role do the docker_contai

[2019-08-30 13:59] jctanner commented on #61027
as discussed with @ironfroggy on slack, I'm reopening this pending additional test information he will provide.

needs_info

[2019-08-30 14:02] bcoca commented on #61602
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-08-30 14:02] #61602 closed, assigned to nobody

[2019-08-30 14:11] bcoca commented on #61537
Conditionals are evaluated PER ITEM in a loop, so they cannot prevent an error in a bad loop definition, so your assumption is wrong about how this should be working.

The fix seems to be related to templating types, not about conditionals skipping loop definitions.

[2019-08-30 14:22] goneri commented on #61574
Hi @magick93 , The vmware modules depend on two extra modules that need to be installed on the local system: vsphere-automation-sdk-python and PyVmomi.

In a nutshell:

[code]

I close the issue since this should resolve the problem. Feel free to use the mailing list if you have more questions.

[2019-08-30 14:22] #61574 closed, assigned to nobody

[2019-08-30 14:43] agowa338 commented on #61597
I was referring to the inability of the user to apply the techniques, not a technical limitation ;-)

The main goal of this issue is to "transfer the way of thinking" for this kind of manipulation and I'm not quite certain how that could be approached (hopefully someone has a suggestion/idea) except doing step by step guides for one or two complex api interactions (which tbh is not that great of a

[2019-08-30 14:47] mirkan commented on #59594
Yes please +1

[2019-08-30 14:54] bcoca opened #61604 "ansible-inventory shows invalid options in help"
The help for `ansible-invenotry` displays 2 options that are explicitly removed from the utility.
This was correct in <= 2.8 versions

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-inventory
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2019-08-30 15:21] DerrickTJ commented on #61327
I do not have Tower to test with but instead of using a file, you can put the key in as a variable instead to see if that gets you past this.

https://docs.ansible.com/ansible/latest/scenario_guides/guide_aci.html#using-ansible-vault-to-encrypt-the-private-key

[2019-08-30 15:35] panticz opened #61608 "os_coe_cluster are not idempotent"
##### SUMMARY
os_coe_cluster module generates a new cluster with each execution

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_coe_cluster

##### ANSIBLE VERSION
2.8.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
No new cluster is created if a cluster with the parameter `name` (e.g "foo-cluster1") already exists

##### ACTUAL RESULTS
[code]

[2019-08-30 16:03] ironfroggy opened #61609 "ansible-galaxy 2.9 role install ignores --server option"
##### SUMMARY
Role install in the current `stable-2.9` branch attempts to install from `http://galaxy.ansible.com/` ignoring anything passed to `--server`. Other role commands, like `import`, seem to respect the server parameter properly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 2

[2019-08-30 16:19] antonwantstosleep opened #61610 "Add 'torify' to the telegram module (for russians)"
##### SUMMARY
I suggest to add to the module:
- dependency of 'tor' package
- 'use_tor:' bool parameter

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
telegram

##### ADDITIONAL INFORMATION
Today the telegram module is not working in Russia because of the government issues (the Roskomnadzor is blocking api.telegram.org). Using 'torify' (part of tor) is the solution.

Now I use THIS task be

[2019-08-30 16:30] mcurry-brierley commented on #53127
Was this resolved? I am running into this as well with my 2016 machines only.

[2019-08-30 16:52] fortinetps opened #61615 ""maximum recursion depth exceeded in __instancecheck__" error in fortios httpapi with the latest devel / stable-2.9 branches"
##### SUMMARY

When running the latest devel/stable-2.0 branches of Ansible (as 8/30/2019), fortios httpapi failed with message: The error was: ansible.module_utils.connection.ConnectionError: maximum recursion depth exceeded in __instancecheck__

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

httpapi

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Test w

[2019-08-30 16:58] abadger opened #61616 "2.10 needs more Led"
##### SUMMARY
The codename for 2.10 needs to be recorded in lib/ansible/release.py

/cc @jimi-c
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
*  lib/ansible/release.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-08-30 18:02] mmelyia commented on #29661
@xmfreak Wow! Amazing work! I just started digging into Ansible, and I've been pulling my hair the last couple weeks while working with the original helm module. It seems rather unfinished/untested. Passing values parameters has no effect and setting the state to 'purged' does not purge the deployment. Not to mention all the troubleshooting I needed to do to get it to properly communicate with til

[2019-08-30 18:12] geerlingguy opened #61621 "ImportError: No module named json after #60602"
### SUMMARY

In the past week, my builds for my `geerlingguy.k8s` collection have started failing, both on Travis CI and locally. The failure message contains:

[code]

^ That was on Travis CI, locally with latest devel today I get:

[code]

I did a `git bisect` and tracked it down to:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

json module

##### ANSIBLE VERSION

[code]

##### C

[2019-08-30 18:16] geerlingguy commented on #61621
I triple-checked and it's definitely commit `5941e4c843` where it breaks. `1d405fdd60` (the commit before) succeeds without issue.

[2019-08-30 18:33] geerlingguy commented on #61621
Verbose:

[code]

[2019-08-30 19:02] bcoca commented on #61621
The module_utils file `geerlingguy/k8s/plugins/module_utils/k8s.py ` is loading 'dataloader' from main ansible, which is not allowed as module_utils needs to depend only on code present in the target, which is limited to module_utils/ provided files.

[2019-08-30 19:02] #61621 closed, assigned to nobody

[2019-08-30 19:08] ironfroggy opened #61624 "ansible-galaxy 2.9 role install truncates API URL"
##### SUMMARY
When trying to install a role, install fails and the role is not found. Investigation shows the role API URL being used to lookup the role information is being truncated in `lib/ansible/galaxy/api.py` line 274, potentially due to the change from `rstrip()` to `strip()` in `_urljoin()`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

[2019-08-30 19:14] geerlingguy commented on #61621
Thanks for the response; I originally planned on converting the module to an action plugin in https://github.com/geerlingguy/ansible-collection-k8s/issues/2 (haven't had time recently), and I guess it was just working by accident for the past few weeks.

[2019-08-30 19:57] #51489 closed, assigned to nobody

[2019-08-30 20:04] 4815162342lost commented on #48312
The issue still relevant... Any ideas how to fix it? Maybe add timeout for command which collect information about disks and etc? I do not know, but the issue is important for me.

[2019-08-30 20:09] briantist opened #61628 "include_vars should support differentiating results from multiple files"
##### SUMMARY
Consider a directory of files like this:
[code]

`vars1.yml`
[code]

`vars2.yml`
[code]

In the default case of setting these at the global level, the last applied value wins. That's expected.

Consider this call:
[code]
In this call, the result is the same but contained in the dict `my_vars`.
It's desirable to have a way of getting all vars in each file, either as a `dict` where the

[2019-08-30 20:14] #36605 closed, assigned to nobody

[2019-08-30 20:50] benjdudas opened #61631 "Replace option of `config` is invalid for iosxr_config"
##### SUMMARY

The `replace: config` option is failing as invalid:
[code]

Documented Options:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

iosxr_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ASR9001
Cisco IOS XR Software, Version 6.2.3

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Using `replace: config` is valid or the doc

[2019-08-30 22:33] jpreed2 opened #61634 "gcp_compute_image for currently used disk causes error"
##### SUMMARY
When using gcp_compute_image to create a new image from an existing disk that is in use, the API returns the error:

"The disk resource 'xxx' is already being used by 'xxx'"

I can create images from used images just fine using the web ui and gcloud.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

####

[2019-08-30 22:43] jpreed2 opened #61635 "gcp_compute_disk from a snapshot creates an unusable disk"
##### SUMMARY
When creating a disk using the gcp_compute_disk module and supplying it a snapshot, the disk is created almost instantly.  But the disk is unusable.  When trying to attach a server instance to the disk the server start up, but is inaccessible via SSH or even the serial console.  After a few minutes the server will automatically shutdown.  There is nothing in the stackdriver logs to e

[2019-08-30 22:44] das7pad commented on #60349
Here is a demo playbook showing the brokenness.

[code]

[2019-08-30 22:58] ahuffman opened #61636 "Modules in a galaxy collection adjacent to a play are not available to included roles"
##### SUMMARY

I have an entry playbook, test.yml, with an adjacent collection.  The test.yml utilizes the `collections` keyword.  The included roles attempt to use the shortname of the module in the collection adjacent to the test.yml.  Regardless of whether the role uses the FQCN or shortname, the role tasks do not have access to the collection's shipped modules.

The directory structure is as f

[2019-08-30 23:36] ahuffman opened #61638 "ansible-galaxy collection build returns "ERROR! Missing required action""
##### SUMMARY

cd to root of a collection directory.
`ansible-galaxy collection build`
Returns:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

Run `ansible-galaxy collection build` per https://docs.ansible.com/ansible/devel/dev_guide/collections_tech_prev

[2019-08-30 23:36] nicholasamorim opened #61639 "slack module should return API response so that message can be threaded"
##### SUMMARY
slack module makes available a `thread_id` parameter but there's no way to actually start a thread using Ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
slack

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Just add `thread_id` to any slack task.

[code]

##### EXPECTED RESULTS

To be able to `register` the

[2019-08-31 00:24] jborean93 commented on #61638
The collection work was only added in devel/2.9. The 2.8 release won’t be able to do any of the collection work. Either checkout and run from the devel or stable-2.9 branch

[2019-08-31 00:24] #61638 closed, assigned to nobody

[2019-08-31 01:31] pabelanger commented on #61600
This looks to be related:

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_periodic/github.com/ansible/ansible/devel/ansible-test-network-integration-ios-python36/da2ed96/controller/ara-report/

[2019-08-31 06:02] NilashishC commented on #61631
Interesting. Not sure why that is happening. We have [tests](https://github.com/ansible/ansible/blob/devel/test/integration/targets/iosxr_config/tests/cli/replace_config.yaml#L9) to cover that and CI seems to be reporting back [green](https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_periodic/github.com/ansible/ansible/devel/ansible-test-network-integration-i

[2019-08-31 06:03] NilashishC commented on #61631
Plus, the [argspec ](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/iosxr/iosxr_config.py#L388) has the option `config` for the key `replace`.

[2019-08-31 06:45] antonwantstosleep commented on #61610
BTW, my case is to use 'torify' only for telegram.
[code]

[2019-08-31 12:24] Udayendu opened #61645 "VMware: vmware_deploy_ovf module is not deploying OVA in respective folder and resource pool"
##### SUMMARY
When trying to deploy an OVA using 'vmware_deploy_ovf' module, its not deploying vm in the mentioned folder and resource pool.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
a. Make a deploy-ova.yaml
b. Make a vsphere_variable.yaml

Add all infras

[2019-08-31 14:48] pabelanger opened #61646 "iosxr_lag_interfaces tests not idempotent"
##### SUMMARY

We have the following iosxr_log_interfaces test that is failing, and blocking other PRs from merging.

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_63/61563/890de10608065ab92b159ccd46ccb7d937a7e91d/third-party-check/ansible-test-network-integration-iosxr-python35/550a3ee/controller/ara-report/

##### ISSUE TYPE
- Bug Report

##### COMPONEN

[2019-08-31 14:51] pabelanger commented on #61646
https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_63/61563/890de10608065ab92b159ccd46ccb7d937a7e91d/third-party-check/ansible-test-network-integration-iosxr-python35/315dc3a/controller/ara-report/ is another

[2019-08-31 16:14] deepakpal-in commented on #60491
Thanks for your response silvel,

I worked on this and confirmed that the issue was with data transfer among multiple microservices as I was running this module under a complex container-based jenkins environment.

[2019-08-31 16:14] #60491 closed, assigned to nobody

[2019-08-31 17:33] maxmeyer opened #61649 "[iam_module] Support other providers for the iam module"
##### SUMMARY

[Wasabi](https://www.wasabi.com) supports IAM [similar](https://wasabi.com/wp-content/themes/wasabi/docs/API_Guide/index.html#t=topics%2FAPIdiff-ISM-STS.htm&rhsearch=iam) to Amazon IAM. Unfortunately the IAM module does not support the use of something else than Amazon IAM.

I configured ansible to use something else than Amazon.

[code]

But as the `boto.log` shows, `iam.amazonaws.

[2019-08-31 21:10] dalbertom commented on #59296
I had this error as well, I reinstalled the modules using `pip3` and then set `ansible_python_interpreter=/usr/bin/python3` to force the `docker_compose` module to use python3

[2019-08-31 21:38] ShachafGoldstein commented on #53127
If you could change this line
https://github.com/ansible/ansible/blob/de6e2de0c461d0ed0d3d8c8cf93ea691f31376ce/lib/ansible/modules/windows/win_updates.ps1#L291
to
`$result.msg = "Failed to download update $update_number $($update.Identity.UpdateId) - $($update.Title): Download Result $($download_result.HResult)"`
We can get the actual error code

[2019-09-01 02:36] kbreit commented on #56845
I'm going to close this issue. Please contact me or open a new issue if there are questions.

[2019-09-01 02:36] #56845 closed, assigned to nobody

[2019-09-01 04:14] #57040 closed, assigned to nobody

[2019-09-01 09:04] LucidOne commented on #61204
## Notes
Here are some of my initial notes

### Version Comparison
[from distutils.version import LooseVersion](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/git.py#L278)
[from packaging import version](https://stackoverflow.com/questions/11887762/how-do-i-compare-version-numbers-in-python)
[import semver](https://github.com/atlassian/python-semver)
I'm not sure

[2019-09-01 10:49] felixfontein commented on #61411
resolved_by_pr #61658

[2019-09-01 10:49] arronax commented on #24862
Using ansible 2.8.4 and targeting CentOS 7 or Ubuntu 16.04, I cannot reproduce following issues:

1. Incorrect _permissions_ when changing the home dir of an existing user
2. Incorrect _ownership_ when changing the home dir of an existing user.

Issue with SELinux context remains on CentOS. Tested all of this using a rather simple playbook.

[code]

Result is

[code]

When a user is created with `

[2019-09-01 11:21] felixfontein commented on #61473
@agowa338 that won't help, since extendedKeyUsage is one specific extension.

@gvanheyst a better syntax probably is
[code]

One question is what happens when these extensions collide with ones provided directly to openssl_csr. I guess the module should fail in that case.

[2019-09-01 11:25] Wiston999 commented on #60224
It happens in `get_value` function in nxos_vrf module, but the bug is triggered using the reserved words in nxos_vrf and/or nxos_static_route modules, as the underlying command executed in nxos_module (`command = 'show run all | section vrf.context.{0}'.format(name)`) returns both vrf information and vrf's static routes.

[2019-09-01 12:18] k01ek opened #61661 "nxos_acl no idempotency if optional arguments are passed as empty"
##### SUMMARY

There is no idempotency if optional arguments are passed as empty.
Beacuse empty options pass None filter:
[code]
All options is 'str', so simple patch should work:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_acl
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-09-01 12:21] MarkusTeufelberger commented on #61473
Or maybe similar to the options for the subject (common name etc.), there should just be a generalized `extensions:` option.

[2019-09-01 12:42] felixfontein commented on #60961
resolved_by_pr #61650

[2019-09-01 12:55] joylili opened #61662 "Wait service module for a long time"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Service Module
##### ANSIBLE VERSION

ansible 2.6.4,ansible 2.7.3

##### CONFIGURATION

DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/module']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

ubuntu16

##### STEPS TO REPRODUCE

My version is ansible 2.6.4 and 2.7.13，and encounter

[2019-09-01 15:26] nopdotcom opened #61664 "digital_ocean_droplet creation example fails: unpermitted id param"
##### SUMMARY
`digital_ocean_droplet`'s example does not work.

Other invocations are broken too.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
digital_ocean_droplet

##### ANSIBLE VERSION

[code]

Also tested with Homebrew's packaged Ansible, and de6e2de0c461d0ed0d3d8c8cf93ea691f31376ce ; identical results.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.14.6, Homebrew Pytho

[2019-09-01 16:29] nopdotcom opened #61665 "digital_ocean creation example fails: unpermitted parameter virtio"
##### SUMMARY
`digital_ocean` (the DO module *not yet* deprecated) can't run its example.

This appears to be the fault of the external `dopy` module, which is sending a `virtio` parameter which is no longer accepted. See https://github.com/Wiredcraft/dopy/issues/64

Presumably once this problem is resolved, it will also have problems with sending `id` as `null`; see #61664.

##### ISSUE TYPE
- Bu

[2019-09-01 17:12] AbelinLamarisi opened #61666 "~/.netrc and HTTP Error 401 issue with github and ansible-galaxy"
##### SUMMARY
If `~/.netrc` file exists with `machine github.com` entry, `ansible-galaxy install any.role` fails with error:

    - downloading role from https://github.com/any/role/archive/master.tar.gz
 [ERROR]: failed to download the file: HTTP Error 401: Unauthorized

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS

[2019-09-01 20:12] nicholasamorim commented on #61639
As it turns out incoming webhooks do not support replying with a thread_ts as it does not reply with any kind of meaningful response.

This kind of behaviour is allow only with a Bot or User token and using the Web API: https://api.slack.com/methods/chat.postMessage

The module clearly states in the token arg:

So a refactor would be needed, I suppose, in order to accept the other type of token an

[2019-09-01 21:17] heywoodlh commented on #61664
Have the same issue here

[2019-09-01 23:54] #16637 closed, assigned to nobody

[2019-09-02 04:48] s-hertel commented on #61649
It looks like ec2_url is being entirely ignored and needs to be added here https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/iam.py#L692-L694, but I thought I'd mention that I think the `iam_user` module and the other `iam_*` modules that have a dependency on boto3 (as opposed to boto like the `iam` module) should already be able to do what you need.

[2019-09-02 06:04] Fred-sun commented on #61541
@Rajinikamu84 Thanks for your reporting. It looks like your ansible version is older( latest ver:2.8.4). Can you update to latest version and  retry( method: sudo pip install ansible --upgrade -I )? Thank you very much!

[2019-09-02 06:30] Fred-sun commented on #60244
@yungezz @zikalino Please take a look this issue when you're free! Get DNS record fail when it attach "alias record set". Thanks a lot!

[2019-09-02 06:33] maxmeyer commented on #61649
@s-hertel Great. Thanks for the hint.

[2019-09-02 07:24] Fred-sun commented on #60528
@yungezz @zikalino Please take a look this issue when you're free, it can't delete all CORS ruler. Thank you very much!

[2019-09-02 07:30] Fred-sun commented on #59269
@yungezz @zikalino Please take a look this issue when you're free! Thank you very much!

[2019-09-02 07:45] Fred-sun commented on #59134
@zikalino @yungezz please! Thank a lot!

[2019-09-02 07:52] Fred-sun commented on #59096
@carbolymer #59097 has been merged, Could you can retry and close this issue! Thank you very much!

[2019-09-02 08:01] Fred-sun commented on #60661
@arvindshmicrosoft It has been fixed, Please try PR #60749?  If work fine for you, it can be closed! Thank you very much!

[2019-09-02 09:31] artmatsak commented on #61664
Running our play with -vvvv reveals the request data:

[code]

The `id` is present but is `null`. Looks like DigitalOcean has removed the `region_id`, `size_id` and `image_id` aliases, among others, and is now enforcing the absence of `id` in the `create` API request?

[2019-09-02 09:37] agowa opened #61671 "Ad-Hoc gather facts before executing task"
##### SUMMARY
Add a parameter to gather facts before executing the Ad-Hoc task.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Ad-Hoc

##### ADDITIONAL INFORMATION
I want to have an adhoc task gather facts before it runs so that I can test my jinja2 expressions using `ansible -m debug -a msg="{{ hostvars['localhost']['ansible_facts'][...] }}"`-style commands.

Currently one can either prin

[2019-09-02 09:46] MarkJB commented on #58511
I just tried this again against a folder with 1133 files of which 566 are exe's.
It took the win_find task 1650.91s (~27.5mins) to find the exe's.

[2019-09-02 09:46] JKDingwall opened #61672 "jenkins_plugin: use of authorization crumb must be conducted in a session since LTS 2.176"
##### SUMMARY
Plugins cannot be installed using the jenkins_plugin module since upgrading to LTS 2.176.  This is due to additional CSRF security where the crumb that is issued may only be used within the same session.

In the jenkins log messages like this are reported:

[code]

The module will then error with `Cannot install plugin.`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jenkins_pl

[2019-09-02 09:54] JKDingwall commented on #61672
See PR #61673

[2019-09-02 11:06] tjanez opened #61680 "Support specifying collections in git repositories in requirements.yml"
##### SUMMARY
When I **develop collections**, I like to store them in git repositories. Once they reach a stable point, I usually tag them and push them to Galaxy.

It would be a lot more convenient if `ansible-galaxy` CLI command would support specifying a **collection requirement in `requirements.yml`** that would **reference** any git "treeish" object (i.e. tag, branch, commit, ...) in a **git

[2019-09-02 11:14] michaelkaye opened #61681 "Kubernetes scenario guide out of date"
##### SUMMARY

This scenario guide is out of date: https://docs.ansible.com/ansible/latest/scenario_guides/guide_kubernetes.html

It refers to a requirement to use a manually built version of ansible and links to galaxy roles ( https://galaxy.ansible.com/ansible/kubernetes-modules ) that exist but are out of date and their source repository ( https://github.com/ansible/ansible-kubernetes-modules )

[2019-09-02 11:46] sumanyunandwani commented on #61486
Hi sivel, I have updated the playbook. Kindly look at why it is getting stuck.

[2019-09-02 12:08] till opened #61685 "Folder support for grafana_dashboard"
##### SUMMARY

When creating a dashboard, I'd like to assign it to a folder in Grafana.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`grafana_dashboard`

##### ADDITIONAL INFORMATION

Folders in Grafana are used for ACL etc.. When no folder is referenced, the dashboard ends up in the default folder (and can't be moved as it's managed outside of Grafana).

Here's the API related to creat

[2019-09-02 12:23] DonatasFe commented on #37591
+1 for issue. Got on v2.7.9

[2019-09-02 13:47] rickserrat commented on #61664
Doc updated, not declared `size_id`, `region_id `and `image_id`.
https://docs.ansible.com/ansible/latest/modules/digital_ocean_droplet_module.html#digital-ocean-droplet-module

[2019-09-02 14:04] artmatsak commented on #61664
@rickserrat `size_id`, `region_id`, `image_id` are still listed in the docs as aliases of `size`, `region`, `image`. Furthermore, _both_ `size` and `size_id` are  sent even if I only specify `size` in the play (I suspect that applies to `region` and `image`, too).

Finally, the `id` of `null` is also always sent, which leads to the originally reported error message.

[2019-09-02 14:08] Xaroth opened #61687 "s3_bucket, aws:kms encryption does not default to default s3 key"
##### SUMMARY
The documentation states the following:

[code]

However, omitting the variable yields the following:

```{"changed": false, "msg": "encryption is aws:kms but all of the following are missing: encryption_key_id"}```

due to these lines: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/s3_bucket.py#L703-L704 .

Alternatively, specifying an empty string as

[2019-09-02 14:11] Xaroth commented on #61687
It should also be noted that the tests introduced in #55985 does not cover this specified use case:

https://github.com/ansible/ansible/blob/devel/test/integration/targets/s3_bucket/tasks/main.yml#L354-L411

All 3 use cases use AES256 as encryption value, and none use AWS:KMS

[2019-09-02 14:35] Xaroth commented on #38510
!component aws_kms_info
+label affects_2.9

This is still an issue.

[2019-09-02 15:10] Blogshot commented on #61664
I might be able to shed some light on this since we're using AWX Tower in our company and therefore have extended historical logging.

Here's the logging for the `digital_ocean_droplet` module on last week's friday:
[code]

For comparison, here's the log of todays error message:
[code]

We've not done any updates on our systems since friday, so neither Ansible's or the modules version has changed.

[2019-09-02 15:58] eglipeter opened #61688 "Multiple ip addresses or hostnames for a single host in the inventory"
##### SUMMARY

Add the capability to specify multiple ip addresses or hostnames per host in the inventory. Ansible then sequentially checks which address is reachable at the moment and connects to this address to execute the commands.

##### ISSUE TYPE
- Feature Idea

##### ADDITIONAL INFORMATION
We use Ansible for managing user clients. However, the notebooks travel between multiple locations and

[2019-09-02 16:03] jbarotin opened #61689 "Make ansible_check_mode equal to True while using check_mode: True"
##### SUMMARY
While using check_mode: True properties, the variable ansible_check_mode content is not True

##### ISSUE TYPE
- Feature request

##### COMPONENT NAME
task_executor

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-09-02 17:46] AlexDaciuk opened #61690 "VMWare dynamic inventory plugin sets vm.guest.guestFamily as None for any Windows newer than Windows 7"
### SUMMARY
I'm trying to upgrade VMWare Tools on our Windows guests using vmware_guest_tools_upgrade and it fails with the error  `msg: Guest Operating System is other than Linux and Windows.`

This just happens with guests with outdated tools because of the way the python code is written

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- vmware_vm_inventory

##### ANSIBLE VERSION
[code]

###

[2019-09-02 17:58] vikas7999 commented on #57773
Can anybody help to confirm if this is a bug.

[2019-09-02 19:24] annikulin commented on #61410
Hi @axarriola, thanks for reporting the issue.

@justjais, I investigated the problem and the `delegate_to` parameter does not work correctly with the HTTPAPI connection type in Ansible 2.7.

Having the following inventory file,
[code]

and the following playbook:

[code]

its run fails on Ansible 2.7.x:

[code]

For some reason, the `ansible_host` variable is incorrect in FTD HTTP API plugin (sam

[2019-09-02 19:37] pabelanger opened #61694 "Random failures with ios_file tests"
##### SUMMARY

We happen to have a higher then normal failure rate with ios_file testing, please look into why that is and see how we can fix.

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_82/61682/0b0550fc96f7fe814d6d39328993a79aa1cab1b0/third-party-check/ansible-test-network-integration-ios-python35/1100364/controller/ara-report/

##### ISSUE TYPE
- Bu

[2019-09-03 00:31] StackOverPower opened #61695 "Failed to create DNS record NSUPDATE"
##### SUMMARY
I have two servers, the Ansible controller and another server configured with Apache and DNS, when I try to run the task to update the DNS with the module **nsupdate** I get a Refused RC5 error.

I installed python-dnspython but I don't know if I need to configure anything else to try to fix this.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
**lib/ansible/modules/net_tools/ns

[2019-09-03 01:04] Fred-sun commented on #31867
@yungezz How to deal with this Issue? It's been open for over a year. Thank you very much!

[2019-09-03 03:47] felixfontein commented on #58973
Reopening since this is not completely implemented (you can get LUKS2 containers by specifying a label, but you can't get one without a label).

[2019-09-03 04:11] Akasurde commented on #61544
!component =lib/ansible/modules/cloud/podman/podman_image.py

[2019-09-03 07:21] Fred-sun commented on #44806
@zikalino

[2019-09-03 07:45] wojtek0806 commented on #61296
@benmcbenben We are still evaluating options when it comes to plugins, so until a decision is made we won't be changing these any time soon.

[2019-09-03 07:45] wojtek0806 commented on #61296
close_me

[2019-09-03 07:49] #61296 closed, assigned to nobody

[2019-09-03 07:53] Poil opened #61698 "Impossible to omit or pass a default value to published_ports on docker_container"
##### SUMMARY
Hi,

When you want to pass an empty list or a null/None value to published_ports on docker_container it's actually impossible, so you get this error

[code]

Ref #61602

The problem is that we parse via `_parse_publish_ports` the parameter if self.published_ports is not None or not 'all'
Also after that there is no control on each elements of the list, (not like for the volumes param

[2019-09-03 07:56] nicholasamorim opened #61699 "consul_kv only allows folder creation if some value is passed"
##### SUMMARY

consul_kv does not create a folder if `name` ends with `/` (expected behaviour).

However, after doing some tests I realized that you must pass a value for the folder to be created. So maybe this is just a documentation bug?

- no `value:` clause: status OK but nothing is created on Consul.
- `value: null` clause: status OK but nothing is created on Consul.
- `value: 1` or any true-

[2019-09-03 08:06] Fred-sun commented on #53299
@yungezz @zikalino Could you look at this problem for me? Who will be responsible for solving this problem? Thank you very much!

[2019-09-03 08:56] Alveel commented on #58973
Interesting development :)

Progress is progress!

[2019-09-03 09:07] pbrezina opened #61701 "Deadlock when running ansible under screen"
##### SUMMARY
I never experienced this locally (although it should be possible) but when running ansible under screen or other terminal multiplexor it quite often deadlocks when trying to establish ssh connection to host. Actually it happens so often that it is unusable.

I managed to see get this deadlock in gdb of both the original ansible-playbook process (main-process.log) and its child that I

[2019-09-03 09:22] charisz commented on #59164
When will be released this?

[2019-09-03 09:30] rpluem-vf commented on #58619
Anything I can do to move this forward?

[2019-09-03 09:33] Poil commented on #61698
I'm wrong, entering the code again

[code]

When running I have
[code]

So I enter in this condition and it's normal

But after we enter in self.ports = self._parse_exposed_ports(self.published_ports) and it fail in it

[2019-09-03 10:42] gundalow commented on #41447
resolved_by_pr: 59663

Reviews welcome on https://github.com/ansible/ansible/pull/59663 so it can be merged

[2019-09-03 11:10] Fred-sun commented on #58818
@yungezz @zikalino  This question has been open for a while? Could you please help to see who will be responsible for adding this feature?

[2019-09-03 11:14] mulatinho commented on #58973
Hmmm. What are you thinking to close this issue permanently? Add an option
"type" and make LUKS use '--type luks2' ? If yes, I can make that too. :-)

Em ter, 3 de set de 2019 05:57, Alwyn Kik <notifications@github.com>
escreveu:

[2019-09-03 11:15] gundalow commented on #25099
@czerasz @george-oniceag Does https://github.com/ansible/ansible/pull/32158 solve this for you?

resolved_by_pr: 32158

[2019-09-03 11:44] igoratencompass opened #61703 "ec2_group module error AWS was not able to validate the provided access credentials"
##### SUMMARY

The module fails due to invalid credentials supplied to the AWS API.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Nothing special, just run the example provided in the module docs.

##### EXPECTED RESULTS

The Security Group gets created.

##### A

[2019-09-03 11:45] felixfontein commented on #58973
@mulatinho Probably an option `type` with choices `luks1`, `luks2` and no default (default is `luks2` is `label` is specified, and nothing passed to `cryptsetup` otherwise) should do the job. Feel free to work on this :)

[2019-09-03 11:46] Akasurde commented on #61548
!component =lib/ansible/modules/cloud/google/gcp_compute_instance_group_manager.py

[2019-09-03 11:50] felixfontein commented on #61698
I don't think that helps, since `_parse_publish_ports` already checks for `None`. Anyway, it looks like you are passing something to `published_ports` (resp. its alias `port`), since the `for` loop in `_parse_publish_ports` is never entered when `published_ports` is `None` or `[]`. Can you check what exactly you are passing to the module by running `ansible-playbook -vvv`? Then you can also find t

[2019-09-03 11:57] abu-yusuf-dev opened #61704 "fatal: [app54545]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: Connection timed out during banner exchange\r\n", "unreachable": true}"
Don't know why this happens most of the time when i wanna deploy to the production,
I'm stuck here for a while.

But i can access remote address and check everything by sshing.

It's killing the valuable time.

Any solution?

[2019-09-03 11:58] Fred-sun commented on #57782
@zikalino @yungezz new feature request. Please check when you're free! Thank you very much!

[2019-09-03 12:14] ullibo commented on #25532
Thanks to @dagwieers !
I had the same  problem with winrm (0.3.0) and ansible (2.8.4). First I increased ansible_winrm_connection_timeout, ansible_winrm_read_timeout_sec and ansible_winrm_operation_timeout_sec but that didn´t solve the connection-retryproblem after a reboot e.g.
After patching ../ansible-venv/lib/python2.7/site-packages/winrm/transport.py (CentOS 7) the reconnect works fine.  Hope

[2019-09-03 12:23] Poil commented on #61698
Hey,

When passing a default(omit) or a None value, it's transform to `['']` (list with an empty element) and I really don't understand why, it's look like something transform what I've passed.
If I pass `default([])` I have an empty list `[]` that's look like more normal, but in this case I have to patch the _parse_publish_ports function in docker_container.py from `if  self.published_ports: is N

[2019-09-03 12:28] son-vyas commented on #61544
@suprith4989 : This issue is not reproducible.

I am able to pull other images from registry.access.redhat.com.

In your case, podman image registry.access.redhat.com/fedora does not seem to exist.
Also, credentials which are required to access this repository are not passed via ansible.

needs_info

[2019-09-03 12:41] mulatinho commented on #58973
cool @felixfontein , I will work on this :D

[2019-09-03 12:43] Poil commented on #61698
What is strange, on CentOS 7 (Python 2.7.5), it's working without patching but not on my Ubuntu 19.04 (Python 2.7.16)

[2019-09-03 12:55] #61615 closed, assigned to nobody

[2019-09-03 13:10] Piknik1990 opened #61708 "postgresql_db not changed if I have reinitdb"
##### SUMMARY
Hello!

I Have the one bug with the postgresql_db module.
I created some databases in PostgreSQL 10 with this module
[code]
This is work fine - now I have my databases in my machines.
[code]

BUT! Then I reinstall my PostgreSQL service with `rm -rf /var/lib/pgsql` and run initdb again. I get clear PostgreSQL without any databases.

Next I run the postgresql_db module again (this old

[2019-09-03 13:12] gundalow commented on #55250
Review on https://github.com/ansible/ansible/pull/55253 welcome

[2019-09-03 13:20] jtyr commented on #61672
Thanks for your PR, @JKDingwall. Does the session mechanism also work with older Jenkins versions?

[2019-09-03 13:35] #61145 closed, assigned to nobody

[2019-09-03 14:27] plastikat opened #61712 "Jenkins Improved CSRF protection breaks some Ansible modules"
##### SUMMARY

With Jenkins [2.192](https://jenkins.io/changelog/) and [LTS 2.176](https://jenkins.io/changelog-stable/) comes [SECURITY-626: Improved CSRF protection](https://jenkins.io/doc/upgrade-guide/2.176/#SECURITY-626).
This change breaks all scripts and utilities that have been using CSRF tokens (crumbs), including Ansible modules `jenkins_script` and `jenkins_plugin`: when trying to use o

[2019-09-03 14:38] julienmary commented on #12233
For the record, and without shell commands, we query the dynamic inventory to populate action of running instance with instances ids, collected from the dynamic inventory.

`- name: Make sure instances are running
  hosts: all
  gather_facts: false
  connection: local
  tasks:
  - name: start EC2 instance
    local_action:
      module: ec2
        state=running
        region={{ hostvars[inventor

[2019-09-03 14:39] kbreit opened #61714 "--docker-privileged isn't in ansible-test"
##### SUMMARY
https://docs.ansible.com/ansible/latest/dev_guide/testing_integration.html#tests-in-docker-containers

The note here says:

I tried to run with `--docker-privileged` but the option isn't there. Either the option has been removed or the documentation should be improved to show how to access it properly.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
https://docs.ansibl

[2019-09-03 14:39] kbreit commented on #61714
CC @mattclay

[2019-09-03 14:50] IPvSean opened #61715 "native facts (gather_facts: true) for eos_l3_interfaces is not returning"
##### SUMMARY
the `ansible_network_resources` is not returned with `gather_facts: true` for the new resource modules

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_facts
eos_l3_interfaces

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
feel free to login to my workbench, ping me on slack

[code]

##### EXPECTED RES

[2019-09-03 14:56] ahuffman commented on #61636
!component collections

[2019-09-03 14:56] stdedos commented on #56779
@ansibot No, it is not.

[2019-09-03 15:09] gundalow commented on #57970
resolved_by_pr: 61430

Review on https://github.com/ansible/ansible/pull/61430 welcome

[2019-09-03 15:10] TiJof commented on #60263
First test :
  ansible-playbook -i hosts playbook.yml
  with : password: "userpass"
For the second test, you have to change the line with :
      password: "seconduserpass"

For me the second test is craching.
FYI, I have already test with version 2.8.4

[2019-09-03 15:12] sivel commented on #61714
I'm not sure what issue you are running into, but that CLI argument does exist:

Example:

[code]

I cannot remember which tests fail without `--docker-privileged`, but running with that arg causes docker to execute with:

[code]

As opposed to:

[code]

Notice `--privileged=true` vs `--privileged=false`

[2019-09-03 15:26] #52016 closed, assigned to nobody

[2019-09-03 15:37] gundalow commented on #59706
Doc to clarify this https://github.com/ansible/ansible/pull/61060

[2019-09-03 15:46] gundalow commented on #59613
@hemberger Does https://github.com/ansible/ansible/pull/60041 fix this for you, please add a `shipit` on the PR

resolved_by_pr: 60041

[2019-09-03 15:48] gr33ngiant112 opened #61718 "'CyberarkPassword' object has no attribute 'delimiter'" after #59500"
Related to #52625 and #59500

Ansible version:
[code]

Python version:
[code]

##### SUMMARY

Pull #59500 fixes one issue but seems to create another.
{"msg": "An unhandled exception occurred while running the lookup plugin 'cyberarkpassword'. Error was a <class 'AttributeError'>, original message: 'CyberarkPassword' object has no attribute 'delimiter'"}

##### ISSUE TYPE
- Bug Report

##### COMPO

[2019-09-03 15:59] jtyr commented on #61712
Duplicate of #61672.

[2019-09-03 16:11] pabelanger opened #61719 "eos_bgp / ios_bgp / iosxr_bgp not safe for collection"
##### SUMMARY
All 3 of these providers, do not work properly when converted to a collection. The following error is raise:

  could not find a suitable provider for this module

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_20/20/30f1a39eece8bc37eeb89f05d733d133c707626e/check/ansible-test-network-integration-eos-python27/ca018b0/controller/ara-report/

ht

[2019-09-03 16:23] lonix1 opened #61723 "[Docs] Use of aliases with INI inventory"
##### ISSUE TYPE
- Documentation Report

##### ENVIRONMENT
ubuntu 19
ansible 2.8.4

##### SUMMARY
[The docs](https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#hosts-and-non-standard-ports) show this example:

[code]

And say this:

This is not true. If `jumper` is not defined as an alias in my `/etc/hosts` then this will not work. It must be a valid alias.

The text above is

[2019-09-03 17:02] 11gingerbread opened #61726 ""unable to elevate privilege to enable mode, at prompt [None] with error: timeout value 10 seconds reached while trying to send command: enable""
##### SUMMARY
Testing the same playbook on Cisco Router and Switch for adding VLAN, User has to be in enable mode to make that changes, works for Switch and fails for router with this error -

[code]
ansible --version -> ansible 2.8.4

Inventory -
[POC:vars]
ansible_become_method=enable
ansible_become_pass=ZZZZZZZZZ

[POC]
t68520rtr
#t68520sw

I have added become passwords in both inventory and pl

[2019-09-03 17:41] DaveCrown commented on #61327
Tower calls the play, but uses its database an encrypted credentials store.  Outside of tower it works just fine in 2.8 as a file. The play needs to be able to operate both from tower and the cli. Since the play completely runs our production environment, we keep a fresh copy of everything off to the side ready to run.

For security policy reasons, we can not use vault.

[2019-09-03 17:56] andreaso commented on #61695
The main problem here is that your DNS server is not configured to accept dynamic DNS updates.

notabug