[2018-10-14 09:07] AquaL1te commented on #9218
Was this feature ever implemented and explored further? I would like to loop over all the hostnames in my inventory, inside a jinja template. It seems there is just this transparent 'with_inventory_hostnames' inside a task? This surely must be possible inside a template query + loop as well, right? I've been experimenting, but nothing works so far.

Would [this](https://docs.ansible.com/ansible/2.

[2018-10-14 09:58] divansantana commented on #35286
Anyone have a workaround for this?

[2018-10-14 10:22] #42851 closed, assigned to nobody

[2018-10-14 10:48] zharalim opened #47024 "Setting a tag from a variable with include_role's apply fails when using free strategy"
##### SUMMARY

Setting a tag from a variable with include_role's apply fails when using `strategy: free`. The play works when using `strategy: linear`. See example below.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes in configuration.
[code]

##### OS / ENVIRONMENT
Ubuntu Xenial running in Virtualbox with Vagrant.

#

[2018-10-14 11:59] #46194 closed, assigned to nobody

[2018-10-14 12:23] MrBlaise opened #47025 "gcp_container_node_pool boot disk type setting is missing (use ssd)"
##### SUMMARY
Google Kubernetes Engine now has the option to use SSDs as boot disks in node pools. You can set them up on the web UI in the Boot disk type section. I can't find a way to change this setting via the ansible module.

##### ISSUE TYPE
- Missing settings

##### COMPONENT NAME
gcp_container_node_pool module

##### ADDITIONAL INFORMATION
For some applications using SSDs as boot disks can

[2018-10-14 12:31] Akasurde commented on #47013
@rad4day Could you please try this https://github.com/ansible/ansible/pull/45778 and let us know if it works for you ? Thanks.

[2018-10-14 12:36] Akasurde commented on #47013
Backport 2.7 - https://github.com/ansible/ansible/pull/47026

[2018-10-14 12:51] mnaser commented on #37921
needs_contributor

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_router.py#L403

That needs to be changed similar to `os_security_group_rule` to use the current project by default.

[2018-10-14 12:55] mnaser commented on #26108
resolved_by_pr #20969

[2018-10-14 12:57] mnaser commented on #10480
bug_resolved

Fixed now!

[2018-10-14 12:58] mnaser commented on #20864
needs_contributor

For now I guess a `with_items` is the solution, not ideal or fun.

[2018-10-14 13:16] mnaser commented on #17930
needs_contributor

FWIW: It should by mostly all resolved, however, it looks like the following module is still affected mentioning shade as a requirement:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_server_metadata.py

[2018-10-14 13:17] mnaser commented on #40903
What if you call `python /etc/ansible/hosts` ?

[2018-10-14 13:17] mnaser commented on #40903
needs_info

[2018-10-14 13:29] #10480 closed, assigned to rcarrillocruz

[2018-10-14 14:56] rad4day commented on #47013
Can confirm that #47026 fixes my problem.

[2018-10-14 15:53] Akasurde commented on #47013
@rad4day Cool thanks for feedback.

[2018-10-14 17:15] Akasurde commented on #15813
Can be resolved by including single quote instead of double quote or by escaping double quotes

1.
[code]

2.
[code]

[2018-10-14 17:15] #15813 closed, assigned to nobody

[2018-10-14 17:31] lpenz commented on #46725
As far as I can remember, these get operations are there to allow ansible to know if the operation was "Ok" or "Change"
Maybe we could achieve the same thing by getting a more specific information? I wonder if the date/time of the last commit is available or something like that.

[2018-10-14 19:23] quater opened #47029 "Invalid options for assert: success_msg"
##### SUMMARY

With Ansible 2.7, the assert module was enhanced with the success message. See module documentation at https://docs.ansible.com/ansible/2.7/modules/assert_module.html. The below example task fails with the error: **Invalid options for assert: success_msg**
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
assert

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[co

[2018-10-14 19:50] quater commented on #47029
Bugfix https://github.com/ansible/ansible/pull/47030

[2018-10-14 19:57] drzraf commented on #37784
@mnaser
We **currently** `can't vault the credentials`
But the issue is about whether we **could** and the answer (see above comment) is likely **yes**
So the discussion is about whether:
- we have a usecase for it?
- we want to do it?
- and, if yes, how to actually make it happen

Please reopen.

[2018-10-14 20:00] mnaser commented on #37784
@drzraf you can vault the entire auth dict and use it as such (sorry on mobile)

- os_server:
    auth: “{{ some_vaulted_dict }}”

[2018-10-14 20:59] emonty commented on #37784
We can also now pass an entire cloud entry to the 'cloud' parameter. So:

  os_server:
    cloud: '{{ some_larger_vaulted_dict }}'

Let me know if that helps

On Sun, Oct 14, 2018 at 3:02 PM Mohammed Naser <notifications@github.com>
wrote:

[2018-10-14 22:08] programingnotes opened #47031 "Ansible 2.7: Invalid options for reboot: reboot_timeout"
##### SUMMARY
According to the [docs for reboot module in Ansible 2.7](https://docs.ansible.com/ansible/latest/modules/reboot_module.html), `reboot_timeout` is a valid option for the reboot module. Yet, this task:
[code]
returns:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS versions => Ubu

[2018-10-14 22:16] blambo10 commented on #46458
Hi,

Wondering if there is any update on this.

Eg, needs info, won’t address, will address.

Thanks,
Bryce

[2018-10-14 22:16] blambo10 commented on #46460
Hi,

Wondering if there is any update on this.

Eg, needs info, won’t address, will address.

Thanks,
Bryce

[2018-10-14 22:17] blambo10 commented on #46461
Hi,

Wondering if there is any update on this.

Eg, needs info, won’t address, will address.

Thanks,
Bryce

[2018-10-14 23:19] drzraf commented on #37784
Indeed and that's what we are already doing

**BUT** vault'ing that way (contrary to an independently vaulted `clouds.yaml` or similar approach) is does it keeps teams from using (securely) these variables for the **purpose of dynamic inventory**

[2018-10-15 01:29] drzraf commented on #37784
Yes, see the workaround I provided in above comment https://github.com/ansible/ansible/issues/37784#issuecomment-390284644
I'd like to see this kind of thing supported natively by Ansible's OpenStack dynamic inventory although in said comment I also admit this may imply some modifications about the way underlying library credentials are initialized.

[2018-10-15 02:00] verovan commented on #17273
Hi. Should I open a new issue? I'm experiencing this problem.

- Ansible 2.6.2
- OS Debian 9.5
- Python version 2.7.13

Example
`$ ansible-playbook -u packt install_nginx.yml`

Outputs this and hangs:
[code]
SSH is fine, credentials are ok.

[2018-10-15 03:33] salman1485 commented on #46185
So, it is fair to assume that start 2.5 ios_command first tries to run "terminal length 0" and "terminal width 512" and if account used to run ios_command does not have this access then playbooks will break.

If so then why is this so? Purpose of ios_command was to run random commands on remote ios device. It should not run any commands that can make changes to remote device even if they are minim

[2018-10-15 03:43] Akasurde commented on #46461
@blambo10 Thanks for reporting this feature. I will take a look and let you know.

[2018-10-15 03:44] Akasurde commented on #46460
@blambo10 Thanks for reporting this feature. I will take a look and get back to you. Thanks.

[2018-10-15 03:45] Akasurde commented on #46458
@blambo10 Thanks for reporting this feature. I will take a look and get back to you. Thanks.

[2018-10-15 03:52] Akasurde commented on #47031
@programingnotes PR is merged - https://github.com/ansible/ansible/pull/46585, will be available for 2.7.1 release. Thanks.

[2018-10-15 03:53] Akasurde commented on #47031
cc @samdoran @nitzmahone

[2018-10-15 03:57] bendews opened #47032 "Templated value in 'vars' Task parameter only does a shallow copy"
##### SUMMARY

When templating a value in to the `vars` task parameter, it appears to only do a shallow copy.
If a value is templated using the `vars` parameter like `test_var2: "{{ test_var1 }}"` and during the task the value of `test_var1` changes, `test_var2` will also change.

This results in unexpected behaviour, as templated variables will change value without any straightforward reason.

I

[2018-10-15 04:12] ianwilliamsonnz opened #47033 "Ansible Tower integration with Atlassian Bitbucket. documented method is no longer functional"
##### SUMMARY

Atlasian Bitbucket pipeline is unable to connect to Ansible Tower via tower-cli to run jobs, when the documented process provided by Ansible is followed. The Document is located here:
https://www.ansible.com/integrations/devops-tools/atlassian-bitbucket-pipelines
https://www.ansible.com/integrations/devops-tools/atlassian
https://bitbucket.org/AnsibleByRedHat/ansible-tower-pipelines

[2018-10-15 04:59] ganeshrn commented on #40884
@LukeRussell Thank you for testing. You can use python virtual environment to test with multiple Ansible versions.  Activate virtual enviornment and install Ansible using pip
[code]
another possible way it to run directly from the source code
[code]
Check out stable branch to test from latest stable versions
[code]

[2018-10-15 05:48] jannsuom commented on #36223
Not really... I was waiting for more traction on this subject but there was nothing. So assumed that the fix is not really needed.

[2018-10-15 06:07] justjais commented on #46671
@Zer0-One Thanks for raising the bug, the respective bug is fixed and merged in PR #46677 and backported to `stable-2.7` and queued for `2.7` future release. So, going ahead and closing the bug.

[2018-10-15 06:25] mdrose opened #47039 "influxdb_user: default / unspecified password results in unhandled exception"
##### SUMMARY
If you don't specify a value for the "user_password" parameter in the "influxdb_user" module, it results in an unhandled exception. The create user function in the influxdb python library doesn't support the None value specified by the module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
influxdb_user

##### ANSIBLE VERSION
devel branch

##### STEPS TO REPRODUCE
[code]
#####

[2018-10-15 06:58] justjais commented on #45090
@depereo any update on this particular issue?

[2018-10-15 07:31] csskysea opened #47043 "where can I look up attributes"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### ADDITIONAL INFORMATION

I want to look up all available `ansible` attributes.(hosts,tasks,handlers...), it seems `ansible-doc`
can only show module info.

[2018-10-15 07:46] Fred-sun commented on #46207
@yuwzho

[2018-10-15 09:01] PoseyZhong commented on #46313
@zikalino Any update?

[2018-10-15 09:17] saxus opened #47048 "Add maintenance_db parameter to postgresql_user"
##### SUMMARY
Currently there is no option to define which database should use for maintenance. The plugin assumes we will always use the 'postgres' user and this implcitly defines the database to 'postgres'. This case is usually OK, but not always. For example, if you're using Azure's Managed PostgreSQL you don't have any access to the 'postgres' user. You just have an user with name 'youradmin@h

[2018-10-15 09:44] AgilDat commented on #22169
We workaround this:

### Dependencies

Every role must set a fact at the end of its execution, this way we can handle dependencies in other roles.

Set `{{ role_name }}_was_executed` at the end of main file:

[code]

Declare dependencies at `meta` directory inside the other role:

[code]

[2018-10-15 09:46] AgilDat commented on #22169
It would be nice that Ansible manage this transparently.

[2018-10-15 09:47] geoffhigginbottom commented on #39554
No, this appears to have been resolved

[2018-10-15 10:00] yktoo opened #47050 "Copy module fails to create destination directory with remote_src as per documentation"
##### SUMMARY
The documentation for `copy` states that if `dest` ends with a `/`, it will be created if doesn't exist yet. It's not the case though if `remote_src` is set to `yes`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(no changes)

##### OS / ENVIRONMENT
Linux box 4.15.0-34-generic #37-Ubuntu SMP Mon Aug 27 15:21:48 UTC 2018 x

[2018-10-15 10:08] azielke opened #47051 "mysql_db: ProgrammingError when using quotes"
##### SUMMARY
When using `quoted` datebase names (e.g. name contains a dot), the database is successfully created on the first ansible run, but subsequent runs return an ProgrammingError.

When not using quotes, the database is not created, because it contains a dot:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_db

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

###

[2018-10-15 11:18] #29463 closed, assigned to nobody

[2018-10-15 11:27] ckotte commented on #38255
@corbinstuard Can you check https://github.com/ansible/ansible/pull/47052? This issue should be fixed.

[2018-10-15 11:29] ckotte commented on #41774
@kTitan @sat1121 @dandunckelman Can you check https://github.com/ansible/ansible/pull/47052? You can override the failover order now.

[2018-10-15 11:30] ckotte commented on #42887
@oheinz Can you check https://github.com/ansible/ansible/pull/47052? This issue should be fixed.

[2018-10-15 11:30] mwperina commented on #47018
Hmm, according to Ansible version report it uses Python 3.7.0. But you have installed ovirt-engine-sdk-python using pip to Python 2.7. Couldn't this be the issue why python sdk is not found?

@christianh814

[2018-10-15 11:33] ckotte commented on #44326
@Straevaras @adamdonahue Can you check https://github.com/ansible/ansible/pull/47052? Overrides should be handled properly now.

@Straevaras There's no bug in PyVmoni. You have to set the value to `None` if you want to use the switch values. Override is configured if you set the value to anything else.

[2018-10-15 12:40] rimiti commented on #42334
You're right @sivel ! You saved my day 🥇

[2018-10-15 12:57] OOsemka commented on #24694
I have been using shell module as a workaround. It's not optimal, but gets the job done. Being able to use single module rather then 2 would be much cleaner. Thanks for looking into it.

[2018-10-15 13:46] kinvaris commented on #46383
@mnaser
[code]

I investigated the code and the used `project_list` method in the `openstacksdk` library feeds you wrong information. If you put it in debug, it still uses the deprecated v2 URL even when providing v3.

Also see in the ticket: https://storyboard.openstack.org/#!/story/2003927
I am trying to use the keystone v3 public interface of our openstack overcloud.
But still see the client tr

[2018-10-15 13:55] nicolaibaralmueller opened #47056 "register on multiple hosts fails to create correct output"
##### SUMMARY
register on multiple hosts fails to create correct output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
register

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect ansible either to overwrite facts_users variable with last host or generate a outp

[2018-10-15 13:56] dizeee commented on #21094
@felixfontein It is documented actually:
https://docs.ansible.com/ansible/latest/modules/docker_container_module.html

[2018-10-15 14:02] Tlanute opened #47057 "win_iis_website site_id parameter does not work when there is no site in IIS"
SUMMARY
When there is no site created in IIS, the site_id parameter is ignored and the new site is created with ID 1

ISSUE TYPE
 Bug Report

COMPONENT NAME

win_iis_website

ANSIBLE VERSION

ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/

[2018-10-15 14:04] Tlanute commented on #47057
I think the problem is on line 87

 if ($sites_list -eq $null) { $site_parameters.ID = 1 }

[2018-10-15 14:10] dkossako opened #47059 "loop statement does not work with stdout_callback = unixy"
##### SUMMARY
When using loop statement with set stdout_callback = unixy output is not forwarded to stdout, like in example (supported_sites has two elements):

[code]

When commented:

When uncommented:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
unixy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Debian Stretch

##### STEPS TO REPRODUCE
Described in

[2018-10-15 14:14] sivel commented on #46980
Can you please provide the output from `ansible --version`

needs_info

[2018-10-15 14:23] #46999 closed, assigned to nobody

[2018-10-15 14:32] marafa commented on #46980
Ansible 2.7.0

On Mon, Oct 15, 2018, 10:16 AM Matt Martz <notifications@github.com> wrote:

[2018-10-15 14:47] sivel commented on #47043
https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https

[2018-10-15 14:47] #47043 closed, assigned to nobody

[2018-10-15 14:53] sivel commented on #46980
That is strange.  When targeting an Ubuntu 16.04 host, without python2 installed (`/usr/bin/python` not present) I get the following error:

[code]

I do not get an unreachable.  I'll try testing with Ubuntu 18.04 soon.

[2018-10-15 15:03] sivel commented on #46980
I have not been able to reproduce with Ubuntu 18.04 either.

I have to say, I feel like I am at a disadvantage, due to the fact that you decided to not fully fill out the bug report template.

Please fill out the template in its entirety, including all information you have about your configuration, including controller host OS info, and remote host info.

Please also include the output of this hap

[2018-10-15 15:05] samdoran commented on #46723
This particular big was fixed by 07ed487427, which will be in Ansible 2.7.1.

But this still doesn't make the plugin work with Alpine Linux.

This plugin issues the command `shutdown -r` on Linux systems. Alpine, for some very interesting reason, ignores any parameters passed to `shutdown`, so this module actually shuts down the system rather than rebooting it.

To make this plugin work properly w

[2018-10-15 15:07] samdoran commented on #46334
@ahes I only exempted `*` and `!` from the warning in #46498, so `L` showing the waring is expected.

[2018-10-15 15:09] ptux commented on #44238
fix by #47005

[2018-10-15 15:10] #44238 closed, assigned to nobody

[2018-10-15 15:16] mprinc commented on #7841
Sorry guys, but I am really disappointed with your response on this matter :( You even locked this issue for the same user complains :( https://github.com/ansible/ansible/issues/4622

What @jimi-c and @bcoca are constantly insisting on, is rather backing up that "ansible is INNOCENT!!!" It is NOT about that!? It is about the USER-expected behavior. And users are not happy, confused, etc. You do no

[2018-10-15 15:19] samdoran commented on #46562
@ssiegel I didn't know about `/proc/sys/kernel/random/boot_id` when I started writing this module. I was thinking of switching this to the primary option, but had not found when exactly it was added to the kernel. Thanks for finding that!

I have a WIP PR [#45656](https://github.com/ansible/ansible/pull/45656/files#diff-d8e166386a38471609399c2c6fe07ba5R39) that does switch to using this method pri

[2018-10-15 15:24] #47031 closed, assigned to samdoran

[2018-10-15 15:26] ghost opened #47063 "route53_zone: return existing zone id in check mode"
##### SUMMARY
099d8f0 has introduced support of check mode to `route53_zone` (see #26759).  But if one tries to run create/update zone in check mode, result contains no zone id, thus making it impossible to run other tasks for that zone.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
route53_zone

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS High Si

[2018-10-15 15:29] jmj4000 opened #47064 "Replace module regex does not work the same as lineinfile"
##### SUMMARY

Replace module regex does not work the same as lineinfile
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Replace module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat all versions
##### STEPS TO REPRODUCE

searching grub.conf
[code]
if you use this regex in line in file  regexp:
[code]
then \1 returns
[code]

If you use the replace

[2018-10-15 15:30] fxfitz commented on #46082
@ganeshrn Have you had any time to take a look at this yet?

[2018-10-15 15:39] pkaramol opened #47065 "docker_image async task fails with 104 Connection reset by peer"
##### SUMMARY
Waiting on an async task fails with requests `104` error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Here is a task called in `async` mode

[code]

Here its' await counterpart:

[code]

Here is the failure:

[code]

##### EXPECTED RESULTS

Await task sh

[2018-10-15 15:49] benjdudas opened #47067 "ios_config not idempotent when managing acls"
##### SUMMARY

When managing ACLs at the cisco device, the task is always shown as changed, even though the ACL is already present at the device.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco IOS XE Software, Version 16.08.01a
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The t

[2018-10-15 15:54] ganeshrn commented on #46082
@fxfitz Can you retest with the patch in PR https://github.com/ansible/ansible/pull/47004
The root cause seems to be similar to the one discussed [here] (https://github.com/ansible/ansible/issues/40884#issuecomment-429539826)

[2018-10-15 15:57] Qalthos commented on #46976
Can either of you try again with #47066? My guess is that something the module is calling (probably `show version` by the looks of it?) is being returned in an unexpected way from the connection process.

I'm not sure what might have changed in 2.7 to change the format of the response, but that PR might help me figure it out.

[2018-10-15 15:59] torched99 opened #47068 "role allow_duplicates behaviour incorrectly described"
##### SUMMARY
allow_duplicates:no for import_role appears to do nothing as there appears to be no way to pass role parameters.

allow_duplicate:no for include_role appears to work for vars: dict passing, and also matches those defined via roles: keyword with vars: dict.

The behaviour between between roles included/imported via the different methods, and ways to pass parameters/vars is not documen

[2018-10-15 16:02] sivel commented on #47006
As documented in the configuration settings, `become_flags` exists under the `privilege_escalation` section, whereas `sudo_flags` could exist under the `defaults` section:

https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-become-flags

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: htt

[2018-10-15 16:02] #47006 closed, assigned to nobody

[2018-10-15 16:06] sivel commented on #46954
Duplicate of https://github.com/ansible/ansible/issues/42561

[2018-10-15 16:06] #46954 closed, assigned to nobody

[2018-10-15 16:11] sivel commented on #46788
Which task failed to connect?

The "Actual Results" you have provided omit this necessary context.

needs_info

[2018-10-15 16:19] sivel commented on #46966
The reboot module uses the same underlying functionality that ansible uses to communicate with a remote host and execute commands.

As such, it will connect via your connection method to the target host and execute the necessary commands to reboot the target host and verify the reboot was successful.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.

[2018-10-15 16:19] #46966 closed, assigned to nobody

[2018-10-15 16:24] #47033 closed, assigned to nobody

[2018-10-15 16:29] mnaser commented on #46383
@kinvaris I'd disagree, `openstacksdk` is pretty stable.  What's your `clouds.yaml` look like?  I feel like you might have it wired up to v2 because either you didn't supply domains or enforce identity v3

[2018-10-15 16:39] mnaser commented on #39554
bug_resolved

[2018-10-15 16:41] sumanth567 opened #47069 "jenkins_plugin : not installing plugins while showing changed"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`jenkins_plugin.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-10-15 16:42] mnaser commented on #42858
Thank for your fix.

[2018-10-15 16:43] mnaser commented on #42901
resolved_by_pr #42899

[2018-10-15 16:43] sumanth567 commented on #47069
I am trying to install plugins in Jenkins, I am able to see the correct output which stated changed while installing plugin, but still plugins doesn't install in real.

Below is my sample code with couple of plugins:

- name: Install plugin
  tags: plugins
  jenkins_plugin:
    name: "{{ item }}"
    jenkins_home: "/home/jenkins/.jenkins"
    state: present
    url: "http://example.com"   # access

[2018-10-15 16:45] rafernandez opened #47071 "include_tasks with variables over "with_dict" fails."
##### SUMMARY

include_tasks don't let me pass variable when looping over Hashes ("with_dict" loop).
Works in version 2.6 but not in 2.7.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

playbook-test.yml :
[code]
lv.yml :

[code]

##### EXPECTED RESULTS

[2018-10-15 16:46] mkosobucki commented on #31640
Waiting for this patch.

[2018-10-15 16:50] ro8harp commented on #46810
@trishnaguha  Ive had success with an upgraded Ansible 2.7. So im left with converting how my playbooks use to work with this version.

Thanks for the suggestion you can close this out.

[2018-10-15 16:55] robertdebock commented on #46723
@samdoran, that's more than enough. It's great that the reboot module is included in 2.7, and would be great to gradually increase the list of supported distributions.

[2018-10-15 16:56] felixfontein commented on #21094
@dizeee Interesting. That part should only be in the `devel` documentation, but not in `latest`. That's the piece of documentation I inserted when implementing the new feature a week ago, and it will not be released until Ansible 2.8. I'll try to find out why that shows up in `latest`.

[2018-10-15 17:01] felixfontein commented on #21094
As you can see in the upper left corner, this is indeed the `devel` documentation and not the production documentation. There seems to be a problem with the documentation being served. The current production documentation for the `docker_container` module can be found here: https://docs.ansible.com/ansible/2.7/modules/docker_container_module.html

[2018-10-15 17:15] sivel commented on #47071
`include_tasks` no longer supports supplying inline vars.  Instead you must use `vars` to replicate your desired behavior:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-15 17:15] #47071 closed, assigned to nobody

[2018-10-15 17:35] felixfontein opened #47073 "latest documentation shows devel documentation"
##### SUMMARY
When going to https://docs.ansible.com/ansible/latest/, the devel docs are shown. Check URL ("latest") and "devel" in upper left corner:

![latest docs show devel docs](https://felix.fontein.de/store/ansible-doc-devel.png)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
documentation

[2018-10-15 17:56] LukeShortCloud opened #47075 "RFE: succeed_when/succeeded_when"
##### SUMMARY
A new `succeed_when` argument (with the reverse logic of `failed_when`) would help define the success logic for command and/or shell tasks when there is not a module to manage a certain operation. If the criteria was not met then it is assumed to have failed.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- command
- shell
- win_command
- win_shell

##### ADDITIONAL INFORMATI

[2018-10-15 18:08] akatch commented on #47059
@djmentos you are correct, I have been meaning to address this. I can't promise to look at it today, but will take a pass at it this week for certain. Thank you for filing this issue!

[2018-10-15 18:12] eddies1985 opened #47076 "onyx_l2_interface parameter trunk_allowed_vlans tries to remove all existing vlans on a port"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module onyx_l2_interface  parameter trunk_allowed_vlans

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

onyx 3.6.8138

##### STEPS TO REPRODUCE

1. configure 4 vlans
2. configure a switchport with trunk mode
2. Try to configure using ansible (the onyx_l2_interface module) the switchport with tr

[2018-10-15 18:17] Kocal commented on #19874
Same issue here, I can't use https://github.com/geerlingguy/ansible-role-php-versions :(

![capture d ecran de 2018-10-15 20-16-07](https://user-images.githubusercontent.com/2103975/46969698-331e0c80-d0b7-11e8-9e46-44bda61ac590.png)

[2018-10-15 18:18] fungusakafungus commented on #39170
Output of `ansible-inventory --list`:
[code]

I suspect that the problem is the group with the empty name (top of the output). Maybe it represents a group for an unset availability zone or something like this?

[2018-10-15 18:20] Akasurde commented on #38648
resolved_by_pr #47072

[2018-10-15 18:27] rambleraptor commented on #47025
Hello! Thanks for filing this. I've placed an issue on our code generator and I'll get started on a fix for this ASAP.

[2018-10-15 18:29] rambleraptor commented on #46488
Hello! The "required" metadata field is a bug. It's been fixed by https://github.com/ansible/ansible/pull/46876

[2018-10-15 18:31] rambleraptor commented on #39146
Hello! We're currently encouraging users to move towards the `gcp_compute_instance_template` module. It has much fuller support for the Google Cloud API, doesn't require a dependency on libcloud, and should have better future support.

The core team is still accepting PRs on `gce_instance_template`, so you're welcome to submit a PR if you'd like this fixed!

[2018-10-15 18:33] rambleraptor commented on #42378
Hi! Thanks a lot for filing this. I've added an issue to our code generator and I'll get a fix out ASAP.

[2018-10-15 18:34] ishant29 commented on #40884
I am facing the same error for running this against Cisco IOS XE Software, Version 16.09.01. It worked for first time for two task and then started failing for the first two task as well. I am using ios_config. Do we know the fix?

ansible 2.6.3

[2018-10-15 18:34] rambleraptor commented on #42358
Hello! There's a fix for this in https://github.com/ansible/ansible/pull/46882

[2018-10-15 18:36] rambleraptor commented on #30759
Hello! I'm a developer working on our Ansible modules.

We're encouraging users to move towards the `gcp_compute_instance` module. It has a lot fuller support for GCP features, doesn't require libcloud, and will be more futher updated in the future.

The core team is still accepting PRs on `gce`, so you're welcome to submit a PR if you'd like.

[2018-10-15 18:37] endejoli opened #47079 "oc.py thorws TypeError: cannot concatenate 'str' and 'NoneType' objects"
##### SUMMARY

While executing oc.py it throws TypeError: cannot concatenate 'str' and 'NoneType' objects error
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

oc.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS: Linux
VERSION="16.04.4 LTS (Xenial Xerus)"

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should create a service account

##### ACTU

[2018-10-15 18:38] rambleraptor commented on #34049
Hello!

I'm a Google developer working on our Ansible + GCP story. We're encouraging people to move towards the `gcp_storage_bucket` module. It has better API support, doesn't require libcloud, and will have better updates in the future.

I'm working on making this story even better with uploads/downloads and the like for storage.

(PRs are still being accepted on `gc_storage`)

[2018-10-15 18:39] rambleraptor commented on #37412
Hello! Just a heads up - we're encouraging people to use the new `gcp_*` modules to build load-balancers. I'm going to have better documentation soon to help with this. The new modules have more flexibility and don't require libcloud.

If you want to submit a PR for `gce_lb`, please do!

[2018-10-15 18:42] rambleraptor commented on #45105
Hello! This has been fixed across all of the GCP modules.

[2018-10-15 18:45] rambleraptor commented on #29556
Hello all!

I'm a Google developer focused on our GCP + Ansible story.

We're encouraging people to use the new `gcp_compute_instance` module because it has better API support + it doesn't use libcloud. The new modules have better support for service accounts too.

[2018-10-15 18:46] #28738 closed, assigned to Akasurde

[2018-10-15 18:46] rambleraptor commented on #40219
Hello! I'm a Google developer working on our Ansible + GCP story.

We're encouraging folks to move to the `gcp_compute_instance_template` module. It has fuller API support + doesn't require libcloud.

If you want to submit a PR on `gce_instance_template`, the core team is still accepting them!

[2018-10-15 18:48] rambleraptor commented on #40251
Hello! I'm a Google developer working on our Ansible + GCP story.

You might want to give the `gcp_compute_disk` module a try. It has better API support + doesn't require libcloud, so we anticipate keeping up with the API better.

[2018-10-15 18:50] rambleraptor commented on #45896
Hello again! Sorry for the lack of follow-up. AnsibleFest + conferences have made things hectic.

https://github.com/ansible/ansible/pull/46876 will fix this issue. Thanks for your patience!

[2018-10-15 18:52] bcoca commented on #47059
unixy only implements the `v2_runner_item_on_failed` so it won't show 'items' unless they fail

[2018-10-15 18:53] akatch commented on #47059
bcoca over here saving me a ton of time troubleshooting this. Cheers sir.

[2018-10-15 18:55] shepdelacreme opened #47080 "pamd Exception OSError attempting to close already removed temporary file"
##### SUMMARY

When using the pamd module with Ansible 2.7.0 I am getting a warning every time the module makes a change. This does not happen on 2.6.5, haven't tested with latest `devel` though. It appears the module is attempting to close/delete a named temporary file that is already closed.

This exception might be happening after the module has already successfully exited because it doesn't ca

[2018-10-15 19:10] sivel commented on #47056
I'm confused as to what the problem is.

`register` will register the return from `win_get_users` to a variable named `facts_users` _**per**_ host.

`facts_users` won't be updated/extended or set to only the value from the last host.

Each host may have a different value for the variable named `facts_users`.

needs_info

[2018-10-15 19:20] rafamanzo opened #47081 "k8s_raw module errors with AttributeError: 'NoneType' object has no attribute 'get'"
##### SUMMARY

Deploying kubernetes' cert-manager plugin (https://github.com/jetstack/cert-manager) using k8s_raw I get an unexpected error which looks like to be located at https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/k8s/raw.py#L91.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIR

[2018-10-15 19:23] traittinen opened #47082 "Making failover_state more easily available in bigip_device_facts module"
##### SUMMARY

It is currently quite complicated to run tasks only on active BIG-IP node in active/standby HA setup since failover_state variable is found in devices list with no clear link to the node the task is run against.

It would be much easier to run tasks only on active node if failover_state information for local node would also be found under system_info. That could be easily matched wi

[2018-10-15 19:27] shepdelacreme opened #47083 "pamd module not idempotent when using state: updated"
##### SUMMARY

The pamd module is not idempotent when using `state: updated`. That mode will always report a change even if `module_arguments` hasn't been altered.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[code]

Also tested with `2.6.5`

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Use the pamd module in `state: updated`

[2018-10-15 19:42] sivel commented on #47064
You are correct in that the regexp params between `lineinfile` and `replace` work differently.

`lineinfile` is designed to operate on individual lines, so we loop each individual line, and apply the regular expression to each individual line.

`replace` is designed to work on the file as a whole, and instead of applying the expression to each individual line, uses the file as a whole.  Additional

[2018-10-15 19:42] #47064 closed, assigned to nobody

[2018-10-15 20:01] sivel commented on #47065
This appears to be caused by the `docker_image` module causing a Traceback, which is not recoverable.

Pinging some docker contributors:

cc @dariko @felixfontein @jwitko @kassiansun @tbouvet

[2018-10-15 20:09] #39554 closed, assigned to nobody

[2018-10-15 20:20] wzur opened #47085 "disable_excludes option for yum module doesn't accept Yum repository ids"
##### SUMMARY
The `disable_excludes` option for the `yum` module doesn't accept an actual Yum repository id.
This option has been added in Ansible 2.7

Instead it accepts only a literal `repoid` (apart of `all` and `main`) which is not exactly what it should have been. There is a snippet from the yum's man page for:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`yum` module

#####

[2018-10-15 21:07] #47024 closed, assigned to sivel

[2018-10-15 21:38] jamesmarshall24 opened #47092 "Enhancement: JBoss EAP Server Management Core Module"
##### SUMMARY

A core module to manage JBoss EAP Server Management using the JBoss CLI

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

jboss_eap_server_mgmt_module

##### ADDITIONAL INFORMATION

[code]

[2018-10-15 21:58] mprinc commented on #9116
Starting with Ansible v2.0 you can do it:

- name: merging hash_a and hash_b into hash_c
  set_fact: hash_c="{{ hash_a|combine(hash_b) }}"
Check more under Ansible filters - Combining hashes/dictionaries (coming from Jinja2)

[2018-10-15 22:02] fxfitz commented on #46082
@ganeshrn We just backported your fix from the referenced PR, but we are still seeing lots of truncation. :-P

[2018-10-15 22:03] automateyournetwork commented on #42388
I have Ubuntu installed on Windows 10 along with the WSL

I have added the following to my /etc/environment

ANSIBLE_CONFIG="/etc/ansible/ansible.cfg"

I am still getting the error

How did those who added the ANSIBLE_CONFIG environment variable make it work?

[2018-10-15 22:05] ssarraju commented on #12730
This doesnt sort group_names by level.

[2018-10-15 22:06] fxfitz commented on #46082
However, we can verify that we are **NOT SEEING** truncation when using the __NETCONF__ connection plugin.

We are only experiencing this with the __network_cli connection plugin__.

[2018-10-15 22:12] sivel commented on #47024
This has been resolved by https://github.com/ansible/ansible/pull/47060

backports have been opened for 2.7.x and 2.6.x

[2018-10-15 22:15] fxfitz commented on #46082
We have just confirmed it is the Regex. We'll open up a PR shortly to fix.

[2018-10-15 22:29] christianh814 commented on #47018
So I siwtched to using python3.7 and I'm still having the same issue...

[code]

[2018-10-15 22:37] pankajcheema opened #47097 "Module Unarchive Sometime not giving expected result"
OS: Ubuntu 16.04 LTS

##### SUMMARY

This is a  task in my playlist .When i run this task multiple time I am not getting all the extracted file into the output folder .

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Unarchive
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu16.04

##### STEPS TO REPRODUCE

Run my task multiple time frequently

[code]

[2018-10-15 22:40] soodakshay commented on #47097
I faced a similar issue when tried to unarchive a tar.gz from http url.

[2018-10-15 22:49] jborean93 commented on #47018
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * If you look at your original output we can see Ansible is executing the module with `<localhost> EXEC /bin/sh -c '/usr/bin/python /Users/christian/.ansible/tmp

[2018-10-15 22:49] #47018 closed, assigned to nobody

[2018-10-15 22:59] slikk66 commented on #47097
Pretty sure I just hit this too, Ansible 2.7.0:

[code]
    - name: Download and extract Prometheus node exporter tarball
      unarchive:
        src: "{{ prometheus_node_exporter_tarball_url }}"
        dest: "{{ prometheus_install_dir }}"
        owner: "{{ prometheus_owner }}"
        group: "{{ prometheus_group }}"
        copy: no
        creates: "{{ prometheus_install_dir }}/{{ prometheus_

[2018-10-15 23:06] willthames commented on #47081
Use k8s to deploy cert manager, rather than k8s_raw.

[2018-10-15 23:12] willthames commented on #47081
This output is almost unreadable - I'm not sure why you're using ssh but there seems to be a broken pipe in there?

It would be good to get this down to a much more minimal failure case by isolating the resource definition that is actually failing, but it could just be a connection reset on your ssh connection

[2018-10-15 23:38] pankajcheema commented on #47097
7 cases are successful extraction out of 10.

[2018-10-16 00:30] iharrington opened #47098 "Terraform Module fails to validate variables.tf file when specified"
##### SUMMARY

Attempting to use a variable file for terraform specified using the variables_file: '/path/to/variables.tf' and I can not get past validation step. When validating manually there are no issues, I can manually execute the same files/directory via terraform w/out issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Terraform module RE: variables_file (The path to a variables f

[2018-10-16 01:07] csskysea commented on #47043
@sivel thank you

[2018-10-16 01:08] jborean93 commented on #47008
@kvprasoon we currently have a list of rules that are being ignored right now at https://github.com/ansible/ansible/blob/devel/test/sanity/pslint/ignore.txt. Feel free to have a look through there and fix up what you can.

We do explicitly ignore some rules here https://github.com/ansible/ansible/blob/devel/test/sanity/pslint/settings.psd1 either because they are redundant due to how Ansible works

[2018-10-16 01:40] #46438 closed, assigned to nobody

[2018-10-16 02:36] KieranP opened #47102 "2.7 breaks include_tasks with variables"
##### SUMMARY
After upgrading to Ansible 2.7, our scripts stopped working. Looks like the behaviour of include_tasks was broken.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Mac OS High Sierra

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
In 2.6, it used to load the tasks in the yml file, and ruby_version would

[2018-10-16 02:39] KieranP commented on #47102
There appears to be no mention of this breakage in the changelog, and the documentation doesn't include any examples for this. Can someone provide me the up to date syntax please?

[2018-10-16 03:30] rohanpm opened #47104 "file "follow" default changed despite stableinterface"
##### SUMMARY

The file module is documented as "stableinterface which means that the maintainers for this module guarantee that no backward incompatible interface changes will be made".  Yet in ansible 2.5, the default value of the follow parameter to the file module changed, which is a backwards-incompatible interface change.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

file

##### ANS

[2018-10-16 04:28] #40251 closed, assigned to nobody

[2018-10-16 06:47] shabbir1282 opened #47105 "macos ansible lineinfile libselinux-python"
I am trying to change /etc/hosts file in remote linux machines, my source os is macos, when i run the module it gives the following error, tried both in venv and without it.

TASK [Ansible insert a line before example] ***************************************************************************************************
fatal: [10.1.1.1]: FAILED! => {"changed": false, "msg": "Aborting, target uses se

[2018-10-16 07:03] mkrizek commented on #46301
From `yum` module documentation (https://docs.ansible.com/ansible/latest/modules/yum_module.html):
[code]

So, your variable needs to look like this:
[code]
or (for instance) this:
[code]

[2018-10-16 07:03] #46301 closed, assigned to nobody

[2018-10-16 07:12] felixfontein commented on #47073
This was apparently fixed.

[2018-10-16 07:12] #47073 closed, assigned to nobody

[2018-10-16 07:30] justjais opened #47106 "Ansible tower_user module is not idempotent"
##### SUMMARY

Ansible tower_user module is not idempotent, as it shows as changed as True every time the module runs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tower_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos

##### STEPS TO REPRODUCE

On running the below playbook, tower_group modules shows changed=True every time the respective pla

[2018-10-16 07:31] Tomorrow9 opened #47107 "Add support for enabling EFI secure boot of the VM"
##### SUMMARY

EFI secure boot is introduced from HW version 13 on ESXi 6.5, so "boot_firmware" parameter can add a new option for users to enable secure boot when creating VM or reconfigure VM.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest
##### ADDITIONAL INFORMATION

Users can set firmware to "bios", "efi", and "efi and secure boot".

[code]
ANSIBLE VERSION
ansible 2.8.0.d

[2018-10-16 07:32] tadeboro opened #47108 "Redfish facts module fails to retrieve some systems"
##### SUMMARY
redfish_facts module fails to list all systems available through Redfish API endpoint.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
redfish_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible is running on GNU/Linux Fedora 28. Redfish API returns three systems:

[code]

##### STEPS TO REPRODUCE
Run `ansible-playbook systems.yml` whe

[2018-10-16 07:34] #47105 closed, assigned to nobody

[2018-10-16 07:34] jenis23 commented on #44310
Any solution for this problem? I am using Fortinet 60E, fortiOS 6.0.2 and face the same problem. Please help if anyone has found solution.

[2018-10-16 07:35] shabbir1282 commented on #47105
the libselinux-python wasn't installed on the remote machine, it worked with a remote ubuntu machine.

[2018-10-16 07:35] jenis23 commented on #33392
Any solution for this problem? I am using Fortinet 60E, fortiOS 6.0.2 and face the same problem. Please help if anyone has found solution.

[2018-10-16 07:36] jenis23 commented on #25655
Any solution for this problem? I am using Fortinet 60E, fortiOS 6.0.2 and face the same problem. Please help if anyone has found solution. For me, one host also do not work.

[2018-10-16 08:03] jalr commented on #19874
Has anyone got an idea why this happens? An empty variable would be better but literal "NA" string is just awful because it is harder to debug this error.

As a workaround for debian buster, I replaced `ansible_distribution_release` with `ansible_lsb.codename`.

[2018-10-16 08:29] hoerup opened #47110 "win_updates - check wsus connectivity"
##### SUMMARY
Have win_updates (or a helper module) check for wsus connectivity before starting the update process
I have added a simple helper task that sortof does the same - but would be nice to have this as an integrated feature.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_updates

##### ADDITIONAL INFORMATION

    - name: Check wsus configuration
      register: wsuscheck

[2018-10-16 09:09] ganeshrn commented on #46082
@fxfitz Appreciate your efforts in fixing the junos terminal regex. Since all junos modules (except `junos_netconf`) work with `netconf` transport the issue in junos terminal regex might have gone unnoticed.

To read a buffered response on the paramiko channel there can be 2 approaches
1) Continue to read the buffer till desired string is received and break the loop.
2) Wait of the predefined amou

[2018-10-16 09:14] Im0 commented on #46976
Thanks @Qalthos - I've tested and provided feedback on #47066

[2018-10-16 09:25] santos101 opened #47111 "azure_rm_deployment - too many 503 error responses"
##### SUMMARY
Trying to deploy ARM template into existing 'test' group using ansible module 'azure_rm_deployment' fails with error;

RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/removedID/resourcegroups/chrisktestgroup/providers/Microsoft.Resources/deployments/ansible-arm?api-version=2017-05-10 (Caused by ResponseError('too m

[2018-10-16 09:31] davidebelloni commented on #45105
Hi,
with Ansible 2.7.0 I've the same behaviuor:

[code]

Thanks

[2018-10-16 09:51] ganeshrn commented on #40884
@ishant29 Can you please retest with the fix in PR https://github.com/ansible/ansible/pull/47004

[2018-10-16 10:50] Nithesh-b commented on #46726
Thank you, it seems the issue was with the AMI that we were using.

[2018-10-16 10:50] #46726 closed, assigned to nobody

[2018-10-16 11:24] jamessemai opened #47114 "user: removal of the expiry time not working"
##### SUMMARY
A negative value for the "expires" parameter of the user module should remove the expiration time of an account. This is not working.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Seen on CentOS 7.5:

[code]

##### STEPS TO REPRODUCE
Starting from a user which account is about to expire,

[2018-10-16 11:30] Akasurde commented on #47107
@Tomorrow9 Thanks for requesting this feature. This is already been address using https://github.com/ansible/ansible/pull/46717, https://github.com/ansible/ansible/pull/40609 and https://github.com/ansible/ansible/pull/42730

Let me know if it is OK to close this feature request.

[2018-10-16 11:56] AlanCoding commented on #46803
Possibly connected to bugs with association, see discussion:

https://github.com/ansible/ansible/pull/42029#discussion_r224412639

This may have been resolved by that patch.

[2018-10-16 11:56] AlanCoding commented on #47106
See https://github.com/ansible/ansible/issues/36990

[2018-10-16 12:04] cristidas commented on #39215
@willthames
This underlying issue is still present.
Putting a variable as value for `containerPort` will convert that into string during execution, and if ECS Service already exists, it will read that as a request to change Load Balancer configuration on that Service, and will fail with

`"msg": "It is not possible to update the load balancers of an existing service"`

When `containerPort: 1234`,

[2018-10-16 12:17] justjais commented on #47106
@AlanCoding thanks for updating about the issue, but have 1 query regarding the same that based on your comment: https://github.com/ansible/ansible/issues/36990#issuecomment-370440027.

I tried creating a user using:
[code]
and then in the second run commented on the password argument, but still was getting `changed=True` also tried changing the first name but again running for the second time it'

[2018-10-16 12:58] AlanCoding commented on #47106
If the password is not provided, then it should assess that all existing fields match provided fields and returned with changed=False. When I tested this, that was the behavior I observed. There could be a bug in the modules I don't know of yet. If you have obtained that situation, I would appreciate seeing verbose output for the playbook.

[2018-10-16 12:58] benjdudas commented on #43275
@mnaser This was opened on a customers behalf, and at this time the only traceback I have on this is the following:

[code]

[2018-10-16 13:01] bcoca commented on #46632
no, `delegate_to` implies using 'connection information' from the host you delegate to, if using the 'implicit localhost' that would mean a local connection, but there is no reason you cannot make that ssh.
https://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html

[2018-10-16 13:04] Nebelwolf commented on #43641
@maxamillion I also have this Problem. You're the maintainer of the module?

In the Module only list-units for systemd is used, however list-unit-files would also be needed to fill in the disabled units.
list-units is not showing disabled units :disappointed:

[2018-10-16 13:11] bcoca commented on #47032
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is not how variables work, first, they are 'lazily' evaluated, which means that the template and even then they are not templated

[2018-10-16 13:11] #47032 closed, assigned to nobody

[2018-10-16 13:17] coreaut opened #47118 "The service_facts module is hiding disabled services"
##### SUMMARY
The service_facts module is hiding disabled services because those are only shown with
**list-unit-files** and the module uses **list-units**

The module should also use the information from:
[code]
to fill in the missing services.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
service_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04

[2018-10-16 13:17] chiefy commented on #45367
We have a situation where I think this is happening - I can't confirm yet, but our use case is as follows:

We are running some unit tests inside a docker container via the `shell` module using redirection to print output to a file `docker run... &>> /some/log/file` We loop this task until it exits 0 (succeeds). I've been trying to figure out why the logs are all truncated after the first few line

[2018-10-16 13:38] torched99 commented on #46632
Maybe I did not explain properly, I meant delegating to localhost for a given task.  However, I was in fact
wrong (I think now) that it is not overridable.  You can use vars: ansible_connection: my_local_conn_plugin for the task to achieve it.  I was trying to use "connection: my_local_conn_plugin" for some reason :-(

[2018-10-16 13:45] gundalow commented on #45839
Myself and @dw happened to met yesterday at the London Ansible Meetup, we both agreed we will work together to progress this. There is a load of great work in Mitogen that Ansible can benefit from.

We can use this ticket to link to the various bits of work that will be going on:

- [ ]  Ansible Architecture Diagram - Something that we are working on internally. This should help describe how some

[2018-10-16 13:46] bcoca commented on #46632
if you read the link above, the 'implicit localhost' sets `ansible_connection`, which has priority over `connection`, but you can still override as you described.

[2018-10-16 14:04] ilychkov opened #47119 "Grafana dashboard can't create a dashboard"
##### SUMMARY
When trying to create a dashboard, a error appears.
Apparently, it happens [here](https://github.com/ansible/ansible/blob/b48526ca65dd782a2dca5bf2db72e335ceb5e8f3/lib/ansible/modules/monitoring/grafana_dashboard.py#L243)
Seems like the script expects a "dashboard" section in the dashboard JSON, which actually doesn't exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
grafana

[2018-10-16 14:08] rafamanzo commented on #47081
Hi @willthames thanks for answering

I've tried using k8s rather than k8s_raw with the same error in a shorter version (the issue template asked to use -vvvv that's why the unreadable output):

[code]

In the [k8s module docs](https://docs.ansible.com/ansible/2.6/modules/k8s_module.html) it states that it is an alias for k8s_raw. That's why I was using k8s_raw. Given that I know you have a reason

[2018-10-16 14:16] acozine commented on #47073
@felixfontein thanks for letting us know - this was user error on my part, fixed last night

[2018-10-16 14:21] #47056 closed, assigned to nobody

[2018-10-16 14:28] torched99 commented on #46632
Ah yes.  That makes it clear.

[2018-10-16 14:46] sivel commented on #47102
I've created the above PR which will add mention to this change in the porting guide.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-16 14:46] #47102 closed, assigned to nobody

[2018-10-16 14:55] fungusakafungus commented on #39170
I've tested this a couple times with different versions, and found that the group with empty name and the unrelated variable are present when using ansible 2.5.7, but since ansible 2.5.8 it works correctly.

[2018-10-16 14:55] #39170 closed, assigned to nobody

[2018-10-16 15:01] sivel commented on #47118
Related: https://github.com/ansible/ansible/issues/45730

[2018-10-16 15:07] sivel commented on #47104
Thank you for the feedback. We are aware that we changed the functionality of a stableinterface module, but did so after a lot of discussion in regards to making our module interface more consistent.

This discussion happened in https://github.com/ansible/proposals/issues/69 as well as multiple IRC meetings with the community.

If you have further questions please stop by IRC or the mailing list:

[2018-10-16 15:07] #47104 closed, assigned to nobody

[2018-10-16 15:11] acozine commented on #47102
@KieranP thanks for reporting this.

[2018-10-16 15:17] defionscode commented on #27287
@kevensen back port made here https://github.com/ansible/ansible/pull/47126. Seems this issue is solved, closing.

[2018-10-16 15:17] #27287 closed, assigned to nobody

[2018-10-16 15:18] defionscode commented on #36700
Seems all issues mentioned here have been addressed by merged PRs. closing

[2018-10-16 15:18] #36700 closed, assigned to nobody

[2018-10-16 15:39] ckotte commented on #44758
Today, I got hit by that "bug" as well. This is really weird. However, I can avoid this error with:
[code]
I will create a PR soon..

[2018-10-16 15:40] ganeshrn commented on #46082
That's cool! So this PR coupled with your fixes in junos terminal regex should hopefully fix the truncated response issue.

Currently for every command executed `buffer_read_timeout` will trigger and the response will be delayed by default 1 sec which is the downside of this approach.

We are thinking to change the default of `buffer_read_timeout` to `0` so the user can set the timeout value only

[2018-10-16 15:47] shoekstra opened #47131 "Reboot action missing shutdown command from path on CentOS 7 (Ansible 2.7)"
##### SUMMARY

Cannot reboot CentOS 6 hosts using the `reboot` action, get an error back that `shutdown` is not found in the path.

When SSHing with the same command ansible uses for reboot:

[code]

When logged in (same result using sudo):

[code]

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

`reboot` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONM

[2018-10-16 15:51] #46611 closed, assigned to nobody

[2018-10-16 15:53] shoekstra commented on #47131
I've also tried setting the path via the environment option for the reboot action:

[code]

This didn't seem to make a difference.

Also verified my connection/command is run as root by adding this to my playbook:

[code]

stdout_lines output:

[code]

I did modify the `reboot.py` so that `DEFAULT_SHUTDOWN_COMMAND = 'shutdown'` is `DEFAULT_SHUTDOWN_COMMAND = '/usr/sbin/shutdown'` and then the acti

[2018-10-16 16:06] dbsrv commented on #46788
It was the task that involved **reboot** module that failed. I suspect it was due to yum upgraded some ssh related packages that might have affected it. If I come across this failure again I'll log it.

[2018-10-16 16:08] rrey opened #47132 "Playbook failure when journal enabled on centos"
##### SUMMARY
Some issues reports failure of playbook on centos with a traceback pointing a failure in `module_utils/basic.py`.
Example: issues: #39295 and #45362

I traced the failure in that portion of code:
[code]

Both of the modules that fails have a `message` parameter which is converted to uppercase in the previous code.
The problem is that the `systemd.journal.send` method already requires

[2018-10-16 16:14] Akasurde commented on #47131
cc @samdoran

[2018-10-16 16:18] shoekstra commented on #47131
Something I forgot to add was the `sudo` command locally once SSHed:

[code]

So it appears the problem exists only via SSH, command locally works as expected.

[2018-10-16 16:21] emre141 commented on #42152
Hi,

I have same problem just using aws_ssm lookup

- name : Get SSM Parameter Store RAbbitMQ Username
  debug: msg="{{ lookup('aws_ssm', 'rabbitmq_username', region='eu-central-1' ) }}"

I am using ansible role in my autoscaling group so there is a cloud-init file to run ansible-playbook as below

ansible-playbook /etc/ansible/roles/rabbitmq/tests/test.yml --connection=local

So new instance in A

[2018-10-16 16:41] defionscode commented on #36954
fixed by https://github.com/ansible/ansible/pull/47133

[2018-10-16 17:04] samdoran commented on #47131
This is failing because the `secure_path` doesn't include `shutdown`. The default `secure_path` on CentOS 6 and CentOS 7 is `secure_path = /sbin:/bin:/usr/sbin:/usr/bin`. You can see the current `secure_path` by running `sudo -l`. What is the `secure_path` on the host you are trying reboot?

You list the target OS as "CentOS 6 CentOS Linux release 7.5.1804 (Core)". Is the target OS CentOS 6 or 7?

[2018-10-16 17:12] adamw-linadm commented on #40303
@Akasurde centos7:
[adam@ip-10-0-1-185 ~]$ rpm -qa | grep -i boto
python2-botocore-1.6.0-1.el7.noarch
python2-boto-2.45.0-3.el7.noarch
python2-boto3-1.4.6-1.el7.noarch

[2018-10-16 17:14] maxamillion commented on #43025
@juame this is strange, I'll keep digging. You are still experiencing this issue though, yes?

[2018-10-16 17:29] amendoza-navent commented on #34049
That sounds great, but I couldn't find an example to create directories using gcp_storage_bucket module. The official documentation only show one example to create a bucket.

[2018-10-16 17:41] drawks commented on #18911
This issue is nearing it's second birthday and has been present for *5* minor releases of ansible.

[2018-10-16 17:49] boweeb commented on #36990
The "bug" here IMO would be that this unintuitive information is _not documented_ where one would expect (or at all?).  [Module docs](https://docs.ansible.com/ansible/latest/modules/tower_user_module.html).

[2018-10-16 18:45] felixfontein commented on #21094
The latest docs have been updated, they now point to the 2.7 docs (as before).

[2018-10-16 19:02] felixfontein commented on #47065
The error happens in `docker_image` as it tries to build the container. The code calls [client.build()](https://docker-py.readthedocs.io/en/stable/api.html#module-docker.api.build) and processes its output; the stacktrace is an internal error appearing inside docker-py (it is not one of the documented errors of the build function). It could be a timeout, or something else.

Searching for the under

[2018-10-16 19:35] tyhawk commented on #46948
It fails on every playbook I tried (which work fine on accounts with a different password.
The task fails immediately, even before connecting to a host with SSH. It's like Ansible parses the password as a part of the playbook and thinks its a template.
The password is asked because I added the --ask-pass flag.

If you need additional information, feel free to ask for it.

[2018-10-16 20:01] sivel commented on #46948
Underlying traceback:

[code]

[2018-10-16 20:22] bcoca commented on #46948
if you use `ansible_pass: !unsafe <password>` it should work for now, we probably need to fix internally to always consider passwords 'unsafe'

[2018-10-16 20:45] mfish82 opened #47143 "Module: cli_command gives error when responding to prompt "msg": "get() got an unexpected keyword argument 'check_all'""
##### SUMMARY

When trying to run a basic command that gives a prompt to respond to on a Cisco WLC 5508, the module breaks with the following error `msg": "get() got an unexpected keyword argument 'check_all'"`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cli_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.4
Cisco WLC 5508 - 8.3.141.5

#

[2018-10-16 21:01] it-praktyk commented on #28758
I'll try to resolve that issue.

[2018-10-16 21:02] mfisher30 commented on #47143
https://github.com/ansible/ansible/pull/47141

[2018-10-16 21:43] sivel commented on #46948
@bcoca At minimum I was thinking those provided from the CLI should be unsafe.  Not sure passwords everywhere, as some people do put vars in their passwords coming from elsewhere.  But from the CLI you have no option to explicitly mark them as unsafe.

[2018-10-16 21:45] bcoca commented on #46948
yes, i meant 'prompted passwords', users already have control over the others

[2018-10-16 22:07] heyakyra opened #47147 "Ansible hangs (fails to timeout) on gathering facts if lspci doesn't exit"
##### SUMMARY
Running a any playbook now hangs on the step of gathering facts on localhost

Removing ~/.ansible has no effect (others reported that helped)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gathering_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No config
[code]

##### OS / ENVIRONMENT

Fedora 29 workstation

##### STEPS TO REPRODUCE

Really unsure about this. It w

[2018-10-16 22:10] userlerueda commented on #31640
I am looking at the latest version and they moved away from shade to openstacksdk, in essence this means that it will require a PR first in openstacksdk in order to support this.

[2018-10-16 22:12] dmurarasu opened #47148 "nxos_static_route add track option"
##### SUMMARY

Add track parameter option to the nxos_static_route module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nxos_static_route
##### ADDITIONAL INFORMATION

Adds the ability to configure track on static routes
I will create a PR to try and add this shortly.

[code]

[2018-10-16 22:12] geauxvirtual opened #47149 "K8S_AUTH_* environment variables not read in Ansible 2.7"
##### SUMMARY
In Ansible 2.7, the K8s module does not use any values set in K8S_AUTH_* environment variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
K8s

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7 - AWX Container

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

K8s module uses the values set in the K8S_AUTH_* environment variables.

##### ACTUAL RESULTS

[2018-10-16 22:15] mnaser commented on #31640
openstacksdk should be able to provide you with everything you need (if it existed in shade)

@emonty should be able to tell you more :)

[2018-10-16 22:34] bcornec opened #47154 "urpmi broken with 2.7.0 vs 2.5.5"
##### SUMMARY

Using urpmi with ansible 2.7.0 is broken compared to the same usage with 2.5.5

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Probably in ansible/modules/packaging/os/urpmi.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running on Mageia Linux 6.1
Linux victoria2.home.musique-ancienne.org 4.14.70-server-2.mga6 #1 SMP Thu Sep 20 22:18:1

[2018-10-16 22:45] tony-caffe commented on #42166
I currently have the exact same issue. It reports Green OK instead of removing the key.

Also, docs do not specify if the key needs to be an exact match to the whole line or if its literally just looking for the key itself without the comment appended or the `ssh-rsa`. Removing the key based on the key only would be more reliable than matching the comment and everything else that could be in there

[2018-10-16 23:00] drawks opened #47156 "capabilities module has inscrutable behavior, it should be replaced with a simpler implementation"
##### SUMMARY
While trying to come up with a decent PR to resolve #18911 I've come to the conclusion that the entire capabilities module doesn't have any consistent sane behavior and should either be replaced with a module with simpler semantics or alternately roll this capability into the `file` module

##### ISSUE TYPE
- Module replacement

##### COMPONENT NAME
capabilities module

##### ADDITIO

[2018-10-16 23:18] drawks commented on #47156
@natefoo I'm interested in your take on this one, after thinking on it for a little bit I think it'd make a lot of sense to treat this the same way that the `selinux` arguments are handled especially since the `security.capability` information is stored in the file inode in the same manner and namespace as selinux info.

[2018-10-17 01:35] willthames commented on #47149
Hmm, I've used K8S_AUTH_KUBECONFIG and K8S_AUTH_CONTEXT successfully with 2.7

[code]

works fine for me

[2018-10-17 01:37] willthames commented on #47149
Can you provide the full error message you're seeing running ansible with `-vvv`

[2018-10-17 03:01] ruozeng-w opened #47171 "Ansible stuck when target host OS is AIX without python environment"
##### SUMMARY

using ansible to connect an AIX host which never installed python, the progress will hang there  without any output.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ssh connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible host:
    CentOS Linux 7.4

target host:
    OS: AIX 7100-03-05-1524
    Ssh: OpenSSH_6.0p1, OpenSSL 1.0.1e

[2018-10-17 04:11] geauxvirtual commented on #47149
Here is a gist that includes the output from 2.6.4 that succeeds and 2.7.0 that fails. At the end of the gist is the failure message. I wrote a simple playbook that displays the current-context in the kubeconfig file and then creates a namespace.

https://gist.github.com/geauxvirtual/3c7d889687bf10131f7b718d19745464

I seem to have confused the error messages I was seeing from my laptop to our AWX

[2018-10-17 04:11] jlsam opened #47175 "Cannot edit vault file if defined in ansible.cfg"
##### SUMMARY

Cannot edit vault file if mentioned in ansible.cfg, with misleading error "[WARNING]: Error in vault password file loading (default): A vault password must be specified to decrypt data". Command executes correctly once 'vault_password_file' in ansible.cfg is commented out.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-vault edit
##### ANSIBLE VERSION

[code]

##### CO

[2018-10-17 04:17] StalkerOne commented on #13278
I tried to repair it by this way, but failed. Can you help me?

[2018-10-17 04:30] bendews commented on #47032
Thanks @bcoca that makes sense - although is not readily apparent reading the documentation. I would have assumed that templating a value in `vars` would be the same as assigning the value to that variable, not to have it evaluate the template every time that variable is used.

[2018-10-17 04:33] willthames commented on #47149
Can you post the full output rather than the AWX truncated output (which has lots of `...` in it).

It would be helpful to see the full playbook you're using here too.

[2018-10-17 05:04] justjais commented on #46671
@Zer0-One can you please share the initial login banner message along with the first prompt that comes after you are logged into the device with ssh session as connection prompt is failing right after the initial connection is done and trying to do privilege escalation.

[2018-10-17 05:18] #37912 closed, assigned to nobody

[2018-10-17 07:21] mkmayank opened #47179 "roles listing twice"
##### SUMMARY

In [documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-duplication-and-execution),   it is specified that "Ansible will only allow a role to execute once, even if defined multiple times". It is executing once, but while list-tasks, it is showing twice.
from `man ansible-playbook`
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NA

[2018-10-17 07:39] patsevanton commented on #24035
I had the same mistake. the reason was in a non-working DNS server

[2018-10-17 07:39] patsevanton commented on #14426
I had the same mistake. the reason was in a non-working DNS server

[2018-10-17 07:45] Fred-sun commented on #47111
@zikalino Could you help take a look this issue? Thanks!

[2018-10-17 07:57] drewmullen commented on #35435
getting the same error when using molecule on pythone 3.6.6 https://github.com/metacloud/molecule/issues/1514

[2018-10-17 08:36] justjais commented on #47106
With `-vvvv` argument and with commented password argument passwprd param is going as `null` and coz of which I suppose it's showing as `changed=True`. Below is the verbose output for reference:
1. With Password argument:
[code]
2. Without Password argument:
[code]

So, respective behaviour is not as expected.

[2018-10-17 08:38] moorglade opened #47182 "os_port - different order of items in allowed_address_pairs list should not trigger changes"
##### SUMMARY
The exact order of items in `os_port` module's `allowed_address_pairs` parameter should not be considered a configuration change by the module.

Currently, if the order of port's address pairs returned from the OpenStack API is different from the order of items specified in the `allowed_address_pairs` list, the module treats it as a configuration change and proceeds to modify the por

[2018-10-17 09:05] flamein commented on #46959
Together with the following issue described in https://github.com/ansible/ansible/pull/46740 this leaves no working option that's actually working for dynamic inventory. Am i missing something in my plugin definition here, or is there really no functioning dynamic inventory in both ansible 2.6 and ansible 2.7?

[2018-10-17 09:08] justjais commented on #46803
@AlanCoding  shall wait for the user to create new PR/patch which will ultimately solve two of the issues I am facing currently i.e. 1st tower_group/host association and 2nd tower_group idempotent issue.

[2018-10-17 09:08] HalisCz opened #47184 "dnf: autoremove is not working as documented in ansible 2.7.0"
##### SUMMARY
I've used the same playbook until now. One of the tasks is:
[code]
With earlier versions of Ansible (prior to 2.7.0), it worked. Now it fails with error included below.

This can be fixed by invocating the module with:
[code]
... but the documentation of this module says about `autoremove` option

and also the documentation of this module mentions `autoremove` example, which is no lo

[2018-10-17 09:58] bpain commented on #29310
gitlab_user module no longer seems to work with ansible 2.7 and the latest gitlab. Any plans to fix this?

[2018-10-17 10:10] flamein commented on #46959
As a follow up, I tried the patch proposed in  https://github.com/ansible/ansible/pull/46740, and that leads to the same problem described above.

[2018-10-17 10:10] Trozz commented on #46723
Most linux distributions have the `reboot` command as well which can be used to simply reboot a system instead of `shutdown -r`

[2018-10-17 10:51] flamein commented on #46959
Okay, I dove further into this. As per https://docs.ansible.com/ansible/latest/scenario_guides/guide_gce.html#gce-dynamic-inventory a project could be described as an `organization:project`.
That doesn't work, removing organization from there solves the issue for me.

So either the documentation there is wrong, or it should work and there is a bug in handling that format `organization:project`

Th

[2018-10-17 11:13] mkrizek commented on #47184
So this is caused by the fact that the `dnf` module assumes that there is no default state if user doesn't set it explicitly:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/dnf.py#L1052

which worked well until this commit b07f7792963c649889ab78db44bddf41275de322 fixed default value for `state` to be `present` and broke the assumption.

cc @maxamillion

[2018-10-17 12:03] machacekondra commented on #45900
+label ovirt

[2018-10-17 12:03] machacekondra commented on #45900
@mwperina

[2018-10-17 12:04] machacekondra commented on #45900
!component ./lib/ansible/modules/cloud/ovirt/ovirt_vm.py

[2018-10-17 12:05] machacekondra commented on #45900
!component =lib/ansible/modules/cloud/ovirt/ovirt_vm.py

[2018-10-17 12:06] shoelzle commented on #19746
This is still an issue in ansible 2.6.5

[2018-10-17 12:21] in-in opened #47192 "The blockinfile module deletes a text block"
##### SUMMARY

The blockinfile module deletes a text block, even if the "state" parameter is set to "present"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux Mint 19

##### STEPS TO REPRODUCE

test-case repo: https://github.com/in-in/blockinfile_module_test
The repository contains the file

[2018-10-17 12:34] jiedongd commented on #45918
thanks a lot, it works for me

[2018-10-17 13:10] lcuquejo commented on #42594
Same issue here..

[WARNING]:  * Failed to parse /Work/ansible-deployments/inventory/kafka-clients with yaml plugin: Syntax Error while loading YAML.   found unexpected ':'  The error appears
to have been in '/Work/ansible-deployments/inventory/kafka-clients': line 1, column 15, but may be elsewhere in the file depending on the exact syntax problem.  The offending
line appears to be:   [kafka-clie

[2018-10-17 13:34] flamein commented on #46959
More complete examples. for instance, what is expected for keyed_groups.
Doc says it expects a list:
` [WARNING]:  * Failed to parse /home/f_lamein/projects/ansible-gcloud/prod.gcp.yml with auto plugin: Invalid keyed group entry, it must be a dictionary: tags`
What kind of dictionary is needed to group based on what values? An example would be extremely helpful here.

Same goes for groups, althoug

[2018-10-17 13:37] shepdelacreme opened #47197 "pamd module adds duplicate arguments to rule when using state: args_present"
##### SUMMARY

The pamd module when using `state: args_present` doesn't account for rule arguments that have values when doing a comparison in the module code. i.e `remember=5` is different from `remember=6` so the module adds a duplicate argument to the rule. It should split on the `=` and compare value to value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[

[2018-10-17 13:46] mamunozgonzalez commented on #33392
Hi,
 I think that module is not maintained. I have tried to contact the author several times and no luck. However we have some alternative modules (including backup) in:

https://github.com/fortinet-solutions-cse/40ansible

We are submitting some of those modules gradually.

You can find an example for backups in:
https://github.com/fortinet-solutions-cse/40ansible/tree/master/examples

Can you tr

[2018-10-17 13:48] geauxvirtual commented on #47149
Here is the playbook. I looked through the output, the only two expansions I see are around the failure message that I posted in a separate file and the entire kubeconfig file that gets printed when set as an Ansible fact. I can post that whole output, but I'll have to redact out some information.

[code]

[2018-10-17 13:59] #46082 closed, assigned to ganeshrn

[2018-10-17 14:04] mgedmin opened #47198 "pip: name=distribute state=absent removes setuptools in Ansible 2.7"
##### SUMMARY

I've a task that removes `distribute` from virtualenvs because it's been superseded with `setuptools`.

Starting with Ansible 2.7 this task is now trying to remove `setuptools` due to some misguided name normalization.

(Background: `distribute` was installed inside the virtualenvs because the system-provided `/usr/bin/virtualenv` on Ubuntu some.ancient.version.I'm.not.sure.which.on

[2018-10-17 14:10] jensenja opened #47200 "ansible-connection complaining about vaulted ansible_ssh_pass not being JSON-serializable"
##### SUMMARY
After upgrading to ansible 2.7.0, `ansible-connection` is complaining about my vaulted `ansible_ssh_pass` not being JSON-serializable. Converting the password to plaintext in my `group_vars` file allows the playbook to run.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

slxos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
using ansibl

[2018-10-17 14:18] jensenja commented on #47200
of note is that i have a `group_vars/all.yml` with the vaulted password. using both ironware and slxos modules with the vars. the ironware devices do not generate this error. only the SLX devices. both are using `ansible_connection: network_cli`

[2018-10-17 14:21] Qalthos commented on #46976
@Im0 So that PR isn't designed to fix this issue so much as it is to help figure out what the issue is. Mostly because I'm still not sure what this issue is. Hopefully it will make issues like these better self-describing so we don't have to go through all this again and instead get down to fixing what's wrong.

Based on your response on that issue, it seems like running either `dir` or `show memo

[2018-10-17 14:21] sengaya commented on #29761
I did a PR a year ago that would have integrated `yum clean <option>`, see https://github.com/ansible/ansible/pull/31450
Unfortunately it was closed... I still would like to see this feature as I get `Consider using yum module rather than running yum` all the time.

[2018-10-17 14:30] Qalthos commented on #46943
Duplicate of #41238

So this is generally desired behavior. You didn't give much context as to why you want to retain duplicate commands, but generally this comes down to applying similar config lines to multiple instances on a device (a set of interfaces, for example) where this issue can be solved more elegantly with a loop.

If you really think you have a special case where a loop is not approp

[2018-10-17 14:30] #46943 closed, assigned to nobody

[2018-10-17 14:32] acozine opened #47202 "Change "state: installed" to "state: present""
##### SUMMARY
When running an example from the documentation, I got a deprecation warning:

`[DEPRECATION WARNING]: State 'installed' is deprecated. Using state 'present' instead.. This feature will be removed in version 2.9. `

It looks like we use this obsolete wording several times in the `devel` documentation.
[code]

Update these references to use `state: present` and re-test examples.

#####

[2018-10-17 14:37] ameyaagashe commented on #17727
This is not yet working, please re-open the ticket.
python azure_rm.py --list
'Cloud' object has no attribute 'find'

ansible -i azure_rm.py ansible-inventory-test-rg -m ping
Located , here : https://docs.microsoft.com/en-us/azure/ansible/ansible-manage-azure-dynamic-inventories

[2018-10-17 14:37] machacekondra commented on #42895
resolved_by 43636

[2018-10-17 14:37] machacekondra commented on #42895
resolved_by_pr 43636

[2018-10-17 14:41] machacekondra commented on #37796
This will be working in oVirt/RHV 4.2.8, since it was bug in oVirt API. close_me

[2018-10-17 14:47] mnecas commented on #34154
Will work from version 4.3
https://bugzilla.redhat.com/show_bug.cgi?id=1615287

[2018-10-17 14:58] D3DeFi commented on #46953
@HampusLundqvist thank you for the report and detailed steps to reproduce. I will try to implement fix for it as soon as I am able. Your proposed changes may work, but I need to test them to be sure

[2018-10-17 15:05] justjais commented on #46815
@pffs Thanks for raising the issue, but before looking into respective issue can you please comment on the following queries as that'll help to move in the right direction:
1) How are you running the play for "thousands of times"
2) What's the content of included tasks files
3) What's the inventory dimensions
4) And, can the problem be reproduced without networking modules

[2018-10-17 15:09] jdavid5815 commented on #46484
I was finally able to test the new vmware_tag_manager module. My first attempts failed because the vSphere user did not have the "assign tags" privilege. After fixing that, it worked great!

However, I would like to mention that when it fails, it does not fail properly. The playbook gets stuck. Here's an example:

`
fatal: [test01dev.brusselsairport.aero -> localhost]: FAILED! => changed=false
  m

[2018-10-17 15:16] abenokraitis commented on #46815
Greetings, if you happened to have opened a Red Hat support issue as well, can you please help us refer to it? Thanks!

[2018-10-17 15:42] pratikkava1189 opened #47205 "ec2 module - [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed"
##### SUMMARY
Not able to create ec2 instance through ansible module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION
ansible 2.5.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executabl

[2018-10-17 15:47] justjais opened #47206 "Ansible tower_role module is failing with field not found error"
##### SUMMARY

Ansible `tower_role` module is failing with _field not found error_ when trying to assign the user to a particular team.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tower_role.py and ansible_tower.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

mac os
##### STEPS TO REPRODUCE

Try to run `tower_role` module for assigning user to part

[2018-10-17 15:51] christian-simmen opened #47207 "'with_dict' not working correctly when used in combination with a variable as input for 'delegate_to'"
##### SUMMARY
While using a variable as input to 'delegate_to' in combination with
'with_dict' a dictionary configured in host_vars of host A is also
used for host B.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_to
with_dict

##### ANSIBLE VERSION
[code]
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Tested on
 - Centos 7.5.1804 (Core)
 - Arch Linux

##### STEPS TO REP

[2018-10-17 15:55] Akasurde commented on #46460
@blambo10 Can you please try this playbook which returns list of tags associated given virtual machine ? Let me know if you need some help.

[2018-10-17 15:57] nemoback opened #47210 "yum module (stuck, hangs)"
##### SUMMARY

When running ansible-playbook to install something via yum module will hang (stuck) for unlimited time if on 1 server form the list you trying to install,  there is locked yum (meaning somebody trying to install something but didn't press y to continue or n).

So I would expect from ansible to give some feedback, even -vvv didn't help and didn't show where is the problem … I would l

[2018-10-17 15:59] jdavid5815 commented on #46484
I believe I also found a small bug. The code does not seem to be idempotent. Each time I run the playbook, it reports a change, though it's always the same tag that has already been added before:

[code]

My task:

[code]

The variable **vmguest_tag_list** contains:

[code]

[2018-10-17 16:01] kristvanbesien opened #47212 "scaleway_compute: Add option to set security group"
##### SUMMARY
Add a security_group option to scaleway_compute
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
OPTION
- security_group
      ID of security group to assign to the compute.

##### ADDITIONAL INFORMATION

This would make the scaleway_security_group module a lot more usefull.

this would then be possible:
[code]

[2018-10-17 16:04] AlanCoding commented on #47206
https://github.com/ansible/ansible/issues/39745

[2018-10-17 16:21] bcoca commented on #47200
@jensenja see if the PR above fixes the issue for you

[2018-10-17 16:29] #39215 closed, assigned to nobody

[2018-10-17 16:31] #46800 closed, assigned to nobody

[2018-10-17 16:34] #46710 closed, assigned to nobody

[2018-10-17 16:41] samdoran commented on #46723
@Trozz `reboot` is handy, but it doesn't accept as many parameters as `shutdown`, particularly the timeout delay.

[2018-10-17 16:43] justjais commented on #47206
@AlanCoding #41663 PR which actually has the fix is open from long with certain review comments, and also since the PR was created for `2.7devel` it cannot be merged directly as it can only be backported to `2.7` now.
So, can we open a new PR with changes fixing the review comments and merge to `2.8devel` and backporting to `2.7`?

[2018-10-17 16:52] pffs commented on #46815
@justjais

1. Not for thousands of times, it dies after thousands of devices are complete. Mostly specifying this as a way of saying it works for a while and eventually dies, usually around the 1-2k devices complete mark. W run large plays like this in serial so that we can take advantage of persistent connection as otherwise we'd have to reconnect with every task (and in general it runs much fast

[2018-10-17 17:11] jensenja commented on #47200
I just copied the modified `ansible-connection` into `/usr/bin` in the control container during a rebuild. It looks like stdlib's `json.encode()` is still being called.

[code]

[2018-10-17 17:13] robinro commented on #47198
cc @HD650

[2018-10-17 17:15] racciari commented on #37921
Hi there, I submited PR #37923 into the 2.5 branch (closed), here is a new one for the devel branch.

[2018-10-17 17:42] Anthonyjmartin commented on #35493
I am also having this issue with 2.6.4.

[2018-10-17 17:45] feikesteenbergen commented on #43592
I'm wondering what I should do to get the referenced pull request merged.
Anyone able to help me out here with that?

[2018-10-17 18:02] LeoUfimtsev opened #47225 "Custom error message when a module fails."
##### SUMMARY
When a module fails, there is no built-in way to print a custom message. Only via a 2nd task.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- Module syntax

##### ADDITIONAL INFORMATION
For example:

[code]
The error is not very clear if you're not the person who wrote the script:

    fatal: [localhost]: FAILED! => {"changed": false, "msg": "One or more supplied key could n

[2018-10-17 18:33] mattclay opened #47226 "Unstable integration test azure_rm_appserviceplan"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_appserviceplan integration test

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_appserviceplan:

https://app.shippable.com/github/ansible/ansible/runs/88950/77/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tes

[2018-10-17 18:33] mattclay opened #47227 "Unstable integration test azure_rm_webapp"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_webapp integration test

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test azure_rm_webapp:

https://app.shippable.com/github/ansible/ansible/runs/88950/77/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

#####

[2018-10-17 18:41] mattclay commented on #47226
Marked unstable in:

* devel https://github.com/ansible/ansible/commit/1947d903cde4e5654284cb07d70b0c54ea2f1cf1
* stable-2.7 https://github.com/ansible/ansible/commit/c0b0dd7e6e1582ad2541a2ce471858772cd6f7d8

[2018-10-17 18:42] mattclay commented on #47227
Marked unstable in:

* devel https://github.com/ansible/ansible/commit/1947d903cde4e5654284cb07d70b0c54ea2f1cf1
* stable-2.7 https://github.com/ansible/ansible/commit/c0b0dd7e6e1582ad2541a2ce471858772cd6f7d8

[2018-10-17 18:52] dagwieers opened #47229 "win_reboot: Default reboot_timeout (600 sec) may not suffice"
##### SUMMARY
Currently the **win_reboot** module comes with a pre-configured default value of 600 seconds for the **reboot_timeout**. For normal reboot this may suffice, but a few conditions could result in unexpected failures.

- The system may have updates applied before rebooting, which results in additional pre-boot and post-boot processing, and occasionally additional reboots.

- The system

[2018-10-17 19:09] Kloperations opened #47230 "nxos_install_os performs ISSU when set to "no""
##### SUMMARY
Switch performs a non-disruptive upgrade, even when ISSU parameter is set to "no"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_install_os

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Nexus 5596, Nexus 5672
Current Code Versions:7.3(2)N1(1) & 7.1(4)N1(1c)
Target Code Version: 7.3(3)N1(1)

##### STEPS TO REPRODUCE

use the nxos_insta

[2018-10-17 19:19] mskymoore commented on #47197
@shepdelacreme I'll take this one.

[2018-10-17 19:34] mikewiebe commented on #47230
@Kloperations Let me investigate and get back to you.  I just looked at the code and we should be building the command set without the `non-disruptive` flag when `issu` is set to `no`.

[2018-10-17 19:42] bcoca commented on #47032
first, we don't normally get notified about closed tickets, but someone pinged me about this in irc.

We don't go into a lot of detail about how vars work internally, but we do specify about lazy evaluation, I just didn't think we had to tell people that evaluating a variable once does not 'fix it' in time.

A good example on how vars work:
[code]
If you want 'static' evaluation you need to use a

[2018-10-17 20:00] Kloperations commented on #47230
Typically in our environment we prefer to use disruptive upgrades, even when the upgrade path is non-disruptive.
We have had too many issues in the past related to ISSU and just flat out avoid it, it has even been recommended by our Cisco AS team not to use ISSU.  When we perform the upgrade manually we use the keyword “FORCE” to force the disruptive upgrade

Install all force system bootflash:xyz

[2018-10-17 20:09] mapo-job commented on #15868
I had a similar error, I got " an undefined variable was found when attempting to template the vars_files item" but only if I use the command with local_action.
My vars_file has a variable **run_env** define in the host file : 'vars/{{run_env}}/env.yml'.  I got the error because there is no localhost variable defined.
To verify it I created a localhost host file with the same variables and it work

[2018-10-17 20:11] memo42 commented on #46980
I can confirm that I am getting a descriptive error when uninstalling python from debian stretch.
[code]

[2018-10-17 20:30] zlbabe opened #47245 "k8s_facts return values do not have the same structure."
##### SUMMARY

when k8s_facts founds resources the return values are:
[code]
however when no resource is found, the return values are
[code]

It would be helpful to have the `resources` key instead of `items`. This may be helpful in case some tasks depend on whether a specific object exists or not to in order to be run.
An example would be to run some Jobs before deploying some new pods.
If someon

[2018-10-17 20:30] #46542 closed, assigned to nobody

[2018-10-17 20:57] felixfontein commented on #26374
resolved_by_pr #45508

[2018-10-17 21:01] webknjaz commented on #39155
Implemented by @angristan via #44939

[2018-10-17 21:01] #39155 closed, assigned to nobody

[2018-10-17 21:11] #26374 closed, assigned to nobody

[2018-10-17 21:21] memo42 commented on #46980
Fedora 28 as well
[code]

[2018-10-17 21:56] memo42 commented on #47210
I tried to reproduce this with one fedora 28 server.
In this case it being locked resulted in Ansible responding with "OK" suggesting the program I was trying to install was already present (which it definitely was not). But it did not hang.
[code]
Have you tried reproducing this with less than 5 servers?
[code]

[2018-10-17 22:01] u05rav opened #47249 "vars_plugin called many more times than necessary"
##### SUMMARY

vars_plugins are called many more times than nesecary
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vars_plugins
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 16.04
##### STEPS TO REPRODUCE

create a vars plugin that prints something each time it is called

[code]

##### EXPECTED RESULTS

I would expect the plugin to be called once

[2018-10-17 22:09] bcoca commented on #47249
Once per playbook would not get the info they we need, they are called every time you need host vars , per host and per group the host is part of.

They should also cache information that is not likely to change across invocations as the host_group_vars plugin does.

[2018-10-17 22:11] bcoca commented on #47249
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2018-10-17 22:11] #47249 closed, assigned to nobody

[2018-10-17 22:27] dagwieers opened #47251 "win_scheduled_task: Not possible to create idle task"
##### SUMMARY
The module does not seem to support idle tasks with a set idle time to execute, the default idle time used seems to be set to 10 minutes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_scheduled_task

##### ANSIBLE VERSION
v2.8

##### OS / ENVIRONMENT
Windows 10 targets

##### STEPS TO REPRODUCE
In Windows you can create an "idle" action with a specific idle time, e.g. 30 m

[2018-10-17 22:41] ianwilliamsonnz commented on #47033
Hello Matt

Thanks for looking at this issue. I have not looked in to awx yet, I will
look for the level set on that now.
Perhaps you are correct that the bug should be with ansible/awx, I am too
inexperienced to know.
The problem is that the integration document does not mention awx it
recommends a bash script of tower-cli. I expect if I log a bug to awx for a
tower-cli problem I will get the sam

[2018-10-17 22:46] bcoca commented on #47249
As i posted above, it is called anytime we need vars for a host, then for each host it is called for each one of it's groups, otherwise we would need to pre-load all possible vars for all hosts and groups. This creates many issues when you have a very large inventory and is a big waste when you only really access data for a small subset of hosts.

[2018-10-17 23:18] drewmullen commented on #43639
has this been baked into a release yet? the latest im seeing on https://download.docker.com/linux/debian/dists/ is 10/5. im new to docker though, not sure how exherbo/virtualization relates to the overall moby/moby project

[2018-10-17 23:54] IPvSean opened #47252 "better error message for tower_host module"
##### SUMMARY
The error thrown when an inventory does not exist is not clear to the user what is happening

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
Simple playbook, in this case the inventory "Workshop Inventory" does not exist yet in tower
[code]

##### EXPECTE

[2018-10-18 00:06] willthames commented on #47245
Fixed in https://github.com/ansible/ansible/pull/46733

I do need to backport this to 2.7 though, so thanks for the reminder

[2018-10-18 00:06] #47245 closed, assigned to nobody

[2018-10-18 00:18] willthames commented on #47149
That all looks very reasonable. Can I ask what version of openshift and kubernetes python libraries you're using? (might be worth trying with `openshift>=0.7.0` if you're not already doing so)

[2018-10-18 00:40] geauxvirtual commented on #47149
openshift (0.7.2)
kubernetes (7.0.0)

[2018-10-18 00:52] salman1485 commented on #30411
I have to agree that we have faced this problem few times when we have 1000+ servers in inventory and it looks with clients. Each module must have timeout which must just move on to next host or task if something is stuck for xx minutes. Every time we have to trim down number of hosts in inventory and run jobs over and over. By the time we reach to the last set, issue is resolved with bad host and

[2018-10-18 00:57] tnielsen2 opened #47254 "yaml inventory: empty keys in group declaration can break inventory parsing"
##### SUMMARY

I am running Ansible from the command line on my local machine and am not able to get around two host-pattern groups in my inventory being ignored . I am unsure why this is happening. All new groups I have created work, with the exception of these two. I have verified my YAML inventory file with a linter with no issues.  I have tried deleting the information from the inventory file

[2018-10-18 01:38] u05rav commented on #47249
Ok, I understand that it needs to be called multiple times but in this case we have 3 nodes which are all in the same single group.  If we call it for each host/group combo that's 3 then once more for each group that's still only 4 calls.  If we do that for gathering facts and for the single play in my playbook we get to 8.  I don't understand how we get to 36.

[2018-10-18 01:59] coreywan opened #47255 "WINRM Connection Hangs after localhost or SSH Connection"
##### SUMMARY

Unable to connect to a windows host using WINRM after performing tasks or plays against a non-windows host. (localhost or another linux box)
If Ansible on the control host is running under python 2.7.15 this issue occurs. On a python 3 implementation it doesn't show itself.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

WINRM Connection Plugin
##### ANSIBLE VERSION

[code]

#

[2018-10-18 02:18] Tomorrow9 commented on #47107
Oh, ok, sorry for not seeing that new module, I'll close this request. Thanks a lot.

[2018-10-18 02:18] #47107 closed, assigned to Akasurde

[2018-10-18 02:49] Akasurde commented on #47107
No problem. Thanks a lot for the feature request.

[2018-10-18 03:12] Im0 commented on #46976
@Qalthos - thanks for your help.

[code]
I tried `ios_command` for both `dir` and `show memory statistics`.  `dir` is fine, however, `show memory statistics` fails.

[code]

Memory options for this model:

[code]

This is a c3850 running 03.06.09E.

HTH.

[2018-10-18 03:49] scottd018 opened #47256 "[RFE] Improve Foreman Dynamic Inventory by Leveraging include=all_parameters"
##### SUMMARY
Newer versions of Foreman allow for include=all_parameters, which allows us to pull parameters back in the initial API calls and parse in memory.  This prevents from having to make several subsequent API calls back to the Foreman API to pull all_parameters.  This isn't awful for small environments, but it doesn't scale well for large environments (currently testing against 1500 hosts

[2018-10-18 04:41] scottd018 commented on #47256
Code fix in progress....

BEFORE (1500 Foreman Hosts)

real	4m28.928s
user	0m7.183s
sys	0m0.728s

AFTER (1500 Foreman Hosts)

real	2m7.485s
user	0m5.715s
sys	0m0.649s

[2018-10-18 05:34] Fred-sun commented on #42769
@nitzmahone

[2018-10-18 05:39] jborean93 commented on #42769
Added with https://github.com/ansible/ansible/pull/44944

[2018-10-18 05:39] #42769 closed, assigned to nitzmahone

[2018-10-18 05:52] Zer0-One commented on #46671
@justjais can do, but I need a week or so.

[2018-10-18 05:56] justjais commented on #46671
@Zer0-One sure, plz update/share the required result when done. Thanks

[2018-10-18 06:08] jborean93 commented on #47080
Potentially this is fixed with https://github.com/ansible/ansible/pull/47133, would be great if you could try it out.

[2018-10-18 06:09] #36954 closed, assigned to nobody

[2018-10-18 06:11] Akasurde commented on #46484
@jdavid5815 Thanks for testing this, I will check on my side and get back to you.

[2018-10-18 06:31] jborean93 commented on #47175
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * You are using [vault_password_file](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-vault-password-file) in the assumption thi

[2018-10-18 06:31] #47175 closed, assigned to nobody

[2018-10-18 06:33] r4j4h opened #47259 "k8s_raw cannot handle Ansible Vault encrypted files"
##### SUMMARY

k8s_raw works fine with raw .yaml files but does not work with Ansible Vault encrypted files, but fails apparently trying to parse them. It does not warn if no vault password is provided like normal modules would.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7 trying to hit M

[2018-10-18 06:44] #44991 closed, assigned to nobody

[2018-10-18 07:05] jborean93 commented on #47225
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * You can set `- name: ...` on the task to provide  nice identifier of the tas

[2018-10-18 07:05] #47225 closed, assigned to nobody

[2018-10-18 07:35] jborean93 commented on #47255
This is quite puzzling, I recently was told of an issue with winrm freezing when using an Anaconda installed Python and kerberos auth but unsure whether that was restricted to 2.7 or if 3 was even tested. What's more puzzling is that it works initially but fails when using an SSH task. Are you able to try out the following;

* Use ntlm auth for testing, set `ansible_winrm_transport=ntlm`
* If the

[2018-10-18 07:54] gundalow commented on #47202
@memo42 I see you've got a commit for this. Once you are happy could you please raise a PR?

[2018-10-18 08:04] antoshkin23 opened #47262 "Error occurred while using hashing filter on single encrypted variable"
##### SUMMARY

"_crypt() argument must be string, not AnsibleVaultEncryptedUnicode_" error occurred while using hashing filters on single encrypted variable.
So it's impossible to set hashed password via 'user' module when using vaulted variable
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-vault
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

###

[2018-10-18 08:12] antoshkin23 commented on #47262
!component

[2018-10-18 08:36] xkrt commented on #44128
I believe this is not about lookup or dig plugin, but about set_fact/until loop.
Example:
[code]
Expected: random will be evaluated at every iteration.
Actual: random evaluates only on first iteration and this value reused on all next iterations.

See my thread on [google groups](https://groups.google.com/d/msg/ansible-project/duGlCxlsdIA/czrun2xOCAAJ).

[2018-10-18 08:37] mtyurt commented on #19809
Still having the same issue on 2.5.5.

[2018-10-18 09:03] Tux12Fun commented on #28736
Affects 2.5.3

[2018-10-18 09:10] flybd5 commented on #41535
lambda_policy does not enable triggers. Have you created the sns source event that lambda_policy is allowing the lambda to receive? Does the lambda execution role have the correct permissions?

[2018-10-18 09:21] flybd5 opened #47264 "AWS Lambda role will sometimes return erroneous ARN"
##### SUMMARY
When creating a Lambda on AWS, sometimes the result shows a correct ARN, but once in a while it will append a version number at the end which breaks other modules that need that to perform some action related to the Lambda.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Lambda

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
AWS, I'm running OS

[2018-10-18 10:02] 1tarak commented on #39890
i have upgraded to 2.7 . Its working fine now.

[2018-10-18 10:09] pmarques opened #47268 "Azure inventory plugin batch requests failing"
##### SUMMARY

Azure is requiring a request __name__ to allow batches bigger than 20 requests.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Create a yaml file, **inventory/infra.azure_rm.yaml**
[code]

Execute:

[code]

##### EXPECTED RESULTS

We expect a list of hosts but we get and error instead

##### ACTUAL RESULTS

[cod

[2018-10-18 10:39] pmarques commented on #47268
I can't find any details in the documentation :( https://developer.microsoft.com/en-us/graph/docs/concepts/json_batching

[2018-10-18 11:07] machacekondra commented on #37796
close_me

[2018-10-18 11:09] machacekondra commented on #35286
@dhoeld  @divansantana Can you please try with following fix:

https://github.com/ansible/ansible/pull/47185/

Does it work for you?

[2018-10-18 11:54] azertyfun opened #47277 "The apt module won't work with python-apt < 0.8.9 (such as on Ubuntu 10.04). Workaround/fix included."
##### SUMMARY

When attempting to deploy a *.deb file on an old debian-based system, the latest version of ansible will fail with the following message (on the latest version):

[code]

This has already been reported in #31471.

However, fixing that will only throw another error (that affects older versions before the architecture check was added):

[code]

##### ISSUE TYPE
- Bug Report

##### COM

[2018-10-18 11:56] azertyfun commented on #31471
This bug still affects Ansible 2.7 for all systems with python-apt < 0.8.9, since that's when [`get_architectures()` was added](https://github.com/mvo5/python-apt/commit/b7ce3c2b47e1234631e00cb0ba8a86fa0aa9c8d8).

It can be worked around by using `hasattr()`:
[code]

However, to get it running, you also need to work around another bug, as described in #47277.

[2018-10-18 12:15] shepdelacreme commented on #47080
Looking into this further it seems we should set `delete=False` when using NamedTemporaryFile or this will happen.

You can see this in a couple of other modules that use NamedTemporaryFile. https://github.com/ansible/ansible/search?q=NamedTemporaryFile&unscoped_q=NamedTemporaryFile

[2018-10-18 12:31] machacekondra commented on #45900
Right, that's because of `cloud_init_persist: True`. With this parameter you can choose if you want to store the `cloud_init` parameters in VM or, if `cloud_init_persist: False` (which is default) the `cloud_init` configuration will be used only with run once and won't be stored with VM. Is that clear, or should we improve documentation?

[2018-10-18 12:35] Vladimir-csp commented on #33802
Shouldn't it be retagged to newer versions?

[2018-10-18 13:12] Fantasylp2705 opened #47284 "Loop_var"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

items are out of order

[code]

[2018-10-18 13:14] Cryolite commented on #19131
On Ansible 2.7, even the workaround described in https://github.com/ansible/ansible/issues/19131#issuecomment-286555573 does not seem to work.

[2018-10-18 13:37] gliech opened #47287 "Ansible 2.7 breaks include_tasks in handlers"
##### SUMMARY

Using the include_tasks module inside a handler results in an unexpected exception in Ansible 2.7 . The same code runs as expected in Ansible 2.6.5 .
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

The problem was first identified in a role that updates a VM Hypervisor on Scientif

[2018-10-18 13:42] biohazd commented on #46757
can anyone confirm it should work for NLB's ?

[2018-10-18 13:43] aioue commented on #17324
in same position as @cytopia. Gave up trying to make a dynamic key and resorted to separate tasks.

[code]

[2018-10-18 13:48] joefodor commented on #46976
@Qalthos thanks for responding I cloned down your conn-json-failure into a m mini conda and I am getting this message now. I appreciate your help!

The full traceback is:
WARNING: The below traceback may *not* be related to the actual failure.
  File "/var/folders/mf/5_fm8pgx593_82qdqb1wkrd4jrn9tj/T/ansible_ios_facts_payload_vuN68s/ansible_ios_facts_payload.zip/ansible/module_utils/network/ios/ios

[2018-10-18 13:51] joefodor commented on #40884
@hanbaobao2005 interestingly enough I downgraded from IOS 3.7.2 to 3.6.8 on my 3650 and it started working.  Not sure if the reboot was what fixed it or if it was the IOS version.

[2018-10-18 13:53] bcoca commented on #47249
Each time we need vars for a host you get:
1 call for the host name
1 call for each group the host is part of (min of 2 as 'all' is always present)

We are not limited to fetching vars just one time per task/host though we try to limit this as much as possible.

[2018-10-18 13:56] mohag commented on #24855
A workaround (on Ubuntu 18.04 is to install these DEB packages from out-of-repo sources: (The first two are included on 16.04)

* [python-slip](https://packages.ubuntu.com/xenial/python-slip)
* [python-slip-dbus](https://packages.ubuntu.com/xenial/python-slip-dbus)
* [python-firewalld](https://github.com/hryamzik/python-firewalld/releases)

[2018-10-18 14:13] #30145 closed, assigned to nobody

[2018-10-18 14:13] samdoran commented on #46723
@robertdebock Thats very neat! I didn't know that.

I was trying to avoid fact gathering as part of this plugin, but it now seems that is the best approach

[2018-10-18 14:17] keeely opened #47291 "Unable to find and restart built-in service on Slackware."
##### SUMMARY

Can't restart service on Slackware 14.2

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Slackware 14.2, 64-bit unpatched.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-10-18 14:18] dieterdm commented on #45900
Using the graphical user interface (I'm using RHV 4.2), one can configure the cloud-init parameters via the "Edit" -> "Initial Run" menu and run the virtual machine ("run", not  "run once"). In this case, the cloud-init parameters are used and the VM will be configured correctly after booting. This looks similar to configuring the cloud_init parameter and setting cloud_init_persist to True in your

[2018-10-18 14:41] amarao commented on #34281
If someone is interested how to use play-level variables for conditional playbook-import:
1. Set up that variable as a fact in the play
2. Use `when` with `import_playbook` to check this variable (with full path, `hostvars.hostname.a_variable`)

If someone is interested, I managed to make import_playbook be conditional on `--limit` in the command line:

https://medium.com/opsops/import-playbook-wi

[2018-10-18 15:03] damaca commented on #46476
Any update?

[2018-10-18 15:13] damaca commented on #17665
Not included yet in 2.7, ¿right?

[2018-10-18 15:18] sivel commented on #47262
Duplicate of https://github.com/ansible/ansible/issues/24425

[2018-10-18 15:18] #47262 closed, assigned to nobody

[2018-10-18 15:22] sivel commented on #47287
This bug appears to have been introduced by 5f953d1129925579b7bf6ea2cce1ccf583199801

[2018-10-18 15:22] coreywan commented on #47255
@jborean93

- I am using ntlm currently
- I was able to try out the psrp connection and it had the same result. Worked find on python 3, but not python 2.
- I will try with CPython later today.

[2018-10-18 15:23] sivel commented on #47287
cc @pablorf-dev

[2018-10-18 15:24] AlanCoding opened #47295 "Unsafe values not marked as unsafe by JSON encoder, ansible-inventory"
##### SUMMARY
Unsafe host variables are returned as safe variables when passed via `ansible-inventory`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/ansible/parsing/ajson.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A, applies on control machine

##### STEPS TO REPRODUCE
The full file structure is provided at: https://github.com/AlanCodi

[2018-10-18 15:24] pkelleratwork commented on #14032
this helped a lot - thanks. i did a similar thing using your example. i have a file with different groups i want to use. set it up like this -

[code]

[2018-10-18 15:30] pukhanov opened #47297 "Password lookup fails on FIPS enabled systems."
##### SUMMARY
Password lookup relies on MD5 to create lock file which fails on a FIPS enabled system. Appears to affect 2.7 and devel.

Changing [devel/lib/ansible/plugins/lookup/password.py#L271]( ../blob/devel/lib/ansible/plugins/lookup/password.py#L271) from ``hashlib.md5`` to ``hashlib.sha256`` fixes the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup - password

##### ANSIB

[2018-10-18 15:35] sivel commented on #47287
Specifically the issue appears to be with the following lines:

https://github.com/ansible/ansible/blob/5f953d1129925579b7bf6ea2cce1ccf583199801/lib/ansible/plugins/strategy/__init__.py#L962-L964

Changing that back to the following resolves the problem, but likely breaks what the commit fixed:

[code]

[2018-10-18 15:40] kinvaris commented on #46383
@mnaser On the contrary; We enforce all our OpenStack environments / source files to go to V3 and the public interface in on our RHEL supported Ocata. if I put the OpenStackSDK in debug, then it switches to V2 with the following URL pattern: `<auth_url>/v2/tenants/`

If I use the 'older' keystone python libraries, it easily switches to V3 and it works perfect.

We do supply domains in the `clouds.

[2018-10-18 15:40] tumluliu opened #47298 "Problem when dynamically constructing dict variables with string list as values"
##### SUMMARY
When dynamically creating a dict var with a list as its value, it's working when the list elements are int but will fallback to a string when the list elements are strings.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
n/a

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]
(Ansible AWX 2.0.1 official docker image)

##### STEPS TO REPRODU

[2018-10-18 15:58] rmacian opened #47299 "Openstack inventory conflict with OS_ env vars and clouds"
##### SUMMARY
When I'm trying to use the dynamic inventory from https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/openstack_inventory.py
with the OS enviroment variables I get an SSL Error, the same variables in the clouds.yaml format works fine.
Looks like OS_CACERT env var is not properly read

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openstack_inventory.py

##

[2018-10-18 16:08] Qalthos commented on #46976
Right, that's everything I was hoping for. I should be able to get a workaround for this ready soon.

[2018-10-18 16:15] BarbzYHOOL commented on #39802
Need to add an error "don't use mode when file module is set to link"

[2018-10-18 16:28] mircea-vutcovici opened #47301 "lvg module isn't idempotent"
##### SUMMARY

lvg module from ansible 2.6, 2.7 and devel is not idempotent. It fails if you run it the 2nd time.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lvg.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible 2.6, 2.7, devel
RHEL 7.5, x86_64
[code]

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

The module should be id

[2018-10-18 17:14] owensj8 commented on #46976
I have this same issue on 4500Xs and 3650s. I just added the debug code as well and get pretty much the same debug.

    The full traceback is:
    WARNING: The below traceback may *not* be related to the actual failure.
      File "/tmp/ansible_ios_facts_payload_Os00eS/ansible_ios_facts_payload.zip/ansible/module_utils/network/ios/ios.py", line 135, in run_commands
        return connection.run_c

[2018-10-18 18:11] lwsanty opened #47305 "running bash command in ansible on centos 7 leads to /dev/null permission denied problem"
##### SUMMARY

running bash command in ansible on centos 7 leads to `/dev/null` permission denied problem

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gce, command, shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7

##### STEPS TO REPRODUCE

circleci runs ansible script that performs
1) create gce instance with os centos 7
2) copy binary t

[2018-10-18 18:13] felixfontein commented on #46144
needs_info

[2018-10-18 18:44] samdoran commented on #46476
I spent a good deal of time trying to massage that regexp to match both cases. I have not managed to get it working yet.

[2018-10-18 18:55] bcoca commented on #47254
can you give a reproducer? this seems like an inventory parsing error.

[2018-10-18 18:59] #42866 closed, assigned to nobody

[2018-10-18 19:12] mooninite commented on #40318
PR 45320 fixes the issue for me.

[2018-10-18 19:26] #47143 closed, assigned to nobody

[2018-10-18 19:30] #45035 closed, assigned to nobody

[2018-10-18 19:42] sivel commented on #47305
The error indicates this is a problem with `/etc/bashrc` on the target system:

[code]

What is line 84 in `/etc/bashrc` on that system?

needs_info

[2018-10-18 20:25] #47207 closed, assigned to sivel

[2018-10-18 20:37] mikewiebe commented on #47230
@Kloperations I did some investigation and discovered that there are subtle behavioral differences between different NX-OS platforms (N9k vs N5k) for disruptive upgrades.

**N9k Platforms**
--------------------
The default upgrade behavior for N9k platforms is disruptive.

See the following guide [Nexus 9000 Software Upgrade Guide](https://www.cisco.com/c/en/us/td/docs/switches/datacenter/nexus900

[2018-10-18 20:39] samdoran commented on #47069
This issue is best resolved by engaging the community for support.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-18 20:39] #47069 closed, assigned to nobody

[2018-10-18 20:49] it-praktyk commented on #28758
I investigated that. It's not possible to retrieve the 'TargetPath' using the WScript.Shell COM object.

Probably the easiest option to achieve idempotency, in that case, is to create a temporary lnk file and compare the content of it with the content of the existing lnk file, and base of that update or not the existing one.

It's a dirty hack but probably better than dig-in in the specification o

[2018-10-18 21:39] lwsanty commented on #47305
@sivel Hi! thank you for your response!
I forgot to mention in my issue that this case is only reproduced in ansible, if i execute
[code]
via my ssh session everything works fine...

anyway, here's a part of `bashrc` with line 84
[code]

[2018-10-18 21:56] sivel commented on #47305
So, what that `bashrc` is doing, is that it loops all files matching `/etc/profile.d/*.sh`, ensures that it can read them, and then sources them.

If the shell is non-interactive, which is the case with Ansible, the output from the profile script is redirected to `/dev/null`

Typically speaking ansible executes things using `/bin/sh` and not `/bin/bash`, since you are explicitly executing bash in

[2018-10-18 21:56] #47305 closed, assigned to nobody

[2018-10-18 21:57] alexthemitchell commented on #42062
Reproducible in 2.7:
[code]

[2018-10-18 22:14] #46743 closed, assigned to mkrizek

[2018-10-18 22:31] jborean93 commented on #28758
I had a look at the binary data for the example given here and the value in a base64 encoded string is `TAAAAAEUAgAAAAAAwAAAAAAAAEbBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAABYAFAAfeEDwX2SBUBsQnwgAqgAvlU4AAAEAMAAAAAAA`. When decoding that based on the MS-SHLLINK spec we can see that the [HasLinkTargetIDList](https://msdn.microsoft.com/en-us/library/dd891314.aspx) fla

[2018-10-18 22:32] Kloperations commented on #47230
Added some team members that have been working with me on these code upgrade playbooks for our environment.

I’m perfectly ok with the proposed solution.
If platform is N5K, (5596, 5696, 5672) and issue is set to “no”
perform:
install all force system bootflash:filesname.bin kickstart bootflash:filename.bin

And yes you are correct the “force” option is hidden

From your response, if I’m reading t

[2018-10-18 22:54] matmille opened #47325 "Module user with option: local: yes does not change who user.user_exists() looks up users."
##### SUMMARY
In user.py, if a user already exists in a central identity management system and an administrator wants to duplicate the user in the local configuration, configuring local: yes fails to add the user; since, the user already exists in a central identity management system.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user module

##### ANSIBLE VERSION
2.7

##### CONFIGURATION
-

[2018-10-18 23:11] willthames commented on #47081
Ah, I've hit this before myself!

The problem is basically with empty yaml blocks:

[code]

If you move the comment into a yaml block with some comment, this problem will go away.

You can also filter such blocks out with `| from_yaml_all | select('ne', None) | list`

This is a bug though - using k8s with an empty definition would be better handled as a no-op for this use case.

Sorry about my k8s

[2018-10-18 23:27] willthames commented on #47259
I've closed this but one could argue that it could be addressed in the docs. PRs appreciated if anyone feels that way.

[2018-10-19 00:08] luukau commented on #39734
We had a need for IP6 at lauch time too. We were able to do this using the ec2_instance module (as we failed with the ec2 module). Keep in mind that the launch parameters compared to the ec2 module are slightly different of course.

[2018-10-19 03:34] Tomorrow9 opened #47329 "VMware: Request for support SATA disk controller"
##### SUMMARY

We need to test deploying new VM with disk attaching to SATA controller, now vmware_guest module supports config SCSI disk controller types.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest
##### ADDITIONAL INFORMATION

We need to deploy different disk controllers the VM/Guest supports on ESXi host, e.g. SCSI controller, SATA controller, IDE controller, nVME contr

[2018-10-19 03:56] buchmui commented on #34049
Thank you. Any examples how to download from the bucket files?

[2018-10-19 04:14] Akasurde commented on #47297
resolved_by_pr #47308

[2018-10-19 05:14] jmooo opened #47335 "package & apt modules requires aptitude, does not fall back to apt-get"
##### SUMMARY
The `package` module still requites `aptitude` to be installed on a remote ubuntu 18.04 system, it does not fall back to `apt-get` as the [apt](https://docs.ansible.com/ansible/latest/modules/apt_module.html) module has been doing since v2.4.

EDIT: Looks like the `apt` module is throwing the same error again, not falling back to apt-get for operation. Perhaps a regression in 2.7?

#

[2018-10-19 05:52] promovicz commented on #36690
I am still reading and needing this.
Willing to advise on advanced usecases if required.

One of my primary usecases is provisioning nodes in a distributed cluster for IPsec with an entirely ansible-managed CA. Would also like to use it for satellite SMTP authentication in the future.

[2018-10-19 07:06] ajimenel opened #47341 "Get Field with equal condition from json generated ansible 2.5.2 uri module"
I need get a field into a json what has been generated wit uri module.

This is my json that contains two hosts colections hc1 y hc2.
I want to get the field id:693 of the host_collection hc1.

[code]

[2018-10-19 07:35] rhymoid commented on #27798
I just hit this problem with Ansible 2.0 (which is what Ubuntu 16.04 LTS provides). I worked around it by looking at the mtime of `/var/cache/apt/pkgcache.bin`:

    - name: check when apt was last updated
      stat:
        path: /var/cache/apt/pkgcache.bin
        get_checksum: no
      register: apt_package_cache_stat
    - name: be sure apt is up to date
      become: True
      apt:

[2018-10-19 07:46] MarkusTeufelberger commented on #36690
I hope I explained the reasoning for the existing functionality well enough. I'm however definitely not against extending it, so if you still need this functionality, I'm more than happy to help review and merge your suggested implementation.

[2018-10-19 08:04] #40694 closed, assigned to nobody

[2018-10-19 08:29] felixfontein commented on #40694
The new option will show up in Ansible 2.8.

[2018-10-19 08:51] danowar2k opened #47343 "[getent module] getent wrapper should return associative arrays instead of lists"
##### SUMMARY
At the moment the getent wrapper returns the key with a list containing the found entries.
The problem is getent doesn't return an empty string for when e.g. a passwd entry misses a description or something like that. So the returned list is dynamic in size.

This way you can't access list items with indices, because you can't be sure if the index of a list item is the correct one.

[2018-10-19 09:02] ant31 commented on #46600
2.7 is not **unusable** with any delegate_to

We got a high number of reports due to this bug on https://github.com/kubernetes-incubator/kubespray/
The playbook doesn't fail, which is worse, the installation is 'corrupted' and more complex to clean-up / debug.

[2018-10-19 09:51] gundalow commented on #45839
https://github.com/ansible/ansible/issues/45839#issuecomment-430243355 updated to include test details, which is where we will be initially focusing.

[2018-10-19 10:04] ctrlaltdel commented on #45437
I ran into the same issue, the `fortios_config` module is not meant to be run from the fortigate device itself, usually you'll need to run it from localhost instead.

Try changing the `hosts: FORTI` line to `hosts: localhost` and then add the `host`,`username` and `password` parameters to the `fortios_config` section.

[2018-10-19 10:15] Ksreenivas commented on #45367
@bcoca Is there any workaround for this bug.

[2018-10-19 10:15] machacekondra commented on #45900
It should works exactly as you described, same as in UI. Let me investigate why this happens, I will send fix as soon as possible.

[2018-10-19 10:57] honmaple opened #47347 "Don't use logging.basicConfig to configure logger"
##### SUMMARY
A suggestion that don't use logging.basicConfig to configure logger.
I am confused when I use ansible with flask, the flask log was saved in ansible.log rather than output to the screen, but I didn't nothing until I read ansible code, I found ansible configure logger with logging.basicConfig.

An example code:
[code]
If using logging.basicConfig, it will affect the use of other modul

[2018-10-19 11:14] grihanaft commented on #15147
I am using Ansible 2.6.2 and it still does not work for me

[2018-10-19 11:31] sumkincpp commented on #46673
Wow, that was unhappy regression in 2.7.0 release.

[2018-10-19 11:45] memo42 opened #47349 "using stat on windows causes strange error"
##### SUMMARY

If stat is used on a windows target it fails quite spectacularly (I know there is win_stat and it should not work, but it should fail more gracefully and tell a novice user what the problem is)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

stat
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS = Windows
##### STEPS TO REPRODUCE

run

[2018-10-19 12:09] balonik opened #47350 "better report if Ansible fails to parse output from module"
##### SUMMARY
Ansible returns generic error if it cannot parse output from module.
[code]
Ansible could report something more meaningfull like 'Failed to parse output from module'.
Code handling the message is in /lib/ansible/plugins/action/__init__.py

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/action

##### ADDITIONAL INFORMATION

[2018-10-19 12:27] dagwieers opened #47352 "win_domain: Idempotency issue"
##### SUMMARY
I stumbled on this one when the reboot of the system failed, and I reran the playbook.
I think we need to support this exception, and handle it gracefully (maybe with a warning ?).

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_domain

##### ANSIBLE VERSION
v2.8 and earlier

[2018-10-19 13:13] #45900 closed, assigned to nobody

[2018-10-19 13:19] #44555 closed, assigned to Akasurde

[2018-10-19 13:30] espositot commented on #47305
On CentOS 7, **sh** is just a symbolic link to **bash**:

0 lrwxrwxrwx.       1   root    root  **sh -> bash**

[2018-10-19 13:53] rafamanzo commented on #47081
Cleaning empty YAML blocks as you suggested worked! Thanks for your help :)

If I get the time I may propose a PR for this now that I understand what happened.

[2018-10-19 14:05] astorije opened #47353 "The actionable plugin messes up task/handler names in the output"
##### SUMMARY

With Ansible 2.7, when using the `actionable` plugin on a playbook that , the terminal output displays incorrect task and handler names.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`actionable` callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS 10.14

##### STEPS TO REPRODUCE

I have made a minimal test case [here](https://gis

[2018-10-19 14:17] bcoca commented on #47305
@espositot that is true, but it also runs bash in 'compatiblity mode' as it detects the name used to invoke it and it won't work the same as running `/bin/bash` directly
https://www.gnu.org/software/bash/manual/html_node/Bash-POSIX-Mode.html

[2018-10-19 14:20] bcoca commented on #47350
I'm not sure most users find 'Failed to parse output from module' more meaningful than that the module failed to run correctly (if it had the output would have been parseable).

[2018-10-19 14:30] chiefy commented on #45367
@bcoca

I need to come up with a concrete reproducible example but i'm pretty sure it's affecting us as I've explained above. I don't know if this is a bug so much as a misunderstanding? It seems like something we should be able to override w/ module settings?

[2018-10-19 14:30] edin-coralic commented on #21566
Still not working on:

[code]

and

[code]

[2018-10-19 14:35] bcoca commented on #45367
command has always stripped trailing spaces as they are normally not significant, if you want to add a feature that avoids this, it should be easy enough, this is current code:
[code]

But this is done on purpose as those spaces are not normally significant and a waste of resources to handle in memory and via network connection, so I still don't see it as a bug unless you can give me a concrete ca

[2018-10-19 14:38] #47059 closed, assigned to nobody

[2018-10-19 14:44] bcoca commented on #47343
If i had to write it today, this would be the way i would do it, the problem is that this breaks backwards compatibility.

[2018-10-19 14:46] #47080 closed, assigned to nobody

[2018-10-19 14:47] sivel commented on #47341
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-19 14:47] #47341 closed, assigned to nobody

[2018-10-19 14:47] balonik commented on #47350
I am not saying it must be exactly that. But simple 'MODULE FAILURE' doesn't help either. Especially when you get back rc:0 and empty stdout/stderr so you cannot really see where is the issue.
In my case (custom module) it failed only under special conditions and I have to look in the source code of ansible to see where the error is coming from. Because the module did the change and verbose output

[2018-10-19 15:00] johnpetersjr commented on #46673
We tried secure: never and that isn't working for us either.

Using ansible 2.7, python 2.7.5, the mail module consistently fails with "socket timed out" error.

Switching back to Ansible 2.5, the same playbook/module works fine.

Anything else to try to help fix this in 2.7?

[2018-10-19 15:01] bcoca commented on #47350
I welcome a better phrasing, but i used the current MODULE FAILURE to indicate this was a catastrophic error with the module itself. This is normally because it didn't produce a response that Ansible can use, most often this is due to a traceback/exception output, which you normally get in stdout/stderr.

I'm unsure we can give more specific messages while still keeping it's generic nature.

[2018-10-19 15:07] rmacian commented on #47299
I have enabled the logging in the requests module and I see that is not setting the --cacert param in some requests like :

DEBUG:keystoneauth.session:REQ: curl -g -i -X GET https://myhost:13000/v3 -H "Accept: application/json" -H "User-Agent: openstacksdk/0.17.2 keystoneauth1/3.11.0 python-requests/2.20.0 CPython/3.7.0"
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): ost-jc1.servi

[2018-10-19 15:17] shoekstra commented on #47131
Hi @samdoran,

Sorry for the confusion, it is indeed CentOS 7.

It turns out I didn't have `secure_path` set.  When I set this the `reboot` action worked as expected.

Thanks for the help and prompt reply!

Stephen

[2018-10-19 15:35] webknjaz commented on #46673
@johnpetersjr post your traceback here

[2018-10-19 15:36] johnpetersjr commented on #46673
I take back my comment.  It's working now.  It was a firewall issue, it seems. Sorry about that.

[2018-10-19 15:38] balonik commented on #47350
Topic for another discussion is if completely empty stdout is a reason for failure.

[2018-10-19 15:43] bcoca commented on #47350
it is, module should responde with 'status', either failed/ok/skipped/changed, that is a requirement

[2018-10-19 15:45] #42638 closed, assigned to nobody

[2018-10-19 15:54] aharden opened #47356 "ec2_asg: metrics_collection is not enabled/disabled on existing ASG"
##### SUMMARY
Group Metrics Collection can be disabled and enabled on an existing ASG, but the value of the `metrics_collection` parameter is ignored when `ec2_asg` is run against an ASG that exists.  The parameter should set the declared Group Metrics Collection state on the managed ASG.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATI

[2018-10-19 16:16] #42911 closed, assigned to nobody

[2018-10-19 16:21] vpopescu opened #47358 "azure_rm_keyvault documentation lists family as required, doesn't list tags"
##### SUMMARY
I think the documentation for azure_rm_keyvault has the following issues, but I'm not 100% sure:

1. Lists Sku.Family as a required field. In fact, I don't see Sku.Family in the module code (well, besides in the comment)
2. Doesn't list Tags as an available field

I am not sure if I'm interpreting this correctly though.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
a

[2018-10-19 16:36] aharden commented on #47356
After looking at this behind the scenes more, it may be that the EC2 GUI is not immediately updated when the metrics collection is enabled or disabled.  We are looking at Cloudwatch and seeing the metrics for the ASG there when enabled.

[2018-10-19 16:36] #47356 closed, assigned to nobody

[2018-10-19 16:59] tnielsen2 commented on #47254
Can you provide a little guidance on how to do that? I would be happy to do so.

[2018-10-19 17:24] jeking3 opened #47360 "The vmware_guest/vmware_guest_facts name_match feature is flawed, can lead to security issues or data loss, and should be removed"
##### SUMMARY
The `vmware_guest` module has a configuration parameter called `name_match` which is intended to control the behavior when multiple items are found with the same name.  As an example, it is acceptable to have the same named VM in two different datacenters, within the same vCenter.  This feature is flawed for the following reasons:
1.  The current strategies are `first` and `last`.  T

[2018-10-19 18:11] maxamillion commented on #24855
FWIW, the originally reported issue should no longer be an issue in all currently supported version of Ansible, which at the time of this writing are Ansible 2.5.x, 2.6.x, and 2.7.x.

Please let me know if the issue persists.

[2018-10-19 18:12] maxamillion commented on #29761
Does the new [`update_cache`](https://github.com/ansible/ansible/pull/46183) option not satisfy the requirement?

[2018-10-19 18:15] maxamillion commented on #47210
handling of yum lock file has been fixed in the current devel branch and will be released as part of Ansible 2.8

[2018-10-19 18:15] #47210 closed, assigned to nobody

[2018-10-19 18:16] varunchopra opened #47361 "pip: No setuptools found in remote host, please install it first."
##### SUMMARY
`pip` seems to be broken in 2.8.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pip

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
The following works in Ansible 2.6 without errors:

[code]

But in Ansible 2.8:

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-10-19 18:17] Akasurde commented on #27722
@guhcampos Any news ?

[2018-10-19 18:20] samdoran commented on #47353
Bisected to 9c5d40ff.

[2018-10-19 18:26] #47291 closed, assigned to nobody

[2018-10-19 18:28] mohag commented on #24855
It is still the same as in the report in Python2 (*which should probably be a Debian/Ubuntu bug though*). (Switching to Python 3 and repeating figuring out everything that needs to be done to get the rest of the playbook (mainly the docker_swarm module) to work on Python 2 is not ideal)

[2018-10-19 18:41] drfickle commented on #47097
I just hit this too on the Xenial image in AWS, but using a file copied from the host running Ansible.

[code]
I logged onto the instance and saw an empty /tmp/elasticache-client directory after the failure.

If I use a copy: statement prior, then use unarchive: with remote_src: true I don't hit the issue.

[2018-10-19 18:49] agaffney commented on #47353
It's a bit ironic that I broke `actionable` in a commit designed to deprecate it. At this point, `actionable` could really just be rewritten as a very minimal wrapper to `default` that automatically sets `display_skipped_hosts = no` and `display_ok_hosts = no`.

[2018-10-19 18:49] lacalves commented on #25655
In my case, the "Error reading running config" problem was related to the accent on letters (ç, é, ó, ã) within device's configuration file. Now, the Ansible fortios module is running smoothly after I removed those letters. I'm using Ansible v2.6 + python v2.7 + pyfg v0.50.

[2018-10-19 18:51] robinro commented on #47361
cc @HD650

[2018-10-19 18:57] bhundven commented on #45105
I'm also getting the same issue as @davidebelloni
[code]

[2018-10-19 19:01] Akasurde commented on #39890
I will close this issue then. If problem persists please feel to re-open or open a new issue. Thanks for reporting.

[2018-10-19 19:01] #39890 closed, assigned to nobody

[2018-10-19 19:30] jsenecal commented on #45948
This is great - I was about to start writing my own set of modules to manage Netbox information. Do you have current progress on writing other netbox_* modules? I am new to contributing to Ansible but would happily do so.

[2018-10-19 19:32] samdoran commented on #47353
Yeah, I was thinking that too. 😄

[2018-10-19 20:22] stephan2012 opened #47367 "Cannot use group selection patterns in inventory (hosts) file"
##### SUMMARY

Cannot build a group from others groups by applying [patterns](https://docs.ansible.com/ansible/latest/user_guide/intro_patterns.html). Not sure if this is a bug or feature request.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian GNU/Linux 9.5

##### STEPS TO REPRODUCE

While this

[2018-10-19 20:25] #47367 closed, assigned to nobody

[2018-10-19 21:09] stephan2012 commented on #47367
@bcoca: Indeed, constructed helped me out. Thanks for the pointer! Maybe it is worth referencing it in https://docs.ansible.com/ansible/2.7/user_guide/intro_dynamic_inventory.html.

[2018-10-19 21:20] danowar2k commented on #47343
Then don't break backwards compatibility. Just add another boolean switch that switches the behaviour from indexes to associative. Default that switch to indices at first and at some later date change that default to associative. Then finally deprecate the indices :-)

[2018-10-19 21:53] veetow commented on #16724
In case someone is going crazy and finds this issue in a google search, I'll just add that while you can specify `connection: local` on a playbook item, you cannot however specify `delegate_to: localhost`.  And that makes me sad for the same reasons as @cjw296 already stated.

[2018-10-19 21:54] johnboy2 opened #47369 ""network_in_network" should be a jinja TEST"
##### SUMMARY
The `network_in_network` feature in `ipaddr.py` implements a _filter_ plugin which only ever returns a boolean. Arguably it should be a _test_ plugin instead.

##### ISSUE TYPE

 - Bug Report (?)
 - Feature Request (?)

##### COMPONENT NAME

ipaddr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

Ubuntu 18.04.1 LTS (controller)

##### STEPS TO REPRODU

[2018-10-19 21:55] johnboy2 commented on #47369
I waffled on whether this is a bug-report or feature request, because I am unsure of the use-case for `network_in_network` as a _filter_. If there is such a use-case, then this becomes a feature request. Otherwise it is a bug report.

[2018-10-19 22:18] tnielsen2 commented on #47254
To be more specific about the cause of the issue, below is my entire inventory file, and commented hosts in the lab and ywg groups were the culprit. I also tested this on a different Ansible deployment inventory file with far less hosts with the same issue.

[code]

[2018-10-19 22:58] overhacked commented on #32385
Hey, I would love this! Can you make a pull request? I'd also be happy to test a patch on my systems.

[2018-10-19 23:26] Cerebus opened #47371 "SBC reboot time incorrectly parsed when TZ is set"
##### SUMMARY
Pi SBCs use fake-hwclock, which means the utmp boot time is always set to the UNIX epoch time.  However, when the system TZ is set, the return from `who -b`  gets adjusted.  For example:

[code]

The reboot module hard-codes the UNIX epoch time as the string "1970-01-01 00:00" (reboot.py +103).  When `who -b` returns the adjusted epoch timestamp, this check fails, the reboot module p

[2018-10-20 00:09] mdaniel opened #47372 "Ansible attempts to mutate unsafe members of a set, which explodes on python 3"
##### SUMMARY

Ansible attempts to mutate unsafe members of a `set`, which explodes on python 3

This bug report is about the `TypeError` produced on python3 flavors, and arguably about swallowing it, even though one will still see unexpected output in the python 2.7 flavor below. In all circumstances, one can append `| list` to the `with_items` to produce the correct output across all versions of

[2018-10-20 02:53] willthames commented on #47149
Ok, I think I know what this is now - I hadn't realised you were running Ansible within your kubernetes cluster, and there is a bug in the code too.

If you set both K8S_AUTH_KUBECONFIG and K8S_AUTH_CONTEXT, this will work for you now.

[2018-10-20 02:59] willthames commented on #47149
Can you see if #47373 fixes this issue for you?

[2018-10-20 03:02] willthames commented on #16724
http://willthames.github.io/2018/07/01/connection-local-vs-delegate_to-localhost.html covers all the options - there are reasonable ways to use `connection: local` these days thanks to fixes to ansible_python_interpreter in around 2.6

[2018-10-20 04:18] zikalino commented on #46313
@PoseyZhong indeed I can confirm that.
storage_mb parameter has not effect.
I have tried to create server using REST API directl and it works correctly, so it's not a service issue.
 I have to check if there's a problem with SDK.

[2018-10-20 08:46] mrdrmmn opened #47374 "duplicate handler execution on multiple role inclusions"
##### SUMMARY

When using include_role to include a role multiple times with differing 'vars' passed to the each call, the handlers for the role fire once for each inclusion.

While in some cases this might be desireable, in others, it clearly is not.  For example, handler ther restarted a service getting called 3 times is problematic.

I've worked around the issue by setting a fact as an addition

[2018-10-20 09:18] tuxillo commented on #35493
@AngryNorseMan I use:

    no_log: True

But I think it should, by default, not show all that verbose output.

[2018-10-20 11:27] dagwieers commented on #47343
We cannot change the switch at a later date, but having a switch to influence the behavior is perfectly fine. Write it ! :-)

needs_contributor

[2018-10-20 11:36] keirlawson opened #47376 "Updating the cache after adding a PPA on Ubuntu Bionic fails."
##### SUMMARY
Updating the cache after adding a PPA on Ubuntu Bionic fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host is Ubuntu Bionic, target system is an Ubuntu Bionic VM managed by Vagrant

Vagrantfile:

[code]

##### STEPS TO REPRODUCE

With the above Vagrant file and the below p

[2018-10-20 12:18] emre141 commented on #33052
Hi,

I have same problem just using aws_ssm lookup

name : Get SSM Parameter Store RAbbitMQ Username
debug: msg="{{ lookup('aws_ssm', 'rabbitmq_username', region='eu-central-1' ) }}"
I am using ansible role in my autoscaling group so there is a cloud-init file to run ansible-playbook as below

ansible-playbook /etc/ansible/roles/rabbitmq/tests/test.yml --connection=local

So new instance in ASG in

[2018-10-20 13:07] jienckebd commented on #40586
@badgerspoke -- those steps worked for me after performing 1 more step. I got the same error as you, but running /Applications/Python 3.7/Install Certificates.command fixed it.

[2018-10-20 14:19] ckotte commented on #42780
needs_info
has_pr

[2018-10-20 14:19] ckotte commented on #42780
needs_info

[2018-10-20 14:40] coreywan commented on #47255
@jborean93

Just reporting back in. CPython works just fine. Thus it must be some issue with the anaconda variant.  If there is not an official support for the anaconda deployment, I guess we can close this out.

[code]

[2018-10-20 16:35] hellosputnik opened #47382 "Groups in a YAML inventory do not work"
##### SUMMARY

The [documentation](https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html) has an example inventory in INI and YAML.

INI
[code]

YAML
[code]

However, even with the YAML inventory explicitly enabled in ansible.cfg (i.e., `enable_plugins = yaml, ini`), groups in YAML do not seem to be functional. The following example commands do not work with a YAML inventory but

[2018-10-20 16:50] AsadUkh commented on #19584
try This
# all servers - Works when both server's and client's user name are same (Passwordless)

ansible all -m ping

# all servers - "raj" is managed node's user (Passwordless)

ansible all -u raj -m ping

OR

# Only demo-servers group - "raj" is managed node's user (Passwordless)

ansible demo-servers -u raj -m ping

OR

# If you use password authendication

ansible -m ping all -u raj --ask-pas

[2018-10-20 17:35] danowar2k commented on #47343
Let me guess: you've got the typical problem that there are 500.000 users with useful bug reports and feature requests and mostly 5 people who are the coders... And I'm part of the problem  :-( I'm a user without  time for contributions... Who knows maybe I'll do this when I have time.
How do you decide what requests get accepted and which are bollocks?

[2018-10-20 19:15] yurikhan commented on #29816
This is not specific to PostgreSQL.

The `apt` module sets the `LC_ALL` environment variable to `C`; the accompanying comment says it is to scrape the output of `apt-get` and `aptitude`. (Which I think is bogus; for output scraping, setting `LC_MESSAGES` should be enough. Possibly also `LC_NUMERIC` if you care for numbers in the output, but a cursory reading of the code persuades me you don’t.)

W

[2018-10-20 19:46] shepdelacreme commented on #42122
This appears to be have been fixed by the nearly complete rewrite in #35709

[2018-10-20 19:48] shepdelacreme commented on #42864
Can confirm this was fixed in 2.6.1 with #42025

[2018-10-20 19:51] sengaya commented on #29761
No, it only covers the `yum clean expire-cache` case. But there are more options, e.g. `yum clean all` (see https://github.com/ansible/ansible/pull/31450/files#diff-b3479be3ff6d2becf34cc47a760ccfd4R48).

[2018-10-20 20:17] jdufresne commented on #47007
Duplicate of #46994?

[2018-10-20 21:59] mnaser commented on #46383
@kinvaris

I think you might have a misconfigured `clouds.yaml`.  `domain_id` is not a valid option, so given that it doesn't have all the V3 configs, it doesn't ship properly.  I think the `domain_id` should be `project_domain_id`.

Can you try updating that and trying again?  It should fix the detection because without a user_domain_name and project_domain_name, there isn't enough information to

[2018-10-20 22:20] #44948 closed, assigned to nobody

[2018-10-20 22:33] mnaser commented on #43275
Unfortunately, I'm not able to get any more information because there's no traceback and the *good stuff* seems to trimmed off

[2018-10-20 22:34] mnaser commented on #42409
Can you check on the server side and see what is happening exactly?  Do you have access to the server side?

[2018-10-20 22:37] mnaser commented on #45233
I'm not sure how would be the best way to deal with this but @sivel certainly provided a really good idea.

[2018-10-20 22:37] mnaser commented on #37361
needs_contributor

[2018-10-20 23:13] richard-viney commented on #47361
Just encountered this after upgrading from 2.6.5 to 2.7.0 - maybe this isn't a 2.8 issue?

Is there a known workaround?

[2018-10-20 23:46] chopraaa commented on #47361
Like I said, it works on 2.6 but not on 2.8. Now we know it doesn't work on 2.7 either. :-)

As a workaround, you can remove this check: https://github.com/ansible/ansible/blob/06d23019e73757b0d3accdf99e580a82d23e634a/lib/ansible/modules/packaging/language/pip.py#L562

[2018-10-21 02:30] richard-viney commented on #47361
Great, I seem to have worked around it by installing the `python-pip` package on the host (I'm on Ubuntu 18.04).

[2018-10-21 05:04] vpopescu commented on #47358
Sorry, to add one update - on the tags issue specifically, they are not even implemented. They are supported by azure (see az keyvault create --tags).  So that part is not a documentation bug, it's a module missing feature.

[2018-10-21 07:57] cbenhagen commented on #36129
@gundalow can you please reopen this bug? It looks like all the requested info has been provided.

[2018-10-21 09:02] willthames commented on #33052
@emre141 can you raise this as a new issue, this one is closed.

In the new issue, please run the playbook with `-vvv` and paste the results in enclosed in triple backticks so that it's a little easier to read.

I also suggest adding a `python_requirements_facts` task to the playbook after the pip install to ensure that it's installed correctly from ansible's point of view

[code]

[2018-10-21 09:04] ilicmilan commented on #46508
Your example should create a new virtual machine with specified name and that's it. OpenNebula allows you to have more virtual machines with the same name and it's up to you how you gonna organize them.
If you would like to make sure that there is exactly one machine with that name you should use `exact_count` and `count_attributes` parameters.

[code]
This would be an idempotent task which will e

[2018-10-21 11:42] nikkytub opened #47391 "config-contexts-addition in hostvars in netbox dynamic inventory"
##### SUMMARY
Addition of config contexts in hostvars will let us configure remote machines. For example, configuring AS number in the router using ansible by fetching the info from Netbox via dynamic inventory.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
config-contexts in hostvars in netbox dynamic inventory

##### ADDITIONAL INFORMATION
Feature will be used to configure remote machin

[2018-10-21 11:51] zsythink opened #47392 "include_tasks can also be used in the handlers: section. Test error"
##### SUMMARY

Refer to the following article
[https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_includes.html](url)

include_tasks can also be used in the handlers: section.
After testing, the error was reported

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[root@test71 ansi

[2018-10-21 12:13] jameswmcnab commented on #30629
Having this issue with 2.7; `sudo_flags` in `ansible.cfg` work but will be removed in 2.8, `become_flags` in `ansible.cfg` are ignored.

[2018-10-21 12:15] felixfontein commented on #28382
There are two situations where `docker_container` needs to find/inspect the network:
 1. It does so that it can get hold of the network's ID, which it needs to connect the container to the network or disconnect it from the network (`ContainerManager_add_networks()`); according to the [documentation](https://docker-py.readthedocs.io/en/stable/api.html#networks), one really needs the network ID for

[2018-10-21 12:29] felixfontein commented on #29608
The problem seems to be that `ipv4_address` was only added in docker-py 1.9.0, while we also support docker-py 1.8.0+ (we dropped support for 1.7.x).

If you encounter this, upgrade to docker-py 1.9.0 or newer (or even better, to [docker](https://pypi.org/project/docker/), if you don't need Python 2.6 support).

[2018-10-21 12:47] felixfontein commented on #40258
I'm not sure how this can be solved. There doesn't seem to be a magic way to get the default IP from the docker daemon (remember that we are not necessarily executing code on the machine where the docker daemon runs on).

[2018-10-21 12:50] felixfontein commented on #43639
@drewmullen about what releases are you speaking? Releases of docker? Regular docker releases never have `dev` as a version, but something meaningful which doesn't cause this problem (AFAIK).

[2018-10-21 13:34] felixfontein commented on #45272
The PR #47396 should improve this situation by not dying and giving useful output :)

[2018-10-21 13:50] gfarrell commented on #29558
@felixfontein I do want the default network to be present as well so I suppose that wouldn't work.

[2018-10-21 14:09] Akasurde commented on #47392
@zsythink Thanks for reporting this issue. This is duplicate of https://github.com/ansible/ansible/issues/47287, so I will close this issue. You can track progress on #47287

[2018-10-21 14:09] #47392 closed, assigned to nobody

[2018-10-21 14:14] Akasurde commented on #42864
Closing this as PR #42025 is merged. Please feel free to re-open if problem persists.

[2018-10-21 14:14] #42864 closed, assigned to nobody

[2018-10-21 15:04] felixfontein commented on #29558
@gfarrell If you use `docker run ...`, does it set the MAC address for both networks?

[2018-10-21 16:48] ssbarnea opened #47398 "ipmi_power gets blocked traying to set powerstate"
##### SUMMARY
I have a 4 node supermicro server and using ipmi_power works well on 3 of them but fails on one and blocks ansible, apparently the timeout feature doesn't work at all. I tried to set the timeout to a small value to see if the task would fail but it does not matter, ansible gets stuck forever waiting for this node.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ipmi_power

#####

[2018-10-21 17:05] felixfontein commented on #37725
This has already been fixed; both Ansible 2.4.4 and 2.5.0 should have the fix (see [here](https://github.com/ansible/ansible/pull/36973#issuecomment-370840046)).

resolved_by_pr #36973

[2018-10-21 17:11] #37725 closed, assigned to nobody

[2018-10-21 17:13] felixfontein commented on #37725
(The fix is [here](https://github.com/ansible/ansible/pull/36973/files#diff-ff29a0f2b632e64441519bf4d9c578d3L1976).)

[2018-10-21 19:01] SethosII commented on #47007
Yes, seems like the same issue.

[2018-10-21 19:01] #47007 closed, assigned to nobody

[2018-10-21 19:39] jctanner commented on #47360
A datacenter does not imply uniqueness. Multiple vms in different folders can have the same name on a single datacenter.

[2018-10-21 20:14] #29196 closed, assigned to Akasurde

[2018-10-21 20:53] HD650 commented on #47361
It‘s because the remote machine has no `setuptools` which is required by pip. You can use `apt-get install -y python-setuptools` first to install it and then use the pip module. Also like @richard-viney said, some version of `pip` package includes `setuptools`, so just install `python-pip` can solve this too.

[2018-10-21 21:01] chopraaa commented on #47361
@HD650 I need python2 setuptools for using python3?

[2018-10-21 21:12] jborean93 commented on #47361
When running with `-vvv` you can see the Python that is being used to execute the module, here is an example for ping;

[code]

We can see it executing `/usr/bin/python` and this would be where setuptools need to be installed. If you wish to use a different Python you can set the interpreter with `/usr/bin/python`.

[2018-10-21 21:18] chopraaa commented on #47361
I don't understand why. I have `python-simplejson` installed on the managed host, and I'm using Ansible to install `python3` and whatever relevant packages I need installed.

* This worked earlier, on 2.6, and with good reason.
* I shouldn't need to install `python-setuptools` if I won't be using Python for anything other than running Ansible.
* I shouldn't need to use Python 3 as the interpreter

[2018-10-21 21:30] HD650 commented on #47361
@chopraaa I think the problem is:
1. you have a python2 in the remote machine, and Ansible if running in python2
2. you use pip module in the remote machine, now this pip module is running in python2
3. I added a new feature in pip module to support version specifier in Ansible 2.7, this feature requires `setuptools` to parse the version specifier
4. So I think you need to install `setuptools` for

[2018-10-21 21:47] #47361 closed, assigned to nobody

[2018-10-22 02:50] dumblerod opened #47405 "Error passing correct license_model to rds_instance"
##### SUMMARY

When creating a new PostgreSQL instance in RDS using rds_instance module, I'm unable to pass in the correct license_model parameter.  Allowed parameters all give error message:
Unable to create DB instance: An error occurred (InvalidParameterCombination) when calling the CreateDBInstance operation: Invalid license model ''general-public-license'' for engine ''postgres''. Valid licen

[2018-10-22 03:40] Fred-sun commented on #47358
@zikalino There is no tags feature in azure_rm_keyvault module, Could you help add this feature? Thanks!

[2018-10-22 04:53] umrikar commented on #42779
@ckotte i have tested it and its working. I am able to modify nic teaming policy. Thank you

[2018-10-22 08:05] trnubo commented on #43159
I've run into this bug with Ansible 2.6 on CentOS 7 and AWS instances with NVMe block devices.

I found the a good work around is to change the `preferred_names` option in lvm.conf to prefer the nvme device names.

[code]

Although I haven't tested https://github.com/ansible/ansible/pull/43160 using `udevadm` may not give an accurate results if setting `/dev/xvd*` symlinks or setting both `/dev/xv

[2018-10-22 08:13] zikalino commented on #47358
@vpopescu they are in the documentation:
'''
extends_documentation_fragment:
    …..
    - azure_tags
'''

and implementation is there as far as i can see.

[2018-10-22 09:24] synergiator opened #47411 "Understanding how to debug temporary files"
I am new to Ansible and while I ran [into a problem](https://github.com/exoscale/cs/issues/73) I thought I could debug a little bit.

This is the file I would like to [debug](https://stackoverflow.com/questions/52740831/debugging-ansible-trace-for-possible-bug-in-python-cloud-stack-module/52876452):
`/root/.ansible/tmp/ansible-tmp-1540197991.746526-125643635688315/AnsiballZ_cs_instance.py`

What I

[2018-10-22 09:35] nitram2k commented on #46523
Having the same issue @couchgott has, I tried the new inventory script but that also fails on gathering facts with the same error as the 'old' way, it does work when want_facts: False in xx.foreman.yml.

As @rafaelorafaelo suggests, the want_facts is broken in the new inventory plugin. Anyone got a solution for this? :)

[2018-10-22 10:03] flamein opened #47413 "gcp_compute dynamic inventory doesn't properly handle keyed_groups separator key"
##### SUMMARY
Looking at https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/plugins/inventory/__init__.py#L334 the keyed_groups should support the following structure:
[code]
instead '\_' separator is used or overridden by Google API (as existing labels are also stripped of '-' in favor of '\_'

I am aware this key is not documented in the module: https://github.com/ansible/ansible/blo

[2018-10-22 10:09] deadmalc commented on #13703
Confirmed that redis does not work with ansible on rhel6.
If you want to run ansible use Centos7/RHEL 7 as the machine it runs on.

[2018-10-22 10:14] mikent05 commented on #18184
The workaround is to use hashing filters (hash, password_hash, md5 ...) in your playbook https://docs.ansible.com/ansible/2.4/playbooks_filters.html#hashing-filters

Here is an example:

My playbook look like this:

- hosts: jug
  gather_facts: no
  vars_files:
    - vars/cred.yml
  tasks:
  - name: Input Test
    shell: printf "{{ dba_user }}\n{{ dba_passwd | hash('sha1') }}\n{{ dba_sid }}" | ./i

[2018-10-22 11:44] atrigubov commented on #15713
Not working in Ansible 2.7.0

[2018-10-22 11:46] edheldil commented on #28722
You can achieve what you need like this:

`
- set_fact: untagged_run=true

- debug: msg="Force run handler"
  changed_when: true
  when: untagged_run is not defined
  notify: 'handler'
  tags: force_handler
`

[2018-10-22 12:27] NetDevAutomate opened #47416 "ec2_vpc_route_table adding routes with a destination of vpc-peering-connection-id"
##### SUMMARY
When a route is addeded with the destination or a vpc-peering-connection-id I get the following error:

fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "/Users/ataylor/.ansible/tmp/ansible-tmp-1540210487.224128-120588422644563/AnsiballZ_ec2_vpc_route_table.py:17: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation

[2018-10-22 13:01] 1605200517 commented on #47411
UPD the actual issue has been resolved, but still interesting to know how to debug temporary files.

[2018-10-22 13:06] nelsg commented on #10595
For me this is a normal behaviour : `ansible-vault` use a salt. Use `ansible-vault view` to display file content.
From wikipedia :
`A salt is random data that is used as an additional input to a one-way function that "hashes" data, passwords, ...
Salts are used to safeguard passwords in storage.
Salts defend against dictionary attacks or against their hashed equivalent, a pre-computed rainbow tabl

[2018-10-22 13:07] jeking3 commented on #47360
UUIDs are not unique in VMware's ecosystem either.  Two VMs can have the same UUID for a period of time, for example when someone manually copies vm contents and imports it (or uses a non-intelligent third party tool or utility that does something similar) .  Until they answer the question of whether it was moved or copied, you have more than one VM with a "universally unique" ID in the inventory.

[2018-10-22 13:28] #40318 closed, assigned to nobody

[2018-10-22 13:55] mnecas commented on #35039
API does not need this and does not offer logout.

[2018-10-22 14:09] shepdelacreme opened #47418 "pamd: last newline stripped and dash `-` is valid at beginning of _type_"
##### SUMMARY

The pamd module doesn't take into account the ability to preface each _type_ with a dash `-` per the pamd config man page.

Currently the module quietly discards the `-` in front of the line without reporting a change.

Additionally the module removes newlines at the end of the pamd config file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[code

[2018-10-22 14:27] vpopescu commented on #47358
Sorry, I  must be blind. Can you point it out to me in the actual documentation?

https://docs.ansible.com/ansible/2.7/modules/azure_rm_keyvault_module.html

[2018-10-22 14:28] evrardjp commented on #23570
Now that this is refreshed, we should discuss a common approach on this item.
(see also: https://github.com/ansible/ansible/pull/23614)

[2018-10-22 14:36] eriklg commented on #46790
Thanks @zikalino , let me know once the fix is backported and I can try it.

[2018-10-22 14:44] sivel commented on #47372
Full traceback:

[code]

[2018-10-22 14:45] astorije commented on #47353
Ah, yes it does! We're parsing the output in an internal script (don't judge 😁) so I guess I'll bump the minimal version required to 2.7!

[2018-10-22 14:48] sivel commented on #47372
Possible fix:

[code]

[2018-10-22 14:54] sivel commented on #47382
This issue was resolved in https://github.com/ansible/ansible/commit/53f865d094f60032f255fe15236de345eecabcf2 and subsequently included in the v2.4.1 release of Ansible.

As a workaround, if you give the inventory file a `.yml` this will work as expected.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups

[2018-10-22 14:54] #47382 closed, assigned to nobody

[2018-10-22 14:56] ramonamis commented on #36628
@Akasurde this is pretty hard to reproduce, but I will try my best

[2018-10-22 14:56] sivel commented on #30629
Please note that `become_flags` needs to be specified under the `[privilege_escalation]` section, and not under `[defaults]`.

[2018-10-22 14:58] hiteshshaha opened #47424 "Ansible tower license node calculation"
##### SUMMARY

Can anybody explain me how Redhat calculate number of nodes for license perspective.
 is that something, if I have license of 100 nodes then I  can do deployment for only 100 nodes at a time?
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO

[2018-10-22 15:04] karmicgeezer commented on #47416
Opened in error as correct formatting is:
        routes:
          - dest: 172.16.0.0/16
            vpc_peering_connection_id: <>

[2018-10-22 15:04] #47416 closed, assigned to nobody

[2018-10-22 15:10] mfish82 opened #47426 "vmware_datastore_cluster: Add functionality to be able to add individual datastores to cluster"
##### SUMMARY

Current module allows creation of a Datastore Cluster, but not to add datastores to the cluster. Similar functionality to vmware_cluster.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_datastore_cluster

##### ADDITIONAL INFORMATION

Would be used to add individual datastores to a datastore cluster.

[code]

[2018-10-22 15:12] mraineri commented on #46549
For consistency, let's make them align with the properties found in the Redfish data model.

With regards to the parameters for adding an account, let's use "new_username" and "new_password" to not conflict with the credentials for the operation itself.

@tomasg2012 could you please work on this one?

[2018-10-22 15:13] chiefy commented on #45367
Sorry, I guess there's some confusion about the original issue and what we're seeing. To be clear: we're seeing output from the `shell`module (stdout) stopping after it outputs 2+ blank newlines. It doesn't unbuffer the rest of the output. Not 100% this is Ansible, but we can't reproduce when running the exact same command manually with the same environment etc.

[2018-10-22 15:14] mraineri commented on #46549
For the Attribute related ones, let's go with "attribute_name" and "attribute_value" (since they are properties in the "Attributes" data structure).

[2018-10-22 15:15] mfish82 opened #47427 "vmware_host_datastore: Provide functionality to rename local datastore"
##### SUMMARY

ESXi hosts use generic names for host datastores. Those are typically renamed by a user in an enterprise environment. Current module allows for management of that datastore, but not the ability to rename

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_host_datastore

##### ADDITIONAL INFORMATION

[code]

[2018-10-22 15:23] mfish82 opened #47428 "vmware_host_ntp: Add ability to enable NTP"
##### SUMMARY

Current module allows configuration of NTP, but does not enable NTP on the host.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_host_ntp

##### ADDITIONAL INFORMATION

[code]

[2018-10-22 15:28] antoinekociuba opened #47429 "replace module - OSError: [Errno 22] Invalid argument"
##### SUMMARY
When trying to use the replace module, to do a search and replace into a file, in local action, I get the deprecated issue. I did not get that issue until upgrade Ansible to 2.7.0 using Brew (which updated Python to 3.7 version at the same time).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Replace module, in local action scope

##### ANSIBLE VERSION

[code]

##### CONFIGURAT

[2018-10-22 15:32] sivel commented on #47429
Full error:

[code]

[2018-10-22 15:35] #40884 closed, assigned to Qalthos

[2018-10-22 15:37] sivel commented on #47429
Although there is a warning here about `imp`, the real problem seems to be with reading the file specified with `dest`.

[2018-10-22 15:42] sivel commented on #47429
Line 222 of replace.py:

https://github.com/ansible/ansible/blob/0a07068054090d5b78b27496aa251be74c484b45/lib/ansible/modules/files/replace.py#L222

[2018-10-22 15:46] #47287 closed, assigned to nobody

[2018-10-22 15:46] agaffney commented on #47353
If you're parsing the output, the `json` callback plugin may make more sense.

[2018-10-22 15:48] umrikar commented on #42779
@ckotte could you please get this change merged

[2018-10-22 15:49] umrikar commented on #42780
@ckotte i have tested it and its working. I am able to modify nic teaming policy. Thank you

[2018-10-22 15:49] umrikar commented on #42780
@ckotte could you please get this change merged

[2018-10-22 15:56] maxamillion commented on #24855
Alright, since this appears to unfortunately be an Ubuntu issue that we can't control (with the workaround being to install the deps from either out-of-band deb repos or via pypi) I'm going to go ahead and close this for now but if there's something that anyone feels should be addressed from the Ansible side of this, please feel free to reopen and we can discuss it.

[2018-10-22 15:56] #24855 closed, assigned to nobody

[2018-10-22 15:56] #47372 closed, assigned to nobody

[2018-10-22 15:58] ckotte commented on #42780
@umrikar This will take some time. I also still need to change some small things. The PR is currently in WIP.

[2018-10-22 16:11] astorije commented on #47353
It's an interactive script, so we display the output as it comes, and unfortunately the JSON output spits it all at once at the end, unless I am mistaken :/

[2018-10-22 16:14] billdodd commented on #46549
@mraineri - Thanks for reviewing and commenting on the property names. I like the naming you suggested.

[2018-10-22 16:16] sivel commented on #47284
The problem here is that you expect looping over a python dictionary to occur in order that they are defined.  Unfortunately python dictionaries are unordered in most versions of python, so the defined order cannot necessarily be relied on.

As such, you should either use a list which is ordered, or enforce a sort order using `|sort` or `|dictsort`.

If you have further questions please stop by IR

[2018-10-22 16:16] #47284 closed, assigned to nobody

[2018-10-22 16:19] sivel commented on #47349
The `stat` module cannot be used on windows hosts, as it is implemented in Python.  Instead you will need to utilize [win_stat](https://docs.ansible.com/ansible/latest/modules/win_stat_module.html)

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-22 16:19] #47349 closed, assigned to nobody

[2018-10-22 16:44] vpopescu commented on #47358
Sorry,  maybe I’m blind. Where is it?

https://docs.ansible.com/ansible/2.7//modules/azure_rm_keyvault_module.html

[2018-10-22 16:53] xiaozhu36 opened #47437 "Unable to parse ansible/contrib/inventory/ec2.py as an inventory source"
##### SUMMARY
Running the command:
[code]
and got the error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/contrib/inventory/ec2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Mac OS

##### STEPS TO REPRODUCE
Clone this repo and run the following command in the directory `ansible/contrib/inventory/`
[code]

##### EXPECTED RESULTS

This

[2018-10-22 17:02] FragmentedPacket commented on #45948
@jsenecal Hey Jonathan, I need to write some tests for this new module and once it's accepted, I do have the netbox_ip_address module pretty much good to go as well.

I'll probably be writing an netbox_interface and netbox_prefix shortly after these get approved. You're more than welcome to clone the repo and test the modules as well and contribute back any fixes, etc.

I've been really busy with

[2018-10-22 17:41] GavrielNsof opened #47439 "Ansible WAF condition module is hanging for a long period"
##### SUMMARY
Ansible WAF condition module is hanging for a long period while boto3 does the same job immediately.
It seems that the Ansible module is waiting for the update to finish, is there a way not to wait for the update?

Also, if I cancel the playbook after 3 seconds of waiting and I run it again it doesn't stuck and the IP condition is updated as I wanted.

This happens in all of the Ansi

[2018-10-22 17:44] thaumos commented on #45315
As implemented, this should be considered unsafe because the current naming could be misunderstood.  The current set_fact really is correlated to set_host_vars, so an injection could occur due to order of precedence.

What actually is being asked for could be implemented as a filter to pull out non-cached fact data. This is something that could be implemented in the future.  TBD on delivery. I wou

[2018-10-22 18:11] geauxvirtual commented on #47149
I added the changes in #47373 to my AWX task container running Ansible 2.7. Verified the changes in #47373 fix this issue and allow connection to the kubernetes instance specified in the kubeconfig file that is set in the K8S_AUTH_KUBECONFIG environment variable.

[2018-10-22 18:43] Bilge opened #47444 "Apt cache update inconsistency between Python 2/3"
##### SUMMARY
`apt` module automatically performs a cache update (the function of `update_cache`) regardless of the `update_cache` cache setting and in spite of the fact that the default value for that setting is supposed to be `no` (according to the documentation). This is acceptable, however, switching the Ansible interpreter to **Python 3 causes the opposite behaviour**: packages will fail to i

[2018-10-22 18:57] cyrilthank commented on #14934
i am still seeing this issue in below

 ansible --version
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Jul  3 2018, 06:28:28) [GCC 4.8.5 20150623 (Red Hat 4.8.5-28.0.1)]

 FAILED! => {"changed": false, "failed": true, "module_stderr": "Shared connection to <servername> closed.\r\n", "module_stdou

[2018-10-22 19:18] sivel commented on #47424
This issue tracker is for the open source ansible project.  Questions regarding Tower should be directed to your Red Hat support team, or sales person.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-10-22 19:18] #47424 closed, assigned to nobody

[2018-10-22 19:44] mariolenz commented on #47428
I've stumbled across exactly the same problem. But I'm not sure if this would really be a good idea: On the one hand, it would be easier to use ansible if I could configure NTP on an ESXi host and enable it at the same time; on the other hand, it would make ansible more complicated because the functionality of vmware_host_service_manager would be duplicated just for this one use case.

[2018-10-22 19:44] maxamillion commented on #43025
needs_info

[2018-10-22 19:51] maxamillion commented on #45940
@andygeorge what version of dnf? Apparently the loading of plugins changed at some point so I'm trying to make sure I'm getting all versions covered.

needs_info

[2018-10-22 19:53] jeking3 commented on #47360
I also just noticed that `FindByIp` is used.  That's also a problematic lookup method since it will return any one result even if multiple match.  It is quite easy to configure two VMs with the same IP address under the same vCenter (and not violate any networking rules).

[2018-10-22 20:06] jeking3 commented on #47360
It looks like `name_match` may no longer be used.  Is that correct?  For example `get_vm` always returns one managed object or None, but not multiples.  The documentation does not state that `name_match` is deprecated, or does nothing.  It is still used in `vmware_guest_boot_facts`, `vmware_guest_boot_manager`, but it is not referenced at all in `vmware.py` so it must be a remnant.  Is that correc

[2018-10-22 20:08] julian-alarcon commented on #41351
New pull request targeting development branch was opened by @frgray : https://github.com/ansible/ansible/pull/41405

[2018-10-22 20:21] #46519 closed, assigned to nobody

[2018-10-22 21:14] jspuertos commented on #41351
I put the port number directly. Because ansible has some issue converting the variable from string to integer.

[2018-10-22 21:19] frgray commented on #41351
@jspuertos Yes, that works in the simple case, but when you are rendering that value as I am it is not properly converted.  This is a trivial example of the problem, but in my actual use case we have generalized the creation of task definition and ECS services to be variable driven.

[2018-10-22 21:32] ralphie02 opened #47454 "Import_role does not expose default vars -- used inside another role"
##### SUMMARY
Import_role does not expose vars/default inside a role that does the importing.
ie. role1 has a task `import_role: role2` but the var from role2 is not exposed in role1
this was my expectation based on this: https://github.com/ansible/ansible/pull/41330

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#####

[2018-10-22 21:40] ralphie02 commented on #47454
I just tried to call the role inside the tasks
[code]
and this one seems to work

[2018-10-22 21:41] maxamillion commented on #27377
I'm going to close this since it's an upstream dnf issue and not actually anything we can deal with from the Ansible `dnf` module side.

[2018-10-22 21:41] #27377 closed, assigned to maxamillion

[2018-10-22 21:41] sivel commented on #47454
Please provide a *full* reproducer that we can either download or copy paste to create a fully working playbook.

[2018-10-22 21:47] depereo commented on #45090
In the middle of moving between cities - will probably have to give this another week before I can dig into it.

[2018-10-22 21:53] sivel commented on #47444
I've done a little testing here, and I cannot duplicate this issue:

[code]

Now, at first the behavior I saw was that even with `update_cache=no` it was still updating the cache.

However, what I remembered and validated, was that if `python-apt` or in python3 `python3-apt` was missing, the `apt` module effectively runs `apt-get update && apt-get install python-apt`, which would cause an implicit

[2018-10-22 22:04] Bilge commented on #47444
That's certainly possible. I don't really know much about Python, though.

On Mon, 22 Oct 2018, 22:54 Matt Martz <notifications@github.com wrote:

[2018-10-22 22:08] ralphie02 commented on #47454
role1
  |--tasks
      |--main.yml
[code]
role2
  |--defaults
      |--main.yml
[code]
playbook.yml
[code]

[2018-10-22 22:30] sivel commented on #47454
I believe I have a fix. I'll test more tomorrow and see about getting it pushed.

We need to perform a similar fix to what was done for handlers in https://github.com/ansible/ansible/commit/6acdc363174

[2018-10-22 22:36] jonmod opened #47456 "nxos_facts leaving comma in output of neighbor information, ansible_net_neighbors"
##### SUMMARY

There's an extra ',' (comma) in the output of the local interface of ansible_net_neighbors.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_facts -> ansible_net_neighbors
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

server: Oracle Linux Enterprise 7.5
target os:  NXOS 7.1(x) and 6.0(x)
##### STEPS TO REPRODUCE

run nxos_facts with su

[2018-10-22 22:57] mandar301190 commented on #35697
Trishna,
This is another issue with linux container that I am working on. Issue seems simple but frustrating.
I am not able to SSH to any one of the containers using ansible, where as I have already configured SSH key successfully and agent able to authenticate. In my opinion public key is some what issue. Please have a look on following output and let me know your feedback.

Output:
root@ubuntu:~

[2018-10-22 23:01] jagan-at-vi commented on #37259
Lack of this makes azure automation a challenge so would very much like to see this supported

[2018-10-22 23:19] ralphie02 commented on #47454
That's pretty quick! Awesome job 👍

[2018-10-23 00:55] danielhoherd opened #47460 "authorized_keys does not manage permissions if no file contents change"
##### SUMMARY

`authorized_keys: manage_dir: yes` does not occur if no changes were made to the contents of the `authorized_keys` file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
authorized_keys

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
- macOS 10.13.5
- python 2.7.15

##### STEPS TO REPRODUCE
1. Set up a playbook to manage a user's authorize_key

[2018-10-23 01:07] jose-delarosa commented on #46338
Please test https://github.com/ansible/ansible/pull/47462

[2018-10-23 02:57] Fred-sun commented on #46440
@yuwzho

[2018-10-23 03:52] maxamillion commented on #41446
I'm going to go ahead and close this. I think [mazer](https://github.com/ansible/mazer) might be of interest though.

[2018-10-23 03:52] #41446 closed, assigned to maxamillion

[2018-10-23 05:14] #33045 closed, assigned to nobody

[2018-10-23 05:19] Akasurde commented on #44589
@dandunckelman Could you please check if above mentioned PR works for you and let us know so that we can merge this PR ?

Thanks

[2018-10-23 05:31] #32926 closed, assigned to nobody

[2018-10-23 05:33] trishnaguha commented on #47456
@jonmod Does your device have JSON output support?

[2018-10-23 05:35] trishnaguha commented on #46810
@ro8harp Thanks.

[2018-10-23 05:35] #46810 closed, assigned to trishnaguha

[2018-10-23 05:36] ganeshrn commented on #40884
Fix will be available in Ansible 2.7.1 release.

[2018-10-23 05:36] ganeshrn commented on #44463
Fix will be available in Ansible 2.7.1 release

[2018-10-23 05:37] ganeshrn commented on #46082
Fix will be available in Ansible 2.7.1 release

[2018-10-23 06:02] machacekondra commented on #35039
@tiraboschi If we you need this feature please first open bug for API to implement this, after that we can do it in Ansible. Thanks. close_me

[2018-10-23 06:22] #47439 closed, assigned to nobody

[2018-10-23 06:28] GavrielNsof opened #47473 "Ansible WAF condition module is hanging for a long period of time"
##### SUMMARY
Ansible WAF condition module is hanging for a long period of time while boto3 does the same job immediately.

It seems that the Ansible module is waiting for the update to finish, is there a way not to wait for the update?

Also, if I cancel the playbook after 3 seconds of waiting and I run it again it doesn't hang and the IP condition is updated as I wanted.

##### ISSUE TYPE
 - Bug

[2018-10-23 06:35] blambo10 commented on #46460
@Akasurde Thank you for the playbooks.

I found it useful and works to an extent, i found a limit on the REST API,
being that you are unable to retreive vm data based on the UUID of the VM and require using the name,
which in some scenarios isnt the best approach.

Additionally with the name method of obtaining the VM Data via REST,
when you encounter spaces in the VM names, you error out.

I work

[2018-10-23 06:49] #27065 closed, assigned to nobody

[2018-10-23 06:51] #45272 closed, assigned to nobody

[2018-10-23 06:52] #29608 closed, assigned to nobody

[2018-10-23 06:52] #29462 closed, assigned to nobody

[2018-10-23 06:53] cbenhagen commented on #36129
It would be nice if the bot would tell us what kind of information it thinks to be missing..

bot_broken

[2018-10-23 06:53] #47149 closed, assigned to nobody

[2018-10-23 07:12] Akasurde commented on #46460
Thanks for reporting this valuable information. I am working on adding this to Ansible module (As the REST API is interim solution only)

[2018-10-23 07:30] Fred-sun commented on #45176
@zikalino

[2018-10-23 08:08] trishnaguha commented on #46480
@jmcgill298 Now that binary file read issue is fixed, would you mind opening a new issue on the idempotence if you are still facing it?

[2018-10-23 08:08] #46480 closed, assigned to trishnaguha

[2018-10-23 08:18] Fred-sun commented on #43416
@yuwzho @zikalino This may not a bug, Could we can close this issue? Thanks!

[2018-10-23 08:32] torched99 commented on #46971
Did I explain enough, or is there anything further required.  This issue is quite serious as it can result in secret data lying around with world read - as such it is important to have an idea of timescales for a fix or if we would need to write our own solution to circumvent.

[2018-10-23 08:39] Barathwaja opened #47488 "Use IAM in AWS S3"
Is there any documentation/link available in _ansible 2.6_ where in we can use **IAM Roles / ARN** to CRUD files into the S3 Bucket instead of **AWS Access and Secret Key**.

[2018-10-23 08:42] Barathwaja commented on #30184
Ref Issue #47488

[2018-10-23 08:46] ptux commented on #46971
@torched99

I've got the problem.
But cloud you show me the code that what's wrong and what you want?
So that I could reproduce and prioritize the issues.

[2018-10-23 08:49] torched99 commented on #46971
The problem is the copy.py module - and I imagine maybe template one too?  What do you need exactly from me.  The code is clearly not setting umask before any creation.

[2018-10-23 08:58] #43081 closed, assigned to nobody

[2018-10-23 09:36] torched99 commented on #46971
The words are what is important for this case.  Here is one limited and contrived case task code.

[code]

Run this task in a play where the ansible-playbook controller user is 'srcuser' and 'srcuser' != 'destuser', and file '/var/tmp/srcfile' is read-only to 'srcuser' (i.e. secret data). Do not use ```become``` in the play.
The task should fail (which is the correct behaviour given it shouldn't b

[2018-10-23 10:09] mariolenz commented on #46338
@jose-delarosa Now ansible runs my playbook as expected: When the BIOS settings are already correct it says OK instead of "changing" them. Thanks :-)

[2018-10-23 10:54] willthames commented on #47473
Yes, you're quite right, we do wait for the condition to be in the correct state.

Certainly waiting is handy if you're also creating rules based on the condition, but it should be optional. It's not right now, but it's a relatively easy PR if you're keen (I'm not doing any WAF work these days, I have enough to keep me busy)

Basically, add a wait param with default True, and then replace all the

[2018-10-23 11:12] Akasurde commented on #46460
@blambo10 Could you please check above PR and let me know if it works for you ? Thanks

needs_info

[2018-10-23 11:50] PulsatingQuasar commented on #46295
Just configured mongodb fact cache for testing and I get the same issue with Ansible 2.7.0

[2018-10-23 12:06] dagwieers opened #47497 "win_domain_membership:"
##### SUMMARY
The following task

[code]

Causes this error:
[code]

This can be avoided by first renaming and rebooting the server, but since **win_domain_membership** reports it can rename a server, I would prefer to avoid an additional reboot.

In this case I have no clue what "The account already exists." really means, because that system has a unique system name which was not joined before.

[2018-10-23 12:10] willthames commented on #47149
Backport for 2.7 raised in #47496

[2018-10-23 12:11] dagwieers commented on #47497
From the Ansible logs I can see that the end-user ran the playbook twice. Which means that previously this system was reinstalled, joined and renamed to the exact same target name **c220m4-2**. So I guess that is why we get **The account already exists.**, but I wonder if this case should be supported.

[2018-10-23 12:15] aioue commented on #44407
@Akasurde @willthames happy to test further

[2018-10-23 12:48] Yajo commented on #6189
This problem still exists and is indeed counter-intuitive. It took me days until I found this issue. :disappointed:

It should be fixed or, at least, documented.

[2018-10-23 13:03] walterdolce opened #47499 "gcp_compute_networks_facts scope parameter appears to be required, not optional"
##### SUMMARY
The following code:
[code]

Produces the following:
[code]

Whereby the following works just fine:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_network_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Don't think it matters?

##### OS / ENVIRONMENT
Don't think it matters? But just in case, macOS - Mojave

##### STEPS TO REPRODUCE
Use the YAML code s

[2018-10-23 13:09] s-hertel commented on #47488
Hi, @Barathwaja. You can run AWS modules on an EC2 instance with an attached IAM role by leaving your environment variables for AWS credentials unset and not passing other conflicting credentials in the playbook directly. Ansible will fall back to using your instance's IAM role. If you want to assume a role on your control machine, use boto3 source profiles in ~/.aws/config. For example:
contents

[2018-10-23 13:09] #47488 closed, assigned to nobody

[2018-10-23 13:10] ogirardot commented on #43466
+1

[2018-10-23 13:16] s-hertel commented on #30184
Leaving open because this could probably have improved docs still. Here are the boto3 docs about IAM roles: https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html#iam-role

Here's also an explanation for how Ansible uses IAM roles: https://github.com/ansible/ansible/issues/47488#issuecomment-432239502

[2018-10-23 13:17] BentoumiTech opened #47503 "reboot_timeout option is not recognised"
##### SUMMARY
reboot_timeout option is not recognised

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- reboot module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
- Target OS : Ubuntu 18.04.1
- Host OS: Mac OSX

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
It should reboot the machine and timeout only after 3600 s

##### ACTUAL RESULTS

[code]

[2018-10-23 13:19] Qalthos commented on #46976
Can anyone here verify if #47300 is fixing the issue for them?

needs_info

[2018-10-23 13:19] ptselios-inmarsat opened #47504 "Cannot add multiple ports in a Target group"
##### SUMMARY
The way module is implemented it checks only if a specific host exists in the targets. If a host exists, it modifies it's entry.
So, if I want to add multiple hosts that listen on different ports (eg 8080 & 8088), I cannot.
Meaning, the module is restricted to one host one port at a time.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
elb_target_group

##### ANSIBLE VERSION

[c

[2018-10-23 13:28] s3lph opened #47505 "openssl_certificate: selfsigned_not_before and selfsigned_not_after raise a TypeError"
##### SUMMARY

Using the options `selfsigned_not_before` or `selfsigned_not_after` in an `openssl_certificate` task
causes the task to fail with a fatal error due to a type error in the `openssl_certificate` task.  This happens because pyOpenSSL's `OpenSSL.crypto.X509` class expects the argument passed to
`set_notBefore` and [`set_notAfter`](https://pyopenssl.org/en/stable/api/crypto.html#OpenSSL.

[2018-10-23 13:37] Ri0n commented on #39279
Hi
Is this bug really fixed? I see it with 2.7.0 but with remote_src=no.
Also tried 2.6.2. same problem.

I copy a directory with a lot of stuff. It also has symlinks to internal contents so depending on copy order some of the symlinks could be temporarily invalid.
I just checked. chown/chmod fails on invalid symlinks. Could it be the case?

[2018-10-23 13:39] Barathwaja commented on #47488
@s-hertel so there is no straight forward way to use iam policy arn in aws S3 module like aws secret key and aws access key?? Right??

[2018-10-23 13:39] walterdolce commented on #47499
^ PR above would fix the documentation and bring it in line with the current module behaviour.

[2018-10-23 13:51] walterdolce commented on #47499
Hmm. I just went through [the documentation](https://docs.ansible.com/ansible/latest/scenario_guides/guide_gce.html#providing-credentials-as-module-parameters) again and it's stated that _the GCE modules **you can** specify the credentials as arguments_.

It doesn't say you **must** specify them, in this case `scopes`. Given the docs don't currently say that, marking `scopes` as required should st

[2018-10-23 13:53] Jazzepi commented on #42933
@Uwila I don't think a sanity check is a bad idea, perhaps the checker could be a bit more gentle and check for multiple directories that might indicate the presence of a role?

[2018-10-23 13:53] dericcrago opened #47509 "set_fact sets fact on all hosts when ran with run_once"
##### SUMMARY
`set_fact` sets fact on all hosts when ran with `run_once`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
set_fact
run_once

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Initially noticed with RHEL7 devices, recreated simple playbook with local (macOS) connection hosts.

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
`foo` =