[2017-02-16 14:09] anguswilliams commented on #21509
@andmos I have a PR which fixes this issue: https://github.com/ansible/ansible/pull/21476

[2017-02-16 14:22] Nitaco commented on #21316
This needs to be fixed asap.

[2017-02-16 14:22] Id2ndR commented on #15520
Still present in 2.2.1.0
`fatal: [**]: FAILED! => {"failed": true, "msg": "the field 'args' has an invalid value, which appears to include a variable that is undefined. The error was: 'ansible_managed' is undefined\n\nThe error appears to have been in '**/tasks/**.yml': line 53, column 3, but may\nbe elsewhere in the file depending on the exact syntax problem.\n\nThe offending line appears to be:\

[2017-02-16 14:24] jbscare commented on #20736
We ran into this in a role where there's some tasks, a block with an always task (it creates a lock file and does some stuff in a work-in-progress directory, then copies the result into place, and the always task cleans up the lock file so that we don't leave that lying around even if something goes wrong), and then some more tasks (that aren't part of the block), and the post-block tasks don't ru

[2017-02-16 14:26] halberom commented on #16395
Is this still a valid request? the `vars` dict is extremely useful but I just found https://github.com/ansible/ansible/issues/10506 which is related (and was closed as won't do), so I'm a bit concerned a) whether i should use it and b) whether i should tell others - as i have done from time to time in irc.

[2017-02-16 14:32] gundalow opened #21520 "ios_config: [WARNING]: argument timeout has been deprecated and will be removed in a future version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### SUMMARY
Warning about deprecated argument returned due to default being set.

[code]

causes

`[WARNING]: argument timeout has been deprecated and will be removed in a future version`

due to a default of `10` for timeout
##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-02-16 14:39] #19601 closed, assigned to nobody

[2017-02-16 14:45] #20491 closed, assigned to nobody

[2017-02-16 15:01] PriceChild commented on #21513
To put some numbers to it:
synchronize:
real	0m4.311s
user	0m2.408s
sys	0m0.276s

copy recursive:
real	9m36.888s
user	1m25.800s
sys	0m15.456s

copy with_items:
real	0m42.066s
user	0m8.348s
sys	0m1.352s

synchronize isn't an option for us but 40 seconds is still definitely acceptable. 10 minutes for the benefit of not having to write files out in the task yaml is... silly.

Now I don't want to do t

[2017-02-16 15:16] dev00 opened #21522 "allow subnet names to be used in os_port instead of subnet ids only"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

os_port

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Right now we can only create instances which will be attached to a specific network. Openstack will then place the instance in the first subnet.
However, when having multiple subnets, you may want to choose in which subnet the instance sho

[2017-02-16 15:19] msghaleb commented on #21515
we have major network issues - I would like to troubleshoot all network related issues before I wast anyones time in this one. Will re-open once the network issues are cleared.

[2017-02-16 15:19] #21515 closed, assigned to nobody

[2017-02-16 15:24] robinro commented on #21316
@Nitaco Why the urgency? You can always fall back to a full clone. Afaik shallow+tag never worked correctly.

To speed things up you can open a PR. I'd be happy to review a fix. One should probably add a testcase to the integration tests for this.

[2017-02-16 15:29] rcarrillocruz commented on #20763
Can you please paste your shade library version?

[2017-02-16 15:29] Nitaco commented on #21316
In ansible 2.1.x this always worked correctly. We are using this version in productive, so we can't deploy new versions correctly. So I had to revert the ansible version to 2.1.x.

[2017-02-16 15:29] rcarrillocruz commented on #20763
needs_info

[2017-02-16 16:08] DylanYoung opened #21523 "cron module fails with backup=yes and --check flag"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cron

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
OSX 10.11.3 (15D21)

##### SUMMARY
cron module fails when run with --check and backup=true:

undefined local variable backup_file referenced before assignment

##### STEPS TO REPRODUCE
see above. Note that crontab must change (backup must be required) for the bug to surface.

[code]

###

[2017-02-16 16:10] DylanYoung commented on #21523
Workaround is:

[code]

This will ignore other errors as well

[2017-02-16 16:12] andmos commented on #21509
@anguswilliams great! Let's hope for a merge soon.

[2017-02-16 16:36] #14996 closed, assigned to nobody

[2017-02-16 16:39] alikins commented on #9362
Some examples showing current behavior and what is desired (some of which currently doesnt work)

[code]

current output

[code]

[2017-02-16 17:29] BadStreff commented on #19819
I went ahead and created a PR, I'm unsure about how to approach the integration tests but will look into it when I get some more time.

[2017-02-16 17:47] bcoca commented on #16395
closing as dupe of #10506

[2017-02-16 17:47] #16395 closed, assigned to nobody

[2017-02-16 17:49] zigarn opened #21528 "gather_facts not skipped on skipped include"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In Ansible 2.2.0.0, when using conditional on playbook include, none of the tasks of the included playbook where executed (not even skipped), the playbook was just not included with a message `skipping playbook include 'included.yml' d

[2017-02-16 17:55] jl-montes commented on #7019
Still there in ver 2.1.1.0
It would be nice to perhaps have a flag to tell Anisible to ignore_errors at the setup-level as well as the task level, that would avoid this condition.

The work-around we tried was to increase the serial count to 5 since we only had 2 machines that were  having network maintenance and not reach-able thus causing some script to fail that were running in serial=1 mode

[2017-02-16 18:07] BadStreff commented on #21523
Is there a case for using both `--check` and `backup=true`

I took a quick look at the cron module and it looks like the function that returns the file path also creates the file, it also looks like it generates a random name for the file? So maybe just returning an empty string here would make more sense

[2017-02-16 18:11] fpoirotte commented on #20379
I can confirm this issue and that downgrading ansible fixes the problem entirely.

Is there anything we can do to help get this fixed?

[2017-02-16 18:14] dagwieers commented on #20781
BTW Various Windows plugins have been rewritten with check-mode support using -WhatIf now.

[2017-02-16 18:16] nitzmahone commented on #21248
Hrm, thought I'd "fixed"-closed this via the PR, but should be good now.

[2017-02-16 18:16] #21248 closed, assigned to nitzmahone

[2017-02-16 18:19] rrbarreto commented on #20763
Hi

$ pip list |grep shade
shade (1.9.0)

Thank you

[2017-02-16 18:37] yabhinav commented on #20736
@jbscare  just split the block task into another  tasks/blockA.yml  and in tasks/main.yml ,

 `- include: blockA.yml `

[2017-02-16 18:42] jbscare commented on #20736
Sure, this isn't hard to work around. I just wanted to chime in that I'd seen this bug too, an in a situation where we only have one block.

[2017-02-16 18:44] yabhinav commented on #20736
the real bug is counting  the failure as failed=1 when actually there is a rescue: task running

Ideally you report don't want to reflect it as a failure because

1. Your are checking if a service is up
2. You are rescuing by stating the service

[2017-02-16 18:59] #21400 closed, assigned to privateip

[2017-02-16 19:14] cadavre opened #21530 "synchronize modules does not respect become_user"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

`synchronize`

##### ANSIBLE VERSION

ansible 2.2.1.0

##### SUMMARY

`synchronize` module is not respecting `become_user`.

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULT

Files created by `rsync` in `/dest/dir` should have ownership of `ci` user.

##### CURRENT RESULT

Files created by `rsync` in `/dest/dir` have ownership of `

[2017-02-16 19:16] cadavre commented on #21530
To be precise:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/synchronize.py#L343
takes into consideration `become` but doesn't `become_user` which is a follow up!

[2017-02-16 19:19] jimi-c commented on #20392
@MikeStankavich that actually happens on older versions of Ansible as well, so that case is not a regression, it's just a side-effect of the fact that we allow bare variables like this in conditionals. The correct solution is to use `is defined` in these kinds of situations where the variable may not contain a boolean value.

[2017-02-16 19:28] jimi-c commented on #20392
As far as I can tell (looking back to 1.9.6), this is not a regression - conditionals have always behaved this way. If you use a bare variable, it will substitute it and use the contents for the conditional, which allows things like this:
<pre>
- assert:
    that: item
  with_items: [true, false]
</pre>
(as the assert module uses conditionals too under the hood).

[2017-02-16 19:30] jimi-c commented on #20392
Based on the above, I will close this now. The correct solution is to use `is defined` (or `is not defined`) on variables to check that they're set (or not).

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.googl

[2017-02-16 19:30] #20392 closed, assigned to jimi-c

[2017-02-16 19:35] cadavre commented on #21530
Fix proposal in MR #21531 .

[2017-02-16 19:48] alexphelps commented on #20653
I had the same issue, host_key_checking is set to false, and git module has accept_host_key to yes. It actually only happens the first time I run the playbook, all runs after that work correctly.

[2017-02-16 19:55] leerich commented on #21362
Okay, just tried the exact Playbook and I got the same results.  What version of regedit did you run?

[2017-02-16 19:57] leerich commented on #21362
I'm using Ansible Tower 3.0.3 and Ansible Core 2.2.1.0

[2017-02-16 20:33] jimi-c commented on #20379
Is this happening with all json_query uses, or just specific ones? If the later, could someone please share a full example which reproduces this?

[2017-02-16 20:36] tyl0r commented on #17349
Using ansible 2.2.*

Sounds silly, but rebooting my bastion host resolved this issue for me; it's a small VM and the load slowly crept up over time.

[2017-02-16 20:52] adisharoon opened #21536 "AWS profile for credstash lookup"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
credstash lookup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A
##### SUMMARY
It would be great if the credstash plugin would accept an AWS profile, the way many AWS modules do.  The credstash python library supports this, it's simply another keyword argument to pass into getSecret (as 'profile_name ', via 'g

[2017-02-16 20:57] orev opened #21537 "file module should allow setting symlink ownership without src"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
file module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 7 x86_64

##### SUMMARY
The file module should allow setting the owner and group of a symlink without having to specify the link src.  This is useful when the link may point to different locations (possibly unknown to ansible), but the link itself sho

[2017-02-16 21:08] DylanYoung commented on #21523
Good point @BadStreff, a better work around would be to do set:
[code]

In general though, I still think it would be desirable to avoid such boiler plate; I mean it seems intuitive that backups won't happen in check mode since nothing changes, right?

Better though, if the module is generating the name, would be to allow the name (and path) to be configurable through a backup_file option to the mo

[2017-02-16 21:09] sidewinder12s commented on #20379
Possibly just specific ones. Here is what I was trying to use, which is pretty complicated:

[code]

[2017-02-16 21:23] mvleandro opened #21538 "win_chocolatey: Method invocation failed because [System.Management.Automation.PSCustomObject] does not contain a method named 'Tolower'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
ansible 2.2.0.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

TASK [setup] *******************************************************************
Using module file /usr/lib/python2.7/site-packages/ansible/modules/core/windows/setup.ps1
<172.16.3.88> ESTABLISH WINRM CONNECTION FOR USER: ml

[2017-02-16 21:37] ktbyers commented on #18968
Some more information (as I think it is the same issue):

[code]

This playbook works totally fine:

[code]

[2017-02-16 21:39] #20807 closed, assigned to nobody

[2017-02-16 22:25] dagwieers commented on #18108
As soon as #20011 is merged, I can implement a fix for this.

[2017-02-16 22:27] brandonegbert commented on #19801
I'm unsure if it's related but I'm getting a 404 when trying to create a VM using ovirt-engine-sdk-python 4.1.0a1.

`fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Fault reason is \"Operation Failed\". Fault detail is \"Entity not found: GetVmTemplate\". HTTP response code is 404."}`

[2017-02-16 22:34] fxfitz commented on #18108
@dagwieers You're a gentleman and a scholar, good sir!

[2017-02-16 22:58] jasimmonsv commented on #16048
+1 Same problem

[2017-02-16 23:04] jimi-c commented on #20379
@sidewinder12s i see that above, however I'd like some JSON data to test with if possible.

[2017-02-16 23:05] sidewinder12s commented on #20379
Missed that one, Let me see if I can get a dump of what I'm iterating over.

[2017-02-17 00:34] aabbss757 commented on #21440
Nice idea. Playbook will be simple!
I tried this.

Although no error occurred, registered entries were like this...
@{20D04FE0-3AEA-1069-A2D8-08002B30309D=}
@{F02C1A0D-BE21-4350-88B0-7367FC96EF3C=}

I also tried this.
Result, Same state as "ACTUAL RESULTS"
However, although an error occurred, the entry was successfully registered and the desktop icon is also displayed.
[code]

I am interested in t

[2017-02-17 00:40] jasimmonsv commented on #16048
@sgsabbage solution finally worked for me after running the playbook with -vvvv
I had to add edit my sudoers file to include:
%sudo ALL=(ALL) NOPASSWD: ALL

so that all my logged in user in the sudo group would not be prompted for a password for any command.
This work for me to allow:
[code]

[2017-02-17 00:42] nusenu opened #21547 "module apt: fails to set changed to true when run for the first time (when installing dependencies)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module: apt

##### ANSIBLE VERSION

[code]
(also tested on master)

##### OS / ENVIRONMENT
target: debian 8 minimal netinstall
important: ansible apt module has never been run on that target before

##### SUMMARY
apt module fails to set changed to 'True' when run for the first time (and installing its dependencies)

##### STEPS TO REPRODUCE
on a

[2017-02-17 01:36] nickallevato commented on #19809
I'm hitting this on a customer CI pipe. Work around with command module.

[2017-02-17 02:25] xuchen81 opened #21551 "ec2_ami_find does not return correct result."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_ami_find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux Ubuntu

##### SUMMARY

I try to create a ami using ec2_ami, it succeed,  and I want to find it right after it is created using ec2_ami_find, it cannot find it.

However, if I run it a few minutes later, I will get the result from ec2_ami_find.

####

[2017-02-17 03:34] bonuscheese opened #21553 "ec2_elb_facts breaks if HTTP Health check path is only a slash"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_elb_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

CentOS release 6.8

##### SUMMARY

The ELB facts module is incompatible with my ELB health-check configuration due to how it manages port/path info.
We have an application which responds with a HTTP status code and message we use for health chec

[2017-02-17 03:38] gbleydon commented on #21486
Thanks!,

On Wed, Feb 15, 2017 at 4:06 PM, Krzysztof Magosa <notifications@github.com>
wrote:

[2017-02-17 03:49] colynn opened #21554 "ansible 2.1.1 use api run playbook can not use paramiko_ssh connection plugin"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugin:  paramiko_ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Use ansible 2.1.1 api, didn't specific ansible.cfg and ANSIBLE_* environment variables.

##### OS / ENVIRONMENT
Centos 6, N/A

##### SUMMARY

If defined connection is 'paramiko', when running module, it will see the error as below

Traceback (most recent call last):
  Fil

[2017-02-17 03:55] sivel commented on #21554
You are not properly passing all of the necessary args as strings.

Per the error the ssh args you have passed in are None and not a string.

If you have further questions, please utilize the mailing list.

[2017-02-17 03:55] #21554 closed, assigned to nobody

[2017-02-17 06:28] #21340 closed, assigned to nobody

[2017-02-17 07:05] lorin opened #21556 "Docs for complex return types are not generated"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
Module HTML documentation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

If a module documentation specifies a complex return type, the fields of the complex type are not rendered into the document.

##### STEPS TO REPRODUCE

Example, browse to the [os_image_facts module's Return

[2017-02-17 07:24] skg-net opened #21557 "dellos9_facts modules crashes with IPv6 configuration."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- modules/network/dellos9/dellos9_facts
##### ANSIBLE VERSION
ansible 2.3.0 (devel 4680fafd9b) last updated 2016/12/05 10:28:01 (GMT -700)

##### CONFIGURATION
- None

##### OS / ENVIRONMENT
Distributor ID: LinuxMint
Description:    Linux Mint 18 Sarah
Release:        18
Codename:       sarah

##### SUMMARY
dellos9_facts modules crashes with IPv

[2017-02-17 08:06] jhawkesworth commented on #21362
I just used a recent development version of ansible
ansible 2.3.0 (devel 47141b8426) last updated 2017/02/15 06:24:10 (GMT +100)

are you able to try development version?

[2017-02-17 08:29] colynn commented on #21554
Because  ssh_args has default defined is 'C.ANSIBLE_SSH_ARGS‘，so defined `ssh_common_args='', ssh_extra_args=''`， then it works when use paramiko_ssh plugin.

[2017-02-17 08:34] dagwieers opened #21559 "win_chocolatey: No means of upgrading all existing packages"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

v2.3

##### SUMMARY

##### STEPS TO REPRODUCE

There is a shortcoming in the current win_chocolatey module. There is no means of updating all existing chocolatey packages, like the yum-equivalent:
[code]
I think this is essential to have (and a lot more efficient than looping over a predefined list).

[2017-02-17 09:37] magick93 opened #21561 "unarchive_module: ERROR! 'src' is not a valid attribute for a Task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
http://docs.ansible.com/ansible/unarchive_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible host: Ubuntu 16.04

##### SUMMARY
Error when using unarchive module in playbook.

`ERROR! 'src' is not a valid attribute for a Task`

But documentation clearly shows `src` is valid.

##### STEPS TO REPRODUCE

[2017-02-17 09:41] avivian opened #21562 "failed to transfer file to ~/.ansible/tmp/ansible-tmp-xxx/setup.py: [Errno 2] No such file or directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux ip-x-x-x-x 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-1 (2016-03-06) x86_64 GNU/Linux

##### SUMMARY
When running ansible localhost using cloud-init, the following error is given:
[code]
This works using version 2.2.0.0.

##### STEPS TO REPRODU

[2017-02-17 10:16] cadavre commented on #19746
Same as #21530 . My proposal of fix is #21531 – a little better handled than this issue's PR.

[2017-02-17 10:19] L-B opened #21563 "Setting a user expiry date can lead to confusing results"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
RHEL6 on both source and target

##### SUMMARY
The "user" module has an "expires" option to set up the expiration date of a user. This option is using the Epoch format (not very helpful), and it seems it does not take into account the timezone.
In my case, it means that setting a user t

[2017-02-17 10:20] nidhimittal opened #21564 "Ansible - ssh connect failure - tries to create a temp file on remote machine"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ssh connection plugin

##### ANSIBLE VERSION
N/A

##### SUMMARY
hello

I am able to ssh from cli

[root@greglinux2 ~]# ssh admin@10.64.32.160
Password:

without any problem

this is my inventory file.
====================
[root@greglinux2 ~]# cat /etc/ansible/hosts
10.64.32.160 ansible_ssh_pass=admin ansible_ssh_user=admin

when i use ansible to ju

[2017-02-17 10:35] olex777 opened #21565 "Problem with mod ios_facts ansible 2.2.0.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_facts module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOs 6.8
##### SUMMARY

When in "ios_facts" present the command, which produced 'invalid input detected' I have in output error message and no output from commands which proceeded ok.
##### STEPS TO REPRODUCE

On 3750 cisco dir | include is not work

[2017-02-17 10:51] sjkeerthi opened #21566 "Region eu-west-2 missing on ansible-2.2 ec2 module"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ec2 module

##### ANSIBLE VERSION
2.2

##### SUMMARY
OS: Fedora 24
Ansible: 2.2
Module Version: ec2ansible (0.1.2)

Could not able to create instances via Ansible on London (eu-west-2) Regions

Amazon Elastic Compute Cloud (Amazon EC2)

EU (London)	eu-west-2	ec2.eu-west-2.amazonaws.com	HTTP and HTTPS

ERROR:

TASK [Launch instances] ***************

[2017-02-17 11:23] kustodian commented on #14270
@bitonio that looks like a bug which I remember having in 2.1.x, not sure if it's fixed in 2.2.x, probably still exists. You should report it as a bug.

[2017-02-17 11:24] walterdolce commented on #11789
Sorry to bring this back to live again. But I'd like to get clarification from you core maintainers everything is looking good and that it's just me doing it wrong.

I have the following setup:
[code]

The content of the files above is as follows:
[code]

When I launch Vagrant and it starts to provision, then I get:
[code]

Am I correct in thinking the group_vars are not being imported/seen/includ

[2017-02-17 11:31] kustodian commented on #16956
@t2d because that behavior was a bug which was not documented anywhere in the documentation, so even if you used it in the first place, it was the wrong way to do it.

Anyway everyone, there is no point in replying to this issue any more, because this will never be reverted back to the state it was in 2.0, because it was a bug. Just modify your playbook directory structure to make it work and be d

[2017-02-17 11:41] walterdolce commented on #11789
I just figured it out. I think this is Ansible not supporting that kind of structure(s)...

If I change my `group_vars/all.yml` to just:
[code]
And I reference the var in `roles/test/tasks/main.yml` accordingly:
[code]

Then it works.

@bcoca / @LukeHoersten is it expected from Ansible?

I would have expected that the variable structures are supported in the same way wherever they are defined.

[2017-02-17 11:43] jctanner commented on #21566
@sjkeerthi please use the issue template in the future.

[2017-02-17 11:46] jctanner commented on #21501
@thoraxe please use the issue template in the future.

[2017-02-17 11:52] jctanner commented on #21501
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * ssh_args is primarily used to set the control persist args and other arguments not controlled via other config options
   * hostkey checking is controlled by a separate option http://docs.an

[2017-02-17 11:52] #21501 closed, assigned to nobody

[2017-02-17 11:52] jctanner commented on #21504
needs_contributor

[2017-02-17 11:54] jctanner commented on #21509
resolved_by_pr https://github.com/ansible/ansible/pull/21476

[2017-02-17 11:57] jctanner commented on #21513
@PriceChild can you show us the directory structure, the filenames, their sizes and their content types?

needs_info

[2017-02-17 12:02] jctanner commented on #21530
resolved_by_pr https://github.com/ansible/ansible/pull/21531

[2017-02-17 12:12] #21520 closed, assigned to privateip, Qalthos

[2017-02-17 12:18] boxrick commented on #21328
Apologies the error was wrong I updated this to be the correct name:

The path dostuff is actually in as as follows: /roles/proxy_install/tasks/dostuff.yml

[2017-02-17 12:31] sivel commented on #21561
Your indentation is incorrect. Everything below unarchive should be indented further than the word unarchive.  Otherwise they are not interpreted as arguments for the module.

The examples on the documentation page you reference show the proper indentation.

Feel free to use the mailing list if you have further questions

[2017-02-17 12:31] #21561 closed, assigned to nobody

[2017-02-17 12:53] PriceChild commented on #21513
Hi @jctanner https://github.com/PriceChild/ansible-issue21513 hopefully provides everything you need to see this issue in action.

It's hopefully a sanitised version of my real data. filenames randomly changed & random bytes filling each file to their original size.

It seems like it's the later files slowing things down... the first ~45 speed by just as quick as the with_items version but then th

[2017-02-17 13:09] sm4rk0 commented on #20595
@dagwieers There are quotes missing in documentation/examples, for path parameter. They won't work because of a colon in path value, as per [YAML Syntax/Gotchas](http://docs.ansible.com/ansible/YAMLSyntax.html#gotchas):
path: HKCU:\Software\MyCompany
Is that intentional?

[2017-02-17 13:10] jylenhofgfi opened #21573 "ansible_virtualization_type & ansible_virtualization_role fact not correctly filled when kernel is old"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION
N/A

##### SUMMARY
On  RHEL/CentOS 5.x , ansible_virtualization_role & ansible_virtualization_type are not filled with VMware & guest :

[code]
But other information are correctly filled
[code]
This is because /sys/devices/virtual/dmi/id/product_name is not exist with kernel version in these RedHat/CentOS version

[2017-02-17 13:11] dagwieers commented on #20595
That should not be a problem (and it isn't) because only a colon followed by a space is an issue.
Did you try this yourself ? Because all my playbooks do this without a problem.
https://github.com/crombeen/ansible

[2017-02-17 13:11] olex777 commented on #21565
It is interesting that by some reason I see in output EXEC /bin/sh -c '/usr/bin/python,
"module_stderr": "/usr/lib64/python2.6/site-packages/cryptography/__init__.py
But really I have python 2.7 in /usr/local/bin/
echo $PATH
/usr/kerberos/sbin:/usr/kerberos/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin
ansible install in python 2.7 by pip install. Maybe it is one of th

[2017-02-17 13:12] jylenhofgfi commented on #21573
Affected version 2.2.1 but I think devel and 2.3 branch are affected too.

[2017-02-17 13:17] sm4rk0 commented on #20595
@dagwieers You're right. Sorry for false accusation and noise. I trusted "YAML Syntax" page (should it be updated?), and also tested with a colon followed by a space:

[2017-02-17 13:20] dagwieers commented on #20595
No problem, it confused me once in the past as well :-)

Yes, feel free to edit that document and make a PR (can all be done through the Github web interface).

[2017-02-17 14:00] zigarn opened #21577 "Handle file common args in maven_artifact module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module `maven_artifact`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The module should handle default file arguments to set dest file owner, group, mode and others.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`/tmp/artifact.jar` is created with filemode '0755' and owned by

[2017-02-17 14:16] jimi-c commented on #21340
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2017-02-17 14:44] jctanner commented on #21536
needs_contributor

[2017-02-17 14:47] cristiroma opened #21578 "ini_file custom character for comment (# or ;)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ini_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Customize ini_file comment character to choose between # and ;
##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Commenting a line in /etc/php.ini using ini_file to work with PHP correcty (using ";" character)
##### ACTUA

[2017-02-17 15:08] brandonegbert opened #21580 "ovirt_disks fails to create cinder disk"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_disks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[defaults]
private_key_file = /root/brandon/ansible/ansible_id_rsa

##### OS / ENVIRONMENT
Running from CentOS 7.3 against Ovirt 4.0.6.3-1.el7.centos

##### SUMMARY
When creating a disk the format option is required.  When Cinder is used there is no format to specify.

##### STEPS T

[2017-02-17 15:14] kladiv commented on #18411
+1 same bug, even using "listen".

[2017-02-17 15:25] ahelal commented on #21008
We are able to reproduce this issue after upgrading to 2.2. If machine is loaded it happens more often. So i recommend run something that loads your CPU in the background

I attach a gist with Alpine Dockerfile to be able to reproduce faster. It also happens on Ubuntu 16.04

To run the test
[code]
This will run a play in endless while loop and hashes the stdout so we can define easier the changed

[2017-02-17 15:27] ctappy opened #21581 "Unarchive to tmp changes tmp ownership when using tar -cvzf foo.tar.gz ."
Probably not a bug since sudo tar will do this...
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

centos 7
##### SUMMARY

when extracting a tar using ```tar -czvf foo.tar.gz .``` and extracting to /tmp; changes the permission of tmp to the user running script
##### STEPS TO REPRODUCE

Run ansible script

[

[2017-02-17 15:29] rcarrillocruz commented on #21565
Could you please login to your device and paste the output of command 'dir' ?

[2017-02-17 15:29] rcarrillocruz commented on #21565
needs_info

[2017-02-17 15:30] #21581 closed, assigned to nobody

[2017-02-17 15:55] s-hertel commented on #21566
I was able to recreate this bug on devel.
[code]
When I try the same playbook with the region us-east-1 (and the region-appropriate key and ami) it works.

[2017-02-17 15:58] kasabov commented on #18461
For what it's worth, we didn't experience this with 2.2.0 but now we do after upgrading to 2.2.1.

[2017-02-17 15:58] olex777 commented on #21565
cat3750-chernigov-pob62-srv-1#dir
Directory of flash:/

    2  -rwx        2056  Mar 28 2016 11:11:44 +03:00  vlan.dat
    3  -rwx        2327  Dec 15 2016 10:12:35 +02:00  private-config.text
    5  drwx         192   Jan 9 2011 13:22:38 +02:00  c3750-ipbasek9-mz.122-50.SE5
    6  -rwx       41945  Dec 15 2016 10:12:35 +02:00  config.text
  428  -rwx         106   Jan 9 2011 13:22:38 +02:00  info

[2017-02-17 16:06] jctanner commented on #21557
[code]

[2017-02-17 16:07] s-hertel commented on #21566
Workaround:
If you specify ec2_url: https://ec2.eu-west-2.amazonaws.com and also DON'T specify the region, it should work.

[2017-02-17 16:10] jctanner commented on #21562
@avivian please run ansbile-playbook with -vvvv and paste the results here.

needs_info

[2017-02-17 16:23] jctanner commented on #21564
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2017-02-17 16:23] #21564 closed, assigned to nobody

[2017-02-17 16:26] jctanner commented on #21573
@jylenhofgfi please indicate what type of vmware virtualization is being used. (vcenter/vcloud/esxi/workstation/fusion/etc).

needs_info

[2017-02-17 16:38] jjaone commented on #19745
Hi, maybe this is related. I have two containerized hosts at Ubuntu Trusty/14,04 and in the control host I'm running Ansible 2.2.0 in Ubuntu/16.04 env, and trying to setup the timezone in those two Trusty hosts with following task:
[code]
I get the follwing error in my playbook:

`TASK [common : setup - Setup timezone (default='Europe/Helsinki')] *************
fatal: [kldev]: FAILED! => {"changed"

[2017-02-17 17:02] jaredledvina opened #21588 "Feature Request: ec2_vol - Support Elastic EBS Volumes"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_vol: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_vol.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Add support for Elastic EBS Volumes: https://aws.amazon.com/blogs/aws/amazon-ebs-update-new-elastic-volumes-change-everything/

This feature is really awesome and would make

[2017-02-17 17:08] andynelson commented on #15722
I just got hit with this too... we often use jinja inside inventory to cross-reference variables that won't be defined before a playbook starts - previously these would be resolvable by the time they were needed in a play - not the whole dictionary just isn't defined.

[2017-02-17 17:14] leerich commented on #21362
I can try.  Can I just download the file referenced in your comment above and put in a library directory?  Would that work?  Or would I have to install the complete 2.3.0 Ansible Core?

[2017-02-17 17:15] jctanner commented on #21528
Changed title from "Conditionnal playbook behavior regression between 2.2.0.0 and 2.2.1.0" to "gather_facts not skipped on skipped include"

[2017-02-17 17:21] insequent commented on #21528
^ I don't think that's accurate. The tasks themselves are running (or being skipped). It's causing our orchestration to break as well.

[2017-02-17 17:25] jhawkesworth commented on #21362
You don't have to, but its possible that the core code has changed in an incompatible way, so best to try with 2.3 devel ansible core.  I'd try just the module if it were me.  TBH I'm a bit mystified by this one.  Are your windows machines built from the windows .iso or have they been modified (just wondering if there's some kind of group policy or permissions/grants changes that might be affectin

[2017-02-17 17:27] leerich commented on #21362
I've tried just the module already, with the same result for the most part.  I'm just using stock Windows's AMI's up on EC2.  Windows_Server-2012-RTM-English-64Bit-SQL_2012_SP2_Express-2017.01.11 (ami-0720c011)

[2017-02-17 17:34] rrey opened #21590 "Unexpected Exception: 'results' (ansible/plugins/strategy/linear.py)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugin

##### ANSIBLE VERSION
ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
roles_path    = /etc/ansible/roles:/home/remi/dev/project/common/ansible/roles

##### OS / ENVIRONMENT
debian 7.9

##### SUMMARY
When running the task below, I obtain the following er

[2017-02-17 17:49] bcoca commented on #21590
that should have been fixed by #18545

[2017-02-17 17:52] ktdreyer opened #21591 "RFE: modify connection zones in nmcli module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nmcli module

##### ANSIBLE VERSION
[code]

##### SUMMARY
The Ansible `nmcli` module has no way to modify the "zone" of an interface.

It would be great if I could do something like this to set the zone on the `docker0` interface:

[code]

but the "zone" parameter is not yet supported. I have to run a command like `nmcli connection modify dock

[2017-02-17 17:54] rrey commented on #21590
That's indeed fixed by #18545

[2017-02-17 17:54] #21590 closed, assigned to nobody

[2017-02-17 18:12] scathatheworm opened #21594 "Ansible 2.2.1.0 copy module fails with Solaris 10 as target OS"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

gathering = smart
host_key_checking = False
remote_user = ansible
log_path = /var/log/ansible.log
private_key_file = /home/ansible/.ssh/id_rsa
display_skipped_hosts = False
fact_caching = jsonfile
fact_caching_connection = /var/lib/ansible_facts
fact_caching_timeout = 86400

####

[2017-02-17 18:18] alikins opened #21595 "traceback if modules dir is an empty directory (without __init__.py)"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

lib/ansible/parsing/mod_args.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

fedora25/fedora25

##### SUMMARY

If the default module path is an empty directory (without a __init__.py), ansible-playbook throws a traceback

[code]

Output showing the empty modules dir, the playbook called, the cli, and the results.

[2017-02-17 18:47] ryansb commented on #21566
The lack of eu-west-2 is related to your boto version. On boto v2.45.0 (current on pypi) you can see that the region is available by running:

[code]

I'm going to close this issue, please reopen it if upgrading boto doesn't address the problem.

[2017-02-17 18:47] #21566 closed, assigned to nobody

[2017-02-17 19:00] brandonegbert commented on #21580
Here's an example of a working command to the REST API via curl.  It seems to require the <openstack_volume_type> attribute as well as <format>raw</format>.

[code]

[2017-02-17 19:03] gundalow opened #21599 "network_cli: Improve authentication failed messages"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_*
iosxr_*
eos_*
etc

##### ANSIBLE VERSION

##### SUMMARY
There are a number of cases in `network_cli` where we return messages that aren't obviously about invalid credentials, for example
* ios: `"msg": "unable to open shell` (internally shown as `"err": "failed to connect to the listener socket, connection timeout."`)

##### STEPS TO REPRO

[2017-02-17 20:24] jimi-c commented on #21139
@rdonkin I can't reproduce this. With a slightly modified playbook:
<pre>
[jamesc@jimi 17490]$ cat test.yml
- hosts: localhost
  gather_facts: no
  roles:
  - { name: test, become: yes }
  tasks:
  - meta: flush_handlers
  - command: whoami
</pre>
I get the following (expected) output:
<pre>
[jamesc@jimi 17490]$ ansible-playbook -vv test.yml
Using /etc/ansible/ansible.cfg as config file

PLAYBOOK:

[2017-02-17 20:47] rcarrillocruz commented on #21565
Does 'dir | include Directory' work too in a manual shell session?

[2017-02-17 20:54] ryansb commented on #21551
This seems to be an issue with the filtering index in AWS not being updated quickly with AMIs that were just created. To get around this, I recommend using `register` to capture the output of the AMI creation task, so you can use the ID and other status info without relying on AWS to update the search index quickly. Unfortunately, I don't think there's a fix we can do in Ansible for this issue.

[2017-02-17 20:54] #21551 closed, assigned to nobody

[2017-02-17 21:31] jctanner commented on #21528
The previous behavior was removed by https://github.com/ansible/ansible/commit/5b87951d6c99b515ceb07674cd862a2375328c7a#diff-dc700addce56e967a23db219cd13021b

Prior to that commit, failed conditionals on the "play level include" would cause the loading function to return a NoneType object instead of a playbook. Now, there will never be a NoneType and it will always be a playbook object. This then

[2017-02-17 21:31] gaieges commented on #21134
Encountered the same problem in `2.2.0.0`.  Confirmed that the fix is to remove the array.

[2017-02-17 21:37] insequent commented on #21528
Ouch, then despite the fact that an entire playbook is being skipped, we now have to populate everything in the included playbook that might cause issues (i.e. any vars in ``when`` or ``with`` statements), since each task is technically being evaluated.

I can't say I agree with that intent, but we can work with it. Thanks for clarifying.

[2017-02-17 21:48] johnny-b-goode commented on #12233
[PR 19669](https://github.com/ansible/ansible/pull/19669) submitted to address this issue.

[2017-02-17 22:12] nethershaw opened #21606 "filesystem module returns invalid device size for LVM volumes"
Likely caused by https://github.com/ansible/ansible/pull/20655.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- filesystem

##### ANSIBLE VERSION

[code]

##### CONFIGURATION (default)

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
The filesystem module is used in this case to create an ext4 filesystem on a block device previously created with LVM using the 'l

[2017-02-17 22:14] nethershaw commented on #21606
Note that I am unable to reproduce the problem (the module executes as expected without errors) if I revert https://github.com/ansible/ansible/pull/20655 to https://github.com/ansible/ansible/commit/011ea55a8f1630842c67603ac601d4d7ef6ccef9.

[2017-02-17 22:15] bcoca commented on #20551
reverted change as it broke other paths, keeping this open as the module requires a deeper rewrite

[2017-02-17 22:17] bcoca commented on #21606
closing as duplicate of #21312

[2017-02-17 22:17] #21606 closed, assigned to nobody

[2017-02-17 22:31] #21312 closed, assigned to bcoca

[2017-02-17 22:34] bitonio commented on #14270
@kustodian, gotcha, I'll report a separate bug.

[2017-02-17 22:37] bitonio opened #21608 "Handler executed multiple times when using include"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

handlers

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Handlers with include statement are called multipled times (as many times as notify).

##### STEPS TO REPRODUCE
[code]

And the restart_test.yml:

[code]

Output
[code]

##### EXPECTED RESULTS

Handler should be executed only once.

##### A

[2017-02-18 01:30] msanabria commented on #20119
@krzysztof-magosa I see what you're saying about tags, but a dependency is something that should be run before even evaluating tags. It doesn't matter if I run 1% or 100% of a role, if that role has a dependency it should be run before anything. Tags notwithstanding.

[2017-02-18 01:54] skg-net commented on #21557
Fix is available @dhivyap would be submitting a PR

[2017-02-18 02:28] privateip commented on #18967
@jean-christophe-manciot Tested this working in latest devel branch.
Please confirm and close

[2017-02-18 04:21] olex777 commented on #21565
It proceed "invalid input". Any set of commands if one of them produce
invalid input does not work. Problem is that I need output from good
command, not only exception error output about wrong.

17 лют. 2017 9:48 пп "Ricardo Carrillo Cruz" <notifications@github.com>
пише:

[2017-02-18 04:42] insspb commented on #14248
Yes this is very helpful feature to avoid files with 2k lines.
+1

[2017-02-18 07:48] rdonkin commented on #21139
Sorry @jimi-c , my repro was incorrect as I was forgetting to specify `-K` for OS X sudo password.  In fact the test works fine on both OS X to OS X and OS X to CentOS.

However, I have seen this "in the wild" in 2.2.1, including in the https://github.com/dev-sec/ansible-ssh-hardening role as discussed in this PR: https://github.com/dev-sec/ansible-ssh-hardening/pull/81

Closing this now and will

[2017-02-18 07:49] #21139 closed, assigned to jimi-c

[2017-02-18 12:15] jhawkesworth commented on #21362
Please try a complete installation of ansible 2.3 devel version then.  I am a bit out of ideas as to what could be stopping these changes from being applied at the moment.

[2017-02-18 12:15] jhawkesworth commented on #21362
needs_info

[2017-02-18 15:26] jhawkesworth commented on #21289
fixed_by: #21290

[2017-02-18 15:26] #21289 closed, assigned to nobody

[2017-02-18 15:33] jhawkesworth commented on #20625
Now that #21290 has been merged this can solved by passing all the parameters in the new app_parameters_free_form module parameter.

[2017-02-18 16:39] claytantor commented on #21126
as of writing this comment the debian installer had not been upgraded to an acceptable version to include this fix:

[code]

the pip install is available. The version I am using is 2.2

`$ sudo pip install ansible==2.2.0.0`

[2017-02-18 17:17] vmindru opened #21619 "refactor yum module: remove irelevant if conditionals for disable/enablerepo"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
yum.py

##### ANSIBLE VERSION
2.3

This has been triggered by: #19587 and #195870, within this PR this has been documented
right in the yum.py.

[2017-02-18 19:57] alop opened #21622 "Selinux module fails if selinux is not installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
selinux module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
If a task wants to set selinux to `permissive`, but selinux is not installed (RPMS have been erased, /etc/selinux/config doesn't exist) the module fails because it cannot find the config file. This particular case should be OK, as setting i

[2017-02-18 21:32] mpenning commented on #18414
@samdoran, I am running `ansible-playbook` using the following and hit this very same problem... the issue does not seem to be `gather_facts: no` my case...

[code]

When I try to run that playbook, I get...

[code]

[2017-02-18 21:57] krzysztof-magosa commented on #20119
I don't agree. Tags are mechanism for running some subset of tasks, and not to run complete roles or roles with dependencies.

[2017-02-18 22:15] msanabria commented on #20119
I understand. But I'm not using tags to run roles. I'm using tags to run a subset of a role. That role just happens to have a dependency which I believe should always be run. But I'm not here to talk about beliefs. I'm just trying to understand if this behavior is as designed or not. My understanding is that if a role is run at all any dependencies should be run first, regardless whether or not it

[2017-02-19 00:28] eburgueno commented on #18979
I am experiencing the same issue with a CentOS 7 host. I'm using ansible 2.2.1.0, and my proxy has been set both in `/etc/yum.conf` and the `(http|https|ftp)_proxy` environment variables (via `/etc/profile.d/proxy.sh`).

[2017-02-19 03:43] strangeman commented on #20625
@jhawkesworth but the bug still exist for app_parameters. https://github.com/ansible/ansible/pull/21290 adds app_parameters_free_form, but not fixes app_parameters behavior.

[2017-02-19 10:40] ovcharenko commented on #21296
resolved_by_pr #21604

[2017-02-19 10:40] ovcharenko commented on #21297
resolved_by_pr #21604

[2017-02-19 10:51] ovcharenko commented on #21297
bug_resolved

[2017-02-19 10:51] ovcharenko commented on #21296
bug_resolved

[2017-02-19 10:56] #21297 closed, assigned to nobody

[2017-02-19 10:56] #21296 closed, assigned to nobody

[2017-02-19 13:22] adoram commented on #20653
Same issue here:
repo: ssh://our.dev.server:22000/git/sdev.git

[2017-02-19 13:34] tdobrovolny opened #21632 "firewalld - set masquerade"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
firewalld module

##### ANSIBLE VERSION
[code]
##### FIREWALLD VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Fedora 24

##### SUMMARY
Setting masquerade option for zone with firewalld module failed with error:
`ERROR: Exception caught: get_masquerade_enabled_permanent() takes exactly 1 argument (6 given)`

##### STEPS TO RE

[2017-02-19 14:58] bertramn opened #21634 "Ansible service module fails when restarting a service which takes a long time to get going"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Tried to extend the timeout in `ansible.cfg`:
[code]

##### OS / ENVIRONMENT
control machine: N/A
target machine: RHEL 6

##### SUMMARY
Running a service restart from a handler will fail if the service start time exceeds 10 seconds.

##### STEPS TO REPRODUCE

I have a pretty standard in

[2017-02-19 15:21] Hubbitus commented on #21348
And what dependencies I should install on target host? Just docker-compose? Other will be in dependencies?

[2017-02-19 15:54] zigarn commented on #21528
I don't agree with this intent either.
It's sad that all the tasks of the included -- but skipped -- playbook need to be parsed and evaluated, adding a lot of processing for dead tasks and a lot of output too.
Wouldn't have been easier to have a new type PlaybookSkipped? It would have avoid the NoneType problem and this current bug on fact gathering.

[2017-02-19 16:56] jamescooke commented on #19710
@maxsolar Thanks for the bug report - I've run into the `write() argument must be str, not bytes` error on Python 3 today while trying to install [Dropbox](https://www.dropbox.com/install-linux) from url https://www.dropbox.com/download?dl=packages/ubuntu/dropbox_2015.10.28_amd64.deb

My understanding of the problem is:

* `f = open(package, 'w')` (from https://github.com/ansible/ansible/blob/deve

[2017-02-19 19:35] mrjk opened #21638 "Make Ansible to adapt its working directory depending ansible.cfg localtion"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- ansible
- ansible-playbook

##### ANSIBLE VERSION

Current version (but any virtually):
[code]

##### CONFIGURATION

Example ansible.cfg configuration:
[code]

##### OS / ENVIRONMENT

Any

##### SUMMARY

When using ansible(-playbook) with a custom ansible.cfg configuration, relatives paths are resolved depending the ansible(-playbook) work

[2017-02-19 19:38] Hubbitus commented on #21348
It seams worked in d5f7a01. Is there chance it will be ported in stable 2.2 version?

[2017-02-19 19:43] patran opened #21639 "Cannot override built-in connection variable ansible_become_pass"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Cannot declare ansible_become_pass in variable declaration in playbook "vars".

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04.2 using virtualenv

##### SUMMARY

In the playbook vars section, the following produces a runtime error:
  vars:
    ansible_become_pass: "vault_{{ansible_user}}_ansible_become

[2017-02-19 20:37] cdaringe commented on #20634
@scne, still working around it, or find another way?

[2017-02-19 20:39] mrjk commented on #21638
With some extensive testings, this is already the way Ansible works. Sorry for the noise.

[2017-02-19 20:39] #21638 closed, assigned to nobody

[2017-02-20 00:40] venkateshkonapalli commented on #15297
Can we please get an ETA for this issue?

Thanks,
Venkatesh

[2017-02-20 00:47] sunshine69 commented on #19114
+1 we need this feature as well.

[2017-02-20 01:28] georgecook-cbt commented on #21304
I'm not sure if this provides any clues, but under an earlier version of Ansible (not sure which), I was able to get --filter evaluation to work using the following.

`shell: docker ps -a --filter '{{ "{{" }}name=tagname{{ "}}" }}' --format='{{ "{{" }}.ID{{ "}}" }}'`

Sadly, this seems to have broken somewhere in the past couple of months and I too am seeing the same error as noted in the original

[2017-02-20 02:08] bertramn commented on #21634
Downstream issue, turns out the service wrapper finished with `rc=1` which caused the handler to fail.

[2017-02-20 02:08] #21634 closed, assigned to nobody

[2017-02-20 02:19] georgecook-cbt commented on #21304
Found a workaround in the comments of issue https://github.com/ansible/ansible/issues/10156

`shell: docker ps -a --filter "name={{tagname}}" --format \{\{' .ID '\}\}`

[2017-02-20 03:39] itnick commented on #21472
+1
have to use the shell workaround and neglect the warning of "[WARNING]: Consider using apt module rather than running apt-get"

[2017-02-20 07:00] zeelax commented on #21008
I can confirm the same behavior on Arch Linux with ansible 2.2.1.0. Everything works perfectly fine until you introduce some background load (running two instances of `cat /dev/urandom | gzip > /dev/null` makes it happen for me)

[2017-02-20 08:03] 116davinder opened #21654 "Mysql user module fails"
##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### RESULTS
[code]

[2017-02-20 08:06] jhawkesworth commented on #19104
@Hayorti The paths that apply to files within roles are documented here:
http://docs.ansible.com/ansible/playbooks_roles.html#roles
I've unassigned this one from myself as it does not seem to be to do with win_copy, but rather the core DWIM logic.  I have flagged for triage so it can be reviewed by the core team in due course.

[2017-02-20 08:51] tmshn commented on #19745
@jjaone Thanks for reporting!
The bug you encountered is not the one discussed in this thread; it's another bug 🐛
But relax, yeah, it's already fixed in https://github.com/ansible/ansible-modules-extras/pull/3572 💪
Try the latest version of Ansible!

[2017-02-20 09:43] #21414 closed, assigned to nobody

[2017-02-20 10:08] rnurgaliyev commented on #21008
I confirm problem with 2.2.1.0, 2.2.0.0, python 2.7.12. Latest non failing one is 2.1.4.0. CPU load definitely is a concern.

[2017-02-20 10:11] rcarrillocruz commented on #21191
notabug

[2017-02-20 10:13] JamesUoM commented on #18979
I mentioned a workaround but realise it is not perhaps clear that you can set the http_proxy env for the task:

[code]

[2017-02-20 10:15] #21191 closed, assigned to rcarrillocruz

[2017-02-20 10:18] rnurgaliyev commented on #21008
[code]
Simple way to confirm the problem is to run this play in an endless cycle.

[2017-02-20 10:44] thisdougb opened #21662 "all_instances option from ec2.ini does not work as documented"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dynamic inventory script

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
The appropriate snippet from ec2.ini:
[code]

##### OS / ENVIRONMENT
Centos/RH 7

##### SUMMARY
When setting all_instances=True in ec2.ini, to list all EC2 instances, ec2.py only returns running instances.   This is because of some logic which requires an instance to hav

[2017-02-20 11:18] njchandu opened #21665 "How to print the content of the file with new line characters as it appears on the file"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
ansible 2.1.1.0 (dx-stable-2.1 553aca5dc7) last updated 2017/02/08 15:43:47 (GMT +550)

##### SUMMARY
I am trying to print the content of the file with new line characters as it appears on the file. What is the best way to do it?

[2017-02-20 11:57] krzysztof-magosa commented on #20119
As far as I know this is what tag `always` is designed for.

[2017-02-20 11:58] tjuberg opened #21668 "snmp_facts fails with "AttributeError: 'str' object has no attribute 'decode'" on python3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

modules/network/snmp_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT

Tested on Arch linux, but should be N/A

##### SUMMARY

snmp_facts has the following code call:
[code]
On python3 decode() does not exist for strings, so this specific code needs to be altered to support both python 2 and 3.

As far

[2017-02-20 12:14] nerzhul commented on #15722
I noticed the same problem, and i like the dag approach in debug module, this permits to catch the variable inclusion error shortly

[2017-02-20 12:34] kallebertell commented on #6463
I have the same need when defining identical s3 bucket policies. The policy must have the bucket name in it and the only way to pass the policy is by string. I want to use the same policy.json and just vary the bucket name. Now I have to duplicate the policy file for each bucket and hard code the bucket name in each.

[2017-02-20 12:40] dagwieers commented on #15722
I made a PR out of my suggestion, the output looks (arguably) even better in Ansible v2.3.
The whole data structure is displayed with the error now.

[code]

[2017-02-20 12:50] ansiblejunky opened #21670 "Ansible 2.x is not handling arrays passed using extra-vars parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
ansible-playbook --version
ansible-playbook 2.2.1.0
  config file = /automation/ansible/playbooks/ansible.cfg
  configured module search path = ['library', '../library']

##### CONFIGURATION
<pre><code>
[defaults]
forks = 50
transport = smart
gathering = explicit
library = library:../library
action_plugins

[2017-02-20 12:56] joerobertson commented on #14341
MiteshShah,

I ran into this issue as well - it turns out you need to specify remote_src: true when your source is on the target host.

- name: Creating PHP Debug Pool, Hold on...
  copy:
    src: /etc/php/7.1/fpm/pool.d/www.conf
    dest: /etc/php/7.1/fpm/pool.d/debug.conf
    remote_src: true

[2017-02-20 13:16] thunderrabbit commented on #19427
The problem is with `count_tag: Name`

Ansible parses this as "any instance with a Name tag"

Try this instead

     count_tag:
        Name: "{{ server_name }}"
      instance_tags:
         Name: "{{ server_name }}"

[2017-02-20 13:27] njchandu opened #21671 "lineinfile with serial is overwriting the data"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
ansible 2.1.1.0 (dx-stable-2.1 553aca5dc7) last updated 2017/02/08 15:43:47 (GMT +550)

##### SUMMARY
lineinfile when used with serial is overwriting the data.

**Here's what I'm trying to do in a broader picture:**
There are n hosts and I do not want to stop the execution when a task fails for one host. I'm usi

[2017-02-20 13:52] frenzymadness commented on #18051
FTR: There are pages about [supported python versions](https://www.mercurial-scm.org/wiki/SupportedPythonVersions#Python_3.x_support.) and [Python 3](https://www.mercurial-scm.org/wiki/Python3) and it seems to be a dead project for upstream developers but it isn't.

I had a short discussion on IRC and the result is that they need help with porting. If anybody wants to help, here is [contributing g

[2017-02-20 14:30] angystardust commented on #19711
Any news about this issue? We also had the same problem today on a el7 aws instance...

[2017-02-20 14:35] lexxcbrm commented on #21183
Hello! Do you have a solution?

[2017-02-20 14:43] alikins commented on #19104
ping @bcoca based on https://github.com/ansible/ansible/issues/19104#issuecomment-281012239 this sound like it is related to dataloader and path DWIM issues.

ping @dharmabumstead @docschick It sounds like it may also boil down to making in sure the docs and behavior agree completely.

I haven't tried to reproduce this with devel/ yet, so heads up that it could be resolved already.

[2017-02-20 15:10] Fale commented on #19711
@angystardust I guess it will be fixed with an amendment to the doc

[2017-02-20 15:16] thisdougb commented on #21662
I think the bug report still stands, in that all_instances doesn't do what's documented.   But I've found a much nicer way of creating missing nodes on the fly:

[code]

[2017-02-20 15:22] MikeStankavich commented on #20392
Thank you for following up on this. While I appreciate your clarification, I find that `is defined` does not behave the same with empty strings. In the case of empty string, the JavaScript truthy paradigm results in a `false` value, whereas the ansible `var is defined` conditional results in a `true` when the variable is defined and contains empty string.

So if I understand correctly, the preferr

[2017-02-20 15:22] jean-christophe-manciot commented on #18968
The [module documentation](http://docs.ansible.com/ansible/nxos_facts_module.html) talks about a new **timeout** field which should be increased with NXAPI, especially when trying to gather all facts.

Unfortunately, we cannot test that with the last devel version (2.3.0~git20170220.7bc7f1385) which cannot even establish a correct NXAPI connection with the target with exactly the same parameters a

[2017-02-20 15:23] ixio commented on #20980
I have the same problem and have set up a minimal example on three hosts: HOST1, HOST2, HOST3
[code]
If I try on the latest version you can see it fails (has a lot more facts for HOST1 than HOST2) whereas on an older version it works as expected:
[code]
[code]

[2017-02-20 15:31] alikins commented on #21608
Can reproduce this with devel/ branch.

test.yml:

[code]

tasks/restart_test_debug.yml
[code]

output  (the command used in tasks changed to echo, but otherwise the same):

[code]

[2017-02-20 15:37] alikins commented on #21608
Note that the behavior changes depending if the include statement in the handler is 'static' or not:

test_static_true.yml
[code]

output:

[code]

With static: false, it handler only runs once:

test_static_false.yml:
[code]

output:

[code]

[2017-02-20 15:56] artiombarb opened #21676 "Haproxy module feature = wait for defined time to shutdown connections"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

haproxy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.5 LTS
Release:	14.04
Codename:	trusty
Linux ansible 2.6.32-042stab108.2 #1 SMP Tue May 12 18:07:50 MSK 2015 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

D

[2017-02-20 16:32] jean-christophe-manciot commented on #18967
@privateip With latest ansible **2.3.0~git20170220.7bc7f1385**, I cannot even communicate with the target, although I can manually ssh into it.
Using the following **provider**:
[code]
1) With **IOSv_L2** (172.21.100.10)
[code]
2) With **IOSv** (172.21.100.211): same issue
[code]

[2017-02-20 16:34] jean-christophe-manciot commented on #18967
This last issue resembles another similar one with NX-OS [here](https://github.com/ansible/ansible/issues/18968#issuecomment-281106532) (case n°1).

[2017-02-20 16:43] bcoca commented on #19104
The current behaviour is well defined, in the past this has varied a lot and been very inconsistent. It is on my list to clearly document DWIM search path, sorry i have not gotten around to it yet.

[2017-02-20 16:46] alikins commented on #21608
@jimi-c @bcoca Looks like this is a bug. Feel free to reassign as appropriate.

[2017-02-20 16:56] bcoca commented on #21671
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Normally you operate the forks on different hosts which would not cause any issues, but since you are delegating updating the file to t

[2017-02-20 16:56] #21671 closed, assigned to nobody

[2017-02-20 17:16] alikins commented on #21639
The 'ansible_user' variable will only be defined if a remote user is specified ('ansible-playbook -u username' or remote_user in inventory. See https://github.com/ansible/ansible/issues/14195 for more details).

So if ansible_user is undefined, any variables that reference it are also undefined.

[2017-02-20 17:17] alikins commented on #21654
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-02-20 17:17] #21654 closed, assigned to nobody

[2017-02-20 17:20] alikins commented on #21665
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-02-20 17:20] #21665 closed, assigned to nobody

[2017-02-20 17:33] alikins commented on #21670
Try quoting and expanding the param_array reference.

[code]

instead of
[code]

With the quoting:

test.yml:

[code]

command line:
[code]

output:

[code]

[2017-02-20 17:34] bcoca commented on #21008
So I still cannot reproduce, I have tried loading my box but no dice.
[code]
^ while running 3 of the `cat`,  encoding video and running 2 games at the same time.

I have looked at the code and identified a possible race condition in the queuing code but I'm not sure that is the problem (reporting the output not queuing the work).

This patch might fix the issue:

[code]

[2017-02-20 17:36] alikins commented on #21670
There is a small blurb at http://docs.ansible.com/ansible/playbooks_loops.html#standard-loops referencing this, though that blurb is a little vague and could use some improvement.

[2017-02-20 17:36] #21670 closed, assigned to nobody

[2017-02-20 17:39] jhawkesworth commented on #21183
So it looks like the point where it is failing is in requests library where it attempts to create the Authorization header by base64 encoding the username and password

[code]

So I think the issue is really an issue with requests, not ansible, and would need raising on their bug tracking system.

[2017-02-20 17:39] Lujeni commented on #21006
Hello @shobhitsingh,

I am not able to reproduce the bug with the devel branch and with Ubuntu 14 and 16.

This piece of code was removed in previous issue (https://github.com/ansible/ansible-modules-core/pull/5487).

Can you re-check your ansible version pls ?
Maybe try to export the variable
[code]

[2017-02-20 17:46] cubranic commented on #20711
Disregard my last comment, the `makecache` workaround doesn't seem to work reliably. So the issue stands as reported.

[2017-02-20 17:55] antigremlin opened #21682 "Register result with templated name not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Case 1:

[code]

Case 2:

[code]

##### SUMMARY

Registering a variable with a templated name doesn't work:

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Works under Ansible 2.1.2.0:

[code]

##### ACTUAL RESULTS

[code]

[2017-02-20 17:58] kylebevans opened #21683 "asa_acl does not perform before or after commands"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
asa_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
asa_acl does not perform before or after commands

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-02-20 18:12] antigremlin commented on #21682
This workaround produces the desired result:

[code]

[2017-02-20 18:27] bcoca commented on #21682
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The variable to register cannot be dynamic, the directive must be supplied a string representing the variable name.

In the future, thi

[2017-02-20 18:27] #21682 closed, assigned to nobody

[2017-02-20 18:36] alikins commented on #21008
Just to verify some assumptions:

   When the output is not ordered correctly, the wrong output is usually different or always the same?
   (I assume usually different/random, but just to be sure.)

Are the folks that are seeing failures, are the tests running bare metal or vm? (and/or a container)

[2017-02-20 18:47] alikins commented on #21008
Which python versions?

[2017-02-20 19:18] alikins commented on #21008
I can reproduce this now. On my system, running pigz (parallel gzip) seems to make it easier to trigger

[code]

Using the playbook test.yml

[code]

and the test script entry_debug.sh:

[code]

I start seeing the stdout of the 'ansible-playbook' invocations showing the with_items debug statements out of order. The registered 'results' var however, does show the result in order.

snippet from out.

[2017-02-20 19:22] alikins commented on #21008
Testing with devel branch + patch mentioned in https://github.com/ansible/ansible/issues/21008#issuecomment-281139714

Still seems to break. Afaict the behavior is about the same.

output:

[code]

[2017-02-20 19:30] alikins commented on #21008
testing against https://github.com/ansible/ansible/compare/stash_task_fields_for_task_result

output:

[code]

[2017-02-20 19:54] alikins commented on #21008
https://gist.github.com/alikins/e5547538837c403c26f31ba5707c97d2  is a diff that prints out the order the items are ran in and the results order, and a sample section where the stdout debug output looks wrong but everywhere else shows it correctly.

[2017-02-20 19:59] alikins commented on #21008
@dim-on-github @zeelax @ahelal @rnurgaliyev  Are you running with the default callback? A different shipped callback or a custom callback?

[2017-02-20 20:49] alikins commented on #21594
Would it be possible to test the devel branch in this scenario? There have been some changes and fixes to file copy/deploy that caused similar problems.

[2017-02-20 21:02] ryansb commented on #21134
@joum and @gaieges, please see #21689 , and let me know if any more docs changes would be helpful.

[2017-02-20 21:03] cognifloyd opened #21690 "Feature Idea: map vars from private=yes include_role module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
include_role module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing relevant:
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I have a role_include task with private=yes, so that it can allow_duplicates without conflicting vars.

However, it would be nice to selectively retrieve vars, especially register vars, created by the role

[2017-02-20 21:14] krzysztof-magosa commented on #21140
Could you confirm `with_dict` is really adjusted like that, or it's just issue with copy&paste?
Asking because at the moment it's aligned incorrectly - should be in line with name/lvol.

[2017-02-20 21:17] ahelal commented on #21008
@alikins I am using standard callback for display. I have other callback but for logging.

[2017-02-20 21:19] krzysztof-magosa commented on #20925
@bcoca Could you let me know whether in case original author does not respond, Core Ansible Team will accept my pull request if I write the fix for that?

[2017-02-20 21:26] yabhinav opened #21691 "`DEBIAN_FRONTEND=noninteractive` not working with ansible modules apt and shell"
- Bug Report

##### COMPONENT NAME

- apt
- shell

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Docker on OSX
Docker image : yabhinav/ansible:ubuntu1604

##### SUMMARY
When installing freeipa-server the post installation script try to setup the IPA server or krb5 configuration.
To prevent that apt-get install should be run with `DEBIAN_FRONTEND=noninteractive

[2017-02-20 21:26] scathatheworm commented on #21594
Still broken:
[code]

[2017-02-20 21:29] alikins commented on #21632
Proposed fix for this at https://github.com/ansible/ansible/pull/21693

[2017-02-20 21:41] 0rex commented on #21563
It seems that this behavior is caused by [time.gmtime()](https://docs.python.org/2/library/time.html#time.gmtime) function, that can be replaced with [time.localtime()](https://docs.python.org/2/library/time.html#time.localtime) to include timezone, as requested by @L-B . My guess that the former was chosen because otherwise `time.localtime()` can lead to non idempotent behavior of playbooks, if t

[2017-02-20 21:58] BenBewickJet commented on #21562
I've recently started having the same issue with ansible scripts called from /etc/rc.local

`Using /etc/ansible/ansible.cfg as config file
Loading callback plugin default of type stdout, v2.0 from /usr/lib/python2.7/dist-packages/ansible/plugins/callback/__init__.pyc

PLAYBOOK: startup.yml **********************************************************
1 plays in /etc/ansible/startup.yml

PLAY [all] **

[2017-02-20 22:01] alikins commented on #21668
Proposed fix at https://github.com/ansible/ansible/pull/21694

[2017-02-20 22:05] alikins commented on #21676
@artiombarb  Could you make this diff into a pull request? That helps preserve attribution.

[2017-02-20 22:07] alikins commented on #21683
@kev111 Can you provide an example playbook and 'ansible-playbook -vvv' output when running the playbook?

[2017-02-20 22:32] kev111 commented on #21683
ok i updated the original post.

[2017-02-20 22:40] tali1974 commented on #18414
hi. have same problem as mpenning..
import paramiko works fine under python.. but when i run the playbook i get
 {"changed": false, "failed": true, "msg": "paramiko is required but does not appear to be installed.  It can be installed using  `pip install paramiko`"}

[2017-02-20 22:47] samdoran commented on #18414
It could be that you have multiple Python environments. Try setting `ansible_python_interpreter` to the appropriate Python executable, or set it to `/usr/bin/env python` to use the Python executable in your user environment.

[2017-02-21 01:28] Guitaraholic opened #21698 "When conditional fatal error if group is empty rather then skipping due to failed conditional check"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

When Conditions
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

retry_files_enabled = False
##### OS / ENVIRONMENT

OSX Sierra Host to Ubuntu VM's
##### SUMMARY

If you a playbook with when statement declared with a when inventory_hostname in groups['foo'] it will cause a fatal error if the inventory group is empty rather then just skip th

[2017-02-21 01:52] sivel commented on #21698
The problem appears to be that there is no key called `deployer` in the `groups` variable, which causes an undefined error.  You cannot look into something that doesn't exist.

The correct version would be:

[code]

[2017-02-21 01:57] bcoca commented on #21698
For Ansible, groups don't exist as their own entity outside of inventory internals, only as a property of a host.  If a group has no hosts, it does not exist.

[2017-02-21 02:13] bcoca commented on #21698
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2017-02-21 02:13] #21698 closed, assigned to nobody

[2017-02-21 02:31] liuzm7188 opened #21699 "How to fix security bugs for CVE-2016-9587 in ansible1.9.4"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report
It is reported that a compromised remote hosts can lead to running commands on the Ansible controller.
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-02-21 03:03] sivel commented on #21699
1.9 will not receive a fix as the code has diverged too far.  You will need to a more recent 2.1.4 or 2.2.1 release to access the fix

[2017-02-21 03:03] #21699 closed, assigned to nobody

[2017-02-21 03:27] yuriybabenko commented on #18987
Same issue here. @koenpunt's workaround seems to have helped!

[2017-02-21 04:09] mpenning commented on #18414
@samdoran, I tried both `/usr/bin/env python` and the exact path to the virtualenv... neither helped... to wit:

[code]

[2017-02-21 04:31] yabhinav commented on #19763
# Summary
facing similar issue with docker image centos:6 on  docker  and ansible releases
Issue replicable on older versions of docker and ansible too!!!
first run of the service module is ok
second and further runs will cause this issue.
with cento6 specifically because of using /sbin/init instead of /systemd in centos7 and fedora25

## Docker Version
MacBook-Pro:$ docker version
Client:
 Versio

[2017-02-21 05:25] jhawkesworth commented on #21183
I looked a bit more at this.
The problem definitely occurs in requests.  A little script like the below will reproduce this.

[code]

I suggest you raise the issue on the requests issue tracker here: https://github.com/kennethreitz/requests/issues

Because the problem lies outside ansible I am going to close this issue.

[2017-02-21 05:25] #21183 closed, assigned to nitzmahone

[2017-02-21 06:11] MiteshShah commented on #14341
@joerobertson Thanks that worked for me :)

[2017-02-21 06:38] lexxcbrm commented on #21183
Thank you kindly

[2017-02-21 07:11] alslater commented on #21594
I am seeing this as well, I had to revert to version 2.2.0.0 which works fine.

[2017-02-21 07:45] gzm55 opened #21702 "add variable or lookup plugin for ansible current user"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Need a variable, e.g. ansible_playbook_user, or a lookup plugin, e.g. lookup('id', 'name') as the current local username who running the playbook.

##### STEPS TO REPRODUCE
ansible localhost -m debug -a msg="{{ansible_playbook_user}}"

#####

[2017-02-21 07:55] unapiedra commented on #20081
For git version [1.8.1][1] using `git submodule foreach git checkout --force` should yield the desired effect.

[1]: https://www.git-scm.com/docs/git-submodule/1.8.1

[2017-02-21 07:57] gaudenz commented on #17968
Instead of just warning about this it would be nice to have a configurable pattern of files to exclude. This would make it possible to still have editor backup files.

I got bitten by this several time. I would really appreciate a fix.

[2017-02-21 08:08] jjaone commented on #9519
I have a problem loading this test.fact file in my playbook:
`
#!/bin/bash
cat <<EOF
{
  "devenv_enabled": "true"
  "mdbenv_enabled": "true"
  "dataenv_enabled": "true"
  "mmtenv_enabled": "true"
}
EOF
`
but the play complains:
`
ok: [myhost] => {
    "ansible_local": {
        "test": "error loading fact - please check content
`
Is the issue related to this?

[2017-02-21 08:09] mbarper commented on #19214
Can anybody give me an update about how it is managed this issue, or some information?

[2017-02-21 08:26] TJuberg commented on #21668
This unfortunately does not resolve the issue properly.
The resulting string is not converted from hex as intended.

example hex:
[code]

Correct decoded string:
[code]

Actual result using proposed patch:
[code]

Tested on Python 3.6.0 and 2.7.13 with Ansible 2.3.0

[2017-02-21 08:33] omerlin commented on #16072
I have been exactly in the same case on ansible 2.1.
The problem is clear for me and related to fact gathering.

When i activate fact caching in /etc/ansible.cfg :
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible

=> ansible_user_id = user before sudo
when i deactivate fact caching,
=> ansible_user_id=root

It's easily reproducible.
So i'm quite sure cjw296 is right.

[2017-02-21 09:09] omerlin opened #21703 "ansible_user_id behavior is bad when activating fact caching"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
ansible 2.1.0

##### CONFIGURATION
The issue is related to fact caching activation, so to:
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible

##### OS / ENVIRONMENT
Linux

##### SUMMARY
when fact caching is activated, the ansible_user_id is the initial user and not root user as it should be.

[2017-02-21 09:27] munichman2008 commented on #21670
It would be best if in Ansible 2.x you print a WARNING message when the variable is not quoted when used with "with_items" for example. The problem is in Ansible 1.x you print a warning when the opposite is done - when the user quoted the variable you tell them this is not necessary. For me, this is the best place to guarantee correct Ansible code.

[2017-02-21 09:49] antigremlin commented on #21682
Hi Brian, (@bcoca) and thanks for your reply.

I still believe there may be a bug somewhere: note that the expected reply I've posted above is what Ansible 2.1 actually produces. This was copied from a terminal.

Also, looking at the source it feels like it should work:

- this code is responsible for registering results:
  - <https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task

[2017-02-21 09:53] ravibhure commented on #21676
@artiombarb please send PR

[2017-02-21 09:58] antigremlin commented on #21682
One more thing. I've re-checked the workaround posted above. It only works in Ansible 2.2. There is an explicit check in code for that case, so I'm wondering why it works in 2.2. Code ref:

- <https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/base.py#L458>

[2017-02-21 10:06] philtay opened #21704 "docker_image cache_from"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION
```ansible 2.2.1.0```

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Docker 1.13 has introduced the `cache-from` build option (very useful especially in CI contexts). Starting with version 2.1.0, `docker-py` supports this option. The Ansible's `docker_image` module should support it too.

[2017-02-21 10:14] dene14 opened #21705 "Ansible tries to evaluate registered state"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/a

##### SUMMARY
Ansible tries to evaluate registered state variable. If you register state of git repo checkout and there is something like "{{something}}" in git diff, ansible will fail most probably in a step where you try to check "state.changed" key be

[2017-02-21 10:17] netsandbox opened #21706 "wrong ansible_distribution fact on Linux Mint 13"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module setup

##### ANSIBLE VERSION
[code]

##### SUMMARY
The ansible_distribution fact is set to "Ubuntu" for Linux Mint (13) hosts.

[code]

[2017-02-21 10:20] senthil-t opened #21707 "Custom Ansible module fails in RHEL"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- module_common.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL

##### SUMMARY

any ansible custome module fails with error "Unexpected failure during module execution.".

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[root@RHEL-64bit mx_service]# ansible-playbook persisten

[2017-02-21 11:58] Guitaraholic commented on #21698
thanks for the feedback guys , appreciate it

@sivel - that |default([]) makes it skip successfully, any information on what exactly that is doing? is it just setting an empty string if it doesn't exist?

[2017-02-21 12:27] anmolnagpal commented on #13876
Hi,

I'm getting the same error with CentOS7.
Ansible version
[code]

[2017-02-21 12:44] artiombarb commented on #21676
Thanks guys, I made Pull request on close stable-2.1 branch:
https://github.com/ansible/ansible/pull/21709

[2017-02-21 12:47] artiombarb commented on #21676
I'am going to work on code for ansible-2.2 version.

[2017-02-21 13:14] leerich commented on #21362
I just copied the latest development win_regedit module to my project folder and put in the library folder and tested it again with both Ansible Tower 3.0 and 3.1 and it now works successfully.  There must have been a recent change to the module that has fixed this issue.

Thank you for your help!

[2017-02-21 13:18] robertmholyst commented on #21140
That's the good point. So I have to say sorry as this seems to be a 'tab' indeed. I did not spot that somehow. Tested the test yaml by using correct syntax and no with_dict problems. My apologies for the rookie mistake. This issue can be closed in this case.

[2017-02-21 13:54] jctanner commented on #21051
resolved_by_pr #21518

[2017-02-21 13:55] #21051 closed, assigned to nobody

[2017-02-21 13:57] nerzhul commented on #21051
thanks, i missed i fixed an existing issue :)

[2017-02-21 14:00] #19539 closed, assigned to privateip

[2017-02-21 14:05] robinro commented on #15491
Some of the remote clones were removed in the refactor of cd02d0ca1dcb5009916da2f41561f8adec924d98

The git integration test running in docker still takes 2 minutes for me, though.

[2017-02-21 14:09] robinro commented on #15325
close_me
resolved_by_pr #15347

[2017-02-21 14:22] jhawkesworth commented on #21362
Great, glad you are working again and that this will be fixed in ansible 2.3.  I'll close this issue then.

[2017-02-21 14:22] #21362 closed, assigned to nobody

[2017-02-21 14:25] artiombarb commented on #21676
Could you be so kind and help me. How I can correctly commit and make PR to ansible 2.1?
Thank you in advance.

[2017-02-21 15:09] tonyskidmore commented on #20700
Thanks both for your inputs.  I got around what I was trying to do just by changing my process and assembling things on the control host rather than the remote Windows host using `delegate_to: localhost`.  I think that http://docs.ansible.com/ansible/intro_windows.html is a little misleading in terms of "**the following core modules work with Windows**"?

[2017-02-21 15:31] sgmiller commented on #16259
Any activity on this?  I'm having this problem and the workarounds aren't acceptable.  One essentially means no MFA for Ansible, which is pretty much all we use over SSH to these machines.  The second doesn't work with Google Authenticator, due to it prompting with "Verification code:" rather than "SSH password:", breaking askpass.

[2017-02-21 15:37] alikins commented on #21594
@badger Since you were recently in this code I assigned it to you, but feel free to reassign.

[2017-02-21 15:38] broamski commented on #16259
I finally implemented something similar to this: http://blog.scottlowe.org/2015/12/24/running-ansible-through-ssh-bastion-host/

I open up the initial connection to the host which has 2FA, then in another window run something like:

`ansible-playbook thing.yml --ssh-common-args='-o ControlPath=~/.ssh/connshare'`

[2017-02-21 15:39] tjbaker commented on #16259
As a workaround, use ControlPath with a long ControlPersist in both your ssh client config and in Ansible.  Log into your hosts first with a native ssh client with keyboard-interactive enabled for the user and keep the socket open.  You can then reuse the socket in Ansible so long as it it remains open.

[2017-02-21 15:43] sgmiller commented on #16259
We do this already to speed up Ansible runs.  Not a bad idea to do the initial connection separately.

[2017-02-21 15:54] abadger commented on #21594
I don't have a solaris box/clone to test on... bcoca is probably the best in terms of figuring out what's going on because of that... I can generate a fix once we do understand what the problem is and why it's only triggered on Solaris.

[2017-02-21 16:07] ypid opened #21724 "Use yaml.safe_* instaed of yaml.load / yaml.dump / …"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
devel

##### SUMMARY

`yaml.load` and `yaml.dump` allow arbitrary code execution when processing YAML files. I don’t think this is intended. I would propose to change those occurrences to the safe variants. I don’t expect any regressions from this as I don’t think the feature is even used?

* https://github.com/yaml/pyyaml

[2017-02-21 16:13] ruimcfreitas opened #21725 "Unable to manage windows server after binding an IIS https site with option "Require Server Name Identification""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

inventory      = ./hosts

##### OS / ENVIRONMENT
running Ansible from: Linux ubuntu16_Ansible 4.4.0-59-generic
managing: Windows 2016 with IIS

##### SUMMARY
Unable to manage windows server after binding an IIS https site with option "Require Server Name Identification"

##### STEPS TO REPROD

[2017-02-21 16:23] stefreak opened #21727 "consul module: port should be optional when registering services"
Opening this because #17031 has been closed because it needed to be submitted to https://github.com/ansible/ansible-modules-extras, but there it says you should open the issue here.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

not applicable

##### OS / ENVIRONMENT

ubuntu 16.04

##### SUMMARY

Consul service definitions do not require a

[2017-02-21 16:25] jhawkesworth commented on #21725
Looks like you are communicating with your ansible controller via ip address '192.168.233.141' - what happens if you change to using a hostname?

[2017-02-21 16:33] ruimcfreitas commented on #21725
It works!!

On the ansible folder "hosts" file I've replaced the entry
   win2016gui2 ansible_host=192.168.233.141
with just
   win2016gui2

and on the /etc/hosts file I've added the entry
  192.168.233.141 win2016gui2

Is this how it should be done?

[2017-02-21 16:34] imagine-ecommerce commented on #20442
It's somewhat disappointing to remove this behaviour simply because "it was never intended" to be used this way. Isn't it a perfectly valid and common use case to have a template in role A and extend it in role B to prevent clutter and duplication in a playbook.

Do I understand correctly there is no way to reference a template in role A from B even if A and B are in the same play?

# in file "rol

[2017-02-21 16:37] bcoca commented on #21724
Only 4 of those would be of any concern, anything using AnsibleLoader is already 'safe'.

The stacki inventory script could use AnsibleLoader also, but the 3 cloud modules cannot. The rest are tests and should be fine as they are not part of production code.

[2017-02-21 16:38] jhawkesworth commented on #21725
Its definitely worth using DNS if only because machine names are more memorable than IP addresses.
DNS is important if you ever start using kerberos / active directory logins - without hostnames and fully functioning DNS it won't work.

I'll close this one now.

[2017-02-21 16:38] #21725 closed, assigned to nobody

[2017-02-21 16:40] ruimcfreitas commented on #21725
thanks for your precious help. Best Regards. Rui

[2017-02-21 17:17] jctanner commented on #20368
@kostaatsk can you confirm if https://github.com/ansible/ansible/pull/20840 has resolved the issue?

needs_info

[2017-02-21 17:22] alikins commented on #18236
A combo of the changes in stash_task_fields_for_task_result branch and the callback related changes from https://github.com/ansible/ansible/pull/21214 should fix this.

[2017-02-21 17:38] computersalat opened #21729 "wrong ansible_distribution_release value on openSuSE"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible/module_utils/facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
[code]

##### SUMMARY
when trying to access ansible_distribution_release you will notice that the value is wrong.
You get **architecture** and not **release**

##### STEPS TO REPRODUCE
run
[code]
against an 'openSUSE' system and check

[2017-02-21 17:50] 2rs2ts commented on #16259
@sgmiller you can configure the google-authenticator PAM module to prompt with "SSH password:" if you want, but if your playbook runs over a multitude of hosts the token could become invalid by the time you reach the latter hosts in your run so I'm not sure how much that helps you.

[2017-02-21 17:58] ryansb commented on #21707
This appears to be a problem in the module you're using, which is not an Ansible module. You can try running your module independently in Python, to see if the problem is something in the module. Can you please post a reproducing custom module and playbook?

[2017-02-21 18:17] s-hertel commented on #21553
I'm having trouble recreating this. Can you add more information about how to reproduce?
Ansible version: `ansible 2.2.1.0 (stable-2.2 f47356f5c7)`
My ping target is HTTP:80/
I'm running the playbook:
[code]
Here is an excerpt from the result:
[code]

[2017-02-21 18:38] thewolf commented on #14084
try adding these two params: -become --ask-become-pass

[2017-02-21 19:03] artiombarb commented on #21676
I think this is not relevant cause I made PR to ansible 2.3

[2017-02-21 19:06] sgmiller commented on #16259
Considered that too.  Irritatingly, that feature was released in October 2016 and is in no debian repositories build of libpam-google-authenticator.  Not a dealbreaker but another complication.

 We're going to take a different approach altogether, most likely.

[2017-02-21 19:11] onurozgurozkan commented on #4265
+1

[2017-02-21 19:14] mpasternak commented on #4265
Friendly reminder, https://kapeli.com/dash , I'm not affiliated with the author.

[2017-02-21 19:47] kostaatsk commented on #20368
@jctanner I installed the devel version using pip and the issue is solved. I even removed the known_hosts file to make sure it gets recreated. Are you planning to merge to stable-2.2 as well ?

`pip install git+git://github.com/ansible/ansible.git@devel`

[2017-02-21 20:20] wltjr opened #21735 "Roles cannot find resources within their own role if not using main.yml as task list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Template module, but I think this is a core issue effecting all

##### ANSIBLE VERSION
Does not work
ansible 2.2.1.0
  config file = /sites/site1/ansible/ansible.cfg
  configured module search path = Default w/o overrides

ansible 2.3.0
  config file = /sites/site1/ansible/ansible.cfg
  configured module search path = Default w/o overrides

Work

[2017-02-21 20:46] wltjr commented on #21735
Seems this may be specific to the templates module. Previous behavior was
role_path, now it seems to be role_path/templates, so when I add templates to the path, it ends up as role_path/templates/templates and fails. Not sure if other modules are doing this as well.

[2017-02-21 20:48] #21134 closed, assigned to nobody

[2017-02-21 21:02] bcoca commented on #21008
So after much debugging we concluded this is mostly a display issue, task items are getting executed in the correct order and reported back to the main thread also in the correct order.

This does not mean this is not a bug, but you can be assured that the actions are being executed in the order expected.

[2017-02-21 21:04] bcoca commented on #20925
yes, but we'll actually we normally wait for the author/maintainers to review it as this is not a module we maintain directly.

[2017-02-21 21:13] jctanner commented on #21528
@insequent @zigarn After a weekend of contemplation, I agree with you about the change. I created and merged #21734 as a stop gap to at least get us closer to the old behavior. We will probably make a better solution that might be similar to @zigarn's suggestion in the late 2.3/2.4 timeframe.

jimi-c is going to cherry pick the change from #21734 in the next 2.2 release

[2017-02-21 21:17] jjaone commented on #17193
To be more exact the proper way to pass 'false' boolean as extra-vars is a form:
[code]
with double quotes and without the extra space. That was the only way I got it working.

[2017-02-21 21:46] trondhindenes opened #21738 "#21510 introduces breaking changes for Powershell param parsing"
Looks like the object type of $params has changed from array to Hashtable with this commit. This will mean that any module _not_ using the default Get-AnsibleParam function will break. I see that 21510 is a large change, so not sure changing the object type is a required change or a possible oversight?

(ping @nitzmahone )

[2017-02-21 21:46] insequent commented on #21528
Awesome, thanks for looking into it @jctanner.

[2017-02-21 21:47] oucil commented on #19521
+1   Is there a workaround for this issue, a flag I can explicitly set to get past the error?

[2017-02-21 21:57] jctanner commented on #21738
https://github.com/ansible/ansible/pull/21510

[2017-02-21 22:19] #20710 closed, assigned to jimi-c, abadger, privateip

[2017-02-21 22:27] #19710 closed, assigned to nobody

[2017-02-21 22:45] #21724 closed, assigned to nobody

[2017-02-21 22:48] MarkRosen commented on #2551
Saw an example of "strategy"  today:
[code]
Full disclosure , just saw the above syntax in a slide during a demo from RedHat.... I haven't personally validated it.

[2017-02-21 23:55] wrouesnel commented on #13359
This is happening to me as of 404b2864efa89f97f3bb14bf1448461d0c9de52f

[2017-02-21 23:56] wrouesnel opened #21744 "List index out of range while doing setup step"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
gather_facts

##### ANSIBLE VERSION
2.3

##### SUMMARY
This problem is recurring as of 404b2864efa89f97f3bb14bf1448461d0c9de52f

Same as #13359

[code]

[2017-02-22 00:32] wrouesnel commented on #21744
Ok so I debugged this - the problem is bad error messages. If you connect with the wrong SSH user, or authentication fails, or basically anything else happens, you'll get this error because the `data['stdout']` will container a blank string, whereas the undisplayed `stderr` will have the SSH error in it.

The module desperately needs some logic to detect these common situations and display a more

[2017-02-22 00:41] nitzmahone commented on #21738
@trondhindenes: It was definitely done "on purpose". Is this a hypothetical, or did something actually break for you? I'm not aware of any modules that don't use Get-Attr/Get-AnsibleParam (though TBF, I didn't do an exhaustive review, either).

I don't *have* to get rid of ConvertFrom-Json, but especially for modules that need to deal with complex dictionary inputs, nested Hashtables are a lot eas

[2017-02-22 00:42] nitzmahone commented on #21738
OTOH, PSObject *result* values definitely need to die in a fire. ;)

[2017-02-22 01:06] bcoca commented on #21703
fact caching will keep whatever values the fact was cached as, the same thing for environment variables and date/time.

[2017-02-22 01:14] wrouesnel opened #21747 "include_vars does not handle YAML which deserializes to datetime"
Including a yaml stanza which contains something date-like:
[code]

results in a JSON serialization error when included via `include_vars`

The exact same input though as a `group_var` works correctly, and is deserialized to a `datetime.date` object.

`include_vars` should be capable of parsing the same data as inventory vars.

[2017-02-22 01:31] bcoca commented on #21702
this is what i use `lookup('env', 'USER')`

[2017-02-22 01:33] bcoca commented on #21698
an empty list`[ ]` , with_ loops will skip if the item list is empty.

[2017-02-22 01:43] gzm55 commented on #21702
USER env is not reliable. when ansible is called from 'env -i sh', USER is not set. So now, I use

[code]

This is complicated and also not always get the the real name.

[2017-02-22 01:47] #15325 closed, assigned to nobody

[2017-02-22 03:53] habeebr commented on #7019
Agree, the entire playbook should not fail because of one host failing. Can serial <n> just use the default behavior Ansible has - to remove the failed host from further execution and continue with rest of hosts. Could we reopen this issue?

[2017-02-22 05:23] Etherdaemon commented on #19521
+1 need a workaround for this myself as well.

[2017-02-22 06:18] naftulikay opened #21763 "Ansible Vault Python 3 String Error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible Vault.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

elementary Loki, being Ubuntu 16.04, kernel 4.4.0-62-generic.

##### SUMMARY

Exception thrown when decrypting the vault password file:

[code]

Ansible isn't handling the strings properly in this case for Python 3.

##### STEPS TO REPRODUCE

My

[2017-02-22 06:20] naftulikay commented on #21763
This issue is similar to what I reported before in the Route 53 module, which was fixed in eb7495efaf73a0858a8ebd1a32463bf92fee9e90. That issue was reported at #21027.

[2017-02-22 06:23] naftulikay commented on #21763
The exact line throwing the error [is found here](https://github.com/ansible/ansible/blob/v2.2.0.0-1/lib/ansible/cli/__init__.py#L576).

[2017-02-22 06:44] senthil-t commented on #21707
Thanks for your response, Here is the reproducer:
test_play.yml
---
- hosts: localhost
  tasks:
    - name: Test that my module works
      test_module:
      register: result

    - debug: var=result

test_module.py ( which is placed under library folder)
#!/usr/bin/python

from ansible.module_utils.basic import *

def main():

    module = AnsibleModule(argument_spec={})
    response = {"hello":

[2017-02-22 06:50] senthil-t commented on #21707
Also, here is the run output for the same module on windows/cygwin:

senthilt@SENTHILT3 ~/custom_module
$ ansible-playbook test_play.yml -vvv
Using /etc/ansible/ansible.cfg as config file

PLAYBOOK: test_play.yml ********************************************************

1 plays in test_play.yml

PLAY [localhost] ***************************************************************

TASK [Gathering Facts

[2017-02-22 08:20] Gmyras opened #21765 "ec2_asg errors when using replace_all_instances with target groups"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

I'm running ansible via rundeck on a Ubuntu 16.10 host.
##### SUMMARY

When I try to change a launch configuration for my asg in AWS it works when not attached to a target group.
When using a ags with target groups and the option replace instances it fails.

#

[2017-02-22 09:24] #21676 closed, assigned to nobody

[2017-02-22 09:36] jhawkesworth commented on #21440
You should not need anything else on the windows server side once you have run ConfigureRemotingForAnsible.ps1 successfully.

I am glad that using win_regmerge can workaround the problem, but please can you try latest development version of ansible? There is some information on running from source here: http://docs.ansible.com/ansible/intro_installation.html#running-from-source

needs_info

[2017-02-22 09:41] Wenzel commented on #11702
Hi!
using ansible `ansible 2.2.0.0` here and i have the same issue.

[2017-02-22 09:55] eljulians opened #21766 "[apt-repository] "Invalid repository string" error for valid repository string"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt-repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Default configuration.

##### OS / ENVIRONMENT

[code]

##### SUMMARY

I'm trying to add a repository with `apt_repository`. If I do it from the Linux shell with `add-apt-repository <repo>`, everything is fine. But, for the same `<repo>`, I get a `Invalid repository string` error

[2017-02-22 10:42] zigarn commented on #21528
Cool! Thanks for the fix @jctanner.

[2017-02-22 11:06] akaspin commented on #20560
@jimi-c Still happens in 2.2.1.0

[2017-02-22 11:45] Id2ndR commented on #13308
This was fixed in 2.0: just add _body_format: json_ to uri module (and remove _convert_data=False_)

[2017-02-22 11:46] madave commented on #5952
+3 years....

[2017-02-22 11:55] onitake commented on #13680
@vossenjp For this particular use case, you're probably better off relying on the lineinfile, copy or template module and use validate: visudo -cf %s to verify the changes. Together with with_items or with_fileglob, this should give you plenty of options.

But that still doesn't change the fact that the synchronize module sorely needs a useful way of specifying ownership.

[2017-02-22 12:14] alanroche opened #21769 "Add support for Cloudformation SAM (needs to use cloudformation "deploy" command)"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
cloudformation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.x

##### SUMMARY

AWS Cloudformation supports a new "SAM" feature:
[https://aws.amazon.com/blogs/compute/introducing-simplified-serverless-application-deplyoment-and-management/](https://aws.amazon.com/blogs/compute/introducing-simplified-serv

[2017-02-22 12:18] krzysztof-magosa commented on #20916
1. Children inherits variables from parent
2. Connection settings from variables have higher precedence than task settings

You can use variables in task instead of 'settings' to override group vars.
[code]

[2017-02-22 12:26] krzysztof-magosa commented on #20621
You may need to run `systemctl daemon-reload` after creating new service in systemd.

[2017-02-22 12:29] ericcitaire opened #21770 "os_stack fails with AttributeError"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
os_stack module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When the stack creation fails (`stack_status != 'CREATE_COMPLETE'`), the module raises an `AttributeError`.

##### STEPS TO REPRODUCE
1. Create a Heat template `template.yml` like so :
[code]

2. Run `os_stack` module :
[code]

##### EX

[2017-02-22 13:07] HenkVelthoven opened #21772 "ImportError: cannot import name load_config"
ISSUE TYPE
- Bug Report

COMPONENT NAME
- ios_vrf

ANSIBLE VERSION
[code]

CONFIGURATION

nothing special added or removed only installed the ios_vrf.py file in the ansible/core/network/ios folder.

OS / ENVIRONMENT

Ubutnu 16.04 LTS

SUMMARY
After adding the ios_vrf module to the PE-ONLY.YML file i was hoping on creating the VRF B and C whoever i get an error stating that the load_config could no

[2017-02-22 13:31] gundalow commented on #20710
Confirmed fixed, thanks

[2017-02-22 13:50] oucil commented on #19521
Much appreciated, looks like it was added in 2.2 according to docs, which is why I didn't see it in there. Updated and working now.

[2017-02-22 14:02] rcarrillocruz commented on #21565
I've been checking the devel branch for ios_facts and it no longer contains include, which apparently is not a valid command in your IOS version.
Can you please try with devel and confirm is working for you?

[2017-02-22 14:06] rentiak commented on #19521
Unfortunately I definitely don't want terminate as I don't want those instances deleted when they're shutdown.

[2017-02-22 14:13] marlox-ouda opened #21773 "Playbooks with many handlers make slow task transition."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
task executor

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
tryed with different option on *ssh_args* (-o ControlPersist=3600s -o ServerAliveInterval=5)
tryed with different option on "scp_on_ssh"
same issue each time
working with python3

##### OS / ENVIRONMENT
manager: fedora
managed: debian jessie

##### SUMMARY
Have a complex playbook w

[2017-02-22 14:17] oucil commented on #19521
@rentiak If I'm not mistaken, you can stop the instance, but any data on an "instance-store" is erased.  If you need your volume data to persist, your only option is an EBS based instance.  http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Stop_Start.html

[2017-02-22 14:17] ghost opened #21774 "use_ssh_args in synchronize can't be used for custom ssh_config files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module: synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
in ansible.cfg, I have:
[code]

The file ssh_config exists in /home/depesz/config_repo, and is part of git checkout of config_repo

##### OS / ENVIRONMENT
Linux, Ubuntu

##### SUMMARY

When I use use_ssh_args: true for synchronize, it gets values from ssh_args, but since w

[2017-02-22 14:19] marlox-ouda commented on #20545
@alikins Are you agree with the proposed modification or do you think is better to integrate such feature in the core of "vars" variable ?
Do you want a change request with this modification ?

[2017-02-22 14:21] bcoca commented on #20621
@krzysztof-magosa  the module already supports that, no need to run the command manually

[2017-02-22 14:22] rentiak commented on #19521
@oucil You're right about instance store destroying the ephemeral storage, however that variable is not talking about terminating storage on stop. It appears to specifically be whether the instance itself should be terminated on stop

Module doc: "Set whether AWS will Stop or Terminate an instance on shutdown"

AWS doc: "By default, when you initiate a shutdown from an Amazon EBS-backed instance (

[2017-02-22 14:27] olex777 commented on #21565
I must to rebuild my ansible for this?

22 лют. 2017 3:03 пп "Ricardo Carrillo Cruz" <notifications@github.com>
пише:

[2017-02-22 14:32] #21668 closed, assigned to nobody

[2017-02-22 14:33] marlox-ouda commented on #21773
Other information : during execution, I have
[code]

[2017-02-22 14:41] rcarrillocruz commented on #21565
You don't need to rebuild anything, just install Ansible from source:

http://docs.ansible.com/ansible/intro_installation.html#running-from-source

It can co-exist with your distro Ansible installation.

[2017-02-22 14:47] marlox-ouda opened #21777 "Python3 compat fail with pipelining and strategie:debug"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
strategy/debug

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
python3
with pipelining=True
playbook with strategy:debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
```reduce``` not recognize in ```lib/python3.5/site-packages/ansible/plugins/strategy/debug.py```
Note: reduce is not imported and not available by default in python3.

Note: with

[2017-02-22 14:57] memoryleak opened #21778 "ec2_vpc_subnet: NoneType' object is not iterable"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
ec2_vpc_subnet

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Default ansible.cfg - not modified.

##### OS / ENVIRONMENT
Mac OS Sierra 10.12.3

##### SUMMARY
Even if the documentation of ec2_vpc_subnet says that the tags key is optional, the ec2_vpc_subnet fails if no tags are provided.

##### STEPS TO REPRODUCE
Exe

[2017-02-22 15:03] gundalow commented on #21422
`TASK [prepare_eos_tests : enable cli on remote device]` now passes

[2017-02-22 15:03] #21422 closed, assigned to privateip, Qalthos

[2017-02-22 15:13] gundalow commented on #20296
`net_command` has been removed (it was created and removed during 2.3 development)

[2017-02-22 15:13] #20296 closed, assigned to privateip

[2017-02-22 15:13] jctanner commented on #21735
@wltjr I'm unable to reproduce this on any of the versions you've specified. I did notice this line in your description though ...

[code]

Did you make a typo in the description or did you accidentally create a "test" and a "tests" role?

needs_info

[2017-02-22 15:13] gundalow commented on #20233
`net_command` has been removed (it was created and removed during 2.3 development)

[2017-02-22 15:13] #20233 closed, assigned to privateip, gundalow

[2017-02-22 15:17] autodeck commented on #19888
@anryko great job, just what I have been hoping for! I have tested this using various combinations and works brilliantly!

[2017-02-22 15:19] tronicum commented on #20711
i have an similar issue running on rhel7. it seems yum is asking to import key. i will create a extra issue for that.

[2017-02-22 15:22] s-hertel commented on #21032
Will you check out #21720 and see if works for you?

[2017-02-22 15:32] samdoran commented on #20508
This is still broken in `2.2.0-0.1.rc1` but works properly in `2.1.5.0-0.1.rc1`.

[2017-02-22 15:34] chrismeyersfsu opened #21782 "ansible 2.2.0.0 vs. 2.2.1.0 template error while templating string: unexpected '.'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
* template + register + jinja2

##### ANSIBLE VERSION

[code]

[code]

**ansible 2.2.1.0 is the version with the change in behavior; error**
[code]

##### SUMMARY

Regression or change in behavior from Ansible 2.2.0.0 to Ansible 2.2.1.0 when using a registered variable with content in it that looks like a jinja2 template.

##### STEPS TO REPROD

[2017-02-22 15:35] tronicum opened #21783 "yum_repository does not import gpgkey"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
yum_repository

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
running ansible on OSX (10.11.6)
Target os is Redhat EL 7.3

##### SUMMARY
I want to install an RPM from a Repo, including the GPG Key

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Installing the RPM, including the gpgkey https://repo.zabbix.com/zabbix-official-rep

[2017-02-22 15:40] jctanner commented on #21744
resolved_by_pr https://github.com/ansible/ansible/pull/21784

[2017-02-22 15:52] caleyg commented on #15215
perhaps I'm missing something here. I'm trying to run ec2.py with an IAMInstanceProfile/role, in which the instance has access to. Right now I can only run the inventory script with the following variables set in the environment:
`AWS_ACCESS_KEY_ID`
`AWS_SECRET_ACCESS_KEY`

I've tried setting a ~/.boto and ~/.aws/config with the following set:
[code]

and I get the following error:

[code]
thought

[2017-02-22 16:17] wltjr commented on #21735
Yes that was a typo, sorry I will edit and correct. I got someone else who was on 2.2.0 to replicate. They discovered that it worked when templates was not part of the path. I attached a archive of the test.
[ansible_role_test.zip](https://github.com/ansible/ansible/files/794077/ansible_role_test.zip). Not sure what else I can do to help replicate.

[2017-02-22 16:39] Mr-Pi commented on #21245
That's a long tomorrow :confused:

[2017-02-22 16:40] pdecat commented on #21562
Same issue here with 2.2.1 (ok with 2.2.0).

Workaround: set `local-tmp`

[2017-02-22 17:04] gundalow opened #21791 "ios_command: ValueError: invalid keys: answer"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION
[code]

##### SUMMARY

Possible edge case/regression introduced by https://github.com/ansible/ansible/pull/21713/files

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-02-22 17:11] pdecat commented on #21339
Alternative work-around, pass those environment variables to ansible-local command:

[code]

[2017-02-22 17:18] trondhindenes commented on #21738
just making sure :-). I just got notified from a user of my win_dsc stuff (which is outside of Ansible). We parse args dynamically there, so its a bit of an edge case. No worries, I was just making sure before I do the req'd refactoring of my custom stuff.

[2017-02-22 17:18] #21738 closed, assigned to nitzmahone

[2017-02-22 17:20] #21791 closed, assigned to privateip

[2017-02-22 17:27] jtognazzi commented on #19711
I had a similar problem with a cloudstack template using [cloud-init](https://cloudinit.readthedocs.io/en/latest/). I would say it's not amazon specific, but can happen if cloud-init is used and not configured properly.

[2017-02-22 17:42] vmindru commented on #20687
bump

[2017-02-22 17:50] tedder commented on #21769
short version: we need to implement 'deploy', which is basically an automatic changeset.
http://docs.amazonaws.cn/cli/latest/reference/cloudformation/deploy/index.html

Some self-contained cloudformation snippets would be helpful.

`needs_contributor` (though it might be me)

[2017-02-22 17:52] j-santander opened #21795 "unarchive fails on tar files containing filenames resembling environment variables."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive module
##### ANSIBLE VERSION

(tried with version from git)
[code]
(tried also with --- also not working)
[code]
(tried with --- it works)
[code]

##### CONFIGURATION

Run all the tests on localhost with a virtualenv.

##### OS / ENVIRONMENT

Tests executed on Ubuntu 16.04 on localhost.

##### SUMMARY

unarchive fails on tar files co

[2017-02-22 18:04] amblina opened #21796 "S3 module: Make bucket deletion a more explicit command"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
s3

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Local: OSX
Remote: Ubuntu 14

##### SUMMARY
The ``s3`` module parameter ``mode=delete`` for deleting bucket is conceptually similar to ``mode=delobj``.  Prevent users from deleting buckets rather than objects by making ``object`` parameter and ``mode=delobj`` mut

[2017-02-22 19:03] caleyg commented on #15215
FWIW I found that this commit here: https://raw.githubusercontent.com/BWITS/ansible/a89b2ca51007e8a466a370b312e6ad5b3cf4b6e2/contrib/inventory/ec2.py actually does what I need it to do.

Can we get this functionality pushed into a stable release?

[2017-02-22 19:19] kernelphr34k opened #21797 "win_command - Read timed out running batch script on remote"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_command

##### ANSIBLE VERSION

Ansible 2.2.1.0

##### CONFIGURATION
Default dir - /etc/ansible
Play dir - /etc/ansible/plays
Script dir - /etc/ansible/scripts

sudo_user = root
forks = 5
poll_interval = 15
module_lang = C
remote_port = 22
gathering = smart
roles_path    = /etc/ansible/roles
host_key_checking = False
error_on_missing_handler

[2017-02-22 19:44] gcooper-hw commented on #20263
I am also getting a similar issue on CentOS 7, Ansible 2.2.1 (Tower):

An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_vbknEx/ansible_module_sysctl.py", line 371, in <module>
    main()
  File "/tmp/ansible_vbknEx/ansible_module_sysctl.py", line 364, in main
    result = SysctlModule(module)
  File "/tmp/ansible_vbknEx/ans

[2017-02-22 19:52] gsamat commented on #15416
Any plans to fix this?
Any workarounds?

[2017-02-22 20:02] ifelsefi opened #21799 "ansible 2.2.2.0 and 2.2.1.0 template failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

I can no longer template my ldif.

Task in roles/accouns/create_user.yml "template user ldif" fails.

##### STEPS TO REPRODUCE

top-level accounts.yml

[code]
roles/accounts/tasks/create_user.yml

[code]
roles/accounts/templates/ldif.j2

[code]
roles/accounts/vars/main.yml [

[2017-02-22 20:22] JusticeForMikeBrown commented on #21799
Note, this works if I remove {{ ldif }} and instead use:

template: src=ldif.j2 dest=/tmp/user.ldif mode=600 owner=root group=root

[2017-02-22 21:14] #21744 closed, assigned to nobody

[2017-02-22 21:44] xcheerilee commented on #13603
as the bug is titled disregarding of yaml parse i would like to add that ansible actually has a lot of "guiding" warnings like:

there are various modules that do so, like zypper, docker, etc ...

however there are plenty of use cases which corresponding ansible modules do not cover.
for example the file module is not able to do recursive operations, docker module is not able to check if a contain

[2017-02-22 22:04] abadger commented on #21747
Could you kindly post the complete error message (and if possible step-by-step for reproducing)?

[2017-02-22 22:04] Yannig opened #21803 "Ansible crash when file contain iso8859-15 with diff option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Ansible copy/template with diff support

##### ANSIBLE VERSION

[code]

Does affect 2.2 too.

##### CONFIGURATION

Nothing special. I'm using the following playbook: https://github.com/Yannig/yannig-ansible-playbooks/tree/master/diff-iso8859-15

##### OS / ENVIRONMENT

Nothing special (crash with debian or RHEL)

##### SUMMARY

When using diff

[2017-02-22 22:04] kernelphr34k commented on #21797
Update:  I was advised that the client is a remote windows machine that uses simics. So its a simulated machine and not actual hardware. So, is there a var that I can set to extend the 30sec timeout? "Read timed out. (read timeout=30)" Thanks!

[2017-02-22 22:43] Yannig commented on #21803
Here is a very simple patch that allow to bypass the problem:

[code]

[2017-02-22 22:47] jtyr commented on #21783
The key you are using wasn't used to sign the package you are trying to install. Please change the `gpgkey` to `https://repo.zabbix.com/RPM-GPG-KEY-ZABBIX-A14FE591` and it will work.

[code]

[code]

@ansibot please close this issue as this is `notabug`.

[2017-02-22 22:55] #21783 closed, assigned to nobody

[2017-02-22 22:57] bcoca commented on #21747
filling in the standard template would be helfpul

[2017-02-22 23:04] anryko commented on #19888
@autodeck thanks for testing and your feedback!

[2017-02-22 23:07] oucil commented on #19521
@rentiak Our use case is as a simple "dumb" app server which is part of an ASG anyway so termination is the natural fit.  I'm coming up short thinking of a situation where you want to keep an instance in a "stopped" state that loses it's storage, more so since I'm assuming you've bootstrapped it in Ansible anyway. Not saying there isn't a case of course, just drawing a blank.  Are you running your

[2017-02-22 23:23] jhawkesworth commented on #21797
I have a couple of suggestions.

1/ Please try using the hostname instead of the IP address.   Https usually wants to have a hostname so it can check certificates (although likely you have cert validation turned off), so worth trying.

2/ I'm not familiar with pnputil.exe - is it possible it is displaying a dialog during the second driver install.  If so this will just hang until it receives input

[2017-02-22 23:52] abadger commented on #21763
This was fixed in ansible-2.2.1 and then fixed in a different way in the soon to be released ansible-2.2.2 (because the 2.2.1 fix has difficulties with passwords encoded in non-utf8).  Could you test with 2.2.1 or the 2.2.2 release candidate to see if this is now fixed for you?  Both can be found on http://releases.ansible.com/ansible/

needs_info

[2017-02-22 23:52] privateip commented on #21772
module `ios_vrf` is not supported in ansible 2.2 .  you need to running on the devel branch for now until ansible 2.3 is released if you want to use `ios_vrf`

[2017-02-22 23:52] #21772 closed, assigned to nobody

[2017-02-22 23:58] Etherdaemon commented on #19521
@rentiak - the option is only for for the root volume itself. For instance-store root instances you cannot actually "stop" them anyways via AWS (take a look in the console) - you can only terminate or reboot an instance-store backed root instance.

So it makes sense for the default option to be shutdown (takes care of EBS root instances) and the other option which is available in 2.2 to set termin

[2017-02-23 00:30] privateip commented on #19339
should be fixed as of https://github.com/ansible/ansible/pull/21790

@joelwking can you confirm working and close or update issue?

[2017-02-23 00:32] privateip commented on #21245
fix has been merged, please re-test and close or update issue if still seeing the problem

[2017-02-23 00:40] privateip commented on #19382
this is resolved in the latest devel branch.  ios_config returns both commands and updates.  we will properly deprecate one after 2.3

[2017-02-23 00:40] #19382 closed, assigned to privateip, Qalthos

[2017-02-23 01:11] privateip commented on #19342
tested with latest devel branch

tl;dr

change operation: Playbook run took 0 days, 0 hours, 1 minutes, 15 seconds
verify operation: Playbook run took 0 days, 0 hours, 0 minutes, 16 seconds

change
[code]

verify

[code]

[2017-02-23 01:11] #19342 closed, assigned to privateip, Qalthos, gundalow

[2017-02-23 01:44] #21440 closed, assigned to nobody

[2017-02-23 01:45] #19339 closed, assigned to privateip, Qalthos, gundalow

[2017-02-23 02:12] cordesc commented on #15017
Installing xcode worked for me as well. For those not familiar see: http://railsapps.github.io/xcode-command-line-tools.html

[2017-02-23 02:20] privateip commented on #18967
this is very bizarre.  I'm not able to duplicate what you are seeing.

I included my test playbook and outputs below for comparison.  Is  there anytihng there that isn't the same as yours?

version
[code]

playbook
[code]

output

[code]

[2017-02-23 02:46] privateip commented on #18968
resolved_by_pr #21811

Please confirm the fix and either close or update the issue

[2017-02-23 03:00] privateip commented on #18974
Based on the output this bug occurred before we implemented the new network_cli conenction pluign.  I  successfully tested timeout values with both cli and nxapi transports in the latest devel branch and could make tasks either pass or fail based on the time.  Could you re-test with the latest devel and report back either working (and close the issue) or update the status?

[2017-02-23 03:01] privateip commented on #21189
closing this issue per comment about moving checkpoints to a module.  wont backport the checkpoint removal to 2.2

[2017-02-23 03:01] #21189 closed, assigned to Qalthos

[2017-02-23 03:16] privateip commented on #18971
ok just push a commit to handle the `nxos_config` case.  In the `nxos_command` case you need to specify the command as text output (which is a little strange but it translates it correctly on the back side to adhere to nxapi properly).  The following has been tested working in the latest devel branch

[code]

[2017-02-23 03:28] joelwking commented on #19339
I will early next week.

Joel W King

On Feb 22, 2017, at 6:30 PM, "Peter Sprygada" <notifications@github.com<mailto:notifications@github.com>> wrote:

should be fixed as of #21790<https://github.com/ansible/ansible/pull/21790>

@joelwking<https://github.com/joelwking> can you confirm working and close or update issue?

-
You are receiving this because you were mentioned.
Reply to this email direc

[2017-02-23 03:39] privateip commented on #18966
not sure what is causing the error but testing in the latest devel branch seems to have resolved the problem.  We transitioned to a new cli plugin in 2.3 and spent a fair bit of time clean things up which might account for what you are seeing.  I just tested a similar play and got the following result:

[code]

[2017-02-23 03:41] #18971 closed, assigned to privateip, gundalow

[2017-02-23 04:10] d-j-c commented on #19249
+1

[2017-02-23 04:14] privateip commented on #17514
ProxyCommand is supported in 2.3 via the `network_cli` connection plugin which is based on the `paramiko_ssh` plugin.  Configure ProxyCommand same as you would for using `paramiko_ssh` connection plugin

[2017-02-23 04:14] #17514 closed, assigned to gundalow

[2017-02-23 06:08] xiemeilong commented on #20521
+1

[2017-02-23 06:08] xiemeilong commented on #20521
+1

[2017-02-23 06:10] d-j-c commented on #11064
I think this would be a great option. I cannot find documentation or find a way to not have this set globally at this stage.

[2017-02-23 07:09] kalgynirae commented on #20621
@afeld, can you share the complete contents of `tomcat@.service`? I suspect this might be related to the issue I just ran into which exhibited the same symptom. The root cause turned out to be a bug in Ansible's parsing of the output of `systemctl show` when a service's description happened to start with a `{`. (I have a [fix for this parsing issue](https://github.com/kalgynirae/ansible/commit/492

[2017-02-23 08:21] olex777 commented on #21565
Ok, will try then write about result

2017-02-22 16:41 GMT+02:00 Ricardo Carrillo Cruz <notifications@github.com>:

[2017-02-23 08:21] apinter commented on #15321
If you have no keyfile set up for the server use the -k flag

    ansible -i hosts servers -m ping -u root -k

[2017-02-23 09:32] j-santander commented on #21795
Some additional information, I've further debug this to the call of:
[code]
On `set_fs_attributes_if_different()` it fails on the `set_mode_if_different`

that goes:
[code]
It is the `os.path.expandvars()` the one transforming the `/tmp/x/$USER/` into `/tmp/x/jsantand/`

I'm a bit of at a loss here on how to proceed (otherwise I would have submitted a pull request by now :)).
On one hand,it strike

[2017-02-23 10:04] Fale commented on #19711
The default cloud-init configuration of RHEL and CentOS gives this problem (and probably other distros as well)

[2017-02-23 10:16] gundalow opened #21823 "junos_command: format issue (missing aliases & xml)"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
junos_command

##### ANSIBLE VERSION
[code]

##### SUMMARY

Two related issues due to https://github.com/ansible/ansible/commit/02d2b753db72ef925dac61b376565a92bcd44799#diff-d466f62c4e21d273efccee8df02bb034L225 refactor

1) Missing aliases for `aliases=['format', 'output']` - which is simple enough and I'll fix shortly

2)
However this exposes th

[2017-02-23 10:26] gundalow opened #21824 "junos_config: missing provider"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION
[code]

##### SUMMARY

`junos_config` doesn't support the `provider:` option, looks like it got removed, but never added back in

##### STEPS TO REPRODUCE
##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-02-23 10:30] javierccs opened #21825 "azure_rm_virtualmachine vm_size Standard_D1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when trying to complete a simple operation (start/stop) of a virtual machine, I get the following error:

"msg": "Parameter error: vm_size Standard_D1 is not valid for your subscription and location."

even though in the module [

[2017-02-23 10:32] gundalow opened #21826 "junos_netconf: missing provider"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
junos_netconf

##### ANSIBLE VERSION
[code]

##### SUMMARY

`junos_netconf` doesn't support the `provider:` option, looks like it got removed, but never added back in

##### STEPS TO REPRODUCE
##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-02-23 10:34] gundalow opened #21827 "junos_template: missing provider"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
junos_template

##### ANSIBLE VERSION
[code]

##### SUMMARY

`junos_template` doesn't support the `provider:` option, looks like it got removed, but never added back in

##### STEPS TO REPRODUCE
##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-02-23 10:34] rcarrillocruz commented on #20763
Hi @rrbarreto

The commit in shade that added get_volume_quotas is this:

[code]

And this are the tagged releases containing it:

[code]

Therefore, your version does not contain that feature.
Upgrade your shade version and that error should go away.

[2017-02-23 10:34] #20763 closed, assigned to rcarrillocruz

[2017-02-23 10:54] gundalow commented on #19382
I've commented out most of the tests (ensuring `.updates` is/is not set) I'll review post 2.3

[2017-02-23 11:03] gundalow opened #21828 "nxos_config: Not idempotent when used with src"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
nxos_command

##### ANSIBLE VERSION
[code]

##### SUMMARY
Running the following playbook shows a change

[code]

##### STEPS TO REPRODUCE
[code]

Note that depending when you look at this bug you may have to comment out the `- "result.updates is not defined"` tests

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2017-02-23 11:04] chrwen-omicron commented on #19213
@dagwieers It won't work as long as `$old_data = (Get-ItemProperty -Path $path | Select-Object -ExpandProperty $name)` returns the expanded data.

[2017-02-23 11:20] gundalow opened #21829 "nxos_facts: from ansible.module_utils.network_common import exec_command"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
nxos_facts

##### ANSIBLE VERSION
[code]

##### SUMMARY
[code]
##### STEPS TO REPRODUCE
`time ANSIBLE_ROLES_PATH=targets  ansible-playbook -vvvvv  -i  inventory.network-jobarker nxos.yaml  -e "limit_to=nxos_facts"`

##### ACTUAL RESULTS

[2017-02-23 11:44] gundalow opened #21832 "nxos_nxapi: Not idempotent"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
nxos_nxapi

##### ANSIBLE VERSION
[code]

##### SUMMARY
Looks like nxapi isn't detecting the following or for some othe reason wants to send the following commands
[code]

On a second run, and therefore isn't idempotent

##### STEPS TO REPRODUCE
`
time ANSIBLE_ROLES_PATH=targets  ansible-playbook -vvvvv  -i  inventory.network nxos.yaml  -e "limit

[2017-02-23 11:44] amblina commented on #21796
@graingert I completely agree, it would make more sense for creation/deletion of a bucket be kept within s3_bucket rather than s3.  The current setup is ambiguous.

[2017-02-23 11:47] graingert commented on #21796
The s3 module is totally unlike any other interface.

should be more like the [file](https://docs.ansible.com/ansible/file_module.html) module:
[code]

however it looks like the s3 module is stable:

so I think there should be a new module, modelled after [file](https://docs.ansible.com/ansible/file_module.html) module:

[code]

and the s3 module should be deprecated.

This doesn't preclude this P

[2017-02-23 12:05] 8w commented on #18996
As a workaround I'm currently doing a `get_url` to https://letsencrypt.org/certs/lets-encrypt-x3-cross-signed.pem, `slurp`ing that and the signed cert into variables and then creating the full-chain cert using `copy` with `contents` of those two variables (signed cert first followed by the intermediate cert).  It's a bit of a mess but it works.

The [acme spec](https://github.com/ietf-wg-acme/acme

[2017-02-23 12:19] gundalow opened #21835 "nxos_template: Not reading transport/provider correctly"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
nxos_template

##### ANSIBLE VERSION
[code]

##### SUMMARY
Looks like `nxos_template` isn't correctly reading in the `transport` option from `provider`.

I wonder if this is because `nxos_template` is using `NetworkModule` rather than `AnsibleModule`
[code]

Gives
[code]

Noteice that `transport` *is* returned in the above both at the top level,

[2017-02-23 12:36] Xiol opened #21838 "The 'to retry, use..." message on stdout breaks parsing of JSON when stdout_callback=json is set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Playbook executor

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY
We use the `stdout_callback=json` setting to get Ansible to output JSON, which we then parse and use in our internal systems to fully automate Ansible runs. (Unfortunately Tower does not suite our use case).

When a run fa

[2017-02-23 12:47] ashemedai commented on #19154
Finally found the time to sit down and dig through things. Not a bug after all. Closing issue.

[2017-02-23 12:47] #19154 closed, assigned to nobody

[2017-02-23 13:00] #21829 closed, assigned to privateip

[2017-02-23 13:01] gundalow commented on #21829
Confirmed PR fixes issue, thanks.

[2017-02-23 13:06] #21832 closed, assigned to privateip

[2017-02-23 13:06] gundalow commented on #21832
Confirmed fix

[2017-02-23 13:19] alexandrujieanu opened #21842 "Using blocks with fail module in the rescue section prevents always section from being executed in case of error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Playbooks blocks with fail module
http://docs.ansible.com/ansible/playbooks_blocks.html
http://docs.ansible.com/ansible/fail_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Having a task based on the fail module in the rescue section prevents the always section from being executed in case

[2017-02-23 13:32] tronicum commented on #21783
@jtyr

if i install the key with rpm --import, it works. but i have two seperate keys on the system:
[code]

on the second system (without manual --import) only one key exists
[code]

and it yields a very strange error:

[code]

i guess its an RPM/GPG error though.

[2017-02-23 13:36] jtyr commented on #21783
Try to delete the GPG keys and then try to install it again:

[code]

[2017-02-23 13:37] tronicum commented on #20711
@cubranic try running
rpm -q gpg-pubkey --qf '%{name}-%{version}-%{release} --> %{summary}\n'
then install the key manual (rpmkeys --import URL)
run rpm -q gpg-pubkey --qf '%{name}-%{version}-%{release} --> %{summary}\n' again.
for some strange reasons (on my bug). If i install the key manual it works and i have the key installed twice. i wonder if RPM has mutiple locations or trust levels on thos

[2017-02-23 13:53] tronicum commented on #21783
I had to do
```rpm --allmatches -e gpg-pubkey-a14fe591-578876fd ```
The packages where imported twice (old and new key) having the same name (but different keys).
After clearing the key it worked.
Thanks a lot @jtyr !!

[2017-02-23 13:56] jctanner opened #21845 "var precedence"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
variable precendence

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Variable precedence is out of order in a few spots according to the output of `ansible-var-precedence-check`.

[code]

http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2017-02-23 14:04] jean-christophe-manciot commented on #18967
@privateip  It seems that, despite having checked out the same commit, we end up with 2 different ansible binaries,; because my ```ansible --version``` does not give so many details:
[code]
There are multiple possibilities:
1. same hash but different commits
    Rare but it can happen: your commit date seems different than mine (02/22 vs 02/20)
[code]
    NO, only one commit.
2. different build me

[2017-02-23 14:11] adrien-mogenet commented on #12086
+1 on forks

[2017-02-23 14:12] valeriujieanu commented on #21842
This is the role definition.

[code]

[2017-02-23 14:12] ImpSy commented on #12086
+1 on forks

[2017-02-23 14:37] jean-christophe-manciot commented on #18967
I have tried again to build it with```make deb``` in a clean environment **without success**:
branch=devel
[code]

I doubt your tests are made within an Ubuntu environment.

[2017-02-23 14:41] jean-christophe-manciot commented on #16356
I have tried again to build it with```make deb``` in a clean environment **without success**:
branch=devel
[code]

I doubt your tests are made within an Ubuntu environment.

[2017-02-23 14:48] jessegonzalez commented on #18469
@WooDzu, ever get this resolved?

[2017-02-23 14:50] WooDzu commented on #18469
I haven't. Started looking at AWS Systems Manager and Managed Services instead.

[2017-02-23 14:54] gundalow opened #21847 "vyos_command: Bad operator returns backtrace"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
vyos_command

##### ANSIBLE VERSION
[code]

##### SUMMARY

Running `vyos_command` with an invalid operator returns a backtrace, rather than a more meaningful error message:

[code]

Gives:
[code]

##### Repo steps
[code]

[2017-02-23 14:56] gundalow opened #21848 "vyos_config: TypeError: argument must be string or read-only character buffer, not None"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
vyos_config

##### ANSIBLE VERSION
[code]

##### SUMMARY

[code]

Gives:
[code]

##### Repo steps
[code]

[2017-02-23 15:24] dagwieers commented on #21538
@mvleandro Can you please test the win_chocolatey version from #21533 ?

[2017-02-23 15:26] jean-christophe-manciot commented on #18967
Retrieving ansible with **pip** solves this issue:
[code]
I am now **able to run ios_command & ios_facts successfully**.

**However, I need an alternate successful way to build ansible from devel because with pip, I have no idea what commit is built since the tmp folder is removed at the end of the process**.

[2017-02-23 15:45] wltjr commented on #21735
@jctanner What version of python are  you using? I wonder if it is an issue in that. I am on 2.7. The person running 2.2.0 that had it fail is also on python 2.7.

[2017-02-23 16:01] dagwieers commented on #19213
@chrwen-omicron Please propose a PR with the changes you require. Or provide me with a set of integration tests that indicate the problem to me. Because I think I know what you are saying, but I want to be clear that if I am going to fix this, I am covering all grounds.

What option would you suggest to change the behaviour (i.e. expand / do not expand data) ?
What is your preferred way of doing t

[2017-02-23 16:01] jean-christophe-manciot commented on #18966
Yes, it's solved :-)

[2017-02-23 16:10] kaage opened #21850 "ERROR! Missing target hosts in 2.3 devel branch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Regression

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ansible.cfg:
[code]
##### OS / ENVIRONMENT

Ubuntu

##### SUMMARY
I cannot run basically any playbook in 2.3 as *ansible-playbook* command seems to run just *ansible* command. I'm getting following error no matter what I do (I can have even hosts: all defined in playbook)

##### STEP

[2017-02-23 16:14] chokosabe commented on #21765
I can confirm this behaviour as well

[2017-02-23 16:19] britishtea commented on #9065
This "feature" wasted the better part of my day. Not amused.

@hanej Thanks for the rather elegant workaround. We're now setting an `env` variable in our `environment/group_vars/all` files to the name of the environment.

In our playbooks we then do this:

[code]

[2017-02-23 16:29] onitake commented on #13680
Here's a possible way to implement this feature.
It will break existing playbooks that use these options, but the increased consistency with other modules should more than make up for this.

[2017-02-23 16:32] kkirsche commented on #18868
Bumping this to see if this can get any attention. It's been almost 2 months, so I'd appreciate information as to the plan to get this merged

[2017-02-23 16:34] jean-christophe-manciot commented on #18966
Sorry, I have closed this issue too soon. The stdout is different but remains incorrect:
[code]
with a save_table role
[code]

[2017-02-23 16:40] #18868 closed, assigned to nobody

[2017-02-23 16:40] sivel commented on #18868
I've merged the associated PR

[2017-02-23 16:44] dagwieers commented on #21795
@j-santander Ah, that's great. I had been looking into this, but did not understand what was going on (because none of my code would be actively expanding variables). But now it makes sense.

The behaviour of set_mode_if_different indeed seems to be wrong (or at least optional).

[2017-02-23 16:46] j00bar opened #21852 "synchronize relative paths are not expanded with dwim/needle functions"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
N/A

##### SUMMARY
Per @bcoca, I'm opening an issue for this.

Between modules that try to resolve relative search paths into actual paths, both remote and local, there are inconsistencies in how they do so. (Guessing `dwim` vs. `needle` stuff). Make them consistent.

And please document what that consistent resul

[2017-02-23 16:47] dagwieers commented on #21795
PS The intention always has been to make a pure-python unarchive implementation, which would not be using set_mode_if_different() but simply would perform it inline as part of the extraction.

[2017-02-23 16:53] dagwieers commented on #20508
The problem is not really related to the set_fact module itself. Maybe best to involve the person that was responsible of the change ? @jimi-c

PS And we should definitely add these (failing) examples to the integration tests too !

[2017-02-23 17:32] javierccs opened #21860 "ec2.py --list fails with socket.gaierror: [Errno -2] Name or service not known"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2.py dynamic inventory file for AWS

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

configured ~/.aws/credentials with the right values

##### OS / ENVIRONMENT

N/A
##### SUMMARY

when trying to execute python ec2.py --list I get the following error:
 python ec2.py --list
Traceback (most recent call last):
  File "ec2.py", line 1572, in

[2017-02-23 17:34] jhawkesworth commented on #20700
@tonyskidmore - I've created a PR https://github.com/ansible/ansible/pull/21859 which I hope will update the docs to explain what you have discovered.

[2017-02-23 18:02] nethershaw commented on #4870
This conversation remains salient.

We have a need to audit the output of a running realtime process in order to discern subtleties of an application's behavior under rigorously pre-defined circumstances. There exist conditions where 'async' will correctly return that the process is still executing, but a message has been emitted that indicates _later_ failure or a less fatal condition will occur,

[2017-02-23 18:18] jean-christophe-manciot commented on #18968
Unfortunately, it's not solved:
[code]

[2017-02-23 18:18] yabhinav commented on #21691
After a lot of debugging found the issue is with python virtualenv rather that docker or ansible

Installing freeipa-client and freeipa-server  with commanline also fails when running on virutalenv bash

The issue is probably due to incompatibility with  docker 1.13.1 + ubuntu 16.04 + virtualenv

[code]
The same command works on ubuntu:14.04, while it fails on ubuntu:16.04 docker image

Also the f

[2017-02-23 18:18] #21691 closed, assigned to nobody

[2017-02-23 18:22] jean-christophe-manciot commented on #18968
@privateip  There's even an issue with your bot.

[2017-02-23 18:35] gundalow commented on #18968
@jean-christophe-manciot It was closed as the PR was merged. I've reopen it noe

[2017-02-23 18:41] jean-christophe-manciot commented on #18974
Nope, the issue is still there, even with ```timeout: 60``` in the ```provider``` structure (not sure if it's implemented or not, the [documentation](http://docs.ansible.com/ansible/nxos_nxapi_module.html) does not say) and:
[code]
leads to:
[code]
I can ssh into that target.

[2017-02-23 18:47] #17446 closed, assigned to nobody

[2017-02-23 18:53] kernelphr34k commented on #21797
Hello jhawkesworth,

1- Hostname does not work in my environment, but I did try and it could not even ping my client,

2- pnputil.exe does display the results in a command prompt, but no pop-up box/msg box. All contained in a command prompt. When it does work, I see the "changed" results in ansible.

This is what it looks like when it works:

TASK [Install driver on Windows Server 2012] **********

[2017-02-23 19:28] danvaida opened #21865 "having issues with ec2_elb_lb and idempotence"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`ec2_elb_lb` module.

##### ANSIBLE VERSION

2.2, installed via pip.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

One (or more) parameter(s) are breaking idempotence. I have some examples that work, but this one in particular, doesn't.
I am aware of #21323 and I tried w/o that parameter, but it didn't change anythin

[2017-02-23 19:44] s-hertel commented on #21765
Confirming this issue as well. This will also be fixed by updating ec2_asg to use Boto3 in #19667

[2017-02-23 19:45] j-santander commented on #21795
@dagwieers ... so, what's next?
with some guidance I wouldn't mind contributing with a fix.

[2017-02-23 19:49] dagwieers opened #21866 "Changing remote_user in hybrid setups problematic"
##### ISSUE TYPE

 - Docs Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

v2.3 and older

##### OS / ENVIRONMENT

Hybrid environment with Windows and Linux

##### SUMMARY

In a hybrid environment, the default `ansible_user` points to either `root` or `Administrator`.

Which means we have to set the default `ansible_user` by using `group_vars`. So I have `group_vars/windows` defining `an

[2017-02-23 19:51] dagwieers commented on #21866
cc: @nitzmahone @jctanner @jimi-c

References: #4688 #7673

[2017-02-23 19:54] bcoca commented on #21866
task level ansible_user should win over inventory defined ansible_user

[2017-02-23 19:56] dagwieers commented on #21866
@bcoca But does it win over group_vars/windows ansible_user ?

[2017-02-23 19:56] nitzmahone commented on #21866
dagwieers: this is specifically setting vars: ansible_user on the task, not remote_user

[2017-02-23 20:01] bcoca commented on #21866
@dagwieers it should by variable precedence and a quick test show it does, if it does not, that is a bug

[2017-02-23 20:14] bcoca commented on #21838
callbacks only handle play reporting, other error messages are not emitted via callbacks.

[2017-02-23 20:19] dagwieers commented on #21866
What I think is confusing here, is the `remote_user` at the task-level does not seem to be listed in the variable precedence.
[code]
You would expect that it either is a task variable, or a core directive (which is processed locally). It does not fit in any other category. In any case, inventory group_vars are completely at the end of the variable precedence order, so you'd never expect that one t

[2017-02-23 20:19] bcoca commented on #21866
inventory:
[code]
play

[code]
-vvv output:
[code]

[2017-02-23 20:20] bcoca commented on #21866
remote_user is NOT a variable, its a directive, we do document that 'connection variables' will override directives as we consider host connection variables MORE specific than ansible.cfg, command line switches and play directives.

[2017-02-23 20:23] dagwieers commented on #21866
The documentation does not list "connection variables" as part for the variable precedence (it does for 1.x, but doesn't for 2.0). However, ansible_user is also a connection variable (and specifically mentioned as such for the 1.x precedence list).

So it seems to be contradicting, both the 1.x as the 2.0 documentation seems to be wrong in our case. Should we update the documentation ?

[2017-02-23 20:23] bcoca commented on #21866
it exists this way so you can change the 'login user' in the general case, but allow special cases in your network to use a specific user always.

For example, your DBA team has a requirement that only the 'common_dba' user is used on their boxes. You normally logon as yourself to most boxes, but now you have a play that uses the 'webuser', but the DBA machines still have the 'common_dba' user req

[2017-02-23 20:24] bcoca commented on #21866
@dagwieers ansible_user follows normal variable precedence for itself, 'connection variables' in general override directives, which are NOT variables.

[2017-02-23 20:24] andig opened #21867 "Can't use ansible with user/password if keyfile exists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core/paramiko

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
OSX

##### SUMMARY
Ansible ignores request to execute remote command using user/password if keyfile exists. Use case is initial deployment of authorized key.

I have a local id_dsa key of 1023 bit that I know doesn't work with ansible, therefore want to

[2017-02-23 20:25] bcoca commented on #21866
from docs "Another important thing to consider (for all versions) is that connection specific variables override config, command line and play specific options and directives. For example:"

[2017-02-23 20:28] dagwieers commented on #21866
bcoca: For remote_user in the play, I could agree, but a remote_user at the task-level ?

PS Ah ok, I searched specifically for "connection variable", not for "connection specific variable". But I do think it should be in the variable precedence list specifically.
PS2 It states play-specific options and directives, not task-specific options and directives.

[2017-02-23 20:30] bcoca commented on #21866
refers to everything in play, but i would be glad to clarify that.

and yes, even at task level you might want to override for those hosts, in my example above it can be a single task that needs webuser/common_dba user.

You CAN override both ways in current system, its complex but allows for complex setups (which sadly exist commonly). We could make it simpler, but then we wouldn't work for those

[2017-02-23 20:32] dagwieers commented on #21866
@bcoca I don't mind using task-vars for this, but this *is* confusing and contra-intuitive (i.e. exceptional). The documentation could clarify it better (and specifically adding the variables/directives like remote_user would be a plus, so people could find it when searching).

[2017-02-23 20:39] bcoca commented on #21866
^ bikeshed away, lets get some docs that clarify this

[2017-02-23 20:40] bcoca commented on #21866
im not saying its not confusing, but sadly the problem addressed is complex and I don't see a simple way to allow for all scenarios and still have an intuitive and simple interface

[2017-02-23 20:43] dagwieers commented on #21866
I don't know how to explain exactly how this works, but don't mind reviewing the new wording to see if it would have clarified it for me. But I do think "connection variables" or "connection directives" should be mentioned somewhere if they break with convention.

[2017-02-23 20:45] bcoca commented on #21866
they are .. not sure where else they need mentioning

[2017-02-23 20:47] andig commented on #21867
I can confirm that removing the existing `id_dsa` file from the client cures the issue.

[2017-02-23 21:04] #21032 closed, assigned to nobody

[2017-02-23 21:16] rentiak commented on #19521
That's valid. I guess then the docs probably need to be updated to have instance_initiated_shutdown_behavior marked as required for instance store-backed instances. It would be nice if it was more intelligent and handled that, which is documented here: https://github.com/ansible/ansible-modules-core/issues/5759

[2017-02-23 21:38] dan-osms opened #21871 "Ec2_group improper error output of CIDR error"
##### ISSUE TYPE

 - Feature Idea / Bug

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MAC to AWS
##### SUMMARY

Some engineers don't validate their CIDRs, *sigh*.

EC2_Group doesn't validate CIDR notations, when given an improper cidr notation from my colleagues you can imagine there are many cidr notations to check. Ansible errors out

[2017-02-23 21:59] #21828 closed, assigned to privateip

[2017-02-23 21:59] #21835 closed, assigned to privateip

[2017-02-23 22:11] dirkvdplas opened #21872 "create list based on a dynamic number of inventory groups"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_facts /  with_items / vars_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.3 (Maipo)

##### SUMMARY
I have a simple YML vars file as input-file for network configuration which is passed to playbook. The YML file contains a dynamic number of definitions which refers to

[2017-02-23 22:20] jhawkesworth commented on #21797
Places I know to look for timeouts are in the winrm configuration on the windows hosts. From memory, you need to be Administrator to change the settings and the command to view is something like

Winrm get winrm/config

Second place to look would be in pywinrm python module docs. There are a number of configurable settings described there which you can add to your inventory or group_cars. Not sure

[2017-02-23 22:21] basictheprogram opened #21873 "win_chocolatey errors when upgrading powershell"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Ansible configuration from git clone

##### OS / ENVIRONMENT

Control host macOS 10.12.3
Managed host Windows 7

##### SUMMARY

Attempting to upgrade powershell4 to powershell5 using the win_chocolatey module.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Upgrade/

[2017-02-23 22:51] kladiv commented on #19305
include_roles does not evaluate "default/main.yml" (of included role itself). I got undefined error

playbook.yml
[code]
[role name].yml
[code]

variable is defined into "[role name]/default/main.yml"

[2017-02-23 23:10] bcoca commented on #21845
i'm not sure about 19/20 either, they should be at bottom but not sure which one of them should precede the other @jimi-c ?

[2017-02-24 00:04] dagwieers commented on #21795
@j-santander I would change the default behaviour and check if any integration test is complaining. If not, I would make it optional but disable expanding by default.

[2017-02-24 00:17] berney commented on #19673
`clear_host_errors` was introduced in 2.1 according to the docs. Does this bug affect 2.1.x?

I'm having trouble finding which releases have fixed the bug, doing `git tag --contains 08ef0ae` I don't see any, I was hoping it would show what releases have the fix. I'm not confident I'm doing things right because `git tag --contains b339d4c` doesn't show anything either. And `git branch --contains $c

[2017-02-24 01:46] dagwieers commented on #21795
@j-santander As I expected, all integration tests worked fine.
Can you test if my changes also fix your use-case ?

[2017-02-24 02:08] claudiols1979 commented on #17437
ansible still implements python 2.7 so that would be a good a idea to downgrade on the instance site. Also something that helps is telling ansible hosts file who is the interpreter of python something like /usr/bin/pyhon ..........................find yours by typing "which python" on the ubuntu ami

[2017-02-24 02:12] chrulri commented on #20508
I added a comment to the responsible changes in the commit ( 2d8ebbf ) that caused this issue.

Ansible version: Ansible from source, commit ref: 2d8ebbf
Tested with this simplified play:
[code]
And using this simplified inventory:
[code]

[2017-02-24 03:07] wise0103 commented on #17514
Thanks Peter, I would try this new version.

[2017-02-24 03:51] iJebus commented on #19391
Note that you see the same error with subkeys on dictionaries, e.g.

[code]

Results in...

[code]

Unfortunately the workarounds are pretty painful for my use case so I'll just rewrite things.

[2017-02-24 03:51] jessegonzalez commented on #18469
Found that AWS Lambda does not include support for /dev/shm which is required by multiprocessing.

Here is a link to an AWS forum post discussing the issue: https://forums.aws.amazon.com/message.jspa?messageID=769117#769117

[2017-02-24 05:03] jimi-c commented on #15179
If you want to override defaults, they should be done so through role params. Roles have always seen their defaults above all others, and that was always the intention since they were originally created.

[2017-02-24 05:05] jimi-c commented on #15735
@sbwoodside because it is a known limitation of using dynamic includes. We have this documented, if you need to start-at-task in includes, they must be static includes.

[2017-02-24 05:09] jimi-c commented on #20392
@MikeStankavich `default()` also takes an option to operate on the variable based on the boolean value as well: `default('something', boolean=True)`. Using this, the default would replace an empty string. For more info see: http://jinja.pocoo.org/docs/2.9/templates/#default

[2017-02-24 05:57] j-santander commented on #21795
Thanks, that was quick!

I've run the scenario I described above and it works perfectly now.
Tried also the options to get a list of the unarchived files and to change the permissions of the files. All seem to work.

Later I'll have a go at the original tar file where I first found the problem, but I believe it is now fixed.

[2017-02-24 06:12] j-santander commented on #21795
@dagwieers added a couple of comments to the pull request review.

[2017-02-24 06:13] grimmjow8 commented on #21706
Failed to reproduce. Can you include the contents of /etc/lsb_release?

Data from reproduce attempt with fresh install:
`
ansible 2.2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
`

`
"ansible_distribution": "Linuxmint",
"ansible_distribution_major_version": "13",
"ansible_distribution_release": "maya",
"ansible_distribution_version": "13",
.

[2017-02-24 06:36] jimi-c commented on #21845
in descending order of precedence (for 19/20):
1) all defaults
2) defaults from the dep chain
3) defaults for the current role

[2017-02-24 07:07] tima commented on #13680
I appreciate you taking the time to code something, but breaking existing playbooks is simply a non-starter.

[2017-02-24 07:15] onitake commented on #13680
@tima That's why I didn't submit a pull request to the Ansible projects, consider this more of a request for comment.

The point is that this whole bug report is a bit about breaking existing playbooks, because it addresses a design issue in the synchronize module.

But yes, you are right. Let me turn this into something more sensible.

[2017-02-24 07:55] smemsh opened #21885 "allow_duplicates=false fails to detect duplicate when role is conditional"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
roles

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

We include **role3** from both **role1** and **role2** in `meta/main.yml` using `dependencies:` keyword.  These roles both pass the same parameters (that is: none directly, only via extra arguments) to **role3**, but it's (wrongly) runnin

[2017-02-24 08:29] kaage commented on #21850
Problem was because I had cloned my own git repo and ansible 2.3 repo to the same parent directory. Once I moved ansible repo to completely another directory it started to work.

[2017-02-24 08:29] #21850 closed, assigned to nobody

[2017-02-24 08:58] rcarrillocruz commented on #20443
@bittsi

Could you please provide a 'show ver' command output?
I don't have a Cisco XE device to play with in our lab, I'm thinking about detecting the OS version via 'show ver' and branch the code in ios_facts depending if it's IOS or IOS-XE .

Thanks

[2017-02-24 09:15] bittsi commented on #20443
Hi all

Please find attached a "sh version” output for IOS-XE and IOS.

Because with ios_facts I didn’t get what I would have expected, I also did the differentiation for IOS and IOS-XE with show version in my project, :

ios:
---
- ios_command:
      provider: "{{ cli }}"
      commands: "show version"
  register: result
- set_fact:
    sw_version: "{{result.stdout[0] | regex_search('Version\\s+(

[2017-02-24 09:29] danvaida commented on #21865
Upon further inspection, it turns out that `cross_az_load_balancing` really needs to be set to **yes** or **no**. Something should be done about it so that it is consistent with the way you can specify boolean values.

Also, it seems that the `idle_timeout` parameter is breaking idempotence as well. Removing this parameter and setting the `cross_az_load_balancing ` to either _yes_ or _no_ made the

[2017-02-24 09:44] dagwieers commented on #20781
I am going to close this. We are implementing this now for some modules.

[2017-02-24 09:44] #20781 closed, assigned to nobody

[2017-02-24 09:46] dagwieers commented on #18108
Still waiting for #20011 to get merged.

[2017-02-24 10:28] ptemplier opened #21886 "Add win_chocolatey proxy support"
_From @ptemplier on September 23, 2016 12:33_

##### ISSUE TYPE
- Feature Pull Request
##### COMPONENT NAME

win_chocolatey
##### ANSIBLE VERSION

[code]
##### SUMMARY

Add win_chocolatey proxy support.
Add parameters to specify proxy url, user and password to be used when installing chocolatey and when installing package.
##### WORKAROUND

[code]

_Copied from original issue: ansible/ansible-modu

[2017-02-24 10:28] ptemplier commented on #21886
_From @gregdek on September 23, 2016 16:25_

Thanks @ptemplier. To the current maintainers, @smadam813 please review according to guidelines (http://docs.ansible.com/ansible/developing_modules.html#module-checklist) and comment with text 'shipit', 'needs_revision' or 'close_me' as appropriate.

[This message brought to you by your friendly Ansibull-bot.]

[2017-02-24 10:28] ptemplier commented on #21886
@nitzmahone any thoughts on this one ?

[2017-02-24 10:28] ptemplier commented on #21886
_From @ansibot on December 7, 2016 14:14_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-02-24 10:28] ptemplier commented on #21886
_From @dagwieers on February 24, 2017 10:6_

If this functionality is needed, please migrate it to https://github.com/ansible/ansible
We have tools for doing so: https://github.com/ansible/ansible-modules-extras/pull/3022#issuecomment-265457274

Anyone can do this BTW, so if someone other than the author wants to (help) getting this merged, please step forward :-)

[2017-02-24 10:28] ptemplier commented on #21886
_From @ansibot on February 24, 2017 10:13_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pu

[2017-02-24 10:35] dagwieers commented on #21886
@ptemplier Welcome back :+1: Please remove the comments that are no longer valuable (it makes the thread more readable!).

[2017-02-24 10:38] ptemplier commented on #21886
Cleaned up all the comments :-)

[2017-02-24 10:43] dagwieers commented on #21886
@ptemplier I think we need to add one or more maintainers for this module, because a lot of issues/PRs are stuck unreviewed (or reviewed by others).
https://github.com/ansible/ansible/pull/21476#issuecomment-282254613

[2017-02-24 10:45] onurbrc opened #21887 "y"
sorry, by mistake.

[2017-02-24 10:47] #21887 closed, assigned to nobody

[2017-02-24 11:22] frenzymadness commented on #18456
Hello.

Is there some public draft of his sheet? AFAIK there is nothing I can help with related to Python 3 in GitHub project so I could help with modules porting.

[2017-02-24 11:32] holser opened #21889 "ansible fails as it tries to merge empty vars file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.2

##### SUMMARY
ansible is not able to merge 2 dicts when file is empty or commented.

##### STEPS TO REPRODUCE
[code]
and
[code]
and
[code]

##### EXPECTED RESULTS
have {} as dict if file is empty or everything is commented.

##### ACTUAL RESULTS
[co

[2017-02-24 11:42] wouterh-dev opened #21890 "include_role does not expose variables to rest of playbook"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None.

##### OS / ENVIRONMENT
OS: CentOS7, but shouldn't matter.

##### SUMMARY
When including a role using include_role its vars do not become available to the rest of the playbook. This does work when using the regular roles definition.

##### STEPS TO REPRODUCE
A minimal test-c

[2017-02-24 11:42] willthames commented on #21865
According to the [ELB boto docs](http://boto.cloudhackers.com/en/latest/ref/elb.html#boto.ec2.elb.ELBConnection.modify_lb_attribute), `crossZoneLoadBalancing` takes a boolean.

What I believe is the problem is
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_elb_lb.py#L1246

It should have a `type='bool'` in the argument_spec (one could argue that using `type='int

[2017-02-24 11:45] panticz commented on #20196
Hi, unfortunately i get still the "gzip: stdout: Broken pipe" error when i try to import a GZ compressed dump, Import from a uncompressed MySQL dump forks fine:

...
TASK [Import DB] ***************************************************************
fatal: [db.example.com]: FAILED! => {"changed": false, "failed": true, "msg": "\ngzip: stdout: Broken pipe\n"}
...

...
fatal: [db.example.com]: FAILED!

[2017-02-24 12:05] rcarrillocruz commented on #19991
resolved_by_pr 19590

[2017-02-24 12:05] #19991 closed, assigned to rcarrillocruz

[2017-02-24 12:06] tonyskidmore commented on #20700
@jhawkesworth - thanks that looks good.  Hopefully just saves anyone else going down the same investigations in the future.

[2017-02-24 12:06] #20700 closed, assigned to nobody

[2017-02-24 12:16] rcarrillocruz commented on #21890
do you get the same issue if you force the vars_from param:

---
- hosts: localhost

  tasks:
    - include_role:
        name: testrole
        vars_from: main
    - debug: msg="{{some_var}}"

[2017-02-24 12:20] gundalow opened #21892 "Network modules: Only password should be masked under provider"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_*
junos_*
Most likely all platforms

##### ANSIBLE VERSION
[code]

##### SUMMARY
Marking as P1 as leaking passwords is bad
During the argspec work that went into the Network modules in 2.3 we seem to have lost the feature that only masks out `password:` in `provider:`

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RES

[2017-02-24 12:24] privateip commented on #18974
Ok could you try something please?   Enabling ansible logging and run your playbook with `-vvvv` (4) option.  To enable logging do the following in terminal:

[code]

This will create a log file in the director you are in called `ansible.log`

Then run your playbook as such `ansible-playbook -vvvv <pb.yaml>`

Finally grep the log file with `grep ansible.log -e "^<"` and add that to this issue?

Th

[2017-02-24 12:34] xandr2 opened #21893 "Gathering facts, zero division error in get_cpu_facts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module setup (ansible/module_utils/facts.py)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I have a lot of hosts and problem only with one. I updated ansible couple of time and didn't test changes on this host.

##### OS / ENVIRONMENT

[code]

##### SUMMARY

When I run command:
[code]
everything work fine, but when i run playbook or jus

[2017-02-24 12:54] gundalow commented on #18456
@frenzymadness Thanks for the offer of help.
Hi, no spreadsheet exists yet
@abadger Are you aware of any modules that need some Python 3 work?

[2017-02-24 13:10] kladiv commented on #15789
+1 about "keyserver-options" of apt_key module

[2017-02-24 13:39] gundalow commented on #21835
Confirmed https://github.com/ansible/ansible/pull/21841 fixes the issue

[2017-02-24 13:49] #21245 closed, assigned to privateip

[2017-02-24 13:54] s-hertel commented on #21796
Patches are always welcome! Unfortunately, since it is stable we can't change the interface because that will break playbooks and make people sad. You may want to check out the [s3_sync module](https://docs.ansible.com/ansible/s3_sync_module.html) since it only operates on objects and can't delete buckets.

[2017-02-24 13:57] jonatanblue commented on #21796
@s-hertel The current version also lets them accidentally delete S3 buckets, which arguably would make them more sad.

[2017-02-24 14:01] gundalow opened #21895 "module_utils/nxos.py: NameError: global name 'commands' is not defined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_

##### ANSIBLE VERSION
[code]

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-02-24 14:04] gundalow commented on #21895
[code]

[2017-02-24 14:04] gerhard-tinned commented on #20916
So to clarify this, The inheritance works both ways and that is supposed to be that way?

* I noticed that a group variable that has been set in a group is inherited to its "parent" group (as expected) via the "[GroupA:children]" instruction (from GroupB to GroupA)
* I noticed also the group variables (this sounds non-logical to me) to be inherited from the parent back to the child group (From Gro

[2017-02-24 14:07] hryamzik opened #21896 "Feature idea: persist handlers"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
handlers

##### SUMMARY

Current issue with handlers is that you lose them once playbook execution stops for some reason, it may be an problem with playbook itself or a connection termination. Ansible puts failed hosts to a retry file – why not to save handler names as well to capture them on next execution?

[2017-02-24 14:08] gundalow commented on #21835
Though this has exposed https://github.com/ansible/ansible/issues/21895

[2017-02-24 14:21] ryansb commented on #21796
The current behavior is documented, and changing the API would break existing playbooks which is against the `stableinterface` definition. The `s3_sync` module is also available, and performs many of the same operations on objects with an eye towards batch operations on many files/objects. That module operates only on objects, so would avoid any chance of accidental bucket operations.

[2017-02-24 14:36] MikeStankavich commented on #20392
@jimi-c Thanks for the followup. So what that means is that we can get the desired behavior with `default(false)`, as the variable containing an empty string evaluates to falsy, thus triggering the default. That's more concise than the `var is defined and var != ''` that I have been using.

So just to close the loop on this, in the case where you want a task to run only when a related variable is

[2017-02-24 14:39] wouterhund commented on #21890
@rcarrillocruz Yes, the behavior remains unchanged.

[2017-02-24 14:44] graingert commented on #21796
Is it against policy to raise an error if an object key is included in the config? That's almost certainly an error

[2017-02-24 14:44] gundalow opened #21897 "Network modules to use `module.deprecate` for deprecated options"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config
eos_config
nxos_config
vyos_config

##### ANSIBLE VERSION
2.3

##### SUMMARY
Ansible 2.3 added in support for `removed_in_version`  in argspec which we should use

This needs to apply to

* All uses to provider (assuming we want people to move away from this now)
* `*_config`: `force:`
* `ops_facts`: `configure` and `endpoints`
* `nxo

[2017-02-24 14:49] amblina commented on #21796
In which case, perhaps a warning should be added to the documentation at the very least, perhaps directing users to use the sync module and warning that the delete mode deletes buckets containing objects?  I suggest this because AWS CLI doesn't allow for the deletion of buckets which contain objects whereas this module does and versioning your bucket can't save you, it's a pretty dangerous action.

[2017-02-24 14:56] davidfischer-ch opened #21899 "Git module do not update local copy if tag ref is updated, but reports diff in check + diff mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module git

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing to declare

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY
1. create a tag like v1.0
2. use git module to "clone" the project with version=v1.0
3. make some commits and push force v1.0 (=changed)
4. use git module to "clone" the project with version=v1.0

Should report

[2017-02-24 14:58] davidfischer-ch commented on #21899
Temporary hack: file: name=/some state=absent before git task.

[2017-02-24 14:58] mrcamp commented on #9065
I know that it's been 2.5 years and that Ansible will probably never look at this, but I'm just going to add my frustration with this. Why allow users to put a host in multiple groups if you can't use the groups separately?

[2017-02-24 15:05] bcoca commented on #21897
the module.deprecate is not for deprecatng modules, that is what the rename with leading`_` is for, it is for deprecating options in those modules.

[2017-02-24 15:08] gundalow commented on #21897
Correct, and that's what this ticket is about

[2017-02-24 15:09] gundalow commented on #21897
Updated subject to make that clearer

[2017-02-24 15:11] bcoca commented on #20916
- There is no inheritance across groups, variables get assigned to hosts via group membership.

- A host in a child group is automatically member of parent groups, it will get variables from both, in any conflict a child group's variable overrides the parent.

- host variables override group variables

- inventory variables (group or host) do not override play variables, 'connection variables' do

[2017-02-24 15:13] krzkaczor commented on #20492
It is fixed in the newest version `2.2.1.0`. Just upgrade your clients with:
`pip install ansible -U` (add `-user` if you ran into permission problems)

[2017-02-24 15:17] gundalow opened #21900 "nxos_command: results.result[0] -> result.stdout[0]"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_command
##### ANSIBLE VERSION
[code]

##### SUMMARY
This change may be correct, though it is a change in functionality...

In 2.2

[code]

in 2.3 that's changed to
[code]
ie `result.result[0]` to `result.stdout[0]`

[2017-02-24 15:19] mindojo-victor commented on #9065
That's my problem with Ansible devs. Looks like they think only about themselves. They could at least try make the frustration less issuing some warnings. They instead prefer to spit.

[2017-02-24 15:21] iranzo commented on #19466
I didn't even managed to make it work by specifying the alphanumeric pool ID, system just gets registered but not attached to pool.

Running subscription-manager attach --pool=$ID with the same from CLI works fine.

Thanks

[2017-02-24 15:24] yeukhon commented on #20447
@sirkubax  are you working on this? What's your plan to address this, just curious?

[2017-02-24 15:29] phil-dileo opened #21901 "eos_command: TypeError: 'ModuleStub' object has no attribute '__getitem__'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_command

##### ANSIBLE VERSION

[code]
Installed via: `pip install git+git://github.com/ansible/ansible.git@stable-2.2`

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
`Linux faee455d4c00 4.9.4-moby #1 SMP Wed Jan 18 17:04:43 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
[code]

##### SUMMARY
The eos_command module fails to run.  This same ex

[2017-02-24 15:37] rcarrillocruz commented on #21890
K, let me reproduce this on devel and your current version.

[2017-02-24 15:39] jctanner commented on #21845
**UPDATE**

[code]

After fixing a few bugs and adding task_vars to the features list.

[2017-02-24 15:40] rcarrillocruz commented on #21893
Mind pasting the entire 'cat /proc/cpuinfo' ?

I could maybe mock it to looks like yours in order to reproduce.

Thanks

[2017-02-24 15:48] gundalow opened #21902 "eos: connection: TypeError: argument must be string or read-only character buffer, not None"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_command

##### ANSIBLE VERSION
[code]

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-02-24 15:52] jctanner commented on #21799
@JusticeForMikeBrown I'm a little confused. Based on your description, "ldif" is a dictionary and you are trying to substitute a dictionary into a filepath. Shouldn't it be {{ ldiff.name }} or {{ ldiff.gid }} to access the values of one of the keys instead of the entire dict?

needs_info

[2017-02-24 16:08] gundalow opened #21903 "eos_config: not idempotent with src:"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
[code]

##### SUMMARY

##### STEPS TO REPRODUCE
 time ANSIBLE_ROLES_PATH=targets  ansible-playbook -vvvvv  -i  inventory.network-jobarker eos.yaml  -e "limit_to=eos_config"

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-02-24 16:17] s-hertel commented on #21796
amblina: You're right, enough of a distinction to document the difference between the AWS CLI delete bucket and the s3 delete bucket isn't clear enough. I'll make a PR to include a warning in the documentation.

[2017-02-24 16:18] mgedmin opened #21904 "cron: state=absent is not idempotent (always reports changed)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cron

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian GNU/Linux 8.6 (jessie) on the target

##### SUMMARY

The following task
[code]

always reports `changed`, no matter how many times you run it.

[2017-02-24 16:19] alikins commented on #19466
Not sure how to fix this. The 'pool' argument is currently used as a catch all glob for pools and products, which is mostly wrong (matches too eagerly against product name and now also pool id).

Making it just match against pool id is a closer match to subscription-manager itself, but it would also break matching on "pool: 'Some Product Name From The Pool Blurb'"

subscription-manager itself can

[2017-02-24 16:32] danvaida commented on #21865
@willthames see PR.

[2017-02-24 16:34] iranzo commented on #19466
That seems to be a good approach, you can force pool ID if you want it, or use the regexp if doesn't alternatively, a new parameter like pool_id: would use the ID and keep the current one as regexp not to break current playbooks.

[2017-02-24 16:51] gundalow opened #21908 "eos_eapi: http_port not set/read correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_eapi

##### ANSIBLE VERSION
[code]

##### SUMMARY
[code]
isn't setting ` http_port` to 81

##### STEPS TO REPRODUCE
 time ANSIBLE_ROLES_PATH=targets  ansible-playbook -vvvvv  -i  inventory.network-jobarker eos.yaml  -e "limit_to=eos_eapi"

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-02-24 17:06] KITSDwarikaPrasad opened #21909 "Ansible 2.3 devel from git - ansible-playbook command failing with message meant for ansible command "Usage: ansible <host-pattern> [options]""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL , kernel - 2.6.32-642.11.1.el6.x86_64

##### SUMMARY

I just update from ansible 2.2 to ansible 2.3 with code cloned from git devel branch.
Now the same old ansible-playbook command for ansible 2.3 is not working and giving error  like it is fail

[2017-02-24 17:15] philfry opened #21910 "yum module doesn't clean up tmp files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
the yum module doesn't clean up `tempdir` when installing an rpm from a url.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-02-24 17:20] jimi-c commented on #21845
Current precedence with the above patch in place:
[code]

[2017-02-24 17:31] alikins commented on #19466
https://github.com/ansible/ansible/pull/21911 is a first pass at that approach.

May also try adding a 'pool_id and pool_name' fields. Though, I'm also tempted to only support pool_name matches when a version of subscription-manager that supports --matches is available.

[2017-02-24 17:32] #21632 closed, assigned to nobody

[2017-02-24 17:33] #18236 closed, assigned to alikins

[2017-02-24 17:35] #20264 closed, assigned to alikins

[2017-02-24 17:55] Lujeni commented on #21766
Hello,

I am able to reproduce the bug on linux mint and the version 2.1.1 (stable mint version i guess)
The bug is not present on ubuntu. It's seem the module try to parse source repository with the default class instead.

However, on the devel branch, the bug seems fixed.

@julenpardo can you try with the new version pls?

[2017-02-24 17:57] Lujeni commented on #20345
Hello @olgalik @abadger @dwdraju,

I am able to reproduce the bug on linux mint and the version 2.1.1 (stable mint version i guess)
The bug is not present on ubuntu. It's seem the module try to parse source repository with the default class instead of a the ppa compliance parser.

However, on the devel branch, the bug seems fixed.

@olgalik  you try with the new version pls?

[2017-02-24 18:07] codegastudio commented on #20638
@flowerysong big thanks!
Have an issue any way :/
All process work fine but when i try to connect on my website, browser tell me than i have a certified not approved.

Any idea ?

[2017-02-24 18:08] alikins commented on #20043
And fixed in https://github.com/ansible/ansible-modules-core/pull/5160 and
https://github.com/ansible/ansible/pull/21113

[2017-02-24 18:23] #21895 closed, assigned to privateip

[2017-02-24 18:38] naftulikay commented on #21763
@abadger I have tried it out with the newer 2.2.1 and it is fixed. I am closing as fixed by that version.

[2017-02-24 18:38] #21763 closed, assigned to nobody

[2017-02-24 18:51] anryko opened #21914 "to_bool filter functionality extension"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

plugins/filter/core.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Ansible bool filter behavior was surprising to me. After investigating YAML standard I understand the motivation behind this implementation. However, IMHO it would be useful to step over YAML limitations and extend ```|bool``` f

[2017-02-24 18:56] flowerysong commented on #20638
@codegastudio The module uses the Let's Encrypt staging environment by default, which returns certificates signed by an untrusted root but has relaxed rate limiting. Once you have things working, you should set `acme_directory: https://acme-v01.api.letsencrypt.org/directory` to get a certificate signed by the real root.

[2017-02-24 19:13] nitzmahone opened #21915 "script won't run batch files on Server 2008"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
script

##### ANSIBLE VERSION
2.3.0 devel

##### SUMMARY
Batch scripts refuse to run under Server 2008 (not R2+). No output, no error. It appears to be related to default UTF8 codepage- if switch to 437 or other non-Unicode CP, it works fine. Old exec wrapper had a special case for .bat, we'll need to figure something out. Not just win_script, f

[2017-02-24 20:18] #21803 closed, assigned to nobody

[2017-02-24 20:56] cognifloyd opened #21918 "portage module add state: latest (equivalent to state:emerged, update: yes)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`portage` module
(Indirectly via the `package` module)

##### ANSIBLE VERSION

[code]

_Edit: Note that my test yaml (below) doesn't actually run on 2.2.1.0 as 0c320e1 is only in devel._

##### CONFIGURATION
/home/cognifloyd/.ansible.cfg:
[code]

##### OS / ENVIRONMENT
Gentoo
/etc/gentoo-release:
[code]

##### SUMMARY
I have a playbook that us

[2017-02-24 22:18] bcoca commented on #21914
something like `|to_bool('python')` to force 'python truthiness' ?

[2017-02-24 22:19] rogerscuall opened #21924 "The module nxos_rollback not working."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_rollback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg
[defaults]
inventory = hosts
##### OS / ENVIRONMENT

- Centos 7 is the VM machine
- Nexus 9000 nxos.7.0.3.I2.2d.bin is the remote host.
##### SUMMARY

I'm running the module nxos_rollback to create a checkpoint, I got back that the module ran successfully but there

[2017-02-24 22:37] #20692 closed, assigned to nobody

[2017-02-24 23:25] cognifloyd opened #21928 "Feature request: Enable squash action for portage module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`portage` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
/home/cognifloyd/.ansible.cfg:
[code]

##### OS / ENVIRONMENT
Gentoo
/etc/gentoo-release:
[code]

##### SUMMARY
Please enable squash action for portage module.

0c320e1 made it possible to use squash via the package module (see [extras pull 3556](https://github.com/ansible/an

[2017-02-24 23:28] bcoca commented on #21928
you can set `squash_actions` in ansible.cfg or ANSIBLE_SQUASH_ACTIONS environment var

[2017-02-25 06:34] elnur commented on #9966
Installing the `ca-certificates` APT package in LXC containers solved the issue for me.

[2017-02-25 08:50] xuchen81 opened #21945 "pip install latest devel branch fails."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

local: Mac OS
remote: Ubuntu 14.04
Remote git version: git version 1.9.1

##### SUMMARY

Looks like when I run this for the first time without /srv/example/virtualenvs/provisioner/src/devel directory, it will be successful, and then it will fail if I run it again

[2017-02-25 09:01] jhawkesworth commented on #21915
Just a thought, IIRC s2008 came in 32 bit and 64 bit versions.  We aren't picking up a 32 bit one on the tests are we?  While it should work either way, just wondering if there's some subtle difference that's stopping this particular case.  Since all the other versions work expect this one it feels like it might environmental.  (I don't have non-R2 s2008 to try against at the moment unfortunately)

[2017-02-25 09:10] nitzmahone commented on #21915
Nah, it's definitely the encoding (I tested on 64bit 2008)- if I chcp or change the console out encoding to ASCII first, it starts working (the old exec wrapper had a hardcoded case to do exactly that if the cmd ended in .bat/.cmd). I can fix it for script/raw pretty easily (which would get it to match 2.2 behavior), but it'd still happen under shell/command (as it would have before), and will als

[2017-02-25 09:18] hai-ld commented on #12086
:+1: on forks

[2017-02-25 10:42] codegastudio commented on #20638
@flowerysong 🥇 wonderful!

[2017-02-25 12:22] joniba commented on #12677
1 year later. Has anyone gotten this working? Could someone post a working example?

[2017-02-25 14:22] codecowboy commented on #20500
Is there a.workaround I can use in ansible 2.3? I'm using a playbook from a third party (trellis from roots.io)

[2017-02-25 14:46] harobed commented on #20492
This patch isn't present in Ansible `2.2.1.0`.

[2017-02-25 16:32] thomwiggers opened #21951 "Unarchive module doesn't work with python 3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A (Arch Linux)

##### SUMMARY

The unarchive module fails on binary files:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Unarchived

##### ACTUAL RESULTS

Crash, see above.

[2017-02-25 16:42] sauravg commented on #16354
I had the same "Failed to connect to the host via ssh" issue where I could ssh at the terminal but ansible couldn't. The root cause was this

I replaced the aws ec2 hostname in my hosts file with its IP address and things started flowing again. I guess if you shorten it by using Host + HostName entries in ~/.ssh/config, it would work too. But I didn't try.

[2017-02-25 16:48] sauravg commented on #15321
I extracted the full ssh command executed by ansible-playbook by adding "-vvvv" to its command-line, and ran it manually. It printed this out at the end:

Replacing the EC2 hostname with its IP in the hosts file fixed it for me.

[2017-02-25 17:01] danbohea commented on #20500
I've just re-triggered the build mentioned above (that failed with this error) following the recent merge of https://github.com/ansible/ansible/pull/20349 into `devel`. It's not complete yet but it's already passed the point at which it originally failed - looks promising:

https://travis-ci.org/danbohea/macsible/jobs/196672627

[2017-02-25 17:14] danbohea commented on #20500
OK that build failed but for an unrelated reason. My opinion is that https://github.com/ansible/ansible/pull/20349 fixes this issue. Closing.

[2017-02-25 17:14] #20500 closed, assigned to nobody

[2017-02-25 18:48] wltjr commented on #21918
Ok I can see about adding support for latest, which will just add the update flag to emerge. Basically same as doing update=yes but will be the same for other modules for consistency.

[2017-02-25 20:20] #21902 closed, assigned to Qalthos

[2017-02-25 20:44] djfang commented on #19600
any progress with this issue? any workaround here?

[2017-02-25 21:06] smemsh commented on #21890
I can confirm, here's my own test case:
[code]

applying this patch fixes it:
[code]

[2017-02-25 21:40] #21903 closed, assigned to Qalthos

[2017-02-25 22:18] #21908 closed, assigned to Qalthos

[2017-02-26 01:36] anryko commented on #21914
Theoretically this is a breaking change. However, I really doubt that somebody is checking ```|bool``` of not empty dict and relies ```false``` :).
Custom filter is an option too, but ```|to_bool('python')``` looks too verbose for my taste. In case of custom filter I would prefer ```|pybool``` or ```|boolpy``` or ```|boolean```.

[2017-02-26 02:06] patran commented on #21639
If you rename ansible_user to "dansible_user", it will work. I don't think it is related to "-u"

[2017-02-26 02:14] #21848 closed, assigned to Qalthos

[2017-02-26 03:22] sivel commented on #21914
I prefer the arg to the existing `bool` filter.  It could be either `bool('python')` or my preference would be `bool(python=True|False)` with the default being False

[2017-02-26 04:26] McBadass opened #21958 "vsphere_guest - Add the ability to use an actual vSphere Template when defining template_src"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
cloud/vmware/vsphere_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.10

##### SUMMARY
When defining template_src within vsphere_guest, Ansible is expecting a vm object, not a template object.  If a template is specified, the task fails.  It would be nice to be able to speicify an actual template w

[2017-02-26 05:25] yabhinav commented on #21622
+1

faced similar issue when selinux is not installed on centOS6

[code]

[code]

[2017-02-26 05:34] privateip commented on #18968
I was able to replicate the issue merged https://github.com/ansible/ansible/pull/21954 to fix it.  All nxos_facts integration tests are now passing

[2017-02-26 10:20] robinro commented on #21904
I'm able to reproduce this.

This is a regression, that was introduced (if I didn't mess up the bisect) in ansible/ansible-modules-core@b0c94e957ecffad4d96ec6c8723289a7cd2807e9
@EvanK @mscherer

[2017-02-26 11:48] r0bj opened #21965 "serial cause play to fail after one failed host"
- Bug Report

[code]

##### CONFIGURATION
ansible.cfg:
[code]

hosts:
[code]

##### OS / ENVIRONMENT
Mac OS: 10.12.3

##### SUMMARY
Using `serial` cause play to fail after one failed host.
Without use of `serial` play works ok, only one host fail.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

All hosts are processed except the failed one.

##### ACTUAL RESULTS
[code]

Whole pla

[2017-02-26 12:25] onitake commented on #13680
Ok, try 2. With this patch, I set all the preservation options and the 'mode' as deprecated, but kept fallbacks for the old options: https://github.com/onitake/ansible/pull/1/files

Still needs a bit of testing though.

[2017-02-26 12:56] jamesmontalvo3 opened #21967 "match and search filters missing documentation"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
jinja filters docs

##### ANSIBLE VERSION
N/A

#### SUMMARY
Neither the Filters documentation [1] nor the Jinja2 docs [2] that Filters docs reference mention the `match` or `search` filters. Those filters are mentioned in the Tests documentation [3], but only briefly.

This is a documentation issue only.

[1] http://docs.ansible.com/ansib

[2017-02-26 13:36] pavelzag commented on #15706
Experiencing it with 2.2.1.0
TASK [setup] *******************************************************************
Using module file /usr/lib/python2.7/site-packages/ansible/modules/core/system/setup.py
<console.pavelz.io> ESTABLISH SSH CONNECTION FOR USER: root
<console.pavelz.io> SSH: EXEC ssh -C -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentication

[2017-02-26 14:38] onitake commented on #13680
Please disregard PR #21968 for now; I submitted it by accident.
My apologies.

[2017-02-26 15:31] sivel commented on #21967
They  are actually tests and not filters, so they are documented in the correct place.  What additional documentation are you looking for?

[2017-02-26 16:30] jctanner commented on #16354
@sauravg 2.3 should fix that problem by default https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg#L318-L321

[2017-02-26 17:15] McBadass commented on #21958
I just realized this has been resolved by switching to vmware_guest instead of using vsphere_guest.  Apologies.  Closing.

[2017-02-26 17:15] #21958 closed, assigned to nobody

[2017-02-26 17:37] fia5000 commented on #21735
I am able to replicate this with 2.2.1.0.

[2017-02-26 18:49] gerhard-tinned commented on #20916
So this wrong behaviour is only because the GroupB does not specify the ansible_become_method variable?

I understand what you explain. But this behaviour still does not make any sense.

[2017-02-26 19:54] krzysztof-magosa commented on #20916
You have `groupB` and `groupC`, both belong to `groupA`.
They don't have own value for `ansible_become_method` so it's "inherited" from parent group.
What's wrong here?

[2017-02-26 20:54] varunkukreja131 opened #21973 "Error : Insufficient RAM while installing ansible tower"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Ansible Tower Setup Process

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-02-26 21:05] sivel commented on #21973
For tower inquiries please utilize https://support.ansible.com/ for support.  This repository is for the open source ansible project.

[2017-02-26 21:05] #21973 closed, assigned to nobody

[2017-02-26 21:45] snowsky commented on #21899
I should not be using the same steps. I got:
TASK [Clone some] **************************************************************
changed: [localhost]

I created a tag and push the changes to master branch, but still got "changed" result as above.

[2017-02-26 21:50] KellerFuchs opened #21974 "OpenSSL_{public,private}key do not expose the key's fingerprint(s)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Modules openssl_privatekey and openssl_publickey

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian “Stretch” (current testing release, undergoing freeze)

##### SUMMARY
The modules `openssl_privatekey` and `openssl_publickey` should provide, as returned values, the pubkey's hash, under various algorithms (say, SHA-1, SHA-256 and SHA

[2017-02-26 21:58] snowsky commented on #21467
See here: http://unix.stackexchange.com/questions/108169/what-is-the-difference-between-m-conntrack-ctstate-and-m-state-state

[2017-02-26 22:14] davidfischer-ch commented on #21899
Hello,

Can you create a tag v
Execute playbook to deploy version=v1
Then change something, commit, overwrite tag (git tag -f v1 / git push -f origin v1)
Execute playbook and see no change reported

[2017-02-27 00:13] bonuscheese commented on #21553
Thanks for looking at this.

I can't really explain the difference in results actually, what you have looks the same as my setup. I even targeted a new ELB with the same ping target (HTTP:80/) and received the same result.

I thought maybe my installation of Ansible hadn't updated the module correctly, but even when using the module's code that's currently available on Github I still receive the s