[2018-11-22 16:12] assarbad commented on #49028
!component +ansible/module_utils/basic.py

[2018-11-22 16:18] assarbad commented on #49028
Dang ...

!component +lib/ansible/module_utils/basic.py
!component -ansible/module_utils/basic.py

[2018-11-22 16:56] kbreit opened #49030 "digital_ocean_tag_facts - KeyError when querying tag"
##### SUMMARY
`digital_ocean_tag_facts` seems to encounter a `KeyError` when specifying `tag_name` parameter. This happens whether or not the tag actually exists. When I remove the `tag_name` parameter it works just fine.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
digital_ocean_tag_info

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS 10.13.6

#####

[2018-11-22 16:57] bartoszcisek commented on #48439
My bad, `include` directive behaves strangely when added at te end of file.

[2018-11-22 17:02] #45391 closed, assigned to nobody

[2018-11-22 17:03] gundalow commented on #45391
https://github.com/ansible/ansible/pull/47817 has been merged into `devel`, fix will be released in Ansible 2.8

[2018-11-22 17:51] endorama opened #49032 "acme_certificate challenge_data.resource_value has wrong quotation marks for AWS Route53"
##### SUMMARY

The `acme_certificate` example related to Route53 DNS-01 validation for ACME challenge explicitly states that *route53 requires TXT entries to be enclosed in quotes*.
Running the code in the example leads to an error from AWS APIs:
[code]
Searching the [AWS documentation](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/ResourceRecordTypes.html#TXTFormat) it seems that **do

[2018-11-22 19:03] evgeni opened #49034 "package_facts relies on the module being importable to detect which package manager to use"
##### SUMMARY
to detect which packaging backend to use, `package_facts` tries to import the relevant Python module and if it's importable it decides that *this* it the backend to use:

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
package_facts

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Debian

##### STEPS TO REPRODUCE
* `apt install python-rpm`
* `ansible -m package_facts

[2018-11-22 19:55] jlozadad commented on #48998
ok changed it to your recommendation and get this error now:
[code]

[2018-11-22 20:06] jborean93 opened #49036 "Unstable integration test win_credential"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_credential integraiton test

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Shippable

##### STEPS TO REPRODUCE
Run tests on Shippable

##### EXPECTED RESULTS
Tests pass

##### ACTUAL RESULTS
Tests are unstable or fail

[code]

For some reason the credential is not being removed but the module still reports a ch

[2018-11-22 20:35] mkesper commented on #48859
So maybe those plugins should better trigger a message (or not) as they possess any useful info?

[2018-11-22 21:08] kbreit opened #49038 "Support for Digital Ocean projects"
##### SUMMARY
Digital Ocean announced a new API for projects (https://developers.digitalocean.com/documentation/changelog/api-v2/introducing-the-projects-api-beta/). It is currently in beta, but it would be nice to have an Ansible module to support provisioning of projects and project resources.

##### ISSUE TYPE
- Feature request

##### COMPONENT NAME
digital_ocean_projects

[2018-11-22 22:44] stawii commented on #44933
Come on, last one was not even close to maintainable code ;)
In simple cases I have something close to:
[code]
Hard ones are just more complex structures, domain-specific - cannot paste them here.

[2018-11-22 23:11] sugitk opened #49039 "ansible_processor_* seems wrong on Amazon EC2"
##### SUMMARY

ansible_processor_* seems wrong on Amazon EC2

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible/lib/ansible/module_utils/facts/hardware/linux.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 6.5, RHEL 6.10 on Amazon EC2

##### STEPS TO REPRODUCE

[code]

I suppose that this `xen_paravirt` should be `False`, because `vme` flag e

[2018-11-22 23:41] kokasha opened #49041 "any_errors_fatal is not working as expected with block/rescue"
##### SUMMARY

The option "any_errors_fatal" on a block level should (if a single node fails) have all nodes to fail and then execute "rescue" in all nodes. There was a previous discussion regarding this same issue (https://github.com/ansible/ansible/issues/14024) and it should be fixed since release 2.0, however, testing with release 2.7.2 i can see that the behavior is not as expected.

##### IS

[2018-11-23 00:03] niko2 opened #49042 "Using list for nameccccccevilhbjgghblndvihjvcufbkngubdchtrvihrn"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-11-23 00:03] #49042 closed, assigned to nobody

[2018-11-23 00:12] niko2 opened #49043 "Apt module fails when replacing a loop by a list for name parameter"
##### SUMMARY
As suggested by this warning
[code]
I tried to replace the loop with this list
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux Mint 18 as control host
Debian 9.6 as target host

##### STEPS TO REPRODUCE

[code]
replaced by

[code]
or by
[code]
produces same error (see below)

##

[2018-11-23 01:31] ghost opened #49044 "No more variables left in this MIB View when using snmp_facts"
##### SUMMARY
ValueError: invalid literal for int() with base 10: 'No more variables left in this MIB View' when attempting to use snmp_facts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/modules/net_tools/snmp_facts.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS 10.14

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expect

[2018-11-23 01:34] TrentLewisAU commented on #49044
Removing the int has the unintended side effect of causing the following to be added to the ansible_facts output
[code]

[2018-11-23 01:45] PikachuEXE commented on #49012
`/users/pikachuexe/projects/spacious/spacious-rails/ansible/filter_plugins` folder used to store old version of `combine` filter (before it was introduced) and is now empty. Please ignore it

jinja2 version:
[code]

Issue is gone after setting `jinja2_native` to `False`
But it's required to be `True` to solve #38148

[2018-11-23 01:54] yungezz commented on #43416
@yuwzho  HI Yuwei,  could you pls help to have a look at this issue? there're several duplicate issues.

[2018-11-23 01:57] yungezz commented on #48723
easyfix

[2018-11-23 01:58] yungezz commented on #48725
@zikalino  HI Zim,  could you pls look and fix the issue?

[2018-11-23 01:59] yungezz commented on #43416
duplicate https://github.com/ansible/ansible/issues/39958

[2018-11-23 02:01] yungezz commented on #46207
@rnowagk  new inventory  is ready at https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/azure_rm.py, with better performance and latest new features. Could you give it a try and let us know if any other feedback?  This inventory script contrib/inventory/azure_rm.py  is in maintenance mode: only critical bug fixes but no new features.

[2018-11-23 02:02] yungezz commented on #46207
if no object, will close this one as won't fix.

[2018-11-23 02:03] yungezz commented on #47226
I'll look at it

[2018-11-23 02:05] yungezz commented on #48415
@zikalino  could you pls look at this issue?

[2018-11-23 02:06] yungezz commented on #42716
close for now since no determined plan on when to support Azure stack for now. will revisit those issues when proper time.

[2018-11-23 02:06] #42716 closed, assigned to nobody

[2018-11-23 02:07] yungezz commented on #42670
close for now since no determined plan on when to support Azure stack for now. will revisit those issues when proper time.

[2018-11-23 02:07] #42670 closed, assigned to nobody

[2018-11-23 02:07] yungezz commented on #42660
close for now since no determined plan on when to support Azure stack for now. will revisit those issues when proper time.

[2018-11-23 02:07] #42660 closed, assigned to nobody

[2018-11-23 02:07] yungezz commented on #42658
close for now since no determined plan on when to support Azure stack for now. will revisit those issues when proper time.

[2018-11-23 02:07] #42658 closed, assigned to nobody

[2018-11-23 02:07] yungezz commented on #42652
close for now since no determined plan on when to support Azure stack for now. will revisit those issues when proper time.

[2018-11-23 02:07] #42652 closed, assigned to nobody

[2018-11-23 02:50] PikachuEXE commented on #49012
Sorry forgot to attach the diff

[nginx.conf.diff.txt](https://github.com/ansible/ansible/files/2609581/nginx.conf.diff.txt)

[2018-11-23 03:09] kbreit commented on #29740
Any update on this?

[2018-11-23 03:26] #47358 closed, assigned to yungezz

[2018-11-23 04:11] Fred-sun commented on #39958
@guillemsola Thanks for your update, I see.

[2018-11-23 04:32] Fred-sun commented on #33943
@yungezz Please help take a look this issue, It can be closed temporarily.  because it unable create VM on Azure Stack. Thanks!

[2018-11-23 04:34] Fred-sun commented on #42723
@yungezz Please help take a look this issue, It can be closed temporarily.  because it unable create VM on Azure Stack. Thanks!

[2018-11-23 05:21] #42723 closed, assigned to nobody

[2018-11-23 05:29] yungezz commented on #47226
fixed was made in referenced PR. close it for now. pls open it if you still met the failure.

[2018-11-23 05:29] #47226 closed, assigned to yungezz

[2018-11-23 05:46] yungezz commented on #47111
@santos101 thanks for reporting the issue. are you using same region when using azure_rm_deployment module and az cli?  same service principal?

[2018-11-23 05:47] Fred-sun commented on #42407
@zikalino Could you help take a look this issue? Thanks!

[2018-11-23 05:51] yungezz commented on #40619
@thefueley thanks for reporting the issue. old inventory script /contrib/inventory/azure_rm.py is in maintenance mode: only critical bug fixes but no new features. There's new Azure external inventory script at https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/azure_rm.py, with better performance and VMSS supported already. Pls give it a try and let us know if any feedbac

[2018-11-23 05:51] #40619 closed, assigned to nobody

[2018-11-23 05:53] #39006 closed, assigned to nobody

[2018-11-23 05:54] Fred-sun commented on #43802
@yungezz Could you help recheck this issue? how about the issue going ahead? Thanks!

[2018-11-23 06:04] machacekondra commented on #48998
@jlozadad  Can you please share the whole output? Please note that in `disks` parameter you can specify only disks you want to _attach_ to VM, if you want to create disk, you should first create it via `ovirt_disk` module. For example like:

[code]

[2018-11-23 06:05] machacekondra commented on #48998
But I see you use template, so I think you should just remove the whole `disks` section. If you don't need any additional disks, then those which have the template.

[2018-11-23 06:48] yungezz commented on #43802
will add it in ansible 2.8 release

[2018-11-23 06:50] akr257 commented on #49021
I believe this issue was caused due to the MaxMemoryPerShellMB setting. This was originally configured as 300MB. I have increased that to 2048MB and that seems to help.

[2018-11-23 06:50] #49021 closed, assigned to nobody

[2018-11-23 06:58] yungezz commented on #40857
@vpopescu thanks for reporting the issue. you're right to update FUNCTIONS_EXTENSION_VERSION,  you should set it in app_settings. due to bug in existing function app module, it fail. we'll fix it.

[2018-11-23 06:58] #26195 closed, assigned to yungezz

[2018-11-23 06:59] #30392 closed, assigned to nobody

[2018-11-23 07:00] UptheCherries opened #49048 "Allow multiple ansible_become_exe options based on local server"
##### SUMMARY
Some organisation have large heterogeneous environments with multiple authentication and authorisation systems, whilst SSH can negotiate what to use for authentication it is not always possible to determine from reference data/asset registers whether to use sudo, dzdo, suexec or a couple of other SUID programs to get to a privileged user
.
Allow options to be tested for in ansible_be

[2018-11-23 07:30] yungezz commented on #31867
inventory script /contrib/inventory/azure_rm.py is in maintenance mode: only critical bug fixes but no new features. There's new Azure external inventory script at https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/azure_rm.py, with better performance and latest new features.  Could you pls give it a try?

[2018-11-23 07:35] yungezz commented on #33943
duplicate_of https://github.com/ansible/ansible/issues/42723

[2018-11-23 07:41] yungezz commented on #34047
will add it to coding guideline https://github.com/ansible/community/wiki/Azure-Module-Guidelines. close this issue for now,  the work should be tracked by  specific issue, code reviewing process, and coding guideline in general.

[2018-11-23 07:41] #34047 closed, assigned to nobody

[2018-11-23 07:45] #33943 closed, assigned to nobody

[2018-11-23 07:54] jborean93 commented on #49021
Tha is for the confirmation, you can also use async to escape these limitations but it sounds like the aws s3 executable needs some work in optimising itself.

[2018-11-23 08:14] jhawkesworth commented on #47707
I am happy to test too when there is something to try out.
I don't know enough to make any useful suggestions about implementation.  I suppose its obvious to say that it would be possible to lash up something using a callback plugin although it wouldn't be something you'd want for a final implementation it might be enough to see if there are peformance gains to be had.

[2018-11-23 08:15] jhawkesworth commented on #47707
@dagwieers - I thought you might be interested in this thread too.

[2018-11-23 08:36] kennashka opened #49049 "NPM module is not installing project dependencies"
##### SUMMARY
I would like to use npm install module but it is not working as expected, I had to use command module to install my project dependencies. I have tried multiple times with removing and adding some of the parameters options such as production and global but nothing seems to work. Please assist with this.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
npm

##### ANSIBLE VERSION

[

[2018-11-23 08:55] mkrizek commented on #49012
Name: Jinja2
Version: 2.9.6

OK, so this explains it, `jinja2_native` requires `Jinja2 >= 2.10`, please see https://docs.ansible.com/ansible/2.7/reference_appendices/config.html#default-jinja2-native

As per above, I am going to close this.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2018-11-23 09:10] justjais commented on #47531
fix for the issue was raised in PR ##48859 and is merged in devel, also the contributor has raised a PR having unit test for the `cname_record`. So, closing this respective bug and will keep an eye on the PR #47535 as it's waiting for `nios_container` update which will ultimately resolve the shippable errors the PR is having and can be merged

[2018-11-23 09:11] #47531 closed, assigned to justjais

[2018-11-23 09:14] vutkin opened #49050 "seport: Not able to manage ports with selinux"
##### SUMMARY
Reproduced in AWS scenario (with enabled) selinux

Preinstalled packages:

"policycoreutils-python"
"libsemanage-python"
"libselinux-python"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/system/seport.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 6 latest from aws
Python 2.6.6
##### STEPS TO REPRODUCE

[code

[2018-11-23 09:46] mkrizek commented on #49012
Which it does.

OK, so this is duplicate of https://github.com/ansible/ansible/issues/46113.

After looking at your `pip show Jinja2` output more closely, it looks like you ran that command on the managed node (Ubuntu in your case) while templating is done on the controller (MacOS). So it seems like you do have Jinja2 `2.10` installed on your controller. Unfortunately, there is a bug there that is

[2018-11-23 10:03] karlism opened #49051 "media type incorrect on OpenBSD"
##### SUMMARY
Network interface media type in ansible facts is incorrect on OpenBSD

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested from MacOS and OpenBSD Ansible controllers to OpenBSD 6.0 - 6.4 ansible hosts.

##### STEPS TO REPRODUCE

Run ansible setup module against OpenBSD host:

[cod

[2018-11-23 10:04] asanami opened #49052 "Support ssh proxycommand for Bastion hosts in openstack.py dynamic inventory"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

When using the openstack.py dynamic inventory script, it is possible to be able to have ansible provision hosts which do not have a ansible_ssh_host as they are private, and available over a bastion host. Typically this is done in ssh using proxycommand, but its not clear how one would do this in a

[2018-11-23 10:13] ThudsonVITS commented on #31635
Looks like the new version (Nov 18) of Azure_rm.py won't run on python 2.7 - I had to downgrade to a version of Ansible form last year

[2018-11-23 10:15] nicolaibaralmueller commented on #48725
@Fred-sun

Running ansible 2.6.7 and azure_rm_virtualmachine_facts module is not present in this version.

[2018-11-23 10:30] JinlongWukong commented on #26108
hello, is this bug fixed on ansible 2.7? i just met this issue using ansible 2.7

[2018-11-23 11:15] mkrizek commented on #49043
[code]

I assume that `__pve_kernel.old_packages` is a list and that's why it fails because you didn't provide a list of strings (of packages names) but a list of one string and another list.

[2018-11-23 11:51] harbindersinghamido opened #49055 "win_domain is throwing error on InstallDNS was not recognized"
##### SUMMARY

Module : win_domain  is throwing error on InstallDNS was not recognized .

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

 win_domain

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows Server 2016 is the target

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect it to work not only on the first but also on subsequent ru

[2018-11-23 12:32] felixfontein commented on #49032
resolved_by_pr #49031

[2018-11-23 12:33] jlozadad commented on #48998
thank you. Removing the disk area worked.

[2018-11-23 12:33] #48998 closed, assigned to nobody

[2018-11-23 12:56] Inokenty90 commented on #47097
Big tar.bz2 freezing ansible playbook on ansible 2.7.2

[2018-11-23 13:01] #49032 closed, assigned to nobody

[2018-11-23 14:16] webknjaz opened #49060 "dnf moldule's `update_cache: true` mode is broken for Fedora 28+"
##### SUMMARY

It looks like the dnf python API used in this module is either broken upstream or requires additional pre-requisites setup.

Originally reported @ ansible/molecule#1598 by @n-batalha.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/packaging/os/dnf.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Fedora 28, Fedora 29

###

[2018-11-23 14:17] mkrizek commented on #49041
FWIW, introduced in https://github.com/ansible/ansible/commit/ac89b0de7a0cfa0109c598ed253761f553698cb4. Git bisected to fbec2d9692cdbbddda1f6ecb68bbca67e3b783b4 which "broke" the functionality, however the code changed heavily since then that it's not much useful.

[2018-11-23 15:13] netmonk commented on #36600
Totally agree, currently trying to achieve something specific : having 3 inventories for three differents production environment (multi-tenant cloud). I defined a specific ssh relay server in each inventories, to access clients subnet.
im trying know to create an ssh config file wich match each client subnet and their relative ssh relay ip, but i cannot do that with ansible, while all information

[2018-11-23 15:24] #48096 closed, assigned to nobody

[2018-11-23 15:36] IRDonch opened #49070 "docker_container always recreates the container with docker-py 1.9"
##### SUMMARY
When used with docker-py 1.9, the `docker_container` module with `state: started` will always recreate the container when executed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04
Docker 18.09.0
python-docker Ubuntu package of version `1.9.0-1~16.04.1`

##### STEPS

[2018-11-23 15:38] IRDonch commented on #49070
I think the cause is that this version of docker-py doesn't report the value of the `init` setting of the running container, so when the module compares the running container and the expected container it always finds a mismatch of that setting.

[2018-11-23 15:51] ssbarnea opened #49071 "ansible json module for editing json files"
##### SUMMARY
Ansible really needs a JSON module that can edit json file and perform atomic operations like
- add entry (and create path if needed)
- delete entry
- replace entry

##### COMPONENT NAME
json

##### ADDITIONAL INFORMATION
As Ansible is primary a configuration management tool, it needs to be able to alter configuration files in order to enable or disable different features.

`ini` and

[2018-11-23 16:03] ssbarnea opened #49072 "ansible documentation use non standard boolean values"
##### SUMMARY
In order to improve user experience and avoid more errors related to use of strings instead of booleans YAML specification become more strict in time and latest version consideres  only `true` and `false`
as valid bolean values.

Ansible should follow suit and assure that documentation and examples are using only `true` and `false` where boolean values are expected.

This would make

[2018-11-23 16:34] karlism opened #49076 "Incorrect network interface IPv4 data formatting"
##### SUMMARY
Network interface IP data is incorrectly formatted for OpenBSD systems.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

setup module

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### EXPECTED RESULTS

In both cases `ansible_XXX.ipv4` value should be dictionary.

##### ACTUAL RESULTS

On OpenBSD systems `ansible_XXX.ipv4` v

[2018-11-23 16:39] nahun commented on #48697
Thanks @justjais. If only username and password will be supported with environment variables then the docs for the modules will need to be updated as well.

[2018-11-23 16:47] flaper87 commented on #37148
@dminca sadly I haven't been able to maintain it due to a change of focus and lack of time. I'd be more than happy to hand it over if someone steps up for the task.

[2018-11-23 16:59] assarbad commented on #47343
I wholeheartedly agree with this feature request. In fact I was writing up a feature request when this one got recommended.

Could you @dagwieers and @bcoca (as members, not _merely_ contributors) please convene with other members (I assume that's like a group of core contributors) and come up with an exact requirements list. Including a name for the suggested flag, please. Thanks in advance!

I'd

[2018-11-23 17:39] jhawkesworth commented on #49055
@harbindersinghamido what happens when you run the following powershell command on the target windows domain controller?

[code]
Looking at the code I'm guessing the issue is that this part of the module code ...

[code]
is not returning anything for some reason, so $forest is null and it attempts the Install-ADDSForest again.

[2018-11-23 17:41] jhawkesworth commented on #49055
needs_info

[2018-11-23 17:54] niko2 commented on #49043
You're right : `__pve_kernel.old_packages` is a list.
Then, my question is : how to deal with it in order to replace `with_items` loop ?

[2018-11-23 17:58] taikedz opened #49077 "win_package hangs with .EXE installer ; win_shell succeeds"
##### SUMMARY

Installing Python from its EXE installer hangs with no activity when run with `win_package`

Executing the equivalent command using `win_shell` has the desired effect, successfully installs the software as expected.

Tested against python installers for `3.7.1`, `3.7.0`, `3.6.0`, all present the same behaviour

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_package

##### A

[2018-11-23 18:31] morenol commented on #36585
I had this error too, I had to run manually:

`systemctl daemon-reload`

After that I ran the ansible playbook again and it didn't fail.

[2018-11-23 19:25] #47039 closed, assigned to nobody

[2018-11-23 19:34] bcoca commented on #49043
You want something like this:
[code]

[2018-11-23 19:47] felixfontein commented on #49070
@IRDonch thanks for reporting this! I've been able to reproduce this. This has been caused by #48551, which I unfortunately didn't test with all docker-py/docker versions. I already have a fix (I think) and will create a PR shortly, and test it with all docker-py/docker versions.

Out of curiosity: why are you still using docker-py 1.9? We've recently bumped the minimal required version for `docke

[2018-11-23 19:50] niko2 commented on #49043
thank you @bcoca

[2018-11-23 19:50] #49043 closed, assigned to nobody

[2018-11-23 20:20] jamesdh commented on #40816
@artjomaverin I don't see how that would work, because the issue he is describing is across plays, not in the same play.

The root of the problem is that `set_fact` only applies to the given host, not even across the entire group.

I believe `prompt_var` does at least make the variable available to all hosts in the given group (since it is run at the play level and not the task leveL), but once th

[2018-11-23 20:48] wjc19 commented on #47589
i'm also having this issue.

[2018-11-23 21:09] bcoca commented on #49041
@kokasha  In any case your expectation does not match our intended feature.

  - any_errors_fatal produces an immediate and NON recoverable error for all hosts (rescues don't run)
  - any_errors_fatal won't get triggered by a rescued host/task, but will if the rescue itself fails

The behaviour you are looking for can be done with a `fail` or `assert` task in the block that compares `ansible_play_

[2018-11-23 21:10] leedm777 commented on #48859
I agree that the message is confusing. I had no idea what "host_list requirements" are, or what plugin it was talking about.

After reading the [Inventory Plugins](https://docs.ansible.com/ansible/2.7/plugins/inventory.html) docs, I did figure out a workaround. If you configure Ansible with just the inventory plugin you are using, you avoid warnings about files not meeting the requirements of the

[2018-11-23 21:12] bcoca commented on #49072
pyyaml still does not support YAML 1.2 (which still has the option of turning the special booleans on), even then we would need to add a specific pragma to the playbooks and/or stop supporting previous YAML.

[2018-11-23 21:28] #40816 closed, assigned to nobody

[2018-11-24 00:51] kokasha commented on #49041
@bcoca Can you please illustrate more what is the expected behavior that we should see?

The behavior that i was expecting is some sort of a rollback behavior (i run a task/tasks inside the block on a number of hosts) and if this task fails on any host i should run the rescue task on All the hosts in order to rollback all the changes that was implemented in the block tasks.

Also in a previous iss

[2018-11-24 02:47] harrymosco commented on #28649
Hello dav1x;
I have the same problem and I have no resolution yet...can you assist please?

Within vCenter I can clone across clusters, but using ansible it fails. Error as below:
"msg": "Failed to create a virtual machine : Unable to access the virtual machine configuration: Unable to access file [datastore_name] template_name/template_name.vmtx"}

[2018-11-24 07:45] zjcbit commented on #49070
I am using docker 1.10,  but thi issue still occur.

[2018-11-24 07:50] felixfontein commented on #49070
Are you using docker-py 1.10.0 (Docker Python SDK)? This is *not* about the docker daemon, this is about the Docker Python SDK.

[2018-11-24 08:00] zjcbit commented on #49070
I'm sure，I use "yum install python-docker-py.noarch", and it's version is 1.10.6-4.el7。

[2018-11-24 08:16] Chakki13 commented on #33745
I suspect OS 6.10, Ansible 2.6.4 and Python 2.6.6 faces issue when the ansible controller itself is a client, even when I try to manage it via another Ansible controller. Tried upgrading Ansible 2.6.7, still no luck. I guess Python 2.7 will be  a solution ?

Bit confusing... The server [ say ser1 ] in which I see the error, itself is an Ansible controller. Everywhere it works good with same OS and

[2018-11-24 11:52] artjomaverin commented on #40816
Actually, it applies across entire group in the `play`. Nevertheless, in my case it works, because I set `host_vars` equal to `prompt_vars` during the `play` that is executed for all hosts.

[2018-11-24 12:55] evrardjp commented on #26108
This is in progress, see PR #20969 for more details.

[2018-11-24 13:00] Akasurde commented on #22458
resolved_by_pr #49086

[2018-11-24 13:02] jpdasma commented on #49076
Seems that this is designed that way

Taken from module_utils/fact/network/generic_bsd.py (line 152)
`
        current_if = {'device': device, 'ipv4': [], 'ipv6': [], 'type': 'unknown'}

`
ipv4 is initialized as a list and it is being filled up in line 240 by calling append
`
        current_if['ipv4'].append(address)
`

Note ipv6 in linux is also a list, but ipv4 is a dictionary

[2018-11-24 13:07] #37921 closed, assigned to nobody

[2018-11-24 13:33] jpdasma commented on #49051
Possible bug at line 184 of generic_bsd.py
`current_if['media_type'] = words[3][1:]`
It only takes into account the opening '('. Could you show me the output of ifconfig -Aa in your OpenBSD machine?

[2018-11-24 15:53] mohtashims opened #49088 "Ansible constructs incorrect ssh"
##### SUMMARY

My firm's policy has a constraint of passing "-t bash" to ssh for connectivity else it would fail.

Below ssh connectivity works fine:

ssh -i /opt/cert/id_rsa_prod targetuser@targethost -t bash

I try to inject "-t bash" to ssh by specifying the same in ansible inventory host file as below:

more host.txt

[target*]

`targethost ansible_python_interpreter=/opt/bin/python2.7 ansible

[2018-11-24 16:56] felixfontein commented on #49070
The bug is not docker-py 1.9.0 specific, it also happens with docker-py 1.10.x, docker 2.0.x (the Docker Python SDK was renamed from docker-py to docker with version 2.0.0), and docker 2.1.x. The `init` option was only introduced in docker 2.2.0.

[2018-11-24 20:31] JayDoubleu opened #49090 "mount will create folder under /dev/ even if device doesn't exist and mounted"
##### SUMMARY
Ansible mount module will create mount device if doesn't exist

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mount

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.10
##### STEPS TO REPRODUCE
1. Add below line to /etc/fstab
[code]
2. Run mount -a
Output :
[code]
3. Run below through ansible play :

[code]

##### EXPECTED RESULTS
Play

[2018-11-24 20:44] kbreit opened #49093 "digital_ocean_floating_ip crashes when creating floating IP"
##### SUMMARY
digital_ocean_floating_ip fails when creating a floating IP.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
digital_ocean_floating_ip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS 10.13.x

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

It should have created a floating IP

##### ACTUAL RESULTS

[code]

[2018-11-24 21:22] felixfontein opened #49094 "docker_* tests sometimes fail because of problem with docker registry"
##### SUMMARY
I've noticed that since yesterday (?), the `docker_container` tests sometimes fail because of messages such as:
[code]
These errors happen when the docker daemon has trouble talking to the registry in question (in this case, the official docker registry).

Example CI runs where this happened:
- https://app.shippable.com/github/ansible/ansible/runs/94927/summary/console
- https://app.

[2018-11-24 21:36] felixfontein commented on #29570
If I understand #16680 correctly, this has already been fixed a long time ago. Please re-open if this is not the case.

close_me

[2018-11-24 21:38] felixfontein commented on #45408
resolved_by_pr #45467
close_me

[2018-11-24 21:40] felixfontein commented on #49008
!component =lib/ansible/modules/cloud/docker/docker_container.py

[2018-11-24 21:43] felixfontein commented on #29471
@Akasurde is there a need to keep this open indefinitely? If not, I'd suggest to close this :)

[2018-11-24 21:43] #45408 closed, assigned to nobody

[2018-11-24 21:43] #29570 closed, assigned to nobody

[2018-11-24 21:44] felixfontein commented on #47978
!component =lib/ansible/modules/cloud/docker/docker_service.py

[2018-11-24 21:49] felixfontein commented on #31332
@erinish summed this up pretty well: this is not a bug, since `path` references something on the remote host, and **not** on the local host (except if the task is run locally, and then you have to use absolute paths, and you can use `{{ role_path }}` to reference something relative to your role).

notabug

[2018-11-24 21:51] #31332 closed, assigned to nobody

[2018-11-24 21:54] felixfontein commented on #46769
!component -lib/ansible/modules/cloud/docker/docker_secret.py
!component -test/integration/targets/docker_secret/handlers/main.yml

[2018-11-24 22:01] felixfontein commented on #35119
@sgtpanic I think it would be good to have the option to create secrets from binary data (which currently doesn't really work). There are two options:
 - add an option to `docker_secret` to base64-decode the received data; then one can use the `lookup`  filter combined with the `b64encode` filter to safely transport binary data to the `docker_secret` module;
 - add an option to read the secret fro

[2018-11-24 22:09] felixfontein commented on #39008
The `docker` vs. `docker-py` part has already been clarified/improved.

About TLS: the configuration doesn't say anything about what you need to do to get TLS support for docker. It probably makes sense to mention `docker[tls]` in the docker documentation fragment, since this applies to almost all Ansible `docker_*` modules. (This is apparently supported since docker-py 2.4.0: docker/docker-py@049

[2018-11-24 22:10] felixfontein commented on #21348
I think this has been long solved. Please re-open if that is not the case.

close_me

[2018-11-24 22:13] #21348 closed, assigned to nobody

[2018-11-24 22:13] felixfontein commented on #32868
Quoting @ntwrkguru from #34491:

[2018-11-24 22:43] felixfontein commented on #49094
Another one in https://app.shippable.com/github/ansible/ansible/runs/95025/48/console

[2018-11-25 01:30] jtyr commented on #49090
This is not a bug. The creation of the mount point is part of the functionality of this module as documented [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/mount.py#L62).

@ansibot please close this issue as it's `notabug`.

[2018-11-25 01:33] #49090 closed, assigned to nobody

[2018-11-25 01:34] JayDoubleu commented on #49090
@jtyr mount point, yes , this is creating a false device under /dev !!! Actual mount command will throw an error !

[2018-11-25 01:50] jtyr commented on #49090
The `name` is an alias for `path` which is according to the documentation a "mount point". So basically you trying to mount source `none` to `/dev/foo` which doesn't exists and this is why the `mount` module is creating it.

[2018-11-25 01:54] JayDoubleu commented on #49090
@jtyr
And that is precisely the bug ! i your module cannot handle the tmpfs mounts then it is a bug which should be addressed ! tmpfs has no mountpoint other than tmpfs, either please provide solution on how your module is handling the tmpfs mountpoints or please reopen it as a bug !

Just because this module is written this way doesn't mean its right.

[2018-11-25 02:01] jtyr commented on #49090
I don't see any problem. The module just creates the mount point which becomes the `tmpfs`. See examples [here](https://wiki.archlinux.org/index.php/tmpfs#Examples).

[2018-11-25 02:03] JayDoubleu commented on #49090
If your module does not fail but mount command fails then it is a big issue ! How about you would ask people responsible for mount(8) that their implementation is wrong but your is correct?

[2018-11-25 02:16] JayDoubleu commented on #49090
well the actual mount command does see the issue, so either please contact the mount(8) developers and tell them they're wrong or please correct your code to behave like a wrapper around it !

[2018-11-25 02:31] JayDoubleu commented on #49090
Look. Whatever this modules does is not the same as mount command, so please stop telling me this is not a bug. If I use mount module I expect it to behave like mount command which fails in this case. Please stop inventing features, if mount(8) developers made it that way then please port this feature into this module.

[2018-11-25 02:33] jtyr commented on #49090
Please feel free to create a PR if you think that the creation of the mount point directory should be optional.

[2018-11-25 03:10] Akasurde commented on #29471
Closing for this. Please feel free to re-open this issue if problem persists.

[2018-11-25 03:10] #29471 closed, assigned to nobody

[2018-11-25 05:39] caphrim007 commented on #47589
@ganeshrn

your change here seems to have broken network_cli functionality

https://github.com/ansible/ansible/commit/ba4b12358c7a1401e058012dffda18c1dc1b8e00#diff-bce88c604929b6e4c853ba46268e990eR286

Only cliconf defines that method

https://github.com/ansible/ansible/search?q=reset_history&unscoped_q=reset_history

[2018-11-25 06:52] caphrim007 commented on #47589
@ganeshrn adding the following to the `plugins/connection/network_cli.py` file resolves the reported errors.

[code]

However, the network_cli plugin has no such `response_logging` feature. Perhaps the original PR was incomplete or made incorrect assumptions about what was available?

[2018-11-25 10:02] rihani commented on #19584
i get this issue, not sure how to progress

pi@10.8.0.142 | UNREACHABLE! => {
    "changed": false,
    "msg": "Authentication or permission failure. In some cases, you may have been able to authenticate and did not have permissions on the target directory. Consider changing the remote tmp path in ansible.cfg to a path rooted in \"/tmp\". Failed command was: ( umask 77 && mkdir -p \"` echo /tmp/.a

[2018-11-25 13:02] tylerauerbeck opened #49100 "k8s module isn't processing Kind: List"
##### SUMMARY
I'm currently trying to run through some samples with the `k8s` module and it doesn't seem to handle the Openshift `kind: List` well. Whenever I try to run a file through with this type, I see the error: `Failed to find exact match for v1. by [kind, name, singularName, shortNames]`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`k8s`

##### ANSIBLE VERSION

[code]

##### CONFIG

[2018-11-25 13:41] Roxyrob commented on #48471
@richardcs Adding encoding declaration solved the issue.
Thank you

[2018-11-25 13:51] nkakouros opened #49101 "{% include/import %} searches only relative to the current playbook"
##### SUMMARY

Including files in jinja2 templates is restricted to the parent folder of the current playbook.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

`/absolute/path/to/play1.yml`
[code]

This will fail if `path/to/file` is not located under `/absolute/path/to/`.

This limits a project's file structure. For instance, it is not possible to have:

[code

[2018-11-25 14:25] nkakouros opened #49102 "What is the difference between feature requests and ansible/proposals?"
##### SUMMARY

If I want to create a request for a new feature, where should I place it? Once, I create a feature request here and I was told to open an issue on `ansible/proposals`. Some feature requests here are without any answer. What should the distinction be between the two options? It would be nice to update both the feature request template here with relevant guidelines and the README file

[2018-11-25 14:50] jhawkesworth commented on #48471
I was wondering if the module documentation maybe needed an update to describe this, something like 'For best results, ensure your xml document declares its encoding' and while researching I found a couple of comments here https://stackoverflow.com/questions/76482/powershell-setting-encoding-for-get-content-pipeline suggesting that instead of using
[code]

, it might be better to use

[code]
or
[c

[2018-11-25 15:54] babalsurer opened #49104 "Syntax issue with vim"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-11-25 15:55] babalsurer commented on #49104
- hosts: webserver
  tasks:
    - name: install jdk
      yum:
       name: java-1.8.0-openjdk
       state: present

    - name: download repo
      get_url: https://pkg.jenkins.io/redhat/jenkins.repo
      dest: /etc/yum.repos.d/jenkins.repo

[2018-11-25 15:56] babalsurer commented on #49104
this is my yml it showing error - name: download repo
                                                     ^ here

[2018-11-25 16:03] felixfontein commented on #49094
This also happens to the Ansible CI infrastructure: https://app.shippable.com/github/ansible/ansible/runs/95053/13/console fails when pulling `drydock/u16pytall:v6.10.4` with `Error response from daemon: error parsing HTTP 404 response body: invalid character 'p' after top-level value: "404 page not found\n"`.

[2018-11-25 16:30] mohtashims commented on #49088
I have found where the issue lies and updated the original post. Can you please provide the workaround now & a bug-fix later ??

[2018-11-25 16:36] fabianvf commented on #49100
v1.List doesn't actually exist on the kubernetes server, it's a fake resource that only exists in the client. We'll need to manually add support to the untyped List kind in the client (it currently supports typed *List kinds)

[2018-11-25 17:17] babalsurer opened #49108 "how do i debug syntax of ansible yml in linux terminal apart from --syntax-check command"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-11-25 21:06] kbreit opened #49109 "Git cannot clone into specified directory"
##### SUMMARY
A git clone using Ansible is throwing an error. This particular play is using become_user, although it didn't work if I removed it an executed it as root.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS 10.13.x

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
Ansible should properl

[2018-11-25 21:11] kbreit commented on #49109
Problem with my task. Closing.

[2018-11-25 21:11] #49109 closed, assigned to nobody

[2018-11-25 21:22] joshbenner opened #49111 "password_hash doesn't support arbitrary keyword params"
##### SUMMARY

`get_encrypted_password` does not accept arbitrary keyword parameters when Passlib is installed, but documentation explicitly states (and shows by example) that this behavior exists.

See:
* https://docs.ansible.com/ansible/2.7/user_guide/playbooks_filters.html
* https://github.com/ansible/ansible/blob/ba3f512d8ae1c9f16b335df546f8bb86e9d122ba/lib/ansible/plugins/filter/core.py#L249

[2018-11-25 22:38] fabianvf commented on #49100
Yeah, though we also need to update the Ansible code, I don't think it's using the *List support yet either

[2018-11-25 22:43] justwheel opened #49112 "archive module: using xz fails to create archive, but other formats work (e.g. tar, gz)"
##### SUMMARY

When creating a new xz archive with `archive` module, if archive does not exist, task fails (but this does not happen with other formats like `tar` or `gz`)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 28 Ansible controller targeting CentOS 7.x hosts

##### STEPS TO REPRODUCE

[2018-11-25 22:46] tylerauerbeck commented on #49100
@fabianvf No problem. Happy to open an issue there as well unless you would prefer to handle it.

[2018-11-26 00:15] #39321 closed, assigned to nobody

[2018-11-26 00:16] #15987 closed, assigned to nobody

[2018-11-26 00:30] davidobrien1985 commented on #38598
bot_broken

Why am I being spammed with emails on every issue linked to the `setup` module?!

[2018-11-26 02:28] #49108 closed, assigned to nobody

[2018-11-26 02:52] Fred-sun commented on #48725
@nicolaibaralmueller Thanks for your contribution, azure_rm_virtualmachine_facts module add into the  latest ansible, such as ansible 2.7.2 , you can try to install the latest ansible, it fine. you can try this command upgrade your ansible (command: pip install ansible[azure]==2.7.2 or pip install ansible[azure] --upgrade -I). Thanks!

[2018-11-26 03:29] PikachuEXE opened #49114 "Task name not displayed during shell command execution in 2.7"
##### SUMMARY

When executing command with shell module
The task name is not displayed until command execution is finished in 2.7.x (tested with 2.7.2)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

shell

##### ANSIBLE VERSION

[code]

The one that works:
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.13.6, both controller & target

##### STEPS TO REPRODUCE

https://

[2018-11-26 03:35] Akasurde commented on #23985
@Russell-IO Any news ? Thanks.

[2018-11-26 03:51] kbreit opened #49115 "Terraform documentation should have more examples"
##### SUMMARY
The Terraform documentation currently only has two examples. Both relate to `init` related Terraform examples. Additional examples showing proper usage of `plan` and `apply` could be useful, including refresh operations since Terraform may get out of sync with production due to Ansible.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Terraform

##### ANSIBLE VERSION
[code]

[2018-11-26 04:29] babalsurer commented on #49104
hosts: DB_Server
tasks:
name: install JDK
yum:
 name: java-1.8.0-openjdk
 state: present
name: download repo
get_url: https://pkg.jenkins.io/redhat/jenkins.repo
dest: /etc/yum.repos.d/jenkins.repo
i have written this code but it is showing syntax error.

[2018-11-26 04:31] Akasurde commented on #39412
Closing this issue as PR #39483 is merged. If issue persists, please feel free to re-open.

[2018-11-26 04:31] #39412 closed, assigned to nobody

[2018-11-26 04:50] ushuz commented on #35119
@felixfontein

For `docker_secret` and `docker_config`, I don't think there are strong need for reading a file on remote, nor it's a good practice in general. Even if there are legit use cases, one can always use `slurp` module. While reading file from control machine is well covered by `lookup` filter, there's no reason to reinvent the wheel inside each module.

However, if the module itself or `

[2018-11-26 05:04] babalsurer commented on #49104
![image](https://user-images.githubusercontent.com/42488720/48993944-a8750680-f166-11e8-902e-133e8c61074d.png)
i have written this code in yml.
![image](https://user-images.githubusercontent.com/42488720/48993986-cd697980-f166-11e8-80e8-afe5c4d7f8eb.png)
i am geting this error.

[2018-11-26 05:51] justjais commented on #48697
@nahun Thanks for pointing out, I have updated the changes with all the supported provider variables that can be specified via environment vars.

[2018-11-26 05:56] gsatliawol commented on #19106
As original bug writer I second @warthog9 's wanting to close as dupe. This is for an obselete version.

[2018-11-26 06:04] justjais commented on #48913
@jchristopher327 Thanks for raising the respective issue, can you please share your config that you are trying to apply to the device via the template.

[2018-11-26 06:05] justjais commented on #40544
@samccann Can you please update and close the issue is already resolved.

[2018-11-26 06:50] felixfontein commented on #35119
@ushuz That JSON didn't really work is not that much a surprise, since Ansible tries (and has to try, for a lot of things to work!) at different places to interpret strings as YAML (which is a super-set of JSON), and re-encodes them when a string is needed. That's why keeping stuff base64 encoded is a good thing (as Ansible then won't modify it). It helps both for JSON and for binary data :)

I ha

[2018-11-26 06:54] Akasurde commented on #48929
@Tomorrow9 Could you please verify if above mentioned PR fixes this issue ? Thanks.

[2018-11-26 07:01] Akasurde commented on #49104
You have unwanted indentation for tasks

You should have this as -

[code]

I would recommend you to go through [the playbook documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks.html). Thanks,

[2018-11-26 07:01] #49104 closed, assigned to nobody

[2018-11-26 07:35] FlyingFishPeng commented on #27825
Hello~I want't to achieve the same scenario as you asked before. Have you ever solved it?

[2018-11-26 07:38] zhangmingld opened #49117 "How can i delete the “u” from the list output？"
##### SUMMARY

I write a playbook, for example
[code]
So,  i get the result like this:
[code]
Well,  we have a "u" here

Can we delete this u from the result ?
or Is there any way to avoid this "u" ?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2018-11-26 07:42] karlism commented on #49051
@jpdasma, sure, thanks for looking into it:
OpenBSD 6.4:
[code]

OpenBSD 6.2:
[code]

OpenBSD 6.0:
[code]

[2018-11-26 08:03] Fred-sun commented on #47268
@yungezz

[2018-11-26 08:06] improvethings commented on #47022
$:/Volumes/Mach HD/Users/user/ansible/playbooks$: ansible-playbook -vvvvv -i ../hosts.yaml update.yaml

Here's a snippet from using -vvvv.

<example.com> SSH: EXEC ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o 'IdentityFile="/Volumes/Mach HD/Users/user/.ssh/secretkey"' -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o Pa

[2018-11-26 08:18] Fred-sun commented on #45335
@zikalino

[2018-11-26 08:19] #15732 closed, assigned to Akasurde

[2018-11-26 08:49] Akasurde commented on #15732
Backport 2.7 - https://github.com/ansible/ansible/pull/49118

[2018-11-26 08:58] Akasurde commented on #48912
!component +contrib/inventory/vmware_inventory.py

[2018-11-26 09:01] TomasTomecek commented on #35941
no longer an issue for me, closing

[2018-11-26 09:01] #35941 closed, assigned to nobody

[2018-11-26 09:21] Akasurde commented on #48435
@ralphie02 I am not able to reproduce this is issue on my setup. Could you please provide additional information like shell used etc., ? Thanks.

needs_info

[2018-11-26 09:22] IRDonch commented on #49070
It's the version in the Ubuntu 16.04 repositories (https://packages.ubuntu.com/xenial-updates/python-docker), so it's a bit easier to use than anything else.

[2018-11-26 09:31] Akasurde commented on #48435
I am using this small dummy vmware module to test the environment -

vmware_test.sh
[code]
library/vmware_test.py

[code]

Console log -
[code]

[2018-11-26 09:57] groggi opened #49120 "RabbitMQ user configuration fails due to sorting list of dicts"
##### SUMMARY

Configuring RabbitMQ user fails due to trying to sort a list of RabbitMQ permission `dict`s in Python.

Assumed to be due to #22507 (4522a53acfe97c15ec75f4af613e133d8205b993).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rabbitmq_user

##### ANSIBLE VERSION

Tested with multiple versions (some details redacted with `user`). First one is mine and used for the following examp

[2018-11-26 10:01] harbindersinghamido commented on #49055
Hi  @jhawkesworth ,

Thank you for your reply.  I ran   `Get-ADForest` on the Dc, which gets me the details as shown below
![image](https://user-images.githubusercontent.com/40603375/49006062-1e29a400-f160-11e8-8cfc-2336c835957e.png)

[2018-11-26 10:38] groggi commented on #49120
This seems to be an issue due to the use of Python3. In Python2 the `sorted` call is legitimate and Python sorts the list of `dict`s. However, using Python3 will result in the above mentioned exception.

Example:
[code]

[2018-11-26 10:52] mohtashims commented on #49088
Can any from ansible Team please pick this ?

[2018-11-26 11:10] janvht opened #49122 "zabbix_template: 'HTTP read timeout'"
##### SUMMARY
When using zabbix_template in combination with Zabbix 4.0.1 server, the module runs into this error: "APITimeout: HTTP read timeout". I use version 0.5.3 of zabbix-api but it does not seem to be compatible with the Zabbix 4.0 API.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module zabbix_template, possibly other zabbix modules are affected as well

##### ANSIBLE VERSION

[co

[2018-11-26 13:47] nuno-silva commented on #41825
`ansible 2.6.1` and `ansible 2.7.1` are also affected.

[2018-11-26 13:50] webknjaz commented on #41493
Ansible 2.4 is EOL, but it looks like the issue is still affecting `devel`.

[2018-11-26 13:53] #49070 closed, assigned to nobody

[2018-11-26 14:11] jpdasma commented on #49051
Hi, I created a pull request for this

[2018-11-26 14:11] #39008 closed, assigned to nobody

[2018-11-26 14:19] jorgemarti commented on #25660
No upgrades?

[2018-11-26 14:30] bcoca commented on #38133
FYI, simpler fix:
[code]

[2018-11-26 14:41] drzraf commented on #25384
Same usecase, with `import_role geerlingguy.certbot` where I need to override some of the defaults.
(@geerlingguy)

[2018-11-26 14:41] jctanner commented on #23287
Waiting for the ssh port to open up on a cloud instance is quite often insufficient to consider the machine "ready" to use. The cloud init scripts may not have fired off yet and the authorized_keys file may not have been written out yet.

The better solution is to use wait_for_connection https://docs.ansible.com/ansible/2.7/modules/wait_for_connection_module.html so that the host is polled until a

[2018-11-26 14:41] #23287 closed, assigned to nobody

[2018-11-26 14:50] gundalow commented on #49102
@tterranigma Hi, thanks for reaching out.

I'll be honest and say the [github.com/ansible/proposals/issues](proposals process) needs some work, it hasn't quite achieved what we hoped.

One of the challenges is it's fairly subjective what the split should be between Proposals and features.

I've added this to the [Contributor Experience Project Plan](https://github.com/orgs/ansible/projects/2) so t

[2018-11-26 14:55] tpeyton commented on #48785
Thanks for getting back to me! #49016 worked to resolve sending non-secured mail on python 2.7. I don't have SSL configured in my test environment, so I wasn't able to test that.

[2018-11-26 15:15] apenney opened #49130 "Pam module incorrectly enforces limitations on "nice" and "priority""
##### SUMMARY

With a stanza like:

[code]

The pam_limits module will return an error:

[code]

The man page for limits.conf states:

[code]

I believe this module should exclude those two from the input verification.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pam_limits

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO RE

[2018-11-26 15:15] apenney commented on #49130
@maxamillion ping :)

[2018-11-26 15:18] corbinstuard commented on #38255
Looks good!

[2018-11-26 15:37] #45938 closed, assigned to nobody

[2018-11-26 15:39] #45762 closed, assigned to nobody

[2018-11-26 15:47] webknjaz commented on #48921
@MaxWinterstein I'd checked that what you demonstrate works as you described.

Dependency resolution is done on the pip's side and it's got improved. It now doesn't rely on the version check only when installing dists from fs.

You've demonstrated case where pip has to invoke `setup.py` and get an sdist out of it. sdist has metadata inside of it. Earlier versions of pip checked that metadata and d

[2018-11-26 15:49] bcoca commented on #49041
What i expect from your playbook:
  - all hosts except h3 skip the 'fail' task and don't run rescue
  - host h3 executes the fail task and then runs the rescue task

The ticket you point at had `any_errors_fatal` ignore rescue blocks, the fix was to change it not to, this might have allowed the behaviour you say you expect, but subsequent fixes got it working to what we wanted to, which is the beh

[2018-11-26 15:51] webknjaz commented on #47654
@frague59 please feel free to send a PR for that :)

[2018-11-26 15:52] bcoca commented on #49041
FYI, this is clearly documented:
https://docs.ansible.com/ansible/latest/user_guide/playbooks_blocks.html#error-handling

[2018-11-26 15:58] jmnguye commented on #48312
I'm having the same issue with fact with ansible 2.5.1

- having `gather_facts: off ` avoid the issue.
- resolving the NFS allows me to use gather_facts.

My concern is that i based parts of my vars depending on facts, when issuing a remediation playbook on many hosts, the playbook stuck, and it's a mess to findout who's causing the problem.

[2018-11-26 16:08] webknjaz commented on #43256
Makes sense, mind sending a PR?

[2018-11-26 16:12] #47198 closed, assigned to nobody

[2018-11-26 16:26] #19321 closed, assigned to nobody

[2018-11-26 16:38] arhue opened #49135 "elasticache_subnet_group fails with eu-west-3 region"
##### SUMMARY
elasticache_subnet_group fails in `eu-west-3` region.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
elasticache_subnet_group module.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default.

##### OS / ENVIRONMENT
Host OS: Manjaro Linux
OS on which script is run: Ubuntu 16.04

##### STEPS TO REPRODUCE

My default region is `eu-central-1`. If I use `eu-west-3`(with the corr

[2018-11-26 16:41] sivel commented on #48818
@Constantin07 thank you for confirming.  I'll close this out.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-26 16:41] #48818 closed, assigned to nobody

[2018-11-26 16:44] arhue commented on #49135
I must add that I've tried other regions like `eu-west-1`(worked fine) and `eu-central-1`(works fine). It fails on `eu-west-2` too.

[2018-11-26 16:45] webknjaz commented on #38402
I believe this can be closed.
@jakyns please feel free to comment if you manage to reproduce this under the latest Ansible 2.7.

[2018-11-26 16:45] #38402 closed, assigned to nobody

[2018-11-26 16:56] jackivanov opened #49139 "ipaddr filter doesn't work in virtuelenv"
##### SUMMARY
not able to run ipaddr filter in a virtualenv

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ipaddr filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Not related

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ipaddr should work

##### ACTUAL RESULTS

The filter fails.
The filter works as expected if I explicitly specify PYTHO

[2018-11-26 17:14] #48673 closed, assigned to nobody

[2018-11-26 17:15] samccann commented on #40544
@justjais - can you point me to where you see this issue resolved?

[2018-11-26 17:19] samdoran commented on #48353
The [GitHub chapter](https://git-scm.com/book/en/v2/GitHub-Contributing-to-a-Project) in the [official Git documentation](https://git-scm.com/book/en/v2) gives detailed steps on how to push to a branch.

[2018-11-26 17:38] emobortnik opened #49141 "wait_for doesnt work in handler"
[code]

but this works in task fine, why

![ansible](https://user-images.githubusercontent.com/34957923/49031775-98cfdf00-f1b3-11e8-81d6-d16fc5d08276.png)

[2018-11-26 17:50] pillarsdotnet commented on #43256
@webknjaz -- Submitted #49146

[2018-11-26 17:51] rrey opened #49147 "grafana_datasource fails with python3"
##### SUMMARY

When using Python3 with Ansible, the grafana_datasource module raises a `TypeError: a bytes-like object is required, not 'str'`  exception.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
grafana_datasource.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OSX 10.12.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
No errors

#####

[2018-11-26 17:51] gone-skiing opened #49148 "homebrew_cask module with "upgraded" state fails for casks with "latest" version"
##### SUMMARY
When running play with homebrew_cask module, execution fails for applications where version is specified as latest and state is upgraded.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
homebrew_cask

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Mac OS High
[code]
##### STEPS TO REPRODUCE
homebrew-bug.yml:
[code]

inventory:
[code]

##### EX

[2018-11-26 17:55] ckotte commented on #40076
I would just not set it and let the API set it automatically. I removed the vendor option in my refactoring PR https://github.com/ansible/ansible/issues/40076#issuecomment-441485921.

[2018-11-26 18:25] ericdost opened #49149 "meraki_network - Update combined network type"
##### SUMMARY

Combined network type automatically sets type to `switch wireless appliance` however not all combined templates are set up this way.  It appears that Combined only supports devices that are associated to an Organization.  Our org does not have wireless and the network would not bind to the configuration template until I removed wireless from the type payload.

##### ISSUE TYPE
- Bug

[2018-11-26 18:30] C0missar commented on #13304
Got the unmount to work once I moved out of /mnt/c to /.  But the mount doesn't work, giving an error (Ubuntu 18.04, Windows 10 version 1709 build 16299.726)

$ sudo umount /mnt/c
$ sudo mount -t drvfs C: /mnt/c -o metadata
mount: /mnt/c: wrong fs type, bad option, bad superblock on C:, missing codepage or helper program, or other error.

$ mount -l
rootfs on / type lxfs (rw,noatime)
sysfs on /sys

[2018-11-26 18:38] #35980 closed, assigned to nobody

[2018-11-26 18:48] jeffery75 commented on #43246
Managed to work around by commenting out lines #170 & 171 and adding "pvs_filter = ''" below on #172.  Basically set 'pvs_filter' to '' regardless of the condition.

[2018-11-26 19:02] cloos commented on #21706
I'm closing this because the mentioned Ansible version and Linux Mint version are no longer supported.

[2018-11-26 19:02] #21706 closed, assigned to nobody

[2018-11-26 19:02] mrlesmithjr commented on #47329
Just as an FYI, the issue above w/IDE was using `2.6.2`. Using `2.7.2` this is not happening.

[2018-11-26 19:09] marouim commented on #48369
@trishnaguha yes works for me ! Thanks a lot !

[2018-11-26 19:12] e2-team opened #49155 "Get netscaler_lb_vserver to bind a new service without removing"
##### SUMMARY
Hi Team, I'd been working with ansible and VPX, and now we would like to integrate both.
Part of our task is create new server, service and then bind to a vserver.

I'd been struggling with this as the actual is not considering adding a new bind service, it only confirm the configuation or create the vserver

Bind an existing service to a existing vserver

##### ISSUE TYPE
- Feature

[2018-11-26 19:14] e2-team commented on #49155
I found that there is another module that can do this that is the netscaler_nitro_request but would be great to have it on the same netscaler_lb_vserver

[2018-11-26 19:26] nlopez opened #49156 "tower_project module parameter support: timeout, scm_update_cache_timeout, custom_virtualenv"
##### SUMMARY
Add support for the `timeout`, `scm_update_cahce_timeout`, and `custom_virtualenv` parameters to the `tower_project` module
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
[`tower_project`](docs.ansible.com/ansible/latest/modules/tower_project_module.html)

##### ADDITIONAL INFORMATION
The Tower API `project` endpoint supports a few parameters that aren't handled by this module

[2018-11-26 19:35] jchristopher327 commented on #48913
Hi @justjais, the output provided above shows the configuration being applied. Or are you referring to some other "config"?

[2018-11-26 19:39] johnpetersjr commented on #48109
Just noticed I'm having this issue as well.  This used to work in a previous version... and I cannot turn on assign_public_ip...

[2018-11-26 19:44] bcoca commented on #18299
probably need a split at this point, `playbook_dir` as is (top entry point) and a `ansilbe_task_dir` to give you 'current file'

[2018-11-26 19:44] nlopez commented on #49156
!component =lib/ansible/modules/web_infrastructure/ansible_tower/tower_project.py

[2018-11-26 19:49] johnpetersjr commented on #48109
Here is my sample ansible code that fails:

    - name: Launch instance
      ec2:
         key_name: "{{ key_name }}"
         group: "{{ security_group_names }}"
         instance_type: "{{ instance_type }}"
         image: "{{ image }}"
         count: "{{ count }}"
         wait: true
         monitoring: no
         instance_tags: "{{ aws_tags }}"
         region: "{{ region }}"
         vpc_

[2018-11-26 20:02] kbreit commented on #49149
@ericdost Thank you very much for the feedback. It seems like the problem could be solved by changing the `type` parameter from a static string to a list like this:
[code]
The module would of course have to concatenate those into a single string, but it doesn't assume wireless is included. If I create a pull request for this, would you be able to test the functionality to make sure it works?

Than

[2018-11-26 20:07] e2-team commented on #49155
@giorgos-nikolopoulos

[2018-11-26 20:34] niallor opened #49158 "Virtualization facts missing for KVM guests running FreeBSD"
##### SUMMARY

Facts *virtualization_role* and *virtualization_type* are not set for **KVM guests** running **FreeBSD**, and so cannot be relied on in playlists. Live observation indicates that **version 2.7.2** is affected. Inspection of the **devel branch** seems to indicate that this and **previously released versions** are also affected.

The missing facts are set for both **OpenBSD** and **Ne

[2018-11-26 21:36] felixfontein commented on #49070
The backport PR (#49152) has meen merged, the fix will be included in Ansible 2.7.3 (guessing from the previous release dates, I'd say it will be released by the end of next week).

[2018-11-26 21:39] kbreit commented on #49149
@ericdost - I submitted a PR to fix your bug/feature. Please let me know if you like how this is presented. I think there's two ways to go about this.
**Option 1**
[code]

**Option 2**
[code]

[2018-11-26 22:08] #48949 closed, assigned to bcoca

[2018-11-26 22:29] mafalb commented on #20325
I agree.
This should also be supported for apt_key

[2018-11-26 22:30] jborean93 opened #49161 "docs-build tracebacks when description has a None value"
##### SUMMARY
Having a `description` key that has no value in the `RETURN` block will cause a traceback when running `ansible-test sanity --test docs-build`.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test sanity --test docs-build

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Create a module with the following

[2018-11-26 22:33] bcoca commented on #47534
@zerok see if using the PR above fixes it for you, requires new `unsafe: true` to ignore special chars on templating.

[2018-11-26 22:37] kbreit commented on #29740
I am developing a module to replace `digital_ocean`. I can't guarantee I'll ever finish it, but I've got a working prototype in place with a WIP PR created.

[2018-11-26 22:43] mattclay commented on #49094
@felixfontein If we can use images from quay.io, I agree that trying those would be worthwhile to see if it improves the reliability of the tests. I think we may find they download faster as well.

[2018-11-26 23:32] UXabre opened #49164 "oVirt: host occasionally fails to install"
##### SUMMARY

Sometimes an oVirt host fails te get installed because the API returned something unexpected and a object of NoneType is returned; which has no status field.

It's not always reproducible and the exact reason why the API fails isn't clear either. I'd say this happens once every 5 installations on average.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_host

##### ANSIBL

[2018-11-27 00:16] richardcs commented on #48471
I tried these options and they both seem to work. I will update the module to load the XML like
    ($xmlorig = New-Object System.Xml.XmlDocument).Load($dest)

[2018-11-27 00:38] pfink opened #49166 "Jinja2 filter "select" does not work"
##### SUMMARY
The `select` filter does not work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`[1]`

##### ACTUAL RESULTS

[code]

same error occurs for all tests, e.g. also for 'equalto'

[2018-11-27 00:42] k0ste commented on #48785
@tpeyton, can you also test with Python 3.7 your non-secured server?

[2018-11-27 01:00] kbreit commented on #49038
Update: the API left beta and is in general production.

[2018-11-27 02:40] kbreit commented on #49030
@gundalow No one seems to be assigned to these modules. Is it being tagged properly?

[2018-11-27 04:44] #48369 closed, assigned to trishnaguha

[2018-11-27 04:51] maxamillion commented on #48714
Hello @mohag and thank you for the issue report!

This module in it's current form does not appear to be meant as a full equivalent of `apt-add-repository`.

Following the module documentation leads me to suggest something along the lines of the following to provide the desired end result:

[code]

However, we could mark this as a feature request to add the functionality to take into account "nati

[2018-11-27 04:59] #47589 closed, assigned to ganeshrn

[2018-11-27 05:04] maxamillion commented on #48632
This functionality for both `yum` and `dnf` comes from `yum-utils` or the dnf plugins (respectively) which are external to the core package managers themselves, I'm personally inclined to create a separate module to add this. We could alternatively add it to the main modules themselves but simply document that the plugins are necessary, but I'm hesitant to do this because we're effectively hiding

[2018-11-27 05:55] jenis23 opened #49175 "Ansible win_package stuck forever"
##### SUMMARY

I am using win_package module for installing "Nessus" in Windows 2016 server. But whenever I execute it, it hangs forever without response. Even after waiting for an hour, there is no response.

I have already kept Nessus installer in Windows server directory as mentioned in the code.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_package
##### ANSIBLE VERSION

[code]

###

[2018-11-27 06:22] fastzhong opened #49177 "Yum: nothing to do"
##### SUMMARY

Yum installation works, but if run again, Ansible fails which should not. It was reported and fixed, but actually not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux IEXDEVOPS01 3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Dec 28 14:23:39 EST 2017 x86_64 x86_64 x86_64 GNU/Linux

##### STEP

[2018-11-27 06:53] justjais commented on #44780
@bpleines Apologies for not following up on the issue for long. FYI I have created PR #49124 which adds a new module for supporting name server group via `nios_nsgroup` module, I understand this is not what's mentioned in the feature idea of adding `nsgoup` via `nios_zone` but just wanted to give you heads up regarding the same. I'll try to fix the issue you raised as well asap.

[2018-11-27 06:57] mohag commented on #48714
[`apt-add-repository`](https://www.apt-browse.org/browse/ubuntu/xenial/main/all/software-properties-common/0.96.20/file/usr/bin/add-apt-repository) seems to deal with it by looking up component names from `aptsources.distro.get_distro().source_template.components` (See line 100). (Libraries seems to do all the work there - the entire apt-add-repository is 175 lines)

A feature request is one optio

[2018-11-27 08:05] xkrt opened #49180 "azure_rm_containerinstance module params"
##### SUMMARY
azure_rm_containerinstance doesn't support important parameters now:
* environment variables
* command line override
* restart policy
* dns name label

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
azure_rm_containerinstance

##### ADDITIONAL INFORMATION
Without support of these parameters (especially environment variables!), this module is practically useless.

@zikalino

[2018-11-27 08:30] skarapanahalli commented on #47646
I think I found the issue, basically the Guest ID field (guest_id) need not be present if we are using a template, as the guest OS is already defined in the template. vm_create is working fine once I removed this field.

[2018-11-27 08:51] yungezz commented on #46537
#24159

[2018-11-27 09:06] anisse commented on #32208
I just had this issue. Maybe this "common trip-hazard" should be more documented in the become page to explain the precedence, and the need to use a task-scoped variable to workaround it ?

[2018-11-27 09:07] mkrizek commented on #49177
Can you elaborate a bit more on what "Ansible fails" means, preferably by providing the actual output? Also, this would be likely fixed in the latest version as there was `yum` module refactor in `2.7`.

needs_info

[2018-11-27 09:09] mkrizek commented on #49177
Can you link the issue and related PR? Was it fixed in `2.4.2.0` which you are running?

[2018-11-27 09:10] jackivanov commented on #49139
The same result when installing even to the same virtualenv

[code]

[code]

[2018-11-27 09:34] mkrizek commented on #46113
Fixed upstream https://github.com/pallets/jinja/pull/799. Closing.

[2018-11-27 09:34] #46113 closed, assigned to mkrizek

[2018-11-27 09:34] mkrizek commented on #49012
Fixed upstream https://github.com/pallets/jinja/pull/799. Closing.

[2018-11-27 09:34] #49012 closed, assigned to nobody

[2018-11-27 09:35] w33dw0r7d opened #49184 "pkg_mgr try use rpm-ostree on non atomic host when it installed"
##### SUMMARY
When installed on CentOS 7 (Non Atomic) /usr/bin/rpm-ostree for build and test workflow.
Ansible use it as primary package manager instead yum.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pkg_mgr.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRET

[2018-11-27 09:39] emobortnik commented on #49141
##### SUMMARY
wait_for doesnt work in handler

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
wait_for doesnt work in handler

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 18.04 host and the same is remote node

##### STEPS TO REPRODUCE

just run playbook which is bellow

[code]

##### EXPECTED RESULTS

handler reboot works but local_action: wai

[2018-11-27 10:30] MarkusTeufelberger commented on #34054
Another option would be to use a pure Python library like https://github.com/wbond/oscrypto and vendor relevant functions into the crypto modules. This might be a rather heavy rewrite though, but might be worth the effort if compatibility is really important.

[2018-11-27 10:50] wsgzao commented on #31869
使用 Ansible 管理 Windows - https://wsgzao.github.io/post/ansible-windows/

[code]

[2018-11-27 12:18] henti opened #49185 "Support commands in authorized_key"
##### SUMMARY
authorized_keys supports the ability to limit commands for key authentication. This is detailed in the authorized_keys man page

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
authorized_key

##### ADDITIONAL INFORMATION
Currently the only way to limit commands would be using  `ForceCommand` in sshd_config, which would be system wide and not allow limiting commands to

[2018-11-27 12:51] eastwoo commented on #22169
this issue also exists in ansible --version
ansible 2.7.1

[2018-11-27 13:10] bmike78 commented on #46383
@kinvaris, did the clouds.yaml file changes that @mnaser and I suggested work?

[2018-11-27 13:16] ericdost commented on #49149
@kbreit That PR worked.  I don't have a preference as to the options.  Thank you very much for the quick turnaround

[2018-11-27 13:40] bmike78 commented on #49117
@zhangmingld, this is how Ansible will display back variables used in the task in unicode format by default.  Are you trying to remove the output completely or trying to get the output back in a more readable format?

this article explains how to change it from unicode to ASCII or yaml format.
https://stackoverflow.com/questions/21413613/convert-ansible-variable-from-unicode-to-ascii

[2018-11-27 14:06] ganeshrn commented on #48171
@benjdudas The `install()` method in `junos-eznc` does not have `force_host` parameter. What is the expected functionality for this new option requested? Are you referring to `force_copy` option [here](https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/utils/sw.py#L629)?

needs_info

[2018-11-27 14:22] matt-horwood-mayden opened #49191 "Module ProxySQL - Backend_servers error"
##### SUMMARY
Using the proxysql_backend_servers module, I get an error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/database/proxysql/proxysql_backend_servers.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.14.1 (18B75)

##### STEPS TO REPRODUCE

Use the proxysql_backend_servers in a task

[code]

##### EXPECTED RESULTS

[2018-11-27 14:34] Behoston commented on #37148
You need to install `git` to use pyhelm. Try do this manually on machine you have ansible:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/misc/helm.py#L110

But now I have another problem with `chartbuilder`... (maybe not related)

[2018-11-27 14:36] #31713 closed, assigned to nobody

[2018-11-27 14:41] gundalow commented on #49051
Hi, would welcome some testing on https://github.com/ansible/ansible/pull/49128 to confirm if this fixes the issue for you.

[2018-11-27 14:50] ChrysRowe opened #49192 "NXOS Facts serial # incorrect on NXOS 3000 switches"
#### SUMMARY
The NXOS nxos_facts.py module reports incorrect serial #s for Nexus 3000 switches.  It is using the show module command and taking the serial # of the first module returned which is the Supervisor module in the 3000 switches.  This is different from the chassis serial # which can be seen by running show license host-id
The chassis serial # is what matches the label on the hardware and

[2018-11-27 15:03] AiswaryaGopal opened #49193 "App Security Group is unavailable while adding Inbound rules in Network Security azure"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_securitygroup, unable to add source as "Applicatio Security Group" as new rule.
##### ADDITIONAL INFORMATION

This feature will be used for adding App Resource to be added in Inbound rules
In Azure -> Network Security Groups

[code]
https://raw.githubusercontent.com/ansible/ansible/devel/lib/ansible/modules/cloud/azure/

[2018-11-27 15:23] #48471 closed, assigned to nobody

[2018-11-27 15:41] tpeyton commented on #48785
@k0ste just tested with Python 3.7.1 and #49016 successfully delivers non-secured mail.

[2018-11-27 15:47] bmildren commented on #49191
I believe this is an issue with the shared mysql module util (https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/mysql.py) rather the proxysql modules. This has been fixed with this PR: ansible/ansible#47809 (you can apply the patch to the version of ansible you're using by applying the generated patch file: https://patch-diff.githubusercontent.com/raw/ansible/ansible/pull/4780

[2018-11-27 16:14] maxamillion commented on #48714
oh, I didn't realize there was a library call for it... yeah, that should be easy. 👍

[2018-11-27 16:15] BarbzYHOOL commented on #38417
In one year, I tried like 4 times to see if it were fixed but no :P this is really annoying, we can't have good looking config files because of this

[2018-11-27 16:24] jmnguye commented on #48312
I used limited fact `gather_subset = network` which is enough for me as i only need ip, kernel, and os information to set my group_vars, it seems to be ok

[2018-11-27 16:32] pfink commented on #49166
Perfect! Running

`pip install --upgrade Jinja2`

fixed it. FTR:

Broken Jinja version: 2.7.2
Jinja version that I successfully tested with: 2.10

[2018-11-27 16:32] #49166 closed, assigned to nobody

[2018-11-27 17:02] jlecour commented on #38655
Hi friends, I've got news about this issue.

I've been very frustrated with this issue so after a few month stuck on an older version of Ansible, I've spent some more time to understand the scope of the issue.

Here is the context :

[code]

The bug *does not exist* in Ansible 2.2.
It *does not need* the `regexp` attribute to happen.
It *needs* the combination of `insertafter` (or `insertbefore`)

[2018-11-27 17:02] fchiacchiaretta opened #49199 "docker_swarm_service fails because of default "user: root""
##### SUMMARY
I'm trying to start a service ([Traefik Load Balancer](https://traefik.io)) via docker_swarm_service and it fails because of `user: root` being passed by default in the invocation.
I can properly start the service if I specify `user: ''` or `user: ` (passes as user: null in the invocation), but service declaration is not idempotent, every time I run the deploy I get
[code]

##### ISS

[2018-11-27 17:11] sashka commented on #48714
Robot pinged me, so, if I recall it correct, it was the done on purpose to skip multiple workarounds for security repos, backport repos, etc. All of them share “native” repo names, and each of them have it’s own url based on that particular repo context. That’s why I preferred canonical deb source declaration to all the shortcuts.

[2018-11-27 17:33] bcoca commented on #49117
The 'u' is not really modifying the list, it is mostly to signify that it is a Python 'unicode string', you can use the list normally with out issues.

If you are looking to do something with the actual output and you don't want python structures, use `to_json` or `to_yaml` filters.

[2018-11-27 17:34] mikedlr commented on #31869
I want to correct my above comment;  I have looked through the use of fork in Ansible.  There are multiple cases where _something_ is done after a fork and before an exec.  If you read the above articles carefully it is completely possible that this means that a thread is holding an important lock over a fork and can be seen as a "discovered" bug in Ansible.

[2018-11-27 17:38] bcoca commented on #49141
You don't show where/how you notify the handlers, so we cannot evaluate if it should be triggered or not

needs_info

[2018-11-27 18:20] emobortnik commented on #49141
sorry
it was my fault

[2018-11-27 18:20] #49141 closed, assigned to nobody

[2018-11-27 18:52] apenney opened #49200 "Traceback when ansible-galaxy tries to use "git" and it is not installed"
##### SUMMARY

In CI I forgot to install git, and then used ansible-galaxy to install this requirements.yml:

[code]

This failed when I ran:

[code]

Resulting in:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 (without git installed)

##### STEPS TO REPRODUCE

[code]

#

[2018-11-27 19:22] UnwashedMeme commented on #48890
I think the issue is the command it runs to find existing permissions has a header row in recent rabbitmq.

1. `rabbitmqctl list_user_permissions` (see https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/messaging/rabbitmq/rabbitmq_user.py#L175)

[code]
2. That table header line doesn't get skipped, see https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/messaging/rabbi

[2018-11-27 19:28] michzimm opened #49201 "vmware_guest was working, now fails with false exception about reducing size of disk"
##### SUMMARY
I have a playbook which uses the vmware_guest module to clone a RHEL 7.5 template in vmware. The template has two disks, disk 1 = 150GB and disk 2 = 40GB. I have declared both disks in the "disk" portion of the vmware_guest task in the playbook. Weird thing is that this playbook was working, I have deployed several instances with this playbook, however all of a sudden the vmware_gues

[2018-11-27 19:34] michzimm commented on #49201
![screen shot 2018-11-27 at 2 31 15 pm](https://user-images.githubusercontent.com/24229893/49106418-231a5080-f251-11e8-988c-63435c57e406.png)

From vmware_guest task in playbook...
[code]

[2018-11-27 20:10] felixfontein commented on #49199
From your analysis, it sounds like it could be fixed by changing `if self.user != os.user:` to `if self.user and self.user != os.user:`. @dariko @jwitko what do you think?

[2018-11-27 20:38] mikedlr opened #49207 "Ansible carries out work after forks and sometimes has threads running."
If you have found this issue with a search and need a quick fix, you can probably simply run

`export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
`
in bash and have a work around.  This will not fix the underlying issue but will allow you to complete your work today.

##### SUMMARY

In some cases, ansible first forks and then does other work.  If a thread was running before a fork this thread may hold

[2018-11-27 21:00] foozlevazquez opened #49208 "gcp_compute_network_facts module leaves results as `items` causing namespace problem."
##### SUMMARY

gcp_compute_network_facts module leaves results as `items` causing namespace problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_network_facts module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run ansible-playbook with against GCP and try to access the `items` fields on the registered result o

[2018-11-27 21:03] mikedlr commented on #49207
linux statement of this bug:
http://www.linuxprogrammingblog.com/threads-and-fork-think-twice-before-using-them

[2018-11-27 21:04] foozlevazquez commented on #49208
I work around this problem by editing https://github.com/ansible/ansible/blob/694c505452790d0a55413b3ac157d3dbf6be1ebb/lib/ansible/modules/cloud/google/gcp_compute_network_facts.py#L166

To read
[code]

And then access the networks as "networks" from the registered value.

[2018-11-27 21:13] mikedlr commented on #49207
from http://man7.org/linux/man-pages/man3/pthread_atfork.3.html

(found from [fork(2)'s manual page](http://man7.org/linux/man-pages/))

[2018-11-27 21:15] maxamillion commented on #48632
It was discussed extensively in today's meeting and I'll be adding the `build-deps` state option to the `yum` and `dnf` modules in order to match the `apt` module implementation

[2018-11-27 21:31] nitzmahone commented on #49011
Ansible 1.9 has been end-of-life for a very long time... Please re-file this if you're able to reproduce it on a support version of Ansible (currently 2.5-2.7). Thanks!

[2018-11-27 21:31] #49011 closed, assigned to nobody

[2018-11-27 21:34] michaelnugent commented on #28380
What's the blocker here?  It looks fairly straightforward, but it's been over a year?

[2018-11-27 21:34] mattclay commented on #48975
@villelaitila Thanks for the suggestion. We're going to pass on using Softagram for now. Most PRs won't see much benefit from these reports and we would like to avoid introducing more automated comments to our existing workflow.

If the full reports were available without a login and were reported through PR status instead of a comment then it might be something we could look at.

[2018-11-27 21:34] #48975 closed, assigned to nobody

[2018-11-27 21:38] jborean93 commented on #49207
!component =lib/ansible/executor/task_queue_manager.py

[2018-11-27 21:41] webknjaz commented on #48678
@ju2wheels it looks like you might be experiencing a "Git submodule hell" issue as well :)
It looks like a valid workaround for you would be to use Git subtree (which implies changing your workflows though).
Other than that the proposal looks legit.

[2018-11-27 21:43] pescobar opened #49209 "redfish_config not working with Dell PowerEdge T640"
##### SUMMARY

redfish_config module always fails.

This is the information of the system I collected using `redfish_facts` module that works fine:

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
redfish_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ubuntu 14.04
Python 2.7.6

I also tested in a ubuntu16.04 machine with the same result

##### S

[2018-11-27 21:43] jlecour commented on #38655
I've just verified that the bug I'm referring to is still present in 2.7.2.

[2018-11-27 21:44] #48950 closed, assigned to nobody

[2018-11-27 21:48] #48948 closed, assigned to samdoran

[2018-11-27 21:52] C0missar commented on #48859
How do you know WHICH plugin generated the message?  That at least would be a hint.  I reduced my plugin list down to one (yaml), and still get the message, but the inventory seems to be parsed fine.

[2018-11-27 21:56] dav1x commented on #49201
Howdy @michzimm
In the play both volumes are listed as thin provisioned, in the original template are the VMDK types listed as thin provisioned?

[2018-11-27 21:57] bcoca commented on #49041
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As stated in the link above, this is expected behaviour.

In the future, this might be a topic more well suited for the user list, whic

[2018-11-27 21:59] bcoca commented on #49048
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline implementing this feature.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on closed tickets, but want to encourageopen dialog.

You can stop by the development list

[2018-11-27 21:59] #49048 closed, assigned to bcoca

[2018-11-27 22:01] rambleraptor commented on #49208
Hello! You have to access the items using `_networks['items'][0]` instead of `_networks.items[0]`. Try that and see if it works!

[2018-11-27 22:02] michzimm commented on #49201
Hey @dav1x
Thanks for the reply. Yep, both are set as thin provisioned on the template VM. It's really weird because this same environment and playbook worked without a hitch just yesterday.

<img width="355" alt="sjc-hx-jump_-_royal_tsx" src="https://user-images.githubusercontent.com/24229893/49114286-d5f4a980-f265-11e8-8703-08d50b0358fc.png">

[2018-11-27 22:02] jctanner commented on #49052
!component =contrib/inventory/openstack_inventory.py

[2018-11-27 22:04] jlecour commented on #38655
@samdoran I've re-read your explanation that if the line already exists but not exactly before/after the `insertbefore`/`insertafter` argument then it is added once more, and that if this is not intended then we should add a `regexp` argument.

It seems an acceptable workaround for very simple lines, but when you try to match a complicated line with a lot of special characters, it becomes a kind o

[2018-11-27 22:08] jose-delarosa commented on #49209
Yup I know exactly what this is. I have a PR I need to submit to make `set_manager_attributes()` idempotent and it fixes this.

[2018-11-27 22:08] nitzmahone commented on #49076
This is by design; an interface may have multiple IPv4 addresses, which would necessitate a dictionary for each address.

[2018-11-27 22:08] #49076 closed, assigned to nobody

[2018-11-27 22:12] dav1x commented on #49201
Hey again @michzimm!

Np, would you mind posting the contents of the VMX file for the template? or the VMTX file if it's marked as a template in vSphere?

[2018-11-27 22:13] bcoca commented on #49088
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-27 22:13] #49088 closed, assigned to nobody

[2018-11-27 22:17] bcoca commented on #49102
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-27 22:17] #49102 closed, assigned to gundalow

[2018-11-27 22:19] samdoran commented on #49101
The issue with allowing arbitrary paths to be searched is it opens the door for path traversal attacks. The current design, while it does have some limitations, is intended to behave predictably and prevent this kind of attack.

[2018-11-27 22:19] #49101 closed, assigned to nobody

[2018-11-27 22:19] gitaaron commented on #18555
I'm new to Ansible so I'm not sure if any of this is right at all but here goes...

Link to updated faq -

https://github.com/gitaaron/ansible/commit/cbd6ef062e5a132bf9f82786d5889fd9055f26ca

Link to a few trivial roles -

https://github.com/gitaaron/ansible-role-cowsay4zos

https://github.com/gitaaron/ansible-role-less4zos

[2018-11-27 22:20] michzimm commented on #49201
@dav1x

Sure, here goes...
[code]

[2018-11-27 22:23] #49117 closed, assigned to nobody

[2018-11-27 22:31] bcoca commented on #49139
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-11-27 22:31] #49139 closed, assigned to nobody

[2018-11-27 22:33] richardcs commented on #48471
@Roxyrob  if you have a chance to test the changes in #49206  I would be interested to know if it solves your issue. I do think that XML should contain encoding declarations but your issue is valid as well.

[2018-11-27 22:36] nitzmahone commented on #49114
I'm unable to reproduce this on 2.7.2; running your test playbook, I see the exact same behavior as 2.6.5 (and others), where the task name is displayed immediately (ie, doesn't block on the task returning).

Are you perchance running under something else that might be doing intermediate output buffering (eg docker)? If so, nothing we can do about that...

[2018-11-27 22:37] dariko commented on #49199
@fchiacchiaretta Thanks for your report!
Can you detail the failure you get when setting `user: root`?
Right now I can't reproduce the issue with the same ansible and docker versions:
- setting `user: root` or omitting `user` has the service correctly created and unchanged in a second execution with the same parameters
- setting `user:` has the service correctly created but the second execution re

[2018-11-27 22:38] felixfontein commented on #28380
@michaelnugent there is a PR (#35288), but it needs some adjustments. I've tried to ping the author two hours ago, maybe he'll respond.

[2018-11-27 22:39] nitzmahone commented on #49175
This isn't a bug with win_package; you'll need to figure out the magic combination of args for the installer to get it to run unattended. Depending on what it does, you may also need to use `become` to run it under an interactive session, but that's rare.

[2018-11-27 22:39] #49175 closed, assigned to jborean93

[2018-11-27 22:40] jlecour commented on #38655
I've tried to add a `regexp` in a project I'm working on and I find the process very frustrating. Most of the added regexes add a lot of duplication and subtleties that will introduce a lot of errors.

Here is a subset of the changes needed (some parts are not totally related to the issue) :

[code]

In my opinion, those regexes don't add any sense nor context and they make maintenance harder and

[2018-11-27 22:41] dav1x commented on #49201
I think I found the issue:
https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1524

Then it is compared to the disk size here:
https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1570
https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1596

What may n

[2018-11-27 22:45] abadger commented on #49184
rpm-ostree support was added here: 38b8d62e68a7e705318312be87b95bd53f8324ed

[2018-11-27 22:45] jctanner commented on #49185
!component =lib/ansible/modules/system/authorized_key.py

[2018-11-27 22:46] mikedlr commented on #49207
This is the related python bug which seems most relevant: https://bugs.python.org/issue33725

solutions include:

or

which essentially leaves us on our own to avoid doing anything between fork() and exec(), especially for as long as we have to support python 2.X.

[2018-11-27 22:47] maxamillion commented on #48984
For clarification, the issue isn't the quotes inside but the surrounding `{}`, the following block var works:

[code]

This is definitely an issue, it appears to be related to the following code found in `lib/ansible/playbook/role/requirement.py`:
[code]

[2018-11-27 22:50] maxamillion commented on #48984
cc @sivel - I think you were diagnosing something similar

[2018-11-27 22:52] felixfontein commented on #49199
@dariko the problem with changing the default now is that it breaks backwards compatibility. It probably would have been better if the default would have never been there, but now it's too late. (The root cause for #49078 is essentially the same problem: the `init` option for `docker_container` has a default value.)

Unfortunately I don't have a good idea how to solve this. @gundalow are there any

[2018-11-27 22:52] nitzmahone commented on #49077
The parameter name you need for `win_package` is `arguments`, not `args`; Ansible Powershell modules in 2.7 don't have automatic argument validation, but the capability comes in Ansible 2.8 (and we'll start retrofitting to existing modules soon). Change the task to use the right arg name and it should work fine.

[2018-11-27 22:52] #49077 closed, assigned to nobody

[2018-11-27 22:54] felixfontein commented on #48984
Link to the related analysis by @sivel: https://github.com/ansible/ansible/issues/34595#issuecomment-356091161

[2018-11-27 22:57] samdoran commented on #49185
This can be accomplished by using the `key_options` parameter.

[code]

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-27 22:57] #49185 closed, assigned to nobody

[2018-11-27 23:16] #46549 closed, assigned to nobody

[2018-11-27 23:19] bcoca commented on #49207
Just to note, the core uses very few dependencies by design and those that we use should be safe. I do expect that threaded libraries could be used in plugins, which either execute exclusively in the main fork (callback, strategy, inventory)  or in the post fork workers (most of the rest of plugins) which should avoid this issue as they don't traverse fork boundaries.

So though the theory is vali

[2018-11-27 23:36] bcoca commented on #48859
the message has always had the plugin name,  host_list/ini/script/yaml/etc , the new one no puts it at the start of the message instead of the middle.

[2018-11-28 00:02] achilds-vela commented on #48131
@webknjaz
It doesn't currently have any tags inside the roles example above (outside of the site.yml file), but here are a few ways I added tags and the result:

First attempt (adding some plays that use import_role as well as include_role) modifying site.yml:
[code]
Result:
- roles: same result
- import_role: used the default value as desired.
- include_role: Didn't appear to run the tasks/main.y

[2018-11-28 01:05] k0ste commented on #48785
@offlinehoster @zubfatal, your tests?

[2018-11-28 01:08] PikachuEXE commented on #49114
Nope I am using the same example to reproduce my problem (to ensure this is not ansible issue)
I will ask my colleagues to run the same example and see what's the result

[2018-11-28 01:46] medined commented on #37148
@Behoston you were correct. I did need to install git. I've added that install to the playbook outlined previously.

[code]

I also switched to trying to install artifactory 7.3.1 instead of memcached which did not exist at the repository I used. Below is the next issue I've run into.

[code]

[2018-11-28 01:59] zhaolx01 commented on #49018
The mirrored disk is larger than the disk I set

[2018-11-28 01:59] #49018 closed, assigned to nobody

[2018-11-28 02:09] zhaolx01 opened #49225 "ali_instance: local variable 'filters' referenced before assignment"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ali_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-11-28 02:39] michzimm commented on #49201
@dav1x
Quick question, would/could this issue happen intermittently? As mentioned the play worked fine yesterday and I've run it many times successfully prior to that as well. All of a sudden today I'm getting the error. I know logically it would seem something changed in the environment, but I'm not aware of any changes to environment or software...hence my question on could this issue somehow ma

[2018-11-28 02:41] Akasurde commented on #49225
@zhaolx01 Thanks for reporting this issue. After looking the code - I think this issue is related to `footmark` library. [Here](https://github.com/alibaba/footmark/blob/0fddfc2ead0f74ae9988e9ff19d96e9e1cb4866d/footmark/ecs/connection.py#L267) lib is referencing local variable filter before assigning.

I would recommend to file a issue against [footmark](https://github.com/alibaba/footmark/issues/n

[2018-11-28 02:58] kbreit commented on #49149
@ericdost Glad to hear it helped. I will need to get it merged. Before I submit the PR as final though, I need to fix it for idempotency. Because you're submitting a list and Meraki returns a string of 'combo' it would never match. Once I get that resolved, I can get it merged for release with 2.8.

[2018-11-28 03:07] aksharbarot opened #49226 "Does Ansible Support Windows LAPS?"
##### SUMMARY

Can't able to find Windows LAPS (Local administrator password Solution) in Ansible. Where user has to generate each time new password to use that as login password for windows local users.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2018-11-28 04:34] lojies opened #49227 "is there any way to quick get some facts?"
##### SUMMARY
is there any way to quick get some facts?
for example:
[code]
this seems like getting all facts and then filter,it cost more time.
can only the setting facts be collected  to make a quick return?
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME
ansible
##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]

[2018-11-28 04:47] foozlevazquez commented on #49208
Confusing, but it works. Thanks.

[2018-11-28 06:13] felixfontein commented on #49199
@dariko doesn't the implied user depend on the image's default user? I don't use `docker_service` or `docker_swarm_service`, but for regular `docker_container` controlled instances I don't specify a user, but already add/specify it while building the images.

[2018-11-28 06:14] Fred-sun commented on #49180
@xkrt Thanks for your contribution. Maintainers or community member will add new features. Thanks!

[2018-11-28 07:00] Fred-sun commented on #49193
@yuwzho Could you help take a look this issue? it's new feature for azure_rm_securitygroup's rule parameter( no Application security group choices).  Thanks!

[2018-11-28 07:00] zhangmingld commented on #49117
Thank you very much for all your reply ~

[2018-11-28 07:03] dariko commented on #49199
@felixfontein Thank you, the image's own default user completely slipped my mind :confused: Now I see how backward-compatibility can be broken by changing the module parameter default, and how bad the current default is. Maybe it would be possible to replace it on a eventual future major release?

[2018-11-28 07:07] zsythink opened #49231 "duplicate role execution use different paramenter"
##### SUMMARY
Role Duplication and Execution

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[root@test71 tmp]# cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)
[root@test71 tmp]# uname -a
Linux test71 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

#

[2018-11-28 07:10] Fred-sun commented on #46790
@zikalino

[2018-11-28 07:16] felixfontein commented on #49199
That's a good question. I hope @gundalow can answer that or point us to someone who can :)

Maybe how about the following:
  1. introduce a "user name" (which would be an invalid name for a "real" user) as a placeholder which allows to use the user from the container (I'd like `as-in-container`, but I think that's also a valid username);
  2. remove the default, but add code which explicitly sets

[2018-11-28 07:20] Fred-sun commented on #47696
kindly ping

[2018-11-28 07:47] juame opened #49232 "firewalld module can not set target property of a zone"
##### SUMMARY
It's possible to set a `target` property with `firewall-cmd` for a specific firewalld zone:
[code]
(Source: [RHEL 7 Documentation](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/security_guide/sec-working_with_zones#sec-Using_Zone_Targets_to_Set_Default_Behavior_for_Incoming_Traffic))

To accept any traffic in a zone it would be great to be able to chan

[2018-11-28 08:03] pescobar commented on #49209
@jose-delarosa would you mind to mention the pull request here once you submit it?

gracias!

[2018-11-28 08:05] ganeshrn commented on #48439
Anisble uses ncclient for netconf connection and the ssh config file is parsed by ncclient [here](https://github.com/ncclient/ncclient/blob/master/ncclient/transport/ssh.py#L349) which in turn uses paramiko to parse the config file.
Hence fetaure to parse `Include` directive need to be added in paramiko first. I can see a PR open on paramiko to add this feature https://github.com/paramiko/paramiko

[2018-11-28 08:32] Akasurde commented on #48912
!component =contrib/inventory/vmware_inventory.py

[2018-11-28 08:42] dariko commented on #49199
@felixfontein I like the idea of a `as-in-container` username, maybe we could choose a non POSIX-compliant one (I think `@image`, for example, should be invalid linux and maybe in windows, and indicative of its purpose).

If the @fchiacchiaretta is just about the idempotency I've prepared #49235 which solves it, but he also mentioned a module failure which for now I've been unable to reproduce.

[2018-11-28 10:01] mkrizek commented on #49231
See https://docs.ansible.com/ansible/2.7/reference_appendices/config.html#default-private-role-vars

[2018-11-28 10:05] fchiacchiaretta commented on #49199
Hi @dariko
I think I've been inaccurate in my first description, I'm not getting a module failure, playbook runs properly and service is created on the swarm manager, but container fails to start with this error

[code]

As you reported

I get the same behaviour, but in the first case I have

[code]

while in the second `User: root` is missing.

If I can have idempotency even specifying a null use

[2018-11-28 10:41] gundalow commented on #48728
There is fix in https://github.com/ansible/ansible/pull/48761 (thanks @mattandes) would welcome reviews on that

[2018-11-28 11:13] lukasmrtvy commented on #48952
There is update from @morph027 https://github.com/morph027/ansible/blob/proxmox-kvm-cloud-init-settings/lib/ansible/modules/cloud/misc/proxmox_kvm.py

[2018-11-28 11:14] lukasmrtvy commented on #44955
There PR https://github.com/ansible/ansible/pull/42571

[2018-11-28 11:15] lukasmrtvy opened #49236 "proxmox_kvm: Failed to use args parameter with pve user other that root@pam"
##### SUMMARY

Its not possible use args parameter with pve user other that root@pam
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE

RUN task:

[code]

##### EXPECTED RESULTS

VM is created with args parameter with different user othere than root@pam

###

[2018-11-28 11:17] Akasurde commented on #48291
@hryamzik I am not able to reproduce this issue with given steps -

[code]

[2018-11-28 11:54] gdpak commented on #48093
@AMHAnsible9 I am not able to reproduce this issue with same playbook as given in bug. If you are still facing the issue then can you please enable debugs and pass-on the full debugs
https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#enable-network-logging

[code]

[2018-11-28 12:00] D3DeFi commented on #48785
@k0ste you patch works for me as well (python 3.5.3 and 2.7.10, Debian9, non-secure connection)

[2018-11-28 12:09] k0ste commented on #48785
@D3DeFi, thank you.
At this time only SSL (not STARTTLS) os not confirmed.

[2018-11-28 12:15] blastik commented on #25459
same issue here!

[2018-11-28 12:38] jpdasma commented on #49051
I noticed another bug with regards to the way ansible is parsing media type.

[code]
ansible would show this
[code]
Notice media_select and media_type is wrong. Ansible would only be right if it is using autoselect as media type.

[2018-11-28 12:52] zubfatal commented on #48785
@k0ste I can confirm that mail.py from #49016 works with my installation of Ansible 2.7.2 with Python 2.7.13 using non-secure connection

Also I'm using Debian 9.6

[2018-11-28 12:52] sbulage commented on #49135
PR #49237 will fix it.

[2018-11-28 13:35] dariko commented on #49199
@fchiacchiaretta Ok, it all makes sense. The changes in #49235 should have the module correctly report its changed status when using `user:`.
[Here](https://github.com/dariko/ansible/blob/issue_49199_workaround_stable27/lib/ansible/modules/cloud/docker/docker_swarm_service.py) is the module as it would be when backported to stable-2.7, could you please test if this version works for you?

[2018-11-28 13:55] sandeepdharembra opened #49240 "Playbook running locally but unable to ssh to host via AWX"
##### SUMMARY
I have ansible and ansible AWX installed on same AWS EC2 instance and I am trying to deploy build on another app AWS EC2 instance. I am able to run the playbook via ansible-playbook command,however, get Failed to connect to the host via ssh when using AWX

- AWX inventory has just that host added along with ansible_user : nextag which is the user I want to deploy with
- Ansible/AWX h

[2018-11-28 14:20] Russell-IO commented on #23985
@Akasurde  it works now, Device Mapper & Madam drives returned:
[code]

[2018-11-28 14:21] Russell-IO commented on #23985
[code]

[2018-11-28 14:23] #49231 closed, assigned to nobody

[2018-11-28 14:31] fchiacchiaretta commented on #49199
@dariko I made a few tests with both original and updated module, I try to summarize my findings.

With updated module, the second run with `user:` results in 'ok' status, so I have idempotency now.

There is another notable difference in behaviour I noticed:
with original module, when creating the service without user parameter, running a second time setting `user:` resulted in a changed state, s

[2018-11-28 14:33] gundalow commented on #48785
bot_status

[2018-11-28 14:34] machacekondra commented on #42895
resolved_by_pr 43636

[2018-11-28 14:37] Klaas- commented on #49100
as a workaround, you can import the file as a var and iterate over the items

[2018-11-28 14:46] romain-dartigues commented on #29647
Original PR to support swap, two years ago in 2016 via ansible/ansible-modules-extras#3345
If my code is bad, please say it so I can fix it...

[2018-11-28 14:49] dagwieers commented on #48785
Being fed up with some recent breakage (due to a rewrite, and incompatibilities between python2 and python3) I fixed the issue and implemented a python smtpserver to test the module against. You can find the implemenation in PR #49197 (the backport is in #49222).

Hopefully this ensures that future changes to the module won't break existing usage. The current implementation does not support SMTP a

[2018-11-28 14:53] #23985 closed, assigned to nobody

[2018-11-28 14:56] gundalow commented on #19586
Need to confirm if this still happens in 2.7

[2018-11-28 14:57] Akasurde commented on #23985
@Russell-IO Thanks for the feedback.

[2018-11-28 14:58] gundalow commented on #19884
@ganeshrn thinks this may be supported now, need to check

[2018-11-28 15:00] gundalow commented on #21350
This isn't something the Network Team will implement, we look to the community for a PR for this.

[2018-11-28 15:00] gundalow commented on #21507
This isn't something the Network Team will implement, we look to the community for a PR for this.

[2018-11-28 15:01] gundalow commented on #22192
I believe this is supported in Ansible 2.7.
Closing

[2018-11-28 15:01] #22192 closed, assigned to privateip

[2018-11-28 15:03] gundalow commented on #25916
@mikewiebe Do you have an update on this?

[2018-11-28 15:06] gundalow commented on #26883
@wisotzky Does https://docs.ansible.com/ansible/latest/modules/netconf_get_module.html give you what you are after?

needs_info

[2018-11-28 15:09] techtonik commented on #38417
@BarbzYHOOL seems nobody cares, just create a new bug with the title BLOCKINFILE IS BROKEN!!! =)

I remember I started to work on patching this, but lack of funds and projects that need this change resulted in a low motivation to finish.

[2018-11-28 15:09] gundalow commented on #28708
resolved_by_pr: 47718

[2018-11-28 15:09] gundalow commented on #28708
Please review https://github.com/ansible/ansible/pull/47718

[2018-11-28 15:09] #28708 closed, assigned to nobody

[2018-11-28 15:10] gundalow commented on #29522
@mikewiebe @trishnaguha Is this fixed already?

[2018-11-28 15:12] gundalow commented on #29548
There is a PR in flight (@ganeshrn to add details) that should resolve this

[2018-11-28 15:13] ganeshrn commented on #29548
The feature is added as part of PR https://github.com/ansible/ansible/pull/48655

[2018-11-28 15:13] gundalow commented on #29548
resolved by  https://github.com/ansible/ansible/pull/48655 reviews welcome

[2018-11-28 15:13] #29548 closed, assigned to ganeshrn

[2018-11-28 15:15] gundalow commented on #29787
Every module has a `Tested against` version, ie https://docs.ansible.com/ansible/devel/modules/ios_config_module.html#notes

[2018-11-28 15:15] #29787 closed, assigned to nobody

[2018-11-28 15:19] gundalow commented on #30406
There could be one of two issues here
1) It's actually timing out, https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#timeout-issues
2) We are getting false positive on prompt detecting as `show tech` returns a *lot* of detail.

There have been various fixes to the prompt detection since Ansible 2.3, so this could be fixed.

[2018-11-28 15:20] gundalow commented on #30567
@jmighion Is this still an issue?

[2018-11-28 15:26] #30632 closed, assigned to nobody

[2018-11-28 15:28] #30709 closed, assigned to nobody

[2018-11-28 15:30] arhue commented on #49135
@Akasurde I'll compile Ansible tonight, check and let you know. Thanks for the quick PR @sbulage

[2018-11-28 15:31] gundalow commented on #31186
So this is about not having the intended config on the ansible-control.

This can be worked around by copying the file, or wrapping this up in a role.

[2018-11-28 15:31] #31186 closed, assigned to nobody

[2018-11-28 15:39] Akasurde commented on #47808
@aksharbarot Could you please provide example values of 'asset tag' and 'service tag' for given system.

[2018-11-28 15:52] mikewiebe commented on #25916
@gundalow I checked with the nxapi development team and they confirmed that nxapi does not support  switching form one vdc to another using the `switchto vdc` command.  Each VDC needs to be treated like a separate n7k device with separate entries in the inventory file.

[2018-11-28 15:56] Qalthos opened #49244 "Disable dropping to bash in network modules"
##### SUMMARY

Ansible networking modules, at present, do not support dropping to bash or other shells. We should be able to detect a user trying to do this and tell them that this is unsupported

See also: #30632 #30709

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_command
probably others

##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

An error that we don't support bash in *

[2018-11-28 16:00] mikewiebe commented on #25916
Here is an example:

My hosts file contains two entries.  One for my default vdc and the other for my non-default vdc.

[code]

Make sure to enable nxapi or ssh in both the default an non-default vdc.

Now manage both VDC's as if they were two different N7K's

[code]

[2018-11-28 16:12] windowsrefund commented on #49120
This is a problem with python 2.7.15 as well. I've tested against multiple versions of ansible (2.7.1, 2.7.2 and even 2.5.11). Seems the module can create the users and set the permissions but followup runs are not idempotent and blow up with:

"msg": "Virtual host 'vhost' does not exist", "rc": 65, "stderr": "Virtual host 'vhost' does not exist\n", "stderr_lines": ["Virtual host 'vhost' does not

[2018-11-28 16:19] walterdolce opened #49245 "Either Ansible or aws_ec2 plugin compute group vars as host"
##### SUMMARY
As per title, when using the `aws_ec2` plugin I get returned the content of a `group_vars` file (and its secrets!) instead of the actual (or lack of) list of hosts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`awc_ec2`

##### ANSIBLE VERSION
2.7.0

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Not relevant

##### STEPS TO REPRODUCE
Get the following folder structu

[2018-11-28 16:37] fchiacchiaretta opened #49246 "docker_swarm_service: add support for 'docker service --placement-pref' option"
##### SUMMARY
Currently there is no support for placement-pref in docker_swarm_service, even if it is supported in docker python library ([docs](https://docker-py.readthedocs.io/en/stable/services.html) for reference, **preferences** parameter)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
docker_swarm_service

##### ADDITIONAL INFORMATION
[placement-pref](https://docs.docker.com/engine/r

[2018-11-28 16:53] ctrlaltdel commented on #48691
I have the feeling that ansible started to evaluate jinja2 in variable content between 2.4.6 and 2.5.0 only when the cache is actived.

See bug https://bugs.launchpad.net/openstack-ansible/+bug/1803382

[2018-11-28 16:54] BarbzYHOOL commented on #38417
combined with templates https://stackoverflow.com/questions/46366526/appending-files-with-template-module-in-ansible blockinfile is very useful

[2018-11-28 17:00] dariko commented on #49199
@fchiacchiaretta The new behaviour is at least consistent, and it is the one I would have expected from the beginning: now having `user` unset or nullifying it  have the same meaning.
It could be better, but working in that direction will have to take in consideration backward compatibility.

[2018-11-28 17:06] kaelscion commented on #47696
Unfortunately, you may want to remove me from this bug. Azure is much different than what I am used to and, while I am sure I can work within the context of the bug once all is deployed to Azure, I simply cannot seem to get a working version of Ansible up and running on the Azure platform. I apologize for wasting folk's time as I would really like to work on this, but I am just too green in Azure

[2018-11-28 17:13] #40072 closed, assigned to nobody

[2018-11-28 17:13] #43007 closed, assigned to rcarrillocruz

[2018-11-28 17:18] akshay196 commented on #43337
I would like to work on this issue. I will submit PR when I am done.

[2018-11-28 17:24] vicmunoz opened #49248 "module na_ontap_firewall_policy doesn't accept valid services"
##### SUMMARY
Module na_ontap_firewall_policy doesn't accept services like NDMP, DNS

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_ontap_firewall_policy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OS: Ubuntu 18.04
Netapp: FAS2552 with cdot 9.3P5

##### STEPS TO REPRODUCE
Run the playbook

[code]

##### EXPECTED RESULTS
The firewall policy should be

[2018-11-28 17:30] wisotzky commented on #26883
I've contributed to the GET module by myself... The challenge is here, that the data-structure depends on the vendor's implementation. If the vendor has implemented standard models like IETF models or OpenConfig models - everything should be alright. The challenge is, when this is not the case and just vendor models are supported.

So the ask is likely, to define some attributes of common interest

[2018-11-28 17:50] ishrivatsa commented on #48756
Thank you @nitzmahone

[2018-11-28 17:51] wbagdon commented on #48577
I'd be happy to make a PR, just let me know what direction I should go with this.

[2018-11-28 18:00] carchi8py commented on #49248
Looks like

- dns
- ndmp
- ndmps

is missing from the module (and the Zapi documentation). We'll make a fix for this.

[2018-11-28 18:18] rouge8 commented on #9623
If anyone else runs into this, I've created a cached lookup plugin that lets you cache any lookup, e.g.:

[code]

https://github.com/GoodRx/ansible-cached-lookup

[2018-11-28 18:21] laszlof opened #49252 "ansible-vault fails to encrypt large files"
##### SUMMARY
When attempting to encrypt a large binary file (over 5GB), ansible-vault fails with just an "ERROR!" message. I believe this is likely due to not having enough RAM in the environment, as testing it on another machine with more RAM produced the expected results.

Perhaps some kind of warning or a different error message would be useful here?

##### ISSUE TYPE
- Bug Report

##### COMPO

[2018-11-28 18:28] #49200 closed, assigned to maxamillion

[2018-11-28 18:40] ralphie02 commented on #48435
@Akasurde

I'm using bash.

I'm not sure what else to add. The only thing I notice between our tests is that I explicitly used `vmware_guest` module on a playbook which I believe is the culprit but for some reason you didn't test it on that module (is that a lot more tedious?)

In addition, I ran something simple like this just now:
`playbook.yml`
[code]
and the value is displayed correctly so I'm

[2018-11-28 18:48] alanbantuit commented on #48859
No it doesn't. It has the file being complained about at the start, not the name of the plugin doing the complaining.

I see nothing that looks like a plugin name. As @leedm777 suggested, limiting the inventory enabled plugin to just ini eliminates the message, so even the hint of the file name is not correct.

Given that enable_plugins = ini stops the message, it looks to me like some other inven

[2018-11-28 18:56] groggi commented on #49120
Hey @windowsrefund you just made my week! Thank you. I was thinking I'm going mad for not finding out where the vhost "vhost" is coming from and why my deployments fail. So its also due to `rabbitmq_user`. I don't have a good testing environment, but I will try to find the cause. Of course I'd be very happy if someone with more knowledge and experience with this module can have a look too :-).

[2018-11-28 19:00] Qalthos commented on #27793
Hi!

This is an older issue, which we believe is resolved by recent versions of Ansible. As such, this ticket will be closed. If you believe the issue persists in the latest release, please open a new ticket with relevant logs from the current release.

[2018-11-28 19:00] #27793 closed, assigned to rcarrillocruz

[2018-11-28 19:02] AquaL1te commented on #29647
@romain-dartigues have you seen #30090? Haven't tested that one for a while, I already changed my system configuration since it didn't work.

Also mounting swap doesn't work, using:
[code]

This is the hostvar, which includes the data structure for the mount task:
[code]

Task:
[code]

Which fails, unknown filesystem swap. All other filesystems I feed the task work without problems.
[code]

[2018-11-28 19:07] hryamzik commented on #48291
@Akasurde did you try this on the same docker image?

[2018-11-28 19:08] bcoca commented on #48859
@alanbantuit read the new message from the PR above, that is the one that puts the plugin at the start

As from your example 'host_list' is the plugin, which i agree is not clear, which is why i changed it to be at the start of it.

[2018-11-28 19:17] #35718 closed, assigned to nobody

[2018-11-28 19:22] jose-delarosa commented on #49209
Yes, of course, should be sooner rather than later.

[2018-11-28 19:23] dustymabe commented on #49184
I'm writing a new module for rpm-ostree package layering support (i.e. an implementation for https://github.com/ansible/ansible/issues/21185). In my tests I'm actually replacing `{'path': '/usr/bin/rpm-ostree', 'name': 'atomic_container'}` from `pkg_mgr.py` with `{'path': '/run/ostree-booted': 'rpm_ostree_pkg'}` where `/run/ostree-booted` is file that can be used to indicate you are on an ostree b

[2018-11-28 19:25] zoredache opened #49254 "Disabling host key checking via variable doesn't seem to work."
##### SUMMARY
I want to disable key checking for a small subset of the systems I manage.  I do not want to disable it via INI/Environment since that applies to all systems.  The documentation on the paramiko_ssh page seems to say that I can set variables to disable key checking.  This isn't working.  I am not entirely sure if I am reading the docs wrong, or if this is a bug.

- The https://docs.an

[2018-11-28 19:32] bagbag commented on #28380
As there is nothing like inspect only, whats the best way to run a shell command, but only if network doesn't exist already?

[2018-11-28 19:34] vpopescu commented on #47696
@kaelscion just curious, why do you need it running in Azure? You can run the playbook on your local computer and manage Azure that way.

[2018-11-28 19:35] sivel commented on #48977
Can you please provide a minimal reproducer that we can run without modification?

Your reproducer seems to rely on several pieces of information we do not have available.

Additionally, we may be able to gain more insight if you were to provide the output using the default callback and called with `-vvv`

needs_info

[2018-11-28 19:37] albers commented on #48435
Maybe this is due to

In your playbook.
You set the env vars as the current user, but the playbook switches the execution context to root, where the env vars do not exist.

[2018-11-28 19:38] kaelscion commented on #47696
My word. Well, that's "bug vision" for ya.. I got so consumed with the fact that the issue took place in management of Azure that I absolutely missed the fact that I could run it locally. Wow. Okay I'll get back at it thank you so much for letting me know!

[2018-11-28 19:41] jifox commented on #48977
Hello,

Meanwhile I've managed to update to ansible 2.7.2 and the error is gone.

Thanks for help.

[2018-11-28 19:55] dustymabe commented on #49184
another thing to consider here.. I personally don't think the [atomic_container](https://docs.ansible.com/ansible/2.5/modules/atomic_container_module.html) module should be associated with the default `package:` module because it's running system containers which require more info than just `name` and `state`, which is why in my implementation I replace it with `rpm_ostree_pkg`. Maybe we could get

[2018-11-28 19:55] abadger commented on #43256
Copying what I wrote in the PR since we'll probably work off this bug report rather than that PR:

I don't think we want to do this quite like this.  We do not want to tell people to use a decimal number in a mode or umask.

There's a couple options:
* We could, as @robinro suggested, make numbers illegal.  The umask must be specified as a string which we can then always treat as octal
* We could

[2018-11-28 19:55] arhue commented on #49135
@Akasurde @sbulage Working perfectly! You guys are seriously awesome :smile:

Thank you!

[2018-11-28 20:00] maxamillion commented on #49184
@dustymabe thank you for the context and the information added here but I think that's going to be a future feature change, which is perfectly fine to discuss in context of the new module coming into existence but is out of scope for this issue ticket

[2018-11-28 20:10] IanTangney commented on #39075
@issmirnov
I encountered the issue after I had the umask set to 077 in /etc/login.defs for compliance reasons. I was able to solve the issue by commenting out the line, uninstalling python, python-pip, deleting `/usr/local/lib/python2.7`, logging out and back in.
After reinstalling python, and installing ansible through pip I had no issues.

[2018-11-28 20:18] maxamillion commented on #49039
@sugitk what instance type is this and what AMI?

needs_info

[2018-11-28 20:34] jpmontez commented on #29695
I'm seeing this too.

[2018-11-28 20:36] dustymabe commented on #49184
I guess what I was trying to say with

is that I think a fix for this could actually be to remove the association of `atomic_container` with the `package:` module at all. Does `atomic_container` even work in this context because it needs more info like `image` etc.?

[2018-11-28 20:37] dustymabe commented on #49184
cc @giuseppe

[2018-11-28 20:50] maxamillion commented on #47335
bot_status

[2018-11-28 20:51] IPvSean opened #49259 "Better error handling for mistakenly adding subnet on ansible_host"
##### SUMMARY
When you have a subnet on the ansible_host

e.g. ```device ansible_host=1.2.3.4/24```

it throws a traceback and errors strangely

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bin/ansible-connection

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS 10.14.1 Mojave

##### STEPS TO REPRODUCE
my inventory ini file
[code]
then i just ran ad-hoc

[2018-11-28 20:56] sivel commented on #48977
I'll go ahead and close this out.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-11-28 20:56] #48977 closed, assigned to nobody

[2018-11-28 21:12] Premik commented on #28380
I'm using the following as a workaround:
[code]

[2018-11-28 21:31] Straevaras commented on #44326
Apologies for the delay, currently going over the PR and its changes, will get back to you within a day or so.

[2018-11-28 21:37] ypid commented on #16681
I noticed that Ansible has been added: https://bestpractices.coreinfrastructure.org/en/projects/2372
Maybe you want to include their badge and thereby confirm that 2372 is the authoritative self audit by Ansible.

[2018-11-28 21:45] felixfontein commented on #28380
@Premik in case your networks are called `myNet1` and `myNet11`, you might get a problem (if `myNet11` exists but `myNet1` not, it will not create `myNet1`). You can improve this by running `docker network ls --format '{{.Name}}'` instead and checking whether `item` is in `dockerNets.stdout_lines` (or however the line-split version was called).

[2018-11-28 22:04] felixfontein opened #49267 "docker_*: create more facts modules"
##### SUMMARY
There are currently `docker_image_facts` and `docker_container_facts`, but no `docker_network_facts`, `docker_volume_facts`, etc. (I don't know enough about `docker_service`, `docker_swarm` and `docker_swarm_service` to say whether they could also use a facts module).

The facts modules should essentially do that `docker inspect` does, i.e. return whether the thing exists and if yes,

[2018-11-28 22:37] taylorturner commented on #37640
Having this issue myself, tried everything suggested also.

[2018-11-28 22:39] sugitk commented on #49039
@maxamillion I tried `c4.4xlarge` and `RHEL-6.10_HVM_GA-20180810-x86_64-0-Hourly2-GP2 (ami-09ef84c7cb9323838)`, thank you

[2018-11-29 00:20] marouim commented on #49044
Same here.
The full traceback is:
Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-local-693gPbl1b/ansible-tmp-1543450735.91-246502437278701/AnsiballZ_snmp_facts.py", line 113, in <module>
    _ansiballz_main()
  File "/root/.ansible/tmp/ansible-local-693gPbl1b/ansible-tmp-1543450735.91-246502437278701/AnsiballZ_snmp_facts.py", line 105, in _ansiballz_main
    invoke_module(zi

[2018-11-29 00:38] mechanomancy commented on #27626
The same issue is present in Ansible 2.7.2;

**ISSUE TYPE**
    Bug Report

**COMPONENT NAME**
blockinfile

**ANSIBLE VERSION**
ansible 2.7.2
  config file = redacted/ansible.cfg
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  python version = 2.7.12 (default, Nov 12 2018, 14:36:49) [GCC 5.4.0 20160609]

**PLAYBOOK**
[code]
**EXPECTED RESULTS**
"blockinfile_result" sh

[2018-11-29 00:44] mechanomancy commented on #27626
I believe the pull request is part of commit feba571afbe0a178a25605965f9347260617536f
https://github.com/ansible/ansible/pull/27859#issue-134516116

[2018-11-29 01:04] GeetanjaliGupta opened #49270 "SSH pseudo terminal zombied after ansible playbook exit"
##### SUMMARY
I am running ansible-playbook inside docker container on kubernetes. It does copy task and executes a script. Uses private keys. I am invoking it using a java Process. Looks like the ssh pseudo terminals it might be opening stay behind once the playbook is finished executing. Any new playbook invocation adds on to the number of ssh processes. It sort of what [this ](https://groups.go

[2018-11-29 01:39] ralphie02 commented on #48435
@albers That could be it actually. Good catch

[2018-11-29 01:49] ralphie02 commented on #48435
Just tested this and @albers is correct. It was the `become: yes`

Ticket can be closed now. Thanks!!

[2018-11-29 02:36] Akasurde commented on #48435
OH!!!

[2018-11-29 02:38] Akasurde commented on #48435
@albers Thanks !!! for providing this solution. I almost overlooked `become: yes`. @ralphie02 Thanks for the feedback. I will mark this issue as resolved. Thanks.

[2018-11-29 02:38] #48435 closed, assigned to Akasurde

[2018-11-29 02:41] Akasurde commented on #48291
Yes, same `Dockerfile` provided above.

[2018-11-29 03:07] sandeepdharembra commented on #49240
Was manually trying the ssh command leaving some configuration options and noticed that if I leave ControlPersist and related options, it works

ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=nextag -o ConnectTimeo

[2018-11-29 03:11] marouim commented on #49044
For myself, a workaround was to add a isinstance check. But not sure I am solving the issue the right way.

    for interface in interface_to_ipv4:
        if isinstance(interface, int):
            results['ansible_interfaces'][int(interface)]['ipv4'] = interface_to_ipv4[interface]

[2018-11-29 03:18] PikachuEXE commented on #49114
OK my colleagues are able to see the line being displayed after "sleep"
What other environment can I test this on... docker?

[2018-11-29 03:31] asciifaceman commented on #36769
same behavior seen in ansible 2.7, this is kind if ridiculous honestly

[2018-11-29 03:36] larsks opened #49275 "os_floating_ip module not really all that useful for managing floating ips"
##### SUMMARY

The `os_floating_ip` module does not let one:

- Allocate a floating ip without assigning it to a server
- Attach a floating ip to a port

This means that in many situations (e.g., allocating a floating ip and attach it to an octavia load balancer) one has to muck around with `command` tasks rather than using the simpler semantics of the `os_*` modules.

I'd like to see `os_floating

[2018-11-29 03:37] Hubery2757 opened #49276 "yum module failed to install with local repo"
I set up a local yum repo for docker-ce，it work well with shell manual operation. But it failed with ansible yum module.

I use yum_repository module to add repo for remote host as below, and it successed to create repo file:

- name: configure docker local repo
  yum_repository:
    name: my-custom
    description: my custom repo
    baseurl: http://{{ repo_addr }}/custom/
    enabled: yes
    gp

[2018-11-29 03:40] Hubery2757 commented on #49276
ansible version:

ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Jul 13 2018, 13:06:57) [GCC 4.8.5 20150623 (Red Hat 4.8.5-28)]

[2018-11-29 03:49] Hubery2757 commented on #49276
OS info：
CentOS Linux release 7.5.1804 (Core)
Linux version 3.10.0-862.14.4.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC) ) #1 SMP Wed Sep 26 15:12:11 UTC 2018

[2018-11-29 04:38] Akasurde opened #49277 "Correction in Action Plugin page"
##### SUMMARY
https://docs.ansible.com/ansible/devel/plugins/action.html explains about the Action Plugin in Ansible. In Plugin List [section](https://docs.ansible.com/ansible/devel/plugins/action.html#plugin-list), shows command `ansible-doc -t action -l` but actually this command fails

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
ansible-doc

##### ANSIBLE VERSION

[cod

[2018-11-29 05:09] ganeshrn commented on #48469
@2-face

netconf_get - fails like above but in case there is <error-option>ignore-error</error-option> then reply is not full (looks as if there was just header of the reply in stdout)

As per netconf rfc `error-option` tag is for `edit-config` rpc, i am not getting how it can be used with `get` rpc.
Also if i understand the feature description correctly the beahviour can be achived using `ignore_

[2018-11-29 05:15] Fred-sun commented on #28392
kindly ping

[2018-11-29 05:38] elaurijssens commented on #28392
Unfortunately I had to leave this at the bug report, and went on creating all intermediate resources myself, so that I have complete control. I still believe that the module should clean up anything it creates upon encountering non-recoverable errors.
Remember I filed the bug against 2.3 and we're at 2.7 already so some of the underlying machinery probably has changed. I haven't touched Ansible fo

[2018-11-29 05:45] Fred-sun commented on #28392
@elaurijssens Thanks for your contributor, The bug will keep on going until it been fixed. Thanks!

[2018-11-29 05:45] Fred-sun commented on #28392
@zikalino

[2018-11-29 05:50] Fred-sun commented on #37259
@zikalino

[2018-11-29 08:09] Vladimir-csp commented on #44669
I'm also seeing this on CentOS 7. Using docker_container with:
[code]
Also some volumes and ports. Container is always restarted. Verbose output reports this:
[code]

[2018-11-29 08:15] #46953 closed, assigned to nobody

[2018-11-29 08:22] ingokofler opened #49281 "Exception on deprovisioning Azure VM"
##### SUMMARY

Upon unprovisioning of a VM using the azure_rm_virtualmachine module the module raises a fatal error indicating some runtime error in the code.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

azure_

[2018-11-29 08:31] D3DeFi commented on #47611
@tifennlegoff thank you for opening this issue and proposing correct solution. The fix will eventually make it to ansible 2.8, but I will try to open backport PR for 2.7.3 later today as well.

[2018-11-29 08:36] arnmtk opened #49282 "missing double quotes in variable"
##### SUMMARY

Ansible automatically escapes double quotes in variable. Even if variable is in single quotes '{{ var }}'.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]
Ansible is used in virtual environment. Installed via pip install ansible

##### STEPS TO REPRODUCE

I am passing SQL query in ansible variable (via extra vars) and it has double quote

[2018-11-29 08:42] #47611 closed, assigned to nobody

[2018-11-29 09:11] lukasmrtvy opened #49283 "proxmox_kvm: Enable NUMA option/argument"
##### SUMMARY

There should be an argument to enable NUMA.

There is info:
https://pve.proxmox.com/wiki/Manual:_qm.conf
[code]

numa argument in module sets only numa topology like:
[code]

API location: `https://$URL/api2/json/nodes/$PVE/qemu/${VMIDE}/config | jq -r .data.numa`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[c

[2018-11-29 09:13] lukasmrtvy commented on #49283
Ping to module maintainer @helldorado

[2018-11-29 09:14] lukasmrtvy commented on #49236
Ping to module maintainer @helldorado

[2018-11-29 09:17] bbourdin opened #49284 "unarchive as non-root is returning UnarchiveError when the zip is already unarchived"
##### SUMMARY

UnarchiveError is returned when trying to unarchive (as non-root) a zip file which has already been already unarchived.

The failing code in the unarchive module seems to be that specific condition, because the groups array is empty ([only containing supplemental groups](https://docs.python.org/2/library/os.html#os.getgroups)) :
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2018-11-29 09:31] techtonik commented on #38417
I don't argue. I also use `blockinfile`, but it was painful here,

[2018-11-29 09:46] helldorado commented on #49236
@lukasmrtvy this hardcoded in `proxmox_kvm` module.

It was impossible to manipulate this option without **root** privileges during my tests. I will retest and do a PR if necessary.

In the meantime, you can bypass it by removing the following condition on line [722](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/misc/proxmox_kvm.py#L722) of the module.

[code]

[2018-11-29 09:51] jhawkesworth commented on #48577
I think documenting use of a tmpdir that is visible to both user and become
user in the copy and win_copy module documentation would be the way to go.
In fact adding as examples with a comment that explains the tmpdir needs to
be visible when using become and a copy task would be good.
For extra credit I'd mention in the become documentation page as well.

I'll let others who know the code better

[2018-11-29 09:52] #48832 closed, assigned to nobody

[2018-11-29 09:58] hryamzik commented on #48291
Good, let's close this for now as I've already moved to an image with preinstalled python and it worked.

[2018-11-29 09:58] #48291 closed, assigned to nobody

[2018-11-29 10:11] Akasurde commented on #48291
@hryamzik Thanks for the feedback.

[2018-11-29 10:17] dariko opened #49285 "Wrong changed state reported by docker_swarm_service"
##### SUMMARY
devel version of docker_swarm_service incorrectly reports changed state

Some on the changes merged on #45674 (the `publish` and `update_force` parameters defaults, as an example) while correctly working on the older docker version in which they where tested by CI now wrongly reports changed state when run on recent docker versions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2018-11-29 10:34] Vladimir-csp commented on #49022
Trying to profile ansible libs, the problem may be related to `search_handler_blocks_by_name` function

[2018-11-29 10:46] gundalow commented on #46277
Hi everybody.
There is a proposed fix in https://github.com/ansible/ansible/pull/48285 We'd welcome your reviews on that PR so we can get it merged

[2018-11-29 11:09] Vladimir-csp commented on #49022
Bingo. This function initiates `_variable_manager.get_vars`, re-rendering entire vars structure for every notified handler times every handler in a playbook up to notified handler times role dependency repetition.

[2018-11-29 11:11] Whiteface84 opened #49287 "Unable to run playbooks on VMWARE 6.5 vCenter being part of Enchanced Linked Mode with external PSC"
##### SUMMARY

Unable to run playbooks on VMWARE 6.5 vCenter being part of Enchanced Linked Mode with external PSC (Platform Services Controller)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module: vmware_guest

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RES

[2018-11-29 11:15] gundalow commented on #47736
@epeli Hi, does https://github.com/ansible/ansible/pull/47809 fix this for you, could you please add comments on the PR

[2018-11-29 11:21] lochanm2 opened #49288 "gcp_sql_instance - should be able to create labels for cloudsql"
##### SUMMARY

Support for labelling via gcp_sql_instance module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

CloudSQL labelling support

##### ADDITIONAL INFORMATION

Labelling is available with glcoud option to see the example below

gcloud beta sql instances patch [INSTANCE_NAME] --update-labels [KEY1]=[VALUE1]...

This should be included in ansible too.

[2018-11-29 11:30] gundalow commented on #38947
resolved_by_pr: 47193

[2018-11-29 11:41] #38947 closed, assigned to nobody

[2018-11-29 11:47] ushuz commented on #35119
@felixfontein

The option you proposed seems applicable to any modules that potentially accepts binary data. As the root causes are some Ansible design decisions and Python 2 / 3, IMO it would be better to handle this at a higher level, instead of dealing it in each module affected.

For JSON, `lookup() | string` is an acceptable workaround I found here: https://github.com/ansible/ansible/issues/7

[2018-11-29 12:19] kellervater opened #49291 "elb_application_lb wait flag should also wait for state "absent""
##### SUMMARY

In the module elb_application_lb the activated wait flag should also wait for the absent state.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

elb_application_lb

##### ADDITIONAL INFORMATION

We automatically provision and delete AWS resources for our CI feature branches. This also includes creation and deletion of load balancers and target groups assigned to them.
It' cur

[2018-11-29 12:40] mmallet-digipok opened #49294 "Undefined built-in variable when used within a loop"
##### SUMMARY

In latest ansible version (2.7.1 and 2.7.2), the variable "ansible_user" is reported as undefined in the loop context (please have a look at the example playbook below). Other variables may also be impacted.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

task_executor.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release

[2018-11-29 13:12] epeli commented on #47736
Oh, sorry I didn't notice that PR earlier. But unfortunaly no. I'm getting the same error.

Not familiar how Ansible dev versions are best installed but I installed it manually into a Python 3 virtual env using the `setup.py` file. Directly from this commit https://github.com/timorunge/ansible/commit/1b4c66a8adf595139674fbdaef1575ba41fbc80e

[code]

[2018-11-29 13:37] robertdebock commented on #44968
To reproduce:

[code]

The current version of Ansible (2.7) errors:
[code]

With [the fix](https://github.com/ansible/ansible/pull/45117) in place:
[code]

So: looks good to me!

[2018-11-29 13:46] mnaser commented on #24197
This is partially addressed by #42654

[2018-11-29 13:58] Vebryn commented on #8660
Hi,

Permission are still following system umask (ansible 2.6). Is it planned to support mode, group and owner parameters ?

Best regards.

[2018-11-29 14:26] VAdamec opened #49301 "MIssing documentation connection saltstack"
##### SUMMARY
Missing any documentation for connection plugin saltstack

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
lib/ansible/plugins/connection/saltstack.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
not applicable

##### OS / ENVIRONMENT
OL7/CentOS7/Fedora

##### ADDITIONAL INFORMATION
- https://docs.ansible.com/ansible/2.7/plugins/connection/saltstack.html
- cmd ou

[2018-11-29 14:54] Straevaras commented on #44326
I added a review on the PR, new steps to reproduce based on the changes made in the PR.

[code]

I have to comment out lines 295-296 to make the portgroup module in the PR work for my test cases.  They're assuming a teaming config is included.

[code]

[2018-11-29 15:01] petr-balogh commented on #34867
Hello @kustodian, @apestov can someone take a look at comment above?

[2018-11-29 15:06] LeoUfimtsev commented on #10964
seems to work for me.

    ---
    - hosts: all
      serial: 1
      gather_facts: no
      order: sorted
      tasks:
      - shell: id

The two options seem to be:
        if order in ['sorted', 'reverse_sorted']:

[2018-11-29 15:24] webknjaz commented on #43256
@abadger maybe we could have some special type and a helper class in basic? It'd unify mask processing across all modules.

[2018-11-29 15:37] gundalow commented on #48402
bot_status
not deprecated

[2018-11-29 15:42] #40991 closed, assigned to nobody

[2018-11-29 15:43] gundalow commented on #44268
bot_status
not deprecated

[2018-11-29 15:48] bcoca commented on #49301
cc @mscherer

[2018-11-29 15:55] bmalynovytch commented on #41313
I completely agree with @vbotka, having higher conditioned imports makes the warning quite out of context, although I understand how tasks tags and conditions are processed at low level.
There should be a way to get rid of the warning, or, at least, mute it in some circonstances (such as conditionals on outer inclusions).

[2018-11-29 16:10] JPvRiel commented on #48313
Noticed this bug too. Example of my current unpleasant workaround to force it to unmount

[code]

In my case, ansible 2.7.2 against a RHEL 7.5 target/server from an Ubuntu 16.04.5 LTS controller.

[2018-11-29 16:12] sivel commented on #48936
There is a bug here, but it's likely a little different than the assumed bug.

You should be using `include_tasks` here instead of `import_tasks` inside of your `handlers/main.yml`.

`import_tasks` is a pre-processor, and the intention here would be that you would notify `Restarting this {{ handler_descr }}` and not `changed sth`.

The `changed sth` handler should never be registered when using `i

[2018-11-29 16:24] astolzen opened #49313 "openvswitch_port: Module Failure with "set:" Arguments"
##### SUMMARY

Using openvswitch_port with the "set" argument causes a "MODULE FAILURE"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openvswitch_port
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 29
##### STEPS TO REPRODUCE

Try to create a Patch Link between two ovs Bridges

[code]

##### EXPECTED RESULTS

The Playbook should create a "virtual

[2018-11-29 16:29] russellballestrini commented on #46709
@mfinelli I'm also running rabbitmq-server 3.7.8-1 on ubuntu and I'm getting the same issue with `rabbitmqctl` no matter what, I cannot get the tool to connect using "longnames" (even when I pass `--longnames`) so I'm pretty sure this is a bug in the `rabbitmqctl` tool itself.

[2018-11-29 16:40] astolzen commented on #49313
Additional Info:
The Playbook works, when run on a CentOS/RHEL 7.5 node
BUT: only the fist "set:" operation is executed on port creation. The second "set:" tasks is not executed, obviously since the port definition itself hasn't changed.
so: How to pass multiple "set:" Arguments to the "openvswitch_port" modules for one port.
regards.

[2018-11-29 16:44] pillarsdotnet commented on #43256
@abadger -- Would you like me to resubmit both PR's with lines 104-106 removed?

[2018-11-29 16:45] jmighion commented on #30567
@gundalow I'll need to double check if errors are being "stored" or flagged for later while reading from the socket. I haven't had the time to double check the latest in devel and the newer connection type for networking since this was opened.

The original problem was that if the error wasn't present in the last window of data being pulled from the socket, the error did not get raised. Instead we

[2018-11-29 16:48] abadger commented on #43256
Yes.  First a pr which adjusts the current devel to not have those lines.
Then a backport pr which cherry-picks both the first and second pr

On Thu, Nov 29, 2018, 8:44 AM Bob Vincent <notifications@github.com wrote:

[2018-11-29 16:54] tomservo3428 opened #49315 "F5 bigip_virtual_server module "present" state overrides existing virtual server state"
##### SUMMARY
When using the bigip_virtual_server module, I found that when I attempt to update an existing disabled virtual server, the setting the state to "present" in the task (an Ansible best practice) will enable the virtual server. I discovered this when I applied a mass change to existing virtual servers in our lab environment where all of the virtual servers were disabled.

Also, it might

[2018-11-29 17:06] caphrim007 commented on #49315
@CaptainBlasteroid this is expected behavior.

From the documentation

"""
 C(present) creates the virtual server and enable it.
"""

[2018-11-29 17:22] maxamillion commented on #49276
@Hubery2757 Thank you for the issue report!

A couple things to note:
1. Ansible 2.4.x has reached it's [End of Life](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html) and is no longer supported so we would need to ensure this can be reproduced with a currently supported version and since I don't have access to your custom repo I don't think I'm able to ass

[2018-11-29 17:45] #49315 closed, assigned to nobody

[2018-11-29 18:02] maxamillion commented on #34867
@petr-balogh correct, there was a bug that was fixed recently https://github.com/ansible/ansible/pull/47942 ... it should be included in today's Ansible 2.7.3 release

[2018-11-29 18:10] CaptainBlasteroid commented on #49315
Yes. And there is also 'enabled' and 'disabled'. If I wanted to enable a VIP, I would use 'enable'. If I want to use an Ansible best practice and include the state, I shouldn't have to worry about any values being stomped on if they are already set. That's just bad design.

[2018-11-29 18:32] uriklagnes commented on #12170
+1

[2018-11-29 18:45] maxamillion commented on #46963
@nullr0ute do you think should be an extension of the `dnf` module or be a net new module similar to the [`yum_repository`](https://docs.ansible.com/ansible/latest/modules/yum_repository_module.html#yum-repository-module) module?

I'm leaning towards net new module but I'm open to discussion on the topic.

[2018-11-29 18:49] pioto opened #49323 "Puppet: Disable/Enable Agent"
##### SUMMARY

When using Ansible and Puppet in conjunction, it is possible for one to "step on" the other.

To avoid Puppet interfering with a running Ansible playbook, it would be helpful if there was support for specifically running:

[code]

and, when done, run:

[code]

It'd be "nice to have" for this to be part of the puppet module, rather than using raw commands, as it can be idempotent.

#

[2018-11-29 18:54] felixfontein commented on #21704
needs_contributor

[2018-11-29 18:59] pillarsdotnet commented on #43256
Gotcha.

[2018-11-29 19:03] felixfontein commented on #22358
Part of the problem seems to be that `timeout` has two different usages. There's already a global `docker_*` parameter called `timeout`, and `docker_service` adds another `timeout` which does something else. It also looks to me that the timeout you want to set is a third one.

Since I'm not using docker_service and don't really know its code, I won't look into it, but maybe someone else wants to d

[2018-11-29 19:09] felixfontein commented on #25662
We already have modules for all three. So I think this can be closed! :)

close_me

[2018-11-29 19:10] #25662 closed, assigned to nobody

[2018-11-29 19:16] felixfontein commented on #26297
needs_info

[2018-11-29 19:19] pillarsdotnet commented on #43256
Opened #49325 and #49326

[2018-11-29 19:21] #25542 closed, assigned to nobody

[2018-11-29 19:29] ckotte commented on #49287
Do you have this issue only with this specific module or other modules as well??

[2018-11-29 19:30] felixfontein commented on #29579
contributor_needed

[2018-11-29 19:35] felixfontein commented on #48984
[This](https://github.com/ansible/ansible/issues/7005#issuecomment-241096506) seems to be a useful workaround: by writing `block: "{{ foo_block | string }}"` instead of `block: "{{ foo_block }}"`, it no longer fails (at least for me). @etam can you try that?

[2018-11-29 19:36] adilio opened #49327 "win_scheduled_task: Task is not Synchronized across Time Zones"
##### SUMMARY

The `win_scheduled_task` module is not honoring the  `start_boundary` trigger parameter, in that you cannot define the time format as `ISO8601` with a timezone offset suffix (e.g. `-08:00`). Defining this suffix has not effect on time zone synchronization of the client Task Scheduler task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_scheduled_task

##### ANSIBLE VERSIO

[2018-11-29 19:38] #48337 closed, assigned to nobody

[2018-11-29 19:44] #49277 closed, assigned to nobody

[2018-11-29 19:47] felixfontein commented on #29628
needs_contributor

[2018-11-29 19:50] #48936 closed, assigned to nobody

[2018-11-29 19:52] felixfontein commented on #35119
@ushuz that workaround is great, it actually helped alot somewhere else: #48984 If it helps here, great! :)

It won't help for binary data, though. There's too much conversion to/from strings which kills it.

[2018-11-29 19:54] felixfontein commented on #36000
!component -lib/ansible/plugins/connection/docker.py

[2018-11-29 19:58] #44298 closed, assigned to nobody

[2018-11-29 20:00] felixfontein commented on #40280
There's no need to install ansible on the target machine. You only need to be able to connect to the target machine via SSH, and you need to have the Docker Python SDK installed on the target machine.

needs_info

[2018-11-29 20:00] #45411 closed, assigned to nobody

[2018-11-29 20:03] felixfontein commented on #43337
resolved_by_pr #49319

[2018-11-29 20:03] felixfontein commented on #43639
needs_info

[2018-11-29 20:10] Whiteface84 commented on #49287
We only use vmware_guest because we assume it's the best for our needs. I am a neebie in Ansible can you suggest me some other modules that we should try?29 lis 2018 20:32 Christian Kotte <notifications@github.com> napisał(a):Do you have this issue only with this specific module or other modules as well??

—You are receiving this because you were mentioned.Reply to this email directly, view it on

[2018-11-29 20:12] felixfontein commented on #29514
!component =lib/ansible/modules/cloud/docker/docker_image.py

[2018-11-29 20:37] sc68cal commented on #37292
I believe this is due to the switches having an older version of EOS that does not support sessions.

[2018-11-29 20:37] sivel commented on #49161
Not that tracebacks are a good thing.  But this would be additionally caught if running the `validate-modules` sanity test.

So I could see us either adding a warning or just silently passing, since if it were an actual PR, we would error elsewhere.

[2018-11-29 20:42] jborean93 commented on #49161
The main purpose of this issue was to say the traceback doesn't really make it clear what's going on. I can see that a description field was the last used in the template but not that line/location of the description field.

[2018-11-29 21:42] #48944 closed, assigned to nobody

[2018-11-29 21:42] lcarva commented on #22362
As a workaround the [lineinfile](https://docs.ansible.com/ansible/2.6/modules/lineinfile_module.html) module can be used to update specific parameters. For example, on a fresh install of fedora 29, you can enable the google chrome yum repository like this:
[code]

[2018-11-29 23:18] jlecour commented on #38655
@samdoran Hi, I have a fix \o/

[code]

As you can see it's quite simple.

The main change is that when no Regex is given but a match has been found, then the matched line must be replaced, regardless of `insertafter`/`insertbefore`.
That's only when no match has been found that those arguments come into play, to determine where to insert the line.

For quite some time I've suspected that there wa

[2018-11-29 23:50] seblu opened #49340 "ini_file: comment matching an option is deleted"
##### SUMMARY
It looks like comment matching an option is removed by the ini_file module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module ini_file

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Arch Linux.

##### STEPS TO REPRODUCE

Define an option with the same text as a comment line, will remove the comment line.
A good test file is the default [firewalld.conf](https://githu

[2018-11-29 23:55] arnuschky opened #49341 "Fact caching with Python Redis 3.0.x seems broken"
##### SUMMARY
Fact caching in redis results in an exception if the installed Redis Python package is 3.0.x.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Redis fact caching

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04.5 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Playbook is processed. Facts are gathered and cached.

###

[2018-11-30 00:20] teng1 opened #49342 "Register does not include invocation data"
##### SUMMARY
I have been trying to use values from invocation for subsequent tasks, these are visible when executing with -vvv, however these are not captured when registering the result to a variable. Tested with git and command module, invocation is not captured in result though is documented as a return value. https://docs.ansible.com/ansible/2.7/reference_appendices/common_return_values.html

[2018-11-30 00:31] russellballestrini commented on #46709
Might be related: https://github.com/rabbitmq/rabbitmq-server/issues/1780

[2018-11-30 00:49] tabowling opened #49343 "Error in file module when changing group owner on RHEL 8"
##### SUMMARY

When creating directory structure against a RHEL 8 managed node, task fails when setting group ownership.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

file
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[root@rhel8beta html]# cat /etc/redhat-release
Red Hat Enterprise Linux release 8.0 Beta (Ootpa)
[root@rhel8beta html]# uname -a
Linux r

[2018-11-30 00:49] dead10ck commented on #46611
This is a very serious bug. I ran into it today by inadvertently making changes to existing production ec2 instances. Fortunately, in my case it was only adding a tag and an IAM role, but it could easily have been accidental termination. I think this warrants an emergency patch release to all stable branches.

[2018-11-30 02:31] Fred-sun commented on #39977
@yungezz  Could you help give a fix for this request? Thanks!

[2018-11-30 02:47] elliott2019 commented on #42397
+1

[2018-11-30 02:53] #41483 closed, assigned to nobody

[2018-11-30 03:05] bcoca commented on #20077
scheduled the PR that adds this feature for the next core IRC meeting https://github.com/ansible/community/issues/415#issuecomment-443074554

we will probably discuss if we want this feature at all.

[2018-11-30 03:28] #48912 closed, assigned to nobody

[2018-11-30 03:29] #47864 closed, assigned to nobody

[2018-11-30 03:33] Fred-sun commented on #42407
@zikalino new feature need you help, inbount_nat_rules parameter need add server type choice . Thanks!

[2018-11-30 03:51] ianw opened #49349 "ansible-test shell --tox doesn't provide an environment with any Ansible tools"
##### SUMMARY

The test runner's "shell --tox" option is documented as

[code]

https://docs.ansible.com/ansible/2.7/dev_guide/testing_running_locally.html

But it doesn't really do anything

[code]

Is this not supposed to setup a development checkout of the current tree, with 'ansible-playbook' for example being the current version?

I notice that with the integration tests, everything runs out

[2018-11-30 05:59] Akasurde commented on #47583
resolved_by_pr #48283

[2018-11-30 05:59] Akasurde commented on #47583
@ryanmerolle Could you please check if this PR resolves your requirement ? Thanks.

needs_info

[2018-11-30 06:37] Fred-sun commented on #49281
@ingokofler Thanks for your contribution, Could you help share your YML? In addition, Please give more info about your VM( such as create VM method )? Thanks!

[2018-11-30 06:52] sandeepdharembra commented on #49240
I was finally able to find a solution to this issue -

The job template I created had the credentials not assigned. I created the credentials with which I wanted to access the target host (user present on target host), assigned the private key and added these credentials to the job template. Job was now able to run (ssh on the remote host)

[2018-11-30 06:52] #49240 closed, assigned to nobody

[2018-11-30 07:26] #48057 closed, assigned to nobody

[2018-11-30 07:46] Whiteface84 commented on #49287
Unfortunately the same error: fatal: [localhost -> localhost]: FAILED! => {"changed": false, "msg": "Unknown error while connecting to vCenter or ESXi API........

I try to run playbook with "vcenter_folder" module and results are the same.

All work fine on standalone virtual center:

PLAY [VM from template] *****************************************************************************************

[2018-11-30 07:57] sh-kur opened #49353 "from ansible2.7.3 fail to run windows playbook by missing bootstrap_wrapper.ps1"
##### SUMMARY

Upgrading ansible from 2.7.2 to 2.7.3, playbooks using windows module begin to fail.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

(windows module)
win_ping
win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing reported

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)
Linux myhostname 3.10.0-862.14.4.el7.x86_64 #1 SMP Wed Sep 26 15:1

[2018-11-30 08:01] Vladimir-csp commented on #44669
yes, 2.7.2. Thanks for the info, it's probably that problem.

[2018-11-30 08:40] etam commented on #48984
@felixfontein Thanks! This makes ansible not to fail. Unfortunately this also removes all newlines from output. It's not bad, considering that the output is a json code, but just a bit inconvenient.

[2018-11-30 08:56] mowentian commented on #49353
i found `/usr/lib/python2.7/site-packages/ansible/executor/powershell` is empty, copy `bootstrap_wrapper.ps1` into this fixed it...
may be this install script is failed

my OS is ubuntu and installed ansible via ppa

[2018-11-30 09:15] sh-kur commented on #49353
thanks for your info, could you tell me where you found `bootstrap_wrapper.ps1` ?
I installed ansible from EPEL repositry using yum, also updated to 2.7.2 by yum.
But I updated to 2.7.3 using` pip install --upgrade ansible`.. wrong way?

[2018-11-30 09:15] D3DeFi commented on #47611
I've opened a backport for this #49355. As 2.7.3 was released a short time ago this fix will probably make it to 2.7.4 in a few weeks

[2018-11-30 09:20] erwilan commented on #49353
up to ansible 2.7.2 there is no such directory /usr/lib/python2.7/site-packages/ansible/executor/powershell

[2018-11-30 09:40] jborean93 commented on #49353
From my understanding this isn't a problem with devel but the recent changes in the exec wrapper that was in the latest release added the new file `lib/ansible/executor/powershell/bootstrap_wrapper.ps1`. Unfortunately this was missed when creating the backports and I've created a PR for each branch

stable-2.5 - https://github.com/ansible/ansible/pull/49356
stable-2.6 - https://github.com/ansible/

[2018-11-30 10:04] Whiteface84 commented on #49287
Ok, but do you have more then one vCenter with this PSC? We have 3 vCenters conntected via Enchanced Linked Mode and 3 vCenters using that PSC.  Ofcourse I use vCenter address not PSC

On VCSA we have only those services stopped:

Stopped:
 vmcam vmware-imagebuilder vmware-mbcs vmware-netdumper vmware-rbd-watchdog vmware-statsmonitor vmware-vcha

[2018-11-30 10:06] masti93 opened #49360 "windows modules not working"
##### SUMMARY

Windows modules are not working

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 9.6 (stretch)
Release:        9.6
Codename:       stretch

##### STEPS TO REPRODUCE

[code]

##### EXPEC

[2018-11-30 10:16] jborean93 commented on #49360
Duplicate of https://github.com/ansible/ansible/issues/49353. Thanks for reporting this @masti93, please follow 49353 for more details.

[2018-11-30 10:16] #49360 closed, assigned to nobody

[2018-11-30 10:21] ckotte commented on #49287
I have several SSO domains. For example, one domain has 6 vCenter servers and some vCenter servers share the same PSC.

API access should not be related to the amount of PSCs. Is this your only environment? Does it work with vCenter servers that are not part of linked mode or why do you think it's related to ELM/PSC?

Could you execute the playbook with `-vvvv`. Maybe we can see more information a

[2018-11-30 10:32] robertdebock opened #49362 "python2_dnf is not available for Fedora 30 (rawhide)"
##### SUMMARY
Fedora 30 (now rawhide, the unreleased development branch) will [not offer python2-dnf]( https://fedoraproject.org/wiki/Releases/30/ChangeSet#Mass_Python_2_Package_Removal) anymore.

This causes a problem when installing `python2` on Fedora 30.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Co

[2018-11-30 10:33] A-Costa opened #49363 "Synchronize fails with encrypted hosts when using delegate_to"
##### SUMMARY
Synchronize module fails when using `delegate_to` with an encrypted list of hosts.
In the example we use 3 machines, an `ansible-master` where the playbook is executed and two machines, `machine1` and `machine2`. We have a file on `machine2` at `/home/vagrant/test_file.txt` and we want to copy it on `machine1`.
`machine1`'s ssh key is an authorized key in `machine2`, so we use synchr

[2018-11-30 10:44] ctrlaltdel commented on #48691
Some further tests have shown that upgrading to ansible 2.6.0 also fixes the issue I see.

@dgarros Have you already given a try to more recent versions?

[2018-11-30 10:49] #44968 closed, assigned to nobody

[2018-11-30 11:03] Whiteface84 commented on #49287
Like I said before all modules works fine on other vcenters that are **not** part of linked mode. The only problem is with vCenters connected to eachother via Enchanced Linked Mode!

ansible-playbook 2.7.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/sha

[2018-11-30 11:39] DamarisNamukhosi commented on #46980
Hi,
I am running an ansible playbook and this is the error i am getting:
kindly help.

fatal: []: FAILED! => {"changed": false, "module_stderr": "Shared connection to (ip..address) closed.\r\n", "module_stdout": "/bin/sh: 1: /usr/bin/python: not found\r\n", "msg": "MODULE FAILURE\nSee stdout/stderr for the exact error", "rc": 127}

[2018-11-30 11:46] ckotte commented on #49287
Calm down dude...

[2018-11-30 12:23] pihlajus commented on #37640
I managed to get rid of these error defining explicitly my Python docker package location
`
  environment:
    PYTHONPATH: "{{ lookup('env','PYTHONPATH') }}:/usr/local/lib/python2.7/site-packages"
`

I got tips from [this link](https://medium.com/dronzebot/ansible-and-docker-py-path-issues-and-resolving-them-e3834d5bb79a).

[2018-11-30 12:29] vipulparashar opened #49368 "user module failure"
##### SUMMARY

Receiving user  module failure on AnsiballZ_user.py -

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`user.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I am currently running macos Mojave 10.14.1 & I am trying to deploy the new user on Debain Strech

##### STEPS TO REPRODUCE

Just try to create a user, By using the "User Module"

 p

[2018-11-30 12:39] ralffunk commented on #22834
I don't know if it is right for me to comment on closed issues, so feel free to point me in the right direction; but I want to share my solution, but don't know if it warrants for me to oppen a new issue.

I had the same symptoms described in this issue (small difference: I was using ubuntu server 18.04) and in my case I only needed to add an environment variable to the task that throwed the error

[2018-11-30 12:42] vipulparashar commented on #48722
Same issue - But with different error -

https://github.com/ansible/ansible/issues/49368

The full traceback is:
Traceback (most recent call last):
  File "/Users/vipul.sharma/.ansible/tmp/ansible-tmp-1543581354.93-236985466746518/AnsiballZ_user.py", line 113, in <module>
    _ansiballz_main()
  File "/Users/vipul.sharma/.ansible/tmp/ansible-tmp-1543581354.93-236985466746518/AnsiballZ_user.py", li

[2018-11-30 12:44] Jigsaw5279 commented on #22371
This is still a thing, right? Because I can't just switch around python interpreters as it defies what I'm trying to do:
setting up a remote machine without having to manually touch it.
As there is no python3 pre-installed, I have to manually login to that machine and add it before I can run my playbook.

Also, the yum module requires python2 and using the alternative dnf module requires me to man

[2018-11-30 12:50] macskay commented on #4320
I can't get this to work. I tried setting `debconf` via the ansible built-in `debconf` module and also by trying the `shell` module and piping the echo to `debconf-set-selections`. I also found a solution where the `DEBIAN_FRONTEND` variable was set to `noninteractive` with no success either.
This is my main.yml:
[code]

It crashes at `"Set root password"` with an `Access denied`. Why is this not

[2018-11-30 12:54] Tomorrow9 commented on #48929
@Akasurde ok, I'll test this. Thanks.

[2018-11-30 13:02] michalswi opened #49369 "parsing json failling if 'items' as a key"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04.5 LTS

##### STEPS TO REPRODUCE

If you run `kubectl --kubeconfig kube get svc --all-namespaces -ojson` you get json with key items.
[code]
If **items** as a key in json, executing playbook fails. If you put different name for key like

[2018-11-30 13:15] leem32 opened #49370 "Ansible playbook hangs when running Nginx ./configure"
##### SUMMARY
I'm trying to build Nginx from source through Ansible, but whenever the playbook reaches the ./configure part it just hangs up indefinitely.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
command, shell, raw

##### ANSIBLE VERSION
Latest

[code]

##### EXPECTED RESULTS

Run ./configure

##### ACTUAL RESULTS
Indefinate hang with nothing logged in ansible.log (set/uncommented in

[2018-11-30 13:20] philfry opened #49371 "include_role: "listen" handlers are run multiple times"
##### SUMMARY
When using handlers that `listen` on a certain keyword are used in a looped `include_role` the handlers are run multiple times.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

irrelevant

##### OS / ENVIRONMENT

irrelevant

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-11-30 13:33] basos9 commented on #48936
The point of using a handler with import_tasks is to execute a serries of actions for a handler.

handlers/main.yml
[code]

tasks/handler-sth.yml
[code]

In general I try to use import_task when possible and fall back to include. This pattern (import_tasks in handler) works in general, appart  from this case.

Now after the commit idioms like the follow do not work (they show the commit's error)

[2018-11-30 13:40] Tomorrow9 opened #49372 "VMware new module request vmware_guest_video"
##### SUMMARY

We want to modify the video related configuration of the VM:
video_card_settings
display_number
video_memory
enable_3d
3d_renderer
3d_memory
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_video
##### ADDITIONAL INFORMATION

It can be used to re-configure VM to set the video related configurations.

[code]

[2018-11-30 13:41] fthommen commented on #41313
I'd support @jmnavarrol in this request.  IMHO this behaviour is unexpected (if you are not an ansible developer) and the first (minor) bug is, that there hasn't been any warning about it until recently.  The current implementation explains some eventual problems we had with our roles and which we couldn't really explain.

If the current behaviour is in fact intended, then it should be (prominentl

[2018-11-30 13:52] stefanhorning commented on #45043
@kirkdave your fix seems to work (just verified myself too), could you open a PR with your changes? Otherwise I can also do so.

[2018-11-30 13:56] Whiteface84 commented on #49287
I'm very calm, you had to misunderstand me and my problem.

[2018-11-30 13:57] D3DeFi commented on #49122
Hi, I've been testing zabbix modules against zabbix-server 4.0 for some time now, but haven't seen this problem before. Just to be sure, I've installed new zabbix-server using plain HTTP, but the problem still didn't occur.

@janvht something tells me that the size of your template has something to do with this. There is an `timeout` option for `zabbix_template` module. Can you try to increase it

[2018-11-30 14:16] mkrizek commented on #48984
On Python 2, `/tmp/foo.txt` contains:
[code]

On Python 2, `do_template` processes this
[code]
as `u"set([u'a', u'c', u'b', u'd'])"`.

On Python3 though, `do_template` returns `"{'a', 'c', 'b', 'd'}"` which is identified as something that looks like a dict and is run through `safe_eval`, returning `{'a', 'b', 'c', 'd'}` (a `set`) which then fails to be `json.dumps`'d in the action plugin because s

[2018-11-30 14:22] mkrizek commented on #48984
Note, jinja2 native type does not solve this since `literal_eval` does the same.

[2018-11-30 14:26] gstorme opened #49375 "win_user does not add user to defined group on Windows Server 2019"
##### SUMMARY

Using the win_user module, a new user is not added to the defined group.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_user

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Microsoft Windows Server 2019 Standard

##### STEPS TO REPRODUCE

Add a new user, and add it to an existing group.

[code]

##### EXPECTED RESULTS

The new user is created, and added to the Adm

[2018-11-30 14:30] bcoca commented on #20470
This is not just dig, but all lookups, this is a function on how python/jinja2 parse function signatures, but here is a simpler workaround:
```list_to_process: {{ lookup('dig', *groups['random-group-name']) }}```

[2018-11-30 14:32] #49287 closed, assigned to nobody

[2018-11-30 14:32] Whiteface84 commented on #49287
Problem solved! It was an unusual network problem. We use VCHA and we need to have second NIC on every VCSA server. Unfortunately our ansible playbook server is in the same subnet as the second NIC on    vCenter server. Problem solved by changing the subnet on our ansible server. Other workaround is to add static routing on every VCSA server.

ckotte - thanks to you I triple checked everything els

[2018-11-30 14:42] #31806 closed, assigned to nobody

[2018-11-30 14:50] forty opened #49376 "Support for AWS new Transit gateway"
##### SUMMARY
AWS recently launched a new type of gateway: transit gateway. This avoid having create 1000 of peering connections between many VPCs. It would be nice to be able to create / configure them from ansible.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

aws_vpc_transit_gateway (new)
aws_vpc_transit_gateway_facts (new)

[2018-11-30 15:38] mkrizek commented on #37512
The example in the description should be fixed in https://github.com/ansible/ansible/pull/49249. See also https://github.com/ansible/ansible/pull/49322 and discussion in https://github.com/ansible/ansible/pull/41968.

[2018-11-30 15:47] dagwieers commented on #49375
I like the fact that the error message is so completely absurd :-)
*You can't add the user because it does not exist.*

Would be nice if it also provided a solution, like: *Please add the user first, before adding the user.*

[2018-11-30 16:09] samdoran commented on #49368
I am unable to reproduce this. I can see _why_ it would be happening, but am unable to reproduce it. We handle the `KeyError` exception in `self.user_exists()`, so this exception should not occur in `gew_pwd_info()`. I can only reproduce this my modifying `self.user_exists()` to always return `True`, which is a bug.

Can you run `python -c 'import pwd; print(pwd.getpwnam("prometheus"))'` on the ta

[2018-11-30 16:09] sivel commented on #49022
@Vladimir-csp thank you for the in depth research!

I just wanted to let you know that we are looking into solutions, and I have 2 different approaches to address this in flight now.

[2018-11-30 16:21] Akasurde commented on #49372
@Tomorrow9 Thanks for requesting this feature. Since `vmware_guest` is already overloaded with features, I think we should have a separate module for `video` settings.

Let me know your views on this.

[2018-11-30 16:22] sivel commented on #49369
Thank you for reporting this issue.  This is caused by the fact that `.items` is a builtin python method on a `dict` object. Due to that builtin method existing, you cannot use dot-notation to access that key, and instead will need to utilize bracket notation instead:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing

[2018-11-30 16:22] #49369 closed, assigned to nobody

[2018-11-30 17:14] karthi81 commented on #44245
Hi,

I am running into PyVmomi  module loading issue.

Error Message:
"msg": "PyVmomi Python module required. Install using \"pip install PyVmomi\""

Out of ansible --version:
==================

(dc_infra_v2_lib) [vagrant@st2vagrant ansible]$ ansible --version
ansible 2.7.3
  config file = /opt/stackstorm/packs/dc_infra_v2_lib/dc_infra_v2_lib/ansible/ansible.cfg
  configured module search path =

[2018-11-30 17:15] maxamillion commented on #48714
@sashka I'll defer to you as the original author (at least I think you are, the git history is a bit muddied because of the core/extras repo split/re-merge) on how you want to handle this, I'm good either way.

[2018-11-30 17:29] nitzmahone commented on #49353
New releases (2.5.13, 2.6.10, 2.7.4) with the packaging issue corrected are coming momentarily.

[2018-11-30 17:31] songokudbz commented on #31620
Still not working. I have encoded it on my Ubuntu 16.04 wit hansible 2.6.4 and my colleague tried to decrypt it with Ubuntu 18.04 and it's still not working ....

[2018-11-30 17:33] zendritic commented on #5339
I think this might be related. Our Ansible is failing to remove empty folders in local_tmp (which we have set to /tmp). We also ran out of inodes as a result. We are on 2.6.2.

[2018-11-30 17:49] maxamillion commented on #35767
@akcrisp checking back in, any update? thank you!

needs_info

[2018-11-30 17:50] maxamillion commented on #46247
There's a PR open for this but it appears to be stalled awaiting updates based on review, @fconil any update on that topic? Thank you!

[2018-11-30 18:00] #45940 closed, assigned to nobody

[2018-11-30 18:30] akcrisp commented on #35767
Hi Adam sorry - been totally rammed and not had chance to try. I will endeavour to have a look before end of Dec - am on holiday at present

Andy

Sent from my iPhone

[2018-11-30 18:53] maxamillion commented on #24746
!component=lib/ansible/modules/cloud/amazon

[2018-11-30 19:15] jonmod commented on #48680
Hi Trishna, Thanks for looking at this and sorry for the late reply! Hopefully I can clarify what my intent is.

The issue isn't so much that the returned information is not in stdout (I can work around that), it's that the error raised is a "connection_error" that causes the whole session to the device to be invalidated unless each command is separately blocked and rescued.

[code]

In my origina

[2018-11-30 19:17] acozine commented on #49349
Re-opening, since #49350 only partially addresses the issue.

[2018-11-30 19:26] #49349 closed, assigned to nobody

[2018-11-30 19:36] vipulparashar commented on #49368
Let me check -

[2018-11-30 19:37] bcoca commented on #23303
closing as per above

[2018-11-30 19:37] #23303 closed, assigned to nobody

[2018-11-30 19:38] bcoca commented on #29354
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `with_nested` clause is a task keyword, not part of `asa_command`, your indentation is incorrect.

In the future, this might be a t

[2018-11-30 19:38] #29354 closed, assigned to nobody

[2018-11-30 19:39] sivel commented on #48839
If https://github.com/ansible/ansible/pull/25260 is rebased and merged I believe it should resolve this issue.

[2018-11-30 19:46] bcoca commented on #36769
WIP solution https://github.com/ansible/ansible/pull/49347

[2018-11-30 19:50] asciifaceman commented on #36769
I had been using @rot26's workaround `rm`ing roles/, but an inherent solution would make me much more comfortable! Thanks @bcoca looking forward to it

[2018-11-30 20:03] #49353 closed, assigned to nobody

[2018-11-30 20:08] deyjcode commented on #46713
@jborean93 That is a fantastic blog post. And explains a lot of the weird behaviors I was running into. Thank you for the wonderful reply and going through this headache. (Which is no doubt looks to have been) This is a testament to your work and Ansible as a tool. It reinforces why I chose Ansible for configuration management...again thank you!

I'll test this and also test for Azure Files when 2

[2018-11-30 20:12] jamesdh opened #49388 "docker_secret logs the value of the secrets in clear text"
##### SUMMARY
When using `docker_secret` with a loop/dict, it logs the values of the loop in clear text.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_secret

##### ANSIBLE VERSION

[code]
and also...
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OSX 10.14

##### STEPS TO REPRODUCE
We define our secrets in a group var dictionary, a la:

[code]

We then have a task which

[2018-11-30 20:18] #49120 closed, assigned to nobody

[2018-11-30 20:33] samdoran commented on #49368
No, I didn't try from Mojave. But I used the same Python and Ansible versions, so I don't believe that is a factor.

[2018-11-30 20:35] leem32 commented on #49370
I've fixed this issue now, so you can close this thread if you like.

The problem was caused due to a prompt which occurs when you have `--with-debug` as a `./configure` parameter. I got around this by using the `expect` module.

`
- name: Configuring NGINX source with custom modules
  expect:
    command: "./configure ...."
    responses:
      'Use the available Release binaries\? \[Y/n\]': 'y'

[2018-11-30 20:37] rolandjohann commented on #21914
Same here. Discovered a horible bug caused by strange behavior of jinja filter operator precedence. Till today I had the dangerous assumption that the filters gets applied the bash pipe style.
Already filled out an issue and discovered this one.

##### SUMMARY
Expression evaluation of string comparison and passing to `bool` filter results in negation of bool value and therefore wrong result.
This

[2018-11-30 20:45] felixfontein commented on #49388
@jamesdh thanks for bringing this up! That should be easy to fix; for now, as a workaround, I think you can add `no_log: true` to the task. ([Reference](https://docs.ansible.com/ansible/2.7/reference_appendices/faq.html#how-do-i-keep-secret-data-in-my-playbook))

[2018-11-30 20:52] felixfontein commented on #49388
I've checked the `docker_secret` code, the `data` parameter is marked as `no_log`, so Ansible will avoid logging it. Unfortunately your loop variable contains the secret data, and Ansible by default prints that one.

You can avoid that by:
  a) using `no_log: true`, which hides all output;
  b) changing what Ansible prints by using `label` in `loop_control` ([reference](https://docs.ansible.com/an

[2018-11-30 20:56] songokudbz commented on #31620
My bad people, it is working. It seems that I should have read the documentation correctly. I needed to use the following command: `ansible-vault view --vault_id=.vault_pass vault.yml` (the problem was that I forgot to give the --vault_id)

[2018-11-30 21:02] ramon-garcia commented on #46203
It looks like in Ansible, if one needs to do something complex, one should write an action plugin. This is what we are going to do.

Here one has many examples:
https://github.com/ansible/ansible/tree/devel/lib/ansible/plugins/action

Best regards

[2018-11-30 22:10] IPvSean opened #49393 "s3_bucket fails on state: absent"
##### SUMMARY
this is very similar to issue https://github.com/ansible/ansible/issues/37419

this worked the first time and said OK... then later.... now it fails with traceback (see below).  This makes no sense.... something is odd with this one s3 domain or something.... but I still feel like it shouldn't traceback

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VER

[2018-11-30 22:16] baptistedonaux opened #49395 "docker modules: fail to deal with docker-py"
##### SUMMARY

`docker_*` Ansible modules uses `docker-py` dependency which requires Python 3. Ansible docker modules can't found `docker-py` dependency which is installed with **pip3** and not **pip**.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
All Docker modules seems affected. Testing with `docker_image` and docker_network`.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing

[2018-11-30 23:10] UnitedMarsupials commented on #38417
Sounds like `blockinfile` and `lineinfile` should be merged together, because the former is simply a more general case, which also includes the latter.

[2018-12-01 00:06] s-hertel commented on #29829
I'm not able to reproduce this with the example task, and there are also tests for check mode now. In addition, support was added for --diff (which is also compatible with check mode) was added in 2.7.

[2018-12-01 00:06] #29829 closed, assigned to nobody

[2018-12-01 00:35] s-hertel commented on #30040
Thanks for verifying, @wmosher!

[2018-12-01 00:35] #30040 closed, assigned to nobody

[2018-12-01 00:41] s-hertel commented on #30156
Fixed by d877c146ab750c0f1505b4180e4170163d854fb5

[2018-12-01 00:41] #30156 closed, assigned to nobody

[2018-12-01 00:47] s-hertel commented on #35032
AWSRetry was added in 46c4f6311a5149bd7d049c763fd6c2013a100b72 for Ansible 2.5, which I think fixed this. Waiters were also added in 873a9ddf8dc37086aa8998c248310a23ae518c9d  which could have a positive influence. Please reopen if you're still sporadically experiencing this.

[2018-12-01 00:47] #35032 closed, assigned to nobody

[2018-12-01 00:50] bcoca commented on #48691
@dgarros  isn't this already a bug ticket? unsure what you mean.

probably related to #30773, but weird as 2.4 already had the vars plugin changes

[2018-12-01 02:11] Akasurde commented on #44245
@karthi81 Are you using Python which is not in default path ?

[2018-12-01 03:04] #47254 closed, assigned to nobody

[2018-12-01 03:30] Tomorrow9 commented on #49372
Yeah, I agree with you, I think vmware_guest can only contain vm deployment required virtual hardware configuration, as to vm re-configuration or modification, we can use other separate modules to do this to avoid vmware_guest being more complicated and hard to maintain.
But there is one thing concerned is duplicate code in both modules. e.g., there is vmware_guest_disk module, and at the same tim

[2018-12-01 03:59] rishiloyola commented on #46980
@memo42 Sorry for the late reply.
I am using AWS Ubuntu Server 18.04 LTS (HVM) 64-bit x86

[2018-12-01 05:55] wzyboy commented on #48839
@sivel I have rebased and resolved conflicts in #25260 .

[2018-12-01 06:56] shaunsmiley-rms commented on #48865
This bug produces yaml that causes jenkins casc to err out, even the the output is "technically" valid yaml.
(https://github.com/jenkinsci/configuration-as-code-plugin)

[2018-12-01 08:11] chopraaa commented on #49375
@gstorme Can you run:

[code]

The module expects something like `WinNT://WORKGROUP/DESKTOP-VGGF167/Varun` which it's not getting.

[2018-12-01 09:46] felixfontein commented on #49395
You need to install [docker-py](https://pypi.org/project/docker-py/) or [docker](https://pypi.org/project/docker/) (the latter is preferred) via pip for the same Python version Ansible runs with.

Neither of the two Python libraries requires Python 3. docker-py supports Python 2.6 and newer, while docker supports Python 2.7 and newer.

notabug

[2018-12-01 09:52] #49395 closed, assigned to nobody

[2018-12-01 10:00] jhawkesworth commented on #5339
@zendritic this is a really old issue, please can you raise a new one with a playbook that reproduces this issue (preferably using latest devel ansible) so this can be investigated.  I only happened to notice your comment by chance but closed issues aren't normally monitored so please create a new issue with a reproducer so this can be investigated.

[2018-12-01 10:00] felixfontein commented on #48984
@etam interesting, it doesn't do that for me.

@mkrizek I think removing `set` from `safe_eval` is a good idea, since Ansible doesn't support sets anyway (because there is no `set` analogue in JSON).

There's still the problem that this for example removes Python-style comments and reformats the output if the template evaluates to a valid Python expression.

[2018-12-01 10:59] gstorme commented on #49375
[code]

[2018-12-01 13:56] angystardust opened #49401 "na_ontap_user: cannot add a publickey for a login account"
##### SUMMARY
Actually it is possible to use **na_ontap_user** module to create a password-less login using the parameter `authentication_method: publickey ` but you cannot inject a publickey for the login account. So, I think the module should be able to let a user set the following parameters:
- publickey
- index
- comment

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`lib/ansible/modul

[2018-12-01 13:57] angystardust commented on #49401
+label netapp
+label storage

[2018-12-01 14:24] angystardust opened #49403 "na_ontap_user_role: cannot specify a query"
##### SUMMARY

Actually it is possible to use **na_ontap_user_role** module to create a tailored role using the parameter `command_directory_name` but you cannot specify a query to limit the allowed commands on a specify subset of storage objects (volumes or luns). So, I think the module should be able to let a user set a `query` parameter

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
 na

[2018-12-01 14:30] ssbarnea commented on #12619
Can someone point me to a workaround for this, one that kills the background task later?

I need to do this as a start a background taks that is logging the IPMI serial console to a file and once the host is up and running, I do want to stop the task.

[2018-12-01 14:31] sh-kur commented on #49353
I confirmed it works by upgrading 2.7.2 -> 2.7.4 on my env.
Thank you all!

[2018-12-01 14:59] demmerichs opened #49405 "get_url throws 400 error in check mode only"
##### SUMMARY
The module `get_url` throws an error `HTTP Error 400: Bad Request` when executed inside a playbook with the `--check` flag, but works fine when actually executing the complete playbook (without `--check`).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Remote OS: Debian Stretch, User OS: U

[2018-12-01 16:20] mikedlr commented on #12619
@ssbarnea this is probably not the best place to ask.  GitHub discussion is really for development of new features and most of the time nobody is listening.  You should probably either look at either #ansible on freenode or the Ansible project mailing list.  See https://docs.ansible.com/ansible/latest/community/communication.html for more info.

My guess is that, in your case, killing a chosen ext

[2018-12-01 17:00] jlecour commented on #38655
I've read the test suite to understand how the module is tested.
The "integration" suite is where I've found the interesting bits : https://github.com/ansible/ansible/tree/devel/test/integration/targets/lineinfile

A group of tests is related to this issue. They use a file with 4 lines and insert a line before and after those lines.

If I put aside the code, the documentation, and how the module h

[2018-12-01 18:00] urisimchoni commented on #38655
The way I understood it (and which still seems most useful to me, and AFAICT was the behavior before 2.5) is that `line`/`regexp` combination determine _whether_ to add and _what_ to add, and `insertbefore`/`insertafter` determine _where_ to add it (but are ignored if the line is not to be added).

[2018-12-01 20:18] ppuschmann commented on #22922
I experienced the same error and found out that archives created with the macOS Finder action "compress" will trigger an error when having filenames that are non-ascii.

Archives that where created via the standard `zip` on a shell did not trigger this issue.
This test was made with the same set of files.

[code]

[2018-12-01 20:48] ppuschmann opened #49408 "unarchive fails to decompress non-ascii-filenames from zip-files"
##### SUMMARY
The unarchive-module throws an error when trying to extract an zip-archive that contains non-ascii-filenames.

This issue is reproducable for archives that are created with macOS-Finder "compress" and also with standard zip.

This issue is related to https://github.com/ansible/ansible/issues/22922

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module: unarchive

##### ANSIBLE V

[2018-12-01 21:02] ppuschmann commented on #49408
Regarding _"standard zip files do work"_:

Yes, they do work, but only once.
The second run of the same tasks fails:

first run:
[code]

second run:
[code]

[2018-12-01 21:08] ppuschmann commented on #49408
I did some more tests and found out that this is more or less only an issues of idempotency / repeatability.

There seems to be no difference between "macOS-Finder"-archives and standard-zip-archives.

[2018-12-01 21:36] kbreit commented on #49093
This works in the integration tests so I'm closing. I'll re-open if it comes up again.