[2017-01-18 10:59] dimakievua opened #20387 "with_dict cannot recognize dict object"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible Loops module

##### ANSIBLE VERSION
ansible 2.0.0.2

##### CONFIGURATION
No changes were made in ansible.cfg

##### OS / ENVIRONMENT
Ubuntu 5.4.0-6ubuntu1~16.04.4

##### SUMMARY
When I try to use dict object inside include task - with_dict tells "ERROR! with_dict expects a dict"

##### STEPS TO REPRODUCE
In my task/main.yml I'm including

[2017-01-18 11:32] dimakievua commented on #20387
Found bug. with_dict works only if typing as:
  with_dict: "{{ testusernginx }}"
next spelling is causing error:
  with_dict:
     - "{{ testusernginx }}"

[2017-01-18 11:54] hyperized commented on #20383
Our fix for this situation is to add a `name` tag, along with the (required) `Name` tag to our EC2 instances, but I would love for someone to have a look at this to see if sorting is part of ec2.py, boto or simply AWS.

[2017-01-18 12:02] orinciog commented on #11905
@yuri1969 I'm having the same problem (ansible converts true to True) and I want to template a JSON where True is not recognized.
Unfortunately, I don't understand your solution. Where should I use the `!!str` notation?
Should I use in vars.yml or in jinja template?

In my case,
in vars.yml I have:
`a: true`

and in jinja template I have
`{
key: {{a}}
}`

Thank you,

[2017-01-18 12:02] dimakievua opened #20390 "Cannot perform task with become_user"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible 2.0.0.2

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY
Cannot perform task due to sudo error.

##### STEPS TO REPRODUCE
My playbook.yml:
[code]
Code in roles/users/tasks/main.yml:
[code]
and finally env.yml:
[code]
My variables:

[code]

##### EXPECTED RESULTS
Expect file:
/hom

[2017-01-18 12:03] gundalow opened #20391 "[WARNING]: network provider arguments are no longer supported. Please use connection: network_cli for the task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION
[code]

##### SUMMARY
Even on tasks that don't specify any `provider:` arguments we get the following warnign
`[WARNING]: network provider arguments are no longer supported.  Please use connection: network_cli for the task`

Even on simple tasks like:
[code]

Adding in some debug shows that this is being trigge

[2017-01-18 12:03] westsouthnight commented on #19754
@bcoca very nice !!! thank you!!!

[2017-01-18 12:04] westsouthnight commented on #19754
@bcoca i think its need be added to docs.

[2017-01-18 12:06] dimakievua commented on #20390
When I comment become_user:

[code]
It shows:
[code]

It try to use {{ item }} instead of {{ currentuser }} is line:
`lineinfile: dest="/home/{{ currentuser }}/{{ docker_compose_base_dir }}/devfe.env" line="{{ item.key }}{{ ":" }} {{ item.value }}"`

[2017-01-18 12:17] rommsen opened #20392 "when conditional does not allow for "truthy" checks with strings"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
when conditional

##### ANSIBLE VERSION
[code]

##### SUMMARY
When testing for variables we have a lot of tasks that simply check for
[code]
where variable is a string.

See for example: https://github.com/ANXS/postgresql/blob/master/tasks/install.yml#L21

This role worked for us until now but after upgrading to `2.2.1.0` we get errors (see belo

[2017-01-18 12:21] Lujeni commented on #20327
Hello,

This PR https://github.com/ansible/ansible/pull/19685/files should fixed this issue

[2017-01-18 12:28] yuriidanyliak commented on #20380
It affected us as well.

The workaround is, if you use `angstwad.docker_ubuntu` playbook:

[code]

Also, I've got to remove all pip packages from host machine:

    pip list | grep -v pip | awk '{print $1}' | while read i; do sudo pip uninstall -y "$i"; done

[2017-01-18 12:33] ntmggr commented on #17969
+1

[2017-01-18 13:04] #20350 closed, assigned to nobody

[2017-01-18 13:05] gundalow commented on #20350
Fixed by https://github.com/ansible/ansible/pull/20351

[2017-01-18 13:09] dan-osms opened #20395 "Updating tagging only for RDS module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

RDS
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MAC 10.12.2
##### SUMMARY

Need to be able to update tags on current running RDS instances. Tried using modify command to simply have a play identify RDS instance via name to update it's tagging
##### STEPS TO REPRODUCE

---
[code]
##### vars file
[code]

[code]

[2017-01-18 13:25] fvalt opened #20397 "in a playbook with 2 plays, the 2nd play is not run if some hosts failed in 1st play"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]

hostfile = /etc/ansible/hosts
library = /usr/share/ansible
remote_tmp = $HOME/.ansible/tmp
pattern = *
forks = 5
poll_interval = 15
transport = smart
remote_port = 22
module_lang = C
callback_plugins = /root/foryou_ansible/plugins/callback
callback_plugins = /home/mkhaskhoussi/ansible_4YOU/plugins/callbac

[2017-01-18 13:31] nblock opened #20398 "2.2.1.0 fails while decoding vault key to UTF-8"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
- pyenv on Debian 9
- Python 2.7.13

##### SUMMARY
Ansible tries to decode the content of the vault key as UTF-8:
[code]

The first few bytes of the vault key are:
[code]

##### EXPECTED RESULTS
This worked without issues in 2.2.0.0 (same OS, same Python)

##### ACTUAL RESULTS

[code]

[2017-01-18 13:32] jaccoh commented on #18411
I still have this issue on 2.2.0.0. Is there any hint as to a work-around?

[2017-01-18 13:42] jaccoh commented on #18411
For me this seems to be fixed in 2.2.1

[2017-01-18 14:01] ko-christ opened #20400 "Accessing registered variables created from shell module raises `template error while templating string: unexpected '.'.`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`shell` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 15.10

##### SUMMARY
Accessing registered variables created from `shell` module raises  `template error while templating string: unexpected '.'.`.
The shell command I am running is this (this is not jinja).
[code]
Using `command` module instea

[2017-01-18 14:42] gundalow commented on #19890
There is a proposed fix in https://github.com/ansible/ansible/pull/20373, reviews welcome

[2017-01-18 14:48] narankhetani opened #20404 "junos_config issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos/junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MAC OSX

##### SUMMARY

When running the following playbook:

##### STEPS TO REPRODUCE

the junosAcl99-test.txt just contains some config in set format

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[code]

[2017-01-18 14:54] johnpauljj opened #20406 "vsphere_guest - vm_hardware: cpu sockets and cpu cores"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
Module: vsphere_guest - vm_hardware

##### SUMMARY
It would be useful to be able to specify the amount of cpu sockets and cpu cores when using vsphere_guest to manage a vSphere virtual machine. Currently, the only option is to specify the amount of cpus (num_cpus) but this is equivalent to specifying the cpu sockets only and does not have an affe

[2017-01-18 14:56] petericebear opened #20407 "vmware_guest - memory reservation"
##### ISSUE TYPE
 - Feature Idea

Is it possible to set the memory reservation of an instance?
We would like to set the reservation to half of its memory_mb setting.

Or if someone could point me to a solution, that would be great also.

[2017-01-18 14:56] fghaas commented on #19890
@gundalow Thanks! I've updated ansible/ansible-modules-extras#2996 to let the original reporter know.

[2017-01-18 15:00] petericebear commented on #20406
+1 I am running across the memory reservation setting.

[2017-01-18 15:01] elsobrino commented on #20378
+1

`# ansible --version
ansible 2.3.0 (devel a3321d1074) last updated 2017/01/18 15:37:55 (GMT +200)
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/etc/ansible/library']`

[2017-01-18 15:19] gundalow commented on #20383
I was recenty directed at https://github.com/jctanner/ansible-tools/blob/master/ansible-var-precedence-check

[2017-01-18 15:20] gundalow commented on #20383
@hyperized I wonder if the title for this issue needs updating

[2017-01-18 15:29] sirkubax commented on #20357
If no further comment, I think we can close this as #notabug

[2017-01-18 15:29] #20357 closed, assigned to nobody

[2017-01-18 15:29] Asara commented on #20380
Thanks @yuriidanyliak

This was driving me nuts last night.

[2017-01-18 15:31] hyperized commented on #20383
A short update to narrow this down, if I use the AWS CLI to poll the AWS API directly (`aws ec2 describe-instances`) I find that the Tags are returned in a completely random order, so either boto or ec2.py sorts them.

[2017-01-18 15:34] hyperized commented on #20383
Boto does not seem to sort (at all): https://github.com/boto/boto/blob/master/boto/ec2/tag.py

[2017-01-18 15:34] gundalow commented on #20404
@narankhetani Hi `devel` is part way through a major refactor so the above error is expected at the moment.

If you want to find out more, feel free to join the Network Meeting, more details on https://github.com/ansible/community/blob/master/MEETINGS.md

[2017-01-18 15:35] #20404 closed, assigned to Qalthos

[2017-01-18 15:36] narankhetani commented on #20404
excellent thanks.

On Wed, 18 Jan 2017 at 15:35 John R Barker <notifications@github.com> wrote:

[2017-01-18 15:43] JimFicarra commented on #20315
Add [PR #20358](https://github.com/ansible/ansible/pull/20358) yesterday.

[2017-01-18 15:44] warhost commented on #20290
+ 1

[2017-01-18 15:52] aspickard commented on #5952
+1 I was also misled by the documentation, was expecting the behavior @dolpa described.  This functionality would be much more useful than the current implementation IMO.

[2017-01-18 16:08] JimFicarra opened #20408 "win_package doesn't allow non-zero (but successful) exit codes from installers to be specified"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

pipelining=True
host_key_checking = False
timeout = 30

##### OS / ENVIRONMENT

Control Server: CentOS Linux release 7.0.1406 (Core)
Windows 2008 & 2012

##### SUMMARY

The win_package module does not expose its ability to handle non-zero return code from an installer.  Some in

[2017-01-18 17:00] multun commented on #20290
I'm having the exact same issue with 2.2.1.

[2017-01-18 17:08] ypid opened #20409 "Use ISO 8601/RFC 3339 international date format"
##### ISSUE TYPE
 - Documentation Report

##### ANSIBLE VERSION
devel

##### SUMMARY
https://xkcd.com/1179/

[RFC 3339](https://tools.ietf.org/html/rfc3339)

##### STEPS TO REPRODUCE

Read [CHANGELOG.md](https://github.com/ansible/ansible/blob/devel/CHANGELOG.md) and potentially others.

##### EXPECTED RESULTS
Clear international date format being used:

* 2013-08-21
* 2016-09-29

##### ACTUAL RES

[2017-01-18 17:45] narankhetani opened #20412 "Issue with junos_config module with order of statements"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules/junos/junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no changes.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I was using the junos_template module in 2.1 with pretty good results, but 2.2 merged junos_template into junos_config.  Good idea, but I don't think it's working right.  The first line is there to instantiat

[2017-01-18 17:50] ceving opened #20413 "lineinfile not idempotent for multiple lines"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04.5 LTS

##### SUMMARY
`lineinfile` is not idempotent for multi-line strings.

##### STEPS TO REPRODUCE
The following task works as expected:
[code]
It inserts one line:

    set intercept_loopback false;
    pass in quick all pass out quick all

Whe

[2017-01-18 18:26] bcoca commented on #20390
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case, the issue is that you

[2017-01-18 18:26] #20390 closed, assigned to nobody

[2017-01-18 18:37] jkilpatr commented on #17136
Was a fix merged for this and backported? I can not reproduce on 2.2.0 or 2.2.1

[2017-01-18 18:41] n0trax commented on #20288
@anssite
Sure, you're right. You need 2 playbooks for switching between 2 php modules...

@robinro
Let's say the module identifier is not accurate enough ;-)

[2017-01-18 18:44] luto commented on #17136
@jkilpatr I can still reproduce my testcase in `devel`, `2.2.0` and `2.2.1`.

[2017-01-18 18:58] gvilarino commented on #16443
Thanks @sfgeorge, that solved my problem (though I acknowledge it won't solve @dagwieers')

[2017-01-18 18:59] shaiksulaiman commented on #14237
I set the exact host IP / hostname to wait_for task to avoid confusion.

My snippet below. Hope it helps someone

 - name: Set facts
    set_fact:
       node_ip: "{{ ansible_host  | default(inventory_hostname) }}"

  - name: Print node IP
    debug:
      msg: "node ip is {{ node_ip }}"

  - name: Verify the Node reachability
    wait_for:
        port: 893
        #host: "{{ ansible_host  | defa

[2017-01-18 19:08] bcoca commented on #15473
closing as dupe of #17115

[2017-01-18 19:08] #15473 closed, assigned to nobody

[2017-01-18 19:21] codyjohn commented on #19107
I see the same behavior, and have worked around it by using configuration lines that will instantiate the interface (or firewall filter, or prefix-list, whatever) before deleting it.  I'm interested in what the "official" ansible stance on this issue is, if it is in-fact intended behavior.

[2017-01-18 19:53] ryansb commented on #20253
This looks like it happens when the variable is encoded as a `ansible.vars.unsafe_proxy.AnsibleUnsafeText`, so one fix would be to alter the `AnsibleDumper` class to add a representer for AnsibleUnsafeText (which would likely just be `str(t)` or similar).

cc/ @bcoca for a second opinion.

[2017-01-18 19:57] jithe1978 opened #20418 "playbook not running in Tower"
##### ISSUE TYPE

 - Bug Report
 ##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

##### ACTUAL RESULTS

[2017-01-18 19:57] jithe1978 commented on #20418
Please help me

[2017-01-18 19:57] sivel commented on #20418
For tower issues please use https://support.ansible.com/

[2017-01-18 19:57] #20418 closed, assigned to nobody

[2017-01-18 19:58] jctanner commented on #19460
bot_status

[2017-01-18 20:24] Geethree commented on #20380
Same here. Spent a few hours pulling out my hair prior to realizing that docker-compose and docker api have been updated....

[2017-01-18 20:26] jbrinksmeier commented on #20290
I'm facing this issue as well on ansible 2.2.1.0, ubuntu 16.10. Downgrading to tag v2.2.0.0-1 solves it for me:
pip uninstall ansible
pip install git+git://github.com/ansible/ansible.git@v2.2.0.0-1

[2017-01-18 20:31] sivel commented on #20380
This was recently resolved in the devel branch as part of https://github.com/ansible/ansible/pull/19633 / https://github.com/ansible/ansible/commit/e2a1ce2916e9b87fe1ad4a1011c04ef8d2faf046 and will be included in the 2.3.0 release.

[2017-01-18 20:31] #20380 closed, assigned to nobody

[2017-01-18 20:31] Geethree commented on #20380
#19633

[2017-01-18 20:33] mike10010100 commented on #20332
Ran into this exact issue, @MiLk, running a configuration script from cloud-init on localhost, fails on copying of templates with:

`fatal: [127.0.0.1]: FAILED! => {"changed": true, "failed": true, "msg": "Source /root/.ansible/tmp/ansible-tmp-1484769451.75-93960335696440/source not found"}`

Reverting to 2.2.0 until a fix is in place.

[2017-01-18 20:42] gundalow commented on #19107
@privateip this may need your input here.

[2017-01-18 21:03] xiegeo commented on #10591
Please fix this, FAT32 is required in some situation, such as the raspberry pi boot partition.

An opt in option to alternative backup file names should not break backwards compatibility.

[2017-01-18 21:10] dmsimard commented on #20400
Seeing this as well, interestingly enough in the same docker context -- it looks like a regression from 2.2.0.0 because downgrading the version fixes it.

A simple reproducer doing a 'echo' instead of requiring docker:
[code]

**ansible 2.2.1.0**
[code]

**ansible 2.2.0.0**
[code]

[2017-01-18 21:13] seljuck commented on #20316
@helldorado
I've setup the sample tree as you asked. I don't think I'm running the playbook correctly. This is the output I'm getting when I run /playbooks/proxmox.yml
[code]

Should I be running a different playbook?

[2017-01-18 21:17] zeitounator commented on #19549
Any progress on this one ?

[2017-01-18 21:38] nathanhruby commented on #20290
dupe of #20253

[2017-01-18 21:41] jctanner commented on #19460
needs_contributor

[2017-01-18 21:44] umago opened #20424 "Running unit tests fails with: ERROR: Missing environment variable: HOME"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
Running the unit tests with `tox -epy27` (any py{2,3}*) fails with:

[code]

Full error: http://pastebin.com/Qs2xbdBj

##### STEPS TO REPRODUCE
Just clone the ansible repository and run ``tox -epy27``

##### EXPECTED RESULTS
The unit test

[2017-01-18 21:53] jctanner commented on #19460
bot_status

[2017-01-18 22:14] dan-osms opened #20426 "s3_logging cannot use variable + string or Variable+Variable for argument"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac 10.12.2
##### SUMMARY

s3_logging:

target_bucket: "{{ item.profile }}"-s3-log    #fails cannot "mesh variable into string
or
target_bucket: "{{ item.profile }}"-"{{ item.log_target }}"    #fails cannot "mesh variable into string
 always complains about quotes ^^ he

[2017-01-18 22:24] abadger commented on #20331
```ansible --version``` prints out the library search path among other information which seems to satisfy the request for a command line option to print this out.  I'll go ahead and close this ticket on that basis.

Note that ```ansible -vvv``` also prints out the module file that is being used to run a module (same with ansible-playbook) which can help you see whether there is a search path probl

[2017-01-18 22:24] #20331 closed, assigned to nobody

[2017-01-18 22:36] abadger commented on #20359
The fact that the second one works means that this is not a bug in get_url.  Going to have to do some digging to figure out if it's a bug in ansible or something about your setup, though.  Could you post the env and echo ansible commands that you're using to show that http_proxy is set correctly?

[2017-01-18 22:38] sivel commented on #20359
I'm guessing it is related to how `http_proxy` is set on the remote node, and ansible invoking a non-interactive shell causing the users environment to not load.

Seeing an output of `ansible_env` from the gather_facts step or the setup module directly would likely confirm that.

[2017-01-18 22:54] jctanner commented on #19460
bot_status

[2017-01-18 23:16] dagwieers commented on #20376
Right, this was fixed here https://github.com/ansible/ansible/commit/dbbd2d79ff4b3d49e5db1b4cd22f488c56ae009c
Always best to search for reported issues and/or fixes before reporting.
Or to test against latest devel branch, or latest stable (v2.0.1) to check if it was already fixed.

duplicate_of #18628
resolved_by_pr #18649

[2017-01-18 23:21] nitzmahone commented on #20343
@dagwieers That's what I was saying in the other issue- we can do it, but we'd have to (at least partially) convert `win_regedit` to use the .NET Registry classes instead of the PS stuff. Not a huge deal, but not something I have time to do and test ATM. There's an existing workaround (albeit sub-optimal), and with that, this issue alone doesn't seem to be enough to trigger a rewrite of the module

[2017-01-18 23:23] dagwieers commented on #20343
Ok. Do you mind to keep this one open for reference ?
One day I may get around it, it will probably be a holiday :-)

[2017-01-18 23:26] nitzmahone commented on #20343
ok

[2017-01-18 23:29] #20376 closed, assigned to nobody

[2017-01-18 23:32] #20224 closed, assigned to jimi-c

[2017-01-18 23:33] bcoca commented on #20290
closing as dupe

[2017-01-18 23:33] #20290 closed, assigned to nobody

[2017-01-18 23:49] jithe1978 commented on #20418
Matt,

This is only for paid users, i am still exploring ansible tower features in
order to recommend to my company, can you answer this question
Can ansible tower community edition runs playbook with groups 3 hosts
inventory, what i am noticing is it running only against single node not
against group of nodes.

Thank you,
Jithendra Myla
Mobile 412-738-2120
Home  412-329-6979

On Wed, Jan 18, 2017

[2017-01-18 23:58] dagwieers opened #20428 "win_user: Does not allow modification of domain users"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_user

##### ANSIBLE VERSION

v2.3

##### SUMMARY

I wanted to replace the following task:

[code]

with a win_user task:
[code]
This works for a computer in AD domain and will add the domain-user to the local group Administrators (in AD). However, win_user fails to do the same, instead it creates a local user in local group Administrator

[2017-01-18 23:59] biroeng commented on #12620
Any example to read the results from a find module
http://docs.ansible.com/ansible/find_module.html

[2017-01-19 00:02] abadger commented on #20345
I'm unable to reproduce this.  Here's the output when I run this with a 2.1.1.0 checkout:
[code]

Is there any other information that you can give us to be able to duplicate the failure?

[2017-01-19 00:22] willthames commented on #20395
As a workaround you should be able to use `ec2_tag` for this.

There's no reason that I know of why this shouldn't work, but it's unlikely that RDS module will get updated to do it unless someone else implements it

[2017-01-19 00:24] bcoca commented on #19728
closing as per above

[2017-01-19 00:24] #19728 closed, assigned to nobody

[2017-01-19 01:02] MiLk commented on #20332
@mike10010100 Could you add the `-vvv` flag? It doesn't seem to be the same issue.

[2017-01-19 01:25] jimi-c commented on #20346
This was actually done per a request, so it's intentional. The key point is the return code of this is still 0:
<pre>
PLAY RECAP ********************************************************************************************************************************************************************************************************
localhost                  : ok=1    changed=0    unreachable=0    fai

[2017-01-19 01:29] agaffney opened #20431 "Templating fails with error on FreeBSD 11"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Templating

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
FreeBSD 11.0

##### SUMMARY
Attempting to use templates in a playbook on FreeBSD 11.0 results in the following error:

[code]

##### STEPS TO REPRODUCE
Ansible is installed via `pkg install ansible`. The example playbook is executed with `ansible-playbook

[2017-01-19 01:29] agaffney commented on #20431
@bcoca

[2017-01-19 01:29] harlowja opened #20432 "Make it possible to pass *command line* arguments to dynamic inventory scripts"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

Inventory

##### ANSIBLE VERSION

All of them that support dynamic inventory.

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

It doesn't appear the you can pass command line arguments to dynamic inventory, but instead must kluge together `ENV` variables or various other passing techniques (ie, write out a ini file) to sid

[2017-01-19 01:30] agaffney commented on #20431
This issue was found by `oerg866` in the `#ansible` IRC channel

[2017-01-19 01:57] #20295 closed, assigned to nitzmahone, jhawkesworth

[2017-01-19 02:12] JimFicarra opened #20433 "win_feature - source parameter on Win2k8 gets error "A parameter cannot be found that matches parameter name 'Source'.""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_feature

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

pipelining=True
host_key_checking = False
timeout = 30
##### SUMMARY

using source parameter with win_feature on Win2k8 gets error "A parameter cannot be found that matches parameter name 'Source'."

##### STEPS TO REPRODUCE

Use the **source** param for t

[2017-01-19 02:46] opsroller commented on #20432
Why not just setup your ~/.aws/credentials file correctly so that ansible just uses the AWS_PROFILE environment variable?

[2017-01-19 02:59] esncs16 commented on #19728
Yes, this ticket can be closed.  Thank you very much for the help Jasper.

From: Jasper Lievisse Adriaanse [mailto:notifications@github.com]
Sent: Tuesday, 17 January, 2017 7:38 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Song Lee Shen Emily (NCS) <emilys@ncs.com.sg>; Author <author@noreply.github.com>
Subject: Re: [ansible/ansible] Ansible to Solaris 5.10 not working but Solaris 5.11

[2017-01-19 03:14] bcoca commented on #20332
At this point I'm not sure if this is an Ansible bug or a cloud-init one, `~/` should be a more reliable way of expressing `$HOME/`.

[2017-01-19 03:29] klin938 opened #20438 "retries-until fails on yum module task"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
retries-until, YUM module

##### ANSIBLE VERSION
ansible 2.1.2.0

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 6.8

##### SUMMARY
I tries to add retries-until to some YUM module tasks which fails sometimes mainly due to networking to the repos URL. I added retries and until rc returns 0. But it seems YUM module output does not contain rc

[2017-01-19 03:31] MiLk commented on #20332
Please note, it also affects 2.3.

It might also be an issue with `systemd`.

I don't have much more time to spend on that issue, but I think ansible should work out of the box with the default config with cloud-init.

[2017-01-19 03:35] bcoca commented on #20332
@MiLk the change was made to make it work 'out of the box'  with other systems, `$HOME` can be undefined (looking at variables provided above, it is also missing in cloud-init), `~/` should never be 'undefined'.

Before 're breaking' other systems I would like to get to the bottom of the issue, I've added more info to the error message to current devel, if you could try that and see where exactly

[2017-01-19 03:41] MiLk commented on #20332
I agree that we should take the necessary time to fix the issue and get the greater amount of systems working out of the box. I was not suggesting that the fix should be reverted or to 're break' other systems.

I will port the changes you did in https://github.com/ansible/ansible/commit/d8cefee68c0690f98ba15294452471a222a4fcdc to the local connection plugin. Is there any other changes that would

[2017-01-19 03:43] bcoca commented on #20332
We could add some debugging, for example checking that the in_data exists before the transfer, I suspect the problem is the 'local' resolution to find the file inside the cloud-init execution and not the remote.

[2017-01-19 04:06] bcoca commented on #20431
Confirmed the issue, but removing the pkg and installing 2.2.1 from pip indicates this is an issue with the FreeBSD package.

[2017-01-19 04:17] bcoca commented on #20431
So I downloaded the package from a FreeBSD mirror, untarred it,  and on that line i see:

``` result = self._do_template(```

which is correct, same as in pip, same as in source ... but when i look at the file installed by `pkg install ansible`

``` result = self.do_template( ```

So ... either the mirror used by pkg is different and has a different package with this change or the installation pro

[2017-01-19 04:25] #20431 closed, assigned to nobody

[2017-01-19 04:36] harlowja commented on #20432
I'm not using aws or ec2.py here.

`./render_env` is a custom script we have to turn our deployment topology information into multiple formats, that topology format contains information that describes our cloud (which we have multiple of).

[2017-01-19 05:53] MiLk commented on #20332
I've run `2.2.1` once again with `ANSIBLE_DEBUG=1`, pipelining disabled, and improved error message in [`put_file`](https://github.com/ansible/ansible/blob/v2.2.1.0-1/lib/ansible/plugins/connection/local.py#L133)

[2017-01-19 06:02] d3v1an7 commented on #19585
Thanks @abadger and @BondAnthony! Fix confirmed 👍

[2017-01-19 06:03] MiLk commented on #20332
I've written the following script to test the behaviour more easily:
[code]

And the following systemd unit file (`/etc/systemd/system/ansible.service`):
[code]

The result is the following:
[code]

That shows that `~` is not replaced in the shell started by `systemd`.

[2017-01-19 06:09] MiLk commented on #20332
If I use:
[code]

It's now working.

[2017-01-19 06:16] vhosakot opened #20440 "No error for non-existent handlers when notify is used with include"
Bug Report:

When "notify" is used with "include" and the handler specified for "notify" does not exist, Ansible does not display any error and the playbook runs fine without failures.

##### COMPONENT NAME
notify, include

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
$ env | grep ANS
ANSIBLE_INSTRUMENT_MODULES=true
ANSIBLE_HOST_KEY_CHECKING=false
ANSIBLE_SSH_ARGS=-F /root/.axion/ssh_config
A

[2017-01-19 06:43] ganeshnalawade commented on #20265
As per discussion in Ansible Network meeting (18-01-2017) `xml` output is not directly consumed by Ansible. The current behavior is to convert `xml` response received from device to `json` format which is consumed by Ansible irrespective of `format` given in playbook (ie `xml` or `json`). Hence to avoid confusing with format in playbook it is decided to support `json` and `text` output format in `

[2017-01-19 06:43] #20265 closed, assigned to Qalthos

[2017-01-19 06:49] MiLk commented on #20332
Fix available in https://github.com/ansible/ansible/pull/20441

[2017-01-19 07:02] berlic opened #20442 "Template search path broken in 2.2.1.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`template` module(action plugin)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default config

##### SUMMARY
Jinja2 templates can't be included between roles in 2.2.1

##### STEPS TO REPRODUCE
Make two roles: `common_role`, `service_role`.
Make template in `common_role/templates/common.j2`.
Make template in `service_role/templates/service.j

[2017-01-19 07:08] MiLk commented on #20432
I ended up having a bash script for each of my inventory calling the same python script generating the inventory with different parameters.

[2017-01-19 08:45] precurse commented on #20102
FWIW this is also affecting SmartOS instances:
[code]

[2017-01-19 08:56] bittsi opened #20443 "ios_facts: gather hardware facts fails on IOS-XE"
- Bug Report

##### COMPONENT NAME
ios_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux 7 managing Cisco IOS-XE devices

##### SUMMARY
The module ios_facts does not work on Cisco IOS-XE devices. The command "show memory statistics | include Processor" crashes. There is no “statistics” option behind “show memory”:

sh memory ?
 debug     Memory debugging

[2017-01-19 09:14] hamsterready commented on #16792
@aklemp you saved my day with this issue report, thanks man. Confirming that documentation is incorrect.

[2017-01-19 09:24] gundalow commented on #19382
Inverse of https://github.com/ansible/ansible-modules-core/issues/4807

2.1 `*_template` DID return `.updates`
2.2 `*_config` when used with `src:` DID NOT return `.updates`
2.3 `*_config` when used with `src:` DOES return `.updates`

[2017-01-19 09:44] Martin-Temme commented on #20440
Hi @vhosakot,

I was curious and have played around with this a bit on ansible 2.2.1.0.
Looks to my like the problem lies within "include" like "debug" not firing the "notify" module.

**What I did to test this**
_scenario 1_
[code]

**Result**
[code]

When I commented out the missing handler it worked fine of course.

However when the "tasks/main.yml" looks like
**this**
_scenario 2_
[code]
**or

[2017-01-19 09:50] sbeliakou commented on #14212
the same issue with **--syntax-check --module-path=./modules**

Checked all ansible versions 2.0.0.0 to 2.2.1.0 [syntax-check.log](https://gist.github.com/sbeliakou/1a27db3c1be032931c95957d9703454c)

Any chance to get it fixed?

[2017-01-19 10:09] westsouthnight commented on #19754
@bcoca we try to use like you say, but its not works =( May be some wrong in
[code]

[2017-01-19 10:09] tivrobo opened #20444 "Can't stop VM using azure_rm_virtualmachine"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

NAME="Ubuntu"
VERSION="16.04.1 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.1 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ub

[2017-01-19 10:11] westsouthnight commented on #19754
@bcoca may be i need specific version of ansible? We currently use 2.2.0.0

[2017-01-19 10:13] hogarthj commented on #11536
On a side note %C is not a great default right now as EL7 has openssh 6.6, and %C wasn't added until EL7.

You can use the fully expanded form of %l%h%p%r on EL7 though.

[2017-01-19 10:35] sirkubax opened #20447 "amazon s3 module - check mode"
Hi

Would be nice, to have a check mode for the s3 amazon module
modules/core/cloud/amazon/s3.py

[2017-01-19 10:40] theLastTrain opened #20448 "Name of a role may prevent it from being executed in 2.2.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`roles` in a play

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS release 6.8 (Final)

##### SUMMARY
Name of a role can prevent it from running in 2.2.0

##### STEPS TO REPRODUCE
Structure of Ansible dir like this
[code]

Content of `roles/fail2ban/tasks/main.yml `
[code]

Content of `roles/fail2ban/tests

[2017-01-19 10:41] sirkubax commented on #20264
Please take a look at
https://github.com/ansible/ansible/issues/20184

[2017-01-19 10:43] rogerwelin commented on #9065
Happy I found this issue after banging my head against the wall for countless hours... And I'm extremely surprised of the maintainers dismissive attitude regarding this bug by calling it a "feature", it's stupid beyond recognition.

I'm trying to set up a generic deployment playbook/role using a dynamic inventory. The inventory output looks like this:

`{
  "resource-service_ci": {
    "vars": {

[2017-01-19 10:46] sirkubax commented on #20184
@bcoca what was first, chicken or an egg :smile:
Anyway, https://github.com/ansible/ansible/pull/20219 shall solve the issue (unless you would actually like to follow the link, and edit target file)

[2017-01-19 10:55] benairs3 opened #20449 "Docker AttributeError: 'module object has no attribute 'Client'"
When i'm executing vagrant up, appears this error.
My Ansible version is: ansible_1.9.4-1

I tried everything, but nothing appears to solve the problem

[2017-01-19 11:23] billyang1016 commented on #15769
i may have the same issue on 2.2.0.0, and it reproduce rarely.
[code]
i have more than 50 agents, one agent run hangs.
[code]

[code]

[2017-01-19 11:54] ganeshnalawade commented on #19107
@codyjohn AFAIK if any configuration given in playbook is already present on the device it will not be reapplied by Ansible. In the workaround, you mentioned for each Ansible run it will be reapplied which is not desired behavior I think.
Will wait for inputs from @privateip

[2017-01-19 12:05] ganeshnalawade commented on #20412
@narankhetani Please check if the patch fixes the issue.
I think creating dummy configuration (acl in your case) to prevent error is not right way, hence have already raised this issue https://github.com/ansible/ansible/issues/19107

[2017-01-19 12:17] tomekit commented on #14084
Did you solve it? Facing similar problem.

[2017-01-19 12:23] westsouthnight commented on #19754
@bcoca sorry, {{ inventory_hostname[0:2] }} its a pointer. Thanks. All nice!

[2017-01-19 12:23] #19754 closed, assigned to nobody

[2017-01-19 12:54] berlic commented on #20400
Yes, this bug is introduced in 2.2.1 –  `{{` is not replaced to `{#` as in 2.2.0.

[2017-01-19 13:14] berlic commented on #20449
Duplicate of https://github.com/ansible/ansible/issues/20380

[2017-01-19 13:14] tomekit opened #20453 "[Bug] Chdir giving [Errno 2] No such file or directory, Ansible local run on docker container"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Docker container, Ubuntu 14.04 LTS, image - ubuntu:14.04

##### SUMMARY
Chdir returns error: `[Errno 2] No such file or directory` even though the directory exists.

##### STEPS TO REPRODUCE
On your docker host, create a directory where you can put this YAM

[2017-01-19 13:26] benairs3 commented on #20380
@yuriidanyliak where I put those lines? I have the same problem here

[2017-01-19 13:31] yuriidanyliak commented on #20380
@benairs3 `site.yml`

[2017-01-19 14:15] Sodki opened #20456 "ec2_group should allow for security group revocations"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

ec2_group allows us to create security groups, to remove security groups and to add new rules to security groups. What it doesn't allow us to do is to remove rules, so we can't easily revoke rules that have been set.

This feature is available in AWS and bo

[2017-01-19 14:21] jfbibeau commented on #20376
Thanks - tried a bunch of searches before opening this one but had not located that dup issue. Cheers.

[2017-01-19 14:21] agaffney commented on #20431
I can verify that `ansible==2.2.0.0` installed via `pip` works properly.

[2017-01-19 14:27] dagwieers commented on #20376
No problem, very recognizable ;-)

[2017-01-19 14:38] kwerey commented on #10834
I just ran into this... I think using copy with `content` behaves differently to copy with a source file, and that might be why @jctanner 's test case doesn't capture the error:

I can reproduce it with this:

[code]

On devel:

[code]

The error occurs when copy calls the file module and passes its parameters over - despite passing an absolute path as the source parameter, file tells us: "absolut

[2017-01-19 14:52] choppedpork opened #20458 "docker_service: Odd "pull: yes" behavior with private docker registry"
_From @bchivari on November 25, 2016 16:58_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_service
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Out of box

##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

Pertaining to a private docker registry (https, v1) that has been successfully authenticated to with docker_login in a previous step:

For docker_service ```pull: yes``` onl

[2017-01-19 14:52] choppedpork commented on #20458
_From @ansibot on November 25, 2016 17:6_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-19 14:52] choppedpork commented on #20458
_From @ansibot on December 7, 2016 20:41_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-01-19 14:52] choppedpork commented on #20458
_From @horalstvo on December 23, 2016 15:17_

I see the same issue as described. Running on Ubuntu.
Ansible:
ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

It is quite a nuisance. I just decided to try to rework docker-compose to docker_container (though I see some problems with substituting docker-compose scale there)...

[2017-01-19 14:52] choppedpork commented on #20458
I'm also hitting this issue.
[code]
In my case the user executing the commands (root) already has a `~/.docker/config.json` which is working fine (I'm not using docker_login) - I can use docker-compose pull on the server itself without problems.

[2017-01-19 14:52] choppedpork commented on #20458
_From @bchivari on January 19, 2017 14:48_

@choppedpork I haven't received any communication on it since filing this bug. I'm wondering, based on the @ansibot message on the Dec 7th weather I should try moving it.

[2017-01-19 14:53] bchivari commented on #20458
beat me to it, thanks!

[2017-01-19 15:12] likg commented on #11266
Recent commit broke correct work of --force flag for ansible-galaxy for roles without specific tag. For example, now it`s not possible to fetch latest changes from bare git repo.
[code]

[2017-01-19 15:16] rmfitzpatrick opened #20460 "Playbook including another doesn't resume after completion of included"
Plays that include others don't resume after the included play has completed:
[code]

[code]

bisect suggests this was introduced by cae682607cdbe710a51ae5181bbc84ee06f3f33e
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Observed in EL7 and OSX

[2017-01-19 15:18] morgajel commented on #13159
I concur- this is definitely a UI bug and probably shouldn't have been closed.

[2017-01-19 15:25] MikeStankavich commented on #20392
It appears that the variable contents are being evaluated. This test case produces a divide by zero error.

[code]

#### **Expected result:**
[code]

#### **Actual result:**

[code]

[2017-01-19 15:25] bcoca commented on #20378
please verify that the above PR fixes the issue for you as well

[2017-01-19 15:44] benairs3 commented on #20380
@yuriidanyliak I don't have this site.yml file. I work with vagrant, and ansible. I have my main.yml in /roles/bootstrap_containers/tasks/mani.yml
Is here when vagrant running crashes. Is there where I have to put those lines? I'm so lost ...

[2017-01-19 15:48] bartoszkosiorek opened #20468 "Confusing information on CHANGELOG.md file"
In file:
https://github.com/ansible/ansible/blob/devel/CHANGELOG.md

there is still information that 2.2.0 is in active development.
Also information about 2.2.1 is missing.

[2017-01-19 15:49] yuriidanyliak commented on #20380
@benairs3, I don't know where you are installing `docker-py` in your configs, but the original idea is to lock `docker-py` to version prior to `2.0.1`

[2017-01-19 15:54] Geethree commented on #20380
Or switch to 2.3.0 devel... or modify your lib/ansible/module_utils/docker_common.py if you absolutely need the fix, can't pin versions or use the devel branch..
https://github.com/ansible/ansible/commit/e2a1ce2916e9b87fe1ad4a1011c04ef8d2faf046

[2017-01-19 16:01] Geethree commented on #20380
Or switch to 2.3.0 devel... or modify your lib/ansible/module_utils/docker_common.py [ https://github.com/ansible/ansible/commit/e2a1ce2916e9b87fe1ad4a1011c04ef8d2faf046 ] if you absolutely need the fix, can't pin versions or use the devel branch..

[2017-01-19 16:11] djk opened #20469 "s3_sync module not setting mime_type"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

s3_sync
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible from: macOS 12.2.2, python 2.7 virtualenv.
Managing: Ubuntu 16.04.1 LTS

##### SUMMARY

Using the s3_sync module, all files uploaded to the bucket end up with the binary/octet-stream mime_type. This happens even if I set the `mime_map` option in

[2017-01-19 16:13] #20253 closed, assigned to nobody

[2017-01-19 16:13] jimi-c commented on #20253
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release (2.2.2).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-p

[2017-01-19 16:16] vhosakot commented on #20440
Thanks for the response @Martin-Temme! Yes, I totally agree that "debug" and "notify" do not change anything on the target machine and that "notify" is fired only when the target machine is changed.

But, I still think there must be a failure/error for non-existent handlers irrespective of if the target machine was changed or not and/or if the handler was notified or not. Usage of non-existent thi

[2017-01-19 16:17] s-hertel commented on #18496
I wasn't able to replicate this on macOS 10.12.2 using `./contrib/inventory/ec2.py --profile shertel` on ```ansible 2.2.1.0
  config file = /Users/shertel/XXXX/ansible/ansible.cfg
  configured module search path = ['modules']```. I tried `git diff v2.2.0.0-1 -- ./contrib/inventory/ec2.py` and the only code difference between our versions is a python3 compatibility thing ```@@ -1313,7 +1313,7 @@ cl

[2017-01-19 16:17] #18496 closed, assigned to nobody

[2017-01-19 16:18] agrrh opened #20470 "lookup('dig', arg1) should be able to process lists"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
plugins/dig

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`dig` module currently looks unable to me to process lists.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Result should be list of IP addresses.

##### ACTUAL RESULTS
[code]

I'd like to update related module to determin

[2017-01-19 16:22] geerlingguy commented on #20392
I haven't had the time to write up my own test cases, but this does look fairly major—I hate to admit, but I often am lazy enough to rely on python's duck typing in my `when` conditionals, and I can imagine a lot of my roles breaking if certain 'truthy' checks start getting more strict.

[2017-01-19 16:40] #20356 closed, assigned to nobody

[2017-01-19 16:50] harlowja commented on #20432
Ya, I could see that being done, seems sorta crappy :)

[2017-01-19 17:00] basictheprogram commented on #20378
I thought I could

$ git cherry-pick 8a97937f5c8d3e7e9efaf165645745027bf87554
fatal: bad object 8a97937f5c8d3e7e9efaf165645745027bf87554

$ git remote -v
origin	git@github.com:ansible/ansible.git (fetch)
origin	git@github.com:ansible/ansible.git (push)

$ git branch
* devel

Can you tell me how to merge that commit into my local repo?

Thanks.

--
Bob Tanner <tanner@real-time.com>

[2017-01-19 17:05] basictheprogram commented on #20378
$ git fetch origin pull/20462/head:gather_warning_fix
$ git checkout gather_warning_fix

?

--
Bob Tanner <tanner@real-time.com>                                 | Phone : 952-943-8700
http://www.real-time.com, Linux, OSX, VMware, Windows | Fax      : 952-943-8500
Key fingerprint = 9906 320A 8BB6 64AD 96A7  7785 CBFB 10BF 568B F98C

[2017-01-19 17:08] bcoca commented on #20468
We update the devel one but it trails the 'official' ones, for and 'up to date' changelog look at the release tagged one.

[2017-01-19 17:24] JusticeForMikeBrown commented on #20142
Yes, http://releases.ansible.com/ansible/ansible-2.2.1.0-0.4.rc4.tar.gz did fix the issue.

Thanks!

Doug

[2017-01-19 17:24] #20142 closed, assigned to nobody

[2017-01-19 17:45] bcoca commented on #20468
fixed via 6d647aaf55352b1338f0a7ca72caa0710f71dc37 and 4e497440315b64514d5092d25ba6eaab2ed4899b

[2017-01-19 17:45] #20468 closed, assigned to nobody

[2017-01-19 18:09] bcoca commented on #20332
the fix won't work unless both systems have synchronized user information

So this looks to me like a systemd bug, to compensate we will probably have to create specific shell plugin and add note that it is needed for cloud-init that uses them.

@MiLk have you reported it yet to systemd?

[2017-01-19 18:24] akostadinov commented on #11536
It should be distro owners to change default config to suite the shipped package. I think upstream should not be waiting 7 years before moving forward with important improvements like this.

[2017-01-19 18:26] bcoca commented on #20442
The behaviour of including ALL roles, not just those that are part of the play was incorrect. This would lead to getting templates from unexpected role, your example adds at least role name but others using `{% include common.j2 %} ` would get unpredictable results.

The current behaviour is correct, only paths for roles actually used in the current play are considered.

[2017-01-19 18:26] #20442 closed, assigned to nobody

[2017-01-19 18:36] maximede opened #20473 "ec2_asg fails to run when there is no instance in the Auto Scaling group"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

If there is no Instances running in the auto-scaling group, running ec2_asg fails:

##### STEPS TO REPRODUCE

- Have an ec2 Auto Scaling group running with at least one machine.
- Change the number of instances to 0
- When all the instances in our asg are termin

[2017-01-19 18:45] bsanders opened #20474 ""Edit on GitHub" link on docs.ansible.com leads to a 404"
##### ISSUE TYPE
 - Documentation Report

##### STEPS TO REPRODUCE
Go to http://docs.ansible.com/ansible/index.html, click the Edit on GitHub link in the upper right corner.

[2017-01-19 18:49] nitzmahone commented on #20392
@jimi-c this looks like fallout from recent eval stuff at fiirst glance...

[2017-01-19 18:59] nitzmahone commented on #20398
cc @abadger

[2017-01-19 19:03] #20474 closed, assigned to nobody

[2017-01-19 19:20] nitzmahone commented on #20413
The regex for lineinfile doesn't handle multi-line matches- you want [blockinfile](https://docs.ansible.com/ansible/blockinfile_module.html)...

[2017-01-19 19:20] #20413 closed, assigned to nobody

[2017-01-19 19:21] nitzmahone commented on #20424
cc @mattclay

[2017-01-19 19:28] nitzmahone commented on #20400
cc @jimi-c templating changes from 2.2.0-2.2.1?

[2017-01-19 19:35] berlic commented on #20442
@bcoca let me not agree with you. `include` in Jinja2 doesn't search files recursively.

If there is `/path/to/project/roles` in searchpath, then `{% include common.j2 %}` can include only `/path/to/project/roles/common.j2` and can't include anything from `/path/to/project/roles/custom_role/templates/common.j2` by mistake.

But if template path is explicitly set like in `{% include common_role/tem

[2017-01-19 19:36] abadger commented on #19779
I was unable to reproduce on a fedora 25 controller with rhel7 managed machine.  I'll spin up a pair of centos6 vms to test next.

[2017-01-19 19:39] xshadow commented on #19013
Same error on debian jessie with ansible 2.2.0.0 from jessie-backports.

[2017-01-19 19:42] #20098 closed, assigned to nobody

[2017-01-19 19:59] nitzmahone commented on #20440
`notify` is not supported on the `include` directive, only on individual tasks.

[2017-01-19 19:59] #20440 closed, assigned to nobody

[2017-01-19 19:59] mattclay commented on #20424
@umago There is built-in support for `tox` in `ansible-test`. You may want to try running `ansible-test` with the options `--tox --python 2.7` instead.

[2017-01-19 20:02] jimi-c commented on #20224
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2017-01-19 20:06] #20424 closed, assigned to nobody

[2017-01-19 20:06] mattclay commented on #20424
@umago Thanks for reporting the issue and providing the fix.

[2017-01-19 20:11] tedder commented on #20469
resolved_by_pr 20059

[2017-01-19 20:14] #20469 closed, assigned to s-hertel

[2017-01-19 20:22] jimi-c commented on #20063
@mitsuhiko I don't think the problem is with resolve, I wrote it to just `super()` the call, which looking at the code uses `resolve_or_missing()` under the hood. The class I wrote just does some extra stuff with the result after that.

[2017-01-19 20:25] chinni505 commented on #15706
+1 intermittently getting this error.
ansible --version
ansible 2.2.0.0

[2017-01-19 20:31] danvaida opened #20479 "Lambda module: add support for env vars"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lambda module

##### ANSIBLE VERSION
n/a

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
The module should support setting environment variables for Lambda functions.
I think there's no arguing about the fact that this feature needs to be supported.
Here's an example of the implementation: https://github.com/pjodouin/ansibl

[2017-01-19 20:35] vhosakot commented on #20440
Thanks for the info @nitzmahone.  Would be nice if there is an error message thats says so :)

[2017-01-19 20:36] #20378 closed, assigned to nobody

[2017-01-19 20:42] aabdnn commented on #20346
@jimi-c I guess extending the reporting would be better, so it's clear that there wasn't actually a failure. The current report makes it look like some tasks failed, and is causing confusion to eyeballs and breaking scripts that look at the value of failed=

[2017-01-19 20:46] nitzmahone commented on #20440
Pull requests welcome. ;)

[2017-01-19 20:53] shabble opened #20480 "docker_service may not provide useful errors when tasks fail"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`docker_service`

##### ANSIBLE VERSION

[code]

and

[code]

##### CONFIGURATION
Nothing interesting
[code]

##### OS / ENVIRONMENT

Runner: OSX 10.11.6, python 2.7.12 (via macports)
Target: Debian 8

##### SUMMARY

When using the `docker_service` module, certain runtime or configuration errors are masked and not available in any of the ansib

[2017-01-19 20:56] jimi-c commented on #20063
@mitsuhiko disregard that, I see that you mean `resolve()` is just not called internally anymore.

[2017-01-19 20:56] bcoca commented on #20442
It was never intended to allow inclusion of templates in roles not in play, the search path is meant to find templates in the role's dependency path.

[2017-01-19 20:59] bcoca commented on #20184
@sirkubax this came first, but the other ticket had some comments on it already, so i chose to close this one

[2017-01-19 21:02] vhosakot commented on #20440
@nitzmahone sure, I'll read up on contributing to Ansible and try to submit a pull request to make Ansible throw an error for this case.

[2017-01-19 21:05] bcoca commented on #20432
I was thinking of a better solution via these 2 proposals

https://github.com/ansible/proposals/issues/35
https://github.com/ansible/proposals/issues/41

[2017-01-19 21:07] shabble commented on #20480
Note that I have a WIP fix at shabble/ansible/tree/bug/docker_service_stderr3 that might be PR'able if there is interest.

[2017-01-19 21:09] bcoca commented on #20440
in ansible.cfg
```error_on_missing_handler = True```

[2017-01-19 21:10] bcoca commented on #20440
to force a handler to execute when using tasks like `debug`, add  `changed_when: True`.

[2017-01-19 21:10] sbwoodside commented on #20331
@abadger Sorry if this is pedantic, but this is not documented anywhere that I can find. Even `ansible -h` only says:

      --version             show program's version number and exit

Also I don't find it in any online documentation. Should I file a separate issue to add documentation?

[2017-01-19 21:13] bcoca commented on #20440
The include issue is more complex, it has both the issue that it does not return changed and that it can be static or dynamic.

When static, includes do not observe most directives as they are not tasks (they are preprocessed) and any directives should be inherited by the included tasks.

[2017-01-19 21:38] ceving commented on #20413
I don't have a text-block surrounded by markers. I have just two lines.

[2017-01-19 21:40] abadger commented on #20331
Yes please, that will get labelled as a documentation issue and we can get
it resolved.  Thanks!

On Thu, Jan 19, 2017 at 1:10 PM, S Woodside <notifications@github.com>
wrote:

[2017-01-19 22:13] dgeo commented on #9196
I understand the problem, but I also think it could be better documented

In my case I read on this page: http://docs.ansible.com/ansible/file_module.html
[code]
Of course, as many, I was looking for a syntax example, my eyes caught `0664` and I though the above statement was for people with less unix-perms knowledge (now I know I shouldn't have)
I've used `mode: NNNN` some time before getting my

[2017-01-19 22:20] grizzlyanderson commented on #20458
Same problem, private docker v2 repository (Artifactory). The repository _does not_ require authentication & the problem is the same with or without a .docker/config.json on the host with or without and "auths" section.

Also, if I ssh to the host and run `docker-compose up `or `docker-compose pull` from the command line, the images are pulled correctly & the container starts.

Host OS: Ubuntu 14.

[2017-01-19 22:22] abadger commented on #20398
I think this is expected behaviour in general as passwords (when typed from a keyboard) would need to be treated as text.  All text in ansible is treated as coming from or going to utf8.

That said, it isn't good to change this in the middle of a stable release.  It probably snuck in along with a python3 fix.  I'll see if I can revert (or fix in a different way) for stable-2.2 (would be 2.2.2) but

[2017-01-19 22:26] nitzmahone commented on #20413
Regardless, I don't believe lineinfile was written to support multi-line. If you have to hack the existing file instead of just templating it, you might want to try two lineinfile tasks, or try to hack the existing one to do multi-line regex (have you tried an inline multiline signifier in `insertafter`?).

[2017-01-19 22:45] abadger commented on #20398
Here's the PR that introduced the change: https://github.com/ansible/ansible/pull/18699
And the issue that was being fixed: https://github.com/ansible/ansible/issues/18684

Going to have to tread lightly here as this was an intentional change to fix a bug.  Don't want to regress that while making this work for 2.2.2.

[2017-01-19 22:49] wyscan opened #20481 "gce_net error on firewall rule update: NoneType object is not iterable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce_net

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When updating a firewall rule in GCE using gce_net, rules without a src_range cause an error.

I believe the problem exists for other attributes of type list.

##### STEPS TO REPRODUCE
Update an existing GCE firewall rule that has an empt

[2017-01-19 22:59] klin938 commented on #20438
Does anyone have an idea? What I want to do is simple: if the yum task failed, just retry it. From a user perspective, I shouldn't even need to define the _until_ statement.

[2017-01-19 23:11] sirkubax commented on #20184
Sure, not being upset :)
Just looks like I'd not do the homework before submitting the issue. 'Procesing on #20264' in the 'closing comment' might be a more precisely commented.
Anyway, nice that the issues are processed. I'd try to help a little in my free time, until I'd get bored :) The 1500 issues backlog is huge :(

[2017-01-19 23:12] sirkubax commented on #20447
PR on the way :)

[2017-01-19 23:50] bcoca commented on #20252
related #20304

[2017-01-19 23:57] #18687 closed, assigned to nobody

[2017-01-19 23:57] #20228 closed, assigned to nobody

[2017-01-20 00:03] bcoca commented on #19867
fixed via 5a48c7ac7a9f8c493d2b809177b96e8c395369a4

[2017-01-20 00:03] #19867 closed, assigned to nobody

[2017-01-20 00:03] vhosakot commented on #20440
Thanks for the reply @bcoca. I was talking about just a syntax check at compile-time 😄.

Even without Ansible installed, I can write a small tokenizer to detect if the word `notify:` exists below the line that contains the word `include:` in a file and throw an error if so.

I am talking more about compile-time check, syntax validation, token/keyword parsing done by Ansible, Ansible's input valida

[2017-01-20 00:06] nitzmahone commented on #20448
Hmm, I'm not able to reproduce this against 2.2.0 (the relatively-pathed role runs fine from a playbook invoked inside it) - can you get it down to a super-tiny self-contained repro and upload somewhere?

[2017-01-20 00:07] #20449 closed, assigned to nobody

[2017-01-20 00:10] nitzmahone commented on #20453
Have you verified that wget is installed in your container? Seems like the most obvious source of failure since other Ansible tasks are working fine...

[2017-01-20 00:22] nitzmahone commented on #20460
cc @jimi-c

[2017-01-20 00:22] bcoca commented on #20448
note that this is not the ideal way of referencing roles, you normally put them in the roles path referenced in config or in roles/ relative to play. That said, this should still work, but again, not optimal.

[2017-01-20 00:24] nitzmahone commented on #20448
@bcoca: this specific case is invoking a role-specific "test" playbook inside the role

[2017-01-20 00:24] bcoca commented on #20440
the check should happen on preprocess, as you don't know until then if the include is dynamic or not. That said, the notify should be valid in both cases, I consider it a bug that it is not inherited and will be discussing in public meeting soon to get consensus.

[2017-01-20 00:27] vhosakot commented on #20440
Great, thanks a lot @bcoca! 😄

[2017-01-20 00:27] bcoca commented on #20448
i would just symlink the roles/ directory

[2017-01-20 00:46] MiLk commented on #20332
I didn't report it to systemd as I don't know if it's a bug or design choice.
I will spend more time on it later today or next week.

[2017-01-20 00:49] bcoca commented on #20332
please confirm that the PR above fixes the issue (I don't have access to cloud-init to test)

[2017-01-20 00:50] MiLk commented on #20332
Thank you! I will try it.

[2017-01-20 01:48] MiLk commented on #20332
@bcoca It doesn't seem to work.
I get:
[code]
Which is very strange.

[2017-01-20 02:06] MiLk commented on #20332
With full info:
[code]

[2017-01-20 02:21] theLastTrain commented on #20448
@nitzmahone Hi, I just load a tiny repo [here](https://github.com/theLastTrain/ansible-issue20448) on GitHub. The 2 roles `failban` and `fail2ban` lies in parallel in `roles/`.

I tried agin, and the result remains the same
for `fail2ban`
[code]
for failban
[code]

What's more, if I reference both of then in a top level play, everything seems fine
[code]

[2017-01-20 02:30] bcoca commented on #20332
well .. we can rule out the 'non translation of ~/'

[2017-01-20 02:31] bcoca commented on #20332
can you check that the directory exists? are we failing to create it?
/root/.ansible/tmp/ansible-tmp-1484877394.42-156541555057019/

[2017-01-20 02:38] MiLk commented on #20332
The `/root/.ansible/tmp/` folder contains only one cache file generated by my inventory script.
There is no `ansible-tmp-*` directory.

[2017-01-20 02:48] bcoca commented on #20332
on the remote machine?

[2017-01-20 02:50] MiLk commented on #20332
I've added an `os.listdir()` just after https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/__init__.py#L222

I now get:
[code]

The `DEBUG make_tmp_path` line show that only `ansible-local-3460iUeKpz` is created.

The machine is provisioning itself using the local connection plugin.

[2017-01-20 02:55] MiLk commented on #20332
If I run a sh script from systemd:
[code]

I get the following:
[code]

Which shows that the issue is not coming from python, but is related to systemd/dash.

[2017-01-20 02:57] MiLk commented on #20332
https://github.com/koalaman/shellcheck/issues/195

That might be the issue, as dash is the default shell on ubuntu.

[2017-01-20 03:15] bcoca commented on #20332
that is wrong, dash DOES interpret ~ .. its part of the POSIX standard, no clue what make has to do with this

[2017-01-20 03:15] MiLk commented on #20332
If I run 2.2.1 with the following config, it works:
[code]

[2017-01-20 03:16] bcoca commented on #20332
[code]

[2017-01-20 03:21] jimi-c commented on #20063
@mitsuhiko so it looks like in 2.9.x, local vars are no longer prefixed with `l_`? That's the cause of the problem - our custom AnsibleJ2Vars class was only updating an internal list when locals started with `l_`. This patch fixes the problem in my testing:
<pre>
diff --git a/lib/ansible/template/vars.py b/lib/ansible/template/vars.py
index 0e9b99e..fc6140c 100644
--- a/lib/ansible/template/vars.p

[2017-01-20 03:28] MiLk commented on #20332
You are right.
I'll try to confirm it's working with bash. And try to check why dash is not doing substitution when ran by systemd.

[2017-01-20 03:34] bcoca commented on #20332
I realized i was resolving too late, mkdir ~/ was happening before the copy, this should fix it at source

[2017-01-20 03:54] jimi-c commented on #20063
@mitsuhiko found the relevant commit which changed this: https://github.com/pallets/jinja/commit/1205e641ed9d1c4eb581b50ab3cc5313b9950773#diff-c1d46ddd4606981e74677b39601af358L585

[2017-01-20 04:12] ahawkins opened #20487 "Confusing behavior with json_query"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- `json_query` filter

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- N/A

##### SUMMARY

I have a JSON string like this:

[code]

I need to access all values of that JSON object. My first thought was to `{{ item | from_json | attr('id') }}` but that did not work. Replacing `attr('id')` with `json_query('id')` does. This opens a few

[2017-01-20 04:43] sbwoodside opened #20488 "Update documentation that --version displays library search path"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

ansible command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

This is filed based on a request from @abadger in #20331.

`ansible --version` prints out the library search path, but this is not documented.

##### STEPS TO REPRODUCE

Look at command documentation with `ansible -h`

Goo

[2017-01-20 04:43] sbwoodside commented on #20331
#20488

[2017-01-20 05:05] MiLk commented on #20332
See the comment on the PR, but it seems to be working.

[2017-01-20 05:15] chouseknecht commented on #20480
@shabble, I haven't tested your code, but it looks good to me. I would submit it as a PR.

[2017-01-20 05:54] PipaOzz opened #20489 "Problems with copy"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

scp_if_ssh = true
##### OS / ENVIRONMENT

Linux EL6
##### SUMMARY

I'm trying to copy a large file over SSH (500M) from one user to a different user.
Playbook command:
------------------------------
- hosts: rms-servers
  remote_user: oracle

  tasks:

  - name: Install Java JDK
    c

[2017-01-20 06:31] bargemb commented on #20297
I have tested with `ansible 2.2.1.0` and getting the same results

[2017-01-20 07:32] KroArtem commented on #20070
Re previous commit: @dagwieers  I don't mind snapshot functionality going to another module, just wish it works correctly. :)

This issue is still relevant, with the latest changes I get slightly different output in vSphere Client (now it says that reconfigure happened):
![createsnap3](https://cloud.githubusercontent.com/assets/1813101/22140162/b3daac8e-defb-11e6-9b4e-e84b13ab34a4.png)

[2017-01-20 07:37] mitsuhiko commented on #20063
@jimi-c just to be aware this was never (and still is not) a public interface. If there is an API missing I'm happy to add something but I can promise you that this will break again in the future as the situation exists.

[2017-01-20 08:01] davidfischer-ch opened #20491 "Module s3_bucket do not enable versioning"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module s3_bucket

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### SUMMARY
Setting s3_bucket versioning option to true do not enable versioning.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Go to AWS console and see versioning enabled.

##### ACTUAL RESULTS
Go to AWS console and

[2017-01-20 09:28] dizero8 commented on #9065
Was having a great time with Ansible until hitting this bug.

I had a perfect abstraction that would allow configuration of the same apps on a multi-tiered environment, and also on an all-in-one test environment - alas, I was wrong.

What seemed like one of the most powerful features of Ansible doesn't work like everyone would expect it to.

Please, lets get this fixed.

[2017-01-20 09:33] guenhter opened #20492 "Failed to import docker-py for docker_container module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`docker_container`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing changed

##### OS / ENVIRONMENT

Linux machine1 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) x86_64 GNU/Linux

pip list:
[code]

python --version
`Python 2.7.9`

docker info
[code]

##### SUMMARY
When module `docker_container` is used, it fails every t

[2017-01-20 09:39] dminca commented on #18977
@walbert947 was right, I had a typo in the `zone` variable, sorry for causing all this trouble :) , now I've fixed it and it's working:

[code]

[2017-01-20 09:43] casusbelli commented on #14335
Hi!
I'm also seeing this issue in CentOS 7.2 continuously in our CI systems. I'd estimate one in 50 runs hits this.
CentOS Linux release 7.2.1511 (Core), Ansible 2.1.0.0

[2017-01-20 09:58] tomekit commented on #20453
Thanks, it's indeed the problem. I've assumed that `wget` is always installed, so even didn't smell it could be potential issue. Right, so my issues is solved... but, don't you think that Ansible should tell more about the shell comand failing, the status code for the non-existent command is 127 (checked with echo $?), instead it tells: ` [Errno 2] No such file or directory`

[2017-01-20 10:09] sparunakian opened #20493 "include_role doesn't work from handlers"
Hi,

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing special

##### OS / ENVIRONMENT

Ansible running from ArchLinux, managing an OpenBSD machine, but the problem is with any managed machine.

##### SUMMARY

When the include_role module is used within an handler, the calling role fails, before knowing if the handler wil

[2017-01-20 10:40] dagwieers commented on #20070
@KroArtem If I have the time I am going to split off the snapshotting parts.

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1708

What I can tell you from simply looking at the code is that you cannot add `state: present` if you are using `snapshot_op:`. The code is very clear that when state is present, no snapshot operations are being performed.

[2017-01-20 10:40] candlerb opened #20494 ""KeyError: 'undefined variable: 0'" when using {% import %} and {% include %}"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- template expansion

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 16.04. ansible installed via pip.

[code]

##### SUMMARY

When one template *imports* another one, and then *includes* another template, it barfs with "KeyError: 'undefined variable: 0'"

##### STEPS TO REPRODUCE

[code]

##### EXPECTE

[2017-01-20 10:46] dammina opened #20496 "File name parsing issue while changing permission of a directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing special

##### OS / ENVIRONMENT
Running from macOS Sierra 10.12.2
OS that is being managed centOS 6.8

##### SUMMARY
Changing file permission of a directory and its content is failed due to file name parsing issue. The file path is _/opt/as2/As2MetricsService$_$tt__collectSta

[2017-01-20 12:04] candlerb opened #20497 "Reference to using multiple inventory files"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

At <http://docs.ansible.com/ansible/intro_inventory.html> it says:

But it's not "explained below" in the rest of the page.

I think perhaps it should link to <http://docs.ansible.com/ansible/intro_dynamic_inventory.html#us

[2017-01-20 12:06] KroArtem commented on #20070
@dagwieers it indeed works! I just moved those 2 lines just before the `state==present` check. Thanks a lot for your help!

Re looking at the source: it's a great advantage but it's not clear how to debug such a thing as Ansible.

I hope these changes can be pushed to the main repo then?

![createsnap4](https://cloud.githubusercontent.com/assets/1813101/22148900/d53d0ebe-df21-11e6-94af-4c5c9e4945b

[2017-01-20 12:08] dagwieers commented on #20070
I will do a PR ASAP.

[2017-01-20 12:21] jimi-c commented on #20063
@mitsuhiko I'm aware :) I think we'll just need to setup an additional test to pull the devel version of jinja2 and add more tests to try and catch these things prior to release.

[2017-01-20 12:29] dixhuit opened #20500 "known_hosts failing on subsequent runs "ssh-keygen failed to hash host""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
known_hosts

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
macOS (Mac OS X)

##### SUMMARY
Subsequent runs of known_hosts fail with "ssh-keygen failed to hash host". The same code works fine in Ansible 2.2 and lower.

##### STEPS TO REPRODUCE
Run the following twice in the same play:
[code]

Here's the failed Travis CI build that prompted

[2017-01-20 12:54] walbert947 commented on #18977
To be fair, Ansible should fail gracefully and with a helpful message if you supply the wrong zone (or no zone), so I'd still consider this a bug.

[2017-01-20 13:06] dimakievua commented on #20390
Hi,
Thank you for explanation. Missed this point in documentation!

[2017-01-20 13:17] #20063 closed, assigned to jimi-c

[2017-01-20 13:17] jimi-c commented on #20063
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2017-01-20 13:19] jimi-c commented on #20379
@sidewinder12s this does not appear to be related to #20098

[2017-01-20 13:21] walbert947 commented on #20448
I tried to reproduce this on a Ubuntu 14.04 host running Ansible 2.2.1.0, and a CentOS 6.8 host running Ansible 2.1.2.0, and both hosts were able to run both roles without any problems.

[code]

[code]

[2017-01-20 13:21] jctanner commented on #20487
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2017-01-20 13:21] #20487 closed, assigned to nobody

[2017-01-20 13:22] jctanner commented on #20488
@sbwoodside is this a docs change you would like to contribute?

[2017-01-20 13:25] jctanner commented on #20489
@PipaOzz copying the file to a temp location first is a design choice to avoid overwriting destination files until the transfer has completed. If the default temp dir does not have sufficient space, it can be configured for a different location.

http://docs.ansible.com/ansible/intro_configuration.html#remote-tmp

[2017-01-20 13:25] #20489 closed, assigned to nobody

[2017-01-20 13:29] jctanner commented on #20492
@guenhter It appears that the task is ssh'ing to 192.168.77.201 as the "deploy" user. Was the "pip list" output in the description gathered as that user on that host?

ssh deploy@192.168.77.201 'python -c "import docker-py"'

needs_info

[2017-01-20 13:32] jctanner commented on #20493
cc @bcoca

[2017-01-20 14:08] jctanner commented on #20496
[code]

[2017-01-20 14:12] jpiron commented on #20492
@guenhter
This is due to your docker-compose version.
The docker-py package has been renamed into docker in version 2.0 (https://github.com/docker/docker-py/releases/tag/2.0.0). And in this version, Docker.Client has been renamed into docker.APIClient.
Docker-compose 1.10+ now requires docker instead of docker-py. And due to his name the docker package is before the docker-py one in the PYTHONPATH

[2017-01-20 14:16] jctanner commented on #20497
@candlerb Is this something you could create a pullrequest for?

[2017-01-20 14:20] ashemedai opened #20502 "Unhandled unexpected exception when passing empty vault password to ansible-console"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
console

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Ansible console throws unexpected exception stacktrace on empty vault password.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Continue on without vault password. And either run the tasks or error out on not being able to dec

[2017-01-20 14:23] ashemedai commented on #20502
Looking at all uses of the ask_vault_passwords() method, only console.py does a hard array index reference in the form of `self.ask_vault_passwords()[0]`. The others all simply do `self.ask_vault_passwords()` prior to handing it over to `loader.set_vault_password()`.

[2017-01-20 14:30] ilpianista opened #20504 "win_firewall_rule doesn't work on non-English hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_firewall_rule

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Windows Server 2012

##### SUMMARY
When the rule already exists, win_firewall_rule fails to verify that isn't changed because of `netsh` output in English. My host is using German language and then `netsh` output is different.

##### STEPS TO REPRODUCE
Try to execute the fol

[2017-01-20 14:58] dagwieers opened #20505 "Select a reference Windows module for the documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

win_environment

##### ANSIBLE VERSION

v2.4

##### SUMMARY

As discussed on IRC, let's declare one module the reference module for Windows and use it in the documentation for new module authors.

The module should have all these features:
- must be small in business logic
- must be idempotent
- must support check-mode
- must include

[2017-01-20 14:58] dagwieers commented on #20505
@jhawkesworth @nitzmahone @dav1x @jctanner As discussed on IRC.

[2017-01-20 15:13] wyscan opened #20506 "gce_net error on firewall rule update: Unexpected response: ('ports')"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce_net

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When updating an existing firewall rule an error occurs if the allowed list includes a protocol without a port, e.g. icmp.

##### STEPS TO REPRODUCE
1. Use gce_net to attempt to update an existing firewall rule in a GCE network.
2. Includ

[2017-01-20 15:38] alexjrussell opened #20508 "Using set_fact with delegate_to, delegate_facts and with_items only sets the fact on the first host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Client release 7.3 (Maipo)

##### SUMMARY

In Ansible 2.2.1.0, if you use set_fact, delegate_to and delegate_facts to set facts on several hosts listed in with_items, only the first host in the list will have the fact set.  In all oth

[2017-01-20 15:49] sivel commented on #20494
I believe this may be a duplicate of https://github.com/ansible/ansible/issues/20063

I would recommend trying out the ansible devel release to see if that resolves your problem.

You may also try downgrading to jinja2<2.9 as 2.9 is known to be incompatible.

[2017-01-20 16:00] jhawkesworth commented on #20505
mention @ilpianista who also mentioned on IRC

some other (unsorted) thoughts

what to put for metadata?
link to jimic's presentation(s) on writing modules?
a note about | out-null so you don't put unintended objects into the output pipelines (therefore putting cruft into the generated json.
avoid feeding trailing slashes on strings into ConvertTo-Json 'cos it makes it fail
link to how to run exis

[2017-01-20 16:13] gundalow commented on #20505
Keep me in the loop, will help with the `developing_modules.html` rewrite that's going on.

[2017-01-20 16:22] jhawkesworth commented on #20505
more thoughts...

example of calling .net class
example of embedding c# code
need to support powershell 3 and above

[2017-01-20 16:28] lcostea opened #20512 "ConfigureRemotingForAnsible.ps1 fails when called from github with Invoke-Expression"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ConfigureRemotingForAnsible.ps1

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Windows Server 2012
Windows Server 2016

##### SUMMARY
Run this in a powershell console

[code]

The error is:

*New-EventLog : The argument is null or empty. Provide an argument that is not null or empty, and then try the command again.
At line:124 char:47

[2017-01-20 16:30] rhcarvalho opened #20513 "ModuleArgsParser doesn't recognize action plugins in tasks"
##### ISSUE TYPE
 - Bug Report
 - Or maybe this is a feature request, since the documentation around action plugins is scarce...

##### COMPONENT NAME

`parsing/mod_args.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

It is possible to write plays with custom actions that are implemented as modules in a role, but if the action is implemented as

[2017-01-20 16:37] dagwieers commented on #20512
Can you try to do:

[code]

That should work the same. Let me know, I will make a PR for this.

Thanks for reporting !

[2017-01-20 16:42] lcostea commented on #20512
Yes, this also worked

Thanks

[2017-01-20 17:03] jimi-c commented on #10498
Thanks for following up, closing now.

[2017-01-20 17:03] #10498 closed, assigned to nobody

[2017-01-20 17:11] jimi-c commented on #20460
@rmfitzpatrick that is an odd playbook - if that's exactly what you have and included_playbook.yml is in fact a playbook and not a list of tasks I would not have expected this to work under any version (and it should raise a parsing error).

[2017-01-20 17:12] jimi-c commented on #20460
This is what I get (and what I'd expect):
<pre>
[jamesc@jimi 20460]$ ansible-playbook -vv test.yml
Using /etc/ansible/ansible.cfg as config file
ERROR! 'debug' is not a valid attribute for a Play

The error appears to have been in '/home/jamesc/testing/20460/test.yml': line 5, column 3, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line appears to be:

- na

[2017-01-20 17:18] alustenberg opened #20520 "mysql_user fails parsing grant string for empty hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
database/mysql/mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
stock

##### OS / ENVIRONMENT
Host environment is debian running devel branch; managed OS is ubuntu 16.04.1, mysql 5.7 from percona

##### SUMMARY
when mysql users are defined without a host definition ('user'@'', equivalent to 'user'@'%'), the RE match fails when extra

[2017-01-20 17:24] dminca commented on #18977
Indeed @walbert947 , best practice would've been to alert when invalid data has been provided

[2017-01-20 17:30] rmfitzpatrick commented on #20460
@jimi-c, someone suggested offline that an included role is also a "playbook" so I edited my report.  In this case `included_playbook.yml` is a single debug task.

At any rate the issue appears to have been fixed since I opened it (maybe https://github.com/ansible/ansible/commit/9d549c34981694e9fb62d3aa37392a439b5ae487).  Closing.

[2017-01-20 17:30] #20460 closed, assigned to jimi-c

[2017-01-20 17:33] lattwood opened #20521 "Warning printed when using docker_container on devel branch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins core AND/OR docker_container module

##### ANSIBLE VERSION
SHA: e3c95615b2117ab4a5ebb43f1c96272bc252dbb6

##### SUMMARY
Getting this in the playbook run output when using `docker_container`:
[code]
Looks like it was introduced by this comment by @bcoca https://github.com/ansible/ansible/commit/1880027da19d223819d83dd84325edc795783648

##

[2017-01-20 17:50] JimFicarra commented on #20433
Submitted [PR #20435](https://github.com/ansible/ansible/pull/20435).  This includes some refactoring to make the module easier to maintain for different cmdlets across Windows 2008/2012 and beyond, should it be needed.

[2017-01-20 18:15] idcmp commented on #13794
For others running into this, another viable work around:

{code}
shell: echo {{ binary_secret_base64_encoded }} | base64 -d >/etc/binary_secret
{code}

[2017-01-20 18:17] #20502 closed, assigned to alikins

[2017-01-20 18:20] ticklemynausea commented on #14358
+1

[2017-01-20 18:23] s-hertel commented on #20520
Can you PR please? Thanks!

[2017-01-20 18:33] bcoca commented on #20382
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

First, `when` conditions on includes only apply to it IF the include is dynamic (add `static: no` to make  it so). As documented here h

[2017-01-20 18:33] #20382 closed, assigned to nobody

[2017-01-20 18:37] candlerb commented on #20494
Doesn't sound like the same thing to me ("nested templates inside of loops defined in a parent template do not receive the local scope").  I'm not doing any loops here.

In a fresh 16.04 environment:

[code]

Set up the same test, it fails in the same way

[code]

OK, that works.

So, perhaps should ansible declare this python version dependency explicitly, until the issue is sorted?

[2017-01-20 18:39] lattwood commented on #20521
Dug in, here's some more (potential) details, I think.

It's because of the name of the return fact- `ansible_docker_container`: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_container.py#L1675

I think the only way it could be added to remove_keys is via this regex: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/__init__.py#L700

[2017-01-20 18:39] bcoca commented on #20521
docker container is returning keys that conflict with the docker connection plugin, I need to check and see if we need an exception or to rename the keys

[2017-01-20 18:42] bcoca commented on #20397
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

When ALL hosts in a play fail that is considered a fatal error, if only part of the hosts of the play failed it should continue. Your e

[2017-01-20 18:42] #20397 closed, assigned to nobody

[2017-01-20 18:46] Jmainguy commented on #20520
Yeah a PR would be great. Will need to test it against RHEL 6/7, Ubuntu, percona and mariadb and see if its present in all those to understand the scope of this. Do we want to support a blank host= ?

[2017-01-20 18:53] alustenberg commented on #20520
PR20523 created. AFAIK, blank hosts are supported (treated the same as '%' hosts) across all mentioned forks and versions.

[2017-01-20 18:56] lattwood commented on #20521
I can confirm the above Quickfix solved the issue.

[2017-01-20 18:56] Jmainguy commented on #20520
Ty ty, I will try and reproduce this on those versions, and test the PR as a fix, and then feed back on both tickets. Thank you again for opening this and the PR

[2017-01-20 19:07] sivel commented on #20494
We had actually pinned jinja2, and found that on a number of systems, that jinja2<2.9 is not available via package managers, so it has been unpinned for now.

cc @jimi-c

[2017-01-20 19:14] bcoca commented on #18977
module ending with traceback is always a bug, at worst it should be a nice error message and will show the traceback when using -vvv

[2017-01-20 19:53] sbwoodside commented on #20488
No, sorry I'm swamped.

[2017-01-20 20:06] havenchyk commented on #19600
with `2.2.1` the same error

[2017-01-20 20:09] bcoca commented on #20493
I'm not sure this 'should' work

[2017-01-20 20:26] bcoca commented on #20453
you used command, not shell, the errors are different as the executions are different. shell runs a shell and interprets a string, command executes a command directly.

[2017-01-20 21:00] olgalik commented on #20345
I have same problem:

[code]

What information do you need?

[2017-01-20 21:00] jimi-c commented on #20460
Excellent, I thought the recent fix to PlayIterator might have corrected this, just wanted to make sure I had the correct reproducer. Thanks for following up!

[2017-01-20 21:06] lnunno commented on #10374
Any workarounds for this when using a role from ansible-galaxy? Can't exactly do `../` here.

[2017-01-20 22:46] albertomurillo opened #20529 "tempalte module failling to apply 'to_nice_yaml' filter on a list variable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Cannot apply a `to_nice_yaml` filter to a list of ip address. Note that this same playbook works well on ansible 2.2.0.0

##### STEPS TO REPRODUCE
template.j2
[code]

test.yaml
[code]

# ansible-playbook test.yaml

##### EXPECTED RES

[2017-01-20 22:51] dewyze opened #20530 "ansible-playbook does not require --ask-vault-pass for single vaulted json file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I have no unique configuration

##### OS / ENVIRONMENT

OS X El Capitan 10.11.6

##### SUMMARY

If the first/only file I encrypt via ansible-vault is a json file (the json credentails downloaded from GCE for a service account), then ansible-playbook will not prompt for a vault

[2017-01-20 22:51] sivel commented on #20529
This is a duplicate of the already resolved https://github.com/ansible/ansible/issues/20253

[2017-01-20 22:51] #20529 closed, assigned to nobody

[2017-01-20 23:54] SesquipedalianDefenestrator opened #20531 "get_url should check for URL existence in check mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
get_url plugin/library

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Check mode for get_url should make sure the URL to fetch exists

##### STEPS TO REPRODUCE

[code]
Ran get_url using variables to construct a URL that did not exist for some hosts

##### EXPECTED RESULTS

Expected check mode

[2017-01-21 02:49] BondAnthony commented on #20179
@jctanner can this be closed?

[2017-01-21 03:08] jctanner commented on #20179
resolved_by_pr https://github.com/ansible/ansible/pull/20499

[2017-01-21 03:13] #20179 closed, assigned to nobody

[2017-01-21 15:15] dewyze commented on #20530
I can also add that when I added an encrypted `vault.yml` that was referenced by the `vars.yml`, I was required to enter a password via `--ask-vault-pass`. However, even with that, it failed until I ran it once successfully without the file being encrypted.

[code]

[2017-01-21 17:32] rjlohman commented on #4265
+1 on the PDF version. I have a 1:15 train ride, and having access to an off-line module reference would be huge.

That said, I've tried building the pages, both HTML and PDF. I've completed each successfully, but there does not seem to be any documentation on the individual modules. Perhaps I've missed something?

[2017-01-21 18:01] manics opened #20537 "ansible-galaxy should download dependencies in meta/main.yml"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
Future

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Local roles may depend on galaxy roles defined in `meta/main.yml`. `ansible-galaxy install -r` does not support this file format, although the value of the `dependencies` key appears to match that in a `requirements.yml` file

#####

[2017-01-21 21:36] evgeni opened #20542 "redhat_subscription: org_id is required when activationkey is used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
redhat_subscription

##### ANSIBLE VERSION
[code]

##### SUMMARY
Currently it is possible to call the module with an AK but without org_id, which will lead to:
[code]

the docs should be updated to reflect that, and the ak param needs a proper dependency

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-01-21 22:37] mrkurt opened #20543 "docker_container succeeds with empty result"
(Copying from https://github.com/ansible/ansible-modules-core/issues/5558 since I don't see it in this repo)

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### SUMMARY
The single ansible_docker_container key is being scrubbed from the ansible_facts result value, due to the fix for CVE-2016-3096 from issue ansible/ansible#15925. This is du

[2017-01-21 22:54] pabelanger commented on #20392
Same issue here:

[code]

[2017-01-22 02:54] seljuck commented on #20316
My initial test was from a computer where I installed Ansible with apt-get, and then re-installed with pip. I made an assumption that, that might be the problem. So I created a fresh VM to try this from. When installing Ansible via pip ONLY. I no longer get the above error message.

But I do get the proxmoxer library not installed error. I do have it installed, and when I double check with pip it

[2017-01-22 07:07] marlox-ouda opened #20545 "Resolving {{ vars[VAR] }} when vars[VAR] contains {{ other_var }}"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
(depend the point of view)

##### COMPONENT NAME
- Template/Vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Access to {{ var[VAR] }} return var[VAR] without resolution if var[VAR] contains also variable like {{ other_var }}.

##### STEPS TO REPRODUCE
In _role/defaults/main.yml_
[code]

In _role/ta

[2017-01-22 07:21] marlox-ouda commented on #20545
It will be also convenient to overload ``dict.get(obj, item, default)`` function.
For example :
[code]

[2017-01-22 09:09] akloeber opened #20546 ".npm cache gets populated at /root with ownership of sudo user"
I'm reissueing this duplicate of https://github.com/ansible/ansible-modules-extras/issues/3442 here as repository `ansible-modules-extras` had been locked.

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
npm module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
If a module is installed globally the ownership of npm's cache (the `.npm` fol

[2017-01-22 10:15] webarchitect609 opened #20547 "Broken 'Edit on GitHub' link at http://docs.ansible.com/ansible/intro_adhoc.html"
##### ISSUE TYPE
 - Documentation Report

##### SUMMARY
'Edit on GitHub' http://joxi.ru/l2Z6VxFwlbVL2J?d=1 link leads to 404 error page http://joxi.ru/eAO14Wfxv1Gdmo?d=1

##### STEPS TO REPRODUCE
1 Go to http://docs.ansible.com/ansible/intro_adhoc.html
2 Press 'Edit on GitHub' at top right corner.
3 See 404 error page.

##### EXPECTED RESULTS
Some kind of valid git hub page for editing related pag

[2017-01-22 11:41] siniG commented on #18549
Hi,

We ran into the same problem when running with Centos 6.5 and 6.8

[2017-01-22 14:22] kiview commented on #19081
We are using the `docker_service` module with a custom registry. Is your host logged into the registry?

[2017-01-22 15:17] leth commented on #19081
I think so, I found a workaround which may explain the bug a bit more.
IIRC if the image was already pulled on the target machine, before task was run, then everything would work fine. If the image had never been pulled before, then it didn't work.

[2017-01-22 16:12] mykaul opened #20549 "oVirt: allow creating a host with nested virtualization enabled"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
oVirt host module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Allow creating a host with 'nested virtualization' checkbox enabled, via oVirt's Ansible modules.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-01-22 16:12] mykaul commented on #20549
@machacekondra - this was requested by QE.

[2017-01-22 16:19] kiview commented on #19081
TBH I'm not entirely sure if we might have pulled the image manually before. And we use `docker_service` with `pull: true`.

[2017-01-22 17:38] abcfy2 commented on #13485
I have the same issue in `ansible 2.2.1.0`. Handlers not working within `include`.

cat roles/dgate-deploy/tasks/main.yml:
[code]

cat roles/dgate-deploy/handlers/main.yml:
[code]

cat handlers/restart_service.yml:
[code]

[code]

Without any handlers trigger.

[2017-01-22 17:48] sivel commented on #20547
This is a duplicate of https://github.com/ansible/ansible/issues/20474

[2017-01-22 17:48] #20547 closed, assigned to nobody

[2017-01-22 20:41] Hubbitus commented on #8603
And so what the conclusion? As {{ some_var_name_here }} is just ansible notation and its semantic may be changed to handle "deffer resolving" do you plan implement something similar (like closure binding for example in groovy)? Issue still closed.

[2017-01-22 20:57] Hubbitus opened #20551 "filesystem does not support multiple devices (on btrfs f.e.) #3338"
Moved from: https://github.com/ansible/ansible-modules-extras/issues/3338

##### ISSUE TYPE
- Feature Idea
 - ~~Bug Report~~

##### COMPONENT NAME
`filesystem` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Does not have sence

##### OS / ENVIRONMENT
Fedora repos

##### SUMMARY

Task:
[code]
work as expected, but:
[code]
Produce error:
[code]

##### EXPECTED RESULTS
`Btrfs` (and some ot

[2017-01-22 21:00] Hubbitus commented on #16612
I think it related to https://github.com/ansible/ansible-modules-core/issues/2432#issuecomment-265523899

[2017-01-22 21:02] Hubbitus commented on #13136
It is a time to open that issue as https://github.com/ansible/ansible-modules-core/issues/2511 closed now??

[2017-01-22 23:31] JimFicarra commented on #15737
I can duplicate this issue on-demand when running the win_acl.ps1 as after it's written to the temp folder on the remote device when using ANSIBLE_KEEP_REMOTE_FILES on the control server.  I cannot duplicate this, however, when running the playbook from the control server.  I believe this is due to some inherent way that Windows handles extraction/writing of the the security descriptor when gettin

[2017-01-22 23:51] JimFicarra opened #20553 "win_acl - Can't set perms on "C:\Program Files" due to ALL APPLICATION PACKAGES; Set-ACL can't set owner"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_acl
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

pipelining=True
host_key_checking = False
timeout = 30

##### OS / ENVIRONMENT

##### SUMMARY

On Windows 2012 only, using the win_acl module on directories where the group **APPLICATION PACKAGE AUTHORITY\ALL APPLICATION PACKAGES** is already set fails with error"

The quick list of d

[2017-01-22 23:53] dagwieers commented on #20056
Here is the previous PR ansible/ansible-modules-extras#2552
The original author @perzizzle closed it the same day he offered the PR. Not sure why.

I don't mind merging this if this works correctly (and we could clean up the module in the same effort).

@DepthDeluxe Can you test the above module ?

[2017-01-23 00:08] nirik commented on #13485
Do you have "handler_includes_static = True" in your ansible.cfg?

[2017-01-23 02:11] abcfy2 commented on #13485
@nirik Thanks, but I can't find this config in [configuration](http://docs.ansible.com/ansible/intro_configuration.html#getting-the-latest-configuration).

But it's still not working.

[2017-01-23 02:27] benjifisher opened #20554 "Git ability to clean untracked and ignored files"
_From @raags on December 9, 2015 10:49_

Git module should have an option to run `git clean -f` to remove untracked files. This is useful to say build a project from a pristine repository. Currently all untracked files remain in the directory.

I think there should be two options :
- `clean_untracked` - remove files and directories
- `clean_ignored` - remove ignored flies

If this sounds good, I c

[2017-01-23 02:27] benjifisher commented on #20554
_From @shamdsc on January 20, 2016 11:14_

I second this.  I'm running `command: git clean -fd` at the moment before running `git: repo=...` so this would make it much neater.

[2017-01-23 02:27] benjifisher commented on #20554
_From @deyvsh on January 20, 2016 16:47_

Yep, I'd like to see this too and like the proposed implementation - thanks @raags.

[2017-01-23 02:27] benjifisher commented on #20554
_From @huiyiqun on February 2, 2016 10:7_

This is very useful for me.

[2017-01-23 02:27] benjifisher commented on #20554
_From @raags on April 20, 2016 17:41_

I have implemented this feature in PR with a better interface : https://github.com/ansible/ansible-modules-core/pull/2980 needs review

[2017-01-23 02:27] benjifisher commented on #20554
_From @ansibot on August 1, 2016 0:4_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-01-23 02:27] benjifisher commented on #20554
_From @ansibot on September 9, 2016 19:57_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-23 02:27] benjifisher commented on #20554
_From @ansibot on October 6, 2016 15:43_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-23 02:27] benjifisher commented on #20554
_From @Kevinleaf on October 6, 2016 21:34_

+1 for me

[2017-01-23 02:27] benjifisher commented on #20554
_From @ansibot on October 22, 2016 9:7_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-23 02:27] benjifisher commented on #20554
_From @ansibot on December 7, 2016 18:14_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-01-23 03:47] JimFicarra commented on #15737
Submitted [Pull Request #20555 ](https://github.com/ansible/ansible/pull/20555) which includes a fix for this.

[2017-01-23 04:38] theLastTrain commented on #20448
I think I figured out how to reproduce this.

I install Ansible 2.2.0 on a **clean** Centos 6.8 machine, then clone the [repo](https://github.com/theLastTrain/ansible-issue20448) I uploaded.
Till now, everything seems fine:
[code]
Then run role fail2ban:
[code]

And things start getting weird:
[code]

I tried installing `libselinux-python` and reboots, and neither will help.
But role failban still

[2017-01-23 05:00] ak5 opened #20556 "blockinfile with_items in path doesn't work as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu xenial 16.04 64bit

##### SUMMARY

blockinfile with path: "{{ item }}" and with_items: does not work, however if I use the "dest" alias for "path" instead, it works.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[c

[2017-01-23 05:14] ak5 commented on #20556
after rereading docs, this isn't a bug... sry

[2017-01-23 05:14] #20556 closed, assigned to nobody

[2017-01-23 05:16] seljuck commented on #20316
@helldorado
Another update:

I've since confirmed that proxmoxer must be installed on the proxmox server. As per
http://docs.ansible.com/ansible/dev_guide/developing_modules.html#debugging-ansiblemodule-based-modules

The ansible directory contains code from ansible.module_utils that is used by the module. Ansible includes files for any :module:`ansible.module_utils imports in the module but not n

[2017-01-23 06:18] theLastTrain commented on #20448
Moreover, if libselinux-python is installed in advance, everything goes fine.
I assume that the issue is caused by a calling to core module `copy` without libselinux-python ?

[2017-01-23 07:55] abcfy2 commented on #13485
Sorry, it's my fault. I find the reason: https://github.com/ansible/ansible/issues/6094

`notify` does not work for `include`. So I have to add `notify` within `include`.

[2017-01-23 07:56] helldorado commented on #20316
@seljuck

`I've since confirmed that proxmoxer must be installed on the proxmox server`
 No, the proxmoxer and request python modules are not necessary on Proxmox Server.

` but if your module includes requests then you’ll have to make sure that the python requests library is installed on the system before running the module`
Yes, but it is probably not to the module to install it, it checks the e

[2017-01-23 08:23] guenhter commented on #20492
@jctanner
The pip list output was from that host. See some more commands below:

`ssh deploy@192.168.77.201 'python --version'
`--> Python 2.7.9`

`ssh deploy@192.168.77.201 'python -c "import docker-py"'`
[code]
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section)

[2017-01-23 08:25] dwdraju commented on #20345
Its working now, don't know why it didn't earlier. Never Mind.

[2017-01-23 08:42] guenhter commented on #20492
@jpiron
I tried to downgrade `docker-compse` --> same error
Also uninstallation of it didn't help.

[2017-01-23 09:11] jhawkesworth commented on #20342
Hello, I wrote the comment below days ago but it seems it didn't get posted to github.  Sorry - probably because of dodgy network connection on the train.

@drowzy - great news, thanks for testing.

@deekayen - I'd forgotten this module wants a pipe separated list - I imagine it will work if as I described if you are only setting 1 attribute pair.  With my changes you will need to use the enumerat

[2017-01-23 09:11] rhcarvalho opened #20557 "Documentation on how to develop action plugins"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Action plugins.

##### ANSIBLE VERSION

All versions.

##### SUMMARY

There seem to be no official documentation on how to develop action plugins.
They are briefly mentioned in http://docs.ansible.com/ansible/dev_guide/developing_plugins.html, without any specific information.

##### EXPECTED RESULTS

Plugin development, testing, deb

[2017-01-23 09:14] jpiron commented on #20492
docker-py is just the name of the project. It installs a python package named docker. So you should run:
[code]
Downgrading docker-compose won't remove the docker package from the docker project which is installed on your server according to your pip output.
The following should fix your issue:
[code]

[2017-01-23 09:26] kamalsaurabh commented on #20400
I got the error on 2.2.0.0 as well.
temporary workaround I am using , use {#.Names#} instead of {{.Names}}

[2017-01-23 09:44] guenhter commented on #20492
@jpiron
This works perfectly fine. Thanks!

But IMO this is just a workaround to get things keep running.
Nevertheless should this be fixed to avoid downgrading docker-compose.

[2017-01-23 09:56] jmcvetta commented on #7251
Quick answer, if you want to use SSH agent forwarding, put this in your `ansible.cfg` file:

[code]

More reading:  https://groups.google.com/forum/#!topic/ansible-project/Q44ykJkl3c0

[2017-01-23 11:47] akaspin opened #20560 "Result with "template-like" output is broken."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### SUMMARY

I'm using "uri" module to register kapacitor tasks. So kapacitor tick files contains go template statements in double curly braces. Then I register result and analyse HTTP code. After upgrade result analysing is broken:

[code]

[2017-01-23 12:32] ceving commented on #20102
Same problem here.

[2017-01-23 13:54] hpoettker opened #20563 "Typo in _accelerate.py lets ssh daemon crash instantaniously"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/utilities/helper/_accelerate.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 6.3 (Santiago)

##### SUMMARY
Line 182 of _accelerate.py contains the code
[code]
with the letter O instead of the digit 0. Thus, the daemon crashes by throwing the correspo

[2017-01-23 16:02] hobgoblinsmaster commented on #20508
In fact, delegated_facts seams not to work at all with version 2.2.1.0 (at list the way descrubed in [Delegation, Rolling Updates, and Local Actions](https://docs.ansible.com/ansible/playbooks_delegation.html#delegated-facts).

[code]

Config file:
[code]

playbook:
[code]

Result with version 2.2.0.0:
[code]

Result with 2.2.1.0:
[code]

[2017-01-23 16:05] bcoca commented on #6109
The current 2nd example seems to cover all this, so closing this ticket, if someone has a clearer example, please submit a PR.

[2017-01-23 16:05] #6109 closed, assigned to nobody

[2017-01-23 16:20] bcoca commented on #8161
closing as there are  workarounds and we don't want to remove 'type discovery' from ini inventory.

[2017-01-23 16:20] #8161 closed, assigned to nobody

[2017-01-23 16:21] bcoca commented on #6545
this is something we can fix when implementing https://github.com/ansible/proposals/issues/41, as of now both the inventory base class and each type of inventory source implements their own logic, it requires a major refactor to fix this (which the proposal already has)

[2017-01-23 16:29] bcoca commented on #8519
I'm going to close this ticket as too many people depend on the formats and I don't believe we can change them at this point.

[2017-01-23 16:29] #8519 closed, assigned to nobody

[2017-01-23 16:40] bcoca commented on #9332
fixed via #18643, which adds a fallback method

[2017-01-23 16:40] #9332 closed, assigned to nobody

[2017-01-23 16:48] alikins commented on #20530
Attempted to setup a repro for this without using the gce module at https://github.com/alikins/ansible-bug-repro/tree/master/vault_enc_json_20530/

I get 'ERROR! Decryption failed' errors without --ask-vault-pass

When I try to reproduce without ask-vault-pass (ala the 'runme.sh' there), I get:

[code]

running with --ask-vault-pass ('runme-ask-vault-pass.sh') I get:

[code]

[2017-01-23 16:50] alikins commented on #20530
Was this working before 2.2.1?

[2017-01-23 17:02] aperigault commented on #16025
Since update from 2.1.2 to 2.2.1 bug is come back and my ugly fix doesn't work.
Anybody can help me to debug it ?

[2017-01-23 17:04] bcoca commented on #9753
since both versions are not supported and we have other tickets about performance on the current version, i'm going to close this

[2017-01-23 17:04] #9753 closed, assigned to nobody

[2017-01-23 17:06] bcoca commented on #9837
The docs were wrong, so they were 'fixed', the feature was not intended nor existed afaik.
As such, I'm going to close this ticket.

[2017-01-23 17:06] #9837 closed, assigned to nobody

[2017-01-23 17:09] bcoca commented on #9846
The man page has had this for a while now, fixed via 46935318

[2017-01-23 17:09] #9846 closed, assigned to nobody

[2017-01-23 17:11] bcoca commented on #9852
Aside from the above workaround, using a template file instead of copy would also bypass the 'type discovery', so closing this issue as there is no good way to avoid this with copy/content, it really should not be used for these cases.

[2017-01-23 17:11] #9852 closed, assigned to nobody

[2017-01-23 17:16] skyscooby opened #20568 "Regression in Ansible 2.2 using raw / endraw jinja tags and GO templates."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell module with {% raw %} tags

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A (CentOS 7.2 shouldn't be platform specific)

##### SUMMARY

This is quite meta .. but I will try and explain.

We use the ansible shell command to run some commands against docker hosts which uses dockers --format feature that f

[2017-01-23 17:18] bcoca commented on #9964
So the error does appear, but can be 'obscured' when using control master as the connection is persistent and the key is not 're checked'.  I'm closing this issue as this is a known behaviour of ssh.

[2017-01-23 17:18] #9964 closed, assigned to nobody

[2017-01-23 17:30] hanej opened #20569 "sysctl errors on comments"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sysctl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat 6 and 7

##### SUMMARY

When Ansible is reading sysctl files it errors when encountering a comment.

##### STEPS TO REPRODUCE

**Variables**
[code]

**Tasks**
[code]

##### EXPECTED RESULTS

The comment header would be applied to the top of the file and

[2017-01-23 17:32] alikins commented on #20560
For easier reading, I'm including a version of the output from the report that has had \n's unescaped and a little untested formatting here.

[code]

[2017-01-23 17:35] alikins commented on #20560
Whats the playbook data that invokes this task look like?

[2017-01-23 17:37] bcoca commented on #9556
copy now handles transparent vault decryption, so you can have a certificate file decrypted on the fly.

The content option was never meant do handle complex data, either the above option or template should be used instead. So I'm closing this issue as existing alternate paths are actually suited to handle this use case.

[2017-01-23 17:37] #9556 closed, assigned to alikins

[2017-01-23 17:41] bcoca commented on #9966
These now give a proper error instead of the misleading generic:

[code]

So I'm going to go ahead and close the issue as we won't be autoupgrading the target pythons.

[2017-01-23 17:41] #9966 closed, assigned to nobody

[2017-01-23 17:44] bcoca commented on #10093
closing for lack of feedback

[2017-01-23 17:44] #10093 closed, assigned to nobody

[2017-01-23 17:47] bcoca commented on #10152
I'm going to close this as I'm quoted above 'the validate option is for simple checks and not meant to work with everything.

I recommend using a task with block/rescue to revert the changes instead.

[2017-01-23 17:47] #10152 closed, assigned to nobody

[2017-01-23 17:50] bcoca commented on #14992
this is a security measure to prevent 'relative pathing' exploits. Jinja2 templates are only allowed to include other tempaltes in the path or subdirectories of it. The path is defined as relative to the template + associated templates/ directories of the roles and play.

[2017-01-23 17:50] #14992 closed, assigned to nobody

[2017-01-23 17:51] BenKennish commented on #19820
+1  - the mount module should optionally not touch fstab at all

[2017-01-23 17:53] bcoca commented on #17342
Since this is an incompatibility inherit to the ini format and we have a workaround in the YAML format, I'm going to close this issue.

More examples of using the YAML hosts file will be added to the docs.

[2017-01-23 17:53] #17342 closed, assigned to nobody

[2017-01-23 17:54] jctanner commented on #19460
add_label affects_2.1
remove_label module

[2017-01-23 17:59] bcoca commented on #10234
closing in favor of the more complete #16973

[2017-01-23 17:59] #10234 closed, assigned to nobody

[2017-01-23 18:01] #15282 closed, assigned to nobody

[2017-01-23 18:01] bcoca commented on #10862
closing in favor of #16973

[2017-01-23 18:01] #10862 closed, assigned to nobody

[2017-01-23 18:03] bcoca commented on #16973
This requires a major refactor on how inventory works (currently ini only sees 'self'), such a refactor will happen on approval of this proposal, this feature can be kept in mind for it https://github.com/ansible/proposals/issues/41

[2017-01-23 18:03] bcoca commented on #12252
This requires a major refactor on how inventory works (currently ini only sees 'self'), such a refactor will happen on approval of this proposal, this feature can be kept in mind for it https://github.com/ansible/proposals/issues/41

[2017-01-23 18:05] bcoca commented on #10233
Closing this issue as there is no way for us to fix this in code, it is a consequence of the underlying technologies used (python, jinja2). As several answers post, you cannot use naked names with . in them, use the ['quoted.name'] interface instead.

[2017-01-23 18:05] #10233 closed, assigned to nobody

[2017-01-23 18:08] bcoca commented on #10282
we can reconsider this once this proposal is started https://github.com/ansible/proposals/issues/41

[2017-01-23 18:11] bcoca commented on #10412
closing this in favor of the launchd module, we are not going to add the implementation inside the existing service module.

[2017-01-23 18:11] #10412 closed, assigned to nobody

[2017-01-23 18:13] bcoca commented on #10344
ansible can now use a vaulted inventory file, so I'm going to close this ticket.

[2017-01-23 18:13] #10344 closed, assigned to nobody

[2017-01-23 18:31] jctanner commented on #19460
+label module

[2017-01-23 18:43] bcoca commented on #10445
please confirm that the above PR fixes this issue

[2017-01-23 18:47] bcoca commented on #6309
We've updated latest devel to try several ways of pushing files, @AdamBark  can  you test making sure you have:
[code]

[2017-01-23 18:54] jctanner commented on #19460
+label c:galaxy/

[2017-01-23 18:58] bcoca commented on #10480
cc @emonty @Shrews

[2017-01-23 19:03] bcoca commented on #10506
So we expose hostvars as a way to access variables, other constructs are internal and should not be used as they can change at any time, hence the lack of documentation.

[2017-01-23 19:03] #10506 closed, assigned to nobody

[2017-01-23 19:04] bcoca commented on #10510
This is currently the case (has been for most of 2.x)  but it is considered a bug. I'm closing this issue as we want to support clear errors for the user when the input is incorrect.

[2017-01-23 19:04] #10510 closed, assigned to nobody

[2017-01-23 19:06] #10541 closed, assigned to nobody

[2017-01-23 19:10] ajaybhatnagar opened #20572 "Template command fails during automatic configuration on local node only"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
2.2.1.0

##### CONFIGURATION
Default file  /etc/ansible/ansible.cfg with ansible

##### OS / ENVIRONMENT
Ubuntu 16.04 - 4.4.0-57-generic

##### SUMMARY
Template command works correctly if executed from controller node or executed on the node shell but fails when executed during boot process with all playbook on th

[2017-01-23 19:13] smalenfant opened #20573 "influxdb_retention_policy: Setting default doesn't alter retention policy"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
influxdb_retention_policy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Centos 7.2

##### SUMMARY
There is a default policy called "autogen" created as default, but when using a playbook to change the default using the influxdb_retention_policy role, the default stays on

[2017-01-23 19:13] bcoca commented on #10495
The current error seems correct, specially considering we allow for dynamic includes now and they could take different paths depending on current execution.

[2017-01-23 19:13] #10495 closed, assigned to nobody

[2017-01-23 19:16] bcoca commented on #10655
These are subject to change by the package maintainers downstream, we reflect the default/expected locations.

[2017-01-23 19:16] #10655 closed, assigned to nobody

[2017-01-23 19:16] bcoca commented on #10745
this is not a shell issue as much as a YAML vs k=v format issue, which is discussed in the docs.

[2017-01-23 19:16] #10745 closed, assigned to nobody

[2017-01-23 19:23] abadger commented on #10464
There's a variety of workarounds for this including the ones posted in comments above and using the extra space at the end but running it through jinja2's trim filter:
[code]

However, the supported way to do this in Ansible-2.x is to use yaml dicts:
[code]

k=v parsing has cornercases like this that will always make it inferior to yaml dicts when there is a need for escaping or complex quoting.

[2017-01-23 19:23] #10464 closed, assigned to nobody

[2017-01-23 19:25] bcoca commented on #11048
Since there has not been much traction with this, I'm going to close, feel free to submit a PR if you ever get around to creating a list.

[2017-01-23 19:25] #11048 closed, assigned to nobody

[2017-01-23 19:26] alikins commented on #20438
Could you provide the 'ansible-playbook -vvv' output from when this fails?

[2017-01-23 19:27] bcoca commented on #11095
this has been fixed in 2.2, it is now more 'intelligent' and defaults to vars/templates or files depending on the task at hand. You can still control the exact paths searched via the `paths` option.

[2017-01-23 19:27] #11095 closed, assigned to nobody

[2017-01-23 19:28] abadger commented on #18331
If you use a yaml dict, this should work.  Your current example uses a yaml multi-line string.  Instead write it like this:
[code]

Here's what I just wrote in #10464 which explains a little more about this and a cornercase with yaml double quotes vs single quotes:

There's a variety of workarounds for this including the ones posted in comments above and using the extra space at the end but runnin

[2017-01-23 19:28] #18331 closed, assigned to nobody

[2017-01-23 19:29] alikins commented on #20438
Can you test this out with ansible 2.2.1?  There have been fixes for related issues recently  (in particular, the commit and issues at https://github.com/ansible/ansible/commit/858d02ac4c7f5c7e7bf40143cd82261f01bc0fdf)

[2017-01-23 19:31] bcoca commented on #11253
we revamped no_log to deal also with screen output in 2.1 and 2.2, currently this obscures your example above:
[code]
closing as working

[2017-01-23 19:31] #11253 closed, assigned to nobody

[2017-01-23 19:33] bcoca commented on #11059
repos are now unified, submit the PR against this repo. The docs are inside the module file itself.

[2017-01-23 19:38] bcoca commented on #11371
closing as per above

[2017-01-23 19:38] #11371 closed, assigned to nobody

[2017-01-23 19:39] bcoca commented on #11378
closing as per above

[2017-01-23 19:39] #11378 closed, assigned to nobody

[2017-01-23 19:42] bcoca commented on #11455
closing as it is known issue that modules that operate on same file cannot run concurrently on same host w/o issues.

[2017-01-23 19:42] #11455 closed, assigned to nobody

[2017-01-23 19:46] bcoca commented on #11467
@modoojunko can you provide a simple reproducer?

[2017-01-23 19:55] bcoca commented on #11564
closing as this was a data issue

[2017-01-23 19:55] #11564 closed, assigned to nobody

[2017-01-23 20:00] alikins commented on #20563
a76083d4393804bf9821ced15eb529644f551535 in ansible-modules-code looks to be the commit[1] that introduced that change.

[1] There is some oddity in the merge history for that module so commit only seems to appear in ansible-modules-core

[2017-01-23 20:15] alikins commented on #20569
Have an example sysctl file that causes the error?

[2017-01-23 20:20] alikins commented on #20569
Code looks like it intends not to try to split comment lines (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/sysctl.py#L309-L311)

I think that code assumes only lines that start with a '#' are valid comments.  In the sysctl files causing problems, what do the comments look like?

[2017-01-23 20:25] alikins commented on #20569
Looking at sysctl.conf man page, looks like the current code wont handle ';' as a comment char.

sysctl.conf man page says 'Lines which begin with a # or ; are considered comments and ignored.', so looks like a bug in the module.

[2017-01-23 20:26] bcoca commented on #11886
this was fixed a while back when the backup was changed to 'copy with permissions'.

[2017-01-23 20:26] #11886 closed, assigned to nobody

[2017-01-23 20:35] alikins commented on #20560
Was this working with ansible 2.2.0 (or other versions?)

[2017-01-23 20:39] alikins commented on #20572
Was this working in earlier versions of ansible (2.2.0?)

[2017-01-23 20:49] alikins commented on #20572
For the case where ansible-playbook is running on boot, what user is it running as?

[2017-01-23 20:53] ajaybhatnagar commented on #20572
yes, it was working with earlier version(s). On boot, script is started by root user.

[2017-01-23 20:55] jasperla commented on #20102
We can use `platform.version()`; I'll submit a PR shortly.

[2017-01-23 21:26] sivel commented on #18549
I've been doing a little bit of research on this, and here is what I have so far.

When running `VariableManager.get_vars` we populate `ansible_delegated_vars` via `VariableManager._get_delegated_vars`.  When this runs in one instance, `ansible_search_path` is undefined.  Due to this, when using relative paths in `with_fileglob`, the `fileglob` lookup returns no results.

Because `fileglob` return

[2017-01-23 21:28] sivel commented on #18549
To add to this, it only happens when the first task of the play uses `with_fileglob`.  Any other task as the first task, without `with_fileglob`, and the play will execute as expected.

[2017-01-23 21:30] agaffney commented on #18549
Nice find. This sounds vaguely reminiscent of another issue I was helping a user with earlier in the 2.x line where all `lookup` calls in a vars file were being evaluated at least once, instead of only when the var that references them was itself referenced, as was the case in the previous version.

[2017-01-23 21:35] edunham opened #20579 "It would be nice for `copy` to optionally show a progress bar during upload"
_From @edunham on February 29, 2016 21:53_

##### Issue Type:
- Feature Idea
##### Plugin Name:

copy
##### Ansible Version:

[code]
##### Ansible Configuration:

[code]
##### Environment:

N/A, not platform-specific
##### Summary:

I have an ansible playbook which uses the `copy` module to upload a 3GB file to managed hosts. This takes a long time, and causes me to wonder whether it's still uploa

[2017-01-23 21:35] edunham commented on #20579
_From @ansibot on July 31, 2016 14:44_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-01-23 21:35] edunham commented on #20579
_From @ansibot on September 9, 2016 18:24_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-23 21:35] edunham commented on #20579
_From @ansibot on October 6, 2016 14:57_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-23 21:35] edunham commented on #20579
_From @ansibot on December 7, 2016 19:16_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-01-23 21:40] ajaybhatnagar commented on #20572
Same playbook executed with ansible version 2.1.4.0 works well. See logs below:
root@ans-esmaster01a:/var/tmp# ansible --version
ansible 2.1.4.0

Jan 23 21:35:40 ans-esmaster01a rc.local[526]: + ansible-playbook -vvvv local.yml --extra-vars=env=thor -f 1
Jan 23 21:35:41 ans-esmaster01a rc.local[526]: Using /ansible/ansible.cfg as config file
Jan 23 21:35:41 ans-esmaster01a rc.local[526]:  [WARNING

[2017-01-23 21:40] dewyze commented on #20530
@alikins I was able to produce an error scenario using your test repo. Would you prefer a PR to that repo or just paste the file contents here?

Additionally, I just started using ansible recently, 2.2.1 is my first version.

[2017-01-23 21:47] sivel commented on #18549
It looks like why this is being done, is to template the `delegate_to` directive, when a loop is used.  Unfortunately, since we use `find_file_in_search_path` in `with_fileglob` along with the `ansible_search_path` value, when we run this early, without full context, we get nothing from the `fileglob` lookup, and as such, never update `ansible_delegated_vars`.

The following seems to resolve the i

[2017-01-23 21:49] FlorianLudwig opened #20580 "docker_image pull=always / missing"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION
ansible 2.2.1.0

##### OS / ENVIRONMENT
Linux

##### SUMMARY
docker_image does not update image if image already exist

Same did exist for the (deprecated) docker module with the pull=always flag, see:
https://github.com/ansible/ansible-modules-core/pull/502

[2017-01-23 21:54] sivel commented on #18549
I suppose there are a few ways to go here.  Make sure we pass full context for templating `delegate_to`, or the way I follow above.

I guess the problem with the above, is if you are storing `delegate_to` information in files, and use a `with_fileglob` for actually templating `delegate_to`.  In which case, fixing the context thing would be best, but I don't know where that would need to be done as

[2017-01-23 21:55] FlorianLudwig opened #20581 "docker_login"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_login

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Linux

##### SUMMARY
Using `docker_login` to log out does not work.

##### STEPS TO REPRODUCE
Copy paste from [documentation example](https://docs.ansible.com/ansible/docker_login_module.html):
[code]

##### EXPECTED RESULTS
User is removed from ~/.docker/config.json

##### ACT

[2017-01-23 21:58] sivel commented on #18549
Sorry for all the comments, just trying to document information needed for resolving this.

See https://github.com/ansible/ansible/pull/16630 / https://github.com/ansible/ansible/commit/3c39bb56 for when I believe this bug was introduced

[2017-01-23 22:13] tYYGH opened #20582 "lineinfile module : insertbefore should insert before first match of specified regular expression"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
Manager host : Archlinux, package ansible-git v2.3.0.28204.61e6e7868c.
Managed hosts: Archlinux.

##### SUMMARY
Same as:
* https://github.com/ansible/ansible/issues/15824 on `ansible/ansible`, but it got closed because the issue had to be report

[2017-01-23 22:20] adamnoll commented on #20572
We are seeing the same kinds of issues, but with copy:

- name: set timezone in timezone file
  copy: content="{{ timezone }}\n" dest=/etc/timezone

timezone: America/New_York

Run Locally:
TASK [ubuntu : set timezone in timezone file] **********************************
fatal: [127.0.0.1]: FAILED! => {"changed": false, "checksum": "ec3db0f5f9dd340fa169824332903411285b1d52", "failed": true, "msg":

[2017-01-23 22:35] xuchen81 commented on #16191
👍  it still happens on the latest devel branch. 2.3

[2017-01-23 22:39] xuchen81 opened #20585 "get_url gives: 'function' object has no attribute 'urlsplit'."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

get_url
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS: 10.11.6
Vagrant: 1.9.1

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-01-23 22:44] xuchen81 commented on #20585
I tried again with ansible 2.2.0.0, and it works.

[2017-01-23 22:45] Datamancer1110 commented on #15297
I have run into this bug in Ansible 2.2.1.0 as well. Is there a plan to fix this?

[2017-01-23 22:51] alikins commented on #20572
When you say the playbook is executed at startup, what mechanism are you using to do that? (systemd service? init script? )

[2017-01-23 23:19] klin938 commented on #20438
I will try -vvv when I have a chance but the yum failure does not happen all the time.

At this moment, only ansible 2.2.0 is available for me, will that work or I should wait for 2.2.1 to be released in my normal repos?

[2017-01-23 23:26] jctanner commented on #11266
resolved_by_pr https://github.com/ansible/ansible/pull/12904

[2017-01-23 23:31] #11266 closed, assigned to nobody

[2017-01-23 23:37] jctanner commented on #11383
resolved_by_pr https://github.com/ansible/ansible/pull/11880

[2017-01-23 23:38] #11383 closed, assigned to nobody

[2017-01-23 23:47] jctanner commented on #11421
@xrow can you confirm is starting/stopping sssd helps your situation?

needs_info

[2017-01-23 23:54] jctanner commented on #11467
needs_info ^

[2017-01-23 23:58] jctanner commented on #11506
@joaocc please test this with ansible 2.2.x or higher. Unicode support has been worked on significantly since the 1.9.x era.

needs_info

[2017-01-24 00:22] mattclay commented on #16191
@xuchen81 I'm not able to reproduce the issue using devel on Mac OS 10.11. Also, the integration test that was implemented to detect this particular issue is passing. Can you please open a new issue with more details on the error you're seeing?

[2017-01-24 00:31] sivel commented on #20585
That line you reference no longer exists.  It was changed in https://github.com/ansible/ansible/commit/48f096b5 on Jun 9, 2016

It appears that you are working from a fairly old version of 2.3 (devel).

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-01-24 00:31] #20585 closed, assigned to nobody

[2017-01-24 01:03] EvanK commented on #11295
@ansibot This will be resolved_by_pr #19185

[2017-01-24 01:43] jctanner commented on #11525
bot_status

[2017-01-24 01:48] jctanner commented on #11525
bot_broken

[2017-01-24 02:13] ajaybhatnagar commented on #20572
It is being executed by context script at the time of vm launch. Env is kvm using opennebula.

From: notifications@github.com
Sent: January 23, 2017 5:52 PM
To: ansible@noreply.github.com
Reply-to: reply@reply.github.com
Cc: abhatnagar@blackberry.com; author@noreply.github.com
Subject: Re: [ansible/ansible] Template command fails during automatic configuration on local node only (#20572)

When you

[2017-01-24 03:32] quinn opened #20588 "Issues with string concat and implicit conversion of bytes to chars"
in `ansible/inventory/script.py` there is code like:

[code]

I had to to change to this to get the actual error message (instead of the encoding error): `sys.stderr.write(err.decode('ascii') + "\n")`

I'm running python 3.

[2017-01-24 05:01] dewyze commented on #20530
Here is a bare minimum working case, this assumes you have run this once before encrypting and you have something in your `creds.json`:

[code]

Here is my output:

[code]

What I have noticed:
- If you run `ansible-playbook -i hosts test.yml` you will get the decryption error.
- If you run `ansible-playbook test.yml` you will not get the decryption error, even if the file is encrypted.
- If you m

[2017-01-24 06:31] veger opened #20589 "include_role: Cannot find tasks files of included role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY / STEPS TO REPRODUCE
When I include a role from another role, the include statement of the included role is not able to find the file. For example:

Role A includes role B

[code]

and role B is split into multiple task files:

[code]

When role B is directly u

[2017-01-24 08:54] nblock commented on #20398
`… but you'd want to rekey with a utf8 password before upgrading to 2.3.`
Sounds reasonable.

[2017-01-24 08:56] xrow commented on #11421
@jctanner As said before, I can`t reproduce it anymore. I don`t have any sssd installed.

[2017-01-24 09:44] bbayani opened #20591 "Non-working example for configuring log driver in ansible module docker_container"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Module: docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Mention any settings you have changed/added/removed in ansible.cfg : None

##### OS / ENVIRONMENT
OS : Centos 7

##### SUMMARY
The example given for configuring syslog output at https://docs.ansible.com/ansible/docker_container_module.html does not work on late

[2017-01-24 10:46] ybalt opened #20593 "Ansible 2.2.1 fails on quotations in playbooks and templates, most playbooks broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible core

##### ANSIBLE VERSION
ansible 2.2.1.0

##### CONFIGURATION
deafult, installed from Ansible ppa

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Looks like new version of Ansible 2.2.1 fails in some cases when processing playbooks and templates
that have quotation
Previous version 2.2.0 works fine

##### STEPS TO REPRODUCE
this is from Ka

[2017-01-24 11:14] dagwieers opened #20595 "win_regedit: Example only use HKCU"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

win_regedit

##### ANSIBLE VERSION

v2.3

##### SUMMARY

All examples use HKCU registry keys, and the documentation does not state what the other possibilities are.
- HKCR: (HKEY_CLASSES_ROOT)
- HKCU: (HKEY_CURRENT_USER)
- HKLM: (HKEY_LOCAL_MACHINE)
- HKU: (HKEY_USERS)
- HKCC: (HKEY_CURRENT_CONFIG)

More variety in examples (and mayb

[2017-01-24 11:21] levequej commented on #15915
Exact same problem here with ansible 2.2.1 on Centos7 , and same playbook was working fine with 2.2.0

as said @x3medima17

[2017-01-24 12:03] gersilex commented on #20359
@abadger Both commands are done using the shell module, should be something like this:

[code]
and

[code]

Both produce correct output, mentioning the $http_proxy environment variable with the correct value. Of course, this is because shell will invoke an interactive shell. Though I would expect the get_url module to do this as well, because all applications should respect the /etc/environment fi

[2017-01-24 12:28] jctanner commented on #20595
bot_status

[2017-01-24 12:36] dagwieers commented on #20595
I am updating the documentation and rewriting the module as well. (to add HKCC and HKPD registry hives).

[2017-01-24 12:38] jctanner commented on #20595
bot_broken

[2017-01-24 12:46] EvertMDC opened #20596 "Variables not reflecting values in playbook when using with_items"
I have not found a similar issue open already, however I must say I did not verify all 1505.
The problem exists in 2.2.0.0, 2.2.1.0 and when using a checkout of the devel branch.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
with_items only updates variables once if the type is the same

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Ansible.cfg
[code]

##### OS / ENVIRONMENT

Macinto

[2017-01-24 13:30] jgeusebroek commented on #19549
Interesting, I came across the same behaviour. I will have a look at the plugin code later on, and see if I can fix it.

[2017-01-24 13:39] sirkubax opened #20597 "template_module lose it's relative path when role include other role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template_module

##### ANSIBLE VERSION
[code]

##### SUMMARY
When **Role Includes the Role**, the template module browse the incorrect path looking for a template file

##### STEPS TO REPRODUCE

[code]
The correct path is:
`/home/me/ansible/etc/playbooks/roles/app_generic/templates/upstart.conf`

##### Observation
The problem happen, because the

[2017-01-24 13:43] sirkubax commented on #20597
Btw - if you struggle with this issue, you can workaround:

1. Use

[code]

2. Use this hack:
[code]

3. Define and use

Ref:
http://docs.ansible.com/ansible/template_module.html
https://github.com/ansible/ansible/issues/10374

[2017-01-24 13:49] Haxe18 commented on #12086
+1 on forks

[2017-01-24 13:49] sirkubax commented on #20597
side topic  (I know it is picking at the words but...)
@bcoca @samdoran
'template_path the absolute path of the template, template_fullpath is the absolute path of the template,'
https://github.com/ansible/ansible/blame/bd793b85bff331e7d3ca613bf44a26f0345747d5/lib/ansible/modules/files/template.py#L37
Not sure if I get it :P

it seems that template_fullpath is not in use atm.

[2017-01-24 13:56] sirkubax commented on #20589
https://github.com/ansible/ansible/issues/20597

[2017-01-24 14:01] elasti-ronenc commented on #15231
Hello,
i am getting this error:
[WARNING]: Failure using method (v2_runner_on_ok) in callback plugin (</usr/lib/python2.7/site-packages/ooinstall/ansible_plugins/facts_callback.CallbackModule object at 0x229bf90>): cannot represent an object: common
There was a problem fetching the required information. Please see /tmp/ansible.log for details.

can someone assist ?

[2017-01-24 14:10] dagwieers commented on #15231
@elasti-ronenc Please open a new issue for this. The current one is closed.

[2017-01-24 14:13] elasti-ronenc opened #20600 "Openshift deployment"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
2.3

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Hello,
i am getting this error:
[WARNING]: Failure using method (v2_runner_on_ok) in callback plugin (</usr/lib/python2.7/site-packages/ooinstall/ansible_plugins/facts_callback.CallbackModule object at 0x229bf90>): cannot represent an object: common
There wa

[2017-01-24 14:14] ssbarnea opened #20602 "stdout_callback: debug does not always wrap the newlines as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
plugins/callbacks/debug.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Inside `ansible.cfg`:
[code]
##### OS / ENVIRONMENT
* Bug **present** on Fedora 23-25 or RedHat 7.3
* Bug **not present** on: MacOS 10.12 or Ubuntu
Both tested using Python 2.7

##### SUMMARY
It seems that, at least on Fedora, the escaped newlines are not converted t

[2017-01-24 14:16] levequej opened #20603 "After upgrading from 2.2.0 to 2.2.1 on Centos7.3.1611 , Ansible fails to find handlers using include (referenced from an included task)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I tried forcing handler_includes_static = True in ansible.cfg without success (even though I already added static:yes to the include task in handlers)

##### OS / ENVIRONMENT
Centos7.3.1611

##### SUMMARY
upgrading from 2.2.0 to 2.2.1 on Centos7  broke notification from indluded handlers

simila

[2017-01-24 14:18] ajaybhatnagar commented on #20572
It is executed by context script for vm as root user after all initialization is done. Observed same issue when tried to use copy instead of template. Ansible version 2.1.4 works fine.

[2017-01-24 14:21] carn1x opened #20604 "Any way to force SSH session to reconnect with pipelining=true ?"
The following tasks fail with `pipelining=true`, since the `docker` user group applied in the first has no effect on the existing SSH session used for both tasks:
[code]

I've attempted to use https://galaxy.ansible.com/udondan/ssh-reconnect/ however this appears to be too limited (for instance ignores ansible private key setting).

[2017-01-24 14:23] bcoca commented on #20572
this is probably a dupe of  #20332, try using the PR #20486

[2017-01-24 14:24] jctanner commented on #20600
@elasti-ronenc you did not fill out the issue template so we have no idea where to begin with this. Please revise the issue description based on https://github.com/ansible/ansible/blob/devel/.github/ISSUE_TEMPLATE.md

needs_info

[2017-01-24 14:29] JimFicarra commented on #20557
I second this doc request. This has been outstanding for quite some time and needs an overhaul.

[2017-01-24 14:48] Imelstorm commented on #20458
Have same problem:
Host OS: Centos 7
Ansible runing on OS X 10.12.2

[2017-01-24 15:14] jsengla commented on #15297
I experience this bug in 2.3.0. However, disabling pipelining 'resolves' the issue.

[2017-01-24 15:28] Jmainguy commented on #20196
@Tronde I am still unable to reproduce this bug using latest devel. Can you try and reproduce using latest devel, I followed the instructions above, any compressed database that is larger than 3.5mb when compressed.

[code]

[2017-01-24 15:30] Jmainguy commented on #20196
@ansibot 'needs_info'

[2017-01-24 15:47] Jmainguy commented on #19761
@edysli See #20605 for a fix. Let me know if that works for you.

[2017-01-24 16:11] Jmainguy commented on #19820
I think separating mount and fstab into two modules makes alot of sense and I am all for it.

[2017-01-24 16:15] perzizzle commented on #20056
@dagwieers another PR was merged in that had some of this same functionality. I closed mine since it was no longer a clean merge.

[2017-01-24 16:29] alikins commented on #20530
The result I get when duplicating (including some inline comment as shell comments explaining):

[code]

[2017-01-24 16:36] Datamancer1110 commented on #15297
Assuming pipelining is turned off by default, the issue occurs for me regardless - all I have to do is try to rsync with become:yes to make it happen...on certain systems...but not others. I don't know what environmental issue cropped up, but that's what it is for me. My only workaround was to rsync with become:no, which required some folder perms.

Thankfully, this was something that didn't throw

[2017-01-24 16:39] ryansb commented on #20579
This would need a change in the way Ansible sends output from modules to be displayed, adding component label.

[2017-01-24 16:50] ryansb commented on #20588
Can you add information about how to reproduce the error message? Just running inventory scripts under Python 3?

[2017-01-24 16:55] seljuck commented on #20316
@helldorado

I've found the source of the last error message.
[code]
I was running proxmox_kvm against ProxMox 3.4. That attribute is not supported on version 3.4. When I ran it against version 4.4 everything ran perfectly.

I'm not sure if you want to add backwards compatibility, but I hope this is helpful.

Thanks for the help and the and irc support.

[2017-01-24 16:59] ryansb commented on #20604
For this case I'd recommend forcing `pipelining=False` for just that play, so that ansible will reconnect for those tasks. I'm not sure there's a handler/meta action that can break pipelined SSH connection.

[2017-01-24 17:11] dcode commented on #14542
To confirm @nexbit's report, `{{ vars | to_yaml }}` is affected. I'm not even trying to use hostvars, but rather a variable that I calculate in a vars file. The variable is a list of strings that represent network interface names. I attempted the workaround offered by @joelthompson, but this too failed with the traceback below.

Ansible Version: 2.2.1.0
libyaml Version: 0.1.4

**NOTE**: This worke

[2017-01-24 17:13] ryansb commented on #20593
This is a duplicate of #20568 (same raw/endraw issue). Version 2.2.0 has a vulnerability and as such will not be added to PPA again. You may install from the git tag for v2.2.0.0-1 if you absolutely require the 2.2.0 version.

[2017-01-24 17:13] #20593 closed, assigned to nobody

[2017-01-24 17:23] ShanthkumarS079 commented on #1934
@dhozac
I have tried to access the register variable from different play using the below code.
${hostvars.foo.time.stdout}
It didn't work for me.
where does ${hostvars.foo.time.stdout}  variable stored?

[2017-01-24 17:38] saamich opened #20608 "yum module parsing of wrapped 'yum check-update' output causes package updates to be skipped"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
yum module

##### ANSIBLE VERSION
2.2.1 (2.2.1.0-1ppa~xenial)

##### CONFIGURATION

##### OS / ENVIRONMENT
Control machine: Ubuntu 16.04
Remote machine: Centos 7.3.1611

##### SUMMARY
After fix this issue [#4318](https://github.com/ansible/ansible-modules-core/issues/4318)
the first packet (in alphabetical order output  of yum check-update),  that

[2017-01-24 17:39] rqelibari commented on #8603
I would really love to implement this feature! It is not that easy though. As this feature is of greater impact, I will need some time, if I do it on my own. Preferably there would be one or two other contributors willing to help, in which case things would speed up.

[2017-01-24 17:42] djoudi5 commented on #20494
Hello

Thanks for suggestion, its works also for me, with only changing Jinja2 version 2.9.4 -> 2.8.1. My case was like following:
- Problem:  upstream_ip var wasn't found
- jenkins_upstream.j2 file:
location ^~ /jenkins {
        proxy_pass http://{{ upstream_ip  }}:{{ ports.jenkins }}/jenkins;
}
- vhost.conf.j2 file:
    {% set upstream_ip = ansible_default_ipv4['address'] %}
    {% for appli in

[2017-01-24 17:49] Tronde commented on #20196
@Jmainguy I was able to reproduce the problem with the latest devel:
[code]

Running `$ ansible-playbook my-it-brain.yml` with the task:
[code]

results in:
[code]

[code]

Please tell me, if you need further information.

[2017-01-24 17:50] msambol commented on #18894
Upgrading `urllib3` worked for me as well. Thank you.

[2017-01-24 17:50] jctanner commented on #18497
@nnutter can you send a pullrequest with your patch?

[2017-01-24 17:53] sknopp commented on #19735
hi everyone,
any solution or workaround here? I'm having the same issue on my setup.
(Ubuntu 16.04, Python 2.7.12, Ansible 2.2.1.0, python-pyvmomi 5.5.0-2014.1.1-3)

[2017-01-24 18:05] Jmainguy commented on #20196
I am testing against centos7 with mariadb-server, are you testing against another DB? there is clearly something between our two env setups because I am unable to reproduce this. I just compiled and installed latest devel again to be sure.

[code]
Is it possible bz2 is failing to uncompress because of disk running out or something? Why is bz2 failing in your (and other testers reproducing this) en

[2017-01-24 18:07] quinn commented on #20588
Yes, I'm working on an inventory script. The error message was the one above "data needs to be formatted as a json dict" but instead I was getting "Can't convert 'bytes' object to str implicitly" error

[2017-01-24 18:08] jctanner commented on #17236
Hi!

As of April of 2016, we have started using the Ansible Proposal process for large feature ideas or changes in current functionality, such as this. If you are still interested in seeing this new feature get into Ansible, please submit a proposal for it using this process.

https://github.com/ansible/proposals/blob/master/proposals_process_proposal.md

If you have any further questions, please

[2017-01-24 18:08] #17236 closed, assigned to nobody

[2017-01-24 18:09] quinn commented on #20588
Also, I am running ansible 2.1, but the source in the master branch here (assuming that is 2.3) I assume has the same problem because it is not encoding the err object

[2017-01-24 18:24] pablodav commented on #18894
seems that setup.py should change this line, from:

    install_requires=['paramiko', 'jinja2', "PyYAML", 'setuptools', 'pycrypto >= 2.6']

to

     install_requires=['paramiko', 'jinja2', "PyYAML", 'setuptools', 'pycrypto >= 2.6', 'urllib3>= 1.19.1']

as get_url is part of core modules.

[2017-01-24 18:35] ecranfill opened #20611 "lineinfile module: unsupported parameter for module: path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

lineinfile fails with:

fatal: [192.168.254.4]: FAILED! =>{"failed": true, "msg": "unsupported parameter for module: path"}

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expected the module to append text to end of /etc/yum.conf

[2017-01-24 18:36] sivel commented on #18894
urllib3 is a completely optional library, that can assist with extended functionality in urllib3.  However, if present it is used, but not required.  Maybe we instead need to add a flag to enable the use of urllib3, regardless of whether it is installed.

[2017-01-24 18:37] Tronde commented on #20196
Hi,

here are some information about my env.

Controller:
[code]

Target Node:
[code]

The node should have enough disk space and ram to extract the bz2 file:
[code]

I increased the memory to 2048 mb to be sure not to run in an out of memory issue. But I'm still getting the same error message.

[2017-01-24 18:39] sivel commented on #20611
Per the documentation:

As such, instead of using `path`, you will need to use one of the above outlined argument aliases

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-01-24 18:39] #20611 closed, assigned to nobody

[2017-01-24 19:00] dewyze commented on #20530
Is it not an issue that it does not attempt to decrypt the file to check for `lineinfile`? Shouldn't that notice it is encrypted and give the warning? I understand if it hasn't tried to load the file it wouldn't warn, but that in some cases it did read the file.

In the original post, when using this with the `gce` module, it is able to use those credentials to create vms (and thus I assume, do an

[2017-01-24 19:11] sivel commented on #18549
I haven't looked in depth, but we should see if https://github.com/ansible/ansible/pull/19297 helps with this issue.  I'm not sure it does, but I saw components that deal with pathing.

[2017-01-24 19:11] ryansb commented on #20603
@bcoca this looks like an includes issue, but I'm not sure how to test it.

[2017-01-24 19:13] Jmainguy commented on #20196
I have no idea why I cannot reproduce this, can you try manually bunzip2 that file and see if it shoots the i/o error?

[code]

[2017-01-24 20:00] tumbl3w33d commented on #20580
[This discussion](https://github.com/ansible/ansible/issues/19379) #19379 was about a very similar thing (and my first answer there is also the answer to your request). But as I said there - I totally agree that the current behavior is not exactly intuitive.

[2017-01-24 20:00] icmp-echo commented on #16878
so what is the solution to this? i did upgrade and same thing all our play books are broke i am working on automation of network devices and some of them requires a latest version to run. if we have solution I would like to understand, P.S> I am not a developer nor a programmer just a network engineer, please be thorough. Many Thanks.

[2017-01-24 20:09] FlorianLudwig commented on #20580
@tumbl3w33d yes, similar but not the same as I want to download an image and not build one.

So the change is external, yes.  I would like to compare with the `get_url` module which provides two methods to ensure the right or current version is downloaded: `force` and `checksum`.

Same semantics do apply to downloading docker images.

[2017-01-24 20:12] tumbl3w33d commented on #20580
The problem here is that docker_image does both, building and pulling and pull is true by default which means if you use the mentioned force parameter (which does what you ask for here), you do totally different things which might or might not be the desired/expected behavior.

[2017-01-24 20:19] ravishivt commented on #20568
This doesn't just affect {%raw%} {%endraw%}.  It affects all of the following variants of escaping:

[code]

Using any of these works on 2.1.4 but not on 2.2.x.

[2017-01-24 20:21] alikins commented on #20602
I think the debug callback plugin is doing the right thing here.

The:
[code]

From a shell will output:
[code]

Try using 'echo -e' in the playbook

[code]

[2017-01-24 20:25] Tronde commented on #20196
Using bunzip2 to extract the file locally on the target node works just fine without any error.

Unfortunately I have no idea how to help you reproducing this error. :-(

[2017-01-24 20:34] pzhuk commented on #9362
still broken for me in 2.2.0.0

[2017-01-24 20:43] alikins commented on #20530
group_vars/devboxes/creds.json gets read as data to be used for the playbook run (config file, more or less). File with playbook vars and info are checked if they are encrypted.

In that playbook with:
[code]

The playbook typically means to check that file path on the remote host. In this case, the remote==localhost and {{playbook_dir}} is a full path, so the task ends up looking at the same file

[2017-01-24 20:48] alikins commented on #20530
For the 'gce' module, the 'credentials_file' isnt the content of the file, but just a path name. I believe libcould ends up actually reading the contents of the file. I'd have to see more verbose output, but I suspect the gce module and/or libcloud fail back to other sources for the credentials_file path (GCE_CREDENTIALS_FILE_PATH env var for ex).

[2017-01-24 20:50] dewyze commented on #20530
And the `gce` module would just decrypt in the background? Libcloud decrypts and reads it? I don't have another copy of the file other than the encrypted that could be used.

[2017-01-24 20:57] supertom commented on #20481
Hi @wyscan, thanks for flagging the issue (and sending the PR).  Just so I'm clear, could you provide a playbook and/or ad-hoc commands to replicate this.  The following playbook works for me, so I want to be sure I understand the issue correctly.

[code]
'''

[2017-01-24 20:58] alikins commented on #9362
@simplesteph @shaharmor @pzhuk

Post the playbooks that fail and the verbose output from the failed ansible-playbook invocation.
Aside from 'debug:' output, I'm curious what use case this causes failures on.

[2017-01-24 21:02] dmizelle opened #20613 "Unable to interpolate variable when used as the key of a dict object"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Using sensu_check, but I fear its not actually caused by the module.

##### ANSIBLE VERSION

Broken version:
[code]

Working version:
[code]
##### CONFIGURATION

[code]
[code]

##### OS / ENVIRONMENT

OS Running Ansible:
[code]

Host being managed, vagrant+virtualbox:
[code]

##### SUMMARY

Background:

In order to get around this bug:
https://

[2017-01-24 21:18] alikins commented on #20602
The behavior of 'echo' may depend on shell version or readline config (I think the shopt 'xpg_echo' option is the option. try 'shopt xdg_echo' to see the current value. I suspect it is 'on' for osx/unbuntu and off for fedora/rhel.)

[2017-01-24 21:19] pzhuk commented on #9362
@alikins , my usecases are all about making a config dictionary in yaml, and than deploy them as json. So I found that some int vars are getting exposed in json with quotes like strings...

### **Test1** (typecasting string to int during variable exposure)

Playbook:
[code]
Result (variable foo, which was typecasted as int, still was exposed quoted like string. While actual int var called bar - ex

[2017-01-24 21:26] Jmainguy commented on #20196
I am unable to reproduce this bug. That being said, supposing it does exist, it has to do with stdout ending before the compression tool thinks it should. Guessing running out of ram / swap.

I added this code https://github.com/ansible/ansible/commit/1608163b26611171406b3d53135cf4aee63f1765

Which was reverted with this code https://github.com/ansible/ansible/commit/aa79810cc83f9f76a2cb9c117782b9

[2017-01-24 21:28] aucampia commented on #6440
I wanted to do ssh + chroot so that I could do a `debootstrap` install (similar in many ways to a gentoo install). I ended up adding this in `/etc/ssh/sshd_config`:

[code]

And then creating a `chroot.myhostname` entry in `~/.ssh/config` with Port 8922.

Doing this in another way (i.e. from inside ansible) would be rather messy IMO - especially if you want to make it work with modules like `synch

[2017-01-24 21:29] aucampia commented on #3235
@alem0lars-svcuser

I wanted to do ssh + chroot so that I could do a `debootstrap` install (similar in many ways to a gentoo install). I ended up adding this in `/etc/ssh/sshd_config`:

[code]

And then creating a `chroot.myhostname` entry in `~/.ssh/config` with Port 8922.

Doing this in another way (i.e. from inside ansible) would be rather messy IMO - especially if you want to make it work with

[2017-01-24 21:42] ssbarnea commented on #20602
Indeed, the error was because of my use of echo, I should have tested with something else. In order to have a reliable behaviour on all platforms I should have used `echo e "aaa\nbbb"`.

Thank you and sorry for the trouble!

This was the bug of the day! (at least for me).

[2017-01-24 21:42] #20602 closed, assigned to nobody

[2017-01-24 22:03] wyscan commented on #20481
Your role does indeed work corectly for me.

If I set any value for target_tags or src_range it gives me an error.  Both of the following cause errors:

[code]

It appears that src_tags may be immune to the problem.

[2017-01-24 22:25] supertom opened #20616 "[GCE] module stacktrace when invalid zone/region is provided"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME
gce

##### SUMMARY

When an invalid zone/region is supplied, the module should inform the user.  Currently, the user ends up with a stacktrace and is left to root-cause the issue themselves.

Filed in response to ansible/ansible/issues/18977 and comments by @dminca, @walbert947

##### EXPECTED RESULT

If an invalid zone or regio

[2017-01-24 23:00] joaocc commented on #11506
@jctanner. I'm sorry, but I no longer have access to the environment where this happened. After all, it's been 18mth since I reported this :). If no one else is complaining, you can close this.

[2017-01-24 23:21] supertom commented on #20481
Thanks for the playbook, it helped me understand.  Left some code comments.

[2017-01-24 23:31] asangal commented on #9687
If the same issue comes while doing `install` (vs init), then you can refer the solution here: http://stackoverflow.com/questions/41837789/ansible-galaxy-failing-for-init-install-failed-to-get-data-from-the-api-server

[2017-01-24 23:52] ringerc commented on #10745
Maybe a cross-reference would be wise then, since many Ansible users will
not be YAML experts or necessarily find that info in a widely separated
part of the docs. Quoting and argument splitting is particularly crucial
for shell invocations and it's also a common thing to do, so it's a useful
place to point users to the relevant docs.​

[2017-01-25 00:19] #11506 closed, assigned to nobody

[2017-01-25 02:04] lorin commented on #1934
@ShanthkumarS079 I don't think the `${var}` syntax for variable interpolation works anymore. Trying doing `{{ hostvars.foo.time.stdout }}` instead.

[2017-01-25 04:01] afeld opened #20621 "systemd module doesn't handle template unit files"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

`systemd`

##### ANSIBLE VERSION

[code]

Also tested d6cdd9151169a52d42c01ebe00d9cc30c30e465c.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control machine: OSX 10.12.3

Remote machine: RHEL 7.1

##### SUMMARY

##### STEPS TO REPRODUCE

Paraphrased from https://github.com/silpion/ansible-tomcat.

[code]

[code]

##### EXPECTED RESULTS

[2017-01-25 05:32] JulianVolodia commented on #12575
Really affects 2.3 and 2.1 ? ;)

[2017-01-25 06:56] Kurisutian commented on #19746
I'm running into the exact same problem. Is there any known fix for this?

[2017-01-25 07:13] QijunPan opened #20623 "use shell.py run command, but only the last piece of error content is returned"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

/lib/ansible/module_utils/shell.py
[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT

ubuntu 14.04.5 TLS
python 2.7

##### SUMMARY

use shell.py run command, but only the last piece of error content is returned，Do not know which command is error!

1)ubuntu 14.04.5 TLS/python 2.7/ansible2.3, error msg  i

[2017-01-25 07:13] QijunPan opened #20624 "use shell.py run command, but only the last piece of error content is returned"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

/lib/ansible/module_utils/shell.py
[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT

ubuntu 14.04.5 TLS
python 2.7

##### SUMMARY

use shell.py run command, but only the last piece of error content is returned，Do not know which command error!

1)ubuntu 14.04.5 TLS/python 2.7/ansible2.3, error msg  is c

[2017-01-25 07:23] QijunPan commented on #20624
https://github.com/ansible/ansible/issues/20623

[2017-01-25 07:23] #20624 closed, assigned to nobody

[2017-01-25 07:40] strangeman opened #20625 "Idempotence problems with win_nssm's app_parameters"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_nssm module

##### ANSIBLE VERSION
[code]
##### ENVIRONMENT
* Windows 2016, Windows 2012
* NSSM 2.24 64-bit

##### SUMMARY
`win_nssm` module have two problems with `app_parameters`: extra space added if only one noname (`_`) parameter added, and extra quotes added for the named parameters

##### STEPS TO REPRODUCE
For first, I added extra ou

[2017-01-25 08:01] Kurisutian commented on #19855
+1

[2017-01-25 08:19] carn1x commented on #20604
Actually I ended up solving it with the answer at http://stackoverflow.com/a/37337848/698289:

[code]

[2017-01-25 08:19] #20604 closed, assigned to nobody

[2017-01-25 09:19] MiteshShah commented on #14341
Its seems like absolute path also not working

Remote Server:
[code]

Ansible Playbook:

[code]

Ansible output:

[code]

[2017-01-25 09:40] sirkubax commented on #14860
Any expected delivery time known yet? :)

[2017-01-25 09:42] sirkubax commented on #17911
:/

[2017-01-25 10:04] exclor opened #20629 "Number casting incoherence (floats not automatically cast to strings)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Python 2.6.6
Red Hat Enterprise Linux Server release 6.3 (Santiago)

##### OS / ENVIRONMENT

##### SUMMARY

Variable casting to numeric is incoherent when concatenating string with standard floating point numbers and scientific notation numbers
It would be nice to have the default casting set

[2017-01-25 10:32] gundalow commented on #20580
Given the comments above, I'm going to mark this as needs_revision.

[2017-01-25 11:25] mprasil opened #20631 "Ansible tries to load dependency even when "when" condition is false"
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Just `vault_password_file` is set there, no other changes.

##### OS / ENVIRONMENT
RHEL 6.8 is the control host, trying to manage CentOS and RHEL 7 hosts. The important thing is, we have no Debian/Ubuntu hosts.

##### SUMMARY
ansiblebit.oracle-java role defines dependencies like this:

[code]
Even though we have no

[2017-01-25 11:35] jrnmgnzlz commented on #20288
Hi! .

I think i have the same problem.
When the apache2_module enable mod_proxy the module is enabled but the ansible show a fail:

`"failed: [172.16.12.101] (item=proxy_module) => {"failed": true, "item": "proxy_module", "msg": "Failed to set module proxy_module to enabled: ", "rc": 0, "stderr": "", "stdout": "", "stdout_lines": []}" `

The output of apache2ctl -M show:
`Loaded Modules:
 core_mo

[2017-01-25 11:37] gundalow commented on #20549
There is a proposed fix in https://github.com/ansible/ansible/pull/20607

Reviews welcome.

[2017-01-25 11:50] BondAnthony commented on #18737
I believe @abadger merged issue #20005 on Jan 7th, 2017 that resolve this issue. The docsite is linking correctly today.

[2017-01-25 11:51] gundalow commented on #20616
@supertom Is this something you'd be interested in fixing?
(or one of the other people CC'd on this ticket?)

[2017-01-25 11:55] BondAnthony commented on #18453
@sivel I was looking at resolving this documentation concern. Were you thinking about including a requirements.txt in the root of the project then reading this file in during setup? Would you just update the docsite to point users to the requirement.txt or can the information in requirement.txt be dynamically loaded into the docsite?

[2017-01-25 11:57] gundalow commented on #20625
resolved_by_pr 20626

[2017-01-25 12:39] dagwieers commented on #20343
As a reminder, I found out that some of these (suspected) **REG_NONE** entries were created as **REG_SZ** with empty value. I assume that whoever uses these file-association entries also supports empty **REG_SZ**. (Example **HKCR:\.xml\OpenWithProgids** with entry **xmlfile** as empty **REG_SZ**)

[2017-01-25 12:41] dagwieers commented on #20343
And searching for that same thing now, I am not alone on this finding:
http://stackoverflow.com/questions/41289666/create-a-reg-none-empty-value-in-the-windows-registry-via-c-sharp

So we could simply add REG_NONE as an empty REG_SZ. Would that be acceptable (maybe as a first implementation, add a note and see what comes of it).

[2017-01-25 12:41] gundalow commented on #15403
I'm reviewing old network tickets in the backlog.

@ogenstad Could you please add a comment to say if this is still needed, it sounds like it is.

[2017-01-25 12:45] thorus90 opened #20633 "copy module unsafe_writes fails copying to another ext4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
hash_behaviour=merge
pipelining=True

##### OS / ENVIRONMENT

Running: Gentoo Linux
Managing: Gentoo Linux

##### SUMMARY

Using the copy modules and copying a file to another filesystem on managed host.

##### STEPS TO REPRODUCE

Create a playbook which uses the copy modul an

[2017-01-25 12:52] gundalow commented on #17843
@alcamie101 Would be good to get your views on this

[2017-01-25 12:58] gundalow commented on #18568
Hi,
This is something we'd look for the community to come up with, it's not something I'd expect to come up onto the Core Team's Roadmap.

FYI there is a weekly Network Meeting, which may be useful (best practices, ideas on getting started, etc)

See https://github.com/ansible/community/issues/110 for more info

[2017-01-25 12:59] gundalow commented on #18568
Leaving this ticket open so other people can find it when searching for Sophos

[2017-01-25 13:02] gundalow commented on #18935
If a work around is found (perhaps based on @sivel's suggestion) it may be worth adding that to the examples.

[2017-01-25 13:03] gundalow commented on #18936
@tedelhourani I don't see any code in this. Did you use issuemover, rather than the prmover to migrate https://github.com/ansible/ansible-modules-extras/pull/3549 ?

[2017-01-25 13:05] #18947 closed, assigned to privateip, Qalthos, gundalow

[2017-01-25 13:09] scne opened #20634 "Error: cannot import name IPAMConfig with docker_service module"
##### ISSUE TYPE
Bug

##### COMPONENT NAME
docker_service_module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
ubntu 16.04 LTS

##### SUMMARY
Whene I try to use docker_service module I get an error about docker-compose.
In my machine I've install docker, docker-compose and docker has port 4243 enabled for API

[code]

##### ACTUAL RESULTS
[code]

[2017-01-25 13:27] gundalow commented on #19088
@jedelman8, @GGabriele Any ideas on this one?

[2017-01-25 13:31] jmcvetta commented on #14413
@martineg that works great!  It's now [included](https://github.com/jmcvetta/ansible-debian-upgrade-reboot/commit/eec11d2d939338647511f68411617d2c5307e1d1) in the Galaxy role [`jmcvetta.debian-upgrade-reboot`](https://galaxy.ansible.com/jmcvetta/debian-upgrade-reboot/).

[2017-01-25 13:34] gundalow commented on #19183
@ismc What's your IRC nick?
Are you available to join the Network meeting Freenode IRC later today?
See https://github.com/ansible/community/issues/110 for timings

[2017-01-25 13:41] KroArtem commented on #20070
@dagwieers, what about your PR? I see it was not merged but want to git pull new changes from repo. There'll be
a) conflicts merging some new commits and my small changes suggested by you.
b) this bug still exists and doesn't vanish from the main repo.

[2017-01-25 13:46] FlorianLudwig commented on #20580
I would like to suggest splitting docker_image into `docker_image` and `docker_build`.  Building and working with images (pull, push, commit...) are two very different tasks within docker, having two modules would solve the root cause for the ambiguity here.

[2017-01-25 13:46] gundalow commented on #19339
@jedelman8 Is this an `nxos_*` issue?

[2017-01-25 13:50] GGabriele commented on #19339
@gundalow it is.

[2017-01-25 14:22] gundalow commented on #19652
@eoprede A fix has been integrated into `devel`. Could you please retest and let us know?

Thanks in advance.

[2017-01-25 14:22] gundalow commented on #19652
needs_info

[2017-01-25 14:23] gundalow commented on #19833
@jedelman8, @GGabriele Any chance you could please take a look at this? Thanks

[2017-01-25 14:23] dagwieers commented on #20070
@KroArtem I guess you will have to wait until the snapshotting support is moved out of the module. In the meantime it will stay broken. See #20498

[2017-01-25 14:24] dagwieers commented on #20070
It's silly and I disagree, but that's how it is.

[2017-01-25 14:38] gundalow commented on #19939
@alcamie101 What are your thoughts on this?

[2017-01-25 14:40] supertom commented on #20616
Yes, you may assign it to me.

On Jan 25, 2017 3:51 AM, "John R Barker" <notifications@github.com> wrote:

[2017-01-25 14:42] andrewhowdencom opened #20638 "Letsencrypt Certificate public key must be different than account key"
_From @codegastudio on November 12, 2016 9:3_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Letsencrypt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

MacOS Sierra to Ubuntu 14.04.2 LTS trusty

##### SUMMARY

Follow steps describe in [letsencrypt_module](https://docs.ansible.com/ansible/letsencrypt_module.html) and get error

At first run, i get error

[2017-01-25 14:42] andrewhowdencom commented on #20638
_From @ansibot on November 13, 2016 9:59_

@mgruener ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-25 14:42] andrewhowdencom commented on #20638
_From @ansibot on November 29, 2016 9:40_

@mgruener, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-25 14:42] andrewhowdencom commented on #20638
_From @ansibot on December 7, 2016 15:45_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-01-25 14:42] gundalow commented on #20131
@Qalthos I believe you look after Junos, could you please put in a fix for this. This will allow me to add basic Junos tests into Shippable

[2017-01-25 14:44] andrewhowdencom commented on #20638
I have duplicated this issue from the previous repository, as it appears to still be the case with the current version of Ansible, and @codegastudio did an excellent job of writing up the steps to reproduce.

[2017-01-25 14:44] temtemtemtem opened #20639 "async + vsphere_guest issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

async
vsphere_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default except for using host variables

##### OS / ENVIRONMENT

Running on CentOS 7.3 and managing ESXi 6.0.0 systems

##### SUMMARY

I want to start the set of async tasks and then check their status inside "until" loop.
During the checking ansible fails with error "'di

[2017-01-25 14:46] gundalow commented on #20186
@Qalthos Junos issue for you

[2017-01-25 14:48] bcoca commented on #20633
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is a known issue with python3.4, which is not supported, use either python2.{4-7} or >= python3.5.

In the future, this might be a

[2017-01-25 14:48] gundalow commented on #20260
Any update on this issue

[2017-01-25 14:52] gundalow commented on #20294
@rcarrillocruz Have a look at other modules that take freeform arguments, such as the `shell` or `command` modules

[2017-01-25 14:54] gundalow commented on #20412
@narankhetani Could you please let us know if the above patch solves your issue, thanks.
needs_info

[2017-01-25 14:56] rcarrillocruz commented on #20294
will do , thanks

[2017-01-25 15:02] GGabriele commented on #19833
@eoprede it happens on `module_utils/nxos.py`. Probably the device response is not well structured. Have you tried to use `transport: cli` instead?

[2017-01-25 15:07] sparunakian commented on #20493
Why is that ? Shouldn't all modules work in handlers ?

[2017-01-25 15:08] narankhetani commented on #20412
+Cody John <Cody.John@servicenow.com>
Hey Guys,

I am currently wrapped up in a busy week this week I will look into this
next week and provide you an update.

On Wed, 25 Jan 2017 at 14:55 John R Barker <notifications@github.com> wrote:

[2017-01-25 15:10] dhavlev commented on #5952
+1 such feature would be great to have

[2017-01-25 15:19] ryansb commented on #20591
The module docs have been updated to reflect the 1.13 change to this option, with a note about older versions calling it `syslog-tag`.

[2017-01-25 15:20] thoraxe commented on #14426
https://github.com/ansible/ansible/issues/14426#issuecomment-205938301 from @somechris suggests that timeout affects escalation timeouts. However the documentation linked clearly states:

If people are reporting that increasing the timeout is causing the escalation prompt errors to go away, it would seem that the documentation is broken, or there is another more sinister problem buried somewhere i

[2017-01-25 15:20] ryansb commented on #20591
Closed-by https://github.com/ansible/ansible/commit/7a19a18e619da4ce48795ab4fc9ad5f8b55e2dda

[2017-01-25 15:20] #20591 closed, assigned to nobody

[2017-01-25 15:22] goreilly commented on #19809
I am still on 2.1 because of this. Will there be a bug patch or will I need to wait until 2.3 is stable?

[2017-01-25 15:34] #18103 closed, assigned to alikins

[2017-01-25 15:38] ryansb commented on #20581
This is included (and working) in the `devel` branch, and is a feature that won't be backported to the 2.1 line of releases. To work around this, you can include the [docker_login module](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_login.py) in your site's library directory to get the new features.

[2017-01-25 15:38] #20581 closed, assigned to nobody

[2017-01-25 15:38] Jmainguy commented on #19761
Sweet looks like it got merged in, I think this can be closed now. @edysli do you agree?

[2017-01-25 15:41] gundalow commented on #20616
Thanks Tom :)

[2017-01-25 15:44] edysli commented on #19761
Yes, the documentation for `list` is more precise now. Thanks for the fix @Jmainguy ! :smile:

[2017-01-25 15:44] #19761 closed, assigned to nobody

[2017-01-25 15:47] darKoram commented on #4302
thanks. you may close

On Wed, Jan 18, 2017 at 2:48 AM, Xu Qingfeng <notifications@github.com>
wrote:

--

Kesten Broughton
512 701 4209

[2017-01-25 15:52] #20639 closed, assigned to nobody

[2017-01-25 15:53] pavel-voinov opened #20641 "expect.py module fails with pexpect 4.2.1 installed (Error is 'int' object has no attribute 'rstrip')"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
module "expect"

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Amazon Linux.
[code]
Instance is based on "Amazon Linux AMI 2016.09.1 (HVM), SSD Volume Type - ami-1e299d7e".
[code]

##### SUMMARY
The first call of Ansible module "expect" failed with:
[code]
But next run was ok for first expect call, but fails all t

[2017-01-25 15:59] gundalow commented on #20638
Would you be interested in raising a PR to fix this?
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/web_infrastructure/letsencrypt.py

[2017-01-25 16:02] eoprede commented on #19833
@GGabriele I am not sure whether it is the response that is not structured, or simply a response that has something other than null (which is the response for 99% of commands).

Yes, CLI transport works for this.

[2017-01-25 16:07] angystardust commented on #20406
@nerzhul @aperigault @dagwieers

[2017-01-25 16:14] #20641 closed, assigned to sivel

[2017-01-25 16:14] nerzhul commented on #20406
i'm not maintainer on vsphere_guest, i'm maintainer on vmware_guest and it's already possible to customize CPU number

[2017-01-25 16:15] sivel commented on #20641
Closing This Ticket
===================

Hi!

We believe recent commits (likely detailed above) should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.g

[2017-01-25 16:19] eoprede commented on #19652
@gundalow

Thanks, it does work with CLI transport. However using the nxapi transport I get the following:

`An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_mFYrHl/ansible_module_nxos_ntp.py", line 637, in <module>
    main()
  File "/tmp/ansible_mFYrHl/ansible_module_nxos_ntp.py", line 580, in main
    existing, peer_serv

[2017-01-25 16:29] thorus90 commented on #20633
This also happens with python 2.7.12

[2017-01-25 16:29] bcoca commented on #20631
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `when` conditional is not applied to the 'role loading' it is appended to each task in the role. As such you cannot conditionally l

[2017-01-25 16:29] #20631 closed, assigned to nobody

[2017-01-25 16:31] craigfrancis opened #20647 "Incorrect links to repositories on website"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
Website (https://docs.ansible.com/)

##### SUMMARY
Links in the footer are no longer correct.

##### STEPS TO REPRODUCE
- Look at website: http://docs.ansible.com/ansible/stat_module.html#support
- Follow links to "core and extras modules source repositories".

https://github.com/ansible/ansible/blob/57f8b791d672ec520036973db235071656f450

[2017-01-25 16:31] bcoca commented on #20633
can you show error output for that target?

[2017-01-25 16:34] thorus90 commented on #20633
What do you mean? I already postet the error output in the first post when I executed it with -vvvvvvv
Do you mean sth different? When executing without -vvvvvv I just get the output of module_stdout (also included above). Unfortunately both not formatted very well.

[2017-01-25 16:35] mprasil commented on #20631
Thanks for explanation, is that functionality documented anywhere?

[2017-01-25 16:35] bcoca commented on #20633
your output above is for a target with python3.4

[2017-01-25 16:37] ko-christ opened #20648 "Feature idea: docker_container support for --userns"
_From @ko-christ on September 27, 2016 13:46_

##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY

Docker allows setting the `userns` mapping, but docker_container currently does not support this functionality. It would be great to add support for this in `docker_container` module as well.

`

[2017-01-25 16:37] ko-christ commented on #20648
_From @ansibot on September 27, 2016 14:6_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-25 16:37] ko-christ commented on #20648
_From @markusthoemmes on October 11, 2016 13:13_

This is definitely needed. User namespaces were one of the killer features of docker 1.12

[2017-01-25 16:37] ko-christ commented on #20648
_From @domdom82 on October 11, 2016 13:16_

Yep, this is super-important to have.

[2017-01-25 16:37] ko-christ commented on #20648
_From @jeremiaswerner on October 11, 2016 13:37_

👍

[2017-01-25 16:37] ko-christ commented on #20648
_From @ansibot on November 28, 2016 9:34_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-25 16:37] ko-christ commented on #20648
_From @ansibot on December 7, 2016 19:10_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-01-25 16:37] thorus90 commented on #20633
Ah I'm sorry you're right, I only switched to python 2.7 on the host which runs ansible, not on the managed host. :(
Can be closed.

Thank you very much for you kind help

[2017-01-25 16:39] #20633 closed, assigned to nobody

[2017-01-25 16:41] bcoca commented on #20631
http://docs.ansible.com/ansible/playbooks_roles.html#roles

"This works by applying the conditional to every task in the role. Conditionals are covered later on in the documentation."

[2017-01-25 16:42] flatrocks commented on #18140
An unsavory workaround is to copy the role's handlers (the ones from the role that are mistakenly not found) to the `handlers` section of the playbook under the other handlers.

We are getting by for now, but
- the scope of the mess cascades when you have included multiple roles with handlers
- it's not clear if handlers requiring var substitution will work right
- and this almost certainly messes

[2017-01-25 16:47] privateip commented on #19107
discussed in irc meeting today, will fix this in 2.3

[2017-01-25 16:47] #20647 closed, assigned to nobody

[2017-01-25 16:49] GGabriele commented on #19652
@eoprede @gundalow my bad, I opened #20651 for this.

[2017-01-25 17:04] gkspranger opened #20652 "rhn_register not parsing serverURL in /etc/sysconfig/rhn/up2date"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rhn_register

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
allow_world_readable_tmpfiles = True

##### OS / ENVIRONMENT
rhel 6
osx

##### SUMMARY
when using rhn_register, am getting an error about non-existent Config dictionary
i verified that the serverURL value is present in the file /etc/sysconfig/rhn/up2date

##### STEPS TO REPRODUCE
us

[2017-01-25 17:05] robinro commented on #20288
@jrnmgnzlz you probably want `name: "proxy"` instead of `name: "proxy_module"`.

[2017-01-25 17:19] lempa opened #20653 "git: "failed to get the hostkey for" error after update to version 2.2.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
ansible 2.2.1.0
  config file = ~/.ansible.cfg
  configured module search path = Default w/o overrides

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04.5 LTS (remote)
macos sierra (local)

##### SUMMARY

With this version the git task stops with this message: `failed to get the hostkey for HOST`
The

[2017-01-25 17:21] jhawkesworth opened #20654 "ConfigureRemotingForAnsible.ps1 fails if not run as local administrator"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ConfigureRemotingForAnsible.ps1
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

stock configuration
##### OS / ENVIRONMENT

controller: WSL (windows pretending to be Ubuntu 16.04)
target: Windows Server 2012 R2
##### SUMMARY

Now that ConfigureRemotingForAnsible.ps1 writes to the event log, it attempts to access the security log, but this

[2017-01-25 17:22] jhawkesworth commented on #20654
@dagwieers - would be grateful if you could take a look at this.

[2017-01-25 17:23] jhawkesworth commented on #20654
an option not to write to event logs would suit my needs

[2017-01-25 17:30] dagwieers commented on #20654
Hmmm, does the domain administrator not have the same rights as a local administrator ?

[2017-01-25 17:32] jhawkesworth commented on #20654
Not necessarily.  I know from experience that the same domain administrator doesn't have rights to start windows updates for example.  Account definitely is a domain admin as I have used it to add new vms to a domain.

[2017-01-25 17:42] bcoca commented on #20621
sysv_exists should only be called if systemd is unable to find the service, this should only happen on some implementations of systemd that cannot manage init scripts, it will not find service files as it does not look in systemd directories.

[2017-01-25 17:52] dagwieers commented on #20654
So what can a Domain Administrator do by default to the EventLog. I find it peculiar that a tool is not able to write to the EventLog, every tool should be able to log to the EventLog, that's the purpose of the EventLog ?

I am open to log to a file as well by default. And ignore if opening the EventLog fails, however not before we have investigated other possibilities to write our events to the E

[2017-01-25 18:09] #20332 closed, assigned to nobody

[2017-01-25 18:24] jrnmgnzlz commented on #20288
@robinro thanks for the reply.
Sorry, the quoute of mi ask is wrong.
I put `name: "proxy" ` . That record was a test.

real log:
`2017-01-24 16:01:19,209 p=4761 u=root |  failed: [172.16.12.101] (item=proxy) => {"failed": true, "item": "proxy", "msg": "Failed to set module proxy to enabled: ", "rc": 0, "stderr": "", "stdout": "", "stdout_lines": []}`

The output of apache2ctl -M show:
`Loaded Modu

[2017-01-25 18:40] babbottscott commented on #13801
I wonder if you may be running into hash behaviour.  I was seeing this same result, changed hash_behaviour to true, and saw the vars I expected.

[2017-01-25 18:44] s-hertel commented on #20340
Hello. I wasn't able to reproduce this issue on devel or using ansible 2.2.0.0. Environment: OS-X 10.12.2.
Playbook I tested with:
[code]

My initial result running with ansible 2.2.0.0:
[code]
Result running it a second time:
[code]

needs_info

[2017-01-25 18:49] bcoca commented on #20551
test PR above, device can now take a list

[2017-01-25 18:57] #20102 closed, assigned to bcoca

[2017-01-25 19:27] jctanner commented on #18879
needs_contributor

[2017-01-25 19:59] Tronde commented on #20196
Well, I give it a try again, today. Using two different mysql dumps I encountered the same error. In both cases I had at least 120 MB of ram left. I thought that should be enough.

My understanding of this matter is not informed enough to give you any helpful thoughts on this. But if you are going back to disk, I would be happy to give it another run.

[2017-01-25 20:04] KroArtem commented on #20070
Ok, will wait for the fix, however, it looks like the following:
2.2.x version is unable to gather facts, see #19080
If it's fixed in 2.2.1 then creating of snapshots is not working.
2.3-dev doesn't create snapshots. In all cases Ansible is not usable (I don't mean my patched version)

[2017-01-25 20:29] hornomos commented on #18936
@gundalow I don't remember what the events for this PR. This is a closed PR that I think we can just ignore?

I currently have only one outstanding PR on ansible/devel

[2017-01-25 20:39] ismc commented on #19183
ismc :)  I am on travel this week... should be available next week or any
other time the you want to chat next week.

Steven.

On Wed, Jan 25, 2017 at 5:34 AM John R Barker <notifications@github.com>
wrote:

[2017-01-25 20:42] n0trax commented on #20288
@jrnmgnzlz
Which ansible version are you using? I could not reproduce your error with 2.2.1 or the devel branch on ubuntu 16.04.

[2017-01-25 21:06] s-hertel commented on #20426
Can you try running your playbook with `target_bucket: "{{ item.profile }}-{{ item.log_target }}"` in place of `target_bucket: "{{ item.profile }}"-"{{ item.log_target }}"`? Your quotations marks may be the problem.

[2017-01-25 21:36] JimFicarra commented on #20654
@jhawkesworth - Typically, the Domain Administrator groups is in the local Administrators group on each box in the domain by default. The access level to the event logs should effectively be the same.  I would verify this is the case on the box where you tried to run the script.

Also, according to the PowerShell Docs, New-EventLog (used in this script to create a new event source) requires PowerS

[2017-01-25 21:42] Trezamere opened #20663 "vsphere_guest - vm_extra_config: hardware virtualization not being set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vsphere_guest - vm_extra_config

##### ANSIBLE VERSION
[code]

Also present in 2.2.0

##### CONFIGURATION
[defaults]
deprecation_warnings=False
gathering=smart
host_key_checking=False
remote_user=vagrant
retry_files_enabled=False

[privilege_escalation]
become=True
become_method=sudo
become_user=root

[ssh_connection]
pipelining=True
ssh_args=-o

[2017-01-25 21:50] dagwieers commented on #20654
@JimFicarra That would make perfect sense. And I would expect you need elevated privileges for running ConfigureRemotingForAnsible.py anyhow, I doubt you can change the firewall and enable the WinRM service without elavated privileges.

I wonder if we can add a small snippet checking for elevated privileges and notifies the user if they're missing.

[2017-01-25 22:00] stigglor commented on #15706
Just upgraded from 2.0.0.1 -> 2.2.1.0, getting this exact issue intermittently across test environments. Same AWS AMI is being used to build nodes, using the same key, works sometimes in some envs, others it fails. Confirming I can access the nodes via the SSH command ansible is using, keys have the correct perms / correct user is being specified etc

[2017-01-25 22:11] pschorf commented on #12086
+1 on forks

[2017-01-25 22:29] gundalow commented on #18936
Looks like bigmon_chain is already in: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/bigswitch/bigmon_chain.py

Therefore closing this.

[2017-01-25 22:29] #18936 closed, assigned to nobody

[2017-01-25 22:41] afeld commented on #20621
Ah, ok. Any idea where the issue might be, then?

[2017-01-26 00:13] ppinette commented on #20653
+1

[2017-01-26 00:24] JimFicarra commented on #20611
@sivel - That documentation you refer to is just a comment in the examples in module code itself but the user documentation shows path as the parameter and has aliases of dest, destfile, or name.

In fact, the entire documentation dictionary in that module has "path" plastered all over it as a valid parameter and in the examples themselves - ALL the examples.  This is confusing - I was actually ab

[2017-01-26 00:30] sivel commented on #20611
We are in the process of producing versions docs, but that is not ready, and won't be for a while longer.  As of now, we display docs for the upcoming version, which does include version added.

[2017-01-26 00:30] JimFicarra commented on #20611
Ahh..my bad...I misunderstood.

Apologies for the confusion.

[2017-01-26 04:17] AdamBark commented on #6309
Success! That works for me, thanks @bcoca and anyone else involved.

[2017-01-26 05:34] ApsOps commented on #20572
I'm hitting this when using copy module when running playbook with local connection via cloud-init on boot.

[2017-01-26 07:16] strangeman commented on #18411
I have the same (or similar) issue in 2.2.1

[code]

[2017-01-26 07:46] bdine opened #20678 "Copy Module - Recursive directory copy does not work locally even with remote_src=True"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Copy Module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Local Recursive copy of directory does not work even with remote_src=True
From Ansible copy module documentation :
[code]
It should work with remote_src to True right ?

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should be OK

##### ACTUAL R

[2017-01-26 08:56] aucampia commented on #18140
@flatrocks what I'm doing for the moment is ```
  handlers:
    - include: roles/.../handlers/part.yml
[code]

[2017-01-26 09:23] p53 opened #20682 "Inconsistent mount when changing mountpoint"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mount

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using mount module on first run set name/path variable to some value /mnt/files on second run, change that parameter to different value e.g. /mnt/other, mount is still mounted on the /mnt/files and additionally two values are now in fstab for

[2017-01-26 09:25] tgagor commented on #20543
I could confirm that behaviour (just wanted to raise issue but found this one). Old `docker` module work like expected, but `docker_container` do not return facts. This started after last ansible update (from Ubuntu ppa), it was working earlier.

[2017-01-26 09:29] jan-xyz opened #20683 "--check fails on acl task if user doesn't exist"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- acl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
all standard

##### OS / ENVIRONMENT
provision Debian 8 from OSX
provision Debian 8 from Debian 8

##### SUMMARY
One of our tests to merge a pull request is running the playbook with --check. The ACL module fails on Linux if the entity doesn't exist.

##### STEPS TO REPRODUCE
[code]
#####