[2019-06-05 14:01] varac commented on #26190
maybe a bit unrelated but I like how [sops](https://github.com/mozilla/sops) does it.

[2019-06-05 14:07] thaumos opened #57408 "Update "Speeding up Vault Operations" to no longer mention pycrypto"
##### SUMMARY

The "Speeding up Vault Operations" section on the Vault page, has a phrase that specifies there is still a dependency on pycrypto.  This is no longer the case.  Change the phrase to alleviate possible confusion.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs/docsite/rst/user_guide/vault.rst

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS /

[2019-06-05 14:15] stdedos opened #57409 "pip module with virtualenv tries to use "main" python"
* Verify first that your issue is not already reported on GitHub
That's hard to say for sure; ~350 issues contain "pip virtualenv"
* Also test if the latest release and devel branch are affected too
:confused: a bit too much for people not familiar to do that

##### SUMMARY

`pip` module with `virtualenv` defined, tries to call `pip` from path.
I have a py36-virtualenv, and the host has both pytho

[2019-06-05 14:18] webknjaz commented on #54949
Clean Docker-based reproducers (at the time of writing installs Ansible 2.8.0-2 in all cases), crashes in all cases:
1) `package`:
[code]
2) pure `dnf`:
[code]

2) Fedora 30:
[code]

[2019-06-05 14:32] #57018 closed, assigned to nobody

[2019-06-05 14:33] stdedos commented on #57409
Not quite: the installation happened while installing `virtualenv` itself.
Since `ansible` found `python2` first, it connected through it.
There was no `pip2` or `pip` (symlink to `pip3`)

[2019-06-05 14:33] #57409 closed, assigned to nobody

[2019-06-05 14:36] #55453 closed, assigned to nobody

[2019-06-05 14:48] scottd018 opened #57411 "[BUG] win_domain_group_membership module should fail on missing ActiveDirectory module"
##### SUMMARY

When running the win_domain_group_membership module on a Windows system which does not have the Active Directory PowerShell module available, executing of the playbook will continue and eventually fail with error:

    "msg": "Could not find domain user, group, service account or computer named HOSTNAME$"

Upon further investigation, the ActiveDirectory tools module is not installed

[2019-06-05 14:49] isaranova opened #57412 "Default value for disk activate is set to false"
##### SUMMARY

When creating disk with ovirt_disk module, the expected behaviour is that the disk is activated after its creation (and attachment to a VM) according to the disk behaviour in web UI. However, the default value for the variable activate in the module is None (which will be later set to False due to this change: https://github.com/ansible/ansible/commit/e733d6e5570183ba15df4b8308d7099

[2019-06-05 14:57] bitmand commented on #56517
I'm closing this myself.

Personally like the idea a lot - but if it isn't possible at this point, no need to keep it open.

[2019-06-05 14:57] #56517 closed, assigned to nobody

[2019-06-05 15:12] PaulKiddle opened #57414 "hashi_vault cannot authenticate when password contains space characters"
##### SUMMARY
When using the hashi_vault lookup and username/password authentication, there is no way to specify a password that contains spaces. This is because the args are passed to the lookup function as a space-separated string. Really it would be more sensible to use a dict or something.

While I'm at it, it would be great to be able to have ansible prompt the user for their ldap credentials

[2019-06-05 15:33] opoplawski opened #57415 "package module is becoming less useful"
##### SUMMARY

We manage both Ubuntu and RedHat/Fedora systems from the same playbooks.  One of the tools that has been very helpful for us in this is the generic "package" module.  However, with the recent change to the yum lock timeout behavior with ansible 2.8, we are now required to set "lock_timeout" to avoid yum failing during the periodic (hourly) yum cache updates.  This then breaks using

[2019-06-05 15:37] opoplawski commented on #57189
The need for lock_timeout also make the "package" module less portable, see #57415 .  Also, 30 seconds isn't really going to cut it for us so we're going to need to set a different value (we're using 120).  I would also much prefer setting it in ansible.cfg as this would not break using package with apt.

[2019-06-05 15:37] opoplawski commented on #57415
If we could set the yum lock_timeout in ansible.cfg that would avoid this issue.

[2019-06-05 15:40] jeevers commented on #41861
@markuman I had to push some changes for the pep8 checks to pass. The PR should be ready for the next stage once those checks are done. See https://github.com/ansible/ansible/pull/41975

[2019-06-05 15:43] #57415 closed, assigned to nobody

[2019-06-05 15:54] bcoca commented on #56517
it is 'possible' but i would argue most people would prefer not to transfer the file in check_mode

[2019-06-05 15:59] #23657 closed, assigned to nobody

[2019-06-05 16:11] evitalis commented on #57342
@samdoran Not to hijack this issue, I can open a new one if needed. But if the same being done for RHEL/CentOS 8 by chance since it will also be offering Python 3 in it's default repos?

[2019-06-05 16:20] opoplawski opened #57416 "apt module always reports changed for virtual package"
##### SUMMARY
apt module always reports changed when installing git-core on Ubuntu 18.04

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.2 LTS (Bionic Beaver)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
State is not "changed"

##### ACTUAL RESULTS

[code]

[2019-06-05 16:21] #38826 closed, assigned to nobody

[2019-06-05 16:21] goneri commented on #57342
Hi @evitalis , 2.8.0 is already in ansible-2.8-for-rhel-8-x86_64-rpms repo, but this is more a question for the mailing list.

[2019-06-05 16:29] gamethis commented on #57404
tested on my systems and if line 55 is changed to `$group_member = Get-ADObject -Filter "SamAccountName -eq '$member' -and $ad_object_class_filter" -Properties objectSid, sAMAccountName @extra_args` everything works as expected

[2019-06-05 16:48] sivel commented on #57189
@opoplawski you can still get the functionality you want and use `package`.

If you set `module_defaults` to something like https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html):

[code]

When you call `package` with only common args, then it will pass on those `module_defaults` to `yum`/`dnf` but not to `apt`.

Also, fwiw, the recommendation of the core developers, is

[2019-06-05 16:53] jbarotin commented on #10829
@mattclay @dagwieers  any news about this ?

[2019-06-05 16:56] vamsiatluri opened #57417 "aci_config_rollback Attribute Error: NoneType object has no attribute read"
##### SUMMARY
Trying to compare to Cisco APIC Snapshots using aci_config_rollback module

##### ISSUE TYPE
task path: /data/tools/ansible/playbooks/roles/cisco.apic/tasks/compare_snapshots.yml:20
<localhost> ESTABLISH LOCAL CONNECTION FOR USER: root
<localhost> EXEC /bin/sh -c 'echo ~root && sleep 0'
<localhost> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /root/.ansible/tmp/ansible-tmp-1559753

[2019-06-05 17:15] sivel commented on #10829
Thus far, the core team has not been convinced of the need for such a feature, when this can already be achieved by common means.

[2019-06-05 17:41] ShachafGoldstein commented on #57411
What version of PS and Windows are you running on?

[2019-06-05 17:48] scottd018 commented on #57411
@ShachafGoldstein PowerShell v5 and Windows Server 2016 (also tested with the same results on Server 2019 - no output to show for that):

[code]

[2019-06-05 17:56] ShachafGoldstein commented on #57411
OK, can you open a console on one of the server that don't have the feature
installed and type the import command and replay here whether you get an
error result out or an empty prompt?

On Wed, Jun 5, 2019, 20:49 scottd018 <notifications@github.com> wrote:

[2019-06-05 18:00] jamesmontalvo3 commented on #57189
@sivel What is package for then?

[2019-06-05 18:02] sivel commented on #57189
To satisfy those who wanted it.

[2019-06-05 18:47] jbarotin commented on #10829
Thanks for the reply @sivel. I can explain why I came on this issue.

I've just updated my playbook from 2.6 to 2.8, and the message, `"[WARNING]: flush_handlers task does not support when conditional" `appear. I understand that `flush_handlers` must be called when we'll be sure it's executed no right to use is in code under when condition (I don't understand why).

I'm a big fan of `flush_handler

[2019-06-05 19:12] flohoff commented on #57400
The problem here is that the ControlPath-%h macro is expanded to "Hostname" which is NOT the Hostname passed on the command line but the Hostname after all expansion in the .ssh/config.

So HostA and HostB's %h expand to the very same Hostname (10.0.0.1) although reachable via different jumphosts. So although you thought you contacted different hosts (any you would without the ControlPath) you con

[2019-06-05 19:15] bcoca commented on #57400
@flohoff but ansible does not use %h expansion by default, it uses it's own hashing

[2019-06-05 19:16] Andersson007 commented on #57352
@AsgerPetersen , the bugfix PR has been merged but it would be better if you try the changed module tomorrow anyway.
If it is OK, I'll do a backport for this on Friday (or even tomorrow if you looked at it).
Waiting for your feedback tomorrow or anytime, thank you!

[2019-06-05 19:47] murrahjm commented on #57404
I can confirm that line 55 is indeed missing the `@extra_args` parameter.

[2019-06-05 19:50] scottd018 commented on #57411
@ShachafGoldstein Here is the output of the failure to `Import-Module ActiveDirectory`:

[code]

Also, I told you wrong in the last comment.  This was Windows Server 2012 R2 with PowerShell 4 (was running my setup against the wrong server).  Apologies for the confusion:

[code]

[2019-06-05 20:01] philipsd6 commented on #57399
It's worse than I thought. Even if I can avoid using `include_role` with a loop, if I use `include_role` for a role that uses loops internally, the same error occurs. This is a critical issue for us. It makes it impossible to do the complex error handling promised in [Blocks Error Handling](https://docs.ansible.com/ansible/latest/user_guide/playbooks_blocks.html#blocks-error-handling) when using `

[2019-06-05 20:30] ShachafGoldstein commented on #57411
I'm pretty sure the problem is that `erroractionpreference` isn't set to stop.
mind adding `$ErrorActionPreference = 'stop'` in line 7 and test to make sure?

[2019-06-05 20:32] drewmullen opened #57427 "meta module cannot condition against a variable produced from an iterative"
##### SUMMARY
the meta module cannot recognize a variable produced from an iterative

##### ISSUE TYPE
~- Bug Report~
- Documentation Report

##### COMPONENT NAME
meta

##### ANSIBLE VERSION
[code]
^^ also tested on 2.8
##### CONFIGURATION
[code]

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS
fails on play 2 saying it cannot find 'item'. have also tried with a `loop_var`, same results

[c

[2019-06-05 20:45] opoplawski commented on #57415
pie in the sky - package could filter out unknown parameters.  Would such a PR be considered?

[2019-06-05 20:48] sivel commented on #57415
Modules don't expose the params they accept in a way that `package` could know that dynamically.  Maintaining a list statically, isn't feasible.

We have actually just been discussing that `package` should restrict the params it accepts to the lowest common denominator, and only allow params that are globally accepted by all underlying modules.  However, that would likely cause a backwards incompa

[2019-06-05 20:50] ShachafGoldstein commented on #57313
Can you check against another OU?
and/or try without OU?

[2019-06-05 21:48] flohoff commented on #57400
The Documentation (and my debugging) says otherwise:

https://docs.ansible.com/ansible/2.4/intro_configuration.html#control-path

[2019-06-05 22:00] bcoca commented on #57400
That is outdated, please read https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-ssh-control-path

[2019-06-05 22:03] jborean93 commented on #57400
Have a look at https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/ssh.py#L475 for the logic when creating the control path.

[2019-06-05 22:04] sivel commented on #57400
You are referencing some old documentation.  If you look at https://docs.ansible.com/ansible/latest/plugins/connection/ssh.html

It indicates:

The default is `null`/`None`.

As such, ansible will utilize the following code:

https://github.com/ansible/ansible/blob/27dcf8aaab58b94d94feba96e1c23e78e7a01f5a/lib/ansible/plugins/connection/ssh.py#L474-L486

So it's not using `%h` at all, ansible is bu

[2019-06-05 22:04] #57400 closed, assigned to nobody

[2019-06-05 22:54] mszumilak opened #57436 "incorect installation with pip install when /tmp/ mounted with noexec"
##### SUMMARY
Ansible pip installation does not work when /tmp mounted with noexec.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pip package

##### ANSIBLE VERSION
All of them are affected.

Particular one:
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Any Linux, particularly:
[code]

##### STEPS TO REPRODUCE
1) remount /tmp with noexec option:
`mount -o remount,noexec /tmp`
2) c

[2019-06-05 23:27] nkakouros opened #57437 "'VariableManager' object has no attribute '_loader'""
##### SUMMARY

In a complex variable resolution case, ansible fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux latest

##### STEPS TO REPRODUCE

The role I am using below is [this one](https://github.com/debops/debops/tree/master/ansible/roles/debops.users).

[code]

##### EXPECTED RESU

[2019-06-06 00:14] nkakouros opened #57438 "default filter behaves strangely with `none` type"
##### SUMMARY

The default filter does not assign a value to variables of type None. Yet, in the `debug` module, it seems to convert it to a string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

default

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux lateset

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I don't really know.

####

[2019-06-06 00:20] PgInsight commented on #57248
Hi, thanks for checking.   I have updated the play (below) and the output I get is:

[root@ip-10-100-101-222 ~]# ansible-playbook main.yml
 [WARNING]: No inventory was parsed, only implicit localhost is available

 [WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match 'all'

PLAY [MOTD] ************************************************

[2019-06-06 00:22] jhg03a commented on #57189
If you're publishing roles, I think the idea is to provide an OS agnostic module to install things and just assume implementations adjust the module defaults to suit their individual needs.  it's a bit of a mess though with things like the yum backend argument doing basically the same thing in smaller scopes.

[2019-06-06 00:42] jhg03a commented on #57189
I didn't know until this issue that you could pass undocumented parameters for backend-based modules through `package`.

[2019-06-06 02:57] twmartin opened #57441 "Support include_tags in datadog_monitor"
##### SUMMARY
The Datadog monitor API supports an `include_tags` option, which is not yet supported by the `datadog_monitor` Ansible module.

_https://docs.datadoghq.com/api/?lang=python#create-a-monitor_

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`datadog_monitor` module - [lib/ansible/modules/monitoring/datadog_monitor.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/mod

[2019-06-06 05:24] sjortiz commented on #56626
Hey, I would like to work on this, This would be my first contribution in here, might need some guidance

[2019-06-06 05:52] rajaspachipulusu17 opened #57447 "Unable to executed ansible modules(netvisor) with ansible 2.8 version using network_cli plugin"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

All network/netvisor modules.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

network-admin@ugui-9kspine1:~$ uname -a
Linux ugui-9kspine1 4.15.0-36-generic #1 SMP Mon Oct 22 21:20:30 PDT 2018 x86_64 x86_64 x86_64 GNU/Linux
network-admin@ugui-9kspine1:~$

##### STEPS TO REPRODUCE

1. Add ppa apt

[2019-06-06 06:08] kustodian commented on #47838
I don't think that Ansible should update its code to workaround this problem, but this should be documented in the [filters docs](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#regular-expression-filters). It should be suggested to the user to always use `^(pattern)$`, or to use `(.+)` (or in this case, even just `$`, because it's the simplest if you just want to append

[2019-06-06 07:27] atruskie opened #57451 "os_floating_ip fails to detect floating IP if server has another public IP"
##### SUMMARY

When `os_floating_ip` tries to determine if any work needs to be done by checking if the server has a floating IP:

https://github.com/ansible/ansible/blob/c6097a268c86c29392603bc652b82a57ae84c319/lib/ansible/modules/cloud/openstack/os_floating_ip.py#L174-L178

In cases where the server has a floating IP **and** has another public IP (in my case `accessIPv4` is set to another IP), t

[2019-06-06 07:37] bmalynovytch commented on #54091
@MRwangyd as suggested by @bluikko, could you provide the slave status output ?

needs_info

[2019-06-06 07:51] mkrizek commented on #57427
This is expected as meta tasks are handled differently internally than 'normal tasks' so looping on meta tasks is not supported. We probably should alter the documentation to mention that and/or emit a warning on runtime.

As for your reproducer, I wonder what would be the real use case for looping on `meta: end_play`?

[2019-06-06 08:04] AsgerPetersen commented on #57352
@Andersson007 Thanks. With #57391 it now works as expected.

[2019-06-06 08:04] #57352 closed, assigned to nobody

[2019-06-06 08:08] Andersson007 commented on #57352
@AsgerPetersen , thank you for checking!

[2019-06-06 08:10] mkrizek commented on #57438
This is expected. The default value is used only if the the variable (`qqq`) is undefined, in your case it is defined with value `~` so the default value is not applied. The solution here is to use the following:

[code]
The second parameter for the `default` filter says to use the default value also when the variable is evaluated to 'False-y'.

See https://docs.ansible.com/ansible/latest/user_gui

[2019-06-06 08:51] #56640 closed, assigned to nobody

[2019-06-06 09:22] kenorb commented on #51727
Same here with Ansible 2.8.0

It fails on the following task:

[code]

[2019-06-06 09:33] konfusator opened #57463 "Ansible 2.8.0: ansible_distribution_version on Debian is missing minor version"
##### SUMMARY
In Ansible 2.8.0 `ansible_distribution_version` is missing the minor version and is the same as `ansible_distribution_major_version`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Gathering Facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ansible_distrbution_version used t

[2019-06-06 10:16] nkakouros commented on #57438
I understand that but shouldn' case 2 output `NoneType` instead of the empty string? It is inconsinstent and it seems to the user as if `default` converts the None type to the empty string.

[2019-06-06 11:18] AnonJo opened #57470 "[FR] Set execute bit only on folders through the Ansible acl module"
##### SUMMARY

Allow the parameter X (uppercase x) for the permissions in the ACL module, which sets the execute bit only for folders.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ACL part of the files module in the following path:

```lib/ansible/modules/files/acl.py```

##### ADDITIONAL INFORMATION

When ACLs are set recursively on a folder structure, normally the execute bit is only

[2019-06-06 11:19] alexcernat opened #57471 "[module: cron] name parameter when deleting crontab file (in /etc/cron.d/)"
##### SUMMARY

Deleting crontab file is not working when name is specified. But not specifing name raises deprecation warning.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cron module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 8, 9, 10

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

File munin-node should be deleted.

##### ACTUA

[2019-06-06 11:21] termlen0 opened #57472 "Make the redhat_subscription module idempotent"
##### SUMMARY
Currently the redhat_subscription module does not appear to be idempotent, warranting workarounds within the playbook to check for registered systems.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redhat_subscription

##### ADDITIONAL INFORMATION

Currently, the workaround being used is as follows

[code]

Ideally, the module should handle this and not fail if the system is

[2019-06-06 11:21] termlen0 commented on #57472
cc: @kjw3 @jaredhocutt

[2019-06-06 11:29] drewmullen commented on #57427
well, knowing that limitation now i can work around it. but yeah, i agree it should be mentioned in the docs and maybe even highlighted that meta is *special*.

feel free to close or leave this open if you want to tag it to a PR

[2019-06-06 11:36] mkrizek commented on #57438
Ah, I misunderstood what you were asking then, sorry.

So in the first case since it's just a single variable in the expression which is evaluated to `None` we bypass template rendering function and return the value of `DEFAULT_NULL_REPRESENTATION` [1]. We would also return right away for booleans and numbers so Jinja2 wouldn't convert them into strings.

In the second case though since a filter i

[2019-06-06 11:39] Gnitset commented on #49071
Any update on this?

[2019-06-06 11:39] stravassac commented on #54346
@sekosekotine
This module not support this now
perhaps add an intermediate template task on localhost can help you
[code]

[2019-06-06 11:44] particledecay commented on #49071
You can follow the fun here: https://github.com/ansible/ansible/pull/52931

[2019-06-06 11:56] stravassac opened #57475 "vmware_guest_file_operation copy with binary file not work with python 3.6"
##### SUMMARY
Using vmware_guest_file_operation copy binary file work with Python 2.7 but not with Python 3.6

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_file_operation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Copy binary file

##### ACTUAL RESULTS

[code]

[2019-06-06 12:03] pratikgadiya12 commented on #57278
Do not review this patch until I get the CI issues fixed for it

[2019-06-06 12:13] stravassac commented on #57475
@Akasurde
I found the error, do you know the right way to do it with Python 2/3  integrate in Ansible project ?
[code]

[code]

[2019-06-06 12:40] particledecay commented on #49071
The long story short of it is that there were some questions around the idempotency and they'd like to see some integration tests, but the response time on the module submission was pretty poor so it most definitely missed the cutoff for version 2.8 and now the best I can do is shoot for 2.9.

[2019-06-06 12:52] danbohea commented on #49071
Keep up the good work @particledecay , you've got this :)

[2019-06-06 13:05] kvaps opened #57477 "private_role_vars=yes prevents to import roles using vars from the parent role"
##### SUMMARY
`private_role_vars=yes` prevents to import roles using vars from the parent role

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

**print_string** role should inherit var `string="Leo Tolstoi went for a walk"` because thi

[2019-06-06 13:10] NilashishC commented on #57167
Fixed by #57169

[2019-06-06 13:10] #57167 closed, assigned to rohitthakur2590

[2019-06-06 13:11] miked235 opened #57478 "oVirt SR-IOV virtual functions management module help"
##### SUMMARY

Hello,

I've been trying to develop an Ansible module for oVirt/RHEV using Python to enable users to change the virtual functions configuration of a SR-IOV enabled NIC. I'm using the oVirt Python SDK, and I've been able to set configuration correctly and get most of what I need via examples here. I've been testing on RHEV 4.2 and 4.3 and it's been pretty straightforward so far.

How

[2019-06-06 13:13] kvaps commented on #57477
Workaround to avoid this behavior is to assign this variables before using **set_fact** module and remove after:
[code]

[2019-06-06 13:18] PardoJ commented on #46126
@abadger , I understand that synchronize.py is coded out of the box, but I can't explain to myself the same behavior.
On the executing host, for some cases, the `--out-format` option's quotes are missing.
As I use delegation, it's easy to see that in action with a `ps aux`.

Synchronize.py show clearly the not so well escaped quotes:
`
changed_marker = '<<CHANGED>>'
 cmd.append('--out-format=' + c

[2019-06-06 13:23] PardoJ commented on #23575
#46126

[2019-06-06 13:27] garretholland commented on #55625
Is there a fix for those on esxi6.0?

[2019-06-06 13:31] scottd018 commented on #57411
@ShachafGoldstein that did the trick:

With `$ErrorActionPreference = 'stop'`:

[code]

[2019-06-06 13:41] HaloGithub commented on #57392
Closed this issue due to duplicated with #57479. Sorry for this, because this is my first time to contribute codes and don't know how to relate issue to pull request.

[2019-06-06 13:41] #57392 closed, assigned to nobody

[2019-06-06 13:43] ShachafGoldstein commented on #57411
I'll write a PR for this later

[2019-06-06 14:01] sokoow commented on #57436
+1

[2019-06-06 14:12] opoplawski opened #57482 "module_defaults for yum do not get picked up when invoked via package"
##### SUMMARY
module_defaults for yum do not get picked up when invoked via package.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module_defaults

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
EL7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

lock_timeout is set to 120 for both tasks

##### ACTUAL RESULTS

[code]

[2019-06-06 14:14] opoplawski commented on #57189
@sivel - I attempted to use your fix, but it appears that it does not work. The lock_timeout parameter does not get picked up by yum.  I've filed #57482 for that.

[2019-06-06 14:18] rnestler opened #57483 "Support different config.toml options in gitlab_runner module"
##### SUMMARY
It looks like the [gitlab_runner module](https://docs.ansible.com/ansible/latest/modules/gitlab_runner_module.html) is currently only able to register runners and change the server settings (those available on https://gitlab.example.com/admin/runners/).

It would be awesome to also be able to configure the [advanced local settings](https://docs.gitlab.com/runner/configuration/advance

[2019-06-06 14:27] matt852 opened #57484 "nxos_l2_interface Fails on Nexus 7k with invalid pipe to json command"
##### SUMMARY
When adding a vlan to the list of existing allowed vlans on a port-channel, using module nxos_l2_interface, it errors out due to an invalid command.

The error message returned is:
"msg": "show interface port-channel123 | json\r\r\n                                                   ^\r\n% Invalid command at '^' marker.\r\n\rswitchhostname# "

When I attempt to run the command "show i

[2019-06-06 14:29] opoplawski commented on #57415
Unfortunately module_defaults does not work for yum invoked via package, see #57482

As for exposing module argument parameters, it seems that that could be fixed by exporting the argument_specs in a consistent manner.

One of the great appeals of management software is being able paper over the differences between different operating systems.  If I'm going to have to write a bunch of:
[code]
then

[2019-06-06 14:30] alvicsam opened #57485 "ansible_os_family condition doesn't work with task tags and play tags"
##### SUMMARY

I have a few common roles for Windows and Linux that use condition "ansible_os_family ". If I run a playbook with `--tags` I receive an error (it happens when the playbook has both play tags and task tags):
[code]

##### ISSUE TYPE
- ~Bug  Report~
- Docs

##### COMPONENT NAME

Tags
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 9 Stretch
`

[2019-06-06 14:33] trishnaguha commented on #57484
@v1tal3 Does you Nxos device support structure (json) output? Can you share which NXOS version and platform are you using?

[2019-06-06 14:38] v1tal3 commented on #57484
hostname# sh run | json
                           ^
% Invalid command at '^' marker.
hostname# sh run | ?
  cut      Print selected parts of lines.
  diff     Show difference between current and previous invocation (creates temp files: remove them with 'diff-clean' command and dont use it on commands with big outputs, like 'show tech'!)
  egrep    Egrep - print lines matching a pattern
  grep

[2019-06-06 14:41] sivel commented on #57482
This should be resolved in https://github.com/ansible/ansible/pull/56400 which is waiting to be backported into 2.8

[2019-06-06 14:52] abottomsHarris commented on #57313
No luck.

'''
      win_domain_membership:
        dns_domain_name: andrews.net
#        hostname: ##########
        domain_admin_user: Administrator@andrews.net
        domain_admin_password: <redacted>
        domain_ou_path: "DC=andrews,DC=net,OU=testing"    # tried with no OU as well as this manually-created new OU
        state: domain
        register: domain_state
'''

'''TASK [Join test d

[2019-06-06 15:22] webknjaz commented on #54949
So the root of the issue is that `etckeeper-dnf` has a call `os.system('etc-keeper pre-install')` which isn't caught by Python. So its output (e.g. `[master 0213769] saving uncommitted changes in /etc prior to dnf run
 1 file changed, 1 insertion(+), 1 deletion(-)`) bypasses the code in dnf module and goes straight to the calling ansible process on the controller.

Ref: https://git.joeyh.name/inde

[2019-06-06 15:22] sometimesfood commented on #50460
Just updated the instructions in the description for OpenBSD 6.5. This issue is still present in Ansible 2.8.

Could you please add the label affects_2.8? Thanks.

[2019-06-06 15:32] s-hertel commented on #45828
This should be resolved in 96878798400e709ac61c9216a97cee46ad101e75 and cf00883c9d7987331e786a9eb13a0564c338f90a.

[2019-06-06 15:32] #45828 closed, assigned to nobody

[2019-06-06 15:42] chrisvanheuveln commented on #57484
@v1tal3 Please see this reference for supported N7K versions:
https://docs.ansible.com/ansible/latest/network/user_guide/platform_nxos.html#cisco-nexus-platform-support-matrix

[2019-06-06 15:43] s-hertel commented on #49687
This should be resolved in 96878798400e709ac61c9216a97cee46ad101e75. Please open a new issue if you're having additional issues with gcp_computer inventory caching.

[2019-06-06 15:43] #49687 closed, assigned to nobody

[2019-06-06 16:01] sivel commented on #57438
It is expected that `None` becomes an empty string when going through the templating engine.  This is a historical behavior, that has existed since the early days of Ansible, and as such, changing it would lead to a backwards incompatible change for users.

See `Templar._finalize`.

For what it's worth, jinja2 native disables the conversion from `None` to `''` in `_finalize`.

[2019-06-06 16:53] mkrizek commented on #57438
Closing as per workarounds suggested above. Also see https://github.com/ansible/ansible/issues/41392.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-06 16:53] #57438 closed, assigned to nobody

[2019-06-06 17:04] keilr opened #57490 "Integartion tests for tower_* modules not working with latest tower version"
##### SUMMARY
Integration tests for all tower modules don't work with latest tower version.

When setting `version=3.4.3` in test/integration/cloud-config-tower.ini the test procedure loops on `tower-cli` setting command:

[code]

tower `version=3.2.3` works...

[CI checks](shippable.com/github/ansible/ansible/runs/126064/124/console) are still using tower 3.2.3. Can you update that as well?

####

[2019-06-06 17:12] samdoran commented on #56626
@sjortiz That's great! The best way to get help is to reach out in #ansible-devel on Freenode IRC.

[2019-06-06 17:16] samdoran commented on #55625
@garretholland Not at this time. All we have done is identify it is an issue with VMware choosing to exclude parts of the Python standard library on that version of ESXi. If you would like to work on this issue, that would be greatly appreciated.

[2019-06-06 17:33] #57276 closed, assigned to nobody

[2019-06-06 17:35] mattclay commented on #57490
cc @ryanpetrello

[2019-06-06 17:46] bcoca commented on #57351
so we update plugin_loader when we add roles and reset it's cache, which the diff templars would just hit the new cache, once we unified the templar it would keep the initial list and not get a new one (faster but incorrect!). We can revert the change or try to trigger a refresh on the templar if it detects a change in the path list.  This probably affects lookups and tests also.

[2019-06-06 17:57] dlewis7444 commented on #18305
Several of my boxes still hang.  I love Ansible but I have to resolve this or it's just not usable.  A little more info...

It appears to be related to privilege escalation, at least in my case.  If I ssh manually to server1, sudo to root, and rerun ansible with the -b, **_before the sudo cached password times out_**, it works.  So it doesn't seem to recognize the sudo password prompt on all boxes

[2019-06-06 17:58] #43375 closed, assigned to nobody

[2019-06-06 18:06] v1tal3 commented on #57484
Thank you.  This is simply an older, unsupported version of NX-OS.

[2019-06-06 18:06] #57484 closed, assigned to nobody

[2019-06-06 18:32] AlanCoding commented on #21899
Whoops! Looks like I filed a duplicate of this issue.

https://github.com/ansible/ansible/issues/57197

@robinro would my example there be sufficient? I don't know if it would be possible to do all of the needed setup work in a playbook alone. I could do it with some other library with a local test repo. Also, could you mark my issue as a duplicate, or just close it, thanks!

[2019-06-06 18:57] AlanCoding opened #57497 "Git module fails to clone non-branch, non-head ref (github pull requests)"
##### SUMMARY
The git module will not clone github pull requests. A workaround is possible, but it makes things messy.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
git module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
only defaults

##### OS / ENVIRONMENT
CentOS

##### STEPS TO REPRODUCE

`ansible-playbook -i localhost, --connection=local issues/PR_checkout.yml`, where the playbook

[2019-06-06 19:35] jborean93 commented on #57411
This shouldn't be necessary, since Ansible 2.8 we always set `$ErrorActionPreference = 'Stop'` [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/powershell/module_wrapper.ps1#L46) when executing our scripts. Also the fact that it didn't error out when actually using the `Get-ADObject` cmdlet means that the cmdlet was imported in some shape or form.

Something weird is going

[2019-06-06 19:45] agowa338 commented on #57271
The exception is already raised here: https://github.com/ansible/ansible/blob/ce3ab7b3147f27c607c05dd238f8a202fe0ad12c/lib/ansible/parsing/vault/__init__.py#L689

As only decryption using it could be attempted. This cipher was already removed. There is currently no functionality in ansible vault that could decrypt it. Only the entry within the whitelist, that is used to validate if a vault file is

[2019-06-06 19:50] ShachafGoldstein commented on #57411
I think it only errored on get since it returned null since it was a non existing cmdlet, and bot the import and get gave errors that were simply ignored

@scottd018 can you verify you are using 2.8 as you wrote in the initial description?

[2019-06-06 20:01] samdoran commented on #57248
I have verified that there are tmp files being left behind as of Ansible 2.8.0.

[2019-06-06 20:07] samdoran commented on #57248
Bisected to this commit 8940732b580822b4df5c18d1f21907bbc4f1e0cb

[2019-06-06 20:10] ECRR opened #57505 "postgresql_pg_hba does not correctly handle multiple options"
##### SUMMARY
When there are multiple authentication options and multiple hosts, only the first authentication option is retained for hosts prior to the last

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql-pg-hba-module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

pg_hba.conf should contain
[code]

##### ACTUAL

[2019-06-06 20:13] samdoran commented on #57248
A simpler reproducer:

[code]

[2019-06-06 20:21] webknjaz commented on #54949
So I've found out that @sourcejedi [posted a patch]( http://etckeeper.branchable.com/todo/DNF:_fix_logging__44___so_it_will_work_from_Ansible/#comment-8dd473f6e4097353a0583a9c1b68f016) @ https://github.com/sourcejedi/etckeeper/commit/afbdce2d24b46bc91840044b953aca8b68f20fd3 but it's not clear when it gets accepted by the upstream.

[2019-06-06 20:31] webknjaz commented on #54949
Call stack FTR:
[code]

[2019-06-06 20:59] samdoran commented on #57248
It looks like we are not cleaning up the temporary directory created by `gather_facts`.

[2019-06-06 21:04] felixfontein commented on #53708
Look at the `copy` action plugin (which executes the regular `copy` module): https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/copy.py#L283-L302 It first copies the file into a temp directory, and then tells the `copy` module to use the file from the temp directory.

[2019-06-06 21:15] vespian commented on #55570
Also occurs on Fedora 29, `ansible-2.8.0-2.fc29.noarch`

[2019-06-06 21:38] Neraud opened #57509 "Using a bcrypt password_hash in a playbook that installs passlib fails"
##### SUMMARY
Trying to use a bcrypt hash in a playbook that installs passlib fails.
Running the playbook a second time works fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/utils/encrypt.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

Tested using a Debian Buster vagrant box (`debian/contrib-buster64`).

##### STEPS TO REPRODUC

[2019-06-06 21:41] keilr commented on #57490
!component -test/runner/lib/cloud/acme.py
!component -test/runner/lib/cloud/aws.py
!component -test/runner/lib/cloud/azure.py
!component -test/runner/lib/cloud/cloudscale.py
!component -test/runner/lib/cloud/cs.py
!component -test/runner/lib/cloud/foreman.py
!component -test/runner/lib/cloud/gcp.py
!component -test/runner/lib/cloud/hcloud.py
!component -test/runner/lib/cloud/nios.py
!component -te

[2019-06-06 23:24] andrew80k commented on #55560
@Akasurde, I can't think of anything I've left out.  I'd be happy to add anything I can, though I no longer have access to that environment, unfortunately.  We tried it as many ways as we could think of to get it working, all with no positive results.  We couldn't get any other errors out of it, no more details as to what was causing the issues.  This only happened with a windows template, the lin

[2019-06-06 23:39] nitzmahone commented on #54949
Hrm, the module junk filter would normally take care of this, but because it has support for JSON arrays in addition to dicts (though not sure why, module results should always be a dict IIRC), that first line that starts with `[` is slipping past it. I suspect that if the array case in https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/json_utils.py#L50-L52 were removed, this

[2019-06-07 00:12] abadger commented on #54949
Have to be careful because update_json will need to deliver a stream of dicts.  A list is once way to represent that.  But @sivel discovered an RFC which used a specific single unicode character. to represent a stream of json.  If we used that, we might be able to remove list checking from the junk filter (but might have to add handling for the separator instead).

[2019-06-07 00:49] LaurentDumont commented on #46633
What is the status of this. I was just bitten by this when I lost a node on a 4 nodes Proxmox cluster. I knew it was working right before I lost a node so I dig up this issue.

What is required for a Merge?

[2019-06-07 02:26] chengchengmu opened #57521 "b64encode filter is incorrect in some cases (incorrect padding)"
##### SUMMARY

The b64encode filter in ansible (2.8.0) does not give the correct value in some cases.
Noticed that in those cases, the last character is incorrect.
As a consequence, b64decode on the same value would not give back the original data.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

b64encode filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Output of this command is e

[2019-06-07 02:51] kbreit commented on #56845
I don’t know many people who have used switches, mostly MX appliances. However, I’d suspect most are looping on serial and then working on down. I can ask a few people I know though.

[2019-06-07 03:39] Givo29 commented on #52304
I've recently come back to this project and it all seems to be fixed now. Thanks for the help  - Closing the issue

[2019-06-07 03:39] #52304 closed, assigned to nobody

[2019-06-07 03:47] hexdump0x0200 opened #57522 "ios_config: backups contain non-config lines"
##### SUMMARY
backups contain non-config lines

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

any version IOS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Files 'backups/*' will contain configuration backups that can be used to restore.

##### ACTUAL RESULTS

[code]
Аiles contain at

[2019-06-07 04:02] Akasurde commented on #55560
@andrew80k Thanks for taking time and providing this information. @Tomorrow9 Could you please help us here since you have worked on VMware guest customization issues? Thanks.

[2019-06-07 05:48] Andersson007 commented on #57505
@ECRR , hey, thank you for reporting this issue!

[2019-06-07 05:55] markditsworth commented on #43466
@alexeyd-itsoft see here -> https://github.com/GoogleCloudPlatform/magic-modules/pull/1458/files

[2019-06-07 06:04] Akasurde commented on #57356
@meons Thanks for reporting this issue. I can reproduce this error only If I drop 'datastore' from disk configuration parameter. Could you please check if it specified in playbook ? Thanks.

needs_info

[2019-06-07 06:07] Akasurde commented on #57356
Console -
[code]

YAML
[code]

[2019-06-07 06:47] michalss commented on #57294
What is it mean ?

dnspython return code (string representation)

Thx

[2019-06-07 07:05] MarkusTeufelberger commented on #56850
@Shaps: any updates so far?

[2019-06-07 07:05] MarkusTeufelberger commented on #56930
My issue with this change is that group names now become somewhat "special" - dashes are allowed in host names, but not in group names which makes it a bit weird considering at the start of a playbook in the `hosts:` section I could write host and/or group names.

[2019-06-07 07:06] basos9 opened #57529 "Facts gathering can be skipped when specifying tags (-t)"
##### SUMMARY

Under specific circumstances a playbook run with a tag will skip facts gathering. This in turn makes the affected tasks (that depend on facts) to break.

The use case that failed on our case was a big playbook that affects many groups servers, that we wanted to run only on a specific group, with a specific tag in order to quickly deploy a hotfix. The tasks failed so we had to run th

[2019-06-07 07:12] andreaso commented on #57294
Ok, here is the problem.

While the _nsupdate_ cli tool supports GSS-TSIG (Kerberos) this Ansible module does not. Neither does the underlying _dnspython_ Python module.

As for DNS RCODEEs, you can get the full list at https://www.iana.org/assignments/dns-parameters/dns-parameters.xhtml#dns-parameters-6.

Here it was also hinted in Ansible's return info.

[code]

[2019-06-07 07:20] michalss commented on #57294
Ok thx a lot. it basically means it is not possible to create dns record in Windows AD with ansible module right ? Is there any plan to make this possible or not ? Anyone know pls ? I bet there is a lot of ppl who would like to make this possible. Anyway thank you a lot..

[2019-06-07 07:35] andreaso commented on #57294
If we want the Ansible nsupdate module to support GSS-TSIG my **guess** is that it would require someone new to step up to the plate. I would also assume that it might be a non-trivial endeavour.

[2019-06-07 07:43] nerzhul commented on #57294
@andreaso i don't plan myself to do it, but anybody can contribute

[2019-06-07 09:22] FleischKarussel commented on #56861
Hey guys,
this is rather annoying, as this bug is also included in Tower if you've Upgraded to Tower 3.5.0 which requires ansible 2.8 to be installed aswell.
Just be warned. :)

[2019-06-07 09:23] Zugschlus opened #57532 "all_ipv6_addresses includes link local addresses"
##### SUMMARY

ansible_facts['all_ipv6_addresses'] contains IPv6 addresses of all address types, including the link local addresses:

[code]

While link local addresses (fe80::) are IPv6 addresses and the output is therefore correct in the first place, they're only seldomly used in the real-life _application_ and do need to come with the _interface_ that the address is configured on. They're next

[2019-06-07 09:42] mkrizek commented on #57351
Just a note, the above reproducer (https://github.com/ansible/ansible/issues/57351#issuecomment-498698619) is no longer valid after https://github.com/ansible/ansible/pull/57489 has been merged. That PR limits `Templar.template()` calls if it's not needed. For the reproducer that means that previous to the PR we called the templating engine on data that were not templates and filters got initializ

[2019-06-07 09:46] mkrizek commented on #57351
So the playbook needs to be changed to reproduce the issue again:
[code]

[2019-06-07 10:08] meersjo opened #57533 "List support for mysql_user privs"
##### SUMMARY

Allow lists or dictionaries for privilege specifications, for enhanced readability.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- mysql_user module

##### ADDITIONAL INFORMATION

Currently, mysql_user privileges are specified using a single string and a forward slash as separator between different sets of privileges.

However, when a single user requires multiple privile

[2019-06-07 10:33] Akasurde commented on #56861
@FleischKarussel Could you please share details about your playbook and VM that is being cloned ? I am not able to reproduce this error at my end. Thanks.

[2019-06-07 10:36] Akasurde commented on #56861
@realged13 Does this playbook used to work for 2.7 or earlier releases ?

needs_info

[2019-06-07 11:01] realged13 commented on #56861
Yes works good for me. I had to revert back.

On Fri, Jun 7, 2019, 6:37 AM Abhijeet Kasurde <notifications@github.com>
wrote:

[2019-06-07 11:11] glitchcrab commented on #55570
I can confirm that I'm also seeing this with 2.8 - i've worked around it for now but this was a bit of a head-scratcher at first.

[2019-06-07 11:11] Akasurde commented on #56861
@realged13 Could you please provide additional details so that it will be easy to debug this issue ? Thanks.

[2019-06-07 11:37] FleischKarussel commented on #56861
[code]

this fails with

[code]

[2019-06-07 11:44] mariolenz opened #57535 "vmware_vcenter_statistics doesn't change anything"
##### SUMMARY
You cannot change anything with vmware_vcenter_statistics if you don't change at least one statistics level. These are the lines 348 and following:
[code]
You see, if you don't have at least one statistics level change, both increase_level and decrease_level are False and no changes are made.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vcenter_statistics

##### ANSIBL

[2019-06-07 11:46] Akasurde commented on #56861
@FleischKarussel Does template datastore and datastore specified are same ?

[2019-06-07 11:58] FleischKarussel commented on #56861
@Akasurde
They are both in the same datastore cluster, but usually not the same datastore.
I tried both variants this morning, crowded datastores and a completely empty datastore as target.

[2019-06-07 12:01] resmo commented on #55570
bisect-ed to 15e77ebfe88777536796ca2962e4bb8b25781d01

[2019-06-07 12:03] pratikgadiya12 commented on #57278
The patch is open for review :)
PR: #57474

[2019-06-07 12:19] lolcube commented on #56607
@felixfontein  hi sorry i was sick the last few days but i am currently working on fixing those bugs. When I first wrote the module I didin't generate files in temp locations on purpose because if those locations were unavailable for some reason the module wouldn't work. it's also a ptential security risk when someone screws something up but i guess we run out of options at this point

[2019-06-07 12:34] GrandeTartine commented on #56861
@Akasurde Did you check https://github.com/ansible/ansible/issues/55551 ? It's the same issue I think, and there is some details in that issue.

[2019-06-07 12:40] clammers commented on #57069
👍 Thanks for fixing

[2019-06-07 12:42] webknjaz commented on #54949
@abadger there's also JSON-L which is basically LF delimited lines with JSON objects...

[2019-06-07 12:44] webknjaz commented on #54949
I'm curious whether we could put some magic byte (sequence) in front of the emitted JSON result to make it explicit where it starts...

[2019-06-07 13:10] sinu opened #57538 "checkpoint.py no option to use domain specific authetication"
##### SUMMARY
checkpoint required domain based authentication for  changes on the domain.  checkpoint.py only allowing to pass username and there is no option to pass domain as variable
{"user": "admin", "password": "admin123", "domain": "ex-dom-1"}
##### ISSUE TYPE
checkpoint required domain based authentication for  changes on the domain.  checkpoint.py only allowing to pass username and there i

[2019-06-07 13:22] sinu commented on #57538
correct filename /lib/ansible/plugins/httpapi/checkpoint.py

[2019-06-07 13:25] #57538 closed, assigned to nobody

[2019-06-07 13:25] sinu opened #57540 "checkpoint " checkpoint.py no option to use domain specific authetication"
SUMMARY

checkpoint required domain based authentication for changes on the domain. checkpoint.py only allowing to pass username and there is no option to pass domain as variable
{"user": "admin", "password": "admin123", "domain": "ex-dom-1"}
ISSUE TYPE

checkpoint required domain based authentication for changes on the domain. checkpoint.py only allowing to pass username and there is no option to

[2019-06-07 13:41] pratikgadiya12 commented on #43424
Relates to issue https://github.com/ansible/ansible/issues/52869

[2019-06-07 13:55] #55882 closed, assigned to nobody

[2019-06-07 14:10] maverick1982 opened #57541 "yum_repository is not idempotent"
##### SUMMARY
Molecule idempotence test fails when I add a yum repository with yum_repository module and than install a package contained in that repository with yum module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Host: Ubuntu 16.04
Target: CentOS 7.3 / CentOS 7.4

##### STEPS TO REPRODUCE

[2019-06-07 14:15] genofire commented on #52869
/close duplicated to #42424 ?

[2019-06-07 14:25] sivel commented on #54949
Here is what I had previously linked to: https://en.wikipedia.org/wiki/JSON_streaming#Record_separator-delimited_JSON

Which is formally described by https://tools.ietf.org/html/rfc7464

[2019-06-07 14:26] webknjaz commented on #54949
@sivel It's similar to what I had in mind: RS could be a protocol version..

[2019-06-07 14:31] jpmens commented on #34569
This bug report was opened 1.5 years ago. It is marked as `easy_fix` and `bug`. It still demonstrates the same behavior (missing files in archive == **data loss**) in `ansible 2.8.0`.

cc: @bsdlme

[2019-06-07 14:42] andrei-m opened #57542 ""Gathering Facts" hangs on Python interpreter discovery step"
##### SUMMARY
We operate Packer builds through Jenkins, and those Packer builds use Ansible provisioners. We recently upgraded from Ansible 2.7 to 2.8 and started to experience indefinitely hanging builds on the "Gathering Facts" step. Further investigation narrowed it down to a hanging `ssh` command as part of the "Attempting python interpreter discovery" step.

##### ISSUE TYPE
- Bug Report

###

[2019-06-07 15:00] pratikgadiya12 commented on #43594
Issue is reproducible

[2019-06-07 15:18] raptorr opened #57543 "Network_cli/Paramiko plugin password authentication fails"
##### SUMMARY

When attempting to connect to cisco switch, ansible raise: "    "msg": "Invalid/incorrect username/password. Authentication failed."
After 'hardcoding' password inside paramiko_ssh.py plujgin, connection was successfull. Seems like --ask-pass do not pass it content to network_cli plugin

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
connection: network_cli, paramiko_ssh

#####

[2019-06-07 15:19] jctanner commented on #57542
@andrei-m just to confirm that the discovery functions are causing the hang, can you please validate that setting `ansible_python_interpreter=...` for the hosts will workaround the issue?

needs_info

[2019-06-07 15:21] jctanner commented on #57542
Oops, I should have read to the bottom of the description. Ignore my previous question.

!needs_info

[2019-06-07 15:23] westurner commented on #54949
Could there be a force_not_json=True parameter somewhere?

On Friday, June 7, 2019, Sviatoslav Sydorenko <notifications@github.com>
wrote:

[2019-06-07 15:23] camillehuot opened #57544 "k8s module stopped working after migrating from Openshift 3.6 to 3.7 (403 Forbidden: User "system:serviceaccount:observers:ansible" cannot "get" on "//version")"
##### SUMMARY

We use the k8s Ansible module to deploy components on the Openshift platform.
The module stopped working after migrating the cluster from 3.6 to 3.7 with the error below:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module: k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

To reproduce, I deploy openshift 3.6 an

[2019-06-07 15:24] westurner commented on #54949
Is it written somewhere in the docs that output should not start with a
JSON control character if it's not JSON? { [

On Friday, June 7, 2019, Wes Turner <wes.turner@gmail.com> wrote:

[2019-06-07 15:24] webknjaz commented on #54949
I think that'd be not good from a design perspective.

[2019-06-07 15:28] sivel commented on #54949
Modules communicate their results back as JSON responses. If something else outputs data, regardless of it being JSON can cause parsing issues. Due to misconfigurations of bash profiles and other configurations, we try to strip out non JSON lines, but in the case of etckeeper it is printing out lines that look like JSON, so we don't strip those lines, which then breaks our ability to parse the mod

[2019-06-07 15:29] kgangihv opened #57545 "ovirt/rhev ovirt_tag not set for all hosts from dynamic inventory"
##### SUMMARY
I am working on implementing a tag defining geolocation for all hosts in a given data center.  After running ovirt_tag module on all hosts in a data center...none of the hosts have been tagged with the geolocation tag.

Thank you for your time

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_tag.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVI

[2019-06-07 15:31] camillehuot commented on #57544
$ pip show openshift
Name: openshift
Version: 0.8.7

[2019-06-07 15:32] davidrobertmason commented on #14130
I was looking for this to conditionally delegate_to remote instances in a nice way.

currently having to duplicate tasks and use something like

[code]

My use case is using ec2 modules in an environment that uses ec2 interface endpoints to connect to the ec2 service without crossing the internet.

So for resources that need to be built in a separate region, I delegate to a separate Ansible instan

[2019-06-07 15:35] camillehuot commented on #57544
I upgraded to latest openshift-0.8.9.
Openshift 3.6 still works.
Output is different for 3.7 (still fail):

[code]

[2019-06-07 15:37] cscheib opened #57546 "gcp_iam_service_account_key - TypeError: write() needs string not bytes"
##### SUMMARY

When using the gcp_iam_service_account_key module, I am receiving a TypeError when writing the key out to a file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_iam_service_account_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Mojave 10.14.5

##### STEPS TO REPRODUCE

run a task, similar to the examples in the documentation

[2019-06-07 15:41] tbennett6421 opened #57547 "[Feature Req] [win_domain_user] add a creation return value"
##### SUMMARY

For the win_domain_user module, it would be nice to have a Boolean returned value called `created` as `changed` would not always been indicative of creation.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_domain_user

##### ADDITIONAL INFORMATION
I think anyone that wants to manage service accounts or guest accounts where the password is always going to be set to a known

[2019-06-07 15:42] joelgriffiths commented on #57138
I'm trying to find a way to work around this. If it marks the hosts failed, where can I access that information in the playbook so I can generate a failure for the remaining nodes? Is there any way to do this? I could possible set hostvars if something failed, but I would have to check for failure and set it for every single task in the playbook. In addition, I would need to override the failures

[2019-06-07 15:42] cscheib commented on #57546
I was able to fix this by adding `.decode("UTF-8)`  to the end of the `private_key_contents` variable assignment.  I'm not sure it's both python2 and 3 safe, so I won't submit a PR quite yet.  I'll create a fork shortly and link to it.

It is worth noting that this scenario probably works fine in python2 as-is, due to the less strict interpretation of bytes vs string.

[2019-06-07 15:51] sivel commented on #57542
If I were to make an educated guess, this is likely a result of the local ssh proxy that is created by the ansible provisioner in packer, which is breaking pipelining ability.

I think we may need to evaluate honoring the pipelining config in interpreter discovery, instead of only using pipelining.

[2019-06-07 15:53] adhawkins opened #57548 "Add modules to support manipulation of borgbase SSH keys and repositories"
##### SUMMARY
Add ansible modules to allow the manipulation of borgbase SSH keys and repositories

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
borgbase_ssh
borgbase_repo

##### ADDITIONAL INFORMATION

https://www.borgbase.com/

This would allow the scripted creation of borg repositories hosted at borgbase, allowing automatic configuration of server backups using borg.

[code]

[2019-06-07 15:54] adhawkins commented on #57548
I've started working on this, and have working 'local' modules that allow the above playbook to run. Now looking at integrating them into ansible proper, with a view to getting the modules accepted into the main ansible module list.

[2019-06-07 16:06] cscheib commented on #57546
opening the file for writing in binary mode is another option to resolve this (although, again, I don't know how python2/3 safe this is).  appending `b` to the existing `w` in the open() call worked for me without error.

https://github.com/ansible/ansible/blob/cf00883c9d7987331e786a9eb13a0564c338f90a/lib/ansible/modules/cloud/google/gcp_iam_service_account_key.py#L206

[2019-06-07 16:40] cscheib commented on #57546
Looks like I found the upstream where this module is auto-generated... I'll open an issue there, too, and link them

https://github.com/GoogleCloudPlatform/magic-modules/blob/578b4f9245bbde396548bc74d65a0cde52d1b010/products/iam/helpers/ansible/service_account_key_template.erb#L79-L81

[2019-06-07 16:58] ph448 commented on #28991
This is still happening with Ansible 2.7.11.
I disagree with @bdkakdb that it's the same issue. If I run `apt update` manually or use a separate `apt` task to only update the cache before the one installing packages, package installation succeeds, but Ansible does not seem to successfully execute the cache update correctly on tasks that also install packages.

[2019-06-07 17:39] askhari commented on #56732
@lconnell , you're welcome! :)
Let's hope this fix will be merged for version 2.9.

[2019-06-07 18:21] darkn3rd commented on #56963
I did some tests (inspec), and the `network_mode` works fine for the functionality.  Docs change much appreciated, and thanks for explanation, much appreciated.

[2019-06-07 18:28] cscheib commented on #57546
I submitted upstream PRs with possible solutions to the GoogleCloudPlatform/magic-modules repository:
GoogleCloudPlatform/magic-modules#1894
GoogleCloudPlatform/magic-modules#1895

[2019-06-07 18:38] miked235 commented on #57478
Quick update, this might be a bug with the API: https://bugzilla.redhat.com/show_bug.cgi?id=1718141

[2019-06-07 19:04] tbennett6421 commented on #57547
!component +lib/ansible/modules/windows/win_domain_user.py

[2019-06-07 19:05] tbennett6421 commented on #57547
!component +lib/ansible/modules/windows/win_domain_user.ps1

[2019-06-07 19:37] nitzmahone commented on #57542
I haven't tried to repro locally yet, but @sivel's assessment seems the likely culprit- packer's ssh proxy causes us grief elsewhere, too.

The indefinite hang is a problem. I could live with interpreter discovery failing in this case (it was designed as a "best effort" way to walk up to an unknown host and get a sane interpreter, not to cover all the possible corner cases), but it needs to fail,

[2019-06-07 19:53] chrissphinx opened #57554 "Can `acme_certificate` Finalize Step Be Skipped?"
##### SUMMARY

`acme_certificate` module example for obtaining a certificate using DNS-01 challenge makes use of `when:` to only make DNS changes when the certificate is actually renewed. See this line: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/crypto/acme/acme_certificate.py#L287

However, the second step of the process of finalizing and obtaining the certificate _does not

[2019-06-07 19:54] Thulium-Drake commented on #55551
I found another clue in this, does your template have a disk size that differs from the desired state?

I have noticed when I am cloning a template that has a disk of 1MB (just mock templates) to a VM with a desired disk size of 10GB it barfs on this error.

[2019-06-07 20:03] webknjaz commented on #12608
WIP PR by @ahlinc: https://github.com/ansible/ansible/pull/57526

[2019-06-07 20:22] sinu commented on #57540
i fixed myself by adding options and self.get_option

[2019-06-07 20:22] #57540 closed, assigned to nobody

[2019-06-07 20:58] CullyB commented on #48280
I've come across an issue that may be related to this one; ansible version is 2.6.17, arista EOS is at 4.19.

Whenever this runs against arista's 7010T platform, I get the following output in the failure:

"data": "timeout trying to send command: commit"

And when ssh to the switch to see what's going on, I see the ansible config session and upon joining it the pending diff looks accurate and issu

[2019-06-07 21:08] b2sweety commented on #53270
I see the same behavior on the Juniper device (EX2300). The playbook runs successfully with changed as false (not sure why because I do have change between the running config and the config I am pushing), but the switch still shows me the old config. Here's my playbook.
---
- name: CHANGE CONFIGURATION
  hosts: EX2300
  gather_facts: false

  tasks:

    - name: RESTORE CONFIG
      cli_config:

[2019-06-07 21:17] jctanner commented on #16894
Patch for sshpass submitted upstream https://sourceforge.net/p/sshpass/patches/10/

[2019-06-07 21:39] felixfontein commented on #57554
Good point. Yes, the second `acme_certificate` step is only needed if the first one returns `changed`. It does not make a difference, usually, since the second step will also not do anything because of `remaining_days: 60`. Except in the somewhat unlikely case that the number of remaining days jumps from 60 to 59 exactly between the two calls...

[2019-06-07 21:45] felixfontein commented on #57554
I've created a PR to fix this: #57557 (and while fixing it, I found another bug in the docs)

[2019-06-07 22:16] makrohn commented on #55551
@Thulium-Drake - yeah, that's why my workaround works - if you don't try to change the disk size, it completes correctly.

I hope this gets fixed rapidly.

[2019-06-07 22:18] chrissphinx commented on #57554
Thanks, @felixfontein!

[2019-06-07 22:51] lucastheisen commented on #55388
I think i just ran into this with `Template` after updating to `0.8.8` of openshift/openshift-restclient-python.  It worked fine with 0.8.6, but now i get:
[code]
I tried both `v1` and `template.openshift.io/v1` for both `api_version` and `definition.apiVersion`.  My `oc` client reports that the existing (added using 0.8.6) has apiVersion `template.openshift.io/v1`:
[code]
but was originally inser

[2019-06-07 22:54] SamyCoenen commented on #57483
@rnestler As you said, this module exists to do the required API calls.

Creating configuration files can be accomplished using the template module, all this configuration information in TOML-format is known beforehand except the runner token which is returned by this module as a runner object and can be inserted while templating using something like `{{ output.runner.token}}`.
Additionally it cou

[2019-06-08 00:10] hryamzik opened #57560 "service unreachable error in async mode"
##### SUMMARY

service restart fails in async mode

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

`18.04.1 LTS (Bionic Beaver)`, openvpnas instance

##### STEPS TO REPRODUCE

- Configure openvpn based on openvpnas
- Configure ansible connection over VPN
- Run playbook with restart handler

`handlers

[2019-06-08 03:48] markditsworth commented on #43466
I have not had any luck with using `service_account_contents` and ansible vault. The resulting output is as follows:
```fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "/home/markd/.ansible/tmp/ansible-tmp-1559965301.8284967-13792358175925/AnsiballZ_gcp_compute_disk.py:18: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for

[2019-06-08 03:58] kbreit commented on #56845
@feisa I believe some people are using IPAM or asset management tools to feed the inventory in. But that assumes you have a single source of truth you could query against to build your inventory. Alternatively, you could have the playbook go through each network, pull the serial number associated to whatever devices in each network, and then iterate through it that way.

Were you able to resolve t

[2019-06-08 06:11] #57554 closed, assigned to nobody

[2019-06-08 13:30] felixfontein commented on #46749
Interesting that it took more than half a year to get informed about this issue. @mjmare you should **really** use the template when filing issues! It's there for a reason.

Anyway, the `dockerfile` option is passed unmodified and untouched to docker-py. Also, docker-py's documentation for `dockerfile` says "`path within the build context to the Dockerfile`". So why don't you just specify a relati

[2019-06-08 13:33] felixfontein commented on #46749
Docs clarification PR in #57570.

[2019-06-08 13:39] felixfontein commented on #33731
Out of curiosity: why aren't you using `docker_image` to push images? (Potentially it didn't support that when you opened this issue.)

needs_info

[2019-06-08 13:48] ShachafGoldstein commented on #52293
-label windows

[2019-06-08 13:51] felixfontein commented on #23129
resolved_by_pr #55816

This has been fixed and backported to 2.7 and 2.8.

close_me

[2019-06-08 13:51] ShachafGoldstein commented on #33273
@jborean93 @nitzmahone - Is this issue still relevant? no activity for over a year

[2019-06-08 13:53] ShachafGoldstein commented on #23165
@jborean93 @nitzmahone - Is this issue still relevant? no activity for over a year

[2019-06-08 13:59] felixfontein commented on #16525
This should work fine. If you specify `repository` and set `push` to `false`, the image should be tagged without pushing.

Just noting, the `push` option has been added for Ansible 2.2, so after you created this issue. I guess it is no longer needed then.

close_me

[2019-06-08 14:00] #23129 closed, assigned to nobody

[2019-06-08 14:02] ShachafGoldstein commented on #51967
Can you give some more information, like what site are you trying to change? the default site?

[2019-06-08 14:07] #16525 closed, assigned to nobody

[2019-06-08 14:30] ShachafGoldstein commented on #50585
Not seeing this issue on my end.

[2019-06-08 14:37] ShachafGoldstein commented on #31051
@jborean93 @nitzmahone - Not sure if this feature idea is relevant, did only short research into it and from what I can tell and my general knowledge this will be a super complex module to maintain

[2019-06-08 14:39] ShachafGoldstein commented on #31050
@jborean93 @nitzmahone - Is this relevant or falls under the collections new approach?

[2019-06-08 14:42] Akasurde commented on #30112
Fixed via 28c44c554c9aca6e39c53f4ab942eac657daf654. Marking this as closed.

[2019-06-08 14:42] #30112 closed, assigned to Akasurde

[2019-06-08 15:05] felixfontein commented on #56607
No problem, just wanted to see if there's any update. You can always ask Python to generate a tempfile/tempdir for you; that mechanism should be pretty robust (and a lot of modules are using it).

About security risks: that's true indeed. The main risks (as opposed to writing the file directly to the destination) are probably:
 1) an attacker can monitor every data written/read from the temp locat

[2019-06-08 16:09] Jakski opened #57573 "file module reports "absent" on PermissionError"
##### SUMMARY
`file` module reports `absent`, when it can't access path to delete.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`file` module

##### ANSIBLE VERSION
[code]
It's from commit `c50a75a41e902cebf9f6438818570306e3ea71ba`(`devel` branch).

##### CONFIGURATION
`ansible-config dump --only-changed` doesn't return anything. I didn't overwrite any defaults.

##### OS / ENVIRONMENT
[co

[2019-06-08 17:13] agowa338 commented on #55962
That it currently works is kinda interesting, most of the implementation is missing and there are some checks that validate the input to be a valid ipv4 address...

[2019-06-08 17:49] ShachafGoldstein commented on #55962
Seems this isn't officially supported hence the name `ipv4_addresses` - shouldn't count on it to work or use it for IPv6 unless someone extends the module

[2019-06-08 18:11] agowa338 commented on #55962
I'm think I'll look into extending it. The relevant windows api does not really differentiate between ipv4 and ipv6 anyway, as it seams.

[2019-06-08 20:58] dxrpl commented on #53708
OK, so my efforts was useless. This is unacceptable to leave it like that in my use case (or general really). I did dirty hack by mounting ramdisk into /tmp but I'm going to write a piece of code to make it proper way.

[2019-06-09 00:54] kittys693 opened #57580 "vmware_guest_move module throws an error at File "/tmp/ansible_vmware_guest_move_payload_WiO69k/__main__.py""
##### SUMMARY
vmware_guest_move module throws an error in main.py file.Error is described as
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_move
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
target: win

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

need to move the provided vm_name to the destination folder specified
#####

[2019-06-09 02:44] muthurd opened #57581 "Error while deploying and registering the EC2 instances"
Error while deploying and registering the EC2 instances
---
- name: Deploy VM
  ec2_instance:
    region: "{{ region }}"
    key_name: "{{ key_name }}"
    vpc_subnet_id: "{{ vpc_subnet_id }}"
    instance_type: "{{ instance_type }}"
    security_group: default
    network:
      assign_public_ip: true
    image_id: "{{ image }}"
    user_data:  "{{ lookup('file', '{{ user_data }}') }}"
    tags:

[2019-06-09 04:13] Akasurde commented on #57580
@kittys693 Thanks for reporting this issue. Could you please check if PR #57582 works for you and let me know ? Thanks.

needs_info

[2019-06-09 07:24] anuragsetia commented on #43845
@fabianvf I am facing a similar issue with Ansible 2.8.1 and pip openshift 0.8.9 on Ubuntu 19.04 when creating a project on OpenShift v3.11 even if verify_ssl is being set to no or false. The server does have a self signed certificate generated during installation.

With openssl, I get the Verify return code: 19 (self signed certificate in certificate chain).

With a logged in openshift session, t

[2019-06-09 08:00] kustodian commented on #46200
A workaround is to set `ANSIBLE_LOCAL_TEMP` to something writable by all users, e.g. `/tmp`, but it would be a lot better if Ansible works inside Docker out of the box.

[2019-06-09 08:29] kustodian commented on #57344
I've managed to make it work by providing an empty `service_account_file:`, but that is just a workaround, it shouldn't need to be set.

[2019-06-09 10:41] loeken commented on #29465
so how is one supposed to clone into an existing folder now?

[2019-06-09 13:20] neingeist commented on #54855
This is still an issue with Ansible 2.8

[2019-06-09 15:09] kittys693 commented on #57580
No.It doesnt work.Still the error is the same

{
    "_ansible_parsed": true,
    "exception": "WARNING: The below traceback may *not* be related to the actual failure.\n  File \"/tmp/ansible_vmware_guest_move_payload_a7ATTY/__main__.py\", line 192, in main\n    vm_full = vm_path + '/' + module.params['name']\n",
    "_ansible_no_log": false,
    "invocation": {
        "module_args": {

[2019-06-09 15:19] antonio-guillen opened #57587 "[ansible-2.8.0] ERROR! 'import_playbook' is not a valid attribute for a Play"
##### SUMMARY
__import_playbook__ doesnt works in ansible-2.8.0. The same playbook works in ansible-2.7.7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_playbook

##### ANSIBLE VERSION
ansible-2.8.0

##### OS / ENVIRONMENT
Fedora Linux

##### STEPS TO REPRODUCE
Execute a playbook with __import_playbok__ in ansible-2.8.0

##### EXPECTED RESULTS
It must works.

##### ACTUAL RESULTS
With

[2019-06-09 16:23] flowerysong commented on #57581
This is not a bug.

Github [ate your formatting](https://help.github.com/en/articles/creating-and-highlighting-code-blocks), but the error message indicates that you have indented `register:` incorrectly. register is a task parameter, not a module parameter.

Correct:
[code]

Incorrect:
[code]

[2019-06-09 17:14] FragmentedPacket commented on #57397
I was looking at this and it appears that Netbox allows racks to be created with the same name and features within the same site, etc. so I'm wondering how we could differentiate between the racks that makes sense.

One way we resolved it with other modules is to have the `rack` option have sub-options to specify more attributes of the rack (`name`, `site`, `asset_tag`), but this could very well b

[2019-06-09 19:35] mariolenz commented on #57224
I just found issue [#38](https://github.com/vmware/vsphere-automation-sdk-python/issues/38) to get the vSphere Automation SDK on PyPi. Maybe this would make things a little bit easier.

[2019-06-09 20:48] imjoseangel commented on #57580
Can you confirm pivmomi version and VCenter Version? I have just tested the module before the PR with the following and it works for me:

[code]

[code]

**VCenter 6.5**

[code]

[2019-06-09 20:51] DoctorKM commented on #57397
OK, but changing from `slug` to `name` gives this error only when two racks with same names exists, not when just two racks exist. So I think that's better solution that what we have now. Also, chances for somebody having two racks with exact same name are slim.

[2019-06-09 21:09] kustodian commented on #55753
What do you mean by GCP hostname? Do you mean the hostname that is set in VM itself? If that is the case, that is not possible to fetch from the Google API because it doesn't support it.

What I would suggest as a feature is to be able to use any attribute which is returned by the dynamic inventory as the name of the instance, basically the same thing you can do with `compose:` parameter should be

[2019-06-09 21:10] mshaibek commented on #57587
@agdg I wasn't able reproduce it. And don't really see any code changes in `import_playbook` between `2.7.7` and `2.8.0` versions
1. Can you find `import_playbook.yaml` in modules?
- `find /usr/lib/python3.7/site-packages/ansible/ -name import_playbook.py`
2. Did you install `ansible-2.8.0` with `yum`? If not, how did you install it? And what version of Fedora Linux are you using?
3. Can you try i

[2019-06-09 21:13] kustodian commented on #56753
On Ansible 2.8 metadata is a dict:
[code]

[2019-06-09 21:57] FragmentedPacket commented on #57397
Sorry about that. I misunderstood the issue.

You're correct and I will add an approval to your PR you have submitted. Could you follow the `Creating a Changelog Fragment` to document the bugfix? You can look at PR #56550 as to guidance on it.

[2019-06-09 22:23] kokasha opened #57592 "IP Address Filter not Returning correct Host IPs"
##### SUMMARY
When using the IP address filter to retrieve the host IP address from a IPv4 prefix. The IP address filter only works when using negative host id

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
IP address Filter

##### ANSIBLE VERSION
$ ansible --version
ansible 2.8.1
  config file = /vagrant/ch2_ios/ansible.cfg
  configured module search path = ['/home/vagrant/.ansible/plugins/

[2019-06-09 22:55] mshaibek commented on #57485
@alvicsam
#44717 made fact gathering obey play tags. Since you have tag defined at the playbook level, gathering of facts is being skipped. As a result 'ansible_os_family' is undefined when running a task

[2019-06-09 23:52] juju4 opened #57593 "[Macos][2.8] include_vars failing"
##### SUMMARY
Since 2.8.0 and on 2.8.1, previously working role is failing on include_vars. file is identified as not found where it exists.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible core/include_vars

##### ANSIBLE VERSION
Non-working
[code]
from brew

Good
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Travis
Xcode 9.4 (Macos 10.13.3), 9.2 (10.12.6)

##### STEPS T

[2019-06-10 01:18] kittys693 commented on #57580
pyvmomi==6.7.1.2018.12
VCenter 6.5.0

The versions are same.
I could use vmware_guest,vmware_guest_powerstate,vmware_guest_facts.They all were success and was only failing at destination paath for vmware_guest_move as described above.

[2019-06-10 01:53] kittys693 commented on #57580
yeah it worked.Thankyou

[2019-06-10 02:13] vamshi8 opened #57595 "with when, multiple conditions with role are not working"
##### SUMMARY
Below is my role, I have three conditions to execute lke this and that does no work.
      - { role: test_role, when: status != 'ARCHIVE' or status != 'DECOM' or status != 'NEW' }

But if I apply one condition it working.
      - { role: test_role, when: status != 'ARCHIVE'}

Please let me know what can be the solution for this.

I have also tried
      - { role: test_role, when: “st

[2019-06-10 02:33] Akasurde commented on #57592
@kokasha Thanks for reporting this issue. This is already reported here -  https://github.com/ansible/ansible/issues/55570. You can provide your valuable insights in this issue. Thanks.

[2019-06-10 02:33] #57592 closed, assigned to nobody

[2019-06-10 02:37] kittys693 opened #57597 "VMware: vmware_guest module to remove a vm throws an error in python files"
##### SUMMARY

vmware_guest throws an error in several python files to remove a vm.
It gives a msg unable to reach vCenter,but I have tried several modules in the code above like vmware_guest_facts,vmware_guest_powerstate,vmware_guest to rename a host,vmware_guest_move.All the modules worked fine with the same host.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE V

[2019-06-10 03:24] Akasurde commented on #57597
@kittys693 Thanks for reporting this issue. Please go through [this](https://docs.ansible.com/ansible/latest/scenario_guides/vmware_scenarios/vmware_requirements.html) documentation for any SSL related issues. Thanks

needs_info

[2019-06-10 03:50] kokasha commented on #55570
Further testing with both a list of prefixes or a  single prefix and i found the following

- hosts: localhost
  vars:
    subnets: ['10.1.1.0/24', '10.1.2.0/24']
    prefix: '10.1.1.0/24'
  tags: test
  tasks:
    - debug: msg={{ subnets | ipaddr(1) }}  #NotWorking
    - debug: msg={{ subnets | ipaddr('1') }}  #NotWorking
    - debug: msg={{ subnets | ipaddr(-1) }}  #Working
    - debug: msg={{ s

[2019-06-10 06:09] mkrizek commented on #57595
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-06-10 06:09] #57595 closed, assigned to nobody

[2019-06-10 06:24] justjais commented on #57447
@rajaspachipulusu17 can you please paste in the play complete verbose output by appending `-vvvv` to the play run.

[2019-06-10 06:30] Fred-sun commented on #45330
@zikalino Please help take a look this issue when you're available! Thanks a lot!

[2019-06-10 06:32] justjais commented on #57447
@rajaspachipulusu17 also, on 1st level checking it seems that `cliconf_loader` (ref: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/network_cli.py#L247) is failing for netvisor, currently I am investigating why it was working in `2.7` and broken in `2.8`. I'll update the issue with more details

[2019-06-10 06:36] imjoseangel commented on #57580
Hi!

What was working? New changes?

Thank you for sharing!

[2019-06-10 07:00] rajaspachipulusu17 commented on #57447
root@be8dd4098816:/opt/rajas# ansible-playbook -i hosts test.yml -vvvv
ansible-playbook 2.8.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python version = 2.7.12 (def

[2019-06-10 07:01] rajaspachipulusu17 commented on #57447
ok sure.

[2019-06-10 07:01] Fred-sun commented on #56356
@zikalino Thank you very much for your reply. When you finish the modification, please link the PR address and I will test it!

[2019-06-10 07:16] #57505 closed, assigned to nobody

[2019-06-10 07:24] #56472 closed, assigned to nobody

[2019-06-10 07:27] #54688 closed, assigned to nobody

[2019-06-10 07:50] #55869 closed, assigned to nobody

[2019-06-10 07:56] alexeyd-itsoft commented on #43466
The same thing. I wasn't able to pass credential file. Maybe the file should be formatted in specific way? That's why I asked about some example

[2019-06-10 08:24] alvicsam commented on #57485
@mshaibek
Thank you for the links. I hadn't found any notes in the documentation before I made the issue.
Probably, it would be better to describe this behavior in the "playbooks_tags" documentation page because now it is unclear.

[2019-06-10 08:26] tsunami28 opened #57604 "win_copy adds characters to my script"
##### SUMMARY
While using win_copy to transfer the script to the Server, the script gets broken because additional characters are added.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_copy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS is Windows Server 2016. Ansible is used from WSL.

##### STEPS TO REPRODUCE

Plane copy of the script and

[2019-06-10 08:28] agowa opened #57606 "Allow block to change strategie"
##### SUMMARY

The blocks should be able to change the strategy within a playbook.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Blocks

##### ADDITIONAL INFORMATION

When provisioning a windows environment with multiple domain controllers, both domain controllers get simultaneously provisioned as a independent domain.

The role would be more clean if one could just specify:
[code]

This

[2019-06-10 08:31] Akasurde commented on #57306
@gamuniz Could you please provide the required information as stated above ? Also, provide the ESXi version, open VM tool version or VMware tools version, Perl version.

needs_info

[2019-06-10 08:44] ShachafGoldstein commented on #57604
Can you edit the file, delete the line and write it again? don't copy, just write it out and try?

sometimes copying between OS / editors breaks stuff encoding wise

[2019-06-10 08:48] agowa opened #57607 "win_domain fails using vmware_tools connection plugin"
##### SUMMARY

I tried to use this module against a windows server 2019 core using the vmware_tools transporter and it fails with a exception, no real error message is shown.

Edit: The win_domain module invokes Install-ADDSForest, which stops the Netlogon service. The module starts it again, but that is to late, as the vmware_tools connection plugin already failed and terminated script execution

[2019-06-10 08:51] Tomorrow9 opened #57608 "VMware: request returned disk info from vmware_guest_disk_facts containing controller type"
##### SUMMARY

Hi, the returned disk info from vmware_guest_disk_facts module not contain disk controller type, e.g., pvscsi, lsilogic, etc. We need this info besides controller bus number or controller key. Thanks.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest_disk_facts
##### ADDITIONAL INFORMATION

We want to get the controller type info the disk attaching to.

[code]

[2019-06-10 08:52] ShachafGoldstein commented on #57607
Other modules work correctly?

[2019-06-10 08:55] jborean93 commented on #57607
We don't support PSCore right now, the main problem is that we don't test it in CI and can never guarantee that it will continue to work. I won't close this because I'm unsure whether vmware_tools needs to be changed to report the proper error but the Windows module will require PS Desktop to run.

[2019-06-10 08:59] agowa338 commented on #57607
jborean93: it is not about pscore, it is about the server core, e.g. without desktop experiance. It has the normal powershell installed.

[2019-06-10 09:07] jborean93 commented on #57604
I don't believe this is a problem with win_copy, it seems like your source file has an [em-dash](https://www.fileformat.info/info/unicode/char/2014/index.htm) where you are just expecting a standard `-` (hyphen) character. PowerShell will not function correctly with this character as a substitute with `-` and the source file will have to be fixed. In fact we copy the file as a byte for byte transf

[2019-06-10 09:07] #57604 closed, assigned to nobody

[2019-06-10 09:08] tsunami28 commented on #57604
This helped:
- name: Remove a line from the file
  win_lineinfile:
    path: c:\Temp\ToDo\SetStaticIP.ps1
    state: absent
    regexp: '^New'
- name: Insert New Line under the Regex configuration
  win_lineinfile:
    path: c:\Temp\ToDo\SetStaticIP.ps1
    regexp: '^PasswordAuthentication'
    insertafter: '^InterfaceIndex'
    line: "New-NetIPAddress -IPAddress $IPAddress -PrefixLength 24 -Defau

[2019-06-10 09:10] jborean93 commented on #57607
Ah sorry, it's late at night and I misread what you said.

[2019-06-10 09:12] stravassac commented on #57475
[code]
work for both, I'll make a fix

[2019-06-10 09:50] agowa338 commented on #57607
Ok, this issue is not caused by trying to install the administration center. Apparently this one can be installed on core servers. It was just fixed, as I had a win_feature step before invoking this module that already installed the features.
This error occurs every time this module tries to install anything.

So some investigation is still required...

[2019-06-10 09:51] emper0r opened #57610 "module win_xml issue"
##### SUMMARY

Using win_xml component connected to windows server but can't modify xml file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_xml

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
ansible manager: CentOS 7.5.1804
remote host: Windows 2016 STD

##### STEPS TO REPRODUCE

ANSIBLE_DEBUG=1 ansible-playbook playbookfile.yml -vvv

[code]

##### EXPECTED RESULTS

modify xml f

[2019-06-10 10:04] DoctorKM commented on #57397
Yes, of course, I'll do it.

[2019-06-10 10:23] ShachafGoldstein commented on #57610
why is there a ] in your XPath?

can you write the specific error? you didn't place the output in a code syntax markdown and it is very hard to read

[2019-06-10 10:38] gundalow commented on #34569
Does https://github.com/ansible/ansible/pull/52117 fix the issue for people?

[2019-06-10 10:40] ShachafGoldstein commented on #57607
can you put the output of running it verbose here? -vvv

[2019-06-10 10:59] emper0r commented on #57610
xpath is corerct ,

xpath: /configuration/appSettings/add [ @key='{{ item_rpt.key }}' ]

it's the call to select attribute using id from item_rpt is between [ ]
and works with other situations.

Specific error is:

can't get element.

fatal: [serverB]: FAILED! =>
msg: list object has no element 0

[2019-06-10 11:02] Akasurde commented on #57593
@juju4 Could you please check if PR #57605 works for you and let me know ? Thanks.

needs_info

[2019-06-10 11:03] Akasurde commented on #57593
resolved_by_pr #57605

[2019-06-10 11:27] christ2016 commented on #57226
Can I do anything more to expedite this?

[2019-06-10 11:35] Akasurde commented on #19630
needs_info

[2019-06-10 11:42] ShachafGoldstein commented on #57610
missed the [ before that's why I asked.
on which of the items does it fail? all? first? last? if you use that XPath with a different tool on the file, it works for the one that fails?

[2019-06-10 12:15] jpmens commented on #34569
`ansible -c local localhost -m archive -a 'format=bz2 path=dir/ dest=arch`

I cannot detect a difference for `dir/` containing two files (one empty, one with `hello` in it) for formats `zip` or `bz2`: the `zip` format contains both files with or without patch, and the `bz2`, `gz`, and `tar` formats all omit the empty file.

[2019-06-10 12:25] jpmens commented on #34569
https://github.com/ansible/ansible/pull/56139 works for me.

[2019-06-10 12:29] jpmens commented on #34569
https://github.com/ansible/ansible/pull/52117 works for me.

[2019-06-10 12:34] emper0r commented on #57610
We have test it in other server and works.
Seems like with this windows can't modify the file... and permissions are correct (because this run for both server windows 1st works, 2nd no. Both windows server are identically but  if we can see what exaclty do at windows side maybe can handle it, the issue can't see in debug what exactly does.

[2019-06-10 12:57] vlitvin opened #57618 "Regression: --diff does not produce output when template creates new file"
##### SUMMARY

##### ISSUE TYPE
- Bug Report
- Regression

##### COMPONENT NAME
template module

##### ANSIBLE VERSION

[code]
ansible 2.8.0 is also affected

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Create two files: template and playbook to generate file based on template

template: ./template_test.j2
[code]

playbook: ./template_test.yaml
[code]

Then run playbook:

[2019-06-10 13:06] KarieCook opened #57619 "Unable to disable and enable yum repositories in one step using example provoded"
##### SUMMARY

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-06-10 13:13] mkrizek commented on #57619
Please create a new issue with information about what examples are incorrect or stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-10 13:13] #57619 closed, assigned to nobody

[2019-06-10 13:44] miked235 commented on #57478
Fixed by using the "All-content: True" header to return all attributes of the object.

The following will return a list of HostNic objects for a given nic_name with all applicable attributes:
`nic = [e for e in nics_service.list(headers={'All-content': True}) if e.name == nic_name]`
Finally, you can use the following to get the vf config:
`nic[0].virtual_functions_configuration`

[2019-06-10 13:44] #57478 closed, assigned to nobody

[2019-06-10 14:14] acozine commented on #54855
@ndusart we've documented [how python interpreter discovery works](https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.8.html#python-interpreter-discovery) in the 2.8 porting guide. Hope this helps.

[2019-06-10 14:15] bcoca commented on #17757
This is now documented in https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#using-multiple-inventory-sources

[2019-06-10 14:15] #17757 closed, assigned to bcoca, acozine

[2019-06-10 14:16] bcoca commented on #23563
fixed via #50991

[2019-06-10 14:16] #23563 closed, assigned to bcoca

[2019-06-10 14:18] bcoca commented on #24223
fixed via #26754

[2019-06-10 14:29] agowa338 commented on #57607
!component win_domain
Apparently I'm looking at the wrong file (confused win_domain with win_domain_controller should have looked more closely...), no wonder that nothing seam to be effective, it is just flickering, sometimes it works sometimes it does not...

[2019-06-10 14:31] simpss opened #57628 "yum hangs if gpg file needs to be downloaded"
##### SUMMARY

yum installations hang if repo needs to download gpg key file. I suspect it has something to do with an unhandled input request from yum. As if the same command is ran manually it asks if a downloaded GPG file is ok. Once the file has been added, ansible yum module starts working again.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/modules/packaging/os/yum_repos

[2019-06-10 14:41] mnecas commented on #57545
Hi, @kgangihv
you need to define the list of hosts which should have the tag.
Change `vms: []` example `hosts: ['host1','host2','host3']`
About dynamic inventory I have in plan to update it there are already some other requests, but dynamic inventory returns information about vms.

If u need more info about tags docs:
https://docs.ansible.com/ansible/latest/modules/ovirt_tag_module.html

[2019-06-10 14:43] #46749 closed, assigned to nobody

[2019-06-10 14:44] bcoca commented on #25423
you don't need to whitelist a callback when you assign it as the stdout callback (it is implied)

also i cannot reproduce with the info given above:

[code]

[2019-06-10 14:50] pratikgadiya12 commented on #57608
Could I work on this?

[2019-06-10 15:01] samccann commented on #57485
Documentation should be added to this section of the guide:
https://docs.ansible.com/ansible/devel/user_guide/playbooks_tags.html

[2019-06-10 15:03] webknjaz commented on #48678
@ju2wheels hey, could you please reply to #49000 so that we could merge it. And then, I'd go through with reviewing #50829.

[2019-06-10 15:09] kittys693 commented on #57580
Removed uuid and replaced with name

[2019-06-10 15:09] yonatankarimish opened #57633 "blockinfile module does not edit hidden files"
##### SUMMARY

When using the blockinfile to insert a block of text to a hidden file,
If the file does not exist, it will not be created
If the file exists, it will not be modified

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(returned empty)
[code]

##### OS / ENVIRONMENT

NAME="Ubuntu"
VERSION="16.04.5 LTS (Xenial Xerus)"
I

[2019-06-10 15:22] imjoseangel commented on #57580
OK, I will test with uuid to see if I can get the error.

[2019-06-10 15:23] #57593 closed, assigned to Akasurde

[2019-06-10 15:28] samccann commented on #57427
Documentation fix should be within the meta.py file, adding to the Notes section:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/utilities/helper/meta.py#L46

[2019-06-10 15:35] samccann commented on #57408
Remove that first sentence from :
https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/vault.rst#speeding-up-vault-operations

[2019-06-10 15:38] #57633 closed, assigned to nobody

[2019-06-10 15:39] yonatankarimish commented on #57633
Turned out to be an error on our server configuration. Sorry for wasting your time

[2019-06-10 15:48] samccann commented on #57138
Documentation note - Under  the following section in documentation:
https://docs.ansible.com/ansible/devel/user_guide/playbooks_error_handling.html#aborting-the-play

Remove the reference to marking all hosts as failed (as per discussion above).  Change to something like:
The` any_errors_fatal play` option will end the play when any task results in an error and stop execution of the play.

[2019-06-10 15:50] samccann commented on #57015
This has been fixed by PR #56722.  Thanks for your suggestion!

[2019-06-10 15:50] #57015 closed, assigned to samccann

[2019-06-10 15:51] falcon78921 commented on #56629
I also see this error on CentOS 7 (7.6.1810 (Core)):

[code]

I had success with Python3 and Ansible 2.8:

[code]

POSSIBLE WORKAROUND: Use Python3 in a venv.

[2019-06-10 15:59] samccann commented on #56644
Documentation note:  Change this in two locations:
https://github.com/ansible/ansible/blob/stable-2.8/changelogs/fragments/contains-test.yaml - to pick up the changelog fix.

https://docs.ansible.com/ansible/latest/user_guide/playbooks_tests.html#test-if-a-list-contains-a-value to change the userguide text, as noted in the comments above.

[2019-06-10 16:23] agowa338 commented on #57607
Finally I think I found the issue. It is a race condition in conjunction with the vmware_tools connection plugin.
The win_domain module invokes Install-ADDSForest, which stops the Netlogon service. The module starts it again, but that is to late, as the vmware_tools connection plugin already failed and terminated script execution prematurely.

The same error occurs when replacing the win_domain mo

[2019-06-10 16:49] bcoca commented on #57587
i cannot reproduce with the information given, `import_playbook` works fine for me

needs_info

[2019-06-10 16:51] #54686 closed, assigned to nobody

[2019-06-10 16:54] ShachafGoldstein commented on #57610
I stand by my earlier comment, check the file on the 2nd server using a
different XPath tool and make sure the file is valid... if they are the
same file wise and one works, there shouldn't be a problem other then in
the file itself

On Mon, Jun 10, 2019, 15:35 Tony Peña <notifications@github.com> wrote:

[2019-06-10 17:14] clevercl0gs opened #57642 "VMware: vmware_vm_inventory errors when there are orphaned VMs present in vCenter inventory"
##### SUMMARY
When Orphaned VMs are present in vCenter through various actions that cause this to occur (see VMware article https://kb.vmware.com/s/article/1003742) then the vmware_vm_inventory fails. This is caused by the fact that the VM object does not have any configuration details available in the vCenter database.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vm_inventory.py

#

[2019-06-10 17:18] ju2wheels commented on #48678
@webknjaz Ill take care of the changes tonight.

[2019-06-10 17:19] clevercl0gs commented on #57642
My quick fix for this is to update the line item:

`current_host = vm_obj_property.val + "_" + vm_obj.obj.config.uuid`

to

[code]
and

[code]
to
[code]

[2019-06-10 17:22] goneri opened #57643 "vmware: test-suite should not come with validate_certs=False by default"
##### SUMMARY

The vmware test-suite set `validate_certs=False` by default, this for historical reason. This is not a good approach now because we can technically run the test-suite against a lab with validate certificats. In this case, we may miss some valid error.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

vmware

[2019-06-10 18:34] #55740 closed, assigned to s-hertel

[2019-06-10 18:50] agdg commented on #57587
I close the issue because today I can not reproduce the fail, I have not changed anything in the playbook (I just turned it off yesterday and turned it on today). In any case today I can not reproduce the error.

[code]

[2019-06-10 18:50] #57587 closed, assigned to nobody

[2019-06-10 19:04] goneri opened #57653 "vmware_guest: clone_with_convert.yml is failing"
##### SUMMARY

vmware_guest's clone_with_convert.yml test playbook is failing with the following error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

[2019-06-10 19:10] jborean93 commented on #57607
Sorry accidentally closed the issue. I’m not sure there would be anything we can do here. The AD cmdlet stops Netlogon itself and we force start it even though a reboot should be done straight away so the next winrm/psrp task can continue connect and actually do the reboot. Potentially you may need to run with async and ultimately ignore the error when the connection was dropped but that’s depende

[2019-06-10 19:17] goneri commented on #57653
I face a similar issue with `clone_customize_guest_test.yml`:

[code]

[2019-06-10 19:35] s-hertel commented on #57642
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2019-06-10 19:40] #57274 closed, assigned to nobody

[2019-06-10 20:26] #57404 closed, assigned to nobody

[2019-06-10 20:30] iglesiasroberto14 commented on #26923
Same problem here on ansible 2.8.0 / Debian 9 (Stretch).

[2019-06-10 20:34] agowa338 commented on #57607
Can we add some error handling into the connection plugin?
Line 398
something that catches the `vim.vmodl.fault.SystemError` exception. So that one is able to do if failed or something like that within the play. I don't know any way to handle the python error directly from within the play, so can we convert it somehow into something that a user can handle within a play if it is expected?

In its s

[2019-06-10 20:36] samccann commented on #45939
Noticing swifttype search today on docs.ansible.com returns search results for Ansible 2.3 and latest, not for the version I am currently on (2.7).  This seems not to be an issue for the Tower version as there is a way to filter search results by version.
As another aside - galaxy docs don't have this swifttype search at all.

[2019-06-10 20:42] dandunckelman commented on #44589
@ckotte @Akasurde I'm sorry for never testing this!

Unfortunately, I won't be able to dedicate time to this. Hopefully, someone else can fillin for me.

[2019-06-10 20:52] jborean93 commented on #57607
Yep, would just need to raise a PR and the maintainer would have to verify that it is the correct thing to do.

It probably would have to raise `AnsibleConnectionFailure` but you can have `ignore_unreachable` to handle this type of failure.

[2019-06-10 21:35] sover02 commented on #22967
A dirty workaround. It's not beautiful but it solves the initial problem for now:
[code]

[2019-06-10 21:59] GriffithLea opened #57660 "host list order in groups var is inconsistent"
##### SUMMARY

When I iterate over e.g. groups['somegroup'] I have two problems:

- The hosts are not necessarily in the same order in which I defined the group in inventory, as one would reasonably expect. Possibly it is related to the group definition listing other groups as its children (and those other groups also defined using children groups) instead of explicit hosts.
- I don't seem to alwa

[2019-06-10 22:06] dmick commented on #43246
nearly a full year old and we just ran across it again?

is anyone maintaining ansible?

[2019-06-10 22:18] tbennett6421 commented on #57313
I'm experiencing the same issue, what worked in the end for you @abottomsHarris ? For me it appears to be simply commenting out the `domain_ou_path`. I'm not sure what's causing the ou string to have problems as mine is pretty ~boring~ standard without spaces or special characters.

It expands to: `OU=Workstations,OU=Machines,DC=ansible,DC=lab`

relevant task
[code]
In my case the hostname doesn't

[2019-06-10 23:55] jtyr commented on #57541
Thanks for opening this issue, @maverick1982. I can confirm that this is actually an issue while defining the YUM repo via Ansible and then trying to install the `google-chrome-stable` package. The problem is that the package is creating it's own `yum.repo.d` file called exactly the same like yours in Ansible. If you inspect the `POSTIN` script in the RPM file, you can find code like this:

[code]

[2019-06-10 23:59] #57541 closed, assigned to nobody

[2019-06-11 00:41] scottd018 commented on #57411
@jborean93 @ShachafGoldstein hey guys, you all are correct. I just looked again, and it was user error. We had backported the change via a library in Ansible 2.7, which failed with the error, but just verified this worked as expected in Ansible 2.8. Because of that, I think the code is working as intended.

Sorry for the confusion. This was a case of too many windows open and I grabbed the output

[2019-06-11 00:41] #57411 closed, assigned to nobody

[2019-06-11 01:06] jborean93 commented on #57411
@scottd018 thanks for your confirmation, good to know our EAP setting isn't broken and you've solved the issue.

[2019-06-11 01:10] ivanbaldo commented on #42532
I cannot reproduce this anymore, but it seems that some others can, so I ask: does anyone else experience this problem?
If no one answers after some time then maybe we should just close it.
Thanks!!!

[2019-06-11 02:36] bhundven commented on #54621
:( and it didn't make it into 2.8.1

[2019-06-11 04:46] hexdump0x0200 opened #57666 "ios_bgp: module fails if bgp configuration is missing on device"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_bgp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: debian 9.9
IOS XE 16.03
Python 2.7

##### STEPS TO REPRODUCE
* device without BGP configuration
* The configuration must contain a command containing the string "bgp", for example
[code]
* playbook:
[code]

##### EXPECTED RESULTS

A con

[2019-06-11 04:46] versewithverve commented on #56894
I had not tested above change. When tested I found it does not work.
I will add some code that has been tested and does work.

[2019-06-11 05:29] versewithverve commented on #56894
Here is the new patch.

[authorized_key-keyoptionsunique.txt](https://github.com/ansible/ansible/files/3274904/authorized_key-keyoptionsunique.txt)

[2019-06-11 06:12] pypb opened #57671 "na_ontap_gather_facts limited to 1024 records"
##### SUMMARY

The na_ontap_gather_facts module has a hardcoded limit of 1024 entries ('max-records': '1024') on queries to the ONTAP API. It does not use next-tag to query for additional entries, which means the facts will not contain all entries (for example volumes) on larger clusters.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

na_ontap_gather_facts

##### ANSIBLE VERSION

[code]

##

[2019-06-11 06:42] imjoseangel commented on #23260
Hi! Why keeping this issue opened if we know shutdown is not idempotent beforehand?

[2019-06-11 06:54] Akasurde commented on #57642
resolved_by_pr https://github.com/ansible/ansible/pull/57672

[2019-06-11 07:10] scatat opened #57673 "k8s_raw module unable to process yaml file containing unicode/non-ascii chars"
##### SUMMARY
I am using the k8s_raw module. It fails when trying to process a file. It's trying to apply a yaml rendered istio file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/modules/clustering/k8s/_k8s_raw.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OSX locally, High Sierra

##### STEPS TO REPRODUCE

Run the task:

- name:

[2019-06-11 07:29] scatat commented on #57673
The problem doesn't see to be with ansible but with pyaml:
https://stackoverflow.com/questions/44875403/loading-special-characters-with-pyyaml
I guess I'm going to have to escape my unicode, right?

[2019-06-11 08:04] jborean93 commented on #23260
See https://github.com/ansible/ansible/pull/57021#issuecomment-500607358. This should not have been opened sorry.

[2019-06-11 08:04] #23260 closed, assigned to nobody

[2019-06-11 08:37] clevercl0gs commented on #57642
Thanks, but this update just excludes them from the inventory, I would like to ensure that they are identified as a would like to then possible perform some clean-up activities against these items.

[2019-06-11 08:58] camillehuot commented on #57544
Hi

This issue has been fixed by removing the trailing slash in the k8s API URL:

[code]
fixed with:
[code]

I would suggest to automatically remove trailing slash(es) when some are given to the url for the k8s module. Or at least catch the "//" specific error to inform the user to fix their URL.

It seems to be a behaviour change from 3.6 to 3.7.

My issue is fixed but I let this issue report ope

[2019-06-11 09:15] jansohn commented on #48577
I think I have a similar problem, so I'll hijack this issue. I hope that is fine.

I'm using `win_copy` with `content` as source which results in an `access is denied` error.

[code]

[code]

[2019-06-11 09:32] yogesh918 commented on #49175
Hi All,
Can someone provide the simple playbook to install any .exe, as the above solution is not working

[2019-06-11 09:39] JimKlapwijk opened #57677 "openssh_keypair: list index out of range"
##### SUMMARY
openssh_keypair gives 'list index out of range'.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssh_keypair

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

Hosts file:
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expected a key to be generated.

##### ACTUAL RESULTS
[code]

[2019-06-11 09:43] yogesh918 opened #57678 "Win_msi: .exe not getting installed using Ansible Playbook"
Below is the Playbook,
[code]

Above playbook gets execute but the WinSCP package does not get installed on Windows Server

Output of Playbook,
[code]

[2019-06-11 09:46] kai687 opened #57679 "Ansible doc theme responsiveness broken at 768px width"
##### SUMMARY

It seems that the custom additions to the read the docs theme are not fully responsive, as the page looks broken at 768 px width. I also thought it was strange that the custom color is applied in the large screen layout but not in the mobile views, where the default color of the read the docs theme is still being applied.

I tried to play around with the media queries to address thi

[2019-06-11 09:53] kai687 commented on #57679
Not sure if this is related to issue #51992

[2019-06-11 09:54] Vladimir-csp opened #57680 "Templated dict variable is not merged"
##### SUMMARY
When a dict in group_vars is defined via lookup, value is replaced instead of merged.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

FreeBSD 11

##### STEPS TO REPRODUCE

[code]

[code]

[code]
`role2` depends on `role1`

##### EXPECTED RESULTS

dict2 is merged the same way as dict1
[code

[2019-06-11 10:07] emper0r commented on #57610
Ok we can do some test but we need to know what exactly ansible do when we got the error.
fatal: [serverB]: FAILED! =>
msg: list object has no element 0
if we know what exactly ansible do we can understand better to do better tests, because both file are identically, correct permission and md5sum check. so... we need to know what error means.

[2019-06-11 10:11] ShachafGoldstein commented on #48577
Seems like  permission errors on the controller side and not the host

[2019-06-11 10:12] msasso commented on #14674
@UnitedMarsupials, because leading whitespace has meaning in python and yaml files (and possibly other formats), I'd suggest using -Z (--ignore-trailing-space) instead of -b (--ignore-space-change).

[2019-06-11 10:18] ShachafGoldstein commented on #57610
If the md5sum is the same then it is not an Xpath issue, at least not with the content, you can look at the source code for the module, ill try to look at it too again later

https://github.com/ansible/ansible/blob/bab1a3cedadf66ef78bbaadf4aa931bdcf3a66bb/lib/ansible/modules/windows/win_xml.ps1#L201

this looks like a good line to start from

[2019-06-11 10:20] ShachafGoldstein commented on #57610
can upload a sample of the file somewhere?

[2019-06-11 10:59] yogesh918 commented on #57678
If these files are inaccurate, please update the component name section of the description or use the !component bot command.

   Can you please explain in details what changes we need to make in playbook

[2019-06-11 11:01] jansohn commented on #48577
Is there any way to keep "local" temp files after the run? I cannot really check the temp file permissions as they are directly deleted...

[2019-06-11 11:15] Akasurde commented on #57678
!component =lib/ansible/modules/windows/_win_msi.py

[2019-06-11 11:19] Asgoret opened #57686 "Ansible converts 'yes|no' to 'True|False'"
##### SUMMARY
If use variable 'yes|no' ansible converts it to 'True|False' which [Bitnami Kafka](https://github.com/bitnami/bitnami-docker-kafka#configuration) can't understand.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
I think issue in main ansible code, but i use Jinja module for preparing tasks.

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
Use in docker based on `python:2.7`

[2019-06-11 11:21] lolcube commented on #57677
I'll look into it

[2019-06-11 11:30] felixfontein commented on #57677
@JimKlapwijk does `/home/scripts/test` already exist / is a non-valid SSH key file?

@lolcube that error also showed up when testing the module with invalid files, see #53222

[2019-06-11 11:33] jansohn commented on #48577
It works if I add the unprivileged user to the local administrators group on the windows target node, so I don't think it is a problem with permissions on the controller side.

Actually from the output the problem seems to be that `src` is `null` when checking the path?

[code]

[2019-06-11 11:33] ShachafGoldstein commented on #57678
Please use win_package instead.
make sure the arguments work since this is an exe and not an msi and looks like the command should only be /SILENT (https://winscp.net/eng/docs/installation)

[2019-06-11 11:36] lolcube commented on #57677
@felixfontein sounds reasonable

[2019-06-11 11:42] yogesh918 commented on #49175
Can you please tell us where can we find that combination ?

[2019-06-11 11:45] ShachafGoldstein commented on #48577
Right, while looking into it it seems the documentation is off, listing src as required (https://docs.ansible.com/ansible/latest/modules/win_copy_module.html) and in the example for become they list `%TEMP%` which is user specific.

try setting a non user specific location like `c:\temp` or another location with permissions for the ansible user and the become user

[2019-06-11 11:52] emper0r commented on #57610
we found the error, using debug can't check element 0 'casue not exist a path on windows registry. thanks for all.

[2019-06-11 11:52] #57610 closed, assigned to nobody

[2019-06-11 11:53] jansohn commented on #48577
You're right. `%TEMP%` just uses the temp directory of the ansible user which already is the default. After changing it to `C:\tmp` it also works with an unprivileged user.

[2019-06-11 11:55] ShachafGoldstein commented on #48577
I'll go over the documentation and change it up to make it clear

On Tue, Jun 11, 2019, 14:54 jansohn <notifications@github.com> wrote:

[2019-06-11 11:57] steffann opened #57688 "Netbox inventory plugin missing implementation for groups"
##### SUMMARY
The manual of the Netbox inventory plugin says that a `groups` dictionary can be used to add hosts to group based on Jinja2 conditionals. After inspecting the code it was noticed that this hasn't actually been implemented.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netbox

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Any

##### STEPS TO R

[2019-06-11 12:03] ssbarnea commented on #50983
I think that this bug is real and we should try to do something about it, even if is not directly Ansible fault that the python3 from centos7 does not have this extension.

[2019-06-11 12:10] mkrizek commented on #57678
Closing as per above.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-11 12:10] #57678 closed, assigned to nobody

[2019-06-11 12:21] GBrawl commented on #57580
Doesn't seem to work for me either, when I try moving it (either by name or UUID), I get the error:
`Failed to move VM with exception cannot concatenate 'str' and 'NoneType' objects`

And when I try it with the PR it gives:
`Folder name and/or path does not exist`

The instance UUID and name do exist though, when I try to look for it with the vmware_guest_facts module it does work.

[2019-06-11 12:47] JimKlapwijk commented on #57677
@felixfontein It's a directory. So that's partly my fault ofcourse. Is it possible to return a more useful error message? (@lolcube )

[2019-06-11 12:48] s-hertel commented on #57509
It looks like this was fixed in 728fce0c4474e3ef8d38f62934454070605c8d1a for 2.9. The filters are now loaded multiple times. Can you check if that works for you?

needs_info

[2019-06-11 12:49] imjoseangel commented on #57580
I will try to reproduce the problem. Can you also share your play and environment? Thank you!

[2019-06-11 13:00] lolcube commented on #57677
@JimKlapwijk that was the plan :)

[2019-06-11 13:40] GBrawl commented on #57580
[code]

[2019-06-11 13:46] eowin opened #57693 "Issue Mysql_user module with mysql 8"
Hello,

I have the ansible version 2.8.1 and I have python 2.7.

[code]

#### ISSUE

Module concerned : Mysql_user

When i try to set a password encrypted with sha2 I get the following error :

[code]

#### More informations

Please find the configuration which is bug :

[code]

[2019-06-11 13:48] digifuchsi commented on #57210
2nd this

[2019-06-11 13:50] goneri commented on #54621
@bhundven, the change is not a bug fix and since the result format of the module has changed, it can break existing playbook. This is the reason why it's not a good candidate for a stable update. It will be shipped with 2.9.

[2019-06-11 14:26] #57369 closed, assigned to nobody

[2019-06-11 14:28] yogesh918 commented on #57678
Do we need to add this line in Playbook ?

[2019-06-11 14:46] Akasurde commented on #57580
@GBrawl Are you using #57582 ? needs_info

[2019-06-11 14:50] jjahns opened #57697 "VMware: Improve vmware_host moving host out of vsan cluster"
##### SUMMARY
Improve vmware_host so that it will perform a blocking action on the Update VSAN Configuration task that appears when moving a host out of a VSAN-enabled cluster.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_host

##### ADDITIONAL INFORMATION
Making this a blocking action is important for automation process, since further actions should not be done until the Update V

[2019-06-11 14:58] GBrawl commented on #57580
@Akasurde I got the following results with #57582, the testvm VM is in another folder:

[code]

[2019-06-11 15:03] samdoran opened #57699 "Add a sanity check requiring tests for all modules"
##### SUMMARY
As discussed in the [IRC meeting on 2019-05-28](https://meetbot.fedoraproject.org/ansible-meeting/2019-05-28/ansible_core_irc_public_meeting.2019-05-28-19.26.html), add a sanity test that requires all modules to have tests

https://github.com/ansible/community/issues/466#issuecomment-496615437

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`ansible-test`

[2019-06-11 15:12] samdoran commented on #57529
This is intended behavior. Tagging a play with tags applies those tags to the `gather_facts` step and removes the `always` tag which is applied by default. If the goal is to tag the play, you can add a `setup` task with tags in order to gather facts.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.go

[2019-06-11 15:12] #57529 closed, assigned to nobody

[2019-06-11 15:15] samdoran commented on #57532
Removing these addresses from link_local would be inaccurate. That field is meant to contain _all_ addresses. The best solution is use a filter to remove the link local addresses.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-11 15:15] #57532 closed, assigned to nobody

[2019-06-11 15:20] ShachafGoldstein commented on #57678
Please follow the documentation and look for help in the mailing lists
since this issue is closed

https://docs.ansible.com/ansible/latest/modules/win_package_module.html

On Tue, Jun 11, 2019, 17:53 yogesh918 <notifications@github.com> wrote:

[2019-06-11 15:24] samdoran commented on #57560
Can you please provide the full playbook output with `-vvvv`?

needs_info

[2019-06-11 15:30] samdoran commented on #57581
Please reach out on IRC or the mailing list for help with this issue:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-11 15:30] #57581 closed, assigned to nobody

[2019-06-11 15:32] sivel commented on #57606
Duplicate of https://github.com/ansible/ansible/pull/42528

[2019-06-11 15:32] #57606 closed, assigned to nobody

[2019-06-11 15:38] yogesh918 commented on #57678
Hello,
Where is mailing list ?
Also if you can give small help, like in WinSCP installation there is /SILENT option, what option is there for Macafee installation because win_package is got stuck.

Thanks

[2019-06-11 15:42] samdoran commented on #57628
`gpgkey` needs to be a list not a space delimited string.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-11 15:46] mkrizek commented on #57628
!component =lib/ansible/modules/packaging/os/yum_repository.py

[2019-06-11 15:50] samdoran commented on #57660
Can you provide an example inventory and an example playbook with `-vvvv` output?

needs_info

[2019-06-11 15:54] samdoran commented on #57673
!component =lib/ansible/modules/clustering/k8s/_k8s_raw.py

[2019-06-11 15:59] sivel commented on #57686
This is expected.  The YAML spec indicates that `yes` and `no` are boolean values, and are converted as such: https://yaml.org/type/bool.html

You may want to start with quoting these values such as `foo: "yes"`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-11 15:59] #57686 closed, assigned to nobody

[2019-06-11 16:01] samdoran commented on #57693
!component =lib/ansible/modules/database/mysql/mysql_user.py

[2019-06-11 16:01] bcoca commented on #57680
The issue here is that Ansible does 'lazy' evaluation and when merging it is seeing a dictionary and a 'string' which includes  a template. The workaround is using `set_fact` to force evaluation.

We also have a feature request for allowing a way to define variables for immediate evaluation #10374

[2019-06-11 16:01] #57680 closed, assigned to nobody

[2019-06-11 16:15] fabianvf commented on #57673
Does the same thing happen if you just try to load the file via ansible, ie,

[code]

[2019-06-11 16:21] JSafieddine opened #57704 "mysql_user PROXY privileges"
##### SUMMARY

The mysql_user module does not revoke PROXY privileges. Either document this as expected behavior or add a fix.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_user

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubtuntu 18.04

##### STEPS TO REPRODUCE

MySQL server with
[code]

Runing a playbook with:

[code]

##### EXPECTED RESULTS

Either
[code]

or a note in

[2019-06-11 16:26] jhonjcastroh opened #57707 "Error to create vm in azure with module azure_rm_virtualmachine"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
ansible 2.7.10
  config file = /home/ansibleadmin/github/ansible/ansible.cfg
  configured module search path = [u'/home/ansibleadmin/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable locatio

[2019-06-11 16:42] jhonjcastroh commented on #57707
Thanks!!
I installed ansible[azure] for python2.7 and it worked.
`sudo /usr/bin/python2.7 -m pip install -U ansible[azure]`

[2019-06-11 16:42] #57707 closed, assigned to nobody

[2019-06-11 16:52] acozine commented on #56716
Best solution to this issue is to update the module so that all possible values are returned in check mode, rather than changing the documentation to reflect the current state of the code.

[2019-06-11 17:07] walterdolce commented on #57344
I have just hit the same problem. The `service_account_file` plugin configuration field should only really be required when the `auth_kind` field is set to `serviceaccount`. By default (and like most tools out there), the plugin should make an attempt at getting the default application credentials on the machine where Ansible is being run.

Additionally, it has to be noted that in all `gcp_compute

[2019-06-11 18:17] Neraud commented on #57509
Indeed it works with a freshly built ansible :

[code]
[code]
[code]

[code]

[2019-06-11 18:17] #57509 closed, assigned to nobody

[2019-06-11 18:23] sharmayush commented on #42912
when I run this code -
with open('/content/glove_vectors', 'rb') as f:
       model = pickle.load(f)
       glove_words = set(model.keys())

It shown error - "UnpicklingError: pickle data was truncated"
please help me what's the problem behind it

[2019-06-11 18:26] acozine commented on #57679
@kai687 thanks for the detailed issue. We would like to address responsiveness holistically, so this is definitely related to #51992 - also related to #56619.

Any insights, suggestions, ideas, or full-blown PRs welcome!

[2019-06-11 18:29] acozine opened #57709 "Upgrade docs build to Sphinx 2.x"
##### SUMMARY
Sphinx 2.0.0 came out on March 28, 2019. We'd like to upgrade. Currently running `make webdocs` on Sphinx 2.x fails with:

`RecursionError: maximum recursion depth exceeded while calling a Python object`

The upgrade may also break dependencies. Be sure to test the 404 page generation in particular.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com

####

[2019-06-11 18:33] acozine commented on #57709
If you've found this issue because you've been trying to build the docs and are getting that error message, here's the workaround to get versions that work for the Ansible docs build:

- uninstall Sphinx 2.x with `pip uninstall sphinx`
- install version 1.8.5 with `pip install sphinx==1.8.5`

[2019-06-11 18:36] fzink commented on #26190
Running into this issue again and it sucks. Please guys, this issue has been open for almost 2 years now and for people who really use ansible-vault, this is a major pain the butt.

[2019-06-11 18:43] bcoca commented on #14674
not either/or , we can create non boolean toggle `whitespace=ignore|ignore_trailing|dont_ignore(default)`

[2019-06-11 18:51] #49938 closed, assigned to Akasurde

[2019-06-11 18:57] s-hertel commented on #57618
This was introduced in cc9c72d6f845710b24e952670b534a57f6948513

[2019-06-11 19:10] mamullen13316 opened #57711 "aci_l3out TypeError: argument of type 'NoneType' is not iterable"
##### SUMMARY

When running the aci_l3out module with either a state=query or state=delete,  the module fails with the error TypeError: argument of type 'NoneType' is not iterable.  The playbook was previously working in Ansible versions prior to 2.8.0.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aci_l3out

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-06-11 19:25] #54550 closed, assigned to nobody

[2019-06-11 19:27] #49327 closed, assigned to nobody

[2019-06-11 19:39] joelgriffiths commented on #57138
So the fact that there is no easy way to communicate to the user that none of the plays completed is okay? I'm going to go find a hard wall and bang my head for awhile. That is unconscionable.

[2019-06-11 19:47] joelgriffiths commented on #57138
Here is a workaround for anybody following this post
`- hosts: all
  gather_facts: no
  become: False

  tasks:
  - name: Use block to catch errors
    block:
      - name: Generate a random failue
        shell: 'echo $(( $RANDOM % 10 ))'
        register: random
        failed_when: random.stdout|int == 2

      - debug:
          msg: 'This node PASSED'

    rescue:
      - debug:
          msg

[2019-06-11 20:09] bcoca commented on #57138
@joelgriffiths ansible-playbook returns a 'non 0' rc when a play fails, that does not mean it flags all tasks as failed, it is not obvious from the stdout reading but you should also notice you are missing all the tasks that didn't get executed by the interruption.

[2019-06-11 20:58] joelgriffiths commented on #57138
"... you should also notice you are missing all the tasks that didn't get executed by the interruption."

How? I really hate to be contrarian about this, but I have people running the playbooks they did not write. They are not going to notice that some of the tasks were missing from the end of the play because they don't know how many tasks were in the play. They could open the playbook and figure

[2019-06-11 21:33] bcoca commented on #57138
Don't worry about pushing it, it is thanks to feedback like this that the tool gets better.

For most of those used to dealing with command line utilities, rc is the normal way to figure out success/failure.  I do see your point about having a more visual representation of this in the output, but failing the rest of the tasks does not seem (to me) the correct way of  handling it as it is misleadin

[2019-06-11 21:40] Loki22 commented on #55753
The Google API most certainly supports it and it even shows up as a field on the web console when inspecting a compute instance. To set it when creating an instance for example:

gcloud compute instances create my_instance --hostname=myinstance.mydomain.com

(or if using something such as Terraform, it is simply the "hostname" argument in the "google_compute_instance" resource from the google clou

[2019-06-11 21:46] #57597 closed, assigned to Akasurde

[2019-06-11 22:23] tkimball83 commented on #57463
I've hit the same issue with Ansible 2.8.1 and CentOS 7.

[code]

[code]

[code]

[2019-06-11 22:32] willthames commented on #57673
@fabianvf - just tested that myself, that doesn't work either :(

[code]

[2019-06-11 22:43] willthames commented on #57673
The other option would be to migrate ansible to use ruamel.yaml (using `version=1.1` whereever we do `yaml.load`) but that might be a much bigger effort than escaping the unicode!

[2019-06-11 22:47] equinox0815 commented on #56930
Is the explanation given by @sivel really the only reason behind this change? What about `hosvars['foo-host']` then? I hope nobody is considering to make dashes invalid characters in inventory host names as well...
Besides `hostvars` there are a ton of other examples where the "dot-notation" cannot be used so the need to know when to use which form will remain. I find it rather arbitrary to single

[2019-06-11 22:49] jamescassell commented on #41842
looks like this made it into 2.8.  Thanks!

[2019-06-11 22:49] #41842 closed, assigned to nobody

[2019-06-12 00:07] Tomorrow9 commented on #43000
Hi @devdil, actually I have a PR #49534 submitted, but still need more testing after changing according to the reviewers' comments. I'm coming back to get it ready soon. Thanks.

[2019-06-12 00:08] Tomorrow9 commented on #57055
Fixes in PR #49534

[2019-06-12 00:09] matt852 opened #57718 "Configuring NX-OS interfaces shows as changed when AAA authorization failed the command"
##### SUMMARY
Some of the NX-OS modules do not detect if a command failed due to TACACS  authorization failure.  They return as successful, and the task is marked as changed.  I've only tested a few of the modules for this so far.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_vrf_interface
nxos_l3_interface
nxos_hsrp

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS /

[2019-06-12 00:23] Tomorrow9 commented on #57608
Yeah, sure. Thanks.

[2019-06-12 00:54] mikewiebe commented on #57718
Hi @v1tal3 ... do you see the failure if you use `ansible_connection: httpapi` or `ansible_connection: local` with provider?

[2019-06-12 02:25] thylocene opened #57719 "Ansible Windows module win_domain_user does not implement query state value"
##### SUMMARY

The latest version of the Ansible Windows module **win_domain_user** does not implement the query state value.  The documentation quotes that state can be one of: **present**, **absent** or **query**.  The first two are implemented but query is not (see https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_domain_user.ps1).  query is one of the parameters tha

[2019-06-12 02:44] akamensky opened #57720 "LVG module warning on int to string conversion"
##### SUMMARY
Using LVG module spits warning:
[code]
Despite task that is using it not having 4 anywhere in it. This appears to be an issue of documentation in YAML format at https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/lvg.py#L41

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
LVG module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2019-06-12 03:24] falcon78921 commented on #41425
@acozine No problem! :)

Looking at `stable-2.6`, I see that there's no `docs/docsite/rst/cli` directory (in the GitHub repo):
https://github.com/ansible/ansible/tree/stable-2.6/docs/docsite/rst/cli

If the Ansible repo is the "source of truth" for the docs.ansible.com documentation, I should see the `cli` directory and the corresponding `.rst` files in GitHub (e.g. `ansible.rst`, `ansible-config.

[2019-06-12 04:55] akamensky commented on #57720
Silly Github opened PR onto my own fork :man_facepalming:

[2019-06-12 05:44] kustodian commented on #54395
This actually isn't an issue with the gcp_compute plugin, but with the [constructed](https://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html) plugin, because the gcp_compute just uses that plugin for generating groups.

Also, it's documented behavior and as you said there is a workaround, so I don't think it will change, because it could break a lot of current setups.

[2019-06-12 06:06] #54712 closed, assigned to nobody

[2019-06-12 06:09] kustodian commented on #55753
Cool, didn't know about the hostname. Thanks for explaining.

Regarding `compose` I'm talking about the [constructed](https://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html) inventory plugin (that is part of the gcp_compute plugin as well) in which you can generate variables, groups, etc from anything that is returned by the API. So I would like to be able to do something like

[2019-06-12 06:11] Tomorrow9 commented on #26009
Hi, I want to "delegate_to" the host when it needed, or "delegate_to" is omitted, like this:
- name: test task
   win_shell: "test_command"
   delegate_to: "{{ windows_target if delegate_to_windows is defined else omit }}"
but it seems it's not work, if "delegate_to_windows" is not defined, it will try to SSH connect to the host specified in "hosts", "omit" not take effect. Did I miss anything? Th

[2019-06-12 06:18] #54393 closed, assigned to Akasurde

[2019-06-12 06:19] basos9 commented on #57529
OK, but is this documented somewhere ?

[2019-06-12 06:26] basos9 commented on #57529
Also doing as instructed, when running that PLAY without tags the setup task is also run, so facts gathering is executed 2 times.

[2019-06-12 06:54] jjh74 opened #57732 "ansible fails to detect Nutanix AHV virtualization facts"
##### SUMMARY

ansible-2.8.0  doesn't detect virtualization facts when VM is running on Nutanix AHV hypervisor.
##### ISSUE TYPE
- Bug Report
(I created a patch for this: https://github.com/jjh74/ansible/commit/024549e97eaabb12ba7f4787b3bfaa8fb51880a9
if it looks reasonable I can create a pull request).

##### COMPONENT NAME

module_utils/facts/virtual/linux.py

##### ANSIBLE VERSION

[code]
Same

[2019-06-12 06:55] GBrawl commented on #57580
I found what I did wrong, apparently the dest_folder should have been `/DC01/vm/MAP2` in my example. This issue is resolved for me with #57582 then.

[2019-06-12 07:23] mkrizek commented on #57628
@simpss I actually cannot reproduce the issue with tasks you provided, it just takes a while to install k8s. I used `CentOS Linux release 7.6.1810 (Core)` on the managed node. The `yum` module runs `yum install` with `-y` so it should automatically accept the prompt for downloading the gpg keys. Even comma separated value in `gpgkey` option for the `yum_repository` module does not seem to be an is

[2019-06-12 07:38] mkrizek commented on #57427
@drewmullen if you really need to, as a workaround you can put your meta task in a file and include that file like so:
[code]

include-meta-task.yml:
[code]

[2019-06-12 08:07] rodneyvdw commented on #57189
seems the yum module on ansible 2.8.1 does not work well at all (especially for RHEL6/Centos6 systems).

The mentioned "lock_timeout" value added, merely delays the error "yum lockfile is held by another process" (btw - there are no running yum processes).

Sample code we use:
    - yum:
        name: '*'
        state: latest
        update_cache: true
        disable_gpg_check: yes
        lock_

[2019-06-12 08:28] alanbchristie commented on #57189
If it's of any help I ended up having to use 3-minutes on some of my deployments.

https://github.com/ansible/ansible/issues/57189#issuecomment-497400786

[2019-06-12 08:48] wToad commented on #55850
Hello, I'm facing the same issue but the merged PR doesn't fix mine.

**Ansible version**
[code]
**OS / ENVIRONMENT**

Here is my prompt:
[code]
my role:
[code]

do you have any other clue?

[2019-06-12 09:54] sshnaidm opened #57740 "Ansible podman connector fails because of denied permissions of files copy"
##### SUMMARY
Using podman connection plugin with ansible - it fails to run and reports permission denied error:
`PermissionError: [Errno 13] Permission denied: b'/root/.ansible/tmp/ansible-tmp-1560332641.0692234-230169342520221/AnsiballZ_setup.py'`

On Fedora29 podman can't mount rootless containers, it fails with error: `Error: cannot mount using driver overlay in rootless mode`
In the plugin th

[2019-06-12 10:23] eowin commented on #57693
Hi

I did some modification in the mysql_user.py :+1:

[code]
replaced by

[code]
And password with md5 password encryption working fine, but I think you can do better with a new variable which can give us the choice for the auth_plugin used and a new condition for mysql version higher than mysql 5.7

[2019-06-12 10:25] pknutti opened #57743 "nmcli create type: bond-slave is not possible"
##### SUMMARY
I am not able to create a bond with my ansible-playbook. The module creates a bond but is not able to add the slave to the previous created master.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Playbook.yml
[code]
group_vars
[code]

bonding role
[code]

##### EX

[2019-06-12 10:32] #57412 closed, assigned to nobody

[2019-06-12 10:57] DanHam commented on #54395
@kustodian

I think this behaviour should change ;) This should be a simple change to implement for someone familiar with python -- namely, if there is no prefix set then the separator should be the empty string - `""`.

tl;dr

My knowledge of python isn't great, and I haven't looked at the source code, but I'm sure the gcp plugin could check the length of the prefix string and, if zero, automatic

[2019-06-12 11:02] jrunu opened #57745 "ios_config does not handle confirm prompt when saving first time after iOS version change"
##### SUMMARY
ios_config does not handle confirmation prompt when saving a configuration first time after a ios version change.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Cisco iOS

##### STEPS TO REPRODUCE
Reload the iOS device after changing the iOS image in the boot loader.

[code]

##### EXP

[2019-06-12 11:08] neben opened #57746 "docker_compose parallel build option"
##### SUMMARY

Docker compose has an option to build images in parallel. It would be nice if the docker_compose module in ansible would allow this, too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

docker_compose

##### ADDITIONAL INFORMATION

This would significantly reduce the build time for complex docker-compose files.
https://docs.docker.com/compose/reference/build/

[2019-06-12 11:11] nkakouros opened #57747 "Allow gcp_pubsub_topic to publish and pull messages"
##### SUMMARY

The `gcloud` utility allows sending messages to topics using `gcloud pubsub topics publish my-topic --message "hello"`. It also allows pulling messages using `gcloud pubsub subscriptions pull --auto-ack my-sub`. The community module `gcpubsub` also allows for publishing and pulling. It would be nice for the `gcp_pubsub_topic` module to allow for this functionality. Or a new module `

[2019-06-12 11:35] s-hertel commented on #54395
@DanHam As kustodian mentioned, this is not specific to the GCP compute plugin and it isn't a simple/immediate default-behavior fix because people could be using the groups with the prepended underscore. Here is a work in progress pull request that will hopefully add a toggle for the behavior you want https://github.com/ansible/ansible/pull/57164 and possibly lead to the eventual deprecation of th

[2019-06-12 11:40] S1SYPHOS commented on #43307
Same applies to packages being installed with `loop`, where the first is shown to be changed, the actual changed package is not:

[code]

As you can see, the `changed` var applies to two different packages.

[2019-06-12 11:49] drewmullen commented on #57427
@mkrizek thanks! `fail` was actually a better module for the situation. tbh i was just reporting because the behavior felt like a bug. as you pointed out, `meta` appears to be special but i didnt see anything noted in the docs to let me know :)

[2019-06-12 12:43] drewmullen opened #57751 "allow vars_files as a task level keyword"
##### SUMMARY
currently, you can pass `vars` as a play parameter. I should also be able to pass `vars_files` as a play parameter. this would be useful in many situations, most notably with the `include_tasks` play.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vars_files

##### ADDITIONAL INFORMATION

this works
[code]

this doesnt
[code]

error: `This error can be suppressed as a warning

[2019-06-12 12:52] nkakouros commented on #53815
This should be closed. It works ok with latest devel.

[2019-06-12 12:52] #57720 closed, assigned to nobody

[2019-06-12 12:53] sokratisg commented on #57542
Also affected by this one. Running the Ansible provisioner via Packer on macOS
[code]

[2019-06-12 13:00] P-Hessler opened #57753 "SeSecurityPrivilege in win_acl module"
##### SUMMARY
The win_acl fails when changing rights on a directory for which the inheritance from the parent folder has been disabled. The error message is "an exception occurred when adding the specified rule - The process does not possess the 'SeSecurityPrivilege' privilege which is required for this operation."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_acl

##### ANSIBLE VERSION

[2019-06-12 13:09] P-Hessler commented on #57753
This seems to be a bug in powershells Set-ACL. See

* https://www.reddit.com/r/PowerShell/comments/3tl4f8/sesecurityprivilege_error_on_setacl/
* https://stackoverflow.com/questions/32598336/using-powershell-to-remove-group-from-an-ntfs-folder-fails-with-sesecurityprivil

As a workaround, I replaced the two occurences of `Set-ACL -LiteralPath $path -AclObject $objACL` by `(Get-Item $path).SetAccess

[2019-06-12 13:09] samccann commented on #57138
Removed the `easyfix` label for now as this may morph into something more than a doc fix.

[2019-06-12 13:34] bcoca commented on #57751
vars_files is a play level keyword, i think you mean 'task level'

in any case you have `include_vars` and can even use the `file` lookup to do similar things:
[code]

[2019-06-12 13:45] DanHam commented on #54395
@s-hertel Thanks for letting me know.

So my take was that kustodian was saying this *should not* or *would not* be fixed because of the possibility of breaking current set ups. Clearly I disagree with this! My take is that the current behaviour is broken as per my comments above.

I've taken a look at PR #57164 and definitely think this is the correct way to go. Judging from the comments there mo

[2019-06-12 13:50] #55476 closed, assigned to nobody

[2019-06-12 14:20] nkakouros commented on #53815
Actually, I was too fast to make a conclusion. This is still broken, but in a different way:

[code]

[2019-06-12 14:26] nkakouros commented on #53815
And sth else. In the documentation is says on the `expiration_policy` parameter:

[code]

But setting either:

[code]

or

[code]

or completely omitting the `expiration_policy` parameter, in fact, sets the expiration to a month.

[2019-06-12 14:28] #53600 closed, assigned to nobody

[2019-06-12 14:31] drewmullen commented on #57751
thanks! thats a good clarification. **side note**: i guess i always thought plays and tasks were synonymous. are plays the 1st list level item of a playbook? eg. the stanza where `hosts` are defined, etc?

`include_vars` does help significantly! i like this solution better than the lookup because lookup does not interpolate jinja vars:

[code]

include_vars
[code]

include_vars output
[code]

look

[2019-06-12 14:43] lolcube commented on #56607
@felixfontein if i understood correctly i think just passing data="y" is the safer and easier method. was there another reason for using atomic_move() ?

[2019-06-12 14:45] #56451 closed, assigned to nobody

[2019-06-12 14:49] kkorekk opened #57759 "gitlab_runner module is not idempotent"
##### SUMMARY
`gitlab_runner` module is not idempotent when there are more than 20 runners registered. This is because `/runners/all` API endpoint in GitLab returns paginated results by default (20 per page). I think the easiest solution is to add `all=True` paramter for [this call](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/gitlab_runner.py#L262), `python-git

[2019-06-12 14:56] #57618 closed, assigned to nobody

[2019-06-12 14:58] bcoca commented on #57751
depends on the lookup, use , `template` for those

[code]

[2019-06-12 15:06] #51561 closed, assigned to nobody

[2019-06-12 15:06] samccann commented on #43562
Thanks @jdillard for the suggestion!  Ansible does have a very old sitemap (manually created) that needs to be updated - https://github.com/ansible/docsite so might be worth investigating that extension.

[2019-06-12 15:07] drewmullen commented on #57751
hell yeah. youre a smart dude! thanks for your help

[2019-06-12 15:07] #57751 closed, assigned to nobody

[2019-06-12 15:10] samccann commented on #43562
RST and sphinx support metadata (description - useful for external search, and keywords, useful for site search). We can consider adding those to important pages.

We also have some lingering search hits for 2.4, tied to pages that have a lot of hits. For example, a search for 'Ansible network supported platforms' has this as the 2nd returned search result:
https://docs.ansible.com/ansible/2.4/int

[2019-06-12 15:30] Alex-Richman opened #57763 "AWS elb_target_group cannot change stickiness_enabled after creation"
##### SUMMARY
If you create an AWS ELB target group using the elb_target_group module, it only seems to configure the Stickiness on creation and not on subsequent runs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
elb_target_group

##### STEPS TO REPRODUCE
- Create an ELB target group using the elb_target_group module.  Set the stickiness_enabled flag to yes, and configure the other parame

[2019-06-12 15:38] sivel commented on #57740
!component =lib/ansible/plugins/connection/podman.py

[2019-06-12 15:45] dentarg commented on #56470
@jborean93 No it isn't, but when you don't know that it is the missing header causing the server to respond with HTTP 403, and other tools, like `curl` get 200, you do scratch your head quite a bit :)

Hopefully this issue can help anyone helps encountering the same thing, until Ansible sets the user-agent by default.

[2019-06-12 16:01] joelgriffiths commented on #57138
I was thinking of something similar to this change:

PLAY RECAP ***********************************************************************************************************************************************
server10.testdomain.com : ok=1    changed=1    unreachable=0    failed=0
server11.testdomain.com : ok=1    changed=1    unreachable=0    failed=0
server12.testdomain.com : ok=1    changed=1

[2019-06-12 16:34] majidaldo opened #57765 "native jinja2 not working with template module"
##### SUMMARY
Templating files does not respect native jinja2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS: ubuntu 19.04
Docker version 18.06.0-ce, build 0ffa825

##### STEPS TO REPRODUCE

config
[code]

file contents (docker compose)
[code]
playbook
[code]

##### EXPECTED RESULTS

no q

[2019-06-12 16:38] bcoca commented on #57138
Not sure that is the way to go since 'incomplete' can be interpreted many ways and the count can be 'unstable', specially with `include_tasks/roles` down the play.

[2019-06-12 16:38] sivel commented on #57765
Templating in a playbook, works differently from templating in a jinja2 template file.

In a playbook you always have to quote the jinja2 expression due to YAML rules.  In a template file you are not bound by this.

As such, your template can look like:

[code]

Quoting it in a template file, means that you are explicitly making it a string.

If you have further questions please stop by IRC or the

[2019-06-12 16:38] #57765 closed, assigned to nobody

[2019-06-12 16:41] mfish82 opened #57767 "Modify iosxr_facts to include "ansible_net_model""
##### SUMMARY

Currently, IOSXR_FACTS does not support ansible_net_model.

IOS_FACTS can be run on an ASR9K device and get both net_model and net_version.

Please provide ansible_net_model support for IOSXR_FACTS

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

iosxr_facts

##### ADDITIONAL INFORMATION

Adding ansible_net_model support would allow a user to validate the model and of the IOS

[2019-06-12 17:10] decourl opened #57768 "reboot module: last boot time check ineffective for Linux containers"
##### SUMMARY
The reboot module sends a target machine for reboot and, once the machine becomes connectable again, checks the contents of /proc/sys/kernel/random/boot_id to confirm the successful reboot.  However, in a containerized environment, such as LXC containers under Proxmox, due to the shared kernel (running on the host machine), although the container is successfully rebooted, the reboot

[2019-06-12 17:13] sivel opened #57770 "become plugins shouldn't traceback if incompatible shell is used"
##### SUMMARY
Im effectively documenting this in case, someone else can get this change tested and into a PR, before I am available to work on it.

Feel free to improve wording of the error :)

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/plugins/become/__init__.py`

##### ANSIBLE VERSION

2.8
devel

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO RE

[2019-06-12 17:24] sivel commented on #57770
!component =lib/ansible/plugins/become/__init__.py

[2019-06-12 17:49] sivel commented on #57770
bot_status

[2019-06-12 18:01] bcoca commented on #57770
need to establish a 'required baseline' from shell plugins, i would argue command_sep is one of those

[2019-06-12 18:39] sivel commented on #57770
I don't disagree. In a way I see this as a failing of our shell plugin interface not being adhered to. On the other hand, it's a handy way to catch this scenario, without putting explicit dependencies in place to prevent this.

[2019-06-12 18:40] #56137 closed, assigned to nobody

[2019-06-12 19:20] vikas7999 opened #57773 "Ansilble arista eos_config not working as expected"
##### SUMMARY

ansible 2.7.7

##### ISSUE TYPE
Trying to push Arista configuration commands using ansible src file.
After running the playbook its successfully executed however some commands are not configured on actual device which are there is ansible src config file.

##### COMPONENT NAME
Ansible eos_config module for Arista

##### ADDITIONAL INFORMATION
So ansible src file has following comman

[2019-06-12 19:22] GriffithLea commented on #57660
Sure - sorry I did not do so earlier, but my job comes first. 😁 It was all I could do at the time to get the issue created.

With this example inventory in /etc/ansible/test/inventory:
[code]
...look what happens:
[code]
As you can see, the output is changing with each run. Sometimes it's a repeat of a previous run. Also, the list is not ordered as I would expect, i.e. in the order I defined the g

[2019-06-12 19:40] vikas7999 commented on #57773
ansible 2.7.7

[2019-06-12 20:38] #56752 closed, assigned to nobody

[2019-06-12 20:51] felixfontein commented on #57746
Please note that the `docker_compose` module is essentially unmaintained. In case you want to add such a feature yourself, feel free :)

[2019-06-12 20:51] #57344 closed, assigned to nobody

[2019-06-12 21:00] felixfontein commented on #56607
Yes, because the module also promises to handle read-only keys. You can of course add code to make sure that the current user can simply overwrite the file before regeneration. I don't know what's more complicated.

Anyway, it would probably be easier if one could trick ssh-keygen to dump the key to stdout instead of writing it to a file, and then to simply write them as the other openssl_* module

[2019-06-12 21:02] chancez commented on #49270
I'm seeing this specifically when I use the async task module, running ansible inside Docker. In my case because it's just delegating to localhost, the defunct process is a python process:
[code]

[2019-06-12 21:03] titleistfour commented on #56927
Guess nobody is going to bother helping with this one.  Closing it.

[2019-06-12 21:03] #56927 closed, assigned to nobody

[2019-06-12 21:10] MarkusTeufelberger commented on #56607
https://gist.github.com/kraftb/9918106 <-- seems to be... challenging, but possible in theory. Probably it might be in some/most cases also possible to use `cryptography` instead of `openssh-keygen`, but I'm not sure if that's a net win (`openssh-keygen` is most likely more widely available).

[2019-06-12 21:33] inhumantsar commented on #38050
@hacosta I was going to take some action on this since it's biting me right now but i'm not sure where it's broken.

`fetch_url()` seems like it supports `http_proxy`, `https_proxy`, and `no_proxy`...

[2019-06-12 21:33] imjoseangel commented on #57580
@GBrawl

I can confirm that both name and uuid work with @Akasurde changes. I was able to reproduce the issue before the changes with uuid. Now with UUID works in my Test Server:

[code]

Could you please confirm too?

Thank you!

[2019-06-12 21:58] jpmahowald commented on #56324
By my count 41 gcp modules are not in the gcp module default group. I noticed  gcp_redis_instance missing.

[2019-06-12 22:08] sshnaidm commented on #57740
Should be solved in https://github.com/ansible/ansible/pull/57741

[2019-06-12 22:19] jborean93 commented on #57753
Weird looks like it is trying to set the SACL somehow which requires the `SeSecurityPrivilege`. Thanks for the pickup, it would be great if you could create a PR with your fixes.

[2019-06-12 23:21] luckylittle opened #57780 "[Errno 12] Cannot allocate memory"
##### SUMMARY
Running Ansible v2.7.11 against 428 hosts in batches of 10 on Red Hat Enterprise Linux Server release v7.6 always produces the "cannot allocate memory" error sooner or later. Last run we performed started at 2019-06-12 17:37:08 and traceback was produced at 2019-06-13 00:16:04 (roughly after 7 hours of running Playbook fine). We cannot say for sure if this is related to the machine i

[2019-06-12 23:46] luckylittle commented on #57780
!component +cli/playbook.py +executor/playbook_executor.py +executor/task_queue_manager.py +plugins/strategy/linear.py

[2019-06-13 00:11] #54945 closed, assigned to nobody

[2019-06-13 00:46] jpmahowald commented on #56324
Does an automatic process exist for verifying that new modules go in a defaults group?  Presumably not given how many I found.

[2019-06-13 01:14] bcoca commented on #57770
well, we would have to define the interface for something to adhere to it ...

[2019-06-13 01:29] mmyyrroonn opened #57782 "Get private IP for Azure scale set VMs in Ansible"
##### SUMMARY

Ref: https://stackoverflow.com/questions/56558293/get-private-ip-for-azure-scale-set-vms-in-ansible

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachinescaleset_facts
azure_rm_virtualmachinescalesetinstance_facts
azure_rm_virtualmachine_facts
azure_rm_subnet_facts
azure_rm_networkinterface_facts

##### ADDITIONAL INFORMATION

[code]

[2019-06-13 01:37] MyronFanQiu commented on #57782
@zikalino @MyronFanQiu When you have time, please look at this issue.

[2019-06-13 01:46] mmyyrroonn opened #57783 "Access an Azure VM which only has a private IP using ansible"
##### SUMMARY

Ref: https://stackoverflow.com/questions/56492358/access-an-azure-vm-which-only-has-a-private-ip-using-ansible

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-06-13 02:08] luckylittle commented on #57780
**Update Thu Jun 13 12:04:40 AEST 2019:**

I realized, that `serial` is not a third strategy, but rather directive of a `linear` strategy and the stanza `serial = 10` in the config file was ignored and the whole play was run in default `linear` strategy. So the whole play was **NOT** running in the batches of 10.

[2019-06-13 03:05] jmooo commented on #26537
The lack of this feature kind of goes against Ansible's best practices to break code up into reusable roles.

If `role1` can't restart itself after `include_role: helper_util` finishes (in my case, helper is a role to set envvars that a lot of different roles import), then you have to duplicate that helper code into every role that uses it

[2019-06-13 03:09] xuxiaowei0512 commented on #52933
I'll take a look at this issue.

[2019-06-13 03:13] xuxiaowei0512 commented on #37878
@eucariot
I have noticed this problem now, and I will try to fix it.
Thanks.

[2019-06-13 03:39] #53730 closed, assigned to Akasurde

[2019-06-13 05:50] felixfontein commented on #56607
That looks pretty ugly (and might not work on all platforms). `cryptography` would be nice, but yeah, `ssh-keygen` is probably the best choice due to availability. So the best approach is probably setting owner/permissions so that the current user can overwrite the file (and nobody but the current user can read it), overwrite it, and then change the owner/permissions to the ones required by the us

[2019-06-13 06:03] avihaie commented on #54871
This issue blocks us from testing cinderlib in our QE automation as the first step in our automation process is to create several storage domains for further testing.

Can you please raise the priority from this issue?

[2019-06-13 06:17] jifox commented on #57285
I'm focussing this problem even with switches that are not stacked.

[code]

Gives following output:

[code]

show version on Cisco Switch:

[code]

[2019-06-13 06:44] pratikgadiya12 commented on #29722
Let me try to reproduce this

[2019-06-13 06:45] GBrawl commented on #57580
Yes, I can confirm that it works with UUID since I've been using it since yesterday, hopefully the PR can be merged asap!

[2019-06-13 06:50] Planetsac commented on #55631
Even i am facing same issue.
 ansible --version
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Feb 20 2018, 09:19:12) [GCC 4.8.5 20150623 (Red Hat 4.8.5-28)]

when i assign variable stored in var files to defaults it is converting in to unicode.
When i directly used variable from vars it is woking

[2019-06-13 06:59] pratikgadiya12 commented on #42693
Let me try to reproduce this

[2019-06-13 07:26] mwperina commented on #54871
This is not a bug, this is an RFE to extend module functionality, so it will arrive in Ansible 2.9

-affects_2.7
+affects_2.9
-bug
+feature

[2019-06-13 07:29] mwperina commented on #54871
-label affects_2.7
+label affects_2.9
-label bug
+label feature

[2019-06-13 07:37] #57580 closed, assigned to Akasurde

[2019-06-13 07:39] simpss commented on #57628
yeah I also didn't see it on CentOS, only once we went "on-site" and RHEL.

I'll see if i can set up a small docker image to try and make it reproducible in the next couple of days.

[2019-06-13 07:41] Pandry commented on #56637
I somehow managed to had the same issue, but running again the playbook, it worked...
![image](https://user-images.githubusercontent.com/17499836/59413190-5d97a500-8dbf-11e9-900f-4e53f67f6a3a.png)

[2019-06-13 08:03] lynyrds commented on #20493
+1
Would be great to know if a fix is somewhere in sight.

[2019-06-13 08:05] Akasurde commented on #57580
Backport 2.8 - #57787

[2019-06-13 09:02] pratikgadiya12 commented on #29722
close_me

[2019-06-13 09:06] winem commented on #17953
This is something we would love to see in ansible, too. I will write a custom facts module for the local facts as quick fix for the team and take a look at the setup module to create a PR as soon as I have time.

Does anyone have anything on this topic already?

[2019-06-13 09:19] MarkusTeufelberger commented on #56607
`cryptography` might actually be the nicer/cleaner choice for this module (if it could handle comments, which I'm not sure it can), but `openssh-keygen` is anyways already required for the `openssh_certificate` module unfortunately, since the OpenSSH project is rather inventive in its designs, including their "certificates"...

[2019-06-13 09:26] akamensky commented on #57463
Hitting same issue on both `2.8.0` and `2.8.1`, downgrading to `2.7.x` fixes this issue.
I would seriously consider this a major issue worth a quick hotfix and patch version release, many playbooks and roles depend on using `ansible_distribution_version` to handle differences between MINOR versions of systems (i.e. Centos 7.0 vs 7.3 vs 7.6). When playbook/role uses conditionals like `when: ansible

[2019-06-13 09:48] geragio commented on #33368
Hi All,

I still see this bug on Ansible 2.6.4, any news on this?

[2019-06-13 10:16] bolyshev opened #57791 "UFW proto any"
##### SUMMARY

Parameter proto=any cause an UFW error "ERROR: Could not find protocol"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

https://docs.ansible.com/ansible/latest/modules/ufw_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible host
[code]

Remote host
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When proto=

[2019-06-13 10:23] kvprasoon opened #57792 "Is log key still valid for win_package return values"
##### SUMMARY
When using `win_package`, the output doesn't have to `log` property. But the [documentation](https://docs.ansible.com/ansible/latest/modules/win_package_module.html) says it is a valid return value for this module.
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
win_package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux

[2019-06-13 10:26] bolyshev commented on #57791
my bad, should read docs...
Qas incorrect param `port=any`

[2019-06-13 10:26] #57791 closed, assigned to nobody

[2019-06-13 10:29] kvprasoon commented on #57792
Is this added in `2.8` along with `log_path` ?   if so better to add that information.

[2019-06-13 11:10] s-hertel commented on #24113
I've tried to reproduce this again and can't on the stable 2.3 branch or devel. Please open a new issue with reproducer if you run into this again.

[2019-06-13 11:10] #24113 closed, assigned to nobody

[2019-06-13 11:21] lolcube commented on #56607
I fully agree that `cryptography` is better in the long run. But to fix those bugs now i'd rather go with using `data="y"` and writing the necessary code for read-only files. (deleting them / making them write-able in case of regeneration). To be quite honest I don't like the idea of creating private keys in temp dirs and then moving them. Would that solution be ok with you? @felixfontein @MarkusT

[2019-06-13 11:31] s-hertel commented on #50081
This has been fixed in 8c631cbc0a9732dc9cd5749f924c0fa20eceb010

[2019-06-13 11:31] #50081 closed, assigned to nobody

[2019-06-13 11:56] pjnagel commented on #41313
I also have the same issue as @vbotka, @marcinkubica and @Routhinator.

For me, this issue makes handlers useless unless you know you will never need to flush them.

Over the maintenance life of our ansible playbooks, there is a high chance that parts may in future be refactored to be included conditionally. So any handler that you may at some point want to flush is just a booby-trap waiting to ha

[2019-06-13 12:00] felixfontein commented on #56607
@lolcube that's fine for me! Also make sure that it won't die if it gets passed a path to a directory (like in #57677) ;)

[2019-06-13 12:01] #29722 closed, assigned to nobody

[2019-06-13 12:02] pratikgadiya12 commented on #29722
@felixfontein Thanks

[2019-06-13 12:03] chinthagovardhan commented on #49447
bot_status

[2019-06-13 12:07] lolcube commented on #56607
@felixfontein if it's okay i'll just do this: ` module.fail_json(msg='%s is a directory. Please specify a path to a file.' % (self.path))`

[2019-06-13 12:09] lolcube commented on #56607
Also, if the file is read-only I think it should require the `force` parameter before regenerating / deleting the ile

[2019-06-13 13:12] pratikgadiya12 commented on #42693
This issue is not reproducible in ansible version 2.8.1

[code]
Here are the playbooks and results of tests

**MySQL databases - Before executing playbook**
[code]

**Ansible Playbook** - To test all database dump operation
[code]

**Execution Results**
[code]
**MySQL databases - After executing playbook**
[code]

**Dumped all databases SQL file**
[code]

@pkaramol : Could you please check this on

[2019-06-13 13:52] matthgyver opened #57799 "win_acl on CIFS share on ansible 2.8"
##### SUMMARY

Ansible return an error when using win_acl module on a UNC path.
Same problem like #55875 but in last stable version (2.8 installed with pip).

No problem with devel version

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_acl
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No erro

[2019-06-13 13:58] Flamez97 commented on #55653
@all does anyone know the difference between the powered off and shutdown state?

[2019-06-13 14:25] felixfontein commented on #56607
The behavior for directories is fine. For read-only files, I would behave the same as for regular files. After all, no other Ansible module I'm aware of makes this distinction.

[2019-06-13 14:28] lolcube commented on #56607
@felixfontein so you'd just (re)generate the keys and if a file exists that is read only you'd just delete it? I am fine with that too.

[2019-06-13 14:52] maxamillion commented on #56504
I suspect that doesn't work probably because I've not properly done the module discovery vs group discovery (because upstream DNF overloaded the `@` for package spec).

[2019-06-13 15:17] #57189 closed, assigned to maxamillion, mkrizek

[2019-06-13 17:06] nhenderson commented on #55221
For anyone interested, here's a non-ideal work-around for my similar issue:
[code]
It should work for the `v1.DeploymentConfig` issue as well:
[code]

[2019-06-13 17:25] vikas7999 commented on #57773
Anybody can help with this issue.

[2019-06-13 17:38] ShachafGoldstein commented on #57799
Seems this is the offending line https://github.com/ansible/ansible/blob/e264b4126feb5d12fd5f3d0bd91fc7096b3568df/lib/ansible/modules/windows/win_acl.ps1#L95

no idea why the error message says the EA is `stop`.

can you add a verbose output using `-vvv`?

[2019-06-13 19:07] #53598 closed, assigned to nobody

[2019-06-13 19:09] gamuniz opened #57808 "Using 'lookup' as variable or register causes traceback while using plugin."
##### SUMMARY

If a user has set a variable/register to lookup a traceback is thrown.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lookup
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS7/RHEL7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Playbook runs successfully or warning about using a reserved name

##### ACTUAL RESULTS

[code]

[2019-06-13 19:15] samdoran commented on #57732
Did this work in previous versions or Ansible?

needs_info

[2019-06-13 19:30] samdoran commented on #57780
Please provide a minimal reproducer so we can try and duplicate this.

needs_info

[2019-06-13 19:36] samdoran commented on #57792
!component =lib/ansible/modules/windows/win_package.ps1

[2019-06-13 19:44] pffs opened #57809 "ios_config block with multiple parents"
##### SUMMARY

When using `replace: block` with `ios_config` with multiple layers of parents, the lines are re-applied for every level of parent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Controller is Ubuntu 18.04, devices are various Cisco IOS routers and switches.

##### STEPS TO REPRODUC

[2019-06-13 19:45] jborean93 commented on #57792
Looks like the docs are wrong, the log is only returned if using an MSI package and the install failed. Will need to fix that up.

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_package.ps1#L377

[2019-06-13 19:50] ragher365 opened #57810 "TypeError: set_options() got an unexpected keyword argument 'task_keys'"
##### SUMMARY

Upgraded from Ansible 2.4 to 2.8 and got <<TypeError: set_options() got an unexpected keyword argument 'task_keys'>> when running playbooks

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Playbooks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Oracle Linux Server release 6.10
Linux 4.1.12-124.27.1.el6uek.x86_64 #2 SMP Mon May 13 08:56:31

[2019-06-13 20:07] lconnell commented on #57463
Missing all `ansible_distribution` facts with Ansible 2.8.1 on CentOS Linux release 7.5.1804. Downgrading to 2.7.11 fixes the issue.

[2019-06-13 20:21] samccann commented on #15801
Address in more recent content - https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2019-06-13 20:21] #15801 closed, assigned to sivel, samccann

[2019-06-13 20:29] samccann commented on #16409
Issue addressed in more recent documentation at - https://docs.ansible.com/ansible/latest/plugins/cache.html

[2019-06-13 20:29] #16409 closed, assigned to samccann

[2019-06-13 20:36] bcoca commented on #56637
@Pandry your output shows you are not in a role, so 'works as expected'.

[2019-06-13 20:53] samdoran commented on #57463
Regarding CentOS, this was [invested during the 2.8 beta](https://github.com/ansible/ansible/issues/50141#issuecomment-449452781) and determined to be accurate according to the CentOS maintainers.

In Ansible 2.8, we switched to using `distro`. By default, it gets version information from `/etc/os-release`. On Debian and CentOS, the minor version is not contained in those files.

[2019-06-13 21:08] felixfontein commented on #56607
I'd change its permissions so that it can be overwritten. Then the key won't be gone in case ssh-keygen cannot be called for some reason.

[2019-06-13 22:06] samdoran commented on #57463
It looks like we can get a more detailed version number from `distro`. I will open a PR doing that. In my testing, it has the opposite effect, though. For Ubuntu, it returns _more_ version information, e.g., 18.04.2. We may need to normalize this output to maintain consistency, but I'd like to avoid doing that if possible.

[2019-06-13 22:21] samdoran commented on #57463
Please test with #57814 and see if that resolves the issue.

[2019-06-13 22:45] petemounce opened #57815 "Environment variables fail to propagate from one task to the next with ansible 2.8.1 connecting to Windows Server 2016 via openssh"
##### SUMMARY
I am using ansible 2.8.1 to configure Windows Server 2016, to install chocolatey before using that to install other software. Also, to set environment variables in general.

I am using [powershell openssh 7.9.0.1-beta1 for sshd](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.9.0.0p1-Beta) and connecting via ssh from an ubuntu 16.04 LTS or a macOS Mojave 10.14.5 as the co

[2019-06-13 23:34] bcoca commented on #14130
Most keywords you can just use `None` to make them 'unset' ` become: '{{ stuff|default(None) }}'`

This does NOT work for dictionaries (environment takes a dictionary, you should conditionally construct that) nor for `delegate_to` , for that you should do `delegate_to: '{{ stuff|default(inventory_hostname)}}'`

[2019-06-14 00:11] #54790 closed, assigned to nobody

[2019-06-14 00:26] ralphie02 opened #57817 "vmware_guest: Cloning with disk customization fails"
##### SUMMARY

Cloning from a template that has disk set to non-persistent fails when the disk for the new machine is set to persistent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target:
debian 7,8,9
centos 6,7

Controlled:
debian 9

##### STEPS TO REPRODUCE

Step 1:
  Set a machine/templa

[2019-06-14 00:29] ralphie02 commented on #57817
Current workaround is changing the template's disk from non-persistent to persistent THEN cloning it.
To me this seems like a regression bug

[2019-06-14 01:23] sluther commented on #19081
I'm adding this to my list (along with it's presumed dupe, #20458) of things to fix in 2.9.

[2019-06-14 01:36] sluther commented on #19371
I'm not sure that this is truly a bug. It seems like an enhancement to me (better error reporting).

!feature

[2019-06-14 01:41] sluther commented on #23607
I will review the PR, verify that it fixes the issue, and create a new PR.

[2019-06-14 01:48] sluther commented on #42506
It sounds like this is relates to any `Dockerfile` that results in output that starts with the`[` character.

[2019-06-14 02:00] sluther commented on #33960
If I'm following this correctly, `formio` is used to refer to the service up until the point when `docker-compose up` is run, at which point `formio` is then replaced with the result of the call to `docker-compose up`. This will cause issues later on when referencing the `formio` variable. The expected behavior is the result of `docker-compose up` being stored in a different variable so it doesn't

[2019-06-14 02:01] sluther commented on #30548
Can you confirm if this is still an issue or not after #32738 was merged?

[2019-06-14 02:04] sluther commented on #29513
Does anyone know if this is still an issue?

needs_info

[2019-06-14 02:05] sluther commented on #29532
Is this still an issue?

needs_info

[2019-06-14 02:07] sluther commented on #29498
Is this still an issue? It sounds like it may have been caused by `docker-compose` itself.

needs_info

[2019-06-14 02:45] FragmentedPacket commented on #57376
I've been thinking about how to tackle this. My thinking is that we should start another variable for the `ALLOWED_VM_QUERY_PARAMETERS` and if the user specified query filters, then do a lookup to see if the query filters are in both sets, if not, it'll only do the lookup on the correct endpoint and omit the other.

Any thoughts on how we should provide a fix for this?

[2019-06-14 03:14] Im0 commented on #57285
Hi @jifox - thanks for the note! :)

My switch is not stacked either, but, is capable of stacking.  I was wondering if ios_facts was adjusted to detect if a switch is stackable, and hence, returns ansible_net_stacked_models instead of ansible_net_model.

[2019-06-14 03:22] Im0 commented on #57284
Raising a Red Hat case.

[2019-06-14 04:08] felixfontein commented on #33960
It's not replaced, but a ansible_facts with name `formio` is returned by the module, which will take precedence over other variables called `formio` in the playbook from that point on. That's a known (mis-)behavior of the module and I've deprecated it, see [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_compose.py#L304).

Use another variable name for n

[2019-06-14 04:28] Hickory420 opened #57822 "Module zabbix_host still not idempotent"
##### SUMMARY

Almost exactly the same issue as #24964 (closed)
When trying to register Zabbix host for the second time, module tries to create two default interfaces (despite it did not change), what results in an error, as only one default interface per type is allowed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_host.py

##### ANSIBLE VERSION

[code]
##### ZABBIX VERSION
4.2.1

[2019-06-14 04:29] #57688 closed, assigned to nobody

[2019-06-14 04:34] resmo commented on #57688
fix backported to 2.8 #57823

[2019-06-14 05:32] Quanta-Switch opened #57825 "paths for the task “check if the backup file-1 exist” (backup.yaml) should not be a file name"
##### SUMMARY
The argument of **paths** in task: "check if the backup file-1 exist" should be directory name rather than a file name in backup.yaml which is located at test/integration/targets/xxx_config/tests/...

Yaml Extraction:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
backup.yaml in test/integration/targets/
!component =lib/ansible/
##### ANSIBLE VERSION

[code]

##### CONFIG

[2019-06-14 05:39] Akasurde commented on #57810
!component =lib/ansible/plugins/callback/logdna.py

[2019-06-14 05:54] jjh74 commented on #57732
Doesn't seem to work on previous versions:

Tested with rpm packages from releases.ansible.com/ansible/rpm/release/epel-7-x86_64/
ansible 2.6.2
python version = 2.7.5 (default, Apr  9 2019, 14:30:50) [GCC 4.8.5 20150623 (Red Hat 4.8.5-36)]:
[code]

ansible 2.4.6.0
python version = 2.7.5 (default, Apr  9 2019, 14:30:50) [GCC 4.8.5 20150623 (Red Hat 4.8.5-36)]
[code]

ansible 2.2.3.0 (from releases.

[2019-06-14 06:43] matthewcosgrove commented on #55850
I'm also seeing this as not fixed yet with latest ansible from ppa. "ansible_facts.packages" is still producing an empty result

**Ansible version**

[code]

[code]

**Playbook**

[code]

**Output**

[code]

[2019-06-14 06:44] vkkothawale opened #57827 "Puppet noop is not working"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

[2019-06-14 06:44] vkkothawale opened #57828 "Puppet noop is not working"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

[2019-06-14 06:48] #57828 closed, assigned to nobody

[2019-06-14 06:49] vkkothawale commented on #57827
Hi Team,

I am trying to run puppet in noop mode for testing my puppet in our env but I am getting following error when I am running ansible playbook

fatal: [XXXX]: FAILED! => changed=false
  msg: 'Unsupported parameters for (puppet) module: noop Supported parameters include: certname, debug, environment, execute, facter_basename, facts, logdest, manifest, modulepath, puppetmaster, show_diff, sum

[2019-06-14 07:15] kustodian commented on #54395
@DanHam just to note, I never actually said that it shouldn't change, I said:

I'm also for the change, I don't like the current behavior.

What I would suggest is that we continue this discussion in https://github.com/ansible/ansible/pull/57164 and close this one, so that we keep the discussion in one place.

[2019-06-14 07:54] D3DeFi commented on #57822
Hi, thanks for opening this issue, but I don't believe that this is the same problem as in #24964.

In your case, a sub option `hostid` should not be used at all. Even if it would be viable to use `hostid` it would need to be ID of an actual host that your are creating and not name of the Zabbix server. This is the information that you have no chance obtaining before creating the monitored host it

[2019-06-14 08:07] matthgyver commented on #57799
There is the full message :

[code]

Thank's

[2019-06-14 08:09] ssaammoo opened #57831 "vmware_guest_disk: Failed to find datastore named in given configuration."
##### SUMMARY
Failed to add a new disk to the VM

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

I try to collect VM facts and then add a VM to same datastore:

[code]
[code]

##### EXPECTED RESULTS

Disk is added successfully

[2019-06-14 08:11] Akasurde commented on #57827
Hi @vkkothawale !

Your Ansible version is 2.7 and `noop` is added in version 2.8 so you might want to upgrade your Ansible installation and retry.

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net

[2019-06-14 08:11] #57827 closed, assigned to Akasurde

[2019-06-14 08:17] Akasurde commented on #57831
@ssaammoo Thanks for reporting this issue.

You are using `sql_vm_datastore: "{{sql_facts.instance.hw_datastores}}"` which might be a list of datastores. You may want to use indexing to use any one of the listed datastores.

Let me know if you need any help from my side.

needs_info

[2019-06-14 08:21] Lunik commented on #57759
Caused by GitLab API pagination.

[2019-06-14 08:34] ssaammoo commented on #57831
@Akasurde
thanks a lot for the hint, although I made sure I have only one datastore and it returns only one item. but yes I have to consider index.

It works now ... have a nice day :-)

[2019-06-14 08:34] #57831 closed, assigned to Akasurde

[2019-06-14 08:56] DanHam commented on #54395
@kustodian

Understood. Glad you're for changing this as well.

I would prefer to keep this issue open as the workaround/explanation of why this is happening may help someone out. Also, people don't always search PR's when they are looking for help with something.

I understand that having a discussion in two places is sometimes not helpful. I'm not really sure of the etiquette here though. Some p

[2019-06-14 09:30] mgup73 opened #57834 "add_host module"
I don't know its a issue or my understanding is wrong.. I am using add_host module and in this module I have to change groupname every time I am running the script. And more than two hosts can be added but unable to ping to all just the latest one.

[2019-06-14 09:32] kahocheung opened #57835 "Ansible 2.7.11 - issue with hash_behaviour=merge"
##### SUMMARY
We seem to be hitting an issue with the configuration hash_behaviour=merge  with the following error message:
msg": "The task includes an option with an undefined variable. The error was: 'ansible.utils.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'setting' \n\nThe error appears to have been in '/tmp/ansible/roles/sysctl/tasks/main.yml': line 2, column 3, but may\nbe elsew

[2019-06-14 09:35] connect2aameer opened #57836 "win_pagefile : Not idempotent"
##### SUMMARY

If config is same as input pagefile should not be changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_pagefile
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows server 2012R2

##### STEPS TO REPRODUCE

Scenario:1
Current Config:
  Drive : C
  Initial Size : 2048 MB
  Max Size : 2048  MB

Desired Config:
  Drive : C
  Initial S

[2019-06-14 09:54] odontomachus commented on #51072
clienttemplate was removed in keycloak 4.0.0 in favor of client scopes.
I have a module for keycloak roles and some fixes for client scopes in a branch. It's still work in progress and needs to be split into multiple PRs, but I have a branch here:
https://github.com/odontomachus/ansible/tree/feature_keycloak_role

[2019-06-14 09:57] fraff opened #57837 "get_url.py should preserve time from Last-Modified: http header when available"
##### SUMMARY

get_url should get Last-Modified: http header and use it to set destination file last modification time.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

get_url
##### ADDITIONAL INFORMATION

$ HEAD -S https://www.internic.net/domain/named.root | grep -F Last-Modified:
Last-Modified: Tue, 28 May 2019 23:13:00 GMT
$ ansible -m get_url -a "url=https://www.internic.net/domain/na

[2019-06-14 10:24] DeLoWaN opened #57839 ""register" is not templatable"
##### SUMMARY
I can't use dynamic registering.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core, register

##### ANSIBLE VERSION
Ansible 2.8.1

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Python 2.7 on Debian 9.

##### STEPS TO REPRODUCE
In Ansible 2.7, I was able to do something like this:

[code]

It is not the case on Ansible 2.8 anymore

##### EXPECTED RESULTS
The result of the

[2019-06-14 10:36] kwilczek opened #57840 "user - Add iOS support"
##### SUMMARY

I'm using `user` module to create a user on iOS with non-standard home directory.
It fails with `msg: Cannot update property "home" for user "xxx.`
It is probably related to the `spwd` module being used. `spwd` is not present on iOS Python,
it cannot be added using `brew` nor `conda` nor `pip`.

EDIT: I edited the `user.py` file and set `HAVE_SPWD` to `False`, always. The import fai

[2019-06-14 10:40] petemounce commented on #25491
I would find this useful. On Windows, installing things often results in side-effects. The most common is the setting or changing of environment variables. When that happens, and the thing doing it only modifies the machine-level, the currently executing shell doesn't see the change.

It would be really convenient to be able to create a handler whose task does chocolatey's https://chocolatey.org/d

[2019-06-14 10:48] jborean93 commented on #57799
This should be fixed in 2.8.1 as per https://github.com/ansible/ansible/pull/55981. The backport unfortunately missed the 2.8.0 release timings and had to be held.

[2019-06-14 10:48] #57799 closed, assigned to nobody

[2019-06-14 11:02] winem opened #57842 "pamd overrides comments with state: before"
##### SUMMARY
The pamd module overrides comments if it is used with `state: before` and the line before the matching rule is a comment.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pamd

##### ANSIBLE VERSION
[code]

Initially experienced this bug with ansible 2.7.8. Used the devel branch just to ensure that it's still an issue.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 1

[2019-06-14 11:10] kahocheung commented on #57835
Turns out issue is with using Jinja2==2.10. Upgrading to 2.10.1 resolved this issue

[2019-06-14 11:10] #57835 closed, assigned to nobody

[2019-06-14 11:10] nqb commented on #57463
Solved on my side after applying patch and tested with:

[code]

[2019-06-14 11:21] sean797 commented on #25491
Closing as the idea was rejected, see https://github.com/ansible/ansible/pull/25573#issuecomment-439094463

[2019-06-14 11:21] #25491 closed, assigned to nobody

[2019-06-14 11:30] lviolon opened #57843 "ssh: UnicodeDecodeError: 'ascii' codec can't decode byte"
##### SUMMARY
Executing a playbook in verbose 3 (-vvv) leads to the following error:

fatal: [server]: FAILED! => {
    "msg": "Unexpected failure during module execution.",
    "stdout": ""
}

when following conditions are met:
- task in error: permission denied for example
- characters with an accent in connection messages: pre login message (file /etc/issue) for example

##### ISSUE TYPE
- Bug

[2019-06-14 12:13] pratikgadiya12 commented on #43577
Let me try to reproduce it

[2019-06-14 12:23] v1tal3 commented on #57718
@mikewiebe I'm currently working on testing this scenario, but having difficulty testing it with the `provider` since we proxy our connections.

[2019-06-14 12:48] scatat commented on #57673
@fabianvf  - yes, I did try ` file: '{{ lookup("file",  playbook_dir + "/configs/generated/istio/istio.yml") }}'` with exactly the same results before. Sorry, I guess I should have mentioned that.

[2019-06-14 12:50] scatat commented on #57673
@willthames  - the problem with escaping the unicode is that it's generated by `helm template` and produced 14000 lines of yaml! Is there an automated way of escaping the unicode in ansible?

[2019-06-14 12:54] pratikgadiya12 commented on #43577
This issue doesn't seem to be reproducible.

[code]
**Ansible Playbook**
[code]
**Execution results of the playbook**
[code]
@manuelmorena Could you try this on ansible 2.8 and onwards?

needs_info

CC: @bmalynovytch @felixfontein @Akasurde

[2019-06-14 12:57] Nikobraz opened #57847 "Module postgresql_set error when I try set "timezone""
Module postgresql_set error when I try set "timezone".
with other settings everything is ok
[code]
Error:
`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: IndexError: list index out of range
fatal: [127.0.0.1]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"/root/.ansible/tmp/ansible-tmp-1560516238.76-12

[2019-06-14 13:00] winem commented on #57842
I tested a workaround where I added another comment before the pam_unix.so line with the lineinfile module and noticed that the pamd module will override both comments in this case. Further tests have shown that the pamd module will basically override all comments until an empty line or line containing actual configuration parameters appears.

[2019-06-14 13:01] pratikgadiya12 commented on #50096
@robpblake Any updates on this?
needs_info

[2019-06-14 13:27] tyler-8 commented on #57376
@FragmentedPacket That sounds more robust than my original thought which was to remove the invalid parameters for VMs from the allowed parameters list. But given that the virtual-machine endpoint has a number of non-overlapping parameters that sounds like a solid method.

[2019-06-14 13:31] rtouillet commented on #56049
Hello,
same issue for me. Any update?
Version ansible 2.8.0, NetApp Release 9.3P5.
Thanks.

[2019-06-14 13:33] Andrei-Stepanov commented on #57365
Hello, any update on this bug?

[2019-06-14 13:46] sivel commented on #57839
This is expected and we will never allow this behavior. Register must use a statically defined string.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-14 13:46] #57839 closed, assigned to nobody

[2019-06-14 13:48] D3DeFi commented on #56233
Hey, finally had some time to test this. It seems that you've fixed this by yourself in #57325. Change that fixed this was explicit definition of `screens` sub options in `argument_spec`. Can you try this again with those changes merged?

Not sure how this was happening tho, maybe python3 was defaulting types to string for every missing `argument_spec['screens'][*]` sub option even when you've pro

[2019-06-14 14:09] D3DeFi commented on #55345
Hi @richlv , I think that `zabbix_screen` would need a lot more love than just a documentation update, but I don't know if I will find time for such an overhaul in the near future.

Original authors probably meant "screens and screen items". This module deletes screen items when state is absent, because they're counted as separate object for Zabbix API, but doesn't touch original resource that was

[2019-06-14 14:17] #57408 closed, assigned to nobody

[2019-06-14 14:18] mcasasola opened #57849 "VMWare: OVF deploy is not supporting StoragePod"
##### SUMMARY

I trying to deploy an OVA file to a StoragePod, but seems like is not supported in the vmware_deploy_ovf module, something that the vmware_guest module support when deploy a VM from a template.
The function find_datastore_by_name() used in there is just looking for 'Datastore' and not taking into account the 'StoragePod' object.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
v

[2019-06-14 15:42] mabeyj opened #57852 "Facts not gathered if play is only tagged with "never""
##### SUMMARY

Regression in 2.8: facts are not gathered (with default `DEFAULT_GATHERING=implicit`) when running a play that is only tagged with "never". In 2.7, facts would be gathered in this case.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Arch Linux on localhost.

##### STEPS TO REPRO

[2019-06-14 16:28] ShachafGoldstein commented on #57719
It is implemented via https://github.com/ansible/ansible/blob/3fb4c91d4c785c4b530f03dbda799718d02baf16/lib/ansible/modules/windows/win_domain_user.ps1#L283-L321

[2019-06-14 16:30] kvprasoon commented on #57792
@jborean93 Raised a PR for the doc correction, please review.

[2019-06-14 16:31] ShachafGoldstein commented on #57815
Maybe this has something to do with the fact the Powershell is started via the sshd process which wasn't restarted to have its own environment initialized

Did not test it but looking at the server with procexp and seeing what process starts the Powershell.exe would answer that

[2019-06-14 16:36] kinwolfqc commented on #26227
Status on this?  Still not fixed in 2.8 and yet the doc is pretty clear that using `meta: clear_host_errors` is the method that should be used to clear unreachable host error.

https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#resetting-unreachable-hosts

[2019-06-14 16:49] kinwolfqc commented on #26227
Further search shows that this issue might be closed but the doc needs updating to reflect that there is a new keyword `ignore_unreachable` since v2.7.  I tested it and it works.

[2019-06-14 16:52] bcoca commented on #57852
I would consider that a bug in 2.7, the 'never' tag should affect fact gathering (it is a task after all).

[2019-06-14 16:55] #57248 closed, assigned to nobody

[2019-06-14 16:56] sivel commented on #57834
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-06-14 16:56] #57834 closed, assigned to nobody

[2019-06-14 16:58] sivel commented on #57825
You should use the `stat` module to check for file existence, and not the `find` module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-06-14 16:58] #57825 closed, assigned to nobody

[2019-06-14 17:08] KodinLanewave commented on #56930
While the dot-notation argument is a somewhat valid excuse, I don't see this fixing your support issues without instead improving documentation.  All the devs have succeeded in doing is alienating a lot of users.  Group names I see as arbitrary string values.  Restricting to alphanumeric and underscore honestly is somewhat of a pain, especially when hostname RFC's allow dashes.

[2019-06-14 17:36] ShachafGoldstein commented on #57836
Have you used the `override` flag?

[2019-06-14 17:40] #53422 closed, assigned to Akasurde, bcoca

[2019-06-14 18:12] aka17034 opened #57858 "pmrun become plugin timeout while awaiting non-existent password prompt: "Enter UPM user password""
##### SUMMARY

When attempting to use `become_method: pmrun`, playbook hits timeout while awaiting non-existent password prompt: `Enter UPM user password:`.

In this environment, pmrun profile is set to `pf_enableauthentication= false`, so user is never prompted for password.

Changing the pmrun profile to `pf_enableauthentication= true`, as well as manually changing the default password prompt to

[2019-06-14 18:33] sat1121 opened #57859 "vmware_vmkernel - port group name for management vmk is not accounted"
##### SUMMARY
Using vmware_vmkernel. Not changing the port group name associated with the vmkernel

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_vmkernel

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

This issue occurs if you would like to change the port group name that is associated with the vmkernel. When a ESXi host

[2019-06-14 18:33] lijok opened #57860 "vmware_vmkernel reassign portgroups"
##### SUMMARY

add support for reassigning portgroups on an existing vmk in vmware_vmkernel

##### ISSUE TYPE
- Feature Idea
as a quick and dirty hack I shoved the following into line 639
[code]
but it would be great if this could be supported properly

##### COMPONENT NAME

vmware_vmkernel.py

[2019-06-14 18:41] lijok commented on #57860
closing as duplicate of https://github.com/ansible/ansible/issues/57859 (posted 30s apart)

[2019-06-14 18:41] #57860 closed, assigned to nobody

[2019-06-14 18:41] lijok commented on #57859
incredible, we posted the same issue seconds apart
as a quick and dirty hack I shoved the following into line 639
[code]
but it would be great if this could be supported properly