[2020-04-27 14:23] Altiire commented on #69097
But if I set `tags` on the `include_role`, all my tasks in the role get tagged too.

[code]

[2020-04-27 14:27] sivel commented on #69192
`playbook_vars_root` is non-functional, and will not be fixed.  This was covered in the Ansible 2.4 porting guide at https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.4.html#initial-playbook-relative-group-vars-and-host-vars

Imported playbooks, change their scope to the directory they are contained within.

Ansible will look for `group_vars` and `host_vars` in 2 locations.  W

[2020-04-27 14:38] sivel commented on #69195
The behavior you are seeing above is expected.  You have defined `collections` within your play as the following:

[code]

This implicitly becomes:

[code]

Which puts the search order of `pfsensible.core` before `ansible.legacy`.  As such, if `pfsensible.core` has a module that shadows the name of one within ansible itself, it will win.

If you want `ansible.legacy` (or `ansible.builtin`) to win,

[2020-04-27 14:45] #69192 closed, assigned to nobody

[2020-04-27 14:50] sivel commented on #69097
No, that is what `apply` does.

I think we've confused something here.  You stated:

Which I assumed meant you wanted to use `tags:` on that `include_role`, but I think what you are saying, is that if a task is tagged somewhere inside of the included role, that it isn't found.  I think what you want instead is to use the `always` tag:

[code]

Then the `include_role` always happens, and can then s

[2020-04-27 14:57] Altiire commented on #69097
I was thinking of the `always` tag too but the real problem was the story with apply/tags.

Thank you very much, it is now working and I learned a few things.

I let the issue open for the original issue.

Regards,

[2020-04-27 15:00] opoplawski commented on #69195
Thanks, I pretty much agree with everything above.  However, in line with using FQCNs everywhere, it seems appropriate that when ansible implicitly loads the setup module as part of the "Gathering facts" step that it explicitly calls ansible.legacy.setup (or whatever is appropriate for it).

[2020-04-27 15:04] sivel commented on #69195
Overriding modules is an acceptable use case.

[2020-04-27 15:16] sivel commented on #69188
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-04-27 15:16] #69188 closed, assigned to nobody

[2020-04-27 16:09] jhg03a commented on #50300
Also for what it's worth, the following differences in environment causes the same playbooks to work.

[code]

[code]

[code]

[2020-04-27 16:15] sivel commented on #69133
I had to handle similar situations with the `archive` module, although that goes in the opposite direction.  When creating the archive, I had to effectively use this pattern:

[code]

And then use `n_fullpath`.

However, since this is extracting, I wonder if we can avoid that, and just use `to_bytes` on these parts of the code:

[code]

It'll just require some testing since I don't know how much o

[2020-04-27 16:19] darkdragon-001 commented on #68645
The toolchain for Ubuntu 20.10 _Groovy Gorilla_ [will be ready this week](https://discourse.ubuntu.com/t/groovy-gorilla-release-schedule/15531). So when you add it to your CI directly, maybe it will be on time for the next release :blink:

[2020-04-27 16:25] sivel commented on #50300
Posting this here for future use: https://stackoverflow.com/questions/14149100/incompleteread-using-httplib/14206036#14206036

Which is inspired by http://bobrochel.blogspot.com/2010/11/bad-servers-chunked-encoding-and.html which indicates that the server here is the cause of the issue, and ultimately code changes are just having to deal with problematic server implementations.

We could probably

[2020-04-27 16:31] semente commented on #67416
Got the same issue @sakar97 is having. Any workaroung?

[2020-04-27 16:48] jhg03a commented on #50300
And alas, the workaround of switching to raw formatting over json doesn't always work.

[code]

[2020-04-27 16:53] sivel commented on #50300
I'm not sure what you changed, but on python3, and body needs to be encoded to bytes before sending it to `urllib.request`/`http.client`.

[2020-04-27 16:58] jhg03a commented on #50300
Switching the URI module `body_format: json` to `body_format: raw` let me work around it in one of my cases.

[2020-04-27 17:06] jhg03a commented on #50300
Is there any way from the URI module to override the HTTP version to 1.0 in order to simply switch off chunked encoding?

[2020-04-27 17:14] sivel commented on #50300
No. Technically there is no public API in python for doing so. Poking at `HTTPConnection._http_vsn` is not documented, although it seems that it has existed for a long time.

[2020-04-27 17:15] 2ps commented on #56489
We have this same problem with canvas--i.e., I can run npm i interactively via ssh, but I can't via ansible.  What add'l information can I provide that might help us debug this issue?

[2020-04-27 17:16] jhg03a commented on #50300
Fantastic.  Hmm... so it seems I'm stuck with maybe trying to figure out how to downgrade to Python2.  I don't have a great timetable of when things started going sideways for me.

[2020-04-27 17:54] jhg03a commented on #50300
Oi, I hate python versioning.  So upgrading to the latest alpine edge packages works.

[code]

[code]

[code]

[2020-04-27 17:55] harrytruman opened #69200 "Cannot Gather Facts with `junos_facts`"
##### SUMMARY
When running the `junos_facts` module against our inventory, we encounter this error:
AttributeError: 'NoneType' object has no attribute 'text'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
junos_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Junos 15.1f5 devices

##### STEPS TO REPRODUCE
Running fact collection through the resource mo

[2020-04-27 18:02] #69200 closed, assigned to nobody

[2020-04-27 18:02] harrytruman commented on #69200
Wrong location. My bad.

[2020-04-27 18:16] jhg03a commented on #50300
Upgrading all packages to the latest available on pip using python 3.6 doesn't seem to work, which suggests it may have a fix in python 3.8.

[2020-04-27 18:30] telus-beep commented on #69125
Logs from Ansible controller

[root@osboxes osboxes]# cat ansible.log
2020-04-27 14:26:10,970 p=4558 u=root n=ansible | PLAY [Various Checks] ***********************************************************************
2020-04-27 14:26:10,996 p=4558 u=root n=ansible | TASK [Checks] *******************************************************************************
2020-04-27 14:26:12,377 p=4566 u=root n=an

[2020-04-27 18:32] telus-beep commented on #69125
Logs from Jump host which is cisco device

               maclen 20
*Apr 27 18:18:11.670: SSH2 1: MAC compared for #8 :ok
*Apr 27 18:18:11.670: SSH2 1: input: padlength 15 bytes
*Apr 27 18:18:11.670: SSH2 1: Using method = keyboard-interactive
*Apr 27 18:18:11.670: SSH2 1: send:packet of  length 48 (length also includes padlen of 11)
*Apr 27 18:18:11.670: SSH2 1: computed MAC for sequence no.#8 ty

[2020-04-27 18:51] 2ps commented on #56489
Actually, it looks like this is an issue with npm.  `npm` doesn't like being run with `sudo`.  e.g., the following failed for us:

[code]
But uploading a script and having ansible invoke the script worked just fine.

[2020-04-27 19:08] sivel commented on #69133
Just a few more notes, this file is inside of a zip file.

On my Mac:

[code]

On an EL7 machine:

The non-ascii chars are replaced by unzip with literal `?` chars.

[code]

I've yet to debug any python code.

[2020-04-27 19:21] jborean93 commented on #69133
Just as an FYI for the Collection side of `ansible-galaxy` it uses a native string when getting the tar member

* https://github.com/ansible/ansible/blob/devel/lib/ansible/galaxy/collection.py#L360
* https://github.com/ansible/ansible/blob/devel/lib/ansible/galaxy/collection.py#L1163

I remember this being problematic as usually a byte string is what you should use for these types of APIs but when

[2020-04-27 20:10] felixfontein commented on #69190
I guess you need to pass `omit` and not `null`/`~`/`none`. The latter are valid values, while only the former means "this option is omitted".

[2020-04-27 20:21] Pyropace commented on #39413
I am having an issue ( rooted from the same bug ) where when i use delegate_to from windows host to localhost or any other linux machine it tries to use winrm to make the connection instead of ssh. I am trying to get around this, until the fix is in as i need to run python based module in my playbook . I am trying to create a host entry on the fly ( using add_host ) and setting the connection to s

[2020-04-27 21:14] sivel commented on #69133
I won't have more time to work on this today, so I'll post my progress:

[code]

I had to go with native strings to solve this on py2 and allow py3 to keep working.

This resolves the issue, but we'll likely need tests, and a changelog for this.  It's also only been tested lightly.

[2020-04-27 21:57] FlorinAndrei commented on #68419
@samccann This is not fixed at all!
I've wasted a lot of time today trying to work around broken links. It's horrific. Does anybody care about broken links in the documentation?
Here's the document:

https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#inventory-script-example-aws-ec2

The link to the EC2 external inventory script is still broken:

https://raw.githubuser

[2020-04-27 22:28] sivel commented on #68419
The most reliable location to get these scripts is the stable-2.9 branch, instead of devel:

https://github.com/ansible/ansible/tree/stable-2.9/contrib/inventory

The docs have been updated, and are pending deployment.

[2020-04-28 01:10] telus-beep commented on #15402
Hi luke how to use ssh pass my setup is as follow
Centos (Ansible Controller) > Solaris (Jump Host) > Cisco devices

I am trying to connect to cisco devices from Centos but it throws me and error. I have reported it but no help so far. Could you please advise. Here the link where you will find all the info.
https://github.com/ansible/ansible/issues/69125

[2020-04-28 02:08] relrod opened #69203 "Tracking: Adding Ubuntu 20.04 to CI"
##### SUMMARY

This is a tracking bug for the purpose of tracking adding Ubuntu 20.04 LTS to our CI systems, a prerequisite for releasing an official downstream Ansible PPA package for 20.04.

Work has started on this in #69161. However a multi-part issue was discovered which prevents us from continuing for the time being.

**Background:** We require `virtualenv` for various components (some tests

[2020-04-28 02:28] yanzhangi commented on #69065
@danielmellado  Well, thank you very much. I'll keep track of that.

[2020-04-28 02:38] eli-schwartz commented on #57062
If you have an os_release_file in /`etc/os-release` **it will be automatically used and preferred**. The os-release file exists to solve the problem where /etc/*-release can be anything, and often multiple things, and you cannot even predict what the name of the file is (or why would you need `distro` to begin with). If at all possible, use os-release! Most distros have this file these days.

And

[2020-04-28 05:04] secpol opened #69204 "Influxdb module has not defined default port number for udp_port parameter"
Issue:

The default UDP port is not parsed by python when executing playbook, udp_port parameter has to be specified manually.

Error:

`TASK [Create database using custom credentials] ***************************************************************************************************************************************************
An exception occurred during task execution. To see the full traceb

[2020-04-28 05:08] willthames opened #69205 "Inventory directories shadow inventory files without warning"
##### SUMMARY
If an inventory directory exists for a group, an inventory file for the same group is completely ignored without warning.

Because empty directories are ignored by `git status`, this leads to reproducibility problems too - running a checked out branch works fine even though weird problems occur locally!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
inventory loader

##### ANSI

[2020-04-28 05:29] bile0026 opened #69206 "ios_l2_interfaces merge function overwrites instead of merging"
##### SUMMARY
Unexpected behavior of ios_l2_interfaces module when using merged state. Overwrites allowed vlans on trunk links instead of adding to the list of allowed vlans. Same symptoms as here: https://github.com/ansible/ansible/issues/65332

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_l2_interfaces

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[

[2020-04-28 05:33] mkrizek commented on #69204
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-04-28 05:33] #69204 closed, assigned to nobody

[2020-04-28 05:35] mkrizek commented on #69206
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/an

[2020-04-28 05:35] #69206 closed, assigned to nobody

[2020-04-28 05:54] ivanixgames opened #69208 "Command 'ansible' not found after correct installation with pip3 on mac OSX"
Command 'ansible' not found after correct installation with pip3 using mac OSX

##### SUMMARY
Tried to install ansible on osx  using pip command but after I saw warining about python2.7 end of life in Jan 2020. So I tried using pip3 command.
Installation showed no errors, however the command 'ansible' was not available in known PATH settings.

I did find a similar bug reported here for Ubuntu at h

[2020-04-28 06:12] tremble commented on #69190
I specifically mean null / ~ / (leaving it blank), which result in 'None' as per the YAML spec https://yaml.org/spec/1.1/#id858600

'omit' behaves the way I would expect.  But when I define that a parameter has a type and *must* be defined.  I don't expect `None` to be passed to me.

I wasn't aware of this behaviour until I attempted to rely on
[code]

being equal to the following use of required_

[2020-04-28 06:23] bcoca commented on #68739
imports are not real tasks, since they are mostly a 'compile time' directive, there is currently no access to use a callback event the same way we do for includes which are 'dynamic' and execute as a task (though still not totally real tasks).

[2020-04-28 07:04] Akasurde commented on #68186
resolved_by_pr #69199

[2020-04-28 07:49] noziwatele commented on #63082
Hi @justjais,
Sorry for the slow response. I have just tested this again today on ansible `2.9.7`, and have found that it is only under certain circumstances that `check_mode` is not working as expected, as follows:

The host record already exists in Infoblox. I want to add an extensible attribute to the host record. (the extensible attribute that I am adding is already defined globally in my Info

[2020-04-28 07:58] NilashishC commented on #61766
@pabelanger I don't think we're seeing this now.

[2020-04-28 08:42] webknjaz commented on #69203
Ah, so it's that infamous Debian/Ubuntu packaging technique...
Need to tell @pradyunsg about this but not sure if it's something that pip upstream is supposed to fix. IMHO it's a problem of Debian/Ubuntu policies of not playing by the rules.
Also curious if @gaborbernat would be up to embedding `pip check` in the virtualenv for self-check...

[2020-04-28 08:57] imjoseangel opened #69211 "New merge lists plugin from a given key"
##### SUMMARY

Given two lists like:

[code]

When doing:

[code]

The results will be:

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`mergelist`
##### ADDITIONAL INFORMATION

I have already developed the solution. I really think it could be really useful in the Ansible Core. Please confirm.

[code]

[2020-04-28 09:07] imjoseangel commented on #69211
Guys, confirm if the functionality as new plugin included in core is feasible. Thanks!

[2020-04-28 09:38] gaborbernat commented on #69203
Embed? Probably not, calling pip is expensive. Feel free to write a plugin that maybe does this, but otherwise I'd just report this as bug to Debian.

[2020-04-28 10:19] #61766 closed, assigned to NilashishC

[2020-04-28 11:11] pradyunsg commented on #69203
This is a Debian bug worth reporting upstream.

[2020-04-28 11:44] webknjaz commented on #69203
Right, that's what I thought too.

[2020-04-28 11:48] webknjaz commented on #69203
@gaborbernat virtualenv has plugins now? How did I miss that! I assume you mean https://virtualenv.pypa.io/en/latest/extend.html#seed-mechanism, right?

[2020-04-28 12:40] gaborbernat commented on #69203
Yes probably by inheritance from app-data.

[2020-04-28 12:45] bile0026 commented on #69206
Thanks, I have opened this issue there.

[2020-04-28 14:16] sivel commented on #69211
Thank you very much for your interest in Ansible. At this time we are not accepting new plugins directly into the ansible/ansible repository.

If you wish to contribute a new plugin, please submit to one of the new collection repositories within https://github.com/ansible-collections

Likely https://github.com/ansible-collections/community.general

If you have further questions please stop by IRC

[2020-04-28 14:16] #69211 closed, assigned to nobody

[2020-04-28 14:18] sivel commented on #69208
Thank you very much for your interest in Ansible. Your issue seems to be with an operating system and the specific details around the usage of pip and packages installed via pip.

As this is not a bug with Ansible itself, please stop by IRC or the mailing list for further assitance:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-28 14:18] #69208 closed, assigned to nobody

[2020-04-28 15:00] danpospisil opened #69214 "net_get - attribute _connect_uncached error when being used as first task in a playbook"
##### SUMMARY
When I have only this task in playbook:
[code]
I get this error message:
[code]
If I prepend a task which opens a SSH connection to my device before this task then everything works properly (eg. routeros_command). So this led me to this merge request https://github.com/ansible/ansible/pull/62103 and I tried to use the same approach - add `conn.get_capabilities()` after calling `conn

[2020-04-28 15:33] BobbyGR opened #69215 "Unable to loop/with_dict with ios_vlans"
##### SUMMARY
When trying to loop ios_vlans config, */ansible/module_utils/common/validation.py reports

*argument config is of type <type 'dict'> and we were unable to convert to list: <type 'dict'> cannot be converted to a list*

same results if I use loop or with_dict:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_vlans

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

#####

[2020-04-28 15:44] sivel commented on #69215
The documentation of [`ios_vlans`](https://docs.ansible.com/ansible/latest/modules/ios_vlans_module.html) indicates that the `config` argument is supposed to be a `list`, where each element is a `dict`.

As such this is not valid:

[code]

At minimum, this would need to be updated to:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode

[2020-04-28 15:44] #69215 closed, assigned to nobody

[2020-04-28 15:47] #69054 closed, assigned to Shrews

[2020-04-28 16:30] resmo commented on #69179
I might have a reproducer as well, could you change the `include_role` to `import_role` and see if the issue is gone?

[2020-04-28 16:31] rwagnergit opened #69216 "task names do not appear if display_skipped_hosts is false"
##### SUMMARY

The name of certain tasks (e.g., include_role) does not appear in output when display_skipped_hosts = False.  This was reported on the ansible google group at https://groups.google.com/d/msg/ansible-project/d04DcvvsaUU/oYLuVSCEBwAJ, but looks like no one ever opened a bug report.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_role, but may be elsewhere
##### ANSIBLE V

[2020-04-28 16:38] bcoca commented on #69179
probably related #69040

[2020-04-28 16:42] yurtesen commented on #68739
@bcoca  could not import_tasks insert a pseudo task to be executed at import point to dynamically print the information like include_tasks do?

[code]

I tried the `-vv` and it shows that the file was imported at startup. But that is hardly useful to determine where things are coming from at runtime.

My original reason for using import_tasks was because it was not possible to use include_tasks an

[2020-04-28 16:43] bcoca commented on #68739
use it in the `apply`, the include/import themselves are not 'delegatable'

[2020-04-28 16:45] MAYAPERETZ opened #69217 "Broken import in ansible/plugins/cliconf/frr.py"
##### SUMMARY

There is a broken import in "ansible/plugins/cliconf/frr.py": from ansible.module_utils.basic import get_timestamp

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

frr, frr_bgp: module ansible/plugins/cliconf/frr.py

##### ANSIBLE VERSION

[code]
Seems like it affects versions 2.8 and up.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux maya-VirtualBox 5.3.0-46-gener

[2020-04-28 16:52] resmo opened #69218 "include_role with dependency role w. var defaults results in var undefined"
##### SUMMARY
Reproducer repo:
https://github.com/resmo/include_role_var_defaults_reproducer

include_role makes the var in a included role with dependency var defaults to be undefined, (changing it to import_role works as expected)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO R

[2020-04-28 16:55] sivel commented on #69217
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/frr.frr

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum

[2020-04-28 16:55] #69217 closed, assigned to nobody

[2020-04-28 16:58] sivel commented on #69218
Does setting `public: true` on the `include_role` fix the issue?

[2020-04-28 16:59] adrillon commented on #69179
@resmo the issue is still present with `import_role`:

[code]

[2020-04-28 17:02] yurtesen commented on #68739
@bcoca import_tasks accept delegate_to ... I read import_role also accepts delegate_to ,,, which I think is strange but anyway...

Thanks for the hint!!! I did not think `apply` would have worked but it worked with `include_role`. Stupid me :(

[2020-04-28 17:15] resmo commented on #69218
indeed.

Never mind.

[2020-04-28 17:15] #69218 closed, assigned to nobody

[2020-04-28 17:18] sivel commented on #69216
We might need to add some code similar to:

[code]

In `v2_playbook_on_include`

That code snippet is from `v2_runner_item_on_ok`, however `v2_playbook_on_include` doesn't get a `result` object. However I think that `included_file._task` should exist.

[2020-04-28 17:19] sivel commented on #69214
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-04-28 17:19] #69214 closed, assigned to nobody

[2020-04-28 17:55] #67269 closed, assigned to nobody

[2020-04-28 17:55] #68334 closed, assigned to bcoca

[2020-04-28 18:05] asciifaceman opened #69219 "datadog_monitor does not accept "process alert ""
##### SUMMARY
Datadog built-in module failing to deploy a "process alert" type which is a valid type of monitor.

This worked on ansible 2.6 as I referenced here: https://github.com/DataDog/ansible-datadog/issues/219

I just updated to Ansible 2.9.7 and found the issue still.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`datadog_monitor`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2020-04-28 18:06] asciifaceman opened #69220 "datadog_monitor does not accept "process alert" monitor type anymore"
##### SUMMARY
Datadog built-in module failing to deploy a "process alert" type which is a valid type of monitor.

This worked on ansible 2.6 as I referenced here: https://github.com/DataDog/ansible-datadog/issues/219

I just updated to Ansible 2.9.7 and found the issue still.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`datadog_monitor`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2020-04-28 18:16] bcoca commented on #68739
imports don't accept ANY keywords for themselves, they are just there to be inhertited by the imported tasks

includes DO accept some keywords, but those are not for inheritance, they apply to the include itself, to enable included tasks to  'inherit' , you have the `apply` keyword.

[2020-04-28 18:21] #69219 closed, assigned to nobody

[2020-04-28 18:21] asciifaceman commented on #69219
I don't know why this duplicated

[2020-04-28 18:26] sivel commented on #69220
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-28 18:26] #69220 closed, assigned to nobody

[2020-04-28 18:47] juneeighteen commented on #51663
Just ran into this issue today:
This is **broken**
[code]

Looking at comments above, this is a viable workaround for us:

* Breaking the task into three pieces (apt cache, wait for lock, install)
* Adding `force_apt_get:yes`
* `become:true` on the host level.

[code]

[2020-04-28 19:10] rosowiecki commented on #63673
Closed as parted module moved to community.general collection

[2020-04-28 19:10] #63673 closed, assigned to nobody

[2020-04-28 19:10] rosowiecki commented on #63640
Closed as parted module moved to community.general collection

[2020-04-28 19:10] #63640 closed, assigned to nobody

[2020-04-28 19:11] rosowiecki commented on #63676
Closed, similar issue will be created in community.general collection

[2020-04-28 19:11] #63676 closed, assigned to nobody

[2020-04-28 19:47] samccann commented on #68419
Devel is a work in progress and subject to problems such as this. Stable documentation remains at 'latest'.  Devel in this time is more difficult to keep correct as we are in the midst of a major migration of content to other locations. We have chosen to 'freeze' devel docs for now as we work through a method that will pull the documentation for migrated modules from their new collections back ont

[2020-04-28 19:51] ambazasador opened #69223 "docker_stack. fatal: [test]: failed! no such file or directory"
##### SUMMARY
Hi everyone! I tried to use docker_stack module but received error. where i did mistake ?

##### COMPONENT NAME
docker_stack

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]
pyyaml and jsondiff installed on host and remote server
[code]

root@q-VirtualBox:~/test-play# cat comp.yaml
[code]

##### OS / ENVIRONMENT
ubuntu 18.04

##### STEPS TO REPRODUCE
ansible-playbook -i hosts

[2020-04-28 19:54] s-hertel commented on #67862
It looks like there is an `ANSIBLE_GALAXY_TOKEN` environment variable. It was added in https://github.com/ansible/ansible/commit/576335e53dc7721811a9dfe02b29a36ec7f27e56. Does it work?

[2020-04-28 19:56] sivel commented on #69223
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-28 19:56] #69223 closed, assigned to nobody

[2020-04-28 19:58] geerlingguy commented on #67862
@s-hertel - Odd, in my reading of that code, it seems to be referring to a _GitHub_ access token (even though it's using a `GALAXY_ACCESS_TOKEN`...): https://github.com/ansible/ansible/commit/576335e53dc7721811a9dfe02b29a36ec7f27e56#diff-0fb1ac8e85c5f8b604a2bcbbe16a50c8R552

[2020-04-28 20:00] jborean93 commented on #67862
`ANSIBLE_GALAXY_TOKEN` is the token for GitHub auth and not actual Galaxy auth.

[2020-04-28 20:33] #69133 closed, assigned to nobody

[2020-04-28 21:36] gsauthof commented on #68532
I've tested the PR and it solves this issue for me.

Btw, I get with (and without) this change the following warning:

[code]

That means even when I specify it as just one fact gathering module:

[code]

When I call the module directly I don't get the warning:

[code]

[2020-04-28 21:55] IPvSean opened #69227 "when using dynamic inventory what are good practices for public cloud in provisioning"
##### SUMMARY
I would love some discussion on this problem I am having with public workshops for the Ansible Automation Platform.

Originally->
- provision instances on AWS (using ec2 modules)
- use add_host to create in-memory inventory for subsequent plays
- run on those new groups (create by add_host) in subsequent plays to configure and automate the newly created instances

###### PROBLEM STAT

[2020-04-28 22:15] IPvSean commented on #69227
I was hoping something like setting the `inventory_file` would work->

[code]

[2020-04-28 22:59] sambanks commented on #44838
I just hit this as well. Is it meant to be idempotent, or do we need to update the docs?

[2020-04-29 00:42] mit0223 opened #69228 "Error when specifying macors in zabbix_template module"
##### SUMMARY
If macros are not defined in the target template, specifying macors in the zabbix_template module causes an error of KeyError: 'macros'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_template

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

target OS: CentOS Linux release 7.6.1810 (Core)
target Zabbix: 5.0
python: 3.6.8

##### STEPS TO REPRODUCE
zabbix server was

[2020-04-29 01:11] ghost opened #69229 "postgresql_set is converting value for default_tablespace to uppercase"
##### SUMMARY

when using the postgresql_set module with the default_tablespace postgresql parameter it converts the value to uppercase - and fails when the tablespace name in postgresql defined in lowercase.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_set

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

the ansible host distribution is redh

[2020-04-29 03:20] parkrish commented on #68769
@ganeshrn , Thanks for the suggestion. Is the meta/routing.yml solution finalized ? If not , do you know ,when a final call on it will be made ?

[2020-04-29 04:13] FlorinAndrei commented on #68419
@samccann Meanwhile people are looking for information in a hurry to meet deadlines and fail to find it because documentation is broken. This is a terrible experience for your users.

Do not break documentation. The "latest" folder on the docs site should just work, no matter what. Broken links are not acceptable. I don't care what the technicalities are.

[2020-04-29 04:29] relrod opened #69230 "Tracking: Fedora 32 in CI"
##### SUMMARY

This issue is to track getting Fedora 32 in CI, per #69222 and supported on Fedora 32 remotes.

Current blocking issue that I am aware of:

* The DNF API has changed and the DNF Ansible module needs to be updated. For example, it currently reports an error condition with `package=wildcard*notinstalled state=absent` (that is, any `name` that is a wildcard but does not match an instal

[2020-04-29 05:44] mkrizek commented on #69229
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-04-29 05:44] #69229 closed, assigned to nobody

[2020-04-29 05:46] mkrizek commented on #69228
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.zabbix.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!f

[2020-04-29 05:46] #69228 closed, assigned to nobody

[2020-04-29 06:13] cherouvim commented on #63354
This worked but produced the following, worrying to me, diff:

	TASK [common : set hostname] ***************************************************
	--- before
	+++ after
	@@ -1,8 +1 @@
	-hostname = Static hostname: foobar
	-         Icon name: computer-vm
	-           Chassis: vm
	-           Boot ID: ec976c7c26cb45f2b48dd2...
	-    Virtualization: kvm
	-  Operating System: Ubuntu 14.04.6 LTS
	-

[2020-04-29 06:38] Akasurde commented on #68795
I can verify that the module does change the permission of known_hosts file after ssh-keygen command - [here](https://github.com/ansible/ansible/blob/bc41dd45141f627b31fbb04443fbaa1ea0c7d1d4/lib/ansible/modules/system/known_hosts.py#L143).

[2020-04-29 08:16] Akasurde commented on #68795
resolved_by_pr #69231

[2020-04-29 08:16] Akasurde commented on #68795
@edgewood, Could you please check PR #69231 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-04-29 08:25] Akasurde commented on #60422
@larsskj Could you please provide several entries for the known_hosts file for the host?

[2020-04-29 08:28] Akasurde commented on #59282
@mircea-vutcovici Can we close this as the original issue is resolved and closed?

needs_info

[2020-04-29 08:34] Akasurde commented on #54583
!component =lib/ansible/plugins/connection/ssh.py

[2020-04-29 09:24] Akasurde commented on #29331
resolved_by_pr #69231

[2020-04-29 09:27] yurtesen commented on #68739
@bcoca thank you for the explanation. I think it is really nice that Ansible uses `apply` keyword which inherits the keywords to included tasks. It makes things more clear.

But I guess it would be nice to have some sort of semantic uniformity. Because now you can give `delegate_to` keyword directly to `import_tasks` while if you want to do same thing with include_tasks you need to use it with `ap

[2020-04-29 09:38] rmja opened #69232 "openssl_csr extendedKeyUsage should support custom oid"
##### SUMMARY
The openssl_csr module should support custom OID's for extendedKeyUsage, example:

[code]

Applying this file currently returns:

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
openssl_csr

##### ADDITIONAL INFORMATION
The [cryptography_name_to_oid](https://github.com/ansible/ansible/blob/devel/test/support/integration/plugins/module_utils/crypto.py#L1810) should proba

[2020-04-29 10:20] mkrizek commented on #69232
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.crypto.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!f

[2020-04-29 10:20] #69232 closed, assigned to nobody

[2020-04-29 10:40] sborenst commented on #69227
Sean,
We have been dealing with Dynamic inventory (now using in-memory inventory) for a while, happy to have a conversation around this when you want.

You will find different considerations when trying to run your playbook in Tower when using dynamic inventory and others when not wanting to run dynamic inventory when you start your playbook but you will have to if using Dynamic.

Meanwhile, this

[2020-04-29 11:30] mkrizek commented on #63228
This is expected and documented at https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable. Include params have higher precedence than `set_fact`.

In your playbook, `foo: 123` is a play level variable which has lower precedence than set_fact and so it gets overwritten.

[2020-04-29 12:12] mahespth opened #69234 "Ansible pulp_repo module error during repo add using add_export_distributor: yes"
##### SUMMARY
When adding a new repository and setting add_export_distributor: yes the module appears to incorrectly add some attributes that are not features of the export_distributor causing it to fail.

Behavious was correct before the change introduced in the following commit https://github.com/ansible/ansible/commit/48c5930836055cd41c55e105f9ad964eb13b20fc

##### ISSUE TYPE
- Bug Report

####

[2020-04-29 12:19] mattiasb commented on #28052
I have a storage role that lets me ensure different logical volumes exist (including snapshots). When I run it the second time it gets stuck just like this (hanging on `lvchange` wanting input). Are there some good workarounds or should I just create snapshots manually?.

[2020-04-29 12:23] mkrizek commented on #69234
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-04-29 12:23] #69234 closed, assigned to nobody

[2020-04-29 12:34] mkrizek commented on #63228
@basos9 I tested Ansible versions down to `2.5` and the behavior is still the same.

needs_info

[2020-04-29 13:10] Fairlight2cx opened #69237 "yum module improperly reports error on successful package removal."
##### SUMMARY

The yum module is improperly reporting an error when successfully removing packages, even when the return code is 0, and the output shown clearly indicates success.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

centos-release-7-7.1908.0.el7.centos.x86_64
centos-release-7-8.2003.0.el7.cen

[2020-04-29 13:57] kompasmedia commented on #68361
Sad to say the above patch does not work for me, running Ansible from Ubuntu 20.04:
`ansible 2.9.6
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/xxx/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.8.2 (default,

[2020-04-29 14:13] #68536 closed, assigned to nobody

[2020-04-29 14:19] SuperSandro2000 commented on #29394
Bump

[2020-04-29 15:08] flowerysong commented on #69227
I might go for something like a wrapper script that created a temporary inventory file and passed that location to `ansible-playbook` via `ANSIBLE_CONFIG` and `--extra-vars`

[2020-04-29 15:14] jctanner commented on #69227
In talking with Sean about this, I think we're settled on the idea that it might be best resolved by something like an `import_inventory` module. I've asked him to ping @thaumos to discuss further. Let's keep this ticket open as a feature request for that.

[2020-04-29 15:45] felixfontein commented on #69033
For changelog generation, I added code which does recursive symlink resolving to find out the "real" module path.

[2020-04-29 15:46] felixfontein opened #69238 "ansible-test ansible-doc sanity check should also check that --json works"
##### SUMMARY
That would have prevented #69031.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-test

[2020-04-29 16:00] #67415 closed, assigned to nobody

[2020-04-29 16:00] #67402 closed, assigned to nobody

[2020-04-29 16:00] #67293 closed, assigned to nobody

[2020-04-29 16:08] #66854 closed, assigned to nobody

[2020-04-29 16:21] abadger commented on #68755
I'm working on revamping the tool right now to make it build docs for the ACD-ansible instead of assuming that everything lives inside of ansible/ansible.  This may be the best time to move it if we want to.

[2020-04-29 16:26] hotdawg789 commented on #68419
PITA

[2020-04-29 16:47] bcoca commented on #69227
you can 'emulate' the tower behaviour by using ansible-inventory to create a 'static' copy

`ansible-inventory -i aws_ec2.yml --list --yaml > static_snapshot.yml`

[2020-04-29 16:48] thunderpants73 commented on #24644
Not sure if this has been mentioned as well, but this seems to effect NFS mounts which use relative paths as opposed to absolute paths.

`[root@controllerVm ~]# ansible --version
ansible 2.9.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/sit

[2020-04-29 16:51] sivel commented on #68419
We obviously made a mistake originally in referencing the `devel` branch for these scripts in our docs. Hindsight is 20/20 as they say.

We are working on getting docs updated, as evidenced by the closed PRs and issues already referenced.

Our `latest` docs are tied to a release, so we are working on getting all of these places fixed, backported into the stable-2.9 branch, and included in doc upda

[2020-04-29 16:59] ReinerNippes opened #69239 "yum_repository : wrong join of gpgkey list"
##### SUMMARY
Using yum_repository with a list of gpgkeys does not work. @jtyr

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module: yum_repository

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
The join in the following line should use ',' instead of '\n'. Or?
https://github.com/ansible/ansible/blob/bc41dd45141f627b31fbb04443fbaa1ea0c7d1d4/lib/ansible/modules/packaging/os/yum_repo

[2020-04-29 17:10] bcoca commented on #68739
sadly since both behaviors are needed and sometimes require distinct values, we had to break semantic uniformity, cause you could not have it both ways, either uniformly apply to the tasks itself or uniformly use to inherit, we chose the former.

[2020-04-29 17:48] ckyriakidou commented on #53526
have they moved to ansible-base instead?

[2020-04-29 17:59] #59192 closed, assigned to justjais

[2020-04-29 18:18] NilashishC commented on #68343
Fixed by https://github.com/ansible-collections/cisco.nxos/pull/23

[2020-04-29 18:18] #68343 closed, assigned to srbharadwaj

[2020-04-29 18:19] NilashishC commented on #68144
Fixed by https://github.com/ansible-collections/cisco.nxos/pull/23

[2020-04-29 18:19] #68144 closed, assigned to srbharadwaj

[2020-04-29 18:20] NilashishC commented on #68146
Fixed by ansible-collections/cisco.nxos#23

[2020-04-29 18:20] #68146 closed, assigned to srbharadwaj

[2020-04-29 18:41] angystardust commented on #51108
For the `ec2_tag` module, there's a pending PR here: https://github.com/ansible-collections/amazon.aws/pull/41

[2020-04-29 18:50] #54718 closed, assigned to nobody

[2020-04-29 19:03] samccann commented on #67486
closing as duplicate of https://github.com/ansible-collections/overview/issues/40.

Note - collection-level documentation needs are being tracked in issues in that repo.

[2020-04-29 19:03] #67486 closed, assigned to acozine, samccann

[2020-04-29 19:10] joaocc commented on #67255
I confirm that the behaviour is ok, and that is prob the documentation that I pointed to that may be a bit misleading. Thx

[2020-04-29 19:13] sivel commented on #67255
Installing azure dependencies via `pip install ansible[azure]` is no longer supported.  Future versions will no longer include the `azure` `extras_require`.

See https://github.com/ansible/ansible/pull/67822 for more information.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/

[2020-04-29 19:13] #67255 closed, assigned to nobody

[2020-04-29 19:16] felixfontein commented on #69190
I agree that this behavior of `required` and related flags does **not** do what most module authors expect and expected. If this behavior is correctly, probably most (or even almost all?) modules will have lots of bugs that need to be fixed.

[2020-04-29 19:17] bcoca commented on #68532
the warning is diff bug, it should only occur when you set it explicitly not on defaults, will address that in diff ticket

[2020-04-29 19:19] felixfontein commented on #69190
To reproduce, one can use this mini module `test.py`:
[code]
with the following playbook:
[code]
The module accepts `null` for a string option which is marked as required.

[2020-04-29 19:44] samccann commented on #68744
Hi folks - is this something that needs to be fixed in both 2.9 and the collection that @Zype76 already has a PR for?

[2020-04-29 20:05] #69139 closed, assigned to nobody

[2020-04-29 20:08] #67357 closed, assigned to nobody

[2020-04-29 20:14] alitvak69 commented on #56023
still in 2.9.7

[2020-04-29 20:17] maxamillion commented on #59059
Fixed in `ansible.posix` collection. https://github.com/ansible-collections/ansible.posix/pull/15 but probably needs a 2.9 backport.

[2020-04-29 20:34] #53379 closed, assigned to nobody

[2020-04-29 21:12] bogd opened #69242 "Jinja2_native and missing quotes in string"
##### SUMMARY

When using a multiline string with multiple quotes, some of the quotes disappear if jinja2_native is enabled.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

jinja2_native

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

All quotes in the multiline string should be kept.

##### ACTUAL

[2020-04-29 21:20] sivel commented on #69242
The was an issue with upstream jinja2, that was resolved in jinja2 2.11.

See:
 - https://github.com/pallets/jinja/issues/1020
 - https://github.com/pallets/jinja/pull/1086

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-04-29 21:20] #69242 closed, assigned to nobody

[2020-04-29 21:28] #47511 closed, assigned to nobody

[2020-04-29 21:41] #59460 closed, assigned to nobody

[2020-04-29 22:10] bcoca commented on #69148
@gustmoge incorrect, filters ALWAYS run on the controller, since templating ONLY happens on the controller, otherwise it would require jinja2 + passing all inventory +all variables to the remote, which we don't do for many reasons.

[2020-04-30 02:27] maxamillion commented on #65650
resolved_by_pr 69241

[2020-04-30 02:30] ReyRen opened #69246 "get_urlkfailed to create temporary content file"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-04-30 02:31] #69246 closed, assigned to nobody

[2020-04-30 02:43] ReyRen opened #69247 "get_url: failed to create temporary content file: (''The read operation timed out'',)"
##### SUMMARY

When I use `get_url` to download some items on remote host, it will get error: "failed to create temporary content file: (''The read operation timed out'',)". But this download operation seems good  in the localhost.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/modules/net_tools/basics/get_url.py`

I tried change remote_tmp and local_tmp following https://github

[2020-04-30 02:43] maxamillion commented on #26673
@mmckinst I like the idea of adding it to `yum_repository` because it's about managing a content source and in the end it's effectively just a yum repo 👍

[2020-04-30 03:57] marafa opened #69251 "yum state=absent doesnt expand file names"
##### SUMMARY

when running this task
[code]
fails with `Failed to install some of the specified packages`
verbose output shows
[code]
i do recall that it _used_ to work but cannot recall which version

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module: yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Fedora release 32 (Th

[2020-04-30 06:58] ReyRen commented on #69247
Based on someone's advice extend the timeout, but still didn't work even if to 600s

[2020-04-30 07:33] #24161 closed, assigned to nobody

[2020-04-30 09:15] loop-evgeny commented on #34736
I can repro on Ansible 2.9.7. Setting `allow_duplicates: true` on the called role ("hello" in this example) is a workaround.

[2020-04-30 09:18] empire opened #69254 "Change comment string in template"
##### SUMMARY
Add comment_start_string and comment_end_string to template plugin.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
template

##### ADDITIONAL INFORMATION
In some situation, we need to change comment behavior of template plugin, for an example macros in Zabbix is like {#MACRO}.

[code]

[2020-04-30 09:19] empire commented on #69254
The issue is implemented in [this pull request](https://github.com/ansible/ansible/pull/69253)

[2020-04-30 09:24] loop-evgeny commented on #34736
This seems like a pretty serious bug, which can be difficult to track down in a real, complex playbook. Surprising that nothing has been done about it 2 years later.

[2020-04-30 10:30] tux21b opened #69255 "add a "fail" filter"
##### SUMMARY

Add a "fail" filter that always returns a FilterError with a specific message.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

core filters

##### ADDITIONAL INFORMATION

I would like to list and document all variables. Role specific variables could be listed and documented in "roles/\*/defaults/\*" and global variables in "group_vars/all/global.yml". Unfortunately there are

[2020-04-30 12:08] Akasurde commented on #38556
I am closing this issue since
- Python 2.6 and Ansible 2.4 are no longer supported.
- Unable to reproduce this issue in Ansible 2.[6-9] and devel.

Please feel free to open a new issue. Thanks.

[2020-04-30 12:08] #38556 closed, assigned to nobody

[2020-04-30 13:02] tremble commented on #69190
A couple of comments from folks on IRC:

- (@bcoca) "but i consider that a bug, even if it is a 'long standing tradition'"
- (@bcoca) "It should only accept None/null if its the default, which means its not required"
- `{{ omit }}` should work as a way to override module_defaults

With regards testing to avoid regressions:
- (@mattclay) "In general, I'd say if it can be written as an integration t

[2020-04-30 13:41] jctanner commented on #68834
!needs_collection_redirect

[2020-04-30 13:43] RanFirstTry commented on #15402
@telus-beep I just got this to work with sshpass. My device connections follow this format:
Linux ansible master --> linux bastion host --> cisco IOS device
The argument I have in my group_vars/all.yml (instead of the hosts file):
ansible_ssh_common_args: -o ProxyCommand="sshpass -p 'bastion_password' ssh -W %h:%p <bastion_username>@<bastion_ip_or_device_name> -p port"

the last -p port at the end

[2020-04-30 13:45] RanFirstTry commented on #69125
@telus-beep I just got this to work with sshpass. My device connections follow this format:
Linux ansible master --> linux bastion host --> cisco IOS device
The argument I have in my group_vars/all.yml (instead of the hosts file):
ansible_ssh_common_args: -o ProxyCommand="sshpass -p 'bastion_password' ssh -W %h:%p <bastion_username>@<bastion_ip_or_device_name> -p port"

the last -p port at the end

[2020-04-30 13:57] telus-beep commented on #15402
@RanFirstTry Thanks for looking into this.
So you mean the argument (ansible_ssh_common_args) has to be under groups_vars instead of host file, to make this work?

[2020-04-30 14:10] RanFirstTry commented on #15402
not necessarily, it can be in the hosts file
ansible_ssh_common_args = "that long string"
I just didnt do it there because quoting was an issue that I didnt care to try and make work. With the = in the hosts file, you need the outer quotes for the whole string, inner quotes for the proxycommand and a last set of quotes for the password. Since I only had " and ' to work with i didnt want to run int

[2020-04-30 14:11] dirkaholic opened #69256 "mongodb_shard does not recognize mongos with custom process name"
##### SUMMARY

When adding a shard the module checks for the connected server being a mongos by comparing the process name returned from the serverStatus to 'mongos'. That process name can be changed by using a custom name for the mongos binary (different versions on the same server or other reasons). Therefor the module fails in that case complaining that the process running on the specified host

[2020-04-30 14:13] telus-beep commented on #15402
@RanFirstTry  Thanks! I will try this later today and share my results with you.

[2020-04-30 14:33] sivel commented on #69256
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.mongodb

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-04-30 14:33] #69256 closed, assigned to nobody

[2020-04-30 14:38] NidhalRouissi commented on #15402
@RanFirstTry The problem is when there is no sshpass on the target ! I couldn't find any other way to use a password in the ProxyCommand. Any ideas ?

[2020-04-30 14:43] RanFirstTry commented on #15402
@NidhalRouissi Sorry I dont think I understand. I installed sshpass on the ansible master node, ssh pass doesnt need to be installed on the bastion host or the network device. What I do to authenticate with the device is define ansible_user, ansible_password and ansible_enable_pass in my hosts file or in my group_vars/

So you have sshpass installed on the master node. The master node has the prox

[2020-04-30 14:49] sivel commented on #69255
Is there a reason you couldn't just use the mandatory filter?

Don't define the var at all, but you can put a comment like:

[code]

And then in your task use:

[code]

[2020-04-30 14:56] tux21b commented on #69255
Thanks for your reply. That's basically how we are doing it now, but I think this approach has some drawbacks:
1) commenting out the variable makes the file harder to parse visually (no separation, no different syntax color)
2) the variable is used at multiple places in multiple roles. I would have to repeat the mandatory multiple times.
3) when reading the variable file it is not clear that this

[2020-04-30 15:04] telus-beep commented on #15402
@RanFirstTry  I tried but no joy :(

**This is my host file**
********************************************************************************************************
[routers]
#R1
R2
#R3

[all:vars]
ansible_connection= network_cli
ansible_network_os= ios
ansible_user= cisco
ansible_password= cisco
#ansible_become= yes
#ansible_become_method= enable
#ansible_become_password= cisco
ansible_ssh_comm

[2020-04-30 15:06] Yannik opened #69258 "ansible-galaxy output linebreaks based on terminal width break scripts"
## Bug Report

##### SUMMARY
I'm parsing the output of `ansible-galaxy install -r requirements.yml` using grep.
However, this sometimes unexpectedly fails, because apparantly `ansible-galaxy` breaks up single lines into multiple lines when the preceived terminal width is shorter than the line to be printed.

##### STEPS TO REPRODUCE
Run `ansible-galaxy install -r requirements.yml` for a role that

[2020-04-30 15:06] telus-beep commented on #15402
In the above case this is what I am trying to do Ansible Master (Centos 7 with ssh pass ) >>> R1 (cisco 1921 used as a Jump host) >>>>> R2 (cisco 1921 used as a target host)

[2020-04-30 15:08] RanFirstTry commented on #15402
I think cisco (the password) should be in quotes. We can take this off this chat if you'd like to not clutter.

[2020-04-30 15:09] Yannik commented on #69258
!component lib/ansible/utils/display.py,lib/ansible/cli/galaxy.py

[2020-04-30 15:13] Yannik commented on #69258
No, I'm not removing the warnings but filtering galaxy roles and which can possibly be updated their respective versions (current as well as latest available).

[2020-04-30 15:17] telus-beep commented on #15402
Sure we can take this off from the chat. Where should I contact you?
Putting the password in quotes didn't help, same results...

[2020-04-30 15:22] RanFirstTry commented on #15402
If you have reddit send me a message on u/RanFirstTry, email is safonov.emil@gmail.com if not.

[2020-04-30 15:22] Yannik commented on #69258
I guess changing the output without notice is fine, however, the problem I've described makes it impossible to use the output in any automated way at all.

[2020-04-30 15:24] sivel commented on #69258
And nor should it be used in any automated way, when you intend to parse the output. It's not intended to be machine parsable.

[2020-04-30 15:28] MarkusTeufelberger commented on #69255
This would be the filter equivalent of the `fail` module: https://docs.ansible.com/ansible/latest/modules/fail_module.html

[2020-04-30 15:33] Yannik commented on #69258
I disagree. There are useful applications where parsing the output of this is very useful. Be it, simply using `grep` to filter the output. The way this is being output seems like a really bad design choice to me.

[2020-04-30 15:35] Yannik commented on #69258
!component +lib/ansible/utils/display.py
!component +lib/ansible/cli/galaxy.py

[2020-04-30 16:07] #69239 closed, assigned to nobody

[2020-04-30 16:08] frbedson commented on #60922
when is a module for **mso_schema_site_anp_epg_static_binding** to allow a VPC static port mapping for an EPG, likely to be available?

[2020-04-30 16:16] cgruelle commented on #60922
See PR 62803. It’s currently in the development branch.

On Thu, Apr 30, 2020 at 12:08 PM frbedson <notifications@github.com> wrote:

[2020-04-30 16:41] BerkhanBerkdemir commented on #69015
Hi @sivel! Is there any progress in this unexpected behavior?

Stay safe,

[2020-04-30 16:51] bac-w opened #69261 "Dynamic inventory plugin (tower) don't work correctly"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible dynamic inventory plugin (tower)

SUMMARY

When I use Ansible dynamic inventory plugin for Ansible Tower, the inventory cannot be loaded, in the case of existing group(s) without any hosts in it.

STEPS TO REPRODUCE

ansible-inventory -i tower_inventory --list

EXPECTED RESULTS

I get a list of group(s) and hosts

ACTUAL RESULTS

ansible-

[2020-04-30 17:17] sharvesh06 opened #69263 "Trying to execute the nxos command. It throws an error saying unexpected error during module execution"
---
name: 🐛 Bug report
---

##### SUMMARY
Trying to execute the nxos command. It throws an error saying unexpected error during module execution

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos
nxos_command
cisco routers
ansible

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

[code]

[2020-04-30 17:51] bile0026 commented on #68147
I'm having this same issue, though in my instance VTP is turned off. Even though turned off, ios_vlans only seems to work if you have vtp version set to 1. Version 2 and version 3 cause the ios_vlans module to bomb. It will cause your whole playbook to bomb, even if the vlan already exists and doesn't need to make a modification.

[code]

[2020-04-30 18:07] bogd opened #69264 "routeros_command errors on first connection"
##### SUMMARY

Having recently switched to a new ansible installation, I am facing issues with errors on first connection when using the `routeros_command` module. If I retry the task (using the debugger), everything proceeds normally, and all future tasks using the same module succeed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

routeros_command

##### ANSIBLE VERSION

[code]

I have to

[2020-04-30 18:23] bcoca commented on #34259
PR above should fix the issue on usage, but not display, so debug will still show the 'inventory hostname' value, but the plugins should be getting only the delegated variable one.

[2020-04-30 18:34] jgurtz commented on #30411
We experience this bug on a daily basis on a pool of about 40K hosts. It comes and goes based on hosts' state. So far the only real workaround is to shard the ansible jobs into smaller batches in our orchestration (we're using http://screwdriver.cd). This minimizes the pain, but is.

Our playbook is for auditing, is very minimal and is optimized for speed with no gathering facts, etc...:
- copy a

[2020-04-30 18:37] FlorianHeigl commented on #30411
@jgurtz
at that scale, you already answered to yourself what the solution will be.
but, also, go back through the last year-ish of this ticket's comments there HAVE been 1-2 people over the last 2 years with very useful insights. If I'd be in your shoes, I'd look for those as a interim solution. But the root issue will probably not go away.

[2020-04-30 18:54] Shrews commented on #68751
I am unable to reproduce your results of lineinfile not creating or updating a file with version 2.9. Can you provide a simple playbook that reproduces the result you are seeing?

needs_info

[2020-04-30 19:14] jimi-c commented on #54583
This appears to be a problem with some interaction between sftp and your custom wrapper. This is not generally a supported configuration, however you may want to try using scp instead or to manually test an sftp transfer to the system without using Ansible to verify the command works.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate

[2020-04-30 19:14] #54583 closed, assigned to nobody

[2020-04-30 19:19] jimi-c commented on #69005
Per the above discussion it appears that we won't be adding this feature, however I'll defer to @nitzmahone and @thaumos as to whether or not we'll close this feature request.

[2020-04-30 19:22] #68471 closed, assigned to Shrews

[2020-04-30 19:24] Yannik commented on #69258
I've just noticed this breaks even more: the default terminal on gnome (which is again the default DE of both ubuntu and fedora) allows opening links from the terminal by ctrl-clicking them.

ansible prints out links for quite a few purposes, for example:
[code]

Due to the arbitrary linebreak, opening the link from the terminal is not possible anymore.

[2020-04-30 19:28] edgewood commented on #68795
I've confirmed that the behavior still exists in unmodified ansible, and is fixed by your PR code.  Thanks!

[2020-04-30 19:56] jimi-c commented on #69050
Per the above, please verify and/or reinstall the cryptography package on your system.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and

[2020-04-30 19:56] #69050 closed, assigned to nobody

[2020-04-30 20:00] marcfiu commented on #51325
It is confusing as heck, but the problem here seems to be yaml confusion wrt lists. The network_interfaces takes a list and you start two separate lists with:

`network_interfaces:`
`      - subnetwork: "{{ subnetwork }}"`
`      - network_ip: "{{my_ip_in_subnetwork}}"`

This above creates two interfaces. Try removing the `-` in front of the `network_ip`.

[2020-04-30 20:26] jgurtz commented on #30411
Thanks for the response. I have referenced this thread several times over the last year and AFAIKT, there are mitigations but no workarounds for this issue. If I have missed something groundbreaking please mention it.

I see some folks in this thread experiencing this issue with orders of magnitude less number of hosts and apparently enterprise switches/routers too. I sure do wish I had known of t

[2020-04-30 21:20] #69031 closed, assigned to bcoca

[2020-04-30 23:19] seansabour opened #69267 "Error reading SSH protocol banner timeout when using network_cli connection"
##### SUMMARY
When using the network_cli we are seeing issues with ssh protocol banner timeout coming from paramiko. When running the SSH proxy command manually from the server it has no problems connecting.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
network_cli connection plugin

##### ANSIBLE VERSION

[code]
I've also tested this with ansible2.8.4 with python2.7.5 and same issue occurs

[2020-05-01 00:00] snooyen commented on #56046
Any movement or comment available on this?  I have a playbook that includes 3 roles [B,C,D] which all depend on the same role [A].  Role A gets executed 3 times.

`- name: myRole
  hosts: localhost
  gather_facts : false
  become: true
  tasks:
    - include_role:
        name: 'B'
        apply:
          tags: [B]
      tags: [B]
    - include_role:
        name: 'C'
        apply:
          tag

[2020-05-01 00:01] glennschmidt commented on #69075
Btw the currently published docs don't even contain a working link to the ec2.py script..

https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#inventory-script-example-aws-ec2
links to
https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.py
which is a 404

[2020-05-01 00:55] sabik commented on #24215
Another use case would be to be able to output `--diff` information from script and command tasks; I can already use `ansible_diff_mode` to pass the relevant flag to the script or command, but getting the output out needs another task, which will be skipped most of the time.

[2020-05-01 01:35] cognifloyd commented on #24215
@sabik diff mode is different than verbose. You can already enable it per task. See the last example here: https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html#showing-differences-with-diff

[2020-05-01 03:45] briantist commented on #31030
The instance referenced above was definitely repeatable but only with a specific user on a specific pair of machines. No roaming profiles used. Same user on other machines (configured the same), and different user on these same machines did not produce the issue.

I don't recall who recommended this in the WWG meeting that one time, but this group policy/registry setting for not forcing the regist

[2020-05-01 05:18] queglay commented on #30411
In almost all my cases, -vvvv showed enough to determine the ssh issues relating to authentication, passwords, keys etc.  I wouldn't claim this fits others, but for me this is true.  It would be good if ansible provided more detail on authentication issues without having to rerun with -vvvv though...

[2020-05-01 05:45] ganeshrn commented on #69267
The issue should be fixed by PR https://github.com/ansible/ansible/pull/68184
Can you test the changes in PR and confirm if it works for you?

needs_info

[2020-05-01 06:32] rahulshw commented on #64836
I am seeing this problem for 2.9.7
[code]

[2020-05-01 09:02] FlorianHeigl commented on #30411
Fixing individual connection issues is not the way to go. Once you have a
get 1000s of systems there will always be some problematic ones. Back in
'14 I simply had 2 preconditionihg playbooks that did connectivity and
tests and only the survivors where then used for the real inventory. But
that also means that my inventory was not dynamic. Not much point :-)

But, what I wanted to point at is...:

[2020-05-01 09:02] #63981 closed, assigned to nobody

[2020-05-01 09:05] Prof-Bloodstone opened #69269 "Future variable overrides are substituted before being defined"
##### SUMMARY
When creating a play, if variable is to be used in `pre_tasks` section, it's substituted with an override from a per-role `vars` override under `roles` section. Converting to `include_role` inside `pre_tasks` fixes the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
playbook
include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2020-05-01 09:27] tobiasehlert commented on #68088
WIth the https://github.com/ansible/ansible/pull/66860 PR, this initial issue is resolved.

[2020-05-01 09:52] #68088 closed, assigned to nobody

[2020-05-01 09:53] wschoot opened #69270 "Unable to generate empty files with template module and if-statements"
#### SUMMARY
It seems that the template-module always adds an empty line to the resulting file, even if whitespaces are trimmed, when there's an if-statement in the jinja2 template.

I've tried a variety of lstrips and trims but the last empty line is always added.

This all seems to drill down to `preserve_trailing_newlines=True` in ansible/plugins/action/template.py -- setting this to False give

[2020-05-01 13:04] Prof-Bloodstone opened #69272 "Accessing variable with `vars` performs nested substitutions only sometimes"
##### SUMMARY

When accessing variable `X` directly (`{{ X }}`), partially yields different results to accessing it through `vars` dict (`{{ vars['X'] }}`).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

variables
vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

N

[2020-05-01 14:06] oxr463 opened #69274 "Clarification for Ansible and BSD Introduction"
##### SUMMARY

Clarify wording for BSD versus Linux/Unix in the User Guide.

BSD is probably more UNIX-like than Linux is. I find the wording of this section rather confusing.

I propose we change the "Linux/Unix" and "Unix/Linux" wording to `UNIX-like`.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

- [intro_bsd.rst](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/

[2020-05-01 15:06] gsauthof commented on #68532
You mean the diff bug should only occur when I call `ansible` with `--diff`?

I can reproduce this warning when I call `ansible` in an empty directory and my `$HOME` doesn't contain an `.ansible.cfg`:

[code]

[2020-05-01 15:12] sivel commented on #69272
This is explicitly a limitation of the `vars` variable.  It is not meant to be templated.

Typically speaking, you should never actually use the `vars` variable.

Look at using the `vars` lookup instead.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-01 15:12] #69272 closed, assigned to nobody

[2020-05-01 15:15] sivel commented on #69269
This is currently expected behavior.  `vars:` on a role is scoped at the play level, not scoped to the role.  As such, during play parsing time, the variables from `roles` are read and flattened into the play before any execution happens.

There is ongoing work to potentially change this behavior, which you can see at https://github.com/ansible/ansible/pull/69040

If you have further questions ple

[2020-05-01 15:15] #69269 closed, assigned to nobody

[2020-05-01 15:17] tnizharadze opened #69277 "Error parsing Cisco IOS interface configuration with parse_cli using "start_block"&"end_block""
##### SUMMARY

Error parsing Cisco IOS interface configuration with parse_cli when using "start_block" and "end_block" parameters.
Here is small patch, that eliminates this bug.
[network.py.patch.txt](https://github.com/ansible/ansible/files/4564884/network.py.patch.txt)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

parse_cli
[network.py.patch.txt](https://github.com/ansible/ansible/files/4

[2020-05-01 15:24] Prof-Bloodstone commented on #69272
Thanks for quick response!

I didn't find that information in the doc.
Then the other issue is as I mentioned - the loop label seems to template already templated value.
This has potential security implications:
[code]
Result:
[code]

I don't expect the third value to be templated - would expect it to be a string containing a valid jinja template.
But as you can see loop label executes it - if `my

[2020-05-01 15:27] Prof-Bloodstone commented on #69269
Thanks for your reply!

A notice in the doc would be nice - I didn't find it anywhere.

[2020-05-01 15:28] sivel commented on #69272
You should look at the `!unsafe` tag, if you wish to prevent something from ever being templated.  Ansible uses recursive templating, to allow vars to reference other vars. This is something that jinja2 itself doesn't do.

As such when you do the following:

[code]

That will be templated first, becoming:

[code]

And then later when referenced, that can be templated again.

Using `!unsafe` preven

[2020-05-01 15:57] timflannagan1 commented on #68763
I can also confirm that I'm seeing this templating caching change have pretty significant performance degradation issues. Before 2.9.6, role execution took anywhere from 3-7 minutes, and when we bump the Ansible minor version to 2.9.6+, it typically takes 45+ minutes to deploy all of our resources and this is always reproducible. When I deploy with more verbose logs, I can see that a task given a

[2020-05-01 16:32] geerlingguy commented on #68763
@kenyon - That would definitely have an impact, if something is doing a filesystem lookup X times, on NFS it might be a 20-30ms delay, whereas on a local SSD it's like 0.01ms... if it's running 100 lookups, that's an extra 3 seconds per task. I've run into similar issues when pulling data from EFS on AWS (not reproducible outside of that environment).

[2020-05-01 16:54] sivel commented on #68763
@timflannagan1 yes, so in your case, because templating is lazy evaluated, every time `meteringconfig_default_values` is used, it's re-evaluated.  The `only_one` var used in templating is described as:

[code]

Because `meteringconfig_default_values` has a value using `lookup` it is not just a single var.

Right now, to improve performance, you would need to have a `set_fact` task towards the star

[2020-05-01 17:44] Oloremo commented on #68763
I'm puzzled why this caching was removed without an optional fallback. lookup() could have dynamic data! Ok, mine don't. Could we have an optional and disabled by default argument "enable lookup cache"?

[2020-05-01 17:56] cosmi310599 opened #69279 "ERROR! Unexpected Exception: 'ascii' ANSIBLE"
**This is the error that appears**
ERROR! Unexpected Exception: 'ascii' codec can't encode character u'\xbf' in position 0: ordinal not in range(128)

**And this is the playbook:**

[code]
And if y do -vvv
[code]

I am new using ansible and this is a playbook that I am trying to manage users, if you see something crazy don't judge me please, and thank you!

[2020-05-01 17:56] sivel commented on #68763
@Oloremo We fixed valid bugs by making this change.  The change in question is a correct change. However, it exposes that some people were relying on buggy behavior, without realizing it.

[2020-05-01 18:06] ChrisAHolland commented on #69279
I don't think it likes that inverted question mark.

[2020-05-01 18:07] Oloremo commented on #68763
It's a correct change in 90% of the cases, I agree. Yet there is cases where lookups work with static data and adding an argument to the lookup function would solve 100% of cases.

[2020-05-01 18:11] cosmi310599 commented on #69279
I have removed the question mark and it works ... thank you very much!!

[2020-05-01 18:12] ba31 opened #69281 "Ansible - vmware_deploy_ovf - enableMPTSupport"
vmware_deploy_ovf fails with "msg": "Failure validating OVF import spec: Line 83: Unable to parse 'enableMPTSupport' for attribute 'key' on element 'Config'.. Line 115: Invalid value 'mgmt0' for element 'Connection'."
}

When I disable the "fail_on_spec_warnings" it does not fail although do not deploy any VM

**ISSUE TYPE**
Bug Report

**COMPONENT NAME**
vmware_deploy_ovf

**ANSIBLE VERSION**
ans

[2020-05-01 18:22] thaumos commented on #68763
I think what @sivel is saying that while we fixed buggy behaviour as a result, it's not as easy for us  to implement the expected caching behaviour as suggested or previously worked.

For now, there is a work-around, using set_fact.  Let's use that for now.

We are going to introduce a feature in a future release, after 2.10, to re-implement the expected caching behaviour.  That behaviour being, t

[2020-05-01 19:35] Oloremo commented on #68763
No chance to introduce it in 2.9? It seems like a single argument and an `if`.

[2020-05-01 19:37] jrkarnes opened #69283 "[Digital Ocean] digital_ocean_load_balancer_info cannot select LB by ID"
##### SUMMARY
When attempting to use the `digital_ocean_load_balancer_info` module, specifying a `load_balancer_id` causes the module to experience a failure.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`/ansible/modules/cloud/digital_ocean/digital_ocean_load_balancer_info.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I'm running this locally aga

[2020-05-01 19:37] bcoca commented on #69031
fyi, running the provided reproducer in 2.9 i get:

[code]

[2020-05-01 19:54] q2dg commented on #47909
See https://github.com/ansible/ansible/issues/35687 too

[2020-05-01 20:20] kevlar1818 commented on #68843
I think I may be experiencing this as well. Here's what I think is a concrete reproducible example (installing [vim-plug](https://github.com/junegunn/vim-plug)):

[code]

The `tail` command shows that the file is truncated.

[2020-05-01 20:43] dogaoz commented on #50956
Any updates on this? This feature would change everything in a good way.

[2020-05-01 21:22] bcoca commented on #30411
doesn't fix 'why things hang' but can create a way to avoid those from stopping a play run #69284

[2020-05-01 21:50] ankitasthana-hu commented on #69184
Is this issue resolved? if yes, could you please help me workaround? I am even facing this issue from past 2 days.

[2020-05-01 22:34] juanluisbaptiste commented on #64604
Hi,

Not sure if it's the same bug but for me this module is failing with a similar error:

[code]
I'm basically using the example code of the documentation:
[code]

[2020-05-01 22:34] shaunsmiley-xevo commented on #66870
I see the same issue with multiple different k8s manifests.

This appears to be the same as https://github.com/ansible/ansible/issues/67653.

[2020-05-01 22:41] mmckinst commented on #26673
I started a WIP at https://github.com/ansible/ansible/compare/devel...mmckinst:copr_try2 . I reused the `name` parameter. I might switch it to having its own `copr` parameter but we'd have to remove `name` as a required parameter for `yum_repository`.

[code]

[2020-05-02 02:30] gd-ksc commented on #57858
Closing. Rebuilt the environment, pmrun become plugin working, as expected, with no workarounds. Thanks,
[code]

[2020-05-02 02:30] #57858 closed, assigned to nobody

[2020-05-02 06:39] dragon0087 commented on #69267
@ganeshrn we've tried to modify the banner timeout, but still have the same issue. The timeout only delay the error from 15s to 30s. The problem is the bastion server doesn't seem to start the proxycommand at all. We did tcpdump and see the connection from client to bastion server can be established. However right after the handshake the connection is closed by a FIN from client. When test directl

[2020-05-02 08:56] #65650 closed, assigned to nobody

[2020-05-02 10:03] felixfontein commented on #69031
@bcoca that's the reproducer for the bug you fixed. try `ec2_vpc_vpn`. There the problem is in `sample` for return value `vgw_telemetry`.

[2020-05-02 10:41] harrypuru commented on #23534
How to install Ansible 2.2.0.0. from ansible-2.2.0.0.tar on ubuntu.

[2020-05-02 11:53] moucho opened #69286 "Pop!_OS ansible_os_family should be "Debian""
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Setup module and facts about de Operating System is detecting ansible_os_family as "Pop!_OS".
This distribution is based on Ubuntu, so it should be "Debian" the desired result

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Pop!_OS 20.04 LTS

##### STEPS TO REPRODUCE

ansible localhost -m setup

[2020-05-02 12:21] stanislaw55 commented on #68755
Hi,
I just would like to comment here to point out that there's already working tool for that: [ansible-doc-extractor](https://github.com/xlab-si/ansible-doc-extractor).

It's still pretty rough at the edges (no support for nested module options) but works fine for me

[2020-05-02 12:35] Akasurde commented on #69281
Issue migrated to https://github.com/ansible-collections/vmware/issues/158

[2020-05-02 12:35] #69281 closed, assigned to nobody

[2020-05-02 12:45] elafontaine commented on #69193
Thanks @mkrizek , I'll open it over there :).

[2020-05-02 15:23] meiry opened #69289 "ec2_instance_facts.py botocore.exceptions.NoCredentialsError: Unable to locate credentials , python 3.7"
##### SUMMARY
ec2_instance_facts.py botocore.exceptions.NoCredentialsError: Unable to locate credentials
after upgrading python from 2.7 to python 3.7

##### ISSUE TYPE
 can't  locate credentials
##### COMPONENT NAME
ec2_instance_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
AWS Linux

##### STEPS TO REPRODUCE
this is the task that it complains
this is t

[2020-05-02 15:40] meiry commented on #69289
after updating ansible to the latest I'm getting this error:

[code]

[2020-05-02 16:01] 1115787971 opened #69290 "vmware esxi software iscsi"
I am seeking the ansible vmware host modules about the software iscsi,I want to manage it,but I can't fount it.I have scanned the ansible document about vmware all modules.Which modules I can use?or have any way I can do.To turn on software iscsi，change the IQN and add static storage IP address and port

[2020-05-02 16:29] mekatum commented on #28722
Hi all!
I want this option too.

I use Ansible for deploy docker containers. As you can see, I place some dockerfile patch and build container with docker-compose. Rebuild container depend from task for render dockerfile.
I want run task (handler) for rebuild container without place dockerfile.

Playbook for example (may include some errors)

[code]

[2020-05-02 19:27] kbreit commented on #69176
@dgliria I just published v1.3.0 of the Meraki collection at https://galaxy.ansible.com/cisco/meraki. This includes a switch stack module so you can move to the collection and immediately use the module. Thank you.

[2020-05-03 02:42] freeseacher commented on #36395
Current workaroud.

requirements.tmpl:
[code]
.gitlab-ci.yaml
[code]

[2020-05-03 08:34] felixfontein commented on #68132
Just some numbers: if someone pushes a commit to a PR in community.general which modifies/add a lookup plugin, it takes 15 minutes until any other Shippable job from the same or another ansible-collections repository has a chance to run anything (assuming the Shippable queue was empty when the commit was added).

[2020-05-03 08:49] D3DeFi commented on #64604
Hi @juanluisbaptiste , unfortunately, the proposed fix in #64607 wasn't properly implemented at the time and hasn't made it to the ansible.

With the incoming split of community driven modules into a separate collections, this issue will be fixed in the ansible-collections/community.zabbix#33

close_me

[2020-05-03 08:57] #64604 closed, assigned to nobody

[2020-05-03 09:11] Akasurde commented on #69290
Issue migrated to https://github.com/ansible-collections/vmware/issues/159

[2020-05-03 09:11] #69290 closed, assigned to nobody

[2020-05-03 09:13] Akasurde commented on #69283
Issue migrated to https://github.com/ansible-collections/community.general/issues/265

[2020-05-03 09:13] #69283 closed, assigned to nobody

[2020-05-03 10:41] gaetanquentin opened #69292 "lxd connection: become/become_user ignored"
##### Problem
using lxd connection to provision lxd containers: become directive is ignored

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
command with become directive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
My inventory contains vms and containers: most of them are acceded with ssh connection, and some of containers with lxd connection.
The default config (group_vars:all

[2020-05-03 11:10] thugcee commented on #68645
Ubuntu 20.04 had Feature Definition Freeze in November 28th. This is the time for independent package makers to start adaptation, not the moment of a release.

[2020-05-03 12:01] saitho commented on #68645
You can also install Ansible via pip3. That's what I did and it just works
fine.

Seweryn Niemiec <notifications@github.com> schrieb am So., 3. Mai 2020,
13:11:

[2020-05-03 12:30] kotso opened #69293 "mysql_db can't authenticate when mysql 8 using mysql_native_password"
##### SUMMARY

mysql_db and mysql_user modules fail to auth with mysql8 when mysql_native_password is set as default authentication plugin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_db
mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS 10.15.4 (19E287)

##### STEPS TO REPRODUCE
mysql installation with `default-authentication-plugin=m

[2020-05-03 12:57] Akasurde commented on #69293
Issue migrated to https://github.com/ansible-collections/community.general/issues/266

[2020-05-03 12:57] #69293 closed, assigned to nobody

[2020-05-03 13:43] Akasurde commented on #69286
resolved_by_pr #69294

[2020-05-03 13:43] Akasurde commented on #69286
@moucho, Could you please check PR #69294 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-05-03 16:05] meiry commented on #69289
this keeps being very wired i keep getting those errors no matter what i do
here is my pip freeze if it helps
[code]
now i run only the problematic file : and still getting the error:
[code]

[2020-05-03 16:57] moucho commented on #69286
Hi @Akasurde
it works ok for me:

[code]
[code]
[code]

[2020-05-03 17:51] vaheminasyan opened #69297 "EC2 dynamic inventory link."
##### SUMMARY
The EC2 [external inventory script link](https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.py) is broken in [documentation](https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#inventory-script-example-aws-ec2) and returns 404.

Checked Openstack also, and its broken as well.

[2020-05-03 21:12] dragon0087 commented on #69267
`2020-04-30 04:19:35,822 p=64 u=root n=p=64 u=root | paramiko [tordevice.REDACTED] | starting thread (client mode): 0x8e912470
2020-04-30 04:19:35,822 p=64 u=root n=p=64 u=root | paramiko [tordevice.REDACTED] | Local version/idstring: SSH-2.0-paramiko_2.7.1
2020-04-30 04:19:50,824 p=64 u=root n=p=64 u=root | paramiko [tordevice.REDACTED] | Exception: Error reading SSH protocol banner`
Here we can

[2020-05-04 04:57] mkrizek commented on #69297
Duplicate of https://github.com/ansible/ansible/issues/68419

[2020-05-04 04:57] #69297 closed, assigned to nobody

[2020-05-04 04:59] mkrizek commented on #69292
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-04 04:59] #69292 closed, assigned to nobody

[2020-05-04 05:02] mkrizek commented on #69289
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-05-04 05:02] #69289 closed, assigned to nobody

[2020-05-04 05:17] yurtesen opened #69298 "dependencies role vars are inherited by role which depends on them"
##### SUMMARY
I am setting `ansible_user` as a role variable for a dependency.  Other roles are executed with same user.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
Ansible 2.9.6

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE
Create 2 roles where one role depends on another. Named `debug` and `debug2`

Both roles have

[2020-05-04 06:07] ganeshrn commented on #69267
@dragon0087
Based on the logs you shared it seems there is a connection timeout triggered
[code]
Try increasing the connect_timeout Refer: https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#persistent-connection-idle-timeout

Even after that if you are seeing the issue enable the persistent device logging to identify which command is failing (gerp for `jso

[2020-05-04 06:40] tboerger commented on #16052
The issue similar to https://github.com/ansible/ansible/issues/16052#issuecomment-399038452 had been resolved for me with installing the acl package on my Ubuntu target machine.

[2020-05-04 06:57] yurtesen commented on #69298
I now tested it with some other variables and the task which depends on the dependencies inherit variables other than `ansible_user` also.

[2020-05-04 10:22] meiry commented on #69289
Im answering my self and to help whom facing this problem
the thing is that boto3 is searching for the AWS credentials in /etc/boto.cfg
and not in .aws directory ...
so to find out i had to debug ansible using this link which was very helpful
https://docs.ansible.com/ansible/latest/user_guide/playbooks_debugger.html
in fact i think it is the most helpful link in ansible ecosystem.!
as this how you

[2020-05-04 12:50] craph opened #69301 "Synchronize wrong user and doesn't work"
##### SUMMARY

I'm unable to use synchronize Ansible module to copy files from a server A to server B
I'm using a shared user between thoses servers to authorize ssh connection without password by using ssh key.
But when I launch the synchronize module it seems it's the wrong user that it is used in the dest...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

synchronize

##### ANSIBLE VERSIO

[2020-05-04 13:06] rgarrigue commented on #36395
Working with Github Actions, I found this one https://github.com/marketplace/actions/setup-git-credentials with another interesting workaround : get token from CI's secrets via GIT_CREDENTIALS env var, store it in .gitcredentials, then tell Git to rewrite git scheme URLs to https.

Here's the log output, it's most likely missing bits, but gives an idea

[code]

[2020-05-04 13:12] mkrizek commented on #69301
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-05-04 13:12] #69301 closed, assigned to nobody

[2020-05-04 13:12] D3DeFi commented on #68088
Hello, please use ansible-collections/community.zabbix#35 for any further discussion.

[2020-05-04 13:20] D3DeFi commented on #66343
This issue has been moved to a collection repository for Zabbix content:
ansible-collections/community.zabbix#27

Please continue any further discussion there.

close_me

[2020-05-04 13:22] craph commented on #69301
in the document this is mentionned that this module is maintained by the Ansible Core Team... why you close the ticket ?

[2020-05-04 13:23] D3DeFi commented on #62485
This issue has been moved to a collection repository for Zabbix content:
ansible-collections/community.zabbix#32

Please continue any further discussion there.

close_me

[2020-05-04 13:25] D3DeFi commented on #59624
This issue has been moved to a collection repository for Zabbix content:
ansible-collections/community.zabbix#31

Please continue any further discussion there.

close_me

[2020-05-04 13:27] #66343 closed, assigned to nobody

[2020-05-04 13:27] #62485 closed, assigned to nobody

[2020-05-04 13:27] #59624 closed, assigned to nobody

[2020-05-04 13:28] D3DeFi commented on #58719
This issue has been moved to a collection repository for Zabbix content:
ansible-collections/community.zabbix#29

Please continue any further discussion there.

close_me

[2020-05-04 13:34] mkrizek commented on #69301
As my previous comment indicates, because the module is no longer in this repository. You can read more about the split into collections on the following links:

https://groups.google.com/forum/#!msg/ansible-devel/oKqgCeYTs-M/cHrOgMw8CAAJ
https://github.com/ansible-collections/overview/blob/master/README.rst

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on

[2020-05-04 13:36] #58719 closed, assigned to nobody

[2020-05-04 13:39] craph commented on #69301
Thank you @mkrizek

[2020-05-04 13:53] D3DeFi commented on #55439
This issue has been moved to a collection repository for Zabbix content:
ansible-collections/community.zabbix#28

Please continue any further discussion there.

close_me

[2020-05-04 13:56] D3DeFi commented on #58747
This issue has been moved to a collection repository for Zabbix content:
ansible-collections/community.zabbix#30

Please continue any further discussion there.

close_me

[2020-05-04 14:01] #58747 closed, assigned to nobody

[2020-05-04 14:01] #55439 closed, assigned to nobody

[2020-05-04 14:03] D3DeFi commented on #55345
This issue has been moved to a collection repository for Zabbix content:
ansible-collections/community.zabbix#36

Please continue any further discussion there.

close_me

[2020-05-04 14:05] RobVerduijn opened #69302 "service_facts breaks on fedora32 becuase list-unit-files returns 3 columns"
##### SUMMARY
service_facts breaks on fedora 32
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
service_facts

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora 32 x86_64

##### STEPS TO REPRODUCE

On fedora service_facts parses the output of the command
[code]
With fedora <32 the output has 2 columns
on fedora 32 the output has 3 columns (vendor preset h

[2020-05-04 14:07] bcoca commented on #69298
can you confirm #69040 fixes this issue for you?

[2020-05-04 14:09] #55345 closed, assigned to nobody

[2020-05-04 14:20] Akasurde commented on #69302
This is already fixed in 2.10 (devel) - https://github.com/ansible/ansible/pull/68211

[2020-05-04 14:22] bcoca commented on #69031
@felixfontein that still works for me, I get full json output and no errors

[2020-05-04 14:22] Akasurde commented on #69302
resolved_by_pr #69303

[2020-05-04 14:22] Akasurde commented on #69302
@RobVerduijn, Could you please check PR #69303 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-05-04 14:25] sivel commented on #69277
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-05-04 14:25] #69277 closed, assigned to nobody

[2020-05-04 14:42] RobVerduijn commented on #69302
Tested this on fedora 31 and 32, it works without errors now.

[2020-05-04 15:26] geerlingguy opened #69307 "Same-named roles in separate Ansible collections result in first role running every time"
##### SUMMARY

If I have two roles, both named `install` (or anything else), in two separate collections, and I use `include_role` to include one, then the other, the first role is actually run _both_ times.

If I use the top level `roles` keyword, only the first role is run; it basically ignores the second role entirely.

This happens whether invoking the role by FQCN _or_ using the `collections`

[2020-05-04 15:27] geerlingguy commented on #69307
I believe @rockaut initially mentioned this to me over the weekend, and then I went to do a little testing with some of my PHP roles, and noticed the same thing happening. It seems like it is a common pattern to have roles named somewhat generically, e.g. `install` or `setup` or `users`, and as people start moving those roles into collections (`my.collection.install`), and more than one collection

[2020-05-04 15:30] sivel commented on #69307
This has been resolved in devel/2.10, but due to additional features added to make it more useful, it will not be backported.

Can you test whether this works correctly for you in devel?

[2020-05-04 15:35] geerlingguy commented on #69307
It looks like this is fixed in 2.10. The question is—if we're encouraging more people to move their roles (whether in Galaxy or local) into collections, this is going to start hitting a lot more people in 2.9...

[2020-05-04 15:39] edhil opened #69308 "apt_repository: broken on python 2.6 with TypeError: instancemethod expected at least 2 arguments, got 0"
##### SUMMARY
apt_repository throws exception "TypeError: instancemethod expected at least 2 arguments, got 0"
This is the same issue than #57195 which has been closed, but still persist.

Please note that I'm fully aware that python 2.6 is old, and debian6 is very old.
However the documentation says that python2.6 is supported for managed nodes (and not for management Host), so this module is exp

[2020-05-04 15:46] sivel commented on #69308
It seems this is a result of this change: https://github.com/ansible/ansible/commit/79bb7bde5ff447d7734a93f0d8b5c248f117dd6a

To make it work, we may need to introduce a `__getnewargs_ex__`/`__getnewargs__` method on `UbuntuSourcesList`

[2020-05-04 16:40] ansibleusersili opened #69309 ""Failure validating OVF import spec: Host did not have any virtual network defined."
##### SUMMARY

Hello everyboby, i have a problem with automatic OVF/OVA deployement with Ansible on vmware. I had this error message 'Failure validating OVF import spec: Host did not have any virtual defined'
 I tried multiple combination and following issue that were referenced on github, but nothing worked.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_deploy_ovf

##### ANSIBLE VE

[2020-05-04 16:40] LucasBoisserie commented on #61546
Merged into ansible-collections/kubernetes

[2020-05-04 16:40] #61546 closed, assigned to nobody

[2020-05-04 16:43] sivel commented on #69309
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/

[2020-05-04 16:43] #69309 closed, assigned to nobody

[2020-05-04 16:57] rockaut commented on #69307
Thank you @geerlingguy for opening the issue as I forgot about it.

If this isn't backported it would be at least useful to mention the issue in the docs somehow. Or more specific the workaround as it's pretty simple: just split the roles in separate plays:

[code]

[2020-05-04 16:59] sivel commented on #69308
Here is a potential fix:

[code]

Anyone who wishes can work on applying this change, writing tests, and a changelog.

[2020-05-04 17:21] danielmotaleite commented on #45654
i would also like for this feature!
right now our files keep changing because different users have their own home directory, and we store the ansible repos in our homes...so when i run a ansible that another co-worker have run it in the past, it always reports changes to the path, just in the username part.
Relative paths would solve this, the file is always in the same place in the repo.

Having

[2020-05-04 18:00] geerlingguy opened #69311 "Project-local collections trigger MANIFEST.json warning"
##### SUMMARY

Often when I'm building new playbooks, I need to add a local role or some modules specific to that particular playbook, that I don't intend to share elsewhere (e.g. Galaxy or internally with other projects).

My typical workflow for plugins or roles would be to generate the plugin/role in the playbook, then run it.

I noticed that when I create a local collection, e.g. with:

    an

[2020-05-04 18:01] felixfontein commented on #69031
When I copy the code of that module from stable-2.9 into `devel` (and comment out the doc fragments), and then run `ansible-doc --json ec2_vpc_vpn`, I get:
[code]

[2020-05-04 18:04] geerlingguy commented on #69311
Ah, found https://github.com/ansible/ansible/issues/67490 which seems like it may cover this use case. Closing as dupe.

[2020-05-04 18:04] #69311 closed, assigned to nobody

[2020-05-04 18:05] geerlingguy commented on #67490
@samdoran - Would the fix also apply to operations like `ansible-galaxy collection install`?

[2020-05-04 18:10] andy-maier opened #69312 "plugin_formatter specifies illegal kwarg on sys.exit()"
##### SUMMARY

The following code exists in `hacking/build_library/build_ansible/command_plugins/plugin_formatter.py`:

[code]

The `sys.exit()` method supports only one optional argument `arg` (as per its docs in [Python 2.7](https://docs.python.org/2.7/library/sys.html#sys.exit), [Python 3.8](https://docs.python.org/3.8/library/sys.html#sys.exit).

Getting into these code paths results in:

[cod

[2020-05-04 18:17] sivel commented on #69312
Duplicate of https://github.com/ansible/ansible/pull/68016

[2020-05-04 18:17] #69312 closed, assigned to nobody

[2020-05-04 18:28] jrmcdonald commented on #68851
Here is an example, note it requires Hetzner Cloud servers and a token:

`
plugin: hcloud
token: some_token
network: kubernetes
keyed_groups:
  - key: labels
    prefix: ""
    separator: ""
`
In the above example the labels have invalid characters i.e. 'kube-master'. The plugin follows the path below:

1. The hcloud inventory plugin for querying Hetzner Cloud uses the Constructable base class
2.

[2020-05-04 18:30] sivel commented on #69279
Is this still an issue on more recent versions of Ansible?  I cannot replicate it, and according to the traceback, that line corresponds with Ansible 2.2.  The oldest supported version of Ansible currently is Ansible 2.7.

needs_info

[2020-05-04 18:49] andy-maier commented on #69312
Sorry for the dup. I did search open issues, but this one is a PR without issue, and that's what I did not check ... :-)

[2020-05-04 18:53] feisacrabel opened #69315 "Cisco MDS Switches"
##### SUMMARY
Im attempting to manage Cisco MDS switches running m9100-s5ek9-kickstart-mz.8.4.1.bin code.
The issue I'm running into is piping into json doesn't work

sh version | json
                               ^
% Incomplete command at '^' marker.

but piping into json native works

sh version | json native
{
        "header_str":   "Cisco Nexus Operating System (NX-OS) Software\nTAC support

[2020-05-04 18:57] sivel commented on #69315
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/an

[2020-05-04 18:57] #69315 closed, assigned to nobody

[2020-05-04 18:58] secpol opened #69316 "Ansible conditional based on return data gives opposite results"
##### SUMMARY
Ansible produces opposite results when searching for string in output

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
IOS

##### ANSIBLE VERSION
Python 2.7.5 produces exact the same issues
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE
[code]
More in following disscusion:
https://gist.github.com/zeitounat

[2020-05-04 19:13] waymen opened #69318 "Syntax Error while loading YAML."
##### SUMMARY

Syntax Error while loading YAML

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

macos and python3.8

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos

##### STEPS TO REPRODUCE

my inventory file:
[code]
ok:
[code]
but, when i have an yml file:
[code]
error:
[code]

[2020-05-04 19:30] sivel commented on #69316
I think the problem is in how the network modules return `stdout` as opposed to this being some form of bug.

The network modules, because they can contain the output from multiple commands, structure the `stdout` as a list of strings.

As such, if you are running a single command, then you would do:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible

[2020-05-04 19:30] #69316 closed, assigned to nobody

[2020-05-04 19:32] sivel commented on #69318
The problem, as indicated in the output, is the extra `:` characters are confusing the YAML parser.

To work around this, you will need to quote the keys:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-04 19:32] #69318 closed, assigned to nobody

[2020-05-04 19:48] danieljakots opened #69320 "Ansible task with become !root fails with py3 (py2 is fine)"
#### SUMMARY
Ansible task with become !root fails with py3 (py2 is fine).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible "client" is ubuntu 20.04, target is OpenBSD -current.

##### STEPS TO REPRODUCE
[code]
Most stuff is done as root as the priviledge user is required but sometimes I use anoth

[2020-05-04 20:59] #68473 closed, assigned to nobody

[2020-05-04 21:14] yurtesen commented on #69298
@bcoca it looks like it should. But I have no way of testing right now...

[2020-05-04 21:16] #69274 closed, assigned to nobody

[2020-05-04 21:29] PRINCExxxEMZ commented on #68500
Nit!!

[2020-05-04 21:45] dragon0087 commented on #69267
@ganeshrn change persistent timeout didn't help. persistent logging give only one more line that pretty much saying the same thing
`2020-05-04 21:38:52,714 p=32 u=root n=ansible | jsonrpc response: {"jsonrpc": "2.0", "id": "3fc97156-4b2c-404b-8fa6-b1c8a2c64fcd", "error": {"code": -32603, "message": "Internal error", "data": "Error reading SSH protocol banner"}}`

The issue is tcp connection can be

[2020-05-04 22:16] dragon0087 commented on #69267
btw this is our ansible.cfg

[code]

[2020-05-05 00:52] rrmavani commented on #37412
Same issue faced.. I am not able to find any module for creating layer 7 load balancer.

[2020-05-05 04:25] lod commented on #63134
Observed this fault in Kali 2019.2
Did not observe the fault in Kali 2020.1 (latest)

Note that the AWS Marketplace Kali 2019 image now has python3-apt pre-installed so doesn't display the issue.

[2020-05-05 04:30] lpossamai commented on #29931
+1

[2020-05-05 04:32] amithapa commented on #48819
I was facing the same issue and the following solution worked out for me:
[code]

[2020-05-05 06:11] nfwork01 opened #69325 "selinux modules don't change SELINUXTYPE when it's not exist in /etc/selinux/config."
##### SUMMARY
SELinux moduled does not add new SELINUXTYPE line in /etc/selinux/config when that line does not exits.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
selinux

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Ansible tasks
[code]
/etc/selinux/config
[code]

##### EXPECTED RESULTS
/etc/selinux/config
[code]

##### ACTUAL RESULTS
/etc/selinux/config
[code]

tasks log
[code]

tas

[2020-05-05 06:32] ganeshrn commented on #69267
@dragon0087 In you ansible.cfg file I can't see any values for connect_timeout. Is it set somewhere else?
[code]

[2020-05-05 07:08] mkrizek commented on #69325
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-05-05 07:08] #69325 closed, assigned to nobody

[2020-05-05 07:25] vburamdo commented on #64250
Can someone please review this issue?

[2020-05-05 08:33] vburamdo commented on #64250
We have tried in ansible 2.9.7 versions too, its not locking it at 50% of the VG for second and later runs.
First Run:

[root@vmdenseio216 ~]# df -hP /nvme/
Filesystem Size Used Avail Use% Mounted on
/dev/mapper/vg_nvme-lv_nvme 3.0T 33M 3.0T 1% /nvme
[root@vmdenseio216 ~]# vgs
VG #PV #LV #SN Attr VSize VFree
vg_nvme 2 1 0 wz--n- 11.64t 5.82t
[root@vmdenseio216 ~]# pvs
PV VG Fmt Attr PSize PFree
/d

[2020-05-05 08:33] vburamdo commented on #64250
We have tried in ansible 2.9.7 versions too, its not locking it at 50% of the VG for second and later runs.
----------
First Run:
----------

[root@vmdenseio216 ~]# df -hP /nvme/
Filesystem                   Size  Used Avail Use% Mounted on
/dev/mapper/vg_nvme-lv_nvme  3.0T   33M  3.0T   1% /nvme
[root@vmdenseio216 ~]# vgs
  VG      #PV #LV #SN Attr   VSize  VFree
  vg_nvme   2   1   0 wz--n- 11.6

[2020-05-05 09:01] nishant2019 opened #69327 "Error with module"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]
I am getting this error
ERROR! 'os_server_actions' is not a valid attribute for a Play
The error appears to be in '/tmp/awx_100_1hlhozhi/project/start_vm.yaml': line 1, column 3, but may
be elsewhere in the file dep

[2020-05-05 09:09] hackerkreise commented on #69251
We are also affected, with RedHat 8. Seems to be dnf specific.

[2020-05-05 09:11] v-zhuravlev opened #69328 "Add INVOKE LAMBDA mysql privilege"
##### SUMMARY
Add INVOKE LAMBDA mysql privilege

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_user module

##### ADDITIONAL INFORMATION
This PR (https://github.com/ansible/ansible/pull/59663) adds SELECT INTO S3 and LOAD FROM S3 priviligies to set of valid privs.

There is also `INVOKE LAMBDA` privilege used in Aurora DB: https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/

[2020-05-05 09:19] Akasurde commented on #69327
Hi! @nishant2019 `os_server_actions` is not a play parameter. You may correct your play like

[code]

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-05-05 09:19] #69327 closed, assigned to nobody

[2020-05-05 09:24] wawrzek commented on #63822
I have another example. Let's imagine that:
* I have a role to install a piece of software.
* Sometimes I need to install two different versions of it on one machine.
* Each version needs own systemd with a handler to start it.

So I run a role to install software twice, each time with a different version number. However, the handler is going to be trigger only once (as described in #4943 https://

[2020-05-05 09:37] mkrizek commented on #69328
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-05 09:37] #69328 closed, assigned to nobody

[2020-05-05 09:58] duabhisheksingh opened #69329 "Ansible URI module is failing during POST while sending file in form-data"
##### SUMMARY
Ansible URI module is failing during POST while sending the file in a form-data.
Ansible is running on a docker VM.

ansible --version
ansible 2.3.3.0
  config file = /tmp/aat_auto_installation/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Aug  7 2019, 00:51:29) [GCC 4.8.5 20150623 (Red Hat 4.8.5-39)]

OS : centos7

 Following

[2020-05-05 10:00] Roia5 opened #69330 "k8s module: apply and force parameters still permit OpenShift secret change"
##### SUMMARY
When attempting to use the `k8s` module to deploy OpenShift objects (secrets, deployments etc.) using operator-sdk, we configured a secret with `apply: no` (also tried `force: no`) to disallow changing the secret contents.
Despite these parameters, changing the input variables in the CustomResource still resulted in the secret contents changing to the new parameters.

##### ISSUE TYP

[2020-05-05 10:03] mkrizek commented on #69330
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.kubernetes.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum

[2020-05-05 10:03] #69330 closed, assigned to nobody

[2020-05-05 10:08] zytek opened #69331 "package module does not replicate apt behaviour of installing all packages in list "at once""
##### SUMMARY

When installing multiple packages via `apt` module, using list syntax - those are installed "at once". But when using `package` abstraction it seems like `apt` is run for each package in list, separately. Because first package has post-install hooks then upon running second apt - it fails as lock is still held by post-install scripts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2020-05-05 10:12] mkrizek commented on #69331
You only provided one package which is `chrony` - `name: 'chrony'` which is a string, not a list. Can you elaborate?

needs_info

[2020-05-05 10:36] zytek commented on #69331
@mkrizek 🤦  you are right. My eyes lied to me and I confused it with tags.

So the reason of package installation failure must be different. How come can this task fail (on apt-lock) but just after it I do see `chrony` postinst running? Any ideas how to debug that?

There is another role run before, making sure that linux-aws is in `latest`. Nothing more, as ansible-chrony is one of the first role

[2020-05-05 10:41] kriksius commented on #33284
I have two clusters i the same datacenter, from what one has distributed switch (A) other has standard switch (A) and portgroup names are corresponding, when i try to create vm to the cluster, which does not have distributed switch (B), then automatically the distributed switch from cluster A is used.

[2020-05-05 11:11] codesupremo opened #69332 "CLI_COMMAND unable to print for multiple show commands and save it as a Text File"
##### SUMMARY

Hi Guys,

Is there a way that I can save the output of multiple show commands using CLI_COMMAND module for IOS,AIREOS and Juniper Devices?

Also, I’m trying to gracefully shutdown our Juniper SRX devices using “request system power-off” command. How do I deal with the prompt issue so that it will answer ‘yes’ automatically? This is for CLI_COMMAND module as well. Is there a prompt/a

[2020-05-05 12:28] Passo1 opened #69333 "Skipped task mess registered variable"
##### SUMMARY
Task what is skipped due to the condition, clear the variable what has been set earlier if that skipped task has the same variable setting.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
register, when

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
ubuntu 1404
4.4.0-148-generic #174~14.04.1-Ubuntu SMP Thu May 9 08:17:37 UTC 2019 x86_64 x86_64 x

[2020-05-05 13:12] mkrizek commented on #69333
Duplicate of https://github.com/ansible/ansible/issues/17500

[2020-05-05 13:12] #69333 closed, assigned to nobody

[2020-05-05 13:16] mkrizek commented on #69331
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

Thank you once again a

[2020-05-05 13:16] #69331 closed, assigned to nobody

[2020-05-05 13:34] denngie commented on #59059
Just want to make sure I understand this correctly. Since you fixed it in the collection, once 2.10 is released this issue will be resolved right? If so I can close my own PR (ansible/ansible#59062)

[2020-05-05 13:55] taram67 commented on #58723
The script doesn't create a user without a valid PrimaryGroupId (meaning that no group exists with this id), which makes the new build system tool xcbuild from Apple crash.

[2020-05-05 14:00] samccann opened #69334 "[2/2]Document how to migrate a playbook to use collections"
##### SUMMARY

Explain the ins and outs of playbooks  -what works without any changes (aka modules that existed in 2.9) and what requires the FQCN (new modules added to a collection in 2.10 - even if the rest of that collection has migrated modules).

Also explain any gotchas - like if two collections have the same module name  (foo) and you use the `collections` keyword, the playbook will always

[2020-05-05 14:01] Shrews commented on #69332
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible and #ansible-network on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  T

[2020-05-05 14:01] #69332 closed, assigned to nobody

[2020-05-05 14:37] abadger commented on #68755
@stanislaw55 Yeah, I have a tab open on that right now, too.  I'm currently working on the collection downloading step (combining that with code I have for assembling the ansible-2.10 tarball from collections).  Once I get to the parsing and formatting of output I'll need to consult code from ansible-doc-extractor, https://github.com/ansible/ansible/blob/devel/hacking/build_library/build_ansible/c

[2020-05-05 14:38] bcoca commented on #69320
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

In any case, this does not seem to be an issue with `become` but simply that the file permissions do NOT allow the `danj` user to access the file, th

[2020-05-05 14:42] abadger commented on #68755
I'm working on the code here: https://github.com/ansible/ansible/pull/59761  My plan is to implement what's needed for the docs pipeline right away.  If someone is really itching to integrate ansible-doc-extractor's workflow into it, the can get started later this week with that by adding PRs to that repo and pinging me about it.  If not, I'll swing back around to it after I get the docs pipeline

[2020-05-05 14:48] sivel commented on #69320
We've discussed this a bit more, and we think this is something we can address.  We've been able to replicate this behavior, and have prototyped a fix.  I'll re-open, and we should have a potential fix submitted in a pull request soon.

[2020-05-05 14:55] Shrews commented on #69329
Hi,

Ansible 2.3 is a rather old version, and no longer supported. I'd suggest trying with a newer version.

Also, sending binary data via the 'body' parameter is not the correct thing to do here. In Ansible 2.7, we added a new 'src' parameter (PR #33689) that allows for sending binary data (see https://docs.ansible.com/ansible/latest/modules/uri_module.html#parameter-src), so you'll want to use t

[2020-05-05 15:08] jimi-c commented on #64250
Hi!

Thank you very much for your submission to Ansible. It sincerely means a lot to us that you've taken the time to contribute.

Per recent announcements at AnsibleFest Atlanta 2019, going forward we are no longer accepting new one off modules/plugins, or modules/plugins that create a new category.

However, we recommend looking into providing this functionality through Ansible Galaxy via Ansibl

[2020-05-05 15:08] #64250 closed, assigned to nobody

[2020-05-05 15:10] jimi-c commented on #64250
Thank you very much for your interest in Ansible.

This module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general. Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
Mailing List: https://groups.google.com/forum/#!foru

[2020-05-05 15:14] jimi-c commented on #69084
Per the above discussion, this would need to be handled via a new plugin rather than using the file lookup. We will discuss in the related PR if that's something we want to merge.

[2020-05-05 15:26] sivel commented on #69171
bot_status

[2020-05-05 15:26] kevlar1818 commented on #68843
On further examination, this may be a VPN issue for me. I need to double check that I can only reproduce this while on my VPN first.

[2020-05-05 15:27] bcoca commented on #69179
can you confirm if my PR above fixes this for you?

[2020-05-05 15:32] jimi-c commented on #69195
Per the above discussion, we're going to go ahead and close this.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writi

[2020-05-05 15:32] #69195 closed, assigned to nobody

[2020-05-05 15:33] danieljakots commented on #69320
Thanks! I'm looking forward to have more details about what cause that. Because even if it's a mistake on my side (which is totally possible) I doubt it should result in a stack trace and that's why I considered it as a bug.

[2020-05-05 15:34] #68186 closed, assigned to Akasurde

[2020-05-05 15:41] sivel commented on #69320
@danieljakots the problem here is in the python importlib, where it will attempt to utilize `cwd`.  In your case, when using `pipelining` we don't explicitly set a cwd, and it's possible that the `cwd` will problematic.

We looking at how to deal with removing the cwd from `sys.path` or to otherwise prevent the loader from failing on directories it has no access to.

[2020-05-05 15:44] jimi-c commented on #69216
Possibly resolved by https://github.com/ansible/proposals/issues/136

[2020-05-05 15:46] danieljakots commented on #69320
Indeed, switching to `pipelining = False` works around the problem, thanks!

[2020-05-05 15:48] adrillon commented on #69179
@bcoca it does not:

[code]

[2020-05-05 16:23] prateek248 opened #69336 "Version feature not working properly with apt module for ubuntu:18.04"
##### SUMMARY
We got to know the version feature in apt module from below documentation.
URL:
====
https://docs.ansible.com/ansible/latest/modules/apt_module.html

Reference Snippet:
=============
- name: Install the version '1.00' of package "foo"
  apt:
    name: foo=1.00

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
APT
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS /

[2020-05-05 16:24] jimi-c commented on #69258
Due to the fact that our display class has the option to use the python logger to output to a log file, we would recommend using this instead. Right now, the warnings are not guaranteed to conform to any format and may include multiple lines, so the chances of making it machine parseable via a screen scrape are low.

Based on this, we're going to go ahead and close this issue and associated PR. If

[2020-05-05 16:24] #69258 closed, assigned to nobody

[2020-05-05 16:28] prateek248 commented on #69336
`yum` module is kind of perfect, it takes care of everything automatically like install, upgrade and downgrade. For the `yum` module, I do use the installation task as below.

[code]

[2020-05-05 16:40] rwilson-tile commented on #29998
Has there been any further development on this? I'd rather not use cloudformation templates and just use ansible to manage everything.

All we have now is ec2_tag with ecs_tag in devel (I use latest in my scripts) but tagging of iam roles, security groups, basically everything that supports it should be there as the competition has it already for a long time.

[2020-05-05 16:43] #69286 closed, assigned to Akasurde

[2020-05-05 16:48] #62362 closed, assigned to nobody

[2020-05-05 16:54] sixsax opened #69338 "Different behaviour between import and dependency"
##### SUMMARY

I have two roles named "role1" and "role2". I would like to use "role2" inside "role1". So I tested "import" and "dependencies" but with different results.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

NA

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

EXECUTION
$ ansible-playbook  -i inventories/test/hosts  role1/role1.yml

DTS
[code]

role1 group_vars
[code]
role2 gro

[2020-05-05 17:06] #69336 closed, assigned to nobody

[2020-05-05 17:07] prateek248 commented on #69336
Closing the issue, since feature works for th version which is available in influxdb repo.

[2020-05-05 17:20] wawrzek commented on #63822
Example of problem. I expect scenario 2 and 4 to be identical. All should finish successfully.

The simple playbook
[code]

inventory file (`hosts`):

[code]

Finally,  `group_vars/all.yml`
[code]

Various results depends on where "title" is defined:

**Scenario 1**
[code]

**Scenario 2**
[code]
**scenario 3**
[code]

**scenario 4**
[code]

[2020-05-05 19:23] bcoca commented on #69320
another possible workaround is adding `-i` to the sudo flags, forcing a loging (which changes working directory).

[2020-05-05 20:10] #69092 closed, assigned to s-hertel

[2020-05-05 20:37] s-hertel commented on #67490
@geerlingguy The fix just applies to `list`. Does it make sense to apply to `install`, since the collection artifacts should be built before installation?

[2020-05-05 20:40] felixfontein commented on #68499
This patch breaks some other cases (like change detection), since `path` is never in `provider.get_paths(path)`. I've adjusted it and I think I found a good solution.

resolved_by_pr #69341

[2020-05-05 21:16] dragon0087 commented on #69267
@ganeshrn yes, I tried that by export env variable.

[2020-05-05 21:29] nickrusso42518 commented on #69065
I just downgraded to v2.9.6 in the interest of time, and gave a +1 on this issue to signal that I saw it too.

[2020-05-05 22:27] geerlingguy commented on #67490
@s-hertel - Most of the roles I use with ansible (which may be placed inside a collection) are local to a playbook, and don't ever get built or published anywhere. The idea is that I would be able to create a local collection and start using it—it would be a lot of hassle to try to create a collection, publish it somewhere, then install it locally again, just to use it in one local playbook.

[2020-05-05 23:35] halkeye commented on #38339
The PR tagged above isn't a PR for this problem, its just a new role/playbook, is thre a way to remove the has_pr label?

[2020-05-06 00:14] ITslacker opened #69343 "Timeout (12s) waiting for privilege escalation prompt:"
##### SUMMARY

Timeout error even when timeout is set to 300 seconds.
##### ISSUE TYPE
- Bug Report
I have a playbook that patches and reboots my webfarm. While testing my playbook with a simple check update command, I would get the error mentioned in the title. I've tried setting my timeout to 300 seconds, but it seems like ansible tower doesn't honor the timeout set. When I check the job templat

[2020-05-06 00:45] s-hertel commented on #67490
@geerlingguy That makes sense, the build + install pattern may be more useful for collections that are published somewhere. (Note that you can install from locally built collections though - no publishing is necessary to create an artifact)

Getting warnings for the local collections while you're trying to install other collections does seem like a bug. What if you have a local collection `namespa

[2020-05-06 03:30] bcoca commented on #38339
@wordtracker getent does more than pwd and can be very tricky once you add in the diff database sources possible.

[2020-05-06 04:22] Akasurde commented on #69302
Closing this since backport PR for 2.9 is merged. Thanks.

[2020-05-06 04:22] #69302 closed, assigned to Akasurde

[2020-05-06 06:56] felixfontein commented on #67654
This has been mostly done in #68498, #68565, #68567, #68570 and #68618. I've listed some more fragments which probably need to be removed [here](https://github.com/ansible/ansible/pull/68498#issuecomment-609407024).

[2020-05-06 07:37] gundalow commented on #69033
@bcoca once routing PR is merged I plan on removing the symlink from community.general and community.network. Is that the right thing for me to do?

[2020-05-06 07:46] felixfontein commented on #69033
@gundalow I'm not sure, that would make it very hard to use the collection from 2.9. Maybe we should wait with that for the 2.0.0 release of the collection, so that users have at least a chance to upgrade to another released ansible(-base) version before 2.9 support is dropped.

[2020-05-06 10:20] robojones opened #69346 "gluster_volume can not directly start volumes"
##### SUMMARY

- I want to create GlusterFS volumes and directly start them.
- The gluster_volume module does not automatically create the GlusterFS volume if it does not exist and the state is set to "started".
- I would expect that the gluster_volume module supports transitions from any state to any other state. Even from "absent" to "started".

The only workaround I could find was to create ano

[2020-05-06 10:23] mkrizek commented on #69346
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-06 10:23] #69346 closed, assigned to nobody

[2020-05-06 10:29] robojones commented on #69346
Okay thanks @mkrizek

[2020-05-06 10:32] mkrizek commented on #69196
I am going to go ahead and close this as the fix for this issue has been backported and will be included in the 2.9.8 release.

[2020-05-06 10:32] #69196 closed, assigned to nobody

[2020-05-06 12:47] TheLastProject commented on #29465
This bit me too. I was expecting, especially given there's an `update` parameter which defaults to `yes`, that trying to clone to an existing repository would try to update that repository with `new revisions from the origin repository`.

The documentation makes one expect that using the git module on an existing path would update the path, instead of fail.

[2020-05-06 12:53] dolgovas commented on #69261
I have same trouble with tower inventory

[2020-05-06 12:57] dolgovas opened #69348 "Dynamic inventory with oauth token"
When i use tower plugin for dynamic inventory i must save in tower.yml OR in my env user_name and password for my account in awx.

I want use for these things my personal oauth read-only token, but can not do this....

[2020-05-06 13:12] Akasurde commented on #69144
resolved_by_pr #69349

[2020-05-06 13:12] Akasurde commented on #69144
@Lin-Buo-Ren, Could you please check PR #69349 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-05-06 13:16] ganeshrn opened #69350 "Network resource modules fail on case insensitive file systems OSX"
##### SUMMARY

* In case of nested directory structure with same names within the collection:
[code]

* If the filename is the same at that of Python object the import from the module code can be:
[code]
*  For such scenarions the collection loader logic tries to check if Acl_intertaces is a file under
   `ansible_collections.arista.eos.plugins.module_utils.network.eos.config.acl_interfaces` and s

[2020-05-06 13:18] ganeshrn commented on #69350
PR https://github.com/ansible/ansible/pull/67817 is a workaround to unblock the development process and not a final fix

[2020-05-06 13:49] justjais commented on #64117
Issue is already fixed, so closing the issue

[2020-05-06 13:49] #64117 closed, assigned to nobody

[2020-05-06 14:07] bcoca commented on #69033
^ as @felixfontein  points out, 'the right thing'TM depends on if you want to keep 2.9 compatibility or not.

No matter if you keep symlinks or not, when i update ansible-doc, should I display the alias? the redirect target? both?

[2020-05-06 15:06] mersl opened #69352 "ansible_virtualization_type enhancements for NetBSD"
##### SUMMARY
NetBSD provides some sysctl, which could better determine, which hypervisor is used for this VM

##### ISSUE TYPE
- Feature Idea / bugfix (KVM is not detected correctly if NetBSD runs as a VM on KVM)

##### COMPONENT NAME
module_utils/facts/virtual/netbsd.py

##### ANSIBLE VERSION
[code]

##### ADDITIONAL INFORMATION
NetBSD has a sysctl "machdep.hypervisor", which known quite well, w

[2020-05-06 15:23] mxhr commented on #69075
@glennschmidt Yeah, it looks like they got removed or something.

I was able to locate them elsewhere, when looking through a doc page itself on github:
https://raw.githubusercontent.com/ansible-collections/community.aws/master/scripts/inventory/ec2.py

https://raw.githubusercontent.com/ansible-collections/community.aws/master/scripts/inventory/ec2.ini

[2020-05-06 16:41] nik786 opened #69353 "lookup.ini plugin does not work"
[code]

[code]
[code]
[code]

[2020-05-06 16:46] nik786 commented on #69353
Hi
Already I have mentioned about ansible version and python version
ansible --version
ansible 2.7.12
config file = /home/nik/Desktop/python-ops/study/new-01/play/ansible.cfg
configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
ansible python module location = /usr/local/lib/python3.6/dist-packages/ansible
executable location = /usr/local/bin/ans

[2020-05-06 17:17] ITslacker commented on #69343
this is what i'm getting with -vvvv

`(0, '', 'OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: auto-mux: Trying existing master\r\ndebug2: fd 3 setting O_NONBLOCK\r\ndebug2: mux_client_hello_exchange: master version 4\r\ndebug3: mux_client_forwards: request forwardings: 0 local, 0 remote\r\ndebug3: mux_client_request_session: entering\r\ndebug3: mux_client_request_alive: entering\r\ndeb

[2020-05-06 18:18] Shrews commented on #67633
@spencerdcarlson Yes, this is a duplicate issue. The issue actually lies with the older pip reporting "Successfully installed" on an already installed package. Newer versions of pip will report "Requirement already satisfied" or similar. Since the pip module parses the pip output to determine if there was change (i.e, if "Successfully installed" appears in the output), we are getting a false posit

[2020-05-06 18:28] borisovano opened #69357 "ansible-inventory + fact caching in redis is very slow"
##### SUMMARY
ansible-inventory --graph\--list is executing very slowly while redis fact cache is configured

Looks like it boils down to this line:
https://github.com/ansible/ansible/blob/366f80868339936521af26d4dfba53dd5f92126e/lib/ansible/cli/inventory.py#L264
(when commented out the execution is faster by several orders of magnitude)

even without passing `--vars` it looks like it traverses al

[2020-05-06 18:41] Shrews commented on #30771
This has an easy fix user-side, and doesn't seem to affect anyone else for several released versions since the initial report, so going to close this.

[2020-05-06 18:41] #30771 closed, assigned to abadger

[2020-05-06 19:39] andrewm659 commented on #40304
I was getting the same error doing an ansible ping.

`ansible -m ping 10.150.1.1 --user=ansible`
`[WARNING]: sftp transfer mechanism failed on [10.150.1.1]. Use ANSIBLE_DEBUG=1 to see detailed information`
`[WARNING]: scp transfer mechanism failed on [10.150.1.1]. Use ANSIBLE_DEBUG=1 to see detailed information`
`10.150.1.1 | FAILED! => {`
`    "changed": false,`
`    "module_stderr": "Shared conn

[2020-05-06 19:41] MTWiley opened #69359 "nios_ptr_record - "state: absent" not removing existing PTR records"
##### SUMMARY
Trying to remove PTR records, playbook executes and returns ok, but no changes are made and I just get status ok

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios_ptr_record

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible Server - Red Hat Enterprise Linux Server release 7.4 (Maipo) - delegated_to
InfoBlox - IB-1410 - Version : 8.2.2-3

[2020-05-06 19:47] sfuerte opened #69360 "docker_network: implement `CheckDuplicate` API option"
##### SUMMARY

It's possible to create multiple Docker networks with the same name, even with `run_once: true`.
See more discussion here - https://github.com/moby/moby/issues/18864

##### ISSUE TYPE
- Feature Idea
Have `CheckDuplicate` API option available in `docker_network` module.

More info - https://docs.docker.com/engine/api/v1.40

##### COMPONENT NAME
docker_network

[2020-05-06 20:35] Shrews commented on #66616
I am unable to reproduce this with your supplied example.

With your given example playbook using marker="", you will only see the behavior you expect (append at the end of the line) if there are no empty lines within /etc/bashrc. Otherwise, it's going to match the last empty line and place your block there, which I suspect is what you are seeing. Even if you were to remove all empty lines from /e

[2020-05-06 20:35] #66616 closed, assigned to nobody

[2020-05-06 20:44] Shrews commented on #69360
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-05-06 20:44] #69360 closed, assigned to nobody

[2020-05-06 20:47] Shrews commented on #69359
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-05-06 20:47] #69359 closed, assigned to nobody

[2020-05-06 22:07] brianmay commented on #67794
@bcoca Can you please point me to the commit were this was reverted? I am not seeing it. https://github.com/bcoca/ansible/commits/2127777856f81bd03666db5a68b379901a849845/lib/ansible/module_utils/common/file.py

[2020-05-07 03:27] Jackie-wang commented on #69036
I encountered the same problem when using Ansible 2.9.7. on the Cisco ios-xr platform
------

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ansible.module_utils.connection.ConnectionError: Unable to decode JSON from response to get_capabilities(). Received 'None'.

[2020-05-07 03:31] bcoca commented on #67794
https://github.com/ansible/ansible/pull/68983/commits/57336600404cbf2ffe286ec8d35a303be854d140

[2020-05-07 03:33] bcoca commented on #69353
@nik786 you are talking to a bot, this won't get processed by 'humans' until you properly fill in the template and the bot classifies the issue.

[2020-05-07 03:37] micchickenburger opened #69364 "Allow digital signature verification in get_url"
### SUMMARY
The `get_url` module does file integrity checking and allows passing a SHASUM text file on a remote host over HTTP.  Typically, binaries and their hashes are stored together so while the integrity control works there is no verification that the binary and its corresponding SHASUM file has not be altered by a malicious actor.  Sometimes software providers will include a digital signatur

[2020-05-07 05:06] msLinuxNinja opened #69366 "Module azure_rm_virtualmachine data_disks/caching documentation should mention about none"
##### SUMMARY
The documentation for the azure_rm_virtualmachine module doesn't specify that the parameter data_disks: caching=none option can be used.

Docs: [https://docs.ansible.com/ansible/latest/modules/azure_rm_virtualmachine_module.html](https://docs.ansible.com/ansible/latest/modules/azure_rm_virtualmachine_module.html)

Ideally the it should explicitly say that the parameter data_disks/cac

[2020-05-07 07:22] sixsax commented on #69338
I misunderstood. Dependency and Import works differently.

About Dependency, from documentantion I read

So all roles into dependency will be append to main playbook.

Whereas, with Import, I "linked" the master playbook of "role2" with its both host and variable group. So also role2 playbook is executed.

Sorry, I belivied dependency and import works similary about decoupling.

I think this issue

[2020-05-07 07:22] #69338 closed, assigned to bcoca

[2020-05-07 08:53] Akasurde commented on #69366
@msLinuxNinja Thanks for the request. You may want to migrate this issue to https://github.com/ansible-collections/azure/ since Azure modules are migrated to their own collection here.

Thank you once again for this and your interest in Ansible!

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.co

[2020-05-07 08:53] #69366 closed, assigned to nobody

[2020-05-07 09:03] Vladimir-csp commented on #55037
Any news on this?
Today I found out the hard way that any stray call of `setup` module in the playbook nullifies facts gathered implicitly from the correct place (with fact_path set at playbook level).

I also want to reiterate that the concept of defaulting `fact_path` based on control machine's OS (or as baked in ansible at build time, since FreeBSD and Linux packages have a different setting) i

[2020-05-07 09:06] Akasurde commented on #69353
Hi @nik78!

In `w.ini`, you have multiple occurrences of `lbproberesponder` property. Please remove appropriate

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.goo

[2020-05-07 09:06] #69353 closed, assigned to nobody

[2020-05-07 09:28] lemmy04 commented on #45219
ok it's getting more weird: this is hitting me again, but only on one of four raspis, and on that one only "ever so often"...

[2020-05-07 10:04] nik786 commented on #69353
@Akasurde
Thank you lot . It worked. I would like to keep your points in mind from now on wards before had post.

[2020-05-07 10:43] Akasurde commented on #68836
resolved_by_pr #69369

[2020-05-07 10:43] Akasurde commented on #68836
@nhooey, Could you please check PR #69369 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-05-07 11:36] Akasurde commented on #69353
Thanks.

[2020-05-07 12:04] SomeDuder opened #69370 "Ansible and Cisco Nexus - "Feature privilege is not enabled""
**##### SUMMARY**
When I try to use Ansible to connect to Cisco Nexus devices, it fails with this message:

`fatal: [<hostname>]: FAILED! => {"msg": "Feature privilege is not enabled"}`

**##### ISSUE TYPE**
See Summary

**##### COMPONENT NAME**
This happens with the nxos_lldp module. A comparable module for Cisco IOS (ios_lldp) works without issues.

**##### ANSIBLE VERSION**
[code]

**##### CONF

[2020-05-07 12:29] Shrews commented on #69370
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-proj

[2020-05-07 12:29] #69370 closed, assigned to nobody

[2020-05-07 12:31] gundalow opened #69371 "Discourage use of `package` module"
#### SUMMARY
As detailed in https://github.com/ansible/ansible/issues/68134 `package` is only good in the simplest of cases. We should guide people towards the dedicated modules `apt`, `dnf`, etc.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
package

##### ANSIBLE VERSION
[code]

[2020-05-07 12:32] gundalow commented on #68134
Docs for `Discourage use of "package" module` is tracked under #69371
Given that I don't think there is anything else to do

[2020-05-07 12:32] #68134 closed, assigned to nobody

[2020-05-07 12:44] mivanov-its opened #69372 "Blockinfile does not honour insertbefore/insertafter when both markers for beginning and ending of block are present"
##### SUMMARY
Blockinfile does not honour insertbefore/insertafter when both markers for beginning and ending of block are present.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
File  lib/ansible/modules/files/blockinfile.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
debian

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

try this on a file w

[2020-05-07 12:46] mivanov-itsonix commented on #69372
The related lines in the code are:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/blockinfile.py#L279-L286

[2020-05-07 12:48] emz00 opened #69373 "No error details whatsoever are reported for a task with no_log: true"
##### SUMMARY

With `no_log: true` set for a task any error in the task gives no details at all of the error, making it impossible to troubleshoot without temporarily setting `no_log: false`. Aside from being a huge annoyance, it forces you to expose the sensitive data you wanted to hide with no_log in the first place! There is even a risk that you then forget to change it back to `no_log: true`,

[2020-05-07 13:36] AlanCoding commented on #68989
Same as https://github.com/ansible/ansible/issues/69334?

self-promotional plug: https://github.com/AlanCoding/ansible-locate

[2020-05-07 14:05] sivel commented on #69348
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible/awx

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-07 14:05] #69348 closed, assigned to nobody

[2020-05-07 14:21] Shrews commented on #66616
Also, I should mention that if you left out the 'marker', 'marker_begin', and 'marker_end' values from your playbook and leave them at the default values, you should get the append at the end-of-file. That would also add the default marker to the file for you going forward.

[2020-05-07 14:26] porn commented on #68684
@ansibot well, I fixed my code using the workaround from @Akasurde, thanks man!

But I think this is a functionality break in minor version upgrade.

Honestly I don't insist on fixing this particular issue, but the error message is super-misleading...

[2020-05-07 14:36] Shrews commented on #69372
Hi,

If blockinfile finds both begin and end marker lines (which it will do in your example), then the insertafter/insertbefore behavior is ignored. This is working as designed. It is not intended to move an existing block to a new location. The intent of the insertbefore/insertafter options are for inserting the begin/end markers in a file that does not yet have them.

Given that I don't believe

[2020-05-07 14:36] #69372 closed, assigned to nobody

[2020-05-07 14:49] #67663 closed, assigned to nobody

[2020-05-07 14:53] stanislaw55 commented on #68361
Hi,
currently I'm hit by this bug and cannot use collections at all.
Is there any PR for this? If not, what is the chance of releasing this patch under 2.9.X if someone did such PR?

[2020-05-07 15:10] sivel commented on #68361
This is being solved a different way, as part of a much larger change that is largely encompassed by several features. As such the fix that will ultimately go into devel will not be backported to 2.9.x.

Although, it's possible that the above fix could eventually be merged into stable-2.9, but I cannot commit to that currently.

[2020-05-07 15:54] snecklifter commented on #67759
Its particularly confusing when contributing to module development because I currently have three versions of the same module:

 - 2.9
 - collection installed in the venv
 - git checkout

[2020-05-07 15:57] samccann opened #69374 "Update Ansible-maintained scenario guides to use FQCN"
##### SUMMARY

- [x] Update to use FQCN

- [x] Add link to collection on Galaxy

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2020-05-07 16:07] chey commented on #28382
### This is still partially broke
Ansible 2.8.11

This **does not** work:
[code]

This **does** work:
[code]

The only problem with this is you cannot add `aliases`.

[2020-05-07 16:26] #67424 closed, assigned to nobody

[2020-05-07 16:26] #67219 closed, assigned to nobody

[2020-05-07 16:52] banjoh commented on #16259
I spent a whole day stuggling to get this to work. Thanks to the comment from @mgresko I now can run my playbooks. I also have an ssh + duo setup.

[2020-05-07 16:52] scwelltok opened #69375 "aws_ec2.yml ssh fails to connect to ec2 instance."
##### SUMMARY
Running  Ansible playbook command with new aws_ec2.yml plugin returns a fatal error, fatal: [ip-some-ip-addr.ec2.internal]: UNREACHABLE!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Plugin Name: aws_ec2.yml

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS Mojave
version 10.14.6

##### STEPS TO REPRODUCE

Run this command with the follow

[2020-05-07 17:04] abezella commented on #65334
additional information has been provided, along with a request for (at least) an update/warning to the documentation.

[2020-05-07 17:51] sivel commented on #69375
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-05-07 17:51] #69375 closed, assigned to nobody

[2020-05-07 18:31] #68077 closed, assigned to nobody

[2020-05-07 18:32] gundalow commented on #68077
Docs updated in https://github.com/ansible-collections/community.general/pull/301

[2020-05-07 19:14] bcoca commented on #69122
The `raw` action cannot use an interactive session, it passes the action given as a 'batch ssh command', so if your system is setup to prevent this, you cannot use raw commands (or many parts of ansible). Still this is something we should clearly document, reclassifying as a docs issue to add FAQ entry and note in the `raw` action.

[2020-05-07 19:19] bcoca commented on #69177
could you post the result after executing with -vvv? we don't seem to have enough information to see more than it looks like a permissions error.

needs_info

[2020-05-07 19:21] acozine commented on #69177
You may need a space between `-u` and `root`.

[2020-05-07 19:24] bcoca commented on #69247
can you add the full attempts output?

needs_info

[2020-05-07 19:26] bcoca commented on #69251
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The name option in the yum module does not support globbing.

In the future, this might be a topic more well suited for the user list,

[2020-05-07 19:26] #69251 closed, assigned to nobody

[2020-05-07 19:28] MimoJSRepo opened #69379 "How to pass params from Ansible to Jenkins Job triggered by Ansible Playbook?"
Hello everyone,

I checked Ansible documentation, I did not find answers there or anywhere of how I can pass params to the Jenkins Job,so these params should be as an input params to this Jenkins Job and they will be used in that Job, So is there a way to make this happen?

Thank you already for your answers

[2020-05-07 19:28] sivel commented on #69379
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-05-07 19:28] #69379 closed, assigned to nobody

[2020-05-07 19:29] bcoca commented on #69261
Thank you very much for your interest in Ansible.

This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible/awx/

Please re-submit this issue in the above repository. If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-07 19:29] #69261 closed, assigned to nobody

[2020-05-07 19:32] bcoca commented on #69270
This was done on purpose on most 'file creation modules' to ensure proper POSIX semantics on file creation, but it should have a toggle to change this behaviour if the user really needs it.

[2020-05-07 19:34] relrod commented on #69251
This will be fixed in in the upcoming 2.9.8 release.
It was fixed by https://github.com/ansible/ansible/pull/69249

[2020-05-07 19:41] MimoJSRepo commented on #69379
That is complicated steps, I wish there could be simpler ways

[2020-05-07 19:45] bcoca commented on #69343
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

This is not normally reflecting a bug in ansible but either a mis-configuration or some other problem with a specific target.

   * IRC: #ansible on

[2020-05-07 19:45] #69343 closed, assigned to nobody

[2020-05-07 20:11] irenedavid opened #69380 "na_ontap_qtree with security-style: ntfs parameter cannot delete (using absent) or rerun a create (present) playbook"
##### SUMMARY

After creating a playbook to delete and create a qtree I see the following bug.
When creating using security_style ntfs, i can run the playbook only once.
One complete run, a second run with module error
Deletion will also error with module error

When creating using security_style unix - i can run the playbook as expected.

##### ISSUE TYPE
- Bug Report with security_style paramete

[2020-05-07 21:26] brianmay commented on #67794
OK, so according to https://github.com/ansible/ansible/pull/68983 it appears this was reverted because we broke some tests in collections. What is the solution? Maybe we need a `DEFAULT_UMASK` setting or something. initially this could be 666, over time we could work to move this to 660.

[2020-05-07 22:48] mhitza opened #69381 "Broken link on - Working with dynamic inventory # Other inventory scripts"
##### SUMMARY
https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#other-inventory-scripts there is a link to a contrib/inventory directory that does not exists on develop branch, only on the stable branches

When I hit "Edit on Github" I'm editing a file in which the URL is different than on the published site.

[2020-05-07 23:46] #53322 closed, assigned to justjais

[2020-05-07 23:50] queglay opened #69383 "fetch results in checksum mismatch"
##### SUMMARY
Fetch results in checksum mismatch. Become must be used to acquire it from the location due to permissions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fetch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 16.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should fetch the file without any error.

##### ACTUAL RESU

[2020-05-07 23:51] #52684 closed, assigned to justjais

[2020-05-08 04:01] Justin-DynamicD commented on #53867
Adding my vote to this.  It seems (to me) that java_cert is the more immature of the two, not supporting owner or group settings when creating a new file, either. I'd vote for removing it and adding the modicum of flexibility needed to allow java_keystore to handle both key and trust stores.

[2020-05-08 07:10] mivanov-itsonix commented on #69372
This is no way mentioned in the documentation [1] which states:

[code]

It would be good to update that so that it clearly states that the block is never moved.

Thank you.

References:

1: https://docs.ansible.com/ansible/latest/modules/blockinfile_module.html

[2020-05-08 07:18] mabed-fr opened #69386 "Feature: add module dnf_repository"
Hello
can you develop a feature for add or remove repository(similar to yum_repository) for fedora(dnf)

dnf_repository ?

Thank you

[2020-05-08 07:29] dfrise commented on #28061
We are auditing changes to systems and this issue is very annoying for us.

We don't understand this comment either.

[2020-05-08 07:41] wschoot commented on #69270
Having a toggle would be great!

[2020-05-08 08:17] mkubenka commented on #64852
More idempotent way without using `command`/`shell`:

[code]

[2020-05-08 10:05] nik786 opened #69387 "gcp_compute_disk shows unsupported parameter"
[code]

[code]

[code]

##### SUMMARY
fatal localhost unsupported parameter for (gcp_compute_disk) module kmsKeyName found in disk_encryption_key suuported parameter raw_key,sha 256

if i do comment disk_envryption_part then it says credential type none not implemented
or
credential type serviceaccount not implemented

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_disk
##### ANSI

[2020-05-08 10:08] wookietreiber opened #69388 "role params definition and precedence inconsistency"
##### SUMMARY

Role parameter definition and precedence rules are inconsistent. This is quite a gotcha.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- variable precedence
- role parameters

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

[code]

[code]

##### EXPECTED RESULTS

I expected to be able to override the *role var* `bar` with the *role param* as explained in [the

[2020-05-08 10:10] xire28 commented on #28061
Bad wording for my question, I meant the same question I was asked back:

Guess I will try, thanks

[2020-05-08 10:57] JosteinVH commented on #55560
I had the following error message: `Failed to create a virtual machine : A specified parameter was not correct: "`. Turns out I was using a `version` (hardware version) that was not supported by the ESXI host. [https://kb.vmware.com/s/article/2007240](url)

[2020-05-08 11:03] NilashishC commented on #68082
This is fixed by https://github.com/ansible-collections/cisco.nxos/pull/17

[2020-05-08 11:03] #68082 closed, assigned to Qalthos, NilashishC

[2020-05-08 11:04] vparames86 opened #69389 "Error reading SSH protocol banner on using ProxyCommand with ios_command"
##### SUMMARY

I am trying to run an ansible playbook via a bastion server (using ProxyCommand) to "show version" on csr1000v(Cisco Device). I get the following error when I run the playbook.

fatal: [csr1]: FAILED! => {
    "changed": false,
    "msg": "Error reading SSH protocol banner"
}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command, ansible_ssh_common_args, ProxyCommand

##

[2020-05-08 11:40] pushkarkumar15 commented on #68775
what parameters do you want for password expiry

[2020-05-08 11:55] mivanov-its opened #69390 "Running ansible-pull in parallel"
##### SUMMARY
Executing two or more instances of ansible-pull in parallel without specifying the parameter "-d <DEST>, --directory <DEST>" results in undefined behaviour with race conditions.

##### ISSUE TYPE
- ~Bug  Report~
- Docs Report

##### COMPONENT NAME
ansible-pull

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
debian

##### STEPS TO REPRODUCE
[code]

Ex

[2020-05-08 12:06] tervor commented on #68616
I just stumbled over the same issue and fixed it for myself by installing the future pip package as stated in c56d57ef7ee1c329161158ea8867064f74c0cffa

[2020-05-08 12:16] Akasurde commented on #69387
Hi @nik786 !

There is no option `kmsKeyName` in `disk_encryption_key`  but `kms_key_name` is available. Could you please check docs?

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing li

[2020-05-08 12:16] #69387 closed, assigned to nobody

[2020-05-08 12:23] nik786 commented on #69387
Hi @Akasurde
I have tried by kms_key_name but facing same error.

[2020-05-08 12:26] Akasurde commented on #69381
@mhitza Thanks for reporting this issue. This is already fixed via https://github.com/ansible/ansible/pull/69143, https://github.com/ansible/ansible/pull/68904, and https://github.com/ansible/ansible/pull/69063

Documentation build is not triggered, yet, once it is triggered you will see the changes online. Thanks.

[2020-05-08 12:26] #69381 closed, assigned to Akasurde

[2020-05-08 12:57] spinosae opened #69391 "openssl_csr missing nameConstraints extension"
##### SUMMARY

I was trying to limit domains an intermediate CA certificate can sign by adding a `nameConstraints`. However I couldn't find an option for that in `openssl_csr`. Is that implemented?
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

openssl_csr
##### ADDITIONAL INFORMATION

[code]

[2020-05-08 13:36] bcoca commented on #69388
this is something i'm trying to address as part of #69040

also `vars:` are not 'role params' , the latter only refers to 'inline variables' into a role invocation, which has different precedence and effects than those declared in `vars:`

[2020-05-08 13:43] bcoca commented on #65334
@abezella i disagree with this being a 'standard' setup, it is rare to allow chroot environment to change host wide settings, you can still mount things inside but not allow their alteration from within the chroot.

I'll change this into a docs request to advise people against such behaviour.

[2020-05-08 14:16] sivel commented on #69391
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.crypto

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/foru

[2020-05-08 14:16] #69391 closed, assigned to nobody

[2020-05-08 14:17] sivel commented on #69380
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/netapp

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/

[2020-05-08 14:17] #69380 closed, assigned to nobody

[2020-05-08 14:36] bcoca commented on #27798
i've normally only encountered such issues due to timezone changes or the clock being way off and then corrected, not counting the file not being consistently created ...

In this case I cannot say it is the module's fault, it is correctly computing the time difference, it is just the source data that is misleading. I'm not sure this is an Ansible issue anymore.

[2020-05-08 14:36] sivel commented on #69389
Duplicate of https://github.com/ansible/ansible/issues/69267

[2020-05-08 14:36] #69389 closed, assigned to nobody

[2020-05-08 14:37] bandwiches opened #69392 "Assert evaluates false but should be true"
##### SUMMARY
I'm using the assert module to determine if text is present within a registered variable.  The variable has the text in it and it displayed in the 'fail_msg' parameter with the text in it but the module always evaluates to false.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
assert.that

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu

[2020-05-08 14:40] sivel commented on #69392
Duplicate of https://github.com/ansible/ansible/issues/69316

[2020-05-08 14:40] #69392 closed, assigned to nobody

[2020-05-08 14:45] bandwiches commented on #69316
I know this is closed but this answer seems a little off to me.  Are you saying both 'stdout' and 'stdout_lines' return the same when using the network modules and that either way we should be indexing them when using the assert module?

[2020-05-08 14:49] bcoca commented on #69316
no, it is independent of the assert module, network modules just return a list of strings as stdtout (stdout_lines normally takes a 'string' stdout and splits it into a list of lines).

So this is not an issue that affects assert, but the output of the network modules in general as they do not conform to the standard of 'stdout is a string'.

[2020-05-08 14:51] bandwiches commented on #69316
Is there a 'best practice' we should be adhering to when we use network modules with the assert module or the when conditional?

[2020-05-08 15:05] jimi-c commented on #20168
Hi, based on the fact that there is a preferred method of using variables for this (see @keilr's comment above), and there has been no other traction on this issue, we're going to go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user qu

[2020-05-08 15:05] #20168 closed, assigned to nobody

[2020-05-08 15:06] jimi-c commented on #18079
Hi, based on the above discussion (and also noting that there are other environment variables to change the role/collection paths at run time), we're going to go ahead and close this issue now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips,

[2020-05-08 15:06] #18079 closed, assigned to nobody

[2020-05-08 15:19] jimi-c commented on #38221
The issue here is that the `all` group explicitly leaves out the implicit localhost created internally. Because of that, the implicit localhost is never included there. However, when it's included via the dynamic inventory script it's placed in the `all` group because it's no longer implicitly created. You can read more about that here: https://docs.ansible.com/ansible/latest/inventory/implicit_lo

[2020-05-08 15:19] #38221 closed, assigned to nobody

[2020-05-08 15:21] jimi-c commented on #45836
Hi @nkakouros, due to the fact that there hasn't been any further interest in this feature we're going to go ahead and close this issue. As an alternative, you could place your pre/post tasks in blocks and tag all of them with a single tag to achieve the same goal.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://grou

[2020-05-08 15:21] #45836 closed, assigned to nobody

[2020-05-08 15:22] queglay commented on #69383
I've used fetch a lot in my AWS infrastructure, and I just saw another occurance with this related to another log file.  I suspect that since those logs are being updated at the time of the fetch, the checksum changes between the check time and the copy operation.

If the theory is correct, fetch could perhaps copy the file to another location first, then perform the copy and checksum from this co

[2020-05-08 15:26] jimi-c commented on #46041
Hi @dag, ansible-test supports the `--python` option. Not sure if it did at the time you opened this, but based on this we're going to go ahead and close this issue now.

If you think this is still a problem, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user

[2020-05-08 15:26] #46041 closed, assigned to nobody

[2020-05-08 15:28] jimi-c commented on #46033
Hi @thatsk, thanks for proposing this feature. Based on a lack of interest, at this time we're not interested in pursuing this idea any further.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#

[2020-05-08 15:28] #46033 closed, assigned to nobody

[2020-05-08 15:40] jimi-c commented on #46365
Hi @dprince, there hasn't been any further interest in this issue since it was opened, and as such we're going to go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!f

[2020-05-08 15:40] #46365 closed, assigned to nobody

[2020-05-08 15:44] jimi-c commented on #46427
Thank you very much for your interest in Ansible.

This module is no longer maintained in this repository and has been migrated to https://galaxy.ansible.com/f5networks/f5_modules. You will need to contact F5 to request this new module.

If you have further questions please stop by IRC or the mailing list:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, an

[2020-05-08 15:44] #46427 closed, assigned to nobody

[2020-05-08 15:54] jimi-c commented on #43444
Thank you very much for your interest in Ansible.

This module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws. Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and

[2020-05-08 15:54] #43444 closed, assigned to nobody

[2020-05-08 16:02] jimi-c commented on #18257
Per the above discussion, the best option is to use the `combine` filter. As such, we're going to go ahead and close this issue now.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansib

[2020-05-08 16:02] #18257 closed, assigned to nobody

[2020-05-08 16:30] #26467 closed, assigned to mattclay

[2020-05-08 16:37] AFriemann opened #69394 "iptables ipsec policy matching"
##### SUMMARY

It would be great to have support for iptables ipsec policy matching as described in https://linux.die.net/man/8/iptables.

This would require adding at least the options

* --pol
* --dir

when `match: policy` is set to support (I think) most setups.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

iptables module (modules/system/iptables.py)

##### ADDITIONAL INFORMATION

cu

[2020-05-08 16:39] diego-treitos commented on #27798
@bcoca I cannot talk about the time issues but in my case the problem was the hook to update that timestime file itself: it was missing.

I know that ansible doesn't want to be intrusive but I wonder if it would be more reliable for it to use its own timestamp file.

Other than that, I did not experience the problem in a long time and seeing the activity of the issue I think it can be safely close

[2020-05-08 17:38] Shrews commented on #69372
Hi @mivanov-itsonix,

I agree with you. I opened https://github.com/ansible/ansible/pull/69396 that should hopefully clarify that in the future.

Thanks!

[2020-05-08 18:48] amercat37 opened #69397 "Feature: yum --cacheonly"
##### SUMMARY

Add a --cacheonly option to the ansible yum module, similar to the --downloadonly option.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

lib/ansible/modules/packaging/os/yum.py

##### ADDITIONAL INFORMATION

We have a group of Oracle servers that have no repository management server.  They update directly from Oracle's repositories.  Our thought is to do a "yum update --dow

[2020-05-08 19:02] kdelee opened #69398 "In candidate for 2.9.8 inventory scripts that worked in 2.9.7 are unparseable"
##### SUMMARY

Inventory scripts like https://github.com/ansible/test-playbooks/blob/master/inventories/dyn_inventory.py work w/ released ansible 2.9.7, and are broken in current stable-2.9 branch.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

script inventory plugin

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

use th

[2020-05-08 19:14] sivel commented on #69398
It looks like the `dyn_inventory.py` was never properly emitting JSON, which is a requirement of the `script` inventory plugin.  It was simply printing a string representation of a python dict.

Instead of `pprint(inventory)` it should be doing `print(json.dumps(inventory, indent=4))` or something similar.

The change introduced in bbdf77a59f50306b34161efc148b572ab257a537 effectively limits parsin

[2020-05-08 19:24] kdelee commented on #69398
let me try that out

[2020-05-08 21:27] tutunak commented on #49232
Does someone else need this feature?

[2020-05-09 00:00] #69230 closed, assigned to relrod

[2020-05-09 01:32] injectedfusion commented on #67090
I was doing it the other way where I was trying to upload a tarball to a GCS bucket, and encountered a similar error. Will use gsutil for now, as @tkam8 mentioned.

[2020-05-09 03:40] waymen commented on #69177
don't need

[2020-05-09 04:45] mkrizek commented on #69386
Duplicate of https://github.com/ansible/ansible/issues/46963

[2020-05-09 04:45] #69386 closed, assigned to nobody

[2020-05-09 07:15] TetsuKosakaJP opened #69400 "What's is "cannot import name 'context'"? How to solve it?"
##### SUMMARY

The environment of my machine is

- windows 10

- NVIDIA GeForce 2070 Super

- CUDA 9.0

- cuDNN 7.4.1.15

- TensorFlow GPU 1.12.0

- Keras 2.3.1

When I run a program,

[code]
When run,

[code]

What is it mean? And, How to solve it issue?

[2020-05-09 07:36] felixfontein opened #69401 "Ansible crashes when callback_whitelist contains collection callback that does not exist"
##### SUMMARY
If `callback_whitelist` contains a FQCN that does not exist, Ansible will crash:
[code]
This happens since #66128 (unsurprisingly). This is easy to fix by changing line 165 to
[code]
but this only fixes the symptom (crash), not the cause (no handling when callback not found).

I guess a better behavior would be to:
[code]
or at least print a warning. Since I'm not sure what the corre

[2020-05-09 07:56] startryst commented on #37355
I encounter the same on ansible 2.9.7 against CentOS 7, wish to fix as soon as possible.

[2020-05-09 14:27] xander-sh opened #69410 "VMWare : vmware_content_deploy_template module doesnt create VM from OVF template"
##### SUMMARY

Im trying to deploy a VM from Content Library using vmware_content_deploy_template module, ansible-playbook fail with error:
[code]

On vCenter i see error :
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible module  vmware_content_deploy_template
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

"Oracle Linux Server release 7.7"
L

[2020-05-09 14:32] Akasurde commented on #69410
Hi @xander-sh There is a new module called [`vmware_content_deploy_ovf_template`](https://github.com/ansible-collections/vmware/blob/master/plugins/modules/vmware_content_deploy_ovf_template.py) which does this. Could you please use that? Thanks.

[2020-05-09 14:32] #69410 closed, assigned to Akasurde

[2020-05-09 14:35] Akasurde commented on #69400
@TetsuKosakaJP This repo is related to [`Ansible`](https://www.ansible.com/). Could you please raise this issue to TensorFlow related repos? Thanks.

[2020-05-09 14:35] #69400 closed, assigned to Akasurde

[2020-05-09 14:44] nkakouros commented on #65291
I think that the issue is fixed in the [`google.cloud`](https://github.com/ansible-collections/ansible_collections_google) collection. Since development happens over there, I will close this issue anyway.

[2020-05-09 14:44] #65291 closed, assigned to nobody

[2020-05-09 14:51] xander-sh opened #69411 "VMWare : vmware_content_deploy_template module don't create VM on Datastore Cluster"
##### SUMMARY

Please synchronize the creation parameters need to create VM from vmware_guest module:
cluster
hosts (esxi_hostname)
datastore

##### ISSUE TYPE
- Feature Idea
I want to create VM in vCenter Cluster, not on a specific esxi_host, but **hosts** parameters are required in vmware_content_deploy_template module.
On vmware_guest module i can and this parameter (esxi_hostname) depends from

[2020-05-09 15:07] nkakouros commented on #51097
I don't think this is an issue anymore.

[2020-05-09 15:07] #51097 closed, assigned to nobody

[2020-05-09 16:06] nkakouros commented on #56326
This seems to have been fixed in the google.cloud collection.

[2020-05-09 16:06] #56326 closed, assigned to nobody

[2020-05-09 16:32] Akasurde commented on #60595
resolved_by_pr #60692

[2020-05-09 16:33] NilashishC commented on #68286
Hi @sdxic,

We believe this has already been fixed and is not reproducible with Ansible 2.9.7.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
https://groups.google.com/forum

[2020-05-09 16:33] #68286 closed, assigned to NilashishC

[2020-05-09 17:26] epicanthal commented on #36172
@compyy can you explain a little more please.  what does "set terminal" mean?  is there a command that can be run from the CLI to test this?  I am using the WLC 'admin' username and password.  Thank you.

[2020-05-09 18:01] epicanthal commented on #36172
Nevermind.  I wasn't in my dev VM doh!  I was trying from my host OS so "ansible_connection: local" was using my machine user, not the VM's haha.  Anyway, this video helped me get started with understanding how to connect to a WLC:  [Ansible Cisco WLC Connection Example Playbook AireOS](https://www.youtube.com/watch?v=9_5iFx67Ta4)

[2020-05-10 03:59] Akasurde commented on #69411
Issue migrated to https://github.com/ansible-collections/vmware/issues/173

[2020-05-10 03:59] #69411 closed, assigned to nobody

[2020-05-10 13:51] aneagoe commented on #68361
@sivel While it's understandable that there's a larger effort to properly address this in a future release, the truth is that atm, on Python 3.x and ansible 2.9, collections are not usable. I'm already using the fix you proposed and manually patching ansible as required. I don't quite understand the reasoning behind not adding the fix in the current stable 2.9. Is it simply a lack of time for doin

[2020-05-10 14:45] flmmartins opened #69414 "Ubuntu Focal during apt update error ppa.launchpad.net/ansible/ansible/ubuntu focal release does not have a release file"
##### SUMMARY
Error ppa.launchpad.net/ansible/ansible/ubuntu focal release does not have a release file
when running apt update via ansible or without ansible.

I followed this issue before opening this one:
https://github.com/ansible/ansible/issues/68645

But the error seems strange to me because if I go to ppa I see ansible there: https://launchpad.net/ubuntu/focal/+source/ansible

What seems to

[2020-05-10 17:14] Zocker1999NET opened #69415 "Add systemd_escape algorithm as Jinja2 filter"
##### SUMMARY

Add a Jinja2 filter allowing to escape strings following the [systemd escape algorithm](https://www.freedesktop.org/software/systemd/man/systemd.unit.html#String%20Escaping%20for%20Inclusion%20in%20Unit%20Names). Then the user would not require to mimic the escaping by combining other existing filters because the full implementation is not trivial.

##### ISSUE TYPE
- Feature Idea

[2020-05-10 21:58] flotho opened #69416 "[2.9]gitlab_deploy_key unexpected email parameter"
##### SUMMARY
Running the module gitlab_deploy_key with only access_token seems to keep old email parameter

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gitlab_deploy_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Local : Fedora 31

Remote : CentOS 8 uptodate
[code]

##### STEPS TO REPRODUCE

create a user with admin ACL in gitlab, add a personnal

[2020-05-10 22:13] flotho commented on #69416
My bad, it was well documented

[2020-05-10 22:13] flotho commented on #69416
there : https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modules/source_control/gitlab_deploy_key.py#L28

[2020-05-10 22:13] #69416 closed, assigned to nobody

[2020-05-11 01:20] jd3shaw commented on #16933
I am also experiencing this issue. Random changing the order of groups and serial plays later on running out of order. Is there any solution other than running my group_by add play in serial as well (this greatly increase my runtime and I would like to avoid it).

[2020-05-11 04:09] sugitk commented on #28061
I also reproduced this issue in my side after updating dnf 4.2.17-6 on RHEL 8.2

I reviewed the code of Ansible `dnf` module, it seems that the `base.setup_loggers()` didn't be called.  Is my understanding correct?

Just referenced this BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1788212

[2020-05-11 05:37] kenyon commented on #66874
This file was moved to ansible-collections/community.general. https://github.com/ansible-collections/community.general/pull/318 fixes this there.

[2020-05-11 05:37] queglay commented on #31543
@eschweighofer the workaround also doesn't work for me.

[2020-05-11 06:04] felixfontein opened #69419 "ansible-test: action-plugin-docs test fails for community.general (and probably other collections which need flatmapping)"
##### SUMMARY
In ansible-collections/community.general#271, the `action-plugin-docs` code-smell test fails because it expects `plugins/modules/iptables_state.py` to be there **and a file**. Right now, `plugins/modules/iptables_state.py` is a symlink to `plugins/modules/system/iptables_state.py` to work around flatmapping not yet implemented; so `plugins/modules/iptables_state.py` does exist, but i

[2020-05-11 06:41] hellog1t opened #69421 "Failed to import the required Python library (pysnow)"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
I am trying to gather fact of target host from Ansible engine using playbook.
Command line module ( setup ) work fine with target host.

eg.# ansible <target-host> -m setup

When I try to use the same module, Its fails pointing to not able to found module <pysnow>.
Target host python version is 2.7.
P

[2020-05-11 06:55] hellog1t commented on #69421
!component lib/python2.7/site-packages/pysnow

[2020-05-11 06:59] mkrizek commented on #69421
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-05-11 06:59] #69421 closed, assigned to nobody

[2020-05-11 07:51] mamun217 opened #69422 "template module doesn't look into files directory for src file"
##### SUMMARY
Using `template` module to copy a file to remote host but ansible throws an error saying `Could not find or access 'file_name.yml'`. The file to be copied is under `roles/sample/files` directory.  Looking at the error message, it appears that the module doesn't look into `files` directory at all event though mentioned in the [role documentation](https://docs.ansible.com/ansible/lates

[2020-05-11 08:12] ayay129 opened #69423 "There has a model named fetch, the result dest is different from input"
![image](https://user-images.githubusercontent.com/31658398/81539021-2bf9d600-93a2-11ea-8061-111313e51094.png)

[2020-05-11 08:38] ssbarnea opened #69424 "Add type hinting to ansible: mypy"
##### SUMMARY
I would like to propose introduction of type hinting information to ansible, likely via [mypy](http://mypy-lang.org/) approach as it seems to be the most popular and one that does not change the runtime code.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ADDITIONAL INFORMATION
Please bare in mind that this can be slowly introduced as there is no requirement to ad

[2020-05-11 08:42] trevorijones commented on #27299
As stated by @GoodMirek, please just update the docs with a deprecated warning or a link to #66496

json_query usage is widespread out there and trying to use jmespath contains, starts_with, etc makes you spend so much time on troubleshooting
Thanks

[2020-05-11 08:42] gmherb commented on #69422
Hi @mamun217,
I was just checking the doc you linked to confirm that it does state that information, but also states:

If you are using **file** module, you can reference any `file` in `files/` as a relative path. If using the **template** module, you can specify any `template` in `templates/` as a relative path.

To access a **template** in `files/`, or **file** in `templates/` you must specify t

[2020-05-11 09:19] larsskj commented on #60422
@Akasurde Sorry, I opened this issue 8 months ago. I don't have those problematic files anymore, nor do I work on the project anymore. I had given up expecting someone to react.

[2020-05-11 09:34] hellog1t commented on #69421
Hi,

I am quite new hear and not familiar.

I am not able to find my thread under google group for Ansible.
Also can you please advise how to check on IRC, so that I can followup on my thread.

[2020-05-11 10:01] biradarganesh25 commented on #69009
Hello, can I work on this task?

[2020-05-11 10:10] pushkarkumar15 commented on #68775
I am working on this issue.

[2020-05-11 10:16] Akasurde commented on #60422
Hi @larsskj

ah! Due to a large number of issues, it is very difficult to address all the issues in time.
I will close this issue for now. If you encounter this issue again, please feel free to ping me or open a new issue.
Thanks.

[2020-05-11 10:16] #60422 closed, assigned to nobody

[2020-05-11 11:13] mivanov-its opened #69428 "Allow one to override the hardcoded value "ansible_syslogger" in the syslogger module."
##### SUMMARY

It is useful to allow one to specify the application name in the syslogger module. It is hardcoded to "ansible_syslogger" at the moment, see:

https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/modules/notification/syslogger.py#L151
https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/modules/notification/syslogger.py#L155

Moreover, this hardcoded string is no

[2020-05-11 11:27] mivanov-itsonix commented on #69372
Hi @Shrews,

thank you for the update of the documentation.

I have to point out one more thing here, which needs to be updated in the documentation.

Please consider the case where the contents of the target file are:

[code]

When you execute the playbook:

[code]

the contents of the file are now:

[code]
The documentation should clearly state that no warning or error message is issued in case

[2020-05-11 11:30] mkrizek commented on #69428
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-05-11 11:30] #69428 closed, assigned to nobody

[2020-05-11 11:33] FilipB commented on #63894
I don't see this issue in openstacksdk-0.46.0. Closing. Thank you.

[2020-05-11 11:33] #63894 closed, assigned to nobody

[2020-05-11 11:35] SLoeuillet opened #69429 "ovirt_quota, cluster cpu limit won't cast string to int (unable to use variables)"
##### SUMMARY
Can't set cluster level quotas with ansible 2.9.7 and ovirtsdk 4.3.4 against RHV 4.3.9

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_quota

##### ANSIBLE VERSION
'''
ansible 2.9.7
  config file = None
  configured module search path = ['/home/OAD/sloeuillet/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/OAD/sloeu

[2020-05-11 11:39] mkrizek commented on #69429
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ovirt/ovirt-ansible-collection.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-11 11:39] #69429 closed, assigned to nobody

[2020-05-11 11:41] SLoeuillet opened #69430 "ovirt_quota : can't set cluster level quotas because it can't decide if global or cluster quotas"
##### SUMMARY
Can't set cluster level quotas with ansible 2.9.7 and ovirtsdk 4.3.4 against RHV 4.3.9 : it can't

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_quota

##### ANSIBLE VERSION
'''
ansible 2.9.7
config file = None
configured module search path = ['/home/OAD/sloeuillet/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
ansible python module location = /home/OAD/

[2020-05-11 11:43] mkrizek commented on #69430
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ovirt/ovirt-ansible-collection.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-11 11:43] #69430 closed, assigned to nobody

[2020-05-11 14:00] goneri commented on #55560
@JosteinVH your problem may have been fixed by: https://github.com/ansible-collections/vmware/commit/66ae027701acd86024c59bab9f1d218a69d73be3
For the record, we don’t track the issues here anymore. The VMware modules are now developed there: https://github.com/ansible-collections/vmware.

[2020-05-11 14:04] sivel commented on #69424
Thank you very much for your interest in Ansible. We have no plans to introduce this functionality within Ansible at this time.  We may decide to do this at a later date, but we are no longer keeping feature requests open for functionality we have no timeline on implementing.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing

[2020-05-11 14:04] #69424 closed, assigned to nobody

[2020-05-11 14:05] sivel commented on #69422
Closing per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-05-11 14:05] #69422 closed, assigned to nobody

[2020-05-11 14:05] sivel commented on #69423
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-05-11 14:05] #69423 closed, assigned to nobody

[2020-05-11 14:06] #67004 closed, assigned to nobody

[2020-05-11 14:08] sivel commented on #69414
Thank you very much for your interest in Ansible. We have not created a package for Ubuntu Focal at this time for a few reasons:

1. This process only happens when we release a new version
1. Ubuntu Focal already contains a package for Ansible 2.9
1. We are in the process of modernizing our debian builds, so that newer releases will be able to use Python3.

If you have further questions please sto

[2020-05-11 14:08] #69414 closed, assigned to nobody

[2020-05-11 14:41] mamun217 commented on #69422
Thanks @gmherb for the explanation. This explanation isn't quite obvious from the documentation in terms of which task depends on what directory. if not a bug, the documentation could be improved as a part of this issue.

[2020-05-11 15:11] kdelee commented on #69398
@sivel @mattclay we've decided we are OK with this and I merged the PR to update our test scripts. Closing

[2020-05-11 15:11] #69398 closed, assigned to nobody

[2020-05-11 15:17] marconsys opened #69431 "old bug of issue #41008 reappeared in ansible 2.9"
##### SUMMARY
The ovirt_disks module does not reliably extend disks when they are specified by name and vm_name. If two disks exist that share the same name, then the first result is always selected.

The passed vm_name should be used to filter the search results and select the correct disk.

Bug was already reported on ansible 2.5 with issue #41008 and resolved in 2018 with ansible 2.6.
But it re

[2020-05-11 15:28] ShubhamGundawarIBM opened #69432 "Invalid kube-config file. No Configurations found"
#69431
# Error Produced when running K8s module in ansible
Error:
`fatal: [9.199.148.69]: FAILED! => {"changed": false, "module_stderr": "Shared connection to 9.199.148.69 closed.\r\n", "module_stdout": "/etc/profile.d/lang.sh: line 19: warning: setlocale: LC_CTYPE: cannot change locale (UTF-8): No such file or directory\r\nTraceback (most recent call last):\r\n  File \"/home/devops/.ansible/tmp/a

[2020-05-11 15:38] renskewierda opened #69433 "Issue with sku variable in azure_rm_loganalyticsworkspace cloud module"
##### SUMMARY

When I use "standalone" as value for the sku variable in the azure_rm_loganalyticsworkspace module, the Log Analytics Workspace is deployed with sku "Per GB 2018" instead.
I have removed some sensitive information in the data below; those instances I have marked with '*redacted*'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_loganalyticsworkspace

##### ANSIBLE VER

[2020-05-11 16:07] sivel commented on #69431
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/oVirt/ovirt-ansible-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-05-11 16:07] #69431 closed, assigned to nobody

[2020-05-11 16:08] sivel commented on #69432
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.kubernetes

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/

[2020-05-11 16:08] #69432 closed, assigned to nobody

[2020-05-11 16:08] sivel commented on #69433
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2020-05-11 16:08] #69433 closed, assigned to nobody