[2018-03-26 13:02] arsh9295 commented on #37240
@rcarrillocruz you need any info from my side ?, Please let me know.

[2018-03-26 13:08] Wenzel commented on #14578
Hi,

i just hit the same bug with the `win_copy` module:
[code]
Ansible `2.3.0`

Any solutions ?

[2018-03-26 13:18] stevenscg opened #37925 "ec2_vpc_subnet is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_subnet

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
MacOS High Sierra

##### SUMMARY
Repeated runs of the module report changed = true.

This behavior appeared similar to https://github.com/ansible/ansible/issues/31706 initially, but occurs  regardless of whether tags are applied or not.

It first occurred with ansible version 2

[2018-03-26 13:21] stevenscg commented on #31706
@willthames The test case looks good. New issue filed. My usage is largely similar to both this issue and the test case data, but on 2.5.0, it looks like the module is not idempotent regardless of whether tags are used or not.

[2018-03-26 13:28] rdepke commented on #35613
The error also still occurs with ansible 2.5
[code]

[code]

If you rerun the playbook, it will succeed

[2018-03-26 13:31] alikins commented on #37911
@JanMalte Do those systems have 'dmidecode' installed?

The error makes me think 'dmidecode' is not installed  (and that the code using dmidecode should handle not having it better...)

[2018-03-26 13:38] alikins commented on #37875
@anoother could you run that playbook with ansible-playbook adding the '-vvv' and '--diff' options?

[2018-03-26 13:40] alikins commented on #37875
@anoother The controller is running Ubuntu 16.04 and python2.7?

For the remote affected host, FreeBSD 11.0-RELEASE-p1 and which python version?

[2018-03-26 13:43] alikins commented on #37875
pinging @abadger

[2018-03-26 13:48] alikins commented on #37890
@dobrozhanskyi So this is a difference between the previous ansible 'slice' (removed in 90e267417b0a446fa825ab63ed4809a5e9a1b010) and the builtin jinja 'slice'?

[2018-03-26 13:48] alikins commented on #37890
pinging @bcoca re https://github.com/ansible/ansible/commit/90e267417b0a446fa825ab63ed4809a5e9a1b010

[2018-03-26 13:54] alikins commented on #37925
pinging @wimnat @ryansb  re https://github.com/ansible/ansible/commit/2616f9d713d5db987588337625470d42b8bc6850 from https://github.com/ansible/ansible/pull/32815

[2018-03-26 13:58] alikins commented on #37924
pinging @wimnat @ryansb re 2616f9d from https://github.com/ansible/ansible/pull/32815

[2018-03-26 14:05] alikins commented on #37840
@ThomasSteinbach Could you provide output from running with the additional '-vvv' args to show the traceback?

[2018-03-26 14:12] alikins commented on #37833
@bmv126 Could you provide the 'ansible --version' output for version details?

Is the playbook/config using 'ssh' or 'paramiko' connection?
Are there any tweaks to ansibles ssh related config options?

If this fails in 2.3, what version was it working in previously?

Could you test/verify this against the newer supported versions (2.4 or 2.5)?

[2018-03-26 14:16] abadger commented on #37875
You need to either signify that's octal to yaml by using a leading zero or
quite it so that Ansible receives it as a string.

On Mon, Mar 26, 2018, 6:43 AM Adrian Likins <notifications@github.com>
wrote:

[2018-03-26 14:18] alikins commented on #37698
@windswordsgd what ansible version are you using?

'azure_rm_availabilityset' and 'azure_rm_availabilityset_facts' were added in ansible 2.4.0 (https://docs.ansible.com/ansible/2.4/azure_rm_availabilityset_module.html and https://docs.ansible.com/ansible/2.4/azure_rm_availabilityset_facts_module.html)

Since it sounds like this has already been implemented in released versions, going to close this

[2018-03-26 14:18] #37698 closed, assigned to nobody

[2018-03-26 14:29] abadger commented on #37875
*quote it

[2018-03-26 14:31] alikins commented on #37894
pinging @bcoca, @abadger

[2018-03-26 14:41] alikins commented on #37842
https://docs.ansible.com/ansible/2.4/unarchive_module.html

The excludes option is expected to be a list of paths to exclude. It does not support wildcards or globs.

[2018-03-26 14:41] gundalow commented on #37262
@ganeshrn Do you believe this something we can get fixed in 2.5.1?

[2018-03-26 14:42] abadger commented on #37875
The need for a leading zero is described in the docs: http://docs.ansible.com/ansible/latest/file_module.html#options  although I see that it could be clearer for non-programmers.  The docs tell you that you need an octal number and that you need the leading zero but don't explicitly draw the connection that it's treated as octal with the leading zero and treated as a decimal number without.

[2018-03-26 14:47] gamuniz opened #37929 "ansible_failed_task inside role returns undefined if variables are undefined inside defaults/ or vars/"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Block

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
ALLOW_WORLD_READABLE_TMPFILES(/etc/ansible/ansible.cfg) = True
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30
USE_PERSISTENT_CONNECTIONS(/etc/ansible/ansible.cfg) = True

##### OS / ENVIRONMENT
Centos7

##### SUMMARY

If running a playbook

[2018-03-26 14:49] alikins commented on #37874
@billyblue52 Could you elaborate? I'm not sure what this refers to.

Which file?

Are you referring to the docs at https://docs.ansible.com/ansible/2.4/ios_config_module.html ?
In particular, the example in the Examples section:

[code]

[2018-03-26 14:51] alikins commented on #37848
# for the bot
!compontent=lib/ansible/module_utils/facts.py

[2018-03-26 14:52] billyblue52 commented on #37874
Hi Adrain,

Sorry yep that is the doc.

I feel it would be a benefit if it said what format was needed to go into the config document.

From: Adrian Likins
Sent: Monday 26 March, 15:50
Subject: Re: [ansible/ansible] IOS Config - \ No newline at end of file (compare running v saved config) (#37874)
To: ansible/ansible
Cc: (s) William Bethell, Mention

@billyblue52<https://github.com/billyblue52> Co

[2018-03-26 14:57] gamuniz commented on #37929
possibly related? https://github.com/ansible/ansible/issues/29047
https://github.com/ansible/ansible/issues/12341
https://github.com/ansible/ansible/issues/27970
https://github.com/ansible/ansible/issues/12341

[2018-03-26 14:59] n267 commented on #37895
Sure, here it is:

[code]

public_dns_name is set this time because EIPs are set to two of the three interfaces between the first and second ec2 calls.

[2018-03-26 15:03] bcoca commented on #37894
@miramar-labs the `difference` filter was not the problem, `hosts: []` produces the same issue, its equivalent to `hosts: all`. The PR above fixes the issue in my testing, please confirm it does the same for you.

[2018-03-26 15:04] Qalthos commented on #37530
I think the way forward for this then is to

1. Check $PATH for `ansible-connection` as before
2. If that fails, assume `dirname(argv[0])` works
3. Give up and tell the user we can't find `ansible-connection`?

[2018-03-26 15:04] alikins commented on #37904
(reformatted version of error message for easier reading)
[code]

[2018-03-26 15:04] alikins commented on #37904
# for the bot
!component =lib/ansible/modules/cloud/azure/azure_rm_virtualmachine_scaleset.py

[2018-03-26 15:06] alikins commented on #37904
pinging @haroldwongms @nitzmahone @trstringer @yuwzho @xscript @zikalino

[2018-03-26 15:13] #37612 closed, assigned to trishnaguha

[2018-03-26 15:13] mowntan commented on #33284
We have One VC, One Datacenter, and 7 Clusters. Each cluster has a "BUILD" Network that is attached to a specific DVS on each cluster.

[2018-03-26 15:17] bcoca commented on #37890
the ansible 'slice' was never pushed, it only existed in /devel for a short time because i realized I had missed the jinja2 already existed.

[2018-03-26 15:24] alikins commented on #37890
@dobrozhanskyi was this working in versions prior to 2.5.0? If so, what versions?

[2018-03-26 15:32] alikins commented on #37890
is the docs blurb at http://docs.ansible.com/ansible/2.5/user_guide/playbooks_filters.html# correct?

It sounds correct, even it if is actually referring to a jinja builtin feature. The 'new in version 2.5' is a little confusing in that context.

[2018-03-26 15:42] bcoca commented on #22025
one thing to note, by changing the order this new behaviour might cause problems for users:

[code]
inside file.yml, you always get  `a == 1`, same for roles

[2018-03-26 16:32] kwoodson opened #37934 "azure_rm_storageaccount doesn't show or allow showing connectionstring"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
azure_rm_storageaccount_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
fedora 26

##### SUMMARY
I want to fetch the storageaccount connection string by querying the storage account.  This can be accomplished by running the following command from the python client:

[code]

##### STEPS TO R

[2018-03-26 16:39] alikins commented on #37879
@tchia04 Need more info than that. Whats the intended usage? What is something that could be after that feature that can't be done now?

Closing for now. If there is additional info, open a new issue with all of the info.

[2018-03-26 16:39] #37879 closed, assigned to nobody

[2018-03-26 16:49] #37530 closed, assigned to Qalthos, mattclay

[2018-03-26 16:50] Akasurde commented on #33971
@jacksonp2008 Could you please confirm if it works for you ?

[2018-03-26 16:58] gundalow opened #37935 "Network Docs: ProxyCommand = slow"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
[code]

##### SUMMARY
If you use `ProxyCommand` then even when using Persistent Connection an extra SSH connection is triggered every task. We should make that clear in the docs.

http://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#delegate-to-vs-proxycommand

[2018-03-26 17:03] sivel commented on #37890
No. Since that filter never actually landed in 2.5, the docs should not be there either.

The slice filter in jinja2 is rather different http://jinja.pocoo.org/docs/dev/templates/#slice

[2018-03-26 17:05] indivisiblewalrus opened #37936 "ansible 2.5 nxos_config - 'spanning-tree port type edge trunk' not applying and no errors."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False
PARAMIKO_HOST_KEY_AUTO_ADD(env: ANSIBLE_PARAMIKO_HOST_KEY_AUTO_ADD) = True

##### OS / ENVIRONMENT
ansible 2.5, Debian 9, NXOS 7.0.(3)I7(2)

##### SUMMARY
When issuing command 'spanning-tree port type edge trunk' in either jin

[2018-03-26 17:06] #37856 closed, assigned to sivel

[2018-03-26 17:59] guidezpl opened #37941 "async shell command fails to execute"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

async

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from: MacOS Sierra
Targeting: Ubuntu 16.04.4 LTS

##### SUMMARY

Shell commands with async set to non-zero fail

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Command is executed.

##### ACTUAL RESULTS

Command isn't executed and task fails s

[2018-03-26 18:16] sivel commented on #37890
@bcoca it looks like the removal from stable-2.5 never happened.  It should not have been included in 2.5 but was: https://github.com/ansible/ansible/blob/stable-2.5/lib/ansible/plugins/filter/core.py#L491

2.5 must have been branched before you removed it.

[2018-03-26 18:31] danielkza commented on #22025
The most intuitive behavior would be to have the precedence follow the procedural order: calls to `set_fact` override variables that have been specified *before* the call site in the sequence of tasks, but not *after*. I have a feeling this is not easily achievable with the way things work currently, am I correct?

[2018-03-26 18:39] hogarth-sv opened #37945 "jenkins_script only returns output when the script succeeds"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jenkins_script

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The output key is only populated if there were no problems running the script:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/web_infrastructure/jenkins_script.py#L183

This results in a lot of boilerplate c

[2018-03-26 19:06] bcoca commented on #22025
correct, they are  scoped at host vs play and they also get precedence based on 'where' they are set, only those of the same origin get considered via 'when' they are set.

[2018-03-26 19:12] zztopping opened #37948 "Ansible 2.5.0, ios_facts not showing stacked models/serials against 3850 running 16.6.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

PARAMIKO_HOST_KEY_AUTO_ADD(/home/vagrant/.ansible.cfg) = True
RETRY_FILES_ENABLED(/home/vagrant/.ansible.cfg) = False

##### OS / ENVIRONMENT

N/A

##### SUMMARY

New ios_facts module in 2.5 reports serials and models of Cisco Switches contained in a "stack". Reports on some other

[2018-03-26 19:18] felixfontein commented on #37884
!needs_info

[2018-03-26 19:19] realged13 opened #37949 "NIOS: View Not Found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nios

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[all:vars]
ansible_python_interpreter=python

##### OS / ENVIRONMENT

Centos 7

##### SUMMARY

Trying to create a host dns record in the default view.  Getting several errors about unknown dns view.

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

DNS record in the xyz

[2018-03-26 19:29] robinro commented on #37912
@tonal Thanks for pointing out this bug. While I agree this should be fixed, I don't understand your usecase. Why do you need `chdir` in your example? This option was intended for use with the `requirements` or `virtualenv` options.

Since you already found the place in the code: Are you interested in opening a pull request? I can review it if you like.

[2018-03-26 19:51] wandermyz commented on #29599
Same issue here

[2018-03-26 19:53] #37824 closed, assigned to nobody

[2018-03-26 19:59] jm-welch opened #37954 "2.5.0 - ansible CLI command throws ImportError for to_unicode"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`ansible` command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No settings changed

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Stack trace thrown when running the `ansible` command, regardless of settings.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected command to run

##### ACTUAL RESULTS

[code]

[2018-03-26 20:01] jm-welch commented on #37954
Seems to be the effect of #34828, which removed several methods from the `ansible.utils.unicode` library.

I haven't had time to dig into how this should be fixed, but wanted to get a report out there as soon as I noticed it.

[2018-03-26 20:08] realged13 commented on #37949
For people who might wanted to know, make sure when doing host records, do choose the view under `Data Management > DNS`.  Do not use network view, which is entirely different.

[2018-03-26 20:08] #37949 closed, assigned to nobody

[2018-03-26 20:09] bcoca commented on #37954
cc @mscherer  @maxamillion

[2018-03-26 20:10] bcoca commented on #37954
I believe you are mixing ansible versions, as there should be no code calling that function after that change.

[2018-03-26 20:16] jm-welch commented on #37954
Yeah, I just saw that that line isn't in `bin/ansible` at 2.5.0. I'm trying to figure out where else ansible would have come from on this system - it's a newly installed Ubuntu on Windows subsystem, so it's not like other folks have had access to it. All I've done so far:

[code]

[2018-03-26 20:24] bcoca commented on #37954
closing as per above

[2018-03-26 20:24] #37954 closed, assigned to nobody

[2018-03-26 20:24] Mixer9 commented on #37473
I need to double check the intermediate certficate, I simply haven't had
time. I will try and get to that this week.

On Fri, Mar 23, 2018 at 5:03 PM, Adam Miller <notifications@github.com>
wrote:

--
Chris Hood
chris.hood@gmail.com
RHCE (RedHat Certified Engineer)
RHCVA (RedHat Certified Virtualization Administrator)
RHCDS (RedHat Certified Data Center Specialist)
C|EH (Certified Ethical Hacker)

[2018-03-26 20:30] IvanovOleg commented on #37873
`public_ip_address_name: "{{ public_ip | ternary(public_ip_name, omit) }}"` doesn't work
`public_ip_address_name: "{{ public_ip | ternary(public_ip_name, '') }}"` works

[2018-03-26 20:43] mattclay opened #37957 "Unstable integration test win_uri"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

win_uri integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test win_uri:

https://app.shippable.com/github/ansible/ansible/runs/59240/20/tests

##### STEPS TO REPRODUCE

Run tests on Shippable.

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULTS

[2018-03-26 20:44] mattclay commented on #37957
Disabled in https://github.com/ansible/ansible/commit/2d0547c411ab39237833302dc452ad9b4579d686

[2018-03-26 20:47] mattclay commented on #37957
I realize these tests will occasionally fail due to issues connecting to the httpbin.org servers. However, the Windows tests seem to fail much more frequently than the same tests on FreeBSD and RHEL, which also talk to the httpbin.org servers.

[2018-03-26 20:59] ju2wheels opened #37958 "docker_service - Unable to load docker-compose. Try `pip install docker-compose`. Error: cannot import name ImageNotFound"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Running docker_service is producing an error instead of running a service via docker-compose.

I had installed the docker-compose binary 1.20.1 to /usr/bin/local and installed the same version via pip before running `docker_service`.

#

[2018-03-26 21:06] dagwieers commented on #37957
Is this a timing issue ? Would a carefully placed delay improve the situation ?

[2018-03-26 21:07] ikelos commented on #37826
Investigating using `vars_prompt` in a playbook, it seems I can't then save that variable from one play to use in another.  I tried to locate the config system, but the best I could find was a config lookup_plugin, which reads variables from `ansible.constants`.  It sounds like the config system will store the values to disk (which isn't acceptable in the instance of a password) or will read it fr

[2018-03-26 21:09] 1efty opened #37959 "s3_sync module unidentified error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

s3_sync module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from: Fedora 27
Running on: CentOS 7

##### SUMMARY

We want to ensure our file server is backed up to S3.  The volume is roughly 2.9TB and has hundreds of thousands if not millions of files.  The module works fine for our smaller backup

[2018-03-26 21:12] Mixer9 commented on #37473
Here is what ended up in /var/log/up2date

[Mon Mar 26 21:08:37 2018] up2date
Traceback (most recent call last):
  File "/usr/sbin/rhnreg_ks", line 218, in <module>
    cli.run()
  File "/usr/share/rhn/up2date_client/rhncli.py", line 96, in run
    sys.exit(self.main() or 0)
  File "/usr/sbin/rhnreg_ks", line 90, in main
    rhnreg.getCaps()
  File "/usr/share/rhn/up2date_client/rhnreg.py", line 2

[2018-03-26 21:13] Mixer9 commented on #37473
Please disregard the comment about the intermediate certificate, I am
working multiple issues with certificates and got them confused.

On Mon, Mar 26, 2018 at 4:12 PM, Chris Hood <chris.hood@gmail.com> wrote:

--
Chris Hood
chris.hood@gmail.com
RHCE (RedHat Certified Engineer)
RHCVA (RedHat Certified Virtualization Administrator)
RHCDS (RedHat Certified Data Center Specialist)
C|EH (Certified Eth

[2018-03-26 21:26] maxamillion commented on #37473
@Mixer9 based on output you provided, it looks like this is an issue with either `subscription-manager` itself or a configuration issue. Can you try to run `/usr/sbin/rhnreg_ks --force --serverUrl https://soctxrhs01.gsoc.verizon.com/XMLRPC --activationkey VALUE_SPECIFIED_IN_NO_LOG_PARAMETER --sslCACert /usr/share/rhn/RHN-ORG-TRUSTED-SSL-CERT` by hand on the command line of that system? I'm thinkin

[2018-03-26 21:29] ju2wheels commented on #37958
@sivel my  docker container had the following for the above tests:

[code]

[2018-03-26 21:31] adisharoon commented on #30053
I'm encountering this issue as well.  @s-hertel - the issue is that there are security groups with identical names in different VPCs, and the module is looking up the security group in another VPC instead of the one we are interested in.

[2018-03-26 21:37] cmvelo commented on #35834
I am also hitting this issue as well — what is the ETA on this fix for this?  (it is *extremely* annoying)

[code]

[2018-03-26 21:39] sivel commented on #37958
You cannot have both `docker` and `docker-py` installed at the same time, as they use the same namespace.  You will need to remove both, and only install `docker`.

Performing `pip install docker docker-py` results in:

[code]

After `pip uninstall -y docker docker-py && pip install docker` the above command completes successfully.

needs_info

[2018-03-26 21:42] jamesmarshall24 opened #37961 "vmware_inventory host_filter does not support "in" operator"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_inventory.py

##### ANSIBLE VERSION

[code]

##### SUMMARY
Using the "in" operator within the host_filter jinja2 template results in a parsing error although the jinja syntax passes

[vmware_inventory.py ln 290](https://github.com/ansible/ansible/blob/devel/contrib/inventory/vmware_inventory.py#L290)

##### STEPS TO REPRODUCE

vmware_in

[2018-03-26 22:01] LuckySB commented on #30441
test with devel version
ansible-2.6.0-100.git201803241800.d502745a4e.devel

Memory is used up to 500 megabytes per worker, compared to 230 megabytes on the versionansible-2.4.0-100.git201708150932.e9c9473819.devel.el7.centos

The good thing is that it no longer takes tens of gigabytes of memory.
The speed of work is slower by 10%, which is acceptable

PS: How can spend 500 megabytes on the task of

[2018-03-26 22:15] bmamouri opened #37963 "Creating a security group with none rules_egress doesn't create default all-out rule"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/Users/baqer/deployment/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-s
HOST_KEY_CHECKING(/Users/baqer/deployment/ansible.cfg) = False

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If none `rules_egress` is specified, a default all

[2018-03-26 22:24] ju2wheels commented on #37958
Thanks @sivel . Its working now, that was it.

[2018-03-26 22:24] #37958 closed, assigned to nobody

[2018-03-26 22:27] bcoca commented on #37826
The `pause` module in a playbook will allow you to save it from one play to the other as unlike `vars_prompt` it associates to the variable to the hosts, not the play.

As for the config system, I think i did not explain myself correclty, currently it can consume many sources: config file, env var, host var and inline options into plugin. I was thinking of adding a prompt method that would allow y

[2018-03-26 22:27] jborean93 commented on #35613
@rdepke thanks for the github link with the reproducer, I'm able to replicate the behaviour and found the problem. I've got a PR here https://github.com/ansible/ansible/pull/37964 that will fix it and it would be great if you could test it out.

[2018-03-26 22:31] jborean93 commented on #37957
Without looking too deeply, I believe the default timeout for win_uri is less than uri which causes the issues. @mattclay pointed out to me this morning the FreeBSD tests run against the same host and doesn't have these issues so there is something happening here.

[2018-03-26 22:36] Mixer9 commented on #37473
I have done that in other servers and it will register just fine if I do it
manually, just not with Ansible. That's how we got all of our other servers
registered.

Chris

On Mon, Mar 26, 2018, 4:26 PM Adam Miller <notifications@github.com> wrote:

[2018-03-26 22:36] ikelos commented on #37826
Hmmm, ok.  I'll see if I can register a user-entered variable using the `pause` module.  Being per-host still isn't global (ie, I might have to register it against a known host in order to get back to the value), but I'll see if I can make it work.

I really appreciate your continued support, and I look forward to the prompt functionality being added to the config system.  I'm not sure config file

[2018-03-26 22:38] jborean93 commented on #35613
Also as a side note, there is a workaround this issue until Ansible is next released or the is merged. You need to run a Python module and delegate that to localhost (example below). This will create a local ansiballz cache in the tmp folder and stop win_copy from removing it. I was able to use this locally to workaround the issue and it was how the win_copy tests never came across this issue in t

[2018-03-26 22:39] bcoca commented on #37826
The other option I'm contemplating is a 'prompt' lookup plugin:
[code]

Which is probably a lot easier to create w/o changing core code.

[2018-03-26 22:44] ikelos commented on #37826
I don't believe that lookup plugins can maintain state either?  I originally had just a lookup_plugin and prompted for a value manually, however, it seemed to be run in its own context, so the next play would get a new copy of the plugin and would have to prompt again (hence moving to the vars_plugin, which seemed to run only once at ansible's start).  So whilst it might be quicker/less invasive,

[2018-03-26 22:48] bcoca commented on #37826
it cannot, but you can assign it to a variable (state), depending on where it is used it can force reprompt on access:

[code]
or force it to run one time and apply the state to the host
[code]

[2018-03-26 22:57] ikelos commented on #37826
Ok, I think I must still be missing something.  `set_fact` is still on a per-host basis, so where (within the lookup plugin) would the state be maintained?  I have a variable I want to set once that every host can access.  The config system sounded far better at storing the state for all hosts than `set_fact`?

[2018-03-26 22:59] jborean93 opened #37967 "Ansible.ModuleUtils.FileUtil.psm1: throws exception if test path is in a directory that does not exist"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/powershell/Ansible.ModuleUtils.FileUtil.psm1

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Windows

##### SUMMARY
`Test-AnsiblePath` in `FileUtil` catches `FileNotFoundException` which works when the file does not exist in the directory specified but it will also throw `DirectoryNotFoundException` if

[2018-03-26 23:06] willthames commented on #37895
Maybe we should change the check for `assign_public_ip` to only do something if it's actually explicitly set.

[2018-03-26 23:17] dagwieers commented on #37957
I guess we need to add a return value `elapsed` to both modules, that would be very useful and not just for troubleshooting.

[2018-03-26 23:25] #37875 closed, assigned to nobody

[2018-03-26 23:35] giusepperagusa commented on #23851
the problem has remained the same on Ansible 2.4.2.0 wrt CentOS 7.4

[2018-03-27 00:10] 2rs2ts commented on #35993
I still see this even in the latest release, 2.5.0. Did this fix make it into that release or should I reopen this issue?

[2018-03-27 00:40] willthames commented on #37925
Ok, it's because public should be `'true'`, not `True` (as the YAML parsing converts the latter to a boolean, which then is not the same as the existing string tag)

@s-hertel note that #37534 fails very hard with this test case (before it was doing the right thing but in the wrong way)

[code]

[2018-03-27 01:19] zikalino commented on #37873
@IvanovOleg thanks for checking this. i will fix this addional scenario soon!

[2018-03-27 02:25] coreywan opened #37970 "nios lookup errors out when there are no results"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nios_lookup
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MAC 10.12.6
##### SUMMARY

When using the nios lookup feature. If a lookup has no results it fails out. with "'NoneType' object is not iterable"
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

a blank list or hash
##### ACTUAL RESULTS

[code]

[2018-03-27 03:03] #37891 closed, assigned to nobody

[2018-03-27 03:42] miramar-labs commented on #37894
I created a new ans24 venv, replaced manager.py with the raw from above (f0dfbba) and re-ran the test .. same thing...

[2018-03-27 03:43] miramar-labs commented on #37894
hosts file:

[nodes]
master1.foo.com ansible_host=192.168.0.51
worker1.foo.com ansible_host=192.168.0.56

[masters]
master1.foo.com ansible_host=192.168.0.51
#master2.foo.com ansible_host=192.168.0.51

[workers]
worker1.foo.com ansible_host=192.168.0.56

[dns]
ns1.foo.com ansible_host=192.168.0.254

[vip]
k8s.foo.com ansible_host=192.168.0.244

[collector]
collector.foo.com ansible_host=192.168.0.

[2018-03-27 03:43] miramar-labs commented on #37894
test.yml:

- name: 'test'
  hosts: "{{ groups['masters'] | difference([groups['masters'][0]]) }}"
  gather_facts: no
  tasks:
    - debug: msg="item - {{inventory_hostname}}"

[2018-03-27 03:44] miramar-labs commented on #37894
result:

PLAY RECAP *********************************************************************
collector.foo.com          : ok=1    changed=0    unreachable=0    failed=0
k8s.foo.com                : ok=1    changed=0    unreachable=0    failed=0
master1.foo.com            : ok=1    changed=0    unreachable=0    failed=0
ns1.foo.com                : ok=1    changed=0    unreachable=0    failed=0
worker

[2018-03-27 03:50] miramar-labs commented on #37894
I may not be testing this correctly ... but i thought that replacing manager.py under site-packages/ansible/inventory should do it ... ?

[2018-03-27 04:41] Akasurde commented on #37961
!component=contrib/inventory/vmware_inventory.py

[2018-03-27 05:33] willthames commented on #37368
2.5 is now released with the fix for this issue.

[2018-03-27 06:01] diclophis commented on #30773
I can also attest to performance regressions in our playbooks with the upgrade to 2.4

[2018-03-27 06:12] willthames commented on #37924
That exception message doesn't look right when comparing against the docs.

What version of botocore are you using?

[2018-03-27 06:19] #37967 closed, assigned to nobody

[2018-03-27 06:20] #35613 closed, assigned to nobody

[2018-03-27 06:21] willthames commented on #37924
We should probably add a version or feature check to the `efs` module to detect this rather than failing out hard.

[2018-03-27 06:23] yasensim opened #37975 "vmware_guest cannot connect a VM to NSX-T Logical Switch"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
clone for devel branch with no changes

##### OS / ENVIRONMENT
ANY

##### SUMMARY
When we clone a VM using vmware_guest module and trying to connect it to a NSX-T Logical Switch providing the Logical Switch name it creates a standard portgroup with the same name instead of connecti

[2018-03-27 06:27] keks24 commented on #28772
One further insight:
Exclamation marks and asterisks in clear text are not allowed, too since these characters are used to lock newly added users using `useradd` or `adduser`, if no password was given.

[2018-03-27 06:28] keks24 commented on #28772
One further insight:
Exclamation marks and asterisks in clear text are not allowed, too since these characters are used to lock newly added users using `useradd` or `adduser`, if no password was given.

[2018-03-27 06:29] keks24 commented on #28772
Oops

[2018-03-27 06:29] keks24 commented on #28772
Oops

[2018-03-27 06:36] #37655 closed, assigned to nobody

[2018-03-27 06:57] #37525 closed, assigned to trishnaguha

[2018-03-27 07:29] Akasurde commented on #37975
resolved_by_pr #37979

[2018-03-27 08:02] IvanovOleg opened #37980 "certain conditionals cannot be used in the until loop in 2.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

until loop
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7.4
##### SUMMARY

If all packages are up to date, yum module throws an error.
##### STEPS TO REPRODUCE

**install_packages.yml**
[code]
**install.yml**

[code]

##### EXPECTED RESULTS

`ok: [hostname]`
##### ACTUAL RESULTS

[code]

[code]

[2018-03-27 08:57] mkrizek commented on #37980
@IvanovOleg Thanks for the bug report! Has this worked in the earlier versions of Ansible?

[2018-03-27 08:59] IvanovOleg commented on #37980
@mkrizek , yes

[2018-03-27 09:06] mkrizek commented on #37980
@IvanovOleg okay, I can reproduce the issue. Note: when I remove this part:
[code]
then it works for me. In any case, looking into the issue.

[2018-03-27 09:16] mkrizek commented on #37980
@IvanovOleg As a workaround, would changing the condition to `until: "result is success"` work for you?

[2018-03-27 09:25] clonedagain commented on #13465
Fixed in v2.5 : just set `ANSIBLE_COW_PATH="$(brew --prefix)/bin/cowsay"`

[2018-03-27 09:25] IvanovOleg commented on #37980
@mkrizek yes, it does! Thanks!

[2018-03-27 09:30] fyyc1204 commented on #24884
@jborean93 PS C:\Users\Administrator> $pc

ContextType     : Machine
Name            : RABBITMQ
Container       :
UserName        :
Options         : Negotiate
ConnectedServer :

[2018-03-27 09:31] fyyc1204 commented on #24884
ConnectedServer :   is  NULL

[2018-03-27 09:56] rdepke commented on #35613
@jborean93 Thank you for fixing the issue so quick. win_copy and win_template are working as expected in the example playbooks and in our production code.

[2018-03-27 10:01] AnsibleBala commented on #32563
win_chocolatey has some naming conventions for specific packages example , for Firefox (name : firefox ), for chrome ( name: googlechrome ). It is bug like thing that was found in my opinion that , when the chrome or firefox is installed already without using chocolatey module using ansible, i.e if installed by someother means , then uninstalling using win_chocolatey ( state: absent ) doesnot work

[2018-03-27 10:02] JanMalte commented on #37911
@alikins Seems like it is/was not installed:
[code]

Maybe ansible should throw a more verbose error message if the package is not installed.

[2018-03-27 10:34] mkrizek commented on #37980
To demonstrate the actual issue:
[code]

`git bisect`'ed to https://github.com/ansible/ansible/pull/34148

cc @sivel

[2018-03-27 10:57] ReinerNippes commented on #37924
Thanks. That was the problem.

A dependency in rpm/deb packages would be appreciate.
And an update of the epel package. :-(

[2018-03-27 10:58] #37924 closed, assigned to nobody

[2018-03-27 11:03] wimnat commented on #37924
Check your boto3 version

[2018-03-27 11:10] zubfatal opened #37984 "variable for hosts from vars_prompt no longer accepted"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from: Debian GNU/Linux 8.10 (jessie)

##### SUMMARY

hosts no longer accepts a variable from vars_prompt
This worked fine prior to version 2.5.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

To be prompted for "targets" before execution,

[2018-03-27 11:38] savishy commented on #29607
For those that came late:

As of Ansible 2.5 (released recently) [the solution mentioned above](https://github.com/ansible/ansible/issues/29607#issuecomment-363978444) _does_ work.

Here's a simple example of a playbook:

[code]

[2018-03-27 11:55] msnelling opened #37985 "Creating PersistentVolume with k8s_raw fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 x64

##### SUMMARY

Creating or querying a PersistentVolume fails.

##### STEPS TO REPRODUCE

Run the below playbook against the k8s master node, ensuring you have a working `~/.kube/config`

[code]
[code]

##### EXPECTED RESULTS

Expected a new P

[2018-03-27 12:08] harshalx opened #37986 "The puppet module should support a parameter to enable --debug mode during the puppet run"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

puppet

##### ANSIBLE VERSION

[code]

##### SUMMARY

The puppet ansible module should also enable a parameter which can turn on debug mode.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

There are times when you want to see the output of the puppet run on the target server while ansible is running puppet through the puppet modul

[2018-03-27 12:10] mramirezacr opened #37987 "Ansible Configuration Error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Testing Ansible

##### ANSIBLE VERSION

2.4.2

##### CONFIGURATION

From /etc/ansible/hosts
(everything else is commented out)
[code]
##### OS / ENVIRONMENT

CentOS 7.4.1708

##### SUMMARY

Trying to configure Ansible according to this link and running into errors.
https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-a

[2018-03-27 12:11] corentingi commented on #37850
Same problem for me.
I used `sudo pip install -I ansible==2.4.3` to downgrade back to 2.4 where this works properly.

[2018-03-27 12:14] karthikm57 commented on #22397
This may help new people,
We can not use variables inside when condition because it has some restrictions and below warning will be displayed
**WARNING:when statements should not include jinja2 templating delimiters such as {{ }} or {% %}**

so to avoid such things while checking the condition by passing variable, first we need to register that particular variable and then use that.Below is the sm

[2018-03-27 12:32] ryansb commented on #37963
Thanks for raising this with all this info - I'll try to repro this on 2.5.

[2018-03-27 12:32] murthy12345 commented on #16874
ansible all -i server, -m copy -a "src=test_file dest=/path/on/vxfs/filesystem/ setype=vxfs_t"

should work

[2018-03-27 12:33] msnelling commented on #37985
@s-hertel @ryansb I believe this issue was closed mistakenly. The issue #37974 incorrectly references this issue, the two are completely unrelated.

[2018-03-27 12:35] s-hertel commented on #37985
Sorry about that @msnelling.

[2018-03-27 12:35] msnelling commented on #37985
Thanks @s-hertel !

[2018-03-27 12:38] s-hertel commented on #37895
Fixed in c1af147c1f7d9e4de06d51b8fcb1f5c89150172e.

[2018-03-27 12:38] #37895 closed, assigned to nobody

[2018-03-27 12:45] ryansb commented on #37959
needs_info

It looks like there's an issue in the network connection, indicated by the "broken pipe" on the SSH connection. Is there a way you can connect to that host without Ansible and test the stability/accessibility of the host?

[2018-03-27 13:05] maxamillion commented on #37473
@Mixer9 all the servers will run that exact command from the command line without issue, but the Ansible module fails? I want to make sure it's that exact command, because it's possible the Ansbile module is crafting the command incorrectly based on some args passed to the module. Thanks

[2018-03-27 13:13] tristanbes commented on #33947
Is this issue still present on Ansible 2.5 ? It's kind of a blocker for us :(

[2018-03-27 13:20] ryanerwin commented on #33947
Unfortunately it doesn't look like an easy fix in the git module. Probably have to update one of the core modules to use "exec python /script/file" instead of directly "exec /script/file"...

For now, you can workaround it by remounting /tmp with exec before running git and then remounting it again afterwards. Note you can remount without unmounting so it's not too much trouble. I have a script th

[2018-03-27 13:25] cpu commented on #27124
Hi folks :wave:

I've also run into this unexpected verbosity problem with the `assert` module. In my case I'm performing GPG signature validation in a loop across several files. Each iteration of the loop causes two `assert` tasks to be run (one to check the signature, one to check the source of the signature), and each prints out a **lot** of information each run because the `item` is a complex

[2018-03-27 13:29] victorhahncastell opened #37988 "rhn_register does not detect problems on pre-registered machines"
This issue is about rhn_register. It complements issue #37989 which is about rhn_channel.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

rhn_register

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/victor/Projekte/ansible_REMOVED/ansible.cfg) = True
ANSIBLE_PIPELINING(/home/victor/Projekte/ansible_REMOVED/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/victor/Projekte

[2018-03-27 13:30] victorhahncastell opened #37989 "rhn_channel fails ungracefully on a sysname mismatch"
This issue is about rhn_channel. It complements issue #37988 which is about rhn_register.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

rhn_channel

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/victor/Projekte/ansible_REMOVED/ansible.cfg) = True
ANSIBLE_PIPELINING(/home/victor/Projekte/ansible_REMOVED/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/victor/Projekte/

[2018-03-27 13:47] tristanbes commented on #33947
and btw, I can confirm it's still happening on Ansible 2.5

[2018-03-27 13:49] bcoca commented on #18879
closing as per above

[2018-03-27 13:49] #18879 closed, assigned to nobody

[2018-03-27 13:51] ganeshrn opened #37990 "junos module run does not throw proper error for wrong connection type"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_*
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If a junos module doesn't support a given connection type it should throw an appropriate error.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should throw a proper error

##### ACTUAL RESULTS

[code]

[2018-03-27 13:58] bcoca commented on #37826
The state would be in the play, not the plugin. If you don't want to use host/play vars you could use an inventory plugin and just set the var in the all group.

[2018-03-27 14:09] bcoca commented on #37894
This is what i get when i run the same
[code]

[2018-03-27 14:11] #37987 closed, assigned to nobody

[2018-03-27 14:11] mramirez-t commented on #37987
It was a DNS issue, been resolved.

[2018-03-27 14:33] ryansb commented on #37963
It looks like this group is being created outside a VPC (no VPC ID in the task) - my test here:

[code]

Results in a group with the default egress rule:

[code]

My best guess is that it's to do with your default VPC or account EC2 Classic support. Can you run `aws ec2 describe-account-attributes` and look at the value of `supported-platforms`? It will either just say "VPC" or "VPC, EC2-Classic".

[2018-03-27 14:33] andreaso commented on #33947
An alternative workaround is to set the TMPDIR environment to a path with appropriate permissions.

See examples in https://github.com/ansible/ansible/issues/30064.

[2018-03-27 14:33] ryansb commented on #37963
needs_info

[2018-03-27 14:33] bcoca commented on #37986
Or it should just activate it when ansible itself is in debug mode.

[2018-03-27 14:34] sivel commented on #23851
Due to some very large limitations of pexpect before version 3.2, there are no plans to reduce the minimum required version.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-03-27 14:34] #23851 closed, assigned to nobody

[2018-03-27 14:36] maxamillion commented on #37990
!component +=lib/ansible/plugins/connection/network_cli.py

[2018-03-27 14:38] sivel commented on #37980
Generally speaking, directly accessing the `failed` key in `result` should be discouraged.  Using the documented tests are the correct way to go as indicated in earlier comments.

I imagine that #34148 introduced this because of the need to expose more info into the loop for more robust evaluations.

I don't consider this a bug.

[2018-03-27 14:39] Mixer9 commented on #37473
to double check myself here is the exact command ran manually that will
register a host, and other than the channels being specifiied in the
ansible script the parameters are the same.

rhnreg_ks --activationkey <redacted but verified>  --serverUrl
https://soctxrhs01.gsoc.verizon.com/XMLRPC
--sslCACert=/usr/share/rhn/RHN-ORG-TRUSTED-SSL-CERT --force

here is the serverURL from up2date which the mo

[2018-03-27 14:41] ljbaar commented on #37959
I can, how do you suggest I test the stability?

Some more information:

I am connecting through a bastion host.

[2018-03-27 14:41] koladiya opened #37991 "IOS XE timeout trying to send command: wr"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config or ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### OS / ENVIRONMENT

Cisco C3650 Switch
Cisco IOS-XE Software catalyst L3 Switch software, version 03.07.05E

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
NOTE: These both tasks are working properly on IOS but not working on IOS XE.
I have also tried with

[2018-03-27 14:45] kevlar1818 commented on #37911
See #34925 and #37850

[2018-03-27 14:45] chouseknecht commented on #37985
@msnelling

Looking in [core_v1 API](https://github.com/kubernetes-client/python/blob/release-4.0/kubernetes/client/apis/core_v1_api.py), there is indeed no method for `read_namespaced_persistent_volume`.

Can you try running this without passing a `namespace`. In theory, that should work.

[2018-03-27 14:51] msnelling commented on #37985
Yes it does work without the `namespace`.

[2018-03-27 14:53] chouseknecht commented on #37985
@msnelling

Cool. Closing.

[2018-03-27 14:53] #37985 closed, assigned to nobody

[2018-03-27 14:59] kevlar1818 commented on #37850
Another workaround is to exclude hardware fact gathering via `gather_subset=!hardware`.

[2018-03-27 15:08] mkrizek commented on #37980
Closing as per the above comment.

[2018-03-27 15:08] #37980 closed, assigned to nobody

[2018-03-27 15:14] amarao opened #37993 "lxc connector cause IOError for any task if output was too large"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lxc transport/connector

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
doesn't matter

##### OS / ENVIRONMENT
Ubuntu 16.04 (amd64)

##### SUMMARY
If output was too large, ansible fails with MODULE FAILURE", "rc": 256 for any module.

##### STEPS TO REPRODUCE
1. Create LXC container
2. Use following command:

`ansible -i container_name, -c l

[2018-03-27 15:26] b-long commented on #35426
@dagwieers I can appreciate that there is no time to address this bug, I'm sorry to hear that.  The Ansible team and community are fantastic, and very I'm happy to have it.

I do want to add my support for counting this as a bug.  Also, unless I missed it, I'm interested in the canonical workaround.  Given the example provided by @pescobar , I'd guess this is the approach preferred, inserted just

[2018-03-27 15:31] abadger commented on #36196
Thanks for testing!

[2018-03-27 15:31] #36196 closed, assigned to nobody

[2018-03-27 15:40] jbarotin opened #37994 "Tags not works in 2.5 as in 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tags

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OSX

##### SUMMARY

##### STEPS TO REPRODUCE

Here the following playbook test.yml
[code]
Role files are the following :
roles/test-role1/tasks/main.yml
[code]

roles/test-role2/tasks/main.yml
[code]

##### EXPECTED RESULTS
The following command :
`ansible-playbook t

[2018-03-27 15:43] sivel commented on #37994
This is an expected change in v2.5.

See http://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

`tags` will only apply to whether or not the `include_role` is executed, the tasks within do not inherit the tags applied to `include_role`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.

[2018-03-27 15:43] #37994 closed, assigned to nobody

[2018-03-27 15:43] gintautassulskus opened #37995 "include_tasks does not propagate become and delegate_to to sub-tasks"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OSX 10.13.3

##### SUMMARY

The `include_tasks` task no longer propagates `become` and `delegate_to` to the included tasks.
Is this a bug or an intended functional change?  I could not find any information on this.

This behaviour and the example provide

[2018-03-27 15:44] sivel commented on #37995
This is an expected change in v2.5.

See http://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

Attributes applied to `include_tasks` only affect the `include_tasks` itself, the tasks within do not inherit the attributes applied to `include_tasks`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ans

[2018-03-27 15:44] #37995 closed, assigned to nobody

[2018-03-27 15:58] grossws opened #37997 "Incorrect ansible_pkg_mgr for ALT Linux target (`apt` instead of `apt_rpm`)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: ArchLinux
Target: AltLinux 8

##### SUMMARY
`ansible_pkg_mgs` is detected incorrectly for AltLinux hosts. Since `apt-get` is used as frontend ansible detects package manager as `apt` when `apt_rpm` should be detected instead.

##### STEPS T

[2018-03-27 15:58] pescobar commented on #35426
@b-long the problem I see with your suggested solution is that it breaks idempotence.

I guess as workaround you could add `changed_when: False` to your task `Fix permissions on the extract directory and sub-directories`.

If you add extra files to the extracted folder you would also override the ownership in future executions of the playbook

[2018-03-27 16:19] sravan1265 commented on #34794
Hi all,

Missed to update you. It was fixed.

Thanks for your response.

Best!
Sravan

On Mar 18, 2018 11:42 PM, "ansibot" <notifications@github.com> wrote:

Closed #34794 <https://github.com/ansible/ansible/issues/34794>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/ansible/ansible/issues/34794#event-1527349377>, or mute

[2018-03-27 16:34] grossws commented on #37997
@ansibot !component module_utils/facts

[2018-03-27 16:35] felixfontein commented on #37884
needs_info

[2018-03-27 16:43] apple4ever commented on #37884
Ah sorry I didn't see your question.

I'm not sure... I copied the verbose output from the same commands (the simplified playbook I put above) on 2.5 and 2.4.3, the former which does actually create the file but its just empty and the later which creates the file with the certificate. The command is not preparing the challenges, but actually requesting the certificate. I do the challenge off that

[2018-03-27 16:58] apple4ever commented on #37884
If you look at the `cert_days` key, you can see the difference between the two versions. Not sure if that helps.

[2018-03-27 17:04] alainchiasson commented on #30636
May not be relavent - I had a similar problem (first time trying). Ran as

[code]
I still get the errors but it does run.  Above repo is public.

[2018-03-27 17:12] samdoran commented on #37984
@zubfatal Please test with #38000 and see if that fixes this issue. Thank you for reporting this.

[2018-03-27 17:14] nv596r commented on #35717
Thanks for getting back to this. Eventually I just worked around it. In my production environment it really wasn't an option to work from a "branch". I needed to run from a "release version" of some form. Lets consider this closed.

[2018-03-27 17:41] zubfatal commented on #37984
Nice work @samdoran I can confirm this fixes the issue :)

[2018-03-27 17:54] bsberry commented on #8603
+1

[2018-03-27 18:07] nkakouros opened #38002 "Paths in ansible.cfg have different roots"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

!component

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Defaults

##### OS / ENVIRONMENT

Arch linux latests

##### SUMMARY

Paths like `*_plugins` in the configuration are relative to the config file. However, the path in `fact_caching_connection` is relevant to where ansible is run from.
Wouldn't it be more intuitive to have on point

[2018-03-27 18:10] Akasurde commented on #37850
@corentingi @nougad @voronaam @mgedmin @kevlar1818 #34925 is merged.

[2018-03-27 18:12] #35834 closed, assigned to alikins

[2018-03-27 18:12] Akasurde commented on #37850
Backport requested for 2.5 - https://github.com/ansible/ansible/pull/38001

[2018-03-27 18:18] bcoca commented on #38002
The 'type' of this parameter is not set to 'path', so it is not resolved in the config relative way.

The real fix is moving the plugins to use the set_options/get_option system so  'path based' plugins can resolve correctly and the 'uri' based ones can operate as they have until now.

[2018-03-27 18:21] alikins commented on #37911
cbe2915ba5236030ba560ba870b97f57e09bebe7 has fix for devel

https://github.com/ansible/ansible/issues/38001 is backport pr for 2.5

[2018-03-27 18:34] felixfontein commented on #37884
You need to pass the output of the first invocation into the second invocation as `data`. If you don't do that, the second invocation doesn't know it is the second invocation, and behaves like the first invocation.*

Since you called the module without `data`, it assumes it is the first invocation, and does *not* write to the certificate file. So the invocation should not touch the certificate fil

[2018-03-27 18:46] Akasurde commented on #24225
resolved_by_pr #38005

[2018-03-27 18:46] Akasurde commented on #27096
resolved_by_pr #38005

[2018-03-27 18:53] Akasurde commented on #37997
resolved_by_pr #38004

[2018-03-27 18:55] Akasurde commented on #35859
resolved_by_pr #36022

[2018-03-27 19:11] saichint opened #38007 "nxos_vlan issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vlan

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)
##### SUMMARY

##### STEPS TO REPRODUCE

There are few issues with nxos_vlan.
1.	Unable to set ‘name’ parameter
2.	‘mapped_vni’ doc says, it supports ‘default’ but there is support.
3.	‘interfaces’ should support ‘defaul

[2018-03-27 19:20] #35463 closed, assigned to nobody

[2018-03-27 19:28] alikins commented on #22025
One thing related to this bug i would like to see is a way to get more infomation about where and how the final values of variables is determined and where the value comes from.

ie, something like the WIP at https://github.com/ansible/ansible/compare/devel...alikins:var_man_changed_inv_plugins_var_context_rebase_devel  (some example output from some earlier version of that branch at https://gist.

[2018-03-27 19:59] #36777 closed, assigned to acozine

[2018-03-27 20:14] acozine commented on #22237
Tested versions documented here: https://access.redhat.com/articles/3185021.

[2018-03-27 20:14] #22237 closed, assigned to acozine

[2018-03-27 20:32] cmrd-senya commented on #30034
@robinro

Here is what I came up with for detecting separate git dir setups:
[code]

Now question: is there a way to avoid modifying every git-interface function arguments list and calls in the `/lib/ansible/modules/source_control/git.py` file in order to add `"--separate-git-dir=%s" % separate_git_dir` to git command calls?

[2018-03-27 20:32] cmrd-senya commented on #30034
@robinro

Here is what I came up with for detecting separate git dir setups:
[code]

Now question: is there a way to avoid modifying every git-interface function arguments list and calls in the `/lib/ansible/modules/source_control/git.py` file in order to add `"--separate-git-dir=%s" % separate_git_dir` to git command calls?

[2018-03-27 20:36] cmrd-senya commented on #30034
Oh, probably I can try setting $GIT_DIR environment variable

[2018-03-27 20:52] jouve commented on #37466
hi,

it also happens with 2 roles one after the other:
role1/defaults/main.yml:
[code]
role1/tasks/main.yml:
[code]
role2/tasks/main.yml
[code]

with the roles syntax:
[code]
it works, both role1 and role2 output:
[code]

with the import_role syntax.
[code]
it fails for role2:
[code]

[2018-03-27 20:57] UnitedMarsupials-zz opened #38013 "synchronize-module prepends local path, when synchronizing remote hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ALLOW_WORLD_READABLE_TMPFILES(/mi/A/ansible.cfg) = True
DEFAULT_FORKS(/mi/A/ansible.cfg) = 53
DEFAULT_TIMEOUT(/mi/A/ansible.cfg) = 23

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I'm trying to arrange for the inventory hosts to synchronize themselves from a central server. The server

[2018-03-27 21:09] thalesmello commented on #11066
I spent quite a while understanding the issue I was having with `synchronize`, trying to figure out the stdout debug info, so I hope this commend can save people time in the future.

The first thing you want to do it to effectively debug the output of synchronize module.

[code]

That was outputting to me something like:

[code]

If you go to the rsync man page, you get something like:

[code]

Fu

[2018-03-27 21:12] UnitedMarsupials commented on #36170
Seconded! I already check `ansible_check_mode` to add the `--dry-run` (or some equivalent) to various commands executed by tasks. I'd like to _also_ be able to add `-v` (or equivalent), if the entire ansible is running with increased verbosity.

[2018-03-27 21:18] ddrake17 commented on #13637
@ryansb  I don't understand the variable solution. How does including a variable with the `--extra-vars` flag make the boto engine use a specific profile in `~/.aws/credentials`?

[2018-03-27 21:47] ikelos commented on #37826
Thanks, I think I managed to find a workaround.  In the playbook, I had a `hosts: all` task that does a `var_prompt` task and then a `set_fact` task, and that fact seems to be accessible in all later plays of the same playbook, which achieves my goal of asking once and then being able to use in all plays.  Thanks again for all your help, and I'll convert over to the prompt config mechanism once it

[2018-03-27 22:11] apple4ever commented on #37884
That's definitely a change from the way its working, and I understand what is happening. But I still don't understand why it needs `data`. Let's Encrypt doesn't require ongoing authorization past the initial issuance, so there shouldn't be a need to require `data`. A better way would be to be able to tell the module "just issue a certificate" for the second run if `data` is not defined. I suppose

[2018-03-27 22:19] soulhunter commented on #35372
Hello,

@trinitronx , I am here to tell you that you are not crazy, it used to work the way you describe it, pressing enter would continue, pressing ctrl-c and then "a" would abort, and then... stopped working.  For now I worked around it by setting seconds to something big, like 86400, and user has to press ctrl-c c to continue (instead of enter).

On the bright side, it is less error prone and l

[2018-03-27 22:40] maxamillion commented on #37993
confirmed

[2018-03-27 22:54] tedder commented on #37959
I'd suggest using [async-and-polling or async-and-forget](http://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html); Ansible (or ssh, rather) isn't really designed for running many hours, especially if you are bouncing across the public interwebs.

[2018-03-27 22:59] indivisiblewalrus opened #38017 "nxos new feature bfd on interface support"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
nxos_l3_interface or nxos_bfd_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Feature add of bfd capabilities to nxos_l3_interface, or new module nxos_bfd or nxos_bfd_interface
global:
 bfd_timers: [<interval>,<min_rx>,<multiplier>]
   value range:
     bfd_interval: 50-999
     bfd_min_rx:

[2018-03-27 23:49] bmamouri commented on #37963
It only says "VPC":
[code]

By the way, this was working on Ansible 2.4. (specifying none rules_egress assumed a default all-out rule)

[2018-03-28 00:26] #35717 closed, assigned to nobody

[2018-03-28 00:26] willthames commented on #37985
Sorry about my typo in #37974 - I mean to reference #37895.

[2018-03-28 00:32] willthames commented on #37963
We should have a test case for this, not sure why it's not working this time around. It might be related to #34626, which fixed the other way around (groups always getting the default egress rule even when specifying egress rules). I'll take a look.

[2018-03-28 00:48] willthames commented on #37963
Ok, we don't have good tests for this and the behaviour definitely looks buggy!

[2018-03-28 01:19] willthames commented on #37963
Found the bug, added some tests in #38018.

As a workaround, this works fine if you explicitly set VPC id.

[2018-03-28 01:34] willthames commented on #37924
@ReinerNippes I don't know how much we want to enforce the update of botocore - old versions typically work pretty well, until you want to use a newish feature. But it's worth thinking about.

[2018-03-28 01:46] willthames commented on #35993
Looks like this missed the cut for 2.5.0. It's not in stable-2.5, but it is devel.

I'll see if the PR is a candidate for a backport - if not, the usual workaround applies:
https://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

[2018-03-28 02:49] willthames commented on #36118
Sorry, 2.1.2 is well past end of life.

You can [use newer versions of modules with older versions of Ansible](https://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html) but often incompatibilities arise when the versions diverge too far

Closing this because we're not going to fix a bug in 2.1

[2018-03-28 02:49] #36118 closed, assigned to nobody

[2018-03-28 02:49] #24225 closed, assigned to nobody

[2018-03-28 03:08] LaurentDumont commented on #37885
I had a little bit of time to dig into this a bit further. There was a few bugs related to the shell spawning.

https://github.com/ansible/ansible-modules-core/issues/3332
https://github.com/ansible/ansible/issues/16054

I've tried using the following snippet to try and remove the extra `sh: ` but it doesn't seem to take effect. Using the telnet module works fine but it's a bit archaic and I reall

[2018-03-28 03:10] #37700 closed, assigned to nobody

[2018-03-28 03:33] Akasurde commented on #18527
@genei09 Can you use latest Ansible version and let us know if it still issue for you ?

needs_info

[2018-03-28 03:51] mjuenema commented on #37885
What's needed is a `raw_network` module that does an SSH login to the remote network devices and then simply executes a command or list of commands. I had the same problem with Lenovo Flex switches (formerly IBM Flex). I have a draft version of a  `raw_network` module but it requires more work and testing.

[2018-03-28 03:58] Akasurde commented on #34802
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-03-28 03:58] #34802 closed, assigned to balonik

[2018-03-28 04:09] yuwzho commented on #37734
@zwindler I check the SDK interface, I cannot add `backend_ip_configurations` to a load balancer's `backend_address_pools`:  https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-network/azure/mgmt/network/v2018_01_01/models/backend_address_pool.py#L64

I need to associate the load balancer to  ip configuration when creating NIC: https://github.com/Azure/azure-sdk-for-python/blob/ma

[2018-03-28 05:17] zikalino commented on #37805
fixed_by #37812

[2018-03-28 05:18] felixfontein commented on #37884
Well, it does require regular re-authorization after the first issuance. The authorization data is cached for a certain amount of time (I think currently 6 months, with plans to reduce this); after that you definitely need to re-authorize every domain.

Also, there's a difference on how ACME v1 and ACME v2 are handling this. For ACME v1, you create an authorization (authz) for every domain of the

[2018-03-28 05:21] felixfontein commented on #37884
Regarding your use-case: I guess you can write the captured output into a file, and then read that during your second playbook. That shouldn't be too hard to implement. What you could also do is put everything into a single playbook, and put a [pause](https://docs.ansible.com/ansible/latest/modules/pause_module.html) command between the two `letsencrypt` invocations. Then you can resolve the chall

[2018-03-28 06:10] karniemi commented on #37906
Hi,

the bug is there:
https://github.com/ansible/ansible/blame/stable-2.4/lib/ansible/modules/cloud/vmware/vmware_guest_snapshot.py#L264-L266

If the vm has no snapshots, that piece of code exits without error.

[2018-03-28 06:19] harshalx commented on #37986
bcoca, Not really. I'd like to see a parameter to the module itself, which, if enabled will run puppet on the target node with --debug switch on.

[2018-03-28 06:25] kalaisubbiah opened #38024 "Mysql_db import failed with more than 5GB database."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

mysql_db

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
DEFAULT_REMOTE_TMP(/etc/ansible/ansible.cfg) = ~/ansible/tmp
DEPRECATION_WARNINGS(/etc/ansible/ansible.cfg) = False
HOST_KEY_CHECKING(/etc/ansible/a

[2018-03-28 06:35] Akasurde commented on #37906
@karniemi Thanks for reporting back. I think, this correct behaviour - if no snapshot found in the given VM then it exits without error.

May I know - what do you expect if there in no snapshot in the given VM ?

[2018-03-28 07:05] jbarotin commented on #37994
Thanks for the link, for those who came here with the same mistake. I fix my issue while using import_role :

[code]

[2018-03-28 07:09] zwindler commented on #37734
Ok, I get that

Thanks!

[2018-03-28 07:19] bmv126 commented on #37833
I have seen this issue in ansible version 2.3:
sudo ansible --version
ansible 2.3.1.0
  config file = /home/vbm/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, May  3 2017, 07:55:04) [GCC 4.8.5 20150623 (Red Hat 4.8.5-14)]

Below is the output of ansible.cfg:
[user@vm-0326-01]$ cat ansible.cfg
[defaults]
# logging is off by default unless this

[2018-03-28 07:43] devfaz opened #38025 "puppet module is no longer updating persistent external facts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
puppet -> facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
##### OS / ENVIRONMENT
N/A

##### SUMMARY
since https://github.com/ansible/ansible/commit/a2d34e914e169d08956ea807aab4d5539d31e8ce#diff-becb6bb32df45def0d94db13da194552R132
already created facts are no longer updated.
I will create a suitable merge-request to fix this issue.

###

[2018-03-28 07:52] devfaz commented on #38025
#38026

[2018-03-28 07:57] Chekov2k opened #38027 "influxdb_query module returns None for create or drop continuous query commands"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

influxdb_query

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running on Mac OS X configuring Mac OS X and/or Linux

##### SUMMARY

Using the influxdb_query module to create or drop continuous queries results in a `None` value being returned

##### STEPS TO REPRODUCE

Create an influxdb database and try to cre

[2018-03-28 08:05] drybjed commented on #30034
@cmrd-senya Thanks for working on this issue, it could really solve a problem with deploying to separate work directories which currently requires [lots of overhead](https://github.com/debops/debops/blob/master/ansible/roles/debops.gitlab/tasks/configure_gitlab_ce.yml#L5-L73). One thing that could improve the setup is creation of the `.git` file in the checkout directory with contents:
[code]
Can

[2018-03-28 08:36] jffz commented on #33263
Bug still present in Ansible 2.4.3.0

On target host:
[code]
On master host:
[code]

[2018-03-28 08:41] AquaL1te commented on #30090
Any progress on this issue?

[2018-03-28 09:04] cmrd-senya commented on #30034
@drybjed, I already created a PR with the changes: #38016

[2018-03-28 09:05] Daniel-Sanchez-Fabregas opened #38029 "Ansible 2.5 documentation key navigation disabled after clicking"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Documentation
##### ANSIBLE VERSION

N/A

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Tried to navigate in the ansible documentation with keys (space, pgUp and pgdown) and, in firefox, it works until I click in the page.

##### STEPS TO REPRODUCE

* Open firefox. Mine is: Mozilla/5.0 (X11; Fedora; Linux x86_6

[2018-03-28 09:09] drybjed commented on #30034
@cmrd-senya Yes, but this is focused on the `git` Ansible module environment. You would also want to ensure that the actual checkout directory contains the `.git` file that points to the bare repository, so that other tools that use `git` can work properly with the checked out directory.

[2018-03-28 09:10] ioggstream commented on #38024
Do you have suitable values for the following?

  - timeout
  - max_allowed_packet

[2018-03-28 09:11] cmrd-senya commented on #30034
This is what I think my PR does. Am I wrong?

[2018-03-28 09:16] drybjed commented on #30034
@cmrd-senya Ah, sorry, my bad. I now see that `git clone --separate-git-dir` creates this file already. Disregard my comments. :-)

[2018-03-28 10:10] Akasurde commented on #37087
resolved_by_pr #38031

[2018-03-28 10:11] Akasurde commented on #37087
@jonbenning Can you please check the above patch and let me know ?

[2018-03-28 10:16] jtyr commented on #30090
Please could you try to unmount the swap before running Ansible? If that still doesn't work, please try to mount it manually from the command line:

[code]

[2018-03-28 10:18] #35900 closed, assigned to nobody

[2018-03-28 10:27] mkrizek commented on #29752
@hlieberman There is no easy way to validate if a module can perform actions you run through command/shell modules, but you can add `warn=False` to a command/shell task or set `command_warnings=False` in `ansible.cfg` to get rid of warnings.

http://docs.ansible.com/ansible/latest/modules/command_module.html

[2018-03-28 10:27] #29752 closed, assigned to nobody

[2018-03-28 10:28] karniemi commented on #37906
@Akasurde Well, if I'm telling the module to revert to snapshot named "lysmyperse", and such snapshot(nor any other snapshot) does not exists, I would expect my playbook to fail in that task - instead of happily continuing as if the the "revert"-task had succeeded...

[2018-03-28 10:30] prakashpandey commented on #29084
**Problem :** `ERROR! Unexpected Exception, this is probably a bug: (cryptography 1.2.3 (/usr/lib/python3/dist-packages), Requirement.parse('cryptography>=1.5'), {'paramiko'})`

**Solution**:

`sudo pip3 uninstall cryptography`
removed cryptography-1.2.3

`sudo pip3 install cryptography`
install cryptography-2.2.2

[2018-03-28 11:18] michipili commented on #32702
I am also struggling with this module (in 2.4.2.0) and many things quite do not work as expected (POLA) and sometimes not as advertised. (e.g. remove a machine by name.). I'll try 2.5.0 and give more substantial feedback if still affected.

[2018-03-28 11:21] wknapik opened #38033 "cloudformation_facts fails when a rolled back stack is interrogated for stack_resources"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
cloudformation_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`cloudformation_facts`, when used with `stack_resources: true`, or `all_facts: true`, will fail if a stack in rolled-back state is interrogated.

Seems some keys are expected to

[2018-03-28 11:24] ryansb commented on #37925
Ah, so the distinction that's missing is that `true` in YAML is the boolean "True", vs. `'true'` in YAML which is the string "true". Since what you need/want is the string "true" put into the tag, you need to add quotes to avoid YAML interpreting it as the type boolean.

For example:

[code]

Shows how you can specify those tag values differently to get the result you want. With your example:

[co

[2018-03-28 11:24] #37925 closed, assigned to nobody

[2018-03-28 11:30] chookhong commented on #26581
I'm having the same issue in my mysqld_exporter role. Unable to set the MAX_USER_CONNECTIONS.

[2018-03-28 12:46] Akasurde commented on #32702
@michipili Please use 2.5 version as there are lot of improvement in vmware_* modules. File a separate issue if you face any issue.

[2018-03-28 12:47] Akasurde commented on #37906
I am not sure how you are checking success of last task but depending upon changed value you can decide flow of playbook. Can you please share your playbook here ?

[2018-03-28 12:58] cyrbi commented on #32702
Hello,

I didn't interact anymore since I wasn't able to test for the new modifications.
I close this question anyway that's what is considered now :

- Ansible 2.3.* works as module but is not fully acting as it has to work (not idempotent, not always able to find the machine...) the full topic.

- version 2.4.* : the module is broken

- version 2.5.* : the module still needs to be tested

Thank

[2018-03-28 13:00] #32702 closed, assigned to Akasurde

[2018-03-28 13:12] ssbarnea commented on #32704
Please merge this fix to 2.4.x stable.

[2018-03-28 13:25] gundalow commented on #31197
Not doing this in DCI, will be done in Zuul

[2018-03-28 13:25] #31197 closed, assigned to gundalow

[2018-03-28 13:28] gundalow commented on #30361
Removing 2.5.0 milestone as this wasn't done by then. Low priority

[2018-03-28 13:31] supaidauen opened #38036 "Callback plugin fails in Ansible 2.5 due to calling incorrect yaml module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

callback_plugins
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CACHE_PLUGIN(/srv/ansible/repo/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/srv/ansible/repo/ansible.cfg) = /tmp/ansible_factcache
CACHE_PLUGIN_TIMEOUT(/srv/ansible/repo/ansible.cfg) = 86400
DEFAULT_GATHERING(/srv/ansible/repo/ansible.cfg) = smart
DEFAULT_HOST_LIST(env: A

[2018-03-28 13:36] DartNecrON commented on #31413
Just encountered the same behavior on 9.4 Debian:

[code]

[2018-03-28 13:37] calfonso commented on #37723
Would you mind providing your playbook so we can see what the input looks like?

[2018-03-28 13:39] AbelinLamarisi opened #38037 "2.5: bug with include_tasks inside of import_tasks"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I have a playbook with tasks.
One of the tasks is:

    - name: Build project
      import_tasks: local.yml
      delegate_to: 127.0.0.1

All tasks inside this file are executed locally. But this `local.yml` file has this task inside:

[2018-03-28 13:41] gevial opened #38038 "cloudfront_facts pagination not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudfront_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
cloudfront_facts returns only first 100 CloudFront distributions with `summary: true`.
Also, it returns `Error unable to source a distribution id from domain_name_alias` when trying to find distribution with `domain_name_alias` i

[2018-03-28 13:41] snemir2 opened #38039 "ec2_vpc_route_table module fails to add routes IF rt has s3 endpoint"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2_vpc_route_table

##### ANSIBLE VERSION

ansible 2.5.0
  config file = /home/snemirovsky/ansible/conf/ansible.cfg
  configured module search path = [u'/home/snemirovsky/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin

[2018-03-28 13:51] gevial commented on #38038
I've taken a glance at `boto3` docs and it seems that CloudFront is using `NextMarker` instead of `NextToken` for pagination.

[2018-03-28 13:53] Kitus20 opened #38040 "user module "failed to update users password: invalid literal for int() with base 10: 'NONE'""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

I'm running Ansible from:
`Red Hat Enterprise Linux Server release 7.3 (Maipo)`
managing OS:
`Oracle Solaris 10 1/13 s10x_u11wos_24a X86`
##### SUMMARY

While trying to crate new user on Solaris 10, Ansible crashes while it is trying to set up the new password

[2018-03-28 14:02] donpatzone opened #38041 "Unable to connect to Cisco WLAN Controller using aireos_command"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

aireos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible is run from a Linux server running Gentoo
[code]

##### SUMMARY

##### STEPS TO REPRODUCE

###### Inventory File
[code]
###### Playbook
[code]

##### EXPECTED RESULTS

Successful execution of playbook
##### ACTUAL RESULTS

[code]
###### a

[2018-03-28 14:04] jinyanroot opened #38042 "Namespace NMClient not available"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = memory
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 10
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = implicit
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_LOCAL_TMP(/etc/ansible/ansible.cfg) = /root/.ansible/tmp/ansible

[2018-03-28 14:06] tassdevops opened #38043 "Bug with two resource pools with same name in different clusters"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

I have 2 clusers (HA01 and HA02) in one datacenter. I have a resource pool with name "ID" in both datacenters. When Ansible try create VM, it's select only HA02/ID resource pool, regardless on variable "cluster" value.

####

[2018-03-28 14:10] ljbaar commented on #37959
I took your suggestion.

[code]

This is the result after ~ 10 polls:
[code]

[2018-03-28 14:13] Akasurde commented on #38043
@tassdevops Thanks for reporting this issue. Could you please try without resource pool and just specify `cluster` value ? You can see [here](https://github.com/ansible/ansible/blob/447b342662b966b1b4885fddca950ec341670c69/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1712) - `resource pool` gets precedence over `cluster`.

needs_info

[2018-03-28 14:17] Akasurde commented on #33380
@marukka Do you have `open-vm-tools` service enabled and Perl installed in your template ?

[2018-03-28 14:17] Akasurde commented on #33380
needs_info

[2018-03-28 14:19] Akasurde commented on #33380
Could you please try with 2.5 version, there were several changes added in 2.5?

[2018-03-28 14:22] gevial commented on #38038
Line 512 in `cloudfront_facts.py`:
[code]
The issue is that `response` never has `NextMarker`. This key belongs to `DistributionList` (or `StreamingDistributionList` etc.) key of `response`

[2018-03-28 14:24] scuben commented on #37723
This is playbook independent. It happens before the very first task.

[2018-03-28 14:25] tassdevops commented on #38043
@Akasurde, Thanks for the quick response.
When I commented resource pool from task, Ansible tried add VM in resource pool where I don't have a permissions.

[2018-03-28 14:39] tedder commented on #37959
Run it with `-vvvv`. And again, ssh and Ansible are poor tools for long running processes.

[2018-03-28 14:46] sivel commented on #38036
You will need to ensure you have the following lines at the top of your custom callback file:

[code]

Those lines should go before any other code. See any of the bundled callback plugins for examples.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-03-28 14:46] #38036 closed, assigned to nobody

[2018-03-28 15:02] ljbaar commented on #37959
You're right, snapshots are a more sensible approach for this situation.  Thanks for your time.

[2018-03-28 15:14] tedder commented on #37959
I mean, s3 is fine, it's the longrunning ssh connection that is the problem. You could, for instance, start it in a cron or something like that.

[2018-03-28 15:33] markstos commented on #32383
@bcoca It would be hepful if "DEFAULT_HOST_LISTS" documented how relative paths are handled. It could clarify if they are supported and what they relative, too.

[2018-03-28 15:33] danielkza commented on #22025
Would it make sense to distinguish between facts that have been set in the current role or not? That would reduce the surprise factor at least a bit, since it would then be possible to override role params from inside a role.

[2018-03-28 15:43] bcoca commented on #37723
what OS does not have sleep?

if you are trying to configure a network appliance, be aware that you'll need to use specific modules for it and the generic ones will probably not work as they expect a POSIX system.

needs_info

[2018-03-28 16:02] AlanCoding opened #38047 "Failed inventory scripts with >5MB stderr takes minutes to fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

script inventory plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
An inventory script that sends 10 MB of content to stderr is hypothetically not run-able. By that, I mean that either `ansible-playbook` or `ansible-inventory` would be stalled (before any description of the error is obta

[2018-03-28 16:11] jellehelsen commented on #27520
Same error in ansible 2.5.0.
Also as a workaround, this is what I do:
- pause:
    seconds: 90

Since the connection times out after 60 seconds, this circumvents the problem.

[2018-03-28 16:13] AlanCoding commented on #33776
New related issue https://github.com/ansible/ansible/issues/38047

[2018-03-28 16:13] Akasurde commented on #38043
@tassdevops We can't do anything if user does not have permission on the given object. Re-try after adding privileges to user.

[2018-03-28 16:13] #37307 closed, assigned to nobody

[2018-03-28 16:18] itdependsnetworks opened #38048 "Stack trace on timeout"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_command
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Stack trace in random timeout's. I can't do much to report back on this since it is on a customer's network, and haven't been able to reproduce locally, but thought I would at least put in issue. You can close the issue, as I will not be able

[2018-03-28 16:27] itdependsnetworks commented on #38048
To clarify, I cannot connect to the device, the stack trace is what is in question here. It does not seem like output I should get back.

[2018-03-28 16:28] practicalint opened #38050 "Module rpm_key does not honor proxy env var"
This was an issue - #19000 and has been closed. It should be a bug/feature request so I am suggesting it get reviewed for that.
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

rpm_key
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

The linux

[2018-03-28 16:29] Akasurde commented on #38042
@jinyanroot Thanks for reporting this issue. Could you please confirm that you have these packages installed - nmcli, dbus, NetworkManager-glib

[2018-03-28 16:30] Akasurde commented on #38042
I agree that stack trace must be hidden from the user.

[2018-03-28 16:34] ryanpetrello commented on #33776
It looks like the lack of this feature in `ansible-inventory` has caused Tower to regress on certain behavior for inventory syncs (which it relied on prior to our switch to `ansible-inventory`: https://github.com/ansible/tower/issues/1146

[2018-03-28 16:36] ryansb commented on #37963
Ah, that is a tricky one - I see the difference in my (non-reproducing) example is that I specify VPC ID instead of using the default VPC.

[2018-03-28 16:38] NT-TM opened #38052 "Ansible/nxos_interface - aggregate option is giving error when used as per example."
ISSUE TYPE
           - Bug Report
COMPONENT NAME
          - nxos_interface
ANSIBLE VERSION

ansible 2.4.2.0
  config file = /home/user/.ansible.cfg
  configured module search path = [u'/usr/lib/python2.7/site-packages/ansible;/usr/lib/python2.7/site-packages/ansible/modules/network', u'/usr/lib/python2.7/site-packages/napalm_ansible']
  ansible python module location = /usr/lib/python2.7/site-pa

[2018-03-28 16:40] NT-TM commented on #38052
- name: ADD INTERFACE AND CONFIGURE THE MTU AND DESCRIPTION
  nxos_interface:
     aggregate:
     - { name: Ethernet1/31, description: AAAA }
     - { name: Ethernet1/32, description: BBBB }
     - { name: Ethernet1/33, description: CCCC }
     - { name: Ethernet1/34, description: DDDD }
     state: present
     admin_state: up
     mode: layer3
     ip_forward: disable
     provider: "{{ NXOS_PR

[2018-03-28 16:41] AlanCoding commented on #38047
Profiling data

![screen shot 2018-03-28 at 12 32 05 pm](https://user-images.githubusercontent.com/1385596/38043096-1d9892c6-3284-11e8-9e25-a52f4937a978.png)

Calling it out: https://github.com/ansible/ansible/blob/devel/lib/ansible/utils/display.py#L231

https://github.com/python/cpython/blob/7a801839e9a88bdcac5aaab494b532230fcf7caa/Lib/textwrap.py#L200

[2018-03-28 16:45] GroovyCarrot commented on #10446
Having the same issue as above on version 2.4.2.0 - this doesn't appear to be resolved @bcoca

[2018-03-28 16:53] #37963 closed, assigned to nobody

[2018-03-28 17:00] NT-TM commented on #38052
Hmm, so I just don't see how the aggregate is being used the way it is described. It just doesn't work for me.

[2018-03-28 17:12] ryansb commented on #37963
@bmamouri the #38018 PR should resolve your issue if you try on devel, we'll be looking into a backport to fix this in 2.5 as well.

[2018-03-28 17:22] scuben commented on #37723
Its in a chrooted environment with limited access to system binaries.

[2018-03-28 17:32] gregdek opened #38057 "No link to Code of Conduct in docs index"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

n/a

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### SUMMARY

The Code of Conduct, here, is not linked in the documentation:

http://docs.ansible.com/ansible/latest/community/code_of_conduct.html

##### STEPS TO REPRODUCE

n/a

[code]

##### EXPECTED RESULTS

People should be able to find t

[2018-03-28 17:36] Dmitriusan opened #38058 "Assemble module fails with permission denied in mkstemp"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

assemble_module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
`nothing changed`

##### OS / ENVIRONMENT

Ubuntu 16.04 with default SELinux settings
##### SUMMARY

##### STEPS TO REPRODUCE

I try to do

[code]
playbook options:
[code]

##### EXPECTED RESULTS

should generate /home/user/.bash_aliases file

[2018-03-28 17:37] AshleyByeUK commented on #25941
Same for me on macOS:

[code]

[2018-03-28 17:55] AquaL1te commented on #30090
@jtyr I get the impression it does work for you? Can you confirm that and share your Ansible code?

It still fails for me... It now even fails with one swap mount. Now using:
[code]

[code]

`FAILED! => {"changed": false, "msg": "Error mounting swap: mount: unknown filesystem type 'swap'\n"}
`

[2018-03-28 18:21] einarc commented on #18918
+1, please address this:
https://access.redhat.com/support/cases/#/case/02064714

[2018-03-28 18:41] acozine commented on #38057
Should probably be added to http://docs.ansible.com/ansible/latest/community/index.html.

[2018-03-28 18:45] ryansb commented on #13637
You would, when calling AWS modules, use the profile parameter (after setting `profile=MyProfile` in extra vars).

[code]

[2018-03-28 19:36] sivel commented on #37238
I'm going to go ahead and close this.  This fix has been merged. See the above commits.

[2018-03-28 19:36] #37238 closed, assigned to sivel

[2018-03-28 19:39] Ankur012 opened #38062 "MemoryError when fetch file from server"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-28 19:42] sivel commented on #38062
This scenario is documented already for the `fetch` module at http://docs.ansible.com/ansible/latest/modules/fetch_module.html#notes

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-03-28 19:42] #38062 closed, assigned to nobody

[2018-03-28 19:51] jctanner commented on #35717
For anyone that comes back to this issue, the problem as originally described was actually an authentication/permission issue.

The quoting issues are actually a red herrings.

1) https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/basic.py#L2312-L2326 caused the import exception for shlex_quote to always show up whenever the module failed. That is fixed by https://github.com/an

[2018-03-28 20:13] gundalow opened #38065 "[WIP] ignore me"
# Disabled Test

Integration tests are disabled due to known failures for the following modules [explain]:

* aaa
* bbb

Consider fixing the integration tests before or alongside changes.

# Unstable Test

Integration tests are known to be unstable for the following modules [explain]:

* aaa
* bbb

Tests may need to be restarted due to failures unrelated to changes.

# Unsupported Test
Integration

[2018-03-28 20:14] gundalow commented on #38065
bot_skip

[2018-03-28 20:14] gundalow commented on #38065
skip_bot

[2018-03-28 20:18] mattclay commented on #38065
# Untested Module

Integration tests do not exist for the following modules [explain]:

* aaa
* bbb

Consider adding integration tests before or alongside changes.

[2018-03-28 20:18] mattclay commented on #38065
Integration tests do not exist for the following modules [explain]:

* aaa
* bbb

Consider adding integration tests before or alongside changes.

[2018-03-28 20:38] #38065 closed, assigned to gundalow

[2018-03-28 20:41] guidezpl opened #38066 "Pause module not aborting with keyboard shortcut"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pause

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Pause module does not abort on Ctrl+c, a.

##### STEPS TO REPRODUCE

1. Run below playbook
2. Press Ctrl + c
3. Press a
4. Press Enter

[code]

##### EXPECTED RESULTS

 Play aborts

##### ACTUAL RESULTS

Play continues

[2018-03-28 20:43] guidezpl commented on #38066
Duplicate of #35372, closed

[2018-03-28 20:43] #38066 closed, assigned to nobody

[2018-03-28 20:44] ReinerNippes commented on #37834
ping: @Deepakkothandan @willthames
any idea? i run into the same problem just now with much smaller ebs volumes.

[2018-03-28 20:52] bcoca commented on #35372
I've tested a few cases with my PR, can everyone here look at their issues and confirm that my PR fixes them?

[2018-03-28 21:07] pffs opened #38067 "Running tasks via bastion significantly slower on 2.5.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_configs
ios_config

##### ANSIBLE VERSION

[code]
and
[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/pffs/ansibletest/ansible.cfg) = True
DEFAULT_CALLBACK_WHITELIST(/home/pffs/ansibletest/ansible.cfg) = ['profile_tasks', 'timer']
DEFAULT_FORKS(/home/pffs/ansibletest/ansible.cfg) = 10
DEFAULT_HOST_LIST(/home/pffs/ansibletest/ansible.

[2018-03-28 21:20] sivel commented on #38067
I believe this is a duplicate of https://github.com/ansible/ansible/issues/37935

cc @gundalow

[2018-03-28 21:31] pffs commented on #38067
@sivel I think part of this is related to #37935, but not all of it. The part where running over bastion vs direct being much much slower is related, as well as a lot of the reconnections showing up in 2.5.0 (even though in this particular run all of these tasks were okay and required no changes).

[2018-03-28 21:33] tassdevops commented on #38043
@Akasurde, I have full permission on resource pool "ID" only. But I have read only permissions on all other resource pools. When I commented  resource_pool in task, Ansible was get one of read only resource pools (I don't see which one) and try create VM in it

[2018-03-28 21:39] djmattyg007 commented on #28567
The PR in its current state still requires some additional changes based on feedback. Chief among those changes is proper check mode support.

[2018-03-28 21:50] apple4ever commented on #37884
Thanks for the detailed answers. Bunch of issues here.

First, I'm dumb, a later task was touching the file to ensure proper permissions, so that's why it was creating an empty file. DOH. I renamed this issue to be more clear of the actual issue.

Second, part of this issue is the Let's Encrypt documentation isn't clear that authorization will need to happen every time, and all the instructions I

[2018-03-28 21:51] apple4ever commented on #37884
Oh, just FYI I do automate the adding of the TXT records, it was just a separately playbook I ran once for each server. Like I said, I'll have to just integrate that into the server cron playbook now.

[2018-03-28 22:36] s-hertel commented on #37963
@bmamouri Backported to 2.5 in 60e7aa0dbd01e2f48fe322d7f8f4fd16b4c6c497.

[2018-03-28 23:21] trammel commented on #18871
The PR at #25052 now has a merge conflict 😞

[2018-03-28 23:30] olimatis commented on #23534
I have the exact same issue for weeks. Ansible  2.4.2.0.

Task used:

[code]

I get:

[code]

[2018-03-28 23:41] srkiNZ84 opened #38073 "RDS module not allowing upgrade of engine_version due to missing AllowMajorVersionUpgrade flag"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
AWS RDS module: https://docs.ansible.com/ansible/latest/modules/rds_module.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration.

##### OS / ENVIRONMENT
From: OS X 10.13.3
To: N/A (AWS API)

##### SUMMARY
I'm trying to upgrade an RDS database by running a playbook with an RDS task and modifying the "engine_version" param

[2018-03-29 00:21] ghost opened #38074 "Meta: Refresh_Inventory does not respect When conditions and will always run."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meta: refresh_inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running from Ubuntu 16.04 control machine talking to AWS.

##### SUMMARY

The meta: refresh_inventory does not respect a when condition and will always run regardless of the when condition.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-03-29 00:45] willthames opened #38075 "set_fact won't update a fact while looping (breaking change)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

set_fact no longer seems able to update a fact while looping. This might no longer be desired behaviour but should be noted in a porting guide with an alternative approach.

This change of behaviour was introduced in 3bec76fc856

##### STE

[2018-03-29 01:36] sean9999 commented on #26673
my experience with copr is that it's stable and reliable. It's basically just a way to resolve short strings to long URLs. I'm for it

[2018-03-29 01:50] fyyc1204 commented on #24884
目前发现出现这个问题有两种原因：
1、server 服务没有启动
2、网卡驱动有问题  (执行 ipconfig /renew  验证 )  ：如果有错误提示，参考下面链接解决  https://answers.microsoft.com/en-us/windows/forum/windows_vista-networking/an-error-occurred-while-releasing-interface/4261cacb-e924-4d74-a349-4f3b898c27a9

[2018-03-29 01:59] fyyc1204 commented on #24884
还有一种情况是虚拟机上有多个网卡，删除不用的网卡就解决了

[2018-03-29 02:18] Akasurde commented on #38042
resolved_by_pr #38076

[2018-03-29 02:45] abadger commented on #22993
Has this been fixed for Ansible 2.5.0?  I'm not too familiar with the docker APIs but I think that this PR, released in 2.5.0 may have fixed it: https://github.com/ansible/ansible/pull/36973 at least for many of the docker modules.

needs_info

[2018-03-29 02:47] sean9999 commented on #26673
that said, i just tried to install git-crypt using copr on my Fedora27 machine and it barfed

[2018-03-29 03:10] lae commented on #37839
Not sure which commit did it but this seems to have been resolved for me since this bug report was opened (broken: https://travis-ci.org/lae/ansible-role-travis-lxc/builds/358545224, fixed: https://travis-ci.org/lae/ansible-role-travis-lxc/builds/359028951).

[2018-03-29 03:44] zikalino opened #38078 "azure_rm_virtualmachine_scaleset_facts should return facts matching main module parameters"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine_scaleset_facts

##### ANSIBLE VERSION
2.5

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
any

##### SUMMARY

Facts module returns just raw resource definition from Azure REST API.
It's extremely difficult to update existing VMSS by:
- querying VMSS using facts module
- updating VMSS using main module

Facts module shoul

[2018-03-29 04:52] jborean93 commented on #38024
!component =lib/ansible/modules/database/mysql/mysql_db

[2018-03-29 04:55] jborean93 commented on #38025
Should be fixed with https://github.com/ansible/ansible/pull/38026

[2018-03-29 04:55] #38025 closed, assigned to nobody

[2018-03-29 04:56] jborean93 commented on #38029
cc @dharmabumstead

[2018-03-29 04:58] jborean93 commented on #38039
!component =lib/ansible/coud/amazon/ec2_vpc_route_table

[2018-03-29 05:05] jborean93 commented on #38039
!component =lib/ansible/cloud/amazon/ec2_vpc_route_table

[2018-03-29 05:07] jborean93 commented on #38078
!component =lib/ansible/modules/cloud/azure/azure_rm_virtualmachine_scaleset_facts

[2018-03-29 05:16] zikalino opened #38081 "New module request: azure_rm_virtualmachine_facts"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachine_facts

##### ANSIBLE VERSION
2.5

##### CONFIGURATION

##### OS / ENVIRONMENT
any

##### SUMMARY
There's no module to query VM facts. Several people already complained about this.
New facts module should return facts in 2 formats:
(1) raw -- as returned by Azure REST API
(2) ansible -- in format accepted by azure_rm_vir

[2018-03-29 05:26] maugli13 opened #38082 "ios_facts module fails during execution"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = explicit
DEFAULT_GATHER_TIMEOUT(/etc/ansible/ansible.cfg) = 30
DEFAULT_SCP_IF_SSH(/etc/ansible/ansible.cfg) = smart
DEFAULT_VAULT_PASSWORD_FILE(/etc/ansible/ansible.cfg) = /etc/ansible/cisco/.vault_pass
HOST_KEY_CHECKING(/etc/ansible/ans

[2018-03-29 05:34] zikalino commented on #38081
!component =lib/ansible/modules/cloud/azure/azure_rm_virtualmachine_facts

[2018-03-29 05:50] zikalino commented on #37905
seems like this is no longer an issue, i think i just had older version of ansible

[2018-03-29 05:50] #37905 closed, assigned to nobody

[2018-03-29 06:16] trishnaguha commented on #38052
@NT-TM I see you are using 2.4.2.0, but aggregate in `nxos_interface` module is supported from 2.5.0. Please upgrade your ansible version.

[2018-03-29 06:16] #38052 closed, assigned to nobody

[2018-03-29 07:03] #37294 closed, assigned to gdpak

[2018-03-29 07:18] vincentvdk commented on #37989
Unfortunately I have no access to an RHN account I can test with. Should be a matter of catching the error (Nonetype).

[2018-03-29 07:34] gevial opened #38085 "cloudfront_invalidation doesn't work for the first invalidation ever for given distribution"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloudfront_invalidation
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/Users/gennadii_aleksandrov/r/ansible-control-repo/ansible.cfg) = [u'/Users/gennadii_aleksandrov/r/ansible-control-repo/inventory/local']
DEFAULT_REMOTE_USER(/Users/gennadii_aleksandrov/r/ansible-control-repo/ansible.cfg) = ubuntu
HOST_KEY_CHECKING(/U

[2018-03-29 08:04] Akasurde commented on #34320
resolved_by_pr #38063

[2018-03-29 08:04] Akasurde commented on #34320
@benbro Could you please check if this PR works for you ? Let us know.

[2018-03-29 08:07] DartNecrON commented on #31413
Workaround:
https://docs.ansible.com/ansible/2.4/network_debug_troubleshooting.html
rm -rf ~/.ansible/pc/*

[2018-03-29 08:07] Akasurde commented on #33622
@sdesbure Thanks for reporting this issue. Would you like to raise PR against this ?

[2018-03-29 08:21] golimer commented on #37836
when we can expect fix for this?

[2018-03-29 08:22] gundalow commented on #36940
`ansible/latest` now points to 2.5, so this is unblocked
@abenokraitis as part of making more people aware of the docs work it would be good and making sure we don't have anything else that points to `/devel/`

[2018-03-29 09:06] benbro commented on #34320
@Akasurde this issue is about --cpus=value config but the PR use nano_cpus which I don't understand.

[2018-03-29 09:06] anisse opened #38087 "Bad rendering of tables in documentation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docs

#####  ANSIBLE VERSION

[code]
Firefox 60.0b7, ansible/latest docs or ansible/devel

##### SUMMARY

Docs look bad in Firefox 60.0b7 (beta channel)

![ansible-firefox-fail](https://user-images.githubusercontent.com/786970/38080016-9eca0d86-3340-11e8-9aa8-c5229bd120c2.png)

##### STEPS TO REPRODUCE

Go to  http://docs.ansible.com/ansible/l

[2018-03-29 09:18] Tux12Fun commented on #35896
Hello sivel,

we will test 2.5 the next days. As we use ansible for Production, we only apply official Versions. This is a internal commitment.

[2018-03-29 09:30] yuwzho commented on #37934
+label easyfix

The CLI spells the connection string itself:

https://github.com/Azure/azure-cli/blob/99032d98289bddb9a6c57ee34d3d25306335b8b3/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/account.py#L49-L74

I think in the `azure_rm_storageaccount_facts`, we can add an option `show_connectionstring` to call the API and return the connection string.

[2018-03-29 09:35] yuwzho commented on #37917
@aykay76 So your request is creating a NIC without NSG? Am I right? Could you please modify the title more detailed? It is really confused

[2018-03-29 09:44] mkrizek commented on #37778
This seems to be expected behavior:
https://github.com/ansible/ansible/blob/2ad7d79985fef9abc2ee1c5166762b5773cf5c4d/lib/ansible/modules/packaging/os/apt.py#L509

cc @abadger to make sure since he wrote that code.

[2018-03-29 09:48] mkrizek commented on #37778
If it is expected, I'll update docs to mentioned that.

[2018-03-29 09:49] amarao opened #38088 "Typo in the error message for import_role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
doesn't matter

##### OS / ENVIRONMENT
doesn't matter (ubuntu 16.04)

##### SUMMARY
When `import_role` complains about lack of 'name' it wrongly says 'ERROR! 'name' is a required field for include_role.' (should be 'import_role')

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULT

[2018-03-29 09:52] yuwzho commented on #37873
-label azure

Seems this is not an azure module error, but a playbook syntax problem.

[2018-03-29 09:54] yuwzho commented on #37872
@IvanovOleg I add this in my backlog, and will take a look at it next week

[2018-03-29 09:55] trondhindenes commented on #37876
Hi, The problem with this particular in-house module was in fact both - the file was CRLF-formatted _and_ it was using a PsObject-typed result object. The LF-vs-CRLF has come up a lot ever since Ansible for Windows was a thing. It would be great to somehow address it, tho I'm not quite sure how.

Anyhow - these are from our internal modules and as such not part of Ansible in any way. So it can be

[2018-03-29 09:56] BigBen8 opened #38089 "Mount not support nfs4 after upgrading ansible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

mount

##### ANSIBLE VERSION

[code]
![image](https://user-images.githubusercontent.com/28532554/38082205-45a9f134-3346-11e8-8656-d37cde790540.png)

##### CONFIGURATION

CACHE_PLUGIN(/home/centos/dbe-devops/ansible.cfg) = redis
CACHE_PLUGIN_CONNECTION(/home/centos/dbe-devops/ansible.cfg) = localhost:6379:0
CACHE_PLUGIN_TIMEOUT(/home/centos/dbe-

[2018-03-29 09:58] BigBen8 commented on #38089
Verbatim output:

ansible-playbook 2.6.0
  config file = /home/centos/dbe-devops/ansible.cfg
  configured module search path = [u'/home/centos/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python version = 2.7.5 (default, Aug  4 2017, 00:39:18) [GCC 4.

[2018-03-29 10:17] jinyanroot commented on #38042
After install NetworkManager-glib,it become ok,thanks

[2018-03-29 10:17] #38042 closed, assigned to Akasurde

[2018-03-29 10:26] #38007 closed, assigned to trishnaguha

[2018-03-29 11:03] hugo-ricateau commented on #36275
You should have a look at [mitogen](https://github.com/dw/mitogen), it has a [plugin for ansible](http://mitogen.readthedocs.io/en/latest/ansible.html) that improves the performance even with ansiballz.

[2018-03-29 11:11] yuwzho commented on #37873
@mattclay Do you know who is the right person should assign to?

[2018-03-29 11:39] chouseknecht commented on #36125
@sivel

This should be filed here. We had similar issue reported in Galaxy: https://github.com/ansible/galaxy/issues/412

It appears there's a breaking change introduced by docker-py 3.0.1.

[2018-03-29 11:44] azhard4int commented on #11045
+1

[2018-03-29 12:00] akhilputhiry commented on #20492
facing this issue in `ansible==2.5.0`

[code]

[2018-03-29 12:02] stefanhorning opened #38094 "AWS ELB support for both v2 elbs (network & application elb)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
elb_application_lb

##### SUMMARY
AWS has two generations for ELB (ElasticLoadbalancing) products. V1, also referred to as ELB classic and v2.

###### AWS ELB situation

In **v1** there is one type of ELB that can be created, I would call classic ELB. Ansible already has a module named like that called `elb_classic_lb`.

In **v2** however ther

[2018-03-29 12:06] anisse commented on #38087
+label affects_2.6

[2018-03-29 12:10] sangdrax8 commented on #37778
So, this would do the same thing then as using "latest."  Is there any method to ensure any package from a version is installed, with out forcing the latest from the line each time?  So in this example, as long as 5.3.5 is installed, don't upgrade a minor upgrade and disrupt service.

[2018-03-29 12:12] akhilputhiry commented on #20492
I am facing the issue in `ansible==2.5.0`. Any help is highly appreciated.

[2018-03-29 12:14] ryansb commented on #20492
Please try the resolution mentioned here https://github.com/ansible/ansible/issues/20492#issuecomment-361724244 - Ansible includes a docker module, but DOES NOT include the docker SDK (needed to communicate with docker daemon). That needs to be installed if you want to use the module.

[2018-03-29 12:14] mkrizek commented on #37778
Obvious solution would be to put the exact version instead of wildcard, would that work for your case?

[2018-03-29 12:17] mkrizek commented on #37778
There is also a feature request open for `apt-mark hold` support for the `apt` module - https://github.com/ansible/ansible/issues/18889

[2018-03-29 12:25] sangdrax8 commented on #37778
@mkrizek The only issue I have had in the past with that method, is when I install a new box which suddenly doesn't have access to the exact specified version. (say 5.3.5-ubutnu1 or something).  So I can change the version, but in the case of IPSec boxes, I don't really want a long running box stopping to upgrade a minor version because it isn't in the repo any more.

I do upgrade them, but they a

[2018-03-29 12:27] sangdrax8 commented on #37778
I don't know if apt-mark hold will work for me or not.  It seems that I would still need a specific version number to hold.  I assume I would eventually end up in the situation again where a new box wouldn't find that version, and I would have to update the hold version number.

[2018-03-29 12:52] zikalino commented on #37766
i think something got really mixed here. looks like 2 tests were using the same resource group at the same time.

**azure_rm_securitygroup** test is not creating **testnic001noip**. This security group is created only by **azure_rm_networkinterface** test, so I wonder how it could even appear here. The only explanation is that two separate tests were running in the same security group.

@mattclay

[2018-03-29 12:53] trishnaguha commented on #37305
@heathdbrown Thanks for your response.
Looks like you are still using old code. 2.4 and 2.5 do not have this code path anymore. Please upgrade ansible version.

[2018-03-29 12:57] zwindler commented on #38075
Same issue here with similar use of set_fact

[2018-03-29 13:27] kwoodson commented on #37934
@yuwzho, That would be great.  Here is my playbook: https://github.com/kwoodson/openshift-ansible/pull/16

[2018-03-29 13:46] pilou- commented on #37506
There is a proposed fix there: #36651.

[2018-03-29 13:47] machacekondra commented on #37425
resolved_by_pr 37436

[2018-03-29 13:49] machacekondra commented on #35268
resolved_by_pr 35289

[2018-03-29 13:54] #37425 closed, assigned to nobody

[2018-03-29 13:54] machacekondra commented on #34162
resolved_by_pr 35782

We have introduced in Ansible 2.5 parameter called `cloud_init_persist`, which is `false` by default meaning the VM will in run-once mode. If you want to persist the `cloud_init` configuration in VM properties, pass `cloud_init_persist: true`.

[2018-03-29 13:55] sekharvajjula commented on #5564
The option suggested by @guipedreira (loop_control: label) works great for me. I wanted to screen passwords from my hash. But at the same time I also wanted to see some stuff which was relevant. no_log: True was masking everything. With (loop_control: label) I can choose the fields, I want to show using coma separated tags. Thanks @greenbrian.

[2018-03-29 13:55] #35268 closed, assigned to nobody

[2018-03-29 13:58] zwindler commented on #37872
duplicates with #36093 if I'm correct ;-)

[2018-03-29 14:02] pilou- opened #38100 "ansible-config ignore plugins parameters"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-config

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

`ansible-config list` and `ansible-config dump` commands ignore plugins parameters.

##### STEPS TO REPRODUCE
Parameters of `kubectl` connection plugin aren't displayed:
[code]
or
[code]

##### EXPECTED RESULTS
`ansible-config list` and `ansible-config dump`

[2018-03-29 14:06] #34162 closed, assigned to nobody

[2018-03-29 14:08] sac opened #38103 "lvg: Allow pesize to be in kilobytes"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

lvg
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None.

##### OS / ENVIRONMENT

N/A
##### SUMMARY

lvg allows the values for pesize only in megabytes which is a limitation since for JBODS and RAID disks the optimal values are 1280k. Should allow sizes to be in kilobytes or decimal values

Same for pv_options values. Allowing decimal v

[2018-03-29 14:12] jonni83 opened #38104 "Git Module GIT_SSH Support"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/jonni83/.ansible.cfg) = [u'/home/jonni83/ansible/hosts']
DEFAULT_ROLES_PATH(/home/jonni83/.ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

N/A
##### SUMMARY

My organization uses a custom compiled version of SSH.  Git s

[2018-03-29 14:15] jhawkesworth commented on #37876
FWIW This PR attempts to allow custom (non core ansible) powershell modules to have \r\n line endings https://github.com/ansible/ansible/pull/37291

[2018-03-29 14:16] bundyboy opened #38105 "Junos_config jsonDecoderError after update from 2.4.3 to 2.5.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
since ansible update from 2.4.3 to 2.5.0, tasks calling junos_config fail with an error related to jsonDecoderError attribute, apparently only used in python 3.5+ (we use 2.7.6)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
no err

[2018-03-29 14:27] mattclay commented on #37766
@zikalino The failure is caused by the two tests running one after another in the same resource group.

The order of events is:

1. azure_rm_networkinterface test runs
2. other azure_rm_* tests may run
3. azure_rm_securitygroup test fails

I was able to reproduce the issue with the following command:

[code]

[2018-03-29 14:32] #15907 closed, assigned to nobody

[2018-03-29 14:34] sivel commented on #36125
@chouseknecht One thing I notice in your linked galaxy issue is that both `docker` and `docker-py` are both installed at the same time which is not functional.  They both occupy the same namespace and depending on install order overwrite each others files.

Only one of `docker` or `docker-py` can be installed at a time to have a functional library.

Uninstalling both, and re-installing `docker` sh

[2018-03-29 14:42] sivel commented on #22993
@abadger no, it hasn't.  Unfortunately `docker` and `docker-py` occupy the same namespace (`docker`), and depending on install order they will overwrite each others files.

I was just thinking about this earlier if there was a way we could detect it, and not sure that is possible, as it can manifest as an import error in some situations.

Ultimately, you cannot have both `docker` and `docker-py` i

[2018-03-29 14:45] abadger commented on #22993
<nod> but I thought the pr I linked to made it so docker-py did not need to
be installed anymore.

[2018-03-29 14:47] sivel commented on #22993
@abadger yes, that is correct.  You can have either `docker` or `docker-py` installed to use our modules.  `docker` is preferred at this point.

However, you cannot have both python libraries installed at the same time.

[2018-03-29 15:02] zikalino commented on #37658
resolved_by #38108

[2018-03-29 15:29] acozine opened #38109 "Remove edgeos modules from Ansible-Maintained list"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
edgeos_config

##### ANSIBLE VERSION
2.5 and higher

##### SUMMARY
We've mistakenly included two `edgeos` modules in the list of Ansible-maintained network modules. We do not maintain those modules.

[2018-03-29 15:55] gundalow opened #38110 "copy module to give hints about remote_src if filenotfound"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION
[code]

##### SUMMARY

https://twitter.com/russifer/status/979383638591787008

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2018-03-29 15:59] gundalow commented on #38109
Will need cherry-picking into `stable-2.5` which is when these modules were added

[2018-03-29 16:59] jmighion commented on #38041
Can you provide the ansible log with debug logging? `export ANSIBLE_DEBUG=True`

When it authenticates but doesn't do anything past that until the timeout, that leads me to believe that there's unhandled prompts. The regex in the terminal plugin might not fit your specific host's cli prompt or it might be waiting on another type of user input ("press any key to continue" or another username to fil

[2018-03-29 17:12] gundalow commented on #38110
Sort of related https://github.com/ansible/ansible/pull/25930

[2018-03-29 17:32] saichint opened #38115 "nxos_aaa_server issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_aaa_server
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)
##### SUMMARY

##### STEPS TO REPRODUCE

There are few issues with nxos_aaa_server
1. On some platforms under some conditions, the 'directed_request' show command shows empty and this is causing the playbook run

[2018-03-29 17:40] michelvio opened #38116 "Syntax Error ios_command"
Hi,

I'm trying to run the playbook but the follow error is showed:

[root@oc8405627148 playbooks]# ansible-playbook backup.cisco.router.yml
ERROR! Syntax Error while loading YAML.

The error appears to have been in '/etc/ansible/playbooks/backup.cisco.router.yml': line 8, column 4, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line appears to be:

   - nam

[2018-03-29 18:11] michelvio commented on #38116
##### ISSUE TYPE

- ERROR! Syntax Error while loading YAML.

##### COMPONENT NAME

  tasks:
   - name: show run
   ios_command:
     commands:
       - show run

##### ANSIBLE VERSION

[root@oc8405627148 playbooks]# ansible --version
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/my_modules']
  ansible python module location = /usr/lib/pyth

[2018-03-29 18:31] fridlik opened #38118 "postgresql_user module: task is always changed when use conn_limit parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

postgresql_user module

##### ANSIBLE VERSION

[code]

##### SUMMARY

When I use _conn_limit_ parameter in this module, the task is always changed.

##### STEPS TO REPRODUCE

[code]

##### HOW TO RESOLVE
The problem is on this line: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/database/postgresql/postgresql_user.py#L356

T

[2018-03-29 18:36] pukhanov opened #38119 "vmware_guest selectable disk backing mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible running on CentOS 7. Attempting to control ESXI

##### SUMMARY

Currently, when using the vmware_guest module to create new VMs or manage an existing one, the disks are configured as ```diskspec.device.backing.diskMode = 'persistent'```.

There should be an option t

[2018-03-29 19:03] #32096 closed, assigned to nobody

[2018-03-29 19:50] benjdudas opened #38120 "Api Token authentication issue with URI module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No settings changed, tested on 2.5 fresh install

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Trying to use the URI module to connect to application using API token. 401 status code is received when using module with matching header options to successful curl and python script connect.
##

[2018-03-29 20:16] #29334 closed, assigned to nobody

[2018-03-29 20:42] guybluebat opened #38123 "Unauthorized operation using ec2_instance_facts in 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_instance_facts and ec2_remote_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/root/.ansible.cfg) = True
ANSIBLE_SSH_ARGS(/root/.ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s
CACHE_PLUGIN(/root/.ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/root/.ansible.cfg) = \~/.ansible/facts/
CACHE_PLUGIN_TI

[2018-03-29 20:56] HanXHX opened #38124 "gcpubsub_facts and gcpubsub crash with latest version of google-cloud-pubsub"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gcpubsub

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True

##### OS / ENVIRONMENT
Managed from Debian Stretch

##### SUMMARY
gcpubsub module crashes with latest version of google-cloud-pubsub python lib. But it works well when you use google-cloud-pu

[2018-03-29 21:34] xiongchiamiov commented on #25626
No, because that is explicitly disallowed:

[code]

The only way to get around it is to do manual json templating instead of using `sensu_check`.

[2018-03-29 22:10] #38088 closed, assigned to nobody

[2018-03-29 23:06] zikalino commented on #37658
@hentisemmle i have prepared a fix for this issue, it occurs only when existing rule description is not empty and  **description** parameter is missing in the playbook. as a temporary (before fix is merged) workaround you can add description to every rule.

[2018-03-29 23:26] tumbl3w33d commented on #34309
bug_resolved

[2018-03-29 23:35] tim-moody opened #38128 "include_role only includes one item from list"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
In the code below I expected a list of roles to be included and only one was.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
both kiwix and kalite roles are executed

##### ACTUAL RESULTS
only role kalite is executed

[2018-03-29 23:36] #34309 closed, assigned to nobody

[2018-03-30 00:26] sivel commented on #38128
duplicate of https://github.com/ansible/ansible/pull/36372

This fix will be included in an upcoming 2.5.1

[2018-03-30 00:26] #38128 closed, assigned to nobody

[2018-03-30 01:27] jacco32 opened #38129 "include_tasks doesn't honor become_user but instead runs tasks as root"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/jbeije/.ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/jbeije/.ansible.cfg) = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecki
DEFAULT_FILTER_PLUGIN_PATH(/home/jbeije/.ansible.cfg) = [u'/home/jbeije/.ansible/plugins/filter_plug
DEFAULT_FORKS(/home/jbe

[2018-03-30 02:05] yungezz opened #38130 "azure_rm_keyvaultkey and azure_rm_keyvaultsecrets not working"
azure_rm_keyvaultkey and azure_rm_keyvaultsecrets module testing failed, exposed below code bugs:
1. no dependency to azure-keyvault
2. invalid credential passed to keyvaultClient.

detail error pls see https://app.shippable.com/github/ansible/ansible/runs/59616/62/console

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRON

[2018-03-30 02:07] CorbanR commented on #31661
This still is an issue on `Tower Enterprise 3.2.3` and `Ansible 2.4.3.0`

[2018-03-30 02:27] Akasurde commented on #38119
@tacomaster Thanks for reporting this issue. This is issue is already reported here - https://github.com/ansible/ansible/issues/37749. Closing this as duplicate.

[2018-03-30 02:27] #38119 closed, assigned to nobody

[2018-03-30 02:28] winstonsimon commented on #31274
add following in the "/etc/ansible/hosts" should fix the reported issue.

[localhost]
localhost ansible_connection=local

[2018-03-30 02:29] Akasurde commented on #37749
@AntPhil I have added this to my todo list. Will work on this soon.

[2018-03-30 02:35] nomaddesign commented on #29352
This would be handy feature.

[2018-03-30 02:50] royzeng-ericsson commented on #35235
I can succeed, but replace tag not add tag.
environment:
Ansible: 2.4.2.0
OS: Centos 7.4

playbook:

- name: Create Virtual Machine
  azure_rm_virtualmachine:
    resource_group: "{{ resource_group }}"
    name: "{{ item }}"
    vm_size: "{{ flavor }}"
    managed_disk_type: "{{ disks.disk_type }}"
    network_interface_names: "NIC-{{ item }}"
    ssh_password_enabled: false
    admin_username: "{

[2018-03-30 02:51] bbb31 commented on #21562
Unfortunately, this bug is not fixed.

[code]

[2018-03-30 05:33] isaacegglestone commented on #35235
I think you mean not append tags?
Right this might be the key then.
Does it happen in all cases for all VMs even ones with newer images?

I had to give up and use powershell to apply tags to because I couldn’t get
it working reliably. For me it seemed to happen only with older images but
maybe they had tags already.

On Fri, 30 Mar 2018 at 03:51, royzeng-ericsson <notifications@github.com>
wrote:

[2018-03-30 06:27] yuwzho commented on #35235
+label easyfix

There is already a pull request to fix the `append_tag` issue, but the CI is fail. I have no bandwidth with this issue right now, and I add an easyfix label. If someone is interested in contributing this, can start with that PR, fix the CI and send out another pull request.

[2018-03-30 06:31] royzeng-ericsson commented on #35235
Yes, I mean append_tags is useless.
It happens in all cases even for newer instances.

[2018-03-30 06:37] isaacegglestone commented on #35235
Okay so work around is use get facts on instance and register tags in
variable and then update instance and use variable plus add new tags.

Thus no need for using append_tags

I wish I had time to help with this pull request as it sounds fun but have
major delivery due for Monday :(

If it’s still sitting there after Monday I will take a look.

On Fri, 30 Mar 2018 at 07:31, royzeng-ericsson <noti

[2018-03-30 08:45] hentisemmle commented on #37658
Thank you @zikalino

I will do :)

[2018-03-30 08:47] vgavini commented on #38073
Hi,

Am also facing same issue while upgrading engine_version using ansible rds module.

{
    "_ansible_parsed": true,
    "_ansible_no_log": false,
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": ""
    },
    "msg": "The AllowMajorVersionUpgrade flag must be present when upgrading to a new major version."

Can you let us know is there any workaround for this

[2018-03-30 08:55] rascasoft opened #38133 "The usage of colon inside msg string with a variable causes a syntax error while using debug module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

debug module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/home/rasca/ansible/ansible.cfg) = [u'/home/rasca/ansible/roles']

##### OS / ENVIRONMENT

LSB Version:	:core-4.1-amd64:core-4.1-noarch
Distributor ID:	Fedora
Description:	Fedora release 27 (Twenty Seven)
Release:	27
Codename:	TwentySeven

##### SUMMARY

While

[2018-03-30 09:04] pratikkava1189 opened #38134 "Service status"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux v7

##### SUMMARY
Need playbook to show service status as activate output, but not as an error while using "shell" module.

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
When shell execute "shell: systemctl status rsyslog" tas

[2018-03-30 10:38] felixfontein commented on #37884
I'm somewhat glad that you found the issue and it wasn't inside the `letsencrypt` module; that would have been really bad :)

About the module documentation: I've tried to make it clearer in #38135. Please take a look and feel free to add criticism, suggestions, further improvements, ...

About adding new arguments or splitting up the module: I'm not sure whether that's a good idea. I think I'd pr

[2018-03-30 11:21] itdependsnetworks commented on #38116
99% chance this is a syntax issue, but can't explain what it is without using code blocks, since yaml is so space sensitive. If you use triple back ticks,(newline) <content>(newline), triple back ticks. The content, will be properly formatted. Backticks |```| look like single quotes, but are distinctly not, and on a US keyboard is top left character, above the tab. You can edit your post's as well

[2018-03-30 11:55] #35958 closed, assigned to nobody

[2018-03-30 12:17] danielllek commented on #37886
I have the same problem:
Target system: Description:	Debian GNU/Linux 9.4 (stretch)
Grafana: 5.0.4

It manages to install plugin, but fails when plugin is already installed.
[code]

[2018-03-30 12:36] strus38 opened #38139 "aws_ec2 inventory plugin not following groups rule"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

aws_ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

INVENTORY_ENABLED(/home/ec2-user/ansible.cfg) = ['aws_ec2', 'constructed']

##### OS / ENVIRONMENT

Linux ip-10-xxx.xxx 3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Dec 28 14:23:39 EST 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

Using the new inventory plugin for ec2, and trying to b

[2018-03-30 12:41] donpatzone commented on #38041
You are indeed correct. As soon you mentioned the timeout I remembered that at a point in the past after a software upgrade this WLC needed an extra carriage return before the user prompt pops up. I didn't think much of it and took it for granted.
I can honestly not say what the reason is. The funny thing is that this seems to be an isolated case. Other WLCs of ours don't show this problem running

[2018-03-30 12:45] IvanovOleg opened #38141 "Ansible 2.5: azure_rm_loadbalancer_facts module requires the packaging module even if it is installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_loadbalancer_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7, pip install ansible[azure]
##### SUMMARY

##### STEPS TO REPRODUCE

Use

[code]

##### EXPECTED RESULTS

Get load balancer facts

##### ACTUAL RESULTS

error

[code]

[2018-03-30 13:07] donpatzone commented on #38041
Guess, I spoke to soon. Seems to take some time, before the WLC shows this behaviour. I will add the output of the ansible.log file, however as this seems to be an isolated case you may decide, if you want to put efforts into this issue or not. I will also attach a debug of a manual SSH session attempt below that one

Here is the ansible.log:

[code]

And the SSH output:

[code]

[2018-03-30 13:12] strus38 commented on #38139
Ok, I find out how to achieve what I needed. IT would be good to add this example in the documentation since it is not so obvious.

Tag your EC2 instances like this:
[code]
write your config file like this:

[code]

and you will get:

[code]

Brilliant :-)

[2018-03-30 13:12] #38139 closed, assigned to nobody

[2018-03-30 13:35] Akasurde commented on #38133
@rscarazz Thanks for reporting this issue. I think this is already documented, that you need to quote colon. You can read about the [gotchas](http://docs.ansible.com/ansible/latest/YAMLSyntax.html#gotchas).

[code]

[2018-03-30 14:58] rscarazz commented on #38133
@Akasurde thanks for your answer. The explanation is entirely clear, what I'm not getting is the fact that this happens if you have a variable in the string, not if you don't use it.
Anyway, it is good to know how to escape it, thanks!

[2018-03-30 15:27] junglie85 opened #38143 "vmware_guest not connecting networks at poweron"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing

##### OS / ENVIRONMENT

macOS 10.13.3, trying to provision Ubuntu Bionic beta guest VM on vSphere ESXi 6.5.

##### SUMMARY

Does not connect network interfaces when VM is powered on. Need to manually connect networks via vCenter web UI.

##### STEPS TO REPRODUCE

[code]

[2018-03-30 15:55] jmighion commented on #38041
Thanks for the extra info. Glad it's resolved itself. I'd say close this one, but if it crops up again, make another pointing to it or reopen it. I've seen this before with Aruba Pro Curve devices, but not WLC. If I can get a solution for the other it should work for this too if it ever comes back.

[2018-03-30 16:07] heathdbrown commented on #37305
@trishnaguha

Ansible 2.5 still has this issue, do you guys backport into the different versions or always ask to move to newer versions.
Ansible 2.6 (devel) looks to be fixed.

[2018-03-30 17:14] uvsmtid commented on #16894
Even if `ssh-agent` is loaded with required private key, Ansible will still hang until corresponding public key is deployed into remote `authorized_keys` - see why and [how to reproduce here][1].

During initial setup when not all keys are distributed yet,
this may be frustrating to troubleshoot and realize why.

[1]: https://superuser.com/a/1309412/176657

[2018-03-30 17:30] jwoxidizeduser commented on #15402
I just spent 2 hours trying to get password auth instead of keys to work on 2.5 before I stumbled onto this post. Feelsbad, I guess this is still an open issue. I'll go ahead and just try it with SSH keys.

[2018-03-30 17:48] fzimmermann89 commented on #34733
Unfortunately it's unlikely that the author will create a pull request:
 https://github.com/quinot/ansible-plugin-lookup_ldap/issues/11#issuecomment-356255324

[2018-03-30 18:25] orderedchaosdev opened #38146 "ansible-vault wont open decrypt file with env vars set with multiple keys"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

In ansible 2.4 with those environmental vars set I can edit any vaulted file that was encrypted with either of the vault keys.
In ansible 2.5 it won't open the file.
##### STEPS TO REPRODUCE

Create your file to be vaulted.
Set env

[2018-03-30 18:28] orderedchaosdev commented on #38146
Also I tried encrypting the vault file with both the default which makes it ```$ANSIBLE_VAULT;1.1;AES256```
And bench which makes it ```$ANSIBLE_VAULT;1.2;AES256;bench```

[2018-03-30 18:31] krzysztof-magosa commented on #37446
It's not Ansible bug, echo in "plain" sh does not support -en flags.
You can use `executable` argument of shell module to use different shell, e.g. bash.

[code]

[2018-03-30 18:33] johnscancella opened #38147 "rds_subnet_group subnets invalid input?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rds_subnet_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac os 10.13.3

##### SUMMARY
passing in list variable to subnets results in error

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`chronam-stage-vpc` rds subgroup is created with all ec2 subnets listed

##### ACTUAL RESULTS
[code]

[2018-03-30 18:39] GriffithLea opened #38148 "int vars mutate to string, unsolicited"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Variable type safety, or possibly I don't understand something or need to define my variables differently.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/opt/hpinteg/ansible/action_plugins']
DEFAULT_HOST_LIST(/etc/ansible/ansibl

[2018-03-30 19:00] muxator opened #38149 "password_hash with wrong algorithm name does not fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`password_hash()` jinja filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When a non-existent algorithm is passed to `password_hash()` , it returns `""` instead of failing.
Since this filter is used when creating users, a possible scenario is that a playbook runs successfully, supposedly crea

[2018-03-30 19:03] drew1kun opened #38150 "replace module does not properly interpret negative lookbehind (?<!...) regexp"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

`replace` module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

MacOS 10.13.2
##### SUMMARY

##### STEPS TO REPRODUCE

The file I am trying to modify is `/etc/pf.conf`:
[code]

I WANT:

**under the last** `rdr-anchor ...` line (which is `rdr-anchor "com.apple/*"`) I want to insert two

[2018-03-30 19:32] SimplySeth opened #38153 "Terraform module does not accept `force_init`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

terraform

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOSX

##### SUMMARY

Running module gives:

[code]

##### STEPS TO REPRODUCE

Run the below command task ...

[code]

##### EXPECTED RESULTS
Terraform would run and and the output would be captured

##### ACTUAL RESULTS

[code]

[2018-03-30 19:40] trondhindenes commented on #37876
awesome @jhawkesworth !

[2018-03-30 19:43] naisanza commented on #37446
@krzysztof-magosa ah you're right, I overlooked that bit

[2018-03-30 19:43] #37446 closed, assigned to nobody

[2018-03-30 19:44] LaurentDumont commented on #37885
I thought that was the point and the behavior of the `raw` module. I'll see if any of the cisco/other gear might be able to support the device for some reason.

I'd love to get Ansible to talk to those little things.

[2018-03-30 20:14] harekrishna0 opened #38154 "Ansible with_items loop doesn't work as intended"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config
ios_command

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

HOST_KEY_CHECKING(/home/kneupane/ansible.cfg) = False

##### OS / ENVIRONMENT

Red Hat

##### SUMMARY

I have a variable list of syslog that needs to be configured on the ios device. I am planning to delete all the logging-host IPs that are not used from the device.

[cod

[2018-03-30 23:57] xiongchiamiov commented on #19765
The current behavior is poor because there is no error or even warning - it just silently does not work.  If making it work is a lot of work, then I think in the meantime it should be an error.

To give a specific use case, I've been porting a bunch of sensu check configuration from using raw json templates to the `sensu_check` module.  This meant going from something like this:

[code]

to this:

[2018-03-31 02:02] yuwzho commented on #38081
+label easyfix

Facts module is easy to implement the basic feature

[2018-03-31 02:15] yuwzho commented on #38078
+label easyfix

[2018-03-31 03:48] Akasurde commented on #38153
@SimplySeth Thanks for reporting this issue. `force_init` is added in version 2.6, it is not documented, but you can check this commit https://github.com/ansible/ansible/pull/36996.

[2018-03-31 04:00] Akasurde commented on #34320
@benbro CPU quota is called as `nano_cpus` in API library - please refer this https://github.com/docker/docker-py/issues/1920#issuecomment-367399139

[2018-03-31 04:51] Akasurde commented on #29353
I am unable to reproduce this issue on latest Ansible version. Closing this issue for now. If problem persists, please feel free to open issue.

[2018-03-31 04:51] #29353 closed, assigned to nobody

[2018-03-31 05:05] Akasurde commented on #29229
Closing this issue as the module is deprecated by `ovirt_vms`.

[2018-03-31 05:05] #29229 closed, assigned to nobody

[2018-03-31 05:26] benbro commented on #34320
@Akasurde There are different ways to limit CPU in docker with the command line. This [blog](https://blog.docker.com/2017/01/cpu-management-docker-1-13/) says:

nano_cpus is very confusing:

Any reason not to give the user just: --cpus=value?

[2018-03-31 10:26] freeseacher commented on #38129
that is a feature.
http://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance

[2018-03-31 12:08] Akasurde commented on #34320
Agree. nano_cpus is very confusing. Maybe you can add comment in PR itself, stating that `nano_cpus` should be renamed to something less confusing. Also, to add more documentation around that parameter.

[2018-03-31 12:14] Akasurde commented on #36835
!component -lib/ansible/modules/files/template.py

[2018-03-31 12:16] Akasurde commented on #37850
@corentingi @nougad @voronaam @mgedmin @kevlar1818 #38001 is also merged.

[2018-03-31 12:36] benbro commented on #34320
Maybe you can check the PR and see that I already did this couple of days ago.

[2018-03-31 15:23] j1cken opened #38161 "firewalld module fails with "global name 'fw_offline' is not defined" error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

firewalld

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

[code]
fails with
[code]
##### STEPS TO REPRODUCE

see above

[code]

##### EXPECTED RESULTS

no error, firewalld ports got opened

##### ACTUAL RESULTS

[code]

[2018-03-31 17:05] Akasurde commented on #38161
@j1cken Thanks for reporting this issue. This PR https://github.com/ansible/ansible/pull/37603 will resolve this issue.

[2018-03-31 18:02] dhiratgithub commented on #30882
Hi Everyone,

Please take a look into below issue (include_tasks not working with --tags) -

[root@ansiblecontrolnode tags]# cat inventory
[servers]
ansiblemanagednode.example.com
[databases]
ansiblemanagednode.example.com

[root@ansiblecontrolnode tags]# ansible --version
ansible 2.4.2.0
  config file = /root/ANSIBLE/Chapter5/tags/ansible.cfg
  configured module search path = [u'/root/.ansible/pl

[2018-03-31 18:15] dhiratgithub commented on #30882
+  --list_tags outputs:

[root@ansiblecontrolnode tags]# ansible-playbook demonstrationplaybook.yml -vvv --list-tags
ansible-playbook 2.4.2.0
  config file = /root/ANSIBLE/Chapter5/tags/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable loca

[2018-03-31 18:21] Xtigyro opened #38162 "ERROR: "Error 401: {'error': 'Invalid authentication token'}", while: getting Packet projects"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
"packet_net.py"

##### ANSIBLE VERSION
2.5.0

##### CONFIGURATION
root@ubuntu-xenial:/vagrant# ansible-config dump --only-changed
root@ubuntu-xenial:/vagrant#

##### OS / ENVIRONMENT
Ubuntu 16.0.4

This token was used:
`export PACKET_API_TOKEN=Bfse9F24SFtfs423Gsd3ifGsd43sSdfs
`
##### SUMMARY
The dynamic inventory through "packet_net.py" does not

[2018-03-31 19:13] Xtigyro commented on #38162
Apologies - now I've just seen that the Packet API is a paid service - which wasn't mentioned in the course I stumbled upon the "packet_net.py" script.

So we should consider this probably as "invalid" bug report.

[2018-03-31 21:29] felixfontein commented on #37884
Ok, the documentation part of this is resolved. It will show up in Ansible 2.5.1.

[2018-03-31 22:24] NicholasPCole commented on #15721
In case anyone else comes across this "module failure" in the future and is scratching their head like I was, trying things like specifying `ansible_python_interpreter` to no success... make sure you also have the `sudo` package installed. It wasn't by default on my Debian 9 box.

[2018-03-31 22:35] megakoresh commented on #29887
Just hit this problem. If the binding is compatible @sivel 's solution looks like an elegant one. It may also be extended to support configuration parameters:
[code]

[2018-04-01 04:18] Akasurde commented on #37842
@AnandTella Could you please try above solution and let us know if it works for you ?

needs_info

[2018-04-01 07:12] rtulke commented on #37702
Ok thanks sivel it works for me

[2018-04-01 11:05] Akasurde commented on #30821
@africanzoe Does "/tmp/myfile.zip" exists on remote machine ? as you have specified `remote_src=yes` module tries to find this file on remote machine instead of local.

[2018-04-01 11:05] Akasurde commented on #30821
needs_info

[2018-04-01 11:39] Akasurde commented on #29455
@bart2 @toadzky I am unable to reproduce this issue against 2.4 version.

[code]

Could you please check if this is the case for you ?
needs_info

[2018-04-01 11:49] Akasurde commented on #29476
Closing this issue as this is implemented in version 2.2 (8c6af73)

[2018-04-01 11:49] #29476 closed, assigned to abadger

[2018-04-01 14:33] Dorian commented on #15321
Removing the password of the SSH key fixed it for me, e.g. `ssh-keygen -p`

[2018-04-01 14:35] africanzoe commented on #30821
@Akasurde yes the file exists on the remote machine.

[2018-04-01 16:06] jobevers opened #38164 "Improvement in documentation on waiting for a long async task ."
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
http://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html

##### ANSIBLE VERSION
2.5

##### SUMMARY
The docs say:

If you would like to perform a task asynchroniusly and check on it later you can perform a task similar to the following:
[code]

With a default delay of 5 seconds, the second task, the one that is checking, w

[2018-04-01 18:11] Alexander198961 commented on #30100
I am going to fix this

[2018-04-01 22:40] AshleyByeUK commented on #38143
By way of update, cloning a VM from a template in one task and then making changes to the network and powering on in a second task allows the network to connect at start. However, the MAC addresses do not get their manual setting and resort to the vSphere automatic option.

[code]

[2018-04-01 23:29] agaffney commented on #31074
@popstas @LuckySB please try out the fix in #38165

[2018-04-02 02:06] yuwzho commented on #36677
notabug

[2018-04-02 04:38] samerd opened #38167 "onyx_linkagg module failed when using onyx version 3.6.6000"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

onyx_linkagg.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

An exception is thrown when creating an MLAG port using ansible module onyx_linkagg on Mellanox Switch running ONYX 3.6.6000.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

mlag will be configured

##### ACTUAL RESULTS

an

[2018-04-02 05:11] akira6592 commented on #37550
It is seemes like `ios_config`  is comparing `show running-connfig full`.
Even `defaults: no`. (default)

- example1:
[code]
`show run` results: `server community XXXXX RO`
but,
`show run all` results: `snmp-server community XXXXv1default RO`
so always `changed`.

- expample2:
[code]
The `hostname` command is showned same results between `show run` and `show run all`.
so NOT Always "changed".

[2018-04-02 05:39] Akasurde commented on #36716
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-04-02 05:39] #36716 closed, assigned to nobody

[2018-04-02 06:54] Akasurde commented on #20954
resolved_by_pr #38168

[2018-04-02 08:56] Yajo commented on #30882
I'm affected too here. Let me expose some facts to everyone:

1. I already had migrated all my playbook to `{include/import}_tasks`.
1. It worked perfectly in Ansible 2.4.
1. I understand the purpose of not delegating the tags by default: sometimes you need to perform dynamic includes, but if you filter through a tag, then *everything* inside `include_tasks` will be executed. There's no way for yo

[2018-04-02 09:21] Yajo commented on #30882
I have come to a workaround. Given I had these:

<details>
<summary>outer.yaml</summary>

[code]

</details>
<details><summary>inner.yaml</summary>

[code]
</details>

Now I have changed `outer.yaml` to `include_tasks: import_inner.yaml`, which has:

[code]

It's a :hankey: but keeps the diff minimal

[2018-04-02 09:29] Akasurde commented on #38149
resolved_by_pr #38152

[2018-04-02 09:33] Akasurde commented on #38118
resolved_by_pr #38136

[2018-04-02 09:35] #37975 closed, assigned to nobody

[2018-04-02 10:03] sm4rk0 commented on #37839
I agree with @lae
Closing this issue.

[2018-04-02 10:03] #37839 closed, assigned to nobody

[2018-04-02 10:09] Akasurde commented on #38143
@AshleyByeUK Did you re-run the last playbook with same VM name ?

`state: poweredon` will only change powerstate of VM if VM already exists, it does not change any hardware related changes.

needs_info

[2018-04-02 10:18] maduhshan opened #38172 "Ansible uri module not able to post multipart/form-data"
currently uri  module is not able to post multipart/form-data to web services. Instead as a work around have to use the curl command in the 'command' module

[2018-04-02 10:23] AshleyByeUK commented on #38143
[https://tr.cloudmagic.com/h/v6/emailtag/tag/2.0/1522664561/2a29456be1e332107395b56c40088fbd/1/1017689f32c7270f487429ee46c7867d/99e8ec055820e678dd90b16fae9836f9/9efab2399c7c560b34de477b9aa0a465/newton.gif]

Thanks. I guess the problem is in the cloning task  then.

On Mon, Apr 02, 2018 at 11:09am, Abhijeet Kasurde <notifications@github.com<mailto:notifications@github.com>> wrote:

@AshleyByeUK<htt

[2018-04-02 10:56] wimnat commented on #38094
Hi @stefanhorning. Some work has already gone in to a network load balancer module. PR can be found here https://github.com/ansible/ansible/pull/33808.

There is another PR pending for changes to the application lb module to help support this.

I'm hopeful that both will be merged soon.

[2018-04-02 11:37] agarb7 commented on #29698
I can confirm this bug for me too

[2018-04-02 11:56] #38115 closed, assigned to trishnaguha

[2018-04-02 12:03] trishnaguha commented on #37305
This will be fixed by https://github.com/ansible/ansible/issues/35568 which needs to cherry-picked to 2.5

[2018-04-02 12:16] devyanikota opened #38174 "storage: Add remove-brick operation for gluster_volume."
##### ISSUE TYPE
 - Feature Idea
Add volume operation: remove-brick.

##### COMPONENT NAME
system/gluster_volume
storage/glusterfs

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(directory)s/ansible-ssh-%%C
DEFAULT_MODULE_PATH(env: ANSIBLE_LIBRARY) = [u'/home/devyani/work/gluster-ansible/modules']
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg

[2018-04-02 12:19] stefanhorning commented on #38094
Perfect, thanks. I was looking for s.th. like this but nothing showed up in my searches. It looks like you already implemented exactly what I layed out here in this issue. So I will close this issue.

[2018-04-02 12:19] #38094 closed, assigned to nobody

[2018-04-02 12:25] Akasurde commented on #37961
resolved_by_pr #38173

[2018-04-02 13:29] SimplySeth opened #38176 "never tag does not show up with --list-tags"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/playbook/taggable.py
lib/ansible/playbook/base.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT
MacOSX

##### SUMMARY
never tag hides other tags

##### STEPS TO REPRODUCE
attach `never` tag to a task
ansible-playbook playbook.yml --list-tags

[code]

[code]

##### EXPECTED RESULTS
All tags includ

[2018-04-02 13:38] johnscancella commented on #38147
after much trial and error it looks like it needs to be
`subnets: "{{ ec2_subnet_ids }}"`

[2018-04-02 13:38] #38147 closed, assigned to nobody

[2018-04-02 13:46] alikins commented on #38146
I think this should be resolved by https://github.com/ansible/ansible/pull/35923
(merge in devel as 6e737c8cb66df1500dba1c74369314dd8f65867c, there is
a backport for stable-2.5 https://github.com/ansible/ansible/pull/38003 intended
for 2.5.1)

Related: https://github.com/ansible/ansible/issues/35834

[2018-04-02 13:50] Akasurde commented on #34559
@coaxial Thanks for  reporting this issue. Could you please try without specifying `autostart` option ? Also, `name` is required parameter for `define` as module tries to find domain with same name before defining new domain.

needs_info

[2018-04-02 13:52] alikins commented on #38104
https://github.com/ansible/ansible/pull/30850 is related to this.

[2018-04-02 13:55] maxamillion commented on #38161
@Akasurde did you test that #37603 does fix this?

[2018-04-02 14:03] alikins commented on #38105
@bundyboy could you provide the output from running this playbook with the added '-vvv' verbosity options?

[2018-04-02 14:10] sivel commented on #31661
This sounds like expected behavior.

`localhost` is typically treated specially within ansible, from an implicit localhost (http://docs.ansible.com/ansible/devel/inventory/implicit_localhost.html) perspective.

When `localhost` is not explicitly listed in inventory, an implicit localhost will be created, which does not use an SSH connection, but instead just execs the commands as the user running

[2018-04-02 14:10] #31661 closed, assigned to nobody

[2018-04-02 14:12] sivel commented on #38129
duplicate of https://github.com/ansible/ansible/issues/37995

[2018-04-02 14:12] #38129 closed, assigned to nobody

[2018-04-02 14:20] alikins opened #38178 "Some uses of JSONDecodeError need to be removed or made py3 only"
##### SUMMARY

Based on https://github.com/ansible/ansible/issues/38105 and some searching,
it looks like there are a few places where the py3 only json.JSONDecodeError
exception is used without checking for py3 or handling it being missing:

[code]

Some uses of it that do handle it being missing and should be okay:
[code]
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/plugins

[2018-04-02 14:27] alikins commented on #38176
'never' is a special tag (http://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html#special-tags) but at first glance it seems like the expected thing would be for --tags to show it. But I'll need to verify that is unexpected.

re https://github.com/ansible/ansible/issues/38176#issuecomment-377940045   hmm, not sure.
Pinging @bcoca, @jimi-c , @sivel

[2018-04-02 14:44] realged13 opened #38179 "NIOS: Lookup module failing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nios

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Centos 7

##### SUMMARY
Trying to run the nios lookup plugin but fails.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The host information from the host_name var prompt.

##### ACTUAL RESULTS

[code]

[2018-04-02 14:49] CharlesG1 opened #38180 "REPOS"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-02 14:53] sivel commented on #38150
The regex you are using, results in the following match groups:

1. `rdr-anchor "TEST.com.apple/*"\n`
2. `rdr-anchor "com.apple/*"`

Using those matches and the replace line we get:

[code]

In python the regex line for matching roughly would look like:

[code]

[2018-04-02 14:53] #38150 closed, assigned to nobody

[2018-04-02 14:55] sivel commented on #38180
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-02 14:55] #38180 closed, assigned to nobody

[2018-04-02 15:06] bobsaintcool opened #38182 "subelements plugin document is missleading on optional flags"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

subelements

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
Arch Linux (manager and managed) from distribution package.

##### SUMMARY
Looking at the document its seems that the subelements plugins can get a third flag telling if it could stop on error or not if the subkey is not found for a

[2018-04-02 15:07] sivel commented on #38134
The command `systemctl status rsyslog` is returning an exit code of `3` which ansible considers a failure scenario.

You will need to use `ignore_errors: true` or something like `failed_when: servcstat not in [0, 3]` on that `command` task. This will prevent ansible from stopping on that error.

You may also find benefit in the new `service_facts` module added in ansible 2.5: http://docs.ansible.c

[2018-04-02 15:07] #38134 closed, assigned to nobody

[2018-04-02 15:08] sivel commented on #38130
We can keep this and the PR to enable them consolidated.  There is no need to open an additional issue.

Ref: https://github.com/ansible/ansible/pull/38084

[2018-04-02 15:08] #38130 closed, assigned to nobody

[2018-04-02 15:27] bobsaintcool opened #38183 "subelements plugins returns a dict if only one subelements match"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
subelements

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing output

##### OS / ENVIRONMENT
Arch Linux (manager and managed) from distribution package.

##### SUMMARY
Using the new loop merged feature with the subelement plugins seems to not works when the later match only one subelement from the given list of dict. However, when at le

[2018-04-02 15:58] Akasurde commented on #31363
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-04-02 15:58] #31363 closed, assigned to nobody

[2018-04-02 15:59] freeseacher commented on #37224
@colin-nolan
my use case is to init value in consul during deploy. if it is changed in inventory i want to update it in consul
i have such task in the play
[code]

in consul role i have `service_config_update`
[code]
that will fail if no key. with
[code]
so i can't check if it is already there. i think that can be fixed pretty simple.
then if value is unset i have to create templated json and put

[2018-04-02 16:21] sivel commented on #38183
The `loop` keyword always requires that you pass it a list.  `lookup` can sometimes not pass a list.

You will need to handle that using with `wantlist=True` or by using `q`/`query` in place of `lookup`:

[code]

[code]

`q`/`query` provides a more consistent result, making it often a better choice when using `loop`.

If you have further questions please stop by IRC or the mailing list:

   * IRC:

[2018-04-02 16:21] #38183 closed, assigned to nobody

[2018-04-02 16:27] ssteinerx opened #38186 "find module does not set `failed` "Common variable""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

find

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

find module does not set the common `failed` variable in its return value

##### STEPS TO REPRODUCE

Try to find something, check return value, `failed` value not set.

[code]

##### EXPECTED RESULTS

`failed` set to true or false depending on wh

[2018-04-02 16:36] sivel commented on #38186
A key of `failed` is not guaranteed to be returned by all modules, and should not be directly relied upon.

Instead ensure use of the `failed` test, such as `result is failed`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-02 16:36] #38186 closed, assigned to nobody

[2018-04-02 16:49] arodier commented on #4170
Same error here. I add my version of ansible:
[code]

[2018-04-02 16:52] saichint opened #38187 "nxos_aaa_server_host issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_aaa_server_host

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)
##### SUMMARY

##### STEPS TO REPRODUCE

There are few issues with nxos_aaa_server_host

1. If key type is 7, the current code is NOT idempotent which is not correct (even though it is documented). There is

[2018-04-02 17:20] Akasurde commented on #38161
@maxamillion From my preliminary testing PR works for this issue.

[2018-04-02 17:23] cjauvin commented on #37912
I am also affected by this bug: in my case, I want to use `chdir` because my `requirements.txt` contains a `-e .` item, as it is a Flask app.

[2018-04-02 17:57] alikins commented on #38182
pinging @dharmabumstead

[2018-04-02 17:59] sivel commented on #38182
Just as an FYI, I tested back to 2.3.0 and the `'skip_missing=True'` syntax did not work there either.

[2018-04-02 18:00] s-hertel commented on #38123
@guybluebat Do you have ec2:DescribeInstances permitted in your IAM policy?

[2018-04-02 18:00] s-hertel commented on #38123
Please reopen this if adding that doesn't fix the problem for you.

[2018-04-02 18:06] guybluebat commented on #38123
Yes, the IAM account has the AmazonEC2FullAccess role applied which has the following EC2 policy:

{
            "Action": "ec2:*",
            "Effect": "Allow",
            "Resource": "*"
}

Also, this same IAM user works with the same task using the ec2_remote_facts module under Ansible 2.3.

[2018-04-02 18:09] civik opened #38189 "libvirt module - `command: status` should not fail when `name:` is undefined."
##### ISSUE TYPE

 - Bug Report
 - Enhancement

##### COMPONENT NAME

virt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

null

##### OS / ENVIRONMENT

OSX 10.12.6

##### SUMMARY

Virt module should not throw error when using `command: status` on a `name:` that doesn't exist.  This makes it really cumbersome to use by having to add extra checking and conditionals to check for the VM name in

[2018-04-02 18:10] wbreeze opened #38190 "Invalid yml causes include_vars to hang or freeze without output"
I made some attempt to sift through the 3,511 issues. Apology for adding yet another to this hopelessly large list. I did *not* set-up for development and try to reproduce.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS High Sierra 10.13.3

##### SUMMARY

`ansible-playbook test.yml -vvv

[2018-04-02 18:42] s-hertel commented on #38123
@guybluebat That is odd... I think the wrong IAM user may be picked up then since the failure message indicates the user lacks permission for that one operation. I just successfully used it on Ansible 2.4 and devel. Can you try passing the IAM profile or access keys directly to the task? If it's picking up the wrong one that should work.
[code]

Are you specifying your credentials with environment

[2018-04-02 18:46] guybluebat commented on #38123
It's using the default profile in ~/.aws/credentials, but I'll try explicitly passing the profile and/or keys in as you suggested.

[2018-04-02 18:47] maxamillion commented on #38161
@Akasurde awesome, greatly appreciated!

[2018-04-02 18:51] IvanovOleg opened #38193 "Ansible 2.5: delegate_to with inventory_hostname returns None in the task output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Core
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7
##### SUMMARY

If I use the delegate_to parameter with an inventory_hostname of the required node I get:
`changed: [k8s-agent-0 -> None]`
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`changed: [k8s-agent-0 -> k8s-master-0]`
##### ACTUAL RESUL

[2018-04-02 18:58] bcoca commented on #15321
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-04-02 18:58] #15321 closed, assigned to jimi-c

[2018-04-02 19:20] oogaboogabooga commented on #17935
have a look at this....
https://github.com/ktbyers/ansible_course/blob/master/ansible_ssh_errors.md

[2018-04-02 19:51] rogerscuall commented on #37227
Hi @trishnaguha, any update??

[2018-04-02 20:00] s-hertel commented on #38123
Going to spend some more time trying to reproduce this later today, but please let me know if the results of explicitly passing the credentials to help me troubleshoot.

needs_info

[2018-04-02 20:11] sivel commented on #38193
I cannot duplicate this with any simple reproducer that I have tried.

Please provide a minimal reproducer that shows this behavior.

needs_info

[2018-04-02 20:26] jlozadad commented on #37404
in my case I'm modifying a AMQ broker.xml after being created.
[code]
Here are the results:
[code]

[2018-04-02 20:53] sivel commented on #38189
You will need to extend your logic further to ensure you do not try to use a key that may not exist.

Such as one of the following:

[code]

or

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-04-02 20:53] #38189 closed, assigned to nobody

[2018-04-02 21:08] guybluebat commented on #38123
Ok, I tried setting the profile explicitly in the task and received an error saying the profile couldn't be found:

[code]

If I explicitly supply the AWS access and secret keys, then it works fine. The way I normally pass in the profile (which has been working under Ansible 2.3) is by setting it as part of the command line, eg:

AWS_PROFILE=testprofile ansible-playbook -i inventory/aws/prod/ play

[2018-04-02 21:13] #32133 closed, assigned to nobody

[2018-04-02 21:17] sivel commented on #38190
I've submitted a fix for this issue at #38194

[2018-04-02 21:29] sivel commented on #38123
@guybluebat

From the output I see:
[code]

This means the module (python code) is being run on `172.26.0.171`.  Do you have the credentials available on that remote target machine?

Otherwise, maybe you are wanting to use `delegate_to: localhost` so that it executes locally, and not on the remote machine?

needs_info

[2018-04-02 21:34] dharmabumstead commented on #38087
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker, and let us explain our reasons for thinking this:

This works under the currently released version of Firefox. Please consider opening a bug with the Firefox dev team.

If you can stop by the tracker or forum for one of those

[2018-04-02 21:34] #38087 closed, assigned to nobody

[2018-04-02 21:51] freeseacher commented on #37224
of cause there were an error.
The key was created during the very first 'Read' request. but i can live with it and handle it well.
current code i really can't understand how to adapt

[2018-04-02 21:52] harekrishna0 commented on #38154
This seems to be a white space trailing issue at the end. On some of the configs, there are some whitespaces - like

 "stdout": [
            "logging host 192.168.1.1 \n

Checkout that white space at the end of 1.1 - when it compares this line with the variable file, it doesn't match because the lines in file don't have a space at the end. Thus, this line gets eventually deleted with a "no" comma

[2018-04-02 22:20] guybluebat commented on #38123
No, the same profile isn't on the remote server. However, the default profile on that server is set has credentials for a user that also has the EC2FullAccess role permissions.

Part of my confusion is that it's confusing why the ec2_remote_facts module works under ansible 2.3 without any issues. Could it be that ec2_instance_facts (and ec2_remote_facts in 2.4) isn't using the default profile on t

[2018-04-02 22:31] dmsimard commented on #20492
@ryansb I am able to reproduce the issue with Ansible 2.5.0 on python3.

[code]

Despite:
[code]

Downgrading to Ansible 2.4.3.0 doesn't resolve the issue.
I have a suspicion that this might have to do with py2 vs py3 but I don't have the time to reproduce on py2 right now.

FWIW I'm seeing this both on Ubuntu and Fedora as the control node.

[2018-04-02 22:59] ssteinerx commented on #38186
The problem is that every module has a different interpretation of what to do on failed operations and, in my opinion, making them all return something consistent would be a huge step in the right direction.

[2018-04-02 23:05] willthames commented on #38123
Try using aws_caller_facts with the same parameters to see what profile is actually being used

[code]

would trivially achieve that without needing a full playbook run. The `arn` is probably the most useful return value.

[2018-04-02 23:09] #20954 closed, assigned to nobody

[2018-04-02 23:22] guybluebat commented on #38123
When I run that I get the following:

172.26.0.171 | FAILED! => {
    "failed": true,
    "msg": "The module aws_caller_facts was not found in configured module paths. Additionally, core modules are missing. If this is a checkout, run 'git pull --rebase' to correct this problem."
}

I ran git pull --rebase but my stable-2.4 working copy is already up to date and I still get the same error when I r

[2018-04-03 00:14] #38085 closed, assigned to nobody

[2018-04-03 00:21] willthames commented on #38123
Can you use stable-2.5 even if only just to run aws_caller_facts and then change back to stable-2.4?

[2018-04-03 00:29] guybluebat commented on #38123
Unfortunately, I get the same error:

172.26.0.171 | FAILED! => {
    "msg": "The module aws_caller_facts was not found in configured module paths. Additionally, core modules are missing. If this is a checkout, run 'git pull --rebase' to correct this problem."
}

[2018-04-03 00:34] willthames commented on #38123
Apologies, please use devel for aws_caller_facts (I could have sworn it was merged long enough ago to make 2.5, but apparently I'm wrong, version_added is indeed 2.6)

[2018-04-03 00:55] willthames commented on #37834
Fixed by #38072

[2018-04-03 00:59] willthames commented on #37496
@jwitko the links to the gists in your report are identical - there isn't a gist with the results of running the tasks. Difficult to see what might be going on without the results.

[2018-04-03 01:34] willthames commented on #38133
YAML form for tasks has long been [best practice](https://www.ansible.com/blog/ansible-best-practices-essentials), and works well here too:

[code]

[2018-04-03 01:35] willthames commented on #38133
Would be good to add that to the [documentation's best practices](http://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html)

[2018-04-03 02:13] willthames commented on #33841
I'd just say to use the existing [filters](http://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html?highlight=filters#filters-for-formatting-data) to convert your policy document to the supported format

Most IAM modules will accept a policy document string, so `policy: "{{ lookup('template', '/path/to/policy/document.yaml.j2') | from_yaml }}"` should work.

Of course, using jinja

[2018-04-03 02:13] #33841 closed, assigned to nobody

[2018-04-03 03:18] yuwzho commented on #37934
-label bug

+label feature

[2018-04-03 04:06] savishy opened #38198 "azure_rm_securitygroup cannot create rules that allow comma-separated IP address prefixes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`azure_rm_securitygroup`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control Machine Details:

[code]

##### SUMMARY

The `azure_rm_securitygroup` module is unable to set security rules where the `source_address_prefix` is a sequence of IP addresses. It _is able to set security rules_ when the `source_a

[2018-04-03 04:55] mponton opened #38199 "Backslash escaping logic appears to be wrong inside a Jinja template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
templating

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Backslash escaping logic appears to be wrong inside a Jinja template. Trying to use a string that ends with a backslash in a template may fail.

##### STEPS TO REPRODUCE

Execute the fo

[2018-04-03 05:18] retr0h opened #38200 "Collaborate together to bring in Molecule"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Role level testing

##### SUMMARY

Ansible is missing a testing framework.  [Molecule](https://molecule.readthedocs.io/en/latest/) has been around for a few years, and has a vibrant community.  I would like to propose we bring it under the Ansible umbrella, so that it can be integrated further into Ansible.

All of the major config managemen

[2018-04-03 05:53] #38187 closed, assigned to trishnaguha

[2018-04-03 06:00] wsgzao commented on #24884
@fyyc1204 @jborean93
Hello Everyone, I also use ansible 2.4.3.0 with powshell 3.0 deal windows7/2008/2012 and met the same problem below

Exception calling \"ValidateCredentials\" with \"2\" argument(s):

Just start the service "Server" that will solve the problem

[2018-04-03 06:06] ewigkeit1204 opened #38201 "ec2_instance: does not documents its example"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ec2_instance

##### SUMMARY
ec2_instance document describes ec2_instance_facts examples, but not describes ec2_instance examples.

[2018-04-03 06:28] AquaL1te commented on #38146
This is ridicules, do the Ansible devs even use CI themselves to test their code before a release? This is the second time, this also happened with Ansible 2.3 or 2.4... Why is every new point release so poorly tested?... Useless...

[2018-04-03 06:44] tonk commented on #38200
Yes, I agree. I'm absolutelty *not* a Molecule guru, but I test lot of roles with Molecule before sending them to version control. Would be a very nice addition.

[2018-04-03 07:18] zwindler commented on #35094
Is anyone watching rabbitmq module anymore ? I have seen many PR that are stuck for months for no reason and bugs that go unanswered.

Is there anyone maintaining this and if that's not the case, what can be done ?

[2018-04-03 07:27] machacekondra opened #38203 "ovirt: facts modules with fetch_nested return id as list"
Description of problem:
Ansible module ovirt_cluster_facts with 'fetch_nested: True' return id value as list. Id is unique so it should be only string.
Other get facts modules return list also.

Version-Release number of selected component (if applicable):
ovirt-engine-4.2.2.2-0.1.el7.noarch
ansible-2.4.3.0-1.fc27.noarch

How reproducible: always

Steps to Reproduce:
1. run ansible playbook
[code]

[2018-04-03 07:54] maccadia opened #38204 "in connect_to_influxdb TypeError: __init__() got an unexpected keyword argument 'retries'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

influxdb_database

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- OS running Ansible : Ubuntu 16.04.4 LTS
- Managed OS : Ubuntu 16.04.4 LTS

##### SUMMARY

MODULE FAILURE when creating database which already exists.

##### STEPS TO REPRODUCE

I use this task in a playbook. It used to work, but I get an error now.

[2018-04-03 08:01] anisse commented on #38087
This is fixed in 60.0b8. Thanks.

[2018-04-03 08:02] dj-wasabi commented on #38200
I am a big fan and user of Molecule, so I would love to see them together. Maybe @resmo can help?

[2018-04-03 08:15] resmo commented on #38200
I am not the "right" person, because this would be more like a core feature. However, I had a quick look at the license of molecule and noted, it has MIT which is not compatible with GPL. Just my 2 cents.

[2018-04-03 08:49] colin-nolan commented on #37224
With https://github.com/ansible/ansible/pull/37837 you would do:
[code]
which won't fail if the key isn't there, rather it will return something that looks like this:
[code]

Then your conditionals are based on the values of `data`, e.g.:
[code]

[2018-04-03 09:03] #26173 closed, assigned to abadger

[2018-04-03 09:18] saargrin opened #38205 "add "backup" flag to win_copy module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/rundeck/ansible/hosts']
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
##### OS / ENVIRONMENT

CentOS 7.1

##### SUMMARY

win_copy module does not have "backup" feature similar t

[2018-04-03 09:21] freeseacher commented on #37224
ok. with #37837
on
[code]
if key is not exists got
[code]
and update task
[code]
but on node
[code]

[2018-04-03 09:29] okgolove commented on #37704
Yeah, there is this error in the ansible module.
I think it's because of the method **_get_url_data()**.
Jenkins script API returns 200 in the case of missing plugin and **_get_url_data()** doesn't check Jenkins script console error, only status:
[code]

If you go to the Jenkins script console and try to run something like this:
 `d = Jenkins.instance.updateCenter.getPlugin("asd").deploy(); d.get(

[2018-04-03 09:49] pawelmoll commented on #36743
bot_status

[2018-04-03 10:19] mkrizek commented on #18901
This is expected, from the doc [1] about the `deb` param:

_Path to a .deb package on the **remote machine**._

I suspect your `files` directory is on the controller? Your are supposed to copy the file on the remote machine in a separate task.

[1] http://docs.ansible.com/ansible/latest/modules/apt_module.html

[2018-04-03 10:19] #18901 closed, assigned to nobody

[2018-04-03 10:25] bobsaintcool commented on #38182
Without being able to submit a good patch, I guess its better to follow the documentation and having extra argument as string rather than dict? The former seems to be more used in other plugins?

[2018-04-03 10:47] colin-nolan commented on #37224
@freeseacher I see what you mean - I can replicate the same problem with that now. The execution flow follows the correct path and ends up at https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/clustering/consul_kv.py#L214-L216 for the change but then, for some CAS related reason, it doesn't update.

I don't really have time to follow this bug further at the moment but it would be gr

[2018-04-03 11:13] pierre8778 opened #38206 "Module user : Unable to manage local system user when it exists in LDAP, even if option "local" is set to "yes""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module: user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(directory)s/%%h-%%r
DEFAULT_CALLBACK_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/plugins/callback', u'/local/ansible/data/plugins/callback']
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['timer', 'pro

[2018-04-03 11:15] Akasurde commented on #38204
@MAccadia Thanks for reporting this issue. You are right. There were some changes around API usage in influxdb database - [here](https://github.com/ansible/ansible/pull/33327).

Could you please try to update your influxdb Python library ?
needs_info

[2018-04-03 11:16] gforster commented on #31929
I would much rather see this implemented than simply have the errant doc corrected. I have a use case where I need to create separate static inventory files from a dynamic inventory based on certain groups. It seems I should easily be able to do that with --limit and cannot.

[2018-04-03 11:27] brodo commented on #29255
I have this problem in 2.5.0. For example with the node-red package:
[code]

[2018-04-03 11:33] s-hertel commented on #38123
@guybluebat Do you have a ~/.boto or /etc/boto.cfg with a [Credentials] section in addition to ~/.aws/credentials or your instance role (all on the remote server running the playbook)? I suspect if you just have an ~/.aws/credentials it will let you use the ec2_instance_facts and ec2_remote_facts (assuming you don't have source profiles or role arns in the default profile you're using since those

[2018-04-03 11:38] MAccadia commented on #38204
Thanks for the answer. I should have tried to update python influxdb library. It solves the issue. I was using ubuntu official package `python-influxdb`.

What I did (on managed server) :
[code]

Time to translate that into Ansible task ;-)

[2018-04-03 11:39] nervo opened #38207 "Action plugins facts don't take precedence over host vars in 2.5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Action plugins

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_FORCE_COLOR(env: ANSIBLE_FORCE_COLOR) = True
DEFAULT_BECOME_FLAGS(env: ANSIBLE_BECOME_FLAGS) = -H -S -n -E
RETRY_FILES_ENABLED(env: ANSIBLE_RETRY_FILES_ENABLED) = False

##### OS / ENVIRONMENT
Debian Stretch

##### SUMMARY
Action plugins can return ansible facts. Prior to

[2018-04-03 11:53] juanvalino opened #38208 "indexed_items lookup does not return a list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
indexed_items lookup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When the indexed_items lookup is applied to a list with only one element it returns a tuple and not a list. This makes the lookup incompatible with the new `loop` keyword because it expects a list.

##### STEPS TO REPRODUCE
H

[2018-04-03 11:55] yuwzho commented on #38198
@savishy Please try the following playbook

[code]

[2018-04-03 12:11] ghost opened #38209 "Add CNAME capability using nios_host_record"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

nios_host_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Please can we add CNAME capability to the role.

##### STEPS TO REPRODUCE
N/A
##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-03 12:16] mtthb commented on #38037
I can reproduce, even for tasks not in `import_tasks`.
Gist available: https://gist.github.com/mtthb/ae67fa7587ac456d59d0a284bf85df94

`include_tasks` does not seem to handle `delegate_to`

[2018-04-03 12:19] nervo commented on #38207
Yep, after debugging, the problem is related to https://github.com/ansible/ansible/issues/37569, and is also introduced by https://github.com/ansible/ansible/pull/32302/files#diff-cdc3533e4ed5c9a16c1bbfcc60596f60, where `set_fact` module is hardly set as the only one module able to set non persistent facts...

[2018-04-03 12:24] yuwzho commented on #38141
I never meet such requirement unless in the development virtual environment. And I try it in [Cloud Shell](https://shell.azure.com) doesn't meet such problem. @IvanovOleg Could you please share more information? Like the output of `ansible --version` and `pip list | grep 'azure'`

[2018-04-03 12:24] yuwzho commented on #38141
+label need_info

[2018-04-03 12:29] IvanovOleg commented on #38141
[code]

[code]
I've installed ansible via `pip install ansible[azure]`

[2018-04-03 12:29] yuwzho commented on #38198
notabug

@savishy Please try the following playbook

[code]

[2018-04-03 12:33] yuwzho commented on #38141
Will you meet such problem when running other modules?

[2018-04-03 12:40] IvanovOleg commented on #38141
no. only this module

[2018-04-03 12:44] AlanCoding commented on #31245
Has this been abandoned, or will it make it into a future release?

Again, last I saw of this was @jimi-c's branch https://github.com/ansible/ansible/compare/devel...jimi-c:improved_stats

[2018-04-03 12:51] yuwzho commented on #38141
I do meet some error, but not like yours. I ll put this into my backlog and look into this.

[2018-04-03 12:52] sbathe opened #38210 "RDS module facts command fails if the DBInstance does not have a DBName property"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rds

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
Try to gather facts about a specific RDS instance that does not have DBName set. Ansible exits with error.

##### STEPS TO REPRODUCE
Run the following yaml (after populating the correct values) against a RDS in

[2018-04-03 12:53] hypery2k commented on #28768
Can confirm for Ansible 2.5.0, too

[2018-04-03 12:56] yuwzho commented on #36677
notabug

[2018-04-03 13:15] sbathe commented on #38210
In case it helps, I got it working with the following patch:
[code]

that is against the stable-2.5 branch.

[2018-04-03 13:20] youam opened #38212 "docs.ansible.com page header to large for 2.5/latest"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
2.5 / latest

##### CONFIGURATION
./.

##### OS / ENVIRONMENT
chrome on android, probably other mobile browsers (verified on lineageos 14.1 (android 7.1.2) on two different phones)

##### SUMMARY
Header of website is fixed to about half the visible space, leaving only a small viewport to the actu

[2018-04-03 13:22] morokin commented on #38208
Seems exactly same error in subelements lookup, if I feed dictionary with single element in sub list it returns same error. Should I open new issue?

[2018-04-03 13:26] netsandbox opened #38213 "update release_and_maintenance.rst"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Documentation

##### SUMMARY
`docs/docsite/rst/reference_appendices/release_and_maintenance.rst` wasn't updated after the 2.5 release

##### EXPECTED RESULTS
`docs/docsite/rst/reference_appendices/release_and_maintenance.rst` says 2.5 is the latest released version.

##### ACTUAL RESULTS
`docs/docsite/rst/reference_appendices/release_a

[2018-04-03 13:38] maxamillion commented on #38213
cc @dharmabumstead

[2018-04-03 13:38] maxamillion commented on #38212
cc @dharmabumstead

[2018-04-03 13:41] maxamillion commented on #38207
cc @bcoca

[2018-04-03 13:47] sekharvajjula opened #38214 "Ansible loop reveals passwords on failure in output even with loop_control: label"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

loop_control

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Ansible loops (with_dict, with_nested, with_items, etc...) reveals passwords on failure, in output even with "loop_control: label".

Using loop_control http://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#loop-control

[2018-04-03 13:51] mkrizek commented on #38208
@morokin can you paste your task here?

[2018-04-03 14:15] NorbertRonecker opened #38215 "Usage of loop_control-var inside the looped List fails."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

loop
loop_control
loop_var

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/home/nronecker/projects/exgenio/ansible/ansible.cfg) = -o StrictHostKeyChecking=no
DEFAULT_LOG_PATH(/home/nronecker/projects/exgenio/ansible/ansible.cfg) = /tmp/ansible.log
DEFAULT_SSH_TRANSFER_METHOD(/home/nronecker/projects/exgenio/ansible/ansib

[2018-04-03 14:26] MAccadia commented on #38204
Sure, here it is : Ubuntu 16.04.4 LTS

[code]

[2018-04-03 14:27] mysqlbox opened #38216 "mysql_user: Remove anonymous users"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_REMOTE_PORT(/etc/ansible/ansible.cfg) = 2201
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
My server is on Linux 3.19.0-15-generic #15-Ubuntu SMP Thu Apr 16 23:32:37 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

The managed server is on Linux 4.15.8-x8

[2018-04-03 14:28] sivel commented on #38208
The `loop` keyword always requires a list, and it is known that in single item lists that `lookup` will not return a list.

Due to this, in order to work with loop, you have 2 options to satisfy the requirements:

1. Utilize the new `q`/`query` instead of `lookup`, which was created to provide a more consistent result/interface for easier use with `loop`:

[code]
2. Add `wantlist=True` to your loo

[2018-04-03 14:28] #38208 closed, assigned to nobody

[2018-04-03 14:30] Akasurde commented on #29476
@ArKam I am not sure too. But happy to have this feature.

[2018-04-03 14:30] krunal7558 opened #38217 "'facts-demo.yml' code block typo in documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

https://docs.ansible.com/ansible/latest/network/user_guide/network_best_practices_2.5.html

A typo under code block for 'facts-demo.yml' file in above URL.
Under following task in Jinja template Hostname: should print ansible_net_hostname inste

[2018-04-03 14:31] Akasurde commented on #38204
@MAccadia Thanks for the information.

[2018-04-03 14:31] hyweldt opened #38218 "git module does not allow override of local tmp directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[default]
local_tmp=~/ansible-tmp/
remote_tmp=~/ansible-tmp/

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When attempting to clone with a non-executable /tmp directory, the git module fails with a permissions error.  From local hacking on the git module I've found that write_ssh_wrapper doesn'

[2018-04-03 14:31] craigfrancis opened #38219 "lineinfile not working with `insertbefore: BOF` in Ansible 2.5.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
ansible 2.5.0
  config file = /Volumes/WebServer/Projects/ansible.local/ansible.cfg
  configured module search path = [u'/Users/craig/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Library/Python/2.7/site-packages/ansible
  executable location = /usr/local/b

[2018-04-03 14:32] snowleopard75 opened #38220 "Cannot use include_role with vars as documented"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
2.4.2
[code]

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes
ANSIBLE_SSH_CONTROL_PATH_DIR(/ansible/ansible.cfg) = ./.ansible/cp
COMMAND_WARNINGS(/ansible/ansible.cfg) = False
DEFAULT_BECOME(/ansible/ansible.cfg) = True
DEFAULT_GAT

[2018-04-03 14:35] sivel commented on #38218
Duplicate of https://github.com/ansible/ansible/issues/33947

[2018-04-03 14:35] #38218 closed, assigned to nobody

[2018-04-03 14:41] ryansb commented on #38201
Confirmed docs bug. Assigning to me.

[2018-04-03 14:42] sivel commented on #38220
This is likely the result of having a file named something like:

* `vars`
* `vars.yml`
* `vars.py`
* `vars.json`

Living in a directory where ansible looks for modules.  Potentially either within `/ansible` or within a directory called `library` next to your playbook. The extension does not matter, as it is not considered when looking for modules.

There is an open pull request that should help p

[2018-04-03 14:46] gintautassulskus opened #38221 "localhost is ignored when using dynamic inventory with --limit localhost"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

limit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have a playbook with two plays:

[code]

The following command behaves differently depending on what is returned by the dynamic inventory :
`ansible-playbook -i dynamic_inventory --list-hosts --limit=localhost`
Where `dynamic_inventory` is a dyn

[2018-04-03 14:51] sivel commented on #38221
I'm not sure if this is a bug or not.

The current implementation of `--limit` would require `localhost` to be returned by the dynamic inventory script, or any inventory for that matter.

Implicit localhost (http://docs.ansible.com/ansible/devel/inventory/implicit_localhost.html) is created just in time during playbook execution as referenced if localhost does not exist in the inventory.

Due to t

[2018-04-03 14:54] gforster commented on #31929
@bcoca - understood. However, it does seem to work with the --graph param which is interesting. I can get close to what I need using --graph --vars --limit <SUBSET>.

[2018-04-03 14:57] Cool0329 opened #38222 "test"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-04-03 14:59] #38190 closed, assigned to sivel

[2018-04-03 15:01] alex-left opened #38223 "module mount - state "mounted" is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mount module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

RETRY_FILES_ENABLED = False

##### OS / ENVIRONMENT

ubuntu 16.04 4.13.0-36-generic

##### SUMMARY

A simple task to configure a mount point with state "mounted", if already mounted, ansible raises an error. Should be idempotent "mounted" is the declared state.
[code]

[code]

##

[2018-04-03 15:10] paulrowlands opened #38226 "run_once with delegate_to not working as documented"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

run_once with delegate_to

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### SUMMARY

The Ansible documentation (http://ansible-docs.readthedocs.io/zh/stable-2.0/rst/playbooks_delegation.html) gives an example of

[2018-04-03 15:12] sivel commented on #38226
Please provide additional actionable information about what you are doing, what you expect and what exactly is happening currently.

needs_info

[2018-04-03 15:16] gintautassulskus commented on #38221
I find this behaviour confusing from the user's perspective. Please consider the following use case based in the example playbook, provided in the original post.

The first play`Play 1` should execute on `localhost` and create server instances. The second play `Play 2` is supposed to run on all created server instances. With `--limit` I can then create and provision different groups of servers, e.

[2018-04-03 15:17] NorbertRonecker commented on #38215
A Quick Test reveals that the Problem is still existing under Python2:
[code]

[2018-04-03 15:20] sivel commented on #38221
cc @bcoca thoughts here?

I'm leaning perhaps more towards a docs update to mention that `--limit` does not work with implicit localhost.

[2018-04-03 15:31] jtyr commented on #38223
Thanks for your report. I think you getting this error because it was mounted with slightly different parameters than what you specified in Ansible. Please could you try to unmount it and mount it again via Ansible and then run Ansible again to see if it's idempotent?

[2018-04-03 15:32] #38215 closed, assigned to nobody

[2018-04-03 15:34] mkrizek commented on #37778
@sangdrax8 I am afraid I am not aware of a way of doing this without specifying version. Since the ansible `apt` module mirrors how `apt` itself deals with that situation, there's not much we can do, closing the issue.

[2018-04-03 15:34] #37778 closed, assigned to nobody

[2018-04-03 15:36] szhem opened #38227 "with_all_found lookup"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

!component

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

From time to time it's necessary to include OS-specific variables overriding more generic ones with more specific ones, e.g.
###### ubuntu.yml
[code]
###### ubuntu-16.yml
[code]
In case there are a lot of variables and you need to chan

[2018-04-03 15:38] NorbertRonecker commented on #38215
Okay. This Race-Conditioning inside the own List is the Problem, got that.

Then this is running "as expected" Probably because of race-conditioning too:
[code]
as Var on the Playbook as above.
So i thought "Well... looks like the same, so it's okay" ^^ Thanks for clarify me.

[2018-04-03 15:39] #37458 closed, assigned to nobody

[2018-04-03 15:40] paulrowlands commented on #38226
Sorry - I was saving between completing the form - is there enough info there now?

[2018-04-03 15:42] zozo6015 commented on #16837
I just got the same issue with ansible 2.5.0
the host machine does have 8GB or ram and I added 16GB of swap when I first got the error hoping that this would be fixing the issue. The error I got is the following on a fetch task:

    TASK [es_bkp : getting the files to local] ***************************************************************************************************************************

[2018-04-03 15:48] sivel commented on #38226
The problem is with how you are setting `ipa_host`:

[code]

That `ansible_fqdn` will still be the value of the targeted host, and not the delegated host.

You likely instead want:

[code]

needs_info

[2018-04-03 15:54] paulrowlands commented on #38226
Aha - I think you are right - the error was between the chair and the keyboard!

I've made that change and now it's talking to the right server.

Many thanks for your help!

[2018-04-03 15:54] maxamillion commented on #38199
!component =lib/ansible/template/__init__.py

[2018-04-03 15:55] maxamillion commented on #38199
I'm pretty sure the `_escape_backslashes` function in `lib/ansible/template/init.py` is making some incorrect assumptions here.

[2018-04-03 15:58] paulrowlands commented on #38226
I've now noticed that the runbook messages & play recap still mention the "wsl-mon-01" server, even though the tasks do get performed on the correct one.

TASK [S516-freeipa-group-hosts - freeIPA hosts groups membership] **********************************
changed: [wsl-mon-01 -> wsl-freeipa-01] => (item=freeipa-client-servers)
changed: [wsl-mon-01 -> wsl-freeipa-01] => (item=freeipa-servers)
chang

[2018-04-03 16:31] swkarr commented on #36170
I agree.
Other use cases include when your validation or debug code requires inspection tasks unnecessary for normal playbook execution.  For example calling a REST API to gather facts.

[2018-04-03 16:49] bcoca commented on #38221
The error is not cause of limit not matching an existing host, that would be a warning:
[code]
The issue is that once the limit is applied, the play selection doesn't match any hosts (we might want better wording on error here).

It seems to work as expected, if localhost is in inventory, no hosts are matched, if the localhost is 'implicit', we create it on demand and ignore inventory restrictions

[2018-04-03 16:56] bcoca commented on #31929
@gforster afaik `--limit` does not work with `ansible-inventory`, i have a PR to remove it from the help display for that utility

[2018-04-03 17:20] maxamillion commented on #38214
Hello and thank you for the bug report!

Ansible 2.3.0.0 is End of Life and will not be getting new updates, for more information please consult [Ansible Lifecycle](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html).

We have however updated Ansible 2.3.x to Ansible 2.3.3. Would you be able to test against 2.3.3 and verify that this issue is persisting there

[2018-04-03 17:22] poiriermike opened #38232 "`win_updates` module fails with keyerror `changed`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

win_updates module fails in ansible 2.5
##### STEPS TO REPRODUCE

Attempt to use the win_updates module with ansible 2.5 against a windows host. Bug happens both when state is `installed` or `searched`.

[code]

##### EXPECTED RESULTS