[2022-03-10 01:12] sivel commented on #77246
I'm guessing your specific issue has been resolved by https://github.com/ansible/ansible/pull/76459

[2022-03-10 02:43] bluikko commented on #77241
I tried to yesterday but seemed GitHub had some problem and I couldn't make any commits in the web interface. I can try again.

[2022-03-10 02:53] bluikko commented on #77241
Yes was definitely some GitHub issue yesterday. Today I can make commits no problem.

[2022-03-10 05:26] DuongThiNgocHoa opened #77248 "New automation variable by cli or ansible"
### Summary

After create a runbook and edit content, I want to create variable and set value for them. How can I do it by ansible or azure cli ? Please help me

### Issue Type

Feature Idea

### Component Name

task

### Additional Information

After create a runbook and edit content, I want to create variable and set value for them. How can I do it by ansible or azure cli ? Please help me

### C

[2022-03-10 07:15] mkrizek commented on #77248
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2022-03-10 07:15] #77248 closed, assigned to nobody

[2022-03-10 09:04] IronTooch opened #77249 "password_hash('bcrypt') in Linux for Windows (WSL) system does not generate strong passwords"
### Summary

password_hash generates a weak password result of `*0` on a WSL Ubuntu 20 (Focal) installation that does not have the `python3-passlib` package.

### Issue Type

Bug Report

### Component Name

password_hash

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Windows for Linux Subsystems (WSL) - Ubuntu 20.04 (Focal)

### Steps to Reproduce

[code]

### Expec

[2022-03-10 09:41] pascalgliewe opened #77250 "Ansible throws raise ApiException(http_resp=r) // (kubernetes-cluster)"
### Summary

Hello there!

iam trying to setup a kubernetes cluster with ansible (writing my own playbooks) and received this big error message from ansible at the task from "Create a dashboard service account".

Don't really know what to do about this. It looks like it is trying to connect with port "80" instead with the port thats set in the config and i can't find a way to change it.

if more i

[2022-03-10 09:47] mkrizek commented on #77250
!component =lib/ansible/modules/clustering/k8s/k8s.py

[2022-03-10 09:51] #77250 closed, assigned to nobody

[2022-03-10 10:09] stroobl opened #77251 "User module allows duplicate ids when local: true"
### Summary

The defaults in the ansible.builtin.user module doesn't allow duplicate user ids (default non_unique: no). If you set local: true, the check for duplicate uid is not executed and a user with a duplicate id can be created.

### Issue Type

Bug Report

### Component Name

user

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8.5

### Steps to Reproduce

[2022-03-10 10:40] rizlas commented on #38267
Experiencing the same. Unarchive of multiple zip, 12MB total, to a nfs folder takes up to 20 minutes.

`ansible [core 2.12.3]`

[2022-03-10 11:15] pascalgliewe opened #77252 "Ansible throws error: raise ApiException(http_resp=r) // k8s module"
### Summary

Hello there!

iam trying to setup a kubernetes cluster with ansible (writing my own playbooks) and received this big error message from ansible at the task from "Create a dashboard service account".

Don't really know what to do about this. It looks like it is trying to connect with port "80" instead with the port thats set in the config and i can't find a way to change it.

if more i

[2022-03-10 11:24] mkrizek commented on #77252
!component =lib/ansible/modules/clustering/k8s/k8s.py

[2022-03-10 11:26] #77252 closed, assigned to nobody

[2022-03-10 11:48] mkrizek commented on #77249
I do not have access to `WSL` to try and reproduce the issue but a couple of notes:
* If `passlib` is not installed then the `crypt` module is used, only if `crypt` module cannot be used the error is triggered; looking at the `crypt` module might reveal what is the issue.
* Note that `WSL` is not supported.

[2022-03-10 11:51] mkrizek commented on #77246
needs_info

[2022-03-10 13:04] ponchofiesta opened #77253 "Handlers not running in correct order when using dynamically generated handlers"
### Summary

According to docs "Handlers always run in the order they are defined"[1]. But when I'm using a static handler and a dynamic handler, Ansible runs all but the last dynamic handler, the static handler and than the last dynamic handler.

[1] https://docs.ansible.com/ansible/latest/user_guide/playbooks_handlers.html

### Issue Type

Bug Report

### Component Name

handler

### Ansible Ver

[2022-03-10 13:23] #76656 closed, assigned to nobody

[2022-03-10 13:54] mkrizek commented on #77253
You left out the second part of the sentence which says:

The docs also say:

Since `reload systemd` is defined twice (each time `include_role` is included in `loop`), the second definition wins. That means that the order of definition of handlers is actually: 1. `restart service abc` (from the first loop iteration), 2. `reload systemd` (from the second loop iteration), 3. `restart service xyz` (f

[2022-03-10 13:57] mkrizek commented on #77213
needs_info

[2022-03-10 14:23] ponchofiesta commented on #77253
That sounds plausible. Would be helpfull to have control over handler priority here. I'd need to always use the first handler with the same name, not the last.

[2022-03-10 14:56] sivel commented on #77249
The availability of crypt across distributions isn't consistent, as it's not part of glibc, but some distributions add it.

It appears in at least some distributions that add it, the number of rounds cannot be supplied with `rounds=`

The Fedora man page specifically documents the rounds field as `$[0-9]{2}`.  Removing `rounds=` from the `setting` (`saltstring`) allows it to work on Ubuntu 20.04 a

[2022-03-10 15:20] WinterNis commented on #66497
Hello 👋

I just encountered this exact bug and was wondering about the status of this issue.

The only PR trying to fix it has been closed so I was wondering if there were still plans to fix it in the end ? Thanks !

[2022-03-10 15:22] sivel commented on #66497
The PR that was created went off in more directions than desired to address this specific bug, and was ultimately closed.  The issue is still open and labeled `easyfix` for anyone who wants to get a PR together, with changelog, and tests to validate the desired behavior.

[2022-03-10 15:44] #19760 closed, assigned to abadger

[2022-03-10 15:44] #19583 closed, assigned to nobody

[2022-03-10 15:44] #19290 closed, assigned to nobody

[2022-03-10 15:45] #18975 closed, assigned to nobody

[2022-03-10 15:45] #18973 closed, assigned to nobody

[2022-03-10 15:46] #18917 closed, assigned to nobody

[2022-03-10 15:46] #18910 closed, assigned to nobody

[2022-03-10 15:46] #18894 closed, assigned to nobody

[2022-03-10 15:46] #18559 closed, assigned to nobody

[2022-03-10 15:46] #18537 closed, assigned to alikins

[2022-03-10 15:46] #17953 closed, assigned to nobody

[2022-03-10 15:47] #16973 closed, assigned to nobody

[2022-03-10 15:47] #16437 closed, assigned to nobody

[2022-03-10 15:47] #16075 closed, assigned to nobody

[2022-03-10 15:47] #15916 closed, assigned to nobody

[2022-03-10 15:47] #14674 closed, assigned to nobody

[2022-03-10 15:48] #14270 closed, assigned to nobody

[2022-03-10 15:54] andreymal commented on #14270
@ansibot closing one of the most upvoted issues is definitely a bad idea

[2022-03-10 16:05] sivel commented on #14270
Just because it's a desired feature doesn't mean we need to keep an issue open that the core team has no current intention of implementing.  The feature can still be implemented, but we are working toward a day where we don't track feature requests as open issues.  Ultimately we want to get to a point where all feature requests are tracked as closed issues.

[2022-03-10 16:08] sivel commented on #77253
We have been working toward a place where ansible.cfg cannot impact how ansible fundamentally impacts playbook execution.  Such as where a playbook requires specific ansible.cfg configuration to work properly.  As such, I cannot see us adding a config toggle to define the order.  Even if we did, there are going to be times where that behavior would be just as problematic.

I suggest either making

[2022-03-10 16:12] andreymal commented on #14270
@sivel What's the point of closing? Is this a wrong place to submit feature requests? Then where is a right place?

[2022-03-10 19:10] mattclay commented on #77217
@felixfontein Do you have any thoughts on how this should be fixed?

[2022-03-10 19:17] mattclay commented on #77251
It doesn't look like we can do much with this other than add a note to the documentation.

[2022-03-10 19:20] stroobl commented on #77251
As far as i see, there is a check in the code that tests the username in /etc/password in case of local users. Maybe a similar check can be added for the uid?
Here: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/user.py#L1015

[2022-03-10 21:23] #77241 closed, assigned to nobody

[2022-03-10 21:25] mattchan-tencent commented on #77246
Hi @sivel, I'm not sure. Do you know when #76459 will make it into stable?

From reading the code, it seems to me that it won't work (TencentOS still reports `"ansible_distribution_major_version": "3"` in the PR and it is neither Fedora nor Amazon so it should take https://github.com/ansible/ansible/blob/0ee3815c555ce16e1749a26ce5478eeea72b91a8/lib/ansible/module_utils/facts/system/pkg_mgr.py#L93)

[2022-03-10 21:33] sivel commented on #77246
No one has submitted that PR for backport to any stable branches, so until that is done, it will land in the 2.13 release on May 23.

If it didn't fix the problem, then the author of the PR didn't address the issue they were attempting to solve.

I'll note that you have not provided much actionable information in this issue.  I happened to make an assumption that the OS in question was TencentOS b

[2022-03-10 21:36] mattchan-tencent commented on #77246
Yes, the box is running TencentOS 3.2. Sorry for not mentioning that earlier. I think this bug should technically bite anyone with a distribution major version under 8 though?

Do you need any more information to reproduce other than OS and the information in the original report?

[2022-03-10 22:05] IronTooch commented on #77249
My bigger concern, personally, isn't that it is or isn't supported, it is that it doesn't fail, and instead generates an insecure password. I can imagine occasions in which the control node is a WSL one, and starts creating passwords over the course of running a play, then subsequently a clever attacker could just try the `*0` (asterisk zero) value on any server that might have been deployed in th

[2022-03-11 00:23] gekken commented on #33581
+1

[2022-03-11 02:17] #76464 closed, assigned to mattclay

[2022-03-11 07:49] mkrizek commented on #77206
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-03-11 07:49] #77206 closed, assigned to nobody

[2022-03-11 07:54] mkrizek commented on #77246
@mattchan-tencent Are you able to test https://github.com/ansible/ansible/pull/76459 to verify it resolves the issue? See https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr

needs_info

[2022-03-11 09:29] ponchofiesta commented on #77253
Thank you sivel. I did it this way now. I think this issue can be closed as it is not a bug.

[2022-03-11 09:29] #77253 closed, assigned to nobody

[2022-03-11 10:08] gionn opened #77257 "async_status fails with `could not find job` after a few iterations"
### Summary

Async tasks for downloading files via get_url works as expected most of the times in our [playbook](https://github.com/Alfresco/alfresco-ansible-deployment) but recently we started to get very sporadic failures during async_status polling while running molecule integration tests from our Travis CI against EC2 instances.

The error message `could not find job` after a few retries looks

[2022-03-11 10:39] subrnath opened #77258 "Error "unable to retrieve the complete list of server APIs: metrics.k8s.io" when any K8s resource is being created through ansible K8s module"
### Summary

We are trying to deploy a Container Network Function in K8s cluster 1.23.1 with ansible operator from quay.io https://quay.io/repository/operator-framework/ansible-operator version 1.18. Following error is coming. This is seen when the metrics-server is installed. If metrics-server is deleted, this error is not seen and all the K8s resources are created fine by the Operator.

{"level"

[2022-03-11 10:42] #77258 closed, assigned to nobody

[2022-03-11 13:50] andyfeller commented on #14270
@sivel : I can understand wanting to send strong signals about what you intend or don't intend to do.

I think this and feedback on other open issues shows your customers and end users find that RedHat and Ansible team aren't hearing the feedback and pain point.  You can't make everyone happy and many of these issues start looking as bad as Atlassian's ever growing of unattended issues with all of

[2022-03-11 13:54] Ajpantuso commented on #77217
I think maybe just a documentation update to indicate that this method is not guaranteed to succeed for cross-filesystem file copies would be fine (since it preserves features which are outside the scope of POSIX compliance). In the case of `community.crypto.openssh_keypair` I don't really require the full feature set of `preserved_copy` so I can implement a limited version there.

[2022-03-11 15:23] samccann commented on #53520
Fixed by https://github.com/ansible/ansible/pull/77214

[2022-03-11 15:23] #53520 closed, assigned to nobody

[2022-03-11 16:43] conorwoo opened #77259 "Env Variable not accepted for using Infoblox dynamic inventory extensible attributes filter on AnsibleTower"
### Summary

When I try to use dynamic inventory on Tower, I realize the filter is depend on the local file

$ cat /etc/ansible/infoblox.yaml
---
filters:
  extattrs: { Site: "AAB1" }
  view: null

with hoping update these variables when create inventory/Source by giving the Environment Variable.

but that did not work.

Currently workaround is to create a separate template and using module "linei

[2022-03-11 16:45] #77259 closed, assigned to nobody

[2022-03-11 17:03] flybyray opened #77260 "ansible.builtin.user: when parent of home is non existent a created home may have wrong permissions"
Added minimal reproducible code and updated this issue in comment: https://github.com/ansible/ansible/issues/77260#issuecomment-1066724650

This original summary was based on wrong assumptions and hence contains wrong conclusions:

### Summary

User home directories created by `ansible.builtin.user`  module will be created with `/etc/login.defs`  `UMASK` setting. Not checking if `HOME_MODE`  is se

[2022-03-11 17:45] mattchan-tencent commented on #77246
@mkrizek Sure.

The bug still happens on #76459.

[code]

[2022-03-11 17:52] jean-christophe-manciot opened #77262 "uri receives a chunked big answer even though it shouldn't"
### Summary

- uri sometimes receives incomplete answer under a normal network environment
- the size of the whole expected answer is around 200 kB.
- all timeouts are set around 1h to make sure uri has enough time to receive the big answer
- uri always reports "transfer_encoding: chunked" even when it is not chunked
- This issue happens when used over networking devices, I haven't checked when us

[2022-03-11 17:56] sivel commented on #77262
How do you know this?  As mentioned, python3 tries to read all chunks and return a single body transparently for you.

If that header is set, then the server did in fact respond with a `chunked` `Transfer-Encoding`.

We just interact with the stdlib python modules, and they claim to handle this transparently.  I don't think there is anything for ansible to do here.

[2022-03-11 18:23] jean-christophe-manciot commented on #77262
This [post](https://groups.google.com/g/ansible-project/c/SaRnoe1dacI) clearly shows that uri sets 'transfer_encoding: chunked' for the first answer for which the size is ... ~ 160 bytes.
The controller is directly connected to the networking device which runs as a VM inside the host on a virtuel switch.
The connection type being virtual Ethernet with a mtu of 1500, there should not be any reason

[2022-03-11 18:24] sivel commented on #77262
I'm afraid ansible has nothing to do with that.  You'll have to take that up with the network device manufacturer.

[2022-03-11 18:25] jean-christophe-manciot commented on #77262
Maybe, but that does not explain the core issue here.

[2022-03-11 18:28] sivel commented on #77262
What is the core issue?

[2022-03-11 18:37] mattclay commented on #75711
Resolved by https://github.com/ansible/ansible/pull/77261

[2022-03-11 18:37] #75711 closed, assigned to mattclay

[2022-03-11 21:00] life5ign opened #77266 "Cannot run ansible-playbook as a cronjob in an ubuntu:focal docker container"
### Summary

I want to create a docker image that my cross-platform team can run as a container, which will update their public ips periodically in an AWS security group, using cron and ansible, with secret keys passed into the container at runtime.

When I try to run `ansible-playbook` in a cronjob in an *ubuntu:focal* base image docker container, I get the *"Failed to create temporary directory.

[2022-03-11 21:04] life5ign commented on #77266
I considered systemd timers, but setting up systemd in a docker container is difficult.

[2022-03-11 21:08] felixfontein opened #77267 "unarchive: io_buffer_size does not work"
### Summary

The option `io_buffer_size` added in ansible-core 2.12 (#74094) does not appear in the argument spec and thus does not work. (As opposed to the other two documented options that are not in the argument spec, this one is not handled by the accomodating action plugin.)

### Issue Type

Bug Report

### Component Name

unarchive

### Ansible Version

[code]

### Configuration

[code]

###

[2022-03-11 21:20] bviktor commented on #16259
I use publickey _and_ keyboard-interactive on my server, it works fine both with PuTTY and good old `ssh`. But Ansible fails instantly after unlocking my SSH key:

[code]

I tried many of the workarounds above. Adjusting the SSH options via

- `ansible.cfg` did not work
- `~/.ssh/config` did not work
- `/etc/ssh/ssh_config` did not work

The one and only thing that worked was editing `/usr/lib/pyt

[2022-03-11 21:39] sivel commented on #77266
The problem is with `PATH` inside of the cron job.  `PATH` inside of cron by default for that container only looks like:
[code]

This is actually set explicitly in `/var/spool/cron/crontabs/root`. The file looks like:

[code]

You will likely need to set the `PATH` to something that contains at least `mkdir` and `sleep`.  You might very well run into other issues too.

If you have further question

[2022-03-11 21:39] #77266 closed, assigned to nobody

[2022-03-11 21:40] sivel commented on #77266
Seems I overlooked the fact that you are the one explicitly limiting the PATH with with a task.  That just won't work the way you've configured it.

[2022-03-11 22:14] life5ign commented on #77266
I can't believe I overlooked that.  Thank you, it worked.

[2022-03-12 02:11] cadamini commented on #53520
Revised my initial PR, see https://github.com/ansible/ansible/pull/77269

[2022-03-12 03:56] gmarcy opened #77270 "Add auto-decryption support to ansible.builtin.slurp"
### Summary

I believe that it would be useful for slurp to be added to the modules that support auto-decryption.  The other solutions all have the property that the decrypted text is placed in a file that you must then read from using modules like slurp.  If slurp were to support auto-decryption, with the same decrypt parameter to control the behavior, then secrets could go from being encrypted o

[2022-03-12 07:55] felixfontein commented on #75711
@mattclay thanks! I can confirm that it works well (see https://github.com/ansible-collections/community.crypto/pull/419).

[2022-03-12 07:59] felixfontein commented on #77267
resolved_by_pr #77271

[2022-03-12 08:45] felixfontein opened #77272 "Bug in Jinja2 templating when macros are used"
### Summary

I noticed that with the current devel branch some jinja2 templates fail (does not happen with stable-2.12):
[code]
results in
[code]
It's not the fault of jinja2: running
[code]
in a Python REPL correctly prints `' 1'`.

### Issue Type

Bug Report

### Component Name

templating

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

-

### Steps to Reproduce

-

[2022-03-12 10:22] konstruktoid commented on #16259
@bviktor, I haven't tested the actual ansible change you propose, but I use the same command option when running  ssh on some hosts (not Ansible managed), and I see no real issue with your update.

Care to send a PR and have a discussion in regards to that?

[2022-03-12 11:32] babsdn opened #77273 "timedatectl set timezone"
### Summary

I use this command on OS to change or set my timezone
timedatectl set-timezone Asia/Tokyo

but How I should write it in playbook would you please make an example ?

### Issue Type

Feature Idea

### Component Name

timedatectl

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-03-12 14:26] ngdias opened #77274 "local_action does not support indented parameters in multiple lines"
### Summary

local_action accepts stat as a inline parameter, as the example in https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html#delegating-tasks.

But when trying to standardize to having each parameter in its own line followed by comma, ansible throws an error.

### Issue Type

Bug Report

### Component Name

local_action

### Ansible Version

[code]

### Configuratio

[2022-03-12 16:49] flowerysong commented on #77274
This is not a bug, you're just using the wrong syntax.

`local_action` is a variant of the `action` syntax, and is used the same way. When not using key=value syntax, you need to explicitly state the module to call as a module parameter at the same level as the other module parameters. This difference between key=value and YAML is because YAML dictionaries are not ordered, so while in `k=v` parsin

[2022-03-12 18:06] bviktor commented on #16259
@konstruktoid sure thing, will do that soon!

[2022-03-13 01:02] ghost opened #77276 "Local connection playbook runs ignore hosts directive"
### Summary

Good day,

I am setting up a playbook for ansible pulls runs and have been testing it locally with the `ansible-playbook` command. My intent is to run have a single 'main' playbook that calls all the roles/hosts relevant to the particular host running the job across a handful of servers and workstations.

Unfortunately the issue I'm hitting is that whenever I choose a local connection

[2022-03-13 06:08] flowerysong commented on #77276
This does not appear to be a bug. You told it to use the `local` connection type, and did not do anything to prevent it from running for both hosts. The expected result is that it will run the tasks assigned to both hosts, but using a `local` connection instead of the default connection type.

To *not* run tasks for one of these hosts, it needs to either not be in the inventory, be excluded by a l

[2022-03-13 08:43] johnburbridge commented on #20493
I realize this is a rather gargantuan feature suggestion for a future major revision, but as food for thought:

I'm a huge fan of how Gradle handles task dependencies and ordering (dependsOn, onlyIf, mustRunAfter, finalizedBy, etc): https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:adding_dependencies_to_tasks

Gradle users have the ability to pull arbitrary tasks from a collecti

[2022-03-13 18:38] sysadmin75 commented on #77260
I wasn't able to reproduce this issue. I tested on an AlmaLinux 8.5 server.

[code]
My task is defined as so:
[code]
Running the task:
[code]
And the permissions are the same as when I created the `deleteme` user above.
[code]

[2022-03-13 20:15] sandersac commented on #77276
Thanks for your reply; my apologies, I think a part of my explanation was unclear so I'll go into a bit more depth.

My problem is that `connection: local` is not well defined. The docs I [found here](https://docs.ansible.com/ansible/latest/user_guide/connection_details.html) don't say much about it, so I made a simple assumption: `local` means that a connection is attempted to the `localhost` if

[2022-03-13 20:27] flowerysong commented on #77276
The local connection plugin is very well defined, and you can read its documentation at https://docs.ansible.com/ansible/latest/collections/ansible/builtin/local_connection.html

Changing the connection that is used by a host does not affect which hosts are targeted by the play, nor should it. This would be a very surprising thing to do, and very inconsistent with the rest of Ansible.

[2022-03-13 22:00] sandersac commented on #77276
Ah! Somehow that page didn't show up in my searches, I'll remember that section in the future, so thanks for pointing that out.

I am trying to understand these comments a bit better, it was my understanding that setting the host meant it would only ever be ran on that host, correct? What I am saying is that even though ansible is _reporting_ that it is running on Alpha and Bravo separately, that

[2022-03-14 01:05] flowerysong commented on #77276
That is the expected result, not a bug. You have defined two hosts, `alpha` and `bravo`. You have then told Ansible that the way to connect to those two hosts is to use the `local` connection plugin, and told Ansible to execute tasks on those two hosts. When Ansible goes to connect to `bravo`, it uses the plugin that you configured and runs the task on the local host; when Ansible goes to connect

[2022-03-14 01:13] jborean93 commented on #77276
Essentially by setting `connection: local` you are saying that for this task/play use the [local](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/local_connection.html) for all the hosts being run. You could do `connection: winrm`, `connection: docker`, `connection: custom` to change the connection plugin used for the host on that task to each of those connection plugins. Ansib

[2022-03-14 04:02] sandersac commented on #77276
Hmm, so the implications of calling `connection: local` are more far-reaching than I had expected... I think I understand now, so thank you for the explanation and patience. I was hoping it was a bit simpler, but I'll trust there's good use cases for this behavior; I'll go ahead and close the ticket.

That said, is there any particular method you'd recommend then for delegating roles, setting envi

[2022-03-14 04:02] #77276 closed, assigned to nobody

[2022-03-14 06:03] Akasurde commented on #77273
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2022-03-14 06:03] #77273 closed, assigned to nobody

[2022-03-14 08:13] flybyray commented on #77260
Hi @sysadmin75 thanks for looking into this.

I guess you did not reproduced it as i described it. The problem is as referenced by this change: https://github.com/ansible/ansible/commit/a11bb8b4d39b1ff77762d58ffea42eca63f6f5f5

You did not supplied the ansible version for your try-out. You really need to ensure to have this output on your controller

[code]

[2022-03-14 08:20] mkrizek commented on #77272
Duplicate of https://github.com/pallets/jinja/issues/1510.

This actually is a bug in Jinja2. Note that in `devel` `jinja2.Environment` is no longer used in favor of `jinja2.nativetypes.NativeEnvironment`, see https://github.com/ansible/ansible/pull/75587.

[code]

The bug has been fixed in https://github.com/pallets/jinja/pull/1511 which will be included in Jinja2 3.1.0 release, however I am not

[2022-03-14 09:08] flybyray commented on #77260
@sysadmin75 sorry i need to sort this out. i tried to make it reprocuable with podman/docker. but really i cannot reproduce it there.
I tried to extract the problem out of a bigger ansible playbook. Which works on almalinux/8 libvirt image.
I thought I found the minimal,  but as i now see with  docker/podman  i cannot reproduce it too. Hence I will close this for now.

In the above issue some form

[2022-03-14 11:12] mkrizek commented on #77274
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-03-14 11:12] #77274 closed, assigned to nobody

[2022-03-14 11:41] felixfontein commented on #77272
@mkrizek thanks for checking this out! I hope that a new jinja2 release will be made before the ansible-core 2.13 release, otherwise I guess some more reports like this will show up...

[2022-03-14 11:47] flybyray commented on #77260
it is really crazy what is going on there i think i need to debug it somehow on the module level on the host itself.
i just noticed that the user module writes a warning to stderr

[code]

And i added directly in front a stat moduke check on that directory to prove it was not created before the module call.

Hence something is going on in the user module which tries to create the homedirectory twi

[2022-03-14 12:07] mkrizek commented on #77257
It looks like something is deleting `/home/ansible/765053058247.15027`? The path suggests that `ANSIBLE_ASYNC_DIR`/`ansible_async_dir`/`async_dir` is set to `/home/ansible` as opposed to being default which is `~/.ansible_async` but I do not see it being set as such in the playbook.

Either way with the information provided this does not appear to be a bug in Ansible.

[2022-03-14 12:08] flybyray commented on #77260
@sysadmin75 and @mkrizek can you please make a suggestion?

Should I create a new issue? Or edit the issue head?
For now i just reopen.

Here: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/user.py#L701
it should create the `parent` and not the `self.home` itself.
Because of that I receive:

[code]

an the home is created with wrong permissions. In my playbook I use

[code]

The

[2022-03-14 12:30] mkristian commented on #77270
totally need this right now as well.

[2022-03-14 14:30] gionn commented on #77257
thanks @mkrizek for pointing out that is kinda strange that the status file is getting searched under `/home/ansible/` since we are not overriding the `async_dir`.

May be worth mentioning that our playbook is running that failing task as part of a role that gets included in our main playbook with [become: true](https://github.com/Alfresco/alfresco-ansible-deployment/blob/master/playbooks/acs.yml#

[2022-03-14 16:22] cortex3 opened #77279 "privilege escalation timeout on localhost (archlinux)"
### Summary

When trying to execute a task locally using become the playbook is stuck for minutes until stopping in a timeout.
Using different tasks, using the CLI become parameter etc did not resolve my issue.
My playbook is executed with the -K parameter.

### Issue Type

Bug Report

### Component Name

become

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Archlin

[2022-03-14 17:27] stephan2012 opened #77280 "to_nice_yaml: cannot represent an object"
### Summary

With Ansible v2.9 (on Python v3.6.9 provided by Ubuntu 18.04 LTS) and Jinja2 v2.11.3, the playbook (see below) works to cast a number into a string in the YAML output:

[code]

Unfortunately, with an updated stack (ansible-core v2.12.3, Jinja2 v3.0.3, Python v3.8.0) I get a weird error `cannot represent an object`:

[code]

Jinja2 native is enabled in /etc/ansible/ansible.cfg:

[code]

[2022-03-14 17:33] stephan2012 commented on #77280
Added `type_debug`:

[code]

Result for Ansible v2.9:

[code]

Result for Ansible v2.12:

[code]

[2022-03-14 18:00] mkrizek commented on #77280
Thanks for detailed bug report.

We need to add an YAML representer for `NativeJinjaText`. For some reason I only added a representer for `NativeUnsafeJinjaText` in #76186.
[code]

I will open a PR with above.

[2022-03-14 19:13] flowerysong commented on #77270
Decrypting by the module would be one of the huge downsides of your proposal. base64 encoding things does not provide security (it is the equivalent of plaintext), while using `unvault` at the point of use would ensure the slurped value remains encrypted until it is used.

[2022-03-14 20:27] #77221 closed, assigned to samccann

[2022-03-15 09:42] stephan2012 commented on #77280
Thanks, @mkrizek. Are there any chances to get a backport for v2.12?

[2022-03-15 10:14] mkrizek commented on #77280
@stephan2012 Yes, once the PR is merged in the `devel` branch I will create a backport PR for `2.12`.

[2022-03-15 12:50] dwt opened #77284 "Use /usr/bin/python3 by default on Mac OS 12.3"
### Summary

Mac OS 12.3 removed `/usr/bin/python`, which is still chosen by default in ansible. As a workaround, I was able to hardcode it to python3 via the inventory file

[code]

but it would be really nice if that hardcoding wasn't neccessary.

Without that workaround ansible just exits with an error - hence this bug report.

### Issue Type

Bug Report

### Component Name

synchronize

### An

[2022-03-15 13:28] monsdar opened #77285 "Bundling Playbooks within a Collection"
### Summary

I want to distribute a playbook in one of my collections. The docs are stating that this is possible:
* [Developing collections #playboos-directory](https://docs.ansible.com/ansible/latest/dev_guide/developing_collections_structure.html#playbooks-directory)

However I do not find an example of how this could be done:
* Above mentioned docs only show the directory sturcture, not where

[2022-03-15 14:25] monsdar commented on #77285
Looks like somehow an old version of Ansible found it's way onto my machine. Problem is resolved after updating to the latest version available (>2.11). Leaving this issue open as docs could still be improved.

[2022-03-15 15:10] ChanthMiao opened #77286 "Failed to detect deepin/Uos Linux distro info correctly"
### Summary

Deepin Linux is a debian based distro. Ansiable is unable to detect deepin/Uos Linux distro info correctly.

### Issue Type

Bug Report

### Component Name

lib/ansible/module_utils/facts/system/distribution.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Deepin 20.4 (apricot)

### Steps to Reproduce

[code]

### Expected Results

[code]

### Actual R

[2022-03-15 15:50] mohtashims opened #77288 "selectattr stopped working in the latest ansible version"
### Summary

`selectattr` stopped working in the latest ansible version when it used to work on version 2.12.

### Issue Type

Bug Report

### Component Name

ansible, selectattr

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

### Steps to Reproduce

Below is a test case:

Sample file.json

[code]
I get the below output with ansible version 2.12

[code]

But

[2022-03-15 16:15] mkrizek commented on #77288
2.12 is the latest version. If it does not work in 2.9.6 that means it was fixed in some version between 2.9.6 and 2.12.

[2022-03-15 17:34] jpownow opened #77289 "junos_config in ansible 2.9.27 ignoring check mode"
### Summary

If the 'check_commit' argument is not included, the junos_config module will commit config even when ansible_check_mode == true. I believe the problem may be the addition of line 492 which is not present in ansible 2.8.5:

'check': module.params['check_commit']

### Issue Type

Bug Report

### Component Name

junos_config

### Ansible Version

[code]

### Configuration

[code]

### OS

[2022-03-15 17:39] #77289 closed, assigned to nobody

[2022-03-15 19:46] raiderman1127 opened #77291 "AttributeError: 'NoneType' object has no attribute 'custom_data'"
### Summary

When using ansible to create a azure vm with custom_data to pass to cloud-init, you get AttributeError: 'NoneType' object has no attribute 'custom_data' and you are unable to create the vm. By using ansible to call an azure-cli command it works. I am unable to use the azure_rm_virtualmachine module with custom_data in order to create a VM in azure because of this bug.

### Issue Type

[2022-03-15 19:50] #77291 closed, assigned to nobody

[2022-03-15 22:23] DonBower commented on #48786
I was getting this error when I coded the test like this:
[code]
But it works like this:
[code]
subtle difference between `name: docker` and `service: docker`, and probably a bug, if not a documentation issue.

Per Documentation:
[](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/systemd_module.html#parameter-name)name

string
Name of the unit. This parameter takes the name of

[2022-03-15 22:50] s-hertel commented on #77219
I verified this, but I'm not entirely sure it's a bug. When run_once is true and a task returns ansible_facts, the facts are copied to all the play hosts that are not unreachable (here: https://github.com/ansible/ansible/blob/stable-2.12/lib/ansible/plugins/strategy/__init__.py#L699-L709). Interpreter discovery does not occur specially for gather_facts. If gather_facts is enabled for the first pla

[2022-03-16 03:24] maxamillion commented on #74661
I haven't had a chance to test this, but I just threw this together as a draft.

https://github.com/ansible/ansible/pull/77293

[2022-03-16 03:53] flowerysong commented on #77288
Because you've gone backward from 2.12 to 2.9, the automatic generator unrolling that was added in 2.10 is not present. You need to manually ensure the generators returned by `selectattr()` are converted to lists if you want this code to work on 2.9.

[code]

[2022-03-16 04:58] Aposhian commented on #60215
This is a dealbreaker for using ansible-test as a development tool for collections.

[2022-03-16 05:07] mohtashims opened #77294 "Unable to parse json having array name containing hyphen '-'"
### Summary

I try to read array element from a json file. I expect it to print the array element but instead, it throws an error.

array name: `server-start`
element: `java-home`

### Issue Type

Bug Report

### Component Name

ansible, selectattr, json

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

### Steps to Reproduce

Here is my this1.json file

[code]

[2022-03-16 08:10] mkrizek commented on #77294
`"{{ myserver.0.name }} -> {{ cpath.0['server-start'][2]['java-home'] }}"` is one of the ways of achieving the desired output.

Either way this is not a bug in Ansible. In future please stop by IRC or the mailing list for user questions like this:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-03-16 08:10] #77294 closed, assigned to nobody

[2022-03-16 08:10] mkrizek commented on #77288
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-03-16 08:10] #77288 closed, assigned to nobody

[2022-03-16 08:41] gionn commented on #77257
of course yes, another get_url task with loop and a package task (with become), you can take a look since the playbook is open:

* [async get_url](https://github.com/Alfresco/alfresco-ansible-deployment/blob/master/roles/transformers/tasks/main.yml#L11)
* [wait async_status](https://github.com/Alfresco/alfresco-ansible-deployment/blob/master/roles/transformers/tasks/main.yml#L41)

I don't think we

[2022-03-16 10:17] amentee opened #77296 "gather_facts option causing servers to not connect"
### Summary

We have ansible installed in our environment and when we enable gather_facts: True in the playbook and execute it , the playbook fails for below server

fatal: [xxxxxx]: UNREACHABLE! => changed=false
  msg: 'Failed to connect to the host via ssh: Shared connection to xxxxxx closed.'
  unreachable: true

But as soon as I change it to gather_facts: no , the playbook runs fine. The quest

[2022-03-16 10:24] #77280 closed, assigned to nobody

[2022-03-16 11:05] pbrezina opened #77297 "Failed to set execute bit on remote files"
### Summary

I get this error message when using the podman connection plugin ansible_connection: podman

[code]

I opened issue against podman collection first, but we tracked it down to ansible. https://github.com/containers/ansible-podman-collections/issues/389

The issue is not visible with ANSIBLE_DEBUG=1 therefore I can not provide any more information.

### Issue Type

Bug Report

### Compo

[2022-03-16 11:14] dwt commented on #77284
Well if you say so. I guess this is a configuration issue which is probably not in the posix collection, but what do I know?

[2022-03-16 12:26] mkrizek commented on #77284
!needs_collection_redirect

[2022-03-16 12:26] mkrizek commented on #77284
No, but `synchronize` module is in the posix collection, which is what you put as a component which is what the bot looks at when deciding whether the component is in this repository or not.

What `ANSIBLE_DEBUG=1` and/or `-vvv` output says when you do not use the `silent` option (`(INTERPRETER_PYTHON(/path/to/ansible/ansible.cfg) = auto_silent`) and use `auto` instead? What does your inventory lo

[2022-03-16 12:33] dwt commented on #77284
I have a localhost entry in my inventory like this
[code]
With that interpreter option commented out, this generates an error like this:
[code]

Setting `(INTERPRETER_PYTHON(/path/to/ansible/ansible.cfg) = auto` doesn't seem to change that.

[2022-03-16 12:50] mkrizek commented on #77284
It does not suppose to, it will just provide more information. As well as using `-vvv` and `ANSIBLE_DEBUG=1` as I mentioned.

[2022-03-16 12:56] dwt commented on #77284
The log file contains private information of which I am not comfortable posting it here in the open. I'd be happy to mail you a slightly censored file if that is ok with you?

[2022-03-16 13:14] stefan-as commented on #25667
Can confirm for up-to-date Ansible. `template` works well without `validate` parameter. As soon as I add `validate`, Ansible fails with:

[code]

[2022-03-16 14:01] bcoca commented on #74027
@ngdias  that should be fixed in newer ansible (now also matches fqcn names for builtins)

[2022-03-16 14:21] vaisov opened #77301 "Setting ansible user doesn't work (ANSIBLE_USER, -u username)"
### Summary

Trying to set user to connect to hosts. Both ways aren't working:

Using `ANSIBLE_USER`
[code]

Using `-u sebastian`
[code]

Event this doesn't work:
[code]

Only one which is working is: `-e 'ansible_user=sebastian'`

### Issue Type

Bug Report

### Component Name

ansible-playbook

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

   Static hostname: jump

[2022-03-16 14:37] bcoca commented on #77270
There are several big differences with  slurp (and fetch):
 - they operate mainly on files on the 'target/remote', while copy/template/etc deal with files from the controller
 - slurp is 'in memory' and already subject to issues with large files having several copies making it very memory intensive, this would add '2 more copies' of said file (base64decoded to unvault and 'unvaulted' versions) and

[2022-03-16 14:44] mohtashims opened #77302 "Unable to get array element from JSON file using Ansible 2.10 version on RedHat"
### Summary

Able to print JSON array element in ansible-version 2.12.2 but fails with error in version 2.10 [latest supported] on Redhat Linux

### Issue Type

Bug Report

### Component Name

ansible, selectattr, json

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

### Steps to Reproduce

Below is my JSON file

[code]

I wish to get the listen-port printed w

[2022-03-16 14:47] bcoca commented on #77219
I'm partial to look at this as a bug, since interpreter discovery is something we 'hijack' into facts, we should avoid polluting other hosts when run_once is used

[2022-03-16 14:52] bcoca commented on #77219
@s-hertel  since this is something i can see us using (abusing) more in the future, we might want to start with a constant for 'non run once facts' to exclude from updating all hosts.

[2022-03-16 14:54] gmarcy commented on #77270
@bcoca my expectation had been of slurping of secrets on the controller, i.e. remote == localhost using ansible_connection=local, but I appreciate the information of the cost where it's not local.  @flowerysong does the unvault filter always resolve the path on the controller or is it reading the data from wherever the current task using the filter is delegated to?

[2022-03-16 14:55] bcoca commented on #77284
https://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html <= you should not need to hardcode it as localhost uses the same python ansible is installed under by default.

[2022-03-16 14:59] bcoca commented on #77301
define "doesn't work", or better yet, show the output (with -vvv) for each of your tests.
needs_info

given that only `-e` 'works' I suspect you have ansible_user defined in your inventory and are expecting CLI/config to override in precedence, but that is not the case https://docs.ansible.com/ansible/latest/reference_appendices/general_precedence.html

[2022-03-16 15:05] flowerysong commented on #77270
If your use case is files on the controller you shouldn't need slurp (or the unvault filter) at all. Use the unvault lookup: https://docs.ansible.com/ansible/devel/collections/ansible/builtin/unvault_lookup.html

[2022-03-16 15:07] bcoca commented on #77270
slurp/fetch are meant mostly for remote (local is a corner case) also as @flowerysong poitns out, you have easy alternatives to that already.

[2022-03-16 15:13] s-hertel commented on #50181
@xeor I've added this to the core meeting agenda so we can vote on whether or not to add this.

[2022-03-16 15:26] s-hertel commented on #42594
This is working as designed. You need to create groups before adding vars to them. This is happening because inventory directory contents are parsed alphabetically, so `common` is adding vars to the group `OSEv3` before the group is created by `inventory`. You can fix this by renaming your files to match this expectation or specifying the individual inventory files in the correct order, `ansible-i

[2022-03-16 15:26] #42594 closed, assigned to s-hertel

[2022-03-16 15:29] gmarcy commented on #77270
okay, so I'm seeing how that for my primary use cases I might be covered using these other mechanisms.  what would be my options if I were to have vaulted secrets on a remote server that I wanted to decrypt securely where the remote environment contains the ansible vault password file, I'm not sending any local information on vault to remote and I don't want any remote vault info brought back to t

[2022-03-16 15:36] bcoca commented on #41494
closing as dupe/subset of  #24644

[2022-03-16 15:37] #41494 closed, assigned to nobody

[2022-03-16 15:39] #72658 closed, assigned to nobody

[2022-03-16 15:41] s-hertel commented on #16116
Fixed by 4df610f9611a02591de83d404cb83a424bb273fd.

[2022-03-16 15:41] #16116 closed, assigned to jimi-c

[2022-03-16 16:04] bcoca commented on #77279
I cannot reproduce using the correct password:
[code]
but I do get the same result when the password is incorrect.

[2022-03-16 16:10] bcoca commented on #77270
At that point, i would run ansible-playbook on the remote and push the file to where you want it to be.

[2022-03-16 16:15] bcoca commented on #76656
That leads me to believe something outside of Ansible is removing the directory mid execution, I would not count that as an Ansible bug.

[2022-03-16 16:45] cortex3 commented on #77279
Hi @bcoca,
an honor to talk to you, I must've seen your name in a hundred github issues by now :D

I've debugged the issue further and realized what the problem is.

I'm prompted for the password and enter the correct one after which the play execution starts until it stalls here:
[code]

I realized the issue comes from having my fingerprint reader configured in the pam config:
[code]

If i touch

[2022-03-16 16:48] s-hertel commented on #73337
@ssbarnea Do you have an example of passing multiple playbooks that fails? I tested back to 2.3, and each stable version seems to have supported mutliple playbooks. Both playbooks show up in the result:
[code]

needs_info

[2022-03-16 16:57] nitzmahone commented on #77219
Yeah, that seems like the right thing to do here- we should absolutely not be propagating a clearly host-specific fact like that in the run_once case... Makes me wonder if we've got it backwards there, like defaulting to *any* ansible_facts output should only hit the host it ran on, then have $mechanism_tbd to cause the propagation for things that need it, but that's another horse that left the ba

[2022-03-16 17:41] df-cgdm opened #77304 "Cannot run ansible-test sanity behind a proxy"
### Summary

When I try to run ansible-test it tries to download files from ansible-ci-files.s3.amazonaws.com/ansible-test.
The problem is that I'm behind a proxy
Even by setting env http_proxy it's not working

### Issue Type

Bug Report

### Component Name

bin/ansible-test

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

debian

### Steps to Reproduce

''''

Runnin

[2022-03-16 18:08] bcoca commented on #77279
ansible does not have MFA support so fingerprint/OTP/etc won't work with the existing plugins, you might want to create a custom version of the sudo become plugin.

[2022-03-16 18:09] #77279 closed, assigned to nobody

[2022-03-16 18:25] dtoubelis commented on #76656
We wre observing the same issue for last 4 years and tried everything imaginable trying to fix it, so anyting obvious or laying on the surface was rulled out log time ago. This directory does not desapear, it is permanently located in rootfs and is not going anywhere - it exists before, after and during the operation. We even set permisins in a way that it is read-only for the current process.

My

[2022-03-16 18:29] bcoca commented on #77219
Well, initially facts were just facts, so it made sense ... till they became nonfacts ... set_facts/include_vars ... and then 'discovery' ...

[2022-03-16 18:33] bcoca commented on #76656
Ansible does not directly use shm, it can when using a tmp dir defined as such, but then we recommend using alternative tmp dirs.

As for it happening at any time, yes, i would not expect fact gathering to be the sole trigger, just that it is an expensive task in most cases and most likely to hit any 'time/size/resource condition'.

If the directory is really not being removed, the only other thin

[2022-03-17 01:23] nitzmahone commented on #77257
Glancing over your actual role, I see an explicit `become: true` on the task right before the failing async task, but IIUC you said that the calling playbook actually calls the entire role under `become: true`. There are several weird things that happen with loop-y things in Ansible where workers, connections, and state end up getting reused across iterations (normally each task gets a fresh one o

[2022-03-17 07:54] dwt commented on #77284
@bcoca Indeed, removing the localhost definition seems to work. I am not sure why we actually added this in the past. Looking at git blame, it was added 7 years ago as one of the initial things we did when adopting ansible. Did the recommendation for localhost maybe change over those years?

Anyway, the problem is solved for now, so I'll close this issue.

[2022-03-17 07:54] #77284 closed, assigned to nobody

[2022-03-17 09:16] mkrizek commented on #77272
For the record, if we don't want users to rely on the two workarounds mentioned above we could include the fixed Jinja2 method into our templating until we potentially support Jinja2 3.1 as a minimum version:

[code]

[2022-03-17 10:11] terjekv commented on #16977
This is still a problem with 2.9.27 on RHEL8. I'm trying to find the PR that caused @ansibot to add the "has_pr" label, but I am unable to find the PR (or if it has been merged). Am I missing something here? :)

[2022-03-17 11:01] gionn commented on #77257
yeah, it doesn't make sense but that's our current state and I hope to make it consistent in the next few months

JFYI https://github.com/Alfresco/alfresco-ansible-deployment/blob/master/playbooks/acs.yml#L96

it won't harm so I can try and continue monitoring our builds

many thanks for your help guys

[2022-03-17 11:26] aidandarcy94 opened #77306 ""msg": "edit_config() got an unexpected keyword argument 'admin'""
### Summary

Keep getting the below error when pushing BGP config file to Cisco ios-xr device.

"msg": "edit_config() got an unexpected keyword argument 'admin'"

### Issue Type

Bug Report

### Component Name

yum

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

### Steps to Reproduce

``---

- name: BGP Configuration
  hosts: rack_factory
  gather_facts: fal

[2022-03-17 11:39] vaisov commented on #77301
You're right, we had username hardcoded in the playbook. We removed it and it should work now. I'll check if it works and update the issue.

[2022-03-17 11:58] bluikko opened #77307 "one single changed task causes multiple handler runs, handlers notified for each include_role"
### Summary

There are several issues about a handler in `include_role` being run multiple times but all those issues are for the case where the triggering task is `changed=true` on every `include_role` invocation.
But this behavior extends to the case where a **single** `changed=true` task causes a handler to run multiple times, once for each handler inside `include_role`.
The former is "kinda" u

[2022-03-17 12:15] mcs commented on #38267
Sadly this issue makes the archive and unarchive modules completely unusable for larger data amounts.

[2022-03-17 12:20] pbrezina commented on #77297
I managed to get a failed attempt with ANSIBLE_DEBUG=1.

[failed.log](https://github.com/ansible/ansible/files/8285322/failed.log)

Lookup /var/lib/containers/storage/overlay-containers

[2022-03-17 12:21] mkrizek commented on #77306
!component =lib/ansible/modules/network/iosxr/iosxr_config.py

[2022-03-17 12:24] #77306 closed, assigned to nobody

[2022-03-17 12:39] mkrizek commented on #77307
Yes, `Steps to Reproduce` (a minimal standalone playbook, that showcases the problem, that we can copy&paste and run) is required.

I am not able to reproduce the issue with the following playbook:

[code]
[code]
[code]

results in:
[code]

needs_info

[2022-03-17 13:04] bluikko commented on #77307
@mkrizek I made a test case and indeed handler is run twice.

I have updated the OP.

[2022-03-17 13:17] mkrizek commented on #77307
The fact that `listen` was used was not mentioned in the original description. This is a duplicate of https://github.com/ansible/ansible/issues/47374.

[2022-03-17 13:39] mkrizek commented on #77307
You can notify multiple handlers using the `listen` keyword. Since the role is included twice (with different role variables) the handler is also included twice and since the role variables differ there are two distinct handlers. So the changed task notifies both handlers because it notifies all handlers that `listen` on that "topic" and both are executed.

You can achieve desired behavior by noti

[2022-03-17 13:46] bluikko commented on #77307
https://docs.ansible.com/ansible/latest/user_guide/playbooks_handlers.html trumpets how good it is to use `listen`. This "works as expected" caveat is not mentioned. Is it mentioned somewhere else beyond this issue tracker?

[2022-03-17 13:50] bluikko commented on #77307
Continuing from the above link:

These points even conflict with the statement abut listen/notify working as expected.

[2022-03-17 16:13] ableischwitz opened #77308 "ansible-galaxy does not work on IPv6 only hosts"
### Summary

I'm using a host which has IPv6 connection only for communication to the internet. Running the following (example) command, results in an error, which is not seen when using a proxy to handle the connection (in order to gain access to IPv4 land).
[code]
My network looks like this on the host:

[code]

### Issue Type

Bug Report

### Component Name

ansible-galaxy

### Ansible Version

[2022-03-17 18:04] azevedogustavo opened #77310 "ERROR using to install pip packages on windows remote"
### Summary

I can install chocolatey packages, but I couldn't install pip packages. The windows remote has python3 and python2 installed, I've tested both pip vertions too.
follow the error below:

fatal: [192.168.1.2]: FAILED! => {"changed": false, "module_stderr": "Exception calling \"Create\" with \"1\" argument(s): \"At line:4 char:21\r\n+ def _ansiballz_main():\r\n+                     ~\r\n

[2022-03-17 18:05] azevedogustavo commented on #77310
I culdn't find solution on google. Sorry about my english :/

[2022-03-17 18:15] #73699 closed, assigned to nobody

[2022-03-17 18:24] samccann commented on #77285
Thanks @monsdar for the Ansible docs issue.

Discussing this in the community matrix/irc channel, we came up with the following to add to the docs.

Edit https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/dev_guide/developing_collections_structure.rst to:

Clarify that playbooks within a collection follow the same guidelines as any playbooks except:
  - must be in /playbooks directory

[2022-03-17 19:03] fessmage commented on #76322
As I understood from https://www.wefearchange.org/2018/11/forkmacos.rst.html and http://www.sealiesoftware.com/blog/archive/2017/6/5/Objective-C_and_fork_in_macOS_1013.html - it is perfectly ok to use `OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` on macOS.

So the question is - is it possible to free macOS users from exporting it by manually before ansible, by initializing it on launch with detecting

[2022-03-17 19:07] jborean93 commented on #77262
I'm not sure how that is a problem with `uri`, it receives the payload that was returned to it, it can't really control how the server returns except by requesting the right data which is based on the headers you provide to it.

[2022-03-17 19:15] #77267 closed, assigned to nobody

[2022-03-17 19:20] jborean93 commented on #77270
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program.
Our reasons for this are:

   * As per the conversation above, it isn't feasible to do vaulting actions on the remote as all the variable state and vault code needs to be available there
   * Copying the vaulted dat

[2022-03-17 19:20] #77270 closed, assigned to nobody

[2022-03-17 19:22] #77286 closed, assigned to nobody

[2022-03-17 19:32] jborean93 commented on #77296
Can you try

[code]

To run the fact gathering outside of the generic `gather_facts`. Will be interesting to see if it also fails. Also you have `become: yes` set but I cannot see it being invoked in your output is that really being set in your example?

[2022-03-17 19:39] jborean93 commented on #77297
Until proven it's a fault in Ansible we can't be investigating code outside of our codebase as we don't know how the podman collection works. Please follow it up in your other issue https://github.com/containers/ansible-podman-collections/issues/389 before asking here.

Feel free to ask for help the mailing list or the IRC channel.

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)

[2022-03-17 19:39] #77297 closed, assigned to nobody

[2022-03-17 19:41] jborean93 commented on #77301
Closing as per the above.

[2022-03-17 19:41] #77301 closed, assigned to nobody

[2022-03-17 19:45] #77302 closed, assigned to nobody

[2022-03-17 19:54] gmarcy commented on #77270
@bcoca @flowerysong @jborean93 I just wanted to thank you all for your thoughtful comments and feedback, very much appreciated.

[2022-03-17 19:54] jborean93 commented on #77308
Can you manually download `https://galaxy.ansible.com/download/ansible-posix-1.3.0.tar.gz` on the host. The code doesn't do anything special or IPv4 specific so this should work. Essentially this URL will redirect to an S3 bucket but this should all be handled normally.

needs_info

[2022-03-17 19:56] jborean93 commented on #77310
Hi!

Thanks very much for your interest in Ansible.  It means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

See  this page for a complete and up to date list of com

[2022-03-17 19:56] #77310 closed, assigned to nobody

[2022-03-17 22:23] philipsd6 opened #77313 "Documented exponential backoff method is invalid"
### Summary

Related: #20226
Related: #72617

The example given in [Data manipulation: Loops and list comprehensions](https://docs.ansible.com/ansible/latest/user_guide/complex_data_manipulation.html#loops-and-list-comprehensions) for creating an exponential backoff does not work as intended, and additionally is also incorrectly quoted.

### Issue Type

Documentation Report

### Component Name

co

[2022-03-18 03:29] jnm27 opened #77314 "strategy/__init__.py can cause deadlock in worker processes printing to stdout"
### Summary

Occasionally we hit an issue where a worker process hangs randomly. This can happen when running against multiple hosts or a single host, but more frequently against multiple hosts (about 1 in every 3 runs against 15 active hosts).

Investigating with GDB, I found this.

The hung thread is stuck here in a worker process:

#0  futex_abstimed_wait_cancelable (private=0, abstime=0x0, exp

[2022-03-18 07:13] bluikko commented on #77296
I have the same thing happen on 2.11.9 but also on `ansible.builtin.setup`.

So far I have been suspecting it is because of too many simultaneous connections to SSH and actually was just adding `throttle: 1` and `until: x is not unreachable` to those tasks. I have no results from that yet, since for me the issue happens only rarely -- so it could be the problem is different than this issue.

[2022-03-18 07:25] ableischwitz commented on #77308
Hi,
dang! AMAZON!
[code]
When will they arrive in 2022?

So there seem to be little ansible-galaxy can do about.

Unless this bucket could get a IPv6 address from the Ansible team, we have to wait for Amazon to implement IPv6.

[2022-03-18 07:28] ableischwitz commented on #77308
Reading the following, bucket can get IPv6 addresses:
[Making requests to Amazon S3 over IPv6](https://docs.aws.amazon.com/AmazonS3/latest/userguide/ipv6-access.html)

Who could change the buckets used by Ansible?

[2022-03-18 07:29] bluikko opened #77315 "Empty "META: " lines printed"
### Summary

My complex `site.yml` causes "empty" `META: ` lines being printed often together with other `META: ` lines such as `ran handlers`, `role_complete`.
The line is:
[code]
There is a space after the `META:` but after that there isn't any reason such as `ran handlers` or `role_complete`.

Normal/valid `META: ` lines with a "reason" often but not always have these "empty" `META: ` lines nea

[2022-03-18 07:43] mkrizek commented on #77314
This looks like a duplicate of https://github.com/ansible/ansible/issues/76798.

[2022-03-18 07:45] jnm27 commented on #77314
Does not look like it is a duplicate of #76798. That one has 100% CPU utilization which implies something other than a mutex, and the comment said that it eventually completed after 5 hours. Here, deadlock would never resolve so it would never complete.

[2022-03-18 07:51] jborean93 commented on #77308
Thanks for the info, I've passed the information to the Galaxy team internally as they maintain the setup on that side and there's not much else I can do. Hopefully it's a simple fix on the server side to enable this.

[2022-03-18 08:02] mkrizek commented on #77314
@jnm27 would you be able to try and test the PR [this comment](https://github.com/ansible/ansible/issues/76798#issuecomment-1047999573) suggests to see if it fixes your issue?

[2022-03-18 08:05] mkrizek commented on #77315
Which [meta tasks](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/meta_module.html#parameters) are being used in the playbook?

This appears to happen for when some meta tasks are being skipped because then the actual message is empty and "skip_reason" is being used instead, though we still print the header in `-vv`:
https://github.com/ansible/ansible/blob/68b5db328fd4ccfe84e2

[2022-03-18 08:26] mkrizek commented on #77307
It is not what I am saying. Although the example on `listen` in [docs](https://docs.ansible.com/ansible/latest/user_guide/playbooks_handlers.html) shows that you can notify multiple handlers we should be more explicit there.

If docs do not mention how roles are (de)duplicated and how that affects included handlers then that we should fix as well.

The documentation is correct, there is just one "

[2022-03-18 08:46] ableischwitz commented on #77308
Thanks a lot @jborean93, much appreciated!

[2022-03-18 08:52] gone-for-coding opened #77316 "Ansible.ModuleUtils.SID.psm1: Function Convert-ToSID fails if principal has more than 20 chars"
### Summary

The function Convert-ToSID from Ansible.ModuleUtils.SID.psm1 states, that it can handle UPN as input. This is true as long as the principal matches the SAMAccountName. If a princial is longer than 20 chars the SAMAccountName is truncated to 20 chars in AD.

Translate([System.Security.Principal.SecurityIdentifier]) then fails.

Workaround: If one uses the SAMAccountName instead of the

[2022-03-18 09:11] bluikko commented on #77315
There are about few dozen `flush_handlers` across the different roles, but I do not explicitly call any `ansible.builtin.meta` when those empty lines appear. They appear together or near with "legitimate" automatically printed `META: ` lines like `ran handlers` and `role_complete`.

[2022-03-18 09:42] iisojunn opened #77317 "`ansible-test --help` can only be executed inside {...}/ansible_collections/{namespace}/{collection}/ folder"
### Summary

This is related to https://github.com/ansible/ansible/issues/60215.

When running `ansible-test --help`, it will print error message instead of help:
[code]
Running program and asking for its help text should not care about the current working directory.

### Issue Type

Bug Report

### Component Name

ansible-test

### Ansible Version

[code]

### Configuration

[code]

### OS / Envi

[2022-03-18 11:18] septatrix opened #77318 "Support `accept-new` as value for `host_key_checking`"
### Summary

During initial setup it is common to have many new hosts. For each of these one has to manually accept their keys. Currently it is possible to set `ansible_ssh_common_args` to `-o StrictHostKeyChecking=accept-new`. However as there is an explicit option for this it would be better if that accepted it.

### Issue Type

Feature Idea

### Component Name

ssh

### Additional Information

[2022-03-18 11:19] iisojunn commented on #77317
Easy workaround:
[code]

[2022-03-18 11:36] bluikko commented on #77315
Managed to somehow get these empty `META: ` lines without an accompanying "proper" `META: ` line. Just a single "empty" `META: ` line by itself.
They seem to be in a place where usually there should be `META: role_complete`.
They are printed after a task that was skipped due to `when: evaluating to false`, a single task in a role that was `include_role`d from an `include_tasks` that was a handler.

[2022-03-18 12:54] septatrix commented on #77318
!component +lib/ansible/plugins/connection/paramiko_ssh.py

[2022-03-18 14:08] bcoca commented on #77313
true, `delay` is not changeable per iteration, it is constant for all retries, this example initially very different, but in an effort to clarify/make more accessible ended up using and incorrect example.

[2022-03-18 15:04] jCOTINEAU commented on #49371
Hello everyone, had the same issue and found out a nice way of solving this without moving too many things.

First you should not use a default handler like ```my_role/handlers/main.yml``` because doing so, each time you import or include the role, the handler will be appended to the "handler global list" as from the doc ```Handler names and listen topics live in a global namespace.```

So in your

[2022-03-18 15:06] bluikko commented on #20493
This totally breaks any attempts at "modular" code and it is quite astonishing.

Just to update current status, 2.11.9 crashes randomly / in some cases with
[code]
Probably due to this one.

[2022-03-18 15:28] bluikko commented on #77307
Agreed.

I cannot recall any right now but I can check if I find something existing on it.

OK. But to me "get overwritten" at least sounds misleading. Perhaps if one knows somehow that it actually means "within its role 'scope'".
But clearly several copies of the "same" handler can exist: if the role "scope" is different. That is the key piece that seems to be missing unless one is a developer or

[2022-03-18 16:15] bcoca commented on #77307
@bluikko yes, this is a corner case that is not clearly documented, not all specific interactions between the different features are. It is a logical conclusion when you look at each of the systems and follow their currently documented behavior,  still we should do a better job on clarifying certain things.

   - handlers are deduped by name, mostly for the purpose when you 'notify by name'
   - r

[2022-03-18 16:21] bcoca commented on #77315
i suspect these are `meta: noop` we sometimes to make many tasks 'work' while not breaking the linear strategy. Mostly handlers and includes trigger these as they can conditionally affect only a subset of the hosts, but 'all hosts' need to be iterated over.

[2022-03-18 16:37] bcoca commented on #77296
The output of `dmesg` on both controller and target might show if it is a resource issue.

[2022-03-18 17:06] bcoca commented on #77213
@migsi the change in that PR was due to many issues with 'locale dependant file names' among onthers, so it tries to use the best possible locale for each utility/command, for this case Im confused as the preferences should be ['C.utf8', 'en_US.utf8', 'C', 'POSIX']

about the selection info, i should have done that, it easy enough to add a 'log' line when getting a specific locale.

[code]

[2022-03-18 17:09] bcoca commented on #77213
#77319

[2022-03-18 17:24] philipsd6 commented on #77313
Ah, I hadn't found your WiP, but I like where that's going. I'll experiment more if I need to, and when I get back from vacation, I'll maybe put up a PR to remove the current example from the docs.

[2022-03-18 19:17] bcoca commented on #77308
nat64 should be needed on the boundary between ipv6 and ipv4 networks, not on ipv6 only machines, but yes if they lived on a mixed network and wanted communication to go across both.

The resolution is what worries me since that is what the message indicates as failing, suggesting that only AAAA is consulted. That A records are accessible is good, but does not mean they are being consulted when AA

[2022-03-18 20:06] felurx commented on #61671
Hey there!
It think this feature would be great to have and I'd be willing to work on it, but I have never done anything on Ansible (but I do have a fair bit of knowledge with Python). @bcoca seems to have done some work already in #75678, so what's currently missing with that PR?
I suppose I'll start by reading https://docs.ansible.com/ansible/latest/community/development_process.html ?

[2022-03-19 22:08] #76621 closed, assigned to nobody

[2022-03-19 22:15] #76522 closed, assigned to nobody

[2022-03-19 22:16] #76339 closed, assigned to nobody

[2022-03-21 08:31] mkrizek commented on #77213
Something I noticed is that we seem to not handle cases when `locale -a` outputs `C.UTF-8` as opposed to `C.utf8` as we expect in the code which is something that we might want to fix. However it does not explain the issue since `get_best_parsable_locale` would fall back to `en_US.utf8` on the given output which would prevent the issue.

[2022-03-21 08:32] Andersson007 opened #77324 "Ansible Contributor Summit. Tuesday, April 12, 2022."
##### Ansible Contributor Summit

We are happy to announce that the registration for the [Ansible Contributor Summit](https://hackmd.io/@ansible-community/contrib-summit-202204/%2FlV3o41__RLiX8P2rm-gGKA) is open!

##### Why

- This is a great opportunity for interested people to meet, discuss related topics, share their stories and opinions, get the latest important updates and just to hang out to

[2022-03-21 08:33] Andersson007 commented on #77324
bot_skip

[2022-03-21 09:58] bluikko opened #77325 "Traceback in random location near SSH timeout with many target hosts"
### Summary

Traceback is shown in a seemingly random place but seems to be often immediately or shortly after some hosts were `unreachable` due to SSH timeout. Can be duplicated consistently with about 20 managed machines with a `site.yml` that works totally reliably with a small amount of hosts.

Checking available RAM in a 1 second resolution shows minimum of 600 MB available RAM. So unless `an

[2022-03-21 10:44] jean-christophe-manciot commented on #77262
@jborean93
Have you made tests with uri making a single request for a large amount of data forcing the server to chunk its answer into multiple responses?

[2022-03-21 11:05] jborean93 commented on #77262
That's the point we are trying to explain, Ansible just returns what it is given to it in the response. If the server returns the chunked response then that's what Ansible will return. AFAIK Ansible itself isn't returning the chunked response because it hasn't processed all the data, rather that's exactly what was in the response from the server. The `uri` module can't really do much about that as

[2022-03-21 11:29] mkot02 commented on #77304
I have the same problem. It looks like it changed between ansible-core 2.11 and 2.12.

When doing this with python3.6 and ansible-core 2.11.x sanity test passes, but when I use python3.8+ and ansible-core 2.12 I'm getting the same error.

[2022-03-21 11:35] bluikko commented on #77315
Full output for my `site.yml` against a single host:
[code]

[2022-03-21 12:53] remkolodder opened #77326 "Feature Request: Add Ansible module for multiple replication partners."
### Summary

We use the VMware community supported Ansible roles to deploy our (large) VMWare platform. We have several clusters that run with linked mode configured (mostly A<>B). However we also have various rings with A<>B<>C<>D<>A (ring complete) clusters configured. We cannot configure that through Ansible.

The JSON to deploy a vCenter only seems to support "one" (1) replication partner.

Wo

[2022-03-21 12:58] mkrizek commented on #77326
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.vmware.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!fo

[2022-03-21 12:58] #77326 closed, assigned to nobody

[2022-03-21 13:47] jean-christophe-manciot commented on #77262
According to Matt Martz, "Looking at the CPython code for http.client, `.read()` should be fully consuming all of the chunks."
Unless I misinterpret that, it means that:
- either there is an issue in some library which does not fetches **all** the chunks
- or the server returns only the first chunk even if it is properly asked to return all the rest as well

Hence my question again:
Have you made

[2022-03-21 13:54] sivel commented on #77262
In either case, neither of those issues are a result of ansible, and nothing that we control.  As mentioned before there is nothing for us to do here.  You may wish to open a bug report with the network vendor, and or cpython.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansi

[2022-03-21 13:54] #77262 closed, assigned to nobody

[2022-03-21 14:32] #76958 closed, assigned to nobody

[2022-03-21 15:47] bcoca commented on #15786
had mean to answer a while back, i've been going back n forth with 2 diff implementations
- update tag matching to try to keep global with 'seen/unseen' and trigger warning at execution end
- combine with issue for --syntax-check in which a 'syntax only' strategy runs through most of play to find/use even dynamically defined tasks (when possible) and evaluate that at start.

neither have a working

[2022-03-21 18:23] bcoca commented on #77213
@Migsi can you show the logs when running with the PR #77319 and ANSIBLE_DEBUG=1?

[2022-03-21 20:43] sivel commented on #77317
Duplicate of https://github.com/ansible/ansible/issues/64523 / https://github.com/ansible/ansible/pull/76866

Effectively, this behavior is expected.

The `--help` output is dependent on the cwd, as it's tailored around the use case.  There is no operational use case outside of the documented cwd.

[2022-03-22 10:46] rajat-008 opened #77333 "Behaviour when start-at-task is empty"
### Summary

The documentation does not cover the behaviour of ansible-playbook command when the start-at-task argument is empty.
Eg-
ansible-playbook -i hosts playbook.yml --start-at-task=""

I have observed that in the above case where start-at-task is an empty string, ansible ignores the argument altogether. However is this behaviour as expected?

### Issue Type

Documentation Report

### Compo

[2022-03-22 15:08] mkrizek commented on #77316
cc @jborean93

[2022-03-22 15:10] mkrizek commented on #77317
cc @mattclay

[2022-03-22 15:17] #77318 closed, assigned to nobody

[2022-03-22 20:28] s-hertel commented on #50181
We voted against adding the alias `targets` to the `hosts` keyword in the[ IRC meeting today](https://meetbot.fedoraproject.org/ansible-meeting/2022-03-03/ansible_core_public_irc_meeting.2022-03-03-15.01.log.html). This issue came up in our internal backlog meeting, and the core team members who attended were in agreement that we did not want to deprecate the `hosts` keyword in favor of something

[2022-03-22 20:28] #50181 closed, assigned to nobody

[2022-03-23 00:59] jborean93 commented on #77316
Thanks for the pickup, it would be great if you can test out https://github.com/ansible/ansible/pull/77334 and see if it works in your scenario. I can confirm that it will lookup the user by the upn rather than trying to split and find it by `sAMAccountName` which has that length limit.

[2022-03-23 08:30] jantari opened #77335 "`with_first_found` finds file, but then returns path to a directory with the same basename"
### Summary

Under certain magic conditions, the `with_first_found` loop will (correctly) find that a file with the name `basename.extension` exists, but then return the path to just `basename` instead, which happens to be a directory and  this leads to `[Errno 21] Is a directory` errors.

Apologies, I have tried to repro this outside of a specific third-party role for a while but just couldn't.

[2022-03-23 08:38] jantari commented on #77335
!component

[2022-03-23 13:02] bodsch commented on #77133
I cannot create a test setup with a non-released version at the moment.
tox only uses released versions.

[2022-03-23 13:19] mkrizek commented on #77133
@bodsch the fix is included in 2.12.3 release which was released on March 1st.

needs_info

[2022-03-23 13:24] mkrizek commented on #77272
@davidism are there any plans/known dates on Jinja 3.1 release?

[2022-03-23 13:54] dmsimard opened #77336 "callback: An include_role task failure triggers a v2_runner_on_ok hook instead of v2_runner_on_failed"
### Summary

When include_role fails -- for example, when it can't find the role it is meant to include -- it does not seem to be considered a failure. The playbook stats summary shows ``failed=0`` and the task fires ``v2_runner_on_ok`` instead of ``v2_runner_on_failed``.

The ansible-playbook command exits with exit code 2, correctly detecting the failure.

### Issue Type

Bug Report

### Compone

[2022-03-23 14:11] mkrizek commented on #77336
This seems to be what @s-hertel noticed when reviewing https://github.com/ansible/ansible/pull/76928. Which is that only `_load_included_file` sends callbacks for `include_tasks`, the `if` branch for `include_role` does not:

https://github.com/ansible/ansible/blob/14098d9b045f4048e540560d3bee808cbb87e2fa/lib/ansible/plugins/strategy/linear.py#L353-L362

<details>
<summary>I started playing with i

[2022-03-23 15:23] ColinFinck opened #77337 "systemd state=restarted only starts - not restarts - a stopped service, affecting dependent services"
### Summary

I use the `systemd` module and `state: restarted` to always restart a service and all its dependent services.
This works well when the service in question is running: A restart signal is sent to that service and propagated to all its dependent services.
However, systemd translates a "restart" request for a stopped service to a "start" request:

https://github.com/ansible/ansible/blob/

[2022-03-23 15:29] ppoilbarbe opened #77338 "file: should not address an error with "src" when state is "absent""
### Summary

ansible.builtin.file: existing "src" field raises an error when state is not "link" nor "hard" (as specified in documentation) but it should not when state is "absent" it makes roles more complicated.
When we want to create/remove a link depending on a condition (like for directory), we cannot do it with only one task

[code]
PS: I am not not sure that this can be considered as a bug

[2022-03-23 15:37] sivel commented on #77338
This can be easily achieved now:

[code]

[2022-03-23 15:37] flowerysong commented on #77338
Setting `src` is not meaningful for `state: absent`, so there is no good reason to allow it. You can still write your task as a single task:

[code]

[2022-03-23 18:28] #77338 closed, assigned to nobody

[2022-03-23 19:11] nitzmahone commented on #19755
Unfortunately this is probably going to have to remain advisory info or we may need to come up with a different data structure- it's not standardized, but it also would be difficult to do so as things like asymmetric cores become more commonplace (eg Macs).

[2022-03-23 19:15] nitzmahone commented on #49992
The above is probably a decent workaround, or use a vars plugin, since include_vars isn't a true action and can't be exactly replicated by one. Closing as "by design"...

[2022-03-23 19:15] #49992 closed, assigned to nobody

[2022-03-23 19:19] #29331 closed, assigned to nobody

[2022-03-23 19:35] nitzmahone commented on #69033
maybe fixed by #74963

[2022-03-23 19:48] nitzmahone commented on #73644
@bcoca sez he has this laying around somewhere in a branch...

[2022-03-23 19:57] nitzmahone commented on #70556
Closing as no-longer applicable

[2022-03-23 19:57] #70556 closed, assigned to lmalivert

[2022-03-23 20:00] nitzmahone commented on #22286
There's a new internal `role_complete` task, but it's not currently allowed for users to specify... Might be worth some discussion about removing that restriction, but there's other cleanup that would need to occur...

[2022-03-23 20:02] felixfontein commented on #69033
I think it's actually fixed by that. I remember having suddenly seen the 'real' paths in the `--metadata-dump` output while using Brian's branch.

[2022-03-23 20:41] #77146 closed, assigned to nobody

[2022-03-23 20:53] jaydabi opened #77339 "ansible-inventory ignores extra-vars"
### Summary

The documentation of `ansible-inventory` ( https://docs.ansible.com/ansible/latest/cli/ansible-inventory.html ) states, that `-e` / `--extra-vars` parameter is supported, but it seems extra-vars are ignored.

### Issue Type

Bug Report

### Component Name

ansible-inventory

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

$ cat /etc/lsb-release
DISTRIB_ID

[2022-03-23 20:55] #74658 closed, assigned to mattclay

[2022-03-24 06:20] gone-for-coding commented on #77316
Thanks for the quick fix @jborean93!
I just tried it and it also works on 2.11.7.

Is it possible to include the fix in 2.11.10 as we are not yet ready to move to 2.12.

[2022-03-24 13:20] ryanwalder opened #77343 "`ansible.posix.synchronize` Does not work with spaces in `src`"
### Summary

When trying to use the `ansible.synchronize.posix` module with a path containing a space the module fails.

### Issue Type

Bug Report

### Component Name

anibsle.posix.synchronize

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Arch

### Steps to Reproduce

[code]

### Expected Results

Module works and syncs files

### Actual Results

[code]

### Code

[2022-03-24 13:21] ryanwalder commented on #77343
Note: Wrapping the `src` in double quotes also does not work: `"'/path/with a/space/in/it'"`

[2022-03-24 13:23] #77343 closed, assigned to nobody

[2022-03-24 13:57] bcoca commented on #77339
`ansible-inventory` supports extra vars since ansbile-core 2.11, but the specific inventory plugin must also use them, some require a toggle  https://docs.ansible.com/ansible/latest/collections/ansible/builtin/constructed_inventory.html#parameter-use_extra_vars.

[2022-03-24 14:28] davidism commented on #77272
In a happy coincidence, I was making the release when I saw this notification. https://pypi.org/project/Jinja2/3.1.0/

[2022-03-24 14:47] samccann commented on #77313
Thanks @philipsd6 for the docs issue and volunteering to create a PR for it when you get back!

[2022-03-24 14:51] nkakouros opened #77344 "module_defaults cannot be set using a variable any more"
### Summary

Before commit 3b861abce13c541c1fc41e59d631e76d2564582a, it was possible to set module_defaults using a variable. This does not work anymore.

You may argue that this was not supposed to work anyway, although it worked perfectly. But imagine having a long list of module defaults (>100 lines of yaml code) that you have to copy around all your dozens of playbooks. This becomes unmaintain

[2022-03-24 14:56] samccann commented on #70636
At this point, we won't be updating EOL docs and 2.9 is for security fixes only (and EOLs in a couple of months). I wish we'd been better/faster on the docs backports, but we weren't.

[2022-03-24 14:56] #70636 closed, assigned to nobody

[2022-03-24 14:58] #70186 closed, assigned to nobody

[2022-03-24 15:00] samccann commented on #70267
We now have a way to edit most all files with the addition of https://github.com/ansible-community/antsibull/pull/355. It is now up to individual collection owners to create the links.yml to support this.

[2022-03-24 15:00] #70267 closed, assigned to nobody

[2022-03-24 15:01] bcoca commented on #70186
to clarify, most module/plugin docs are always available 'offilne' via `ansible-doc`, what we wont add are guides and other docs from the website.

[2022-03-24 15:15] mkrizek commented on #77272
Amazing, thank you for the info!

@felixfontein I am going to go ahead and close this as per above. As mentioned earlier you can either workaround the problem by explicitly converting the value to string or update to Jinja 3.1.0.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-

[2022-03-24 15:15] #77272 closed, assigned to mkrizek

[2022-03-24 15:40] samccann commented on #72717
Fixed by https://docs.ansible.com/ansible/devel/installation_guide/intro_installation.html#confirming-your-installation

[2022-03-24 15:40] #72717 closed, assigned to nobody

[2022-03-24 16:26] #30246 closed, assigned to nobody

[2022-03-24 16:29] griffincollege opened #77345 "Add setopts functionality to dnf/yum modules"
### Summary

There exists functionality that allows for the setting of yum configuration options like `tsflags` or `reposdir` realtime when running yum/dnf and this functionality would promote the use of the module for use cases like that.

### Issue Type

Feature Idea

### Component Name

yum/dnf

### Additional Information

[code]
vs the preferred way in the added feature
[code]

### Code of Con

[2022-03-24 17:23] mkrizek commented on #73892
@kompiz are you still seeing the issue? Since at least three of us were not able to reproduce this issue there is not much we can do here.

needs_info

[2022-03-24 17:56] #41077 closed, assigned to nobody

[2022-03-24 18:29] sivel commented on #77339
Additionally, the `--extra-vars` functionality for `ansible-inventory` doesn't just give you the ability to use arbitrarily named variables in the config for your inventory for templating the values of the config keys.

It's not a 1:1 with how `--extra-vars` works for other uses cases outside of `ansible-inventory`.

The `proxmox` inventory could be extended to make use of a `proxmox_user`, but as

[2022-03-24 18:41] felixfontein commented on #77272
@davidism @mkrizek thanks a lot :)

[2022-03-24 19:01] #77316 closed, assigned to nobody

[2022-03-24 19:14] jborean93 commented on #77339
Hi!

Thanks very much for your interest in Ansible.  It means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

See  this page for a complete and up to date list of com

[2022-03-24 19:14] #77339 closed, assigned to nobody

[2022-03-24 19:19] jborean93 commented on #77344
Hi!

Thanks very much for your interest in Ansible.  It means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

See  this page for a complete and up to date list of com

[2022-03-24 19:19] #77344 closed, assigned to nobody

[2022-03-24 19:21] jborean93 commented on #77345
We typically don't allow free form options in modules are it is hard to document and validate the expected values. It also can cause a problem when an arbitrary option changes a behaviour that another option might be setting causing some sort of undocumented behaviour.

What would be better is to have a `tsflags` option to be added to the module.

[2022-03-24 19:30] #77317 closed, assigned to nobody

[2022-03-24 19:31] jborean93 commented on #77316
Thanks for confirming the fix, the change has been merged into devel. I've also created backports to 2.11.x and 2.12.x, the former being https://github.com/ansible/ansible/pull/77347. This will be merged when closer to the next 2.11.x bugfix release.

[2022-03-24 20:03] samccann commented on #77333
Verified that with not task listed, the entire playbook runs. If the task name is invalid (not in the playbook), we get an error message.

[2022-03-24 20:39] Shrews opened #77349 "`ansible-galaxy role install` fails if signatures are defined for collections"
### Summary

If a galaxy requirements file contains collections that have signatures defined, then `ansible-galaxy role install` with that requirements file fails because a keyring is not supplied.

### Issue Type

Bug Report

### Component Name

ansible-galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 21.10

### Steps to Reproduce

[code]

### Expected

[2022-03-24 21:00] jborean93 commented on #77335
I haven't been able to replicate this by running this exact role. For whatever reason it's trying to load the `Windows` dir rather than the `Windows.yml` tasks in that directory. Could you do 2 things to try and figure out where the problem could be

* Can you run with 5 v's `-vvvvv` as that activates some dwim dispay messages, particuarly with it trying to find a file.

[code]

* Split up the tas

[2022-03-24 21:35] jbird2021 opened #77350 "ipaddr() has moved from ansible.netcommon to ansible.utils"
### Summary

https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters_ipaddr.html#ipaddr-filter

Note reads:
`The ipaddr() filter migrated to the [ansible.netcommon](https://galaxy.ansible.com/ansible/netcommon) collection. Follow the installation instructions to install that collection.`

Should read:
The ipaddr() filter migrated to the [ansible.utils](https://galaxy.ansible.com/ansib

[2022-03-24 21:48] bcoca commented on #77350
both are correct, the docs just point to the first time it migrated, the announcement you point at is the 2nd

[2022-03-24 21:48] fr6nco opened #77351 "Not all facts gathered with ansible-core 2.12.3"
### Summary

Facts are not gathered for centos7 installations when a playbook is run. Module setup gathers all the required facts as expected.

The snippet below demonstrates the issue.
gather_facts is set to yes and caching is disabled.

[code]

expected outout:
Print now to be printed with the expected values, instead the output is the following:

[code]

The first debug instance of the playbook

[2022-03-24 22:11] bcoca commented on #77351
can you show the -vvv output?
needs_info

[2022-03-24 23:59] mattclay commented on #77304
@df-cgdm @mkot02 I'm looking at options for dealing with this. How do you have `pip` configured to use a proxy in your environment?

[2022-03-25 00:39] sivel commented on #77350
Duplicate of https://github.com/ansible/ansible/issues/77221

[2022-03-25 00:39] #77350 closed, assigned to nobody

[2022-03-25 06:38] fr6nco commented on #77351
Pastin the output below.

I can see in the Gathering Facts step **"gather_subset": ["!hardware"],**. Suppose this shouldnt be filtered.

[code]

[2022-03-25 06:59] fr6nco commented on #77351
ok my bad... I had !hardware in ansible.cfg for gather_subset.

[code]

[2022-03-25 06:59] #77351 closed, assigned to nobody

[2022-03-25 07:25] mkot02 commented on #77304
@mattclay I have `global.proxy` and `global.cert` options set in `/etc/pip.conf` file as well as environment variables for proxy (lowercase and uppercase).

[2022-03-25 11:51] jantari commented on #77335
I have edited / split the task exactly as you suggested, by directly locally editing the `tasks/main.yml` role file after downloading it from galaxy (this path for me: `/home/jthumser/.ansible/roles/arillso.ca_certificates/tasks/main.yml`)

Then I ran my repro with 5 v's `-vvvvv`:

[code]

line 26 in my edited tasks/main.yml is the `set_fact` task you suggested. So it looks like the problem really

[2022-03-25 13:35] bluikko opened #77353 "reboot times out if host key changes during reboot"
### Summary

If the managed host SSH host key changes during reboot, the system boot time check part of `reboot` module fails due to timing out. Even if host key check is disabled, the `reboot` task fails - all other tasks before and after reboot work.

The task fails with
[code]

### Issue Type

Bug Report

### Component Name

reboot

### Ansible Version

[code]

### Configuration

[code]

### OS

[2022-03-25 14:00] sivel commented on #77353
The use of setting `HOST_KEY_CHECKING` to `False` should be alleviating this issue.  I do see in the command that is run that it is properly using this configuration by using `-o StrictHostKeyChecking=no`.

The `ssh_config` man page states:

I assume the undocumented "subject to some restrictions" may have come into play here, and as such, I don't know what they are.

Since `ssh` is exiting, and n

[2022-03-25 14:03] sivel commented on #77333
What was the purpose of using `--start-at-task` in this manner, by passing `""`?

needs_info

[2022-03-25 14:08] bluikko commented on #77353
One might be `-o UserKnownHostsFile=/dev/null` in ssh_args.

It is normal that the SSH host key changes during the reboot. It is what the playbook is supposed to do. Tasks before and after this `reboot` command proceed without problems. Only the `reboot` task fails, other tasks do not care about the host key as it should be with `HOST_KEY_CHECKING` set to `false`.

What is special in the SSH comma

[2022-03-25 14:26] sivel commented on #77353
Here are 3 commands that are executed, the 1st and 3rd succeed, the 2nd failed:

[code]

None of the 3 use any different base ssh command, the only difference is the command running on the remote host, other than the 3rd not using `-tt`, but between 1 and 2, there is no difference, and the 2nd is the one that failed.

Remote commands:

1. `'/bin/sh -c '"'"'/sbin/shutdown -r 0 "Server will be resta

[2022-03-25 18:02] bobf opened #77356 "Ansible `random` filter is not compatible with Jinja2 3.1.0"
### Summary

Installing `ansible==2.9` fetches latest `Jinja2` (`3.1.0` released 2022-03-24) which causes the `random` filter to no longer accept the `seed` keyword argument.

[code]

Forcing Jinja2 `3.0.3` resolves this issue.

I initially raised this as a bug report in Jinja2 but was corrected that the `seed` argument is not supported in Jinja2 so presumably this filter is an override provided b

[2022-03-25 19:15] mkrizek commented on #77356
Fixed in https://github.com/ansible/ansible/pull/74666.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-03-25 19:15] #77356 closed, assigned to nobody

[2022-03-25 19:19] mkrizek commented on #77356
FWIW `2.9.22` is the earliest where it is fixed in `2.9` - https://github.com/ansible/ansible/blob/stable-2.9/changelogs/CHANGELOG-v2.9.rst#v2-9-22.

[2022-03-25 19:33] bobf commented on #77356
Thanks a lot, @mkrizek - I'll leave the locked Jinja2 version in for now and then upgrade after the weekend. Appreciate your quick response. :+1:

[2022-03-25 20:31] taylor-schneider commented on #41077
Thanks to everyone who helped get this PR pushed through! Very excited to update and try this out!

[2022-03-25 21:20] mattclay commented on #77304
@df-cgdm @mkot02 As a temporary work-around, can you manually download the pip bootstrapping scripts before running `ansible-test sanity`?

The file(s) to download will depend on which Python version(s) are being used to run the sanity tests:

For Python 3.6+:

https://ci-files.testing.ansible.com/ansible-test/get-pip-21.3.1.py -> `~/.ansible/test/cache/get_pip_21_3_1.py`

For Python 2.7 and 3.5:

[2022-03-26 02:53] bluikko commented on #77353
We made the decision to move to host certificates since it seems it is not something that can be fixed on Ansible side.

[2022-03-26 02:53] #77353 closed, assigned to nobody

[2022-03-26 08:07] magwas commented on #39802
I don't have mode in my playbook but observing the same behaviour.

[2022-03-26 16:03] #34281 closed, assigned to nobody

[2022-03-26 16:04] #33802 closed, assigned to nobody

[2022-03-26 16:04] #33254 closed, assigned to nobody

[2022-03-26 16:05] #32265 closed, assigned to nobody

[2022-03-26 16:06] #31016 closed, assigned to nobody

[2022-03-26 16:07] #30780 closed, assigned to nobody

[2022-03-26 16:24] #29994 closed, assigned to nobody

[2022-03-26 16:26] #29639 closed, assigned to nobody

[2022-03-26 16:27] #29405 closed, assigned to nobody

[2022-03-26 16:27] #29394 closed, assigned to nobody

[2022-03-26 16:27] #29371 closed, assigned to nobody

[2022-03-26 16:28] #29276 closed, assigned to nobody

[2022-03-26 16:28] #29223 closed, assigned to nobody

[2022-03-26 16:28] #29023 closed, assigned to nobody

[2022-03-26 16:29] #28319 closed, assigned to nobody

[2022-03-26 16:37] #27493 closed, assigned to nobody

[2022-03-26 16:37] #27081 closed, assigned to abadger

[2022-03-26 16:37] #26369 closed, assigned to nobody

[2022-03-26 16:38] #25897 closed, assigned to nobody

[2022-03-26 16:38] #25815 closed, assigned to nobody

[2022-03-26 16:38] #25717 closed, assigned to nobody

[2022-03-26 16:39] #25149 closed, assigned to nobody

[2022-03-26 16:39] #25001 closed, assigned to nobody

[2022-03-26 16:39] andreymal commented on #27081
@ansibot closing one of the most upvoted issues is [still](https://github.com/ansible/ansible/issues/14270#issuecomment-1064211631) a bad idea

[2022-03-26 16:39] #24987 closed, assigned to nobody

[2022-03-26 16:41] #23182 closed, assigned to nobody

[2022-03-26 16:42] #23023 closed, assigned to jimi-c

[2022-03-26 16:42] #22399 closed, assigned to nobody

[2022-03-26 16:42] #22382 closed, assigned to nobody

[2022-03-26 16:42] #22241 closed, assigned to nobody

[2022-03-26 16:42] #22107 closed, assigned to nobody

[2022-03-26 16:43] #21563 closed, assigned to nobody

[2022-03-26 16:43] #20958 closed, assigned to nobody

[2022-03-26 16:44] #19815 closed, assigned to nobody

[2022-03-26 16:44] #19811 closed, assigned to nobody

[2022-03-26 17:28] rafaelrdealmeida opened #77361 "unarchive doesn't work and doesn't show error"
### Summary

When downloading a tar.gz file and then unarchive it does not work and does not indicate the error

### Issue Type

Bug Report

### Component Name

unarchive

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Linux ubuntu-vm 5.13.0-37-generic #42~20.04.1-Ubuntu SMP Tue Mar 15 15:44:28 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Steps to Reproduce

[code]

[2022-03-27 15:07] #77070 closed, assigned to nobody

[2022-03-27 18:24] skyfaller opened #77363 "hostname module broken on Alpine Linux"
### Summary

When I try to change the hostname on Alpine 3.15.2 using the hostname module in Ansible core 2.12.2, it successfully changes the hostname but errors out when reporting the result.

Forcing "alpine" strategy doesn't work, but forcing "redhat" seems to avoid the error.

Relevant chatter from the Alpine Linux IRC channel:

[code]
### Issue Type

Bug Report

### Component Name

hostname

[2022-03-27 20:17] #68901 closed, assigned to nobody

[2022-03-28 06:19] Akasurde commented on #77363
@skyfaller Thanks for reporting this issue. This issue is resolved in the latest devel and backport for 2.12 is [here](https://github.com/ansible/ansible/pull/77365).

[2022-03-28 06:22] Akasurde commented on #77363
resolved_by_pr #77365

[2022-03-28 08:25] onitake commented on #27081
The requested `include` filter was implemented and merged more than a year ago: https://github.com/ansible/ansible/pull/40522

Is there anything else missing?

[2022-03-28 08:28] stephan2012 opened #77366 "Templating inconsistency with native types"
### Summary

Template evaluation with Jinja2 Native Types enabled gives different results when used in plays vs. templates.

Sample playbook:

[code]

While the `debug` task yields the expected result, the `template` task fails with a type exception:

[code]

vs.

[code]

### Issue Type

Bug Report

### Component Name

template

### Ansible Version

[code]

### Configuration

[code]

### OS / Envi

[2022-03-28 08:29] stephan2012 commented on #77366
Is this somehow related to #77280?

[2022-03-28 08:40] stephan2012 commented on #77366
By the way, no issues with Ansible v2.9, Python v3.6.9, Jinja2 v2.11.3

[2022-03-28 08:46] mkrizek commented on #77361
This is not related to unarchive nor does it seem to be an issue with Ansible itself as there are `mux_client_read_packet: read header failed: Broken pipe` error messages after each ssh command in your output.

[2022-03-28 09:24] mkrizek commented on #77366
This is expected and has been called out in Ansible 2.11 porting guide at https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_core_2.11.rst#playbook.

The `template` module does not respect `jinja2_native` setting, see https://github.com/ansible/ansible/issues/46169 and https://github.com/ansible/ansible/pull/68560.

You can either use the `template lookup`

[2022-03-28 09:34] stephan2012 commented on #77366
I am always glad to see unnecessarily incompatible changes breaking existing code. :-(

By the way, a very effective way to increase the number of issues.

[2022-03-28 09:53] rafaelrdealmeida commented on #77361
Hi, ok, could you tell me where I'm wrong?

[2022-03-28 09:56] stephan2012 commented on #77366
@mkrizek Thanks for the pointer, works.

[2022-03-28 09:56] #77366 closed, assigned to nobody

[2022-03-28 10:06] mkrizek commented on #77366
I personally believe that https://github.com/ansible/ansible/pull/68560 actually did the exact opposite of your claims.

There definitely was a reason to make this change, `unnecessarily incompatible change` statement is not true.

One of the major use cases of the `template` module is to generate configuration files in json format. Having the `template` module respect `jinja2_native` behavior act

[2022-03-28 10:08] Yajo commented on #39543
Did you find any workarounds so far?

[2022-03-28 10:32] #43087 closed, assigned to nobody

[2022-03-28 10:39] Yajo commented on #39543
FWIW, the same happens when using `include_tasks`.

[2022-03-28 11:31] greyghost509 opened #77367 "Cannot create user with no password (NP) setting"
### Summary

A user created with no password stays locked, even if explicitely set as unlocked.

### Issue Type

Bug Report

### Component Name

ansible.builtin.user

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

FreeBSD 12.3 (running ansible) Debian 11 (being configured).

### Steps to Reproduce

[code]

### Expected Results

I expect an usable (not locked) user be

[2022-03-28 13:19] sivel commented on #77361
This is likely actually fixed by https://github.com/ansible/ansible/pull/76933 which was included in 2.12.3

[2022-03-28 13:36] jainnikhil30 opened #77368 "Wrong python interpreter discovered in ansible core 2.13.0dev"
### Summary

 ansible [core 2.13.0.dev0] is giving wrong `discovered_interpreter_python`. Here is a comparison from same host for 2.12.1 and 2.13

[code]

In 2.12.1

[code]

### Issue Type

Bug Report

### Component Name

setup

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8.4

### Steps to Reproduce

[code]

### Expected Results
[code]
### Actual Results

[co

[2022-03-28 14:53] Vladimir-csp opened #77370 "to_nice_yaml no longer uses multiline"
### Summary

`to_nice_yaml` in 2.12 (compared to 2.9) no longer uses multiline to represent multiline strings.
First, it is no longer 'nice'.
Second, some java-based software seems to fail at understanding quoted multiline, and configs generated via `to_nice_yaml` in 2.12 break things.

Is there any rationale for this change, or a parameter to restore nice strings?

### Issue Type

Bug Report

###

[2022-03-28 15:00] sivel commented on #77370
This is result of the `yaml` callback.  It errantly used to infect all uses of `yaml.dump` through the codebase, instead of just impacting its own callback output.  This was resolved in newer versions, to only affect the callback output, and cannot impact the `to_nice_yaml` behavior.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   *

[2022-03-28 15:00] #77370 closed, assigned to nobody

[2022-03-28 15:05] Vladimir-csp commented on #77370
I tried removing yaml callback to no effect.

[2022-03-28 15:09] sivel commented on #77370
The problem was the `yaml` callback in old versions did a bad thing, and infected all `yaml` uses throughout every use and plugin in core.  Which means that the 2.9 behavior was incorrect, and should never happened in the first place.  The new behavior is correct and expected.

You cannot get the behavior you want in new versions, it was never meant to exist, and was not a feature, it was a bug.

[2022-03-28 15:19] Vladimir-csp commented on #77370
Then it becomes a feature request. Because current multiline represention in `to_nice_yaml` is at least not very readable.

[2022-03-28 15:59] nitzmahone commented on #77368
Oh, was this a side-effect of de-anchoring the mapping, or something else?

[2022-03-28 16:00] sivel commented on #77368
Yes, I failed to catch that the anchors aliased `rhel` to `redhat`, and that `OS_FAMILY_MAP` didn't include `RHEL`.

[2022-03-28 16:41] macau23 commented on #38267
I'm also seeing Ansible read the entire archive before unpacking it, making an unpack hundreds of percent slower.

[2022-03-28 16:47] #77368 closed, assigned to sivel

[2022-03-28 16:49] sivel commented on #38267
Speed is something you give up for accuracy and idempotency.  If you don't want the features provided by the module, just shell out.

[2022-03-28 16:50] sivel commented on #38267
I'm locking this issue, because all of the "me too" comments, basically means we won't end up looking at this as a team.  We triage new issues, and least recently updated, so every comment basically resets this from ever being re-evaluated.

[2022-03-29 10:26] santhu3064 opened #77383 "Filters not working with ansible 2.9.6 and jijna 3.1.1"
### Summary

Ansible by default installs the latest version of jinja .
However current version of jinja2 3.1.1 has the filters removed. So the filters are working no more.

There should be an alternative way of using filters with jinja 3.1.1
The documentation doesn't seem to be updated with information about using filters with the latest version of jinja2.

Ansible version: 2.9.6
Jinja version: 3.

[2022-03-29 10:38] chovanecadam commented on #15297
ansible 2.9.27, issue still present.

[2022-03-29 12:21] mkrizek commented on #77383
Duplicate of https://github.com/ansible/ansible/issues/77356

[2022-03-29 12:21] #77383 closed, assigned to nobody

[2022-03-29 13:49] samdoran commented on #27081
The `include` feature was added in Ansible 2.11, but the way this issue was mentioned didn't close it once #40522 was merged.

[2022-03-29 14:48] mkrizek commented on #77313
Is this a duplicate of https://github.com/ansible/ansible/issues/75794?

[2022-03-29 15:03] #77349 closed, assigned to s-hertel

[2022-03-29 15:03] bcoca commented on #77351
closing as per above

[2022-03-29 15:06] mkrizek commented on #77361
needs_info

[2022-03-29 15:08] mkrizek commented on #77363
Fixed in https://github.com/ansible/ansible/pull/77074 which will be included in `2.12.5`.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-03-29 15:08] #77363 closed, assigned to Akasurde

[2022-03-29 15:42] misilot opened #77384 "lineinfile: Fails in check mode when the file does not exist"
### Summary

When I try to run a playbook in check mode it fails because on a lineinfile because the file does not exist yet. I believe this had been fixed in the past (https://github.com/ansible/ansible-modules-core/pull/514), but I am seeing it error out.

### Issue Type

Bug Report

### Component Name

ansible.builtin.lineinfile

### Ansible Version

[code]

### Configuration

[code]

### OS /

[2022-03-29 15:48] DimiDr0l-go opened #77385 "jenkins_plugin failed download hpi plugins with response code: 401"
### Summary

i have nexus group repo with raw proxy repo from https://updates.jenkins.io/download/ and with raw hosted repo, where save modifed update-center.json i.e. path
https://nexus.local/repository/jenkins-update/update-center.json
https://nexus.local/repository/jenkins-update/plugins/ace-editor/1.1/ace-editor.hpi
if making a request curl/wget/python3, then everything is fine, proxy worked,

[2022-03-29 15:50] #77385 closed, assigned to nobody

[2022-03-29 16:28] acozine commented on #76609
@rndmh3ro would you be willing to share the command you ended up using? We could add that to #76655, or open a similar PR that covers `ansible-test`.

[2022-03-29 18:39] jnm27 opened #77388 "command and shell modules no longer show changed in check mode with creates or removes args"
### Summary

It used to be that when you have a creates: or removes: on a command: or shell: task, it would show changed in check mode. Now it just shows skipped.

We depended on this functionality to accurately report when a command would have changed the system. Looks like it changed under this ticket: https://github.com/ansible/ansible/pull/74258

### Issue Type

Bug Report

### Component Name

[2022-03-29 19:39] s-hertel commented on #77388
This should be fixed by de11a1ce781482e280c55d99ce571a130ae474bc. I've opened a pull request to backport it for 2.12. #77389

[2022-03-29 19:47] minsis opened #77390 "Executing kinit for Kerberos not including PATH environment variable"
### Summary

When running winrm with Kerberos for authentication the kinit ends up not being found because the subprocess doesn't take the executing playbook's $PATH into consideration.

https://github.com/ansible/ansible/blob/4d984613f5e16e205434cdf7290572e62b40bf62/lib/ansible/plugins/connection/winrm.py#L323-L329

https://github.com/ansible/ansible/blob/4d984613f5e16e205434cdf7290572e62b40bf62/

[2022-03-29 19:57] jnm27 commented on #77388
Thanks. Updated description and title, it is not broken for shell:, only command: (and script:, I guess)

[2022-03-29 20:00] minsis commented on #77390
As a work around I'm able to set the var in the playbook execution with a lookup of the conda env. However, this wouldn't correlate over to something like AWX or Tower without some other magic. It also wouldn't take into account if something else is being used, or if you just want to keep the `kinit` default command.

[code]

[2022-03-29 20:02] sivel commented on #77390
Another option is:
[code]

[2022-03-29 20:27] s-hertel commented on #77384
It looks like you're missing `create: True` in your task, so it would fail without --check too. I think it's working as intended since check mode should report what would happen without making any changes (or skipped if it can't be determined).

[2022-03-29 20:34] misilot commented on #77384
Ah, that makes sense. I install chrony beforehand, so the file exists at
that point. Is there a better way I should run this during check mode?
Since the package install would create the file, and I don't want it create
a file with a single line since it wouldn't really make sense.

Thanks!

On Tue, Mar 29, 2022 at 3:28 PM Sloane Hertel ***@***.***>
wrote:

[2022-03-29 20:48] s-hertel commented on #77384
`create: True` won't recreate the file if it already exists. You could also only conditionally run the lineinfile task (for example `when: file.stat.exists`) to avoid the failiure and show skipped instead.

[2022-03-29 20:48] jborean93 commented on #77390
A final alternative until this is fixed is to use the [psrp](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/psrp_connection.html) connection plugin. This has no dependency on `kinit` itself and does the raw Kerberos/GSSAPI calls needed in process to retrieve the TGT. It also runs over WinRM and is mostly a drop in replacement for the `winrm` plugin.

[2022-03-29 20:52] #77384 closed, assigned to nobody

[2022-03-29 21:10] s-hertel commented on #77388
It was broken for shell too. The `shell` action plugin calls the `command` module, so that commit fixed both even though it's not obvious.

[2022-03-29 21:31] mattclay opened #77392 "Update bundled distro to 1.7.0"
### Summary

Update the bundled package [distro](https://pypi.org/pypi/distro) from `1.6.0` to `1.7.0`.

### Issue Type

Bug Report

### Component Name

`lib/ansible/module_utils/distro/__init__.py`

### Ansible Version

2.14

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-03-29 21:34] mattclay opened #77393 "Remove deprecated ALLOW_WORLD_READABLE_TMPFILES"
### Summary

The config option `ALLOW_WORLD_READABLE_TMPFILES` should be removed from `lib/ansible/config/base.yml`. It was scheduled for removal in 2.14.

### Issue Type

Bug Report

### Component Name

`lib/ansible/config/base.yml`

### Ansible Version

2.14

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-03-29 21:34] mattclay opened #77394 "Remove deprecated COMMAND_WARNINGS"
### Summary

The config option `COMMAND_WARNINGS` should be removed from `lib/ansible/config/base.yml`. It was scheduled for removal in 2.14.

### Issue Type

Bug Report

### Component Name

`lib/ansible/config/base.yml`

### Ansible Version

2.14

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-03-29 21:34] mattclay opened #77395 "Remove deprecated DEFAULT_LIBVIRT_LXC_NOSECLABEL.env.0"
### Summary

The config option `DEFAULT_LIBVIRT_LXC_NOSECLABEL.env.0` should be removed from `lib/ansible/config/base.yml`. It was scheduled for removal in 2.12.

### Issue Type

Bug Report

### Component Name

`lib/ansible/config/base.yml`

### Ansible Version

2.14

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-03-29 21:34] mattclay opened #77396 "Remove deprecated DISPLAY_SKIPPED_HOSTS.env.0"
### Summary

The config option `DISPLAY_SKIPPED_HOSTS.env.0` should be removed from `lib/ansible/config/base.yml`. It was scheduled for removal in 2.12.

### Issue Type

Bug Report

### Component Name

`lib/ansible/config/base.yml`

### Ansible Version

2.14

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-03-29 21:34] mattclay opened #77397 "Remove deprecated NETWORK_GROUP_MODULES.env.0"
### Summary

The config option `NETWORK_GROUP_MODULES.env.0` should be removed from `lib/ansible/config/base.yml`. It was scheduled for removal in 2.12.

### Issue Type

Bug Report

### Component Name

`lib/ansible/config/base.yml`

### Ansible Version

2.14

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-03-29 21:34] mattclay opened #77398 "Remove deprecated PLUGIN_FILTERS_CFG.ini.0"
### Summary

The config option `PLUGIN_FILTERS_CFG.ini.0` should be removed from `lib/ansible/config/base.yml`. It was scheduled for removal in 2.12.

### Issue Type

Bug Report

### Component Name

`lib/ansible/config/base.yml`

### Ansible Version

2.14

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-03-29 21:34] mattclay opened #77399 "Remove deprecated options.display_skipped_hosts.env.0"
### Summary

The config option `options.display_skipped_hosts.env.0` should be removed from `lib/ansible/plugins/callback/default.py`. It was scheduled for removal in 2.12.

### Issue Type

Bug Report

### Component Name

`lib/ansible/plugins/callback/default.py`

### Ansible Version

2.14

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

#

[2022-03-29 21:35] sivel commented on #77392
Going to close this as a duplicate of https://github.com/ansible/ansible/issues/77027

I didn't work through this because 1.7 drops Python2.7 and Python3.5 support.

[2022-03-29 21:35] #77392 closed, assigned to nobody

[2022-03-29 21:39] mattclay commented on #77027
We should probably update how we track/report on this vendored library. The closed issue https://github.com/ansible/ansible/issues/77392 was created as a result of the update-bundled sanity test, so we're likely to get another duplicate again when we switch to 2.15 development unless we update our process.

[2022-03-30 00:36] #77390 closed, assigned to nobody

[2022-03-30 02:13] jnm27 commented on #77388
oh I tested wrong, you're right

[2022-03-30 02:30] hadfiiw opened #77405 ""interpreter_python=auto" does not work with "github_key" Module with only Python3 installed"
### Summary

When I have interpreter_python=auto in my ansible.cfg file, the github_key module will not work if the only python installed on my Ansible server is Python3

As a workaround, I changed the line in my ansible.cfg file to be...
interpreter_python=/usr/bin/python3
...and everything works as expected.

### Issue Type

Bug Report

### Component Name

gitHub_key

### Ansible Version

[code]

[2022-03-30 02:36] #77405 closed, assigned to nobody

[2022-03-30 03:28] jborean93 commented on #77335
Ok I was finally able to reproduce it, I was testing against the `stable-2.12` branch where this bug has been fixed but you are on `2.12.3`. The `2.12.4` release just came out which includes this fix, or at least I can no longer replicate it. The reporting bug was https://github.com/ansible/ansible/issues/77136 and was fixed with https://github.com/ansible/ansible/pull/77141. Please update your An

[2022-03-30 04:02] a-oneil opened #77406 "Python error on Jinja2"
### Summary

I recently updated my Ansible server and since then, every playbook that I attempt to run outputs the warning on each task.

[code]

### Issue Type

Bug Report

### Component Name

/usr/lib/python3/dist-packages/ansible/plugins/filter/core.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce
Running any playbook with a

[2022-03-30 05:32] rc-austinoneil commented on #77406
!componet =/usr/lib/python3/dist-packages/ansible/plugins/filter/core.py

[2022-03-30 05:33] rc-austinoneil commented on #77406
!component =/usr/lib/python3/dist-packages/ansible/plugins/filter/core.py

[2022-03-30 06:16] Akasurde commented on #77406
@rc-austinoneil Thanks for reporting this issue. You need to upgrade to Ansible v2.10.10 or higher since this is already fixed in [v2.10.10](https://github.com/ansible/ansible/blob/stable-2.10/changelogs/CHANGELOG-v2.10.rst#v21010) via https://github.com/ansible/ansible/issues/77356.

I will go ahead and close this as a Duplicate of https://github.com/ansible/ansible/issues/77356

[2022-03-30 06:16] #77406 closed, assigned to nobody

[2022-03-30 07:40] ikke-t opened #77407 "ansible-galaxy collection install fails with type git"
### Summary

Either the documentation or the tool is broken. I can't install a collection from git. The tools fails to recognize it's git that should be used.

### Issue Type

Bug Report

### Component Name

ansible-galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 35

### Steps to Reproduce

[code]

or:

[code]

and then

[code]

### Expected Results

it

[2022-03-30 07:44] ikke-t commented on #77407
the guidance is here: https://docs.ansible.com/ansible/latest/user_guide/collections_using.html#install-multiple-collections-with-a-requirements-file

[2022-03-30 08:03] jborean93 commented on #77407
You cannot use type git on Ansible 2.9. That version only supported collection names, urls, or file paths. Git support was added in I think 2.10.

[2022-03-30 08:03] ikke-t commented on #77407
another ways to fail

[code]

[code]

[2022-03-30 08:04] ikke-t commented on #77407
@jborean93 ah that would explain

[2022-03-30 11:20] Akasurde commented on #76027
resolved_by_pr #76032

[2022-03-30 11:26] #76027 closed, assigned to nobody

[2022-03-30 12:16] hadfiiw commented on #77405
Opened up https://github.com/ansible-collections/community.general/issues/4427

[2022-03-30 12:22] JPvRiel commented on #70200
Confirmed, this issue is confusing and unusable. It's making securing secrets and ensuring they don't end up in auditd exec logging impossible for encrypt string - secret leakage threat.

[2022-03-30 12:30] jantari commented on #77335
Yep, thanks a lot!

For future googlers, I have ansible installed via pip, so I used these two commands to update it:

[code]

then my output of `ansible --version` was this:

[code]

and with version 2.12.4 the tasks ran through as expected:

[code]

Thank you!

[2022-03-30 12:30] #77335 closed, assigned to jborean93

[2022-03-30 13:10] #77407 closed, assigned to nobody

[2022-03-30 13:23] gmuloc opened #77412 "Allow to configure the ciphersuite for SSL context"
### Summary

Python 3.10 changed the default set of supported ciphers: https://docs.python.org/3/library/ssl.html#ssl.SSLContext / https://github.com/python/cpython/blob/e91b0a7139d4a4cbd2351ccb5cd021a100cf42d2/Modules/_ssl.c#L170

When the client ansible tries to connect to a client which does not support any of these ciphers the handshake will fail with the following exchange:
* Ansible ---- Cli

[2022-03-30 13:46] #77393 closed, assigned to mkrizek

[2022-03-30 13:52] #77394 closed, assigned to mkrizek

[2022-03-30 14:00] rgajason opened #77413 "Jinja2 3.1 Breaks filter"
### Summary

Version 3.1 of Jinja2 removed deprecated code, including `environmentfilter`: https://github.com/pallets/jinja/pull/1544

Attempting to execute Ansible operations that use `filter` with Jinja2 >= 3.1 results in:

[code]

This issue appears to have been originally addressed here: https://github.com/ansible/ansible/issues/74667

### Issue Type

Bug Report

### Component Name

filter

##

[2022-03-30 14:05] Cosmo121 opened #77414 "Dead page reference from ansible.com"
### Summary

This page: https://docs.ansible.com/ansible/intro_windows.html?extIdCarryOver=true&sc_cid=701f2000001OH7YAAW

Is linked from: https://www.ansible.com/blog/five-questions-windows-automation

Bottom of page:

### Issue Type

Documentation Report

### Component Name

https://www.ansible.com/blog/five-questions-windows-automation

### Ansible Version

[code]

### Configuration

[code]

##

[2022-03-30 14:08] bcoca commented on #77413
fixed in #75881

[2022-03-30 14:44] mkrizek commented on #77413
This actually looks more like a duplicate of https://github.com/ansible/ansible/issues/77406, https://github.com/ansible/ansible/issues/77383 and https://github.com/ansible/ansible/issues/77356.

This is expected, the versions of Ansible that this was fixed (https://github.com/ansible/ansible/pull/74666) in are `2.9.22`, `2.10.10`, `2.11.1` and `2.12.0`.

This should not be the case. Can you doubl

[2022-03-30 15:42] pgrenaud commented on #75982
I'm quite frustrated to have found out about this the hard way. Something wrong was going on with one of our playbook and it turns out it was because the pipelining was no longer enabled, because it was located in the `[ssh_connection]` section.

While I understand that these type of refactoring must happen, I'm baffled that this change was not documented in any of the porting guide. I don't think

[2022-03-30 15:51] jctanner opened #77416 "galaxy validate_certs remains a stringt type instead of typecast to bool"
### Summary

ansible.cfg's validate_certs option for galaxy is never typecast to bool and a "False" is actually truthy.

### Issue Type

Bug Report

### Component Name

galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora25

### Steps to Reproduce

[code]

[code]

### Expected Results

Certs should be ignored.

### Actual Results

[code]

### Code of Conduct

[2022-03-30 15:58] samccann commented on #76799
Hi @tpo - the install page got a significant rewrite recently, trimming it down to just the [`pip install` instructions](https://docs.ansible.com/ansible/devel/installation_guide/intro_installation.html).  We have a discussion topic about that [here](https://github.com/ansible-community/community-topics/issues/83). If you have time, would like your feedback on that discussion topic. Meanwhile, I'l

[2022-03-30 17:21] minsis commented on #77390
Thanks for this, but I'm not sure its working as specified? I tried using this, but `pypsrp` requires `gssapi` (not listed as a requirement in the doc BTW) which requires kinit.

[2022-03-30 18:45] jborean93 commented on #77390
Just like with pywinrm where the Kerberos libs are an optional dependency both can be installed by doing `pypsrp[kerberos]` or pywinrm[kerberos]` in order to install those optional Kerberos dependencies. The docs could probably be a bit clearer but unfortunately it cannot be the default requirements due to the extra system packages that both need to be installed.

As nitzmahone has said, `pypsrp`

[2022-03-31 04:49] Akasurde commented on #77413
@xfyre For me it works -

[code]

[code]

[code]

[2022-03-31 06:57] mkrizek commented on #77413
Yes.

Assuming the location from the provided output, what is the output of the following command?
[code]

[2022-03-31 07:13] xuuaaannnn opened #77425 "How to record ad-hoc as playbook"
### Summary

How to record ad-hoc as playbook

### Issue Type

Feature Idea

### Component Name

ansible

### Additional Information

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-03-31 11:29] ebusho commented on #46200
Any update on this?

[2022-03-31 11:29] Migsi commented on #77213
I try to reevaluate the whole issue again ASAP, which is not before around mid next week. Currently my schedule is pretty full, but an upgrade of our ansible stack is coming closer, so I should be allowed to use more time on this issue. Do not hesitate to ping me if more questions arise, I'm not super active on github, but I try to check my notifications at least once a week.

[2022-03-31 11:52] Zugschlus commented on #70304
Thanks for the workaround. I still feel that ansible should correctly act even if lsb-release is not installed. The information is already there in /etc/os-release, ansible just doesn't bother to use it.

[2022-03-31 13:22] bcoca commented on #77425
Can you elaborate on what you mean? what exactly does 'record' mean to you in this context? what specific effects do you want for adhoc that you see for ansible-playbook?
needs_info

[2022-03-31 13:27] xuuaaannnn commented on #77425
I mean, like autoexpect or Recording Script like SecureCRT, you can convert the ad-hoc that was last executed into a playbook, which is super practical

[2022-03-31 13:52] walterdolce opened #77432 "Ansible >=5 not found on RHEL 8 when installed with pip"
### Summary

Hi all. When I try to install Ansible `5.4.0` on RHEL 8 with pip (via Ansible itself), it fails with the following:

[code]

Is that expected? Why aren't all versions of Ansible available via pip on RHEL 8? Am I missing something?

Thanks in advance.

### Issue Type

Bug Report

### Component Name

ansible

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

[2022-03-31 13:59] samccann commented on #77414
Thanks @Cosmo121 for reporting on the broken link.  For anyone else finding this issue, the docs are now at https://docs.ansible.com/ansible/latest/user_guide/windows.html#windows

I'll see if we can either get the blog post updated, or patch in a redirect to handle this moved document.

[2022-03-31 15:00] samccann commented on #77054
A change to `ansible-config `has the plugin env vars and the script that generates this docs page needs to be updated to also now handle plugins:
https://github.com/ansible/ansible/pull/49627

[2022-03-31 17:19] flybyray opened #77433 "Remove advanced example which does not work."
### Summary

Please just remove:

[code]
https://docs.ansible.com/ansible/latest/user_guide/complex_data_manipulation.html#id15

No tests exist for this and a simple copy paste is producing some sort of DoS-crash.

There is no additional reference where this was ever used or tested.

Original:
https://github.com/ansible/ansible/pull/46979/files#diff-0b3f5962e2d097f45656021c9579639763d56e82a67bd97d

[2022-03-31 17:48] flybyray commented on #77433
maybe this is a better example

[code]

[2022-03-31 19:02] jborean93 commented on #77388
Closing as per https://github.com/ansible/ansible/issues/77388#issuecomment-1082300854

[2022-03-31 19:02] #77388 closed, assigned to nobody

[2022-03-31 19:09] #77416 closed, assigned to nobody

[2022-03-31 19:10] jborean93 commented on #77425
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.
Our reasons for this are:

   * Ultimately this is not a feature we are planning to develop, and maintain
   * Such a tool would probably be best as a 3rd party tool ou

[2022-03-31 19:10] #77425 closed, assigned to nobody

[2022-03-31 19:11] #77395 closed, assigned to mkrizek

[2022-03-31 19:11] #77396 closed, assigned to mkrizek

[2022-03-31 19:11] #77399 closed, assigned to mkrizek

[2022-03-31 19:11] #77397 closed, assigned to mkrizek

[2022-03-31 19:11] #77398 closed, assigned to mkrizek

[2022-03-31 19:15] jborean93 commented on #77432
Hi!

Thanks very much for your interest in Ansible.  It means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

See  this page for a complete and up to date list of com

[2022-03-31 19:15] #77432 closed, assigned to nobody

[2022-03-31 19:20] sivel opened #77437 "Add yaml integration test to verify missing cyaml works"
### Summary

As a follow on to https://github.com/ansible/ansible/pull/77434 we should create an integration test that installs pyyaml in a venv without using the wheel to verify that everything works as expected without the libyaml C extension.

### Issue Type

Bug Report

### Component Name

lib/ansible/module_utils/common/yaml.py

### Ansible Version

[code]

### Configuration

[code]

### OS /

[2022-03-31 21:08] tmichett opened #77440 "Example on Installing Collections from Tarball File in Documentation is incorrect"
### Summary

Should look like the following

[code]

Already fixed and create a pull request for file: #77439 (https://github.com/ansible/ansible/pull/77439)

### Issue Type

Documentation Report

### Component Name

ansible/docs/docsite/rst/shared_snippets/installing_collections_file.rst

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

N/A - website documentation

##

[2022-03-31 21:58] jovmarkovic opened #77441 "Bug merging items in list"
### Summary

It does not merge the file names. I was trying to get items to merge fro m2 different lists into a single list. When using items from within a single file like this It merges all PublicKeys that are in the same file but not form other files also:
[code]

### Issue Type

Bug Report

### Component Name

with_items

### Ansible Version

[code]

### Configuration

[code]

### OS / Environ

[2022-03-31 23:59] Et7f3 opened #77442 "Can't access other field of same mapping"
### Summary

variable can depend on other variable. field can't depend on other field.

### Issue Type

Bug Report

### Component Name

template

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOs

### Steps to Reproduce

group_vars/webs/vars.yml:
[code]
test.yml:
[code]

### Expected Results

It output:
[code]
or at least:
[code]

### Actual Results

[code]

### C

[2022-04-01 01:52] rgajason commented on #77413
Things are also working for me.  The Docker image I was testing that originally led to this bug report was destroyed and I don't have a list of Python modules/versions that were installed outside of `ansible`/`ansible-base`/`Jinja2`.  Several modules that I install have changed their versions and dependency requirements since I reported this and I'm unable to find the right combination to recreate

[2022-04-01 04:47] rndmh3ro commented on #76609
It was something like `ansible-test integration --docker <image or defined name> --python 3.9` - but I'm not sure anymore.

[2022-04-01 05:52] mvalsecc opened #77443 "ansible-galaxy performs a network call even if the dependencies are already satisfied"
### Summary

In the dependency resolution stage, ansible-galaxy appears to reference https://galaxy.ansible.com/api/v2/collections/xxx/yyy even though it successfully references a collection that exists in collections_paths. I have not tried with other modules, but I'm confident this pattern is consistent.

I've verified it happens in recent versions as Ansible Core 2.12.4 or  2.12.0, but also in

[2022-04-01 06:13] mkrizek commented on #77413
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-04-01 06:13] #77413 closed, assigned to nobody

[2022-04-01 06:32] hargut commented on #74918
The cazy part with permission changes and the file module is that follow is by default true.
This leads to ansible trying to change permissions on files that chown/chmod and others would not touch in  recursive mode.

In case eg. a user creates a symlink to /etc/passwd in its /home ansibles file module will happily switch the permissions of the symlink destination when trying to fix permissions in

[2022-04-01 07:22] ssbarnea commented on #74569
The fact that ansible-core keeps down the version of resolve-lib is becoming a more pressing issue as it will soon cause major impossibilities without other tools that might require newer ons.

Any chance to get some attention of this?

[2022-04-01 07:39] mkrizek commented on #77442
Templating a task name is special in that if it fails it is not a fatal error and the raw template is used as a task name instead, as you can see in the output you have provided. It was reported in https://github.com/ansible/ansible/issues/76803.

You can see the actual error for example using the `debug` module:
[code]

[code]

The error is expected, there is no variable called `var11`, there is

[2022-04-01 08:23] mkrizek commented on #77441
This is not a bug. You are reassigning the variable that is why the result is the last item.

To achieve what you want you can do something like this:
[code]

or potentially more efficiently:

[code]

Maybe there is more elegant way to chain the filters though.

In any case questions like this are better suited for IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https:/

[2022-04-01 08:52] gionn commented on #77257
Hello,

unfortunately is still happenning again after trying the suggested workaround https://github.com/Alfresco/alfresco-ansible-deployment/pull/287

Failure was in today build (RHEL 8 on EC2, ansible-core==2.12.4):
https://github.com/Alfresco/alfresco-ansible-deployment/runs/5784045336?check_suite_focus=true#step:9:528

At least they are very sporadic, we do daily builds and AFAIK it's the firs

[2022-04-01 09:56] jovmarkovic commented on #77441
Maybe you didn't understand what I'm trying to do. I need to search for variables first, and then insert them into a list. So, I'm using the output of:
[code]
Which is:
[code]
After that I need to create a list of path items with first split of their basenames.
Should not "with_items" suppose to do that?

[2022-04-01 10:34] joachimBurket commented on #51601
Would be helpful for me as well !

[2022-04-01 10:51] mkrizek commented on #77441
`with_list` loops over a list that is given to it, same as `loop`. It does not create anything.

[2022-04-01 11:27] jovmarkovic commented on #77441
I have found a solution:
[code]
I was missing append. If anyone has a nicer solution, share. But this works for now :) Thanks @mkrizek

[2022-04-01 14:04] Et7f3 commented on #77442
Ok and for second example I need users[0].name but index is not constant. I decided to generate with jinja loops.

Can I change to feature request ?

[2022-04-01 15:12] bcoca commented on #77257
@privodmills that seems different issue, please file a ticket with both tasks and -vvv output

[2022-04-01 16:30] sivel commented on #77440
This is missing both the ansible version being used, as well as what error was encountered.

The comment at https://github.com/ansible/ansible/pull/77439#issuecomment-1086110415 does show this works at least for current versions of ansible-core.

[2022-04-01 16:33] tmichett commented on #77440
[student@workstation Labs]$ ansible --version
ansible 2.9.15

[code]

[code]

[2022-04-01 20:53] #77437 closed, assigned to nobody

[2022-04-02 00:49] ezaquarii opened #77448 "Invalid memory facts on OpenBSD"
### Summary

When running `ansible -m setup host`, reported `ansible_memtotal_mb` fact changes between invocations.
That's because `setup` reads available non-kernel memory, which fluctuates:

https://github.com/ansible/ansible/blob/2797dc644aa8c809444ccac64cad63e0d9a3f9fe/lib/ansible/module_utils/facts/hardware/openbsd.py#L96-L97

To read total available memory, `hw.physmem` key should be used. R

[2022-04-02 05:21] Om222444 opened #77449 "ios_interface module issue with state option"
### Summary

I was trying to create a interface with ios_interface module and when i ran a playbook first time , it created that interface with status marked
as present but when I re -ran it again , it created the interface as it suppose to not create it as it is already present.

ansible playbook code is :

---
- name: General_config

  hosts: routers

  tasks:

  - name: add banner

    ios_bann

[2022-04-02 05:30] #77449 closed, assigned to nobody

[2022-04-02 07:30] jnm27 commented on #77314
I noticed a place where stderr is being used instead of Display - may want to address that:

            except Exception as e:
                sys.stderr.write(repr(e))
                sys.stderr.write('\n')

in module_utils/facts/ansible_collector.py

[2022-04-02 11:26] walterdolce commented on #77432
For posterity: using the right executable path to pip fixed the issue

[2022-04-02 14:58] privodmills opened #77450 "Intermittent "could not find job" error when polling async task"
### Summary

Since upgrading from ansible-core 2.10.5 to 2.12.3

When running an a long running async task the task will intermittently fail a poll with a "could not find job" error.

The task will poll successfully a number of times until it hits an unsuccessful poll which will throw a "could not find job" error.

The logs show _async_dir is incorrect when the poll fails.

### Issue Type

Bug Rep

[2022-04-02 15:01] privodmills commented on #77450
I believe this is a duplicate of #77257 but I was asked to raise a separate issue.

[2022-04-03 15:44] rhysmeister opened #77451 "ansible-test: invalid-documentation not a valid choice for --skip-test flag"
### Summary

It appears that invalid-documentation cannot be passed to the --skip-test flag of ansible-test and it is therefore not possible to skip these tests.

### Issue Type

Bug Report

### Component Name

ansible-test

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 20.04

### Steps to Reproduce

```ansible-test sanity --docker -v --color --python 3.8 --e

[2022-04-03 22:56] kdelee opened #77452 "backport https://github.com/ansible/ansible/pull/77371 to stable-2.12 to fix interpreter discovery"
### Summary

This fix corrected what was causing incorrect interpreter discovery with ansible 2.13, which was causing Execution Environments (images built to run ansible in awx/Ansible Controller) to not use the right python, and thus not be able to use the depenencies build into an image.

It appears this also affects stable-2.12 because "RHEL" is missing from https://github.com/ansible/ansible/b

[2022-04-04 06:26] saurabh-vyas opened #77453 "ansible should not generate warning for python interpreters on Oracle Solaris"
### Summary

When we run ansible cmd currently, it generates warning like:

[code]

### Issue Type

Bug Report

### Component Name

config

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Oracle Solaris 11.4

### Steps to Reproduce

[code]

### Expected Results

[code]

### Actual Results

[code]

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduc

[2022-04-04 06:28] saurabh-vyas commented on #77453
For discovery of python interpreter for ansible, we need to update to add a mapping for Oracle Solaris in
ansible/config/base.yml

(and relevant change in lib/ansible/executor/interpreter_discovery.py )

[2022-04-04 08:07] #52009 closed, assigned to nobody

[2022-04-04 08:37] #30613 closed, assigned to s-hertel

[2022-04-04 15:08] #77451 closed, assigned to nobody

[2022-04-04 15:09] ThePrez opened #77458 "Doesn't find functional Python interpreter on IBM i platform"
### Summary

On IBM i targets, Ansible sometimes fails to find a Python interpreter. The following message is provided:

On IBM i systems, the Python installations are in different places:
- `/QOpenSys/pkgs/bin/python3.9`
- `/QOpenSys/pkgs/bin/python3.6`

To make things worse, some people have an old defunct IBM product installed that put `python` copies in `/usr/bin` that point to an insufficient

[2022-04-04 15:16] ThePrez commented on #77458
Looks like #69163 would address this (current implementation adds the IBM i python paths in a global fallback, though. Not sure that's landable, but conversation can happen on that PR

[2022-04-04 16:27] ericzolf opened #77460 "ansible-galaxy collection init doesn't generate meta/runtime.yml making upload to automation hub fail"
### Summary

`ansible-galaxy collection init` doesn't generate `meta/runtime.yml` which leads to the following error when trying to upload it to (private) automation hub:

[code]

### Issue Type

Bug Report

### Component Name

ansible-galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Fedora 35

### Steps to Reproduce

[code]

### Expected Results

successful up

[2022-04-04 16:29] sivel commented on #77460
Duplicate of https://github.com/ansible/ansible/pull/77418

[2022-04-04 19:50] tpo commented on #76799
Hi @samccann , thanks a lot. I've left my comment in https://github.com/ansible-community/community-topics/issues/83#issuecomment-1087948313 .

[2022-04-04 20:40] #74767 closed, assigned to nobody

[2022-04-05 00:52] mdavis-xyz opened #77461 "Handler with block not found"
### Summary

If a handler is a `block` task containing multiple sub-tasks, Ansible says it cannot find that handler, so the play fails.

This doesn't seem to be documented, and the error message is not as clear as it could be.

My use case is that if something changes, I want to do a few tasks: sleep, download a file from somewhere, check the contents of the file. I *could* make each of these a se

[2022-04-05 05:12] flowerysong commented on #77461
Block names are for documentation only, they do not apply to the contained tasks. In combination with the basic principle of blocks ("The directive does not affect the block itself, it is only inherited by the tasks enclosed by a block") this makes your request that "the error message should say clearly that the handler was found but that task type is not supported" impossible to fulfill, because

[2022-04-05 05:15] mkrizek commented on #77461
...or you can use `include_tasks` as a handler.

This is a duplicate of https://github.com/ansible/ansible/issues/14270.

FWIW There is an effort that could allow that in https://github.com/ansible/ansible/pull/73159.

[2022-04-05 12:57] joschi36 opened #77463 "Allow installing collections in multiple versions"
### Summary

#### Situation

We are currently are deploying our product with roles to multiple servers with Ansible. For versioning, we check out multiple versions of the product role, to update each customer individually. The inventory and playbooks sit in an own repo, with the multiple versions of the same role checked out.

Now we see the benefits of using a collection for our product setup. We

[2022-04-05 15:07] bcoca commented on #77441
closing as per above

[2022-04-05 15:07] #77441 closed, assigned to nobody

[2022-04-05 15:08] bcoca commented on #77442
closing as per above

[2022-04-05 15:08] #77442 closed, assigned to nobody

[2022-04-05 15:10] bcoca commented on #77443
This is expected and we are not sure this is a bug, but we are exploring on ways to make it more intuitive.

[2022-04-05 15:22] bcoca commented on #77452
The fix is for an issue introduced in 2.13 development, 2.12 relies on YAML anchors instead so there is no need to backport this.

[2022-04-05 15:22] #77452 closed, assigned to nobody

[2022-04-05 15:24] bcoca commented on #77453
Could you provide the error with -vvvv ?

[2022-04-05 15:35] #77460 closed, assigned to nobody

[2022-04-05 15:36] bcoca commented on #77461
closing as dupe

[2022-04-05 15:36] #77461 closed, assigned to nobody

[2022-04-05 15:37] sivel commented on #77458
We've discussed this, and have determined that we do not plan to add these python interpreters to the fallback.  Since IBM i doesn't necessarily support a system specific version, we cannot necessarily add an OS/version config here either.

If you have the `PATH` set on the host in a way that non-interactive shells would source, and then interpreter discover should find it.

However, interpreter d

[2022-04-05 15:37] #77458 closed, assigned to nobody

[2022-04-05 15:42] bcoca commented on #77463
There is no plan to support concurrent multiple versions of collections, just like roles, Ansible will only read/find the first one matching the name.

What you did above with roles is work around the issue by incorporating the version into the name of the role, this is not something that is directly supported in Ansible itself.

However, we're absolutely always up for discussion.
Because this pro

[2022-04-05 15:42] #77463 closed, assigned to nobody

[2022-04-05 16:15] bcoca commented on #77314
module_utils code should NOT use display as that is specific to the controller

[2022-04-05 16:20] jnm27 commented on #77314
we depend on messages going to display to get into our log... if this errors, we would not see it in the log...

[2022-04-05 16:21] bcoca commented on #77314
that error is not supposed to show on the terminal, that gets passed to the 'controller' to read as module output, which then gets processed nromally through display and others

[2022-04-05 16:23] jnm27 commented on #77314
ok that makes sense, thanks

[2022-04-05 16:48] bcoca commented on #77450
This does not 'fix' the problem but at least will give an adequate error pointing at the right source of the issue
[code]

[2022-04-05 16:56] bcoca commented on #77450
the other part of the fix is to ensure we always use the same directory for the jid ... so we don't have to constantly look it up again

[2022-04-05 20:19] privodmills commented on #77450
The patch above wont raise an error in the event of the issue I raised as it will still fall through to using "pwd" which usually succeeds even if the initial path expansion failed due to SIGPIPE. (Also cwd doesnt exist)
Somehow caching the _async_dir between polling iterations would be good.

[2022-04-05 20:49] privodmills commented on #77450
Something like this for caching the async_dir?

[code]

[2022-04-05 22:54] mdavis-xyz commented on #77461
That makes sense. Can we mention this limitation in the docs for either handlers or block?

[2022-04-06 07:23] saurabh-vyas commented on #77453
@bcoca I have creates a pull-request and supplied the patch that I have to address this issue
(do you still require verbose o/p ?)

[2022-04-06 12:06] hemak88 opened #77471 "ovirt_affinity_group module vm and host label"
### Summary

I am trying to add a new affinity group with a vm and a hostgroup label. Howevere, the existing ansible 2.9 ovirt_affinity_group module doesnt have the fnctionality to choose a label. In the below ansile doc first example, you see module switch "hosts". A list of hostnames can be given under this switch but not a label.
https://docs.ansible.com/ansible/2.9/modules/ovirt_affinity_group

[2022-04-06 12:12] #77471 closed, assigned to nobody

[2022-04-06 12:39] sivel commented on #77453
It would be nice to see the verbose output, especially since we can not test.

[2022-04-06 15:13] rgajason opened #77473 "kerberos: PY_SSIZE_T_CLEAN macro must be defined for '#' formats"
### Summary

Attempting to interact with Windows servers via WinRM results in connection errors.

### Issue Type

Bug Report

### Component Name

winrm

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

CentOS 7-based Docker image
Python 3.10.4 compiled from source

**Python Modules**
[code]

### Steps to Reproduce

[code]

### Expected Results

No Python errors

### Ac

[2022-04-06 15:58] sathe06 opened #77474 "vmware_guest_find failed with fatal errors"
### Summary

We were using vmware_guest_find module to find vm details\
Scenario:
Daily more than 200 vm's this playbook will run. vm_name output value will run with lower/upper sometimes without that.
Out of 20 server in a row 4-5 got failed with below error message. If we re-run it again its working as expected.
playbook:
[code]
we have tried using name as upper-case and without using anything\

[2022-04-06 16:01] #77474 closed, assigned to nobody

[2022-04-06 17:21] #58632 closed, assigned to nobody

[2022-04-06 17:58] bmorris53 opened #77479 "ansible-galaxy [core 2.12.2] unable to install collection from git+ssh - No such file or directory: 'git' error"
### Summary

Attempting to install collections from bitbucket onto a shared ansible host for my team.  when running the install command I get a No such file or directory: 'git' error.

I have to use git+ssh for multiple reasons, primary being ssh access to our bitbucket is hosted on a non-standard port.

This is working on a Ubuntu 20.04 focal WSL environment with the following configuration:

ans

[2022-04-06 18:53] riendeau opened #77480 "Failure when using ipaddr after updating to Ansible community 5.6.0"
### Summary

After updating to Ansible community 5.6.0, the `ipaddr` filter gives an error in one of our playbooks. The error did not occur in 5.5.0 and, per semver rules, 5.6.0 should be backwards compatible.

### Issue Type

Bug Report

### Component Name

ipaddr

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Mac OS

### Steps to Reproduce

[code]

### Expected Re

[2022-04-06 19:25] rgajason commented on #77473
Hmm... that is interesting, according to my `pip3 freeze` report I don't have `pykerberos` installed.  I'll update my requirements and rebuild and see if I get any different behavior.

Thanks for the lead!

[2022-04-06 19:30] jborean93 commented on #77473
If `pip3 freeze` isn't showing `pykerberos` then it's not the Python that Ansible is using. Based on your `--version` output the packages are installed in `/opt/python3/lib/python3.10/site-packages/...` if that helps.

[2022-04-06 20:04] jwhimpel opened #77481 "hostvars[inventory_hostname]['ansible_env'].SSH_CONNECTION.split(' ')[2] -- Outcomes change depending on "become" setting"
### Summary

When I run this task, var contains an ipv4 address:
[code]

When I run this task, var says VARIABLE IS NOT DEFINED:
[code]

### Issue Type

Bug Report

### Component Name

ansible

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

NAME="Fedora Linux"
VERSION="36 (Server Edition Prerelease)"
ID=fedora
VERSION_ID=36
VERSION_CODENAME=""
PLATFORM_ID="platform:f

[2022-04-06 20:19] jwhimpel commented on #77481
Output with "become: true":
ok: [testFedora.jlhimpel.net] => {
    "hostvars[inventory_hostname]['ansible_env'].SSH_CONNECTION.split(' ')[2]": "VARIABLE IS NOT DEFINED!"

Output without "become: true":
ok: [testFedora.jlhimpel.net] => {
    "hostvars[inventory_hostname]['ansible_env'].SSH_CONNECTION.split(' ')[2]": "192.168.1.32"

[2022-04-06 22:17] rgajason commented on #77473
I've rebuilt / tested and am still running into the same issue.  I can confirm two thing:

1) I previously did *not* have `pykerberos` installed, but I did have `kerberos` (no "py") version 1.3.1 installed
2) I currently do have `pykerberos` installed, and it is version 1.2.4, as well as `kerberos` (no py) version 1.3.1

According to `pip3 show -f <package>` it appears that both packages provide `

[2022-04-06 22:30] rgajason commented on #77473
This is starting to make sense...

https://github.com/apple/ccs-pykerberos/issues/88

Seems that I need to try and ensure that only `pykerberos` is installed and not `kerberos` as well.

[2022-04-06 22:30] jborean93 commented on #77473
Installing them concurrently is a problem, both `pykerberos` and `kerberos` use the same namespace (`kerberos`) so the last one installed will overwrite the other. You want `pykerberos` in this case as that's what we test with and contains the fix mentioned.

[2022-04-06 22:55] rgajason commented on #77473
Thanks for the help, @jborean93.  It is working now.

Recap:

- Don't install `kerberos`
- Ensure that `pykerberos` 1.2.4 or later is installed

[2022-04-06 22:55] #77473 closed, assigned to nobody

[2022-04-07 04:07] bcoca commented on #77481
I cannot reproduce
[code]
results in
[code]

[2022-04-07 04:13] jborean93 commented on #77481
Have you applied become to the play level when gathering facts. That will affect what env vars are gathered as facts.

[2022-04-07 04:25] bcoca commented on #77481
The post had the setting on the debug. If it is as play gathering time, it makes sense, since 'sudo' itself will remove most environment variables by default (see `Defaults`  and `env_keep` in sudo man page)

[2022-04-07 06:43] mkrizek commented on #77480
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.utils.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum

[2022-04-07 06:43] #77480 closed, assigned to nobody

[2022-04-07 13:32] riendeau commented on #77480
Submitted https://github.com/ansible-collections/ansible.utils/issues/162

[2022-04-07 14:14] samccann commented on #59604
Adding some detail. The pages to add this note is:
https://docs.ansible.com/ansible/devel/community/reporting_bugs_and_features.html#how-to-write-a-good-bug-report
and

[2022-04-07 15:11] jwhimpel commented on #77481
Solved:  The unexpected result is the result of sudo removing the requested Environment Variables.  In my real-world ansible role, I applied the "become" directive at the playlist level because almost all the tasks required superuser privileges (including the task that needs the IPv4 address).  I guess the proper methodology would be to remove the playlist level "become" directive and then apply t

[2022-04-07 15:11] #77481 closed, assigned to nobody

[2022-04-07 17:44] #77433 closed, assigned to nobody

[2022-04-07 18:11] samccann commented on #77313
@mkrizek yes I think it is. closing this as a duplicate and thanks @philipsd6 for the info and testing here!

[2022-04-07 18:11] #77313 closed, assigned to nobody

[2022-04-07 18:52] zilerehman opened #77491 "botocore and boto3 are required for aws_ssm lookup"
### Summary

Getting the following error when I try to fetch a secret from secrets manager

[code]

Playbook:
[code]

Debug Info
[code]

### Issue Type

Bug Report

### Component Name

aws_secret

### Ansible Version

[code]
[code]

### OS / Environment

[code]

### Steps to Reproduce

[code]

### Expected Results

Need to see a string returned from AWS Secrets Manager.

### Actual Results

[code]

[2022-04-07 18:55] #77491 closed, assigned to nobody

[2022-04-07 19:44] bcoca commented on #70304
we do check os-release, but since many distros 'lie' the logic is not as simple as that

[2022-04-07 20:32] sivel commented on #77453
needs_info

[2022-04-07 20:44] sivel commented on #77479
We are working to make the error better, but it would appear as though you do not have `git` installed on the host where you are getting this error.

[2022-04-07 21:08] H-s-O commented on #49294
Still no updates regarding this 3 years later?!

[2022-04-08 06:52] mkrizek commented on #77307
Documentation fixed in https://github.com/ansible/ansible/pull/77372.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-04-08 06:52] #77307 closed, assigned to nobody

[2022-04-08 08:24] rplueckh commented on #24215
+1

[2022-04-08 11:46] #69364 closed, assigned to nobody

[2022-04-08 12:26] williamhanseneric commented on #76030
Add me to the list of those that believe not have dependency capability between collections and roles is a bad idea...

[2022-04-08 14:08] bcoca commented on #49294
First, ansible_user is still not guaranteed to be set, I'm not sure this can ever be the case. Specially with 'debug' since it does not use a connection and defining the value correctly depends on the connection used.

But we have made it a little better since 2.12:

  - When the variable(s) are set, they are much more lickely to be accurate since.  Now handles loop and delegation changes correctl

[2022-04-08 15:06] bcoca commented on #24215
see https://github.com/ansible/ansible/pull/41621#issuecomment-1092965962

[2022-04-08 17:41] #77479 closed, assigned to nobody

[2022-04-09 10:46] #51601 closed, assigned to nobody

[2022-04-09 11:03] pythops commented on #69807
@sivel
It would be great to include the `vars_prompt` in task or role level. The `pause` module lacks many essential features.

[2022-04-09 11:10] #69807 closed, assigned to nobody

[2022-04-09 14:51] ryanmerolle commented on #73654
Hopefully not too off topic, but I’ve been on a recent kick to optimize some plays and workflows I have, and as hostvars increase I do see a correlation to runtimes increase especially when run against large host inventories.  I’m going to test this, but if I use `set_facts` just before I need variables to be defined, and `clear_facts` after I no longer need said variables in a play, would that he

[2022-04-10 12:42] ryanmerolle commented on #73654
`clear_facts`seems to only clear gathered facts and not all facts. If it cleared all facts, introduced an option under `clear_facts` to set what type of facts to clear, or introduced a whole new `meta` option to clear all facts, this could give users a new set of tools to keep resource usage and play runtime down.

[2022-04-11 01:40] glbyers opened #77505 "Clarify role dependencies when using role vs import_role"
### Summary

In the documentation for roles at https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#using-role-dependencies , there is the statement;

_Role dependencies let you automatically pull in other roles when using a role._ _**Ansible does not execute role dependencies when you include or import a role. You must use the roles keyword if you want Ansible to execute

[2022-04-11 07:38] mkrizek commented on #77505
Duplicate of https://github.com/ansible/ansible/issues/75055 ?

[2022-04-11 08:30] glbyers commented on #77505
It does appear to be, yes. Apologies, I had a quick search of open issues and did not find the previously reported one.

[2022-04-11 11:07] Haroon-Khel commented on #69364
Are there any plans on reopening this issue?

[2022-04-11 11:57] cidrblock opened #77506 "Allow an `__init__.py` to contain a doc string"
### Summary

We should allow, and probably encourage, an `__init__.py` have a docstring in it.

From PEP257 - "A package may be documented in the module docstring of the __init__.py file in the package directory."

### Issue Type

Bug Report

### Component Name

ansible-test sanity (empty-init)

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

All

### Steps to Reprodu

[2022-04-11 13:38] #74097 closed, assigned to nobody

[2022-04-11 13:40] #73858 closed, assigned to nobody

[2022-04-11 13:40] #73848 closed, assigned to nobody

[2022-04-11 13:40] #73813 closed, assigned to nobody

[2022-04-11 13:40] #73766 closed, assigned to nobody

[2022-04-11 13:41] #73749 closed, assigned to nobody

[2022-04-11 13:41] #73738 closed, assigned to nobody

[2022-04-11 13:42] #73419 closed, assigned to nobody

[2022-04-11 13:42] #73410 closed, assigned to nobody

[2022-04-11 13:48] #72752 closed, assigned to nobody

[2022-04-11 13:48] #72749 closed, assigned to nobody

[2022-04-11 13:49] #72712 closed, assigned to nobody

[2022-04-11 13:56] #72585 closed, assigned to nobody

[2022-04-11 13:57] #72520 closed, assigned to nobody

[2022-04-11 14:15] #72220 closed, assigned to nobody

[2022-04-11 14:15] bcoca commented on #73654
`clear_facts` clears 'facts' .. `set_facts` does NOT create 'facts' by default (only when using `cacheable=true`), even when it does it actually creates 2 different variables scopes with the same value, a 'fact' and a hostvar (what set_fact creates by default). So you are safe using it this way.

 If you were using `vars` it would not be safe since 'lazy evaluation' would require the original vari

[2022-04-11 14:15] #72183 closed, assigned to nobody

[2022-04-11 14:15] #72116 closed, assigned to nobody

[2022-04-11 14:24] #71969 closed, assigned to nobody

[2022-04-11 14:26] #71781 closed, assigned to nobody

[2022-04-11 14:26] #71757 closed, assigned to nobody

[2022-04-11 14:26] #71738 closed, assigned to nobody

[2022-04-11 14:27] #71659 closed, assigned to nobody

[2022-04-11 14:28] bcoca commented on #46200
No, one of Ansible's requirements is a valid POSIX system, running without a valid UID/user on the target system is not something we consider valid and a hard assumption to work around in a lot of our code.

But we kept this open, in case someone would come up with a non intrusive solution that we have not been able to imagine yet.

waiting_on_contributor

[2022-04-11 14:29] bcoca commented on #77505
closing as dupe

[2022-04-11 14:29] #77505 closed, assigned to nobody

[2022-04-11 14:30] ryanmerolle commented on #73654
Good insight @bcoca .

Thanks

[2022-04-11 14:35] #71459 closed, assigned to nobody

[2022-04-11 14:44] #70172 closed, assigned to nobody

[2022-04-11 14:44] #70036 closed, assigned to nobody

[2022-04-11 14:45] bcoca commented on #75982
First, the 'invalidation' of this method was an accident, we did not mean to remove it. As a policy we have strict deprecation periods for these things, so there should be plenty of notice ahead of time.

This was mostly due to an incorrect assumption of what other parts of the code were doing and the lack of specific tests for every possible configuration option, while most of this was fixed we c

[2022-04-11 14:45] #69880 closed, assigned to nobody

[2022-04-11 14:45] #69858 closed, assigned to nobody

[2022-04-11 14:46] #69600 closed, assigned to nobody

[2022-04-11 14:53] #69394 closed, assigned to nobody

[2022-04-11 14:54] #69137 closed, assigned to nobody

[2022-04-11 14:54] #69073 closed, assigned to nobody

[2022-04-11 14:54] #69055 closed, assigned to nobody

[2022-04-11 14:55] #69015 closed, assigned to nobody

[2022-04-11 14:55] #68989 closed, assigned to nobody

[2022-04-11 14:56] #68956 closed, assigned to nobody

[2022-04-11 14:56] #68813 closed, assigned to nobody

[2022-04-11 14:58] #68199 closed, assigned to nobody

[2022-04-11 15:06] #68036 closed, assigned to nobody

[2022-04-11 16:11] falloutphil opened #77510 "Applying limit switch with an empty inventory group causes error not warning?"
### Summary

Hi,

Firstly - it's probably rather strong to call this a bug - it's an inconsistency IMHO.

I have a situation where from time to time my `[production_targets]` group in my inventory in empty - for example:

[code]

My expectation was an empty group would result in Ansible doing nothing and returning success - after all, nothing has failed here.  This happens when the limit switch is

[2022-04-11 17:11] michaelsmoody commented on #69137
Wow, two years. I hadn't expected this to sit for that long. Had I known, I might have actually contributed to the Git module myself. As it seems there's no interest, I understand, and will respect the decision to close.

[2022-04-11 17:36] bcoca commented on #69137
@michaelsmoody that does not mean we would reject a PR providing this functionality, just that the core team and no other contributor has expressed interest in doing so and we just don't want to keep requests open forever.

[2022-04-11 18:17] #75788 closed, assigned to nobody

[2022-04-11 18:19] bcoca commented on #77450
yes, the patch above makes that code more resilient to errors, but it is not a fix for your case, just others that I saw this made possible.

I'm still unsure how to approach keeping the 'memory' of directory used and how to error if that goes away or becomes inaccessible, but I do have most of it worked out, though it requires 'hanging' some new data from the play object.

[2022-04-11 18:32] samccann commented on #77440
Fixed by https://github.com/ansible/ansible/pull/77439

[2022-04-11 18:32] #77440 closed, assigned to nobody

[2022-04-11 20:38] sivel commented on #77450
I've thought over this a few times, and where I keep coming back to, is that `async_status` should be able to accept a full path for the status file, instead of just the `jid`, where it dynamically constructs a path.

`async_wrapper` should return the full path, and the users should give that to `async_status`.  For our internal use, this is easy.

I don't know whether it would be safe to just hav

[2022-04-11 20:39] samccann commented on #44395
Fixed by https://github.com/ansible/ansible/pull/75422

[2022-04-11 20:39] #44395 closed, assigned to nobody

[2022-04-11 20:40] bcoca commented on #77450
my thought was add new key and then keep in `play['async_jobs']['jid'] = path`

[2022-04-11 20:53] samccann commented on #70030
Closing this as the Ansible community has adopted FQCN everywhere in docs.

[2022-04-11 20:53] #70030 closed, assigned to acozine

[2022-04-11 21:10] samccann commented on #71604
Handled in the new docs ported from community-docs

[2022-04-11 21:10] #71604 closed, assigned to nobody

[2022-04-11 21:14] samccann commented on #74807
Hi @ginigangadharan - checking in to see if you are still planning on making these corrections?  Thanks!

[2022-04-12 02:46] ginigangadharan commented on #74807
HI @samccann,
Yes, I would like to proceed with clean up (and other updates if any).
I was referring to the below pages for guidelines,
- [Contributing to the Ansible Documentation](https://docs.ansible.com/ansible/latest/community/documentation_contributions.html)
- [Docs Working Group](https://github.com/ansible/community/wiki/Docs)

I Hope, I am referring to the right documents :)

[2022-04-12 07:36] #67862 closed, assigned to nobody

[2022-04-12 07:36] #67608 closed, assigned to nobody

[2022-04-12 07:37] #67422 closed, assigned to nobody

[2022-04-12 07:37] #67207 closed, assigned to nobody

[2022-04-12 07:37] #67161 closed, assigned to nobody

[2022-04-12 07:37] #67160 closed, assigned to nobody

[2022-04-12 07:38] #66968 closed, assigned to nobody

[2022-04-12 07:40] #66627 closed, assigned to nobody

[2022-04-12 07:40] #66541 closed, assigned to nobody

[2022-04-12 07:48] #65856 closed, assigned to nobody

[2022-04-12 07:48] #65803 closed, assigned to nobody

[2022-04-12 07:49] #65664 closed, assigned to nobody

[2022-04-12 07:50] #65334 closed, assigned to nobody

[2022-04-12 07:50] #65148 closed, assigned to nobody

[2022-04-12 07:52] #64852 closed, assigned to nobody

[2022-04-12 07:55] #63962 closed, assigned to nobody

[2022-04-12 07:55] #63786 closed, assigned to nobody

[2022-04-12 07:55] #63784 closed, assigned to sivel

[2022-04-12 07:56] #63526 closed, assigned to nobody

[2022-04-12 07:57] #62738 closed, assigned to nobody

[2022-04-12 07:57] #62660 closed, assigned to nobody

[2022-04-12 07:58] #62262 closed, assigned to nobody

[2022-04-12 07:59] #61937 closed, assigned to nobody

[2022-04-12 08:00] #61763 closed, assigned to nobody

[2022-04-12 08:00] #61671 closed, assigned to nobody

[2022-04-12 08:00] #61559 closed, assigned to nobody

[2022-04-12 08:00] #61533 closed, assigned to nobody

[2022-04-12 08:08] #60259 closed, assigned to nobody

[2022-04-12 08:08] #60226 closed, assigned to nobody

[2022-04-12 08:09] #60219 closed, assigned to nobody

[2022-04-12 08:09] #59859 closed, assigned to nobody

[2022-04-12 08:10] #59498 closed, assigned to nobody

[2022-04-12 08:11] #58921 closed, assigned to nobody

[2022-04-12 08:12] #58802 closed, assigned to nobody

[2022-04-12 08:13] #58688 closed, assigned to nobody

[2022-04-12 08:15] #57952 closed, assigned to nobody

[2022-04-12 08:15] #57840 closed, assigned to nobody

[2022-04-12 08:15] #57837 closed, assigned to nobody

[2022-04-12 08:17] #57143 closed, assigned to nobody

[2022-04-12 08:18] #56962 closed, assigned to nobody

[2022-04-12 08:19] #56772 closed, assigned to nobody

[2022-04-12 08:19] #56669 closed, assigned to nobody

[2022-04-12 08:22] #55707 closed, assigned to nobody

[2022-04-12 08:22] #55162 closed, assigned to nobody

[2022-04-12 08:22] #55085 closed, assigned to nobody

[2022-04-12 08:23] #55028 closed, assigned to nobody

[2022-04-12 08:23] #54975 closed, assigned to nobody

[2022-04-12 08:25] #54181 closed, assigned to nobody

[2022-04-12 08:25] #53590 closed, assigned to nobody

[2022-04-12 08:26] #52898 closed, assigned to nobody

[2022-04-12 08:35] #52201 closed, assigned to nobody

[2022-04-12 08:36] #51861 closed, assigned to nobody

[2022-04-12 08:37] #51293 closed, assigned to nobody

[2022-04-12 08:39] #50716 closed, assigned to nobody

[2022-04-12 08:39] #50615 closed, assigned to nobody

[2022-04-12 08:39] #50603 closed, assigned to nobody

[2022-04-12 08:40] #50524 closed, assigned to nobody

[2022-04-12 08:40] #50389 closed, assigned to nobody

[2022-04-12 08:41] #50333 closed, assigned to nobody

[2022-04-12 08:42] #49625 closed, assigned to nobody

[2022-04-12 08:42] #49599 closed, assigned to nobody

[2022-04-12 08:43] #49051 closed, assigned to relrod

[2022-04-12 08:43] #49028 closed, assigned to nobody

[2022-04-12 08:44] #48886 closed, assigned to nobody

[2022-04-12 08:45] #48678 closed, assigned to nobody

[2022-04-12 08:45] #48663 closed, assigned to nobody

[2022-04-12 08:46] #47654 closed, assigned to nobody

[2022-04-12 08:47] #47343 closed, assigned to nobody

[2022-04-12 08:47] #46829 closed, assigned to nobody

[2022-04-12 08:48] #46632 closed, assigned to nobody

[2022-04-12 08:48] #46385 closed, assigned to nobody

[2022-04-12 08:51] #44829 closed, assigned to nobody

[2022-04-12 08:53] #43640 closed, assigned to nobody

[2022-04-12 08:54] #42566 closed, assigned to nobody

[2022-04-12 08:57] #41178 closed, assigned to nobody

[2022-04-12 08:57] #40239 closed, assigned to nobody

[2022-04-12 08:58] #39855 closed, assigned to nobody

[2022-04-12 08:58] #39835 closed, assigned to nobody

[2022-04-12 09:00] #38737 closed, assigned to nobody

[2022-04-12 09:00] #38701 closed, assigned to nobody

[2022-04-12 09:01] #38339 closed, assigned to nobody

[2022-04-12 09:04] markusdd commented on #41178
don't get why this is being closed.

this is still aproblem until this day.

[2022-04-12 09:06] sebastianmacarescu commented on #51663
I run the following bash script using packer on first boot then run ansible for provisioning:
``fix_apt_upgrades.sh``
[code]
Packer code:
[code]

Thanks @wibru for the solution

[2022-04-12 09:06] #35474 closed, assigned to nobody

[2022-04-12 09:06] #35424 closed, assigned to alikins

[2022-04-12 09:07] #34853 closed, assigned to nobody

[2022-04-12 09:07] #34739 closed, assigned to nobody

[2022-04-12 09:08] #34687 closed, assigned to nobody

[2022-04-12 09:08] #34454 closed, assigned to nobody

[2022-04-12 10:54] mkrizek commented on #41178
@markusdd The functionality can still implemented, anyone is free to send a PR but no one has done so while the issue has been open for a long time.

[2022-04-12 12:11] rightaway commented on #73848
@imjoseangel Can you open this?

[2022-04-12 12:15] imjoseangel commented on #73848
No, sorry. I don't have the rights.

[2022-04-12 17:06] arcreigh opened #77519 "Numerical Group name throws error in yaml formatted hosts file."
### Summary

When attempting to run a simple playbook to get the hostname of a cisco 3750x ansible fails to parse the yaml formatted hosts file. Playbook works with an INI formatted hosts file, however in an effort to use ansible-vault I need to migrate my file to yaml format.

### Issue Type

Bug Report

### Component Name

apt

### Ansible Version

[code]

### Configuration

[code]

### OS / Env

[2022-04-12 19:36] samccann commented on #74807
@ginigangadharan That would be great, thanks! Let me know if you have any questions etc.

[2022-04-12 19:49] arcreigh commented on #77519
After a bit of testing changing the group name from "3750" to "switches" allowed me to get the expected output. It appears that numerical group names are not possible at the present time.
This is problematic for network devices that are commonly referred to by their model numbers in larger environments.

[2022-04-12 20:10] reyjrar commented on #73643
This is a serious bug. Existing behavior does not match the documentation.

@s-hertel There is **nothing** in https://docs.ansible.com/ansible/latest/user_guide/playbooks_handlers.html to the case you've mentioned here.

Please change the code to match the documentation. I've designed my playbooks around the assumption that handlers only execute once and now I have no idea how to work around this

[2022-04-12 22:07] reyjrar commented on #73643
Ansible Version: 2.9.27

The bug here is using the signatures + names as the uniqueness.  If the uniqueness was instead determined by the name + content of the task, you'd probably be in a better place.

I.E.

[code]

Regardless of how many times I notify that handler from anywhere in the execution, I expect it to run once per host per stage.  However, I use this to generate configs for syslog-ng

[2022-04-13 00:34] vailouk opened #77520 "Files edits Files identified in the description:"
Files identified in the description:
* [lib/ansible/modules/packaging/os/apt.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt.py)

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

_Origin

[2022-04-13 01:49] ginigangadharan commented on #74807
Thank you @samccann.

[2022-04-13 07:23] #77520 closed, assigned to nobody

[2022-04-13 08:23] Xuxe commented on #74569
I guess it's the point where people installing it by pip getting issues, i can't install ansible-5.6.0 on Debian 11 with Python 3.9 (venv):

Not sure if it's really related to resolvelib, but i think so based on the stack traces. Otherwise i will rise a new issue.

Python 3.9.2
pip 22.0.4 from /tmp/venv/lib/python3.9/site-packages/pip (python 3.9)

Pip 20.3.4:
[code]

Pip 22.0.4:
[code]

[2022-04-13 09:06] ssbarnea opened #77523 "devel/2.14: ansible-config dump output broken, affecting ansible-compat"
### Summary

Newly introduced output change in ansible-config broke ansible-compat, ansible-lint, molecule and likely even ansible-navigator.

This also broke the pipelines that are testing with ansible devel for these projects so we need to find a solution quickly.

See https://github.com/ansible/ansible-compat/issues/134

### Issue Type

Bug Report

### Component Name

ansible-config

### Ansibl

[2022-04-13 09:50] apatard commented on #77523
A crude hack (inspired by what's done in constants.py) would be:
[code]

One possible other solution would be to solve this in a lower level, so that no templates appear in configuration values. No idea how it can be done.

[2022-04-13 10:29] MaxValue commented on #23220
A few days ago, this issue celebrated its 5th birthday, as mentioned.

I would love to have this functionality. Maybe I will find time to look into this bug, but I've never developed for the ansible project itself before.

[2022-04-13 11:27] cidrblock commented on #77523
@ssbarnea TY and confirmed, this does indeed impact ansible-navigator

[2022-04-13 12:12] s-hertel commented on #73643
@reyjrar The documentation you referenced does reflect the code and behavior you show, but it doesn't capture the nuance of how roles work to understand what's actually happening.

(Note: this is an over-simplification based on the reproducer you gave)

Calling a role with a unique signature creates a new in-memory role. If the role is invoked the same way later, the previously created role is reu

[2022-04-13 12:12] jaiswaldj opened #77524 "I see 3 years old link which says bug is fixed but don't see how it's fixed https://github.com/ansible/ansible/issues/13453"
I see 3 years old link which says bug is fixed but don't see how it's fixed https://github.com/ansible/ansible/issues/13453

_Originally posted by @ghost in https://github.com/ansible/ansible/issues/40207#issuecomment-389386399_

[2022-04-13 12:12] #77524 closed, assigned to nobody

[2022-04-13 12:15] jaiswaldj opened #77525 "I am gettig error std_out - Varibale not defined"
---

- hosts: switch
  connection: network_cli
  become_method: enable
  gather_facts: no
  vars_prompt:
   - name: vlan_id
     prompt: enter the vlan_id
     private: no

  vars:
    cli:
       username: admin
       password: int123$%^

    vlans:
      100: "CORE"
      200: "MONITORING"
      300: "ACCESS"
      400: "GUEST_WIFI"

    ansible_buffer_read_timeout: 2
  tasks:
    - name: "crea

[2022-04-13 12:34] #77525 closed, assigned to nobody

[2022-04-13 12:43] duck-rh commented on #73643
@s-hertel in my case I did not have any parameter that was an include parameter, maybe local role variables though, but in this case I guess it should be considered identical in all invocations.

[2022-04-13 13:12] mkrizek commented on #77523
`git bisect`'ed to https://github.com/ansible/ansible/pull/76114

[2022-04-13 13:20] bcoca commented on #77523
FYI this is not a 'change in output' but a change in default values, which you are now getting 'untemplated'

[2022-04-13 13:21] bcoca commented on #77523
possible fix #77483

[2022-04-13 13:26] bcoca commented on #77523
@ssbarnea in any case, 'defaults' are allowed to violate 'type' for a setting, so you might need to also change your expectations.

[2022-04-13 13:33] bcoca commented on #77523
Also you have 'preexisting' case
`INVENTORY_IGNORE_EXTS(default) = {{(REJECT_EXTS + ('.orig', '.ini', '.cfg', '.retry'))}}`
how did you deal with this until now?

[2022-04-13 13:41] bcoca commented on #77523
that is just one, there are several, but i guess the same reason, you just happen to not use.

[2022-04-13 13:47] #59604 closed, assigned to acozine, thedoubl3j

[2022-04-13 14:40] bcoca commented on #73643
using test case from above, with 2 extra debug tasks for pre/post_tasks, results are same on 2.9 and devel (assuming it affects all intermediate versions).

using include_role
[code]
using import_role
[code]

[2022-04-13 15:09] rightaway commented on #73848
@imjoseangel Who does?

[2022-04-13 16:41] MarkusTeufelberger commented on #77027
Can there be a split, so hosts with Python>=3.6 get distro 1.7.0 and others get the legacy version?

[2022-04-13 16:43] sivel commented on #77027
I don't think that would not be a good idea.  Depending on the Python version you target, you could get completely different results.

[2022-04-13 16:44] MarkusTeufelberger commented on #77027
As long as they are stable...?

[2022-04-13 16:48] MarkusTeufelberger commented on #77027
Modern distros won't be running old python versions and old distros would still be (dis)covered by the legacy branch of the distro library anyways. When Python2 support on target hosts is finally removed in a few decades(?), the new library would already be in use and ready to go unmodified.

I mean, it is also not the nicest solution, but definitely a working one - if someone has 2 Python version

[2022-04-13 16:54] imjoseangel commented on #73848
Any member of the projects does. @Akasurde do you know??

Thanks

[2022-04-13 16:58] sivel commented on #73848
We are purposefully having these issues closed.  Just because it's closed doesn't mean that someone cannot implement it.  The Ansible Core team has no intentions to implement this, and we are moving to a method where we do not keep feature requests open for long if we have no intention to do anything with them ourselves.

As such, we do not plan on re-opening this issue.  This does not mean we wou

[2022-04-13 17:55] reyjrar commented on #73643
@bcoca Thanks for the excellent explanation of the behavior. Your example highlights why I suggested looking at the name + content of the handler vs the name + entry point.  Deduplication of handlers is something I was relying on, and without knowing all these nuances of in-memory/runtime roles vs the on disk representation was frustrating.

I dig the import_tasks/handler definition in the playboo

[2022-04-13 18:18] jamesdouthit-wk opened #77530 "Vagrant Ansible improperly links multi-line commands on windows powershell"
### Summary

Trying to create a windows box with python installed using vagrant+ansible+chocolatey yields several different errors (depending on the configuration tried) that seem to be originating from the fact that ansible is linking commands in powershell with `&&`, which is improper powershell syntax as well as trying to do privilege escalation on powershell using `sudo`, which is incorrect. A

[2022-04-13 18:24] bcoca commented on #73643
roles are not really encapsulated, which is a common incorrect assumption and why i proposed a 'roles 2.0'. The would have the expected behavior but we would have to keep current roles also for backwards compatibility.

[2022-04-13 19:32] sivel commented on #77078
https://github.com/ansible/ansible/pull/75415#issuecomment-896113816

[2022-04-13 19:46] mattclay commented on #27705
Closing per above.

[2022-04-13 19:46] #27705 closed, assigned to nobody

[2022-04-13 19:49] mattclay commented on #17122
Closing per https://github.com/ansible/ansible/issues/17122#issuecomment-245434450

[2022-04-13 19:49] #17122 closed, assigned to nobody

[2022-04-13 19:51] mattclay commented on #64121
Closing as a duplicate of https://github.com/ansible/ansible/issues/47068

[2022-04-13 19:51] #64121 closed, assigned to nobody

[2022-04-13 19:56] sivel commented on #56171
Thank you very much for your interest in Ansible.  Unfortunately there is too much room for this to go badly, and once we have a feature that claims to add security it'll then be subject to CVEs related to the inability to track this properly.

As such, we're not proceeding with any changes to add this feature at this time.

If you have sensitive data, evaluate your tasks that may output informati

[2022-04-13 19:56] #56171 closed, assigned to nobody

[2022-04-13 20:04] bcoca commented on #44300
fixed via #68756

[2022-04-14 00:33] mailinglists35 opened #77534 "Runing with retry_files_enabled and "--limit @retries.file.name" should update the retry file"
### Summary

I don't know if I am using this feature correctly. I want to forever retry running a playbook for hosts that are unreachable.

To do this, I have enabled `retry_files_enabled` in `ansible.cfg` and I am happy to observe that offline hosts pile up in the retry file.

But when I run `ansible-playbook again`, this time with `--limit @/path/to/retry/file`, it correctly attempts to connect

[2022-04-14 07:34] karniemi commented on #63871
We recently added ssh-client to out docker-image for ansible ... and started facing this issue because ansible now uses ssh instead of paramiko. We did the addition of sshd-client intentionally to have the same configuration as our user base.  Any plan to fix this
 issue? Should we switch back to paramiko, and recommend that for our user base as well?

[2022-04-14 09:45] anxstj opened #77535 "jinja parsing of lookup depends on input"
### Summary

Ansible is attempting to jinja template the return from a lookup if something in the lookup is a variable itself. But if nothing in the lookup is a template it's fine with not jinja templating the result of the lookup.

Do you have an explanation for the below-described behavior?

### Issue Type

Bug Report

### Component Name

lookup

### Ansible Version

[code]

### Configuration

[

[2022-04-14 11:28] mkrizek commented on #77535
This is fixed in the `devel` branch and will be included in the `2.13` release.

It was fixed in #75587 where we changed some internal mechanisms in the templating engine. Such change will not be backported to earlier releases.

I don't know why the behavior changed with the above PR yet or if the fix can be isolated so it can be backported. Or if the fix was desirable even.

[2022-04-14 12:35] igorfraa opened #77536 "Ansible 2.9.27 sometimes renders template into subdirectory 'filename'/'filename'.j2"
### Summary

When using ansible.builtin.template, **sometimes** (say 1 in 200 times) template being rendered, but every file goes into subdirectory with '.j2' suffix added to filename like in the template source:

`/opt/docker/clickhouse/config/config.xml/config.xml.j2`

Which it is meant to be
`/opt/docker/clickhouse/config/config.xml`

File contents is rendered correctly however.

It seams the i

[2022-04-14 13:04] johananl opened #77537 "Wrong OS family fact reported for Flatcar"
### Summary

Ansible may report the wrong `ansible_os_family` fact on Flatcar Container Linux. The correct value is `Flatcar`, however some users are seeing `Flatcar Container Linux by Kinvolk` for the same fact under certain circumstances, which leads to wrong playbook behavior given that Ansible fails to identify Flatcar as the running distro.

In https://github.com/ansible/ansible/pull/69627 we

[2022-04-14 13:05] johananl commented on #77537
Relevant issue on Flatcar repo: https://github.com/flatcar-linux/Flatcar/issues/719

[2022-04-14 13:19] dvdlevanon-sgh opened #77538 "fatal: unsafe repository (REPO is owned by someone else)"
### Summary

Hello!

This started to happen recently with both ansible 2.12.4 and 2.11.3.

It happens only upon updates to an existing git directory.

[code]

I think it relates to https://github.blog/2022-04-12-git-security-vulnerability-announced/
It also happens in the equivalent github action: https://github.com/actions/checkout/issues/760

Is there something to do from within the task to avoi

[2022-04-14 13:35] Akasurde commented on #77538
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2022-04-14 13:35] #77538 closed, assigned to nobody

[2022-04-14 15:40] bcoca commented on #63871
`DEFAULT_TRANSPORT`  is NOT the env variable, its the 'configuration name', `ANSIBLE_TRANSPORT` is the env variable.
https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-transport

Also, #18305 is a collection of 'ansible hangs' reasons, most of them have to do with processes on the remote, not on the controller. While this ticket is specifically about the use of sshpas

[2022-04-14 15:42] sivel commented on #63871
fwiw, I think we can close this specific issue now.  `sshpass` monitors it's own spawned processes properly now that https://sourceforge.net/p/sshpass/patches/11/ has been resolved.

[2022-04-14 15:44] #63871 closed, assigned to nobody

[2022-04-14 16:14] bcoca commented on #73643
#49338 looks like the culprit, but previous code also had issues

[2022-04-14 16:50] karniemi commented on #63871
For those still using the long living rhel7/centos7, that is still not avalable though.

[2022-04-14 17:06] #77510 closed, assigned to nobody

[2022-04-14 17:16] bcoca commented on #63871
@karniemi if we had fixed this in ansible itself, you would still need to upgrade as it would not be something we backport, specially to versions that are 'end of life'.

[2022-04-14 17:32] #56017 closed, assigned to nobody

[2022-04-14 18:39] samccann commented on #77414
This has now been fixed on the blogs. Thanks again for reporting the problem!

[2022-04-14 18:39] #77414 closed, assigned to nobody

[2022-04-14 19:22] s-hertel commented on #77523
Closing since #77483 has been merged.

[2022-04-14 19:22] #77523 closed, assigned to nobody

[2022-04-14 19:27] s-hertel commented on #77530
Hi!

Thanks very much for your interest in Ansible.  It means a lot to us.

Running Ansible on Windows is not supported: https://docs.ansible.com/ansible/2.5/user_guide/windows_faq.html#can-ansible-run-on-windows

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on [irc.libera.chat](https://libera.c

[2022-04-14 19:27] #77530 closed, assigned to nobody

[2022-04-14 19:31] s-hertel commented on #77534
Updating the retry file would be a breaking change for anyone relying on the current behavior, so we may need to add this via a new option.

[2022-04-14 19:39] s-hertel commented on #77536
@igorfraa We need a reproducer to be able to investigate this. Please test against 2.12 to verify this is still an issue on newer versions since 2.9 is only accepting security fixes. I'm closing this since there's not enough actionable information.

[2022-04-14 19:39] #77536 closed, assigned to nobody

[2022-04-14 19:41] s-hertel commented on #77537
@johananl What file should be used instead of `/etc/flatcar/update.conf`?

[2022-04-14 20:11] johananl commented on #77537
`/etc/os-release` makes the most sense.

[2022-04-14 20:33] jnm27 opened #77541 "ERROR! The field 'module_defaults' is supposed to be a dictionary or list of dictionaries"
### Summary

I am currently on ansible-core 2.11.5. I am previewing 2.12.4 and noticed this.

`ERROR! The field 'module_defaults' is supposed to be a dictionary or list of dictionaries, the keys of which must be static action, module, or group names. Only the values may contain templates. For example: {'ping': "{{ ping_defaults }}"}`

We use module_defaults such that we define a dictionary of task

[2022-04-14 21:11] bcoca commented on #77541
https://github.com/ansible/ansible/blob/v2.12.1/changelogs/CHANGELOG-v2.12.rst#breaking-changes-porting-guide

[2022-04-14 22:44] s-hertel commented on #77541
This looks like a duplicate of #77344

It was removed to make module_defaults work properly with collections without adding significant performance overhead. Your example of broken group syntax is a good example of what needed to change. The contents of module_defaults and action_groups weren't resolved to the final fully qualified names so whether or not module_defaults would work depended on how

[2022-04-14 22:57] s-hertel commented on #77519
We don't plan on auto-casting unexpected types to strings in the yaml inventory plugin, but the error should be more helpful about what failed and what type is expected. I've opened a PR to do that: #77544.

[2022-04-14 23:10] kocoten1992 opened #77545 "[feature-request] ansible pip install with --upgrade option"
### Summary

Hi ansible,

in python `pip`, there is an argument for install and upgrade, for example:
[code]

In pip module, I can't find document for option `--upgrade` argument, https://docs.ansible.com/ansible/latest/collections/ansible/builtin/pip_module.html

### Issue Type

Feature Idea

### Component Name

pip

### Additional Information

I have search `pip upgrade` in open issues github, b

[2022-04-14 23:11] kocoten1992 commented on #77545
I've miss `extra_args`, sorry for the noise :disappointed:

[2022-04-14 23:11] #77545 closed, assigned to nobody

[2022-04-15 00:45] jnm27 commented on #77541
I see. There are major performance problems with the way we're doing it (sometimes up to 30 seconds overhead per task sometimes, because we have a bunch of different modules with anchors and a complex set of dynamic variables). It's livable for now, but I was hoping to use the group feature to possibly cut down on that time.

It's not too much of a hassle if the group feature actually works. It wo

[2022-04-15 00:51] jnm27 commented on #77541
A quick test shows this doesn't work...

[code]

[2022-04-15 00:55] jnm27 commented on #77541
One thing to clarify also, we depend on the argument values (not the module names) to be lazily evaluated for every task, as dependent variables may be changed dynamically for a given task or set of tasks. - will that still work? You mentioned things being evaluated once.

[2022-04-15 01:35] #41313 closed, assigned to nobody

[2022-04-15 19:42] kompjuteras opened #77547 "Incorrect state of iptables service"
### Summary

Hello.
Red Hat 7 machine, firewalld is stopped and disabled, and iptables-services are installed and started.

[code]

But when fetching service facts, it shows me that iptables are stopped and not running. Tasks:
[code]
Output:
[code]

I didn't see this behavior for other services; it appears only for iptables.

Regards.

### Issue Type

Bug Report

### Component Name

ansible.builti

[2022-04-15 20:19] s-hertel commented on #77541
YAML anchors + module_defaults can cut down on some boilerplate, it's not a bad way to do it.

It looks like it works but your defaults are wrong. The error is that you've passed an unsupported parameter. Your `group/vmware` contains `esxi_hostname`, which isn't supported by all modules that you're calling in that group. `action_groups` are meant for setting common options.

If you have a subset o

[2022-04-16 07:58] bguerout commented on #72460
This does not seem to work on ArchLinux either

[2022-04-16 08:00] imThief opened #77548 "[Feature request] Ability to automanipulate with service's timer - if it exists"
### Summary

It would be nice to get an ability to automatically do specified manipulation with service's timer too, if it exists. Today there is no builtin way to gather timers information (service_facts doesn't gather info about timers).
For example: I am disabling (or enabling) service 'foobar.service' and want to do the same manipulation with its timer 'foobar.timer', if only i could add an op

[2022-04-16 10:13] Zugschlus opened #77549 "please consider assemble parameter "infile_regexp" or "exclude_line_regexp""
### Summary

Hi,

Please consider implementing a "infile_regexp", specifing a regex replace that would be applied to every line from a fragment as fragments ar assembled together, or a "exclude_line_regexp", specifing a regular expression match. matching lines would be excluded from assembly.

### Issue Type

Feature Idea

### Component Name

assemble

### Additional Information

I usually put a c

[2022-04-16 12:50] rightaway opened #77550 "All handlers for a task are running"
### Summary

All handlers for a task are being run when only the certain ones should.

### Issue Type

Bug Report

### Component Name

handlers

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

linux

### Steps to Reproduce

[code]

### Expected Results

When only item 1 has changed in the task then only the listen-1 handler should be run.

### Actual Results

[code]