[2016-12-30 13:17] westsouthnight opened #19754 "BUG: Possible to use dynamic variables mapping [00:xx] in Inventory HostGroups"
##### ISSUE TYPE
 - Feature Idea
 - Bug

##### COMPONENT NAME
Core Inventory

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Any

##### SUMMARY
I'm use dynamic naming for Inventory host groups with servers like

[code]

Sometimes, i need to have params/vars for that host group like:

[code]

I want to use dynamic mappings like in ubuntu-servers group, for example its can to be looks like:

[c

[2016-12-30 13:20] dagwieers opened #19755 "ansible_processor on IBM S/390 not compatible with others"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

v2.2.0

##### OS / ENVIRONMENT

RHEL 6.7 on z/VM 6.3.0

##### SUMMARY

The setup module does not provide the same data-structure on IBM S/390 as on other Linux architectures.

Normal Linux system:
[code]

On IBM S/390 one gets:
[code]

In itself I think the default data-structure was a bad choice, as it is a list

[2016-12-30 15:26] #19259 closed, assigned to nobody

[2016-12-30 15:59] pilotmattk commented on #17685
Serial or even reducing fork count works if the weak link is the outbound connection.   It does not protect a low bandwidth connection in Mexico or China.   Ansible get_url or maven_artifact will absolutely bury the site pulling artifacts (making it nearly unreachable for other business).   yum (package module) is OK as it already has throttling in yum.cfg.    Additionally, for a 50K node deploy,

[2016-12-30 16:08] shea851 commented on #9065
@hanej Genius!

I'm so surprised that this is even an issue.  I'm running into it because I have a single role I use with multiple inventory groups that have associated group_var files.  In QA/Prod, this is not an issue, because each inventory group has different servers.  But for integration level environments, we tend to smash everything together on to single servers (which is why I'm seeing thi

[2016-12-30 17:28] dekimsey commented on #18411
This helped me work-around the missing handler. Unfortunately it means the handler isn't being called in the context of the with_items loop var data (dunno if it's supposed to, but that was my hope).

[2016-12-30 17:45] candlerb opened #19757 "expansion of int values sometimes gives strings (when member of object)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core / vars expansion

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

A variable assignment can pass through a simple numeric value, but not a numeric value from a member of an object - in that case it gets silently converted to a string.

##### STEPS TO REPRODUCE

[code]

##### EX

[2016-12-30 17:55] candlerb commented on #19757
Interestingly, the same problem doesn't seem to occur with boolean values.

templates/test.j2

[code]

foo.yml

[code]

Gives:

[code]

[2016-12-30 18:14] westsouthnight commented on #18624
@gundalow yep. now im on devel branch and all ok's

[2016-12-30 18:41] g000444555 commented on #15524
Not sure this is related to the issue but I have the following problem.
The target host is localhost running ubuntu 16.04 LTS with `uname -a` reporting `Linux red-lion 4.4.0-57-generic #78-Ubuntu SMP Fri Dec 9 23:50:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

When I run the command:

`ansible test -C -m apt -a "name=openssl state=latest" --sudo --ask-sudo-pass`

I get the error:

[code]

[2016-12-30 19:02] TroyFluegge opened #19759 "ec2_group - Using SG's from peered VPC's"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]
install: sudo pip install -U git+https://github.com/ansible/ansible.git@v2.2.1.0-0.2.rc2 --upgrade --ignore-installed six

##### CONFIGURATION

default ansible.cfg

##### OS / ENVIRONMENT

OS X El Capitan 10.11.6
Multi VPC AWS environment.  Peers between VPC's w/appropriate routing between them

##### S

[2016-12-30 19:11] g000444555 commented on #15524
I can confirm that the problem has been resolved after installing the `python-apt` package:

`sudo apt-get install python-apt`

Now when I run the command:

`ansible test -C -m apt -a "name=openssl state=latest" --sudo --ask-sudo-pass`

I get:

[code]

[2016-12-30 20:09] edysli opened #19760 "unarchive module add directory_mode parameter"
_From @edysli on February 16, 2016 8:47_

##### Issue Type:

Feature Idea
##### Component Name:

unarchive
##### Ansible Version:

[code]
##### Summary:

Currently, using unarchive with `mode=0644` creates directories without the execute permission, making them impossible to `cd` into. It would be nice to have a `directory_mode` parameter for unarchive, just like the copy module has, in order to s

[2016-12-30 20:09] edysli commented on #19760
_From @ansibot on July 31, 2016 18:4_

@dagwieers, @pileofrogs, ping. This issue is waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2016-12-30 20:09] edysli commented on #19760
_From @dagwieers on August 8, 2016 22:53_

I am all for this !

[2016-12-30 20:09] edysli commented on #19760
_From @ansibot on August 8, 2016 22:59_

@edysli we are unable to validate that "" is an existing ansible module.

We are expecting a component name that matches something that can be found in:
- http://docs.ansible.com/ansible/list_of_all_modules.html

Please revise the component name in the description.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2016-12-30 20:09] edysli commented on #19760
@ansibot component name "unarchive" added to description

[2016-12-30 20:09] edysli commented on #19760
_From @dagwieers on August 19, 2016 11:26_

needs_contributor

[2016-12-30 20:09] edysli commented on #19760
_From @ansibot on December 9, 2016 19:52_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2016-12-30 20:11] edysli opened #19761 "Doc: missing examples for yum list"
_From @edysli on October 9, 2015 7:4_

Documentation for the yum module's `list` argument says "see examples" but there are no examples using it.

[code]

Introduced in commit d6625a2b1f4c4c41e9a4ab9feddc5fffd327ca13.

_Copied from original issue: ansible/ansible-modules-core#2232_

[2016-12-30 20:11] edysli commented on #19761
_From @robynbergeron on October 12, 2015 8:18_

[module: packaging/os/yum.py]

[2016-12-30 20:11] edysli commented on #19761
_From @robynbergeron on October 12, 2015 8:19_

Hi @edysli -- thanks for submitting this bug report.

Pinging @ansible/core team as you lovely humans are the module owners. :)

[2016-12-30 20:11] edysli commented on #19761
_From @ansibot on August 1, 2016 2:21_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2016-12-30 20:11] edysli commented on #19761
_From @ansibot on September 12, 2016 19:36_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2016-12-30 20:11] edysli commented on #19761
_From @ansibot on October 6, 2016 15:49_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2016-12-30 20:11] edysli commented on #19761
_From @ansibot on October 22, 2016 9:18_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2016-12-30 20:11] edysli commented on #19761
_From @Jmainguy on October 23, 2016 23:25_

This is pretty interesting, I was gonna try and add the documentation for this, but I do not see what list actually does and why its not for playbooks. What does it do?

[2016-12-30 20:11] edysli commented on #19761
_From @ansibot on November 6, 2016 10:9_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2016-12-30 20:11] edysli commented on #19761
_From @ansibot on November 22, 2016 10:17_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2016-12-30 20:11] edysli commented on #19761
_From @ansibot on December 7, 2016 19:16_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2016-12-30 22:52] letzdoo-js opened #19762 "Task executor use .format() which have problem with \u2018 characters"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible/plugins/action/__init__.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
x86_64 GNU/Linux

##### SUMMARY
An error coming back from a linux box contains the \u2018 character which seems to have an implementation issue in python 2.x.

see - '{0}'.format(u'Test it\u2018s unicode implementation')
Traceback

[2016-12-30 23:19] geerlingguy opened #19763 "FreeBSD target: service: name=postgresql state=* hangs the whole playbook"
Issue Type:
Bug Report

Component Name:
service module

Ansible Version:
ansible 1.9.4

Ansible Configuration:
retry_files_enabled = False

Environment:
Running from Mac OS X 10.10.5, python 2.7.10
to FreeBSD 10.1-RELEASE-p16 #0: Tue Jul 28 12:04:19 UTC 2015
with PostgreSQL 9.4.5

Summary:

Attempting to use the 'service' module to control PostgreSQL hangs every time. I strongly suspect that this

[2016-12-30 23:21] geerlingguy commented on #19763
Copying this over from old issue https://github.com/ansible/ansible-modules-core/issues/2459 — following up here, as I've had this issue when running certain playbooks inside Docker containers (e.g. MySQL in Ubuntu 14.04).

See my my progression of comments here:

  - https://github.com/ansible/ansible-modules-core/issues/2459#issuecomment-246868528
  - https://github.com/ansible/ansible-modules-c

[2016-12-30 23:38] jacobamey commented on #15321
I am having the same issue and I'm not even running a playbook. ansible -m ping all returns failures for every single system. This is a brand new setup? Literally dnf installed ansible, setup a host file and ran a ping. I get ssh failure to connect..... Im doing pings?

[2016-12-31 03:07] bandjalong commented on #12297
This seems silly. To add "private: yes" for a password is easy, to add "private: no" for everything that isn't (which in some cases could be a lot of variables) is a a pain. The statement that the convention on Unix/Linux systems is to not echo anything is weird - the convention for passwords is certainly to obfuscate it with stars, but for anything else, no. The assumption that all variables are

[2016-12-31 11:12] traianalinux commented on #15968
The reason for this bug is that Ansible (in any of its git related commands/modules for that matter) do not pass the port of the git host you are trying connect to ~/.ssh/known_hosts, Therefor after trying to ansible-pull once, you can see the host's record but it is registered without the port 7999, so the record is useless.

While in Ansible's 'git' module you can bypass this bug with ssh_opts="

[2016-12-31 11:13] traianalinux commented on #15968
The reason for this bug is that Ansible (in any of its git related commands/modules for that matter) do not pass the port of the git host you are trying connect to ~/.ssh/known_hosts, Therefor after trying to ansible-pull once, you can see the host's record but it is registered without the port 7999, so the record is useless.

While in Ansible's 'git' module you can bypass this bug with ssh_opts="

[2016-12-31 11:14] traianalinux commented on #15968
The reason for this bug is that Ansible (in any of its git related commands/modules for that matter) do not pass the port of the git host you are trying connect to ~/.ssh/known_hosts, Therefor after trying to ansible-pull once, you can see the host's record but it is registered without the port 7999, so the record is useless.

While in Ansible's 'git' module you can bypass this bug with ssh_opts="

[2016-12-31 11:14] traianalinux commented on #15968
The reason for this bug is that Ansible (in any of its git related commands/modules for that matter) do not pass the port of the git host you are trying connect to ~/.ssh/known_hosts, Therefor after trying to ansible-pull once, you can see the host's record but it is registered without the port 7999, so the record is useless.

While in Ansible's 'git' module you can bypass this bug with ssh_opts="

[2016-12-31 13:52] marcinhlybin opened #19765 "notify on include does not run handler"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
notify

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Argument `notify` added to include instruction does not run handler on task change inside included file.

[code]

##### STEPS TO REPRODUCE

playbook.yml:

[code]

testrole/tasks/main.yml:

[code]

testrole/tasks/other.yml:

[code]

test

[2016-12-31 14:47] tivrobo opened #19766 "azure_rm_virtualmachine - Creating a virtual machine from Marketplace image requires Plan information in the request"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Failed to create VM from Azure Marketplace, if image requires Plan information in the request.

##### STEPS TO REPRODUCE

For example try to create this VM using azure_rm_virtualmachine: https://azure.microsoft.com/en-u

[2016-12-31 17:26] jmbarros commented on #11862
+1

[2016-12-31 23:30] darkn3rd commented on #19507
The default `python` (and `/usr/bin/env python` is brew python2 `/usr/local/bin/python`.  There is brew python3 installed as well.  After doing a `pip3 install --upgrade pip setuptools wheel`, the default `pip` is no longer pointing to pip2, but to pip3.

For `/usr/local/opt/python3/bin/python3`, this points to `../Frameworks/Python.framework/Versions/3.5/bin/python3`

[2017-01-01 08:28] vikiev opened #19767 ""module_stdout": "/usr/bin/python: not found\r\n"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
"module_stdout": "/usr/bin/python: not found\r\n

##### ANSIBLE VERSION
ansible 2.2.0.0

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

192.168.0.115 | FAILED! => {
    "changed": false,
    "failed": true,
    "module_stderr": "Shared connection to 192.168.0.115 closed.\r\n",
    "module_stdout":

[2017-01-01 08:31] vikiev commented on #19767
Dear Team,

Please help , m stuck in this issue since the day i started reading ansible, Not even able to ssh to a juniper router , M new to ansible , let me know if any more information i can share

[2017-01-01 09:35] gundalow commented on #18624
OK, as you've confirmed this is fixed in devel I'll close this.

[2017-01-01 09:35] #18624 closed, assigned to nobody

[2017-01-01 13:30] dano0b commented on #19767
Hi @vikiev ,

is /usr/bin/python existing on the machine? Take a look here for more info: http://docs.ansible.com/ansible/faq.html#how-do-i-handle-python-pathing-not-having-a-python-2-x-in-usr-bin-python-on-a-remote-machine

[2017-01-01 13:53] vikiev commented on #19767
Hi Adam,

root@vagrant-ubuntu-trusty-64:/etc/ansible# which python
/usr/bin/python
root@vagrant-ubuntu-trusty-64:/etc/ansible#

this is present on machine , however still m stuck in this . really need
assistance in this please.

Thanks
Vikiev

On Sun, Jan 1, 2017 at 7:00 PM, Adam <notifications@github.com> wrote:

[2017-01-01 17:19] evgeni opened #19769 "please include docsite and tests in releases"
Ohai,

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
sdist

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I think it would be nice to include the docsite and tests in the release tarballs. This would help distribution packagers to provide a better expirience to their users. The doscite contains a lot of valuable information and it would b

[2017-01-01 17:19] evgeni commented on #19769
Pinging @abadger because he removed the folders in 04e37cce35ebc8d4d47b06292bcd5e6b2a1617c1 and @hlieberman as the Debian packager of Ansible :)

[2017-01-01 17:54] evgeni commented on #19769
Fedora ships a quite hacky way to pull in the tests again:
http://pkgs.fedoraproject.org/cgit/rpms/ansible.git/tree/get-unittests.sh

[2017-01-01 18:58] sivel commented on #19507
I am slightly confused.  It does indeed appear that ansible is using python3.5 as installed via homebrew:

[code]

What specifically is the problem?

[2017-01-01 19:09] daBONDi commented on #13304
@gabrielgiordan you need to adduse the Mount point permission in your vagrant file

Like this one:
[code]

[2017-01-01 20:51] dano0b commented on #19767
Hi @vikiev ,

is this the host 192.168.0.115 ?
"module_stderr": "Shared connection to 192.168.0.115 closed.\r\n",
"module_stdout": "/usr/bin/python: not found\r\n",

Every host that you want to use in the inventories need some python interpreter.

[2017-01-01 21:24] autogun commented on #17758
Just want to drop in and say I've experienced the same behavior and found our my target host (named HOST01 for example) had had SPN configured on a totally different host with the following:
HTTP/HOST01
HTTP/HOST01.corp.domain
Removing those from that specific host fixed the issue for me.

[2017-01-02 00:46] flatrocks commented on #4448
Would be cool if this sort of thing would be described in detail in the [docs](http://docs.ansible.com/ansible/service_module.html) so years-old issues like this don't have to serve as de-facto documentation.

[2017-01-02 02:20] vikiev commented on #19767
Hi Adam,

M running Ansible on Linux vagrant machine and have a Juniper router running in Virtual box , from linux machine m able to ssh into Juniper firewall however while using ansible , it shows me error

root@vagrant-ubuntu-trusty-64:/etc/ansible# ansible all -m ping
SUDO password:
192.168.0.115 | FAILED! => {
    "changed": false,
    "failed": true,
    "module_stderr": "Shared connection to

[2017-01-02 02:25] lf- opened #19771 "By default, ansible_become_method is not defined but it should be set to the ansible.cfg value"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

hostvars

(I guess?)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 25

##### SUMMARY

`ansible_become_method` cannot be relied upon to always be available. It would be more sensible to have it defined by default as the value in ansible.cfg or the default. On hosts which it is set explicitly, it *is* avai

[2017-01-02 02:58] djmattyg007 commented on #18319
Did you actually submit this as a PR?

[2017-01-02 04:03] jctanner commented on #19130
resolved_by_pr 19141

[2017-01-02 04:07] #19130 closed, assigned to nobody

[2017-01-02 04:35] #18166 closed, assigned to nobody

[2017-01-02 06:32] CuriousLearner commented on #11304
Hi @lucazz,

Were you trying to run Ansible in vagrant? Can you please explain what was the exact issue? Seems like I'm stuck in the same problem.

Thanks :)

[2017-01-02 06:42] fgimian commented on #5463
This is still currently an issue with the very latest Ansible and is a pretty huge deal for me.

Full reproduction:

[code]

Output:

[code]

I really appreciate the workarounds provided but it doesn't quite help in a context like the one I'm facing right now:

[code]

The value of `UserListIndex` must be an integer, but I am getting:

[code]

Any chance we can get this re-opened please?

Cheers
F

[2017-01-02 09:57] dano0b commented on #19767
Hi @vikiev ,

I'm not very familiar with Juniper but it looks to me that there is no /usr/bin/python available on your Juniper. Log in via SSH to your Juniper and then do a "which python". This should give you the correct python path for your remote host. Please read again the link I posted here first.

[2017-01-02 13:42] jctanner commented on #19460
needs_contributor

[2017-01-02 13:59] jctanner commented on #19460
!needs_contributor

[2017-01-02 14:38] gyurco commented on #19621
Exception: Problem with auth parameters
is because of auth_version: 2 and compute_api_version: 2 are _not_ valid auth plugin parameters. They must be given before the plugin is instantiated. However the problem is that there is no (documented) way to do it, so I'm also stuck with the os_xxx ansible modules. The default Keystone API version is 2.0, and cannot find a way how the specify 3 in the pla

[2017-01-02 14:39] asangal opened #19777 "vars_prompt and when condition is not working - ansible 2.1.2.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- vars_prompt with when condition

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

- Just one playbook containing vars_prompt section with a when: ... condition.

##### OS / ENVIRONMENT

- CentOS, managing local machine (CentOS)

##### SUMMARY

- vars_prompt doesn't support when conditional statement (I'm getting prompted no matter what va

[2017-01-02 15:29] sivel commented on #19767
You should review the introduction to networking support:  http://docs.ansible.com/ansible/intro_networking.html

Networking modules work a bit differently than the normal Linux or even windows modules.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-01-02 15:29] #19767 closed, assigned to nobody

[2017-01-02 15:53] ansiblejunky opened #19778 "template_from_string and template_from_file not existing anymore in Ansible 2.x and no available documentation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template.py

##### ANSIBLE VERSION
ansible 2.2.0.0
  config file = /automation/ansible/playbooks/ansible.cfg
  configured module search path = ['library', '../library']

##### CONFIGURATION
Creating a custom action_plugin called "template_config" that uses the template module.

##### OS / ENVIRONMENT
CentOS 6.5

##### SUMMARY
We are upgrading ou

[2017-01-02 16:31] gundalow commented on #19652
@eoprede https://github.com/ansible/ansible/pull/19678 should fix your problem when merged

[2017-01-02 16:38] bcoca commented on #16724
OK, so now I see why you think it is inconsistent, but I don't see it as such.

Connections always use the python interpreter per host, 'localhost' happens to be special and gets assigned the sys.executable (if possible and not overridden in inventory), it also gets assigned `connection: local` by default.

When using `connection: local` you are NOT using localhost (the inventory one), so you don'

[2017-01-02 16:47] bcoca commented on #19539
if a module returns a traceback, its a bug, it should return a proper error message

[2017-01-02 17:01] bcoca commented on #19651
I'm not sure what you are expecting here, until is there to deal with problems with task execution, not task definition errors.

[2017-01-02 17:14] bcoca commented on #19778
Those functions were not for use in custom plugins, they are internal to the Ansible API, which is not guaranteed to be available across versions.  As such we do not deprecate these functions as we do with `module_utils/` code that is implicitly shared for modules.

We ARE working on creating a documented part of the API we will make efforts to keep backwards compatible, but the templating interfa

[2017-01-02 17:14] #19778 closed, assigned to nobody

[2017-01-02 17:17] bcoca commented on #19777
`when` is not a supported keyword on vars (even in vars_prompt), if you want to use conditional input look at the `pause` module http://docs.ansible.com/ansible/pause_module.html

[2017-01-02 17:17] #19777 closed, assigned to nobody

[2017-01-02 17:57] bcoca commented on #19665
we do need to document valid module names, just use _ instead of -  in this case, keeping ticket open as doc report.

[2017-01-02 18:18] bcoca commented on #19736
I'm not sure tests should follow best practices, sometimes they need to make sure the 'non best' also works.

[2017-01-02 18:40] bcoca commented on #19720
@sivel those are tqm codes, they don't map directly to Ansible exit codes

[2017-01-02 18:43] solomongifford opened #19779 "Copied files retain acl's of the become user"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Remote user is not root, become user is also not root.

##### OS / ENVIRONMENT

POSIX.1e filesystem acl supported on the managed host. Temporary directory on the remote host is mounted with POSIX acls enabled and the setfacl tool is in the remote PATH.  See http://docs.

[2017-01-02 18:57] bcoca commented on #19720
@kolibri, 2 should read 'play failed due to failed and/or unreachable hosts'

[2017-01-02 19:11] sivel commented on #19720
@bcoca That is incorrect.  I traced the code, and it looks like tqm codes can make it through to become an exit code.

In the case of an unreachable host, you get an exit status of `4`.

This is a result of `exit_code = cli.run()` in `bin/ansible`.  The return from `cli.run` is one of `result = self._tqm.run(play)`.

So depending on the return of the tqm, you get specific exit codes.

In `bin/ansi

[2017-01-02 19:13] sivel commented on #19720
This does also apply to a `255` too, there is the possibility that the linear strategy will return a `255`, which will result in a 255 exit code as well.

[2017-01-02 19:45] solomongifford commented on #19779
Solution is probably to do something to the effect (assuming setfacl is available):
    setfacl -b <filename>

[2017-01-02 22:22] bcoca commented on #19720
@sivel, but not all of them are possible, only a subset are returned, that is why it is not a direct maping.

As for rc = 4, it will only return in 2 cases (1 seems like a bug):

1) (correct) play exits due to all hosts in batch failing
2) (incorrect) host is unreachable and this is the last task/host run for play

255 and 250 are both similar codes, but not the same, we need language to make this

[2017-01-03 01:57] alexlo03 opened #19789 "ec2_group: does not handle immutable description property properly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_group.py

##### ANSIBLE VERSION
[code]
but also verified bug in devel branch

##### CONFIGURATION
nothing special

##### OS / ENVIRONMENT
osx / don't think it is os related

##### SUMMARY
ec2_group does not handle that the description property is immutable for som

[2017-01-03 03:10] maxsolar opened #19792 "nmcli: MODULE FAILURE on Ubuntu 16.04"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

host_key_checking = False

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS amd64

##### SUMMARY

while using nmcli module to manipulate Ubuntu network-manager, it failed with MODULE FAILURE.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

All tasks should end with OK.

##### ACTUAL

[2017-01-03 08:43] tmshn commented on #19745
@tyouxa Thanks for report!

With my quick check, I noticed that [this modification](https://github.com/ansible/ansible-modules-extras/pull/3337) has gone 💥  when [ansible/ansible-modules-extras](https://github.com/ansible/ansible-modules-extras) repo has merged.

I'll fix this within a few days 💪

[2017-01-03 08:59] yunano opened #19795 "unreachable if ansible_password is encrypted by 'per variable' vault"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
'per variable' vault ( https://github.com/ansible/ansible/pull/16274 )

##### ANSIBLE VERSION
both 2.2.0 and devel

[code]

[code]

##### CONFIGURATION
nothing special

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The ssh connection becomes unreachable by authentication failure if the value of ansible_password is encrypted.

##### STEPS TO REPRODUC

[2017-01-03 10:33] aerendil commented on #19635
Thanks for the information, after adding it to all the levels of the hierarchy it actually seems to work. Closing the ticket then.

Happy new year :)

[2017-01-03 10:33] #19635 closed, assigned to nobody

[2017-01-03 11:05] roumano commented on #11421
Same issue as jgrigonis
for me, to bypass this issue i need these 2 task :

 - name: Disable temporary sssd service
   service: name=sssd state=stopped
 - name: remove sssd cache
   command: sss_cache -E

[2017-01-03 11:44] QijunPan opened #19798 "shippable test timeout at dnf integration test"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

test/integration/targets/dnf/tasks/dnf.yml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

linux/fedora-rawhide/1  at shippable

##### SUMMARY

pull request, run shippable CI timeout：
https://app.shippable.com/runs/586b3c37f6c7101000c4b0ce/10/console
https://app.shippable.com/runs/586a435f07d537130074937c/10/consol

[2017-01-03 11:49] QijunPan commented on #19798
@abadger do you known what's wrong?

[2017-01-03 12:04] ricbartm opened #19799 "cloudformation_facts module returned output dict is uncomfortable to use"
##### ISSUE TYPE
Bug report (enhancement)

##### COMPONENT NAME
cloudformation_facts module (community module)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No specific configuration

##### OS / ENVIRONMENT
No specific operating system / environment

##### SUMMARY
The result of cloudformation_facts is not consistent with it's documentation and it's uncomfortable to use its output. In my opini

[2017-01-03 12:41] TobiMarg commented on #18889
I just had this problem and tried the pinning workaround, which worked but only after changing `Priority` to `Pin-Priority`.

[2017-01-03 13:08] atgreen opened #19801 "Error when removing VM with ovirt_vms"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_vms

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Fedora 25

##### SUMMARY

When I try to remove a VM like so...

- name: Remove the base VM from which we just created our template
  delegate_to: localhost
  ovirt_vms:
    auth:
      username: admin@internal
      password: XXXXX
      url: https://10.0.0.3/ov

[2017-01-03 13:30] aioue opened #19802 "ec2_elb_lb intermittently failing to create an ELB with KeyError exception"
_From @KpaBap on September 23, 2016 1:54_

##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

ec2_elb_lb.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When running a playbook to create multiple ELBs, some of the ELBs would intermittently fail to get created with a KeyError exception.

I tracked this issue down to some data structure inco

[2017-01-03 13:30] aioue commented on #19802
_From @ansibot on September 23, 2016 2:20_

@jsdalton ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 13:30] aioue commented on #19802
_From @jamesongithub on September 27, 2016 21:38_

seeing this issue also

[2017-01-03 13:30] aioue commented on #19802
_From @ansibot on October 8, 2016 8:28_

@jsdalton, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 13:30] aioue commented on #19802
_From @ansibot on October 23, 2016 8:44_

@jsdalton, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 13:30] aioue commented on #19802
_From @jamesongithub on November 4, 2016 23:18_

seeing this daily now in our ci

[code]

[2017-01-03 13:30] aioue commented on #19802
_From @mxlan on November 7, 2016 21:7_

Just started seeing this today: version 2.0.2.0

<pre>An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/home/**user**/.ansible/tmp/ansible-tmp-1478552595.92-221111833899136/ec2_elb_lb", line 3205, in <module>
    main()
  File "/home/**user**/.ansible/tmp/ansible-tmp-1478552595.92-221111833899136/

[2017-01-03 13:30] aioue commented on #19802
_From @ansibot on November 7, 2016 21:13_

@jsdalton, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 13:30] aioue commented on #19802
_From @olecrivain on November 15, 2016 15:54_

Hi, Same error here! (ansible v2.2.0)

[2017-01-03 13:30] aioue commented on #19802
_From @kutay on November 17, 2016 14:57_

Hello, I have the same issue too (ansible v2.3.0)

[2017-01-03 13:30] aioue commented on #19802
_From @ansibot on November 23, 2016 9:44_

@jsdalton, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 13:30] aioue commented on #19802
_From @ansibot on December 7, 2016 19:8_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-03 13:50] whitfiea opened #19803 "Registered variable with dynamic name not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
register variables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
timeout=300
roles_path = roles
nocows = 1
nocolor = 0
transport = ssh
#vars_plugins = plugins/vars
#action_plugins = plugins/action
#connection_plugins = plugins/connection
callback_plugins = plugins/callbacks
#filter_plugins = plugins/filters
#var_defaults_file = .

[2017-01-03 14:17] PriceChild commented on #4448
@flatrocks There's a proposal.

[2017-01-03 14:23] mdvickst commented on #19432
I have been encrypting my inventory files and it was worked fine up until 2.2 was released. I may be reading the docs incorrectly but it says that you can encrypt "any structured data file used by Ansible". Isn't the inventory file a structured data file?

I just verified that it works to encrypt/decrypt the inventory file with ansible 2.0 on Fedora 24 and it was working with 2.1 as well.

My use

[2017-01-03 14:44] jonathanbouvier commented on #19651
I am expecting this web service call to return JSON when the service is operational, but if the service is still initiating then I can not guarantee that it will be a JSON response.

I'm expecting any failure (conditional returns false OR an exception thrown while parsing JSON) to invoke a retry of the until loop. Malformed JSON being returned from the service should not abort the task, the until

[2017-01-03 15:05] machacekondra commented on #19801
The problem is that oVirt Python SDK doesn't check the HTTP return code. In this case it will get 404, with no body, so the XmlReader will fail. Actually this is bug in both oVirt Python SDK and the ovirt.py module in `module_utils`. Thanks for the report, I will fix it ASAP.

[2017-01-03 15:09] DaveWK opened #19806 "Redshift Cluster fails to Create -- InvalidClusterSubnetGroupStateFault"
- Bug Report

##### COMPONENT NAME
AWS Redshift Module

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OSX

##### SUMMARY

##### STEPS TO REPRODUCE
Create a Cluster VPC Subnet,
Verified in AWS console.
[code]

##### EXPECTED RESULTS
Create the redshift cluster in the specified subnet

##### ACTUAL RESULTS
Failed with InvalidClusterSubnetGroupStateFault

[code]

[2017-01-03 15:28] Dklotz-Circle commented on #19806
This issue appears to be with the underlying aws cli -- closing.

[2017-01-03 15:28] #19806 closed, assigned to nobody

[2017-01-03 15:52] #19529 closed, assigned to privateip, Qalthos, gundalow

[2017-01-03 15:55] ricbartm commented on #19799
Researching a bit more I got more clue about how ansible_facts work as well as a nasty workaround (triage), that works, but is terribly ugly. So far, I'm feeling tempted to clone the module into our git repo and change the behaviour of the module, using a custom module path fin order to workaround this.

Given that Ansible hash default behaviour is to override existing variable unless said otherwi

[2017-01-03 16:05] pshahid commented on #19387
Bump, has anyone seen this?

[2017-01-03 16:12] bcoca commented on #19432
dupe of already fixed #18355

[2017-01-03 16:12] #19432 closed, assigned to nobody

[2017-01-03 16:14] afgane opened #19809 "git force=yes doesn't force a checkout if local changes exist on the target machine"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Host: MacOS 10.12.2
Remote: Ubuntu 14.04

##### SUMMARY

When local modifications exist in a git repo on the machine with `force: yes` is set, `ansible-playbook` command does not update the repo.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2017-01-03 16:22] #19745 closed, assigned to nobody

[2017-01-03 16:32] bcoca commented on #19798
cc @mattclay

[2017-01-03 16:36] ssbarnea commented on #18745
@bcoca If this bug is fixed in stable2.2 why is not mentioned in any commit? It quite hard to know what commit was supposed to fix it and to see if the fix was included into a newer release or not. Looking at the bug as fixed in 2.2 would make someone believe that this bug is fixed in 2.2 but as far as I know installing latest release of 2.2 will not fix the issue.

My second question is: is this

[2017-01-03 16:43] privateip commented on #19652
merged #19678 ... could you re-test and report if your issue is resolved?

[2017-01-03 16:47] angystardust opened #19810 "Unable to add a new monitored server with zabbix_host on Zabbix 2.4.7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible control host: CentOS Linux release 7.2.1511 (Core)
Zabbix server: 2.4.7

##### SUMMARY
Unable to add a new zabbix host to a Zabbix server 2.4.7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Successfully add the new monitored host

##### ACT

[2017-01-03 16:48] alikins commented on #19809
For that case, the module should also be doing a 'git reset --hard HEAD' to the checkout. But it may be failing to update after that.

Could you test this with the devel/ branch?

Was this working before 2.2.0?

[2017-01-03 16:53] alikins commented on #19538
The pr is now https://github.com/ansible/ansible/issues/19538

[2017-01-03 16:57] dagwieers commented on #19077
@nerzhul @jctanner I have witnessed this issue with PR #19228 merged today.

This is *dangerous* as in my case I was testing if the module was idempotent (and the 3 VMs I targeted did exist), however the module modified another existing VM (3 times) with a very different name (but consistently the same one). And what's worse, I don't know what exactly was modified to that *other* VM that is in pro

[2017-01-03 16:58] dagwieers commented on #19077
The module is also slow as hell for doing something on a system that already exists (even when it somehow used a different one). It takes minutes while it isn't even templating anything.

[2017-01-03 17:01] nerzhul commented on #19077
@dagwieers what is your vsphere version ? what are instance names ?

For the slowness it's due to python append mode, i divided time by 3 but there are other required bottlenecks at this moment

[2017-01-03 17:07] dagwieers commented on #19077
@nerzhul I cannot disclose the instance-names, but they look like:

    abcde-xyz##-sql-01
    abcde-xyz##-dc-01
    abcde-xyz##-scvmm-01

When I target the three abcde-xyz33-* systems, the module returns for each of the three systems: abcde-xyz17-scvmm-01. It seems as if it always returns this host. I wonder if the search functionality returns the complete list when no match is found, and whether

[2017-01-03 17:09] dagwieers commented on #19077
And to be clear, the VM I am targeting *does* exist. And they live on the same datacenter and folder as the others VMs. So there should have not other hit than the one by name.

[2017-01-03 17:16] nerzhul commented on #19077
Okay, thanks for the comment, i will do more tests using your pattern to identify what is the problem and how is this possible to target the wrong machine -------- Message original --------Objet : Re: [ansible/ansible] vmware_guest uses another VM when explicitly asked to create a new one (#19077)De : Dag Wieers À : ansible/ansible Cc : nerzhul ,Mention And to be clear, the VM I am targeting does

[2017-01-03 17:18] ssbarnea opened #19811 "ANSIBLE_LOG_PATH should be relative to the config file in which is defined"
##### ISSUE TYPE

- Feature Idea
- ~~Bug Report~~

##### ANSIBLE VERSION

[code]
##### COMPONENT NAME
core

##### SUMMARY
At this moment anyone trying to use ANSIBLE_LOG_PATH is forced to use a fully qualified path because otherwise ansible will fail to create the log files.

When ANSIBLE_LOG_PATH is relative (does not start with `~` or `/`), Ansible should just resolve it based on the config file

[2017-01-03 17:26] nitzmahone commented on #19604
Hrm, looks like that particular detail got lost in the variable precedence docs rewrite that happened during 2.0...

[2017-01-03 17:29] alikins commented on #19682
Looks like the call for v2_playbook_on_cleanup_task_start was removed in commit 9921a1d2be0a254fe17e40d925a3fe36399e2f87

Not sure if that was intentional or not. If so, docs and included callback plugins will need to be updated to remove references to v2_playbook_on_cleanup_task_start

[2017-01-03 17:30] bcoca commented on #19604
we are also adding a new 'priority' feature to let users change this

[2017-01-03 17:46] juju4 opened #19813 "macports module: support for state=latest (upgrade) and for variants"
_From @juju4 on April 25, 2016 1:26_

##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

macports
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Orchestrator: Ubuntu trusty
Target: Macos 10.11
##### SUMMARY

from http://docs.ansible.com/ansible/macports_module.html
no state=latest is supported while commands `port upgrade {{ port }}` and `port outdated | grep {{ po

[2017-01-03 17:46] juju4 commented on #19813
_From @chouseknecht on April 27, 2016 20:40_

@jcftang

[2017-01-03 17:46] juju4 commented on #19813
_From @jcftang on April 27, 2016 21:0_

@juju4 thanks for the report, I've since migrated to using homebrew in recent times and I don't have a macports based mac to dev/test against to address these feature requests. I probably wont be able to add support for this unfortunately since I do not use it any more.

[2017-01-03 17:46] juju4 commented on #19813
_From @ansibot on August 4, 2016 19:37_

@jcftang, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:46] juju4 commented on #19813
_From @ansibot on September 13, 2016 2:48_

@jcftang, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:46] juju4 commented on #19813
_From @ansibot on October 6, 2016 18:3_

@jcftang, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:46] juju4 commented on #19813
_From @ansibot on October 22, 2016 10:14_

@jcftang, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:46] juju4 commented on #19813
_From @ansibot on December 6, 2016 21:52_

This repository has been locked. All new issues and pullrequests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-03 17:47] bcoca commented on #19651
`until` will handle task failures, but it cannot handle parsing ones after the task executed.

You need a test the output before you parse it (is_json?).

So I'm going to close this ticket as it is not a bug, but a mismatched expectation, `until` will not handle errors outside of the failed task execution.

[2017-01-03 17:47] #19651 closed, assigned to nobody

[2017-01-03 17:47] mattclay commented on #19798
I'm investigating.

[2017-01-03 17:48] nerzhul commented on #19077
@stobias123 can you confirm you have the same problem using vmware_guest from module before merge or after merge ? It will permit me to be more precise on the code part to focus

[2017-01-03 17:50] juju4 opened #19814 "[2.2][hostname module] Could not set property: Failed to activate service 'org.freedesktop.hostname1': timed out"
_From @juju4 on November 11, 2016 23:34_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hostname module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
local run on ubuntu xenial (inside lxc containers with kitchen-test+kitchen-ansible)

##### SUMMARY
hostname module fails to set with above error

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
set hostname without error.
was

[2017-01-03 17:50] juju4 commented on #19814
_From @ansibot on November 11, 2016 23:34_

@alikins, @saito-hideki, ping. This issue is waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:50] juju4 commented on #19814
_From @saito-hideki on November 14, 2016 8:47_

I reproduced this issue.

If your target linux system is managed systemd, current hostname module uses hostnamectl to manage hostname.
But, hostnamectl fails under lxd unpriv container(1). So now, hostname module can't manage this environment until fixing this bug.

Additional information:
1. https://bugs.launchpad.net/ubuntu/+source/apparmor/+bug/15

[2017-01-03 17:50] juju4 commented on #19814
Ok. Thanks @saito-hideki

[2017-01-03 17:50] juju4 commented on #19814
_From @wvangeit on November 18, 2016 14:50_

+1

[2017-01-03 17:50] juju4 commented on #19814
_From @ansibot on December 7, 2016 20:4_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-03 17:51] juju4 opened #19815 "[FeatureRequest] file module with recurse: differentiate file mode and directory mode, exclude options"
_From @juju4 on October 27, 2016 20:28_

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

file module

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ubuntu host to various guest
##### SUMMARY

When using file module with recurse, settings are set for all contents regardless of type.
Ideally, mode should be given the option to be set differently for file or directory like rsync
ex:

[

[2017-01-03 17:51] juju4 commented on #19815
_From @ansibot on October 27, 2016 20:38_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:51] juju4 commented on #19815
_From @ansibot on December 7, 2016 19:55_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-01-03 17:51] juju4 opened #19816 "pip module: logging option ?"
_From @juju4 on October 12, 2016 2:35_

##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

pip module
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Orchestrator: Linux Ubuntu Trusty or Xenial
Guest: various
##### SUMMARY

when you do system package, there is a log file with activity history.
python pip has a logging option
https://pip.pypa.io/en/stable/reference/pip/#file-logging
pip mo

[2017-01-03 17:51] juju4 commented on #19816
_From @ansibot on October 12, 2016 2:46_

@mattupstate ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:51] juju4 commented on #19816
_From @ansibot on December 7, 2016 19:16_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-01-03 17:51] juju4 opened #19817 "win_get_url: adding checksum, backup options"
_From @juju4 on September 18, 2016 13:35_

##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

win_get_url
##### ANSIBLE VERSION

[code]
##### SUMMARY

win_get_url has no checksum option like get_url module.
http://docs.ansible.com/ansible/get_url_module.html
http://docs.ansible.com/ansible/win_get_url_module.html
backup and acl options would be nice too

Thanks

_Copied from original issue: ans

[2017-01-03 17:51] juju4 commented on #19817
_From @ansibot on September 18, 2016 19:18_

@jhawkesworth ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:51] juju4 commented on #19817
_From @jhawkesworth on September 19, 2016 7:25_

That is a good idea
I suppose you can workaround it for now by using win_stat, but generally I prefer it if windows modules can have the same capabilities as non-windows ones.

needs_contributor

[2017-01-03 17:51] juju4 commented on #19817
_From @ansibot on December 7, 2016 19:3_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-03 17:52] juju4 opened #19818 "service module: ubuntu xenial on travis: failure 1 running systemctl show for 'apache2': Failed to connect to bus: No such file or directory"
_From @juju4 on August 5, 2016 21:52_

##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME

service module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

No extra
##### OS / ENVIRONMENT

Docker in Travis, mapping ubuntu xenial in local connection
##### SUMMARY

when using service task to check one is started, task is failed with above message
##### STEPS TO REPRODUCE

See
https://travis-ci.org/

[2017-01-03 17:52] juju4 commented on #19818
_From @ansibot on August 5, 2016 22:0_

@grossws ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19818
might be related to
https://github.com/ansible/ansible-modules-core/issues/161
https://github.com/influxdata/telegraf/issues/1022

[2017-01-03 17:52] juju4 commented on #19818
_From @ansibot on September 8, 2016 19:3_

@grossws, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19818
_From @geerlingguy on September 18, 2016 2:20_

I seem to have hit this as well, in a Fedora 24 Docker build on Travis CI (note that I _can't_ reproduce the issue using the exact same container and build steps when running them on Docker for Mac 1.12.1...). See: https://travis-ci.org/geerlingguy/ansible-role-redis/jobs/160756445#L298

[2017-01-03 17:52] juju4 commented on #19818
_From @ansibot on October 5, 2016 15:18_

@ansible, ping. This issue is waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19818
_From @ansibot on October 21, 2016 8:42_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19818
for reference, running privileged works, but not --cap-add=SYS_ADMIN

[code]

as seen here https://github.com/docker/docker/issues/7459
seems for cap-add need an unreleased docker.

[2017-01-03 17:52] juju4 commented on #19818
_From @ansibot on November 6, 2016 9:40_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19818
_From @ansibot on November 22, 2016 9:49_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19818
_From @ansibot on December 7, 2016 18:1_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-03 17:52] juju4 opened #19819 "user module on darwin: add support for hidden user"
_From @juju4 on April 25, 2016 1:25_

##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

user
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Orchestrator: Ubuntu trusty
Target: Macos 10.11
##### SUMMARY

user module doesn't support hidden status for user
##### STEPS TO REPRODUCE

from

[code]

no parameter for hidden.

Corresponding command line documentation
htt

[2017-01-03 17:52] juju4 commented on #19819
_From @ansibot on July 31, 2016 14:40_

@grossws ping, this issue is waiting for your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19819
_From @ansibot on September 8, 2016 22:46_

@grossws, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19819
_From @ansibot on October 6, 2016 14:44_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19819
_From @ansibot on December 7, 2016 20:4_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-03 17:52] juju4 opened #19820 "mount module feature request: allow to mount without adding to fstab"
_From @juju4 on November 27, 2015 2:47_

##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
mount module

##### ANSIBLE VERSION
N/A

##### SUMMARY

Hello,

For temporary need, it should be possible to mount a filesystem without adding it to fstab

http://docs.ansible.com/ansible/mount_module.html
The state values should be updated
present
absent
mounted (just mount)
mountedandpresent (mount+fstab

[2017-01-03 17:52] juju4 commented on #19820
_From @n-st on November 30, 2015 2:35_

Agreed, this should definitely be added to the `mount` module.

Adding temporary mounts like this would be extremely handy when working with chroots: Mount `/{dev,proc,sys}` inside the chroot at the beginning of a playbook, then unmount them at the end.

[2017-01-03 17:52] juju4 commented on #19820
_From @dmromanov on February 10, 2016 12:45_

I think it would be better to separate controlling fstab by adding additional parameter, eg:

[code]

This would make playbooks readable.

[2017-01-03 17:52] juju4 commented on #19820
_From @Jmainguy on February 21, 2016 14:42_

I concur, the naming scheme in the module is beyond confusing. I think state and fstab should be different options like @dmromanov suggested. We could remove the confusing states from the documentation and still support them as legacy inside the code (to prevent old playbooks from breaking). I would be happy to code this in if it makes sense to everybod

[2017-01-03 17:52] juju4 commented on #19820
_From @smemsh on June 25, 2016 22:4_

note that when just running `command: mount {{srcdev}} {{mntpoint}}`, ansible gives:

[code]

even though the suggested module cannot actually be used to simply do a mount without messing with fstab.

[2017-01-03 17:52] juju4 commented on #19820
_From @ansibot on August 1, 2016 0:30_

@grossws, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19820
_From @smurfix on August 19, 2016 13:38_

Any progress? this is a major problem for me.

While we're at it: removing the mountpoint directory should be optional, too.

[2017-01-03 17:52] juju4 commented on #19820
_From @ansibot on August 19, 2016 13:46_

@grossws, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19820
_From @ansibot on September 12, 2016 16:59_

@grossws, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:52] juju4 commented on #19820
_From @mrwacky42 on September 28, 2016 20:46_

@smemsh
You can add `warn: false` to avoid the warnings when using `command` or `shell`.

[2017-01-03 17:53] juju4 commented on #19820
_From @ansibot on September 28, 2016 21:7_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:53] juju4 commented on #19820
_From @smemsh on September 29, 2016 0:50_

@mrwacky42 yes my comment was not about an unnecessary warning it was about an incorrect warning which gives advice to do something which is not even possible

[2017-01-03 17:53] juju4 commented on #19820
_From @mrwacky42 on September 29, 2016 3:10_

@smemsh - Yep, which is why I find myself suppressing the warnings all the time, since the logic for displaying a warning is almost completely useless.

[2017-01-03 17:53] juju4 commented on #19820
_From @ansibot on October 14, 2016 8:49_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 17:53] juju4 commented on #19820
_From @indispeq on October 14, 2016 18:29_

+1 for this. The case where you wouldn't add it to fstab would be in the case of an encrypted partition that you want to decrypt and mount manually. In this case a forced mount of the partition in fstab without decrypting it could corrupt the data on it.

[2017-01-03 17:53] juju4 commented on #19820
_From @ansibot on December 7, 2016 20:1_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-03 17:56] nerzhul commented on #19077
I think i see the problem, it was added with this PR, maybe. Can you try a little test for me ?

Look at these lines:
https://github.com/ansible/ansible/commit/2c17f9becda010188e57f1751bfcbdf64a600ff8#diff-ed147163551d1eaa084b21f6bab29f96R635

Comment L635 & L641 & try again. These lines are required by VM creation without template, and if you are using a template & providing folder name you match

[2017-01-03 17:58] alikins commented on #19681
I think it may not be possible to change the hostname in a docker container.

Basing that on https://github.com/docker/docker/issues/14772, https://github.com/docker/docker/issues/2267, https://github.com/docker/docker/pull/5129

The 'hostname' module doesn't provide a very useful error for this case though and that in itself is a bug.
Not sure there is much to do to change the hostname itself how

[2017-01-03 17:58] nerzhul commented on #19077
Err: don't comment L635 but only L641

[2017-01-03 17:59] dagwieers commented on #19077
@nerzhul The problem existed before your changes, so I doubt you introduced this.

[2017-01-03 18:03] bcoca commented on #19651
not knowing the service, an alternate task could use the uri module and check the return code first

[2017-01-03 18:04] nerzhul commented on #19077
@dagwieers okay, if it existed before L641 is not the root cause. It could be very great if you can find which API call returns the wrong machine

[2017-01-03 18:06] dagwieers commented on #19077
BTW The only reason for me to explicitly add the folder, is that I want the *new* VM to be templated there. However folder was not used for that (at least not in the previous version of the module).

I don't see why the folder would be used to detect the VM, other than as a speed improvement. (But that would be bad taste IMO).

[2017-01-03 18:13] alikins commented on #19795
I can reproduce this on devel/ branch (a601f2c6a341f7b4026fea5f60ddc67f3e6d02dc).

[2017-01-03 18:15] xrow commented on #19681
Hi,

if it is clear that you can`t do that in docker env. It would be harmfull to all the playbooks if it would just crash out of the blue. Can`t the hostname module just silently do nothing? Otherwise the playbooks would need a lot of additional when conditions all over the place. I guess it is not ansible's desire to write a script per runtime environment since this would enfore code doublicatio

[2017-01-03 18:34] jonathanbouvier commented on #19651
I can do something like this albeit kind of gross. An is_json jinja filter would be handy.
[code]

[2017-01-03 18:52] alikins commented on #19795
Looks like the ssh connection plugin does a to_bytes() on ansible_password which is an AnsibleEncryptedUnicode at that point, and the to_bytes just returns a obj.encode('utf-8', 'replace').
On py2, that is already a str, so AnsibleEncryptedUnicode never gets its __str__() method called
(and the __str__() is what actually returns the decrypted value). The connection plugin gets the full
yaml string

[2017-01-03 18:54] ghost opened #19825 "win_reboot never successfully continues after reboot is successful"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_reboot module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no special configs needed except username/password for winrm

##### OS / ENVIRONMENT
Windows Server 2012R2 Datacenter

##### SUMMARY
win_reboot never successfully continue after machine is rebooted, thus blocking playbook execution.

The machine in question has in fact been reb

[2017-01-03 19:13] campbill01 opened #19827 "ec2_group Errors using self referencing groups"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

EC2_GROUP

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Amazon Linux 2016.09
##### SUMMARY

"msg": "group referenced_group will be automatically created by rule {'to_port': 65535, 'from_port': 0, 'proto': 'tcp', 'group_name': 'referenced_group'} and no description was provided"

##### STEPS TO REPRODUCE

pip inst

[2017-01-03 19:32] #18645 closed, assigned to nobody

[2017-01-03 20:06] machacekondra commented on #19801
So I've checked and you are using Python SDK version 4.0.0 or lower, right? Please update to latest 4.0 version, which is 4.0.4, and it will work right:

 https://pypi.python.org/pypi/ovirt-engine-sdk-python

[2017-01-03 20:23] ryansb commented on #19658
Fixed

[2017-01-03 20:23] #19658 closed, assigned to nobody

[2017-01-03 20:29] ryansb commented on #19310
Fixed in https://github.com/ansible/ansible/commit/62dfa2ad118b1f5720bb7b3406147a138e10cf04

[2017-01-03 20:29] #19310 closed, assigned to nobody

[2017-01-03 20:37] hagzag opened #19829 "jenkins_plugin failing in certain scenarios"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- jenkins_plugin module { ansible/lib/ansible/modules/web_infrastructure/jenkins_plugin.py }

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
hostfile = ./inventories
inventory = ./inventories
private_key_file= ~/.ssh/id_rsa
host_key_checking = False
roles_path = ./galaxy-roles:./site-roles
log_path = ./log/ansible.log
library = /usr

[2017-01-03 20:54] smcracraft commented on #13904
Did you mean environment=HOME="/var/lib/awx",USER="root" ?

[2017-01-03 20:57] lattwood opened #19831 "efs_facts doesn't report permission errors and runs forever"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
efs_facts module

##### ANSIBLE VERSION
devel

##### SUMMARY
if boto is given aws credentials and they don't have the efs:describefilesystems permission this block of code will spin forever

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/efs_facts.py#L265-L278

[2017-01-03 20:58] bcoca commented on #19741
copy was INTENDED for simple values .. that people use it that way ... makes me want to remove the feature.

[2017-01-03 21:05] flatrocks commented on #18768
I may be showing my ignorance here, but on a clean install with Ubuntu 16.04, I have no indication that any part of SELinux is installed and I'm still getting this error pointing to @EvanK's code reference about selinux.  I can `import selinux;` OK and it makes me wonder if  [the implication that this import will fail unless selinux is installed](https://github.com/ansible/ansible/blob/47c0c710023

[2017-01-03 21:17] eoprede opened #19833 "nxos_config: can not set "spanning-tree port type edge""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default config

##### OS / ENVIRONMENT
NXOS: version 7.0(3)I2(4)

##### SUMMARY
I can not add "spanning-tree port type edge" to the interface, fails with "unable to load response from device" message

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Command added to the inte

[2017-01-03 21:19] bcoca commented on #19754
you can, just a bit different:
[code]

[2017-01-03 21:30] wvidana opened #19835 "postgres_user module: `role_attr_flags` does nothing when combined with `no_password_changes`"
_From @woqer on June 24, 2016 18:12_

##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME

postgresql_user
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Mac OS X El Capitan, Version 10.11.4
Tested on Docker official postgres container and on Amazon RDS PostgreSQL DB instance
##### SUMMARY

When running a task with postgres_user module, the option `role_attr_flags` does not set any role att

[2017-01-03 21:30] woqer commented on #19835
Looking at the source code, there is no `else` branch on the `user_alter` function https://github.com/ansible/ansible-modules-core/blob/devel/database/postgresql/postgresql_user.py#L236

[2017-01-03 21:30] woqer commented on #19835
_From @ansibot on July 30, 2016 14:26_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-01-03 21:30] woqer commented on #19835
_From @ansibot on September 8, 2016 20:8_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 21:30] woqer commented on #19835
_From @ansibot on October 6, 2016 13:59_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 21:30] woqer commented on #19835
https://github.com/ansible/ansible-modules-core/pull/4038 This PR solves this specific issue, but more features needs to be implemented... I was waiting for a merge before writing more code, but it is taking long.

[2017-01-03 21:30] woqer commented on #19835
_From @ansibot on October 22, 2016 8:50_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 21:30] woqer commented on #19835
_From @ansibot on November 6, 2016 9:46_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 21:30] woqer commented on #19835
_From @ansibot on November 22, 2016 9:54_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-03 21:30] woqer commented on #19835
_From @ansibot on December 9, 2016 19:54_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-01-03 21:47] alikins commented on #19779
What OS'es and versions are you seeing this on?

[2017-01-03 21:49] p-hennessy opened #19838 "pip creates bad virtualenv"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
virtualenv
pip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)

##### SUMMARY
Installing a `flask` app that runs behind a `uwsgi` emperor. This app uses Python 2.7.11 which is the system python and the same python running in the virtualenv

Seeing the following stack trace wh

[2017-01-03 21:49] solomongifford commented on #19779
The source and remote machines in my example are Centos 6.

[2017-01-03 22:02] youssefelbakhar opened #19839 "win_get_url not a valid attribute for a play"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

-win_get_url
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

using hosts file with host groups and host children
specified Winrm connection settings in the host file
##### OS / ENVIRONMENT

Running Ansible on Centos 6, managing Windows 2008 & 2012 servers.
##### SUMMARY

##### STEPS TO REPRODUCE

win_get_url works fine as a standalone comm

[2017-01-03 22:24] itdependsnetworks commented on #15432
Thought you might want to see the meeting minutes:
https://meetbot.fedoraproject.org/ansible-meeting/2017-01-03/public_core_meeting.2017-01-03-19.00.log.html#l-104

@mrgnr @relaxdiego @arikgam @dazwin @praymann @BusraKoken @jseadragon @herbygillot @dschott

[2017-01-03 22:26] EvanK commented on #18768
@flatrocks That's a good point...the import success/failure would really only determine whether python's SELinux _bindings_ are installed, not necessarily whether SELinux itself is installed/configured.

I've tested the proposed fix in #19675 against a 16.04 vagrant machine (with selinux _and_ bindings all installed), but a clean install on a physical machine might vary. I should be able to test i

[2017-01-03 22:28] #19616 closed, assigned to nobody

[2017-01-03 22:46] EvanK commented on #18768
On a hunch, I searched through the other modules, and it looks like [`authorized_key`](https://github.com/ansible/ansible/blob/fed079e4cb45af397c8f0b244490b2af0e0d0f38/lib/ansible/modules/system/authorized_key.py#L288-L302) is the only other general purpose module _that even deals with SELinux at all_...and it's [using basic module utils](https://github.com/ansible/ansible/blob/fed079e4cb45af397c8

[2017-01-03 22:56] jimi-c commented on #15409
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

Do note however, that roles instantiated with different parameters are not considered duplicates, so for most of the examples in the original run you will see multiple invocations of the role.

If you continue seeing any problems related to

[2017-01-03 22:56] #15409 closed, assigned to nobody

[2017-01-03 23:09] ryanooi commented on #7118
@kadecole ansible should give error "variable not defined" if you didn't include the files to be loaded. Why would Ansible need to decrypt/read all files that it not suppose to?

[2017-01-03 23:14] jimi-c commented on #15321
@upbeta01 that was an old bug, and I thought we had fixed it a while back. You may need to escape the # to prevent it from being considered the start of a comment

[2017-01-03 23:15] jimi-c commented on #19682
That should probably be put back, I'm not sure why it was removed and not re-added somewhere else.

[2017-01-03 23:25] mattclay commented on #16864
I agree with @robinro, I'd like to see us move away from `httptester` as much as possible and instead have resources created by the tests themselves, where reasonable. Otherwise our tests become tied to our docker test infrastructure, which poses a problem for anyone wanting to run them in other environments.

[2017-01-03 23:32] jtyr commented on #19829
This looks like you run Ansible with Python v3.x. Unfortunately not all modules in Ansible are compatible with Python v3.x yet. Please try to run your playbook with Python v2.x:

Either define `ansible_python_interpreter` variable for all your hosts in the inventory file:

[code]

or define the `ANSIBLE_PYTHON_INTERPRETER` environment variable:

[code]

I will make the `jenkins_plugin` module comp

[2017-01-03 23:50] upbeta01 commented on #15321
Thanks for the info @jimi-c , I might consider updating my ansible to the latest stable version. Not sure if `2.0.2.0` haven't had the patched applied for the bug.

[2017-01-04 01:49] alexlo03 commented on #19827
@campbill01 I think this is as intended - see https://docs.ansible.com/ansible/ec2_group_module.html

notes:
  - If a rule declares a group_name and that group doesn't exist, it will be
    automatically created. In that case, group_desc should be provided as well.
    The module will refuse to create a depended-on group without a description.

I got your example to work when providing a group_des

[2017-01-04 02:51] alexlo03 commented on #19601
99% sure it is due to https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/s3.py#L271 which I think ought be `bucket = s3.lookup(bucket, validate=False)` - (validate=true, the default, does a HEAD of the bucket per https://github.com/boto/boto/blob/develop/boto/s3/connection.py#L468 )

I'll try to fix soon but would want to make some tests...

[2017-01-04 03:24] travisdetert commented on #14426
Honestly, what even was the point of changing this?  In the course of what looks like 2 minor revisions pretty much all of my playbooks are currently broken.  Other than converting all of this become behavior, ansible worked flawlessly.

[2017-01-04 03:43] mixja commented on #19799
The recommended behaviour for modules that return "facts" is described here - http://docs.ansible.com/ansible/dev_guide/developing_modules.html#module-provided-facts

I agree the current implementation overrides the `cloudformation` dictionary if you call the module more than once.  This should be easy enough to fix.

In the meantime you can workaround the issues you describe as follows:

[code]

[2017-01-04 04:23] fgimian opened #19851 "Ansible mangles integers in lists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
macOS Sierra 10.11.6
Python 2.7.13

##### SUMMARY
Lists containing integers are casted to strings when using `set_fact`

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2017-01-04 05:32] hagzag commented on #19829
@jtyr I am using: Python 2.7.13 ... not 3 on my local Ansible machine and the remote host is running 2.7.5.
Maybe there is something else I am missing ?
The errors are a bit in consistent in some cases I get:
[code]

[2017-01-04 05:36] mixja commented on #19799
Actually looking at https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task_executor.py#L580 it appears with the current implementation there is no way to add to the `cloudformation` dictionary within the `ansible_facts` dictionary given the use of `update()` at the `ansible_facts` dictionary level

[2017-01-04 06:05] abadger commented on #19762
I believe this was fixed in this commit to devel: bb5d8fb476c6e42f1e89b47c00e45f8b088ae40b  and cherry-picked to the stable-2.2 branch  here: 27be8a10222fbf7a7a4b51c642170e11f2823d39

It should make it into the next 2.2 release.  If you'd care to test it out now to make sure you can checkout the stable-2.2 branch and try running from a checkout or you can download the ansible-2.2.1.0-0.2.rc2.tar.g

[2017-01-04 06:07] abadger commented on #18629
@dedfriedly Since this looks like it's being caused by using Ansible with Python-3 that's older than 3.3 I'll close this in a few days unless you report back that this is occurring with Python-3.5.  Thanks for understanding.

[2017-01-04 06:09] dedfriedly commented on #18629
Hi sorry thought I replied, yes confirmed this is older python

I have a hack in place that does what I need it to for pre-3.3 support.  I won’t share that as it’s likely not good :)

Thanks

From: Toshio Kuratomi [mailto:notifications@github.com]
Sent: Tuesday, January 3, 2017 11:08 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: dedfriedly <dedric.friedly@gmail.com>; Mention <mention@nor

[2017-01-04 06:34] abadger commented on #18814
This is a problem with the installation of ansible on your box rather than a problem with ansible itself.  Since you say it's working for the root account and failing normal users I suspect that you have an older version of ansible installed somewhere.  The root account is not configured with the path that contains the old ansible python module and thus you don't get this error there.  Try looking

[2017-01-04 06:34] #18814 closed, assigned to nobody

[2017-01-04 06:43] #19189 closed, assigned to nobody

[2017-01-04 07:08] abadger commented on #19507
needs_info

[2017-01-04 07:59] gundalow commented on #19818
Hi
1) Does this work in Ansible 2.2 (which is the current stable release)
2) Does this work on `devel` (2.3)
3) Can u put please link the the playbook you are runing
4) Have you tested this outside of Vagrant

needs_info

[2017-01-04 08:20] be-cloud-js commented on #19762
I patched my install and this works for me.

Thanks !!

[2017-01-04 08:20] #19762 closed, assigned to nobody

[2017-01-04 08:26] abadger commented on #19426
I've just submitted #19854 which I think will fix the latest error you are reporting.  If one of you could test and see if there are more errors after that it would be appreciated.

[2017-01-04 08:33] #19265 closed, assigned to nobody

[2017-01-04 08:33] robinro commented on #19426
This shouts "I want an integration test" to me...

As a start maybe
[code]

[2017-01-04 08:38] abadger commented on #19426
<nod>  Unfortunately, I believe there's also a platform requirement.  I can't remember for sure but perhaps it only works on Ubuntu and Debian machines (with separate code paths for each :-( ?

[2017-01-04 09:00] shoelzle opened #19855 "Serialized tasks"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
ansible core

##### SUMMARY
Ansible allows to execute playbooks in serial mode, which results in execution batches.
This behavior is what I want, but only for single tasks, such that all tasks before and after the serialized task are executed in parallel.

[2017-01-04 09:02] robinro commented on #19426
Many (most?) modules have platform requirements: package managers, ... That doesn't stop tests.

[2017-01-04 09:04] vijayboopathy commented on #19829
@hagzag @jtyr I am having the same issue. Using  Python 2.7.6.
`fatal: [192.168.0.73]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_name": "jenkins_plugin"
    },
    "module_stderr": "Shared connection to 192.168.0.73 closed.\r\n",
    "module_stdout": "sudo: unable to resolve host ansible-ci\r\nTraceback (most recent call last):\r\n  File \"/tmp/ansi

[2017-01-04 09:26] #19077 closed, assigned to jctanner

[2017-01-04 09:30] ricbartm commented on #19799
Hello @mixja . Thanks for your feedback. Unfortunately, the workaround you propose does not work in my environment, or I'm missing something.

Using
[code]

The value is treated as string and printed like that. If I use this:
[code]
It works as expected, having ```stack_a.stack_outputs``` ready to be used. But, the stack name passed as argument is totally static. This is quite an inconvenient for

[2017-01-04 09:31] jhawkesworth commented on #19855
@shoelzle - you can already organize your playbooks into multiple plays, so you can define a play within your playbook that just the tasks in it run with serial.  We do this a lot for rolling updates to production servers.

[2017-01-04 09:35] gundalow commented on #16864
I also agree with @robinro

[2017-01-04 09:46] jtyr commented on #19829
@hagzag @vijayboopathy Now as I read it again, the problem seems to be something else than the py3 incompatibility. I think this issue has already been fixed and will be part of the next release. Please try to use the module from the devel branch and all should work:

[code]

[2017-01-04 10:33] jhawkesworth commented on #19839
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-01-04 10:36] jhawkesworth commented on #19839
The error message is correct, your playbook is not properly formed as it doesn't contain the 'tasks' directive.

After you have specified hosts, you need to specify tasks to run on the hosts like this:

[code]

Please re-read http://docs.ansible.com/ansible/playbooks_intro.html - this should make the syntax clearer for you.

[2017-01-04 10:36] #19839 closed, assigned to jhawkesworth

[2017-01-04 10:40] mixja commented on #19799
Sorry I missed the quoted curly braces in my previous example.

Ultimately you need to be able to derive the stack name to call the cloudformation_facts module so just use the same mechanism to access the correct key on the cloudformation fact.

This should work for you in your example above:

[code]

Or if you had a variable called `env` that represented your environment:

[code]

Looking back at

[2017-01-04 10:41] vijayboopathy commented on #19829
@jtyr @hagzag It worked! After implementing the workaround... Thanks for the fix @jtyr 👍
[code]

[2017-01-04 10:42] juju4 commented on #19818
It seems to be fixed in current 2.2.
I check latest travis build for bro-ids (docker) and mhn(lxc) and corresponding tasks are working.
issue was in travis testing, local vagrant or kitchen-test were working fine.
closing.

[2017-01-04 10:42] #19818 closed, assigned to nobody

[2017-01-04 10:43] jhawkesworth commented on #19825
Can you check if winrm service comes back up when the machine is rebooted?  If not ansible wouldn't be able to detect that the server is available again.

Also can you specify the module parameters like this instead of using = ?  Probably won't make any difference but its the more usual syntax within a playbook.

[code]

Also there might be some interplay setting all the parameters to the same val

[2017-01-04 10:49] mfriedenhagen commented on #14219
Unfortunately still the same with Ansible 2.2.2.0.

[2017-01-04 11:22] gundalow commented on #19835
Should be looked at along side https://github.com/ansible/ansible/issues/18933

[2017-01-04 11:24] gundalow commented on #19829
@hagzag If you use devel (2.3) is the issue fixed?

[2017-01-04 11:25] gundalow commented on #19827
@campbill01 If you can think of better wording please let me know and we can improve that.

needs_info

[2017-01-04 11:28] gundalow commented on #19820
Added to the Core agenda so we can get some extra eyes on this and see if we can address the various issues

[2017-01-04 11:32] gundalow commented on #19819
@juju4 Would this be something you'd be interested in implementing?

The source for the `user` module is https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/user.py

[2017-01-04 11:34] gundalow commented on #19817
@juju4 Would this be something you'd be interested in implementing

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/basics/get_url.py
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_get_url.ps1

@nitzmahone Is this something that's already on your list?

[2017-01-04 11:35] gundalow commented on #19816
Not sure when the log option was added to pip, so who ever implements this would need to check that the `log` option exists in the version of pip that is being used.

[2017-01-04 11:39] aslobodskoy opened #19858 "Volumes do not get dropped when removing the docker container"
ISSUE TYPE

Bug Report

COMPONENT NAME

_docker module

ANSIBLE VERSION

ansible 2.0.1.0
CONFIGURATION

[defaults]
host_key_checking = False
forks = 10
var_compression_level=9
retries=5
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/tmp
OS / ENVIRONMENT

OS From: OS X, Ubuntu 14.04
OS To: Ubuntu 14.04

SUMMARY

Volumes do not get dropped when removing the docker container

STEPS TO R

[2017-01-04 11:40] dagwieers commented on #19222
Patch refactored on latest rewrite from @nerzhul

[2017-01-04 11:41] gundalow commented on #19810
@angystardust

1) The example provided doesn't look right, I don't see the module `zabbix_host` referenced, copy and paste error perhaps?

2) Has this worked in other versions of Ansible or Zabbix?

3) Has this playbook passed when adding other hosts?

[2017-01-04 11:43] LuYiding opened #19859 "The user need to use login shell environment when become_method is "su""
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Get login shell  environment when become_method is "su"

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The user can not use login shell  environment when become_method is "su".
Because the code in "lib/utils/__init__.py" is
==========
    elif method == 'su':
        exe = exe or C.DEFAULT_SU

[2017-01-04 11:50] jtyr commented on #19829
@hagzag Thanks for confirming that the devel (2.3) version works.
@gundalow Yes, the fix should be part of the 2.3 release.
@ansibot please close this issue as it's `notabug`.

[2017-01-04 11:57] gundalow commented on #19538
Proposed fix in flight https://github.com/ansible/ansible/pull/19543

[2017-01-04 12:31] dagwieers opened #19860 "vmware_guest: Clone from template results in fault.NicSettingMismatch.summary"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

v2.3

##### SUMMARY

Spending a long time understanding what is going on, but the fact that it takes about 10 minutes before it fails (duing VM creation) makes it hard to troubleshoot.

The template has exactly one NIC, and my definition also has exactly one NIC, so it should be obvious that there is no rea

[2017-01-04 12:34] dagwieers commented on #19417
@nitzmahone The last changes from @nerzhul fixes various problems reported in this ticket. I also created a few PRs fixing some. But before we ship this I would like to ensure that the interface to the user is designed with future needs in mind. So we're past the point of reverting ;-)

[2017-01-04 12:47] nehaljwani commented on #19829
IIRC, the firdt issue was fixed by the PR: https://github.com/ansible/ansible/pull/19096 and the issue about connection timeouts is faced by me too, especially when the number of plugins to be installed is huge, but it occurs rarely.

[2017-01-04 12:58] Lujeni commented on #19838
Hello @ns-phennessy

I am not able to reproduce your bug:
[code]

[code]

Did you launch the ansible setup and your manually test with the same user ?

[2017-01-04 13:08] boernd commented on #18178
Hi @jimi-c

https://github.com/boernd/ansible-18178

Tested with 2.2.0 and latest 2.2.1 rc

[code]
[code]

[2017-01-04 13:20] gundalow commented on #19829
Closing as requested

[2017-01-04 13:20] #19829 closed, assigned to nobody

[2017-01-04 13:24] jtyr commented on #19829
@nehaljwani If you are experiencing timeouts, please try to set the `timeout` option to something bigger than the default 30 seconds (e.g 60 seconds).

[2017-01-04 13:46] gundalow commented on #19551
bot_broken

Should have notified @ansible/core

[2017-01-04 13:52] ricbartm commented on #19799
Thanks @mixja for your tip. That definitely worked for me. I totally missunderstood how variable expansion works in Ansible/Jinja. I think we should close this issue. Please let me know how task_executor.py dict update issue evolves (in case you decide its something it can be solved and requires its dedicated issue)

[2017-01-04 13:52] #19799 closed, assigned to nobody

[2017-01-04 13:55] gundalow commented on #19568
@supertom Sounds like you've got a fix for this. Could you please raise a PR to fix this in `ansible/ansible`? Thanks

[2017-01-04 13:55] dagwieers commented on #19860
@nerzhul Have you seen this before ? I cannot wrap my head around this one :-/

[2017-01-04 14:00] ectorr commented on #19551
I resolve the problem. Can you close the Issue.

[2017-01-04 14:03] mboeker opened #19863 "os_floating_ip returns OK but does not assign designated floating IP"
This is using the latest ansible in pypi and the latest version of python-openstackclient (3.3.0).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook running a playbook to build a VM in openstack

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing nonstandard, no env variables

##### OS / ENVIRONMENT
Ubuntu 16.04
I've also run the playbook twice on OSX Sierra and it hasn

[2017-01-04 14:06] mboeker commented on #19863
Also when assigning that floating IP to that VM using the openstack CLI it's worked 100% of the time, so I don't think it's an openstack issue.

[2017-01-04 14:06] nerzhul commented on #19860
did saw this error before, it's a VMWare API error ?

[2017-01-04 14:12] gundalow commented on #19576
Closing as https://github.com/ansible/ansible/pull/19642 has now been merged into `devel` (2.3)

[2017-01-04 14:12] #19576 closed, assigned to nobody

[2017-01-04 14:22] dagwieers commented on #19860
https://www.vmware.com/support/developer/vc-sdk/visdk25pubs/ReferenceGuide/vim.fault.NicSettingMismatch.html
"The number of network adapter settings in the customization specification does not match the number of network adapters present in the virtual machine."

[2017-01-04 14:25] gundalow commented on #19600
@lwade I believe you created this module, what are your thoughts?

[2017-01-04 14:36] gundalow commented on #19630
This seems like an issue with Tomcat itself, since it's reporting ` "Tomcat started."` in both cases.

What happens if you invoke the start up script directly

`''ansible 192.168.1.162 -m script -a "/opt/apache-tomcat-9.0.0.M11/bin/startup.st" -k`

Also does tomcat ship with an systemd/service script, I would have though that should be used instead

[2017-01-04 14:37] gundalow commented on #19630
If you change your script to:

`sh -x /opt/apache-tomcat-9.0.0.M11/bin/startup.sh`

You should be able to diff the output between running via ansible and not.

It could be something environmental, such as a different `$PATH`

[2017-01-04 14:52] #19551 closed, assigned to nobody

[2017-01-04 14:57] dan-osms opened #19865 "Json template for s3_bucket module issue"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

s3_bucket
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

inventory      = /etc/ansible/local
retry_files_enabled = False
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Json templating for bucket policy
##### STEPS TO REPRODUCE

A capability to draft a template for application to s3_bucket on the fly

The json template would look like
[code]

[2017-01-04 15:00] jtyr opened #19867 "ansible-doc doesn't support ANSIBLE_METADATA in YAML"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

`ansible-doc`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Tested with `devel` branch.

##### OS / ENVIRONMENT

Running on Linux.

##### SUMMARY

When defining `ANSIBLE_METADATA` in YAML format, the testing fails on `ansible-doc` which is not able to read `dict` from the metadata.

##### STEPS TO REPRODUCE

Insert the following metadata in

[2017-01-04 15:03] sivel commented on #19867
I do believe this is expected.  `ANSIBLE_METADATA` must be supplied as a dictionary, and not in a YAML string format like the other pieces of documentation.

The warning indicates this as well.

[2017-01-04 15:04] sivel commented on #19867
I will note that this was a conscious decision, and discussed during the module repo merge meeting.

[2017-01-04 15:06] jtyr commented on #19867
@sivel but as per the [proposal](https://github.com/ansible/proposals/issues/30), the YAML format should be supported. @bcoca acknowledged the bug in the IRC channel.

[2017-01-04 15:12] sivel commented on #19867
The proposal did give a YAML example.  However in the meeting where we made the final decision, we decided to not support YAML.

My feeling is that, although this diverges from the other places where we use YAML strings, if we add support for YAML strings, we should remove support for it being a dict. We should only support 1 ideally for sake of standardization.

I understand it is relatively triv

[2017-01-04 15:13] yfried opened #19869 "find paths doesn't use expanduser"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

``find`` module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Fedora 25 -> RHEL 7.3

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

expected ``find`` to search ``$HOME/mydir``

##### ACTUAL RESULTS
``~`` isn't resolved

[code]

[2017-01-04 15:19] Ritesh-Sharma opened #19870 ""recurse" feature in Find module is not working for file_type = directory option"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
File Module

##### ANSIBLE VERSION
ansible 2.2.0.0
[code]
##### CONFIGURATION
Default

##### OS / ENVIRONMENT
 Ubuntu 14.04.5 LTS

##### SUMMARY

Hi Team ,

I have some shell scripts which are dumping machine stats on remote nodes (of those remote machines only ) in new directory . this new directory has been created every time (on static path

[2017-01-04 15:26] bcoca commented on #19870
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

When using `file_type="directory"`, ONLY directories get examined, not their contents. So in this case the expectation is not matching

[2017-01-04 15:26] #19870 closed, assigned to nobody

[2017-01-04 15:27] dagwieers commented on #19860
I think I found the bug/typo. Still need to verify it...

[2017-01-04 15:29] nerzhul commented on #19860
Yes old behaviour removed all NIC but it's not acceptable when using idempotence with running VM

[2017-01-04 15:31] aperigault commented on #19417
@dagwieers I create a new PR #19866 to add windows customization support. Tell me what you think about it.

[2017-01-04 15:53] gonzalomk opened #19871 "Error when calling multiple roles in multiple hosts from same playbook"
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No configuration modifications

##### OS / ENVIRONMENT

Rhel 7.2

##### SUMMARY

I'm getting a weird behaviour when running a master playbook with multiple roles agains multiple hosts. What's happening is that once role1 finish, instead of starting role2, it starts role1 again but with the host from role2.

#####

[2017-01-04 16:00] jhawkesworth commented on #19630
Since you are using command, and not shell, you are possibly missing environment varilables that your script needs.

As suggested above it would be better to use some kind of service / init script.  debian used to include one long ago.

[2017-01-04 16:08] micw opened #19874 "ansible_distribution_release missing on debian testing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Debian stretch/sid (testing)

##### SUMMARY
I run ansible on all my machines for automated setup. Debian stretch will be released in a few weeks, so I do some integration testings. Some of my roles, that rely on ansible_distribution_release fails because it's not defined.

##### DETAILS

[2017-01-04 16:25] ghost opened #19875 "Head of Ansible stops executing after first include"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Playbook includes

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
Ubuntu 16,
Linux ip-172-30-17-159 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
Playbook exits with warning after first include

##### STEPS TO REPRODUCE
```ansible-playbook -i

[2017-01-04 16:35] jimi-c commented on #19875
This should be fixed by ac00c8a6601ddb34737ccbffc14cdd1c10359779.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-de

[2017-01-04 16:35] #19875 closed, assigned to nobody

[2017-01-04 16:40] glennmcclements commented on #19875
Yep, confirmed works. Just checked it out minutes before you checked in the fix! Cheers.

[2017-01-04 16:46] ns-phennessy commented on #19838
Yes, both were created and run using the `centos` user which is the system default.

This only happens when running behind a uwsgi emperor.
https://uwsgi-docs.readthedocs.io/en/latest/

If this is helpful, here is the vassal definition:
[code]

[2017-01-04 17:09] rrbarreto opened #19877 "Openstack os_user_role module can't looping over elements"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_user_role
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Fedora release 22 (Twenty Two)
##### SUMMARY

When creating a role and make the user parameter looping the task fails with undefined item variable
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expecting the module create the user role for b

[2017-01-04 17:17] #19795 closed, assigned to alikins

[2017-01-04 17:20] abadger commented on #19426
<nod>  I was tired.. I meant, "The integration test will need more than just those lines" rather than "we can't write an integration test for this".  I've added some things to the PR... but it doesn't look like the tests are being run yet.  I'll ask mattclay if I'm doing something wrong.

[2017-01-04 17:28] bcoca commented on #19711
is this machine a container?

[2017-01-04 17:39] damien-tinyclues opened #19880 "Error when pulling docker image from aws ecr"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_container
docker_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
ubuntu 16.04

##### SUMMARY
When I try to pull an image from aws ecr, the module can't pull the image but I can pull with the docker cli

##### STEPS TO REPRODUCE

[code]

The docker config contain that:
[code]

When I use the `doc

[2017-01-04 18:11] #19426 closed, assigned to nobody

[2017-01-04 18:20] abadger commented on #19426
Fixed in devel and stable-2.2 branch.  And btw, the issue was that I was dumb.  Forgot to git add the new locale_gen test directory.

[2017-01-04 18:51] julianhille opened #19883 "module: ini_file does not take care of file ending without a newline"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ini_file

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Managing: Linux 4.4.6-ti-r15 #1 SMP Tue Apr 5 08:05:26 UTC 2016 armv7l GNU/Linux
Running: Linux 4.4.6-ti-r15 #1 SMP Tue Apr 5 08:05:26 UTC 2016 armv7l GNU/Linux

##### SUMMARY
I've got a config file which had no trailing newline and the ini_file did

[2017-01-04 18:52] selfuryon opened #19884 "Module ios_config: interoperability of src and match params"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Now I can't use src param with match. Default behaviour for src is match line. I can't use strict or exact for match param.

##### STEPS TO REPRODUCE.
Now src are working like match line and only with them. It can be the problem in

[2017-01-04 19:25] shoelzle commented on #19855
Thanks for the hint @jhawkesworth . I guess my playbook can be reorganized according to you suggestion.

Still, I think this feature request has its use cases, as shown by your example of rolling updates. Do you think this feature could simplify the plays of your rolling updates ?

[2017-01-04 19:35] jbscare opened #19888 "ec2_group: use of a single port_range argument instead of from_port and to_port"
_From @nicolas-g on November 28, 2014 15:2_

##### Issue Type:

Feature Idea

##### Component Name:
ec2_group module

##### Summary:

This is a very small importance feature but it would be nice when using ec2_group module (http://docs.ansible.com/ec2_group_module.html) to define the ports using a single single `port_range` argument instead of having to define `from_port` and `to_port` .

This way

[2017-01-04 19:35] jbscare commented on #19888
_From @wrouesnel on September 17, 2015 21:16_

This could be made more succinct quite easily:

[code]

List detection logic would also be good, so the parameter could just be passed a list of ports from jinja2 rather then doing a join.

[2017-01-04 19:35] jbscare commented on #19888
_From @filipenf on March 15, 2016 20:48_

:+1:

[2017-01-04 19:35] jbscare commented on #19888
_From @aioue on May 5, 2016 7:1_

@wrouesnel while you're at it, allow lists to be passed `cidr_ip`. Every new IP means a whole swathe of rules.

[2017-01-04 19:35] jbscare commented on #19888
_From @ansibot on August 1, 2016 3:50_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-01-04 19:35] jbscare commented on #19888
_From @ansibot on September 13, 2016 2:32_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-04 19:35] jbscare commented on #19888
_From @ansibot on October 6, 2016 16:44_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-04 19:35] jbscare commented on #19888
_From @ansibot on December 7, 2016 18:6_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-04 19:37] Lujeni commented on #19838
The application running with the flask runserver under the venv ?

[2017-01-04 19:37] jbscare opened #19889 "ec2_group.py and --diff"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### SUMMARY

ec2_group.py doesn't do anything useful with --diff, and it'd be great if it did (and if it worked both with and without --check). Without it, we have to resort to before-and-after captures of 'aws ec2 describe-security-groups' out

[2017-01-04 19:37] jbscare commented on #19889
_From @defionscode on March 14, 2016 19:33_

This is a great idea. TBH, this is not something I'd likely hit anytime soon given other priorities but I would definitely like to see this implemented.

[2017-01-04 19:37] jbscare commented on #19889
_From @alikins on April 25, 2016 22:10_

Would the proposed ec2_group facts modules help?

https://github.com/ansible/ansible-modules-extras/pull/1939
https://github.com/ansible/ansible-modules-extras/pull/1352/
https://github.com/ansible/ansible-modules-extras/pull/1908

[2017-01-04 19:37] jbscare commented on #19889
_From @ansibot on July 31, 2016 14:43_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-01-04 19:37] jbscare commented on #19889
ec2_group_facts would be another way to compare the live state before and after a change, but what I really had in mind here was a way to compare what ec2_group.py would do, against the live state, ideally in a way that would work with --check.

[2017-01-04 19:37] jbscare commented on #19889
_From @ansibot on August 30, 2016 19:53_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-04 19:37] jbscare commented on #19889
_From @ansibot on October 6, 2016 14:57_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-04 19:37] jbscare commented on #19889
_From @ansibot on December 7, 2016 19:8_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-04 19:59] fghaas opened #19890 "lxc_container.py still uses lxc-clone for clones (it ought to use lxc-copy)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lxc_container` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes from package defaults.

##### OS / ENVIRONMENT
Ubuntu 16.04.1 LTS

##### SUMMARY
The module makes use of the `lxc-clone` command, which is deprecated in favor of `lxc-copy`, and will be removed in some future LXC release — in which case, if the module remains un

[2017-01-04 20:00] fghaas commented on #19890
Tagging @cloudnull as the original author of `lxc_container.py`.

[2017-01-04 20:00] fghaas commented on #19890
Sorry, accidentally hit "close and comment" instead of just "comment".

[2017-01-04 20:03] fghaas commented on #19890
Evidently, *some* people are already being bitten by this because their distribution no longer ships `lxc-clone` (see ansible/ansible-modules-extras#2996).

[2017-01-04 20:16] julianhille commented on #19883
Same issue on
[code]

[2017-01-04 20:19] ns-phennessy commented on #19838
Yes. We install the deps for the Flask app into a venv, which the uwsgi web server will use to run the app.

[2017-01-04 20:33] Lujeni commented on #19838
I use the `emperor` mode also, i am not sure to see the link between them.

If you can run your flask application, the venv is good i guess.

Which version of `pip` / `virtualenv` pls?

[2017-01-04 20:39] Lujeni commented on #19816
@gundalow this option seems very old (https://github.com/pypa/pip/blob/0.4/pip.py#L182)

[2017-01-04 20:40] selfuryon commented on #19884
params 'before' and 'after' also don't work with src. Maybe make them work together?

[2017-01-04 20:55] Lujeni commented on #19816
I am not sure the module should implement this kind of option.

There is an `extra_args` for that
[code]

[2017-01-04 21:10] abadger commented on #19559
When you run this on 2.1 you should see a deprecation warning:
[code]

To update your playbook, you need to change the with_items lines to look like this:
[code]

If you have more questions about this change, feel free to send them to the mailing list or IRC channel.  I'll paste that information below:

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sinc

[2017-01-04 21:10] #19559 closed, assigned to nobody

[2017-01-04 21:20] Fale commented on #19711
Nope, standard CentOS on Amazon EC2

[2017-01-04 21:22] yamatt opened #19893 "Ansible docker_container not exposing ports (2.2.0.0)"
_From @rilindo on November 8, 2016 1:13_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using the following config:

[code]

##### OS / ENVIRONMENT
- Workstation OS X MacSiera
- Server: Ubuntu 14.04 with port 2375 open for docker
- Python version: 2.7.10
List of python modules:

[code]

##### SUMMARY
The docker_container do

[2017-01-04 21:22] yamatt commented on #19893
_From @ansibot on November 8, 2016 1:41_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-04 21:22] yamatt commented on #19893
_From @rilindo on November 17, 2016 22:51_

Anybody here have the same problem or am I doing something wrong?

[2017-01-04 21:22] yamatt commented on #19893
_From @ansibot on November 23, 2016 9:44_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-04 21:22] yamatt commented on #19893
_From @Pamplemousse on December 3, 2016 17:48_

Exact same problem here. Can't figure out how make ansible's `docker_container ` module map my containers' ports.

Documentation is not of any help: code samples use different keys than the doc shows (`ports` vs `published_ports`).

[2017-01-04 21:22] yamatt commented on #19893
_From @ansibot on December 7, 2016 20:1_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-01-04 21:23] yamatt opened #19894 "docker_container module doesn't match existing container when entrypoint is used"
_From @yamatt on October 31, 2016 21:15_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`docker_container`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Linux/Fedora 22

##### SUMMARY

When running a task with an `entrypoint` parameter, a docker container is destroyed and recreated each time after the first time it is run.

##### STEPS TO REPRODUCE

Fi

[2017-01-04 21:23] yamatt commented on #19894
_From @ansibot on October 31, 2016 21:37_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-04 21:23] yamatt commented on #19894
_From @ansibot on November 16, 2016 9:31_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-01-04 21:23] yamatt commented on #19894
_From @ansibot on December 7, 2016 19:57_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-01-04 21:41] georgepsarakis commented on #19893
@rilindo Could you perhaps run the playbook with debug output (`-vvv`) ?

[2017-01-04 21:46] devopsaws88 commented on #19880
have the same issue when tried using _amazon-ecr-credential-helper_ for docker push to ecr

[2017-01-04 21:52] nergdron commented on #19120
Note that I'm seeing this issue crop up frequently with the automation work in AWS I'm doing, and would definitely like to see it addressed.

[2017-01-04 21:59] ns-phennessy commented on #19838
On the OS level:
[code]

In the venv:
[code]

So the uwsgi emperor runs a vassal, which is the flask application.

Yeah you might be right, this might be an issue with uwsgi and not Ansible's virtualenv

[2017-01-04 22:00] nergdron opened #19895 "ec2_vpc doesn't wait for subnets to be created, errors out intermittently"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When creating a VPC that has subnets embedded in the declaration, it appears that the underlying boto calls don't wait or check to make sure the subnets have been created before proceeding. This means if the calls happen quickly, it can error ou

[2017-01-04 22:02] machacekondra commented on #19801
Please close if oVirt Python SDK update solves the issue for you.

[2017-01-04 22:18] jimi-c commented on #9753
@srvg going through old issues, and I believe we resolved this didn't we?

[2017-01-04 22:29] wimnat commented on #19865
This is possible.  Just use the jinja lookup like you already have but use template instead of file and use it directly in the s3_bucket task.

e.g.

[code]

notabug

[2017-01-04 22:43] jimi-c commented on #10344
Hi @niccoX sorry to take so long to follow up on this but can you provide some example scripts and/or more info as to what it is you're trying to accomplish here?

[2017-01-04 22:49] command-tab opened #19898 "Ansible 2.2.0.0: Variables in handler names not populated"
**Issue Type:** Bug Report, Regression from #15713

**Component Name:** handlers

**Ansible Version:** 2.2.0.0

**Environment:** OS X 10.11.6

**Summary:** Under Ansible 2.2.0.0, Jinja variables contained in a handler `name` are no longer populated. Under Ansible 1.9.x and 2.1.1.0, they were populated. Here's a quick example:

**Steps To Reproduce:**
1. Write this content to `playbook.yml`:

[code

[2017-01-04 22:52] abadger commented on #19585
@d3v1an7 could you try out my Pull Request?  I don't have OSX so I can't readily test if that fixed things.  If it works, I'll merge it to devel.  Probably will not backport it because it could cause other usages of osx_defaults to break.  Information on that is in the PR's description.

[2017-01-04 22:53] abadger commented on #19575
#19577 has been merged.  Closing this as fixed.

[2017-01-04 22:53] #19575 closed, assigned to nobody

[2017-01-04 23:13] abadger commented on #19625
Agreed. The ansible output is showing ansible doing the right thing and that serverfault discussion shows that ssh-copy-id is what's trying to access what it thinks is the private key to go with the pubic key that was specified.

[2017-01-04 23:13] #19625 closed, assigned to nobody

[2017-01-04 23:22] #19865 closed, assigned to nobody

[2017-01-04 23:25] abadger commented on #18995
PR has been mergedto devel.  Closing issue ticket.

[2017-01-04 23:25] #18995 closed, assigned to nobody

[2017-01-04 23:50] mattclay commented on #19749
We're now testing FreeBSD 11.0: https://github.com/ansible/ansible/pull/19905

[2017-01-04 23:50] #19749 closed, assigned to mattclay

[2017-01-05 00:25] tebaly opened #19908 "How to get the IP address of another host of previous play in the playbook?"
##### ISSUE TYPE
 - Documentation Report

In docs http://docs.ansible.com/ansible/playbooks_variables.html#fact-caching

My inventory hosts like IP list, without hostnames.

[code]

And i can refer to "hostvars" only by IP. But how i refer to higher(previous) "play" to get the IP address?... By _name_ for example

    hostvars[groups.<name>.0].ansible_default_ipv4.address

Nothing is easier?

---

[2017-01-05 00:34] sivel commented on #19908
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-01-05 00:34] #19908 closed, assigned to nobody

[2017-01-05 00:49] ns-phennessy commented on #19838
Ah, i have tracked it down.

Turns out, we are building our machine from an image that has a Python 2.7.5 on it; in the midst of running Ansible stuff on it, we are doing a full system update which brings Python to 2.7.11. We compile uwsgi against 2.7.11 while the virtualenv is created using 2.7.5.

I don't much like the idea of hardcoding a version number into Ansible, wondering if there is a way

[2017-01-05 00:57] stanrate commented on #19274
Since the group_by module seems to no longer work properly in Ansible 2.2, I tried to achieve the same result by using the add_host module and it worked. I replaced the following:

group_by: key='adhoc_group'

with:

 add_host: hostname={{item}} groups='adhoc_group'
 with_items: "{{ansible_play_hosts}}"

and it worked.

It is fortunate that there are two ways of creating dynamic adhoc groups of ho

[2017-01-05 01:20] abadger commented on #16519
PR #19705 has been merged and cherry picked to stable-2.2 which should fix this problem.  Closing ticket.

[2017-01-05 01:20] #16519 closed, assigned to nobody

[2017-01-05 01:25] abadger commented on #19706
Wouldn't you need to invoke ansible like this?
[code]

[2017-01-05 01:49] wangxuan9237 commented on #19859
This is really cool!

[2017-01-05 02:00] KeynesYouDigIt commented on #7908
Did Jinja2 mention anything about this? I have a working web app using Map that gets this error when I deploy to google app engine

[2017-01-05 02:23] movie0125 opened #19913 "[ ansible 2.2.0 ] [ module setup ] the process is D+ state at openstack network node"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.1.1503 (Core)

##### SUMMARY

command：  ansible all -m setup
at openstack network node, process for a long time, and finally into the D+ state
Network nodes have many virtual NICs.

##### STEPS TO REPRODUCE

exec  ansible-playbook below,

[2017-01-05 02:35] jcmartinezs commented on #15321
I am using $ ansible --version 2.2.0.0, and the problem remains... hopefully for me I found this open thread... maybe we can add a warning when using Centos 7

[2017-01-05 02:56] rilindo commented on #19893
@georgepsarakis ,  here you go (this uses the same code, except with vault):

`stardust:ansible_docker_demo rilindo$ ansible-playbook -vvv create_custom_docker_container.yml --ask-vault-pass
Using /Users/rilindo/src/ansible_docker_demo/ansible.cfg as config file
Vault password:

PLAYBOOK: create_custom_docker_container.yml ***********************************
1 plays in create_custom_docker_contain

[2017-01-05 03:32] movie0125 commented on #19913
80013 pts/2    Ss+    0:00 /bin/sh -c /usr/bin/python /root/.ansible/tmp/ansible-tmp-1483615192.93-195988658363074/setup.py; rm -rf "/root/.ansible/tmp/ansible-tmp-1483615192.93-195988658363074/" > /dev/null 2>&1 && sleep 0
 80034 pts/2    S+     0:00  \_ /usr/bin/python /root/.ansible/tmp/ansible-tmp-1483615192.93-195988658363074/setup.py
 80073 pts/2    S+     0:00      \_ /usr/bin/python /tmp/a

[2017-01-05 03:50] non7top opened #19918 "Documentation: module directives vs attributes"
##### ISSUE TYPE
 - Documentation Report

##### SUMMARY
http://docs.ansible.com/ansible/playbooks_directives.html
Documentations says those are directives

Ansible says those are attributes.
[code]

I faced the error about the wrong 'attribute' and started the google, which obviously returned nothing at all. Then I started looking at the docs and finally found that this is actually called 'directi

[2017-01-05 04:38] movie0125 commented on #19913
Set `gather_subset = !all ` in config file `/etc/ansible/ansible.cfg`
The problem is solved

[2017-01-05 04:38] #19913 closed, assigned to nobody

[2017-01-05 06:27] Ritesh-Sharma commented on #19870
Ok Thanks , bcoca .

[2017-01-05 06:35] georgepsarakis commented on #19893
Have you included a

[code]

line in your Dockerfile?

Also, can you use [docker inspect](https://docs.docker.com/engine/reference/commandline/inspect/) on the created container? If you notice the `STATUS` column, the container is not started at all, it is not only that the port is not published correctly.

[2017-01-05 08:20] jpmens commented on #19883
needs_contributor

[2017-01-05 08:23] jhawkesworth commented on #19855
@shoelzle - it probably wouldn't make much difference for us, but we are probably unusual as we tend to update relatively small numbers of different types of servers (at least when we are updating software).

[2017-01-05 09:29] andmos opened #19927 "win_template: Returns 'changed' every time"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No setting changed

##### OS / ENVIRONMENT
Server: Ubuntu 14.04
Client: Windows Server 2012R2

##### SUMMARY
We use `win_template` to copy a configuration file for the [TeamCity](https://www.jetbrains.com/teamcity/) build server and its agents. For some reason the status from `win

[2017-01-05 09:44] Cougar commented on #16586
Does this `action_plugins/test_import.py` work better?

[code]

I copy-pasted it from `/usr/lib/python2.7/site-packages/ansible/plugins/action/win_copy.py` and works for me.

[2017-01-05 09:57] yamatt commented on #19893
So I built a test-bed to work from. I originally tried the Redis image and that worked fine, so I tried the OpenVPN image I've been playing with and that doesn't add the port.

## Docker files:
### Redis:
- https://github.com/docker-library/redis/blob/6cb8a8015f126e2a7251c5d011b86b657e9febd6/3.0/Dockerfile

### OpenVpn:
- https://hub.docker.com/r/kylemanna/openvpn/~/dockerfile/

## Running
### sta

[2017-01-05 10:26] hemskgren commented on #19615
The alt1, above give this out put. The model end before "(Power" in this example. it is possible to chage from \(revision'  to \(Power' but will fail on all non Power based like ASR1000.

--
TASK [Show facts from device] **************************************************
ok: [192.168.98.5] => {
    "msg": "Model= WS-C2960G-8TC-L (PowerPC405) processor Serial= FOC1247V5Q9 Version= 15.0(2)SE10a"
}
o

[2017-01-05 11:34] holgpar opened #19930 "Type error with python3 when using basic Authentication with open_url"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
module_utils/urls.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
I am running with Python 3.4

##### OS / ENVIRONMENT
linux

##### SUMMARY
Using basic authentication does not work with Python3 because the "%" does not allow bytes. However,

[code]

##### STEPS TO REPRODUCE

Use `open_url` in module like this:
[code]

##### EXPECTED RESUL

[2017-01-05 11:43] pablodav commented on #18894
Test upgrading these libraries:

    ansible localhost -m pip -a "name=requests>=2.12 name=urllib3>=1.19 name=ndg-httpsclient>=0.4.2"

I had this issue, but as it doesn't happens now and I have upgraded those for other reason I suspect it could be related.

[2017-01-05 12:09] jhawkesworth commented on #19927
Please can you check what is getting generated for {{ ansible_managed }} just to be sure the file contents are the same every time?  From memory its the file checksum that is used to determine if there is a difference.
I think in older versions of ansible the default ansible.cfg didn't contain a static string 'Ansible managed' so if you have upgraded it is possible {{ ansille_managed }} is causing

[2017-01-05 12:21] slue commented on #14270
@bcoca the solution works, but it seems that it is not compatible to `with_items`, as the handlers in the included file get called each time for every item

[2017-01-05 13:48] damien-tinyclues commented on #19880
Finally I found a way to pull/push with ecr.

When I execute my playbook I set `become: yes` (it was the case at the origin of my post) and my docker config is created in the root directory.
But when I use the docker module I need to have the docker config in the home directory of the user who instiate the connection.

Maybe there is something I don't understand with the `become` parameter or the

[2017-01-05 13:52] andmos commented on #19927
Aaaah I know what is happening. The status `changed` is indeed correct: In the `buildAgent.properties` file this line

[code]
Gets a value and then, of course, the checksum will mismatch.
I guess there is no way to make the template ignore a certain line.

[2017-01-05 13:56] #19927 closed, assigned to jhawkesworth

[2017-01-05 14:45] zystem opened #19934 "set_fact cannot overwrite extra-vars"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
ansible 2.2.0.0

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY
variable defined in commandline with --extra-vars cannot be redefined/overwritten with set_fact ("changed": false)
[code]

##### STEPS TO REPRODUCE
ansible-playbook /etc/ansible/test.yml --extra-vars "uname=222"

[code]

##### EXPECTED RESULTS
[code]

####

[2017-01-05 15:26] bcoca commented on #19918
We use directives, attributes and keywords interchangeably.

[2017-01-05 15:47] sivel commented on #19934
This is expected.  As detailed at http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable :

An approach that would work is to `set_fact` a different variable, and use `default` later such as:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.goo

[2017-01-05 15:47] #19934 closed, assigned to nobody

[2017-01-05 15:52] GriffithLea opened #19939 "nmcli: does not assemble the nmcli command properly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.2

##### SUMMARY

Basically, the nmcli module seems to construct its /usr/bin/nmcli options somewhat out of order.
##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

I expected the nmcli task to succeed.

##### ACTUAL RESULTS

I got an erro

[2017-01-05 16:18] conatus commented on #13637
It seems although they should clearly have two PRs that this PR is related to
https://github.com/ansible/ansible/pull/10449 insomuch as it allows for storing multiple AWS accounts in the `ec2.py` dynamic inventory.

Missing though, which I will have a look at, is given a list of AWS accounts getting information about each of them in turn.

[2017-01-05 16:36] nitzmahone commented on #19702
@edyoucaterself Can you verify if this still occurs on 2.1.1 and/or 2.2.0?

[2017-01-05 16:38] robbiedyer commented on #13962
Was any reason for the seemingly unexplained silent skipping of included plays found?

[2017-01-05 16:41] jimi-c commented on #10498
Just following up on old issues. Since the above was merged, is there any reason we're keeping this open?

[2017-01-05 16:43] robbiedyer commented on #13962
I've found my issue was apparently incorrect indentation. The include playbook line was indented too far and therefore wasn't inline with the other tasks. I believe it was due to not including it before the tasks in the root playbook and also not including it inline with the other tasks that caused it to be ignored. Correct me if this shouldn't be the case however.

[2017-01-05 16:45] jimi-c commented on #10501
The other option is to use `failed_when: false` on that task to ensure it never fails. You could even combine the two tasks you have above using register and failed_when to check for the string in the stdout.

As this is more of a use question than a bug, we will close this now (and sorry for the late follow-up). If you continue seeing any problems related to this issue, or if you have any further

[2017-01-05 16:45] #10501 closed, assigned to nobody

[2017-01-05 16:45] nitzmahone commented on #19708
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-01-05 16:45] #19708 closed, assigned to nobody

[2017-01-05 16:51] acdha commented on #13665
@dagwieers Would it make sense to treat this as a documentation change for unarchive to discourage use of URLs?

[2017-01-05 16:53] nitzmahone commented on #19729
cc @mattclay @abadger - suspect more fixup_perms shenanigans here specific to osx...

[2017-01-05 16:59] #19743 closed, assigned to nobody

[2017-01-05 17:04] jimi-c commented on #10515
As @bcoca noted, this is a module, so everything is taking place on the remote side. You should first push the key to the remote host and then use rpm_key to use it. This module does not do the copying out.

Per the above, I am going to close this now.  If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com

[2017-01-05 17:04] #10515 closed, assigned to nobody

[2017-01-05 17:06] jimi-c commented on #10570
@tima / @abadger  Is this still a problem? I thought we had fixed this a while back.

[2017-01-05 17:07] jimi-c commented on #10594
Any follow-up here? It seems to be resolved, so if we don't hear back soon we'll close this.

[2017-01-05 17:08] jimi-c commented on #10600
Closing per the above, thanks!

[2017-01-05 17:08] #10600 closed, assigned to nobody

[2017-01-05 17:11] abadger commented on #19729
I think this is a generic problem but I don't think there's a solution in code.  If ansible were to switch directories then anything that bases itself off of paths relative to the current working directory wouldn't make sense.

[2017-01-05 17:13] tima commented on #10570
@jimi-c I think we did that this particular issue could be closed. https://github.com/ansible/ansible/issues/16767 is a bit different and is arguably a bug.

[2017-01-05 17:14] xenithorb commented on #10515
What is the distinction that separates `copy` and `synchronize` and 'template' from this limitation?

Is it supposed to be understood that "Files Modules" get an exception to acquire things from the control machine, but no other module class can do that?

I'm asking for future reference @jimi-c

[2017-01-05 17:16] #19860 closed, assigned to jctanner

[2017-01-05 17:17] jimi-c commented on #10657
Since we have collapsed the modules now, we will not be doing any more submodules for the foreseeable future. As such we will close this now.

Thanks!

[2017-01-05 17:17] #10657 closed, assigned to nobody

[2017-01-05 17:20] sivel commented on #10570
This was resolved in https://github.com/ansible/ansible/commit/bce79c67c3657ccf24bea9685eb158c5aab70e2e / https://github.com/ansible/ansible/pull/15306

[2017-01-05 17:20] #10570 closed, assigned to abadger

[2017-01-05 17:23] sivel commented on #16767
`use_ssh_args` does implement this functionality, but it sounds like the docs for `use_ssh_args` should be updated.

As far as defaulting `use_ssh_args` to `yes`, this was not done originally, as this functionality was added later, and has always defaulted to `no`.  So switching the default could break other usage of this module.

I am thinking maybe we should just deprecate the `use_ssh_args` opt

[2017-01-05 17:26] bcoca commented on #19870
As an example:
[code]

[2017-01-05 17:38] mattclay commented on #19729
The traceback indicates the error is on line 10 of the ansiballz module wrapper, which is here:

https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/module_common.py#L112

A call to `os.getcwd()` can fail on OS X with `errno.EACCES` if you don't have sufficient permissions.

@abadger What's the impact of ignoring that exception? We already handle `AttributeError` there.

[2017-01-05 17:44] alikins commented on #19748
At the moment, 2.2.0.0 is the latest 2.2 release. The stable-2.2 content (including the fix for #18355) will get released to 2.2.1.0 soon.
But currently the pip release is correct.

[2017-01-05 17:44] #19748 closed, assigned to nobody

[2017-01-05 17:58] abadger commented on #19729
Don't know.  As you can see from the comments, it fixed errors of module shadowing on some Linux distributions.  But other Linux distros did not have the problem.  I can't recall the issue but reading the comment makes me think you could test it by having a module in module_utils that shadowed a python stdlib library that we use or similar.

[2017-01-05 18:03] aimannajjar commented on #12686
This has worked for me, in `sudoers` add:
[code]

And then use `sudo su -` as `become_exe`, either by specifying it `ansible.cfg` file or as an environment variable when executing ansible:
[code]

[2017-01-05 18:16] abadger commented on #19930
We support python-3.5+ so that we can have things like percent formatting of byte strings.  So I'm afraid this is a WONTFIX.  Sorry for the inconvenience.

[2017-01-05 18:16] #19930 closed, assigned to nobody

[2017-01-05 18:17] bcoca commented on #19748
to match releases look at tags, we keep 'stable' branches for backporting bugfixes.

[2017-01-05 18:25] bcoca commented on #19706
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The fact gathering does 'best effort' if the user you gather facts as does not have access to those facts, you will get NA or empty fac

[2017-01-05 18:25] #19706 closed, assigned to nobody

[2017-01-05 18:28] alikins commented on #19874
Whats the output of:

[code]

[2017-01-05 18:29] bcoca commented on #19859
no need to change code, just set `-` as one of the flags or even as part of the executable setting. Closing as it already works.

[2017-01-05 18:29] #19859 closed, assigned to nobody

[2017-01-05 18:30] #19730 closed, assigned to nobody

[2017-01-05 18:32] nitzmahone commented on #19755
bot_broken - not sure why the Windows tag got applied to this one (setup module?)

[2017-01-05 18:33] bcoca commented on #19274
group_by 'reloads' host vars, add_host does not, it just appends, this is probably the difference you are seeing here.

leaving ticket open to consider if the 'reload' should/should'nt include facts.

[2017-01-05 18:35] alikins commented on #19757
This sounds like a dupe of https://github.com/ansible/ansible/issues/17992 ?

[2017-01-05 18:37] alikins commented on #19851
This sounds like a dupe of https://github.com/ansible/ansible/issues/17992

[2017-01-05 18:48] nitzmahone commented on #19765
Notify is not supported on an include. @bcoca @jimi-c  - should this be a playbook grammar warning/error?

[2017-01-05 18:51] bcoca commented on #19765
it is, if the include is dynamic

[2017-01-05 19:32] dav1x opened #19945 "i want to be a maintainer for vmware_guest"
i want to be a maintainer for vmware_guest

[2017-01-05 19:45] ns-phennessy commented on #19838
Going to close this ticket since this is not an Ansible bug.

it looks like `virtualenv_python` property can take a version number OR file path. This has resolved the issue for us. Thanks for your help @Lujeni

[2017-01-05 19:45] #19838 closed, assigned to nobody

[2017-01-05 19:58] aioue commented on #19638
Related patch: https://github.com/trailofbits/algo/blob/ec2encryption/library/ec2_ami_copy.py

[2017-01-05 20:22] #19945 closed, assigned to nobody

[2017-01-05 20:33] micw commented on #19874
$ python -c 'import platform; print platform.release(); print
platform.version(); print platform.dist()'
4.8.0-2-amd64
#1 SMP Debian 4.8.11-1 (2016-12-02)
('debian', 'stretch/sid', '')

[2017-01-05 21:05] bcoca commented on #19719
maybe a better example can show how this is not as easy as you think:
[code]

[2017-01-05 21:06] alikins commented on #18722
(Mentioning https://github.com/ansible/ansible/issues/17992 here to keep track of related issues)

[2017-01-05 21:06] alikins commented on #9362
(Mentioning https://github.com/ansible/ansible/issues/17992 here to keep track of related issues)

[2017-01-05 21:06] bcoca commented on #19719
also note that other lookups have dependencies not shipped with Ansible, like redis, mongodb, shelvefile, etc

[2017-01-05 21:07] alikins commented on #13484
(Mentioning https://github.com/ansible/ansible/issues/17992 here to keep track of related issues)

[2017-01-05 21:13] alikins commented on #17852
(Mentioning #17992 here to keep track of related issues)

[2017-01-05 21:15] alikins commented on #12071
(Mentioning #17992 here to keep track of related issues)

[2017-01-05 21:55] bcoca commented on #18982
closing as this already is the case.

[2017-01-05 21:55] #18982 closed, assigned to nobody

[2017-01-05 22:07] jamesongithub opened #19955 "Evaluate "when" condition before evaluating variables"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

`when` + `with_items`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Variables in `with_items` are evaluated before `when` condition

##### STEPS TO REPRODUCE

Run the example.

[code]

##### EXPECTED RESULTS

If when condition evaluates to false, don't evaluate variables in task.

##### ACTU

[2017-01-05 22:12] sivel commented on #19955
The `when` statement executes for every iteration of `with_items`, so that you can can make the task conditional based on the individual item of a `with_` loop.

As such, `with_items` must be able to properly evaluate.

The recommended way to achieve this is via the `default` filter, such as:

[code]

In a block, the `when` condition is merged down onto the individual tasks, so it behaves just as

[2017-01-05 22:12] #19955 closed, assigned to nobody

[2017-01-05 22:14] abadger commented on #19729
Notes from Initial debugging:
* This happens when the login user's home directory has restricted permissions.
* This does not happen on Linux
* pipelining (or probably another technique that takes care of the permissions handling in fixup_perms2) needs to be enabled.  This leads me to believe this is not a fixup_perms problem.

Checking now whether this only happens in the AnsiBallZ module wrapper

[2017-01-05 22:20] nerzhul commented on #19080
This issue is now solved since recent merges

[2017-01-05 22:21] nerzhul commented on #19289
it's fixed in master since recent changes

[2017-01-05 22:21] abadger commented on #19729
Does not affect retrieving the current working directory inside of a module.  So it is only at the wrapper level.

I think that on other systems, piping a script into python must not set __main__.__file__ (thus the AttributeError in the exception handler).  On osx this seems to be getting set so the script gets to call os.path.abspath() and then fails.  Going to try this with world readable tempfi

[2017-01-05 22:22] nerzhul commented on #19289
resolved_by_pr #19228

[2017-01-05 22:31] #19080 closed, assigned to jctanner

[2017-01-05 22:35] jamesongithub commented on #19955
what's recommended to handle

[code]

[2017-01-05 22:41] #19697 closed, assigned to gundalow

[2017-01-05 22:43] abadger commented on #19729
Results are that it works with no pipelining but we don't get AttributeError on osx or Linux in this situation.  Maybe pipelining isn't setting up permissions on the temporary directories like the non-pipelining case.

[2017-01-05 22:53] abadger commented on #19729
ah.  When we're not pipelining, python is passed the full path to the script that it invokes.  So in that case, os.path.abspath() does not end up calling getcwd() as __main__.__file__ already contains an absolute pathname.

[2017-01-05 22:54] nitzmahone commented on #19867
Yeah, the initial impl only supports dicts, since that was the minimum we needed to translate/augment the initial metadata (supported_by, etc). Since docs are currently only Python ATM, we've deferred YAML support indefinitely, until there's a good reason for it. IIRC, we went with the dict because we've already gone to the trouble to parse/compile the Python, so it's already done vs needing to th

[2017-01-05 23:05] abadger commented on #19729
@mattclay I've distilled a test case for testing whether the scriptdir removal from sys.path is necessary on a platform.  If I find that OSX does not need that, I'll add OSError as a valid reason to skip scriptdir handling.

[2017-01-05 23:11] nergdron opened #19956 "jinja templating applied inconsistently"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
I guess this is in ansible core, or wheverever the jinja templating stuff lives.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When doing more complex workflows, like trying to set nested fact variables, the way jinja templating is applied is inconsistent. In some cases, it'll be run through jinja,

[2017-01-05 23:14] sivel commented on #18528
I'll be looking into this over the coming week.

[2017-01-05 23:22] bcoca commented on #19704
can you write out the full file paths that you are using?

[2017-01-05 23:34] abadger commented on #19729
@juju4 #19957 should fix this error for you.  Give it a try if you feel inclined.

[2017-01-05 23:37] xenithorb commented on #19719
Yes, so you're saying when the lookup type is a variable it's not within the current framework to be able to resolve that ahead of time to check for dependencies, ok.

Recall that this is about at least improving the message, though.

In the most basic sense: What is the "knowledge bar" that ansible officially expects the user to meet in order to know how to resolve `module dns.resolver` into `dnf

[2017-01-05 23:45] #19585 closed, assigned to nobody

[2017-01-05 23:50] #19729 closed, assigned to nobody

[2017-01-06 00:14] bcoca commented on #19719
since we support many OSs/distros, this could be a VERY long message if we have to specify how you  can possibly install it, that is why they are 'you are missing this python lib required by this plugin'.

We cannot even assure you that the correct name is supplied for the package system you might use, as these change a lot more than anyone would think is sane, only the 'import name'.

[2017-01-06 00:40] newbe36524 opened #19959 "win_robocopy throw a exception when return_code is not 1||2||4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_robocopy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

when win_robocopy return_code is not 1||2||4 ,$change is not been set. it will throw a exception on the code below:

[code]

##### STEPS TO REPRODUCE

[code]

and content in src and dest are the same . win_robocopy.return_code wi

[2017-01-06 00:53] dvavili opened #19961 "ignore_errors not working in include module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 Include module
 ignore_errors option

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I have a cleanup playbook that goes through some tasks and cleans up some state on my host, but I want to ignore errors. Since I have many roles to cleanup, I include all of these files and have ignore_errors ch

[2017-01-06 01:11] blakfeld commented on #19959
I'm pretty sure there was a fix for this... maybe it got lost in the great Ansible Module Repo Shuffle of 2016

I'll see if I can find it

[2017-01-06 01:13] nitzmahone commented on #19877
You're missing the "tasks" element which the os_user_role task should be under...

[2017-01-06 01:13] #19877 closed, assigned to emonty

[2017-01-06 01:14] bcoca commented on #19961
static includes are not normal tasks so this needs to be a dynamic include for most 'task level directives' to work as you expect.
[code]

[2017-01-06 01:14] bcoca commented on #19961
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2017-01-06 01:14] #19961 closed, assigned to nobody

[2017-01-06 01:15] sivel commented on #19877
Actually looks like that is a task in a role, however the problem is an indentation issue where `with_items` is indented too far.  It should look like:

[code]

[2017-01-06 01:18] nitzmahone commented on #19877
Ah, I misunderstood the "role task" comment. Yep, that'd do it too.

[2017-01-06 01:38] xenithorb commented on #19719
I'm only talking about using PyPI names "Please install from pip or your package manager `dnspython` or the package that contains the module `dns.resolver`"

I realized ahead of time that enumerating all package names is not feasible, I'm totally with you there.

[2017-01-06 01:39] karlmdavis opened #19964 ""UnicodeEncodeError: 'ascii' codec can't encode..." error, instead of actual "Failed to set permissions on the temporary files..." error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
I'm using the `command` module, but the bug itself is in Ansible core.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(Haven't changed the Ansible config in any relevant way.)

##### OS / ENVIRONMENT
Management system is Ubuntu 14.04, and the managed system is the same.

##### SUMMARY
When running the `command` module as an unprivileged user

[2017-01-06 01:59] abadger commented on #13527
I was pointed at this today and took a look.  This should be fixed since 2.1.

2.1.0 introduced AnsiBallZ as the method of constructing the new-style ansible modules which ship with ansible.  This method of constructing the ansible modules places the module into a file named ansible_module_{module_name}.py and then, on the remote machine, executes that file.  So from 2.1 onwards, the module is not

[2017-01-06 02:09] abadger commented on #16816
@jflbr Do you have a series of steps for creating the virtualenv with the migrate_db script and then trying to execute it?  I was stymied by not being able to reproduce the problem.

[2017-01-06 02:40] kunalspathak opened #19965 "Connect to windows host timing out"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Control machine : Ubuntu
Target machine : Windows
##### SUMMARY

I am trying to configure Windows server 2016 as a host machine that is controlled by Ubuntu. I ran `ConfigureRemotingForAnsible.ps1` script mentioned on [intro_windows](http://docs.ansible

[2017-01-06 02:57] kunalspathak commented on #19965
I also created `group_vars/kpathak-test.yml` based on comment in https://github.com/ansible/ansible-modules-extras/issues/1810 but that too doesn't help.

[2017-01-06 02:58] wimnat commented on #10594
iam_role module is now merged which supports managed policies. I'm working on iam_user module to do the same. ETA a month or two. I'd say this can be closed.

[2017-01-06 04:53] #19289 closed, assigned to jctanner

[2017-01-06 05:38] j2sol commented on #13486
I just got tripped up by this issue as well, when updating content for my Ansible book. I'll have to re-design this chapter a bit. :/

[2017-01-06 05:45] dagwieers opened #19966 "Pause is skipped if first host in the list is being skipped"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pause

##### ANSIBLE VERSION
v2.3

##### SUMMARY
If you have a playbook included with a pause-task. And that include has a conditional when: statement.
Then the pause-task will be skipped if the taskbook was skipped for the first host in the list, even when the taskbook was included and did run for the other hosts.

playbook.yml
[code]

taskbook

[2017-01-06 06:47] liuzhenan opened #19967 "Multithreading running the playbook exception"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

from ansible.playbook import PlayBook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory      = /etc/ansible/hosts
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 10
poll_interval  = 15
sudo_user      = root
transport      = smart
module_lang    = C
gathering

[2017-01-06 08:20] TipiT commented on #16010
The first thing I do when installing Ansible is to change roles_path = /home/myusername/.ansible/roles from /etc/ansible/ansible.cfg. So why not just change install location to default something else than /etc/roles? Like your suggested ~.local/share/ansible/roles .

[2017-01-06 09:02] gundalow commented on #19816
@Lujeni  Thanks for confirming the age of the option

@juju4 Does this work for you:

`pip: name=bottle extra_args=--log /tmp/coconut.log`

http://docs.ansible.com/ansible/pip_module.html

If so please close the ticket

[2017-01-06 09:26] Fale opened #19968 "postgresql_user emits traceback on missing relation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing particular

##### OS / ENVIRONMENT
CentOS 7 running the code, Amazon RDS as target db

##### SUMMARY
Python error

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The module working

##### ACTUAL RESULTS
[code]

[2017-01-06 09:35] ataran17 commented on #16740
I had the same problem on 2.2.0.0.
Besides heavy logging while skipping all the tasks inside including playbook ansible tries to calculate all variables in 'with_items' statement (I have some math there with variables which are populated above in this playbook) so it successfully fails on this step - that is weird behavior.

'static: false' - fixes it and skips all the including playbook at once.

[2017-01-06 09:59] HontoNoRoger commented on #7852
While it's true what @mpdehaan stated, it would be a nice feature for the check mode.

Consider an example where you have a large role or playbook and want to run your check until the end, so you can fix occuring errors in one go and not iterative. Also, you could see what would fail because of previous tasks failing.

[2017-01-06 10:00] luto commented on #13527
Looks good now. I'm no longer working on the code base which needed this, so I sadly can't test my original issue. Thank you for the update!

[2017-01-06 10:00] #13527 closed, assigned to abadger

[2017-01-06 10:47] aioue commented on #19802
2.2.0.0

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 0
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "module_stderr": "Traceback (most recent call last):\n  File \"/var/folders/qb/0nbtzbx94pv57_jksjplywm80000gn/T/ansible_N4LIx1/ansible_module_ec2_elb_lb.py\", line 1354, in <module>\n    main()\n  File \"/var/folders

[2017-01-06 11:01] autogun commented on #13262
Adding support for until-loop to Blocks is something I could find very useful in some of my playbooks.

[2017-01-06 11:07] jhawkesworth commented on #19965
The output above shows that it is attempting to connect via ssh, not winrm (and as user NONE, not whatever you have configured user as).
So it is likely your host_vars / group_vars are not being picked up, so ansible is defaulting to ssh.

Also since ansible 2.0 please use 'ansible_password' not 'ansible_ssh_pass' to specify the password to use.

Also ensure you have added pywinrm and any other wi

[2017-01-06 11:07] jhawkesworth commented on #19965
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-01-06 11:07] #19965 closed, assigned to nitzmahone

[2017-01-06 11:16] danvaida opened #19970 "kinesis_stream module fails when EC2_URL env var is set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
kinesis_stream module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Just like with the `s3_website` module, and potentially other modules that rely on `boto3`, this module fails without providing (any) helpful information when the EC2_URL environment variable is set.

##### STEPS TO REPRODUCE

[2017-01-06 12:33] vlfig opened #19972 "ec2_eni doesn't honour description for uniqueness"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_eni

##### ANSIBLE VERSION
[code]

Reproducible in
[code]

*Not* reproducible in 2.1.3.0 (works as expected).

##### CONFIGURATION
plain

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The ec2_eni module does not create a new ENI and instead updates the description of an existing ENI that matches its other args. This is important for the cases wh

[2017-01-06 13:49] rrbarreto commented on #19877
Hello Guys,

Ident and ansible syntax are ok because if I use like below works properly:

[code]

Thank you

[2017-01-06 13:52] jhawkesworth commented on #15787
Closing this, not because it isn't still an issue, but because there doesn't seem to be a way to fix it.  My understanding is python has already parsed the command line input before ansible gets it.
Workaround is not to feed windows paths in via -e extra_vars, but instead use include_vars or a lookup as appropriate.

[2017-01-06 13:52] #15787 closed, assigned to nobody

[2017-01-06 14:21] levequej opened #19973 "uri changes the case of custom headers name (it captializes them) where curl (for example, or software like postman as well) does not"
##### ISSUE TYPE
 - Bug Report ? or Feat Request ? : I let you decide

##### COMPONENT NAME
uri module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7.2

##### SUMMARY

uri module changes the case of the headers . I am using an efficient IP appliance to manage IP and DNS stuff with ansible but I cannot autenticate properly :

The appliance uses case sensitive c

[2017-01-06 14:34] bcoca commented on #19966
pause bypasses the host loop, so it works as if you had `run_once=True`

[2017-01-06 14:44] jimi-c commented on #10790
Following up on older issues, and it looks like since 2.0 we handle the error for bare variables much better:
<pre>
TASK [assert] *****************************************************************************************************************************************************************************************************
task path: /home/jamesc/testing/10790.yml:4
fatal: [localhost]: FAILED!

[2017-01-06 14:44] #10790 closed, assigned to nobody

[2017-01-06 14:45] jimi-c commented on #10795
Following up on old issues, and the above PR was merged so I'll close this now.

Thanks!

[2017-01-06 14:45] #10795 closed, assigned to nobody

[2017-01-06 15:02] dagwieers commented on #19966
Except that it does not exactly *"run once"* if the first selected host was skipped through an include-when.
So in my case Task 1 and Task 3 was run for 2 systems out of 3, but the pause was skipped because that one system was not in a specific group. It means I cannot add a pause in this case between Task 1 and Task 3.

I assume this will fail as well then:
[code]
A bit weird maybe.

But my use-c

[2017-01-06 15:30] bcoca commented on #19967
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Anisble is multi proc, as the first note in the docs http://docs.ansible.com/ansible/dev_guide/developing_api.html  states, it is not t

[2017-01-06 15:30] #19967 closed, assigned to nobody

[2017-01-06 15:36] bcoca commented on #19966
that is what run_once does, if 'executes the task' on the first host, if the conditional returns false using that host's variables, the task is skipped.

[2017-01-06 15:38] dagwieers commented on #19966
I just want my playbook to pause for 5 seconds, and that's not possible.
I guess pause shouldn't be doing run_once then.

[2017-01-06 15:43] bcoca commented on #19966
If it didn't it would then pause PER host that meets the conditions (more like wait_for). I think what is really needed for your use case is a way to 'override inheritance' and have it ignore the `when` it inherits.

[2017-01-06 15:45] sivel commented on #19973
This is not a result of the uri module, or any code in ansible, this is caused by python itself, where `.capitalize` is called on every header added by `add_header`:

https://github.com/python/cpython/blob/2.7/Lib/urllib2.py#L314-L316

As an alternative, we could probably bypass using `add_header` and instead just manipulate `request.headers`

[2017-01-06 15:52] schenksj opened #19974 "ecs_taskdefinition integer parameters do not auto-cast"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible/lib/ansible/modules/cloud/amazon/ecs_taskdefinition.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

ecs_taskdefinition requires passing many integer parameters.  If you pass them as dynamic variables from a yaml   (cpu: "{{ cpu_units }}") they are passed to boto as strings, and rejecte

[2017-01-06 16:12] jimi-c commented on #10902
Yes, most likely the issue here is just the comma messing up the splitting of the string. Here is the relevant code:
<pre>
        try:
            headers = dict(item.split(':', 1) for item in module.params['headers'].split(','))
        except:
            module.fail_json(msg="The header parameter requires a key:value,key:value syntax to be properly parsed.")
</pre>
Not sure how we can make tha

[2017-01-06 16:14] schenksj commented on #19974
Also on version:

ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

[2017-01-06 16:15] jimi-c commented on #10902
I've edited the title and description and re-labeled as this is a bug in the feature and no longer a feature request.

[2017-01-06 16:24] straight-shoota commented on #18894
I had the same error with get_url and after upgrading urllib3 it worked again. Thanks @pablodav =)

[2017-01-06 16:43] rilindo commented on #19893
@georgepsarakis : The last comment got me thinking and it turns out that you need to ensure that state is "started", not "present" (not sure how I missed that)

`
---
- hosts: all
  remote_user: ubuntu
  vars_files:
    - secret.yml
  become: yes
  become_method: sudo
  tasks:
  - name: login to docker registry
    docker_login:
      username: "{{ docker_hub_username }}"
      password: "{{ docke

[2017-01-06 17:06] pablodav commented on #18894
I have replicated the issue and also fixed upgrading those libs.

El vie., 6 de ene. de 2017 13:24, Johannes Müller <notifications@github.com>
escribió:

--
Pablo.

[2017-01-06 17:14] gpolyn opened #19978 "gce module fails with "unsupported parameter for module: credentials_file""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/cloud/google/gce.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Python 2.7.10 from virtualenv and using apache-libcloud==1.5.0

##### OS / ENVIRONMENT
OS X 10.10.5

##### SUMMARY
Attempting to duplicate instance creation from example at http://docs.ansible.com/ansible/guide_gce.html.

##### STEPS TO REPRODUCE

Please note I am abl

[2017-01-06 17:50] abadger commented on #18444
The fix for this is in 2.2.1 which is currently in a late release candidate stage. Take a look at https://releases.ansible.com/ansible/ for a 2.2.1 rc if you would like to test that this is fixed from a tarball or try running from a checkout of either the stable-2.2 or devel branches: http://docs.ansible.com/ansible/intro_installation.html#running-from-source

[2017-01-06 17:51] supertom commented on #19978
@gpolyn I haven't verified/tested, but my first inclination would be to swap 'credentials_file' with 'pem_file' and see if you have better results, given the versions of ansible and libcloud that you have.

If you are willing and able, I would recommend upgrading at least libcloud to the latest 1x release.

[2017-01-06 17:54] abadger commented on #19964
This was fixed in: https://github.com/ansible/ansible/pull/18565

The fix is in both the devel and stable-2.2 branches.  The next release will be 2.2.1 which has the fix applied.  You can try running from source ( http://docs.ansible.com/ansible/intro_installation.html#running-from-source ) to test that or download the latest 2.2.1 release candidate tarballsfrom here: https://releases.ansible.com/

[2017-01-06 17:54] #19964 closed, assigned to nobody

[2017-01-06 18:01] dagwieers opened #19982 "win_reboot fails when a reboot is already ongoing"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_reboot

##### ANSIBLE VERSION

v2.3

##### SUMMARY

When automating things on Windows (due to bug #19966) I discovered that when a system is on course of being rebooted, the `win_reboot` task will fail with a message like **"System is already rebooting."**. (I will post the verbatim message when I hit this one again !)

But in this uniqu

[2017-01-06 18:06] jimi-c commented on #10912
I'm seeing the proper behavior in devel/2.2, so I'm going to go ahead and close this. Sorry for the late follow-up, and thanks!

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-de

[2017-01-06 18:06] #10912 closed, assigned to nobody

[2017-01-06 18:06] bcoca commented on #19973
it is a convention that HTTP headers follow but the RFC does not specifically require this

[2017-01-06 18:18] gpolyn commented on #19978
@supertom with no other changes to my playbook, except the following, as I think you recommended:
[code]
I get the following error: "RSA key format is not supported"

I do not see how to download .pem files from my google console.

Finally, as mentioned in my issue summary, I am using libcloud 1.5.

[2017-01-06 18:22] jimi-c commented on #10515
Each of those has an action plugin, as @bcoca noted, which perform controller-side actions before the module is executed remotely. So copy/etc. all actually result in multiple module executions. You could do the same thing for other modules, however we do not have any plans to create action plugins for every module.

[2017-01-06 18:22] jimi-c commented on #10570
Thanks @sivel, that's what I thought.

[2017-01-06 18:23] gdmello commented on #18461
@decayofmind - shouldn't the task look like this instead? (change: see register) -
[code]

[2017-01-06 18:25] jimi-c commented on #10594
@wimnat thanks, I'll go ahead and close it then.

[2017-01-06 18:25] #10594 closed, assigned to nobody

[2017-01-06 18:27] xenithorb commented on #10515
I see, I understand now. Thanks!

[2017-01-06 18:27] #19568 closed, assigned to nobody

[2017-01-06 19:04] jimi-c commented on #10952
As this has been open for quite a while with no traction, we're going to go ahead and close it now. If you'd like to restart the conversation on the devel mailing list please feel free to do so:

   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writing code

Because this project is very active, we're unlikely to see comments made on cl

[2017-01-06 19:04] #10952 closed, assigned to nobody

[2017-01-06 19:29] supertom commented on #19978
@gpolyn OK, yeah, makes sense.  I think JSON support was added in libcloud 1.7.  As you said, you'll need to grab a p12 file, which then gets converted to pem (if, you are unable to upgrade).

In the console, create a Service Account, and once it's created, choose Create New Key, and choose p12 (it's buried a bit because p12/pem is deprecated).

Then, convert the p12 to pem format:
[code]

[2017-01-06 19:51] themouette commented on #19731
I have similar issue when trying to provision firewall files in proxmox as well.

@FlorentCoppint did you find a workaround?

[2017-01-06 20:00] siwyd opened #19985 "Unarchive module URL src does not follow redirect"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
I'm trying to unarchive a zip file using the unarchive module. It works using a non-redirected URL, but not with a redirected URL.

##### STEPS TO REPRODUCE

In this playbook the first task will work and the second one won't. The fi

[2017-01-06 20:02] gundalow commented on #17406
We should set a more sensible number for CPUs
http://stackoverflow.com/questions/2527496/how-can-i-write-a-makefile-to-auto-detect-and-parallelize-the-build-with-gnu-mak

Need to get timings from Jenkins non-production run before and after making that change as well

[2017-01-06 20:24] jxn opened #19987 "Add the ability to create / delete RDS Option Groups for AWS"
It is possible to use the RDS module to assign an option group, but it is not currently possible to create/remove an option group in Ansible (2.2)

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2 module, probably needs its own action, such as `rds_option_group`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Cannot create / remove option

[2017-01-06 20:24] jxn commented on #19987
Note that this ability *does* exist in boto3 at first glance

[2017-01-06 20:27] sivel commented on #17406
This should have already been solved in https://github.com/ansible/ansible/commit/2979488b

[code]

[2017-01-06 20:36] dagwieers commented on #19985
My standard answer (again). Adding downloading capabilities to unarchive was an historic mistake (for the plethora of options people want to add to this module that has nothing to do with unarchiving).

So I think you are better off using the **get_url** or **uri** modules for downloading, and use **unarchive** for what it does best.

[2017-01-06 20:37] dagwieers commented on #19985
That said, if people want to fix this (hint, it's not in the unarchive module itself) be my guest !
needs_contributor

[2017-01-06 20:38] DivyaVavili commented on #19961
The static option resolved the issue. Thanks.

[2017-01-06 20:40] themouette commented on #19731
Here is why the proxmox directory `/etc/pve` does not behave as expected: https://pve.proxmox.com/wiki/Proxmox_Cluster_File_System_(pmxcfs)#_posix_compatibility

It has a limited POSIX compatibility, especially when it comes to right management

[2017-01-06 20:49] dagwieers opened #19988 "win_msi: re-installing existing MSI file reports change"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_msi

##### ANSIBLE VERSION

v2.3

##### SUMMARY

I have to investigate this deeper, but it seems that reinstalling an installed package does nothing, and reports a change. While I expected it to be idempotent and return OK.

More details to come, this is a placeholder until I get to it.

[2017-01-06 20:58] jimi-c commented on #11000
The module path is listed as a `pathlist` type in constants.py, so it should work fine to create a standard path list on any distro:
<pre>
DEFAULT_MODULE_PATH       = get_config(p, DEFAULTS, 'library',          'ANSIBLE_LIBRARY',          None, value_type='pathlist')
</pre>
And as @bcoca pointed out above ./library is already picked up (not sure if that was just a basic example or what but it shou

[2017-01-06 20:58] #11000 closed, assigned to nobody

[2017-01-06 21:02] HyperBaton commented on #19985
Hey Dag, I definitely understand that reasoning. I did have a look in the code, I saw it used urls.py from ansible_utils. But I couldn't figure the redirects part immediately, so I left it well alone ;)

[2017-01-06 21:05] #18977 closed, assigned to nobody

[2017-01-06 21:05] #13515 closed, assigned to nobody

[2017-01-06 21:06] #13989 closed, assigned to nobody

[2017-01-06 21:10] jimi-c commented on #11035
Per the above, it seems the postgresql modules writers have made the design decision to separate priv creation from user creation, so I'm going to close this at this time.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https:

[2017-01-06 21:10] #11035 closed, assigned to nobody

[2017-01-06 21:12] jimi-c commented on #11038
Per the above discussion, I'm going to close this now. The perf callback is not the default, as not everyone would want that, however in 2.0+ it's very easy to enable it.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https:/

[2017-01-06 21:12] #11038 closed, assigned to nobody

[2017-01-06 21:13] sivel commented on #19985
Redirects are not the problem.  `unarchive` does indeed follow redirects.  What we are seeing here is that `mirrors.kodi.tv` is returning a 403 for the default python user agent:

[code]

Changing the user agent by modifying `unarchive.py` like the following allows the module to download the file successfully:

[code]

Maybe we could expose the `http_agent` parameter for use in the `unarchive` mod

[2017-01-06 21:14] bcoca commented on #11005
in any case you can work around this with the subset gathering feature:

[code]

[2017-01-06 21:16] valar999 commented on #19704
I make test case in /tmp/test
All files are here.
/tmp/test/ansible.cfg
/tmp/test/inventory/hosts
/tmp/test/host_vars/serv1

6 січ. 2017 р. о 00:22 Brian Coca <notifications@github.com> написав(ла):

[2017-01-06 21:20] salman1485 opened #19990 "ios_config: Error while copying installer "TemplateSyntaxError: unexpected char u'\ufffd' at 5231""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
log_path=logs/test.log

##### OS / ENVIRONMENT

##### SUMMARY
I've used "src" argument of ios_template to copy switch templates to remote switches but this is the first time I'm using the same (ios_template and tried ios_config as well) to copy a Cisco IOS installer file

[2017-01-06 21:20] sivel commented on #19704
`host_vars` are read from 2 locations, either directly beside the inventory _file_ or directly beside the playbook file.  When running an ad-hoc command, there is no playbook file, so the `host_vars` directory must reside directly beside your `hosts` file.  So the paths would need to be:

[code]

[2017-01-06 21:21] #19704 closed, assigned to nobody

[2017-01-06 21:22] dagwieers commented on #19985
@sivel Thanks for the analysis.

I prefer not to add more HTTP download options to unarchive, especially not for websites that are actively trying to prevent proper usage (while those deliberately doing wrong will simple change the http_agent header).

[2017-01-06 21:24] sivel commented on #19990
The `ios_config` module is used to run configuration commands on the device.  It is not used to copy `.bin` files to the device for flashing.

As such, ansible is trying to use your `.bin` file as a template, and is failing.

I am not currently aware of any network modules that would allow copying a binary file to a device for flashing.

[2017-01-06 21:26] sivel commented on #19985
I believe I am in agreement.  The proper course should be to use `get_url` or `uri` modules which have more advanced options for making HTTP requests, and then utilize the `unarchive` module for the task of unarchiving

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-pro

[2017-01-06 21:26] #19985 closed, assigned to nobody

[2017-01-06 21:28] sivel commented on #19985
A documentation update has been made the the unarchive module to reflect this:

https://github.com/ansible/ansible/commit/4672058b1fe50118df6a023c216203ad79f42d79

[2017-01-06 21:32] simplesteph commented on #19974
fixed by https://github.com/ansible/ansible/pull/18999. Please use devel and let us know if you still have the issue

[2017-01-06 21:48] rrbarreto opened #19991 "OpenStack quota modules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

os_nova_quota
os_neutron_quota
os_cinder_quota

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Currently, there isn't any module to manage quotas in OpenStack

##### STEPS TO REPRODUCE

Something like this:

[code]

##### EXPECTED RESULTS

Manage resource quotas on OpenStack
##### ACTUAL RE

[2017-01-06 21:56] sivel commented on #14804
This work in in progress in https://github.com/ansible/ansible/pull/18141

[2017-01-06 22:02] renard opened #19993 "inventory parsing performance issue with vars_plugins"
##### ISSUE TYPE

-  Feature Idea
- ~~Bug Report~~

##### COMPONENT NAME

inventory parsing

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No config file found; using defaults
##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using custom `vars_plugins` each plugin is run for every host defined
in the inventory file. It should be run on the host subset only.

##### STEPS TO REPRODUCE

No play

[2017-01-06 22:02] privateip commented on #19990
Today push support for copying files to network devices is not supported.  Please use ios_command to perform a pull copy command

[2017-01-06 22:02] #19990 closed, assigned to Qalthos, gundalow

[2017-01-06 22:07] abadger commented on #17406
@sivel -- yeah, the problem is the default value of CPUS is 1 and we aren't setting a higher number anywhere when actually invoking it.

Here's some timings that I just did on my laptop:

* Baseline on my laptop:  34:45.21 total
* Using CPUS=8   9:22.04 total
  * However, I think this may be what's causing the problems with highlighting yaml code blocks.  I'll have to look into that.
* CPUS=8 + py

[2017-01-06 22:13] bcoca commented on #19993
Then hostvars from hosts not targettted in play would not be available, as i this simple example:

[code]

# db_config.j2
[code]

[2017-01-06 22:26] darkn3rd opened #19994 "Copy/Unarchive Modules Fails w/ "Unable to find '{}' in expected paths."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy
unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

The host system:

[code]

The target system:

[code]

##### SUMMARY
I cannot seem to do a simple `copy:` or `unarchive:` with Ansible modules.  I can do a `stat:` on the file or manually copy using `shell: cp`.  Using a Vagrant Virtualbox guest of

[2017-01-06 22:32] renard commented on #19993
Is it a real problem?

In my case (maybe I am misunderstanding something) I have a custom  var plugin that parses many yaml files (about 500) in several folders. The parsing time is quite long (+5s) for all files since the plugin is called for all hosts.

I would prefer to have it run only on matched hosts. How can I do such a thing?

Thanks

[2017-01-06 22:32] sivel commented on #19994
It looks like you are trying to use the `copy` module, to copy from one remote path to another.  In which case, you need to utilize `remote_src: true`, so that it will not try to copy the src file over scp/sftp from the machine running ansible, to the vagrant machine.

`unarchive` also has a `remote_src` argument, for unarchiving a file that is already located on the remote host, that does not nee

[2017-01-06 22:33] sivel commented on #17406
It appears in at least 1 case I have checked, that the YAML is invalid. In other locations, the data is not YAML at all, which I guess is ok.

[code]

As for CPUS, I think we should calculate that if possible.  A function I have used a lot (brought over from gunicorn at some point is)

[code]

We could put that directly in build-site.py but allow for some override.

I ran into problems with the py

[2017-01-06 22:38] bcoca commented on #19993
yes, its common usage, there are many other ways of making the hosts used dynamic so inventory must be loaded before the play runs. There is no way to do what you want.

[2017-01-06 22:39] darkn3rd commented on #19994
Got it, added it an it works.  I forgot the remote execution nature of Ansible, mentally stuck on change config scripts running on the host system.

[code]

[2017-01-06 22:39] #19994 closed, assigned to nobody

[2017-01-06 22:41] afgane commented on #19809
I installed a new version directly from the repo here (it reports version 2.3.0.0) and the issue has gone away.

[2017-01-06 22:41] #19809 closed, assigned to nobody

[2017-01-06 22:42] nitzmahone commented on #19982
Interesting- haven't seen that before. Is that failure output from the `shutdown` command, or something coming back from the WinRM layer? I hate doing crap like parsing error strings to determine behavior, especially since that message is quite possibly localized (though we could probably force InvariantCulture to get the English version)- if it is what's coming back from shutdown, hopefully there

[2017-01-06 22:42] renard commented on #19993
@bcoca Ok I see your point. I do not use the `hostvars[db_server]['db_user']` notation.

Let me know if something like a vars_subset_plugins is a good idea.

Thanks.

[2017-01-06 22:47] nitzmahone commented on #19877
@sivel's answer is correct- de-indent the `with_items`- without that, `item` will be undefined since you're not running a loop, you're passing an arg named `with_items` to the module. The error message is exactly correct, it's just not telling you *why*.

[2017-01-06 22:55] dagwieers commented on #19966
@bcoca No, I don't want it per host, I want it as part of the flow not tight to any specific host.

If I want ansible to pause for 5 seconds, it needs to happen regardless of what host was run first by Ansible. I don't even know which one Ansible is going to take and I cannot influence it, so why would it pause on the choice of an arbitrary host. I think that is a bug (or at least a design flaw).

[2017-01-06 22:56] gpolyn commented on #19978
@supertom OK,  with no other changes but assigning the pem resulting from your steps as the target of my `credentials_file` var I now get this failure:
[code]
Also, the latest release for apache libcloud is 1.5, which I am using.

Frankly, I'm happy to be flexible here: can you suggest a setup that is known to work for gce and python 2.7?

[2017-01-06 23:01] dagwieers commented on #19966
The `run_once` option has the same illness IMO, but its less obvious how to fix it there :-/
It's a design flaw I will discuss during my Ansible Anonymous talk I guess ;-)

[2017-01-06 23:47] dagwieers opened #19996 "win_package: should not require product_id information"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_package

##### ANSIBLE VERSION

v2.3

##### SUMMARY

Requiring the user to provide the module with the product id manually is a tedious task, especially when that information is well-stored inside the MSI package itself.

See: http://www.scconfigmgr.com/2014/08/22/how-to-get-msi-file-information-with-powershell/

So why not get the produ

[2017-01-07 01:01] HyperBaton commented on #19985
@sivel Thanks for pointing out the user agent issue! And I'm in agreement that it would be better to use another module for the download.

[2017-01-07 02:21] jamesongithub commented on #13278
[code]
works the 2nd try

[2017-01-07 02:50] jimi-c commented on #13278
@jamesongithub that's a different error than the one being discussed here.

[2017-01-07 02:52] jimi-c commented on #11064
Any follow-up on this? It seems like we should close this issue as it has been resolved internally. I know we exposed several new ssh options a while back, which should be documented.

[2017-01-07 02:54] jimi-c commented on #11070
@galindro as your PR was closed, I'm going to close this as well. If you'd like to resubmit your PR just do that (no need to reopen this).

Thanks!

[2017-01-07 02:54] #11070 closed, assigned to nobody

[2017-01-07 03:36] dagwieers opened #19998 "wait_for_connection: action plugin to wait until ansible connection is restored"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

wait_for_connection

##### ANSIBLE VERSION

v2.3

##### SUMMARY

When you are building new systems (think: vmware clone) it would be nice to be able to just wait until you can run something remotely. Usually what's being done right now is that we use **wait_for** on e.g. tcp/22 and as soon there is a connection we can use it.

In the Windows

[2017-01-07 04:00] dagwieers commented on #19988
No longer required, win_package is the future. Let the past be the past...

[2017-01-07 04:00] #19988 closed, assigned to sivel

[2017-01-07 05:35] jhawkesworth commented on #19998
Not sure specifically what you want to connect to, but you might be able to use a trick like this

- name: run test
  uri:
    url: "https://0.0.0.0:3030/api/canary"
    validate_certs: no
  register: result
  until: result['status']|default(0) == 200

as described here https://groups.google.com/d/topic/ansible-project/iLjIbsCASWU

Its a trick I use with tomcat which is pretty unhelpful in that it

[2017-01-07 06:14] vijayboopathy-zz opened #20000 "jenkins_plugin: module is not installing dependencies."
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
[code]
@jtyr

[2017-01-07 07:39] georgepsarakis commented on #19731
@themouette I think the equivalent is the following:

[code]

[2017-01-07 07:42] georgepsarakis commented on #19998
I think you can also probably use the `search_regex` parameter, in order to establish that a service has started. From the documentation:

[code]

[2017-01-07 09:38] rdonkin commented on #17086
I would really like this as well, for a different use case - creating a really simple "hello world" playbook as first step of an Ansible presentation/demo, like this:

[code]
The idea is to show some Ansibl basics without getting into the complexity of inventory right away.

To achieve a simple looking `ansible-playbook hello.yml` without warnings, I have to:

1. Create an Ansible inventory file `

[2017-01-07 12:07] qwazer opened #20003 "maven_artifact.py - add support for version ranges (dynamic version like 5.+) in maven artifact resolver"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

maven_artifact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Add gradle-like dynamic version resolution mechanism to MavenDownloader in `packaging/language/maven_artifact.py`
For example,
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-01-07 12:49] dagwieers commented on #19998
All nice and dandy, but these are all workarounds because there is no such action plugin :-)

I want to have one action plugin that does it automatically depending on the connection method used in a single task. Plus it would test the connection end-to-end, not just checking the port, or some output, but actually using it, like win_reboot does.

Sure for Linux it's not that hard, but if you are sc

[2017-01-07 15:28] georgepsarakis commented on #19998
I have very little knowledge about Windows, but when certain applications (e.g. RDBMS, Redis, SSH) start listening on a port, they can accept connections and process them.

The docs SSH example is probably referring to a use case such as this:
- You created a VM with a local action such as an AWS EC2 instance.
- You need to wait until the VM is accessible via SSH so that you can proceed with the p

[2017-01-07 15:33] dagwieers opened #20006 "winrm connection displaying InsecureRequestWarning"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

winrm connection plugin

##### ANSIBLE VERSION

v2.3

##### OS / ENVIRONMENT

RHEL7 with python2-winrm-0.2.1-1.el7.noarch

##### SUMMARY

Every task (every connection) spurs the message:
[code]
Despite the fact that `ansible_winrm_server_cert_validation: ignore` was set.

This is a problem in the pywinrm codebase.

[2017-01-07 15:53] dagwieers commented on #19998
Again, this is *only* to test the *ansible connection* method (ssh or winrm). And yes we can test if it works properly by doing a valid round-trip, eg running something. Just like ping does for example.

[2017-01-07 16:04] dagwieers commented on #19982
I don't know, but it's easy to find out. Just do a win_reboot in async with a long delay.
I would expect this to trigger this.

It happened to me because pause was not working (#19966) and a previous reboot was ongoing because it takes more time after installing/configuring AD. The **wait_for_connection** action plugin described in #19998 will be my solution to prevent this in the future. No need

[2017-01-07 16:11] georgepsarakis commented on #19998
@dagwieers sorry I misinterpreted the scope, I didn't understand that you were referring strictly to Ansible connection methods. Thanks for clarifying.

[2017-01-07 16:13] dagwieers commented on #19998
Yeah, I noticed that I may not have been very clear in the description ;-)

[2017-01-07 17:02] jamescooke opened #20007 "authorized_key: Crash when loading from Github by URL using Python 3.5"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
authorized_key core module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
nocows=1
inventory=ansible_hosts
host_key_checking=False

##### OS / ENVIRONMENT

Local: Ubuntu with Python 3.5.0+ at `/usr/bin/python3.5`
Remote: Ubuntu 16.04.1 with Python 3.5.2 at `/usr/bin/python3.5`

Python version is specified with:

[code]

##### S

[2017-01-07 19:30] gundalow commented on #17406
This should fix all warnings & errors with doc/docsite/rst apart from no toctree references to ROADMAP* https://github.com/ansible/ansible/pull/20005

[2017-01-07 19:32] corbt commented on #3539
I'm also running into this in Ansible 2.2. A variable in `with_items` is evaluated even though the whole task should be skipped according to the `when` clause inherited from the include. I think this is a regression, because the same playbook was working in previous Ansible versions.

[2017-01-07 19:39] peay commented on #19883
I'll pick this up if that's OK.

[2017-01-07 19:43] jpmens commented on #19883
please do!

[2017-01-07 22:33] vielmetti commented on #18640
@dagwieers just a note that one workaround for the lack of a hw clock on RPi hardware is 'fakehwclock' there's a Raspbian version and also this re-implmentation done for Arch Linux https://github.com/xanmanning/alarm-fake-hwclock

[2017-01-07 23:04] dagwieers commented on #18640
@vielmetti Right, but I don't see how that is relevant here. With the implemented fix Ansible does not rely on time, so you can do things like set up NTP or install the fake hwclock and actually set the time correctly.

[2017-01-07 23:27] jtyr commented on #20000
As per the description of the `version` option of the [plugin](https://docs.ansible.com/ansible/jenkins_plugin_module.html):

@ansibot, please close this issue as this is `notabug`.

[2017-01-08 01:36] dagwieers commented on #13665
@acdha Please ! :-) Pull requests are welcome.

[2017-01-08 03:11] gpolyn commented on #19978
Took a new run at this, using Ansible 2.2 (and libcloud 1.5) and got an instance going.

I think my prior efforts may have been frustrated by incorrect parameterization, and I couldn't tell.

(For what it's worth, this was a quick help: https://github.com/ichundu/gce.)

@supertom thanks anyway!

[2017-01-08 03:11] #19978 closed, assigned to nobody

[2017-01-08 05:18] vielmetti commented on #18640
Ah good thanks @dagwieers - I had misinterpreted the order of events - this now makes sense.

[2017-01-08 05:34] darkn3rd commented on #19507
This python `/usr/local/opt/python3/bin/python3`, is the native Mac Python.  It's a symlink that points to `../Frameworks/Python.framework/Versions/3.5/bin/python3`.  I am not sure how or why this happens.

As for pip using pip3 and not pip2, this could be useful for documentation, that upgrading pip3 libraries can cause problems for your future ansible installation.  I don't know why `pip3 instal

[2017-01-08 06:39] naftulikay opened #20012 "Ansible Galaxy Init Fails in Python 3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`ansible-galaxy`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None.

##### OS / ENVIRONMENT

Python 3.5.2, Ubuntu 16.04.

##### SUMMARY

Installing Ansible with `pip install ansible` on Ubuntu 16.04, then trying to create roles with `ansible-galaxy init --force rolename` fails with an encoding error.

##### STEPS TO REPRODUCE

[code]

[2017-01-08 10:12] Fale commented on #19711
To be even more precise, I use the AMI ami-e68f82fb (eu-central-1) from [here](https://aws.amazon.com/marketplace/pp/B00O7WM7QW)

[2017-01-08 10:48] georgepsarakis commented on #19711
@Fale can you please execute the following commands on the VM:

- `which systemctl`
- `stat /run/systemd/system/`
- `stat /dev/.run/systemd/`
- `stat /dev/.systemd/`

[2017-01-08 10:53] Fale commented on #19711
@georgepsarakis no problem.

[code]

[2017-01-08 11:23] georgepsarakis commented on #19711
This should be the equivalent of the applied module logic in shell commands:

[code]

Can you test the above?

[2017-01-08 11:34] tejatsk14 opened #20015 "msg: ERROR: 1049 Unknown database 'all'"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-01-08 11:59] georgepsarakis commented on #20015
The [documentation](http://docs.ansible.com/ansible/mysql_db_module.html) mentions that `name=all` works with Ansible versions **2.0+**.

[2017-01-08 12:43] Fale commented on #19711
It seems to not work:

[code]

This is different from what Ansible obtains:
On the bastion machine:
[code]

On the ansible machine:
[code]

Back on the bastion host:
[code]

[2017-01-08 12:45] georgepsarakis commented on #20007
The error is produced because the `bytes.startswith` method needs to be called with a `bytes` type argument and likewise for`str.startswith`, with `str` as argument. When fetching the URL contents, the result of `resp.read` is of type `bytes` while the argument `'#'` is a string.

It seems that this [line](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/authorized_key.py#L

[2017-01-08 12:51] georgepsarakis commented on #19711
Thanks. Can you run it once more with
[code]

to see if it actually runs the final command which should set the permanent hostname?

[2017-01-08 12:52] Fale commented on #19711
PS: the same occurs also with fqdn:

== Bash
[code]

== Ansible
[code]
[code]
[code]

[2017-01-08 12:53] Fale commented on #19711
[code]

[2017-01-08 13:46] georgepsarakis commented on #19711
I believe this line:

[code]

should become:

[code]

since the latter actually writes to `/etc/hostname` and persists the hostname change.

However, it may be EC2/cloud-init specific. I found this [answer](https://ask.fedoraproject.org/en/question/37413/correctly-setting-the-hostname-fedora-20-on-amazon-ec2/?answer=37746#post-id-37746) that applies to Centos7 if you check the comments.

[2017-01-08 14:13] sivel commented on #19507
Mac does not ship anything in `/usr/local`, so whatever has installed `/usr/local/opt/python3/bin/python3` is not Mac native.

That symlink would refer to:

[code]

Mac native Frameworks are installed in `/System/Library/Frameworks`

So far I am not sure what is the homebrew python that you expect to be used.  You have listed a number of commands, but nothing specific about paths, other than the p

[2017-01-08 15:05] Fale commented on #19711
[code]

It seems that is still not enough :(

[2017-01-08 15:26] sivel commented on #19711
According to https://aws.amazon.com/premiumsupport/knowledge-center/linux-static-hostname-rhel7-centos7/ the step that may likely be missing is:

[code]

I am not sure that the hostname module should be responsible for updating `/etc/cloud/cloud.cfg`, you should probably add another task that is responsible making that change.

[2017-01-08 17:06] jamescooke commented on #20007
@georgepsarakis I think I checked this already in my venv when I was hacking around with it and it fails further down the flow ... Will try and report back.

[2017-01-08 17:08] jhawkesworth commented on #20015
I am closing this as the ansible version in use does not support name=all

[2017-01-08 17:08] #20015 closed, assigned to nobody

[2017-01-08 17:11] georgepsarakis commented on #19711
@sivel yes it seems EC2-specific. It is also mentioned in the StackExchange answer that I referenced in my previous comment.

[2017-01-08 17:28] jamescooke commented on #20007
@georgepsarakis The line that you've linked to is https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/authorized_key.py#L483 and contains...

    new_keys = keys.values()

... within the `serialize(keys)` function.

It doesn't make sense to me to change that to `key = str(resp.read())` - sorry if I'm being slow.

Instead the only instance of `resp.read` in the `authorized_key.

[2017-01-08 17:56] georgepsarakis commented on #20007
Sorry for that, yes I meant this [line](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/authorized_key.py#L536).

You are right, you cannot simply type-cast from `bytes` to `str`, so you can do this:

[code]
I couldn't find a compatibility function for converting `bytes` to `str`.

If the above does resolve this, yes you could open a pull request for the fix along with a t

[2017-01-08 18:29] SiggyF commented on #18446
This was fixed in #19852 (`os.write` was called with `str` instead of `bytes`).

[2017-01-08 18:46] dagwieers commented on #19417
Looking at the list, we are almost there.

What do people think about splitting of snapshot operations and facts gathering ?

This obviously means moving generic calls into `module_utils`, and this can only happen when all the open PRs have been merged in vmware_guest.

[2017-01-08 21:31] pharazon commented on #16884
Lol makes me think what is the benefit of ansible over a bash script.

[2017-01-08 21:48] jamescooke commented on #20007
Thanks for the guidance George - I should be able to test this and hopefully make a pull request tomorrow.

[2017-01-08 23:51] jayenashar opened #20021 "aws credentials documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

aws credentials

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

debian jessie-backports i386 managing aws

##### SUMMARY

I can't figure out how to override ~/.aws/credentials

##### STEPS TO REPRODUCE

1. use aws cli to setup credentials for the aws account you normally administer
2. setup a play

[2017-01-09 00:23] willthames commented on #19987
Implemented in #19786

[2017-01-09 02:52] willthames commented on #16724
Is there an easy way to obtain the value of sys.executable as the ansible_python_interpreter for use in inventory? (I guess a lookup plugin might do it)

It's quite useful to use a 'fake' local connection (for things like connecting to APIs) so that the fake target can have inventory variables associated with it. But that benefit is negated if because it's not localhost, it then uses system python

[2017-01-09 03:44] dagwieers opened #20023 "win_copy: MemoryError on huge files (+3GB)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_copy

##### ANSIBLE VERSION

v2.2

##### OS / ENVIRONMENT

Windows 2012

##### SUMMARY

When doing a win_copy of a large ISO file (multiple files tested) of over 3GB in size, win_copy bails out with the below message:
[code]

[2017-01-09 03:44] dagwieers commented on #20023
@abadger As requested.

[2017-01-09 03:55] jamielennox opened #20024 "Need more information on SSL exception."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- lib/ansible/module_utils/urls.py

##### ANSIBLE VERSION
[code]
The code has changed since then but the problem still applies to master.

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Custom ubuntu 16.04 image against custom 16.04 images.

##### SUMMARY
There are a whole bunch of reasons that SSL operations can fail. The one that bit me most

[2017-01-09 04:03] willthames commented on #16724
It appears that ansible_python_interpreter is dynamic (i.e. not sure the solution suggested in #18530 can work)

[code]

[code]

[code]

[2017-01-09 04:28] willthames commented on #16724
The following solution does work:

[code]

[2017-01-09 06:49] jhawkesworth commented on #20023
It would be interesting to get an idea of the memory used.  I haven't looked at the code recently but there used to be a huge overhead in chopping up file contents and sending over web services interface.

[2017-01-09 06:50] mgovindasamy commented on #16354
I have the problem with following ssh, can you please help me? Vagrant ubuntu running on mac.

root@vagrant-ubuntu-trusty-64:~/.ssh# ansible --version
ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
root@vagrant-ubuntu-trusty-64:~/.ssh#

ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o 'IdentityFile="/root/.ssh/DownloadAWSK