[2018-12-12 10:49] kcapecchi opened #49813 "fmgr_provisioning - Provision devices via FortiMananger - no modules"
##### SUMMARY
It is more question than a "regular" documentation report. It seems that yml modules for fmgr_provision are not exisiting.

Consequently to this, when I create a test playbook like this :

[code]

and when I execute it : it gives me the following error :+1:

[code]

##### OS / ENVIRONMENT
Linux

##### ADDITIONAL INFORMATION

Do you know when those YML modules for fortimanager will be

[2018-12-12 11:21] hilaf-pipl opened #49814 "Cloud config and provisioning"
##### SUMMARY

Enhancement for the sl_vm module in Ansible, to allow more flexible machine provisioning in IBM softlayer.

##### ISSUE TYPE
- Feature Idea
Two requests somewhat connected together, under sl_vm module:
1. Use custom/private image under os_code
2. Ability to use (add field) cloud config when provisioning a machine.

##### COMPONENT NAME

sl_vm

##### ADDITIONAL INFORMATION

1. custom

[2018-12-12 11:47] #45136 closed, assigned to nobody

[2018-12-12 11:47] #47641 closed, assigned to nobody

[2018-12-12 12:28] IRDonch opened #49815 "The product filter is undocumented"
##### SUMMARY

This page: https://docs.ansible.com/ansible/2.7/user_guide/playbooks_loops.html#with-nested-with-cartesian mentions the `product` filter. However, this filter is not documented anywhere. It's not a standard Jinja filter, and there's no mention of it at https://docs.ansible.com/ansible/2.7/user_guide/playbooks_filters.html either.

##### ISSUE TYPE
- Documentation Report

##### COMPO

[2018-12-12 12:35] martinparr commented on #42181
Folks,  I am coming across this issue to - did we ever get a resolution?

IOS-XE version Version 15.5(2)S3

attempting to build a crypto isakmp profile

    - name: build isakmp profile
      ios_config:
        lines:
          - vrf apn
          - keyring test
          - match identity address 1.1.1.1 255.255.255.255 apn
          - local-address Loopback1
        parents: crypto isakmp profil

[2018-12-12 12:41] m451 commented on #12610
Same here. This should be tracked. It's 2018, wheels is not an option.

[2018-12-12 13:16] Yajo commented on #10725
FTR If you're templating a YAML file, this makes it sane:

    #jinja2: lstrip_blocks: "true", trim_blocks: "false"

[2018-12-12 13:22] specator commented on #48665
Hi @dagwieers, and sorry for delay in answer.

I can confirm that workaround with setting **delayed auto-start** option to **WinRM** service solve this issue in my environment. Also this issue was seen at about 80% of installs before workaround and was not seen after I had implement it.

Any way, I think the best way is try to fix WinRM module used by ansible to connect to Windows systems to handl

[2018-12-12 13:32] NilashishC commented on #48784
Hi @dknight-shl. I'm running vEOS 4.15.9M and `username bashuser shell /bin/bash secret bashpassword` seems to be an invalid command for me. Could you please mention which EOS version you're running? Thanks!

[2018-12-12 13:34] k-c-p commented on #42309
We "fixed" this for us by adding this `use` directive to the `service` module to enforce the use of legacy service module on Wheezy.
[code]

-> Closing.

[2018-12-12 13:34] #42309 closed, assigned to nobody

[2018-12-12 13:39] arsenicks commented on #48594
Thanks for the reply, I saw that, but as far as I know the new modules aren't shipped with 2.7 and I felt like this was clearly a bug. It's my first contribution to ansible so I might be wrong, but according to the guideline I've read, I had to submit a PR for the devel branch, and once it's accepted I should be able to "move it" into 2.7 right ?

 Can we update the current module in 2.7 with my p

[2018-12-12 13:43] justjais commented on #45218
@michaelhajjar Thanks for raising the issue, I have created PR #49818 to resolve the behavior once merged in devel it'll be queued for `2.8` release and shall cherry-pick in `2.7` as well.

[2018-12-12 13:52] dknight-shl commented on #48784
Hi @NilashishC ,

I'm running 4.20.5.2F

I haven't tried this on anything prior to 4.20...

[code]

[2018-12-12 13:54] akamac opened #49820 "vmware_host_ntp replace items, not add"
##### SUMMARY
The current module implementation **adds** ntp servers to the list, but I believe the proper behavior is to **replace** the settings with the specified ntp servers list.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_host_ntp

[2018-12-12 14:08] giovannipizzi commented on #48648
It would be great to get some feedback, so I can prepare a PR if you agree

[2018-12-12 14:18] pabelanger opened #49822 "[infra][ansible-network] Create Zuul POC in vexxhost"
This issue will be used to track progress on a zuul POC in vexxhost.com.

[2018-12-12 14:59] trishnaguha commented on #48099
@benjdudas Yes they have a bug filed. Bug id: CSCvn29917  

[2018-12-12 15:03] Qalthos commented on #49667
@tdaigle-orcl I see you have set `PERSISTENT_CONNECT_TIMEOUT`, but you haven't mentioned what other timeouts you have tried to set. `PERSISTENT_COMMAND_TIMEOUT` should be the one that needs to be increased. Have you set that, and if so, to what and how?

needs_info

[2018-12-12 15:05] Qalthos commented on #49548
Yes, this is a duplicate of that issue.

[2018-12-12 15:05] #49548 closed, assigned to nobody

[2018-12-12 15:06] cnunemaker opened #49825 "Using a variable list for tags parameter results in an unhashable type: 'list' exception"
##### SUMMARY

Providing a variable list to the tags parameter results in the following error message:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Tags parameter
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.5 (Maipo)
##### STEPS TO REPRODUCE

Run with `ansible-playbook -vvvv foo.yml`.

[code]

##### EX

[2018-12-12 15:22] jurisbu commented on #48423
@jaypipes Thanks, for this report. I was banging my head with very same problem. It just baffles me that Ansible documentation has no mention of this at all. Nothing about requirement to have `docker client` on Ansible host if one wants to use `ansible_connection=docker` in [Non-SSH connection types](https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html?highlight=docker%20become#

[2018-12-12 15:32] #29522 closed, assigned to nobody

[2018-12-12 15:39] kcapecchi commented on #49813
##### SUMMARY

##### ISSUE TYPE
bug report

##### COMPONENT NAME
FortiManager modules

##### ANSIBLE VERSION

ansible 2.7.4

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux tubalcain 4.15.0-42-generic #45-Ubuntu SMP Thu Nov 15 19:32:57 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

It is more question than a "regular" bug report

It seems that yml modules for fmgr_pr

[2018-12-12 15:43] Mogztter commented on #47525
Hello @fgiorgetti
I guess we could add the passphrase as an attribute `private_key_passphrase` ?

[code]

What do you think ?

[2018-12-12 16:00] let-thomas opened #49828 "wait_for_connection (winrm) should fail immediatelly when wrong credentials passed in"
##### SUMMARY
wait_for_connection over winRM does not fails when wrong username/password are provided.
With wrong password it is clear it should exit immediately but wait_for_connection  waits until timeout passes.
With correct password all works fine.
True is that wait_for_connection fails in some cases when it should not (like stated in issue #49567 and #32395) but I think here it is quite clear

[2018-12-12 16:08] mattclay commented on #48781
FreeBSD 12.0 has been released: https://www.freebsd.org/releases/12.0R/announce.html

[2018-12-12 16:13] tdaigle-orcl commented on #49667
Thanks for taking time to look into this. For testing I set the following timeouts:

- In the ansible.cfg
[code]

- In the provider dict
[code]

- In the task (deprecated)
[code]

Here is an example of the test play running with Ansible 2.4.2  [SUCCEEDS](https://pastebin.com/PbcTW3mb)

Here is an example of the test play running with Ansible 2.6.2  [FAILS](https://pastebin.com/c2KU8W7y)

[2018-12-12 16:23] ckotte commented on #49820
Can you try https://github.com/ansible/ansible/pull/47273?

[2018-12-12 16:39] billdodd commented on #49713
I completely agree that it is a bug causing the `UnboundLocalError` when there are no systems. There is another issue related to multiple Systems (#47108). When I fix that issue, the `UnboundLocalError` will also be fixed.

Regarding the `module_utils` path, it's part of the Ansible architecture. There is a brief description here: https://docs.ansible.com/ansible/2.7/dev_guide/developing_module_ut

[2018-12-12 16:39] IPvSean commented on #40267
Hey @ganeshrn I am hitting this issue again with newer ansible
[code]

my playbook is super simple and stored here: https://github.com/IPvSean/multivendor

the playbook literally is just doing
[code]

and it says changed everytime no matter what.  Is this expected?

[2018-12-12 16:48] kdelee opened #49830 "Foreman.py inventory script "group_prefix" does not return exact match for group prefix"
##### SUMMARY

Providing the varible `group_prefix` to filter hosts that only match does take effect, but only returns hosts that belong to groups that have more characters following the group:
e.g: `group_prefix: bob` and you get `bobra, bobbette, bobtastic` but NOT `bob`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

foreman.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2018-12-12 16:51] maxamillion commented on #49060
Submitted a bug to upstream DNF. https://bugzilla.redhat.com/show_bug.cgi?id=1658694

[2018-12-12 16:53] NilashishC commented on #47577
Fixed by #49464

[2018-12-12 16:53] #47577 closed, assigned to NilashishC

[2018-12-12 17:00] gaelrottier commented on #15575
@folkol Wow thanks I would never have thought of that

[2018-12-12 17:01] MarkusTeufelberger commented on #45725
I agree with Felix - I would really NOT expect an idempotence test to pass with `force:true`.

[2018-12-12 17:04] NilashishC commented on #35869
As discussed, I will be raising a PR to make the default behaviour of the net_* modules to fail when implementation module is absent.

[2018-12-12 17:07] #36950 closed, assigned to sekharvajjula

[2018-12-12 17:32] xmadsen opened #49832 "GetFirmwareInventory implementation is OEM-specific"
##### SUMMARY
GetFirmwareInventory does not return any output on a Lenovo ThinkSystem SR650. The issue seems to be in get_firmware_inventory() in redfish_utils.py. In line 499, the code looks for the string “Installed” in the id property, however, that is an OEM-specific implementation. The Redfish specification does not currently define any values or patterns for id properties on any resources. I

[2018-12-12 17:35] EvanK commented on #47917
This should be fixed in #31452, once (if) it gets merged

[2018-12-12 17:36] samdoran commented on #27617
Closing since this can be accomplished with existing modules and we do not plan to add this feature to the `get_url` module. See [this comment](https://github.com/ansible/ansible/issues/48790#issuecomment-440432038) for an explanation.

To further discuss this issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/

[2018-12-12 17:36] #27617 closed, assigned to nobody

[2018-12-12 17:42] #49248 closed, assigned to nobody

[2018-12-12 18:02] maxamillion commented on #49727
I'm attempting to recreate this by simulating the nexus server because I don't have one. I'm using the following flask app.

[code]

But it's failing the same on Ansible 2.4.x, Ansible 2.6.x, and Ansible 2.7.x so I think I'm missing something (which might be a whole different bug itself, but I want to make sure I'm addressing the regression you're experiencing). Would you mind sharing a sanitized

[2018-12-12 19:16] fabianvf commented on #47079
@endejoli `k8s_raw` and `openshift_raw` were added in 2.5, and reimplemented and merged into a single `k8s` module in 2.6. I would recommend upgrading to 2.6 or higher, before that openshift/kubernetes management is not very well supported.

[2018-12-12 19:24] owenlynch commented on #49727
Hi,

here is the output:

[code]

[2018-12-12 19:52] felixfontein commented on #40258
Only if we don't care about idempotency. The problem is that if we let docker do that, the result of `docker inspect` will include that magic IP which we don't know, and then we can no longer say whether what was specified in the module options is the same as what docker used.

[2018-12-12 20:00] felixfontein commented on #49802
Can you try `RUNAS_UID0: "false"` (with quotes)? This could be the important difference: if you write `false`, it will be interpreted as a boolean with value `false` (this is due to YAML being "user-friendly"), as opposed to the string `"false"`. Now Ansible will simply convert it back to a string, but since the string for `false` is `"False"`, it will end up in another case.

Besides that, the CL

[2018-12-12 20:03] felixfontein commented on #49564
This has been "fixed" by #49707 as well, right?

[2018-12-12 20:08] felixfontein commented on #48648
@giovannipizzi `docker_service` is pretty much unmaintained, so feel free to create a PR! Also, you might be interested in ansible/community#408. I know too little about `docker_service`'s code to comment on your proposed solution right now, but if you can create a PR which works, that should be fine :)

[2018-12-12 20:11] jbenden commented on #46308
Please submit a Pull Request with your change. Thanks!

[2018-12-12 20:12] bengerman13 commented on #49794
Thank you, @DBendit

[2018-12-12 20:31] jhawkesworth commented on #49805
Hmm, lots of possibilities with this.
A couple of ideas come to mind.
One is to check if you already have computer accounts in your domain for those machine names.
The other is to have a read of this and see if any of it is relevant.
https://serverfault.com/questions/642587/unable-to-perform-an-unattended-domain-join-using-wds-and-an-answer-file-on-wind

Hope this helps,
Jon

[2018-12-12 20:36] acozine commented on #26034
@dradetsky we've added documentation on how to contribute to the Ansible docs:
https://docs.ansible.com/ansible/latest/community/documentation_contributions.html
prerequisites are noted here:
https://docs.ansible.com/ansible/latest/community/documentation_contributions.html#before-you-open-a-complex-documentation-pr
and how to build the docs locally here:
https://docs.ansible.com/ansible/latest/co

[2018-12-12 20:42] jpmens commented on #37355
Yes, and I will gladly repeat myself: the `cron` module's `name` attribute ought to be mandatory.

[2018-12-12 20:46] gopurx opened #49837 "Ansible fetch sticky bit"
##### SUMMARY

Using Fetch module trying to move files from windows host to unix, sticky bit on directory is not inherited to files moved under unix directory

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Fetch module ansible

##### ANSIBLE VERSION

Ansible 2.6.2

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

files to be

[2018-12-12 20:57] DBendit commented on #49564
resolved_by_pr 49707

[2018-12-12 20:58] acozine commented on #37209
@lpkirby ah, I see - this is a `complex` return value, where the main key is an instance or list of instances. This is true for a lot of cloud modules.

Here's an example of documenting `complex` return values:
https://docs.ansible.com/ansible/devel/modules/ec2_ami_facts_module.html#return-values
Source for that example:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazo

[2018-12-12 21:16] sakhamuri4545 commented on #10294
Hi,

I am getting following error when i am trying to run a playbook in ansible,

Fatal: [server] :  UNREACHABLE! =>
{
 "Changed" : false, "msg": "Basic: Bad HTTP Response FRom Server.  code 404",
"Unreachable": True
}

And this is my host file
[webserver]
sskwin.eastus.cloudapp.azure.com

[webserver:vars]
ansible_user=windows
ansible_password=Sakhamur@
ansible_connection=winrm
ansible_winrm_trans

[2018-12-12 21:56] DBendit commented on #38833
As I mention in https://github.com/ansible/ansible/pull/49839, the `force` option doesn't get passed along to Docker, and is only used internally by the modules.

[2018-12-12 22:05] #49564 closed, assigned to nobody

[2018-12-12 22:07] saharansible opened #49840 "When condition is not working properly with include"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

entOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The playbook is running for 2 different hosts:

For the first one: the output of the "show running-config | i unit primary" is "failover lan unit primary

[2018-12-12 22:21] kartikaydw commented on #38398
still getting same error of VLAN/Network does not exist , updated to ansible 2.7 after NIC was not getting connected automatically to to distributed portgroup

ansible 2.7.4
  config file = /opt/ansible/VC/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansib

[2018-12-12 22:24] #49840 closed, assigned to nobody

[2018-12-12 22:28] kartikaydw opened #49841 "still getting same error of VLAN/Network does not exist , updated to ansible 2.7 after NIC was not getting connected automatically to to distributed portgroup"
ansible 2.7.4
  config file = /opt/ansible/VC/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Oct 30 2018, 23:45:53) [GCC 4.8.5 20150623 (Red Hat 4.8.5-36)]

"msg": "VLAN '111

[2018-12-12 22:28] #49802 closed, assigned to nobody

[2018-12-12 22:29] kartikaydw opened #49842 "vmware_guest VLAN/Network does not exist"
error of VLAN/Network does not exist , updated to ansible 2.7 after NIC was not getting connected automatically to to distributed portgroup
[code]
================================================

##### SUMMARY
vmware_guest VLAN/Network does not exist  while reconfiguring VM using vmware_guest module

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

[2018-12-12 22:30] DBendit commented on #49802
@MacDhughaill Nope, this is a failing on our end. We should handle this input properly.

[2018-12-12 23:16] MacDhughaill commented on #49802
Hey! I contributed by finding an actual bug! Will this fix show up in 2.7 at all, or will it have to wait for 2.8? I just want to know so I can put a reminder comment in my playbook.

[2018-12-12 23:21] maxamillion commented on #49276
This error is caused by an exception from yum itself, which comes from Ansible calling the yum python API -> `fatal: [192.168.56.12]: FAILED! => {"changed": false, "msg": "Failure talking to yum: Error getting repository data for base, repository not found"}`. Is there any chance you can share the contents of the repo file (sanitizing whatever data points necessary)? I'm curious about the format.

[2018-12-12 23:44] #49608 closed, assigned to jborean93

[2018-12-12 23:45] IPvSean commented on #40239
hitting this issue as welll

this works fine
[code]

but trying to set_fact fails :(

[2018-12-13 00:06] IPvSean commented on #40267
I think part of the problem is I have ephemeral instances I am always bringing up and I am hitting this issue->

[code]

so the netconf is never getting confirmed... and I only noticed this b/c I pushed config later with junos_config command... we need to figure something out here... to make this easier

[2018-12-13 00:19] kdimiche commented on #21439
Is there an update to enabling direct rules? Last status was 8/23.

[2018-12-13 01:02] nakulpathak3 commented on #45858
Hi, has anyone still been seeing the 403 forbidden requests? I'm on 8.0.0 k8s python client which should have fixed it. https://github.com/kubernetes-client/python/issues/678

[2018-12-13 01:05] isorn44x commented on #49805
The computer account already added on the domain, it works when we manually add the VM into AD..

[2018-12-13 01:10] jctanner commented on #49830
!component =contrib/inventory/foreman.py

[2018-12-13 01:15] #34343 closed, assigned to nobody

[2018-12-13 01:58] rocklob opened #49846 "Playbook play 'order' keyword has no effect"
##### SUMMARY
The `order` keyword for plays has no apparent effect. Plays always execute against hosts in the order they are listed in the inventory file regardless of the `order` option provided (`reverse_inventory`, `sorted`, `reverse_sorted`, `shuffle`).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Play

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2018-12-13 02:21] Fred-sun commented on #28392
@zikalino

[2018-12-13 02:30] Fred-sun commented on #39977
@yungezz

[2018-12-13 02:42] Fred-sun commented on #40596
@apendragon Thanks for your contribution, The fixed PR has been send, I will push for reviewed and merged as soon. Thanks!

[2018-12-13 02:57] Fred-sun commented on #42407
@zikalino

[2018-12-13 04:34] artjomaverin commented on #26797
Why not copy it to the tmp on ansible server in case of remote_src - as part of the task?
Currently we have to do it manually by first fetching the template to ansible server, then provisioning it to the server.

[2018-12-13 04:38] abadger commented on #48602
@webknjaz, nope.  It's a bug in the uri module.  Some code path is making its way out of the main function without calling exit_json() or fail_json()

@dgulinobw your error is different.  It seems like (1) a problem with the credstash lookup plugin and (2) a problem with whatever module you are sending the credstash information to.  Please open a new bug with how to reproduce your car so that thos

[2018-12-13 04:45] felixfontein commented on #49802
@DBendit it isn't, it's a failing on YAML's end. It is *impossible* to handle this correctly with YAML.

[2018-12-13 04:53] felixfontein commented on #49802
(Except by failing and telling the user to quote ambiguous values.)

[2018-12-13 05:00] felixfontein commented on #49802
@MacDhughaill when backported, it should appear in the next 2.7.x version released after the backport was merged. There will be a 2.7.x release this week (which definitely won't contain any change related to this, since the merge window for that one closed this monday).

It's definitely something you have to fix in your playbook, though, since it is impossible to know what you wrote in your playbo

[2018-12-13 05:38] ikr0m commented on #43197
Why this issue is closed? I can't delete user because of the same error text:
[code]
This user doesn't have login permissions (no login password). It has access keys. I want to delete this user  with all access keys.

[2018-12-13 05:50] Fred-sun commented on #45335
@zikalino How about the issue going ahead? Could you help give a fix? Thanks!

[2018-12-13 07:15] Fred-sun commented on #43416
@nicolaibaralmueller Thanks for your contribution. When created VM specify  managed_disk_type, it will not auto create storageaccount. But if no specify managed_disk_type( Create VM) it will auto create storageaccount. Could you can try as this? in addition, could you can give your test YML let me try? Thanks!

[2018-12-13 07:17] Fred-sun commented on #43416
@yuwzho Can you help check whether this kind of behavior conforms to the ansible design requirements? Thanks!

[2018-12-13 07:36] lizhi1989 commented on #19586
yes this still happens for ansible 2.7.2
module: eos_interface
arista version: 4.14.9.1M

[2018-12-13 07:48] Uwila commented on #43197
@ikr0m Are you using a version of Ansible which includes the commits in #43198 though?

[2018-12-13 08:20] ptux commented on #25792
Cloud you make your descriptions simple?

[2018-12-13 08:21] ptux commented on #25792
needs_info

[2018-12-13 08:33] isorn44x commented on #49805
- name: Add VM into AD
  win_domain_membership:
    dns_domain_name: QAS.LOCAL
    hostname: "{{ inventory_hostname }}"
    domain_admin_user: "{{ domain_admin_user }}"
    domain_admin_password: "{{ domain_admin_password }}"
    domain_ou_path: "OU=Host,DC=QAS,DC=LOCAL"
	log_path: C:\Windows\Temp\ad_join_log.txt
    state: domain
  register: AD_result

- win_reboot:
  when: domain_state.reboot_re

[2018-12-13 09:01] ikr0m commented on #43197
@Uwila I was using v2.6.2 and it didn't have that commit. When I checked that commit file changes, there were only text changes and I thought it might not fix the issue. Now I've updated to latest version (2.7.4).
Checked with new version and now it is working.
Thank you @Uwila

[2018-12-13 09:05] ctrlaltdel opened #49859 "os_user_role: add support for named domain"
##### SUMMARY
It would be useful for the `os_user_role` module to support a name in addition to an UUID in the `domain` option.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
os_user_role

##### ADDITIONAL INFORMATION
Here's an example playbook using this feature:

[code]

It currently fails with the following error:

[code]

[2018-12-13 09:38] kartikaydw commented on #49842
@Akasurde this issue is somewhat similar to 38398

To be more specific when I use ansible-2.6.9-1 , the playbook runs succesfully but portgroup does not gets connected (Its a distributed portgroup)

When I use ansible-2.7.4-1, the playbook fails with below errors:
   "msg": "Network 'network-name' does not exist."

[2018-12-13 09:44] szajac01 opened #49871 "win_chocolatey_module source parameter support"
##### SUMMARY

source parameter from module is it supporting unc path ? example \\server\share
we did test, and we have an error whatever the syntax used :
\\server\d$\directory
\\server_fqdn\d$\directory
\\server\share
\\server_fqdn\share
server\share
\\\\server\\share ...
etc

the error is The package was not found with the source(s) listed

using choco.exe directly in powershell command mode do

[2018-12-13 09:59] jborean93 commented on #49871
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-13 09:59] #49871 closed, assigned to nobody

[2018-12-13 10:01] gundalow commented on #49030
@kbreit https://github.com/ansible/ansible/issues/49030#issuecomment-441084838 pinged the maintainer which is @BondAnthony.

We don't Assign issues, only `@mention` people

[2018-12-13 10:22] #49759 closed, assigned to maxamillion

[2018-12-13 10:34] ramon-garcia opened #49874 "Windows updates processing is stopped if any update fails"
##### SUMMARY
When updating windows with win_updates, with the reboot option, the intention is that the system is updated and rebooted as many times as necessary.

But, if after some update, any of them fails,the processing is stopped.

After reading the source, this looks like a simple bug.  In the source file lib/ansible/plugins/action/win_updates.py

        # if the module failed to run at all

[2018-12-13 11:07] tinproject opened #49878 "postgresql_user can't detect password changes for scram-sha-256 PostgreSQL password encryption."
##### SUMMARY
The postgresql_user module can't detect password changes for scram-sha-256 encrypted passwords, so always mark the state as changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

All, checked with code from _devel_ branch.

##### STEPS TO REPRODUCE

Use a PostgreSQL server with

[2018-12-13 12:01] jzielke84 commented on #47844
@acozine What's the bot up to?

[2018-12-13 12:41] #49026 closed, assigned to trishnaguha

[2018-12-13 12:51] pmakowski commented on #47154
hi @bcornec ,
as quick fix for Mageia package, you can apply this patch
[urpmi.txt](https://github.com/ansible/ansible/files/2676003/urpmi.txt)

[2018-12-13 13:18] Shaps opened #49883 "tower_project: traceback when scm_credential defined with same name in different orgs"
##### SUMMARY
tower_project prints a traceback when looking for a scm credential that is defined with the same name more than one tower organization

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_project

##### ANSIBLE VERSION
[code]
( Also tested in 2.7.4 )

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
**Control:** Fedora release 29 (Twenty Nine)
**Target:** Ansible Tower runni

[2018-12-13 13:26] michalgolab opened #49885 "azure_rm_virtualnetwork deletes subnets when updating custom DNS list"
##### SUMMARY
Updating DNS servers list causes removal of Subnets from Virtual Network.
Similar to [39648](https://github.com/ansible/ansible/issues/39648).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- azure_rm_virtualnetwork

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS Mojave
Version: 10.14.2
[code]
##### STEPS TO REPRODUCE
1. Create Virtual Ne

[2018-12-13 13:34] sourcejedi commented on #25792
@ptux I provided a minimal reproducer.  The reproducer fails with the error "attempted to take checksum of directory: /tmp/dest/a/a".  This error message is a bug in ansible, because I did not ask ansible to take the checksum of a directory.

I did ask ansible to overwrite the directory /tmp/dest/ with a regular file.  I don't remember whether it is normally an error to ask for this, or not.  I *g

[2018-12-13 13:37] aknrdureegaesr commented on #47844
If you want to get rid of those ugly "needs_info" and "needs_template" labels on your issue, I'm afraid the bot only looks for that information in the initial description of the issue, not in a later comment. The [template](https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md) for that initial description has this:

    ##### ANSIBLE VERSION

[code]

So my recommendati

[2018-12-13 13:41] RushinthJohn opened #49888 "netscaler_servicegroup fails stating service group members differ"
##### SUMMARY
I created 2 server objects using **netscaler_server** module and after that, I tried to create a service group with those 2 servers I created using the **netscaler_servicegroup** module, but I am getting an error that stating that the server objects in Playbook differs from actual servers. When I manually checked the servers everything seems to be fine.

##### ISSUE TYPE
- Bug Report

[2018-12-13 13:46] RushinthJohn commented on #49888
### NetScaler Nitro Python SDK details:
**Release**: 11.0
**Release Date**: Oct 8, 2015
**Build**: 65.35
**Build Date**: Jun 8, 2016

[2018-12-13 14:07] basos9 commented on #49763
Thanks for replying,
I understand there are other complications to further extend this module. I will probably go with command module for now.
If I have time to create something I will follow up.

Regards

[2018-12-13 14:53] ChrysRowe commented on #49192
What is the serial # field supposed to return?  The docs say "The serial number of the remote device"   To me that always meant the chassis.  If its supposed to be the chassis serial # then a new field is not needed as the existing field is just returning the wrong value.   If it continues to return the serial # of the supervisor module then the docs need to be updated to say that this field retur

[2018-12-13 15:36] maxamillion commented on #47118
Awesome, thank you both for the feedback!

[2018-12-13 15:46] sivel commented on #49846
The issue is that we applying the `order` to each batch as dictated by `serial` right now.  So with `serial: 1` it is a noop.

We believe this is a bug, and that `order` should apply before creating batches.

[2018-12-13 15:57] maxamillion commented on #21439
@kdimiche ongoing PR https://github.com/ansible/ansible/pull/49514

[2018-12-13 15:58] maxamillion commented on #21439
resolved_by_pr https://github.com/ansible/ansible/pull/49514

[2018-12-13 16:19] gundalow commented on #47844
Thanks for raising this. Something I'd thought about, but not recorded in an issue. I wonder if we add a new `deprecated` option in the modules schema:

[code]

This is similar to when a whole module get's deprecated
[code]

If we want this it will require:
*  validate-module's schema.py`
* ensure matching argspec, ie `src': dict(type='path', removed_in_version=2.11),`
* document
* Update existing

[2018-12-13 16:33] sakhamuri4545 opened #49898 "Winrm connection error 404"
Hi,

I am getting following error when i am trying to run a playbook in ansible,

Fatal: [server] : UNREACHABLE! =>
{
"Changed" : false, "msg": "Basic: Bad HTTP Response FRom Server. code 404",
"Unreachable": True
}

And this is my host file
[webserver]
sskwin.eastus.cloudapp.azure.com

[webserver:vars]
ansible_user=windows
ansible_password=Sakhamur@
ansible_connection=winrm
ansible_winrm_transpor

[2018-12-13 17:46] nitzmahone opened #49900 "Provide deprecation warnings on return values/facts"
##### SUMMARY
Allow modules and actions to tag attributes of return values (including facts) as deprecated. Preserve the tagging within the controller and variable store, and only fire a deprecation warning when a tagged attribute is "touched" by a user-initiated event (usually templating).

This is prerequisite for the ultimate fix to #43798 (deprecating usage of all un-namespaced facts and event

[2018-12-13 19:06] silverwind commented on #36963
Also ran into this. The `git` binary accepts `git@example.com:user/repo` but the git module does not, I think this is a clear bug in the git module which should accept any URL that git itself accepts.

[2018-12-13 19:44] davidhollenberger opened #49904 "Missing variable type for rds_instance module"
##### SUMMARY

Getting an error when creating a MySQL RDS instance with Performance Insights enabled.  The corresponsing parameter option is missing the variable type.

I got it working by changing this line:
https://github.com/ansible/ansible/blob/9d62cbc2af25fc0c8570afa1aa95520b476fc0de/lib/ansible/modules/cloud/amazon/rds_instance.py#L1051

to this:
`performance_insights_retention_period=dict(t

[2018-12-13 19:57] jxn commented on #45850
This is also true of Secure Note.  It'd be nice to have simpler support for that.

Currently, secure note lookup requires:
[code]

[2018-12-13 20:02] jborean93 commented on #49898
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-13 20:02] #49898 closed, assigned to nobody

[2018-12-13 20:54] geerlingguy commented on #44077
I've also run into this when pushing images to AWS ECR.

[2018-12-13 21:11] geerlingguy opened #49909 "'pull: false' required when building image with docker_image using 'COPY --from'"
##### SUMMARY

When I am building a series of Docker images which depend on each other, Ansible's `docker_image` module fails when building subsequent dependent images which use `COPY --from` (for multi-stage builds).

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

`docker_image` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS, with Docker f

[2018-12-13 21:14] geerlingguy commented on #49909
Note that if I _explicitly_ add a `pull: false` to the 2nd task, then the build succeeds:

[code]

I found an older related issue (https://github.com/ansible/ansible-modules-core/issues/3760), but in that issue, it seems that the limitation of requiring an explicit `pull: false` is _only_ supposed to apply when pulling images with a `/` in them (e.g. `my/image`). In this case, I have tried both wa

[2018-12-13 21:19] UnitedMarsupials-zz opened #49910 "user-module is not using --ask-pass"
##### SUMMARY
Usually, a user is allowed to change his own login shell. On some systems -- such as on RedHat -- this operation requires entering the user's password. Unfortunately, the `user`-module ignores the password given to Ansible via `--ask-pass` -- and there is no need for such a limitation.

In this organizations, new accounts are created with `/bin/ksh` as the shell and we want to make i

[2018-12-13 22:12] davydotcom commented on #32492
Still trying to get this to work. I have noted the customer does not have a Domain\SCVMM-Admins group but just a Domain\Operations group. is this why this doesnt work. ?

[2018-12-13 22:32] sosheskaz opened #49911 "iam_managed_policy has obscure failure when existing resource and specified resource have different capitalization"
##### SUMMARY
When trying to use the iam_managed_policy module to modify to modify a managed policy with different capitalization (ex: `myPolicy` vs `MyPolicy`), a Boto error (which is not indicative of the underlying problem) is propagated back up, rather than having a clear "capitalization of specified myPolicy differs from actual MyPolicy" error.

`Couldn't create policy myPolicy: An error occu

[2018-12-13 22:44] sosheskaz commented on #49911
I updated the configuration info to macOS because the original error was found with 2.5.x on alpine linux, but my simplified replication was done with 2.7.4 on macOS.

[2018-12-13 22:55] maxamillion commented on #49727
@owenlynch thank you for the information, I was able to reproduce and resolve the issue. Pull Request filed and awaiting review.

[2018-12-13 22:56] maxamillion commented on #49727
@abadger just a heads up, this will need a 2.7 backport when it's merged

[2018-12-13 23:09] mimacisa opened #49913 "lookup vars plugin not able to access ansible facts in v2.7.4"
##### SUMMARY
After upgrading from ansible v2.5.1 to v2.7.4, functionality that was previously working with lookup vars is no longer working properly.  In this instance, lookup is being used to access facts about hosts that are outside of the current play by leveraging the groups magic variable.  Specifically, when looping through a group of hosts outside of the current play and then attempting to

[2018-12-14 00:45] abadger commented on #43884
Reading up on how python interacts with signals, I think the only way to address this is to change the timeout decorator to use threads instead of signals.  signals will cause this sort of problem for any code at all so trying to change run_command() to deal with the timeout won't help because the timeout exception can be raised in code that is not run_command().

[2018-12-14 00:46] jborean93 commented on #48759
When we have moved to 10.14, we need to investigate whether https://github.com/ansible/ansible/pull/49914 is needed anymore.

[2018-12-14 01:04] magick93 opened #49918 "k8s inventory plugin not working as expected"
##### SUMMARY

Im trying to create a dynamic inventory from a kubernetes cluster, using the k8s plugin, however I'm unable to get it to work. I've tried various plugin configuration options but _almost_ always get the same result.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

k8s plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

[code]
##### STEPS

[2018-12-14 01:55] aaronk1 commented on #45834
@arno1704 I've had similar/same issue for a while now.  Only workaround I've found is below (these are the manual steps, which of course I automated):

- Import my OVA to vCenter
- Power on the VM imported
- Wait for the machine to reinstall the NIC and boot into Windows fully.
- Wait for VMware Tools to get an IP (169.x).
- Shut down the VM cleanly
- Convert to template
- Clone away using any met

[2018-12-14 01:55] Fred-sun commented on #49659
@BradFelmey Are you still here? Does this meet your minds?

[2018-12-14 02:10] aaronk1 commented on #47646
So can this be closed @skarapanahalli ?

[2018-12-14 02:15] aaronk1 commented on #47646
@Akasurde notabug?

[2018-12-14 02:30] Fred-sun commented on #49281
@ingokofler Are you still here? could you help give your YML file? Thanks!

[2018-12-14 03:28] #19106 closed, assigned to nobody

[2018-12-14 04:07] Fred-sun commented on #49885
@michalgolab Thanks for your contribution,  I can reproduced as your describe. if the subnet not include in other resource, we can changed DNS setting but the subnet will remove. if the subnet include in other resource, it can't changed DNS setting and will meet error same with your.
@yuwzho It seem azure_rm_virtualnetwork module can't update but it can re-create the Vnet. I'm not sure this is a p

[2018-12-14 04:15] abadger commented on #43884
Initial work seems to show that multiprocessing.Process has issues with AnsiballZ which prevent functions from being pickled there but multiprocessing.ThreadPool seems to work.  I'll open a PR with that.

[2018-12-14 04:47] k3it commented on #17349
setting MaxStartups in sshd_config on the bastion host to the same value as the number of forks (100 in my case) seems to have cured the problem w an AIX environment

[2018-12-14 04:59] Akasurde commented on #49811
resolved_by_pr https://github.com/ansible/ansible/pull/49824

[2018-12-14 05:43] mindrb opened #49924 "yum module fails on CentOS 6 when used with enablerepo list"
##### SUMMARY

yum module fails on CentOS6 when trying to install package with a list of at least of 2 repositories specified in enablerepo: variable.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 6
##### STEPS TO REPRODUCE

Such task fails on CentOS6. It runs successfully on CentOS7. Also

[2018-12-14 05:52] #47985 closed, assigned to gdpak

[2018-12-14 05:53] gdpak commented on #47985
@benjdudas I have committed the fix in devel. Please let me know if customer finds any more issue with the fix

[2018-12-14 07:36] mindrb commented on #10829
+1

I am looking for such "notify_now" functionality for backup handler. That is to run handler after some file is changed. Traditional handler does not work since handler may be called from several tasks.

[2018-12-14 07:37] Akasurde commented on #49859
!component =lib/ansible/modules/cloud/openstack/os_user_role.py

[2018-12-14 07:39] Akasurde commented on #49841
Tracking using https://github.com/ansible/ansible/issues/49842

[2018-12-14 07:39] #49841 closed, assigned to nobody

[2018-12-14 07:40] Akasurde commented on #49814
!component =lib/ansible/modules/cloud/softlayer/sl_vm.py

[2018-12-14 07:44] michalgolab commented on #49885
I've done one more test.
Purging custom DNS servers also triggers the same behaviour.
That is, removal of Subnet or error if the Subnet is used.

I've used this snippet:
[code]

[2018-12-14 08:10] ingokofler commented on #49281
@Fred-sun as said, we cannot reproduce it either. It's hard to pin down but what we sometimes encounter is that the Ansible modules cannot cope with certain VM states that are returned by the REST API of Azure. I was just wondering if you can use the stack trace to infer what the actual problem might be. Otherwise feel free to close this issue as not reproducible. Unfortunately, I don't have the e

[2018-12-14 08:12] ephracis commented on #42162
I know this issue is closed but I am getting it on RHEL Atomic Host. Does this mean that it does not support Ansible 2.6 or later?

(There is no pip on Atomic.)

[2018-12-14 08:14] Akasurde commented on #49813
@kcapecchi Thanks for reporting this issue. `fmgr_provisioning` module is merged in 2.7 release. But module documentation stated examples as `fmgr_provision` which is not true. I have created #49925 for fixing the documentation, could you please verify and let me know ? Thanks.

needs_info

[2018-12-14 08:14] Akasurde commented on #49813
resolved_by_pr #49925

[2018-12-14 08:15] Akasurde commented on #49813
!component =lib/ansible/modules/network/fortimanager/fmgr_provisioning.py

[2018-12-14 08:16] Fred-sun commented on #49281
@ingokofler Thanks for your update, if you have new find. please share to us. Thanks!

[2018-12-14 08:16] Fred-sun commented on #49281
@yuwzho @zikalino  could you help take a look this issue?

[2018-12-14 08:18] cavamagie commented on #27677
same for me

- src: git+https://gitlab.anacard.com/Ansible-Galaxy/Common.git

not work if private repository

[2018-12-14 08:38] RushinthJohn commented on #49888
Hello,
  While debugging the code I found out there is a function that compares the attributes of the server objects defined in the Ansible config vs what exists in the server. So I printed out the difference and got this:
[code]
As you can see case sensitivity is what's causing the module to mismatch the arguments and fail thinking it's not the same.

[2018-12-14 08:44] tplive opened #49926 "ec2_vpc_subnet_facts not returning the expected result"
##### SUMMARY

When parsing output from `ec2_vpc_subnet_facts`, Ansible complains that the `combine()` filter expects a dict, the output isn't a dict and on inspecting the output, I find that one of the subnets is listed as "Undefined". They are all clearly available in AWS console.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_vpc_subnet_facts
##### ANSIBLE VERSION

[code]

##### CONF

[2018-12-14 09:07] mkrizek commented on #49924
Can you paste `/etc/yum.repos.d/$zabbix_repo_file_name.repo` here from both CentoOS 6 and 7? Do they differ?

[2018-12-14 09:08] mkrizek commented on #49924
needs_info

[2018-12-14 10:56] ssbarnea commented on #25681
Adding --quiet option does not work because it makes rsync toally silent, so if we used `--stats --dry-mode` to see how much we have to copy, adding --quiet will render the command useles.

This means that there is no way to use the module to get stats without getting the whole list of files (which can be huge).

[2018-12-14 11:35] anirbee opened #49938 "VMware: Issues with vmware vcenter_folder(s) with ESXi"
##### SUMMARY

While creating a folder in standalone ESXI server ansible gives the following exception

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vcenter_folder.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

targetOS
ESXi-6.0.0-20160302001-standard

target Host - It is a standalone Esxi server with no vSphere server in the environment

####

[2018-12-14 11:38] tplive commented on #49926
@Akasurde thanks for getting back to me. I was about to post an update. It's totally a syntax error on my part, if you examine the filter closely, you will see that I have mistakenly typed `item_it` instead of `item.id`... :-1:

[2018-12-14 11:38] #49926 closed, assigned to nobody

[2018-12-14 11:57] suslikas commented on #48890
Problem with rabbitmq. **Ansible 2.7.0** work with **rabbitmq-server 3.7.5-1** and not work with **3.7.9-1**

[2018-12-14 11:59] SimonHeimberg commented on #29319
is this the same as #29363 ? If it is, the message looks more complete there.

[2018-12-14 12:00] mindrb commented on #49924
Zabbix repos pasted below. But if I specify just "enablerepo: [ zabbix ]" - playbook runs without problems.

CentOS 7
[code]
CentOS 6
[code]

[2018-12-14 12:19] Akasurde commented on #49926
@tplive Cool. Thanks for reporting back.

[2018-12-14 12:45] dmytro-malovany opened #49941 "while updating an existing ASG its termination_policies is changed to "Default""
##### SUMMARY

When I scale up ASG:
[code]
Its `termination_policies` is changed to "Default". But in according to documentation it should remain the same in was. In my case: "OldestInstance"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module: ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Scale up existing ASG with

[2018-12-14 13:11] barlik opened #49942 "Ansible_failed_task is referencing (out of scope) default variables from included role"
##### SUMMARY

When including a role within a block, "ansible_failed_task" used inside a "rescue"
block is referencing default variables from the included role.

The role's default variables might reference other default variables. Those are, however,
undefined outside the scope of the role.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

block

##### ANSIBLE VERSION

[code]

##### CONFIGU

[2018-12-14 13:12] barlik commented on #49942
Related to #37929

[2018-12-14 13:19] Clement-TS commented on #22946
@drzraf I reproduce the same thing with your test.

But I don't think this is an issue : unless you don't explicitly define which env var you need in your docker-compose, you won't get it in your container env.

It's the same behavior when you run `docker-compose` on your host, you don't want your build envs (`$HOME`, `$PATH`...) to be communicated to the run envs of your container.

A working exa

[2018-12-14 13:35] heathdbrown commented on #46705
The fix in #47655 made the problem worse.

I have a PR I think would help in the broader use case.

https://github.com/ansible/ansible/pull/49943

The issue was with how urljoin() removes paths from the configuration.

[code]
[code]
[code]

The way the netbox.py is written the api urls are joined but they all have /api and when merged with /netbox overwrites to /api only which is a missing URL and

[2018-12-14 13:52] mindrb commented on #49924
Further debugging revealed that actually failure occurs on Oracle Linux 6. CentOS 6 is fine. Oracle Linux 7 also works.
How could I debug and help with what is happening?

[2018-12-14 14:19] SlayterDev opened #49944 "How to use `count_tag` and `exact_count` with ec2_instance"
##### SUMMARY

Currently our team uses the `ec2` module to provision a set of instances when running a playbook. However we'd like to begin deploying some tc2.unlimited instances. The `ec2_instance` module provides the `cpu_credit_specification` key which is what we need. However when migrating to this module it currently provides no support for `count_tag` and `exact_count` used by `ec2`. Is ther

[2018-12-14 14:40] JMack89427 opened #49946 "Allow vaulted configuration for plugins that only support ansible.cfg configs"
##### SUMMARY

The ability to use either vaulted credentials or encrypted password in mongodb database connection string for Ansible fact caching

Currently, the only way to use authentication in combination with the mongodb fact caching plugin is to include plain-text username and password in the ansible.cfg.  I would like to see the ability to either leverage an encrypted password string in ansi

[2018-12-14 14:44] ironfroggy opened #49947 "ansible-galaxy delete mishandles response data from the API and fails to display information about the result"
##### SUMMARY
Response from the Galaxy API when deleting a repository via `ansible-galaxy` is incorrectly handled, causing an error even though the actual delete proceeds correctly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`ansible-galaxy delete`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(no output)
[code]

##### OS / ENVIRONMENT
No hosts used in this example. Running ansible

[2018-12-14 15:02] mmolinac opened #49949 "Module apt_repository fails with current version of GPG"
##### SUMMARY

With the current version of Ansible and the current version of Debian and GPG tools on the configured hosts, I got this error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Debian 9.6.0

##### STEPS TO REPRODUCE

Try to add a repository to a Debian repo list

[2018-12-14 15:07] ganeshrn commented on #48171
@benjdudas Thanks for pointing to that change, that part of code is refactored now. However, I figured `force_host` can be passed as part of kwargs.

[2018-12-14 15:15] abadger commented on #49811
resolved_by_pr #49921

[2018-12-14 15:54] ericdost opened #49951 "Allow millisecond support for pause and loop_control"
##### SUMMARY

Allow milliseconds in pause options

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

pause
loop_control

##### ADDITIONAL INFORMATION

I have a few playbooks where I have needed to implement pause due to API rate limiting.  I currently have to pause for 1 second, although if I could do sub-second pausing I would be able to do 5 requests a second.

[code]

[2018-12-14 16:10] davojan commented on #22946
@drzraf this issue is about passing env inside docker-compose definition, NOT inside the running containers. If you want them inside the containers you should explicitly pass them in ``docker-compose.yml``.

This issue shouldn't be reopened, everything works as expected in the current version.

[2018-12-14 16:27] jeanlouisferey opened #49954 "os_server is not idempotent"
##### SUMMARY
os_server permits to create an instance on an Openstack Cloud. It works well, the first time, but the second time it crash.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04
openstacksdk version 0.20.0

##### STEPS TO REPRODUCE

1. Create a server
2. Restart the playbook

[c

[2018-12-14 16:53] sivel commented on #38415
The source of this problem is invalid documentation that was added in https://github.com/ansible/ansible/pull/31433 indicating that YAML syntax on the CLI was acceptable.

We have decided against accepting multiline (non-JSONified YAML) on the command line.

As such, the solution to this issue is to pass JSON or JSONified YAML, or pass a file to extra vars.

I will work to remove invalid examples

[2018-12-14 17:11] sakhamuri4545 opened #49956 "WinRM"
##### SUMMARY

I am trying to setup communication between ansible and windows server, when i try to run the playbook i am getting below error, I have enable port 5985 in windows server and enable liseners on HTTP port, and Authentication i am using is BASIC.

##### ISSUE TYPE
- Bug Report
WinRM connection Error

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

####

[2018-12-14 17:12] abadger commented on #34569
Fix for this bug should be stating both files and If they are different number of bytes, treating them as different. if they are both zero bytes, treating them as the same.  else run filecmp on them to see if they are the same or different.  It's a reasonably easy fix but this module is in need of a maintainer to work on it.

[2018-12-14 17:55] rambleraptor commented on #46050
Hello! We're recommending users move over to the new `gcp_dns_managed_zone` module. It has more features and is being updated more frequently.

[2018-12-14 18:05] felixfontein commented on #42162
@ephracis Which version of Ansible are you using? This bug has been introduced in Ansible 2.6.0, and was fixed in 2.6.2, so all 2.7.x versions, 2.6.x for x >= 2, and all 2.5.x versions and earlier should be fine. (Except if there's a different bug.)

[2018-12-14 18:17] felixfontein commented on #47844
During a discussion in IRC (#ansible-devel) some time ago, some people (I think @bcoca was among them) were convinced that the module deprecation form would also work for options. I think it is a good idea to support it, because it is more flexible than a single `deprecated: <string>`. In particular, the version when this option will be removed has to be provided.

Also, it's not used that often,

[2018-12-14 18:36] agowa338 commented on #49956
Have you enabled unencrypted basic auth over http on the windows server?

[2018-12-14 18:43] walterdolce commented on #49245
The three dashes mark the start of a document as per yaml specification. I have always written my yaml file like this (i.e. in k8s you have to if you want to quickly have more than one resource defined into a single yaml file. Not recommended, yet possible).

It looks like somewhere something is not parsing the yaml file correctly.

[2018-12-14 19:14] sakhamuri4545 commented on #49956
I have set allowunencrypted= true on client and services in listeners
Auth basic=true
Trustedhosts=*
Allow remote access = true
Open port 5985 in windows server

[2018-12-14 19:19] #21704 closed, assigned to nobody

[2018-12-14 19:20] #38833 closed, assigned to nobody

[2018-12-14 19:44] #49727 closed, assigned to maxamillion

[2018-12-14 20:11] ephracis commented on #42162
I was using 2.6.0. Upgraded to 2.7.5 and it works now. 👍

On Fri, 14 Dec 2018 at 19:06, Felix Fontein <notifications@github.com>
wrote:

[2018-12-14 20:46] mindrb commented on #49924
Since I had this snippet failing on the 3 servers I did a bit of experimenting. And upgrading just yum (+python-urlgrabber) did the trick. So now the working server (which was failing) has yum-3.2.29-81.0.1.el6.noarch and not working - yum-3.2.29-43.0.1.el6_5.noarch.

[2018-12-14 20:48] felixfontein commented on #42162
@ephracis great to hear that it now works for you! :)

[2018-12-14 21:04] mindrb commented on #49924
Failing traceback
[code]

[2018-12-14 21:10] mikewiebe commented on #49192
@ChrysRowe I did not write this module so unsure of the original intent but looking at the code I see that the serial number captures the `Processor Board ID` using the `show version` command.

See:
1. Structured output uses the `proc_board_id` key.
    * https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_facts.py#L240
2. Non-structured or screen scraping method lo

[2018-12-14 21:49] hryamzik opened #49965 "mail module is failing in ansible 2.7.4"
##### SUMMARY

mail module is failing in ansible 2.7.4

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mail

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Not sure if this helps as soon as behaviour may be related to SMTP server settings

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

Works fine on ansible 2.7.1

[2018-12-14 21:53] jborean93 commented on #49956
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-14 21:53] #49956 closed, assigned to nobody

[2018-12-14 21:57] AndrewCooper commented on #48055
I've been looking at this module to see if I could add some idempotency to it so my network isn't disrupted when changes aren't needed.

I'm not seeing why this module requires NetworkManager-glib at all. It checks for PyGObject and NetworkManager python modules, but they are never used. There's a bit of D-Bus interaction in list_connection_info() and everything after that is done with the nmcli t

[2018-12-14 22:00] sivel commented on #49965
This issue was recently fixed in https://github.com/ansible/ansible/pull/49222 and subsequently included in the 2.7.4 release of Ansible.

[2018-12-14 22:00] #49965 closed, assigned to nobody

[2018-12-14 22:10] mikewiebe commented on #49667
@tdaigle-orcl I am attempting to recreate this in my lab on version `2.6.2` but have been unable to.  Is the config quite large?

[2018-12-14 22:41] tdaigle-orcl commented on #49667
@mikewiebe, Extra info in case is helps... it takes roughly 30 seconds from the `copy r s` to return when run manually.

`mynetworkdevice# show running-config | count`
**818**

`mynetworkdevice# show version`

[code]

[2018-12-14 22:51] djasa opened #49967 "Yum module: support state=distro-sync"
##### SUMMARY

When dealing with development versions, distro-sync is useful yum command that brings the whole system or packages specified to versions that are currently available in the repo.

The same bug could be filed for `dnf` module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO RE

[2018-12-14 23:09] #38415 closed, assigned to nobody

[2018-12-14 23:22] tomernation opened #49968 "ansible_user does not support space"
##### SUMMARY
ansible_user does not support a space in its value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
inventory file/ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.14
##### STEPS TO REPRODUCE

add a host to the inventory file called test.yml as follows:
[code]
Try with different variation of the ansible_user value such as `"first

[2018-12-14 23:36] cboylan opened #49969 "Sequenced include_tasks can silently crash the current play without error"
##### SUMMARY

Certain sequences of include_tasks can crash the current play. This crashing comes without error and ansible happily stops running the current play then starts the next play.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_tasks

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

This was first observed on host running Ubuntu Bionic but

[2018-12-14 23:45] #49111 closed, assigned to nobody

[2018-12-14 23:46] sebastien-rosset commented on #42532
AWS does not always return the policy attributes in the same order. For example, when I send a request once, the response may be {Action, Principal, Resource, Effect, Sid} in that order, and if I send the same request later, the response may come in a different order.

[2018-12-14 23:49] dagwieers opened #49970 "Docs: Don't bother with version information for older versions"
##### SUMMARY
There is little value to have the module docs state that a specific parameter was added in Ansible v1.2 or Ansible v1.6. At a certain point in time this information has become irrelevant to expose to the user, and it only distracts from what is really important.

I would proposed that we go back to version X.Y and drop everything older than that from the module parameter docs.

For t

[2018-12-14 23:55] dagwieers commented on #49938
@anirbee Did you try specifying a `parent_folder` ? I think the problem is related to that.

[2018-12-15 00:52] anirbee commented on #49938
@dagwieers No because I intend to create right under <datacenter>

---
- hosts: ESXI
  connection: local
  gather_facts: false

  vars_files:
    - createVmVars.yaml

  tasks:
    - name: Create a VM folder on given datacenter
      vcenter_folder:
        hostname: '{{ esxi_server_hostname }}'
        username: '{{ esxi_server_username }}'
        password: '{{ esxi_server_password }}'
        va

[2018-12-15 01:10] dagwieers commented on #49938
So I think you might need a parent though, reading this from the VMware documentation:

This problem was fixed in a newer Ansible release, but in the release you are using you need to provide a very specific path, see: https://docs.ansible.com/ansible/2.5/modules/vcenter_folder_module.html

[2018-12-15 02:04] dagwieers commented on #49951
IMO rate limiting should be part of the modules if this is specific to the API.

It is on the roadmap, but would probably require a connection plugin to ensure this is working correctly. Also, if you'd be running multiple playbooks in parallel (or other means) it may be problematic still, so probably configurable to avoid this from happening.

See: https://github.com/ansible/community/wiki/Network

[2018-12-15 02:32] kbreit commented on #49951
A connection plugin for Meraki is something I am hoping to do but is probably a post-2.9 feature. Although, if someone implements this functionality in loop_control I wouldn't object.

[2018-12-15 06:22] mcandre opened #49972 "Dub packaging module"
##### SUMMARY

Packaging module available for Dub, the D language package manager.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

dub

##### ADDITIONAL INFORMATION

Automates the process of installing dub packages.

[code]

[2018-12-15 06:28] #43618 closed, assigned to Akasurde

[2018-12-15 06:40] #49813 closed, assigned to Akasurde

[2018-12-15 10:32] #38655 closed, assigned to nobody

[2018-12-15 10:42] mindrb commented on #49924
Nailed problematic version further. yum-3.2.29-69.0.1.el6.noarch does not work but yum-3.2.29-73.0.2.el6.noarch does. And changelog contains entry:
`- Fix Bug 22584422 yum --enablerepo problem (remove previous uln patch). (leon.w.wang@oracle.com)`
Sounds like Oracle broke something themselves.

[2018-12-15 12:16] Alexander198961 commented on #35595
It is working for me now just change check for none

[2018-12-15 12:17] #49676 closed, assigned to nobody

[2018-12-15 12:17] Alexander198961 commented on #49676
Pr is existing so close this

[2018-12-15 16:20] jdorel opened #49975 "Add ability to rename dependency roles in meta/main.yml"
##### SUMMARY

Add the ability to rename roles imported as dependency of other roles with the `name: ` tag.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

dependencies

##### ADDITIONAL INFORMATION

This could make the role independant of the developper, allowing us to change the creator of the role without modifying the name of the role in other files.

[code]

[2018-12-15 16:37] sebastien-rosset commented on #41079
The same intermittent error also occurs with Ansible 2.7.4

ansible 2.7.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-1

[2018-12-15 16:56] robertdebock opened #49976 "`zabbix_group` misses Missing required pip package zabbix-api, though installed."
##### SUMMARY
On hosts where the package available are [according to the documentation](https://docs.ansible.com/ansible/latest/modules/zabbix_host_module.html#requirements), an error is displayed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control node: Fedora 30
Managed node: both Ubuntu 18 a

[2018-12-15 20:30] cinpol opened #49978 "[rabbitmq_user] Creating user fails when already exists"
##### SUMMARY
When an user already exists, the rabbitmq_user module fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_user

##### ANSIBLE VERSION

[code]

but also with:
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7

##### STEPS TO REPRODUCE

Running first time succeeds:

[code]

Running second time it fails:
[code]

Removing the user from the target host

[2018-12-16 03:02] anirbee commented on #49938
Thank you for  your quick response. Unfortunately still no joy. I get the following error message

 "msg": "Failed to create folder due to generic exception : (vmodl.fault.NotSupported) {\n   dynamicType = <unset>,\n   dynamicProperty = (vmodl.DynamicProperty) [],\n   msg = 'The operation is not supported on the object.',\n   faultCause = <unset>,\n   faultMessage = (vmodl.LocalizableMessage) []\n

[2018-12-16 04:11] Akasurde commented on #15030
@holms Could you please check above comment ? Thanks.

needs_info

[2018-12-16 06:50] zimmertr commented on #43637
![screen shot 2018-12-15 at 10 49 44 pm](https://user-images.githubusercontent.com/4356289/50050867-cb3a7100-00bb-11e9-9aa7-ae64580e63a2.png)

Any suggestions?

[2018-12-16 07:00] #15030 closed, assigned to alikins, chouseknecht

[2018-12-16 07:11] willthames commented on #43637
Usually it's because `k8s` is run locally and `connection: local`can cause the system python, which doesn't have the modules installed, to be run, when you'd expect your brew installed python to be run.

Have you read http://willthames.github.io/2018/07/01/connection-local-vs-delegate_to-localhost.html ?

My first suggestion is to ensure that `ansible_python_interpreter` is set to something like `

[2018-12-16 07:13] zimmertr commented on #43637
A system update broke the dependencies again... Solved it by checking which version of python ansible was using:

[code]

Then installing the dependencies for that version:
[code]

[2018-12-16 07:18] willthames commented on #43637
@zimmertr I think that's a question for the brew packagers, not for us. I have never had this problem, but I use pip to install ansible rather than brew - your problems seem to be related to your python changing everytime you upgrade ansible - with brew python, but pip installed ansible, packages installed for brew python remain available after an ansible update.

[2018-12-16 07:20] willthames commented on #43637
`python_requirements_facts` is definitely your friend though (I should add that to my blog post or make a new one)

[2018-12-16 07:34] cadirol commented on #48312
Hi
Same issue as described in 1st post here.
NFS server is shutdown, and gather_facts will stuck endless.
Thank you for your work!

[2018-12-16 07:46] #38837 closed, assigned to nobody

[2018-12-16 07:55] anasbadaha commented on #47076
Hi @ganeshrn this bug was fixed by the following merged PR #49418 Please close it
Thanks

[2018-12-16 09:54] albertca opened #49980 "dnsimple fails to check if a record exists when the domain has more than 100 records"
##### SUMMARY

When a dnsimple domain has more than 100 records, the current check that tries to ensure a record exists can fail if the record is returned in the second or third (etc) page of results as returned by dnsimple v2 API.

The fix must use the API properly by requesting only the domains that match the given record name.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnsimple

#####

[2018-12-16 11:36] blastik commented on #49544
`notabug`

@irpaglide you must register the result and then capture the data you need.

[code]

[2018-12-16 14:57] ckotte commented on #49938
Did you try the version of the module in the devel branch? I've updated the last version of this module, but I never tested it on a standalone host...

[2018-12-16 15:09] anirbee commented on #49938
No, But I installed the latest version - 2.7 and the same result.

ansible-playbook 2.7.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/anirban/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python version = 2.7.5 (

[2018-12-16 16:45] drzraf commented on #22946
ok

[2018-12-16 17:37] tehtbl opened #49985 "It's not possible to use password authentication AFTER pubkey authentication"
##### SUMMARY
My server is using pubkey and password authentication at the SSH daemon.
[code]

Ansible isn't able to connect to the server. Please see the following command:
`.venv/bin/ansible-playbook -i hosts-test wireguard.yml -vvvv --ask-pass --ask-become-pass -u user --key-file=~/.ssh/id_rsa`

It seems that as soon as you are using `--ask-pass` option all other ssh options are ignored

#####

[2018-12-16 17:47] leegarrett opened #49986 "certificate_complete_chain seems completely broken"
##### SUMMARY
Using certificate_complete_chain in any combination tried throws a stack trace instead of a proper task result.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
certificate_complete_chain

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 9, python 2.7.13 on both controller and node

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-12-16 19:40] felixfontein commented on #49986
There is a bug in the module which produces this error if one of the files in `root_certificates` cannot be read. In case `/var/lib/icinga2/certs/ca.crt` is a file, it seems to have a problem (it's not parsable as UTF-8 and a co. If it's a directory, one file in it seems to have a problem.

Please check that `/var/lib/icinga2/certs/ca.crt` is a concatenation of PEM certificates which is a valid UT

[2018-12-16 20:10] ssbarnea commented on #43880
I made an interesting discovery today as suddently ansible started to report these errors on most tasks:
[code]

This happened when I added a new file to `/etc/profile.d/ps1.sh` which exports a custom PS1 on that hosts (colored one). While doing ssh to that machine is not impacted this seems to affect ansible ability to use both **sftp** and **scp**.

[2018-12-16 20:26] #49986 closed, assigned to nobody

[2018-12-16 20:36] leegarrett commented on #49986
This is unfortunately not the case. ca.crt is world-readable, so is the cwd, and the task is run as root. So unless the module does its own checks and chokes on it, the OS is not stopping it from reading the file.
[code]

[2018-12-16 20:43] felixfontein commented on #49986
"cannot be read" does not mean that it cannot be opened or read. I wrote that it needs to be a concatenation of PEM files which is valid UTF-8. Is that the case with your `ca.crt`?

[2018-12-16 20:45] felixfontein commented on #49986
If you apply the patch manually to your ansible installation, you can see what exactly the error is.

[2018-12-16 22:58] nicovell3 commented on #46308
@jbenden I'm not familiar with the Pull Request mechanism, so I prefer not to do it myself for this little modification.

[2018-12-16 23:17] stroobandt opened #49990 "ansible_module_replace.py object has no attribute '_remote_tmp'"
##### SUMMARY

Module `replace.py` yields a `AttributeError: 'AnsibleModule' object has no attribute '_remote_tmp'`when run locally through a SSH session.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`ansible_module_replace.py` in `ansible/lib/ansible/modules/files/replace.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPROD

[2018-12-16 23:48] donateur commented on #13474
@ssbarnea Thanks for your comment!  I spent some time today trying to get this to work before reading it.

[2018-12-17 00:07] stroobandt commented on #49990
When not logging in through SSH, but rather running `ansible-playbook` off the other machine, I received the following warning:
[code]
Nonetheless, the very same playbook now continued to the end. Hence, the error only occurs when running on `localhost`, perhaps through a SSH connection.

[2018-12-17 00:56] lucastheisen opened #49992 "Unable set facts with interpolated variables from action plugin"
##### SUMMARY
I am attempting to write a module/plugin that is _like_ `include_vars` but _merges_ rather than _overrides_ dictionaries.  I am able to [return `ansible_facts`](https://github.com/lucastheisen/ansible-merge-vars/blob/master/plugins/action/merge_vars.py#L55) just like [`include_vars`](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/include_vars.py#L152), but u

[2018-12-17 01:10] mnaser commented on #49954
What version of openstacksdk are you running?  Also, what version of OpenStack are you running this on?

[2018-12-17 02:01] PikachuEXE commented on #49114
This issue still reproducible with `2.7.5`

[2018-12-17 02:41] mcandre commented on #43746
Ah, I see that the `package` module can be used with most remotes, and `win_chocolatey` for Windows remotes.

https://docs.ansible.com/ansible/devel/modules/package_module.html#package-module

[2018-12-17 03:32] Fred-sun commented on #49415
@yuwzho @zikalino Could you help take a look this?

[2018-12-17 03:39] Fred-sun commented on #49180
@zikalino

[2018-12-17 03:56] sh-kur opened #50003 "win_updates installs updates even status: searched on 2.7"
##### SUMMARY

win_updates module in ansible2.7.4 installs WindowsUpdates even if 'status: searched' was specified.

I've seen the [ISSUE#24062](https://github.com/ansible/ansible/issues/24062)  and [PR#26208](https://github.com/ansible/ansible/pull/26208) but it's for version2.3 and 2.4, and the code of win_updates.ps1 looks completely different from 2.7's

##### ISSUE TYPE
- Bug Report

##### CO

[2018-12-17 04:57] pyhalov commented on #15642
Fix , proposed in #48550 , didn't work for me.
The issue is that pfexec doesn't accept quoted shell commands, we can't do pfexec 'something ', so we can't do  pfexec 'echo ... ; ps ax ', but we can do something like pfexec /usr/bin/sh -c 'something':

https://github.com/OpenIndiana/oi-userland/blob/oi/hipster/components/python/ansible/patches/01-pfexec.patch

[2018-12-17 05:17] Fred-sun commented on #40857
@yungezz @zikalino

[2018-12-17 05:20] Fred-sun commented on #39958
@zikalino

[2018-12-17 05:22] #46475 closed, assigned to nobody

[2018-12-17 05:23] #46410 closed, assigned to nobody

[2018-12-17 06:04] ganeshrn commented on #48439
Closing this issue as the code changes to support this feature are required in paramiko and ncclient libraries.

Please reopen if you think otherwise.

[2018-12-17 06:04] #48439 closed, assigned to ganeshrn

[2018-12-17 06:15] ganeshrn commented on #40267
@IPvSean Junos OS requires configuration of the root password before it accepts any commit operation. After you configure root password the playbook should work as expected.
Reference: https://forums.juniper.net/t5/Ethernet-Switching/error-when-commiting-config/td-p/88918

[2018-12-17 06:16] ganeshrn commented on #40267
Closing this as this is not a issue with junos_netconf module

[2018-12-17 06:18] ganeshrn commented on #40267
Will adding a note in junos platform docs help understand the prequiste for junos device?

[2018-12-17 07:15] rishiloyola commented on #14426
For me, it was because of the bad internet connection.

[2018-12-17 07:27] #50003 closed, assigned to nobody

[2018-12-17 07:56] #49466 closed, assigned to gdpak

[2018-12-17 08:00] Fred-sun commented on #45176
@zikalino Could you help recheck this issue when you're available? the PR #42659 can't fix this issue. Thanks!

[2018-12-17 08:17] sascha-andres opened #50009 "wrong distribution: ClearLinux instead of KDE neon"
##### SUMMARY

Ansible  2.7.5 shows ClearLinux as distribution while running for KDE Neon

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

n/a

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

    DISTRIB_ID=neon
    DISTRIB_RELEASE=18.04
    DISTRIB_CODENAME=bionic
    DISTRIB_DESCRIPTION="KDE neon User Edition 5.14"

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Identifyin

[2018-12-17 08:25] #43130 closed, assigned to ganeshrn

[2018-12-17 09:09] dagwieers commented on #43256
I would solve this differently. I think we should deprecate the use of int values for this parameter. So I would move to either adding an additional test for the `mode` parameter that checks if the input is a string, and if not provides a deprecation warning back to the user.

After a determined time (maybe longer than 4 releases) we could introduce a new 'purely string' type that doesn't do the c

[2018-12-17 09:48] bchanan03 commented on #47736
Hi All,
Is it possible am seeing same issue with Ansible 2.7.5? with mysql_db

[code]

Running:
[code]
Error:
[code]

[2018-12-17 09:48] leegarrett commented on #49986
Yes, ca.crt is a valid PEM cert, and also valid UTF-8.
[code]
Weirdly enough, I tested the issue with the patch, and it worked, and now without the patch, and it also works.

Reading the the debug output, it seems as though something weird happened with the SSH connection yesterday, which caused ansible to break in weird ways. However, I cannot reproduce the issue in any way at the moment, so I'm

[2018-12-17 09:50] jeanlouisferey commented on #49954
I use openstacksdk 0.20.0.
And I don't really know what version of Openstack I use (it's a public cloud, I don't manage it). But when I ask `versions show --service compute` I get:
[code]

[2018-12-17 09:53] jeanlouisferey commented on #49954
For information, os_server works perfectly on the same Openstack cloud with Ansible 2.5

[2018-12-17 09:55] felixfontein commented on #49986
Hmm, whatever that problem was, I'm glad it is resolved now! :)

Anyway, it was a bug on our side (error handling was broken), so you definitely didn't waste anyone's time!

In any case, with the patched version, the error will be more useful in case you encounter this problem another time.

[2018-12-17 10:11] dagwieers commented on #49970
cc @felixfontein

[2018-12-17 10:53] sh-kur commented on #50003
Thanks for the explanation. I should have submitted to the forum, not as a bug..
Then, the document might be a bit misleadable.

[2018-12-17 11:31] jborean93 commented on #50003
No worries, you thought it was a bug but just a simple misunderstanding :)

[2018-12-17 11:39] thecosmicfrog commented on #49457
+1 from me for this issue. This ended up being a frustrating problem, as I regularly work with Route 53 hosted zones with >100 record sets. I asked on Stack Overflow for assistance with this, and was provided this solution by a member of the community:
https://stackoverflow.com/a/53666067/2083329

[2018-12-17 12:52] emobortnik opened #50013 "why {{ ansible_default_ipv4.address }} = local_ip?"
---
   - name: doing replacement in /etc/ansible/hosts file
     local_action:
       module: replace
       backup: yes
       path: /etc/ansible/hosts
       regexp: "{{item.regexp}}"
       replace: "{{item.replace}}"
     with_items:
       - {regexp: '{{ inventory_hostname }} ansible_host={{ ansible_default_ipv4.address }} ansible_user=root ansible_port=22', replace: '{{ inventory_hostname }}

[2018-12-17 12:59] emobortnik commented on #50013
##### COMPONENT NAME
I am using replace module, but this is doesnt matter because variable **{{ ansible_default_ipv4.address }}** = localip, but i thought it would be public_ip. so, how can i get public ip in this case?

[2018-12-17 13:00] AndiDog opened #50014 "Using import_role in a play results in unexpected static variable imports, even for roles that execute earlier"
##### SUMMARY

Using `import_role` in a play results in unexpected static variable imports, even for roles that execute "earlier" (= before `import_role:` in the playbook).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/playbook/role/__init__.py (maybe)

##### ANSIBLE VERSION

[code]

and also with devel version.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

irrelevant

[2018-12-17 13:05] bchanan03 commented on #47736
Seems same issue with mysql_db - moving back to ansible v2.7.0 resolved the issue.

[2018-12-17 13:23] DorianGeraut opened #50015 "maven_artifact doesn't manage non-standard authentication answer"
##### ANSIBLE VERSION

[code]
##### SUMMARY
Like the get_url module, maven_artifact could get the force_basic_auth parameter, as it use the fetch_url function (from ansible.module_utils.urls). This function is based on httplib2 and only sends authentication information when a webservice responds to an initial request with a 401 status.
This option could save your day if you are dealing with server

[2018-12-17 13:33] krzysztof-magosa opened #50017 "Leak of variables from import_role"
##### SUMMARY
Variables leak from import_tags vars, even if tag does not match.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### STEPS TO REPRODUCE
Create playbook with import_role, and some vars: specified.
Then run it so tag DOES NOT match, variables wi

[2018-12-17 13:55] muhlba91 opened #50019 "ansible_os_family on CoreOS is "ClearLinux""
##### SUMMARY
When using CoreOS as an Ansible host, the `ansible_os_family` is not correct as it shows `ClearLinux`. In `/etc/os-release` it is, however, `Container Linux by CoreOS`.
This, in fact, makes playbooks unusable which depend on the correct value to execute actions depending on the OS family (e.g. `hostname` module is not available on CoreOS).

##### ISSUE TYPE
- Bug Report

##### COMPON

[2018-12-17 14:16] bcoca commented on #50017
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The import itself is not conditional, the tags are applied to the imported tasks, so it will make their execution conditional.  The oth

[2018-12-17 14:16] #50017 closed, assigned to nobody

[2018-12-17 14:20] D3DeFi commented on #49976
Hey @robertdebock. Just to be sure. Do you have zabbix-api lib installed on you controller machine (the one from where are you executing your playbooks)?

Your example shows how to install zabbix-api on managed host, but that is not necessary when actual zabbix tasks are run as `local_action`.

[2018-12-17 14:37] basos9 opened #50022 "Task verbosity option, contol when task is printed"
##### SUMMARY

There are many auxiliary tasks that only bloat the output of long plays. Adding the `verbosity` option allows one to control in which verbosity level minimum, the task will be printed. In other words if the minimum verbosity level of the task is greater than the runtime verbosity setting (as selected by -vv) it's output will not be printed. The behavior will be like the [debug modul

[2018-12-17 14:41] basos9 commented on #24215
I think this option is useful mostly in development. I would propose to name it `force_verbosity`.

The behavior that is described in  #50022 and in @jhawkesworth comment abose is a verbosity level control: Which is the minimum verbosity level that a task should be printed.

They are different things that can be implemented for different purposes.

[2018-12-17 14:51] ghost opened #50024 "elb_target_group doesn't update | set healthcheck path"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

elb_target_group.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.14.2

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

**health_check_path** : /server

##### ACTUAL RESULTS

[code]
which seems correct but the healthcheck_path , from console, is still "/".

[2018-12-17 14:58] sivel commented on #50013
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-17 14:58] #50013 closed, assigned to nobody

[2018-12-17 15:00] sivel commented on #50014
This behavior is expected and described at:

* https://docs.ansible.com/ansible/2.7/modules/import_role_module.html#notes
* https://docs.ansible.com/ansible/2.7/porting_guides/porting_guide_2.7.html#include-role-and-import-role-variable-exposure

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.co

[2018-12-17 15:00] #50014 closed, assigned to nobody

[2018-12-17 15:03] mikewiebe commented on #49667
@tdaigle-orcl Thanks for the additional info.  I am still working on a recreate in my lab but can you try setting the following in the terminal where you are running your playbook?

[code]

Probably don't need to set it to 300 but set it high for the quick test.

Also, do you see the same behavior if you use `nxapi` as your provider instead of `cli`?

[2018-12-17 15:04] mikewiebe commented on #49667
@tdaigle-orcl Just as another datapoint, my config is larger but still can't recreate the problem.

[code]

[2018-12-17 15:17] robertdebock commented on #49976
@D3DeFi: Oh, I think you're right. Let me change my code try and hopefully close this issue.

[2018-12-17 15:22] Bareliah opened #50026 "Ansible 2.7.5 | ERROR! 'set_fact' is not a valid attribute for a Play"
I need to do multiple tasks over one list. So, I created tasks list and
include it in the main playbook. <br/>
However, it looks like ansible doesn't recognise the tasks list as tasks list, but as playbook:

main playbook:

    ---
    - name: main playbook
      hosts: all
      tasks:
        - name: subtasks.yaml
          include_tasks: subtasks.yaml
          loop: "{{ names_list }}"

[2018-12-17 15:30] sivel commented on #49969
The underlying error that is causing this behavior is:

[code]

This is encountered, and then the include is effectively skipped.

The reason this happens, is that the `first_found` `lookup` is re-evaluated so that we can determine relative pathing, based on the parent include, however we don't give the same context to the templating in `IncludedFile.process_include_results` that we do in `TaskExe

[2018-12-17 15:38] IPvSean opened #50027 "cli_config missing backup parameter"
##### SUMMARY
the cli_config has no equivalent to junos_config, ios_config, etc for the `backup` parameter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cli_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
N/A

Missing feature / feature request

##### EXPECTED RESULTS
backup parameter to exist

##### ACTUAL RESULTS

[2018-12-17 15:42] IPvSean opened #50029 "ios_config enchancement, allow restorable config, remove non-config lines from return"
##### SUMMARY
When a `backup` config of an IOS / IOS-XE device is done, there is a line in the config ```Building configuration...` which is not a legitimate config, meaning we can't do a restore from the config that is returned.  The means playbooks get more complicated, in the workshop we are doing this today->

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ios_config

##### ADDI

[2018-12-17 15:52] IPvSean commented on #40267
i think the issue is easier than i might be making it out to be (maybe?) it does seem like on a brand new junos device it actually commits the change, it can’t b/c it would fail b/c of that error, i think we should just error and print out the message juniper is giving us, if we want to go above and beyond we could say why this usually happens (the error they give is a bit cryptic) and say this is

[2018-12-17 15:56] #44268 closed, assigned to nobody

[2018-12-17 16:04] anirbee commented on #49938
So I tried the development branch but the error seems to remain.

`ansible-playbook 2.8.0.dev0 (devel c0dbc1a441) last updated 2018/12/16 12:03:55 (GMT -400)
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/anirban/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/anirban/ansible/lib/ansible
  executable lo

[2018-12-17 16:17] robertdebock commented on #49976
@D3DeFi, you were correct. Sorry to bother you.

[2018-12-17 16:17] #49976 closed, assigned to nobody

[2018-12-17 16:19] D3DeFi commented on #49976
np, glad it works for you now :)

[2018-12-17 16:20] gundalow commented on #49970
I think in `docs/bin/plugin_formatter.py` we can just set versions older than X to be `historic` which causes `del doc['version_added']` so the produced RST doesn't include version_added.

No need to update the modules's `DOCUMENTATION` block

[2018-12-17 16:33] dagwieers commented on #49970
@gundalow I was planning to do this, but we first have to establish if we want this, and what version would be a good pick.

My idea was to no longer promote this for anything older than v2.0, but I guess v2.2 or v2.3 would do as well. This would be both the message at the top of the module *"New in version 1.9.2."* as well as parameters *"(added in 2.5)"*.

[2018-12-17 17:00] tterranigma commented on #48060
I updated the list of issues with this:

- [ ] `gcp_compute_instance_facts`: cannot use filters on complex keys such as `networkInterfaces[0].network : global/networks/default`. This works with the `gcloud` utility, eg `gcloud compute instances list --filter='networkInterfaces[0].network : global/networks/default'`

[2018-12-17 17:12] mkrizek commented on #49284
I can't reproduce the issue:
[code]
[code]
in the container from above:
[code]

[2018-12-17 17:37] tdaigle-orcl commented on #49667
It seems like Ansible is not abiding by the timeout when it's read from the ansible.cfg. If I set it in the environment using `export ANSIBLE_PERSISTENT_COMMAND_TIMEOUT=300` it works but not when the value is read from the ansible.cfg.

#### Timeout NOT SET in env (FAILS)

`myusername@mycontroller ~/git/myusername-funct_tests (myusername-funct_tests) $ env | grep ANSIBLE_PERSISTENT_COMMAND_TIMEOUT

[2018-12-17 17:47] maxamillion commented on #49924
Marking closed as this appears to be an Oracle issue and not an Ansible issue.

[2018-12-17 17:47] #49924 closed, assigned to nobody

[2018-12-17 17:52] bcoca commented on #48312
@cadirol does the PR linked above help?

[2018-12-17 17:53] #49259 closed, assigned to Qalthos

[2018-12-17 17:55] lucastheisen commented on #49992
Perhaps a simple fix like converting this:
[code]
To something like this:
[code]
Then adding the `fact_setter` arg to both `set_fact` and `include_vars` with a default value of `True`...  Then other plugins could use that to ensure their facts get set.  This seems like the _easiest_ path forward...

That said, it seems really weird that the core executor would (or even _should_) have any knowledge

[2018-12-17 18:02] aghassemlouei commented on #24215
+1

[2018-12-17 18:07] mikewiebe commented on #49667
@tdaigle-orcl `ANSIBLE_PERSISTENT_CONNECT_TIMEOUT` and `ANSIBLE_PERSISTENT_COMMAND_TIMEOUT` need to be set independently in your `ansible.cfg` file.

Reading through the logs you provided it looks like you only set `connect` timeout and not `command` timeout.

Please make sure both of the following are set in your `ansible.cfg` file.

[code]

* `connect_timeout` maps to `ANSIBLE_PERSISTENT_CONNECT

[2018-12-17 18:20] tdaigle-orcl commented on #49667
You're right @mikewiebe.  After adding that to the ansible.cfg the issue is resolved. Closing this bug.

[2018-12-17 18:20] #49667 closed, assigned to nobody

[2018-12-17 18:33] acozine opened #50040 "Docs code-blocks of task/playbook output should not get `err` class"
##### SUMMARY
The red highlighting/boxes around the commas in the second code-block under https://docs.ansible.com/ansible/devel/user_guide/become.html#administrative-rights are `err` column spans.  The source does not specify a language for pygments, so the code-block is being read as `YAML+Jinja` per https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/conf.py#L111.

We should be able

[2018-12-17 18:33] cboylan commented on #49969
Fixing the include tasks piece is great. Thank you for that.

Is there another bug here where the unhandled exception doesn't result in the playbook run failing and stopping immediately? It seem that it is undesireable to fail to record the error and could be dangerous to keep running subsequent plays?

[2018-12-17 18:48] acozine opened #50041 "Docs: module Return parameters should be sorted within each level"
##### SUMMARY
The top-level fields in the `RETURN` block get sorted alphabetically when we generate the module documentation, regardless of how they are ordered in the `.py` file. Nested fields (sub-fields within a `type: complex` description) do not. Strangely, they do not retain their order from the `.py` file, either. Compare https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/clo

[2018-12-17 19:01] #30489 closed, assigned to alikins

[2018-12-17 19:12] sivel commented on #49969
I am trying to handle both issues in my forthcoming PR.

At current, it still won't fail immediately on the templating error of the parent, but will provide a warning letting the user know the subsequent include may fail to find the file, and then it continues on.

Which, as the warning will state, may result in a failure to find the file.

[2018-12-17 19:13] 514amir commented on #47225
I think this is a worthwhile feature.

Titles are a good identifier but for good documentation an ansible programmer might want to communicate a specific instruction to an ansible user about a step that would need to be taken if a given play fails.

Ran into this case today.

[2018-12-17 19:15] mattdetine opened #50042 "win_shell module not working on Windows Server 2016"
##### SUMMARY

When using the win_shell module on a Windows Server 2016 host, I receive the following error:

fatal: [bamq101bvwa]: FAILED! => {"changed": false, "cmd": "echo \"Hello world!\"", "msg": "Exception calling \"RunCommand\" with \"5\" argument(s): \"Failed to create new process (Access is denied, Win32ErrorCode 5)\"", "rc": 2}

Using a pre 2.7 version of Ansible or a Windows Server 2008

[2018-12-17 19:18] 514amir opened #50044 "Handlers should respect skip-tags"
##### SUMMARY
Handlers should respect skip-tags. Currently they do not.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/playbook/taggable.py

##### ADDITIONAL INFORMATION

[code]

[code]

[2018-12-17 19:24] 514amir commented on #50044
##### COMPONENT NAME
handlers

[2018-12-17 19:44] daBONDi commented on #49708
Hi i promised you something!

Here are the 2 roles we use internaly to deploy 140 Printers on 2 Printer server and configure them.

# Role for deploying the printer drivers

https://github.com/daBONDi/ansible-role-win-printer-driver

# Role for creating share/permission/printer configuration

https://github.com/daBONDi/ansible-role-win-printer-driver

### Maybe keep this issue open, and with a lit

[2018-12-17 19:48] sivel commented on #49969
I've just submitted https://github.com/ansible/ansible/pull/50045 which should take care of these issues.

[2018-12-17 20:05] cognifloyd commented on #50022
This is more of a `verbosity_filter` (though I don't like that name either). I would be confused if I saw a playbook with `verbosity: 1` and it didn't change the output of that task to look like it is using `-v`.

Output is currently handled by callback plugins. What you are asking for is more granular control of that output, right? Maybe `output_on_verbosity: 1` would be a clear way to do what yo

[2018-12-17 20:06] dondsmithtx commented on #49968
I tried to cut/paste the Ansible output on OSX and I get the same result.  Note this is an issue with OSX and most operating systems ssh client not supporting a space.

$ ssh -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o 'User=

[2018-12-17 20:15] cognifloyd commented on #24215
@basos9 I don't think this feature would be strictly for development.
One use case I have is for a task that is looping over a dictionary. An attribute in that dictionary is a password and should not be exposed. I can set no_log, but then there is no way to distinguish between the elements of the loop (`loop_control/label` is effectively useless with no_log). By setting `loop_control: label:`` and

[2018-12-17 20:36] C0rn3j commented on #22127
in my case my VPS (Scaleway) somehow had the wrong line in sshd_config.

I had
[code]
where I needed
[code]

I guess you can see if your config is pointing at the right file by using something like `locate` to look for it.

[code]

[2018-12-17 20:37] jborean93 commented on #50042
The only change made to `win_shell` in devel/2.7 is https://github.com/ansible/ansible/pull/47404 but technically the code shouldn't be running for the base `winrm` connection plugin as a console already exists. If the user you are running with an admin user or a standard user on the 2016 host?

Are you able to try out the following;

* Use `win_command: powershell.exe echo "Hello world!"` as the

[2018-12-17 21:12] ssbarnea commented on #22127
Something that hit me recently and I think it would be useful to know: the host ended up with some files inside /etc/profile.d/foo.sh which were not really behaving correctly with non interactive terminals (throwing errors).

This didn't impact establishing a ssh sessions but they did broke both **sftp** and **scp**.  What happens with ansible is quite ugly because ansible will try both scp and sf

[2018-12-17 21:37] mattdetine commented on #50042
I believe we have identified our issue here. We use CrowdStrike Falcon as an endpoint protection software. Out of the blue it started killing off any new process spawned using the win_shell module. I have tested the win_command module which does not set off CrowdStrike for some reason. We're working with our security team to see if we can get our ansible IPs whitelisted. I apologize for the errone

[2018-12-17 21:37] #50042 closed, assigned to nobody

[2018-12-17 21:40] #49825 closed, assigned to nobody

[2018-12-17 21:46] jborean93 commented on #50042
No worries, one difference could be that win_shell executable powershell with `-EncodedCommand` while `win_command` executes it like the task is written. If you find any other useful information for Ansible please feel free to share it.

[2018-12-17 21:53] samdoran commented on #49910
This is not possible with the `user` module for a couple of reasons.
1. The `user` module is using `usermod -s` to change the shell of a user (on most platforms). This command cannot be run as a normal user.
1. The password set via `--ask-pass` is not readily available to modules by design. Making that value readily available to modules opens the door for the password to leak in unintended places.

[2018-12-17 21:53] #49910 closed, assigned to nobody

[2018-12-17 23:07] 514amir opened #50053 "Variable Run Results"
##### SUMMARY
Have a "global" variable stored at the end of any ansible run per host showing if the # of failed, changed or skipped tasks. Similar to https://docs.ansible.com/ansible/latest/reference_appendices/common_return_values.html#common but for an entire ansible run (per host)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Return Values

##### ADDITIONAL INFORMATION

A specific use

[2018-12-18 01:05] ju2wheels commented on #40729
In preparing the updated proposal for #48678 I found where this bug comes into play as it will also indirectly affect the proposed implementation there too.

Currently `ansible` uses the `CLI` ADT in [ansible.cli](https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/__init__.py) to process the common CLI options across the `ansible` sub commands. Part of that is the handling of loading/pr

[2018-12-18 01:40] ikhan2010 commented on #35870
@NilashishC can we start exploring what will it take to get this feature implemented?  Can we estimate the time?

[2018-12-18 01:44] ikhan2010 commented on #37366
@ganeshrn can you please comment on this bug?

[2018-12-18 01:47] ikhan2010 commented on #50029
@justjais Can you please look at this?

[2018-12-18 01:51] ikhan2010 commented on #50027
@Qalthos can you look at this, please?

[2018-12-18 02:14] Kloperations commented on #43092
I am having a similar issue.
I am performing a disruptive NXOS Code Upgrade on Ansible version 2.7.5 using the nxos_install_os module.  After the device reloads, i use the "wait_for" waiting for port 22 to respond.  Then I use the command module to issue a "show command" to verify the running image on the device, the output is blank, so I used nxos_command, with wait_for result[0] to contain the s

[2018-12-18 02:40] Fred-sun commented on #49659
@BradFelmey Thanks for your pay attention on ansible. Maybe this is a shortage of this module, I will ping maintainer to take a look. Thanks!

[2018-12-18 02:42] Fred-sun commented on #49659
@zikalino @yuwzho Could you help take a look this? No disk can be added to the VM, but idempotent is shown. Thanks！

[2018-12-18 02:44] dseven opened #50057 "os_security_group_rule doesn't exit properly when secgroup doesn't exist and state=absent"
##### SUMMARY
When invoked with state='absent' and a security group that doesn't exist, the os_security_group_rule fails to exit properly, because the test (that calls fail_json()) is only done for the state='present' case, and the state='absent' case is only done if the the secgroup is not null/empty. The test could be moved outside that block, so it'd apply to the state='absent' case too.

#####

[2018-12-18 02:56] dseven commented on #50057
Looking at this some more, I assume the logic is supposed to be that the module exits without changing anything in the case where the secgroup doesn't exist (if the group doesn't exist, the rule can't exist either!). If that's valid, the fix may be to simply move the "module.exit_json(changed=changed)" line up one (indentation) level.

Personally, I think I'd rather have it fail in the case where

[2018-12-18 02:59] justjais commented on #50029
@ikhan2010 sure, will check and update the issue asap.

[2018-12-18 03:43] dnuka commented on #49713
Hi @billdodd

How do I test a modified module. I have found [this](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html?highlight=testing). But there is no mention of testing against a remote server. Also, I couldn't find any tests for already existing custom redfish modules. Do you have some tests somewhere in some form? As a contributor how do I ensure the workings o

[2018-12-18 04:11] billdodd commented on #49713
Hi @dnuka - The link you referenced describes the environment setup I use for development and testing (at the beginning of the page in the "Environment setup" section). With that venv and hacking/env-setup, when you run a playbook it will use the modules in your local repository.

There aren't any tests (like unit tests or functional tests) for the Redfish ansible modules as far as I know.

But th

[2018-12-18 04:30] dnuka commented on #49713
@billdodd Thank you very much for answering all my questions :) It was very helpful. I had some doubts about executing `$ . hacking/env-setup`. Your answer clears everything.

Please let me know, If there is anything Ansible and Redfish related. I'm very much happy to learn and contribute.
Thanks again :)

[2018-12-18 04:30] ianw opened #50067 "find: regex excludes without pattern raises internal errors by default"
##### SUMMARY

Something like the following to just strip an entry

[code]

on a sample directory tree like

[code]

Raises

[code]
because ```patterns``` is defaulting to `*`

It was probably reasonable to assume that setting ```use_regex``` implied you were setting ```patterns``` before ```excludes``` was around (else why would you bother).  But I don't think an excludes with ```use_regex``` imp

[2018-12-18 05:03] DBendit commented on #40258
As a compromise between perfect idempotency checking and functionality, would it be reasonable to ignore the IP address when checking idempotency if an IP address isn't explicitly provided? If there's appropriate documentation around it, I think it would provide a better user experience overall.

[2018-12-18 05:12] zikalino commented on #45176
I have managed to reproduce it with following playbook:

https://github.com/zikalino/ansible-azure-complete/blob/master/examples/vm-update/vm-create-with-managed-disk.yml

I will produce fix soon.

[2018-12-18 05:14] Akasurde commented on #50026
!component =lib/ansible/playbook/task_include.py

[2018-12-18 05:14] Akasurde commented on #50026
cc @sivel

[2018-12-18 05:21] #33742 closed, assigned to ganeshrn

[2018-12-18 05:21] #48171 closed, assigned to ganeshrn

[2018-12-18 07:32] gdpak commented on #45289
duplicate of  #44240 . As pointed out in this issue it is limitation of Junos device to show diff for same lines when text has '\n' delimiter.

[2018-12-18 07:32] #45289 closed, assigned to gdpak

[2018-12-18 08:14] mkrizek commented on #31095
Fixed in https://github.com/ansible/ansible/pull/32086.

[2018-12-18 08:14] #31095 closed, assigned to nobody

[2018-12-18 08:16] Fred-sun commented on #48415
@zikalino

[2018-12-18 08:49] #45176 closed, assigned to nobody

[2018-12-18 09:08] cadirol commented on #48312
@bcoca unfortunately i can not test your PR because i have no test environment ATM and the production is cleaned up. Sorry

[2018-12-18 09:10] hryamzik opened #50072 "ec2_group fails in diff mode"
##### SUMMARY

ec2_group fails in diff mode
May be related to #19889

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS

##### STEPS TO REPRODUCE

[code]

Running without diff mode is fine, diff errors out.

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-12-18 09:11] hryamzik commented on #50072
While running this module in diff mode doesn't make much sense to me it blocks viewing diffs for templates.

[2018-12-18 09:20] irpaglide commented on #49544
yes, I understand how that works. If you go through the documentation, the data I need, is not currently provided. 16.12.2018, 15:37, "David" <notifications@github.com>:notabug
@irpaglide you must register the result and then capture the data you need.
- hosts: "{{localhost}}"
    gather_facts: no
    tasks:
      - elasticache_facts:
        name: "{{env}}-cache"
      register: result
    - name

[2018-12-18 09:43] sonantatom commented on #35645
I can confirm changing dest to an absolute path fixed it for me (ansible 2.7.4); relative path works for zip but not tgz.

[2018-12-18 09:53] rarenicks commented on #27220
@Akasurde, @alikins

**msg": "the python NetApp-Lib module is required" issue.**

I am using ansible-runner python module for running playbooks and executing operations. I have deployed my ansible and ansible-runner setup in a docker container and trying to execute operations via an API endpoint.
I have installed "netapp-lib" package along with its dependencies in my container.

I tried executing

[2018-12-18 09:53] mator commented on #16637
@Akasurde

can you please look? thanks

[2018-12-18 10:38] Shaps commented on #49944
Hi @SlayterDev, I'm not entirely sure if this is on purpose or just a not-yet-implemented feature. In any case to work around this, I believe the following should work:
[code]

[2018-12-18 10:45] Antoine-Sevec opened #50075 "feat/os_object - timeout"
##### SUMMARY
It should also be possible to add the possibility of automatic deletion with a timeout on the uploaded objects either by a date or duration

##### TYPE OF PROBLEM
Today there is an impossibility to add a date or duration before delete of the uploaded object

New parameter: timeout

##### COMPONENT NAME
lib/ansible/modules/cloud/openstack/os_object.py

##### ADDITIONAL INFORMATION
Abi

[2018-12-18 11:04] sashka commented on #48714
@maxamillion I'd rather close it without touching the code. May be it makes some sense to add something to examples or docs.

[2018-12-18 11:06] cesarfn4 opened #50077 "win_copy fails when copy an empty subfolder"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
Create a folder with empty sub-folders and try to copy them to another sub-folder.

- **Source**: C:\\Data\\Test
[code]
-  **Target**: C:\\Data_Backup\\Test\\..
[code]
Playbook:
[code]

##### EXPECTED RESULTS
It should work fine but without displaying any error.

####

[2018-12-18 11:07] xeor opened #50078 "Oneshot playbooks without inventory"
##### SUMMARY

Ansible is missing a way to run a playbook to fix a problem, mostly because it is too tightly coupled with the concept of `inventory`.

Example, if I have a host `server-1` which needs a fix provided by a playbook I created called `cleanup-logs.yml`. My `server-1` is not in the inventory, it is a one-off job where I have the server-name, and I know the playbook to fix my problem.

I

[2018-12-18 11:46] edos commented on #50078
I have run into similar issues where I felt like I was fighting with inventory.  I use puppet to handle the configs where state is something I want checked often and changed if its been altered.  I wanted to use playbooks to do some one off jobs that I really did not think belonged in puppet.  I was hoping to just use `ansible-playbook -i` but the playbook still required that `hosts: all` be in th

[2018-12-18 11:56] anasbadaha commented on #47076
@ganeshrn can you please close this bug? it's fixed!

[2018-12-18 12:23] vrcs opened #50081 "rds_instance error with PerformanceInsightsEnabled"
##### SUMMARY
<Already launched old aws RDS  instances doesn't return the performance_insights_enabled in rds_instance_facts and when trying to convert the play book to use rds_instance it throws an error.   >

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rds_instance, rds_instance_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release

[2018-12-18 12:48] ITD27M01 opened #50082 "Failed to parse openstack.yaml with openstack plugin: 'NoneType' object has no attribute 'set'"
##### SUMMARY

The bug explained in https://github.com/ansible/ansible/issues/45431 does not resolved. Openstack inventory plugin does not work starting at 2.6.4
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

openstack
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS X
##### STEPS TO REPRODUCE

create configuration based on documentation. Try to ansi

[2018-12-18 12:51] mkotsbak commented on #6727
Seems this issue should be reopened as bug reports are moved back to this repository. Prefix with "firewalld: "

[2018-12-18 12:52] ITD27M01 commented on #50082
https://github.com/ansible/ansible/blob/v2.7.5/lib/ansible/plugins/inventory/openstack.py#L199

[2018-12-18 12:57] stintel commented on #48312
I'm running into the same issue with Ansible 2.5.14, 2.6.11, 2.7.5 and 2.8.0.dev0 (devel d28e700a22), and reproduced it in a test environment.

[code]
Then added a firewall rule on the machine with the NFS mount:
`iptables -I OUTPUT -d 192.168.54.6 -j DROP`

And ran the command again, through time and timeout:
[code]

I will try #49398 now.

[2018-12-18 12:58] ganeshrn commented on #47076
resolved_by_pr #49418

[2018-12-18 12:58] #47076 closed, assigned to nobody

[2018-12-18 13:34] stintel commented on #48312
@bcoca I tried #49398 by running `curl https://patch-diff.githubusercontent.com/raw/ansible/ansible/pull/49398.patch | git apply` in my clone of the git repo, but the problem persists.

[2018-12-18 13:40] ganeshrn opened #50088 "[REST_CONF] Add restconf_get module that uses httpapi connection type"
##### SUMMARY

*  Add new restconf_get module that uses the httapi connection type to fetch configuration and state data from target host that is restconf eanbled
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2018-12-18 13:43] ganeshrn opened #50089 "[REST_CONF] Add restconf_config module that uses httpapi connection type"
##### SUMMARY

*  Add new restconf_config module that uses the httapi connection type to edit configuration data on target host that is restconf eanbled (similar to netconf_config).
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

restconf_config
##### ADDITIONAL INFORMATION

[code]

[2018-12-18 13:59] basos9 commented on #50022
Yes the intended usage is to limit the output of ok executions to the important stuff. There are auxiliary tasks (input data manipulation, assertions, set_facts, etc) that are needed for the proper functioning and are executed in the ansible management host, but do not give any useful information.

I agree that the `verbosity` might be mistaken, but it is already used in the debug plugin, thus the

[2018-12-18 14:01] justjais opened #50091 "Skydive network analyser integration with Ansible via modules"
##### SUMMARY

Ansible modules for SKYDIVE network analyser using the skydive python client
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

network
##### ADDITIONAL INFORMATION

[code]

[2018-12-18 14:01] stintel commented on #48312
@bcoca no, that's because I am running it through the `timeout` command. If I drop that command, ansible hangs forever.

[2018-12-18 14:02] justjais commented on #47067
@benjdudas Did you got any update on this issue.

[2018-12-18 14:33] abenokraitis commented on #41039
@atnoslen any update here? Can we close this?

[2018-12-18 14:33] abenokraitis commented on #41039
needs_info

[2018-12-18 14:34] ganeshrn commented on #42907
resolved_by_pr https://github.com/ansible/ansible/pull/49485

[2018-12-18 14:35] abenokraitis commented on #41040
Can you please reproduce on 2.8 devel branch and report back, else this will be closed. Thanks!

[2018-12-18 14:43] Qalthos commented on #41425
!component lib/ansible/modules/network/cli/__init__.py
!component lib/ansible/modules/network/cli/cli_command.py
!component lib/ansible/modules/network/cli/cli_config.py

[2018-12-18 14:45] abenokraitis commented on #41425
Moving from networking back to core

[2018-12-18 14:49] abenokraitis commented on #41523
@sk1988 Can you still see this as an issue with Ansible 2.8 devel tree? Thank you!

[2018-12-18 14:54] abenokraitis commented on #41843
@jvanderaa Thanks for your feature request - unfortunately there are no plans to implement this with network_cli but feel free to continue to use this with the provider method. Please note that the provider method may be removed in the future though.

[2018-12-18 14:54] #41843 closed, assigned to gundalow

[2018-12-18 15:03] abenokraitis commented on #42030
@IPvSean FYI, I think we need to build a blog post on how to do this with the playbook

[2018-12-18 15:05] abenokraitis commented on #42030
@harekrishna0 Can you please retest with 2.8 devel branch to first ensure this wasn't in the core code first, and then we can address the best practices with playbook writing for network devices for speed.

[2018-12-18 15:07] maxnh opened #50094 "Install and remove Windows fonts"
##### SUMMARY

Add a Windows module to manage fonts.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

win_font

##### ADDITIONAL INFORMATION

It should be possible to provide Ansible the path to a otf or ttf font file. Then, Ansible checks whether the font is installed on the target system and dependent on the state (present/absent) the font is either installed or removed. A playbook snippe

[2018-12-18 15:11] bcoca commented on #48312
This improves how we do timeouts https://github.com/ansible/ansible/pull/49921, i cannot reproduce the hang on my setup but its mostly virtual, I'm going to try to setup actual hardware client/server for nfs.

[2018-12-18 15:14] DWOF commented on #16025
I apologise if I should be raising this as a new issue, however I have the same issue as raised by @aperigault

I can confirm that if I put the hosts and vars into one inventory file and then run the play it works as per @jborean93 comment.

But when I am using separated hosts and var files (I'm also loading variables in through vault) it errors as it attempts to connect via ssh rather than winrm.

[2018-12-18 15:19] ganeshrn commented on #42606
@marcosgeorgopoulos This is expected behavior. The input config should be in the same format and have the same indentation as that of the running configuration present on the device.

[2018-12-18 15:21] ganeshrn commented on #42606
This behaviour can be documented in user guide for more clarity https://docs.ansible.com/ansible/latest/network/user_guide/faq.html#why-do-the-config-modules-always-return-changed-true-with-abbreviated-commands

[2018-12-18 15:22] IPvSean commented on #42126
this requires `ansible_network_os` we should switch to documentation bug and add for all agnostic modules.  Only platforms that have a corresponding ansible_network_os will work with the agnostic modules and the newer (network_cli, netconf, httpapi) connection plugins

e.g. to be explicit:
in the *notes* part of the module documentation page for the following modules, we need to link to this page:

[2018-12-18 15:22] IPvSean commented on #42126
@samccann let me know if that makes sense above... its a long list :(

[2018-12-18 15:30] abenokraitis commented on #43092
Changing this to a feature request, as this probably will lead into a much broader solution for multiple platforms rather than a point fix for a specific platform.

[2018-12-18 15:34] #33643 closed, assigned to Qalthos, ganeshrn

[2018-12-18 15:37] #42907 closed, assigned to Qalthos, ganeshrn

[2018-12-18 15:51] #48714 closed, assigned to maxamillion

[2018-12-18 15:52] Qalthos commented on #41871
This issue is a duplicate of #29716, so we are closing this one. Please direct future discussion at that issue.

[2018-12-18 15:52] #41871 closed, assigned to Qalthos

[2018-12-18 15:52] #42606 closed, assigned to Qalthos

[2018-12-18 15:52] Bareliah commented on #50026
after searching tones online, I found a similar answer for *include_role* - [here][1]
and it was life changing!

before:

    ---
    - name: main playbook
      hosts: all
      tasks:
        - name: subtasks.yaml
          include_tasks: subtasks.yaml
          loop: "{{ names_list }}"
          loop_control:
             loop_var: name

after:

    ---
    - name: main playbook
      hosts: al

[2018-12-18 15:53] dagwieers commented on #47844
@felixfontein I'd rather get that information from the arg_spec (#45805) as to avoid conflicting info or incomplete info. (The documentation can always extend or replace arg_spec information in my implementation)

[2018-12-18 16:00] robpblake opened #50096 "mysql_db present/dump creates incorrect mysql command line when using ssl_ca attribute"
##### SUMMARY
I need to import a SQL dump to a MySQL database that has SSL connections enforced. To do this I created the following task definition:

[code]

If I run this against any database that does not enforce SSL connections and omit the `ssl_ca` attribute, it works perfectly. If I re-add the `ssl_ca` attribute and run it against a database that requires SSL connections, it fails with the fo

[2018-12-18 16:28] #46769 closed, assigned to nobody

[2018-12-18 16:50] LeDOC666 opened #50099 "win_copy timeout"
##### SUMMARY

When I copy a file of more than 100M to a Window host, copy stop at (offset=115250000 size=250000)
and finish in Timeout.

Copy of file smaller work

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target Windows 2008R2 server

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-12-18 16:53] acozine commented on #49970
Updated the `too_old` value in #50097. Keeping the issue open as part of the discussion around versioning. Related to #45651 and #37049.

[2018-12-18 16:54] AlanCoding opened #50100 "ansible-inventory gives extra error text from openstack plugin, making it non-parsable"
##### SUMMARY
Cannot properly use `ansible-inventory` with inventory files that use the openstack inventory plugin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/inventory.py
lib/ansible/plugins/inventory/openstack.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac, in inventory loading. Dependency for plugin:

openstacksdk==0.19.0

####

[2018-12-18 16:59] warden commented on #16804
So indeed this works for me to use multiple tasks from a Galaxy module like this:
[code]

dir structure:
[code]

The galaxy module is placed in external_roles subdirectory that is read by $ANSIBLE_ROLES_PATH.
However, those tasks depend on a custom python module that I have in `library/` folder.

When I put the custom library in `external_roles/mod/task1/library` then it works for task1.
But when

[2018-12-18 17:04] bcoca commented on #50100
Or you can filter out 'non-json' output https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/json_utils.py#L32

[2018-12-18 17:08] dagwieers commented on #50099
Yes, you need to increase the read_timeout, I use the below (for more than one reason):

[code]

[2018-12-18 17:09] dagwieers commented on #50099
Also at the moment using the PSRP transport will give you some speed improvements, but using **win_get_url** is still unbeatable.

[2018-12-18 17:12] LeDOC666 commented on #50099
I have seen the win_get_url workarround, but problem is to open new port on firewall to all my lan :/
I will try the variables.

[2018-12-18 17:14] dagwieers commented on #50099
I understand and I can relate to it ;-)

[2018-12-18 17:15] stintel commented on #48312
Even with #49921, ansible still hangs.

[2018-12-18 17:18] LeDOC666 commented on #50099
With vars:

`<virwiphipsql.pam.lan> WINRM PUT "/datas/ansible/roles/jboss/files/jdk-8u191-windows-x64.exe" to "C:\Temp\ansible-tmp-1545153285.92-57886355019194\source" (offset=115000000 size=250000)
<virwiphipsql.pam.lan> WINRM PUT "/datas/ansible/roles/jboss/files/jdk-8u191-windows-x64.exe" to "C:\Temp\ansible-tmp-1545153285.92-57886355019194\source" (offset=115250000 size=250000)
(lonng time wai

[2018-12-18 17:21] dagwieers commented on #50099
Try PSRP first, use something like:
[code]
And maybe increase the `connection_timeout` if you get read_timeout errors

[2018-12-18 17:47] ju2wheels commented on #48678
Goal: Expose the added `git` module options above but also provide a more generic way to do the same for other SCM module options without adding SCM module specific CLI args to `ansible-pull`.

Currently:

`ansible-pull` provides three primary parameters that drive the SCM submodule (`-u|--url <url>`, `-d|--directory <dest>`, `-c|--checkout <checkout>`) corresponding to repo URL, destination to sa

[2018-12-18 17:52] ctrlaltdel commented on #33259
Would love to see this issue also fixed in the next 2.5 point release.

See https://bugs.launchpad.net/openstack-ansible/+bug/1803382.

[2018-12-18 18:47] mbc1990 commented on #10530
Is this a serious tool or a prank played on computer science students? I just ran into this (because I installed cowsay last week, I guess) and have now wasted 15 minutes googling it and fixing the configuration. Not really appropriate IMO.

[2018-12-18 19:08] leaf-node opened #50102 "{{ ansible_distribution_release }} returns wrong result"
##### SUMMARY

When using `{{ ansible_distribution_release }}` in a role, `flidas` (a release of Trisquel, like `xenail` is for Ubuntu) should be returned, but `trisquel` is returned instead.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

best guess: core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

sorry, I've already downgraded the package.

##### OS / ENVIRONMENT

Trisquel flidas

[2018-12-18 19:13] bcoca commented on #40729
@ju2wheels I might have been looking at it too hard ... but you seem to have a simpler solution:
[code]

[2018-12-18 19:19] Apteryks commented on #25391
It just got worst in 2.7.0; os_family now reads as 'ClearLinux' on Linux Mint 18.3 :-/.

[2018-12-18 20:13] abadger commented on #49815
I verify that this is one of our filters: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/filter/mathstuff.py#L246  Just need someone to document it

[2018-12-18 20:16] samdoran commented on #49828
Changing this to a feature request since this is working as intended currently. The system may need to settle before the credentials will work, e.g., if the system is binding to a domain. In that case, failing quickly would not be desirable.

[2018-12-18 20:18] Apteryks commented on #50009
Similarly, on Linux Mint 18.3:

[code]

[2018-12-18 20:31] jborean93 commented on #49972
!component =lib/ansible/modules/packaging/language

[2018-12-18 20:33] jborean93 commented on #49975
Are you able to share the filestructure or example use case for this feature request.

needs_info

[2018-12-18 20:37] kurtbomya opened #50107 "Switch to Disable Powershell Base64 encoding"
##### SUMMARY
Add switch to Ansible for Windows-targeted jobs to permit *turning off* of the Base64 coding.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/plugins/shell/powershell.py

##### ADDITIONAL INFORMATION
Some security tools identify the Base64 encoded powershell activity activity as a threat and is **actively blocking these jobs**. We'd feel a lot better if we could ju

[2018-12-18 20:40] Rakaim commented on #50107
Just so a real human knows, this is all within our own infra - there's no AWS involved. I don't know what @ansibot is thinking.

[2018-12-18 20:44] jbenden commented on #46308
I've created a PR for you. Thanks for your contributions!

[2018-12-18 20:46] sivel commented on #50009
I'd guess that one of the following was the cause:

https://github.com/ansible/ansible/commit/1af07cc38f5706322d7faf60669d8513563b54d4#diff-97ced403fd62f1d8e43b329c15c54e04
https://github.com/ansible/ansible/commit/35e02293d531ebd391159b60a1e3a0703adf5f8f#diff-97ced403fd62f1d8e43b329c15c54e04

[2018-12-18 20:47] samdoran commented on #49985
Changing this to a feature request since we do not currently support this.

Implementing this would not be as simple as passing the value of `--ask-pass` to the login prompt after using public key authentication. You are correct that other login options are ignored when `--ask-pass` is used.

Using Ansible with multi-factor authentication is challenging for a number of reasons, but the chief reaso

[2018-12-18 20:47] sivel commented on #50019
Duplicate of https://github.com/ansible/ansible/issues/50009

[2018-12-18 20:47] #50019 closed, assigned to nobody

[2018-12-18 20:47] jborean93 commented on #50015
!component =lib/ansible/modules/packaging/language/maven_artifact.py

[2018-12-18 20:47] sivel commented on #50009
This seems to also affect `CoreOS` as well.

[2018-12-18 20:49] #49473 closed, assigned to nobody

[2018-12-18 20:51] felixfontein commented on #32626
@jackivanov `openssl_privatekey` will support ECC in Ansible 2.8. The other modules already support it; I'm adding tests in #50109.

[2018-12-18 20:54] jborean93 commented on #50022
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * We've discussed this in a recent meeting and have some concerns with how it

[2018-12-18 20:54] #50022 closed, assigned to nobody

[2018-12-18 20:57] sivel commented on #50026
The only way that I can see this error happening is if you are running subtasks.yaml from ansible-playbook instead of using your main playbook.

Please stop by the IRC or the mailing lists for more assistance:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-12-18 20:57] #50026 closed, assigned to nobody

[2018-12-18 20:57] samdoran commented on #49985
!component=lib/ansible/plugins/connection/ssh.py

[2018-12-18 20:57] #49158 closed, assigned to nobody

[2018-12-18 21:02] jborean93 commented on #50053
Can you use [set_stats](https://docs.ansible.com/ansible/latest/modules/set_stats_module.html) to achieve what you want?

needs_info

[2018-12-18 21:08] jdorel commented on #49975
After some poking around, I think it came from me not understanding the difference between the `src` and `role` key in `dependencies`. If I wanted to swap a role for one from another developper in a role dependency, I would need to add `role: <role_name>` and change the source in the `requirement.yml` file.

However it could be interesting to load a default role if no local role is yet in the `rol

[2018-12-18 21:09] sivel commented on #50072
Full Traceback:

[code]

[2018-12-18 21:09] jborean93 commented on #50075
!component =lib/ansible/modules/cloud/openstack/os_object.py

[2018-12-18 21:17] jborean93 commented on #50094
!component =lib/ansible/modules/windows/win_font.ps1

[2018-12-18 21:19] samdoran commented on #50078
You can use a variable for the `hosts` field to change the target hosts for a play without having to edit the playbook. You can also set the default value to an empty list to have the playbook "fail safe".

[code]

Then run:
[code]

[2018-12-18 21:19] #50078 closed, assigned to nobody

[2018-12-18 21:31] DrHashi opened #50110 "lineinfile/blockinfile only runs once when looping"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

lineinfile/blockinfile only adds the first variable when looping through a list

##### COMPONENT NAME
lineinfile and blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 14.04

##### STEPS TO REPRODUCE

run blockinfile or lineinfile more than once while looping through a list

[code]

##### EXPECTED RE

[2018-12-18 21:51] sivel commented on #42341
@sa-lr are you still around?  Can you confirm whether the above PR meets your needs?

[2018-12-18 22:00] jborean93 commented on #49975
No worries, feel free to open a feature request for that scenario. I'll close this issue due to the misunderstanding.

[2018-12-18 22:00] #49975 closed, assigned to nobody

[2018-12-18 22:11] contextuo commented on #48134
Thanks for sharing your reasoning, @webknjaz. I suppose, with the addition of an `fstab` module to take over what `mount` has been used for, it would make sense to have another module just for mountpoints, possible with some fstab integration niceties (like 'mount -a').

I really would just hope to avoid module naming conventions becoming permissive of numerically versioned variants.  A less ambig

[2018-12-18 22:14] jborean93 commented on #49992
I would recommend you add this to the Public Ansible Project Meeting Agenda that can be found at https://github.com/ansible/community/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen++label%3Ameeting_agenda+. Having it on the agenda and talking about it at the next IRC meeting can help identify how to progress forward this this and whether we would want to take a different approach.

[2018-12-18 22:17] jborean93 commented on #50107
!component =lib/ansible/plugins/shell/powershell.py

[2018-12-18 22:41] dagwieers commented on #39587
Parameter `backup` and return value `backup_file` implemented at #50033

[2018-12-18 23:07] maximede commented on #29511
Is there any chance to see this backported in the stable-2.5 branch ? Could I submit a PR for that ?

[2018-12-18 23:10] caphrim007 commented on #29511
@maximede features are not typically backported. Only bugfixes

[2018-12-18 23:11] lucastheisen commented on #49992
@jborean93 , sorry, never done that before.  Are there directions for _how to add to the meeting agenda_?  It appears it needs a `meeting_agenda` label, but seems you need to be a _Contributor_ to add labels. The [meetings README](https://github.com/ansible/community/blob/master/meetings/README.md) does not appear to explain how to propose a new agenda item.

[2018-12-18 23:42] leigh-j commented on #50082
Fixed here, just needs to be brought in to 2.7
https://github.com/ansible/ansible/pull/45759/commits/17d868f4b81c289428f251af8fcf84d6b39159ae

[2018-12-19 00:05] siemsen opened #50119 "connect() got an unexpected keyword argument 'ssh_config'"
##### SUMMARY
I'm trying to write a playbook that will simply do a "show version" command on my routers. I get this error for all my routers: "connect() got an unexpected keyword argument 'ssh_config'". This looks like a coding bug to me.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
junos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 8.

[2018-12-19 00:59] abadger commented on #49343
@tabowling The error message:

and the code which produces that error:
[code]

Strongly imply that the failure being seen here is that the apache group does not exist on the remote host.  Could you confirm?

[2018-12-19 02:01] #43884 closed, assigned to nobody

[2018-12-19 02:06] jborean93 commented on #50107
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational. The main reason why is that we use `-EncodedCommand` to encode scripts being executed and we don't want to es

[2018-12-19 02:06] #50107 closed, assigned to nobody

[2018-12-19 03:50] Akasurde commented on #49992
@lucastheisen You just need to add the link for this issue in Meeting agenda comment section. Be present once IRC meeting is scheduled. If you have different IRC nick than GitHub username then mentioned that too.

[2018-12-19 03:58] Akasurde commented on #27220
@rarenicks Could you please open a new issue with your environment settings and logs ? It would be easy to track and debug issue rather than putting information on closed issue.

[2018-12-19 03:59] Akasurde commented on #50096
@robpblake Thanks for reporting this issue. Would you be interested in opening a PR against `mysql_db` ? Thanks.

[2018-12-19 04:14] Akasurde commented on #50082
@leigh-j @ITD27M01 @jgeorgeson Could you please check if backport PRs works for you ? Thanks.

[2018-12-19 04:14] Akasurde commented on #50082
!component =lib/ansible/plugins/inventory/openstack.py

[2018-12-19 04:39] ckotte commented on #49938
The module is named `vcenter_folders`. It obviously requires a vCenter server...

[2018-12-19 04:55] #50077 closed, assigned to jborean93

[2018-12-19 06:10] achals2 opened #50130 "Unable to run playbook for Nexus OS for nxos-facts-module"
##### SUMMARY
Unable to run playbook for Nexus OS https://docs.ansible.com/ansible/latest/modules/nxos_facts_module.html#nxos-facts-module

##### ISSUE TYPE
Unable to run playbook for nexos-facts-module as giving below error

ERROR! the playbook: - could not be found

##### COMPONENT NAME

My playbook:
cat Nexus-OS-fatch.yml
---

- name: Get config
  hosts: 10.1.1.1
  gather_facts: false
  connect

[2018-12-19 06:18] achals2 commented on #50130
I am using 2.7 Ansible version and my nexus switch version is 7.0

[2018-12-19 07:01] Fred-sun commented on #47696
kindly ping

[2018-12-19 07:12] Fred-sun commented on #47111
@santos101 Thanks for your contribution, are you still here? Could you update comment according by yungezz's ? Thanks!

[2018-12-19 07:56] jhawkesworth commented on #50099
@LeDOC666 hopefully psrp is helping you.  If not, maybe you could put a webserver with the things you need inside your lan?  You can maybe scp or rsync files to the lan webserver and win_get_url can download from there.

[2018-12-19 07:57] mdrose opened #50131 "Influxdb_user yields an unhandled exception when presented with invalid login credentials"
##### SUMMARY
Influxdb_user yields an unhandled exception when presented with invalid login credentials

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Influxdb_user

##### ANSIBLE VERSION
devel branch

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Graceful failure

##### ACTUAL RESULTS
[code]

[2018-12-19 08:14] Gianlu opened #50133 "Error in win_chocolatey_source module"
##### SUMMARY

When using win_chocolatey_source with `state='disabled'`, the module throws an exception, stating that
parameter `source` is mandatory.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_chocolatey_source

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

debian 9.6

##### STEPS TO REPRODUCE

I'm trying to run the following task, according to

[2018-12-19 08:16] Fred-sun commented on #46440
@zikalino Could you help take a look this issue?

[2018-12-19 08:19] Fred-sun commented on #46313
@zikalino

[2018-12-19 08:20] Fred-sun commented on #46207
@yungezz

[2018-12-19 08:34] ag0n1k commented on #17324
Do not know how it's work on the one role and does not work at the other:
[code]

[2018-12-19 09:16] #40267 closed, assigned to ganeshrn

[2018-12-19 09:32] pderuiter commented on #45219
@moozer This bug also manifestates itself on Ubunt 18.04 LTS, so it's not a debian specific bug

[2018-12-19 09:58] lanoxx commented on #16767
I just stumbled over this issue. The use of `use_ssh_args` works. I think this should be deprecated and made the default. The workaround posted by @redbaron did not work for me.

[2018-12-19 10:01] xeor commented on #50078
Thanks for pointing out that I could use variables as hosts.. However, I didn't want to duplicate the host you had to define.

I ended up with something like this in my playbook:

[code]

This will execute the role only if it is manually entered like `ansible-playbook -i server1,server2`. Using inventory-files of any sorts sets the `inventory_dir` (as I've found)

[2018-12-19 10:21] robpblake commented on #50096
@Akasurde Yes shouldn't be a problem. Leave it with me.

[2018-12-19 10:56] ganeshrn commented on #37366
@celebloki  @benjdudas Based on the json output shared in `output.txt` file the json emitted by junos device is incorrect. At `line 2600` a `,` (comma) is missing after `]`  and before key `"bpdu-block-on-edge"`entry.

I verified this by feeding the response rpc to Ansible from a file stored on local disk with [contents](https://gist.github.com/ganeshrn/eadf51be2ad782c1d1d54b0a4f638279) instead of

[2018-12-19 11:10] Akasurde commented on #49664
resolved_by_pr #49665

[2018-12-19 11:17] Akasurde commented on #50096
@robpblake Thanks.

[2018-12-19 11:47] Spredzy opened #50141 "ansible_distribution_version is not correct on CentOS 7"
##### SUMMARY

The `ansible_distribution_version` fact does not return correct value

  * `ansible 2.8.0.dev0` -> `"ansible_distribution_version": "7"`
  * `ansible 2.7.5` -> `"ansible_distribution_version": "7.5.1804"`

Faulty commit is: https://github.com/ansible/ansible/commit/61b1daa65f2e1978fac127aa11f7b0831d4ff243

##### ISSUE TYPE

  - Bug Report

##### COMPONENT NAME

  - facts

##### ANSI

[2018-12-19 11:49] Spredzy commented on #50141
cc @abadger

[2018-12-19 11:55] dieterv opened #50143 "win_firewall_rule module documents the bypass action which does not exist."
##### SUMMARY
- https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_firewall_rule.ps1#L172 lists "allow","block","bypass"as possible actions.
- https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_firewall_rule.ps1#L38 validates the action parameter and only knows "allow","block"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_firewall_r

[2018-12-19 12:01] #49883 closed, assigned to nobody

[2018-12-19 12:02] dios231 opened #50144 "Ansible displayes as clear text a vault file on error"
I submit this error with email.

[2018-12-19 12:02] gundalow commented on #49130
resolved_by_pr 49137

[2018-12-19 12:05] #50144 closed, assigned to nobody

[2018-12-19 12:23] deiwin commented on #42532
@aaronk6, if you have AWS access tokens configured for the env, you can do:
[code]

Our case is similar to yours. We specify
[code]
as the `Principal`, but the response has
[code]
instead.

So for us the workaround was (using the [cloudfront_origin_access_identity module](https://docs.ansible.com/ansible/2.6/modules/cloudfront_origin_access_identity_module.html)):
[code]

[2018-12-19 13:04] leupo opened #50147 "get_url + cookie: accept licence not downloading ansible < 2.6"
##### SUMMARY
get_url + cookie: accept licence does not download file correctly with ansible < 2.6. I tried nearly every Version from 2.4.3.0 up to 2.6 with virtual envs.
Edit:
**From Version 2.6 this bug doesnt occur.**
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux/Mac OS

##### STEPS TO REPRODU

[2018-12-19 13:16] justjais commented on #43535
@geertn444 please check and attend the review comment that I have given on your PR https://github.com/geertn444/ansible/pull/1.

[2018-12-19 13:20] KleinSa commented on #7019
Though this is kind of old i would like to add my thoughts: i think both opinions are somewhat correct but i'm in a situation like @itewk mentioned it having OS patches stopping just because one single host fails and i cant find a nice way around it ( handling every following step with some registered variables is kind of complicated i think ). i would suggest a configurable solution so you can se

[2018-12-19 14:17] isorn44x commented on #49805
"Host" folder in AD has subfolder UAT, how can i define it in domain_ou_path?

domain_ou_path: "OU=Host,OU=UAT,DC=XXX,DC=XXXXX"

Please correct me if im wrong.

[2018-12-19 14:18] isorn44x commented on #49805
cc @dagwieers @jborean93 @jhawkesworth @nitzmahone @ansibot

[2018-12-19 14:34] TonyCMCC opened #50151 "How to pass var between tasks and tasks?"
i want to copy ssh pub key from localhost  to remote host,but it doesn't work well,it seems not allow pass var between big task and big task,how can i solve it？
`[root@master1 ansible]# cat 01.SetupSSH.yml
- hosts: localhost
  remote_user: root
  gather_facts: false
  tasks:
  - name: Create SSH directory
    file:
     path: ~/.ssh/
     state: directory

  - name: make sure id_rsa is not exist

[2018-12-19 14:41] bcoca commented on #50151
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-19 14:41] #50151 closed, assigned to nobody

[2018-12-19 14:41] vutukuribharat opened #50152 "Issue while activating a scaling group in alibaba cloud using ansible code"
I am trying to activate a scaling group in Alibaba cloud using ansible(yaml)code and facing issues while executing the code. I used alicloud_ess_group module in my code for activating the group and facing issues in it.

##### ISSUE TYPE
- Bug Report

ANSIBLE VERSION

ansible  2.3.1.0
python version = 2.7.5

 STEPS TO REPRODUCE:
YAML CODE:
[code]

 EXPECTED RESULTS

we will have a scaling group bei

[2018-12-19 14:46] gstorme commented on #50147
Works fine here on ansible 2.7.
Can you post verbose output from ansible-playbook execution with -vvv parameter?

[2018-12-19 14:59] plastikat opened #50154 "`subelements` filter bug in conjunction with `include_tasks` and `delegate_to`"
##### SUMMARY
While trying to migrate to new style loops I have hit some very weird bug with `subelements` filter. It is only reproduced under a very peculiar setup we have (which I mimic in the test repository, see below). To get an idea of what's going on, please explore repository files (it would take too much words to describe every aspect here).

In short, `subelements` filter fails to create

[2018-12-19 15:05] jhcook commented on #39858
Why is this closed? There is no fix for this as far as I know.

[2018-12-19 15:15] mattycarlson commented on #39858
We changed the authentication to use an SSH key and it's working now. TFS no longer supports basic auth.

[2018-12-19 15:33] pgerber commented on #49130
Looks like both #47680 and #49137 fix this.

[2018-12-19 15:49] tux-84 opened #50158 "include_vars skips files without extension"
##### SUMMARY
When running 'include_vars` over a directory, it throws an error when finding a file without extension, even if the file is in yaml-format.

Current workaround is to run a `find`-command first and then `include_vars` with `item.path`.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2018-12-19 16:00] NilashishC commented on #35870
@ikhan2010 I have finished writing the module. Currently adding unit test for it. I should have a PR ready by tomorrow(12/20).

[2018-12-19 16:01] xenlo opened #50161 "vmware_host_datastore - Datastore on a SAN device presented to several ESXi nodes"
##### SUMMARY
When you deploy the ESXi nodes (more than one) for a new VMware environment, at some point you should mount the datastore. For that we use the `vmware_host_datastore` module. The issue comes when this module run in parallel on our 3 ESXi nodes that all have the same SAN volume presented to them. The 3 nodes try at the same time to create the partition and the FS on the same SAN volum

[2018-12-19 16:02] jhcook commented on #39858
Thanks. So there is no fix per se. I need to submit a change request to allow ssh to TFS :)

[2018-12-19 16:06] flatrocks commented on #48859
Now that I have read this discussion, I understand what these messages are about.  But it's worth noting that I spent maybe 20 minutes researching and reading this (and comments indicate that it was a concern for many more users.)  _If every message in verbose output was so worrisome to cause this sort of response, no one would ever get anything useful done with Ansible and/or the verbose mode wou

[2018-12-19 16:07] xenlo commented on #50161
Opened too fast…

[2018-12-19 16:09] bcoca commented on #48859
@flatrocks again, look at PR above, it did just that

[2018-12-19 16:09] maxamillion commented on #49343
FWIW - the RHEL8 Beta Container shipped from `registry.access.redhat.com/rhel8-beta/rhel` does not have an `apache` group present.

[2018-12-19 16:14] abenokraitis commented on #38017
@indivisiblewalrus I've spoken to folks at Cisco and this is on their radar but the work has not been scheduled. It's on the Cisco roadmap to work on but it's not all that high on the priority list. I would recommend pushing this via Cisco support channels as well.

[2018-12-19 16:15] IPvSean opened #50162 "ansible_connection priority unclear, -c does not override inventory host vars"
##### SUMMARY
I want to preface this with I want to have this conversation because I am finding it really difficult to create multi-transport playbooks (this group runs on netconf, this group uses httpapi, this group uses network_cli) and not intuitive.  Some of this might end up as documentation but I really want to see what others think and track this.

There is a variety of ways you can set a h

[2018-12-19 16:30] bcoca commented on #50162
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-19 16:59] X-dark commented on #29366
I understand tag overwrite may be the intended behavior, but then how am I supposed to get existing tags, to merge with my new tags?

[2018-12-19 17:00] LeDOC666 commented on #50099
CredSSP is not available on my server test.
We will see how may we active it.

I tryed to update openssl to check it it's not a cypher problem, but nothing more..

[2018-12-19 17:41] jctanner commented on #50162
reopening as a docs bug.

[2018-12-19 17:41] abenokraitis commented on #50162
At the very least this should still be tracked and therefore not be closed (since this is a valid issue).

[2018-12-19 17:46] abenokraitis commented on #50162
Regardless if this is a docs bug or not, seems like users would still naturally want to do:
`ansible-playbook netconf_setup.yml -c network_cli` (doesn't work)
instead of
`ansible-playbook netconf_setup.yml -e “ansible_connection=network_cli”` (works)

[2018-12-19 17:51] bcoca commented on #50162
It DOES work, depending on context, here you are assuming `ansible_connection` is set in inventory, that is not always the case.

[2018-12-19 18:17] siemsen commented on #50119
Here is the full error message:

The full traceback is:

Traceback (most recent call last):

  File "/usr/bin/ansible-connection", line 106, in start

    self.connection._connect()

  File
"/usr/lib/python2.7/dist-packages/ansible/plugins/connection/netconf.py",
line 288, in _connect

    ssh_config=ssh_config

  File "/usr/lib/python2.7/dist-packages/ncclient/manager.py", line 96, in
connect_ssh

[2018-12-19 18:33] ganeshrn commented on #50119
The stack trace is in ncclient library hence it seems that you are using an older version of ncclient. Support for ssh_config was added in ncclient version 0.4.2 https://pypi.org/project/ncclient/0.4.2/

ncclinet version in my enviornment:
[code]

needs_info

[2018-12-19 18:52] siemsen commented on #50119
We are going to spin up a new VM for this effort, to get a newer OS, and
then do what we have to do to get the latest ansible, paramiko, and
OpenSSH. Then we'll see where we stand.

Thanks. Please consider this bug report closed. Should I close it, or will
you?

-- Pete

On Wed, Dec 19, 2018 at 11:33 AM Ganesh Nalawade <notifications@github.com>
wrote:

[2018-12-19 18:54] velomatt opened #50168 "junit.CallbackModule: Duplicate host callback in include_role from looped include_tasks"
##### SUMMARY
junit.CallbackModule emits a duplicate host callback warning when executing tasks from a role, included from a looped include_tasks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/callback/junit.py

##### ANSIBLE VERSION
Tested in latest release + devel:
[code]

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Tested in CentOS 7.4 and Ubuntu 16.04

[2018-12-19 20:22] tobiastom commented on #17892
Sorry to comment on such an old issue. Somehow this issue seems to be still valid with Ansible 2.7.5:

[code]

Ansible reports `unable to set rcvar: sysrc did not change value`:

[code]

This happens when I execute `sysrc` manually on the same VM:

[code]

I'll use the workaround with`lineinfile` now, but if there's anything I can do to help debug this, I'm more then happy to.

[2018-12-19 20:35] 514amir commented on #50053
I believe that would require me to register a result for each play.

Something like this alone wouldn't work, I believe...
- hosts: xyx
  tasks:
    - name: "xyz with Changed Values"
      set_stats:
        per_host: yes

        data:
          changedxyz: "{{ result.changed }}"

[2018-12-19 20:40] jborean93 commented on #50053
I think your best bet is to use a different callback plugin, or create your own, to get the info you are looking for. Our `ansible-test` runner uses the [junit](https://docs.ansible.com/ansible/latest/plugins/callback/junit.html) callback plugin to store the results of the run. This is in the standard junit format which is an open standard and can be parsed by any tool that can read XML.

[2018-12-19 21:37] 514amir commented on #50053
Thanks! The callback solutions always require a parsing step as well.... I considered the json_output callback plugin as well. I still think this is feature worthy being able call other actions (tower workflow templates or jenkins tasks etc...) based on hosts that have changes but i'll look at what's my best option now.

[2018-12-19 21:48] felixfontein commented on #47736
I don't know where that was, but some time (weeks? months?) ago I looked into a similar problem, and the reason was that MySQLdb (which is based on libmysql) was using Unix sockets to connect by default, while PyMySQL was connecting via TCP to `localhost` by default. Depending on how root access to your MySQL server is configured, this might help you work around this problem.

As I said, I don't r

[2018-12-19 22:02] felixfontein commented on #47736
Ok, I found it. It was a discussion on #ansible-devel on October 2nd, and the user who had a problem connecting (he first suspected that handling of an empty string password was the problem) finally found out that he needs to use `login_unix_socket` (because of the different behavior I mentioned above), with it it worked for him. Unfortunately, he didn't create an issue for that.

Anyway, @epeli @

[2018-12-19 22:15] felixfontein commented on #47844
@dagwieers I guess in that case, `deprecated.removed_in` can be taken from `arg_spec`, and `deprecated.why` and `deprecated.alternative` can be added in docs.

[2018-12-19 22:41] tabowling commented on #49343
@abadger  Apologies for my lack of response.  I will test this tomorrow, but I suspect you are correct about the apache group not being created.

[2018-12-20 02:49] ikhan2010 commented on #47985
@benjdudas can we close this issue, please?

[2018-12-20 02:50] beserkhobo commented on #13706
We are facing the same issue, where we identified where the task is missing but the file was still left behind causing the play to fail as the task already exists.
We manually deleted the file and re ran the play, the play then shows both the file and the task name correctly.

Can this bug be reopened as the work around feels a clunky and potential module fix should smooth this out.

[2018-12-20 03:00] jborean93 commented on #13706
@beserkhobo our fix for this was to not use scheduled tasks anymore. Unless you have manually set `use_scheduled_task: yes` for `win_updates` then this module will not use a scheduled task to run. Please ensure you are on a newer version of Ansible and have not set that option, if you are still seeing this issue then it will warrant a new GitHub issue.

[2018-12-20 03:41] ganeshrn commented on #50119
I will close the issue, feel free to reopen if you are still seeing the issue.

[2018-12-20 03:41] #50119 closed, assigned to ganeshrn

[2018-12-20 04:16] Akasurde commented on #38118
@fridlik Could you please check above patch and let us know if it works for you ? Thanks.

needs_info

[2018-12-20 04:35] smax48 commented on #47821
I am experiencing exactly the same behaviour:
chocolatey is not installed on the target host, win_chocolatey fails with the same message from this report.
ansible version 2.7.4

[2018-12-20 05:11] yuwzho commented on #46207
close_me

[2018-12-20 07:01] xeor opened #50181 "Inventory as a generic construct (not just host)"
##### SUMMARY

I often need to make playbooks/roles that has little to do with the concept of a `host`, but I still want it as an inventory.

A couple of examples/usecases:

* Using ansible to controll gitlab repositories, using the repo's themself as inventory (example `project-a/repo-2`)
* Controlling kubernetes constructs like deployments, but have the deployments as inventory.
* Creating/chang

[2018-12-20 07:35] leupo commented on #50147
Of course, you are right. I didn't mentioned because i thought < 2.6 would be enough.
So here is the output(replaced username).
[code]

[2018-12-20 07:49] ITD27M01 commented on #50082
@Akasurde
The fix works on 2.6.11 and 2.7.5 for me.

[2018-12-20 08:05] Akasurde commented on #44404
@jesusch @chad-autry Can you confirm if #50183 works for you ? Thanks.

needs_info

[2018-12-20 08:23] puchalakd opened #50185 "win_updates incorrectly reports changed."
##### SUMMARY

Module win_updates is reporting "changed": false after make a change (installing update).

What I got was:
**"changed": false,
"installed_update_count": 1,**

I use change field for restarting monitoring software agent (this clear the agent cache for windows updates) when developing that playbook on January 2017.
It was working fine on older version some time ago. I cannot say exact

[2018-12-20 08:37] zikalino commented on #46207
ok, closing...… following comments

[2018-12-20 08:37] #46207 closed, assigned to nobody

[2018-12-20 08:41] Akasurde commented on #50082
@ITD27M01 Thanks for feedback.

[2018-12-20 08:43] #48784 closed, assigned to NilashishC

[2018-12-20 09:00] dagwieers commented on #47844
@felixfontein Correct, however we will not be using arg_spec information for the documentation until 2.10 earliest (as was mentioned by @gundalow in the meeting :-/)

[2018-12-20 09:12] dagwieers commented on #47821
Oh sorry, I missed that question. I experienced it when running it in normal mode (not check-mode).

[2018-12-20 09:18] dagwieers commented on #50181
I agree that the term *host* is a bit weird if you use it for different purposes, and *target* would have been a better name IMO (ah, hindsight). That's why I usually talk about *target* during training or presentations. Having said that, having aliases for the same thing is even more confusing as it requires people to know that it is the same thing.

So if this is considered a problem we need to

[2018-12-20 09:22] LeDOC666 commented on #50099
I enabled CredSSp on server, and now, it's a SSL Version problem.
My windows host are ... really "out to date", is there variable on ansible to use old ssl protocol ?

[2018-12-20 09:43] dagwieers commented on #50185
Congratulations, you found a genuine bug in otherwise flawless code ;-)

Can you check if the patch from #50188 fixes your problem ?

PS It appears that in check_mode the module would report changed correctly (albeit preemptively).

[2018-12-20 09:45] xeor commented on #50181
The absolute best solution would be exactly that.. Starting the process of moving the terminoligy over to a more generic name, like `target`..

Also agree that it should be something to consider for ansible v3, as it is something fundamental in the way people are used to (but very quick to adapt to).

There are probably many other places `host` needs to be replaced with `target`, but doing so will

[2018-12-20 09:47] dagwieers commented on #50185
@jborean93 We probably want to report changes correctly on the failure-cases as well.

[2018-12-20 09:55] TheNetworkIsDown opened #50189 "How to use vmware_vm_inventory plugin?"
##### SUMMARY
vmware_vm_inventory plugin lists VMs with UUID appended.

Now I am wondering how to use this. How am I supposed to get the DNS name or IP address of the VMs in order to actually be able to connect to them.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
vmware_vm_inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
SLES12-SP3

#

[2018-12-20 09:56] muhlba91 commented on #50009
@sivel's guess: as far as I saw there are also unit tests for the distribution variables which include CoreOS and ClearLinux as well and they are all running successfully. Do you think the provided test data is errornous, causing them to not showing an issue?

[2018-12-20 11:21] xenlo commented on #50161
Now that I took the time to fill the issue completely, I reopen it.

[2018-12-20 11:47] paulRbr commented on #48890
It's indeed a change in RabbitMQ. Cf [**3.7.9** release notes](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.7.9). A new CLI option has been added `--no-table-headers`

[2018-12-20 11:47] #50131 closed, assigned to nobody

[2018-12-20 12:06] #48166 closed, assigned to nobody

[2018-12-20 12:13] #49713 closed, assigned to nobody

[2018-12-20 12:20] puchalakd commented on #50185
All systems were updated. :(

[2018-12-20 12:22] ganeshrn commented on #44864
@crosson Based on your playbook it seems you are using `connection=local` in that case what is the value of `transport`. If it is `netconf` in that case it might be possible that the rpc response received from junos target over netconf is different than the one seen by executing the command on cli.

Can you please run this [python script](https://gist.github.com/ganeshrn/3f57fe3ce3ec34ba3e28abd3c5

[2018-12-20 12:42] terbolous commented on #50110
Your regexp is matching the newly created line.
Loop item number 1 creates a line that looks like
`sshd : 10.208.225.130`
Which matches the regexp `^sshd : ` for loop item number 2

Depending on what you want to achieve you could do it like this:
[code]
Which will try to match the actual IP as well

[2018-12-20 13:14] anushak13 opened #50194 "file module delete directory"
##### SUMMARY
##### ISSUE TYPE
•	Bug Report
##### COMPONENT NAME
Ansible delete
##### ANSIBLE VERSION
[code]
[code]
##### STEPS TO REPRODUCE
I am trying to delete files under a specific directory but not directory. Please find the below yaml files.

Playbook.yml

[code]

vars/main.yml
[code]

In the first loop SAMPLE all files under test folder are getting cleared but in the second loop...webapps

[2018-12-20 13:25] xenlo opened #50195 "vmware_host_datastore - Don't show 'changed' status when it does only the mount part"
##### SUMMARY
When I use the `vmware_host_datastore` module to mount an device disk with a partition and a vmfs file system, the module proceeded well into mount, but don't show a '_changed_' status.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/modules/cloud/vmware/vmware_host_datastore.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- VMW

[2018-12-20 14:32] trishnaguha commented on #36880
@indivisiblewalrus @sumkincpp since this is boolean condition, You can execute `terminal don't-ask` before pushing the config.

[2018-12-20 14:44] DrHashi commented on #50110
That worked! Thanks

I thought line would just set the full pattern and regex would be what would match.

[2018-12-20 14:54] plastikat opened #50198 "A typo at special_variables page"
##### SUMMARY

I was building a list of Ansible special variables to perform a massive facts namespace migration and encountered an error at the following page:
https://docs.ansible.com/ansible/2.7/reference_appendices/special_variables.html

`ansible_connecion` should actually be `ansible_connection`.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

#

[2018-12-20 15:19] sebastien-rosset commented on #27800
Same question here. I have two PRs to support IPv6 (#49979 #50004) for ec2_vpc_nacl, and I was wondering if there an active maintainer for these modules?

[2018-12-20 15:34] LeDOC666 commented on #50099
hello,

Finally, after configure regedit to enable TLS1.0, 1.1, and 1.2, with Kerberos, copy is done !!!

It was simply a ssl version problem i guess

[2018-12-20 15:43] sivel commented on #50189
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-20 15:43] #50189 closed, assigned to nobody

[2018-12-20 15:50] bcoca commented on #10446
So someone just pointed me here as people still having issues with include vars, this issue was solved and closed, if you have any other reproducible examples please open a new ticket, we don't get notified for closed issues.

[2018-12-20 15:57] dagwieers commented on #50099
@LeDOC666 Thanks for reporting back. We would like to learn from your issue and maybe update the documentation to clearly warn for this.

Can you tell us:
- What version(s) of Windows you had this problem with ?
- What exact registry key(s) you updated from X to Y ?
- If this also fixed the original problem with WinRM, or was this just needed to get CredSSP working ?

Thanks in advance.

needs_inf

[2018-12-20 16:09] lucastheisen commented on #49992
Discussed in this meeting: https://meetbot.fedoraproject.org/ansible-meeting/2018-12-20/ansible_core_irc_meeting.2018-12-20-15.07.log.html, will revisit in January...

[2018-12-20 16:15] bcoca commented on #40729
@ju2wheels i have not had time to test this, does it work for you?

[2018-12-20 16:31] LeDOC666 commented on #50099
- It was on a Windows 2008 R2
- I launch windows update, and:

[code]

- The problem correct problem with Kerberos, and WinRM. I prefer use Kerberos, because CreedSSP is not enabled on my Windows Inventory.

[2018-12-20 16:37] ezmac commented on #49558
@triphocy, there's a PR in that should address this: https://github.com/ansible/ansible/pull/50203
I've tested it in my infra, but a community review may help get it merged a little faster if you've got the time to look.

[2018-12-20 16:51] ju2wheels commented on #40729
I havent tried, ill try to use one of my devices today to reproduce and then manually patch to see if it resolves it. We have worked around it by dumping the JSON extra vars to file since I reported originally.

[2018-12-20 17:12] perzizzle commented on #30655
This issue still impacts ansible version 2.7.0. I tested the fix https://github.com/saito-hideki/ansible/commit/0785f3c202e13b6a814f57022747a42df7f9e731 and it does resolve the issue. The problem is currently credential, inventory must be provided from the playbook, you cannot use the ones defined in the job template.

[2018-12-20 17:25] pabowers commented on #39369
Was this fixed? I'm running into this issue now and would like to know if there is a way to address this.

[2018-12-20 17:43] gabrgomes commented on #16437
This feature would provide an easy way to implement rollbacks and notifications in case any role of a playbook fails. This is something I have to do for all my roles individually, which is not nice.

[2018-12-20 17:45] lucasbasquerotto commented on #39369
@pabowers For now I'm including the external variable as a property of an object and passing it from the object to the role, avoiding the variable referencing itself, like:

[code]

[2018-12-20 18:08] skylerbunny opened #50210 "bigip_data_group doesn't support atomic adds or deletes of members"
##### SUMMARY
As the bigip_data_group module works today, it is not possible to add or remove individual data group key/values from a data group - which is possible inside the F5 UI when a data group is created as type 'internal'.

Currently, your choices are to provide a complete list of records in the 'records' list item, the complete list of records via a records_src file, or a complete list of

[2018-12-20 18:16] ju2wheels commented on #40729
@bcoca confirmed. Without the patch it throws this:

[code]
With the patch, on a decent size JSON object string with mixed values it then works OK. Also tested with multi line JSON object vs compacted single line and both seem to work out with the patch.

[2018-12-20 18:19] pabowers commented on #39369
@lucasbasquerotto thanks for the response.  I actually figured out that the `public` option to `include_role` does exactly what I need

[2018-12-20 18:25] bcoca commented on #40729
woot, will open PR, need to add some tests to that

[2018-12-20 18:40] wojtek0806 commented on #50210
please go to our official repository to open an issue:
https://github.com/F5Networks/f5-ansible/issues

we will submit a fix

[2018-12-20 18:46] caphrim007 commented on #50210
Closing per @wojtek0806's request

[2018-12-20 18:46] #50210 closed, assigned to nobody

[2018-12-20 18:59] jmroth commented on #50189
I did. Nobody replied. That's why I came here.
If the docs gave concise examples, that wouldn't happen.

[2018-12-20 19:35] lucastheisen commented on #49992
I update the [README for the example project](https://github.com/lucastheisen/ansible-merge-vars/blob/master/README.md) to better describe my use case.  It might help clear up any confusion about my specific use case for the next discussion.

[2018-12-20 19:36] felixfontein commented on #47844
@dagwieers Ah, I guess I really should read the minutes ;) Anyway, so then I guess it is OK to support the "extended" format (as for modules), make sure that `deprecated.removed_in` matches `removed_in_version` from `arg_spec`, and later (with #45805) to automatically fill in `deprecated.removed_in` from `arg_spec`.

[2018-12-20 19:40] dagwieers commented on #47844
@felixfontein While very complete, my concern is that it is overdesigned for something small and short-lived functionality. I fear that when it is needed, people will simply add it to the description anyway.

[2018-12-20 20:09] jborean93 commented on #50185
Looks like this was a perfect storm, technically we set `$result.changed = $true` after we have downloaded an update https://github.com/ansible/ansible/blob/7320852c9ed548b38436c2d9b0e1484336e8ddaf/lib/ansible/modules/windows/win_updates.ps1#L276 but in this case the update was already downloaded and so skipped this line. The changed in https://github.com/ansible/ansible/pull/50188 should fix this

[2018-12-20 21:04] maxamillion commented on #50102
Can you post the output of the following commands please?

`python -m platform -c 'platform.dist()'`

`cat /etc/os-release`

needs_info

[2018-12-20 22:44] indivisiblewalrus commented on #36880
Unfortunately 'terminal dont-ask' defaults to the default answer, which in
this case is 'no'. Thus is not a viable workaround.
https://www.cisco.com/c/en/us/td/docs/switches/datacenter/nexus9000/sw/6-x/command_reference/config_612I22/b_n9k_command_ref/b_n9k_command_ref_chapter_010110.html#wp3962612674
terminal dont-ask

[no] terminal dont-ask [persist]
Syntax Description

no

Negate a command or s

[2018-12-20 23:23] bcornec commented on #47154
That patch has fixed the issue for me. I'll apply it to the mageia version while waiting for a new upstream one. Thanks Philippe !

[2018-12-20 23:23] #47154 closed, assigned to nobody

[2018-12-21 01:04] trevor-viljoen opened #50221 "win_package adds quotes to arguments that begin with a dash"
##### SUMMARY
The `win_package` module incorrectly tries to quote a list of arguments that start with a dash (`--` or `-`).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_package

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
 - Target system: Windows 7 x64 VM
 - Ansible runs via tower in a vagrant environment (CentOS Linux release 7.5.1804 (Core))

###

[2018-12-21 01:05] smax48 commented on #47821
I found a reason for this error in my case - it was corporate (anti)virus McAfee that just removed a freshly installed choco.exe and ansible module failed with that strange error.

[2018-12-21 01:08] jborean93 commented on #47821
@smax48 thanks for the confirmation

[2018-12-21 01:15] jborean93 commented on #50221
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The `arguments` option can take in either a string of all the arguments already escaped or a list of arguments you want us to escape for you
   * In your examp

[2018-12-21 01:15] #50221 closed, assigned to nobody

[2018-12-21 01:44] #50185 closed, assigned to nobody

[2018-12-21 01:52] sudoman commented on #50102
[code]

[2018-12-21 02:05] #50143 closed, assigned to nobody

[2018-12-21 02:30] Akasurde commented on #50198
@plastikat Thanks for closely reading the documentation and reporting. Would you be interested in opening a PR against your findings ? Thanks.

[2018-12-21 02:47] neticen opened #50228 "vmware_guest_disk: support for IDE hard drives"
##### SUMMARY
The vmware_guest_disk module needs support to add IDE hard drives to VMs.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_guest_disk

##### ADDITIONAL INFORMATION
This function is needed for IDE disks also due to compatibility issues with certain VMs that require disks on IDE controllers.  For example, I have a VM that I cannot automate fully with Ansible because it req

[2018-12-21 03:01] Akasurde commented on #32366
resolved_by_pr #50229

[2018-12-21 03:21] Fred-sun commented on #37158
@kwoodson Thanks for you contribution, The generalize feature has been add to ansible 2.8.0devel, you can install the latest ansible to try. install method: sudo pip install "git+https://github.com/ansible/ansible.git@devel" , Thanks!
[code]

[2018-12-21 03:39] Akasurde commented on #40076
Closing this issue as PR https://github.com/ansible/ansible/pull/48720 is merged. If issue persists, please feel free to re-open.

[2018-12-21 03:39] #40076 closed, assigned to Akasurde

[2018-12-21 03:43] claco commented on #22531
At the very least on *nix systems, this produces files with no EOL and EOF, which is a bug according to POSIX? and nearly all utilities. All text files are supposed to end with an EOL at EOF.

The workaround of adding a second \n works. In my case, this bug causes things like using galaxy_skeleton to produce files with no EOL, which then fail yamllint. In fact, just pure `ansible-galaxy init foop`

[2018-12-21 03:44] plastikat commented on #50198
Sure, here it is: https://github.com/ansible/ansible/pull/50230

[2018-12-21 03:54] Akasurde commented on #49648
@MQasimSarfraz Yes, it will not work by specifying at top `#jinja2:variable_start_string:'[%' , variable_end_string:'%]' `.

[2018-12-21 03:55] Akasurde commented on #49811
@pilou- Could you please check if #49921 works for you ? Thanks.

[2018-12-21 04:02] #49811 closed, assigned to nobody

[2018-12-21 05:42] Akasurde commented on #50198
resolved_by_pr #50230

[2018-12-21 05:46] #50198 closed, assigned to nobody

[2018-12-21 07:42] jesusch commented on #44404
@Akasurde works for me :)

[2018-12-21 07:42] #44404 closed, assigned to bcoca

[2018-12-21 08:06] MQasimSarfraz commented on #49648
Thanks for the clarification. I will go ahead and close the issue.

[2018-12-21 08:06] #49648 closed, assigned to Akasurde

[2018-12-21 09:05] dmykarp commented on #42113
I'm reopening this bug, since @ryansb told me to do so if I get a reproducer. I just got it. My Ansible has however changed to `2.7.5`, otherwise everything is the same. There is no `run_once` in the task, but I get the behaviour I described in the very bug entry unless I fiddle with the placing of a special group in the inventory file.

[2018-12-21 09:07] dmykarp commented on #42113
Sorry, I cannot reopen it as the issue was not closed by myself. Could you please reopen and look into this bug?

[2018-12-21 09:15] Akasurde commented on #42397
@judyQD Could you please take a look at above PR and let us know if it works for you ? Thanks.

[2018-12-21 09:17] #48334 closed, assigned to nobody

[2018-12-21 09:37] ericzolf opened #50237 "dnf module fails on python 3.7 when versionlock plug-in is installed"
##### SUMMARY

When the versionlock plug-in of DNF is installed and using Python 3.7, even the simplest usage of the DNF module fails with the error `File \"/usr/lib/python3.7/site-packages/dnf-plugins/versionlock.py\", line 64, in sack\n    if not self.cli.demands.resolving:\nAttributeError: 'NoneType' object has no attribute 'demands'\n`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dnf

[2018-12-21 10:13] vdhwouter commented on #49978
I have the exact same problem. When upgrading from rabbitmq-server-3.7.8 to rabbitmq-server-3.7.9.
Ansible version:
[code]

[2018-12-21 10:45] FalcoXYZ opened #50238 "Infoblox NIOS module to support adding IPs to host record"
##### SUMMARY

Infoblox NIOS module to support adding/removing IPs from existing host record.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nios_host_record

##### ADDITIONAL INFORMATION

It's currently not supported (as mentioned here: https://community.infoblox.com/t5/Getting-Started/Ansible-Play-to-add-a-Host-Address-without-changing-the-existing/td-p/13272) to add an IP address to an

[2018-12-21 11:16] Akasurde commented on #48929
@Tomorrow9 I am not able to reproduce this issue with latest PR. Can you please check on your side ? Thanks.

[2018-12-21 11:17] vicmunoz opened #50239 "module na_ontap_firewall_policy doesn't validate vserver to wich policy applies"
##### SUMMARY
Module na_ontap_firewall_policy doesn't validate the vserver wich policy applies.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_ontap_firewall_policy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Run the playbooks:
Scenario 1:
[code]
Scenario 2:
[code]

##### EXPECTED RESULTS
Firewall policies should be created

[2018-12-21 11:22] Akasurde commented on #50152
@vutukuribharat Thanks for reporting this issue. `alicloud_ess_group` is not included in [Ansible repo](https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/cloud/alicloud). Please file issue against the repo from where you are downloading this module. Thanks.

[2018-12-21 11:22] #50152 closed, assigned to nobody

[2018-12-21 11:31] guidoilbaldo commented on #49978
As pointed out in issue [#48890](https://github.com/ansible/ansible/issues/48890), the problem is with the new rabbitmqctl `list` CLI command outputting an additional line with headers (and first column is exactly `vhost`) starting from RabbitMQ 3.7.9.

Ansible 2.7 works great with RabbitMQ until version 3.7.8.

[2018-12-21 11:41] hopoffbaby opened #50240 "Performance regressions"
##### SUMMARY

There are substantial slowdowns in Ansible since 2.3.1.
Running the setup ad-hoc module, with 40 forks and pipelining enabled against 1450 nodes gives the following results (3 run averages):

Version | Time
-- | --
2.1.1 | 55
2.2.1 | 63
2.3.1 | 46
2.4.1 | 57
2.5.1 | 74
2.6.1 | 76
2.6.11 | 76
2.7.1 | 63
2.7.2 | 64
2.7.3 | 62
2.7.4 | 62
2.7.5 | 63

##### ISSUE TYPE
- Bug Report

#####

[2018-12-21 11:49] gundalow commented on #47844
No `why` or `alternative`  for module options, all of that can go in description. As Dag says, no need to over engineer this.

[2018-12-21 12:08] emobortnik opened #50241 "apt module doent support apt-mark"
**ISSUE TYPE**
Feature Idea

**COMPONENT NAME**
apt

**ANSIBLE VERSION**
N/A

**SUMMARY**
Why apt module https://docs.ansible.com/ansible/latest/modules/apt_module.html doesnt support apt-mark unhold and apt-mark hold etc. ?

[2018-12-21 12:35] emobortnik commented on #50241
so, how can i use it?

[2018-12-21 12:42] emobortnik commented on #50241
I need disable update some package, how can I do it?

apt module has upgrade-paramert, it it what i need? Seems like no.

Also i found https://docs.ansible.com/ansible/2.7/modules/dpkg_selections_module.html

[2018-12-21 13:03] quulah opened #50243 "OpenStack inventory plugin should respect OS_CLOUD"
##### SUMMARY

The OpenStack inventory plugin does not use the `OS_CLOUD` environment variable like the OpenStack CLI tools and the older inventory script.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

* lib/ansible/plugins/inventory/openstack.py

##### ADDITIONAL INFORMATION

I'm transitioning from using the OpenStack inventory script to the plugin. I have a clouds.yaml with multiple cl

[2018-12-21 14:38] #32366 closed, assigned to Akasurde

[2018-12-21 14:44] ernestojpg commented on #24449
Is there any way of forcing the unsafe writes?

[2018-12-21 14:55] #50027 closed, assigned to Qalthos

[2018-12-21 14:56] sivel commented on #50240
This is usually expected, as over time, the setup module is likely to become slower as we add additional functionality to that module to gather and return additional facts.

2.5 did introduce a feature outside the setup module that did cause performance degradations that specifically impacted the performance of modules that return a lot of data like the setup module.  However, that issue was resol

[2018-12-21 14:56] #50240 closed, assigned to nobody

[2018-12-21 15:10] slapula commented on #49453
@ichekaldin thanks for pointing this out! I'm looking into it.

[2018-12-21 15:22] dagwieers commented on #50185
@puchalakd Thanks again for reporting this! We are backporting this to the stable-2.7 and stable-2.6 so you can expect the fix in the upcoming Ansible releases.

[2018-12-21 15:30] #48552 closed, assigned to Qalthos

[2018-12-21 15:33] sivel commented on #50194
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-21 15:33] #50194 closed, assigned to nobody

[2018-12-21 15:50] IPvSean opened #50245 "provide filename output from return values for *os_config modules and cli_config"
##### SUMMARY
provide the filename that is auto-created for the backup file name and return that value as a `return value` (e.g. https://docs.ansible.com/ansible/latest/modules/ios_config_module.html#return-values) for each config module.  Otherwise you end up having to do some more python within the Playbook which is not ideal for non-programmers (config_output.backup_path.split('/')[-1])

This a

[2018-12-21 15:54] IPvSean commented on #50245
here is the output from the playbook provided above:

[code]

[2018-12-21 16:00] dch opened #50247 "gcp_compute_instance should not require storing credentials on disk"
##### SUMMARY

Avoid needing to store GCP credentials/token on the filesystem.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`gcp_compute_instance`

##### ADDITIONAL INFORMATION

GCP requires very high levels of privilege  and yet the tokens need to be stored on disk.
In many environments this is either explicitly forbidden, and in general this is unwise.

Ideally GCP modules could acqui

[2018-12-21 16:02] dch commented on #50247
cc @rambleraptor I think you are part of the GCP team?

[2018-12-21 16:12] sivel opened #50249 "vmware_vm_inventory lacks necessary information"
##### SUMMARY
The `vmware_vm_inventory` plugin does not appear to try and set any useful hostvars for hosts it creates.

At minimum, this inventory should set as much useful information as possible, somewhat similar to the return data you get from `vmware_guest` and other modules or even the original contrib inventory scripts for `vmware.py` or `vmware_inventory.py`.

At the moment, you are given

[2018-12-21 16:15] #47200 closed, assigned to Qalthos

[2018-12-21 16:22] sivel commented on #49946
!component =lib/ansible/config/manager.py

[2018-12-21 17:00] jmroth commented on #50249
BTW I found an inventory script which just does what you'd expect: https://github.com/tierpod/ansible-vcenter
Maybe one should simply ditch the plugin in question and replace it by the script.
How could a plugin as badly broken as `vmware_vm_inventory.py` even make it into this repo?

[2018-12-21 17:02] abadger commented on #50141
I'm not sure if this one is a new bug or a bugfix.  /etc/os-release is theoretically supposed to be the canonical source for information and it says that version_id is 7 on centos7.5.  /etc/redhat-release contains the previously presented version as part of it's string and distro does give us access to it via distro.distro_release_{attr,info}().  So we just need to decide whether we should special

[2018-12-21 17:43] abadger commented on #50141
Okay, I had a talk with a CentOS core dev and some rhel people as well.  Their input is that RHEL supports point releases and therefore should return ```ansible_distribution_version: "7.6"```.  CentOS does not support point releases (they just add the new packages to the existing centos7 repository) so they consciously do not add the minor version.  They think their version should be ```ansible_di

[2018-12-21 18:18] ihor-zhakun opened #50252 "gcp_container_cluster module error with location field"
##### SUMMARY
If use gcp_container_cluster module with **location** property provided - then GCP return error "Invalid JSON payload received. Unknown name \"location\" at \\'cluster\\': Proto field is not repeating, cannot start list."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: gcp_container_cluster

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default
[code]

##### OS / ENV

[2018-12-21 19:50] #18555 closed, assigned to nobody

[2018-12-21 20:06] r0bj opened #50258 "Using --diff parameter cause crash on registered variable: An unhandled exception occurred while templating"
##### SUMMARY

Using `--diff` parameter cause ansible to crash on registered variable:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

controller: macOS 10.14.2
host: ubuntu 16.04/macOS 10.14.2

##### STEPS TO REPRODUCE

main.yml:
[code]

template.j2:
[code]

##### EXPECTED RESULTS

ansible finish with

[2018-12-21 20:25] lonico opened #50260 "na_ontap_gather_facts does not support FlexGroup volumes (and maybe Infinite volumes)"
##### SUMMARY
na_ontap_gather_facts reports a Traceback when running on a system with a FlexGroup volume.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_ontap_gather_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

ansible-playbook gather_facts.yml --extra-vars @vars.yml

[code]

##### EXPECTED RESULTS

Dictionary of facts

[2018-12-21 21:00] zimmertr commented on #45214
This would be a nice feature to have.

[2018-12-21 21:33] acozine opened #50262 "Async docs example incorrect on 2.5 and 2.6"
##### SUMMARY
Toure Dunnon reported that the example code in the docs for running multiple asynchronous tasks while limiting the amount of tasks running concurrently does not work on Ansible 2.5 or Ansible 2.6.

Current:
[code]

Correction/Replacement for last 3 lines of above example:

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/2.6/user_

[2018-12-21 21:34] acozine commented on #50262
See https://docs.google.com/document/d/15TzLG-gnYU7hRMjmbk5GloPiCjKFRpIjqzEel-Mqlso/edit.

[2018-12-22 04:08] ganeshrn commented on #44463
Closing this issue as the fix is available in Ansible 2.7.1

[2018-12-22 04:08] #44463 closed, assigned to ganeshrn

[2018-12-22 07:17] NilashishC commented on #50245
Seems like a good idea to me. I can work on this one.

[2018-12-22 11:07] vutkin commented on #49050
Hello @dankeder,
looks like we get always OOM with our shape vm.

[code]

[2018-12-22 13:53] #48650 closed, assigned to nobody

[2018-12-22 14:51] C0rn3j opened #50272 "systemd module with scope: user will fail if using become"
##### SUMMARY
Running within `scope: user` does not work if using `become`, `remote_user` has to match the user you're modifying the service for.

This should be at the very least noted in the documentation, along with the workaround for it if someone insists on using a different user.

https://docs.ansible.com/ansible/latest/modules/systemd_module.html

##### ISSUE TYPE
- Bug Report

##### COMPON

[2018-12-22 14:58] #38118 closed, assigned to Akasurde

[2018-12-22 15:03] Akasurde commented on #50249
@jmroth Inventory script you mentioned in based on dynamic inventory script, whereas `vmware_vm_inventory.py` is dynamic inventory plugin. I think there is some issue with the plugin, which I will find and fix it. Thanks for the feedback.

[2018-12-22 15:11] yar05 commented on #50272
- hosts: localhost
  remote_user: root
  vars:
    sudo_user : c0rn3j
  tasks:
    - name: test
      become: yes
      become_user: "{{ sudo_user }}"
      environment:
              XDG_RUNTIME_DIR: "/run/user/{{ lookup('pipe','id -u {{ sudo_user }}') }}"
      systemd:
        daemon_reload: yes
        enabled: yes
        scope: user
        state: started
        name: rebootrequiredcheck.ti

[2018-12-22 15:45] larsks commented on #50272
@yar05, that won't work.  lookups are executed on the local host where Ansible is running, not on the remote host, so that `id` command is running in the wrong place and will only co-incidentally return the correct information if the local identify of `sudo_user` happens to match the remote identity.

[2018-12-22 15:47] Spredzy commented on #50141
@abadger thanks for the detailed answer and the effort you've been through to reach out to the CentOS team. Much appreciated.

Just to clarify, and please correct me if I am wrong, from now on there would be no out-of-the-box way (understand facts) to "know" to which minor version a CentOS version belongs as they do not support point in time releases?

[code]

So if one wants to retrieve this info

[2018-12-22 15:49] yar05 commented on #50272
@larks ahh you're right. Tested it with connection:local

[2018-12-22 18:01] Titerote commented on #40910
I am experiencing this same issue.This is my setup

ansible 2.7.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/tite/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.7.1 (default, Nov 23 2018, 10:01:49)

[2018-12-22 18:35] abadger commented on #50141
Correct

[2018-12-22 23:45] kinwolfqc commented on #39583
really need this.  modules and DSC resources gets updated so fast(and with breaking changes), that we need the ability to control the version installed.

[2018-12-23 00:16] dagwieers commented on #39583
needs_contributor

[2018-12-23 00:55] kbreit commented on #49951
@ericdost I've been thinking this through a little more. I'm still open to creating this but as I said, it'll probably be a while. However, I would like to suggest a change or two to your playbook. Instead of using `org_name` and `net_name` try to change to `org_id` and `net_id`. Each time the Meraki modules are run, they do a lookup to translate the network name to the network ID. This requires a

[2018-12-23 02:22] kluisi opened #50276 "External Roles not equivalent to roles within the playbook's roles directory"
##### SUMMARY

I am having an issue where I am trying to call one role from a playbook and to specify the task list based on some input data. The role/task list that I call will then act as an interface to pass the variables to another role that will actually perform the work. When my roles are located within the roles directory of the playbook, everything works as intended. As soon as I move my r

[2018-12-23 02:46] #47335 closed, assigned to Akasurde

[2018-12-23 03:39] #46626 closed, assigned to Qalthos

[2018-12-23 04:25] #46144 closed, assigned to nobody

[2018-12-23 04:50] pilou- opened #50278 "variables defined with 'vars:' keyword below 'role:' have unexpected values when used in imported/included roles"
##### SUMMARY

Variables defined with `vars:` keyword below `role:` have unexpected values when used in imported/included role.

I am not sure:
* if this is a bug
* or a poorly documented feature because:
  1. Are variables defined with `vars` keyword below `role` and `role params` the same thing ?
  2. 2.6 documentation switched [from `role params` to `role vars`](37844), implying that variables

[2018-12-23 05:37] UnitedMarsupials commented on #49910
1. On Linux -- and on BSD -- shell-changing is done with `chsh`, which _can_ be invoked by an end-user for himself. Indeed, on BSD there is no `usermod` at all...
2. This is harder, indeed, but the goal is worthy -- it would provide for a currently-missing functionality...

[2018-12-23 08:39] #41235 closed, assigned to nobody

[2018-12-23 09:23] #32626 closed, assigned to nobody

[2018-12-23 09:39] walterdolce commented on #47573
Hi @jeanfabrice, no I did not. It would be fairly confusing if I had to resort to that kind of workaround. As an Ansible user, I would expect to either use `{{jinja_variables}}`, or simply plain YAML.

[2018-12-23 10:26] BarbzYHOOL opened #50280 "Can't reference a dict key inside the same dict"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dictionaries

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

All

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

We should be able to define a dict key relatively to another dict key (in the same dict)

##### ACTUAL RESULTS

[code]

##### REFERENCE
https://github.com/ansible/ansible/

[2018-12-23 11:30] Bareliah commented on #37337
HI @Poil,
can you please post how you wrote it? I'm using ansible 2.7 and still facing this problem with vmware_guest - it's succeed remove from inventory but not delete from disk

[2018-12-23 11:38] #36983 closed, assigned to nobody

[2018-12-23 15:11] pilou- commented on #17324
AFAIK this isn't an issue, see closed issue #19664.

In order to use a template in a key, the whole dict needs to be a string. There is an example [here](https://github.com/ansible/ansible/pull/19664#issuecomment-271883347):
* using double quoted style:
[code]
* or using literal style:
[code]

[2018-12-23 15:29] BarbzYHOOL opened #50281 "Lookup passwordstore - Only alphanumeric passwords (PASS "-n" option)"
##### SUMMARY

Add native PASS option to alphanumeric passwords only

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`passwordstore.py`

##### ADDITIONAL INFORMATION

Add the option "-n" from pass, to only allow letters/numbers password when generating a password.

This is very useful because some webservices are stupid and don't allow complex passwords.

[2018-12-23 15:41] pilou- commented on #40006
With `debug` module, use `msg: {{ foo }}` (instead of `var` debug module parameter) in order to trigger an error when expression isn't defined. That behavior:
* isn't mentioned in `debug` module documentation
* is [tested in an integration test](https://github.com/ansible/ansible/blob/7ec82cdfc91d1bc4dff2546e1f5b088ce1a6a1c0/test/integration/targets/var_blending/roles/test_var_blending/tasks/main.

[2018-12-23 15:45] #31042 closed, assigned to nobody

[2018-12-23 18:40] IPvSean opened #50283 "timestamp from *os_config network modules is unreliable, based on when it returns so you can't group by timestamp"
##### SUMMARY
The timestamp when you kick off a ios_config and junos_config backup yes is based on when the device returns.  This means you will get various times depending on when that router/switch decides to return.

This makes it extremely hard to group a fabric (multiple devices) into a timestamp that you want to revert to (cattle vs pets, fleets vs ships).

It would be more useful to timesta

[2018-12-23 22:21] RuslanZavacky commented on #26359
I've got the same error as a topic starter, tried to add

[code]

but no luck :(

if there are any other solutions for this, I would appreciate it, as for now, my introduction to ansible ended with this error unfortunately :(

[2018-12-23 23:20] #22458 closed, assigned to Akasurde

[2018-12-23 23:56] ragingpastry commented on #19084
I am attempting to do this exact same thing and am running into the same issue. In my opinion, it is much easier and cleaner to define the roles and role variables in the same place.

[code]

This format makes much more sense because it allows me to keep the variables and the roles in the same place.

[2018-12-24 00:27] #19617 closed, assigned to emonty, rcarrillocruz

[2018-12-24 01:41] #15148 closed, assigned to nobody

[2018-12-24 03:36] IPvSean commented on #50283
the seconds won't work because you could grab rtr3 at 59 seconds and rtr4 would wrap to the next minute... what i ended up doing was setting all devices to whatever the inventory thinks is the first device in inventory... this is really really ugly

[code]
i thus have changed the data structure to be more usable like this->
[code]

I am not sure how to solve.... like ideally the timestamp from a s

[2018-12-24 06:16] Akasurde commented on #49815
resolved_by_pr #50255

[2018-12-24 06:33] Akasurde commented on #38641
cc @sbulage

[2018-12-24 06:50] Akasurde commented on #35764
cc @sbulage

[2018-12-24 06:59] Akasurde commented on #45774
!component =lib/ansible/plugins/lookup/hashi_vault.py

[2018-12-24 07:00] Akasurde commented on #45774
@m4dm4rtig4n Thanks for reporting this issue. Would you be interested in opening a PR using your findings ? Thanks. Let me know if you need any help.

[2018-12-24 07:09] czunker commented on #33834
This pull request should fix it: https://github.com/ansible/ansible/pull/47748

[2018-12-24 07:13] Akasurde commented on #43896
@1001QAdotNET "inventory source data" refers to the inventory [plugins](https://github.com/ansible/ansible/tree/devel/lib/ansible/plugins/inventory). You can read more about inventory caching in later [part of document](https://docs.ansible.com/ansible/latest/plugins/cache.html#enabling-inventory-cache-plugins). Let me know if you any other question.

Thanks

needs_info