[2018-07-19 14:57] y0hnn opened #43026 "Exception with `ansible_port` on delegate task result"
##### SUMMARY
If we have a task that delegate to localhost, we have an exception thrown :

[code]

##### ISSUE TYPE
This seems to be related to #42577. Reverting this commit fix the issue.

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Something working, not a

[2018-07-19 15:09] kinwolfqc commented on #38320
Ok, upon further testing:

    wait_for_process: True
is causing the "msg": "L’autorisation d’effectuer cette opération a été rejetée."  (Authorization to perform this operation was rejected)

If I remove it, that message is gone, but there is no waiting for the task to complete, obviously.

[2018-07-19 15:18] joezersk commented on #43009
Just tested.  This is exactly what I hoped for.  Thank you very much for your rapid replies and changes!

[2018-07-19 15:22] mbuiro commented on #40425
@edevenport This also applies to the Terraform 1&1 provider as well :+1:

[2018-07-19 15:25] luca-drf opened #43027 "[rabbitmq_parameter] JSON value not parsed correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

rabbitmq_parameter
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Host: macOS 10.12.6
Target: Ubuntu 16.04.4 LTS (GNU/Linux 4.4.0-130-generic x86_64)
RabbitMQ 3.7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Shovel created correctly

##### ACTUAL RESULTS

[code]

I suspect the problem lies in the fact that `value` gets s

[2018-07-19 15:45] #42546 closed, assigned to nobody

[2018-07-19 15:49] kinwolfqc commented on #38320
Update:  The problem is actually related to the vmware user that does not have enough rights since it works fine when we use the admin account.
Do you have any idea what rights we'd have to add to the account that "wait_for_process" requires?

[2018-07-19 15:58] baughj opened #43029 "sort_json_policy_dict in ec2 module utils does not work with multi-statement policies (affects iam_role et al)"
##### SUMMARY
`sort_json_policy_dict` in module_utils/ec2.py does not work with multi-statement IAM policies when using python 3. Anything using this utility function is affected, I encountered the problem with `iam_role` in particular.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/ec2.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMEN

[2018-07-19 16:06] bcoca commented on #43026
I cannot reproduce the error, i don't see how you get an undefined `ansible_port` at that point, but i can see how the code would cause the error if that were the case.

Can you give us more information to reproduce the issue? probably something in inventory is causing the absence of the key.

[2018-07-19 16:07] coreywan opened #43031 "REGRESSION: network_cli with ios hanging"
##### SUMMARY

network_cli is hanging when trying to connect to our ios devices.  We did a packet capture, and the ansible control host is not even trying to make a connection to the network device.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(ansible2.6) C02VV262HV2R:ansible-network_remote_site wanlessc$ ansible-config dump --only-cha

[2018-07-19 16:07] baughj commented on #43029
!component =lib/ansible/module_utils/ec2.py

[2018-07-19 16:22] samccann commented on #42014
Closed by [https://github.com/ansible/ansible/pull/42993](url) Thanks @justjais and @jlozadad.

[2018-07-19 16:22] #42014 closed, assigned to justjais

[2018-07-19 16:38] yohannprigent commented on #43026
It seems that there is nothing related to in the inventory. `ansible_port` should not be defined, because it is delegating to localhost (not an ssh connection). I try to execute the `ansible-consul` role, which is throwing the exception. How could I help you more ?

[2018-07-19 16:39] RootTJNII commented on #37941
It's a problem with the shebang line.

[code]

if I run `/usr/bin/python3 /tmp/ansible-tmp-1532017929.47-120910671703946/command.py` it starts.

I haven't dug into exactly how Ansible is calling this script but I've seen Docker throw 'No such file or directory' for a script when in reality it can't load the interpreter.  I'm assuming this is the same problem causing a misleading error.

[2018-07-19 16:43] ryansb commented on #42963
Unfortunately I'm not able to reproduce this on Ansible 2.5.5 or on the current 2.6 stable version. Can you provide a playbook that's able to reproduce the error?

A common issue with AWS modules is a `boto` or `boto3` version that is out of date. Can you please provide the versions of boto, boto3, and botocore that are installed on the system running this task?

needs_info

[2018-07-19 17:00] bcoca commented on #43026
PR above should fix the issue, but i would like to create a test that reproduces the problem, to avoid it from happening again.

Since i cannot reproduce locally, im unsure how to proceed.

[2018-07-19 17:10] bcoca commented on #42981
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `package` module is not intended to manage all the specific features of each package management system only the lowest common denom

[2018-07-19 17:10] #42981 closed, assigned to nobody

[2018-07-19 17:29] edevenport commented on #40425
Thank you @mbuiro

[2018-07-19 17:41] areobe commented on #24989
@sijis
Both formats work for me, results are the same. (I see the members)
`getent group "domain users" vs getent group "domain users@domain.local"`

[2018-07-19 17:49] gundalow opened #43038 "Document other tools, editors, linters, etc"
##### SUMMARY

During a meetup I was asked about good editors that offer completion. This got me thinking that we could extend https://docs.ansible.com/ansible/latest/community/other_tools_and_programs.html to list other useful things, as well as take the time to tidy up the list a bit

* Editors
  * https://github.com/pearofducks/ansible-vim
  * VS Code: https://marketplace.visualstudio.com/items

[2018-07-19 17:58] Klistel opened #43039 "java_cert module: add ability to assign private key password to alias in jks"
##### SUMMARY

- When creating a JKS from a PFX via java_cert, there isn't an option to assign a private key password to the certificate within the JKS, only to assign an overall password to the JKS

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

java_cert

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-07-19 18:03] #43005 closed, assigned to nobody

[2018-07-19 18:09] arbhoj commented on #39004
We recently ran into this problem after upgrading to AWX 1.0.5. Upgrading entire Ansible version was not an option for us so we updated the following file to get things working again:
"/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py". (The fixed version of the file is attached. Renamed extension to .txt to be able to attach. Please rename it back to .py when applying)
[set_fact.

[2018-07-19 18:22] arbhoj commented on #38991
We recently ran into this problem after upgrading to AWX 1.0.5. Upgrading entire Ansible version was not an option for us so we updated the following file to get things working again:
"/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py". (The fixed version of the file is attached. Renamed extension to .txt to be able to attach. Please rename it back to .py when applying)
[set_fact.

[2018-07-19 18:33] ryansb commented on #42917
Please try this fix https://github.com/ansible/ansible/pull/43042 and see if it resolves your issue

[2018-07-19 18:33] ryansb commented on #42917
needs_info

[2018-07-19 19:33] ChrisDoesCode commented on #42614
@Akasurde thanks for making a branch.

I've tested and am receiving similar errors with ipv6. Will test your branch shortly and let you know. Would like to modify as well to completely remove need for IPv4 for my environment.

[2018-07-19 19:40] jborean93 commented on #42294
@maffydavison the issue is fixed in the code but no release has been made yet so there is no use tracking a "fixed" issue. We are expecting 2.6.2 to come out in the next few days that will include the fix, unfortunately we found/fixed the issue too close to the 2.6.1 deadline and missed that so had to wait for the next update.

Currently you can use `2.5.6`, or straight from the git repo on the `d

[2018-07-19 19:41] seifer44 commented on #42980
Dude, awesome turnaround! Works like a charm. Thank you!

[2018-07-19 19:41] #42980 closed, assigned to Akasurde

[2018-07-19 19:49] pffs opened #43044 "IOS remote file upload"
##### SUMMARY

Currently all file copy mechanisms for IOS devices are built around copying a file from the controller to the host via SCP. In some situations this is either not an ideal mechanism or not possible depending on the environment. A few reasons for this include:
* SCP is a **very** slow copy mechanism to most IOS devices. Copying via HTTP or FTP usually results in a 10-20% increase in c

[2018-07-19 19:54] maffydavison commented on #42294
Thanks!  That helps a lot.

On Thu, Jul 19, 2018 at 12:41 PM, Jordan Borean <notifications@github.com>
wrote:

--

*"All you need is love. But a little chocolate now and then doesn't
hurt." - Charles Schulz*

[2018-07-19 20:13] TraGicCode commented on #42423
Awesome i just ran into this today.

[2018-07-19 20:22] jamesmarshall24 opened #43046 "Ovirt_disk Does Not Handle Stderr as Expected"
##### SUMMARY

When ovirt_disk fails, the error is not shipped to stdout for Ansible to handle through task output following [Conventions, Best Practices, and Pitfalls: Common Pitfalls](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_best_practices.html#common-pitfalls) which can break stdout for both AWX and Tower.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ovirt_

[2018-07-19 20:41] jborean93 opened #43049 "win_acl enumeration issues for InheritanceFlags"
##### SUMMARY
When trying to use win_acl it will fail with an error that it cannot cast `$null` to `InheritanceFlags`. This most likely due to https://github.com/ansible/ansible/commit/f2acc97b843781c363f170099391f87535e459e2 but further investigation is needed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_acl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONM

[2018-07-19 21:01] yaakov-github commented on #40809
I think this also is happening for init - if I read the logic properly it only uses 'service' or 'initctl' to get service information if it can't find chkconfig, otherwise it bases whether or not a service is 'running' off of that.  In other words, 'running' means that a service is enabled, not that it is actually running.  Please let me know if I should log a new bug report for this or if it can

[2018-07-19 21:17] samdoran commented on #42927
There are a couple of things to address and I'll do my best.

Using dot notation to define variables in YAML is not supported and we have no plans to do this. Dot notation in Ansible [comes from Jinja](https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#ansible-supports-dot-notation-and-array-notation-for-variables-which-notation-should-i-use). Making this work on the YAML side w

[2018-07-19 21:17] #42927 closed, assigned to nobody

[2018-07-19 21:18] Aethylred commented on #42546
Just adding to your summary:
* this is an issue with _any_ Python code that calls pip to install `cffi` after importing `cryptography`
* any pip requirements file that installs or upgrades `cffi` directly or as a dependency can potentially segfault and abort Ansible.

Is there a way of defining a pip task so that Ansible continues if pip segfaults?

[2018-07-19 21:21] ChrisDoesCode commented on #42614
@Akasurde no luck with the branch you provided.

The IPv4 gets set correctly, but there is no IPv6 getting set. Additionally, I attempted commenting out the line requirement :1200 in your code regarding
` if 'ipv6' in network and 'ip' not in network and network.get('type') != 'static':`
and no luck.

Here was my networks section of VMware_guest:
`networks:
            - name: "{{ use_vlan }}"

[2018-07-19 21:21] samdoran commented on #42933
cc @chouseknecht @alikins

[2018-07-19 21:23] feisa commented on #42583
any update?

[2018-07-19 21:28] feisa opened #43050 "Ansible Playbook Issue"
##### SUMMARY
Receive the following error when running a playbook "
<idrac-idrac-server> ESTABLISH LOCAL CONNECTION FOR USER: root
<idrac-idrac-server> EXEC /bin/sh -c 'echo ~root && sleep 0'
<idrac-idrac-server> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /root/.ansible/tmp/ansible-tmp-1532035285.03-128828471719104 `" && echo ansible-tmp-1532035285.03-128828471719104="` echo /root/.ansible/tm

[2018-07-19 21:42] jacksonp2008 commented on #42539
I'm sorry but there is no easy way for me to test this since it happens
periodically on a production system.  Any suggestions,  or when it might be
included in a mainline release of ansible, then I could more easily test.
The other option would be to give me only the changes for this fix and I
can apply them manually.  I am open to that as well if there are no other
dependencies.

thanks

Regards,

[2018-07-19 21:44] samdoran commented on #42989
cc @chouseknecht @alikins

[2018-07-19 21:46] feisa commented on #43050
please let me know what other info I could provide

[2018-07-19 21:47] jborean93 commented on #24884
@forquare @renatoram, I haven't used the module in a while but IIRC it will always returned `changed: True` when `update_password` is `always` so not sure if the ValidateCredentials code path is actually doing anything. https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_user.ps1#L93-L110 indicates a change/password reset should only occur when ValidateCredentials is fals

[2018-07-19 21:53] samdoran commented on #43010
I am able to duplicate this in `devel`. Looks like only the first item in the path shows up in the output of `ansible-galaxy list`.

[2018-07-19 22:23] ChrisDoesCode commented on #42614
Real interested to see where this thread goes. For the time being, see no reason not to just:
1. Create VM using RFC1918 on a private VLAN
2. Configure VM including IPv6 in netconf
3. Remove RFC1918 address and reboot
4. Sip lemonade

[2018-07-19 22:32] samdoran commented on #43010
Looks like we need to pass `path` to the GalaxyRole object in [`execute_task()`](https://github.com/ansible/ansible/blob/e756ef82659f333429ec4a655ade72cb28b9b34c/lib/ansible/cli/galaxy.py#L503-L503). Otherwise is defaults to using the first path in `roles_path`.

[2018-07-19 22:35] webknjaz commented on #42546
@Aethylred well, it's not python code calls pip, it's anyone running pip in a way where it'd be forced to rewrite existing cffi library. FYI pip module basically executes it as a shell command, not via importing stuff. @HD650 just forgot to emphasize this.

Basically, it's a bug in pip, which is present in currently released version but fixed in their `master`.
The problem was that the cffi module

[2018-07-19 22:36] lumberj commented on #34320
What's the status on this? I'd be happy to help with any work to get things moving along

[2018-07-19 22:40] samdoran commented on #43010
Please try #43051 and see if that fixes the issue.

[2018-07-19 22:41] samdoran commented on #43011
cc @abadger

[2018-07-19 22:46] oybed commented on #42018
@fxfitz I'd like to see that we support both `krbprincipalexpiration` (and the coming `krbpasswordexpiration`). The way I view this, the `krbprincipalexpiration` is used to set when the account is to be "expired" - i.e.: for a temporary user, etc. This is different than when the password expires. The former may be after 1 year (i.e.: think contract / temporary worker), while the password follows t

[2018-07-19 22:47] samdoran commented on #42957
cc @bcoca

[2018-07-19 22:48] samdoran commented on #42958
cc @bcoca

[2018-07-19 22:50] oybed commented on #42018
Actually, after further looking at the details, I see you are making `krbpasswordexpiration` and `password` mutual exclusive - which is probably fine. I just wish we had `krbprincipalexpiration` implemented back in `2.5` as we were of the impression that it was being added then. Maybe I should just open another issue for this. Thoughts?

[2018-07-19 22:56] oybed commented on #32058
I'd like to have this issue re-opened as it wasn't properly implemented. This feature request was for getting `krbprincipalexpiration` supported as part of `ipa_user`. Please let us know if a re-open or a new issue should be written.

More details in the thread here:
https://github.com/ansible/ansible/issues/42018

[2018-07-19 23:00] samdoran commented on #43050
For help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-19 23:00] #43050 closed, assigned to nobody

[2018-07-20 00:22] jborean93 commented on #43049
PR to fix this issue https://github.com/ansible/ansible/pull/43054

[2018-07-20 01:09] OxHobbs commented on #42920
I did some testing using the service principals in a playbook as well.  Azure Government still fails with a similar error while the Azure Public cloud works as expected.

[2018-07-20 01:11] mickael-ange commented on #37984
I confirm I have the same issue with Ansible 2.6.1
[code]

[code]

[2018-07-20 01:33] Fred-sun commented on #42920
Hi @yungezz ,Could you help check this, maybe some different authorized between Azure Government and Azure public cloud credentials. Thanks!

[2018-07-20 01:57] ChrisDoesCode opened #43057 "vmware_guest cannot create IP and hangs on waitforip"
##### SUMMARY

With ansible 2.6, vmware_guest no longer works as intended for creating the IP address and network config. Previous code that worked great in ansible 2.5 is now failing.

As such, after vm clone, ansible hangs waiting for IP address to get created on cloned vm
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Noth

[2018-07-20 02:19] moocan opened #43058 "with_items indirect variable reference: construct variable and fetch result"
##### SUMMARY
Impossible to construct variable and retrieve related indirect values as defined in imported var file for each item at each loop using with_item.

I don't find any relevant documentation about indirect variable manipulation or examples.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing changed

##### OS / ENVIRONMENT
Ubu

[2018-07-20 02:30] jborean93 commented on #24884
@forquare @renatoram (and anyone else interested), I've opened a PR that uses `LogonUser` to validate the credentials and it would be great if you could test it out to see if it fixes your issue. Even if it doesn't I'm hoping it will give us a better (or even different) error that helps to narrow this down even more.

The PR is here https://github.com/ansible/ansible/pull/43059

[2018-07-20 02:57] Akasurde commented on #32058
@oybed Thanks for providing feedback and request for re-opening this issue.

[2018-07-20 02:58] OxHobbs commented on #42920
So, from what I can tell...

The exception is thrown at line 480 in azure_active_directory.py.

When I look at the values here for the authentication endpoints for Azure Government I see the following URL (output is truncated):
[code]

That same URL is also the initial part of the auth_uri.

However, as of June 30th, this endpoint was updated to _login.microsoftonline.us_.  Details [here](https://

[2018-07-20 03:01] Akasurde commented on #43057
@ChrisDoesCode Thanks for reporting this issue. By any chance are you using any locale different that 'en.US-UTF-8' in template image. We have seen issues in past where it wait forever if locale is different. I will check today and will let you know.

[2018-07-20 03:01] jborean93 opened #43060 "win_file support managing links and junction points"
##### SUMMARY
Need to add link support in win_file to bring it it closer to parity with what file can do.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Windows

[2018-07-20 03:05] Akasurde commented on #32058
bot_skip

[2018-07-20 03:12] OxHobbs commented on #42920
Okay, verified that _msrestazure_ was updated with the new endpoint.  So, the inventory script does work with Azure Government endpoints as long as _msrestazure_ is version __v0.4.33__ or later. :)

[2018-07-20 03:25] Fred-sun commented on #42920
Thanks for you help confirm, if msrestazure is version v0.4.33 or later will fix this, it means if we use different subscription need update msrestazure. Thanks !

[2018-07-20 03:31] jborean93 commented on #42991
@jOOc I was able to replicate the error and have opened a PR to fix the warning https://github.com/ansible/ansible/pull/43062. Would be great if you could test it out when you have some time.

[2018-07-20 03:33] Fred-sun commented on #33661
hi @liamraemclauchlan-ibboost ,Does yuwzho method has fixed you question, if yes, it just package's path issue, not ansible issue, we can close this issue,  if you still have this issue, please let we know, Thanks a lot!

[2018-07-20 03:39] fumiyas opened #43064 "`no_log: {{varname}}` always results true if `when` clause refers undefined variable"
##### SUMMARY
`no_log: {{varname}}` always results true if `when` clause refers an undefined variable.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE

[code]

`playbook.yml`:

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-07-20 03:45] Akasurde commented on #39982
@z3t0 Any news ?

[2018-07-20 03:59] pythonista6785 commented on #38991
:+1:

[2018-07-20 04:34] #42200 closed, assigned to ganeshrn

[2018-07-20 04:48] Akasurde commented on #43009
resolved_by_pr #43066

[2018-07-20 04:49] jOOc commented on #42991
@jborean93 Just tested it and its working fine for me. No more warnings.

[2018-07-20 04:55] Akasurde commented on #33661
@liamraemclauchlan-ibboost Could you please reply if fix provided by @yuwzho works for you ? needs_info

[2018-07-20 05:04] #42349 closed, assigned to Akasurde

[2018-07-20 06:01] alxgu commented on #42956
@Uwila Could you test the commit of #43014 ?

[2018-07-20 06:17] justjais commented on #42843
@jifox Thanks for logging your observation but I am unable to reproduce the respective issue, tested with:

IOS version: `Cisco IOS Software, IOSv Software (VIOS-ADVENTERPRISEK9-M), Version 15.6(2)T, RELEASE SOFTWARE (fc2)`

Scenario:
[code]
Kindly, try with other interfaces and let me know if you are still facing the issue.

[2018-07-20 06:40] Fred-sun commented on #35223
Hi @GBT ,I have test on ansible 2.4.2  and 2.6.1,all get pass result ,Could help try again, it may has been fixed, if you test OK ,we will close it , Thanks !

[2018-07-20 07:17] jvdbeemt commented on #43057
We have the same experience, locale is ok.

[2018-07-20 07:31] martingabelmann opened #43069 "docker_container module fails when using --check mode on Opensuse Leap 15"
##### SUMMARY
The docker container module with argument "state=started" fails when running ansible in check-mode after upgrading to Leap 15.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OpenSuse Leap **15**

##### STEPS TO REPRODUCE
Minimal example:
[code]

##### EXPECTED RESULTS
Running thi

[2018-07-20 07:47] martingabelmann commented on #43069
Im afraid this is due to some wrong version dependencies introduced during the package shuffling from 42.3 to 15 (and thus would have to be solved by upstream). But maybe someone knows about incompatibilities that may be referred to them...
Various version comparisons between 42.3 and 15:

 pkg  | 42.3 |  15
--- | --- | ---
python2 | 2.7.13 | 2.7.14
docker-py | 1.10.4 | 2.6.1
docker  | 17.09.1_ce-

[2018-07-20 07:51] martingabelmann commented on #43069
btw: upgrading (downgrading) to ansible 2.6 (2.4) also didn't help...

[2018-07-20 07:55] abirami-n commented on #28879
Fixed through [](https://github.com/ansible/ansible/pull/30507),

[2018-07-20 08:30] forquare commented on #24884
@jborean93 , that seems to have fixed the issue for me.  Thanks very much.

[2018-07-20 08:59] mercer opened #43070 "docker-container lost support for docker API version 1.24"
##### SUMMARY

While testing an upgrade of ansible from `2.3.2` to `2.6.1` we encountered an issue with `docker_container` giving `docker.errors.InvalidVersion: init param is not supported in API versions < 1.25`.

All works fine with ansible `2.3.2` and ansible `2.5.6`.

Docker version on host targeted by play running `docker_container`:
[code]

Initially we had `docker-py` version `1.9.0`, but t

[2018-07-20 09:05] dmurarasu opened #43072 "nxos_logging not idempotent"
##### SUMMARY

nxos_logging is not idempotent for "monitor level 5" and "console level 2". It seems to work for other levels just not these ones which are the device defaults.

Another issue is if you try to set console level 3-7, ansible returns changed but the command actually fails on the device. If you'd enter the command on the CLI the following error is returned: "Baud rate of console should

[2018-07-20 09:13] jrosser opened #43073 "nxos_file_copy does not check md5sum"
##### SUMMARY
The documentation for nxos_file_copy says "If the file is already present (md5 sums match), no transfer will take place." This does not appear to be the case, if a file of the same name is present, no transfer takes place regardless of the file content

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_file_copy

##### ANSIBLE VERSION

ANSIBLE_PIPELINING(/project-mcuk/ap/ipp/

[2018-07-20 09:15] GTBoon72 commented on #42784
Exact same issue here.
Ansible v2.5.4 on RHEL7 / AnsibleTower v2.5.2 on RHEL7
Also tried devel 2.7 version of the tower_job_wait.py script, with same result.

[2018-07-20 09:29] varh1i commented on #4876
@mkchoithani unfortunately it executes main.yml too when I specify only tasks_from: "taskname"

[2018-07-20 09:32] sylr opened #43074 "New encrypt_yaml/decrypt_yaml commands for ansible vault"
##### SUMMARY

In an effort to allow the encryption of sensible material in group_vars files but without obfuscating the entire structure of the YAML to persons who would work on playbooks but are not supposed to see the sensible data I'd like to propose to new ansible-vault command, encrypt_yaml  & decrypt_yaml.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-vault

##### STEPS TO

[2018-07-20 09:46] tripledes commented on #42938
@samdoran that was also my impression, thanks.

[2018-07-20 09:57] hawksight commented on #43010
I just tested with:
[code]

And it now works. Really quick fix thank you.

[2018-07-20 10:05] dachinat opened #43075 ":vars entry in inventory ini section does not override value from previous section"
##### SUMMARY
If you have two ini sections for an inventory and you declare same variables there, then in playbook value for second section still references the first one.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

Same results for `2.6.1`

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

**inventory/sample.in

[2018-07-20 10:33] ganeshrn opened #43076 "ios_command return empty output if persistent socket timeout is triggered"
##### SUMMARY

If a command timeout triggers and persistent socket is closed is results in empty output

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bin/ansible-connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-07-20 10:33] dmurarasu opened #43077 "nxos_system domain name issue when using vrf"
##### SUMMARY

When you define a specific vrf for domain_name, it works ok on the first run but every time you run it after that it tries to remove the specified domain name (if you have more than one domain/vrf combo specified only tries to remove one of them) from the default vrf.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_system

##### ANSIBLE VERSION

[code]

##### CONFIGURATI

[2018-07-20 10:42] abirami-n commented on #32507
@mzi77 The prompt handling works fine in ansible2.5. Please use the same and get back to us if you have any issues.

[2018-07-20 10:54] ganeshrn commented on #42340
@MaxKh Please try increasing the command timeout value as mentioned in the trouble shooting docs https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#timeout-issues

For `connection:local` timeout value can be set per task using provider.
[code]

[2018-07-20 10:57] oolongbrothers commented on #42966
Thank you for your bug report. I will have a look at this.

[2018-07-20 11:03] dmurarasu opened #43079 "nxos_static_route issues"
##### SUMMARY

When you use nxos_static_route in check mode it still changes device config.

If you specify vrf it also creates the vrf (I know other modules warn you if the vrf doesn't exit rather than creating it so maybe the module should check if vrf exists and fail if vrf is not configured on device).

It would be good to add track parameter option to the module but that's feature req not an

[2018-07-20 11:19] dmurarasu opened #43080 "nxos_hsrp - add features"
##### SUMMARY

Add option to support key-chain for authentication
Add hsrp delay reload <seconds> option
Add preempt delay minimum <seconds> option

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

nxos_hsrp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-20 11:40] dmurarasu opened #43081 "nxos_ospf_vrf - auto-cost not idempotent and check mode not supported"
##### SUMMARY

auto_cost parameter is not idempotent.

module does not support check mode.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Server: CentOS Linux release 7.5.1804
Device: N9K running NXOS: version 7.0(3)I6(1)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

on second run:
TASK [nxos_o

[2018-07-20 11:44] moocan commented on #43058
Hello,

I apologize so much.

using a loop / loop_control instead of with_items, it is working as expected

[code]
Documentation is not always easy to understand :(

Kind Regards

[2018-07-20 11:44] #43058 closed, assigned to nobody

[2018-07-20 11:45] mzi77 commented on #32507
It's not fixed, I'm using ansible 2.6.0, still got

fatal: [XXX]: FAILED! => {"changed": false, "msg": "timeout trying to send command: upgrade boot bootselector-image stack-unit 1 booted", "rc": -32603}

timeout set to 6000 and it's working even on long lasting commands such "upgrade system"

[2018-07-20 11:51] Uwila commented on #42956
@alxgu That seems to fix it for me

[2018-07-20 11:54] agowa opened #43082 "VMware: vmware_guest returning to early"
##### SUMMARY

The VMware module fails to wait for all guest customization's to complete before returning control to ansible e.g. ansible continues to process the playbook before the vm deployment has fully finished.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ArchLinux

##### STEPS TO REPR

[2018-07-20 11:58] abirami-n commented on #32507
@mzi77
tasks:
  - name: "Copy running-config to startup-config for the Dell EMC OS9 Device"
    dellos9_config:
      commands:
        - command: do copy running-config startup-config
          prompt: '\[confirm yes/no\]:\s?$'
          answer: "no"
 Please use the above way to handle prompts at the playbook.

[2018-07-20 12:06] betelgeuse opened #43083 "service action plugin and set_fact do not play together as documented"
##### SUMMARY
The service action plugin has the following code for automatic lookup:

https://github.com/ansible/ansible/blob/cadbd6ea9ccb7ad047dd717509598e3c551667e0/lib/ansible/plugins/action/service.py#L49

This does not allow intuitive override with the set_facts task.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

!component =lib/ansible/plugins/action/service.py

##### ANSIBLE VERSIO

[2018-07-20 12:06] mzi77 commented on #32507
I will try this, why this is not documented on

https://docs.ansible.com/ansible/2.5/modules/dellos9_config_module.html

?

[2018-07-20 12:34] agowa opened #43084 "VMware: Include a vmware transporter"
##### SUMMARY

Currently there is no vmware transporter. This is a limiting factor, when deploying vms without network connection to the ansible host. Therefore using VIX (the protocol vmware uses for connecting into the vm through vcenter/esxi host) as a transporter should be supported by ansible.

##### ISSUE TYPE
 - Feature Idea

##### EXPECTED RESULTS

Running ansible modules against vms in vc

[2018-07-20 12:39] ingokofler commented on #37259
+1 for auto shutdown of VMs

[2018-07-20 12:54] luca-drf opened #43085 "[rabbitmq_binding] Bindings gets created with empty source and destination as routing key"
##### SUMMARY

The binding gets created but the source results empty and the destination is used also as routing key.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

rabbitmq_binding

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Host: macOS 10.12.6
Target: Ubuntu 16.04.4 LTS (GNU/Linux 4.4.0-130-generic x86_64)
RabbitMQ 3.7.6

##### STEPS TO REPRODUCE

[code]

[2018-07-20 12:56] mzi77 commented on #32507
with

  - name: "Upgrade bootselector"
    dellos9_config:
      commands:
        - command: do upgrade boot bootselector-image stack-unit 1 booted
          prompt: '\[yes/no\]:\s$'
          answer: "no"
    register: debug_output

I got

TASK [Upgrade bootselector] **********************************************************************************************************************************

[2018-07-20 13:00] Akasurde commented on #43084
@agowa338 Thanks for reporting this issue. [`vmware_vm_shell`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_vm_shell.py) can be used for performing various operations on VMware guest which is not in network. Could you please elaborate more on use cases of this features ?

Thanks.

[2018-07-20 13:09] vasartori commented on #42408
Same issue here when we try to shutoff a instance.

[2018-07-20 13:22] bcoca commented on #43075
I cannot reproduce, i get:
[code]
needs_info

[2018-07-20 13:23] michaelkaye opened #43087 "Improve ability to find out about commandline options to improve visiblity."
##### SUMMARY
The features to provide human readable output from ansible CLI commands are not discoverable. This unfortunately is equivalent to them not existing for new users who do not already know about them.

Things that didn't help me find them:
1) Nothing links from the ansible / ansible-playbook online documentation to the list of available configuration options / environment variables - I

[2018-07-20 13:27] #43075 closed, assigned to nobody

[2018-07-20 13:32] #42986 closed, assigned to nobody

[2018-07-20 13:47] #42920 closed, assigned to nobody

[2018-07-20 13:53] e2-team opened #43089 "nxos_logging - Feature to add source-interface and use-vrf"
##### SUMMARY

Need to have a playbook that deploy our syslog server configuration in all our Nexus.
We have been able to do this with nxos_command plugin, but we want to do some checking before putting that config in place. That's why we prefer to have the nxos_logging.
I saw that now we have some "server" function added lately, that's a big plus. But from my understanding we are missing some con

[2018-07-20 14:08] LucidOne opened #43090 "ERROR! Unexpected Exception, this is probably a bug: [Errno 38] Function not implemented"
##### SUMMARY
When trying to run as a Debian post-install process `ansible-playbook` dies with a confusing error message because `/dev/shm` is missing. I'm happy to file the bug upstream against the multiprocessing module if that makes more sense.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

[2018-07-20 14:09] 3coma3 opened #43091 "HTTP Bad Request on login with ipa modules"
##### SUMMARY
I'm getting the following error when using ipa_*:
fatal: [vm1.ipatest001.net]: FAILED! => {"changed": false, "msg": "login: HTTP Error 400: Bad Request"}

Verified with curl that the FreeIPA password endpoint authenticates correctly and returns the session data.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ipa_group
ipa_user
module_utils/ipa
(probably the other ipa user modu

[2018-07-20 14:10] sts opened #43092 "Recover network_cli from ConnectionError"
##### SUMMARY

While working on Ansible scripted Cisco ASA upgrades I found, that during a ASA cluster failover, which results in a connection drop from the ASA side, Ansible fires the following exception  `ansible.module_utils.connection.ConnectionError: Socket is closed`. After that I'm unable to get Ansible to reconnect to the host to perform further operations.

`ignore_errors: yes` seems to b

[2018-07-20 14:12] jvdbeemt commented on #43057
No, open-vm-tools is installed. I forgot to mention i have tested this on vmware-esxi/vcenter 6.7. I went back to vmware 6.5 ( build 4564106) and i don't have this issue anymore.  @ChrisDoesCode  Which version did you test?

[2018-07-20 14:45] D3DeFi commented on #42617
Hi, thank you for the report. I was able to reproduce the problem and send a fix (link above).

This will probably not get released until ansible 2.7 comes out, so you can either run ansible from source or manually patch your installed version in the meantime.

[2018-07-20 14:52] #42982 closed, assigned to nobody

[2018-07-20 14:54] betelgeuse commented on #43083
!component =lib/ansible/plugins/action/service.py

[2018-07-20 14:57] #42956 closed, assigned to nobody

[2018-07-20 15:02] #40187 closed, assigned to Qalthos

[2018-07-20 15:02] andreaso commented on #35190
Yeah, this one definitely feel between the cracks. Sorry about that.

@EpiqSty: If you're still interested, feel free to take a look at the https://github.com/ansible/ansible/pull/43096 pull request.

[2018-07-20 15:09] Akasurde commented on #43091
@guampa Thanks for reporting this issue. Could you please check if `vm1.ipatest001.net` resolvable or not? I had same issue, you can check comment here - https://bugzilla.redhat.com/show_bug.cgi?id=1451768#c6

[2018-07-20 15:09] samdoran commented on #43010
Thanks for the confirmation. I'll get this merged and backported.

[2018-07-20 15:11] Akasurde commented on #43057
@jvdbeemt What about `perl` package ? I am also using 6.5. I don't have 6.7 though.

[2018-07-20 15:32] #42897 closed, assigned to nobody

[2018-07-20 15:32] ChrisDoesCode commented on #43057
@jvdbeemt @Akasurde that's interesting to hear.
We are using 6.5.
The open-vm-tools version is 10.1.10.63510
Yum for perl let me know I'm already using perl-5.16.3-292.el7.x86_64

Further assistance greatly appreciated. This build has a deadline of Monday so this weekend will be work heh

[2018-07-20 15:42] ppruchnerovic commented on #25033
Hello,

I can confirm this bug exists on
RHEL 7 on AWS
[code]

I created partition, lvm volume group and logical volume.

Then tried to re-run playbook and with this definition, ansible is trying to create partition again.
[code]

But if I remove `flags: [ lvm ]`, it is not trying to change it.

[2018-07-20 15:50] olimatis commented on #23534
Effectively this problem is still around. I use a similar workaround ... but still try using the easy_install module ;)

[code]

[2018-07-20 15:51] ChrisDoesCode commented on #43057
@Akasurde to your other question:
[code]

[2018-07-20 16:03] #36284 closed, assigned to ganeshrn

[2018-07-20 16:03] #37262 closed, assigned to ganeshrn

[2018-07-20 16:07] savilesupgrade commented on #24989
@areobe So does the example playbook work now? If not, try changing this in the `vars` section:
[code]

I did try with ansible 2.5 and ansible 2.6 and i recall your example playbook working.

[2018-07-20 16:18] crestenstclair opened #43104 "Leaky variable causing undesirable behavior in latest ansible `devel` branch."
##### SUMMARY
Currently there is a bug where variables set as args to the `include_role` tasks leak into other tasks, essentially making all `args` be set as global variables.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 17.10

##### STEPS TO REPRODUCE

I've provided an example repo that

[2018-07-20 16:19] #41549 closed, assigned to nobody

[2018-07-20 16:51] mtorelli opened #43106 "aci_access_port_to_interface_policy_leaf_profile reports changed when child infraPortBlk exist"
##### SUMMARY

When using the aci_access_port_to_interface_policy_leaf_profile module to create two separate port blocks (infraPortBlk) under the same Access Port Selector (infraHPortS) and both port blocks already exists, one of them will report status "ok" and the other one status "changed".  Both should report status "ok" since both already exist.

##### ISSUE TYPE
 - Bug Report

##### COMPONEN

[2018-07-20 17:07] m4r10k commented on #41577
@Akasurde It seems like, that it is OK with *one* underscore in the name like `SERVER_200`. Please can you test it with two underscores like `_SERVER_200`? That would be really nice, as this is the case which does not work. Thank you!

Using the official VMWare tools does not change anything and the locale on the created VMWare machines is already `en_us`.

[2018-07-20 17:09] ChrisDoesCode commented on #43057
@Akasurde @jvdbeemt

Update for closure:

- One of the VMs from the Inventory had an IP address that was already taken by a powered off VM in the DPG

- Would greatly request that there be error checking with respect to IPs in use whether from a ping or even checking the inventory host against the VSphere inventory. No error was reported by Ansible, only a hang

[2018-07-20 17:09] #43057 closed, assigned to nobody

[2018-07-20 17:17] jmcostecalde commented on #23675
That issue is 1year and a half old. I have moved to other work since then. I unfortunately cannot verify any fix at this point.
Thank you for working on it though

[2018-07-20 18:23] mattclay commented on #42891
I've disabled the automatic pruning on the preview and release repos -- leaving it only for the nightlies.

[2018-07-20 18:23] #42891 closed, assigned to mattclay

[2018-07-20 18:40] dagwieers commented on #43106
cc @rsmeyers

[2018-07-20 18:58] mjmayer opened #43109 "elb_application_lb cannot append rules only create/replace"
##### SUMMARY
elb_application_lb module does not allow for the modification of rules without replacing existing rules.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_application_lb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_LOG_PATH(/home/vagrant/.ansible.cfg) = /home/vagrant/ansible.log

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Create an elb with rules then

[2018-07-20 20:07] kylesloan opened #43111 "netscaler modules all fail with "Could not load nitro python sdk""
##### SUMMARY
Doing a fresh install of ansible via pip, followed by nitroapi, causes all netscaler_* modules to fail with "Could not load nitro python sdk".  I have followed http://netscaler-ansible.readthedocs.io/en/latest/usage/getting_started.html and tried different steps but have been unable to figure out why ansible does not find this module.  The https://docs.ansible.com/ansible/2.5/modules

[2018-07-20 21:10] guampa commented on #43091
Hello @Akasurde , thank you for your prompt response.

Yes, I did check and it is reachable. I've also verified with a small shell snippet that the server is authenticating correctly:
[code]

[2018-07-20 22:22] chiradeep commented on #43111
Could you try out the instructions here: https://github.com/citrix/netscaler-ansible-modules
and install the Nitro SDK?

[2018-07-20 22:39] jakegatsby opened #43115 "FAQ Documention: Ansible installation in Python3 virtualenv incorrect"
##### SUMMARY
The instructions in the FAQ for installing Ansible in a Python3 virtualenv are incorrect

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs/docsite/rst/reference_appendices/faq.rst

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### EXPECTED RESULTS
- The FAQ gives correct instructions for installing Ansible in a Python3 virtualenv
- `virtualenv` specif

[2018-07-21 01:53] jakegatsby commented on #43115
!component -docs/docsite/rst/network/user_guide/faq.rst
!component =docs/docsite/rst/reference_appendices/faq.rst

[2018-07-21 04:12] punkrokk commented on #32766
it would be useful to have a "maybe you meant remote_src" in the error message.

[2018-07-21 05:21] maxamillion commented on #40809
@yaakov-github please file a new issue ticket if you don't mind, that would just be easier for me to track. Thanks!

[2018-07-21 16:00] icycandy opened #43122 "if `control_path` set to an unexsit path, all ansible job will go to only one host"
##### SUMMARY
if `control_path` set to an unexsit path, all ansible job will go to only one host

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.2 (Final)

##### STEPS TO REPRODUCE

[code]

get_ip.sh
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

The `c

[2018-07-21 19:22] amaciel81 commented on #42906
Hi Julien,

About ec2, there are plans to convert it to use boto3? boto is deprecated since a while, all new features are only added to boto3. If I offer a patch for ec2 module, how hard would be to have it accepted?

Thanks!

[2018-07-21 22:48] EugenMayer commented on #41639
:) silly. go on, close it

[2018-07-22 04:57] orthanc opened #43124 "s3_bucket module requires ListAllMyBuckets permission (backward compatability)"
##### SUMMARY
s3_bucket module requires the ListAllMyBuckets permission in order to perform any operation since it uses listing buckets to check if the bucket being manipuated already exists.

This permission is quite broad as it essentially means the ability to discover any s3 buckets in the account. There's no practical way to restrict it finer than the account. That said it is quite limited as

[2018-07-22 06:10] mcafeedee commented on #21850
hi kaage,

I am getting the same message for almost all ansible commands (e.g. ansible-doc, ansible-playbook), except ansible. How did you move ansible repo to completely another directory? And how can I check the current ansible repo?

Thanks.

[2018-07-22 06:21] mcafeedee opened #43125 "ERROR! Missing target hosts in ansible 2.6.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
executing of commands like "ansible-doc", "ansible-playbook"

##### ANSIBLE VERSION
ansible 2.6.1.post0
  config file = None
  configured module search path = [u'/tmp/ansible/lib/ansible']
  ansible python module location = /tmp/ansible/lib/ansible
  executable location = /tmp/ansible/bin/ansible
  python version = 2.7.14 (default, Oct 31 2017,

[2018-07-22 06:32] mcafeedee commented on #43125
I verified the files in "lib/ansible/playbook". Everything seems fine.

After a ansible cfg defined, I can execute ansible, like "ansible -i inventories/inventory_dev aoms_dev -m ping". It works without any problem.

But if use "ansible-playbook" to execute a playbook, or use "ansible-doc", the error message "ERROR! Missing target hosts" occurred again and again. It seems that "ansible-playbook" e

[2018-07-22 06:44] mcafeedee commented on #43125
What I find out now is that not every *.py under "lib/ansible/playbook" has an *.pyc.

Could it be a compiling problem?

[2018-07-22 07:16] mowgli opened #43126 "String in boolean condition is an error"
##### SUMMARY
In documentation of ansible, jinja and python, all tell that everything that is not explicitly false (False, false, '', {}, …) is true. Especially defined strings like 'abc'.

But when used in when clauses, it tells that abc is undefined, what is completelly nonsense as it is a defined string.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not appl

[2018-07-22 07:36] mowgli commented on #43126
Let me add, if I write the conditions in plain jinja script ({% if test1 %}True{% else %}False{% endif %}) it works as expected.

[2018-07-22 09:53] Gisson commented on #40023
It should also be possible to pass extra parameters to the module like in the zypper module. I wanted to use the hyphen feature to disable some recommended packages but ansible does not support that yet.

[2018-07-22 09:58] Uwila commented on #42957
As the `rc` is still 0, I'm thinking that perhaps we could check for an empty `stderr`. There's still the problem that a `stderr` could be used for debug information and not indicate failure, but it could turn out to work.

[2018-07-22 10:35] Uwila commented on #42957
This `stderr`-based fix is implemented in #43127

[2018-07-22 10:46] irosenzw opened #43129 "Team network device shown as 'type: Ether' instead of 'type: Team'"
##### SUMMARY

When trying to filter network interfaces by type, one can't differentiate Ethernet interfaces and Team interfaces, they both have the type Ether.

I assumed that Team will have a unique type of his own like bond have (type: Bonding)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

"ansible_team0": {
            "active": false,
            "device": "team0",
            "featu

[2018-07-22 10:47] Uwila commented on #42933
In `lib/ansible/galaxy/role.py`, in the `remove` method, there is first a check for `metadata`. This is `null`, possibly because of the empty `meta/main.yml`.

[2018-07-22 11:17] davidstockdale opened #43130 "junos_config using netconf no longer honours PERSISTENT_COMMAND_TIMEOUT from configuration file"
##### SUMMARY

I have the following in my configuration file
[code]
as committing a configuration on some of our slower Juniper devices take longer than the default 10 seconds. In Ansible 2.5.3 this worked fine, but in 2.6.1 I once again hit the timeout. If I pass the option as an environmental variable instead
[code]
it works as expected. The option in the configuration file no longer appears to

[2018-07-22 11:19] #42617 closed, assigned to nobody

[2018-07-22 11:51] cropr commented on #34164
I am experiencing the same issue.  It seems that the script plugin has issues with the line endings of the source file.  The error message indicates  that the first 2 lines of the source file are concatenated.  If I a do a unix2dos of the my script file, the error changes

[2018-07-22 12:17] cropr commented on #34164
Experiencing the same use on ansible 2.6.1 with the gce.py plugin.   The plugin is run and returns a nice json string, but the parses fails.

[2018-07-22 12:27] #42990 closed, assigned to nobody

[2018-07-22 12:43] sivel commented on #43126
Duplicate of https://github.com/ansible/ansible/issues/42352

[2018-07-22 12:43] #43126 closed, assigned to nobody

[2018-07-22 12:47] sivel commented on #43015
This issue has been resolved previously in https://github.com/ansible/ansible/pull/42475

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-22 12:47] #43015 closed, assigned to nobody

[2018-07-22 12:48] sivel commented on #43015
Duplicate of https://github.com/ansible/ansible/issues/42118

[2018-07-22 12:51] sivel commented on #43090
I've seen this report enough times now, that instead of just closing, I'll keep this open.

We just need to wrap `self._final_q = multiprocessing.Queue()` in a `try/except` block and provide a human friendly error stating that python multiprocessing requires access to `/dev/shm`.

[2018-07-22 12:52] sivel commented on #43104
This is covered under the porting guide for ansible 2.7:

https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.7.html#include-role-and-import-role-variable-exposure

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-22 12:52] #43104 closed, assigned to nobody

[2018-07-22 12:58] sivel commented on #43115
Have you actually run into such a situation?

Specifying `-p python3` instructs virtualenv to use python3:

[code]

This properly references the `pip` executable within the python3 venv, and the version output additionally indicates `pip` is using `python 3.5`.

[2018-07-22 13:01] sivel commented on #43122
This is not something that ansible really concerns itself with.

You instructed `ssh` by way of `ansible` to utilize a single file for the control path.  That means that the first connection that ssh makes to a host is represented by that single control file.  All future connections utilizing that control path, will connect to that single host.

If you have further questions please stop by IRC or

[2018-07-22 13:01] #43122 closed, assigned to nobody

[2018-07-22 13:04] mowgli commented on #42352
Funny, that someone else has found it just days before me and it was never detected before. Sorry of not finding this one. But github search for bool did not show it. (It even dont show mine. :-( )

I just found it as I seen some behavior of something that I need to be run not run. So I debugged the stuff founding this error.

The problem is that I just test that in when. The task should be done i

[2018-07-22 13:10] sivel commented on #43125
Cygwin is not a supported means of running ansible.  Ansible must be installed o a linux like OS with posix compliant file system operations.

Please utilize a linux OS to install ansible onto.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-22 13:10] #43125 closed, assigned to nobody

[2018-07-22 13:16] agaffney commented on #42352
There's not really anything to "fix" here. This behavior is a result of explicit behavior in the code that allows storing a condition in a variable and using that variable in `when`. The reason that adding `|d()` "fixes" it is because the code that looks for a condition that consists of only a simple variable name no longer matches. You can get the same effect by using `|string` or really any othe

[2018-07-22 13:20] jakegatsby commented on #43115
sivel,

Thanks for the quick reply.  Maybe I'm confused, but isn't the example you just posted the corrected/expected example I gave?  That's not the way the documentation is actually written.  The docs don't specify a python version when using virtualenv, and call pip3 explicitly (the latter not incorrect, just not necessary).

The current documentation would have a user do the following, which w

[2018-07-22 13:37] agaffney commented on #42352
I meant that `|string` could short-circuit that logic in the general case. I don't know the details of your specific case. My point was that adding any jinja filter would cause this specific feature to no longer trigger, as it only works against simple variable names.

You can call it a bug, but that implies unintended behavior. Just because it works differently than you expect does not necessaril

[2018-07-22 13:43] sivel commented on #42972
Related: https://github.com/ansible/ansible/issues/42761

[2018-07-22 13:46] sivel commented on #42960
Related: https://github.com/ansible/ansible/issues/22468

This should potentially be handled in a generic way via config, to allow "unsetting" some config.

[2018-07-22 13:53] sivel commented on #42938
I'd need convinced as to why this is really needed. Documentation fragments is not a true plugin, and as such we do not offer a way to place them outside of ansible itself.  This was an explicit decision made when the doc fragments feature was written.

[2018-07-22 14:03] mowgli commented on #42352
Well, about backward compatibility, I have some places in my playbook where I have to use:
[code]

I also fear about the day when static icludes will gets removed from include as not all versions of ansible support import_tasks or include_tasks. The same counts for jinja tests "… is …" instead of "…|…" that is also not supported by all ansible versions.

So instead of deprecating such behaviour, i

[2018-07-22 14:08] theodotos opened #43132 "UnboundLocalError when running scaleway.py inventory script with SCALEWAY_TOKEN"
##### SUMMARY

I have commented out the api_token directive in scaleway.ini

But when I run:

[code]

I get:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

scaleway.py dynamic inventory script

##### ANSIBLE VERSION

I think the Ansible version is irrelevant as this is a standalone script.

[code]

##### CONFIGURATION

I think the Ansible configuration is irrelevant as this is a st

[2018-07-22 14:09] sivel commented on #42875
This is expected.

`-K` has a lower precedence than inventory provided `ansible_become_pass` so `ansible_become_pass` is the value used.  During CLI argument parsing, we don't know what the inventory configuration is yet, so you may be prompting for unnecessary data.

As far as sudo caching, that is something that you can influence by including `-k` or `--reset-timestamp` in your [ansible.cfg](htt

[2018-07-22 14:09] #42875 closed, assigned to nobody

[2018-07-22 14:18] sivel commented on #42850
The inclusion of `ansible_become_pass` does not imply that ansible will "become".  You will also have to specify `--become` on the command line, `ansible_become=true` in your hosts file, or `become: true` in your playbook.

You have not provided enough information to us to properly diagnose this issue past my above recommendation.

Also per the comment at https://github.com/ansible/ansible/issues/

[2018-07-22 14:33] sivel commented on #43070
This was recently resolved in https://github.com/ansible/ansible/pull/42533

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-22 14:33] #43070 closed, assigned to nobody

[2018-07-22 14:34] sivel commented on #43115
!label networking

[2018-07-22 14:38] andreaso commented on #43132
Looks like the following change might do the trick.

[code]

[2018-07-22 15:32] Flakebi commented on #43016
You are right, the comment is about triggering the problem.
Just using debug is fine, but using it with `local_action` or the equivalent `delegate_to: localhost` shows the bug.

As you noted, a `debug` `local_action` is pretty useless, I was actually using it to fetch some files with `rsync`.

[2018-07-22 15:38] Akasurde commented on #43091
resolved_by_pr #43133

[2018-07-22 15:57] sivel commented on #43069
The issue here, and I'm not positive why at this point, is that the `host_config` key when the container does not exist is a `HostConfig` instance.  `HostConfig` inherits from `MutableMapping` but requires a `version` argument.  In `_remove_values_conditions` from `basic.py` there is the following code:

[code]

I've highlighted the line above that is causing the failure.

When the host exists, it

[2018-07-22 16:01] sivel commented on #43069
An example of `cm.results` from the `exit_json` call:

[code]

However, `host_config` is actually a `HostConfig` object, I've just represented it as a dict here.

[2018-07-22 16:04] sivel commented on #43069
Ah, looks like the difference is that `--check` returns `create_parameters` and without, does *not* return `create_parameters`.

[2018-07-22 16:12] sivel commented on #43132
Feel free to open a pull request with the change you recommend.

[2018-07-22 16:17] LucidOne commented on #42238
I'm having the same intermittent issue when running python 3 but no issues with python 2.
The system has like 40GB of ram free and minimal load when running this.

[code]

[code]

[code]

[code]

The return code is always 0 and Ansible seems to complete it's tasks correctly.
When there is an issue, the number of error messages seems to vary from 236 to 8496, I'm getting error messages about 30% of

[2018-07-22 16:39] rrey opened #43134 "Add support of workspaces in terraform module"
##### SUMMARY

From Terraform documentation:
[code]

The module currently does not support the notion of workspace. Adding it would be helpful.
The default workspace would be "default" and would not break the current usage of the module.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
terraform

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

[code]

[2018-07-22 16:46] sivel commented on #43069
Looks like some fine people have reported this in the past, and there is a PR to resolve it:

https://github.com/ansible/ansible/issues/33578
https://github.com/ansible/ansible/pull/42380

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-22 16:46] #43069 closed, assigned to nobody

[2018-07-22 16:50] martingabelmann commented on #43069
Thank you so much! Sorry for the duplicate..

[2018-07-22 16:51] sivel commented on #43069
No problem, I didn't recall it, and it took me a bit to find as well.

[2018-07-22 16:52] andreaso commented on #43132
Nah, a PR would feel weird since I don't actually use scaleway in any way. Just happened to take a look at new issues, and this one seemed like a trivial fix to suggest.

[2018-07-22 16:56] LucidOne commented on #16871
Any update on this?

[2018-07-22 17:40] LucidOne commented on #42875
I'm not sure how much trouble implementation would be, but perhaps the CLI user experience could be improved by having `-K` set something like `ansible_become_prompt` and handle actually prompting the user later in the process?

[2018-07-22 19:16] #43049 closed, assigned to nobody

[2018-07-22 19:17] sivel commented on #42929
cc @alikins

[2018-07-22 19:59] theodotos commented on #43132
I confirm that @andreaso patch fixed the issue.

[2018-07-22 21:32] yandy-r opened #43137 "net_get seems to complete but reported as failed"
##### SUMMARY

Running a net_get from a Cisco IOS device to download the installed OS from flash memory. I understand the net_put and net_get modules do not show progress. I wait for either error or completion. The issue is the same if I install Ansible with **homebrew** or with either python2 or python3-pip.

You can see by the **tail $ANSIBLE_LOG** output below it seems to finish, but it's repor

[2018-07-22 22:13] moocan opened #43138 "include_tasks within roles/x/handlers/main.yml throw ERROR The requested handler was not found"
##### SUMMARY

Include module is deprecated.
it is recommended to use import* or include* module as wrote in Ansible documentation [https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_includes.html](url)

According to documentation `Includes and imports can also be used in the handlers: section`, but using `include_tasks` for handlers in
`./role/x/handlers/main.yml`
[code]
or in mai

[2018-07-23 01:37] #42340 closed, assigned to gdpak

[2018-07-23 02:44] yungezz opened #43139 "backport: PR # 42923 to stable-2.6 branch"
##### SUMMARY

backport PR https://github.com/ansible/ansible/pull/42923#pullrequestreview-139318672 to stable 2.6 branch.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-07-23 03:57] Zorrom commented on #42935
I understand about the WinRM to make the connectivity, but I have another step that does the tasks for me. So my concern is once the Vm is build I need to capture the vm build information with the respective username and password and then my next play has to take place.
Sorry, I didnt mention it correctly in the previous request

[2018-07-23 04:44] jeffrey4l opened #43141 "include with variable behavior changed since ansible 2.6.0"
##### SUMMARY

include action with variable works different since ansible 2.6.0

#### COMPONENT NAME
module include

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

ansible >= 2.6

##### STEPS TO REPRODUCE

Here is the test

[code]

[code]

When running this playbooks with without role1 tags like, role1 should be skipped

[code]

when using ansible < 2.6, it works as expected. role1 is skip

[2018-07-23 04:52] jeffrey4l commented on #43141
This bug may related to #33632

[2018-07-23 06:10] rlueckl commented on #38392
@AndreasDavour Can't confirm with 2.6.1 - works fine for me. Did you change your playbook according to the new configuration? ("provider" dict with server/user/password)

[2018-07-23 06:12] Fred-sun commented on #38141
Hi @IvanovOleg I have tried your YML and get successfully result(ansible 2.4.3;  2.5.0;  2.6.1), this may packaging deploy issue, You can try this guide to solve your dependency problem https://github.com/VSChina/ansible/wiki/1-FAQ:-Do-you-have-azure-=2.0.0-installed%3F-No-module-named-XXX, Thanks

[2018-07-23 06:13] gdpak commented on #43137
@IPyandy Can you please share full console output of ansible-playbook run with -vvvv and full ansible logs. If error came from net_get module then there should be some prefix in result[msg] so I am not sure if you have hit the error much before this task. Probably full ansible console output will give more clues.

Thanks,
Deepak

[2018-07-23 06:38] RakeshNagarajan commented on #33321
You might have configured the ssh wrongly...

reconfigure the SSH

CAUTION: RECONFIGURING THE SSH LEADS TO THE REMOVAL OF CURRENT SSH CONFIGURATION

[2018-07-23 07:10] #24295 closed, assigned to bcoca

[2018-07-23 07:16] dovreshef commented on #43026
@bcoca I also have the same issue with latest master.

I've managed to reduce it to this `playbook.yaml`

[code]

Ran with ```ansible-playbook playbook.yaml```

Failed with `ERROR! Unexpected Exception, this is probably a bug: 'ansible_port'`

Removing `no_log: true` makes it pass again.

[2018-07-23 07:40] renchili commented on #42725
while useing flask》=1.0 is not being supported as you @BASIC-TwoDot0  asked to use
 old version of flask ？

[2018-07-23 08:08] puriadeb commented on #35030
In Ansible 2.6.0 it is not entering rescue when the delegated host is not reachable.
Need some work around.

[2018-07-23 08:10] slarti-b commented on #23534
@olimatis: Thanks, that's better...

Any news on a fix to the underlying bug anyone?

[2018-07-23 08:48] nlwng opened #43144 "Can INVENTORY pass json strings directly?"
Can INVENTORY pass json strings directly?

eg:
  ansible-playbook -i {"all": {"hosts": ["192.168.1.153"],"vars": {"username": "aaaa","password": "bbbb","hostname": "192.168.1153"}}} fig.yaml

[2018-07-23 09:15] nicolaibaralmueller opened #43145 "win_reboot fail since ansible 2.5"
win_reboot

win_reboot tried multiple times on different VMs, both on windows 2012R2 and 2016. Adding arguments like more timeout does not correct the issue. Had no problems on ansible 2.4. Running user is local administrator.

win_reboot always ends with timeout:

`attempting to get system uptime
attempting to get system uptime
fatal: [hostname.location.cloudapp.azure.com]: FAILED! => {
    "chan

[2018-07-23 09:16] ErantD commented on #26732
Hi,
I am getting exactly the same error.  How did you end up fixing this issue?

[2018-07-23 11:01] Amruthapv commented on #26732
@ErantD  i fixed the issue by manually copying the public keys of the server wanted to ssh to

[2018-07-23 11:18] ArloL commented on #42726
openSUSE Leap 15.0 is also affected.

[2018-07-23 11:58] gdubicki commented on #16666
If I got it right max_fail_percentage is not working at all with the current implementation of free strategy - it works only for linear one. Please correct me if I am wrong.

[2018-07-23 12:02] Gianlu commented on #38526
Hi,
sorry for the delay. Chocolatey has this feature (pin or pinning) that's the same in apt-mark.
If a package is installed and marked as "pinned", the upgrade procedure will not apply. E.g. I use this feature for .NET Framework: when I release a new version for .NET, I don't want my server upgrades as soon as possible (I use internal sources).
Examples:
[code]
I hope this helps. I read you refac

[2018-07-23 12:34] thnee commented on #42238
thanks, good find! It sure looks like that issue, it matches with my Python version, 3.5.3. Here is the link to their bug tracker: https://bugs.python.org/issue29519

I guess that means that we close this issue.

[2018-07-23 12:34] #42238 closed, assigned to nobody

[2018-07-23 12:43] gdubicki commented on #16666
If you are reading this issue, then you may be interested in https://github.com/ansible/proposals/issues/133 too.

[2018-07-23 12:43] gdubicki commented on #12735
If you are reading this issue, then you may be interested in https://github.com/ansible/proposals/issues/133 too.

[2018-07-23 12:49] thiller2018 commented on #42728
Hi,

I downloaded the devel zypper module and copied it to ansible/modules/packaging/os. The result is the same:

fatal: [hawks2-4s01]: FAILED! => {
    "changed": false,
    "module_stderr": "Shared connection to hawks2-4s01 closed.\r\n",
    "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_g_dfhevu/ansible_module_zypper.py\", line 528, in <module>\r\n    main()\r\n

[2018-07-23 12:50] Gittins commented on #36100
Hi, Is there any update on when it's likely that this feature/functionality will be committed in?

[2018-07-23 12:52] thiller2018 commented on #42727
Hi,

Wouldn’t passing down the parameter --gpg-auto-import-keys be good enough?

Regards
Thomas

From: Robin Roth [mailto:notifications@github.com]
Sent: Sonntag, 15. Juli 2018 16:22
To: ansible/ansible <ansible@noreply.github.com>
Cc: Hiller, Thomas <thomas.hiller@hpe.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] zypper_repository should import keys from iso (#42727)

[2018-07-23 13:08] Pectojin commented on #30951
I'm experiencing this issue on Ansible 2.6.1
[code]
Output
[code]
No spaces in mine, though.

`python -c "import os; print(os.path.exists('/dev/sdc'))"` outputs `True`

[2018-07-23 13:11] IPyandy commented on #43137
Hi @gdpak see gist..

https://gist.github.com/IPyandy/f3b69abd5ba7d87dd779ad8fe95021c5

[2018-07-23 13:11] webknjaz commented on #42546
@Aethylred new pip v18 has been released yesterday https://twitter.com/ThePyPA/status/1021165541652824064?s=19

I assume it should include fixed code.

[2018-07-23 13:31] hnuzhoulin commented on #42846
thanks，I think async work for me.

[2018-07-23 14:08] yuwzho commented on #42987
Already in the return value `kubeconfig`

[2018-07-23 14:08] #42987 closed, assigned to nobody

[2018-07-23 14:18] bcoca commented on #43144
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-07-23 14:18] #43144 closed, assigned to nobody

[2018-07-23 14:31] Akasurde commented on #43132
@theodotos Would you be interested in raising a PR using @andreaso suggestion ? I confirmed that @andreaso suggestion works for me as well.

[2018-07-23 14:41] bcoca commented on #42938
@sivel the use case is to document 'custom plugins' w/o having to repeat a lot of the text.

I don't see a big issue with allowing the doc fragments to operate as other plugins, the harder part is 'finding locality' when modules are in a library/ dir vs installed in one of the configured paths.

[2018-07-23 14:47] guampa commented on #43091
Thanks a lot guys, waiting for the backport and in the meantime I'll resort to a custom module to talk to FreeIPA.

[2018-07-23 14:48] isharacomix commented on #37713
Apologies for interjecting so late, but I'm concerned that there are some scenarios in which this PR may fail.

For example, consider the following playbook:

    - name: first block
      atomic: true
      nclu:
        - add bgp autonomous-system 65001

    - name: second block
      atomic: true
      nclu:
        - add bgp neighbor swp1 interface remote-as external

If the first block is abo

[2018-07-23 14:53] Akasurde commented on #43091
@guampa Could you please check if this works with / without this patch #43133 in 2.6 branch ?

[2018-07-23 14:56] #27300 closed, assigned to nobody

[2018-07-23 14:56] #34014 closed, assigned to maxamillion

[2018-07-23 14:59] bcoca commented on #42927
FYI, you can:

[code]
To update specific keys of a hash

[2018-07-23 15:03] bonzi316 opened #43149 "maven_artifact checksum error when downloading from archiva repository"
##### SUMMARY
When we use maven_artifact to download from an archiva repository the md5sum always fail.  The issue is when it check for the md5 the .md5 generated by archiva does not only contail the md5, but the md5 and the filename.  So when the module check the computed md5 of the local file it compare the localmd5 with a string composed "md5  <filename>".  Since ansible 2.6 in order to workaro

[2018-07-23 15:03] terusus commented on #15402
You can ssh through a jump host where you need to authenticate with a password to the jump host and with a password to the destination host. Passwords have to be the same.

Ansible version: 2.6.1

Check [this](https://blog.scottlowe.org/2015/12/24/running-ansible-through-ssh-bastion-host/) and [this](https://gist.github.com/nazarewk/c65a1744231b4496b5d44505d49d590f) for more information.

[2018-07-23 15:05] usharaniyerra opened #43150 ""pywintypes.error: (5, 'OpenSCManager', 'Access is denied.')""
##### SUMMARY

We have a python script on windows server which does stop/start services on local machine and other windows machines as well when i execute the script from the main windows machine. But when i call that python script from Ansible, its able to stop the services for the windows where the script exists but not on the other windows services.. Showing the error .. "File \"C:\\Program Fil

[2018-07-23 15:09] abadger commented on #16871
No update at this time.  This is a low priority for us and unlikely to be addressed anytime soon.  How to bump this up in priority?  I suppose the first question is what additional assurances does this provide   above distributing on an https url that we control?

[2018-07-23 15:15] #15127 closed, assigned to nobody

[2018-07-23 15:16] tripledes commented on #42938
@sivel to me it'd help out developing out of tree modules, we currently are allowed to set both `library` and `module_utils` configuration settings and that helps `ansible-doc` to find the modules, but when using fragments, those cannot be loaded cause they're being looked up in `$ANSIBLE_HOME/lib/ansible/utils`. I just thought that it'd be consistent to have a configuration setting allowing to de

[2018-07-23 15:22] yaakov-github commented on #40809
@maxamillion false alarm there, I misread something 😳

[2018-07-23 15:31] bcoca commented on #42957
as discussed in #43127 this is a bug with the init script (they are supposed to return != 0 if they fail).

As such I'm closing this ticket, we will add extra stdout/stderr info to the failed result to allow users to handle faulty init scripts.

[2018-07-23 15:31] #42957 closed, assigned to nobody

[2018-07-23 15:45] maxamillion commented on #40809
@yaakov-github no worries, that's the story of my life 😄

[2018-07-23 15:57] ryansb commented on #42906
We have a boto3 version of ec2, ec2_instance, please try it out and raise issues on any missing functionality for ec2_instance (pull requests are welcome as well).

[2018-07-23 15:57] #42646 closed, assigned to nobody

[2018-07-23 16:02] turb commented on #43149
To save time, would it be possible to display an example of a xxx.md5 stream returned by Archiva?

[2018-07-23 16:06] kylesloan commented on #43111
It did work, thanks.

I had to
* download the SDK from https://www.citrix.com/downloads/netscaler-adc/sdks/ (used 11.0)
* untar
* untar the python module inside it
* cd into the python dir
* cat the readme
* run python setup.py install

Then ansible was able to find the SDK

[2018-07-23 16:06] #43111 closed, assigned to nobody

[2018-07-23 16:17] guits commented on #21537
still seeing this bug in ansible 2.5 and 2.6

[2018-07-23 16:31] robinro commented on #42727
@thiller2018 `--gpg-auto-import-keys` is already passed down. Apparently it doesn't cover your usecase.

[2018-07-23 16:34] guampa commented on #43091
@Akasurde the patch won't apply at the same line in 2.6 but  it's a single line so I added it manually. The error still persists, both with and without the patch.

[code]

[2018-07-23 16:36] robinro commented on #42728
@thiller2018 Is sounds like the modified module was not loaded. You can set the ANSIBLE_LIBRARY env var to the path you put the module, see
https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-module-path

[2018-07-23 16:44] Akasurde commented on #43091
bot_skip

[2018-07-23 16:53] feisa opened #43152 "NXOS Module Errror"
##### SUMMARY
Error running playbook
##### ISSUE TYPE
<10.5.250.55> connection transport is cli
<10.5.250.55> using connection plugin network_cli (was local)
<10.5.250.55> starting connection from persistent connection plugin
<10.5.250.55> local domain socket does not exist, starting it
<10.5.250.55> control socket path is /root/.ansible/pc/73ddb27622
<10.5.250.55> <10.5.250.55> ESTABLISH CONNECTI

[2018-07-23 17:12] bonzi316 commented on #43149
Hi @turb

Here is an example of the content of a md5sum from archiva

`
2139c31582e3410c1ccc8414701c46fa  my-module-1.12-20180712.154516-154.jar
`

I've tested it with a simple fix like this and it was working.  But maybe it would break on other maven implementation

[code]

Here is the actual change that I include.  This was against the `devel` branch of `maven_artifact.py` .

`
remote_md5 = remo

[2018-07-23 17:15] #42707 closed, assigned to trishnaguha

[2018-07-23 17:30] yohannprigent commented on #43026
I confirm your patch works

[2018-07-23 17:44] greg-hellings opened #43157 "known_hosts module fails to set values with spurious error message"
##### SUMMARY
The `known_hosts` module, when run in its default mode of adding entries to a file, fails with the error message "Host parameter does not match hashed host field in supplied key". This is not due to a problem with the key itself but rather in the way that the module writes the test file.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
known_hosts

##### ANSIBLE VERSION
[code]

[2018-07-23 18:27] Erouan50 opened #43159 "lvg module fails with symbolic link devices"
##### SUMMARY

When we are using a symbolic link on our devices like bellow, the module lvg fails to read already existing LVM physical devices.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lvg
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Target OS: CentOS Linux release 7.5.1804 (Core)
Kernel: Linux 3.10.0-862.6.3.el7.x86_64 SMP Tue Jun 26 16:32:21 U

[2018-07-23 18:44] japplewhite opened #43161 "Create overwrites a VM of same name even when the folder is different"
##### SUMMARY
Create overwrites a VM of same name even when the folder is different

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

cat /etc/redhat-release
CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

create some VMs
create a new

[2018-07-23 19:09] wraithm opened #43162 "File name extension encoding issues in python 3 ansible 2.6.1"
##### SUMMARY

I was trying to migrate from Ansible 2.4 on Python 2.7 to Ansible 2.6 on Python 3.7. Ansible stopped parsing my `inventory.config` which had a simple `constructed` plugin. Using Ansible 2.6 on Python 2.7 works fine.

From the debugging output:
[code]

My `inventory.config`, which worked great on Ansible 2.4 looked like:
[code]

I dug around in the `constructed.py` and found that it

[2018-07-23 19:16] IPyandy commented on #43137
and of course now it's completing without errors, if you still want to take a look, GIST is still there. It was happening consistently and now it's succeeded the last two times. Though as mentioned in the original report, it seemed to be a false negative as it did finish, but somehow not gracefully.

[2018-07-23 19:26] ktmdms1 opened #43164 "ansible 2.6.1 allows install with version of python3 that it can't actually use."
##### SUMMARY
"I used python3 setup.py build/install to build ansible 2.6.1 and install it.  the version of python3 I have installed is 3.4.  the build and install went fine but when I try to run ansible --version I get the following error:  ERROR: Ansible requires a minimum of Python2 version 2.6 or Python3 version 3.5. Current version: 3.4.8 (default, Apr 11 2018, 21:48:46) [GCC 4.8.5 20150623 (

[2018-07-23 19:45] Alexhha commented on #29770
Any update?

[2018-07-23 19:54] pratikkava1189 opened #43165 "Not able to decrypt file using --vault-password-file"
##### SUMMARY
Running playbook using --vault-password-file giving an error of "A vault password must be specified to decrypt data"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vault-password-file

##### ANSIBLE VERSION
ansible 2.5.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']

[2018-07-23 19:56] LucidOne commented on #16871
To start, [history](https://en.wikipedia.org/wiki/Comodo_Group#Certificate_hacking) has show that the best approach to security is "defense in depth" and it is my personal belief that any means of improving security should be looked at as an opportunity. Second, one can note that `releases.ansible.com` is actually hosted on [CloudFlare](https://blog.cloudflare.com/incident-report-on-memory-leak-ca

[2018-07-23 19:57] rndmh3ro opened #43166 "file - unable to modify hard links"
##### SUMMARY
When running the `file`-module without `state` on hardlinks, it will fail.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### STEPS TO REPRODUCE

This does not work:
[code]

This does work:
[code]

##### EXPECTED RESULTS
Both commands should execute sucessfully.

##### ACT

[2018-07-23 20:06] rambleraptor commented on #29770
Hello!

The new [gcp_compute_instance](https://docs.ansible.com/ansible/devel/modules/gcp_compute_instance_module.html)  has this functionality already. It's available on Ansible 2.6. The `disks` parameter allows you to specify a list of disks and you can specify one as the boot disk.

[2018-07-23 20:10] jborean93 commented on #43150
Are you connecting over winrm or using some cygwin/SSH combo to run the task. Are you able to share the output of

`- win_command: whoami /all`

needs_info

[2018-07-23 20:13] jborean93 commented on #43145
There was an issue with win_reboot in the 2.6/devel branch until https://github.com/ansible/ansible/pull/42330 was merged. The fix will be in the upcoming 2.6.2 release but 2.5.x should still be ok? Did you test with one of those versions?

needs_info

[2018-07-23 20:13] Petrox commented on #42388
This is a nice example why ansible is a high upkeep module to build your project on.

I have prepared a vagrant+virtualbox+ansible project 3 years ago. Since then every 5 months ansible breaks. I have to implement workarounds to KEEP IT WORKING THE SAME WAY. So I can't tell the (few) users of the system that "this works", because every so often it just breaks. This was working 3 weeks ago, and it

[2018-07-23 21:52] #24569 closed, assigned to nobody

[2018-07-23 21:52] #30784 closed, assigned to nobody

[2018-07-23 21:52] #42026 closed, assigned to nobody

[2018-07-23 21:56] jborean93 commented on #24569
With https://github.com/ansible/ansible/pull/43013, it is not possible for win_chocolatey to source the install.ps1 script based on the `source` option. Will be going through the Chocolatey docs at a future point to reference all the recent changes.

[2018-07-23 22:16] #24884 closed, assigned to nitzmahone

[2018-07-23 22:20] #42991 closed, assigned to jborean93

[2018-07-23 22:41] nhudson commented on #42917
@ryansb thanks, that got me past that issue, but to a new one.

[code]

Looks like I have to define `CustomizedMetricSpecification` to give it a value of `None`?

[2018-07-23 23:09] abadger commented on #42972
We'll also want to update the controller-side check that we have a recent enough version of Python.  here's the necessary change: https://toshio.fedorapeople.org/ansible/0001-Update-the-version-check-in-bin-ansible.patch

We can't apply it until we also have changes to the test infrastructure to omit running the controller-side on Python-2.6.

[2018-07-24 00:51] ptux commented on #42936
I'll do this because I want to use it.

[2018-07-24 01:13] stephendorman commented on #43130
I was stuck on this for quite a while today. Glad to have stumbled on this bug report. Good find, @davidstockdale ... i now have a work-around 👍

[2018-07-24 01:30] Rikairchy commented on #42597
Any updates?

[2018-07-24 01:34] mattclay commented on #37957
The win_uri tests were previously re-enabled, but were failing too frequently, so they are now marked unstable in devel, stable-2.6 and stable-2.5.

[2018-07-24 02:29] pieter-lazzaro opened #43176 "DOCKER_HOST environment variable not being using"
##### SUMMARY

docker_container is not respecting DOCKER_HOST environment variable. Having a quick look through the code it looks like the parameter is being set to a default value and so it isn't checking the environment variables

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu on WSL using

[2018-07-24 02:31] pieter-lazzaro commented on #43176
It looks like PR #38378 set the default value on the params.

[2018-07-24 02:41] igoratencompass commented on #29516
This is still broken for all versions 2.3 and below

[2018-07-24 02:42] Akasurde commented on #43091
@guampa I see you are using short name as hostname in your invocation -
[code]

I can reproduce this using 2.6
[code]
with playbook -
[code]
but if I provide FQDN of IPA Master server then I can proceed -

[code]
with playbook
[code]

This brings me to conclusion that this is related to FQDN and nothing to do with #43133 patch. Could you please provide full FQDN for IPA server and retry ?

[2018-07-24 02:58] monchitos82 commented on #43162
Well, it works in CentOS with a similar setup (ansible 2.6.1 and python 3.7.0)
[code]

[2018-07-24 03:13] monchitos82 commented on #43162
Probably you need to go one step back and see if `os.path.splitext()` is actually returning a binary object (in your Python installation) instead of a string; in such case `.decode('utf-8')` could fix this, but well I'd check that first.

[2018-07-24 03:45] Akasurde commented on #29749
@joshmullis Any news ? Could you please check with latest Ansible version and let me know if it works you or not ?

needs_info

[2018-07-24 04:06] greg-hellings commented on #43157
This appears to have been an issue with documentation being unclear. I've updated the docs in a way that seems to reflect the module's intention better. I also left in the test to the code that I had written, since more code testing is rarely a bad thing.

[2018-07-24 04:08] LucidOne opened #43177 "docker_container binds to 0.0.0.0 instead of localhost"
##### SUMMARY

docker_container binds to 0.0.0.0 instead of localhost

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
registry container should be bound to localhost

##### ACTUAL RESULTS

`ps -ef` shows registry container bound to

[2018-07-24 04:23] Akasurde commented on #38178
@alikins #42894 and #38276 is merged. Would like to close this ?

[2018-07-24 05:36] thiller2018 commented on #42728
I tested with ansible @devel and this works.

From: Robin Roth [mailto:notifications@github.com]
Sent: Montag, 23. Juli 2018 18:37
To: ansible/ansible <ansible@noreply.github.com>
Cc: Hiller, Thomas <thomas.hiller@hpe.com>; Mention <mention@noreply.github.com>
Subject: Re: [ansible/ansible] zypper with pattern failed (#42728)

@thiller2018<https://github.com/thiller2018> Is sounds like the modifie

[2018-07-24 05:37] #42728 closed, assigned to nobody

[2018-07-24 06:36] theodotos commented on #43132
Shamelessly submitting a PR for the suggestion of somebody else (@andreaso) :)

@Akasurde here it is:

https://github.com/ansible/ansible/pull/43183

[2018-07-24 06:50] jhawkesworth commented on #42769
Adding a comment so I get github notifications, as I am interested in testing this feature.

[2018-07-24 07:10] #43132 closed, assigned to nobody

[2018-07-24 07:11] Akasurde commented on #43132
@theodotos Thanks for the contribution. @andreaso @sivel thanks for the review.

[2018-07-24 07:35] agowa338 commented on #43082
@Akasurde  My vSphere Version is: Version 6.0.0 Build 6855238
I got the guestOSIdentifier form this table: https://pubs.vmware.com/vsphere-6-0/index.jsp?topic=%2Fcom.vmware.wssdk.apiref.doc%2Fvim.vm.GuestOsDescriptor.GuestOsIdentifier.html
Also my template includes the latest version of VMware tools supplied by the installed vSphere
And the VM-Version is 11

[2018-07-24 08:13] sieben commented on #43132
There is now an official dynamic inventory plugin for Scaleway resources: https://docs.ansible.com/ansible/devel/plugins/inventory/scaleway.html

[2018-07-24 08:25] nicolaibaralmueller opened #43186 "azure_rm_virtualmachine vm_size error"
##### SUMMARY
Since ansible 2.6.1 azure_rm_virtualmachine does not recognize the vm_size parameter as correct.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
2.6.1

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "Parameter error: vm_size Standard_E2S_v3 is not valid for your subscription and location."}`

This also failes with VM siz

[2018-07-24 08:32] nicolaibaralmueller commented on #43145
@jborean93 Downgrading to 2.5 did not resolve the issue.

[2018-07-24 08:33] DrMxxxxx opened #43187 "VMware: vmware_host_facts not gathering all data"
##### SUMMARY

The Module vmware_host_facts is not gathering all data from a vCenter Server. Only from one server the data is pulled.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_host_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian 4.9.51-1 (2017-09-28) x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A list of all vmware h

[2018-07-24 08:38] turb commented on #43149
Looks like good (it will also work with other repos that only return the md5), except `split` will return an empty list if `sep` is not set and `remote_md5` is empty. [See documentation](https://docs.python.org/2/library/string.html).

Once it is fixed (either by setting `sep` or managing the empty return), I think you are ready for a PR ;)

[2018-07-24 08:39] horseinthesky commented on #36199
I'm trying to use telnet module to do Zero Touch Provisioning and also get into this issue:
[code]

Result
[code]

[2018-07-24 09:10] karthik120 opened #43189 "Customize option in vmware_guest module doesn't work for FreeBSD"
##### SUMMARY

When I attempt to clone a FreeBSD 10.1 VM (openvm tools already installed in it) to new one e.x cloning B from A where A being source and B being the destination. The play ends with the error
**Customize option in vmware_guest module doesn't work for FreeBSD** . However, new VM B is created. When you turn on the machine B, you would notice the IP address and hostname of the source A

[2018-07-24 09:11] karthik120 commented on #43189
As far as I am thinking, this could be a bug in Vmware itself. I am not sure, where to report this.

[2018-07-24 09:21] Akasurde commented on #43165
@pratikkava1189 Thanks for reporting this issue. Could you check what is content of `.vault/secret.yml` ?

I am not able to reproduce this on 2.5, 2.6 and 2.7-devel

[code]

[2018-07-24 09:23] usharaniyerra commented on #43150
Hi Jborean,

I am using winrm module for connecting to windows and as we have mutiple services on multiple windows hosts , i configured one python script to stop/start which (exists win1 server) includes all other services on other windows hosts(win2 , win3...etc) as well.

So if i use win_services..it will be bit difficult to write all the services in Ansible yml itself. And for your note..its su

[2018-07-24 09:23] #43189 closed, assigned to nobody

[2018-07-24 09:30] rdtechie commented on #37259
Any update on the diagnostics feature?

[2018-07-24 09:34] Akasurde commented on #43187
@DrMxxxxx Thanks for reporting this issue. Currently, it returns the first ESXi hostsystem which it finds from given vCenter - see here [docs](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_host_facts.py#L23)
As workaround, you can use `with_items` and iterate over all ESXi system from given vCenter.

[code]
@woshihaoren What do you think ?

[2018-07-24 09:37] nicolaibaralmueller commented on #43186
Closing this incident. SKU issues in westeurope location.

https://github.com/Azure/AKS/issues/280

[2018-07-24 09:37] #43186 closed, assigned to nobody

[2018-07-24 10:09] pratikkava1189 commented on #43165
@Akasurde , can we make ".vault/passwrd" in encryption format rather than having in plain text format?

If the server is compromised, a hacker can retrieve every bit of confidential information through plain text vault password.

[2018-07-24 10:30] barlik opened #43191 "ansible_failed_task is not working reliably with inner blocks"
##### SUMMARY

When using blocks inside other blocks, variable `ansible_failed_task` is not propagated reliably.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

core engine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

stock configuration

##### OS / ENVIRONMENT

Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-07-24 11:09] Akasurde commented on #43161
@japplewhite Thanks for reporting this issue. Are you changing value of folder variable in playbook after creating the folder ? It would be easy to debug if you could paste playbook(s) and console output `-vvvv`

needs_info

[2018-07-24 11:25] ReinerNippes opened #43192 "ec2_group - Using rule descriptions requires botocore version >= 1.7.2."
##### SUMMARY
Using ec2_group with botocore >= 1.10 and higher doesn't work

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a
##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE

Create a security group with a description.
Using botocore >= 1.10

[code]

##### EXPECTED RESULTS

change: ok
##### ACTUAL RESULTS

[code]

[2018-07-24 11:46] #42873 closed, assigned to gdpak

[2018-07-24 11:49] johnmaloneboxever opened #43193 "iam_role fails with Version error"
##### SUMMARY
Running the following role:

[code]
simple.json:
`{
	"Version": "2012-10-17",
	"Statement":
	[
		{
			"Action": "s3:*",
			"Effect": "Allow"
		}
	]
}`
Fails with the following error:

```Unable to get role JohnsTestRole: An error occurred (NoSuchVersion) when calling the GetRole operation: The requested version (2010-05-08) of service AmazonEC2 does not exist```

##### ISSUE TYPE
 -

[2018-07-24 11:53] rdtechie opened #43195 "azure_rm_virtualmachine new feature request (Custom Name for Managed Disks)"
##### SUMMARY

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A, out-of-the-box experience.
##### OS / ENVIRONMENT

Running Ansible on Ubuntu Server 16.04 LTS, managing Windows/Linux VMs in Azure
##### STEPS TO REPRODUCE

When creating a new vm, if using the parameter **managed_disk_type** or the parameter secti

[2018-07-24 12:03] Akasurde commented on #36304
@Nitesh-vaidyanath 2.3 is [EOL](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html) So I afraid that there will be any fix for this in 2.3. Try upgrading to latest Ansible Version.

Thanks.

needs_info

[2018-07-24 12:12] dagwieers commented on #37957
What is needed so we can re-enable these tests in the future ?
(Is this infra-related, or something we need to improve in the module/transport ?)

[2018-07-24 12:15] dagwieers commented on #15828
Ok, so this issue was opened because all modules with `creates=`/`removes=`, not just the **command** module. So I am going to reopen it.

[2018-07-24 12:21] Lambdara opened #43197 "Cannot delete user without login profile using `iam` module"
##### SUMMARY
When trying to delete a user without a login profile an error is returned.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`iam`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

We just try to make a user without login profile absent. I don't really know what 'user without login profile' means, but using the same task

[2018-07-24 12:44] Uwila commented on #43197
I've fixed this for myself in #43198, I hope it is acceptable.

[2018-07-24 12:46] philfry opened #43199 "behaviour of allow_duplicates unclear"
##### SUMMARY
`allow_duplicates` is behaving strangely when mixing methods to include a role (`roles` in the playbook, `dependencies` in meta, `include_role` in tasks).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`role2` running only once.

##### AC

[2018-07-24 12:54] #43026 closed, assigned to bcoca

[2018-07-24 12:59] #42785 closed, assigned to nobody

[2018-07-24 13:02] Cougar commented on #10616
With "raw" module (when python is not installed or usable), then this sleep hack doesn't work and async is also not usable. I tried a lot of different command lines and only on that finally worked was:

[code]

[2018-07-24 13:06] 0mmariano commented on #40396
Found the reason for our error -- two applications are apparently residing on the same host so we have one host appearing in two server groups

notabug

[2018-07-24 13:06] #40396 closed, assigned to nobody

[2018-07-24 13:09] machacekondra commented on #43046
If this is an issue it's an issue in `module.fail_json` which generates this.

[2018-07-24 13:18] arn-alt opened #43204 "Banner text "\n|bla bla bla|" matched by NX-OS prompt regex"
##### SUMMARY
Sometimes, but not always, some tasks were marked "changed", even if the configuration was not modified during a previous run.
The problem is with a banner in the target routers, which has the following form:

banner motd ^
|bla bla bla|
|bla bla bla|
^
The following regexes are used to detect a prompt (in file plugins/terminal/nxos.py

##### ISSUE TYPE
 - Bug Report

##### COMPONENT

[2018-07-24 13:19] mcv21 commented on #43157
I'm happy with the documentation suggested in the linked PR.

[2018-07-24 13:19] #43204 closed, assigned to nobody

[2018-07-24 13:24] 0mmariano opened #43205 "Sudo password required even with changes made in ansible.cfg and sudoers file"
##### SUMMARY
Tasks with become_user: root fail even when become_ask_pass=False and sudoers has NOPASSWD for user

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible.cfg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
COMMAND_WARNINGS(/etc/ansible/ansible.cfg) = False
DEFAULT_BECOME_ASK_PASS(/etc/ansible/ansible.cfg) = False
DEFAULT_

[2018-07-24 13:24] zioproto opened #43206 "k8s module: when patching a configmap old data entries are not removed"
##### SUMMARY

When patching an existing configmap, new data entries are added, but old data entries are not removed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
k8s_raw module.

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
If you create a config map running this task:

[code]

and later you patch your code changing the file name in file2.conf:

[code]
after running again this

[2018-07-24 13:25] #43157 closed, assigned to nobody

[2018-07-24 13:40] Uwila commented on #43197
resolved_by_pr #43198

[2018-07-24 13:55] kowalskey commented on #25068
Hello, I just stumbled upon this issue.

I think that `StrictHostKeyChecking` can be insecure in some environments.
It's possible to work around multiple `Are you sure...` prompts by calling ansible with `--forks 1`

[2018-07-24 14:00] RoUS commented on #16776
I am seeing this in 2.6.1.  Given the following playbook,

[code]
it will fail with

[code]
The issue appears to be related to `ansible_host` appearing anywhere in the `with_*` data.  I've tried abstracting it out several levels, but Jinja2 interpolation appears to be deferred to on-encounter.

If there were a way to force the `who: '{{ ansible_host }}'` interpolation to be done immediately upon p

[2018-07-24 14:20] arn-alt opened #43209 "Banner is matched by NX-OS prompt detection"
##### SUMMARY

Sometimes, but not always, some tasks are marked "changed", even if the configuration doesn't need to be changed.

The problem is with a banner in the target routers, which has the following form:
[code]
 The following regexes are used to detect a prompt (in file plugins/terminal/nxos.py):
[code]

When a prompt is detected, the command is understood as complete, so Ansible thinks  t

[2018-07-24 14:46] #42034 closed, assigned to nobody

[2018-07-24 14:54] NilashishC commented on #43089
@e2-team I am working on adding the `source-interface` and `use-vrf` features in _nxos_logging_.

[2018-07-24 14:54] cfloersch commented on #42162
It should be noted that the docker_container module requires the newer docker library while the docker_login module requires the older docker-py library. Both libraries cannot be installed at the same time. As such a playbook cannot both login to a registry and create a container image with Ansible 2.6.1

[2018-07-24 14:56] RoUS commented on #16776
I *may* have found a workaround, but I've only tested it with a single-host inventory:

[code]

[2018-07-24 15:08] guampa commented on #43091
@Akasurde, you hit the nail.

I was indeed using a FQDN, but the name was only resolvable at the host where the task was to be run (set in /etc/hosts). When I changed ipa_host to the "real" FQDN of the ipa server (resolvable recursively over public DNS), it did work.

What prevented me from finding this was the fact the "testipaauth" shell script was succeeding with the "fake" FQDN. Maybe it's som

[2018-07-24 15:18] indicolite opened #43214 "why memtotal_mb in version 2.4+ is dropped, while in version 2.3 still okay?"
##### SUMMARY
why memtotal_mb in version 2.4+ is  dropped, while in version 2.3 still okay?
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
get_memory_facts() in lib/ansible/module_utils/facts/

##### ANSIBLE VERSION
stable 2.4
[code]

##### CONFIGURATION
xxx

##### OS / ENVIRONMENT
stable 2.4

##### STEPS TO REPRODUCE
ansible localhost -m setup |grep "mem"

##### EXPECTED RESULTS
[code]
####

[2018-07-24 15:23] horseinthesky opened #43216 "Script module can't find ansible tmp directory"
##### SUMMARY

I'm using **script** module to transfer python script to remote host and execute it.

I'm getting an error message from the remote host about the script was not found in ansible tmp folder.
My user **horseinthesky** exists on both local (Ansible Controller) and remote hosts. It has sudo.
The **tmp** directory with the specified name doesn't exist on the remote host and I don't know

[2018-07-24 15:25] veetow opened #43217 "The `s3` module alias does not work in Ansible 2.6.1."
##### SUMMARY

The `s3` module alias does not work in Ansible 2.6.1.
https://docs.ansible.com/ansible/2.6/modules/aws_s3_module.html?highlight=Aliases:

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

aws_s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS 10.13.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should work.

##### ACTUAL RESULT

[2018-07-24 15:36] felixfontein commented on #42162
@cfloersch That's not true. All of the `docker_*` modules work with the new libraries. For `docker_login`, we already discussed this in this issue, and I explicitly verified that it does work with the latest `docker` library. The documentation in Ansible < 2.6.2 is misleading (this will be fixed in the next release as well as this issue).

[2018-07-24 15:39] maxamillion commented on #43083
ping @bcoca @jimi-c

[2018-07-24 15:42] briantist commented on #42977
!component = lib/ansible/module_utils/aws/elbv2.py

[2018-07-24 15:44] maxamillion commented on #43087
cc @acozine

[2018-07-24 15:50] WaKeMaTTa commented on #42037
It effects also to 2.6.x

[2018-07-24 15:54] briantist commented on #42977
!component =lib/ansible/module_utils/aws/elbv2.py

[2018-07-24 15:56] maxamillion commented on #43129
Is the issue here from the `setup` module? For example if you were to run `ansible localhost -m setup` locally on the target machine in question, you are getting unexpected results?

needs_info

[2018-07-24 16:00] cfloersch commented on #42162
@felixfontein That's interesting because I just ran this on Ansible 2.6.1 and it failed to run docker_login when docker-py was not installed.

Here are the two messages I got as I tested:

1) Try and install both:
Cannot have both the docker-py and docker python modules installed together as they use the same namespace and cause a corrupt installation. Please uninstall both packages, and re-instal

[2018-07-24 16:03] mattclay commented on #37957
The httpbin.org site has become too unreliable for use in CI. Once we have support for connection forwarding to the http-test-container for Windows tests this will no longer be an issue.

[2018-07-24 16:08] Akasurde commented on #43091
@guampa Cool. I am glad this worked for you. I will mark this issue as resolved as this is more related to environment rather than Ansible module issue. Thanks for debugging and providing feedback.

[2018-07-24 16:08] #43091 closed, assigned to nobody

[2018-07-24 16:19] monchitos82 commented on #43162
@bcoca I commented in your PR, there are string vs path comparisons in other files, I was working in a fix but since you submitted already I pinpointed the lines where this happens so you can update if you don't mind.

[2018-07-24 16:20] felixfontein commented on #42162
@cfloersch You cannot have both installed, that's correct. But you apparently uninstalled both. The error message "No module named docker" means that none of them is installed. If you make sure you only have `docker` installed (and not `docker-py`), it should work.
Ansible 2.6.1 (and earlier) always mention docker-py in all messages and documentation (this has been cleaned up and will appear in An

[2018-07-24 16:29] #43074 closed, assigned to nobody

[2018-07-24 16:32] Akasurde commented on #38808
cc @alikins

@sylr Could you please add this issue to discuss in Public Ansible Project Meeting Agenda - https://github.com/ansible/community/issues/325
Thanks,

[2018-07-24 16:45] cfloersch commented on #42162
So I do have docker 3.4.0 installed.

[root@pcast]# pip list
... trimmed for brevity ...
dnspython (1.12.0)
docker (3.4.0)
docker-pycreds (0.3.0)
... trimmed for brevity ...

Does it need to be installed on both the tower and the target machine? Or just the target machine?

[2018-07-24 16:50] andreaso commented on #43217
Fixed in https://github.com/ansible/ansible/pull/42679
2.6.x backported in https://github.com/ansible/ansible/pull/42685

[2018-07-24 17:20] #43217 closed, assigned to nobody

[2018-07-24 17:21] ryansb commented on #43217
Already fixed, as @andreaso points out.

[2018-07-24 17:29] #43164 closed, assigned to nobody

[2018-07-24 17:34] ryansb commented on #43165
Unfortunately, encrypting the vault password file would then cause a password to be needed for the vault password file. That password would then have to be stored somewhere (another file? A vault password file password file?).

If having the password file on disk is not possible, instead use the option to prompt for the vault password so you can enter it every time a playbook is run. That way, onl

[2018-07-24 17:57] ryansb commented on #43205
Sometimes a logout/login cycle is required for sudoer settings to take effect. Is it possible to logout or reboot the system and try again? I'm not able to reproduce prompting on passwordless sudo on my test VM.

needs_info

[2018-07-24 18:03] ryansb commented on #43216
Make sure that the playbook itself and the `magic_wand.py` script are in the same directory. Are both the host and target running Ubuntu Kappa?

needs_info

[2018-07-24 18:05] mikewiebe opened #43223 "Managing docker daemon on nxos works in 2.5 but fails in 2.6"
##### SUMMARY
In the latest Nexus 9k release `9.2(1)` support has been added for docker running in the native bash-shell environment.

Using `Ansible 2.5`, we can successfully start the docker daemon, but when we switch to `Ansible 2.6` the service fails to start.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENV

[2018-07-24 18:11] horseinthesky commented on #43216
Yes. magic_wand.py is in playbook directory. Otherwise, ansible just says that it can't find it.
And yes, both hosts are ubuntu, Kappa is 18.04, remote host is 16.04.
I've tried using absolute and relative path. Also tried **become: yes** and **become: no**.

I guess ansible is using **tmp** folders for its action so I'm ok with that. What I don't understand is why and how it always generates **tm

[2018-07-24 18:35] fermulator opened #43225 "getting _latest_ ansible rpm pkg for Fedora didn't work"
##### SUMMARY
as per https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#latest-release-via-dnf-or-yum, and due to https://github.com/ansible/ansible/pull/42396, 2.6.1 has that bug. So wanted 2.7.latest.

Found the pre-build rpm packages in: https://releases.ansible.com/ansible/rpm/nightly/devel/fedora-27-x86_64/

Attempts to upgrade as per docs were unsuccessful.

#

[2018-07-24 18:36] felixfontein commented on #42162
It only needs to be installed on the target machine. The docker modules are executed on the target machine, not on the control machine.
Anyway: what happens if you start Python (the one used by Ansible on the remote node) and run `import docker`? That should work fine if you have either `docker-py` or `docker` installed. If it doesn't work, there's something wrong (I'd guess neither `docker-py` no

[2018-07-24 18:46] ssarraju commented on #17349
Facing exactly the same issue. The connection fails 50% of the times.

[2018-07-24 18:56] cloudbluedigital opened #43226 "Passing variables between different playbooks"
##### SUMMARY

So it's probably not even a bug but I cannot find a solution

I basically have a bash like this:

[code]

In init playbook I set a fact with branch variable and in rds playbook I want to use that variable however it is not defined, if I move code from rds playbook to init playbook everything works fine.

So the question is really how do I assign a variable in init-playbook and use t

[2018-07-24 19:07] michaelnugent opened #43227 "https://github.com/ansible/ansible/pull/34509 has been approved and is CI stable since Jan, but waiting for merge."
##### SUMMARY

This isn't a bug with the software, it's a bug with process. https://github.com/ansible/ansible/pull/34509 has been approved and waiting for merge since January.  It would be super useful for people using ipv6.  If there's a further issue that isn't obvious looking in that PR, let's make it public so we can fix it :)

I know this isn't the typical bug report. If I should have filed

[2018-07-24 20:14] ryansb commented on #43225
It looks like that installation is failing due to lack of space, or the output is cut off. Also, instead of `rpm` you could use `dnf localinstall [rpm file name]` to allow it to properly use the DNF packagedb and repos.

[2018-07-24 20:16] ryansb commented on #43226
Facts are not settable across playbooks by default. You can discover the branch (per those shell tasks) in a common `tasks/get-branch.yml` file, then use `include_tasks` to include that series of tasks in both playbooks. You can also create a role, if you want more than just the few tasks, so you can invoke the role in both playbooks and have the variables discovered the same way both times.

[2018-07-24 20:16] #43226 closed, assigned to nobody

[2018-07-24 20:19] ryansb commented on #43227
The best channel for this kind of question/request would be to post in the #ansible channel on Freenode, or to send a message to the mailing list looking for reviewers. PR's on community-supported modules require two `shipits` to be merged, and the PR linked in this issue just has one reviewer at the moment.

[2018-07-24 20:19] #43227 closed, assigned to nobody

[2018-07-24 20:26] jandy33 opened #43229 "ec2_vpc_net not returning vpc id"
##### SUMMARY

ec2_vpc_net not returning vpc_id for new create VPC

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ec2_vpc_net

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/jim/ansible/config/ansible.cfg = [u'/home/jim/ansible/inventory/hosts.ini
DEFAULT_LOG_PATY(/home/jim/ansible/config/ansible.cfg = /home/jim/ansible/log/ansible.log
DEFAULT_TIMEOUT(/home/jim

[2018-07-24 20:34] jhawkesworth commented on #42793
@usharaniyerra Did moving to a newer ansible version fix this for you?
If so I'd like to close this issue.

[2018-07-24 20:47] inrix-adasgupta commented on #33131
This is still an issue. I'm using ansible v2.6.1.

[code]

my-playbook.yml:
[code]

roleA/tasks/main.yml
[code]

roleA/tasks/do-some-stuff.yml
[code]

roleB/tasks/do-first.yml
[code]

roleB/tasks/do-after.yml
[code]

Error thrown -

[2018-07-24 20:49] jhawkesworth commented on #42696
@mbhein I suggest passing the list of directories you want to check to the `paths:` argument of the module, rather than using `with_items`, which will be slower as it will run the whole module code for each of the `with_items` list, rather than processing all the paths in one single module invocation if you use `paths:`
There is an example of using multiple paths here:

https://docs.ansible.com/an

[2018-07-24 21:12] mbhein commented on #42696
Thanks @jhawkesworth for the suggestion on explicitly setting `paths:` argument, however we do need to use with_items because our actual win_find tasks looks like this:
[code]
The example I provided above is just easier to show and reproduce the root issue.

The win_stat module is worth a look, but will need to still combine desired attributes (file patterns and age) with existing paths.

[2018-07-24 21:15] jborean93 commented on #42793
Yes Ansible 2.2 does not in any way support Python 3. Moving to a currently supported release (2.4+) will get Python 3 to start working on Windows.

[2018-07-24 21:15] #42793 closed, assigned to nobody

[2018-07-24 21:34] michaelnugent commented on #43227
Thanks for the info, I didn't realize that there was a second reviewer required.  I'll pop into IRC and see if there's any more work to be done on it.

[2018-07-24 22:15] Alexhha commented on #29770
Great, but I was unable to find how to set disk type. I need to create ssd and use it as boot disk. Is it possible?

[2018-07-24 22:51] jborean93 commented on #43150
@usharaniyerra @jhawkesworth is right you are coming across the double hop/credential delegation issue. What happens is that your WinRM process is usually created without access to the accounts password so it cannot authenticate to another server. There is a fundamental different to logging on locally (you input the user/pass in plaintext) compared to a network logon (the password is usually a tok

[2018-07-24 22:51] #43150 closed, assigned to nobody

[2018-07-24 23:00] jborean93 commented on #43145
@nicolaibaralmueller can you run the task on 2.5 with `-vvv`, I just double checked it on my host and it works perfectly fine. That error message is definitely the 2.6 issue which is fixed and is awaiting the next release so 2.5 should be fine.

[code]

[2018-07-24 23:47] ferventcoder commented on #24569
@jborean93 Most organizations ***NEVER*** use the community repository (aka https://chocolatey.org/packages) or anything from there. It might be a good idea to review https://chocolatey.org/docs/how-to-setup-offline-installation to really understand the organizational perspective.

[2018-07-24 23:49] ferventcoder commented on #24569
@jborean93 Chocolatey.Server is also only one option for a repository out of like 30+ different repository options, so I wouldn't tie too specifically to it either. https://chocolatey.org/docs/how-to-host-feed and https://chocolatey.org/docs/how-to-setup-offline-installation#exercise-6-installing-chocolatey-on-client-machines

[2018-07-24 23:52] ferventcoder commented on #24569
A diagram will save a lot of explaining - [Chocolatey Architecture Diagram (PDF)](https://github.com/ansible/ansible/files/2225829/Chocolatey.Central.Management.Architecture.Diagram.-.Low.Level.-.v1_4.pdf)

[2018-07-25 00:18] spmp commented on #39650
Looking forward to #41175 being merged. Keeping this open until then
Is there anything I can do to speed up the merge?

[2018-07-25 00:20] spmp commented on #38973
See #41174

[2018-07-25 01:02] dmsimard opened #43234 "Add extra_credentials support to tower_job_template"
##### SUMMARY
``tower_job_template`` has support for ``credential`` and ``vault_credential``.

The API and tower-cli has support for ``extra_credentials`` which is, as I understand it, a list of credentials.

It would be useful to add a ``extra_credentials`` list argument to the ``tower_job_template`` module.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
tower_job_template

##### ANSIBLE

[2018-07-25 01:03] dmsimard commented on #43234
cc @AlanCoding, I tried to take a quick stab at this but I'm not sure what's the right approach.. the API is a bit awkward ?

It looks like we have to create the job template first and then run an associate on each credential to the job template ?

[2018-07-25 01:14] AlanCoding commented on #43234
This is true generally for many-related resources in Tower. It's mostly to avoid ambiguity. If you specify a list, does it just add the items in the list, or if it already has items that are not in the list, does it remove them? Doing the associate is purely additive.

JT extra credentials has also lagged a bit because of server changes that are coming. In AWX and in the coming release of Tower 3.

[2018-07-25 01:58] 0mmariano commented on #43205
@ryansb I tried it yesterday in a new session/window and was able to do run sudo commands without being prompted for a password so the sudoers change worked. However, when I ran the playbook in that same window, I got the "sudo: a password is required" message.

[2018-07-25 02:18] willthames commented on #43206
This is a general problem with kubernetes patches - they merge changes in (i.e. if you used kubectl apply you'd have the same problem)

I'm not really sure what best to suggest here - using `force` will replace the configmap, but you might not want to use that every time. You could also use a different patching strategy using the upcoming `merge_type` argument but you'd likely need a patch in a co

[2018-07-25 05:30] irosenzw commented on #43129
Yes. The output I added is the output of `ansible localhost -m setup`

[2018-07-25 06:31] kbni commented on #16259
I'm not sure if I should raise a new bug for this, but I encountered something interesting when I moved my ansible setup to my local system, which required me accessing all of my hosts via a jump host.

The following is what I would typically run, which would allow me to enter the credentials for the `admin` account and would the playbook would then ensure the user accounts are setup properly (inc

[2018-07-25 06:37] irosenzw opened #43236 "ovirt module: Rename ovirt management network"
##### SUMMARY

During the deployment on ovirt Hosted-Engine via ansible I need to rename the network from the default name (ovirtmgmt) to something else. Currently there is no way to do it on the ovirt-ansible modules.

This RFE is crucial for Hosted-engine to support other management network names other than the default one.

##### ISSUE TYPE
 - Feature idea

##### COMPONENT NAME
ovirt-ansible mo

[2018-07-25 06:43] ronjakoi commented on #42162
I had the problem described by @cfloersch [here](https://github.com/ansible/ansible/issues/42162#issuecomment-407459778). I think it was fixed when I did `pip uninstall docker docker-py && pip install --force-reinstall docker` or something like that.

[2018-07-25 07:30] jstoja commented on #21773
hey @abadger sorry to get this from the very past, but I'm having the same issue as @Dantemss.
We're just doing a `set_fact` that notifies a handler that does a `file` and the set_fact (event setting a static string) is taking +10seconds whereas all the other tasks are taking few ms.
I got the same debug messages too (many calls to `get_vars`), but cannot pin point why. Would you mind guiding me t

[2018-07-25 07:32] felixfontein commented on #42162
@ronjakoi I think the `pip install --force-reinstall docker` is necessary. I just tried this out. First, I had `docker` installed:
[code]
Then I installed `docker-py`:
[code]
Then I uninstalled `docker-py`:
[code]
Finally, I force-reinstalled `docker`:
[code]
Looks like uninstalling `docker-py` breaks `docker`. That's *really* annoying...

[2018-07-25 07:40] micw opened #43237 "Wrong error message if a filter is used in conditions and custom filter_plugins have errors"
##### SUMMARY
If filter_plugins contains a custom filter that fails to load and a filter is used in a condition, the root error cause is not displayed. Instead ansible complains about a missing filter.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
unchanged

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
* Create a simple playbo

[2018-07-25 07:44] felixfontein commented on #42162
@cfloersch @ronjakoi I tried to improve the situtation by adding some clarifying remarks here: #43238

[2018-07-25 07:48] schegi opened #43239 "ipa_vault does not report a change if user is added to vault"
##### SUMMARY

The ipa_vault module does not report a 'change' if an user is added to an existing vault.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT

Linux

[2018-07-25 08:09] ZuZuD commented on #42936
I wrote it I am about to send the PR.

[2018-07-25 08:13] maheshbr opened #43241 "AttributeError: 'module' object has no attribute 'Config'"
##### SUMMARY
Trying to create a nat_gateway on AWS and I get the error

AttributeError: 'module' object has no attribute 'Config'

Output of "pip freeze|grep boto"
boto==2.49.0
boto3==1.7.63
botocore==1.10.63

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module name: ec2_vpc_nat_gateway

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Just a simple filter plugin and disabled strict hos

[2018-07-25 08:15] ptux commented on #42936
@ZuZuD

I see.
I'll stop.

[2018-07-25 08:20] maheshbr commented on #43241
I also looked at the code a little bit, it looks like the line causing the issue is in module_utils/ec2.py line 134

[code]

[2018-07-25 09:14] Fred-sun commented on #43195
Hi @rdtechie , Every VM only allowed to be attached on of data disk, so you need to set on disk on this VM. As you said, it need to add a way to set the data disk name( because it always named by vm_name-datadisk-0) , Thanks!

[2018-07-25 09:19] slnowak commented on #30187
@ryansb
Just hit the same issue today on 2.5.0.
Same ansible playbook running against 2 separate AWS account - succeeded against first account, failed against the second one.

Can we reopen it?

[2018-07-25 09:29] #42000 closed, assigned to nobody

[2018-07-25 09:33] yuwzho commented on #43195
@rdtechie When creating a VM, we recommend using the simplest configuration to configure the VM. That means, if you want to have more complicate configuration for the sub-resources, you can use other resource modules to do the management. For your scenario, you can use [`azure_rm_managed_disk`](https://docs.ansible.com/ansible/latest/modules/azure_rm_managed_disk_module.html) to create some data d

[2018-07-25 09:50] 0mmariano commented on #43205
@ryansb Found the culprit -- and overriding line in the sudoers file. Thanks for your help.

myUserId was a member of thisGroup which had a sudoers entry that was overriding the entry for myUserId
Was able to run samplePlaybook.yml without sudo password prompts or errors after removing myUserId from thisGroup

notabug

[2018-07-25 09:50] #43205 closed, assigned to nobody

[2018-07-25 09:55] dseeley-sky opened #43244 "elb_target_group: health_check_port is ignored"
##### SUMMARY
When creating a elb_target_group, setting health_check_port has no effect and 'traffic-port' is always selected

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_target_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expect the target group to be created with the health check

[2018-07-25 10:08] chrisjsmith opened #43245 "win_chocolatey fails with "Method invocation failed because [System.Management.Automation.PSCustomObject] does not contain a method named 'ContainsKey'""
##### SUMMARY
when installing wixtoolset via win_chocolatey it fails with a module error.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_VAULT_PASSWORD_FILE(/home/chris/src/ansible/ansible.cfg) = /home/chris/.vaultpass/ansible
HOST_KEY_CHECKING(/home/chris/src/ansible/ansible.cfg) = False
RETRY_FILES_ENABLED(/home/chr

[2018-07-25 10:36] lck commented on #34569
Can anyone please finally fix this bug? It is there since filecmp.cmp was introduced and it really can produce unpredictable result in production! Thank You.

[2018-07-25 10:38] wimnat commented on #43244
This is happening because it's TCP type.  I'll raise a PR with a fix shortly.

[2018-07-25 10:55] #43109 closed, assigned to nobody

[2018-07-25 11:36] tuxcrafter opened #43246 "lvg module fails on updated sles11 with /sbin/pvs: unrecognized option '--select' Error during parsing of command line used to work"
##### SUMMARY
ansible module lvg fails on sles11 with ansible 2.6.1 because it tries to pvs --select option that is not there works with ansible 2.2.1.0 fails with ansible 2.6.1

##### ISSUE TYPE

#~ fatal: [<skip>]: FAILED! => {"changed": false, "err": "/sbin/pvs: unrecognized option '--select'\n  Error during parsing of command line.\n", "msg": "Failed executing pvs command.", "rc": 3}

- name:

[2018-07-25 11:58] trishnaguha commented on #43073
@jrosser Can you try `net_get` module out?

[2018-07-25 12:04] johnmaloneboxever commented on #43193
After much debugging I've identified the issue.

I had set, at some point, the variable EC2_URL in my environment to a correct value.

get_aws_connection_info in  module_utils/ec2.py sets ec2_url to the value of this OS variable if it is set.

In iam_role.py:

[code]

The issue I guess would appear to be that the resource of 'iam' doesn't make much sense when connecting to an ec2 endpoint.

So loo

[2018-07-25 12:07] Tomorrow9 commented on #42995
Hi,
Sorry for the late response. I tried apply this patch and created new VM with 1, 2, 3 disks, they are all set to SCSI controller (lsilogicsas), and CD/DVD ROM attach to IDE controller.
According to the result:
(1) thin/thick type can be set correctly.
(2) SCSI node set correctly.
(3) the 3rd disk datastore is not the specified one. (I assume there is another bug for this?)

Thanks.

[2018-07-25 12:13] wimnat commented on #43244
@dseeley-sky try the above PR and see if it fixes it for you

[2018-07-25 12:37] jstoja commented on #21773
We found a workaround, we were using the listen + notify and we switched to using the name of the task and it worked as expected. I hope this would help others.

[2018-07-25 12:40] Im0 commented on #37811
@Akasurde I looked into this a bit more and it appears VMware handed vCloud Air over to the hosting provided OVH.  It appears the VCA stuff is no longer in pyvcloud.  I wondered what your views were... essentially pyvcloud appears to be useful for vCloud Director only now.  (Happy to be corrected if wrong)

It would then appear that `module_utils/vca.py` will need an overhaul to focus on VCD and `

[2018-07-25 12:45] jojo221119 opened #43249 "java_cert module does not check the certificate checksum only alias"
##### SUMMARY

When importing a new certificate into java keystore the java_certs module only checks if the alias is already used in the java_keystore. When an alias is already used it the task outcome states OK.
Even when the certificate which should be imported is different to the certificate using this alias.

I would expect that the SHA1 hash is checked also. If then the alias is present and t

[2018-07-25 12:46] Im0 commented on #37811
+label affects_2.6
+label affects_2.7

[2018-07-25 12:59] SylvainMartel opened #43251 "vmware_guest : wait for VM to join domain"
##### SUMMARY

When we use "joindomain" ansible doesn't wait for the server to join the domain before starting the next task.  So when that next task requires the server to be joined already, those tasks fail.
##### ISSUE TYPE
 - Feature Idea
add a wait_for_domain
##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

##### OS / ENVIRONMENT

Controller:  CentOS 7
OS managed: Windows 2016
#####

[2018-07-25 13:06] lion24 opened #43252 "network module to configure vlans on a linux host?"
##### SUMMARY
I would like to know if there is network module that could configure VLANs (using net_vlan module) on a Linux host. Right now, we are using bash script to handle vlan creation / deletion but this is not optimal.

If such a module does not already exists, could you give me some pointers on where I have to start to write this module? Is it worthwhile?

##### ISSUE TYPE
 - Documentation

[2018-07-25 13:16] xialonglee commented on #37941
This happens to me with ansible **v2.2.0.0** too.
When using async modules with command that want to scp some files from localhost to remote host(using delegate_to)

for example:
[code]
and it has has the possibility( not often ) to failed one or serverval `items`(**not all items**)

the result of **failed** items looks like below

and a **success item** result may looks likes below

[code]

I stu

[2018-07-25 13:17] locutus304 opened #43254 "eos_static_route module is not parsing VRF-associated routes correctly"
##### SUMMARY

An exception is raised by the eos_static_route module when it encounters a VRF-associated route in the device's running config. Root cause is a parser error that does not account for VRF syntax in route definitions.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

eos_static_route module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/home/xxx/.ansible.

[2018-07-25 13:18] cfloersch commented on #42162
So after some debugging I finally got it working. Apparently, I had to manually remove docker-pycreds as well as docker-py and docker before force reinstalling.

`>>> import docker
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
   .. TRIMMED ..
    import dockerpycreds
ImportError: No module named dockerpycreds`

All of these machines had been using the older libraries wi

[2018-07-25 13:22] locutus304 commented on #43254
A proposed fix has been posted as pull request 43151. When a VRF route is encountered, the module will silently ignore it instead of raising an exception. A better long term fix would be to enable VRF route parsing, but since the module as a whole doesn't support manipulating VRF routes, I didn't take the time to do that for now.

[2018-07-25 13:23] NielsH opened #43255 "mysql_user not idempotent for mariadb 10.2 root user due to authentication_string column instead of password"
##### SUMMARY

Using MariaDB 10.2.16 from the MariaDB repo (http://ams2.mirrors.digitalocean.com/mariadb/repo/10.2/debian/) on Debian jessie. Updating the password for the user "root" is not idempotent. This is because the password set for the root user during installation is saved in the `authentication_string` column in the `mysql` database. However, ansible checks the `password` column. When I

[2018-07-25 13:46] rbeede commented on #37941
@xialonglee Your issue is different from this bug.  You are using Python 2 while the original issue is with Python3.

Using Python2 the async shell issue does not occur.

You need to update to the latest version of Ansible and use Python 2.

[2018-07-25 13:53] bcoca commented on #43162
@monchitos82 so i have not been able to reproduce a test case, can you post the exact command line used and it's output with -vvv?

[2018-07-25 13:53] abadger commented on #43162
@WraithM ^

[2018-07-25 13:57] bcoca commented on #43162
@monchitos82 had a conversation with @abadger and he pointed out that we always convert to text at entry, so path should never be 'bytes' at this point

[2018-07-25 14:04] monchitos82 commented on #43162
Saw that in your PR. I pointed there where I could track that variable, I bet it can be taken furtherly, but that's out of my awareness, especially understanding if it affects any other moving parts.
Pointed out as well the syntax errors, they are obvious yet hard to spot (as usual with large code)

[2018-07-25 14:04] pillarsdotnet opened #43256 "pip umask parameter does not work with octal (int) umask values"
##### SUMMARY

Documentation for the [`pip`](https://docs.ansible.com/ansible/latest/modules/pip_module.html#parameters) module `umask` parameter says that the desired umask mode should be specified in octal, with a leading zero.  However, a test install of the `test-utils` pip using ansible-playbook version 2.6.1 and python version 2.7.15rc1 reveals that leading zeros, unless quoted, cause the um

[2018-07-25 14:06] jaepetto opened #43257 "ssh extra args passed as group variables do not override ansible.cfg"
##### SUMMARY
ssh_extra_args passed as group variables within an inventory file do not override parameters in the ansible.cfg

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Set your `ansible.cfg` with the following `ssh_args`
[code]
Set your inventory file with group variable

[2018-07-25 14:16] oryband commented on #33960
can confirm this exact problem happens to me as well. broke my deployment.

[2018-07-25 14:30] bcoca commented on #43162
found one point that it 'could' have been bytes, but it goes against the report, env vars in py2 (modified PR to plug this hole).

[2018-07-25 14:37] govindborgaonkar opened #43259 "Failed to combine variables, expected dicts but got a 'dict' and a 'AnsibleSequence'"
##### SUMMARY
$ ansible-playbook config_playbook.yml
 [WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match 'all'

 [WARNING]: Ignoring invalid attribute: hosts

ERROR! failed to combine variables, expected dicts but got a 'dict' and a 'AnsibleSequence':
{}

 am getting this error while executing playbook. Any help will be appreciated

[2018-07-25 14:38] AndreasDavour commented on #38392
I did indeed. I will try to construct a sanitized example.

[2018-07-25 14:44] acozine opened #43260 "update documentation about including and importing"
##### SUMMARY
Ansible's ability to include and import roles, files, tasks, and playbooks is evolving. We need to update the documentation, review examples, etc., in light of the latest functionality.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
2.7

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### AD

[2018-07-25 14:45] pillarsdotnet commented on #43259
It might help if you would include the playbook that produced the error.  Also, try running ansible-playbook with `-vvvvv` (five `v`'s in a row) and paste the output into this ticket.

[2018-07-25 14:47] dseeley-sky commented on #43244
@wimnat Yes - this fixes it - thanks!

[2018-07-25 15:09] cajacob commented on #39583
Would this issue be resolved in the near future?

[2018-07-25 15:16] mikewiebe commented on #43223
@trishnaguha @gundalow Just an FYI that I have created this case for the issue managing docker on nxos using Ansible.

[2018-07-25 15:53] jhawkesworth commented on #39583
@cajacob having searched through the existing pull requests, I don't believe anyone is working on this, so if you have time to create a pull request to add this feature, it can be considered.

[2018-07-25 15:57] mohannmurthy commented on #31896
Hi I am using ansible 2.5 and yet i am seeing this issue. Does not allow TCP to be used for the protocol.
ansible --version
ansible 2.5.0rc3 (detached HEAD 144e5ae65a) last updated 2018/07/23 16:50:15 (GMT +100)

[2018-07-25 16:13] zjpeterson opened #43264 "Role inclusion to be skipped by condition fails on non-presence of subelement"
##### SUMMARY

Occurs when conditionally including a role, and the role contains a with_subelements loop (or loop with subelements filter). Ansible looks for the subelement and fails if it's not defined, or if it is defined but is not a list. The problem is that this occurs even when the role inclusion condition is false and the role will not be included. One should not have to needlessly define a

[2018-07-25 16:44] tuxcrafter commented on #43246
I tried forcing to use an older version of the lvg module by copying it from my a working ansible version to the roles/lvm/library/lvg.py but this does not seem to work?

lvg: in roles/lvm/tasks/main.yml and roles/lvm/library/lvg.py present but:

Using module file /usr/lib/python2.7/site-packages/ansible/modules/system/lvg.py

[2018-07-25 16:44] v1tal3 commented on #42636
Any luck with this so far?  Anything I can do to help?

[2018-07-25 16:45] Akasurde commented on #41494
@DBezemer Are you still working on this ? needs_info

[2018-07-25 16:48] Akasurde commented on #43255
@NielsH Thanks for reporting this issue. Could you please check if this is something similar to https://github.com/ansible/ansible/issues/42564 ? thanks.

[2018-07-25 16:56] cyrilthank commented on #4870
+1

[2018-07-25 16:56] cyrilthank commented on #4870
+1

[2018-07-25 17:20] flomedja opened #43265 "win_iis_webapppool environemnt varible atributes doesn't work"
##### SUMMARY

I have an IIS app pool for a asp.net core 2.0 web service that i launch with ansible task like that

[code]

The output of my task look like that:
[code]
According to [documentation ](https://docs.microsoft.com/en-us/iis/configuration/system.applicationHost/applicationPools/add/environmentvariables/index#overview) the environement variable must be set for the process but when i prin

[2018-07-25 17:31] precurse commented on #40903
@s-hertel I'm in the process of testing this out with version `2.6.1`, but Ansible doesn't seem to want to use the Openstack inventory plugin. I'm pretty sure I've set it up from the Ansible documentation [here](https://docs.ansible.com/ansible/2.6/plugins/inventory.html) and [here](https://docs.ansible.com/ansible/2.6/plugins/inventory/openstack.html)

My ansible.cfg (~/playbooks/ansible.cfg):
[c

[2018-07-25 17:53] krzysztofromanowski94 commented on #30698
We were finally able to move to newest ansible. Problem no longer occurs.

[2018-07-25 17:53] #30698 closed, assigned to ganeshrn

[2018-07-25 18:15] IvanovOleg commented on #42497
Update! I passed the ignition config as a custom data to the CoreOS and the version was as expected. Looks like during the first boot CoreOS update service updates the distributive to the latest version.

[2018-07-25 18:31] NielsH commented on #43255
@Akasurde I'm not sure about https://github.com/ansible/ansible/issues/41173 - it mentions the `caching_sha2_password` plugin for the root user and has a fairly wonky `authentication_string` for the root user. That's not what I'm seeing, but maybe the underlying cause is the same ... ?

However yes, it does seem similar to https://github.com/ansible/ansible/issues/42564 - it looks like the way Ans

[2018-07-25 18:57] pillarsdotnet commented on #43256
I agree that this is (mostly) a documentation bug. It would appear that any input format will work *except* the one recommended in the module documentation.

Data type validation would be nice, but appears to be largely nonexistent in the Ansible world. (Oh Puppet, how I miss thee!)

I may be able to spend time on things like this after I complete my presently-assigned "house-on-fire" tasks. Maybe

[2018-07-25 19:19] jborean93 commented on #43245
Sounds like you have a custom `win_chocolatey` in your library folder which Ansible is using. Old Windows modules used a `PSCustomObject` for the results which do not work anymore because they don't contain the method `ContainsKey`. We found a few people override the builtin modules but never updated their own code.

Can you share the full output with `-vvvv`.

needs_info

[2018-07-25 19:32] horseinthesky opened #43272 "include_vars fails with AttributeError when working with dir"
##### SUMMARY

**include_vars** fails with with **AttributeError** when working with dir

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux Kappa 4.15.0-23-generic #25-Ubuntu SMP Wed May 23 18:02:16 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

tree of role files
[code]

[2018-07-25 19:45] bearrito opened #43273 "Github Hooks Module Doesn't Work"
##### SUMMARY
The github hooks module doesn't work. It always returns success even in failed cases.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
github_hooks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The hook the be created
Failures when incorrect values are provided

##### ACTU

[2018-07-25 19:47] WraithM commented on #43162
I definitely still get an issue. Here's the output from using Python 3.7:
[code]

[2018-07-25 19:58] WraithM commented on #43162
I'm trying to downgrade my Python to 3.6 to see if I still get an issue, but brew is being difficult...

[2018-07-25 20:07] WraithM commented on #43162
It works on Linux, but it doesn't work on macOS. Maybe there's a problem with brew's version of Python 3.7?

[2018-07-25 20:08] monchitos82 commented on #43162
Still some comparisons in the code represented a risk since the data was passing in the wrong type. The last test you ran, did you use @bcoca's commit?

[2018-07-25 20:11] apolloclark commented on #42989
I just got bit by this bug as well.

[code]

[2018-07-25 20:35] spmp commented on #41728
@Fred-sun is there any WIP on this ATM? I was about to start work towards a PR introducing this and other fixes into `azure_rm_networkinterface`

[2018-07-25 20:38] bearrito commented on #43273
Looking at the source there are at least two issues.

1. The module expects all successful response to be `200` when in some cases it might be 200.
2. The module even captures all failed calls and returns an exit code of `0`

A minimal fix could be

[code]

[2018-07-25 20:44] rwagnergit opened #43274 "script module with become prepends stdout with \r\n"
##### SUMMARY
script module prepends stdout with \r\n when used with become=yes

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

script
ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ALLOW_WORLD_READABLE_TMPFILES(/home/rowagn/ansible.cfg) = True
ANSIBLE_PIPELINING(/home/rowagn/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/rowagn/ansible.cfg) = -o ControlMaster=no
DEFAULT_EXECUTABLE(/

[2018-07-25 20:48] 2rs2ts commented on #16259
@kbni that's a separate issue from this one. This is about keyboard-interactive auth on top of password auth, for me it's MFA. Well who knows about contemporary versions of ansible, I filed this a long time ago and since then we've completely changed the system that was affected by this.

[2018-07-25 20:48] WraithM commented on #43162
@monchitos82, I did not run this against @bcoca's commit. Sorry for the confusion.

[2018-07-25 20:51] monchitos82 commented on #43162
Gotcha, I believe the best you can do for now is to answer any comments from him or Toshio and hold until they merge the fix

[2018-07-25 21:22] benjdudas opened #43275 "'os_server_facts' module fails with Ansible 2.6"
##### SUMMARY

After upgrading to 2.6 from 2.5.6 our `os_server_facts` task fails with:

`AttributeError: 'module' object has no attribute 'version'`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

os_server_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default settings:
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Facts retrieved fro

[2018-07-25 21:53] spmp opened #43276 "ansible_rm_networkinterface should support IP forwarding"
##### SUMMARY
`ansible_rm_networkinterface` should support IP forwarding. Especially important when deploying NVA VM's (i.e Palo Alto, F5 etc.)

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible_rm_networkinterface

##### ANSIBLE VERSION
[code]

Creating this issue in order to create branch for PR

[2018-07-25 22:01] abadger commented on #43162
We convert at the borders, not in the middle of the code so the version of
the pr that changed paths to text inside each plugin was not confirming to
the strategy .

It does sound like a problem with the python being shipped there doing
something different but I'm not sure what yet.  Maybe on the other python
builds if you pass a text string into some stdlib function you get a text
string back but

[2018-07-25 22:46] joren485 opened #43279 "`no_log` with `with_items` results in an extra item in the output"
##### SUMMARY

When running an task with `with_items` and `no_log: yes`, the output has an extra item.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

This playbook produces the issue.
[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-07-25 22:51] Hnasar commented on #42162
I needed to uninstall docker-py and docker-compose, and only install docker, and then things worked.

[2018-07-25 23:38] yaakov-github commented on #39780
I'm working on a module which basically replicates the behavior of elb_instance for all permutations of elbv2s (network/ip, network/instance, alb).  I'm hoping to have it done in about a week or so 🤞

[2018-07-25 23:48] guoqiao opened #43282 "Add `loop` object automatically in loop"
##### SUMMARY

In Jinja2 or Django template, when you do a for loop, it defines a `loop` object automatically.
You can do things like:

[code]
This is very nature and handy.
However, in Ansible, we need to do:

[code]
This is annoying for people familiar with Jinja2 or Django template syntax.
And I think it should be easy to add a default `loop` object automatically in a loop,
just like how the `i

[2018-07-25 23:52] arbabnazar commented on #39780
@yaakov-github looking forward to see your module, I am still in need of it  👍

[2018-07-25 23:57] walkafwalka commented on #43279
I did another test with two items to confirm that a no_log message is created for each item and another no_log message for the task.
[code]

I think there is a discussion to be had in regards to what the expect behavior should be. Whereas I do not think there should **both** be a message for each item in addition to the task, I think it is debatable whether a message should be displayed for each i

[2018-07-25 23:57] guoqiao opened #43283 "Command line option for config file"
##### SUMMARY

In `ansible-playbook --help` output, we need a option to choose the config file, just like the `-i` option for inventory. In a lot of cases, I need to load different config file for different playbooks.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2018-07-26 00:41] vmore commented on #38569
@willthames  I tried this out on 2.6.1 with the StorageGRID S3 implementation and can confirm it returns the right error and works correctly with the empty permission workaround.

This is the warning returned when creating a bucket:

[WARNING]: PutBucketAcl is not implemented by your storage provider. Set the permission parameters to the empty list to avoid this warning.

Thanks for the fix!

[2018-07-26 00:50] willthames commented on #38569
@vmore that's great news! I'll close this ticket then :)

[2018-07-26 00:50] #38569 closed, assigned to nobody

[2018-07-26 00:52] ZuZuD commented on #43229
Hi @jandy33,

I was unable to reproduce your issue using the same component versions (see below). However there is something unclear here, the error is from a section related to addition/removal of a non-primary CIDR and considering the playbook only have one cidr_block you shouldn't go there... Can you provide more details?

[code]

[2018-07-26 01:13] wimnat commented on #43244
@dseeley-sky can you please comment "shipit" on the PR?

[2018-07-26 01:34] xialonglee commented on #37941
@rbeede thanks
and you mean update ansible version to the latest version will solve this problem?
is there any issue related to my situation? for some reason i couldn't update my ansible version so i need find a way to avoid this problem

[2018-07-26 02:12] xialonglee opened #43286 "async command fails to execute with msg: [Errno 2] No such file or directory"
##### SUMMARY
When using async modules with command that want to scp some files from localhost to remote host(using delegate_to)

and the aysnc module may(**has the possibility**) failed with `command.py  [Errno 2] No such file or directory`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
async

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS: centos 7
Python:

[2018-07-26 02:17] xialonglee commented on #43286
similar with issue https://github.com/ansible/ansible/issues/37941 (same with failed msg: xxx/command.py [Errno 2] No such file or directory), but not the same ansible version and python version (mine is python 2.7.5)

[2018-07-26 02:41] Akasurde commented on #36235
@tterranigma I am not able to reproduce this using 2.6, I get following error message -

[code]

Can you retry with latest 2.6 ?

[2018-07-26 02:53] jandy33 commented on #43229
Then this may lead me to an error on my part.  Here is a history of what I've done so far.
1. installed ansible 2.4 with the following setup
   export PYTHONPATH=/home/jim/ansible/lib/python2.7/site-packages
   python setup.py build
   python setup.py install --prefix=/home/jim/ansible
2. setup .bashrc for the following environment
   PYTHONPATH=/home/jim/ansible/lib/python2.7/site-package;/usr/sh

[2018-07-26 03:11] spmp opened #43288 "azure_rm_virtualmachine does not clean up NIC NSG's upon deletion"
##### SUMMARY
azure_rm_virtualmachine does not clean up NIC NSG's upon deletion of the VM. This is evident in the integration tests, which incidentally do not test this scenarion

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
Run `ansible-test` for `azure_rm_virtualmachine` and observe the remaining NSG's

#####

[2018-07-26 03:49] Akasurde commented on #43239
cc @jparrill

[2018-07-26 03:58] trishnaguha commented on #42959
@benjdudas Can you please share the kind of NXOS 5K and 7K chassis and the OS versions?

[2018-07-26 04:52] pillarsdotnet commented on #43259
Do you have `hash_behaviour = merge` in your `ansible.cfg` file?

[2018-07-26 04:58] govindborgaonkar commented on #43259
Yes. I saw a comment on some other post and added it to ansible.cfg
But still getting the error

[2018-07-26 05:20] #29799 closed, assigned to nobody

[2018-07-26 05:21] cigamit commented on #43082
I haven't experienced this issue when building VMs, but I have seen it when just powering on a VM.  It wasn't properly waiting for an IP address (with wait_for_ip_address: True) before continuing.

[2018-07-26 05:27] archmangler opened #43293 "Cannot restrict kernel capabilities in the docker_container module"
##### SUMMARY

Cannot restrict kernel capabilities in the docker_container module using the "capabilities" parameter.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Some means of specifying caps removed from the container
##### ACTUAL RESUL

[2018-07-26 05:40] willthames opened #43294 "no_log is not dynamic in loops"
##### SUMMARY
when no_log is set to a variable,  the variable is not expanded if the task is in a loop (but works fine if the task is not in a loop)

##### ISSUE TYPE
 - Bug  Report

##### COMPONENT NAME
task_executor

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No output to `ansible-config dump --only-changed`

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2018-07-26 06:17] ptux commented on #18910
Opinions here are not put together.
First of all, I'm thinking to give a shot of follows.

Please Vote for Me.

[2018-07-26 06:35] ptux commented on #27617
@jpmens
I'll do it.

[2018-07-26 06:48] #42588 closed, assigned to nobody

[2018-07-26 06:51] archmangler commented on #33622
It seems healthcheck parameter is still not supported in ansible_docker, as seen in this playbook run:

[code]
    healtcheck:
      test: ["CMD", "ps", "-ef", "egrep myapp | grep -v grep"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
[code]

[2018-07-26 06:51] jborean93 commented on #43259
Can you just try to rule out an issue with the role.

[code]

[2018-07-26 07:00] jborean93 commented on #43283
Not exactly what you are looking for but as per https://docs.ansible.com/ansible/latest/reference_appendices/config.html#the-configuration-file you can set `ANSIBLE_CONFIG=/path/to/config` if you wish to use an explicit configuration file.

`ANSIBLE_CONFIG=/ansible/ansible.cfg ansible-playbook ....`

[2018-07-26 07:00] danihodovic commented on #33622
The workaround for now is to use `docker_service` with a docker-compose file, which supports all of the docker features `docker_container` does not support (incl. the health check).

[2018-07-26 07:10] ptux commented on #27617
fisrtly, I'll give a shot of follows.

only `checksum_url` option given

both `checksum` and `checksum_url`  given

[2018-07-26 07:22] rdtechie commented on #43195
Thanks @yuwzho for the feedback. The datadisks are indeed not really the issue, because as you've said, I can name them with azure_rm_managed_disk. The problem lies within the OS disk; this should also have an option to name it. In the meantime I've added the options myself in azure_rm_virtualmachine to name the OS disks and Data disks. What is the best approach to do the pull request for this? Fi

[2018-07-26 07:24] sagarpinninti opened #43297 "docker_container module error in ansible 2.6.1"
##### SUMMARY

While trying to start the container from centos:7 image i am getting module_stderr"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7.5
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

container started
##### ACTUAL RESULTS

[code]

[code]

[2018-07-26 07:36] govindborgaonkar commented on #43259
Yeah. This worked!
So there is problem with my .yml file? or is it regarding **roles**

root@user:/home/ubuntu/ansible# **ansible-playbook playbook.yml**
 [WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match 'all'

PLAY [localhost] *******************************************************************************************************

[2018-07-26 08:04] jborean93 commented on #43259
@govindborgaonkar sounds like you either have some `vars` or `defaults` in your role and that is causing the merge conflict.

[2018-07-26 08:10] machacekondra commented on #42895
@ocasek

[2018-07-26 08:19] gdpak commented on #43137
@IPyandy Thanks for the logs. I went through logs posted and earlier reported error message. To me it looks like error message earlier reported did not come through net_get module but somewhere else.  Looking at failed [msg] in earlier case, it can come from net_put . By any chance you had net_put task uncommented when you hit this error ?

[2018-07-26 08:20] joren485 commented on #43279
Please note that if `no_log` is controlled by an variable it will always print an extra `the output has been hidden due to the fact that 'no_log: true' was specified for this result`. Even if `no_log` is set to `no`

[code]
This playbook results in
[code]

[2018-07-26 08:30] ptux commented on #29614
@jpmens
I'll fix this.

[2018-07-26 08:42] SatwikBanerjee commented on #35238
Hi I am trying to install openSSH using win_chocolatey - This is the snippet

# Creating Win SSH service

    - win_chocolatey: name={{ item }} params={{ parameters }} state=latest
      with_items:
        - "{{ package_name }}"
      when: ansible_distribution == "Microsoft Windows Server 2012 R2 Standard"
    - name: Restart a service
      win_service:
        name: "{{ service_name }}"

[2018-07-26 09:14] AndreasDavour commented on #38392
It turns out I did most of my testing using the bigip_facts module. I kind of expect the code to use the authentication process to be shared, but maybe it's not the case?

[2018-07-26 09:38] rlueckl commented on #38392
Sorry, I've only used the bigip_pool_member so far. Didn't need bigip_facts until now. This is my code, it's included in another playbook with "include_tasks":

[code]

Tested & works with Ansible 2.6.1

[2018-07-26 09:50] Akasurde commented on #43297
@sagarpinninti Thanks for reporting this issue. Could you please check above issue and let us know if it works for you ?

[2018-07-26 10:06] chrisjsmith commented on #43245
Thanks for the tip. I found a copy someone had imported into our repo separately that I was unaware of. Removal of that file has resolved the issue. Thanks for the heads up and solution. Much appreciated.

[2018-07-26 10:06] #43245 closed, assigned to nobody

[2018-07-26 10:10] guoqiao commented on #43283
@jborean93
Thank you, that's a good work around, but it's still reasonable to have the command line option equivalent to this env var.

[2018-07-26 10:16] albers commented on #42666
@sivel `govc` supports URLs as ova source:

[code]
A progress indicator is shown during the upload.
A packet capture shows that the ova is simultaniously being downloaded from the URL and directly streamed to the target esxi host (not the vCenter server!) by `govc`.

[2018-07-26 10:18] onitake commented on #37590
Shouldn't this be a bug report or a feature request, then?
The specific use case stated is impossible to implement with the `service` module as it is.
Only running the `service` command via the `command` will accomplish managing sysv type units when the system uses `systemd`. Not very user friendly...

[2018-07-26 10:20] zakstar commented on #42959
@trishnaguha I can give you a Nexus 5K chassis details:

[code]

IOS versions:
- 5.2
- 6.0
- 7.0
- 7.1
- 7.3

[2018-07-26 10:38] AndreasDavour commented on #38392
@rlueckl how did you define your f5_service_pool ?

[2018-07-26 10:51] rlueckl commented on #38392
This is the "config.yml" of one of the applications I'm deploying:

[code]

Basically f5_service_pool is a list of poolnames and ports, and it loops over this and sets *item['name']* and *item['port']*.

The "dc" in *f5_lb_host[dc]* is defined in the hosts file like this:

[code]

I hope this helps.

[2018-07-26 10:56] AndreasDavour commented on #38392
I now no longer have any issues with the provider when I cut and paste your task above, but I get problems with the name of the pool not being found.

[2018-07-26 11:01] AndreasDavour commented on #38392
Is there an issue with the pool name having a dash in the name? (Maybe this is drifting from the original issue...)

[2018-07-26 11:02] moorglade opened #43302 "Playbook directory missing from search path inside loops"
##### SUMMARY
Normally, when executing tasks in a role, `ansible_search_path` includes the main playbook directory. However, when using loops, the playbook directory is missing from the search path.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible_search_path

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Reproduced on macOS 10.13.6 and Ubuntu 18

[2018-07-26 11:30] Yajo commented on #30548
https://github.com/ansible/ansible/pull/32738 is merged now. How would that affect this issue at hand? Thanks.

[2018-07-26 11:33] onitake commented on #37590
That said, I believe newer systemd versions handle this case better.

[2018-07-26 11:52] fRzzy opened #43304 "docker_container always recreate container when use remote docker host (vmware virtual container host)"
I rarely report bugs so if there is anything missing please tell me and I'll try to provide more info. Thank you.

##### SUMMARY

when use with local connection to manage a remote docker host (in my case vmware virtual container host) docker_container recreate containers everytime it run, regardless of container configuration changed or not, result in unnecessary (small) downtime of containers.

#

[2018-07-26 12:04] yfoelling commented on #14270
+1

[2018-07-26 12:51] Lambdara opened #43307 "Composer with 'config' command is not idempotent"
##### SUMMARY
When setting the config of `composer`, repeating the command returns 'changed'.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lib/ansible/modules/packaging/language/composer.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT

N/A, though the example code assumes you're running as non-root.

##### STEPS TO REPRODUCE

Run this twice:

[code

[2018-07-26 12:52] Uwila commented on #43307
I guess the way to detect changes to the config properly is to see if the config file actually changes or not.

[2018-07-26 12:55] bcoca commented on #37590
@onitake you want the sysvinit module for those cases or just `use=sysvinit ` on the service module

[2018-07-26 13:15] rajeev-daishogroup commented on #1934
I am trying to use find to search for a specific string in a register variable, but couldn't do so. Can someone help here:
I have 2 plays and I want to access a register variable from 1 play to other and then use find to search for a specific string. I am currently using Ansible 2.5.3.
- name: Status Checks in Samurai
  hosts: foo
  tasks:

    - name: telegraf Service Status
      shell: systemct

[2018-07-26 13:28] Gibby opened #43309 "win_iis_website parameters does not work for all parameters"
##### SUMMARY
Using win_iis_website to setup a website and trying to also set the default document.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_iis_website

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_CALLBACK_WHITELIST(ansible.cfg) = ['profile_tasks']

##### OS / ENVIRONMENT

OS running from: Ubuntu 18.04
OS managing: Windows 2012 R2

##### STEPS TO REPRODUCE

[code

[2018-07-26 13:30] Gibby commented on #43309
Instead of Get-ItemProperty and Set-ItemProperty should probably use the following:
Get-WebConfigurationProperty
Add-WebConfigurationProperty
Set-WebConfigurationProperty

[2018-07-26 13:51] maheshbr commented on #43241
Hi Please ignore this, I found that it was an issue related to my mac configuration. Sorry for the trouble.

[2018-07-26 13:51] #43241 closed, assigned to nobody

[2018-07-26 13:51] ghost opened #43310 "Using find to search for a specific string in a register variable from other plays"
##### SUMMARY

I am trying to use find to search for a specific string in a register variable from another play.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

!component

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

if telegraf service is UP, it should display "IN

[2018-07-26 14:18] dmsimard commented on #43234
@AlanCoding So just making sure... Moving forward we want to keep ``credential``, ``vault_credential`` and add support for ``credentials`` which would iterate through a list of credentials and run the associate ?

[2018-07-26 14:23] Moshem123 commented on #19765
+1

[2018-07-26 14:23] zikalino commented on #37904
fixed by #39716

[2018-07-26 14:23] #37904 closed, assigned to zikalino

[2018-07-26 14:26] profhase opened #43312 "Misleading error from ansible-galaxy if 'git' is missing"
##### SUMMARY

When using ansible galaxy with a missing git binary, the error message is very misleading:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A
##### STEPS TO REPRODUCE
use a system without git binary installed, need a proper `requirements` file
[code]

##### EXPECTED RESULTS
`git

[2018-07-26 14:32] AlanCoding commented on #43234
Some people will be using older versions of Tower that do not have that relationship.

[2018-07-26 14:34] dmsimard commented on #43234
Older versions of Tower will ship with older versions of Ansible which would match their version of the API, yes ?

[2018-07-26 14:42] AlanCoding commented on #43234
Tower tends to support around 3 versions of Ansible within any given release. You also have no idea which version a user will be using on their own machine to talk to the Tower server. It's seems probable that a company will be slow to upgrade Tower (since older versions are officially maintained), but the individual user will be using development Ansible.

[2018-07-26 14:51] lottspot commented on #16359
The problem I've been looking for a solution to is the one stated by @rockandska above-- that is, in essence, a way to ensure ansible-galaxy will automatically install a role used by an `include_role` statement. I've tested two possible work arounds, both of which seem to be ok for now.

1. Add the role to be included in the dependencies block in `meta/main.yml` with a `when: 'False'` statement in

[2018-07-26 14:56] IPyandy commented on #43137
@gdpak the first time the net_put was commented out, though when you asked for logs I had uncommented it and the error appeared there. My original request was relating to net_get, though I have not been able to duplicate it (even though it happened multiple times). I will give it one more shot if not, just close it.

[2018-07-26 15:02] tatref commented on #22695
It seems that this is still a issue on ansible 2.6.1.

I am using `ansible_ssh_private_key_file` in the inventory (NOT the `--private-key` cmd line option)

Is anyone else experiencing this?

[2018-07-26 15:03] dmsimard commented on #43234
So what's the take away then ? I'm trying to resolve this but it's not clear to me what I should be doing. You mentioned that we don't have sufficient bandwidth to support everything but at the same time we have to ? :)

[2018-07-26 15:20] AlanCoding commented on #43234
I don't have any problem with the approach you've already sketched out here.

 - add `credentials` to tower_job_template that applies the list of credentials
 - make its use mutually exclusive with the existing credential fields

If someone discovers that the `credentials` field doesn't work with their version of Tower, they should use the old fields.

[2018-07-26 15:24] sheffner1226 opened #43313 "Allow ios_l2_interface to specify optional encapsulation type"
##### SUMMARY
When an interface's trunk encapsulation is set to auto (as in our VIRL IOSv image) you cannot configure switchport mode trunk.  That means that we'd need to use ios_config to set the interface's switchport trunk encapsulation to either isl or dot1q in order to then use the ios_l2_interface module.  Ideally we'd just have a trunk_encapsulation: option within ios_l2_interface for this.

[2018-07-26 15:28] mjmayer opened #43314 "Comparison of rule priority compares a string to an int"
##### SUMMARY
In the compare_rules function in module_utils/aws/elbv2.py a comparison is made between current_rule['Priority'] and new_rule['Priority'] which evaluates to false because the current_rule['Priority'] is a string and the new_rule['Priority'] is an integer

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_application_lb

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE

[

[2018-07-26 15:56] zikalino commented on #38078
fixed by #39722

[2018-07-26 15:56] #38078 closed, assigned to nobody

[2018-07-26 16:09] crossan007 commented on #30972
@jborean93 where is your psexec connection plugin located?

[2018-07-26 16:38] jseiser commented on #39235
Running into this same issue.

[code]
[code]

Nothing works until I forcefully reboot the instance.

Error I get:

[code]

[2018-07-26 16:50] joren485 commented on #43279
There seem to be two problems in [an `if` statement in the `clean_copy` method in `task_result.py`](https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task_result.py#L116):

1. `self._task.no_log` is not interpolated. If `no_log` is set to some variable (e.g. `"{{ no_logging }}"` in my example in my second comment), it is validated as string which, of course, results in `True`.
2.

[2018-07-26 16:53] precurse commented on #43007
I've encountering the same symptoms, except we load our `clouds.yaml` file in with `include_vars` then pass them off as `auth: "{{ clouds['cloud_name']['auth'] }}`

[2018-07-26 17:13] govindborgaonkar commented on #43259
@jborean93 yes. I have **stores** inside **roles**.
And in stores I have 3 things - **1. tasks 2. templates 3. vars**

[2018-07-26 17:36] jandy33 commented on #43229
Re-install anisble-2.6 as a new installation and still receiving the same Wait issue

[2018-07-26 17:45] #43072 closed, assigned to NilashishC

[2018-07-26 17:59] NilashishC commented on #43072
Resolved by PR #43295

[2018-07-26 18:15] BryKKan commented on #12565
Ran myself into this using add_host. That task gets skipped when using start-at-task, so the play fails.

I see this has been open for 2 years though. Wondering if there is some reason adding this is unworkable, or just lack of interest.

[2018-07-26 19:03] jborean93 commented on #30972
@crossan007, it’s not a connection just a module right now. https://docs.ansible.com/ansible/devel/modules/psexec_module.html

[2018-07-26 19:34] quarkbuddha opened #43318 "macports module uses incorrect check for determininig if a package is installed"
##### SUMMARY

The macports module simply searches for the package name in the output of "port installed", however, if you have already installed, for example, "pinentry-mac", and want to install "pinentry", it will not install it because it thinks it is already installed.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

macports module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

####

[2018-07-26 19:50] bharath23 opened #43319 "Template output different when conditionals are used"
##### SUMMARY
We are using ansible to populate our configuration that is stored in AWS SSM Parameter store. When the value written uses a template which either writes the value directly or converts it to json base on a condition. The json string write varies if the conversion occurs in a conditional or not. In this example if the template is changed to just ```item.value|to_json``` without any if

[2018-07-26 19:59] sheffner1226 opened #43320 "ios_l2_interface not attempting to add allowed vlans using trunk_vlans parameter"
##### SUMMARY

When configuring allowed vlan ids on a trunk interface using ios_l2_interface, the command switchport trunk allowed vlan XX-XX isn't being attempted.  (When I register the output from ios_l2_interface, all I see are the commands for the native vlan and mode trunk.  When I remove the native vlan config line it still doesn't show the allowed vlans config line)
##### ISSUE TYPE
 - Bug

[2018-07-26 20:05] samdoran commented on #43297
@sagarpinninti This definitely looks like an issue with the differing Docker libraries. Please trying removing the suggested packages and installing only `docker` or `docker-py`.

needs_info

[2018-07-26 20:43] samdoran commented on #43310
Conditionals do not need `{{ }}`. Unquoted strings are interpreted as variables

The `in` or `match()` tests are generally easier to work with than the `find()` method. `when: "'active' not in some_var"`

You may also find the `service_facts` module a better way of getting service status.

In order for variables to persist across plays, you need to use `set_fact` or `set_stats`.

For further help

[2018-07-26 20:43] #43310 closed, assigned to nobody

[2018-07-26 20:44] dmertl commented on #42371
This seems like it's not making the proper request for the public key metadata. Shouldn't it be `http://169.254.169.254/latest/meta-data/public-keys/0/openssh-key` instead of `http://169.254.169.254/latest/meta-data/public-keys/0={key name}`? That's what the docs here indicate: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html

Or is the plan to just ignore the public

[2018-07-26 21:06] felixfontein commented on #43297
For Ansible 2.6.1, installing only `docker-py` will not work. You need to remove `docker-py` and install `docker` (if it was already installed, do a force-reinstall or also first remove it and then install it again; otherwise it will probably be broken afterwards).

[2018-07-26 21:29] feisa commented on #43152
nexos 3548 version 6.8 and yes i believe it is

[2018-07-26 21:29] zjpeterson opened #43332 "Task name is overridden by include_role, and is not evaluated in output"
##### SUMMARY

When using `include_role`, the `name` parameter given to it appears to override the `name` parameter given to the task itself. Additionally, if jinja2 was being used to determine which role to include, that is not evaluated and is printed raw, which is not useful to an observer.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

#####

[2018-07-26 21:30] jhawkesworth commented on #39235
@jseiser I believe win_reboot is not working in ansible 2.6.1 but should be fixed in 2.6.2, so worth trying again with latest devel or 2.6.2 when its released.

[2018-07-26 21:35] feisa opened #43333 "Nexus error after completing job"
##### SUMMARY
We are pushing a config file to nexus switches

##### ISSUE TYPE
The role runs and pushes the correct config but throws an error at the end causing the job to say fail

##### COMPONENT NAME
`nxos_config`
##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Centos 7.5

##### STEPS TO REPRODUCE
run the playbook

[code]

*************************
src file belo

[2018-07-26 21:35] #40630 closed, assigned to nobody

[2018-07-26 21:45] bradwilliamson commented on #41791
@jborean93 @michaelplemmons  I also have this same issue dealing with ciphers rewriting a PCI chef cookbook into an ansible role.  I'm running  Ansible 2.6.1.  Any ETA on this issue or work around?  I may look into using win_dsc module with xRegistry for Disabling & Enabling ciphers. The rest of the registry modifications needed do not have / in the names.

[2018-07-26 21:52] samdoran commented on #43264
Roles inside the `roles` directive are statically imported, which means all tasks inside them are evaluated at run time, not at execution time.

To get the behavior you want, use `include_role`. This will only load the role if the condition is true and avoid evaluating conditionals on tasks in those roles.

[code]

For further help with the issue, please reach out on IRC or the mailing:

   * IRC:

[2018-07-26 21:52] #43264 closed, assigned to nobody

[2018-07-26 22:01] jborean93 commented on #41791
@bradwilliamson no ETA, it would require a bit of work and I've got a few roadmap items I need to focus on first.

[2018-07-26 22:23] yaplej commented on #38420
@bdowling

I tried the structural changes you mentioned but I was unable to get it to work.  Still getting "timeout trying to send command: macro name PHONE"

[code]

[2018-07-26 22:51] joren485 opened #43334 "WorkerProcess adding non post_validated TaskResult to _rslt_q"
##### SUMMARY

I found this bug during debugging for #43279.

When a task using `with_items` is ready to be executed, the following happens:
1. A [WorkerProcess](https://github.com/ansible/ansible/blob/d94cc3568a81596572fabed6a7f0e6d1486b71ca/lib/ansible/executor/process/worker.py#L53) is created.
2. The WorkerProcess calls [TaskExecutor](https://github.com/ansible/ansible/blob/30ef83c1c072efb3c07

[2018-07-26 22:52] joren485 commented on #43279
After a long debugging session, I found the case of this problem.
I opened [a new issue](#43334) describing the larger problem.

[2018-07-26 22:52] #43279 closed, assigned to nobody

[2018-07-26 23:36] ghost opened #43336 "eos_config: Configuration Warnings cause config application failure."
##### SUMMARY

Tested with Ansible 2.5.6. ~~Attempted to test with stable-2.6, devel, but eos_config sits and spins on 2.6, 2.7.~~
Have now also tested on 2.6, same results.
Edit - devel is now working for me, and I've tested on devel with the same results.
When executing ```switchport trunk native vlan 1040```, if vlan 1040 does not exist on the switch, the command *applies* but produces a warnin

[2018-07-26 23:49] jefflill commented on #42388
Could you please write this warning out to **STDERR** instead of **STDOUT**?

I'm seeing this message when I'm decrypting a variables file to STDOUT and I'm going to have to add special code node to watch for and strip this string out.

[2018-07-27 00:45] archmangler opened #43337 "support for pids_limit parameter in docker_container module"
##### SUMMARY

It appears ansible's docker_container module does not support the --pids-limit parameter.
Without pids-limit there does not appear to be a way to configure the limit of concurrent pids for a running container (example use-case: this is a requirement for the CIS docker benchmark for security hardening)
"pid_mode" does not appear to provide this functionality (if it, in fact does, it

[2018-07-27 01:49] brandonkal opened #43338 "Support rolename.yml for the main role files"
##### SUMMARY
I've found that ansible is very flexible but maintaining a complex structure gets a bit crazy. I am using roles a lot, and it is hard to identify which `main.yml` file I am actually working on - because there are many in each project.

I would propose the ability to use `rolename.yml` as an alternative for `main.yml`. This would greatly improve the maintainability of ansible projects

[2018-07-27 02:42] Fred-sun commented on #43288
Hi @spmp this not a bug, A NSG can use more than one NIC, so delete NIC, don't need to delete NSG ( if the NSG use different NIC, it will impact other NIC work), Thanks!

[2018-07-27 02:43] spmp commented on #43288
Good to know.

[2018-07-27 02:43] #43288 closed, assigned to nobody

[2018-07-27 03:06] #41346 closed, assigned to nobody

[2018-07-27 03:09] lingxiankong commented on #41829
Can anybody please review this PR?

[2018-07-27 03:48] #42541 closed, assigned to Akasurde

[2018-07-27 03:57] #35190 closed, assigned to nobody

[2018-07-27 04:18] #39198 closed, assigned to nobody

[2018-07-27 04:45] ptux commented on #29614
@jpmens

I'm going to implement #27617 too.
So, it would be great if you review this PR ASAP.

[2018-07-27 04:55] #42539 closed, assigned to Akasurde

[2018-07-27 05:13] #40589 closed, assigned to nobody

[2018-07-27 05:37] govindborgaonkar opened #43344 ""msg": "AnsibleUndefinedVariable: 'type' is undefined""
##### SUMMARY

I am getting this error while running the .yml file

        "type": "1"
    },
    "msg": "AnsibleUndefinedVariable: 'type' is undefined"

$cat roles/stores/vars/main.yml

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Distributor ID: Ubuntu
Description:    Ubuntu 18.04 LTS
Release:        18

[2018-07-27 05:52] #38320 closed, assigned to Akasurde

[2018-07-27 06:00] mkrizek commented on #43344
Can you paste the playbook you're running so we can see how you're using your variables? The error message says that the `type` var is not defined, which is true according to your `roles/stores/vars/main.yml` file; `type` in your case is a key in a dict.

needs_info

[2018-07-27 06:09] lgg42 commented on #12862
I also wanted this behavior to be possible since like you said, the root becomes messy in a larger project, I mean, we all don't the get the chance to have a super tidy and well defined infra like (webtier.yml, dbtier.yml, lbtier.yml, backtier.yml, you get me...)
My main concern was group_vars and hosts_vars, so I opted for moving these folders inside inventories/environment/{group_vars,hosts_vars

[2018-07-27 06:12] govindborgaonkar commented on #43344
Sure.

$cat **config_playbook.yml**
[code]

$cat **roles/stores/vars/main.yml**
[code]

Directory Structure :
[code]

[2018-07-27 06:32] govindborgaonkar commented on #43344
roles/stores/tasks/main.yml
[code]

templates/
`a_test_template.j2`

[2018-07-27 06:47] #42611 closed, assigned to Akasurde

[2018-07-27 06:48] #42628 closed, assigned to zikalino

[2018-07-27 06:48] mkrizek commented on #43344
I need to see the content of the templates otherwise I can't run the playbook to reproduce the issue :)

Also, this
[code]
does not belong in the task. That should go to the playbook.

What's `item.store_name`? Where do you get `store_name`?

[2018-07-27 06:55] mkrizek commented on #43344
needs_info

[2018-07-27 06:56] #41218 closed, assigned to nobody

[2018-07-27 06:58] govindborgaonkar commented on #43344
Actually I am changing few things here while posting.
This is not my personal project. Will have to modify the template and post.

[2018-07-27 07:00] govindborgaonkar commented on #43344
Are we allowed to ask for email id or something? so I can share files on google drive

[2018-07-27 07:03] mkrizek commented on #43344
Please, create a minimal playbook/roles/templates that shows your issue so we can reproduce it and fix it if it's a bug. Thanks!

needs_info

[2018-07-27 07:05] govindborgaonkar commented on #43344
Sure. I will try to do it. Allow me some time!

[2018-07-27 07:26] #40380 closed, assigned to Akasurde

[2018-07-27 07:52] tokiwinter opened #43347 "Unable to create lxd profile, general lxd ansible support"
##### SUMMARY

Attempting to create LXD profile results in error

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lxd_profile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

I am probably doing something incorrect. I also tried installing the module directly wit

[2018-07-27 08:47] tokiwinter commented on #43347
If it helps, I am running `lxd` 3.0.0:
[code]

[2018-07-27 09:45] horseinthesky commented on #43272
FInd out `incdule_vars` fail on Ansible 2.6.0 and 2.6.1 both Python2 and 3 but works on Ansible 2.5.0.

[2018-07-27 09:46] rlueckl commented on #38392
Yep, that' a little bit offtopic.

A dash should be no problem, we have many pools with dash in the name and they work fine.

[2018-07-27 10:45] Akasurde commented on #25133
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-07-27 10:45] #25133 closed, assigned to Akasurde

[2018-07-27 10:51] Akasurde commented on #22240
From Ansible 2.5 version and onwards, method [`get_vm`](https://github.com/ansible/ansible/blob/605a90dfeb48f717c3c3cfcd939d5b1b2c8cc4b8/lib/ansible/module_utils/vmware.py#L850) finds unique VM with given name, which overcomes this issue.

I will mark this as resolved. Please feel free to re-open if problem persists.

[2018-07-27 10:51] #22240 closed, assigned to nobody

[2018-07-27 11:03] extmind commented on #42983
I can reproduce this only when enabling SSH pipelining.

[2018-07-27 11:09] nicholasrodriguez opened #43351 "Direct VMKernel Adapter Creation on a dvSwitch portgroup"
##### SUMMARY
I'm unable to create VMKernel adapters directly on a dvSwitch portgroup using vmware_vmkernel.

To get a VMKernel adapter created on a dvSwitch I have to do the following;

1. Create a temporary vSwitch using **vmware_vswitch** on the target ESXi host
2. Create a temporary portgroup created using **vmware_portgroup** on the target ESXi host
3. A VMKernel adapter on the temporary port

[2018-07-27 11:52] yifeikong commented on #37640
This error still happens:

[code]

[code]
[code]

[2018-07-27 12:18] philfry opened #43355 "handler is not run b/c of wrong condition"
##### SUMMARY
A role's handler is not run if another role which depends on this role is getting skipped conditionally.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`myhandler` should be called.

##### ACTUAL RESULTS
`myhandler` is getting skipped.

[

[2018-07-27 12:36] Sebor commented on #43145
I have the same fail.
Details:
ansible 2.6.1
  config file = /etc/ansible/ansible.cfg
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.15rc1 (default, Apr 15 2018, 21:51:34) [GCC 7.3.0]
Managed hosts: Windows Server 2012 R2 (vmware)
With -vvv I get:
attempting to get system uptime
...
attempting to get syste

[2018-07-27 13:03] jctanner commented on #43344
needs_info

[2018-07-27 13:24] govindborgaonkar commented on #43344
root@ng-netserv:/opt/AnsibleProjects# **ansible-playbook test_playbook.yml -vvvvv**
[code]

root@ng-netserv:/opt/AnsibleProjects# **cat test_playbook.yml**
[code]

root@ng-netserv:/opt/AnsibleProjects/roles/stores/tasks# **cat main.yml**
[code]

root@ng-netserv:/opt/AnsibleProjects/roles/stores/templates# **cat test_template.j2**
[code]

root@ng-netserv:/opt/AnsibleProjects/roles/stores/vars# **ca

[2018-07-27 13:30] bradwilliamson commented on #41791
@jborean93 @michaelplemmons  I have a work around for now.  I thought I'd post it to help others until it is resolved.  Requires WMF 5.0/Powershell 5.0 to be running.

`- name: Setup the xRegistry module
  win_psmodule:
    name: xPSDesiredStateConfiguration
    state: present

- name: Use xRegistry DSC resource to manage ciphers
  win_dsc:
    resource_name: xRegistry
    ensure: Present
    key:

[2018-07-27 13:46] grb247 opened #43357 "with_lines using with when given error"
##### SUMMARY

[code]

Output is:

cat: /path/to/file: No such file or directory
fatal: [host_name]: FAILED! => {"failed": true, "msg": "lookup_plugin.lines(cat \"/path/to/filr\") returned 1"}

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

with_lines and when

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2018-07-27 14:02] #42040 closed, assigned to nobody

[2018-07-27 14:02] #42042 closed, assigned to nobody

[2018-07-27 14:15] s-hertel commented on #43357
This seems to be working for me on Ansible 2.5 and 2.6. I'm not able to reproduce your result on 2.4 unless the file doesn't exist, but I do get unexpected output. Does the file exist on the node?
My output on 2.4:
Task:
[code]
Contents of file:
[code]
Output:
[code]

[2018-07-27 14:20] s2504s opened #43360 ""msg": "proxmoxer required for this module" Ansible+virtualenv"
##### SUMMARY

Get this issue if use ansible-playbook inside virtualenv
(I think issue with required modules for the ansible module proxmox_kvm)
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Should works
##### ACTUAL RESULTS

[code]

[c

[2018-07-27 14:22] Akasurde commented on #38358
Closing this issue as documentation now describes this requirement. If issue persists, please feel free to re-open.

[2018-07-27 14:22] #38358 closed, assigned to nobody

[2018-07-27 14:23] Akasurde commented on #38955
@emonat Could you please check the above PR and let me know if it works for you ?

[2018-07-27 14:28] #30002 closed, assigned to Akasurde

[2018-07-27 14:32] Akasurde commented on #39165
resolved_by_pr #42149

[2018-07-27 14:33] grb247 commented on #43357
Yes file exist
I am getting error while running using Ansible tower
other wise it's works fine.

[2018-07-27 14:35] Akasurde commented on #39639
Closing this issue as `vmware_guest_custom_attributes` module is merged, which achieves this functionality. Thanks.

[2018-07-27 14:35] #39639 closed, assigned to nobody

[2018-07-27 14:51] #39165 closed, assigned to nobody

[2018-07-27 15:01] emonat commented on #38955
@Akasurde Unfortunately, I cannot. We re-engineered our virtual environment to work around this issue, in order to move forward.

[2018-07-27 15:03] Oloremo commented on #28231
Any plans to backport this fix to 2.6?

[2018-07-27 15:04] mator commented on #36937
JFYI

ansible 2.6.1 can gather mount info from solaris 11 virtual machine (x86_64):

mator@windrunner:~/ans$ ansible --version
ansible 2.6.1
  config file = /home/mator/ans/ansible.cfg
  configured module search path = [u'/home/mator/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location =

[2018-07-27 15:31] rwagnergit commented on #43274
Appears to be related to the CRLF at the end of the sudo password.  If I update sudoers to not require a password, the issue does not occur.  Is the ssh module erroneously capturing the \r\n at the end of the sudo password into stdout?

[2018-07-27 15:32] franz-kinetica commented on #41583
I was able to reproduce the issue @ljainker got.
See below:

[code]

Error:

[code]

Ansible version:
[code]

[2018-07-27 15:32] dwagelaar opened #43361 "mysql_user user creation fails on MariaDB 10.3 when using host: localhost"
##### SUMMARY

When creating a new user ("zabbix_monitor") with mysql_user on MariaDB 10.3 (MariaDB-server-10.3.7-1.el7.centos.x86_64), it fails under specific conditions with the error message included below.

We've traced it back to the following change in MariaDB: https://github.com/MariaDB/server/commit/84e14bff4a

Apparently, the Ansible mysql_user role already picks this up, EXCEPT when sett

[2018-07-27 15:42] ardling commented on #22996
Reproduced on ansible 2.6.1

[2018-07-27 16:07] samdoran commented on #36937
@mangellopez In my testing, this was fixed in Anisble>=2.5.0. Can you try with a newer release to see if your issue is resolved?

needs_info

[2018-07-27 16:45] bcoca commented on #43357
Module Repo Information
=======================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a AWX/Tower, this is for Ansible  CLI tool.
If you are using Tower contact your support representative, if it is an AWX issue, please submit issue at :

   * https://github.com/ansible/awx/issues

Additionally, should you need

[2018-07-27 16:45] #43357 closed, assigned to nobody

[2018-07-27 17:19] rwagnergit commented on #43274
Also does not occur when using paramiko.  Going to add ssh to component name section.

[2018-07-27 17:32] rwagnergit commented on #43274
Here's a possible workaround to ssh.py:

[code]

[2018-07-27 17:51] Arano-kai commented on #36394
Here is test on ipa managed host with existing in ipa user:
[code]

Sry for late -_-

[2018-07-27 19:11] ro8harp commented on #42447
@bcoca
I saw that you removed needs_triage. Is this a known issue or already being worked? I did search and didn't find any issue like this. Also my first time posting a bug and am not too familiar with why tags get added or removed.

This was also tested in my mac where the same issues above shows up.

Thanks

[2018-07-27 19:13] caphrim007 commented on #42447
@ro8harp he removed it because he looked at the issue and saw that I was cc'd in it. I'm the maintainer of these

[2018-07-27 19:43] TheLastCicada commented on #42162
I can confirm `pip install --force-reinstall docker` was necessary on my Ubuntu 14.04 setup as well.  Just uninstalling `docker-py` and installing `docker` with pip ended up with the error saying `docker-py` was needed.  The `--force-reinstall` resolved the issue.

[2018-07-27 19:43] skylerbunny opened #43365 "get_url docs specifies return var 'status' which actually is 'status_code'"
##### SUMMARY
The docs for get_url describe as one of the return variables:

```status; always; the HTTP status code from the request```

This will never be returned; the source code doesn't return it. What it should specify is:

```status_code; always; the HTTP status code from the request```

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
devel

###

[2018-07-27 19:51] caphrim007 commented on #42447
@ro8harp the following should unblock you

[code]

In other words, include the `server` param

[2018-07-27 20:17] abadger commented on #43162
If you're able to test the stable-2.6 branch, the backport is now present in it and should fix this bug.  Can you test and let us know if it is working there?

needs_info

[2018-07-27 20:20] ganeshrn opened #43367 "eos_config fails to disable configure session"
##### SUMMARY

If configure sessions is disabled within Ansible, it still uses configuration session on remote host
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

eos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Session key not present in result
[code]
##### ACTUAL RESULTS

Session key is presen

[2018-07-27 21:00] betelgeuse opened #43369 "parted module does not understand negative numbers"
##### SUMMARY

From parted manual:

"Also note that you can specify decimal places in the numbers corresponding to partition locations (in megabytes). Negative numbers count from the end of the disk, with "-0" being the end of the disk"

https://www.gnu.org/software/parted/manual/html_chapter/parted_2.html

The ansible parted module should handle these.

##### ISSUE TYPE
 - Bug Report

##### COMPO

[2018-07-27 21:15] Joeskyyy commented on #38605
@Akasurde looks like this may have been fixed in ansible 2.6?

[2018-07-27 21:16] Joeskyyy commented on #38606
This looks to have been fixed in ansible 2.6, as it's working with that now :D

[2018-07-27 21:16] #38606 closed, assigned to nobody

[2018-07-27 22:07] mjmayer opened #43375 "elb_application_lb integration tests failing to create autoscaling group"
##### SUMMARY
The integration tests for elb_application_lb are failing on the task "Create autoscaling group for app server fleet" which is using the module ec2_asg

It is failing to launch the EC2 Instance because of an error:

This dependency should either be identified in the documentation or removed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
[code]

#

[2018-07-28 00:14] hryamzik opened #43377 "AttributeError: 'AnsibleAWSModule' object has no attribute '_diff'"
##### SUMMARY

`AnsibleAWSModule` has a broken diff functionality.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

AnsibleAWSModule

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Call `module._diff` in `ec2_tag` module.

##### ACTUAL RESULTS
[code]

Blocks #43350.

[2018-07-28 00:17] ro8harp commented on #42447
@caphrim007 appreciate the feedback. I’ll give that a try.

[2018-07-28 00:17] tedder opened #43378 "ec2_metadata_facts fails with space in KeyName"
##### SUMMARY

In one region I have a KeyName with a space. We'll call it "ted space". When calling ec2_metadata_facts on an instance with this KeyName, it fails, as AWS EC2 returns a 400 error when trying to pull a public key with a space in the URL.

It's trying to access this url:

    http://169.254.169.254/latest/meta-data/public-keys/0=ted space

And here's some of the debugging that comes o

[2018-07-28 00:20] hryamzik opened #43379 "Calling AnsibleAWSModule with custom configuration"
##### SUMMARY

I'm trying to adjust connection configuration for `ec2_tag`. Here's how I've done this with `boto3`:

[code]

However I didn't manage to pass `config` to `module.client('ec2')` and can't even find coda that handles this code.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

AnsibleAWSModule

##### ANSIBLE VERSION

[code]

Blocks #43350.

[2018-07-28 00:26] Nothing4You opened #43380 "nsupdate handling record values with spaces"
##### SUMMARY
When adding a record with values with spaces, for example a TXT record with SPF data like `"v=spf1 mx -all"` it will currently be added as `"v=spf1" "mx" "-all"`. This results in being finally parsed as  `v=spf1mx-all`, breaks the syntax of the record and I wouldn't consider this intuitive behavior.
As I found on https://stackoverflow.com/a/17255241 when double-quoting the record val

[2018-07-28 01:32] basictheprogram opened #43381 "win_chocolatey: name: all state: latest "Error installing all""
##### SUMMARY
Possible regression of #25018?

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Running Ansible from macOS 10.12.6
Managing Windows7, Windows10

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
All installed chocolatey packages would be updated

##### ACTUAL RESULTS

[code]
Mu