[2017-06-14 09:47] jhawkesworth commented on #23649
https://github.com/ansible/ansible/pull/20992 would implement this but needs rebase/merge conflicts to be resolved.

[2017-06-14 09:59] luisdavim commented on #25682
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

[2017-06-14 10:01] cytopia commented on #25598
When looking at the module example:
[code]
Couldn't you just set the initial alternative by the `path`, if there is none yet?

[2017-06-14 10:13] pilou- commented on #25598
The link points to `/etc/alternatives/<name>`, which is itself a link to the `path` parameter:
[code]

According to the commands below, I am not sure how the initial alternative can be set by the path ?
[code]

I don't know neither how `/usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java` could be there without the `java` alternative.

[2017-06-14 10:20] cytopia commented on #25598
One way could be to either use

1. path only
2. or path and name:

### 1. path only:

[code]

altpath: ` /usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java`
altname: `$ basename  /usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java` (evaluates to `java`)

Setting:

[code]

### 2. or path only:

[code]

altpath: `$ dirname /usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java` (remove the `java` bit)
altname: `java

[2017-06-14 10:21] jctanner opened #25686 "ansible_facts function is missing after 2.4 facts refactoring"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
2.3 and below had a function called "ansible_facts" in module_utils/facts.py. After the recent facts refactor that function is gone. Openshift was using that function in a custom module and would probably like for

[2017-06-14 10:33] karniemi commented on #16731
This bug ticket is closed, so I assume that the fix is already in some release? Which one? I tried to find it out by following all those commit&merge links.... but that seems to be pretty difficult and I could not find it out.

[2017-06-14 11:34] pilou- commented on #25598
It seems to me that the problem is related to the `/usr/bin/` part of `/usr/bin/<altname>`: it could be `/usr/sbin/<altname>` instead.

[2017-06-14 11:36] rabin-io commented on #16305
@dale-c-anderson , after moving to use `.backup` folder, I didn't encounter problems like that any more (also in Debian based distro the `site-enabled` folder and cron.d folders), in your example `logrotate` will skip the `.backup` folder because it's NOT a regular file (see the output below)
[code]

[2017-06-14 11:54] cytopia commented on #25598
Yes you're right.
But then it also means, I always have to specify `link:` when using this module, just to be on the safe side.

[2017-06-14 12:20] pilou- commented on #25598
On Debian Jessie, `openjdk-7-jre-headless` package contains `/usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java` and configure the `java` alternative.

You might check in `/var/log/alternatives.log*` files why `java` alternative has been removed.

[2017-06-14 12:23] talonx opened #25688 "Add support for bigtable as an option in instance create permissions"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gce
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 17.04
##### SUMMARY

Including bigtable in the list of permissions (scopes) while creating an instance in GCE throws an error with the following message
[code]
##### STEPS TO REPRODUCE

Use the gce module to create an instance and include the following param

[2017-06-14 12:25] cytopia commented on #25598
On my system, I am downloading Oracle Java directly (No other Java installed). Once extracted and installed I was just trying to set the java alternative.

And that unfortunately only works when using `link:`.

[2017-06-14 12:46] szederz commented on #25242
@bcoca Could you please comment what was the package, and the platform, where you experienced prompts? I would like to check if setting the DEBIAN_FRONTEND environment variable to "noninteractive" fixes that issue.

[2017-06-14 12:51] mpostument opened #25690 "Failed_when is not working correctly for s3_bucket module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_bucket and failed_when option

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
I am trying to handle the error when the bucket is not empty. But I am receiving error

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2017-06-14 13:05] sivel commented on #25690
`failed_when` in the context of a `with` loop works differently than evaluating the registered result in another task.

When used in a loop, `failed_when` will evaluate each iteration of the loop, and will not contain the `results` key.

What you likely want is:

[code]

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https:

[2017-06-14 13:05] #25690 closed, assigned to nobody

[2017-06-14 13:16] sourcejedi commented on #25584
Oh!  Sorry.  I misread you as quoting my original post, and saying it didn't work as I described.  In fact you were showing me modified code I could use, which would provide a failure when my target directory did not exist.  Thanks :).

---

I see ansible is more magic than I noticed :).  It can create _multiple_ directories, if needed for the dest path (`os.makedirs()`).

    # Special handling f

[2017-06-14 13:20] twouters opened #25693 "alternatives module: also run when link doesn't exist"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

alternatives

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If the filename defined by `link` doesn't exist, update-alternatives should be run.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

update-alternatives should be run and `/etc/mysql/my.cnf` should be a symlink to `/etc/alternativ

[2017-06-14 13:21] s-hertel commented on #25673
@darknessnz Thanks for filing the bug report! Sorry this is breaking for you. I'm having a hard time generating the error with your reproducer. Can you run this and see if the subnet is correctly found? (I'm wondering if could it be in another region)
[code]
Also, if you're feeling inclined to test something, I'm wondering if you playbook worked prior to #24470 being merged, which allowed VPCConne

[2017-06-14 13:24] twouters opened #25694 "alternatives module: add a force option"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

alternatives

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If the filename defined by `link` is a regular file, update-alternatives refuses to replace it with a link, unless --force is provided.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

update-alternatives should be run and `/etc

[2017-06-14 13:29] MKPhil commented on #25603
Have tested in 2.3.1 and works as expected

[2017-06-14 13:29] #25603 closed, assigned to nobody

[2017-06-14 13:30] mikeeaton83 opened #25696 "vmware_guest: non-helpful error when omitting required parameter.."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default config, nothing changed

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
I got the following error when trying to use vmware_guest:

[code]

##### STEPS TO REPRODUCE
Use vmware_guest module and omit the hostname parameter for vcenter

[code]

##### EXPECTED RESULTS
I expecte

[2017-06-14 13:33] smalenfant opened #25697 "lvol: Check mode makes changes"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
lvol

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes to ansible.cfg

##### OS / ENVIRONMENT
Ansible runs from Centos 6.8 against Centos 7.3

##### SUMMARY
After setting up a volume with lvol, the second run with `--check --diff` will make changes and render the volume inactive. I'm running s

[2017-06-14 13:43] nerzhul commented on #25696
Hello,
it seems your PyVmomi failed and it's not in ansible what is the pyvmomi version ?

[2017-06-14 13:47] if-meaton commented on #25696
Hey @nerzhul - the above task runs fine if i add in hostname: to vmware_guest - i removed it by mistake and started getting that error - re-adding it makes it all work again with no errors

[2017-06-14 13:51] dagwieers commented on #25696
We definitely need a sub-parameter spec implementation for all the possible options. That would catch this.

[2017-06-14 14:05] RuBiCK commented on #24823
Same configuration, same problem.

Tested with
[code]

Tested with ansible versions :
[code]

[2017-06-14 14:09] kahowell commented on #25664
@tazmarine, I looked through the changes between the two versions and here is my working theory on what's happening:

We introduced a proxy connection test in order to fix [bug 1301215](https://bugzilla.redhat.com/show_bug.cgi?id=1301215). This test has a timeout of 10 seconds. If a connection can't be made to the proxy within that time (via plain socket), then you'll see "Proxy connection failed,

[2017-06-14 14:15] alikins commented on #25686
Is the module intentionally re-collecting system facts?  The old ansible_facts() method was more or less equivalent to running the setup module or a regular 'gather_facts: True'.

Is openshift_facts used in lieu of setup.py for fact collection?  Or does it (re)-collect system facts so it can reference them locally? (Like the code in https://github.com/openshift/openshift-ansible/blob/master/roles/

[2017-06-14 14:31] s-hertel commented on #25521
Hm, having trouble reproducing. With the output of you last task below, can you see anything I am doing differently?
[code]

[2017-06-14 14:31] MichaelBaydoun commented on #25315
Closing, this was our issue.  We had a failed_when clause in our full code, and the text we were looking for for missing services changed from containing "cannot find" to "Could not find".  Updating our failed_when clause corrected the issue.

[2017-06-14 14:31] #25315 closed, assigned to nobody

[2017-06-14 14:33] mvukadinoff opened #25699 "Task include_vars assigning into variable doesn't support nested variables"
##### ISSUE TYPE
- Feature Idea
 - ~~Bug Report~~

##### COMPONENT NAME
include_vars - Load variables from files, dynamically within a task.
http://docs.ansible.com/ansible/include_vars_module.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default config

##### OS / ENVIRONMENT
CentOS Linux release 7.3.1611
N/A -

##### SUMMARY
Task include_vars assigning into variable doesn't support nes

[2017-06-14 14:36] bcoca commented on #25699
This is not a bug (i updated description) as it was never meant to allow for this, left it as a feature request.

[2017-06-14 14:43] claer commented on #25655
Hello,

I tried with acceleration but as connections are 'local' it does not work.
Same for Pipelining, I tried none the less :) but it does not solve my issue.

Best regards,

Claer

[2017-06-14 14:46] mvukadinoff commented on #25699
Thanks for the quick reply. So I guess this wouldn't change anytime soon. Currently we're mitigating the limitation by not using nested variables, but this usually leads to a lot of repeated values.
It wouldn't make sense to define the nested variables in the variable files with the namespace as the idea of having it is to be able to dynamically load it under any name.
Example:
testvar: "Should-Wo

[2017-06-14 14:47] jhawkesworth commented on #25603
Thanks for the follow up @MKPhil

[2017-06-14 14:50] bcoca commented on #25699
it would need to enforce tempalting at 'import time', one way around this issue would be using YAML aliases ( &  and *).

Another other way would be a custom YAML function !include_var_name .. but that it would also need to define a way to handle when include_vars is used w/o a namespace.

[2017-06-14 15:05] Qalthos commented on #25137
Have you had a chance to try the changes yet?

[2017-06-14 15:10] #18928 closed, assigned to nobody

[2017-06-14 15:12] mvukadinoff commented on #25699
I've looked in the code a bit. If I'm reading this correctly isn't there a way to force templating inside this if?

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/include_vars.py#L134

        if self.return_results_as_name:
            scope = dict()
            scope[self.return_results_as_name] = results
            results = scope

[2017-06-14 15:15] aioue commented on #21632
@alikins @tdobrovolny I have the exact same issue when using `immediate: true`, even after the fix. Without `immediate: true`, there is no problem.

[2017-06-14 15:16] bcoca commented on #25699
@mvukadinoff and that would break many playbooks as vars are expected to be lazy

[2017-06-14 15:17] smalenfant commented on #25697
Seems simpler to reproduce... Run this task twice and volume goes inactive. I believe that's because of the "inactive". Seems like first creation doesn't observe that statement and got me confused. Testing without.

[code]

[2017-06-14 15:20] dagwieers commented on #22924
This problem still affects the devel branch too.

[2017-06-14 15:22] m2106lw commented on #25508
Running a playbook like this:
[code]
Will result in a success
[code]

With further testing it seems like as long as we modify the addresses with ansible we don't have any issues modifying the policies with ansible.

[2017-06-14 15:26] pilou- commented on #24823
@RuBiCK @pdev77 could you try with the patch proposed in #25703 ?

[2017-06-14 15:29] pilou- commented on #25584
@sourcejedi could you review #25701 ?

[2017-06-14 15:50] Rylon commented on #24045
Quick update for you, through trial and error I was able to get this functionality to work - but only using version `1.5.0` of `apache-libcloud`.

[2017-06-14 16:06] deekayen opened #25705 "win_iis_webapppool reverted to Int32 for processmodel attributes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_iis_webapppool

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg
[code]

##### OS / ENVIRONMENT
Running from Redhat 7.3 against Windows 2008 R2 with WMF 3.0 and 4.0.

##### SUMMARY
When I upgraded to 2.3.0.0, I switched to using strings for values to win_iis_webapppool processmodel attributes as we tested in https://github.com

[2017-06-14 16:19] s-hertel commented on #25521
I have made a PR to improve error messages for this module: #25704.

[2017-06-14 16:47] flare-ws opened #25707 "Data from multiple ansible.cfg should be partially merged instead of a full replacement"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME
ansible.config.manager.ConfigManager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

multiple ansible.cfg files
~/.ansible.cfg
{{ playbook_dir }}/ansible.cfg

##### OS / ENVIRONMENT
N/A

##### SUMMARY
For some reasons I want to override a single value from ansible.cfg, for example, "hash_behaviour", for a single playbook. B

[2017-06-14 17:03] alikins commented on #25365
https://github.com/ansible/ansible/pull/25708 adds two things that should help:

- if we hit any exeptions in fact collectors, we add some info about it to the 'ansible_facts_exceptions' fact.
- add a setup.py option fail_on_error that will cause setup.py return as a failure if ansible_facts_exceptions is not empty

That will allow the current behavior of trying to be resistant to any fact collect

[2017-06-14 17:06] sdodson commented on #25686
@abutcher would know best

[2017-06-14 17:24] bcoca commented on #25707
dupe of #17914

[2017-06-14 17:24] #25707 closed, assigned to nobody

[2017-06-14 17:25] Akasurde commented on #21121
@eastside-hustle What is the status of your VMWare Licence ? AFAIK, `Current license or ESXi version prohibits execution of the requested operation.` seem to be error when Licence is either expired or free one? Very good explanation about error is given [here](https://benohead.com/esxi-restrictedversionfault/)

[2017-06-14 17:30] itdependsnetworks commented on #23517
Fixing and keeping backwards compatibility is mutually exclusive, will close issue.

[2017-06-14 17:30] #23517 closed, assigned to gundalow

[2017-06-14 17:43] ulope opened #25710 "Removed restricted key from module data: ansible_docker_gwbridge"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: macOS
Target: EC2 Ubuntu 16.04

##### SUMMARY
On an Ubuntu target (running on EC2) with installed docker gathering facts raises a warning about a restricted key `ansible_docker_gwbridge` being returned in the module data.
AFAICT this supposedly

[2017-06-14 17:59] jchristopher327 commented on #25137
Yes and it worked as expected. I disabled the API on of the switches and ran the palybook again. The `no nxapi http` command is seen in the debug.

[code]

[2017-06-14 18:05] PREM1980 opened #25711 "Error while fetching server API version"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
anisble-container

##### ANSIBLE VERSION
ansible 2.3.0.0

##### CONFIGURATION
Nothing changed

##### OS / ENVIRONMENT
MAC

##### SUMMARY
Trying to create a ansible-container as given in this tutorial but get an error while running anisble-container run.

http://docs.ansible.com/ansible-container/getting_started.html#dipping-a-toe-in-starting-fro

[2017-06-14 18:14] tdobrovolny commented on #21632
@aioue Confirm. Adding `immediate: true` make the same error.

`ansible 2.4.0 (devel 6ce7448ca4) last updated 2017/06/08 18:13:48 (GMT +200)`

[code]

[2017-06-14 18:19] aioue commented on #21632
@alikins issue not completely fixed by #21693

[2017-06-14 18:30] wincent opened #25712 "host_group_vars.py incorrectly accesses non-YAML files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

host_group_vars.py

##### ANSIBLE VERSION

Current HEAD of the "devel" branch:

[code]

##### OS / ENVIRONMENT

Running on macOS, but it's almost certainly irrelevant.

##### SUMMARY

Attempts to run a playbook are blowing up because host_group_vars.py is trying to parse files like "group_vars/all/.gitignore" as YAML.

(Note that in practice, I

[2017-06-14 18:35] aliddell commented on #22673
+1

[2017-06-14 18:38] jmcginn13 opened #25713 "vmware_guest_facts fails with missing parameter when searching by UUID"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest_facts

##### ANSIBLE VERSION
[code]
NOTE: I also reproduced this on the latest 2.3.0 release too

##### CONFIGURATION
Using default configuration with no ansible.cfg

##### OS / ENVIRONMENT
Centos 7
uname -r: 3.10.0-514.16.1.el7.x86_64
ESXi 6

pip show pyvmomi
[code]

##### SUMMARY
vmware_guest_facts fails to search by uuid with the

[2017-06-14 18:51] s-hertel commented on #25428
A workaround for this is to not specify the brackets around the principal if there is only one. Working on a solution though!

[2017-06-14 18:52] ikkaro opened #25714 "vmware_guest_disk: Add feature for Disk IO limits and shares"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

vmware_guest.py
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Like the module vsphere_guest.py, this module should support reconfigure in order to add or remove resources from the VM.
For instance:
    Add a new disk. Remove is not required.
    Add/Remove memory.
    Add/Rem

[2017-06-14 18:54] shdobxr commented on #25428
Much thanks. I typically lend brackets to my Jon templates for variables.
Even if the variable list is only one element. Valid point.

On Jun 14, 2017 2:52 PM, "Sloane Hertel" <notifications@github.com> wrote:

[2017-06-14 19:12] shdobxr commented on #25428
Sorry typo by autocorrect.

For my bucket policies I build json templates with variables that I then
leverage in my play.

On Jun 14, 2017 3:03 PM, "Ryan Brown" <notifications@github.com> wrote:

Is "Jon" an autocorrect of jinja, or are you doing some further var
templating?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/an

[2017-06-14 19:14] sivel opened #25715 "newline character in DOCs can break functionality in validate-modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
validate-modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
If `\n` is used in docs (not `\\n`) it breaks determining the max line of docs used to ensure that imports are after DOCs.

This is caused by `_get_docs` where we determine `end_lineno` based on `lineno` and adding the length of the string

[2017-06-14 19:24] jhawkesworth commented on #25705
This is odd.
I am hoping that what has happened is that somehow you are picking up modules from an older version of ansible.

Running

ls -l `find . -name win_iis_webapppool.ps1`

On this machine on a development checkout I see there are two versions, one from the old 'extras' repo, 3484 bytes, the other from the main ansible repo, 4098 bytes.  I get the same results when I'm on 2.3.1 branch or la

[2017-06-14 19:28] Nitaco commented on #21989
I fixed this in a new pull-request. The default binary was not changed, but can be edited with the plugin_bin parameter.

regards

[2017-06-14 19:33] abutcher commented on #25686
They're recollected so that we can reference facts like `ansible_default_ipv4`, `ansible_product_name`, `ansible_product_version`, `ansible_pkg_mgr`, `ansible_fqdn`, `ansible_nodename`, `ansible_virtualization_type` and `ansible_virtualization_role` when making configuration decisions within our facts module.

We currently try to call `ansible_facts` and then fallback to `get_all_facts(module)['an

[2017-06-14 19:46] bcoca commented on #25712
we already filter in _find_vars_files, but this includes files w/o an extension as `group_vars/all` is also valid, we should skip hidden files though.

[2017-06-14 19:48] bcoca commented on #25712
[code]

[2017-06-14 19:48] wincent commented on #25712
Yep, that would solve my concrete case.

[2017-06-14 19:55] #25712 closed, assigned to nobody

[2017-06-14 20:03] sourcejedi opened #25717 "copy module: method to inhibit automatic creation of target directory and its parents"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
copy module: method to inhibit automatic creation of target directory and its parents.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

I suggest providing a `dest_dir` parameter which is equivalent to `dest`, except that `dest_dir` must already exist and be a directory.

The copy module automatica

[2017-06-14 20:12] sourcejedi commented on #25717
...by this argument there should also be `dest_file`, equivalent to `cp --no-target-directory`, but I'm not feeling it.  I suppose I need to add that it's more common to encounter a directory that doesn't exist (or has been specified with the wrong name), than for a directory to exist with the same name as the file you want to create.

[2017-06-14 20:35] nitzmahone commented on #22924
This appears to be worse than just happening on includes- it appears that `any_errors_fatal` is completely nonfunctional at the play level- the following test always runs to completion (with hosts `local1` and `local2`):

[code]

[2017-06-14 20:40] dagwieers commented on #22924
Yup, and since we lack integration tests we are doomed to find this regress again ;-)
ansible/ansible#i18021

[2017-06-14 20:47] DavidWittman opened #25718 "ec2.py: Dynamic inventory does not work with assumed roles in shared config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default ec2.py and ec2.ini inventory scripts

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I'm rephrasing #24740 as a bug instead of a question. The dynamic inventory script should allow for using profiles in the shared `~/.aws/config` which authenticate with assumed roles.

##### STEPS

[2017-06-14 20:52] selble opened #25719 "ansible-vault Logs Decrypted Contents to Log"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible is running on a CentOS 7.3.1611 system

##### SUMMARY
We had implemented transparent encryption of certain file types (*.key, etc.) using Ansible Vault, more-or-less as described here:

https://leucos.github.io/articles/transparent-vault-revis

[2017-06-14 20:52] hemskgren opened #25720 "nxos_vlan support fabricpath"
##### ISSUE TYPE

[code]
##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[2017-06-14 21:11] darknessnz commented on #25673
Hi, thanks for the response. The example you posted won't work for my environment (as subnet is a name not id) but I'm actually doing something similar right before the ec2 modules call.

[code]

This definitely returns the subnet I need to deploy the ec2 instance into. With the register value providing the actual subnet id values via subnet_info.subnets[0].id . They are definitely all in the same

[2017-06-14 21:33] jctanner opened #25722 "become_method: su ... broken in devel"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
become_method: su

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

[code]

##### STEPS TO REPRODUCE
[code]

[2017-06-14 21:37] bcoca commented on #25722
lost these in ansible-config, pushing fix

[2017-06-14 21:37] bcoca commented on #25722
fixed via 5e4b8d04d7b078d4d1861a8701b8dc85c9edc3d6

[2017-06-14 21:37] #25722 closed, assigned to nobody

[2017-06-14 21:47] jmalette commented on #19203
any update on this? I'm experiencing the same issue?

[2017-06-14 21:50] sivel commented on #23712
Another place where improving testing here could have caught an issue: https://github.com/ansible/ansible/issues/25722

[2017-06-14 21:52] sivel commented on #23712
To expand on what problems we need to resolve to test this properly, we run the tests from within the containers as root.  We cannot use sudo or su as root to get prompts.  As a result, we effectively skip all prompt matching functionality.

We would somehow need to create an unpriv user, and reconnect to the container the tests are running from (or to some other external host) and exercise the be

[2017-06-14 21:55] s-hertel commented on #25428
I've made a fix but it seems like a lot of new code to introduce for so little a fix so I don't know if it's worth merging. But your feedback on it would be appreciated if you want to test it. :)

[2017-06-14 21:56] jmalette commented on #19203
I'm running into the same bug in 2.3.1, is there any progress on this?

[2017-06-14 21:59] jamesongithub opened #25724 "Feature Idea: Lock pip dependencies to a specific version"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ansible install

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Hit this issue https://github.com/pyca/pynacl/issues/298 when installing ansible on a machine without `make`. Basically some ansible pip dependency now depends on pynacl which requires `make` to build. Ansible pulled this in du

[2017-06-14 22:34] naftulikay opened #25725 "Ansible should not preserve quotes on /etc/lsb-release DISTRIB_ID value"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible facts, specifically `ansible_distribution` et al, and how they are evaluated.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None.

##### OS / ENVIRONMENT

elementary OS Loki, which is Ubuntu 16.04.

##### SUMMARY

My `ansible_distribution` here is being reported as the literal string `"elementary"` including the quotes, because

[2017-06-14 23:13] eastside-hustle commented on #21121
@Akasurde I am using the free ESXi license.

[2017-06-14 23:43] nitzmahone commented on #23712
If we categorize those tests as `destructive`, commenting out the rootok.so auth line from /etc/pam.d/su will cause su to prompt root on most distros- certainly enough of them that we could be reasonably sure `su` is working properly in most places.

[2017-06-14 23:54] kevensen commented on #25522
@silvinux Can you please provide the Ansible task that you used when you discovered the bug?

[2017-06-15 06:13] stroobandt opened #25729 "user module documentation is incomplete (missing RETURNS, etc)"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
User module

##### ANSIBLE VERSION
All

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Poorly documented command option

##### STEPS TO REPRODUCE

N/A

##### EXPECTED RESULTS

Please, rewrite below documentation excerpt.
As it currently stands, it is completely unclear what is meant with it.

##### ACTUAL RESULT

[2017-06-15 06:17] stroobandt commented on #25729
Here is some more proof that I am not the only one with difficulty in understanding what is actually meant with this: <https://serverfault.com/q/542910/175321>

[2017-06-15 06:51] hughsaunders commented on #15575
`default(var, true)`  isn't so useful for booleans, as it will replace anything that evaluates to false. If you want to set a default when the provided var is  `""` then you can use a jinja if statement.

[2017-06-15 07:31] HackersSpirit opened #25732 "ansible 2.3.0.0 passing an argument with new line shows invalid input"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running ansilble on -> Ubuntu 14.04
Managing server -> Ubuntu 16.04

##### SUMMARY

 I am trying to configure infinidb database using ansible
Their is a file postConfigure which accepts user input during installation
I am trying to provide input to the file as me

[2017-06-15 08:14] jhawkesworth commented on #25388
@mwinfie @berney  #24025 has now been merged.  Please test using latest devel so we can close off this issue, hopefully.

needs_info.

[2017-06-15 08:14] jhawkesworth commented on #23471
fixed by #24025

[2017-06-15 09:15] Maximus86 commented on #24322
Issue still persists..

[2017-06-15 09:47] a9tm opened #25738 "Inject variables from separated file into playbook"
##### ISSUE TYPE

 - Usage

##### COMPONENT NAME

user
mysql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Defaults

##### OS / ENVIRONMENT

CentOS 7.3

##### SUMMARY

I'm currently re-writing a playbook where there's a role to create system user and mysql users as well. I'm following this template:

    |-- inventories
    |   |-- staging
    |   |   |-- hosts
    |   |   |-- group_va

[2017-06-15 10:39] Nir-Tal opened #25739 "lineinfile to encrypted var file corrupt vault"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

LineInFile + ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OSX
##### SUMMARY

I'm writing a playbook to add var item to var file on the local host to be used with other playbook when deploying

I'm using lineinfile module to add item to var
[code]
I'm running the playbook against encrypted var f

[2017-06-15 10:43] jhawkesworth commented on #20056
https://github.com/ansible/ansible/pull/20992 would cover this but currently it needs merge conflicts resolving.

[2017-06-15 10:48] gundalow commented on #25137
resolved_by_pr 25306

[2017-06-15 11:09] hogarth-sv opened #25740 "provide option to consider any changes a junit failure in junit plugin"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
junit

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
A fairly common scenario is an idempotent test to ensure that multiple runs are safe.

In this situation any "changed" reported should be considered a fail in junit reporting.

##### STEPS TO REPRODUCE
Any playbook that results in a task r

[2017-06-15 11:19] onitake commented on #24119
Isn't this what `unsafe_writes` does?
Or am I misinterpreting the documentation?

[2017-06-15 11:22] thnee opened #25743 "Service module uses commands prefixed with 'one' on FreeBSD"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`modules/system/service`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

FreeBSD 11, both as manager and managee.

##### SUMMARY

The `FreeBsdService` subclass of the service module uses `onestart` / `onestop` / `onereload` / `onestatus` instead of the expected `start` / `stop` / `reload` / `status`. These

[2017-06-15 11:28] ikkaro commented on #25029
I also have this issue.
      disk:
      - size_gb: 10
        type: thin
        datastore: 'INTERNAL_HYBRID_TECHNOLOGY'
        autoselect_datastore: true
      - size_gb: 20
        type: thin
        datastore: 'INTERNAL_HYBRID_TECHNOLOGY'
        autoselect_datastore: true

The disk are created where the template resides.

[2017-06-15 11:29] Akasurde commented on #25713
I can reproduce this on my following setup -

RHEL 7.3
Python 2.7.5
ESXi 6
pyvmomi==6.5.0.2017.5.post1
Ansible 2.4.0

[2017-06-15 11:47] nodiscc commented on #12608
Ansible 2.2.1.0-2 in Debian repositories is also affected.

[2017-06-15 12:16] julienvey opened #25746 "ovirt_tags unassign tags from all unlisted VMs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ovirt_tags

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
currently, `ovirt_tags` module unassign tags from all vms not listed in the `vms` field. This is a bit odd, because it means we need to know of all the vms associated with this tag, before adding a new tag to a vm.

Looking at the code, thi

[2017-06-15 12:26] nerzhul commented on #25713
cc @jctanner i think we did similar fix on vmware_guest module recently, no if yes we can backport the fix to this module too

[2017-06-15 12:35] s-hertel commented on #25673
Fix coming for this shortly. It appears the PR I linked above resulted in region us-east-1 for the VPC connection.

[2017-06-15 13:01] sivel commented on #25738
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-06-15 13:01] #25738 closed, assigned to nobody

[2017-06-15 13:09] sivel commented on #25739
So you are attempting to use lineinfile against a vault encrypted vars file?

This won't work.  The file isn't decrypted and replaced with a decrypted version during ansible-playbook execution.

It's just read and decrypted in memory.

needs_info

[2017-06-15 13:14] michael-dev2rights commented on #18933
@rouge8 your confirmation that the PR - https://github.com/ansible/ansible/pull/23988 works for you would be appreciated (I think that @gundalow actually means the fix is in https://github.com/ansible/ansible/pull/23988)

[2017-06-15 13:27] smalenfant commented on #25697
Seems like this works as designed, except that it doesn't observe "active: no" on initial creation.

[2017-06-15 13:38] woshihaoren opened #25748 "Can windows setup has mac address like linux?"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/windows/setup.ps1

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Like linux output, has ansible_default_ipv4 and macaddress

        "ansible_default_ipv4": {
            "address": "172.16.2.11",
            "alias": "eth0",

[2017-06-15 14:08] silvinux commented on #25522
@jctanner It will duplicate the last two rule_control parameters (ignore=ignore default=die]) as many tasks run in the playbook.
---
- hosts: lab
  gather_facts: yes
  remote_user: gnfux
  become: yes
  become_method: sudo
  tasks:
    - name: "Ensure content of /etc/pam.d/system-auth"
      pamd:
        path: /etc/pam.d/
        name: system-auth
        type: password
        control: requisite

[2017-06-15 14:17] jhawkesworth commented on #25748
Looks like this would be straightforward to add.

Just gave this one-line change a quick try

[code]

[2017-06-15 14:30] alikins commented on #14548
needs_info for year+, closing

[2017-06-15 14:30] #14548 closed, assigned to nobody

[2017-06-15 14:36] bcoca commented on #25743
IIRC the `one` prefix was added specifically to ensure the status of the service was followed and any enabled/disabled entry in rc was ignored.

[2017-06-15 14:40] alikins commented on #25719
'ansible-vault view' is using ansible.cli.vault.VaultCLI.execute_view, which does:

[code]

self.pager is ansible.cli.CLI.pager which does:

[code]

(or some variant of display.display())... display.display -> ansible.utils.display.Display.display()

display.display() will also log to the log_file if it is not called with 'screen_only'.

In other words, to fix the bug we need to pass 'display_only

[2017-06-15 14:44] thnee commented on #25743
Thanks for taking the time to reply. Not sure what that means "the status of the service was followed". Using `onestart` and the like clearly breaks when using perfectly valid configuration flags in `rc.conf`, as shown by case 2 above. These commands are provided in FreeBSD as a way of overriding configuration. They should not be considered a default mode of operation for a service module, especia

[2017-06-15 14:49] jladdjr commented on #25631
@bcoca: https://gist.github.com/jladdjr/f740cd7992430dd0ff7ecca439706590

[2017-06-15 14:50] bcoca commented on #25743
status/start/stop would now work to reflect the expected 'state' in the task, as they would 'obey' the configuration, this is fine for services that have a single daemon/daemon state to consider.

What was not considered is your case, that the service is actually multiple daemons, optional via configuration.

[2017-06-15 14:50] jladdjr commented on #25631
Talked with @chrismeyersfsu on Tower team - he's looking at how we implement the fact caching plug-in to see if it could be the source of the issue

[2017-06-15 14:52] bcoca commented on #25631
it seems we are getting a string back instead of a dictionary, I would expect a dictionary since that is basically what the cache plugin derives from.

[2017-06-15 14:52] #25719 closed, assigned to alikins

[2017-06-15 14:54] jladdjr commented on #25631
From the inventory script or the fact cache plugin?

[2017-06-15 14:54] gundalow commented on #24411
Also seen on
[code]

Which is in the AWS Market Place

[2017-06-15 14:56] sivel commented on #24322
cc @shanemcd

[2017-06-15 15:05] thnee commented on #25743
I see. It would still be possible to 'obey' the configuration of having the service started, assuming that the user has also enabled it beforehand. This is the standard way of using services on FreeBSD.

[2017-06-15 15:07] bcoca commented on #25743
@thnee understood, but this was decided long ago to 'normalize' the behaviour as on other unicies for the module.

[2017-06-15 15:10] bcoca commented on #24119
@onitake yes and no, unsafe_writes allows an 'extra level of fallback' that actually edits the file, but it will not be used if the file CAN be updated atomically

[2017-06-15 15:15] cocampbe opened #25753 "mount module check src when state=unmouted, fail or succeed based on src."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
mount

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OL6.9

##### SUMMARY
I think it would be beneficial if the mount module, when the state is unmounted, could use the src option to determine if the mount should be unmounted. There are times where data is moved to a new location, ie NFS server, but the mount point

[2017-06-15 15:23] selble commented on #25719
Many thanks for the quick fix on this. As you might imagine, having sensitive data show up in logs that in turn are ingested into Splunk can raise some eyebrows.

[2017-06-15 15:23] ricardogaspar2 opened #25754 "win_dsc : Stringified enum types are not accepted as they are in native policy files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`win_dsc` while using `cAdministrativeTemplateSetting` from `PolicyFileEditor` Module (https://github.com/dlwyatt/PolicyFileEditor)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
My ansible.cfg as the default/original settings

##### OS / ENVIRONMENT

Ansible Control Machine is running on a CENTOS  `CentOS Linux release 7.3.1611 (Core)` and

[2017-06-15 15:38] Akasurde commented on #25696
resolved_by_pr #25731

[2017-06-15 15:48] chuegel opened #25755 "Question: how to get content from URL header?"
I need to get the content (md5 checksum) from the header of a url. This could be done with:

- name: Get md5sum from https://wordpress.org/latest.tar.gz header
  shell: curl --silent --head https://wordpress.org/latest.tar.gz | grep MD5 | awk '{print$2}'
  register: md5sum_wordpress

- name: Download WordPress
    get_url:
        url: https://wordpress.org/latest.tar.gz
        checksum: md5:"{{

[2017-06-15 16:20] Akasurde commented on #18167
@bcoca I would like work on this.

[2017-06-15 16:32] bertramn commented on #24322
I usually install the latest ansible packages from PyPi. Works like a bought one on Zesty.

[code]

[2017-06-15 17:24] alikins opened #25757 "The Logger() setup by utils.display uses an unconventional name"
##### SUMMARY

The logging.Logger() class setup by ansible.utils.display() uses an unconventional name  ('p=$PID u=$USER | ')

[code]

Normal convention is to use the module name for the Logger() name, ie

[code]

https://docs.python.org/2/howto/logging.html#advanced-logging-tutorial

This results in the Logger() used for display being hard to reference from other code or from logging configuratio

[2017-06-15 17:30] shanemcd commented on #24322
Zesty build is now on Launchpad: https://launchpad.net/~ansible/+archive/ubuntu/ansible

@jctanner @sivel I think this issue can be closed now.

[2017-06-15 17:32] alikins opened #25758 "The logging setup by utils.display() has it's log level hardcode to DEBUG"
##### SUMMARY

The logging setup by utils.display() has it's log level hardcode to DEBUG. The log level is passed
to logging.basicConfig() so the file Handler(), the Logger() are both always at DEBUG.

There is no option to configure it, or to set the handler and the logger to different levels.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/utils/display.py

##### ANSIBLE VERS

[2017-06-15 17:38] ryarlagadda commented on #20404
Ran into a similar error. Is there a working fix for this problem?

[2017-06-15 17:38] alikins opened #25759 "The logging setup by utils.display only creates a Logger() if a log_path is provided."
##### SUMMARY

display.py only creates the display Logger() if a log_file path is set.

The Logger() should always be created, but it only needs to be associated with a log file if log_path is set. If not logging to a file, the Logger() created can be associated with a NullHandler().

This would allow other code to attach additional log handlers (like a syslog handler for ex, or the various handle

[2017-06-15 17:40] nitzmahone commented on #25669
Laurent fixed some things in https://github.com/ansible/ansible/pull/24710 - I just haven't had time to test everything out under that yet, so you'll probably want to use that as a starting point...

[2017-06-15 17:43] mnieber opened #25760 "Number of "files" in role directories could be reduced by 50%"
Roles would look cleaner if filenames were shortened from `roles/foo/tasks/main.yml` to `roles/foo/tasks.yml`. Counting a directory as a file, this would reduce the number of files inside role directories with 50%. Moreover, file lookup in editors such as sublime text would work better, because typing `roles/foo/tasks` is the shortest string that is guaranteed to give the correct file as the first

[2017-06-15 17:43] jimi-c commented on #24322
Closed per the above.

Thanks!

[2017-06-15 17:43] #24322 closed, assigned to nobody

[2017-06-15 17:46] alikins opened #25761 "The logging setup by utils.display only ever uses error/info log levels."
##### SUMMARY

Any log records sent to the logger created in display only use error or info.
'warning' and 'debug' could be used for finer grained logs, especially if combined
with additional log handlers.

Additionally, the ansible specific verbosity levels could be mapped to custom log levels
('v', 'vvv', etc).

The additional verbosity levels ansible/display already use could be passed into dis

[2017-06-15 17:47] nitzmahone commented on #25678
Yeah, `omit` is currently only implemented for module args ATM, but I could definitely see uses for it in other contexts as well...

[2017-06-15 17:53] nitzmahone commented on #25683
What's in the .env file that it's complaining about- I'm guessing that's a legitimate error, and that it works with `become` because root doesn't have that (potentially malformed) file...

[2017-06-15 17:55] nitzmahone commented on #25688
cc @supertom

[2017-06-15 17:59] bcoca commented on #25759
this was by design as the preferred method of 'hooking into' the events are the callback plugins

[2017-06-15 17:59] alikins opened #25763 "The ansible logging setup in utils.display is only called from display.py losing useful context and debugging information."
##### SUMMARY

The Logger() object used for logging to the ansible log_path log is only called from within
ansible.utils.display.Display.display(), so the context info (module name, code filename/fullpath, calling function and line number) added by the logging methods always references the same line of code in Display().

With a conventional logging setup, the logging methods are called close to t

[2017-06-15 18:01] DepthDeluxe commented on #20056
@jhawkesworth I have fixed the merge conflict issue

[2017-06-15 18:06] huegelc commented on #25755
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

core
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu Xenial

##### SUMMARY

##### STEPS TO REPRODUCE

I need to get the content (md5 checksum) from the header of a url. This could be done with:

    name: Get md5sum from https://wordpress.org/latest.tar.gz header
    shell: curl --silent --head http

[2017-06-15 18:09] sivel commented on #25755
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-06-15 18:09] #25755 closed, assigned to nobody

[2017-06-15 18:16] sivel commented on #25760
Closing as a duplicate of https://github.com/ansible/ansible/issues/15564

[2017-06-15 18:16] #25760 closed, assigned to nobody

[2017-06-15 18:19] cocampbe commented on #25753
The more I think about this, it may be over engineering. I am going to close this.

[2017-06-15 18:19] #25753 closed, assigned to nobody

[2017-06-15 18:41] nitzmahone commented on #25711
This issue should be filed at https://github.com/ansible/ansible-container - ansible/ansible is for issues on the core Ansible engine.

[2017-06-15 18:41] #25711 closed, assigned to nobody

[2017-06-15 18:46] thnee commented on #25743
For the corner case where people actually want to start a service that is not enabled, I can think of two possible solutions:

- Automatically enable the service before starting it.
- Provide a `force` flag on the `service` module. Could look like this:

[code]

The one case where it might actually make sense to convert the command, is from `stop` into `onestop`. Because all currently running daem

[2017-06-15 18:48] bcoca commented on #25743
so this just affects started/status ? ... is there a flag where we can discover if a service is a composite?

[2017-06-15 19:00] thnee commented on #25743
Generally, I believe this affects all states of the service module on FreeBSD, that's why they all have the prefixed counterparts. But the `stop` command is where a conversion probably would not do something totally unexpected.

[2017-06-15 19:07] PREM1980 commented on #25711
Should I open a new ticket there or Is there a way for me to link this ticket automatically?

[2017-06-15 19:12] nitzmahone commented on #25711
Gotta open a new one there

[2017-06-15 19:25] bcoca commented on #25757
the logger was meant to record 'ansible actions' not internal library errors, its more a 'cli tool logger'

[2017-06-15 19:52] #25673 closed, assigned to nobody

[2017-06-15 20:07] nitzmahone commented on #25724
IMO, this would probably create more issues than it'd solve- the biggest is that if there's a security update or bugfix in a dependency, we'd have to do a new release for people to get it (without manually installing/upgrading the updated components).

[2017-06-15 20:14] bcoca commented on #25724
I agree with @nitzmahone  -1 to this feature

[2017-06-15 20:38] tstringer commented on #25669
@nitzmahone good spot, Matt! You're absolutely right, [this fix is in that PR](https://github.com/ansible/ansible/pull/24710/files#diff-2b622fe76a39bb9004ac394693b03853L94). Let me know how I can help get this PR through the pipeline on my end.

Thanks! 😄

[2017-06-15 20:50] nitzmahone commented on #25669
Only thing holding me up is just getting around to a smoke (and/or automated) test of the azure modules with 2.0.0 installed and the fix applied- if you want to run at least a simple smoke test and respond to the PR with a "works for me", that'd be good enough for me to merge (as that change should get cherry-picked for 2.3.2, and probably also 2.2.x if we do another 2.2 release). Thanks!

[2017-06-15 20:52] tstringer commented on #25669
Sweet, I'll work on that, Matt. Thanks!

[2017-06-15 20:52] nitzmahone commented on #25669
We'll also want to update the Azure getting started docs to specify installing 2.0.0 instead of the RCs, so if you want to raise a separate PR for that and mention it on #24710, I can merge them at the same time.

[2017-06-15 20:53] tstringer commented on #25669
Perfect, makes complete sense! Will do.

[2017-06-15 20:58] nitzmahone commented on #25724
Thankfully most of our dependency projects are pretty good about addressing issues like this quickly when they do arise. Our CI system usually starts bombing loudly if there's a problem with any of the numerous distros we test on, so sometimes we'll be the first to raise the "it's busted" flag.

[2017-06-15 21:06] damusix commented on #19628
+1 This would nice

[2017-06-15 21:17] sivel commented on #25724
I am also a -1

Additionally, since we support such a wide variety of OSes and versions, and not all people are using pip directly to install, we effectively support just about all versions of the dependencies.

In this case pynacl is a dep of paramiko.  paramiko added it as a dep 20 days ago, to allow support for ED25519 keys.  Had we pinned at an older version, we would be limiting users to a ve

[2017-06-15 21:28] #25697 closed, assigned to nobody

[2017-06-15 21:51] nitzmahone commented on #25748
+1 from me if you want to PR that, @jhawkesworth ;) - it looks like MACAddress comes back in the same format as the Linux fact...

[2017-06-15 22:02] kustodian commented on #16731
It will be released with Ansible 2.4.

But you got a good point that it's not obvious from this issue in which
version it was fixed.

On Wed, Jun 14, 2017, 12:33 karniemi <notifications@github.com> wrote:

[2017-06-15 22:03] nitzmahone commented on #25754
cc @trondhindenes

[2017-06-15 23:06] jctanner commented on #22924
a naive patch that doesn't take into account the intent for moving _any_errors_fatal to base.py ..

[code]

[2017-06-15 23:12] hogarthj commented on #24062
I'm seeing the same behaviour with:
[code]
against a windows 8.1 client...

Specified state=searched but had the updates installed instead.

[2017-06-16 00:19] pilou- opened #25770 "regression: delegated hosts are searched using ansible_host instead of inventory_hostname then results belong to the wrong host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lib/ansible/plugins/strategy/__init__.py (StrategyBase)`

##### ANSIBLE VERSION
[code]
[code]

##### SUMMARY
When a task is delegated on an host which have an `ansible_host` variable defined, the result host is defined using `ansible_host` instead of `inventory_hostname`. This is a regression introduced by e5cd675b38d49b22f1ecc929943d016fb71598

[2017-06-16 00:30] pilou- commented on #25770
cc @jimi-c

[2017-06-16 03:48] basictheprogram opened #25771 "ERROR! splitext() takes exactly 1 argument (0 given)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

VarsModule 'host_group_vars'

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_DEBUG=1

##### OS / ENVIRONMENT

Ansible from macOS 10.12.5
Managed host Windows 10

##### SUMMARY

Today's git pull results in the error, yesterday's git pull worked as expected.
Playbook unchanged from yesterday.

##### STEPS TO REPRODUCE

[code]

#####

[2017-06-16 03:58] basictheprogram commented on #25771
git bisect tell me this is the commit that broke things
[code]

[2017-06-16 04:20] Akasurde commented on #25713
Similar traceback is seen [here](https://github.com/ansible/ansible/pull/24420#issuecomment-300530167). @nerzhul Are you referring PR #24420 ?

[2017-06-16 04:48] Akasurde commented on #25713
Interestingly, there is another issue reported - #24835

[2017-06-16 05:16] cwegener commented on #23215
Same issue here. I got the exact same error with the same task. I use credssp instead of kerberos, which doesn't seem to make a difference. Did #19219 ever get updated with the comments from @nitzmahone and @daBONDi ?

[2017-06-16 06:13] zhoutiekui opened #25775 "Ansible os_image upload timeout bug"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible cloud module openstack

##### ANSIBLE VERSION
ansible/xenial 2.3.1.0-1ppa~xenial
[code]

[2017-06-16 06:20] zhoutiekui opened #25776 "Ansible image normalize error"
Bug Report

issuse:

While  creating vm with specified image id. there will get an error unicode has no method adddefault.

Codes:
https://github.com/openstack-infra/shade/blob/master/shade/_normalize.py
_normalize_image
 def _normalize_image(self, image):
        new_image = munch.Munch(
            location=self._get_current_location(project_id=image.get('owner')))

        # This copy is to kee

[2017-06-16 06:38] jimi-c commented on #21842
Hi @valeriujieanu, I just tested the following playbook, which did not show the problem:
[code]
Can you please re-test against the latest devel version to see if you're still experiencing the problem?

Thanks!

[2017-06-16 06:38] Akasurde commented on #23176
@gundalow We can close this as PR #24768 is merged.

[2017-06-16 06:40] jimi-c commented on #18782
Hi @linsomniac, have you tested recently to see if the issue has been corrected?

[2017-06-16 06:46] jimi-c commented on #18602
Just tested this on devel, and it appears to be resolved:
[code]
As such we'll go ahead and close this issue now.
If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strat

[2017-06-16 06:46] #18602 closed, assigned to jimi-c

[2017-06-16 06:51] jimi-c commented on #16254
Confirmed, this still appears to affect devel (2.4).

[2017-06-16 06:52] jimi-c commented on #15416
Is anyone still seeing this specific memory issue when running on devel or 2.3.x?

[2017-06-16 08:06] fthommen opened #25778 "Inventory assigns "yes" and "no" as strings and not as booleans"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 7.x on x86_64

##### SUMMARY
Even though ansible uses "yes" and "no" as boolean values, a variable set to "yes" or "no" in the inventory seems to be seen as string and not as boolean.

##### STEPS TO REPRODUCE

- Create ansible with entries

[code]
- R

[2017-06-16 08:13] trishnaguha opened #25779 "eos deprecation warning on transport even when not used and when used in provider"
##### SUMMARY

eos throws deprecation warning on transport even when the param is not used explicitly and when used in provider.

This issue exists only for `2.3`.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module_utils/eos.py
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The playbook should run with no warning
##### ACTUAL RESULTS

Throws de

[2017-06-16 08:48] rrey opened #25781 "Add playbook duration in logstash callback stats"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/plugins/callback/logstash.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Simply enabled logstash callback:
[code]

##### SUMMARY
The  event sent to logstash does not contain the playbook runtime statistic.
The information seems pretty useful and should be added to allow fast statistic creation on playbook execution time.

[2017-06-16 08:54] marvin-sinister opened #25783 "yum module doesn't fail when trying to install x86_64 package on i686 architecture"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

centos7 x86_64 host, centos6 i686 managed
##### SUMMARY

When trying to install 64bit package on 32bit architecture yum module reports OK with no change.
##### STEPS TO REPRODUCE

Try to install 64bit package on 32bit architecture, for instance:

[code]

##### EXPEC

[2017-06-16 09:01] fthommen opened #25784 "Not all spellings of boolean "false" in inventory are interpreted as false by Jinja"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
inventory
template
jinja

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
none special

##### OS / ENVIRONMENT
CentOS 7 on x86_64

##### SUMMARY
Boolean variables set in the inventory are not respected by Jinjia as one would expect.  According to http://docs.ansible.com/ansible/YAMLSyntax.html e.g. the boolean value false can be written "fal

[2017-06-16 09:14] trishnaguha commented on #25663
@perimore
I was able to reproduce deprecation warning only for `transport` using in `provider` which should be fixed by #25782 .
With this fix enabled I do not get any deprecation warning while using the params in `provider`.

[2017-06-16 09:17] bzcorn opened #25786 "aws_kms cannot append role_name/role_arn to key"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
aws_kms

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS 10.12.5, Amazon Linux 2017.03

##### SUMMARY
When attempting to add a role to a kms key Ansible will error out if the key policy does not return a list.  So if there's only 1 role in a key policy that has grant permissions, the key policy that AWS will ret

[2017-06-16 09:22] trishnaguha commented on #25557
@ktbyers Deprecation warning on `transport` using in provider is a valid bug and should be fixed by #25782 .

[2017-06-16 09:29] trishnaguha commented on #25779
closed_by_pr #25782

[2017-06-16 09:32] trishnaguha commented on #25779
resolved_by_pr #25782

[2017-06-16 09:40] #25779 closed, assigned to trishnaguha

[2017-06-16 09:57] MichaelAquilina commented on #23257
@robinro I would be keen try fix this. Will attempt it over the weekend if I have the time

[2017-06-16 10:10] trishnaguha commented on #24978
@dathelen These arguments when used in `provider` should not throw deprecation warning.
 I am unable to reproduce this issue fully. This issue should not exist as per the logic in here https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/module_utils/eos.py#L76.

I was able to reproduce deprecation warning only for `transport` using in provider which should be fixed by #25782 .
With this

[2017-06-16 10:18] mhristof opened #25787 "include_vars fails to load any variables if one item is undefined"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
When i `include_vars` with a name, the named variable is `VARIABLE IS NOT DEFINED!` if one of the items in the file included contains an item that is constructed by another variable (example bellow).

##### STEPS TO REPRODUCE

This is test-var.yml
[code]
a

[2017-06-16 10:22] #25035 closed, assigned to nobody

[2017-06-16 10:48] pfar1 commented on #25467
I think this is a primarly a bug in addition to a feature request.  I have been trying to get this to work myself and had some problems.

The PS code using the Set-ItemProperty is taking a key, and there is a list of documented options with the module as outlined above, however.... you can use dot notation to pass in other keys that are not documented.

The documented params are the top-level appl

[2017-06-16 10:56] trishnaguha commented on #25557
resolved_by_pr #25788

[2017-06-16 11:04] #25557 closed, assigned to trishnaguha

[2017-06-16 11:18] jctanner commented on #25781
cc @ujenmr

[2017-06-16 11:31] robinro commented on #23257
@MichaelAquilina Sounds good. You can open a "[WIP]" PR early during your implementation to discuss details directly with the code.

[2017-06-16 11:37] pgjones opened #25790 "ec2 module error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Commit 3bba43a487c6b24ee4948f23744f6a3fb8849194 introduced a bug into the ec2 module.

##### ANSIBLE VERSION
I'm actually running the exact commit mentioned.
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I've tracked this bug down to the specific commit mentioned. I'll keep looking into how to fix, but I'm not very famil

[2017-06-16 11:39] shdobxr commented on #25428
Sure! I can pull the branch and run it today.

While not the first time I have pulled a branch. How do I pull your code
just to be sure.

On Jun 14, 2017 5:56 PM, "Sloane Hertel" <notifications@github.com> wrote:

[2017-06-16 11:50] pilou- commented on #25787
I am not sure this is an issue, I am surprised that `include_vars` doesn't fail. You could specify a default value for `test_var` using [`default`](http://jinja.pocoo.org/docs/2.9/templates/#default) filter.

[2017-06-16 12:00] pilou- commented on #25784
@fthommen could you specify how you set `switch` value in the inventory (paste inventory content and filename) ?

I am not able to reproduce this issue defining the `switch` variable in an YAML file:

[code]

[2017-06-16 12:23] dagwieers commented on #25748
And we have jinja2 filter plugins to convert from and to Cisco (xxxx.yyyy.zzzz), Windows (aa-bb-cc-dd-ee-ff) and a myriad of other formats (I never knew existed) if needed.

[2017-06-16 12:29] kmayfiel-ibm commented on #24536
I frequently hang, break out, and try again and still hangs.  I need to execute "rm -rf ~/.ansible" and things immediately start working again.

[code]

[2017-06-16 12:34] pilou- commented on #25778
Variables which are not [behavioral inventory parameters](https://docs.ansible.com/ansible/intro_inventory.html#list-of-behavioral-inventory-parameters) and are defined in an INI-like inventory are interpreted as strings. This doesn't seem [documented](https://docs.ansible.com/ansible/intro_inventory.html), there is an hint in the note [here](https://docs.ansible.com/ansible/playbooks_variables.ht

[2017-06-16 12:34] s-hertel commented on #25790
Hi @pgjones, thanks for opening this. I believe this bug was fixed yesterday in https://github.com/ansible/ansible/commit/938d60472af6f6b20d0d7a0c616e36b499e79c12. Please reopen this if that has not fixed the issue for you.

[2017-06-16 12:34] #25790 closed, assigned to nobody

[2017-06-16 12:42] sourcejedi opened #25792 "Copy module bug when a directory exists with the same name as a file in src directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Tested with `-c local`.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When a directory exists with the same name as a file in `src` directory, the copy module does the wrong thing.  (It should simply fail, like `cp -r` does (`cp: cannot overwrite directory 'dest' with non-directory`)).

[2017-06-16 12:52] marvin-sinister opened #25793 "callback plugin outputs twice when same name as built in"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

logstash callback plugin
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

centos7
##### SUMMARY

When custom callback plugin with same name as built in plugin is defined, the plugin gets called twice. The plugin called is the one in runtime folder.
##### STEPS TO REPRODUCE

Add a callback plugin to "runtime fo

[2017-06-16 13:15] #25137 closed, assigned to Qalthos

[2017-06-16 13:17] pfar1 commented on #25467
Also, just to add...

The module doesnt appear to work properly (although no error) when broke over multiple lines like so...

- name: Create ABE Application pool
  win_iis_webapppool:
   name: X
   state: started
   attributes: |
     'managedRuntimeVersion:{{iis_apppool_runtimever}}|
      enable32BitAppOnWin64:{{iis_apppool_enable32bit}}|
      name:X|
      queueLength:{{iis_apppool_queuelen}}

[2017-06-16 13:22] fthommen commented on #25784
I do it in the ansible inventory with switch=FALSE (http://docs.ansible.com/ansible/intro_inventory.html#host-variables)

[2017-06-16 13:23] mmasztalerczuk opened #25794 "Ansible is using $env:temp as path of temp folder on windows and ignoring value of `remote_tmp` from configuration file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins/shell/powershell.py

##### ANSIBLE VERSION
every?

##### OS / ENVIRONMENT
windows (Managed computert)

##### SUMMARY
The argument `tmpdir` is not using in `mkdtemp` function (plugins/shell/powershell.py). Every time when ansible is creating temporary folder on remote machine (which is using Windows as OS) the path has been set to value o

[2017-06-16 13:28] mmasztalerczuk commented on #25794
Hi guys,
It is my first try to contribute to ansible :). I created patch for this small problem and I made pull request -> https://github.com/ansible/ansible/pull/25795

[2017-06-16 13:35] pilou- commented on #25784
See [25778](https://github.com/ansible/ansible/issues/25778#issuecomment-309014901):

[2017-06-16 13:36] xmj commented on #20119
Something not yet mentioned:
I have the even weirder edge case where role dependencies are run for some tags but not for others.
Two roles B, C both depend on A.
Running ansible-playbook -t B correctly executes A while -t C does not.

[2017-06-16 13:45] pgjones commented on #25790
It does, thanks.

[2017-06-16 13:51] fthommen commented on #25778
very pity and IMHO somehow inconsistent.  In this case - since that seems to be a design decision - please make this issue a documentation issue, not a bug report.

[2017-06-16 13:52] fthommen commented on #25784
Thanks @pilou- . Very pity and IMHO somehow inconsistent.  In this case - since that seems to be a design decision - please make this issue a documentation issue, not a bug report.

[2017-06-16 13:56] fthommen commented on #25784
btw I then still wonder, why "False" is interpreted as a boolean....  I can't find the notion of a boolean type in the Jinja documentation at all

[2017-06-16 14:05] bcoca commented on #25784
You need to specify type on 'consumption' we try to conserve it but both jinj2 and the ini format 'stringify everything'.

This should give you more predictable results:
``` - shell: "echo \"The switch is {% if switch|bool %}ON{% else %}OFF{% endif %} ({{ switch }})\""```

[2017-06-16 14:11] bcoca commented on #25771
fixed by #25797

[2017-06-16 14:11] #25771 closed, assigned to bcoca

[2017-06-16 14:13] s-hertel commented on #25428
No obligation!

If you want to test:
I’m not sure if you’ve cloned the Ansible repo…If you haven't, that is where I would start.
* In the directory of the cloned repo, start on the devel branch `git checkout devel`
* make sure the devel branch is up to date (`git pull git@github.com:ansible/ansible.git devel`, or if you have added the upstream as a remote `git pull upstream devel`)
* Checkout a ne

[2017-06-16 14:13] pilou- commented on #25784
@fthommen INI parser [tries `ast.literal_eval`](https://github.com/ansible/ansible/blob/43468b825d19c5990c07d19f5f269d8352f084f8/lib/ansible/plugins/inventory/ini.py#L346) for every value and 'stringify' when `literal_eval` fails.

[2017-06-16 14:15] bcoca commented on #25784
^ note that ast evals use 'python booleans' unlike jinja2 and yaml which use an extensive list.

[2017-06-16 14:16] joost-van-weenen commented on #9065
Unfortunately we also ran into this issue today. Same story, Though we have a generic "tomcat" rol we vary the variables like port numbers based upon the group that is used.
However several tomcat instances can be deployed to the same physical servers so we created multiple groups in the inventories that contain the same set of servers.

However this approach doesn't seem to work. I have no idea y

[2017-06-16 14:21] bcoca commented on #25793
That is not unusual as they might be 'triggered' to load several times, but any subsequent 'loads' should be from the cache (the already loaded one).

[2017-06-16 14:24] bcoca commented on #25787
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

include_vars does not fail to load, the variable is loaded (with the values being strings that contain templates).

The failure is when

[2017-06-16 14:24] #25787 closed, assigned to nobody

[2017-06-16 14:33] mwinfie commented on #25388
@jhawkesworth just tested this with my original example and it is working perfectly. Thank you for your help!

[2017-06-16 14:40] emmetog commented on #9065
I recently found this which eased my pain with this issue:
https://github.com/leapfrogonline/ansible-merge-vars

It allows merging of variables no matter where they were defined, so you can merge two dicts/lists in two different groups for example, as opposed to one group winning and overwriting the variable defined in the other groups as is the current behavior. The plugin only works with Ansible

[2017-06-16 14:42] jhawkesworth commented on #25388
Thanks for testing.  Since this fix will be in the next version of ansible, please can you close this issue?

[2017-06-16 14:56] mwinfie commented on #25388
@jhawkesworth Sure thing. Thanks again.

[2017-06-16 14:56] #25388 closed, assigned to nobody

[2017-06-16 15:05] jamesongithub commented on #25724
We're using pip to install since that seems to be the recommended ansible way. Pyancl only added the wheel package only after they realized people were hitting this issue.

Locking versions will always be a tradeoff between getting the latest and having consistent installs. RE: the security thing, in my experience people just pip install once and never again after that so they probably won't be re

[2017-06-16 15:19] mikecurrancs commented on #16194
His suggested change is part of these lines, not the ones your showing?

https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/adhoc.py#L151-L156

[2017-06-16 15:23] alikins commented on #25725
Looking around, the format of lsb-release isn't really specified. The shell version of the 'lsb_release' command doesn't seem to read /etc/lsb-release, while the newer python based lsb_release.py does read it and will remove quotes.

Assuming no one has named their distro  "THE_QUOTES_ARE_INCLUDED_IN_THE_NAME" and expect the quotes to be included, removing them in the facts code should be ok.

Wha

[2017-06-16 15:45] worldowner commented on #13017
@bcoca Yes, I confirm that ansible 2.3 works fine. Thank you.

[2017-06-16 15:45] #13017 closed, assigned to nobody

[2017-06-16 15:47] mhristof commented on #25787
I could do that, but this is hiding a failure.
I think it would be better to either have a clean failure or ignore then unset value

[2017-06-16 15:49] bcoca commented on #25787
@mhristof, @pilou-  as I mention above, `include_vars` is not failing, it is successfully importing the file and defining the vars with it's keys (some of which are tempalte strings).

The error only happens when you CONSUME the var and attempt to template it, vars are 'lazy' and templated on use, not on definition.

[2017-06-16 16:15] rrey commented on #25781
I made a pull request implementing this feature : #25785

[2017-06-16 16:16] sivel commented on #25724
I don't think we are going to consider this.  I might suggest implementing your own `constraints.txt` file that constrains the package versions selected during a pip install.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-06-16 16:16] #25724 closed, assigned to nobody

[2017-06-16 16:21] maratsh commented on #14426
I have this issue. Why issue is closed?

[2017-06-16 16:25] michaelmcguinness opened #25801 "Add TCP option to Consul module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
consul - http://docs.ansible.com/ansible/consul_module.html

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ansible server and targets: CentOS Linux release 7.2.1511

##### SUMMARY
Consul provides a TCP check type and this should be part of this module

https://www.consul.io/docs/agent/checks.html

[2017-06-16 16:25] apestov opened #25802 "yum module: state=latest ignores the version within name with ambiguous behaviour"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Yum

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
Clean ansible installation

##### OS / ENVIRONMENT
CentOS 6.9

##### SUMMARY
Yum module for the task with `state=latest` and  `name` that includes version behaves differently based on whether a package is already installed or not.

e.g.  The system state after execution of the following task

[2017-06-16 16:40] jvelasquez opened #25805 "Ansible URI Module --data-urlencode not supported?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

URI

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none

##### OS / ENVIRONMENT

[code]

##### SUMMARY

POSTing a groovy script containing `&` characters fails as it is needed to specify `--data-urlencode` when sending the request. It looks like the ansible URI module defaults to `--data` which will not work with these kind of files/scri

[2017-06-16 16:41] apestov commented on #25802
Probably the `yum update` is currently used under the hood when `state=latest` is expected  and that case the potential approach can be to still use `yum install` as it also updates packages.

Let's imagine there are following versions:
* nginx-1.10.0-1.el6.ngx.x86_64
* nginx-1.10.1-1.el6.ngx.x86_64
* nginx-1.10.2-1.el6.ngx.x86_64
* nginx-1.10.3-1.el6.ngx.x86_64
* nginx-1.12.0-1.el6.ngx.x86_64

|

[2017-06-16 16:44] alikins commented on #25725
Stripping the quotes breaks an existing unit test that has the DISTRIB_DESCRIPTION quoted.

The Ubuntu 16.04 /etc/lsb-release looks like:
[code]

with description quoted but not ID. To me, I would say quoting the the DISTRIB_ID is unconventional,
but cant say it's wrong.

Is there is a good doc describing the /etc/lsb-release format that explains the expected behavior for quoted values?

I think w

[2017-06-16 16:45] #17968 closed, assigned to resmo

[2017-06-16 16:56] sivel commented on #25805
This functionality is already supported via a jinja2 filter called `urlencode`

Should you need to ensure your data is URL encoded, use the `urlencode` filter to do so.

http://jinja.pocoo.org/docs/dev/templates/#urlencode

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible

[2017-06-16 16:56] #25805 closed, assigned to nobody

[2017-06-16 17:05] vinpk opened #25807 "When strategy is 'free' include tasks inside roles are not executing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

strategy: free

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

callback skippy used (tested without this for this bug - no change in behavior)
##### OS / ENVIRONMENT

Linux/Ubuntu
##### SUMMARY

When strategy free used dynamic include tasks inside a role is not executed and the play just finishes without executing the included tasks.

###

[2017-06-16 17:18] #23176 closed, assigned to jctanner

[2017-06-16 17:48] bobobox opened #25809 "logicmonitor.py: Module doesn't respect principle of idempotency"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
logicmonitor
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
logicmonitor module doesn't respect principle of idempotency

This module has distinct actions for 'adding' vs 'updating' resources. This seems to reflect a lack of understanding of how Ansible and other configuration management tools a

[2017-06-16 17:48] gundalow commented on #25720
Sounds like a sensible feature request though this isn't something we will get to in Ansible 2.4

[2017-06-16 17:49] gundalow commented on #25659
Sounds like a sensible feature request though this isn't something we will get to in Ansible 2.4

[2017-06-16 18:01] gundalow commented on #25663
@perimore Are you passing `ANSIBLE_NET_USERNAME` and `ANSIBLE_NET_PASSWORD`  variables?

[2017-06-16 18:07] bcoca commented on #22924
wouldn't the simple solution be to remove `always_post_validate=True`? as this is now percolated down the task level/play_context

[2017-06-16 18:08] deekayen commented on #25705
This all looks like the latest 2.3.1.0 package to me:

[code]

[2017-06-16 18:15] privateip commented on #25449
@bdlamprecht The `ios_config` module has an argument to remove the ACL before re-applying it.  The module doesn't implement heuristics to try to update an ACL line.

I need to test this but this serve as a workaround for the moment.

[code]

[2017-06-16 18:16] gundalow commented on #25305
@hemskgren Thanks for the bug report.

From the results you've included I see the line `Using module file /usr/share/ansible/cisco_nxos/nxos_switchport`

I wonder if you've got two sets of modules installed:
* The set that ship with Ansible
* An older set (possibly from networktocode?)

You will need to use the modules that distribute with Ansible.

I'll leave the bug open for you to confirm this

[2017-06-16 18:16] gundalow commented on #25304
@hemskgren Thanks for the bug report.

From the results you've included I see the line `Using module file /usr/share/ansible/cisco_nxos/nxos_switchport`

I wonder if you've got two sets of modules installed:
* The set that ship with Ansible
* An older set (possibly from networktocode?)

You will need to use the modules that distribute with Ansible.

I'll leave the bug open for you to confirm this

[2017-06-16 18:18] hemskgren commented on #19615
Please use the way that work on all/most device.
I see modules fail as show commands used only work on some platforms or latest software release.

[2017-06-16 18:20] deekayen commented on #25705
If it's any consolation, I feel silly having filed this bug since I don't see any changes to the win_iis_webapppool files since 2.3.0.0.

[2017-06-16 18:22] johnr-spindance commented on #19759
I'm experiencing the same thing. It detects the group just fine either by the group's exact name or by its ID when using `group_id`. However, it fails with the error below because it appears to be trying to create that group - even though it found the group.

Ansible version 2.2.0.0

Vars:
[code]
Playbook:
[code]

[code]

[2017-06-16 18:23] woz5999 commented on #25809
We're very close to submitting a revamped set of resource-specific modules that address exactly these concerns and will deprecate this module.

[2017-06-16 18:28] bobobox commented on #25809
@woz5999 - thanks, that's great news.

[2017-06-16 18:32] gundalow commented on #24998
@packetferret Thanks for the feature request, this is something we will look at for Ansible 2.5.

[2017-06-16 18:34] gundalow commented on #24994
@jseeley-vertitechit Thanks for the bug report, this is something we will get fixed in Ansible 2.4

[2017-06-16 18:47] s-hertel commented on #25807
Hi @vinpk, does using include_tasks instead of include fix this?

[2017-06-16 19:06] s-hertel commented on #25305
@gundalow
Is it a mistake that the transport option is used as a module param but isn't in the docs or the AnsibleModule arg spec? https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_switchport.py#L463

[2017-06-16 19:12] gundalow commented on #25501
I wonder if `no_log: True` at the task level would help for this. e.g.

[code]

[2017-06-16 19:24] Qalthos commented on #25031
This was a side effect of some internal changes to the vrf detection code in the module. #25031 should fix the issue for you. If you get a chance to test it, please let us know if it works for you

[2017-06-16 20:11] gundalow commented on #19615
Correction to my previous comment about backporting. I believe 2.2 should only have security fixes now.

[2017-06-16 20:18] ianaharding commented on #20925
+1 too!  This seems like a really useful module...

[2017-06-16 20:18] stephankn commented on #22303
This problem can still be observed with `ansible 2.4.0 (devel 5f23aa69c6)` and trying to enable zabbix-server on Ubuntu 16.04 LTS.

[2017-06-16 20:52] geekofalltrades opened #25815 "git module with key_file fails when key is encrypted (regression?)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git module

##### ANSIBLE VERSION

[code]
I also upgraded and tried with:
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04.2 desktop, managing an Ubuntu 16.04.2 server.

##### SUMMARY

The `bamboo` remote user has a private key file allowing it access a git repository. This key is stored encrypted in its `~/.ssh` direc

[2017-06-16 21:32] dsmorse commented on #25522
I'm seeing the same error with the pamd module.  My play looks like this:

  pamd:
      name: system-auth
      state: "{{ item.state }}"
      type: password
      control: sufficient
      module_path: pam_unix.so
      module_arguments: "{{ item.args }}"
  with_items:
      - state: args_present
        args:
          - "sha512"
      - state: args_absent
        args:
          - "md5"

[2017-06-16 21:38] bdlamprecht commented on #25449
Besides some minor typos in your example above, that `task` does work, however, it appears to re-apply the ACL every time.

What I'm trying to accomplish is to check if the `ACL` matches the supplied `.cfg` file and one of two outcomes should take place:
1. If it does, nothing needs to be done and no alterations should be performed.
2. If not, the `ACL` should be removed and then re-applied.

Perh

[2017-06-16 22:01] kevensen commented on #25522
@dsmorse @silvinux Thank you for the input.  I'm taking a look at this now.

[2017-06-16 22:57] DerekTBrown commented on #16427
@dejayc care to elaborate? I am seeming the same issue.

[2017-06-16 23:34] trinitronx commented on #25521
@s-hertel:  Hmm, it may be that this is related to the VPC Endpoint.  Something is triggering that `rtbassoc-XXXXXXXX` to be deleted, but since it has no subnet attached, the error is thrown.

Maybe try adding a `vpce-*` to your route table manually & then re-running?

[2017-06-17 01:19] naftulikay commented on #25725
@alikins Here are the commands you requested:

[code]

This is a _very_ stock installation of elementary OS, being a downstream from Ubuntu 16.04 Xenial.

[code]

And again, for giggles:

[code]

[2017-06-17 03:03] dejayc commented on #16427
`directory_mode` is supposed to be `boolean`, even though the official documentation is tragically unclear and unhelpful.  Most of the tutorials and bug reports regarding `directory_mode` out there on the web are wrong, further compounding the issue.

[2017-06-17 03:09] dejayc commented on #16427
Actually, I'm reopening the bug.  I assumed that `directory_mode` was supposed to be `boolean`, because that's how it seems to operate, and I've found people on the web using that flag successfully.  However, now upon reading my original analysis, it makes no sense for int/octal numeric casting to be performed on a `boolean` value.  I thus suspect that the parameter behavior changed at some point,

[2017-06-17 06:22] gundalow commented on #20925
@krzysztof-magosa previously you mentioned you maybe able to create a fix for this, is that something you'd still be interested in? Seems like there is interest.
Thanks

[2017-06-17 06:25] gundalow commented on #20404
@ryarlagadda Could you please create a new issue for the error you are seeing. Thanks in advance

[2017-06-17 07:20] vinpk commented on #25807
Hi @s-hertel, I am not sure which version you used (or did you directly fork to the latest code 2.4?), When I tried (on Ansible versions 2.2.0, 2.3.1) I got below errors for both 'include_tasks' and 'import_tasks'

[code]

I couldn't find any documentations also for these references..

[2017-06-17 08:37] todaygood opened #25819 "failed to run "timezone" module"
##### ISSUE TYPE
  - Bug Report

##### COMPONENT NAME
module: timezone

##### ANSIBLE VERSION
ansible 2.3

##### CONFIGURATION
default config

##### OS / ENVIRONMENT
Centos7

##### SUMMARY

TASK [common : set timezone] **********************************************************************************
ok: [10.53.16.10]
ok: [10.53.16.22]
ok: [10.53.16.23]
ok: [10.53.16.11]
fatal: [10.53.16.12]: FAIL

[2017-06-17 08:42] todaygood commented on #25819
The issue is often appeared, in fact the file "/etc/sysconfig/clock"  on Centos7.3  is always not existed on all my servers,
I don't know why it happened only on 10.53.16.12.

[2017-06-17 08:44] todaygood commented on #25819
I found at that time  failed to run "timedatectl" on the server .
# timedatectl
Failed to query server: Connection timed out

on the other severs which didn't happen the issue,  it is ok to run "timedatectl".

[2017-06-17 09:00] krzysztof-magosa commented on #20925
I've created fix and tested it in our datacenter.

@bcoca Author of this package disappeared and bugfix is very trivial, any chance to get it merged without involving him?

[2017-06-17 10:20] trondhindenes opened #25820 "constants API changing in devel"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lookup_plugins

##### ANSIBLE VERSION
[code]

##### SUMMARY
In the current devel I'm suddenly getting exceptions from a custom lookup module calling:
`from ansible.constants import p, get_config`

##### STEPS TO REPRODUCE
Create a lookup plugin and call it from a playbook:
Mine looks like this:
[code]

##### EXPECTED RESULTS
It works

##### ACTU

[2017-06-17 10:31] trondhindenes commented on #25754
yup, this makes sense. We need to expand the range of accepted types in the dsc module.

[2017-06-17 10:48] cytopia commented on #25598
@pilou- I would suggest making `link:` a required option or at least adding a note for custom installed packages

[2017-06-17 11:19] gundalow commented on #20925
Proposed fix in https://github.com/ansible/ansible/pull/25818 Reviews welcome so we can get this merged. Thanks in advance!

[2017-06-17 11:22] jborean93 commented on #25705
@deekayen I'm currently in the middle of a rewrite to this module which will hopefully and solve this issue. I'll let you know when I have a PR up and running.

[2017-06-17 11:43] kevensen commented on #25522
@silvinux @dsmorse If you have time, do you mind testing this pull request in your environment?  I changed the mechanism by which the rule was being parsed.

[2017-06-17 12:32] erthalion opened #25823 "UNENCRYPTED option is no longer supported in PG10"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`postgresql_user` module

##### SUMMARY
It's not really a bug report, but an attempt to prevent one in the future. In the next version of PostgreSQL (to be more precise PG 10),  the `UNENCRYPTED` option is no longer supported for `CREATE/ALTER USER ... PASSSWORD` (see [release note](https://www.postgresql.org/docs/10/static/release-10.html) and

[2017-06-17 12:51] sivel commented on #25820
This is a result of https://github.com/ansible/ansible/pull/12797 that changes much of how configure parsing is done

[2017-06-17 12:54] MyTotoro opened #25824 "Ansible MAKE errors"
- Bug Report

##### COMPONENT NAME
MAKE

##### ANSIBLE VERSION

[code]

my config is very minimal
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running ansible on mac air 10.12.4
target OS: CentOS 7.3.1611 x64 (from digital ocean)

##### SUMMARY
Make command errors out, executing commands produces permission errors

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expect it to work,

[2017-06-17 13:17] sivel commented on #25824
`become_user` is the user you want to become, not he current user. Based on the error I assume you want to become root due to the perms error.  Since root is the default you can omit `become_user` and just utilize `become`

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-projec

[2017-06-17 13:17] #25824 closed, assigned to nobody

[2017-06-17 13:19] MyTotoro commented on #25824
@sivel
my user mytotoro is part of wheel and can do sudo operations

I've used `become: yes` in other playbooks that needed sudo permissions

[2017-06-17 14:29] s-hertel commented on #25807
Ah, okay! I am on the latest devel. I will look into this @vinpk, thanks for opening the issue.

[2017-06-17 15:20] mattd3 opened #25827 "Issue with ACLs on Ansible v2.3 ("Path not found or not accessible")"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - acl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
 - Default settings

##### OS / ENVIRONMENT
 - Ansible running on CentOS Linux release 7.3.1611 (Core), managing also CentOS Linux release 7.3.1611 (Core) and Ubuntu 16.04.2 LTS

##### SUMMARY
 - Possible issue with ACLs on Ansible version 2.3. Playbook returns "Path not found or not acce

[2017-06-17 16:43] afunix commented on #25265
Any chance this one will be fixed in 2.3?
I see different pull request on this matter but all of them for 2.4

[2017-06-17 18:13] ghost opened #25831 "Ansible doesn't work on Linux guests with root filesystem in read-only mode."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
all

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Fedora 24 ansible install, managing all common linux distributions. Ubuntu, Debian, Redhat, Centos

##### SUMMARY
Ansible is not working when VM's / partition is in read only mode. I am trying to use ansible as a method of recognising which VM's on a vmware

[2017-06-17 18:23] jhawkesworth commented on #25265
@afunix Pull requests on this project are made against the latest development version (currently 2.4).
Once fixes are merged you can request they are cherry picked for backporting to fix versions (usually by asking in ansible-devel irc channel.  I don't know if any further fix versions are planned for 2.3.x though.

[2017-06-17 19:02] ArronNavi opened #25834 "Ansible Vault Single Encrypted Variable not working with Jinja2 filters"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

export ANSIBLE_VAULT_PASSWORD_FILE=~/.vault_pass.txt

##### OS / ENVIRONMENT
Ubuntu 16.04.2 LTS managing Ubuntu 12.04 LTS

##### SUMMARY
I was trying to use the Single Encrypted Variable feature for storing a password for new user creation, but I could not log in with the supplied

[2017-06-17 19:03] privateip commented on #25449
@bdlamprecht The following should accomplish what you are trying to do:

[code]

In the task above, notice the addition of the parents argument that is set essentially the top level ```ip access-list ...``` command.  The entries in the lookup file then should _only_ be the acl entries.  For example the contents of ```ip_access-list_ipsla.cfg``` might be:

[code]

When using the ```match: exact```

[2017-06-17 19:07] brenguy commented on #13262
Yes this would be a very useful feature please add!

[2017-06-17 20:31] cwiggs opened #25835 "proxmox module: missing pubkey option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
proxmox [http://docs.ansible.com/ansible/proxmox_module.html](http://docs.ansible.com/ansible/proxmox_module.html)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

[code]

##### SUMMARY
Using parameter 'pubkey' throws an error with running ansible-playbook:

[code]

However according to the [documentation

[2017-06-17 20:48] brenguy commented on #13262
until then you can use include role looping

[2017-06-17 20:50] brenguy commented on #13262
@philfry and @smemsh not sure why you gave my previous comment a thumbs down

[2017-06-17 21:04] philfry commented on #13262
@brenguy because we're all getting the "me too" notifications even though nothing of interest was posted. Please just add a "thumbs up" reaction to the relevant post(s), see @thoastbrot's [comment](https://github.com/ansible/ansible/issues/13262#issuecomment-304353026).

[2017-06-17 23:04] maxmengtor commented on #13262
include Role is not a good feature

Sent from my BlackBerry 10 smartphone on the Rogers network.
From: brenguy
Sent: Saturday, June 17, 2017 16:49
To: ansible/ansible
Reply To: ansible/ansible
Cc: maxmengtor; Mention
Subject: Re: [ansible/ansible] feature request: looping over blocks (#13262)

until then you can use include role looping

—
You are receiving this because you were mentioned.
Reply t

[2017-06-18 01:35] rcrelia commented on #25182
@conlon I've just implemented a workaround for this issue that you may find of use. It's a bit of a kludge, but it seems to be 100% reliable.

Prior to calling ec2_asg, with a variable called "subnet_ids" as the content for vpc_zone_identifier in ec2_asg, I do the following:

[code]

It's essentially asking AWS what the order should be for the subnet IDs in vpc_zone_identifier and then uses that o

[2017-06-18 01:54] cwiggs commented on #25835
This issue can be closed.  The issue was I was using the plugins from the old Ansible 2.2 repo.  Once I changed the modules path in Ansible.cfg to use the plugins that Ansible 2.3 comes with the plugin worked with the pubkey option.

[2017-06-18 02:48] mithmatt opened #25839 "Add external_dir argument for facter module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Facter module
`lib/ansible/modules/system/facter.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Add external_dir argument to facter module

##### USAGE
`ansible -i hosts test_host -m facter -a 'external_dir=/etc/facts.d'`

##### EXPECTED RESULTS
Gather custom facts from external dirs
Refer

[2017-06-18 04:42] dsmorse commented on #25522
I can confirm in my testing it works. Thanks

[2017-06-18 05:52] rwaweber opened #25842 "Linode Module -- Bad values should bail, not continue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Linode module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

- N/A

##### SUMMARY

- In some situations, when bad data is provided to the module, the execution will still talk to the linode api; doing things on the users behalf. This seems misleading to a user and could end up causing them some unneccessary expen

[2017-06-18 07:17] junaidnasir commented on #24045
same error here. tried all the above mentioned solutions.

- [x]  Billing is enabled
- [x] Product name is filled in
- [x] The compute API is enabled
- [x] activated service account using `gcloud`
- [x] I have Ansible 2.3.0
- [x] JSON credentials file
- [x] Have even tried giving the service account "Owner" permissions as well
- [x] tried changing `apache-libcloud` version to 1.5.0

[2017-06-18 07:57] stsaid commented on #25662
@ryansb Really looking forward to this features. What are you now going to do in this regard?

[2017-06-18 08:59] cRyckreator commented on #6989
@dizlv   @LennyLip
Try this when using python3:
`    - name: Install PostgreSQL
      apt: name={{ item }} update_cache={{ update_apt_cache }} state=installed
      with_items:
        - postgresql
        - postgresql-contrib
        - python3-psycopg2
      tags: packages`

[2017-06-18 09:51] 3onyc commented on #23816
Anyone got feedback on how this should be fixed, I'm currently overriding the `passwordstore` lookup with the workaround, but that's obviously not ideal.

[2017-06-18 11:31] DarkBitz opened #25845 "os_server problems with special chars in metadata"
- Bug Report

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
metadata does not allow special chars like +.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
No errors and updated metadata.

##### ACTUAL RESULTS
[code]

[2017-06-18 12:08] saladi123 commented on #19584
Hi,
I am getting the below error while run the command in ansible tower GUI mode.
[code]
But I'm able to get the result in CLI mode on the server.
[code]
Below is the descried output
[code]
Thanks

[2017-06-18 13:02] diego-treitos commented on #15249
I am having also this issue. Sadly not even this works:

[code]
Even in this case `my_int_var` is still evaluated as a string.

[2017-06-18 13:39] dagwieers commented on #15249
@diego-treitos That will never work. Read above if you want to understand why.

[2017-06-18 15:02] diego-treitos commented on #15249
@dagwieers I know that Yaml would get that as a string but for some reason I exepcted ansible to parse that as an integer after the jinja2 evaluation, which I realize it makes no sense. I guess that in my desperation I just tried anything that came to my mind.

[2017-06-18 16:02] trondhindenes commented on #25754
Looking at this now. Have to look into this, it might be an odd one. The module clearly takes an Int32 parameter, but the allowed values are strings (which doesn't make sense):
[code]

[2017-06-18 16:03] xiaozhu36 opened #25848 "Use cloud vm to deploy or install my applications and services"
SUMMARY

Is there one method that after using ec2 or other modules  to create ec2 or other instances, I can directly apply them to deploy or install my applications and services in the playbook.

[2017-06-18 16:18] trondhindenes commented on #25754
So I tested this using invoke-dscConfiguration (which is what win_dsc does under the covers):

[code]

And I'm getting the same as you. `win_dsc` uses the parameters/types exposed from `Get-DscResource` and this particular dsc resource seems to do some fanciness in its params section that invoke-dscresource doesn't know how to deal with:
`[Microsoft.Win32.RegistryValueKind] $Type = [Microsoft.Win3

[2017-06-18 16:56] komuw opened #25849 "ansible unable to ping server with hardened ssh config"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ping,all

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
deault config (I've added no changes)

##### OS / ENVIRONMENT
Running ansible from this OS:

`uname -ra`
[code]

`lsb_release -ra`
[code]

The OS I'm managing is:

`uname -ra`
[code]

`lsb_release -ra`
[code]

##### SUMMARY
Ansible is unable to ssh into a server that has a hardened sshd

[2017-06-18 16:57] komuW commented on #25849
update:

I tried re-running using paramiko, that also fails but with a different error:

[code]

[2017-06-18 17:11] komuW commented on #25849
update 2:

ssh from paramiko works:
[code]

[2017-06-18 18:33] RajaRamesh commented on #15772
I have added correct credentials, but I am getting this error

192.168.91.5 | UNREACHABLE! => {
    "changed": false,
    "msg": "plaintext: the specified credentials were rejected by the server",
    "unreachable": true
}

[2017-06-18 20:31] trondhindenes commented on #25754
@nitzmahone / @ricardogaspar2  lets close this and instead add an "improvement" item for documenting the DSC stuff - if ya'll agree.

[2017-06-18 21:54] jvelasquez commented on #25805
Thanks @sivel

Unfortunately I am getting the following error when using the `urlencode` filter in jinja2

[code]

[code]

[code]

[2017-06-18 22:30] marvin-sinister commented on #25793
I might have not explanied this well enough, the problem is that i get the entries in logstash twice. This started to happen after upgrading to 2.3.0 and wasn't happening before. My guess is that 2.3.0 included logstash as built in callback plugin, while 2.2.0 didn't.

Is that really expected?

[2017-06-19 03:55] trishnaguha commented on #25305
@s-hertel nope. The arg spec gets updated here https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_switchport.py#L498 with  [`nxos_argument_spec`](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/nxos.py#L42-L55).

[2017-06-19 04:54] xv-mikael-k commented on #22359
That it is implemented in 2.3 should be noted in the documentation.

[2017-06-19 07:59] ricardogaspar2 commented on #25754
Ok then. For me it's fine. Should we submit an issue in the PowerShell github repo?

[2017-06-19 07:59] resmo commented on #25644
any chance to test #25854 which includes this fix?

[2017-06-19 08:37] silvinux commented on #25522
Works like a charm!!!

[2017-06-19 08:47] silvinux opened #25855 "Add function 'absent' to pamd.py, to remove a whole rule"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

/usr/lib/python2.7/site-packages/ansible/modules/system/pamd.py
Add function 'absent' to pamd.py, to remove a whole rule

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Need to ensure to some rules are not in the pamd files.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### A

[2017-06-19 08:50] PlugIN73 opened #25856 "ERROR! startswith first arg must be bytes or a tuple of bytes, not str"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[defaults]
vault_password_file = tmp/vault_password
roles_path = tmp/ansible-roles
gathering = smart
fact_caching = jsonfile
fact_caching_connection = tmp/ansible-cached-facts
fact_caching_timeout = 86400

[ssh_connection]
ssh_args=-o ForwardAgent=yes
pipelining=True
scp_if_ssh=True
con

[2017-06-19 09:09] holmesb commented on #5564
+1 for `auto_dump_item: false`.  It's the only way to avoid screen-spam if you want to print (debug) multiple attributes in a conditional loop.

[2017-06-19 09:32] trondhindenes commented on #25754
I'm not able to say if its the DSC resource or in Powershell core. In any case I think it would be great if you submitted the issue in PS core to see what they have to say.

[2017-06-19 09:33] mykaul commented on #25417
@600833 - I'd assume we need engine.log to see what is the issue. I also suggest moving the discussion to users@ovirt.org ?

[2017-06-19 10:07] halberom opened #25858 "eos_config: re-runs using a src template file fail"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
[code]
and
[code]

##### CONFIGURATION
(default)

##### OS / ENVIRONMENT
Mac OS
virtualenv

##### SUMMARY
Re-runs of eos_config fail when using a src template file

##### STEPS TO REPRODUCE
See https://gist.github.com/halberom/d15181e6403ea3d9a4296a3fa6c0df7b

##### EXPECTED RESULTS
No errors

##### ACTUAL RESUL

[2017-06-19 10:11] halberom opened #25861 "eos_ modules warn of 'deprecated' arguments, but docs don't mention replacements"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
eos_config
(any of the eos_ modules)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(default)

##### OS / ENVIRONMENT
Mac OS

##### SUMMARY
using any of the `eos_` modules gives various deprecation warnings, but there's no solution or mention in the docs

##### STEPS TO REPRODUCE
See https://gist.github.com/halberom/d

[2017-06-19 10:26] halberom commented on #25861
May be related to https://github.com/ansible/ansible/issues/21897

[2017-06-19 10:31] #25861 closed, assigned to nobody

[2017-06-19 10:45] auth-day opened #25863 "invalid 'ipasudoopt': Only one value is allowed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ipa
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When I add option

[code]
it says:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

the same error

[code]

[2017-06-19 10:50] trishnaguha commented on #25861
@halberom you can use the params with `provider` option. The blog post might be helpful: https://www.ansible.com/blog/network-device-authentication-with-ansible-2-3

[2017-06-19 10:53] tmshn commented on #25819
@todaygood Thanks for the report!

As I believe, on CentOS 7, the absence of `"/etc/sysconfig/clock"` is **correct** state; this file used to be used in older version like CentOS 6.

Let me ask some questions to clarify the situation:

1. The problem does **not** happen every time you try to provision?
2. When the problem happens, it is always on `10.53.16.12`?
3. When "Connection timed out" happe

[2017-06-19 10:54] krzysztof-magosa commented on #15399
I believe this ticket can be closed and users just need to upgrade Ansible to 2.1+.

[2017-06-19 10:54] trishnaguha commented on #24978
@dathelen please upgrade your ansible version to `2.3.1` version as it was added in 2.3.1.

[2017-06-19 10:54] #24978 closed, assigned to trishnaguha

[2017-06-19 10:57] halberom commented on #25858
Works if I use `match: none`, but that kinda defeats the purpose.

[2017-06-19 11:02] #20199 closed, assigned to nobody

[2017-06-19 11:03] ricardogaspar2 commented on #25754
Just reported on PowerShell repo: https://github.com/PowerShell/PowerShell/issues/4046

[2017-06-19 11:18] kevensen commented on #25855
@silvinux I'll take a look at this

[2017-06-19 11:21] silvinux commented on #25522
Now duplicates rule_module_args (onerr=fail in this case)

auth      	required	pam_tally2.so deny=5 onerr=fail onerr=fail

[2017-06-19 11:24] silvinux commented on #25855
Thanks!!!, Could be taken from the first part of the remove_module_arguments function. Something like:

[code]

[2017-06-19 11:28] pfar1 commented on #25467
Just to add... i have now tested setting the various attributes and have found the following are the ones the module fails to set:
[code]

These are either int64's or timespans and the normal error is "The specified cast is not valid".

I also believe there is an issue with the pre-check:
`if(-not $currentParamVal -or ($currentParamVal -as [String]) -ne $newParameter.Value)`

currentParamVal never

[2017-06-19 11:28] kevensen commented on #25522
@silvinux could you please share your play?

[2017-06-19 11:30] madbonkey commented on #20492
Encountered this issue as well with

[code]

Solved by `pip install docker docker-compose` (no `docker-py` present). Without `docker-compose` via pip the `docker_container` ansible module worked, `docker_service` did not.

[2017-06-19 11:32] jborean93 commented on #25467
@pfar1 thanks for the info, I'll add some tests to prove my upcoming changes work with it. Have already come across the pre-check issue with both your comment and it handling `$currentParamVal` being set to `0`.

[2017-06-19 11:38] antoinetran commented on #20492
This has nothing to do with this issue. Ansible always required docker-compose for docker_service module.

[2017-06-19 11:38] s-hertel commented on #25718
I'm confirming this as a bug. The issue is that
[code]
is a boto3 style credentials file whereas the contributor inventory relies on boto2 (almost exclusively). Until the dynamic inventory is using boto3 this will probably remain a bug (but pull requests are very welcome).

[2017-06-19 11:39] hemskgren commented on #25304
Hi

I can now confirm it was old modules from before it was included in ansible.
closing this issue.

Regards
Christer

[2017-06-19 11:39] #25304 closed, assigned to nobody

[2017-06-19 11:42] hemskgren commented on #25305
Hi

This was becouse old nxos_* modules before included in ansible.
See from log above: Using module file /usr/share/ansible/*

Regards
Christer

[2017-06-19 11:44] trishnaguha commented on #25305
Thanks for the info @hemskgren . Closing the issue.

[2017-06-19 11:44] #25305 closed, assigned to nobody

[2017-06-19 11:44] s-hertel commented on #25718
I'm confirming this as a bug. The issue is that
[code]
is a boto3 style credentials file whereas the contributor inventory relies on boto2 (almost exclusively). Until the dynamic inventory is using boto3 this will probably remain a bug (but pull requests are very welcome).

Until then, the way to do this is to replace role arn and the source profile in your credentials with the secret key and acce

[2017-06-19 12:00] silvinux commented on #25522
My bad!!! :(, I had two tasks state: after and  state: args_present, seems to be that way duplicate the parameter, I just keep one task. Thanks

---
- hosts: lab
  gather_facts: yes
  remote_user: gnfux
  become: yes
  become_method: sudo
  tasks:
    - name: "Ensure /etc/pam.d/system-auth has changed #auth required pam_env.so# to #auth required pam_tally2 deny=5 onerr=fail#"
      become: yes

[2017-06-19 12:00] kevensen commented on #25522
No worries!

[2017-06-19 12:02] mongrelion commented on #15399
@krzysztof-magosa without proof that this problem has been fixed in 2.1+, I disagree that the ticket can be closed.

[2017-06-19 12:31] krzysztof-magosa commented on #15399
https://docs.ansible.com/ansible/playbooks_roles.html#dynamic-versus-static-includes

Look into second blue box within this section.

[2017-06-19 12:51] gundalow commented on #25304
@hemskgren Thanks for confirming :)

[2017-06-19 13:30] gtirloni opened #25867 "yum_repository - multiple GPG keys"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
yum_repository

##### ANSIBLE VERSION
2.3.1.0

##### OS / ENVIRONMENT
Control host: Fedora 26
Servers: CentOS 7.3

##### SUMMARY
Some public Yum repositories use multiple GPG keys and yum_repository does not support that currently.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Multiple entries would be added for the "gpgkey" key in

[2017-06-19 13:32] b33m0x00 opened #25868 "ERROR! SSH encountered an unknown error during the connection"
ssh in terminal work but ansible doesn't ! please help me

##### COMPONENT NAME
ping

##### ANSIBLE VERSION
[code]
##### ISSUE TYPE
- Bug Report

![screen shot 2017-06-19 at 4 29 21 pm](https://user-images.githubusercontent.com/24935413/27287487-8221ba52-550c-11e7-9421-7e87d391ce85.png)
![screen shot 2017-06-19 at 4 29 31 pm](https://user-images.githubusercontent.com/24935413/27287486-8220d1d2-550

[2017-06-19 13:47] bearrito commented on #24373
I can replicate some version of this behaviour. If I have dependencies in my meta and then skip them, my include_role is also skipped.

[2017-06-19 13:50] ryansb commented on #20492
Also, `docker` and `docker-py` are not coinstallable at the moment, so having both installed will *probably* cause issues.

[2017-06-19 13:51] gtirloni commented on #25867
Workaround is to supply it with a single string and added newlines:

[code]

[2017-06-19 13:52] jborean93 commented on #25705
@deekayen are you able to test out https://github.com/ansible/ansible/pull/25869 when you get a chance. It should fix your issue as it now allows both enum's and their values to be set as an attribute.

[2017-06-19 13:53] jborean93 commented on #23951
@trondhindenes I thought the current module could do this but I am in the process or rewriting it and have added some tests to prove it can be done in the rewrite. Please feel free to test out https://github.com/ansible/ansible/pull/25869 when you can.

[2017-06-19 13:54] jborean93 commented on #25467
@pfar1 I've got a PR raised to fix this issue https://github.com/ansible/ansible/pull/25869. I've been able to set those fields and others, you can have a look at the tests and new examples to see how to set timespan values. It would be appreciative if you could test the PR and verify it.

[2017-06-19 14:08] jtyr commented on #25867
Thanks for reporting this, @gtirloni. This has been already implemented and waiting to be merged in PR #24967. Please feel free to test it and let us know it works for you.

@ansibot Please close this as it's a `duplicate_of` the issue #24948.

[2017-06-19 14:09] gtirloni commented on #25867
Awesome, thank you! That was fast :)

[2017-06-19 14:10] #25867 closed, assigned to nobody

[2017-06-19 15:15] andrianaivo commented on #20978
+1
I have the same problem/behaviour  (also with older ansible versions: 2.0, 2.1, 2.2). It would be really great if that can be fixed!

I have many use cases of "Multi-Steps" roles that I must call multiple times within a single playbook, but only executes the steps corresponding to the current conditions.

[2017-06-19 15:19] throwanexception opened #25871 "wait_for module appears incompatible with managed systems using python 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
wait_for

##### ANSIBLE VERSION
[code]

From a cursory look, appears to affect all 2.3.x releases.
##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Manager node is CentOS 7.3
OS being managed is CentOS 5.11

##### SUMMARY
Using wait_for in a playbook sometimes results in the following error:
[code]

Examining wait_for.py, there are two instances

[2017-06-19 15:31] alikins commented on #25827
(just a reformat of the original verbose output)

[code]

[2017-06-19 15:37] alikins commented on #25827
Just to verify:

/etc/logrotate.conf etc exist on vbox-centos2 ?

[2017-06-19 15:54] rbott commented on #25665
Just to add some information:

We observed that running the tasks like this actually works (but we have not yet figured out why):
[code]

On the very first run, the first task will partially fail (only one item of the dict will work) - hence the ignore_errors. The second task will complete just fine. During the following runs, both tasks will just finish with 'OK'.

[2017-06-19 15:57] bdlamprecht commented on #25449
@privateip I was about to write a long comment providing evidence where the addition of the `parents` parameter didn't change anything in the outcome of the `PLAY RECAP`, but right before submitting that comment, I realized in your statement above concerning the `cfg` file, you hadn't included the `ip access-list extended al_att_ipsla_class1 ` as the first line.

When I tried that, it *__DID__* so

[2017-06-19 15:57] #25449 closed, assigned to privateip

[2017-06-19 16:02] alikins commented on #25831
Ansible usually needs to be able to write somewhere on the remote node to support most modules. However, you maybe able to work around that for some cases.

Try enabling 'pipelining'. In ansible.cfg, in the 'ssh_connection' stanza:

[code]

For commands like ping or shell, that might be sufficient to get them to work (for shell, that is depending on what the shell command is doing...)

Not sure 'm

[2017-06-19 16:06] alikins commented on #25834
duplicate_of: 24425

[2017-06-19 16:07] alikins commented on #25835
close per reporter request

[2017-06-19 16:07] #25835 closed, assigned to nobody

[2017-06-19 16:15] #25834 closed, assigned to nobody

[2017-06-19 16:23] ionosphere80 commented on #25665
The OpenLDAP server attempts to reload the configuration after every add/modify operation to OLC (cn=config). The server returns an error (80) if it receives an add/modify operation containing only olcTLSCertificateFile or olcTLSCertificateKeyFile (rather than both attributes) because it cannot successfully reload the configuration. Although the first task fails, the server still adds/modifies the

[2017-06-19 16:26] gundalow commented on #24441
Should be in `2.3.2` according to https://github.com/ansible/ansible/pull/23391

[2017-06-19 16:54] alikins commented on #25839
If you don't need to collect local facts specifically with facter, you can use ansible's local fact support.

The default patch checked is /etc/ansible/facts.d/ or it can be specified with the 'fact_path' keyword. Ansible local facts do require the fact file to be named like '*.fact'  (not '.json' or '.yaml' or '.facts'), but they can be executables.

[Looking at that code closer, I will also subm

[2017-06-19 16:57] mattd3 commented on #25827
Yeah, logrotate is present:

[root@vbox-centos2 ~]# ll /etc/ | grep logrotate
-rw-r--r--.  1 root  root      662 Jul 31  2013 logrotate.conf
drwxr-xr-x.  2 root  root       91 Jun 17 06:49 logrotate.d

[2017-06-19 17:40] bcoca commented on #25824
@MyTotoro that is not what he is saying, `become_user`  is the 'user you become AFTER sudo/su/etc' not the user that can execute 'sudo/su'. That should be your remote_user (login user).

[2017-06-19 17:44] bcoca commented on #25793
no, you just posted the 'loading' logs which is normal, the x2 output was not clearly mentioned

[2017-06-19 17:45] alikins commented on #25845
The 'Invalid input for field/attribute metadata' errors appears to be coming from openstack though I'm not sure where exactly. It looks like between shade and the openstack compute API, the error seems to be coming from somewhere below https://github.com/openstack/nova/blob/master/nova/compute/api.py#L3962.

I'm guessing the valid format for meta fields here is based on https://github.com/openstac

[2017-06-19 17:45] #25845 closed, assigned to nobody

[2017-06-19 17:46] alikins commented on #25848
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-06-19 17:46] #25848 closed, assigned to nobody

[2017-06-19 17:49] loqutus commented on #25871
https://github.com/ansible/ansible/pull/25874

[2017-06-19 17:53] Synchro commented on #13652
I just ran into this in Ansible 2.3.1.0 using this task:

[code]

This resulted in:
[code]

Mysterious! But then I remembered that `/var/www` was a symlink, and I occasionally run into shell issues related to that which are solved by appending a trailing `/` to indicate that you mean the dir that the link points to rather than the link itself, and sure enough, it works in ansible too:

[code]

Inc

[2017-06-19 17:54] AnthonyWC opened #25875 "Dynamic inventory shows some internal host incorrectly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - Dynamic inventory (AWS)

##### ANSIBLE VERSION
ansible --version
[code]
##### CONFIGURATION
ec2.ini
[code]
##### OS / ENVIRONMENT
Ubuntu 14.04 but I think that's irrelevant

##### SUMMARY
I am currently using dynamic inventory with ec2.ini set to use private_dns_name & private_ip_address

However certain host in a different subnet are showing

[2017-06-19 17:58] alikins commented on #25849
(error output reformatted for easier reading)

[code]

[2017-06-19 18:01] bcoca commented on #25856
os.listdir in python3 seems to return bytestrings ...

[2017-06-19 18:09] rdonkin commented on #13278
I previously had this intermittently (with client OS X and target CentOS 7.3).

I now have a 100% reproducible case with a trivial playbook, which only occurs when I use `-vvvv` or `-vvvvv` - if I use `-vvv`, `-vv` or less, it doesn't happen (tested many times, only varying this factor).  Client is OS X, target is Ubuntu 14.04.  Playbook is just:

[code]

I can provide full details if this is of i

[2017-06-19 18:11] jladdjr commented on #25631
Pinging @chrismeyersfsu for update

[2017-06-19 18:13] mattclay commented on #25042
To be more specific, the results of output from `runme.sh` scripts will not be found in the junit output reported on Shippable. However, the output from `ansible-playbook` run within those scripts will be.

It should be easy to have `ansible-test` create junit output for `runme.sh` scripts to remedy this. However, this may result in multiple test results reported for a single test role depending o

[2017-06-19 18:23] robinro commented on #25815
@geekofalltrades Thanks for this report.

For me providing the `SSH_AUTH_SOCK` and nothing else sounds like the correct approach here.
With an encrypted key that is decrypted by ssh-agent you don't care about where the key was stored initially, but only whether it was added to the agent. I don't see how an encrypted key_file without some info about the running ssh-agent ever worked. Please let me

[2017-06-19 18:24] alikins commented on #25849
The default ansible config will use ssh ControlPersist/ControlMaster which tends to obscure ssh errors unfortunately. Try running with that turned off by explicitly setting the ssh_args in ansible.cfg to something like:

[code]

And running with ansible '-vvv' verbosity:
[code]

[2017-06-19 18:29] #21727 closed, assigned to nobody

[2017-06-19 18:48] robinro commented on #22848
I'd like to see a PR that bypasses the add_git_host_key calls by default and only falls back to them if the `git` command fails. I'll be happy to review/assist.

needs_contributor

[2017-06-19 18:49] alikins commented on #25858
[pasting one of the example output and errors from gist https://gist.github.com/halberom/d15181e6403ea3d9a4296a3fa6c0df7b#file-04_output here so issue search finds it...]

[code]

[2017-06-19 19:11] alikins commented on #25863
Could you run this example with 'ansible-playbook -vvvv' and post the results?

[2017-06-19 19:16] #25061 closed, assigned to nobody

[2017-06-19 19:25] jhammerman79 opened #25878 "Cross account ID not properly derived in Lambda module"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
Lambda
##### ANSIBLE VERSION
[code]
##### CONFIGURATION
Using STS Assume Role in boto3

##### OS / ENVIRONMENT
Mac OS/X, but I believe that this issue is not platform specific.

##### SUMMARY
In this file, at line 308, we attempt to obtain the Account ID via:

[code]

But using STS, it's better to derive this information using:
[code]
##### STEPS

[2017-06-19 19:41] alikins commented on #25868
Screenshots are a little hard to deal with here, since things like github issue search and our issue bots can't read any of the text. Please cut&paste the text the issue template asks for directly.

Looking at the screenshots, it looks like you are running 'sudo ansible some_host_i_cant_paste -m ping' while you are running 'ssh' as use 'chmod'. More than likely, the hosts are using private keys an

[2017-06-19 19:41] #25868 closed, assigned to nobody

[2017-06-19 19:54] alikins commented on #25875
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-06-19 19:54] #25875 closed, assigned to nobody

[2017-06-19 20:14] infrascripting commented on #17002
As a concrete example of this, at the moment I deploy a `ps1` file to all of my Windows hosts at build time that contains only one line:

[code]

Now if I could put that file on my control machine (`/etc/ansible/facts.d`) and have it called during the setup module, it'd be much more manageable. Also, I'm still trying to discover what machines don't have it on there. This way seems to be more align

[2017-06-19 20:16] diboanches commented on #25863
Hello! Yes, please

TASK [ipa_sudorule] *************************************************************************************************************************************************************************************************************************
task path: /home/diman/ansible/ipa_client_enrollment.yml:53
Using module file /usr/lib/python2.7/dist-packages/ansible/modules/identity/ipa/ip

[2017-06-19 20:42] #25856 closed, assigned to bcoca

[2017-06-19 20:58] bcoca commented on #25770
`ansible_host` can be overriden by inventory when delegation is calculated, so added new field that should fix this:

[code]

[2017-06-19 21:31] bcoca commented on #25871
closing as this was fixed by merge of #25876

[2017-06-19 21:31] #25871 closed, assigned to nobody

[2017-06-19 21:32] DavidWittman commented on #25718
Thanks for confirming @s-hertel.

In the meantime, this is exactly what I'm doing to get around this bug. I have created separate INI files for my accounts and I switch between them using the `EC2_INI_PATH` variable.

[2017-06-19 21:44] todaygood commented on #25819
1. yes, not every time, but appeared with high frequency.
2.not always.
3. yes.
4. maybe manually run "timedatectl"  will fail too, because  I found an issue
https://github.com/systemd/systemd/issues/6135

I forgot systemd issue is happened the server whether is too happened on one server, I thought this issue and that issue  have no relationship.
when this issue appeared next time , I will notice

[2017-06-19 21:50] #25770 closed, assigned to nobody

[2017-06-19 21:56] rwaweber commented on #25842
I think that the primary culprit here is that https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/linode/linode.py#L388-L394 doesnt really have any checks around it. Ideally, I would like to make it so that the parameters here: https://www.linode.com/api/linode/linode.create are followed closely in the required playbooks, with little else being necessary to getting a linode up

[2017-06-19 21:58] dagwieers commented on #21797
There is an issue open specifically for this at #23320

[2017-06-19 22:00] kachkaev opened #25884 "s3_sync lacks a parameter for the cli's --delete option"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
s3_sync

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Amazon's `aws s3 sync` cli command has got a `--delete` option, which is useful when doing app backups. It helps remove old log files and other obsolete stuff that can clutter a bucket pretty quickly. Ansible's `s3_sync` module does not seem to mention `delete` i

[2017-06-19 22:07] InTheCloudDan commented on #25842
I have a PR open to fix those using kwargs splat. That was a regression on my part. Would be fixed here:
https://github.com/ansible/ansible/pull/23874

[2017-06-19 22:16] mpatenaude commented on #21298
Just confirming that I still experience this problem in v2.3.1.0.

[2017-06-19 22:25] bcoca commented on #25820
the config API is undergoing major changes, this is not a break in lookup plugins but in your use of the internal API.

[2017-06-19 22:28] tedder commented on #25884
s3_sync is a super-basic implementation that scratches my itch. There are a bunch of filters in there, one (such as yourself) could add `delete` functionality fairly easily. I'll help you if you take a crack at it.

Leaving this open, `needs_contributor`.

[2017-06-19 22:40] dagwieers commented on #19573
You can use the **win_uri** module instead.

[2017-06-19 22:50] bcoca commented on #15399
This was fixed a while back, but i"ve been unable to find PR/commit to link. In any case I'm going to close this for now. Of course, feel free to reopen if you see this in newer versions of Ansible.

[2017-06-19 22:50] #15399 closed, assigned to nobody

[2017-06-20 01:38] tstone2077 commented on #20958
shredding a file isn't really a separate function. the file module manages files and it already deletes the file. IMO, Making the delete secure:
1. should be standard (default?)
2. manages the file

-10 to shred module
+1 to 'more secure implementation of already existing functionality in file module'

[2017-06-20 02:20] MyTotoro commented on #25824
@bcoca Yea, I remember reading through the documentation for the `become` scenarios.

The error I get when I use variants of `become_user` is that the `make` can't find targets - which is strange because it's clearly there.

I thought it had to do with some pathing/settings that I wasn't configuring

[2017-06-20 03:06] bcoca commented on #25824
well,  `  chdir: ~/...` depends on the user you become, how you become and WHEN the ~ gets interpreted (when fed to sudo or after?)

[2017-06-20 06:34] matthyx commented on #25684
The issue comes from the order of parameters: you need to put "!" before the flag.
I have a PR with the fix.

[2017-06-20 06:38] kachkaev commented on #25884
Looked into https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/s3_sync.py, but found it a bit too complicated to change without any prior ansible knowledge.

@s-hertel could you please help? Saw you were also working on `s3_sync` with @tedder.

[2017-06-20 06:54] Nosmoht commented on #25660
I'll check that

[2017-06-20 07:00] PlugIN73 commented on #25856
@bcoca I installed ansible from your commit and checked my issue - error still throwing

[code]

[2017-06-20 07:13] jhawkesworth commented on #19623
no feedback from op, closing.

[2017-06-20 07:13] #19623 closed, assigned to nobody

[2017-06-20 07:26] vnitinv opened #25892 "core junos_rpc module conflicts to Juniper.junos module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/junos_rpc_module.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not reqired

##### OS / ENVIRONMENT
Not required

##### SUMMARY
We had module name junos_rpc from ansible 2.1 timeframe.
http://junos-ansible-modules.readthedocs.io/en/1.4.2/junos_rpc.html
Why same name was chosen in core module. It is causi

[2017-06-20 07:28] vnitinv commented on #25892
@ganeshrn @privateip Please look into this issue.

[2017-06-20 07:36] pjnagel opened #25893 "bool filter wrongly treats nonempty strings/sequences/dicts as 'false'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
builtin filters

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing relevant

##### OS / ENVIRONMENT
Running Ansible on Ubuntu 16.04.2 LTS.

##### SUMMARY
The bool filter does not reliably cast all true values to 'true'. In particular, nonempty strings, and nonempty sequences, and nonempty dictionaries, are all cast to 'false'.

##### STE

[2017-06-20 07:46] tersmitten commented on #15416
In the latest 2.3.* the problem is fixed for us. `ansible-playbook` still uses a considerable amount of RAM though, but we're able to run our deploy without them being killed by the OOM killer :-)

[2017-06-20 07:51] silvinux commented on #25855
@kevensen when I was testing the module I did it as a library, and I changed the name for pamdl, please modify on:

    elif state == 'absent':
            change, result = remove_rule(pamdl,
                                         old_rule)

[2017-06-20 08:24] pfar1 commented on #25467
@jborean93 i would love to get involved and test this for you, unfortunately adding the comments was my first time using github so i am not entirely sure on what i need to do? if you can point me in the right direction, more than happy to help.

I am using Ansible 2.3.0.0 on Ubuntu, presumably i need to add these changes to my installation somehow?

Thanks
Paul

[2017-06-20 08:31] jborean93 commented on #25467
@pfar1, no worries we all start somewhere. You have 2 options available to use for testing

* Create a file called `win_iis_webapppool.ps1` in a folder and run `export ANSIBLE_LIBRARY=/path/to/folder` before running your playbook, or
* Modify the existing module file under your Ansible install. This would be `/path/to/ansible/lib/ansible/modules/windows/win_iis_webapppool.ps1`.

The file you creat

[2017-06-20 08:56] Vladimir-csp opened #25894 "when host is added to group with add_host, variable inheritance and overrides are broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

add_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian stretch

##### SUMMARY

When host is added to a "leaf" group with `add_host` module, it does not inherit variables from parent group.
##### STEPS TO REPRODUCE

Suppose we have inventory with three groups in a tree, one host in root group and one variab

[2017-06-20 09:06] Vladimir-csp commented on #25894
I tried to work around this by using add_host to add host to all groups of the branch (`groups: "branch-group","leaf-group"`). But in this case variable defined in `leaf-group` does not override variable from `branch-group`.
Again, if host is listed in groups manually, then inheritance and overrides work as expected. add_host behavior should be the same.

[2017-06-20 09:20] pfar1 commented on #25467
@jborean93 I have renamed the original and dropped the new ps1 file in and test.

I am getting an error:

`
TASK [ms-iis-apppool : Assuring TEST Application pool] ******************************************************************************
task path: /etc/ansible/roles/ms-iis-apppool/tasks/main.yml:60
Using module file /usr/lib/python2.7/dist-packages/ansible/modules/windows/win_iis_webapppool.p

[2017-06-20 09:23] Vermeille opened #25895 "[ansible-2.3] only group_vars/all/vars is read, the other files in the directory are not"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY

Hi!

I upgraded to ansible 2.3.1.0 from 2.2.3.0.

My directory layouts looks like this:
[code]

With ansible 2.2.3.0, both inventory/bench/group_vars/all/{vars,000_vars.generated} were read. Now, only inventory/bench/group_vars/all/vars is. I don't know if it depe

[2017-06-20 09:29] pfar1 commented on #25467
FYI, whilst it is a warning, it does create the application pool but it isnt setting in values.

[2017-06-20 09:42] harobed opened #25897 "Add Atomic OS detection in Ansible Facts"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
facts.py

##### ANSIBLE VERSION
N/A

##### SUMMARY
Atomic OS (http://www.projectatomic.io/) isn't detected in Ansible Fact.

Maybe set:

[code]

[2017-06-20 10:08] michael-dev2rights opened #25898 "CI warnings encourage terrifying breaches of PEP8 (line break before binary operator)"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

pep8 validator

##### ANSIBLE VERSION

devel / CI

[code]

##### CONFIGURATION

running continous integration in the shippable

##### OS / ENVIRONMENT

multiple / N/A
##### SUMMARY

Warnings like
[code]

encourage bad programming practices (it's not clear what the reason for a following line is if the bi

[2017-06-20 10:26] pmares127 opened #25899 "Ansible ASA_acl: Failed to connect to the host via ssh: Connection closed by remote host.\r\n"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

- asa_acl - Manage access-lists on a Cisco ASA

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No config-changes made.

##### OS / ENVIRONMENT
 Debian 8.8.0

##### SUMMARY

# if I Start my Playbook with "Ansible-playbook playbook-yml -vvv" I get this Error:

Using module file /usr/lib/python2.7/dist-packages/ansible/modules/netw

[2017-06-20 10:55] ChillarAnand commented on #24962
Turns out shell wasn't installed where ansible was looking. This issue is fixed now but https://github.com/ansible/ansible/issues/16435 is happening.

[2017-06-20 10:55] #24962 closed, assigned to nobody

[2017-06-20 10:57] ChillarAnand commented on #16435
On android, python is installed somewhere else. I am trying to run
[code]

It fails with

[code]

[2017-06-20 11:28] kevensen commented on #25855
@silvinux I should have caught that.  Thanks!

[2017-06-20 11:32] jborean93 commented on #25467
Hmm you might be coming across issues with the deprecation tasks that are run in the callback, must have been some changes since 2.3 that is causing this. You can still test your task by running

[code]

This will clone the branch with the changes and the new Ansible version for your testing.

A side note, you can set one variable for attributes and use that in your task like below:

[code]

[2017-06-20 11:34] machacekondra commented on #25746
@julienvey  Thank you for the report. I've created PR:

 https://github.com/ansible/ansible/pull/25900/files

Feel free to say your opinion on the solution.

[2017-06-20 11:36] jborean93 commented on #25465
just an FYI, I'm planning on setting the binding parameters in `win_iis_website` to be deprecated in favour of using `win_iis_webbindings`. This is to keep the modules simpler to deal with as bindings can get quite complex.

[2017-06-20 11:38] ganeshrn commented on #25892
@vnitinv I am not able to reproduce this issue. If `roles` is defined in playbook it trigger's the `Juniper.junos` module for `junos_rpc`.
Can you please share the logs when core module is invoked even if roles is defined in the playbook.

Logs can be enabled by setting `log_path` in the active `ansible.cfg` file.

[2017-06-20 11:52] komuW commented on #25849
@alikins hi, I ran it with the modified ansible.cfg as you asked

`ansible <my-IP> -m ping -i inventory/my_inventory -vvvv`

[code]

[2017-06-20 11:53] tmshn commented on #25819
Okay, so you mean "Connection timed out" happened...

[code]
right?

[2017-06-20 11:55] pdev77 commented on #24823
Hi - Yes those proposed changes remove the issue - thanks.
(Not sure what to do next with the logged issue?)

[2017-06-20 11:57] tmshn commented on #25819
I found the similar issue for SaltStack:
https://github.com/saltstack/salt/issues/26313

IMO, the problem that `timedatectl` fails  is out of the scope of Ansible.
Similarly to that issue, all I can do here is to modify the error handling to give a better message.
What do you think? @todaygood

[2017-06-20 12:08] komuW commented on #25849
@alikins

The above output wan't explicit enough, so I've re-ran it with `-vvvv` ie 4 v's

`ansible <my-IP> -m ping -i inventory/my_inventory -vvvv`

[code]

[2017-06-20 12:09] komuW commented on #25849
re-formatting the output:

[code]

[2017-06-20 12:33] Akasurde opened #25903 "Hostname module doesn't work on Red Hat Atomic Host"
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/system/hostname.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Control node: Red Hat Enterprise Linux Server 7
Red Hat Enterprise Linux Atomic Host 7

##### SUMMARY
User should be able to change hostname of Red Hat Atomic Host using `hostname` module.

##### STEPS TO REPRODUCE
[code]

#####

[2017-06-20 12:39] flare-ws opened #25904 "An option/filter/callback_plugin to display variable inheritance path."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
core, mb jinja filter, mb callback plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A

##### SUMMARY
Synopsis:
There are a LOT of places where a variable can be redefined during play. Here they are:
[code]
Although best practices tells us to minimize overrides count, in complex environments, we may need t

[2017-06-20 12:52] pfar1 commented on #25467
@jborean93 ok running the clone now and thanks for the vars info...

Fyi my version is 2.3.0.0..

[2017-06-20 12:58] lyz-code commented on #25414
It also happens to me, but instead of two ansibles, when you try to execute a playbook and the unattended upgrades is on (by default for Ubuntu 16.04).

[2017-06-20 13:05] pfar1 commented on #25467
@jborean93 almost.....

No longer getting the warning, and it is setting the values i have tried below, except for queuelength again.

It isnt returning any error at all this time, but it hasnt set the queuelength.

[code]

[2017-06-20 13:13] jborean93 commented on #25467
I'll give it a test tomorrow, I wouldn't have thought it would be case sensitive (some posts online indicate it might be) but can you try queueLength instead as that's how it is set here https://www.iis.net/configreference/system.applicationhost/applicationpools/add#005. If that's the case I'll update he docs for the PR to reference that fact.

[2017-06-20 13:15] mattclay commented on #25898
This is due to W503 being a default check in pep8. It is ignored by default in pycodestyle, the successor to pep8: https://pypi.python.org/pypi/pycodestyle

W503 will need to be ignored by ansible-test until we migrate from pep8 to pycodestyle.

[2017-06-20 13:22] sivel opened #25905 "sanity check bin scripts with ansible-test"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Enable pep8/sanity/pylint/etc testing on `bin/` files.

Currently we are completely excluding `bin/ansible` and `bin/ansible-connection`.  We should explicitly add these in to our checks.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2017-06-20 13:22] hsychla commented on #25849
I just had the same issue. In my case SFTP was not properly configured on the target so setting
[code]
solved the problem.

[2017-06-20 13:31] silvinux commented on #25855
Thanks to you!!!

[2017-06-20 13:31] #25855 closed, assigned to nobody

[2017-06-20 13:41] komuW commented on #25849
@hsychla wow!!

Thanks. That works like a charm

[2017-06-20 13:43] hurricanehrndz commented on #23675
I am being affected by the issue as well.

[2017-06-20 13:47] hyperized commented on #23675
Maybe beside the point but you might want to reverse the way this is used, use a positive form. So use:
[code]

If you forget the first check and the my_var is undefined it'll throw the same error.

[2017-06-20 13:50] thaumos commented on #25849
@komuW, I assume we can close this issue then?

[2017-06-20 14:04] hyperized opened #25908 "Async_status counter resetting on receiving result"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
async

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg:
[code]

##### OS / ENVIRONMENT
n/a

##### SUMMARY
When using async/async_status I expect the countdown timer to not reset when a new item is received.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expect the async_jobs counter to expire at the end of 60*60 second

[2017-06-20 14:06] jctanner commented on #25893
@pjnagel The implementation for this filter is fairly simple ...

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/filter/core.py#L117-L125
[code]

I think what are you asking for is ...

[code]

Is that correct?

[2017-06-20 14:09] jctanner commented on #25894
@Vladimir-csp have you tested this with 2.3+ or devel?

needs_info

[2017-06-20 14:12] kobihk opened #25909 "The --limit option of ansible-playbook command doesn't limit as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

options -- limit of ansible-playbook command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed in ansible.cfg file

##### OS / ENVIRONMENT

For the reproduce I run it from fedora24 and managing RHEL7.3 hosts

##### SUMMARY

The --limit option of ansible-playbook command doesn't limit as expected and run also different host g

[2017-06-20 14:12] sivel commented on #25893
There is another pull request to add a "python" truthiness evaluation branch to `to_bool` that would likely resolve this issue:

https://github.com/ansible/ansible/pull/22021

I fear that any change made to the `bool` filter at this point to accept an empty string as false, would be a backwards incompatible change that could cause problems for existing playbooks.

[2017-06-20 14:18] jctanner commented on #25897
resolved_by_pr https://github.com/ansible/ansible/pull/25906

[2017-06-20 14:18] tomaskrizek commented on #15294
I also ran into this issue and it's quite hard to debug. It actually behaves as described in the [documentation](http://docs.ansible.com/ansible/playbooks_variables.html), which says the following files are included:

- inventory group_vars/*
- playbook group_vars/*
- inventory host_vars/*
- playbook host_vars/*

However, I don't think it's reasonable to include all files and it can lead to hard t

[2017-06-20 14:22] jctanner commented on #25899
cc @gundalow @ogenstad

[2017-06-20 14:23] komuW commented on #25849
thanks guys

[2017-06-20 14:25] pfar1 commented on #25467
@jborean93 good spot... its case sensitive... queueLength now works.

Ill test the others and report back.. If all is ok, what do i do? just let you know here or add comments etc to the PR?

[2017-06-20 14:29] bcoca commented on #25895
000_vars.generated <= .generated is not a 'valid extension'

[2017-06-20 14:30] jctanner commented on #25903
resolved_by_pr https://github.com/ansible/ansible/pull/25906

[2017-06-20 14:30] #25903 closed, assigned to nobody

[2017-06-20 14:33] jctanner commented on #25904
[code]

[2017-06-20 14:34] jctanner commented on #25905
cc @gundalow @mattclay

[2017-06-20 14:48] bcoca commented on #15294
This is fixed in current versions, only files with no extension or valid yaml extensions are read.

[2017-06-20 14:48] #15294 closed, assigned to nobody

[2017-06-20 14:53] bcoca commented on #25893
The bool filter is not pythonic, it is not meant to be, closing this in favor of the feature request as this currently works as expected.

[2017-06-20 14:53] #25893 closed, assigned to nobody

[2017-06-20 14:55] bcoca commented on #25909
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The limit clause does not work this way, it creates an intersection of the existing target (play hosts:) and the pattern passed, it is

[2017-06-20 14:55] #25909 closed, assigned to nobody

[2017-06-20 14:57] jctanner commented on #25909
Workaround for the second play:

[code]

[2017-06-20 14:57] sivel commented on #25893
fwiw, as a work around, to get this behavior currently, you can do:

[code]

The `boolean` argument to `default` tells jinja2 to do a python truthiness check on the var.  So `default` would see `""` as falsey and substitute the boolean `False`.

[2017-06-20 14:59] #25031 closed, assigned to Qalthos

[2017-06-20 15:02] alikins commented on #25904
The branch in question: https://github.com/ansible/ansible/compare/devel...alikins:var_man_changed_show_change

example output at https://gist.github.com/alikins/405352d8521ce8792fc2f72fde26f9ef

[2017-06-20 15:12] pfar1 commented on #25467
@jborean93 i have now completed the testing..

The following all now set ok.

[code]

I am unable to set processModel.shutdownTimeLimit, this is the only value that doesnt seem to want to set now.

Also, just to add, if something fails such as the above, or the incorrect cased queueLength, Ansible is reporting it as changed and not reporting any issues.

I have also spotted another issue with the

[2017-06-20 15:13] Vladimir-csp commented on #25894
Tried with 2.3.1 from ppa. No issue here, it even lists branch groups in `group_names` without explicitly adding host to them.
Sorry for disturbance.

[2017-06-20 15:13] #25894 closed, assigned to nobody

[2017-06-20 15:17] flare-ws commented on #25904
Suggested output for --diff mode (without -vvvvv):
https://gist.github.com/flare-ws/29da6fbc335aa93b05cbd220d8ec0278

[2017-06-20 15:19] landryb opened #25910 "openbsd_pkg: add support for pkgname%branch syntax"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
openbsd_pkg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OpenBSD -current or 6.1
##### SUMMARY
Trying to use the pkgname%branch syntax fails

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
installing openldap-server 2.44 from the databases/openldap branch. works fine in a shell:
[code]

##### ACTUAL RESU

[2017-06-20 15:19] landryb commented on #25910
@eest since you're the maintainer of this module...

[2017-06-20 15:21] profhase opened #25911 "cs_nic should be able to add nic to vm"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
cs_nic

##### ANSIBLE VERSION

[code]

##### SUMMARY
The cs_nic module can actually only add secondary IP to an existing NIC on a vm. It would be nice if there was a flag like `force_add` so that it adds a NIC to the vm.

Also there seems to be a bug in:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/cloudstack/cs_nic.

[2017-06-20 15:22] misterjoa commented on #14172
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
debian stretch

##### SUMMARY
Ansible cannot escape single quotes in regexp_replace.

Hello everyone, I'm also affected by this bug, cassandra only tolerates single quotes in its json format for replication strategy. I can't figure a way to replace doubl

[2017-06-20 15:30] s-hertel commented on #25884
Hi @kachkaev. I don't really have time to work on this feature, but I've made a rough draft https://github.com/ansible/ansible/pull/25912. If you'd like to pull that change and add your own commits on top of it to fix it (I doubt it's right, as-is), feel free to do so. Also feel free to ping me on your PR if you do that and I'll review :)

[2017-06-20 15:30] Qalthos commented on #25541
#25913 should fix your nxapi issues, please let me know if it does some other horrible thing or doesn't work.

[2017-06-20 15:31] andriipopryhin commented on #8972
Yep, confirm - bug is still present.

- name: Associating new instance with Elastic IP
  ec2_eip:
    reuse_existing_ip_allowed: yes
    region: "{{region}}"
    device_id: "{{ item }}"
  with_items: "{{ aws.instance_ids }}"
  tags:
    - aws_instance
  register: gerrit_eip

ansible 2.3.0.0
  config file = /home/username/Documents//project/ansible.cfg
  configured module search path = Default w/o

[2017-06-20 15:33] Vermeille commented on #25895
Great. Then:
- What are the valid extensions?
- Why was that new constraint necessary?
- Why is that undocumented?

Thank you for your time :)

[2017-06-20 16:03] vinpk opened #25916 "nxos_command fails to give results once we switchto child vdc on Nexus 7k/9k"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

callback skippy used
##### OS / ENVIRONMENT

Linux/Ubuntu
##### SUMMARY

nxos_command completes execution of command " **switchto vdc child_vdc** "; but it times out for any other forthcoming commands passed to be able to run on child vdc.

##### STEPS TO REPRODUCE

play.yml
[co

[2017-06-20 16:27] Rylon commented on #24045
Seems I was celebrating early - when I tried it again today it was failing with the same error, despite using apache-libcloud 1.5.0, so there must've been something else at play, but I'm at a bit of a loss as to what that might be!

[2017-06-20 16:50] bcoca commented on #25895
documented in link above, here it is again http://docs.ansible.com/ansible/intro_inventory.html#splitting-out-host-and-group-specific-data

[2017-06-20 17:02] chrismeyersfsu commented on #25631
Tower's fact cache plugin assumes that value in FactCache `set` calls are dictionaries, or behave like dictionaries (instance of) `set(self, key, value)`.

This commit https://github.com/ansible/ansible/commit/110fd917d6b140ee064cbf68c28d9b630d016af9#diff-d01d986987d9cd0f682890b51b98b04dR111 sends in a unicode value.

Maybe the value set in the cache should be set to the value after the loader pro

[2017-06-20 17:15] bcoca commented on #25631
i can make that change, i was trying to keep the script's JSON output so it would be easy to debug

[2017-06-20 17:23] bcoca commented on #25631
does this fix your issue?
[code]

[2017-06-20 17:28] bcoca commented on #25631
@chrismeyersfsu in any case, it is a bad assumption that every key in the cache is a dict, there is no reason they cannot be strings

[2017-06-20 17:37] bouncingsoles commented on #25466
I can confirm this bug affects 2.3.1.  Play passed with hash from windows certificate store, but the server doesn't bind and it shows the cert hash is empty with verbose output.
`
ok: [XXX] => {
    "added": [],
    "changed": false,
    "matched": [
        {
            "bindingInformation": "*:443:",
            "certificateHash": "",
            "certificateStoreName": "",
            "isDsMap

[2017-06-20 17:57] chrismeyersfsu commented on #25631
Yep, fixes issue.

[2017-06-20 18:03] Vermeille commented on #25895
Thanks! Sorry!

[2017-06-20 18:03] #25895 closed, assigned to nobody

[2017-06-20 18:08] smakhtin commented on #20492
It's now fixed in 2.3.0. You need just install latest docker-compose via pip on remote, then try to run it and it will tell you which old packages you need to delete.

[2017-06-20 18:27] #25631 closed, assigned to bcoca

[2017-06-20 18:46] AnthonyWC commented on #25875
Are you sure that this is not a bug?  It should return IP address when in fact it did not, that looks like a bug to me.  As the very least it should not be considered a normal behavior.

[2017-06-20 19:05] bregman-arie opened #25923 "Allow to list magic variables with ansible-doc"
- Feature Idea

##### COMPONENT NAME
feature

##### ANSIBLE VERSION
all

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Today, there is no option to list the magic variables by using ansible-doc.
There should be some flag for ansible-doc to display a list of the magic variables with a description for each variable.

[2017-06-20 19:10] CorbanR commented on #25437
I am also still seeing an issue with ansible, and ansible-tower (I have opened a case with redhat support).

[2017-06-20 20:34] permitanyany opened #25928 "Issue with network modules after upgrade to 2.3.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config
junos_config

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Linux 3.10.0-514.10.2.el7.x86_64 #1 SMP Mon Feb 20 02:37:52 EST 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
After upgrading to 2.3.1 from 2.2.0, every time I attempt to run a playbook referencing a network module (ios_config, junos_config, etc), I get the follow

[2017-06-20 20:38] jonathanwcrane opened #25929 "Offer more graceful way to replace instances in an AWS EC2 Auto Scaling Group"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
ec2_asg (AWS EC2 Autoscaling Group)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS:  Running on Mac OS Sierra 12.12.5
Target OS:  N/A (AWS)

##### SUMMARY

When replacing instances in an ASG, Ansible terminates the instances in each "batch" more or less simultaneously with launching the new ones.  It would be

[2017-06-20 20:54] jborean93 commented on #25467
Hey thanks for the feedback, I believe your shutdown time isn't working as your value is not a correct timespan i.e. `"00:02:30}"` when it should just be `"00:02:30"`. For the state issue look under `info.attributes.state` and you can see it is null and not `started`. The parameter `info.state` is just a reflection of what was passed into the module. I'll have a look at why the state is returning

[2017-06-20 20:59] kvaps commented on #6912
+1
Why it so limited by one host? - I think that this is wrong behavior.
What if I need to ad all vms discovered from hipervisors?
[This](https://github.com/ansible/ansible/issues/6912#issuecomment-253176893) trick will not help in this case.

[2017-06-20 22:18] geerlingguy commented on #25819
Note that I got this when running my `geerlingguy.ntp` role on a minimal CentOS 6 install with one VPS host, and adding a missing `/etc/sysconfig/clock` file as root with the contents `ZONE="America/Chicago"` (or any other valid timezone) fixed the issue for me.

I haven't had any issues on CentOS 7 minimal installs, nor have I encountered this on any other hosting environment running CentOS 6, so

[2017-06-20 22:30] gsalsero opened #25931 "azure_rm_storageaccount throws InvalidAccessTier when creating BlobStorage account"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
azure_rm_storageaccount

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]

hostfile = ./inventory
inventory = ./inventory
roles_path = ../../../analytics-monitoring/roles:./roles
filter_plugins = ../../../analytics-monitoring/filter_plugins:./filter_plugins
callback_plugins = ../../../analytics-monitoring/callback_plugins:./callback_p

[2017-06-20 22:32] woz5999 commented on #25809
@bobobox I've begun the process of submitting PRs for the new modules. Would you like to close this issue and move the discussion to the new PRs?

https://github.com/ansible/ansible/pull/25886
https://github.com/ansible/ansible/pull/25881

[2017-06-20 22:36] geerlingguy commented on #25819
Actually, I take that back, since switching to using Ansible's `timezone` module, my NTP role is now failing on all CentOS 6 minimal install hosts with:

[code]

Maybe in my case there's some package that sets up the clock file that's missing?

[2017-06-20 22:41] gsalsero opened #25932 "azure_rm_storageaccount docs have incorrect kind: StorageBlob should be BlobStorage"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
azure_rm_storageaccount

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]

hostfile = ./inventory
inventory = ./inventory
roles_path = ../../../analytics-monitoring/roles:./roles
filter_plugins = ../../../analytics-monitoring/filter_plugins:./filter_plugins
callback_plugins = ../../../analytics-monitoring/callback_plugin

[2017-06-20 23:06] thanatos opened #25933 "ansible-galaxy ignores the -f flag"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ansible-galaxy`

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
OS X

##### SUMMARY
The `-f` flag does not appear to be honored.

For example, running `ansible-galaxy` with `-f` doesn't result in roles getting re-installed:
[code]

##### EXPECTED RESULTS
`ansible-galaxy` re-downloads the roles.

##### ACTUAL RESULTS
`ansible-galaxy` didn'

[2017-06-20 23:11] geekofalltrades commented on #25815
@robinro

Providing just the `SSH_AUTH_SOCK` works until you start to have many keys in the agent. Then SSH just goes down the list, trying them one at a time, and the server might eventually reject further requests with `Too many authentication failures`. In that case, using vanilla SSH, you would add the `-i <keyfile` option to point directly at the key you want to use.

I don't explicitly recal

[2017-06-20 23:46] abadger commented on #16435
Please open a new bug report with a complete set of information for
reproducing (filling out the issue template and giving any additional,
relevant information)..  We don't have anyone checking closed bug reports
so were unlikely to track any continuation of a problem here.  Since this
was confirmed working after the PR was merged, this also seems like it is a
new problem, not the same one as befo

[2017-06-21 00:15] wsbmilk opened #25934 "mongodb lookup exception with python3 but python2 works well"
when i use ansible under python3 with pymongo installed, an error occured:
[code]

i search this with google, and find that py3 shoud use int instead of long, plz fix it, thx

[2017-06-21 01:19] hvindin commented on #25933
I think this was resolved here: [galaxy-issues #249](https://github.com/ansible/galaxy-issues/issues/249) and was fixed here #23391

[2017-06-21 01:31] bobobox commented on #25809
@woz5999 - sounds good. Closing this Issue.

[2017-06-21 01:31] #25809 closed, assigned to nobody

[2017-06-21 04:25] supertom commented on #24045
Here's a couple more things to try.  If you're using a service account, you'll want to run the gcloud command using the service account.

#### Ensure no extra policy bindings for your user on the service
`gcloud service-management check-iam-policy iam.googleapis.com`
Probably should be empty. If not, should explore.  Also possible that something at the organization level (Google Apps) could influe

[2017-06-21 04:29] MyTotoro opened #25937 "Ansible Git Module ssh-keyscan error"
- Bug Report

Git

[code]
OS:
MacAir
Sierra 10.12.4

##### SUMMARY
Git module produces an ssh-keyscan error

##### STEPS TO REPRODUCE
[code]
Needless to say, it doesn't work when I enable the `key_file` for personal projects

##### EXPECTED RESULTS
a folder in ~/repos/

##### ACTUAL RESULTS
[code]

[2017-06-21 05:11] Akasurde commented on #25937
@MyTotoro Thanks for reporting this issue. Could you please try replacing `:` with `/` in git url as follows :

[code]

I am able to run this ansible playbook as follows :

[code]

Let me know if you face any issue.

[2017-06-21 05:51] JohnVonNeumann opened #25938 "ec2_group invalid rule parameter 'ports' when creating new group, errors out yet still creates empty resource on AWS"
First time posting an issue, please be gentle (haha).

#### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

n/a - fresh 27 venv with clean 2.4 install

##### OS / ENVIRONMENT

Ubuntu 16.04, don't believe to be relevant.

##### SUMMARY

Invalid rule parameter error returning when using new syntax for ports. I have tried debugging using

[2017-06-21 06:02] JohnVonNeumann commented on #25938
So I just picked up on something else as well, the script will fail with the same message, yet it will still create the resource (albeit an empty one) on AWS. Not sure if I should add this to the issue or if you are supposed to separate things out into separate issues?

[2017-06-21 06:54] ganeshrn commented on #25175
@bdlamprecht In the attached logs `ansible hpr-vba-b.txt`  I see a ncclient traceback at `L23`
```error: getaddrinfo() argument 2 must be integer or string```
Argument 2 here is the port value.

How are you passing the port value in playbook?

[2017-06-21 07:01] bigjimmynz opened #25940 "AWS: ec2_remote_facts returns error about arguments missing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_remote_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg
[code]
##### OS / ENVIRONMENT
OSX 10.11.6

##### SUMMARY
Running ec2_remote_facts to retrieve a list of ec2 instances from my aws account returns an error from the python stack which ends in "TypeError: __init__() takes at least 2 arguments (1 given)"

even happens i

[2017-06-21 07:02] ganeshrn commented on #25175
@DamianZaremba Can you please update Ansible version to `2.3.1` and retest.

I suspect a timeout issue (https://github.com/ansible/ansible/pull/24556) in your case which is fixed in `2.3.1`

[2017-06-21 07:11] nosun commented on #15297
I met the same issue, are there any way to resolve it?

[2017-06-21 07:44] pfar1 commented on #25467
Hi @jborean93, ok apologies for not spotting the mistake with the timestamp... had an extra } on the end of the variable.  It works as expected now.

How long does it typically take to get this released into the main Ansible product? is there a way i can consume this in the interim, bearing in mind the depreciation issue i had?

Thanks
Paul

[2017-06-21 07:44] #25638 closed, assigned to nobody

[2017-06-21 07:44] MiLk commented on #25402
Same issue here, with same versions.

### Ansible version

[code]

### OS / ENVIRONMENT

OS: Ubuntu 16.04.2 LTS (Xenial Xerus)
Python: 2.7.12
OpenSSL: 1.0.2g 1 Mar 2016

### Error message

[code]

[2017-06-21 07:46] seb1281 opened #25941 "shared connection closed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Script module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I didn't change anything, all left at default values.

##### OS / ENVIRONMENT
16.04.2 LTS

##### SUMMARY
When running the script module on a remote server, I get the error message "Shared connection to serverxy closed."

##### STEPS TO REPRODUCE
1. configure public key access to th

[2017-06-21 07:49] jborean93 commented on #25467
@pfar1 it all depends on how long it takes for it to get merged in and 2.4 to be out, usually it is on a ~ 4 month release cycle. You can use the powershell file and add it to your library but you may need to modify it and remove all the warning cmdlets that are found in there to get it to work.

If you get some time are you able to post your brief findings on the PR and either some suggestions or

[2017-06-21 08:10] woshihaoren commented on #25748
@jhawkesworth thanks you PR, it can work.

[2017-06-21 08:17] analbeard commented on #14426
I too am seeing this. This isn't fixed and shouldn't be closed.

[2017-06-21 08:50] trondhindenes commented on #25754
closing this. Thanks for the detailed bug report!

[2017-06-21 08:50] #25754 closed, assigned to nobody

[2017-06-21 08:50] mchassy opened #25943 "docker_service causes failure with user option docker-compose.yml"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No specific config

##### OS / ENVIRONMENT
[code]

##### SUMMARY

- After building 2 images using the docker_image module, I want then run container based on those images using a docker-compose.yml file and the docker_service module. By default all containers run as root. Runnin

[2017-06-21 09:12] pfar1 commented on #25467
@jborean93 yes sure ill add some comments to it shortly.

I guess we may be in touch again then, i am new to Ansible and am trying to get a web server to deploy from VMware and into Production with code, purely from Ansible.  I have cracked the VM deployment and IIS install and now AppPool configuration..  Next up is creating websites etc so i might have more to add.

Right now, other than the inc

[2017-06-21 09:27] pfar1 commented on #25467
@jborean93 what do you mean by warning cmdlets? is it the -whatif ? or the catch statements? dont suppose you could supply a useable version could you ;)

[2017-06-21 09:29] jcberthon commented on #20998
Same problem here with Ansible 2.3.1.0 on Ubuntu.

The Ansible controller (where I run Ansible Playbooks) does not have SSH server installed. In one playbook, I need to do various tasks on remote hosts, but I need to execute one local task on the controller to gather some dynamic information. That local task is a small script triggered by `local_action`, but it fails because it is trying to ssh to

[2017-06-21 09:35] tineg opened #25946 "nxos_hsrp.py (ansible 2.3.0.0) Invalid command message although configuration success"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/network/nxos/nxos_hsrp.py

##### ANSIBLE VERSION
ansible 2.3.0.0
  config file = /home/foo/ansible/ansible.cfg
  configured module search path = [u'/home/foo/ansible/my_modules/']
  python version = 2.7.13 (default, Jan 19 2017, 14:48:08) [GCC 6.3.0 20170118]

##### CONFIGURATION
retry_files_enabled = False

##### OS

[2017-06-21 10:12] jcberthon commented on #20998
OK, I found the exact configuration that trigger the bug.

My task look like this:

[code]

In this case running the playbook with `-vvv` shows the following log `<localhost> ESTABLISH SSH CONNECTION FOR USER: None` and it fails to connect via SSH (`Failed to connect to the host via ssh: ssh: connect to host localhost port 22: Connection refused`)

If I replace `with_fileglob` by `with_items` and

[2017-06-21 10:24] diego-treitos commented on #21433
A recend [PR](https://github.com/docker/docker-py/pull/1658) has added the functionality to `docker-py`.  Hopefully the next version of `docker-py` will include it.

[2017-06-21 10:32] robinro commented on #25815
Does adding `key_file` together with `SSH_AUTH_SOCK` work?

[2017-06-21 10:42] savishy commented on #22576
Updating for a target machine of CentOS 6.5 x64 bit and Ansible 2.3.1.0:
Workaround provided by @ipolishchuk also worked for me, i.e

[code]
became

[code]

[2017-06-21 10:54] emonty opened #25949 "Remove use of cloud.nova_client from openstack modules"
It's deprecated in shade, and all the functionality should be available directly in shade now. Replacing nova_client calls with the proper shade calls needs to be done everywhere.

[2017-06-21 10:55] emonty opened #25951 "Remove extra logic from os_server"
os_server has a crapton of internal logic - almost all of which should go away. os_server needs to be just mapping input values into shade calls.

[2017-06-21 10:58] woshihaoren opened #25952 "windows setup use async has problem"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when exec setup for windows use async, ansible_interfaces is wrong
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2017-06-21 10:58] emonty opened #25953 "Support passing full cloud definition to openstack module cloud parameter"
In module_utils/openstack.py, we accept a "cloud" parameter to all modules that is the name of a cloud defined in clouds.yaml. However, os_client_config accepts every value as kwargs that one can put into a named cloud. SO - we should support cloud being both a string (cloud name) and a full-on dict structure so that if people want to keep their config in ansible vars rather than a clouds.yaml fil

[2017-06-21 11:00] mikedlr opened #25954 "CI doesn't allow from __future__ imports."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Shippable CI system

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

committing to shippable

##### OS / ENVIRONMENT

Python

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

There should be a place where from __future__ imports can be accepted.  Alternatively if they aren't to be accepted then that should be docume

[2017-06-21 11:00] mchassy commented on #25943
As an additional way of doing things, I used the USER instruction in my Dockerfile (which is probably the better way anyway).
Again the same result, the 2 images build correctly and the 2 containers come up correctly using
`command: docker-compose up -d`
But when the same is done with the docker_service module, the mongo container always fails.

[2017-06-21 11:12] jcberthon commented on #22993
Can someone explain why this issue has been closed?

I'm running Ansible 2.3.1.0 on Ubuntu  16.04. I have installed the package python-docker (version 1.9), but when running a playbook with Docker, I get the error: `Failed to import docker-py - No module named requests.exceptions. Try 'pip install docker-py'`.

I tried to remove the python-docker package and do `pip install docker-py`. it installe

[2017-06-21 11:20] bluefish6 commented on #12086
+1 on forks!

[2017-06-21 11:27] hentismith opened #25957 "Add vault support for json file in contrib/inventory/gce.py"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
contrib/inventory/gce.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Setup gce.py as per http://docs.ansible.com/ansible/guide_gce.html using secrets.py

##### OS / ENVIRONMENT
Linux Ubuntu 16.04

##### SUMMARY
When using gce.py using any of the three recommended methods to provide the service account details the json file containing th

[2017-06-21 11:33] mscheinholtz commented on #24062
Once I replace line 410 with $job_args=$parsed_args as suggested the code works on Ansible 2.3.0.0. If I change the default state from installed to searched and run the code not using the change in line 410 it works as well. Is it possible ancillary module or code was changed previously relating to the arguments that is causing this condition?

[2017-06-21 11:38] bcoca commented on #25957
We cannot provide this for external scripts, but this is now possible using inventory plugins #23001, so you just need to migrate the script into a plugn.

[2017-06-21 11:58] eest commented on #25910
Thanks for notifying me @landryb. This looks like the code path for verifying package name syntax for versionless packages does not properly understand the branch syntax. Currently not close to a proper computer but should be able to investigate in the coming days.

[2017-06-21 12:07] daBONDi commented on #16452
Ok i found some clues

When Ansible Host = fqdn it works, when it is an IP Address it not works.

The Problem is for Provision i need the IP Address and after Domainjoin and Installing ADFS Farm i need the FQDN, how i should workaround this?

After i run "Install-ADFSFram" follow Works with FQDN but **NOT with the IP "https://<ipaddress>:5986/wsman"**

**Someone got a Clue or Workaround?**
FQDN an

[2017-06-21 12:09] mario-pranjic commented on #25136
Hi,

Any feedback on this bug?

[2017-06-21 12:09] mario-pranjic commented on #23379
Hi,

Any feedback on this bug?

[2017-06-21 12:20] codeaken opened #25960 "Segmentation fault in mysql_user when .my.cnf is present"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mysql_user
(probably all of the mysql_* are affected)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
All default values

##### OS / ENVIRONMENT
macOS 10.12.4
Debian 9

##### SUMMARY
mysql_user is causing a segmentation fault under the following conditions (all must be fulfilled):
- Ansible version above 1.9.6 (tested with version 2, 2.2 and

[2017-06-21 12:25] bearrito commented on #14426
Seeing this in latest ansible. Why is this closed?

[2017-06-21 12:26] bearrito opened #25961 "ERROR! Timeout (XXs) waiting for privilege escalation prompt"
Re-opening of https://github.com/ansible/ansible/issues/14426
##### ISSUE TYPE
Issue Type: Bug Report

Ansible Version: Ansible 2.3
Python Version: 2.7.6
Environment: Ubuntu 16.04 Ubuntu 14.04

##### COMPONENT NAME
Ansible SSH connections

Summary:
I am seeing the following error, at random times

FAILED! => {"failed": true, "msg": "ERROR! Timeout (12s) waiting for privilege escalation prompt: "}

[2017-06-21 12:34] jt1 commented on #12086
+1 on forks!

[2017-06-21 12:40] bearrito commented on #25961
I am able to SSH into the machine.
Running with `-c paramiko` also works most of the time.

[2017-06-21 13:55] eduardocalfaia opened #25965 "redhat_subscription.py"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

running on Mac
managing Redhat
##### SUMMARY

Does it possible add the option --auto-attach?
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-06-21 14:05] grybak-arista commented on #24849
Yes, this issue has been resolved. There was an error in the playbook and the defaults option had been dropped, which was the source of the problem (not comparing against a full config).

Thanks for looking into this.

[2017-06-21 14:05] #24849 closed, assigned to nobody

[2017-06-21 14:10] nickjbyrne commented on #16948
I'm still seeing this in 2.2.1.0

[2017-06-21 14:21] bcoca commented on #16948
its skipping it when 'compiling the play' but it gets picked up in execution as the variable has become available. The message is misleading and should only error out on the 2nd attempt.

[2017-06-21 14:26] Rylon commented on #24045
Thanks for the suggestions @supertom I tried a few of them, and after re-running my playbook a few times, and getting the same errors it all of a sudden started to work without any changes. So it provisioned the VM correctly, but subsequent runs of the playbook would then fail with an `u'alreadyExists` error, suggesting the idempotency check isn't quite working, but that's a good step in the right

[2017-06-21 14:27] nickjbyrne commented on #16948
Its not causing an issue directly, it just _appears_ to be, which is misleading and should be fixed (also the affects 2.2 label could be added back).

[2017-06-21 14:27] bcoca commented on #16948
fixed in  cb7060c9fe28ba90c0ab16c95031eeadd484ea5b

[2017-06-21 14:28] #16948 closed, assigned to nobody

[2017-06-21 14:38] przemolb opened #25967 "Ansible/vmware_guest "msg": "A specified parameter was not correct. spec.location.host""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.3

##### SUMMARY

Trying to clone VM from another VM using Ansible vmware_guest module.

##### STEPS TO REPRODUCE

Use the following yml file and command to reproduce it:
[code]

[code]

##### EXPECTED RESULTS

Expect VM to be created.

####

[2017-06-21 14:41] bdlamprecht commented on #25175
@ganeshrn Yes, I'm passing the port value using the `provider` parameter as defined in the `group_vars/all.yml`. This is contents of my `creds` dictionary which is also used by `junos_install_config` above (which again works fine):

[code]
__Note__: We are using port 22 for NETCONF (the device is configured to do so) and although `auth_pass` is not needed for `junos_config`, it is there for `ios_c

[2017-06-21 14:51] Akasurde commented on #25965
@eduardocalfaia Thanks for reporting this issue. There is already one issue filed before - #23014

[2017-06-21 14:58] infrascripting opened #25968 "local_action lineinfile skipping some hosts' input if writing same file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`local_action` and `lineinfile`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When calling `lineinfile` as the module argument to `local_action`, if all hosts are writing information to the same file, not all of the information is successfully added to the file.

This is useful for dynamically

[2017-06-21 15:12] jepurdy opened #25970 "Datastore Cluster not being found when listed as datastore= parameter, vm template datastore being used by default"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

host_key_checking = False is uncommented in ansible.cfg

##### OS / ENVIRONMENT

This is running from RHEL 6.9 x86_64 and controls other RHEL 6.x x86_64 guests as well as accessing VMware ESXi 6.

##### SUMMARY

When deploying a new VM from a template and defining the datasto

[2017-06-21 15:13] ganeshrn commented on #25175
@bdlamprecht Can you please share the Ansible logs after the upgrade to `2.3.1`.

[2017-06-21 15:14] bcoca commented on #25968
it is not being skipped, it is being overwritten, you cannot have multiple forks writing to the same file and expect consistent output.

[2017-06-21 15:14] bcoca commented on #25968
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2017-06-21 15:14] #25968 closed, assigned to nobody

[2017-06-21 15:25] infrascripting commented on #25968
@bcoca Is there a best-practice way that I should substitute, or is this a dead-end?

[2017-06-21 15:28] bcoca commented on #25968
Well, i would use one template task that would write all hosts in one go. But,  if you NEED to use lineinfile, using serial 1 (like you already found) or `--forks 1` is only way.

[2017-06-21 15:36] bearrito commented on #25961
More info

Logging into the machine directly is fast

[code]

However tasks almost certainly time out initially or after a few

[code]

[2017-06-21 15:42] bearrito commented on #25961
More info

I am not overriding ssh args

[code]

[2017-06-21 15:44] Akasurde commented on #24124
@boonchu Could you please try #25731 and let me know if it works for you ?

[2017-06-21 15:53] wrouesnel opened #25974 "docker_container.py _compare_dicts incorrectly reports matches"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux

##### SUMMARY
docker_container.py _compare_dicts() has a logic bug where if the two dictionaries being compared are not of equal length, then it will not detect that they do not match if the keys of the left dictionary (being shorter) match the ke

[2017-06-21 15:54] eduardocalfaia commented on #25965
Thanks @Akasurde.

[2017-06-21 16:16] eduardocalfaia commented on #25965
Was it implemented @Akasurde ? I didn't find out.

[2017-06-21 16:49] Akasurde commented on #25965
@eduardocalfaia The PR #23034 is under review process, you can try this patch and provide feedback on PR.

[2017-06-21 17:50] Gianlu commented on #24062
It seems it works because "searched" is the default state. You may try to specify a log file and you'll see that the file is not created without modifying line 410. I modified the module to setting up a default value for the log file and it showed me that  without the change in line 410, the parameters are sent to the module as `System.object`: this way, the default value (state=searched, no log a

[2017-06-21 18:53] Constantin07 commented on #25940
@darknessnz  I  was able to reproduce your issue on CentOS 7.2.
[code]

[2017-06-21 19:18] s-hertel commented on #25923
cc @dharmabumstead

[2017-06-21 20:01] s-hertel commented on #25954
cc @mattclay

[2017-06-21 20:05] #23490 closed, assigned to nobody

[2017-06-21 20:07] s-hertel commented on #25965
Closing since this is a duplicate of #23014.

[2017-06-21 20:07] #25965 closed, assigned to nobody

[2017-06-21 20:12] s-hertel commented on #25933
Fixed by https://github.com/ansible/ansible/commit/78836ec0b9719a62fa0f8619707a9f411ed4a4f0 and will be in the 2.3.2 release.

[2017-06-21 20:12] #25933 closed, assigned to nobody

[2017-06-21 20:44] mplanchard commented on #25961
This is happening to us, also, but only against our old CentOS 5.6 servers. It does **not** occur on plays against Ubuntu 16.04. Ansible is being run from Ubuntu 14.04. Weirdly, turning on verbose output allowed it to successfully execute the commands, and is the workaround we are currently using. Verbose output for the commands that fail under non-verbose mode is linked in a gist below.

Ansible

[2017-06-21 20:59] geekofalltrades commented on #25815
No, that's what's broken.

[2017-06-21 21:05] mplanchard commented on #25961
Update: for the moment, we seem to be able to work around the issue by running playbooks with `-T 300`.  The commands take a long time to go through (again, only on our CentOS 5.6 servers), but they do eventually complete.

[2017-06-21 21:31] cwarner-mdsol commented on #19427
I can confirm this, bug

[2017-06-21 21:37] jladdjr commented on #25631
@chrismeyersfsu, @bcoca - automated tests confirm that we are now getting the job events we expect. Just to be safe, ran a scan job against an inventory with localhost and confirmed that the job now picks up localhost from the inventory. Looks good!

[2017-06-21 21:47] bearrito commented on #25961
Okay. This is at least not for me an ansible problem.

I am only seeing this on _some_ not all versions of Ubuntu 16.04 Azure images.  I cannot confirm it is not occurring on 14.04 because I haven't tried it yet.

The issue seems to be related to `sudo su` and the computer_name /hostname not being in `/etc/hosts` This seems to be an issue on many distros.

As you can see above I can log in with no

[2017-06-21 22:04] captainbrown commented on #25899
We're getting an error of the same sort.  It was working before the upgrade to Ansible 2.3

asa_host_1_dict:
  host: "{{ asa_hostname_1 }}"
  username: "{{ cisco_admin_name }}"
  password: "{{ asa_password }}"
  authorize: yes
  auth_pass: "{{ asa_password }}"
  transport: cli

In the context of:

- name: ASA ACL
  delegate_to: localhost
  asa_acl:
    lines:
    - "{{ ospf_acl }}"
    provider: "

[2017-06-21 22:05] mplanchard commented on #25961
Presumably this has something to do with recent changes in Ansible, because we have been running this same playbook against these same servers for quite some time, and we have only seen the consistent timing out since sometime between March and May (unfortunately, we didn't run the playbook between March 29 and May 31, so it's hard to be more specific).

[2017-06-21 22:57] Constantin07 commented on #25940
Issue fixed in #25979

[2017-06-21 23:25] adrianmkng opened #25981 "EFS creation hangs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

efs module

##### ANSIBLE VERSION

[code]
Also here are my installed pip packages
[code]
##### CONFIGURATION

ansible.cfg
[code]

##### OS / ENVIRONMENT

MacOS Sierra (version 10.12.5)

##### SUMMARY

Unable to create AWS EFS, ansible just hangs on the efs module. I have manually created another EFS in AWS to ensure that I have the correct per

[2017-06-21 23:53] MyTotoro commented on #25937
@Akasurde

I tried it with `/` instead of `:`, I get a different error - I'm not using key_file, I'm not an owner of the repo or anything like that:

'FAILED! => {"changed": false, "cmd": "/usr/bin/git clone --origin origin 'ssh:********@github.com/labstack/echo.git' /home/mytotoro/repos", "failed": true, "msg": "Warning: Permanently added the RSA host key for IP address '192.30.253.112' to the li

[2017-06-22 00:26] joejulian opened #25982 "ec2_elb_facts throws an exception if ELB is deleted during the query"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_elb_facts module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

N/A

##### SUMMARY

LoadBalancerNotFound: Cannot find Load Balancer <lb name>

##### STEPS TO REPRODUCE

This seems to occur when there is a lag between a service being taken down and the load balancer being removed. We are running kub

[2017-06-22 00:27] dv01d opened #25983 "Best Practices documentation on inventory/group_vars demonstrates non working configuration"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
Inventory group_vars

#### ANSIBLE VERSION
[code]

##### SUMMARY

Best practices says to use a top level "inventories" directory, with organized subdirectories of groups of hosts that have hosts and  group_vars. The reality is ansible by default doesn't look for or read "inventories", secondly even if it did group_vars do

[2017-06-22 00:32] bearrito commented on #25961
I do agree with that assessment. These playbooks have worked previously on 14.04 and some 16.04 machines.

[2017-06-22 00:36] jctanner opened #25984 "vmware_guest_find is not py3 compatible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest_find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
Run the test from https://github.com/ansible/ansible/pull/25964 with the ubuntu1604py3 container

[2017-06-22 00:40] wrouesnel commented on #25974
@mattclay @chouseknecht pinging you because git blame assigns blame - but actually I was just wondering what the intent of the code here was. The docstrings are accurate - it does what it says on the label, but it doesn't seem to be what a user (i.e. me) would expect.

[2017-06-22 01:10] adrianmkng commented on #25981
I've just tried downgrading to ansible 2.2.0.0 as well and it still hangs. Been waiting for over 30mins.

[2017-06-22 01:13] kassiansun commented on #25974
@wrouesnel `_compare_dicts` has been there since `docker_container` was first added as a module.
Take `volumes` parameter as an example, should we recreate the container if one entry of `volumes` was deleted? It will not influence the container's behavior if there's one more `volumes` not used.
IMO, this is not a bug, more like a legitimate feature.

[2017-06-22 01:35] kernelzilla commented on #19860
I interpreted this error as a conflict between the NIC creation (custom MAC) I was asking Ansible to do and the existing NIC(s) I had on the VM template.  Did you declare a mac different than what was already existing in the template?  Removing all of the NICs from the template resolved it for me to avoid the conflict.

[2017-06-22 02:13] hehachris commented on #9065
We recently come into this issue as well. We have multiple applications running on a single host as **different users**. For instance:

[code]

We have no way to specify `ansible_user` with vars properly, neither with `host_vars` nor `group_vars`. The latest definition always wins in both cases.

Our current workaround is to define multiple plays with different `ansible_user` in the playbook:
[cod

[2017-06-22 02:42] kassiansun commented on #25937
@MyTotoro What about `git@github.com:MyTotoro/....git`? `git` doesn't need ssh prefix to work with ssh keys.

[2017-06-22 03:04] kassiansun commented on #25934
@wsbmilk I will submit a MR to fix it laterly.

[2017-06-22 03:12] wrouesnel commented on #25974
I agree that it's potentially a legitimate use-case, but it is a very surprising one - i.e. if I removed a bound volume on the assumption that I was going to assign that path somewhere else.

This behaviour probably needs to be better documented (I can submit a PR to do that), but maybe also a `strict_config` option should be added (default it to false) which enforces whether the loose comparisons

[2017-06-22 03:26] kassiansun commented on #25974
@wrouesnel  If `A` container is bounded with `VA` and `VB` volumes, now you want to remove `VB` entry in `volumes`.
* If `A` is using `VB`, restart will **fail** as application won't run properly without `VB`
* If `A` is not using `VB`, reassign `VB` to elsewhere will be **okay** as `A` is actually not using it.
* If `A` was using `VB`, now not. You should create a new image for new application an

[2017-06-22 03:44] darknessnz commented on #25940
Looking good. the preliminary test with that small playbook works. Just going to test with my full code.

[2017-06-22 04:04] hehachris commented on #9065
@hyojinbae suggested a [smart way](https://github.com/ansible/ansible/issues/9065#issuecomment-227450640) above to workaround this:
[code]
So now each host has a unique name in the inventory. Not a big fan to put host vars in inventory, but this is the best workaround I have seen so far.

[2017-06-22 04:30] rangsan commented on #17105
I also got this problem too. When i use limit the localhost does not match in the inventory but it work when i run without limit. Can someone please shed me the light ? Thanks

[2017-06-22 04:52] darknessnz commented on #25940
Works in my full environment as well. Thank you very much.

[2017-06-22 05:14] robinro commented on #25815
OK, I'll have a look but it might take some time till I get to it.
If you (or someone else) want to have a go at it before, feel free:
needs_contributors

[2017-06-22 05:27] zerkms opened #25988 "Duplicate parameters for container_config in lxc_container module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lxc_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
This issue is a follow-up (but it's not a duplicate: that issue was about something different but still contains relevant messages) for the https://github.com/ansible/ansible-modules-extras/issues/1998.

In short, if you change the `co

[2017-06-22 05:55] ganeshrn opened #25989 "junos_user with purge option enabled fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should delete all the login users configured on the device except the user mentioned in playbook ie. logged-in user.

##### ACTUAL RESULTS

Fails with error

[code]

[2017-06-22 06:18] Akasurde commented on #25632
resolved_by_pr #25990

[2017-06-22 06:20] Akasurde commented on #25632
@jpsenior Can you please try the patch and let me know if it works for you ?

[2017-06-22 07:00] willthames commented on #25940
Thanks @Constantin07 for the fix and @darknessnz for confirming the fix!

[2017-06-22 07:00] #25940 closed, assigned to nobody

[2017-06-22 07:48] sxm5211258 opened #25991 ""msg": "Failed to connect to the host via ssh: Received message too long 458960955\r\n""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible web3 -m shell -a "uptime"
ansible web3 -m ping

##### ANSIBLE VERSION
ansible --version
ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

##### CONFIGURATION
/etc/ansible/hosts
[code]
/etc/ansibl

[2017-06-22 07:52] andrewhowdencom opened #25992 "Registered EC2 variable not behaving as described in the documentation"
*** THIS IS A DUPLICATE BUG REPORT ***

I am submitting it because the last one has had "please reopen" for a year but I don't think it's being picked up somehow.

*** ORIGINAL REPORT ***

https://github.com/ansible/ansible/issues/14593

*** ACTUAL REPORT ***

##### Issue Type:
Bug Report

##### COMPONENT NAME

ec2 module

##### ANSIBLE VERSION

ansible 2.1.0 (devel 6a62ad6c4b) last updated 2016/0

[2017-06-22 07:57] woshihaoren opened #25993 "Can windows setup have disk info like linux?"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/windows/setup.ps1
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

now , windows setup does‘t have disk info,maybe can add this info via
Get-WMIObject Win32_LogicalDisk and Get-WMIObject Win32_DiskDrive

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

       "ansible_devices": {

[2017-06-22 08:25] hlpinform commented on #25941
We got the same error. I updated today to the following ansible version.

ansible 2.4.0 (devel 9cc35b094f) last updated 2017/06/22 07:39:18 (GMT +000)
  config file = /opt/hlp-ansible-config/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /opt/ansible/lib/ansible
  executable location = /opt

[2017-06-22 08:42] stroobl commented on #25029
I see the same behaviour as ikkaro in our environment. The storage for the new VM ends up on the datastore where the template is. Not only the DRS inside a datastore cluster is ignored: even if you specify another datastore, the VM is still created on the datastore cluster member where the template resides.

So suppose the template is on datastore: sata and you specify datastore: ssd for the VM =>

[2017-06-22 08:58] mpostument opened #25995 "s3_bucket error: Your previous request to create the named bucket succeeded and you already own it"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Trying to run s3_bucket task when the bucket already exists results in an "Your previous request to create the named bucket succeeded and you already own it" error.

##### STEPS TO REPRODUCE
Create /etc/boto.cfg with content:
[code]
Run more than once th

[2017-06-22 08:58] frinux commented on #20638
The documentation should definitly be updated with these comments :+1:

[2017-06-22 09:04] mpostument opened #25996 "s3_bucket: error with dots or uppercase letters in bucket name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Trying to run s3_bucket task when bucket has dots or uppercase letters in bucket name
##### STEPS TO REPRODUCE
Run more than once the following task:
[code]

##### EXPECTED RESULTS
Bucket should be created or updated.
This error can be fixed if create /et

[2017-06-22 09:28] eest commented on #15742
@vaskas: I noticed this ticket was still open. It should have been fixed in #19740. Can you verify this?

[2017-06-22 09:51] JulienPalard opened #25998 "npm state: latest won't always fetch latest version"
##### ISSUE TYPE
 - Bug Report (as status is always "changed")
 - Documentation Report (as npm behavior about semver should be mentioned in the doc)

##### COMPONENT NAME

npm module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Using "state: latest" won't always fetch the latest version (respecting semver) and report "changed" every time.

According to "npm update

[2017-06-22 10:03] chusiang commented on #13223
Thanks for @jimi-c , it's working for me. :smile:

[code]

[2017-06-22 10:06] pteichner opened #25999 "OpenStack server userdata field gets corrupted with JSON template file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When Creating an OpenStack instance with userdata specified as JSON (ignition config for CoreOS) it changes the structure of the input from the template file

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS
Openstack instance crea

[2017-06-22 10:10] JulienPalard commented on #25998
It also mean that:

[code]

and

[code]

won't be able to upgrade npm to version 5 as ansible will run "npm install" only if the package is absent, but it looks like there is no way for "npm update" to update the package, only "npm install" can.

In other words:

- npm update -dd --global 'npm@^5'
- npm update -dd --global 'npm@*'
- npm update -dd --global 'npm@5.0.3'

won't update npm, but:

- np

[2017-06-22 10:12] pilou- commented on #25898
Related: #25947 (use pycodestyle instead of pep8).

[2017-06-22 10:21] hyperized commented on #25908
Having discussed this very briefly with @bcoca who said this is as expected I would like to elaborate why this is not as expected.

When two tasks are kicked off simultaneously with a retry time of 10 seconds and a retry count of 10 I expect both tasks to asynchronously to finish within 100 seconds (or the async_status to fail). Now the output can run down to 1 retry and then start over again at 1

[2017-06-22 11:09] pteichner commented on #25999
It seem that the fact that boolean were turned caps is one of the problem

[2017-06-22 11:11] pteichner commented on #25999
Workaround was based on suggestion from here https://github.com/ansible/ansible/issues/15603

As you can see belowe the lookup was changed to file and passed as a string
 **userdata: "{{ lookup('file','./roles/create-instance/templates/{{inventory_hostname}}.j2') | string}}"**

[code]

[2017-06-22 11:29] FranBarrera opened #26003 "Azure create virtual machine with an Availability Set associate"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`azure_rm_virtualmachine: ansible/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`Default`

##### OS / ENVIRONMENT
`OS running Ansible from: Ubuntu 16.04`

##### SUMMARY

##### STEPS TO REPRODUCE
Feature to create instancias associate with an Availability Set Associate

[2017-06-22 11:39] tomdev opened #26005 "apt_key module with url and state: absent is broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`apt_key` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No configuration changes.

##### OS / ENVIRONMENT
macOS Sierra 10.12.5 – probably not platform related

##### SUMMARY
The documented tasks in the `apt_key` module documentation for deleting a apt key using an url does not appear to work. http://docs.ansible.com/ansible/apt_key_

[2017-06-22 11:44] fubarhouse opened #26006 "Travis fails on get_url: unexpected keyword argument 'context'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Travis environment using Ubuntu 14.10 via docker.

##### SUMMARY
I've got a testing playbook running on nearly 20 separate platforms however there's a problem with the 14.10 environment I simply don't know how to get around, or if it's a bug with the soft