[2019-10-10 16:42] #63347 closed, assigned to nobody

[2019-10-10 17:12] mszumilak opened #63348 "gcp_compute_subnetwork show task result as changed when it's actually not"
##### SUMMARY
I'm using collected info about existing subnet in VPC. I use that as a fact in the following task for creating the subnet/apply some changes. When there are no changes ansible still shows that configuration has been changed. Diff on the debug output from 3 consecutive run shows no differences.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_subnetwork

##### ANSIBLE

[2019-10-10 17:54] t385f559 opened #63350 "'debug' module size of string"
##### SUMMARY

debug module possibly truncating results

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

lib/ansible/modules/utilities/logic/debug.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Aruba HPE made Ansible software to interact with Aruba devices, called aruba-switch-ansible.  Coding in VSCode on a Windows 10 machine.  Run th

[2019-10-10 18:31] AlanCoding commented on #63341
-label has_pr

[2019-10-10 18:42] mtucker502 commented on #62983
I still have the same error after installing 63406:

[code]

[code]

[code]

[2019-10-10 19:00] pgelinas opened #63353 "docker_node_info fails with exception when the node name is ambiguous"
##### SUMMARY
When using the docker_node_info with a node name that would be ambiguous, the module fails with an exception about an undefined variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_node_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Running on Ubuntu, targeting Ubuntu

##### STEPS TO REPRODUCE
Create a minimal docker swarm se

[2019-10-10 19:09] ekultails commented on #46362
The TripleO community is continuing work on a `podman_container` module. We would really appreciate some help. Once it meets the standards of Ansible (idempotency, tests, etc.) we aim to get it merged upstream directly into Ansible.

* [podman_container.py](https://github.com/openstack/tripleo-ansible/blob/master/tripleo_ansible/ansible_plugins/modules/podman_container.py)
* [OpenStack Developer D

[2019-10-10 19:14] bcoca commented on #62912
You can already achive this with `changed_when: resultvar is failed` and handle the failure in diff ways (ignore_errors, failed_when, etc).

[2019-10-10 19:14] #62912 closed, assigned to nobody

[2019-10-10 19:15] bcoca commented on #62914
this happens because you can only have one handler with the same name defined, both roles get imported and the 'last one' with a handler with that name overwrites the previous. So this is expected behaviour.

[2019-10-10 19:15] #62914 closed, assigned to nobody

[2019-10-10 19:16] samdoran commented on #62887
We JSON serialize the data when it is displayed, so the extra escape characters are only for display purposes. They are not actually sent to the command.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-10 19:16] #62887 closed, assigned to nobody

[2019-10-10 19:16] bcoca commented on #62920
we no longer build RPMs for ansible >2.6 as we do not support python 2.6 on the controller anymore.

[2019-10-10 19:16] #62920 closed, assigned to nobody

[2019-10-10 19:21] bcoca commented on #62948
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-10-10 19:21] #62948 closed, assigned to nobody

[2019-10-10 19:21] hryamzik commented on #47838
What a great example showing difference between Ops/SRE/Developers and coders/programmers.

[2019-10-10 19:22] sivel commented on #62938
!component =lib/ansible/plugins/cache/redis.py

[2019-10-10 19:24] bcoca commented on #62952
This is not something they are designed to support as OrderedDict won't be handled by our type evaluation, try setting this https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native to allow jinja2 to handle it.

[2019-10-10 19:24] #62952 closed, assigned to nobody

[2019-10-10 19:25] sivel commented on #62938
The redis cache plugin requires the password in the `fact_caching_connection` value.  The format is a colon (`:`) separated value, where each value corresponds to the signature of the `StrictRedis` class:

https://redis-py.readthedocs.io/en/latest/#redis.Redis

As such, to include a password, it would look similar to:

[code]

[2019-10-10 19:28] bcoca commented on #63000
closing as per above.

[2019-10-10 19:28] #63000 closed, assigned to nobody

[2019-10-10 19:28] sivel commented on #63012
!component =lib/ansible/modules/network/meraki/meraki_switchport.py

[2019-10-10 19:38] bcoca commented on #63039
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-windows on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there,

[2019-10-10 19:38] #63039 closed, assigned to nobody

[2019-10-10 19:40] basictheprogram opened #63354 "hostname module on Ubuntu 14.04.6 "Command failed rc=1, out=, err=Unknown operation""
##### SUMMARY
The hostname module when used against ubuntu 14.04 fails

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hostname

##### ANSIBLE VERSION

[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Management host: macOS 10.14.6
Managed host: Ubuntu 14.04.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The  hostname of the Ubuntu Trusty computer would be "{{ bootstrap_

[2019-10-10 19:44] samdoran commented on #62927
We agree roles should work like this and it is our understanding that variables passed to `include_role` using `vars` are scoped only to that instance of the role unless `public: yes` is added to `include_role`.

I am unable to verify this with supported versions of Ansible.

[code]

[code]

[code]

[code]

[code]

[code]

Is there something I am missing from the reproducer?

needs_info

[2019-10-10 19:46] sivel commented on #63071
We have discussed this, and while we may entertain a pull request to add this, we have no plans of implementing this.

We are moving to a process of not keeping feature requests open that we do not have the intention of implementing.  As such, I'm going to proceed with closing this issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2019-10-10 19:46] #63071 closed, assigned to nobody

[2019-10-10 19:52] bcoca commented on #63123
closing as per above

[2019-10-10 19:52] #63123 closed, assigned to nobody

[2019-10-10 19:53] bcoca commented on #63127
~component =lib/ansible/modules/cloud/ovirt/__init__.py

[2019-10-10 19:53] s-hertel commented on #63137
!component =contrib/inventory/ec2.py

[2019-10-10 19:56] s-hertel commented on #63137
@julienmary The [aws_ec2 inventory plugin](https://docs.ansible.com/ansible/latest/plugins/inventory/aws_ec2.html) should be able to do that.

[2019-10-10 19:56] BlackestDawn commented on #62912
Changed_when hijacks an existing mechanic which means you can't use for it's normal purpose of reporting when the task changes in a successful way, mean that you'll have incorrect reporting on the task itself. This would mean that I can only notify when it either changes or fails never on both using different handlers, but if you know a way achieve this through changed_when then please show me. An

[2019-10-10 19:59] bcoca commented on #63134
I cannot reproduce with the information given, you seem to have a package that prompts even when apt is instructed not to, w/o more information there is not much what we can do.

[2019-10-10 19:59] kbreit commented on #63012
@feisa Thanks for reporting this. I wasn't notified until the component was tagged.

Are you expecting data to be returned or is there a possibility no data would be returned? For example, a network has no switches? The modules have some issues handling empty returns from the API.

[2019-10-10 20:00] haz-mat commented on #62927
Hmm thanks for looking into this @samdoran. I definitely had a more complex case where this was reproducible but I also have confirmed that this simple case works in the expected way. I'll see if I can provide more details.

[2019-10-10 20:33] felixfontein commented on #63353
The code in question is here:
https://github.com/ansible/ansible/blob/stable-2.8/lib/ansible/module_utils/docker/swarm.py#L157-L166
I agree that probably something is not handled correctly. I guess we should fail in case something happens we don't know (just add `self.fail("Error while reading from Swarm manager: %s" % to_native(exc))` or so).

@WojciechowskiPiotr any opinions?

[2019-10-10 20:40] megakoresh commented on #62952
@bcoca Is there somewhere I can read about this type evaluation thing and why it's important enough to allow it to override default behaviour this way?

[2019-10-10 20:41] felixfontein commented on #46362
Spontaneously, it looks like the version you have is similar to the one from #57956. How (and where) should development proceed? I can help reviewing, but for that I need to know where I can write something :)

Also, as we were discussing in various places (issues/PRs here and IRC), there are some design issues with the current module which should be discussed first before more implementation is d

[2019-10-10 21:05] sivel commented on #62952
Our lookup mechanism goes through something called `safe_eval` to convert string representations of python objects to actual python objects. This is to work around a historical interaction between Ansible and jinja2 from a time when jinja2 could only ever return strings.  This method can only handle basic python types. The jinja2 native setting, which is accessible through a config file, bypasses

[2019-10-10 21:21] sshnaidm commented on #46362
@felixfontein you're right, I used https://github.com/ansible/ansible/pull/57956 as a base for this module. I think it definitely has 95% of all functionality, except of idempotency of running containers. Now we develop it in tripleo - Openstack Gerrit. It looks like more comfortable place for collaboration and reviews, unlike here. Also we start to use it in tripleo and it will be well tested. Fo

[2019-10-10 21:25] #63222 closed, assigned to Akasurde

[2019-10-10 22:12] goneri commented on #60479
Dup with https://github.com/ansible/ansible/issues/63302

[2019-10-10 22:12] #60479 closed, assigned to nobody

[2019-10-10 22:24] #38974 closed, assigned to nobody

[2019-10-10 22:24] #57958 closed, assigned to nobody

[2019-10-10 22:33] #63254 closed, assigned to nobody

[2019-10-10 23:40] willthames commented on #63256
I don't know what generatename is.

Could you provide a test case that demonstrates the issue you're seeing?

[2019-10-11 01:47] kbreit commented on #63012
@feisa I have a change ready to go and need to write a unit test to test for this. However, I'm not sure how to reproduce the problem. If you have suggestions on the condition to do this, I'd like to test it both in integration tests and unit tests.

[2019-10-11 01:50] SitWatchCloudRise opened #63364 "nsupdate module failed to remove Letsencrypt DNS challenge record"
##### SUMMARY
we use Letsencrypt to generate a certificate with DNS challenge. Ansible works great to satisfy the challenge. However, when we want to remove the record as it is no longer needed, ansible is reporting module failure.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible **nsupdate**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Li

[2019-10-11 01:58] smacz42 opened #63365 "Be able to skip vars_prompt if variables exist with `import_playbook`"
##### SUMMARY

When a variable is set in a parent playbook, and a child playbook is being imported, even if the variable exists for that server, Ansible prompts for the new variable. There should exist a way that Ansible recognizes that the variable already exists and skip the prompt.

Additionally, when the var is prompted for in the second playbook, whatever it is set to does not override the va

[2019-10-11 02:14] Fred-sun commented on #62861
@JonTheNiceGuy Thanks for your contribution. Can you help explain why this parameter was added? Where will it apply? Thank you very much!

[2019-10-11 02:14] Fred-sun commented on #62861
@mybayern1974 Please help to look at this issue when you're free. I am not sure whether it is necessary to add zone parameter for azure_rm_publicipaddress module. Thank you very much!

[2019-10-11 02:19] feisa commented on #63012
@kbreit I always expect it to return data for my usage. I can reproduce easily if you need anyone to test

[2019-10-11 02:33] kbreit commented on #63012
@feisa Yes, please let me know how you reproduced this. Fixing this would solve multiple problems.

[2019-10-11 03:24] Fred-sun commented on #31867
close_me, contributor_disappear

[2019-10-11 05:29] anusha94 commented on #60286
@Akasurde
Sure, will do!

[2019-10-11 05:40] Fred-sun commented on #52068
@just-dimitarslavkov Thanks for your open this issue! Can you describe this problem as much as possible? What your purpose? Thank you very much!

[2019-10-11 06:01] anton-dealmeida commented on #29628
Honestly, it's been 2 years.. 😅

I don't remember the use case of this anymore... At one point I remember Organization's had just come into Docker and they were separate from your own Docker account and there was not a whole lot of documentation yet around how to use images from a Docker organization. (That's about all I remember) and so the use case for this was I think to simplify the docker ima

[2019-10-11 06:03] Fred-sun commented on #52082
@mybayern1974 This problem should be related to access control permissions. As a participant, I cannot test this problem. Please help to check it when you are free. Thank you very much!

[2019-10-11 06:19] felixfontein commented on #29628
This would only make sense to implement here if docker itself also supports this. I don't think it does. The only thing I could find about organizations is this: https://docs.docker.com/docker-hub/orgs/

This seems to be about managing users for Docker Hub, which has (as I understand it) nothing to do with how docker daemon (and the docker CLI tools) work. You still have to specify `<organization>

[2019-10-11 06:27] anton-dealmeida commented on #29628
Yeah no, I agree. We can close this one. This suggestion is ancient so I truly can't fully recall and the organization's thing has changed a bit as well. This ticket I created just after it became a feature.

[2019-10-11 06:33] #29628 closed, assigned to nobody

[2019-10-11 06:38] felixfontein commented on #46362
I would say that idempotency is at least 2/3 of the whole functionality.

Idempotency is for me the most basic part of a module, especially for a module of this size. To decide how the module works, you first need to find out how to handle idempotency, everything else is rather straightforward after that.

Definitely. The main question is: how?

Exactly.

I still think it is better to start with a

[2019-10-11 06:52] onlyone-tsq commented on #62938
@sivel ,
     Thank you.

[2019-10-11 06:52] #62938 closed, assigned to nobody

[2019-10-11 07:26] Andersson007 commented on #63319
resolved_by_pr: https://github.com/ansible/ansible/pull/63371

[2019-10-11 07:41] puchalakd commented on #55844
Problem still exists.

$ ansible -m win_updates -a "state=searched" w2k12
w2k12 | SUCCESS => {
    "changed": false,
    "filtered_updates": {},
    "found_update_count": 0,
    "installed_update_count": 0,
    "reboot_required": false,
    "updates": {}
}

While on that system there is KB4521864 pending.

$ ansible --version
ansible 2.8.5

Similar problem is with w2k8, but updates were done manua

[2019-10-11 07:45] tanis2000 commented on #63334
@sivel I think I narrowed down the actual issue. It's the `proxy_env` variable that can't be passed to the `environment` as it's being set by one of the roles. So I'm wondering how it's even working when using the standard `roles:` construct. How's that possible is the role that is setting it is in the list of those to run?

[2019-10-11 07:52] Fred-sun commented on #54914
@mybayern1974 Please take a look this issue when you're free! Thank you very much!

[2019-10-11 08:01] rcastagnet commented on #62914
It worked very well before. I regularly use the call to a role several times with different parameters. The case I present happened when I added a condition according to the environment (integration / preproduction / production) keeping the same playbook.
I do not understand why this issue was closed when it seems a important bug enough that it breaks the backward compatibility without warning.

[2019-10-11 08:13] davidv1992 opened #63372 "[Copy module] Remote copy doesn't copy recursively on second iteration in with_items when desitination folder already exists."
##### SUMMARY
When using the copy module to copy directories around on the remote machine, and combining this with with_items, when on the second iteration of the with_items, the copy will not recursively copy contents of subdirectories when those already exist in the target directory.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Copy Module

##### ANSIBLE VERSION

[code]

##### CONFIGURAT

[2019-10-11 08:37] Akasurde commented on #63354
@basictheprogram I am not able to reproduce this issue -

[code]

[2019-10-11 08:37] Akasurde commented on #63354
needs_info

[2019-10-11 08:41] quulah commented on #34093
Has anything happened here? I'm facing similar difficulties, and I think that this issue is causing it.

[2019-10-11 08:42] davidv1992 commented on #63372
Closed due to mistake made in condensing issue to minimal working example

[2019-10-11 08:42] #63372 closed, assigned to nobody

[2019-10-11 08:48] k3x opened #63374 "vmware_dns_config: Not able to select one specific host or a cluster"
##### SUMMARY
Most vmware modules allow to specify a host(esxi_hostname) or a cluster (cluster_name) on which a config entry should be changed. However the module vmware_dns_config does not allow this. The current version simply chooses one random host to apply the changes:
host_system = list(host)[0]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
On Module vmware_dns_config add a paramete

[2019-10-11 08:58] Nothing4You commented on #58198
according to the docs it can just be passed as port if i understand it correctly

[2019-10-11 09:24] davidv1992 opened #63375 "[Copy module] Incorrect recursive copy of subdirectory of subdirectory"
##### SUMMARY

When copying recursively a remote directory, when  a subdirectory of a subdirectory already exists at the destination, files contained in that will not be recursively copied over.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested on ubuntu 18.04 and debian 10 targets, but seems

[2019-10-11 10:00] Udayendu opened #63376 "vmware_deploy_ovf is unable to attach NSX based PortGroup"
##### SUMMARY
vmware_deploy_ovf is unable to attach NSX based PortGroup

Seems like this feature is available in vmware_guest ansible module: https://github.com/ansible/ansible/pull/37979

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04. LTS

$ pip3 show pyvmomi
Name: pyvmomi
Versio

[2019-10-11 10:03] #58198 closed, assigned to nobody

[2019-10-11 10:26] roxor45 opened #63377 "Module Find, Contains option Regex bug ?"
Hello,

I found a strange return with a module find and contains option, with the python regex "\Z"

https://docs.python.org/2/library/re.html
\Z -->    Matches only at the end of the string.

I need to check the result of the last string if it's OK or KO

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module find
##### ANSIBLE VERSION
ansible 2.8.0
  config file = None
  configured module se

[2019-10-11 10:43] roxor45 opened #63378 "Module Find, Contains option Regex bug ?"
Hello,

I found a strange return with a module find and contains option, with the python regex "\Z"

https://docs.python.org/2/library/re.html
\Z -->    Matches only at the end of the string.

I need to check the result of the last string if it's OK or KO

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module find
##### ANSIBLE VERSION
ansible 2.8.0
  config file = None
  configured module se

[2019-10-11 10:43] #63377 closed, assigned to nobody

[2019-10-11 10:55] Andersson007 commented on #54151
@vamshi8
could you please run mysql_replication without these extra instructions (delegate, etc).
just only mysql_replication against that master

needs_info

[2019-10-11 10:59] Andersson007 commented on #54091
I think could be close without the author's feedback

[2019-10-11 11:05] Andersson007 commented on #41116
needs_info

[2019-10-11 11:08] Andersson007 commented on #25366
is this issue relevant with the latest released Ansible version?

needs_info

[2019-10-11 11:19] Timoses opened #63381 "tower_inventory_source should support custom_virtualenv"
##### SUMMARY

Just like [tower_project](https://docs.ansible.com/ansible/latest/modules/tower_project_module.html#tower-project-module) module, the `tower_inventory_source` should support `custom_virtualenv` as well.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

tower_inventory_source

##### ADDITIONAL INFORMATION

A custom virtual environment may be required when setting up inventory s

[2019-10-11 11:29] #54091 closed, assigned to nobody

[2019-10-11 11:38] acataluddi opened #63383 "ini_file does not modify the target symlinked file but creates a copy of it"
##### SUMMARY
Suppose having a symlink `/etc/example.ini` pointing to another INI file like the following

[code]

If you try modifying the `/etc/example.ini` using `ini_file`, the module:

- **does not** modifies `/opt/package/conf/example.ini`.
- Creates a local copy of `/opt/package/conf/example.ini` in `/etc/example.ini`.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME
`ini_file`

#####

[2019-10-11 12:11] AlanCoding commented on #63381
We are trying to migrate the tower modules to a collection maintained along with AWX, see https://github.com/ansible/ansible/pull/62924 for more details.

I have opened a replacement issue there https://github.com/ansible/awx/issues/5002

close_me

[2019-10-11 12:12] AlanCoding commented on #60200
We are trying to migrate the tower modules to a collection maintained along with AWX, see https://github.com/ansible/ansible/pull/62924 for more details.

I have opened a replacement issue there (this is specific to custom_virtualenv) https://github.com/ansible/awx/issues/5002

close_me

[2019-10-11 12:16] #63381 closed, assigned to nobody

[2019-10-11 12:19] #60200 closed, assigned to nobody

[2019-10-11 12:22] Andersson007 commented on #63319
@the2 thank you for reporting this!
would be cool if you look at the PR and, if it is ok for you, add a comment with:
shipit
or any suggestions

[2019-10-11 12:23] AlanCoding commented on #17605
I believe the inventory plugin already allows this. For that to be possible in Ansible Tower, https://github.com/ansible/awx/issues/4306 would be needed.

-label tower

[2019-10-11 12:27] AlanCoding commented on #25017
fixed by PR https://github.com/ansible/ansible/pull/54967

close_me

[2019-10-11 12:28] AlanCoding commented on #37567
fixed by PR https://github.com/ansible/ansible/pull/54967

close_me

[2019-10-11 12:29] AlanCoding commented on #28480
looks like we had a solution to this

close_me

[2019-10-11 12:40] #37567 closed, assigned to nobody

[2019-10-11 12:41] #28480 closed, assigned to nobody

[2019-10-11 12:41] #25017 closed, assigned to nobody

[2019-10-11 12:42] AlanCoding commented on #54446
close_me

[2019-10-11 12:51] #54446 closed, assigned to nobody

[2019-10-11 12:58] TrayserCassa commented on #63129
well my first PR :pray:

[2019-10-11 13:02] #54493 closed, assigned to nobody

[2019-10-11 13:02] AlanCoding commented on #61007
close_me

[2019-10-11 13:02] acataluddi commented on #63383
For the ones facing the same issue, the following work-around can be used.

[change_ini_file_preserving_symlinks.yml](https://gist.github.com/acataluddi/19f82f6165fc01706fa1453a311039fa.js)

I dislike the fact that it's a bit verbose: any improvement or suggestion is welcome.

[2019-10-11 13:02] AlanCoding commented on #60646
close_me

[2019-10-11 13:07] Belabacsi commented on #45276
Hello Dominic!

Same issue here, using vmware_deploy_ovf in loop. Did You find a solution for this issue?
Many thanks!
Best Regards,
Belabacsi

[2019-10-11 13:08] tanis2000 commented on #63334
If you want to reproduce this problem, just use the following:

`roles/a4-roles/tasks/main.yml
[code]

`roles/setup-vars/defaults/main.yml`
[code]

`roles/setup-vars/tasks/main.yml`
[code]

`roles/show-vars/tasks/main.yml`
[code]

`deploy.yml`
[code]

`hosts`
[code]

You will get the following result:

[code]

[2019-10-11 13:12] #61007 closed, assigned to nobody

[2019-10-11 13:12] #60646 closed, assigned to nobody

[2019-10-11 13:13] AlanCoding commented on #62429
We added a test for this in the new collection

https://github.com/ansible/awx/blob/08df2cad683ca2375ca53d484b6d5d4a8123035a/awx_collection/test/awx/test_job_template.py#L36

That's for `credential`, but the issue is identical for `vault_credential`, because these fields have been removed in AWX. This is the first item on the agenda to be fixed in the collection.

Alternatively, there is another b

[2019-10-11 13:21] #62429 closed, assigned to nobody

[2019-10-11 13:22] splashx commented on #58307
This should be marked as a regression and fixed ASAP.

[2019-10-11 14:23] dapiced commented on #45276
The issue seem to be in the ansible loop itself, so i simply repeat the task the number of time i need (without the loop function).

 Other solution can be to do a yml file loop instead a task loop...

[2019-10-11 14:24] laminy opened #63391 "k8s with OpenShift fails with force:yes for DeploymentConfig"
##### SUMMARY
k8s can not overwrite DeploymentConfig in OpenShift 3.11, when it already exists, and use `force: yes` and `state: present`. But it works correct with ConfigMap or Secret.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OpenSuse 15
[code]

##### STEPS TO REPRODUCE

`hosts.yml` - inventory fi

[2019-10-11 14:37] sivel commented on #63334
Try switching from `include_role` to `import_role`. You will also need to remove the `public: yes` when making that switch.

[2019-10-11 14:45] tanis2000 commented on #63334
@sivel I've just tried but I get the exact same result :(

[2019-10-11 15:03] weisslj opened #63396 "AWS iam_policy does not compare policies right"
##### SUMMARY
The AWS iam_policy module does not compare policies using [compare_policies](https://docs.ansible.com/ansible/devel/dev_guide/platforms/aws_guidelines.html#compare-policies). This means e.g. if you execute ansible with Python 2, and later with Python 3, Ansible will try to upload a policy again, because both Python versions sort JSON dictionaries differently on my system.

##### ISSU

[2019-10-11 15:09] tsenay opened #63397 "ansible-galaxy won't treat --role-path option"
##### SUMMARY
When installing roles with ansible-galaxy, the --roles-path option is ignored and role installation fails
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 7.6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Role should be installed in specified role directory

##### A

[2019-10-11 15:28] mvdkleijn commented on #63285
Closing this as I worked around the issue by not using the interpreter discovery mechanism.

[2019-10-11 15:28] #63285 closed, assigned to nobody

[2019-10-11 15:37] jochen1234 opened #63400 "How to run task on remote host when sudo is limited to su -"
##### SUMMARY
On my remote host the user install is limited to sudo su -

/etc/sudoers

%install ALL=(ALL)   /bin/su -

--> hosts
[ibmcloud_msbms]
ibmcloud_msbms-01 ansible_port=22 ansible_host=192.168.0.24 ansible_user=install root_path=/root os=redhat ansible_sudo_pass=xxxxx

--> playbook

- name: "iotmsinstallinstall - all MSB runtimes."
  hosts: all
  pre_tasks:
    - include_vars:
        fil

[2019-10-11 15:41] denmanhill commented on #51180
I also have the same problem. Any fix in the works?

[2019-10-11 15:47] sivel commented on #63400
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-10-11 15:47] #63400 closed, assigned to nobody

[2019-10-11 16:07] #63242 closed, assigned to nobody

[2019-10-11 16:15] tony-caffe opened #63401 "Pip3 not set as a fallback"
##### SUMMARY
When running the pip module on Amazon Linux 2 remote server, by default python 2.7 is installed. There is no pip or pip2 installed. I installed pip3 via python3 as well. It seems the pip module should check not only for `pip` but also for its variants as pip3 by default doesnt not replace the old binary of pip even if it doesnt exist.

`executable=/usr/bin/pip-3.7'` or `'executable=/

[2019-10-11 16:46] checkphi opened #63403 "mysql_user priv '*.*:ALL,GRANT' is not idempotent with MySQL 8.0.16-7"
##### SUMMARY
When running the module mysql_user against MySQL 8.0.16-7 to set the root users privileges to '*.*:ALL,GRANT' the change is working but is not idempotent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No configuration changes

##### OS / ENVIRONMENT
* Debian Buster
* Percona MySQL 8.0.16-7

##### STEPS TO REPRODUCE

[2019-10-11 17:13] GomathiselviS opened #63406 "eos_vlans : 'Overridden' state is not adding the new configs"
##### SUMMARY

In eos_vlans, when state = "overridden" , the existing configurations are deleted/defaulted as expected. But it fails to add the new configuration. The playbook still declares "Pass".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_vlans.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2019-10-11 17:30] gator2003 opened #63407 "The elasticache_facts module fails to gather facts in AWS GovCloud"
##### SUMMARY
Using the elasticache_facts module in AWS GovCloud (us-gov-west-1) causes an InvalidARN failure.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

elasticache_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.7 (Maipo)
FIPS enabled
IAM role attached to instance with DescribeCacheClusters and Lis

[2019-10-11 18:01] devildog820 commented on #63407
!component elasticache_facts

[2019-10-11 19:09] andreaso commented on #63364
So, the combination which makes nsupdate fail here is that the record type is TXT and that there is no record value. This is due to https://github.com/ansible/ansible/pull/43386 failing to take that scenario into account.

Feel free to try out https://github.com/ansible/ansible/pull/63408, which ought to fix this bug.

[2019-10-11 19:27] sivel commented on #63401
This functionality exists, but depends on the python you are executing on the target host.

If your `ansible_python_interpreter` is not set, it will likely use `/usr/bin/python` which is Python 2. In which case, we will look for `pip` or `pip2`.

If you set `ansible_python_interpreter=/usr/bin/python3` so that ansible uses Python3 on the target host, they we will explicitly look for `pip3`.

That

[2019-10-11 19:27] #63401 closed, assigned to nobody

[2019-10-11 19:38] sivel commented on #63397
The error is indicating that the role could not be downloaded to the temporary directory.

You can change the location of that option as described at https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-local-tmp

Ansible uses a temporary directory before moving files into place.

If you run with [ANSIBLE_DEBUG](https://docs.ansible.com/ansible/latest/reference_appendic

[2019-10-11 19:38] #63397 closed, assigned to nobody

[2019-10-11 19:56] AlanCoding commented on #59991
I also hit this pretty hard, I was going to file a new issue but this one covers it, so I'll give my writeup here.

Situation: I need to get the sanity tests to run, `ansible-test sanity --test validate-modules` will probably cover it. Because we can't symlink and run the tests, and because of the needed directory structure, I copy files before running the command in a Makefile target. That looks

[2019-10-11 20:02] mattclay commented on #59991
@AlanCoding Source control is not required to use `ansible-test`. However, if git is being used, then only files seen by git will be seen by ansible-test. Copy the files with or without source control to a directory structure outside the current git checkout.

[2019-10-11 20:18] AlanCoding commented on #59991
Let me number these.

### Workaround 1: abs path

I think what you're telling me looks like editing the target this way:

[code]

I ran and confirmed that works

### Workaround 2: do not ignore

I confirmed that if I remove my testing folder from `.gitignore`, that does work:

[code]

### Workaround 3: git init hackery

This is what I have in https://github.com/ansible/ansible/issues/59991#issueco

[2019-10-11 20:38] mattclay commented on #59991
In the first example you should be able to simplify the directory creation to just the following since the `-p` option should create the intermediate directories:

[code]

[2019-10-11 20:40] AlanCoding commented on #59228
Instead of an ignore file, I would prefer to have to whitelist directories or files to be included. Example from after installing `sensu.sensu_go`:

[code]

At least `.git` and various `*.tar.gz` do not get included.

[2019-10-11 20:59] zjpeterson opened #63410 "aci_static_binding_to_epg - Space character in request causing connection failure"
##### SUMMARY
When using `aci_static_binding_to_epg` with `state: query` and only supplying the following parameters:
- interface
- interface_type
- leafs
- pod

The module produces a connection failure: Connection failed for [...] An unknown error occurred: URL can't contain control characters. [...] (found at least ' ')

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aci_static_binding_to_e

[2019-10-11 21:03] jason-451 commented on #62883
Hello,

I had used the import to get a closer look at what was happening, but now that you mention it I do remember hearing something about that before.

I still think this is a bug because I don't get the expected list.

Would you recommend opening another bug report or just consulting the forum first?

New code:
---

- name: "test list build"
  hosts: localhost
  connection: local
  gather_facts

[2019-10-11 21:05] dagwieers commented on #63410
This is fixed, and fixes have been backported but not yet released.

[2019-10-11 21:05] #63410 closed, assigned to nobody

[2019-10-11 21:14] zjpeterson commented on #63410
@dagwieers is there another issue I can reference on this?

[2019-10-11 21:27] dagwieers commented on #63410
I don't think so, but you can search the closed pull requests:
https://github.com/ansible/ansible/pulls?q=is:pr+is:closed+label:aci

[2019-10-11 22:33] zjpeterson commented on #63410
Found what I was looking for: https://github.com/ansible/ansible/pull/62836
Thanks!

[2019-10-11 22:38] goneri commented on #60199
!component =lib/ansible/modules/cloud/vmware/vmware_guest_info.py

[2019-10-11 23:44] tobiasmcnulty commented on #56930
It seems to me like this change may have the opposite of its intended effect (to decrease support queries):

Now there is no delimiter supported both by hostnames (which should be DNS resolvable, i.e., not contain underscores) and group names (which should not contain dashes).

[2019-10-11 23:52] cesarjorgemartinez commented on #56930
Definitely should be free to name any hosts

El mié., 14 ago. 2019 16:16, Christian Pointner <notifications@github.com>
escribió:

[2019-10-11 23:57] joneseybones opened #63412 "Pull #47290 does not seem to have resolved ios priviledge 0 bug"
##### SUMMARY

Still receiving "unable to set terminal parameter for Cisco IOS devices with priviledge 0 user and become: yes configured

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mix of Cisco IOS devices

##### STEPS TO REPRODUCE

Any ios-related modules are failing due to broken pri

[2019-10-12 02:01] Fred-sun commented on #55350
@MyronFanQiu The relate PR #56095 has been closed, Will you continue to submit PR to fix this problem? Thank you very much!

[2019-10-12 02:48] Akasurde commented on #63364
@SitWatchCloudRise Could you please check PR #63408 and let me and @andreaso know so that we can merge this ? Thanks

needs_info

[2019-10-12 05:30] Fred-sun commented on #56356
@zikalino Would you please submit a PR to fix this issue? Thank you very much!

[2019-10-12 05:32] Fred-sun commented on #62901
kindly ping

[2019-10-12 05:33] Fred-sun commented on #62424
kindly ping

[2019-10-12 05:45] Fred-sun commented on #61541
@Rajinikamu84 Can you try the latest version code? Thanks a lot!

[2019-10-12 05:48] Fred-sun commented on #60284
@mybayern1974 Please confirm the parameter description of azure_rm_webapp's dns_registration. Thank you very much!

[2019-10-12 05:51] Fred-sun commented on #60066
@Rajinikamu84 Do you have any other questions? Maybe we can close the problem? Thank you very much!

[2019-10-12 05:54] Fred-sun commented on #45330
ping to closed

[2019-10-12 06:03] frsh-augustin commented on #62901
Thank you for replying. let me have a verify and get back to you.

[2019-10-12 11:34] SitWatchCloudRise commented on #63364
Hello @Akasurde @andreaso, I have applied the patch. But seems nothing change.
Following are the commands I was running. Please let me know if it is not right:
[code]

[2019-10-12 11:56] willthames commented on #63391
There is a similar problem with `Service` as well. It's not an ansible thing, using `kubectl replace` would have the same issue.

If you can use 2.9, or even just the `k8s_raw` module_util from the devel branch, you can use `apply: yes` rather than `force: yes` (I recommend rerunning in the existing config with `apply: yes` and then running in the new config)

[2019-10-12 11:56] #63391 closed, assigned to nobody

[2019-10-12 13:11] eldargab opened #63417 "unique filter does not respect order"
##### SUMMARY

`unique` filter does not respect the order and gives non-idempotent results

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/filter/mathstuff.py

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

I have the following statement in my template

[code]

which basically extracts unique host names from some url list and declares upstream server for each.

#

[2019-10-12 13:23] eldargab commented on #63417
!component=lib/ansible/plugins/filter/mathstuff.py

[2019-10-12 14:49] felixfontein commented on #63353
@pgelinas I've created a PR for this (#63418). Can you check whether it helps?

[2019-10-12 15:22] felixfontein commented on #62327
See #63419 for an idea how to solve this mess with minimized impact on user.

resolved_by_pr #63419

[2019-10-12 17:14] felixfontein commented on #62227
RFC 2986 (PKCS #10: Certification Request Syntax Specification Version 1.7) defines only version 1 in the format itself (`0x0`); see https://tools.ietf.org/html/rfc2986#section-4.1. RFC 5967 (https://tools.ietf.org/html/rfc5967) is an update of RFC 2986, but it doesn't change the format at all. I'm not aware of any other RFC for CSRs.

Should we deprecate the option and remove it in Ansible 2.14?

[2019-10-12 21:32] MarkusTeufelberger commented on #62227
I'd deprecate it asap, it only might confuse people in its current state.

[2019-10-12 23:12] yangm97 opened #63425 "ssh ControlPath is set improperly when .ansible path contains spaces"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.3 LTS
Release:	18.04
Codename:	bionic

##### STEPS TO REPRODUCE

`ansible-playbook deploy.yml`

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

shell gobbling

[code]

[2019-10-12 23:14] melezhik commented on #55350
@Fred-sun

yes

[2019-10-12 23:25] danielhoherd opened #63426 "Enable 'wait' feature of pyhelm tiller"
##### SUMMARY

Helm module should support the `wait` flag from [pyhelm.tiller](https://github.com/flaper87/pyhelm/blob/master/pyhelm/tiller.py#L140).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
helm

##### ADDITIONAL INFORMATION

It's sometimes necessary to wait for successful component installs when batching through several cluster components using Ansible. EG: install a FOO db operato

[2019-10-13 02:33] basictheprogram commented on #63354
Stupid simple debugging, just want to see what command ansible is running for Ubuntu 14.04
[code]
[code]
And `/usr/bin/hostnamectl uart2` is not a valid hostnamectl command.

My U14.04 system has hostname installed
[code]
But it also has systemd-services installed
[code]
Not really sure how to debug modules yet but I think the code in `hostname.py:156` is where hostnamectl is preferred to hostname

[2019-10-13 04:14] nrig837 opened #63428 "azure_rm_networkinterface updating security group requires overwriting ip config"
##### SUMMARY
When trying to update the network security group associated with a NIC, the azure_rm_networkinterface module forces you to overwrite the "ip configurations" setting. So, you can't simply update the security group in isolation, there's a side effect.

This forces you to first do a READ operation with the azure_rm_networkinterface_facts module, get the current ip config, and then pass

[2019-10-13 06:48] Belabacsi commented on #45276
Hello Dominic!

Thank You for the quick feedback. Unfortunately it seems my situation is a little but different, because the symptom is the same also in case of running task without loop. I'm trying to import OVA files with 450 and 580 MB in size, so they are far from gigabytes and the symptom is the same... The first one works, the second one fails.
I have also checked if there are enough resourc

[2019-10-13 10:16] andreaso commented on #63364
@SitWatchCloudRise: I guess the commands that you are running **could** work, depending on how you run Ansible, and the current working directory when you try applying the patch.

Based on your initial post it looks like you have installed Ansible using pip? If so, `git apply` will likely not help you.

The cleanest and safest way to try out code change is running Ansible directly as source from a

[2019-10-13 12:16] #63353 closed, assigned to nobody

[2019-10-13 12:32] felixfontein commented on #62227
While implementing the deprecation, I got another idea: how about just deprecating every value except 1? I.e. adding `choices: [1]` in 2.14, and until that issue a deprecation warning for values != 1? (And having a warning in the cryptography backend which says that other versions are ignored.)

[2019-10-13 16:25] felixfontein commented on #53789
I started creating a WIP PR for a `x509_crl` module in #63435, which allows creation / updating of CRLs. Once that's done, adding a corresponding `_info` module (for returning information on a CRL) is trivial. Please take a look whether this is what you are looking for.

[2019-10-13 20:00] dapiced commented on #45276
Hi,  interesting blog, in my case sometimes it fail when i import a OVA to a Vcenter with the  "vmware_deploy_ovf" module  and i got a write timeout error.  Indeed, the "vmware_deploy_ovf" module seem unstable. I don't think it is on the vmware side the issue... Maybe we will need to check the ansible tower log  to see what going on..... just hope the next ansible release will fix this issue.  let

[2019-10-13 22:53] felixfontein commented on #33715
I'd like to bring this up again. I think doing the rename eventually is a good idea, and maybe it is better to do that sooner than later (before modules are moved into collections).

Renaming modules has the following consequences:
 1. The old name can still be used for four Ansible versions (standard deprecation cycle), but users will get a warning informing them that the module was renamed and t

[2019-10-14 02:07] Fred-sun commented on #62901
@frsh-augustin Any update for this?

[2019-10-14 03:13] Fred-sun commented on #63428
@nrig837 Thanks for you open this issue. I tried to update the network security group of the VM network card, and the update succeeded without any other errors. Can you try again, or provide your full playbook? I will try again. Thank you very much!
My playbook as below:
[code]

[2019-10-14 03:45] Tomorrow9 commented on #62816
Hi @pgbidkar, I will fix this issue after some testing on it. It only occur when there is something wrong during guest OS customization and no "success" event from vCenter when "wait_for_customization" is set. Thanks.

[2019-10-14 04:53] Akasurde commented on #63354
Thanks for the information. I am not sure why Ubuntu is not detecting "SystemdStrategy" in your case.

You can debug further as -

[code]

[2019-10-14 04:58] Akasurde commented on #63425
Duplicate of https://github.com/ansible/ansible/issues/59206

[2019-10-14 04:58] #63425 closed, assigned to nobody

[2019-10-14 04:59] Akasurde commented on #59206
@yangm97 Could you please check if PR #59207 works for you and let us know ? Thanks.

[2019-10-14 05:40] Fred-sun commented on #62711
@Tomelin In general, we should operate on the same resource group under the same subscription and not access resources across subscriptions. Thank you very much!

[2019-10-14 05:54] Fred-sun commented on #62395
@mybayern1974 Would you please take a look this issue when you're free! Thank you very much!

[2019-10-14 06:01] Akasurde commented on #58688
I agree with @bcoca.

needs_info

[2019-10-14 06:21] Fred-sun commented on #62307
@mybayern1974 Would you please help take a look this issue when you're free! Thank you very much!

[2019-10-14 06:30] Fred-sun commented on #62140
@mybayern1974 New feature request, please take a look when you're free! Thank you very much!

[2019-10-14 07:10] Fred-sun commented on #62130
@mybayern1974 New feature request. Please take a look when you're free! Thank you very much!

[2019-10-14 07:33] tanis2000 opened #63443 "vars and defaults defined in tasks included with include_role or import_role cannot be used with the environment directive"
##### SUMMARY

I need to switch from the usual `roles:` construct to a list of `include_role` and for some reason the vars/defaults of the included roles cannot be used as input in the environment directive of the playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Roles

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS / Linux

##### STEPS TO R

[2019-10-14 07:36] tanis2000 commented on #63334
I'm closing this as I've opened a new issue that has a link to a repo with the reproduction of the real problem. The new issue is there: https://github.com/ansible/ansible/issues/63443

[2019-10-14 07:36] #63334 closed, assigned to nobody

[2019-10-14 07:46] Fred-sun commented on #61984
@neleshgoel @rwaal What's your ansible version? Could you can update your ansible to latest to retry? Thank you very much!

[2019-10-14 08:04] zhangguanzhang opened #63444 "variable include"
[code]
how could I get this
[code]

[2019-10-14 08:21] Belabacsi commented on #45276
Hello Dominic!

The below workaround works perfectly :-) Please note that, while the vmware_deploy_ovf module is idempotent, the ovftool method is not. This means, You can only deploy the VM(s) if they do not exist in vCenter. Running the playbook again, vCenter will drop an error complaining about that, the VM(s) already exist. We need to define another task to check if vCenter already has the VM

[2019-10-14 08:25] lixuemin2016 opened #63445 "Feature Request to add Hyper-V module under ansible/lib/ansible/modules/cloud/"
##### SUMMARY

New feature:
Add Ansible module for Hyper-V under cloud modules, notice that there are Azure module there, but not Hyper-V

We are using Ansible to do VM automation testing on Hyper-V, but no Hyper-V module there, if can provided this module, it is very convenient for Hyper-V users to control vm, similar with vmware module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

mod

[2019-10-14 08:28] onitake commented on #27081
Possible duplicate of #16130

[2019-10-14 08:28] hudeli opened #63446 "find a bug from module_common.py"
##### SUMMARY
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
may be any COMPONENT

##### ANSIBLE VERSION
ansible2.8.0

##### CONFIGURATION

##### OS / ENVIRONMENT
centos7.4

##### STEPS TO REPRODUCE
happened anywhere

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2019-10-14 08:35] wkoot opened #63447 "gitlab_user does not set sshkey when user is new or changed"
##### SUMMARY
The gitlab_user module does not set sshkey when the user is newly created or has been changed already. This is due to the `changed = changed or ...` construct on line 237 in branch devel.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/modules/source_control/gitlab_user.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STE

[2019-10-14 08:41] Akasurde commented on #63446
@hudeli Could you please paste playbooks used, environment to reproduce this error ? It will help to investigate the problem more ?

Thanks.

needs_info

[2019-10-14 08:50] wkoot opened #63448 "gitlab_ modules do not accept arg api_url"
##### SUMMARY
The `api_url` arg is not accepted since `server_url` is required (although deprecated), while `api_url` and `server_url` are `mutually_exclusive`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
This should work as expected. Now you c

[2019-10-14 08:53] Fred-sun commented on #61852
@goneri I executed azure_rm_iothub/tasks/main.yml successfully on the latest ansible 2.10.0.dev0. Can you try again on 2.10.0.dev0? Thank you very much!
[code]

[2019-10-14 09:02] richlv opened #63449 "zabbix_host: cannot update host with port set to usermacro"
##### SUMMARY
If a host has port set to a usermacro, the host is created successfully. On the next run, the update fails with `ValueError: invalid literal for int() with base 10: {$MACRO}`.

Tested with the latest `zabbix_host` from git.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION
latest

##### CONFIGURATION
Not relevant.

##### OS / ENVIRONMENT
Not rele

[2019-10-14 09:35] Lunik commented on #63448
Should be fixed by #60425

[2019-10-14 09:41] wkoot commented on #63448
Looks good. I see that it's not yet in 2.9 but mentioned to be backported. Any idea on the timeline?

[2019-10-14 09:41] bendem commented on #26091
Come upon this today, I have a small script we have been using for quite a while, it might help others: https://paste.gg/p/bendem/e1dbf689fa7f497b877878346c1b3213

[2019-10-14 09:49] bendem commented on #17346
I'd recommend using something like [gopass](https://github.com/gopasspw/gopass) which does this already and writing a small [password-client](https://docs.ansible.com/ansible/latest/user_guide/vault.html#vault-password-client-scripts) that redirects the password request to it.
Let the development effort on ansible be free of cryptographic challenges. One tool per job, simpler tools, more options.

[2019-10-14 10:14] mminnen commented on #61193
Bug confirmed. I run into the same issue when using fmgr_fwobj_address and FMGR in Workspace mode:

...<snip>...
    "ansible_module_results": {
        "status": {
            "code": -10147,
            "message": "no write permission"
        },
        "url": "/pm/config/adom/root/obj/firewall/address"
    },
    "changed": false,
    "invocation": {
        "module_args": {
            "adom"

[2019-10-14 10:22] mminnen opened #63451 "fmgr_fwobj_address behaviour not according to documentation"
##### SUMMARY
Documentation incorrect.

The documentation on: https://docs.ansible.com/ansible/latest/modules/fmgr_fwobj_address_module.html#fmgr-fwobj-address-module states that for parameter ipv4addr, if If Netmask is omitted after IP address, /32 is assumed.

This is not True as this will result in a list out of range error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fmgr_fwobj_addres

[2019-10-14 10:24] lsambolino opened #63452 "Ansible stuck after connecting to managed node in SSH"
##### SUMMARY

Ansible ping module between two CentOS machines in a VMware Workstation Environment .

Networking seems ok (I am able to ping between the VMs, SSHing from host to both VMs and between VMs  is successful. Then, when I use the ping module between the VMs it hangs forever.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ping

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[co

[2019-10-14 11:10] Akasurde commented on #63444
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2019-10-14 11:10] #63444 closed, assigned to nobody

[2019-10-14 11:31] hudeli commented on #63446
- name: step 3 --> sftp download script
  get_file: server={{base_download_ip}} port={{base_download_port}} username={{base_download_username}} password={{base_download_password}} file_path={{item}} lcd_path={{qmdb_sql_exec_dir}}
  when: base_download_protocol=="SFTP"
  with_items: "{{qmdb_sql_file_path_arr}}"

[2019-10-14 11:32] hudeli commented on #63446
may be happend :
TASK: [TASK: Gathering Facts] *************************************************
2019-10-12 15:40:36 Failed: [172.16.17.154]==>Exception: Traceback (most recent call last):
File "/opt/server_rest280/server_rest/ansible/executor/task_executor.py", line 144, in run
res = self._execute()
File "/opt/server_rest280/server_rest/ansible/executor/task_executor.py", line 648, in _execute
re

[2019-10-14 11:46] richlv opened #63455 "zabbix_action: do not require esc_period for state: absent"
##### SUMMARY
`esc_period` is mandatory even with `state: absent` - should be optional in that case.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
latest

##### CONFIGURATION
Not relevant.

##### OS / ENVIRONMENT
Not relevant.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Action, if exists, is removed.

##### ACTUAL RESULTS
[code]

[2019-10-14 12:46] Lunik commented on #63448
It will be merged in 2.9 ASAP and merged right after that

[2019-10-14 13:35] D3DeFi commented on #63449
Hey @richlv ! Thanks for reporting this and other issues. I haven't had much time to do any work on zabbix modules these past weeks, but I will try to address them in the near future.

If there is someone that would like to open a PR I wouldn't object a bit :)

This bug seems to be, as traceback says, in [check_interface_properties method](https://github.com/ansible/ansible/blob/devel/lib/ansible/

[2019-10-14 14:07] sivel commented on #63417
Both the `unique` filter in Ansible, and the `unique` filter provided in jinja2 use Python `set` to create the unique set. Python sets are unordered.  If you want to assert an order after using `unique` you will need to use the `sort` filter, but using `unique` cannot maintain sort order.

Since we prefer the jinja2 `unique` filter, we cannot assert that you can rely on original order even if we w

[2019-10-14 14:12] samdoran commented on #46362
I agree with @felixfontein on the design goals of `podman_container`. We need separate functions for comparing each aspect of the state of a running container to the state specified in the playbook. The module would then build the appropriate command to run in a much more targeted manner rather than just appending args based on module parameters.

We will also have to account for differences in Po

[2019-10-14 14:14] samdoran commented on #62927
If you can provide a simple (as possible) reproducer, we'd be glad to look into it. We have extensive integration tests for include/import_*, so if we have a gap in test coverage I'd be happy to add that as well.

needs_info

[2019-10-14 14:15] samdoran commented on #62343
@vfuyong Thank for the detailed logs. That helps a lot. I can see the problem. The fix isn't clear, but I have enough to investigate further.

[2019-10-14 14:18] #61576 closed, assigned to nobody

[2019-10-14 14:18] #61662 closed, assigned to nobody

[2019-10-14 14:23] m-bucher opened #63459 "_ansible_parsed no longer in foreman callback reports"
##### SUMMARY

foreman callback plugin no longer adds `_ansible_parsed`-parameter, which breaks detection of ansible-reports in https://github.com/theforeman/foreman_ansible

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

foreman callback plugin

##### ANSIBLE VERSION

[code]
It was working with Ansible `2.7.10`

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
F

[2019-10-14 14:31] eldargab commented on #63417
That's not what jinja2 docs say - https://jinja.palletsprojects.com/en/2.10.x/templates/#unique

So you have to maintain the original order and specify that as an explicit contract.

Beside that decision to drop the original order is horribly wrong for many reasons.

[2019-10-14 14:36] sivel commented on #63417
I'll re-open for further research.

[2019-10-14 14:48] Qalthos commented on #63255
Does #63463 do anything for this?

[2019-10-14 15:44] SiliconMind commented on #56326
The same issue is in Ansible 2.8. The problem is only with updating roles. Creating and getting works fine. I tested this also with 2.9-rc3 and the issue persists.

[2019-10-14 15:57] ElSamhaa commented on #63161
I found the root cause. The problem turned out to be related to the underlying **openssh multiplexing mechanism**.
The default behavior of Ansible is to reserve connectivity to remote hosts, using **hashed socket names**.  Those names are the hash of a combination of `host`, `port`, `username` and `pid` (didn't really understand the effect of the **pid** part, as the socket name appeared the same

[2019-10-14 16:05] tapologo opened #63466 "Error when running inventory file"
##### SUMMARY

I am trying to deploy solutions to 2 servers using ansible inventory file but I keep getting below message. I'm deploying the application on **SERVER-1** and mysql DB on **SERVER-2**.

[code]
My inventory file has the following connection strings

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

####

[2019-10-14 16:21] #63127 closed, assigned to nobody

[2019-10-14 16:39] anusha94 commented on #63322
@pgbidkar @Akasurde
Will work on this

[2019-10-14 16:52] Akasurde commented on #63322
@anusha94 I am not able to reproduce this issue. Please go ahead and paste your findings here. Thanks.

[2019-10-14 17:10] mariolenz commented on #63374
!component -lib/ansible/modules/cloud/vmware/vmware_host_ntp.py
!component +lib/ansible/modules/cloud/vmware/vmware_dns_config.py

[2019-10-14 17:18] basictheprogram commented on #63354
hostname.py:124 has a  call to ServiceMgrFactCollector.is_systemd_managed(module)
[code]
module_utils/facts/system/service_mgr.py(46) is_systemd_managed() does not find systemctl on my U14 system because systemctl is not installed.
[code]
[code]
And /bin/systemctl is in the systemd package and I do not have systemd package installed.
[code]
/usr/bin/hostnamectl is in the systemd-services for U14.0

[2019-10-14 17:21] mariolenz commented on #63374
What ansible version are you talking about? I had a quick look at #60650 and it looks like this implements what you want for the upcoming version 2.9. Did you test this version?

[2019-10-14 18:17] s-hertel commented on #63407
!component =lib/ansible/modules/cloud/amazon/elasticache_info.py

[2019-10-14 18:40] sivel commented on #63466
!component =lib/ansible/modules/database/mysql/mysql_user.py

[2019-10-14 18:41] sivel commented on #63466
This issue doesn't have anything to do with your inventory. The `mysql_user` module is failing.  It's an exception, so that is a bug, but you need to provide more information using the template as indicated above.

This issue will auto close if you do not fill out the template.

[2019-10-14 19:28] sivel commented on #63443
The problem here is the use of `include_tasks`.  There is a distinction between how `include` and `import` work.  `import` is a pre-processor that traverses the imports statically at playbook parsing time and merges those tasks into the play.

`include` is just in time evaluated at task execution time.  So when trying to evaluate `environment` before `include_tasks` is run, means that the roles wi

[2019-10-14 19:28] #63443 closed, assigned to nobody

[2019-10-14 19:44] #62510 closed, assigned to nobody

[2019-10-14 19:46] acozine commented on #61459
Note to self and others: the tool we used to maxify the CSS for easier editing was https://github.com/mrcoles/cssunminifier.

[2019-10-14 19:58] #59976 closed, assigned to nobody

[2019-10-14 20:00] Shaps commented on #33715
@felixfontein yep, I agree that we should start renaming those modules soon-ish.
I don't see too much of an issue with it.

[2019-10-14 20:15] apevec opened #63481 "Published SRPM rebuild fails, macros missing"
##### SUMMARY
Published SRPM rebuild fails, macros missing:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
packaging/rpm/

##### ANSIBLE VERSION
ALL

##### CONFIGURATION
not relevant

##### OS / ENVIRONMENT
RHEL family

##### STEPS TO REPRODUCE
see SUMMARY

##### EXPECTED RESULTS
This is a workaround! TODO send PR for packaging/rpm/

[code]

##### ACTUAL RESULTS
see SUMMARY

[2019-10-14 20:17] ctrufan commented on #33715
@felixfontein

For my two cents, I agree with the idea of doing the rename. When I've been discussing the addition I made of a provider to openssl_certificate, more than once I've found myself jumping through verbal hoops to explain that the Ansible module isn't using OpenSSL command line to perform operations, because it isn't always intuitive to someone familiar with OpenSSL or Ansible but not f

[2019-10-14 20:24] ThreeFx opened #63483 "Passing through variables to dependent roles behaves unexpectedly"
##### SUMMARY

When passing a role variable to a dependency via `meta/main.yml` multiple times in a block the variable in the dependency is not set correctly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

roles / variable handling

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* OS: Arch Linux

The rest shouldn't matter.

##### STEPS TO REPRODUCE

[cod

[2019-10-14 20:26] lu-fennell opened #63484 "Contradictory hints in "copy" and "template" for in-line templating"
##### SUMMARY

ansible-doc template says: "You can use the [copy] module with the `content:' option if you prefer the template inline, as part of the playbook.

This suggests to use the copy module to write a template specified inline to the host

But ansible-doc copy says: "If you need variable interpolation in copied files, use the [template] module. Using a variable in the `content' field will

[2019-10-14 20:31] felixfontein commented on #33715
@Shaps @ctrufan thanks for your opinions! :)

@MarkusTeufelberger @Spredzy what do you think?

[2019-10-14 20:55] MarkusTeufelberger commented on #33715
Same opinion as 2 years ago: I'm fine with renaming them - and especially since pyopenssl is going to be finally phased out of these modules, I think `x509_` is a perfectly good prefix to have.

[2019-10-14 21:11] ThreeFx commented on #63483
The same thing happens when using
[import_role](https://github.com/ansible/ansible/files/3726435/import_role.zip) or
[include_role](https://github.com/ansible/ansible/files/3726436/include_role.zip) instead of meta dependencies, which leads me to conclude that this is a bug.

[2019-10-14 21:27] sshnaidm commented on #46362
The module that is located currently in tripleo-ansible package is different from that was merged and reverted here. I'd suggest to check its code to see what we discuss here at all: [podman_container.py](https://opendev.org/openstack/tripleo-ansible/src/branch/master/tripleo_ansible/ansible_plugins/modules/podman_container.py)
@felixfontein I think all this is reasonable and partially already sol

[2019-10-14 22:37] JonTheNiceGuy commented on #62861
Hi @Fred-sun, thanks for the question - apologies for the delay - I was at a conference!

The parameter is required if you're creating an AZ bound VM, and want to assign an AZ bound Public IP to it. It's available to Terraform and ARM templates directly.

The parameter is listed here: https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2019-04-01/publicipaddresses#property-values

[2019-10-14 23:17] basictheprogram commented on #63354
I'm looking at your [debuggng](https://github.com/ansible/ansible/issues/63354#issuecomment-540972693) and I am wondering where you are getting your trusty image? I can duplicate the problem with the stock(?) ubuntu/trusty64 image. Here is my relevant Vagrantfile:
[code]
[code]
[code]
[code]
The base Trusty image I use does not have systemd installed but has hosthnamectl installed and I do not thi

[2019-10-14 23:28] SitWatchCloudRise commented on #63364
It works! I follow the procedure to install the latest ansible, then apply the patch.
Thanks @andreaso for your help

[2019-10-15 01:02] vanbasten2323 opened #63488 "azure_rm_galleryimageversion_module should be able to take data disk snapshots as input."
##### SUMMARY

azure_rm_galleryimageversion_module should be able to take data disk snapshots as input.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_galleryimageversion_module

##### ADDITIONAL INFORMATION

Starting from SIG api version 2019-07-01, we support creating image version from snapshots, which contains 1 os disk snapshot and 0 to many data disk snapshots. By having th

[2019-10-15 02:10] Fred-sun commented on #62861
@JonTheNiceGuy Thanks for your reply, I see, Maybe we need add this feature into ansible! Thank you very much!

[2019-10-15 02:17] #62516 closed, assigned to nobody

[2019-10-15 02:24] oatakan commented on #47821
This is no longer an issue. It seems to be resolved for me at least using Ansible 2.8.6 for me.

[2019-10-15 02:36] AlanCoding commented on #58709
-label tower

[2019-10-15 02:49] AlanCoding commented on #29149
The PR #42029 says it was merged, but the history has gone missing, and I think this might be a but that it reports as missing. I do not see this implemented. So this remains on the agenda, unless I'm terribly mistaken about something.

[2019-10-15 03:27] sambanks opened #63489 "lambda_facts max_items unsupported"
##### SUMMARY
By default the lambda_facts module only gives 50 results.
In the example there is a max_items option, but when I try and use that I get an error about max_items being an unsupported parameter

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lambda_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults
[code]

##### OS / ENVIRONMENT
Debian 9.5
Amazon EC2 spot instance
A

[2019-10-15 03:40] magiconair opened #63490 "Append user to group fails with FileNotFoundError"
##### SUMMARY
Append user to group fails with `FileNotFoundError`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
`pipelining = False` gives the same error.

##### OS / ENVIRONMENT
* Source OS: Ubuntu 18.04 (installed from http://ppa.launchpad.net/ansible/ansible/ubuntu)
* Target OS: Alpine Linux 3.10.2
* Target Python: Python 3.

[2019-10-15 05:10] arpit9508 opened #63491 "Canary deployement in ec2_asg not working with replace_instances=<instance ids to replace with new LC>"
##### SUMMARY

Hi team, we were trying canary deployment (partial deployment i.e. only on 1 server out of 4 in ASG) in AWS ASG. We used ec2_asg task with `replace_instances` set to instances ids to replace. with new AMI. But we are not getting the desired behaviour. Somehow all the instance are getting replaced in our ASG.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_asg
##### ANSIBLE

[2019-10-15 05:14] Jahsis commented on #45774
Hi @m4dm4rtig4n,
Are you working on PR for this issue? Feature like this could be usefull.

[2019-10-15 05:47] Jahsis commented on #45774
To be honest, another way to solve such issue could be:

<code>
"{{ lookup('hashi_vault', 'secret=secret/hello:password token=c975b780-d1be-8016-866b-01d0f9b688a5 url=http://myvault:8200', errors='warn') | default('nopassword', true)}}"
</code>

Which already works on ansible 2.8.1 without any code changes.

[2019-10-15 06:19] tapologo commented on #63466
I have updated the issue using the the suggested template. I hope it helps

[2019-10-15 06:35] felixfontein commented on #46362
@sshnaidm I did look at its current state, it still had a big TODO where the idempotency code should be.

Your WIP patch will work, but also doesn't scale very well. Think about how you would add `--diff` support, or something like `comparisons:` from docker_container. With the current design, you have to either add *a lot* of methods (for `--diff`) or rewrite huge chunks (for `comparisons:`).

An

[2019-10-15 06:39] Andersson007 commented on #63466
-label: database
-label: mysql

[2019-10-15 07:02] Fred-sun commented on #63488
@vanbasten2323 Thank you for reporting this problem. Do you mean that we need to increase the info returned by azure_rm_galleryimageverison_ifno module?
Right?
[code]

[2019-10-15 07:09] IshwarKanse commented on #62377
Following is the link to this issue raised on Infoblox's community forum as it was requested by their support team https://community.infoblox.com/t5/Network-Change-Configuration/Issues-with-Ansible-nios-txt-record-Infoblox-module/m-p/18688#M2881 I've also asked the customer to open a case with them.

[2019-10-15 07:23] andreaso commented on #63364
@SitWatchCloudRise: Thank you both for reporting the bug and for trying out the patch!

[2019-10-15 07:26] anusha94 commented on #63322
@Akasurde ,
I tried a bunch of powered off and shutdown combinations, but unable to reproduce this issue either.
What seems odd to me is, in the logs posted, the `requestedState` is `poweredOn`
Any thoughts on this?

[2019-10-15 07:38] Andersson007 commented on #63466
@tapologo , could you please, first of all, try to run in with ansible 2.8. Your version is not supported

[2019-10-15 07:44] Andersson007 commented on #63466
@sivel ,the error occurs here
[code]
anyway @tapologo , first of all, update the version to supported

[2019-10-15 07:52] felixfontein commented on #63466
To me it looks like (as @Andersson007 pointed out) a problem with Ansible being able to run the module, before the module code has a chance to do something. Ansible 2.4 is no longer supported ([see here](https://docs.ansible.com/ansible/devel/reference_appendices/release_and_maintenance.html#release-status)), so please switch to 2.8 (which still receives bugfixes).

Also, the issue does not contai

[2019-10-15 07:53] CaptAintHere commented on #60349
I'm facing the same issue as well... Autoremove works with dnf but with yum it does nothing.
Environment (AWX 7.0.0) :
- ansible 2.8.4
- python 2.7.5

[2019-10-15 07:55] k3x commented on #63374
# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.7 (Maipo)

# python --version
Python 2.7.5

# ansible --version
ansible 2.8.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/sha                                                                       re/ansible/plugins/modules']
  ansible python module location

[2019-10-15 07:56] tapologo commented on #63466
@Andersson007 I have upgraded to latest version

[code]
But now I'm getting this error when I ping

[code]
I have the following entried in the /etc/ansible/hosts and in the inventory file
[code]

[2019-10-15 07:56] Fred-sun commented on #58729
@mybayern1974 Would you please help take a look this issue? Thank you very much!

[2019-10-15 07:58] sugitk opened #63495 "yum module can also run Python 3 `This module only works on Python 2. `"
##### SUMMARY

At `Synopsis` on `yum` module, it describes `This module only works on Python 2. ` but this module can work even on RHEL 8

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

yum module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-10-15 08:08] kimausloos opened #63496 "include_role with vars aren't jinja parsed"
##### SUMMARY
I'm trying to dynamically include roles and passing variables to it. The variables contain jinja syntax, but it seems this is not executed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OSX 10.14.6

##### STEPS TO REPRODUCE

I've created a gist containing the reproducible co

[2019-10-15 08:17] Andersson007 commented on #63466
[code]
@tapologo check that the following users/files exist and/or have right permissions
/SSH-USER-1/.ssh/id_rsa
/SSH-USER-2/.ssh/id_rsa

[2019-10-15 08:26] k3x commented on #63374
But even without checking 2.9:

- https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_dns_config.py does not contain the changes from #60650
- #60650 was closed, not merged
- #60688 was merged, but does not change vmware_dns_config.py.

[2019-10-15 08:47] Noksa commented on #14270
Any updates?

[2019-10-15 08:47] anusha94 commented on #58147
@pomu0326
According to me, the behavior is correct.
`check_mode` will report changes that would have been made. So when the VM is already present, the `desired_operation` would be `reconfigure_vm` which ideally changes some parameter, therefore `changed` variable is `true`
When you execute without `--check`, since your playbook is not doing any changes as such, `changed` is `false`

[2019-10-15 08:49] felixfontein commented on #33715
Ok, I'll work on that. But first #60388 and #63432 should get merged to avoid conflicts :)

[2019-10-15 08:51] Lunik commented on #63448
resolved_by_pr #60425

[2019-10-15 08:55] pgbidkar commented on #58147
+label needs_info

[2019-10-15 08:58] #63448 closed, assigned to nobody

[2019-10-15 09:18] pgbidkar commented on #62810
Hi @timmcross , Fix you pointed out is correct. is there a reason '-' (Dash) is mandatory in your servernames? You are looking to support other special characters as well in server name? Because string.punctuation removes all these chars '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'.

Also please can you share the playbook to reproduce the issue?

Thanks

[2019-10-15 09:34] rolling1000ton opened #63502 "ovirt_vm_facts no bootable fact if false"
##### SUMMARY
When gathering facts on an oVirt VM the bootable variable in the disk attachment is only filled out when the flag is true, if false the variable stays empty and will be non existing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/ovirt/ovirt_vm_info.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible Host: Ub

[2019-10-15 09:46] the02 commented on #63319
@Andersson007 will take a look at it tonight how it performs on large databases.

[2019-10-15 09:54] Andersson007 commented on #63319
@the02 thank you! Would be really good

[2019-10-15 10:46] abhiTamrakar commented on #59002
+1 for this issue, iptables module should be able to wait for sensible amount of time.
Great to have some configurable time to wait with `-w -W<N>`

[2019-10-15 11:27] msieurtoph opened #63506 "In complement of serial, be able to set how many hosts of a group can be treated at the same time."
##### SUMMARY
Be able to set a serial per group, to limit the play run on no more than N hosts of groupA at a time, no more than M hosts of groupB, ...

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
!component

Inventory could look like this :

[code]

##### ADDITIONAL INFORMATION

My play would look like this :

[code]
I would expect the play executes all iterations like this :

First loo

[2019-10-15 11:41] msieurtoph commented on #63506
Maybe, it could be easier and more scalable to have another dict property like this  :

[code]

This way, each play could have its own "configuration" depending on what it really does ...
Some could use all the hosts together and others could limit tasks to X hosts per group at the same time.

... and I guess it will be more easier to implement for the ansible team.

[2019-10-15 11:46] gforster opened #63507 "vmware_guest has UptCompatibilityEnabled set to true by default with no option to change"
##### SUMMARY

The vmware_guest module UptCompatibilityEnabled set to true by default with no option to change. This is the "checkbox" in vSphere for "DirectPath I/O." It should have an option to change this value as part of the networks parameter in the vmware_guest module.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-10-15 12:32] gadamiak commented on #44338
Is there any chance to have it implemented?

[2019-10-15 13:24] joeltoaspern opened #63509 "na_ontap_net_subnet failes when no ip-range is set"
##### SUMMARY

When creating a subnet without ip_ranges and running the task again without changes, it will fail.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

na_ontap_net_subnet
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ONTAP: 9.6
netapp-lib: 2018.11.13
##### STEPS TO REPRODUCE

- Prepare any ONTAP 9.6 Cluster
- Create a subnet with ansible or by

[2019-10-15 13:41] BachenbergS opened #63510 "template module writes booleans with capital letters, if the file looks like yaml."
##### SUMMARY
The template module writes booleans with capital letters, if the file looks like yaml.

I need to template a mongodb.conf file ( https://docs.mongodb.com/manual/reference/configuration-options/#file-format ). MongoDB likes his booleans without capital letters, but the template module produces always booleans with capital letters.

I have tryed all kinds of Jinja filters, but nothing

[2019-10-15 13:49] hulkk opened #63511 "uri module does not url encode url parameter"
##### SUMMARY
URI module does not url encode url parameter

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS High Sierra 10.13.6

##### STEPS TO REPRODUCE

Make a playbook using uri module where url parameter contains either string or variable which requires url encoding.

[code]

I found a workaround

[2019-10-15 14:44] kqr opened #63512 "ansible-vault encrypt --vault-password-file fails under Python 3 (tuple object has no attribute append)"
##### SUMMARY

Trying to run `ansible-vault encrypt --vault-password-file=/tmp/vault_pass_123 /tmp/plaintext_123 -vvv` gives me an error that looks related to Python 2/Python 3 compatibility: `AttributeError: 'tuple' object has no attribute 'append'`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONM

[2019-10-15 15:03] RayJin2000 commented on #63510
!component =lib/ansible/modules/files/template.py

[2019-10-15 15:04] rdicroce commented on #32894
This is still a problem in 2.8.5, and it appears to have gotten worse.

Environment: both controller and target are running Ubuntu 18.04.3 LTS. Ansible is installed on the controller using the Ubuntu PPA, so it runs on Python 2. But the target is a minimal installation, so it has Python 3 only.

At first, I thought I was encountering #56629 because now the error message is a lot less helpful. It j

[2019-10-15 15:07] tazerdev commented on #63337
This seems to work, mostly, as expected for me on a standard RHEL7.7 system but I would prefer to see a change in behavior nonetheless:

[code]

What I'm seeing is that if you set both `offline: true` and `immediate: true` the task fails if the firewalld daemon isn't running. If you set only `offline: true` then it behaves as expected (i.e., the files are modified directly and when firewalld is st

[2019-10-15 15:11] sky-joker commented on #63376
Hi, @Udayendu

I tried with NSX-T in my lab environment.

| component | version |
|-----------|---------|
| ESXi      | 6.7.0   |
| vCenter   | 6.7.0   |
| NSX-T     | 2.5.0   |

##### ANSIBLE VERSION

[code]

##### OS/ENVIRONMENT

CentOS 7.5.1804(Core)

[code]

[code]

##### STEPS TO REPRODUCE

[code]

[code]

[code]

`DPortGroup` is NSX based PortGroup.

![スクリーンショット 2019-10-15 23 53 16](https://

[2019-10-15 15:19] marky2376 opened #63514 "Issue running multiple IOS XR commands"
##### SUMMARY
Error running multiple tasks - clear interface command after show interface command.

FAILED! => {"changed": false, "msg": "command timeout triggered, timeout value is 60 secs.\nSee the timeout setting options in the Network Debug and Troubleshooting Guide."}

I changed the persistant timeout from 30-60 seconds and it just takes longer to fail.

##### ISSUE TYPE
FAILED! => {"changed"

[2019-10-15 15:21] #63183 closed, assigned to nobody

[2019-10-15 15:23] goneri opened #63515 "vmware_host_firewall_manager: Fails with backtrace if allowed_hosts not define in rules"
##### SUMMARY

`vmware_host_firewall_manager` cannot apply rule with no `allowed_hosts` key. It was working with 2.8.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_host_firewall_manager

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Use the following task:

[code]
The rule does not have any `allowed_hosts` key.

##### EXPECTED RESULTS

The rule should be accepted

##### A

[2019-10-15 15:24] goneri commented on #63515
Dup with https://github.com/ansible/ansible/issues/61332

[2019-10-15 15:24] #63515 closed, assigned to nobody

[2019-10-15 15:27] sivel commented on #63180
I wonder if this is interpreter discovery, not delegating the discovered interpreter to the delegated host, but instead, it's being assigned to the targeted host and not the delegated host.  This will need verified.

[2019-10-15 15:29] sivel commented on #63181
Duplicate of https://github.com/ansible/ansible/issues/56552

[2019-10-15 15:29] #63181 closed, assigned to nobody

[2019-10-15 15:34] acozine commented on #63495
Related to #62722.

[2019-10-15 15:38] sivel commented on #63196
We have a security feature in Ansible that will strip out keys that appear to look like connection plugin configurations.  To do so we loop all connection plugins in ansible, and create a regex that looks like `^ansible_docker_`.  Because you seem to have an interface on that host that is called `docker_ds`, that creates a key called `ansible_docker_ds` which matches that regex.

This key is then

[2019-10-15 15:38] #63196 closed, assigned to nobody

[2019-10-15 15:43] sivel commented on #63198
This behavior is caused by the following function:

https://github.com/ansible/ansible/blob/7f4befdea77045fa83b5f2b304bd5e16b219f74c/lib/ansible/template/__init__.py#L684-L693

This was done in the past for a very specific reason, and changing this behavior now would result in a backwards incompatible change that we are not willing to do.

Enabling [jinja2 native](https://docs.ansible.com/ansible/

[2019-10-15 15:43] #63198 closed, assigned to nobody

[2019-10-15 15:45] acozine opened #63516 "Module docs code quotes must use uppercase C"
##### SUMMARY
The module documentation uses the syntax `C(code snippet)` for short code quotations. When a lower-case `c` is used by mistake, the content does not display correctly.

Find and fix instances of `c(code snippet)` in the module documentation. For example: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/google/gcp_cloudbuild_trigger.py#L327.

##### ISSUE TYPE
-

[2019-10-15 15:48] sivel commented on #63224
Thank you very much for your submission to Ansible. We would be open to accepting a pull request that adds this feature, but this is not likely something that we will be implementing now.

We have recently decided to not keep feature requests open for functionality we do not plan to immediately implement.

If you are interested in writing this feature, please submit a pull request.

If you have fu

[2019-10-15 15:48] #63224 closed, assigned to nobody

[2019-10-15 15:49] sivel commented on #63227
Can you please provide us with an output of the facts for this host, showing the IPv6 address?

Additionally we will need an interface output from the host itself, and what you expect the facts to look like.

needs_info

[2019-10-15 15:54] sivel commented on #63292
Thank you very much for your submission.  We have recently decided to deprecate `hash_behaviour` (https://github.com/ansible/ansible/pull/63300) and as such we will not be making any changes to this feature.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-15 15:54] #63292 closed, assigned to nobody

[2019-10-15 15:55] #60335 closed, assigned to samdoran

[2019-10-15 16:00] sivel commented on #63314
The log messages are not intermixed, it is that the warning prints before the play header.

We may be able to move the warning after the play header, but it is possible that we can not move the warning that late, or the play header that early.

[2019-10-15 16:16] satyamsaty commented on #59579
I also faced the same issue while updating stack .Although it was working fine ,all of a sudden i am getting the errors now .

Any help will be  much appreciated .

[ansible@ansible-control ansible-old]$ openstack --version
openstack 3.19.0
[ansible@ansible-control ansible-old]$ ansible --version
ansible 2.8.0
  config file = /home/ansible/.ansible.cfg
  configured module search path = [u'/home/an

[2019-10-15 16:28] nirvdrum commented on #60335
Given the issue turned into a bit of a meta-issue about whether the warning should exist at all, I don't think it should have been closed by an otherwise unrelated commit. #63505 fixed a documentation issue in a completely different module.

[2019-10-15 16:31] yoctozepto commented on #63227
ip a:
[code]

ansible 2.7 (b0rken):
[code]

ansible 2.8 (working):
[code]

[2019-10-15 16:47] sivel commented on #63495
The `yum` module doesn't actually work on Python2.  There is an action plugin called `yum` that will detect the package manager on the target host, and if the package manager is `dnf` or `yum4`, then the `yum` action plugin will execute the `dnf` module, which supports Python3.

When targeting RHEL8, even when you use `yum` as the task, the `dnf` module is what ends up running.

The documentation

[2019-10-15 17:15] louwrentius opened #63518 "Playbook fails on macOS Mojave when computer locks due to inactivity"
### SUMMARY
I run a playbook to provision a new (physical) system. This playbook netboots a physical system and wait for the basic OS install to complete, which can take 20+ minutes.

During the run, my mac computer locks due to user inactivity. This also seems to block/lock access to my private key for Ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
SSH private key usage by Ansible

[2019-10-15 17:28] gloria-silveira-looker commented on #54422
For anyone coming by this, there is a workaround in https://github.com/GoogleCloudPlatform/magic-modules/issues/1463

Having said that though, +1 to this issue. The module definitely needs to be fixed so that both common syntax formats for the service account name work.

[2019-10-15 17:41] mikewiebe commented on #63255
@Qalthos This fix works in my testing.  Thanks!

[2019-10-15 18:05] sivel commented on #63512
Looks like we need to wrap another place where `context` is used:

[code]

[2019-10-15 18:07] sivel commented on #63518
This is not really an Ansible problem, but instead a local configuration issue with your controller.

You have a few options:

1. Figure out how to prevent your controller from sleeping
1. Set `ControlPersist` to something greater than or equal to the length of time it takes to perform the deployment, so that the connection need not be reestablished

If you have further questions please stop by IR

[2019-10-15 18:07] #63518 closed, assigned to nobody

[2019-10-15 18:07] opoplawski commented on #37296
I seem to be seeing the same this trying to install pip onto a macOS Catalina system.

[2019-10-15 18:10] sivel commented on #63510
This has nothing to do with whether or not the file looks like YAML, this is just due to Python and Jinja2.

When you debug a message, we convert Python datatypes to JSON, which converts the Python boolean of `True` to `true` for JSON.

When you direct template a value `{{ some_true_bool }}` that will be represented in jinja2 as `True`.

You will need to massage the data to get what you want such

[2019-10-15 18:10] #63510 closed, assigned to nobody

[2019-10-15 18:13] sivel commented on #63496
The `vars` variable is explicitly not templated.  To get templated values, use `params` directly.

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-15 18:13] #63496 closed, assigned to nobody

[2019-10-15 18:16] sivel commented on #63484
The `template` module docs should be updated to remove the reference to using `copy`+`content`.

[2019-10-15 18:17] sivel commented on #63511
This is expected, and left as a job for the playbook author to use the `urlencode` filter as required for their specific use case.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-15 18:17] #63511 closed, assigned to nobody

[2019-10-15 18:18] sivel commented on #63506
Thank you very much for your interest in Ansible.  We have no plans on implementing such a feature within Ansible at this time.

This might be solved using a custom strategy plugin, that you may wish to write and maintain yourself, possibly shipping in a collection on Ansible Galaxy.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2019-10-15 18:18] #63506 closed, assigned to nobody

[2019-10-15 18:24] sivel commented on #63483
The issue here is in how `vars` on a role are scoped.  `vars` on a role are scoped at the play level, and as such, the 2nd wins, so `pb_var` is only ever set to `two`.

This would have become apparent with `allow_duplicates: no` as `r1` would have only ever run 1 time, as both invocations are identical.

Take note that role `vars` are different than `params`:

[code]

Those 2 invocations have diff

[2019-10-15 18:24] #63483 closed, assigned to nobody

[2019-10-15 18:25] sivel commented on #63452
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-10-15 18:25] #63452 closed, assigned to nobody

[2019-10-15 18:29] sivel commented on #63446
This appears to be a custom module.  Does this issue happen with a default Ansible module such as `ping`?

needs_info

[2019-10-15 18:40] uberbrodt commented on #50434
getting same error in Fedora 30

[code]

[2019-10-15 19:18] BarbzYHOOL commented on #63292
wow that hurts

[2019-10-15 19:23] tremble opened #63520 "s3_logging ~20% failure rate when enabling logging"
##### SUMMARY
While trying to enable tests using  #63257 we've been seeing failures with "You must give the log-delivery group WRITE and READ_ACP permissions to the target bucket"

Because this hasn't been consistent we suspect that something's going on with the eventually consistent model for S3.

Conversation from IRC:
@jillr : a long term solution might be to port s3_logging to awsmodule so we

[2019-10-15 19:38] louwrentius commented on #63518
My computer does NOT sleep but only locks (normal security behaviour). It seems that on macOS access to the keychain is also locked for any local applications when the system locks.

That's not possible if the first connection to the newly provisioned machine can only be made after x minutes.

So when a playbook runs for an extended time on macOS, it's not possible to initiate any new SSH connecti

[2019-10-15 19:52] poblahblahblah opened #63522 "Sumologic callback plugin logging sensitive data"
##### SUMMARY
The sumologic plugin logs sensitive data because no_log is not respected for arguments/vars passed to modules via the `ansible_task` object

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
code where ansible_task is defined: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/sumologic.py#L107

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2019-10-15 20:06] jillr commented on #63520
Example: https://app.shippable.com/github/ansible/ansible/runs/146319/117/tests

[2019-10-15 20:12] jwarnier opened #63526 "find_module: find files based on ownership"
##### SUMMARY
Find files based on ownership.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
find

##### ADDITIONAL INFORMATION
To fix ownership of files, you currently have to find files, then use the file module to update them, but as the find module does not allow to search on ownership, you have to update them all, every time.

Current implementation:
[code]
Expected find task implement

[2019-10-15 20:26] samccann commented on #60335
I'm working on finding the PR that addresses the meta issue to link to here.

[2019-10-15 20:40] felixfontein commented on #60335
@samccann it's #62027 by @samdoran

[2019-10-15 20:49] samdoran commented on #60335
@nirvdrum This issue was about `ufw` and `sysctl` specifically, which #63505 and #57984 fixed.

As you stated, there are likely others that could be changed as well. Please open a new issue with a checklist of additional modules. Otherwise we end up with a very open ended issue without a clear scope of work.

The long term plan is this will become a non-issue once #62027 is merged and we go back t

[2019-10-15 20:51] timmcross commented on #62810
Here is the task:
- name: Create a virtual machine from a template
  vmware_guest:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: no
    datacenter: "{{ item.datacenter }}"
    cluster: "{{ item.cluster }}"
    name: '{{ item.name }}'
    folder: /{{ item.folder }}
    state: poweredon
    template: "{{ item.

[2019-10-15 21:08] feisa commented on #63012
I just run this to one of my switches

name: Meraki Switchports
meraki_switchport:
auth_key: abc123
serial: xxxxxxxxxx
state: query
delegate_to: localhost
register: switchports

[2019-10-15 21:10] nirvdrum commented on #60335
That's fair. I had considered auditing all of the documentation for such changes to be part of the solution. I had thought that extended beyond just `ufw` and `sysctl`, but I admit I didn't do the legwork to verify that. But, I see there were several changes to solve the problem and they just hadn't gotten linked back to this one. I was pretty confused at first getting a notification that this one

[2019-10-15 21:17] poblahblahblah commented on #63522
I did a cursory glance through the splunk callback plugin and I think this impacts splunk as well, but I don't have a splunk subscription so I can't test it to verify.

[2019-10-16 01:31] kbreit commented on #63012
@feisa

I just ran my integration test which does exactly this and it worked fine. If you use Postman to run this same query, does it return data?

[code]

[2019-10-16 02:32] feisa commented on #63012
sure i can jump on slack let me know what channel or your name, what query did you run in postman?

[2019-10-16 02:38] feisa commented on #63012
I ran this https://api.meraki.com/api/v0/devices/{{serial"}}/switchPorts

[2019-10-16 02:41] kbreit commented on #63012
I noticed the quotes aren't right. Is that a typo?

I'm Kevin Breit on Ansible Slack and mrproper on IRC. I don't have a lot of time tonight but feel free to message me sometime.

[2019-10-16 02:50] feisa commented on #63012
https://api.meraki.com/api/v0/devices/{{"serial"}}/switchPorts was just me cleansing the serial, but it returned all the ports

[2019-10-16 02:58] kbreit commented on #63012
Definitely interesting. Okay, let me know when you can do some real time debugging. You around tomorrow night?

[2019-10-16 03:00] Fred-sun commented on #61492
@mybayern1974 Could you help me look at this problem? I was prompted that there was no authorization when executing azure_rm_roleassignment. Thank you very much!

[2019-10-16 04:42] neoakris commented on #24215
I see the task is still open but has this been implemented?
https://awsbloglink.wordpress.com/2018/11/11/how-to-control-the-output-of-ansible-debug-with-verbose/

[2019-10-16 05:45] Fred-sun commented on #60244
@mybayern1974 Please take a look this issue! Get DNS record fail when it attach 'alias record set'. Thanks a lot!

[2019-10-16 05:57] ThreeFx commented on #63483
Is that also expected when using `include_role`? As far as I understand `include_role` should dynamically include the role, and thus set the variable correctly...

[2019-10-16 06:37] alwaysharsha opened #63543 "Does roles support block/rescue/finally section?"
##### SUMMARY
Does Ansible roles support block/rescue/finally section in the playbook like

roles:
  - block:
      - role_1
      - role_2
      - role_3
   rescue:
      - role_rescue
   finally:
      - role_finally

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible roles
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

Do we support block/rescue for Ansible roles?
Th

[2019-10-16 06:42] sugitk commented on #63495
Thank you for your kind explanation.  I will inform it to the customer.  I'll close this case out.

[2019-10-16 06:42] #63495 closed, assigned to nobody

[2019-10-16 06:51] ansarpalakottal opened #63545 "Kibana is not starting using Ansible service/command/shell module"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
I am trying to start Ansible script to start Kibana service. I tried with `service`, `command`, `shell `and even with `raw `module. The task is showing Kibana is started while executing the playbook. But Kibana is not starting actually.

The stop command for kibana service is working. But not working

[2019-10-16 06:57] kamathe commented on #63512
Unable to reproduce it, logs below, is it specific to Python 3.7.4 ?

[code]

[2019-10-16 07:05] Fred-sun commented on #59770
@mybayern1974 Please take a look this bug,, azure_rm_manageddisk_info can't get info by tags.  Thank you very much!

[2019-10-16 07:07] Andersson007 commented on #23976
resolved_by_pr: #23976

[2019-10-16 07:08] Andersson007 commented on #23976
@JoelFeiner hello, thanks for reporting this!
would be cool to know your opinion about https://github.com/ansible/ansible/pull/63546

[2019-10-16 08:22] Andersson007 commented on #63273
see the PR
needs_info

[2019-10-16 08:40] msieurtoph commented on #63506
@sivel : Thx for quick answer.
Do you know where I can find some good docs/tutorials about Strategy ?
All I found was the Ansible docs that just says strategy plugins do exist but does not explain how it works nor how to write/use my own.

[2019-10-16 08:44] akhilesh2410 opened #63549 "Ansible failed to run with "become: yes" when run with root user"
SUMMARY

I am running Ansible playbook in a K8S pod with root user, and have 3 AWS  instance on cloud with non root user, on which I need install some packages.

ISSUE TYPE
- Bug Report

COMPONENT NAME
Ansible Playbook

##### ANSIBLE VERSION

[code]

CONFIGURATION
[code]

##### OS / ENVIRONMENT
Source k8s pod with root user :
root@manager-78f457f4cc-vljgv:/# uname -a
Linux manager-78f457f4cc-vljgv

[2019-10-16 08:55] Akasurde commented on #63545
Hi! @ansarpalakottal

Please check Kibana logs to check why service failed to start.

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansib

[2019-10-16 08:55] #63545 closed, assigned to nobody

[2019-10-16 09:03] akhilesh2410 commented on #63549
Same issue observed on Host machine (source) with root user.

[2019-10-16 09:19] papakai commented on #52477
Would also be great supporting the below way to provide the explicit version:

[code]

[2019-10-16 09:22] s-hertel commented on #63543
List Information
================

Hi!

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel. This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

Blocks are logical groupings o

[2019-10-16 09:22] #63543 closed, assigned to nobody

[2019-10-16 09:24] CendioOssman opened #63551 "yum is very slow for already installed package"
##### SUMMARY
Using the yum module to check if a package is already installed takes an enormous 8 seconds to complete, which eats up a lot of the time spent running any non-trivial playbook.

For reference rpm takes 20 ms to do the same.

(I found some existing bugs on the theme that the yum module was slow, but they all seemed to be about when it actually installs something)

##### ISSUE TYPE
- B

[2019-10-16 09:30] CendioOssman commented on #63551
I did some tracing and found some where it spends its time:

The module initialises yum no less than **three** times, each invocation taking about 2.5 seconds:

 1. When listing modules to determine if it needs to apply the workaround using `repoquery`
 2. When setting up repos
 3. When querying the rpm database

I think all three can be optimised around.

 1. Check if the workaround is needed onl

[2019-10-16 09:39] KaiSchwarz-cnic opened #63552 "cpanm: support standard args"
##### SUMMARY
support standard args like other modules also do. See example below.
this is great when installing dependencies from a module folder that got checked out previously
e.g. https://github.com/hexonet/perl-sdk

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
cpanm

##### ADDITIONAL INFORMATION
[code]

support of standard args would be great!

[2019-10-16 09:42] Vladimir-csp commented on #63196
If regex is `^ansible_docker_` then how comes iface name `docker-oth` is OK, but `docker-ds` specifically isn't?

Please add list of restricted iface names to docker_network module (or any more relevant) documentation.

On the other hand, I'm looking at gathered facts and find rather strange the whole idea of putting `ansible_${some_dynamically_named_entity}` into `ansible_facts` directly. This mo

[2019-10-16 09:55] papakai commented on #63552
pip for example also provides that option. (to allow installation from requirements.txt)

[2019-10-16 10:00] onitake opened #63553 "Use openssl_csr and openssl_certificates without disk access (sign certificates in memory)"
##### SUMMARY

When generating TLS certificates for a server, it would be very useful to generate certificate requests only in memory and sign them on the CA without writing unnecessary copies to disk.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

openssl_certificate
openssl_csr

##### ADDITIONAL INFORMATION

With the current implemetation, it is necessary to write certificate requests o

[2019-10-16 10:17] Vladimir-csp commented on #30246
Fully support this.
One more reason for change: #63196: Putting `ansible_${ifname}` into facts invites conflicts if `${ifname}` contains certain keywords, i.e. `docker-`

[2019-10-16 10:18] anusha94 commented on #63507
@gforster ,
We have [vmware_guest_network](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_network.py) module for network related operations.

However, `UptCompatibilityEnabled` is not available yet.

Is it feasible to create VM from `vmware_guest` and then use `vmware_guest_network` to update the attribute ?

@pgbidkar @Akasurde
Any thoughts?

[2019-10-16 10:27] mridude23 commented on #63204
Would be highly appreciated, as most of our users are LDAP based.

[2019-10-16 10:54] gforster commented on #63507
@anusha94 that would be perfectly acceptable. I’m doing similar for other options and using  vmware_guest_network n that way follows the pattern.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-16 10:54] Akasurde commented on #63553
!component =lib/ansible/modules/crypto/openssl_certificate.py

[2019-10-16 10:57] rwaal commented on #61984
@Fred-sun I have tested today, and the issue no longer seems to occur. I used Ansible 2.8.5 with the Azure Modules straight from the [Github repo](https://github.com/Azure/azure_modules), based on the [latest commit](https://github.com/Azure/azure_modules/commit/008332fb07f79507cf00ac71f8249bc668bd7c7e), done on September 11.

I guess the problem is solved now. Many thanks!!

[2019-10-16 11:06] neleshgoel commented on #61984
@Fred-sun @rwaal Thanks Fred & Richard !!

[2019-10-16 11:10] Shaps commented on #62227
@felixfontein further our chat on IRC I agree. It may be easier to leave the option where it is, and just restrict the values to `1`. Should hopefully avoid confusion and not break playbooks in the future.

[2019-10-16 11:25] Andersson007 commented on #62432
@TJEvans , hello, thank you for reporting this!
Please look https://github.com/ansible/ansible/pull/63555 . is it OK? if yes, would be cool to see shipit from you in a comment

[2019-10-16 11:28] Akasurde commented on #63507
I am also OK with adding this feature directly in `vmware_guest_network`.

[2019-10-16 11:36] justjais commented on #51843
@dsbrng25b WRT to your query, I wanted to check that if the host record `name` you're passing in the `nios_host_record` is the `local` or `fqdn` name.

And if `fqdn` can you check and update if updating the same `fqdn` name to different `IP` is allowed from Infoblox appliance side or not and if you're passing `local` name, can you set `configure_for_dns` to `False` by default it goes as `True` whi

[2019-10-16 11:48] justjais commented on #51843
@jreuter60 Can you plz confirm, if for the 2nd run in your play the ipv4addr via `"{{ new_vm.instance.hw_eth0.ipaddresses[0] }}"` call gives same or new IP

[2019-10-16 11:59] Akasurde commented on #63376
@Udayendu Can you please confirm @sky-joker's findings ? Thanks.

needs_info

[2019-10-16 12:07] Andersson007 commented on #63204
@raneq could you please remove **postgresql_table** from the title, see the err msg

[2019-10-16 12:07] RayJin2000 commented on #63510
Please try it:
[code]
my result looks like:
[code]

[2019-10-16 12:15] esuarezsantana opened #63558 "Weird passing vars to dependent roles (3 cases)"
##### SUMMARY

I have seen some errors (IMHO) when setting up variable dependencies for a role.

In a setup where a playbook (`main.yml`) imports/includes a role (role `a`), that role depends on another role (role `b`) like this:

[code]

and the latter imports/includes another role (role `c`), I have seen three weird cases:

* Case 1. Playbook **`main` imports `a`**, and `b` imports or includes `

[2019-10-16 12:20] raneq commented on #63204
I read the error message and although I saw it different from user and db ones, I understood that the logic error is equivalent. Does `postgresql_table` have a mechanism to create tables with dots?

However, I do not have interests in such naming in tables, nor know from the need from anyone to do so. I just guess that somebody might need to create tables with escaped characters, and that the feat

[2019-10-16 12:23] digifuchsi opened #63560 "Infoblox NIOS: missing Module to create EAs"
##### SUMMARY

I have noticed, that you can define extensible attributes in almost every(?) nios module, but a module to define those EAs is missing.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nios

##### ADDITIONAL INFORMATION

The module can be used to create an EA before setting it on an Infoblox Object (e.g. IPv4 Network).
The module (nios_extensible_attribute ?) should allow mana

[2019-10-16 12:28] digifuchsi commented on #63560
cc @justjais

[2019-10-16 12:28] #63364 closed, assigned to nobody

[2019-10-16 12:37] jgrexa opened #63561 "Checkpoint network module checking nonexistent sid"
##### SUMMARY

Authentication part of checkpoint network module is looking for `uid`, which is not presented in the response from Checkpoint fw web API. Only `sid` is there. https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/httpapi/checkpoint.py#L43
Example response can be found in Checkpoint documentation [https://sc1.checkpoint.com/documents/R80/APIs/#ws%20](url)

##### ISSUE TYP

[2019-10-16 12:45] NilashishC commented on #61535
Closing this since #61536 is merged.

[2019-10-16 12:45] #61535 closed, assigned to nobody

[2019-10-16 12:48] macwinnie opened #63562 "retrieve index of "do-until" loops"
##### SUMMARY
For some tasks, it would be great to loop over a task until some condition is met – and to be able to use the loop index within the looped task. How can this be done?

##### ISSUE TYPE
- Documentation Report
or probably
- Feature Request

##### COMPONENT NAME
unitl keyword, especially with set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
nothing changed

##### OS / ENVIRO

[2019-10-16 12:49] NilashishC commented on #61535
@Yannis100 the second part is handle [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/network/common/facts/facts.py#L50).

[2019-10-16 12:55] Andersson007 commented on #63204
@raneq yes, it works at least with one dot for shema

[2019-10-16 13:21] matheuslcruz commented on #30411
Hey guys.

In my case Ansible was hanging in "gathering facts" because of two entries in my known_hosts. I found out when tried to ssh manually:

    Warning: the RSA host key for '****' differs from the key for the IP address '****'
    Offending key for IP in /****/known_hosts:168
    Matching host key in /****/known_hosts:368
    Are you sure you want to continue connecting (yes/no)? ^C

After

[2019-10-16 13:51] codingonHP opened #63563 "User module fails when user already present"
##### SUMMARY
When executing user creation ansible module, below error is seen consistently.
Sample playbook and its corresponding output can be seen below

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
system/user module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 7.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The user should not f

[2019-10-16 13:58] #28929 closed, assigned to nobody

[2019-10-16 13:58] idelsink opened #63564 "tower_project module is missing the allow_override option"
##### SUMMARY
AWX 7.0.0.0 has the option to overwrite the Project branch. This option is missing from the [tower_project](https://docs.ansible.com/ansible/latest/modules/tower_project_module.html) module.

![image](https://user-images.githubusercontent.com/8396902/66926104-b4dba980-f02d-11e9-8d80-ae5110d05ebc.png)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Name: `tower_project`

#####

[2019-10-16 13:58] sivel commented on #63510
I did, and your tests are missing a key component that I included in my example.  You must be sure to wrap `'bar' in foo` in parentheses such as `('bar' in foo)`, otherwise `to_json` or `string` will only apply to `foo` and not the result of `'bar' in foo`.

If you have further questions please stop by IRC or the mailing list, as this issue will no longer be monitored.

   * IRC: #ansible on irc.f

[2019-10-16 14:11] Andersson007 commented on #63204
postgresql_user is possibly fixed by https://github.com/ansible/ansible/pull/63565 . Needs to be checked

[2019-10-16 14:15] #50494 closed, assigned to rcarrillocruz

[2019-10-16 14:17] rdonkin commented on #62647
I have had a similar issue with Ansible 2.8.5 and a near-empty config file for the `azure_rm` plugin.

[code]
Config file:
[code]
The `~/.azure/credentials` file works with other Ansible commands, including use of the older `azure_rm.py` inventory script.

[2019-10-16 14:24] #60229 closed, assigned to nobody

[2019-10-16 14:36] Andersson007 commented on #63204
We have integration tests but would be cool if interested people looked at this and try manually https://github.com/ansible/ansible/pull/63565

[2019-10-16 14:38] AlanCoding commented on #63564
FYI, we're working on migrating these modules out of Ansible core and into the AWX source, distributing them as a collection.

https://github.com/ansible/ansible/pull/62924

This is a valid issue, so we will be accepting patches for this in the AWX repo. And I might migrate the issue over there at some point as well.

[2019-10-16 15:13] Qalthos commented on #63514
You appear to have some misunderstandings in your playbook. The section

[code]

is a list of nine command definitions instead of three. `prompt` and `answer` need to be in the same dictionary as the `command` key (which also needs to be specified when using `prompt` and `answer`). Additionally, your `prompt` is almost certainly wrong, as the prompt strings are interpreted as regexes, so the promp

[2019-10-16 15:13] #63514 closed, assigned to Qalthos

[2019-10-16 15:28] Qalthos commented on #63412
My understanding is that, at privilege level 0, the `terminal` command is not available.

Does #63571 work correctly?

needs_info

[2019-10-16 16:03] riahc3 opened #63575 "Connect via SSH to Netscaler?"
##### SUMMARY
Im attempting to connect directly thru SSH to the Netscaler

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
SSH

##### ANSIBLE VERSION
Ansible AWX 7.0.0
ansible 2.8.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Give me a message

##### ACTUAL RESULTS
Says it cannot connect

##### ADDITIONAL COMMENTS
I know there is a Netscaler module. I need this for other function

[2019-10-16 16:38] riahc3 commented on #63575
Further testing gives me this:

`    "msg": "Failed to connect to the host via ssh: OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: auto-mux: Trying existing master\r\ndebug1: Control socket \"/tmp/awx_219_nmyozc7m/cp/ab618ed523\" does not exist\r\ndebug2: resolving \"netscaler\" port 22\r\ndebug2: ssh_connect_direct: needpriv 0\r\ndebug1: Connecting to netscaler [192.168.23.45] port 22

[2019-10-16 16:55] samdoran commented on #63563
I am unable to duplicate this issue. Can you provide the output of the playbook run with `-vvvv`? This looks like a problem with the remote system. Can you investigate and see what process 5003 is doing?

needs_info

[2019-10-16 17:01] #63315 closed, assigned to nobody

[2019-10-16 17:20] mariolenz commented on #63374
Sorry, I didn't realize this at first. You're absolutely right, #60688 lacks the changes to vmware_dns_config.py.

#47271 looks promising but, unfortunately, also pretty dead... no one's working on this any more :-(

[2019-10-16 17:59] Sunitha82 opened #63584 "Docker python issue"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
Hello

I am trying to run a play book from host(ansible VM) to pull an image from docker host,  I tried pip install docker still it not working, can you please help.

failed to import the required python library (docker sdk for python: docker (python >= 2.7) or docker-py (python 2.6)) on host's python

[2019-10-16 18:05] sivel commented on #63584
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-10-16 18:05] #63584 closed, assigned to nobody

[2019-10-16 18:15] TJEvans commented on #62432
@Andersson007  Thank you for the update, I look forward to making use of it.
shipit

[2019-10-16 18:21] Andersson007 commented on #62432
@TJEvans thank you for your feedback! Hope it will work as expected :) joking

[2019-10-16 18:22] Andersson007 commented on #62432
@TJEvans could you please add shipit to the pr the same way (in single line)

[2019-10-16 18:28] marky2376 commented on #63514
Thanks for the help.  Got it running.

For the community, this is the playbook that is working now.  Plan to add some parsing in the near future.

---
- hosts: SCRING
  gather_facts: false
  connection: network_cli

  tasks:
   - name: show int | inc errors
     iosxr_command:
       commands:
           - show int bundle-ether 20 | inc errors
           - show int bundle-ether 21 | inc errors

[2019-10-16 18:56] GomathiselviS commented on #62210
needs_info

[2019-10-16 19:34] Andersson007 commented on #63466
needs_info

[2019-10-16 19:38] crossan007 commented on #54250
I'm seeing this too on Windows Server 201 with _newly created_ services where the initial state is `stopped` and the `start_mode` is `delayed`; the service appears to have a start mode of `Automatic` instead of `Automatic (Delayed)`

[2019-10-16 19:41] jpasqualetto opened #63588 "yum module load plugins multiple times during single execution"
##### SUMMARY

yum module load plugins multiple times during single execution. Depending on the present plugins this can generate multiple issues. For example,  in a Red Hat system which has subscription-manager plugin enabled in yum, a lot of requests are made to the RHSM server BEFORE ACTUALLY INSTALLING anything.

Using a big list of packages at once, the  number of request is so big that  RHSM

[2019-10-16 20:28] samdoran opened #63590 "setup_mysql8 integration test role fails when run with the test group"
##### SUMMARY

When the `setup_mysql8` role is run as part of the `shippable/posix/group1/`, the service fails to start and the test fails.

Example failure output from [this run](https://app.shippable.com/github/ansible/ansible/runs/146941/68/tests):
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`test/integration/targets/setup_mysql8`
##### ANSIBLE VERSION

[code]

##### CONFIGURAT

[2019-10-16 20:28] samdoran commented on #63590
These tests were added in https://github.com/ansible/ansible/pull/63454

[2019-10-16 20:52] valentin-krasontovitsch commented on #25149
Just noticed that I claimed that I would try implementing a good solution.

I hereby retract this promise 😅

we (one of my colleagues) switched to `ufw`, which is obviously much simpler and easier than iptables (it has uncomplicated in its name after all), and it seems like we successfully simply modify some text files with the usual ansible modules to define and save and whatnot our firewall rule

[2019-10-16 21:20] Hyde46 commented on #63516
Please take a look at #63594.
As this issue involves changing over 50 files, ansibot recommended to contact you a core member to merge.
Should i rather split these changes up and merge in smaller chunks?

[2019-10-16 21:26] gdean-icwgroup opened #63595 "ansible_reboot_pending always returns true"
##### SUMMARY
When using the Ansible fact ansible_reboot_pending it always returns true even if no reboot is needed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/windows/setup.ps1 and  ansible/lib/ansible/module_utils/powershell/Ansible.ModuleUtils.Legacy.psm1.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Happens with AWX tower and locally so config doesn

[2019-10-16 21:57] demizer opened #63596 "ansible-galaxy install in failing due to an api issue"
##### SUMMARY
When trying to use ansible-galaxy to install a role dependency, the ansible-galaxy command fails to install the role. This just started happening today.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

Run the command:
[code]

##### EXPECTED

[2019-10-16 22:02] sivel commented on #63596
This was recently resolved in https://github.com/ansible/ansible/pull/63472

[2019-10-16 22:02] #63596 closed, assigned to nobody

[2019-10-16 22:16] septatrix opened #63597 "Blockinfile has parameter mode option 'preserve'"
##### SUMMARY

Blockinfile shows `preserve` as an option to pass to the mode parameter (file permissions).
`Preserve` would theoretically preserve the permissions of the source file though there is none as the string is inlined. Therefore this option does not make sense for this module.

If one tries to use this option an error will be thrown:
[code]

I would suggest overwriting the 'standard file

[2019-10-16 22:17] Septatrix commented on #63597
I just looked if this also is the case in the lineinfile module and yes, the comment strings are the same.

[2019-10-16 22:28] sivel commented on #63597
Duplicate of https://github.com/ansible/ansible/issues/56839

[2019-10-16 23:15] ShachafGoldstein commented on #54250
Have you seen my response above? after a reboot does it appear correct?

[2019-10-16 23:32] ShachafGoldstein commented on #55844
we can't be sure this is the same original issue,
Please, both of you add the verbose output of playbooks used.

[2019-10-17 02:21] Fred-sun commented on #61984
@neleshgoel @rwaal Thanks for your try. if you don't have other question, this issue can be closed! Thank you very much!

[2019-10-17 02:29] Fred-sun commented on #59096
@carbolymer The relate PR has been merged, Would you please closed this issue? Thank you very much!

[2019-10-17 03:04] Fred-sun commented on #59916
@bpados Before ansible fix this Bug, you can update the storage account type through the command module. Thank you very much!
[code]

[2019-10-17 04:22] Akasurde commented on #63278
@stevenjm Could you please check if the PR #63582 resolves your issue and let us know ? Thanks

needs_info

[2019-10-17 04:22] Akasurde commented on #63278
resolved_by_pr #62582

[2019-10-17 04:32] codingonHP commented on #63563
Hi @samdoran
Here is the command output with -vvvvv
The process 5003  is  `ssh-agent` that is running on the target server.
We had a question on why usermod command getting executed when user is already present.
Shouldn't the task be skipped ?

### Output
[code]

[2019-10-17 04:33] vaibhav-research opened #63601 "credstash lookup plugin hangs after upgrading to catalina macos"
##### SUMMARY
credstash lookup plugin hangs after upgrading to catalina macos

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
credstash plugin

##### ANSIBLE VERSION
tried with ansible 2.8.4 and 2.8.5.
credstash versions tried 1.14, 1.15 and 1.16

##### CONFIGURATION

##### OS / ENVIRONMENT
catalina macos

##### STEPS TO REPRODUCE
1. update the macos to catalina
2. add a task to get the versi

[2019-10-17 05:45] Fred-sun commented on #62499
@wschoot These two account types will be added later, but you can create them through the command module before adding them. Thank you very much!
For example:
[code]

[2019-10-17 06:26] #63590 closed, assigned to nobody

[2019-10-17 06:29] Fred-sun commented on #62489
kindly ping

[2019-10-17 06:39] felixfontein commented on #63590
Will reopen when nightly CI run does not pass (because of this).

[2019-10-17 06:53] #62784 closed, assigned to nobody

[2019-10-17 06:54] Akasurde commented on #63601
@vakpande Are you using mitogen plugins by any chance ? Because I see that in the log.

[2019-10-17 07:06] yoctozepto commented on #63227
k-a tracks it in https://bugs.launchpad.net/kolla-ansible/+bug/1848446

[2019-10-17 07:46] agx opened #63611 "foreman inventory: support host_filters"
##### SUMMARY
Pease support the `host_filter` attribute to limit searches which greatly reduces resource usage on the remote side - otherwise the plugin becomes unusable with 1000 hosts.

##### COMPONENT NAME
./lib/ansible/plugins/inventory/foreman.py

##### ADDITIONAL INFORMATION
contrib/inventory/foreman.py has this implemented

[2019-10-17 07:59] agx opened #63613 "foreman inventory: support group_patterns"
##### SUMMARY
Please support group patterns supported by the inventory script in contrib: https://github.com/ansible/ansible/blob/devel/contrib/inventory/foreman.ini#L86

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
./lib/ansible/plugins/inventory/foreman.py

##### ADDITIONAL INFORMATION
See ./contrib/inventory/foreman.py

[2019-10-17 08:01] Fred-sun commented on #51062
@mybayern1974 Please take a look this issue when you're free! Thank you very much!

[2019-10-17 08:04] Fred-sun commented on #53299
@mybayern1974 Please take a look this issue when you're free! Thank you very much!

[2019-10-17 08:06] Fred-sun commented on #58601
@mybayern1974 Please take a look this issue when you're free! Thank you very much!

[2019-10-17 08:07] Fred-sun commented on #58069
@mybayern1974 Please take a look this issue when you're free! Thank you very much!

[2019-10-17 08:19] elaurijssens commented on #58601
Thanks for keeping this issue alive... I would contribute myself if I could but I haven't got the spare time at the moment.

[2019-10-17 08:22] ssbarnea opened #63615 "ansible-galaxy canot install roles from disk with relative paths"
##### SUMMARY
The current specification of `requirements.yml` allows installing roles from localhost but only from full paths by using the undocumented `file:///` scheme as src.

Still this makes installation fully not portable, mainly impossible to install roles from current user directory.  The [`file://` scheme](https://en.wikipedia.org/wiki/File_URI_scheme) does not allow by design relative pa

[2019-10-17 08:30] Yannis100 opened #63616 "Inventory cache settings 2.7.13"
##### SUMMARY

According to the documentation, if _cache_plugin_ and _cache_connection_ are not set in _[inventory]_ section of ansible.cfg and cache set to True, the values should be taken from fact_caching and fact_caching_connection in defaults section.
This is working with ansible 2.8.5 but returns an error in 2.7.13

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Inventory cache setting

[2019-10-17 08:32] ssbarnea commented on #63615
Duplicate of https://github.com/ansible/galaxy/issues/2030

[2019-10-17 08:32] #63615 closed, assigned to nobody

[2019-10-17 08:37] Fred-sun commented on #58043
@nicolaibaralmueller The feature will be added in future , but you can create them through the command module before adding them. Thank you very much!
For example:
[code]

[2019-10-17 08:40] #59253 closed, assigned to nobody

[2019-10-17 08:42] #62227 closed, assigned to nobody

[2019-10-17 09:02] felixfontein commented on #63590
It looks like all errors in https://app.shippable.com/github/ansible/ansible/runs/147001/summary/console are unrelated to the MySQL tests, so it should be fine now.

[2019-10-17 09:18] anusha94 commented on #63507
@gforster
Can you check if the proposed change ([PR](https://github.com/ansible/ansible/pull/63610)) works for you?

[2019-10-17 09:21] rpeltola commented on #54250
Can confirm that after reboot it shows correctly on Win2019 too.

![Huomautus 2019-10-17 121245](https://user-images.githubusercontent.com/4742341/66995907-6cc59100-f0d8-11e9-99bb-a0918a1e4bb1.jpg)

![Huomautus 2019-10-17 121251](https://user-images.githubusercontent.com/4742341/66995899-67684680-f0d8-11e9-854b-a4cc844683fa.jpg)

[2019-10-17 10:05] Yannis100 commented on #57131
I don't know how to proceed to have this fix backported to stable-2.8 branch the same as #63283 for stable-2.9
@ganeshrn I added a comment in your merge request for stable-2.9

I have different issues in 2.7 and 2.8 that prevents me from doing exactly what I want, and as 2.9 is not an option yet, I'm stuck :(

[2019-10-17 10:15] djasa opened #63617 "IPA modules: allow host autodiscovery from domain SRV records"
##### SUMMARY

IPA modules that connect to IPA API currently require `ipa_host` variable which is quite impractical when dealing with larger domain where servers are in different geos so with different latencies, particular server names can change or a specific server may be unreachable. All of the above is solved by using SRV records `_ldap._tcp.DOMAIN` and by instructing `ipa_*` modules to accep

[2019-10-17 10:23] ssbarnea opened #63618 "ansible-galaxy broken in 2.9.0rc3"
##### SUMMARY
After installing ansible-galaxy from using pip (any system), this should work:
`ansible-galaxy --version`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
galaxy

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
**SUCCESS**

##### ACTUAL RESULTS

[code]

[2019-10-17 10:34] esncs16 opened #63619 "su: Authentication failure when my redhat ansible server and redhat ansible client password different"
##### SUMMARY

##### ISSUE TYPE
su: Authentication failure

##### COMPONENT NAME

SU

##### ANSIBLE VERSION

ansible-2.7.9-1.el7ae.noarch
ansible-tower-venv-ansible-3.4.3-1.el7.x86_64
ansible-tower-ui-3.4.3-1.el7.x86_64
ansible-tower-venv-tower-3.4.3-1.el7.x86_64
ansible-tower-server-3.4.3-1.el7.x86_64
ansible-tower-3.4.3-1.el7.x86_64

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

#

[2019-10-17 10:41] tadeboro commented on #63618
This has already been resolved in 2.9 branch by https://github.com/ansible/ansible/commit/b500ab3232335fbbb38ac205b9c036709ea79202

[2019-10-17 10:52] ssbarnea commented on #63618
@tabashir Thanks for the info. Sadly, that does not help much because latest wheel pre-release is much older and is broken, preventing us from finding other 2.9 related bugs before the release. I hope to see another pre-release very soon as this bug currently jammed molecule CI which adopted testing of 2.9 early, hoping to be compatible from day one.

[2019-10-17 10:54] Akasurde commented on #63507
resolved_by_pr #63610

[2019-10-17 11:05] Yannis100 commented on #63616
Just saw this line in the 2.8 changelogs:

Where can I find the info of which caching plugins were supported earlier?

[2019-10-17 11:10] justjais opened #63623 "IOS Vlans resource module override state not working as expected"
##### SUMMARY

IOS Vlans resource module override state not working as expected when VLAN that doesn't pre-exist is tried to be configured via override operation the VLAN is not configured.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_vlans

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ios

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2019-10-17 11:47] justjais commented on #63560
cc. @krisvasudevan @s-giri

[2019-10-17 12:03] vfuyong commented on #62343
@samdoran Do you know what can cause 'ssl: coercing to Unicode: need string or buffer, int found'? I am using WinRM over HTTPS.

[2019-10-17 12:18] dagwieers commented on #62137
I think the problem is that the default payload has an empty list for the `contractRelationships`. And this causes it to be cleared when this module is used. I wonder if we can simply remove/comment that entry from the payload without MSO complaining.

If not, we have to merge the existing config in a more elaborate way :-/

[2019-10-17 12:31] theboyisno-1 opened #63627 "make_module fails if make command is under /usr/bin/make"
##### SUMMARY

If 'make' executable is not present under ['/sbin', '/usr/sbin', '/usr/local/sbin'] but in '/usr/bin/' and you try to run make_module, even with `become: true`, it will fail.
Basically [process.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/common/process.py) : 22 only looks into `['/sbin', '/usr/sbin', '/usr/local/sbin']` paths for executable however it

[2019-10-17 12:31] #63053 closed, assigned to nobody

[2019-10-17 12:32] crossan007 commented on #54250
@ShachafGoldstein that was an oversight on my part.

The behavior is as you described (i.e. Ansible is working correctly, the windows GUI isn't rendering correctly)

Thanks!

[2019-10-17 12:41] Yannis100 commented on #63616
!component contrib/inventory/abiquo.ini

[2019-10-17 13:08] raneq commented on #63204
Great! Then I edit the title and content. Thanks @Andersson007 for the follow-up.

[2019-10-17 13:18] Andersson007 commented on #63204
@raneq would be cool if someone tried https://github.com/ansible/ansible/pull/63565 manually.
Someone can do it by using the cloned repo (from my account and switch the branch) or someone can just copy postgresql_user.py from here and change the original file in his/her local environment :)

[2019-10-17 13:22] raneq commented on #63204
Thanks, I was already looking at "[Running from source](https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-from-source)", but the module replacement looks far easier to me. I'm going to check it, thanks!

[2019-10-17 13:29] Andersson007 commented on #63204
@raneq thank you! will wait for your feedback!

[2019-10-17 13:40] #63627 closed, assigned to nobody

[2019-10-17 13:40] khan019950 commented on #63627
found something wrong with make package. Reinstalled it and now its working fine

[2019-10-17 13:50] mjip opened #63629 "[Cron module] Disabled option should work with a cron_file specified"
##### SUMMARY

There doesn't seem to be a way to disable a cronjob with a pre-existing cron_file without removing it completely. The disabled=true only seems to work when creating a new cron job using the cron module. If I want to comment out a pre-existing cronfile in Ansible (e.g. under /etc/cron.d), I'll use the replace module and match with the start of every line. I believe this kind of funct

[2019-10-17 13:57] dragonmaus opened #63630 "`ini` lookup plugin does not follow argument passing standard."
##### SUMMARY

The `ini` lookup plugin still uses the archaic, problematic "string-passing" argument method, not the newer standard mentioned [here](https://github.com/ansible/proposals/issues/15#issuecomment-367022542).

The most recent work (that I can find) that changes argument handling is #16477, which simply implements a hack to work around spaces in arguments.

##### ISSUE TYPE
- Bug Report

[2019-10-17 13:59] #62432 closed, assigned to nobody

[2019-10-17 14:18] dragonmaus commented on #63630
!component =lib/ansible/plugins/lookup/ini.py

[2019-10-17 14:19] sivel commented on #63618
This will be included in the upcoming 2.9rc4 release.

[2019-10-17 14:19] #63618 closed, assigned to nobody

[2019-10-17 14:22] #63447 closed, assigned to nobody

[2019-10-17 14:27] dolph commented on #24215
@neoakris That only applies to the `debug` module, which was mentioned [above](https://github.com/ansible/ansible/issues/24215#issuecomment-298826415).

[2019-10-17 14:58] crossan007 commented on #30412
I've got a similar use case where I want to ensure an IIS site is stopped _if it exists_.

Considering the following:
[code]

Will work as expected when the site exists and is running, but will throw the same exception (`missing required arguments: physical_path`) when the site does not exist.

[2019-10-17 15:00] raneq commented on #63204
Just changing the affected files throws errors. I'm going to do it the proper way and check out the whole branch together.

[2019-10-17 15:12] s-hertel commented on #63616
This was fixed by the changes to this file in 2.8 https://github.com/ansible/ansible/commit/96878798400e709ac61c9216a97cee46ad101e75#diff-f044c4cf58064fedf8eb5fcfdc95b572. I've opened a PR to improve the documentation. #63635

There were some significant problems with the 2.7 version of inventory caching and 2.8 is much more stable. Since 2.7 is critical-fixes only and since there is a workaround

[2019-10-17 15:31] mzeier commented on #63601
Fails with or without mitogen fwiw.

[2019-10-17 15:43] #54898 closed, assigned to nobody

[2019-10-17 16:10] sky-joker commented on #63449
Hi @richlv, @D3DeFi

Please can you check this PR(https://github.com/ansible/ansible/pull/63637) works for you?
I'd like to wait for your review and feedback.

[2019-10-17 16:22] kai000000 opened #63638 "ERROR! Decryption failed (no vault secrets were found that could decrypt)"
ISSUE TYPE
Bug Report

COMPONENT NAME
ansible-vault

ANSIBLE VERSION
2.8.5

OS / ENVIRONMENT
Centos7 1810

SUMMARY

Hey,
I do experience a issue.. Can someone assist (i have seen this here: https://github.com/ansible/ansible/issues/31620   but it's never been resolved. Please do not mark as duplicate or close it.) Do you know any workaround? I can not decrypt/view/edit vault file....

[code]

[2019-10-17 17:03] carchi8py commented on #63509
@joeltoaspern could you report that here https://github.com/ansible/ansible_collections_netapp All NetApp modules have been moved to this collection.

[2019-10-17 17:06] carchi8py commented on #63236
This was fixed in ansible 2.8

[2019-10-17 17:19] rosowiecki opened #63640 "parted fails after changing partition name when partition is busy"
##### SUMMARY
When changing name of busy GPT partition (in my case: member of active raid), parted module changes the name but fails with parted program warning.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

parted

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Use parted module to set different name to partition, which is used by kernel.

##### EXPECTED RESULTS

module should r

[2019-10-17 17:45] mzeier commented on #63601
A workaround is to skip the `lookup` and statically set the version (which suggests the error is just with the lookup). Am able to confirm the Playbook works otherwise.

Running with `-vvvv` doesn't give me a lot of hints other than what looks like ssh dropping the session. Only change is Catalina.

[code]

[2019-10-17 19:12] #63561 closed, assigned to nobody

[2019-10-17 19:16] ThreeFx commented on #57283
Has there been work on this issue? I'm affected and it ruins my tests.

[2019-10-17 19:18] bcoca commented on #63341
cc @nitzmahone

[2019-10-17 19:18] samdoran commented on #63350
I'm not sure of the maximum string size. Probably the maximum size a string can be in Python minus a few bytes for things we add to the output.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-10-17 19:18] #63350 closed, assigned to nobody

[2019-10-17 19:21] samdoran commented on #63365
This would require fundamentally changing how variables work because `vars_prompt` is processed before `host_vars`. We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2019-10-17 19:21] #63365 closed, assigned to nobody

[2019-10-17 19:23] samdoran commented on #63375
Duplicate of https://github.com/ansible/ansible/pull/58323

[2019-10-17 19:23] #63375 closed, assigned to nobody

[2019-10-17 19:37] samdoran commented on #63445
Have you looked at using the DSC modules for managing Hyper-V?

[2019-10-17 19:42] samdoran commented on #63481
Have you tried building from a newer version of Ansible (>=2.8)? 2.6 only receives critical security bugfixes.

needs_info

[2019-10-17 19:46] samdoran commented on #63502
!component =lib/ansible/modules/cloud/ovirt/ovirt_vm_info.py

[2019-10-17 19:54] samdoran commented on #63549
This question is best answered on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-17 19:54] #63549 closed, assigned to nobody

[2019-10-17 19:55] Gillingham commented on #63297
Just checked against `2.8.6` and `git+https://github.com/ansible/ansible.git@devel` and confirmed the issue is present there too.

[2019-10-17 19:59] samdoran commented on #63562
This is added in https://github.com/ansible/ansible/pull/62151

[2019-10-17 20:01] samdoran commented on #63575
The best place to discuss this issue is on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-17 20:01] #63575 closed, assigned to nobody

[2019-10-17 20:06] samdoran commented on #63619
The best place to discuss this issue is on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you have an Ansible Tower subscription, please reach out to Red Hat Support.

[2019-10-17 20:06] #63619 closed, assigned to nobody

[2019-10-17 20:10] samdoran commented on #63638
The best place to discuss this issue is on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

The previous issue was closed by the author once they found the correct command parameter to use.

[2019-10-17 20:10] #63638 closed, assigned to nobody

[2019-10-17 20:15] sivel commented on #63562
Getting the index of the until loop can be done by adding a `register` on the task, and subsequently using `registered_var.attempts`.

[2019-10-17 20:24] dragonmaus commented on #63630
(Updated original comment for 2.8.6.)

[2019-10-17 20:26] samdoran commented on #63558
This is conflating a number of ways to parameterize roles as well role dependencies. It's not surprising that there are some really odd things happening here.

Using `vars` is the best way to parameterize roles since we have to guess internally when role variables are mixed in at the top level with the role. Try that and see if that resolves the issue.

[code]

needs_info

[2019-10-17 20:49] ElSamhaa opened #63647 "Hashed 'control_path' does't account for cases when different hosts in separate networks share the same 'ansible_host' values"
##### SUMMARY

The hashed socket name that ansible produces per host doesn't account for cases when 2 machines have the same `ansible_host` but are reached through different networks. Hence, ansible reuses the socket of the first run-host to reach the second host, and ends up retrieving the wrong values.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`ssh`
`control_path`
##### ANSIBLE VERSI

[2019-10-17 20:50] #63161 closed, assigned to nobody

[2019-10-17 20:51] ElSamhaa commented on #63647
#63161

[2019-10-17 20:54] bcoca commented on #63647
it is not Ansible doing so, it is ssh, Ansible just supplies the control path, which you can override to avoid collisions, I believe we explained this in the first ticket you opened about this.

[2019-10-17 20:59] ElSamhaa commented on #63647
I know that ansible is reponsible for providing the control path, which is the very issue.

ansible will provide the same `control_path` for two different hosts just because they share the same hostname, despite being totally different hosts.

This can be resolved by involving the value of `ProxyCommand` when provided, which will generate a unique hash for such cases.

[2019-10-17 21:02] bcoca commented on #63647
which you can already configure

[2019-10-17 21:06] ElSamhaa commented on #63647
the only possible solutions to this via configuration is by using plain combinations of the target hosts and ports, which are the same among different unique hosts.

In other words, U can't incorporate the value of "ProxyCommand" through this configuration. The only way I know after reading the docs i by supplying it in the hash itself.

[2019-10-17 21:08] bcoca commented on #63647
you can in `ansible_control_path` variable

[2019-10-17 21:11] goneri opened #63648 "vmware_guest_network: can add two NIC withe same MAC (idemotency is broken)"
##### SUMMARY

Hi all,

I just run two times the same playbook, and my host now comes with two NIC with the same MAC:

[code]

IMO, the `state: new` is problematic and breaks the idempotency of the module. It would make more sense to detect if a NIC exists or is missing depending on the id/MAC/label.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_network

##### ANSIBLE VERSION

[2019-10-17 21:17] ElSamhaa commented on #63647
I guess this is what i'm looking for. I've really had such a hard time troubleshooting the root cause for this behavior, and didn't manage to land this variable.

I'd suggest including a warning in the docs about this behavior, to save the time of whoever would come across similar cases.

[2019-10-17 21:44] ElSamhaa commented on #63647
@bcoca Would u pls elaborate. After carefully reading, and testing your suggestion, I couldn't find how is that any different.

I understood that - _and correct me if I'm wrong_ - the variables u've provided are `configuration toggles` which are _globally scoped_, not _host scoped_, and are passed to the underlying _ssh binaries as is_, which in turn would substitute into its corresponding values.

[2019-10-17 21:51] #63647 closed, assigned to nobody

[2019-10-17 21:52] apevec commented on #63481
It reproduces the same way with ansible-2.8.5-1.el7.ans.src.rpm

@samdoran fix actually needs to be in the Ansible release scripts, do you know where are they maintained?

[2019-10-17 22:04] sivel commented on #63481
Yes, those are defined in our `Makefile` and passed to the rpmbuild command via `--define`.

Instructions for creating the RPM are listed under https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#latest-release-via-dnf-or-yum via `make rpm`.

Does this resolve your issues?

needs_info

[2019-10-17 22:23] apevec commented on #63481
no, I want to make direct rebuild in CentOS CBS of SRPMs published at releases.ansible.com

[2019-10-17 22:33] ghost opened #63652 "k8s execute_module\nAttributeError: 'NoneType' object has no attribute 'endswith'\n""
##### SUMMARY

Observing error using k8s module to do validations on k8s objects.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s or k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
I have Mac OS
Darwin  17.7.0 Darwin Kernel Version 17.7.0: Wed Apr 24 21:17:24 PDT 2019; root:xnu-4570.71.45~1/RELEASE_X86_64 x86_64

##### STEPS TO REPRODUCE

[code]

[2019-10-17 23:08] blightbow commented on #56576
For those who experience this problem on RHEL **without** Python3 installed on the target system,  it appears to be caused by the presence of the ansible libraries in site_packages the RHEL system. Here are some steps to reproduce.

Terms:
ADMINHOST = Server you executing the playbook on.
TARGET = Remote server running docker that is being managed by Ansible on ADMINHOST.

    # execute on TARGET

[2019-10-18 04:45] felixfontein commented on #56576
@blightbow I don't have access to RHEL. I've tried the following on my server (has both Python 2 and Python 3) installed: I installed `ansible` and `docker` for both Python 2 and Python 3 (`pip2 install ansible docker`, `pip3 install ansible docker`).

Then I ran Ansible (both `devel` and `stable-2.8`, with simple playbooks which use `docker_container` or `docker_compose`, once with `ansible_pytho

[2019-10-18 04:48] felixfontein commented on #56576
(I've also never seen that behavior with Debian servers having `docker` and `ansible` installed for Python 2 with main Python being Python 2. They also have Python 3 installed though.)

[2019-10-18 05:18] Andersson007 commented on #63204
@raneq
Go to your **test** server with preinstalled Ansible
1. git clone https://github.com/Andersson007/ansible.git
2. cd andible
3. source hacking/env-setup
4. git checkout postgresql_user_dots
5. cd /etc/ansible
6. write test.yml
7. run
When you finish tests, after relogin your initial environment will be restored

[2019-10-18 05:37] LKaemmerling commented on #62606
resolved_by_pr 62900

[2019-10-18 05:39] #62606 closed, assigned to nobody

[2019-10-18 05:57] Fred-sun commented on #59269
@mybayern1974 Please take a look this issue when you're free! Thank you very much!

[2019-10-18 06:00] Fred-sun commented on #59134
@mybayern1974 Please take a look this issue when you're free! Thank you very much!

[2019-10-18 06:06] alwaysharsha commented on #63543
@s-hertel Only issue with using role in tasks block is dependent roles will be executed multiple times.
Else the above mentioned approach works well.

[2019-10-18 06:08] sanderdescamps opened #63658 "Gather facts incorrect python interpreter (delegate_facts)"
##### SUMMARY
I need to gather facts from the new deployed machine CentOS and from my Ubuntu DNS server. For some reason does the order of execution matter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

When I first gather facts on the dns server (other host) and then gather facts on the new template machine (current host) then

[2019-10-18 06:39] Fred-sun commented on #57782
@mybayern1974 Please take a look this issue when you're free! Thank you very much!

[2019-10-18 07:00] nicethomaslearngit opened #63659 "Get-ADComputer fails with Get-ADComputer"
##### SUMMARY

Hi,

 I am trying to get ADcomputer name using below
`Get-ADComputer -LDAPFilter '(name=*xyz*)' | Select DNSHostName`

This works fine, when I login to the windows server and executes in power shell, but when executed using ansible it fails with below error

 `Unable to contact the server. This may be because this server ",
        "does not exist, it is currently down, or it does n

[2019-10-18 07:06] asarubbo opened #63660 "digital_ocean_droplet is not idempotent"
##### SUMMARY
the module digital_ocean_droplet is not idempotent. I run it twice and I got 2 machine created with the same name.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
digital_ocean_droplet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Gentoo Linux x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Create the machine once.

##### AC

[2019-10-18 07:23] sylr opened #63662 "[RFC] Clean Slate Protocol"
Hi,

The situation of the project in terms of pending issues and PR is **ridiculous**.

It's time to do something about it and maybe think about **closing them all** and start over from scratch.

Regards.

[2019-10-18 07:57] riahc3 opened #63664 "Failed command was: ( umask 77 && mkdir -p"
##### SUMMARY
Trying to connect via SSH and getting a error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Connection

##### ACTUAL RESULTS

[code]
/var/log/ns.log shows this exact same message as well.

[2019-10-18 08:24] Fred-sun commented on #57965
@mybayern1974 Please take a look this issue when you're free! Thank you very much!

[2019-10-18 08:26] ElSamhaa commented on #46660
not working either on ansible `2.8.5` nor `2.10.0.dev0`

[2019-10-18 08:27] Fred-sun commented on #57254
@mybayern1974

[2019-10-18 08:29] ganeshrn commented on #63255
resolved_by_pr #63463

[2019-10-18 08:29] #63255 closed, assigned to ganeshrn

[2019-10-18 08:29] Fred-sun commented on #56776
@mybayern1974 Please take a look at this issue when you're free! Thanks a lot!

[2019-10-18 08:33] Fred-sun commented on #56774
@mybayern1974 Please take a look at this issue when you're free! Thanks a lot!

[2019-10-18 08:57] esuarezsantana commented on #63558
That's a small change in the proposed script. With the new setup it is expected that `var1` and `var2` will behave same as `var3`:

* Case 1: `var1`, `var2` and `var3` are visible to `main`.
* Case 2: `var1`, `var2` and `var3` do not reach role `c`.
* Case 3: on role `c`, if I ask to debug/msg `var2`, then it whines about `var2` as well.

Case 3 now works fine, but I still have problems with both

[2019-10-18 08:59] ElSamhaa commented on #49254
same here with `ansible 2.8.5`. Using var:`ansible_host_key_checking` doesn't seem to have any effect.

The configuration option works fine though.

[2019-10-18 09:07] pgbidkar commented on #25714
* [x]  Add a new disk. Remove is not required.
 * [ ]  Disk IO limits/shares.
Add a new disk. Remove is not required. feature is implemented in vmware_guest_disk module.

[2019-10-18 09:09] stas-sbi opened #63668 "Precendence: why playbook variables win over inventory ones?"
##### SUMMARY
Documentation says that playbook level variables override an inventory ones. Can somebody explain why this is the case? To me this is counter-intuitive and keeps leading to mistakes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- unrelated

##### STEPS TO REPRODUCE
[code]
[code]
[code]
[c

[2019-10-18 09:11] ganeshrn commented on #60591
@AmillerSC The value of `prompt` option is a python regex. Hence any special character is considered as a regex pattern

[2019-10-18 09:11] #60591 closed, assigned to ganeshrn

[2019-10-18 09:14] joeltoaspern commented on #63509
@carchi8py I opened this issue: https://github.com/ansible/ansible_collections_netapp/issues/12

[2019-10-18 09:35] #61685 closed, assigned to nobody

[2019-10-18 09:57] pgbidkar commented on #62810
Hi @timmc , Thanks for sharing the playbook. From the [reference](https://support.microsoft.com/en-us/help/909264/naming-conventions-in-active-directory-for-computers-domains-sites-and), I filtered these chars **;=-+[]** which are allowed, from the list of string.punctuation. I believe only '-' (Dash) can be allowed. I have not come across any server names containing other chars.
Let me know your

[2019-10-18 10:37] s-hertel commented on #55775
There are still a couple open PRs, but I'm closing this since those are better places to track the individual issues. Thanks @tremble!

[2019-10-18 10:37] #55775 closed, assigned to nobody

[2019-10-18 10:37] raneq commented on #63204
Ok, I only needed to install the python2 psycopg2 lib. The result for users is good!

For `ansible-playbook playbook.yml --ask-become -vvv --tags user` I get:
[code]

[2019-10-18 10:41] raneq commented on #63204
However, and I was aware of it, #63565 enhances the user module but not the db one. Do you have any plans for it, are there any added difficulties?

Thanks again for your work and attention @Andersson007 !

[2019-10-18 10:47] senilio opened #63672 "win_dns_record: option to automatically create PTR record"
##### SUMMARY

When creating an A or AAAA record using the `win_dns_record` module, it would be nice to have the option to automatically create the "associated PTR record". This tick box is available in the DNS Manager GUI when manually creating an A record.

Having this option would basically cut my DNS definition dict in half, since I would't have to define all PTR's.

[DNS Manager GUI screensho

[2019-10-18 10:59] rosowiecki opened #63673 "parted doesn't set name when creating gpt partition on busy table"
##### SUMMARY

Contrary to the documentation, parted module doesn't set name for GPT partitions it creates. It is able only to change name of existing partitions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

parted
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]
Note that script doesn't set the partition name set by name, it creates partition named "primary" instead (parti

[2019-10-18 11:07] zaskan commented on #57399
Hi guys,

This customer's code is failing too. Her's code is not in a role but she is using a loop. I'm able to reproduce the error.

[code]

[2019-10-18 11:11] rosowiecki commented on #63673
Related issue: #63640

Busy table handling is not handled by parted program itself well... IDK if it's very useful to workaround this in ansible module :/ Unfortunately: it's often my scenario to re-create only missing partitions (not whole table from scratch), so for now my playbook is full of workarounds, but ultimately I'm going to submit a PR with option to parted to ignore "kernel failed to r

[2019-10-18 11:20] felixfontein commented on #63553
Adding an option `csr_content` for `openssl_certificate` is pretty simple. What I'm more concerned about is how `openssl_csr` has to change for this. Right now, it also supports all `file` module options, which wouldn't make any sense anymore. Also, idempotence checking doesn't make sense anymore. (In your example, `csr_created is changed` would be equal to `true`.)

If we do this, we need to make

[2019-10-18 11:20] #59096 closed, assigned to nobody

[2019-10-18 11:37] rosowiecki opened #63676 "Option for parted module to handle busy partition"
##### SUMMARY

Currently parted module fails on "WARNING: the kernel failed to re-read the partition table" even when performed task doesn't require table reload (for example: changing partition name #63640). It would be convenient to have an option to ignore this warning from /sbin/parted and continue, possibly notifying handler to reboot machine before continuing playbook.

##### ISSUE TYPE
- Fe

[2019-10-18 11:42] kolas1 commented on #42696
Hello all involved,

Could someone clarify why **break** is used in this loop?
why not **continue**?
In my case I have issue with one file,  which cannot be processed by Get-FileStat for some reason,
and it is in $paths_to_check list at one of the  first places.
Therefore I am not able to process all content of  $paths_to_check  because of breaking loop.
Is there any strong background to have **br

[2019-10-18 11:44] #55045 closed, assigned to nobody

[2019-10-18 11:45] pgbidkar commented on #62408
Hi @jillr , I am suspecting issue with conditions here
https://github.com/ansible/ansible/blob/b02467961a5d9357d48ea2d955bc4de69308a16c/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1056

https://github.com/ansible/ansible/blob/b02467961a5d9357d48ea2d955bc4de69308a16c/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1035

here variable change_detected in set to True but I dont see change_appl

[2019-10-18 11:53] #62862 closed, assigned to nobody

[2019-10-18 12:17] Andersson007 commented on #63204
@raneq , you're welcome!
about the other modules - of course, i know, almost all of them handle queries generated by "owner:" param, for example, incorrectly with names containing dots,
so i'm going to go throw them all one-by-one starting from next week

[2019-10-18 12:27] ShahanawajMulla opened #63677 "aws_s3 module can not download data to client machine"
##### SUMMARY

Deploying my project on the client machine. So I need some packages to download from the S3 bucket to the client machine.

##### ISSUE TYPE
- Bug Report
Getting permission denied or directory not found an error on the client machine.

##### COMPONENT NAME

aws_s3
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUC

[2019-10-18 12:54] cr00836 opened #63678 "vmware_guest: windows customization"
##### SUMMARY

Even i don't set the customization parameters, when i do a clone from template of a windows machine the vmware customization starting and changing the hostname and the server SID.
It's possibile to prevent this behaviour?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible 2.8.

[2019-10-18 13:09] raneq commented on #63204
Oh, I didn't think about it. However, I meant that not the owner user of
the DB, but the DB name itself, can't contain dots right now. Maybe we
can create another issue to track it better? As you see.

El 18/10/19 a les 14:19, Andrey Klychkov ha escrit:

[2019-10-18 13:27] mibaboo opened #63681 "Import image stream using k8s"
##### SUMMARY
How do I import an openshift image stream using the k8s module. It was possible using the  openshift_v1_image_stream_import module which has been depreciated over the k8s module. See this issue which shows the image_stream_import
https://github.com/openshift/openshift-restclient-python/issues/66

##### ISSUE TYPE
I cannot find image stream import in any documents.

##### COMPONENT NA

[2019-10-18 13:35] angystardust opened #63683 "dnf module crashes when omitting a specific appstream version"
##### SUMMARY

Reading the [dnf module documentation](https://docs.ansible.com/ansible/latest/modules/dnf_module.html), I should be able to install a yum module just specifing an appstream module name with a profile without the need to specify an appstream version.
But if you omit the appstream version, the dnf ansible plugin crashes with a strack-trace

##### ISSUE TYPE
- Bug Report

##### COMPON

[2019-10-18 13:45] arlaneenalra opened #63684 "lineinfile crash on 2.8.6"
##### SUMMARY
With Ansible 2.8.4 the following task worked successfully:

[code]

as soon as systems started install Ansible 2.8.6 and attempting to run the same task we started seeing errors like:

[code]

These look very similar to the #63077 but not quite the same and in a different module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONF

[2019-10-18 13:51] arlaneenalra commented on #63684
!file

[2019-10-18 13:51] arlaneenalra commented on #63684
Sorry, mistyped the component name initially:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/lineinfile.py

[2019-10-18 14:12] bcoca commented on #63543
@alwaysharsha `roles:` won't support anything other than a list of roles, if you wan to use blocks `import_role` and `include_role` are your options.

[2019-10-18 14:24] arlaneenalra commented on #63684
Did a little further digging and it looks like the issue is that https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/lineinfile.py#L410-L416 is expecting b_lines to have an entry per line when it doesn't

b_lines in a failng run:
[code]

[2019-10-18 14:29] sivel commented on #63481
cc @abadger

[2019-10-18 14:36] #63406 closed, assigned to Qalthos

[2019-10-18 14:36] mtucker502 opened #63686 "httpapi truncates set-cookie header on comma"
##### SUMMARY
The httpapi plugin is truncating the Set-Cookie header

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/urls.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Junos Space 18.3R1.4

##### STEPS TO REPRODUCE
The Junos Space API upon POST'ing to the login endpoint will return the following Set-Cookie header:
[code]

Howe

[2019-10-18 14:41] sivel commented on #63686
This might be related to actually getting multiple `Set-Cookie` headers.  `fetch_url` has some code to ensure that on Py3 we don't lose those duplicates, but not all functions use it.

https://github.com/ansible/ansible/blob/76b5b90bd6fdf4ac3fb785f81c5fab18445db2e2/lib/ansible/module_utils/urls.py#L1498-L1508

I have a PR where I move that into a standalone function that can be reused:

https://gi

[2019-10-18 15:10] bcoca commented on #32726
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because this is not a feature we are going to implement and no one else seems to have expressed any interest in doing so either.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't

[2019-10-18 15:10] #32726 closed, assigned to nobody

[2019-10-18 15:11] bcoca commented on #37131
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-10-18 15:11] #37131 closed, assigned to nobody

[2019-10-18 15:11] mtucker502 commented on #63686
You're right.

[code]

[code]

[2019-10-18 15:12] mtucker502 commented on #63686
I saw other PRs for similar issues and have started updating connection/httpapi to use fetch_url but it's slow going.

[2019-10-18 15:17] bcoca commented on #40086
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because we don't think there is much demand for this feature and it would require a major redesign on how handlers work for some thing that is easily expressed in multiple tasks.

However, we're absolutely always up for discussi

[2019-10-18 15:17] #40086 closed, assigned to nobody

[2019-10-18 15:20] bcoca commented on #40149
needs_info

[2019-10-18 15:22] sivel commented on #63686
Moving to `fetch_url` wasn't really my recommendation, it was to move the header normalization to a function and use that in combination with `open_url`.

[2019-10-18 15:26] bcoca commented on #34455
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because awx/tower already has this functionality and we have seen no demand to add this to Ansible itself.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments on

[2019-10-18 15:26] #34455 closed, assigned to nobody

[2019-10-18 15:27] GomathiselviS commented on #51132
Hi @IPvSean , Can you please verify if this in the stable 2.9 build?

[2019-10-18 15:33] bcoca commented on #40316
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because we think that current configuration options are sufficient and don't want to add yet another precedence caveat for vars/configuration.

However, we're absolutely always up for discussion.
Since this is a really busy proj

[2019-10-18 15:33] #40316 closed, assigned to nobody

[2019-10-18 15:34] abadger commented on #63481
If you want to rebuild outside of ansible's process start with the ansible engine spec file or the fedora/epel spec file

[2019-10-18 15:34] #63481 closed, assigned to nobody

[2019-10-18 15:35] bcoca commented on #23864
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because as previously stated, for more complex behaviour on URL fetching use the uri/get_url plugins instead.

However, we're absolutely always up for discussion.
Since this is a really busy project, we don't always see comments

[2019-10-18 15:35] #23864 closed, assigned to abadger

[2019-10-18 15:37] samdoran commented on #39803
This is no longer an issue in newer versions of Ansible. I verified with 2.8.5 that tmp files are removed when using `/dev/shm` for temp files.

[2019-10-18 15:37] #39803 closed, assigned to nobody

[2019-10-18 15:37] bcoca commented on #40278
closing as per above

[2019-10-18 15:37] #40278 closed, assigned to nobody

[2019-10-18 15:44] bcoca commented on #26364
can you confirm this is still the case with recent versions of Ansible?
Also can you test switching to `include_tasks` and `import_tasks` inside the preinstall role?

needs_info

[2019-10-18 15:48] bcoca commented on #17012
closing as per above, this is expected behaviour.

[2019-10-18 15:48] #17012 closed, assigned to nobody

[2019-10-18 15:49] mattclay commented on #26085
These tests are passing on devel and all supported branches. Since this was reported for Ansible 2.3 and that version is no longer supported, I'm closing this issue.

[2019-10-18 15:49] #26085 closed, assigned to mattclay

[2019-10-18 15:51] bcoca commented on #20383
This might have changed in the past due to lack of order in groups when processing host_vars/group_vars, but the current behavior is the intended one, closing this as not a bug.

[2019-10-18 15:51] #20383 closed, assigned to nobody

[2019-10-18 15:53] bcoca commented on #19736
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR for now, we have plans for ansible-lint in the future but they probably will be related to galaxy and collections and not the core repo.

However, we're absolutely always up for discussion.
Since this is a really busy project, w

[2019-10-18 15:53] #19736 closed, assigned to nobody

[2019-10-18 15:55] #57666 closed, assigned to hexdump0x0200

[2019-10-18 16:00] bcoca commented on #40536
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because the errors are fundamentally different, we cannot assume all 'list errors' are also quote errors, so we can only give you the full error in the later case.

However, we're absolutely always up for discussion.
Since this

[2019-10-18 16:00] #40536 closed, assigned to nobody

[2019-10-18 16:13] nitzmahone commented on #63341
Yeah, this was a known shortcoming/limitation of the original collections role execution (IIRC it'll behave similarly with role deps that have the same name).

It *should* be a pretty easy fix now, since we have the collection name available in most incarnations of the role object, so should just need to include that in the role cache key.

[2019-10-18 16:52] bcoca commented on #63341
@nitzmahone by always using the FQCN you should solve all issues of duplication

[2019-10-18 16:53] mjnorman opened #63691 "win_package fails when arguments are passed as list"
##### SUMMARY
When using win_package and passing multiple arguments as a list, arguments are not correctly being interpreted.  This is proven by the fact that installation logs are not created at the destinations supplied in the arguments.  When those same arguments are passed as a single parameter, arguments are interpreted correctly since the logs are created in the correct destinations.

#####

[2019-10-18 16:55] russelljftw opened #63692 "azure_rm_virtualmachine setting "latest" version of image gives inconsistent results."
##### SUMMARY
when creating a new VM, using azure marketplace images, selecting "latest" as the version does not always give the most current version of the image.  In June, it looks like MS changed the naming standard on some of their marketplace images

if you hardcode the version to the current image it will deploy the specific image.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_r

[2019-10-18 16:56] mjnorman commented on #63691
@JimFicarra

[2019-10-18 17:14] nitzmahone commented on #63341
Yep, agreed- I'm just not 100% sure we have access to it in every place that needs it (since there are so many subclasses/sibling classes for roles that get created in so many places).

[2019-10-18 17:32] cbudz commented on #63024
@samccann filed pr:https://github.com/ansible/ansible/pull/63693/

[2019-10-18 17:54] bcoca commented on #63341
is there any place that you can ref a collection role w/o using the FQCN? cause that would be only case in which it would not be the role name (unless we are specifically removing the namespace.collection part)?

[2019-10-18 18:21] mtucker502 commented on #63686
@qalthos

For now I will override update_auth() in my plugin to resolve this.

Should we fix this in main __init__.py:update_auth() or in httpapi.py:send() itself?

[2019-10-18 19:21] holta commented on #63684
Thanks @arlaneenalra for escalating this serious issue in Ansible 2.8.6

FWIW this Ansible problem/regression does not occur with Ansible 2.8.5 and 2.7.14

FYI this bug is greatly affecting (preventing) installations of http://internet-in-a-box.org

[2019-10-18 19:38] sivel commented on #63684
I believe this is the only change made in lineinfile for the 2.8.6 release: https://github.com/ansible/ansible/pull/63194

cc @Andersson007

[2019-10-18 20:40] timmcross commented on #62810
What does that mean, filtered?  Are you updating the vmware_guest.py module?

[2019-10-18 20:45] maxamillion commented on #63683
The line `File "/usr/lib/python3.6/site-packages/dnf-plugins/spacewalk.py", line 84, in config` makes it look like the `spacewalk` dnf (YUM4) plugin on the CentOS 8 machine is what's causing the failure.

Can you provide the first few lines of output from this command on the CentOS 8 machine? -> `yum updateinfo -v`

The output should look similar to:
[code]

Also, just to verify that's what's caus

[2019-10-18 20:49] kbreit commented on #63012
@feisa Following up. I am working on improving some code that I suspect, but don't know for sure, is affecting your bug. Would you be open to testing the potential fix?

[2019-10-18 20:50] samdoran commented on #63684
@arlaneenalra Thank you for reporting this. Please test with #63696 and see if that fixes the issue. I have added tests for this scenario to prevent future regressions.

[2019-10-18 20:50] feisa commented on #63012
Yes of course

[2019-10-18 21:07] arlaneenalra commented on #63684
[code]

Assuming I did this correctly, it appears to work.

[2019-10-18 21:16] kbreit commented on #63012
Use https://github.com/kbreit/ansible/blob/meraki/bugfix/63012/lib/ansible/module_utils/network/meraki/meraki.py as the module utility for the Meraki module. I'm not sure if this will fix your problem but the module has had problems with bad or empty responses from Meraki. I'd like to test this first as it needs to be fixed anyways.

[2019-10-18 21:50] alikins opened #63699 "'ansible-galaxy collection publish' fails against v3 galaxy API"
##### SUMMARY

When using ansible-galaxy configured to point to a galaxy v3 or 'automation-hub' style
API, 'ansible-galaxy collection publish' fails while polling for the import task to be finished.

See https://gist.github.com/awcrosby/2386cbb70fa92a2e9c6c9b5b3ae9a80a

[code]

Note the line:
`Waiting until Galaxy import task http://localhost:5001/api/automation-hub/automation-hub/v3/imports/colle

[2019-10-18 21:51] alikins commented on #63699
Pinging @abadger @chouseknecht

[2019-10-18 22:05] nitzmahone commented on #63341
You can *refer* to a collection role that way, but we'll ultimately resolve it to a collection and store the collection on the role object. So unless you did something weird like add a collection's roles dir directly to your role path (in which case we'd exec it as a classic role, not a collection role)...

[2019-10-18 22:37] sshnaidm commented on #46362
@felixfontein

I added diff support in current revision: https://review.opendev.org/#/c/688574/ Fortunately it was easy, just create text with "before" and "after" and then "diff" callback will do all for you. Difference is collected in the same place where it's checked for difference, I think it's quite logical to do.
Also added support for "check mode", where nothing is done but just podman comm

[2019-10-19 01:19] pfac commented on #63526
@jwarnier @rshbb can you please test your use cases with the find module as proposed in #63701?

Let me know if you need some tips on how to do it without much effort.

[2019-10-19 01:49] elnur commented on #63601
Same problem with `etcd` lookup. It's not limited to `credstash`.

[2019-10-19 02:09] willthames commented on #63652
I'm not sure what you expect to happen when validating a non-existent resource with a badly formed validate parameter.

The problem here is that `kind` is `None`, and so doesn't have an `endswith` object. `kind` can be supplied in a number of ways (through `src`, `definition` and `kind` itself) so it's difficult to check every single edge case (not saying we shouldn't). While we could improve erro

[2019-10-19 06:06] #59007 closed, assigned to nobody

[2019-10-19 06:32] smacz42 opened #63702 "Allow passing of variables with "import_playbook" to bypass playbook "vars_prompt""
##### SUMMARY

When a variable is set in a parent playbook, and a child playbook is being imported, even if the variable exists for that server, Ansible prompts for the new variable. There should exist a way that Ansible recognizes that the variable already exists and skip the prompt.

Additionally, when the var is prompted for in the second playbook, whatever it is set to does not override the va

[2019-10-19 06:47] blightbow commented on #56576
It truly only needs Python2 to show this behavior.

[code]

Here are the ansible versions from ADMINHOST and TARGET;

[code]

[code]

Let me know if you want to sync up in an IRC channel or somesuch. This is a work environment and I can't screenshare, but I'm happy to be your hands. This one is just flat out bizarre.

[2019-10-19 13:07] Akasurde commented on #63664
[code]

[2019-10-19 13:39] felixfontein commented on #46362
Yes, that's what the docker_container module is doing as well.

And I hope `changed` is set to `True` :)

I agree. (The docker_container module doesn't do that either. I think it simply returns the current container's inspect results, or none in case the container currently doesn't exist.)

That would definitely be a good thing.

BTW, I noticed that you didn't address a lot of things I pointed out

[2019-10-19 13:53] msnelling commented on #59089
@chris-kiick-sp I'm using a free https://app.terraform.io account and this solution doesn't work with the same error the OP posted.
[code]

[2019-10-19 14:03] thanos1983 commented on #56576
I had exactly the same problem and I applied the following on target host:

[code]

Then verify that all the relevant packages are installed on target host:

`sudo yum install -y ansible python-websocket-client python-docker python-urllib3`

In case you have installed Python3 on target host (locahost as well) repeat the same procedure (recommended as Python2 will reach end of life on 1/1/2020) :

[2019-10-19 14:06] thanos1983 commented on #56576
In case you do not have RH distribution available to launch on a VM I assume the same behavior will still apply on Centos7.*

[2019-10-19 14:42] felixfontein commented on #56576
I've tried replicating this with CentOS 7 as follows:
[code]
This installs ansible 2.8.6 (latest non-prerelease) and docker 4.1.0 on the remote server. If I run this playbook with `devel` or `stable-2.8` (which is essentially 2.8.6), it works: `docker_service` and `docker_container` can import `docker`, but can't talk to the docker daemon (no surprise as there isn't any).

If I try it with `stable

[2019-10-19 15:01] felixfontein commented on #56576
One reason for this happening could be:
 - The Python module importing `docker` for Ansible 2.7 is in the package `ansible.module_utils`;
 - In Ansible 2.8 (and newer), there also is a package `docker` in `ansible.module_utils`, and the Python module importing `docker` in Ansible 2.8 (and newer) is in the package `ansible.module_utils.docker`. So it could be that `import docker` will try to import

[2019-10-19 15:01] felixfontein commented on #56576
(See https://github.com/ansible/ansible/blob/stable-2.7/lib/ansible/module_utils/docker_common.py and https://github.com/ansible/ansible/tree/devel/lib/ansible/module_utils/docker)

[2019-10-19 15:02] felixfontein commented on #56576
Anyway, there's an obvious solution: upgrade to Ansible 2.8 on the controller, and/or remove Ansible from the target machine (or make sure it is 2.7 or older when you run 2.7 or older on the controller).

[2019-10-19 15:29] priyankaprabhune opened #63706 "Ansible hangs"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

Hi Team,

When I am trying to execute the ansible, it hangs. Earlier it was working without any issue, but suddenly I've started getting this error. Below is just example.. I'm getting this error for all the ansible commands that I'm trying to execute.

Please help me with this. I've seen multiple is

[2019-10-19 15:43] priyankaprabhune opened #63707 "Ansible Hangs"
##### SUMMARY
Ansible Hangs

##### ISSUE TYPE
Ansible Hangs, Whenever I'm trying to execute ansible command or ansible-playbook it gets hang

##### COMPONENT NAME
!component

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 6.10 (Santiago)

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
This ansible is just touching a file on server1, but it gets

[2019-10-19 15:46] #63706 closed, assigned to nobody

[2019-10-19 16:05] Akasurde commented on #22300
@arielyum Can you confirm if PR #25079 resolves your issue ? Thanks

needs_info

[2019-10-19 16:37] sysadmin75 commented on #63378
Looking at **lib/ansible/modules/files/find.py**, I see a couple things that prevents your example from working.
First, the function **contentfilter** searches the files line by line. It returns True on the first match.
Second, **\Z** only matches the last line of a string if it doesn't have a newline.
Here is how I tested this:
[code]

To make your example work, I believe the entire file will hav

[2019-10-19 16:57] #60119 closed, assigned to nobody

[2019-10-19 17:37] sanderdescamps commented on #63658
I looked into it further. I narrowed the problem down to this: When the setup module is used on a host other than the inventory_hostname, it uses the python interpreter from the inventory_hostname. This causes problems when you mix CentOS and Ubuntu machines.

[code]

[code]

I also found out that when you set `delegate_facts: True`, the host need to be in the inventory file. Otherwise the gathere

[2019-10-19 19:41] #63699 closed, assigned to nobody

[2019-10-19 19:51] angystardust commented on #63683
Hi @maxamillion Thanks for your support.
This is the output of `yum updateinfo -v` on the target CentOS8 host:
[code]
That's what happens if i tried to run the ansible module with the `disable_plugin: "spacewalk"` parameter

[code]
I've also tried to permanently disable the spacewalk yum plugin on the target machine:
`sed 's/enabled\ =\ 1/enabled\ =\ 0/' /etc/yum/pluginconf.d/spacewalk.conf`

but

[2019-10-19 21:20] baztian opened #63711 "xfconf module state absent causes exception"
##### SUMMARY
Running xfconf module with state = absent causes an error:

    AttributeError: 'NoneType' object has no attribute 'lower'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

xfconf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux mint

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I'm expecting the property (`/xfwm4/custom/<Alt

[2019-10-19 21:42] baztian commented on #63711
Also xfconf always reports "changed" for my work around.

[2019-10-20 03:42] Akasurde commented on #63711
!component =lib/ansible/modules/system/xfconf.py

[2019-10-20 03:43] Akasurde commented on #63711
@baztian Could you please fill other details in the issue so that it will be easy to debug ? Thanks

needs_info

[2019-10-20 05:37] maxamillion commented on #63551
Confirmed, it appears the code is re-instantiating the `YumBase` object many times which we shouldn't and don't need to. However, we must do it twice in the `state: absent` case because the `yumSack` and `rpmSack` data of the previously instantiated object becomes invalid and is no longer useful post transaction when we verify that the package removal did in fact take place.

I have a patch that I

[2019-10-20 05:44] maxamillion commented on #63588
Confirmed, it appears the code is re-instantiating the `YumBase` object many times which we shouldn't and don't need to. However, we must do it twice in the `state: absent` case because the `yumSack` and `rpmSack` data of the previously instantiated object becomes invalid and is no longer useful post transaction when we verify that the package removal did in fact take place.

I have a patch that I

[2019-10-20 08:36] david-freistrom opened #63715 "Cloud Misc - helm module timeout error"
##### SUMMARY
I use GCP and GKE with Ansible 2.9.0rc3 to deploy my Infrastructure and want using helm charts easily too.  But the helm module tries to connect to kubernetes via https to read secrets directly and runs into a timeout. If I use kubectl to get all secrets its working.

I use a local tiller server instead of a cloud installed.

##### ISSUE TYPE
Access Timeout

##### COMPONENT NAME
helm

[2019-10-20 08:54] dspautz commented on #63715
Issued identified in the gloom helm chart and not inside ansible helm module

[2019-10-20 08:54] #63715 closed, assigned to nobody

[2019-10-20 09:35] adakhin opened #63718 "delegate_to fails when host credentials contain variables"
##### SUMMARY
`delegate_to` fails to use correct credentials when hosts credentials include variables. Values used are such of current host, not of the host task is delegated to.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION

Found in 2.7.10, confirmed in 2.8.5 and devel:

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Master: CentOS 7.2 / RHEL

[2019-10-20 11:38] #61898 closed, assigned to Akasurde

[2019-10-20 12:35] mmallet-digipok opened #63721 "Inventory plugin azure_rm: incomplete inventory results if no primary ipConfiguration field"
##### SUMMARY
When using azure_rm inventory plug-in, given Azure subscription, the dynamic inventory results in an incomplete list of VMs, compared to the one that can be obtained in portal.azure.com or via Azure CLI.

The issue is mainly due to a parsing error that occurs in azure_rm.py. The code expects the 'primary' field to exist in the __nic_model['ipConfigurations'][X]['properties']__ dict.

[2019-10-20 14:42] riahc3 commented on #63664
If you are saying to check that log, I already checked and it says the same thing as that message....

[2019-10-20 16:16] Akasurde commented on #63664
@riahc3 I just re-pasted logs for readability, nothing else :)

[2019-10-20 16:42] jbenden commented on #63711
cc @russoz

[2019-10-20 18:56] kbreit opened #63726 "Meraki - 404 errors aren't properly handled"
##### SUMMARY
404 errors currently aren't handled properly. They should output something sensible which is a single line or two but it's instead showing a traceback.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki

##### ANSIBLE VERSION

[code]

[2019-10-20 19:30] baztian commented on #63711
Sorry @Akasurde the issue text got somehow lost. I've now updated it.

[2019-10-20 19:51] russoz commented on #63711
@baztian Thanks for reporting it. Bear in mind this module is about to get a major revamp in https://github.com/ansible/ansible/pull/62578
Cheers, Alex

[2019-10-20 22:26] atr0s commented on #63601
I've had similar issues with other lookup plugins and it looks like running ansible-playbook as root works around the problem. Definitely not a long term solution.

[2019-10-21 02:52] Fred-sun commented on #63692
@russelljftw Thanks for your report this issue! We're going to look into why do we return a sequence like this. Thank you very much!

[2019-10-21 02:52] Fred-sun commented on #63692
@mybayern1974 Would you please help take a look this issue? Thank you very much!

[2019-10-21 04:48] pgbidkar commented on #62810
Sorry if I have not conveyed correct!
What I meant is  ;=-+[] are special chars which are allowed out of list of special chars we
 get from string.punctuation.

[2019-10-21 06:27] Fred-sun commented on #62715
@mybayern1974

[2019-10-21 06:32] Fred-sun commented on #60528
@mybayern1974 Would you please help to check this issue? Thank you very much!

[2019-10-21 06:32] Fred-sun commented on #60619
@mybayern1974

[2019-10-21 06:33] Fred-sun commented on #60597
@mybayern1974

[2019-10-21 06:34] Fred-sun commented on #60100
@mybayern1974

[2019-10-21 07:07] Fred-sun commented on #59880
@mybayern1974

[2019-10-21 07:34] Fred-sun commented on #60100
Thank you for your message. Until ansible does not fix this problem, you can certainly solve it with az command module through the command module.

[2019-10-21 07:36] Fred-sun commented on #59496
@mabayern1974 Please help take a look this issue when you're free! Thank you very much!

[2019-10-21 07:45] meons opened #63730 "vmware_guest_disk Disk Unit number limited to 15, but since VMware 6.7 you can have 64 SCSI targets per adapter"
##### SUMMARY

vmware_guest_disk limits Disk Unit number to 15 because of VMware limitations. But since VMware 6.7 a SCSI target can have 64 targets per adapter...

https://configmax.vmware.com/guest?vmwareproduct=vSphere&release=vSphere%206.7&categories=1-0

https://www.vladan.fr/configuration-maximums/

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_disk

##### ANSIBLE VERSION

[2019-10-21 07:58] Fred-sun commented on #58585
@mybayern1974

[2019-10-21 08:22] mmorev opened #63732 "Shippable autotests failing docs due to !unsafe and ENV"
##### SUMMARY
Hello. I have submitted a PR with new module (https://github.com/ansible/ansible/pull/62851).
Module itself passes tests, but documentation sanity checks throw 2 errors, which are actually not.

This (https://github.com/ansible/ansible/pull/62851/commits/e4100add7a860910a28080f2ef520c1f0562ebb9) commit causes first test failure:
`lib/ansible/modules/files/vault_template.py:0:0: inval

[2019-10-21 08:35] peterducai opened #63733 "sudo with become is asking root user/pass instead of user"
##### SUMMARY
when u use **become** and it suppose to run sudo, it will run as **-u root** which is wrong as it ask root password by default. In real life when you run *sudo someuser* it will ask *someuser* password (as we dont run *su, su - or sudo -u someone*). By default it should be *-u someuser*.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible engine
Ansible Tower

##### ANSIBLE

[2019-10-21 09:01] CendioOssman commented on #63551
Great. This issue was about the case where things are already installed though. Have you checked if your patch also improves that? E.g. this play:

[code]

[2019-10-21 09:25] mridude23 commented on #63204
@Andersson007 Hi and thanks for working on the postgresql_user module.
How should I proceed if I would want to have it working on my ansible install? I can see that #63565 is tagged with v2.10. Is it mandatory to wait until that specific version is released or can we (the consumers) incorporate it sooner?
Not a big fan of  hacks to be honest when cleaner version exists :)
Thanks again.

[2019-10-21 09:39] ssbarnea opened #63734 "ansible-galaxy templates are not tested with ansible-lint"
##### SUMMARY
At this moment the newly created roles made with ansible-galaxy are not passing ansible-lint and that should never happen because both tools aim to help people to write better code.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
galaxy

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Linting a newly created role should return no errors and

[2019-10-21 09:41] kostiantyn-nemchenko commented on #63204
@mridude23 You have to wait until 2.10 is released or create a custom `postgresql_user` module as described [here](https://docs.ansible.com/ansible/latest/dev_guide/developing_locally.html#adding-a-module-locally).

[2019-10-21 09:59] ssbarnea commented on #63734
I should mention that if the team agrees that this is desired, I am glad to help with it, especially as this is now part of molecule testing. We added few excludes but apparently the list keeps growing.

[2019-10-21 10:02] gprossliner opened #63735 "win_get_url is not setting file dates"
##### SUMMARY
If you use the win_get_url module, and the server returns a Last-Modified Date, the win_get_url module doesn't set the Modification Date of the downloaded File to the retrieved value.

But this behaviour is documented in the module:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_get_url.py#L35

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_get

[2019-10-21 10:04] grzegorznowak opened #63736 "maybe a lineinfile bug after upgrading"
##### SUMMARY

`Lineinefile` module's issue ?

Hey folks,
I couldn't find exactly this problem in tickets, thus have created a new one. Sorry for the dupe if there was one already!

Seems to be related to the latest release `ansible==2.8.6`. works just fine in `ansible==2.8.5`
We're using roles with `molecule`, but I doubt it's related to that in any fashion.
Hopefully with just this information i

[2019-10-21 10:12] #63449 closed, assigned to nobody

[2019-10-21 10:15] grzegorznowak commented on #63736
ouch ok, just ran onto the same issue in another role, this time from Jeff:
[code]

[2019-10-21 10:17] Andersson007 commented on #63204
@mridude23 thank you, i'll try to fix the other modules to handle usernames with dots until 2.10 is released (or maybe other contributors will do that)

[2019-10-21 10:33] D3DeFi commented on #63449
Thanks for the fix @sky-joker :)

[2019-10-21 10:45] philfry opened #63739 "redhat_subscription failes when system is already registered"
##### SUMMARY

On systems already registered to rhn the module `redhat_subscription` fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
redhat_subscription

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

some "changed: 0"

##### ACTUAL RESULTS

[code]

[2019-10-21 11:14] mridude23 commented on #63204
@Andersson007 Hi again, sorry for bugging you. Added a custom `postgresql_user` module for use only in my plays, as specified in the docs:
`To use a local module only in certain playbooks:
- store it in a sub-directory called library in the directory that contains the playbook(s)`

It picks it up when using it in the plays but throws an error `ImportError: cannot import name PgMembership`. Shouldn

[2019-10-21 11:23] raneq commented on #63204
I  had the same issue while replacing only the modified files from the PR. I then checked out the whole ansible project and used that instead of my ansible with modified module

[2019-10-21 11:31] mridude23 commented on #63204
@raneq I see. Thanks for pointing this out. Will try and do it this way.

[2019-10-21 12:06] KyleEvers commented on #63134
To be clear only the ansible apt module returns a hanging result, while shell apt works fine. The expected behavior is that
[code]
and
[code]
return the same result. However the apt module hangs meaning the default ```DEBIAN_FRONTEND: noninteractive``` is not being set/or honored by the host.

This is on the base version of Kali with no additional packages. I have verified this behavior running a

[2019-10-21 12:12] mridude23 commented on #63204
@raneq @Andersson007 Managed to make it work by adding a custom module and replacing the module_utils/postgres.py file and it works like a charm. Might not be the best solution honestly.
Do you have a plan for `postgresql_membership` to be modified as well?

While trying to grant role `test.user` another group role I'm being met with the same error as `postgresql_user` had at first: `PostgreSQL do

[2019-10-21 12:18] Andersson007 commented on #63204
@mridude23 , yes, i'm going to change all modules one-by-one where needed, soon :)

[2019-10-21 12:38] Yannis100 commented on #63616
Thanks for your detailed answer!

I upgraded to 2.8.5 even if I face the error when using _backup_ with _ios_config_ module in dry-run (--check)
The inventory plugin I use is the one in my pull request #60642

As my changes to the inventory plugin won't be merged until 2.10 release, only few people will probably use my version so approximately no one will face this issue (I guess, if the other inv

[2019-10-21 12:38] #63616 closed, assigned to nobody

[2019-10-21 12:45] peterducai opened #63747 "URI module: examples using username but params table says there is only url_username"
##### SUMMARY

examples using username but params table says there is only url_username

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

uri module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[uri module](https://github.com/ansible/ansible/edit/devel/lib/ansible/modules/net_tools/basics/uri.py)

[2019-10-21 12:58] s-hertel commented on #58650
@tremble figured out the underlying cause of why these tests are so flaky. They can take 30+ minutes to run, by which time the aws terminator is deleting dependencies.

[2019-10-21 12:59] hudeli commented on #63446
yes,some time happen with gather_facts: yes

[2019-10-21 13:08] leonidas-o opened #63749 "Failed to setup master kubernets cluster"
##### SUMMARY
Trying to setup a tripple master kubernetes cluster. When Executing the Playbook, at the beginning all is running fine. Several tasks also of other roles gets executed without any issues. After at least a minute we reach this role, where the error happens.
Some of the tasks gets executed on one master node, some on all master nodes etc.
In the ansible.cfg, I've set:
`ssh_args = -C -o

[2019-10-21 13:14] wkoot commented on #50905
The title of the issue and the various error messages posted in the comments don't all seem to relate to the content of the bugreport.
I'll assume that the problem is actually in `junos_config.py` and the error is indeed `Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration.`

Following the suggestion in the error, use `fromstring

[2019-10-21 13:30] justjais commented on #63623
Fix merged in devel and backport created for `2.9`, closing the respective issue