[2022-09-14 14:07] opulasli414 opened #78768 "Unable to Create Link Templates for Zabbix Host with List Variable"
### Summary

I have an Ansible job which creates Zabbix host. It has "link templates" section inside of it. This link templates section accepts values as a list. I am passing the link templates information from vars/main.yaml file. However when I run the ansible playbook, it works without an error but when I check the Zabbix host, I can only see the first link template in the vars/main.yaml is att

[2022-09-14 14:17] #78768 closed, assigned to nobody

[2022-09-14 14:26] bcoca commented on #30411
@BillKanawyer
|This is not a substitute for Ansible failing to support a task timeout value, something badly needed.

like the existing timeout keyword?
https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html#task

Which i had commented about here previously https://github.com/ansible/ansible/issues/30411#issuecomment-998368948

[2022-09-14 14:31] bcoca commented on #78767
Changelog for 2.12.6:

- Prevent losing unsafe on results returned from lookups (https://github.com/ansible/ansible/issues/77535)
- arg_spec - Fix incorrect ``no_log`` warning when a parameter alias is used (https://github.com/ansible/ansible/pull/77576)
- plugin loader will now load config data for plugin by name instead of by file to avoid issues with the same file being loaded under different n

[2022-09-14 14:38] BillKanawyer commented on #30411
Thank you; I respectfully withdraw that observation.

[2022-09-14 14:47] bcoca commented on #30411
@BillKanawyer you have reminded  me of an idea, something we have sometimes done internally, appended 'strace' to the remote commands to try to give the user a way to narrow down the issue.   This might be worth adding to an 'execution mode' that will do this w/o making you jump through 8-10 steps.

[2022-09-14 14:59] MrCollaborator commented on #75776
I am having the same issue with one specific switch at the moment. Can be reproduced with 100% of connection attempts.

Ansible 2.13.3 on Python 3.8.10.
cisco.ios  3.3.0

Switch:
Catalyst 9300 with IOSXE 17.6.3

[2022-09-14 15:58] BillKanawyer commented on #30411
Having an 'execution mode' option that adds strace functionality would indeed be useful.

I have also been looking into using python trace:

[code]

This approach suggests my problem may not be the fault of regexp but rather a missing package:
[code]
Note that "import base64" is the last line in the stdout file "info.txt"

Using locate seems to confirm this.   So this approach is generating concre

[2022-09-14 16:02] bcoca commented on #30411
It does not import it directly, this happens in the common module_utils code, which does not guard on base64 since it is part of core python and 'assumed' to be present.

Any import that is not part of core python should be guarded, but core libraries are not required to be so, in any case, that should result in a quick error, not hanging.

[2022-09-14 17:03] mdinwoodie opened #78770 "[RFE] Hide passwords when using the `raw` module with `no_log: true`."
### Summary

When using the raw module with `no_log: true`, passwords are still exposed in the EXEC line of the debug-level output. This seems to be a limitation of the module, hence why I'm raising this as an RFE instead of a bug.

### Issue Type

Feature Idea

### Component Name

module: ansible.builtin.raw

### Additional Information

Any playbook using the raw module that contains a password i

[2022-09-14 19:06] nitzmahone commented on #77740
Closing as an apparent resource issue- out of memory isn't likely to be handled robustly with numerous subprocesses.

[2022-09-14 19:06] #77740 closed, assigned to nobody

[2022-09-14 19:08] samccann commented on #72381
Sorry about that @Dule-mart - the location to make that change is now at https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/collections_guide/collections_listing.rst#L26

[2022-09-14 19:11] nitzmahone commented on #77217
may be fixed by https://github.com/ansible/ansible/pull/78707?

[2022-09-14 19:15] nitzmahone commented on #74804
Using MANIFEST.in as of #78422, should provide the same capability.

[2022-09-14 19:15] #74804 closed, assigned to nobody

[2022-09-14 19:18] #78760 closed, assigned to samccann, oraNod

[2022-09-14 19:24] sivel commented on #73347
This commit https://github.com/ansible/ansible/commit/400475acc033ea146c8dc4929e347166ee85c0e6 added additional handling to enforce and provide friendly errors that `meta/requirements.yml` must be v1 format.

The `ansible-galaxy install` command can handle both, whereas the `role install` and `collection install` are specific.

I'm going to proceed with closing this.

If you have further questions

[2022-09-14 19:24] #73347 closed, assigned to nobody

[2022-09-14 19:24] nitzmahone commented on #74869
Closing, since `default` in this case isn't a well-defined concept- longer-term we may end up deprecating in favor of smaller units of information per-interface...

[2022-09-14 19:24] #74869 closed, assigned to nobody

[2022-09-14 19:33] nitzmahone commented on #77790
This was chosen for historical convenience and the "what most people expect most of the time" behavior- changing the default would break a lot of things and be a trip-hazard for new users. If you really want to change the default behavior for yourself, `module_defaults` might be something to look at. Closing as "by design".

[2022-09-14 19:33] #77790 closed, assigned to nobody

[2022-09-14 19:39] felixfontein commented on #77217
@nitzmahone maybe in some very specific situations, but in general it is not. I've just tried running `ansible-test integration --docker alpine3 openssh_cert` in community.crypto with [d0d99c31b0001f3df9828cace1e5b0f176c0b04f](https://github.com/ansible-collections/community.crypto/commit/d0d99c31b0001f3df9828cace1e5b0f176c0b04f) reverted, and with 78707 applied to ansible-core, and it is still fa

[2022-09-14 19:45] nitzmahone commented on #50044
This might be easier (or already fixed?) with the handler rewrite stuff @mkrizek has been doing

[2022-09-14 19:47] nitzmahone commented on #64031
Closing WRT: https://github.com/ansible/ansible/pull/69163#issuecomment-1226131203

[2022-09-14 19:47] #64031 closed, assigned to nobody

[2022-09-14 19:50] nitzmahone commented on #16259
This becomes *more* possible with the work @s-hertel is doing on remoting prompts

[2022-09-14 20:00] nitzmahone commented on #61689
Closed as above- making this work properly would introduce some brittleness to the task-time variable resolution that we're not really OK with...

[2022-09-14 20:00] #61689 closed, assigned to nobody

[2022-09-14 21:02] rafsalas19 opened #78772 "ERROR! Unexpected Exception, this is probably a bug: [Errno 9] Bad file descriptor"
### Summary

I ran into the error in the title when trying to run an ansible playbook from a prolog script for a job scheduler called Slurm.

The prolog script runs as a different user (Slurm user). However, I have the script switch to my user to run ansible-playbook.

The ansible-playbook command fails. Stack trace provided in a different section

I am able to run the same command manually as my

[2022-09-14 21:07] nitzmahone commented on #77217
Sounds like we might just need to make the extended attributes part "best effort", since IIUC there's no definitive and portable way to ensure that the underlying filesystem and security environment allows extended attributes without just setting one. For most one-way cases I doubt this would be a problem, but if a module expects to round-trip changes through a tempdir this way (eg, copy to tempdi

[2022-09-14 21:59] rafsalas19 commented on #78772
I think it might be looking for a way to output stdout and stderr. Once I piped stderr and stdout to a file the command executed correctly.

[2022-09-15 08:04] Rashmi-AnonymousNot commented on #78770
Hi, this is interesting. I think I can contribute to solve this issue. If possible, please assign it to me.

[2022-09-15 09:58] vickyvikas7988 opened #78776 "Unable to increase partition using anislbe while running manually on server it works"
### Summary

`# rpm -qa | grep growpart
cloud-utils-growpart-0.29-5.el7.noarch
`
When i run i from Anisble.
[code]

[code]

FAILED: sfdisk not found
I get above error while running through ansible but when I run it manually it doesn't error out.

When I execute directly on server
`#  # growpart /dev/sda 3
CHANGED: partition=3 start=1312768 old: size=102760448 end=104073216 new: size=250345438 end=

[2022-09-15 10:13] mkrizek commented on #78776
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2022-09-15 10:13] #78776 closed, assigned to nobody

[2022-09-15 12:11] draals opened #78779 "fetch_url tries to use gssapi even if default is false"
### Summary

When I try to use fetch_url in a module with basic auth it fails with
"An unknown error occurred: Major (131072): An invalid name was supplied, Minor (2529639136): Configuration file does not specify default realm:"

Issue seems to be
/ansible/module_utils/urls.py
[code]
Last line is the working one

Problem sees to be that use_gssapi is of another type than bool(False) and so it trie

[2022-09-15 12:51] maxgt16 opened #78780 "apt-repository adds wrong repo for ppa"
### Summary

After adding "ppa:ondrej/php" via "apt_repository" module and then execute "apt update" it throw the following error:
W: http://ppa.launchpad.net/ondrej/php/ubuntu/dists/jammy/InRelease: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details.

When adding the repo on the server via "add-apt-repository -y ppa:ondrej/php

[2022-09-15 13:15] s-hertel commented on #78779
@draals if this
[code]
does something different than
[code]
it means the module does not have a `use_gssapi` parameter in its argspec at all. The `use_gssapi` variable used as the default in that case also defaults to False so it seems like there must be another value getting passed to fetch_url. I don't see an ansible.builtin module doing both of those things. Can you share the task that produces

[2022-09-15 13:42] bcoca commented on #78770
@Rashmi-AnonymousNot just create a PR, we cannot assign tickets to 3rd parties (github limitation), also we don't use that to keep track of whom is working on them anyways.

[2022-09-15 13:48] s-hertel commented on #78762
@nstng Sorry, that was an oversight on my part. I've opened https://github.com/ansible/ansible/pull/78781 to fix it and corrected the test.

[2022-09-15 14:00] michaelschindhelm opened #78782 "ansible_distribution detects wrong distro"
### Summary

Running a playbook I noticed that ansible fails for one host. The playbook fail on that part:

   - name: Install sudo
    package:
      name: sudo
      state: present

Error:
fatal: [host05]: FAILED! => {"changed": false, "cmd": "dnf install -y python3-dnf", "msg": "[Errno 2] No such file or directory: b'dnf'", "rc": 2}

I noticed that the pkg_mgr is detected wrong:
$ ansible host0

[2022-09-15 15:03] #78600 closed, assigned to nobody

[2022-09-15 15:06] #78564 closed, assigned to nobody

[2022-09-15 15:46] #78690 closed, assigned to nobody

[2022-09-15 16:21] WilliamDEdwards opened #78784 "Install from `default_release` when package already installed"
### Summary

When passing `-t` to apt, the specified package is installed from the specified target release (e.g. `bullseye-backports`).

The specified package is also installed from the specified target release when it is already installed.

However, Ansible does not re-install an already installed package from the specified target release.

### Issue Type

Bug Report

### Component Name

apt

##

[2022-09-15 18:11] felixfontein commented on #75652
This has already been implemented some time ago, @samccann we can close this.

[2022-09-15 18:12] #75652 closed, assigned to nobody

[2022-09-15 18:19] Dule-mart commented on #72381
Is fine, @samccann you have always been a lifesaver when it comes to this ❤️️❤️️

[2022-09-15 18:22] felixfontein opened #78786 "Cannot show uri test docs"
### Summary

Running `ansible-doc -t test uri` produces
[code]
It tries to look at `uri.py` instead of `uri.yml` in the same directory.

Listing the tests shows that filter correctly, `--metadata-dump` does not.

This happens both with #78700 and without #78700. #77737 also demonstrates this.

### Issue Type

Bug Report

### Component Name

ansible-doc

### Ansible Version

[code]

### Configurati

[2022-09-15 18:38] felixfontein commented on #78786
Potential fix: #78788.

[2022-09-15 19:22] nitzmahone commented on #78767
Closing, since this is working as-designed- there were some intentional startup tradeoffs made for runtime performance, but since you're not using libyaml with your PyYAML, the slowdown is much more notable. We'd suggest installing a pyyaml version that has the libyaml extension included.

[2022-09-15 19:22] #78767 closed, assigned to nobody

[2022-09-15 19:35] nitzmahone commented on #78772
It looks like the prolog stuff is doing some hackery with the stdio FDs that are getting passed in to Python- since they're apparently not POSIXy enough, Python stdio is just borked. There's not really anything obvious we could do about that, so you'll probably have to wrap the invocation in a shell and redirect stdout/stderr to get "real" FDs into Python. Closing as not our bug...

[2022-09-15 19:35] #78772 closed, assigned to nobody

[2022-09-15 19:41] nitzmahone commented on #78780
Hi!

Thanks very much for your interest in Ansible. It means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC: #ansible on [irc.libera.chat](https://libera.chat/)
mailing list: https://groups.google.com/forum/#!forum/ansible-project
See this page for a complete and up to date list of communication ch

[2022-09-15 19:41] #78780 closed, assigned to nobody

[2022-09-15 19:42] #78762 closed, assigned to nobody

[2022-09-15 19:44] nitzmahone commented on #78782
Can you post the relevant output with `-vvv`?

[2022-09-15 19:53] bcoca commented on #78784
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said that setting the default_release should force the reinstall of the package

However, however what is happening is that. we see that the package is already ins

[2022-09-15 19:53] #78784 closed, assigned to nobody

[2022-09-15 21:02] WilliamDEdwards commented on #78784
This goes against the idea of Ansible.

A task describes the desired state. When a package is installed from another target release than the specified `default_release`, we have not reached the desired state. It is up to Ansible to make that happen...

[2022-09-15 21:25] bcoca commented on #78784
the desired state 'present' is there, the 'priority for install' is not part of the desired state, at least not in this form

[2022-09-16 05:41] michaelschindhelm commented on #78782
the playbook that does not work:

[code]

the wrong detection of the distribution:
[code]

[2022-09-16 07:50] mtoivo opened #78793 "Add option to disable DNS lookups in iptables module"
### Summary

When modifying firewall rules with `iptables` module in ansible, the iptables tries to do reverse lookups for the IP addresses in some occasions, which can cause huge delays when the defined DNS server is unreachable for some reason. When working with iptables from the command line, one can just use the `-n` -switch (`--numeric`) of the iptables binary to disable DNS lookups altogethe

[2022-09-16 08:23] Rashmi-AnonymousNot commented on #78770
Sounds good! I'll work on this and create a PR once I'm done.

[2022-09-16 09:26] tumbl3w33d commented on #35030
Is there meanwhile any way to achieve this?

[2022-09-16 11:01] shivamdurgbuns commented on #78675
I would like to work on this.

[2022-09-16 12:31] draals commented on #78779
I can't share the module. but it does call

resp, info = fetch_url(module, uri, headers={'Accept': content_type})

module should only have username/password and force_basic_auth=True
content type that was used was 'application/json'

But from what it seems Default value is set to False ,  but
in def open function there is a
if use_gssapi:
This seems to still be true so I suspect either the variabl

[2022-09-16 13:30] #78779 closed, assigned to nobody

[2022-09-16 15:14] ryaner opened #78795 "Dynamic inventory slow on large inventories"
### Summary

Dynamic inventories have grown particularly slow when they load up a large number of machines. Our inventory of 10k+ nodes is taking a little over 60 seconds from command start to the first ansible task running - assuming a fully cached local inventory which skips the fetch calls.

The issue appears to have started somewhere around Ansible 4.
Edit: Updated to highlight the core 2.11.1

[2022-09-16 15:27] opulasli414 commented on #78768
is there any update about this? It's a blocker for me.

[2022-09-16 16:00] s-hertel commented on #78768
@opulasli414 you are passing a list of lists instead of a list of strings. Try
[code]

The bot uses the component information to determine if this is the right repository for the issue. If you find a general issue in Ansible, set the component to something general also (like `vars`) so you can reopen it and the bot won't autoclose it.

[2022-09-16 16:39] oskarahner opened #78797 "Windows: winRM Read timed out. (read timeout=nnn). Again!"
### Summary

The winRM error

 "winrm connection error: HTTPSConnectionPool(host='1.2.3.4', port=5986): Read timed out. (read timeout=nnn)"

 is thrown and causes the ansible task to fail. It happens very unpredictable and seemingly randomly. It does not help (very little) to adjust the winrm setting 'ansible_winrm_connection_timeout' to different values, the exception is still thrown seemingly ra

[2022-09-16 20:42] shivamdurgbuns commented on #78358
@mattclay  Are we expecting here for `retries` to keep on trying even if getting unreachable errors?

[2022-09-16 20:56] evilhamsterman opened #78799 "apt module is not idempotent with package versions"
### Summary

I'm installing TimescaleDB with PostgreSQL for Zabbix. Zabbix requires a specific major.minor version of TimescaleDB, and does not support the latest version. So I have to install a specific version and to prevent people from upgrading it I pinned the package. However everytime I run the playbook it reports the package changed even though it did not which later triggers a restart of t

[2022-09-16 21:13] shivamdurgbuns commented on #78486
@opoplawski so this mobile user has to work on only new users? or new and existing users both?

and could you please explain the below

[2022-09-18 09:50] dareth-koh opened #78801 "Yum dont install packages"
### Summary
[code]
here's my httpd.yml
[code]
here's the error i gonna
[code]

Please advise.

### Issue Type

Bug Report

### Component Name

yum

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

centos 7.6

### Steps to Reproduce
[code]

### Expected Results

i expected the packages are installed

### Actual Results

[code]

### Code of Conduct

- [X] I agree to foll

[2022-09-18 11:17] ryaner commented on #78795
For the core 2.11.11 -> 2.11.12 regression, a3cc6a581ef191faf1c9ec102d1c116c4c2a8778 appears to be the cause. (https://github.com/ansible/ansible/pull/77696 for 2.11.11)

@bcoca I could be misreading things, but was moving `_load_config_defs` calls L814/L946 outside of if in cache blocks intentional? Pushing the load back so it only happens if not previously cached brings the speed back.

[2022-09-18 14:34] #75639 closed, assigned to nobody

[2022-09-18 17:06] sourcedelica opened #78803 "timeout and retry do not work together"
### Summary

Using the `timeout` and `retry` keywords together do not work as expected.

A typical use case for this would be downloading large files over a flaky connection.  We want to retry failed downloads but we don't want hung downloads to hang the whole playbook, so we want to be able to time them out.

### Issue Type

Bug Report

### Component Name

core

### Ansible Version

[code]

### C

[2022-09-18 23:50] jnm27 opened #78805 "Included files optimization can cause different tasks on different hosts to be assumed to be the same task in the free strategy"
### Summary

I hit a breaking bug that was causing a variable to have the "wrong" value intermittently. After a lot of research and testing with ANSIBLE_DEBUG, I narrowed it down to included_file.py's optimization that attempts to group included_files on different hosts as being the same.

Consider the pseudo-playbook pasted in the "Steps to Reproduce" section.

Now consider that hostA executes th

[2022-09-19 09:15] rssh22 opened #78806 "ansible-vault encrypt ignores --vault-id argument when invoking ANSIBLE_VAULT_PASSWORD_FILE"
### Summary

I have a vault-keyring-client.py like this:

[code]

and I have the next environment variables defined:

[code]

When I launch the ansible-vault script like this:

`ansible-vault encrypt --vault-id wls_pre --encrypt-vault-id wls_pre wls_pre.yaml`

the output is
[code]

As you can see, the --vault-id wls_pre passed as argument to ansible-vault is different to the received by vault-keyr

[2022-09-19 11:20] wookietreiber opened #78807 "[iptables] `chain_management: yes` for `jump: CHAIN`"
### Summary

I'm thankful that chain management got added with https://github.com/ansible/ansible/pull/76378. This feature request is about an additional condition for chain creation.

At the moment, `chain_management: yes` only works with `chain: name`. It does not work with `jump: CHAIN`, which I would like. I noticed this because I have a setup that attaches a chain **before** rules are added t

[2022-09-19 13:41] bcoca commented on #78795
yes as plugins can be loaded via multiple paths and this fixed an issue with config not being defined correctly when an alias was used. I'm not sure why that should slow down things so much since we do condition actual loading to the config not existing/being cached.

[2022-09-19 14:17] s-hertel commented on #78799
@evilhamsterman I think this has been fixed by https://github.com/ansible/ansible/pull/78327 (backported for 2.13.4 in b2553d162d948002284bd5c481ae11fda12cf1a9). Can you test against 2.13.4 or with that patch?

[2022-09-19 15:50] #78786 closed, assigned to nobody

[2022-09-19 15:56] JaroslavKlech commented on #72389
I will work on the issue.

[2022-09-19 16:42] evilhamsterman commented on #78799
I updated to 2.13.4 and it does look like it resolved the issue. Thank you

[2022-09-19 16:42] #78799 closed, assigned to nobody

[2022-09-19 18:05] cboylan opened #78809 "Understanding Ansible's Interpretation of Shebang Lines in Python Module Files"
### Summary

Zuul recently added support for Ansible 6. While testing this new functionality we discovered that our OpenStack Swift log upload module was no longer working because it had begun running against the global Python installation instead of the virtualenv installation with the openstacksdk library installed in it. That task is defined [here](https://opendev.org/zuul/zuul-jobs/src/commit/

[2022-09-19 20:51] kennedyjosh opened #78810 "Unable to clone private git repo on remote host"
### Summary

I am trying to clone a private git repo on a remote machine. This command works:
[code]
However, my playbook does not, and I believe it should be doing the equivalent of this.

### Issue Type

Bug Report

### Component Name

git

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

[code]

### Steps to Reproduce

[code]

### Expected Results

I expect the task

[2022-09-19 22:35] cboylan commented on #78809
Many of our modules had the shebangs in place using `/usr/bin/env` so that they could also be executed locally as python utilities without Ansible. If I am reading this correctly Ansible has in a way overloaded the purpose of the shebang to determine if `python` or `python3` should be used to to execute the module, but Ansible will still chose the correct interpreter of that type regardless of any

[2022-09-19 22:47] kennedyjosh commented on #78810
I modified my `ansible.cfg` like so:
[code]

And now it works. This seemed unnecessarily difficult to discover... is there documentation on this (config file, ssh_connection options, etc) that I'm missing?

[2022-09-19 22:49] kennedyjosh commented on #78810
What's especially strange to me is that this was working earlier. I'm not sure what I changed to cause it to no longer work, but it is pretty frustrating.

[2022-09-20 06:28] sherry442 commented on #78358
Yes, to retry even if we get unreachable error for defined number of times.

[2022-09-20 07:09] it-pappa commented on #78801
Can you install other packages or install directly with yum?
Try update your system and clean all chache maby?

Are you behind a proxy?

[2022-09-20 11:17] matya commented on #77840
Same issue here, SLES clients.

[2022-09-20 11:43] matya commented on #77840
I managed to get it working by patching `ansible/config/base.yml` with this:
[code]

As far I see there is no way other than fixing the version by setting `interpreter_python` globally or patching that file, since `INTERPRETER_PYTHON_DISTRO_MAP` is not exposed and `INTERPRETER_PYTHON_FALLBACK` is not honored if a `python3` is found, even if it is an old 3.4 one...

I find it _slightly unfortunate_

[2022-09-20 11:53] JaroslavKlech commented on #72389
Hey @samccann, the page that you were linking to in your comment was moved to docs/docsite/rst/tips_tricks/sample_setup.rst

I assume I should add your proposed note somewhere at the new location, right?

[2022-09-20 12:03] mtoivo commented on #78793
I'm working a solution for this at the moment, PR coming up for review a bit later.

[2022-09-20 12:59] bcoca commented on #78809
another point in our docs where we explain shebang usage: https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#how-do-i-handle-not-having-a-python-interpreter-at-usr-bin-python-on-a-remote-machine

@cboylan i would argue it is the 'same purpose', Ansible uses the shebang to know which interpreter to use, it does use more facilities than the kernel as we allow for a heterogeneous e

[2022-09-20 13:01] bcoca commented on #77840
it is configurable, (as you mention globally, by setting `interpreter_python) or per group/host by setting `ansible_python_interpreter` as a variable.

[2022-09-20 13:07] #18319 closed, assigned to nobody

[2022-09-20 14:21] samccann commented on #72389
@JaroslavKlech yes thanks, and thanks for digging out the new home! We've been doing some heavy forklifting on the user guide so most of the pages have moved around a bit.

[2022-09-20 15:04] georgettica opened #78815 "meta module have `end file` or `end block` actions"
### Summary

I want to make it so when I want to break early, I don't need to `end_play` or throw an error and catch it outside of a block.

thus I suggested an `end_block` or `end_file` to make it clearer

### Issue Type

Feature Idea

### Component Name

meta

### Additional Information

N/A

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

[2022-09-20 15:08] mkrizek commented on #78801
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2022-09-20 15:08] #78801 closed, assigned to nobody

[2022-09-20 15:16] dareth-koh commented on #78801
i had found the resolution. I added dns server in the resolv.conf and it works.

[2022-09-20 15:29] mkrizek commented on #78809
Closing as per above.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-09-20 15:29] #78809 closed, assigned to nobody

[2022-09-20 15:30] mkrizek commented on #78810
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2022-09-20 15:30] #78810 closed, assigned to nobody

[2022-09-20 15:35] #78815 closed, assigned to nobody

[2022-09-20 17:07] sivel opened #78818 "Update bundled distro to 1.7.0"
### Summary

Update the bundled package [distro](https://pypi.org/pypi/distro) from `1.6.0` to `1.7.0`.

### Issue Type

Bug Report

### Component Name

`lib/ansible/module_utils/distro/__init__.py`

### Ansible Version

2.15

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-09-20 17:07] sivel opened #78819 "Remove deprecated ANSIBLE_COW_ACCEPTLIST.env.0"
### Summary

The config option `ANSIBLE_COW_ACCEPTLIST.env.0` should be removed from `lib/ansible/config/base.yml`. It was scheduled for removal in 2.15.

### Issue Type

Bug Report

### Component Name

`lib/ansible/config/base.yml`

### Ansible Version

2.15

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-09-20 17:07] sivel opened #78820 "Remove deprecated ANSIBLE_COW_ACCEPTLIST.ini.0"
### Summary

The config option `ANSIBLE_COW_ACCEPTLIST.ini.0` should be removed from `lib/ansible/config/base.yml`. It was scheduled for removal in 2.15.

### Issue Type

Bug Report

### Component Name

`lib/ansible/config/base.yml`

### Ansible Version

2.15

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-09-20 17:07] sivel opened #78821 "Remove deprecated CALLBACKS_ENABLED.env.0"
### Summary

The config option `CALLBACKS_ENABLED.env.0` should be removed from `lib/ansible/config/base.yml`. It was scheduled for removal in 2.15.

### Issue Type

Bug Report

### Component Name

`lib/ansible/config/base.yml`

### Ansible Version

2.15

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-09-20 17:07] sivel opened #78822 "Remove deprecated CALLBACKS_ENABLED.ini.0"
### Summary

The config option `CALLBACKS_ENABLED.ini.0` should be removed from `lib/ansible/config/base.yml`. It was scheduled for removal in 2.15.

### Issue Type

Bug Report

### Component Name

`lib/ansible/config/base.yml`

### Ansible Version

2.15

### Configuration

N/A

### OS / Environment

N/A

### Steps to Reproduce

N/A

### Expected Results

N/A

### Actual Results

N/A

[2022-09-20 17:07] #78818 closed, assigned to nobody

[2022-09-20 19:56] georgettica commented on #78815
This is valid and I will check how I can implement it using these tools
If I get an MVP before this issue is closed I'll post it here

[2022-09-20 20:06] ghost opened #78823 "yum_repository has duplicated options"
### Summary

yum_repository has both `repo_gpgcheck` and `gpgcheck`, which are distinct options. One should be an alias of the other, or be removed.

### Issue Type

Bug Report

### Component Name

yum_repository

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

n/a

### Steps to Reproduce

n/a

### Expected Results

n/a

### Actual Results

[code]

### Code of Conduct

[2022-09-20 22:35] sivel commented on #78750
After spending several hours on this for a related issue, I can confirm that `2.14.0.dev0` and `ansible.netcommon==3.1.1` do indeed pass the variables to configure paramiko correctly.

However, the reason `ansible_ssh_common_args` doesn't work, is due to a slightly more complicated issue.

The `paramiko` connection plugin doesn't declare `ansible_ssh_common_args` as a valid configuration variable.

[2022-09-20 23:00] pnacht opened #78824 "Add the OpenSSF Scorecard Action"
### Summary

Hello, I'm working on behalf of Google and the [Open Source Security Foundation][ossf] (OpenSSF) to help essential open-source projects improve their supply-chain security.

Would you consider adopting an OpenSSF tool called [Scorecards][sc]? Scorecards runs dozens of automated security checks to help maintainers better understand their project's supply-chain security posture. It is d

[2022-09-20 23:06] sivel commented on #78823
These arguments, are for different functionality.

See https://linux.die.net/man/5/yum.conf

One deals with GPG signatures on packages, the other with GPG signatures on the repodata

[2022-09-21 04:42] DonBower opened #78827 "Allow additional facts to be discovered"
### Summary

Provide a special section (similar to `pre_tasks` and `post_tasks`) that would a variable to be defined, and default and override values to be set, either by clever jinja2 coding or flat out command script, so that specific facts relevant to the playbook could be gathered, and cached, against a given machine.

currently the only way I know how to set a fact value from the output of a

[2022-09-21 06:51] mtoivo commented on #78807
As I gather, what is needed is just to verify the existence of a a chain where jump is to be made, and if no such chain exists, create it?

[2022-09-21 08:34] oskarahner commented on #78797
@jborean93 I agree, when I looked at the documentation page for ansible regarding timeouts (https://docs.ansible.com/ansible/2.9/user_guide/windows_winrm.html) it clearly documents two variables:

ansible_winrm_operation_timeout_sec
ansible_winrm_read_timeout_sec

However in the connection module winrm.py only this option is actually parsed:
        self._winrm_connection_timeout = self.get_option

[2022-09-21 11:36] re-schneider opened #78832 "Cannot use lineinfile or copy modules when the destination file is in a restricted access parent folder"
### Summary

===== GLOBAL CONTEXT =====

Explanations:
Some modules (lineinfile, copy and maybe others) assume that they have write access to the parent folder in addition to the target file itself due to the 2-steps implementation decision. However, there is some real-life cases where the user/process has write access to a file but not the parent folder and where writing/copying still works in co

[2022-09-21 11:38] dzintars commented on #68915
I am using custom skeleton for roles in several "private/project" collections (multi-collection repository) and would like to have something like `[galaxy] init_path = ./collections/ansible_collections/namespace` in my `ansible.cfg`. Currently using `init --init-path ./collections/.......`.
But i can see the issue there with the case with multiple namespaces.
In any case, interested in some soluti

[2022-09-21 11:43] #78823 closed, assigned to nobody

[2022-09-21 13:02] cwiech commented on #78750
Thanks for digging into this. The challenge (and this was raised in the original ticket), configuring a proxy in ansibe.cfg limits you to a single device for the entire playbook/role. Similarly, defining a environment variable requires you somehow know the inventory before hand, and won't allow you to have any kind of mixed inventory that will live behind different bubbles.

In a complex network w

[2022-09-21 13:50] sivel commented on #78750
The pull request listed above addresses this. It adds those ssh arg variables back, though listed as deprecated. It also adds a variable for the `proxy_command` config.

The deprecations and new `proxy_command` variable will be for 2.15, the other vars will be backported.

[2022-09-21 14:02] bcoca commented on #78827
You can also just set in configuration what modules you want to set facts:
https://docs.ansible.com/ansible/latest/reference_appendices/config.html#facts-modules

At play level, , vars/vars_prompt and vars_files also are available before any tasks are attempted as well as extra vars in the command line.

[2022-09-21 14:12] bcoca commented on #78832
Have you tried `unsafe_writes`? https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html#parameter-unsafe_writes

[2022-09-21 15:58] #78750 closed, assigned to nobody

[2022-09-21 17:15] #76737 closed, assigned to nobody

[2022-09-21 17:15] #77673 closed, assigned to nobody

[2022-09-21 17:24] sivel commented on #73244
After a recent conversation, I believe the plan we want to take is to use the upcoming data tagging feature, to allow users to tags data in a playbook with `SensitiveForDisplay`, and not go down the route of another option in the module.  Regardless, either change would need to land in 2.15 at this point.

[2022-09-21 17:27] imjoseangel commented on #73244
Thanks @sivel

Then I won't do any change but I think this should be closed IMHO.

Regards

[2022-09-21 19:06] DonBower opened #78845 "lookup fails to find file with ansible.builtin.file"
### Summary

I am trying to retrieve the contents of a file for subsequent processing, but the `lookup('ansible.builtin.file', 'my-file-path')` fails with "can't find the file" even though the file clearly exists and is readable (644 mode)

### Issue Type

Bug Report

### Component Name

lookup

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ansible host: macOS Monte

[2022-09-21 19:32] sivel commented on #78845
Lookups only work on the controller, the do not consult the target hosts.  Whereas the `stat` module by default operates on the current target host in the play, `lookup()` always executes on the controller (localhost).  As such, `lookup` cannot fetch a remote file.  You would need to use the `slurp` module instead of `lookup`.

[2022-09-21 20:08] #78821 closed, assigned to nobody

[2022-09-21 20:08] #78822 closed, assigned to nobody

[2022-09-21 20:09] #78819 closed, assigned to nobody

[2022-09-21 20:09] #78820 closed, assigned to nobody

[2022-09-22 00:21] kennedyjosh opened #78853 "Customizable label for async polling"
### Summary

I use async polling to prove that my shell isn't hanging during the execution of a long command. For example:
[code]

This allows `make` to take up to 5 minutes, writing a message to the control machine every 5 seconds. However, the message looks like this:
[code]

This gives absolutely no information about the task being run that is meaningful to the user. Furthermore, the name of th

[2022-09-22 07:03] mattclay commented on #77762
This has been resolved by https://github.com/ansible/ansible/pull/78789

The deprecation message is suppressed, and ansible has been updated so it can work with newer versions of paramiko, which do not trigger the warning.

[2022-09-22 07:03] #77762 closed, assigned to nobody

[2022-09-22 08:38] ryaner commented on #78795
Added a PR #78856 for easier review. In current testing this restores all of the performance lost since 3.4 for us on the existing calls. We still lose some performance on everyday `ansible-playbook` calls but I've not located that part yet.

[2022-09-22 08:55] ryaner opened #78857 "Unable to intercept fqcn modules via action plugins"
### Summary

**Note:** First off I am not 100% that this is a bug. It could very well be that the short name behaviour that we and other uses is an unintended consequence, and if so confirmation of the same is probably enough. If we should be able to intercept, some guidance on how we should go about modifying the task executor would be appreciated and we can PR based on that.

Currently we have a

[2022-09-22 16:52] sharpmm opened #78861 "Inconsistent Return Values for Apt Module"
### Summary

When attempting to install a standalone deb package (none apt-get based) using the apt module the module does not report consistent information across two different types of runs.

This does not allow the correct handling of changed_when or failed_when calls since two different runs do not contain the same registered objects.

When installing a deb package on a host that does not have

[2022-09-22 18:14] mattclay commented on #74213
This regression was introduced in https://github.com/ansible/ansible/pull/75605 and is resolved by https://github.com/ansible/ansible/pull/78862.

[2022-09-22 18:42] sivel commented on #78861
Ref:

https://github.com/ansible/ansible/blob/f26f3325ba625e57b41049fcf75f6d74e587d23e/lib/ansible/modules/apt.py#L862-L866

[2022-09-22 19:04] mattclay commented on #78824
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.
Our reasons for this are:

   * After looking over the included checks, we don't see enough value in them to make this worthwhile.

However, we're absolutely always up

[2022-09-22 19:04] #78824 closed, assigned to nobody

[2022-09-22 19:05] mattclay commented on #78827
Closing per above.

[2022-09-22 19:05] #78827 closed, assigned to nobody

[2022-09-22 19:14] mattclay commented on #78845
Closing per the above.

[2022-09-22 19:14] #78845 closed, assigned to nobody

[2022-09-22 19:17] sivel commented on #78853
The lack of a task header implies you are using the free strategy, or similar non-linear strategy.  You could switch to the `linear` strategy, and the task headers would be printed.

Additionally there is an option described at https://docs.ansible.com/ansible-core/devel/collections/ansible/builtin/default_callback.html#parameter-show_per_host_start which will show you the task and host before the

[2022-09-22 19:17] #78853 closed, assigned to nobody

[2022-09-22 19:24] sivel commented on #78857
This is not a bug, and is expected behavior.  When using the short name, it will see your action plugin, and then call the module which will use the module redirect list, and ultimately redirect to the collection.

There is no way to accomplish this using an FQCN.  You would need to add the `jira` action plugin to the collection itself, or alternatively you have a few options:

1. PREFERRED: Use `

[2022-09-22 19:24] #78857 closed, assigned to nobody

[2022-09-22 19:26] bcoca commented on #78861
stdout and stderr fields only exist for 'direct cli executions' which is not the case here, as @sivel points out above

[2022-09-22 19:26] #78861 closed, assigned to nobody

[2022-09-22 19:28] #74213 closed, assigned to mattclay

[2022-09-22 19:37] sharpmm commented on #78861
Just so I understand, do you mean direct cli calls like a standard 'apt-get install' might be called directly via the command module?

[2022-09-22 19:43] sivel commented on #78861
No, it means that `stdout` and `stderr` in a module return, only come from the result of executing a CLI utility within that module.  The message from checking a deb package, comes from a Python library (python-apt) and therefore does not get inserted into `stdout` since it's not actually the stdout from a CLI utility that has been executed.

[2022-09-22 19:54] sharpmm commented on #78861
Ok thank you, I am seeing the behavior now, in that case can we move this into a feature request or should I submit new?

[2022-09-22 20:07] sivel commented on #78861
A feature request for what specifically?

[2022-09-22 20:58] jorhett opened #78865 "tarfile can be exploited per CVE-2022-30333"
### Summary

tarfile usage in https://github.com/ansible/ansible/blob/devel/lib/ansible/utils/galaxy.py#L89 is vulnerabile to CVE-2022-30333 as reported in https://thehackernews.com/2022/09/15-year-old-unpatched-python.html

### Issue Type

Bug Report

### Component Name

/lib/ansible/utils/galaxy.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

All

### Steps to R

[2022-09-22 20:58] jorhett opened #78877 "tarfile can be exploited per CVE-2007-4559"
### Summary

tarfile usage in https://github.com/ansible/ansible/blob/devel/lib/ansible/utils/galaxy.py#L89 may be vulnerabile to CVE-2007-4559 as reported in https://thehackernews.com/2022/09/15-year-old-unpatched-python.html

### Issue Type

Bug Report

### Component Name

/lib/ansible/utils/galaxy.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

All

### Steps t

[2022-09-23 07:29] bendem opened #78866 "Support firstmatch in ansible.builtin.replace"
### Summary

I have an httpd config with multiple `<Location>` tags and I'm trying to replace the value of one in the middle like so:
[code]

Using the replace module like so:
[code]

I get the following:

[code]

Looking at the code for the replace module, it's (ignoring required tests and documentations) a single line change:

https://github.com/ansible/ansible/blob/d3d7785472ce18ee79c2abb893be1

[2022-09-23 07:35] bendem commented on #78866
What I have tried with `lineinfile` and the result:

[code]

[code]

[2022-09-23 08:43] bendem commented on #78866
What does work:

[code]

[2022-09-23 09:29] JaroslavKlech commented on #55935
I can work on this.

[2022-09-23 09:31] JaroslavKlech commented on #55935
Hello @bcoca, could you please help me and  give me some pointers about where I could get some content about these arguments that we need to add to https://docs.ansible.com/ansible/devel/dev_guide/developing_program_flow_modules.html:

`_ansible_module_name, _ansible_string_conversion_action, _ansible_keep_remote_files, _ansible_socket, _ansible_shell_executable, _ansible_tmpdir, _ansible_remote_t

[2022-09-23 13:02] aaronhuff opened #78867 "Sudo password required when become=false"
### Summary

Ansible is failing with `sudo: a password is required` when running `ansible.builtin.file` or `ansible.builtin.find`. The task does not require privilege elevation and is running under the user who owns the folder and files.

Attempted to set `become=false` at runtime, in `ansible.cfg`, in play and in task.

Only workaround I found was to set `become_user=myuserid` for the unprivilege

[2022-09-23 14:04] bcoca commented on #55935
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/__init__.py#L958

[2022-09-23 14:24] balucio opened #78868 "ansible.builtin.tempfile does not respect delegate_facts"
### Summary

Using the module `ansible.builtin.tempfile` with `delegate_facts` set to `true` and   `delegate_to` set to `localhost` the registered variable is set on the current host (`inventory_hostname`) and not on `localhost`.

### Issue Type

Bug Report

### Component Name

ansible.builtin.tempfile

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian GNU/Linux

[2022-09-23 15:08] samccann commented on #72389
Fixed by https://github.com/ansible/ansible/pull/78858

[2022-09-23 15:08] #72389 closed, assigned to nobody

[2022-09-23 19:39] bcoca commented on #78868
registered variables are not facts

[2022-09-23 19:57] s-hertel commented on #78868
[ansible_facts](https://docs.ansible.com/ansible/latest/user_guide/playbooks_vars_facts.html#ansible-facts) can be created with `set_fact`:
[code]

[2022-09-23 22:02] kennedyjosh commented on #78853
Actually, I'm using the default strategy (linear, right?) and task headers are not printed until the task is ok/changed/failed on the first host. `ASYNC POLL` messages are printed before the task header:

[code]

I resorted to creating a role whose sole purpose is to print a message about these kinds of tasks so it looks like this:
[code]

I think my use case and desire is common, and yet there is

[2022-09-24 12:16] fungusakafungus opened #78871 "Handlers retain conditionals after import_role and can't be used again"
### Summary

When a role is used twice, once with the play's `roles` keyword, once with an `import_role` task, which has a false `when`, handlers are not run even when tasks are run.

### Issue Type

Bug Report

### Component Name

core

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Mac

### Steps to Reproduce

[code]

Output:
[code]

### Expected Results

`import_r

[2022-09-25 15:51] fungusakafungus commented on #78871
+label affects_2.15

[2022-09-25 15:52] fungusakafungus commented on #78871
-label has_pr

[2022-09-25 19:01] fungusakafungus commented on #78867
Please provide output of `ansible-inventory --vars --list`

[2022-09-25 19:33] konstruktoid commented on #78867
I can't reproduce this using `ansible-playbook -v -c local -i '127.0.0.1,' test.yml`.
Tested with ansible 2.13.4 and 2.15.0.dev0.

Where `test.yml` is:
[code]

[2022-09-26 07:07] fungusakafungus commented on #78782
You could also try looking at other distribution facts, try filtering on `ansible_distribution*` (with a star):
[code]
and take note of the `ansible_distribution_file_path` fact

[2022-09-26 07:53] balucio commented on #78868
Yep, this  how I set the that variable as "localhost" variable:
`    - name: Copying Tempfile variable on Ansible Server
      set_fact:
        lynis_temp_dir : "{{ hostvars[inventory_hostname]['lynis_temp_dir'] }}"`

 But when I use `delegate_facts` I would also expect the _registered variable_ to be put under the "_delegated_" host as well.

[2022-09-26 08:31] michaelschindhelm commented on #78782
[code]

[2022-09-26 08:32] michaelschindhelm commented on #78782
I removed the file /etc/redhat-release which exists on the host, I have no idea why, but it worked afterwards.

[2022-09-26 08:32] #78782 closed, assigned to nobody

[2022-09-26 08:45] fungusakafungus commented on #78782
Was it possibly a kubernetes node and were you using datadog daemonset? https://github.com/DataDog/helm-charts/issues/677 ?
Datadog makes ubuntu to redhat

[2022-09-26 08:47] michaelschindhelm commented on #78782
No, I qemu virtualized ubuntu VM running on a physical host (which runs ubuntu as well).

[2022-09-26 10:08] UbioZur opened #78873 "Can't connect with Ansible, but can connect with SSH without problems!"
### Summary

Hi,

I am having issues connecting to my remote server with Ansible. I believe it is because it does not follow my ssh config.

Here is the error:

Am I missing a special config to get it to connect?

Why is Ansible not using the ssh config file (I have to set the user and private key to use in the host file)

Since Ansible does not use the ssh config file, why is it trying to load it

[2022-09-26 11:12] mkrizek commented on #78871
Handlers are inserted globally at a play level scope. The last handler defined is the one that is used. Since `import_role` happened after `roles` the handler with `when: False` attached is notified and therefore its execution is skipped.

[2022-09-26 11:25] fungusakafungus commented on #78871
I don't think order is a problem. I tested with `pre_tasks:` instead of `tasks:`, handler is still skipped

[2022-09-26 11:58] mkrizek commented on #78871
I am not sure this is how it is supposed to work though, as currently coded handlers from a play (`pre_tasks`/`tasks`/`post_tasks`) are inserted after handlers from `roles`.

In any case, maybe what you want is to use `include_role` instead of `import_role`? `include_role` is processed dynamically at the execution time.

[2022-09-26 12:56] Denney-tech commented on #24215
+1

[2022-09-26 13:04] sharpmm commented on #78861
@sivel

A common return value that covers returns from the cli utility and python-apt lib returns.

[2022-09-26 13:27] #78598 closed, assigned to nobody

[2022-09-26 13:34] bcoca commented on #78868
closing as this is not a bug, just a misplaced expectation

[2022-09-26 13:34] #78868 closed, assigned to nobody

[2022-09-26 13:53] s-hertel commented on #78868
You can debug `ansible_facts` with
[code]
Your set_facts task does not create an ansible_facts var (if it is not using `cacheable: True`) and neither does registering a var.

[2022-09-26 14:35] #75734 closed, assigned to nobody

[2022-09-26 14:41] #78877 closed, assigned to sivel

[2022-09-26 15:04] schmittvictor opened #78879 "Failed to authenticate: Authentication failed. since upgrade"
### Summary

Im unable to connect to a Cisco device since I upgrade from 6.2.0 to 6.4.0.

SSH type is paramiko.

### Issue Type

Bug Report

### Component Name

ssh

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

RHEL 8

### Steps to Reproduce

[code]
vars file contains ansible_ssh_pass and ansible_user

### Expected Results

Successfully connect to endpoint

### Act

[2022-09-26 15:05] samccann opened #78880 "Documentation Checklist: -ansible-core 2.14 release"
### Summary

Documentation checklist to prepare for and deliver the ansible-core 2.14 release. See follow-on comment for the full checklist.

### Issue Type

Documentation Report

### Component Name

docs/docsite/sphinx_conf/ansible_conf.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

none

### Additional Information

none

### Code of Conduct

- [X] I agree to fo

[2022-09-26 15:10] sivel commented on #78879
This is likely not a problem with ansible-core as exists in this repository.

Between the 6.2.0 and 6.4.0 releases the following changes were made:

[code]

In any case, since this is related to networking, and the majority of that code lives external to that repo, you will need to report it to the correct repository for assistance.

The following comment from the bot will instruct you where to re

[2022-09-26 15:19] #78879 closed, assigned to nobody

[2022-09-26 15:20] samccann commented on #78880
Tasks include:

- [ ] Review changelogs in stable-2.14 for ansible-core
- [ ] Review ansible-core porting guide and ensure it links to core 2.14 changelogs
- [ ] include ansible-core in Release Status Grid and ensure maintenance/eol releases listed accurately. Include links to changelogs.
- [ ] Update core_conf.py:
    - [ ] Set 'latest_version': '2.14 ', under html_context
    - [ ] Update ‘avail

[2022-09-26 15:29] aaronhuff commented on #78867
ahuff@ahuff-ansible:~/Device_Templates$ ansible-inventory --vars --list
{
    "_meta": {
        "hostvars": {
            "10.0.0.100": {
                "ansible_become": true,
                "ansible_connection": "ansible.netcommon.network_cli",
                "ansible_network_os": "ios"
            }
        }
    },
    "all": {
        "children": [
            "lab",
            "ungroupe

[2022-09-26 15:37] bcoca commented on #78867
this is your problem, this host is configured to ALWAYS require become to be active
[code]

[2022-09-26 15:46] bcoca commented on #78867
the only thing you should be able to reproduce is running with `10.10.0.100` as target

[2022-09-26 16:51] felixfontein opened #78882 "pylint sanity test crashes for vmware.vmware_rest"
### Summary

The pylint sanity test crashes for vmware.vmware_rest. The error can be seen in https://3d7932ae3c3d1cd1ac23-1794bc1134f138a3d06a8b52731b06da.ssl.cf1.rackcdn.com/357/83be7ae7fe3768158f0cdfee3198013dcbfd4d69/check/ansible-test-sanity-docker-devel/c998f25/job-output.txt. This has been the case since 4d25233ece21c545254149ffe78291c734076609 was merged; before this commit the test passed,

[2022-09-26 18:29] sivel commented on #78832
needs_info

[2022-09-26 20:12] TyPR124 opened #78885 "network_cli + vault data results in path error"
### Summary

I have an SSH password in a group_vars yaml file. When I replace the value with encrypted vault data, it breaks with a path error.

### Issue Type

Bug Report

### Component Name

network_cli

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Ubuntu 22.04

### Steps to Reproduce

Create a group_vars yaml file with this content:

[code]

Run `ansible localho

[2022-09-26 20:16] #78885 closed, assigned to nobody

[2022-09-26 21:37] qzhengyy opened #78886 "Problem with SUSE 15.2 when local is set to true for ansible user module"
### Summary

luseradd in user module failed  on SUSE 15.2 when local is set to true, however, there is no problem with useradd

### Issue Type

Bug Report

### Component Name

user

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

  SUSE 15.2

### Steps to Reproduce

[code]

### Expected Results

I expect the local user account to be created successfully

### Actual Re

[2022-09-27 06:25] cpiment opened #78888 "ansible-console fails using Windows modules after ansible upgrade"
### Summary

When I try to use Windows modules in ansible-console, it tries to run them using a python interpreter in the remote host. That happens when I upgraded from ansible-core 2.9 to ansible-core 2.12 (I'm using EPEL distribution)

If I run a playbook with tasks from Windows modules, they run just fine.

### Issue Type

Bug Report

### Component Name

ConsoleCLI

### Ansible Version

[code]

[2022-09-27 06:45] Kaushik-Iyer commented on #76666
Should I try to work on this based on what @sivel suggested?

[2022-09-27 08:58] mkrizek commented on #33831
The problem was not that `--vault-password-file` would not override the config file, it was that all password files supplied were tried and it was a fatal failure if one of them failed even if one before that succeeded.

Fixed in https://github.com/ansible/ansible/pull/75540 which was included in Ansible 2.13. It is unlikely that this would be backported to earlier releases as the bug fix is consi

[2022-09-27 08:58] #33831 closed, assigned to nobody

[2022-09-27 10:09] chriscroome opened #78889 "Role argument validation appears not to enforce booleans?"
### Summary

When a variable is defined as a string [Ansible role validation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-argument-validation) appears not to pick up that it is required it to be a boolean?

### Issue Type

Bug Report

### Component Name

role argument validation

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Th

[2022-09-27 12:49] sivel commented on #76666
As of yesterday I have started working on some multipart changes including this.

[2022-09-27 13:28] mkrizek commented on #38672
This does not appear to be an issue with recent versions of Ansible. Please open a new issue if the problem persists with Ansible 2.13.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-09-27 13:28] #38672 closed, assigned to nobody

[2022-09-27 13:59] aaronhuff commented on #78867
Will reopen if I get a set of repro steps that works.

[2022-09-27 13:59] #78867 closed, assigned to nobody

[2022-09-27 15:06] s-hertel commented on #78871
Closing as per above

[2022-09-27 15:06] #78871 closed, assigned to nobody

[2022-09-27 15:10] #78873 closed, assigned to nobody

[2022-09-27 15:14] s-hertel commented on #78886
2.10 is EOL - can you test with a more recent version? needs_info

[2022-09-27 15:16] #78888 closed, assigned to nobody

[2022-09-27 15:33] bcoca commented on #78866
rather than 'first match' we think this could be a 'number of matches' to replace instead (with null/none/undefined == 'all')

[2022-09-27 15:34] sivel commented on #78889
There are a few key pieces of information about role validation:

1. The validator is a coercing validator, which means that if the value can be coerced to the specified type, through a set of rules we have defined, it will succeed.  In this case, our `bool` type, handles common string representations of booleans (normalized in lowercase):

[code]
2. Role validation does not inject the validated a

[2022-09-27 15:34] #78889 closed, assigned to nobody

[2022-09-27 15:35] #78795 closed, assigned to bcoca

[2022-09-27 15:46] chriscroome commented on #78889
Thanks for taking the time to explain this @sivel :-)

[2022-09-27 15:46] #78675 closed, assigned to nobody

[2022-09-27 16:25] Bassinator opened #78893 "roles in playbook do not run before post_tasks"
### Summary

I have a playbook with pre and post tasks. I think it worked in previous versions but now roles do not run before post_tasks

### Issue Type

Bug Report

### Component Name

post_task

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

debian 11

### Steps to Reproduce

[code]

### Expected Results

expect that the roles are applied before the post_tasks.

#

[2022-09-27 16:49] bendem commented on #78866
I proposed first match because it's already part of the API. The ability to specify how many is even better.

[2022-09-27 17:45] sivel commented on #78886
This issue was recently resolved in https://github.com/ansible/ansible/commit/ea351f0ae2bca23cdd7c24547a6607a50186a116 and will be included in the 2.14 release.

The fix was not backported to other releases, but I will attempt opening one for at least 2.13.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://group

[2022-09-27 17:50] #78886 closed, assigned to nobody

[2022-09-27 18:57] sivel commented on #78893
Your output, is in alignment with your `ssh_tor` and `users` roles being empty directories.

If I create a playbook like this:

[code]

And `roles/role1` and `roles/role2` are empty directories, I get this output using `-vv`:

[code]

Specifically take note of these lines:

[code]

It's not exactly clear without knowing the codebase, but adding some implicit details would show this:

[code]

As yo

[2022-09-27 19:18] gotmax23 opened #78898 "The dnf module needs to be adapted for dnf5"
### Summary

YUM/DNF is being rewritten again in C++. The rewrite is dubbed [dnf5](https://github.com/rpm-software-management/dnf5). It has a lot of user and performance benefits, but the new Swig libdnf5 Python bindings are incompatible with the current python3-dnf that the `dnf`  module relies on.

dnf5 does not yet have a stable release, but there is a testing [Copr](https://copr.fedorainfraclo

[2022-09-27 19:18] gotmax23 commented on #78898
/cc @j-mracek in case you have anything to add

[2022-09-27 19:21] bcoca commented on #78898
having developed modules against moving targets before, i would wait until this has at least been deployed before even starting development.

[2022-09-27 19:34] sivel commented on #78898
We've had some initial discussions about this. Our intention would be to have a `dnf5` module created, which we can abstract a little potentially in the `dnf` action plugin.

I think it's still up in the air who will ultimately be responsible for its development. I cannot necessarily state now that the core team will be the responsible party.  My preference would be to have someone who is more of

[2022-09-27 19:42] jorhett commented on #78877
Thanks for the update, and yeah sorry I wasn't looking closely enough at the usage when I flagged that file.

I understand why you'd say this:

...but this didn't concern new information. This was concerning the need for a response regarding an already advertised vulnerability. There was no new information here, the need for organizations is to track which uses are vulnerable, and which have been

[2022-09-27 20:47] samccann opened #78899 "Docs: Replace occurrences of "See http://" with a descriptive label in 4 files"
### Summary

Accessibility guidelines recommend we do not use "See http://<website>" in documentation, but instead provide context around this for screen readers etc.

In this issue, we've identified 4 files that use this convention in the documentation. For each occurrence, replace it with an RST link to [external web page](https://sublime-and-sphinx-guide.readthedocs.io/en/latest/references.html

[2022-09-27 20:52] tf-tanisf opened #78900 "tmpdir invalid Warning since using right user with sudo"
### Summary

Warnings received during playbook execution lead to confusion due to false errors.  all ansible users valid

### Issue Type

Bug Report

### Component Name

module_utils/basic.py

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Red Hat Enterprise Linux release 8.4 (Ootpa)

### Steps to Reproduce

[code]

### Expected Results

No warning

### Actual Result

[2022-09-27 21:04] samccann commented on #78899
1. rst/dev_guide/testing/sanity/mypy.rst:14: Replace See `https://mypy.readthedocs.io/en/stable/ for additional details` with See \`the mypy documentation <https://mypy.readthedocs.io/en/stable/>\`_ for details
2. dev_guide/developing_module_utilities.rst:71:  Replace `For a list of migrated content with destination collections, see https://github.com/ansible/ansible/blob/devel/lib/ansible/config/

[2022-09-27 22:07] alxgomz opened #78901 "default filter fails on missing keys referenced by index"
### Summary

The `default()` filter fails if the path to the undefined variable uses out of bound index.

### Issue Type

Bug Report

### Component Name

default() filter

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian GNU/Linux 11 & MacOSX 12
python 3.9 & 3.10

### Steps to Reproduce

[code]

### Expected Results

all tasks should return "value_d"

### Actual

[2022-09-28 00:22] SturmB opened #78903 "Idempotency causing hang"
### Summary

When I attempt to run my Ansible playbook on Pop!_OS (based on Ubuntu), I am running into an issue where a previously-run task now hangs. There is no indication of an error nor a message that explains what's going on.

It started during an `apt` task. When it started hanging upon subsequent runs of the playbook, I added the `never` tag to it so it could get past it. It did, then when

[2022-09-28 06:08] Pilipupu opened #78905 "Support specify different username for different host in command line in -i"
### Summary

I want to execute a command like: `ansible all -i "user1@ip1:22,user2@ip2:port2" -m shell -a "echo 1"  --private-key /root/.ssh/id_rsa`.
But it returns fail when my Ansible version is 2.9.25.

### Issue Type

Feature Idea

### Component Name

command line

### Additional Information

`ansible all -i "user1@ip1:22,user2@ip2:port2" -m shell -a "echo 1"  --private-key /root/.ssh/id_rsa`

[2022-09-28 06:28] #78905 closed, assigned to nobody

[2022-09-28 07:32] Spredzy commented on #78899
@samccann running ` grep -R '\(s\|S\)ee \(<\)\?http' --exclude-dir=locales` from `docsite/rst` directory, returns more than those two files. Do those apply too or can they be discarded and only the one listed here are worth updating ?

[2022-09-28 07:38] Pilipupu opened #78906 "command line -i "root@localhost:22" not working expected"
### Summary

`ansible all -i "root@localhost," -m shell -a "echo 1"  --private-key /root/.ssh/id_rsa` works well.
`ansible all -i "localhost:22," -m shell -a "echo 1"  --private-key /root/.ssh/id_rsa` works well.

But `ansible all -i "root@localhost:22," -m shell -a "echo 1"  --private-key /root/.ssh/id_rsa` not working expected.

### Issue Type

Bug Report

### Component Name

Ansible

### Ansibl

[2022-09-28 09:49] tremble commented on #78882
We're seeing this in community.aws too (oddly enough amazon.aws is fine)

[2022-09-28 13:25] Qalthos commented on #78899
I'm not sure why this got labeled with networking, but I don't think I can edit labels anymore, so I can't fix it myself.

[2022-09-28 13:43] samccann commented on #78899
@Qalthos - sorry about the label. I messed up the first component when I created the issue so antsibot reacted with a bunch of extraneous labels. I corrected the mistake but forgot about removing labels.

[2022-09-28 13:44] samccann commented on #78899
@Spredzy thanks for the much better grep command! I'll try it locally and if I find more valid ones that need changing, I'll open more issues.

[2022-09-28 13:49] samccann commented on #78899
@Spredzy looks like there's a couple more in that grep output. But a lot of what you see there are the very old porting guides so it's worth a debate - do we update them or leave them as is?  They are pointing to github issues, so I guess we could change them to say something like "see issue 1234" as a hotlink?

[2022-09-28 13:53] Spredzy commented on #78899
@samccann My reasoning is the following, ideally once we fix all of them, we enable some linting rules to make sure we don't regress. So rather than maintaining an "exlcude/ignore" file, if for those we can change the wording so it ddoesn't fail the lint rule that I'd vote for that.

[2022-09-28 13:57] samccann commented on #78899
ah.. you got some deep thoughts going there @Spredzy ! Okay I'll take a closer look and either add a few to this issue or open another one.

[2022-09-28 15:08] flowerysong commented on #78906
This is not a bug (though it is a potential feature request.)

Specifying the username as part of the hostname is not a feature offered by the [`host_list` inventory plugin](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/host_list_inventory.html). `root@localhost` happens to work because `host_list` leaves unsupported hostnames untouched, and OpenSSH will accept hostnames cont

[2022-09-28 15:28] LuckyDacky commented on #77762
Same problem **Ubuntu 22.04, ansible [core 2.13.4]**
Installed from ppa:ansible/ansible

[code]

[2022-09-28 15:38] bcoca commented on #78906
https://groups.google.com/g/ansible-project/c/Y1ejpp_ZiI0/m/odl0yamQAQAJ

[2022-09-28 16:01] mattclay commented on #77762
@LuckyDacky The fix is only available in the devel and stable-2.14 branches. The 2.14.0b1 release is out, if you don't mind trying out a pre-release.

[2022-09-28 16:46] mariolenz commented on #78882
Not only `vmware.vmware_rest`, I see this also in `community.vmware`. For example [here](https://github.com/ansible-collections/community.vmware/pull/1476#issuecomment-1259824746). But I think they use more or less the same Zuul jobs, so That's to be expected.

After @goneri added [ansible-test-sanity-docker-stable-2.14 ](https://github.com/ansible/ansible-zuul-jobs/pull/1639), it seems to fail in

[2022-09-28 16:55] sivel commented on #78901
This is effectively what jinja2 converts that template into:

[code]

Making it a little more simple, and plain Python:
[code]

Now the problem is that when `array_key` is used, and it was an instance of `AnsibleUndefined`, the implementation of `jinja2.runtime.StrictUndefined` (which `AnsibleUndefined` inherits from) will cause that to raise `jinja2.exceptions.UndefinedError`, which cannot be han

[2022-09-28 17:17] sivel commented on #78882
This is ultimately caused by `dill` not supporting Python 3.11 yet, which is used in `pylint` to serialize code with multiple workers (`--jobs`).  I cannot replicate it on any of my hosts with `--jobs 0` that `ansible-test` specifies, but we've seen other issues with zuul where the auto detect for `--jobs` does causes some different behaviors.  Setting `--jobs` within `ansible-test` to some explic

[2022-09-28 17:49] alxgomz commented on #78901
Thank you @sivel for giving details.

I'm usually happy using chained `default()` when I anyway have to chain filters, but here this could be all dealt with by a much more simple notation.
Also, the fact the behavior is different whether the node is accessed using a simple path like `array.hostx.key1` or using an index reference like `array[grp[x]].key1` makes it really confusing and should be con

[2022-09-28 17:57] sivel commented on #78901
Templating is handled by jinja2, and in jinja2 the dot syntax of `array.hostx.key1` is the same as `array['hostx']['key1']`

As such, with dot syntax, you cannot use variables for sub keys or elements.  They are treated as literal strings or integers.  Only subscript access (`[]`) can be used for variables.

[2022-09-28 18:53] felixfontein opened #78912 "Change to filter/test plugin loading / templating breaks certain playbook constructs"
### Summary

When referencing to the test `==`, ansible-core crashes with a very unhelpful error:
[code]
Passing `-vvv` gives a better hint: `KeyError: 'invalid plugin name: ansible.builtin.=='`. (See below for the full stacktrace.)

git bisect exposed 4260b71cc77b7a44e061668d0d408d847f550156 as the culprit.

### Issue Type

Bug Report

### Component Name

filter/test plugin loading

### Ansible V

[2022-09-28 18:56] felixfontein commented on #78912
This came up during the Ansible 7.0.0a1 build: https://github.com/ansible-community/antsibull/blob/main/playbooks/nested-ansible-tests.yaml#L45-L46

[2022-09-28 19:12] felixfontein commented on #78912
In case this is relevant:
[code]
Also the error is reproducible in CI: https://github.com/ansible-community/ansible-build-data/actions/runs/3146141356/jobs/5114249658

[2022-09-28 19:24] jborean93 commented on #68132
Closing as this should at least be partially fixed. If there is still a problem please open a new issue that documents what that problem is and we can look further into it there.

[2022-09-28 19:24] #68132 closed, assigned to mattclay

[2022-09-28 19:24] bcoca commented on #72382
We still have not been able to reproduce, we need a full example that does so reliably
needs_info

[2022-09-28 19:34] felixfontein commented on #78912
Unfortunately that's not enough, as #78913 shows, since `Jinja2Loader.get_with_context()` uses `KeyError` also for a **lot** of other things with totally different meanings (like broken plugins).

[2022-09-28 19:49] samccann opened #78914 "Docs: Replace occurrences of "See http://" with a descriptive label in porting guides"
### Summary

Accessibility guidelines recommend we do not use "See http://<website>" in documentation, but instead provide context around this for screen readers etc.

In this issue, we've identified 4 files that use this convention in the porting guides. For each occurrence, replace it with an RST link to [external web page](https://sublime-and-sphinx-guide.readthedocs.io/en/latest/references.htm

[2022-09-28 19:54] #47606 closed, assigned to nobody

[2022-09-28 19:54] #69298 closed, assigned to nobody

[2022-09-28 19:56] samccann commented on #78914
(see #78914 for  examples of how to do these changes).

For each occurance below, replace the http link with a ref with the following format:
 see \`issue 12345 \<http link>\`_

You can fix all of these or just one file per PR.

1. porting_guides/porting_guide_2.10.rst:- ansible-galaxy login command has been removed (see `https://github.com/ansible/ansible/issues/71560`)

2. porting_guides/porting

[2022-09-28 19:58] samccann commented on #78899
okay added two more to this PR  in   https://github.com/ansible/ansible/issues/78899#issuecomment-1260052100 and created a separate issue for the porting guides at https://github.com/ansible/ansible/issues/78914.

[2022-09-28 19:59] bcoca commented on #75692
The bug is due to 'omit' forcing the keyword to it's default value (none/false), not it's inherited value (yes/true).
https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/base.py#L530

[2022-09-28 20:53] sivel commented on #78912
fwiw, using `KeyError` was required when the loading was done inside of `JinjaPluginIntercept`, as `KeyError` and `TemplateSyntaxError` had special meanings inside of jinja2.  Using `KeyError` for everything may not be necessary any more.

[2022-09-29 11:44] oraNod opened #78920 "Docs: Missing details on passing list of dictionaries to var"
### Summary

https://github.com/ansible/schemas/issues/401#issuecomment-1262150789

User reported an issue for Ansible-lint that indicates it is possible to pass a list of dictionaries to var, which is not documented as supported / valid syntax.

### Issue Type

Documentation Report

### Component Name

user_guide/playbooks_variables.rst#defining-variables-in-a-play

### Ansible Version

[code]

#

[2022-09-29 11:50] sverrehu commented on #78442
Is anyone preparing a PR for this?

[2022-09-29 13:39] sivel commented on #78920
While it is possible, it is also not recommended, which is why we don't have it documented.  We should probably deprecate this functionality instead of documenting it.

Although this code allows this, we do specifically state that `vars` is a dict:

https://github.com/ansible/ansible/blob/5728d72cda94e24314a95befb0130b9e773f1035/lib/ansible/playbook/base.py#L699-L700

[2022-09-29 13:45] samccann opened #78921 "Docs: Replace yes/no in boolean examples with true/false in playbook guide"
### Summary

Based on the [steering committee vote to use true/false for booleans,](https://github.com/ansible-community/community-topics/discussions/120) we are going through the guides to adapt to this change.

This issue requests these changes in the `docs/docsite/rst/playbooks_guide/` files.

Changes are: change `yes` to `true`  and `no` to `false`

must be lowercase. Please open one PR to han

[2022-09-29 13:48] samccann commented on #78921
Grep results in the following list:
playbook_guide/playbooks_blocks.rst:      ignore_errors: yes
playbook_guide/playbooks_blocks.rst:          changed_when: yes
playbook_guide/playbooks_checkmode.rst:      check_mode: no
playbook_guide/playbooks_checkmode.rst:      check_mode: yes
playbook_guide/playbooks_checkmode.rst:      diff: no
playbook_guide/playbooks_conditionals.rst:          persistent:

[2022-09-29 14:10] samccann opened #78922 "Docs: scenario guides: Replace yes/no booleans with true/false"
### Summary

Based on the [steering committee vote to use true/false for booleans,](https://github.com/ansible-community/community-topics/discussions/120) we are going through the guides to adapt to this change.

This issue requests these changes in the `docs/docsite/rst/scenario_guides/` files.

Changes are: change `yes` to `true`  and `no` to `false`

must be lowercase. Please open one PR to han

[2022-09-29 14:11] samccann commented on #78922
grep results in the following list:
guide_gce.rst:     gather_facts: no
guide_gce.rst:     gather_facts: no
guide_azure.rst:      gather_facts: no
guide_rax.rst:            wait: yes
guide_rax.rst:            exact_count: yes
guide_rax.rst:            wait: yes
guide_rax.rst:            wait: yes
guide_rax.rst:            exact_count: yes
guide_rax.rst:            wait: yes
guide_rax.rst:

[2022-09-29 14:17] samccann opened #78923 "Docs:os_guide: replace yes/no with true/false for booleans"
### Summary

Based on the [steering committee vote to use true/false for booleans,](https://github.com/ansible-community/community-topics/discussions/120) we are going through the guides to adapt to this change.

This issue requests these changes in the `docs/docsite/rst/os_guide/` files.

Changes are: change `yes` to `true`  and `no` to `false`

must be lowercase. Please open one PR to handle ths

[2022-09-29 14:17] samccann commented on #78923
grep results in the following list:
os_guide/windows_dsc.rst:      Anonymous: no
os_guide/windows_dsc.rst:      Basic: yes
os_guide/windows_dsc.rst:      Digest: no
os_guide/windows_dsc.rst:      Windows: yes
os_guide/windows_dsc.rst:      no_log: yes
os_guide/windows_dsc.rst:        Windows: yes
os_guide/windows_dsc.rst:          Anonymous: no
os_guide/windows_dsc.rst:          Basic: yes
os_guid

[2022-09-29 14:23] samccann commented on #78923
@jborean93 Do you know if we can change the booleans in https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/os_guide/windows_dsc.rst to use `true/false` ? It seems the ones in the list above that start with a capital letter are not actually Ansible booleans but Windows...

[2022-09-29 14:27] samccann opened #78924 "Docs: reference_appendices: replace boolean yes/no with true/false"
### Summary

Based on the [steering committee vote to use true/false for booleans,](https://github.com/ansible-community/community-topics/discussions/120) we are going through the guides to adapt to this change.

This issue requests these changes in the `docs/docsite/rst/reference_appendices/` files.

Changes are: change `yes` to `true`  and `no` to `false`

must be lowercase. Please open one PR t

[2022-09-29 14:27] samccann commented on #78924
grep results in the following list:
reference_appendices/general_precedence.rst:     become: yes
reference_appendices/test_strategies.rst:         enabled: yes
reference_appendices/test_strategies.rst:       check_mode: no
reference_appendices/faq.rst:          become: yes
reference_appendices/faq.rst:             remote_src: yes
reference_appendices/YAMLSyntax.rst:    create_key: yes
reference_ap

[2022-09-29 14:38] samccann opened #78925 "Docs: various files - replace boolean yes/no with true/false"
### Summary

Based on the [steering committee vote to use true/false for booleans,](https://github.com/ansible-community/community-topics/discussions/120) we are going through the guides to adapt to this change.

This issue requests these changes to the files listed in a followon comment.

Changes are: change `yes` to `true`  and `no` to `false`

must be lowercase. Please open one PR to handle the

[2022-09-29 15:03] ssbarnea commented on #78920
If it was never documented or intended, it must be a bug to accept it. One way or another we will need a change. Either document it, either ensure that a list passed to `vars` would produce a syntax check failure.

[2022-09-29 15:06] lowkeylamb opened #78926 "Issues with EdgeOS playbooks: Failed to resolve hostname inventory_hostname"
### Summary

I'm trying to run a simple playbook using the edgeos command module but I can't get past gathering facts

### Issue Type

Bug Report

### Component Name

https://docs.ansible.com/ansible/latest/collections/community/network/edgeos_command_module.html

### Ansible Version

[code]

### Configuration

[code]

hosts config:

[code]

### OS / Environment

Windows Terminal 1.14.2281.0 runni

[2022-09-29 15:07] bcoca commented on #78920
it was documented and intended at one point, we just reversed the 'recommended' and removed the docs

[2022-09-29 15:37] mariolenz commented on #78882
According to uqfoundation/dill#514 it's fixed but not released yet.

[2022-09-29 15:57] sivel commented on #78882
Yep, afaik the release is blocked on https://github.com/uqfoundation/dill/pull/475

[2022-09-29 16:14] sivel commented on #78541
Going to re-open, as I agree that the current implementation makes it unclear about whether there was an error running `service` vs not matching anything via `grep`.

We really shouldn't be running grep via the command, and instead getting all output, and then using python to parse the data.

https://issues.redhat.com/browse/RHELPLAN-134589
https://bugzilla.redhat.com/show_bug.cgi?id=2128801

Rega

[2022-09-29 17:26] prayatharth commented on #78925
hi there I have fixed all the listed occurences
@samccann

[2022-09-29 17:53] NiranjanMeghwal commented on #78924
Hello, I would like to work on this issue, could you please assign this to me.

[2022-09-29 18:01] samccann commented on #78924
We don't have the ability to assign in github, but go ahead and create the PR and in the description, say  - Fixes #78924 and it will link back to this issue.

Keep in mind hacktoberfest doesn't start until Saturday, but we probably won't see your PR until Monday. And thanks!

[2022-09-29 18:03] samccann commented on #78925
@prayatharth thanks. Can you create the PR and in the description say - Fixes #78925
That will link to this issue. We won't merge any PRs until Monday because hacktoberfest doesn't officially start until Saturday.

And thanks!

[2022-09-29 18:11] prayatharth commented on #78925
@samccann  okay I am creating a PR then.

[2022-09-29 18:33] prayatharth commented on #78925
I wanted to ask something @samccann  that whether my PR counts from the day I created it or when it gets merged in the repo.

Like which of it is regarding  hacktoberfest .

[2022-09-29 18:39] twouters commented on #78442
not that I'm aware of :man_shrugging:

[2022-09-29 19:18] mattclay commented on #78900
Hi!

Thanks very much for your interest in Ansible.  It means a lot to us.

It looks like you're using a custom `remote_tmp` setting. Since this appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)
   * mailing list: https://groups.google.com/forum/#!forum/ansible-p

[2022-09-29 19:18] #78900 closed, assigned to nobody

[2022-09-29 19:20] mattclay commented on #78901
Closing per above.

[2022-09-29 19:20] #78901 closed, assigned to nobody

[2022-09-29 19:23] jnm27 commented on #78900
@mattclay This is not a question. It is a warning that is unnecessary - it says that other users may not be able to use the dir, but our temp dirs are per-user. We don't need the warning, so we're asking for an option to turn if off. Should be a feature request I think.

[2022-09-29 19:27] sivel commented on #78900
The use case you are following, is not a typical use case.  You can pre-create these directories if you know what they are to avoid the error.  However, we have no intention of adding a way to bypass/quiet this warning.

[2022-09-29 19:28] sivel commented on #78903
This more than likely sounds like a package is asking some question.

However, since I cannot replicate this, debugging the cause is going to be up to you.

I've written up some instructions on how you can debug and determine what code is hanging, and what command is causing it.

https://gist.github.com/sivel/5076af99d310dbda3188722f02cddeb4

Please provide the output from the debugging indicated

[2022-09-29 19:29] mattclay commented on #78906
Closing per the above.

[2022-09-29 19:29] #78906 closed, assigned to nobody

[2022-09-29 19:42] jnm27 commented on #78900
What do you mean it's not a typical use case? The default for it is also per-user (in the user's home dir). We just chose to put them in /tmp per user instead of in their home dirs.
[code]

[2022-09-29 19:47] mattclay commented on #78920
@oraNod This feature is now deprecated (https://github.com/ansible/ansible/pull/78927), so there's no need for documentation of the feature.

[2022-09-29 19:47] #78920 closed, assigned to oraNod

[2022-09-29 19:50] sivel commented on #78900
Putting it in a global place is exactly why the warning exists.  In any case, as we've mentioned, it seems you have questions, and issues aren't meant for questions.  Feel free to migrate your discussion to IRC or the mailing list for additional discussion.

[2022-09-29 20:00] kalashjain23 commented on #78923
Hey! I would like to take up on this issue. Can you please assign this to me?

[2022-09-29 20:01] jnm27 commented on #78900
What I'm trying to say is that the warning appears even when we use the default remote_tmp of ~/.ansible/tmp.

[2022-09-29 20:08] jborean93 commented on #78923
@samccann you sure can as these are booleans sent from Ansible to the remote host. I'm not 100% sure you mean by the ones starting with capital letters. If you are talking about things like `Anonymous`, `Basic`, that's just the key name expected by the module for DSC.

[2022-09-29 20:13] samccann commented on #78923
@jborean93 cool thanks!

[2022-09-29 20:15] samccann commented on #78923
@kalashjain23 - we don't have the ability to assign outside the ansible org but consider it yours. Hacktoberfest doesn't officially start until Saturday so we won't see your PR til Monday. Put  Fixes #78923 in the description when you open the PR and it will link back to this. And thanks!

[2022-09-29 20:18] samccann commented on #78925
@prayatharth I don't have much experience myself with what participants have to do, but I looked at their website and see:
`Have 4 pull/merge requests accepted between October 1 and October 31 to complete Hacktoberfest`

So as long as it doesn't get merged before Saturday, you should be fine. And 90% of the merges are by me...and I won't be back til Monday so there's a very small risk of it mergin

[2022-09-29 20:34] ssbarnea opened #78932 "ansible-vault encrypt_string output is missing a new line, causing broken output on copy"
### Summary

[code]
If you look at the end of the printed data, it contains a `%`, which is a character that is added by the terminal in order to inform user that the executed command did not end-up with a newline.

Now you can easily guess that when user will copy/paste that yaml block, their will have a surprise, as decoding will not work,.... because of the extra `%` at the end.

This bug can e

[2022-09-29 20:42] prayatharth commented on #78925
@samccann
 Thank you for the assurance

[2022-09-29 22:02] J-F-Far commented on #78922
I would like to take this one on.

[2022-09-29 22:07] ansiblejunky commented on #75632
This would be great! +1

[2022-09-29 23:06] #78425 closed, assigned to nobody

[2022-09-30 01:48] thummim opened #78939 "ansible-playbook: error: the following arguments are required: playbook"
### Summary

When i try to set an inventory by using ansible-playbook -i comman, it does not work

### Issue Type

Bug Report

### Component Name

Ansible-playbook

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ubuntu 20.04

### Steps to Reproduce

[code]

### Expected Results

Set an inventory

### Actual Results

[code]

### Code of Conduct

- [X] I agree to follo

[2022-09-30 01:59] thummim commented on #78939
lib/ansible does not exists :(

[2022-09-30 04:12] kalashjain23 commented on #78923
OK! Awesome… I'll make a PR when Hacktoberfest starts!
Thank you so much!

[2022-09-30 05:49] YoraiLevi opened #78941 "ansible-test , "File not found" error when running windows integration tests with "--inventory""
### Summary

running: windows integration tests with inventory options results in a file does not exists error.
## Possible cause:
wrong order of paramaters at https://github.com/ansible/ansible/blob/85acf4d1e55e95c266a35c49f74af3c0f251de08/test/lib/ansible_test/_internal/inventory.py#L55
expected: [`shutil.copyfile(src, dst, *, follow_symlinks=True)`](https://docs.python.org/3/library/shutil.html

[2022-09-30 06:46] mkrizek commented on #78939
The message is clear, you need to pass the file containing the playbook to run. You only provided inventory file.

[2022-09-30 06:46] mkrizek commented on #78939
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appr

[2022-09-30 06:46] #78939 closed, assigned to nobody

[2022-09-30 06:56] HanumanthaRAON opened #78943 "InsecureRequestWarning: Unverified HTTPS request is being made to host while ansible trying create a tag or modify tag on VMWARE"
### Summary

We are using ansible to create and modify VM's on vmware using vsphereautomationSDK , from last friday we are facing issue with tag_manager and it is faiing with ssl errors.

we have recently upgraded vcenters from 6.5 to 7 after that we are facing this issue. we are also using validate_certs:no in the code as well.

urllib3                            1.26.1
vapi-client-bindings      

[2022-09-30 06:56] HanumanthaRAON commented on #78943
can someone please check as it is impacting my production environment

[2022-09-30 06:59] #78943 closed, assigned to nobody

[2022-09-30 09:02] Walexero commented on #78461
@mkrizek would be willing to work on this issue, can you guide me through the processes to go about implementing them, i am a first-timer to this and would need your guidance but should be able to get the issue fixed

[2022-09-30 11:55] aarjavpatni commented on #78921
Hi there!
I'm interested in working on this. Can I be assigned it?

[2022-09-30 12:09] kalashjain23 commented on #78923
<a href="https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/os_guide/intro_bsd.rst#debug-the-discovery-of-python">Here</a>, there's one line as `ansible_become=yes` (twice in the whole file) which is not in the grep results shown above.
Should I change that too?

[2022-09-30 15:02] bcoca commented on #75632
I have a "working" search #77064, but using 'non public' api.

So all these features require galaxy_ng support on the API side (see https://github.com/ansible/galaxy_ng)
To request new features https://github.com/ansible/galaxy/issues

[2022-09-30 15:13] bcoca commented on #78461
Deprecation notices are supposed to happen BEFORE the change is made, not when you make the change.

In any case, a custom message/warning might be better suited for a change of value than a deprecation notice, which is normally for sun-setting a feature, which is not the case here.

[2022-09-30 15:18] ansiblejunky commented on #75632
Seems like `pip` uses `--outdated`, and `yum` uses `yum list updates`. So using `--upgradable`, not sure about that word.. hard to spell too.. haha. Would you consider "updates"? seems a neutral term.  Also, it fits well with what is currently available:
[code]

[2022-09-30 15:33] bcoca commented on #75632
checked with galaxy_ng team, the API to query versions of a known collection is already in place (the search from original poster above is not really a search since you have the collection name, my search PR is to find that name).

Correcting the search to info and taking --updates from above:
[code]

[2022-09-30 15:36] bcoca commented on #75632
using my PR you do get 'latest' (for actual search):
[code]
outputs
[code]

[2022-09-30 15:40] ansiblejunky commented on #75632
Love it!

[2022-09-30 17:07] #75692 closed, assigned to nobody

[2022-09-30 17:55] sbettid commented on #78442
If it can be useful I was giving a quick look at it and trying to develop a test for the specific use case to cover the case

[2022-09-30 18:29] MallocArray commented on #20802
I just ran into the same thing where I added retries expecting it to retry if there was a failure, but since I didn't have an `until:` parameter, the retry was skipped without warning.

[2022-09-30 23:00] deverationer opened #78955 "module ansible.builtin.iptables parameter 'chain_management: <true/yes>' Unsupported"
### Summary

Attempting to add user-defined iptables chain utilizing builtin.iptables module fails with `unsupported parameter` error.

### Issue Type

Bug Report

### Component Name

ansible.builtin.iptables

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=20.04
DISTRIB_CODENAME=focal
DISTRIB_DESCRIPTION="Ubuntu 20.04.5 LTS"
NAME="Ub

[2022-09-30 23:22] sverrehu commented on #78442
Would be nice. We are currently duplicating a set of files to get around this (which took us a day to figure out why it didn't work with symlinks). And nobody likes duplication. Thanks!

[2022-09-30 23:40] flowerysong commented on #78955
This is not a bug.

Your version of Ansible (2.9.6) is both unsupported (ansible-core 2.11 is the oldest currently supported version, and will be reaching EOL in November) and older than the earliest version that [the documentation](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/iptables_module.html) indicates will support this parameter: "added in 2.13 of ansible.builtin".

[2022-10-01 04:30] aloner-pro commented on #78921
Could you assign me this. This is my first time in open-source.

[2022-10-01 04:38] aloner-pro commented on #78899
I guess I can do this. Would love to work,

[2022-10-01 09:22] aarjavpatni commented on #78921
It's mine as well. And I'm working on it already!

[2022-10-01 12:07] ariordan-redhat opened #78960 "Docs: Add code-block wrappers to code examples: testing_documentation.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-01 12:28] ariordan-redhat opened #78961 "Docs: Add code-block wrappers to code examples: developing_module_utilities.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-01 12:34] ariordan-redhat opened #78962 "Docs: Add code-block wrappers to code examples: testing_pep8.rst"
### This issue has a PR

### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed va

[2022-10-01 12:42] ariordan-redhat opened #78963 "Docs: Add code-block wrappers to code examples: testing.rst."
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-01 12:47] ariordan-redhat opened #78964 "Docs: Add code-block wrappers to code examples: developing_modules_general_windows.rst."
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-01 12:54] jmakhack commented on #78964
Hey I'd love to work on this. Can I get assigned to this issue?

[2022-10-01 12:58] ozanuslan commented on #78960
Hello, I would like to work on this issue.

[2022-10-01 13:02] ariordan-redhat opened #78965 "Docs: Add code-block wrappers to code examples in ignores.rst."
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-01 13:08] ariordan-redhat commented on #78960
@ozanuslan
I assigned the issue to you.
Thanks for your quick response!

[2022-10-01 13:12] Abelarm commented on #78965
Hi @ariordan-redhat,

do you mind if I take this?

[2022-10-01 13:15] ariordan-redhat commented on #78965
Sure, I'll assign it to you.
Thanks, @Abelarm

[2022-10-01 13:22] ariordan-redhat opened #78967 "Docs: Add code-block wrappers to code examples in style_guide"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-01 13:37] #78960 closed, assigned to ozanuslan

[2022-10-01 13:39] Deepshaded commented on #78961
Hi @ariordan-redhat , I would like to work on this issue.

[2022-10-01 13:41] ariordan-redhat commented on #78967
!component

[2022-10-01 13:42] ariordan-redhat commented on #78967
!component =docs/docsite/rst/dev-guide/style_guide/index.rst

[2022-10-01 13:43] ariordan-redhat commented on #78961
Thanks, @Deepshaded !
I'll assign the issue to you.

[2022-10-01 13:47] ozanuslan commented on #78967
Hi, can I also work on this one? :smile:

[2022-10-01 13:54] ariordan-redhat commented on #78967
Yes, thanks, @ozanuslan .
I'll assign it to you.

[2022-10-01 14:14] ariordan-redhat opened #78971 "Docs: Add code-block wrappers to code examples in module_lifecycle.rst"
### Issue has been assigned to IMvision12

### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a

[2022-10-01 14:36] Baahcy opened #78973 "Update Readme.rst to Readme.md"
### Summary

Ansible Readme is good, however, converting README.rst to README.md would improve its user-friendliness.
- Convert README.rst to README.md
- add a quick installation command while still maintaining the link to the actual documentation which contains more information

### Issue Type

Feature Idea

### Component Name

python3 -m pip install --user ansible

### Additional Information

[c

[2022-10-01 14:37] #78962 closed, assigned to nobody

[2022-10-01 14:37] IMvision12 commented on #78971
Hi, can I work on this? 😄

[2022-10-01 14:53] ariordan-redhat commented on #78971
Yes, thank you, @IMvision12 . I'll assign it to you.

[2022-10-01 14:57] ariordan-redhat commented on #78961
Fixed by #78968

[2022-10-01 14:57] #78961 closed, assigned to Deepshaded

[2022-10-01 14:59] #78963 closed, assigned to nobody

[2022-10-01 15:11] #78967 closed, assigned to ozanuslan

[2022-10-01 15:34] ariordan-redhat opened #78976 "Docs: Add code-block wrappers to code examples in developing_collections_distributing.rst"
### This issue has been assigned to doczkal

### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For

[2022-10-01 15:37] #78971 closed, assigned to IMvision12

[2022-10-01 15:43] doczkal commented on #78976
I will do this.

[2022-10-01 15:45] ariordan-redhat commented on #78976
Thanks, @doczkal . I assigned the issue to you.

[2022-10-01 16:07] #78955 closed, assigned to nobody

[2022-10-01 18:30] Walexero commented on #78461
is this an easy-fix and a good-first-issue to work on?

[2022-10-01 18:42] ariordan-redhat commented on #78965
Fixed by #78979

[2022-10-01 18:43] #78965 closed, assigned to Abelarm

[2022-10-02 05:14] karthiknatarajan-27558 commented on #78932
Hi @ssbarnea,
  I would like to contribute to this issue.

[2022-10-02 05:17] kclalit64 commented on #78973
Converted README.rst to README.md and added the pip installation component #78978

[2022-10-02 08:09] yadomkar commented on #59449
How can we search the documentation for such cases, is there a way the search could be automated?

[2022-10-02 09:53] ssbarnea commented on #78932
@karthiknatarajan-27558 Feel free to make a PR for it, it should be easy. IMHO, it will not be hard to get approval to merge it. I wasted almost an hour trying to figure-out what was not working and it was this trailing `%`. That being a good shell feature, until you discover an issue like this. Some programs do need to not add extra newline at the end, but that is not the case for something that

[2022-10-02 14:15] pramitsingh0 commented on #78973
Hi, I would like to work on it. Can you please assign the issue to me?

[2022-10-02 22:45] #33058 closed, assigned to nobody

[2022-10-03 00:58] vellakingg opened #78986 "Ignore_unreachable still lists hosts as unreachable in play recap"
### Summary

When using ignore_unreachable: true, subsequent tasks are correctly run and the host is recovered. However, the recap displays the host in red and unreachable=1.

Would the correct output not be unreachable=0 with ignored=x+1, as I believe ignore_errors works?

Also, adding meta: clear_host_errors does not affect the output ansible recap.

### Issue Type

Bug Report

### Component Nam

[2022-10-03 03:51] Akasurde commented on #78973
I don't see any point in converting README from one format to another. Closing this.

[2022-10-03 03:51] #78973 closed, assigned to nobody

[2022-10-03 06:15] Praveenvira commented on #78921
Can you please assign me this. I will do my best. For replace to boolean examples.

[2022-10-03 06:23] Praveenvira commented on #78923
Can you please assign me this. I will do my best. Replace yes/no with true/false for booleans.

[2022-10-03 07:31] mkrizek commented on #78986
Duplicate of https://github.com/ansible/ansible/issues/77690

Fixed in https://github.com/ansible/ansible/pull/77693 which will be included in Ansible 2.14.

[2022-10-03 08:45] #78976 closed, assigned to doczkal

[2022-10-03 08:51] #78964 closed, assigned to jmakhack

[2022-10-03 08:57] #78986 closed, assigned to nobody

[2022-10-03 11:51] Jamesking56 opened #78987 "Ansible git module stopped working with a TypeError - only on MacOS"
### Summary

I use `ansible-pull` to manage my machines all with the same config. On my MacOS machine, it has started erroring in the `git` module

Other OS machines are fine with the same config (Ubuntu, PopOS), so not sure what's happened on MacOS for this error to appear.

### Issue Type

Bug Report

### Component Name

git

### Ansible Version

[code]

### Configuration

[code]

### OS / Envir

[2022-10-03 12:49] Jamesking56 commented on #78987
Turns out the MacOS 12.6 update screws up XCode so that it requires re-running the initial setup to install XCode Command Line Tools.

Anyone else coming across this, you need to open XCode's GUI and it should ask you what devices you want to create apps for, you need to select which ones you work on (fewer the better to save storage space) and it should then install the right command line tools.

[2022-10-03 12:49] #78987 closed, assigned to nobody

[2022-10-03 13:48] webknjaz commented on #78987
I wonder if https://github.com/samdoran/ansible-collection-macos/blob/main/playbooks/bootstrap.yml could address that.

cc @samdoran here's another possible corner case for your collection.

[2022-10-03 14:03] Jamesking56 commented on #78987
@webknjaz Thanks for that, I did not know that existed :+1:

[2022-10-03 14:31] webknjaz commented on #78987
You're welcome :) Sam used to be a part of the Ansible Core Team for several years, his content is great!

[2022-10-03 14:34] s-hertel commented on #78461
@Walexero I can give you some general steps since I don't know what you need help with. If you have questions, asking in #ansible-devel in IRC/matrix is probably the best place.

* [Clone ansible and setup dev environment](https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-the-devel-branch-from-a-clone), so you can test as you make changes
* [Create a simple

[2022-10-03 14:53] utoddl opened #78988 "File module changes mode of src when state is link"
### Summary

The file module is supposed to only affect `dest:`, but in cases where `state: link` and a `mode:` is supplied, the mode of `src:` — if it exists — is changed.

One could argue whether documenting the current behavior is sufficient vs. whether it's better to "fix" the file module, but it isn't clear what "fix" would mean: (1) ignore `mode:` when `state: link`; (2) fail if `state: link

[2022-10-03 14:56] sivel commented on #78926
Can you confirm what versions of `ansible.netcommon` and `community.network` are installed and in use.

This condition shouldn't be possible.

It may require upgrading `ansible.netcommon` to at least 3.0.1.

needs_info

[2022-10-03 15:28] bcoca commented on #78988
In the end it always affects `dest`, if that is resolved to `src` (via `follow: yes`) it is still the `dest` that was operated on.

[2022-10-03 15:39] samccann commented on #78923
@kalashjain23 yes please do change any other occurrences. Not sure why grep didn't find them :-)

[2022-10-03 15:43] samccann commented on #78921
Hi folks - looks like @suven-p already opened a PR to fix this one. Please do check the issue queue at https://github.com/ansible/ansible/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest as we are continuing to open more issues for Hacktoberfest this week!

[2022-10-03 15:45] samccann commented on #59449
Unfortunately I'm not the best at grep but I don't  think there's an easy way to find these.

[2022-10-03 16:14] kalashjain23 commented on #78923
Please tell if there are some more changes to be made! :)

[2022-10-03 16:15] Walexero commented on #78461
okay, would ask on the irc channel, thanks for the help

[2022-10-03 16:19] stephane-archer opened #78992 "ansible_distribution_release is wrong for Linux Mint 21 "Vanessa""
### Summary

On a fresh install of Linux Mint 21 "Vanessa" `ansible_distribution_release == 'una'` is true but it should be `ansible_distribution_release == 'Vanessa'`
Una is Linux Mint 20.3, not 21

### Issue Type

Bug Report

### Component Name

ansible_facts, ansible_distribution_release

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Linux Mint 21

### Steps to R

[2022-10-03 16:31] giorgiga opened #78993 "Add "changes" (similar to "creates") to ansible.builtin.shell"
### Summary

Most of the times I end up using `ansible.builtin.shell`, it is to invoke some utility that modifies some configuration file or to execute some script that ultimately ends up modifying some configuration file.

This is relatively straightforward, but unless one renounces change reporting with `changed_when: false` checking if the shell command/script actually modified the target file

[2022-10-03 16:49] sujal-goswami commented on #78925
hey samccann is this issue still open or not, is yes then I want to work on it for hacktoberfest.

[2022-10-03 17:00] bcoca commented on #78993
and 'what changes'  in "{{ user.home }}/.config/git/config" ?

[2022-10-03 17:09] giorgiga commented on #78993
`git config --global user.name 'John Doe'` changes `~/.config/git/config` so that it contains

    [user]
	name = John Doe

The idea is that `ansible.builtin.shell` would compare `~/.config/git/config` before and after running the task and report `changed` accordingly.

The comparison could go along the lines of what other ansible tasks, like `ansible.builtin.copy`, do (IDK what they do - I guess

[2022-10-03 18:11] giorgiga commented on #78993
If I get your concerns, the point is that we can't trust the user on the indempotency of the shell command/script?

For example, one could write:

[code]
and expect it to not turn "server2" in "server22" the second time ansible is run?

IMO the semantic correctness of `ansible.builtin.shell` is *already* up the user: nothing currently prevents writing tasks like

[code]

so I don't think it's a bi

[2022-10-03 18:14] giorgiga commented on #78993
@bcoca  Would you recommend I close this and post a proposal instead?

[2022-10-03 18:39] #78923 closed, assigned to nobody

[2022-10-03 19:01] #78899 closed, assigned to nobody

[2022-10-03 19:05] samccann opened #78997 "Docs: Replace Latin terms in the dev_guide"
### Summary

Our [style guide](https://docs.ansible.com/ansible/latest/dev_guide/style_guide/index.html#avoid-using-latin-phrases) notes that we should not use Latin terms (e.g, via, etc) in our documentation. This issue specifically asks to replace these with the noted English equivalents from that style guide table for all occurrences in the docs/docsite/rst/dev_guide directory.

Use `grep -R -e

[2022-10-03 19:07] samccann commented on #78997
For the month of October, we will address hacktoberfest PRs on a first come-first merged basis as there is no way for us to assign issues to an individual contributor. Thanks for your interest in helping the Ansible documentation effort!

[2022-10-03 19:09] samccann commented on #78997
Note: there are more occurrences of Latin terms in the docs but we need to limit  the number of files in a PR so we are addressing these in small batches.

List of 27 files that need to change:
testing/sanity/future-import-boilerplate.rst:This uses Python 3 semantics for absolute vs relative imports, division, and print.  By doing this,
testing/sanity/no-unicode-literals.rst:  and a text string on

[2022-10-03 19:18] giorgiga commented on #78993
I'm not sure I follow... what existing decisional mechanism would this `changes` thing misuse for reporting?

Let me clarify that the whole idea is merely about adding "syntactic sugar" for the use case I described, in much the same way as `creates` and `removes` are sugar for `stat` and `when`...

I'm not thinking about changing any existing mechanism, just about adding new functionality.

[2022-10-03 19:22] samccann opened #78998 "Docs: Replace Latin terms in network/user_guide platform files with English terms"
### Summary

Our [style guide](https://docs.ansible.com/ansible/latest/dev_guide/style_guide/index.html#avoid-using-latin-phrases) notes that we should not use Latin terms (e.g, via, etc) in our documentation. This issue specifically asks to replace these with the noted English equivalents from that style guide table for all occurrences in the docs/docsite/rst/network/user_guide directory.

Use `g

[2022-10-03 19:23] samccann commented on #78998
For the month of October, we will address hacktoberfest PRs on a first come-first mergeable basis as there is no way for us to assign issues to an individual contributor. Thanks for your interest in helping the Ansible documentation effort!

[2022-10-03 19:24] samccann commented on #78998
NOTE: These platform files include tables that are notoriously sensitive to spacing issues. As such, replace all occurrences of `via` with `by` to ensure the tables remain well-formed.

[2022-10-03 19:27] bcoca commented on #78993
creates/removes influence running the shell command or not, your changes creates a facility that changes the reporting AFTER the command is run so they are not the same

[2022-10-03 19:36] samccann commented on #78998
50 files that need to change:
grep -R -e 'etc\.' -e 'i\.e ' -e 'e\.g\. ' -e 'via ' -e 'vs\(\.\)\? ' -e versus platform* --exclude-dir=locales
platform_ce.rst:- If you are accessing your host through a bastion/jump host, you cannot include your SSH password in the ``ProxyCommand`` directive. To prevent secrets from leaking out (for example in ``ps`` output), SSH does not support providing passwords

[2022-10-03 19:43] giorgiga commented on #78993
Yes, this `changes` would be different from `creates`/`removes`: it would in fact be equivalent to `changed_when`, which is evaluated after the action runs.

eg. this is the first example from [Defining "changed" in the ansible doc](https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#defining-changed):

[code]

My *similar to "creates"* note in the title was because, l

[2022-10-03 19:49] samccann opened #78999 "Docs: replace Latin terms in network (not platform) files"
### Summary

Our [style guide](https://docs.ansible.com/ansible/latest/dev_guide/style_guide/index.html#avoid-using-latin-phrases) notes that we should not use Latin terms (e.g, via, etc) in our documentation. This issue specifically asks to replace these with the noted English equivalents from that style guide table for all occurrences in the docs/docsite/rst/network/ directory that are not `plat

[2022-10-03 19:52] samccann commented on #78999
Impacted files:
network_debug_troubleshooting.rst:Occurs if the credentials (username, passwords, or ssh keys) passed to ``ansible-connection`` (via ``ansible`` or ``ansible-playbook``) can not be used to connect to the remote device.
network_debug_troubleshooting.rst:If you are specifying credentials via ``password:`` (either directly or via ``provider:``) or the environment variable `ANSIBLE_NET

[2022-10-03 19:53] samccann commented on #78999
For the month of October, we will address hacktoberfest PRs on a first come-first mergeable basis as there is no way for us to assign issues to an individual contributor. Thanks for your interest in helping the Ansible documentation effort!

[2022-10-03 19:57] samccann opened #79000 "Docs: Replace Latin terms in the /porting guides files for English terms"
### Summary

Our [style guide](https://docs.ansible.com/ansible/latest/dev_guide/style_guide/index.html#avoid-using-latin-phrases) notes that we should not use Latin terms (e.g, via, etc) in our documentation. This issue specifically asks to replace these with the noted English equivalents from that style guide table for all occurrences in the docs/docsite/rst/porting_guides/ directory .

Use `gre

[2022-10-03 19:58] samccann commented on #79000
For the month of October, we will address hacktoberfest PRs on a first come-first mergeable basis as there is no way for us to assign issues to an individual contributor. Thanks for your interest in helping the Ansible documentation effort!

[2022-10-03 20:00] samccann commented on #79000
Global search and replace will work for `via` and `e.g` but not for `vs` since one of the occurrences of `vs` is a part of another term.

The following 34 files need changes:

grep -R -e 'etc\.' -e 'i\.e ' -e 'e\.g\. ' -e 'via ' -e 'vs\(\.\)\? ' -e versus
porting_guide_2.3.rst:In 2.4, the default will be to merge the tags. You can enable the old overwriting behavior via the config option.
porting_

[2022-10-03 20:03] samccann opened #79001 "Docs: Replace Latin terms in the reference_appendices/ directory with English terms"
### Summary

Our [style guide](https://docs.ansible.com/ansible/latest/dev_guide/style_guide/index.html#avoid-using-latin-phrases) notes that we should not use Latin terms (e.g, via, etc) in our documentation. This issue specifically asks to replace these with the noted English equivalents from that style guide table for all occurrences in the docs/docsite/rst/porting_guides/ directory .

Use `gre

[2022-10-03 20:04] samccann commented on #79001
For the month of October, we will address hacktoberfest PRs on a first come-first mergeable basis as there is no way for us to assign issues to an individual contributor. Thanks for your interest in helping the Ansible documentation effort!

[2022-10-03 20:04] samccann commented on #79001
The following files need changes:
grep -R -e 'etc\.' -e 'i\.e ' -e 'e\.g\. ' -e 'via ' -e 'vs\(\.\)\? ' -e versus
general_precedence.rst:Variable values associated directly with a host or group, including variables defined in inventory, by vars plugins, or using modules like :ref:`set_fact<set_fact_module>` and :ref:`include_vars<include_vars_module>`, are available to all plays. These 'host scope

[2022-10-03 20:07] samccann opened #79002 "Docs: Replace Latin terms with English in the scenario_guides directory"
### Summary

Our [style guide](https://docs.ansible.com/ansible/latest/dev_guide/style_guide/index.html#avoid-using-latin-phrases) notes that we should not use Latin terms (e.g, via, etc) in our documentation. This issue specifically asks to replace these with the noted English equivalents from that style guide table for all occurrences in the docs/docsite/rst/scenario_guides/ directory .

Use `gr

[2022-10-03 20:07] samccann commented on #79002
For the month of October, we will address hacktoberfest PRs on a first come-first mergeable basis as there is no way for us to assign issues to an individual contributor. Thanks for your interest in helping the Ansible documentation effort!

[2022-10-03 20:08] samccann commented on #79002
Affected files:

grep -R -e 'etc\.' -e 'i\.e ' -e 'e\.g\. ' -e 'via ' -e 'vs\(\.\)\? ' -e versus
guide_azure.rst:To pass service principal credentials via the environment, define the following variables:
guide_azure.rst:To pass Active Directory username/password via the environment, define the following variables:
guide_azure.rst:To pass Active Directory username/password in ADFS via the environme

[2022-10-03 20:11] samccann opened #79003 "Docs: Replace latin terms with english in the os_guide directory"
### Summary

Our [style guide](https://docs.ansible.com/ansible/latest/dev_guide/style_guide/index.html#avoid-using-latin-phrases) notes that we should not use Latin terms (e.g, via, etc) in our documentation. This issue specifically asks to replace these with the noted English equivalents from that style guide table for all occurrences in the docs/docsite/rst/os_guide/ directory .

Use `grep -R -

[2022-10-03 20:12] samccann commented on #79003
For the month of October, we will address hacktoberfest PRs on a first come-first mergeable basis as there is no way for us to assign issues to an individual contributor. Thanks for your interest in helping the Ansible documentation effort!

[2022-10-03 20:13] samccann commented on #79003
Impacted files:

grep -R -e 'etc\.' -e 'i\.e ' -e 'e\.g\. ' -e 'via ' -e 'vs\(\.\)\? ' -e versus
windows_faq.rst:Why is connecting to a Windows host via SSH failing?
windows_performance.rst:high CPU task near startup via `processing the ngen queue <https://docs.microsoft.com/en-us/dotnet/framework/tools/ngen-exe-native-image-generator#native-image-service>`_
windows_winrm.rst:via the inventory.
wi

[2022-10-03 20:15] samccann opened #79006 "Docs: Replace latin terms with english in the playbook_guide directory"
### Summary

Our [style guide](https://docs.ansible.com/ansible/latest/dev_guide/style_guide/index.html#avoid-using-latin-phrases) notes that we should not use Latin terms (e.g, via, etc) in our documentation. This issue specifically asks to replace these with the noted English equivalents from that style guide table for all occurrences in the docs/docsite/rst/playbook_guide/ directory .

Use `gre

[2022-10-03 20:15] samccann commented on #79006
For the month of October, we will address hacktoberfest PRs on a first come-first mergeable basis as there is no way for us to assign issues to an individual contributor. Thanks for your interest in helping the Ansible documentation effort!

[2022-10-03 20:16] samccann commented on #79006
List of impacted files:
grep -R -e 'etc\.' -e 'i\.e ' -e 'e\.g\. ' -e 'via ' -e 'vs\(\.\)\? ' -e versus
playbooks_intro.rst:There's also a `clever playbook <https://github.com/ansible/ansible-examples/blob/master/language_features/ansible_pull.yml>`_ available to configure ``ansible-pull`` via a crontab from push mode.
playbooks_loops.rst:For role authors, writing roles that allow loops, instead o

[2022-10-03 20:21] ishan-siddiqui commented on #78998
Hey! So should we do a space after the word or the entire sentence?

[2022-10-03 20:23] smeet07 commented on #79006
There is usage of these terms in different directories also, should I also replace those as well?

[2022-10-03 20:32] samccann commented on #78914
Thanks @Kampftoast for taking on this issue for Hacktoberfest! If you tackle another Ansible issue in this category, please do try to fix all listed problems in one PR as it makes it easier to  track completion and saves us a bit of time on our side. I'll be merging your PRs shortly to close out this issue.

Thanks for the help and welcome to the Ansible project!

[2022-10-03 20:33] #78914 closed, assigned to nobody

[2022-10-03 20:40] #78922 closed, assigned to J-F-Far

[2022-10-03 20:41] felixfontein commented on #78882
pylint does have its own version of dill now (https://github.com/PyCQA/pylint/pull/6551/files#diff-50c86b7ed8ac2cf95bd48334961bf0530cdc77b5a56f852c5c61b89d735fd711R38) - until dill is properly fixed. If a new pylint version is released soon, maybe this would also be an alternative to waiting for dill or switching back to Python 3.10?

[2022-10-03 20:42] #78997 closed, assigned to nobody

[2022-10-03 20:49] #78924 closed, assigned to nobody

[2022-10-03 20:51] Kampftoast commented on #78914
Thank you for your feedback @samccann
I will do this in future PR. My intention was not to spam or make anyone's life harder. My apologies for that.

[2022-10-03 20:51] #79003 closed, assigned to nobody

[2022-10-03 20:53] s-hertel commented on #78805
@jnm27 I haven't been able to reproduce this. I tested with your playbook as-is, and then modified it to run for many hosts to try to increase the chance of reproducing, some gathering facts and some getting a brief sleep command to make sure different hosts are running different includes and all of them consistently displayed the correct result for the value of the variable.

I am only able to ge

[2022-10-03 20:54] #78998 closed, assigned to nobody

[2022-10-03 20:55] #78921 closed, assigned to nobody

[2022-10-03 20:59] samccann commented on #79006
Hi @smeet07 ! No, please only change these. There are multiple issues open to change them all since the ansible CI doesn't like it if a PR has more than 50 files. So we opened issues per directory.

[2022-10-03 21:01] giorgiga commented on #78993
*(initial comment updated to hopefully make it more clear)*

[2022-10-03 21:14] #78992 closed, assigned to nobody

[2022-10-04 00:03] nitzmahone opened #79016 "Tasks run via winrm hang on payload send error"
### Summary

A misbehaving or severely-overloaded Windows host may raise an unexpected WinRM Operation Timeout fault while a task payload is being transferred via the `shell/Send` input operation over a `winrm` connection. If this fault occurs during a payload send, the send operation cannot be safely retried, and the state of the target payload can no longer be relied upon (as WinRM does not guar

[2022-10-04 00:08] samdoran commented on #78987
The 12.6 issue has been going around. I’ve had to clean that up in quite a few machines. I’ll see about incorporating a fix into that role.

[2022-10-04 00:13] jnm27 commented on #78805
@s-hertel I wouldn't expect my reproduce code to reproduce it as-is. I have a very very large playbook running on 20+ hosts at a time in free mode. It has to be a very specific timing situation. We have some VMs and some physical machines executing the same code, and the VMs take longer to get to that section because they have to wait for the hypervisors first. That's how we found it.

What I ulti

[2022-10-04 02:35] #79006 closed, assigned to nobody

[2022-10-04 08:20] gionn commented on #77257
maybe fixed in https://github.com/ansible-community/molecule-docker/pull/178 - will update soon and report if original problem disappears

[2022-10-04 08:47] #78999 closed, assigned to nobody

[2022-10-04 09:30] #79000 closed, assigned to nobody

[2022-10-04 09:33] #79001 closed, assigned to nobody

[2022-10-04 09:35] #79002 closed, assigned to nobody

[2022-10-04 10:10] webknjaz commented on #78932
@karthiknatarajan-27558 looks like @XoMute got ahead of you here.

[2022-10-04 10:11] webknjaz commented on #78932
By zsh, not the terminal IIUC.

[2022-10-04 13:06] sivel commented on #78805
Your patch breaks other behavior, so it's not the correct change in any case.  It breaks the output of the linear strategy with this reproducer:

[code]

Ultimately your patch is never grouping hosts of the same task together, and always adding new tasks per host, so that all tasks for a single host are executed on their own, instead of being grouped, which effectively turns includes into `serial:

[2022-10-04 13:11] simonwibberley opened #79020 "ansible_fqdn has disappeared from ansible_facts"
### Summary

Having come back to a playbook I was working on a month or two ago `{{ansible_facts['ansible_fqdn']}}` was working just fine and now seems to have disappeared:

`'dict object' has no attribute 'ansible_fqdn'`

ansible hasn't been updated in the meantime (ansible [core 2.11.6]) and facts are being gathered.

Any clues as to what's happening here?

### Issue Type

Bug Report

### Compon

[2022-10-04 13:15] s-hertel commented on #78805
@jnm27 Thanks for the prompt response.  How did you ensure the wrong include would cause failure when you ran it overnight? I do see output like `included: test.yml for [hostA, hostB]`, but only when both hosts are ready to begin that particular include.

Here's a complete test case I was unable to reproduce with: https://gist.github.com/s-hertel/b0f4c0d6a01d4e6eb4ffd4b0e8c03dbf
I didn't run it ov

[2022-10-04 13:44] #78912 closed, assigned to nobody

[2022-10-04 14:27] jnm27 commented on #78805
@sivel I didn't understand why the \_\_eq\_\_ wasn't working either and I didn't expect my patch to be the final fix, it was just a workaround. Since we use free almost exclusively, that side effect doesn't bother us.
My first fix was going to be in \_\_eq\_\_ but when I debugged the task fields, I couldn't see differences between them, so I suspected some other field needed to be checked.

@s-her

[2022-10-04 14:29] #78925 closed, assigned to nobody

[2022-10-04 14:40] twouters opened #79021 "become not applied on roles"
### Summary

Become is not applied on roles when playbook has `become: true` set.

### Issue Type

Bug Report

### Component Name

become

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Arch Linux and Debian but probably irrelevant

### Steps to Reproduce

[code]
[code]

[code]

### Expected Results

All assertions pass and become is applied to all tasks

[code]

###

[2022-10-04 14:55] s-hertel commented on #78803
@sourcedelica I'm not sure this is a bug. The timeout applies per task execution. All three attempts are made for your first test case since each lasts less time than the timeout. The second test fails on the first attempt since it takes longer than the timeout.

If a task takes a minimum amount of time to complete, I could see why someone might want the full duration of the `timeout` to apply to

[2022-10-04 15:03] oraNod opened #79022 "Docs: Improve import_tasks and include_tasks"
### Summary

Docs for the [import_tasks](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/import_tasks_module.html) and [include_tasks](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/include_tasks_module.html) modules are missing parameters and need improvement.

Specifically ``import_tasks`` is missing docs for the ``file:`` parameter. Also docs for the ``i

[2022-10-04 15:05] #78932 closed, assigned to nobody

[2022-10-04 15:31] nitzmahone commented on #79020
Try:
[code]

You should see that the fact name has the `ansible_` prefix removed when it's accessed under the `ansible_facts` container.

[2022-10-04 15:34] nitzmahone commented on #79021
Does your inventory have `ansible_become` in it perchance? Remember that play directives are lower in precedence than host vars... If you need to set it independently of inventory, try using `vars` on the task/block/whatever as needed:
[code]

[2022-10-04 15:45] twouters opened #79023 "meta flush_handlers doesn't work in role"
### Summary

Triggering handlers with `ansible.builtin.meta: flush_handlers` in a role results in an error

### Issue Type

Bug Report

### Component Name

meta

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Arch Linux and Debian but probably irrelevant

### Steps to Reproduce

[code]

[code]

[code]

[code]

### Expected Results

I expect the play to succeed and tr

[2022-10-04 16:33] avinashkavi447 opened #79025 "Docker_container modules not taking env_file with multiple paths"
### Summary

Hello team
I was trying to add env_file to docker_container module. with one path it is working fine
If i try to give two paths it is giving error no such file

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: IOError: [Errno 2] No such file or directory: "['/home/ubuntu/dev
my file looks like below
- name: name
      docker_container:

[2022-10-04 16:34] #79025 closed, assigned to nobody

[2022-10-04 16:49] twouters commented on #79021
No inventory is used in these examples.

It works on ansible<=2.13

[2022-10-04 17:03] mkrizek commented on #79023
Thanks for the report.

The following is likely the fix:
[code]

I will work on making the diff into a PR, until then `meta:` can be used instead of `ansible.builtin.meta:` as a workaround.

[2022-10-04 17:37] sourcedelica commented on #78803
What is a task execution?  One task or one attempt of a set of retries?  Which do you not agree with?

I would expect either
The timeout would fail the whole task if, during the retry loop, the timeout was exceeded
Or
The timeout would fail an individual "try" of the retry loop

If you disagree with both, then how would you solve the problem: downloading large files over a flaky connection. We wan

[2022-10-04 18:04] jnm27 commented on #78805
I am able to consistently reproduce it like this (3/3 times so far):

[code]

[code]

[code]

[code]

[code]

[code]

And running it with target_host=[list of 20 hosts] and test_timeout=1.9 on my system.

[2022-10-04 18:46] sivel commented on #78805
Can you clarify what you experience errantly happening with that reproducer?  I ran it, and it completed, but not exactly positive what in the output should be considered an issue.

[2022-10-04 18:49] jnm27 commented on #78805
Some hosts (1-5 of them typically, different every time) fail on the "Run /tmp/test_script.sh" task with "no such file or directory" error.

May need to adjust the test_timeout to match your environment, it's a very specific timing window. I initially started with two hosts and saw how closely they executed together and adjusted test_timeout accordingly.

[2022-10-04 19:10] bcoca commented on #78805
i've run your reproducer 500 times and no errors, tried it on very loaded instances and could still not reproduce

[2022-10-04 19:16] sivel commented on #78805
I've also run it using a `test_timeout` ranging from `0.1` to `3.0` in `0.1` increments, 3 times through, and without a single failure.

Just putting my guessing hat on, it's possible you have some mixed or broken install that is using an old version of `included_file.py` that doesn't have the `uuid` fix that @s-hertel mentioned above.

[2022-10-04 19:23] jnm27 commented on #78805
Very strange..

I do see

[code]
in my /usr/local/lib/python3.8/site-packages/ansible/playbook/included_file.py

[2022-10-04 19:29] jnm27 commented on #78805
I added a sanitized version of the ansible-config dump to the description, in case anything there could be contributing. I have forks set to 100; not sure what yours are.

[2022-10-04 19:43] s-hertel commented on #78803
The behavior is b, the timeout fails an individual attempt.

A task timeout stops the retry process. b) timed out on the first attempt, and because of this it was not retried. This is consistent with the behavior for a) - each attempt is less than the timeout duration, so it reached the max number of retries.

[2022-10-04 19:52] bcoca commented on #79021
so using `include_role`/`import_role` this seems to work correctly, something is incorrectly 'finalizing' the tasks when using `roles:`

[2022-10-04 20:49] sivel commented on #78993
Ultimately this is something we are not interested in.  Effectively you want `report_changed_only_if_file_contents_modified` which is a little naive. Ultimately the next request will be to compare mtime, ctime, mode, owner, group, attrs, ext attrs, acls, which is basically what file manipulation modules end up validating to determine whether changes are made.

I think the real outcome here, is tha

[2022-10-04 20:49] #78993 closed, assigned to nobody

[2022-10-04 21:42] giorgiga commented on #78993
This is 100% fair - thanks for what you do and share with the community.

This is... how to put it... let's just say "naive" is needlessly judjemental and  "the next request will be" is just you assuming things that are convenient to construct a fallacious argument.

Again it's totally fine that you are not interested in implementing this functionality, but there is no need to dis it.

[2022-10-04 21:49] bcoca commented on #78993
@giorgiga i think you are reading too much into his choice of words, he means that while the request is narrow in scope, that it is opening up for what a lot that others will associate with it and require as features (not really speculation, experience has left us many burns in these matters).

[2022-10-04 23:38] SturmB commented on #78903
Took me a while and many trial-and-error runs, but I found the problem, but I'm unsure how to work around it.

The playbook in question runs locally rather than connecting to remote servers. Also, I set up my local Pop!OS installation so that whenever I run a terminal command that requires elevation (i.e., `sudo ...`), it prompts for a fingerprint scan instead of asking for the password. This is n

[2022-10-04 23:38] #78903 closed, assigned to nobody

[2022-10-05 00:46] iamperson347 commented on #77932
Anyone know of a workaround? This is blocking the upgrade to core 2.13/Ansible 6 for me.

[2022-10-05 01:47] s-hertel commented on #78805
@jnm27 Thanks for sharing the playbook. I modified it a bit but it fails irregularly quite frequently - here is one of those failures https://gist.github.com/s-hertel/9b033150e47c5ec7c2054930248b7496.

Would you be able to test if #78661 fixes the issue? I suspect the include_role is to blame. That pull request fixes the failures I'm seeing, but I'm not entirely sure if I've successfully reproduce

[2022-10-05 02:26] jnm27 commented on #78805
I can't run that branch in my environment, too much breakage from 2.13.2 to there including python step up. Would need a lot more time on my end to integrate it which I plan to do around 2.14 release...

[2022-10-05 04:02] sourcedelica commented on #78803
If a task timeout stops the retry process it sounds like the bug is (a) then.  If should have timeout out the task at 15 seconds but did not.  It appears that the retry restarts the timeout timer.

[2022-10-05 10:41] ariordan-redhat opened #79028 "Docs: Add code-block wrappers to code examples in guide_alicloud.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-05 10:46] ariordan-redhat opened #79029 "Docs: Add code-block wrappers to code examples in playbooks_filters.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-05 10:48] muditchoudhary commented on #79028
Hey @ariordan-redhat It seems I can work on this issue. Could you assign it to me?

[2022-10-05 10:57] ariordan-redhat opened #79030 "Docs: Add code-block wrappers to code examples in network_debug_troubleshooting.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-05 11:05] ariordan-redhat opened #79031 "Docs: Add code-block wrappers to code examples in implicit_localhost.rst"
### Summary

*Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , ref

[2022-10-05 11:11] Deepshaded commented on #79030
Hi @ariordan-redhat , if its okay, I would like to work on this issue.

[2022-10-05 11:13] 12-malak commented on #79031
@ariordan-redhat Hi, I would like to work on this. Please assign me.

[2022-10-05 11:17] ariordan-redhat commented on #79031
Thanks, @12-malak

[2022-10-05 11:18] Mobasherah12 commented on #79029
Hi @ariordan-redhat , I would like to work on this.

[2022-10-05 11:23] ariordan-redhat opened #79032 "Docs: Add code-block wrappers to code examples in lookup.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-05 11:29] ariordan-redhat opened #79033 "Docs: Add code-block wrappers to code examples in strategy.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-05 11:34] dshubhadeep commented on #79033
Hi @ariordan-redhat
I would like to work on this

[2022-10-05 11:35] dshubhadeep commented on #79032
Hi @ariordan-redhat
I would like to work on this

[2022-10-05 11:40] ariordan-redhat commented on #79032
Thank you, @dshubhadeep

[2022-10-05 11:40] ariordan-redhat commented on #79033
Thanks, @dshubhadeep

[2022-10-05 11:45] Akasurde commented on #79030
resolved_by_pr #79034

[2022-10-05 11:46] #79030 closed, assigned to Deepshaded

[2022-10-05 11:47] ariordan-redhat opened #79036 "Docs: Add code-block wrappers to code examples in YAMLSyntax.rst"
### Note: This issue has been assigned to shade34321.

### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this con

[2022-10-05 12:06] ariordan-redhat commented on #79030
Thank you for contributing to the Ansible docs, @Deepshaded !

[2022-10-05 12:08] shade34321 commented on #79036
I'd like to work on this please :)

[2022-10-05 12:14] ariordan-redhat commented on #79036
Thanks, @shade34321 !

[2022-10-05 12:16] ariordan-redhat opened #79038 "Docs: Add code-block wrappers to code examples in general_precedence.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-05 12:19] ariordan-redhat commented on #79036
!component=docs/docsite/rst/reference_appendices/config.rst

[2022-10-05 12:27] ariordan-redhat opened #79039 "Docs: Add code-block wrappers to code examples in faq.rst"
### This issue has been assigned to Shellylo

### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For

[2022-10-05 12:37] Deepshaded commented on #79038
If okay, I would like to work on this issue as well.

[2022-10-05 12:39] #79028 closed, assigned to muditchoudhary

[2022-10-05 12:39] Shellylo commented on #79039
I'd like to work on this one :)

[2022-10-05 12:47] ariordan-redhat opened #79041 "Docs: Add code-block wrappers to code examples in test_strategies.rst"
### Summary

**Problem**:
Throughout the Ansible docs, there are instances where example code is preceded with a lead-in sentence ending in `::`.
Translation programs then attempt to translate this code, which we don't want.

**Solution:**
Enclose code  in a `.. code-block:: <lexer>` element, so that translation processes know to skip this content.
For a list of allowed values for _`<lexer>`_ , re

[2022-10-05 12:49] shade34321 commented on #79036
Put up #79040 but I don't see a config.rst so let me find that.

[2022-10-05 12:54] shade34321 commented on #79041
I think I may have done this in my PR as well :/ #79040

[2022-10-05 12:57] shade34321 commented on #79036
I'm not seeing the `config.rst` file. Do I need to be looking somewhere else?

`ansible on  config_doc_cleanup via 🐍 v3.9.6
❯ ls docs/docsite/rst/reference_appendices/config.rst
Get-ChildItem: Cannot find path 'C:\Users\shade34321\src\ansible\docs\docsite\rst\reference_appendices\config.rst' because it does not exist.

ansible on  config_doc_cleanup via 🐍 v3.9.6
❯ `

[2022-10-05 13:00] ariordan-redhat commented on #79041
I'm looking at the PR, @shade34321

We tend to limit scope to one file for Hacktoberfest issues, to reduce the chance of merge conflicts, and so that more people can participate.

I'll assign this issue to you.

[2022-10-05 13:07] ariordan-redhat commented on #79036
@shade34321
That's odd. `config.rst` exists in my local copy of the repo, but it isn't listed in the GitHub UI.

[code]

[2022-10-05 13:08] ariordan-redhat commented on #79036
I'll change the filename from config.rst to YAMLSyntax.rst
It looks like you edited that file in PR #79040

[2022-10-05 13:21] shade34321 commented on #79041
Thanks, sorry. I just did all the files listed. I can remove some of the files if you'd like.

[2022-10-05 13:26] ariordan-redhat commented on #79041
Thanks, @shade34321
Can you remove changes to all the files apart from `test_strategies.rst`, please?

[2022-10-05 13:26] snakeboyslim opened #79043 "include_role with when condition causes exception"
### Summary

When including a role with
  - name: Include role
    include_role:
      name: my_role
    when: my_conditional

I am given the following error:
ERROR! Unexpected Exception, this is probably a bug: 'NoneType' object has no attribute '_play'

### Issue Type

Bug Report

### Component Name

include_role

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Red

[2022-10-05 13:40] shade34321 commented on #79041
yeah, give me a bit. Work is starting up.

[2022-10-05 13:41] shade34321 commented on #79036
yeah, give me a bit. Work is starting up.

[2022-10-05 13:50] shade34321 commented on #79036
Fixed the PR so it only has this file.

[2022-10-05 13:50] s-hertel commented on #78805
Here's a minimal diff that seems to fix the issue for me on 2.13.3:
[code]

[2022-10-05 13:52] shade34321 commented on #79041
New PR pushed.

[2022-10-05 13:52] snakeboyslim commented on #79043
Looks to be similar to the following issue: https://github.com/ansible/ansible/issues/74027

[2022-10-05 14:20] s-hertel commented on #78803
@sourcedelica It doesn't seem like a bug in my opinion. It seems like you want the sequence of events to be:
[code]

But the behavior is
[code]

It's not obviously to me which is the better behavior, they are just different expectations.

Playbooks are likely relying on the current design. If a task is known to take a minimum duration and the timeout accounts for that, subtracting the previous att

[2022-10-05 14:22] jnm27 commented on #78805
This does seem to fix the issue. Thanks!

[2022-10-05 14:23] bcoca commented on #78803
The 'timeout' keyword was designed to affect the execution of the task code, not the templating, looping and retries.

[2022-10-05 15:44] #79038 closed, assigned to Deepshaded

[2022-10-05 15:54] ariordan-redhat commented on #79041
Fixed by #79045

[2022-10-05 15:54] #79041 closed, assigned to shade34321

[2022-10-05 16:23] bcoca commented on #78903
Ansible does not currently support MFA, you could write/update the current connection and become plugins to do so, but it varies per setup too much to have a generic facility.

[2022-10-05 16:28] #79036 closed, assigned to shade34321

[2022-10-05 16:35] bcoca commented on #77932
fixed via #78050

[2022-10-05 16:35] #77932 closed, assigned to nobody

[2022-10-05 16:46] #79039 closed, assigned to Shellylo

[2022-10-05 16:55] #79032 closed, assigned to dshubhadeep

[2022-10-05 16:57] ariordan-redhat commented on #79033
Fixed by #79048

[2022-10-05 16:57] #79033 closed, assigned to dshubhadeep

[2022-10-05 17:03] ariordan-redhat commented on #79029
Thanks, @Mobasherah12

[2022-10-05 17:19] #78541 closed, assigned to nobody

[2022-10-05 17:22] sivel commented on #78541
This has been resolved in devel, and should be in 2.13.6 and 2.14.0 on Nov 7

[2022-10-05 17:33] iamperson347 commented on #77932
Hi @bcoca - will this be backported to ansible 2.13 or will it only go into ansible 2.14?

[2022-10-05 17:33] sivel commented on #79043
This was resolved in https://github.com/ansible/ansible/commit/baa20fba2f0c48049416e09b2999f7f1fb0e7213 and has been included in 2.12.0 and newer.

[2022-10-05 17:37] #79043 closed, assigned to nobody

[2022-10-05 17:38] #74027 closed, assigned to nobody

[2022-10-05 18:35] kennedyjosh opened #79052 "ec2_instance: availability_zone arg ignored"
### Summary

I would like to create a new instance with a specified availability zone. However, for some reason, my instance is not created in the specified availability zone.

### Issue Type

Bug Report

### Component Name

ec2_instance

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

local: macOS 12.5

### Steps to Reproduce

[code]

### Expected Results

I expect t

[2022-10-05 18:40] #79052 closed, assigned to nobody

[2022-10-05 18:51] sivel commented on #79023
Instead of directly using `add_internal_fqcns` in the strategy we can use `C._ACTION_META` which is already defined.

[2022-10-05 20:31] grinapo opened #79053 "UnicodeEncodeError: 'utf-8' codec can't encode character in cache/yaml.py"
### Summary

`getent` passwd chokes on crappy (non-utf accented) entries with

UnicodeEncodeError: 'utf-8' codec can't encode character '\udce1' in position 12: surrogates not allowed

### Issue Type

Bug Report

### Component Name

cache/yaml

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Debian/testing (+some sid)

### Steps to Reproduce

[code]

### Expected Resu

[2022-10-05 21:22] Yethal opened #79054 "Gathering facts fails after setting login shell to non-posix shell"
### Summary

After setting login shell to [nushell](https://github.com/nushell/nushell) I can no longer connect to the host via Ansible. Following error message is shown during Gathering Facts task:
[code]
Both python and python3 are available in path.
Once login shell is changed back to bash via chsh the issue goes away

### Issue Type

Bug Report

### Component Name

facts

### Ansible Version

[2022-10-05 21:35] Yethal commented on #79054
Update: Issue only occurs if become is set to true. fact gathering works when become is set to false

[2022-10-05 21:36] Yethal commented on #79054
become: true
[code]

[2022-10-05 21:37] Yethal commented on #79054
become: false
[code]

[2022-10-06 02:14] mit0223 opened #79055 "ansible_python_interpreter is ignored if load custom module"
### Summary

from 2.13, ansible_python_interpreter is ignored if load custom module.

### Issue Type

Bug Report

### Component Name

ansible-core

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Docker python:3.9

### Steps to Reproduce

library/executable.py
[code]
Dockerfile
[code]
Commands to reproduce
[code]

### Expected Results

I specify '/usr/local/bin/python

[2022-10-06 02:22] jborean93 commented on #79055
See https://github.com/ansible/ansible/issues/78809, the problem stems from using `#!/usr/bin/env python` as the shebang in your module which previously Ansible treating as Python and invoked it using the value from `ansible_python_interpreter`. In keeping with how we deal with shebangs with other languages and the `ansible_<language>_interpreter` variable this now only applies when the shebang is

[2022-10-06 02:23] bcoca commented on #79054
also try setting the python interpreter, the interpreter discovery script is not flexible with what shells it uses

[2022-10-06 02:25] bcoca commented on #79055
closing per above, the custom module is specifically bypassing interpreter semantics.

[2022-10-06 02:25] #79055 closed, assigned to nobody

[2022-10-06 03:15] sourcedelica commented on #78803
Besides the first interpretation I would also accept my second interpretation:

- Timeout is 5 seconds
- Task execution 1 takes 10 seconds and is failed by the timeout
- Task execution 2 takes 10 seconds and is failed by the timeout
- Task execution 3 takes 10 seconds and is failed by the timeout
- Max retries reached so the overall task fails

Right now it's not treating a timeout like a failure

[2022-10-06 03:44] bcoca commented on #78803
It is considered a failure, it is just not a 'task failure' and closer to a connection/unreachable failure.

Currently it is seen as the task itself has not failed but something in the system/network has, so the timeout was triggered.

I can see an argument to change this status and consider it a task failure (it didn't execute in the allocated time), as it does change the task status to such.

[2022-10-06 09:07] konstruktoid commented on #79054
I can't reproduce this.

[code]
[code]

[2022-10-06 09:18] iden83 opened #79059 "Virtual Server fortiadc configuration module reports change detected even tho there was no changes"
### Summary

Condition in virtual server python part of module (lines 264-267) is wrong and should be removed:

https://github.com/fortinet-ansible-dev/ansible-galaxy-fortiadc-collection/blob/galaxy/1.0.1/plugins/modules/fadcos_virtual_server.py#L264

There are conditions evaluated:

    if module.params['traffic_group'] and module.params['traffic_group'] != data['traffic-group']:
        data['tr

[2022-10-06 09:45] mkrizek commented on #79059
Thank you very much for your interest in Ansible. This plugin is not maintained in this repository. Please re-submit this issue in https://github.com/fortinet-ansible-dev/ansible-galaxy-fortiadc-collection.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.libera.chat
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2022-10-06 09:45] #79059 closed, assigned to nobody

[2022-10-06 10:00] bastianb opened #79060 "Unable to copy folder from windows controller to linux remote"
### Summary

When I use the copy built in, the path is not found in the src on the windows controller.
[code]

[code]
[code]

### Issue Type

Bug Report

### Component Name

copy path

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Windows for controller
Almalinux-9 on remote

### Steps to Reproduce

[code]

### Expected Results

I expect the content of the folder to

[2022-10-06 10:14] jborean93 commented on #79060
Hi!

Thanks very much for your interest in Ansible.  It means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on [irc.libera.chat](https://libera.chat/)
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

See  this page for a complete and up to date list of com

[2022-10-06 10:14] #79060 closed, assigned to nobody

[2022-10-06 13:13] sivel commented on #79054
Ultimately this is just not going to work, and not something we are prepared to allow.  Ansible, by extension of the CPython code we use for generating commands safe for shell execution, requires a POSIX shell (`shlex.quote`)

While there may be small changes we could make to potentially allow users to write a shell plugin for ansible that would aid in addressing the quoting issues, we know that t

[2022-10-06 13:13] #79054 closed, assigned to nobody

[2022-10-06 13:26] #79023 closed, assigned to mkrizek

[2022-10-06 13:41] lowkeylamb commented on #78926
# /home/lowkeylamb/.ansible/collections/ansible_collections
Collection        Version
----------------- -------
ansible.netcommon 3.1.1
ansible.utils     2.6.1
community.general 5.6.0
community.network 4.0.1

[2022-10-06 13:55] #79021 closed, assigned to sivel

[2022-10-06 17:05] ujjwal-shekhar commented on #59449
Hi can I work on this ?

[2022-10-06 17:43] ariordan-redhat commented on #59449
@ujjwal-shekhar
There are GitHub issues with the Hacktoberfest label that address this.
However, most of the issues have been addressed already, or someone is assigned to them.
Here's a link to one of the issues: https://github.com/ansible/ansible/issues/79029

The `grep` command to search is:
[code]

This grep command does throw a few false positives, but it's a good starting point.

[2022-10-06 17:53] #78442 closed, assigned to nobody

[2022-10-07 11:21] Yethal commented on #79054
@sivel Would a custom shell plugin also solve the issue?

[2022-10-07 14:05] #35480 closed, assigned to s-hertel

[2022-10-07 14:29] bcoca commented on #79054
While it can handle translations to some other shells (csh/zsh), these are mostly POSIX compatible, nushell seems way too different to have the plugin be able to handle the differences

[2022-10-07 15:05] samccann commented on #76742
@jillr I posted this on one of the AWS issues linked above, but we do have some generic 'contributing to collections' docs that might help:
generic 'contributing to collections' documentation at https://docs.ansible.com/ansible/latest/community/create_pr_quick_start.html

And some about testing at:
https://docs.ansible.com/ansible/latest/community/collection_contributors/test_index.html

If we lin

[2022-10-07 18:24] #74536 closed, assigned to nobody

[2022-10-07 18:25] bviktor commented on #20493
I wanna test my code with molecule, but some of my handlers are about restarting services, which involves systemd. That's all well, except for the fact that in Docker you don't have systemd, so all you get is:

[code]

So the obvious solution is to create a wrapper role around the systemd module which first checks for the availability of systemd, or maybe the `/.dockerenv` file, but... no, accordi

[2022-10-07 18:29] samccann commented on #76742
@Dule-mart - if you are still up for fixing this issue, here are my recommendations. They involve multiple files so you'll need to use git wit a local branch instead of Edit on Github:

Changes:
Using collections:
Modify https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/shared_snippets/installing_collections.txt#L3 to include "By default, Ansible installs the collection in `~/.ansible

[2022-10-07 18:36] bviktor commented on #20493
@zigarn thanks, that's good to know.

Still, that's a workaround. It doesn't actually detect the presence of systemd as it should, it just plugs host systemd into the container to make it not fail.

Not to mention the fact that for me that's still not gonna work, since I'm on WSL, which doesn't have systemd :)

(Yes, they announced systemd support in the very latest insider builds a couple of days

[2022-10-07 18:47] o0-o commented on #20493
@bviktor

`systemd` presence is in gathered facts.

`when: ansible_service_mgr == 'systemd'`

Or am I missing something?

[2022-10-07 18:52] bviktor commented on #20493
Thanks, that's a somewhat better _workaround_.

The point is that this still won't eliminate the copy-paste. Yes, now I "only" need to copy-paste this clause under every task/handler that involves systemd :) In this one example. But there are other examples. But I'm still unable to implement a role *once* that deals with such exceptions, and then I can just call that role.

Yes, I could push my ro

[2022-10-07 18:57] bviktor commented on #20493
Actually, I take it back, it wont work anyway:

[code]

Even though it's a Docker environment without any systemd presence :)

[2022-10-07 19:02] o0-o commented on #20493
That seems not great.

[2022-10-07 19:09] Dule-mart commented on #76742
Gthub desktop and VS Code could work

On Fri, 7 Oct 2022 at 19:29, Sandra McCann ***@***.***> wrote:

[2022-10-07 19:27] #74580 closed, assigned to nobody

[2022-10-07 23:01] pjgoodall opened #79080 "‘managed node requirements’ documentation page is missing"
### Summary

I got a ‘404’ notification following the link: https://docs.ansible.com/ansible/latest/dev_guide/:ref:managed-node-requirements. The link is within the paragraph: https://docs.ansible.com/ansible/latest/dev_guide/developing_python_3.html#id1

### Issue Type

Documentation Report

### Component Name

ansible/docs/docsite/rst/dev_guide/developing_python_3.rst

### Ansible Version

[code

[2022-10-08 03:20] dareth-koh opened #79081 "Unable to specific correct ESXi hosts"
### Summary

Ansible script to provision a VM to the correct host

### Issue Type

Bug Report

### Component Name

vmware_guest module

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Centos7
3.10.0-1160.76.1.el7.x86_64

Guest OS:	CentOS 4/5 or later (64-bit)
Compatibility:	ESXi 6.7 and later (VM version 14)

### Steps to Reproduce

- name: Deploy VM
  hosts: localhos

[2022-10-08 03:23] #79081 closed, assigned to nobody

[2022-10-08 05:17] bluikko commented on #20493
This is a very unfortunate view but even more unfortunately it is also accurate.

The most ridiculous common response to these matters is "Ansible is not coding". Sadly these issues are not widely known and newcomers get sucke(re)d into using Ansible. Only after things are moving to more advanced usage of Ansible do all these "designed" limitations come apparent and at that time it is often not fe

[2022-10-08 07:51] pjgoodall commented on #79080
I don’t understand this direction. What am I supposed to update ‘component name’ to?

[2022-10-08 12:56] Yethal commented on #79054
Yes but ansible also has shell plugins for cmd and powershell which are also non-posix, so perhaps a custom nushell plugin with its own shell type could work?

[2022-10-08 14:42] o0-o commented on #20493
@bluikko for someone who comes across this issue while shopping for management systems, which alternative do you believe has the capabilities that Ansible lacks here?

A concrete example may also be helpful in persuading the Ansible team to design a solution around roles in handlers.

[2022-10-08 16:02] #78694 closed, assigned to nobody

[2022-10-08 19:46] arneja-arnav commented on #79031
Hey @ariordan-redhat may i work on this as well?

[2022-10-08 22:12] Yannik opened #79083 "enabling jinja2 native leads to quotes nested in quotes being stripped"
### Summary

Enabling jinja2 native leads to quotes nested in other quotes (single quotes in double quotes or vice versa) being stripped. This stripping is additionally done in a seemingly inconsistent and unpredictable way.

### Issue Type

Bug Report

### Component Name

jinja2

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

fedora 36

### Steps to Reproduce

[code

[2022-10-09 06:46] 12-malak commented on #79031
@ariordan-redhat  New PR pushed #79084

[2022-10-09 16:23] 12-malak commented on #79031
@ariordan-redhat New PR pushed with requested changes #79086

[2022-10-10 04:03] #79031 closed, assigned to 12-malak

[2022-10-10 14:21] bcoca commented on #79054
not really, since the windows system entails a whole execution stack, for example python interpreter discovery is not run on that path.

[2022-10-10 21:03] sivel commented on #79080
This has recently been resolved in https://github.com/ansible/ansible/commit/1e6730aec4363744a390cd0357dbf9db3647a85c

[2022-10-10 21:11] pietryszak commented on #78063
Known and confirmed issue form Jun 15, ubuntu 22.04 apt_key adds keys to a deprecated location, and still exsist. Why is not fixed till today?

[2022-10-10 21:54] pjgoodall commented on #79080
Thanks - how long do these updates typically take to be released into current online documentation?

[2022-10-10 21:55] sivel commented on #79080
It hasn't been backported to the stable-2.13 branch yet, which is why I haven't closed.  It does appear if you switch out `/latest/` for `/devel/`.

[2022-10-10 21:59] #79029 closed, assigned to Mobasherah12

[2022-10-10 22:06] pjgoodall commented on #79080
Thanks again. I’m still learning about Ansible documentation.
I commented on the commit. I hope I did this in the right place. I’m unsure of the conventions. Happy to put my suggestion somewhere else if it would be more useful.

[2022-10-10 23:23] pjgoodall commented on #79080
I removed the comment I mentioned above.
Following is the original reason I wanted to view ‘managed node requirements’.
How do I report my documentation need?

“ A managed node is AFAIK usually accessed via some user account over ssh.
What are the minimal privileges, or any other requirements of that account within that managed node?
I believe I am describing a genuine documentation requirement fo

[2022-10-10 23:37] pjgoodall opened #79095 "Documentation required for minimal privileges of service account for managed node"
### Summary

I wanted to view ‘managed node requirements’. My original need is below:

“ A managed node is AFAIK usually accessed via some user account over ssh.
What are the minimal privileges, or any other requirements of that account within that managed node.?

Will have multiple platform implications.

_Originally posted by @pjgoodall in https://github.com/ansible/ansible/issues/79080#issuecom

[2022-10-10 23:39] pjgoodall commented on #79095
An informal example is here: https://www.googlinux.com/ansible-preparing-the-managed-node-for-ansible-with-ansible/

[2022-10-11 10:25] jsabater opened #79096 "Add options to manage pip's package cache"
### Summary

Dear Sir or Madam,

I'd like to kindly request adding options to manage pip's cache. Especifically:

1. An option to enable/disable cache when installing packages, i.e. the equivalent of using `--no-cache-dir` (available since pip 6.0).
2. An option to purge existing cache, i.e. the equivalent of running `pip cache purge` (available since pip 20.1).

### Issue Type

Feature Idea

###

[2022-10-11 14:59] ericzolf opened #79101 "ansible.builtin.copy deletes /dev/null instead of copying when called as root"
### Summary

When calling `ansible -m ansible.builtin.copy -a 'src=/dev/null dest=/tmp/xxx remote_src=true' localhost -b`, ansible complains that the _target_ file doesn't exist, and then, if the target file exists, removes the source `/dev/null` instead of copying it onto the target.

### Issue Type

Bug Report

### Component Name

ansible.builtin.copy

### Ansible Version

[code]

### Configurat

[2022-10-11 15:22] s-hertel commented on #79096
Hi!

Thanks very much for your submission to Ansible.  It means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.
Our reasons for this are:

   * The pip module takes extra args so you can disable using the cache https://docs.ansible.com/ansible/latest/collections/ansible/builtin/p

[2022-10-11 15:22] #79096 closed, assigned to nobody

[2022-10-11 15:22] sivel commented on #79095
In the end, all that is required is a user that can ssh to the host.  The permissions required differ per operation.  If you need to create a user, you need the ability to become root.

I'll leave this open for someone to add that to docs, but since you didn't use the issue template, this issue will be closed automatically.

[2022-10-11 17:57] odtgit opened #79105 "Ansible on LXD target unable to write to tmp"
### Summary

Not sure when this issue started, but my target host has been running alpine:edge for a long time using the LXD connector and since some time none of my LXD/Alpine targets can be reached due to a tmp directory creation error. Host is running ansible 2.13 in a docker environment. Logs below
[code]

When manually executing the failed command, it does not cause any errors:

[code]

### I

[2022-10-11 20:18] kennedyjosh opened #79109 "Unexpected exception while installing collections from requirements.yml file"
### Summary

While trying to install collections from a `requirements.yml` file, I get an "unexpected error" message.

### Issue Type

Bug Report

### Component Name

galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOS 12.5

### Steps to Reproduce

[code]

### Expected Results

I expect the package to install with no issues.

### Actual Results

[code]

###

[2022-10-11 20:40] sivel commented on #79109
Duplicate of https://github.com/ansible/ansible/issues/78067

Ultimately, versions for collections must be semver.

[2022-10-11 20:56] kennedyjosh commented on #79109
Thanks for linking the related issue. So there is no way to reference by git hash at this time?  I just have to wait for the next release of that collection?

[2022-10-11 20:59] #78793 closed, assigned to nobody

[2022-10-11 21:04] sivel commented on #79109
You can, just not with the `ansible-galaxy` CLI:

[code]

[2022-10-11 21:06] sivel commented on #79083
Ultimately, the explanation for this is related to how jinja2 native works.  Unless the full result of a templating operation is tagged in a way that marks it as text, the value is turned into a "native" Python data type by using `ast.literal_eval`

Consider this bit of python code:

[code]

As such, you need to increase your quoting to survive the `ast.literal_eval`, such as:

[code]

This howeve

[2022-10-11 21:15] sivel commented on #79101
Ultimately, copying `/dev/null` as the src isn't likely to accomplish what you want.  What you really want is something more like this:

[code]

Effectively this is more similar to `echo -n "" > /tmp/xxx` than `cp /dev/null /tmp/xxx`.  `cp` is just doing some magic here to achieve what you actually want done.

In any case, having `/dev/null` go missing is unexpected.  What happened in your case, w

[2022-10-12 08:07] PVMPATCH opened #79115 "Should it check for None early to avoid triggering an error?"
### Summary

I noticed that you added a `None` check to the variables `auth` and `port`,
but I think the variable `match` should be checked for `None` first,
because the `netloc_re.match(parts[1])` may return `None`.
If `match` is `None`, attempting to call its group method may trigger an error
[code]

### Issue Type

Bug Report

### Component Name

ansible/lib/ansible/module_utils/urls.py

### An

[2022-10-12 08:14] mtoivo commented on #77077
As per example in the documentation, you need to add ` jump : DSCP` to your module parameters. If the jump is not specified to iptables, the additional dscp -parameters fail.

Also check the value you're using in the set_dscp_mark -parameter, it should be in the range of 0-63.

[2022-10-12 09:27] jwalzer commented on #79101
Thing is, this worked before and has been running for quite some time.

I run into this with a large installation yesterday and troubleshooted the root cause together with @ericzolf because I was using his roles.

[2022-10-12 10:07] waqarsky opened #79117 "ansible_default_ipv4 storing incorrect values"
### Summary

ansible_default_ipv4 has the following values when I echo it out:

`ok: [localhost] => {“ansible_facts”: {“ip_info_debug_a”: {“address”: “10.109.188.206", “broadcast”: “0xffffe000", “device”: “utun3", “flags”: [“UP”, “POINTOPOINT”, “RUNNING”, “NOARP”, “MULTICAST”], “interface”: “utun3", “macaddress”: “unknown”, “mtu”: “1390", “netmask”: “10.109.188.206", “network”: “10.109.188.206", “

[2022-10-12 10:10] waqarsky commented on #79117
!component +lib/ansible/module_utils/facts/network/

[2022-10-12 11:46] ericzolf commented on #79101
It is/was still working as non-root, but I agree that `content=""` is a better approach. Making sure that nobody can destroy their server was IMHO the important bit. Thanks !

[2022-10-12 13:44] #47023 closed, assigned to nobody

[2022-10-12 13:45] bcoca commented on #79101
also `file: state=touched path=/tmp/xxx`

[2022-10-12 16:22] sivel commented on #79115
Checking if it's `None` is not required, that is why it is in `try/except` block.  It's often more pythonic to "ask for forgiveness, not for permission", as such we use it as we expect, and then catch the exception, and move on, instead of saying, "are you what I want?" before using it.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat

[2022-10-12 16:22] #79115 closed, assigned to nobody

[2022-10-12 17:16] #79083 closed, assigned to nobody

[2022-10-12 17:52] Yannik commented on #79083
Thanks, @sivel for the explanation on how this works, and thanks @mkrizek for fixing this! :tada:

[2022-10-12 20:34] sivel commented on #79105
This is the root error:

[code]

That error indicates that there is no LXD service providing that `/var/lib/lxd/unix.socket` socket file.

[2022-10-13 00:20] pjgoodall commented on #79095
Thanks Matt - I won't follow-up, just let the bot delete the ticket...

On Wed, 12 Oct 2022 at 12:23, Peter Goodall ***@***.***> wrote:

[2022-10-13 08:28] mkrizek commented on #78898
As a note, @j-mracek and I have discussed the initial plan for creating a new module for `dnf5`.

[2022-10-13 13:41] AFakeman opened #79130 "Ansible copies collections' module_utils incorrectly in case of case-insensitive volume mounted to case-sensitive filesystem"
### Summary

When executing Ansible inside the Docker (for Mac) container mounting the collections directory from the host OS, Ansible can copy the module dependencies incorrectly.

### Issue Type

Bug Report

### Component Name

AnsiballZ

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Alpine Linux inside Docker for Mac

### Steps to Reproduce

[code]

### Expected

[2022-10-13 16:49] s-hertel commented on #77664
@nkakouros If you add an item to the meeting agenda, please mention what needs to be resolved or attend to have a conversation. If you wanted core to reconsider the priority you would need to advocate for it.

This was discussed when the initial feature was designed and it was decided against because it adds a lot of complexity. We're open to accepting a good implementation, so this is waiting on

[2022-10-13 19:16] #79117 closed, assigned to nobody

[2022-10-13 19:25] AFakeman commented on #79130
Not exactly. The check whether FS is case sensitive or not is done for the entire filesystem at once by checking if the file lib/ansible/utils/path.py is on a case-sensitive FS or not. The edge case is when you mount the collections directory from a case-insensitive FS to a case-sensitive one, which is what happens when you mount the directory inside a Docker container on a Mac.

We applied a work

[2022-10-13 20:36] nkakouros commented on #77765
Relax, I've attended other IRC meetings but missed **one** I meant to attend, life happens.

Not if you are on mobile.

I am closing this as I don't plan to work on this, in the near future at least.

[2022-10-13 20:36] #77765 closed, assigned to nobody

[2022-10-13 20:54] nkakouros commented on #77664
I meant to attend the meeting but just couldn't.

I bypassed the issue by adding [a script in my roles](https://github.com/nkakouros-original/ansible-role-easyrsa/blob/master/meta/generate_defaults.py) and running it in CI after each commit. I will close this as I don't plan to work on this and there is a solution, although it would be nice to be baked in.

[2022-10-13 20:54] #77664 closed, assigned to nobody

[2022-10-13 22:17] sivel commented on #79130
The 2.9 release is end of life and no longer receiving any support.  The code referenced for 2.9 was not needed in 2.10+.

At this time, ansible-core 2.13 is the most recent supported version that would have hope of receiving a fix if this is still an issue.

You may wish to upgrade to ansible-core 2.13 and let us know if you are still experiencing issues.

needs_info

[2022-10-14 05:17] nithinanjamkudi opened #79135 "Unable to manage snapshots for non-existing VM"
### Summary

unable to take vmsnaphot using vmware_guest_snapshot module.Always getting error-Unable to manage snapshots for non-existing VM"

### Issue Type

Bug Report

### Component Name

vmware_guest_snapshot

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ubuntu 20.4

### Steps to Reproduce

- name: to test snapshot
  hosts: localhost
  tasks:

# - name: Ensure

[2022-10-14 05:20] #79135 closed, assigned to nobody

[2022-10-14 07:45] AFakeman commented on #79130
Upgraded to ansible-core, as per your suggestion. The case no longer reproduces. I am afraid we can't upgrade our Ansible to that version in our environments due to all the hash_behavior business, seems like we will keep our workaround for now.

Thanks!

[2022-10-14 08:00] #79130 closed, assigned to nobody

[2022-10-14 11:15] gaui opened #79140 "azure_rm_virtualmachine new feature request (Auto-shutdown)"
### Summary

This is a follow-up on issue #37259

In Azure RM, during deployment of a new IaaS VM (OS-agnostic), you can configure an Auto-shutdown with optional email notification. If enabled, requires a time in `hh:mm:ss` format, and a timezone to be selected.
This is not an option yet in the `azure_rm_virtualmachine`, and would be really helpful to have, especially when setting up dev or for-fu

[2022-10-14 11:20] #79140 closed, assigned to nobody

[2022-10-14 14:53] ericzolf commented on #79101
That last option wouldn't help, I want the file to be backed-up and emptied (actually, I only want to see it backed-up before I remove it). Anyway, fixed in https://github.com/redhat-cop/aap_utilities/pull/104

[2022-10-14 15:03] s-hertel commented on #66255
This was fixed by 827981c7dd3bb9d8a9d1e571a0cea6f51fbb7e65.

[2022-10-14 15:03] #66255 closed, assigned to nobody

[2022-10-14 20:02] webknjaz commented on #79109
@kennedyjosh
Your abbreviated commit sha only consists of digits which is why YAML parser reads it as a number and it gets passed around as such. This leads to an exception during the dependency resolution.
Have you tried using a full commit sha? It'll be a string. I'm like 99% sure this would fix your issue.
Besides, using a full commit sha is better from the security/reproducibility PoV — there'

[2022-10-14 20:12] atar-axis commented on #24862
Okay i actually found the issue in my script, I used the lineinfile module for a file inside the home directory which was not yet created... afterwards I created the home directory resulting in that error.

[2022-10-14 23:43] kennedyjosh commented on #79109
@webknjaz You're right, the full sha works! However, now I'm getting the error:
[code]

[2022-10-15 15:54] #78757 closed, assigned to nobody

[2022-10-15 21:43] Dule-martins commented on #60632
This is not a docs issue I guess?

[2022-10-15 21:45] Dule-martins commented on #79080
Is this issue still open for a fix?

[2022-10-15 21:46] KoenDG opened #79146 "Documentation about required installed tools on the remote host?"
### Summary

I recently had trouble with `become_user` for a non-priviliged user. The situation explained in the documentation didn't explain my case, as I have several hosts that use this exact playbook and don't have this problem.

On checking the hosts, it turns out that this the issue was that on fresh Ubuntu 20.04 installs, the `acl` packet is no longer installed by default. After installing

[2022-10-15 21:53] Dule-martins commented on #79022
I need some clarity on what to do here?

[2022-10-16 09:36] jsabater opened #79147 "Environment variables sent via 'environment: when using 'django_manage' and 'become_user' are not present in host"
### Summary

I have a file with a list of variables and their values, originally templated but now static as I try to debug this issue. It contains  a number of variables that are required by Django, such as `DJANGO_SECRET_KEY`, `DJANGO_SITE_NAME`, and so on.

I use `ansible.builtin.include_vars` to load these variables into a variable in the playbook.

I use `community.general.django_manage` to r

[2022-10-16 09:42] #79147 closed, assigned to nobody

[2022-10-16 15:03] baditaflorin opened #79148 "ability to rename extracted folder in ansible.builtin.unarchive"
### Summary

Trying to emulate this command in ansible and was thinking that it would be useful if you would have the ability to rename the extracted folder directly from the unarchive module.

[code]

### Issue Type

Feature Idea

### Component Name

ansible.builtin.unarchive

### Additional Information

This is how I currently solve this

[code]

### Code of Conduct

- [X] I agree to follow the

[2022-10-16 15:19] #78893 closed, assigned to nobody

[2022-10-16 19:24] jsabater commented on #79147
As required, I have [posted this issue](https://github.com/ansible-collections/community.general/issues/5374) in the `ansible-collections/community.general` repository.

[2022-10-17 07:18] oraNod commented on #79022
@Dule-martins This issue is fixed with the merged PR. I'll close now. Thanks.

[2022-10-17 07:18] #79022 closed, assigned to oraNod

[2022-10-17 11:27] prasadpatil49 commented on #79148
As per documentation there is an parameter "creates". however that parameter has not being used in code anywhere. From description it is not clear if this option is meant for situation mentioned in this issue. can someone provide more information on this parameter ?

[https://docs.ansible.com/ansible/latest/collections/ansible/builtin/unarchive_module.html](url)

I am a new contributor looking to

[2022-10-17 12:10] nmelotlunarc opened #79149 "Ansible skips role when role is dependency of other role that is suppressed with false when clause"
### Summary

Ansible skips a task in a role where neither the task or the role is suppressed by a `when` clause that evaluates to `false`. See below for details.

### Issue Type

Bug Report

### Component Name

pip

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

OS: Rocky Linux 9
Python:
[code]

### Steps to Reproduce

The playbook calls a sequence of roles, `A_inclu

[2022-10-17 13:22] lukasvenuti opened #79150 "Ansible - Failed With Nexus 5k"
### Summary

Hello guys.
When I try to run my ansible on nexus 5K devices, Ansible returns the fatal error message.

fatal: [5k-cl1-a]: FAILED! => {"ansible_facts": {}, "changed": false, "failed_modules": {"ansible.legacy.nxos_facts": {"failed": true, "invocation": {"module_args": {"gather_network_resources": null, "gather_subset": ["!config"], "provider": null}}, "msg": "command timeout triggered

[2022-10-17 13:46] #79150 closed, assigned to nobody

[2022-10-17 14:47] sivel commented on #79149
This is resolved by https://github.com/ansible/ansible/pull/78661

As such, it's probably a duplicate of https://github.com/ansible/ansible/issues/39543

[2022-10-17 15:38] legitYosal opened #79151 "Async import_tasks loop"
### Summary

In some occasions in one role, you may have a group of tasks that are applying some specific work, for example, we have a role which installs Nginx, naturally on multiple hosts, installing process is asyncally done, in each installation we have a group of virtual hosts of Nginx, maybe tens of them, after installing Nginx and configuring virtual hosts, for every virtual host, we will c

[2022-10-17 17:05] bcoca commented on #79130
@AFakeman  `hash_behavior` has not changed in those versions. We did attempt to deprecate/remove it, but backed out of that.

[2022-10-17 17:09] bcoca commented on #79101
fixed via #79102

[2022-10-17 17:09] #79101 closed, assigned to nobody

[2022-10-17 17:22] bcoca commented on #79146
In general the only 'required' packages are those used to run the modules, which means whatever connection, privilege escalation , shell and interpreter combo you use, as such there is no firm list as that can change in configuration (Ansible adapts to you,  it should not be the other way around).  That said, the defaults are ssh, sudo, sh and Python, which are common enough to not require changes

[2022-10-17 19:03] IlyesSemlali commented on #75509
Hi ! I'd like to document the most used ansible commands in the mentionned CheatSheet, can I be assigned on this issue ?

[2022-10-18 08:39] JaroslavKlech commented on #72381
Can we close this issue, or more notes need to be added anywhere else?

[2022-10-18 11:26] Dule-martins commented on #78880
Hello, @samccann Do I have to create a new file for this or is there an existing file that I have to include this to?

[2022-10-18 11:41] larryease commented on #79080
@sivel, what is the current status of this issue? still open for a fix?

[2022-10-18 11:45] Aysha-py commented on #78493
@samccann Hi, I am from the Ansible writers community, is this issue still open? I want to make contributions to it.

[2022-10-18 12:37] s-hertel commented on #79080
It has already been fixed by https://github.com/ansible/ansible/commit/1e6730aec4363744a390cd0357dbf9db3647a85c. The docs team typically backports batches of PRs (like [this](https://github.com/ansible/ansible/pull/79070)) so it's still open until that's complete.

[2022-10-18 14:02] s-hertel commented on #79151
This looks like a duplicate of https://github.com/ansible/ansible/issues/28997. The right syntax for `include_tasks` would be to use the `apply` option:
[code]
but that will only work if #28997 is implemented. There are actions that don't support async (like `async_status`), so you'd need to set `async: 0` on any tasks that don't support it.

[2022-10-18 18:07] samccann commented on #78493
Hi @Aysha-py ! Yes this is still available.  The specific changes are:

1. Change note at https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/reference_appendices/python_3_support.rst#L9  to:
[code]

Change line https://github.com/ansible/ansible/blame/devel/docs/docsite/rst/reference_appendices/python_3_support.rst#L21 to:
`  python version = 3.10.5 (main, Jun  9 2022, 00:00:00) [GCC

[2022-10-18 18:12] samccann commented on #72381
@JaroslavKlech thanks for checking and yes this is fixed by https://github.com/ansible/ansible/pull/78785 so closing now and thanks @Dule-martins !

[2022-10-18 18:12] #72381 closed, assigned to nobody

[2022-10-18 20:11] KoenDG commented on #79146
Technically, it is mentioned on the documentation: https://docs.ansible.com/ansible/latest/user_guide/become.html#risks-of-becoming-an-unprivileged-user

That `setfacl` is used to try this. But it didn't occur to me that such a standard, basic tool that has been there for years in Ubuntu... would suddenly be gone.

While Ubuntu 20.04 is 2 years old, `acl` is a tool that had up to that point been c

[2022-10-18 20:18] bcoca commented on #79146
Again, this is NOT a requirement, it does make it easier to resolve this corner case, but it is not the only way to make it work.

[2022-10-18 23:41] usefss commented on #79151
Yes it is very similar, also very strange that people opened up about supporting async on block rather than import_tasks, because it is not supported to loop on block...
I think using `apply` will execute each task in `task.yaml` asynchronously, that is not what I wanted, the group of tasks in file `task.yaml` must execute sequently...
And I did not understand what do you mean by `if https://githu

[2022-10-19 04:15] ankujuniyal commented on #72451
I had same issue,
I installed httpd using playbook,

[code]

 but when i try to start httpd using
[code]
It's always gives me ok response only.

So i try to look for services on server by service facts,  i didn't find it as well there.
`
"ansible_facts.services[\"httpd.service\"]": "VARIABLE IS NOT DEFINED!"

`
service status on server

[code]

So Once i enable (systemctl enable httpd) service man

[2022-10-19 09:21] ousui opened #79162 "How can I use the specified parameters in module_args with Ansible-adhoc"
### Summary

I execute the ansible adhoc command like this
[code]
But then I found the windows command `ipconfig` can't execute success, because Ansible Adhoc has not parse the plugin of ansible which win_shell's parameter  "output_encoding_override".
Then I debug Ansible, I found the location
[code]
It takes me '# FIXME: make the retrieval of this list of shell/command options a function, so the

[2022-10-19 13:34] bcoca commented on #76629
@przemyslawstrzelczak9ld  I do see 'failed' as the first 'state' available in docs, not sure what you are getting at.

As for the PRs introducing regressions ... hard to do if they are not merged, probably part of the reason they are still open.

[2022-10-19 14:00] pstrzelczak opened #79163 "community.general.archive requires lzma module when format != xz when a dest file exists"
### Summary

As in summary. It used to work in ansible 2.10

### Issue Type

Bug Report

### Component Name

archive

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

Rocky 8 on controller node
CentOS 7 on target node

### Steps to Reproduce

Reproduction:
[code]

### Expected Results

65f128b924c5 | CHANGED => {
    "ansible_facts": {
        "discovered_interpreter_p

[2022-10-19 14:06] #79163 closed, assigned to nobody

[2022-10-19 14:22] s-hertel commented on #79151
I totally misunderstood what you were doing, not a duplicate of #28997 in that case. Maybe more similar to https://github.com/ansible/ansible/issues/22716.

Just to clarify my original comment - `import_tasks` creates an implicit block, as does `include_tasks`. Looping over non-implicit blocks is not possible (you can find some context for that here https://github.com/ansible/ansible/issues/13262)

[2022-10-19 16:23] usefss commented on #79151
This was a very smart way to solving the issue, thank you for this complete explanation. I will put this on Stackoverflow too. I think I must close this now.

[2022-10-19 16:23] #79151 closed, assigned to nobody

[2022-10-19 16:36] s-hertel commented on #79151
Credit to @sivel for smart solution :smile:

[2022-10-19 17:56] Xoren-Games opened #79165 "Running Ansible ansible.builtin.file lookup as a non-root user is not working with the become task directive."
### Summary

Running Ansible `ansible.builtin.file lookup` as a non-root user is not working with the `become` task level directive. The error message isn't clear also.

Error when using the *with_file* format:
`fatal: [localhost]: FAILED! => {"msg": "could not locate file in lookup: simple_test_file.txt"}`

Error when using the inline format:
`fatal: [localhost]: FAILED! => {"msg": "An unhandled

[2022-10-19 18:09] sivel commented on #79165
This is expected. Lookups run within the main process, and become only affects target module execution.  Instead of using the `file` lookup, you would need to use the `slurp` module as it's own task, potentially with `register` to utilize in later tasks.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.libera.chat
   * mailing list: https://groups.g

[2022-10-19 18:09] #79165 closed, assigned to nobody

[2022-10-19 19:02] Xoren-Games commented on #79165
The file in provided example is on the Ansible controller node, not remote.  Why are you recommending the use of the `slup` module; it seems inefficient for this use case?  As I indicated in my report, I know I can work around this limitation by copying files or altering permission.

On complex production systems, having to perform extra tasks just to lookup (read) up a single file is inefficient

[2022-10-19 19:34] Xoren-Games commented on #79165
Another issue with using the slurp module is the extra step of encoding in base64, which for simple file reading is not efficient since it requires double the RAM and extra CPU resources.

[2022-10-19 19:34] bcoca commented on #79165
An extra task delegated to localhost is not much different than a running a lookup, both fork into a child process, so 'efficiency' is not really an issue here.

The behavior is expected, become only applies to modules, not to any local plugin or templating.
As for docs, here it is clear that lookups run on the controller:
https://docs.ansible.com/ansible/latest/user_guide/playbooks_lookups.html#l

[2022-10-19 19:58] itxasos23 commented on #78461
Hey!
I saw this issue and I'd like to contribute.
My main concern is how to serve the use-case here.

How about adding a new warn method, something like `module.warn_change` that has a more general messaging than "This feature will be removed from x in version y"?

[2022-10-19 20:08] przemyslawstrzelczak9ld commented on #76629
For 'state' field yes, for 'status' field no.

[2022-10-19 20:21] przemyslawstrzelczak9ld commented on #76629
@bcoca I am sorry, I use wrong PR reference. I updated it now. Please check.

[2022-10-19 21:41] kennedyjosh opened #79168 "Unable to install collection with type: git"
### Summary

I'm trying to install some collections using `ansible-galaxy install -r requirements.yml` but am unable to install a specific version from a git repository.

### Issue Type

Bug Report

### Component Name

galaxy

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOS 12.5

### Steps to Reproduce

requirements.yml
[code]

### Expected Results

I expect the

[2022-10-19 21:44] Dule-martins commented on #78880
Ok then, take your time in getting the writeup in place.

[2022-10-19 21:45] kennedyjosh commented on #79168
This is related to #79109 but it doesn't look like the proposed solution in #79112 fixes the issue addressed here.

From what I can understand, it seems like there is currently no way to install a collection from git via ansible-galaxy.

[2022-10-19 21:47] Dule-martins commented on #79080
Thanks @s-hertel

[2022-10-19 21:48] Xoren-Games commented on #79165
I thoroughly, read and re-read all Ansible documentation on both `become` and `ansible.builtin.file lookup` before opening this issue.  So I respectfully disagree; this issue isn't explained in the Ansible documentation currently.

None of the links you provided address the issue I reported.  Specifically, that the `ansible.builtin.file lookup` does not support the `become` directives or privilege

[2022-10-19 22:00] s-hertel commented on #76629
The documentation was added in a differerent PR and only documented the values added in that PR, not existing ones: https://github.com/ansible/ansible/pull/49618

The description for `status` could probably include `"Depending on the used init system additional states might be returned."` like `state`.

https://github.com/ansible/ansible/pull/76018 doesn't look like a regression. A new return key

[2022-10-20 00:08] bcoca commented on #78461
or use existing `module.warn`?

[2022-10-20 00:18] bcoca commented on #79165
No, there are no docs that specifically say 'the file lookup does not work with become' , just docs that say 'become is only for  remote execution' and 'lookups are always locally executed ', I do not think we should need to add docs for the cases for each and every plugin as the current behavior should be easily inferred from such.

`slurp` like every module is meant to execute 'at the target', w

[2022-10-20 00:39] Xoren-Games commented on #79165
Thanks for your feedback, especially the suggestion to use the `ansible.builtin.pipe` lookup with `sudo`.  This is a good solution for what I was trying to accomplish, before I created this report.

Cheers!

[2022-10-20 06:59] przemyslawstrzelczak9ld commented on #76629
This is the minimum thing I would expect. However, it is kind of weird that both `state` and `status` can be failed.

[2022-10-20 08:18] tremble commented on #78461
Simply using `module.warn()` makes it harder for end-users to mute the messages.  `deprecation_warnings=False` only works in the when using `module.deprecate()`, making `module.warn()` for behaviour which will change in a future version massively more spammy.

Additionally, for module developers, one of the advantages of `module.deprecate()` over `module.warn()` is that the sanity tests pick up on

[2022-10-20 11:49] cathalkragan opened #79171 "until not templating variables in every loop execution"
### Summary

When retrying a task using until I was expecting the templated variables to be re-generated with each loop execution, but that's not the case.  Ansible looks be templating all the variables just once and using them with all the retries.

### Issue Type

Bug Report

### Component Name

ansible-core

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

macOS

##

[2022-10-20 12:36] Aysha-py commented on #78493
Hi Sandra, Sorry for the late reply. I would revert back to you if I have
any questions. Thank you. Regards

On Tue, Oct 18, 2022 at 7:07 PM Sandra McCann ***@***.***>
wrote:

[2022-10-20 13:08] s-hertel commented on #60632
@Dule-martins correct, docs issues should have the label `docs`.

[2022-10-20 13:53] s-hertel opened #79174 ""ansible-galaxy collection list ns.col" has return code 0 when collection is not installed"
### Summary

To reproduce, run these commands where `ns.col` is the name of a collection you do not have installed and the value of `-p` is a valid collection path that exists:

`ansible-galaxy collection list ns.col -p collections/`
`$?`

The output of $? on devel is 0, but since the collection wasn't found it should be 1. The same issue exists for listing specific roles that do not exist.

To fi

[2022-10-20 15:05] bcoca commented on #60632
FYI, a workaround could be done using the `file` lookup and the `unvault` filter

[2022-10-20 15:08] jameslivulpi commented on #76629
Agreed. The more you look into the systemd code / read docs on it. The states are really "strange". I am willing to work again on this issue/ PR but only if you think it will be worthwhile to continue with it...Otherwise we can close it out.

[2022-10-20 15:14] bcoca commented on #76629
The information can be useful, so I think it is worth it, even if i roll my eyes when seeing it ....

[2022-10-20 15:31] kpfleming commented on #77964
[Here](https://github.com/kpfleming/ansible-systemd-networkd/blob/e9960a08dc08bb9cc5dfae26ea2751c1ea45419d/src/roles/bond/meta/argument_specs.yml#L118)'s an example from a role I just built in the past week: `members` is a list of dicts inside an outer list of dicts.

[2022-10-20 15:49] bcoca commented on #77159
roles already have a  `defaults/main.yml` so it was not implemented in the spec to avoid conflicts

[2022-10-20 15:55] kpfleming commented on #77159
Sure, that's logical, but they don't quite serve the same purpose :-)

[2022-10-20 15:55] nkakouros commented on #77159
@kpfleming see also https://github.com/ansible/ansible/issues/77664

[2022-10-20 15:59] simonwibberley commented on #79020
Thanks! Sorry thought I closed this already.