[2018-06-25 21:27] #29428 closed, assigned to nobody

[2018-06-25 21:57] #29443 closed, assigned to nobody

[2018-06-25 22:12] intelligide opened #41934 "This module requires "requests" module."
##### SUMMARY
`import requests.exceptions` fails even if `requests` is installed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
influxdb_database

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Host: Manjaro
Guest: Debian 9

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-06-25 22:14] vpopescu opened #41935 "azure_rm_functionapp is failing"
##### SUMMARY
With previously working scripts, now I can no longer create a functionapp through ansible.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows 10, running Linux/Ubuntu subsystem.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The functionapp should be created.

##### ACTUAL RESULTS

Eve

[2018-06-25 22:16] samdoran commented on #29634
I am unable to duplicate this issue with `stable-2.4`, `stable-2.5`, `stable-2.6`, or `devel`. My reproducer:

[code]

[code]

In all cases, the second task does not report a change.

[2018-06-25 22:16] #29634 closed, assigned to nobody

[2018-06-25 23:13] htallur commented on #40864
is anyone else getting the same error ? or am I the only one.

[2018-06-25 23:41] jborean93 commented on #41894
`Important` and `Optional` are not categories in use by the Windows Update API. There are numerous different categories that we list in the documentation that you can specify. Using KB890830 as an example (I can't see what the other KB is) here is how you can find out the category;

* Search the Windows Update Catalogue for this KB [here](https://www.catalog.update.microsoft.com/Search.aspx?q=KB89

[2018-06-25 23:47] russellvt commented on #30518
Why are you using `yum` on an Ubuntu system? For Debian / Ubuntu / Mint / etc, you should be using `apt` / aptitude as a package manager.

Looking at this, since I'm currently seeing these failures on various CentOS / RHEL servers, which use yum / rpm for their packages, and this error is popping up on a few machines.

[2018-06-26 00:04] igoratencompass opened #41939 "ERROR! 'name' is not a valid attribute for a Block"
##### SUMMARY

Ansible incorrectly complains about `name` used outside the `block` statement

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

block module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-06-26 01:13] killswitch-GUI opened #41940 "proxmox_kvm failing"
##### SUMMARY

using the `clone` command mixed with `full: no` fails to build linked clone. Using `full: yes` works fine and builds. This exact setup worked before? Any help would be great to figure this out.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False`

##### OS / ENVIR

[2018-06-26 01:19] #40874 closed, assigned to nobody

[2018-06-26 01:28] bcoca commented on #41939
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Blocks didn't have a name property until 2.3 (https://github.com/ansible/ansible/commit/fcb033b9e442e7e49921817729169a14ba53d99d) so th

[2018-06-26 01:28] #41939 closed, assigned to nobody

[2018-06-26 01:42] BenCoffeed commented on #28050
:applause:

[2018-06-26 01:42] Fred-sun commented on #41742
Hi @vpopescu , I have tried my script( group name and server name by adding 'b' to the name), But ran successfully. Could your help share your ran script, Another, tell me your test environment and ansible version. Thanks a lot!
[code]

[2018-06-26 01:52] Fred-sun commented on #41742
Hi @jelledebruin66 , Servername  principle : cannot be empty or null, It can only be made up of lowercase letters 'a'-'z', the numbers 0-9 and the hyphen, the hyphen may not lead or tail in the name. Could follow this principle and try again. Thanks a lot!

[2018-06-26 02:11] kbreit opened #41944 "meraki - Idempotency check is broken"
##### SUMMARY
Current: The Meraki module will do a two pass comparison between the original and proposed configuration. First, it looks at the original and compares that data to the proposed. Second, it looks at the proposed data and compares to the original. This makes sure keys from both data structures are compared.

This has worked fine since most modules have a minimal number of parameters. H

[2018-06-26 02:20] jerryrelmore opened #41947 "Broken link at How Can I Help online doc"
##### SUMMARY

Link to Ansible development process page [https://docs.ansible.com/ansible/latest/community/development_process.rst] from page section [https://docs.ansible.com/ansible/latest/community/how_can_I_help.html#review-and-submit-pull-requests] is incorrect. The correct link is [https://docs.ansible.com/ansible/latest/community/development_process.html].
##### ISSUE TYPE
 - Documentation

[2018-06-26 03:01] wimnat commented on #41861
Yeh sounds good. I didn't know AWS were going to bring in new actions when
I wrote it but I'm open to PRs.

On Tue., 26 Jun. 2018, 02:29 Jesse Evers, <notifications@github.com> wrote:

[2018-06-26 03:30] jerryrelmore commented on #41947
Subsumed under issue #41949.

[2018-06-26 03:45] Fred-sun commented on #40864
I have test on my Red hat (7.5) VM and get pass result, Could you rebuild your environment and try again. Thanks a lot!

[2018-06-26 03:45] kostrzewa9ld commented on #41895
@sivel @bcoca
I still don't see resemblance to #19966. If it is the title that's misleading, please feel free to change to it.

[2018-06-26 03:58] Akasurde commented on #41934
@intelligide Thanks for reporting this issue. Could you please provide following outputs -

[code]
and
[code]
needs_info

[2018-06-26 04:00] Akasurde commented on #41947
resolved_by_pr #41949

[2018-06-26 05:14] nkrishnakishor commented on #41894
Hi @jborean93 thanks for the suggestion.

I have modified the playbook as per the classification required but still it is not showing any updates. Tried with single host only.

[code]
Actual Results
[code]

[2018-06-26 05:47] vpopescu commented on #41742
@Fred-sun My script is your script. I'm running Ansible 2.5.3. My test environment is totally clean (I'm trying it in my azure account linked to my MSDN subscription, and I deleted every single resource group before running this script. Is there a way I can see the HTTP response from the server, so I can post it?

[code]

and failure... after this failure, the SQL server is created, but the databa

[2018-06-26 06:49] jelledebruin66 commented on #41742
@Fred-sun Applied the principle but got the same error.

[2018-06-26 07:02] Lavanyaannam opened #41951 "openstack-ansible execution is hanging during setup task"
##### SUMMARY
We found the issue when we run any playbook with the command "openstack-ansible <xyz.yml>" it is hanging in the setup task.

##### ISSUE TYPE
The node is having more than 35 hosts. When we run the above ansible command in that node, at the execution of setup task it is hanging there for long time while checking the availability of hosts, always it is hanging after checking the availa

[2018-06-26 07:19] helldorado commented on #41940
@killswitch-GUI this issue duplicate https://github.com/ansible/ansible/issues/40921

[2018-06-26 07:32] tandrieu commented on #41651
Hey @trishnaguha , did you have time to look at this ?

[2018-06-26 08:07] oLuciaZo commented on #18432
@naiieandrade  Just do SSH Seamless it's will be working

[2018-06-26 08:14] machacekondra commented on #41914
You are using following task:

[code]

And have defined following variable:

[code]

So in `vm` varaible inside the loop in your task if you want to access `state` of the vm, you need to use `vm.infra_test_ovirt_vm_ansible_managment.state`. I would suggest to you to use the `list` instead of `dictinary`, so use for example something like:

[code]

Then the `vm.state` should be accesed correctly.

[2018-06-26 08:19] jcberthon commented on #22993
Hi @huiminzeng

Sorry for the long delay, I was away most of May and did not catch with all the emails notifications.

If you have only one machine, then do you something like `delegate_to: 127.0.0.1` or equivalent? Or do you connect to a VM on the same machine?

Basically, you need to install docker-py on the "destination" machine where you want your want your Docker commands to be executed.

[2018-06-26 08:20] Renji-FR commented on #41887
Can you test with:
[code]
_This code run in Ansible 2.5.x_

Do you have this configuration?
[code]

[2018-06-26 08:23] Renji-FR commented on #41843
You can use this method to configure user and password from playbook:
[code]

[2018-06-26 08:23] zioproto opened #41953 "K8s_raw module cant create namespace and fails with TypeError"
##### SUMMARY
k8s_raw ansible module fails creating a namespace. It fails with `TypeError: type object got multiple values for keyword argument 'group'`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux Ubuntu Xenial

##### STEPS TO REPRODUCE

`ansible-playbook main.yaml -vvv`

Here is the content

[2018-06-26 08:44] zioproto commented on #41953
I have found that doing:
[code]
or
[code]
then everything works as expected.

It looks like the filter `"{{ namespace | default('horizontesting123', true) }}"` does not work in the `name`. Not sure if this is an ansible bug or a k8s_raw module bug. Is there anything wrong in using the default filter there of an undefined variable ?

[2018-06-26 09:00] zioproto opened #41955 "jinja keyword collision for variable names"
##### SUMMARY

k8s_raw fails using jinja default filter to default undefined variables

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
k8s_raw

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
[code]
This will fail, because the `name:` does not get the default value.

[code]

I have found that doing:
[code]
or
[code]
then everything works as expected.

##### EXPECTED RESULTS

It looks

[2018-06-26 09:01] mark-casey opened #41956 "Documented pattern in "Tests" section is not functional"
##### SUMMARY
The second example at [https://docs.ansible.com/ansible/2.5/user_guide/playbooks_tests.html#group-theory-tests](https://docs.ansible.com/ansible/2.5/user_guide/playbooks_tests.html#group-theory-tests) ("is all/is any") does not work as expected.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Conditions from list
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

zero lines/[

[2018-06-26 09:29] zioproto commented on #41953
After more testing I figured out that everything works as expected on Mac OS X using python 2.7.
Using Linux Ubuntu Xenial I can NOT make it work, I tried both with python 2.7 and python 3.5

It looks like very dependent on the python environment and platform.

[2018-06-26 09:29] fabianvf commented on #41955
Does this occur if you use the full definition like so:

[code]

[2018-06-26 09:30] fabianvf commented on #41953
Does this occur if you use the full definition like so:

[code]

[2018-06-26 09:48] jgoedbloed opened #41957 "Zabbix_host: template not found when trying to link a template"
##### SUMMARY
When trying in Zabbix to

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION
ansible 2.5.5
  config file = /appserver/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/

[2018-06-26 09:59] #39058 closed, assigned to nobody

[2018-06-26 10:00] #18960 closed, assigned to nobody

[2018-06-26 10:07] Zulzig commented on #41701
[code]
[code]

result:
[code]

[2018-06-26 10:16] Zulzig commented on #41701
[code]

[code]

result:
[code]

you've all verbose and my tests.

I hope it will be helpful for your investigations.

[2018-06-26 10:36] nudgegoonies opened #41958 "Shell script using pgrep runs locally but not as shell within ansible"
##### SUMMARY
I need to use pgrep within a shell to detect if a process is running. The return code of pgrep is not honored within ansible.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian Jessie on Laptop and Server

##### STEPS TO REPRODUCE
The following is a minimal example to be run with Debian

[2018-06-26 10:39] justjais commented on #41701
@Zulzig Thanks for uploading the verbose output, going through your 1st output I can conclude of your doubt that what's the difference between `enable` and `state`, so wanted to clarify that: `enable` will configure `shutdown` state whereas `state` is only the operational state of an interface. So, for example:

Interface in `no shutdown`:
[code]
Interface in `shutdown`:
[code]
Also, if the config

[2018-06-26 10:53] Zulzig commented on #41701
Thank for you feedback,

i tested your observations, i posted it in my last tshoots post.

when you only set on your playbook:
[code]

all my interfaces stay in 'administratively down'. because shutdown option is still configured on running-config.

[code]

Ansible did the followings commands:
[code]
at the conclusion, Ansible has never played the 'no shutdown' command.

[2018-06-26 11:02] mkrizek commented on #33505
@liyaka @DidelotK This should be fixed in https://github.com/ansible/ansible/pull/40866. Can you please re-test with latest `devel`? Thanks!

[2018-06-26 11:34] justjais commented on #41701
@Zulzig apologies for the clarifying it again, so If you are trying the following playbook for your interface `Vlan100`:
[code]
as it is, you are still not able to make your `Vlan100` interface in `no shutdown` state correct?

If still facing the issue, can you please copy and paste your playbook and verbose output here again for me to check, coz I am able to make changes in interface state i.e. `

[2018-06-26 11:39] zioproto commented on #41953
Yes I tested:
[code]

It fails with

[code]

[2018-06-26 11:55] piusranjan commented on #26563
@Akasurde . Thanks for  the reply . Actually I  had to manage in different way to test my custom  ansible module as above did not work at that time. I will let you know again I am required to to use the above way to test .

[2018-06-26 11:55] #26563 closed, assigned to nobody

[2018-06-26 12:02] wpou opened #41960 "azure_rm_securitygroup - large group deployment failure"
##### SUMMARY

Deploying a large Azure security group (350+ rules) leads to a module failure.  NSGs with smaller numbers of rules deploy without issue during the same play.  Have tested with 2.5.0, 2.5.5, 2.6.0rc4

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_securitygroup
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /path/to/cu

[2018-06-26 12:06] zioproto commented on #41953
I managed to understand that this is reproducible only on a cluster that has the Voyager ingress installed. Maybe the Kubernetes CRD are causing the problem ?

[2018-06-26 12:09] tek0011 commented on #40068
Just found this.
+1 for the option.

[2018-06-26 12:12] zioproto commented on #41953
I patched `/usr/local/lib/python2.7/site-packages/openshift/dynamic/client.py` to catch the exception and get a little bit more of information:
[code]
so the typeError is triggered by:

[code]

[2018-06-26 12:21] fabianvf commented on #41953
Ah, good find. Easy enough fix then, I'll patch it to make sure there aren't duplicate keys when passing in the resource parameters.

[2018-06-26 12:31] fabme1 opened #41961 "HTTPS with Winrm and Ansible"
I want to work with HTTPS for WinUpdates with Ansible

Why there´re so stupid documentations everywhere?

I used the official ansible authentication
https://docs.ansible.com/ansible/2.5/user_guide/windows_winrm.html#https-certificate-validation
and the authentication type certification but it still not works:

my group_vars:

ansible_user: administrator
ansible_password: password
ansible_port: 598

[2018-06-26 12:49] sekharvajjula commented on #39227
Any updates on this ticket?

[2018-06-26 12:53] ephesused commented on #41340
2.6.0rc4 runs cleanly, too.

[2018-06-26 12:56] Zulzig commented on #41701
the playbook's section, where i ask him to enable my SVI:
[code]
the host_vars:
[code]
show running-configuration
[code]
I  lunched the playbook with my docker
[code]

[code]
check interfaces state on my device.

[code]

[2018-06-26 13:07] agaffney commented on #22255
The jinja native types support *should* work to fix this in general, but there's still a minor bug in Jinja 2.10 (that should be fixed in 2.11) that prevents it from working properly. Here is the result from current `devel` with the `[{{ 'all' }}]` case:

[code]

[2018-06-26 13:22] zioproto commented on #41955
Yes the problem occurs also when using the extended `definition`.

Here how to reproduce the problem.

This version works correctly:
[code]

But this version fails:
[code]

With the following output:
[code]

[2018-06-26 13:23] justjais commented on #41701
@Zulzig From the playbook I can see that you are trying to change your interface state by giving the name as `vlan{{ item.vlan }}` and your actual interface is `Vlan100` and so on.

So, can you please run your playbook again with `name: "Vlan{{ item.vlan }}"` as per the current implementation in Ansible `ios` interface names are case-sensitive.

[2018-06-26 13:33] Zulzig commented on #41701
we have already tried it, in addition we've got another task where we use vlan{{ item.vlan }} with another module and we've got not issues

[2018-06-26 13:50] ChristopherJHart commented on #25916
@trishnaguha Sorry to revive an older issue - is there anything else you think you would need to troubleshoot this bug?

[2018-06-26 13:50] nkrishnakishor commented on #41894
hi @jborean93 i have tested with ansible 2.5.5 version also. It did not succeed
[code]
Actual Result

[code]

[2018-06-26 13:58] sivel commented on #41958
We have specifically documented that running multiline shell commands within the shell module is not recommended, specifically for cases where you encounter unexpected behavior.

Please use the script module instead.

https://docs.ansible.com/ansible/latest/modules/shell_module.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2018-06-26 13:58] #41958 closed, assigned to nobody

[2018-06-26 14:02] #40204 closed, assigned to nobody

[2018-06-26 14:03] killswitch-GUI commented on #41940
@helldorado sorry I just searched for this ordered by date and it didn't show I will close and +1 the other.

[2018-06-26 14:05] karunakar1122 opened #41964 "Failure using method (v2_playbook_on_stats) in callback plugin (<ansible.plugins.callback.junit.CallbackModule object at 0x283e050>): TASK: include_role is not JSON serializable"
##### SUMMARY
Hi,
We had integrated junit callback_whitelist with ansible to generate junit reports.

But we are getting error for some playbooks where we included roles.
Failure using method (v2_playbook_on_stats) in callback plugin (<ansible.plugins.callback.junit.CallbackModule object at 0x283e050>): TASK: include_role is not JSON serializable

Please let me know what was the issue.

Thanks & R

[2018-06-26 14:06] killswitch-GUI commented on #41940
@helldorado that issue is closed, please advice how to proceed?

[2018-06-26 14:06] jvanderaa commented on #41843
With that method I would need to store the set of credentials to be used. Just basically looking to keep the option to use different credentials and host within a task than what is executing.

So having three sets of credentials credential_storage_creds, Dev1_creds & Dev2_creds

Use credential_storage_creds to get secrets for first device
Do work against Dev1
Use credential_storage_creds to get se

[2018-06-26 14:16] gundalow commented on #37723
@scuben I believe we require `sleep` to be available, I see you've sleep and this now work.

Should we close this issue?

[2018-06-26 14:18] scuben commented on #37723
@gundalow yes, I close that issue. But you might want to update your requirements documentation to mention about the requirement of the sleep binary (beside python).

[2018-06-26 14:18] #37723 closed, assigned to gundalow

[2018-06-26 14:20] karunakar1122 commented on #41964
!---
Verify first that your issue/request is not already reported on GitHub.
THIS FORM WILL BE READ BY A MACHINE, COMPLETE ALL SECTIONS AS DESCRIBED.
Also test if the latest release, and devel branch are affected too.
ALWAYS add information AFTER (OUTSIDE) these html comments.
Otherwise it may end up being automatically closed by our bot. -->

##### SUMMARY
Failure using method (v2_playbook_on_sta

[2018-06-26 14:21] sivel commented on #41956
I've submitted a PR (referenced above) to fix the docs issue.

This should instead be:

[code]

or in your additional test:

[code]

[2018-06-26 14:22] karunakar1122 commented on #41964
Hi ansibot.
Thanks for quick reply. Please let me know if you need anyother info.
Please give me the solutions of this.
Thanks & Regards
Karunakar

[2018-06-26 14:28] sivel commented on #29262
This is an inherent problem in how Ansible and Jinja2 have interacted with one another.  The result is that the expression `"{{ item.story_points | int }}"` still becomes a string in the end.

As of Ansible 2.7 this will be resolved by means of new native type support in jinja2:

https://github.com/ansible/ansible/pull/32738

If you have further questions please stop by IRC or the mailing list:

[2018-06-26 14:28] #29262 closed, assigned to nobody

[2018-06-26 14:30] karunakar1122 commented on #41964
ansible.cfg configuration
[defaults]
log_path=test.log
callback_whitelist = junit

[2018-06-26 14:34] shoelzle commented on #17324
I have the same problem

[2018-06-26 14:37] sivel commented on #29203
This issue is no longer present in recent versions of Ansible. If you are still having problems with a recent version of Ansible, please feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 14:37] #29203 closed, assigned to nobody

[2018-06-26 14:41] sivel commented on #28990
Duplicate of https://github.com/ansible/ansible/issues/33320

[2018-06-26 14:41] #28990 closed, assigned to nobody

[2018-06-26 14:46] the1bit commented on #41728
thank you for your answer. According to our architecture design the  VNET is in different resource group than NICs. So I can't change this. ;-)

Nevertheless with 2.7dev it works fine

[code]

Do you have any news whether when it will be implemented to a stable version? (maybe 2.5.6?)

Thank you for your help and support.

Best Regards,
Tibor

[2018-06-26 14:47] #41728 closed, assigned to nobody

[2018-06-26 14:48] sivel commented on #28702
With https://github.com/ansible/ansible/pull/35932 being merged, this is now possible using `errors='ignore'`:

[code]

This functionality will be included in the 2.6 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 14:48] #28702 closed, assigned to nobody

[2018-06-26 14:50] justjais commented on #29577
Thank you all for logging your observation, going through the issue I have verified that the command fired through `lines` in `ios_config` is different from commands logged in `ios running-config` which is resulting into `changed=1` every time the command is fired.

e.g. for below use case from above:
1).
**command fired via lines syntax:** `snmp-server host 172.21.100.1 traps version 2c xxxxxxxx

[2018-06-26 14:50] #29577 closed, assigned to justjais

[2018-06-26 14:53] justjais commented on #41701
@Zulzig can you please run the playbook with interface name as: `Vlan100` i.e. `name: "Vlan{{ item.vlan }}"` and share the respective logs again.

[2018-06-26 14:57] sivel commented on #28455
As noted above, this functionality has been fixed in recent versions of Ansible (2.4+). If you are still experiencing problems with a recent version of ansible, please feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 14:57] #28455 closed, assigned to nobody

[2018-06-26 15:33] sivel commented on #28231
I did a small amount of research on this, and have found it is due to the jinja2 in the loop being evaluated multiple times.

It is first evaluated in `VariableManager._get_delegated_vars ` and then again in `TaskExecutor._run_loop`.

As such, if the expression does not produce the same result each time, it may cause templating of both to produce different results.

Due to this, `_get_delegated_va

[2018-06-26 15:43] dvinella commented on #25421
It works. In the meantime, the use of socket.create_connection instead of the old socket.connect (used when I opened this issue) has changed the returned error to "Failed to connect to galaxy.ansible.com at port 443: [Errno 111] Connection refused" because it now tries to connect to localhost when the hostname is None. I think however the error returned by your pr is more explicit about the real p

[2018-06-26 16:03] Zulzig commented on #41701
it seems to be ok

[code]
[code]

[2018-06-26 16:10] justjais commented on #41701
cool, I'll close the bug then.

[2018-06-26 16:10] #41701 closed, assigned to justjais

[2018-06-26 16:12] marlymarl commented on #38535
+1 for this

[2018-06-26 16:12] Zulzig commented on #41701
thank you justjais

[2018-06-26 16:23] opoplawski opened #41970 "service enable modifies /etc/rc.conf on pfsense rather than /etc/rc.conf.local"
##### SUMMARY
pfsense is a special version of FreeBSD.  It will overwrite /etc/rc.conf on boot from its own configuration, so we need to write local changes to /etc/rc.conf.local.  The service module is running the sysrc command to set the variable, and sysrc has the following behavior:

If the variable does not appear in any of the files, it is appended to the end of the first pathname in the `rc

[2018-06-26 16:23] bcoca commented on #35856
this was fixed, the full list of plugins is now displayed

[2018-06-26 16:23] #35856 closed, assigned to acozine

[2018-06-26 16:28] WaKeMaTTa commented on #41307
@willthames can you explain how to use `library`?

This is what i did:

Download the file `cloudfront_distribution.py` from your PR https://github.com/ansible/ansible/pull/41315
Then copied that file in `library/cloudfront_distribution.py` of my ansible repo.

What is wrong?

[2018-06-26 16:35] bigon opened #41971 "lvol: fails in check mode if VG is not existing"
##### SUMMARY

When running the playbook that should create a LVM VG and a LV in check mode, the lvol resource is failing if the VG doesn't exists yet

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lvol
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The run will continue in check mode instead of f

[2018-06-26 16:36] mark-casey commented on #41956
@sivel that works, ty sir.

FWIW I had tried that on the actual use-case but was also expecting a Fail instead of a Skip, and potentially other issues in application. Will swing by list if so, thanks again.

[2018-06-26 16:39] #41785 closed, assigned to samdoran

[2018-06-26 16:42] intelligide commented on #41934
I get:

    $ pip list | grep requests
    requests     2.19.1

    $ python -c "import requests; print(requests.__version__)"
    2.19.1

[2018-06-26 16:55] bigon commented on #41971
I hope the bot is happy now, all the information were already present, just not in the proper template 🙄

[2018-06-26 17:10] richlv opened #41973 "document what "archive" does when "dest" exists"
##### SUMMARY
"archive" documentation does not state what will be done when "dest" already exists.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
archive

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
Look at https://docs.ansible.com/ansible/2.5/modules/archive_module.html .

##### EXPECTED RESULTS
Find out what will happen if "dest" exists.

##### ACTUAL RESULTS
Didn't f

[2018-06-26 17:19] sivel commented on #18961
This issue was resolved in bc0a0fb99ce7010d11966c805ef90ee2f0b93b99 and subsequently included in the v2.4.2 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 17:19] #18961 closed, assigned to nobody

[2018-06-26 17:23] vpopescu commented on #41742
@Fred-sun  PR #41974  fixes it for me, please review. Not sure why you cannot duplicate? See PR details.

[2018-06-26 17:54] bcoca commented on #41970
need to add support, could you run the following commands on the pfsense box and display the results?
[code]
and
[code]

[2018-06-26 18:16] opoplawski commented on #41970
Both return:
[code]
which doesn't seem to distinguish from stock FreeBSD.

[2018-06-26 18:19] sivel commented on #23298
Ansible does not utilize many profile or rc files normally available to you when logging in interactively as a user.

Each task is executed in it's own non-interactive shell.  You are likely modifying `PATH` via one of those profile or rc files not sources on non-interactive logins.

You will need to experiment or research where you can place these `PATH` manipulations so that they are available t

[2018-06-26 18:19] #23298 closed, assigned to nobody

[2018-06-26 18:24] sivel commented on #23169
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:

   * The JSON stdout callback is not showing tasks excluded via tags as skipped.

However, ho

[2018-06-26 18:24] #23169 closed, assigned to nobody

[2018-06-26 18:32] sivel commented on #23078
This is not an implementation detail of ansible, but of the way that `json.dumps` from the python std library operates when using `indent`.

As such, this would be considered an upstream python bug, and not a bug in ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansib

[2018-06-26 18:32] #23078 closed, assigned to nobody

[2018-06-26 18:38] sivel commented on #22992
Per the discussion above, this is a misunderstanding of the execution precedence in jinja2.

The solution is to change:

[code]

To:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 18:38] #22992 closed, assigned to nobody

[2018-06-26 18:41] sivel commented on #22683
I'm going to close this issue out.  Due to lack of response or a valid reproducer we have not been able to make progress.

If you are still having problems with recent versions of Ansible (2.5+), feel free to open a new issue with a full reproducer that we are capable of executing without modification.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on ir

[2018-06-26 18:41] #22683 closed, assigned to nobody

[2018-06-26 18:43] sivel commented on #22602
This is expected.  We provide no assumptions when making an HTTP request using `open_url`.  Authors using `open_url` will need to implement exception handling as with any other use of urllib within python.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 18:43] #22602 closed, assigned to nobody

[2018-06-26 18:50] sivel commented on #22500
As of Ansible 2.4 all relative paths in ansible.cfg are now relative to the ansible.cfg file itself.

If you are still having problems with recent versions of ansible, please feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 18:50] #22500 closed, assigned to nobody

[2018-06-26 18:51] ryansb commented on #41951
Unfortunately, Ansible 2.1 is no longer receiving any backports for bugs/issues. Please try to reproduce this bug on Ansible 2.5 or above to see if it has been addressed already.

[2018-06-26 18:51] #41951 closed, assigned to nobody

[2018-06-26 18:53] sivel commented on #22440
I do not see that this is a problem that Ansible itself should specifically be solving.  If you specifically disconnect openvpn that you are using to establish your connection to that server, it will be the playbook authors responsibility to do it in a way that is not disruptive to connections to the host.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible o

[2018-06-26 18:53] #22440 closed, assigned to nobody

[2018-06-26 18:54] sivel commented on #22280
This issue does not appear to be present in recent versions of Ansible.  If you are still having problems with Ansible 2.5+, please feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 18:54] #22280 closed, assigned to nobody

[2018-06-26 18:57] loqutus commented on #41367
created mr #41976

[2018-06-26 18:59] sivel commented on #22170
Based on the above comments, this issue no longer appears to be present.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 18:59] #22170 closed, assigned to nobody

[2018-06-26 19:02] sivel commented on #21838
This is a known issue, as currently callbacks do not control the full stdout output.

As such, you will need to disable retry files.

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 19:02] #21838 closed, assigned to nobody

[2018-06-26 19:07] sivel commented on #21782
This issue was resolved in the v2.3.0 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 19:07] #21782 closed, assigned to nobody

[2018-06-26 19:11] sivel commented on #21705
This issue has been resolved in the v2.3 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-26 19:11] #21705 closed, assigned to nobody

[2018-06-26 19:15] sivel commented on #21244
I am going to proceed with closing this issue.

There have been no updates in over a year, and the OP reported having implemented a working solution.

If you are still having problems, feel free to open a new issue with a full reproducer.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum

[2018-06-26 19:15] #21244 closed, assigned to nobody

[2018-06-26 19:22] JasonKAls opened #41977 "Progress Bar for Uploads and Downloads"
##### SUMMARY
Adding functionality to Ansible during uploads and downloads that shows progress of each.  This can be done as an added parameter to the uri, copy, and other modules.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

- uri:
    url:"http://item.com/snapshot"
    return_content: yes
    body_format: raw
    `progress: yes`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DE

[2018-06-26 19:33] LinuxLeafFan commented on #41520
Hey @Fred-sun

Sorry for the delay in getting back to you on this.  I'm not able to perform this test due not having the required access to create an azure service principal.

On the other side of things, the documentation suggests that this is a different authentication mechanism that shouldn't be combined with ad_user/ad_password.  Do you have any other suggestions?

[2018-06-26 19:50] amtypaldos commented on #36284
Anything new on this?

[2018-06-26 19:51] BarbzYHOOL commented on #12862
this seems so simple that when you find out it bugs (for the 3rd time) you realize that you wasted several precious hours on that shit for 0 reason :(

please, add this

[2018-06-26 19:53] #41956 closed, assigned to nobody

[2018-06-26 20:02] jumpkick commented on #41910
@jerryrelmore I don't mind if CentOS stays in the examples even...  but definitely rewording around that block of possible values to say that the list is complete and some others values are determined by Ansible at runtime (such as CentOS and Ubuntu)

[2018-06-26 20:10] #28231 closed, assigned to nobody

[2018-06-26 20:15] sivel commented on #41977
Currently this functionality is not at all possible, but with https://github.com/ansible/ansible/pull/13620 it may become possible.

I'll keep this FR open, since it is for a specific implementation once we can provide status updates.

[2018-06-26 20:17] webknjaz commented on #41977
Yep, I don't think there's any interface existing in core for doing this now. There's a related proposal though ansible/proposals#92

[2018-06-26 20:32] UnitedMarsupials commented on #18287
@TylerKerrACG, of course, it needs actual error-handling. I was just offering a work-around. If Ansible refuses to do anything on a host, to which it failed to connect earlier, _another_ host (such as `localhost`) can do some of the reporting/error-handling.

It is partial -- and the `gather_facts` better be `false`, or it will not work, but it allowed me to do my work and may help others.

[2018-06-26 20:56] JasonKAls commented on #41977
@sivel Awesome! Keep me up to date.

@webknjaz Thanks for pointing our the similar FR.  Must've missed it.  It is basically asking for the same FR

[2018-06-26 21:10] #39119 closed, assigned to nobody

[2018-06-26 21:28] mscherer opened #41984 "include_tasks compatibility silently broken"
##### SUMMARY
include_tasks compatibility silently broken

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION
HEAD

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
So using those file:

foo.yml
[code]

bar.yml
[code]

On 2.6 and before, it work. On version HEAD since https://github.com/ansible/ansible/commit/da4ff18406bb9e052a7e81796aed1

[2018-06-26 21:33] mscherer commented on #41984
So that's linked to https://github.com/ansible/ansible/pull/39236

People already opened 2 bugs on things broken by that change:
- https://github.com/ansible/ansible/issues/41540
- https://github.com/ansible/ansible/issues/38129

[2018-06-26 21:33] samdoran commented on #29443
After further discussion, I've come the conclusion that this is a documented behavior and not a bug. Since the `regexp` in the task is `''`, it matches every line. And the last line that is matched is replaced. From the docs:

This has nothing to do with the `insertafter: EOF` parameter, but is a side effect of an empty regexp matching _every line_ rather than nothing. The last line matches, and i

[2018-06-26 21:35] sivel commented on #41984
This was a conscious decision to make this change for the 2.7 release.  The `include_tasks` module is documented as being in `preview` status.

The documentation for `preview` status indicates:

We decided to make a change to the interface that improves usability long term.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing l

[2018-06-26 21:35] #41984 closed, assigned to nobody

[2018-06-26 21:50] jborean93 commented on #41894
Thanks for the info @nkrishnakishor, this is a weird issue as my 2012 R2 box is able to pick up the security monthly rollup update using the default categories. Are you able to run the following PowerShell script and return the results here.

[code]

This script will search for all updates that need to be installed (regardless of the category) and return the information. For example this is what I

[2018-06-26 22:01] cytopia commented on #17324
I solved it via the following filter: [cytopia/ansible-filter-get_attr](https://github.com/cytopia/ansible-filter-get_attr)

[2018-06-26 22:19] jborean93 commented on #24569
Updated the title to reflect that we don't want to add more options to the win_chocolatey module for installing Chocolatey but rather have some better examples of how to do this outside the module. See https://github.com/ansible/community/issues/294#issuecomment-399319602

[2018-06-26 22:28] jborean93 commented on #41799
It was decided in the latest WWG to add a new module option that specifies what version string to use when comparing `creates_version`. This has the flexibility of not breaking existing playbooks but allowing people to specify whatever version property they want to compare it to.

In this case it would be something like `version_format: FileVersionRaw` but the specifics still need to be ironed out

[2018-06-26 23:11] antoinell commented on #32327
The version of pkgng in the repository here https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/pkgng.py has the option state=latest. See https://github.com/ansible/ansible/pull/41623 .

[2018-06-26 23:13] #40869 closed, assigned to nobody

[2018-06-26 23:22] webstylesInt opened #41987 "vmware_guest"
##### SUMMARY

Running the playboog startes and I get the error
SSH password:

PLAY [tzhqprdvcm01] ***********************************************************************************************************************************************************************************************

TASK [Gathering Facts] *************************************************************************************

[2018-06-26 23:31] webstylesInt commented on #41987
I found a fix:

on the vCenter 6 appliance ssh to the host and run the following

Initiate an SSH connection to the vCenter Server Appliance.
Provide the root user user name and password when prompted.
Run this command to enable the Bash shell:

shell.set --enable True

Run this command to access the Bash shell:

shell

In the Bash shell, run this command to change the default shell to Bash:

chsh

[2018-06-26 23:31] #41987 closed, assigned to nobody

[2018-06-26 23:49] coaxial commented on #19508
Ran into this too. While `purge_networks: true` works, it is counter-intuitive because the docker command behaves differently: it will not attach the container to the default network if a custom network was specified.

[2018-06-27 00:32] mnot opened #41988 "BOOLEANS removal"
##### SUMMARY

The removal of BOOLEANS in https://github.com/ansible/ansible/commit/2f36b9e5ce0ec41a822752845d3b7c4afdf7eee9  breaks deployed code. Although this removal was questioned in the PR, it was never followed up on before merge.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible.module_utils.basic

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_SCP_IF_SSH(/Users/m

[2018-06-27 00:43] willthames commented on #41307
@WaKeMaTTa that looks right to me.

What does `ansible --version` say (it should show library in your library path)

[2018-06-27 00:47] mnot commented on #41988
!component =lib/ansible/module_utils/basic

[2018-06-27 00:56] jborean93 commented on #40649
Was able to replicate this locally by creating an AD account with the server's hostname set as the username. When applying https://github.com/ansible/ansible/pull/40725 the issue is no longer there.

[2018-06-27 00:56] #40649 closed, assigned to nobody

[2018-06-27 01:07] jborean93 commented on #41906
Why on Earth MS didn't try and use the newest protocol if it was negotiated and supported is beyond me. Simple fix and I'll have a PR open shortly.

[2018-06-27 01:10] jborean93 commented on #41865
needs_info

[2018-06-27 01:14] jborean93 commented on #41906
@shaded0 it would be great if you could test out https://github.com/ansible/ansible/pull/41992 to verify it works in your environment. This is what we use in win_get_url to enable the TLSv1.2 protocols on a connection.

[2018-06-27 01:21] bcoca commented on #29443
i would say that we have `omit` for the case in which we don't want to use a regex, the same can happen with non empty regex i.e `'^.*$'`

[2018-06-27 01:29] #41536 closed, assigned to nobody

[2018-06-27 01:42] jborean93 commented on #41961
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-06-27 01:42] #41961 closed, assigned to nobody

[2018-06-27 01:44] abadger commented on #29443
I'm a bit conflicted on this... None is or sentinel value meaning the user did not set this door most things.  So it deserves to be special.  But a user is less likely to use the special yaml syntax for a !null value than to try clearing it through use of empty steering.   However, a user who does know regex can put an empty steering in, knowing it is an inexpensive regex to match every line.  We'

[2018-06-27 01:49] Fred-sun commented on #41728
Sorry， I don't know, But it will be fixed at next version. Thanks a lot!

[2018-06-27 02:04] LukeShortCloud opened #41996 "Flatpak Module Does Not Support Looping Through Lists"
##### SUMMARY
The new `flatpak` module does not support providing the `name` argument a list of packages to install. This will should to be included by the 2.7 release as per: https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.7.rst#using-a-loop-on-a-package-module-via-squash-actions

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
flatpak

##### ANS

[2018-06-27 02:04] ehelms commented on #40185
I see the same issue and it can be simplified down to the following. If you try to set `replicas:` to a string (e.g. `replicas: "2"`) this error will appear. If you use a variable, jinja2 will resolve that to a string causing the same issue.

[2018-06-27 02:30] Fred-sun commented on #41960
Hi @wpou ,Could you help to update you whole yml file or {{ sec_group['rules'] }} info, I will try and push this issue to be resolved,

[2018-06-27 02:58] yuwzho commented on #41679
resolved_by_pr #41833

[2018-06-27 05:06] htallur commented on #40864
I have tried in Rhel7.5, Centos 7.5 and Ubuntu16.04,
I am getting the same error....

[2018-06-27 06:09] Akasurde commented on #41988
@mnot Thanks for reporting this issue. [packer](https://github.com/austinhyde/ansible-packer/blob/master/packer) module imports everything from [basic.py](https://github.com/austinhyde/ansible-packer/blob/master/packer#L148) using '*'. You may need to add following in module

[code]

needs_info

[2018-06-27 06:10] Akasurde commented on #41988
cc @resmo

[2018-06-27 06:21] mnot commented on #41988
Yep, I did that in my local copy. That said, if `module_utils` is an external interface for your modules, it seems like it shouldn't change, at least not without changing your major version number...

[2018-06-27 06:54] #41679 closed, assigned to nobody

[2018-06-27 06:54] resmo commented on #41988
the removement of BOOLEANS does not make sense to me either. Also no comment in commit msgs. No clue, how and why that happened. Looks like by mistake.

[2018-06-27 07:01] jelledebruin66 commented on #41742
@vpopescu Thanks for your fix. It solved the problem indeed. Well done.

[2018-06-27 07:07] frangdlt opened #42000 "ovirt_host_pm ignores the 'slot' parameter"
##### SUMMARY

ovirt_host_pm ignores the 'slot' parameter

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ovirt_host_pm
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The 'slot' parameter should be populated after checking in oVirt/RHVM web ui.

##### ACTUAL RESULTS

The parameter is not populated; al

[2018-06-27 07:08] wpou commented on #41960
Hi @Fred-sun , I can't publish specific NSG rules as this would be a security risk.  Their definition in yml  follows the pattern required by the ansible module:

- source_address_prefix: x.x.x.x/24
  destination_address_prefix: y.y.y.y/32
  protocol: '*'
  name: name-of-my-rule
  description: '*'
  direction: Inbound
  access: Allow
  source_port_range: '*'
  destination_port_range: 53
  priority

[2018-06-27 07:18] trishnaguha commented on #41514
@jvanderaa Thanks for the info, this seems to be because of N5K platform as it doesn't support structured json output and the module requires json output support.
Can you please confirm that your device supports json or not?

[2018-06-27 07:19] #41477 closed, assigned to trishnaguha

[2018-06-27 07:26] #41953 closed, assigned to nobody

[2018-06-27 07:48] benjamin-demarteau commented on #11692
I'm going to bump this as I just found out myself and that message would have saved me a bunch of googling.

[2018-06-27 08:03] Alucard616 commented on #41785
I tried your Playbook:

    - debug:
        msg: "{{ ansible_distribution }} {{ ansible_distribution_version }}"

        msg: "{{ ansible_version.full }}"

      service:
        name: ntpd
        state: started
        enabled: yes

      service:
        name: ntpd
        state: started
        enabled: no

      service:
        name: ntpd
        state: started
        enabled: no

      s

[2018-06-27 08:05] Yvan-Masson commented on #41799
This looks great, thanks!
Yvan

[2018-06-27 08:21] WaKeMaTTa commented on #41307
[code]

It shows `/home/wakematta/ansible/library` is correct but i still get the error:

[code]

---

This is the log using `ansible-playbook -i tests/inventory -vvvv tests/playbook.yml`:

[code]

[2018-06-27 08:22] oolongbrothers commented on #41996
Thank you for pointing out this requirement for 2.7! I will have a look at how this is implemented in the other packaging modules and replicate that as soon as possible.

[2018-06-27 08:49] AlexGluck commented on #41914
I change task, now work fine. But python exception need fix.
[code]

[2018-06-27 08:52] kvaps opened #42002 "Hosts ranges for limit option"
##### SUMMARY

Provide opportunity for iterate hosts in `--limit` option same way as it is realized for inventory files
Examples:

[code]
Regexp matching is not solves problem at all, this is really useless,
eg. how to select nodes from `node7` to `node11`:

[code]
Good solution is proposed kubernetes guys, kubelet just uses built in shell iterators:

[code]
But ansible supports only lists separat

[2018-06-27 08:54] kvaps commented on #4620
Seems no one doesn't want to watch on this closed issue, please support my new one #42002

[2018-06-27 09:04] nkrishnakishor commented on #41894
hi @jborean93 thanks for the reply. I have tried provided powershell code but did not get any output as stated above. Please find below screenshot for the same.

![image](https://user-images.githubusercontent.com/30660903/41960765-34693b28-7a0e-11e8-84cd-9f9429564491.png)

[2018-06-27 09:16] shoelzle commented on #17324
I noticed that a string in json format is converted by ansible to the corresponding data types (dict, list, string,.. ) in ansible/python:

Example Playbook
[code]

Result:
[code]

[2018-06-27 09:51] karunakar1122 commented on #41964
Hi Ansibot,

Can you help us on this?

[2018-06-27 09:54] trishnaguha commented on #41828
@ajtaylor6 Can you please check if your device has json structured output support?
or run the command `show system resources | json` to check if it works?

[2018-06-27 10:05] zanglang opened #42004 ""pause" module fails with NameError when "curses" is not installed"
##### SUMMARY
The "pause" module fails with a NameError when the curses Python module is not available.

[code]

Caused by this code block introduced by https://github.com/ansible/ansible/pull/40134 to fix #35372:

[code]

A better fix would be to nest the curses.error try-catch within the block.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins/action/pause.py

##### ANSIBLE VERSION
a

[2018-06-27 10:42] nudgegoonies commented on #41958
Thanks for the answer. A collegue and i investigated more and found out, that ansible spawns a shell with the whole script as a single line as parameter. So there is always a process which contains the regex from pgrep -f.

I missed the note in the shell module about the script module. Now i have read it. But to be true, the note is very short. There are no reasons explained why the script module

[2018-06-27 11:30] resmo commented on #41988
However,
I would also suggest to add `from ansible.module_utils.parsing.convert_bool import BOOLEANS` in the packer module as a fix.

needs_info

[2018-06-27 12:48] trishnaguha commented on #41651
@tandrieu Hi, I just got back from time off, the fix is work in progress.

[2018-06-27 12:50] Qalthos commented on #41917
First, for persistent connections (such as network_cli) `ANSIBLE_PERSISTENT_CONTROL_PATH_DIR` (or `control_path_dir` in config section `persistent_connection`) is used to control the location the sockets are stored, to keep them separate from the normal control path files, as they are used for wildly different things and a collision would be problematic.

Secondly, the actual names of the persiste

[2018-06-27 12:59] abadger commented on #41988
Yes, we should restore that.  We're getting a fix together now.  It should be in the next release of 2.5.x.  We're also discussing whether it should block 2.6.0 or not.  Since it was introduced in 2.5.0, it's a regression in the 2.5.x series rather than the 2.6.x series.  But it is a change in the module interface that we do not want.  (The fix will be in 2.6.1 if it doesn't make it into 2.6.0)

[2018-06-27 13:02] schorsch commented on #41757
i can confirm the issue, and may have an idea why the required modules are not found.

The target machine is Ubuntu 18 and i set the host with a custom python interpreter(bcs somehow bin/python3 was not found via 'which python' on initial install .. ubuntu core guys only know):

    my-host-ip ansible_python_interpreter=/usr/bin/python3

when i apt install  python-boto3 package it installs python

[2018-06-27 13:10] Akasurde commented on #41988
resolved_by_pr #42008

[2018-06-27 13:39] tandrieu commented on #41651
@trishnaguha hey, hope you enjoyed this time off, thanks for the reply 👍 :)

[2018-06-27 13:56] sivel commented on #41964
I believe this issue was resolved in https://github.com/ansible/ansible/commit/4f0c962b4d3835d370289a74383b022295cc0cde and included in the v2.4.3 release.

Could you upgrade your version of ansible and let us know if it is resolved?

needs_info

[2018-06-27 14:04] karunakar1122 commented on #41964
Thanks Sivel.  Issue resolved now.

[2018-06-27 14:05] #41964 closed, assigned to nobody

[2018-06-27 15:13] blair3000 opened #42011 "vmware_vm_facts module error - AttributeError: 'NoneType' object has no attribute 'template'"
##### SUMMARY
Errors when trying to collect VMware template information when using vmware_vm_facts.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_vm_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[admin@localhost testvmware]$ ansible-config dump --only-changed
HOST_KEY_CHECKING(/home/admin/git/testvmware/ansible.cfg) = False

##### OS / ENVIRONMENT
CentOS Linux version 3.1

[2018-06-27 15:15] dmurarasu opened #42012 "nxos_acl remark issue"
##### SUMMARY

When using nxos_acl if you specify the "remark" parameter the acl sequence is configured as remark even if "action" parameter is set to "permit".
Don't know if this is the wanted result but the documentation says that "remark" is only used if action set to "remark", the actual description for the remark parameter is: "If action is set to remark, this is the description."

##### ISSU

[2018-06-27 15:24] vpopescu commented on #41742
PR fixed the issue and it was accepted, so closing this.

[2018-06-27 15:24] #41742 closed, assigned to nobody

[2018-06-27 15:29] gundalow commented on #39431
bot_skip

[2018-06-27 15:44] #26607 closed, assigned to rcarrillocruz

[2018-06-27 15:54] amb1s1 commented on #25507
This is happening to me too.
[code]
traceback:
[code]

[2018-06-27 15:58] samdoran commented on #29443
The original report stems from confusion on the effect of setting `regexp` to `''`. So I would say leaving as is with a warning, or possibly a note in the documentation, is an appropriate fix. A warning may be annoying to anyone using this "feature" or purpose, so maybe a note in the documentation would be better.

[2018-06-27 16:14] sdhughes1 commented on #41871
This is related to #29716

[2018-06-27 16:15] LeDOC666 commented on #41145
@jborean93 Hi, Ddi you find something on captures I sent you ?
Thanks

[2018-06-27 16:23] #41947 closed, assigned to nobody

[2018-06-27 16:27] aoyawale opened #42014 "infoblox list requirements as infoblox_client and should be infoblox-client"
##### SUMMARY
the infoblox documentation list requirements as infoblox_client but, you can install with pip it installs infoblox_client and infoblox-client. It looks like to be the same. `pip search` shows `infoblox-client but, I'm opening this issue to get clarification and avoid confusion. Possible to make a note about in the module doc.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT

[2018-06-27 16:42] samdoran commented on #22255
Actually, it looks like we could just add `all` to `JSON_TYPES` in [`safe_eval.py`](https://github.com/ansible/ansible/blob/42c2fd72ae479d7bb3803608710108a4e0a533ae/lib/ansible/template/safe_eval.py#L45-L45) as a fix. (thanks @sivel!)

[2018-06-27 16:46] samdoran commented on #22255
That gets us closer. It seems that returns a quoted string: `['all']`.

[2018-06-27 16:47] bdkakdb commented on #28991
@jborean93 still there in 2.5.1

[2018-06-27 16:51] gundalow commented on #42000
@frangdlt Would you be able to raise a PR against `ansible/ansible` based on https://github.com/frangdlt/ansible/commit/69f57229dbc0072e92aca23c9eb06740d45f4281 ?

Thanks in advance

[2018-06-27 17:09] alex-left commented on #17935
always happen with template module. I think this would be the key of the problem.

[2018-06-27 17:23] sijis commented on #22947
The PR #40120 got merged. I'd suggest trying out a dev release and validate if your issue is now resolved.

[2018-06-27 17:23] samdoran commented on #29671
This was fixed in d0e3d75381292fc7bf417598f9f6542a7fcd2d07

[2018-06-27 17:23] #29671 closed, assigned to nobody

[2018-06-27 17:35] agaffney commented on #22255
Even if that worked properly, we would need to add a big list of python global functions to avoid the same problem with a different arbitrary string that happens to match a python global function. If jinja native types and the upcoming Jinja 2.11 release fix the problem the "right way", then there's probably not a need for an immediate solution, especially since I provided a workaround (using `| s

[2018-06-27 17:53] ahmedaljawad commented on #41887
Now I'm getting this error

SSH password:
ERROR! A malformed block was encountered while loading a block

here is my workbook
---
- name: Backup Facts
  gather_facts: no
  hosts: DALLAS-IOS
  vars:
    ansible_connection: network_cli
    ansible_network_os: ios
  tasks:
     - name: Sh run
       ios_config:
        backup: yes

       register: config
     -  debug:var=config.stdout_lines
     -

[2018-06-27 17:54] samdoran commented on #29688
This was fixed in 11313699ab and released in Ansible. 2.4.2

[2018-06-27 17:54] #29688 closed, assigned to nobody

[2018-06-27 18:19] tapvirvirk opened #42016 "k8s_raw v1List doesn't found in client.models"
I'm having the below manifest and ansible is giving error "v1List not found in clients.models.
kind: List
apiVersion: v1
items:
- kind: Namespace
  apiVersion: v1
  metadata:
    name: rule-service

Which apiVersion should I use?

[2018-06-27 18:30] #42016 closed, assigned to nobody

[2018-06-27 18:39] samdoran commented on #37984
The fix I came up with is a unsafe because it's not doing any type validation. After some discussion with others, it seems I need to rewrite `post_validate` which is more involved and I have not gotten to it.

[2018-06-27 18:46] acozine commented on #42004
We could also note the dependency in the docs for the pause module.

[2018-06-27 18:52] jamescassell commented on #19966
The bug as-reported does not exist in ansible-2.5 when using `include_tasks` because of the dynamic nature of the include.  Adding a `when` directly to the `pause` action still exhibits the described behavior.  I've worked around this by using an include when I need the behavior requested by this bug.

To work around the issue:

playbook.yml
[code]
pause.yml
[code]

[2018-06-27 18:58] ajtaylor6 commented on #41828
@trishnaguha Looks like that might be the issue, since json output format support isn't introduced on some of the Nexus platform versions. It is available on version 7, but not prior. This is a bit of an issue because the flagged 'stable' OS versions for many of the chassis based Nexus 7k devices is version 6.2, and upgrading core switches to a newer release is not a super easy task from a busines

[2018-06-27 19:37] jdoss commented on #38391
@ykyr #24505 doesn't seem to fit this use case unless I am missing something here.

This feature would be very helpful in allowing for a similar inventory experience that users have with ec2.py and [static groups with dynamic groups](https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#static-groups-of-dynamic-groups). For example:

[code]

Since we cannot use labels to

[2018-06-27 19:43] fxfitz opened #42018 "ipa_user: krbpasswordexpiration is not valid in IPA"
##### SUMMARY

I recently ran across the need to change the password expiration for the first time, so I decided to use `krbpasswordexpiration` that was added in #32369.

Well, it turns out we missed something pretty big during the review process: there is no `krbpasswordexpiration` in the FreeIPA API; it is actually `krbprincipalexpiration`.

![screen shot 2018-06-27 at 2 30 46 pm](https://user-i

[2018-06-27 19:47] fxfitz commented on #42018
So I don't know if the fix is as simple as doing `s/krbpasswordexpiration/krbprincipalexpiration/g` either.

I just tried it (after I had renamed everything to the proper key) to see if it would give me the expected results, which is setting the password expiration to some given date, and it did not work.  The password still expired.

So, that leads me to think `krbprincipalexpiration`/`krbpasswor

[2018-06-27 19:47] fxfitz commented on #42018
Pinging @Akasurde and @akatch regarding this. :-)

[2018-06-27 19:53] dbpiv commented on #37984
So are you going to re-open 38000 (https://github.com/ansible/ansible/pull/38000) again or create a new num?  Just trying to watch for the fix.  Vars_Prompt is extremely important to us (at least until we get Tower installed).

[2018-06-27 19:55] ahmedaljawad commented on #41887
### New Erorr ###
[nwadmin@ddcmgtnwbkp ~]$ ansible-playbook Backup.yml -u ****** -k
[DEPRECATION WARNING]: [defaults]hostfile option, The key is misleading as it can also be a list of hosts, a directory or a list of
paths , use [defaults] inventory=/path/to/file|dir instead. This feature will be removed in version 2.8. Deprecation warnings can be
 disabled by setting deprecation_warnings=False in

[2018-06-27 20:03] kbreit opened #42019 "meraki_device should be able to claim device into an organization"
##### SUMMARY
Devices within Meraki need to be claimed into the network and organization. Currently it only claims into a network but it should also be able to be claimed into the organization.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
meraki_device

[2018-06-27 20:04] fxfitz commented on #42018
Just found [this](https://www.freeipa.org/page/New_Passwords_Expired) which would probably explain _why_ my password was immediately marked as expired, even though I set a later expiration date.

[2018-06-27 20:09] fxfitz commented on #42018
After reading that, I'm thinking `s/krbpasswordexpiration/krbprincipalexpiration/g` might be a perfectly fine thing to do.

I'm interested to hear everyone's thoughts on that before I submit a PR.

[2018-06-27 20:20] TylerKerrACG opened #42020 "Win_Updates: failed_updates_count not always returned"
##### SUMMARY

The documentation for win_updates claims that the "failed_updates_count" return value will always be returned, but that is not the case. Other values that are only returned on success are still present when no changes are made.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed.

##### OS / ENVIRONM

[2018-06-27 20:29] ferventcoder commented on #24569
Please can you put back original title and close it as won't do, then add another issue for what you suggest and point to that from here?

If the module is going to contain any ability to install Chocolatey itself, then it needs to be able to point to an internal source - that is a requirement of many of our customers - unlike non-Windows platforms the community repository is not used at all by or

[2018-06-27 20:29] jamescassell commented on #41179
Any chance of this regression not making it into the 2.6 stable release?  This works fine in versions 2.4 and 2.5.  I've tested with v2.6.0rc5, and the problem persists.

Thanks!

[2018-06-27 20:35] ferventcoder commented on #24569
That is the spirit of my original request - I already knew there were other ways to handle it (there is always a way when you have exec or win_shell resources). Some folks might consider using those low level resources as an anti-pattern and harder to make idempotent, but that's not what we are discussing here.

[2018-06-27 21:27] samdoran commented on #22255
Agreed. It would become a slippery slope adding all the reserved functions in there.

[2018-06-27 21:51] samdoran commented on #29700
I am unable to duplicate this in Ansible 2.3.3, 2.4.5, 2.5.5, or `devel`. If you are still experiencing this issue with recent versions of Ansible, please open another issue with a simple reproducer.

My reproducer:

[code]

File before:
[code]

File after:
[code]

[2018-06-27 21:51] #29700 closed, assigned to nobody

[2018-06-27 21:52] jamescassell commented on #41179
Ok, found the issues.  PR incoming shortly.

[2018-06-27 22:16] bcoca commented on #32327
closed by #41623

[2018-06-27 22:16] #32327 closed, assigned to nobody

[2018-06-27 22:28] collins-b commented on #5725
I agree with @mohi048. Changing the password fixed this issue.

[2018-06-27 23:35] depereo commented on #39167
Seeing the same issues on 2.5.5

[code]

[2018-06-27 23:48] jborean93 commented on #41894
The code I gave you is Microsoft's API interface for the Windows Update Agent https://docs.microsoft.com/en-us/windows/desktop/api/wuapi/nn-wuapi-iupdatesession. Ansible uses that same interface to check/install updates and if that doesn't find anything Ansible will not as well. It sounds like you have an issue with the update cache on the server and this is really not something to do with Ansible

[2018-06-27 23:48] #41894 closed, assigned to nobody

[2018-06-28 00:06] chrislong commented on #23144
I worked around it by copying a conf file into `/usr/lib/systemd/system/docker.service.d` with contents like this:
[code]

[2018-06-28 00:35] fxfitz commented on #42018
After doing some more research, I think we might need to use `setattr` on user_mod to set `krbpasswordexpiration`.

I'll play around with this tomorrow.

[2018-06-28 00:38] jborean93 opened #42026 "Add example of how to install Chocolatey from internal source"
##### SUMMARY
The win_chocolatey module installs Chocolatey from a public URL if it is not present. This can cause issues for people who are in a locked down environment. While we can add support for specifying a different URL for the Chocolatey install we have decided to go a different path and recommend people install Chocolatey through other tasks like win_shell.

While having win_chocolatey in

[2018-06-28 00:40] jborean93 commented on #24569
Changing it back @ferventcoder, I've opened a new issue here https://github.com/ansible/ansible/issues/42026.

In reality I just need to play around with installing Chocolatey a bit more to get a better understanding of what is really involved. One quick question for you though, do you find most customers who need to install offline create their own scripts to deploy the nupkg or just use the exis

[2018-06-28 01:31] danmoz opened #42027 "django_manage doesn't accept command parameters if failfast is enabled"
##### SUMMARY
Setting the django_manage module's `failfast: yes` will raise an exception if the command entered contains a parameter (e.g. `test --noinput`)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
django_manage

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/Users/***/dev/app-server/ansible/ansible.cfg) = True
DEFAULT_MODULE_LANG(/Users/***/dev/app-server/ansi

[2018-06-28 02:31] Fred-sun commented on #41520
Hi @LinuxLeafFan , Yes, Does we can only use ad_user/ad_password method, not use subscription_id to subscription. just like below, does this meet your mean( run successfully ). Thanks a lot!
[code]

[2018-06-28 02:35] jborean93 commented on #24569
Hmm I am going to reopen this, I need to have a closer look at how Chocolatey Server actually works with serving the `install.ps1` script.

[2018-06-28 02:44] drue opened #42028 "cloudwatchlogs_log_group won't change retention policy"
##### SUMMARY

cloudwatchlogs_log_group returns unchanged when trying to change log retention policy
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

cloudwatchlogs_log_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/Users/drue/wa/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/Users/drue/wa/ansible/ansible.cfg) = -o ForwardAgent=no -o ControlMaster=auto -o Contro

[2018-06-28 03:53] fxfitz commented on #42018
I landed up getting this working tonight. I'll have a bug fix PR up tomorrow.

[2018-06-28 04:17] harekrishna0 opened #42030 "Speed up Ansible for Network Modules?"
##### SUMMARY
Running ansible network module is slow on Network Devices. Is there a way to speed up the process?
I have used parameters like:
controlPersist
strategy: free
pipelining=True

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ios_config
nxos_config
eos_config
ios_command
nxos_command
eos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Ha

[2018-06-28 04:40] #41457 closed, assigned to trishnaguha

[2018-06-28 04:41] #41807 closed, assigned to trishnaguha

[2018-06-28 05:15] Akasurde commented on #42011
@blair3000 Thanks for reporting this issue. What is the user and its permission used to run this module ?

needs_info

[2018-06-28 06:01] rambleraptor commented on #38391
Hi all,

I'm one of the engineers from Google working on our Ansible + GCP efforts. Currently, we're not working on adding more features to gce.py. After talking with the Ansible core folks, we've built out a v1 of a new inventory plugin called [gcp_compute](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/gcp_compute.py)

This inventory plugin works with the new BaseInv

[2018-06-28 06:18] davidebelloni commented on #38391
Hi @rambleraptor ,
what about this plugin: https://github.com/KohlsTechnology/ansible/blob/e511a60004d4d8d7070d0ac19ad94cdf46e61399/contrib/inventory/gce_googleapiclient.py

Is there a vision in Ansible+GCP teams about the future of these plugins?

What are the pros/cons of gcp_compute plugin compared to gce_googleapiclient.py ?

Thanks

[2018-06-28 06:35] balkat commented on #39215
I get the same symptoms.   First time service is created OK, second time service exists and triggers the error message, despite no changes being makde to the playbook.  Suggest a pre-existing service has the update-service method used instead, with no error returned unless the load balancer part of the task differs.

[2018-06-28 07:32] ishantanu opened #42032 "lstrib_blocks setting in jinja templates in not working."
##### SUMMARY
Adding `#jinja2: lstrip_blocks: True` to the start of the jinja2 template is not working at all. It is not even detecting it as a special line. Instead after running the playbook, this line gets printed as is without doing anything for indentation.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2018-06-28 07:49] #41851 closed, assigned to justjais

[2018-06-28 07:52] Renji-FR commented on #41887
@ahmedaljawad Tou have to use `config.backup_path`:

`name: save-output-to/etc/ansible/BackupRepository
copy:
  src: "{{ config.backup_path }}"
  dest: "/BackupRepository/show_run_{{ inventory_hostname }}.txt"`

https://docs.ansible.com/ansible/latest/modules/ios_config_module.html
https://docs.ansible.com/ansible/latest/modules/copy_module.html

[2018-06-28 08:05] vbotka commented on #37501
I was searching how to make synchronize idempotent and found this.

Clear and important request: 'make synchronize module idempotent'
Reasonable proposal: 'first using the --dry-run'
Response: 'could not find in your description:component name' (nearly offending, no wonder there was no response)
Closed.

Strange! It's important feature. You might want to reconsider and keep it open.

[2018-06-28 08:09] wpou commented on #41960
I have also written a quick and dirty ARM template that consumes the rules as part of the NSG deployment and tried to deploy with the azure_rm_deployment module.  I get the same error as azure_rm_securitygroup but it happens with the very first NSG that only has 114 rules in it.

We happily use azure_rm_deployment to deploy VM's all of the time so I'm even more convinced the size of the data being

[2018-06-28 08:12] Renji-FR commented on #42030
Hi,

How many CPU do you have on host where you run your playbook?
Do you have changed `forks` configuration (default 5)?

[2018-06-28 08:15] Renji-FR commented on #42030
After change Tacacs configuration on Cisco device, next commands may be slower to execute.
In your playbook, do you configure Tacacs accounting?

[2018-06-28 08:27] umrikar opened #42034 "VMware: vsandatastore created with size 0"
##### SUMMARY

[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-06-28 08:48] pilou- opened #42035 "cloud shippable builds should run integration tests with cloud 'aliases' when impacting code is modified"
##### SUMMARY
Integration tests related to cloud inventory plugins aren't executed by `cloud` builds. Consequences: some regressions aren't detected because these tests aren't executed.

For [example](https://app.shippable.com/github/ansible/ansible/runs/70906/66/console):
[code]

[`aliases`](https://github.com/ansible/ansible/blob/fa2366079ab371c47407e10c2212b35a1cfc9f42/test/integration/targets/

[2018-06-28 08:51] WaKeMaTTa commented on #41307
@willthames i found my issue. In my `ansible.cfg` i had this line:

[code]

I added a slash and now it works:
[code]

[2018-06-28 08:59] vbotka commented on #37501
FWIW: rsync changes owner,group and permissions of the destination
directory. If the destination directory is created in the play before
the synchronize task and owner,group and/or permissions are set it may
potentially make following synchronize task to change it. This might
seem like synchronize module is not idempotent.

[2018-06-28 09:09] ctx commented on #22947
Many thanks, it works like a charm!
With the same playbook and zip file:

[code]

[2018-06-28 09:09] #22947 closed, assigned to abadger

[2018-06-28 09:28] WaKeMaTTa opened #42037 "cloudfront_distribution.py - Error validating distribution origins: 'list' object has no attribute 'get'"
##### SUMMARY
This issue might be related to this PR: #37340

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudfront_distribution

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/runner/ansible/tests/ansible.cfg) = True
DEFAULT_HOST_LIST(/home/runner/ansible/tests/ansible.cfg) = [u'/home/runner/ansible/tests/inventory']
DEFAULT_MODULE_PATH(/home/runner/ansible

[2018-06-28 09:40] Spredzy commented on #40809
@maxamillion Thanks for the fix. Do you know if this will be backported to `stable-2.5`, as it is a bugfix?

[2018-06-28 09:57] webstylesInt commented on #22808
Hi Guys,

[2018-06-28 10:08] sameergautam commented on #41168
Any ETA here ? I don't want to go back to the older version of Ansible.

[2018-06-28 10:12] machacekondra commented on #42000
@frangdlt Please send PR based on your commit, it looks OK.

[2018-06-28 10:36] disappear89 commented on #25072
Issue still there..

##### SUMMARY
Ansible synchronize not working with rsync:// dest or src

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
working

##### ACTUAL RESULTS
[code]

[2018-06-28 10:38] ThoTischner opened #42039 "synchronize_module rsync:// not working"
##### SUMMARY
Ansible synchronize not working with rsync:// dest or src

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
working

##### ACTUAL RESULTS
[code]

Issue was already reported and autoclosed: https://github.com/ansible/ansible/issues/25072

[2018-06-28 10:49] ITD27M01 opened #42040 "OpenStack dynamic inventory host gets variables from a group to which it does not belongs."
##### SUMMARY

During inventory generation by dynamic inventory plugin host gets variables from all groups not only from groups it belongs.

For example I have two openstack instances (FirstServer, SecondServer)

The FirstServer belongs to "linux" group and SecondServer belongs to "windows" group.

group_vars directory have linux.yml and window.yml file for specific variables for groups.

During a

[2018-06-28 11:07] Vladimir-csp commented on #41086
There is no such filter.

[2018-06-28 11:19] kmort89 commented on #41513
Wikipedia is not a very good source for specifications, but I'll just resort to it for now:
https://en.wikipedia.org/wiki/INI_file

and

So a `;` character may be better option here. This does not sound very useful feature to be honest.

[2018-06-28 11:34] gdpak commented on #41769
@jdipsip 'end' command should not cause any problem as there are no configs which should be done under "interface port-channel <group>" . channel-group configuration is done under physical member interface so 'end' seems proper. Probably your playbook is failing for some other reason might be member physical interface does not exist on device.
Can you share Full running logs of ansible-playbook .

[2018-06-28 11:38] ehelms opened #42041 "Openshift DeploymentConfig fails to re-deploy"
##### SUMMARY
Openshift DeploymentConfig fails to update when using strategy parameters.

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openshift_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Use an Openshift DeploymentConfig with the following section:

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-06-28 11:45] ITD27M01 opened #42042 "openstack inventory plugin can create group with an 'empty name' when region is not specified in clouds.yml"
##### SUMMARY

When region_name is not specified the openstack inventory plugin create empty named group because plugin have not any check for an empty value:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/openstack.py#L257

as soon as 'cloud_' group also created:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/openstack.py#L260

the empty

[2018-06-28 11:58] Akasurde commented on #41577
@m4r10k This is very strange I am unable to reproduce this on my setup -

[code]

<img width="566" alt="screen shot 2018-06-28 at 5 25 54 pm" src="https://user-images.githubusercontent.com/633765/42032861-9304e8b8-7af8-11e8-9fdc-cf801edea0a4.png">

[2018-06-28 11:58] blair3000 commented on #42011
I am running this on a test Linux server using the local Admin user. "uid=1002(admin) gid=1002(admin) groups=1002(admin),10(wheel)"

The vCenter user id has been tested against the vCenter GUI.

[2018-06-28 12:12] ITD27M01 opened #42044 "The inventory allows adding a group with an 'empty name' from dynamic inventory plugins"
##### SUMMARY

When inventory plugin or script is used the inventory can created with empty named group which can leads to unexpected behavior:
https://github.com/ansible/ansible/issues/42040
https://github.com/ansible/ansible/issues/40228

The example project to demonstrate the issue:

https://github.com/ITD27M01/ansible-openstack-bug

The example of empty named group (from ansible-inventory --li

[2018-06-28 12:21] trishnaguha commented on #41828
@ajtaylor6 the PR https://github.com/ansible/ansible/pull/42045 add notes about that in nxos_facts module and also add fails the module with meaningful message if nxos os version is lesser than 7.
We do not have plan about adding xml support for nxos in near future, however contribution is welcome.
Thanks!

[2018-06-28 12:56] michaelhajjar opened #42047 "VMware: VM is created but ISO is not mounted, Vsphere 6"
##### SUMMARY
When trying to create a vm with the vmware_guest module (from a template), the VM gets created but the iso is not mounted.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`vmware_guest.py`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

Running Ansible from Centos 7 against VMWare Vsphere 6

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2018-06-28 13:08] fraff commented on #26581
I would also use this option.

[2018-06-28 13:20] sdiepend commented on #34454
And would the command or shell not run when one the listed files/directories exists or when all the listed files/directories exist?

[2018-06-28 13:46] sivang commented on #13990
is this fixed already?

[2018-06-28 14:09] bcoca commented on #41086
its not in 2.5, but will be available soon https://docs.ansible.com/ansible/devel/user_guide/playbooks_filters.html?#dict-filter

[2018-06-28 14:13] juan-vg commented on #34454
@sdiepend From my point of view the only consistent state is when all the listed files/directories are present. Any other situation should run the command.

[2018-06-28 14:15] jvanderaa commented on #41514
Correct, this model does not allow me to pipe out to json.

[code]

[2018-06-28 14:34] sivel commented on #41086
In 2.5 you can use the `dictsort` filter as an equivalent:

[code]

This is documented at https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.5.html#with-dict

Using `dictsort` I see:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-28 14:34] #41086 closed, assigned to nobody

[2018-06-28 14:35] jklaiho commented on #11921
We've discontinued the use of ohai variables in our playbooks since I last updated this issue, so I don't actually know. @nbering having the same issue confirms that it wasn't just me, but there's nothing more I can contribute to this issue.

[2018-06-28 14:43] peruchi opened #42053 "cloud_init_persist not work"
##### SUMMARY

When you add the option cloud_init_persist, to persist the information added by the cloud init occore an error, which is not supported by the module, but the documentation: https://docs.ansible.com/ansible/latest/modules/ovirt_vms_module.html says that it's possible.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module: ovirt_vms

##### ANSIBLE VERSION

[code]

##### CONFI

[2018-06-28 14:58] landro opened #42054 "docker_container should support --mount option"
##### SUMMARY

docker_container should support --mount option, since that is the recommended way to bind volumes to a container according to https://docs.docker.com/storage/bind-mounts/

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Irreleveant

##### OS / ENVIRONMENT

Irreleveant

##### STEPS TO REPRODUCE

[code]

###

[2018-06-28 15:04] marisamidler commented on #39235
@nitzmahone would you mind elaborating on the connection-related issues with win_domain_controller and what action plugin might solve it? I've tried to use the win_domain_controller module in one of my playbooks to configure 6 Windows Server 2012R2 hosts as domain controllers and 1-2 of the servers always seem to fail. (Not always the same servers fail).

[2018-06-28 15:11] #38551 closed, assigned to nobody

[2018-06-28 15:14] marcin-je commented on #38039
@snemir2  fixed in 2.5.5

[2018-06-28 15:42] saichint opened #42057 "nxos_config module idempotency documentation"
##### SUMMARY

* In the nxos_config module, there are several parameters which may not be idempotent. For ex. ```replace_src``` is not idempotent.
* For some parameters like ```match```, some choices are idempotent where a choice like ```none``` is not.
* Currently there is no documentation about idempotency behavior for this module.
* This issue is raised to add that documentation.

##### ISSUE T

[2018-06-28 15:50] croensch commented on #38254
I've seen some anti-virus proxy plugins delete files from inside war/jar files (because they are basically ZIPs). You could check if you can open the war with 7zip and "find" missing files by comparing it with the original.

[2018-06-28 15:56] vaneuk opened #42058 "network_cli perfomance is slow"
##### SUMMARY

When network modules are used with network_cli connection plugin the perfomance is slow. Task execution time is growing almost linearly with number of hosts.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

./ansible.cfg
library        = /srv/ansible_modules
forks          = 50
log_path = ./ansible.log
gathering

[2018-06-28 16:03] sivel commented on #42058
I believe this issue has been resolved in https://github.com/ansible/ansible/pull/39223 which was subsequently included in the v2.5.3 release.

Can you upgrade to v2.5.3 or newer and validate whether this has been resolved?

needs_info

[2018-06-28 16:30] jdoss commented on #38391
@rambleraptor Thanks for your response. Checking out this new plugin, it doesn't seem to be working as expected.

[code]

[2018-06-28 16:44] fabianvf commented on #42041
This should be fixed in the k8s module coming in Ansible 2.6 (k8s_raw and openshift_raw will both now execute the k8s module so existing code should still work fine).

[2018-06-28 16:49] cledoux commented on #25414
There's a workaround listed here: https://github.com/ansible/ansible/issues/16593#issuecomment-253026793

Basically, use the shell module to wait for the lock file to be empty.

[code]

[2018-06-28 16:50] samdoran commented on #42041
@fabianvf Is that a fix that can/should be backported?

@ehelms Can you test with `stable-2.6` to see if this issue is resolved?

needs_info

[2018-06-28 16:52] vaneuk commented on #42058
@sivel thanks for prompt response! Seems that you are right - I've tested on 2.5.5 and get 20 seconds on network_cli vs 12 seconds on netmiko_ssh.  It's much better :)

[2018-06-28 17:08] fabianvf commented on #42041
@samdoran

Unfortunately the 2.6 module is a full re-implementation using a dynamic kubernetes client (which is what allowed us to sidestep issues like this which plagued the initial attempt), so a backport would pretty much require pulling the 2.6 implementation into 2.5.

[2018-06-28 17:19] fabianvf commented on #40185
so if you use `"{{ test.replicas | int }}"` does it behave properly? I'm not sure what the difference between the `testreplicas` vs `test.replicas` case is though, @maxamillion do you have any thoughts on what might cause that?

[2018-06-28 17:22] sivel commented on #42058
Thank you for testing.  If you have any further problems feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-28 17:22] #42058 closed, assigned to nobody

[2018-06-28 17:26] #41905 closed, assigned to nobody

[2018-06-28 17:28] fabianvf commented on #41955
Interestingly it seems that namespace is a jinja keyword, if I add the task

[code]
it outputs
[code]

If you replace the variable `namespace` with anything else, like `my_namespace`, it seems to work fine. @maxamillion is there anything we can do about this? `namespace` is going to be a very popular choice for the namespace attribute of kubernetes objects.

[2018-06-28 17:29] fabianvf commented on #41955
@zioproto would you mind changing the issue name to note that this is an issue of name collision?

[2018-06-28 17:32] fabianvf commented on #41909
The `openshift` python package version is incorrect, due to some project ownership changes early in the life of the project, downstream `1.0.0` is actually the oldest released version, `0.6.1` is the current release, and `0.4.3` is the minimum required version for Ansible.

[2018-06-28 17:35] fabianvf commented on #41831
This should be fixed in the k8s module coming in Ansible 2.6 (k8s_raw and openshift_raw will both now execute the k8s module so existing code should still work fine). The 2.6 version is a ground-up reimplementation so a backport is unlikely.

[2018-06-28 17:36] dannyim opened #42062 "Lastpass lookup failure on python 3"
##### SUMMARY

Lastpass lookup plugin fails on python 3 due to the subprocess module returning a byte sequence instead of a string.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lastpass
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOLOR(env: ANSIBLE_NOCOLOR) = True
##### OS / ENVIRONMENT

Ubuntu 16.04.4 LTS via WSL on Windows 10 Enterprise (version 1709)
##### STEPS TO RE

[2018-06-28 17:38] ehelms commented on #42041
ACK -- using latest and great openshift and kubernetes client with Ansible 2.6 stable branch this is resolved. I'll close this issue out.

[2018-06-28 17:38] #42041 closed, assigned to nobody

[2018-06-28 17:38] maxamillion commented on #42041
@fabianvf given the maintained compatibility and added testing that came along with the rewrite, I'd be alright with a whole-sale backport of the rewrite if others signed off on it.

[2018-06-28 17:39] maxamillion commented on #11921
ping @nbering - is this issue still persisting for you?

needs_info

[2018-06-28 17:42] ehelms commented on #40185
@fabianvf Using Ansible 2.6 stable and latest openshift and kubernetes clients I get the following even with the cast to int:

[code]

[2018-06-28 17:44] ehelms opened #42063 "Kubernetes jobs can't be re-run"
##### SUMMARY

When defining a Kubernetes job and deploying with the k8s module, the job fails to patch correctly and errors out.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s
k8s_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-06-28 17:47] fabianvf commented on #40185
it seems that doing `test.replicas | int` makes no difference. This issue is independent of the `k8s` modules though, seems to be a function of the templating system. Here's a playbook to reproduce it with just the debug module:

[code]
[code]

Bizarrely, if I add cast testreplicas (the one that is properly an int) to int, it will turn into a string.

[code]

[code]

[2018-06-28 17:48] coom opened #42064 "[vmware_guest] After deploy VM network is disconnected"
##### SUMMARY
When deploying a new VM (cloned from template), VM start with disconnected network, and "Connect at power on" is unchecked.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_REMOTE_USER(/etc/ansible/ansible.cfg) = ansible

##### OS / ENVIRONMENT

Ansible Host: Debian 9.4 (Stretch)
Template: Ubuntu 16.04 wi

[2018-06-28 17:52] sivel commented on #40185
Yes, this is a side effect of the interactions between Ansible and Jinja2.  The new jinja2 native types functionality coming in Ansible 2.7 solves this (https://github.com/ansible/ansible/pull/32738)

Unfortunately, with a module such as `k8s_raw` that does not define a strict `argument_spec` that can validate and specify strict types for arguments, there isn't really a way to use a variable to su

[2018-06-28 17:55] nbering commented on #11921
I haven’t worked on the project where I encountered this for years so I don’t have an environment available to do a repro test.

Wish I could be of more help.

[2018-06-28 17:58] maxamillion commented on #40809
@Spredzy I can get a backport in, I'm out on PTO currently for a family emergency but will add this to my TODO list and try to get it in for the next 2.5.x release.

[2018-06-28 18:02] fabianvf commented on #42063
@ehelms is this an issue of idempotence (running the task multiple times with the same arguments), or are you changing the job from one definition to another?

[2018-06-28 18:05] fabianvf commented on #40004
@maxamillion I think we can close this

[2018-06-28 18:12] fabianvf commented on #42041
@maxamillion how would we kick of the process of proposing that?

[2018-06-28 18:22] Uwila commented on #41586
Very weird; I tested it on another system later and I could not reproduce it either so I guess I made some mistake. I will re-open if I get the problem again.

[2018-06-28 18:22] #41586 closed, assigned to nobody

[2018-06-28 18:22] ehelms commented on #42063
@fabianvf Idempotence, I have things broken into roles, I make a change in say a deployment somewhere, want to re-run the whole she-bang and it fails when it encounters a job definition with the above error.

[2018-06-28 18:35] fabianvf commented on #42063
@ehelms hmm, I was able to run the job twice without error (return ok- no changes the second time), is it possible that the value of `registry` or `application_hostname` is changing across runs?

[2018-06-28 18:41] pnedkov opened #42066 "influxdb_query fails with 'NoneType' object is not iterable"
##### SUMMARY
influxdb_query throws an error when trying to create/drop a continuous query in influxdb using influxdb_query module but the continuous query gets created/deleted successfully nevertheless.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

influxdb_query

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = skippy
RETRY_FILES_EN

[2018-06-28 18:53] ahmedaljawad commented on #41887
@Renji-FR  , I'm getting this error now

[nwadmin@ddcmgtnwbkp ~]$ ansible-playbook Back2.yml -u jawadah -k -vvv
ansible-playbook 2.5.3
  config file = /home/nwadmin/ansible.cfg
  configured module search path = [u'/home/nwadmin/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.6/site-packages/ansible
  executable location = /usr/b

[2018-06-28 18:59] ehelms commented on #42063
I hard coded the values like this and still get the same error:

[code]

With the following:

[code]
[code]

Here is where and how I call it -- https://github.com/theforeman/forklift/pull/746/files#diff-865b46875b498c51c1498d11b1efbd3dR16

Which calls -- https://github.com/theforeman/forklift/pull/746/files#diff-b20c52421bf39ab434c4d518db0484a1

[2018-06-28 19:58] rambleraptor commented on #38391
@jdoss can you share what version of Ansible and/or branch you're running from? I've just tried running the inventory plugin from the stable/2.6 branch and I'm not running into this particular issue.

[2018-06-28 20:09] #40997 closed, assigned to nobody

[2018-06-28 20:34] ehelms commented on #42063
With further testing (thanks @fabianvf ) this is fixed with latest and greatest 2.6 stable.

[2018-06-28 20:34] #42063 closed, assigned to nobody

[2018-06-28 20:52] gsoyka opened #42074 "Privilege Escalation fails when running as root"
##### SUMMARY

When running a playbook as the `root` user, for example inside a docker container, the `become` option is silently ignored.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

yum module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_VAULT_PASSWORD_FILE(/var/packer/project/ansible.cfg) = /var/packer/bin/ansible-vault-password.py

##### OS / ENVIRONMENT

CentOS 7

##

[2018-06-28 21:03] ElijahLynn commented on #23602
`update-security-group-rule-descriptions-ingress` and `update-security-group-rule-descriptions-egress` are available now. We should be able to get this into Ansible somehow, without deleting/recreating the security groups.

source: https://aws.amazon.com/blogs/aws/new-descriptions-for-security-group-rules/ (Aug 31st, 2017)

[2018-06-28 21:03] ElijahLynn commented on #31704
update-security-group-rule-descriptions-ingress and update-security-group-rule-descriptions-egress are available now. We should be able to get this into Ansible somehow, without deleting/recreating the security groups.

source: https://aws.amazon.com/blogs/aws/new-descriptions-for-security-group-rules/ (Aug 31st, 2017)

[2018-06-28 21:07] ElijahLynn commented on #31704
Blargh, I totally misread that, those are just for rules (which is awesome BTW), but looks like updating a SG description is still not changeable.

[2018-06-28 21:08] ElijahLynn commented on #31704
I am thinking that now with rule descriptions, maybe a best practice is to just not use a SG description at all, and just use rule descriptions since they are updateable.

[2018-06-28 21:10] jdoss commented on #38391
@rambleraptor I am running on Ansible 2.5.5 where I run into this error. I will upgrade to 2.6 and give it a shot.

[2018-06-28 21:14] ajtaylor6 commented on #41828
@trishnaguha Ok, I'll see if I can manage something around XML support since this won't be something that goes away. Looking at your pull request, it looks like it checks device capabilities with a network_os_version greater than 7. Isn't the capabilities module using JSON output to pull the network_os_version as well? That seems like a recursive issue and that condition might not ever get matched

[2018-06-28 21:53] jdoss commented on #38391
@rambleraptor Yep that was it. Thanks! This seems to be a path forward for us on supporting static inventory groups with dynamic GCP groups.

[2018-06-28 22:28] willthames commented on #41168
This error is bizarre. I'm not sure why you're seeing it (and it's not clear why .

What version of botocore and boto3 are you running?

Also, it looks like you're on OS X so if you're using `connection: local`, you may want to ensure that you have `ansible_python_interpreter: "{{ ansible_playbook_python }}"` set in your inventory (in group_vars/all will usually do the trick)

[code]

should tell

[2018-06-28 22:32] BarbzYHOOL commented on #30226
This is still bugged. This seems like it'd take 5 seconds to fix since I fixed it myself with a workaround.

Here it is. Add this to your touch task:

[code]
Well this is not an entire workaround, because if you keep creating the same empty file (a .gitkeep for example) it will still print "changed" but if you add 1 character into that file, then it won't display as changed anymore

[2018-06-28 22:50] monchitos82 commented on #42074
Have you tried using `become_method: su`? Unless your container has sudo installed you have to specify the `su` usage if you want the `become` directive to work since the default method is `sudo` or what you've specified in the configuration file for Ansible

[2018-06-28 23:12] harekrishna0 commented on #42030
Hi @Renji-FR - yes, using forking doesn't help much. The time keeps on increasing as I add the number of hosts.
CPU detail on my vm: 39 processor, 2.40GHz each.
yes, I do configure accounting too.

When ansible has to write something to the device, it takes quite some time than it takes to just get the info.

[2018-06-29 00:33] jacksonp2008 opened #42084 "vmware_guest "rename a vm" example doesn't work from the documentation"
##### SUMMARY

vmware_guest "rename a vm" example doesn't work from the documentation

See the example here:  https://docs.ansible.com/ansible/latest/modules/vmware_guest_module.html#vmware-guest-module

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ca-spollockmb1:fs-vmw-control spollock$ ansible-config dump --only-changed
DEFAULT_HOST_LI

[2018-06-29 00:33] brainstorm commented on #25414
@cledoux In my experience, that does not work reliably since `fuser` only checks for a file being used by a process, not "being empty"... I've targeted unattended upgrades myself since that's what was the problem for me, but I hope it can be extrapolated to dpkg as well:

[code]

[2018-06-29 02:56] Wenzel opened #42086 "Packer: Invalid settings supplied for use_tty: 'connection'"
##### SUMMARY
Building a Packer Windows template and using the provisioner `ansible` leads to an error:
`Invalid settings supplied for use_tty: 'connection'`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS: `Ubuntu 18.04 LTS`
managed OS: `Windows 10`

##### STEPS TO REPRODUCE

1. use a Windows 10 packer tem

[2018-06-29 03:37] liu-sheng commented on #41384
Hi @emonty, Is it OK to install the github app in ansible/ansible now ? jobs definitions in openlab side is ready now :) we can also extend the support versions of ansible and OpenStack once integration accomplished.
https://github.com/apps/theopenlab-ci
https://github.com/theopenlab/openlab-zuul-jobs/pull/245

Thanks!

[2018-06-29 05:03] trishnaguha commented on #41514
resolved_by_pr https://github.com/ansible/ansible/pull/42089

[2018-06-29 05:31] bottlelee commented on #20978
Still the same on ansible 2.5.5

[2018-06-29 06:16] Balajiswz commented on #3907
Here the issue is not with the variable name, but the value assigned to the variable. Why the values are not allowed to have "-" in them?

[2018-06-29 06:17] Akasurde commented on #42064
@coom Thanks for reporting this issue. Does this template used to work in previous versions of Ansible ? also, can you try new version like 2.6 or 2.7devel?

[2018-06-29 06:21] NilashishC commented on #41887
@ahmedaljawad Your playbook should look like this if you're using `ios_config` to take backup:
[code]
Referencing [this](https://groups.google.com/forum/#!msg/ansible-project/GuIK1-AJEZ4/koH3eLz8CgAJ), `ios_command` does not have the `backup` parameter. It is present with `ios_config`, hence you are getting the error.

For more help, you can raise a query on #ansible-network on irc.freenode.net or

[2018-06-29 06:48] ganeshrn commented on #40626
@rikkertk Since this fix creates the commit-configuration rpc and not uses ncclient commit api, the changes in ncclient won't affect this fix. However in future when ncclient version is released and we move to invoke ncclient commit api in that case need to handle minutes to seconds conversion within Ansible

[2018-06-29 06:52] trishnaguha commented on #41828
@ajtaylor6 that's a good catch. I have moved the linked PR to https://github.com/ansible/ansible/pull/42089. This one should cover the case.

[2018-06-29 07:08] kwbr commented on #41647
Any chance to reopen the issue?

[2018-06-29 07:38] Akasurde commented on #42066
@pnedkov Thanks for reporting this issue. Could you please try this fix - https://github.com/ansible/ansible/pull/39626 and let us know if it works for you ?

needs_info

[2018-06-29 08:01] 2-face opened #42090 "archive fails when symbolic link points to non-existent file"
##### SUMMARY
archive modules fails when it tries to archive non-existent files that are result of following symbolic links

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

archive module

##### ANSIBLE VERSION
ansible --version
ansible 2.5.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']

[2018-06-29 08:02] Akasurde commented on #42084
@jacksonp2008 Thanks for reporting this issue. I see you are using `instance_uuid ` instead of `hw_product_uuid`

[code]

console log
[code]

needs_info

[2018-06-29 08:05] nocgp opened #42091 "rabbitmq_user fail to create user"
##### SUMMARY
Rabbitmq_user failed to add user.
Could be related to #41820

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rabbitmq_user

- rabbitmq_user: user=admin
                 password=[pwd]
                 vhost=/
                 configure_priv=.*
                 read_priv=.*
                 write_priv=.*
                 state=present
                 tags=administrator

##### A

[2018-06-29 08:13] nocgp commented on #42091
@ansibot
!component rabbitmq_user

[2018-06-29 08:14] Akasurde commented on #42084
There is new module which can be used to rename existing VMware object - https://github.com/ansible/ansible/pull/40520. Take a look at this as well and provide feedback.

[2018-06-29 08:31] mkrizek commented on #42091
My guess would be that you have unsupported version of Erlang installed - https://www.rabbitmq.com/which-erlang.html.

[2018-06-29 08:40] machacekondra commented on #42053
@peruchi can you please copy paste the verbose output of playbook run? There is most probably some typo or something, because it's indeed supported since 2.5.

[2018-06-29 08:54] nocgp commented on #42091
@mkrizek Looks you right, new v21 erlang is an issue.
works fine on 20.3
Closed.

[2018-06-29 08:54] #42091 closed, assigned to nobody

[2018-06-29 09:15] srinivasguttur opened #42095 "loop over multiple tasks"
##### SUMMARY
How to loop over multiple tasks in a play or can we loop over the block which has multiple tasks? Instead of wrapper script which involve include_tasks: to loop over main play?

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

block, loop
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CACHE_PLUGIN(/etc/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/etc/a

[2018-06-29 09:24] a-nanasov opened #42096 "win_updates returns ok after reinstalling deleted updates"
##### SUMMARY
The win_updates module returns 'ok' result after reinstalling previously (manually) deleted Windows updates

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/mnt/test/ansible.cfg) = False
DEFAULT_STDOUT_CALLBACK(/mnt/test/ansible.cfg) = skippy
HOST_KEY_CHECKING(/mnt/test/ansible.cfg) = False

##

[2018-06-29 09:31] Kenuat commented on #42096
Also I noticed that even when you delete and reinstall the update, its 'Installed On' date will not change.
Looks like this is a part of weird windows API behavior.

[2018-06-29 09:39] #40626 closed, assigned to ganeshrn

[2018-06-29 09:43] coom commented on #42064
@Akasurde Hello ! Thank for trying to help me.

Since 2.6 has been released 6 hours ago, I did the update and nothing change, still the same issue.

What I've tested :
- Ansible 2.5.5 + Ubuntu Server 16.04 + open-vm-tools => Card start disconnected 👎
- Ansible 2.5.5 + Ubuntu Server 16.04 + Official VMWare Tools => Everything works fine 👍
- Ansible 2.6 + Ubuntu Server 16.04 + open-vm-tools => Card

[2018-06-29 09:53] svpudik commented on #16621
I am missing this feature also, it will be extremely useful. Exist any workaround how to create until loop above more tasks? I have f.e. rest API get which respond multi array JSON from which need compare 2 variables for each item in array and sum how many items meet my condition.
 I am not able create it in one step in that rest API get, and this will be really helpful.

[2018-06-29 10:00] Akasurde commented on #42064
@coom I think this is definitely related to open-vm-tools. Thanks for providing your debugging information. It is worth to raise an issue against open-vm-tools then.

Thanks again. I will mark this as close then.

[2018-06-29 10:00] #42064 closed, assigned to nobody

[2018-06-29 10:02] Akasurde commented on #42084
@jacksonp2008 I have raised a documentation guide which might help. Please go through this and provide feedback.

[2018-06-29 10:06] mkrizek commented on #20978
Duplicate of https://github.com/ansible/ansible/issues/37512

[2018-06-29 10:06] #20978 closed, assigned to nobody

[2018-06-29 10:20] svpudik commented on #41797
Will be this solved in repo or I have to close this issue?

[2018-06-29 10:21] coom commented on #42064
@Akasurde just to let you known I've found a workaround.

I can make open-vm-tools to work with my template by using "en.US" locale. As I'm a french user, I did use fr.FR.

When using en.US with open-vm-tools and official vm tools : it works.
When using fr.FR with official vm tools : it works
When using fr.FR with open vm tools : it does not works

If it can help non english speakers to get workin

[2018-06-29 10:35] Akasurde commented on #42064
@coom Bravo. Thanks a lot for more insight. I never tested with different locale so might not have hit by this issue.

[2018-06-29 10:44] mkrizek commented on #42095
Please refer to the discussion in https://github.com/ansible/ansible/issues/13262. Thanks!

[2018-06-29 10:44] #42095 closed, assigned to nobody

[2018-06-29 10:55] RogierSchuring commented on #36053
This is still happening in ansible 2.5.1. using include_tasks

ERROR! Unexpected Exception, this is probably a bug: maximum recursion depth exceeded while calling a Python object

ansible 2.5.1
python version = 2.7.5 (default, Feb 20 2018, 09:19:12) [GCC 4.8.5 20150623 (Red Hat 4.8.5-28)]

Detailed log:
`2018-06-29 12:48:25,030 p=39192 u=user |  ERROR! Unexpected Exception, this is probably a bug:

[2018-06-29 10:58] neikei commented on #34853
Does this also occur in newer versions? Ansible 2.4 is currently still widely used and I would also prefer a fix, as debugging and problem solving for this issue takes a lot of time.

@andeschau, thanks for the provided solution!

[2018-06-29 11:09] Wenzel commented on #42086
I was using packer `1.0.0`.
With the latest release (`1.2.4`) it works.

[2018-06-29 11:09] #42086 closed, assigned to nobody

[2018-06-29 12:02] bdkakdb commented on #28991
Looks like the same:

https://github.com/ansible/ansible/issues/30754

[2018-06-29 12:32] cortexx commented on #33368
Hello,

I have found the same bug in newer version of Ansible.

##### SUMMARY
Plugins seem to be already installed on ElasticSearch instance if I try to install them with `file://` parameter in the name keyword.

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ansible manager : `CentOS Linux release 7.3.1611 (Core)`
Deployed server : `CentOS Linux release 7.3.1611 (Core)`

##### STEPS TO REPR

[2018-06-29 13:16] bendoh commented on #42090
Nice catch. Would it make sense to still archive the link as a link rather than trying to follow it?

[2018-06-29 13:17] gsoyka commented on #42074
When I tried `become_method: su` it hung waiting for input.  Also to clarify, ansible itself is running in a container, but the remote host where the tasks are being executed is a regular ec2 instance, with a non-root user that has permission to use passwordless `sudo`.

When I run ansible as a non-root user, I see the sudo being passed as part of the command: `'sudo -H -S -n -u root /bin/sh -c '"

[2018-06-29 13:29] peruchi commented on #42053
I activated Debug full and found the problem: "msg": "ovirtsdk4 version 4.2.4 or higher is required for this module"

I upgraded the version and it worked, thank you.

[2018-06-29 13:29] #42053 closed, assigned to nobody

[2018-06-29 13:36] josemanuel-garcia opened #42104 "azure_rm_securitygroup purge_rules parameter not working properly"
##### SUMMARY

Wrong behaviour of the module azure_rm_securitygroup using the parameter purge_rules.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_securitygroup
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
##### OS / ENVIRONMENT

Ubuntu 16.04.4 LTS
##### STEPS TO REPRODUCE

- Set Azure credentials in ~/.azure/credentials
- Cre

[2018-06-29 13:39] mazur7 commented on #42090
I think there should be a parameter describing the behaviour what to do in such case.
case1: archive as link if link broken
case2: don't archive if link broken

[2018-06-29 13:49] DamianZaremba opened #42105 "async is a reserved word in Python 3.7"
##### SUMMARY
`async` and `await` have become keywords in Python 3.7 (https://docs.python.org/3/whatsnew/3.7.html).

Because of this Ansible fails to byte compile against a 3.7 interpreter

Based on the documentation, Python 3 is supported above version 3.5 - https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Mul

[2018-06-29 13:52] lousyd commented on #41909
Aha. `pip install --upgrade openshift` fixed my issue. I had 0.0.1 before, which upgraded to 0.6.1. Now I have another openshift_raw.py problem, the "_does not map to a parameter expected_" problem, but this issue is fixed for me.Thanks, @aweiteka , @fabianvf .

[2018-06-29 13:54] sivel commented on #42105
Based on your line numbers and the output you provided, this is not ansible 2.6.0:

[code]

Ansible 2.6.0 does not suffer from these issues.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-29 13:54] #42105 closed, assigned to nobody

[2018-06-29 13:56] sumkincpp opened #42107 "Fail flag for `no hosts matched`"
##### SUMMARY

This feature was floating around for a while, strangely it isn't currently supported in ansible.

Would be great to have a new flag for playbooks which will show if we should fail on `no hosts matched` condition

Might be implemented with custom action module like the following
[code]
or with a flag.

Very useful within workflows without tricks, like [this](https://stackoverflow.com

[2018-06-29 13:58] aweiteka commented on #41909
@lousyd same here. Thanks @fabianvf !

[2018-06-29 13:58] #41909 closed, assigned to nobody

[2018-06-29 14:00] nkrishnakishor commented on #41894
Thanks @jborean93 for the update but I'm facing the same issue with not only Win 2012 R2 server but with Windows 7 & 10 systems.

[2018-06-29 14:01] sumkincpp commented on #42107
Already discussed as feature that won't measured in #14742.
Workaround is a callback [here](https://gist.github.com/jjshoe/ace3070906e5bc5cc432)

[2018-06-29 14:01] #42107 closed, assigned to nobody

[2018-06-29 14:02] cubeek opened #42108 "openvswitch_db: Missing support for column types other than a map"
##### SUMMARY

Open vSwitch schema provides columns with various types like int, bool, string that don't require a "key" which is required only by a map type. Current openvswitch_db ansible module has a 'key' parameter as required. This makes it not possible to set columns that are types other than a map.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openvswitch_db

##### ANSIBLE VERSION

[2018-06-29 14:04] zwindler commented on #41218
@yuwzho @zikalino

I've got a first version working. Let me know if there are some modifications needed (code or tests).

[2018-06-29 14:05] maxamillion commented on #42041
@fabianvf I'll add it to the community meeting agenda for next week and see what the group has to say about it

[2018-06-29 14:10] maxamillion commented on #40809
@Spredzy it would appear @bcoca has you covered :)

[2018-06-29 14:16] mhuot commented on #32776
I need time to complete my PR but https://github.com/ansible/ansible/pull/33293 implements https for CDOT.

[2018-06-29 14:17] maxamillion commented on #11921
Closing for now, but am happy to revisit if someone encounters the issue again and can assist in providing more information.

[2018-06-29 14:17] #11921 closed, assigned to nobody

[2018-06-29 14:21] #40684 closed, assigned to nobody

[2018-06-29 14:22] #40004 closed, assigned to nobody

[2018-06-29 14:32] Vedrillan opened #42111 "Module File - touch in check mode end up in with error"
##### SUMMARY

When using the File module to touch a file, and run the playbook in check mode, the module will raise the following error "UnboundLocalError: local variable 'diff' referenced before assignment"

This seems to have been introduced by commit 8bd245a6a2853c30d6cce5e21f5421b9758ddfa0

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

file module

##### ANSIBLE VERSION

[code]

#####

[2018-06-29 14:36] dmykarp opened #42113 "Blockinfile: persisting value in a variable in a template, if the default is immediately overridden"
##### SUMMARY

When the default value of the variable, that is used in the template loop, is overridden by the value from `group_vars` right from the start, it never gets cleared again. The value sticks, and all the next iterations of the loop will use this value. When the value does not get overridden immediately, but later in the loop, it is properly cleared and replaced by the default when the

[2018-06-29 14:50] DamianZaremba commented on #42105
You are of course correct, apparently my upgrade to 2.6.0 didn't stick and I didn't notice the output was still referencing 2.4.3. This is now built successfully.

Thanks for the fast reply.

[2018-06-29 14:51] dirks opened #42114 "hard coded LANG in yum module breaks zammad rpm installation"
##### SUMMARY
hard coded LANG in yum module breaks zammad rpm installation.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
- Centos 7.5
- Centos 7.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
As `postgresql-setup initdb` runs during yum installation of zammad I would expect it to use the sy

[2018-06-29 14:53] evanstoner commented on #39639
+1

[2018-06-29 15:15] jacksonp2008 commented on #42084
Looks good, that works.  Thank-you!

[2018-06-29 15:22] fabianvf opened #42116 "[k8s] Can't create Projects with low-permissioned users"
##### SUMMARY

Users can create projects using the `oc new-project` command, which creates a `ProjectRequest` object. The old Ansible module (`openshift_raw`) would automatically translate Project creation into ProjectRequest creation.

Even if you specify the ProjectRequest instead of Project kind, the request will still fail because the `get` will 403 (the user is not allowed to get a specific P

[2018-06-29 15:26] AmShaegar13 opened #42117 "get_url fails with 'Permission denied' since 2.6.0"
##### SUMMARY
After upgrade to ansible 2.6.0 the get_url module throws 'Permission denied' error for a tmp file.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none

##### OS / ENVIRONMENT

Debian 9.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It works.

##### ACTUAL RESULTS

[code]

[2018-06-29 15:46] infrascripting commented on #41448
@caphrim007 Just got the 2.6 stable installed, and it still is giving the same error. I was told that we don't have any existing profiles when we're creating these. I don't know why it's failing.

[2018-06-29 15:55] vadimkuznetsov opened #42118 "ansible failed to load yaml inventory plugin, loading ini plugin instead."
##### SUMMARY
ansible failed to load yaml inventory plugin, loading ini plugin instead.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE

[code]
Note that inventory is a folder with hosts.yaml, group_vars and host_vars in it.
If I run it like this:
[code]
it works

[2018-06-29 15:59] jonbenning commented on #37087
@Akasurde I did (finally) get a chance to test. It seems to work as expected. Apologies for taking so long.

[2018-06-29 16:06] jpmens commented on #42117
Sounds like a “lower” layer to me:

[code]

[2018-06-29 16:19] sivel commented on #42118
Can you provide an example of your YAML inventory file?  One that reproduces this behavior.

Also can you provide the output of:

[code]

needs_info

[2018-06-29 16:20] bcharboneauiherb opened #42122 "Pamd/sshd Error when inserting new rule after another rule"
##### SUMMARY

Module Error when attempting to add pam_oddjob_mkhomedir.so rule to pam.d/sshd
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pamd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/bcharboneau/Local_Git_Repos/DevOps_Automation/ansible/inventory/ansible_brad.cfg) = True
ANSIBLE_PIPELINING(/home/bcharboneau/Local_Git_Repos/DevOps_Automation/ansible/invent

[2018-06-29 16:36] infrascripting commented on #41448
@caphrim007 So...I talked to my F5 admin, and he showed me that his setting for the profiles is to set `tcp-lan-optimized` on the client-side, and set the server-side to 'Use Client Profile' in the GUI.

I had him check the config file for me, and it looks like all that does is set up the `tcp-lan-optimized` profile _without_ any type of context. My guess is that by adding context, the requirement

[2018-06-29 16:36] #41448 closed, assigned to nobody

[2018-06-29 17:03] tompscanlan commented on #42117
I've just hit the same issue.  Rolling back to ansible 2.5.5 and testing in the same environments with the same code works.

[2018-06-29 17:11] shaded0 commented on #41906
Cool - I will work on getting it setup and see if I can get something together to test it. Thanks!!

[2018-06-29 18:02] vasartori opened #42125 "Module Etcd3 Get Values"
##### SUMMARY
Add capacity to read data on etcd3 module.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

etcd3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The Value of stored data on etcd.

##### ACTUAL RESULTS

All fields are required, and the module does have support to only read data.

[code]

[2018-06-29 18:14] gundalow opened #42126 "net_get and net_put need to detail which network platforms they support"
##### SUMMARY
It isn't clear which network platforms support `net_get` and `net_put` from
https://docs.ansible.com/ansible/latest/modules/net_put_module.html

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
net_get
net_put

##### ANSIBLE VERSION
[code]

[2018-06-29 18:19] #42111 closed, assigned to nobody

[2018-06-29 18:48] opoplawski opened #42131 "RFE: Allow access to all items in a loop list"
##### SUMMARY
I would like to be able to reference other items in a loop.  I.e., do something like:
[code]

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
loop

##### ANSIBLE VERSION

[code]

[2018-06-29 18:59] bcoca commented on #42131
you have those already, in `idx.results`, just keep in mind it doesn't exist until the first iteration is done

[2018-06-29 19:02] FragmentedPacket commented on #42126
Can we possibly have more details provided on these modules of what helps make them idempotent or not?

Such as, does net_put verify first the the file doesn't exist on the destination or if there is enough space available on the destination to complete the transfer successfully?

[2018-06-29 19:29] tchia04 commented on #36395
I am facing the same situation. I need a way to version the roles in artifactory.

[2018-06-29 20:57] opoplawski commented on #42131
Are you sure it's idx.results? as I don't see that:
[code]
[code]

[2018-06-29 21:24] blair3000 commented on #42011
I did some additional debugging and appears we have an object that does not have the template attribute. I created a test python script to test my theory and added a check for the attribute existence. I am able to list templates with this script:

#!/usr/bin/python
from pyVmomi import vim
from pyVim.connect import SmartConnect, SmartConnectNoSSL, Disconnect

def get_vim_objects(content, vim_type):

[2018-06-29 21:34] #41179 closed, assigned to nobody

[2018-06-29 22:43] hazelfire5 opened #42136 "nxos_bgp_af removes all other advertised networks when adding a new network to address-family"
##### SUMMARY

When adding networks to `networks:[network1/network2]` using module `nxos_bgp_af` there seems to be a bug where even when you select 'present' it will actually wipe out any other networks currently being advertised in that address-family. Maybe this is more of a feature request? but I would think that marking it 'present' wouldn't force it to delete the others.

##### ISSUE TYPE
 -

[2018-06-29 22:54] monchitos82 commented on #42074
OK, so ansible connects from the container to the outside. If ran as root, you lose the ability to sudo to another user. So let me ask, what user is the one you're using on the external hosts when you run the playbook as root? Have you implemented the directive `ansible_user`? If you haven't probably that's a good starting point. So far we know what you use locally, but have no insight on what's t

[2018-06-29 22:58] dlibanori opened #42137 "It seems docker_container is not working at 2.6"
Everything works fine with Ansible 2.5.4 and now it is not working at 2.6.0

task.yml
[code]
Running ansible:

[code]

[2018-06-29 23:09] hazelfire5 commented on #42136
Having a 'match' feature would be amazing.

[2018-06-30 01:29] xoxys commented on #28277
@helldorado Why is this not yet fixed? We use a vlan infrastructure and not each of the vlans have a dhcp server. So i need to clone vms to an install vlan, provisioning the vm with ansible and move vm to final vlan. So editing net would be very helpful

[2018-06-30 04:28] m4r10k commented on #41577
@Akasurde I will retry it and I will let you know. But it may take a some days, as I am currently busy. Thanks that you have tried it, good to know that it should work...

[2018-06-30 06:05] Akasurde commented on #41577
@m4r10k Are you using open-vm-tools with locale which is different than en.US, I am asking this because  one of the user currently faced somewhat same issue - https://github.com/ansible/ansible/issues/42064#issuecomment-401305353. Might be worthwhile to consider that aspect as well.

Thanks.

[2018-06-30 07:02] m4r10k commented on #41577
Yes, we are using the open-vm-tools in our template and for the locale I need to have a look. Thanks for pointing this out, I will test with the official vm-tools

[2018-06-30 07:13] felixfontein commented on #42137
You should really use the issue template next time, then ansibot will directly inform the people maintaining the module (I'm not, in case you wonder). Anyway, for me, `docker_container` is working. Maybe there's something which changed how the `docker` library is used internally; someone working on this module might be able to help you better. What you probably can do to help is find out which ver

[2018-06-30 07:39] felixfontein commented on #42137
!component +lib/ansibe/modules/cloud/docker/docker_container.py

[2018-06-30 07:56] setevoy2 opened #42148 "jenkins_plugin - Jenkins home directory doesn't exist"
##### SUMMARY

Have "_Jenkins home directory doesn't exist._" error if install plugin which is already installed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`jenkins_plugin`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running Ansible from: Arch Linux.
The OS you are managing: Debian 9

Jenkins running in Docker container with volume mapped from the

[2018-06-30 08:56] hazelfire5 commented on #42136
I was able to update the package. I am having trouble figuring out how to make a pull request but here is what I came up with:
[code]
I added to the module a field called 'networks_purge' (can be changed just all i came up with) which is a boolean type that will purge all other networks when True and will merely add the additional network if False.

[2018-06-30 08:57] hazelfire5 commented on #42136
Using the code from above, this package works great using:
[code]

[2018-06-30 11:52] juju4 opened #42150 "[2.6][file module] lost validate option?"
##### SUMMARY

when using file module, you  have no more validate option available like for template module
https://docs.ansible.com/ansible/latest/modules/file_module.html
https://docs.ansible.com/ansible/latest/modules/template_module.html

It was working before 2.6.

Thanks

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

[2018-06-30 12:12] felixfontein commented on #42137
Doesn't seem to work. I guess you have to use the template then...

[2018-06-30 14:02] techraf opened #42152 "2.6.0 reports "Python modules \"botocore\" or \"boto3\" are missing, please install both" when localhost is specified in the inventory"
##### SUMMARY
AWS modules in Ansible version 2.6.0 report `Python modules \"botocore\" or \"boto3\" are missing, please install both` despite both being installed **when** `localhost` is specified in the inventory.

2.5.5 in the same environment works properly.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Amazon Web Services modules
`lib/ansible/module_utils/aws/core.py`

##### ANSIBLE VE

[2018-06-30 15:23] dcweber opened #42154 "Add "descr" parameter to aci_static_binding_to_epg - Bind static paths to EPGs (fv:RsPathAtt)"
##### SUMMARY

The aci_static_binding_to_epg module does not support the "descr" parameter (fv:RsPathAtt.descr)

##### ISSUE TYPE
 - Feature Idea
Add "descr" as an available parameter to set, change or filter on.

##### COMPONENT NAME

aci_static_binding_to_epg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(venv) dan@bo-tst-ub-srv1:~/ansible$ ansible-config dump --only-changed
(venv) dan@bo

[2018-06-30 15:59] seanharmer commented on #41116
Same issue here. MySQL 8 no longer ships with /usr/lib64/mysql/plugin/caching_sha2_password.so.

[2018-06-30 16:33] Dsunil017 commented on #41820
Could not start application logger: Logger.App.start(:normal, []) returned an error: shutdown: failed to start child: Logger.ErrorHandler
    ** (EXIT) no process: the process is not alive or there's no process currently associated with the given name, possibly because its application isn't started
while start plugins RabbitMq i got this error

[2018-06-30 20:10] jtyr commented on #42148
Please could you provide Docker Compose file and Ansible Playbook to demonstrate the issue?

[2018-06-30 20:46] felixfontein commented on #41435
!needs_contributor

[2018-06-30 21:13] setevoy2 commented on #42148
Compose file, the `jenkins` container:

[code]
`{{ data_volume_mount_path }}/{{ jenkins_data_dir }}` == `/data/jenkins`.
Ansible playbook, related parts:

[code]

[2018-06-30 21:20] jtyr commented on #42148
Please try to set the `jenkins_home` option in the `jenkins_plugin` task.

[2018-06-30 21:23] setevoy2 commented on #42148
@jtyr Oh, I see now...
Default in plugin is `/var/lib/jenkins`, while container has `JENKINS_HOME=/var/jenkins_home`...
Thanks, will try on Monday and will post result here.
Have a great weekend!

[2018-06-30 23:51] parmstro opened #42160 "json_query provides no result searching satellite hammer --output=json result"
##### SUMMARY
When retrieving results from Red Hat Satellite 6.3 using hammer and specifying json output, ansible is unable to properly select results using json_query.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
json_query

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible

[2018-07-01 03:01] techjohngit opened #42161 ""Failed to connect to the host via ssh: mux_client_request_session: exitval sent twice\r\n""
Am experiencing error mux_client_request_session: exitval sent twice\r\n.

##### SUMMARY
I have setup virtual lab for 3 ios routers in GNS3 and CentOS(VirtualBox) where the ansible is installed.
Am trying to send adhoc ping command for all of the routers.

I got a random result of:
mux_client_request_session: exitval sent twice\r\n

##### ISSUE TYPE
am not so sure if this is a bug.

##### COMPONEN

[2018-07-01 03:15] jcheroske commented on #40890
@profhase, I just ran into this issue, and your description is spot on. A quick workaround is to pass a var to the dependent role which causes it to be a no-op during `meta/main.yml` load. This of course does not work when using 3rd-party roles. An example:

`some_role/tasks/main.yml`:
[code]

`some_role/meta/main.yml`:
[code]
Getting these two concerns separated would make the dependency syntax a

[2018-07-01 04:04] mrtyler opened #42162 "docker_container: create_host_config() got an unexpected keyword argument 'init'"
This is a repost of #42137 by @dlibanori, because @felixfontein suggested that there was a problem with the original bug report. Please close one in favor of the other.

##### SUMMARY
Ansible 2.6.0 raises an error when trying to run `docker_container`: `create_host_config() got an unexpected keyword argument 'init'`

The same stanza works in Ansible 2.5.5.

##### ISSUE TYPE
 - Bug Report

##### CO

[2018-07-01 04:05] mrtyler commented on #42137
Thanks for filing this, @dlibanori :). I am having the same problem.

Based on @felixfontein's comments about trouble with the bug report template, I created a new issue -- #42162 -- and filled in a few more details.

I recommend closing this ticket in favor of mine.

[2018-07-01 04:17] robertdebock commented on #42162
Same problem here, debug logs [here](https://travis-ci.org/robertdebock/ansible-role-bootstrap/jobs/398513311).

[2018-07-01 05:15] ptux commented on #22399
I will do it.

[2018-07-01 06:05] mrtyler commented on #42117
I am also hitting this. I am also working around it with ansible 2.5.5.

I wanted to add that my `get_url` stanza also involves a `become_user` -- see https://github.com/gpii-ops/ansible-gpii-ci-worker/blob/master/tasks/install.yml#L196. Perhaps this is significant.

[2018-07-01 06:40] felixfontein commented on #42162
Can you check which version of the `docker` Python library you installed? On my machines (where `docker_container` seems to work), I have `docker==3.3.0` (`pip show docker`).

[2018-07-01 06:47] mrtyler commented on #42162
I'm pretty sure I do not have the `docker` library installed:

[code]

Also, the only difference between my success case and my failure case was `pip install ansible==2.5.5`, as verified by comparing `pip list` before and after the downgrade.

[2018-07-01 06:57] felixfontein commented on #42162
In @robertdebock's logs it seems that `docker-py` (version 1.10.6) is installed. [docker-py](https://pypi.org/project/docker-py/) is no longer maintained (last release from November 2016), you should install [docker](https://pypi.org/project/docker/) instead. Both provide a `docker` Python module.

Spontaneously, I would say your problem is caused by #34547. There is a [check included to avoid thi

[2018-07-01 06:59] felixfontein commented on #42162
@mrtyler You probably also have `docker-py` installed, then (on the target machines, not on the machine where ansible runs -- for `docker_container`, the library is only needed and used on the target machines).

[2018-07-01 07:15] felixfontein commented on #42162
Actually, there seems to be a fix for this (on the first glance), but it has never been merged: #40839

[2018-07-01 07:18] felixfontein commented on #42137
Should be fixed by #40839.

[2018-07-01 09:11] resmo commented on #42162
resolved_by_pr #40839

[2018-07-01 09:33] techraf opened #42166 "authorized_key module reports 'ok' status when running without permissions (should fail instead)"
##### SUMMARY

`authorized_key` module with `state: absent` does not remove the key but reports `ok` status when running without proper permissions to the `authorized_keys` file.

While it is obvious it has no permission and it cannot perform the action, it should fail instead.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`authorized_key` module

##### ANSIBLE VERSION

[code]

##### CONF

[2018-07-01 10:38] #41887 closed, assigned to NilashishC

[2018-07-01 14:06] #37884 closed, assigned to nobody

[2018-07-01 18:17] robertdebock commented on #42162
@felixfontein indeed, using `docker` instead of `docker-py` solves the issue for me. Thanks!

[2018-07-01 22:14] gerhard-tinned commented on #29622
After 2 Years of ignoring this issue???

Well let me see if I find this stupid code again to send it to you .... maybe I find it before the next two years are over.

[2018-07-02 01:21] jamrok opened #42173 "Revamp SSH Unreachable Host Detection/Reporting"
##### SUMMARY
#### Primary Problem:
- Ansible playbooks abort (i.e. treats hosts as "UNREACHABLE") instead of failing for hosts when the issue is for example an authentication problem (eg. Permission denied due to wrong key or password). It's therefore incorrectly reporting the host as unreachable and therefore I can't get to handle it within Ansible (due to it raising an AnsibleConnectionFailure

[2018-07-02 02:44] judyQD commented on #41721
@stravassac thanks very much for your reply and debug. I cannot telnet the ESXI host via 443 port. BTW, this port is default port of ESXI host. Do I need to start this port? Or do I need to change some configurations of ESXI host. Your help and comments are very important for me. Thanks very much

[2018-07-02 02:46] kbreit opened #42174 "meraki_network - New disableMyMerakiCom parameter breaks idempotency"
##### SUMMARY
Meraki recently added the `disableMyMerakiCom` parameter when returning information about a network. The module doesn't check for this so any request won't be idempotent.

This problem won't be fully fixed until issue #41944 is resolved.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meraki_network

##### ANSIBLE VERSION
[code]

[2018-07-02 02:49] kbreit opened #42175 "meraki_network - Add support for disableMyMerakiCom"
##### SUMMARY
Meraki recently added support for a new parameter in the API, `disableMyMerakiCom`. To quote Meraki "Disables the local device status pages (my.meraki.com, ap.meraki.com, switch.meraki.com, wired.meraki.com)". The `meraki_network` module should be able to set this properly.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
meraki_network

##### ANSIBLE VERSION
[code]

[2018-07-02 03:02] ptux commented on #22399
@ssbarnea

I got your requests as follows.

1. specify environment markers
2. specify version conditions

As for request 1, it seems you cloud use `executable` option.

And the request 2, I will try to add it.

[2018-07-02 05:19] DenverJ commented on #6463
For those that stumble on this before any official documentation, you can do this now.

https://docs.ansible.com/ansible/2.4/playbooks_lookups.html
[code]

[2018-07-02 06:28] judyQD commented on #41721
@stravassac ` "msg": "initiateFileTransferToGuest : {'url': 'https://10.9.242.6:443/guestFile?id=35&token=52da82e3-2a08-2c39-2f45-70c9cbfdfdeb35', 'status': -1, 'msg': 'Request failed: <urlopen error timed out>'}"` Could you please tell me the meaning of guestFile?id=35&token=52da82e3-2a08-2c39-2f45-70c9cbfdfdeb35, as I could login in the EXSI host via https://10.9.242.6:443 which means the port 4

[2018-07-02 06:52] evrardjp commented on #42125
The idea was to use a lookup for querying data, but I understand why people would want to use this module to see the current content of the data stored.

[2018-07-02 06:58] evrardjp commented on #42125
(See also: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/etcd.py )

[2018-07-02 07:48] Akasurde commented on #42011
@blair3000 Could you please try this patch https://github.com/ansible/ansible/compare/devel...Akasurde:i42011 and let me know if it works for you ?

needs_info

[2018-07-02 07:50] ptux commented on #22399
@alextricity25
@robinro

Would you be willing to test the PR?

[2018-07-02 08:09] alexntt commented on #41548
This seems to be solved on 2.6.0

[2018-07-02 08:09] #41548 closed, assigned to nobody

[2018-07-02 08:15] renatoram commented on #24884
Hello,
I'm hitting the same problem (and it will soon be a problem in production).

OS: Windows 10 Enterprise
Version: 10.0.14393

Ansible Version: 2.3.0.0 (but the ansible version seems to be irrelevant here).

The issue is local to the Windows machine. It's not in a Domain environment, and it's using the Machine Principal context.

Example code that fails consistently:

[code]

The output is
[co

[2018-07-02 08:29] stravassac commented on #41721
@judyQD the module vmware_guest_file_operation use PyVmomi (from VMware) for ESXI operations, the url options are certainly use for identify the file to push and the destination VM. It's a ESXI internal mechanism.

[2018-07-02 08:29] dagwieers commented on #42175
Where do you find new API changes ? Is there an overview of such changes ?

Maybe we need to collect such sources at our Wiki page (or the Meraki guide ?)

[2018-07-02 08:31] setevoy2 commented on #42148
Hi, @jtyr
No, unfortunately - didn't help.

First I tried to add the `jenkins_home` variable and the path directly, pointed to `/var/jenkins_home`:

[code]

Next I tried to add it via varialbe and point to the plugin's default Jenkin's home `/var/lib/jenkins`:

[code]
And the unse it in the task:

[code]

And in the Compose file:

[code]

Volume mapped correctly:

[code]

Both attempts gave me the

[2018-07-02 08:49] lazouz commented on #30226
Well, this module still needs some work, i'll try something this summer, but feel free if you have time.

[2018-07-02 08:53] dagwieers opened #42178 "Stale release/maintenance docs in old documentation"
##### SUMMARY
This link https://docs.ansible.com/ansible/2.4/release_and_maintenance.html should be forwarded to this link: https://docs.ansible.com/ansible/devel/release_and_maintenance.html

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
old docs

##### ANSIBLE VERSION
v2.4

[2018-07-02 09:06] totojack opened #42179 "s3_lifecycle module failing with KeyError "Filter" on ansible 2.6.0"
##### SUMMARY

s3_lifecycle module fails with "KeyError: 'Filter'" after updating to ansible 2.6.0. These lifecycle rules already exist on AWS. I created them using the same module with a previous ansible version.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

s3_lifecycle

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
D

[2018-07-02 09:17] judyQD commented on #41721
@stravassac thanks for your quick and great reply.
 [https://github.com/vmware/pyvmomi-community-samples/pull/406/commits/03fb84219d83c36ae454848bf1bcdbcaad4a8eca](url)
could you please have a look at this link, where should I change the code based on the below link. Thanks.

[2018-07-02 09:36] chroche commented on #22647
Hi,

sorry cant't help, I don't have any Ansible environment to test in at the moment, I'm stuck with Puppet :-/

[2018-07-02 09:38] craigfrancis commented on #38219
Thanks @samdoran, looks like this change has been included in Ansible 2.6.0, and fixes my issue.

[2018-07-02 09:46] basos9 opened #42180 "Role handlers deleted when using import_role and play handlers defined"
##### SUMMARY

When using import_role on a play that has a handlers section as well, the role's handlers seem to be deleted (NOTE: every handler, not handlers of the same name under the play's handlers section)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
ENABLE_TASK_DEBUGGER(/etc/ansible/

[2018-07-02 09:54] jguirlinger opened #42181 "ios_config idempotency problem"
##### SUMMARY
Simple playbook using ios_config and lines parameter not idempotent

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ansible-config dump --only-changed
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = ['/srv/home/guirlinger_j/Devel/myproject/ansible/inventory']
PARAMIKO_HOST_KEY_AUTO_ADD(/etc/ansible/ansible.cfg) = Tr

[2018-07-02 10:00] Akasurde commented on #22647
I will mark this as resolved then. Please feel free to re-open if problem persists. Thanks.

[2018-07-02 10:00] #22647 closed, assigned to nobody

[2018-07-02 10:19] bmamouri opened #42182 "Please Remove!"

[2018-07-02 10:30] #42182 closed, assigned to nobody

[2018-07-02 10:34] Wenzel opened #42185 "win_reboot hangs on get system uptime"
##### SUMMARY

The `win_reboot` module is hanging when the connection is working on top of an SSH forwarded port.
The module is stuck on getting the system uptime:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/win_reboot.py#L36

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_reboot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRON

[2018-07-02 10:48] aleskiontherun opened #42186 "Populating variables by a custom plugin"
##### SUMMARY

We have a custom plugin similar to `include_vars` that loads configuration for a set of services into the global scope. Since Ansible 2.5 variable references used in the resulted variables are not replaced with their values except one case when using the result with `ansible_facts.` prefix for the first time.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSI

[2018-07-02 10:48] Sher-Chowdhury commented on #37984
+1

[2018-07-02 11:00] jborean93 commented on #24884
@renatoram there's not much we can really do without understanding what is the actual cause of the issue. Right now I have never come across this issue and without a solid reproducer it is quite hard for us to find the root cause. If you ever find out what is wrong then please let us know.

[2018-07-02 11:24] tandrieu commented on #41651
Thx @trishnaguha ! can we cherry pick this in 2.5.5 ?

[2018-07-02 11:31] erickeller opened #42189 "openstack_cloud_from_module AttributeError: 'module' object has no attribute 'version'"
##### SUMMARY

[code]

results in

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]
[code]
##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

Instance gets deleted/created without any python stacktrace

##### ACTUAL RESULTS

[code]

[2018-07-02 11:53] trishnaguha commented on #41651
@tandrieu this will be cherry-picked to the next upcoming 2.5.6 release when this is merged.
You will need to upgrade your Ansible version to 2.5.6 then

[2018-07-02 11:55] Spredzy commented on #40809
@maxamillion @bcoca Thank you guys !

[2018-07-02 12:09] dnmvisser opened #42190 "touch a file in dry-run gives an error in ansible-2.6.0"
##### SUMMARY

Trying to use the `file` module's `touch` state in dry-run mode gives **`UnboundLocalError: local variable 'diff' referenced before assignment`** in 2.6.0.
In 2.5.5 this worked OK.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ALLOW_WORLD_READABLE_TMPFILES(/Users/username/ansible/ansible.cfg) = True
ANSIBLE_PIPELINING(

[2018-07-02 12:19] rdtechie commented on #42104
I can confirm this bug. I have the same behavior here.

[2018-07-02 12:25] webstylesInt opened #42191 "VMware: vmware_guest: Playbook hangs on multiple vm creation"
##### SUMMARY
Although the state of the vm is set to "poweroff" the vm stil starts up and the creation of the vms stops after the first vm.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest
/usr/lib/python2.7/site-packages/ansible/modules/cloud/vmware/vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ansible on Fedora 28 to Vmware vCenter

[2018-07-02 12:28] #42190 closed, assigned to nobody

[2018-07-02 12:48] basos9 opened #42192 "Allow variable module arguments"
##### SUMMARY

Do not deprecate the feature to allow module arguments to come from variables. My proposal is to keep the warning, or even disable the feature, but at least keep it as a configuration option (e.g. ANSIBLE_ALLOW_MODULE_TEMPLATES)

Apart from the possible security issue regarding compromised facts, it is up the the playbook developer to use the correct arguments. That said, this featu

[2018-07-02 12:50] webstylesInt commented on #42191
!component /usr/lib/python2.7/site-packages/ansible/modules/cloud/vmware/vmware_guest.py

[2018-07-02 12:51] alkis-tsi opened #42193 "K8S_AUTH_API_KEY as variable on the command is not working and authentication fails"
##### SUMMARY
The K8S_AUTH_API_KEY, that at the moment is not working as expected, that means that authentication fails as Ansible can _read_ that key as variable. It only works if we put the value as a variable within the Ansible playbook that we are running.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
clustering/k8s/k8s.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS /

[2018-07-02 12:59] frangdlt commented on #42000
Hi,

Apologies for not merging the PR earlier, I realized that is in fact wrong. The ovirt Agent struct doesn't have a `slot` field but it's rather implemented using an additional option with the format `slot=SLOTNAME` . Therefore the playbook can easily work if modified to specify `slot` as a part of the options section.

[code]

I'll MR a new fix with updated documentation instead if that's OK w

[2018-07-02 13:14] zasca opened #42194 "New option for concatenating list values for same dictionary variables"
##### SUMMARY

In my case I found that setting `hash_behaviour=merge` in ansible.cfg very conveniently. This works great, and allows you to minimize duplicate prefixes in variable names.

But there is one case when this not working. When there are list values in vars, and they are replacing, instead of concatenate. And it brings a lot of headache. Also looks like I'm not alone in this: [1](https:/

[2018-07-02 13:22] sayantandas opened #42195 "RHEL 6 with python v2.6.6 fails to rename a vm via vmware_guest module"
##### SUMMARY

RHEL 6 with python v2.6.6 fails  to rename a vm via vmware_guest module
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

**Ansible server:** Ubuntu 16.04.3 LTS

**Target VM:** RHEL 6.7

##### STEPS TO REPRODUCE

Run the playbook on a VM/Template running RHEL 6.7 with python 2.6

[co

[2018-07-02 13:30] sayantandas commented on #42195
[code]

[2018-07-02 13:32] sayantandas commented on #42195
i am unable to set  `scl enable python27 bash` and install pyvmomi via pip as the bash is an interactive module when enabled via scl.
I am not able to get around it when running it via ansible

[2018-07-02 13:39] jtyr commented on #42192
Unfortunately the feature is on the verge of removal (#41804). I was fighting for it to remain (#41295) but unfortunately it must be removed because of the security implications it has. I don't think that even make it optional is an acceptable solution.

[2018-07-02 13:44] gsoyka commented on #42074
I can define the `ansible_user` as `centos` or ec2-user`, depending on the ami.  When I run a test case using the command module to run `whoami` on the remote host, I see the `centos` or `ec2-user`, regardless of whether `become: yes` is specified on the task, playbook, or cli command.

[2018-07-02 13:48] michaelhajjar commented on #42047
The iso is mounted when I am not cloning from a template, but when cloning from a template, the iso is not mounted. Is it possible to mount the iso when cloning from a template ?

[2018-07-02 13:50] photoninger opened #42197 "module timezone option hwclock broken on SLES-11 and RHEL-6"
##### SUMMARY
Trying to set the option hwclock on RHEL-6 results in an error.
On SLES-11 it uses the wrong option in /etc/sysconfig/clock.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
timezone

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/Users/xyz/.ansible.cfg) = True
ANSIBLE_PIPELINING(/Users/xyz/.ansible.cfg) = False
ANSIBLE_SSH_CONTROL_PATH(/Users/xyz/.ansible.c

[2018-07-02 13:52] Akasurde commented on #42195
@sayantandas Could you please try this - https://github.com/ansible/ansible/compare/devel...Akasurde:ssl_vmware

[2018-07-02 13:54] arxcruz opened #42198 "Ansible copy module are not being able to copy/find files from one directory to another with python 3.5"
##### SUMMARY
I'm trying to copy some files from one directory to another directory, in the same host, however, even though the file exists, I'm getting an error from ansible saying file not found

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Copy module

##### ANSIBLE VERSION
It's an automated test, but the ansible version is 2.5.5

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS

####

[2018-07-02 13:59] kbreit commented on #42175
Meraki looks to have created a second page for API documentation. I've been using https://dashboard.meraki.com/api_docs for the development. Last night I found https://documenter.getpostman.com/view/897512/meraki-dashboard-api/2To9xm#_=_ which isn't 100% consistent with the document I have been using. The new page does have a "What's New" page but it isn't a complete change log. I'll probably refe

[2018-07-02 14:02] #41651 closed, assigned to trishnaguha

[2018-07-02 14:11] samdoran commented on #38219
@craigfrancis Thanks for the follow up confirmation. Glad this fixed your issue.

[2018-07-02 14:16] Akasurde commented on #42191
@webstyleInt Could you please isolate the problem by providing only one provisioning at time and providing logs of `-vvvv` ? needs_info

[2018-07-02 14:16] Akasurde commented on #42191
@webstyleInt Could you please isolate the problem by providing only one provisioning at time and providing logs of `-vvvv` ? needs_info

[2018-07-02 14:24] D3DeFi commented on #41957
Hi, thank you for your report. My possibilities for testing this are a bit limited, but I've managed to setup zabbix 3.4.11 server and test your snippet with ansible 2.5.2. However I was unable to reproduce the error you are receiving (used just default 'Template OS Linux').

Is this something you are able to reproduce with other templates as well? Aren't there any typos or additional spaces in th

[2018-07-02 14:27] #41988 closed, assigned to nobody

[2018-07-02 14:31] bcoca commented on #6463
Or this way:
[code]

[2018-07-02 14:34] reedium opened #42200 "Cannot set command timeout per task with network_cli"
##### SUMMARY
When attempting to run a command that may take more then 10 seconds, a comamnd timeout error is returned.

The [Network Debug Troubleshooting documentation](https://docs.ansible.com/ansible/2.5/network/user_guide/network_debug_troubleshooting.html) notes the following:

[code]

This appears to be referring to the old provider method and not to the network_cli connection method. The [

[2018-07-02 14:59] jsalts commented on #15040
Ansible failures are hard to read because of lack of json formatting. Please re-open this.

[2018-07-02 15:10] fabianvf commented on #42193
could you paste site-namespace.yml ?

[2018-07-02 15:24] jwoogee commented on #37262
I tested netconf with a bastion as late as version 2.5.4 and it didn't work.  using network_cli instead of netconf does work every time.  What I've found in documentation says this should work starting with 2.5 but I haven't found that to be the case.

[2018-07-02 15:59] mihai-satmarean commented on #21890
That is very bad, majority of our design for Ansible relied on that functionality, we had developed some concept of service with Ansible that includes roles and uses their variable files and defaults for merging in the running context, that now we learn that is not as intended.
We recently switched to Ansible 2.5 and we also find that the documentation is wrong for import_role and include_role. We

[2018-07-02 16:03] IRobL commented on #26995
Also, as a quick workaround, you can simply set the desired `state: present` argument instead of the much slower `state: latest` arg.  This will avoid needlessly checking the web for updated package information upon each package being installed.

[2018-07-02 16:04] alkis-tsi commented on #42193
A very basic one:

- name: Create a k8s namespace
  k8s:
    name: namespace
    api_version: v1
    kind: Namespace
    state: present

[2018-07-02 16:15] samdoran commented on #36382
This is not a bug. The playbook is exiting because the reboot task is failing. The reboot task is failing because Ansible is expecting the connection to be maintained while that task is executing.

What you want is a ['fire and forget'](https://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html) task, which tells Ansible it is ok for the connection to be severed.

[code]

[2018-07-02 16:15] #36382 closed, assigned to nobody

[2018-07-02 17:41] bcoca commented on #42173
I would not change permission errors to 'FAILED' as that is reserved for the module to indicate if it could not do the work for some reason, 'UNREACHABLE' might not be best fit, but it is what we use to indicate 'we could not even get to execute the module'.

[2018-07-02 17:57] vasartori commented on #42125
Hi @evrardjp now I got it... the name etcd misleads. I guessed this module is about old etcd servers or version....

A thing we need consider: Etcd 3 does not support http (he support grpc and a api v2 emulation) the "etcd" module only support http.... see(https://coreos.com/blog/announcing-etcd-3.3), so what is created on api v3 (using the module etcd3) can't be recovery using etcd module (I coul

[2018-07-02 18:01] sayantandas commented on #38254
These are headless Linux servers with no antivirus running in them

[2018-07-02 18:40] samdoran commented on #39222
Are you doing any redirection of stdout or stderr?

[2018-07-02 18:46] nhenderson commented on #16706
@nitzmahone Will you please re-open this issue? The last writer does not win. The issue has been re-produced by myself and the four other people who have commented on this issue.

[2018-07-02 18:56] jsalts commented on #24215
+2

[2018-07-02 18:59] jborean93 commented on #24884
bot_skip

[2018-07-02 19:49] ryansb commented on #31704
I don't think that Ansible should be taking a stance on that. Rule descriptions and group descriptions have different purposes. Rule descriptions are generally used to describe the *reason* for the ingress/egress rule, where group descriptions tend to be more for the purpose of the group itself. Such as "Group for production webapp servers in the FooBar service".

In theory, there isn't a reason t

[2018-07-02 19:53] #39349 closed, assigned to nobody

[2018-07-02 20:13] infrascripting commented on #32791
@Akasurde I'll take some time to test it this week.

[2018-07-02 20:23] CafeLungo opened #42212 "Galaxy failing to download certain requirements despite being found on galaxy site"
##### SUMMARY
When running `ansible-galaxy install -r requirements.yml` from my main ansible project (been using without problem for several years), suddenly we are unable to download certain requirements. Upon searching on the galaxy site, though, the requirements are indeed present.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2018-07-02 20:40] guilhermesteinmuller commented on #21890
Is there any workaround for those who want to use include_role exposing the role's variables?

[2018-07-02 20:58] HD650 commented on #35942
Thanks for this report.
It's hard for ansible to know whether a string is a template or just a literal value.
You can use syntax like http://jinja.pocoo.org/docs/2.10/templates/#escaping to have jinja2 not parse a string as a template.

[2018-07-02 21:04] kiorky commented on #21890
yes, @guilhermesteinmuller , using my PR.

[2018-07-02 21:11] ivandeex commented on #21890
@guilhermesteinmuller a couple workarounds mentioned up this thread:
- set_fact in the inner role: https://github.com/ansible/ansible/issues/21890#issuecomment-298425325
- include_vars in the calling role: https://github.com/ansible/ansible/issues/21890#issuecomment-298672579

[2018-07-02 21:15] kiorky commented on #21890
Well; this does not behave exactly as including a role ...

[2018-07-02 21:30] kiorky commented on #21890
No it is not, it is a bugfix only PR (was working and well documented in 2.3, partially broken in 2.4, totally since 2.5).
@sivel hides behind false assumptions

[2018-07-02 21:47] ivandeex commented on #21890
@kiorky Btw 2.6 is already out. Do you expect your PR (re-)fixed in 2.7 or 2.8?

[2018-07-02 21:54] mkprizzle opened #42215 "[2.7.0] azure_rm_loadbalancer can create/delete but not update LB"
##### SUMMARY

Ansible can create an Azure Load Balancer or delete one entirely, but if rules probes, or other subitems are modified, Ansible returns [OK] simply by checking whether the LB exists already with no respect to modified rules.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_loadbalancer

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/Users/pt366ub

[2018-07-02 22:03] fourjay opened #42216 "mysql_user module depends on python library no longer distributed in Opensuse Leap 15"
##### SUMMARY

Opensuse Leap 15 (latest release) dropped support MySQL python. This breaks the mysql module. Request broader support for various MySQL python libraries

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

mysql_user
mysql_db

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/fortier/src/ansible/ansible.cfg) = True
CACHE_PLUGIN(/home/fortier/src/ansible/

[2018-07-02 22:07] pnedkov commented on #42066
It works! I applied the fix manually to 2.5.5 and all my queries passed. Arch pushed Ansible 2.6.0 to the repository, so naturally I upgraded and with the new version everything works out of the box. Thank you!

[2018-07-02 22:07] bcoca commented on #21890
@kiorky as the one that actually wrote the original and added the `private` option for documentation, I can confirm @sivel is correct, the feature was never implemented.

[2018-07-02 22:18] samdoran commented on #41717
@dustinblack Please test #42217 to see if this fixes your issue.

[2018-07-02 22:20] samdoran commented on #39222
@dagwieers Please test #42217 to see if this fixes your issue. I'm not sure it does, but would like to verify.

[2018-07-02 22:48] kiorky commented on #21890
But still documented and understood as-is by all the community, see all bugs sitting around and there on this repo or on the internet.

[2018-07-02 23:06] mil1i opened #42220 "Ansible-Playbook hangs on single host"
##### SUMMARY
I have a single host that I am unable to run playbooks against. It hangs on gathering facts. I've searched through former posts on possible resolutions, but nothing was helpful so far.

I can run an ad_hoc command against this (ansible host -m ping -k) host with no issues. I can ssh into the host myself and run commands with sudo without issue.

##### ISSUE TYPE
 - Bug Report

#####

[2018-07-02 23:32] Im0 opened #42221 "VMware: Proxy support for vmware connection"
##### SUMMARY
In an environment which requires HTTP/HTTPS proxy access through to a vcenter.  Would like `vmware_resource_pool_facts` to support proxies.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

vmware_resource_pool_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration.

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Set environment variables:
[code]

[2018-07-02 23:34] Im0 commented on #42221
It looks like pyVomi `connect.py` has a `SmartStubAdapter` function, which, appears to support using a proxy.  Could this be useful?

[2018-07-03 01:57] kbreit opened #42225 "Meraki integration tests should clean up on failure"
##### SUMMARY
Meraki integration tests currently fail ungracefully leaving all their remnants around. Each module's integration test should use blocks so a `rescue` section can clean up during failure.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
meraki_network
meraki_admin
meraki_vlan

##### ANSIBLE VERSION
[code]

[2018-07-03 02:20] #41944 closed, assigned to nobody

[2018-07-03 02:24] #41282 closed, assigned to kbreit

[2018-07-03 02:29] #41696 closed, assigned to nobody

[2018-07-03 03:10] monchitos82 commented on #42074
I tried reproducing the scenario you describe:

1. Created two centos containers, one of those runs sshd and ansible, python and ssh_clients: **server1** and **server2**
2. On **server1** I installed `sudo` and created the user `centos`. Added the `centos` user to a group `dev` in my `/etc/sudoers` dir: `%dev    ALL=(ALL)       NOPASSWD: ALL`
3. I created keys using the `root` user on **server2**

[2018-07-03 03:17] kkeane commented on #29625
I believe the root cause, or something very close to it, is actually documented here: https://docs.ansible.com/ansible/latest/modules/mysql_user_module.html . "If column privileges are used, the priv1,priv2 part must be exactly as returned by a SHOW GRANT statement. If not followed, the module will always report changes." Unfortunately, this requirement is sometimes difficult or impossible to meet

[2018-07-03 03:31] Fred-sun commented on #42104
Yes, I have the same behavior here.

[2018-07-03 03:44] mweisel commented on #41587
The **min_cpu_platform** parameter is now available in the new [gcp_compute_instance](https://docs.ansible.com/ansible/latest/modules/gcp_compute_instance_module.html#gcp-compute-instance-module) module.

[2018-07-03 04:33] robcwaldron commented on #42185
I'm been getting the same issue since upgrading to 2.6.0. Gonna need to rollback until this is resolved.

[2018-07-03 05:03] jenningsloy318 commented on #41227
@Akasurde
Sorry for delay.

I just tried  ansible, replace the build-in vmware_guest module with following one https://github.com/Akasurde/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py

but the problem still exists, two disks are created on same datastore.

my vSphere version is 6.7 , mount  netapp nas as datastore

[2018-07-03 05:04] jborean93 commented on #42185
My guess is that the resetting of the connection is not occurring (or failing) especially since the shell ID is still the same when you cancel the execution. I think I know what potentially is causing the issue but it would be good if you can run the process with debug mode on and put the debug logs in a gist somewhere. To run Ansible in debug mode set the follow as an environment value before the

[2018-07-03 05:12] jenningsloy318 commented on #41227
@Akasurde

After tried with your modified vmware_guest.py, it is working now.

Just curious when this pull request can be merged ?

[2018-07-03 05:33] jmartensson opened #42229 "vmware_guest doesn't properly format search in /etc/resolv.conf file"
##### SUMMARY

dns_suffix as a list does not work in module vmware_guest

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_JINJA2_EXTENSIONS(/etc/ansible/ansible.cfg) = jinja2.ext.loopcontrols,jinja2.ext.do
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log

##### OS / ENVIRONMENT

RHEL 7.4/7.5

##### STE

[2018-07-03 06:34] dnaresh65 commented on #4354
after run playbook error:"Get-AnsibleParam: Missing required argument: name"}

how can you resolve issues...........

[2018-07-03 06:42] resmo commented on #42066
hi all, thanks for sharing, seems I missed to backport the patch to 2.5, creating a backport now

[2018-07-03 06:46] htallur commented on #40864
request can be closed, i am able to resolve the issue.
Thanks all

[2018-07-03 07:00] Fred-sun commented on #41960
Hi @wpou Sorry to reply you later, I have try your yml, cannot reproduced this issue, Please help provide a large dummy ruleset to try, Thanks a lot!

[2018-07-03 07:03] yanivrefael opened #42230 "Failed to create security group in aws"
##### SUMMARY
Failed to create security group via ec2_group module

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
2.6.0

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ControlMaster=no -o ControlPersist=4h -o ForwardAgent=yes -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
DEFAULT_ACTION_PLUGIN

[2018-07-03 07:06] resmo commented on #42066
resolved_by_pr #42231

[2018-07-03 07:07] jurgeng74 commented on #41957
Hi Dusan,

Thanks for looking after. I have checked, it happens with all templates I'm trying to link.
I have checked for typos but all seems OK. I did an additional test:

[code]
![selectie_010](https://user-images.githubusercontent.com/1809856/42203935-8f7b913c-7ea0-11e8-895a-2b7303e033d6.png)

[2018-07-03 07:14] Fred-sun commented on #40864
how to solve this issue, could you help share your method, Thanks a lot!

[2018-07-03 07:33] mgoldboi opened #42233 "please add vnic profile configuration to oVirt modules."
##### SUMMARY
please add vnic profile configuration to oVirt modules. since it doesn't exists today

##### ISSUE TYPE
 - adding this will allow to add specific network configuration to vnics and handle different vm provision flows more elegantly

##### COMPONENT NAME
ovirt_vnic_profile

##### ANSIBLE VERSION
[code]

[2018-07-03 07:35] PisikeSipelgas commented on #26227
What's the status of this one? This issue still persists in ansible 2.5.5.

[2018-07-03 07:41] gdpak commented on #42126
@gundalow It is platform independant module and can work with any platform supporting scp/sftp. It does not handle any OS specific pre-requisite like enabling scp/ssh on IOS, setting right privilege for user for scp to work etc. These platform dependant task would be handled in a separate role with provider implementations

[2018-07-03 07:45] gdpak commented on #42126
@FragmentedPacket Thanks for suggesting some good ideas . These modules are not idempotent as of now. This enhancement would be made on next release.
Free Bytes check is also a good idea but implementation is network OS specific so we should not hardcode that implementation in this module rather we would handle that in pluggable implementation in a role.

[2018-07-03 07:50] webstylesInt commented on #42191
running a single play with debug:

ansible-playbook 2.5.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python version = 2.7.15 (default, May 16 2018, 17:50:09) [GCC 8.

[2018-07-03 08:09] es1o opened #42236 "Ansible doesn't pass ignore_errors to include_role"
##### SUMMARY
Ansible doesn't pass ignore_errors to include_role. I used it before and it worked, but for 2.6.0 it doesn't.
I have a role that I use from two playbooks. One playbook must ignore errors for all tasks in role but I can't do that with ansible.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I use default configuratio

[2018-07-03 08:16] Akasurde commented on #42229
@jOOc Thanks for reporting this issue. Could you please provide -

1. Version of ESXi
2. Version of open-vm-tools
3. OS in template

needs_info

[2018-07-03 08:38] D3DeFi commented on #41957
Hi, so I've tried to better match your environment, but I am probably still missing something:

- installed CentOS 7 as ansible controller
- installed ansible 2.5.5 with python 2.7.5, pip 10.1 and zabbix-api 0.5.3
- still running zabbix-server 3.4.11 (on MySQL 5.7) from previous test
- created new empty host ansible-test01 (nothing linked, no items, no triggers):
![image](https://user-images.githu

[2018-07-03 08:42] #42225 closed, assigned to nobody

[2018-07-03 08:58] Akasurde commented on #42195
resolved_by_pr #42237

[2018-07-03 09:31] jOOc commented on #42229
@Akasurde

1. Version of ESXi
VMware ESXi, 6.5.0, 7388607

2. Version of open-vm-tools
open-vm-tools-10.1.5-3.el7.x86_64

3. OS in template
Red Hat Enterprise Linux Server release 7.4 (Maipo)

[2018-07-03 10:23] thnee opened #42238 "Random tracebacks in weakref (using ec2_metadata_facts, on python3.5)"
##### SUMMARY

Completely random tracebacks. Exact same playbook produces tracebacks sometimes, and sometimes not.

The only module that is used is `ec2_metadata_facts`, no idea if that is the cause or not.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Unsure, see traceback.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Stretch (based on ami-8

[2018-07-03 10:28] sayantandas commented on #42195
Somehow, ansible does not pickup this change, it keeps complaining about line number 482

[2018-07-03 10:29] ritubajaj170889 commented on #40782
I have updated my ansible version to 2.6.0 but issue remains same.
Unable to download non-unique artifact from JFrog Artifactory.

[jenkins@AuFin ansible]$ ansible --version
ansible 2.6.0
config file = /etc/ansible/ansible.cfg
configured module search path = [u'/home/jenkins/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /usr/lib/python2.7/site-p

[2018-07-03 10:43] Wenzel commented on #42185
@jborean93 here is your log, if that helps: https://gist.github.com/Wenzel/33a5c1249eafd96b01eaa79887e232a4

You know that I provided a Github repository for you to reproduce the issue right ?
https://github.com/Wenzel/bug_ansible_win_reboot

Thanks for looking into it !

[2018-07-03 10:55] fedealaimo commented on #21890
While include_role (or import_role) cannot expose the included role's default and role variables, it cannot match the "role:" statement, then it is not replacing it with backward compatibility.
The doc says that "This frees roles from the roles: directive and allows them to be treated more as tasks" but should also explain the cost to pay. For the project I'm working on this is disruptive.
Also do

[2018-07-03 11:05] alex-left commented on #42118
[code]
the inventory is correct and works with 2.5.5:
[code]

[code]

If I put the filename in -i flag, works fine:
[code]
But if I only put the path, don't work:
[code]

[2018-07-03 11:27] pritho opened #42241 "openshift_raw not handling idempotency correctly for ResourceQuota"
##### SUMMARY

Module openshift_raw does not handle idempotency correctly for OpensHift Kind  ResourceQuota
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openshift_raw
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.5
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

on a second run of the task, status should be ok, rather than changed
##### ACT

[2018-07-03 11:34] jmagudo opened #42242 "ios_vlan fails to correctly identify vlans starting with number 9"
##### SUMMARY
The Fix "ios_vlan to correctly identify unmodified config when having long interface names" #40145 introduces one minor bug. The parser in parse_to_logical_rows(out) ignores vlans starting with number 9.

The line 221:
if '0' < l[0] < '9':
Perhaps should read:
if '0' < l[0] <= '9':

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_vlan

##### ANSIBLE VERSION

[code]

##### CO

[2018-07-03 11:51] goldmann commented on #24709
I'm seeing the same issue with Ansible 2.5.

[2018-07-03 11:51] frestr opened #42243 "k8s module ignores namespace parameter when creating template"
##### SUMMARY

The namespace parameter in the k8s module is ignored when trying to create a template in OpenShift.

This is mostly an issue when the resource definition is in a separate file, as the namespace has to be manually changed in the template config for each deployment.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_

[2018-07-03 12:01] BOPOHA commented on #42179
I had the same problem.

[code]

[2018-07-03 12:04] Akasurde commented on #42195
Could you please elaborate more about line 482 ?

[2018-07-03 12:07] dikeert commented on #18075
Folks, I'm having hard time to understand what's the problem?

I want to perform *initial* configuration on hosts that I dynamically add to a cluster. After this config applied, `initial_user` and `initial_password` are no longer valid, so ansible would fail with "unreachable"

This how you overcome that:

[code]

See [this blogpost](https://linuxsimba.com/handling-unreachable-hosts)

[2018-07-03 12:08] jurgeng74 commented on #41957
Hi,
I have compared your versions with mine:

- All servers are CentOS 7. Zabbix server is 3.4.8-1 (from zabbix repository)

Output from ansible verbose run:
[code]
I have hidden the server_url from the output above.

[2018-07-03 12:15] dagwieers commented on #42154
Please test the change from #42244 and see if it works for you.

[2018-07-03 12:29] dagwieers commented on #40384
This has been released now as Ansible v2.6.0, the attempt to get it backported failed.

[2018-07-03 12:29] #40384 closed, assigned to nobody

[2018-07-03 12:39] D3DeFi commented on #41957
I will try to setup zabbix-server with exact version 3.4.8-1 on CentOS 7 later, when I have the time. So far I was running 3.4.11-1 on Ubuntu 16. Maybe it will show me something then :)

P.S. I am getting the same weird behavior with missing Visible name after template creation on 3.4.11-1

[2018-07-03 12:43] #24826 closed, assigned to nobody

[2018-07-03 12:47] webknjaz commented on #42242
@pierremahot and I introduced this bug :(

I would probably even do `if l[0].isdigit(): ` test now.

[2018-07-03 12:53] webknjaz commented on #42242
@HD650 could you please fix this. Patch is trivial but requires more regression tests.

[2018-07-03 13:07] HD650 commented on #42242
@webknjaz No problem.

[2018-07-03 13:30] ericzolf opened #42249 "All the JSON Query Filter examples are not working"
##### SUMMARY

All the JSON Query Filter examples at https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#json-query-filter are not working.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
json_query.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

Fedora 27 (but also under RHEL 7 with Ansible 2.4.4)

##### STEPS TO REPRODUCE

[2018-07-03 13:35] biohazd commented on #30701
Any update on this?

[2018-07-03 13:38] s-hertel commented on #42230
Hi @yanivrefael. You need to specify the ports as an integer. 'all' has never been a supported module port, as far as I am aware, so that would be a feature request rather than a bug.
Try something like:
[code]

[2018-07-03 13:38] #42230 closed, assigned to nobody

[2018-07-03 13:46] ericzolf commented on #42249
!component =lib/ansible/plugins/filter/json_query.py

[2018-07-03 14:12] ckotte commented on #42002
please implement this feature. I need it too..

[2018-07-03 14:14] #41514 closed, assigned to trishnaguha

[2018-07-03 14:14] #41828 closed, assigned to trishnaguha

[2018-07-03 14:15] samdoran commented on #39222
@dagwieers I have a rough idea what's happening based on the stack trace, but I'd like a reproducer if you have one.

This stack tracing occurred when `pause` was setting the original terminal configuration back on `stdin`. The I/O error makes we think that the file descriptor for `stdin` disappeared.

Issue #41717 was easily reproducible by redirecting `stdout` to a file, but that was a different

[2018-07-03 14:21] AndreyKravchina opened #42252 ""SSH Error: data could not be sent" if ssh-agent used"
##### SUMMARY
ansible -m ping test*** -vvv
Error:
"SSH Error: data could not be sent to remote host \"test***\". Make sure this host can be reached over ssh"

Am using: Ubuntu16, keepassxc as key-storage with ssh-agent.

Workaround from https://github.com/ansible/ansible/issues/13401 helps:
ANSIBLE_SCP_IF_SSH=y ansible -m ping test*** -vvv

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
!com

[2018-07-03 15:01] jabadia commented on #35645
me too, ansible 2.5

[2018-07-03 15:26] yodatak opened #42255 "hashi_vault lookup uses proxy by default"
##### SUMMARY

The hashi_vault module use the proxy by default how to disable it ?

An unhandled exception occurred while running the lookup plugin 'hashi_vault'. Error was a <class 'requests.exceptions.ReadTimeout'>, original message: HTTPConnectionPool(host='XXXXXX', port=3128): Read timed out. (read timeout=30)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

hashi_vault
##### ANSIBLE VER

[2018-07-03 15:41] zeten30 opened #42256 "IRC module not working properly with Python3 and SSL enabled"
##### SUMMARY
irc module fails
"unable to send to IRC: a bytes-like object is required, not 'str'

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module IRC
/usr/lib/python3.6/site-packages/ansible/modules/notification/irc.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Working module

#####

[2018-07-03 15:43] sweenig commented on #32989
I can get ios_command to respond to a single prompt, but some commands require multiple prompt-responses, depending on the circumstances. The reload example is a perfect one as there are several circumstances that would cause the device to prompt the user about multiple things beyond the default [confirm] prompt.
For example:
- If there are configuration changes that haven't been written to NVRAM,

[2018-07-03 15:44] sweenig commented on #39201
Yes please, would like to see documentation on how multiple prompts can be used.

[2018-07-03 15:56] insite-teamcity-build opened #42258 "docker_volume says it depends on docker-py, which breaks docker_container"
##### SUMMARY

docker_volume says it depends on docker-py, which breaks docker_container as of ansible version 2.6. For my use case it seems to run fine using the pip package docker==3.3.0, but I don't know if all operations work. Both the module documentation and error codes explicitly say to install docker-py

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

docker_volume

##### A

[2018-07-03 16:00] Darcidride commented on #35645
Same here
ansible 2.5.5

[2018-07-03 16:17] FedericoOlivieri commented on #13453
I see this problem in 2.4.5.0
`}
ok: [vendor=arista] => {
    "vendor": "VARIABLE IS NOT DEFINED!"
}
`

[2018-07-03 16:25] dmke opened #42260 "Creating docker_container with networks and ports fails: 'str' object has no attribute 'get'"
##### SUMMARY

I'm trying to setup a MongoDB container, which needs to be accessed from other containers and from the docker host itself. `docker_container` fails with "AttributeError: 'str' object has no attribute 'get'" in `ansible_module_docker_container.py:939`, in `default_host_ip`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### C

[2018-07-03 16:26] JoelFeiner commented on #35065
I can't for the life of me understand why tags can't be inherited downward with `include_tasks`. In my mind, the difference between static and dynamic includes is whether the filename is known at the start and whether there are conditions on the include. This shouldn't affect anything else. It didn't until now. I don't mind if the default behavior is not to include it, but I do mind if there's no

[2018-07-03 16:34] ryansb commented on #42255
Unfortunately without a reproducer it's not possible to troubleshoot this info. Please fill out the template the rest of the way with steps to reproduce, and expected results.

needs_info

[2018-07-03 16:43] BenCoffeed commented on #28050
I came back to this today and ran into the issue again. I was able to use the above command to determine which Python Ansible was invoking and then was able to pip install hvac into the correct environment.
`ansible -m debug -a 'var=ansible_playbook_python' localhost`
[code]
`source /usr/local/Celler/ansible/2.6.0/libexec/bin/activate`
`pip install hvac`

[2018-07-03 16:44] dagwieers opened #42261 "file: Module bails out when file unexpectedly disappears"
##### SUMMARY
Ansible file module bails out when file to be removed unexpectedly disappears while running.

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION
v2.7 and older

[2018-07-03 16:48] ryansb commented on #42160
Can you please try `  set_fact: cvf_rule_id={{ cmdOutput.stdout | json_query('[0]."Rule ID"') }}`?

[2018-07-03 16:51] ryansb commented on #42152
This may be an issue of using the wrong Python virtualenv. In `connection: local` Ansible should use the same virtualenv the `ansible-playbook` command is executed in. Please check that that environment has boto3 correctly installed. To check, you can do the tasks:

[code]

[2018-07-03 16:53] ryansb commented on #42137
Closing in favor of https://github.com/ansible/ansible/issues/42162

[2018-07-03 16:53] #42137 closed, assigned to nobody

[2018-07-03 16:59] jifox commented on #19833
Hi,
I've tested with a Catalyst 9300 and run into following error when executing

[code]

[code]

Without the line  **_- "spanning-tree protfast"_** the playbook will succeed.

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_OD3TOh/ansible_module_ios_config.py", line 583, in <module>
    main()
  File "/tmp/ansible_OD3TOh/ansible_module_ios_config.py", line 512, in m

[2018-07-03 17:00] jifox commented on #19833
Ansible 2.5

[2018-07-03 17:02] samdoran commented on #32142
I am able to duplicate this.

I believe this is due to the kernel sending`SIGTTOU` and `SIGTTUI` signals being sent to the process because they are attempting to write to the terminal while in the background (write includes updating TTY settings, which the `pause` module does). This causes the process to suspend, which is why it stops and does not run to completion.

I need to dig into to this mor

[2018-07-03 17:05] jifox commented on #19833
Output on switch after manually adding spanning-tree portfast

`#show running-config interface GigabitEthernet1/0/5
`

[code]

[2018-07-03 17:19] ryansb commented on #42113
This is not an issue related to `special_user` and `blockinfile`, but instead is due to the use of `run_once` which runs the action *only* on a single node. If that node has `remote_user` set differently from the default, then that different setting will be used in the file. Please try the templating without run_once and reopen if you have a reproducer.

[2018-07-03 17:19] #42113 closed, assigned to nobody

[2018-07-03 17:21] gsoyka commented on #42074
The only difference is that my target was an ec2 instance rather than another container, but I don't know why that would make a difference.  Was sudo installed on both containers, or only the target?

[2018-07-03 17:21] forensicsguy817 opened #42262 "vmware_guest: can't create VM on single ESXi with the Free License, vsphere_guest creates successfully"
##### SUMMARY
When creating a VM against a single free license ESXi 6.5 hypervisor using **_vmware_guest_**, a licensing error is generated. When creating a VM against a single free license ESXi 6.5 hypervisor using **_vsphere_guest_**, a licensing error is not generated and the VM is created. This is using ha-datcenter for the datcenter parameter.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT

[2018-07-03 17:23] saichint opened #42263 "enabling nxapi does not work"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)F3(4)
##### STEPS TO REPRODUCE

While enabling feature nxapi through prepare_nxos_tests, all tests are failing due to KeyError: 'nxos_os_platform".
This is happening due to the recent PR:

[2018-07-03 17:25] colin-mccarthy opened #42264 "show processes cpu history hangs with nxos_command"
##### SUMMARY

If I run this command `show processes cpu history` with the nxos_command module it hangs.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/private/etc/network_roles/ansible.cfg) = [u'/private/etc/network_roles/inventory']
HOST_KEY_CHECKING(/private/etc/network_roles/ansible.cfg) = False
RETRY_

[2018-07-03 17:28] monchitos82 commented on #42074
Nope, target only. I'd consider doing a checkup on the sudoers, groups, keys and ssh config on your ec2 instance. If this test scenario is reproducing yours, I'm hesitant on thinking there's something wrong with the `become` directive.

[2018-07-03 17:42] ryansb commented on #42238
Can you check to see if there is enough free memory on this host?

Also, what steps did you follow to create the virtualenv?

needs_info

[2018-07-03 17:47] ryansb commented on #42161
!component networking

[2018-07-03 17:47] ryansb commented on #42178
cc/ @acozine

[2018-07-03 17:49] ryansb commented on #42216
I think this would be an OS issue, since PyMySQL is still widely available and can still be installed on OpenSUSE hosts, just not from the Leap 15 supported versions.

[2018-07-03 17:49] #42216 closed, assigned to nobody

[2018-07-03 17:52] ryansb commented on #42220
Is the `python` you run `python -m trace` with the same `/usr/bin/python` that Ansible is running the module with?

needs_info

[2018-07-03 17:53] WRJFontenot opened #42266 "bigip_pool_member module throws "HTTP Error 401: basic auth failed" when using root account"
##### SUMMARY
If {{ ansible_user }} is set to "root", bigip_pool_member module returns "HTTP Error 401: basic auth failed".  If {{ ansible_user }} is set to a local account with admin rights, bigip_pool_member works as expected.  This problem only occurs with the bigip_pool_member module.  All other modules work with root as expected.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bigip_p

[2018-07-03 17:53] ryansb commented on #42260
It appears networks are supposed to be a list of objects, such as:

[code]

[2018-07-03 18:09] caphrim007 commented on #42266
@WRJFontenot this should no longer be a problem in 2.6. The module you make reference to is a SOAP module, and I doubt would have ever worked because the `root` account is not a valid web UI account.

It's unlikely that it would work on the other modules either though, so I'm not sure how you made that happen.

Can you try 2.6 in a development environment to see if the problem remains? pool member

[2018-07-03 18:15] dathelen opened #42269 "eos_l2_interface fails when using eapi transport"
##### SUMMARY
when using the eos_l2_interface with transport eapi the play fails with
`"msg": "CLI command 2 of 2 'sh int Ethernet35 switchport | include Switchport' failed: invalid command"`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

eos_l2_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2018-07-03 18:35] zevarito opened #42273 "Not able to complete docker_container task"

[2018-07-03 18:37] gundalow commented on #37262
Proposed fix in https://github.com/ansible/ansible/pull/42271

[2018-07-03 18:37] gundalow commented on #36284
Proposed fix in https://github.com/ansible/ansible/pull/42271

[2018-07-03 18:38] #42273 closed, assigned to nobody

[2018-07-03 18:39] zevarito opened #42274 "Not able to complete docker_container task anymore"
##### SUMMARY

`docker_container` task doesn't create/update container. It was working fine until upgrade osx to high sierra.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

`OSX High Sierra`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect the task to be completed fine, it was worki

[2018-07-03 18:54] rrey commented on #39295
Hi @shanep2300,

Can you specify the Grafana version you are using ?
I checked the error message and the code, the problem comes from this snippet in `module_utils/basic.py` :

[code]

I didn't reproduce the issue, but based on the code, I wonder if the `message` parameter from the grafana_dashboard module is not conflicting with another `MESSAGE` variable when being updated to uppercase during th

[2018-07-03 18:56] ganeshrn commented on #37262
@jwoogee Please enable `ANSIBLE_NETCONF_SSH_CONFIG` enviornment variable
[code]

And add the bastion/jump host ssh settings in ~/.ssh/config file. Please refer the troubleshooting doc update in referenced PR #42271

[2018-07-03 18:56] ganeshrn commented on #36284
Please enable `ANSIBLE_NETCONF_SSH_CONFIG` enviornment variable
[code]

And add the bastion/jump host ssh settings in ~/.ssh/config file. Please refer the troubleshooting doc update in referenced PR #42271

[2018-07-03 19:01] bcoca commented on #41970
so im thinking new bsdinit module that takes 'list of rc confs' as an option, that would allow you to set it but the default would be as it is now for freebsd .. unless we have good way of detecting pfsense

[2018-07-03 19:21] jwoogee commented on #36284
Is this a stop gap or a representation of the final solution?  It isn't a
scalable solution to have to add hosts to users ssh config file.
I also find that this method just doesn't work, although I may have a
misconfiguration that someone can point out.  I have a playbook that uses
netconf for some modules and network_cli for others for my junos commands.
This is necessary in order to have halfway

[2018-07-03 19:44] mil1i commented on #42220
@ryansb It was the same path `/usr/lib64/python2.7/`.

However, today I decided to reboot the host and try again. Ansible didn't have any issues with gathering facts after the restart. Little odd, but I'll take it lol.

[2018-07-03 19:50] #42220 closed, assigned to nobody

[2018-07-03 19:53] fabianvf commented on #42241
This should be fixed in the k8s module in Ansible 2.6 (k8s_raw and openshift_raw will both now execute the k8s module so existing code should still work fine), does this still occur for you in 2.6?

[2018-07-03 20:02] dmke commented on #42260
Indeed. The docs clearly state

Sorry, my bad. It was a long day :-)

[2018-07-03 20:02] #42260 closed, assigned to nobody

[2018-07-03 20:14] samdoran commented on #42041
Discussed during the [IRC meeting](https://meetbot.fedoraproject.org/ansible-meeting/2018-07-03/ansible_core_irc_public_meeting.2018-07-03-19.06.html) on 2018-07-03. It was decided not to backport a new module but instead advise upgrading to Ansible 2.6 or manually install the newer modules.

[2018-07-03 20:54] fabianvf commented on #38722
Is this still occuring with the k8s module in Ansible 2.6?

[2018-07-03 20:56] fabianvf commented on #36047
The kubernetes module is deprecated, in Ansible 2.6+ the `k8s` module is the preferred way to interact with Kubernetes resources.

[2018-07-03 20:56] fabianvf commented on #33340
The kubernetes module is deprecated, in Ansible 2.6+ the `k8s` module is the preferred way to interact with Kubernetes resources.

[2018-07-03 20:57] fabianvf commented on #31932
The kubernetes module is deprecated, in Ansible 2.6+ the `k8s` module is the preferred way to interact with Kubernetes resources. It should allow interaction with any resource kind present on the cluster.

[2018-07-03 20:57] fabianvf commented on #31602
The kubernetes module is deprecated, in Ansible 2.6+ the `k8s` module is the preferred way to interact with Kubernetes resources.

[2018-07-03 20:58] fabianvf commented on #31590
the oc module is deprecated, in Ansible 2.6+ the `k8s` module is the preferred way to interact with Kubernetes/OpenShift resources.

[2018-07-03 21:01] fabianvf commented on #28788
The kubernetes module is deprecated, in Ansible 2.6+ the `k8s` module is the preferred way to interact with Kubernetes resources. It supports a variety of authentication methods.

[2018-07-03 21:02] fabianvf commented on #25656
The kubernetes module is deprecated, in Ansible 2.6+ the `k8s` module is the preferred way to interact with Kubernetes resources. The `k8s` module allows interaction with any resource kind present on the server, so should handle HPAs without issue.

[2018-07-03 21:02] fabianvf commented on #25653
The kubernetes module is deprecated, in Ansible 2.6+ the `k8s` module is the preferred way to interact with Kubernetes resources. The `k8s` module allows interaction with any resource kind present on the server, so should handle Deployments without issue.

[2018-07-03 21:04] BarbzYHOOL commented on #15326
This issue is still there in 2.5

[2018-07-03 21:06] samdoran commented on #42032
@iamShantanu101 I am not able to duplicate this. It seems to be working as intended. You do not need to put the `lstrip_blocks` in the included template. My reproducer:

[code]

test.j2:
[code]

backend.cfg.j2:
[code]

Rendered output:
[code]

If I omit `#jinja2: lstrip_blocks: True` from `test.j2`, then the rendered output looks like this:
[code]

[2018-07-03 21:14] comtaler opened #42278 "Add ip-address-type support to elb_application_lb"
##### SUMMARY
According to this doc:
https://docs.ansible.com/ansible/2.5/modules/elb_application_lb_module.html

`elb_application_lb` does not support `ip-address-type`. I have to use the aws cli to set the value. Please add the support for this option.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
elb_application_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

empty

##### OS /

[2018-07-03 22:14] jdoss commented on #39390
This still seems to be the case with Ansible 2.6. Playbooks that normally finish in a few minutes take much longer now.

[2018-07-03 22:17] nwsparks commented on #29328
@fabianvf thanks! Didn't realize a new module existed for it.

[2018-07-03 22:50] BarbzYHOOL commented on #31268
It's the same thing with "ansible_user"

In the docs it says everything in command (ad hoc) should override other variables but that is not the case when directly set in host vars/group vars/inventory vars (maybe same result when set in ansible.cfg)