[2018-07-28 02:10] tedder opened #43382 "service: Unsupported parameters for (systemd) module"
##### SUMMARY

This really feels like #42791, but doesn't totally match up.

I'm playing with Ubuntu 18.x systems, so I'm being dragged into systemd even more than coreos. Anyhow, I have the following in a handler:

    - name: restart timesync
      service:
        name: systemd-timesyncd
        status: started
      become: yes

And I consistently get this error:

    fatal: [myhost]: FAILED!

[2018-07-28 04:20] andreaso commented on #43380
Yeah, the current behavior is a bit unintuitive.

If we are going to fix it code wise we will want to consider not breaking existing playbooks. We will also want to support the legitimate special case of TXT records where the value is intended to consist of multiple separate string.

No matter what, I fully agree that at a minimum the syntax should be documented. It could be as simple as adding an

[2018-07-28 05:29] Akasurde commented on #41583
@franz-kinetica I think `groups['Rabbit_nodes']` is list of hosts, you might want to use a single host from given hostgroup. I agree that traceback should be handled and hidden from user.

[2018-07-28 08:42] mowgli opened #43383 "service does always restart with sysv init"
##### SUMMARY
I use sysv init on linux. When I ensure started exim on debian, with ansible 2.6(.1) the service gets started every time event that `service exim4 status` shows that it is already running.

With ansible 2.5(.2) I don't see this misbehaviour.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_NOCOWS(/etc/ansible/ans

[2018-07-28 08:43] mowgli commented on #43383
Let me add, that the output of `service exim4 status` is:
[code]

And error status is 0.

[2018-07-28 10:30] felixfontein commented on #42162
Everyone: Ansible 2.6.2 was released today, which contains a fix for this issue.

[2018-07-28 10:30] felixfontein commented on #43297
Ansible 2.6.2 was released today, which contains a fix for this issue.

[2018-07-28 11:02] jtyr commented on #42706
@stephan2012 Any luck with the testing?

[2018-07-28 11:59] lemmy04 opened #43385 "zypper module should not discard zypper exit code 102"
##### SUMMARY
right now the zypper module seems to quietly discard a zypper exit code of 102, but it should actually pass it on so that the required reboot can be handled by the play (or the admin)
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zypper

##### ANSIBLE VERSION
ansible 2.6.0
  config file = /users/lemmy/.ansible.cfg
  configured module search path = [u'/users/lemmy/.ansible/plug

[2018-07-28 12:03] ScriptMyJob commented on #40510
@jborean93 yes that is what I said above.

I agree it does sound like that that does a bug with copy-item that has manifested itself in this module. I was able to get around this with some C# code:

https://gist.github.com/ScriptMyJob/b658746d4c5e8ce547796e0d5be002de

[2018-07-28 12:05] joren485 commented on #43334
bot_status

[2018-07-28 12:17] jborean93 commented on #40510
Thanks for the further info

[2018-07-28 13:09] ghost opened #43387 "provide a way to filter hosts by their name."
##### SUMMARY
vmware_inventory.py doesn't provide a way to filter hosts by their name.

##### ISSUE TYPE
 - Feature Idea

[2018-07-28 13:09] ment0s commented on #43387
.

[2018-07-28 13:37] abadger commented on #20852
this is not a feature we're going to implement.  I posted the rationale for that decision in the Pull Request: https://github.com/ansible/ansible/pull/43362#issuecomment-408608469

[2018-07-28 13:37] #20852 closed, assigned to nobody

[2018-07-28 13:41] andreaso commented on #43380
On a second thought, I think we might as well rectify this in code. The only backward compatibility behavior we will be breaking is being able to implicitly get single word `"foo" "bar" "baz"`, which feels like a rather unlikely usage.

@Nothing4You: Feel free to take a look at https://github.com/ansible/ansible/pull/43386

[2018-07-28 14:52] Nothing4You commented on #43380
I agree, although I don't know whether there's actually a difference for the client whether it's `"foobarbaz"` or `"foo" "bar" "baz"` that might make this this a valid use case.

[2018-07-28 14:55] #43387 closed, assigned to nobody

[2018-07-28 15:03] ghost opened #43389 "vmware_inventory.py is not grouping properly."
##### SUMMARY
groupby_patterns={{ guest.toolsstatus }}    - Doesn't create any groups.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib/inventory/vmware_inventory.ini

##### STEPS TO REPRODUCE
groupby_patterns={{ guest.toolsstatus }}  set in vmware_inventory.py or vmware_inventory.ini

##### EXPECTED RESULTS
Should return groups by \:
toolsstatus": "toolsNotInstalled"
and \
 "toolssta

[2018-07-28 15:31] ZuZuD commented on #43229
Can you check if this VPC already exist in this region (same name/cidr/region/tenancy) and also try from another region?

Enabling the debugging log should in the ec2_vpc_net.py module should also give a good insight on what happens:

[code]
That will trace the AWS API calls in /tmp/pydebug

[2018-07-28 16:20] ZuZuD opened #43390 "CpuOptions to set ThreadsPerCore and CoreCount at instance launch"
The purpose of this option is to decrease the amount of vCPU in order to respect a software license (per CPU) or to disable Intel HT for your workload.

You can now set the number of ThreadsPerCore (from 2 on supported instance-type[1] to 1) and the number of CoreCount at instance launch.

vCPU = ThreadsPerCore * CoreCount

The relevant documentation is available [here](https://docs.aws.amazon.com

[2018-07-28 18:08] tedder commented on #43382
Oops. I am embarrassed. Thanks.

[2018-07-28 18:08] #43382 closed, assigned to nobody

[2018-07-28 19:02] monoflo commented on #17136
I agree with https://github.com/ansible/ansible/issues/17136#issuecomment-365531723

I am trying to copy fonts over to my remote system using the following task:

[code]
This results in the following message:

`[WARNING]: Unable to find '/<path>/roles/role/files/fonts/**' in expected paths (use
-vvvvv to see paths)`

However, if I use Python's `glob`, I get the desired result:

[code]
[This exampl

[2018-07-28 19:03] erinish commented on #31332
I don't think this is a bug.

Doing relative lookups to the roles dir only makes sense when a portion of the module action is local . . . so in your example of the copy module, it checks the role path, etc via an action plugin because Ansible expects the source file to be local to the management server.

In the case of docker_image, it is not necessarily expected to be running local to the manager

[2018-07-28 19:28] grimmjow-sms opened #43392 "Failed to ping a lxc ubuntu container: publickey , password"
##### SUMMARY
HI all, I am totally new to Ansible, I am following a tutorial from Packt, the tutor told us to download the ansible code from github and then source it, then creating a folder and put 2 files there ansible.cfg and inventory (which contains the 3 of my lxc ubuntu containers). But then I got a lot of errors trying to do a  ping to one of those containers so I removed that and installe

[2018-07-28 20:37] kedwin opened #43395 "User module, ansible check if user exists only on first host"
##### SUMMARY
---
- name: Install somebody user
  user:
    name: somebody
    groups: video
    state: present
    shell: /bin/bash
    force: yes
    createhome: yes
    home: /home/somebody
    system: no
  tags:
   - user

if i have multiple host like
jurko-amd:
  hosts:
    jurko-rig1.local
    jurko-rig2.local
    jurko-rig3.local
    jurko-rig4.local
    jurko-rig5.local

**and if i miss th

[2018-07-28 20:59] rvalle commented on #40771
this indeed affected 2.6 as it is happening still with the released version.

@Akasurde @abulimov do you have any idea what this could be about?

[2018-07-28 23:02] #43395 closed, assigned to nobody

[2018-07-28 23:04] kedwin commented on #5145
was too tired,
all:
  hosts:
    mail.example.com:
  children:
    webservers:
      hosts:
        foo.example.com:
        bar.example.com:
    dbservers:
      hosts:
        one.example.com:
        two.example.com:
        three.example.com:

did not see the : char on the end, for 2.6 syntax

[2018-07-29 01:08] ccollicutt commented on #17324
[This](
https://github.com/openshift/openshift-ansible-contrib/blob/470e5fe1ba5e85ab000517bbafb868dda1785cfa/reference-architecture/3.9/playbooks/roles/aws/tasks/elb.yaml#L25) seems to work...not sure how it works.

`tags: "{{ {'kubernetes.io/cluster/' ~ clusterid: clusterid, 'clusterid': clusterid} }}"
`

[2018-07-29 06:38] robertdebock opened #43397 "raw module: "bash: /usr/bin/python: No such file or directory""
##### SUMMARY
When using the RAW module, an error is displayed:
[code]

on this task:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION
<!--- If using Ansible 2.4 or above, paste, BELOW THIS COMMENT, the results of "ansible-config dump --only-changed"
DEFAULT_CALLBACK_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/usr/lib/python2.7/site-packages/ara/plugins/cal

[2018-07-29 06:39] robertdebock commented on #43397
Sorry, the layout is messed up.

[2018-07-29 06:39] #43397 closed, assigned to nobody

[2018-07-29 06:40] robertdebock opened #43398 "raw module: "bash: /usr/bin/python: No such file or directory""
##### SUMMARY
When using the RAW module, an error is displayed:
[code]

on this task:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
raw

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control node: [Ubuntu 14.04.5 LTS](https://travis-ci.org/robertdebock/ansible-integration/jobs/409214009#L29) using [Python 2.7.14](https://travis-ci.org/robertdebock/

[2018-07-29 08:15] fabland commented on #37811
@lm0 Yes, was for vcd. I ended up hacking together some new ones by copying parts of the vca ones (did it on a fork of ansible). Also, recently saw this: https://github.com/vmware/ansible-module-vcloud-director

[2018-07-29 11:22] petemounce commented on #25344
I'd also like to register a desire for ansible to work against Windows over ssh:
* productionised WinRM is a cast-iron pain, because
  * SSL cert knowledge required
  * slow file transfers (workaroundable via cloud push/pull)
* different from all my other infrastructure, so requires training and debugging that rot quicker

My use-case is mostly building golden images with packer, and occasionally

[2018-07-29 11:43] bharath23 commented on #43319
I am not sure if I am correct but the issue I assume doesnt lie in aws or cloud module but in the way templating is working.

[2018-07-29 11:51] Akasurde commented on #43389
@ment0s Thanks for reporting this issue. You need to set `groupby_patterns` like

[code]

Which will give you groups like -

[code]

We are in process of writing new documentation related to this. Would you be interested in writing this usage in documentation. You can follow the pattern for this doc from [existing page](https://docs.ansible.com/ansible/latest/vmware/scenario_clone_template.html)

[2018-07-29 12:13] robertdebock commented on #43398
Interesting, I can't reproduce this from my laptop, so it must be an issue with the control-node, the image started by Travis-CI is `Ubuntu 14.04.5 LTS`.

[2018-07-29 12:21] robertdebock commented on #43398
Ah, it's related to [mitogen](https://github.com/dw/mitogen). I'll file an issue in mitogen's repository and close this one.

Sorry for the confusion.

[2018-07-29 12:21] #43398 closed, assigned to nobody

[2018-07-29 15:30] m4r10k commented on #41577
@Akasurde Did you get a chance to test this? Would be nice to know if you can reproduce it this way. Thanks!

[2018-07-29 18:37] rvalle commented on #42787
I have the problem too, and even thou using docker module seems to fix the problem in Debian docker-ce is automatically installing python-docker.

I cannot get an stable environment where this issue goes away.

[2018-07-29 19:23] Uwila commented on #43383
What are the specifics of your environment? I tried reproducing it with a Docker container, and found out that the status of the service was checked using `/sbin/initctl status exim4`, which always returns 0 and does nothing else. But it turned out that the content of `/sbin/initctl` on this container is:

[code]

If you're using a 'normal' system then this probably has nothing to do with it, but

[2018-07-29 19:42] mowgli commented on #43383
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Hi Uwila,

Am So den 29. Jul 2018 um 20:23 schrieb Uwila:

Just ask me what you need to know.

There is no initctl on my system.

   ~> service exim4 status
   [ ok ] checking separate queue runner daemon...done (not running).
   [ ok ] checking combined SMTP listener and queue runner daemon...done (running).
(with status 0)

   ~> /etc/init.d/exim4

[2018-07-29 20:06] suryabaiarava opened #43404 "Ansible Sudo issue with solaris"
##### SUMMARY
We are unable to SUDO to the servers and getting timeout issue

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Become Module

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

SUN OS solaris 10

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

am running a  basic command via playbook to print username via whoami.It must print my sudo user name.

##### ACT

[2018-07-29 21:08] Titerote opened #43405 "terraform module errors out when using relative path in plan_file"
##### SUMMARY

While using the terraform module, with a state of planned. If I set up a relative path for the plan_file, a new plan file gets created in the project_path directory , but the task fails with an error message.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

terraform
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[tite@localhost terraform.bug]$ ansible-config dump --only-

[2018-07-29 21:28] Titerote opened #43407 "terraform module ignores state_file when doing state present"
##### SUMMARY

When doing a task for state: present in the terraform module , the state_file I provide get's ignored and it's not used at all. If the file does not exist, the task errors indicating that the file does not exist, but if it exists, a new state file is created in the project_path under the name terraform.tfstate

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

terraform
##### AN

[2018-07-29 21:37] ment0s commented on #43389
Perfect! Thanks for your help.

[2018-07-29 21:37] #43389 closed, assigned to nobody

[2018-07-29 21:41] ghost opened #43408 "Unable to limit filter when using vmware_inventory.py"
##### SUMMARY
groupby_patterns={{ guest.toolsstatus }}    - Doesn't create any groups.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib/inventory/vmware_inventory.ini

##### STEPS TO REPRODUCE
Due to use of + UUID in inventory name I'm unable to limit hosts.

##### EXPECTED RESULTS
Adding vm name to --limit  (without UUID) should match the name of the VM.

##### ACTUAL RESULTS
ERROR!

[2018-07-29 21:42] zmotu commented on #32071
Hi can you confirm which version this was fixed in?

[2018-07-29 22:38] ianchanning commented on #13763
I hit this issue on Ansible v2.0.0.2 which is the default version for Ubuntu 16.04.

I thought I'd add some extra explanation to some of the very helpful but slightly cryptic comments, specifically @drybjed 's [comment][2].

The `-K` parameter is an alias for `--ask-become-pass` (see [Command line options doc][1]). I didn't realise this so skipped over the comment when reading it the first time.

[2018-07-30 00:58] granddesigntech commented on #25145
Hmmm, the name tmpfile is a bit misleading then.
As ansible does have a local tmp file and attendant cleanup code for end of execution it would be good if the tmpfile module could register any path it creates with ansible which would add it to a list of paths to cleanup at execution end.

[2018-07-30 01:29] Tomorrow9 commented on #42995
Oh, as to above (3) multiple datastores of disks, I applied patch #33230, it works well now.
Here is my test playbook:
---
- vars_files:
    - ../67GA.yml
  hosts: 67vc
  gather_facts: no
  tasks:
  - name: Create a virtual machine on {{esxi_hostname}}
    vmware_guest:
      hostname: "{{ vcenter_ip }}"
      username: "{{ vcenter_username }}"
      password: "{{ vcenter_password }}"
      valida

[2018-07-30 01:31] huaxuan123 commented on #43286
SUMMARY

When using async modules with command that want to scp some files from localhost to remote host(using delegate_to localhost) and the aysnc module may(has the possibility) failed with command.py [Errno 2] No such file or directory. the aysnc module may failed with command.py [Errno 2] No such file or directory(happens very often) When using the command: stress –d 1 --hdd-bytes 10G in local

[2018-07-30 02:49] larrybg commented on #38715
I'm facing the same issue - cloning Windows 2010/12 VM from a template doesn't set the static IP.
I use ansible v2.6.1. Are there any updates?

[2018-07-30 03:19] Akasurde commented on #43408
@ment0s Could you please elaborate more on your usage of command line and configuration file ?
needs_info

[2018-07-30 04:00] jaapie opened #43410 "dellos6_config sends too many characters in answer to prompt causing failure"
##### SUMMARY
When using the option in dellos6_config to save the configuration changes, the word "yes" is passed as an answer to the prompt "Are you sure you want to save? (y/n)". The first character is read by the prompt handler and although the command succeeds on the switch (as per the output below), Ansible returns a failure because the "es" is not read and is instead interpreted as another c

[2018-07-30 05:30] smnmtzgr commented on #43106
I notice the same problem.

[2018-07-30 05:44] grb247 opened #43411 "with_lines fires before when"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should run line by line file exists

##### ACTUAL RESULTS

It's work fine when i run on local server but come up with error while running using ansible tower
PLAY [localhost] **********************

[2018-07-30 05:57] Fred-sun commented on #25352
@lukasmrtvy  Do you can use this method to get the VM status, if it meet your mind, we will close this issue at next week, Thanks !

[2018-07-30 06:14] #43009 closed, assigned to Akasurde

[2018-07-30 06:18] Tomorrow9 commented on #42995
@Akasurde
Hi,
Are you working on this or maybe I can have a try to add support for SATA controller of CD/DVD ROM?

Thanks.

[2018-07-30 06:18] smnmtzgr opened #43412 "aci_switch_policy_vpc_protection_group reports "changed" everytime it runs"
##### SUMMARY
aci_switch_policy_vpc_protection_group reports "changed" status back everytime it runs. It makes no difference if the protection_group already exists on APIC or not. The ansible module status shows changed permanently after every run.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_switch_policy_vpc_protection_group

##### ANSIBLE VERSION
Ansible 2.6.1
[code]
##### STEPS TO

[2018-07-30 07:04] felixfontein commented on #29333
I guess this can now be closed, as #41155 has been merged.

[2018-07-30 07:38] kcd83 commented on #42388
Oh ha, this seems to work

[code]

Throw that in any vagrant/docker/wsl setups

[2018-07-30 08:09] artskif commented on #35645
Try to

- name: Ensure unzip is installed.
  package: name=unzip state=present

[2018-07-30 09:12] cloudbluedigital opened #43413 "parse json inside command?"
##### SUMMARY
I am trying to trigger a command and one of the parameters require json

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac sierraOS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Command to execute
##### ACTUAL RESULTS

[code]

[2018-07-30 09:22] Akasurde commented on #42619
resolved_by_pr #43414

[2018-07-30 09:23] Akasurde commented on #42619
@tzachs Could you please check above PR and let me know if it works for you ? Thanks,

needs_info

[2018-07-30 09:36] ZouYuhua commented on #43000
I am also waiting for this feature

[2018-07-30 09:48] dseeley-sky opened #43415 "ec2_vpc_route_table: if an existing route is propagated, attempts to replace it will fail"
##### SUMMARY
If a route is preexisting and its Origin is "EnableVgwRoutePropagation", it is not possible to replace it.  Instead, the module should attempt to create the new route.

In our specific use case, we are trying to add a static vpc peering connection to the route table, to take priority over a propagated VGW route.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_route_tabl

[2018-07-30 09:53] nicolaibaralmueller opened #43416 "azure_rm_virtualmachine does not create storage account"
##### SUMMARY
Module azure_rm_virtualmachine does not create storage account if non is specified.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ANSIBLE_PIPELINING(/home/username/ansible/ansible.cfg) = True
DEFAULT_MODULE_PATH(/home/username/ansible/ansible.cfg) = [u'/home/username/ansible/library', u'/usr/lib/pytho

[2018-07-30 09:56] Akasurde commented on #42995
@Tomorrow9 Yes. Sure.

[2018-07-30 10:00] Akasurde commented on #43351
@nicholasrodriguez Thanks for reporting this issue.

[2018-07-30 10:26] odebree opened #43421 "snmp_facts module incorrect report ifSpeed"
##### SUMMARY

snmp_facts module incorrectly reports ifSpeed (SNMP OID 1.3.6.1.2.1.2.2.1.5) with MTU value

bug is present in snmp_facts.py line 328:

if v.ifMtu in current_oid: should be replaced with if v.ifSpeed in current_oid:

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

all environments
##### STEPS TO REPROD

[2018-07-30 11:36] smnmtzgr opened #43422 "aci_interface_policy_leaf_policy_group query with lag_type "link" returns "link" and "node" policy_groups"
##### SUMMARY
When using the ansible module aci_interface_policy_leaf_policy_group and doing a query against APIC with lag_type set to "link" the module returns policy groups with lagT=link and also with lagT=node. The correct behaviour would be only to return lagT=link, like specified with the module parameter lag_type.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_interface_policy_le

[2018-07-30 11:43] smnmtzgr commented on #43422
I also noticed that the other way round the same "bug" exists: when setting lag_type: node a query returns also both types: link and node.

[2018-07-30 11:53] jandy33 commented on #43229
Due to security issues, I'm unable to paste all of this information.  Can you please tell me what you are looking for in the debug so that I can send it to you.

[2018-07-30 12:18] trishnaguha commented on #43073
resolved_by_pr https://github.com/ansible/ansible/pull/43423

[2018-07-30 12:32] odebree commented on #43421
Please see patched file, along with enhancement to include snmp_ifType (OID 1.3.6.1.2.1.2.2.1.3)

tested against ansible 2.6.2
[snmp_facts.py.zip](https://github.com/ansible/ansible/files/2241086/snmp_facts.py.zip)

[2018-07-30 12:39] seanorama opened #43424 "mysql modules do not respect `host` from ~/.my.cnf"
##### SUMMARY

The mysql_* modules do not respect this host configuration from ~/.my.cnf:
[code]

Previous related issues and pull requests:
* #37400
* #6761

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

lib/ansible/modules/database/mysql/

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

1. Create ~/.my.cnf with:
[code]

2. R

[2018-07-30 13:11] seanorama commented on #43424
Updated component to:
!component =lib/ansible/modules/database/mysql/

[2018-07-30 13:34] sivel commented on #43141
This is an expected change.  As you can see from the bisect you performed, the commit message specifies:

You should change your conditional to:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-30 13:34] #43141 closed, assigned to nobody

[2018-07-30 13:53] ptux commented on #14131
@sandipdivekar1

that's because the PR #41222 fixed this has not merged.

[2018-07-30 13:54] rvalle commented on #42787
I solved this issue by cleaning docker-py (and docker-python os package) then taking docker-compose from pip.
Checking that only docker is installed (pip list) and the old one is absent.

Seems to be a library transition issue...

[2018-07-30 14:05] AlanCoding opened #43427 "The script openstack_inventory.py fails with Ansible 2.6.2"
##### SUMMARY
The old script version of the openstack inventory no longer works due to the change in behavior introduced in https://github.com/ansible/ansible/pull/42584

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
https://github.com/gtema/ansible/blob/stable-2.6/contrib/inventory/openstack_inventory.py

##### ANSIBLE VERSION
[code]

But does not appear in 2.6.1

##### CONFIGURATION
using

[2018-07-30 14:13] dagwieers opened #43428 "Create a VMware connection plugin"
##### SUMMARY
Nowadays we are moving towards connection plugins and inventory-based connection information.

This would have a few benefits:
- Connection information is stored in the inventory (cleaner)
- Modules no longer require repeated connection-parameters when called (cleaner)
- The connection is made to persist over tasks (more efficient)
- The connection can survive network-related issues

[2018-07-30 14:13] gbxavier opened #43429 "Explicited sudo command permissions. NO ALL"
##### SUMMARY
My company work with sudo for docker operations, but my user can't become root. I just can use commands as root in form "sudo docker ps", "sudo docker run ...", "sudo docker images" etc. I can't use "sudo su - " or "sudo echo test" per example. The commands are explicity declarated.

My stdout of "sudo -l" command execution:

User MYUSER may run the following commands on THISSERVER:

[2018-07-30 14:23] sivel commented on #43429
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-07-30 14:23] #43429 closed, assigned to nobody

[2018-07-30 14:29] sivel commented on #43411
This is expected, and documented at https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-30 14:29] #43411 closed, assigned to nobody

[2018-07-30 14:30] sivel commented on #43413
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-07-30 14:30] #43413 closed, assigned to nobody

[2018-07-30 14:30] dagwieers opened #43430 "Extend the Ansible VMware Guide"
##### SUMMARY
At the moment the  [Getting started with VMware guide](https://docs.ansible.com/ansible/devel/scenario_guides/guide_vmware.html) needs the following sections:

- **Using the VMware modules**
  Discuss how the modules work, how to configure/use Ansible, common module parameters, VM selection, vCenter vs ESXi, etc.
- **Operational examples**
  Real-life examples of how to work with inv

[2018-07-30 14:37] sivel commented on #43424
cc @Jmainguy @vedit @kenichi-ogawa-1988 @banyek

[2018-07-30 14:39] stephan2012 commented on #42706
@jtyr: Your fix works for me. Thanks for your support! :-)

[2018-07-30 14:45] Akasurde commented on #43428
Also, https://github.com/ansible/ansible/issues/43084

[2018-07-30 14:46] insideClaw commented on #29627
Using [this remote MySQL access topic](https://stackoverflow.com/questions/8348506/grant-remote-access-of-mysql-database-from-any-ip-address) as a base for figuring out what I need and the answer directly above me for the wildcarding that's not documented, I got this syntax to work for me. It ensures a user @'%' (at anywhere) exists with the correct permissions:
[code]
Obvious that's not the "*" s

[2018-07-30 14:47] Akasurde commented on #43430
@dagwieers Thanks for collecting this information. You can find scenario guides here - https://docs.ansible.com/ansible/devel/vmware/index.html

[2018-07-30 14:48] Akasurde commented on #43430
PR related to VMware docs

1. https://github.com/ansible/ansible/pull/43065
1. https://github.com/ansible/ansible/pull/42451
1. https://github.com/ansible/ansible/pull/42450

[2018-07-30 14:51] sivel commented on #43360
From the output above, I can see that you have `localhost` listed in your inventory.  When you explicitly list `localhost` in your inventory, you will also have to supply `ansible_python_interpreter` with a path pointing to the python binary in your virtualenv.

The better option would be to rely on implicit localhost, but not including `localhost` in your inventory, and allowing ansible to create

[2018-07-30 14:51] #43360 closed, assigned to nobody

[2018-07-30 14:54] dagwieers opened #43433 "More consistent VMware module docs"
##### SUMMARY
Looking at the various modules documentation there is a lot to gain from making the module docs more consistent:
- Make use of the same standard for connecting to vCenter #43426
- Harmonize the example values for connection parameters
  - Order them consistently
  - Use real-life values (instead of stub variables or placeholders)
- Show how to connect to vCenter and ESXi consistently

[2018-07-30 15:00] dagwieers commented on #43430
@Akasurde You know that I remembered you did more work, but searching for it always brought me to that [Getting started with VMware](https://docs.ansible.com/ansible/devel/scenario_guides/guide_vmware.html) document. So that confused me and I assumed I was mistaken.

Why do we have that [Getting started with VMware document](https://docs.ansible.com/ansible/devel/scenario_guides/guide_vmware.html)

[2018-07-30 15:08] dagwieers commented on #43430
Looking at the current structure (and the PRs), I think we are making this too heavy to start with (with several different documents and levels). IMO we can cover 95% of what most people would need to know with a single Getting started with VMware document.

The different use-cases and examples would probably be better served in a separate document, but I wouldn't make it more complex than that.

[2018-07-30 15:12] #43073 closed, assigned to trishnaguha

[2018-07-30 15:15] tterranigma commented on #36235
@akasurde Yes, it seems to be resolved.

[2018-07-30 15:15] #36235 closed, assigned to nobody

[2018-07-30 15:17] char543 commented on #30377
interactive option gives same result... any container that has had action from ansible (created from Ansible or had commands invoked from Ansible & without error) is exited and cant be started again..

Have previously posted this but was quickly deferred...

Any ideas from anyone about a fix for this ?

[2018-07-30 15:24] opensparcbox opened #43434 "Module s3_lifecycle supporting Amazon S3 Bucket Actions AbortIncompleteMultipartUpload & ExpiredObjectDeleteMarker"
##### SUMMARY
Module $VIRTUAL_ENV/lib/python2.7/site-packages/ansible/modules/cloud/amazon/s3_lifecycle.py (
@wimnat ) missing arguments for...
- [Amazon S3 Bucket action AbortIncompleteMultipartUpload](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-abortincompletemultipartupload.html) with property _DaysAfterInitiation_
- Amazon S3 Bucket action _ExpiredOb

[2018-07-30 15:32] StephanSchaarschmidt commented on #43434
Supported in [boto3 version 1.7.62](https://boto3.readthedocs.io/en/latest/reference/services/s3.html#bucketlifecycleconfiguration)

[2018-07-30 16:07] sivel commented on #36235
fwiw, I think this was resolved in https://github.com/ansible/ansible/pull/38194

[2018-07-30 16:09] StephanSchaarschmidt commented on #43434
Python modules used within VIRTUAL_ENV
[code]

[2018-07-30 16:29] #43162 closed, assigned to bcoca

[2018-07-30 16:32] sivel commented on #42666
Here is some proof of concept code that seems to be working, although I haven't done extensive testing:

[code]

[2018-07-30 16:55] #42619 closed, assigned to Akasurde

[2018-07-30 17:18] franz-kinetica commented on #41583
@Akasurde
That makes sense, when I switched to the snippet below, it worked, however for some reason is doing the task twice per node. Similar to https://github.com/ansible/ansible/issues/14166 which apparently was fixed in an earlier version.
I'll probably open a new bug request.

[code]

[2018-07-30 17:40] dagwieers commented on #43422
@smnmtzgr You are right. I think when it was implemented querying by lag_type was simply not considered, but since the lag_type is now required for determining what ACI class to use, we would need to take it into account for filtering by type.

BTW Currently there's also no support for the lag_type **

[2018-07-30 17:43] sivel commented on #43138
`include_tasks` within a `handlers` section, does not work like `include` in this context.  Instead you need to utilize `import_tasks`.

`import_tasks` is a pre-processor and will expand the list of tasks before the playbook actually starts executing.  `include_tasks` is a just in time processor.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.free

[2018-07-30 17:43] #43138 closed, assigned to nobody

[2018-07-30 17:51] sivel commented on #43355
This was recently resolved in 27b4d7ed31b6688253fc4089b7a6b97f2d548167 and will be included in the 2.7 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-30 17:51] #43355 closed, assigned to nobody

[2018-07-30 17:59] opensparcbox opened #43442 "Module s3_lifecycle creates new rule if rule_id equals - indempotent runs?"
##### SUMMARY
If using Ansible module **s3_lifecycle** ( @wimnat ) more than one time by referencing the same S3 bucket _name_ and same lifecycle _rule_id_, then the second time/run will create a new lifecycle policy with a random _rule_id.

If using the AWS CLI command **aws s3api put-bucket-lifecycle-configuration** more than one time by referencing the same S3 bucket _name_ and same _rule_id_,

[2018-07-30 18:04] jwebb1125 opened #43443 "VMware: new module: vmware_guest_attribute_defs"
##### SUMMARY

Module does not list custom attributes as stated in the module code

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest_custom_attribute_defs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(env: ANSIBLE_HOSTS) = [u'/Users/jtwebb/hosts']
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False

##### OS / ENVIRONMENT

Mac High Sierra 10.13.6

#

[2018-07-30 18:05] #27970 closed, assigned to jimi-c

[2018-07-30 18:06] ghost opened #43444 "ec2_group rules_egress entries being ignored"
##### SUMMARY

EC2 security group egress rules specified in `rules_egress` are ignored by Ansible version 2.6.1 and above.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(//ansible.cfg) = True
ANSIBLE_SSH_ARGS(//ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s -o TCPKeepAlive=yes
ANSIBLE_SSH_CONTROL_PATH(//an

[2018-07-30 18:07] smnmtzgr commented on #43422
I have tested [https://github.com/ansible/ansible/pull/43441](url), but still notice the same problem.

[2018-07-30 18:34] zargex opened #43446 "win_wait_for timeout doesn't wait unless state = drained"
##### SUMMARY

I want to wait an a set amount of time using win_wait_for module, the documentation says I only have to write the timeout, but that doesn't work. After I checked the code, I realized you also have to write state = 'drained'

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_wait_for.ps1

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Host controll

[2018-07-30 18:35] tightly-clutched opened #43447 "'slack' callback plugin not working"
##### SUMMARY
ansible-playbook with slack module produces an error in callback plugin

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
slack.CallbackModule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS High Sierra 10.13.6

##### STEPS TO REPRODUCE

https://gist.github.com/tightly-clutched/05a40814d3271b51a6530163e3209299

##### EXPECTED RESULTS

I

[2018-07-30 18:41] gundalow commented on #43038
done!

[2018-07-30 18:41] #43038 closed, assigned to nobody

[2018-07-30 18:53] mostfunkyduck opened #43449 "Looping over an empty list throws an 'undefined variable' error in 2.7"
##### SUMMARY

An 'undefined variable' error is thrown referencing the loop variable when looping over an empty list, seems to be new to 2.7

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

loop
##### ANSIBLE VERSION

Broken on:
[code]
Works on:
[code]

##### CONFIGURATION

Empty both on working and broken versions

##### OS / ENVIRONMENT

Running locally on MacOS

##### STEPS TO REPRODUCE

[2018-07-30 18:58] sivel commented on #43449
This is the result of `delegate_to: localhost` on that task.

I believe this is going to end up being a duplicate of https://github.com/ansible/ansible/issues/43016

[2018-07-30 19:06] ikrauchanka commented on #37591
+1 ansible 2.6.2

@guldil

+1

[2018-07-30 19:31] HD650 commented on #28772
This problem is actually in ansible `user` module, the `user` module uses `useradd` command to create a new user in the system.  Let's take a look at the man page of `useradd`:
[code]
So `useradd` expects an **encrypted (hashed)** password which is Base64 encoded. Base64 only contains characters like `./0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz=` and colon is not accepted, tha

[2018-07-30 19:49] felixfontein commented on #41468
resolved_by_pr 41626

[2018-07-30 19:57] #41468 closed, assigned to nobody

[2018-07-30 20:14] mjhoffman65 commented on #31867
I was able to use the private IPs by adding to my azure_rm.ini the line:
[code]
An alternative would be to set the environment variable `AZURE_USE_PRIVATE_IP=yes`.

[2018-07-30 20:16] sivel commented on #43447
I believe a change like the following needs to be made:

[code]

I think some things were errantly changed over to use the plugin options functionality, that are not accessible.

[2018-07-30 20:39] rambleraptor commented on #42379
Hello! #42818 should fix this.

[2018-07-30 20:44] #42599 closed, assigned to nobody

[2018-07-30 21:16] istairbn opened #43459 "Yum Update"
##### SUMMARY

Yum package manager currently returns 2.6.1 as the lastest version rather than 2.6.2

https://github.com/ansible/ansible/releases/tag/v2.6.2

##### ISSUE TYPE

Latest version missing from Yum

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Trying to get latest version on CENTOS

##### OS / ENVIRONMENT

CENTOS

##### STEPS TO REPRODUCE

The install for the

[2018-07-30 21:53] jacksonp2008 commented on #42539
Appears to have fixed the issue in my dev environment.

Thank-you as always.

[2018-07-30 22:00] rvalle commented on #42787
sorry, I don't understand.

it is quite common to define LVM volumes on top of fully encrypted drives. for some reason Ansible 2.6 fails on this case.

there should not be any error condition, just like in previous ansible releases.

[2018-07-30 22:02] rvalle commented on #42787
maybe I can try to create a playbook that reproducciones the issue.

[2018-07-30 22:19] iinthesky73 opened #43462 "WinRM fails to connect with old version of pexpect"
##### SUMMARY
Ansible throws an exception when trying to connect to a windows server configured with WinRM when an old version of pexpect is present on the system. Should possibly have a check/skip test during the playbook run or processing in case an very old version is present. RHEL distribution version is way behind the curve. Removing the system version (rpm) fixes the problem. Call trace and

[2018-07-30 23:08] dagwieers commented on #43446
@zargex If you looked at the code, I think you could have fixed it yourself and made a pull-request ;-)
But let's hope my fix is correct. Can you please test ?

[2018-07-30 23:26] dagwieers commented on #43446
@jborean93 Yes, it was specifically designed to work like this, in fact according to @bcoca it's [the proper solution](https://github.com/ansible/ansible/pull/26889#issuecomment-315825902) for [this problem](https://github.com/ansible/ansible/issues/19966).

[2018-07-30 23:38] #43427 closed, assigned to nobody

[2018-07-30 23:40] dagwieers commented on #43446
And coming back to the use of **wait_for** to sleep, in my opinion it is a bug that it does not fail when it reaches the timeout, because that's the expected behaviour in every other use-case where a timeout is provided, but this behaviour apparently is the exception (and was only documented after I voiced my surprise :-D).

[2018-07-31 00:15] jborean93 commented on #43446
Ahh cool, that all makes sense, will go back to lurking in the background.

[2018-07-31 01:07] peragwin opened #43466 "GCP to support encrypted credentials_file"
##### SUMMARY

The GCP module does not support reading a `credentials_file` that has been encrypted using Ansible Vault.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

gcp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/.../ansible.cfg) = True
ANSIBLE_PIPELINING(...ansible.cfg) = True
DEFAULT_BECOME(/.../ansible.cfg) = False
DEFAULT_FORKS(/.../ansible.cfg) = 100
DEFA

[2018-07-31 02:33] Akasurde commented on #41583
@franz-kinetica How many hosts are there in `Rabbit_nodes` group?

[2018-07-31 03:00] dagwieers commented on #43446
@zargex Thanks for testing !

@jborean93 I think this is ready to be merged. Should we backport this to v2.6 and v2.5 ?

[2018-07-31 03:03] dagwieers commented on #43422
@smnmtzgr Ok, I found the problem and it seems the current framework did not support filtering when no object was specified. It simply didn't support that use-case. I have rewritten the framework, but I will have to update all modules to bring them in line with the required changes :-/

This will take some time, as also all integration tests have to be revisited...

[2018-07-31 03:59] dagwieers commented on #43422
@jmcgill298 Can you review these changes ? I haven't updated all integration tests yet, but most will work out of the box.

[2018-07-31 04:53] #43367 closed, assigned to ganeshrn

[2018-07-31 04:54] imjoseangel commented on #43433
What is the process for this kind of issues involving multiple files? Modifying all at once or every contributor takes care of single modules?

[2018-07-31 05:09] Akasurde commented on #43433
@imjoseangel it depends. You can do it in multiple chunk of files or do it all files together. Also, you can do it in multiple files in several commits which makes it easy to review.

[2018-07-31 05:55] FibreFoX commented on #28772
@HD650 thanks for the detailed explaination, that clears up a huge amount of questions we encountered back then.

Reading the current documentation of the user-module, this isn't that obvious and should be added. In addition, as a normal user, I would like to have the user-module doing some sanity-checks (as Base64 chars are known, whitelist-checks would be easy). How do you think this issue will

[2018-07-31 06:50] Akasurde commented on #43443
@jwebb1125 Thanks for reporting this issue. I will update documentation to remove `list` option as this option will be part of facts module (as per this comment)[https://github.com/ansible/ansible/pull/38114#discussion_r186306143)

[2018-07-31 07:37] cgoeller commented on #42417
Hi,
will this fix be available in the next Ansible Release 2.6.3?

Is there a workaround meanwhile? I would like to update to Ansible 2.6, and this issue seems to be the only hurdle.

[2018-07-31 07:58] jmatis opened #43475 "template module fails to change produced file attributes"
##### SUMMARY
template module fails to change produced file attributes

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
# ansible-config dump --only-changed
COMMAND_WARNINGS(/etc/ansible/ansible.cfg) = False
DEFAULT_ASK_SUDO_PASS(/etc/ansible/ansible.cfg) = False
DEFAULT_BECOME(/etc/ansible/ansible.cfg) = True
DEFAULT_BECOME_A

[2018-07-31 08:05] jmatis commented on #43475
I have just also tested this with version:
# ansible --version
ansible 2.6.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (default, Jul 13 2018, 13:06:57) [G

[2018-07-31 08:06] mkrizek commented on #43344
`{% for server in type[item.type].tacplus_servers %}`

What/where is `type`?

[2018-07-31 08:15] betelgeuse opened #43476 "parted ignores warnings about too long GPT partition names"
##### SUMMARY
The parted module happily accepts and ignores warnings about GPT partition names that are longer than 36 characters.

"Each partition can also be given a descriptive name consisting of 36 characters."

https://www.thomas-krenn.com/en/wiki/GUID_Partition_Table

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

parted

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changed

[2018-07-31 08:28] Kdecherf commented on #42417
@cgoeller see the mentioned PR #42422 for the workaround, works here

[2018-07-31 08:35] veera83372 commented on #21397
is it fixed?
it seems like we are still facing this issue in 2.4.0.0

[2018-07-31 08:41] webknjaz commented on #42546
Well, it's okay to require them as a pre-requisite (now in `pyproject.toml`), but I also don't like when it's required in `setup.py` machinery :)

[2018-07-31 08:43] navaati commented on #42787
Just to be clear, as for me I now get this error *without* using the `labels` argument !

[2018-07-31 09:05] cgoeller commented on #42417
Ok, it works now when specifiying it like this in Ansible 2.4 and 2.6

[code]

[2018-07-31 09:10] ramonamis commented on #29445
I can reproduce this issue

[code]

[2018-07-31 09:33] dgonzalezruiz commented on #31705
This issue is still real, unfortunately.

[2018-07-31 09:42] tim-little opened #43480 "Failed host not caught by block-rescue within a multi-host play"
##### SUMMARY

When running a playbook against multiple hosts playbook. If one of the hosts fail, the failed host is removed from the play and the rescue is not invoked for that host.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Blocks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/usr/home/tim/projects/bug-test/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/usr/home/tim

[2018-07-31 09:42] pravindmali opened #43481 "Module nxos_vlan is not working with nexus 5k device"
##### SUMMARY

The issue is with the modules net_vlan and nxos_vlan which are not compatible with Cisco Nexus 5k devices.

##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME

nxos_vlan

##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

It should work without any error

##### ACTUAL RESULTS

[code]

[2018-07-31 09:54] #23390 closed, assigned to nobody

[2018-07-31 10:29] agronholm commented on #42787
@navaati So please paste an example playbook that reproduces the problem. And does this happen with both python-docker and docker?

[2018-07-31 10:41] #43443 closed, assigned to nobody

[2018-07-31 10:49] Akasurde commented on #43443
@jwebb1125 Could you please check PR #43482 for Custom Attribute related facts ?

[2018-07-31 10:56] jmatis commented on #43475
in role / playbook
it should have been
    mode: 0755
instead of:
    attributes: 0755

[2018-07-31 10:56] #43475 closed, assigned to nobody

[2018-07-31 11:14] jborean93 commented on #43381
@basictheprogram thanks for the issue report, I didn't test this properly during the recent refactor and have raised a PR to fix this https://github.com/ansible/ansible/pull/43483. I've also added a test case in there to make sure we don't regress again in the future.

As this module has recently had a big overhaul, please let us know if you come across any other regressions or issues with win_cho

[2018-07-31 11:47] 1021ky commented on #40805
@bcoca I,m sorry.
Probably, I ran incorrect commands.
I confirmed ansible is installed with brew.

[code]

[code]

so, I'll close this issue.

If you don't mind me asking, I want to know why does ansible look different directory on installing with brew and on installing with pip.

[2018-07-31 11:49] dagwieers commented on #42760
Feel free to reopen when you have more information to share.

[2018-07-31 11:49] #42760 closed, assigned to nobody

[2018-07-31 11:52] dagwieers commented on #43433
@imjoseangel Since we still have to decide what's best for each of the items, there's no use in having every module owner to start to modifying their modules. TBH I wasn't expecting @ansibot to mark every VMware module and notify every module owner. Once I made the PR with the changes I have in mind this would have been more useful. So my preference goes to a single PR with all changes, that can b

[2018-07-31 11:54] dagwieers commented on #43428
@Akasurde #43084 relates to #38648, which is about having a connection plugin to connect to individual VMs. This PR is about having a connection plugin to connect to vCenter, similar to #36100

[2018-07-31 12:23] Kamapcuc opened #43484 "Variables in tree inventory doesn't set propertly"
### ISSUE TYPE
 - Bug Report

### COMPONENT NAME
Playbook variables

### ANSIBLE VERSION
2.5.1

### STEPS TO REPRODUCE
My `inventory.yml` looks like:
[code]
In my variables directory i have such configuration:
[code]
In each file i have only one variable `region: EU`, `region: SG` and `region: US`

I have simple playbook with one task:
[code]

So, when i run my playbook, i expect to see:
[code]

B

[2018-07-31 12:26] franz-kinetica commented on #41583
@Akasurde
It has at least 2 hosts, but can have more.
For the test I was running when I bumped into it I had 2.

[2018-07-31 12:28] sseide opened #43485 "file module should not print warning for link and state "absent""
##### SUMMARY
The file modules issues an warning when setting the state to 'absent ' for links.
This should be no warning when conditionally evaluating if a link should be created or removed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
"file"

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/myself/ansible/server-config/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS

[2018-07-31 12:53] Igor-Lunov opened #43486 "Wait_For module timeout for drained status in case of ipv6 kernel module not enabled"
##### SUMMARY
`wait_for` fails with message Timeout when waiting for host:port to drain, even if you don't have any active tcp connections for selected host:port
Modifiying error message with adding what `tcpconns.get_active_connections_count()` returns
[code]
In case of only one tcp protocol presented on the target OS , module should process only existing one and return values for it
##### ISSUE

[2018-07-31 13:22] #40805 closed, assigned to nobody

[2018-07-31 13:33] sivel commented on #43480
Your problem is related to invalid syntax, that will be caught in the upcoming 2.7 release:

[code]

The problem is the `- ` before `rescue`.  Your play should instead look like:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-07-31 13:33] #43480 closed, assigned to nobody

[2018-07-31 13:38] ryansb commented on #43405
I believe this is fixed in current devel-branch, which will become 2.7. Can you try it and see if the new version resolves your issue?

[2018-07-31 13:38] ryansb commented on #43407
I believe this is fixed in current devel-branch, which will become 2.7. Can you try it and see if the new version resolves your issue?

[2018-07-31 13:44] #39786 closed, assigned to nobody

[2018-07-31 13:52] ederst commented on #42408
Error still persists in Ansible 2.6.2:
[code]

Btw. it does not matter whether `action` of `os_server_action`  is `start` or `stop`. Seems the waiting for the `action` is broken.

[2018-07-31 14:01] anis016 opened #43487 "Getting the "{{ playbook_dir }}" variable directly in the python source code without passing as option"
##### SUMMARY

Ansible has a variable "{{ playbook_dir }}" that gives the playbook directory path. What I understand is, while running the Ansible play, the sources related to Ansible playbook are copied to a temporary location for example:
/root/.ansible/tmp/ansible-tmp-1532003188.07-226176824704061/ and it is run from there. So, currently, for one of my method where I need to read a file, I need

[2018-07-31 14:03] Akasurde commented on #41583
It is running twice since you have two host in hostgroup.

[2018-07-31 14:03] sivel commented on #43487
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-07-31 14:03] #43487 closed, assigned to nobody

[2018-07-31 14:05] jwebb1125 opened #43488 "vmware_guest_custom_attribute_def_facts should include Custom Attribute Value"
##### SUMMARY

The vmware_guest_custom_attribute_def_facts module doesn't pull the Value in relation to a particular Custom Attribute. Right now it only outputs the Custom Attribute. Also, it doesn't pull the hosts that have the Custom Attribute set on it.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

vmware_guest_custom_attribute_def_facts

##### ANSIBLE VERSION

[code]

##### CONFIGUR

[2018-07-31 14:36] Akasurde commented on #43488
@jwebb1125 Thanks for trying this PR, but this module yet to merge in devel. Could you please put your comments on PR https://github.com/ansible/ansible/pull/43482 itself. Thanks.

[2018-07-31 14:36] #43488 closed, assigned to nobody

[2018-07-31 14:42] acozine commented on #42178
Yeah, we should really only have one page for release and maintenance info - all prior versions of this page should redirect to the `devel` version.

[2018-07-31 14:43] jwebb1125 commented on #43488
@Akasurde I sure can. Thanks again.

[2018-07-31 14:51] webknjaz commented on #43486
@Igor-Lunov is this relevant to the currently supported version? `devel`?

-needs_triage
+needs_info

[2018-07-31 14:51] EmmEff commented on #35645
Installing `unzip` before the `unarchive` task does not help. FWIW, I get the same error here on Ansible 2.5.5. I am not seeing the issue on a different system running 2.6.2.

[2018-07-31 14:53] rrey opened #43492 "module/terraform: variable values are interpreted by the shell"
##### SUMMARY

Variable values are not quoted and the "#" character is interpreted as a comment.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

terraform.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

The following Terraform resource:
[code]

Processed with the following playbook:

[code]

And `{{ faro.uri }}` variable

[2018-07-31 14:53] diego-treitos commented on #27798
Not exactly a fix but, in debian (at least _jessie_ and _stretch_) the package `apt-config-auto-update` installs the hook `/etc/apt/apt.conf.d/15update-stamp`. It also installs others but it doesn't actually installs much as it doesn't have dependencies. These are its contents:

[code]

[2018-07-31 14:55] rrey commented on #43492
I tested a fix where I'm quoting the variable value passed in the command line.
It fixed the issue, I'll push a fix.

[2018-07-31 14:58] Igor-Lunov commented on #43486
@webknjaz  i believe yes, current block code on devel for this part is:
elif state == 'drained':
        # wait until all active connections are gone
        end = start + datetime.timedelta(seconds=timeout)
        tcpconns = TCPConnectionInfo(module)
        while datetime.datetime.utcnow() < end:
            try:
                if tcpconns.get_active_connections_count() == 0:

[2018-07-31 15:25] ederst commented on #42408
I seem to have found the issue in [`lib/ansible/modules/cloud/openstack/os_server_action.py` (L93/R97; look for my comment).](https://github.com/ansible/ansible/commit/89ce826a9fb53c304238923a73667ab820711338#diff-78b6488d27c66bca465ffbe62f98ac03R97).

Looks like the migration from shade to openstacksdk requires `sdk.utils.iterate_timeout` instead of `sdk.utils._iterate_timeout`.

[2018-07-31 15:51] #43302 closed, assigned to nobody

[2018-07-31 15:55] #39663 closed, assigned to nobody

[2018-07-31 15:59] sivel commented on #43484
Multiple levels of hierarchy are not considered in `group_vars`.  Only the first level is of importance.

As such `europe.yml`, `singapore.yml`, and `usa.yml` are *all* read for all hosts in the `prod` group.

Instead you would need to use `group_vars/europe.yml`, etc...

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list

[2018-07-31 15:59] #43484 closed, assigned to nobody

[2018-07-31 15:59] abadger commented on #36869
Allowing the files to be world readable is suboptimal because they could reveal information about the system to unprivileged users that a sysadmin would not want (for instance, passwords in module options could be viewed there).

What is the use case where you cannot set remote_tmp to a different directory?

needs_info

[2018-07-31 16:00] abadger commented on #36869
@bcoca

[2018-07-31 16:04] ryansb commented on #43466
cc/ @rambleraptor

[2018-07-31 16:46] sivel commented on #43319
This is ultimately the result of the interaction between ansible and jinja2 as described at https://github.com/ansible/ansible/issues/34595#issuecomment-356091161

In Ansible 2.7, jinja2 native types should prevent this:  https://docs.ansible.com/ansible/devel/reference_appendices/config.html#default-jinja2-native

[2018-07-31 16:47] sivel commented on #43282
I have a PR that adds this functionality at https://github.com/ansible/ansible/pull/42134

[2018-07-31 16:51] sivel commented on #43257
`ansible_ssh_extra_args` and the `ssh_args` from ansible.cfg are completely different configurations that are not meant to replace the value.

However the order that these vars are processed and passed to ssh end up achieving this same behavior.  As you mention:

The effective behavior here, due to how ssh works, will be to use the last supplied.  So the value of `no` will be the configuration uti

[2018-07-31 16:51] #43257 closed, assigned to nobody

[2018-07-31 17:07] darwish opened #43502 "ansible_ssh_extra_args is ignored when ansible_ssh_executable is set"
##### SUMMARY

Regression of https://github.com/ansible/ansible/issues/20862

When set ansible_ssh_executable in a task, the result params only contains ansible_ssh_common_args, but not ansible_ssh_extra_args.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Running from Fedora 25. No remote OS.

##### STEP

[2018-07-31 17:13] mhalano commented on #42431
@sieben I will close this bug after 2.7 was released. That's ok for you?

[2018-07-31 17:25] #43332 closed, assigned to nobody

[2018-07-31 17:41] #38200 closed, assigned to nobody

[2018-07-31 17:44] chouseknecht opened #43505 "Role survey spec POC"
### Summary

In order to make Galaxy content immediately useful in Ansible Tower, we're building a POC that adds a *survey spec* to roles. A *survey spec* is metadata describing the variables required to execute the role, including each variable's data type, optional default value, and an optional list of valid choices.

The intention is for a survey spec to closely follow the format and specifica

[2018-07-31 17:58] jeffhunter opened #43506 "Add support for redirect and fixed-response actions to elb_application_lb"
##### SUMMARY

Add support for redirect and fixed-response actions to elb_application_lb

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

elb_application_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Amazon has added support for redirect and fixed-response action to Application Load Balancers:

https://aws.amazon.com/about-aw

[2018-07-31 18:02] #43505 closed, assigned to alikins

[2018-07-31 18:25] HD650 commented on #28772
@FibreFoX Yes you are right, the error message here is not clear enough for users to solve this problem. I can try to add some sanity check here and print a more meaningful message if a password is invalid.

[2018-07-31 18:36] djadk84 commented on #31656
still happening in the current release version of ansible

ansible 2.6.1
  config file = /home/user/.ansible.cfg
  configured module search path = [u'/home/user/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.15 (default, Jul 28 2018, 11:29:2

[2018-07-31 18:58] HD650 commented on #28772
Checked the source code of useradd.c, it seems it's not the problem of Base64, it just checks is there any `:` or `\n` in the input. But the basic idea is the same, we should feed `useradd` with hashed password otherwise it will not work. I corrected my previous comment.

[2018-07-31 19:00] stmarier opened #43508 "CloudFormation: Failed Change Sets exit too early"
##### SUMMARY
When updating a cloudformation stack with a change set, if the created change set results in no changes, the module calls `module.exit_json()` and skips further processing that would normally gather information about stack resources and outputs.

This only effects invocations where `create_changeset` is true.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudformation

#####

[2018-07-31 19:06] buggsdummy commented on #18979
Seeing this issue as well still...

[2018-07-31 19:54] strannik19 opened #43514 "lineinfile ignores regexp when using firstmatch and insertafter"
##### SUMMARY

`lineinfile` behaves unexpectedly when using `insertafter`, `firstmatch` and `regexp`. it just ignores the value of `regexp` and inserts a value right after the line it found using the regular expression in `inserafter`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

host: macOS 10.13.5
ta

[2018-07-31 19:59] trigger305 commented on #37087
This is very useful functionality.  Is it going to make it into the product?

[2018-07-31 20:07] gundalow commented on #42949
note to self: add link to index of porting page

[2018-07-31 20:25] ryansb commented on #43379
In `AnsibleAWSModule.client` is where you'll find all the connection type code. If your goal is to alter the retry config (as it seems to be in this example) I believe there's a way to merge new values into the botocore config on an existing connection. Perhaps try looking at a `dir(module.client('ec2'))` and looking for the config object to merge new settings into?

[2018-07-31 20:28] #35779 closed, assigned to nobody

[2018-07-31 20:51] clementtrebuchet commented on #42503
Hello,

You have something new on this bug, we encounter the same problem.

Thanks,

[2018-07-31 20:58] #43016 closed, assigned to nobody

[2018-07-31 20:59] sivel commented on #43449
This has been resolved by #43451

[2018-07-31 20:59] #43449 closed, assigned to nobody

[2018-07-31 21:00] #43237 closed, assigned to nobody

[2018-07-31 21:08] FibreFoX commented on #28772
@HD650 So checking for these two special chars should be sufficient, am I right? (in addition to a nicer error message) Thanks for looking into this, even sneaking into that useradd-code :)

[2018-07-31 21:14] bcoca commented on #42938
@nitzmahone this has the same issue as module_utils .. 'adjaceny' might be more desirable than normal precedence

[2018-07-31 21:16] HD650 commented on #28772
@FibreFoX yeah, I don't know any method to check whether a string is hashed or not... I will discuss with other members, maybe they have some idea.

[2018-07-31 21:19] #42706 closed, assigned to nobody

[2018-07-31 21:26] sivel commented on #42938
Assuming we do this, I think we need to move fragments into `ansible.plugins.module_docs_fragments`.

And we'll need a new `DEFAULT_MODULE_DOCS_FRAGMENTS_PATH` I'd guess.

[2018-07-31 22:00] codylane commented on #42989
I'm also affected by this

[code]

[2018-07-31 22:27] bharath23 commented on #43319
@sivel #34595 seems to be talking about py3 I am using py2.7 does the interaction hold true even then?

[2018-07-31 23:32] 1021ky commented on #40805
@sivel Thank you very much.  I understand it!

[2018-08-01 02:37] zikalino commented on #38081
closing as the new module was just merged

[2018-08-01 02:37] #38081 closed, assigned to nobody

[2018-08-01 02:52] #30393 closed, assigned to nobody

[2018-08-01 02:52] #39998 closed, assigned to nobody

[2018-08-01 02:52] #42491 closed, assigned to nobody

[2018-08-01 03:30] boyd77 commented on #36869
Hello,

All shared directories are set with root squash enabled. To change that it
would also open the system up to security vulnerabilities.

On Tue, Jul 31, 2018, 12:01 PM Toshio Kuratomi <notifications@github.com>
wrote:

[2018-08-01 04:24] abadger commented on #36869
That doesn't answer the question of why you can't set ansible to use a
non-shared directory.

needs_info

[2018-08-01 04:38] micw commented on #43237
@sivel Thank you very much for the fast fix!

[2018-08-01 05:05] #42420 closed, assigned to justjais

[2018-08-01 05:17] vfreefly commented on #7235
This is crazy. Essential functionality didn't work. I thought ansible is a serious tool

[2018-08-01 05:35] justjais commented on #38209
Integration and Unit tests are written for the respective module in the PR #43399. So, going ahead and closing the respective bug and it's queued for `2.7` release.

[2018-08-01 05:35] #38209 closed, assigned to justjais

[2018-08-01 05:58] ericwb commented on #43421
This was fixed in pull: https://github.com/ansible/ansible/pull/39578

[2018-08-01 06:04] NilashishC commented on #41200
@justjais I was able to reproduce the issue, getting this exception `"msg": "An unhandled exception occurred while running the lookup plugin 'template'. Error was a <class 'jinja2.exceptions.TemplateNotFound'>, original message: bgp/neighbor.j2"`. However, as discussed with @trishnaguha, this seems to need eyes from the Ansible Core team.

[2018-08-01 06:13] justjais commented on #42843
@jifox I hope this issue is resolved now, so going ahead and closing the bug.

[2018-08-01 06:31] sieben commented on #42431
I think you could close it now. Why do you want to wait?

[2018-08-01 06:43] nitinakula commented on #32091
Hey i had been stuck with this error since last two hours.   It helped me to solve my issue... Thank you

[2018-08-01 06:48] nbrownus commented on #32265
We are using the `redis` cache in `ansible` similar to how you would use `puppetdb` to populate service checks. This is currently done using a template over hundreds of hosts. The `ansible` run takes 10s of minutes even when in `pull` mode and `connection=local`.

`async` would likely help a bunch here. The alternative of course is to shell out. That will be our interim solution but it would be aw

[2018-08-01 07:13] wpou commented on #41960
@yungezz we resolved this issue by upgrading to Python 3.7 and Ansible 2.6.1.  Thanks for your help.

[2018-08-01 07:13] #41960 closed, assigned to nobody

[2018-08-01 07:16] nbrownus commented on #28997
This could potentially fix #32265

[2018-08-01 08:03] changchichung commented on #15321
I have the same problem , ubuntu 14.04 with ansible 2.6.2 (upgrade from ansible 1.9)

[code]
according to @kararukeys
I downgrade to 2.5.5 , But it`s still the same

[code]
any suggestions ? please ~

[2018-08-01 08:18] whojes opened #43523 "Bug when Two blockinfile tasks have the same marker"
##### SUMMARY

If two blockinfile tasks have the same 'marker', second blockinfile's 'insertafter' does not work properly. The second blockinfile task ignores its noted 'insertafter' and assumes the first one's marker(end) as its insertafter.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing special

##### OS / ENVIRONME

[2018-08-01 08:42] tiraboschi opened #43524 "Missing all_content param in ovirt_hosts_facts"
##### SUMMARY
ovirt_hosts_facts misses the all_content param and so it's not possible to get back the whole host details. ovirt_vms_facts list, for instance, has it.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_hosts_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
a list of hosts with full

[2018-08-01 08:57] pablofuentesbodion commented on #12170
Hi all,
we have detected similar issue and we can not pass the argument and use in the playbook:
serial: ${serial_mode}
but if fails with:
ValueError: invalid literal for int() with base 10: 'serial_mode'

it seems to point to this bug but would like to clarify:
* is there any workaround for this issue ??
* what is the official version with this fix ?

thanks for your help and please keep us poste

[2018-08-01 09:01] joshovi commented on #12170
have you tried {{ serial_mode }}

[2018-08-01 09:03] pablofuentesbodion commented on #12170
yes, also tried with this and same issue.

thanks, Pablo.

On 01/08/2018 11:02, Johannes Najjar wrote:

--
Oracle <http://www.oracle.com>
Pablo Fuentes | Oracle Middleware Consultant
Mobile: +34653961879 <tel:+34653961879>
Oracle Oracle Consulting

Oracle Spain | ORACLE Spain las Rozas Madrid
Green Oracle <http://www.oracle.com/commitment> Oracle is committed to
developing practices and products t

[2018-08-01 09:56] wookietreiber opened #43528 "pam_limits: add check mode"
##### SUMMARY

**pam_limits** module has no check mode.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

pam_limits

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

**pam_limits** module with check mode `-C` enabled on the **ansible** or **ansible-playbook** command line.

[code]

##### EXPECTED RESULTS

Checking to happen.

[2018-08-01 10:00] wookietreiber opened #43529 "pam_limits: add diff mode"
##### SUMMARY

**pam_limits** module has no diff mode.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

pam_limits

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

**pam_limits** module with diff mode `-D` enabled on the **ansible** or **ansible-playbook** command line.

[code]

##### EXPECTED RESULTS

A diff in the output.

[2018-08-01 10:27] piotremis commented on #30412
also in 2.5.3

[code]

remote OS:  Windows 2008R2

[code]

[2018-08-01 10:54] ocasek commented on #34154
@mkrish004c, I was testing the issue and my results were that even in GUI, when you create preallocated disk and then the template with it, all VMs with that template will have thin provisioned disk. Version of ovirt - 4.2.3.5-0.1.el7.

[2018-08-01 11:12] boyd77 commented on #36869
My use cases are to run commands against remote clients.

On Wed, Aug 1, 2018, 12:25 AM Toshio Kuratomi <notifications@github.com>
wrote:

[2018-08-01 11:17] webknjaz commented on #43486
Not any issue, only `IOError`s.

Could you please try reproducing it with the current stable version of Ansible and/or devel version?

[2018-08-01 11:25] webknjaz commented on #43485
`absent` is a valid state, but since it only affects `dest` it doesn't make sense to have `src` there. This is an invalid combination of arguments. I think it's error-prone to do such things. I'd separate that into different tasks with `when` clause instead.

-needs_triage

[2018-08-01 11:27] Igor-Lunov commented on #43486
I'll try but i don't think  something will change, error clearly states that it's looking for ipv6 socket when it's not there. I was thinking you can remediate by checking first if socket exists, and if not , skip that socket fo check. Or  check that  tcpconns.get_active_connections_count()  returns  integer and if not, fail, producing some error output for investigation. First one is preferable s

[2018-08-01 11:58] webknjaz commented on #43486
I'd check for socket in `TCPConnectionInfo` initializer and raise an appropriate exception from there I guess. But what causes it to check for IPv6 connection in the first place? Are you trying to connect to IPv6 host?

[2018-08-01 12:06] Igor-Lunov commented on #43486
i think this part of code
    source_file = {
        socket.AF_INET: '/proc/net/tcp',
        socket.AF_INET6: '/proc/net/tcp6'
    }
  def get_active_connections_count(self):
        active_connections = 0
        for family in self.source_file.keys():
            f = open(self.source_file[family])

It iterates over hardcoded dict which contain path to ipv6 socket. If you make this dictionary dy

[2018-08-01 12:32] geertn444 opened #43535 "module ios_l2_interface does not allow to configure a non-existent native VLAN"
##### SUMMARY

When trying to set the native vlan on a trunk, i get the message:

fatal: [switch]: FAILED! => {"changed": false, "msg": "You are trying to configure a VLAN on an interface that\ndoes not exist on the  switch yet!", "vlan": "999"}

This is correct. VLAN 999 does not exist on the switch. But in fact this is on purpose and it is considered a good security practice.
If you configure it

[2018-08-01 12:36] webknjaz commented on #43486
Makes sense. May I expect a PR with desired changes from you?

[2018-08-01 13:25] shayneski commented on #42784
I have this same issue regardless of invoked job verbosity levels with Tower 3.2.5, Ansible 2.5.2, and tower-cli 3.3.0. I was able to get it to run to completion by commenting out this line: https://github.com/ansible/tower-cli/blob/v3.3.0/tower_cli/models/base.py#L843 Seems to be a problem in tower-cli.

[2018-08-01 13:32] trishnaguha commented on #42264
@colin-mccarthy Thanks. Now that 2.5.7 is available, can you please try it on 2.5.7?

[2018-08-01 13:41] sivel commented on #43462
cc @jborean93 @nitzmahone

[2018-08-01 13:44] asheplyakov opened #43539 "package module fails to install/remove packages on ALTLinux"
##### SUMMARY

`package` module fails to install/remove packages on [ALTLinux](https://en.altlinux.org/Main_Page).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ALTLinux 8.1 (control node), ALTLinux 8.1 (managed node(s))

##### STEPS TO REPRODUCE

$ cat pkgbug.yml
[code]
$ ansible-playbook  pkgbug.yml

##### EXPEC

[2018-08-01 13:46] Igor-Lunov commented on #43486
Created pull request

[2018-08-01 13:51] albers commented on #42666
@sivel I tried to test your patch but I don't know how to use ansible from the sources.
So I applied the patch and copied `vmware_deploy_ovf.py` and `module_utils/vmware.py` over an existing Ansible 2.6.2 installation.

With the unpatched file, I can successfully deploy a local ova file.
With the patched module file, both a local ova file and a URL failed:

<details>
 <summary>importing a file</su

[2018-08-01 13:56] rcarrillocruz commented on #43252
net_vlan modules are specific to network devices, therefore we will not put support for Linux hosts.

[2018-08-01 13:56] #43252 closed, assigned to nobody

[2018-08-01 13:59] mmolinac opened #43541 "gcp_compute_disk lacks a field to specify 'disk type'"
##### SUMMARY
The module gcp_compute_disk doesn't have a field to specify the disk type we want a new disk to be, like `pd-standard` or `pd-ssd`.

However, `type` is a return value you get on success.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

gcp_compute_disk

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
callback_whitelist = profile_roles
allow_world_readable_tmpfi

[2018-08-01 14:12] ray-grointel opened #43543 "Dependency variables declared in 'meta/main.yml' overwrite default variables"
##### SUMMARY

Variables declared in `meta/main.yml` persist outside of `meta/main.yml`, rather then reverting to the default (outside dependency scope) variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

GNU/Linux

##### STEPS TO REPRODUCE

Playbook project layout (attached) [ansible_issue_43543.

[2018-08-01 14:12] gomker opened #43544 "Cannot set credentials for azure_rm_dnsrecordset"
##### SUMMARY

`azure_rm_dnsrecordset` does not allow setting of credentials manually

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_dnsrecordset

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Add the DNS record ignoring any *module* configuration for Azure.  If the user decides to input a

[2018-08-01 14:17] japplewhite commented on #43161
@Akasurde yes I found this issue because I had VMs of the same name residing in a different folder and they were removed/overwritten

[2018-08-01 14:45] nocive commented on #23657
The last comment pretty much sums up our experience trying to contribute to ansible.
Way to completely outcast an entire community.

[2018-08-01 14:56] raymond-grointel commented on #43543
This forces you to explicitly override variables for the dependency to avoid variables overrides in other roles `meta/main.yml` leaking in

[2018-08-01 14:59] raymond-grointel commented on #43543
If you use tags, other roles `meta/main.yml` variable overrides still get evaluated, and leaking into the tagged execution

[2018-08-01 15:13] abadger commented on #36869
I'm going to close this as we aren't getting any closer to determining a reason that you are unable to use a non-shared remote_tmp.  You might be better served working out if there is a reason on the mailing list or IRC and if there's a genuine reason that's not possible to do, filing a new bug report with that information.  I'll paste the mailing list and IRC information below.  Thanks!

List Inf

[2018-08-01 15:13] #36869 closed, assigned to nobody

[2018-08-01 15:26] jheyens opened #43550 "Ansible connection issue with SSH and private keys."
##### SUMMARY

Setup: Ansible shall be used to manage lxc container.

LXC subnet: 10.10.10.0/24
Ansible version:  2.6.2
SSH config: Contains path to internal_rsa keyfile in block for all hosts in 10.10.10.0/24; such that `ssh root@10.10.10.51` connects properly. SSH agent managed by keychain on archlinux. Keyfile is not password encrypted.

hosts.yaml
[code]

[code]
The ssh connection works, thoug

[2018-08-01 15:27] kiorky opened #43551 "HUGE performance speed/time regression between 2.4 & devel (2.7)"
last update (and test): **2018-09-27**

##### SUMMARY
Our custom roles (abusivly using ``include_role``, idk if it is the real root of this issue) take an average of double execution time with ansible devel.

##### COMPONENT NAME
- core

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
- 2.4
- devel
- 2.7

##### STEPS TO REPRODUCE
I ll try to update this issue with a reproducer repo.

<!--- Y

[2018-08-01 15:32] kiorky commented on #43551
@sivel  In our fork the code from include_role and shared vars that sits inside devel has been backported (sucessfully) to our stable-2.4 branch, so the problem is elsewhere

[2018-08-01 15:51] kiorky commented on #43551
https://github.com/kiorky/ansible_test_cases/tree/43551 on my machine takes avg 8 sec with 2.4 code, and 10 with 2.7.

[2018-08-01 15:52] itsme-narahari opened #43554 "copy module reliable failure detection...not working."
##### SUMMARY

Thank you for your time and attention in advance.

I use the anisble copy module to copy to a machine in ADHOC mode.

The copy command looks like this
[code]
The ansi_user does not have admin rights.

However when the above command runs I get the output like this
[code]
But I DO NOT get an error back.

The ansi_user should not be able to copy to the destination since the ansi_user i

[2018-08-01 16:05] kinwolfqc commented on #43082
We have the same behavior with 2.6.1.   The VM is left in a state where the IP isn't configured, but yet the control is given back to ansible, so it continues and fail.  When you try to build 2 VM at the same time, one of the two will fail this way all the time.  We eventually have to destroy the VM as even restarting the playbook won't fix it.

We are using vCenter 6.0

[2018-08-01 16:12] namasivayamcse commented on #18846
I have face the same issue as below

**Error**
[ansible-user@ansiblemaster linux-ping]$ ansible centos -m ping

_ansiblenode1 | FAILED! => {
    "changed": false,
    "module_stderr": "Shared connection to ansiblenode1 closed.\r\n",
    "module_stdout": "sudo: a password is required\r\n",
    "msg": "MODULE FAILURE",
    "rc": 1
}_
------------------------------------------------------------------

[2018-08-01 16:18] namasivayamcse commented on #28978
I have face the same issue as below

**Error**

[ansible-user@ansiblemaster linux-ping]$ ansible centos -m ping

ansiblenode1 | FAILED! => {
"changed": false,
"module_stderr": "Shared connection to ansiblenode1 closed.\r\n",
"module_stdout": "sudo: a password is required\r\n",
"msg": "MODULE FAILURE",
"rc": 1
}

**Resolution:**
I have added below entry in /etc/sudoers on the Master node & client n

[2018-08-01 16:23] mmolinac opened #43555 "gce_pd returns an error dealing with a disk created from a snapshot"
##### SUMMARY
If we want to ensure an existing disk is attached to a host with gce_pd, the module returns the following error:
[code]

**The existing disk causing the problem was created from a snapshot taken from a disk in a different project.**

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

gce_pd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
callback_whitelist = profil

[2018-08-01 17:17] thegreatjerboa commented on #42388
All these workarounds are great to know, but I think it is ridiculous assumption, and to have no possible workaround with inline ansible-playbook flags. I am now spending my day updating 40 build jobs with hacky workarounds, for breaking changes that were introduced in a patch version change! And all these builds run in short lived containers in which a single automated user has access to, so this

[2018-08-01 17:22] fabricetriboix opened #43556 "AttributeError: 'EC2' object has no attribute 'describe_iam_instance_profile_associations'"
##### SUMMARY

The `ec2_instance` module crashes with the following error message:

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError: 'EC2' object has no attribute 'describe_iam_instance_profile_associations'

I locally installed the following python modules: boto, boto3 and botocore

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAM

[2018-08-01 17:34] fxfitz opened #43557 "junos_config: override is not overriding the current configuration"
##### SUMMARY
When using `junos_config` with `update: override`, we are not seeing the module completely overwrite the running configuration in the device.  It _appears_ to be using `merge` functionality instead.

I'm not sure if this applicable, but we were using the netconf transport plugin, **not** the network_cli plugin.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

junos_config

####

[2018-08-01 17:36] webknjaz commented on #43486
@Igor-Lunov great, thanks! I've left a few review comments there, so let's move the discussion over to PR.

[2018-08-01 17:43] ederst commented on #27273
Seems to be be fixed with ansible>=2.4.0

resolved_by_pr 27972
close_me

[2018-08-01 17:45] jaxzin commented on #16725
@jctanner Can you reopen this issue? It's valid.

[2018-08-01 17:45] ederst commented on #27273
!resolved_by_pr 27972
!close_me

[2018-08-01 17:50] ryanjfrizzell opened #43558 "block exceptions ignored when referencing nonexistent facts"
##### SUMMARY
it looks, according to documentation here: https://docs.ansible.com/ansible/2.5/user_guide/playbooks_blocks.html#id2

that I should be able to handle exceptions and do something else when things go wrong

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
block
set_fact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

`
ansible-config dump --only-changed
` (no output)

##### OS

[2018-08-01 17:53] jseiser commented on #39235
@jhawkesworth

Same problem with 2.6.2

[code]

[code]

Its not just win_reboot, its anything attempting to run after win_domain fails.

Same problem exists if you attempt to promote using win_dsc as well.

[code]

[code]

[2018-08-01 18:04] #27273 closed, assigned to nobody

[2018-08-01 18:29] nitzmahone commented on #42388
Quick update: we're not ignoring this- we're looking at a few different ideas to preserve the security fix of not reading config from an unprotected cwd. Trust me, what shipped in response to the recent CVEs around this was a very measured approach compared to some of the draconian measures being floated.

That said, I'm sure we can come up with a refinement or workaround to support these "world-w

[2018-08-01 18:31] lion24 commented on #43252
Well, thanks for the support ! :P

I know this is specfic to network devices! It could have been nice if you could have give me some pointers to develop a new layer for linux hosts, but anyway. I'll reverse engineer the code and try to figure it out.

[2018-08-01 18:39] welchwilmerck commented on #38221
I've worked extensively with dynamic inventory in AWS and have gotten to all work together in one playbook - launch instances and then, based on group membership, run plays on instances.

First, use a variable to set the pattern to match in 'hosts:', not hard coding it to 'all' and then adding the pattern to '--limit'.  You'll need the pattern in more places than just 'hosts:'.
[code]
[code]
I bel

[2018-08-01 18:40] jborean93 commented on #16725
@jaxzin, normal Python modules do not work on Windows, you need to run a win_* module which is written in PowerShell. Please open one issue as a feature request if you want to see a win_pip module instead.

[2018-08-01 18:42] gundalow commented on #37049
It's by design that Edits go to `devel` and then the PR get's backported as needed.

[2018-08-01 18:43] vossenjp opened #43561 "blockinfile missing validate example"
##### SUMMARY
The blockinfile module docs say "The path to the file to validate is passed in via '%s' which must be present as in the example below." but there is no example, at least in https://docs.ansible.com/ansible/2.3/blockinfile_module.html.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

blockinfile_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS

[2018-08-01 18:45] sivel commented on #43561
Ansible v2.3 is end of life, and recent versions have this documented as expected.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-01 18:45] #43561 closed, assigned to nobody

[2018-08-01 18:49] abadger commented on #42388
@jefflill I'm working on a proposal to fix the more general problem there (that almost all warnings and errors, as well as verbose debugging type information) are going to stdout instead of stderr.  unfortunately, I keep getting pulled onto other problems...

[2018-08-01 18:59] gundalow opened #43562 "Promote `/latest/` documentation"
##### SUMMARY
We often see Google suggesting links to specific versions of documentation rather than `/latest/`.

Now we have versioned documentation we should tell search engines to prefer `latest` over (say) 2.4, or 2.5.

**Tell search engine which to use**
* Ensure `sitemap` has `/latest` first (and as the entry point)
* http://docs.readthedocs.io/en/latest/canonical.html
* https://www.mattcutt

[2018-08-01 19:02] #29614 closed, assigned to nobody

[2018-08-01 19:14] #43090 closed, assigned to nobody

[2018-08-01 19:17] vossenjp opened #43564 "validate can't be used while changing a syslog-ng include file"
##### SUMMARY

I'm editing a Syslog-NG `@include` file with "blockinfile" and I want to use `validate`.  That *requires* `%s` but running `syslog-ng -s -f %s` will and should FAIL, because the include file `/etc/syslog-ng/syslog-ng.local.conf` (note `.local`) is...an *include* file, it's really not valid by itself.  What I need to run is `syslog-ng -s -f /etc/syslog-ng/syslog-ng.conf` but if I do

[2018-08-01 19:18] mikewiebe commented on #42959
@benjdudas I added the N9k ISSU support to the module but I don't have access to a `Nexus 5596` chassis in my lab.  I am running a test on against our `Nexus 5672UP` chassis and will let you know the result.

A general note about how the ISSU support works.  The module makes use of the `show install all impact` command to determine if a `non-disruptive` upgrade is even possible.  If the command in

[2018-08-01 19:28] vossenjp commented on #43561
Fair enough, thanks for the quick reply.  (I'm not happy about my CentOS-5 either, but it's going away Real Soon Now.  Real.  Soon.)

[2018-08-01 19:29] jaxzin opened #43566 "Create a win_pip module for executing pip on Windows"
##### SUMMARY
The `pip` module exists, but only works on Linux. Please create a new module `win_pip` that provides the same functionality but on Windows.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

win_pip

##### OS / ENVIRONMENT

Windows

[2018-08-01 19:30] kiorky commented on #24228
Tbh, i use this workaround locally: https://github.com/ansible/ansible/commit/23371b5617cb02ae0edfc46ee6fc4ee8f5f0a523

[2018-08-01 19:30] bcoca commented on #43564
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The 'validate' function is only for things that can be tested BEFORE putting into place, it will cancel an update if it fails. Validati

[2018-08-01 19:30] #43564 closed, assigned to nobody

[2018-08-01 19:31] jaxzin commented on #16725
Thanks @jborean93. I created #43566 as requested.

[2018-08-01 19:38] vossenjp commented on #43564
Drat.  I actually was aware that the whole point to validate is to NOT update something if it's going to break, but I was not considering the fact that validation effectively has to be stand-alone so it can do that before the change.  Obviously my `@include` file is by definition not stand-alone.

I'll consider other ways to handle this then, thanks for the quick response.

[2018-08-01 19:38] mikewiebe commented on #42959
Here is the result of my test.  As you can see below I was able to use the `nxos_install_os` module to perform a `non-disruptive` upgrade my n5k.

[code]

In my case I was upgrading from `7.3(0)N1(1)` to 7.3(3)N1(1) which supports ISSU.

In your case, what specific image are you upgrading from / to?

[2018-08-01 19:51] thegreatjerboa commented on #42388
@nitzmahone it is same-dir-as-playbook. We have a git repo per playbook that gets run on checkin. The ansible.cfg and playbook are the top level of the repo, which is also the CWD when it runs.

[2018-08-01 19:53] bcoca commented on #42388
playbook dir is not looked at for ansible.cfg

[2018-08-01 19:59] bcoca commented on #43564
I have considered expanding validate, but it starts becoming a monster once you start supporting anything other than the simple case: 1 config file and it is testable in isolation via  a switch in utility provided by service.

For everything else you can consider a role that has a block with rescue as the actions can vary a lot :
 - did you just update 1 file, many
 - do you need to downgrade the

[2018-08-01 20:05] robinro commented on #43566
!component -lib/ansible/modules/packaging/language/pip.py
+label windows

[2018-08-01 20:12] bcoca commented on #43539
The `package` action relies on fact gathering to know the package manager, please check with 2.6 or devel as i believe we have updated it to work correctly on ALTLinux

The `apt_rpm` module does seem to exist, you can use this directly or instruct `package` via `use=apt_rpm`

[2018-08-01 20:23] tedder opened #43570 "ec2_ami_facts should take nonstrings as filter arguments"
##### SUMMARY
Booleans or numbers passed to most AWS APIs need to be cast to strings or they die. (this *might* be better fixed in `ansible_dict_to_boto3_filter_list` than in `_facts`)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_ami_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

not relevant

##### OS / ENVIRONMENT

not relevant

##### STEPS TO REPRODUCE

[code]

The seco

[2018-08-01 20:29] gundalow opened #43573 "docs search to include snippits"
##### SUMMARY

If there is any way to make your internal search engine include snippets where matches are found it might feel more "natural"  (thank Google for setting the standard)

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULT

[2018-08-01 20:29] rambleraptor commented on #43541
Hi there! Thanks for identifying this bug. We've got a fix in #42806 and hoping to get that shipped ASAP

[2018-08-01 20:48] #43312 closed, assigned to nobody

[2018-08-01 20:56] acozine commented on #42178
Thanks for looking at all versions of the docs, @dagwieers.

I looked at fixing this issue with redirects. The trouble is that someone who is currently using Ansible 2.5 or 2.4 might not realize that when they navigate to the Release and Maintenance page they are now on the `devel` docs. Anything they click from there will take them to other pages within `devel`.

I agree that old versions of the

[2018-08-01 21:11] rambleraptor commented on #29770
We've got PR #42806 currently submitted to fix this issues. We're expecting it to be merged in shortly.

[2018-08-01 21:17] anastacia-maletskaya-epam commented on #23534
Also facing this problem using Ansible 2.5.5 on Centos 6
Found related pull request #39073

[2018-08-01 21:28] manuelmorena opened #43577 "mysql_db generates error 1050 when importing database from sql file"
##### SUMMARY

FAILED! => {"changed": false, "msg": "ERROR 1050 (42S01) at line 31: Table 'API' already exists\n"}

On my first run the mysql_db module imports my init.sql file just fine.  The problem is when I rerun ansible it tries to re-import the init.sql and generates the following error:

FAILED! => {"changed": false, "msg": "ERROR 1050 (42S01) at line 31: Table 'API' already exists\n"}

It

[2018-08-01 21:39] zakabluk commented on #23534
+1

[2018-08-01 22:13] bcoca commented on #43554
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In any case this is not a bug, `ch

[2018-08-01 22:13] #43554 closed, assigned to nobody

[2018-08-01 22:22] drewk132 opened #43579 "nxos_config - invalid command - error"
##### SUMMARY

I am using the nxos_config module to push a bgp evpn vxlan configuration to multiple devices, and the playbook errors, specifying an invalid command.  I can manually copy and paste the file, and this works without issue.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I modified the path for the inventory file,

[2018-08-01 22:29] drewk132 commented on #43579
I forgot to mention that I can manually copy the contents of the file, and paste into the switch cli, and it works.

[2018-08-01 22:56] mharm001 commented on #34049
+1

[2018-08-01 23:04] geertn444 opened #43582 "module ios_l2_interface does not work on FastEthernet, TenGigabitEthernet & FortyGigabitEthernet interfaces"
##### SUMMARY

When trying to configure a TenGigabit interface in trunk or access mode, you get the rather "strange" message:

"msg": "Ensure interface is configured to be a L2 port first before using this module. You can use the ios_interface module for this."

and this while the interface is in access or trunk mode.....

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_l2_interface.py
#

[2018-08-01 23:29] cornfeedhobo commented on #23657
For anyone watching this, I've updated my last comment to include a link to the gist. We have stopped using this module for the last 3 months or so, and I would hate for it to get lost. I'm not sure if it needs updating, as we are still using 2.5.7. I hope this helps someone.

[2018-08-02 00:32] archmangler commented on #43293
Hi, any feedback on this? Without this feature we're left with the idea that it's better to implement docker containers without the docker_container module, just using docker cli wrapped in ansible. There are at current count about 3 cli parameters that the module doesn't support, all of these are requirements for the cis docker security hardening benchmark compliance.

[2018-08-02 00:43] depereo commented on #43336
Note - have now tested against 2.6 with identical results:
[code]

Still can't get devel tested - it hangs here:
[code]

[2018-08-02 00:58] jseiser commented on #42764
Is this the same issue being shown here, https://github.com/ansible/ansible/issues/39235 ?

[code]
[code]

[2018-08-02 01:13] flowerysong commented on #30084
Implemented in #39712 (as `purge_tags`, in line with other modules that have this functionality).

[2018-08-02 03:36] trishnaguha commented on #43579
@drewk132 please share your src file.

[2018-08-02 03:38] Akasurde commented on #43161
Could you please paste the playbooks used ?

[2018-08-02 03:39] trishnaguha commented on #43333
@feisa there is a tilde `~` at the bottom of your src file which is why you are getting `Invalid command`. Please remove it.
Also there is no need to use `conf t` and `end` in your config file. Ansible takes care of that.
Hence closing the issue. If the issue still persists, please reopen it.

[2018-08-02 03:39] #43333 closed, assigned to trishnaguha

[2018-08-02 03:47] hifi opened #43585 "Provide official snaps of latest releases"
##### SUMMARY
Ansible is not officially distributed as a snap and distribution packages lag behind the stable releases. It would be very helpful to have it directly packaged by the Ansible developers.

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

packaging

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Any Linux distribution with `snapd` available.

#

[2018-08-02 04:35] jlozadad commented on #43459
@istairbn do you have the latest repo updated and are you trying to install from extras or from epel? I just tried from epel on centos 7.4 and I get the option to install 2.6.2

[2018-08-02 04:40] #40529 closed, assigned to nobody

[2018-08-02 04:57] PisikeSipelgas commented on #26227
Sorry to bother again, but is there a real milestone for this?
With Ansible 2.6.2 is still not working as expected.

[2018-08-02 05:09] ganeshrn commented on #43557
@fxfitz The junos_config module relies on load-configuration netconf module that sends config in set/xml/json/text format to remote device. As [load-configuration](https://www.juniper.net/documentation/en_US/junos/topics/reference/tag-summary/junos-xml-protocol-load-configuration.html) rpc doesn't support `override` with `set` format `update:overide` is not working as expected (this needs to be do

[2018-08-02 05:31] umrikar commented on #40529
Hi @Akasurde Could you please merge this Fix

[2018-08-02 06:07] ViachaslauKabak commented on #23534
+1

[2018-08-02 06:34] tsurankov commented on #23534
+1

[2018-08-02 06:38] #43076 closed, assigned to ganeshrn

[2018-08-02 06:39] Fred-sun commented on #43544
I meet similar error, azure_rm_dnsrecordset does not allow setting of credentials manually and set credentials by export, It will run fail, but  in ~/.azure/* credentials environment run successfully.

[2018-08-02 06:56] feikesteenbergen opened #43592 "PostgreSQL: Execute SQL with an elevated role"
##### SUMMARY
I would like to be able to use a different (PostgreSQL) role to execute my SQL statements than the PostgreSQL `login_user`.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

postgresql_db
postgresql_ext
postgresql_lang
postgresql_privs
postgresql_schema
postgresql_user

## DETAILS
I'd like to be able to execute a playbook as the currently logged in user, but execute the SQL as

[2018-08-02 07:05] #43314 closed, assigned to nobody

[2018-08-02 07:07] ykachube commented on #23534
+1

[2018-08-02 07:08] kharkevich commented on #23534
+1

[2018-08-02 07:37] jborean93 commented on #43558
You can see in your output that the first task failed and Ansible ran the rescue block?

[code]

It then goes onto the 3rd task

[code]

Which fails because `ansible_local` or `ansible_local.coolness` isn't a valid var. The `|default()` filter only appplies to the last key entry so would only come into effect if `ready` is not a valid key of `coolness`. In this case either `ansible_local` or the k

[2018-08-02 07:37] #43558 closed, assigned to nobody

[2018-08-02 08:00] michaeldg commented on #36046
Is there a list of everything that needs to be done or is everything in github? Is there a backlog on documentation and roadmap?

I have been working for MariaDB for a couple of years and got confident using ansible and writing Python in the last couple of years. I may be interested to pick this up but I don't know how to estimate the amount of time needed for this.

[2018-08-02 08:02] ozgebarbaros commented on #42506
I'm also encountering with this problem in Ansible 2.6. Despite the module_stderr is empty, docker_service raises "msg": "MODULE FAILURE".

[2018-08-02 08:15] bbaassssiiee commented on #29627
Ok that would work for me. This issue can be closed.

[2018-08-02 08:17] michaeldg opened #43594 "mysql_db module does not honor custom 'socket' parameter in the configuration file"
##### SUMMARY
mysql_db module does not honor customet 'socket' parameter in the configuration file

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mysql_db

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
michael@host:~/ansible$ ansible-config dump --only-changed
michael@host:~/ansible$
Nothing was changed.

##### OS / ENVIRONMENT

Ansible OS: Ubuntu 17.10 (VM)
Server OS: CentOS 7.4

#####

[2018-08-02 08:46] Akasurde commented on #36046
@michaeldg There is no list but you can check backlog here - http://ansibullbot.eng.ansible.com/ansibot/metadata/byfile_sorted.html try find `mysql_` as keyword.

You take ownership of modules by adding yourself as maintainer in https://github.com/ansible/ansible/blob/devel/.github/BOTMETA.yml#L341-L343

[2018-08-02 09:01] SystemOutPrint opened #43595 "--force-handlers not working for handler on failed task"
##### SUMMARY
--force-handler not working

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)

##### STEPS TO REPRODUCE
__roles/rolename/tasks/main.yml__
[code]

__test.yml__
[code]

__inventory config__
[code]
__roles/rolename/handlers/main.yml__
[code]

__ansibl

[2018-08-02 10:11] zdraganov commented on #29597
Any progress or workaround on that?

[2018-08-02 10:26] rakshazi commented on #30086
Faced that issue, but fixed it with setting `subnets` and `security_group_ids`.
Remove old LB and create new one if it does not help

PS: May be better to give ability to set required VPC id like optional param?

[2018-08-02 10:42] sebastianw commented on #43130
This has been fixed in devel by commit 5850591d14fcf97f9293e05d176f8263e2e7be1a. I fixed it for stable-2.6 in https://github.com/sebastianw/ansible/commit/59dbe8f358478230b2496922bd7f9975250238b0

[2018-08-02 10:49] feikesteenbergen commented on #43592
!component lib/ansible/modules/packaging/os/portage.py
!component lib/ansible/modules/system/user.py
!component lib/ansible/playbook/role
!component test/runner/lib/diff.py
!component lib/ansible/modules/commands/command.py

[2018-08-02 11:29] dhajoshi commented on #20168
Is the something there yet ? can i use token as variable and inside requirements.yaml call it with {{ token }} ?

[2018-08-02 11:35] dhajoshi commented on #17194
Hello, is this something available ?

[2018-08-02 11:41] nerzhul commented on #43592
it's an interesting idea i'm for it.

[2018-08-02 11:59] diegosuarez commented on #14468
If anyone is still interested in a workaround, I managed to install python-apt on a compilation off-system, using the debian repos:
[code]

[2018-08-02 12:10] hkonala opened #43602 ""basic_constraints" option in openssl_csr_module throws error"
##### SUMMARY

Using "basic_constraints" option in openssl_csr_module throws an error while generating self signed ssl certificates.
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

openssl_csr_module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
HOST_KEY_CHECKING(~/.ansible.cfg) = False
##### OS / ENVIRONMENT

hostnamectl
   Static hostname:

[2018-08-02 12:12] hkonala commented on #43602
Can someone help me to figure out the correct way to use "basic_constraints" option?

[2018-08-02 12:17] kbiernat commented on #39007
Ansible 2.6.2, still not there :(

[2018-08-02 12:31] hiteshshaha opened #43604 "scalability of Ansible for patching"
##### SUMMARY

I am working with top MNC and started working on project to automate oracle patching with Ansible.
i am at POC phase right now.
anyone knows about performance of ansible if i want to patch 300 oracle database simultaneously ?
what is limitation of ansible ?

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRON

[2018-08-02 12:45] drewk132 commented on #43579
feature privilege
feature tacacs+
cfs eth distribute
feature ngmvpn
nv overlay evpn
feature ospf
feature bgp
feature pim
feature udld
feature interface-vlan
feature vn-segment-vlan-based
feature lacp
feature vpc
feature lldp
feature bfd
clock timezone EST -5 0
feature nv overlay
!
system jumbomtu 9214
!
ip multicast overlay-spt-only
!
fabric forwarding anycast-gateway-mac 0e00.0e10.0e10
!
ip pim r

[2018-08-02 12:46] drewk132 commented on #43579
the above content is generated via a jinja2 template; using a role.

[2018-08-02 13:04] japplewhite commented on #43161
---

- hosts: localhost
  # WARNING: This playbook will overwrite existing hosts!
  # Use caution when running.
  # Edit the host names, IP addresses and memory below to suit your environment
  # Memory is based on best practice minimums for the node types infra, app, master
  # and proxy. Increase as desired.
  vars:
    host1: {name: 'infra-0', ip: '172.61.186.231', memory: '8192'}
    host2: {n

[2018-08-02 13:04] japplewhite commented on #43161
"---

- hosts: localhost
  # WARNING: This playbook will overwrite existing hosts!
  # Use caution when running.
  # Edit the host names, IP addresses and memory below to suit your environment
  # Memory is based on best practice minimums for the node types infra, app, master
  # and proxy. Increase as desired.
  vars:
    host1: {name: 'infra-0', ip: '10.61.186.231', memory: '8192'}
    host2: {n

[2018-08-02 13:07] albers commented on #42666
@sivel Second try: I set up my environment according to https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-from-source and applied the pach.

[code]

Importing a local file gave the same error as above.
Importing from a URL gave a slightly different trace than reported above:

<details>
  <summary>importing  a URL</summary>
PLAY [Deploy a Virtual Appliance]

[2018-08-02 13:09] japplewhite commented on #43161
`---

- hosts: localhost
   vars:
    host1: {name: 'infra-0', ip: '172.63.186.231', memory: '8192'}
    host2: {name: 'infra-1', ip: '172.63.186.232', memory: '8192'}
    host3: {name: 'infra-2', ip: '172.63.186.233', memory: '8192'}
    host4: {name: 'app-0', ip: '172.63.186.234', memory: '8192'}
    host5: {name: 'app-1', ip: '172.63.186.235', memory: '8192'}
    host6: {name: 'app-2', ip: '172

[2018-08-02 13:13] sivel commented on #42666
I may very well have to test more.  I only tested on python3, and there may be subtle changes needed for python2.

I will say that I'm still not fully sold on this idea.  In order for this to work, we are still downloading the full contents of the OVA to the Ansible controller, and we are doing so by storing the full file contents in memory.  There is no way to really do a partial download, or to

[2018-08-02 13:21] unkaputtbar112 opened #43605 "Registering dynamic variable when using loop does not work"
##### SUMMARY
Registering dynamic variable when using loop does not work

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = /tmp/ansible-ssh-%%h-%%p-%%r
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = redis
CACHE_PLUGIN_CONNECTION(/etc/ansible/an

[2018-08-02 13:37] #43134 closed, assigned to nobody

[2018-08-02 13:37] sivel commented on #43605
We purposefully do not allow variable variables and have no intention of allowing dynamically generated variable names within register.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-02 13:37] #43605 closed, assigned to nobody

[2018-08-02 13:41] mazzystr commented on #25182
Any update to this?  I'm still seeing the problem in 2.6

$ ansible --version
ansible 2.6.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ccallega/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (defaul

[2018-08-02 13:45] sivel commented on #43604
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-02 13:45] #43604 closed, assigned to nobody

[2018-08-02 13:50] aksum opened #43607 "azure_rm_securitygroup only adds a single rule when run in a loop"
##### SUMMARY

When I try to create an Azure security group, only a single rule ends up being registered in Azure.

If `purge_rules` is enabled only last rule will show up in the Azure security group.
If `purge_rules` is not enabled only first rule will show up in the Azure security group.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- azure_rm_securitygroup

##### ANSIBLE VERSION

[code

[2018-08-02 13:52] sivel commented on #43595
I've updated the description to better reflect the desire here.

Currently, `--force-handlers` only works for previously notified handlers on successful tasks.

Due to the fact that the task fails that has the handler, the handler is never notified, and thus is never run.

So if you instead had the following, then `--force-handlers` would still run `handler2` even if the 2nd task failed.

[code]

[2018-08-02 13:59] unkaputtbar112 commented on #43605
But why does it work without the loop? That's kind of inconsistent then.

[2018-08-02 14:01] Yornik commented on #38172
This will be helpful, src is in 2.6.2 now.

[2018-08-02 14:23] #28978 closed, assigned to nobody

[2018-08-02 14:42] drewk132 commented on #43579
I will be able to update my findings tomorrow when I retry the src file push using the nxos_config module.

[2018-08-02 14:53] benjdudas commented on #42959
@mikewiebe This issue was opened on behalf of @zakstar, and currently this is only being performed on a 5K. I opened the issue against 7K as well since only the 9K was listed as supported.

Current hardware:
[code]

This does appear to be a downgrade which may explain why ISSU would not be supported:

[code]

So with the ISSU option set, if the `show install all impact` lists as disruptive it wont

[2018-08-02 14:54] ryanjfrizzell commented on #43558
I'm not sure I understand, if the exception was handled why are the runs failed?

[2018-08-02 14:59] 5t4rdu5t commented on #38715
Same issue, using ansible-playbook 2.6.2 and Debian9 guest, pyvmomi 5.5.0

[code]

[2018-08-02 15:02] bcoca commented on #43558
@ryanjfrizzell block does not handle exceptions/undefined/task definition/unreachable errors.

They ONLY handles 'task failures' aka 'when a task returns a failed result'.

[2018-08-02 15:24] ryanjfrizzell commented on #43558
I literally copied the code into the example and pushed it to my repo form here:
https://docs.ansible.com/ansible/2.5/user_guide/playbooks_blocks.html#id2. Output below, we can see that ansible still exits in error.

If we are supposed to be handling exceptions, why do the runs produce a failed result? The hope was that this didn't require me to dump everything into a custom module.

I think the t

[2018-08-02 15:26] buggsdummy opened #43610 "Add create ssh folder structure as a module option"
##### SUMMARY

If user folder doesn't exist it fails

##### ISSUE TYPE
 - Feature Idea
Add user ssh folder /home/<user>/.ssh if it doesn't exist

##### COMPONENT NAME

authorized_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ALLOW_WORLD_READABLE_TMPFILES(/etc/ansible/ansible.cfg) = False
ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_RETRIES(/etc/ansible/ansible.cfg) = 3
CA

[2018-08-02 15:39] bcoca commented on #43558
you realize the rescue is also failing? that is why it ends in error, its analogous to:

[code]

[2018-08-02 15:45] zakstar commented on #42959
@mikewiebe The device is ISSU capable and does support it however, ISSU also depends on the configuration running on the device. In this case the device has configuration that does not support ISSU.

@benjdudas The device support ISSU for both upgrade and downgrade. It is because of the configuration that it is disruptive (non-ISSU). I have performed upgrades as well (disruptive) with the same res

[2018-08-02 15:50] ryanjfrizzell commented on #43558
:sigh: I just want to know why ansible exits 2 when I use the example code too #RTFM understood.

[2018-08-02 16:00] bcoca commented on #43558
because there was an error, the example there does not succeed

but i can see how that is confusing as it is trying to explain several concepts at once, see if this clarifies it https://github.com/ansible/ansible/pull/43611

[2018-08-02 16:33] bcoca commented on #26227
@PisikeSipelgas there has been no development on this yet. It is something we want to get to, but it is not probable that a core team member can get to this soon.

[2018-08-02 16:47] ryanjfrizzell commented on #43558
Docs definitely help clear things up. Thank you for sending that my way.

I'm still curious as to why any of the rescues still cause the overall ansible run to fail (non-zero exit status). I don't see much use in rescuing if we're unable to attempt to resolve the issue via other means. If the ansible run is going to fail anyway, what's the use in rescue?

Consider a scenario where I"m using ansibl

[2018-08-02 16:51] mikewiebe commented on #42959
@benjdudas Thanks for providing the additional information.  You are correct that if you set `issu: yes` then it should only proceed if the `show install all` command indicates that the upgrade will be `non-disruptive`.  This module was only certified against `n9k` so it's possible this part is not working correctly with `n5k`.  I will test this against my `n5k` and let you know.

[2018-08-02 16:53] Gianlu opened #43612 "Unable to disable Windows Scheduled Task"
##### SUMMARY
Trying to disable a Windows Scheduled task throws an exception. The sintax to disable a task is described in documentation.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_scheduled_task
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOAD_CALLBACK_PLUGINS(/etc/ansible/ansible.cfg) = False
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /home/adminsalvo/ansible.lo

[2018-08-02 16:54] mikewiebe commented on #42959
@zakstar The `nxos_install_all` module does not currently have support for removing configuration that is disruptive and prevents ISSU.  We have considered adding support for that but there are quite a few corner cases with the different features that cause conflicts.  For now you would need to have a task to cleanup any conflicting configs before you call `nxos_install_os` in your playbook.

[2018-08-02 16:54] bcoca commented on #43558
We have been looking at 'rescued/ignored errors'  and how affect the rc,  among other things. Work to update  the play stats to reflect the nuances these mechanisms introduce is already under way.

[2018-08-02 18:03] #41383 closed, assigned to nobody

[2018-08-02 18:38] sivel commented on #43610
This should be the case already:

Please provide the failure, as well as more information about the directory structure, and whether the homedir itself exists at this time.

needs_info

[2018-08-02 19:11] ElijahLynn commented on #11050
@WoLpH Did you get a chance to work on this at all?

My text shows as black on black, not even blue on black. I am guessing that is because it is aiming for a default of a white terminal?

I think it would be good to have an `ANSIBLE_COLOR_SCHEME` of `dark` or `light`.

[2018-08-02 19:25] ndnmr01 opened #43617 "User.create_homedir with no skeleton"
##### SUMMARY

I am using the user module on AIX with ansible 2.5.2.  When the user home directory doesn't exist, but the user does, the chown_homedir fails. This appears to be due to a logic issue in user.create_homedir. The fall through of "os.makedirs" runs when the homedir is present instead of when a skeleton dir can't be found.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

user
####

[2018-08-02 19:34] ghost opened #43618 "Add detail to vmware_inventory.py inventory script's debug output"
##### SUMMARY
Add detail to vmware_inventory.py inventory script debug output to include display of the values set for various properties.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_inventory.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
This addition would provide a useful direct  check of inventory-related issues i

[2018-08-02 20:38] bcoca commented on #11050
not full color schem, but i added toggle for the prompt https://github.com/ansible/ansible/pull/42953

the rest are already configurable, i just thought that 'highlight' was not best one to keep the console prompt on

[2018-08-02 21:48] alexbaltman opened #43622 "Failure to insert rule when priority slot on existing NSG not taken"
##### SUMMARY
Module does not insert new rules when purge left to default (which is 'no') or explicitly set.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_securitygroup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### STEPS TO REPRODUCE

Create new sec group w/ default ruless plus one rule. I added this one ma

[2018-08-02 22:15] #29701 closed, assigned to nobody

[2018-08-02 22:37] #34141 closed, assigned to nobody

[2018-08-02 23:05] #38828 closed, assigned to nobody

[2018-08-02 23:10] bcoca commented on #24962
we probably need an android specific 'shell plugin'

[2018-08-02 23:58] spmp commented on #39650
I can confirm all works as expected in the wild.

[2018-08-03 02:50] mauriciodeliz commented on #42723
Hi, I'm having problems, error occurs only for some VMs. Do you have any way to fix it?

[2018-08-03 03:01] caohai commented on #42723
Hi @mauriciodeliz , what kind of environment are you using? and what error message are you getting? If you get the same two error info in this issue, I have provided workarounds above but they are far from a **REAL FIX**

[2018-08-03 03:08] zikalino commented on #42723
@mauriciodeliz before fix is available, you could try to use azure_rm_resource module to create VM via REST API, if you would like to give it a try, I can provide appropriate playbook. pls let me know.

[2018-08-03 03:08] mauriciodeliz commented on #42723
![ansible](https://user-images.githubusercontent.com/25036372/43622173-3e4caa98-96b1-11e8-9ddd-81c105baf028.JPG)

fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "No handlers could be found for logger \"msrestazure.azure_active_directory\"\nTraceback (most recent call last):\n  File \"/tmp/ansible_cjCoN7/ansible_module_azure_rm_virtualmachine.py\", line 1701, in <module>\n    ma

[2018-08-03 03:32] Fred-sun commented on #43607
Hi @aksum It may not a bug, you can try below method to create again, Thanks !
[code]
Result as below:
[code]

[2018-08-03 04:08] UntoSten opened #43624 "Ansible DNF module fails to do GPG checking when installing RPMs from filesystem"
##### SUMMARY

Ansible DNF module installs RPM packages without GPG verification even though DNF is configured to do checking on the server side. Settings in the server /etc/dnf/dnf.conf:

gpgcheck=1
localpkg_gpgcheck=1

do not help. Ansible module calls Python 2 DNF library base.py package_install() function and the packages are never verified. Unfortunately base.py API does not expose a verifica

[2018-08-03 05:45] gdpak commented on #41769
Fix merged in 2.5.7 and in 2.6 by #43540

[2018-08-03 05:45] #41769 closed, assigned to gdpak

[2018-08-03 07:00] Fred-sun commented on #43622
Hi @alexbaltman ,What do you meet fail? could you give more detail info? I have a try, but all get successfully result.
If you want to update the rule, you can run your YML, the rule name is same your want to update.
If you want to insert a new rule, you need set "purge_rules: no" and the rule name not same as have exist rule name, You can try as below:
[code]

[2018-08-03 07:57] perruche-poussin opened #43626 "Nxos"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-08-03 07:57] #43626 closed, assigned to nobody

[2018-08-03 08:07] denngie opened #43627 "nxos_vlan parse_vni causing task to take hours instead of seconds"
##### SUMMARY

Issue is present with 2.6.2 and devel version of nxos_vlan

In a n5k device with a config of ~5k lines and ~1000 vlans, the parse_vni function uses get_config which causes the task to take forever since it is running it per vlan.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_vlan
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.

[2018-08-03 08:11] aksum commented on #43607
Hi @Fred-sun,

I need to be able to add rules to security groups via vars files. This used to work...

Thanks!

[2018-08-03 08:26] Fred-sun commented on #43607
May be you need set "purge_rules: no", if the parameter is yes, it will remove any existing rules not matching those defined in the rules parameters. you can get the info from this link: https://docs.ansible.com/ansible/latest/modules/azure_rm_securitygroup_module.html?highlight=azure_rm_securitygroup
[code]

[2018-08-03 08:26] denngie commented on #43627
I don't know what the best fix is, but either executing get_config once instead of per vlan or changing the flag to utilize 'show run vlan vlan_id' both seems plausible. I have verified that 'show run vlan vlan_id' works on Nexus 5000, 7000 and 9000 as well as IOS so I do not think it will bring any compability issues.

[2018-08-03 08:30] Fred-sun commented on #43607
Update: You should set "purge_rules: no", if the parameter is yes, it will remove any existing rules not matching those defined in the rules parameters. you can get the info from this link: https://docs.ansible.com/ansible/latest/modules/azure_rm_securitygroup_module.html?highlight=azure_rm_securitygroup
[code]

[2018-08-03 08:39] perruche-poussin opened #43629 "Nxos_config randomly don't backup all lines"
##### SUMMARY

when try to backup my nxos devices (5k, 9k) ansible randomly don't backup all configuration and stop always at same line.
cli alias name serr sh int counters detailed all | i Ethernet|port-channel|Err|err | excl "= 0"

Stranger thing is that not always happen..
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIB

[2018-08-03 08:39] aksum commented on #43607
Hi @Fred-sun,

If `purge_rules` is enabled only last rule will show up in the Azure security group.
If `purge_rules` is not enabled only first rule will show up in the Azure security group.

[2018-08-03 08:52] lvrfrc87 opened #43630 "ERROR! The requested handler 'reload networking' was not found in either the main handlers list nor in the listening handlers list"
##### SUMMARY

On Cumulus OS, randomly happens that the network reload throws an error. Everything works ok when the playbook is run a second time

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Cumulus

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[co

[2018-08-03 09:15] Fred-sun commented on #43607
Hi @aksum ,Thanks your report this bug, You are right, It get successfully result on ansible 2.5.6, but fail on ansible 2.6.2. Now, if you want you this function, you can update your ansible to 2.5.6/2.5.7, method: sudo pip install ansible[azure]==2.5.6
Anyway, I will tracking this bug until it been fixed, Thanks !

[2018-08-03 09:16] Fred-sun commented on #43607
Hi @aksum ,Thanks your report this bug, You are right, It get successfully result on ansible 2.5.6, but fail on ansible 2.6.2. Now, if you want to use this function, you can update your ansible to 2.5.6/2.5.7, method: sudo pip install ansible[azure]==2.5.6
Anyway, I will tracking this bug until it been fixed, Thanks !

[2018-08-03 09:29] mannyci opened #43633 "Group vars for two group with same var name are not attached to the host"
##### SUMMARY
Group var for a host which is in two groups is not attached to the host, it gets only the last group and its vars added in group_vars

For example:
The group_var -
playbooks/test/group_vars/group1/somevar
playbooks/test/group_vars/group2/somevar

The inventory -
[group1]
testhost
[group2]
testhost

In this setup the groupvars for somevarattached to the host only for group2.

##### IS

[2018-08-03 09:30] Fred-sun commented on #43622
Hi @alexbaltman Thanks your report this bug, You are right, It get successfully result on ansible 2.5.6, but fail on ansible 2.6.2. Now, if you want to use this function, you can down ansible version to 2.5.6/2.5.7, method: sudo pip install ansible[azure]==2.5.6
Anyway, I will tracking this bug until it been fixed, Thanks !

[2018-08-03 09:57] #40418 closed, assigned to nobody

[2018-08-03 10:00] indicolite commented on #43214
sorry for late.
I saw the previous environment is damaged by someone, and reinstalled the 2.4.6.0 version from https://releases.ansible.com/ansible/
got below message. seems okay.
I'll find some more later.
thanks.

[root@CMP097 ~]# ansible --version
ansible 2.4.6.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/p

[2018-08-03 10:09] indicolite commented on #43214
[root@CMP097 ansible-2.5.7]# ansible --version
ansible 2.5.7
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible-2.5.7-py2.7.egg/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Aug 18 2016,

[2018-08-03 10:10] indicolite commented on #43214
I'll then close it. thanks

[2018-08-03 10:10] #43214 closed, assigned to nobody

[2018-08-03 10:13] denngie commented on #43627
Noticed it is using the flag '| section vlan.vlan_id', and noticed in my device that it is much slower compared to 'show run vlan vlan_id', after modying the flag to use this syntax the task "only" was quicker, but still unacceptable:
[code]

[2018-08-03 10:42] aparedero opened #43637 "k8s_raw module shows openshift missing Python client even all dependencies are satisfied"
##### SUMMARY
Trying to creating a configmap trough k8s_raw module it shows the following error, even satisfying dependencies and Python version:
[code]
Dependencies in docs are openshift==0.4.3 , PyYAML>=3.11 and Python>=2.7
https://docs.ansible.com/ansible/2.5/modules/k8s_raw_module.html
This is my current libraries version:
[code]

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
k8

[2018-08-03 10:49] aparedero commented on #43637
This is not deprecated module for managing kubernetes cluster

[2018-08-03 11:20] fabianvf commented on #43637
Are dependencies for other modules being picked up properly?

[2018-08-03 11:21] fabianvf commented on #43637
Also the deprecated tag is because k8s_raw was renamed to k8s in 2.6

[2018-08-03 12:36] bitozoid opened #43639 "Docker version check error"
##### SUMMARY

Docker component is querying version the wrong way. The component asks for:

[code]

but IMHO should ask for:

[code]

https://github.com/ansible/ansible/blob/32c01644d4cc25ca822d1116ef742821f602103e/lib/ansible/plugins/connection/docker.py#L139

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins/connection/docker.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code

[2018-08-03 13:17] soar commented on #42388
[code]
is **NOT** working for me, still getting
[code]
with `ansible 2.6.2`

[2018-08-03 13:29] kanes115 opened #43640 "Ansible git action does not fetch the newest repo after rebasing"
##### SUMMARY

ansible `git` action does not fetch the newest repo after rebasing.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS
##### STEPS TO REPRODUCE

ansible task is as follows:
[code]

- create branch `test_branch` and add some commits
- run ansible script (look above) - we've got repo in `repo_di

[2018-08-03 13:49] mostfunkyduck opened #43641 "service_facts module should report whether a service is enabled"
##### SUMMARY

The service_facts module only reports on whether or not a service is running.  It would be good to know whether it's enabled as well

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

service_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS
##### STEPS TO REPRODUCE

Run service_facts, observe the output

[code]

##### EXPECTED RESULTS

th

[2018-08-03 13:50] #36199 closed, assigned to rcarrillocruz

[2018-08-03 13:54] mostfunkyduck opened #43642 "service_facts module should allow specifying a single service or subset of services to check"
##### SUMMARY

service_facts takes a relatively long time to run, which can be annoying when you have to do it multiple times just to check a single service or subset of services.  It would be good if you could specify a single service or a list and save time by having it check just those
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

service_facts
##### ANSIBLE VERSION

[code]

##### CON

[2018-08-03 13:58] sivel commented on #43642
bikeshed, I think I'd prefer `name` instead of `services` to stay standard with what we use elsewhere.

[2018-08-03 14:14] pcahyna commented on #43642
bikeshed, `name` is singular, but here one gives a list. Is there any other facts module which accepts a list of names under a `name` parameter? AFAICT, facts modules with a `name` parameter accept only a single value.

[2018-08-03 14:17] pcahyna commented on #43642
Another issue with names is that `service_facts` returns a service name like `sshd.service` for systemd, where the `service` module accepts just `sshd`. It would be good if `sshd` were accepted in the proposed `services` parameter of `service_facts` as well.

[2018-08-03 14:59] AJ-Acevedo commented on #42843
I'm surprised to see this issue closed without any further validation or testing. Someone reports a potentially critical bug that one person is unable to reproduce and the ansible project owners close the GitHub Issue?

[2018-08-03 15:04] abadger commented on #42388
As I asked before... Does it actually pick up the config file despite
printing that warning?

The logic was printing the warning even if it was used due to
ANSIBLE_CONFIG.￼

[2018-08-03 15:06] abadger commented on #42388
#43583 fixes the warning and should be merged later today to devel (backports to follow)

[2018-08-03 16:13] sbernhard commented on #39227
I agree. Looks like that BLOCK .. RESCUE is not working completely. Had the same issue with the junit callback which marks such BLOCK .. RESCUE as a failed test - which it shouldn't be in my eyes.

[2018-08-03 16:15] gomker commented on #43544
I would also like to note similar issues are affecting the Azure Inventory `azure_rm.py` I had to manually strip out other authentication mechanisms due to incompatibilities

[2018-08-03 16:41] drewk132 commented on #43579
I pulled syntax via the "show run" command, and updated my .j2 template.  when i generated the new configuration files, and pushed them via the nxos_config module, using the new files generated via the updated .j2 template, the playbook ran error free.

I might be missing some documentation, but I have not been able to find syntax information that the nxos_config module requires from a source file

[2018-08-03 16:56] jgeorgeson commented on #24740
thanks @ezegolub, I removed both the `connect_args['profile_name']=` and the `del(connect_args['profile_name'])` and it seems to go ok with that. The only gotcha I'm finding is I can't use `AWS_PROFILE` env variable because `sts.connect_to_region()`  still tries to find the profile in `~/.aws/credentials`.

[2018-08-03 17:14] samdoran commented on #37984
I have a working fix (plus tests!). Took me down a long rabbit hole, but it was enlightening. I would appreciate testing/feedback with #39304. I want to get this out in the next 2.5 and 2.6 releases.

[2018-08-03 17:28] srgvg commented on #27351
FYI this is also biting the openshift-ansible problem, see https://github.com/openshift/openshift-ansible/issues/9018#issuecomment-410316084

[2018-08-03 17:30] justjais commented on #42843
hello @AJ-Acevedo I tried to reproduce the issue with the similar scenario and wasn't able to reproduce the same and had commented on the issue, but since then I didn't receive any update/reply from @jifox and as a result, I went ahead and closed the bug.
But, if the issue is still reproducible user can go ahead and reopen the issue.

[2018-08-03 17:39] #42388 closed, assigned to nobody

[2018-08-03 17:39] mfish82 opened #43645 "IOSXR_CONFIG Currently Commits After Every Command Sent, Even When In a Hierarchical Command Structure (Using Parents) Which Causes the Module to Fail"
##### SUMMARY
[https://github.com/ansible/ansible/issues/40919](url)
Referencing prior bug report where issue was reported fixed. Still is happening

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iosxr_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/home/mfisher/.ansible.cfg) = False
DEFAULT_EXECUTABLE(/home/mfisher/.ansible.cfg) = /bin/bash
DEFAULT_HOST_LIST(

[2018-08-03 17:40] #43447 closed, assigned to nobody

[2018-08-03 17:44] kermitshort commented on #32496
I'm getting this too, Ansible version 2.6.1.  Given the position of the carriage return and newline (I.E. inside the double quotes) it looks as though the carriage return characters are being interpreted as part of the username...this will obviously fail.  I've double checked my files to ensure they aren't Windows style line endings, and they are not.  This is extremely frustrating!!

[2018-08-03 18:18] gtirloni commented on #29461
I cannot reproduce the error with Ansible 2.5.5 and 2.6.2 while creating a *new* container. The specified sha256 is correctly pulled and started.

What I can reproduce is that a change in the sha256 is not detected, if the container is already running with a different sha256 image. Ansible reports that everything is as it should be and the task is ok'ed. Ansible should have started a new container

[2018-08-03 18:26] mhalano commented on #42431
Feature already implemented in latest devel version.

[2018-08-03 18:26] #42431 closed, assigned to nobody

[2018-08-03 19:08] gomker commented on #43544
This seems to be a larger issue affecting any Azure module. The same error is occurring for `azure_rm_security_group` and I am logged in via `az login`

```Cannot use api-version and profile parameters at the same time```

[2018-08-03 19:26] ansiblejunky commented on #40511
@ryansb I suggest we re-open this issue as a result of the info from @GoodMirek.  The boto3 and botocore versions he had were more recent that yours, and as a result hit the same issue I did. The problem is more with the fact that boto3 and botocore now require the `region` parameter.

[2018-08-03 19:27] mikewiebe commented on #42959
@benjdudas Based on the results of my test, I am seeing the same behavior on my `n5k`.  When I set `issu: yes` it proceeds with a disruptive upgrade.  The fix should be simple enough so I will open a PR soon with a fix.

[2018-08-03 19:49] sivel commented on #43633
What are the contents of your `group_vars` files?

needs_info

[2018-08-03 19:51] sivel commented on #43630
This error indicates that you have not defined a handler named `reload networking`.

On the first run, the task results in a change, causing ansible to attempt to locate a `reload networking` handler.  On the 2nd run, no change is made, so ansible does not try to locate this handler.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2018-08-03 19:51] #43630 closed, assigned to nobody

[2018-08-03 20:28] orderedchaosdev opened #43652 "with_nested with list of lists is appending list when it shouldn't"
##### SUMMARY

When using with_nested with a nested list of lists the nested list is appended to the first item.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

with_nested
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

Run the following playbook

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-08-03 20:35] orderedchaosdev commented on #43652
also if you do something like
[code]
Then you get
[code]

[2018-08-03 20:39] orderedchaosdev commented on #43652
If I need to treat the nested part as different from first part this can create issues. since I wanted a nested loop where I can tell what's from the outer part of the loop list_1 items vs the inner loop which is list_2 items.

[2018-08-03 20:44] sivel commented on #43652
This may be unexpected, however it is intended.  The `nested` lookup has an implicit flatten on the result.

As a result of this, I'd recommend using the `product` filter introduced in ansible 2.5 instead of `with_nested`:

[code]

This should produce the functionality you are looking for.  Going forward (2.5+) we are recommending switching away from many of these lookups, and to using filters whi

[2018-08-03 20:44] #43652 closed, assigned to nobody

[2018-08-03 20:51] sivel commented on #43585
Start of a `snapcraft.yaml`:

[code]

[2018-08-03 21:14] nicolaibaralmueller commented on #42388
Having the same issue today after upgrade. We are using this in production so right now our customer reports don't work. Please provide a fix for this.

[2018-08-03 22:15] jg159357 opened #43653 "win_domain_computer does not check for existing object"
##### SUMMARY

When running playbook with win_domain_computer module, task does not check if computer object already exists resulting in failure if nothing need changed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_domain_computer

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu from windows store 1604.2018.510.0 controlling Windows 10 2016 LTSB

##

[2018-08-03 23:22] geertn444 opened #43654 "module ios_vlan does not work on FastEthernet, TenGigabitEthernet and FortyGigabitEthernet interfaces"
##### SUMMARY

When using ios_vlan module on VLANs that have only the above interfaces, parsing of the VLANs present on the switch fails.
A simple check for the existance of a vlan fails:

    - name: Ensure VLAN exists on switch
      ios_vlan:
       vlan_id: 3
       state: present

show vlan:

2    VLAN0002                         active    Gi1/0/27
3    VLAN0003                         active

[2018-08-03 23:41] ElCoyote27 commented on #29728
Ansible 2.4.6 + RHEL 7.5 (SElinux in permissive mode) + Infoscale 7.4, same issue.
Any ack from dev?

[2018-08-04 02:32] abadger commented on #42388
This has now been fixed in devel via https://github.com/ansible/ansible/pull/43583   Backports for 2.6 and 2.5 are in the two PRs https://github.com/ansible/ansible/pull/43648 and https://github.com/ansible/ansible/pull/43649 and the backport has also been merged to stable-2.4 should there be another 2.4.x release.

What is in the fix?
* Documentation explaining the security risk and pointing to t

[2018-08-04 05:03] hifi commented on #43585
Built the snap on Xenial, so far looks okay.

[code]

[2018-08-04 05:51] gundalow commented on #36046
@michaeldg also

[2018-08-04 07:08] hifi commented on #43585
For reference: to get all `ansible-*` top level commands working as-is without the snap `ansible.` prefix, there's a public appeal process for the snap store described here: https://forum.snapcraft.io/t/commands-and-aliases/3950

[2018-08-04 11:34] momura3 opened #43656 "win_user: An error is output when I attempt to lock Administrator, but the process succeeds."
##### SUMMARY

An error is output when I attempt to lock Administrator, but the process succeeds.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible is running from Amazon Linux2
(amzn2-ami-hvm-2.0.20180622.1-x86_64-gp2 - ami-e99f4896)
Target host is Windows Server 2016
(Windows_Server-2016-Japanese-F

[2018-08-04 11:36] jheyens commented on #43550
If it helps:

[code]
works.

[2018-08-04 14:02] priyankaprabhune26 commented on #37984
Can you please let us know what need to change here for the ansible v2.5.4?
---
- hosts: "{{ hosts }}"
  vars_prompt:
    - name: "hosts"
      private: no

[2018-08-04 14:10] priyankaprabhune26 commented on #37984
Can you please suggest what needs to do to get this fix for the ansible v2.5.4?
---
- hosts: "{{ hosts }}"
  vars_prompt:
    - name: "hosts"
      private: no

[2018-08-04 14:12] badnetmask opened #43657 "nios_network: Option vendor-encapsulated-options can not have a use_option flag"
##### SUMMARY

While using the nios_network module, defining option 43 (vendor-encapsulated-options) on a given network, the following error is shown:

"msg": "Option vendor-encapsulated-options can not have a use_option flag", "operation": "update_object", "type": "AdmConProtoError"

I was able to temporarily workaround by defining an exception on the NIOS code. It's possible that there are other

[2018-08-04 14:20] badnetmask opened #43658 "nios_network and nios_zone modules does not modify anything"
##### SUMMARY

I understand that the nios_network and nios_zone modules have been written as a way to add/remove networks, but I would like to also use them to modify objects that already exist. Is that on the road map at all?

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nios_network
nios_zone

##### ANSIBLE VERSION

[code]

[2018-08-04 15:29] Oloremo commented on #29718
Is nobody interested? This is must-have feature!

[2018-08-04 16:33] sumkincpp commented on #27748
Any possibility that this feature request may be reopened?

Certainly, for complex modules reusing `module_utils` in filters and modules would be life saving.

[2018-08-04 16:57] #19177 closed, assigned to nobody

[2018-08-04 18:47] lyz-code opened #43663 "include_role doesn't work under local_action"
##### SUMMARY

`include_role` doesn't work under `local_action`, the role get's executed on the remote host.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role
local_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Stretch

##### STEPS TO REPRODUCE

Create the following playbook structure

[code]
Being the playbook `main.yml`:

[cod

[2018-08-04 20:32] dsgnr commented on #27268
Is this still an issue in 2.6.2?

	ansible 2.6.2
	  config file = /etc/ansible/ansible.cfg
	  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
	  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
	  executable location = /usr/bin/ansible
	  python version = 2.7.15rc1 (default, Apr 15 2018, 21:51:34) [GCC 7.3.0]

Here

[2018-08-04 20:49] dsgnr opened #43665 "Ansible date variable not correct"
##### SUMMARY

ansible_date_time.date not reporting correctly.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Not 100% sure which module this applies to...

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

	ansible-config dump --only-changed
	ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
	ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=60s
	A

[2018-08-04 20:52] dsgnr commented on #43665
I'd also like to point out that the date is clearly wrong here also:

	---
	- hosts: localhost

	  tasks:
	  - debug:
	      msg: "{{ ansible_date_time }}"

Output:

	TASK [debug] **********************************************************************************************************************************************************
	ok: [localhost] => {
	    "msg": {
	        "date": "2018-08-01"

[2018-08-04 20:55] #40910 closed, assigned to nobody

[2018-08-04 23:59] saneejmc1 opened #43667 "UnicodeDecodeError: 'utf8' codec can't decode byte 0xac in position 783: invalid start byte"
##### SUMMARY
Error "UnicodeDecodeError: 'utf8' codec can't decode byte 0xac in position 783: invalid start byte" on Ansible copy module to copy

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION
[code]

[2018-08-05 04:57] frankhjung commented on #39215
I think assumptions are being made about the order when listing the values of the structs inside lists. (eg Load Balances).

"CPython implementation detail: Keys and values are listed in an arbitrary order which is non-random, varies across Python implementations, and depends on the dictionary’s history of insertions and deletions."

Source: https://docs.python.org/2/library/stdtypes.html

[2018-08-05 05:26] gaddman opened #43670 "User locking is not idempotent"
##### SUMMARY
When locking an already locked user Ansible reports a change.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
user.py

##### ANSIBLE VERSION
[code]
Bug introduced by PR #37962

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Tested on Ubuntu 16.04, but applicable to other *nix platforms.

##### STEPS TO REPRODUCE
Run the following playbook multiple times.
[code]

##### EXPECTED

[2018-08-05 05:49] andreaso commented on #43665
This appear to be a case of Ansible's fact caching behaving in a non-obvious/non-desirable way.

`ansible_date_time` comes from the setup module, and appear to be treated just like any other fact.

No idea if there is a non-trivial way to get Ansible to ignore the cache for certain facts.

[2018-08-05 08:16] #17935 closed, assigned to nobody

[2018-08-05 09:32] lsh-0 commented on #24110
in my case it was specifying a namespaced package: `herecura/vivaldi-ffmpeg-codecs`

[2018-08-05 10:47] dsgnr commented on #43665
Hmm, yeah. Completely removing the Redis configuration from the ansible.cfg file seems to have resolved that.

Running `ansible -m setup localhost` seems to clear it too.

I have been unable to see from the documentation whether there is a way to lower the cache TTL for certain facts so far.

Maybe it isn't a bug with Ansible, but I presume there some way to invalidate the cache for certain facts

[2018-08-05 11:08] andreaso commented on #43665
Might be possible to improve the situation somewhat by having your playbook explicitly call the setup module, together with its `gather_subset` parameter. That way you would only need to gather a subset of the facts on every run, and keep the cache advantage on the rest.

[2018-08-05 11:29] felixfontein commented on #43293
There's already an issue for this #29578, and someone is working on it here: #36889

[2018-08-05 11:50] felixfontein opened #43679 "docker_container: allow to specify properties to not restart container for if these are changed"
##### SUMMARY
Currently, if a container is already running with correct image and name, and some other values change (such as environment), the container is restarted with the new values. That's not always what is intended by the user.

In my use-case, I have a lot of production containers (with our applications) managed by Ansible. Sometimes, I want to add new environment variables (or drop deper

[2018-08-05 13:40] archmangler commented on #43293
Hi @felixfontein , I commented on issue #29578, it appears the solution alluded to there never made it into the docker_container module? I've tested with ansible 2.3, 2.4 and 2.5 and the only recognised feature is the "capabilities" parameter.

[2018-08-05 13:47] ckotte commented on #42384
This could be fixed with this simple check in systemd.py:
[code]

[2018-08-05 14:05] felixfontein commented on #43293
You can see in #36889 that it was never merged, so it will also not be in any released Ansible version. (Also, that PR only exists since March 2018, so it would have never made it into Ansible 2.3, 2.4 or 2.5.)

[2018-08-05 14:49] paylocity-sflanders opened #43680 "win_psmodule should allow specifying a specific version of a module"
##### SUMMARY
In most automation processes you don't want to always get latest because you need a guarantee on what bits are used for a process.   Without this ability we are forced to build it ourselves to create those guarantees in our ansible playbooks and roles

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_psmodule

##### ANSIBLE VERSION
2.6
[code]

##### CONFIGURATION

##### OS

[2018-08-05 17:18] matonb opened #43686 "Add module parameter to control Puppet agent noop switch"
##### SUMMARY
Current puppet module overrides `puppet.conf` noop setting by forcing '--no-noop' switch which may not be expected or desired.

Add a parameter to allow user to control noop mode, or honour local puppet agent configuration.

noop: Undefined - Use agent configuration
noop: true - Add --noop switch to cmd
noop: false - Add --no-noop switch to cmd

Note: Ansible check mode always runs w

[2018-08-05 21:32] jborean93 commented on #43656
Because you are connecting with the Administrator account and subsequently locking it, Ansible is unable to run the cleanup command and close shell WinRM tasks as the account is no longer valid and Windows will reject. At a basic level here is what Ansible does to execute a module;

1. Open a shell
2. Start a command that runs the exec wrapper
3. Send the module data over the stdin pipe
4. Get the

[2018-08-05 21:32] #43656 closed, assigned to nobody

[2018-08-05 21:33] #43381 closed, assigned to nobody

[2018-08-05 21:49] #32437 closed, assigned to nobody

[2018-08-05 23:21] #42838 closed, assigned to nobody

[2018-08-06 01:55] debianmaster commented on #23786
[sorry to hijack this thread] . is it possible to delete  lines which are NOT matching.   ?

[2018-08-06 02:55] yuwzho commented on #43544
@zikalino Would you please take a look?

[2018-08-06 03:01] yuwzho commented on #43195
Welcome to contributing, of course you can submit your PR to [preview modules](https://github.com/azure/Azure_preview_modules), @rdtechie !

[2018-08-06 03:05] sidharrell commented on #28380
can confirm this fixes it:
[code]

[2018-08-06 03:25] ptux commented on #27293
@alex-left

I couldn't reproduce.

without `follow` option, it' worked.

[code]

in your log, it seems that you were downloading a directory.

I suggest that **simplify** your code and run it again.

[2018-08-06 04:18] jamescassell commented on #42929
Not sure there's a robust way to work around this than always quoting the value.  What if it starts with some number of zeroes?

[2018-08-06 05:01] ganchandrasekaran opened #43697 "Make stdout_callback in cfg take more than one input"
##### SUMMARY

At the moment stdout_callback in the cfg file can take in only one value. But it would be good to have this produce result with combination of more than one value. For Instance "stdout_callback = selective" prints out only the status for each machine. Where as "stdout_callback = json", prints a lot of value in JSON format along with the status for each machine. If I can specify "std

[2018-08-06 06:32] gdpak commented on #43137
@IPyandy Please reopen if you are able to reproduce it.

[2018-08-06 06:32] #43137 closed, assigned to gdpak

[2018-08-06 06:44] jborean93 commented on #39235
I have figured out why I never came across this issue, because the Netlogon service is not running post promotion, any authentication protocols that rely on the Negotiate protocol (like NTLM, Kerberos, CredSSP) will fail. My test playbooks always ran under Basic auth which is handled on the WSMan layer and not through the Netlogon service. I need to implement a good way to get beyond this as part

[2018-08-06 07:02] theodotos commented on #37949
@realged13 your last comment saved me some endless hours of troubleshooting. Thanks!

Also the examples at *nios_host_record.py* are incomplete. Here's a complete example:

[code]

[2018-08-06 07:13] akshatacj opened #43701 "The module vmware_deploy_ovf was not found in configured module paths. Additionally, core modules are missing. If this is a checkout, run 'git pull --rebase' to correct this problem"
I found the ansible module to deploy a vmware VM using ovf template. But when i try to run the same on my ubuntu 16.04.4 machine with pyvmomi installed i get this error.

:~# ansible-playbook ovf.yml
 [WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match 'all'

PLAY [localhost] *********************************************************

[2018-08-06 07:20] akshatacj opened #43702 "Error: The module vmware_deploy_ovf was not found in configured module paths. Additionally, core modules are missing. If this is a checkout, run 'git pull --rebase' to correct this problem"
I found the ansible module to deploy a vmware VM using ovf template. But when i try to run the same on my ubuntu 16.04.4 machine with pyvmomi installed i get this error.

[code]
However i have kept the py file in library dir which is present int the same path as the source file.
[code]
Can you please help me in debugging this?

Thanks in Advance!

##### SUMMARY

##### ISSUE TYPE

 - Bug Report
 -

[2018-08-06 07:50] asheplyakov commented on #43539
@bcoca

devel still tries to use `apt` as a package manager:

`$ ansible -m setup localhost 2>/dev/null |grep ansible_pkg_mgr
                "ansible_pkg_mgr": "apt",`

[PkgMgrFactCollector](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/pkg_mgr.py#L107) checks for `Altlinux` `ansible_os_family`, however the actual value of `ansible_os_family` seems to be `ALT

[2018-08-06 07:58] jborean93 commented on #39235
Here is a PR that should solve this issue https://github.com/ansible/ansible/pull/43703. I am still planning on creating an action plugin to incorporate an automatic reboot in the 1 task.

[2018-08-06 08:01] alex-left commented on #27293
ok, I will try. thanks

[2018-08-06 08:09] alex-left opened #43704 "ssh fail in template module with default tmp path"
##### SUMMARY
follow this issue, please, closed by the bot because the original reporter did not answer but I was.

https://github.com/ansible/ansible/issues/17935

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

ubuntu, alpine

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

not fail

##### ACTUAL RESULTS

follow the closed is

[2018-08-06 08:21] theodotos opened #43705 "lookup plugin 'nios_next_ip': "'Connector' object has no attribute 'handle_exception'""
##### SUMMARY
I am trying to use the 'nios_next_ip' and I get "'Connector' object has no attribute 'handle_exception'"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nios_next_ip lookup plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

The `ansible-config dump --only-changed` returns nothing. No ANSIBLE_* environment variables) are set.

##### OS / ENVIRONMENT

Ansible OS:

[code]

[2018-08-06 08:26] ctorgalson commented on #11524
This precise issue appears to exist in Ansible 2.6, as does the workaround.

This _always_ fails for me:

[code]

This runs successfully:

[code]

IMO, this should be fixed--it's incredibly confusing for there to be _one_ undocumented word in _one_ module that can't be used as an object property name.

[code]

[2018-08-06 08:29] ronaldvanrij commented on #30866
Ran into this error today too (albeit several months later). The command executes fine on a regular shell, but used in Ansible to does not. I'd rather use this oneliner, rather than having to go through temporary shell scripts, which would simply clutter my Ansible setup and make it not very readable. Does anyone have any other suggestions?

[code]
Task:
[code]
Output:
[code]

[2018-08-06 08:42] gdpak commented on #43320
Hi @sheffner1226

There are two options in module 'ios_l2_interface' for modifying trunk vlans on a L2 port
- trunk_vlans
- trunk_allowed_vlans

'trunk_vlans' option is used to ADD a vlan(or range) to already existing a vlan(or range).
When a port is configured in trunk mode then by default all vlan ids are allowed on a switch port.
so when you tried to ADD [3-5] to existing vlan list [1-4094] , T

[2018-08-06 08:51] Akasurde commented on #43702
@akshatacj You are specifying `vmware_deploy_ovf` as module name in playbook but `library` directory contains `vmware_ovf_deploy` which is different.
Please rename the module.  Thanks.

[2018-08-06 08:51] #43702 closed, assigned to nobody

[2018-08-06 08:51] #43701 closed, assigned to nobody

[2018-08-06 08:58] ogmueller opened #43708 "ansible mount options not matching "real" options"
##### SUMMARY

when using the setup to see ansible information on a server (`ansible server -m setup`), I get mount information like

[code]

The problem I have now is the options part of it. This string is different than the output of the `mount` command, which outputs the following

[code]

I am not sure, if this is intentional or not, but I would like to be able to differentiate a "normal" moun

[2018-08-06 09:00] Akasurde commented on #43618
@jeremyollis Thanks for reporting this issue. I am not following you here, could you please be more elaborate by giving an example of this use case ?

Thanks.

[2018-08-06 09:03] Akasurde commented on #38715
@5t4rdu5t This is related to Windows Template. For Debian, could you please check if `open-vm-tools` is installed and configured or not on Debian template. Also, check `perl` package. If you still face issue, please open a new issue.

[2018-08-06 09:08] Daniel-Sanchez-Fabregas commented on #43653
Could you try it again with `--diff` and `--check`? :
[code]

Just to get more of the internal state.

[2018-08-06 09:37] yodatak commented on #42255
Sorry i can reproduce this issue so i close !

[2018-08-06 09:37] #42255 closed, assigned to nobody

[2018-08-06 11:28] grzesart1978 opened #43712 "ansible 2.6.2 vmware_guest problem with clone a virtual machine from template and customize"
##### SUMMARY
 I have problem after update ansible from 2.5.2 to 2.6.2 with vmware_guest module. I can't clone virtual machine from template. I get error.

  On ansible 2.5.2 everything works fine.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
2.6.2
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
The full traceback is:
Traceback (most recent call la

[2018-08-06 11:39] Uwila commented on #42929
On second thought, I guess a case could be made that this is not a problem with Ansible, but it's just how YAML is supposed to be interpreted.

[2018-08-06 11:39] #42929 closed, assigned to nobody

[2018-08-06 11:48] mannyci commented on #43633
@sivel I have same variable defined in two group_vars path for a role and in task I am using with_items. But only one group_var is attached to the host. When I expect it to attach all the variables and iterate through them.

[code]

When I just run a debug the var1. Also the group_names to see which are the groups the host attached.

[code]

[2018-08-06 12:06] VladimirKrylov opened #43713 "Unable to import dump of template with zabbix_template module"
##### SUMMARY

The JSON dump of the template have extra data
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

module: zabbix_template
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]
##### THE PROBLEM IS
Extra data is added at the top level of JSON when dumping template usi

[2018-08-06 12:14] jamescassell commented on #43633
This behavior is by design.  There is no such thing as targeting a group and having those group_vars win.
Variables are determined on a per-host level and are the same no matter how you target those hosts in a play.

https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2018-08-06 12:16] zakstar commented on #42959
@mikewiebe It is fine as of now if `nxos_install_all` does not support removing configuration.

May I ask for an ETA on the fix please?

[2018-08-06 12:51] mannyci commented on #43633
@jamescassell Thank for explaining it, I somehow missed it. Though I have seen a lot of old issues similar to this. And I thing this might be something we need in standard ansible way to merge both the vars? Rather using some other way to merge them.

[2018-08-06 12:58] #43524 closed, assigned to nobody

[2018-08-06 12:59] realged13 commented on #37949
@theodotos No problem.  You can also set a provider variable so the provider line is only one line and declaring it.

[2018-08-06 13:01] denngie commented on #43627
Or maybe even better, only get config for the vni if the vni parameter was configured?

[2018-08-06 13:05] vadimkuznetsov commented on #26763
This bug was about missing options user-domain, group-domain, project-domain, role-domain. Existing domain options does not cover all use cases. And IMO misused. In implementation domain option has two meanings, depending is project options is specified. (which is not reflected in documentation.
Bug https://github.com/ansible/ansible/issues/42911 is trying to fix it. Again proposed fix is overload

[2018-08-06 13:11] vadimkuznetsov commented on #42911
Proposed fix is overloading domain option. Instead new options user_domain, group_domain, project_domain, role_domain are needed.

[2018-08-06 13:31] denngie opened #43718 "ios_vrf slow with big config"
##### SUMMARY

When using ios_vrf, the function parse_interfaces increases the time for the task from ~20 seconds to ~120 seconds which causes connection timeouts with default values and a config of ~12k lines, 200 VRFs and 500 interfaces
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_vrf
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = F

[2018-08-06 13:42] denngie commented on #43718
I know this is related to the ansible host's performance, my machine at the moment only has 1 vCPU (Virtualbox) and 1GB RAM, but I still think the easiest solution would be only parsing the interface configuration if needed i.e. when either interfaces or associated_interfaces is entered as module parameter input? I can't see the benefit of getting and working with information that is not needed

[2018-08-06 13:47] denngie commented on #43718
I tried modifying the get_config to only get the relevant config with flags = ['| section ^vrf definition |^interface .+'] added, shaved off roughly 20%. Just wanted to see the difference when config lines was reducted to ~800 on my device.

[2018-08-06 14:20] sivel commented on #43633
There is functionality to merge hashes (dicts), but not for other types of vars.  There is a feature PR to add merge capabilities to arrays/lists, but I don't see us adding any such functionality for scalar values.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-06 14:20] #43633 closed, assigned to nobody

[2018-08-06 14:24] #43663 closed, assigned to nobody

[2018-08-06 14:26] sivel commented on #43697
I see the point you are trying to make, but unfortunately callback plugins do not function like you are expecting.

A stdout callback plugin is responsible for the output of data to stdout, so stacking multiple stdout callbacks would simply output info from the multiple stdout callbacks in their own format.

If you want functionality to change the output of a callback, please submit a feature requ

[2018-08-06 14:26] #43697 closed, assigned to nobody

[2018-08-06 14:29] drewk132 commented on #43579
I noticed that when I run this play multiple times, the output always seems to believe the remote network device has changed.  Could I be doing something incorrectly?

[2018-08-06 14:41] #39284 closed, assigned to Qalthos, rcarrillocruz

[2018-08-06 14:54] sivel commented on #43640
Just as with the git cli, this is not really a safe operation to assume this should be done.  I might be able to be convinced that with `force: yes` this should work, but I think it would be much safer to place this behind a new argument.

To be a bug, I think it should mean that the module fails in this scenario.  To support retrieval of a branch that has had it's history rewritten, that should b

[2018-08-06 14:56] sivel commented on #43665
Duplicate of https://github.com/ansible/ansible/issues/22561

[2018-08-06 14:56] #43665 closed, assigned to nobody

[2018-08-06 15:00] sivel commented on #43667
Can you please provide us with the task that is failing and the output of `ansible-playbook` using `-vvv`?

needs_info

[2018-08-06 15:02] sivel commented on #43704
Please provide a full description here in this issue.

needs_info

[2018-08-06 15:12] bcoca commented on #43697
@ganchandrasekaran note that you can enable the syslog_json callback (which is not 'stdout' type) and it will run at the same time as other callbacks, you just cannot have more than 1 deal with the main output of Ansible.

[2018-08-06 15:15] mwperina commented on #34154
Michale, is it a bug or feature?

@michalskrivanek

[2018-08-06 15:15] D3DeFi commented on #43713
Hi, this is internal behaviour of ansible (or rather `register` function?). You will always get something like `changed`, `failed` alongside the result. It gets complicated even further when you try to register multiple results of `loop` :)

For example, with `shell` module you need to use `{{ var1.stdout }}` if you want raw output from executed command.

Using `{{ template_dump.template_json }}`

[2018-08-06 15:17] D3DeFi commented on #43713
close_me

[2018-08-06 15:17] #43713 closed, assigned to nobody

[2018-08-06 15:18] mprahlkamps commented on #27707
I have the same issue on ansible 2.6.1.
Also trying `customization: hostname: "{{ machine }}"` on a linux machine.

Any fix?

[2018-08-06 15:18] yaplej commented on #38420
I'm still trying to get it to work in 2.6.2.  Its a total hack job but it seems like its close to running.  There is probably a much better solution like detecting the line "Enter macro commands one per line. End with the character '@'." and going into sendonly mode as previously mentioned but I was not sure where that could be done.

In /modules/network/ios/ios_config.py created a modified functi

[2018-08-06 15:19] bcoca commented on #11524
@ctorgalson it is not 'one' it is 'anything that matches a python method on that object'.

the dot notation object.update is a 'jinja2 ism' which works this way:
 if a .method call fails:
    look at ['method'] and return this

Which works fine until you try to use a key that matches an existing method or attribute for an object, in this case a 'dictionary' in python which has an `update()` method

[2018-08-06 15:37] bcoca commented on #43539
i did that change, tests seem to be ok with it, but i need to download alt and do more corner cases

[2018-08-06 15:55] mvorisek opened #43720 "YAML inventory configuration - invalid hosts definition but without any warning"
##### SUMMARY
Hosts can be defined in YAML format and if there are no host specific varaibles, it is very easy to end up with the configuration like this:

[code]

but this format is not accepted by Ansible and only the first hosts will be managed! No warning, Ansible output shows all 3 hosts (on one 1 line) can very easily mistake current users than everything is ok.

The working format is:
[code

[2018-08-06 15:59] bcoca commented on #29728
The only thing we have to go on is `invalid selinux context: [Errno 95] Operation not supported` which is pretty generic and we cannot rely on to deal with this particular issue. Without access to a working system with veritas I'm not sure there is much we can do.

[2018-08-06 15:59] ckoester2 commented on #42911
With regards to the above comment from @vadimkuznetsov and issue #26763, I'm not sure if this is addressing the same issue

This issue (#42911) is about the fact that in order to maintain idempotency, when the desired "greenfield" action is to create a user, we check for the users existence prior to creating it:

*If* user joesmith does not exist, *then* create user joesmith *else* (update/do noth

[2018-08-06 16:09] eric-b-hymowitz opened #43721 "ansible_ssh_extra_args is ignored when ansible_ssh_executable is set"
##### SUMMARY

When ansible_ssh_executable is defined, the params only contain ansible_ssh_common_args, but not ansible_ssh_extra_args.  This appears to be a duplicate of (closed) issue #20862, but the problem is happening again.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 20
DEFAULT_TIMEO

[2018-08-06 16:12] sivel commented on #43720
Your format is technically valid.

The syntax you used defines `hosts` as a string, which is allowed:

[code]

The result of your syntax produces a string joined by spaces: `10.0.0.10 10.0.0.20 10.0.0.30`

This is just the way that the YAML parser is designed to operate.

I'm not sure there really is any valid validation we can do to catch this, unless we prevent supplying a string to `hosts` in t

[2018-08-06 16:13] sivel commented on #43721
Duplicate of https://github.com/ansible/ansible/issues/43502

[2018-08-06 16:13] #43721 closed, assigned to nobody

[2018-08-06 16:19] michalskrivanek commented on #34154
“Raw” cannot be thinprovusioned

[2018-08-06 16:31] mathias-muench commented on #38299
The following patch solved the problem for me:
[code]
with "boto3_version": "1.4.6"

[2018-08-06 16:37] mvorisek commented on #43720
Yes, that is right. I came to this problem already when I was starting using Ansible with inventory in yaml. Now I needed some edit and hit this problem again. I think many others do to. Always in inventory file.

I would propose to require:
a) hosts defined only by keys (so appending ": {}" will be always required) - not sure if `hosts: xxx` should be valid or not.
b) reject or at least warn a us

[2018-08-06 16:45] ctorgalson commented on #11524
Is this documented anywhere but in this issue? In Ansible's docs or Jinja2's?

[2018-08-06 16:57] saneejmc1 commented on #43667
17:46:02 failed: [xxxxxxx] (item={u'name': u'xxxxxxxxxxxx_DDL'}) => {
17:46:02     "changed": false,
17:46:02     "item": {
17:46:02         "name": "xxxxxxxxxxxx_DDL"
17:46:02     },
17:46:02     "msg": "UnicodeDecodeError: 'utf8' codec can't decode byte 0xac in position 783: invalid start byte"
17:46:02 }

[2018-08-06 16:57] jg159357 commented on #43653
Sure can @Daniel-Sanchez-Fabregas.  Output below.

[code]
[code]
[code]
[code]

[2018-08-06 16:59] sivel commented on #43667
Please provide the task definition as well.  Without a way to reproduce this, I'm unsure how feasible it will be to actually resolve.

If possible please create a minimal reproducer that showcases this issue that we can run.

needs_info

[2018-08-06 17:01] VladimirKrylov commented on #43713
Thank you very much! I read very inattentively the documentation. Sorry for disturb. I am ashamed)

[2018-08-06 17:03] bcoca commented on #11524
http://jinja.pocoo.org/docs/2.10/templates/#variables

[2018-08-06 17:07] jaggaer-zsmith commented on #34764
Same effected in ansible 2.5.5

[2018-08-06 17:18] pffs opened #43725 ""'rawunicodeescape' codec can't decode bytes in position 4091-4093: truncated \\uXXXX"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should output the device's configuration
##### ACTUAL RESULTS

Traces back

[code]

[2018-08-06 17:25] Nirkus opened #43726 "[gluster_volume] Enable configuration of global volume options"
##### SUMMARY
Enable configuration of global volume options

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
module gluster_volume

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Controller is Debian 9 ("stretch").
Servers configured for glusterfs are CentOS 7.5 using glusterfs 3.12.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Configure global co

[2018-08-06 18:29] mmolinac opened #43728 "jenkins_plugin with state=present updates every plugin with new version available."
##### SUMMARY

I have a list of plugins that have to be present, and I mean it: Only their presence is to be verified.
It happens that `jenkins_plugin` *updates* the plugin even when you specify `state=present`, when this should only happen when you specify `state=latest` or you specify `version=X.Y.Z`, being it a different version that the current one.

##### ISSUE TYPE
 - Bug Report

##### COMPO

[2018-08-06 18:35] ctorgalson commented on #11524
Thanks @bcoca. I've created a PR to fill in the gap you referred to above.

[2018-08-06 18:38] gundalow commented on #43725
Wonder if https://github.com/ansible/ansible/pull/43507 could have caused this?

[2018-08-06 18:43] Qalthos commented on #43725
@gundalow #43507 isn't in 2.6 yet (#43536) and wouldn't be present in ansible 2.6.1 anyway.

[2018-08-06 18:51] umeboshi2 opened #43730 "Unable to use ansible-galaxy login with python3"
##### SUMMARY

Using ```ansible-galaxy login``` with python3 gives me this error:
```ERROR! Unexpected Exception, this is probably a bug: the JSON object must be str, not 'bytes'```

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/freespace/home/umeboshi/workspace/Toys/ansible.cfg) = ['/freespace/home/umeb

[2018-08-06 18:56] gundalow opened #43731 "nxos_command & nxos_feature: raise TypeError(repr(o) + \" is not JSON serializable\")\nTypeError"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_command
nxos_feature

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
##### ACTUAL RESULTS
test/integration/targets/nxos_file_copy/tests/cli/sanity.yaml:82

[code]

test/integration/targets/nxos_file_copy/tests/cli/sanity.yaml:90
[code]

[2018-08-06 19:05] abenokraitis commented on #42959
I spoke to @mikewiebe today and he said he plans to create the PR shortly. Since this specific module requires specific Cisco hardware to test, it requires Cisco’s ACK and testing before proposing to include into Ansible.

[2018-08-06 19:09] vadimkuznetsov commented on #42911
@ckoester2 I do agree that search must be in the same domain as grant call (set/update). looking at https://docs.openstack.org/openstacksdk/latest/user/usage.html#openstack.cloud.OpenStackCloud.grant_role grant_role call.
It assumes user, group, project, (role ?) are in the same domain.
openstack cli  does not make this assumption.
openstack role add [-h] [--domain <domain> | --project <project>]

[2018-08-06 19:09] ansiblejunky commented on #21890
Just my 2 cents on this topic since I just saw this. An Ansible Role should behave similar to a modular object. The `defaults` and `vars` for Ansible Roles are `private` variables only used by the Role to perform the tasks it needs. If a Role wants to make something `public` then the Role should do so by using the `set_fact` module.  I feel this is how it should be. The workarounds stated above ar

[2018-08-06 19:17] ElCoyote27 commented on #29728
Hi,
I could share a VM (rhel7.5 + vxfs) that exhibits this problem.
If interested, please let me know what hypervisor format you'd like (KVM, VBox or VMware).
The.important thing here is that SELinux is in permissive mode and this breaks ansible on vxfs. Is there any way to gather more debug logs? Anything I can assist with?

[2018-08-06 19:38] Nirkus opened #43732 "command module fails when used with integer list element in argv"
##### SUMMARY
Using module command with an integer as a list element of argv fails, probably while trying to serialize the integer.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Controller: Debian 9 ("stretch")
Servers configured via ansible are CentOS 7.5.

##### STEPS TO REPRODUCE

[code]

###

[2018-08-06 19:39] theodotos commented on #37949
@realged13 yes I figured that out in the end :).

[2018-08-06 19:43] mcandre opened #43733 "Missing Void Linux distribution / family"
##### SUMMARY

Void Linux is missing from the distribution family map variables:

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/distribution.py

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
distribution

##### ANSIBLE VERSION
devel

[2018-08-06 19:47] jaggaer-zsmith commented on #30240
I know this is closed, but just curious. The manual provisioning process within AWS supports tagging both the instance and volumes with a checkbox. Would it not be possible to add an option

tag_volumes: yes

Or something to that effect. Although the suggestions above do work, its several additional tasks that now need to run in order to tag the volume from the initial ec2 creation. Thoughts?

htt

[2018-08-06 19:53] IronicBadger commented on #30600
I'm still seeing this bug in 2.6.2

[2018-08-06 19:53] amaciel81 opened #43735 "cloudwatchlogs_log_group: If a Log Group exists, the retention policy is not updated"
##### SUMMARY

If a Log Group exists, the retention policy is not updated

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

cloudwatchlogs_log_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(nothing)
##### OS / ENVIRONMENT

Ansible: MacOS X 10.13.6
Target: Ubuntu Linux 16.04

##### STEPS TO REPRODUCE

1. Create manually a Log Group without a retention policy
2. Run a playbook that

[2018-08-06 19:58] mcandre opened #43736 "Missing Mageia distribution"
##### SUMMARY

Mageia is missing from the distribution family map variables:

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/distribution.py

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
distribution

##### ANSIBLE VERSION
devel

[2018-08-06 20:00] mcandre opened #43737 "Missing OS family for OpenWrt"
##### SUMMARY

OpenWrt has a distribution entry in the OS map variables, but lacks a family entry.

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/distribution.py

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
distribution

##### ANSIBLE VERSION
devel

[2018-08-06 20:16] mcandre opened #43739 "Missing OS families for DragonflyBSD, OpenBSD, NetBSD"
##### SUMMARY

DragonflyBSD, OpenBSD, and NetBSD have distribution entries but lack family entries.

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/distribution.py

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
distribution

##### ANSIBLE VERSION
devel

[2018-08-06 20:16] mcandre opened #43740 "Missing Haiku distribution / family"
##### SUMMARY

Haiku is missing from the distribution family map variables:

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/distribution.py

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
distribution

##### ANSIBLE VERSION
devel

[2018-08-06 20:20] mcandre opened #43742 "Missing DilOS distribution, family entries"
##### SUMMARY

DilOS is missing from the distribution family map variables:

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/distribution.py

Note that DilOS is derived from Solaris, and uses the apt package manager.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
distribution

##### ANSIBLE VERSION
devel

[2018-08-06 20:26] mcandre opened #43743 "Missing MINIX distribution, family entries"
##### SUMMARY

MINIX is missing from the distribution family map variables:

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/distribution.py

Note that MINIX uses the pkgin package manager like NetBSD.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
distribution

##### ANSIBLE VERSION
devel

[2018-08-06 20:31] mikewiebe commented on #42959
@benjdudas I am hoping to have a fix out for review on Wed, 8/8

[2018-08-06 21:12] bcoca commented on #29728
we always set selinux permissions as even if a system is in currently in 'permissive' it can change to strict and suddenly become inoperable.

That aside, have you tried adding it to this setting?
https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-selinux-special-fs

[2018-08-06 21:18] ericwb opened #43745 "vmware_host_vmnic_facts: NoneType object has no attribute nicDevice"
##### SUMMARY
The vmware_host_vmnic_facts module throws a Traceback when run in my environment.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 ansible/lib/ansible/modules/cloud/vmware/vmware_host_vmnic_facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using default config.

##### OS / ENVIRONMENT
Running Ansible on Mac OS X against target of ESXi 6.5.0

##### STEPS TO REPRODUCE
I

[2018-08-06 21:20] ElCoyote27 commented on #29728
Yes, I have.
Here's the relevant section of my global ansible config file:

[root@rh7x64 ~]# grep -B5 vxfs /etc/ansible/ansible.cfg
[selinux]
# file systems that require special treatment when dealing with security context
# the default behaviour that copies the existing context or uses the user default
# needs to be changed to use the file system dependent context.
special_context_filesystems=nfs

[2018-08-06 21:27] #43732 closed, assigned to nobody

[2018-08-06 21:36] bcoca commented on #11524
me too :-)

[2018-08-06 21:57] warthog9 commented on #43745
Do you happen to know if you are on ESXi 6.5.0a or ESXi 6.5.0 update 2?

[2018-08-06 22:45] mcandre opened #43746 "Which package management module should DragonflyBSD distributions use?"
##### SUMMARY

I see Dragonfly listed in the supported Ansible distributions, however I am unsure which package management module to use in order to have Ansible install packages with DragonflyBSD's dport package manager.

https://docs.ansible.com/ansible/devel/modules/list_of_packaging_modules.html

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

packaging modules

##### ANSIBLE V

[2018-08-06 22:49] ericwb commented on #43745
@warthog9 6.5.0 (Build 4564106)

[2018-08-06 23:29] linouxis9 commented on #33045
Any update on that?

[2018-08-07 00:26] Im0 opened #43748 "ios_facts: rawunicodeescape codec can't decode bytes in position 4092-4093: truncated \\uXXXX"} with gather_subset: config"
##### SUMMARY
`ios_facts` with `gather_subset: config` is returning `{"msg": "'rawunicodeescape' codec can't decode bytes in position 4092-4093: truncated \\uXXXX"}`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

Tested with 2.6.x and 2.7 devel.

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* Ubuntu 16.04 LTS (4) and (5)
* RHEL 7

##### STE

[2018-08-07 00:38] Im0 commented on #43748
More information.  The switch had crypto pki configuration on it.  Once removed the self signed certificates this problem went away.

Eg something like:
[code]

[2018-08-07 01:39] abenokraitis commented on #23248
cc @ikhan2010

[2018-08-07 02:03] ikhan2010 commented on #23248
cc @rcarrillocruz

[2018-08-07 02:03] brandonkal opened #43750 "Regression: ansible-vault edit discards file changes with other editors"
##### SUMMARY

Ansible Vault no longer works with other editors such as Atom. Using `ansible-vault edit group_vars/all/vault.yml` with another editor specified (beyond vi) will open the file unencrypted. But saving it out back to the vaulted file fails. This results in my changes being lost and unpredictable ansible behaviour.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-vault

#

[2018-08-07 02:10] depereo commented on #43336
Have been able to test against devel now, and get the same result.

[2018-08-07 02:36] zikalino commented on #41159
this issue is already fixed. different resource used in test

[2018-08-07 02:36] #41159 closed, assigned to nobody

[2018-08-07 02:39] #41520 closed, assigned to yungezz

[2018-08-07 05:11] ptux commented on #30159
description of the issue is a bit hard to understand.

show me the code if anybody still concerns this.

[2018-08-07 05:46] NilashishC commented on #42503
Resolved by #43540

[2018-08-07 05:46] #42503 closed, assigned to NilashishC

[2018-08-07 06:41] #29578 closed, assigned to nobody

[2018-08-07 06:44] Akasurde commented on #43745
resolved_by_pr #43754

[2018-08-07 06:44] Akasurde commented on #43745
@ericwb I backported change to Stable-2.6.

[2018-08-07 06:45] jainnikhil30 opened #43755 "ios_facts throwing an "IndexError: pop from empty list""
##### SUMMARY
Trying to use ios_facts, but getting the following stack trace:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Following are the details of network switch for which ios_facts was run

[code]
##### STEPS TO REPRODUCE
Use ios_facts on the above mentioned network switch,

##### EXPECTED RESULTS
It should be

[2018-08-07 06:52] #41435 closed, assigned to nobody

[2018-08-07 07:15] Haitianisgood opened #43757 "execut some command in shell script by shell module get stuck"
ENV
[code]
I execute a shell scprit in remote server by ansible shell module.But the command get stuck  and CPU load is very high!

My shell script:

[code]

[2018-08-07 07:32] susumuf opened #43759 "ansible-2.6.x.tar.gz doesn’t contains correct file of ansible_release.py."
##### SUMMARY

Released binaries v2.6.x(0,1 and latest) of tar.gz doesn’t match a file of zip. It makes error pip3 install ansible under windows.
A way reproduce as below;

    creating build\lib\ansible\module_utils
    copying lib\ansible\module_utils\acme.py -> build\lib\ansible\module_utils
    error: can't copy 'lib\ansible\module_utils\ansible_release.py': doesn't exist or not a regular file

[2018-08-07 08:02] Twoflower2 opened #43763 "Question: Python module/API support in Ansible on HPE NonStop"
##### SUMMARY

We use Ansible from Debian to HPE NonStop. HPE NonStop have some Python restrictions noted later. The goal is to find out if any of the unsupported Python modules/APIs are used by Ansible.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Python on managed system - HPE NonStop

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

From: Debian 9
To: HPE NonStop L-series, OS is

[2018-08-07 08:48] mmolinac commented on #43728
@jtyr I can confirm you that both my local Python and the one that comes with brew's Ansible are 2.7.15 :

[code]

[2018-08-07 09:00] spender0 opened #43766 "maven_artifact module. Failed to retrieve the maven metadata file from libs-snapshot-local"
##### SUMMARY

maven_artifact module cannot retrieve snapshot artifacts with versions containing timestamp whereas plain mvn cmd works perfectly fine:
mvn dependency:get -DremoteRepositories=https://artifactory.example.com/artifactory/libs-snapshot-local -DartifactId=ARTIFACTNAME -DgroupId=com.foo.bar -Dpackaging=ear -Dversion=1.9.7-SNAPSHOT

Example of a snapshot version: ARTIFACTNAME-1.9.7-20180

[2018-08-07 09:06] dhananjaysathe opened #43767 "Grafana playbook json marshall/unmarshall broken on python 3.x"
When using the playbook with python 3.5 as  base the return needs to be sensitized before being passed to json.loads
TypeError: the JSON object must be str, not 'bytes'
The issue is for example in https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/monitoring/grafana_datasource.py#L284 on a local branch changing r.read() to r.read.decode('utf-8') fixes the issues
cc @seuf

[2018-08-07 09:15] engrasif commented on #31867
I have tried with use_private_ip=yes, but it is still not working for me.

[2018-08-07 09:17] zakstar commented on #42959
@abenokraitis @mikewiebe Thank you for the update.

[2018-08-07 09:34] yaweiw commented on #31867
@engrasif we will take a look. thanks.

[2018-08-07 09:35] yaweiw commented on #31867
@zikalino

[2018-08-07 09:42] ghost opened #43768 "netapp_e_storagepool to allow setting of post first config parameters"
##### SUMMARY
Storage pools creation should allow setting the
- Preservation capacity
- Capacity alerts
- Modification priorities
These are customization available in the UI once the storage pool is created
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

storage/netapp/netapp_e_storagepool
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[2018-08-07 09:44] yuwzho commented on #40976
resolved_by #41683

[2018-08-07 09:46] yuwzho commented on #42215
+label feature_request
-label bug

[2018-08-07 09:54] cochiseruhulessin commented on #39941
Also affects 2.4, 2.6

[2018-08-07 11:16] ScarabMonkey commented on #43159
I have exactly the same issue - but can note that this has previously worked - so I believe this is a regression in the latest ansible.
Ansible version: 2.6.1
Target OS: CentOS Linux release 7.4.1708
LVM version: 2.02.171(2)-RHEL7

I am confident that the last time I had this working was in ansible 2.5.4 and it has failed since upgrading to 2.6.1

[2018-08-07 11:59] ghost opened #43770 "Unexpected behaviour while having `tasks/main.yml` and `tasks/main.yaml` at any role"
##### SUMMARY
I think we do face an unexpected behaviour regarding loading actions definition.
Having the following tasks files:
- `main.yml`
- `main.yaml`

The only `main.yml` is loaded. I do think, the expected behaviour is to throw an exception and accept only one of these, so either `main.yml` or `main.yaml`.

##### ISSUE TYPE
 - Bug Report
- Not expected behaviour

##### COMPONENT NAME
The fo

[2018-08-07 12:05] Daniel-Sanchez-Fabregas commented on #43653
Certainly it's a bug.
Workaround: Add a description.

I have to test it, but seems to be solved changing the default from `""` to `$null` in:
https://github.com/ansible/ansible/blob/7b7709ae75c1b33823cf683408df170331141d82/lib/ansible/modules/windows/win_domain_computer.ps1#L28

And diff need to be sorted to behave properly.

+bug

[2018-08-07 12:10] ghost opened #43772 "netapp_e_facts to collect facts about serial and network interfaces"
##### SUMMARY
the netapp eseries module that collect device facts should retrieve:
- device serial
- controllers serial
- mgmt interfaces details especially status up/down and mac address
- iscsi interfaces details especially status up/down and mac address

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEP

[2018-08-07 12:12] ScarabMonkey commented on #43159
I just tested with 2.6.2 - same problem.
ansible-playbook 2.6.2

[2018-08-07 12:53] amaciel81 commented on #43735
I believe the tag are subjected to the same issue: they are set if you create the log group, but they are not updated if the log group exists but doesn't have it set (you can check using ListTagsLogGroup, edit using TagLogGroup/UntagLogGroup.

[2018-08-07 13:07] mmolinac commented on #43728
@jtyr Anyway, I just noticed that the bug I'm reporting is not the same you referred.
In my case, the plugin is installed when you specify 'state=present', although it is already installed, when a new version is available.
And this occurs regardless you want the new version or not.
'state=present' should mean just that, the plugin is present, but you don't have to check for new versions.

[2018-08-07 13:10] seuf commented on #43767
Hi,Thanks for your feedback.
I've included your fix in this pull requests https://github.com/ansible/ansible/pull/40402

[2018-08-07 13:14] willricardo commented on #43735
If you put overwrite true, all tags will be create.

[2018-08-07 13:19] jainnikhil30 commented on #43007
I am running into same issue with latest openstacksdk in the environment

[code]

I had the zone created:

[code]

and I had following in my playbook:

[code]
After running the playbook I got the following stack trace:

[code]

So this does look an module issue.

[2018-08-07 13:22] dan-osms opened #43775 "Add tagging capability within SQS Module"
##### SUMMARY
SQS module does not have the capability to assign tags to it.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

sqs_queue

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

This is simply a request to add tagging capabilities to this module.

[2018-08-07 14:12] gundalow commented on #43725
Possibly related https://github.com/ansible/ansible/issues/43748

[2018-08-07 14:13] sivel commented on #43759
We do not support installing ansible on a Windows host.  Ansible can only be installed on a linux/unix like operating system.

https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#control-machine-requirements

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum

[2018-08-07 14:13] #43759 closed, assigned to nobody

[2018-08-07 14:33] Qalthos commented on #43725
I'm closing this in favor of #43748 as the latter has a more detailed description and error message.

[2018-08-07 14:33] #43725 closed, assigned to nobody

[2018-08-07 14:34] sivel commented on #41157
For clarity here, about how `getpass.getuser` works; it uses the following order:

1. `$LOGNAME`
1. `$USER`
1. `$LNAME`
1. `$USERNAME`
1. `getent passwd $UID` (effectively, but done via python `pwd.getpwuid(os.getuid())[0]`)

So it prefers `LOGNAME` over `USER`.

Can you perform `echo $LOGNAME`?

needs_info

[2018-08-07 14:36] syswipe opened #43777 "Unarchive module ignores some zip archives"
##### SUMMARY
I'm trying to deploy files from zip archive to some hosts using unarchive module, but ansible ignores some archives.

##### ISSUE TYPE
- Bug Report
- Not expected behavior

##### COMPONENT NAME
unarchive module

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT

OS i'm runing ansible from: Ubuntu 16.04.4
OS i'm managing: Solaris 11.3, with Python 2.7.14

[2018-08-07 14:38] NikiSchlifke opened #43778 "Why isn't there a list comprehension filter?"
##### SUMMARY
It always strikes me as weird when I have to learn about several different unique (to ansible) methods for manipulated sequential and structured data, when living in the python ecosystem we don't need that.
I get that there probably are security concerns about ust passing it through to the python interpreter, but would a simple validator suffice to make it secure?
Is there another re

[2018-08-07 14:45] sivel commented on #43778
That functionality, the lexer for templating, is handled by an external library called jinja2.

jinja2 does not provide that functionality, largely to prevent people from trying to use the templating language as a full programming language.

However, that functionality can be achieved using:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.f

[2018-08-07 14:45] #43778 closed, assigned to nobody

[2018-08-07 14:52] riyadali1 opened #43780 ""When" Condition help for Mail Module within Playbook, Ansible"
##### SUMMARY
Hi,

I have created a yaml to update my Linux servers via yum and I want to send an email but only if the server has been changed/updated.

This is the yamI made:
[code]
Any help would be appreciated!

Thanks,
Riyad

##### ANSIBLE VERSION
Ansible 2.4.2.0

##### COMPONENT NAME

Ansible

##### ISSUE TYPE
   - Bug Report