[2018-09-24 10:40] rinoalpha0 commented on #45210
@justjais unfortunately no files are getting generated with  log_path=~/45210/ansible.log
I have increased the timeout value to 300 in the playbook, but things remain same.

Need your suggestion.

[2018-09-24 10:46] justjais commented on #45210
@rinoalpha0 respective log path I have given as example for your reference and for this case `log_path=~/45210/ansible.log` log file will be generated inside `45210` folder present in my local directory.
So, can you please set the log path in your `ansible.cfg` file with the path where you want your `ansible.log` file to be created and then run the play again.

[2018-09-24 10:55] danielmotaleite commented on #46004
!component

[2018-09-24 11:02] dagwieers commented on #45912
Not sure if this is related to my update, but I am now getting

    credssp: Received error status from the server: (3221225874) UNKOWN_STATUS 0xc0000192

[2018-09-24 11:04] BananenKeks opened #46057 "group_module: Broken pipe\r\ndebug2 Shared connection to closed.\r\n"
##### SUMMARY

SSH-Connection breaks during play with multiple hosts. I try to set up our system for inventory. While i go through my playbook, some servers just fail. This happens when i hit the part where i try to add a group for the necessary user. Though before that i issue a task to install python (see below) that doesn't break. Those two tasks are not in the same playbook. The Python part is

[2018-09-24 11:04] rinoalpha0 commented on #45210
@justjais my ansible log_path is log_path = /etc/ansible/ansible.log
but unfortunately i can't see any file getting generated name --- ansible.log
FOR YOUR REFERENCE

root@Javed:/etc/ansible# ls -la
total 116
drwxr-xr-x   5 root root  4096 Sep 24 16:28 .
drwxr-xr-x 133 root root 12288 Sep 24 12:59 ..
-rw-r--r--   1 root root     0 Aug 14 16:44 {
-rw-r--r--   1 root root 19631 Sep 24 16:05 ansible.

[2018-09-24 11:11] gundalow commented on #45970
bot_status

[2018-09-24 11:13] justjais commented on #45210
@rinoalpha0 that's strange, can you please paste your `ansible.cfg` file content here and also can you to create `ansible.log` manually in your `etc/ansible/` directory prior and then run your respective playbook and if the log's generated then kindly paste it.

[2018-09-24 11:27] lwm commented on #45911
OK, some #ansible-devel lurkers seem to think this might be useful. Will pick it up.

[2018-09-24 11:37] justjais commented on #45210
@rinoalpha0 can you please give users home directory as the log path (e.g. ~/) as currently, you are trying to create `ansible.log` file in the root directory which can be having privilege issue and then try again.

[2018-09-24 11:39] anotherthomas opened #46061 "ansible module for keycloak realms"
##### SUMMARY
There is an ansible module for keycloak clients and client templates, but none for realms.
To automate the whole setup, a module to manage realms would be really useful.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
keycloak_realm

##### ADDITIONAL INFORMATION

[code]

[2018-09-24 12:16] michalss commented on #45834
i have a sam issue, nothing helps. If i do it manyally from vcenter it works ok, dont think this is a vmware bug. Also experience a lot of more issue with linux template where after clone, it wont boot and get me error "need to load kernel first". This is very frustrating.. :( pls help

[2018-09-24 12:29] dagwieers commented on #45916
I added a new role 'windows-ad-test' to test 5 TCP ports related to AD, and included this in our playbooks everytime we start a new role requiring AD to be present, and these tests work fine. The very next task fails with the above error again.

    Server instance not found on the given port.

[2018-09-24 12:53] eikef commented on #46061
I have submitted #35844 ín February; it has been in PR limbo for a couple of months now (again). You may be able to make use of that module out-of-tree -- I can't say when the core team will have time to get to the PR again.

[2018-09-24 13:00] anotherthomas commented on #46061
Ah, I checked the issues but not the open pull requests...

[2018-09-24 13:17] acozine commented on #45964
@julienmary thanks for including all the details so we could analyze what happened here - this report will be helpful for other users who may have done the same thing.

[2018-09-24 14:15] piefox commented on #32750
Hello,

I have the same issue.

I use a RHEL 7.5 in AWS. This instance use a proxy to access to the internet.

When i try to Get www.google.com for example with the uri module, it fails.
When i use the `validate_certs: no`. It works.

Here is my configuration:

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[code]

#

[2018-09-24 14:28] grasum opened #46069 "postgresql_privs does not see already created group on remote host"
##### SUMMARY
I am trying to grant an existing group "support" new privilages on a schema using ansible. This group is not created using ansible.
I have tried with existing users and the output is the same *username*/*groupname* does not exist.

I thought this was related to the connection, but I am able to drop and create schemas.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_pr

[2018-09-24 14:29] sivel commented on #46052
As of right now, to load extra vars as YAML via direct input, requires JSON-like markup.  This would require you to utilize:

[code]

To indicate that this is YAML data.

The process at this point is to:

1. check if the value starts with `@` and load it as a YAML file.
2. check if the value starts with either `[` or `{` and load it as YAML
3. otherwise load it as `key=value` syntax.

It's possibl

[2018-09-24 14:35] sivel commented on #46004
There are indeed problems with that repository and trying to achieve your goal.

Typically speaking, a lookup plugin, should not try to import modules.  Because of the way that project is laid out, it will be functional unless it is installed *into* the ansible tree, which is also something I would not recommend.

In the end, this is a problem with the external repository, and not something that a

[2018-09-24 14:35] #46004 closed, assigned to nobody

[2018-09-24 15:10] maciejkowalczyk9ld commented on #32886
I've also came across this bug and confirm that PR #36811 fixes it

[2018-09-24 15:23] #46057 closed, assigned to nobody

[2018-09-24 15:28] sivel commented on #46054
This error is indicating that your URL did not produce an APT key file.

That URL downloads a shell script which is incompatible with the `apt_key` module.

You will instead need to use a task such as:

[code]

See https://docs.docker.com/install/linux/docker-ce/debian/ for more information.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.

[2018-09-24 15:28] #46054 closed, assigned to nobody

[2018-09-24 15:35] sivel commented on #31070
This has been resolved with a nicer error message in newer ansible versions, and will indicate which file is shadowing the name of a module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-24 15:35] #31070 closed, assigned to nobody

[2018-09-24 15:39] sivel commented on #31971
Duplicate of https://github.com/ansible/ansible/issues/11396

[2018-09-24 15:39] #31971 closed, assigned to nobody

[2018-09-24 15:48] maxamillion commented on #42114
This is unfortunately a situation we have to enforce for the sake of the yum module due to the fact that it performs comparisons on output from the `yum` command line in certain instances in order to ensure an idempotent transaction. The recommended workaround would be to use the `shell` or `command` module.

[2018-09-24 15:48] #42114 closed, assigned to nobody

[2018-09-24 15:54] sivel commented on #45833
Please try upgrading to a more recent version of Ansible.  Version 2.2 is no longer supported.  THe current stable release is 2.6.4.

https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#latest-releases-via-apt-debian

needs_info

[2018-09-24 15:55] mohammad-dabour opened #46073 "AttributeError: 'Credentials' object has no attribute 'with_scopes'\n","
##### SUMMARY

I used auth_kind application in ubuntu env compute instance. it was complaining about line 100 in  gcp_utils.py

[code]
a quick resolution is to get rid of #.with_scopes(self.module.params['scopes']))
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/module_utils/gcp_utils.py

##### ANSIBLE VERSION

[code]
ansible 2.6.4

##### CONFIGURATION

[code]

##### OS / ENVIRONM

[2018-09-24 16:08] mohammad-dabour opened #46074 "gcp_compute_instance.py replaces the network configs to default"
##### SUMMARY

gcp_compute_instance.py

with default installations for this module
it comes with
network=dict(type='dict'),
subnetwork=dict(type='dict')
which will requires to provide the values as following:
network : {key: value}
subnetwork: {key: value}
This syntax worked correctly for gcp_compute_instance_template.py module but not for gcp_compute_instance.py

I had to apply following changes

[2018-09-24 16:41] #45228 closed, assigned to nobody

[2018-09-24 16:44] aaronk6 commented on #42532
Hi @patlachance,

Thanks for looking into this. For me, it must be a different issue though, as my policy doesn’t contain any single-item lists.

Note that I load the policy from a template.

*Excerpt from playbook:*

[code]

*Template `bucket_policy.json.j2`:*

[code]

How can I see the response from the API, so I can compare my policy to what is being returned?

Thanks!

[2018-09-24 16:56] chris93111 opened #46078 "VMware: Add conversion disk to thin when vm cloned"
##### SUMMARY

vmware convert disk of vm to thin when vm deployed with template or cloned

or

convert all disk of vm with vmotion

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- vmware_guest
- vmware_vmotion

##### ADDITIONAL INFORMATION

[code]

[2018-09-24 17:00] pgrenaud commented on #29192
@spruce I having the same issue, but I found a work around. Removing the line `version: latest` and using only `state: latest` fix the issue. Here's an example:

Before, my task looked like this. Ansible didn't report any changes and no package were being updated.
[code]

After, my task looked like this. Ansible did report the changes and packages were updated.
[code]

@xcambar So, there seems to

[2018-09-24 17:28] fabianvf commented on #44504
This should be fixed with https://github.com/ansible/ansible/pull/44142

[2018-09-24 17:29] fabianvf commented on #43882
This should be fixed in 2.7 with https://github.com/ansible/ansible/pull/44142

[2018-09-24 17:37] fabianvf commented on #41955
ping @jimi-c do you have any thoughts on this?

[2018-09-24 18:07] fxfitz opened #46082 "junos_command: Task result stdout is getting truncated"
##### SUMMARY
When using `junos_command`, we're noticing that large output is being truncated from the task's result.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
junos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A. There was no output.

##### OS / ENVIRONMENT

Model: mx480
Junos: 15.1F6-S6.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

We expected to receiv

[2018-09-24 18:08] fxfitz commented on #46082
Tagging @ganeshrn as requested in IRC. :-)

[2018-09-24 18:15] rambleraptor commented on #46074
Thanks a lot for filing this issue! I'm going to be releasing some doc changes to help make this more intuitive (why do some properties take dicts?) that should hopefully clear this up a lot.

Moving forward, these two properties should definitely take in the same type of value.

[2018-09-24 18:48] demossiah opened #46083 "Add http-01 challenge placement directory to acme_certificate"
##### SUMMARY
At this time you have to use 4 tasks to complete all requirements of the acme_certificate task.

Retrieve challenges.
Create challenge directory.
Place challenge in directory.
Respond to challenge.
When going over a loop you also have to add another task to gather the challenge_data. And if you want to clean up the used challenges another task has to be executed.

This process result

[2018-09-24 19:04] mohammad-dabour commented on #46074
if i passed the network reference as dict as   it will replace it with default network instead of keeping the custom networks, the outcome will be referencing the default network , defiantly i did not go over the whole module, but i have 2 configs one for  gcp_compute_instance_template which uses dict value and it works well for me for example:
- network : {name: MYCUSTOMNETWORK}

and the other  t

[2018-09-24 19:20] maxamillion commented on #42074
!component=lib/ansible/playbook/become.py

[2018-09-24 19:35] bcoca commented on #42074
Have you looked into https://docs.ansible.com/ansible/latest/reference_appendices/config.html#become-allow-same-user ?

[2018-09-24 19:41] jborean93 commented on #45912
@dagwieers

CredSSP uses NTLM or Kerberos internally for the initial authentication process. It's more of an extension that includes various features like server authentication and finally the transfer of the user's credentials once that is complete. The v1.0.0 release added support for Kerberos but only if certain conditions are met.

Because there is no way to easily translate Windows error code

[2018-09-24 19:41] bcoca commented on #46011
sounds interesting. If adding color it should also obey the current 'nocolor' settings.

[2018-09-24 19:43] lwm commented on #46011
This would be rad :hand:

[2018-09-24 19:51] #38880 closed, assigned to nobody

[2018-09-24 20:29] nhojpatrick commented on #34522
Same issue also with 2.6.4;
##### ANSIBLE VERSION
[code]

bonic output here https://gist.github.com/nhojpatrick/51f393800ebdf48ac08f363ea24f31ea

[2018-09-24 20:59] programingnotes opened #46096 "variables in group_vars and host_vars do not load when using inventory directory"
##### SUMMARY
When following a directory structure that [mimics the one in docs](https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html#alternative-directory-layout), variables in `group_vars` and `host-vars` are not loaded.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`user` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMEN

[2018-09-24 21:33] s-hertel commented on #45828
@jimr6007 I've noticed ansible-config dump --only-changed doesn't output the inventory cache toggle (opened #46097 to add that), so I'm just checking - do you this set?
[code]
That in addition to #46008 should fix file-bases caches for foreman.

[2018-09-24 21:37] programingnotes commented on #46096
@sivel the ansible-playbook command is listed above as:
[code]

[2018-09-24 21:43] sivel commented on #46096
I am not able to duplicate this.

One thing that I notice is that you claim to have a file at `inventories/test/host_vars/all.yml` which would only work for a host called `all`.

I have a simplified structure that looks like:

[code]

46096.yml
[code]

inventories/test/hosts.ini
[code]

inventories/test/group_vars/all.yml
[code]

[code]

Can you try with this simplified format and see what happens

[2018-09-24 21:45] bcoca commented on #46096
FYI `hosts_vars/all.yml` won't work, that is expecting a 'host named "all"'

I tested and i do get any/all vars defined in group_vars/all.yml, used your info and task and it still works.

[2018-09-24 21:55] jimr6007 commented on #45828
@s-hertel thanks for your help/work on this !!

I was just about to answer your first query but let me answer your latest question first.

The following is my current config dump WITH changes I made such that your updates to foreman.py DO work. Nice !!

So, the config dump command does seem to note that I made some cache setting changes but it doesn't seem to note them all. It's a little confusing

[2018-09-24 22:01] #42978 closed, assigned to nobody

[2018-09-24 22:02] jimr6007 commented on #45828
ok, so it also works without those settings under [defaults]

with your latest proposed updates to foreman.py, the minimum needed to get inventory cache working are entries in ansible.cfg under the [inventory] section such as:

cache = yes
cache_plugin = jsonfile
cache_connection = /tmp/ansible-inventory-cache
cache_timeout = 999

[2018-09-24 22:12] jimr6007 commented on #45828
may I ask though, the json file I get at /tmp/ansible-inventory-cache
foreman_faf84s_75f7b_c2f1b45cabc16e81c44f9621c9bbef6c for example

It's clearly working since the ansible-inventory command, with no cache, takes about 25 seconds to pull 1000 hosts from my Foreman. With current cache it returns real fast, a few seconds.

In looking at the json file under /tmp/ansible-inventory-cache I was curio

[2018-09-24 22:15] acozine commented on #29302
Yes, `conn_name` is now correctly documented as a required parameter.

[2018-09-24 22:15] #29302 closed, assigned to nobody

[2018-09-24 22:59] victor5114 commented on #28768
I've got the same bug with Ansible 2.6.4

[2018-09-24 23:16] bcoca commented on #45828
each cache can be a little different, in the case of the foreman inventory plugin it keeps the result of 'quering forman' not the full inventory, it still reprocesses the data and creates hosts/groups afterwards.

The cache timeout does not need to be in the cache, just need it to compare the time of cache creation and 'now'.

[2018-09-24 23:21] #43462 closed, assigned to nobody

[2018-09-24 23:37] motorahead commented on #33410
Same issue here on  2.6.3-1.el7 when trying to start Oracle Weblogic servers. The server starts successfully and ansible exists the task, then the server is killed.

[2018-09-25 00:37] programingnotes commented on #46096
@sivel @bcoca, I have narrowed down where the issue crops up but I do not understand why it is occuring.

First, I apologize for reporting the ansible-playbook command as `ansible-playbook -i inventories/test/hosts.ini provision.yml`. I did run this command but only while debugging and that also returned a variable not defined error:

[code]

What I am using terraform's local-exec provisioner to h

[2018-09-25 01:59] jborean93 commented on #33410
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * Each task is run over SSH and are based on the terminal created for that session
   * Once the parent process is finished, the terminal is closed which then me

[2018-09-25 01:59] #33410 closed, assigned to nobody

[2018-09-25 02:05] Fred-sun commented on #28392
@zikalino

[2018-09-25 04:40] felixfontein commented on #46083
Thanks for your suggestion!

I'm not sure whether this isn't a too specific addition. In general, the module can be executed on a completely different machine than the web server itself, and in general there coud be multiple web servers serving the content for one domain name. (You might not want the module to run on all these web servers for multiple reasons: 1. to not exhaust Let's Encrypt rate

[2018-09-25 05:06] cvidal2 opened #46102 "https://2captcha.com/profile/en/support/faq/62/"
##### SUMMARY

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

[code]

[2018-09-25 05:17] Fred-sun commented on #44806
@zikalino

[2018-09-25 05:41] #46102 closed, assigned to nobody

[2018-09-25 05:46] Akasurde commented on #42417
PR https://github.com/ansible/ansible/pull/45109 is merged. @cgoeller @FlorentCoppint @Kdecherf Could you please check and let me know if it works for you ?

Thanks.

[2018-09-25 05:47] Akasurde commented on #45543
@Ashok-Mishra Could you please check if https://github.com/ansible/ansible/pull/45109 works for you and let me us know ? Thanks,

needs_info

[2018-09-25 06:08] #45901 closed, assigned to nobody

[2018-09-25 07:00] #46061 closed, assigned to nobody

[2018-09-25 09:08] jesusch commented on #44404
still an issue with 2.6.4

[2018-09-25 09:24] #45417 closed, assigned to nobody

[2018-09-25 09:48] mkrizek commented on #15729
Thanks for the bug report! This is no longer an issue with the recent versions of Ansible. As such I am closing the issue.

[2018-09-25 09:48] #15729 closed, assigned to nobody

[2018-09-25 09:49] mangellopez commented on #41484
I am getting a similar result. All my VMs created have thin provisioning. Before ansible 2.5 the VMs were created with thick type

[2018-09-25 09:59] FlorentCoppint commented on #42417
It does NOT work for me... always the same error with Ansible 2.6.4.

[2018-09-25 10:00] FlorentCoppint commented on #42417
[code]

[2018-09-25 10:06] Akasurde commented on #42417
@FlorentCoppint Fix is merged in devel that is 2.8. You might want to check this guide - https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr or you can manually copy changes to 2.6.

[2018-09-25 10:09] dagwieers opened #46108 "WinRM/PSRP: read timeout is being ignored ?"
##### SUMMARY
I noticed that we got a read timeout with WinRM/PSRP after 30 seconds. Using `ansible_psrp_connection_timeout` does not help.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
devel

##### DETAILED INFORMATION
The output of the traceback using **win_chocolatey**:
[code]

The playbook used was this:
[code]

[2018-09-25 10:53] Im0 commented on #45948
How are you getting on @FragmentedPacket ?  I'm an interested observer.

[2018-09-25 11:07] FlorentCoppint commented on #42417
It's OK with the fix!

[2018-09-25 11:09] #46014 closed, assigned to trishnaguha

[2018-09-25 11:17] aknrdureegaesr commented on #21982
The solution is a two-line change, see https://github.com/python/cpython/commit/6c961c5a5396ef125dbbc47c060272a5d12c1646 . According to https://bugs.python.org/issue29519, the fix seems to be present in Python 3.5.4, 3.6.1, and  2.7.14. I guess it's in 3.7 as well. I have successfully done that change to a virtualenv based on 3.5.3 (which has the bug).

[2018-09-25 11:17] Fotoblysk opened #46112 "Cannot remove sysvinit with apt module on debian wheezy"
##### SUMMARY
Cannot remove sysvinit with apt module on debian wheezy

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Local machine:
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.1 LTS
Release:	18.04
Codename:	bionic

Managed machine:
Distributor ID:	Debian
Description:	Debian GNU/Linux 7.11 (wheezy)
Re

[2018-09-25 11:35] Jean-Daniel opened #46113 "template module generate corrupted output when using native type"
##### SUMMARY
When using `jinja2_native = true`, the template module generate very strange and invalid output.

For instance, templating the very simple template:
[code]

outputs

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
N/A

Tested on both macOS and Linux

##### STEPS TO REPRODUCE

play

[2018-09-25 11:56] webknjaz commented on #45898
It looks like a problem on ssh side then. Have you tried running a simple ssh command without ansible in place?
Smth like `ssh -vvvvv -A bgholave@ocp-app-0.c.pr-211209.internal -- uname -a`? does it work?

[2018-09-25 11:58] webknjaz commented on #45898
Could you please also verify that it's reproducible under the latest version of Ansible?

[2018-09-25 12:01] webknjaz commented on #45963
Hello, you're using an outdated/unsupported version of Ansible. Could you please verify that it's reproducible under the latest Ansible?

[2018-09-25 12:02] bhushangholave commented on #45898
yes it works if I do simple
`ssh ocp-app-0`
I will verify this for latest ansible version.
Thanks

[2018-09-25 12:05] webknjaz commented on #45963
After a closer look I see that you execute a remote command, so the issue is not related to Ansible itself, but to what you're running remotely.

[2018-09-25 12:09] webknjaz commented on #45963
You might want to use actual `rhn_register` Ansible module. Here's how to use it: https://docs.ansible.com/ansible/devel/modules/rhn_register_module.html

I'm closing this issue as it's not a bug, at least there's no proof of it being related to Ansible in the issue description.

Feel free to open a new issue specifying all necessary details, like log/term output, the CLI command you're running an

[2018-09-25 12:09] #45963 closed, assigned to nobody

[2018-09-25 12:19] mkrizek commented on #46113
Looks like we need to fix this in upstream jinja:
[code]

[2018-09-25 12:57] mkrizek commented on #46113
Hrm, which I did https://github.com/pallets/jinja/pull/799.

[2018-09-25 13:02] flaper87 commented on #29661
@zcourts thanks a lot for the feedback and sharing your work. I honestly don't have the time to maintain and move this module forward. My focus changed after the module was accepted. I'd be more than happy to have this module deprecated in favor of yours or have any of you given access as maintainers :)

Let me know what you'd prefer. Like you could do a major refactor to the existing module and h

[2018-09-25 13:27] Jean-Daniel commented on #46113
Arf. Maybe it's time to tell @davidism that the  "Ansible's timeline is affected by this." ;-)

https://github.com/pallets/jinja/pull/799#issuecomment-359848854

At least, I can easily workaround this by updating my requirements file.

[2018-09-25 13:38] bngsudheer commented on #28952
[code]
This snippet is not idempotent. It always says changed.

ansible 2.6.1.

[2018-09-25 13:48] #36304 closed, assigned to nobody

[2018-09-25 13:50] wavilen commented on #43884
I met the issue with kubespray... Seems to me the problem in incorrect reporting about what exact command has timeout, in my case fixing fstab helps to restore normal operation of the gather facts.
In my case receipt instruction removes lvm logical volume but I forgot remove it from /etc/fstab before...
Hope this info will help someone, otherwise I'm sorry for intervention into the topic

[2018-09-25 13:53] AlanCoding commented on #37531
@bcoca I think this issue is resolved now?

[2018-09-25 13:55] bcoca commented on #37531
closed via #38759

[2018-09-25 13:55] #37531 closed, assigned to nobody

[2018-09-25 14:20] sivel commented on #46096
Let's take a look at the command that is being run by terraform:

[code]

The most important thing to note, is that it is not using your `hosts.ini` file, it is instead specifying a one off inventory host via:

[code]

Ansible will search for `group_vars` and `host_vars` in 2 different locations:

1. Adjacent to the inventory *file*
2. Adjacent to the playbook *file*

Because that command doesn't

[2018-09-25 14:20] #46096 closed, assigned to nobody

[2018-09-25 14:20] tomtastic commented on #18287
Also just encountered this issue, adding my comments to @bcoca 's new issue.

[2018-09-25 14:52] nesanton commented on #20557
Is it being worked on?

[2018-09-25 15:00] webknjaz commented on #45898
Please show the logs

[2018-09-25 15:06] ssahani commented on #28709
I have posted a WIP version. Happy to take some feedback. Thanks !

[2018-09-25 15:33] cesarfn4 opened #46121 "Infoblox Ansible Module to support the addition of "Fixed Address" to an Infoblox network range."
##### SUMMARY
Infoblox Ansible Module to support the addition of "Fixed Address" to an Infoblox network range.

##### ISSUE TYPE
- Feature Idea

 ##### COMPONENT NAME
nios_fixed_address

##### ADDITIONAL INFORMATION
We do not use the "host" functionality of Infoblox but simply use it as an IPAM to enable DevOps tools to obtain, and register, an IP address with the Infoblox application. We achieve

[2018-09-25 15:35] samccann opened #46122 "Create a scenario guide template"
##### SUMMARY

Since scenario guides are a popular documentation addition from third-party and partners, create a reusable rst template they can use to start their scenario guides to ensure a common flow and priority information is included.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2018-09-25 15:43] motorahead commented on #33410
I understand the concept you describe. I tested the startup of the process outside of Ansible using 'ssh -l user hostname "startcommand"' and it did not kill the process upon completing/exiting the terminal. Ansible seems to behave differently?

[2018-09-25 15:45] samccann commented on #42964
Fixed by https://github.com/ansible/ansible/pull/45664

[2018-09-25 15:45] #42964 closed, assigned to samccann

[2018-09-25 15:47] gundalow commented on #45989
Can we enforce this via CI somehow
Also feels like the type of thing that should be communicated via https://github.com/ansible/community/issues/346 (once it's written down somewhere)

[2018-09-25 16:27] jpopelka opened #46125 "[k8s module] User cannot list all services in the cluster"
##### SUMMARY
When trying some examples from documentation I'm seeing errors about user not able to retrieve objects.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
Start local Openshift cluster with `oc cluster up`.
Run the following playbook:

[code]

##### EXPECTED RESULT

[2018-09-25 16:35] Mixer9 opened #46126 "synchronize fails --out-format not formatted properly"
##### SUMMARY
synchronize fails with connection refused, however if I take the rsync command out of the error and add single quotes around the value in --out-format and run it manually it works with no error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
synchronize module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server rel

[2018-09-25 16:37] Mixer9 commented on #46126
If i take the command out of the error and run it manually with adding the single quotes around the --out-format value it succesfully runs with no error and fails without the single quotes.

`example: rsync --delay-updates -F --compress --archive --out-format='<<CHANGED>>%i %n%L' /tmp/reports/ rsync://remotehost/var/www/html/pub/oscap/`
CC @maxamillion

[2018-09-25 16:50] acozine commented on #20557
@rhcarvalho @nesanton @matthew-hickok @gustavooferreira @JimFicarra thanks for being active in the community and advocating for better documentation. Realistically, we won't be writing any new docs before Ansible Fest, which is next week in Austin, TX. Hope to see some of you there! After Fest, we'll be revisiting the issue backlog.

[2018-09-25 17:44] sc68cal commented on #45627
OK, so I was able to solve this by forcing a login as the `vagrant` user, which has a shell environment set up correctly.

[code]

[2018-09-25 17:45] #45627 closed, assigned to Qalthos

[2018-09-25 17:58] dagwieers commented on #45989
@gundalow What do you want to enforce via CI ? I don't see anything to enforce. Updates of the copyright year are possible, but is not mandatory/practical. So we cannot forbid it, but we are not encouraging it.

[2018-09-25 18:19] malutanpetronel commented on #25160
and what I suppose to put in the hosts file ?
use [defaults] inventory=/path/to/file|dir ?

I have:

# default
# localhost ansible_connection=local

[all:children]
group

[group]
123.1.21.1

[2018-09-25 18:27] #45286 closed, assigned to nobody

[2018-09-25 18:35] smwatage opened #46127 "Want to know the location /code/ details of existing modules"
Could you please help me ? How can i view code written for existing copy module in ansible.

Need to know the location in my installation. Want review the code written for copy .

Please can get help on this

[2018-09-25 18:38] sivel commented on #46127
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-25 18:38] #46127 closed, assigned to nobody

[2018-09-25 18:50] Mixer9 commented on #46126
Well I changed the synchronize.py file and got the single quotes put in, however it still fails with a connection refused.  what would make the remote host refuse this connection?  I have the become_user in the task, but if it is ignoring that and attempting to rsync as root that won't work ever.

ideas?   CC @maxamillion @tima
[code]

[2018-09-25 19:27] pillarsdotnet opened #46129 "The syntax for "vars" option is undefined."
##### SUMMARY

I noticed that the `vars` option can be used within an [`include_role`](https://docs.ansible.com/ansible/latest/modules/include_role_module.html) task but is ignored for other types of tasks.

In researching this, I cannot find anywhere in the documentation a syntactic definition of a valid task.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

Define a valid `task` w

[2018-09-25 19:35] samccann commented on #29548
@gundalow @Qalthos @ganeshrn @rcarrillocruz @trishnaguha - this issue has been around for awhile. I can't tell from the docs perspective if this is now resolved in more recent releases, or still needs work.  Can you comment on what remains to be done here, or close the issue?

Thanks!

[2018-09-25 19:35] ryansb commented on #36440
Closing, as this is supported in `aws_ec2` inventory plugin.

[2018-09-25 19:35] #36440 closed, assigned to s-hertel

[2018-09-25 19:37] mattclay commented on #46024
Resolved by https://github.com/ansible/ansible/pull/46026

[2018-09-25 19:37] #46024 closed, assigned to s-hertel

[2018-09-25 19:55] bcoca commented on #46129
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-25 19:55] #46129 closed, assigned to nobody

[2018-09-25 19:59] gundalow commented on #29548
I don't think this ever got implemeted. There was a plan for "session tracing" which never made it into a roadmap

[2018-09-25 20:01] gundalow commented on #18184
@mikent05 well that's worrying. Could you please raise an issue for this.

[2018-09-25 20:01] #30455 closed, assigned to nobody

[2018-09-25 20:09] maxamillion commented on #22320
Closing issue, please feel free to re-open if this is considered to still be an issue.

[2018-09-25 20:09] #22320 closed, assigned to nobody

[2018-09-25 20:16] jborean93 commented on #44905
At the latest WWG we decided not to go ahead with this feature as async can achieve the same result and the differences between winrm and psrp makes it hard to reconcile the console options.

[2018-09-25 20:16] #44905 closed, assigned to nobody

[2018-09-25 20:22] imcdona opened #46136 "nsupdate module doesn't modify TTL on existing records"
##### SUMMARY
The nsupdate module doesn't modify the TTL of existing records.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nsupdate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.5.1804 (Core)
BIND 9.9.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The nsupdate module should update the TTL of the existing record with

[2018-09-25 21:44] willthames commented on #46125
You're hitting role based access control in Kubernetes. You either need a `ClusterRole` that would allow `get` of `Service` to `developer`, or you need to restrict your query to a namespace with a suitable `Role` allowing access to `Service`s in that namespace.

[2018-09-25 21:51] #46125 closed, assigned to nobody

[2018-09-25 23:32] workez12 opened #46143 "--- -hosts: loadblancer ^ here"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-09-25 23:59] jvenezia opened #46144 "Cannot assign a static ip to a docker container using a network with configured subnet"
##### SUMMARY
Getting error "user specified IP address is supported only when connecting to networks with user configured subnets" while I am using a custom network with a configured subnet.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_network
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Create a docker

[2018-09-26 00:25] #46143 closed, assigned to nobody

[2018-09-26 01:27] imcdona commented on #46136
Looks like this was already fixed on the dev branch:
https://github.com/ansible/ansible/pull/42973

[2018-09-26 01:27] imcdona commented on #46136
Also a duplicate of https://github.com/ansible/ansible/issues/39465

Closing this issue.

[2018-09-26 01:27] #46136 closed, assigned to nobody

[2018-09-26 02:51] aaronbanks1 commented on #36801
The issue comes from your source file not having proper spacing. NX-OS uses two spaces to indent, not one like IOS. Change that and it should work. I just sorted out this issue with my config. Now idempotency is no problem when using "src" with nxos_config module.

[2018-09-26 02:59] geerlingguy commented on #18142
@andremarianiello - Thanks! I had used that trick once before but didn't remember it until I came to this issue. Changing the scalar in the task from:

[code]

To:

[code]

Fixed the issue where a newline `\n` was being jammed into the end of the set fact.

[2018-09-26 03:12] Fred-sun commented on #43195
@rdtechie Thanks for the contribution, It has been fixed by ansible2.7.0 , you can upgrade your ansible by command: "sudo pip install ansible[azure]==2.7.0rc2" try again. If you test pass. this issue can be closed. Thanks!

[2018-09-26 03:29] jose-delarosa commented on #45248
Take a look at https://github.com/ansible/ansible/pull/46148, apply patch and test. Could have broken it up into different patches but decided to fix and test all at once. Suggestions welcomed.

[2018-09-26 03:36] e2-team commented on #38715
Have the same issue deploying VM with RHEL 7.2 and open-vm-tools, but no ip is set.

[2018-09-26 03:53] Akasurde commented on #46122
@samccann For VMware, we have this template - https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/vmware/vmware_scenario_1.rst you might want to move this to common location and modify this for general purpose.

[2018-09-26 04:51] #29749 closed, assigned to nobody

[2018-09-26 05:06] dilipsharma2005 commented on #43892
Thanks  It is resolved.

[2018-09-26 05:33] mangellopez commented on #41484
Hi again

I updated ansible to 2.6.4 on rhel 7.5. The issue persist, all VMs that we create  using vmware_guest dont use disk/type parameters correctly. The VMs allways are created with thin disk types.

Regards

[2018-09-26 06:26] #44159 closed, assigned to Akasurde

[2018-09-26 06:28] #29512 closed, assigned to nobody

[2018-09-26 07:06] Fred-sun commented on #43416
@yuwzho @zikalino

[2018-09-26 08:49] chris93111 commented on #46078
i have trie with this code and is work in vmware_guest all disk of vm cloned is in thin

[code]

[2018-09-26 10:18] #46000 closed, assigned to nobody

[2018-09-26 10:37] BananenKeks commented on #46057
I know that CentOS 5.8 only has Python 2.4.3 and you're right that the Task for installing Python only goes up to 2.4.3
I manually installed Python 2.7.5 on the target Server then, but still get this Error. When asking the Machine with 'python -V' about the Version, i get 2.7.5, so in theory everything should work in regards of: "This indicates that you are not using python2.6 or newer which is re

[2018-09-26 10:37] Mikey032 opened #46150 "vmware_dvs_portgroup module: allow comma seperated vlan_id list"
##### SUMMARY

With the vmware_dvs_portgroup module you can create a vlan trunk by given a single vlan_id or a vlan_id range by the 1-1000 format.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_dvs_portgroup

##### ADDITIONAL INFORMATION

It would be nice to also support a comma separated option so you can specify a vlan_id by using 1204,1500 for example.

EDIT: if you try to run t

[2018-09-26 11:05] Vladimir-csp commented on #41200
I can also reproduce this even without any subdirs.
Using `lookup('template', '/absolute/path/to/template')` fails if template contains `{% include 'another_template' %}`

[2018-09-26 11:13] justjais commented on #45210
@rinoalpha0 any update on this issue?

[2018-09-26 11:25] marcinpraczko opened #46152 "Grafana_dashboard - not creating new dashboards"
##### SUMMARY
My goal is to create grafana dashboard and seems that latest changes are not allowing create new dashboard. When dashboard already exists - is updated, however when doesn't exists ansible report error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
grafana_dashboard

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
MacOS - runing with `hosts: localhost`

##### STEPS

[2018-09-26 11:30] uberjew666 commented on #28051
Why not add an additional parameter for interface name? Then use Get-NetAdapter to glean the specific interface index and pass it to New-NetRoute cmdlet.
This would be very useful for those who would have 2 or more interfaces and want to specify certain routes per interface.

I will try and made these changes later and create PR.

[2018-09-26 11:30] marcinpraczko commented on #46152
This is small fix which I've done locally and seems fixed issue (at least for creating grafana dashboard)
[code]

- Re-run my playbook returned
[code]

Details about creating dashboard in grafana was taken from:
- http://docs.grafana.org/http_api/dashboard/   (Create / Update dashboard)

[2018-09-26 11:36] justjais commented on #45090
@depereo can you please checkout the PR branch and test and check if the intermittent is resolved for you, as I wasn't able to reproduce the scenario either in `2.5.8` or `2.7.0rc1/rc2`.

I have made the changes based on the exception that you were facing intermittently, so your confirmation shall be required before I go ahead and merge the respective PR in devel.

[2018-09-26 11:38] dagwieers opened #46154 "Docs: Reduce size of individual module docs (250kB each)"
##### SUMMARY
Currently every module documentation page is at least 250kB in size.
Of which about 40kB is the HTML module documentation, everything else is index fluff.
This could be done more efficient IMO.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
module docs

##### ANSIBLE VERSION
v2.8 and earlier

[2018-09-26 11:51] Popyllol opened #46156 "Get the NFS Server details for datastore"
##### SUMMARY

It would be very nice to get more details about the VMWare datastore. In case of a NFS datastore I would love to get the NFS server and the path on the NFS server.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_datastore_facts.py

##### ADDITIONAL INFORMATION

I need the data about NFS source to select the right NetApp where I have to create a snapshot.

[code]
Now I

[2018-09-26 13:17] rinoalpha0 commented on #45210
@justjais Issue is resolved. Problem was with ansible.cfg file, a duplicate empty file was available as the same location and causing problem. post removal of that file. Playbook runs smooth.

Please for the needful.

[2018-09-26 13:38] #22825 closed, assigned to privateip

[2018-09-26 14:00] justjais commented on #45210
@rinoalpha0 thank you for confirming the same. I'll go ahead and close the bug.

[2018-09-26 14:00] #45210 closed, assigned to justjais

[2018-09-26 14:06] sivel commented on #46057
You will need to set `ansible_python_interpreter` to the correct python binary as described at https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#how-do-i-handle-python-not-having-a-python-interpreter-at-usr-bin-python-on-a-remote-machine

[2018-09-26 14:22] jpopelka opened #46163 "k8s, k8s_facts authentication via username&password does not work (unlike api_key)"
##### SUMMARY
When using `k8s` or `k8s_facts` modules, any time I try to authenticate via `username`/`password` it fails with `kubernetes.client.rest.ApiException: (403), Reason: Forbidden`. Authenticating via `api_key` works OK.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s, k8s_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### STEPS T

[2018-09-26 14:43] myllynen opened #46167 "dnf database locked failure during ansible-playbook run"
##### SUMMARY
Playbook fails with dnf database locked failure when running `ansible-playbook` on a playbook.

After installing Fedora 29 Workstation Beta and running the playbook at https://github.com/myllynen/misc/blob/master/fedora-init.yml on console (so no active GNOME session nor user using PackageKit) I saw this error:

[code]

I'm not sure is this report helpful enough or not but I'm probab

[2018-09-26 15:00] sivel commented on #46167
There was a recent PR merged to handle the case where yum/dnf is running: https://github.com/ansible/ansible/pull/45359

Although I'm unsure whether this error indicates the same scenario.

cc @maxamillion

[2018-09-26 15:10] Akasurde commented on #46078
@chris93111 Would you be interested in opening a PR with your findings ? ping me once you have PR ready. Thanks.

[2018-09-26 15:16] coffee-driven opened #46168 "postgresql_user will fail if state: absent and user does not exist ."
##### SUMMARY
Ansible module postgresql_user will fail if the state of the user is absent and the user does not exist on the server.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Target db server: postgresql 9.5

##### STEPS TO REPRODUCE
- Create role/user in psql db
- Set state: absent for role eq. remove user
- Run the

[2018-09-26 15:24] Jean-Daniel opened #46169 "template module with jinja2_native erroneously convert json string to dict and corrupt it"
##### SUMMARY
I'm using the template module to generate json files. When jina2_native is enabled, the template module convert the generated template string into a dict and then convert this dict to string when writing the template result. This result in a file that is not valid JSON. The indentation is removed (which is not an big issue), and the keys and values are quoted with single quote (which

[2018-09-26 15:37] samccann commented on #46122
Thanks @Akasurde!

[2018-09-26 15:39] maxamillion commented on #46167
@sivel is correct and the fix is in https://github.com/ansible/ansible/pull/45359. The issue is that we were previously issuing dnf API calls that resulted in writes to the dnf transaction database without checking for the lockfiles ourselves, but that turned out to be bad because we had made the incorrect assumption that dnf API would properly lock around write operations to it's internal data st

[2018-09-26 15:39] #46167 closed, assigned to nobody

[2018-09-26 15:41] acozine commented on #46154
Related to #39398.

[2018-09-26 15:41] bobbywatson3 opened #46170 "Setting executable in shell task doesn't override executable in ansible.cfg"
##### SUMMARY

Executable in shell task doesn't override executable set in ansible.cfg
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Shell
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.13.5
##### STEPS TO REPRODUCE

1. Create ansible.cfg with executable set
2. Create shell task with different executable set
3. Run playbook using `-vvv` to see E

[2018-09-26 15:53] sivel commented on #46169
This seems to potentially be a bug in the upstream `NativeEnvironment`:

[code]

[2018-09-26 15:54] sivel commented on #46169
cc @mkrizek

[2018-09-26 16:11] uberjew666 commented on #28051
This proved to more flawed than I'd hoped. If the adapter name was even slightly wrong, it would error. Plus updating the unit tests was a pain due to AWS changing the interface name per host

[2018-09-26 16:14] sduthil opened #46173 "Module package_facts with manager: auto can lead to obscure errors"
##### SUMMARY
Using `package_facts` module with `manager: auto` can lead to obscure side-effect errors if dependencies are missing.

When using `manager: apt`, the error about missing dependencies is immediate and clear.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: `package_facts`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target OS: Debian 9.

[2018-09-26 16:18] Akasurde commented on #46078
resolved_by_pr #46172

[2018-09-26 16:30] myllynen commented on #46167
Ok, thanks for your prompt response!

[2018-09-26 16:31] abadger commented on #46126
The single quotes are not needed. It's an artifact of how we're displaying what was run rather than how we're actually invoking rsync.

No other module shipped with ansible operates in the same way synchronize does so it has some large cornercases in how it operates, including how it handles become.

Your description of your environment is not completely clear to me but I think you're saying that

[2018-09-26 16:43] DylanYoung opened #46174 "world_readable_tmpfiles per Host"
##### SUMMARY
As per the docs, whether this is a security risk depends entirely on whether the host is trusted.

This seems to imply that this should be togglable per host, but I can't find any docs on doing this.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
privilege escalation
##### ADDITIONAL INFORMATION

This would address issues with privilege escalation to non-root users on systems

[2018-09-26 17:12] natemccallum opened #46175 "vmware_guest not setting ip of Centos7 template."
##### SUMMARY

Trying to deploy Centos7 template and customize the ip settings. The vm is created but there is an error with the customization. I can't tell from the log what the problem is. I've tried the suggestions for Linux.  Perl is installed and so is open-vm-tools.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2018-09-26 17:17] sivel commented on #17098
As has been mentioned, `until` does not work on an `include` currently, and if it did, it wouldn't achieve the results that I imagine most users would expect.

An `include` (or `include_X`) is more of a trigger, instead of something that actually wraps the tasks within from an execution perspective.

An `until` on an include, if we made it work now, would only loop based on whether or not includin

[2018-09-26 17:17] #17098 closed, assigned to nobody

[2018-09-26 18:08] drybjed opened #46179 "The 'file' module cannot create relative directories with 'become_user'"
##### SUMMARY
When used with `become_user` keyword, the Ansible `file` module cannot create directories relative to the user's home directory, however it reports the status as `changed`. Even if the directory already exists, the module still reports its status as `changed`.

Using `git bisect`, I was able to determine that the first commit that caused this issue is https://github.com/ansible/ansib

[2018-09-26 18:30] eddjlam commented on #31145
Any update on this? i'm running into this issue as well, have worked around it for the time being but i would like the apt module to work as expected.

[2018-09-26 18:31] mwperina commented on #46024
Matt/Ryan, is it possible to backport this stable-2.7 branch? Because of this issue we have a problem with failing CI on important 2.7 backport https://github.com/ansible/ansible/pull/46062

@sivel @ryansb

[2018-09-26 19:01] arendej opened #46181 "gcp_* auth error even with google-auth library installed"
##### SUMMARY

Using any gcp_* module results in "Please install the google-auth library" error, regardless of satisfying the requirements.
OS = CentOS 7.5

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

$ cat /etc/redhat-release
CentOS Linux release 7.5.1804 (Core)

$ pip list | grep go

[2018-09-26 19:51] funixz commented on #46181
For reference, the similarly adapted playbook **works** completely fine with the 'gce' module.

[code]

[2018-09-26 20:04] rambleraptor commented on #46181
Hello! Thanks for filing this issue.

My first guess is that Ansible is running a different version of Python than your local shell is. From your Ansible output, it looks like `/usr/bin/python` is the python environment being used. As a quick sanity check, can you make sure that `pip` is installing to the same location that `/usr/bin/python` is getting packages from?

[2018-09-26 20:09] gerrygosselin commented on #44434
FWIW, I have the same desire and ran into the same issue. I'd love to see IGMP support added.

[code]

[2018-09-26 20:32] funixz commented on #46181
Python34-pip was installed and conflicting with python2-pip.
I cleaned up  both pip installs and python2-pip is the primary... allowing auth to happen, but a different problem now..

[code]

[2018-09-26 20:34] ivanbaldo commented on #42532
@patlachance thanks!
Tried it but didn't work neither.
With -vvvv I don't see what the module sends to AWS and what response it gets from AWS.
Maybe I should modify it to output the interchange somewhere and try to match what AWS sends to what we specify in the playbook.
If I get the time to do that I will let you know, but I am unsure when that will be so feel free to beat me to it.

[2018-09-26 22:15] maxamillion commented on #31344
@Yajo I don't think that's the same issue as this because this issue is originally reported against CentOS6 which doesn't have systemd. However if you're seeing that it might very well be a different problem.

[2018-09-26 22:16] maxamillion commented on #31344
@roumano I'm unable to reproduce this issue, are you still experiencing it?

needs_info

[2018-09-26 22:46] skregas opened #46185 "error: "unable to set terminal parameters" on IOS devices"
##### SUMMARY

Consistently encountering **AnsibleConnectionFailure: unable to set terminal parameters**
when changing from
**connection: local**
 to
**connection: network_cli**
and defining
`ansible_network_os: ios`
for the host.

Also tried adding
`become: true
become_method: enable
`
to the play with no effect
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSI

[2018-09-26 22:55] rifty commented on #35494
According to the documenation it says ios_command cannot be used in config mode for IOS.  When I've tried using ios_command and commands/prompts/answers it will immediately stop as soon as config mode is entered on the device.

[code]
Sample code:

[code]

[2018-09-26 23:05] willthames commented on #46163
So, it looks like the kubernetes client provides a `get_basic_auth_token` for use with username and password, but doesn't actually make use of it. We should probably use this method to set the correct headers.

[2018-09-26 23:31] boxrick commented on #21622
This is still very much a problem if SELINUX is missing

```fatal: [centos6]: FAILED! => {"changed": false, "details": "Please install SELinux-policy package, if this package is not installed previously.", "msg": "Unable to find file /etc/selinux/config"```

[2018-09-26 23:34] depereo commented on #45090
Hi,

Tried with your PR branch but still experiencing the issue (still requires a large number of retries to trigger).

[code]

[2018-09-27 02:50] carstenkoester opened #46187 "os_quota unable to set injected_file_content_bytes"
##### SUMMARY
OpenStack quota named "injected_file_content_bytes" and "injected_file_path_bytes" cannot be set using os_quota module.

Note that the os_quota module has a "injected_file_size" and "injected_path_size" parameter which are (presumably) supposed to replace these two, but several (most?) OpenStack environments seem to use the "injected_file_content_bytes" and "injected-file-path-bytes"

[2018-09-27 03:15] #25265 closed, assigned to nobody

[2018-09-27 03:15] #20625 closed, assigned to mckerrj, nitzmahone

[2018-09-27 03:15] #35442 closed, assigned to nobody

[2018-09-27 03:15] #38557 closed, assigned to nobody

[2018-09-27 03:15] #44079 closed, assigned to nobody

[2018-09-27 05:11] mattclay commented on #33831
!component test/runner/lib/cli.py

[2018-09-27 05:11] basictheprogram opened #46189 "[WARNING]: Falling back to Ansible unique filter as Jinaj2 one failed: unhashable type: 'list'"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible or Jinja2 filter or set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible host: MacOS 10.12.6
Target OS: Windows 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

chocolatey_packages would be a list of chocolatey packages to be installed

##### ACTUAL RESULTS

[cod

[2018-09-27 05:11] mattclay commented on #31021
!component test/runner/lib/cli.py

[2018-09-27 05:39] jborean93 commented on #46179
@drybjed I'm trying to figure out what is happening here but I'm seeing something different. I'm seeing that the current working directory is still the home path of the connection user. That would explain why the relative directory isn't relative to the become user.

Are you able to check if the directory is created in the home path of the connection user? I can't say with 100% conviction that the

[2018-09-27 05:45] drybjed commented on #46179
@jbarnett1981 I just checked, and the relative directory isn't created either in my initial user (`drybjed`) or in `root` home directory. You can confirm the behaviour using Ansible `stable-2.5` branch, on it the directory is created where it's expected to be, ie. relative to the home directory of the `become_user` account. During `git bisect` I tested for this behaviour and the linked commit came

[2018-09-27 05:53] felipe1982 opened #46190 "Cloudformation: Changeset Error when Stack Policy is set"
##### SUMMARY

when running `cloudformation` module with `create_changeset: true` and `stack_policy: "{{ path }}"` the following error occurs

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cloudformation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows 10 with WSL OpenSuSE Leap 42
##### STEPS TO REPRODUCE

*Playbook*
[code]
*Stack Policy*
[code]

[2018-09-27 06:18] tedder commented on #46190
What versions of botocore and boto3 are you using?

[2018-09-27 06:34] felipe1982 commented on #46190
Hi

[code]

[2018-09-27 06:49] kris0107 opened #46191 "input prompt values from playbook"
i am installing peoplesoft on a host machine and want to input username and password in the playbook yml file and push it from master.how to do it?

[2018-09-27 07:13] VitSkakun opened #46194 "digitalocean inventory tags don't work"
##### SUMMARY

when trying to discover DO tags using contrib digitalocean inventory plugin (devel branch), I get this error
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

contrib/inventory/digitalocean
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

checkout ansible repo
cd ansible/contrib/inventory
python digital_ocean.py

[2018-09-27 07:13] VitSkakun commented on #46194
suggested fix is very simple and proposed in PR #46192

[2018-09-27 07:37] encryptedfear opened #46195 "Ansible apt state=absent calls apt-get update"
##### SUMMARY

Running a playbook with an apt-get remove does not proceed with the intended action.
User is running state=absent, but throws an error instead.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible apt module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 3.16.43
##### STEPS TO REPRODUCE

User is to run a playbook that will remove t

[2018-09-27 07:59] w0203j commented on #44613
Ahhhh man I am running into this today!

@ps-jay  I was going to show you this PR just found you were the one raised this lol

[2018-09-27 08:05] p-paul opened #46196 "openssl_certificate - selfsigned_not_after => no attribute 'ASN1_TIME_set_string'"
##### SUMMARY
Hi,
When we would like to use selfsigned_not_after parameter from openssl_certificate module, a error occurs:
 "    set_result = _lib.ASN1_TIME_set_string(boundary, when)
AttributeError: 'module' object has no attribute 'ASN1_TIME_set_string'"

We don't find any sample with a parameter which use ASN1 TIME, so we don't know if it's a mistake of module developpment or a usage mistake.

[2018-09-27 08:13] vrathore18 opened #46197 "Is there a way to see the current task status on Ansible"
Below is my ansible playbook for creating the rds.

[code]
Now when I run the playbook I see below message on my console.

[code]
But I can't see the current status like resource and event which is getting created on the AWS side. just the success msg with all the stack out after task completed.

Is there any way I can get the cloudformation updates on ansible console during the task. It feels lik

[2018-09-27 08:28] Akasurde commented on #46191
Hi @kris0107 !

You can use `var_prompt` -  https://docs.ansible.com/ansible/latest/user_guide/playbooks_prompts.html

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://grou

[2018-09-27 08:28] #46191 closed, assigned to nobody

[2018-09-27 08:29] Akasurde commented on #46194
resolved_by_pr #46192

[2018-09-27 08:38] Fred-sun commented on #42407
@zikalino  new feature: inbound_nat_rules

[2018-09-27 08:42] Akasurde commented on #35718
@rvgate Can we close this issue ? needs_info

[2018-09-27 09:36] kustodian opened #46200 "Running Ansible with a UID which doesn't exists fails in 2.6"
##### SUMMARY
If you run Ansible 2.6.x (inside Docker) with a UID which doesn't exist in the Docker image, it will fail. On 2.5 it works without issues.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]
I pasted 2.6.1 because I couldn't find a Docker image with a newer version, but we have our own private Docker image with 2.6.4 and it fails the exact same way

[2018-09-27 10:56] elvinasp opened #46202 "vmware_guest Linux Netplan configuration is missing DNS servers and search domains"
##### SUMMARY
VMWare guest configuration module does not insert DNS resolution information into Linux guest, which uses Netplan for network configuration (Ubuntu 18.04).

wmware_guest documentation also states the following:
[code]
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_guest

##### ADDITIONAL INFORMATION
Expected result is to have DNS resolution information in the generated

[2018-09-27 11:06] adamransome commented on #29685
Any movement on this? Having the same issue with the file module in 2.2 and having to fallback to manually creating the symlink

[2018-09-27 11:30] lwm commented on #46194
bot_broken

I shouldn't be pinged for this issue.

[2018-09-27 11:58] aaron-sua commented on #45766
`- name: start container
  docker_container:
    docker_api_version: "{{ docker_api }}"
    name: "{{ container_name }}"
    etc_hosts: "{ '{{ container_name }}': '127.0.0.1' }"
    image: "{{ name_space }}:{{ image_tag | default('latest') }}"
    state: "{{ action | default('started') }}"
    recreate: True
    pull: False
    network_mode: bridge
    networks:
      - name: "{{ custom_net | defa

[2018-09-27 12:12] Darkhan90 commented on #35493
I still have this problem in 2.7.14. Do i need to add any extra parameter to debug?

[2018-09-27 12:31] yuwzho commented on #46194
-label azure

[2018-09-27 12:31] Yajo commented on #31344
But I'm using the same module, isn't it?

Well, in any case, do you think I'm better opening a new issue?

[2018-09-27 12:33] yuwzho commented on #43195
resolved_by_pr #45126

[2018-09-27 12:35] mia-fyayc commented on #45219
I was able to fix this issue by adding this to the apt task:
[code]

[2018-09-27 12:39] #43195 closed, assigned to zikalino

[2018-09-27 12:44] dagwieers opened #46203 "Feature: Allow until-loops on blocks or includes"
##### SUMMARY
It would be quite useful if you can loop over more than one single tasks.

For instance if you have to poll a remote system for some progress and at the same time you want to push this progress to another backend, you could be doing:

[code]

There are many uses to this.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Core

[2018-09-27 12:56] g1ps opened #46204 "win_uri: still fails to return json"
Relates to #41797.

##### SUMMARY
This problem still exists with the latest version of Ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_uri.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows 2016

##### STEPS TO REPRODUCE

This task hits a Jenkins API endpoint to retrieve a list of all installed plugins as JSON.

[code]

##### EXPECTED

[2018-09-27 13:08] thatsk opened #46205 "Task need to be skipped by default by passing extra vars"
##### SUMMARY
When i want to use specific tag in playbook from role it will run all task which is defined in role.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

[code]

[code]

#####Ansible command
ansible-playbook -vv --vault-id sr

[2018-09-27 13:14] dagwieers commented on #46204
This was backported 23 days ago (sep 4), you are running 2.6.3 which was released on aug 17.
Please upgrade to v2.6.4 instead.

https://github.com/ansible/ansible/blob/v2.6.4/changelogs/CHANGELOG-v2.6.rst

[2018-09-27 13:14] #46204 closed, assigned to nobody

[2018-09-27 13:17] mkrizek commented on #46203
https://github.com/ansible/ansible/issues/13262

[2018-09-27 13:19] pritho opened #46206 "k8s module changes openshift-buildconfig consequently when build triggers are defined"
##### SUMMARY
We use the k8s module in order to create buildconfigs including build triggers upon imagechanges.
Problem is that when buildtriggers for imagechanges are defined, openshift is automatically adding the sha-sum, which in turn triggers a new build on every ansible run.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

running

[2018-09-27 13:26] rnowagk opened #46207 "azure_rm.py: fails with ANSIBLE_AZURE_AUTH_SOURCE=cli"
##### SUMMARY
azure_rm.py: fails with ANSIBLE_AZURE_AUTH_SOURCE=cli

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/plugins/inventory/azure_rm.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

- have a working azure-cli login and an (empty) resource group in the AzureGlobal cloud
- configure use of Azure cli auth
- r

[2018-09-27 13:35] dagwieers commented on #46203
@mkrizek Hmm, I searched for various combination of keywords, and that one did not stick out :-(

That said, I tried using `until:` with `block:`, `include:` and `include_tasks`, but the first one fails, and the 2 others only run the included file once.

[code]

But apparently looping only works when using `loop:` ?

[2018-09-27 13:38] dagwieers commented on #46203
Whatever I try, using `until:` does not work with `include:` and `include_tasks:`.

[code]

[2018-09-27 13:47] bcoca commented on #46205
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-27 13:47] #46205 closed, assigned to nobody

[2018-09-27 13:49] tedder commented on #46190
Aha. You're being hit by a bug that was fixed in #33401. It is present in 2.5.

Making `bug_resolved`.

[2018-09-27 13:53] #46190 closed, assigned to nobody

[2018-09-27 13:54] mkrizek commented on #46203
Yeah, `until` is not a valid argument for includes, see https://github.com/ansible/ansible/pull/46177.

[2018-09-27 13:58] dagwieers commented on #46203
@mkrizek In other words, what we need is not possible, neither on blocks or on includes.

So I will keep this one open, but changed the title.

[2018-09-27 14:04] g1ps commented on #46204
I did, of course, try updating before spending all of the time that was required to understand what was going on and go to the trouble of reporting it. It turns out that ansible is installed via `pip`, not `yum`. :cry:

[2018-09-27 14:14] fabianvf commented on #46206
How are you pulling the k8s module in (and from what version of Ansible), and what version of the openshift client do you have installed?

[2018-09-27 14:15] dagwieers commented on #46203
@sivel And what would be the reason for not extending the functionality to blocks ? As it would be a natural thing if it would work. (i.e. being able to loop every construction within a play)

[2018-09-27 14:17] bcoca commented on #46203
blocks are currently 'static' groupings, enabling loops on them (not just having tasks inherit them) would require making them dynamic ... as we saw with `include:` this has many consequences that are not immediately apparent.

[2018-09-27 14:20] sivel commented on #46203
To extend what @bcoca mentions, doing so would require us to deprecate `block` and replace with something like `block_dynamic` and `block_static`.

Also, _every_ user of ansible utilizes blocks, whether explicit, or our internal implicit use of them.  They are a fundamental building block of how tasks are represented and executed.  Changing such an integral feature is sure to lead to unforeseen is

[2018-09-27 14:34] dagwieers commented on #46204
@g1ps No problem, I guess we're lucky you were sending us the actual version :-) It would have been worse if you reported the latest version but weren't using that one for real. Thanks for reporting back !

[2018-09-27 14:41] Akasurde commented on #21622
@boxrick Could you please open a new issue with your playbook and environment details ? In that way it will be easy to track your issue rather than posting here. Thanks.

[2018-09-27 14:46] Pectojin commented on #33263
On my system this error was caused by a mismatch between python2, python3, and the provided RPM package in RHEL.

Uninstalling the RPM provided PyOpenSSL-13 version caused the error that PyOpenSSL wasn't available despite it being installed with pip2. After removing pip2, installing pip3, and installing PyOpenSSL with pip3, I was able to continue without error.

Using Ansible 2.7 release candidate

[2018-09-27 14:52] Akasurde commented on #42569
@tripledes Could you please confirm if #45908 fixes your issue ? Thanks

needs_info

[2018-09-27 14:52] Akasurde commented on #42569
resolved_by_pr #45908

[2018-09-27 14:56] sivel commented on #46197
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-27 14:56] #46197 closed, assigned to nobody

[2018-09-27 15:16] sivel commented on #43551
@kiorky A change was recently merged (https://github.com/ansible/ansible/pull/44337), that addressed a 2.5 slowdown (https://github.com/ansible/ansible/issues/39390)

Can you verify that one of the 2.7.0 release candidates (of devel) even, improves or resolves the execution time?

needs_info

[2018-09-27 15:19] fabiogoma commented on #36400
I'm also getting a fail when using XML

**My task that get information from XML and register into a variable**
[code]

**My local ansible report:**
[code]

**My local ansible installation**
[code]

**My remote target result of lxml lib:**
[code]

p.s: I have customized the paste only to avoid showing my hostname and real role name, the rest is intact.

Is there any hint?

[2018-09-27 15:23] mattiasb opened #46215 "Add a version of the combine-filter that merges in reversed order"
##### SUMMARY

I'd like to be able to use the combine-filter but merge in reverse order.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

No idea

##### ADDITIONAL INFORMATION

One common pattern that I return to when constructing Ansible roles is to have some variables for the role described (with defaults) in `defaults/main.yml` and then apply some defaults or transformations to that dat

[2018-09-27 15:32] geyanev commented on #39522
Adding

- **x-message-ttl**
- **x-dead-letter-exchange**
- **x-dead-letter-routing-key**

inside arguments parameter produced the observed behavior - `RabbitMQ RESTAPI doesn't support attribute changes for existing queues`.

Moving them to 3 separate parameters makes the task run idempotently.

Code tested with Ansible 2.6.4

**Second run will generate the attribute changes error:**

[code]
**Idem

[2018-09-27 15:50] natemccallum commented on #46175
So that is actually interesting. I have installed Perl and net-tools to the
template. But when I deploy that template perl and net-tools commands do
not work. They simply return immediately with nothing.

For instance I do a perl -v after installing perl to a vm that I have made
from the template and I get the version info. Then stop the vm -> convert
to template. Then create a new vm from the new

[2018-09-27 15:54] bcoca commented on #46215
soo, why not just switch the variables?
[code]
is the same as your example w/o requiring a new keyword

[2018-09-27 15:54] nafpliot commented on #46073
I am seeing the same problem by using `auth_kind: machineaccount`. Tbh I don't know if commenting out the `.with_scopes` part fixes it, because if I do that I get a ` Failed to
establish a new connection: [Errno 8] nodename nor servname provided, or not known',))` error.

[2018-09-27 16:01] aperrin66 commented on #35771
Hi I needed to be able to set privileges, so I added a function to your module.
My modification is available in this pull request : https://github.com/ansible/ansible/pull/46216

This is my first contribution, all comments are welcome.

[2018-09-27 16:09] sivel commented on #46189
Maybe we should compare the error to `TypeError` and only warn/error when the `jinja2` specific args are supplied.

[2018-09-27 16:09] dagwieers commented on #36400
@fabiogoma The hint is in the error message:

You report that you have `lxml (2.2.3)` installed...

[2018-09-27 16:12] missnebun commented on #44564
+1
I got the same problem.

[2018-09-27 16:13] missnebun commented on #44564
@dj-wasabi any idea about this ... ?

[2018-09-27 16:15] fabiogoma commented on #36400
Ooops, my bad. I'll read more carefully next time, thanks mate.

[2018-09-27 16:28] fabiogoma commented on #36400
Just an update in case others get a similar issue.

My target environment is a legacy system still based on RHEL 6, even with the latest updates, I can't get a higher version of lxml. Of course I could get it directly from PyPi, but the lowest supported version for python is 2.7, my environment is 2.6 :0(

To avoid troubles updating my whole environment to python 2.7 (not officially supported by r

[2018-09-27 16:34] natemccallum commented on #46175
Ok - I don't know what the difference of "convert to template" vs "clone vm
to template" but when I clone to template perl and nettools stays and the
customization works. Thanks

On Thu, Sep 27, 2018 at 11:50 AM Nate McCallum <nate.mccallum@gmail.com>
wrote:

[2018-09-27 16:58] kiorky commented on #43551
Ok, im a bit in an hurry at the moment, no problemo, i hope until the end of next week.
Did you tried the sample i have at least ?

[2018-09-27 16:58] kiorky commented on #43551
(I mean to try on a real use case (the one that takes 30 minutes :))

[2018-09-27 16:59] kiorky commented on #43551
Just veryfing, but seems i already had that changeset in my 2.7 working copy and fork, i ll try it now afteralll ... too curious  :)

[2018-09-27 17:16] #42569 closed, assigned to nobody

[2018-09-27 17:19] kiorky commented on #43551
The sample test case providen always show a big regression (https://github.com/kiorky/ansible_test_cases/tree/43551)
- 2.4: ``0m34.641s``
- devel: ``0m59.998s``

Test command:
[code]

[2018-09-27 17:52] mkotsbak commented on #2093
There is one here: https://github.com/paluh/ansible-augeas

[2018-09-27 17:54] c2h5oh commented on #43884
I've actually run `/bin/findmnt --list --noheadings --notruncate` on a affected Ubuntu 16.04 host and it takes quite a bit longer than 10s to run because of huge number of mounts:

[code]

It looks like having a handful of nested shared mounts (`mount --make-shared`) created for a single Docker container somehow ballooned to 2^16 mounts - all of them duplicates of the handful of shared ones:

[cod

[2018-09-27 18:32] nickjj opened #46222 "Getting a loop's index with loop_control works with Ansible 2.5 but it says it requires 2.7"
##### SUMMARY

The 2.5 branch of the documentation says that using a loop's `index_var` with `loop_control` is only available with Ansible 2.7 but it works with Ansible 2.5

The 2.6 and 2.7 branches correctly say 2.5.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

user_guide/playbooks_loops.html

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Running on Ubuntu 18.04 inside

[2018-09-27 18:38] acozine commented on #46222
Feature added in: https://github.com/ansible/ansible/pull/35411

[2018-09-27 19:01] acozine commented on #46222
Closed by #46224

[2018-09-27 19:01] #46222 closed, assigned to acozine

[2018-09-27 19:08] #45970 closed, assigned to nobody

[2018-09-27 19:35] jjo commented on #42530
This seems to come from:
* https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1789627
* https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1780227
, the fix requiring some pretty recent Ubuntu kernel releases.

IMO under `lxc` we should fallback to non systemd hostname control
methods.

[2018-09-27 19:50] basictheprogram commented on #46189
It didn't work until I ....|flatten(levels=1) now it just gives a warning but still works.

Is there something I should change in the task to not get a warning?

[2018-09-27 20:14] bcoca commented on #46189
@basictheprogram the PR linked above should avoid giving you the warning in this case.

Instead of `|flatten(1)`, you could use `|list`, some Jinja2 filters are 'generators' which don't really work for us and they have to be forced into a list, which is what your flatten is doing.

[2018-09-27 20:31] quixoten commented on #12034
Does the script module interpolate jinja as in @rgm3 example above? I tried converting my heredoc script to using the script module, but it doesn't look like it's parsing jinja. If the script module doesn't interpolate jinja, then getting the same functionality requires the template module, the shell module, and the file module (create script, run script, cleanup script). In previous ansible versi

[2018-09-27 20:32] sivel commented on #43551
I've done a little testing, and found the single largest commit that causes a slow down for your reproducer with the 20 playbook execution loop is: https://github.com/ansible/ansible/commit/bbd6b8bb42cc8fa48157ce5db0efb0a836c94917

It's unfortunately a huge commit, and I haven't found anything in particular that is the cause.

[2018-09-27 20:37] felixfontein commented on #19880
@thpica I guess there is no status because no-one created a PR for this. If someone who has access to AWS ECR debugs this and submits a PR with a fix, it should be possible to get that merged.

[2018-09-27 20:50] Mixer9 commented on #46126
@abadger your close.  I am running the playbook from the control node as my non privileged user, it then ssh's to the remote host as me, then does the become to run the tasks, then a second play is run against localhost to  synchronize from the control node to a second remote host, and it should do this as my unprivileged user so I added the become_user (which I don't think I need) to that task to

[2018-09-27 20:51] felixfontein commented on #26093
If I understand correctly, this is a more specific version of #40694. Please re-open this if that is not the case.

close_me

[2018-09-27 20:57] kiorky commented on #43551
Are we agreeing that you made a bisect and the closest guilty commit is bbd6b8b ? (Just to be sure to well understand)

[2018-09-27 21:00] kiorky commented on #43551
as the commits seems also tied to shell spawning, wondering if it's not tied to a bug alike that in #24228 and then if a workaround like : https://github.com/ansible/ansible/commit/23371b5617cb02ae0edfc46ee6fc4ee8f5f0a523 somewhere could be a solution

[2018-09-27 21:18] #26093 closed, assigned to nobody

[2018-09-27 21:21] arendej opened #46235 "gcp_compute_instance.py bare minimums not clear"
##### SUMMARY

The comparable GCE* instance module is able to create an instance with far fewer options defined than this gcp_compute_instance module. The minimum and required fields and variable are not clearly stated in the docs. If the plan is to make the gcp_* modules the "best practice" modules then they need documentation improved to provide better examples.
In the examples section, please p

[2018-09-27 21:27] sivel commented on #43551
Yes, performing a git bisect, with your reproducer, and a script used with `git bisect run`, I found that commit to increase the 20 playbook loop time by 13 seconds roughly.  The difference in the 20 playbook loop, from 2.4.6 and 2.5.0 matches that time increase.

Using the commit before bbd6b8b, shows a large speed improvement.

[2018-09-27 21:36] kiorky commented on #43551
What do you thing about the possible cause/woraround i gave in https://github.com/ansible/ansible/issues/43551#issuecomment-425241571

[2018-09-27 21:40] maartenberg opened #46237 "blockinfile throws TypeError when result is empty file"
##### SUMMARY
The `blockinfile` module throws an Exception when the result would leave the file empty.

This is very probably due to [this line](https://github.com/ansible/ansible/blob/ccf41bb2feb602f611d73ff999e89e27fe8bc9bb/lib/ansible/modules/files/blockinfile.py#L312), which should (if I'm not mistaken) instead assign `b''`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`blockinfile`

#

[2018-09-27 21:44] bcoca commented on #46170
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

While both settings have the same name `executable` they apply to different things. The one in ansible.cfg is used by the connection pl

[2018-09-27 21:44] #46170 closed, assigned to nobody

[2018-09-27 21:45] samdoran commented on #46170
These two terms, while they share the same name, are not actually the same thing.

`executable` in `ansible.cfg` is the command used for spawning a shell for Ansible's commands on the target. `executable` as a `shell` argument is the shell specified _inside_ that command that is run on the target.

It's confusing, I know.

`executable` in `ansible.cfg` is what is used to wrap all Ansible commands,

[2018-09-27 22:09] samdoran commented on #46195
I am unable to duplicate this with Ansible 2.4.1 and Debian 8. I do not have a Debian 3 instance to test with.

Could you try with a newer version of Ansible and/or Debian?

I'm not sure if it affects this bug or not, but the example playbook is missing spaces between the key and the value.

[code]

[code]

[code]

[2018-09-27 22:43] #44408 closed, assigned to maxamillion, chouseknecht

[2018-09-27 23:44] ghost opened #46240 "'make' module's target is not properly executing."
##### SUMMARY

**Makefile**

deploy-all:
    @echo "the 🦄  just did it!"

**playbook**
---
- hosts: testhosts
  name: simple test
  connection: local
  gather_facts: yes
  tasks:
    - make:
      target: deploy-all

...

##### ISSUE TYPE
-  'make' module's target is not properly execute the target or results

Error:

$ ansible-playbook Makefile.yaml
ERROR! 'target' is not a valid attribute for a

[2018-09-28 00:07] sivel commented on #46240
`target` must be indented further than `make`

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-28 00:07] #46240 closed, assigned to nobody

[2018-09-28 00:46] encryptedfear commented on #46195
So it seems that my issues was with my `sources.list` file because there was a Debian package it couldn't access. It's a bit frustrating that the apt module's `state=absent` needs to invoke a proper apt-get update from the Debian machine.

My problem is solved, thanks. :)

[2018-09-28 00:52] jladdjr opened #46241 "ec2_group reporting (MODULE FAILURE) KeyError: 'VpcId'"
##### SUMMARY
Running `ec2_group` task fails with:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION

HEAD of devel:
[code]

Also HEAD of stable-2.6:
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running on Centos 7.5

##### STEPS TO REPRODUCE
[code]

`ansible-playbook -vvvv -i 127.0.0.1, -c local  -e aws_access_key="$AWS_ACCESS_KEY_ID" -e

[2018-09-28 01:08] jladdjr commented on #46241
git bisect points to:
https://github.com/ansible/ansible/commit/8d2df9be52768d3acb65a45edad87ea7da2dcff2

[2018-09-28 01:16] jladdjr commented on #46241
I'm wondering if that code change ^ is hitting the key error b/c its retrieving security groups that don't have VPCs.

[2018-09-28 01:19] abadger commented on #46241
/cc @mattclay @ryansb

[2018-09-28 02:40] basictheprogram commented on #46189
Switch to |list
[code]
[code]

[2018-09-28 03:11] #46241 closed, assigned to nobody

[2018-09-28 05:30] krathow commented on #46206
Hey,

I'm installing latest ansible (2.6.4) and openshift (0.7.1) from pip.

For starting the taks I've defined a task:
[code]
which points to the template referenced above

[2018-09-28 05:58] resmo commented on #22303
@gaudenz could you verify, if #46245 solves the problem?

[2018-09-28 06:05] drybjed commented on #46179
Just checked that using `~/relative-dir` instead of `relative-dir` creates the directory as expected. False alarm, sorry for making a ruckus over nothing. :-)

[2018-09-28 06:05] #46179 closed, assigned to nobody

[2018-09-28 07:15] yajo opened #46247 "service: disabling twice is not idempotent"
##### SUMMARY

Disable a service twice. The 2nd time it returns "changed".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Several.

##### STEPS TO REPRODUCE

From https://github.com/ansible/ansible/issues/31344#issuecomment-419412368:

[code]

:point_up: There you're running a systemd-enabled ubuntu 18

[2018-09-28 07:15] Yajo commented on #31344
There you have: https://github.com/ansible/ansible/issues/46247

[2018-09-28 07:33] #23066 closed, assigned to nobody

[2018-09-28 07:33] #25974 closed, assigned to nobody

[2018-09-28 07:33] #43679 closed, assigned to nobody

[2018-09-28 08:21] peerster commented on #39295
I get the same error when using `state: export`:

[code]

Result:
[code]

Using latest grafana/grafana docker image and ansible version `2.6.2`

[2018-09-28 08:32] mattiasb commented on #46215
@bcoca Here's a test of your suggestion:
**combine.ym:**
[code]

[code]

[2018-09-28 08:56] mj84 opened #46249 "Yum module is broken when using HTTP proxy with basic authentication"
##### SUMMARY
Using the yum module to fetch RPM files via http and a proxy with basic authentication is defined in yum.conf as such:
`proxy=http://username:password@myproxy.local:3128`
fails with the error message "Connection to proxy failed".

Using tcpdump and inspecting the HTTP Header "Proxy-Authorization", I discovered that the base64 value is not correct.
After decoding the base64, I got the

[2018-09-28 09:01] mattiasb commented on #46215
If there was a `replicate`-filter that took input and produced a stream of `n` copies of it I could do something like this:
[code]

The replicate filter would work like this: `{{ ( 5 | replicate(5) ) == [5, 5, 5, 5, 5] }}`

[2018-09-28 09:11] kirancse507 commented on #28883
Become: yes also wont be help full when this needs to be executed for a specific user.

[2018-09-28 09:15] Fred-sun commented on #31867
@zikalino

[2018-09-28 09:42] christofferliberg commented on #45918
I have a fresh install but can't find sshpass either when trying to install ansible.

root@ansible:/home/nexus# lsb_release --description
Description:    Ubuntu 18.04.1 LTS

root@ansible:/home/nexus# apt policy sshpass
sshpass:
  Installed: (none)
  Candidate: (none)
  Version table:

[2018-09-28 09:43] BananenKeks opened #46252 "Choosable Color for Hostname in PLAY"
##### SUMMARY

I would like to change the Color for my Hosts that are shown during the Play in the Bash Console.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible.cfg

##### ADDITIONAL INFORMATION

In the ansible.cfg under [colors] we can already change Colors for the Results during the PLAY. Though it would be nice to have a dedicated Color only for the Hostnames. This would improve

[2018-09-28 09:48] rnowagk commented on #46207
this is about the 'contrib/azure_rm.py' inventory script, not the plugin found by the bot

[2018-09-28 10:01] GoneWacko commented on #16621
I thought I could use a `block` with `until` to solve the problem of reporting progress for a long-running task. For instance, I have a playbook that uses the AWS CLI to start a Database Migration Service replication task with `aws dms start-replication-task <...>`. I wanted to then poll the progress of the task through another CLI command (`aws dms describe-replication-task <...>`), which spits o

[2018-09-28 10:05] Akasurde commented on #38210
resolved_by_pr #46253

[2018-09-28 10:46] andreaso commented on #45918
@christofferliberg: Like sivel said, try the IRC channel or the mailing list.

[2018-09-28 11:06] jborean93 commented on #46179
Thanks for the confirmation @drybjed, I learnt some new stuff when looking into it so it wasn’t a loss for me :)

[2018-09-28 11:29] svcngcc commented on #42148
I also faced the similar issue. In my case Jenkins was running as docker container but i was trying to configure plugin on parent host. Obviously Jenkins_home is defined inside container. Ansible plugin uses the file system (jenkins_home) to install the plugin. If you set your connection directly to the container, it would work. refer the following help to configure Ansible connectivity with remot

[2018-09-28 11:33] vishveshv commented on #42148
I also faced the similar issue. In my case Jenkins was running as docker container but i was trying to install plugin on parent node . Ansible plugin uses the jenkins_home location installing the plugin which is inside the container, not on parent node. If you set your connection directly to the container, it would work. refer the following help to configure Ansible connectivity with remote docker

[2018-09-28 12:42] mattiasb commented on #46215
Added [a PR](https://github.com/ansible/ansible/pull/46255) for this.

[2018-09-28 12:52] #42727 closed, assigned to nobody

[2018-09-28 12:54] ismc opened #46257 "Make the `default-operation` attribute in `netconf_config` in 2.7 optional"
##### SUMMARY

Make the `default-operation` attribute in `netconf_config` in 2.7 optional, perhaps with an `omit` option.  It is optional in the spec and breaks the use of netconf_config with IOS-XE (at least on a CSR) and most likely other devices.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

netconf_config

##### ADDITIONAL INFORMATION

[code]

[2018-09-28 12:55] superansibleuser opened #46258 "Problem with Paramiko Transport under MacOSX 10.14 Mojave"
##### SUMMARY
There is an error when running ansible-playbook so the connection to the
Remote server will be dropped.

##### ISSUE TYPE
paramiko.transport method

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
ansible 2.6.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/Users/myuserr/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  a

[2018-09-28 13:04] christofferliberg commented on #45918
The issue was fixed by enabling the universe repository.

sudo add-apt-repository universe

[2018-09-28 13:08] Fotoblysk opened #46259 "Ansible-playbook can't reach hosts when print working directory($pwd) is longer than 70 characters."
##### SUMMARY

Ansible-playbook can't reach hosts when print working directory($pwd) is longer than 70 characters.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Local machine:
Distributor ID: Ubuntu
Description: Ubuntu 18.04.1 LTS
Release: 18.04
Codename: bionic
##### STEPS TO REPRODUCE

Cre

[2018-09-28 13:16] gforster commented on #27268
This is still an issue in 2.6.4

[2018-09-28 13:42] webknjaz commented on #46009
bot_status

[2018-09-28 13:54] bcoca commented on #46215
combine takes 2 dictionaries, both terms need to be dicts, it should not work if either is list no matter the order.

[2018-09-28 14:02] seuf commented on #39295
I remember having this bug too.
I suggest you to use `connection: local` to fix this. (? don't know why it don"t wokrs with a remote connection ???)
[code]

[2018-09-28 14:09] kinvaris opened #46261 "AttributeError: 'module' object has no attribute 'OpenStackCloudURINotFound'"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_quota

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux redacted 3.10.0-862.11.6.el7.x86_64 #1 SMP Fri Aug 10 16:55:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
NAME="Red Hat Enterprise Linux Server"
VERSION="7.5 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_

[2018-09-28 14:14] maxamillion commented on #33187
I was looking into a solution for this but it was both error prone and had corner cases for compatibility with different versions of the DNF API and ultimately it was brought up in by others from the development community that this behavior is actually what the dnf command line does and we aim to honor the functionality of tools themselves as we implement modules that emulate (or wrap) them.

Here

[2018-09-28 14:14] #33187 closed, assigned to nobody

[2018-09-28 14:19] rrey commented on #39295
Hi,

I just talked to Core team members about this issue.
The diagnostic I made earlier in this issue is correct. The systemd.journal.send method uses a MESSAGE argument that conflicts with the `message`option from the modules (grafana_dashboard and datadog_monitor as reported by @kevinpz).

The fix should me made in `module_utils/basic.py` to avoid the conflicts.
I'll try to submit a patch, by if

[2018-09-28 14:20] sdodson commented on #42594
It seems like we're not getting any traction on this. Lets go ahead and close it until such a time that someone else has a stronger argument for addressing this.

[2018-09-28 14:29] bcoca commented on #33187
@adelton I'm unsure why you expect `package` to behave differently from `dnf`, specially since it is just a wrapper that auto-selects the 'correct package manager module' .. which would still be `dnf` in this case.

[2018-09-28 14:31] sm4rk0 commented on #36400
@fabiogoma if EPEL is an option, you can install pip (python-pip) 7.1.0 from there and then lxml 4.2.5

[2018-09-28 14:36] #22407 closed, assigned to nobody

[2018-09-28 14:40] funixz commented on #46181
Thanks for that...
Another question if you don't mind...

here's my disks section for a single instance:

[code]
but the error when running is:

[code]

I have tried without `gs://`, with only `centos-7-v20180911` and all have the same error.

[2018-09-28 14:41] maxamillion commented on #26673
Since it is a core dnf plugin upstream, I'm open to that. I don't know when I'll be able to get a chance to implement though, but if anyone in the development community is interested in sending a pull request I'll be happy to review.

[2018-09-28 14:44] maxamillion commented on #27844
This is the same thing the dnf command does. I'm open to discussion on this but I'm not inclined to waver from the utility's functionality/behavior without a reasonable justification.

[code]

[2018-09-28 14:45] maxamillion commented on #27844
needs_info

[2018-09-28 14:47] imthenachoman opened #46269 "proposal to add details on how become_method works to the documents"
##### SUMMARY
Update documentation to explain how Ansible changes privileges.

I do not use Ansible. My company does and as part of trying to solve a problem I have learned quite a bit about how it works in the last 48 hours. I was able to figure out the answer to my question by using `-vvv` but I strongly feel this information should be added to the documentation. I do not want to make the edits

[2018-09-28 14:48] maxamillion commented on #29761
I've added the ability to [pass the `update_cache` option by itself](https://github.com/ansible/ansible/pull/46183) if that's desired. Is the desire to explicitly clear the cache or does this satisfy the desired functionality?

needs_info

[2018-09-28 14:53] mgoldman-solarwinds commented on #29511
+1

[2018-09-28 14:54] matthew-goldman commented on #29511
+1 - this is blocking us from having our mysql completely managed by ansible.

[2018-09-28 15:00] maxamillion commented on #31579
You need to enable the repo.

[code]

[2018-09-28 15:00] #31579 closed, assigned to nobody

[2018-09-28 15:03] afeblot commented on #29761
Here is what I've had to implement for my use case:

[code]

[2018-09-28 15:05] ashfaqn commented on #25532
@dagwieers could you please let me know if you have managed to resolve this issue as I am facing this on EC2 (WIN 2016) instances.

[2018-09-28 15:09] mattiasb commented on #46215
[Well](https://github.com/ansible/ansible/pull/32686/commits/2f78e53a253fe4a0812d9315e9ce3bf1fd328486?utf8=%E2%9C%93&diff=unified)...

Also the code was based on *your* suggestion.

No it's not. One might add support for my use case by extending `map` instead of `combine`, but there really isn't an issue with *my use of map*. I'm not trying to split hairs here. Rather I'm trying to communicate an

[2018-09-28 15:26] radez opened #46275 "AttributeError: 'StrategyModule' object has no attribute '_cond_not_supported_warn'"
##### SUMMARY
https://github.com/ansible/ansible/pull/41655/files
This pull introduced a method named _cond_not_supported_warn
This method is in devel and stable 2.7. The patch from pull req is in 2.6 and 2.5.
Looks like 5f7ffd39dc8 needs to be back ported to 2.6 and 2.5

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
StrategyModule

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS

[2018-09-28 15:30] radez commented on #46275
dradez@tirreno:~/git/ansible git:(stable-2.7)➤ git grep _cond_not_supported_warn
lib/ansible/plugins/strategy/__init__.py:    def _cond_not_supported_warn(self, task_name):
lib/ansible/plugins/strategy/__init__.py:                self._cond_not_supported_warn(meta_action)
lib/ansible/plugins/strategy/__init__.py:                self._cond_not_supported_warn(meta_action)
lib/ansible/plugins/strateg

[2018-09-28 15:31] bcoca commented on #46215
sorry, i might have phrased that better, its not that you are using map incorrectly, its that you are using map at all that is the issue here. This is a limitation of map, not combine.

[2018-09-28 15:33] dagwieers commented on #25532
@ashfaqn I don't think we can resolve it from Ansible's side, as it clearly is something caused on Windows that makes WinRM not being able to connect on the WinRM port (possible temporarily).  I suspect that the WinRM service (or one of its dependencies) was being restarted, or maybe the network subset is being restarted, ...

So the only workaround is to recover from a "Connection Refused" as sho

[2018-09-28 15:35] dagwieers commented on #46203
In any case, the documentation does not give any detail, or even does not discuss what is supposed to work and what not. There's no real distinction between "loops" and until-loops, not sure how we can make this more clear overal. The expectation is that what works for "loops" also works for until-loops.

[2018-09-28 15:42] bcoca commented on #46269
First this might solve most issues #38861 by allowing you to locally override the become handling. Also it allows extensive 'per plugin' documentation.

In the case of pbrun I wrote the function based on what i had available at the time (temporary demo version), being a proprietary product it is not easy to maintain nor handle the changes across versions and setups since we don't have access to a

[2018-09-28 15:46] bcoca commented on #46203
i would do both, allow until/retry loops to work with includes and then clearly document how they work ... so we have something to point at when it does not meat some people's expectations

[2018-09-28 15:55] mattiasb commented on #46215
Thanks! All good 😊 ❤️

I agree with your premise and I'll continue the discussion in the PR. I have some other ideas that might be helpful as well!

[2018-09-28 16:05] #22303 closed, assigned to nobody

[2018-09-28 16:05] #39116 closed, assigned to nobody

[2018-09-28 16:05] #44409 closed, assigned to nobody

[2018-09-28 16:11] dagwieers commented on #13262
I cleaned up this thread to keep the most relevant information visible. At least it makes an easier read for anyone who wants to understand the whats and whys related to this subject. I am tempted to open this issue, on the basis that if anyone wants to implement this, they can. But given the sheer volume of people, I fear this may get out of hand again.

There's also a new feature request #46203

[2018-09-28 16:12] imthenachoman commented on #46269
I understand and I hope what I wrote did not come off as offensive or accusatory. That was not my intention.

I know PB is highly configurable so it is understandable that Ansible would not be able to accommodate for all use-cases.

And yes, that issue would help more use-cases but there is still one that would probably never work with one of the ways that PowerBroker can be configured.

For the i

[2018-09-28 16:14] mrlesmithjr commented on #34885
Adding this functionality would be absolutely amazing!!!!

[2018-09-28 16:15] mikedlr opened #46277 "Archive module can managle filenames deleting first letter"
##### SUMMARY
The archive module, when run on a single file (say `demo.py`) puts it in an archive with a mangled filename (say `emo.py`).  This can be upsetting.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
archive module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

tested on MacOS 10.13 and reproduced on Fedora 28 by @maxamillion

##### STEPS TO REP

[2018-09-28 16:16] bcoca commented on #46259
seems to work fine in devel, with up to 80chars:

[code]

[2018-09-28 16:17] mikedlr commented on #46277
I wonder if https://github.com/ansible/ansible/issues/44968 isn't somehow related.

[2018-09-28 16:19] bcoca commented on #46259
I suspect this is an ssh issue due to your configuration:
[code]

[2018-09-28 16:30] bcoca commented on #46269
No worries, I never took it that way, i just wanted to explain why we are at the current situation and how we are looking to solve it.

As for the 'specific commands' this is something most privilege escalation systems allow (including sudo) but Ansible is not able to support since most of the time it dynamic code we assemble at the controller and push to the target machines, it is hard to predict

[2018-09-28 16:35] sivel commented on #46203
Just to provide a small amount of detail about how includes work, is that dynamic includes are more of an internal trigger, as opposed to something that wraps execution.

As such, the task_executor short circuits early on an include, indicating to the strategy that it should read a file and insert task blocks into the TQM, that will later be processed by the task_executor.

Due to this, there is n

[2018-09-28 16:38] bcoca commented on #46203
the until in this case would have to rely on vars set or registered from the included tasks as the registration of the include itself would be useless ... it would still 'work' just not how most other cases do.

[2018-09-28 16:45] #43106 closed, assigned to nobody

[2018-09-28 16:47] samdoran commented on #46237
Thanks for reporting this, and the fix. I've submitted #46281 to fix this.

[2018-09-28 17:03] shadycuz opened #46282 "aws_ec2 inventory source not creating groups based on tag value."
##### SUMMARY

From https://docs.ansible.com/ansible/2.6/plugins/inventory/aws_ec2.html

[code]

When I used this I get no groups. All my ec2 instances have an "Application" tag.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_ec2
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu
##### STEPS TO REPRODUCE

When running `ansible-inventory -i all.aws

[2018-09-28 17:05] #46282 closed, assigned to nobody

[2018-09-28 17:29] funixz commented on #46009
I may have been seeing this problem.
When referring to (multiple) disks in an instance create via gcp_compute_instance , that have already been created, I get the following regardless of what I put into the _source_ field

[code]

[2018-09-28 17:34] ismc commented on #46257
It is not required for the module, @lpenz, but it add the attribute into the XML.  The device, a Cisco CSR in this case, did not like the `<default-operation>` parameter, so the operation failed.  This is a change in behavior from 2.6, so I suspect that you will see this problem again unless you make it optional.

[2018-09-28 19:00] maxamillion commented on #46249
Do you have any values for `proxy_username` or `proxy_password` on that machine in `/etc/yum.conf` also or just the `proxy` value set?

needs_info

[2018-09-28 19:10] trigger305 commented on #37087
It’s workkng fine for us.
Why is it closed again?

[2018-09-28 20:03] rambleraptor commented on #46181
Try `projects/centos-cloud/global/images/centos-7-v20180911`

(We're working on getting these docs better. I'll make a note about what format this should be in)

[2018-09-28 20:04] #46237 closed, assigned to samdoran

[2018-09-28 20:07] sivel commented on #46277
The cause is due to this line:

https://github.com/ansible/ansible/blob/2018a61489c56e44fdd551445121ac634a4b9177/lib/ansible/modules/files/archive.py#L426

I don't know exactly what the author was trying to prevent against, but in your case `arcroot` is not contained within `path`, so trying to offset and select the `path` minus the `arcroot` (which in this case is `/`) causes us to do `path[1:]`,

[2018-09-28 20:19] rally25rs commented on #41757
@schorsch thank you! It does seem that some modules (like mysql) want boto3 on the machine where ansible is run from, and others (like aws_s3) want boto3 on the machine that ansible is action on. It's all really confusing. Thanks for pointing out the python3 issue. Saved me a lot of headache! 👍

[2018-09-28 20:39] Justin-DynamicD commented on #36758
So to add clarity, this _is_ a module that needs to run on the host, at least in the case of `ec2_metadata_facts` as it's about getting at that metadata, which is simply something "good to be able to do".

This is particularly useful for presenting said values to other tasks (like what region an instance is in).  It's really akin to the gather_facts step, which is about gathering base information

[2018-09-28 20:48] dariko commented on #45683
@zem
What version of docker-py are you using on the target host?
`ca_force_update` has been added to docker-py version [2.6.0](https://github.com/docker/docker-py/blob/e78e4e7491da7055151bfe454282770786a8c270/docs/change-log.md#260).

[2018-09-28 20:57] jctanner commented on #37087
@trigger305 the issue is unnecessary when we have an active pullrequest to implement the fix/feature. Please give further feedback in https://github.com/ansible/ansible/pull/38031

[2018-09-28 21:01] dreamcat4 commented on #46203
@dagwieers The other thread is locked now. But this recent suggestion (@sivel comment above) is brand new:

https://github.com/ansible/ansible/issues/46203#issuecomment-425111123

And you are saying we might want to leave open the possibility of someone else coming along later, to do a PR for looping over blocks off their own backs. Then at least we could make it crystal clear to them, as to make

[2018-09-28 21:48] #46195 closed, assigned to nobody

[2018-09-28 22:13] kylix3511 commented on #46240
@sivel Yes ... I tried and its not working.

After intendtion

---
- hosts: testhosts
  name: simple test
  connection: local
  gather_facts: yes
  tasks:
    - make:
        target: all

 ...

$ ansible-playbook Makefile.yaml
ERROR! The field 'hosts' has an invalid value, which includes an undefined variable. The error was: 'target' is undefined

The error appears to have been in 'Makefile.yaml':

[2018-09-28 22:33] trigger305 commented on #37087
Thank you @jctanner

[2018-09-28 22:42] jpic commented on #2155
Just deal with the ssh in your ansible command wrapper hehe

[2018-09-28 23:52] marcewho opened #46295 "ansible_cmdline fact doesn't sanitize dotted strings found in /proc/cmdline"
##### SUMMARY
The ansible_cmdline fact doesn't sanitize dotted strings found in /proc/cmdline

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[cmdline.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/cmdline.py)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
MacOS master, Gentoo Client

##### STEPS TO REPRODUCE
1. Enabl

[2018-09-28 23:59] kpsajith opened #46296 "Not able to set docker_container --stop-timeout"
##### SUMMARY

Not able to set docker_container stop_timeout option using ansible.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I can set the stop timeout by doing docker run --stop-timeout 30 ......
docker inspect cont

[2018-09-29 00:51] zcourts commented on #29661
Hey,
I'm happy to pick this up. We're heavily dependent on both ansible and helm charts so would ideally like to be using stuff from upstream. How do you want to move forward with this?

[2018-09-29 02:13] FragmentedPacket commented on #45948
@Im0 @sieben
Can y'all look over my branch of this? I have completed the first module and I'm attempting to create the netbox_utils as open as possible so I can use the same functions for different modules.
module_utils/net_tools/netbox/netbox_utils.py
modules/net_tools/netbox/netbox_device.py

Those are the two files I edited within my forked repo and branch(netbox_modules)
https://github.com/Fra

[2018-09-29 02:39] yuwzho commented on #46207
@rnowagk Yep, currently the [azure_rm.py](https://github.com/ansible/ansible/blob/277bb3066c7ae8506a8201f5285b77d51b422267/contrib/inventory/azure_rm.py#L442) only supports find the auth by a priority chain. As there is a plan to refactor the inventory code, I think it is a  good suggestion to add the AZURE_AUTH_SOURCE in the new inventory.

[2018-09-29 02:53] rdkls commented on #32513
ah good suggestion, I just came across this same issue
On the helm CLI I found this question about how the client connects, despite no ingress or service:
https://github.com/helm/helm/issues/3745

And sure enough
[code]

[2018-09-29 04:54] felixfontein commented on #46296
`docker_container`'s `stop_timeout` option does something different than setting the `StopTimeout` configuration of the container: it is used when a container has to be stopped by `docker_container`. There's currently a PR which will change this, though: #43874

duplicate_of #43814

resolved_by_pr #43874

[2018-09-29 04:55] #46296 closed, assigned to nobody

[2018-09-29 07:48] #45202 closed, assigned to nobody

[2018-09-29 08:59] dariko commented on #45683
@zem
I got the same error when installing via pip `docker-py` instead of `docker`

[2018-09-29 09:33] Im0 commented on #45948
G'day @FragmentedPacket - I've only had a cursory glance.  You've made fast progress, good job. Just a few minor things:

`netbox/netbox_device.py`:
* Documentation section: keep the indentation consistent.  Suggestion 2 spaces at L19, 21,23... etc.
* Examples section:  If I cut and paste this now as an example, it doesn't look like it would work?

L161: Does pynetbox.api ever error?  What happens

[2018-09-29 12:03] kvprasoon opened #46300 "Ability to target different version of PowerShell, mainly PowerShell 6.x"
##### SUMMARY

You might have already heard of the new open source version of PowerShell, PowerShell core. Do we have any plan to have an option for the end user to specify executable path of PowerShell to point to ?
This will enable to have single module for Linux, Windows and Mac OS in future.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

I'm one of the con

[2018-09-29 13:26] RafnexJr opened #46301 "Error installing packages with yum-module"
##### SUMMARY

If I try to install the Packages `yum-utils device-mapper-persistent-data lvm2` with the YUM-Module. I get the Error `fatal: [example.example.com]: FAILED! => {"changed": false, "msg": "Failure talking to yum: Invalid version flag from: yum-utils device-mapper-persistent-data lvm2"}`. If I run the command local on the machine everything works.

##### ISSUE TYPE
- Bug Report

##### C

[2018-09-29 16:10] adelton commented on #33187
I claim it's wrong that it is just a wrapper for `dnf` because then it just cannot handle the fact that information about installed packages is ultimately hold in rpm database (on dnf-based systems), irrespectively what `dnf` thinks about the package.

[2018-09-29 19:59] jikquantopian commented on #43855
Seems to work, thanks.

[2018-09-29 20:36] lfventura opened #46307 "ec2_vpc_route_table can't disable vgw propagation"
##### SUMMARY
If you set the parameter propagating_vgw_ids in a route on ec2_vpc_route_table you have no way to disable it back again as this parameter requires an ID and there is no option to disable it over again.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_vpc_route_table

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Not required

##### OS / ENVIRONMENT
Not required

##### ST

[2018-09-29 21:17] nicovell3 opened #46308 "Add arrays support for xfconf module"
##### SUMMARY
Add arrays support for the xfconf module.

##### ISSUE TYPE
- xfconf-query command can set up arrays. I needed that feature to automatize my xfce4 panels creation, so I implemented it. I would like someone to add to this repo the modifications I made to the xfconf.py file.

##### COMPONENT NAME
xfconf

##### ADDITIONAL INFORMATION
With this modification, array values can be queried a

[2018-09-29 22:44] danieljaouen commented on #41639
As far as I know, `brew cask upgrade` is only used to upgrade all available casks.

[2018-09-29 23:45] jborean93 commented on #46300
I’ve been playing around with it recently for switching between PS Desktop and Core on the Windows side. It is possible and basic module like win_ping work perfectly fine but PSCore seems to be about half a second slower than PSDesktop which is disappointing.

As for PowerShell Core on Unix boxes, it should be possible now by just creating a custom module and have the path to pwsh as the shebang.

[2018-09-30 00:18] brandonkal opened #46310 "Vault: Vault-ids default,default are available -- duplicate"
##### SUMMARY

I cannot use ansible-vault. This seems to be a recurring problem, as I had this issue before, then it seemed resolved, and now it is broken again.

The error I get when performing any  ansible-vault command is:
[code]

I did not manually create any extra vault ids. I only use one.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Vault

##### ANSIBLE VERSION

[code]

##### CONFI

[2018-09-30 00:47] brandonkal commented on #46310
To exand, if vault-password-file is set in default ansible.cfg, then it is not possible to override that. It appears setting --vault-password-file in cli creates another "default" vault-id (which should be considered a bug as that is just confusing) and --vault-id .vault_password just does not work.

[2018-09-30 03:35] PoseyZhong opened #46313 "storage_mb for azure_rm_mysqlserver is not working"
##### SUMMARY
Create azure mysql with azure_rm_mysqlserver,  set the storage_mb is not working. It always be 5G

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_mysqlserver
http://www.txtlxg.com/docs.ansible.com/ansible/azure_rm_mysqlserver_module.html

##### ANSIBLE VERSION

ansible 2.6.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/azureuser/.a

[2018-09-30 05:52] renhammer opened #46314 "Using apt module, something changes but changed remains false and the change seems undetected"
##### SUMMARY
When using the apt module against multiple machines, I noticed in the output a change has taken place but the status for 'changed' is equal to false, so the change is not detected and reports as green not yellow. Not sure if this is a bug or not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMEN

[2018-09-30 07:01] leeadh opened #46315 "mySQL doesnt install on AWS EC2"
I have 2 EC2 server instances where 1 I am using ansible to install mysql on the other ec2 instance.
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
- Installing mySQL on AWS EC2 Linux

##### ANSIBLE VERSION
ansible 2.6.5

##### CONFIGURATION
So this is what I have so far

[code]

And this is my .my.cnf

[code]

Im getting this error everytime

[code]

##### OS / ENVIRONMENT
Linux AMI

Is this s

[2018-09-30 07:39] BenjaminHae opened #46316 "docker_container publishing ports fails when container is in network"
##### SUMMARY
When using the `docker_container` module's `network` parameter `publish_ports` fails as automatic determination of ip-addresses fails

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`docker_container`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host: `4.9.65-1-virthardened #2-Alpine SMP Mon Nov 27 15:53:30 GMT 2017 x86_64 Linux`
Remote mac

[2018-09-30 08:12] kvprasoon commented on #46300
Thanks for the perf feedback. Crew is already working on it, there are multiple issues getting fixed related to performance.

At least if we make the switching possible for end users, It will be helpful if any opts PSCore . And as u mentioned the shebang will be the way for nX distributions.

Thanks for the reply.

[2018-09-30 08:57] kvprasoon commented on #46300
@jborean93 cool, will give it a try, Thanks

[2018-09-30 10:11] felixfontein commented on #46316
I cannot reproduce this with the current devel branch. I also cannot reproduce it with Ansible 2.5.10 and 2.6.5. Since the 2.4 will only receive security fixes (if needed) anymore, you probably have to upgrade to a newer version of Ansible. (Alternatively, if that's not possible, you can extract the `docker_container` module from a newer version and use that one instead.)

close_me

[2018-09-30 10:12] #46316 closed, assigned to nobody

[2018-09-30 11:03] #43814 closed, assigned to nobody

[2018-09-30 11:10] felixfontein commented on #46296
#43874 has now been merged; this feature will be contained in Ansible 2.8.

[2018-09-30 12:06] danieljaouen opened #46319 "Add way for AnsibleModule.run_command to display program output to terminal"
##### SUMMARY
I'm trying to fix #29403 and I'm running into some issues.  The problem is that `brew cask` will sometimes prompt for a password when installing a cask.  This will cause Ansible to hang indefinitely when trying to install such a cask.

You can't simply become root, as homebrew will complain and throw an error.  I figure the best way to go about this is to simply display output from t

[2018-09-30 12:39] akira6592 commented on #46185
Is the privilege level of user `fc.acsansible.ro` `0` ?
Then, it looks like the following issue.
https://github.com/ansible/ansible/issues/44672

[2018-09-30 13:38] akira6592 opened #46321 "The Playbook Debugger can't update task_vars"
##### SUMMARY

The Playbook Debugger can't update task_vars.
Even though `task_vars` is updated, `task.args` is already evaluated. So, updating `task_vars` has no meaning.

I tried to reproduce the following documents.
https://docs.ansible.com/ansible/latest/user_guide/playbooks_debugger.html#task-vars-key-value

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

#

[2018-09-30 14:33] hbielenia commented on #45683
I have the same error with `docker` version 2.5.1.

[2018-09-30 15:58] felixfontein commented on #15816
@gdamjan Do you still have this problem?

needs_info

[2018-09-30 16:14] felixfontein commented on #21188
This has already been fixed in #41678. Unfortunately, this fix is a little too extreme from my point of view: if `image` is not specified, no configuration checking is done.

[2018-09-30 17:39] samdoran commented on #46315
For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-30 17:39] #46315 closed, assigned to nobody

[2018-09-30 18:12] Fotoblysk commented on #46259
I confirm that after removing `ANSIBLE_SSH_CONTROL_PATH_DIR(/home/user/playbook_path/ansible.cfg) = ./.ansible_cp` the connection issue is gone.

[2018-09-30 21:11] viniciusbarretobr opened #46325 "Behavior of the playbook between new group servers and former servers of the same group new servers"
Hello, I'm starting with Ansible and I have a question about the Playbook:

**issue type:** just a question
**ansible version:** 1.7.2
**component name:** Playbook

Assuming that I create a configuration deployment / update recipe for the [web servers] group, and put it on the new "clean" server in this group and run this Playbook, Ansible will be able to detect that the old servers have already r

[2018-09-30 21:52] kusold opened #46326 "Docker Swarm init requires advertise_addr"
##### SUMMARY

The documentation indicates that the field is optional:
https://github.com/ansible/ansible/blob/83e584577a14939966bbb0e4e9d1f569a7bd90af/lib/ansible/modules/cloud/docker/docker_swarm.py#L30-L31

However the code makes it a required field:
https://github.com/ansible/ansible/blob/83e584577a14939966bbb0e4e9d1f569a7bd90af/lib/ansible/modules/cloud/docker/docker_swarm.py#L333-L334

#####

[2018-09-30 23:03] FragmentedPacket commented on #45948
@Im0 Thanks for the feedback. I have fixed the items you have suggested.

[2018-10-01 04:12] viniciusbarretobr commented on #46325
Adjusted!

[2018-10-01 05:47] 2anoyu commented on #31620
Here is what worked for my setup.

for the  -  ERROR! Attempting to decrypt but no vault secrets found

If you embed your vault password configuration in your ansible.cfg file with

default_vault_password_file = /path-to-/secret-vault-password-file

The above message will suddenly start appearing, this is because the format appears to have changed in the newer version of ansible.cfg.  This is usua

[2018-10-01 07:54] sieben commented on #45948
@FragmentedPacket Could you open a PR? You can add WIP: in the title to manifest that it is not finished. PR helps with commenting directly the change you are making.

[2018-10-01 08:19] ganeshrn commented on #46257
@ismc `default_operation` option is added in 2.7 version. Please restest with the patch in PR #46333 to fix this issue as `default-operation` is an optional value as per Netconf rfc.

[2018-10-01 08:56] Jean-Daniel opened #46334 "user module warn about invalid password when using '*'"
##### SUMMARY
Sometimes, we need to create disable account on linux (for background daemon for instance), but actually, the `user` module provide no way to create a disabled account.
Until https://github.com/ansible/ansible/pull/43614 , it was easy to create such user by simply passing `*` as password, but now the module emit a warning when using such valid password.

`[WARNING]: The input passwor

[2018-10-01 09:29] rajendraarora16 commented on #46314
@ansibot testing!

[2018-10-01 09:29] rajendraarora16 commented on #46314
@ansibot who are you

[2018-10-01 09:46] thatsk opened #46336 "ternary module not working."
##### SUMMARY
When I want to use skip the task if the extra-vars parameter is passed like default [] in playbook from the role

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

[code]

[code]

#####Ansible command
ansible-playbook -vv -

[2018-10-01 09:51] camilamacedo86 opened #46337 "Unable to uninstall ansible via pip commands in Mac Os X"
##### SUMMARY
After installing ansible by pip install ansible I am unable to uninstall it.

##### ISSUE TYPE
- Bug in the installation by pip

##### COMPONENT NAME
- ansible install

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Mac Os X - High Sierra - 10.13.16
##### STEPS TO REPRODUCE

- Install ansible by `pip install ansible --user`
- Try to uninstall it by

[2018-10-01 09:55] thatsk commented on #46336
@bcoca @sivel can you help me to sort out

[2018-10-01 09:55] camilamacedo86 commented on #46337
The solution/workaround is re-run the command as root. ( IMPORTANT, when it was installed the execution, was not made as root and it was performed with the param --user )

[2018-10-01 10:21] mariolenz opened #46338 "redfish_config: SetBiosAttributes not idempotent"
I haven't found another issue about this. Please forgive me if I open this and it turns out I was just too stupid to search.

##### SUMMARY
I have had a look at the new redfish modules. I know 2.7 isn't released yet and anyway these modules are flagged as preview, but I was somewhat irritated by the behavior of SetBiosAttributes in redfish_config. I've written a task to set the BIOS attribute Ener

[2018-10-01 10:28] ghost opened #46339 "Inventory variables are not visible when targeting hosts in playbook"
##### SUMMARY
Inventory variables are not visible when targeting hosts in playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Variable substitution

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
In the inventory file I have:
[code]
Inside playbook I would like to use those variables as such
[code]

I am invoking the playbook

[2018-10-01 11:28] unamuno opened #46341 "Manage OpenStack Projects Properties"
##### SUMMARY
In OpenStack you can give projects multiple properties:
`openstack project create --property <key=value>`
Add a property to <name> (repeat option to set multiple properties)
[OpenStack Docs](https://docs.openstack.org/python-openstackclient/pike/cli/command-objects/project.html)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
OpenStack modul os_project
ansible/lib/ansible/modu

[2018-10-01 11:52] mavit opened #46342 "Can't migrate a VM with vmware_vmotion: A specified parameter was not correct: spec.pool"
##### SUMMARY
All attempts to migrate virtual machines with the `vmware_vmotion` module fail.  Presumably this module works for other users (else more people would be complaining), so it seems likely that it's failing to cope with some quirk of my VMware environment.

I believe that this is the same issue as #25133, which was closed.  Pull request #45919 provides a workaround.

##### ISSUE TYPE
-

[2018-10-01 11:53] superansibleuser commented on #46258
It was an fault on my side because. I had to add an route to my system.

[2018-10-01 11:53] #46258 closed, assigned to nobody

[2018-10-01 12:32] agowa338 commented on #43082
@Akasurde what's the status? What's blocking a fix or how can one help you?

[2018-10-01 12:43] GitHubAre commented on #46339
Workaround for this:
`hosts: "{{ hostvars['localhost']['project_name'] }}_{{ hostvars['localhost']['environment_name'] }}_iis"`

[2018-10-01 12:56] GitHubAre commented on #46339
There is some dark magic involved, it works if I use this:

[code]

If I remove  the step "do nothing" it doesnt work even with this `hosts: "{{ hostvars['localhost']['project_name'] }}_{{ hostvars['localhost']['environment_name'] }}_iis"` syntax

[2018-10-01 12:57] lukas-bednar commented on #27844
@maxamillion That error is correct, my point about this issue is when there is no change (meaning that package is installed) then it shouldn't fail, because technically there is nothing to do. And this nothing-operation generates error for me.

[2018-10-01 13:45] zsythink opened #46343 "with_items is replaced by loop and the flatten filter. But the two are actually different"
##### SUMMARY

with_items is replaced by loop and the flatten filter.
But the two are actually different

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

keyword _loop_ and filter _flatten_

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[root@test71 ansible]# cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)
[root@test71 ansible]# uname -a
Linux test71 3.10.0-693.el7.x86_6

[2018-10-01 13:49] #38772 closed, assigned to nobody

[2018-10-01 13:52] bcoca commented on #46319
working on it #13620

[2018-10-01 13:56] tpraxl commented on #29396
+1 for fixing that

[2018-10-01 15:07] pilou- commented on #45839
Related pull-requests:
#45554 (from #40507): needs update (see #22370)
#45568 (from #45568): needs update
#45572 (from #40234): merged
#40348: requires the two previous pull-requests

[2018-10-01 15:20] samccann opened #46347 "Improve documentation for new vs deprecated features."
##### SUMMARY

Currently, customers who have deprecated modules/features have a difficult time tracking their older modules when the deprecated documentation is removed/stale vs the newer/replacement module etc.

We need a better balance between showing users the new way vs keeping the older/deprecated approach available.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible

[2018-10-01 15:43] moreda commented on #23575
Been in a pinch, I just added the missing quotes for the `--out-format` option in the `synchronize` module and now it works for a basic usage.

The relevant line in the `lib/ansible/modules/files/synchronize.py`file is:
[code]
that becomes:
[code]
Should I prepare a PR and submit it, or some kind member of the dev team would like to consider this request as it is? 😊
Thanks a lot in advance!

[2018-10-01 15:53] caphrim007 commented on #41705
@derek-linke still an issue?

[2018-10-01 15:55] Bluscream opened #46349 "Installation fails because apt update took too long"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
task raspbian-python3.6.yml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

blu@minopia:~$ uname -a
Linux minopia.de 4.14.70-v7+ #1144 SMP Tue Sep 18 17:34:46 BST 2018 armv7l GNU/Linux
blu@minopia:~$ lsb_release -a
No LSB modules are available.
Distributor ID: Raspbian
Description:    Raspbian G

[2018-10-01 15:58] jvanderaa commented on #44332
The ASA modules should probably support the `become` and `become_method` functions first. See https://github.com/ansible/ansible/issues/40611

[2018-10-01 16:11] ghost opened #46354 "Can not contruct variable names progarmtically using Jinja2 and nested variables"
##### SUMMARY

I am trying to contruct variable names progarmtically using Jinja2 and nested variables and with_sequence, but I am getting an error: The task includes an option with an undefined variable. The error was: 'item' is undefined
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cloud_init
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.5
###

[2018-10-01 16:12] skregas commented on #46185
@akira6592 privilege level is 15
`
#show privilege

Current privilege level is 15
`

[2018-10-01 16:19] mhunsber opened #46355 "Add Support for Supplying Credentials to win_robocopy"
##### SUMMARY

Add `user_name` and `password` parameters to the `win_robocopy` module so that directories hosted on a password protected network share can be synchronized

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

win_robocopy
##### ADDITIONAL INFORMATION

robocopy can synchronize from a UNC path, but it doesn't provide network authentication by itself. This means you can't synchroniz

[2018-10-01 16:20] juame commented on #43025
@maxamillion sorry for the delay. Here a full example:

[code]

Thank you!

[2018-10-01 16:29] acozine opened #46356 "Update documentation to coincide with 2.7 release"
##### SUMMARY
When 2.7 is officially released, we need to make sure docs.ansible.com reflects the release.

- [x] update the Release Status grid on the release and maintenance page
    - [x] Update status of each release (supported/EOL)
    - [x] Update latest version of each listed release, with dates
    - [x] Add a changelog link to the Ansible Release column for the 2.7 entry
- [x] Update the

[2018-10-01 16:39] dw commented on #45839
There is a significant amount of design discussion required before upstreaming is possible, and the team have avoided every attempt at progressing one, so please understand why I'm personally no longer interested in or willing to volunteer time for this.

Related action points supplied to Ansible team on 13 June for which no response was received.

- Make 'raw' command work without Python installe

[2018-10-01 16:55] bcoca commented on #46343
See my PR above, i seem to have forgotten to 'restore levels' when coming back from a deep path.

[2018-10-01 17:48] flowerysong commented on #46354
`with_sequence` is indented too far. It should be aligned with the other task parameters, not the module parameters.

[2018-10-01 18:07] kfattig commented on #42784
Experiencing the same issue on Ansible 2.6.4 , Tower 3.2.6 , RHEL 7.5 .  The issue appears to depend somewhat on the job being executed, as some of my jobs do work.  I've been unable to identify a reliable pattern.

[2018-10-01 18:18] bcoca commented on #46314
autoremove seems to not be correctly showing as 'changed'

[2018-10-01 18:30] #41186 closed, assigned to Qalthos

[2018-10-01 18:32] bcoca commented on #46325
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-01 18:32] #46325 closed, assigned to nobody

[2018-10-01 18:36] bcoca commented on #46336
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-01 18:36] #46336 closed, assigned to bcoca

[2018-10-01 18:41] thatsk commented on #46336
@bcoca whats the issue ?

[2018-10-01 18:42] dprince opened #46362 "podman support (podman_container)"
##### SUMMARY
We desire a module to interact with podman on the CLI via Ansible.

This would be similar to ./modules/cloud/docker/docker_container.py which has similar features to podman's CLI. Podman also supports some new "pod like" syntax which would also be nice to support.

##### ISSUE TYPE
- A module called podman_container

[2018-10-01 18:42] bcoca commented on #46339
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

`hosts:` in a play cannot normally access inventory variables as we don't know 'which hosts' to use, you can use things like vars_files

[2018-10-01 18:42] #46339 closed, assigned to nobody

[2018-10-01 18:45] mariolenz commented on #46338
@bcoca After fixing some typos, ansibot reverted your changes. I'll try to remediate this.
+label support:community
-label support:core

[2018-10-01 18:50] dprince opened #46365 "implicit (or configurable) tagging support"
I would like a mechanism where I can supply a mapping of resources/modules on the CLI that would automatically get tagged. This would allow a user to control playbooks in a more fine grained manner and do things like generate only config files for example.

[2018-10-01 18:54] dprince commented on #46365
On the CLI this could look something like this perhaps:

ansible-playbook --tag-map template:config

This could automatically "tag" any template resources with the 'config' tag. Thus providing a mechanism to control what gets executed dynamically.

[2018-10-01 18:58] mariolenz commented on #46338
@bcoca Sorry, but after fixing some typos ansibot relabeled this issue as support:core and I didn't figure out how to set it back to support:community. I tried

+label support:community
-label support:core

but this somehow didn't work.

[2018-10-01 19:07] bcoca commented on #46354
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-01 19:07] #46354 closed, assigned to nobody

[2018-10-01 19:10] nickbroon commented on #20537
I don't think the documentation covers how deal with a local meta/main.yml:dependencies and installing those. This issues was raised about that, and I don't believe there are any current solutions.

[2018-10-01 19:13] samdoran commented on #46362
I am working on the following modules for inclusion in TripleO:

- `podman_image`
- `podman_container`

I also plan to write a `podman` connection plugin once the two modules are done.

[2018-10-01 19:23] major opened #46367 "sefcontext module should support equivalent paths"
##### SUMMARY

The `semanage fcontext` command has a `-e`/`--equal` argument that allows a user to specify a source path to use for filesystem contexts for another directory.

For example, `/var/www/html` typically has SELinux contexts applied so that web servers can serve content from that directory. However, if a user decides to put web content in `/opt/web`, that directory won't have the correc

[2018-10-01 20:41] samdoran commented on #46337
The error you are seeing makes sense because a non-root user cannot delete those files. ([SIP](
https://support.apple.com/en-us/HT204899) is not a factor in this issue. But I am unable to duplicate this despite my best efforts to break things.

My initial thought was that if another user installed Ansible at the system level (`/Library/Python/2.7/site-packages/`) and your current user had Ansible

[2018-10-01 20:42] klondi commented on #34259
H @hanswurscht  at Lescovex we are using the attached one which we developed internallly.

[fix_delegated_passwords.patch.txt](https://github.com/ansible/ansible/files/2435570/fix_delegated_passwords.patch.txt)

[2018-10-01 20:49] justjais commented on #45090
@depereo thanks for checking and confirming the scenario with the PR raised. Now, as I am unable to reproduce the behavior in my environment even with multiple tries, so can you please **debug** the behavior from your end and **paste** in the _**output**_ which will help me in fixing the code that's breaking.

For debugging: plz use `q` python module to debug the scenarios, so can you please insta

[2018-10-01 22:04] ahayes opened #46374 "No-clobber parameter for ini_file module"
##### SUMMARY

The ability to instruct the ini_file module to not overwrite an option if it is already set.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

lib/ansible/modules/files/ini_file.py

##### ADDITIONAL INFORMATION

Couple of of parameter options could be:

state: no-clobber
no-clobber: yes
overwrite: no

Sometimes a configuration file will need an option added during install but

[2018-10-01 22:18] dagwieers commented on #46367
That would indeed be useful.

needs_contributor

[2018-10-01 22:24] #45916 closed, assigned to nobody

[2018-10-01 22:36] jborean93 commented on #45891
Talking about this in the contributor summit we've agreed to do the following;

* Add the rules mentioned above to the ignore list
* Ignore the BOM rule as it isn't relevant to how we consume the modules in Ansible
* Add a preference to using `test/sanity/pslint/ignore.txt` but still allow the explicit entry in the modules if needed

[2018-10-01 22:46] ptux commented on #46367
How about adding a choice `equal` to `state `.

[2018-10-02 00:19] mattclay opened #46379 "Traceback in `parsing/splitter.py`"
##### SUMMARY

Recent changes to `parsing/splitter.py` in https://github.com/ansible/ansible/pull/45853 are causing a traceback in the `win_psmodule` integration tests:

https://app.shippable.com/github/ansible/ansible/runs/86369/14/console

This issue went undetected in the original PR because the `win_psmodule` integration tests are not included in the Windows smoke tests.

##### ISSUE TYPE

Bug

[2018-10-02 00:20] mattclay commented on #46379
cc @dagwieers @jborean93

[2018-10-02 00:30] jborean93 commented on #46379
Looks like it's not comments that are the cause but the newline in the beginning.

[2018-10-02 00:41] dagwieers commented on #46379
I was hunting ghost for a short while there :-P

[2018-10-02 06:45] kinvaris opened #46383 "Unable to set quota on existing projects: project does not exist"
##### SUMMARY
I am trying to change the quota of a certain project but the OpenStackSDK library fails to fetch all the projects. As seen in this bug report: https://storyboard.openstack.org/#!/story/2003927

We've tested the module with the following OpenStackSDK versions:
- 0.17.2
- 0.17.1
- 0.16.0
- 0.15.0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_quota

##### ANSIBLE VERSION
[code

[2018-10-02 06:56] akshay196 commented on #33622
I would like to work on it. I will propose PR once add support of healthcheck.

[2018-10-02 07:32] ghost opened #46384 "na_ontap_interface.py should include options for subnet assignment"
##### SUMMARY
The Netapp module to configure the network interfaces should include options to make use of pre-defined network subnets

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
na_ontap_interface.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-10-02 07:55] fredricj commented on #42090
Archiving a broken symlink makes sense in at least some cases. For instance we have symlinks to paths that does not not exist on our build server but do exist on the target. Even if the target of the symlink existed we would not want to follow it during archiving.

[2018-10-02 08:14] lwm commented on #45911
Perhaps not the right time to build this module.

I don't think there is the support on the Pipenv side to match use cases that Ansible needs.

[2018-10-02 08:21] nickbroon opened #46385 "relative paths in include statements in requirements.yml files should be relative to the requirements.yml file and not cwd of the ansible-galaxy process."
##### SUMMARY
relative paths in include statements in requirements.yml files should be relative to the requirements.yml file and not cwd of the ansible-galaxy process.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
"ansible-config dump --only-changed"
[code]

##### OS / ENVIRONMENT
Ubuntu Linux 18.04

##### STEPS TO REPRODUCE

[2018-10-02 08:38] felixfontein commented on #33622
@akshay196 Awesome! If you have any questions regarding the general docker_container code / tests / ..., feel free to ask!

[2018-10-02 08:39] joren485 commented on #24155
Looking at the code, it looks like the `regex` is not intended to be used by itself but rather called through either `match` or `search`.

[2018-10-02 09:05] webknjaz commented on #46009
bot_status

[2018-10-02 09:38] #34863 closed, assigned to nobody

[2018-10-02 09:56] Akasurde commented on #46379
resolved_by_pr #46380

[2018-10-02 11:14] intiocean commented on #6989
I added a step to my ansible playbook before using `postgresql_user` and it did the trick

[code]

In the past I used to just install `python3-psycopg2` but had dependency issues installing it on Ubuntu 18.04.1
[code]

[2018-10-02 11:33] ynux opened #46391 "pam_limits: Insert new lines before the "# End of file" line"
##### SUMMARY
Insert the new lines before the `# End of file` line, not after.
Remark: I also noticed that no error is thrown when pam_limits fails due to missing root privileges / become: true. However, I didn't test this.

##### ISSUE TYPE
Prettier. It may just be irritating

##### COMPONENT NAME
pam_limits

##### ADDITIONAL INFORMATION
Personally, I think it's silly to have such a `# End of fil

[2018-10-02 12:36] dagwieers commented on #46367
@ptux I don't think overloading the state parameter is a good way forward. And I also don't think it is necessary. If we want to do it as part of the same module, either `equal` or `selevel` + `setype` + `seuser` are required, and both are mutual exclusive. So based on the provided information we would know what to do.

[2018-10-02 12:43] MichaelBaydoun commented on #45490
Thanks @jborean93.  We only need to keep the remote files to troubleshoot an issue with a windows module.  I see this made 2.6.5.  I'll install and test.

[2018-10-02 14:15] Ploy-XIV commented on #44266
I'm a bit confused. Is there any more information or comment that I should provide here?

As far as I'm concerned, this turned out to be more of a Debian-internal issue, and is not something that can be reasonably fixed in Ansible.

As @davidedelvento said, it would be great if the documentation of the user module were a bit more explicit on what "backend" tool is used for account creation (on the

[2018-10-02 14:44] dmsimard opened #46397 "Callbacks should be able to fail the ansible(-playbook) execution"
##### SUMMARY
Callbacks receive all execution events and they are able to implement business logic based on the results it gets or external circumstances.
If a callback determines that the playbook execution should be halted based on this business logic, it should be able to do it -- similar to how a module might return an exit_json with data, status codes, etc.

##### ISSUE TYPE
- Feature Idea

#

[2018-10-02 14:44] dmsimard commented on #46397
Discussed this with @bcoca this morning after a user asked if doing something like this was possible.

[2018-10-02 14:52] bcoca commented on #46397
possible, maybe, desirable, no.

callbacks are not meant to change play flow, that is what strategy plugins are for.

I meant we could add a toggle so callback exceptions outside of stdout (which are currently a warning) could be converted into an error as in some cases you can consider 'reporting' as indispensable and want Ansible to fail if you are unable to communicate the actions taken.

[2018-10-02 15:01] #40877 closed, assigned to nobody

[2018-10-02 15:12] jluntnscc commented on #19584
I ran the playbook with the following flags:

ansible-playbook playbook.yml --ask-pass - this helped.

[2018-10-02 15:17] enablex3 commented on #19584
In the hosts you could also do ansibleuser="user" ansiblepass="pass" right
next to the ip for the target. This allows me to run play books without any
extra password prompts.

On Tue, Oct 2, 2018 at 11:15 AM jluntnscc <notifications@github.com> wrote:

[2018-10-02 15:20] fabianvf commented on #44407
I think this was fixed in #46145

[2018-10-02 15:35] acozine commented on #46356
Last three items were done before I filed this issue. Three sub-tasks of the first item are covered by #46399. Second main task is covered by #46400.

[2018-10-02 16:12] #43361 closed, assigned to nobody

[2018-10-02 16:30] s-hertel commented on #45828
RE: https://github.com/ansible/ansible/issues/45828#issuecomment-424138668, the foreman docs are correct. The individual inventory plugin will document the caching options it takes. I've added a PR so the second link addresses inventory caching: #46402. Let me know if that can be made clearer. Thanks for the feedback @jimr6007, much appreciated. :-)

[2018-10-02 17:20] dagwieers commented on #45916
Solution is now documented in the **win_reboot** module documentation. The recommended way to avoid issues to do Windows not having settled after a reboot, is to make the WinRM service delayed starting.

[2018-10-02 17:47] anasbadaha opened #46410 "Onyx show facts module does not work for onyx version 3.6.6000 and higher"
##### SUMMARY
failed to run onyx_show_facts module because of changed in json formmat.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/network/onyx/onyx_facts.py

##### ANSIBLE VERSION

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
attached yml file should be passed successfully when run it!

##### ACTUAL RESULTS
got unexpected exception

[2018-10-02 18:04] varunchopra opened #46412 "win_user: Module failure but user is created successfully"
##### SUMMARY
Running `win_user` with a (strange?) password seems to be throwing an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Sample play:

[code]
Password is generated and saved successfully, user is created successfully and even idempotence is reported successfu

[2018-10-02 18:59] #44457 closed, assigned to samccann

[2018-10-02 19:50] chrisruffalo commented on #37512
This might be documented better but I find the lines

To be pretty telling. (Emphasis mine.) Source [here](https://docs.ansible.com/ansible/2.5/user_guide/playbooks_reuse_roles.html).

So if I read this right they don't want the meta dependencies to be used with conditionals (probably for this reason) but instead to mange conditionals with import_ or include_.

This is because of

And

So what is

[2018-10-02 20:37] soulawaker commented on #23621
Using ansible 2.6.5 with python 3.5.2 , I tried below codes. It seems that still not work.
[code]
The results does not show its task message. Is it normal for meta module?
[code]

[2018-10-02 20:40] mcg commented on #37512
@chrisruffalo Your suggested changes don't fix the issue, at lease for me on `ansible 2.6.4`. The handler in the included slave role is still skipped.

[code]

But reading your comment, I'm not sure you're going after the issue. We want to use meta dependencies but only have the dependent role available, not executed until we `include_role`.
Using `when: false` on meta for the dependent role does

[2018-10-02 20:47] chrisruffalo commented on #37512
I’m trying to explain why having the `when: false` on the dependency makes
it skipped no matter what. (Because it’s included statically and not
dynamically and the conditional is applied to all included items.)

I’m not sure why you need the meta dependency (with `when: false`) to do
what you’re trying to do.
On Tue, Oct 2, 2018 at 4:42 PM Matthew <notifications@github.com> wrote:

[2018-10-02 20:56] BDuelz commented on #32872
I'm experiencing the same issue. Any idea when this will be fixed?

[2018-10-02 21:00] mcg commented on #37512
AFAIK We want to control role run order/placement and also have dependency resolution work.

[2018-10-02 21:16] chrisruffalo commented on #37512
I’m not sure about dependency resolution but you can control run order
explicitly with import_role and include_role. The way that the role
dependency works now is an implicit import_role.

On Tue, Oct 2, 2018 at 5:02 PM Matthew <notifications@github.com> wrote:

[2018-10-02 21:19] mcg commented on #37512
Correct. import/include_role does do what we need as far as run order, but without the dependency listed in meta, it will not be included and the play will fail. The only workaround I know currently, is to not use meta and list every dependency from every included role(and any role(s) included recursively) in the play's requirements.yml. This is... not great.

[2018-10-02 21:33] mcg commented on #37512
include_role works in this example because the slave role exists in `roles/`. You'll need role(s) that are requested with galaxy to see the dependency tree fail.

[2018-10-02 21:39] chrisruffalo commented on #37512
Ah! I didn’t get that from the example. I’ll look at it too. Hopefully we
generate enough noise to get someone else to pop in.
On Tue, Oct 2, 2018 at 5:35 PM Matthew <notifications@github.com> wrote:

[2018-10-02 22:12] jhughes-mc commented on #34422
Voting for this feature. Trying to ensure the ec2_vpc_nat_gateway module is idempotent requires passing a list of EIPs and we don't want to define these EIPs manually. The only way to do this is to create the EIPs with tags then we can filter for those same EIPs allocated for nat gateways and ensure they are assigned. Any other tips for how to do this would be great!

[2018-10-02 22:27] jborean93 commented on #45617
+label windows

[2018-10-02 22:43] Rylon commented on #37512
Hi @chrisruffalo in this case @mcg is correct when he says:

Let me try to explain the use case in more detail.

We want to be able to install all required roles, and any dependencies those roles specify in their `meta`. But the issue is that a dependent role specified via another role's `meta` is automatically included in the play too, *before* the role that required it. In some cases, this is no

[2018-10-02 22:55] #28402 closed, assigned to nitzmahone, jborean93

[2018-10-02 23:29] nikkytub opened #46425 "inventory plugin - netbox"
##### SUMMARY
1) "ansible-inventory -v --list -i netbox_inventory.yml" with api_endpoint: http://localhost:8000 leads to [WARNING]:  * Failed to parse /User/ansible/netbox_inventory.yml with netbox plugin: HTTP Error 403: Forbidden.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
inventory plugin - netbox

##### ANSIBLE VERSION
~/ansible> ansible --version
ansible 2.6.5
  config file = /User/

[2018-10-02 23:48] danieljaouen commented on #29403
I'm currently looking into the issue.  Once #13620 is merged into devel, that should do the trick.  All you would need to do once that happens is add a `live: true` to the associated task.

[2018-10-03 00:17] danieljaouen commented on #29403
Can everyone who still has this issue run a brew --version and an ansible --version for me? I'm looking into this issue, but I'm having problems replicating it with the latest Ansible and Homebrew.

[2018-10-03 01:07] lmcmthi opened #46427 "Manage SNAT List on a BIG-IP"
##### SUMMARY

Manage SNAT lists on a BIG-IP

Please note that this is not related to the SNAT Pool, as documented here (https://docs.ansible.com/ansible/latest/modules/bigip_snat_pool_module.html).

This request is specifically for listing / creating / modifying / deleting SNAT lists.

##### ISSUE TYPE

This is a request for a new feature, because I currently use the "bigip_command - Run arbitrar

[2018-10-03 02:35] dagwieers commented on #42385
@nirmalam99 I was affected by this as well, and like you, I was sure I was running the latest requests-credssp and pyOpenSSL. Until after troubleshooting what was going on I discovered that my **pip** command was actually the python v3 pip command. And Ansible was using python v2.7. (This was on RHEL7)

So what I had to use instead was **pip2** and ensure that both the latest requests-credssp (v1.

[2018-10-03 02:46] jose-delarosa commented on #46338
ACK'ed. At AnsibleFest this week, give me a few days.

[2018-10-03 04:56] jimr6007 opened #46429 "Flush cache with Redis fact cache gives Unexpected Exception"
##### SUMMARY
With Redis as a fact cache, ansible-playbook run with the --flush-cache option results in:
ERROR! Unexpected Exception, this is probably a bug: u'my.hostname'

Probably a regression of: https://github.com/ansible/ansible/issues/31148

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook, fact cache, Redis
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2018-10-03 06:30] labazza commented on #46384
hi @carchi8py , thanks for the update, we have added the functionality in the module and seems to be doing the job. We will replace it with the official module once available.

[2018-10-03 07:45] ahari1994 opened #46432 "Not able to authenticate Windows 2016 node from Ansible"
##### SUMMARY

Not able to  authenticate the Windows 2016 node using Ansible. Win_ping is also not working.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows server 2016
##### STEPS TO REPRODUCE

Not able to ping the device even though the 5985 port is listening, winrm configuration is done(Ba

[2018-10-03 07:55] XooR commented on #37512
We solved our problem that we agreed at company level to have some util roles which are included by other roles and all teams should have in their Ansible repos. For util role would be one that installs Prometheus exporter and registers to Consul to be auto-discovered. We don't have that many roles which are included by other roles 3 of them I think.
In future they should implement a way to specif

[2018-10-03 07:57] jborean93 commented on #46432
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-03 07:57] #46432 closed, assigned to nobody

[2018-10-03 09:04] #43344 closed, assigned to nobody

[2018-10-03 09:33] uberjew666 opened #46434 "Using Jinja2 maths with default filter"
##### SUMMARY
I have set a variable that will be modified with math but may not always be defined so I've included the default filter. However, it appears Ansible tries to resolve the math first instead of checking if the variable is defined first, resulting in an error. It means I cannot use math with a default filter.
Tested on both devel and 2.6.5.

##### ISSUE TYPE
- Bug Report

##### COMPONEN

[2018-10-03 10:17] lwm commented on #20493
Oh darn. Ran into this now via `ERROR! 'listen' is not a valid attribute for a IncludeRole` on:

[code]

I wouldn't probably be putting tasks like this in the handlers file but `ansible-lint` has a rule to push you to use handlers for tasks that rely on changed results. This may be a source of bugs in Ansible core going forward.

[2018-10-03 10:52] lpenz commented on #46257
Done.
Thanks for fixing this!

[2018-10-03 11:27] Akasurde commented on #46429
@jimr6007 Thanks for reporting this issue. This is duplicate of https://github.com/ansible/ansible/issues/35120. I will close this and we can track using 35120. Also, please provide your feedback on PR #35126 which tries to solve this problem. Thanks.

[2018-10-03 11:27] #46429 closed, assigned to nobody

[2018-10-03 14:18] giovannisciortino commented on #46391
Also the latest devel version of ansible is affected by this issue:

[code]

I'm working on a PR

[2018-10-03 14:25] cesarfn4 opened #46438 "Foreman inventory script does not handle non-ascii characters"
##### SUMMARY
Foreman dynamic inventory does not handle non-ascii characters.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Foreman Ansible dynamic inventory script (foreman.py).

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
Create a single host in Red Hat Satellite 6 with a parameter with multiple "é" characters in the string (French words) and try to import it using the Foreman

[2018-10-03 15:06] #35120 closed, assigned to nobody

[2018-10-03 15:35] andsmit9 opened #46440 "Module azure_rm_virtualmachine fails when attempting to stop/start Azure VMs created with a Custom Image"
##### SUMMARY
Ansible is unable to proceed with managing an Azure VM via azure_rm_virtualmachine module if the VM was created with a Custom Image whose Image Publisher is null (Custom Image).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
/var/lib/awx/venv/ansible/lib/python2.7/site-packages/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

##### ANSIBLE VERSION
[code]

##### CONFIGUR

[2018-10-03 15:58] samccann opened #46441 "Add basic Jinja2 template example to Network Getting Started guide"
##### SUMMARY

Today, the jinja2 content isn't covered with a walkthrough example in the Network Getting Started guide. It would be good to show a simple example with a template that assigns hostname to a network device from a jinja2 template to herre:

https://docs.ansible.com/ansible/latest/network/getting_started/intermediate_concepts.html

##### ISSUE TYPE
- Documentation Report

##### COMPONE

[2018-10-03 17:01] jikquantopian opened #46443 "mongodb_user (pymongo 3.7.1, mongodb server 2.6.12) doesn't set default role"
##### SUMMARY
The documentation for mongodb\_user claims that the default value for `roles` is `readWrite`, but when I ask it to create a user without specifying a role, the created user doesn't get any roles at all.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`mongodb_user`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Source host is Ubuntu 18.04.1. Ta

[2018-10-03 18:44] carstenkoester opened #46447 "With any_errors_fatal=True, playbook continues after handler failure"
##### SUMMARY
When `any_errors_fatal` is set to True, a failure during handler execution does not cause the playbook to abort. Playbook continues to execute as if `any_errors_fatal` were set to False.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
any_errors_fatal

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
No specific OS requirements

##### STEPS TO R

[2018-10-03 18:49] ckoester2 commented on #46447
To add:

Issue is not specific to invoking handlers using `meta: flush_handlers` either. Following playbook also continues post-failure:

[code]

[2018-10-03 18:55] ckotte commented on #46156
I'm already working on it. Need more time for testing (NFS41, etc. pp.) before creating the PR.

The output looks like this:
[code]

[2018-10-03 19:19] UnitedMarsupials commented on #33410
@jborean93, I run the process thus:
`nohup $exec < /dev/null >> /var/tmp/mylog.txt 2>&1 &`
it still gets the `HUP`...

[2018-10-03 19:55] #45891 closed, assigned to nobody

[2018-10-03 20:45] samdoran commented on #46334
A check for `!` and `*` was explicit added in that PR. I see that does introduce a regression in behavior, though.

I'm wondering if we should:
1. allow `!` and `*` in the password field
2. add another option to `state` which is `disabled`
3. Add an `enabled` option which defaults to `True`

I think the easiest option is 1. This somewhat hides this feature of the module, though I could add documen

[2018-10-03 21:16] samdoran commented on #44266
@Ploy-XIV The request for information was really to ask whether this is indeed a bug and also to put it in the auto-close counter. If you no longe feel this is an issue, you can close it. If you feel it should stay open until the docs are fixed, I wanted to know that as well.

Anyway, sorry for the confusion. I opened PR #46455. Please look at that and see if that resolves this for you.

Thank you

[2018-10-03 21:27] #46043 closed, assigned to samdoran

[2018-10-03 21:31] DanyC97 commented on #34281
soon-ish we approaching 1 y since this request was open and no progress so far ...  any chance this get some attention @bcoca ? much thanks !

[2018-10-03 22:07] querplis commented on #34049
without credentials_file it is not usable in any sensible way, since that is only auth that can be used with service accounts, and that also would make it usable with tower and awx?

[2018-10-03 22:12] wvidana opened #46457 "Error: AppsV1beta2Deployment was not found in client.models"
##### SUMMARY
Trying to install the kubernetes dashboard from https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml results in the error `Error initializing module helper: Error: AppsV1beta2Deployment was not found in client.models. Did you specify the correct Kind and API Version?`

It also happens with more modules from the dashboard insta

[2018-10-03 22:28] woqer commented on #46457
Seems to be solved in 2.6, my apologies

[2018-10-03 22:28] #46457 closed, assigned to nobody

[2018-10-03 22:56] dagwieers commented on #45912
With the latest devel branch and requests-credssp v1.0.1 and using PSRP I once again got:
[code]
This is with WinRM configured for delayed start. So I wasn't expecting a STATUS_NETLOGON_NOT_STARTED.

[2018-10-03 23:10] blambo10 opened #46458 "VMware: Return any Tags Assigned to Cluster as value in returned dict"
##### SUMMARY

Tag assignment not present in response data.

##### ISSUE TYPE
- Feature Idea
Add "tags" key with all assigned tag names as value,
in return json

##### COMPONENT NAME

vmware_cluster_facts

##### ADDITIONAL INFORMATION

It would provide capacity to identify if cluster is to be included or excluded from automation,
for any given reason, eg generic configuration for a specific cluste

[2018-10-03 23:25] blambo10 opened #46460 "Return any Tags Assigned to VM as value in returned dict"
##### SUMMARY

Tag assignment not present in response data.

##### ISSUE TYPE
- Feature Idea
Add "tags" key with all assigned tag names as value,
in return json

##### COMPONENT NAME

vmware_vm_facts

##### ADDITIONAL INFORMATION

It would provide capacity to identify if a VM is to be included or excluded from automation,
for any given reason, eg generic configuration for a specific VM may impact

[2018-10-03 23:28] blambo10 opened #46461 "VMware: Return any Tags Assigned to HOST as value in returned dict"
##### SUMMARY

Tag assignment not present in response data.

##### ISSUE TYPE
- Feature Idea
Add "tags" key with all assigned tag names as value,
in return json

##### COMPONENT NAME

vmware_host_facts

##### ADDITIONAL INFORMATION

It would provide capacity to identify if a HOST is to be included or excluded from automation,
for any given reason, eg generic configuration for a specific HOST may i

[2018-10-04 00:40] CtrlC-Root commented on #25665
Alternatively you can ship the `ldap_attrs` module from #31664 with your role and use that instead.

[2018-10-04 01:12] jborean93 commented on #46434
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The default filter only applies to the last element in the eval string, in this case is being applied to the value `1000` which in this case is always defined

[2018-10-04 01:12] #46434 closed, assigned to nobody

[2018-10-04 03:13] #44462 closed, assigned to samccann

[2018-10-04 04:04] thewinguy commented on #42385
I am having the same issue.

fatal: [ansibletest01.domain.com]: UNREACHABLE! => {"changed": false, "msg": "credssp: Required argument 'socket' (pos 2) not found", "unreachable": true}

PROD: RHEL 7
pip 8.1.2
Ansible 2.6.2

pip list
ansible2.5.2
request-credssp 1.0.0
pyOpenSSL v18

however i spun up a centos on vmworkstation and do not have this issue. same install packages ... very confusing.

[2018-10-04 04:17] ganeshrn commented on #46257
@lpenz Thank you!

[2018-10-04 04:17] #46257 closed, assigned to ganeshrn

[2018-10-04 04:28] acozine commented on #46356
Backports handled in #46463, #46414, #46415, and #46417.

[2018-10-04 04:53] acozine commented on #46356
Ah, and one more thing:
- [ ] Update the docsite (landing page) to show only supported versions in the Other Versions dropdown. See https://github.com/ansible/docsite/pull/9

[2018-10-04 04:59] jborean93 commented on #42385
So this problem is due to EL7 having a really old version of pyOpenSSL packaged up and how that overwrites the pip installed package. If you have run `yum install pyOpenSSL` or have installed a package that has a dependency on `pyOpenSSL` through yum then you are unable to get requests-credssp working in that same environment. Worst still, pip may still show the newer package version that was orig

[2018-10-04 04:59] #42385 closed, assigned to nobody

[2018-10-04 05:53] Jean-Daniel commented on #46334
Option 1 has the great benefit of being backward compatible. No change required to existing playbooks.

[2018-10-04 07:08] anasbadaha opened #46468 "onyx_l2_interface module failed because of change in json response and on vlan range"
##### SUMMARY
The onyx_l2_interface failed when acces_vlan for interface is 'N\A' and if allowed vlan has vlan range '2-4'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
/lib/ansible/modules/network/onyx/onyx_l2_interface.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
attached yml file should be

[2018-10-04 08:18] rsguhr commented on #18433
Even if it's an old issue it is still relevant.

@keachi as workaround you could build a temporary configuration file which merged all possible ansible.cfg's

Here is a draft of this approach:
https://gitlab.com/snippets/1753039

[2018-10-04 08:19] rsguhr commented on #23973
Even if it's an old issue it is still relevant.

@jlecour as workaround you could build a temporary configuration file which merged all possible ansible.cfg's

Here is a draft of this approach:
https://gitlab.com/snippets/1753039

[2018-10-04 09:57] fconil commented on #43011
I can not reproduce the bug neither with Python 3.6.6 nor with Python 2.7.15rc1 on Ubuntu 18.04

I tried the following branch **stable-2.6**, **stable-2.7** and **v2.6.1** tag.

Could you give further information on your configuration.

[code]

[2018-10-04 10:07] ice3 commented on #30592
@mscherer Hello, the bug seems to be fixed since v2.4.2.0-1

[2018-10-04 11:03] jborean93 commented on #46434
No worries, glad it helped.

[2018-10-04 11:08] victorcoder commented on #39215
I had the same error and the problem was that at creation you can use a `string` for the container port number but subsequent times the check only works with `int` types.
example: `containerPort: 3000`

[2018-10-04 11:18] anasbadaha opened #46475 "Bug: onyx_magp does not support onyx version 3.6.6000 or higher"
##### SUMMARY
onyx_magp module failed on switches with os version higher than 3.6.6000 because of change in json output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/network/onyx/onyx_magp.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
attached yml file should be pa

[2018-10-04 12:23] damaca opened #46476 "Bad type creating fact with jinja"
##### SUMMARY
Creating a list fact with some jinja code I'm getting an unicode type object and when I try to use this object as parameter in another module expecting a list (or a filter like union) I get a type error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jinja, set_fact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS 10.13.6

##### STEPS TO R

[2018-10-04 12:28] anasbadaha opened #46477 "onyx_interface module failed because of change in json output."
##### SUMMARY
Failed to run onyx_interface module because of changes in returned json output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/network/onyx/onyx_interface.py

##### ANSIBLE VERSION

``
ansible 2.6.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  a

[2018-10-04 12:49] funkyfuture commented on #37355
i'm experiencing that Ansible 2.6 is adding redundant entries to the crontab even when a `name` is provided.

[code]

repeated executions result in:

[code]

[2018-10-04 12:51] Mykolaichenko commented on #35552
It's still not working(

[2018-10-04 12:55] zbikmarc commented on #37355
@funkyfuture
IIRC It is different name.
You provided task name, not crontab entry name. So in your case it would be rather:

[code]

[2018-10-04 12:56] michalmedvecky commented on #35552
@Mykolaichenko feel free to try my version available via https://github.com/ansible/ansible/pull/35740

[2018-10-04 12:56] hubpanda commented on #34760
Can confirm the issue is still there in 2.6.4

[2018-10-04 13:40] mscherer commented on #30592
Closing, we did verify the bug was fixed during pycon.fr ansible sprint (and tested it was indeed broken in the first place). Please reopen if we were wrong.

[2018-10-04 13:40] #30592 closed, assigned to nobody

[2018-10-04 14:00] jmcgill298 opened #46480 "nxos_file_copy: Unable to copy binary files"
##### SUMMARY

The module was updated to include reading the file contents in #43423 which causes decoding issues for binary files
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`nxos_file_copy`, the code was copied from `net_put` pulgin, so that plugin would have the same issue.
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NA

##### STEPS TO REPRODUCE

[2018-10-04 14:05] jychen7 commented on #41447
do we want to support?

https://github.com/ansible/ansible/blob/0a07068054090d5b78b27496aa251be74c484b45/lib/ansible/modules/database/mysql/mysql_user.py#L213-L221

[2018-10-04 14:17] fconil commented on #46247
During a Ansible sprint
First observation : It's a **static** service which means it can not be disabled
https://bbs.archlinux.org/viewtopic.php?id=147964
[code]

Should we trigger an error message or mask the service ?

[2018-10-04 14:19] FlorentCoppint commented on #42417
Fix not included in 2.7 ?! That's wonderful not fixing bugs for months !

[2018-10-04 14:20] ansibleuser commented on #42666
was this ever ever followed up? seems like both this and the ability to directly deploy to an esx host within a given cluster/datacenter are the two issues I'd like to see/help resolve. jsut checking of rthe later across github now..

[2018-10-04 14:51] HammerZ3it opened #46484 "Add excitant TAG to vmware VM"
##### SUMMARY
Hi everyone,
I 'd like to have the ability to assign tags to Virtual machine in VMWARE.
I already found some issues about this subject here about TAGS but none (or I did not found it) is talking about actually affecting TAG(s) to a VM.
What I'm trying to do is affect already excitant tags to a VM that I created with ansible module (sphere_guest), the tag allow our backup solution to

[2018-10-04 14:51] guidodobboletta commented on #27179
Would be nice to get this feature as this would also be useful for people trying to add IAM authentication to RDS databases on AWS.

[2018-10-04 14:53] bootswithdefer opened #46485 "yum module fails with repoquery error: Error accessing file for config file"
##### SUMMARY
yum module fails to install with Ansible 2.7, identical command works on Ansible 2.6.4

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`yum.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target and Ansible control are both RHEL7.5 and patched with yum update as of yesterday.  Ansible 2.7 is installed in virtualenv with no extra python p

[2018-10-04 15:10] sdigit opened #46488 "gcp_compute_instance fails to create an instance"
##### SUMMARY

Attempting to create an instance with `gcp_compute_instance` fails with a backtrace.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_instance
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running on Debian 9 (stretch) within GCE, attempting to create a new GCE instance.
##### STEPS TO REPRODUCE

Run the below playbook with PROJE

[2018-10-04 15:28] aioue commented on #44407
Do you know which version the patch will be available in?

[2018-10-04 15:41] andyeff commented on #46440
I also run into this issue when attempting to tag virtual machines after creating them, again with a custom image that has no publisher/offer/sku/version information in the metadata.

For example this is the storageProfile data from a VM created from a custom image:

[code]

[2018-10-04 15:58] skregas commented on #46185
Can execute `terminal length`, but not `terminal width`. The latter command results in `Command authentication failed`.
So that points to a permissions issue with the `fc.acsansible.ro` account.

The question then becomes: has `ios_command` always behaved this way, needing to set terminal length and width parameters? In Ansible 2.4, the combination of the `fc.acsansible.ro` user executing ios_comm

[2018-10-04 16:14] willthames commented on #44407
@aioue it will be in 2.8 without a backport, but you could just pull the contents into plugins/inventory and make sure you set `inventory_plugins = plugins/inventory` in ansible.cfg

[2018-10-04 16:30] kmschl2 opened #46493 "import_role task with vars supplied per task change exposed vars"
##### SUMMARY
Ansible 2.7 makes default vars available for whole play when using import_role (see changelog)
But vars supplied via "vars:" on import_role task once also change exposed defaults vars. This behaviour makes it impossible to overwrite role defaults via vars when using a role more than once.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- lib/ansible/modules/utilities/logic/impo

[2018-10-04 16:32] guidodobboletta opened #46495 "Yum module reporting error when deleting package correctly"
##### SUMMARY
Yum module incorrectly reporting an error when removing packages succesfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux ubuntu 4.15.0-36-generic #39-Ubuntu SMP Mon Sep 24 16:19:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Ubuntu 18.04.1 LTS
Target OS: Amazon Linux latest version

####

[2018-10-04 17:28] goagex opened #46501 "nxos_evpn_vni: Check Mode ignored"
##### SUMMARY

Networking module nxos_evpn_vni ignores Check Mode (--check)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_evpn_vni

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 9
Tested against Cisco Nexus 9000 (7.0(3)I7(5))

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect that nothing is configured

##### ACTUAL RESULTS

[2018-10-04 17:35] 5nowx commented on #44677
Same issue here:

[code]
[code]

**OS / ENVIRONMENT**
macOS Sierra 10.12.6

[2018-10-04 18:30] guidodobboletta commented on #46495
Here's a more clear cut example of what I'm saying. Both of these runs were of the exact same playbook and code, nothing was altered between the two.

![screenshot from 2018-10-04 11-21-09](https://user-images.githubusercontent.com/24704808/46494885-9cf60680-c7d9-11e8-99dd-f7b0672fddf5.png)
![screenshot from 2018-10-04 11-40-19](https://user-images.githubusercontent.com/24704808/46494888-9ebfca00-

[2018-10-04 19:29] #44266 closed, assigned to samdoran

[2018-10-04 19:31] alainchiasson-guavus opened #46508 "add 'one_vm_facts' to cloud/opennebula"
##### SUMMARY

for the cloud/opennebula module - add a way query for vm information.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`lib/ansible/modules/cloud/opennebula/one_image_facts.py`
`lib/ansible/modules/cloud/opennebula/one_vm.py`
`lib/ansible/modules/cloud/opennebula/one_vm_facts.py`

##### ADDITIONAL INFORMATION

Currently, when we create machines we get the information returned

[2018-10-04 19:36] alainchiasson-guavus commented on #46508
@ilicmilan I saw you are the maintainer.  I have done a quick code ( blending of 'on_vm.py' and one_image_facts.py'  ) - to the best of my ability. I have also run a tests by changing the code in my "live ansible".

See :https://github.com/alainchiasson-guavus/ansible/tree/feature/add_one_vm_facts_module

Did you have anything to test your own modules ?
Any help would be apreciated.

[2018-10-04 20:11] felixfontein commented on #45725
Please [read the documentation](https://docs.ansible.com/ansible/latest/modules/openssl_certificate_module.html#parameters) on what `force: true` does. Its only job is to *disable* idempotency.

[2018-10-04 20:12] sonegoh opened #46513 "When using the "subnet_mappings" parameter on the elb_network_lb on ansible 2.6.3 the module print out that the "subnets" parameter is required."
##### SUMMARY
When using the "subnet_mappings" parameter on the elb_network_lb on ansible 2.6.3 the module print out that the "subnets" parameter is required.
When i add the "subnets" i get the error - "parameters are mutually exclusive: subnets, subnet_mappings" as i thought, this is what your docs say.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
elb_network_lb

##### ANSIBLE VERSION

[c

[2018-10-04 20:12] felixfontein commented on #45726
Same as #45725: the `force` option is *intended* to disable idempotency. ([Docs](https://docs.ansible.com/ansible/latest/modules/openssl_csr_module.html#parameters))

[2018-10-04 20:13] felixfontein commented on #45724
Same as #45725: the `force` option is *intended* to disable idempotency. ([Docs](https://docs.ansible.com/ansible/latest/modules/openssl_privatekey_module.html#parameters))

[2018-10-04 20:30] cericoda commented on #22862
Hi. I have just had this issue and tried to follow the advice @abadger gave but it didn't work for me.

What I needed to do was:

[code]

[2018-10-04 20:31] #42977 closed, assigned to nobody

[2018-10-04 20:35] samdoran commented on #46495
cc @maxamillion

[2018-10-04 20:37] ryansb commented on #45458
I'm unable to reproduce this issue on 2.7/devel. Please reopen if this issue persists, or if you can create a reproducer.

[2018-10-04 20:37] #45458 closed, assigned to nobody

[2018-10-04 20:48] ryansb commented on #44613
This does indeed come from `boto`'s incompatibility with Python 3.7+. Here is the master list of all current `boto` only modules https://github.com/ansible/community/blob/master/group-aws/boto3.md , and if you are interested in adopting one to migrate please let us know or open a PR.

[2018-10-04 21:45] geerlingguy opened #46517 "'repository not found' if passing empty string to yum 'enablerepo' parameter"
##### SUMMARY

If I pass an empty string for the `enablerepo` parameter on a `yum` module task, I get a failure when running the task. Ansible < 2.7.0 did not have this issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`yum`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS host, Docker container or VirtualBox VM being managed

##### STEPS TO REPROD

[2018-10-04 21:49] geerlingguy commented on #46517
This is popping up all over the place where I allow users to optionally set a repo, including my git role (https://travis-ci.org/geerlingguy/ansible-role-php/jobs/437341030#L770-L772), apache role (https://travis-ci.org/geerlingguy/ansible-role-drupal/jobs/437318840#L864), and I'm guessing I'll keep having more and more build failures come in as the weekly cron jobs get kicked off :(

[2018-10-04 22:00] espressobeanies commented on #36410
Crickets!!!

[2018-10-04 22:11] ptux commented on #44613
I had to give up fixing route53. #46029
So, @w0203j , could you port it to boto3, please?

[2018-10-05 00:07] sapphire-janrain opened #46519 "pip packager cannot accept multiple extras in the name field (assumes multiple packages)"
##### SUMMARY
Essentially what we're trying to do is install a specific version of airflow with multiple extras through the pip module.

When Ansible 2.11 rolls out and removes the ability to do this in a loop, this will become a more serious bug I think.

The bug itself: One is not allowed to pass a name which contains multiple extras in a package name; that is `name:"apache-airflow[celery,crypto

[2018-10-05 00:10] kresss commented on #32559
+1

All of our users use x509 auth.

[2018-10-05 01:16] dagwieers commented on #45912
The second problem was caused by setting up a domain controller which caused the Netlogon service to be stopped, and the subsequent communication (when using CredSSP or NTLM) failed. (Basic auth would have worked). This is related to #43703

[2018-10-05 01:17] dagwieers commented on #45912
I am going to close this, as I can no longer reproduce the original issue. Maybe an update of requests-credssp or pywinrm fixed this ?

[2018-10-05 01:17] #45912 closed, assigned to nobody

[2018-10-05 02:04] ramonfierro commented on #46495
Except that the mysql packages are not the same for what the playbook run reports. Is this the same machine?
* Failed run: `mysql.noarch 0:5.5-1.6.amzn1`
* Successful run: `mysql55.x86_64 0:5.5.61-1.22.amzn1`
The build is different, it would be helpful to give more details in regards the context where you run the playbook.

[2018-10-05 02:18] goodspark commented on #46519
I believe I'm seeing something similar. At least, I'm also using extras to install additional dependencies through the pip module.

Ubuntu 16.04
Ansible 2.7.0
Python 2.7.14

Ansible step
[code]

[code]

[2018-10-05 04:43] w0203j commented on #44613
@ptux I will give it a shoot ...

[2018-10-05 04:51] guidodobboletta commented on #46495
This is the exact same EC2 Amazon Linux host on both runs. There were no changes or anything done to it between runs.

The plays that are run are:

[code]

[2018-10-05 04:52] guidodobboletta commented on #46495
If you look at the failed output you'll see that it still reports as "Complete!" without any errors so it still shouldn't report that task as failed.

[2018-10-05 07:09] #44791 closed, assigned to nobody

[2018-10-05 07:28] vitaliy-kravchenko commented on #35645
In my case, the problem was in the previous step - `get_url`. The file was broken at first download and `unarchive` module failed every time. After adding `force: yes` option to `get_url` module the problem is gone.

[2018-10-05 07:46] fgtham commented on #43989
This bites me as well. I use `hostvars` in `with_items` lookups alot. Upgrading to ansible 2.6 or 2.7 breaks all affected playbooks.

For now I am stuck with ansible 2.5.x.

[2018-10-05 07:55] #30833 closed, assigned to nobody

[2018-10-05 08:04] couchgott opened #46523 "Inventory import does not work with foreman 1.19"
##### SUMMARY
Since i updated foreman to v1.19 i get an error if i try to import the foreman inventory into my ansible runs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
foreman.py / dynamic inventory generation.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7.5
Foreman 1.19 (latest)
python 2.7.5

##### STEPS TO REPRODUCE
setup foreman.ini with poin

[2018-10-05 08:39] guillemsola commented on #46493
I just faced the same issue my playbooks was something like this

[code]

and then in the role `appnew`, vars/main.yml I have this

[code]

This import at the end is overwriting the whole playbook thus making it fail.

I understand this is not an expected behavior.

[2018-10-05 09:05] tuxick commented on #30411
How can such a serious issue remain unresolved for so long?

[2018-10-05 09:16] ruromero commented on #42302
This is not the expected behaviour for Openshift. When you manually delete a DeploymentConfig, the associated ReplicationControllers are also deleted. This is not the case for the ansible module.

[2018-10-05 09:38] ktaragorn commented on #25068
`--forks 1` solution/workaround works beautifully without compromising security.

[2018-10-05 09:43] yodatak commented on #43007
The full traceback is:
Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-tmp-1538731810.06-116002939618999/AnsiballZ_os_recordset.py", line 113, in <module>
    _ansiballz_main()
  File "/root/.ansible/tmp/ansible-tmp-1538731810.06-116002939618999/AnsiballZ_os_recordset.py", line 105, in _ansiballz_main
    invoke_module(zipped_mod, temp_path, ANSIBALLZ_PARAMS)
  File "/root/.a

[2018-10-05 10:02] jorijinnall commented on #29350
I agree with @karlitos from my point of view, it should be manage before with ansible by changing the configuration file and restart mongodb

[2018-10-05 10:03] kmschl2 commented on #46493
@guillemsola This might be expected behaviour as stated in https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.7.html#include-role-and-import-role-variable-exposure

Not sure how exposed vars from imported roles (defaults/vars) rank considering variable precedence described in https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-sh

[2018-10-05 10:29] sl0n opened #46529 "na_ontap_volume_clone needs an optional flag to mount cloned volume"
##### SUMMARY
na_ontap_volume needs an optional flag to mount cloned volume

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION
I'm trying to automate the following workflow that occurs on a scheduled basis, ie every month:

I have a few volumes provisioned on NetApp ONTAP storage appliance, for compliance reasons I need to ensure that I can restore the application

[2018-10-05 10:38] #41500 closed, assigned to nobody

[2018-10-05 10:44] thpica opened #46531 "gcp_compute_instance module update is not working"
##### SUMMARY

The update behavior of the gcp_compute_instance is not properly implemented. The API call it is trying to make [`PUT https://www.googleapis.com/compute/v1/projects/{project}/zones/{zone}/instances/{name}`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/google/gcp_compute_instance.py#L939) is simply not available on google's side: https://cloud.google.com/com

[2018-10-05 10:51] thpica opened #46532 "Missing labels field in gcp_compute_instance"
##### SUMMARY

In addition to the field `label_fingerprint`, there should be a `labels` accepting a mapping of values as described in the google API documentation: https://cloud.google.com/compute/docs/reference/rest/v1/instances/insert
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

gcp_compute_instance
##### ADDITIONAL INFORMATION

Example:

[code]

[2018-10-05 10:52] ankitcharolia commented on #11702
still happens with latest ansible version :(

[2018-10-05 11:06] zasca opened #46533 "'environment' parameter cannot be properly omitted with 'omit' variable"
##### SUMMARY
The behavior of the issue is only that a warning being print out, when it is not expected.

At #33240 proposed another non-standard way for omitting, by using `default` filter:
`environment: "{{ non_defined_var|default({}) }}"`. It is not obvious and confusing, unlike use `omit` variable. Or if there is cause for that way, then it should be in the docs.

Also I've found #45907. It lo

[2018-10-05 11:32] rdumi7ru opened #46536 "Issue to use a shared user with ansible"
##### SUMMARY
I can't use a shared user to work with ansible
The user is not in sudoers file
The user can use sudo commands (no limitations)
The only command that it could be used to make root is:
[code]
**"sudo su -"** fails with "Sorry, user osadmin is not allowed to execute '/bin/su' as root"
**"sudo su"** fails with the same error

##### COMPONENT NAME
gather_facts
copy

##### ANSIBLE VERSION

[2018-10-05 11:34] rnsc opened #46537 "[azure_rm_virtualmachine] add support for StandardSSD_LRS"
##### SUMMARY

Azure announced the general availability of StandardSSD_LRS back in June.
Ansible 2.7 azure_rm_virtualmachine module isn't supporting those disk types.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine:
- managed_disk_type: StandardSSD_LRS

##### ADDITIONAL INFORMATION

[code]

[2018-10-05 12:26] ghost opened #46538 "credssp: unsupported hash type"
I'm running a playbook on a EC2 instance (Redhat 7.5) using ansible that will build a Windows 2016 Server EC2 instance and I am receiving the error below when my playbook attempts to connect to the new windows instance in order to set up some configuration settings.

2018-10-04 09:06:19,777 p=2943 u=root |  fatal: [X.X.X.X]: FAILED! =>{"changed": false, "elapsed": 1202, "msg": "timed out waiting f

[2018-10-05 12:43] #46538 closed, assigned to nobody

[2018-10-05 12:43] antsan629 commented on #46538
will re-open with better formatting

[2018-10-05 12:52] ghost opened #46539 "credssp: unsupported hash type"

[2018-10-05 13:09] SagarKodam opened #46540 "win_acl to have /reset capability of icacls"
##### SUMMARY

win_acl can be used to set ACL to files and folders, but cannot be used to reset the permissions.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

win_acl

##### ADDITIONAL INFORMATION

[code]

[2018-10-05 13:20] dagwieers commented on #46540
needs_contributor

[2018-10-05 13:37] ice3 commented on #29724
@mscherer this is fixed in 2.8

[code]

[2018-10-05 13:46] ramonfierro commented on #46495
This is not that helpful but neither is what we have documented so far. I was trying to reproduce but have no amazon 1 boxes, however, I'm **guessing** that your repositories take part of the blame here.
Have you tried troubleshooting this by using yum on its own?
[code]

As I said, I could not reproduce using a more recent amazon image, so this is just guessing.

[2018-10-05 13:51] nikkytub opened #46542 "ssl-certs verification"
##### SUMMARY
Netbox plugin gives an error SSL certificate verify failed even after providing validate_certs: False in netbox_inventory.yml file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netbox.py inventory plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
~/ansible> sw_vers
ProductName:	Mac OS X
ProductVersion:	10.13.6
BuildVersion:	17G65

#####

[2018-10-05 13:53] guidodobboletta commented on #46495
Ok so I did

`yum list installed | grep -i mysql`

And no packages came up. I then rerun the playbook on the host and it still has the same issue.
This are the plays that run:

[code]

[2018-10-05 13:55] guidodobboletta commented on #46495
Remote host is:

`Linux ip-10-68-101-219 4.14.70-67.55.amzn1.x86_64 #1 SMP Tue Sep 18 10:36:30 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

The strange thing is that after the playbook run If I do:

`yum list installed | grep -i mysql` This is my output:

[code]

@ramonfierro Could it be that the install step install a different version than the one that uninstall removes? Even if the package names f

[2018-10-05 13:57] ramonfierro commented on #46495
If you list what's available, is the package to be removed listed at all? Is it on top of the `mysql55.x86_64`?

[2018-10-05 13:59] guidodobboletta commented on #46495
This is my output of what's available:

[code]

[2018-10-05 14:00] ChristianCiach commented on #33464
We are only copying around 10 small config files (recursively) and it takes a minute or two - per host. I don't know, but I guess ansible is mining bitcoins or something during that time.

[2018-10-05 14:04] geerlingguy commented on #46517
More builds failing:

* https://travis-ci.org/geerlingguy/ansible-role-htpasswd/jobs/437430092
* https://travis-ci.org/geerlingguy/ansible-role-gogs/jobs/437373371
* https://travis-ci.org/geerlingguy/ansible-role-git/jobs/437371804
* https://travis-ci.org/geerlingguy/ansible-role-mysql/jobs/437371438

[2018-10-05 14:18] ramonfierro commented on #46495
[code]

So both come up, I suspect that the way packages are being searched `yum.YumBase().rpmdb.matchPackageNames(['mysql', 'MySQLPython])` is quite related with the issue, yet I'm not fully aware on how the installed vs the available plays here.

[2018-10-05 14:20] erroric commented on #36690
For example, Thawte SSL123 product does not support SAN-records, and .csr created with this module is unusable

[2018-10-05 14:28] bcoca commented on #46536
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-10-05 14:28] #46536 closed, assigned to nobody

[2018-10-05 14:48] bcoca commented on #46334
I used to use 'L" as a password hash to indicate locked passwords, be aware that this does not really lock a user account if there are 'non password' ways to login (i.e ssh keys).

[2018-10-05 14:50] lwm commented on #45911
Actually, we desperately need this. I've found code from testinfra which handles pip inspection very sanely and I could easily port that here. In this way, we could inspect the environment and know when not to run a sync/install/update etc. I'm going to re-open this.

[2018-10-05 14:55] geerlingguy commented on #45858
So just to add on to the conversation above. If, like me, you're trying to get Ansible 2.7.0's k8s module to work with Amazon EKS clusters, and you're getting errors like:

[code]

You need to update the `kubernetes` python package like so:

[code]

And then everything should start working.

[2018-10-05 14:59] fabianvf commented on #45858
There is also a corresponding openshift==0.8.0a1 that we cut yesterday with bumped requirements

[2018-10-05 15:03] s-hertel commented on #46523
Hi @couchgott. It looks like you're using the contrib script rather than the inventory plugin. We are not actively working on the scripts as we've been putting focus into the inventory plugins.

Do you mind testing the inventory plugin to see if it resolves the problem?
Here's a how-to https://docs.ansible.com/ansible/devel/plugins/inventory.html#inventory-plugins
And the foreman inventory plugin