[2019-09-13 12:50] asarubbo opened #62276 "docker_image: Unsupported parameters build.path"
##### SUMMARY
Unsupported parameters build.path

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Gentoo

##### STEPS TO REPRODUCE

I was using the docker_image module with the parameter build and I got this output:

 [WARNING]: Please specify build.path instead of path. The path option has been re

[2019-09-13 13:12] willthames commented on #62237
@mkrizek - given it's late 2019, and everything we use is python3 ready, "use python3" is a suitable enough work around for me - thanks for noticing that.

Not sure how much anyone else will be affected by this, it is very niche.

[2019-09-13 13:19] ganeshrn commented on #61694
New failures after the net_put/net_get PR is merged https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_31/62131/11729e2e86d2d30cfb42be157e6cacd6361ca0d7/third-party-check/ansible-test-network-integration-ios-python37/2ef1ff2/controller/ansible-debug.html#l44440

[2019-09-13 13:28] tremble opened #62278 "iam_role: Deletion fails if inline policies aren't removed first"
##### SUMMARY

If you create a role, attach an inline policy, then attempt to delete the role the deletion fails.

Found while creating test cases for iam_role and (in this case) iam_role_info - #62014

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/iam_role.py

##### ANSIBLE VERSION
devel branch

##### CONFIGURATION

N/A (ansible-test environment)

##### OS /

[2019-09-13 13:41] ghost opened #62280 "Conditional loop over subset of computers fails"
##### SUMMARY
Using loop inside block which has condition to certain machines fail.
All tasks (those without loop) in block are executed correctly just on the intended machine, it says "skipping" for all other machines, but when it comes to task where loop is present it behaves incorrectly and starts to consider all machines again.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
loop

##### A

[2019-09-13 13:41] Qalthos commented on #61811
To run a checkout from source, you should be following https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-from-source. Once you have done that, please post the log running from that checkout.

[2019-09-13 13:44] Goobaroo commented on #59590
It would also be nice if the rekey action worked on a mixed vars file with Vaulted and plain variables.

Updating the vaulted data, and leaving the rest of the values alone.

[2019-09-13 14:33] tnielsen2 opened #62284 "ecs_task_definition - specify protocol port mapping"
##### SUMMARY

The ecs_task_definition does not appear to have the ability to specify the port used in the PortMapping configuration portion of the module.

##### ISSUE TYPE
- Feature Idea
Add a switch to the PortMappings section to allow the ability to select udp. Seems to only default to tcp.

##### COMPONENT NAME
ecs_task_definition

##### ADDITIONAL INFORMATION
Through the console when specify

[2019-09-13 14:37] sivel commented on #62237
I think this is something we probably need to address before the 2.9 release.

The cause are these lines:

https://github.com/ansible/ansible/blob/9d93076a99a530720f4386eba90dc91bf95351fc/lib/ansible/executor/task_executor.py#L153-L155

Before, all string types were converted to text and made `AnsibleUnsafeText`. Now we have `AnsibleUnsafeBytes`.  Running `to_text` on `AnsibleUnsafeBytes` causes u

[2019-09-13 14:50] tnielsen2 commented on #62284
It turns out the protocol switch works, but this is not in the documentation. Documntation needs to be updated.

[2019-09-13 14:53] #62280 closed, assigned to nobody

[2019-09-13 14:55] sivel commented on #62246
Modules are installed inside of the ansible package inside of the site-packages directory.

Per the version output, that location is:

[code]

The modules will live in:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-09-13 14:55] #62246 closed, assigned to nobody

[2019-09-13 14:57] sivel commented on #62248
It is recommended that you use an actual service to start long running processes on a host, instead of shelling out to run them.

The other option is to use async and/or nohup to prevent the command from exiting, when the parent SSH process exits.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.

[2019-09-13 14:57] #62248 closed, assigned to nobody

[2019-09-13 15:02] bizrad commented on #38267
I just hit this same issue and had an unarchive take 4 hours to extract 3.5GB in 189958 files.
[code]

[2019-09-13 15:21] Throckmortra commented on #46152
Still broken here

[2019-09-13 15:27] Alveel commented on #58973
I just came up with the idea, thank YOU for doing the hard work @mulatinho :smile:

[2019-09-13 15:52] goneri opened #62286 "zabbix_host tests are not run by CI"
##### SUMMARY

`zabbix_host` functional test depends on Ubuntu 14.04. But this OS is not run by the CI since c8f2becb7a3d15b6c8dd8aa29eb8d0e6b7d7a9ae.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_host
setup_zabbix

##### ANSIBLE VERSION

[code]

[2019-09-13 15:56] czi commented on #61318
Going from SLES12 SP4->SLES12 SP4 using ansible 2.8.3 I did not experience this issue.  Using the code provided, this works as expected.

[2019-09-13 16:25] sivel commented on #62276
The error is indicating that they are subkeys, not a literal argument called `build.path`.

The [examples](https://docs.ansible.com/ansible/latest/modules/docker_image_module.html#examples) show what this should look like:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum

[2019-09-13 16:25] #62276 closed, assigned to nobody

[2019-09-13 16:34] #60069 closed, assigned to nobody

[2019-09-13 17:18] JoelBChapmanII opened #62293 "HMAC verification failed: Signature did not match digest."
##### SUMMARY
I am continuing to experience the issue detailed in https://github.com/ansible/ansible/issues/31620. When I do either ansible-pull or ansible-playbook and target a freshly deployed AWS EC2 instance I receive this error. If I use --ask-vault-password the playbook will run without issue. I can't seem to find a workaround to pass that password to the prompt or provide the password direc

[2019-09-13 17:24] #61978 closed, assigned to nobody

[2019-09-13 17:28] robbat2 commented on #33147
This is resolved in DigitalOcean, by supporting SSE-C now.

[2019-09-13 18:07] sivel commented on #62293
There is no way to directly pass the vault password via environment variable, and to respond to the prompt, I imagine you would have to use something like expect.

However, `--vault-password-file` can accept a script, that can echo out the password from an env var:

[code]

Save that to a file, make it executable, then you use `--vault-password-file /path/to/vault-password.sh`.

If you have furthe

[2019-09-13 18:07] #62293 closed, assigned to nobody

[2019-09-13 18:14] #62237 closed, assigned to nobody

[2019-09-13 18:35] nitzmahone commented on #61871
This was originally my plan when building namespacing and collections support- I played with a few different implementations though, and it turns out that for most real-world content, at best, it would be confusing, and at worst, a total disaster that regresses several of the plugin loading issues collections want to solve. Basically, I can't come up with a sane way to do it without completely ove

[2019-09-13 19:03] EarlRamirez opened #62299 "IOS VRF import/export route target"
##### SUMMARY

When adding VRF import/export route-target the value is converted to an integer; therefore, when the playbook has executed the command fails. For example, if I have an import/export of 65111:80, 3907716. Also when I explicitly specify ipv4 I am also seeing ipv6 for the vrf.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_vrf
##### ANSIBLE VERSION

[code]

##### CONFIGURATIO

[2019-09-13 19:31] ericgoedtel opened #62302 "Provide support for AWS S3 Public Access Blocking"
##### SUMMARY
Support public access blocking on S3 buckets.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
aws_s3 and/or s3_bucket

##### ADDITIONAL INFORMATION
AWS release info: https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html

Public access blocking is a new AWS S3 capability that ensures a bucket is much more private than even the default and that

[2019-09-13 19:31] swickera commented on #59056
I've seen this too, and most recently today trying to install the round of September 2019 updates.  It seems related to the 2019-09 cumulative rollup.. this keeps repeating over and over:

'WINRM STDOUT {"updates":{"644bb2c6-0f42-4216-8c9a-96541b6fbaa3":{"id":"644bb2c6-0f42-4216-8c9a-96541b6fbaa3","title":"2019-09 Cumulative Update for Windows Server 2019 (1809) for x64-based Systems (KB4512578)",

[2019-09-13 19:51] sivel commented on #61979
Duplicate of https://github.com/ansible/ansible/issues/42666

[2019-09-13 19:51] #61979 closed, assigned to nobody

[2019-09-13 21:02] goneri opened #62307 "azure_rm_azurefirewall run takes 25 minutes"
##### SUMMARY

One `azure_rm_azurefirewall` task from the CI takes from 25 minutes to set-up the firewall. This sounds a bit excessive.

e.g:
https://app.shippable.com/github/ansible/ansible/runs/143125/123/console
https://app.shippable.com/github/ansible/ansible/runs/143125/124/console

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

azure_rm_azurefirewall

##### ANSIBLE VERSION

[code]

[2019-09-13 21:52] alexeyt820 commented on #62236
@willthames, thank you. Is separate issue for handling empty trailing blocks?

[2019-09-13 22:12] goneri commented on #62307
`TASK [azure_rm_azurefirewall : Create Azure Firewall]` takes =~ 31 minutes here: https://app.shippable.com/github/ansible/ansible/runs/143169/122/console

[2019-09-13 22:17] felixfontein commented on #62227
The reason is that [cryptography](https://cryptography.io/en/latest/) does not support setting the CSR version; [it uses version 1 by default](https://github.com/pyca/cryptography/blob/master/src/cryptography/hazmat/backends/openssl/backend.py#L754-L756) and doesn't modify it later-on (it could potentially be that OpenSSL itself adjusts the version if certain features are used, but the Python code

[2019-09-14 03:40] yuji-k64613 commented on #62063
@Saurabh-Thakre

I tried to do this with ansible 2.8.1.
The command returned SUCCESS as following.

[code]

[2019-09-14 04:30] yuji-k64613 commented on #61965
@kaysond

How about removing the parameter "local=yes"?
I did well.

[https://docs.ansible.com/ansible/latest/modules/user_module.html#user-module](https://docs.ansible.com/ansible/latest/modules/user_module.html#user-module)
"Mutually exclusive with groups and append"

[code]

[2019-09-14 05:11] kaysond commented on #61965
@yuji-k64613 I need to use "local" because the system uses LDAP, but I want to create local users for permissions management of various services. So it needs to use `luseradd`

[2019-09-14 06:29] yuji-k64613 commented on #61965
I don't think this error is Ansible issue.

Ansible execute this command.
`['/sbin/lusermod', '-g', 'group2', 'testuser']`

I tried this command on bash.
`$ lusermod -g group2 testuser`
        -> ERROR
`$ lusermod -g 160 testuser`
        -> OK

If a group is a number, not a name, lusermod succeeds.
So, Ansible succeeds, too.

[2019-09-14 06:51] kaysond commented on #61965
But the first command works just fine, even though its a group name.

[2019-09-14 07:04] Bilge commented on #62227
No, just a pedantic obsession to make my cert look exactly the same as the one generated by Certbot, which it seems to be, except for the version number.

If the option has no effect, why not just remove it (or at least deprecate)?

Why?

[2019-09-14 07:20] FlyingFishPeng commented on #62039
@jborean93 Thanks for your advice, but which doesn't work in Ansible 2.5. I'll try to upgrade the version  of Ansible.

[2019-09-14 07:27] felixfontein commented on #62227
Ok. I'm somewhat relieved that you didn't wrote "I really need it for [some other program/service] which won't accept V1 CSRs" :)

That's one solution. Another would be trying to get cryptography to add support for setting it. What's better depends on whether this is actually needed by someone :)

Mostly because of the following note in https://github.com/pyca/pyopenssl/#pyopenssl----a-python-wrap

[2019-09-14 08:51] sndv opened #62315 "Diff doesn't work with blockinfile when "content" is used (alias of "block" parameter)"
##### SUMMARY
When the `blockinfile` module is used with "content" (alias of the "block" parameter) and the `--diff` command line option is provided, instead of showing the actual content that is added to the file, the shown diff only contains "********" between the markers.
When using "block" instead of "content" `--diff` works as expected.
The content is added correctly to the file in both cases

[2019-09-14 11:22] andreaso commented on #62052
Having taken a closer look I now realize that it isn't as easy as just feeding the `server` parameter into the `dns.resolver.zone_for_name()` function. The problem being that that function then will need to be given a `dns.resolver.Resolver` object, which in turn needs to be given an ip address.

This module's `server` parameter on the other hand can be a hostname. Sure, we could do a separate loo

[2019-09-14 11:28] andreaso commented on #62238
The nsupdate module expects a TSIG key, not an arbitrary username-and-password.

[2019-09-14 12:25] markatdxb commented on #62238
Ok, but then how i can run this module against MS DNS server with specific Windows credentials. Is that possible anyhow?

[2019-09-14 13:58] tremble opened #62318 "ec2_eip doesn't honour "check_mode""
##### SUMMARY
Using ec2_eip in check_mode results in an IP being allocated

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/ec2_eip.py

##### ANSIBLE VERSION
devel

##### CONFIGURATION
N/A (ansible-test)

##### OS / ENVIRONMENT
N/A (ansible-test)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Assertion passes and no IP allocated

##### ACTUAL RESULT

[2019-09-14 21:24] #61890 closed, assigned to nobody

[2019-09-14 21:32] IPvSean opened #62319 "junos_interfaces data model does not match ios_interfaces"
##### SUMMARY
the data model for junos_interfaces does not match ios_interfaces for resource modules

[code]

junos_interfaces (https://docs.ansible.com/ansible/devel/modules/junos_interfaces_module.html) versus enabled for ios_interfaces (e.g. https://docs.ansible.com/ansible/devel/modules/ios_interfaces_module.html)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
junos_interfaces

I think we

[2019-09-15 02:07] #59731 closed, assigned to nobody

[2019-09-15 04:20] yuji-k64613 commented on #61965
The first command don't execute "lusermod"
so Ansible works just fine("changed": false).

The second command execute "lusermod" like this.
`['/sbin/lusermod', '-g', 'group2', 'testuser']`

If the group is different, the following code is executed.
- ./lib/ansible/modules/system/user.py
[code]

[2019-09-15 05:35] kaysond commented on #61965
Interesting. But in any case, its still a problem. The command should work with the same syntax whether the user exists or not, and whether it has the same or different primary group.

[2019-09-15 08:31] ln5 commented on #16977
I'm suffering from this on HardenedBSD, ansible_default_ipv6.address ending up with the link-local address of the interface. How can I help moving this forward?

[2019-09-15 10:00] medmedchiheb commented on #62224
i would like to work on this issue

[2019-09-15 10:43] DaAllexx opened #62324 "docker container loses networks on restarts when using with init: true"
##### SUMMARY

With `init: true` set in the `docker_container` module, a container restarted with `docker_container` loses it network settings and is attached to the default bridge again.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

* `docker_container`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration without any changes.

##### OS / ENVIRONMENT

* ArchLinux

###

[2019-09-15 10:59] felixfontein commented on #62324
While this is not the behavior you expected (and I wouldn't either), it is not (really) a bug, but the intended behavior. Somewhere in the past, someone decided that `init` has a default value of `false`. So if you use `docker_container` without any options set on a container with `init=true`, it will see that the container has a different value for `init` than the option for `docker_container` ha

[2019-09-15 11:02] felixfontein commented on #62324
(Other options with a default which shouldn't have one are `auto_remove`, `detach`, `init`, `interactive`, `memory`, `paused`, `privileged`, `read_only`, `tty`.)

[2019-09-15 11:12] felixfontein commented on #62324
I've created a PR to better document this:

resolved_by_pr #62325

It doesn't really fix this situation, but as I wrote above, it is hard to fix without breaking backwards compatibility. I'll create another issue for changing defaults. No idea when / how this will be implemented though...

[2019-09-15 11:16] johnbui423 opened #62326 "delegate_to does not override ansible_connection when original connection is winrm"
##### SUMMARY
When running a playbook with a delegated task against a Windows host `(ansible_connection == winrm`), the `ansible_connection` variable is not updated for that delegated task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
Playbook runs from a CentOS 7 host, against a Windows 7 and other

[2019-09-15 11:19] felixfontein opened #62327 "docker_container: remove defaults for various options"
##### SUMMARY
Various options which reflect container properties have default values. In particular, these are `auto_remove`, `detach`, `init`, `interactive`, `memory`, `paused`, `privileged`, `read_only`, `tty`. While the defaults usually make sense (and coincide with the defaults used by docker), these are highly problematic in situations where not all options affected by a container are specifi

[2019-09-15 11:20] felixfontein commented on #62324
See #62327.

[2019-09-15 13:01] felixfontein commented on #61967
@thomwiggers

Module authors always have maintainer status as well (if they are not explicitly put on the `ignore` list - but even then I'm not sure if that only affects automatic CCs, or also maintainer powers).

There are still some cases where this is absolutely necessary: for example, an API endpoint which is also accessible by Java running under OSX 10.6.x (the lastest macOS running on 32bit

[2019-09-15 13:31] thomwiggers commented on #61967
Ugh, old systems....

This is why we can't have nice things. :(

Op zo 15 sep. 2019 om 15:03 schreef Felix Fontein <notifications@github.com

[2019-09-15 13:32] felixfontein commented on #61967
@Addvilz

That's probably the best solution. (Next to also enabling ECC-based DH, which will then be used by most modern clients anyway.) Also, you could regularly recompute the static precomputed DH params (say, once per month), to avoid anyone taking advantage of the initial DH params always being the same for all freshly started VMs.

Also, I generated a couple of 4096-bit DSA-like DH params. O

[2019-09-15 14:11] DaAllexx commented on #62324
Thank you for your clarification and documentation! This additional information solved our problem.

[2019-09-15 14:45] felixfontein commented on #53294
Link to a relevant PR for cryptography: pyca/cryptography#4857 This will probably not be merged, but later approaches to this might be referenced from there, so having a link is nice :)

[2019-09-15 14:55] andreaso commented on #62052
@flyinva: Please try out https://github.com/ansible/ansible/pull/62329

[2019-09-15 15:01] andreaso commented on #62238
Based on what I've been able to read I think you are out of look.

Appear as if Microsoft's DNS server uses GSS-TSIG for authentication, which is a form of TSIG neither the Ansible nsupdate module nor the underlying dnspython Python support.

[2019-09-15 15:43] tremble opened #62331 "ec2_eip throws error if you ensure: absent on a non-existent IP"
##### SUMMARY

If you try to re-release an elastic IP (ensure: absent) which has already been released ec2_eip throws an error rather than simply returning "ok".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/amazon/ec2_eip.py

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A ansible-test

##### OS / ENVIRONMENT

N/A ansible-test

##### STEPS TO REPRODUCE

[c

[2019-09-15 20:45] #61976 closed, assigned to nobody

[2019-09-15 23:05] #58463 closed, assigned to nobody

[2019-09-16 00:02] #58511 closed, assigned to nobody

[2019-09-16 01:25] jborean93 commented on #48327
@buck1467 it's hard to tell what's going on, there's already special logic to delete a reparse point at https://github.com/ansible/ansible/blob/99796dfa87731b5dc210e7649bfe09664c99ffcd/lib/ansible/modules/windows/win_file.ps1#L62-L73 so if a file or directory has that tag it should be using that lower level function and not `Remove-Item`. This has been in place for a while but the file part of par

[2019-09-16 02:45] #58302 closed, assigned to nobody

[2019-09-16 03:17] Fred-sun commented on #62307
@yungezz Please take a look this issue when you're free! Thanks a lot!

[2019-09-16 04:01] Akasurde commented on #62319
!component =lib/ansible/modules/network/junos/junos_interfaces.py

[2019-09-16 04:35] markatdxb commented on #62238
Ok. Thanks for clarification

[2019-09-16 04:35] #62238 closed, assigned to nobody

[2019-09-16 05:25] Fred-sun commented on #56774
@zikalino Please!

[2019-09-16 05:29] Fred-sun commented on #59096
@MyronFanQiu @yungezz  The related PR already close, please close this issue when you're free! Thanks a lot!

[2019-09-16 05:33] Fred-sun commented on #45330
@yungezz @MyronFanQiu The related PR already merge, please close this issue when you're free! Thanks a lot!

[2019-09-16 05:44] Fred-sun commented on #60244
@yungezz @zikalino

[2019-09-16 05:47] Fred-sun commented on #61852
kindly ping

[2019-09-16 05:58] Fred-sun commented on #58601
@elaurijssens The return value may not be exactly what you want it to be, but it can be obtained by manipulating strings, as in the comments above. This may not be a bug. What do you think? thanks!

[2019-09-16 06:14] elaurijssens commented on #58601
That was my own comment. 😳

And Ansible was not designed with human readable string manipulation in mind. That, and the string manipulation is based on assumptions abput the REST URI while in code you have more possibilities to get it right. So, when something changes the playbook fails in an almost unfixable way.

[2019-09-16 06:22] elaurijssens commented on #58601
I strongly believe that Ansible should be consistent in the way it behaves. There is no ```_facts``` either.
But if you create an object that obviously needs further processing with other modules, the modules should be able to use the newly created object without too much smoke and mirrors.

[2019-09-16 06:47] #62319 closed, assigned to nobody

[2019-09-16 07:01] Fred-sun commented on #58601
Yes, it should.

[2019-09-16 07:02] Fred-sun commented on #58601
Any update for this? Thanks!

[2019-09-16 07:15] Fred-sun commented on #58069
@yungezz @zikalino

[2019-09-16 07:16] D3DeFi commented on #62286
Heh, funny coincidence you've opened this now :) I've been looking at those tests past weeks, but haven't got that much time to actually implement anything new.

So far I've converted `integration/targets/setup_zabbix` to work on all Debian family distributions and could convert `integration/targerts/zabbix_host` to work on any ubuntu image in a minute. I can basically push it later today.

Unfort

[2019-09-16 08:03] Fred-sun commented on #61492
@MyronFanQiu please take a look this issue when you're free! Thanks a lot!

[2019-09-16 08:14] justjais commented on #61726
@11gingerbread Apologies for the delayed response.
And I'm unable to reproduce the scenario with the play you mentioned in the issue and able to elevate the privilege and get the `show clock` command debug out over `local` connection, also from the above log you have shared I can see the command is getting timed out.

So, please use `network_cli` connection instead of `local` connection and post A

[2019-09-16 08:23] Fred-sun commented on #61804
@sputnik13 Welcome to you submit a PR! Thanks a lot!

[2019-09-16 08:25] ganeshrn commented on #61726
@11gingerbread Also can you please share the log file by enabling persistent device interaction logging after redacting sensitive information. Refer https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging

Most likely [ios terminal regex](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/terminal/io

[2019-09-16 08:35] vfuyong opened #62343 "Ansible 2.8.5 win_reboot never successfully validate reboot completion"
##### SUMMARY
win_reboot is able to initiate reboot successfully. After 15 seconds, Windows is back with Windows Remote Management service running fine. Ansible debug log says it is still sending commands to get OS bootup time even Windows is ready to receive commands.

However, since reboot is initiated I validated that Ansible is NOT sending any more wsman protocol action (like shell creation, e

[2019-09-16 09:09] sushma-alethea commented on #61596
[ansible_2.8_working.log](https://github.com/ansible/ansible/files/3615439/ansible_2.8_working.log)
[ansible_2.9_not-working.log](https://github.com/ansible/ansible/files/3615443/ansible_2.9_not-working.log)

[2019-09-16 10:45] flyinva commented on #62052
Tested and approved with a PTR record.

Thank's

[2019-09-16 11:02] bogwiedz commented on #61635
It doesn't send source_snapshot to google api,
[code]

[2019-09-16 11:29] Akasurde commented on #61220
@nicholasrodriguez Can you please check above PR and let me know if it works for you ? Thanks.

[2019-09-16 12:19] #28820 closed, assigned to nobody

[2019-09-16 13:15] ibarrere opened #62352 "asa_command incorrect register outputs"
##### SUMMARY

Very weird problem. I have a playbook that runs two commands against our firewalls: "more system:running-config" and "show version". These commands are run from a limited read-only user role (the user role has the required privileges for running terminal width, terminal pager, the commands themselves, etc. At least I can log in manually with the read-only user and execute "no termin

[2019-09-16 13:39] ibarrere commented on #62352
I also wonder if it has to do with the prompt. The read-only user has a > prompt, whereas the admin user has #.

[2019-09-16 13:53] Saurabh-Thakre commented on #62063
@yuji-k64613 That's strange. Because I can still see the same error that I've mentioned in issue.

Is the control node is RHEL7 or RHEL8 ?

[2019-09-16 14:10] johnpetersjr commented on #43506
Is there a plan to ever handle other types of listeners besides 'forward' in Ansible?  Or should I plan on using aws cli commands for this forever as shown above by @randlet ?  (and thanks for that!)

[2019-09-16 14:12] yuji-k64613 commented on #62063
The control node is
[code]

[2019-09-16 14:25] abadger commented on #62076
@alikins rc1 is being released on Thursday so if this requires a fix in the client code, that would have to be merged and ready for backport no later than end of day on Wednesday.

[2019-09-16 14:44] xenlo opened #62354 "Ability to split the role `defaults/main.yml` into separetade files"
##### SUMMARY
The PR #36357 add a new feature: the ability to split the `defaults/main.yml` and `vars/main.yml` into several YAML files under `defaults/main/*.yml` and `vars/main/*.yml`.

Unfortunatelly, I don't find anything about that in the [documentation about the resue fo roles](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html). Niether in the [Role Default Variab

[2019-09-16 15:09] sivel commented on #62315
I've done a little troubleshooting, and this stems from `add_file_common_args=True` and how `FILE_COMMON_ARGUMENTS` are added.  `AnsibleModule` ensures that the argument from `FILE_COMMON_ARGUMENTS` doesn't exist in the argspec, but doesn't care about aliases.

Because `content` is an alias of `block`, `content` is re-added to the argspec with `no_log=True`. So if `content` is specified when using

[2019-09-16 16:03] NielsH commented on #48890
Could this be merged? The merge request works for me.

[2019-09-16 17:40] alongchamps commented on #61332
I'm taking a look at this one this week.

[2019-09-16 17:47] nitzmahone commented on #61930
I suspect this is an unintended consequence of the confluence of several "magic" collections/namespacing behaviors... The collection role search is default-adding `ansible.builtin`, and because `slurp` is one of the few builtin name collisions, and you're probably using a connection that didn't specify an extension preference, it's finding `slurp.ps1` before `slurp.py` in the flatmapped synthetic

[2019-09-16 17:49] nitzmahone commented on #61930
@jborean93 curious your thoughts- time to rename `setup.ps1` and `slurp.ps1` to get rid of the builtin module collisions, hack the collection loader to prefer python if no extension provided, or some other solution?

[2019-09-16 18:00] #61513 closed, assigned to s-hertel

[2019-09-16 18:20] pfuntner opened #62360 "package module on rhel8: name with asterisk, state=absent, nothing matches name fails"
##### SUMMARY
Under the following conditions:
- target system is RHEL8
- `package` module is used
  - `name` contains an asterisk (such as `xorg-x11-*`)
  - `state=absent`
- no `xorg-x11-*` package are installed on target system

The operation fails with:
[code]

The operation is successful if any of the following are true:
- at least one matching package is installed
- an asterisk is not used

On

[2019-09-16 18:41] geerlingguy opened #62362 "Feature or bug? yum module falls back to apt on Debian"
##### SUMMARY

I was working on an example of what _not_ to do—namely, using the `yum` module instead of `package` for something meant to be platform agnostic... but then I realized my example (using the `yum` module on Debian) _actually worked_.

When I ran the `yum` task with `-vvvv` I found:

[code]

Is this a bug? A feature? I found it can also lead to unexpected weird behavior that I believe

[2019-09-16 18:44] xding2020 opened #62364 "os_port_facts module cannot take fixed_ips.ip_address as filters"
##### SUMMARY

I tried using ip_address as filters in os_port_facts module. But it doesn't work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_port_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Matching port fact are returned

The IP is guaranteed to be correct. Also I called the

[2019-09-16 18:46] goneri commented on #62307
It's actually getting worst here (35m): https://app.shippable.com/github/ansible/ansible/runs/143332/121/console

[2019-09-16 18:47] geerlingguy commented on #62362
ansible -m setup output inside the test environment (run where `ansible-playbook` was run): https://gist.github.com/geerlingguy/be571359470883b83f66b49eb2dbcc0b

[2019-09-16 18:58] sivel commented on #62362
We probably need some change like the following to ensure only `yum` like backends will work:

[code]

[2019-09-16 19:15] goneri opened #62365 "win_psmodule: test fails with 'System.OutOfMemoryException'"
##### SUMMARY

Time to time, the test fails with any `OutOfMemoryException` exception. Either the VM does not come with enough memory, or there is a memory leak somewhere.
[code]

Once the exception has been raised, we start seeing this message in the log:

`msg": "winrm send_input failed; \nstdout: \nstderr Thread failed to start.\r\n`

See: https://app.shippable.com/github/ansible/ansible/runs/1

[2019-09-16 19:28] sivel commented on #62055
I think we likely just need to add `elements='str'` to the `package` argument in the argument spec.

Potentially mixed with https://github.com/ansible/ansible/pull/62027 and use `str_strict` instead of `str`

[2019-09-16 19:29] Qalthos commented on #61242
@IPvSean Is this still an issue? If it is, can you update the summary to reflect which platforms still need work?

[2019-09-16 19:29] abadger commented on #62073
Taking this off of the 2.9.0rc1 blocker list due to this comment: https://github.com/ansible/ansible/pull/61927#issuecomment-531880516

leaving this bug open for others to evaluate, though, as it may still apply in the future.

[2019-09-16 19:30] Qalthos commented on #61490
resolved_by_pr #62289

[2019-09-16 19:34] sivel commented on #61926
The feature to recursively remove `omit` from options was added in https://github.com/ansible/ansible/commit/0d068f1e3afe21a81295584bfb8ddd621bc54e8d and subsequently included in the 2.8 release.

The 2.7 release branch does not contain this new feature.

You will need to upgrade to a newer version to get this functionality.

If you have further questions please stop by IRC or the mailing list:

[2019-09-16 19:34] #61926 closed, assigned to nobody

[2019-09-16 19:38] abadger commented on #61490
https://github.com/ansible/ansible/pull/62289 has been merged.  Closing this.

[2019-09-16 19:38] #61490 closed, assigned to Qalthos

[2019-09-16 19:44] jborean93 commented on #62365
This is the generic server 2016 memory issue we are still seeing and not specific to this module.

[2019-09-16 19:55] BarbzYHOOL opened #62367 "Deprecated variables do not point to the same data"
##### SUMMARY

`ansible_become_pass` and `ansible_become_password` do the same things but if you set one variable somewhere in your files, and then the other variable somewhere else, it is not overriden.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

variables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux

##### STEPS TO REPRODUCE

Try to set `an

[2019-09-16 20:01] pfuntner commented on #62360
This single playbook does the following:
- Install of one X11 package
- Removal of all X11 packages
- Removal of all X11 packages

This might illustrate the issue better.

[code]

The behavior with RHEL8 is inconsistent with RHEL7.

[2019-09-16 20:36] goneri commented on #62365
Thanks @jborean93, Do you think we can mitigate it? For instance, I saw some posts suggesting to restart the WinRm service.

[2019-09-16 20:41] jborean93 commented on #61930
I would be in favour of renaming the existing `setup.ps1` and `slurp.ps1` modules to the `win_*` variant and having internal logic inside Ansible to rename the `setup`/`slurp` task names to `win_*` if we are using a Windows shell plugin.

[2019-09-16 21:00] jborean93 commented on #62365
We already try and mitigate it by waiting until the wuaserv has settled down which has helped to bring down the errors from where it was before but still not foolproof. Ultimately we need to track down why this is happening, or at least file a ticket with AWS.

[2019-09-16 21:04] shubhamjain2000 opened #62369 ""msg": "winrm or requests is not installed: No module named winrm""
Hi All,

i am facing some issue while trying to connecting to windows.
please help.

ansible windows -i hosts -m win_ping
xxxxx | FAILED! => {
    "msg": "winrm or requests is not installed: No module named winrm"
}

i can see winrm is installed.

output of pip list:
Package                      Version
---------------------------- -----------
ansible-tower-cli            3.3.4
asn1crypto

[2019-09-16 21:17] hb-johnm commented on #61571
I am seeing the same issue on Ansible 2.8.2 trying to create a Postgres instance.  Is there some way around this?

[2019-09-16 21:20] jborean93 commented on #62367
The variables are not deprecated or overridden, they are different variables and IMO should not replace each other. If you look at the docs for the [sudo become plugin](https://docs.ansible.com/ansible/latest/plugins/become/sudo.html) you can see that `become_pass` has the following variables that can be set

* `ansible_become_password`
* `ansible_become_pass`
* `ansible_sudo_pass`

The order is i

[2019-09-16 21:27] BarbzYHOOL commented on #50306
this is really critical, it breaks my playbooks as soon as I invoke a role with reset_connection, I really don't know what to do to circumvent this but run the roles separately which is unmanageable

[2019-09-16 21:29] BarbzYHOOL commented on #62367
this is ridiculous, what's the point of this? as if ansible wasn't already confusing with everything having a similar name

in top of that, you look up google and you find people suggesting to use one variable or the other, in the docs ansible_become_pass has disappeared too (not this doc but the original "become" doc)

[2019-09-16 21:30] jborean93 commented on #62367
Do you mean https://docs.ansible.com/ansible/latest/user_guide/become.html#connection-variables?

[2019-09-16 21:32] jborean93 commented on #62369
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-09-16 21:32] #62369 closed, assigned to nobody

[2019-09-16 22:50] gertvdijk opened #62370 "Deprecation warning about bare variable (list) misleading suggestion "| bool""
##### SUMMARY
Use Ansible 2.8 with a condition using a list variable. Witness deprecation warning:

        [DEPRECATION WARNING]: evaluating [] as a bare variable, this behaviour will go
        away and you might need to add |bool to the expression in the future. Also see
        CONDITIONAL_BARE_VARS configuration toggle.. This feature will be removed in
        version 2.12.

"add |bool" is th

[2019-09-16 23:09] chukabume opened #62371 "Cisco unable to enter enabled mode"
##### SUMMARY

I am trying to go into privilege mode for cisco ios and getting errors. I am adding additional logs which I see when I see the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-09-16 23:09] s-hertel opened #62372 "collection paths have to differ from the playbook path"
##### SUMMARY
IndexError when using a playbook at the top level in a collection since 7d1a981b61eb996c64c406a92f73022d4d3a041b. Not sure if that was just something weird I was doing or if it should continue working as before.

[code]
test_playbook_location.yml can contain anything. For example:
[code]

[code]

Move test_playbook_location.yml anywhere else and it works as expected.

##### ISSUE TYP

[2019-09-16 23:14] gertvdijk commented on #62370
@ansibot !component =lib/ansible/playbook/conditional.py

[2019-09-16 23:19] chukabume commented on #62371
The full traceback is:
WARNING: The below traceback may *not* be related to the actual failure.
  File "/tmp/ansible_ios_command_payload_Nmqqr8/ansible_ios_command_payload.zip/ansible/module_utils/network/ios/ios.py", line 135, in run_commands
    return connection.run_commands(commands=commands, check_rc=check_rc)
  File "/tmp/ansible_ios_command_payload_Nmqqr8/ansible_ios_command_payload.zip/ans

[2019-09-16 23:24] mattclay commented on #61934
There are two concurrent runs of `ansible-test` interleaved into the `job-output` log:

[code]

[code]

[2019-09-17 01:23] sugitk commented on #58378
The customer also reported a bug related this issue.  Do you have a plan to merge the fix to the next minor release?

[2019-09-17 02:12] pabelanger commented on #61934
The only thing I can think of here, is some how the version of ansible, that zuul is running, is duplicating the shell task. However, it seems to happen rare enough, that our zuul is the only once affected.  I would look at the zuul executor debug logs, but we only keep 7days worth today.  I'll bump logrotate up, and see what is happening. Thanks for looking.

[2019-09-17 02:12] #61934 closed, assigned to nobody

[2019-09-17 03:02] sugitk opened #62377 "[from customer] nios_txt_record module cannot handle multiple TXT records"
##### SUMMARY

nios_txt_record module cannot handle multiple TXT records

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Add the TXT record.  Change the "text" field value and add it again.  Instead of adding a second record with a different value, it replaces the first record.

I th

[2019-09-17 04:15] #56856 closed, assigned to nobody

[2019-09-17 04:15] #58378 closed, assigned to nobody

[2019-09-17 04:17] justjais commented on #58378
@krisvasudevan can u create a backport for the fix to Ansible 2.9 (ref: [create backport](https://docs.ansible.com/ansible/latest/community/development_process.html#backporting-merged-prs))

[2019-09-17 04:21] ilya-v-trofimov commented on #24644
Posting a workaround I use, might be useful for someone.
I read mounts from /etc/mtab and register an output, then process it with split in next task.
In my example below I'm updating `/dev/shm` mount with additional option:
[code]

[2019-09-17 04:35] buck1467 commented on #48327
This has nothing to do with ansible, it is the powershell cmdlet or lower,
if i were using cmd script it would have problems, the reparse point is not
fully a reparse point nor a file, powershell doesn't know what to do with
it, so it barfs out the weird message. In the command prompt, it doesn't
even see the file from a user point of view. It looks like an c# bug or
lower and it causes grief when

[2019-09-17 04:45] jborean93 commented on #48327
Oh I thought you were saying win_file was failing with your reparse points. We've already come across this problem and the solution was to use the lower level API I linked above to delete the file/directory. The issue is in .NET (which PowerShell uses) as it tries to open the file without the [FILE_FLAG_OPEN_REPARSE_POINT](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-creat

[2019-09-17 05:17] Fred-sun commented on #56356
@zikalino please!

[2019-09-17 07:23] nicolaibaralmueller opened #62395 "azure_rm_subnet service_endpoints not added first time"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_subnet

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Service endpoint should be added first time executing the module

##### ACTUAL RESULTS

Service endpoint is not added first time. Running the same module again adds the service endpoint correctly.

[2019-09-17 07:51] sugitk commented on #62377
The customer complained that it should be checked the `view`, `name`, and `text` parameters for uniqueness.  I agree with his opinion.

[2019-09-17 08:05] justjais commented on #61600
closing the issue as the fix for the issue is already merged and backported as well

[2019-09-17 08:05] #61600 closed, assigned to justjais

[2019-09-17 08:07] justjais commented on #61766
@pabelanger can u plz confirm if the respective issue is resolved and close the issue

[2019-09-17 08:08] justjais commented on #61540
PR to fix the issue is merged and backported as well, so closing the respective issue

[2019-09-17 08:08] #61540 closed, assigned to justjais

[2019-09-17 08:09] justjais commented on #61305
Closing the issue as the PR to fix the issue is merged and backported as well.

[2019-09-17 08:09] #61305 closed, assigned to justjais

[2019-09-17 09:20] cvarta commented on #41192
is this issue supposed to be fixed? I am running the following Ansible version and still encountering the issue where the result NXDOMAIN would not make a task fail:
`
ansible 2.8.1
.....
  python version = 2.7.10 (default, Feb 22 2019, 21:55:15) [GCC 4.2.1 Compatible Apple LLVM 10.0.1 (clang-1001.0.37.14)]
`

[2019-09-17 09:45] kovaxur commented on #62352
Hi,
We have the same issue, for me the fix was to grant access in ISE (Tacacs) to the 'no terminal pager' command, as I saw, that it was rejected by tacacs. After that, if fixed everything.

So for us, when the 'no terminal pager' command was rejected, ansible registered the output of 'show running-config' instead of the command I wanted to execute in the task.

Regards,
Daniel

[2019-09-17 10:09] willthames commented on #62236
@alexeyt820  Please raise a separate issue for handling empty trailing blocks

[2019-09-17 10:12] justjais commented on #57809
@pffs apologies for the delay in response, I'll check the issue and update more on the issue asap.

[2019-09-17 10:14] MKPhil opened #62401 "win_partition refers to non-existent variable $partition"
##### SUMMARY
win_partition refers to variable $partition which has not been defined or set in the context that it is used

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_partition

##### ANSIBLE VERSION
2.8.5

##### STEPS TO REPRODUCE
Code for win_partition.ps1 contains the following lines, from line 222
[code]

However, the ```$partition``` variable is not defined so will always resolve

[2019-09-17 10:19] justjais commented on #55880
@tamirhad thanks for raising the issue, can u plz check and update if #59716 and #60344 fixes the issue you have raised.

[2019-09-17 10:32] justjais commented on #54616
@marouim I am closing the respective issue as the PR #54875 to resolve the issue is merged

[2019-09-17 10:32] #54616 closed, assigned to justjais

[2019-09-17 10:33] justjais commented on #53865
@swagner-de apologies for the delay in response, I'll check the issue and update more on the issue asap.

[2019-09-17 10:34] justjais commented on #53862
@ibarrere apologies for the delay in response, I'll check the issue and update more on the issue asap.

[2019-09-17 10:35] justjais commented on #53322
@kalero apologies for the delay in response, I'll check the issue and update more on the issue asap.

[2019-09-17 10:36] justjais commented on #52926
@Qalthos @ganeshrn can u guys plz check and update on the issue I believe u guys might have more insight to this

[2019-09-17 10:43] ganeshrn commented on #52926
@pffs @cdwchriburg `wait_for_connection` support is added in Ansible 2.9 version as part of PR https://github.com/ansible/ansible/pull/59153.
Please check with 2.9 version if `wait_for_connection` works for you.

needs_info

[2019-09-17 10:47] ssbarnea opened #62402 "false positive from "raw module does not support the environment keyword" i"
##### SUMMARY
It seems that `raw module does not support the environment keyword` warning is triggered even when environment is not defined in the raw task.

Presence of environment at playbook triggers this error at raw task which makes not sense, as it could be totally impractical to duplicate the section to all tasks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERS

[2019-09-17 10:47] justjais commented on #51843
@dsbrng25b apologies for the delay in response, I'll check the issue and update more on the issue asap.

[2019-09-17 10:48] justjais commented on #47206
closing the PR as it's NR

[2019-09-17 10:48] #47206 closed, assigned to nobody

[2019-09-17 10:51] jborean93 commented on #62402
I don't see how this is a false positive, the `environment` block has been set, regardless of whether it is on the task or play it isn't supported on the raw module. You can argue that maybe it should only show the warning if you set it on the task itself but that would probably have to be decided in the Ansible weekly meeting.

[2019-09-17 11:06] ssbarnea commented on #62402
@jborean93 Feel free to discuss it but I kinda doubt there is anything to debate about: it is a false positive.  `raw` has no idea about environment for good reasons, why to complain about a "global" setting? For the same reason any other module could complain about something outside them that is not supported.

If is hard to fix we are better of removing this runtime warning from Ansible and let

[2019-09-17 11:16] ankush4144 opened #62404 "yes there was bug"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-09-17 11:17] ankush4144 commented on #62404
please help

[2019-09-17 11:17] #62404 closed, assigned to nobody

[2019-09-17 11:32] jborean93 commented on #62402
it isn't a false positive, a user has set an environment block with the understanding that the block is applied to each task that it's in play. The raw module does not support that hence it warning users that their env vars will not propagate to that task. Without it people may say why isn't my explicit set var (by them) is not appearing in their raw task.

Honestly it's a warning not a fatal erro

[2019-09-17 12:19] ronansalmon opened #62407 "ansible/wait_for_connection: temp file from ~/.ansible/tmp not removed"
##### SUMMARY
a temp file is not removed everytime a playbook calling wait_for_connection is played.
a file named AnsiballZ_ping.py in a tmp folder is never removed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
wait_for_connection

##### ANSIBLE VERSION
[code]

[code]

##### OS / ENVIRONMENT
any linux

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS
~/.ansible/tmp folder sh

[2019-09-17 12:20] pgbidkar opened #62408 "VMWare: changed & Failed keys in reconfigure_vm() method in vmware_guest needs to be fixed"
##### SUMMARY
2 params are passed for reconfiguring VM. 1 gets reconfigured and 1 is already upto date.
Ex: for hardware version and cpu are passed, if cpu gets updated and version doesnt then changed value should not be set to True. Module should exit gracefully

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

[2019-09-17 12:56] lukowiczm opened #62411 "Allow to handle 'Not supported powershell version'"
If i am blind pls close.

##### SUMMARY
I am working in environment where i may still catch some old w2k3 hosts which does not support Powershell > 2 - i those cases i would like to avoid processing and be able to handle error. Currently if old version of PoSH ins reached playbook will just fail not allowing me to handle it even with block + rescue.

In init part:
[code]
This can later be easily a

[2019-09-17 13:00] #61596 closed, assigned to nobody

[2019-09-17 13:09] goneri opened #62414 "hcloud_floating_ip_info: test fails (two floating IPs, one expected)"
##### SUMMARY

`hcloud_floating_ip_info` functional test fails with the following error:

[code]

See:
- https://app.shippable.com/github/ansible/ansible/runs/143452/145/console
- https://app.shippable.com/github/ansible/ansible/runs/143452/146/console

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

hcloud_floating_ip_info

##### ANSIBLE VERSION

[code]

[2019-09-17 13:09] ibarrere commented on #62352
Hi,

Thanks for the feedback. The "no terminal pager" command is already enabled though, and I'm able to run it manually if I log in as the read only user. Do you know if there are any other commands that it runs beforehand?

An interesting development though. When looking at the logs after a failed run, I see this:

Sep 17 2019 07:05:14: %ASA-6-113004: AAA user authentication Successful : server

[2019-09-17 13:10] Ag0s opened #62415 "Ansible unable to connect to secured Docker daemon"
##### SUMMARY
When using a TLS secured remote docker daemon and trying to run tasks via Ansible all tasks fail with "Error while fetching server API" on client side and "http: TLS handshake error from 192.168.0.15:48348: tls: first record does not look like a TLS handshake"on server side.

Issuing the commands directly though the command line results in a succesfull network creation.

##### ISSUE

[2019-09-17 13:11] lukowiczm commented on #62411
Ansible version: 2.6
Component: any windows

[2019-09-17 13:23] ShachafGoldstein commented on #62401
https://github.com/ansible/ansible/blob/5cd3be9129c81388c213bcd6b5de7741b9eee8c4/lib/ansible/modules/windows/win_partition.ps1#L183

https://github.com/ansible/ansible/blob/5cd3be9129c81388c213bcd6b5de7741b9eee8c4/lib/ansible/modules/windows/win_partition.ps1#L323

[2019-09-17 13:24] LKaemmerling commented on #62414
This is actually indeed because of https://github.com/ansible/ansible/pull/62409.  Backport PR with a fix for this in `stable-2.9` will come after the PR is merged.

[2019-09-17 13:30] bcoca commented on #61934
I ran simple tests with `$RANDOM % 2` in shell and true/false returns and they always match `$?` as expected

[code]
format is:
msg
iteration $?

[2019-09-17 13:30] chouseknecht commented on #62076
@abadger @alikins

We are going to focus on fixing this server side.

[2019-09-17 13:37] chouseknecht commented on #62073
Think we can close as this is resolved server side by https://github.com/ansible/galaxy-api/pull/88

[2019-09-17 13:39] sivel commented on #62415
!component =lib/ansible/modules/cloud/docker/docker_network.py

[2019-09-17 13:42] kovaxur commented on #62352
Well, I only saw that command, but I'm also running a 'terminal pager 0' and 'terminal width 500' before all the other tasks.

[2019-09-17 13:42] pawellrus commented on #59056
Hello again. September updates was installed without this issue in my environment.

[2019-09-17 13:43] sivel commented on #62370
The warning is specifically worded to say:

As such it's not a 1 size fits all recommendation.

If that recommendation doesn't meet your use case, you will have to use a different approach.

In your case, I would recommend simply updating the configuration option identified by `CONDITIONAL_BARE_VARS` to opt into the future change now.

If you have further questions please stop by IRC or the mailin

[2019-09-17 13:43] #62370 closed, assigned to nobody

[2019-09-17 13:45] sivel commented on #62402
I am in agreement with @jborean93.

This is not a false positive.  It is in fact correctly detecting that the `environment` inherited from the `play` is incompatible with the `raw` task.

As such, I'm closing per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-pr

[2019-09-17 13:45] #62402 closed, assigned to nobody

[2019-09-17 13:46] niklaskurvinen commented on #59594
Just to get the ball rolling; what do you need the module to handle for you (except for the obvious things like sessions etc)?

In my case I need to create VMs, add interfaces and assign IPs to those. I also use tags frequently so that is a must for me (which should be a really small step from managing pretty much all field on the VM). Basically when we add new VMs to our environment (using ansibl

[2019-09-17 13:48] felixfontein commented on #62415
Have you tried using the environment variable `DOCKER_TLS_VERIFY` instead of `DOCKER_TLS_verify`?

[2019-09-17 13:50] gertvdijk commented on #62370
@sivel: huh? Your reasoning shows exactly my point: *not a 1 size fits all recommendation*. Yet, the deprecation warning shows one: "add | bool". So I completely miss your point on why this is would be reason to close this.

[2019-09-17 13:59] sivel commented on #62370
The messages states "you ***might***".  The definition of the word might is:

As such, it may or may not be the correct solution, based on an unknown, and as such, the user may be responsible for determining the appropriate solution for their situation.

[2019-09-17 13:59] abadger commented on #62076
Cool, thanks @chouseknecht !

[2019-09-17 13:59] #62076 closed, assigned to nobody

[2019-09-17 14:00] #61869 closed, assigned to Qalthos

[2019-09-17 14:01] MKPhil commented on #62401
Not sure what you're trying to show with that code snippet - the variable $partition is indeed defined in line 183, but that is in the context of the Function, Set-AnsiblePartitionState, which finishes at line 208.  Local variables are not available outside of their functions, thus the variable used in line 222 and 225 is not defined.

[2019-09-17 14:03] abadger commented on #62073
Cool, thanks chouse!

[2019-09-17 14:03] #62073 closed, assigned to nobody

[2019-09-17 14:06] ibarrere commented on #62352
Oh, well that's a good idea! I hadn't thought to just add a task beforehand to disable the terminal pager. I have done that and it fixes the problem. So anyway, thanks for the usable workaround, and maybe the Ansible team will address this at some point.

[2019-09-17 14:06] Ag0s commented on #62415
I have tried both with environment variables as well as the ansible variant. Both end up at the same issue. Also adding the API version ends up in:
[code]

[2019-09-17 14:08] ShachafGoldstein commented on #62401
Please look at both snippets, ypu can see that the function gets the parameter when it is called on 323.

[2019-09-17 14:19] pief commented on #62370
I think this is twisting words, no one really reads the word "might" this way, if "|bool" is being recommended it is assumed to be with reason and the unintuitive behavior of "|bool" is a true pitfall here.

@gertvdijk What wording you recommend to be present in the deprecation warning instead?

[2019-09-17 14:22] Niolith opened #62421 "Failed to become user SYSTEM: Exception Calling"
##### SUMMARY
Hello,

I'm currently trying to check update on Windows Server 2008 Std SP2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_updates
    with the tags : check

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS Target : Windows Server 2008 Standard SP2 (Version 6.0 Build 6003)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

On a

[2019-09-17 14:26] justjais commented on #61554
@Yannis100 Thanks for raising the issue, I have open a PR to fix the issue reported and also for doc related to `yes/no` wrt to `bool` value, currently we are not planning to update to `true/false` but we have taken it as note and we'll definitely update the same in future.
Closing the issue, as issue will be fixed once PR is merged.

[2019-09-17 14:26] #61554 closed, assigned to justjais

[2019-09-17 14:27] MKPhil commented on #62401
Look at the whole code of the module again.  As I stated, the function Set-AnsiblePartitionState starts at line 178 and finishes at line 208.  Lines 222 and 225 are part of the "main" execution path of the script. I think the presence of that function is actually confusing the issue.  If you put the code in the PowerShell ISE, Notepad++ or another intelligent editor and "collapse" the functions, y

[2019-09-17 14:30] JaviBC98 opened #62422 "MODULE FAILURE See Stdout Stderr"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-09-17 14:30] gertvdijk commented on #62370
@pief See "expected results" already? If the warning is to suggest a solution, it should make sure not to provide a bogus solution, and the wording of 'might' is not an excuse imo. Either provide a type-aware proper solution _or_ nothing and people should read up on it.

[2019-09-17 14:36] goneri opened #62424 "azure_rm_autoscale: test-suite tries to clean up a resource in use"
##### SUMMARY

It sounds like two tests are using `testSubnet` at the same time, if so, the subnet name should be prefixed with `resource_prefix`. This to avoid this kind of conflict.

[code]

https://app.shippable.com/github/ansible/ansible/runs/143474/125/console

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure

##### ANSIBLE VERSION

[code]

[2019-09-17 14:38] swickera commented on #59056
update: I seem to be able to work around the issue by forcing a reboot before calling the win_updates module...

[2019-09-17 14:43] #58311 closed, assigned to nobody

[2019-09-17 14:46] ShachafGoldstein commented on #62401
I see it, you're correct.

[2019-09-17 14:52] jean-christophe-manciot commented on #61939
Anyhow, since neither ```net_get``` nor ```net_put``` seem to implement a command timeout according to their documentation, a workaround is to use an ```ansible_command_timeout``` in the vars section, forcing us to use the network_cli ```ansible_connection```.
However, there is a pitfall: if there is a real issue during the transfer so that the target does not answer any more, we have to wait unti

[2019-09-17 14:54] #62422 closed, assigned to nobody

[2019-09-17 14:55] JaviBC98 opened #62428 "MODULE FAILURE See Stdout Stderr for the exact error"
### **Inventory**

`[win]
173.25.1.146  ansible_connection=winrm ansible_winrm_transport=basic ansible_port=5986 ansible_winrm_server_cert_validation=ignore ansible_python_interpreter=C:\Users\jballesterosc\AppData\Local\Programs\Python\Python37-32`

### **Error Log**

##### SUMMARY
Im trying to connect to a win7 machine with a centos7 one, and the logs says that's a powershell bug, what can I do?

[2019-09-17 14:56] ibarrere commented on #59192
@justjais

Thanks for the link, I'm not really sure what I should do with this information though. If ansible is passing in a compiled regex in this case then I suppose it would match what the person is saying in that you can't provide flags, but I don't think that should affect ansible users right?

[2019-09-17 15:04] 11gingerbread commented on #61726
Thanks for your response. I changed my connection to 'network_cli' from 'local' and persistent logging is enabled. Play still failed, please find below the logs of the same.

root@rxa-ansiblepoc[/etc/ansible/cisco_updates]# cat /etc/ansible/cisco_updates/ansible.copy.log
2019-09-17 10:45:20,849 passlib.registry registered 'md5_crypt' handler: <class 'passlib.handlers.md5_crypt.md5_crypt'>
2019-09-

[2019-09-17 15:04] pief commented on #62370
@gertvdijk: 100% agree.

[2019-09-17 15:05] sivel commented on #61982
Closing as a duplicate of https://github.com/ansible/proposals/issues/7

[2019-09-17 15:05] #61982 closed, assigned to nobody

[2019-09-17 15:14] Moumoutaru opened #62429 "tower_job_template: Fails to set vault_credential"
##### SUMMARY
tower_job_template doesn't set vault credential on job templates

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_job_template

##### ANSIBLE VERSION
[code]

#### AWX VERSION
`6.1.0.0`

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
job template is created based off of above i

[2019-09-17 15:18] sivel commented on #62042
I believe this issue will be resolved by https://github.com/ansible/ansible/pull/62373

[2019-09-17 15:29] #54727 closed, assigned to nobody

[2019-09-17 15:29] sivel commented on #62071
The goal of `profile_tasks` is to profile the execution time for a task, not profiling hosts. As such, not displaying skipped hosts does not impact this plugin.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-09-17 15:29] #62071 closed, assigned to nobody

[2019-09-17 15:30] sivel commented on #62077
Closing per above.

[2019-09-17 15:30] #62077 closed, assigned to nobody

[2019-09-17 15:30] sivel commented on #62086
!component =lib/ansible/modules/cloud/misc/terraform.py

[2019-09-17 15:32] sivel commented on #62091
This is expected. We cannot ensure that the item placed in label aren't sensitive. We have discussed this, and have decided that to prevent accidental information disclosure, it's best that we keep this functionality as is.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansibl

[2019-09-17 15:32] #62091 closed, assigned to nobody

[2019-09-17 15:40] jean-christophe-manciot commented on #62141
If I assume the [command doc](https://docs.ansible.com/ansible/latest/modules/asa_command_module.html#asa-command-module) is incomplete & mimic what is done with ```ios_command```:
[code]
I get:
[code]

[2019-09-17 15:47] ShachafGoldstein commented on #62421
Quick question, are you sure the user in both scenarios has adaquat permissions? In this case for system impersonation you would need admin

[2019-09-17 15:47] TJEvans opened #62432 "postgresql_privs module should support Altering permissions on database object type TYPES"
##### SUMMARY
postgresql_privs module should support a type parameter option for TYPES to allow Grant/Revoke of usage permissions.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
postgresql_privs

##### ADDITIONAL INFORMATION
Types is supported in for assigning default privs, but we dont have parity for the ability to modify permissions of existing TYPES objects, GRANT USAGE ON TYPE schema.

[2019-09-17 15:52] sivel commented on #62284
!component =lib/ansible/modules/cloud/amazon/ecs_taskdefinition.py

[2019-09-17 16:23] webknjaz opened #62439 "A double run of `ansible-test sanity` produces false-positive `symlink` errors on the second run originating from the `tests/output/` folder"
STR:
1. `rm -rf tests/output`
2. `ansible-test sanity` (see **no symlink errors**)
3. `ansible-test sanity`:
[code]

[2019-09-17 16:24] rrey commented on #62244
Hi @Constantin007,

I managed to reproduce the issue and investigated on the message. I found this [thread](https://stackoverflow.com/questions/50168647/multiprocessing-causes-python-to-crash-and-gives-an-error-may-have-been-in-progr) on Stackoverflow.

I tested the suggested solution which consists in setting `OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` in the environment to disable the extended thr

[2019-09-17 16:26] mattclay commented on #62439
When using git for version control on an Ansible Collection, add `/tests/output/` to the `.gitignore` file for the collection.

[2019-09-17 16:26] webknjaz commented on #62439
I've tested it and can confirm that it works.
Ref: https://github.com/ansible/collection_migration/commit/6df44dcd258d7202b09b8f212185d4152ee99018

[2019-09-17 16:26] #62439 closed, assigned to nobody

[2019-09-17 16:46] #48050 closed, assigned to nobody

[2019-09-17 16:47] #47205 closed, assigned to nobody

[2019-09-17 17:00] brett-mitchell-itential opened #62441 "Module asa_acl crashes when lines is an empty array"
##### SUMMARY

The module asa_acl crashes due to returning an undefined reference `acl_name` when the lines parameter is an empty array.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_acl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Check out the latest version of ansible
Run module asa_acl with an empty lines array
Note

[2019-09-17 17:03] james-powis commented on #57131
This is affecting all of the "network" modules... It is a quick and easy fix and I will get a PR submitted by end of the day to fix.

[2019-09-17 17:12] felixfontein commented on #62415
That's a very different error message, though. The first one sounded like the connection was made with the wrong protocol (no TLS as opposed to TLS), while this one is different. It looks more like there's a bug in Ansible's docker connection code.

Which version of [docker](https://pypi.org/project/docker/) / [docker-py](https://pypi.org/project/docker-py/) have you installed on the remote machin

[2019-09-17 17:27] Niolith commented on #62421
Hi, @ShachafGoldstein ,
I used my domain account to execute the playbook and I'm currently domain administrator.

Could we test something else to verify if the issue is linked to my account ? I tried several others servers and it's the first server that shown me this issue.

Thank you,

[2019-09-17 17:33] samdoran commented on #61983
The value of `contains` is meant to be a single regular expression. The value is passed to `re.compile()` which expects a string that is a regular expression, not a list.

[2019-09-17 17:48] goneri opened #62446 "vmware_rest_client does not support HTTP Proxy"
##### SUMMARY

`module_utils/vmware_rest_client.py` and the associated modules don't support HTTP Proxy.

The modules:

- _vmware_category_facts
- vmware_category_info
- vmware_category
- vmware_cluster_info
- vmware_content_deploy_template
- vmware_content_library_info
- vmware_content_library_manager
- vmware_guest_info
- vmware_host_facts
- vmware_tag_info
- vmware_tag_manager
- vmware_tag
- vm

[2019-09-17 18:11] goneri opened #62447 "azure_rm_sqlserver fails with 'too many 502 error responses'"
##### SUMMARY

This is the second time I see the problem today, and so I open an issue to trace it:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_sqlserver

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

https://github.com/ansible/ansible/blob/devel/test/integration/targets/azure_rm_sqlserver/tasks/main.yml#L20

[2019-09-17 18:19] slabast commented on #49842
Getting the same error with a standard switch using ansible 2.8.
if passing the name parameter only I get "please specify at least Network name or VLAN name", if using the vlan (any vlan) I get the VLAN '999' does not exist
I have not tried switching the Python interpreter to python3

[2019-09-17 18:27] felixfontein commented on #62415
According to https://github.com/docker/docker-py/blob/master/docker/tls.py#L78-L84 the problem now seems to be that you provided a client certificate, but not the private key for the client certificate. Since you specified `DOCKER_CERT_PATH`, according to the module documentation, Ansible will assume that `$DOCKER_CERT_PATH/cacert.pem`, `$DOCKER_CERT_PATH/cert.pem` and `$DOCKER_CERT_PATH/cert.key`

[2019-09-17 18:44] #49842 closed, assigned to nobody

[2019-09-17 19:22] LucasBoisserie commented on #61546
!component

[2019-09-17 19:46] Constantin07 commented on #62244
Thanks @rrey for investigating. It works but looks hacky when reaing ansible playbook with this env. variable set.
Just wondering - should the documentation page for this module be updated with the above workaround ? or it can be fixed in Ansible ?

[2019-09-17 19:49] Andersson007 commented on #62432
@TJEvans thank you for reporting this issue!
i'll ask our guys maybe somebody wants to solve this

[2019-09-17 20:14] kqr commented on #61983
Thank you. The PR makes it clear!

[2019-09-17 20:28] BarbzYHOOL commented on #62367
yes, because I had copied a lot of the text from that page in local and many variables have completely changed

[2019-09-17 21:15] jborean93 commented on #62367
Not sure if I agree here, the ability to set multiple vars can be beneficial, especially in case of vars that conflict with other plugins. Typically we add at least 2 vars for a plugin option:

* `ansible_<plugin type>_<option name>`
* `ansible_<pluign name>_<option name>` - typically has a higher precedence than the above

This allows users to have a generic option that is typically the same acro

[2019-09-17 22:08] andyfeller commented on #62091
While I understand the problem, this could be solved by providing the implementor some solution to elect using what is provided.  It is reasonable not to assume it is safe, it is unreasonable to not let us choose.

[2019-09-17 22:58] s-hertel commented on #62231
@rambleraptor Make sure the NAME in your inventory plugin in the collection uses the FQCN - `NAME = 'google.cloud.gcp_compute'` and that your config file uses it too `plugin: google.cloud.gcp_compute`.

If you're using a collection adjacent to a playbook, use the `--playbook-dir` flag with `ansible-inventory`. If you're using a general collection make sure the collection is in an expected path htt

[2019-09-17 23:02] magick93 opened #62466 "Parted module is not idempotent"
##### SUMMARY
The parted module is not idempotent.

On first run of playbook the parted task succeed. On second run of the same playbook it fails with an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Parted

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Target OS is Centos 7.
- Control machine is Ubuntu 18.04.

##### STEPS TO REPRODUCE
Run the

[2019-09-17 23:07] jmlogan opened #62467 "Selinux module fails if selinux is not installed"
##### SUMMARY

SELinux module fails if SELinux is not available. This seems very similar to #21622.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7 base Docker Image

##### STEPS TO REPRODUCE

Run following playbook on fresh CentOS 7 machine.

[code]

##### EXPECTED RESULTS

Command to be a NOOP if S

[2019-09-18 01:41] bcoca commented on #62091
@andyfeller then you are asking for a new feature, a toggle to allow label to be considered safe, but this was a bug report assuming the current behaviour was wrong, which it is not, it is by design.

[2019-09-18 02:46] andyfeller commented on #62091
@bcoca Somewhat subjective opinion especially speaking as a consumer basing this on feedback from peers seeing alternative options elsewhere in the codebase.  All that being said, I’ll open a feature request to follow up here.

[2019-09-18 03:45] justjais commented on #61321
Closing the issue as the issue is merged in `devel` and backport is raised for `2.9` as well

[2019-09-18 03:45] #61321 closed, assigned to justjais

[2019-09-18 04:22] fghaas commented on #41192
@cvarta No, this issue isn't fixed. @jpmens (who is the original author of the lookup plugin) has greenlit #41195 several times, but core devs appear to disagree. JP and I agree that the plugin should do the right thing by default; core devs appear to believe it should do the wrong thing by default, unless users set a toggle telling the plugin to do the right thing. Sorry about the impasse.

[2019-09-18 05:06] justjais commented on #61726
@11gingerbread I see your router is getting timed out while trying to `enable` the privilege, can you increase the timeout value to higher value instead of default `30s` and try the scenario again.

You can increase the `persistent_command_timeout` value to higher value from your config file, please refer [network_cli doc](https://docs.ansible.com/ansible/latest/plugins/connection/network_cli.html

[2019-09-18 05:27] ganeshrn commented on #61726
@justjais The issue does not seem to be related to timeout. It is related to ios terminal regex password prompt.

@11gingerbread Please test with this PR https://github.com/ansible/ansible/pull/62479 and check it solves the issue.

needs_info

[2019-09-18 05:45] Ag0s commented on #62415
I followed the guide as per: https://docs.docker.com/engine/security/https/ to secure docker. This also generates all three certs (ca.pem, cert.pem & key.pem) all three are supplied to ansible for the docker connection. Either via the environment cert search path or specifically per ansible variable.

As for the requested versions:
[code]

[2019-09-18 05:46] Akasurde commented on #62467
!component =lib/ansible/modules/system/selinux.py

[2019-09-18 05:52] Akasurde commented on #61645
@Tomorrow9 Could you please take a look into this ? Thanks in advance.

[2019-09-18 05:53] felixfontein commented on #62415
Do you have the files in `"{{ playbook_dir }}/certificates"` on the **remote** machine? That's where the module is executed, and on that machine the module (resp. docker) will look for these files.

Also, don't install both `docker-py` and `docker` (the Python modules) on the same machine. That makes both unusable. To fix the situation, uninstall both before reinstalling only `docker`.

[2019-09-18 05:57] sbuvaneshkumar opened #62481 "jira: support for adding users in watcher list"
Currently jira module doesn't support adding users in watcher list.
It would be nice if we have the functionality to add multiple users in watcher list via jira module in Ansible.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
jira

[2019-09-18 06:07] Fred-sun commented on #62395
@nicolaibaralmueller Thank you for report this issue! We will investigate this!

[2019-09-18 06:14] Fred-sun commented on #62395
Reproduce. should be the azure_rm_subnet module bug. Thanks!

[2019-09-18 06:31] jpmens commented on #41192
The future will bring collections of dig plugins, the more the merrier! To each, her own.

(Said toungue-in-cheek.)

[2019-09-18 06:46] Ag0s commented on #62415
Thanks for the remark on docker vs docker-py. Installed it only to check the versioning just now. I read it created conflicts.

So if I understand correctly you are saying that when I run ansible on the local machine it connects to the remote machine via SSH and runs the docker command there? If so, there is no reason at all to run a secured docker daemon in the first place. However with all my tr

[2019-09-18 06:50] rrey commented on #62244
This is a Python on MacOS issue, not related to the lookup itself as there is no explicit use of multithreading.
It can be an issue with the implementation in the shared aws helpers or one of the deps though.

Someone from the aws or core team may have a better understanding of the issue.

Best place to get attention would be to contact them through IRC

[2019-09-18 07:04] Fred-sun commented on #62424
@goneri Thank you for report this issue! We will investigate this!

[2019-09-18 07:17] Fred-sun commented on #62424
@goneri The problem is easy to copy. Normally, if a resource is occupied, no other process can delete it. However, this should not be a problem, people don't do this.
In addition: I will discuss with the community maintainer whether it should be considered to automatically generate variable names in the task as md5 values to avoid similar problems. Thank you very much!

[2019-09-18 07:49] Fred-sun commented on #62447
@goneri Thank you for report this issue! We will investigate this!

[2019-09-18 07:54] M1k12 opened #62483 "delegate_to module output"
##### SUMMARY

I'm trying to write a playbook for a rolling update for my MariaDB Galera cluster.

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

18.04.1-Ubuntu
##### Question
Sorry if I'm not in the right section but I didn't see one for questions.
So I'm using the delegate_to module so i have more control of the nodes during the rolling update.

When I use delegate_to i see different typ

[2019-09-18 08:12] Fred-sun commented on #62447
@goneri Can you share your version of 'pip list' and ansible version? Thank you very much!

[2019-09-18 08:31] FleischKarussel commented on #29825
Damn, pretty old bug...
Stepped into this today aswell.

[2019-09-18 08:43] uhilkert opened #62484 "Error "TypeError: 'in <string>' requires string as left operand, not bytes" in docker_login"
##### SUMMARY

When logging out from any Repository the play aborts with Message "TypeError: 'in <string>' requires string as left operand, not bytes". Our Ansible is using Python 3!

I found that the docker_login is searching for Bytes in the output of the 'docker logout..' command (e.g. _elif b'Removing login credentials for ' in out_). I changed this in my local Ansible code to strings to fix t

[2019-09-18 08:51] richlv opened #62485 "Warning after a failed zabbix_action task: "TypeError: 'ZabbixAPISubClass' object is not callable""
##### SUMMARY
Warning after a failed zabbix_action task: "TypeError: 'ZabbixAPISubClass' object is not callable"

` [WARNING]: Module invocation had junk after the JSON data: Error in atexit._run_exitfuncs: Traceback (most recent call last):   File "/usr/lib64/python2.7/atexit.py", line 24, in _run_exitfuncs     func(*targs, **kargs) TypeError: 'ZabbixAPISubClass' object is not callable Error in s

[2019-09-18 08:55] richlv commented on #62485
Actually does not seem to be related to failures - happens also when there are no failing tasks.
When there are failing and successful tasks, the message is printed after failures.

[2019-09-18 09:07] richlv opened #62487 "zabbix_action: remote command actions fail [regression]"
##### SUMMARY
Creating or updating actions that only have remote command operations fails with '"missing required arguments: esc_period"'. "esc_period" is not explicitly specified.

This is likely related to cc4dc075f77c20387c771c802b5295e538065444 which removed the default value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
[code]

Latest zabbix_action

[2019-09-18 09:23] nicolaibaralmueller opened #62489 "azure_rm_virtualmachine winrm functionality"
##### SUMMARY

winrm configruation during deployment does not support selfsigned certificate. This should be an option.

We are configuring winrm like so at the moment:
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_virtualmachine

##### ADDITIONAL INFORMATION

[code]

Output:
[code]

[2019-09-18 10:11] Theoooooo opened #62490 "Replace module add newline for no reason when working with multiples lines replacement"
##### SUMMARY
I discover a bug (i think it is) where, if you work with multiples lines in the replace value, it automaticaly add a new line at the end of the content replaced even if you don't want to.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
replace

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7 1807

##### STEPS TO REPRODUCE

1. Create a simple task "replace" with the

[2019-09-18 10:26] felixfontein commented on #62415
Well, that's what you told Ansible to do :) If you want to run the module locally, so it can operate on the remote docker dameon, you have to tell Ansible that. Adding `delegate_to: localhost` to the task (i.e. on the same level as `environment:`) will do that for you.

The Ansible docker modules never call the `docker` binary. They use the Docker SDK for Python to connect directly to the docker d

[2019-09-18 10:29] pjnagel opened #62492 "snap module does not upgrade snaps"
##### SUMMARY
The snap module does not upgrade snaps.

For example, if lxd is installed from channel '3.16/stable', and then the task is changed to channel '3.17/stable', then the snap module does nothing. It should instead upgrade the snap.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
snap

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
$ lsb_release -a
N

[2019-09-18 10:51] Ag0s commented on #62415
That is correct. I received the error you specified. Might it be of any additional value, I now no longer see any errors on the docker daemon

Hmm so confusing. I was on the IRC channel and there I was told ansible-docker commands were always executed on the host where ansible playbook was running. Wonder why it didn't work they way you described it should have worked. More testing required... How

[2019-09-18 11:08] kayront opened #62495 "pfexec does not work on Illumos, at all"
##### SUMMARY

pfexec is failing on illumos (SmartOS). It attempts to use flags that are not recognized by the pfexec binary.

[code]

I have also tried the following options in `ansible.cfg`:

[pfexec_become_plugin]
flags = ''

[privilege_escalation]
become_flags = ''

But then it fails with:

[code]

***If it helps to narrow it down, I had this working fine before updating ansible (along with a

[2019-09-18 11:14] webknjaz opened #62496 "How should validate-modules sanity test treat module_utils in collections?"
##### SUMMARY

When a module in a collection contains something like `from ansible_collections.new_azure_order.azure.plugins.module_utils.azure_rm_common import AzureRMModuleBase`, sanity tests report:

[code]

##### ISSUE TYPE
- question?

##### COMPONENT NAME

ansible-test

##### ADDITIONAL INFORMATION

N/A

[2019-09-18 11:33] justjais commented on #61396
@IPvSean fix for the issue is merged with the PR #61642 and backported to `2.9` as well, going ahead and closing the issue.

[2019-09-18 11:33] #61396 closed, assigned to justjais

[2019-09-18 11:37] wschoot opened #62499 "azure_rm_storageaccount module doesn't support BlockBlobStorage storage in Azure"
##### SUMMARY
azure_rm_storageaccount module doesn't support BlockBlobStorage storage in Azure. In 'Premium_LRS', there's a kind BlockBlobStorage, which azure_rm_storageaccount doesn't yet support. See also https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview for all kinds

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_storageaccount

##### ANSIBLE VERSION

[2019-09-18 11:55] #62414 closed, assigned to nobody

[2019-09-18 11:57] kevintieman commented on #60934
Bump, is anyone looking at this? Thanks :-)

[2019-09-18 12:34] widhalmt commented on #20537
I just stumbled over this and would really appreciate a way to automatically all dependecies from local meta/main.yml files from custom built roles.

[2019-09-18 12:45] anrussel commented on #62063
This is pretty easy to reproduce.
But the important thing to note is that this issue only occurs when you run the ansible command from a rhel7 box and the target is a rhel8 system.

[root@rhel8 ~]# cat /etc/redhat-release
Red Hat Enterprise Linux release 8.0 (Ootpa)
[root@rhel8 ~]#  ansible --version
ansible 2.8.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.

[2019-09-18 12:50] falcon78921 opened #62510 "user module produces UnboundLocalError when targeting AIX nodes"
##### SUMMARY

In Ansible 2.8.2, using the `user` module against an AIX host produces the following error:
[code]

This may be a possible regression as Ansible 2.7 executes `user` successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`user`

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

IBM AIX

##### STEPS TO REPRODUCE

1. Run the `user` module against a set of IBM AIX node

[2019-09-18 13:30] Akasurde commented on #61645
resolved_by_pr https://github.com/ansible/ansible/pull/62513

[2019-09-18 13:32] goneri commented on #62414
@LKaemmerling, do you know if we can also safely revert the backported patches from the stable branches?

- https://github.com/ansible/ansible/commit/d8bd6ea72f4ccaf2237891b36bc2411083f52bef
- https://github.com/ansible/ansible/commit/4c8fa415b13af68ccc527b5c7c2a9be3d514b628

[2019-09-18 14:10] msilmser commented on #58497
related: https://github.com/ansible/ansible/pull/62376

[2019-09-18 14:24] weyderfs opened #62516 "Ansible Playbook AWS SSM fails"
##### SUMMARY
After update via _homebrew_ I can't run my playbooks using AWS SSM.
My role run the playbook local in machine using AWS Credentials and update  my secrets on SSM > Parameter Store.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- **AnsiballZ_aws_ssm_parameter_store.py**

- **ansible_aws_ssm_parameter_store_payload_iP1iK2**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[

[2019-09-18 14:37] sivel commented on #62496
We'll likely just need to toggle different logic when `self.collection` at the following place in the code

https://github.com/ansible/ansible/blob/48a39f56163a46368500be2af541975c78aa081e/test/lib/ansible_test/_data/sanity/validate-modules/validate_modules/main.py#L489

[2019-09-18 14:38] sivel commented on #62495
!component =lib/ansible/plugins/become/pfexec.py

[2019-09-18 14:43] bd1308 opened #62519 "Do not return status in systemd module results by default"
##### SUMMARY
Output for ad-hoc ansible commands (CLI execution with `-m` and `-a` options) produce significant output when running `systemd` versus `sysvinit`. If operating on a group of servers, it's hard to tell (besides via color coding and use of grep) to determine if the intended action was executed successfully.

Output, when not in a playbook, should be concise enough for humans to quickly

[2019-09-18 14:43] sivel commented on #62490
This is likely caused by the way your variable is defined, when using the literal block character `|`.

Unless there is no newline after the last line, a newline character will be appended to the string, effectively represented as:

[code]

To prevent this behavior, you need to indicate to YAML that it should "chomp" the final line break (https://yaml.org/spec/1.2/spec.html#id2795034):

[code]

No

[2019-09-18 14:44] LKaemmerling commented on #62414
@goneri yep this is possible, but you need to change the tests as well (https://github.com/ansible/ansible/pull/62409/files#diff-6a946be2a30c5ffec42873374d4d16bb) (2.8 & 2.9) and https://github.com/ansible/ansible/pull/62409/files#diff-2f155333df39aa52c77237077e9425c0 for ansible 2.9

[2019-09-18 14:44] sivel commented on #62483
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-09-18 14:44] #62483 closed, assigned to nobody

[2019-09-18 14:48] abadger commented on #61874
Removing this as a blocker for the 2.9.0rc1 release.  After talking with the team, this affects a specific version of nexus and so it should not lock the overall release of Ansible.

[2019-09-18 14:49] abadger commented on #61242
Since we don't yet have enough information to proceed on this and, in fact, it might already be fixed, removing this from the blockers for the 2.9.0 release.

[2019-09-18 14:52] sivel commented on #62377
!component =lib/ansible/modules/net_tools/nios/nios_txt_record.py

[2019-09-18 14:52] sivel commented on #62364
!component =lib/ansible/modules/cloud/openstack/os_port_info.py

[2019-09-18 14:53] richardsonky opened #62521 "win_package path doesn't accept special characters"
##### SUMMARY
win_package doesn't accept special characters in path such as '=' and '[]'.  Test-Path command needs to use -LiteralPath instead of -Path.  EXE cannot be renamed due to the install process.  This is an off the shelf product and we can't modify it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / E

[2019-09-18 15:10] s-hertel commented on #62372
Fixed by 2e1c6a78396624d8c01a603f1247eb4b3326fd82

[2019-09-18 15:10] #62372 closed, assigned to nitzmahone

[2019-09-18 15:10] ganeshrn commented on #61242
resolved_by_pr https://github.com/ansible/ansible/pull/61224

[2019-09-18 15:10] #61242 closed, assigned to ganeshrn

[2019-09-18 15:47] chkp-orso opened #62530 "equals error message"
##### SUMMARY

fix if equals error code if command not found to output the relevant error message
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

check_point
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

run any cp module on a checkpoint machine which doesn't contain the "equals" command

[code]

##### EXPECTED RESULTS

Relevant

[2019-09-18 15:52] ssbarnea commented on #62402
This happens even if you have a `raw` task inside a role. That means that once you put environment at playbook level there is no way to avoid getting warning from any `raw` module call, even if they are called from roles from galaxy for example.

[2019-09-18 15:53] abadger commented on #60424
Networking is using a workaround for this for now so removing it from the blocker list for 2.9.0.  (If that's not the case, please let me know ASAP).

[2019-09-18 16:00] #62530 closed, assigned to nobody

[2019-09-18 16:10] fsantos2019 opened #62532 "gcp_container_node_pool module error with location field"
##### SUMMARY

Unable to create a Cluster node Pool associated to a Regional GKE Cluster.  Similar to the bug reported: #51447

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_container_node_pool

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The expected output should be a New Node Poo

[2019-09-18 16:12] bcoca commented on #62519
have you tried `--oneline` option?

[2019-09-18 16:28] bcoca commented on #62495
try this patch:
[code]

[2019-09-18 17:03] fsantos2019 commented on #62532
When creating a new GKE cluster, using the module: **gcp_container_cluster** . it does look like the location only allows zone, not region but doesn't cause a problem and the cluster does properly start and work.

However if we change the values of location on both tasks to use zone naming it does work :
[code]
![image](https://user-images.githubusercontent.com/49282368/65169343-56aead00-da14-11e9

[2019-09-18 17:04] ericsysmin opened #62535 "gcp_compute_machine_types_facts for getting machine_type information"
##### SUMMARY
Would like the ability to replicate actions of
https://cloud.google.com/sdk/gcloud/reference/compute/machine-types/describe

Using the module or via lookup plugin to dynamically handle settings of application limits based on machine type values.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/modules/cloud/google/gcp_compute_machine_types_facts.py

##### ADDITIONAL

[2019-09-18 17:05] samdoran commented on #62519
@bcoca Using the `--one-line` option still returns all that info from the `status` field.

The best solution to this is to change the callback plugin used for ad-hoc commands (Thanks @bcoca and @sivel for telling me about that).

Ad-hoc commands do not load callback plugins by default and instead use the `minimal` callback, which displays the return values from tasks.

https://github.com/ansible/a

[2019-09-18 17:05] #62519 closed, assigned to nobody

[2019-09-18 17:27] sivel commented on #62516
!component =lib/ansible/modules/cloud/amazon/aws_ssm_parameter_store.py

[2019-09-18 17:54] mikewiebe commented on #61874
@abadger We run a more comprehensive set of platforms/images for this module and it's currently failing on many different nxos image versions across n3k, n6k, n7k and n9k platforms.

[2019-09-18 18:15] rambleraptor commented on #62231
The documentation is fantastic. Exactly what I was looking for. Thanks so much!

[2019-09-18 19:32] samccann commented on #54418
This was a test run to see if it was possible/desirable. While it does work, there are over 200 playbook examples in Ansible docs and not something we can tackle overall at this point.

[2019-09-18 19:32] #54418 closed, assigned to samccann

[2019-09-18 19:46] WRJFontenot commented on #62377
I am the customer that opened two support cases with RedHat about the nios_txt_record module:

CASE 02473253: Ansible module nios_txt_record won't add TXT records if multiple TXT records already exist.
CASE 02473244: Ansible nios_txt_record module replaces existing TXT records instead of adding additional records.

Both issues are likely caused by the same problem.  In the documentation for [nios_

[2019-09-18 20:13] nitzmahone commented on #61930
Hrm, in trying to fix this, I actually am unable to reproduce it... On your host where it's broken, what happens if you do `ansible localhost -m ansible.builtin.slurp -a /etc/os-release`- does it fail the same way?

[2019-09-18 20:31] samdoran commented on #62510
Would it be possible to get a sanitized copy of the shadow file?

I am thinking the file is formatter different than the example I used when I wrote this function.

[2019-09-18 20:32] WRJFontenot commented on #62377
When deciding priority for bug fixes, keep in mind  if a customer today operating in only one AWS region uses the nios_txt_module to add a second TXT record for AWS SES so they can operate in a second region, their first SES TXT record will be replaced the second and they will experience an email failure with all their email in their original AWS region.

We only avoided this fate because we alrea

[2019-09-18 20:41] jborean93 commented on #62367
Waiting for https://github.com/ansible/ansible/pull/62373 to be merged.

[2019-09-18 20:41] samdoran commented on #62510
Actually, I don't think it's the file format. I think it's the fact that the shadow file is not located at `/etc/security/passwd`. Can you find out where the shadow file is located on the system?

[2019-09-18 20:58] samdoran commented on #62510
Please test with #62547 and let me know if that fixes the issue.

I suspect this may result in tasks reporting a change every time if the password or expiration are being specified in the task since I suspect it is failing to find the shadow file. That means the method will return default values every time rather than actual values on the system.

If there is another standard path AIX uses for sto

[2019-09-18 21:06] jillr commented on #62408
Unless I misunderstand, this is not correct.  If a change is happening (such as, cpu is updated) then it is correct for changed to be True when the module exits.  In #62188 there should not have been a change occurring though because all the params being passed in the second (idempotent) test were the same as the previous task.  If the cpu was updating even though the param was the same we need to

[2019-09-18 21:09] jborean93 commented on #58497
So I've just merged https://github.com/ansible/ansible/pull/62376 which will stop this particular error from appearing and am trying to get it backported to earlier versions. In saying that I've only seen this come up once on a Server 2008 R2 host if it does not have the WinRM v3 memory hotfix KB that we mention here https://docs.ansible.com/ansible/latest/user_guide/windows_setup.html#winrm-memor

[2019-09-18 21:09] #58497 closed, assigned to nitzmahone

[2019-09-18 21:22] samdoran commented on #62467
This is working as intended. The module reports a failure because the dependency is not installed and the module is not able to evaluate the system to get the current SELinux status (it calls `selinux.is_selinux_enabled()` and `selinux.selinux_getpolicytype()`).

You can make this task ignore errors or change the failure condition for the task.

[code]

To discuss this further, please reach out on

[2019-09-18 21:22] #62467 closed, assigned to nobody

[2019-09-18 21:29] tjanez commented on #61930
Yes, it fails in the same way:
[code]

[2019-09-18 21:33] jborean93 commented on #61930
Do you have some sort of inventory file it might be using with any vars setup there? I also can't replicate the issue.

[2019-09-18 23:29] goneri opened #62560 "hcloud_server: tests fail with "hcloud.hcloud.APIException: <exception str() failed>""
##### SUMMARY

Hi,

The `hcloud_server` functional test fails with the following error:

[code]

e.g:
- https://app.shippable.com/github/ansible/ansible/runs/143748/146/tests
- https://app.shippable.com/github/ansible/ansible/runs/143748/145/tests

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

hcloud_server

##### ANSIBLE VERSION

[code]

[2019-09-19 00:58] willthames opened #62562 "RepresenterError with looped lookups in YAML callback"
##### SUMMARY
Loading template files in a loop leads to RepresenterErrors using YAML callback

Note that in the real world, this can manifest itself in the task erroring out, although I can't reproduce that in a more minimal test case as yet - I hope that the below information is enough to eliminate the underlying issue.

Other notes:
* If I remove the trailing `-`, the task succeeds. But I added

[2019-09-19 01:45] arvindshmicrosoft opened #62564 "azure_rm_virtualmachinescalesetinstance_facts should return computer name"
##### SUMMARY

Each VM instance in an Azure VM Scale Set (VMSS) has a computer name (hostname) which is distinct from the instance name. Currently azure_rm_virtualmachinescalesetinstance_facts returns the instance name but not the computer name. It would be extremely helpful if the module can return the computer name as well.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_virtual

[2019-09-19 02:18] abadger commented on #61930
Since we cannot yet reproduce this, we've elected not to block release on this.  If a bugfix is needed to address this, it may be eligible for backporting to a future 2.9.x release.

[2019-09-19 02:44] angristan commented on #62492
I think that's because the module checks if the snap is installed, but not the channel:

https://github.com/ansible/ansible/blob/1c64dba3c9800deabb45b75bfd17b951b66e0eee/lib/ansible/modules/packaging/os/snap.py#L134-L140

[2019-09-19 03:23] Fred-sun commented on #51062
Which maintainer will continue to focus and fix the problem?

[2019-09-19 03:30] #60510 closed, assigned to nobody

[2019-09-19 04:43] LKaemmerling commented on #62560
I guess this was my fault. I have cleaned up the project yesterday (at around this time) and tougth that this was an old server which was stuck. So there should not be a problem and all tests should work finde.

[2019-09-19 05:02] LKaemmerling commented on #60195
This module will be available as of Ansible 2.10

close_me

[2019-09-19 05:08] #60195 closed, assigned to nobody

[2019-09-19 05:44] justjais commented on #62377
@s-giri @krisvasudevan can you guys plz look into the above issue and update with your findings. It's a customer request, it would be great if we can come with resolution asap.

[2019-09-19 06:28] wgfreewill commented on #56181
Doesn't seem to happen when you switch from 'provider' to connection: network_cli.

[2019-09-19 07:47] gavinfish opened #62574 "Filtering by tag for Dynamic Inventory Ansible with "azure_rm plugin""
##### SUMMARY

In the legacy [Azure inventory script](https://github.com/ansible/ansible/blob/devel/contrib/inventory/azure_rm.py), it supports selecting hosts with specific tag key with environment variables like below.

https://github.com/ansible/ansible/blob/558ce6575d9ea43adc9116f88a1cc95b3110a7dd/contrib/inventory/azure_rm.py#L139-L141

But in the new [Azure inventory plugin](https://github.c

[2019-09-19 08:59] pgbidkar commented on #62408
Hi @jillr , Yes! I am ok with making changed=True when only CPU is changed. but what I am looking at is if version is not changed because version is already latest (in this case we cannot fail the module), then it should be part of result shown while exits, that version is already updated.

Please Let me know your thoughts?

[2019-09-19 09:17] kayront opened #62576 "User module: OpenBSD: entry not added to /etc/group, making su fail"
##### SUMMARY

Just noticed that on OpenBSD, a user created by ansible with `group: wheel` is unable to su - to root.

For example:

[code]

But, strangely enough, it seems that this is not the case:

[code]
However, upon further research, I came across the following in the `su` manpage (OpenBSD version):

[code]

And indeed we find that:

[code]

Substituting the above for `wheel:*:0:root,admin`

[2019-09-19 09:23] kayront commented on #62495
That didn't do it @bcoca, but I felt free to disfigure it a bit more and ended up with this:

[code]

Basically, removed the flags; it still did not work then, so I removed the quotes around the second %s in the return line.

I have (even before this issue) the following in my ansible.cfg:

[code]

[2019-09-19 09:44] Theoooooo commented on #62490
https://github.com/ansible/ansible/issues/62490#issuecomment-532717348
@sivel Yep that was it. I didn't know you could do this ^^
Thanks

Closing the issue

[2019-09-19 09:44] #62490 closed, assigned to nobody

[2019-09-19 10:04] tinproject commented on #61429
I have the same problem, if you set the hostname by a tag, and two or more instances have the same tag value, only one instance is registered to the inventory.

For example, with this on the inventory file
[code]

if you have two instances with the `Name` tag to `web` for example only one is showed on `ansible-inventory --list -y`

`aws_ec2` inventory code is not prepare to deal with multiple inst

[2019-09-19 10:32] tinproject commented on #53397
With this you can get groups by platform:

[code]

[code]

[2019-09-19 10:43] gundalow commented on #62238
Docs updated in https://github.com/ansible/ansible/pull/62330/files to make this clearer

[2019-09-19 10:54] DaVince commented on #34281
I'd just like to mention that there is a bit in the documentation that insinuates that the feature requested already exists. See:
https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#applying-when-to-roles-imports-and-includes

Specifically, the note mentions that Ansible allows `when` to work with playbook includes since version 2.0. Perhaps this documentation should als

[2019-09-19 10:58] tinproject opened #62583 "aws_ec2 inventory plugin: only one instance is registered for hostnames defined by tag values."
##### SUMMARY
When using `aws_ec2` inventory plugin with hostname based on tags values, if the tag value is shared among various instances only one of this instances is registered on the inventory.

Related: https://github.com/ansible/ansible/issues/55911

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_ec2 inventory plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#####

[2019-09-19 11:07] Xaroth opened #62585 "Role vars bleed through to subsequent play roles"
##### SUMMARY
Role vars bleed through to subsequent roles in a play

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

No config was used (as visible in part above), to keep it as vanilla as possible

##### OS / ENVIRONMENT

Tested on both Ubuntu LTS and Debian systems, but since it affects core, I suspect all environments are aff

[2019-09-19 11:52] tjanez commented on #61930
No.

Hmm... it seems very odd that you can't replicate the issue. I was successful in replicating it again just now.

@nitzmahone, @jborean93, could you try again in a clean Docker environment?

I've used the `fedora:30` Docker image and the latest Ansible from the `stable-2.9` branch.

<details>
 <summary>Full output of <b>success when role is outside the collection</b>:</summary>

[code]

</deta

[2019-09-19 11:53] Xaroth commented on #62585
I think I may have confused ansibot with the list of affected versions, this affects 2.3 up until devel.

[2019-09-19 12:05] next-jesusmanuelnavarro commented on #41313
Well, kindof...

At the very least, the _when_ clause gets to be honored this way, and this is **good**, a working workaround!!!

But then (and only then), when the _when_ clause gets triggered and the file included, you still get the _"[WARNING]: flush_handlers task does not support when conditional"_.

Tested on ansible 2.8.5.

[2019-09-19 12:34] s-hertel commented on #62562
It looks like this started happening with the UnsafeProxy removal in 164881d871964aa64e0f911d03ae270acbad253c. cc @mkrizek

[2019-09-19 12:43] Akasurde commented on #62564
!component =lib/ansible/modules/cloud/azure/azure_rm_virtualmachinescalesetinstance_info.py

[2019-09-19 12:54] mkrizek commented on #62562
I am focused somewhere else currently but from a quick glance we seem to be missing a representer for `AnsibleUnsafeBytes`, similar to what we have for `AnsibleUnsafeText` in https://github.com/ansible/ansible/blob/95525030e2d2bcf2bb1a145700ecdf80f6a7567b/lib/ansible/parsing/yaml/dumper.py#L57

[2019-09-19 12:55] flmmartins opened #62592 "Running file directory in mountpoint fail second time"
Hello!

##### SUMMARY
File module is trying to change mounted file system on every run and failing due to permissions

##### ISSUE TYPE
When I ran this for the first everything runs correctly. Directory is created. Mount is mounted BUT when I ran a second time it always try to run the task named "Create backup filesystem".

When it runs it tries to change an already mounted folder and it gives me

[2019-09-19 12:58] AdamWyzgol opened #62594 "win_security_policy unable to set LockoutDuration"
##### SUMMARY

Unable to set LockoutDuration using win_security_policy module
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_security_policy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windwos Server 2019 Core

##### STEPS TO REPRODUCE

try to apply role with below task

[code]

##### EXPECTED RESULTS

Security policy should be changed

##### ACTU

[2019-09-19 13:10] mikewiebe commented on #56181
@bjordanov4 , @leitian123 , @wgfreewill.  I have rewritten this module as a plugin and enhanced the stability when initiating copies from the nxos device using `file_pull: True`.  The code is now merged into `devel` and will be available in the Ansible `2.9` release.  The `provider` option is now deprecated for nxos modules so the `nxos_file_copy` module is only supported using `network_cli`.  Can

[2019-09-19 13:24] Qalthos commented on #62220
This is not a bug. This is how the persistent network connections work. The connection actually starts unconditionally before the task is even executed.

Happily, one feature of the upcoming Ansible 2.9 is that this is no longer the case. As of 2.9, persistent connections are not started until they are asked for. This is a rather radical change in how persistent connections are established, and as

[2019-09-19 13:24] #62220 closed, assigned to nobody

[2019-09-19 13:32] #12480 closed, assigned to nobody

[2019-09-19 13:55] danielmellado commented on #62299
Could you try reproducing this while quoting your values?

[2019-09-19 14:02] mikewiebe commented on #61939
@jean-christophe-manciot I personally have not used the `net_get` or `net_put` modules so have not commented on those but for nxos I like the idea of either adding this feature to `nxos_file_copy` or working to make `net_get` more reliable.  My concern is that `nxos_file_copy` is a bit overloaded at this point since it supports copying files to the nxos device from the Ansible controller or initia

[2019-09-19 14:07] dubblies opened #62599 "win_domain_computer has no ability to check state"
##### SUMMARY
win_domain_computer has no ability to check object state. There should be a state: check or something else to register if the object exists. Currently, you are forced to make an object or delete it. Excluding state defaults to present.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_domain_computer

##### ADDITIONAL INFORMATION
It would be very useful to register if a doma

[2019-09-19 14:09] dubblies commented on #62599
win_domain_user has state: query for instance

[2019-09-19 14:20] kkoralsky opened #62600 "hostvars lookup"
##### SUMMARY

template lookup does not see currently processed hostvars

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

template lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- Debian 10,
- ansible 2.9, 2.10.dev,
- Python 2.7 &  3.7

##### STEPS TO REPRODUCE

https://github.com/kkoralsky/ansible-lookup-hostvars-bug

playbook:
[code]
inventory:
[

[2019-09-19 14:22] agowa opened #62601 "win_service does not support virtual account"
##### SUMMARY
Installing a service with the [virtual account](https://docs.microsoft.com/en-us/windows/security/identity-protection/access-control/service-accounts#virtual-accounts) configured for execution of the service does not work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ArchLinux

#####

[2019-09-19 14:27] EarlRamirez commented on #62299
@danielmellado making the value a string resolved the issue, thank you very much, here is the result.

[code]
Will use this opportunity to contribute and update the document.

Thanks again, @danielmellado

[2019-09-19 14:40] eightlimbed commented on #46379
I was battling with this for a couple days, and I'm still not exactly sure what was causing the IndexError, but I narrowed it down to a task in my playbook that looked like this:
[code]

I thought, maybe its the `|| true` messing with the yaml `|` character used for a multiline script, but that wasn't it.

My solution was to take this script and put it in `roles/foo/files/foo.sh` and replace the `

[2019-09-19 15:13] tmegow commented on #17324
[code]

Using @prathameshd9's suggestion I used combine to achieve this.

[2019-09-19 15:25] jameskeithp opened #62604 "Ansible - pip not found"
##### SUMMARY

I am trying to install virtualenv tool to create isolated Python environments, but it is unable to find the pip executable through Ansible. I have run pip install virtuaenvmanually on SLES 15-SP1 and it works successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS running from Red

[2019-09-19 15:32] goneri commented on #62560
Great, thanks.

[2019-09-19 15:32] #62560 closed, assigned to nobody

[2019-09-19 16:31] goneri opened #62606 "hcloud_network_info/stable-2.9: tests fail"
##### SUMMARY

Hi!

The functional tests of `hcloud_network_info` are broken with the stable-2.9 branch:

[code]
See:
- https://app.shippable.com/github/ansible/ansible/runs/144034/146/tests
- https://app.shippable.com/github/ansible/ansible/runs/143857/145/tests
- https://app.shippable.com/github/ansible/ansible/runs/143848/146/tests
- https://app.shippable.com/github/ansible/ansible/runs/143814/

[2019-09-19 16:39] samdoran commented on #62510
The other issue here is that the file may exist at `/etc/security/passwd` but the user account running Ansible is unable to read it. That is also fixed in #62547.

[2019-09-19 16:41] mariolenz commented on #58824
@nemethloci If this is a problem for you, you might be interested in PR #62537.

[2019-09-19 17:31] jillr commented on #62408
Hi @pgbidkar, If anything was changed during a single task, changed status should be True because something was changed.  If we report `changed=False` to the user they should be able to expect the VM is totally unmodified - cpu, version, anything.  If the user is requesting multiple params in a single task and only some of them changed, we still say `changed=True` and then we could report more det

[2019-09-19 18:15] jghal opened #62613 "win_get_url fails with empty string proxy parameters"
##### SUMMARY
We have to support public and private environments where we may or may not have a proxy, so we configure tasks with proxy conditional on a `use_proxy` variable in our roles. After upgrading to 2.8 the `win_get_url` module fails if the proxy username and password paramters have an empty string value. Same code worked in 2.7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_get_

[2019-09-19 18:27] #62562 closed, assigned to nobody

[2019-09-19 18:32] mfish82 opened #62615 "Support IPv6 with Cisco PING (nxos_ping and ios_ping modules)"
##### SUMMARY

Currently, nxos_ping and ios_ping do not support IPv6.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

nxos_ping
ios_ping

##### ADDITIONAL INFORMATION

Current process for pinging IPv6 is utilizing cli_command and sending the command to the device. Then register that output and run an assertion looking for the proper results.  Having the existing module support it would mak

[2019-09-19 18:43] pffs commented on #52926
I just verified it is working, although under the 2.9.0b1 release I get what looks like some errant debugging messages:

[code]

This is with default verbosity. I tested both with an active and an expired persistent connection, and via a bastion, all worked without any issues aside from the debug output

[2019-09-19 19:10] abhilasha9411 commented on #58821
Is this issue still open? If yes, I would like to look into it and solve the bug.

[2019-09-19 19:20] pabelanger commented on #61766
I don't want to close yet, but also haven't seen the failure again

[2019-09-19 19:21] pabelanger commented on #61601
Lets keep it open for a while longer, I agree ios_file failures have been reduced.

[2019-09-19 19:21] #60419 closed, assigned to nobody

[2019-09-19 19:21] samdoran commented on #62354
This was not documented since using this feature breaks role detection (and probably other things). The feature needs more polish before more attention in drawn to it in documentation.

[2019-09-19 19:25] #56324 closed, assigned to nobody

[2019-09-19 19:28] codyja opened #62620 "win_nssm Is setting some defaults that should have an option to overwrite"
##### SUMMARY

The win_nssm module has a few defaults set now that I think should allow for customization. For example I'd like to be able to set the following:
`AppRotateBytes 1000000`
`AppRotateOnline 1`
`AppStopMethodConsole 15000`
`AppStopMethodSkip 6`.

I had been setting them via win_shell command, but now the module and shell commands are battling one another.

https://github.com/ansible/an

[2019-09-19 19:30] samdoran commented on #62428
Please reach out on IRC or the mailing list for help with this issue:

   * IRC: #ansible-windows on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-09-19 19:30] #62428 closed, assigned to nobody

[2019-09-19 19:36] samdoran commented on #62576
Is specifying `groups: wheel` on the task sufficient?

[2019-09-19 19:40] jborean93 commented on #61930
Running those exact commands inside the Fedora container is successful for me

[code]

The only way I can replicate this failure is if I create a the `slurp.ps1` file in `library/slurp.ps1` and run my command with `ANSIBLE_LIBRARY=./library ansible localhost -m slurp -vvv`. But this is a known issue today for `slurp` and `setup` and not related to the collection loader.

[2019-09-19 19:42] bcoca commented on #62585
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works as designed, one of the features of roles is to publish variables into the play. There are 2 ways to avoid this, use import_roles/include_roles and their options or you c

[2019-09-19 19:42] #62585 closed, assigned to nobody

[2019-09-19 19:44] s-hertel commented on #62535
!component =lib/ansible/modules/cloud/google/gcp_compute_machine_types_info.py

[2019-09-19 19:45] jborean93 commented on #62599
The fact that `win_domain_user` has a `state: query` option is not the way we want to move forward. To implement this feature we want to create a generic `win_domain_object_info` module that would work for all AD objects and return the attributes and whether it exists.

[2019-09-19 19:45] felixfontein commented on #62484
Thanks for reporting this! This is indeed a Python 3 only problem: `b'a' in 'abc'` fails under Python 3 with the message you wrote, and evaluates to `True` under Python 2.

[2019-09-19 19:46] samdoran commented on #62592
There could be a number of things going on here. This may be an SELinux issue, an issue with the permissions on the mount, or an issue with the mount options. Can you provide SELinux status, detailed mount information, and permissions on the mount before and after mounting.

needs_info

[2019-09-19 19:51] felixfontein commented on #62484
resolved_by_pr #62621

In the PR, I removed the `b` prefix for the strings in lines 227 and 229. That should fix the problem. From your description, I assume this is what you also tried.

[2019-09-19 19:52] samdoran commented on #62604
You will most likely need to add the full path to `pip-3.6`.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-09-19 19:52] #62604 closed, assigned to nobody

[2019-09-19 21:19] #61938 closed, assigned to samdoran

[2019-09-19 23:57] BarbzYHOOL commented on #24139
`tail -f /var/log/pveproxy/access.log ` this can help you guys

For me, it was because my storage point wasn't created. Of course, ansible doesn't give you any information as to why it failed :(

Also another guy had issue with storage too, https://github.com/ansible/ansible/issues/25113#issuecomment-325876981

[2019-09-20 00:25] EarlRamirez opened #62631 "IOS VRF option to chose ipv4, ipv6 or both"
##### SUMMARY

##### ISSUE TYPE
- Feature Idea
When using ios_vrf module, both ipv4 and ipv6 address-family are created. It would nice to have the option to use either address-family or both similar to the import/export option.
##### COMPONENT NAME

ios_vrf
##### ADDITIONAL INFORMATION

This brings consistency when created VRF, currently when a VRF is created both families are used; however, if on

[2019-09-20 01:47] arvindshmicrosoft commented on #51062
@Fred-sun was your last question for directed to me? For the VMSS case as you know we opened #61804 and my colleague @sputnik13 has implemented the fix in #62357.

[2019-09-20 02:00] Fred-sun commented on #51062
@arvindshmicrosoft  No, I want the community maintenance staff to pay attention to this problem! Thank you very much!

[2019-09-20 02:58] Fred-sun commented on #62499
@wschoot Thanks you for your reporting. The kind attribute values should support ['Storage'\'StorageV2'\'BlobStorage'\'FileStorage'\'BlockBlobStorage'](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/models/_models_py3.py). but only three option is supported. The other two('FileStorage' and 'BlockBlobStorage') will be added in

[2019-09-20 03:30] jborean93 commented on #62521
Fixed with https://github.com/ansible/ansible/pull/62626

[2019-09-20 03:30] #62521 closed, assigned to nobody

[2019-09-20 03:31] jborean93 commented on #61434
Fixed with https://github.com/ansible/ansible/pull/62626

[2019-09-20 03:31] #61434 closed, assigned to nobody

[2019-09-20 03:40] jborean93 commented on #62421
The issue you have here is that the `win_updates` module forces become when it is running due to a limitation with the Windows Update API not working under a network logon like WinRM. The trouble for this in your case is that Server 2008 (non R2) is not able to use become at all unless you are using `basic` or `credssp` authentication. This is purely a limitation with this version of Windows and i

[2019-09-20 03:40] #62421 closed, assigned to nobody

[2019-09-20 03:51] Akasurde commented on #61645
@Udayendu PR #62513 is merged. You can upgrade to 2.8.6 or latest 2.9 to get this working in your environment. Thanks.

[2019-09-20 03:51] #61645 closed, assigned to Akasurde

[2019-09-20 04:16] #62564 closed, assigned to nobody

[2019-09-20 04:25] darkedges opened #62633 "[linux][2.8] include_vars fails when used as standalone command with dir"
##### SUMMARY
when the following command is run
`ansible -i /tmp/inventory -m include_vars --args "dir=../defaults name=role_defaults"  --playbook-dir=../ansible-role-forgerock-ds frds`
it errors with

[code]

if i edit `/usr/lib/python2.7/site-packages/ansible/plugins/action/include_vars.py` and comment out line `100`

[code]

and rerun it returns the values contained within that directory.

I am

[2019-09-20 04:31] marzdgzmn commented on #18973
Hasn't been implemented yet?

[2019-09-20 04:38] jborean93 commented on #62411
I've opened a PR to add this error message to Ansible but I'm still not 100% sure we actually want it in there. I can't think of a good reason why we don't want this except for the fact it would immediately break on people still using v3 when we do decide to raise the minimum version in the future. Potentially we do want that behaviour but this just forces the minimum version to be a hard increase

[2019-09-20 05:40] Fred-sun commented on #62489
@nicolaibaralmueller Thank you for your report! We will investigate and fix this problem!

[2019-09-20 06:00] Fred-sun commented on #62489
@nicolaibaralmueller I tried your YML. If protocol was http, I would not fail and successfully created the virtual machine.  https will encounter such errors, which should be the direct difference between http and https. Support certificate is required for https. Please try.  Thank you very much!

[2019-09-20 06:40] luupux opened #62637 "hashi_vault doc ansible.com not show all examples wrote in the hashi_vault.py"
##### SUMMARY
hashi_vault.py:    example part  in the code is not  entirely displayed on ansible doc site

##### ISSUE TYPE
this code in "ansible/lib/ansible/plugins/lookup/hashi_vault.py"
[code]
seems well formated  but it's not displayed on
https://docs.ansible.com/ansible/latest/plugins/lookup/hashi_vault.html

##### COMPONENT NAME
ansible/lib/ansible/plugins/lookup/hashi_vault.py

[code]

[2019-09-20 07:03] pgbidkar commented on #54956
Hi @Akasurde , I will work on this?

Thanks

[2019-09-20 07:14] arvindshmicrosoft opened #62639 "azure_rm_virtualmachinescalesetinstance_info is very slow for VMSS with large number (100s) of instances"
##### SUMMARY

The performance of azure_rm_virtualmachinescalesetinstance_facts is very poor for VMSS with large number (100+) of instances

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachinescalesetinstance_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18

[2019-09-20 07:17] luupux commented on #62637
I saw this issue in the  <= 2.8 so in the code all things seems correct in the website
all version doesn't have this information.
I hope it's clear enough.

[2019-09-20 07:29] Fred-sun commented on #58285
kindly ping

[2019-09-20 07:36] Fred-sun commented on #58585
kindly ping

[2019-09-20 07:47] jborean93 commented on #62613
This isn't actually a problem with with `win_get_url` but actually an issue with the `Ansible.Basic` C# util we use in some PowerShell modules right now. Setting an empty string to any module option that has `no_log=True` set will produce this error. I've got a WIP PR in plcae but I may not have it ready until next week.

On a side not, I've had a look at the code for `win_get_url` and it should s

[2019-09-20 07:47] lukowiczm commented on #62411
@jborean93 - i understand your point.

Is there any other way to handle fatal? (ignore error does not help in my case):

fatal: [<w2k3 host]: FAILED! => {"changed": false, "module_stderr": "﻿#< CLIXML\r\n<Objs Version=\"1.1.0.1\" xmlns=\"http://schemas.microsoft.com/powershell/2004/04\"><S S=\"Error\">invalid payload_x000D__x000A_</S><S S=\"Error\">At line:4 char:44_x000D__x000A_</S><S S=\"Error\"

[2019-09-20 07:59] Fred-sun commented on #59496
@MyronFanQiu Please help take a look this issue when you're free! Thanks a lot!

[2019-09-20 08:10] jborean93 commented on #62594
According to the MS docs for [Account lockout duration](Error configuring account lockout information) it states

and

This means it will fail unless you:

1. Set the Account lockout threshold through the `LockoutBadCount` to a value greater than `0`, and
2. Ensure the value you are setting for `LockoutDuration` is greater than or equal to `ResetLockoutCount`.

The logging for secedit is quite poo

[2019-09-20 08:10] #62594 closed, assigned to nobody

[2019-09-20 08:11] jborean93 commented on #62411
`ignore_errors` should work but honestly I haven't really tried it. Your best bet is to really use `raw` as you can get a value you expect and run whatever you need for a check.

[2019-09-20 08:13] JaviBC98 commented on #62428
The solution was to reinstall ansible and adjust the inventory:

From :
`[win] 173.25.1.146 ansible_connection=winrm ansible_winrm_transport=basic ansible_port=5986 ansible_winrm_server_cert_validation=ignore ansible_python_interpreter=C:\Users\jballesterosc\AppData\Local\Programs\Python\Python37-32`
To:
`[win]
ansible_ssh_host=173.25.1.146
[win:vars]
ansible_user=XXXXXX
ansible_password=XXX
ansib

[2019-09-20 08:17] richlv opened #62641 "event_source required for "absent" zabbix actions"
##### SUMMARY
When specifying only action name and state "absent", that fails with "missing required arguments: event_source".
Zabbix action names are unique across types (event sources), thus the event source parameter in this case is not mandated by the Zabbix API.
It would be great to either lift this limitation, or add an example in the documentation explaining why it's there.

##### ISSUE TYP

[2019-09-20 08:22] tremble commented on #43193
@johnmaloneboxever Sorry it's taken so long to get back to you.

I believe Ansible 2.7 should resolve the issue for you

[2019-09-20 08:23] AdamWyzgol commented on #62594
Maybe it can help if someone have the same problem, in my case error was caused by implementing CIS in wrong order, to make it works you should firstly implement LockoutBadCount then ResetLockoutCount and LockoutDuration should be last step. My job failed because I try to setup LockoutDuration to 15 before setting ResetLockoutCount, when system default value is 30 for both policies.

[2019-09-20 08:23] lukowiczm commented on #62411
In this case even using raw does not help - it seems that when there is winrm connection problem module just fails - also tried with block and failed_when - no joy.

[2019-09-20 08:23] Fred-sun commented on #61541
kindly ping

[2019-09-20 08:24] tremble commented on #43193
resolverd_by_pr: 43270

[2019-09-20 08:45] xenlo commented on #62354
Oh! Good to know.

So, what I propose is to add here a comment that references the Issues/PRs covering the needed polish, and then close this issue.

What I found still open on that topic is:
- Loading Vars from Dirs Breaks when an empty YAML Files is Present #45843

But I may miss a few.

[2019-09-20 08:54] jborean93 commented on #62411
If there is no connection at all and you want to handle connection failures then you need to use [ignore_unreachable](https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html#play) on your task or play. The `ignore_errors` is only valid for actual errors when the host has connected and run something.

[2019-09-20 09:02] tmichelis opened #62642 "argument_spec: no_log does not hide suboptions"
Verify first that your issue is not already reported on GitHub
This issue affected 2.4 and was closed. Maybe it was reintroduced or it is a new bug. Please refer to this issue: (https://github.com/ansible/ansible/issues/25097)

##### SUMMARY

If `no_log=True` is set for suboptions, the output is still shown in the logs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`module_utils/basic.py`

[2019-09-20 09:03] nemethloci opened #62643 "vmware_dvs_host marks vnics as mandatory"
##### SUMMARY
Setting vnics is mandatory when adding hosts to a dvs. While this is good in most cases, there are some in which you deliberately not willing to assign any physical uplinks to the dvs (ie: when there will be and agent VM handling the uplink traffic)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_dvs_host

##### ANSIBLE VERSION
[code]
Tested with latest module version from

[2019-09-20 09:10] lukowiczm commented on #62411
- name: Start service
      win_service:
        name: "{{ service }}"
        state: started
        ignore_errors: yes
        ignore_unreachable: true
      tags:
        - start_service

Still the same error as above.

[2019-09-20 09:15] jborean93 commented on #62411
The `ignore_errors` and `ignore_unreachable` should be set on the task (aligns with the module name). Currently you have them set as a module option which is why they don't work as you expect.

[2019-09-20 09:28] lukowiczm commented on #62411
HA! - shame on me - it works now - ignore_error was enough.

The good finding about that is after setting that i found ansible was not even gathering facts from host - it was able to connect though so ignore_unreachable did not help.

@jborean93 - thank you very much for help!

[2019-09-20 09:28] #62411 closed, assigned to nobody

[2019-09-20 10:38] tremble commented on #45484
resolved_by_pr: 39292

[2019-09-20 10:48] flmmartins commented on #62592
Hey @samdoran tks for fast response.

SELINUX is not installed

So before the mount it looks like this:
ls -la  /var/ww/backup
rwxr-sr-x 2 dbbackup www-data 4096 Sep 19 15:18 .
rwxr-sr-x 2 dbbackup www-data 4096 Sep 19 15:18 ..

After the mount is:
drwxr-sr-x 3    10000 www-data 4096 May 23  2018 .
drwxr-sr-x 3 dbbackup www-data 4096 Sep 19 15:18 ..
drwxr-sr-x 9 dbbackup www-data 4096 Sep 19 16:21

[2019-09-20 10:50] Colin-b opened #62647 "Azure inventory plugin failed with status code 503"
##### SUMMARY
From time to time the azure_rm inventory plugin fails to retrieve the list of VMs with HTTP error 503.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I am expecting the inventory to contains a list of hosts

##### ACTUAL RESULTS

[2019-09-20 11:07] richlv commented on #50573
This is pretty bad in some situation - for example, when one is adding a condition on a host name. That section now lists both "host" and "host_name" without any way to determine which could be used for which type of action.

I'd suggest to put in the headings. Otherwise we are delivering bad user experience for a very long time.

[2019-09-20 11:19] calmertz commented on #29285
Who is responsible for this module? Have they been informed about this issue?

[2019-09-20 12:35] ralftrezeciak commented on #60276
The bug is in function build_filter.

The space character in the two join commands
join('eq({0}.{1}, "{2}" ...
---------------^-------
after the comma and before "{2}" must be removed.

[2019-09-20 12:42] romaincabassot commented on #56629
Any news on this?

[2019-09-20 12:56] rosaLux161 opened #62659 "Failed to connect to the host via ssh: Permission denied (publickey,password)."
Hello,

I'm not sure if it's a bug or if I'm too stupid. I've been through everything, nowhere can I find a solution to my problem.

Each time I get a message that the SSH connection is not working. The SSH key was created and copied to the server. A passwordless login via the shell also works. Also the remote_user in the inventory was set to root. Python is installed on the server. Now I don't kn

[2019-09-20 13:01] brian-maloney opened #62660 "Lookups in dynamic inventory composed variables"
##### SUMMARY
Enable lookups in dynamic inventory script composed variables.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`lib/ansible/cli/inventory.py`

##### ADDITIONAL INFORMATION

I would like to vary my composed variable output based on an environment variable.  My specific use case is that I'd like to override ansible_host to use internal IP addresses when running from AWX inside

[2019-09-20 13:25] mmazur opened #62661 "kubevirt* modules: patch vs apply behavior as default"
**tl;dr: last 4 paragraphs**

For a non–existing k8s object, both old and new behavior will just create a new object to the specification provided in the arguments (plus any built–in module defaults).

With an existing k8s object is where things get interesting. As I understand the old behavior, if an object already existed in the cluster, then k8s modules would only modify (patch) the parts of th

[2019-09-20 13:28] mmazur commented on #62661
!component k8s

[2019-09-20 13:45] willthames commented on #62661
@mmazur I think we forgot about the other consumers of k8s/raw.py to be honest!

I'm happy to make apply opt in for quite some time. If we do make it the default we should just do it for k8s module only (I also think there is too much logic in the k8s/raw module_util that should be in the modules)

[2019-09-20 13:52] rujschafer opened #62664 "enos terminal commands update for v10"
##### SUMMARY
terminal connection for enos device is not setup properly for v10 of the software on Lenovo hardware.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/plugins/terminal/enos.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7 for ansible host
Lenovo information:
Lenovo Networking Operating System (NOS) Software
Technical Assista

[2019-09-20 13:55] rlko opened #62665 "Handler loses ansible_local variable when using local facts"
##### SUMMARY
I saw since ansible 2.8.0, if you use local facts (facts.d) variables in a handler task. You will lose the ansible_local variable resulting in a `ERROR! 'ansible_local' is undefined` in the task you add a `notify:`.

Otherwise you don't have this issue in an ansible version <2.8

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
local facts
handlers

##### ANSIBLE VERSION

[code]
#

[2019-09-20 14:09] jghal commented on #62613
Thanks @jborean93.

[2019-09-20 14:34] rujschafer commented on #62664
Add: enos v8 looks for "terminal-length 0" while enos v10 looks for "terminal length 0"

[2019-09-20 15:03] 11gingerbread commented on #61726
This update seems to have fixed the issue. Thank you for your support.

[2019-09-20 15:09] sky-joker commented on #62487
Hi, @richlv

In the Zabbix API document, the `esc_period(Default operation step duration)` parameter is described as mandatory.
https://www.zabbix.com/documentation/3.0/manual/api/reference/action/object

Thus, it seems that it has been changed to mandatory even in zabbix_action module.
See the following change comments.

https://github.com/ansible/ansible/pull/58379/files#r301204119
https://githu

[2019-09-20 15:17] goneri commented on #38763
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us. It sounds like the behaviour you describe is what is actually expected.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-projec

[2019-09-20 15:24] s-hertel commented on #38767
It looks like this has been resolved by 1a9b1d0edd302c0414ad6a40e0d40594a809dd4b in Ansible 2.9.

[2019-09-20 15:24] #38767 closed, assigned to nobody

[2019-09-20 15:27] goneri commented on #24473
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * a role should indeed be inventory agnostic
   * there is already several ways that allows you to achieve what you want

Thank

[2019-09-20 15:28] #24473 closed, assigned to nobody

[2019-09-20 15:42] goneri commented on #39068
Closing per above.

[2019-09-20 15:42] #39068 closed, assigned to nobody

[2019-09-20 15:46] goneri commented on #39508
Closing per above.

[2019-09-20 15:46] #39508 closed, assigned to nobody

[2019-09-20 15:51] goneri commented on #39527
Hi @masaki-furuta, could you please retry with Ansible 2.9 or devel?

needs_info

[2019-09-20 15:53] samdoran commented on #38993
!compenent =contrib/inventory/consul_io.py

[2019-09-20 15:57] s-hertel commented on #38993
This is also something you can already achieve with the ``constructed`` inventory plugin. See https://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html.

[2019-09-20 17:01] samdoran commented on #39527
I have verified this is still the case in the latest version of Ansible has been for quite some time. Because we count failed and unreachable hosts the same in this instance and we break out of a play if the failed count is equal to the batch count.

https://github.com/ansible/ansible/blob/85eba9d86084f083b70a808e2c5a4fc28427ab17/lib/ansible/executor/playbook_executor.py#L180-L185

I am unclear if

[2019-09-20 17:32] das7pad commented on #60349
@maxamillion Could you give the playbook a spin yet?

[2019-09-20 18:12] viananth opened #62672 "Azure ansible modules do not support latest azure stack API profiles"
##### SUMMARY

Azure Stack has gone on to support 2019-03-01-hybrid, 2018-03-01-hybrid profiles. But Azure modules for Ansible only supports 2017-03-09-profile with a limited set of resource clients.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

API Profiles

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2019-09-20 18:16] Constantin07 opened #62673 "make rpm - produces ansible_test inside the package"
##### SUMMARY
`make rpm` produces an rpm package which only has `ansible_tests` python package inside
and thus cannot be installed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible binaries

##### ANSIBLE VERSION
latest checkout from development branch

##### CONFIGURATION
Nothing special.

##### OS / ENVIRONMENT
latest CentOS

##### STEPS TO REPRODUCE
[code]

then list the contents of

[2019-09-20 18:37] andredsl opened #62674 "How to creat a list of item."
Hello guys,

well i have this output and i want make a list of both files called example1.war and example2.war and using this list i want make a command. How can i search in stdout_lines only the both files?

so my list should be [example1.war, example2.war].

[code]

[2019-09-20 18:51] AmillerSC opened #62676 "Cisco IOS SSH Connection Fails - Only When Using Private Key"
##### SUMMARY
Using Ansible with a username and password works fine. Using with SSH keys works as well EXCEPT for all 3560s/3750s in the environment. They key is valid as a manual SSH connection from the terminal on the same server works without issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ru

[2019-09-20 18:55] s-hertel commented on #39055
I'm unable to reproduce this behavior on >= 2.4.
[code]

[code]

[code]

If you're still experiencing a problem with this please open a new issue with a reproducer that works on a current version of Ansible.

[2019-09-20 18:55] #39055 closed, assigned to s-hertel

[2019-09-20 19:11] samdoran commented on #62343
I am unable to reproduce this problem. I see the connection attempts while the system reboots, then the task complete successfully.

[code]

Can you please run `env ANSIBLE_DEBUG=1 ansible-playbook [playbook].yml -vvv | grep -E 'reboot: |WINRM'`

Could you do a packet capture on the Ansible node to see if the packets are leaving the Ansible control node? If the Windows machine does indeed boot, co

[2019-09-20 19:18] tremble opened #62677 "ec2_vpc_net: Modifying dns_hostnames or dns_support in check mode results in failure"
##### SUMMARY

If you try to modify dns_hostnames or dns_support in check mode if fails with
[code]

Found as part of additional tests in #62649

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/amazon/ec2_vpc_net.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A (ansible-test docker-container)

##### OS / ENVIRONMENT
N/A (ansible-test docker-container)

####

[2019-09-20 20:01] tremble opened #62678 "ec2_vpc_net: Doesn't honour check_mode when updating CIDR"
##### SUMMARY

Updating a VPC to add additional CIDRs while using check_mode still results in the CIDRs being updated.

Found while working on #62649

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/ec2_vpc_net.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A (ansible-test docker-container)

##### OS / ENVIRONMENT

N/A (ansible-test docker-container)

[2019-09-20 20:03] #61964 closed, assigned to samdoran

[2019-09-20 20:34] brennus390 commented on #22298
Looks like this issues is well over two years old, has anyone gotten around to fixing it?
Thank you,

[2019-09-20 21:35] chiquiff commented on #38786
I'm struggling with this problem aswell. Is this even possible? Does anyone has a working solution? Thanks!

[2019-09-20 21:59] samdoran commented on #58868
I thought long and hard about this as well as evaluated some other solutions. In the end, your suggestion of adding a new parameter was the simplest and most reliable solution.

Please test with #62680 and let me know if that solves you problem.

[2019-09-20 22:01] mohclips commented on #38763
I think if the documentation can be updated to state there is only global scope across all roles that would be good.

[2019-09-20 22:09] felixfontein commented on #62415
Ok. That's somewhat strange, though, since if the files are there (as you claim), it shouldn't result in that error.

Which one? #ansible?

That's only true for the docker inventory scripts/plugins. All modules run whereever you specify they should run, i.e. usually on the remote machine. (Except when action plugins come into play, like for `copy`, but that's not the case for `docker_*` modules.)

[2019-09-21 02:41] huzhijiang commented on #18305
It seems I have the same problem (version 2.4.2). I use jinja2 template module to copy a config file to 280 target hosts . For performance optimization， I change fork from 5  to 300. All subprocesses except one or two can finish successfully . Those subprocesses which can not finish are just stuck there without doing anything to the target hosts. And they cause the parent process dead loop and con

[2019-09-21 07:57] richlv commented on #62487
That seems reasonable, but none of the examples in https://docs.ansible.com/ansible/latest/modules/zabbix_action_module.html pass "esc_period" - perhaps that should be added to all of them?

If that is correct, I can try to cook up a pull request.

[2019-09-21 08:34] sky-joker commented on #62487
Thank you for checking the documentation!
I also noticed it.
Therefore, I have already created a PR to add `esc_period` to EXAMPLE:. https://github.com/ansible/ansible/pull/62667

[2019-09-21 09:08] mvorisek commented on #58868
Seems good too me, can you make it for Ansible 2.9 release?

[2019-09-21 11:51] nicholasamorim opened #62702 "docker_swarm_service: Be able to specify src and target for docker secret"
##### SUMMARY

Be able to specify src and target for docker secret in the `docker_swarm_service` module.

Docker 17.06 and higher allow you to specify a custom location for a secret within the container. See example below:

[code]

One can define `source` and `target` and Docker will automatically symlink the secret to the desired target.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

doc

[2019-09-21 12:38] Xachman commented on #56576
I totally ran into this.  I probably accidentally installed ansible on the target host.  Removing it fixed the problem.  What I found is that it was kinda intermittent.  Sometimes it would throw up the error `Failed to import docker or docker-py - cannot import name __version__` sometimes not.

[2019-09-21 13:13] #62484 closed, assigned to nobody

[2019-09-21 13:24] nicholasamorim commented on #62702
The problem here is actually the mismatch in nomenclature.

The `filename` arg is the same as the `target` but that's not clear.

[2019-09-21 17:44] Tomelin opened #62711 "azure_rm_virtualmachine: Problem with create VM and image in gallery in other subscription"
Hi dear,

I created VM with a custom image and put on the image path, but this module did not find image.

Can how create VM with custom image and subscription and resource group different?

[2019-09-21 17:46] Tomelin commented on #62711
The module used is azure_rm_virtualmachine

[2019-09-22 02:21] skylerbunny opened #62714 "Enable implementation of ipsla monitors in new nx-os module"
##### SUMMARY
Suggest implemention of ip sla objects as a new module. Several series of Nexus switches, (I believe with the notable exception of the 5000 series), have the ability to have configured IP Service Level Agreements (SLAs) (ip sla) objects. See https://www.cisco.com/c/en/us/td/docs/switches/datacenter/nexus9000/sw/7-x/ip_sla/configuration/guide/b_Cisco_Nexus_9000_Series_NX-OS_IP_SLAs_Co

[2019-09-22 02:54] dvntstph opened #62715 "azure_rm_appgateway backend_address_pools doesn't support multiple targets or changes to existing targets"
##### SUMMARY

Azure Application Gateways support multiple backend pools with multiple targets in the pool.
When trying to manage application gateways using Ansible, adding a second target to an existing pool is ignored, resulting in no changes.
Also trying to add an additional backend pool with a different name is completely ignored resulting in no change or results in syntax error, depending on

[2019-09-22 04:36] mattclay opened #62716 "ansible-test incorrect Python version handling when installed"
##### SUMMARY

When running `ansible-test` from an install without delegation options (such as `--docker` or `--venv`) the `PYTHONPATH` environment variable may be set incorrectly.

This is most likely to occur when `ansible-test` is installed on Python 2.7 and then `ansible-test sanity` is executed, since the sanity tests require Python 3.5+. However, there are other combinations that will trigge

[2019-09-22 06:34] kongslund opened #62717 "openssl_privatekey: support vault-encrypted private key file"
##### SUMMARY

Given a private key file encrypted with Ansible Vault, `openssl_privatekey` will currently always overwrite the file with a new key. Instead it should first decrypt the file and then decide if it is necessary to generate a new key.

This proposed behavior is similar to behavior of the copy, template, unarchive, script, and assemble modules, that all detect and decrypt vault-encrypte

[2019-09-22 12:23] kongslund opened #62720 "hashivault_write: output is unintentionally masked"
##### SUMMARY

When requesting a certificate by writing a secret to Vault's PKI secrets engine, a result is returned containing the requested certificate, private key etc.

If the result returned has a substring matching whatever was provided in `hashivault_write`'s `data` option then that substring is replaced by [`********`](https://docs.ansible.com/ansible/latest/network/user_guide/faq.html#why

[2019-09-22 14:51] jblackburn22 opened #62722 "Can't install yum package on Amazon Linux 2 when ansible is installed using python 3"
##### SUMMARY
Can't install packages when Ansible is installing using Python3 on Amazon Linux 2

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

modules/packaging/os/yum.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
Note that dnf is not available natively on Amazon Linux 2.
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
I expecte

[2019-09-22 17:04] samdoran commented on #58868
Since this is adding a new feature and 2.9 is already well past feature freeze, this will be in 2.10. I was trying to find a way to handle this internally and thus be able to add it to 2.9 as a bugfix, but I did not come up with a reliable way to fix it without tons of complexity.

[2019-09-22 17:08] mattclay opened #62723 "Import sanity test not checking module main function"
##### SUMMARY

When checking Ansible modules, the import sanity test should check modules twice, once with `__name__` set to `'__main__'` and once without, so that modules can be checked up to the point that `AnsibleModule` is instantiated.

This works correctly for Ansible 2.8 and earlier, but in Ansible 2.9 the checking with `__name__` set to  `'__main__'` no longer occurs.

##### ISSUE TYPE

Bu

[2019-09-22 18:00] mvorisek commented on #58868
I understand, but this switch is a bugfix for me. Nothing new, only a possibility for the user to specify own reboot detection command for the edge cases not covered by the module itself (like this bug report with OpenVZ).

[2019-09-22 18:30] thomaszooman opened #62724 "AWS Lambda layers support"
##### SUMMARY

AWS Lambda now supports layers, it can reduce the code size and time spend dramatically. To support Lambda layers, it should be a new module to manage Lambda layers, update ```lambda``` module to support Lambda layers.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

```lambda```

##### ADDITIONAL INFORMATION

example of the new module
[code]

```lambda``` module
[code]

[2019-09-22 20:22] cbiedl commented on #14674
@UnitedMarsupials Many thanks for your patch, it was very helpful for me.

[2019-09-23 02:59] Fred-sun commented on #59134
@yungezz Please help to confirm that the parameter design of zones should be 'str' instead of 'list'! Thank you very much!

[2019-09-23 05:34] Fred-sun commented on #53299
@wawrzek Are you still pay attention on this issue?  In Ansible azure_rm_networkinterface module, primary is default set to False if you set one IP configuration. If you want to set more than one ip_configuration and the primary and secondary, you can do the following.
We'll keep track of the bugs you reported, but you can use this method workaround for now.
[code]

[2019-09-23 06:22] #62720 closed, assigned to nobody

[2019-09-23 06:54] vsvarrier opened #62728 "tmpfs src is a required string"
##### SUMMARY

In docker_swarm_service module in ansible, if we are specifying mount option as tmpfs, it is required to set src. But for docker service create, src is not supported for tmpfs.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_swarm_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2019-09-23 07:14] stefanhartmann123 opened #62730 "win_reboot over SSH hangs indefinitely"
##### SUMMARY
The module "win_reboot" often hangs and therefore causes the playbook to hang indefinitely.
Observed the issue over SSH on Windows Server 2016. The target machine seems to reboot but then "win_reboot: attempting to get system boot time" does not continue ...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_reboot + SSH

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

[2019-09-23 07:16] king-cz opened #62731 "cannot import name 'context"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-09-23 07:39] lonix1 commented on #31924
+1

This is important when provisioning a server - you want to set up everything, and pull all images (*but not run them*).

That way you can log in and everything is ready to go.

[2019-09-23 08:11] wawrzek commented on #53299
Thanks for the update.

[2019-09-23 09:12] evgeni opened #62733 "allow to specify python dependencies in collections"
##### SUMMARY
Currently, Ansible Collections can only define dependencies on other collections (by using the `dependencies` keyword in `galaxy.yml`), which I think is the right thing to do at the `ansible-galaxy collection install` step.

However it would be useful to be able to define/document dependencies on Python libraries (like you can in the `requirements` keyword of an Ansible module).

The

[2019-09-23 09:19] nicolaibaralmueller commented on #62489
That makes sense.

Shouldn't the functionality use the ansible official script:

[https://github.com/ansible/ansible/blob/devel/examples/scripts/ConfigureRemotingForAnsible.ps1](url)

... which enables https and port 5986?

[2019-09-23 09:25] Ag0s commented on #62415
It seems I made configuration change that made me get that error.
The actual error that I got regarding this issue is:
[code]

Yeah, I joined #ansible.

[2019-09-23 09:29] #62466 closed, assigned to nobody

[2019-09-23 09:35] #43379 closed, assigned to nobody

[2019-09-23 09:38] Fred-sun commented on #62489
@nicolaibaralmueller Thanks for your reply, We'll look into that!

[2019-09-23 09:40] Fred-sun commented on #62489
@yungezz @mybayern1974  Could you help to reply the contributor's question? Thank you very much!

[2019-09-23 09:44] #61726 closed, assigned to justjais

[2019-09-23 11:03] atv-github-2 opened #62735 "Variables defined in ansible-vault are visible in the output while passing them as arguments to a script in shell module,how to make them invisible"
### Component name : Ansible
### Issue related : Ansible Vault

### ansible --version
ansible 2.7.12

### _Summary:_

In the play book given below, i defined the variables var1, var2, var3  in a file which is encrypted using ansible vault feature
  tasks :
     - name : execute the script
       shell : "./Test_Q_A.sh {{ var1 }} {{ var2 }} {{ var3 }}"
       args :
          chdir : /home/ansible/

[2019-09-23 11:44] andyfeller opened #62738 "Give control whether loop_control label is private"
##### SUMMARY

Enhance user control whether a given item label should be private.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

lib/ansible/plugins/callback/__init__.py

##### ADDITIONAL INFORMATION

During #12214, item labels were censored respective of `no_log` because there were some cases where the labels were private.  In cases where the list is a collection of vaulted variables, th

[2019-09-23 11:48] Poil opened #62739 "set_fact in a block not taken into account in the task"
##### SUMMARY
Hi,

I use ansible-prometheus role from Galaxy, when I configure it with "latest", "prometheus_version" fact is set to "2.12.0", but in the next task the value is still the original value "latest"

cf.
* https://github.com/cloudalchemy/ansible-prometheus/blob/master/tasks/preflight.yml#L75-L101
* https://github.com/cloudalchemy/ansible-prometheus/issues/230

##### ISSUE TYPE
- Bug Re

[2019-09-23 12:09] TvL2386 opened #62740 "ipaddr('address') not working with ipv6 subnet address"
##### SUMMARY
The following `{{ '2222:2222::0/127'|ipaddr('address') }}` returns an empty string instead of '2222:2222::0'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ipaddr

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ubuntu-18.04
Ran into the issue using ansible-2.7.6 but also in the latest dev as shown above.

##### STEPS TO REPRODUCE
[code]
`ansib

[2019-09-23 12:48] eurydice76 opened #62744 "module os_keypair returns a null dictionary as output"
##### SUMMARY
I would like to use the module `os_keypair` to generate a ssh keypair with openstack through ansible API. When running the playbook below, the keypair is actually generated and displayed in my openstack horizon session **but** I do not get as output any of the documented fields for that module especially `private_key` and `public_key`.

Looking deeper through ansible debugging mechan

[2019-09-23 13:03] MarkusTeufelberger commented on #62717
This is not how ansible-vault works (unfortunately?).

[2019-09-23 13:09] lonix1 opened #62745 "[Feature Request] docker-compose config -q"
A `docker-compose` file (and a corresponding `.env` file), can be validated for correctness like this:

[code]

Please add that capability to the [docker_compose](https://docs.ansible.com/ansible/latest/modules/docker_compose_module.html) module.

Many modules have a `validate` argument, perhaps the same can be done here?

[2019-09-23 13:14] kongslund commented on #62717
Yet that's how it is for the copy, template, unarchive, script, and assemble modules?

[2019-09-23 13:21] MarkusTeufelberger commented on #62717
I strongly doubt that.

Could you give an example of how you would render a template, vault-encrypt the resulting file and then don't get a diff?

[2019-09-23 13:33] felixfontein commented on #62717
I think @kongslund refers to https://docs.ansible.com/ansible/latest/user_guide/vault.html#file-level-encryption, where it says:

That's something very different to what the `openssl_privatekey` module is doing. It does not copy stuff from the controller to the remote, as the above modules do (I think).

[2019-09-23 13:40] MarkusTeufelberger commented on #62717
Yes, that's about having encrypted input, not encrypting results or output. I don't see how this feature could in any reasonable way be supported, but maybe I misunderstood something, so I didn't just immediately want to close the issue here.

As described however, this can't work and likely won't work for a long while unless Ansible gains support for something similar to git smudge filters.

[2019-09-23 13:45] Shaps commented on #58821
@abhilasha9411 yes, looks like the issue is still around, feel free to work on it, if you need any help you can find me/us on `#ansible-aws` or `#ansible-devel` on freenode IRC.

[2019-09-23 13:45] kongslund commented on #62717
Yes @felixfontain, that's what I'm thinking of.

So if I understand it correctly, it only works for the mentioned modules because they perform the logic on the Ansible controller and then transfer the result to the remote host?

[2019-09-23 13:49] MarkusTeufelberger commented on #62717
You could have a vault-encrypted password for the private key for example. You can't really encrypt the resulting file. Similar to these other modules - you can encrypt the things that they use as input (parameters, template files, script files...), but not the resulting output (the templated or assembled files).

[2019-09-23 13:52] oszi opened #62748 "JSON strings are treated as dicts and parsed wrong when embedded in variables"
##### SUMMARY
I have a multi-line JSON string in a variable with the `: |` or `: >` operators. Strangely, it is treated as a dictionary but if I cast it to a string, I get the intended result. However, if this variable is included in another variable then that variable is casted to a string, it behaves as a python dict with single quotes instead of double quotes.

##### ISSUE TYPE
- Bug Report

##

[2019-09-23 14:06] felixfontein commented on #62717
What one could do is add an action plugin which decrypts the vault file, sends the file's content to the module as a module option, let the module send back the result as a module result, and then re-encrypt it and write it back. But I'm not sure whether that makes sense for a specific module like `openssl_privatekey`, since the process of sending the key's content to a remote machine and then ret

[2019-09-23 14:06] kongslund commented on #62717
Got it. Closing this issue.

[2019-09-23 14:06] #62717 closed, assigned to nobody

[2019-09-23 14:13] oszi commented on #62748
This behavior seems intended, there are a few examples of people suffering with JSON string literals and coming up with various hacks. I ended up having to resort to base64.

Nonetheless, I think this behavior should be deprecated as it is very confusing and not well-known.

[2019-09-23 14:24] evgeni commented on #59226
bot_broken

[2019-09-23 14:24] jameskeithp opened #62749 "SLES Set to Permissive Mode"
Happy Monday All,

I'm working on a task to set SELinux to permissive mode for RHEL/Debian and to set Apparmor to permissive mode for SLES15/12/11. I have my code in place for SELinux but I don't know what to do for SLES! This is what I have:
[code]

Component Name:

`apparmor`

Ansible Version:

[code]

Controller Machine OS:

[code]

Pointers will be greatly appreciated!

Can anyone help me out

[2019-09-23 14:41] felixfontein commented on #59253
It would also be nice to have support for JSON Web Keys, and being able to convert between different key formats (i.e. if everything fits but the key format, don't regenerate, but convert).

[2019-09-23 14:42] st33v commented on #55911
Good to see I'm not the only one with this problem. I'd like to use the plugin but I need to be able to add a DNS suffix like I used to be able to using aws_ec2.py like this:

[code]

[2019-09-23 14:50] saf opened #62753 "vars from import_role affect unrelated identical task"
##### SUMMARY
If I have a task which is identical between a role imported via `import_role` and another part of the playbook, the `vars` setting from the `import_role` seems to be applied on the other occurrence.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
?

##### ANSIBLE VERSION

[code]
This occurs with versions starting at Ansible 2.7.0.

##### CONFIGURATION

[code]

##### OS / ENVIRON

[2019-09-23 15:05] sivel commented on #62753
Duplicate of https://github.com/ansible/ansible/issues/62032

[2019-09-23 15:05] #62753 closed, assigned to nobody

[2019-09-23 15:05] Akasurde commented on #62711
!component =lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

[2019-09-23 15:07] Akasurde commented on #62674
Hi @andredsl !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows

[2019-09-23 15:07] #62674 closed, assigned to nobody

[2019-09-23 15:10] #61780 closed, assigned to samccann

[2019-09-23 15:35] felixfontein opened #62757 "ansible-doc shows "unsupported" keys in return values"
##### SUMMARY
`ansible-doc package_facts` shows more details for return values than the [HTML docs](https://docs.ansible.com/ansible/latest/modules/package_facts_module.html#returned-facts) (the latter being very unhelpful):
[code]
This is because `ansible-doc` seems to dump the whole dictionary, while the HTML docs only contain the supported keys (`sample_rpm` and `sample_deb` are not officially

[2019-09-23 15:43] jean-christophe-manciot opened #62758 "TSIG update error (PeerBadKey) with correct key credentials"
##### SUMMARY
Using the module ```nsupdate``` with TSIG key credentials from bind9 /etc/bind/rndc.key fails.
The contents of the file looks like:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nsupdate

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Created a DNS record using DDNS updates

[2019-09-23 15:49] kaleal commented on #62659
Try adding -u root on your command line like below:
[code]

[2019-09-23 15:58] Constantin07 commented on #62673
!component

[2019-09-23 16:46] craph opened #62759 "Python error when using docker_compose"
Hello,

##### SUMMARY
I write this issue because I have the following issue when I use docker_service in an Ansible role.

##### COMPONENT NAME
docker_service

##### ACTUAL RESULTS
`
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to import the required Python library (Docker SDK for Python: docker (Python >= 2.7) or docker-py (Python 2.6)) on vscm70c7dsy's Python /usr/bin/python.

[2019-09-23 17:04] andreaso commented on #62758
Have you configured BIND to use the `/etc/bind/rndc.key` TSIG key for the purpose of updating the zone in question? Asking since zone updates is not normal the use of that key.

[2019-09-23 17:32] colans opened #62760 "Allow `os_object` to set container properties"
##### SUMMARY

I need to be able to run the following command in order to set a user-specific access key for the container:

[code]

...but this doesn't appear possible with the module currently.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

Ansible os_object.py

##### ADDITIONAL INFORMATION

This functionality is needed for enabling [container-specific API keys](http://docs.clouda.ca/b

[2019-09-23 17:33] colans commented on #31360
The use case here looks similar to #62760.  I'm assuming this is just another way to do the same thing?

[2019-09-23 17:46] tuccimon opened #62761 "WINRM communication fails using Ansible version 2.8.4-1.el7"
##### SUMMARY
Ansible package version 2.8.4-1.el7 no longer works for winrm communication. Ansible package version 2.4.2.0-2.el7 does work with winrm as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Using win_ping against a target that has been setup for HTTP and HTTPS WinRM communication.

##### ANSIBLE VERSION
ansible 2.8.4
  config file = /etc/ansible/ansible.cfg
  configured m

[2019-09-23 18:12] mnaser commented on #61608
needs_contributor

[2019-09-23 18:15] VenkateshJavvaji opened #62763 "'ascii' codec can't decode byte 0xe2 in position 140"
I am receiving the following error when performing the below task:

TASK [tomcat : Copy default server.xml to host] ********************************
task path: /Users/user/GIT/branch/dir/tomcat/tasks/main.yml: line number
ESTABLISH SSH CONNECTION FOR USER: user name
SSH: EXEC ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssa

[2019-09-23 20:20] herdir opened #62765 "ios_interface doesn't allow to delete an interface description"
##### SUMMARY
ios_interface doesn't allow to delete an interface description

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"

##### STEPS TO REPRODUCE

[code]

##### EXPECT

[2019-09-23 23:18] dagwieers commented on #60276
@ralftrezeciak Seems like an easy fix, but this has always been like this, even before `build_filter` became a function. If this issue (and fix) is version-agnostic, then why has this not been affecting people up to know?

[2019-09-24 00:05] dagwieers commented on #60276
@iljdam Can you please verify this works for you?

[2019-09-24 00:12] #35140 closed, assigned to nobody

[2019-09-24 02:57] liangyan1210 opened #62769 "IPv6 access with proxycommand fails"
##### SUMMARY

<2019:2019:0:0:0:0:0:b> SSH: EXEC ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o Port=22 -o 'IdentityFile="/tmp/ansible-execution-eSso4u/generated_ssh_key.pem"' -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=cloud-user -o ConnectTimeout=60 -o

[2019-09-24 03:37] Fred-sun commented on #62424
@yungezz @mybayern1974 Do you agree or disagree with these comments? Any other Suggestions? Please check! Thank you very much!

[2019-09-24 03:38] Fred-sun commented on #62447
kindly ping

[2019-09-24 03:59] furball9000 opened #62770 "vm_guest module: Provision additional disks dynamically via variable."
##### SUMMARY
From with the vm_guest module have the ability to provision additional disks dynamically via a variable. If the variable details are empty, skip.

The idea being that you can have a SNOW form to provision a server and the disk numbers/details can be defined and passed to Ansible. So you can 1 or 15 disks defined without vm_guest failing due to undefined variables.

##### ISSUE TYPE
-

[2019-09-24 05:55] Fred-sun commented on #62711
@Tomelin Thank you for reporting the problem. We will analyze and solve the problem you encountered. In order to more conveniently track the problems you reported, please refer to the [link  template](https://github.com/ansible/ansible/issues/new?template=bug_report.md) report problems. Thank you very much!

[2019-09-24 06:38] Fred-sun commented on #62711
@Tomelin Typically a resource that cannot use another credential. But we can move the resource for another credential to the one in use (you can follow the step to move the resource) and then use the resource.  Then follow the playbook below to create the VM. Thank you very much!

1. Open the Azure portal.
2. Click Browse > Resource groups and select the resource group containing the image that yo

[2019-09-24 07:00] markatdxb opened #62772 "VMware: NoneType error while fetching details using vmware_vmkernel_facts"
##### SUMMARY

Getting FATAL error when VM cluster contains ESX hosts in non-responding state

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_vmkernel_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

VCS 6.5

##### STEPS TO REPRODUCE

simple playbook to query the vmkernel facts

[code]

##### EXPECTED RESULTS

standard output

##### ACTUAL RESU

[2019-09-24 07:25] liubo0127 opened #62774 "`gather_timeout` does not take effect in the configuration(ansible 2.7.11)"
##### SUMMARY
The `gather_timeout` configuration item in `ansible.cfg` does not take effect. And writing to the command line argument is in effect.

In my configuration, `gather_timeout` set `30`:
![image](https://user-images.githubusercontent.com/28344969/65489459-c96ccc00-dedd-11e9-8ae4-010b4c6f11e0.png)

But when I run `ansible -i inventory-test.ini ansible84 -m setup -vvv`, `gather_timeout` is

[2019-09-24 07:35] Ag0s commented on #62415
Not sure what I changed in my config, however the issue is no longer present.

[2019-09-24 07:35] #62415 closed, assigned to nobody

[2019-09-24 07:37] Fred-sun commented on #62715
@dvntstph Thank you for reporting the problem. We will analyze and solve the problem you encountered.

[2019-09-24 07:44] eurydice76 commented on #62744
Digging further the problem comes from the function `container_to_text` of module `ansible/module_utils/common/text/converters.py` which for unknown reason _corrupts_ the output value by setting to `None` all the fields of the mapping.

[2019-09-24 07:52] liubo0127 commented on #62774
The reason is that there is no data when getting `ansible_mounts`, this function is found during troubleshooting, and other functions may have similar problems (just personally think it is a bug).

Of course, `setup` does not return an error message maybe also a problem.

[2019-09-24 08:03] machacekondra opened #62775 "Add 'restart' state/parameter to the ovirt_vm module"
##### SUMMARY

Add 'restart' state or restart option to the `ovirt_vm` module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ovirt_vm

##### ADDITIONAL INFORMATION

[code]

[2019-09-24 08:15] AlexeyPerevalov opened #62776 "pids_module list pids by regexp"
##### SUMMARY

Sometimes it's necessary to work with pids of the processes which match the particular regular expression.

For example: ".*" can match all pids on the system and these pids can be placed to cgroup or taskset can be executed for all pids. Or another operations with the group of pids could proceeded.

pids_module

[code]

[2019-09-24 08:30] Xaroth opened #62777 "AWS: elb_application_lb_info filtering fails with more than one name"
##### SUMMARY
when using `elb_application_lb_info` to fetch information of more than one ALB by name, no info is returned. If only one name is used, information is returned

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
elb_application_lb_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu, Debian, RHEL

##### STEPS TO REPRODUCE

Step 1, have an A

[2019-09-24 08:52] sgeschwill commented on #56576
I can as well confirm. This problem happened to me as well when installing Ansible on the target machine and trying to run a playbook using docker modules (and pip). After removing Ansible from the target host, the execution was without issues from the remote controller (host).
Thank you all for your help!

[2019-09-24 09:11] eurydice76 commented on #62744
OK problem solved by pip installing the newest openstacksdk (0.36).

[2019-09-24 09:11] #62744 closed, assigned to nobody

[2019-09-24 09:44] MarkusTeufelberger commented on #62227
I'm not even sure if there is any other version than `0x0` (meaning version 1) specified? There are specs for 1.0, 1.5 and 1.7, but nothing else. Probably this parameter should just be dropped until one day CSR v2 is specified + implemented.

[2019-09-24 09:55] thanos1983 commented on #56576
In case that someone is trying to trying to run the latest version of Ansible in RedHat 7.7 etc. I got the same problem with Ansible 2.8.0 and up. The only working version from me was:

[code]

Also I had to install [docker 4.0.2](https://pypi.org/project/docker/).

All these packages need to be installed on the remote node (host) that the playbook is connecting.

Hope this helps someone on resolv

[2019-09-24 10:42] pgbidkar commented on #55560
Hi @AndrewCi , Are you working on fixing conflicts and update PR https://github.com/ansible/ansible/pull/61329? if not, I will work on this issue?

Thanks

[2019-09-24 11:15] sckfranke opened #62781 "fetch fails on Windows filenames containing dollar sign"
##### SUMMARY

`fetch` module fails on Windows with file names containing dollar signs (winrm FETCH does not quote these from PowerShell). When using `|quote` or backslash-escaping the dollars, slurp, which is executed by fetch, does handle such paths correctly and therefore fails on pre-quoted ones.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

fetch

##### ANSIBLE VERSION

[code]

#####

[2019-09-24 11:51] pgbidkar commented on #55560
Hi @AndrewCi , I am also not able to reproduce the issue. VM is getting deployed with correct IP

[code]

[2019-09-24 11:52] pgbidkar commented on #55560
needs_info

[2019-09-24 12:00] AndrewCi commented on #55560
@pgbidkar the issue only arises when using a customization spec. Your attempt at a repro doesn't appear to include one. I'm going to try and complete the rebase and write the tests this weekend.

[2019-09-24 12:17] Xaroth opened #62783 "ec2_vpc_peer does not support modifying peering settings"
##### SUMMARY
EC2 VPC Peers support some settings that can be retrieved by ec2_vpc_peering_info, but cannot be set.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ec2_vpc_peer

##### ADDITIONAL INFORMATION
Currently, the following settings are available, but unsettable by ansible:

[code]
This goes for both sides (requestor, acceptor) of the peering connection.

botocore already supports c

[2019-09-24 12:41] patede opened #62784 "vmware_guest_network.py uses product uuid"
##### SUMMARY
The documentation states the instance uuid is required for the uuid parameter but the hw product uuid is used instead.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

P.S.:  I suggest the

[2019-09-24 13:06] pgbidkar commented on #62784
+label needs_verified

[2019-09-24 13:24] tra7nce opened #62787 "Add a YAML and JSON module to Ansible."
ISSUE TYPE
Feature Idea

SUMMARY
Add a YAML and JSON module to Ansible. This is critical to securing OpenShift.

https://github.com/kwoodson/ansible-role-yedit can be used for the module.

[2019-09-24 13:44] mariolenz opened #62789 "VMware: Move helper functions from vmware_host_config_manager to vmware module"
##### SUMMARY
Move some helper functions from `vmware_host_config_manager` to `PyVmomi`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_host_config_manager
vmware

##### ADDITIONAL INFORMATION
`vmware_host_config_manager` has some helper functions (`is_integer`, `is_boolean` and `is_truthy`) to deal with vSphere Web Services API `OptionValue`s. Today, I started to work on issue #614

[2019-09-24 13:59] mariolenz commented on #62789
!component -contrib/inventory/vmware.py
!component +lib/ansible/module_utils/vmware.py

[2019-09-24 14:07] thanos1983 opened #62791 "Failed to import docker-py - cannot import name __version__. Try `pip install docker-py"
##### SUMMARY

When running Ansible 2.8.x on RedHat 7.x is throwing the following error on remote system.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[Ansible](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html), [docker_image](https://docs.ansible.com/ansible/latest/modules/docker_image_module.html)

##### ANSIBLE VERSION

[code]

[code]

##### CON

[2019-09-24 14:58] tra7nce commented on #62787
This request is for version 2.10.  The component name is: Ansible Modules

[2019-09-24 14:58] mmolinac commented on #58242
Is there any estimation for this to be GA ?

[2019-09-24 15:45] jean-christophe-manciot commented on #62758
I have audited my bind9 config & corrected it with a ```ddns-key```.
Now, I am able to successfully add & remove a TXT RR with ```nsupdate``` module.
However, I am experiencing some **trouble deleting an A record** with:
[code]
leads to:
[code]
The ```NXRRSET``` return code seems to show that the RR does not exist.
However, after the call, the RR still exists on the name server:
[code]

[2019-09-24 15:49] jean-christophe-manciot commented on #62758
Worth noting:
- DNSSEC is implemented
- inline-signing is also implemented

[2019-09-24 16:13] andreaso commented on #62758
You obfuscating the output from Ansible as well as from dig hardly makes it easier to debug your issue...

[2019-09-24 16:16] jamesmarshall24 opened #62798 "Allow Certificate Based Authentication for Azure RM Modules and Plugins"
##### SUMMARY

Allow [certificate based authentication](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest#certificate-based-authentication) with azure_rm_* modules

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_*

##### ADDITIONAL INFORMATION

Currently, there is no authentication method using certificate based auth as ou

[2019-09-24 16:19] jean-christophe-manciot commented on #62758
I don't think that the content of $record and $ip_address have anything to do with the root cause of this issue.

[2019-09-24 16:21] hibbert commented on #60503
Thanks that was the issue. However what I'm really trying to do is ignore_errors for the verification_attributes.verification_status as the confirmation goes to people outside our control. Is this possible?

For example this does not work

[code]

It will always fail, but I would expect that when "Success", "Failed" or "Pending" is there it would break the and

[2019-09-24 17:30] jean-christophe-manciot commented on #62758
It seems to be a bind9 issue:
[code]
Then dig shows that the related RRs are still there, even after a systemd service restart.
That is very strange.

[2019-09-24 18:45] mariolenz commented on #61421
@patede `vmware_host_config_manager` solves a similar problem, only for hosts. As it looks, both host and cluster HA advanced settings are of the vSphere Web Services API type `OptionValue[]`.

To make a long story short: `vmware_host_config_manager` has some helper functions (`is_integer `, `is_boolean ` and `is_truthy `) that might be helpful to implement you feature request; since duplicating c

[2019-09-24 19:23] felixfontein commented on #62728
Thanks for reporting this. Since 2.8.2 (#58039 resp. #58139), you can simply specify an empty string (`source: ''`). That should work.

I think it would still be nicer if `source` can be left away when `type` is `tmpfs`. For that, we would have to mark it as not required, and manually check whether `source` is non-empty iff `type` is not `tmpfs`. @hannseman what do you think?

[2019-09-24 19:28] ZeroChanceCompile opened #62807 "Apt module: aptitude, upgrade: yes hangs after completing"
##### SUMMARY
Using the apt module to do a system upgrade hangs. I'm using the apt module to install aptitude then use aptitude to do apt update, apt upgrade.

If I manually ssh into the managed device I can see the following running.
[code]

I can see the update finish when the above processes go away. I can also manually run `sudo apt upgrade` and see that the system is up to date. However, the

[2019-09-24 19:29] felixfontein commented on #62702
That's correct. If you wonder where this comes from: the official [Docker SDK for Python](https://docker-py.readthedocs.io/en/stable/) is calling this parameter `filename`: https://docker-py.readthedocs.io/en/stable/api.html#docker.types.SecretReference

That in turn probably comes from the Docker API: the filename is in `TaskTemplate.ContainerSpec.Secrets[0].File.Name`. See https://docs.docker.co

[2019-09-24 20:20] rabin-io opened #62809 "dnf (and probly yum) wild-card match remove is not idempotence"
##### SUMMARY
When using wild-card in package name to remove, the first run will remove the packages,
but the second run will fail with message `Failed to install some of the specified packages`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- dnf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* Fedora 30

##### STEPS TO REPRODUCE

try to remove a packag

[2019-09-24 20:30] timmcross opened #62810 "vmware_guest and server names with dashes issue"
I am trying to use the vmware_guest module to deploy a Windows 2016 VM from template in a VMware 6.0 and 6.5 vCenter environment while using a server name with a dash in the name (eg, SERVER-NAME).  The display name of the VM is created correctly in vCenter but after guest customization, the server name in the Windows OS appears without the dash (eg, SERVERNAME).  Is there an option I am missing t

[2019-09-24 21:30] jeffwarnica opened #62812 "Allow `module_defaults` to apply to roles"
##### SUMMARY

`module_defaults` can apply to tasks and blocks. Consider a role that hits a REST api across many `url` calls, this still required much duplication across each `/tasks/actionX.yml` and/or `/tasks/api/includeX.yml`

A standard mechanism, perhaps `/meta/defaults.yml` should provide defaults at a higher level.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INF

[2019-09-25 01:45] #62613 closed, assigned to nobody

[2019-09-25 02:38] Fred-sun commented on #62715
@dvntstph Please let me summarize the problem that you have encountered, which is that the backend pool cannot be updated or modified through the azure_rm_appgateway module, which should be a bug of this module. Before the problem is fixed, you can login to [azure portal ](https://ms.portal.azure.com/)to complete the update. Thank you very much!

[2019-09-25 02:39] Fred-sun commented on #62715
@mybayern1974 @yungezz Please take a look this issue when you're free! Thank you very much!

[2019-09-25 03:04] Fred-sun commented on #44806
@zikalino Any update for this?

[2019-09-25 03:27] Tomorrow9 opened #62816 "VMware: customize guest OS through vmware_guest module too long to timeout"
##### SUMMARY

Customize Windows 10 guest OS with wait_for_customzation parameter set, but after many hours there is no return and the playbook just stuck there.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

vSphere 6.7U3, Windows 10 guest OS 32bit with BIOS firmware

##### STEPS TO REPRODUCE

[

[2019-09-25 03:54] goneri commented on #62447
Thanks @Fred-sun, It looks like we don't face this problem any more.

[2019-09-25 03:54] #62447 closed, assigned to nobody

[2019-09-25 05:47] CendioOssman opened #62817 "Support pre-run condition to see if state is already correct (e.g. ok_when)"
(This is a duplicate of #12710, which is a rather not-nice thing to do. But that issue was closed and locked with the reason "we don't understand what it is you are asking for". So in this case I think it warrants an exception. Please take the time to read that issue and this and understand what we are requesting. If you still decide it doesn't fit in Ansible then please try to help us understand

[2019-09-25 06:04] pgbidkar commented on #62784
has_pr https://github.com/ansible/ansible/pull/62818

[2019-09-25 06:04] pgbidkar commented on #62784
-label needs_verified
-label needs_triage

[2019-09-25 06:44] Fred-sun commented on #56634
@yungezz @mybayern1974 You can help to check whether the code changes in the comments above can be applied to ansible, thank you!

[2019-09-25 06:55] Fred-sun commented on #60619
@mybayern1974 @MyronFanQiu Please help take a look this issue when you're free! Thanks a lot!

[2019-09-25 06:58] Fred-sun commented on #60597
@mybayern1974 @MyronFanQiu Please help take a look this issue when you're free! Thanks a lot!

[2019-09-25 07:16] renxulei opened #62819 "redfish_info / redfish_config - Manager - GetManagerServices / SetManagerServices"
##### SUMMARY

This feature would implement a GetManagerServices command for the Manager category of redfish_info, to retrieve a list of NetworkProtocol and their properties, like SSH, Port, Enable or Disable. And also implement a SetManagerServices command for the Manager category of redfish_config, to set NetworkProtocol's properties, like enable/disable SSH, change Port.

##### ISSUE TYPE
- Fea

[2019-09-25 07:23] bociankruk commented on #38605
Plus on vCenter server, in events we can see what is being changed:
`Reconfigured VM_NAME on ESXi_HOST in DATACENTER_NAME.
Modified:
config.hardware.device(4000).backing.port.portKey: "1569" -> "1573";
config.hardware.device(4000).backing.port.connectionCookie: 2125120497 -> 1396048833;
Added:
Deleted:`

Fortunately, this change is not disrupting connection to the VM. But still, it changes somethi

[2019-09-25 07:46] papseddy commented on #42189
I am also facing same problem.

[code]
[code]

---
- name: launch a compute instance
  hosts: controller-node
  gather_facts: false
  tasks:
    - os_server:
        auth:
          auth_url: http://192.168.2.31:5000/v2.0
          username: admin
          password: ****
          project_name: admin
        state: present
        name: ansible-test-2
        image: CentOS-cloud
        key_name:

[2019-09-25 08:04] elaurijssens commented on #56634
But is this a solution for the issue at hand? The issue description reads "azure_rm_deployment removes tags on Resource Group" which is what I'm experiencing. *If* I set tags on the *resource* I'm creating, the *resource group* gets those tags as well. That's not expected behavior, is it? This only fixes the issue that if we don't set tags on the resource, the resource group loses all tags. It doe

[2019-09-25 08:19] Fred-sun commented on #56634
@elaurijssens Thank you for replying to this question..Yes, resources should be created based on deployment templates.

[2019-09-25 08:26] ChristianCandelaria commented on #16052
I had the same issue, my problem fixes by deleting the **become** option.

[code]

[code]

[2019-09-25 08:33] dsvensson opened #62822 "Add minimum version requirement somewhere"
##### SUMMARY
Add minimum version setting somewhere.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible

##### ADDITIONAL INFORMATION
People seem to use a shared playbook to declare minimum version, which is then included in all other playbooks. Wouldn't it be better to have it in `ansible.cfg`, or to be open to replacing `ansible.cfg` with some other format in the future, a `.min_ansi

[2019-09-25 10:02] rnowagk commented on #56634
@elaurijssens

How do you do this? The 'tags' argument of 'azure_rm_deployment' is only about _resource group_ tags. I don't see any effect to the actual resources, which are defined in the deployed ARM template. Also, any resource tags within the ARM template have no effect to my resource group tags.

[2019-09-25 10:31] flunda commented on #58068
Same issue here when using the `vmware_guest `module. Is this going to be merged / fixed within a newer release? @MKPhil

[2019-09-25 11:02] GregLasko commented on #56696
Hi all,

Has there been a solution to this policy positioning need?

[2019-09-25 11:11] nqb commented on #25142
I need this feature too.

[2019-09-25 11:14] elaurijssens commented on #56634
The documentation says:

Metadata tags on the object will be updated with any provided values.
To remove tags set append_tags option to false.

So the 'tags' argument should update the object being created, not the resource group. Of course we could change the documentation but that would make azure_rm_deployment do something strange: create one object (a deployment!) and update another. That does

[2019-09-25 11:19] mnecas commented on #61840
Hi @mshabou,
great idea but its not possible. I asked our storage team about it and I can not update TemplateDiskAttachment, which is by design.
BZ(https://bugzilla.redhat.com/show_bug.cgi?id=1753565)

[2019-09-25 11:20] mnecas commented on #61840
close_me

[2019-09-25 11:21] #61840 closed, assigned to nobody

[2019-09-25 12:10] rien opened #62826 "pip module always set to changed when using check mode"
##### SUMMARY
The pip module will always be 'changed' when using a virtualenv and when running in check mode.

This is caused by [this block](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/language/pip.py#L472) in the pip module:
[code]
Instead of actually checking if the virtualenv exists and if all the requirements are present.

##### ISSUE TYPE
- Bug Report

##### C

[2019-09-25 12:33] arturtamborski commented on #10374
Another workaround from my side, useful for complex dicts:

Given that I have below structure for variables:
[code]

Below code will _not_ unwind the `go.environment.dst` and will leave it as is, breaking the `include`
[code]

But this code _will_ unwind it explicitly allowing me to pass it around in proper form:
[code]

The trick is in `lookup()` function which does evaluate vars on it's way.
Thi

[2019-09-25 12:58] #56961 closed, assigned to nobody

[2019-09-25 13:04] RNiveau opened #62829 "Command stdin with mysql doesn't work as expected"
Hi guys,

I use the following command to handle a mysql query:

[code]
Here the debug output shows that the command blocks on password prompt:

[code]

If I set the password directly in the command:

[code]

All work fine.

Do you have an idea what is wrong ?
I use the module command in other places like this and it works:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
command

#####

[2019-09-25 14:53] #58910 closed, assigned to justjais

[2019-09-25 15:32] SadFaceSmith opened #62834 "Specifying Private Key via CLI is overwritten by vars in Inventory"
##### SUMMARY

When `ansible_ssh_private_key_file` is set to a specific key in inventory, passing `--privatekey=/path/to/other/key` via the command line does not overwrite the entry in inventory. I believe it should behave similar to `-e` / `extra vars` where cli input would take precedence over variable files.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible Core Engine
##### ANSIBLE

[2019-09-25 15:51] #56910 closed, assigned to nobody

[2019-09-25 16:07] Tomelin commented on #62711
Hi,

Sorry for the format of the problem at the beginning.

ansible 2.8.2
!component =lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

- name: create virtualmachine
  azure_rm_virtualmachine:
    resource_group: resource_group_vms
    name: vm01
    vm_size: Standard_D4
    admin_username: vm-name
    admin_password: vm-password
    image:
      name: RHEL01
      resource_group: resour

[2019-09-25 16:45] creideiki opened #62841 "YAML output callback omits non-US-ASCII characters from multiline output"
##### SUMMARY
When using the YAML output callback to print multiline output, characters which are not in US-ASCII are omitted from the output, even in a fully Unicode-capable locale.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/callback/yaml.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Found on RHEL 7.7, reproduced on Gentoo Unsta

[2019-09-25 17:21] philskents opened #62842 "Add homebrew cask support to package module"
##### SUMMARY
Currently on OS X the package module only supports formulae when homebrew is the package manager. Adding support for casks also would be useful so formulae are searched first, followed by casks if no formula is available.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
package module

##### ADDITIONAL INFORMATION
N/A

[2019-09-25 17:31] solidpulse opened #62844 "HMAC verification failed: Signature did not match digest."
##### SUMMARY
a string is encrypted using the following command:

[code]
if encrypted on MacOS (OSX) (10.14) it can be decrypted using:
[code]

if encrypted on macos, it can be decrypted on macos, but cannot be decrypted on RHEL-7.6
if encrypted on RHEL-7.6, it can be decrypted on RHEL-7.6, but cannot be decrypted on macos

also if encrypted on macos, it can be decrypted on different mac machines.

[2019-09-25 18:37] wolske commented on #62735
This seems to be related to https://github.com/ansible/ansible/issues/18184 which was flagged as a Bug, and Closed, but it's not clear why it was closed.

I'm dealing with this issue right now myself; I've got passwords in a vault variables file, but the passwords are being exposed by --verbose (and stored in Tower when log level = 3/Debug).

[2019-09-25 18:40] shadowtdt commented on #61922
@Akasurde , I am getting the same result with RH7.6 and psutil 5 so I am not sure that is the cause.

Actual Result:
[code]
ANSIBLE VERSION
[code]
OS / ENVIRONMENT
[code]
psutil Version
[code]

[2019-09-25 18:51] geerlingguy opened #62847 "Allow roles to depend on collections"
##### SUMMARY

I have a number of roles currently on Ansible Galaxy, which I will likely continue to support as standalone roles for a time (and not part of a collection).

Many of those roles depend on modules which may, at some point, be maintained in a collection outside of ansible/ansible, meaning my role would require the collection be installed and loaded in order to use the module.

Current

[2019-09-25 18:54] #59388 closed, assigned to nobody

[2019-09-25 18:54] #59371 closed, assigned to nobody

[2019-09-25 20:28] gregorydlogan opened #62848 "extra-vars parsing fails when prefixed with whitespace"
##### SUMMARY
Ansible 2.8.x throws an exception when parsing extra-vars with extra whitespace

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible commandline parsing/splitting

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 9/10

##### STEPS TO REPRODUCE

[code]

Playbook:
[code]

##### EXPECTED RESULTS

A running playbook

##### ACTUAL RESULTS

[2019-09-25 21:49] decklord commented on #46532
Is this going to be fixed? This issue hasn't been updated since 2018!

[2019-09-25 23:55] AdmiralNemo commented on #61002
The same is true in reverse as well.  Delegating a task to another machine will set `discovered_interpreter_python` for the managed machine.  In my case, I delegate a task to a CentOS 7 machine before actually doing anything on the CentOS 8 machine.  `discovered_interpreter_python` gets set to `/usr/bin/python` since that's available on the CentOS 7 machine.  When the first task runs on the CentOS

[2019-09-26 02:00] sinu commented on #56696
i achieved this in different way

[2019-09-26 02:45] Fred-sun commented on #62711
@Tomelin I see what you mean, but the Image of azure_rm_virtualmachine does not currently support creating virtual machines through the path of the Image. This may be added later. So you can create resources with different subscription ids in the same way as in the comment above without adding them. Thank you very much!

[2019-09-26 02:59] Fred-sun commented on #62711
@mybayern1974 @yungezz This is a new attribute, please help confirm and add it. Thank you very much!

[2019-09-26 05:33] D3DeFi commented on #62487
thank you all for your work!
resolved_by_pr #62667

[2019-09-26 05:36] #62487 closed, assigned to nobody

[2019-09-26 06:27] Fred-sun commented on #60528
@mybayern1974

[2019-09-26 06:35] Fred-sun commented on #60100
@mybayern1974 @yungezz Please help to add the feature in the latest Ansible. Thank you very much!

[2019-09-26 06:40] Fred-sun commented on #59880
@mybayern1974 @yungezz Please help to add the feature in the latest Ansible. Thank you very much