[2019-04-02 21:08] felixfontein commented on #54714
I hope you changed it the other way around, because that's what #54732 did. :) But good to hear that it helped you!

[2019-04-02 21:11] dthvt opened #54745 "acme_certificate - example should include wait: yes for route53"
##### SUMMARY

The examples in acme_certificate show how to use dns-01 challenge w/ route53.  However, it should show the "wait: yes" parameter as well, since there is a race condition that can cause ACME to fail if it checks before DNS propagates.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

acme_certificate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2019-04-02 21:16] jamesdh commented on #30882
Am I missing something? Because it seems `include_tasks` still doesn't apply tags to it's sub-tasks, effectively rendering the combination of `include_tasks`, `tags`, and `loop` useless.

[2019-04-02 21:19] felixfontein commented on #54745
That's true. Do you want to fix it in #54744 as well?

[2019-04-02 21:27] felixfontein commented on #53789
Are you interested in getting information on CRLs (or validate conditions on these), as your example shows, or also to generate / sign CRLs?

[2019-04-02 21:30] sivel commented on #54056
There appears to be 3 problems here:

1. You are getting a failure running:

[code]
1. You are getting a permissions failure to write the retry file
1. You seem to be running ansible against a server that uses Python2.4 that is no longer supported by ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://gr

[2019-04-02 21:30] #54056 closed, assigned to nobody

[2019-04-02 21:31] sivel commented on #54014
We are working on threading support, but I am unsure if it will solve your needs.  Feel free to test out https://github.com/ansible/ansible/pull/44280

Unfortunately, we do not plan to support running ansible from an Android platform, so we will not be applying effort towards making this functionality work on Android.

If you have further questions please stop by IRC or the mailing list:

   * IRC

[2019-04-02 21:31] #54014 closed, assigned to nobody

[2019-04-02 21:31] dthvt opened #54746 "acme_certificate - dest must include path info or fails"
##### SUMMARY

Calling acme_certificate with dest set to a pure filename (no path) will cause the module to fail.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

acme_certificate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 on Windows 10

##### STEPS TO REPRODUCE

Example below uses dns-01 challenge against route53.  Either fill in w/ appr

[2019-04-02 21:32] sivel commented on #53950
We have discussed this and determined that we do not plan on relaxing the checks on the `meta/main.yml` file. You could look into using another file.

If this feature is important enough, you may consider discussing full support for what you are working on with the mazer project https://github.com/ansible/mazer

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansi

[2019-04-02 21:32] #53950 closed, assigned to nobody

[2019-04-02 21:33] dthvt commented on #54745
Sure, give me a minute to update that pull request.

[2019-04-02 21:34] sivel commented on #53838
This should be achievable in the upcoming Ansible 2.8 release with become plugins.  Become plugins allow users to write their own plugin to support their specific privilege escalation configurations.

Please see:

* https://docs.ansible.com/ansible/devel/plugins/become.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing l

[2019-04-02 21:34] #53838 closed, assigned to sivel, bcoca

[2019-04-02 21:37] sivel commented on #30882
You are not missing anything.  This is expected behavior.

Any keywords applied to `include_tasks` only apply to the include themselves, to dictate whether or not the include happens.  It does not impact the tasks within.  You have several options:

1. Use `apply`  (both tags can be the same if you want, I used 2 different to make it clear):

[code]
1. Or use something like the `always` tag on the

[2019-04-02 21:45] sivel commented on #53958
I've verified this, but it seems to only happen in a very specific instance.

If there is only 1 file that is copied, the task does not report changed.  If there is more than 1 file copied, then the task correctly reports changed=True.

[2019-04-02 21:53] #54664 closed, assigned to nobody

[2019-04-02 21:58] #54714 closed, assigned to nobody

[2019-04-02 22:45] bryankennedy commented on #53404
I was wondering the same thing, where is this mythical rds_cluster module. Possibly referring to this?
https://github.com/ansible/ansible/pull/42128

Providing a cluster name is optional in the GUI DB setup, but it seems like the current Ansible functionality requires the cluster to exist for Aurora:
https://github.com/ansible/ansible/pull/43789#issuecomment-411537396

[2019-04-02 22:57] rbo commented on #54652
Work-a-round works: https://github.com/ansible/ansible/issues/26634#issuecomment-320757878

[2019-04-03 00:25] jithendra12 opened #54748 "ansible task to unarchive a zip file without a first level directory using “extra_opt: -j” fails in Centos7.5 servers and works in Centos7.3"
I have an ansible-role which has a task to unarchive a .zip file without the first-level directory.

Ansible-task:
[code]

where,
[code]

But, somehow the firstlevel directory in zip file also showsup in the error log like below,
[code]
This fails on Centos7.5 servers which are on azure cloud instances but is successful on Centos7.3 servers which are on openstack cloud instances

The below was the

[2019-04-03 01:03] gnowxilef commented on #53789
primarily the former, but having both would be great as well.

[2019-04-03 01:48] donateur commented on #43891
@jdavis-douglas-co-us we're on a 7.6 version, I'll get specifics soon, but in the mean time we've found that this script needs significant work.

We need to use "guest.hostname" for our alias_pattern (the name in vSphere may be unreliable) and it seems the script can't handle multiple VMs with the same "guest.hostname" even if those VMs don't match our filters!

For example, we use NSX and all NSX

[2019-04-03 01:52] Fred-sun commented on #53582
@zikalino

[2019-04-03 01:56] Fred-sun commented on #53299
@yuwzho Could you can give a fixes according by the comments? Thanks!

[2019-04-03 02:03] Elsvent commented on #54686
##### ISSUE TYPE
- Documentation Report

[2019-04-03 02:28] Fred-sun commented on #51387
@MyronFanQiu Could you can give a PR to add the caching options? Thanks!

[2019-04-03 02:47] Fred-sun commented on #51062
@zikalino

[2019-04-03 03:08] #51321 closed, assigned to nobody

[2019-04-03 03:25] dglinder commented on #50529
So for those who have struggled with this, my Ansible Tower clusters now have a working solution too.  Basically we:
1. Use pip to install the `openshift` Python module into the OS environment
    * I am pretty confident that this was the main solution but I haven't bisected the changes to validate this.
2. Setup the AWX / Ansible Tower virtual environment in `/var/lib/awx/venv/Kubernetes`
3. Add

[2019-04-03 03:55] chrahunt commented on #47171
@mator in our case the `ControlMaster` setting had no impact.

[2019-04-03 04:01] felixfontein commented on #54745
resolved_by_pr #54744

[2019-04-03 04:10] #54605 closed, assigned to nobody

[2019-04-03 04:22] basictheprogram opened #54755 "hostname module does not work on Ubuntu Bionic 18.04"
##### SUMMARY

The hostname module does not work as expected on Ubuntu Bionic 18.04

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

hostname

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible management host macOS 10.14.4
Managed host Ubuntu Linux 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The hostname would be the value of "{{

[2019-04-03 05:25] #53975 closed, assigned to NilashishC

[2019-04-03 05:27] MyronFanQiu commented on #51387
@Fred-sun No problem. I'm working on it now. @zikalino and @yuwzho are helping me to review the code.

[2019-04-03 05:29] Fred-sun commented on #51387
Thanks for your contribution!

[2019-04-03 05:39] Fred-sun commented on #39977
@zikalino If the Image name is a string, can I add the following code to split it by split?  Thanks!
[code]

[2019-04-03 05:49] yuwzho commented on #39977
Actually my concern is whether should we support the concatenated image ID, which is not in an Ansible way to get the parameter.

If you only have the concatenated string, I do encourage put the tokenize logic into playbook rather than module code. For example:

[code]

[2019-04-03 06:28] yuwzho commented on #39903
@joaocc In the coming version 2.8, if `managed_by` is undefined, the attach/detach status will not be changed. To detach the disk from a vm, should use an empty string `''`

[2019-04-03 06:40] jmdopereiro commented on #42594
@jamescassell The output of my `ansible-config dump --only-changed`

`DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_PRIVATE_KEY_FILE(/etc/ansible/ansible.cfg) = /root/.ssh/id_ecdsa
INVENTORY_ENABLED(/etc/ansible/ansible.cfg) = [u'host_list', u'virtualbox', u'yaml', u'constructed']
`

[2019-04-03 06:46] harshsing2891 commented on #46980
so   :sudo apt install python-minimal python-simplejson    needs to be install on each node  machine ???
if yes then what is the point of automation ???

[2019-04-03 07:00] jmdopereiro commented on #42594
@jamescassell Thank you so much! I found the problem. The inventories plugin was enabled in ansible.cfg and ini was not included.

[2019-04-03 07:18] mkrizek commented on #54755
The `hostname` module already uses `hostnamectl` for systemd managed machines.

No, hostname is changed correctly, it just isn't reflected in the current session.

Correct. Quick google search reveals that `cloud-init` is to "blame" - https://askubuntu.com/questions/1028633/host-name-reverts-to-old-name-after-reboot-in-18-04-lts/1028750#1028750

I am not sure we can/should do anything here.

needs

[2019-04-03 07:23] schewara commented on #54555
@felixfontein You are right. This might be a feature request rather then a bug, but I wasn't really sure about it due to the naming changes and the resulting confusion of it on my end.
Thank you for the fast response. I will give it a run once I worked around the QNAP API and Python Package limitation issues, which I have to tackle first.
I'm hoping by tomorrow i can provide you with the test resu

[2019-04-03 08:17] Andersson007 commented on #16048
close_me

[2019-04-03 08:20] ffdybuster commented on #53854
CC @felixfontein

[2019-04-03 08:40] skiizzz opened #54773 "firewalld INVALID_SERVICE"
##### SUMMARY

I try to set ssh, snmp, http, https and dsn services on zone public with ansible

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Firewalld

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Centos 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected a normal change

##### ACTUAL RESULTS

And I obtained this:
[code]

But the

[2019-04-03 08:56] dagwieers commented on #49708
I have a playbook where I remove an existing printer, and create new ones (including making it default and disabling Windows managing the default printer). You can find it here:
https://github.com/crombeen/ansible/blob/master/printer.yml

Proper modules doing this would be very welcome. I would need:
- Add and remove PrinterDriver (removal using a regexp/glob)
- Add and remove PrinterPort (removal

[2019-04-03 09:00] dkarapanos commented on #46980
Hi,
just "python" packet has to be installed.
This is my recipe for full automation without preparing anything in the target/client machines.
In the "**hosts**" file:
[all:vars]
ansible_connection=ssh
ansible_user=root
ansible_ssh_pass=MyPassword

In my playbook for the initial setup of the target/client machine:

- name: Initial setup of an Ansible "client" host.
  hosts: all
  #become: true
  ga

[2019-04-03 09:02] caparisi commented on #28514
+1 same error in similar use case

[2019-04-03 09:03] t1hom7as commented on #48093
Running into the same issue.
Tried adding `ansible_persistent_log_messages = true` in my extra vars inside of Ansible Tower, but I didn't see any differences from the log output.

[code]

Are there any updates for this?
I did try and use @AMHAnsible9's workaround, but it still failed.

[2019-04-03 09:05] dagwieers commented on #49708
@daBONDi You modules look very interesting, it would be nice to see them ship with Ansible v2.9 !

[2019-04-03 09:10] #16048 closed, assigned to nobody

[2019-04-03 09:15] MarkusTeufelberger commented on #29951
About deprecations: Most/all(?) `crypto` modules are in "preview", so they can change in an instant. Would suck for users, but technically it would be OK. I'm not sure if `stableinterface` would be a good choice too though, (un?)fortunately Ansible doesn't really allow for versioning module API versions per module, only per Ansible version.

[2019-04-03 10:09] shamaljayalath commented on #54444
my apologies. Thought i updated already. I downgraded azure-mgmt-compute from 4.4.0 to 2.1.0 to resolve the issue as all have been working well since.

Thanks for your assistance,

[2019-04-03 10:19] raffienficiaud commented on #54413
Thanks a lot for the super quick fix. I'll test that for the next release.

[2019-04-03 11:05] tterranigma commented on #51667
Yes, my bad, I managed to reproduce this. Sth I noticed is that sth like:

[code]

results in another error:

[code]

Perhaps this is related to this issue here and how tags are handled by `include_role`?

[2019-04-03 11:30] eeroniemi opened #54779 "Tasks inside imported playbook having "loop + when" don't respect the import_tasks "when" criteria."
##### SUMMARY
Tasks inside imported playbook having "loop + when" don't respect the import_tasks "when" criteria.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux 3.10.0-957.10.1.el7.x86_64

##### STEPS TO REPRODUCE

Ansible project structure:

[code]

play.yml:

[code]

roles/test/ta

[2019-04-03 12:03] purplecarrot commented on #54734
Tests in 2.8.0 and same issue:

[code]

[2019-04-03 12:11] purplecarrot commented on #54734
-T is indeed an invalid option for mount in MacOS, and the mount.py module is incorrectly appending it because ansible.module_utils.basic get_platform() doesn't end with bsd:

[code]

On my system (my wife's old macbook air), get_platform returns Darwin which does not end in bsd

[code]

[2019-04-03 12:30] willlie1 commented on #51072
The bug mentioned by @kris2kris is resolved in keycloak 5.0.0. Could this issue be reopened, since the client does not properly handle changes with the protocol mappers.

Kind regards

[2019-04-03 12:34] purplecarrot commented on #54734
Although the -T option should never be added to command, is using an alternate path for fstab even support on MacOS/Darwin?

[2019-04-03 12:34] nkakouros opened #54780 "Unable to use regex_replace filter in tags keyword"
##### SUMMARY

When using `regex_replace` with `tags:` an error occurs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect the `qqq` tag to apply to the tasks of the included role.

##### ACTUAL RESULTS

[code]

I tried also the filte

[2019-04-03 12:39] claco commented on #50692
@cvoltz Cool! TIL. I'll have to recheck. There might be times this doesn't happen for some reason, depending on the Makefile, which I assume is why I noticed it always did a changed on me. Thanks for the tip!

[2019-04-03 13:16] y-viel commented on #29200
Issue still exists with Ansible 2.7.9 on Debian Stretch

[2019-04-03 13:25] dagwieers opened #54784 "win_reboot: ('Connection aborted.', error("(104, 'ECONNRESET')",))"
##### SUMMARY
Not sure if I have to report these, or whether they are intrinsic to using WinRM/PSRP and we can't avoid this. But it is a major PITA if we cannot avoid it.

After a reboot, the next task returns: **('Connection aborted.', error("(104, 'ECONNRESET')",))**

This does not happen every time, it is a rare occurrence.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_reboot

[2019-04-03 13:28] justjais commented on #54616
@marouim tagging this to Ansible version `2.9` milestone

[2019-04-03 13:28] eproxus commented on #23392
Using `paths:` doesn't even work. The following finds `tasks/main.yml` and not `vars/main.yml`:

[code]

[2019-04-03 13:38] awcrosby commented on #54129
@sivel in short no, ansible-lint does not currently work with deprecation warnings, more detail:
1. ansible-lint won’t encounter all deprecation warnings, such as having `ask_sudo_pass = True` in `ansible.cfg`, since it only looks at playbooks, role tasks, role handlers, and role metadata
2. For those deprecation warnings it does encounter, like seeing a deprecated module in a playbook task, those

[2019-04-03 14:07] bcoca commented on #23392
Let me clarify some things:
- `with_first_found` IS aware of the task action, if it has 'var' in the name, it will add 'vars' subdir to the searchpath when using include_vars.
- the `paths` option adds 'additional' paths to search, the basic search paths are always used
- the `ansible_search_path` variable will show the 'top level search paths used' , this always includes 'current task directory'

[2019-04-03 14:12] justjais commented on #52926
cc. @Qalthos

[2019-04-03 14:14] nkakouros opened #54786 "include_role does not complain about undefined variables"
##### SUMMARY

`include_role` does not complain when an undefined variable is used in one of the keywords, yet ansible exits with `1`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux latest

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Some error about the undefined varia

[2019-04-03 14:22] amarao opened #54787 "[invalid] rescue section does not continue play"
##### SUMMARY
Documentation says:
https://docs.ansible.com/ansible/latest/user_guide/playbooks_blocks.html#id2

"This will ‘revert’ the failed status of the task for the run and the play will continue as if it had succeeded." (This - 'rescue section').

In reality it does not allow to continue play after failure.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rescue.py

##### ANSIBLE VERSION

[2019-04-03 14:23] samdoran commented on #54556
I don't know `vdo` specifically, but the general technique you need to use is a version probe or feature probe. It could be something as simple as function that runs `vdo --version`, pareses it, and gives you a number. You can then use that information to get the right list of `statusparamkeys` or maybe removes certains keys if `>=` version 6.2.

[Here is an example](https://github.com/ansible/ans

[2019-04-03 14:30] bcoca commented on #54556
worst case, search for ` unrecognized arguments` in your return and inform the user that their version does not support all the options used.

[2019-04-03 14:36] angystardust commented on #52003
resolved_by_pr #52300

[2019-04-03 14:36] #52003 closed, assigned to nobody

[2019-04-03 14:36] drgogeta86 commented on #31218
OU'=VMS,OU'=Central DC,DC'=network,DC'=domain
even with this

[2019-04-03 14:46] ghost opened #54789 "manage_dir not working for authorized key module"
##### SUMMARY
The manage_dir option for the authorized key Module is not working as expected
so that permissions for an directory will be touched.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
authorized_key

##### ANSIBLE VERSION
ansible 2.7.9 installed via PIP

[code]

##### OS / ENVIRONMENT
Local OS: MacOS Mojave 10.14.3 with Python 2.7.10
Remote Server OS: Debian 9.8 with Python 2.7.13

[2019-04-03 14:52] kbreit commented on #53600
This issue may be resolved when #53576 is merged. TBD.

[2019-04-03 15:02] mkrizek commented on #54787
I don't see the rescue section in your `Steps to reproduce` example, only `always`. Can you clarify?

needs_info

[2019-04-03 15:06] raffienficiaud commented on #38199
I am also running into this issue, and I believe the bug report is right. Consider this:

[code]

with
[code]

It is impossible to get the `\` right in the `combine` command. I tried many different scenarios with `"` or `'`, and either I have the Jinja2 error, or I have `\\` in the string instead of `\` (really `\\` after flushing to a file).

[2019-04-03 15:15] Sec42 commented on #54724
I feeling you are not getting my point, let me make a last attempt at explaining myself.

`LOGNAME`is an environment variable. It is a convention that it is set to the current username, but it is not necessarily true.

I provided a real-world example where `LOGNAME` is set incorrectly in my previous comment.

As to your second/third paragraph: I never talked about `LOGNAME` after ansible is runnin

[2019-04-03 15:16] bobdoah opened #54790 "KeyError in aws_secret lookup plugin, region was not defined in configuration"
##### SUMMARY
I'm attempting to retrieve an AWS secretsmanager secret, using the aws_secret lookup added in  #48486. It's failing with a KeyError on region, despite having supplied it as an option.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`plugins/lookup/aws_secret.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Empty

##### OS / ENVIRONMENT
Debian 9.8

##### STEPS TO REPRODUCE

[2019-04-03 15:17] bgurney-rh commented on #54556
If the vdo command detects that an argument is unrecognized, it will already return an error.

However, in this case, the options that are not supported in the current version of VDO (i.e.: do not display in "vdo status", among the strings enumerated in "statusparamkeys") will result in the KeyError.

So I added this line, to filter on only the status parameter keys that exist in "vdo status":
[co

[2019-04-03 15:19] sivel commented on #54780
The problem here is that `tags` can be a string, potentially with commas to separate tags, or it can be a list.  Due to that, you are passing a jinja2 expression that contains a comma and it's breaking the expression once it's split on the comma.

So you should be able to achieve your goal with:

[code]

needs_info

[2019-04-03 15:26] bcoca commented on #54724
the misunderstanding is that 'become is ignored', I explained that we do when processing become.

Ansible itself does NOT query `LOGNAME` directly, but it does use Python APIs that include it in their resolution of 'what is my current user'.

This mainly affects 'local connections' since the `local` connection plugin uses `getpass.getuser()` to get the 'current user' and is fooled by the use of `L

[2019-04-03 15:29] jdavis-douglas-co-us commented on #43891
I think you mean VCenter 6.7

[2019-04-03 15:32] bcoca commented on #54780
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-03 15:32] #54780 closed, assigned to nobody

[2019-04-03 15:37] eproxus commented on #23392
@bcoca Interesting information, thanks!

It sound like including dynamic files can get all kinds of messy fast. I wanted to make a task that includes dynamic OS vars _and_ dynamic OS tasks. I guess this can include tasks by mistake when a variable file is not defined for that OS?

[2019-04-03 15:41] bcoca commented on #23392
my suggestion (top my head, might need fixes):
[code]
you can have many variations on this, but MAIN issue is 'do not include main.yml'

[2019-04-03 15:42] bobdoah commented on #54790
!component +lib/ansible/plugins/lookup/aws_secret.py
!component - plugins/lookup/aws_secret.py

[2019-04-03 15:43] jcsmith commented on #54129
@awcrosby By your description I would expect ansible-lint to print a warning when executed against the following playbook:

[code]
However it does not.  I am currently using anisble-lint version 4.1.0 and ansible version 2.7.9.

As it relates to my initial issue, I really don't care if the mechanism exists in ansible-playbook or ansible-lint but desire a mechanism to detect the use of deprecated f

[2019-04-03 15:46] sivel commented on #54129
Hrm, that squashing deprecation warning is a runtime warning.  I'm don't think that `--syntax-check` would be capable of supporting that.

[2019-04-03 15:51] winem commented on #52329
@samdoran Yes, you are right regarding the break out of the loop. Please see my suggested fix to handle this case.
And thank you for the hint with the pamd module! I'll check why this was not used.

[2019-04-03 15:55] jcsmith commented on #54129
That while concise was probably a poor example because in addition to squashing being deprecated so is the use of `with_items`.  I think both are runtime warnings which I think is the crux of the issue.

[2019-04-03 15:56] sivel commented on #54129
`with_items` is not deprecated in any form.

The squashing deprecation would happen using `with_items` or `loop`.

[2019-04-03 16:04] jcsmith commented on #54129
Ok, I see where my confusion came from with regards to with_items being deprecated:

https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#migrating-from-with-x-to-loop

states that `With the release of Ansible 2.5, the recommended way to perform loops is the use the new loop keyword instead of with_X style loops.`  At some point my brain conflated that with deprecation. Sorry fo

[2019-04-03 16:15] jcsmith commented on #54129
If we want a different perhaps less ambiguios example to work from:

[code]
definitely triggers the deprecated Jinja tests used as filters feature and neither `ansible-playbook --syntax-check` nor `anisble-lint`  have a mechanism to report on the use of such deprecated features.

[2019-04-03 16:21] jamescassell commented on #31879
Don't we generally treat uncaught exceptions/tracebacks as bugs? (Even if it is "user error" in this case, bad auth credentials?)

[2019-04-03 16:26] jackivanov commented on #54734
Oh, right, it's not supported, at least I couldn't find anything in the manual.

[2019-04-03 16:28] jackivanov commented on #54734
So, the docs probably needs to be changed? And now, it seems, that #48134 is more related to my use case

[2019-04-03 16:28] Akasurde commented on #54790
resolved_by_pr #54792

[2019-04-03 16:32] Rylon commented on #54332
I've got the same problem with `os_server` where the project name (which is our case is two letters `DE`) is marked as `no_log`, which then causes no end of values to be censored in the response. For example, every device on the system, `/dev/sda` becomes `/********v/sda` and so on.

I think it is indeed a core Ansible bug, I can see that the Openstack modules all build their argument spec by usin

[2019-04-03 16:38] #44412 closed, assigned to nobody

[2019-04-03 16:44] JosueCayola commented on #27677
me ocurio este error
ERROR! - you can use --ignore-errors to skip failed roles and finish processing the list.
es por que usaba mal el path
`ansible-galaxy install --roles-path=roles  geerlingguy.supervisor`

[2019-04-03 17:24] gator2003 opened #54797 "XML module causes a failure when setting an unquoted number as value through a jinja2 variable"
##### SUMMARY

Using the xml module causes a failure when setting an unquoted number as "value" through a jinja2 variable. The error is:

TypeError: Argument must be bytes or unicode, got 'int'

Putting \\" \\" around the variable is a workaround, but it puts the value in "" in the XML file, so I use another task to strip those out.

The following task works correctly:
[code]

##### ISSUE TYPE
- B

[2019-04-03 17:58] jamesdh commented on #54614
@angystardust @sivel I'm still "losing" the deepest dictionary (containing type/value data). It's not obvious at all how to get at that.

[2019-04-03 18:00] jamesdh commented on #54614
@angystardust this goes beyond just samples. This combination of Jinja filters and Ansible custom filters is difficult to work with at best. It feels like a misuse of the tool.

[2019-04-03 18:13] felixfontein commented on #53854
This is not a problem with the documentation, but with the code. Not specifying `direction` should also be allowed here. I'll create a PR to fix this.

[2019-04-03 18:22] felixfontein commented on #53854
resolved_by_pr #54799

[2019-04-03 18:26] FragmentedPacket commented on #45948
We've got a few modules merged for 2.8 - closing issue

[2019-04-03 18:26] #45948 closed, assigned to nobody

[2019-04-03 18:26] bryankennedy commented on #51860
The [github docs](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/vault.rst#use-encrypt_string-to-create-encrypted-variables-to-embed-in-yaml) have this warning:
[code]
So but they don't say anything about needing to hit Ctrl-D twice. Should we change the docs to say hit Ctrl-D twice? Or does hitting Ctrl-D twice add the first Ctrl-D to the encrypted value?

I was about t

[2019-04-03 18:28] felixfontein commented on #53854
@muffl0n thanks for identifying the PR; please also mention that the PR breaks something in the PR itself, so that the people involved will notice it a bit earlier :)

[2019-04-03 18:39] #54746 closed, assigned to nobody

[2019-04-03 18:43] muffl0n commented on #53854
Will do! Thanks for the fix!

[2019-04-03 18:46] sivel commented on #51860
@bryankennedy You are correct, pressing Enter will add that enter to your encrypted string.  It's an implementation detail that the only time the buffer is flushed is on EOF or line return.

So likely the docs, to some effect, need to be updated to indicate that you may have to press Ctrl-D twice.  The first to flush the buffer, the 2nd to read the buffer.  Potentially the prompt needs to be updat

[2019-04-03 18:56] twbowman commented on #54050
I was expecting at not an exception thrown but maybe a warning. The exception as far a I understand it would cause the playbook to stop until that interface was removed.  The reason the exception would be a problem is that I have been unsuccessful it getting the interfaces removed from the Arista config. This would cause an impasse.

[2019-04-03 19:24] jborean93 commented on #54784
A few questions;

* Does this happen on both psrp and winrm or have you only tried psrp?
* You say it's a rare occurance, does it happen for any reboot or just the one at this step?
* What did you do immediately before the reboot?

needs_info

[2019-04-03 19:28] felixfontein commented on #29951
Ansible modules usually avoid breaking backwards compabitility without warning, even if modules are marked as "preview".

[2019-04-03 20:04] ubermug commented on #22473
+1 to this idea.  We use a series of plays as it makes dealing with multiple inventory groups and roles with a large number of combinations of which groups need which roles, that made running multiple plays in the same playbook the easiest way to do this.  But we also have requirements that if certain tasks fail for any host, we need a full stop on the entire playbook. I could set a fact and call

[2019-04-03 20:29] wsill opened #54810 "Add Extended Statistic to ec2_metric_alarm"
##### SUMMARY

It would be nice if ec2_metric_alarm supported the extended statistic.

https://aws.amazon.com/about-aws/whats-new/2017/10/amazon-cloudwatch-adds-support-for-extended-metrics-retention-percentile-statistics-and-high-resolution-custom-metrics-and-alarms-in-the-aws-govcloud-us-region/

like it does in powershell's Write-CWMetricAlarm
https://docs.aws.amazon.com/powershell/latest/refer

[2019-04-03 20:37] davidf07 opened #54811 "ansible 2.7.9 unsupport msg"
##### SUMMARY

##### ISSUE TYPE
- Bug Report: Ansible is not working for me on my Centos 7 and Centos 6, all change still given unsupported Msg:

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

1- change sros_command to sros_config ==> no results
2- change ansible_connection: local to ansible_connection: cli ==> no

[2019-04-03 20:46] jenslauterbach opened #54812 "Capabilities Module Not Idempotent"
##### SUMMARY
The **capabilities** module is not idempotenet. Running it more than once causes two changes instead of just one.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[Capabilities](https://docs.ansible.com/ansible/latest/modules/capabilities_module.html)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

(When I run `ansible-config dump --only-changed` I get nothing)

#####

[2019-04-03 20:57] rambleraptor commented on #54694
I pushed up bug fixes for your `SyntaxError` which should fix that issue.

Quick background on why that issue was introduced. Right now, if you want to have resources interact together, you have to create the dependent resources in Ansible, register the output to a variable (dictionary) and then have final resource reference that dictionary.

This isn't ideal for people who don't want to create ev

[2019-04-03 21:01] tdubb123 opened #54814 "cannot get this playbook to work with inventory file"
I am having an issue with ansible/vmware. Trying to clone vms from an inventory file and playbook

inventory file:

[test-vms]
ans-test[01:05] 'disk'='60' 'memory'='2048' 'cpucount'='1' 'datastore'='VOL1-TEST' 'osid='windows9Server64Guest'

playbook yml file:

  vars_prompt:
    - name: "vcenter_hostname"
      prompt: "Enter vcenter hostname"
      private: no
      default: "vcsa"
    - name: "v

[2019-04-03 21:15] jborean93 commented on #54723
Hmm I can't seem to replicate this issue but it looks like it comes down to `$di | Get-Volume` returning `$null` which means it cannot access the `DriveLetter` property. The `$di` value itself can't be `$null` or else it would fail with

[code]

I tried stress testing my host so maybe WMI would return nothing under load but still no luck. Technically we could check if the result is `$null` before

[2019-04-03 21:28] #54070 closed, assigned to nobody

[2019-04-03 21:28] eganjs commented on #10829
+1

[2019-04-03 22:36] joaocc commented on #39903
Looks like a much  better option. Thx!

[2019-04-03 22:47] NewpTone opened #54819 "os_coe_cluster_template can't handle labels and docker_storage_driver well"
##### SUMMARY

The current choices for param docker_storage_driver misses 'overlay2'.
Param labels only accept string data type, and can not handle extra spaces or tailling newline well in key/value strings.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_coe_cluster_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[2019-04-03 23:55] rjsocha commented on #14426
My 3 cents:
Similar issue here. Same  error. I had no time to debug but what I  spotted:

1) This is network related (my connection is via HE6 tunnel to Ubunut 18.04->LXD containter). With one tunnel setup same error as above. With other tunnel setup works ok (I'm guessing here but this is propably MTU issue of some kind).
2. ANSIBLE_SSH_ARGS="ControlMaster=no" helps a little - connection stuck on

[2019-04-04 00:48] mattclay opened #54822 "Disabled integration test azure_rm_webapp"
##### SUMMARY

The `azure_rm_webapp` integration tests have been disabled because they fail.

The tests were disabled in https://github.com/ansible/ansible/pull/54821.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_webapp integration test

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

`ansible-test integration azure_rm

[2019-04-04 01:35] chenkaigithub opened #54823 "vmware_deploy_ovf.py not check variable “folder” is None or not"
##### SUMMARY

In ansible/modules/cloud/vmware/vmware_deploy_ovf.py
[code]
if not check whether folder is None or not,
vcenter will report an error "The operation is not supported on the object." if folder is none.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible/modules/cloud/vmware/vmware_deploy_ovf.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-04-04 02:06] ghost opened #54828 "ansible_distribution and ansible_lsb.id are strange on RHEL 8"
##### SUMMARY
`ansible_distribution` and `ansible_lsb.id` are strange on RHEL 8.

[code]

It appears that the vendor intends for the LSB ID to be `rhel`:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Setup module.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 8 Beta

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL

[2019-04-04 04:15] guoqiao opened #54834 "`when: path is file` is actually checking localhost not remote host"
##### SUMMARY

use tests in `plugins/test/files.py` with `when` is actullay checking localhost other than remote.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tests/files

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 18.04

##### STEPS TO REPRODUCE

Refer to following playbook example.

Although the file does exist on remote server, but the `w

[2019-04-04 04:15] nizarakbarm commented on #47736
@felixfontein It work, but i don't like to use ~/.my.cnf

[2019-04-04 04:22] felixfontein commented on #47736
@nizarakbarm `login_unix_socket: /var/lib/mysql/mysql.sock` is something to specify in Ansible. Have you tried that?

[2019-04-04 04:31] felixfontein commented on #47736
@efflamlemaillet to be more precise, it is not the Ansible module itself, but the Python MySQL connection library it uses. The old library, MySQLdb (which is based on libmysql), prefers Unix sockets, while the new library, PyMySQL, prefers a TCP connection. If you're explicit in your playbook/role and specify how to connect, that doesn't matter; but if you don't, it depends on which library the mo

[2019-04-04 05:00] michaelsmoody opened #54837 "Issue when using win_chocolatey to install webpi"
When attempting to install webpi via the win_chocolatey module, the following happens. Validated on several machines, and I saw no other issues on github relating to this. When running the command manually, no output is returned via the command prompt on the system, either ran normally, or in a command prompt as Administrator. Output below:

fatal: [192.168.1.100]: FAILED! => {
    "changed": fals

[2019-04-04 06:13] mkrizek commented on #54834
This is expected. From https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html:
[code]

Use can register a result of `stat` module and use that result in the `when` condition.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-04 06:13] #54834 closed, assigned to nobody

[2019-04-04 06:16] mkrizek commented on #54814
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-04 06:16] #54814 closed, assigned to nobody

[2019-04-04 06:22] mkrizek commented on #54811
[code]

The message you get says that you are passing `auth_pass` parameter to the `sros_command` module but no such parameter exists for the module. You also get a list of parameters that do exist.

https://docs.ansible.com/ansible/latest/modules/sros_command_module.html

[2019-04-04 06:22] #54811 closed, assigned to nobody

[2019-04-04 06:24] abadger commented on #52640
An updated openssh had been shipped on ubuntu 16 & 18 now. Marking this as p2.   It's a bit tricky as this isn't a regression so i don't think it blocks the 2.8 release but it is very important that we fix this

[2019-04-04 06:40] bmalynovytch commented on #21208
!needs_info

[2019-04-04 06:41] sac commented on #29296
This is a issue in playbook. This is how it should be written:

[code]
Here is another example:

[code]
Note that options is a dictionary value (Not a list, not a list of dictionaries. A single dictionary.)

[2019-04-04 06:42] sac commented on #29296
We can close this issue.

[2019-04-04 06:49] sac opened #54843 "gluster_peer: Use mode=script for peer detach/probe commands"
##### SUMMARY
With recent changes in Gluster commands. gluster peer detach will prompt for question.
Hence ansible appears to have been stuck, as it is waiting on the (y/n) prompt in the remote
node.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gluster_peer

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 28

##### STEPS TO REPRODUCE

[code]

####

[2019-04-04 07:25] #51818 closed, assigned to nobody

[2019-04-04 07:29] #54199 closed, assigned to nobody

[2019-04-04 07:35] nizarakbarm commented on #47736
Oke, thanks for your response. @felixfontein From your answer, it can help me to understand the reason of the problem.

[2019-04-04 07:42] Andersson007 commented on #29816
close_me

[2019-04-04 07:45] Andersson007 commented on #29816
I completely agree with yurikhan. So this issue should be closed

[2019-04-04 07:46] efflamlemaillet commented on #47736
The whole thing is to know if it should be considered as a bug ?
If so, perhaps the Ansible module could override PyMySQL default behaviour to make sure the module connect the same way when the driver installed is  MySQLdb or PyMySQL.

[2019-04-04 08:01] Bercik1337 commented on #4265
Oh, so I'm not the only one who thinks lack of PDF docs it's not just weird, but really unprofessional.

[2019-04-04 08:01] Fred-sun commented on #54822
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-04-04 08:10] mkrizek commented on #54787
As per above I am going to close this. Please use the rescue section as is described in the documentation link you provided in the issue description.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-04 08:10] #54787 closed, assigned to nobody

[2019-04-04 08:13] jchristi commented on #24388
Even with the multiple inventories supported in core, I've switched back to simply using symlinks to accomplish what I need in combination with using YAML for all inventory (combined hosts and variables). If you need something more complex than that then I suggest writing a custom inventory plugin. Writing custom plugins in Ansible is really not that hard.

[2019-04-04 08:33] rodolfocasas commented on #4265
Try this tool https://zealdocs.org/

I checked now and all modules documentation inside zeal were updated 15 days ago(15 March 2019). I know...it's not PDF, but it works offline and it is updated

[2019-04-04 08:49] tdaff opened #54846 "apache2_module does not enbale new .conf if module is already enabled"
##### SUMMARY

If a `.conf` file is created for an already enabled module `.load`, Ansible will not call `a2enmod` again to enable the config file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apache2_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian and Ubuntu

##### STEPS TO REPRODUCE

* In the playbook, have some action that enables an A

[2019-04-04 09:18] yurikhan commented on #29816
Maybe it should but then a new issue should be filed to address the general problem.

[2019-04-04 09:28] realhawker commented on #22716
+1

[2019-04-04 09:39] Andersson007 commented on #29816
gundalow removed postgresql label, it's enough for me :)

[2019-04-04 09:41] Tomorrow9 commented on #54467
@UnstableAlpha, hi, maybe you can also try adding "wait_for_customization" in the playbook firstly.
And another thing is if hostname or run once command can be executed successfully, then guest OS customization must be executed, only IP can not configured, we need to check if there are errors in GOSC logs. You can take a look at logs in below path:
%WINDIR%\Temp\vmware-imc\*
%WINDIR%\System32\Sysp

[2019-04-04 09:49] eproxus commented on #23392
@bcoca Thanks for the example! However, it breaks when no files are found:

[code]

Couldn't find a way to skip the error if no files were found (`skip: true` or `skip=True` didn't seem to apply here).

[2019-04-04 10:13] sm4rk0 commented on #54797
This should work:
[code]

BTW, @dagwieers, is this the best practice or should the module do this internally? Would internal cast create problems like #54387?

Also, I tried with `to_text` instead of `string` like [here](https://github.com/ansible/ansible/blob/devel/test/integration/targets/jinja2_native_types/test_casting.yml), but got:
[code]

[2019-04-04 10:50] amarao commented on #54787
My bad, sorry.

[2019-04-04 11:11] lithammer commented on #53872
To work around the issue you can pass `_ansible_tmpdir` in your `args.json`:

[code]

[2019-04-04 12:14] richlv opened #54851 "zabbix action operations created with empty subject and message"
##### SUMMARY
Create a trigger action with an operation, do not specify subject or message.

Operation is created with "Default message" unchecked, and with empty subject and message.

Additionally, in the documentation it is not clear what controls "Default message" option - from the code, it seems like specifying either subject or message (or both) is supposed to unset it, and leaving both empty

[2019-04-04 12:15] richlv commented on #51303
Two possible regressions, related to this improvement:

* #54671 (cannot create zabbix discovery actions)
* #54851 (zabbix action operations created with empty subject and message)

[2019-04-04 12:45] gun1x commented on #27065
@Tomorrow9 i see you fixed this on your fork. Will this get pushed to the official ansible modules?

This would be awesome (got this from your tests):
[code]

[2019-04-04 12:56] tterranigma commented on #25699
Is there a way to take the string `Nesting-{{ testvar }}` and using a lookup/filter/sth have it templated out to `Nesting-Should-Work`?

[2019-04-04 13:06] kees-closed opened #54855 "python2-dnf used instead of python3-dnf (Fedora 30)"
##### SUMMARY
Fedora 30 [obsoleted the package python2-dnf](https://apps.fedoraproject.org/packages/fedora-obsolete-packages). When the module package or dnf is used, it wants to run the command `dnf install -y python2-dnf`. This fails since this package is not present anymore. This should point to python3-dnf.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnf

##### ANSIBLE VERSION

[code]

[2019-04-04 13:21] mauhcs opened #54856 "Accept flag `ansible_python_interpreter` in cfg file."
##### SUMMARY

Ubuntu 18.10 comes with pip3 installed and no pip. To have Ansible work I need to have the following flag in my `inventory`  file, after each host name:

    [production]
    127.0.0.1  ansible_python_interpreter=/usr/bin/python3

##### ISSUE TYPE
- I would like to pass this flag in `ansible.cfg` and have it applied to all my hosts in my inventory.

##### COMPONENT NAME

The flag sh

[2019-04-04 13:21] bcoca commented on #23392
try errors=warning

[2019-04-04 13:32] goneri opened #54857 "VMware: vmware_cluster idempotency is broken with py3, Python exception instead"
##### SUMMARY

[code]

If we try to recreate a vmware_cluster, we get the following backtrace instead of a `changed=False`.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

vmware_cluster

##### ANSIBLE VERSION

[code]

[2019-04-04 13:35] bcoca commented on #54856
this is what `[all:vars] `is for

[2019-04-04 13:36] bcoca commented on #54856
fixed in 2.8 via:
[code]

[2019-04-04 13:36] #54856 closed, assigned to nobody

[2019-04-04 13:41] wojciech-kopras commented on #44708
It seems it got stuck a bit. A solution that seems to work on RedHat & Debian is below. Maybe it will be helpful:
[code]

[2019-04-04 13:45] mator commented on #47171
@chrahunt ok. that was aix7.1 . reinstalled to 7.2 today , no hang occurs even with default ansible ssh settings:

[code]

[2019-04-04 13:57] horseinthesky opened #54859 "netconf connection module doesn't read user's ssh-config if ansible_network_os is not specified"
##### SUMMARY
In this file https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/netconf.py

There is a block (line 292-301):
[code]

Which makes Ansible try to establish a connection even before the first play and also completely igrone user's ssh config if `ansible_network_os` variable is not specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf connectio

[2019-04-04 13:59] #53872 closed, assigned to bcoca, samdoran

[2019-04-04 14:04] Schroeffu commented on #17685
I am also interested on this. Simple upload with file module is taking the full bandwith in my scenario, upt o alerts due to massive paketloss in other services.
trottling would be great!

[2019-04-04 14:08] samdoran commented on #54556
If you can't do a version check, you can do a feature probe. This essentially means run the command and check the output or error code, as @bcoca suggested. Use this information to add in the extra options, if supported.

[code]

[2019-04-04 14:20] abadger commented on #52640
@jborean93 @mattclay I think I found a way that we can quote compatibly:

[code]

In other words, instead of passing interior quotes to scp, pass backslash escaped spaces to scp.

[2019-04-04 14:21] pjmcquade commented on #21588
Bump: Did this feature ever get implemented?

[2019-04-04 14:24] Gunni commented on #36615
This affects me, see https://github.com/ansible/ansible/pull/39649#issuecomment-479914862.

[2019-04-04 14:39] twbowman commented on #54050
I submitted a bug fix. This bug fix does a silent ignore instead of doing a warning or exception.

[2019-04-04 14:41] bl4u90 opened #54865 "Logging on stderr slows down the win_shell module"
##### SUMMARY
Logging on stderr slows down the win_shell module.

Running a Python script, for example, using the `win_shell` module, which generates some logs to stderr, slows down the execution time of the module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- win_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Executing Ansible on MacOS 10.13.6

[2019-04-04 14:48] jota3c commented on #37259
+1 for this

[2019-04-04 14:49] jinnabaalu opened #54867 "What is the difference between runing playbook on ansible host and from Jenkins"
##### SUMMARY

Failed to connect to the host via ssh: Host key verification failed

I have set of EC2 instance, i want to do application automation through jenkins UI using ansible plugin.
##### ISSUE TYPE
- Bug Report
I am able to run the playbooks from the ansible host, but not from the jenkins UI using ansible plugin.
##### COMPONENT NAME

jenkins ansible plugin, ec2 instance with pem file

###

[2019-04-04 14:50] bcoca commented on #54867
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-04 14:50] #54867 closed, assigned to nobody

[2019-04-04 14:54] jean-christophe-manciot commented on #4355
@bcoca
I had the same issue with:
[code]
For some unknown reason, the directive ```become: yes``` is not enough; ```become: root``` is also necessary here.
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
**Without ```become: root```**:
[code]
leads to:
[code]
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
**With ```become: root```**:
[code]

[2019-04-04 14:55] abadger commented on #52640
@jborean93 @mattclay, yeah, the fix is to change connection/ssh.py to quote spaces in the remote path with backslashes instead of calling shell.quote() on them.

[2019-04-04 15:11] Sec42 commented on #54724
Your statement about this being a python bug intrigued me.

It is indeed true that ansible is using
`self._play_context.remote_user = getpass.getuser()`
in `./plugins/connection/local.py`

`getpass.getuser()` is indeed being stupid and looking at environment variables before trusting the system. Probably in a misguided attempt to avoid importing the `pwd` module.

I am however surprised to see ans

[2019-04-04 15:12] ManveerBhullar commented on #31999
There is still interest for this feature, it would help our use case.

[2019-04-04 15:15] JinnaBalu commented on #54867
Thanks @bcoca I am posting in google groups. closing thisa ticket now

[2019-04-04 15:17] larsmaes commented on #47978
I updated my docker-compose to 1.24 but the problem remains

[2019-04-04 15:19] sivel commented on #54131
We have recently discussed this both internally and in the core IRC meeting and have decided to instead make this an opportunity for a documentation update.  Adding another toggle was strongly opposed.

So for now, we should update docs to indicate that when reading local facts in INI format, that keys will be lowercased.

In the future we may decide to deprecate and remove the INI format, in favo

[2019-04-04 15:24] goneri commented on #54857
Similar backtrace with `vmware_datastore_facts`, this time the module is just broken:

[code]

[2019-04-04 15:31] UnstableAlpha commented on #54467
Hi @Tomorrow9 - thanks for the update. "wait_for_customization" is not listed as a parameter on the [vmware_guest](https://docs.ansible.com/ansible/latest/modules/vmware_guest_module.html) module page. Is it a simple boolean (or true/false) statement?

[2019-04-04 15:52] goneri opened #54869 "VMware: vmware_datastore_facts: RuntimeError: dictionary changed size during iteration"
`vmware_datastore_facts` is broken with Python3:

##### SUMMARY

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_datastore_facts

##### ANSIBLE VERSION

[code]

[2019-04-04 15:57] sivel commented on #54855
Ansible 2.7 still defaults to executing `/usr/bin/python` which would point to python2.  You would have to explicitly set `ansible_python_interpreter=/usr/bin/python3` to use Python3.

The dnf module selects the appropriate dnf python bindings package that needs installed based on the version of python that is being executed on the remote side.

[2019-04-04 15:59] sivel commented on #54823
The `if` statement checks whether the value is `None`.

https://github.com/ansible/ansible/blob/134b77961be61fd5189275f09847b2e3d0d7df5b/lib/ansible/modules/cloud/vmware/vmware_deploy_ovf.py#L371-L374

So a value of `None` should not fall through to `self.si.searchIndex.FindByInventoryPath`, unless you are somehow passing in the string value of `"None"`

[2019-04-04 16:01] sivel commented on #54823
needs_info

[2019-04-04 16:11] avihaie opened #54871 "Add new managed storage domain is not possible"
##### SUMMARY
Add new managed storage domain

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module which should have the logic is right here:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/ovirt/ovirt_storage_domain.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[root@storage-ge-09 ~]# cat /etc/redhat-release
Red Hat Enterpri

[2019-04-04 18:08] dglinder commented on #50529
So, the fix here was to add these Python modules to the underlying core OS package "World" and not just to the Tower virtual environments.  Is this a problem in the way Python and/or the "k8s" module checks for pre-requisites, or is it a AWX pre-requisite checking failure?

[2019-04-04 18:20] felixfontein commented on #27065
@gun1x the PR #35370 (by @DBendit) has been merged and will be included in Ansible 2.8 ([see here](https://github.com/ansible/ansible/pull/35370#issuecomment-432117641)).

[2019-04-04 18:37] jamesdh opened #54876 "git module hanging with no output"
##### SUMMARY
git module hangs with basic clone example when running with `connection: local`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 10.14.4

##### STEPS TO REPRODUCE

Using a very basic example of the `git` module running against localhost with `connection: local`, the git module hangs wit

[2019-04-04 18:40] fabianvf commented on #50529
As far as I know the `k8s` module isn't doing anything different with module discovery/loading, so I would guess the issue is something to do with Tower + virtualenv + ansible python interpreter discovery.

[2019-04-04 18:44] michaelsmoody commented on #54837
ansible 2.7.9 on macOS 10.14.3 running against Windows Server 2016 host.

However, it appears that I was able to work around this with https://github.com/ansible/ansible/issues/53860

Seems this is probably a duplicate of #53860

[2019-04-04 18:53] schewara commented on #54555
Tests look good from my side and the Network gets correctly created.

[code]
@felixfontein Thank you very much. :bowing_man:

-----
**For reference**
Unfortunately QNAP does not provide a way to install pip packages and the API also seems to have issues with certain requests, therefore the solution to get it working was the following.

1. Install the [Entware](https://github.com/Entware/entware) P

[2019-04-04 18:58] speshuric commented on #32166
I've faced the same problem.
It seems that path quotation should be reviewed deeply, but the particular case can be patched "ad hoc".

In the file [ssh.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/ssh.py) I've just changed the line

[code]
to
[code]

**NOTE:** this is not right solution in common, but there is fix for those who need fast hack
PS: this issue is s

[2019-04-04 19:01] speshuric commented on #47022
Same in the  #32166

[2019-04-04 19:22] davidf07 commented on #54811
Hi GitHub Support

Thank you very much appreciated it. I have removed

Auth_pass:

authorize: yes

Connection:cli

from my playbook. Now I don’t have unsupported msg: but the failed message “RC”: -32603   <<=====  message.

Best regards

David f077

From: Martin Krizek [mailto:notifications@github.com]
Sent: Thursday, April 04, 2019 02:23
To: ansible/ansible <ansible@noreply.github.com>
Cc: davidf

[2019-04-04 19:24] nickma82 commented on #41934
I also had to install python-influxdb.

[2019-04-04 19:29] jamesdh commented on #54876
FWIW, using the shell module as a workaround worked just fine:

[code]

[2019-04-04 19:32] felixfontein commented on #47978
CC @sluther

[2019-04-04 19:33] UnitedMarsupials commented on #38684
Unfortunately, basing on `inventory_file` and `inventory_dir` only works for a _single_ inventory. Supplying multiple `-i` arguments will cause the same hosts to have a (seemingly) random value in `inventory_file`. For example, we have three instances of the same application sharing three separate servers:

[code]
[code]
[code]

Applying a task:
[code]
works reliably only when ansible-playbook is

[2019-04-04 19:33] felixfontein commented on #54555
@schewara awesome! Thanks a lot for testing this!

[2019-04-04 19:43] liviozanol opened #54878 "IOSXR does not commit properly"
##### SUMMARY
In some cases, after you send a "commit" command to a device, you need to confirm the commit before its applied. Since cliconf/iosxr.py doesn't process this confirmation, the playbook execution timesout.

All iosxr modules that changes configuration and needs to apply a commit (exception to "commit replace") is affected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/cl

[2019-04-04 19:44] #54555 closed, assigned to nobody

[2019-04-04 20:12] jborean93 commented on #54865
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * The `win_shell` module is not designed for running executables but rather running shell commands like `Get-Item` (PS), `dir` (cmd) and lots more
   * The `win_

[2019-04-04 20:12] #54865 closed, assigned to nobody

[2019-04-04 20:20] gun1x commented on #27065
Thanks for the heads up. We are currently using this in our automation on all runners:
[code]
This workaround is OK on archlinux and on ubuntu 18.04 if installing ansible with pip3.

Keep up the good work! can't wait to see 2.8 in the repos!

[2019-04-04 20:20] jborean93 commented on #52640
Using `\` to escape spaces is not enough to continue working the way it does today. It would solve paths with spaces in them but we would now need to escape other chars like `$` as using `'` before meant those weren't evaluated.

[2019-04-04 20:28] natefoo commented on #54812
This behavior is documented. Please see #47156 where improvements are discussed and in progress.

[2019-04-04 21:10] bcoca commented on #25699
https://docs.ansible.com/ansible/latest/plugins/lookup/vars.html

[2019-04-04 21:11] jenslauterbach commented on #54812
@natefoo Thank you for your response! I'd be ok if you close this ticket.

[2019-04-04 21:29] bcoca commented on #53861
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

so .. executable is NOT a variable

this does nothing:
[code]

it is an 'option' for several modules and can be used in an `args:` sect

[2019-04-04 21:29] #53861 closed, assigned to bcoca

[2019-04-04 22:30] mitchellmaler commented on #50529
I was having this issue on a Mac using the homebrew version My fix was to remove the homebrew version of Ansible and install using pip.
`brew remove ansible && pip3 install --user ansible`

[2019-04-04 22:41] jborean93 commented on #52640
Added a further comment on https://bugzilla.mindrot.org/show_bug.cgi?id=2966, will wait until we get a reply.

[2019-04-05 00:51] vxrailgithub commented on #54823
Result of FindByInventoryPath could be none，so should check folder then continue？

[2019-04-05 01:01] #53543 closed, assigned to nobody

[2019-04-05 01:19] #22663 closed, assigned to nobody

[2019-04-05 01:52] lpossamai opened #54885 "purestorage sdk is required"
Hi guys. Not sure if this is the right place for this.

I am trying to use the [Pure Storage Snap Module](https://docs.ansible.com/ansible/latest/modules/purefa_snap_module.html?highlight=pure%20storage), but I'm getting the following error:

[code]

yaml file:
[code]

I already have the purestorage python module installed; and I am not running this remotlely:
[code]

Ansible version:
[code]

[2019-04-05 02:09] #54534 closed, assigned to nobody

[2019-04-05 02:10] chenkaigithub commented on #54823
Result of FindByInventoryPath could be none，so should check folder then continue？

[2019-04-05 02:33] ghost opened #54886 "k8s module failed to execute simple 'get pods' ansible playbook."
##### SUMMARY

In the Ansible 2.8.0 or the latest release, have issue with k8s module. This module and this exact playbook works fine last month without any issue. nothing changed or updated in my laptop but the ansible-playbook is failing with the errors.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- k8s module in ansible 2.8.0 dev0

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[

[2019-04-05 02:36] kbreit opened #54887 "Meraki - get_nets() fails if no networks are in an organization"
##### SUMMARY
Almost all Meraki module use the utility function `get_nets()` when starting. However, Meraki returns `404` when there's no networks in an organization. The module utility doesn't handle this well.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki

##### ANSIBLE VERSION

[code]

[2019-04-05 02:45] kbreit commented on #54887
Just kidding. This isn't true.

[2019-04-05 02:45] #54887 closed, assigned to nobody

[2019-04-05 02:51] willthames commented on #54886
That's a problem with your kube config file - looks like a base64 value is incorrectly encoded.

We see this from time to time - if this is indeed the case for you can you confirm whether the incorrect key is from the context you're trying to use - I wonder if python reads more base64 values than kubectl does

[2019-04-05 04:47] Akasurde commented on #54885
!component =lib/ansible/modules/storage/purestorage/purefa_snap.py

[2019-04-05 04:51] Akasurde commented on #54869
resolved_by_pr #54870

[2019-04-05 06:12] jmazzitelli opened #54889 "k8s lookup plugin fails to decode ConfigMap using label_select"
##### SUMMARY

Have a ConfigMap in Kubernetes, try to look it up using label_select:

[code]

See it fail:

[code]

Now look it up using resource_name (not label_select) and see it succeed:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s lookup plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OpenShift 3.11

##### STEPS TO REPRODUCE

Crea

[2019-04-05 06:40] Akasurde commented on #54857
@goneri Are you using `govcsim` or vCenter ? I am not able to reproduce this issue on vCenter.

needs_info

[2019-04-05 07:10] danci1973 commented on #50946
Ansible documentation disagrees (https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html):

**ignore_unreachable**
    _Boolean that allows you to ignore unreachable hosts and continue with play. This does not affect other task errors (see ignore_errors) but is useful for groups of volatile/ephemeral hosts._

Why in the world would you try executing tasks on a machine

[2019-04-05 07:21] Woytek-Polnik opened #54891 "Playbook loads group vars of the last host group( in alphabetical order)"
##### SUMMARY

Executing playbook for a `group` loads groups_vars of the last **`host`** `group`(different one)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Irrelevant

##### STEPS TO REPRODUCE

`hosts.yml`
[code]

`group_vars/Test1/all.yml`
[code]

`group_vars/Test2/all.yml`
[code]

`pla

[2019-04-05 08:01] queria commented on #46533
Hm, i could use this too.
But seems this is duplicate of issue 14130, and as such it's more of feature request.

[2019-04-05 08:17] sundeepk1 commented on #52598
is it better to run with paramiko or native ssh ?

[2019-04-05 08:42] mkrizek commented on #51667
My understanding is that this is basically a duplicate of https://github.com/ansible/ansible/issues/54618 and will resolved by https://github.com/ansible/ansible/pull/54687.

[2019-04-05 09:10] devdil commented on #34141
try adding remote_user: root

[2019-04-05 09:20] h-hirokawa opened #54896 "The output of win_command / win_shell become corrupted with some commands in Japanese."
##### SUMMARY
Some windows commands do not support Unicode yet, and when the system default display language is Japanese, the output encoding become [cp932](https://en.wikipedia.org/wiki/Code_page_932_(Microsoft_Windows)).
However, Ansible treats stdout/stderr as UTF8 and replace invalid chars to `�`, so the cp932 output become corrupt[ed.

Since it is difficult to automatically determine the corr

[2019-04-05 09:30] Akasurde commented on #54843
resolved_by_pr #54895

[2019-04-05 09:39] #54843 closed, assigned to nobody

[2019-04-05 09:40] #54719 closed, assigned to nobody

[2019-04-05 10:05] ivansche commented on #53859
There was no output since the step was just hanging. But I've changed the .netrc mode to 775 and it worked. Thank you for the feedback!

[2019-04-05 10:20] mkrizek commented on #53859
Closing as per above.

[2019-04-05 10:20] #53859 closed, assigned to nobody

[2019-04-05 10:20] sebastianw opened #54897 "Allow lookup modules as src for junos_config"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
modules/network/junos/junos_config

##### ADDITIONAL INFORMATION
Currently the `src` parameter in the `junos_config` module can only reference a filename on disk and **NOT** a lookup. To use for example the template engine without temporary files it would be nice if the src parameter could also contain the config itself so it can be used with a

[2019-04-05 10:24] ndswartz commented on #43772
I just added a pull request (#54816) that will address these improvements.  They can be found in the module's response under the following fields: netapp_hostside_interfaces, netapp_management_interfaces, netapp_storage_array, and netapp_controllers. Also, these will be specifically available when querying the E-Series web services on device directly not through the proxy.

[2019-04-05 10:27] danowar2k opened #54898 "[2.7] ansible.py hangs at __import__ sometimes"
##### SUMMARY
I can't reproduce any debug output as the cause seems to be deep in Python's builtin function __import__
https://github.com/ansible/ansible/blob/087587ec48052906f6aaf1d5725681b79fcf4126/bin/ansible#L90

Here, right at this line, ansible sometimes hangs for sometimes a minute before continuing.
If I replace the line with
[code]
everything runs normal again (it seems, no hangs as of no

[2019-04-05 10:27] h-hirokawa commented on #54896
Now I'm working on it.
https://github.com/h-hirokawa/ansible/tree/fix-54896

[2019-04-05 10:43] Akasurde commented on #54467
@UnstableAlpha `wait_for_customization` is added in version 2.8, you can check docs in devel - https://docs.ansible.com/ansible/devel/modules/vmware_guest_module.html

[2019-04-05 10:55] vatsalparekh opened #54900 "[KubeVirt] Creating a VM from template fails"
##### SUMMARY

Creating a VM from template fails with the error

[code]

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubevirt_vm
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-05 10:58] vatsalparekh commented on #54900
@machacekondra I also wonder what would be the output with `template_parameter` taking `name` and `kubevirt_vm` also asking it (what if different). Same confusion around namespace and resources, template would have a value and `kubevirt_vm` can also be given those values.

[2019-04-05 11:02] gtema commented on #42409
I will take care of it

[2019-04-05 11:47] tristanbes commented on #34144
This issue is still happening for  `ansible 2.7.8`

[code]

outputs
[code]

I tried also:

[code]

which gives the same password too.

[2019-04-05 12:09] goneri commented on #54857
It's a real vmware environment.

[2019-04-05 12:22] Kassec commented on #20493
+1, need this. I just wrote a role that does some sanity checks on systemd reloads (some apps do not report errors but still don't restart properly) and I'll have to duplicate the same code over several places to circumvent this limitation.

Any status update from core team ?

[2019-04-05 12:28] rbo commented on #54652
The main problem was, I use the OpenStack admin account. That admin account has access to more than one projects and can see all default security_groups. It looke like ansible or shade?  cannot select the right default security group .

[2019-04-05 12:44] OncleDave opened #54904 "bigip_profile_client_ssl fails when default(omit) filter is used on chain parameter"
##### SUMMARY
bigip_profile_client_ssl fails when adding a default(omit) filter on the chain parameter, and not defining it in the input parameter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bigip_profile_client_ssl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
Use this param variable
[code]
Setting the following line as

[2019-04-05 12:51] Akasurde commented on #54621
@goneri Thanks for reporting this issue. `folder` parameter should include absolute path when you have multiple level of folder. So this value for you will be - `folder: /dc1/host/Staging`

needs_info

[2019-04-05 12:56] danowar2k commented on #54898
!component /bin/ansible

[2019-04-05 12:59] pkliczewski commented on #54900
@machacekondra please take a look

[2019-04-05 13:17] goneri commented on #54621
Thanks, `vcenter_folder` does not have this limitation. The two modules use both a parameter called `folder` but the format is different.

[2019-04-05 13:35] tterranigma commented on #25699
@bcoca This does not template out the value of the variable. `"{{ lookup('vars', 'varname') }}"` still returns `Nesting-{{ testvar }}`.

[2019-04-05 13:46] bcoca commented on #54891
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Hosts are defined one way in inventory, we always look at the 'WHOLE' host independently on how you selected it. Groups are just 'prope

[2019-04-05 13:46] #54891 closed, assigned to nobody

[2019-04-05 13:52] sivel commented on #54823
Ah, I see.  I didn't understand that from your initial description. This clarifies your concern.

[2019-04-05 14:01] bcoca commented on #25699
it does do templating, unlike `vars[]`, but it does not do nested templating,

[2019-04-05 14:28] bcoca commented on #46533
`omit` is there to remove 'module options' not task keywords, as @queria states, this would be a feature request to expand the usage of `omit`.

[2019-04-05 14:35] caphrim007 commented on #54904
@OncleDave this is explained by sivel here

https://groups.google.com/forum/#!topic/ansible-project/Gz1WYxpqIy0

""
That is due to "omit" only working for top level keys (arguments of the module) and not sub keys.
"""

[2019-04-05 14:40] sivel commented on #54904
I think this may have been fixed in 0d068f1e3afe21a81295584bfb8ddd621bc54e8d but it doesn't look like that was backported to 2.7

Which would mean it should be resolved in devel/2.8, that would just need to be confirmed.

[2019-04-05 14:43] caphrim007 commented on #54904
thanks for the tip @sivel. @OncleDave do you have the ability to try the devel version of Ansible to see if the problem is addressed there?

[2019-04-05 14:52] bcoca commented on #51757
-1 you need to make those fields work with the new config system before you can change the docs, previous PR #51776 already introduced variables that DONT WORK.

[2019-04-05 14:52] samdoran commented on #54461
I have a few ideas how to solve this. Could you provide the output of `grep test1 /etc/security/passwd`, or an example of the `/etc/security/passwd` file (with sensitive bits redacted)? If the [documentation](https://www.ibm.com/support/knowledgecenter/en/ssw_aix_71/com.ibm.aix.files/passwd_security.htm) I found is correct, I think the format of this file is fundamentally different than other plat

[2019-04-05 14:53] simonpie commented on #23777
Does not work for me with ansible 2.7.8

[code]

generates

[code]

[2019-04-05 14:58] dthvt commented on #54745
This was fixed in #54744, closing.

[2019-04-05 14:58] #54745 closed, assigned to nobody

[2019-04-05 15:04] bcoca commented on #31342
closing as per above

[2019-04-05 15:04] #31342 closed, assigned to nobody

[2019-04-05 15:07] darknao commented on #54461
Here you go :
 /etc/security/passwd
[code]

[2019-04-05 15:13] kylix3511 commented on #54886
Oh ok. Thanks 🙏 Will. Very strange. There is no chance in the in Kube Config file nor with Kubernetes cluster. Everything is or was the same. Only thing I did to upgrade Ansible 2.8.0.

How to fix this issue ? Please let me know the commands to fix this issue. ( I don’t have python 🐍 base64 Details )

Please help.

[2019-04-05 15:16] Val opened #54908 "Unexpected UNIX rights change after acl module call"
##### SUMMARY

Unexpected UNIX rights (eg. non-ACLs ones) change after **acl** module call.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

3 tasks doing:
1. create `/tmp/foo` directory with `0750` mode
2. add `user:nobody:rX` rights to this directory
3. create `/tmp/foo` dir

[2019-04-05 15:19] sivel commented on #31418
Thank you very much for your report.

The cause to this is that you are specifying your inventory host incorrectly.  We do not recommend specifying `user@host` as that is actually defining that string as the literal hostname.

The way ansible expects this to be supplied is via:

[code]

We place the square brackets around the host to support IPv6, but this functionality works for hostnames and IPv

[2019-04-05 15:19] #31418 closed, assigned to nobody

[2019-04-05 15:21] bcoca commented on #32005
!component =lib/ansible/plugins/connection/lxc.py

[2019-04-05 15:22] jimi-c commented on #31751
Closing This Ticket
===================

Hi!

Our apologies for taking a while to respond back on this, however I believe this is based on a misunderstanding of how role de-duplication works. To be removed from consideration, a role must execute at least one task. Otherwise, roles in a "diamond" pattern of dependencies which were skipped due to tags or conditionals in one branch would be skipped i

[2019-04-05 15:22] #31751 closed, assigned to nobody

[2019-04-05 15:24] samragu opened #54909 "with_items in wrong order over multiple hosts"
##### SUMMARY
with_items on a list having a sub-list runs in wrong order on a second host

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
with_items include_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

Run attached playbook

[code]

##### EXPECTED RESULTS

When each host is run individ

[2019-04-05 15:26] bcoca commented on #31223
!component =lib/ansible/modules/packaging/os/pacman.py

[2019-04-05 15:26] samdoran commented on #32016
Fixed by #51350

[2019-04-05 15:26] #32016 closed, assigned to nobody

[2019-04-05 15:30] bcoca commented on #19274
closing as per above

[2019-04-05 15:30] #19274 closed, assigned to nobody

[2019-04-05 15:33] sivel commented on #19376
I have verified that this is fixed in recent releases:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-05 15:33] #19376 closed, assigned to nobody

[2019-04-05 15:35] bcoca commented on #19469
closing as per above

[2019-04-05 15:35] #19469 closed, assigned to bcoca

[2019-04-05 15:35] mkrizek commented on #54908
Possibly a duplicate of https://github.com/ansible/ansible/issues/29739?

[2019-04-05 15:37] Val commented on #54908
@mkrizek : Yes, but it's a feature, not a bug, see `recalculate_mask: no_mask` option. Closing.

[2019-04-05 15:37] #54908 closed, assigned to nobody

[2019-04-05 15:38] bcoca commented on #19973
closing as per above

[2019-04-05 15:38] #19973 closed, assigned to nobody

[2019-04-05 15:41] Val commented on #29739
See `recalculate_mask: no_mask` **acl** module option since 2.7. From *setfacl* man :
[code]

[2019-04-05 15:41] mkrizek commented on #29739
Closing as per above.

[2019-04-05 15:41] #29739 closed, assigned to nobody

[2019-04-05 15:42] bcoca commented on #20135
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is not an issue with inventory variables vs group_vars, its is a host variable, which always has precedence.

In the future, this

[2019-04-05 15:42] #20135 closed, assigned to nobody

[2019-04-05 16:03] samdoran commented on #20360
In the first play in the example playbook it is targeting `!__partitioned` before the group is created by the `group_by` task. When wanting to group_by facts, the first play needs to gather facts. This first play should target all the hosts and not use the `local` connection in order to first gather facts then create the group. Then subsequent plays in the same playbook can target the group.

[cod

[2019-04-05 16:03] #20360 closed, assigned to nobody

[2019-04-05 16:04] bcoca commented on #20448
closing as per above

[2019-04-05 16:04] #20448 closed, assigned to nobody

[2019-04-05 16:10] bcoca commented on #20545
`vars` is an undocumented variable and not meant for user access, see the `vars` lookup instead:

https://docs.ansible.com/ansible/latest/plugins/lookup/vars.html

[2019-04-05 16:10] #20545 closed, assigned to jimi-c

[2019-04-05 16:13] bcoca commented on #22533
fixed in commit above

[2019-04-05 16:13] #22533 closed, assigned to nobody

[2019-04-05 16:24] samragu commented on #54909
The issue seems to be with the presence of sub-lists in the main list variable (grandchildren). Note that grandchildren exists only on the first three children and the second host starts with fourth child. If you add grandchildren to the fourth child, second host will start on the fifth child as the first item

[2019-04-05 16:43] acozine opened #54914 "Azure modules should URL-encode secrets to allow non-ASCII characters"
##### SUMMARY
If you store your Azure secrets in a file, and they contain non-ASCII characters, you must URL-encode them. If you do not, you get an authentication error. A note about this behavior was added to the documentation by #54401.

Handle the encoding of authentication secrets in the code. Fixing this involves two steps:

- [ ] add logic to encode non-ASCII characters around here:
https://

[2019-04-05 16:48] bcoca commented on #54129
that would requrie  --syntax-check to execute tempating .. which might break if  `- set_fact: bar=x` is in that playbook ant required for bar to exist ... so to get that type of error you need to RUN the playbook.

--syntax-check is only able to handle 'playbook object definitions' it won't be able to handle 'templating issues' as per above, nor deprecation of module nor module options (all those

[2019-04-05 16:48] f3rdy opened #54915 "Empty default vars file breaks ansible run"
##### SUMMARY

Since #36357 it is possible to structure role variables in separated files e.g. in `role/defaults/main/{a,b,c}_vars.yml`. When one of these files is empty (that is, contains no variables) the ansible-playbook breaks with error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

It's about variable loading.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

!component

#

[2019-04-05 17:15] sivel commented on #54129
I don't know how lint implements rules, but we have a sanity check for using jinja tests as filters

https://github.com/ansible/ansible/blob/devel/test/sanity/code-smell/no-tests-as-filters.py

[2019-04-05 17:22] sivel commented on #54909
Duplicate of https://github.com/ansible/ansible/issues/36978

[2019-04-05 17:22] #54909 closed, assigned to nobody

[2019-04-05 17:34] samdoran commented on #16792
Docs have been updated to clarify this behavior. See [Role Duplication and Execution](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html?#role-duplication-and-execution) and [Role Dependencies](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html?#role-dependencies).

[2019-04-05 17:34] #16792 closed, assigned to gundalow

[2019-04-05 17:45] mattclay commented on #54898
!component -test/runner/lib/cli.py

[2019-04-05 17:46] mattclay commented on #54898
!component +bin/ansible

[2019-04-05 17:48] mattclay commented on #54898
@danowar2k Please provide information about how you're invoking ansible. There isn't much anyone can do to troubleshoot this issue without details on how to reproduce it.

[2019-04-05 17:50] samdoran commented on #20169
Role depencies are working as designed. Since `allow_duplicates: true` is set in `./roles/dependency_1/meta/main.yml`, `dependency_1` is allowed to run multiple times even though it has the same role signature (tags, vars, etc.)

See [Role Duplication and Execution](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-duplication-and-execution) for further information

[2019-04-05 17:50] #20169 closed, assigned to nobody

[2019-04-05 17:56] bcoca commented on #54129
linting is separate --syntax-check just 'compiles' the playbook and ensures that step works, which would only fail if invalid playbook object syntax is used.

[2019-04-05 18:02] philayres commented on #31418
@sivel - before you throw this out, can you explain to me how to manage the following:

In `hosts` I need two entries that effectively point to the same hostname:

[code]

I don't believe that `ansible_user=` forces Ansible to treat the two entries separately, so the hosts don't get handled correctly.

It has been a while since I looked at this, but maybe you can consider how to do what I'm trying

[2019-04-05 18:19] danowar2k commented on #54898
Um...okay, I'll try to give some more info...

Host OS: Windows 7 64 Bit
Ansible CM server type: Virtual Machine
Hypervisor: VirtualBox 5.2.24

Provisioner: Vagrant 2.2.1
Vagrantbox: bento/ubuntu-18.04 (virtualbox, 201812.27.0)

Windows terminal: mintty 2.9.0 (x86_64-pc-msys) (part of git for Windows)
git: git version 2.19.0.windows.1

I could also provide you with my Vagrant configuration...
Or w

[2019-04-05 18:32] stephenl03 opened #54919 "become_method isn't honored"
##### SUMMARY
If the method of escalating is defined in the inventory file, ansible does not respect the become_method on the command line or in the playbook

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
become_method

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Host: Fedora 29
Target: Ubuntu16.04, RedHat 7.6

##### STEPS TO REPRODUCE
ansible inventory

[2019-04-05 18:33] jopicornell commented on #28952
Hi there,

I think this is related, if not I'll open an issue. I'm trying to install `pyopenssl` with this task:
[code]

and I get an error:
[code]

But it says "Successfully installed".

[2019-04-05 18:36] sivel commented on #31418
You have a few options.

You can use hostname aliases instead of groups:

[code]

Or you can continue using those as groups, but create an additional alias:

[code]

We don't normally watch closed issues, so If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-05 19:20] #50546 closed, assigned to Akasurde

[2019-04-05 19:43] bgurney-rh commented on #54556
I seem to have found a fix.

(Ignore the "result['foo'] = foo" lines; I used those with "ansible-playbook -vvv ..." to check the contents of a few dictionaries during exectuion)

[code]

So my original theory when building the module was to filter out any "unsupported" parameters.  However, when the "Read cache" and "Read cache size" fields in "vdo status" were no longer present in VDO 6.2, that r

[2019-04-05 19:52] michaelsmoody commented on #54837
While this did solve the error, it now hangs. Next steps please?

[2019-04-05 19:58] kbachand opened #54920 "gcp_compute plugin giving errors and not returning expected results"
##### SUMMARY

gcp_compute plugin is not working correctly to bring in gcp inventory. I am getting errors.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute plugin
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOSX Mojave version 10.14.2
All servers attempting to work with are Ubuntu 16.04 and 18.04

##### STEPS TO REPRODUCE

[code]

##### EXP

[2019-04-05 20:12] maxamillion commented on #54855
What module are you using? The Ansible Core `dnf` module doesn't call the dnf cli, it uses the native python API so the output you're getting doesn't seem relevant.

needs_info

[2019-04-05 20:17] samdoran commented on #54461
Thank for very much for the sample data. I'll work on a fix for this.

[2019-04-05 20:39] samdoran commented on #19050
This is working as designed. Handler _names_ are not templated, but you can use variables for values in handlers.

[code]

[2019-04-05 20:39] #19050 closed, assigned to nobody

[2019-04-05 21:10] goneri opened #54927 "VMware: vmware_dvs_portgroup: range in vlan_id does not work"
##### SUMMARY

[code]
I use VSphere 6.7.
This should work, the documentation of `vlan_id` says:

    The VLAN ID that should be configured with the portgroup, use 0 for no VLAN.
    If vlan_trunk is configured to be true, this can be a range, example: 1-4094.

I get the following error:

[code]
If I use a regular integer for `vlan_id`, it works fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2019-04-05 21:19] samdoran commented on #19956
Templating dict keys is not something we can easily solve. See [this comment](https://github.com/ansible/ansible/issues/20613#issuecomment-289083161) for further information.

[2019-04-05 21:19] #19956 closed, assigned to nobody

[2019-04-05 21:23] s-hertel commented on #54920
It looks like you're missing the google-auth library.
[code]

[2019-04-05 21:49] #27165 closed, assigned to nobody

[2019-04-05 22:20] danowar2k commented on #54898
What's the best practice for debugging a running Python app in 2019? Any modern libraries for getting a stacktrace, adding debug output or other useful things for this kind of problem?

[2019-04-05 22:22] UnitedMarsupials commented on #35448
I'm trying a very similar thing -- insert a new row into an XHTML table. The XHTML begins thus:
[code]
The inserting task is:
[code]
There are no errors. The `debug: var=html` right after the above yields:
[code]
So, it finds the table alright, but then does not insert any children into it... Why?

[2019-04-05 22:26] victorock commented on #36988
is anyone working on this?

[2019-04-05 22:29] tdavison784 commented on #54876
@jamesdh I notice in your repo parameter you are using "ssh://git@github.com:jamesdh/dotfiles.git" can you please try again with the  following parameter value: "git@github.com:jamesdh/dotfiles.git"

While trying locally I have not been able to reproduce error but I did get resolution errors due to the ssh:// portion of the value.

[2019-04-05 23:13] Bilge commented on #54661
I don't think it's old since it's the first format currently documented in `man 8 sshd` under _SSH_KNOWN_HOSTS FILE FORMAT_ on Ubuntu bionic.

[2019-04-05 23:20] nitzmahone opened #54932 "azure_rm_rediscache needs to block by default on provisioning ops"
##### SUMMARY
Currently, the `azure_rm_rediscache` module returns when the Create or Update operation completes, however this means that in general, the cache is not in a usable state, so further attempts to modify or use it will fail. This is even evident in the tests, most of which require polling the facts module to wait for the ProvisioningState to be Succeeded.

Should probably have a new `wa

[2019-04-06 00:21] crosson commented on #44864
Sorry for the delay. Here are two different resposnes. netconf and network_cli_output. You can see the netconf output is significantly shorter.

[network_netconf_output.txt](https://github.com/ansible/ansible/files/3050001/network_netconf_output.txt)
[network_cli_output.txt](https://github.com/ansible/ansible/files/3050002/network_cli_output.txt)

[2019-04-06 00:27] crosson commented on #44864
Here is the output of your script and also the raw SSH output if I just log myself in.

[junos_command_execute.txt](https://github.com/ansible/ansible/files/3050004/junos_command_execute.txt)
[junos_command_via_ssh_only.txt](https://github.com/ansible/ansible/files/3050005/junos_command_via_ssh_only.txt)

[2019-04-06 05:24] andrebengaly commented on #53863
Do you have any idea ?

[2019-04-06 05:30] lpossamai commented on #54885
So.. doing some digging.

The Playbook I'm using is:
[code]

tasks/take_snapshot.yaml:
[code]

Now, if I replace "hosts: dbservers" for "hosts: localhost", it works. So that means it was indeed trying to connect to "dbservers" and then running the commands.
I did check the dbservers host and I can see purestorage sdk is also installed there.

[code]

How can I fix the missing purestorage sdk error

[2019-04-06 06:20] Genzer commented on #21588
@pjmcquade : I think @WooDzu had implemented in his PR. See #22978. However, according to the code reviews, the decision was made such that it would not be merged.

[2019-04-06 11:42] joakimberg commented on #43884
I've also experienced this when target hosts (Ubuntu 18.04.2 LTS) are running Python 2.7.15rc1. Some AnsiballZ_setup.py-script is pushing 100% cpu while gathering facts, until it times out.

It works fine when changing the target host interpreter to python3, so I guess it may be some issue with running ansible on ubuntu's release of python 2.7?

I tested back and forth with ansible_python_interpre

[2019-04-06 12:25] rightaway opened #54944 "Option for copy module to include newline"
##### SUMMARY

The `copy` module should have a feature to include a newline at the end when using `content`. You can quote the data and add a `\n` but that makes the rule look less clean than if we could add a `newline: true` argument to the rule and have it append a newline.

##### ISSUE TYPE
- Feature Idea

[2019-04-06 14:08] RamBoddapati commented on #18432
Hi Friends, I have tried with retry file. its worked for me. I used as below.

ansible-playbook --limit @/home/ansible/playbooks/createFiles.retry createFiles.yaml

[2019-04-06 17:38] cryptolukas commented on #34989
Why we cannot make it possible to say ...
[code]

It is much simpler as all other discussed solutions here.

[2019-04-06 19:18] MarkusTeufelberger commented on #42726
CoreOS seems to have the same issues on Ansible 2.7.10. Seems to be somewhere deep inside the `id()` function in https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/distro/_distro.py

Maybe the vendored code from https://github.com/nir0s/distro needs to be updated? Pinging @abadger since he has a PR open over there.

[2019-04-06 19:49] kucharskim commented on #30944
I'm not sure is behavior of `default()` filter working only one level deep is on the Ansible or Jinja2 side, but would it be possible to consider a feature which would allow filter default value  with any depth nesting of dicts?

[2019-04-06 20:12] sumkincpp commented on #30944
@kucharskim actually, this would be a great feature. I believe this should be considered on Jinja2 side.

[2019-04-06 20:51] Titerote commented on #43405
I have just tried it out with 2.7.9 , same error

[2019-04-06 22:13] blinkesto opened #54945 "Amazon Web Services Guide Sample Not Working"
##### SUMMARY

Using the sample from the "Amazon Web Services Guide"

[code]
gives:

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

add_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Mojave

##### ADDITIONAL INFORMATION

[2019-04-06 22:18] Titerote commented on #43405
The problem does not seem to be in the terraform module, but in the terraform cli itself.

If you run a terraform apply -state=somefile.tfstate myproject , the state files will be created in the current working directory no matter what combinations of the -state file you use.

I don't know if it might make sense to have an execution_path argument to the module that can be used as the path where th

[2019-04-06 23:29] westurner opened #54949 "dnf: successful etckeeper commit causes successful package install to fail"
##### SUMMARY

When etckeeper commits, dnf package installs (that are successfully installed) fail.
It may be due to the etckeeper output preceding dnf output?

Workarounds:
1. in `/etc/etckeeper/etckeeper.conf`, set `GIT_OPTIONS="-q"`
   - This is suboptimal, because I generally want to see the git output when running `etckeeper commit` (and in the ansible logs, TBH)

##### ISSUE TYPE
- Bug Repor

[2019-04-06 23:34] westurner commented on #54949
Here's all this, which isnt really necessary:

[code]

[code]

[2019-04-07 01:41] cigamit commented on #54712
There were a good bit of errors fixed beyond the 2.5.X versions, have you tested this with a recent version of Ansible?

[2019-04-07 05:03] ckoester2 commented on #46187
Sorry, completely missed the question to me above.

IMHO the quota property is simply named `injected_file_content_bytes`, and `injected_file_size` is not a valid property name. That said, I do not know if there were or are plans in the OpenStack community to rename this quota. I suppose the original implementation in the os_quota module, using `injected_file_size`, was done for a reason.

I would

[2019-04-07 09:20] rubentsirunyan commented on #54671
Yes, this is definitely a regression from #51303.
It is not mentioned in [Zabbix API documentation ](https://www.zabbix.com/documentation/4.0/manual/api/reference/action/object)that this parameter is only valid for '_Trigger_' actions.

[2019-04-07 09:31] richlv commented on #54671
Good point - want to report it upstream or should I do it?

[2019-04-07 10:06] rubentsirunyan commented on #54851
@richlv, I think everything works as expected.
You are correct, '_default message_' is checked when either of `message` or `subject` is specified in the operation. If you do not specify `message` or `subject` in the operation and `default_message`, `default_subject` at the action level the action would be created with empty _default message_ and _default subject_ but with the _default message_ che

[2019-04-07 10:16] richlv commented on #54851
The problem is that in the latest version "Default message" is left unchecked even when no subject or message is specified - that is, actions are created in a way that sends completely empty messages.
This works properly in earlier versions of the module.

[2019-04-07 11:09] avishefi commented on #50778
I agree, the module should install or uninstall a program. Other use cases should be handled by invoking msiexec directly using a shell command.

[2019-04-07 12:37] smueller18 commented on #47978
@larsmaes I guess ansible loads an older version of docker-compose. Please execute the following tasks and check which version is used by ansible:
[code]

[2019-04-07 13:43] roeezab opened #54954 "docker_container log_driver and log_options cause container recreation (always)"
##### SUMMARY
Hi,
I saw that there are already issues about this, but all of them (which I found) are close although the issue is still here.
The issue is that using log_driver + log_options parameters cause the container to be recreated every time ansible runs.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-04-07 13:57] felixfontein commented on #54954
This is a problem of integer vs. string. If you specify the log options as follows:
[code]
(i.e. make sure that the argument to `max-file` is a string) then no restart will happen.

[2019-04-07 14:05] felixfontein commented on #54954
#54955 will fix this, and will also print a warning when this happens (since value to string conversions can have unintended results, like when you specify `no`, it would result in `False` being passed on; or if you pass `1.10`, it will be passed as `1.1`, etc.).

[2019-04-07 14:19] roeezab commented on #54954
What a simple solution :) Thanks for your answer and for the fix!

[2019-04-07 14:19] #54954 closed, assigned to nobody

[2019-04-07 14:32] robinro commented on #54846
@tdaff
Can you please
- specify which distribution and version you are using and
- give a minimal working example, i.e. a playbook that can directly be run in a minimal docker image of your OS to reproduce the issue?

It sounds like you are referring to a feature of the debian/ubuntu a2enmod, that is not available on other distros like SUSE.

[2019-04-07 16:38] abadger commented on #42726
2.7.10 is using the stdlib's functions.  2.8.x will be the first to use distr.  I don't work on Ansible's code anymore, though, so someone else will have to look into updating distro.  I know that my PR was merged but I don't know if that would solve this problem.

[2019-04-07 17:08] abadger commented on #42726
to diagnose any problems with the distro-based code, we probably need to know what is being returned, what we expect to be returned and the contents of /etc/os-release.

[2019-04-07 17:19] devdil opened #54956 "VMware: need an option to attach serial device to the virtual machine"
##### SUMMARY
Currently the latest documenation doesn't show how to attach a serial console to the virtual machine

##### ISSUE TYPE
An option in the vmware_guest module to attach a serial device to the virtual machine.

##### COMPONENT NAME
vmware_guest

##### ADDITIONAL INFORMATION

[code]

[2019-04-07 17:20] devdil commented on #54956
@Akasurde Can you please check if the feature is there or is it issue in documentation?

[2019-04-07 18:20] mrk-its commented on #54519
As temporary solution I recommend copying jenkins_job,py file to local [library](https://docs.ansible.com/ansible/latest/dev_guide/developing_locally.html) directory and apply above patch there.

[2019-04-07 19:01] n0trax commented on #54846
@tdaff i can repoduce this issue at least on Ubuntu 18.04.

As a workaround for the described problem you have to disable the affected apache2 module and then enable it again.

[code]

Currently apache2_module does not enable a module again if it is already active. Because of that a new configuration will not be activated by apache2_module.

@robinro How should we deal with this? IMHO this is a ra

[2019-04-07 19:13] MarkusTeufelberger commented on #42726
The error I'm getting on CoreOS `2023.5.0`:

`hostname module cannot be used on platform Linux ()`

The contents of `/etc/os-release`:

[code]

Ansible version is 2.7.10.

I'd expect the hostname module to invoke `hostnamectl` on that machine.

[2019-04-07 20:10] nolte commented on #43405
@Titerote please try the Version from the Existing Pull Request #53909,
The version is easy to install with `pip install git+git://github.com/nolte/ansible.git@devel`

[2019-04-07 20:45] a-da opened #54963 "DynamoDB on-demand mode now"
There is a new option now, like "on-demand"  write_capacity and read_capacity.

DynamoDB on-demand is available globally in all commercial regions., they're telling in their announcement: https://aws.amazon.com/blogs/aws/amazon-dynamodb-on-demand-no-capacity-planning-and-pay-per-request-pricing/

Based on this issue from SAM https://github.com/serverless/serverless/issues/5535

There is no such op

[2019-04-07 22:47] dglinder commented on #50529
I'm suspecting that too, but my support engineer at RedHat says that since the "k8s" module is not part of the core that RedHat provides, his options are limited.  I guess I'll take my work-around for now and hope that future modules the teams need don't require a conflicting module.

If anyone has any pointers on where to start debugging the version checking within the virtualenv I'm all ears.

[2019-04-07 23:36] willthames commented on #50529
`python_requirements_facts` is really the only thing we have to see what is going on within a virtualenv - but that will only tell you that something is wrong, not why.

There does seem to be a parallel AWX issue for this (ansible/awx#2462) - this problem seems to be more about AWX/Tower than the `k8s` module, so perhaps it's worth following up there?

[2019-04-07 23:43] Kiarashz opened #54964 ""y" is not evaluated to True using bool filter"
##### SUMMARY
Found that neither "y" nor "Y" will be evaluated to True when bool filter is applied.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
bool filter that normally is used in conditional checks.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

$ ansible-playbook check_boolean.yml
Grant Sudo

[2019-04-07 23:45] Kiarashz commented on #54964
According to Yaml syntax [in here](https://yaml.org/type/bool.html) all below string values should be evaluated to True:

 y|Y|yes|Yes|YES|true|True|TRUE|on|On|ON

[2019-04-08 00:59] #54529 closed, assigned to nobody

[2019-04-08 01:27] yungezz commented on #54932
wait_for_provisioning makes sense from user perspective. will add it.

[2019-04-08 02:17] dglinder commented on #50529
Thanks @willthames  that does seem quite familiar.

[2019-04-08 03:16] kbreit opened #54968 "EOS connection settings isn't clear"
##### SUMMARY
Reading the EOS platform options (https://docs.ansible.com/ansible/latest/network/user_guide/platform_eos.html) I am unclear about what the connection settings should be. Currently it states:
[code]
However, the logic is a little confusing. Using mathematical notation which of the following is it?

1. `(ansible_connection: httpapi OR ansible_connection: local) AND transport: eapi`
2.

[2019-04-08 03:22] Fred-sun commented on #54607
@b3rgman Thanks for your reporting , Could you can give your playbook? Thanks!

[2019-04-08 03:28] Fred-sun commented on #54155
@yuwzho

[2019-04-08 03:41] #51387 closed, assigned to nobody

[2019-04-08 05:41] Fred-sun commented on #52068
@just-dimitarslavkov Thanks for your reporting, Could you reply the above comments? Thanks!

[2019-04-08 06:12] mgamboa commented on #53043
Hi any updated about this
Traceback (most recent call last):
  File "vmware.py", line 40, in <module>
    content = connect(hostname, username, password)
  File "vmware.py", line 12, in connect
    si = SmartConnect(host=hostname, user=username, pwd=password, port=443, sslContext=context)
  File "/usr/lib64/python2.7/site-packages/pyVim/connect.py", line 838, in SmartConnect
    raise Exception("%

[2019-04-08 06:32] Fred-sun commented on #49659
@zikalino

[2019-04-08 06:50] adidasv111 commented on #19290
I have the exact same issue, except there is a remote in the repository, but it is named `upstream` instead of `origin`.

[2019-04-08 07:07] LeDOC666 commented on #54343
Hi @Akasurde could you test those 2 cases ?

[2019-04-08 07:38] chenkaigithub commented on #54823
Thank you. It's better to check folder is existing in the cluster.

[2019-04-08 07:44] nomadcz opened #54975 "Please add support of facts gathering HBA info on Linux OS"
##### SUMMARY

Current "setup" module doesn't report HBAs and their WWNs/State/Speed etc.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

setup

##### ADDITIONAL INFORMATION

Similar to https://github.com/ansible/ansible/pull/52091

This is related info as reported from Linux OS:
[code]

[code]

[2019-04-08 07:48] OncleDave commented on #54904
Hi Sivel and Caphrim,

I cannot test it right now as the machine is shared with other developers but I will let you know as soon as I have the opportunity to test it.

Thank you.

[2019-04-08 07:54] larsmaes commented on #47978
This is the output:

 "out.stdout": "docker-compose version 1.24.0, build 0aa59064"

[2019-04-08 08:27] Srija2495 opened #54977 "win_copy azure ansible module not working"
##### SUMMARY
Hi Team,

We are trying to automate the installation of tools in azure using ansible. VM spin up is successful and we are trying to invoke the powershell script(code for tools installation) so the files has to be installed on the server.

Tried number of ways using win_copy command for copying the files to remote server but no luck.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2019-04-08 08:43] #54851 closed, assigned to nobody

[2019-04-08 08:43] #54671 closed, assigned to nobody

[2019-04-08 09:05] Akasurde commented on #53043
@mgamboa Could you please provide output of these commands ?
[code]
[code]

Also, make sure that you are running vCenter / ESXi on 443 port if not then specify respective port number in config

needs_info

[2019-04-08 09:39] markfqs commented on #36924
I would like also this feature,

In turn will also be quite useful to allow the 'uncompress' of the downloaded archive to a destination. This way will allow to deploy applications without having to clone the whole repository.

[2019-04-08 09:48] lpossamai commented on #54885
This has been solved.

This is an issue with Python and not ansible.

[2019-04-08 09:48] #54885 closed, assigned to nobody

[2019-04-08 09:53] mgamboa commented on #53043
[root@rundeck01 ansible]# curl -k --verbose https://192.168.152.25:443/sdk/vimService.wsd1
* About to connect() to 192.168.152.25 port 443 (#0)
*   Trying 192.168.152.25...
* Connected to 192.168.152.25 (192.168.152.25) port 443 (#0)
* Initializing NSS with certpath: sql:/etc/pki/nssdb
* skipping SSL peer certificate verification
* SSL connection using TLS_RSA_WITH_AES_256_GCM_SHA384
* Server cert

[2019-04-08 09:57] Srija2495 commented on #54977
component name: win_copy

[2019-04-08 10:02] mkazam opened #54980 "save files without overwriting previous ones"
tasks:
- name: Backup sh run to files in output dir
ios_command:
provider:
timeout: 30
commands:
- show run
register: print_output

- name: save output to a file
  copy: content="{{ print_output.stdout[0] }}" dest="./output/{{ inventory_hostname }}.txt"

Someone mentioned adding the below to the code but I don't know how to:
Try adding an timestamp to your output filename {{ansible_date_time.date}

[2019-04-08 10:09] mkazam commented on #54980
component name - saving output to file ??

[2019-04-08 10:11] mkrizek commented on #54980
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-08 10:11] #54980 closed, assigned to nobody

[2019-04-08 10:50] Asgoret commented on #47287
@sivel doesn't work in 2.7.7

Ansible version:
[code]

Code:
[code]
Handler:
[code]
Error:
[code]

[2019-04-08 11:24] PulsatingQuasar commented on #48470
Running 2.7.7 here and indeed I can't override vars in include files via import_playbook module.

[2019-04-08 11:47] Gloupier opened #54981 "jump host does not work with network_cli"
##### SUMMARY
jump host works with ssh or paramiko but not with network_cli

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible is installed on:
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic

target device:
cisco ISR4431/K9 (1RU) processor with 1648597K

[2019-04-08 11:55] neilalexander commented on #54723
The issue only seems to happen sporadically, and I've only noticed it on one machine (which gets wiped back to a blank snapshot often enough) although I haven't really tried this method on other machines yet – haven't got that far!

I'm wondering whether the issue might be related to if the ISO file gets overwritten/redownloaded before mounting? I am not really sure how Windows detects if a file i

[2019-04-08 12:08] neilalexander commented on #54723
Hm, never mind. I don't believe the local copy of the ISO is being rewritten before the second re-mount after all. The `win_get_url` task has `force: no` and it does not report `changed` status.

[2019-04-08 12:18] AlKult opened #54983 "global name 'purestorage' is not defined"
##### SUMMARY
When running a Pure Storage playbook, getting "global name 'purestorage' is not defined" even though pip reports that the purestorage module is installed.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
purestorage

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 7.5
pip 19.0.3 (python 3.6)
Python 3.6.6
[code]

##### STEPS TO REPRODUCE
$ ans

[2019-04-08 12:49] #53854 closed, assigned to nobody

[2019-04-08 13:14] AdrianDutu opened #54985 "wait_for port timeouts even though port is accesible"
##### SUMMARY
wait_for timeouts every time when waiting for port 9042 to be accessible.
I can telnet to the IP of the node and port 9042 from the ansible host, also from the host itself.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
wait_for

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7
Python 2.7.5

##### STEPS TO REPRODUCE
1. Use the playbook b

[2019-04-08 13:21] AnderEnder commented on #54985
@AdrianDutu,

According the module output the `host` was set to `dict` instead of ip address. ` ansible_default_ipv4` fact is a dict:
[code]

This should work:
[code]

[2019-04-08 13:23] jamesdh commented on #54876
@tdavision784 yep, you're right. I prefixed it with `ssh://` due to the example on the [ansible git module page](https://docs.ansible.com/ansible/latest/modules/git_module.html).

[2019-04-08 13:29] AdrianDutu commented on #54985
@AnderEnder Oh, damn. I saw that dict there and thought it's weird that it's a dict and not an ip. Didn't think to look at the fact. Thanks.

[2019-04-08 13:29] #54985 closed, assigned to nobody

[2019-04-08 14:13] digifuchsi opened #54986 "VMware: vmware_dvswitch module: add a parameter to set the folder of dvswitch"
##### SUMMARY
Module vmware_dvswitch should allow you to set the folder where the DVS should be created

##### ISSUE TYPE
add a parameter like _folder_name_ to parse a folder name for the DVS to be created in

##### COMPONENT NAME
vmware_dvswitch

##### ANSIBLE VERSION
[code]

##### ADDITIONAL INFORMATION
I have created a quick and dirty patch to be able to set a folder using the get_folder_by_nam

[2019-04-08 14:14] tdavison784 commented on #54876
@jamesdh Gotcha gotcha. Yeah it looks like that example may be wrong and or needs an update. It appears that git@github will translate into ssh:// in the git module. That is according to #36963

[2019-04-08 14:16] vijayscsa commented on #50299
friends,  my deployment of vcenter fails with the below error when I use ovftool method of ansible:

Opening OVA source: http://<containerIP>/VMware-vCenter-Server-Appliance-6.7.0.20000-10244745_OVF10.ova
The manifest validates
Opening VI target: vi://root@esxhost:443/
Deploying to VI: vi://root@esxhost:443/

Transfer Failed
Error: File (VMware-vCenter-Server-Appliance-6.7.0.20000-10244745_OVF10-d

[2019-04-08 14:22] Qalthos commented on #54552
This issue was resolved some time ago as you note. As for a more holistic solution, we are of course always striving for that, but are limited to what can feasibly be accomplished while streaming characters from a remote device.

[2019-04-08 14:22] #54552 closed, assigned to nobody

[2019-04-08 14:25] natefoo commented on #54812
duplicate_of #47156

[2019-04-08 14:34] #54812 closed, assigned to nobody

[2019-04-08 14:37] asarubbo opened #54988 "docker_image module: more compression algorithms"
##### SUMMARY
Support more compression algorithms in docker_image

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
docker_image

##### ADDITIONAL INFORMATION
Actually the docker_image module support archive_path which aims to to what 'docker load' does.
With docker save I'm able to do the following
```docker save image > file.tar```
But I'm also able to do:
```docker save image | xz > file.t

[2019-04-08 14:45] bgurney-rh commented on #54556
Updated patch that fixes the bug (without the extra "result['foo'] = foo" lines):
[code]

[2019-04-08 14:45] Akasurde commented on #54983
!component =lib/ansible/modules/storage/purestorage/purefa_facts.py

[2019-04-08 14:47] Akasurde commented on #54986
@digifuchsi Thanks for suggesting this feature. Would you be interested in raising a PR with your findings ? Thanks.

needs_info

[2019-04-08 14:50] ckotte commented on #54986
The existing PRs should be merged. I put lots of effort in them but no one cares..

[2019-04-08 14:57] Akasurde commented on #54986
@ckotte May I know which PR is pending for merge ? I will try to expedite the merge process.

[2019-04-08 15:06] kincl commented on #41227
FYI it looks like the PR mentioned above was closed and the new PR for this work is in #50923

[2019-04-08 15:10] doublefx commented on #43134
Hi,

My backend (swift) does not support workspaces and I get this:

"Failed to list Terraform workspaces:\r\nnamed states not supported\n"

I would expect it does not fail.

[2019-04-08 15:26] pffs opened #54991 "Serial plays failing on handler flush"
##### SUMMARY

When running plays in `serial`, the play will fail with the `NO MORE HOSTS` message on completion of handlers. This does not occur every time. Running a playbook with 1000 hosts, I have had it fail anywhere from 30 hosts to 400 hosts when running with a `serial: 15`.

When enabling default debug, the specific section causing play termination is https://github.com/ansible/ansible/blo

[2019-04-08 15:29] felixfontein commented on #44669
@davidmarkstartapp I assume you're trying to talk to me?

There is not "the" idempotence error for `docker_container`, there were many and a lot have been fixed. Have you found one which is still there? If yes, please provide details.

And yes, 2.7.9 should be mostly fixed (same as 2.7.10), at least all errors I know about, though I fixed a new one a couple of days ago (#54954).

[2019-04-08 16:03] #54786 closed, assigned to sivel

[2019-04-08 16:30] WRJFontenot commented on #51204
Confirmed this issue is resolved in Ansible 2.7.9.

[2019-04-08 16:30] #51204 closed, assigned to nobody

[2019-04-08 17:13] smueller18 commented on #47978
@larsmaes Can you try to reproduce the issue without ansible like I described it in https://github.com/docker/compose/issues/6447#issue-397572106?

[2019-04-08 17:18] IPvSean opened #54996 "missing deprecation guide for boolean conditionals"
##### SUMMARY
I started getting warnings on conditionals where I use booleans
[code]

Talking to @sivel it seems that when evaluating booleans with Ansible conditionals (the when parameter) we are now advising Ansible users to always use bool evaluations by using the `|bool` parameter .  This is because in certain cases the boolean is evaluating incorrectly when dealing with strings.  The `|bool`

[2019-04-08 17:26] felixfontein commented on #53854
The fix will be included in 2.7.11 (and of course 2.8.0).

[2019-04-08 17:43] rrey commented on #43134
@doublefx : you should file à new issue !

[2019-04-08 17:52] davidmarkstartapp commented on #44669
@felixfontein ohh sorry, yes I meant you :)
These are my templates:

[code]

Thanks for your help!

[2019-04-08 17:57] felixfontein commented on #44669
Well, that's precisely the problem I mentioned above (#54954). You need to quote the integer parameter in `log_options`:
[code]
This is fixed in #54955 (will convert to `str` automatically and warn the user if something has to be converted).

[2019-04-08 18:01] ac-hibbert opened #55001 "k8s lookup plugin errors Requires the OpenShift Python client. Try `pip install openshift`. Detail: No module named 'openshift'""
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s lookup plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Works

##### ACTUAL RESULTS

I have the following in defaults.yml

ansible_python_interpreter: "/usr/bin/env python"

And the regular k8s modules for configuring res

[2019-04-08 18:15] fabianvf commented on #55001
Unlike modules, lookup plugins are executed by the controller (and therefore on the same host as the controller), and I think will use whatever python interpreter is running ansible. Is the openshift python client installed in the same environment as ansible?

[2019-04-08 18:27] davidmarkstartapp commented on #44669
I tried to change the `max-file` to string as you mentioned and still get the same results.
Do you have an idea about the stop / remove plays, why they also have idempotent error?

[2019-04-08 18:27] hibbert commented on #55001
This is all running on my laptop (there is no controller) and I have the following variables in default

[code]

Possibly there is something else I need to set. It seems to be using /usr/bin/python but only for the lookup as the other k8s stuff is working with that config

[2019-04-08 18:30] felixfontein commented on #44669
What exactly are you executing that you get idempotence problems? Above you have listed some *tasks*, not *playbooks*.

[2019-04-08 18:31] felixfontein commented on #44669
If you run the version from `devel` (which will become 2.8.0), you can use `--diff` to see why `docker_container` is seeing changes.

[2019-04-08 18:35] fabianvf commented on #55001
Sorry, by controller I meant "machine running Ansible", so your laptop would be the controller in this case. How did you install Ansible? If Ansible is not installed in the same environment as the `openshift` python module I don't think the lookup plugin will find it (if you're just using the lookup plugin to retrieve resources from the cluster, I recommend the [`k8s_facts`](docs.ansible.com/ansib

[2019-04-08 18:35] bcomnes commented on #12259
@sivel, or @jimi-c can you edit @sivel's comment to add a note about how it no longer works on newer macOS, or to tell the reader to keep reading the rest of the thread?  Superficially, it looks like a reasonable suggestion, but it actually doesn't work and can screw up your computer in weird and hard to fix ways.  Jut got bit by that, as it looks like a few others.

[2019-04-08 18:43] davidmarkstartapp commented on #44669
It's just a simple role with 5 tasks which are login to private registry, pull the relevant image and then the stop / remove / run as copied above.

Also, where can I add the `--diff` when I run the `molecule test` command?

[2019-04-08 18:47] felixfontein commented on #44669
I've never used molecule. Do I assume correctly that it runs all the five tasks twice in a row, to see whether the second run has any changes?

In that case, it's not surprising at all that there are changes, because you are explicitly stopping, removing, and (re-)creating the container.

[2019-04-08 18:51] davidmarkstartapp commented on #44669
I see!
I thought it knows to overcome it. So anyway thanks for your time!
I'll just ignore it from my molecule tests

[2019-04-08 18:53] robinro commented on #54846
@n0trax To me this sounds like an edge case, that can be dealt with by the workaround you described. I'm not convinced that it's reason enough to add a parameter (be aware we already have a "force" parameter, that is a bit non-obvious). Calling a2enmod every time would be suboptimal for the more common use cases.

[2019-04-08 19:08] digifuchsi commented on #54986
@Akasurde I can raise a PR for this issue.

@ckotte is there a PR open by you addressing this issue? It would be better not doing the job twice. :)

[2019-04-08 19:20] hibbert commented on #55001
Ahh I get it, those variables are being ignored because it's a controller. I found the python executable and installed openshift. I then ran into some problems with variable interpolation so I've gone with the k8s_facts module which seems to do what I want. Thanks

[2019-04-08 19:32] ibaldonl commented on #28160
This is a duplicate of https://github.com/ansible/ansible/issues/23493 so please close it, thanks.

[2019-04-08 19:45] IPvSean opened #55005 "ec2_key module returns warning unless you explicitly set string timeout"
##### SUMMARY
on latest dev branch started getting warnings on the ec2_key module

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOS Mojave 10.14.3

##### STEPS TO REPRODUCE
run this->

[code]

##### EXPECTED RESULTS
no warning

##### ACTUAL RESULTS

[code]

[2019-04-08 19:50] sivel commented on #55005
The source of this is the `wait_timeout` arg:

[code]

Since no `type` is defined, it defaults to `str`.

[2019-04-08 20:00] s-hamann opened #55006 "is_chroot fails on btrfs for non-root user"
##### SUMMARY
When the `setup` module runs with non-root privileges and the root filesystem is on a btrfs (sub-)volume, the `is_chroot` fact is always true, which obviously, is not always correct.
This is due to the the fallback code in [line 25 of `module_utils/facts/system/chroot.py`](../blob/devel/lib/ansible/module_utils/facts/system/chroot.py#L25), which assumes that (only) the real `/` has i

[2019-04-08 20:04] IPvSean opened #55007 "ec2 module count_tag throws warning for type dict"
##### SUMMARY
I am getting a warning on dev branch of ansible

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOS Mojave 10.14.3

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
no warning

##### ACTUAL RESULTS

[code]

[2019-04-08 20:05] sivel commented on #55007
`count_tag` does not define a type, so it defaults to `str`.  I do not know what the expectation is here, but if it is allowed to be multiple types, it should be `raw`.

[2019-04-08 20:07] s-hertel commented on #55007
Yeah, type 'raw' should be used here as it can be a number of types, unfortunately.

[2019-04-08 20:16] IPvSean commented on #55007
what does that mean?

[2019-04-08 20:19] sdodsley commented on #54983
@Akasurde Did you recently upgrade Python from 2.x to 3.x? It looks like your `pip freeze` might be pointing to an old Pyton2 list. Please try reinstalling the Pure SDK with `pip install purestorage` and then retry.

[2019-04-08 20:20] s-hertel commented on #55007
I'd need to verify, but I believe tags can be a string, integer, list, or dict. Just confirming what sivel said.

[2019-04-08 20:28] UnitedMarsupials commented on #31918
The problem, it seems, is with the very search. And the breaks if there ix `xmlns` attribute anywhere on the way to the element the search is supposed to find. For example, consider this:
[code]
As you can see, it find the `inner` element in the first case -- where attribute is (mis)spelled with two "xx" -- but not in the second case.

To answer @sm4rk0's question, most certainly, this is _not_ ho

[2019-04-08 20:34] molexx opened #55009 "docker_swarm_service: don't require secret_id"
##### SUMMARY

Match docker compose's short syntax which just requires the secret name.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

docker_swarm_service
##### ADDITIONAL INFORMATION

Obtaining the secret ids for several secrets and passing them to docker_swarm_service is clunky and involves a lot of repetition. The secret's name should be all that's needed to reference an already defin

[2019-04-08 20:46] hannseman opened #55010 "docker_swarm_service: Add support for only updating specified parameters"
##### SUMMARY

This issue is created to continue the discussion in the closed PR https://github.com/ansible/ansible/pull/54960.

Currently `docker_swarm_service` will replace unspecified parameters with default values when run. This means that if a parameter have been updated outside of Ansible by using for example `docker service update` it will be overwritten by a docker default value if not spe

[2019-04-08 22:40] nitzmahone opened #55014 "Interpreter discovery should ignore network devices"
##### SUMMARY
The new 2.8 interpreter discovery feature could potentially add spurious warning noise when the controller is run on platforms without a well-known platform Python (eg, Mac, Fedora with /usr/bin/python present). Interpreter discovery should be disabled on known network devices (by some heuristic TBD, like presence of `ansible_network_os` or ?), since the interpreter used to run netwo

[2019-04-08 22:40] nitzmahone commented on #55014
cc @IPvSean

[2019-04-08 23:00] #50562 closed, assigned to nobody

[2019-04-08 23:23] mgamboa commented on #53043
Ok now is working i just pass the ip of the vmware center and is works just a question the invetory comes back like this

QATVPCSD583_4239108f-2f9e-bd9d-4e48-e4255e802c85", could be possible just give me the hosts name like QATVPCSD583?

[2019-04-09 00:08] jborean93 commented on #23450
Just an update on this thread, sorry I didn't get to your latest message earlier @javierg21. I've recently found that authenticating with `ntlm` and using message encryption over HTTP can result in some really poor transfer speeds. This is because `ntlm-auth` has some pure Python functions to perform the RC4 work which is wildly inefficient when it comes to processing large amounts of data.

The P

[2019-04-09 00:27] oatakan commented on #47821
I run into this issue as well. I only seem to run into this error when using become_user with a domain user on one of the standard
windows 2019 public AMIs on AWS: 'Windows_Server-2019-English-Full-Base-2019.03.13' (at the time of this post it is: ami-00a20f508263efd30 for east-1 region).

[code]

-- this works as local admin user on the same ami above:

[code]

-- using domain user as become_user

[2019-04-09 01:52] willthames commented on #28160
Closing as duplicate. I can see that there have been PRs in the past, and just hope that one can get rebased, reviewed and merged more quickly next time (I don't always have time to look at every PR that comes in, but I can be nudged on #ansible-aws)

[2019-04-09 01:52] #28160 closed, assigned to nobody

[2019-04-09 03:12] yanlinaung30 opened #55016 "Nginx folder deleted after ansible"
##### SUMMARY

I have lost **/etc/nginx** folder after installing the [kubespray](https://github.com/kubernetes-sigs/kubespray) with ansible.
I can find only this log.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUA

[2019-04-09 03:43] maxamillion commented on #54773
You're attempting to pass a list of services to a module that doesn't support accepting a list so what's happening is the string representation of the list gets passed to the module and the code attempts to pass `'['ssh', 'http', 'https', 'dns', 'snmp']'` to firewalld as a valid service name, which it is not. You'll need to loop over the list and pass each service name to the module.

[2019-04-09 03:43] #54773 closed, assigned to nobody

[2019-04-09 04:09] Akasurde commented on #54983
@sdodsley I think you mean @AlKult instead of me.

[2019-04-09 04:25] Akasurde commented on #54712
@jamesp2202 Like @cigamit suggested, there has been a lots of improvements in `vmware_guest` module since 2.5 release. You might want to try latest `vmware_guest` and let me know if it still issue for you. We can identify individual issues and try to solve them. Thanks.

needs_info

[2019-04-09 04:28] Akasurde commented on #54621
@goneri `vcenter_folder` creates directory in a generic way so these two modules are using folder parameter differently. We can improve documentation and examples to identify this difference. Let me know if it makes sense. Thanks.

[2019-04-09 04:28] Akasurde commented on #54621
needs_info

[2019-04-09 04:29] Akasurde commented on #54393
needs_info

[2019-04-09 04:35] Srija2495 commented on #54977
Any update on this issue please.........???

[2019-04-09 04:39] Srija2495 commented on #54977
FYI....additional point,

1) We don't have any inventory file created to setup authentication details - not using any specific authentication techinics like (basic,certs so on) except connecting to the localhost.

[2019-04-09 05:18] baseman2 opened #55018 "python API problem with module telnet"
##### SUMMARY

I'm trying to telnet command with python API.
I succeed telnet module with playbook yml.
But with python, I cannot run telnet module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

telnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]
    play_source = dict(
            name = "show version",

[2019-04-09 05:47] jborean93 commented on #54977
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-09 05:47] #54977 closed, assigned to nobody

[2019-04-09 06:12] ruozeng-w commented on #47171
@mator set `ControlMaster=yes` solves this problem on AIX 6.1, but on AIX 7.1 it still exists. I also upgraded openssh client to 7.9p1 on my ansible host(CentOS Linux 7.4), but didn't change anything.

[2019-04-09 06:12] ptux commented on #19711
This problem bothers me too.

Here is my idea.

- we add a bool option `reboot`
- if `reboot=yes`, we check the hostname after reboot.
- if NOT match, we tell user with failed.

[2019-04-09 06:15] stearz opened #55020 "Module kubernetes does not support networkpolicy"
##### SUMMARY

The ansible module 'kubernetes' does not support objects with 'kind: NetworkPolicy'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubernetes

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

AmazonLinux

##### STEPS TO REPRODUCE

I have this yaml definition of a NetworkPolicy that should be applied to my kubernetes cluster:
[code]
Here is

[2019-04-09 06:32] ruozeng-w commented on #47171
@chrahunt In our case, we didn't use sudo, also we cannot distribute an expect script to the targets. If it is

does it mean that setting `use_tty = False` in ansible.cfg is enough?
I tried this, didn't work. Is there any other thing I should do?
thx

[2019-04-09 06:36] mkrizek commented on #54755
Duplicate of https://github.com/ansible/ansible/issues/19711

[2019-04-09 06:36] #54755 closed, assigned to nobody

[2019-04-09 06:40] willthames commented on #55020
That's a deprecated module - we're unlikely to accept improvements to it - does this fail using the k8s module?

[2019-04-09 07:00] dshuvar opened #55024 "znode fails with creating on a remote zookeeper"
##### SUMMARY

[znode_module](https://docs.ansible.com/ansible/latest/modules/znode_module.html) required a sudo password but that requirements is absent in documentation of component.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

!component =lib/ansible/modules/clustering/znode.py

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

When ansible running I saw error about sudo password

[2019-04-09 07:20] Akasurde commented on #54927
resolved_by_pr #55023

[2019-04-09 07:25] Akasurde commented on #55024
!component =lib/ansible/modules/clustering/znode.py

[2019-04-09 07:28] Akasurde commented on #53043
@mgamboa VMware does not restrict user to name multiple VMs with same name. This is why inventory returns name of VMs appended with unique UUID. Right now, there is no such functionality to modify this host alias.

Let me know if this issue is resolved for you. Thanks

needs_info

[2019-04-09 07:30] movergan opened #55025 "a10_server_axapi3 removes all the servers but the one mentioned in update action."
##### SUMMARY
`a10_server_axapi3` removes all the servers but the one mentioned in update action.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
a10_server_axapi3

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

1. T=0, the LB has two SLB virtual servers 't001test000' and 't001test001'
2. T=1, Create a task for Ansible to create (and/or) disable the state of 't001test000'
3. T=2, Th

[2019-04-09 07:35] pgbidkar commented on #53043
Hi @mgamboa, Documentation says
"- The inventory_hostname is always the 'Name' and UUID of the virtual machine. UUID is added as VMware allows virtual machines with the same name. extends_documentation_fragment:"

Reason why uuid is appended to hostname is documented here https://github.com/ansible/ansible/blob/0a0a2e47e04379a65ee46c58173beb2750823063/lib/ansible/plugins/inventory/vmware_vm_invent

[2019-04-09 07:52] mkrizek commented on #55016
The log you provided contains `state=absent` for `path=/etc/nginx` so `/etc/nginx` being deleted is expected. I am not sure what `installing the kubespray with ansible` means but you should either fix your playbook to not delete the directory if you don't want it to be deleted or consult https://github.com/kubernetes-sigs/kubespray project if the playbook is part of that project. This is not an An

[2019-04-09 07:52] #55016 closed, assigned to nobody

[2019-04-09 07:59] vijayscsa commented on #42666
even after the work around:  still problem continues

we were unable to convert to path_exists: http://10.234.111.163/VMware-vCenter-Server-Appliance-6.7.0.20000-10244745_OVF10.ova is not a valid path"}

[2019-04-09 08:07] Akasurde commented on #55005
resolved_by_pr #55026

[2019-04-09 08:17] neilalexander opened #55028 "Optionally allow --limit to return normally if no hosts matched"
##### SUMMARY

I notice that there is some previous discussion on this type of issue in #14693 and #42107 but I am wondering why `--limit` matching no hosts always results in a hard fail (non-zero exit code).

What happens currently is:
[code]
... followed by an exit code of 1.

I would like to propose that `--limit` has the optional ability to return a zero exit code if no hosts are matched.

###

[2019-04-09 08:31] larsmaes commented on #47978
Sometime it works, most of the time it fails with:

`latest: Pulling from library/alpine
8e402f1a9c57: Pull complete
Traceback (most recent call last):
  File "test.py", line 12, in <module>
    project.services[0].image()
  File "/usr/local/lib/python2.7/dist-packages/compose/service.py", line 366, in image
    raise NoSuchImageError("Image '{}' not found".format(self.image_name))
compose.service

[2019-04-09 08:39] hannseman commented on #55009
Thanks for your feature idea! I agree that it's clunky to require passing the secret id. The reason why it's built this way is because the Docker API requires both ID and Name when adding secrets through the `/services/` API endpoint.

Looks like the way `docker stack` implements this is to make an API call to `/secrets/{id}` with passing Name as id. This will then return the relevant secret along

[2019-04-09 08:43] digifuchsi commented on #54986
Just checking with my company if I can provide my improved code I developed for my company, if not I will raise a PR for my own code above.

[2019-04-09 08:48] Akasurde commented on #54986
@ckotte Can you please provide the PR which you said will work for this issue ? Thanks.

[2019-04-09 08:56] ckotte commented on #54986
@Akasurde  Sorry. My "dvswitch rewrite" PR was already approved. However, this patch should be implemented in devel as well since the dvswitch module was modified heavily.

[2019-04-09 09:08] kustodian commented on #51533
This issue is still not fixed in devel and it should be reponed.

[2019-04-09 09:16] kustodian opened #55030 "Default 'callback' plugin with display_ok_hosts and display_skipped_hosts shows all tasks with --diff"
##### SUMMARY
When `display_ok_hosts=no` and `display_skipped_hosts=no` is configured in ansible.cfg when using `--diff`/`-D` Ansible will print all tasks of a role in play, but it won't print any hosts. Without `--diff`/`-D` it only prints plays and tasks that changed. In <2.7 it only printed plays and tasks that changed (no matter if diff is passed or not) and it should be like that.

I would li

[2019-04-09 09:40] akr257 opened #55031 "Support for secrets in ECS Container Definition"
##### SUMMARY

AWS have announced support for secrets for ECS Container Definitions. More information can be found here: https://docs.aws.amazon.com/AmazonECS/latest/developerguide/specifying-sensitive-data.html

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ecs_taskdefinition

##### ADDITIONAL INFORMATION

It would be great if the ecs_taskdefinition module supports secrets in the contain

[2019-04-09 09:41] sm4rk0 commented on #35448
@UnitedMarsupials, there's a namespace in html tag:
[code]
Is your issue related to #31918?

[2019-04-09 09:43] dariko commented on #55009
It looks like the `/secrets/{x}` API method accepts both the name and the ID:
[code]
but the [docs](https://docs.docker.com/engine/api/v1.39/#operation/SecretInspect) describes this method as only accepting the ID

[2019-04-09 10:05] BouchaaraAdil opened #55032 "execute playbooks from local into private instances using bastion host"
##### SUMMARY

##### ISSUE TYPE
- run ansible playbooks from my laptop into private instances using bastion host

[2019-04-09 10:18] AlKult commented on #54983
Hi @sdodsley,

Even though that box has always had Python 2 installed, it's been used exclusively as a Python 3 environment, so there hasn't been any situation anything needed to be migrated from Python 2 to Python 3, if that's what you'd like to know.
Anyhow, I've just gone ahead and re-installed purestorage, but I'm getting the same error.

[code]
[code]
[code]
[code]
[code]

Best regards,
Alber

[2019-04-09 10:44] woodcoder commented on #33642
Hi, I was bitten by this change too.  I ended up using a variation on @bkrubnzi 's solution that is similar to how `exact_count`+`count_tags` used to work before it became sensitive to the availability zone (at least, when scaling up).

[code]

[2019-04-09 10:52] mgamboa commented on #53043
mmm interesting stuff , of course i'm not developer but i curious how another software do it using the same library like  ManageIQ  Rundeck  Foreman
because have the Ansible inventory  as Virtual_Machine_name + UUID it's breaking any other app that use only VM Name could be this a RFE?

[2019-04-09 10:57] tctovsli commented on #51072
I see the same issue regarding keycloak_clienttemplate.

[2019-04-09 11:58] amiya-elear opened #55036 "geting error while installing package in host lxd container"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

errror i am getting

fatal: [ec2_jenkins:jenkinslxd]: UNREACHABLE! => {"changed": false, "msg": "Authentication or permission failure. In some cases, you may ha

[2019-04-09 12:22] sdodsley commented on #54983
@AlKult This is nothing to do with the purefa_facts module. The error is being thrown by `module_utils\pure.py'.
This is definitely a mismatch of the versions of Python and pip compared to that being used by Ansible in its shell.
I can repro this quite easily. Check the difference between `pip freeze` and `pip3 freeze`.

[2019-04-09 12:36] Vladimir-csp opened #55037 "Set fact_path by variable"
##### SUMMARY

Please allow setting `fact_path` by a variable, e.g. `ansible_fact_path`, so it would be possible to make it dependent on client OS (or other attributes) and change implicit fact gathering accordingly.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

setup
##### ADDITIONAL INFORMATION

[code]
Currently implicit gathering always uses fact path from control machine, unless manua

[2019-04-09 12:45] AlKult commented on #54983
@sdodsley, I hear what you're saying, but I'm not sure how to troubleshoot this. Ansible and pip both run from the same Python venv, so I've no idea where the issue is coming from.

`pip freeze` and `pip3 freeze` return exact same output.
[code]

[code]

[code]

Best regards,
Albert.

[2019-04-09 12:46] AlKult commented on #54983
Accidentally closed the issue. Re-opening.

[2019-04-09 13:02] amiya-elear commented on #25489
i am very new to ansible
i am facing same issue but i am not figure it out what i have to do so solve this issue
i am getting this error
fatal: [ec2_jenkins:jenkinslxd]: UNREACHABLE! => {"changed": false, "msg": "Authentication or permission failure. In some cases, you may have been able to authenticate and did not have permissions on the target directory. Consider changing the remote tmp path in

[2019-04-09 13:09] candlerb commented on #25489
Questions about using ansible should go to the [google group](https://groups.google.com/forum/#!forum/ansible-project), not added to tickets.

[2019-04-09 13:42] groenator opened #55040 "hashi_vault can't be used to retrieve secrets"
I created this task to retrieve the secrets from the vault and save them as variables by using the vars module, however, when I run the task ansible is throwing an error.  even if I use the example from the documentation I get the same error about the misspelling.

task to retrieve secrets

[code]
error from ansible:

[code]

Does anyone know what could be the reason?

[2019-04-09 13:43] theawgur opened #55041 "opkg module do not reinstall package, when package has installed in system"
##### SUMMARY
opkg module do not reinstall package, when package has installed in system, even if option `force: reinstall` has been set

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/modules/packaging/os/opkg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.2 LTS

##### PATCH FOR THIS
[code]

[2019-04-09 14:04] Akasurde commented on #55040
Hi! @groenator You may want to use `set_fact` to set vars in given tasks like this -

[code]

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2019-04-09 14:04] #55040 closed, assigned to Akasurde

[2019-04-09 14:10] goneri commented on #54621
Thank you @Akasurde for the clarification. I did the following change to get the full path of the new folders: https://github.com/goneri/ansible/commit/4670e41b3aa04a273326f959afcebb42a4cee7d0

If you like the idea, I will prepare a PR with that.

[2019-04-09 14:14] JohnnyRacket commented on #51751
Sorry for delay, let me try this and get back to you

[2019-04-09 14:23] bogd opened #55042 "routeros_command - Unable to connect (expected msg: 50 got: 5)"
##### SUMMARY
I am attempting to use the new routeros_command module to send commands to Mikrotik routers. However, all connection attempts fail with "Invalid/incorrect username/password. Authentication failed.".

Authentication is performed via username/password. I have double- and triple-checked the credentials, and they all seem ok.

The only other hint is a message logged by the router, saying

[2019-04-09 15:12] AlKult commented on #54983
I've run the module manually, no issues.
Also, if I specify `ansible_python_interpreter` variable for ansible, the play works just fine indeed.
I'll keep digging as to where exactly the issue is coming from, but since it's evident the issue is in my environment, I see no reason to keep this case open.
Thank you!

[2019-04-09 15:12] #54983 closed, assigned to nobody

[2019-04-09 15:14] #51667 closed, assigned to nobody

[2019-04-09 15:14] #54618 closed, assigned to nobody

[2019-04-09 15:23] stevenscg opened #55044 "Unsupported parameters for (ec2_key) module: force"
##### SUMMARY
When running the `ec2_key` module with the argument `force: false` (or `force: no`) on a copy of the tagged release `ansible 2.8.0a1`, the following error is returned:

[code]

The same usage of the `force` attribute works as expected on ansible 2.7.10.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_key.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
MacOSX

#####

[2019-04-09 15:25] jrjsmrtn opened #55045 "proxmox_kvm cannot create a VM with ostype=win10"
##### SUMMARY
Creating a VM with the `proxmox_kvm` module and an `ostype: "win10"` fails with:
[code]

The `ostype` default list is hard-coded in the `ansible/lib/ansible/modules/cloud/misc/proxmox_kvm.py` module at line 831 but has not been updated for recent versions of Proxmox.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[

[2019-04-09 15:26] #43255 closed, assigned to nobody

[2019-04-09 15:26] #44441 closed, assigned to nobody

[2019-04-09 15:26] #29615 closed, assigned to nobody

[2019-04-09 15:26] #29625 closed, assigned to nobody

[2019-04-09 15:26] #42564 closed, assigned to nobody

[2019-04-09 15:29] bcoca commented on #55037
you can already do this via module_defaults https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html

[2019-04-09 15:31] groenator commented on #55040
that make's sense wh vars didn't work. i will use set_fact instead.

[2019-04-09 15:44] garkin commented on #16561
This pretty much ruins local modules instalation, since you can't just git them out of the box.
<pre>
├── playbooks
├─┬ library
│ ╰── $ <b>git clone https://github.com/ParticleDecay/ansible-jsonpatch.git ansible-jsonpatch</b>
╰── playbook.yaml
</pre>

[2019-04-09 15:54] jwitko commented on #37496
Just to add a bit of a summary on this, it appears the issue occurs and can be reproduced by deleting target groups on the AWS UI before removing them from any application load balancers they're already attached to.

[2019-04-09 16:03] Vladimir-csp commented on #55037
1. will this affect implicit fact gathering?
2. this still requires setting module_defaults in every playbook, instead of just having a group variable in inventory.

[2019-04-09 16:07] ArseniiPetrovich commented on #19860
Can someone reopen this issue? Run in the same issue.

[2019-04-09 16:12] sivel commented on #55018
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2019-04-09 16:12] #55018 closed, assigned to nobody

[2019-04-09 16:22] sivel commented on #55032
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-09 16:22] #55032 closed, assigned to nobody

[2019-04-09 16:26] acozine commented on #51439
Per discussion at the Docs Working Group today, we're looking at using https://pypi.org/project/sphinx-notfound-page/ for this improvement.

[2019-04-09 16:32] #54737 closed, assigned to nobody

[2019-04-09 16:42] garkin commented on #16561
Same issue with `./roles/some-roles/library/` with no known workaround.

[2019-04-09 16:46] mrmibrown opened #55047 "azure_rm_resource_facts doesn't honor subscription ID"
##### SUMMARY

The only way azure_rm_resource_facts works is to make sure you are logged in to the correct subscription before invoking it. Contrast that with azure_rm_loadbalancer_facts, which works fine in any case when proper credentials are used.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_resource_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS /

[2019-04-09 16:48] acozine commented on #51439
Extra points for incorporating cowsay:

 / this is not the page you are looking \
 \ for                                  /
  --------------------------------------
         \   ^__^
          \  (oo)\_______
             (__)\       )\/\
                 ||----w |
                 ||     ||

[2019-04-09 17:03] agaffney commented on #55030
This is happening because `v2_file_on_diff()` is called for every task, regardless of whether it actually has a diff. This should be relatively easy to fix.

[2019-04-09 17:04] s-hertel commented on #55044
@stevenscg Can you provide a reproducer? It seems to be working for me.
[code]
[code]
needs_info

[2019-04-09 17:09] stevenscg commented on #55044
@s-hertel I've had to revert back to 2.7.10 for today. In my scenario, the key pair _did not_ exist when I encountered the error.

[2019-04-09 17:28] #35771 closed, assigned to nobody

[2019-04-09 17:33] UnitedMarsupials-zz opened #55051 "xml's "print_matches" misdocumented"
##### SUMMARY
The [documentation of the XML-module](https://docs.ansible.com/ansible/latest/modules/xml_module.html) is incorrect about the `matches` and `print_matches` parts:
1. When `print_matches` is set, the `matches` part of the returned dict may be empty, even when the matches are found.
2. Even when the `print_matches` is _not_ set, the `matches` part may be returned -- not empty -- when t

[2019-04-09 17:35] Xyon opened #55052 "Joining a Windows Domain now requires the Active Directory Administration tools"
##### SUMMARY
Since 85d836171b6cd5a07ff49955335444680c110ea3 (#53542), using win_domain_membership.ps1 now quietly requires the Active Directory administration tools to be installed, or the join will fail;

Given a Windows Server 2016 Core installation, running this task;

[code]
against the DC configured earlier in the play, results in:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2019-04-09 17:47] #55030 closed, assigned to nobody

[2019-04-09 18:01] stearz commented on #55020
The k8s module does not work with basic auth login. I understand that this module is deprecated but the k8s module has still some issues that make it unusable for me.

[2019-04-09 18:06] texdc commented on #40668
@wilvk @willthames What is the progress on this issue?

[2019-04-09 18:31] UnitedMarsupials commented on #30426
Me too! I'm generating an XHTML file with a `<TABLE>`, containing a `<TR>` for each Ansible-inventory. The playbook is meant to be run incrementally, one inventory at a time. The xml-module is used to insert/update the inventory's row. When adding a new row, there is no way -- currently -- to tell, _where_ among the existing rows to insert it. `add_children` will simply add it at the end.

Simply

[2019-04-09 18:34] ozgurcd commented on #48645
@abadger  I have the same issue and I have just checked my module source code and it seems it uses " _original_basename" parameter:
`def main():

    module = AnsibleModule(
        # not checking because of daisy chain to file module
        argument_spec=dict(
            src=dict(type='path'),
            _original_basename=dict(type='str'),  # used to handle 'dest is a directory' via template,

[2019-04-09 18:48] drbayer commented on #42532
Just ran across this as I was running into the same time out issue. It appears that if the policy in the playbook doesn't match the applied policy exactly then you get the time out. It looks like in my case I had "deny" in the playbeook and it was coerced to "Deny" when applied to the bucket, and then the module would time out waiting for them to match. As soon as I changed the playbook to "Deny"

[2019-04-09 19:06] andrewm659 commented on #37958
This error is still happening for me on CentOS 7 latest.

    "TASK [local_docker : Set full image path for local install] ********************",
        "skipping: [localhost]",
        "",
        "TASK [local_docker : Set DockerHub Image Paths] ********************************",
        "ok: [localhost]",
        "",
        "TASK [local_docker : Create /tmp/awxcompose directory] **************

[2019-04-09 19:17] bcoca commented on #54301
closing as per above

[2019-04-09 19:17] #54301 closed, assigned to nobody

[2019-04-09 19:19] bcoca commented on #54302
this looks like a job for a template file or at most a role that uses such a template.

[2019-04-09 19:19] bcoca commented on #54302
closing as per above

[2019-04-09 19:19] #54302 closed, assigned to nobody

[2019-04-09 19:22] bcoca commented on #54306
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-09 19:22] #54306 closed, assigned to nobody

[2019-04-09 19:24] bcoca commented on #54346
!component =lib/ansible/modules/cloud/vmware/vmware_guest_file_operation.py

[2019-04-09 19:24] s-hertel commented on #55044
@stevenscg no problem. I ran my playbook twice to test both code paths. Here, I ran it again after deleting the key:
[code]
Leaving this as needs_info until this can be verified.

needs_info

[2019-04-09 19:30] sparky005 opened #55053 "Setting CURL_CA_BUNDLE overrides ansible_winrm_server_cert_validation: ignore"
##### SUMMARY
Setting `CURL_CA_BUNDLE` environment value to any value seems to override the `ansible_winrm_server_cert_validation: ignore` inventory configuration. This means that Windows machines using self-signed certs stop working

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pywinrm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ansible server OS: Cen

[2019-04-09 19:30] bcoca commented on #54411
fixed in #54532

[2019-04-09 19:30] #54411 closed, assigned to nobody

[2019-04-09 19:34] bcoca commented on #54440
!component =lib/modules/cloud/azure

[2019-04-09 19:34] acozine commented on #54374
@zoredache thanks for reporting this. If you'd like to open a PR with a suggested fix, we would welcome your contribution. You can also join the conversation about documentation on the #ansible-docs channel of freenode IRC.

Meanwhile the easiest way to restore the spacing is to remove the `highlight=xxx` from the URL and refresh the page.

Distantly related to #50756.

[2019-04-09 19:37] WojciechowskiPiotr commented on #54988
Why can't you use the `archive` module to add additional compression to TAR created via `docker_image`?

[2019-04-09 19:51] acozine commented on #54527
Nice catch @kbreit. The syntax requires the double-colon, then the code-block, then a blank line. This example had an extra blank line after the double-colon and before the code-block.

[2019-04-09 19:52] jctanner commented on #54668
!component =contrib/inventory/azure_rm.py

[2019-04-09 19:53] rambleraptor commented on #54694
close_me

Let me know if you continue seeing issues!

[2019-04-09 19:53] sivel commented on #54674
Thank you very much for your submission. `ansible-galaxy` is frozen, and not accepted any new features.

The replacement to `ansible-galaxy` is a tool called mazer which can be found at https://github.com/ansible/mazer

This may be some sort of feature that mazer would be interested in

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2019-04-09 19:53] #54674 closed, assigned to nobody

[2019-04-09 19:54] rambleraptor commented on #54920
close_me

Sounds like you have a fix. Let me know if you have any other issues.

[2019-04-09 19:57] felixfontein commented on #54527
@acozine hmm, but why does the same construct works some lines below (after `For a full list of features see the online help::`)?

[2019-04-09 20:00] bcoca commented on #54779
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

When conditionals are always applied INSIDE the loop as they control PER ITEM execution.

In the future, this might be a topic more wel

[2019-04-09 20:00] #54779 closed, assigned to nobody

[2019-04-09 20:04] acozine commented on #54527
@felixfontein @kbreit you're right, it actually does need a blank line . . . but it builds correctly on my local machine . . .

[2019-04-09 20:10] #54694 closed, assigned to nobody

[2019-04-09 20:11] acozine commented on #54527
Hm, this page actually builds correctly on my laptop from the devel branch. So why does it fail on the docs site?

[2019-04-09 20:11] bcoca commented on #54876
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-09 20:11] #54876 closed, assigned to nobody

[2019-04-09 20:14] acozine commented on #54527
Ah, okay, this is fixed on `devel` but still broken on `stable-2.7`.

[2019-04-09 20:16] felixfontein commented on #54527
I just wanted to say that it also builds fine for me, and that it's really strange, but you're right, the problem seems to be stable-2.7 vs. devel :) The stable-2.7 version simply has no `::` at all:
[code]

[2019-04-09 20:17] acozine commented on #54527
Yes, it was fixed by https://github.com/ansible/ansible/pull/53293 - we could backport that fix to `stable-2.7` to fix this in the current `latest`docs.

[2019-04-09 20:19] bcoca commented on #54914
!component =lib/ansible/module_utils/azure_rm_common.py

[2019-04-09 20:23] bcoca commented on #54919
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is not how precedence works in Ansible  as documented here: https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables

[2019-04-09 20:23] #54919 closed, assigned to nobody

[2019-04-09 20:42] bcoca commented on #55036
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-09 20:42] #55036 closed, assigned to nobody

[2019-04-09 20:46] s-hertel commented on #54945
If the hosts have been created previously `ec2.instances` (as in https://docs.ansible.com/ansible/latest/scenario_guides/guide_aws.html#provisioning) will not exist. Instead you should loop over `ec2.tagged_instances` (this also works when first creating instances, so the documentation should be updated to use that as the results are consistent).

[2019-04-09 20:49] nitzmahone commented on #55053
That behavior is internal to the Python `requests` library we're using; we might be able to explicitly unset the envvar in the winrm/psrp connection plugin setup code, but especially when the connection plugins are in the main controller process (eg in the upcoming threaded mode), that could potentially break other things that might be relying on that var.

@jborean93 what do you think?

[2019-04-09 20:50] nitzmahone commented on #55052
As discussed in the Windows Working Group IRC meeting today, we're going to revert https://github.com/ansible/ansible/pull/53542 for 2.8 and revisit this change with the builtin .NET API instead.

[2019-04-09 20:50] #55052 closed, assigned to nobody

[2019-04-09 20:51] s-hertel commented on #54945
If that doesn't fix the problem, please add a reproducer playbook so the issue can be debugged.

needs_info

[2019-04-09 21:07] bcoca commented on #54920
This is still a bug due to the reporting of the error itself also causing an exception, this is due to the inventory plugin incorrectly using 'module specific code' and trying to execute `fail_json` which does not work for 'non module plugins'

[2019-04-09 21:17] realged13 commented on #43251
Is there any update on this?  I am having the same issue a long with the product key being there but after a reboot it is removed.

[2019-04-09 21:19] bcoca commented on #55037
1. yes
2. you can set the defaults to a host variable

[2019-04-09 21:34] jborean93 commented on #55053
This is related to https://github.com/diyan/pywinrm/issues/201 where the env vars are taking precedence over explicit kwargs. A fix has been merged into pywinrm but has not made it into a release yet. Nothing we can do in Ansible as this logic all sits in pywinrm.

[2019-04-09 21:35] texdc commented on #40668
I still have this error on 2.7.10:
[code]

[2019-04-09 21:38] Vladimir-csp commented on #55037
it is easier to set `fact_path` play attribute to a group variable then, which I did as a workaround, but still it requires modifying a lot of playbooks (not handy in shared environment).

[2019-04-09 22:11] misra-anshuman commented on #54545
Code :
[code]

Output :
[code]

[2019-04-09 22:12] misra-anshuman commented on #54545
/usr/lib/python2.7/site-packages/ansible/modules/windows/win_get_url.ps1

[code]

[2019-04-09 22:15] misra-anshuman commented on #54545
The module works fine on 'Windows Server 2012 R2 Standard' with PowerShell v4.0 and .Net Framework v4.5.2.

The issue is with 'Windows Server 2008 R2 Standard / Enterprise' , even with PowerShell v4.0 and .Net Framework v4.7.2 .

[code]

[2019-04-09 22:20] misra-anshuman commented on #54545
However, a single one-liner PowerShell command does download the file successfully.
[code]

[2019-04-09 22:35] #54342 closed, assigned to nobody

[2019-04-09 22:50] s-hertel commented on #54920
bot_skip

[2019-04-09 23:24] rambleraptor commented on #54920
I submitted https://github.com/ansible/ansible/pull/55055 that should fix this.

[2019-04-09 23:27] #34392 closed, assigned to nobody

[2019-04-09 23:31] willthames commented on #55020
Well I'd rather fix that than fix the kubernetes module. Is there an issue open for basic auth?

[2019-04-09 23:39] s-hertel commented on #54920
Fixed for 2.8 in 5215d004626856b3d0faa2bc8b5b2e84a2fb807e

[2019-04-09 23:39] #54920 closed, assigned to nobody

[2019-04-09 23:47] ozhomegeek commented on #46384
I tried out the subnet option from the latest dev version, and it's still insisting on having the address & netmask even if you specify the subnet (the subnet will automatically allocate the address and netmask)
I did a quick and dirty hack on the module and deleted the address and netmask from the required_keys and it then functioned as expected and created the interface just using the subnet.

s

[2019-04-09 23:50] willthames commented on #40668
git blame suggests:

[code]

so that line hasn't changed in over a year and a half (the `KeyError` is impossible with that change)

I can only surmise that you're somehow using an older ansible than you think, or that you're somehow picking up an older version of cloudfront_facts

Can you run `python_requirements_facts` module just before the failing task?

[2019-04-09 23:55] rambleraptor commented on #54271
close_me

[2019-04-10 00:01] #54271 closed, assigned to nobody

[2019-04-10 00:21] jborean93 commented on #53863
If you run it with `-vvv` does it give you a traceback to determine what method comes across the bad code?

[2019-04-10 00:26] kdelee commented on #54464
https://github.com/ansible/ansible/pull/54465 works for me in python3

[2019-04-10 00:26] #54464 closed, assigned to nobody

[2019-04-10 01:57] garkin commented on #20413
[code]
This does not scale, imagine 30 changes. Writes are not atomic. 30 backup files.
This is not solved by `blockinfile:`.

[2019-04-10 02:39] #54927 closed, assigned to Akasurde

[2019-04-10 02:43] Akasurde commented on #53730
@Emojomaker Could you please check @ArtyomMinsk's suggestions and let us know if it works for you ? Thanks.

needs_info

[2019-04-10 02:44] Akasurde commented on #53700
@yanivezrach Any update ? Let me know if it works for you so that we can close this issue. Thanks.

[2019-04-10 02:49] Akasurde commented on #53043
@mgamboa

I am not sure about ManageIQ or Foreman - how they handle duplicate names.

Only VM name in returning inventory may lead to data loss in case of duplicate VMs. But Yes there can be a RFE which implements this. I will go ahead and close this issue and meanwhile you can open a new feature request for this name feature in inventory. Thanks for debugging with me.

[2019-04-10 02:49] #53043 closed, assigned to Akasurde

[2019-04-10 03:33] felixfontein commented on #33960
CC @sluther

[2019-04-10 04:17] #49039 closed, assigned to maxamillion

[2019-04-10 04:29] felixfontein commented on #54527
I've created a backport: #55072

[2019-04-10 05:18] Andersson007 commented on #18955
@chamini2 , good day, would you like to implement this ?

[2019-04-10 05:27] sugitk commented on #49039
@maxamillion thanks!

[2019-04-10 05:53] chenzhiwei opened #55075 "set_fact, the variable name 'my-var' is not valid"
##### SUMMARY

I define following variable in group_vars/all.yaml file:

[code]

And I want to override it in `set_fact` to:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-10 06:15] eeroniemi commented on #54779
I understand that loop + when works so that the conditional I give for the task applies to each item. But still I'm quite certain that the conditional given to `import_tasks` should skip each task inside the imported playbook before even trying to run the task.

I could try to explain this playbook in pseudocode.

How I understand import_tasks should work:

[code]

How it actually works:

[code]

[2019-04-10 06:19] Akasurde commented on #55075
Hi! @chenzhiwei,

`my-var` is not valid variable name. You can read more about variable naming convention [here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#creating-valid-variable-names)

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the ma

[2019-04-10 06:19] #55075 closed, assigned to Akasurde

[2019-04-10 06:22] chenzhiwei commented on #55075
@Akasurde Thank you.

I know `my-var` is not a valid var name, but could you tell me how to override `my-var` in set_fact?

[2019-04-10 06:26] mariolenz opened #55078 "Redfish modules don't work with iDRAC 3.30.30.30"
##### SUMMARY
We've updated iDRAC to version 3.30.30.30 and now we are having problems with the redfish modules: 406 Not Acceptable. I _think_ the problem is that get_request in redfish_utils doesn't set an 'Accept' header.
Strictly speaking, this should be an iDRAC bug because [RFC 2068](https://tools.ietf.org/html/rfc2068#page-96) explicitly says:

But since redfish is based on JSON I think it w

[2019-04-10 06:40] Akasurde commented on #55075
`my-var` is not valid so there is no point in overriding it.

[2019-04-10 06:45] asarubbo commented on #54988
To circumvent the problem, I can do anything, actually I'm doing it via 'shell'. The question would be why don't let to the docker_image module do everything?
If doesn't make sense, feel free to close

[2019-04-10 07:18] topkool commented on #48952
It works as you stated. Thanks

[2019-04-10 07:35] mariolenz commented on #55078
It's not only get_request, I also get this error when I try to set a BIOS attribute with redfish_config. So patch_request is also affected; post_request and delete_request probably, too.

[2019-04-10 07:44] kmonticolo opened #55080 "proxmox_kvm : Can't force set MAC address on interface"
##### SUMMARY
Can't force set MAC address on interface

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux kmonti 3.10.0-957.5.1.el7.x86_64 #1 SMP Fri Feb 1 14:54:57 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

Not sure if it is just ans

[2019-04-10 07:52] kmonticolo commented on #55080
Proxmox version:

[code]

[2019-04-10 08:04] kmonticolo commented on #55080
Proxmoxer version:

[code]

[2019-04-10 08:08] vide commented on #4638
FWIW, I can confirm that
[code]
still works perfectly with Ansible 2.6

[2019-04-10 08:47] osielczakd commented on #49942
Am guessing as the PR https://github.com/ansible/ansible/pull/50459 was dropped there is no fix to this issue coming anytime soon?

[2019-04-10 08:52] Fred-sun commented on #55047
@mrmibrown Thanks for your reporting!

[2019-04-10 08:53] Fred-sun commented on #55047
@zikalino Could you can help take a look this issue when you're available? Thanks!

[2019-04-10 09:26] Fred-sun commented on #54668
@stspinu Thanks for your reporting!

[2019-04-10 09:27] Fred-sun commented on #54668
@yungezz Please help take a look this issue when you're available! Thanks!

[2019-04-10 09:41] #40366 closed, assigned to nobody

[2019-04-10 09:58] trishnaguha commented on #53887
@chrisvanheuveln can you please make sure if mode `ce` is default value for vlans?

[2019-04-10 10:25] wilmardo opened #55084 "Variables passed with -e / --extra-vars are read only at runtime"
##### SUMMARY
Variables passed with -e / --extra-vars are can not be updated at runtime, unlike 'normal' variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 WSL

##### STEPS TO REPRODUCE

Created a [repository ](https://github.com/wilmardo/ansible-readonly-extra-vars.git)with a minimal

[2019-04-10 10:43] #53221 closed, assigned to nobody

[2019-04-10 10:53] wookietreiber opened #55085 "ignore/warn/fail/update (configurable) when version in .galaxy_install_info and requirements.yml don't match"
##### SUMMARY

Check roles if they are up to date.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

ansible-playbook

##### ADDITIONAL INFORMATION

We have a few admins and a lot of external roles we fetch via `ansible-galaxy`. Each admin has his/her own copy of our top-level Ansible repository. When one of us bumps an external role version in `requirements.yml` and pushes that commit to t

[2019-04-10 10:54] PatTheSilent opened #55086 "CloudStack InternalLbVm service provider error when enabling"
##### SUMMARY
Network Service InternalLbVm is not enabled when the internal loadbalancer element is not enabled beforehand

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CloudStack 4.11.2
Fedora 29

##### STEPS TO REPRODUCE
Disable the Internal LB VM Network Service Provider in a Physical Network
Disable the internal

[2019-04-10 11:01] richlv commented on #54851
Can confirm that the latest version of the module fixes this - thank you so much for the fix.

[2019-04-10 11:04] richlv commented on #54671
Can confirm that the latest version of the module fixes this - thank you so much for the fix.

[2019-04-10 11:24] richlv commented on #54671
Reported the upstream documentation issue: https://support.zabbix.com/browse/ZBX-15968 .

[2019-04-10 12:04] PatTheSilent commented on #55086
Closed by #55087

[2019-04-10 12:04] #55086 closed, assigned to nobody

[2019-04-10 12:23] devdil commented on #24837
@Tomorrow9 is this done?

[2019-04-10 12:24] devdil commented on #54956
@Akasurde do you see this as an issue in documentation or missing feature?

[2019-04-10 12:30] kennedyalexander opened #55090 "docker_service: Document its possible to restart a collection of services"
##### SUMMARY
It is possible to use the restart flag to restart selected compose services. Document it fully.
Change restarted description from:
 - Use with state I(present) to restart all containers.
To:
 - Use with state I(present) to restart all containers or specify a list using the services option.

Here is an example of it in use.

   docker_service:
    project_src: /project-src
    service

[2019-04-10 13:01] machacekondra commented on #54900
How does your template look like. As error says you miss following there:

[code]

That's good question. We first take VM template parameters, then Ansible parameters. So Ansible parameter has higher prio.

[2019-04-10 13:04] ZhukV commented on #35893
Same error in lookup ;(

[2019-04-10 13:18] mkrizek commented on #54789
In my testing, only `authorized_keys`'s permissions are changed. Permissions of `/root/.ssh/` directory remain the same. Can you confirm? Thanks.

[code]

To me it seems that the behavior is correct. You stated that `sbaygithub`'s authorized_keys should be changed but pointed to an alternate location (`root`'s authorized_keys) and so it makes sense for that user to own them.

That said, maybe you

[2019-04-10 13:28] justjais commented on #54897
@sebastianw tagging this feature request to ansible `2.9`.

[2019-04-10 13:29] pabelanger commented on #54981
If you were to create ~/.ssh/config on your ansible control node with the following
[code]
are you able to connect properly?  Note, I think that is your info, but you might need to tweak it a little.

[2019-04-10 13:33] justjais commented on #54859
@horseinthesky can u plz furnish more information regarding the skipped part as from the snippet it isn't clear. Thanks

[2019-04-10 13:39] sbaygithub commented on #54789
My goal is to add sshkeys for sshusers to the root's authorized_keys. In my case the users are defined in group_vars/all so users are present only on specified servers.

Maybe I just only misunderstand the docs or it's need to be added as feature.

[2019-04-10 13:48] texdc commented on #40668
@willthames I believe the error was due to not having _any_ OAIs in the account.  After adding one manually, the module behaved as expected.  Yes, I am using  Ansible `2.7.10`.  Here's the output from `python_requirements_facts`:
[code]

[2019-04-10 13:59] stevenscg commented on #55044
@s-hertel I replaced my checkout of the project repo with a fresh copy and `v2.8.0a1` no longer triggers the error about the `force` attribute any longer. So, I think the original issue is not actually an issue.

While testing this again, however, I ran into a warning that I hadn't seen before using this module:
[code]

I traced it back to the `wait_timeout` parameter that appears to be non-functi

[2019-04-10 14:07] Gloupier commented on #54981
apparently ansibel use paramiko instead of ssh with network_cli connection (we can see that in the debug and also in the Cisco debug), and paramiko does not use /.ssh/config at all, I tried it.
And in the debug and Cisco debug we can see that the connection completed successfully with router001, what is strange is even is connection completed successfully, nothing hapen after that...

[2019-04-10 14:50] kecorbin opened #55095 "add option for nso_action to have a read/write transaction."
##### SUMMARY
`nso_action` currently executes in an oper transaction, which prevents tasks like applying device templates from being invoked from this module.

##### ISSUE TYPE
- Support read/write transaction
[code]

##### COMPONENT NAME
nso_action.py

##### ADDITIONAL INFORMATION

[code]

[2019-04-10 14:55] samccann commented on #54968
Thanks @kbreit for opening the issue. I believe it is #2 based on the examples further down in that doc, but I will verify and find a better way to show that within the table.

[2019-04-10 14:55] s-hertel commented on #55044
Thanks for the update, @stevenscg! The new warning is a duplicate of this bug report #55005 which will be fixed by #55026. I'm going to close this so we can track that warning in one place, but please reopen this issue if I've missed something.

[2019-04-10 14:55] #55044 closed, assigned to nobody

[2019-04-10 15:10] sivel commented on #54403
I've verified this behavior.

It seems to be due to `SourcesList.load` and `SourcesList.save` in the module.

Regardless of what `filename` is specified, it loads them all, and rewrites them all at the end.

Additionally the `SourcesList._parse` method, parses each line into `valid, enabled, source, comment`

If the line starts with `#` it is set to "disabled" and the first char is stripped.  If a

[2019-04-10 15:11] pffs commented on #54991
This is actually still present in 2.7.7. This appears to be related to a handler failing. An easy to reproduce example:
[code]
[code]
Result:
[code]
This behavior appears to have been introduced in ansible 2.6 somewhere. Downgrading back to ansible 2.5.15 results in the expected outcome:
[code]
PLAY [all] *********************************************************************************************

[2019-04-10 15:16] sivel commented on #54991
This appears to have been caused by 0eece38cdf6eed1358a321fc7887c028ca75e91f

I'm not sure if this is intended behavior or not.

cc @mkrizek

[2019-04-10 15:24] horseinthesky commented on #54859
Do you mean the code snippet? There is a link above. It's Ansible module code.

[2019-04-10 15:31] AlanCoding commented on #47529
When you say the PR above, I want to make sure you're referencing https://github.com/ansible/ansible/pull/51177

And that would be targeting Ansible 2.9, presumably?

I was originally interested in the case of `ansible-inventory`, but now I find I hit the same issue for `ansible-playbook` uses.

[2019-04-10 15:33] kbreit commented on #54968
@samccann This problem exists on other pages, not just the EOS one. I've seen this on the NXOS platform options page as well.

https://docs.ansible.com/ansible/latest/network/user_guide/platform_nxos.html

[2019-04-10 15:38] chrisvanheuveln commented on #53887
@trishnaguha Yes, mode `ce` is the default mode for vlans.

Ref:   (see `Step 3.` in the configuration details table)
 https://www.cisco.com/c/en/us/td/docs/switches/datacenter/sw/6_x/nx-os/fabricpath/configuration/guide/b-Cisco-Nexus-7000-Series-NX-OS-FP-Configuration-Guide-6x/b-Cisco-Nexus-7000-Series-NX-OS-FP-Configuration-Guide-6x_chapter_0101.html#task_9BF2CF01054B4050BBF12D0F56C380DF

[2019-04-10 15:39] yaffol opened #55097 "Yarn global calls install not add"
##### SUMMARY

When specifying a node package to be installed globally with the Yarn module, the command called is not correct.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Yarn module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS targeting Ubuntu 16.04 LTS

##### STEPS TO REPRODUCE

Specify a task that requires an npm package to be

[2019-04-10 15:50] AlanCoding commented on #47529
I have another variant of this problem I would like to make sure gets fixed.

I'm trying to structure a project in the correct way for ansible-runner use.

[code]

[code]

Where the repo itself is saved in `~/Documents/repos`, obviously.

I _can_ run this if I'm in the directory `playbook/user_plugin/project`

[code]

I _cannot_ run this from any other directory.

[code]

So, what I'm sayin here i

[2019-04-10 16:04] smueller18 commented on #47978
@larsmaes As I expected, this is not ansible relevant. I just tried to reproduce your issue, but I cannot even get docker-compose running in python2.7. I tested it with python3 and it works.
[code]
By the way, support for python version 2.7 is ending at 1. Januar 2020.
If you need further help, please comment my issue in the docker-compose project and provide more details how you setup your enviro

[2019-04-10 16:12] bcoca commented on #47529
ansible.cfg is not looked at adjacent to inventory nor playbook, that is not a feature.

[2019-04-10 16:41] mattclay commented on #55084
Variables set with `-e` have the highest precedence of all variables and cannot be overridden. See the documentation on [variable precedence](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable) for more details.

[2019-04-10 16:41] #55084 closed, assigned to nobody

[2019-04-10 16:44] justjais commented on #54859
@horseinthesky I have checked the code and the connection is made with `ssh_config` parameter passed as arguments in `connect` fn. ref: [snippet](https://github.com/ansible/ansible/blob/eee51486fd3327c1cfa21dc7566afa7debab5ebf/lib/ansible/plugins/connection/netconf.py#L322), that's why I wanted to understand the exact issue here.

[2019-04-10 17:27] cyberhalogen opened #55105 "Additional parameters under the junos_command module"
##### SUMMARY
Additional parameters under the junos_command module

##### ISSUE TYPE
feature addition to Junos module

##### COMPONENT NAME
`lib/ansible/modules/network/junos/junos_command.py`

##### ADDITIONAL INFORMATION

I just need to be able to gather facts using the junos_command module, match on a specific hierarchy or text like system or protocols, register the output, then dump that outpu

[2019-04-10 17:45] resmo commented on #50799
resolved_by_pr #52683

[2019-04-10 17:55] #51694 closed, assigned to nobody

[2019-04-10 17:55] #50799 closed, assigned to nobody

[2019-04-10 18:12] AlanCoding commented on #54059
Example of the use case we want to preserve: https://github.com/ansible/awx/issues/1137 We know for sure that some of our users are using this parameter.

[2019-04-10 18:45] AlanCoding commented on #47529
Oh sorry, I think I see that now. For `ansible.cfg`, it is loaded from ["the current directory"](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-configuration-settings-locations) which is the current working directory on the CLI where `ansible-playbook` is called, but plugins are loaded locally ["in the directory that contains the playbook"](https://docs.ansible.co

[2019-04-10 19:09] bradwilliamson opened #55108 "win_domain_user New-ADUser is not recognized as the name of a cmdlet"
##### SUMMARY

I am attempting to create an AD user account using the win_domain_user module. I have confirmed that I can run New-Aduser on the domain controller I'm connecting to.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_domain_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.0 ---- > Windows 2016 Server

##### STEPS TO REPRODUCE

[2019-04-10 19:11] #55007 closed, assigned to nobody

[2019-04-10 19:29] patelkhelan11 commented on #34340
@ssbarnea I'm running below ansible version with the selinux installed with pip (https://pypi.org/project/selinux/) ,

[code]

but it gives below error with selinux package while running in ansible task,
[code]

Can you please help?

reference: https://github.com/SELinuxProject/selinux/issues/143

[2019-04-10 19:32] sivel commented on #34340
The selinux project on pypi is effectively an empty module, not providing any actual functionality.  There is no pip installable package available.

[2019-04-10 20:11] dagwieers commented on #40912
@ACISupport Sorry I didn't see this comment, I do not usually monitor closed issues for new comments.

What do you mean with a subscription module for ACI ? Feel free to open a new issue with details to what you are looking for (mentioning specific ACI object classes gives you bonus points :-)).

[2019-04-10 20:11] horseinthesky commented on #54859
@justjais That's correct but only if `self._network_os != 'default'`.
`ssh_config` is defined on line 301.
And if `self._network_os == 'default'` connection is made somewhere between lines 292-297 ignoring users ssh config.

[2019-04-10 20:19] #55005 closed, assigned to Akasurde

[2019-04-10 20:23] samdoran commented on #18889
Closing as this capability is available in the `dpkg_selections` module.

[2019-04-10 20:23] #18889 closed, assigned to nobody

[2019-04-10 21:05] bcoca commented on #47529
very old issue but explains it all, sore spot for me #11175

[2019-04-10 21:39] UnitedMarsupials-zz opened #55112 "xml module's "ensure: present" always treats value as yaml"
##### SUMMARY
Both `add_children` and `set_children`  allow the _children_ of the node to be given in XML -- depending on the `input_type`. It is quite inconsistent for `value` to not allow the same.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
xml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Trying to run the below playbook,

[2019-04-10 22:08] UnitedMarsupials commented on #55112
+label: m:xml
+label: module

[2019-04-10 22:14] tessier-marc opened #55113 "template_vars are not reset between calls for template lookup"
##### SUMMARY
templar_vars are not reset between calls for lookup('template') for a given task with Python3 in the template lookup plugin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/lookup/template.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Tried on Arch Linux and WSL OpenSUSE Leap 15.1

##### STEPS TO REPRODUCE

playbook.yml
[code]

lo

[2019-04-10 23:05] milieu commented on #15529
I am unsure if my use case matches @ssbarnea's but this is what I would like to be able to do:

[code]

[2019-04-11 01:07] goneri commented on #54857
Follow up to Monday discussion. So, I was indeed wrong. I cannot reproduce the issue with a real environment.

[2019-04-11 01:07] #54857 closed, assigned to Akasurde

[2019-04-11 01:56] shdat opened #55119 "ssh connection closed"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-11 02:23] yuwzho commented on #53299
!component=ansible/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

[2019-04-11 03:17] #54932 closed, assigned to yungezz

[2019-04-11 03:38] zikalino commented on #55047
I think it's not related to credentials, most likely to this particular scenario.
I will try to reproduce this exact scenario and find the solution.

@mrmibrown in a meanwhile, could I ask you to share output from:

 - debug:
        var: sap_create_loadbalancer_subnet_ids

[2019-04-11 03:58] Akasurde commented on #55119
@shdat It would be nice if you can some details about the problem you are facing and reproducer. Thanks

needs_info

[2019-04-11 05:54] z4nD4R opened #55123 "Unable to run simple python3 script in venv"
##### SUMMARY
Hi folks,
not sure if BUG or just I'm smth missing. I have simple `python3` script I'd like to run/schedule via `Ansible Tower`. I've created simply `ansible playbook` (see bellow). I'm able to run this playbook via `ansible-playbok` even with `awx` user priviledge.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- Ansible Tower
- shell module (also tried with command module)

##

[2019-04-11 06:21] mkrizek commented on #55123
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-04-11 06:21] #55123 closed, assigned to nobody

[2019-04-11 07:01] muffl0n opened #55125 "Copy module shows 'changed' in check mode"
##### SUMMARY
As already described in closed issue #23955, the copy module reports "changed" in check mode, even though it does nothing when running normally. This bug occurs when target is a symlink.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
[code]

Also tested with 2.7.9

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Linux pacha.ndr.de 5.0.2-arch1-

[2019-04-11 07:02] muffl0n commented on #23955
It seems like this exact bug still exists in current versions: #55125

[2019-04-11 07:12] rubentsirunyan commented on #54671
Thank you @richlv !

[2019-04-11 07:17] Fred-sun commented on #54444
@yuwzho Now that the problem has been solved, Could you can close this? Thanks!

[2019-04-11 07:26] fridim commented on #55125
i could reproduce this issue.
it's different from  #23955 though as i cannot reproduce 23955 with directory, only symlink dirs seem to have the issue.

[2019-04-11 07:31] #54444 closed, assigned to nobody

[2019-04-11 07:41] mkrizek commented on #54789
As I already said in my previous comment. If you want to change authorized_keys for root, then you need to do `user: root` and not `user: sbaygithub`.

Again, as I already mentioned, the directory is not touched in my testing, just the file. Can you re-check that, please?

Also, did `/root/.ssh` existed prior to running `authorized_key` task?

Thanks!

needs_info

[2019-04-11 07:55] digifuchsi opened #55128 "nios_zone Module: Field is not allowed for update: zone_format"
##### SUMMARY
If you are using the Module to create a forward or reverse lookup zone the first run succeeds in a changed, but the second run throws an error "Field is not allowed for update: zone_format" even if the zone_format stays the same.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS

[2019-04-11 07:57] anthraxn8b opened #55129 "win_nssm - set timeout for expected service state"
##### SUMMARY
The `win_nssm` module should allow to set the timeout waiting for the defined state/status of the service.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_nssm

##### ADDITIONAL INFORMATION
Right now some services need a measurable amount of time to come up but the `win_nssm` module times out before and generates errors.

[code]

[2019-04-11 08:04] Fred-sun commented on #54138
@Wicaeed Thanks for your updated, From your test log, It seem your credential error. Could you can check your credentials?  I also test your playbook on my local machine, get successful result. Please check! Thanks!

[2019-04-11 08:15] yuwzho commented on #4170
resolved_by_pr #32738

You can simply set the environment variable or modify the `ansible.cfg` to enable native jinjia2 syntax.

reference:
https://github.com/ansible/ansible/pull/32738#issuecomment-407519803
https://github.com/ansible/ansible/pull/32738#issuecomment-462754172

[2019-04-11 08:16] yuwzho commented on #47696
resolved_by_pr #32738

You can simply set the environment variable or modify the `ansible.cfg` to enable native jinjia2 syntax.

reference:
https://github.com/ansible/ansible/pull/32738#issuecomment-407519803
https://github.com/ansible/ansible/pull/32738#issuecomment-462754172

[2019-04-11 08:18] #47696 closed, assigned to zikalino

[2019-04-11 08:32] nicolaibaralmueller commented on #44900
Hi @yuwzho

I am trying to set up dynamic nsg rule management now with ansible.

Your proposed solution does now work.

`"msg": "The conditional check 'item.key != TestRule' failed. The error was: error while evaluating conditional (item.key != TestRule): 'ansible.utils.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'key'`

Can't find other examples online that handles nsg rules with ansi

[2019-04-11 08:43] P-Hessler opened #55132 "Unexpected order of task execution in combination of include_role, block/rescue, run_once: <variable>"
##### SUMMARY

The rescue tasks and following tasks are executed in wrong order when run_once inside the block is provided a variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_role, block, rescue, run_once

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS: Windows Server 2016

##### STEPS TO REPRODUCE

Run the following command for

[2019-04-11 08:48] P-Hessler commented on #55132
This behaviour was also observed on the develop branch (version 2.8.0a1.post0)

[2019-04-11 08:53] sbaygithub commented on #54789
Sorry for this, when I define user: sbaygithub the permissions looks like this:
[code]

and when define root as user it looks similar:
[code]

/root/.ssh was already present in my case.

My current testing scenario which is working as expected looks like the following:
group_vars/all/serverusers.yml
users:
- user1
- user2
- user 3
.....
In tasks/users there are files for user1, user2 and so on and

[2019-04-11 09:02] Fred-sun commented on #52082
kindly ping

[2019-04-11 09:05] vatsalparekh commented on #54900
[code]

[2019-04-11 09:06] mkrizek commented on #54789
[code]

You are still setting the incorrect user. Again, you need to set `user: root` as your changing `root`'s authorized_keys and not `"{{ username }}"`

Documentation says:
[code]

So `user` specifies who owns authorized_keys and NOT whose key you are inserting into authorized_keys.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mai

[2019-04-11 09:06] #54789 closed, assigned to nobody

[2019-04-11 09:10] mkrizek commented on #54949
This appears to be related to how Ansible parses module's result as diagnosed here:
https://unix.stackexchange.com/questions/511210/ansible-dnf-module-module-failure

[2019-04-11 09:14] vatsalparekh commented on #54900
And the template
[code]

[2019-04-11 09:15] Fred-sun commented on #51908
kindly ping

[2019-04-11 09:18] agowa opened #55135 "vmware dynamic inventory naming collision"
##### SUMMARY
Possible name collision within the vmware dynamic inventory plugin

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/vmware_vm_inventory.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

VMware vCenter
ArchLinux

##### STEPS TO REPRODUCE

Currently the inventory name is the vmname concatenated with it's uuid. But n

[2019-04-11 09:19] mkrizek commented on #55119
As stated above, please create a new issue with details on how to reproduce the issue and complete output from running Ansible.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-04-11 09:19] #55119 closed, assigned to nobody

[2019-04-11 09:24] #55006 closed, assigned to nobody

[2019-04-11 10:02] kongslund opened #55139 "openssl_csr fails on second invocation: 'Extension' object has no attribute 'ca'"
##### SUMMARY
openssl_csr fails on its second invocation when having defined the basic constraint `CA:TRUE`. The error is `_check_basicConstraints\nAttributeError: 'Extension' object has no attribute 'ca'`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_csr

##### ANSIBLE VERSION

Note: updated to the latest on `devel` as of today

[code]

##### CONFIGURATION
[code]

##### OS / ENVIR

[2019-04-11 10:12] mshonichev commented on #38840
pip3 docker 3.7.2 : reproduced

[2019-04-11 11:22] panticz commented on #29594
Since Ansible 2.3. you can define nat_destination: YOUR_NETWORK in the os_floating_ip module:

- os_floating_ip:
    ...
     nat_destination: private_net

[2019-04-11 11:28] willthames commented on #40668
But the bug fix was to address the lack of OAIs in an account. I don't understand how your ansible run hasn't picked up the bug fix!

Can you raise a new issue for this (that will ensure we get all the information from your system).

I'd like to see that task being run with `-vvv` so we get all the preceding python lines. The fact that you can even run `python_requirements_facts` suggests you're d