[2016-11-14 17:17] stehefan opened #18484 "Variable in dependency-roles do not get propagated correctly in 2.1.x"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dependency

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default configuration without any changes

##### OS / ENVIRONMENT
N/A (tested on Mac and Windows)

##### SUMMARY
Variables that get available by using dependencies in `meta`-information of a role do not propagate their variables correctly if they got set during inclusion of the role.

[2016-11-14 17:36] bcoca commented on #18483
@rmfitzpatrick not really, the code originally pre evaluated conditionals from includes, if that failed (which it can depending on variable availablity) it appended to tasks. Recently the code changed to remove the 'pre evaluation' so now it is always appending and that is what you are seeing.

By prepending always you will also break existing playbooks, that rely on the current execution order:

[2016-11-14 17:55] ghjm commented on #18483
@bcoca: is `static: no` also valid syntax for 2.1 and 2.0? Or is it new in 2.2? Or in other words, is there a way to write this kind of playbook that is compatible across Ansible versions?

[2016-11-14 17:58] gaurav-dalvi commented on #18475
the playbook which I have mentioned is open source. Here is the link : https://github.com/contiv/ansible/blob/master/roles/docker/tasks/ubuntu_install_tasks.yml

There is nothing like Core in the playbook. Fact is this was working till 2.1.2.0 and when I install ansible 2.2.0 I get this error.

[2016-11-14 18:16] SaitamaGuru commented on #18468
Thank you @alikins @nitzmahone for your responses & suggestions.  I amended the group_vars/windows.yml file to include the ansible_winrm_read_time_sec and ansible_winrm_operation_timeout_sec with higher values.  This message pops up when I run the playbook (pywinrm is already running on the latest version).
...
[WARNING]: ansible_winrm_read_time_sec unsupported by pywinrm (is an up-to-date version

[2016-11-14 18:21] nitzmahone commented on #18468
Those should be be _timeout, not _time, but if it's the same issue others
have hit, it won't matter. Once the SSL tunnel gets wedged, it's wedged- a
timeout of a year won't make any difference.

On Mon, Nov 14, 2016 at 10:16 AM, SaitamaGuru notifications@github.com
wrote:

[2016-11-14 18:51] jctanner commented on #18469
@WooDzu thanks, will await your results.

needs_info

[2016-11-14 19:01] jctanner commented on #18484
Just for clarity, this is the diff between 2.0.2 and 2.1.3 in "example-role : show example role ouput"...

[code]

Here's a diff for the example repo to flag the expectation ...

[code]

[2016-11-14 19:42] bcoca commented on #18483
dynamic includes got added in 2.0, but the `static` keyword was introduced in 2.1

This ticket is still open and we are considering patches, the `static: no` was offered as a workaround.

[2016-11-14 20:02] jctanner commented on #18484
I think this is a duplicate of https://github.com/ansible/ansible/issues/15996 based on bisection to https://github.com/ansible/ansible/commit/33de7707c9027ace26ec62bff8f58717f4080538

https://github.com/ansible/ansible/issues/16332 was opened in reference to #15996, in which jimi-c stated:

[2016-11-14 20:12] jctanner commented on #18484
@jimi-c can you take a look?

[2016-11-14 20:21] adelino-sdsu commented on #11535
I can confirm the same issue in 2.2.0.0

[2016-11-14 20:30] SaitamaGuru commented on #18468
Hi @nitzmahone thanks for the syntax correction.  I amended and re-run unfortunately it still fails.

...
<winserv1> WINRM PUT "/tmp/jdk8/jdk8.zip" to "C:\Users\userName1\AppData\Local\Temp\ansible-tmp-1479155108.33-104190505934207\source" (offset=113750000 size=250000)

 [WARNING]: FATAL ERROR DURING FILE TRANSFER: Traceback (most recent call last):   File "/usr/lib/python2.7/site-packages/ansibl

[2016-11-14 21:05] basictheprogram opened #18486 "ansible_os_family value lost when using -include"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Unchanged from git pull from devel branch

##### OS / ENVIRONMENT

Running Ansible from macOS
Managing OpenSolaris, OpenIndiana, Linux

##### SUMMARY
ansible_os_family value is lost when using "- include" of another yaml file and from what I can tell the
"- debug" command doesn't function

[2016-11-14 21:17] jimi-c commented on #18484
This does not appear related to that.

[2016-11-14 21:18] szinck commented on #11919
This appears to be in 2.1.1.0 as well

[2016-11-14 21:42] adelino-sdsu commented on #11535
Alright I got around this by creating an extra step using set_fact.  Rather than running my commands against the std.out, I run my commands against the new variable which also utilizes regex_replace

[2016-11-14 22:12] ghost commented on #5952
Facing same problem.
$ ansible-playbook --version
ansible-playbook 2.2.0.0
  config file = /home/ansible/.ansible.cfg
  configured module search path = ['/usr/share/ansible']

## file aws_deploy_host.yml

# file: aws_deploy_host.yml
- name: "Deploy new host on EC2"
  hosts: localhost
  roles:
  - { role: aws_deploy_host , tags: [ "create" ] }
    tags:
  - create
- name: Delete host of farm
  host

[2016-11-14 22:18] RRAlex commented on #6112
For others trying to fit 2 values in a TXT record, the format is without brackets or lists, but simply by single quoting all the values once:

`value: '"First value", "2nd val"'`

[2016-11-14 22:34] #18483 closed, assigned to jimi-c

[2016-11-14 22:43] jimi-c commented on #18483
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-11-14 23:23] cherti opened #18489 "Path construction regression for source-fields of modules"
##### ISSUE TYPE
- Bug Report, Regression
##### COMPONENT NAME

tasks-execution, path-creation, to be observed at least in the `copy`-module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Central ansible-folder changed to ~/.ansible
roles-folder configured to ~/.ansible/roles

##### OS / ENVIRONMENT

Linux, but most likely unrelated to OS
##### SUMMARY

`copy: src=template/foobar.txt dest=/etc

[2016-11-15 01:27] bcoca commented on #18192
@ghost  can you confirm that #18490 fixes this for you too?

[2016-11-15 04:21] willthames commented on #16222
So many ways this can go wrong.

[code]

The above will fail if it's a dynamically included file that is skipped through a when condition, in a role that is skipped through a when condition.

Really the deprecation period on this should have been far longer.

[2016-11-15 06:51] GaneshbabuRamamoorthy opened #18491 "Playbook failed due to Unexpected failure during module execution"
#### ISSUE TYPE
- Bug Report

#### COMPONENT NAME
setting up ES cluster using playbook scripts

#### ANSIBLE VERSION
ansible 2.1.2.0
  config file = /home/siddharth/myansible/playbook/ansible-elasticsearch-upgrade/ansible.cfg
  configured module search path = Default w/o overrides

#### SUMMARY
Hi All,

We are currently working on automating ES installation using ansible playbook scripts. I am try

[2016-11-15 08:24] pgasiorowski commented on #18469
No luck after changing remote_tmp and local_tmp to /tmp/ansible. The stack trace is still the same:

[code]

here are contents of run.py:
https://gist.github.com/WooDzu/14809c4d08baa4364c8fbd6f1a5c63e3

[2016-11-15 08:54] GaneshbabuRamamoorthy commented on #18491
Hi @ansibot

I am not able to install Elasticsearch using ansible playbook scripts and below is the issue details,

**Issue Type:-  not able to install Elasticsearch using ansible playbook scripts due to Unexpected failure during module execution**
while debugging we have got the following error,

[code]

Also I have checked the python version in our server it has python 2.6.6. Is that error becau

[2016-11-15 09:29] #17629 closed, assigned to nobody

[2016-11-15 09:29] #17532 closed, assigned to nobody

[2016-11-15 09:30] ntting opened #18492 "How can I get the application UI in windows client"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_shell,  raw, command, script

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

server: centos7
client: window7 32bit

##### SUMMARY

I use the win_shell tu run a .bat file, it start a application in bat file. The application has a UI,  and how can i see the UI?
I test raw is same problem.

[code]

##### EXPECTED RESULTS

I expect to s

[2016-11-15 12:01] jhawkesworth commented on #18492
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-11-15 12:01] #18492 closed, assigned to nobody

[2016-11-15 12:51] jagardaniel commented on #18459
I have the exact same issue. `host.get_group_vars()` returns an empty dict with Ansible 2.2.0.0 in a vars plugin.

I think I found the part of the code where it does not return anything:
https://github.com/ansible/ansible/blob/stable-2.2/lib/ansible/inventory/__init__.py#L837
**return_results** is **False** so it will never set the result variable and the `_get_hostgroup_vars` method it will retur

[2016-11-15 13:33] ghost commented on #963
Another problem with this module:
if you want just to change the mysql root pw, you get this error:
Operation CREATE USER failed for 'root'@'localhost'

I guess this is not fixed by commit: https://github.com/flori/ansible-modules-core/commit/aa19a5780df385b60fde823aab2807202dfdf9ad

:edit: updating the mysql password used to work in old ansible version, I'm not 100% sure, but I guess it worked in

[2016-11-15 14:02] GaneshbabuRamamoorthy commented on #18491
Hi @ansibot

The error which we got during playbook run is something related to Ansible and below is the screenshot for your reference

![ansible error unexpected failure during module execution](https://cloud.githubusercontent.com/assets/20658619/20308471/125f2e26-ab6a-11e6-8597-0453b8cdd018.png)

Let me know your thoughts.

Thanks,
Ganeshbabu R

[2016-11-15 14:08] Shaps commented on #18471
Hi, I've worked on magic vars before, happy to work on this

[2016-11-15 14:23] eproxus commented on #17892
Any update on this?

[2016-11-15 14:23] jctanner commented on #18491
@GaneshbabuRamamoorthy ansibot is expecting an issue summary that resembles the default issue template: https://github.com/ansible/ansible/blob/devel/.github/ISSUE_TEMPLATE.md

I have corrected the description for you, so the bot should be happy now. You will still need to login to the github web interface and fill in the ansible version section before we can begin to work on the issue.

[2016-11-15 14:33] GaneshbabuRamamoorthy commented on #18491
@jctanner

Thanks for correcting me and now I update the corresponding details and please let me know your thoughts on this issue.

[2016-11-15 15:58] jimi-c commented on #16222
@willthames working on a fix for this: https://gist.github.com/jimi-c/06ded52fe85475ca98392955ebae8d18

[2016-11-15 15:59] ederst commented on #15769
We seem to have the same problem. We run Ansible in Docker containers using `virtualenv` to switch between different Ansible versions. But it seems to happen only with Ansible Versions >2.0, though I don't know if the problem also exists with 2.2.

Due to our developers constantly executing Ansible jobs, this phenomenon occurs quite often: At least 2-3 times a day, which is quite annoying.

**Ansi

[2016-11-15 17:14] jimi-c commented on #16222
Merged in the above, which should resolve this issue.

[2016-11-15 17:36] TimJDFletcher opened #18496 "Ansible dynamic inventory script ec2.py fails with --profile"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ec2.py dynamic inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Created simple AWS profiles in .aws/config and .aws/credentials

$HOME/.aws/credentials
[code]

$HOME/.aws/config
[code]

##### OS / ENVIRONMENT
macOS 10.11.6
Ansible installed via pip (pip install -U git+git://github.com/ansible/ansible.git@stable-2.2)

##### SUMMARY
C

[2016-11-15 17:50] jimi-c commented on #18484
After reviewing this, I believe the "Actual" output is correct. Because the base_path variable is being set in the meta data, it is overriding the value only for the dependent role and not for example-role, which is what I expect to happen. If you want the value to override the base_path value for both the example AND the dependent role, the variable should be set in the params for example-role in

[2016-11-15 17:50] #18484 closed, assigned to jimi-c

[2016-11-15 17:59] #18420 closed, assigned to jimi-c

[2016-11-15 18:00] jimi-c commented on #18420
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-11-15 18:39] jctanner commented on #18491
@GaneshbabuRamamoorthy I don't see the role files in the zip, but I'm guessing the error is from a task inside one of the roles?

Based on the fact that it's a key error for a variable and the variable is named "discovery.zen.minimum_master_nodes", I'm guessing that jinja is expecting a dict like:

[code]

Have you tried replacing the periods in your variable names with underscores?

needs_info

[2016-11-15 19:14] spiette commented on #17979
I don't have this problem with version 2.2.0.0

[2016-11-15 19:44] rqelibari commented on #8603
#### Referring to @bn0 answer above:
###### And also referring to all who say, that this feature would be logically nonsense:
This feature is actually well-defined in terms of meaning exactly one thing. We can easily verify this, as we all now what we mean with this "back reference".
The problem here really refers only on how an implementation would look like.

## 1. Implementation Problem
#### Bu

[2016-11-15 20:16] #18192 closed, assigned to bcoca

[2016-11-15 20:36] #14939 closed, assigned to nobody

[2016-11-15 20:50] gg7 commented on #14674
Here's a hacky workaround:

[code]

[2016-11-15 21:46] nnutter opened #18497 ""Error retrieving container list" due to `AnsibleDockerClient.get_container()` crashing when any container is missing a name."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`AnsibleDockerClient` (`lib/ansible/module_utils/docker_common.py`)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.5 (Santiago)

##### SUMMARY

`AnsibleDockerClient.get_container()` crashes when any container is missing a name.

##### STEPS TO REPRODUCE

This is not

[2016-11-15 22:07] nnutter commented on #18497
I have confirmed that this patch prevents the crash,

[code]

[2016-11-15 22:48] raji789 commented on #18099
I fixed this issue my self.

We are using python threading framework and spanning multiple threads and running same playbooks on different target hosts in each thread. This approach is causing issue.

We now used multiprocessing instead threading and we don't see the issue I stated in this ticket.

If this is something not to be fixed in ansible code go ahead and close this issue.

Thank you all f

[2016-11-15 22:49] nnutter commented on #18497
Looks like the missing name is due to a failure during `docker rm`,

[code]

[2016-11-16 00:27] bcoca commented on #18099
So that would have been a red flag if mentioned from the start, Ansible is NOT thread safe, it is designed around multiprocessing.

[2016-11-16 00:27] #18099 closed, assigned to alikins

[2016-11-16 01:49] O2Graphics commented on #13401
@untoldone sadly we still have weird issues with ansible 2.1.1 (bugs differents to #13401, #15766 and #16938).

Here are some of the stuff we needed to change from 1.7.2 to 2.1.1:
- For FreeBSD hosts, using a group var of "ansible_python_interpreter: /usr/local/bin/python2.7" instead of "ansible_python_interpreter: /usr/bin/env python2.7"
- Sometime ansible-playbook doesn't find some variables, an

[2016-11-16 02:43] untoldone commented on #13401
@O2Graphics Ugh ... that's really a bummer. I feel like these types of bugs + breaking changes + not obvious amounts of attention from the project owners makes me uncomfortable with Ansible as a whole.

[2016-11-16 02:45] jctanner commented on #17721
Hi!

The testcase outline in the description has been resolved in Ansible version 2.2 and the devel branch.

If you believe this ticket is not resolved, or have further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/a

[2016-11-16 02:45] #17721 closed, assigned to nobody

[2016-11-16 04:20] jmoraleda commented on #17686
I believe variable resolution in nested add_role is still not working properly. For example if we change the example above such that instead of the line
 b: "{{ a+1 }}"
in ./roles/a/tasks/main.yml where (a is a variable that was passed to the add_role) we had instead
 b: "{{a_defaults_var}}"
where a_defaults_var was a variable _not passed_ to the add_role. (It was for example defined in roles/a/de

[2016-11-16 04:27] jmoraleda commented on #18217
Hello. I am still seeing this issue in the latest code. Is there anything I can do to help?

[2016-11-16 04:27] awr commented on #15249
Depending on your context, you _may_ be able to work around the issue by passing something which contains the item.

I ran into this with `azure_rm_securitygroup`, which accepts `rule`s as a list of dicts. One property on the dict (`priority`) needed to be an int, which I couldn't pass in due to this issue. If I instead passed the entire dict, then the property on the dict did manage to stay as an

[2016-11-16 05:16] simonbaird commented on #16222
Thanks very much @jimi-c and @willthames.

[2016-11-16 06:13] simonbaird commented on #16222
I have an interesting variation, something like the following:
(The diff shows my workaround).

[code]

This is in a role called `fetch-jenkins-build` which is skipped when we're deploying builds from sources other than Jenkins.

Note that the skipped task still sets jenkins_build_info, so that's why the default needs to be on the jenkins_build_info.json to work in this scenario.

[2016-11-16 06:29] simonbaird commented on #16222
@jimi-c since your patch catches AnsibleUndefinedVariable I don't think it would help in a case like the above since the error is different. This is the error message I get without the workaround:

[code]

[2016-11-16 06:46] macnibblet commented on #17495
For heaven sake, how can this not be effing released yet ?

[2016-11-16 07:12] thoughtless commented on #10152
I am experiencing the same problem with Ubuntu Unity's `.desktop` files. My workaround is a script like this, which I use to validate:

[code]

[2016-11-16 07:44] 13dimitar opened #18498 "Issue when copying and/or addressing Ansible AWS EC2 variables"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

task execution, variable handling

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Ansible control machine - Mac OS Sierra 10.12.1
target machine - AWS EC2 Instance

##### SUMMARY
When you create an instance with the ec2 module, you can store the instance details in a variable (I'll use the "system" variable nam

[2016-11-16 09:07] mbialozor opened #18499 "Wrong information in documentation about overriding task tags by role tags"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Playbook Roles and Include Statements

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[defaults]
ask_sudo_pass = True
become_method = sudo
hostfile = hosts
hash_behaviour = merge

##### OS / ENVIRONMENT
Fedora release 26 (Twenty Six)
Linux nostromo.local 4.11.2-300.fc26.x86_64 #1 SMP Mon May 22 16:15:55 UTC 2017 x86_64 x86_64 x86

[2016-11-16 09:09] ntting commented on #18492
I use the PsExec to start the application , it have the interface.

[2016-11-16 09:21] #14151 closed, assigned to nobody

[2016-11-16 10:34] dagwieers commented on #16412
We actually use the cached ansible_date_time to find out how old the cached facts are (as a means to know what we are working with). We use this as part of collecting system facts and reporting facts-changes (in a log) and keeping an inventory (CSV) of all important system facts. So changing this behaviour would have an impact.

[2016-11-16 10:37] dagwieers commented on #16049
Just as a reference for others, I prefer this syntax over the use of the ternary filter:

[code]

[2016-11-16 11:15] bborysenko opened #18502 "Distribute Ansible as a binary"
##### ISSUE TYPE: Feature Idea

It might be great to distribute Ansible as a binary with [pyinstaller](http://www.pyinstaller.org/) like docker-compose do. In this way it would be possible to for example bootsrap local server without even python environment installed.

What I have tried is:

[code]

[2016-11-16 11:50] theyough commented on #18461
👍

[2016-11-16 11:57] zystem opened #18503 "local_action creates Syntax Error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
local_action

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
using local_action in playbook got
ERROR! Syntax Error while loading YAML.
same playbooks written using alternative directives runs as expected
but it may be problem with 'subversion' module because using 'file' module local_action runs correct
#

[2016-11-16 13:17] kivilahtio opened #18504 "ERROR! 'with_items' is not a valid attribute for a PlaybookInclude"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
PlaybookInclude + with_items

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using default configurations from pip install ansible.
Using vault_password_file and vaults to protect sensitive passwords

##### OS / ENVIRONMENT
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"

##### SUMMARY

[2016-11-16 14:14] Hubbitus commented on #3869
I wish use it in next scenario. Say I have 2 roles - `postgres` and `postgres-slave`. Postgres do main server setup like services, directories, users… `postgres-slave` should setup replication. For that it must empty main base directory or `postgres` role will fail on `initdb` stage what it does not empty. Off course I could add many conditional variables for certain tasks, but it seams not elegan

[2016-11-16 14:27] 13dimitar commented on #18498
Just an update, copying the value of a variable to another variable works if done like:

[code]

[2016-11-16 14:55] jwendt-bnsf commented on #16858
Can confirm with @fd98279. Using Ansible 2.1.2.0 and Tower 3.0.3. Resetting the Windows password to remove digits corrected the issue when running the playbook from Tower.

[2016-11-16 15:06] bcoca commented on #18504
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The error message is correct, this is not a bug, this is not a feature in Ansible. Play includes are not real tasks and do not support loops nor conditionals.

[2016-11-16 15:06] #18504 closed, assigned to nobody

[2016-11-16 15:39] leseb commented on #18357
Same error here, includes in handler break with ansible 2.2
This PR has the issue: https://github.com/ceph/ceph-ansible/pull/995/

[2016-11-16 15:55] gundalow opened #18505 "py3: dict.has_key (replace with key in dict)"
bot_skip

[2016-11-16 15:55] gundalow opened #18506 "py3: dict.iteritems"
dict.iteritems() has gone away in python3.  To make code compatible you can do one of three things:

* If the dictionary isn't big, just use dict.items().
* If the dict is big and the code is in module (or module_utils) code use
[code]
* If the dict is big and the code is in controller code, use
[code]

**edited:** By abadger to clarify what the various ways of porting this code are.
bot_skip
** E

[2016-11-16 15:55] gundalow opened #18507 "dict.iterkeys (replace with for key in dict)"
bot_skip

[2016-11-16 15:56] gundalow commented on #18505
/cc @abadger

[2016-11-16 15:56] gundalow commented on #18506
/cc @abadger

[2016-11-16 15:56] gundalow commented on #18507
/cc @abadger

[2016-11-16 16:00] tweeks024 opened #18508 "include_vars does not honor failed_when for missing files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_vars
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

include_vars no longer honors `failed_when: false` for missing files.

note, we can work around this using the suggestions [here](http://stackoverflow.com/questions/28119521/ansible-include-task-only-if-file-exists)
##### STEPS TO REPRODUCE

[2016-11-16 16:16] DB-CL opened #18509 "A commit on ansible broke the template module"
A commit here, on ansible code, broke the template module for the stable-2.2 branch. I don't think this is module related, that's why I'm posting here. Please tell me if I'm doing it wrong.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template module or ansible (?)

##### ANSIBLE VERSION
Pulled from 2.2 stable branch
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT
Debian 8 (vagra

[2016-11-16 16:48] #18509 closed, assigned to nobody

[2016-11-16 16:49] DB-CL commented on #18509
Sorry I mixed two commits hash, I still have the bugs but I think it's module related.

[2016-11-16 16:59] abadger commented on #13401
Thanks @nirik for pointing me at this bug.

@O2Graphics Your first bullet point should be fixed via https://github.com/ansible/ansible/pull/15638

The second one is probably an issue with var caching.  That's not an area I'm familiar with so we'll need a bug report with a reproducer for someone familiar with the cache plugins to look into.

The last one I believe you're right.  There was a lot of

[2016-11-16 17:10] gundalow opened #18510 "Network modules: Graceful message on BadHostKeyException"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/network.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
The network modules throw a backtrace if they get a `BadHostKeyException`.

This fix needs to go into `devel`, and `stable-2.2`

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS
##### ACTUAL RESULTS

[code]

[2016-11-16 17:10] gundalow commented on #18510
/cc @privateip @Qalthos

[2016-11-16 17:12] jimi-c commented on #16222
@simonbaird well that's just odd that Jinja2 doesn't raise the undefined error in that case...

[2016-11-16 18:01] jimi-c commented on #16222
@simonbaird I'm actually having difficulty reproducing your error. With the following playbook:

<pre>
- hosts: localhost
  gather_facts: no
  tasks:
  - command: echo hi
    when: false
    register: jenkins_build_info
  - name: do something
    set_fact:
      jenkins_rpm_name: "{{ item.fileName }}"
    when: item.file
    with_items: "{{ jenkins_build_info.json.artifacts }}"
</pre>

The output

[2016-11-16 18:37] jimi-c commented on #17983
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-11-16 18:38] jimi-c commented on #17983
Letting this burn in on devel for a few days, will cherry-pick to stable-2.1/stable-2.2 then.

[2016-11-16 18:48] cherti commented on #18489
@agaffney @bcoca
you have worked on #17877, do you think this is similar or a completely different issue from the technical side?

[2016-11-16 18:51] agaffney commented on #18489
This appears to be a side effect of the code changes that caused #17877 in the first place. However, using the `copy` module to fetch a file out of `templates` is technically "wrong".

[2016-11-16 18:55] omgjlk commented on #18318
I had to change the conditional to

`when: this_is_bad | default(False) |bool`

but now it does indeed work as I think it should, after 18448 was merged.

[2016-11-16 18:55] #18318 closed, assigned to jimi-c

[2016-11-16 19:49] jctanner commented on #18505
These files make use of "has_key" ...

ansible/lib/ansible/modules/extras/system/crypttab.py
ansible/lib/ansible/modules/core/packaging/os/rhn_register.py
ansible/lib/ansible/modules/core/system/user.py
ansible/contrib/inventory/gce.py

[2016-11-16 19:50] abadger commented on #18502
This is probably something that needs to be an Ansible Proposal if it is going to go anywhere.  I'll post a link to that process below.

There are some problems with this, though, so I'll tell you a few of those so you can judge whether you want to go through the proposal process or not:
- ansible depends on pycrypto and pyyaml, both of which have a compiled component to them.  So any binary insta

[2016-11-16 19:50] #18502 closed, assigned to nobody

[2016-11-16 19:57] NISHAgl opened #18512 "No config file path and file found"
Hi
I installed ansible using the following steps, I am also able to see ansible & ansible-playbooks version which is 2.2.0.0 but the config file path is blank. I checked /etc/ansible but getting error no directory found. Please refer the steps I followed:

yum update -y
easy_install pip
yum groupinstall "Development Tools"
gcc --version
pip install paramiko PyYAML Jinja2 httplib2 six
yum install p

[2016-11-16 20:08] jamesjuran2 commented on #17852
This may not be specific to with_sequence. I'm doing an assignment out of another variable (and thus invoking jinja2), and it is similarly giving me a string when I am expecting an integer. The workaround of using |int on the arithmetic also works here.

Here's my test playbook, showing that the arithmetic works on a simple direct-assigned variable, but fails when the variable is assigned via jinj

[2016-11-16 20:11] cherti commented on #18489
"wrong" or not, this still breaks playbooks that worked with 2.1 and it doesn't seem to have negative side effects to restore previous behavior. Just wondering if this needs fixing on its own or if extending the fix for #17877 already does the trick.

[2016-11-16 20:13] agaffney commented on #18489
An extension of the fix for the previous issue will be needed to address this use case.

[2016-11-16 20:14] #18428 closed, assigned to alikins

[2016-11-16 20:22] EvanK opened #18513 "fetch_url fails with empty exception"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`fetch_url` helper in module utils

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Control is OSX 10.11.6, running python 2.7.10

Remote is a vagrant vm of Ubuntu 14.04.5, running python 2.7.6, with pip installs of urllib3, pyopenssl, ndg-httpsclient, pyasn1 (for SNI support)

##### SUMMARY

A `get_url` task is

[2016-11-16 21:00] abadger commented on #18503
This is a Syntax Error because the yaml is trying to make local_action contain both a dictionary (the arguments) and a string (the module name).  I think it should work if you change it like this:

[code]

[2016-11-16 21:00] #18503 closed, assigned to nobody

[2016-11-16 21:05] bcoca commented on #18503
no need for args:

[code]

[2016-11-16 21:42] dhallam opened #18514 "when clause doesn't fail when nested dict key refers to a missing templated variable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

any task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none - out of the box

##### OS / ENVIRONMENT

ubuntu 16.04 64 bit

##### SUMMARY

A ```when``` clause on a task does not fail when the condition refers to a dict that has a templated value against a key where the templated value has not been defined.

##### STEPS TO REPRODUCE

The

[2016-11-16 21:57] abadger commented on #18512
pip doesn't generally install configuration files and pip with ansible is no different.  If you just want to try out ansible, it generally works without an ansible.cfg file.  (You do need to specify some inventory but you can do that on the command line rather than a file if you want).  If you want to get a sample config file to adapt, you can get it from the tarball or the source repository here:

[2016-11-16 21:57] #18512 closed, assigned to nobody

[2016-11-16 22:27] kivilahtio commented on #18504
Hi!
Thank you for your reply.
It was the most heartwarming way of saying RTFM :)

Can you explain to me why dynamic includes have been documented to the official manual then?
http://docs.ansible.com/ansible/playbooks_roles.html#id6

[2016-11-16 23:46] jctanner commented on #18505
ansible/lib/ansible/modules/core/packaging/os/rhn_register.py is a special case that needs further investigation: https://github.com/ansible/ansible-modules-core/commit/196354656414377195319e656dd91c7ad95d4eec

[2016-11-17 00:48] bcoca commented on #18504
Those are 'task' includes, not play includes. The docs clarifying the distinction are here:
http://docs.ansible.com/ansible/include_module.html

I'll update the linked docs as they do not clearly make that distinction.

[2016-11-17 01:17] bcoca commented on #18504
I hope this makes it clearer #18516

[2016-11-17 03:14] bcoca commented on #16935
fixed via 236c923c25c053b0ff912f328e87da2dd26cbf69

[2016-11-17 03:14] #16935 closed, assigned to jimi-c

[2016-11-17 03:19] bcoca commented on #16876
2 things, duplicate handler names are allowed, but when using the names for notification only the 'last one loaded' works, this is by 'design' to allow overriding existing handlers.

The second is that with the new `listen` directive you can notify multiple handlers and the name is less relevant.

[2016-11-17 03:36] bcoca commented on #16876
I would consider adding a toggle (config) to make 'duplicate' handler names a warning, it should not be an error.

[2016-11-17 04:01] simonbaird commented on #16222
I should mention I'm using 2.2.0.0 (without your patch) in my example above.

Maybe this could be solved if there was a different mechanism for skipping tasks inside a role that is skipped by a when condition (other than injecting extra logic into the when condition for each task in the role).

[2016-11-17 04:04] willthames commented on #16222
http://docs.ansible.com/ansible/playbooks_roles.html#dynamic-versus-static-includes

`static: no` should do the trick.

[2016-11-17 04:34] geerlingguy commented on #16222
@willthames - That's what I've been doing for a lot of my roles (if one of the includes is skipped, things start breaking), like here: https://github.com/geerlingguy/ansible-role-php/commit/391bc99ed535a4770bf4f70f8b8e49d2625ce7fe

[2016-11-17 12:02] clonedagain opened #18518 "Tags are silently ignored when they contain UTF-8"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tags

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults provided by the official Ubuntu 16.04 backport package.

##### OS / ENVIRONMENT
Ubuntu 16.04  in French

##### SUMMARY
ansible-playbook does not compain if we define tags with random UTF-8 characters (ie. accents like éèê) but they are ignored.

##### STEPS TO REPRODUCE
Set your sh

[2016-11-17 12:43] JulienChampseix commented on #11935
@bcoca it's flagged as affecting 2.1, is it planned for next release 2.3  ?

[2016-11-17 13:33] vmullet opened #18520 "Link to COPYING in README (FEATURE IDEA)"
Hello,
I checked your project and it is very interesting. I was thinking to add a link to your licence file (COPYING) in the README.md as people are often accustomed to search for the file "LICENCE" and not the file "COPYING". I will do a PR for that if you are interested :)

##### ISSUE TYPE

 - Feature Idea

[2016-11-17 13:35] marcstreeter commented on #15321
tried a couple combinations of `ansible_host` names and I've found it works with

[code]

and that it doesn't work (without specifying paramiko) with

[code]

[2016-11-17 13:40] genei09 opened #18522 "delegate_to does not propagate to steps in a hierarchy of included playbooks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
OSx 10.12.1.

##### SUMMARY
up to 2.1.2.0 delegate_to would be respected on all steps from included .yml files.  In 2.2.0.0 every include needs to have a delegate_to.

##### STEPS TO REPRODUCE
have a main playbook which includes a 2nd playbook
the 2nd play

[2016-11-17 13:46] clonedagain opened #18523 "`ansible-playbook` crashes when all hosts fail and playbook filename is UTF-8"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults provided by the official Ubuntu 16.04 backport package.

##### OS / ENVIRONMENT
Ubuntu 16.04  in French

##### SUMMARY
##### SUMMARY
When a playbook has a filename in UTF-8, if all hosts in a play fail then `ansible-playbook` crashes while reporting the failures.

####

[2016-11-17 14:25] clonedagain commented on #18523
My bad, it's fixed in 2.2.

[2016-11-17 14:25] #18523 closed, assigned to nobody

[2016-11-17 14:27] zaynetro commented on #15321
Limiting ssh key permissions to 600 fixed this issue.

[2016-11-17 14:27] clonedagain commented on #18518
Sorry, it's been fixed in 2.2

[2016-11-17 14:27] #18518 closed, assigned to nobody

[2016-11-17 14:57] Shaps commented on #18506
Working on this

[2016-11-17 14:57] Shaps commented on #18507
Working on this

[2016-11-17 15:00] ghost opened #18526 "Regression in template {% include %} search path in v2.2"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

template lookup

##### ANSIBLE VERSION

`2.2.0.0`

##### CONFIGURATION

Nothing

##### OS / ENVIRONMENT

Gentoo control machine

##### SUMMARY

When using `{% include %}` in a template, templates in the `templates/` subfolder (relative to playbook) are not found anymore (they were in ansible v2.1).

##### STEPS TO REPRODUCE

I've created a minima

[2016-11-17 15:12] #18505 closed, assigned to jctanner

[2016-11-17 15:21] jimi-c commented on #18508
bot_ignore

[2016-11-17 16:05] genei09 opened #18527 "docker-container module does not let docker-py decode pull response in ansible 2.2.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker-container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
OSx
Docker for Mac 1.12.3

##### SUMMARY
docker-images module was updated to pull images but not docker-container

##### STEPS TO REPRODUCE
use docker-container module with pull: True

##### EXPECTED RESULTS
the docker image is pulled

##### ACTUAL R

[2016-11-17 16:17] abadger commented on #18513
I've been unable to reproduce this using a Fedora25 controller and an ubuntu14.04 VM.  What I've tried:
- Install the Ubuntu14.04 vm.
- Update to latest packages available to apt.
- Test the given playbook.  [works]
- Remove /tmp/purge-kernels.py
- ansible ubuntu14-test -m pip -a 'name=urllib3,pyopenssl,ndg-httpsclient,pyasn1 state=present' --sudo -K  [Installs new versions of ndg-httpsclient and

[2016-11-17 16:38] jwodder opened #18528 "SNI support is broken for new versions of urllib3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
SNI support provided by `ansible.module_utils.urls`

##### ANSIBLE VERSION
Everything since [commit 6e9c09d](https://github.com/ansible/ansible/commit/6e9c09d7f76decbbf50ee9804da69b7c25dba9f9)

##### SUMMARY
[As seen here](https://github.com/ansible/ansible/blob/77af3a68de3d054ddb3be905d96b1d07c2e89adf/lib/ansible/module_utils/urls.py#L148), Ans

[2016-11-17 16:43] abadger commented on #18513
needs_info

[2016-11-17 17:08] gwagner commented on #14396
MOAR SHAMELESS BUMPAGE!!

[2016-11-17 17:09] gundalow opened #18529 "Document deprecations"
* New page to replace
http://docs.ansible.com/ansible/dev_guide/developing_releases.html up a level
* Document deprecation process

bot_skip

[2016-11-17 17:10] jimi-c commented on #18508
bot_skip

[2016-11-17 17:55] mattclay commented on #18308
This is covered by [empty-init.sh](https://github.com/ansible/ansible/blob/devel/test/sanity/code-smell/empty-init.sh) in the code-smell tests.

Since we won't need this in two places after the repository merge, I recommend closing this issue.

[2016-11-17 18:28] gundalow commented on #18308
Ah, cool. Didn't know we have that already. Closing this. Thanks

[2016-11-17 18:28] #18308 closed, assigned to nobody

[2016-11-17 19:04] jctanner opened #18532 "async test target has a race condition"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

integration test for async

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

https://app.shippable.com/runs/582dfa31da9a420f00eb6f81/21/tests
https://app.shippable.com/runs/58224575e5a0190e0008ee79/15/tests
https://app.shippable.com/runs/5817ccfb4e13e60f003b7a45/23/tests

[code]

https://app.sh

[2016-11-17 19:26] EvanK commented on #18513
I removed the [catch-all exception in the module utils](https://github.com/ansible/ansible/blob/fcca6245d175bc2577e68478f69330020d70f330/lib/ansible/module_utils/urls.py#L1012-L1014), allowing the module to fail and the uncaught exception to bubble up. Got the following traceback:

[code]

So, it looks like there's two issues here:
1. an empty exception that hides upstream issues
2. a failure in p

[2016-11-17 19:36] EvanK commented on #18513
Following up, [both wget and curl](https://gist.github.com/EvanK/efb5552f7ffe9ec4576e559bbe481c46) seem to work. This is a more or less vanilla vagrant box, so I'm not aware of any alt certificate stores

[2016-11-17 20:01] miuel commented on #15321
Having the same issue:
ansible 2.1.2.0
Ubuntu 14.04.5 x64

Error:
[code]
when i try to make ansible-playbook -i inventory.ini shsh.yml --key-file ssh/deploy
Is it for ssh key permissions ?

[2016-11-17 21:56] cboylan commented on #18281
Having written the suggested fix patch (pull request above), I think that ansible should better protect itself against the case more generally. Invocations of tasks should be idempotent and ideally that would be enforced by ansible's retry mechanism not by individual modules.

Knowing just about nothing of ansibles internals my suggestion would be that ansible use a new ActionModule object per ret

[2016-11-18 01:08] omgjlk opened #18537 "vault edit does not handle file ACLs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vault edit
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

vault edit attempts to restore file permissions when it moves a file in place. https://github.com/ansible/ansible/blob/devel/lib/ansible/parsing/vault/__init__.py#L538-L551

however this doesn't account for ACLs which may exist on the original

[2016-11-18 07:42] Shaps commented on #18507
iterkey also appears in:
`modules/core/cloud/vmware/vsphere_guest.py`
`modules/extras/cloud/amazon/ec2_vpc_route_table.py`

Will fix those in separate PRs

[2016-11-18 09:11] KroArtem commented on #4870
+1

[2016-11-18 09:23] SunilTumuluri commented on #16858
You may please close the issue.
I will try for workaround.

From: ansibot [mailto:notifications@github.com]
Sent: Friday, November 18, 2016 2:49 PM
To: ansible/ansible ansible@noreply.github.com
Cc: Tumuluri, Sunil sunil.tumuluri@accenture.com; Comment comment@noreply.github.com
Subject: Re: [ansible/ansible] ssl: auth method ssl requires a password (#16858)

@arunjohnhttps://urldefense.proofpoint

[2016-11-18 10:59] berislavlopac commented on #4140
Just a comment that it didn't work for me, the lock remained in place even with the above command. But as I'm deploying on EC2 I simply updated my base image by manually removing `unattended-upgrades`.

[2016-11-18 11:43] uebertrieben commented on #12086
+1 on forks

[2016-11-18 12:08] fernandezcuesta commented on #18359
I found out this is only happening with group vars; with host vars it works as expected.

[2016-11-18 12:50] danielkza opened #18540 "include_role does not import variables from outer role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Irrelevant

##### OS / ENVIRONMENT
Ubuntu 16.04 and OS X 10.11 (same behavior)

##### SUMMARY

Using `include_role` does not define variables from the outer role in the inner role, which makes it very cumbersome to combine roles in larger ones with common configuration.

##### STEPS

[2016-11-18 14:01] DebianRoxx commented on #17528
I just updated Ansible to 2.3.0 (detached HEAD f6437f1b6e).
Can't done yet percentage of gains (some bugs) but things are far faster between tasks. :)

[2016-11-18 14:01] Sabbasth commented on #9556
@fields This is a YAML behavior not related to Ansible. You have ways to deal with this: http://stackoverflow.com/a/21699210/1202512

[2016-11-18 14:17] DebianRoxx commented on #18522
I have similar problem with ansible 2.3.0 (detached HEAD f6437f1b6e), _delegate_to_ doesn't work well over block : tasks run on the "top" host.
To bypass that, I must apply _delegate_to_ over each _include_ like that :

[code]

[2016-11-18 15:29] #18508 closed, assigned to nobody

[2016-11-18 15:30] jimi-c commented on #18508
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-11-18 15:58] jimi-c commented on #18508
Also cherry-picked to stable-2.2, so this will be included in 2.2.1.

[2016-11-18 16:21] haines opened #18544 "include_role loop fails when there are no items in the list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Linear strategy plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When running `include_role` in a loop, an exception is thrown if the items list is empty:
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The `include_role` task is not executed and the following output is prod

[2016-11-18 17:13] #18544 closed, assigned to nobody

[2016-11-18 17:54] rclaveau-tech commented on #14335
Hello,

I have defunct process on Linux CentOS 7.1.1503 :

root     48615  0.0  0.0 168352  2224 ?        S    16:22   0:00 /usr/sbin/CROND -n
newtprod 48616  0.0  0.0 108320   640 ?        Ss   16:22   0:00  _ flock -nE 0 /tmp/ansible-playbook.lock -c (time /usr/bin/ansible-playbook -i /USR/newtprod/ansible/dev /USR/newtprod/ansible/deploy.yml
newtprod 48617  0.0  0.0 113116  1200 ?        S    1

[2016-11-18 18:20] alikins commented on #18223
@jhriv Not sure what you mean. Are vaulted files not working? If so, how do they fail?

[2016-11-18 18:41] jhriv commented on #18223
Vaulted files aren’t in a YAML syntax, so having a .yaml / .yml suffix is misleading at best.
On Nov 18, 2016, at 10:20, Adrian Likins <notifications@github.com<mailto:notifications@github.com>> wrote:

What about vaulted files?

@jhrivhttps://github.com/jhriv Not sure what you mean. Are vaulted files not working? If so, how do they fail?

—
You are receiving this because you were mentioned.
Reply

[2016-11-18 19:02] mwoodson opened #18549 "Using with_fileglob and "delegate_to: localhost" causes ansible to make ssh connection to localhost"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

with_fileglob

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Linux - RHEL 7

##### SUMMARY

This is appears to be fairly specific, but there is an issue with running with_fileglob and "delegate_to: localhost".  Normally, when delegate_to: localhost is called, it will use the "ansible_connection: local".  But,

[2016-11-18 19:23] jimi-c commented on #17983
Cherry-picked to stable-2.2, does not apply to stable-2.1, so closing now. If we do want this to be backported to 2.1 we'll have to fix it another way.

[2016-11-18 19:23] #17983 closed, assigned to jimi-c

[2016-11-18 19:25] jimi-c commented on #17810
@michaeldfallen we're planning on releasing 2.2.1 RC1 today, so closing this now as we believe it has addressed the error.

[2016-11-18 19:25] #17810 closed, assigned to jimi-c, bcoca

[2016-11-18 19:35] jimi-c commented on #17606
Hi @mentalisttraceur, I can no longer reproduce this on devel/stable-2.2/stable-2.1, so I'll go ahead and close this. If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https:

[2016-11-18 19:35] #17606 closed, assigned to jimi-c

[2016-11-18 19:36] jimi-c commented on #17606
I did go back to confirm, and at least 2.1.3.0 works as expected, so there is a known-good version.

[2016-11-18 19:37] jimi-c commented on #17528
@lassizci hostvars with large inventories (especially if there is a large amount of group_vars/all variables) has always been a very expensive thing to use, unfortunately.

[2016-11-18 19:38] jimi-c commented on #17528
@DebianRoxx if things are looking better, I'll leave it up to you to close this issue. Performance is always an ongoing thing, so I'd hate to leave an issue open indefinitely for it.

[2016-11-18 20:18] DebianRoxx commented on #17528
@jimi-c I will validate and close the ticket next week. First test gave me x5 boost (20 min -> 4 mins) :)

[2016-11-18 20:21] jimi-c commented on #17482
I believe this is happening specifically because it is a KeyError, which is bubbling up to the HostVars object. As a dict-like object in the jinja2 engine, this KeyError is being interpreted as 'localhost' is missing as a key. For example, if you have the lookup simply raise Exception, here's what you see:

<pre>
TASK [debug] *******************************************************************
task

[2016-11-18 22:13] jimi-c commented on #17395
Yes, disallowing a few things from regular attributes because they're commonly used as param names was something we changed in 2b02e8e2b43a7b5e10e0c12b0bbecedfb00f50c0. At some point we probably need to revisit that decision, since we've tried to move users away from specifying params in the top-level dictionary for the role.

[2016-11-18 22:42] mtkunkel opened #18555 "Fix ansiballz use of Base64 for Z/os (EBCDIC encoding)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansiballz compression / wrapper

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

From RHEL7 to Z/os 2.1 aka   OS/390   (realize this is unsupported, attempting to make this work across an enterprise environment)
##### SUMMARY

Ansiballz compression places the compressed file a single string, it appears we're hitting

[2016-11-19 04:20] #17395 closed, assigned to jimi-c

[2016-11-19 04:20] jimi-c commented on #17395
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-11-19 04:58] #17243 closed, assigned to jimi-c

[2016-11-19 04:59] jimi-c commented on #17243
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-11-19 05:05] jimi-c commented on #17180
Due to the fact that the fix for this was closely tied to the performance improvements in 2.2, as noted above this fix will not be backported to 2.1.x. Anyone who is hitting this bug should upgrade to 2.2. If you're running into problems related to that upgrade which are holding you back, please note them here and I will make sure they get priority.

Thanks!

[2016-11-19 05:05] #17180 closed, assigned to jimi-c

[2016-11-19 07:44] jimi-c commented on #17148
Hi @archf, following up on this it appears the issue was resolved along with previous fixes for includes/inheritance/etc. I've tested against devel, stable-2.2 and stable-2.1 and the output on all three is as follows:

<pre>
$ ansible-playbook -vv test.yml
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: test.yml ******************************************************************************

[2016-11-19 07:44] #17148 closed, assigned to jimi-c

[2016-11-19 07:50] jimi-c commented on #17152
@digi691 sorry for the long delay in following up, but the background worker to read results has been merged in for a while, and I haven't heard any further complaints regarding stalls. If you have any further questions or concerns let me know, otherwise I'll close this issue in a few days.

Thanks!

[2016-11-19 12:31] saleemrashid commented on #18192
@bcoca @ghost means that the user has been deleted.

The deleted user is in fact mine and I will try with this commit as soon as possible, thanks

[2016-11-19 13:24] phraktle commented on #18223
+1 that none of these extensions make sense for vaulted files...

[2016-11-19 16:26] digi691 commented on #17152
@jimi-c I've been busy as well...  Though good timing as I was running into issues pushing our ssh keys role to our whole environment last night to all our hosts on Ansible 2.1.1.  So I checked out Ansible 2.2.0 to see if the stalling issue was fixed, unfortunately it still stalls out.  I switched to the simple test playbook I posted earlier in this bug report and that stalled as well under Ansibl

[2016-11-19 17:25] digi691 commented on #17152
@jimi-c

So I eliminated the var_files and handlers from the playbook.  It now looks like this:

[code]

This is the command I executed with Ansible 2.2.0 installed via pip
This is hitting a host list with 1573 hosts now

`$ ANSIBLE_DEBUG=1 ansible-playbook -i hosts -t sshkeys playbook-test.yml -f 100 -e strategy=linear`

I'll be sending you a DM in IRC with the link to the debug output from my dr

[2016-11-19 19:13] krzysztof-magosa commented on #18540
IMHO that behaviour is correct.
You can explicitly pass variables like that:

[code]

[2016-11-19 19:26] danielkza commented on #18540
@krzysztof-magosa If this behavior is expected it should be documented then, as it is inconsistent with the "traditional" role inclusion method.

test-implicit.yml
[code]

[code]

---

Unfortunately, explicitly passing variables (which I am actually already doing in the code that led me to the issue) isn't sufficient: it's quite common for the values of those variables to be composed from variable

[2016-11-19 19:30] evillemez commented on #18444
I think this is the same issue I am having.  I execute ansible from a VM via vagrant/virtualbox.  Environments are as follows:
- Host:
  - OS: Ubuntu 16.04.1 LTS
- Guest VM:
  - OS: Ubuntu 14.04.5 LTS
  - Python: 2.7.6
  - Ansible: 2.2.0.0
    - config file = /vagrant/ansible/ansible.cfg
    - configured module search path = Default w/o overrides
- Target Server:
  - OS: Ubuntu 14.04.4 LTS

The ta

[2016-11-19 19:33] ambivalentno commented on #14248
For me it really looks weird/counter-intuitive that there's a directory "defaults" with a single file in it.
I mean, have you ever seen a python module with a single `__main__.py` file in it?

[2016-11-19 20:20] xenithorb commented on #14248
Which is precisely why I intuitively thought the functionality talked about on this ticket was already present. "Of course I can have multiple defaults files, there is a directory for it"

[2016-11-19 20:33] laurentgo commented on #17075
I believe this check also causes issue regarding GCE internal authentication (the ability to get the credentials from a GCE VM metadata). According to Ansible documentation (https://docs.ansible.com/ansible/guide_gce.html#credentials), this is supported and you need to pass empty strings for both `service_account_email` and `credentials_file`, but obviously you cannot open an empty string

[2016-11-19 20:57] wullxz commented on #13278
I think I've run into this problem as well. The task that hangs in my playbook looks like this:

[code]

It should copy a few config files recursively - mostly into `/etc` and subfolders.
I also get the timeout error mentioned above.
How can I check if this is the same problem? What can I do to circumvent it?

[2016-11-19 21:28] jimi-c commented on #17152
Per further discussion on IRC, we're good to close this.

Thanks!

[2016-11-19 21:28] #17152 closed, assigned to jimi-c

[2016-11-19 21:34] ghost commented on #4809
This is really a good idea! Not a chance to implement it? What about something that can explicitly enabled at run-time, that doesn't affect old stuff, not braking backwards compatibility... ?

[2016-11-19 21:36] laurentgo commented on #17075
To confirm that internal authorization is also broken:

[code]

(this error is because empty (but None) module arguments are ignored)

if using environment variables instead:

[code]

[2016-11-20 08:40] clonedagain opened #18559 "Add option to fail on deprecated features"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults from pip

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When deprecated features disappear, the results of a playbook may change and yet not fail.
Users would benefit from a mode in `ansible-playbook` where deprecated tasks would fail, so as to identify them early on.

Fo

[2016-11-20 08:52] mixja commented on #17751
I have this issue as well - I am setting a log filter and have tried all of the following with no luck:

[code]

This definitely seems like a bug to me!

[2016-11-20 09:46] #17096 closed, assigned to nobody

[2016-11-20 12:24] m0ntl commented on #16478
Had a very similar issue. After going through this thread and correcting my permissions issues (thanks for that) authentication was still not working. I finally realized that for Kerberos to work it requires the FQDN to be reverse-resolvable [https://help.ubuntu.com/community/Kerberos](url).

[2016-11-20 13:21] vikas027 commented on #16478
@m0ntl yes, Kerberos is very sensitive to DNS resolutions

[2016-11-20 13:43] ryanschmidt commented on #11536
Even after add the `control_path` to my ansible.cfg in my project I was still getting this error but I reverted back to version 2.1.3, ran the same command which threw the error when running 2.2.1, and the issue has been resolved.

[2016-11-20 18:07] jimi-c commented on #17001
@palmerit sorry for the late follow-up, but this was corrected in 2.1.2.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-de

[2016-11-20 18:07] #17001 closed, assigned to jimi-c

[2016-11-21 04:00] netw0rm opened #18562 "build a Single file"
I want to build a single file for ansible use pyinstaller, but i failed.
anyone can tell me about how to build a single file for ansible?
thanks

[2016-11-21 05:14] zacker330 commented on #4320
I have same problem too..

[2016-11-21 06:31] jimi-c commented on #16877
So based on the above, with no follow-up, I'm going to go ahead and close this. If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and question

[2016-11-21 06:31] #16877 closed, assigned to jimi-c

[2016-11-21 08:08] jhawkesworth commented on #18562
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2016-11-21 08:08] #18562 closed, assigned to nobody

[2016-11-21 09:08] midN opened #18563 "Boto3 not detected on Mac OS"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Mac OS El Capitan 10.11.6

##### SUMMARY
Every module that requires boto3 started erroring out with `fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "boto3 is required."}`

##### STEPS TO REPRODUCE
[code]

##### ACTUAL RESULTS
[code]

Boto and Boto3 are installed.
Calling `import boto3` fr

[2016-11-21 11:56] davidreuss commented on #14341
Yeah, this behaviour is tripping us up as well -- quite surprising to say the least.

I've put together a small example of the failure at https://github.com/davidreuss/ansible-v2-broken-include-behaviour

Doesn't really seem like there's any consensus here, whether this is considered a bug or *intended* behaviour?

If it's indeed intended behaviour, it's very unintuitive.

[2016-11-21 14:14] mtkunkel commented on #18555
Additional info:  I tried adding `ansible_module_compression: ZIP_STORED`  appears the base64 encoded string does not survive the ascii -> ebcidic conversion.    Sending unencoded python runs fine, is there a way to turn this off?   Fallback to the module_replacer from pre2.1?

[2016-11-21 14:55] alikins commented on #18563
This is likely either a bug in the cloudformation_stack module or local configuration.

The 'boto3 is required' error could be triggered by an import error on 'boto3' or on 'botocore'.
Verify that the 'botocore' import works as well.

Does 'import botocore' from python work?

Every module that requires boto3 started erroring out with fatal:

Started erroring after what?

[2016-11-21 15:16] alikins commented on #18559
A related proposal is at https://github.com/ansible/proposals/issues/32

[2016-11-21 15:25] CptPlastic commented on #16561
We are running into the same issue with custom roles. Is there any fix to date?

[2016-11-21 15:27] alikins commented on #18555
Would it be possible to try this with ansible-2.2 or from the devel/ branch?  I don't see anything to make me think this is fixed in 2.2 or devel/, but it narrows down the window.

[2016-11-21 15:31] #16032 closed, assigned to bcoca

[2016-11-21 15:37] alikins commented on #18555
cleaned/reformat of error from origin bug discription:
[code]

[2016-11-21 15:47] cbrinley commented on #18475
I am seeing this same issue on Ansible 2.2

we have a dict:

[code]

In some runs for some services this key `api_gateway_routes` is optional and i attempt to test for this which worked on ansible 2.0.0.2

[code]

The `is defined` test seems is exposing a new behavior in this version of ansible vs previous
When the dict does not have this key the below error is raised:

`
FAILED! => {"failed": tru

[2016-11-21 15:51] midN commented on #18563
@alikins
`Started erroring after what?` - Started erroring after upgrading Ansible from 2.1 tot 2.2
`Does 'import botocore' from python work?` - Yep
`This is likely either a bug in the cloudformation_stack module or local configuration.` - I have tested with other `ecs` modules, same problem

I've currently run out of ideas, have not changed any Python specific settings, running default `brew` ins

[2016-11-21 15:56] midN commented on #18563
@alikins I don't know what changed, but i tried to Install back `2.1`, all `ecs` modules started working.
After that i deleted `2.1` and reinstall `2.2`, both using `pip`, now all the `ecs` specific modules are working fine on `2.2` as well.

[2016-11-21 16:16] alikins commented on #18549
I can reproduce this from devel/ branch:
(using playbook from https://github.com/alikins/ansible-bug-repro/tree/master/with_fileglob_ssh_18549)

[code]

[2016-11-21 16:20] alikins commented on #18540
(formatted version of results in original comment)
[code]

[2016-11-21 16:38] alikins commented on #18549
repro using c&p or play from report:

[code]

[2016-11-21 16:40] #16836 closed, assigned to jimi-c

[2016-11-21 17:03] alikins commented on #18537
Looking at that code, it seems difficult to properly reset file/fs perms (selinux, etc as TODO mentions).

 I'm not sure why the approach is to delete the original file and mv the tmpfile in its place and reset perms. (as opposed to reading tmpfile contents and writing them into the origin file in place).

@jctanner Looking for the context on shuffle_files() if you remember.

[2016-11-21 18:12] bcoca commented on #14248
`include_role` allows you to specify 'alternate' files now http://docs.ansible.com/ansible/include_role_module.html via `defaults_from` option

[2016-11-21 18:24] jimi-c commented on #16836
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2016-11-21 18:35] gaurav-dalvi commented on #18475
You can find temp fix to get away with this problem here. Dont know when official fix from ansible will come.

https://github.com/contiv/ansible/pull/275/files#diff-f372832910642da41ad5d12b67c408efR14

[2016-11-21 18:50] jimi-c commented on #18357
Confirmed I'm seeing this when the include is dynamic in a handler, looking into it now.

[2016-11-21 18:51] FleischKarussel opened #18568 "Feature Request: ansible module to support Sophos UTM Restful API since v9.408"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- SophosUTM
Probably this would be applicable for the XG firewall aswell.

##### ANSIBLE VERSION

[code]

##### SUMMARY

I would like to see a module in the same manner as the other network OS that are already supported by ansible.
Even though the feature set of the UTM is bigger.
Most important would be Routing, firewall, networks, interfac

[2016-11-21 19:05] #18357 closed, assigned to jimi-c

[2016-11-21 19:07] omgjlk opened #18569 "Target host syslog logging accidentally tied to runtime verbosity"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module execution logging on the target host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

Prior to https://github.com/ansible/ansible/commit/a56c0bc27b07356c3639c0ac39805d4e5dd91171 when ansible executed a module on a target host, the invocation of that module was logged to syslog, which was us

[2016-11-21 19:09] nusenu commented on #18375
example: https://github.com/nusenu/ansible-relayor/commit/dc73f16743fa376672b427980c6ca044dd6fa68a

[2016-11-21 19:19] jctanner commented on #18569
@bcoca ping

[2016-11-21 19:19] jimi-c commented on #18357
Closing This Ticket
===================

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project -

[2016-11-21 19:34] alikins commented on #18527
Could you provide a c&p of how the playbook fails? and if possible, an example playbook?

[2016-11-21 19:56] abadger commented on #18555
Turning of compression shouldn't help (and I see you found the ZIP_STORED flag which shows that to be true).  Turning off base64 isn't possible because we don't have a way to portably pass the binary zipfile such that all python versions will execute it.  We have to enclose it in the script which means turning it ascii so we can embed it.  You can't move back to module_replacer because the modules

[2016-11-21 20:03] alikins commented on #18528
pinging @sivel

[2016-11-21 20:26] sivel commented on #18528
I've seen.  We are likely going to have to just vendor the old `ssl_wrap_socket` from urllib3 to continue using this functionality.

I don't immediately have time to work on this.

[2016-11-21 20:27] abadger commented on #16724
A few committers talked about adding a variable for the controller's sys.executable in IRC.. that should take of how to specify ansible_python_interpreter in inventory such that it works on different administrator hosts.

[2016-11-21 20:40] alikins commented on #18514
I can reproduce with devel, stable-2.2
(2.2.0.0-1 fails the same way)

devel:

[code]

[2016-11-21 20:41] alikins commented on #18514
stable-2.2:

[code]

[2016-11-21 20:46] problame commented on #17892
@eproxus The commit you have checked out in lib/ansible/modules/core is older than https://github.com/ansible/ansible-modules-core/commit/872594b49a69a1f3795e0de3f7cf0194b6bdfd53

Please update your submodules in lib/ansible/modules/core and try again.

[2016-11-21 21:12] abadger commented on #18391
What are the permissions on /tmp/ ?  I don't see where this is happening in our code but a setuid bit on the /tmp/ directory (if it's owned by xREMOTEUSERx) would do this.

needs_info

[2016-11-21 21:19] #17919 closed, assigned to alikins, abadger, bcoca

[2016-11-21 21:26] abadger commented on #17919
Fix applied to devel and stable-2.2 branches. (used r-x instead of rx)

[2016-11-21 21:39] bcoca commented on #18514
I would expect this, as my_dict IS defined, the only problem when traversing that definition and templating it you have an undefined value.

`my_int` is undefined, but that is not what you are testing for.

[2016-11-21 22:00] Bedotech commented on #18337
@bcoca thank for your reply, i think the `when` on a block is really an easy way for misunderstanding `block` feature, i will write in the mailing list, thank you.

[2016-11-21 22:08] abadger commented on #18391
I see another thing in your setup that could mitigate this.  I see you have pipelining=True in your ansible.cfg file but it's not being used here.  The reason is that it needs to appear in a [ssh_connection] section of the config file:

[code]

There's a few modules where this doesn't work since the module uploads other temporary files.  (The most notable of these is copy).

[2016-11-21 22:09] cjw296 commented on #16724
That sounds great, but please do remvoe the inconsistency that @bcoca highlights in his answer...

[2016-11-21 22:16] abadger commented on #18391
If it's not due to some configuration on the remote box (like setuid bit on the /tmp/ directory) then the only other way I can see our code hitting this is if invoking chown xREMOTEUSERx filename succeeds in changing the ownership of the file but reports failure (return code is nonzero).  That seems like it would be a major bug in HP-UX's chown so I think that's less likely than a setuid bit set o

[2016-11-21 22:28] imchairmanm opened #18575 "Inventory group variables don't seem to follow any defined precedence"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

group_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT

Ubuntu 16.04, but I suspect not platform-specific

##### SUMMARY

Evaluation of group variables defined in or alongside the inventory file does not seem to be following any precedence or overriding behavior that makes sense.  Changing around the ord

[2016-11-21 22:41] clonedagain commented on #18559
Thanks, should we close this issue to avoid duplicates?

[2016-11-21 23:16] #18575 closed, assigned to nobody

[2016-11-21 23:19] imchairmanm commented on #18575
Looks like this was actually already reported here https://github.com/ansible/ansible/issues/17243.

The fix in that issue seems to be working correctly.  The output is consistent regardless of how the groups and variables are ordered within the file.  "c" is returned in each case, meaning that ordering is applied alphabetically.

Thanks for all of the hard work!

[2016-11-22 00:30] smcmahon commented on #15297
Do you have any sudo_flags set? If so, make sure that "-S" is included in the flags. That solved this problem for me.

[2016-11-22 07:32] borismod opened #18578 "Failed to install ansible python package on Ubunto 14"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible python package

##### ANSIBLE VERSION
2.2.0.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu 14.04.2 LTS
Architecture: 64-bit
Python 2.7.6
pip 7.1.0
The Ubuntu is running as a guest machine inside VMWare Workstation Player

##### SUMMARY
installation fails

##### STEPS TO REPRODUCE
Run the following from terminal:
[code]

#####

[2016-11-22 08:11] eproxus commented on #17892
Ok, using the latest `stable-2.2` with new submodules seems to work. No idea why I didn't get that version before...

Will this be in 2.2.1.0?

[2016-11-22 08:35] nusenu commented on #14829
affects ansible 2.2.0.

[2016-11-22 08:37] borismod commented on #18578
Not a bug.

Can be fixed by running

[code]

[2016-11-22 08:37] #18578 closed, assigned to nobody

[2016-11-22 09:01] nusenu commented on #18375
Ok, the shell+register was unnecessary - thanks to @bcoca [1]
https://github.com/nusenu/ansible-relayor/commit/85e2a7d7d76387c5016c78f52db5621627281679

[1]  https://groups.google.com/forum/#!msg/ansible-project/u7JiK9SqCBo/tFPlhUBQBQAJ

[2016-11-22 09:38] #10855 closed, assigned to nobody

[2016-11-22 09:48] rpettersen commented on #18391
Permission on /tmp are the same as they are on Linux:
[code]

Removed "pipelining=True" from playbook:
[code]

Moved "pipelining=True" to ssh_connection section in ansible.cfg. Reran playbook, and get a different error:
[code]

Looks like this command is the one failing:
[code]
First part succeeds, but then it is not able to change owner of setup.py.
If I change the order it succeeds:
[code]

[2016-11-22 11:14] danielkza commented on #18540
@alikins Thanks! Just to point it out, I tried quoting (my original reproduction case was quoted) and it doesn't change anything, the variable is actually undefined.

[2016-11-22 11:54] xezpeleta opened #18579 "Proxmox dynamic inventory fails on a Proxmox Cluster"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Proxmox (Dynamic Inventory script)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS

##### SUMMARY

The [Proxmox inventory plugin](https://github.com/ansible/ansible/blob/devel/contrib/inventory/proxmox.py) does not work properly connecting to a Proxmox cluster (4.3.10).

##### STEPS TO REPRODUCE

[c

[2016-11-22 13:05] akrzos commented on #17979
Are you sure you tested this correctly?  Can you share output?  Perhaps your ssh-config was already in a path rather than only a relative-path.

[2016-11-22 13:14] rpettersen commented on #18391
So first, second part of this command fails, but is ignored:
[code]

Then this command fails because xMYSUSERx does not have permission on /tmp/ansible-tmp-1479807140.27-162933712974831:
[code]

[2016-11-22 14:32] #18514 closed, assigned to jimi-c

[2016-11-22 14:34] hExPY commented on #18223
+1 we got the same problem here. would be nice to allow .vault in include vars.

[2016-11-22 14:54] jimi-c commented on #18514
So I went ahead and merged in my fix for this, but to devel only. I have concerns that this may be a fragile fix, however the original code was somewhat fragile as this issue shows. We'll let this burn in for a while, and if no major regressions arise from it we'll include it in 2.2.2 (it will not make the cut for 2.2.1, which is currently in RC1).

Thanks!

[2016-11-22 15:08] gundalow commented on #16017
Should be fixed by the Persistent Connection Manager work due in Ansible 2.3

[2016-11-22 15:12] gundalow commented on #17815
@Qalthos Can you please look at `lib/ansible/plugins/action/net_template.py`. Thanks

[2016-11-22 15:23] Cho1409 opened #18582 "ImportError: No module named _text after updating from 2.1 to 2.2"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

 - Ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
 - Red Hat Enterprise Linux Server release 6.8 (Santiago)

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ansible ansible-2.2.0.0-3.el6.noarch working fine.

##### ACTUAL RESULTS

[code]

[2016-11-22 15:53] stefanhorning commented on #16222
IMHO this is a bug. If I want to include entire plays conditionally I don't want to care what's in them (as they should be skipped). Leaving this as it is would be really counter intuitive. It would be nice to see a fix for this. Otherwise many people won't be able to upgrade to 2.2. without changing a lot of roles and other plays.

I was trying to use `task_includes_static = False` in an attempt

[2016-11-22 16:08] #17825 closed, assigned to privateip, Qalthos, gundalow

[2016-11-22 16:10] czerasz commented on #13886
I can't reproduce this issue anymore.

[code]

Version information:
[code]

[2016-11-22 16:10] #13886 closed, assigned to nobody

[2016-11-22 16:11] gundalow commented on #18261
Hi, please raise this with the Tower Support Team
https://support.ansible.com/hc/en-us/requests/new

[2016-11-22 16:11] #18261 closed, assigned to Qalthos

[2016-11-22 16:58] abadger commented on #18391
@rpettersen.  Ah ha!  Okay.  If part of the chown works and part of it fails then it makes sense.  I think I can work up a fix for that.

[2016-11-22 17:13] ruslantum opened #18584 "vca.py from Module Utils throws an error, when using vca_nat Plugin: 'VCD_REQ_ARGS' is not defined"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module Utils / vca.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using the vca_nat Plugin to create NAT Rules in vCloud Director with "vcd" as a service_type, following error happens: NameError: global name 'VCD_REQ_ARGS' is not defined

##### ACTUAL RESULTS

[code]

##### POSSIBLE FIX
[c

[2016-11-22 17:19] Qalthos commented on #17815
I _think_ that with 8d0418f7c10875172ca87047a10496ac96004449, this issue is finished, can someone confirm? @alikins?

[2016-11-22 19:19] #18444 closed, assigned to nobody

[2016-11-22 19:25] jamesjuran2 commented on #15664
Does anyone know of a workaround for this that does not require setting an environment variable? I'm using Ansible Tower, which AFAIK doesn't have the ability to set an environment variable on a particular job.

[2016-11-22 19:45] sntchaitu opened #18588 "error while creaing Big IP pool ussing anisble yaml script"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

to  create BIG IP POOL  on remote linux machine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Red Hat (4.4.7-4)

##### SUMMARY

I am trying to create a BIG IP pool using YAML as below (Note: I tried to executed the script as root user and as non-root user) IN both cases i am getting two different errors.

##### ST

[2016-11-22 19:55] bcoca commented on #16724
@cjw296 inconsistency?

[2016-11-22 20:02] andmos commented on #14387
I am sorry if I ask this question in the wrong issue, but here goes. While waiting on [the new certificate module](https://github.com/ansible/ansible-modules-extras/pull/1374) we are installing certificates in the following way:
[code]
This works fine, but I have not found any good way to skip the task if the certificate is already installed. I know that you can run `SET-LOCATION CERT:\LOCALMACHIN

[2016-11-22 21:09] jctanner commented on #18588
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

   * https://github.com/a

[2016-11-22 21:09] #18588 closed, assigned to nobody

[2016-11-22 22:37] qmcree commented on #17043
Having the same issue. @Nitaco's moved issue is ansible/ansible-modules-core#5090

[2016-11-22 22:49] andylemin commented on #15706
+10 Can't believe this is still not fixed in HEAD.. Disapointing, new users are struggling

[2016-11-22 23:16] tedder commented on #15721
@andy-zhangtao why did you close this issue? It wasn't fixed. cc @alikins bc we should probably open this.

[2016-11-22 23:31] mwmisner opened #18593 "Ansible loading unexpected role varibles"
## Issue
[code]
## Relation
I think this might possibly be related to  https://github.com/ansible/ansible/issues/3103 , but I think that this is a bit different in that I do not see a reason for it to load any of the variables in the role.

## Code:

### default.yml
[code]

### roles/common/vars/main.yml
[code]

### roles/windows/vars/main.yml
[code]

### roles/custom/task/main.yml
[code]
## Outpu

[2016-11-23 00:22] #18593 closed, assigned to nobody

[2016-11-23 01:11] bcoca commented on #18593
note that roles are always imported, the `when` condition is appended to the included tasks, if you want to conditionally include a role use `include_role` instead.

[2016-11-23 02:33] jonathangreen opened #18594 "Handler fails to execute if it has the same name as a handler in a role conditionally included using when"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- roles
- handlers

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Running Ansible from OSX 10.12.1
Managing Ubuntu Precise

##### SUMMARY
When two roles are included in a playbook that both define handlers with the same name. If the first role is conditionally included using the when statement the handler is skipped even if its notifi

[2016-11-23 05:34] andy-zhangtao commented on #15721
I mistakenly thought it needed to be closed.

[2016-11-23 06:48] preethi29 opened #18595 "Ansible older versions are removed from epel repo when newer version is released"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY
When a newer version of anisble is released, the older versions are removed from epel repo. Epel repo always contain only one version of anisble at a time.  Since our scripts stick to a specific version of anisble, removing the rpms from epel repo forces us to always stick to the latest version.
https://dl.fedoraproject.org/pub/epel/6/x86_64/

For exa

[2016-11-23 08:38] h12w commented on #14578
Another solution is to configure the ssh user to be able to "sudo" without password.

[2016-11-23 08:41] rdonkin commented on #14578
@h12w - yes, removing password from the `sudo` user is one way round this, but it's not always acceptable to do this, depending on security policies/setup.

[2016-11-23 09:33] #18395 closed, assigned to nobody

[2016-11-23 10:04] leseb commented on #18357
@jimi-c
Do we know which Ansible version will get that fix? Any plan to backport it to 2.2 or 2.2.0.1 maybe? I see the commit was pushed on 'devel'.

Thanks!

[2016-11-23 11:55] jimi-c commented on #16222
@geerlingguy or @stefanhorning can I get a reproducer of what you're seeing even after the patch above?

[2016-11-23 12:07] stefanhorning commented on #16222
I didn't use the patch above as I was assuming it won't make it into the Ansible codebase anyways. But I can give it a try and report back if needed.

[2016-11-23 12:09] jimi-c commented on #16222
@stefanhorning well if it fixes the problem it will :)

[2016-11-23 12:21] jimi-c commented on #18357
@leseb it will be included in 2.2.1 (currently in RC1, this patch will be in RC2).

[2016-11-23 12:47] leseb commented on #18357
@jimi-c thanks!

[2016-11-23 13:14] willthames commented on #16222
I was assuming this patch was heading for 2.2.1 - is that not a valid assumption?

[2016-11-23 14:44] jctanner commented on #18595
@preethi29 Please file a feature request for the epel project at https://bugzilla.redhat.com/enter_bug.cgi?product=Fedora+EPEL

The other methods for communicating with the EPEL community are listed at: https://fedoraproject.org/wiki/EPEL#Communicating_with_the_EPEL_SIG

[2016-11-23 14:44] #18595 closed, assigned to nobody

[2016-11-23 15:25] jimi-c commented on #16222
@willthames the original fix yes, the other small patch I posted above in a comment has not been merged in anywhere as I wasn't sure if it would cause other problems.

[2016-11-23 15:38] jctanner commented on #18582
@Kokonoe Bugs in epel packages should be directed to bugzilla

https://fedoraproject.org/wiki/EPEL

[2016-11-23 15:38] #18582 closed, assigned to nobody

[2016-11-23 15:58] abadger commented on #18582
Just as a hint for your further debugging -- this looks like /usr/bin/ansible is finding an older version of the ansible python module.  You'll have to look around on your system to find that.

[2016-11-23 16:47] jctanner commented on #18520
resolved_by_pr https://github.com/ansible/ansible/pull/18521

[2016-11-23 16:47] #18520 closed, assigned to nobody

[2016-11-23 17:11] jimi-c commented on #18522
Confirmed, looking into this.

[2016-11-23 17:23] global commented on #13406
Hi,

I can see this issue even with one role defined in the playbook. Anytime I apply the tag, the code on the 'dependencies' list doesn't run.

Ansible version: 2.2.0.0
Test code reference: https://github.com/global/ansible-tags-issue

`

$ ansible-playbook site.yml -i inventory -l localhost

PLAY [Run base] ****************************************************************

TASK [setup] **********

[2016-11-23 17:24] eagleusb commented on #9260
I had the same issue, in my understanding hostvars can't output facts of machines outside of the targets.

That's why you need to gather the facts of all your hosts by running an empty list of tasks against all the hosts.

See https://docs.ansible.com/ansible/playbooks_variables.html#magic-variables-and-how-to-access-information-about-other-hosts

[2016-11-23 17:44] DebianRoxx commented on #17528
First example is always slow, even more : 41 seconds but in my real playbooks, switching between tasks are far faster (x5).

Here first test in debug, we can see that there is 100ms "lost" beetwen "getting output with communicate()" and "done communicating".
If this part could be optimized, I think it will be wonderful.
I'll close ticket tomorrow if there is no other reply.

[code]

[2016-11-23 17:45] geerlingguy commented on #16222
@jimi-c - I'm going to try to reproduce the issue and see if the change fixes it. Will report back soon.

[2016-11-23 17:52] bcoca commented on #17528
Not sure we can do much there, this is the actual code (using python's multiprocess library):
[code]

[2016-11-23 17:54] geerlingguy commented on #16222
@jimi-c - Minimal playbook + role to test the failure is here:

[16222-test.zip](https://github.com/ansible/ansible/files/609629/16222-test.zip)

You can toggle the commented `status: no` line in the `test.yml` playbook to test the hacky fix I'm using right now.

I'll test with the ansible patch next.

[2016-11-23 17:59] mazzystr commented on #12053
I run ansible 2.2.1.0.  Ansible always attempts a remote execution

prerequisites.yaml:
[code]
~/roles/prerequisites/tasks/main.yaml:
[code]

I have tried `connection: local`, `delegate_to: localhost`, `delegate_to: 127.0.0.1` every time the play runs I get errors like this from all the instances
[code]

[2016-11-23 17:59] geerlingguy commented on #16222
That patch works (though makes for more fun looking output):

**Before**:

[code]

**After**:

[code]

[2016-11-23 18:44] bcoca commented on #16222
so i pushed 4a325b5ea218c1e117603c55dd7f3bc2bd73171c, which should fix all corner cases and not have a `(item=<object object at 0x107399e90>) ` in display that we need to explain.

[2016-11-23 18:53] #18522 closed, assigned to nobody

[2016-11-23 19:22] geerlingguy commented on #16222
Looks like it fixed the issue... I can't reproduce the error anymore.

[2016-11-23 20:17] abadger commented on #18391
Still working on this. A straightforward reorder wasn't enough because some modules call execute_module more than once (for instance, copy stats multiple files via the stat module in addition to running either the copy or file module).  Subsequent calls to execute_module will run into the same problem since the directory will be owned by the become user and we won't be able to place more things in

[2016-11-23 20:39] basictheprogram opened #18601 "OpenIndiana oi_151a9, python 2.6.4 throws errors during Gathering Facts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Gathering Facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Stock configuration from a git pull of the devel branch

##### OS / ENVIRONMENT
Running Ansible from macOS 10.12.1
Managing OpenIndiana oi_151a9

##### SUMMARY
Attempting to gather facts and the module fails and throws an error

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RES

[2016-11-23 20:40] tedder commented on #15721
Okay. This happens in `setup` also, and probably elsewhere. @abadger, I think these two sections don't agree with each other in the ziploader:

[section A](https://github.com/ansible/ansible/commit/452034564c32be415f1d2289339bf7bbbf23d273#diff-321e6923b14b571aad803d04b3308a35R205), [section B](https://github.com/ansible/ansible/commit/452034564c32be415f1d2289339bf7bbbf23d273#diff-321e6923b14b571aa

[2016-11-23 20:44] bcoca commented on #18601
does this patch fix the issue for you?
[code]

[2016-11-23 21:30] #18471 closed, assigned to bcoca

[2016-11-23 21:39] basictheprogram commented on #18601
Yes, the above patch fixes the problem.

[2016-11-23 21:45] alexbrand opened #18602 "Rescue and Always tasks are not executed if playbook has any_errors_fatal: true"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Blocks
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS X El Capitan 10.11.5

##### SUMMARY

When setting `any_errors_fatal: true` in a playbook, the `rescue` and `always` tasks of a `block` are not being executed.

##### STEPS TO REPRODUCE

The following playbook can be used for reproducing:

[code]

##### EX

[2016-11-23 21:59] albertomurillo opened #18603 "fetch plugin sends file to the remote node when using scp_if_ssh=True"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
plugins/action/fetch.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
"N/A"

##### SUMMARY
When using the `fetch` module with `scp` rather than `sftp`, ansible tries to send the file from the ansible machine to the remote machine

##### STEPS TO REPRODUCE
1.- Create `/home/ubuntu/test` file in the remote machi

[2016-11-23 22:07] albertomurillo commented on #14378
Using fail_on_missing=yes makes it fail which is in the documentation now.
So this issue can be closed by the maintainers now :)

[2016-11-23 22:08] albertomurillo commented on #10600
It does now so its ready to close

[2016-11-23 22:43] straight-shoota commented on #13288
I encountered the same problem. There is an existing repository at dest, but it doesn't have a remote configured because it was pushed there, but is from the same source. Since this task is supposed to pull the current content from repo, I would expect the git module to add the designated repo as a remote and pull.

[2016-11-23 23:20] albertomurillo commented on #18603
git bisect shows that 8e47b9bc70e33534c308298df4b6c8c79886fef1 is the first commit which introduced the bug

[2016-11-24 00:02] bcoca commented on #18601
fixed via fbe5878919dda323c7a9b8842a99e548b40bdbe5

[2016-11-24 00:02] #18601 closed, assigned to nobody

[2016-11-24 00:44] genei09 commented on #18527
output:
[code]

the playbooks is just a basic docker_container call to pull an image with docker for mac.

[2016-11-24 09:39] #17775 closed, assigned to nobody

[2016-11-24 09:39] #17772 closed, assigned to nobody

[2016-11-24 11:42] workhardcc opened #18607 "Did ansible support ssh client configuration"
If I login to a remote host free password by ` /usr/bin/ssh -i ~/.ssh/test.private.pem -F /etc/dssh_config $remote_host`. How can I configure the ansible to support it?
Thanks!

[2016-11-24 11:58] j4m3s commented on #16222
This is made much more significant for us by the fact that a conditional dependency is translated into individual "when"s on all tasks within the dependency. #15254 feature ticket refers.

[2016-11-24 11:59] wolfedale commented on #1705
I'm using ansible-2.2.0.0-3.el7 and have the same problem using pip.

[2016-11-24 12:36] flare-ws commented on #14987
+1 it does not work since ansible 2.1

[2016-11-24 13:20] ghost opened #18609 "How to roll back or change the version Ansible?"
How to roll back or change the version?

**Now:** Ansible 2.2.0.0

**Need:** Ansible 2.1.2

The simpler the better
Thanks in advance

[2016-11-24 13:29] jhawkesworth commented on #18609
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2016-11-24 13:29] #18609 closed, assigned to nobody

[2016-11-24 14:44] targeted commented on #14358
+1

[2016-11-24 14:49] robinro opened #18612 "Measure and track ansible performance (publicly)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
core, testing

##### ANSIBLE VERSION
devel

##### SUMMARY
Especially for 1.9->2.x transitions, but also more general there are discussions on ansible performance, like #17528.

It might be a good idea to improve these discussions by having public performance benchmarks to find weak spots and avoid regressions. To me this could be a mix of dedi

[2016-11-24 15:05] gundalow commented on #18579
Hi,
Thanks for the bug report
I'm not familiar with `proxymox`, I see you've specified `--url=https://myproxnode1:8006/`. Is the issue that there is some link between node1 and node2 and the inventory isn't filtering to only node1?

What do you believe is the correct behaviour here?
The inventory script should only return items for the specified url
The inventory script should be able to return de

[2016-11-24 15:18] gundalow commented on #18584
@ruslantum That seems like a sensible fix, would you like to check that works for you and if so raise a PR to fix it?

[2016-11-24 15:31] bmalynovytch commented on #17136
I've got something similar as @luto with `..../*/*.cfg` glob, which was working prior 2.2.0.0 and not anymore since.

[2016-11-24 15:38] gundalow commented on #18602
Hi,
Thanks for the bug report and repo case. I'm unsure if this is a bug or by design.
Either way the documentation on http://docs.ansible.com/ansible/playbooks_error_handling.html#aborting-the-play needs updating to make this clear.
I'm leaning towards it's a bug, will check with others

[2016-11-24 15:41] alexbrand commented on #18602
@gundalow Yes. I am also on the fence about this. I guess I can see use cases for both approaches, which makes it hard to define the desired behavior.

[2016-11-24 15:41] gundalow commented on #18594
From @bcoca

[2016-11-24 15:45] gundalow commented on #18602
Spoken with others, this is a bug, however we believe it got fixed in Ansible 2.2. Could you please retest on that and report back.

The docs will still need updating, which I'll do once we've confirmed this is fixed

[2016-11-24 15:46] alexbrand commented on #18602
@gundalow Thanks! I can definitely test. I'll report back with findings ASAP.

[2016-11-24 15:47] gundalow commented on #18603
@Ssawa Would you be able to take a look at this, this looks like it might have been introduced by your change `Handle 'smart' scp_if_ssh option for fetch ` in https://github.com/ansible/ansible/commit/8e47b9bc70e33534c308298df4b6c8c79886fef1

Thanks

[2016-11-24 15:49] gundalow commented on #18607
Hi,
For support/how to type questions please use the Mailing List or IRC which are detailed on https://github.com/ansible/ansible#get-involved

[2016-11-24 15:49] #18607 closed, assigned to nobody

[2016-11-24 16:01] xezpeleta commented on #18579
Hi @gundalow

Not exactly. You can connect to any node to get the information, but then you need to use the proper API call to get the items: `GET /api2/json/nodes/{node}/qemu/{vmid}/config`

Apparently the plugin generates an incorrect API call, asking to node1 about the vmid 110... and that VM is in node2. That's why I've got an error.

Well, both options are correct. But in my opinion it would

[2016-11-24 16:02] gundalow commented on #18612
Interesting idea and example, thanks.

@mattclay Something to maybe discuss?

[2016-11-24 16:26] trompx opened #18613 "Master playbook with multiple include same sub playbook run only once"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Multiple playbook includes in master playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
inventory_ignore_extensions = ~, .orig, .bak, .ini, .retry, .pyc, .pyo, .tfstate
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /vagrant/facts
fact_caching_timeout = 86400

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
When

[2016-11-24 16:40] albertomurillo commented on #18603
I have a patch for this that i will upload shortly

[2016-11-24 16:43] gundalow commented on #18613
I believe your case is shown as a feature on http://docs.ansible.com/ansible/playbooks_roles.html#task-include-files-and-encouraging-reuse `wp_user` in the docs is the same as `myvar` in your example.

Closing as not a bug

[2016-11-24 16:49] ghost commented on #18526
To follow up on this, I can also reproduce the issue on `devel` with this version:

[code]

I'll start working on a PR soon.

[2016-11-24 16:54] trompx commented on #18613
wordpress.yml is a list of tasks without host declaration, my playbook.yml has already a host declaration. I cannot do:
[code]

[2016-11-24 18:00] ganeshrn opened #18615 "Add netconf session timeout for JUNOS"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
junos

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Add support for netconf_timeout parameter which set timeout
in seconds for netconf session after connection is established with device.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
If netconf_timeout parameter value is giving in playb

[2016-11-24 18:07] ganeshrn commented on #18615
Issue related to https://github.com/ansible/ansible-modules-core/issues/4281

[2016-11-24 18:29] abadger commented on #18391
I've had a potentially better idea but it's a holiday in the United States so I'll post the idea here and try to get feedback from the other committers interested in this code on Monday.

Stepping back from this particular problem I realized that we have two competing problems in this area of the code.  On some platforms the privileged user is not named "root" ("toor" on freebsd.) This was
discuss

[2016-11-24 18:47] jonathangreen commented on #18594
Okay. I was under a misunderstanding about how roles get included.

Still is it correct that then condition is inherited by handlers within roles? I would expect the handlers to be still able to run.

I also agree that is seems incorrect that the first handler defined wins.

My work around that is working for me is to manually include the handler I want to run in the playbook:
[code]

[2016-11-24 19:15] gundalow commented on #18594
@bcoca I'll need your input here

@jonathangreen How do you think we can improve the documentation to make this clearer?

[2016-11-24 19:18] gundalow commented on #18613
I received this from @trompx

[code]

[2016-11-24 19:37] charlesj commented on #1705
Seeing the same issue in ansible 2.2.0.0.  Here is the task:

[code]

It shows up as "changed" every time.

[2016-11-24 19:42] trompx commented on #18613
I posted this because I had just upgraded from 1.9 to 2.2 and was having this problem. After reinstalling my VM and reinstalling ansible, the problem seems to be gone, weird.

You can close for now, if this happens again I'll come back to you.

Thanks for answering so fast @gundalow

[2016-11-24 19:42] #18613 closed, assigned to nobody

[2016-11-24 23:57] global commented on #18498
Hi,

I don't  have the proper env to test, but I think there is a misunderstanding about the contents of the variables.

[code]

This should fail, as system.instances is a list of items. I think the syntax would be system.instances[0].id

And on this

[code]

should also fail as you are trying to print the content of the variable {{ id-xxxxxx }} as {{ item.id }} will be evaluated to this ec2 id st

[2016-11-25 01:53] mwmisner commented on #18593
Thank you for the info! I ended up just doing better namespacing on my variables. I will give your suggestion a shot tomorrow!

[2016-11-25 02:08] winger007 opened #18619 "ansible connection closed when running task"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible connection closed frequently, at the same time, native ssh test is running normally

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
forks = 100
inventory = /home/test/inventory
pipelining = True
host_key_checking = False

##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

In our test environment,

[2016-11-25 02:30] winger007 commented on #18619
the difference between two tests is ansible use some ssh arguments:
[code]
I have a question, if 'ControlPersist' timeout, ssh will close automatically, but if at the same time, ansible setup a new ssh connection, will still use the old ControlPath socket?

[2016-11-25 08:45] 13dimitar commented on #18498
Hi,

your theory is correct, I've just tested it, which really means that the module works as designed.

Thanks!

[2016-11-25 08:45] #18498 closed, assigned to nobody

[2016-11-25 09:49] alex-left opened #18620 "ansible evaluates variable and fails before to skip the task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
I'm not sure, i think is core ansible.

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
all defaults

##### OS / ENVIRONMENT
 not platform-specific

##### SUMMARY
I have a main playbook, this playbook have an include file task with conditional:

[code]

So, my condition is false and tasks included in "fixtures.yml" must are skipped, but one tas

[2016-11-25 10:20] alex-left commented on #18620
I not necessary complex situation to reproduce. Only needs one task with conditional:

[code]
the output is:

[code]

[2016-11-25 10:23] alex-left commented on #18620
sorry, after more test, i think is a django module bug

[2016-11-25 10:23] #18620 closed, assigned to nobody

[2016-11-25 11:29] alex-left opened #18622 "ansible fails task with no satisfied conditional in loops"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
conditionals with loops

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
if you have a task with a variable conditional and this task have a loop with same variable, the task must be skipped but before fails

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
task skipped because "my_variable" is

[2016-11-25 11:45] zkanda opened #18623 "Using ansible to do a passwordless deployment doesn't seem to work."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
On any component that needs sudo access.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I just added `pipeling = True` on ansible.cfg

##### OS / ENVIRONMENT
Ubuntu 16.10

##### SUMMARY
I want to have a passwordless deployment using jenkins.

##### STEPS TO REPRODUCE
Basically I set this in my sudoers:

[code]

And running `sudo service ngin

[2016-11-25 12:35] westsouthnight commented on #16714
@smemsh @jctanner may be up?

[2016-11-25 12:43] westsouthnight opened #18624 "[WARNING]: Exception in safe_eval() on expr"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Main

##### ANSIBLE VERSION
2.2.0.0

##### CONFIGURATION
default

##### OS / ENVIRONMENT
MacOS X
Ubuntu 14.04 & 16.04

##### SUMMARY
When i try to calculate and merge dicts, Ansible show for me WARNING which be catched by TeamCity and build failed. In 2.1.1.0 i no have that problem.

##### STEPS TO REPRODUCE
Have in your group_vars dict

[code]

[2016-11-25 12:44] westsouthnight commented on #18624
Im try to find any way to disable warnings, but not find workaround

[2016-11-25 13:17] dano0b commented on #18623
Hi @zkanda ,

privilege escalation permissions have to be general. You can find more info here: http://docs.ansible.com/ansible/become.html#can-t-limit-escalation-to-certain-commands

regards,
dano0b

[2016-11-25 14:32] brammittendorff-dd commented on #10065
+1

[2016-11-25 14:48] Somebi opened #18626 "Missing dependencies in getting started guide"
that's when building from sources:

- missing libyaml package
- missing markupsafe python module

[2016-11-25 15:15] arunjohn commented on #16858
Sorry for the late response using "ansible_password" fixed the issue.

[2016-11-25 15:15] #16858 closed, assigned to nobody

[2016-11-25 16:08] rpettersen commented on #18391
I suppose having the choice in these cases to let the tmp-files be world readable is not an option (0755)?
I first thought that was what allow_world_readable_tmpfiles was for, and then not needing additional chown and chmod.
For me, it would be best if the solution/workaround to this problem could be set_fact on a play level, as I use most plays across multiple OS'es.

[2016-11-25 16:09] cebotareanu commented on #17174
Hello,
Can you please confirm if the issue was fixed?
I am using ansible --version
ansible 2.2.1.0 (stable-2.2 8dee7f3138) last updated 2016/11/25 14:22:25 (GMT +200)

And seen same issue.

BR,
Andrei Cebotareanu

[2016-11-25 16:17] gundalow commented on #18619
Hi @winger007 Thanks for the bug report.
Ansible 1.9 is fairly old and well soon be out of support. Could you please retest on Ansible 2.2. There have been a huge amount of changes between these release.

needs_info

[2016-11-25 16:18] danielkza commented on #18540
Issue is still present in 2.2.1.0-0.1.rc1, even though some fixes for includes are mentioned.

[2016-11-25 16:43] gundalow commented on #18626
bot skip

[2016-11-25 16:47] gundalow commented on #18626
@Somebi Are you referring to http://docs.ansible.com/ansible/intro_installation.html#running-from-source or another page?

@dharmabumstead Did you have a PR in flight to move the install steps to the end of the page. Could you add this extra detail to that

[2016-11-25 17:08] gundalow commented on #18624
@westsouthnight Thanks for the bug report. This feels like the data being passed in may not be in the correct format, though I can't see any relevant details in the changelog for 2.2 that would be related to stricter parsing of this.

cc @bcoca Could you please take a look at this

[2016-11-25 17:10] gundalow commented on #18623
Closing as not a bug as detailed by @dano0b, thanks for that

[2016-11-25 17:10] #18623 closed, assigned to nobody

[2016-11-25 17:13] gundalow commented on #18622
Hi,
This is a by design change that went into Ansible 2.2
From https://github.com/ansible/ansible/blob/devel/CHANGELOG.md#removed-deprecated

[2016-11-25 17:13] #18622 closed, assigned to nobody

[2016-11-25 18:55] danielkza opened #18628 "module_utils atomic_move causes traceback when safe write fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Irrelevant

##### OS / ENVIRONMENT
Irrelevant

##### SUMMARY
module_utils.basic.atomic_move crashes when attempting to handle some exceptions due to a typo, attempting to use an uninitialized variable `exception` instead of calling `get_exception`

##### STEPS TO REPRODUCE
Use the l

[2016-11-25 19:17] akamac commented on #14987
Workaround can be (but all variables will be inside 'wrapped'):
[code]

[2016-11-25 20:00] lorrin commented on #16229
For anyone landing here via search, the forum thread is at https://groups.google.com/d/msg/ansible-project/ajHkIQXXwUY/qHurcvaqJQAJ

[2016-11-25 20:39] #17528 closed, assigned to jimi-c

[2016-11-25 21:29] sivel commented on #18626
markupsafe is not a direct dependency of ansible, but a dependency of jinja2.  If it was not installed, that is an issue outside of Ansible.

Also libyaml is not a dependency either, and pyyaml will function without it.

[2016-11-25 21:50] dedfriedly opened #18629 "SyntaxError on Python 3 remote hosts in module wrappers"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

executor/module_common.py
module_utils/base.py
module_utils/_text.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

local OS = CentOS 7, Python 2.7.5
remote OS = FreeBSD 8.2, Python 3

##### SUMMARY

Trying to run ansible on the remote host fails with syntax errors, I'm able to get modules to run after editting th

[2016-11-25 23:28] sivel commented on #18629
Can you confirm which python version specifically?  Is it less than 3.3?  Python 3.3 added support for unicode literals as proposed in PEP 414.

Per our documentation (http://docs.ansible.com/ansible/dev_guide/developing_modules_python3.html#minimum-version-of-python-3-x-and-python-2-x) the minimum required version of Python3 is python3.5.  Earlier versions are not supported:

[2016-11-26 02:21] winger007 commented on #18619
Hi @gundalow , thanks for your reminder, but I use ansible API all the time, seems after 2.0, the API changes a lot.

[2016-11-26 10:24] pgasiorowski commented on #18469
Do you have any suggesions on how to approach this? I would like to avoid maintaining a cluster of ec2 instances which host ansible.

[2016-11-26 17:59] j16r opened #18637 "Ansible 2.2 no longer decrypts an encrypted inventory"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-vault
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Darwin junction.local 16.1.0 Darwin Kernel Version 16.1.0: Wed Oct 19 20:31:56 PDT 2016; root:xnu-3789.21.4~4/RELEASE_X86_64 x86_64

##### SUMMARY

In ansible 2.1 we were using an encrypted inventory to do deployments, see the proje

[2016-11-26 20:42] Somebi commented on #18626
@gundalow yap, sorry for delay.
@sivel it doesn't allow to successfully complete getting started tutorial without an error. People will have to read carefully error log and maybe/not maybe discover missing dependency. Most people are lazy you know. ;)
So lazy, that even doesn't bother to report about it here. Maybe they skip ansible in this case and go to pupped, chef (whatever else etc.)
Everythi

[2016-11-26 21:49] westsouthnight commented on #18624
Dear {{ @gundalow | @bcoca | all cats ;) }} and people! I see WARNING messages in whole around playbook and steps (many roles, dicts, etc), but all works. May be add possible setting to hide this?

[2016-11-26 21:51] westsouthnight commented on #18624
Like in this -

[code]

[2016-11-26 22:21] jimi-c commented on #18594
@jonathangreen yes, I believe it is correct that handlers inherit things all the way up, just like any other task in the role. Otherwise this would lead to some really unexpected results from other configurations where people would absolutely want it to pick those things up.

FWIW, this has nothing to do with static/dynamic confusion, this is more a by-product of the fact that we don't raise warni

[2016-11-26 22:21] #18594 closed, assigned to nobody

[2016-11-26 22:23] jimi-c commented on #17174
@cebotareanu yes this should have been fixed. Can you please open a new issue in which you share an example playbook which reproduces the issue you're seeing?

[2016-11-26 22:55] #18603 closed, assigned to nobody

[2016-11-26 23:03] jimi-c commented on #18603
Merged the above and cherry-picked to stable-2.2 (though I had to manually switch the shlex_quote back to pipes.quote as an intermediate patch has not been applied to stable-2.2). This should be included in 2.2.1 RC2, due out some time next week.

Thanks!

[2016-11-27 06:59] jimi-c commented on #16144
Hi @nerzhul, just following up on some older tickets and I see this was resolved in 2.2.0, so closing it now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https:

[2016-11-27 06:59] #16144 closed, assigned to jimi-c

[2016-11-27 07:03] jimi-c commented on #16006
Based on the above reply from @jszwedko and no further follow-ups, we'll go ahead and consider this fixed and close it now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tric

[2016-11-27 07:03] #16006 closed, assigned to jimi-c, nitzmahone

[2016-11-27 10:57] marcinkubica opened #18638 "Openstack 'remove volume' returns [changed] on non-existing volumes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
http://docs.ansible.com/ansible/os_volume_module.html
state: absent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg unmodified

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)
Openstack Kilo or Libery (sorry can't tell atmo, one of these)

##### SUMMARY
Requesting state:absent on volume resource when it already don't

[2016-11-27 11:07] marcinkubica opened #18639 "Openstack detach volumes from non existing instances returns error."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
http://docs.ansible.com/ansible/os_server_volume_module.html
state: absent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg unmodified

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)
Openstack Kilo or Libery (sorry can't tell atmo, one of these)

##### SUMMARY
Requesting state:absent to detach volume resource when the

[2016-11-27 14:49] dagwieers opened #18640 "Ziploader (ansiballz) fails to work if time predates 1980"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ziploader

##### ANSIBLE VERSION

v2.1 and newer

##### CONFIGURATION

Raspberry Pi 3 running aarch64

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

Raspberry Pi's don't have a hardware clock and depends heavily on NTP. Which means that systems won't have a proper date set (they go to epoch by default) until NTP is installed, configured and

[2016-11-27 15:16] bradwood commented on #5952
+1... Completely counter-intuitive!!

[2016-11-27 22:57] agaffney opened #18642 "Ability to transfer files over SSH without scp/sftp"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`ssh` connection plugin

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It would be nice to be able to transfer files with the `ssh` connection plugin without the use of `scp` or `sftp`. I'm talking about using `dd` and "streaming" the file content, much like is done with the `chroot` and `docker`

[2016-11-27 23:04] agaffney commented on #18642
I dug into the code a bit to attempt to hack something up, but the `ssh` connection plugin's code isn't exactly straightforward or easy to understand. I *think* the way to handle this is to allow passing in your own `stdin` pipe to the `_run()` function. This would bypass the pseudo-tty allocation and use the provided `stdin` pipe in the `subprocess.Popen()` call(s).

A slightly hackier method is

[2016-11-27 23:06] agaffney commented on #18642
@bcoca, I'd like your feedback on how crazy/stupid of an idea this is.

[2016-11-28 04:31] zkanda commented on #18623
@dano0b Pardon my ignorance but I'm not sure what it meant by "privilege escalation permissions have to be general"?

I tried doing this, but it's still asking for my password if I use become.

[code]

[2016-11-28 04:52] agaffney commented on #18642
PR to add this functionality:

https://github.com/ansible/ansible/pull/18643

[2016-11-28 05:36] dano0b commented on #18623
Hi @zkanda ,
you are still trying to limit your command, in this case to /usr/bin/python. The executable that is invoked via sudo is generated. You can imagine a sudo command like: sudo $ansibleWorkDir/generatedExecutable

Hope that helps you to understand why you can't limit it.

[2016-11-28 08:24] koshelevdk commented on #16936
+1 This issue is very annoying

[2016-11-28 09:32] robinro opened #18645 "Run integration tests on openSUSE leap 42.2"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
integration tests

##### ANSIBLE VERSION
devel

##### SUMMARY
So far the integration tests run on openSUSE leap 42.1. Recently 42.2 was published and the tests should also cover the new version. Probably testing on the 2 most recent releases is a good idea, since typically support for the non-enterprise releases includes only the latest 2 vers

[2016-11-28 09:33] robinro commented on #18645
I might help with that but am happy if someone else has a go.

[2016-11-28 10:53] HanXHX commented on #15336
any news?

[2016-11-28 12:16] gundalow commented on #18626
@Somebi

1) What distro are you running on

2) Where did you see the messages about missing markupsafe?

3) How did you install jinja2?

4) Where did you see a message about libyaml being missing

[2016-11-28 13:00] gundalow commented on #18640
@abadger FYI

[2016-11-28 13:01] gundalow commented on #18645
@robinro Good spot, thanks for the suggestion, and the offer of help

@mattclay What do you think? Something to look at after the repo merge?

[2016-11-28 13:42] alexbrand commented on #18602
@gundalow It seems like the rescue block is being run in 2.2.0.0, but not the always block.

[code]

Ansible version:
[code]

[2016-11-28 13:42] gainskills commented on #15973
@jhawkesworth
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.5 LTS
Release:        14.04
Codename:       trusty

#ansible --version
ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

#python --version
Python 2.7.6

pywinrm 0.2.1 still failed with the same error.
Followed @apintocr 's note, It works after installed pywinrm0.1.1

[2016-11-28 14:10] sirkubax opened #18647 "gitmodules stable-2.2 is including devel ansible-modules-core/extras"
Hello

I'm installing ansible in virtualenv via [simplified command would be]:
pip install -r requirements.txt

[code]

For unknown reason, today at 2AM it was working ok, while a new venv created today at 1PM is failing - it did pull ansible-core-modules from DEVEL branch !!!!!

The change that rise the error is:
https://github.com/ansible/ansible-modules-core/blob/devel/files/stat.py
[code]
Plea

[2016-11-28 14:18] jctanner commented on #18639
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

   * https://github.com/a

[2016-11-28 14:18] #18639 closed, assigned to nobody

[2016-11-28 14:18] jctanner commented on #18638
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

   * https://github.com/a

[2016-11-28 14:18] #18638 closed, assigned to nobody

[2016-11-28 14:34] sirkubax commented on #18647
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible external modules [general github module linking issue]

##### ANSIBLE VERSION
stable 2.2
[code]

##### OS / ENVIRONMENT
Ubuntu 15.04 16.04 [not related to the bug]

[2016-11-28 14:41] sirkubax commented on #18647
If I read it well, the core module is pointing to at the devel tree commit

https://github.com/ansible/ansible/tree/stable-2.2/lib/ansible/modules

https://github.com/ansible/ansible-modules-core/tree/8677d29cce8d0555c41f49770c65f7b6969b79f6

[2016-11-28 14:53] alikins commented on #18647
https://github.com/ansible/ansible-modules-core/commit/8677d29cce8d0555c41f49770c65f7b6969b79f6 is a commit in the ansible-modules-cores stable-2.2 branch, so ansible/ansible stable-2.2 submodule pointing to it sounds correct.

The change to stat.py mentioned (adding import of format_attributes) is only in the devel branch of ansible-modules-core.

Could you post details about how the pip install

[2016-11-28 14:57] sirkubax commented on #18647
Lets put the 'pip' out from the scope for a while:

git clone -b stable-2.2 git@github.com:ansible/ansible.git
cd ansible/
git submodule
_-8677d29cce8d0555c41f49770c65f7b6969b79f6 lib/ansible/modules/core
-ee637475cc8826c2b326d154a1b415bf2cbf32d4 lib/ansible/modules/extras_
git submodule init
git submodule update

[2016-11-28 14:58] alikins commented on #18637
This is a duplicate of https://github.com/ansible/ansible/issues/18355

(Fixed in devel in dd0189839eaded82df9e2953600d97272871f2f8 and in stable-2.2 branch in 366bfe14c39d6aee1604928edb2c76589750a516)

[2016-11-28 14:58] #18637 closed, assigned to nobody

[2016-11-28 15:00] sirkubax commented on #18647
@alikins

Are you sure?
https://github.com/ansible/ansible-modules-core/blob/stable-2.2/files/stat.py
does not contain
[code]
while DEVEL does
https://github.com/ansible/ansible-modules-core/blob/devel/files/stat.py

[2016-11-28 15:01] alikins commented on #18629
If possible, include a cut&paste of the error messages.

[2016-11-28 15:13] nazarewk commented on #18338
I am quite severly affected by this bug as I have based my whole playbook around includes inside block-becomes to ease the user-switching.

[2016-11-28 15:13] alikins commented on #18628
Looks like 8b08a28c895666b9fc673e5bf26bd91b2be77fe6 may be the culprit here.

[2016-11-28 15:48] sirkubax commented on #18647
https://github.com/ansible/ansible/pull/18644

[2016-11-28 15:48] machacekondra opened #18650 "Add possibility to list nested level of linked object in returned type of oVirt modules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ansible/module_utils/ovirt.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We should add an common option to all Ansible oVirt modules, which will say if we should fetch additional data from entities in API, which are provided as links. This would cost are addinional API calls and so performance

[2016-11-28 15:49] sirkubax commented on #18647
I think the bug is here

https://github.com/ansible/ansible/pull/18587

[2016-11-28 15:51] alikins commented on #18628
See also:

https://github.com/ansible/ansible/pull/18630
https://github.com/ansible/ansible-modules-core/issues/5616

[2016-11-28 16:06] jimi-c commented on #16747
Hi all, I've looked at this on all versions from 2.1.0 on up to devel, and for each I see the expected output. Based on this (and the above comment regarding it being fixed), I'm going to go ahead and close this now.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   *

[2016-11-28 16:06] #16747 closed, assigned to jimi-c

[2016-11-28 16:12] hecko commented on #18628
I can confirm this issue on centos6 docker image and ansible-2.2.0.0-3.el6.noarch from epel

[2016-11-28 16:24] ganniterix commented on #18650
An example where this would come useful, is when requiring the ID of a disk attached to a VM, create from a template. Since the name will get replicated a number of times, there is no way right now, to obtain through ansible the ID of the newly created disk.

[2016-11-28 16:34] wesleyorama opened #18655 "Output still shows inventory server name, even when -c local flag used."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Connection flag in Ansible-Playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

I believe this issue is not platform-specific but I am running "Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-96-generic x86_64)"

##### SUMMARY

If you use the -c local flag, ansible reports that it is connecting to the server specified in

[2016-11-28 16:44] bcoca commented on #18655
This is not a bug, changing the connection type does not change the target server, the 'local' connection type just happens to execute 'locally'. If you want to change the actual server use `delegate_to: localhost`.

[2016-11-28 16:44] #18655 closed, assigned to nobody

[2016-11-28 17:01] sirkubax opened #18656 "Ansible high memory consumption ~[2GB per playbook] [stable-2.2]"
I did notice, that ansible consumes very high amount of memory, for no serious reason.
##### ISSUE TYPE
 - Bug Report

### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
[code]

[code]

**I do not like this include statement run all-in-one instead of on-by-one - is there a way to change this behaviour?**

The memory usage during ansible run:
[code]

[code]

So I

[2016-11-28 17:12] alikins commented on #18647
I think you are checking out the devel version of the submodules not the stable-2.2 versions.

Try `git clone --recursive -b stable-2.2 git@github.com:ansible/ansible.git`

[code]

[2016-11-28 17:28] cloudrkt commented on #4355
#I am getting the same error:

Ansible version
[code]

Ansible Configuration:
[code]

Environment:
[code]

Python version:
[code]

Target system:
[code]

Playbook:

[code]

Inventory
[code]

Invoked with:
[code]

[code]

After i run apt get update manually, it works fine and the playbook as well. I cannot reproduce this behaviour with apt update alone.

[2016-11-28 18:07] nguse commented on #18411
Any update? I am experiencing this exact issue as well.

[2016-11-28 18:14] bcoca commented on #18612
I would move this to proposals https://github.com/ansible/proposals

[2016-11-28 18:16] alikins commented on #17587
I think making load_platform_subclasses() support the case where get_distribution() is None and only platform matches seems reasonable. Lots of details to work out there though.

Maybe get_distribution() defaults to some generic distro instead None for those cases (DistributionNotApplicable etc). And change the
[code]

to

[code]
(ie, a way for distro-agnostic platform subclasses to indicate they

[2016-11-28 18:29] MichielVanderlee commented on #12086
+1 on forks

[2016-11-28 19:14] jctanner commented on #18642
resolved_by_pr https://github.com/ansible/ansible/pull/18643

[2016-11-28 19:17] mattclay commented on #18612
Definitely worth discussing, but lets move it to proposals as bcoca suggested.

[2016-11-28 19:36] jbergstroem commented on #17587
@alikins first of all, thanks for looking into this. What are your thoughts on dropping `get_distribution` and using host facts instead?

[2016-11-28 19:55] cboylan commented on #18281
In the previous comment I had mentioned not reusing ActionModule objects, but I think it is actually the Task objects that we need to not reuse. Just a small clarification.

[2016-11-28 20:19] #18628 closed, assigned to alikins

[2016-11-28 20:43] jctanner commented on #18532
resolved_by_pr https://github.com/ansible/ansible-modules-core/pull/5719

[2016-11-28 20:43] #18532 closed, assigned to nobody

[2016-11-28 21:37] ryanlovett commented on #16982
@abadger We found out what the problem was. An old version of python's multiprocessing library, https://code.google.com/archive/p/python-multiprocessing/, was masking the distribution's newer version. I'm guessing nobody else will run into this. :)

[2016-11-28 21:45] tedder commented on #15721
This doesn't seem to be due to the `/opt/bin/python` thing. I symlinked it, but Ansible is respecting my python path, it appears:

    p = subprocess.Popen(['PATH=/home/core/bin:$PATH', '/home/core/bin/python', module],
     env=os.environ, shell=False, stdout=subprocess.PIPE, stderr=subprocess.PIPE, stdin=subprocess.PIPE)

[2016-11-28 21:55] tedder commented on #9650
^ For the record, I can't get @roytruelove's version to work. If the PATH is removed I get "ImportError: No module named ansible". After adding the path back, I get the `OSError: [Errno 2] No such file or directory` error in subprocess.py. It appears to be an issue with the pipes in subprocess.

[2016-11-28 21:56] bcoca commented on #18640
no reason given ... but this seems to be from the underlying library
https://docs.python.org/2/library/zipfile.html#zipfile.ZipInfo.date_time

[2016-11-28 22:36] sirkubax commented on #18647
working version  of ansible-module-core@stable-2.2 does **not** contain
`, format_attributes`

[2016-11-28 22:54] #18540 closed, assigned to nobody

[2016-11-28 22:59] smalleni commented on #17136
Works with 2.1.3, fails with 2.2.0

[2016-11-29 00:06] luto commented on #17136
@bcoca the MR, which introduced this behavior is https://github.com/ansible/ansible/pull/16630. Was this intended?

[2016-11-29 00:21] tedder commented on #15721
Okay, got it. A couple of things.

First, `ansible_python_interpreter` can't have a PATH or anything in it. Those are environment vars, and Ansible can't handle that. It works without any env vars, though.

Next, the subprocess thing is (I think) because ANSIBALLZ makes the assumption that Python can import the ansible libs while they are in a zip. I didn't even know that was a thing, and I've had

[2016-11-29 00:22] abadger commented on #15721
Every version of python from 2.4, through 2.7 can import from a zip.

[2016-11-29 00:25] tedder commented on #15721
I don't think pypy can, though.

[2016-11-29 00:25] abadger commented on #15721
Works with: pypy-5.4.0-1.fc25.x86_64

[code]

[2016-11-29 00:26] abadger commented on #15721
@tedder You on IRC?  We can try to figure out if this is a specific version of pypy or something else (I'm abadger1999 on #ansible-devel)

[2016-11-29 01:00] mattclay commented on #18645
Yeah, this is something we can look at after the repo merge.

[2016-11-29 02:17] abadger commented on #15721
I'm unable to reproduce this problem so far.  Here's what I did to test:

* Followed the download instructions for the stable channel of coreos here: https://coreos.com/os/docs/latest/booting-with-qemu.html
* Started the coreos vm: ./coreos_production_qemu.sh -a ~/.ssh/authorized_keys -- -nographic
* Ran ansible-galaxy install defunctzombie.coreos-bootstrap -p /srv/ansible/troubleshooting/roles to

[2016-11-29 03:54] jimi-c commented on #14829
Hi @nusenu, sorry to not have this addressed sooner, however I've gone back to the reproducer playbook you shared (and which I saw originally did reproduce the issue) and I'm seeing what I believe is the expected output.
<pre>
[jamesc@jimi 14829]$ cat test.yml
- hosts: localhost
  gather_facts: yes
  vars:
    tor_maxips: 3
    tor_v4ips: "{{ ansible_all_ipv4_addresses[0:tor_maxips] | ipv4('addres

[2016-11-29 04:17] abadger commented on #15721
I tried again with the coreos beta image and still wasn't able to reproduce this.

The only differences between what I've tried testing and what tedder has that we've identified so far:

* tedder has pypy-5.6.0.  I have pypy-5.1.0.  I'm not sure how to get the new pypy.
* I'm using the qemu image and tedder seems to be using the amazon image.

(also, for all those using environment variables in an

[2016-11-29 08:02] juanvalino opened #18663 "dellos9 module util does not handle correctly existing config"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible.module_utils.dellos9

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The dellos9 util module doesn't build correctly the internal  structures used to represent the existing config of the managed network device.

This leads to apply changes every time the  playbook is run, even if th

[2016-11-29 08:20] gundalow commented on #18645
I've added it to the Testing Project in GitHub, so will will see it when we review that.

[2016-11-29 09:21] #18640 closed, assigned to abadger

[2016-11-29 09:45] willthames opened #18665 "ansible_python_interpreter is not templated before use"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansiballz

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS X with python from homebrew or virtualenv

##### SUMMARY
Running `python $module_package execute` runs under /usr/bin/python, whether virtualenv or homebrew in use

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Python drops into epdb session

#####

[2016-11-29 09:46] willthames commented on #18665
One for @abadger I suspect

[2016-11-29 10:18] mindrunner commented on #9984
I could reproduce this (or similar) here. I am on arch Linux and our ansible-aws provisioning scripts fail (probably) whilst doing ec2_tag. Work collegues do not have any problems with Fedora. Everything else seems to work. However, if I configure ~/.boto with my credentials, the script works fine.

Ansible 2.2.0

Happy to provide more information if needed.

[2016-11-29 10:58] machacekondra commented on #18650
I have a patch created, the output now looks like this:
[code]

[2016-11-29 11:21] sirkubax commented on #18647
### ANSIBLE VERSION
[code]

[2016-11-29 11:48] willthames commented on #18665
This might just be a result of me not setting `ansible_python_interpreter` - it gets me every time, but would be nice if ansible just respected whatever python it was being run under on (particularly for `connection: local`) - it's difficult to set `ansible_python_interpreter` when one could be switching between virtualenvs

[2016-11-29 13:31] machacekondra commented on #18650
resolved_by_pr 18666

[2016-11-29 13:48] br0ziliy commented on #13485
I have exactly the same problem as @darkweaver87 with `ansible 2.3.0 (stable-2.2 54c5ea29bb) last updated 2016/11/28 17:50:23 (GMT +200)`
A task running from an included file does not "see" the handlers.

[2016-11-29 14:18] cebotareanu opened #18667 "Play continues after a failed task (regardless the any_errors_fatal: true enabled ) execution if the block is used."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
n/a
##### ANSIBLE VERSION

ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
No changes
##### OS / ENVIRONMENT

Linux host 3.10.0-327.36.3.el7.x86_64 #1 SMP Mon Oct 24 16:09:20 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
Play continues after a failed t

[2016-11-29 14:50] Anvesh42 commented on #17100
Guys, I am now experiencing the same problem in V 2.1.0. As the same case above
`[pcte:children]`
`cte8`
`[cte8]`
`thehost ansible_ssh_host=10.2.131.26 ansible_ssh_user=someuser1`

Now, the when I run
`{{hostvars[inventory_hostname].group_names`, it outputs

`TASK [debug] *******************************************************************`
`ok: [thehost] => {`
    `"msg": [`
        `"cte8",`

[2016-11-29 14:57] Anvesh42 commented on #14613
Guys, I am now experiencing the same problem in V 2.1.0. As the same case above
`[pcte:children]`
`cte8`
`[cte8]`
`thehost ansible_ssh_host=10.2.131.26 ansible_ssh_user=someuser1`

Now, the when I run
`{{hostvars[inventory_hostname].group_names`, it outputs

`TASK [debug] *******************************************************************`
`ok: [thehost] => {`
`"msg": [`
`"cte8",`
`"pcte"`
`]`
`}`

[2016-11-29 15:42] danielkza commented on #18217
@laurentribot @jmoraleda This should have been fixed with #18627 which has been merged into devel, if you want to test it.

[2016-11-29 16:43] candlerb opened #18669 "ansible-playbook silently ignores unknown hosts"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

inventory / connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 16.04, ansible 2.2 from PPA

##### SUMMARY

If you mistype a hostname in a playbook, ansible-playbook silently skips the play.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected to get an error because I referenced

[2016-11-29 17:33] bcoca commented on #18665
if you use `local_action` or `delegate_to: localhost` you should get the proper interpreter automatically as they change the target host to localhost. `connection: local` does not change the target host and allows using specific ansible_python_interpreter for each of these that are not the same as the localhost one.

[2016-11-29 17:34] #17815 closed, assigned to bcoca

[2016-11-29 18:12] bcoca commented on #18667
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Having a rescue for a block means you are handling the error, so the fail on first is not triggered.

The rescue
In the future, this mi

[2016-11-29 18:12] #18667 closed, assigned to nobody

[2016-11-29 18:12] Josh-West-Bose commented on #15365
I'm seeing this issue with 2.2.0 as well.

[2016-11-29 18:15] bcoca commented on #18669
It cannot give an error as subsequent plays might match the host/group you request, as well as have them created on the fly via add_host/group_by.

[2016-11-29 18:15] #18669 closed, assigned to nobody

[2016-11-29 18:47] sivel commented on #15721
Copying my response from the mailing list here as well:

From the original report, it looks like this is due to trying to use toolbox to run python on coreos.  I believe this is due to having a shell script at /opt/bin/python that tries to execute /usr/bin/python inside of the toolbox container:

[code]

This is what causes the issues where "No such file or directory" is reported.  The "python" pa

[2016-11-29 21:23] #18526 closed, assigned to bcoca

[2016-11-29 21:31] nusenu commented on #14829
reproducer
[code]

[2016-11-29 21:51] jhawkesworth commented on #15973
I think something else is not quite right in your set up - I have been using pywinrm 0.2.0 since it came out.
Looking back at the conversation above I notice the original poster used
ansible_ssh_pass: pa$$word
but the ansible_ssh_* variables were deprecated in ansible 2, so instead use

ansible_password: pa$$word

(see the note here http://docs.ansible.com/ansible/intro_windows.html#inventory in t

[2016-11-30 01:16] gainskills commented on #15973
@jhawkesworth  Thanks for your comment.
I did the testing by new names, here is my hosts content:

[windows]
10.10.6.12 ansible_user="_usrname_" ansible_password="_passwd_" ansible_port="5986" ansible_connection="winrm"

It doesn't work with pywinrm 0.2.1 but works with pywinrm0.1.1.
Thanks,

[2016-11-30 04:33] danktec commented on #15215
I thought it would be nice to leave a note here for anyone else running into this same error message due to time being out of sync on the requesting system. It took me a while to find this on my dev environment!

[2016-11-30 04:54] ozbillwang commented on #15215
@dhdanno

Yes, i knew your feeling. Several people contacted me for this change which saved them at least 3 days work.

[2016-11-30 07:34] Anvesh42 commented on #14613
[more explanation here](http://stackoverflow.com/questions/40869376/inconsistent-ordering-of-parentchild-group-names-in-inventory-file)

[2016-11-30 08:59] cebotareanu commented on #18667
Hi,
maybe you are right, maybe I described the issue in the wrong way.
What I was looking to say is the following:
1. There is a playbook, on the "playbook" level the any_errors_fatal: true is activated.
My expectation is this should stop the playbook(s) to be executed.
2. I have several playbooks (nested/included), all are configured with any_errors_fatal: true
3. I have one playbook with Block.

[2016-11-30 09:18] ngo opened #18676 "Git module fails to add hostkey to known_hosts and doesn't notice it"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible.module_utils.known_hosts

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Function add_host_key which gets called from  add_git_host_key, which gets called from the git module when accept_hostkey=yes, does not check that the output from ssh-keyscan is not empty. But ssh-keyscan has a timeout (5 seconds

[2016-11-30 10:01] sirkubax opened #18678 "Bug in stable-2.2 branch"
### ANSIBLE VERSION
[code]
##### ISSUE TYPE
 - Bug Report

Hello
Could someone fix the github gitlink linking bug for external ansible repo:

https://github.com/ansible/ansible/issues/18647

This is seriously 5 minutes of work...

[2016-11-30 13:05] westsouthnight commented on #18624
Dear {{ @gundalow | @bcoca | all cats ;) }} and people! I test latest devel version an 2.3.0 devel

no have that problem and i no see WARNING's messages

[code]

When we can see fixes in main release?

[2016-11-30 13:14] alevensalor commented on #12871
Same error on the apt package install in Ubuntu 0n 2.2.0.0

[code]

[2016-11-30 15:24] abadger commented on #15721
@tedder confirmed on IRC that he was able to get ansible working with pypy on coreos via defunctzombie/ansible-coreos-bootstrap:

Thanks to all for the confirmation and walking through testing things alongside me.  I'll close this ticket now.  If other people are having issues that they think are bugs please open a new ticket for us to look at.  If you aren't sure if it's a bug or working as desig

[2016-11-30 15:24] #15721 closed, assigned to nobody

[2016-11-30 16:11] haines opened #18680 "Exception when looping include_role using with_subelements"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_role module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`with_subelements` creates an `item` variable which is a tuple, where the first item (at least) is a dict.

Parameters passed through the `include_role` module are hashed when creating the role. The `hash_params` function only

[2016-11-30 16:38] tfendt commented on #18166
I am still getting an unable to connect with version 2.2.0. The error message has changed slightly.

fatal: [10.2.10.13]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: Permission denied (publickey).\r\n", "unreachable": true}

2.1.0.0 still works.

[2016-11-30 17:47] tedder opened #18684 "running vaultpass as an executable barfs, a bytes-like object is required, not 'str'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Ansible CLI vault password executable

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
na

##### OS / ENVIRONMENT
ubuntu 16.04 on docker

##### SUMMARY

I use `--vault-password-file=vaultpasswordscript.py` to inject my vault password. It has worked fine until today. I'm not sure what changed- the Ansible code hasn't changed, nor has my simpl

[2016-11-30 18:08] matamouros opened #18686 "Alternative Directory Structure requires complete file path with -i"
Hi, reading the docs at http://docs.ansible.com/ansible/playbooks_best_practices.html#alternative-directory-layout and then use the commands at http://docs.ansible.com/ansible/playbooks_best_practices.html#what-this-organization-enables-examples, I can see that with my particular [alternative] structure:
[code]

I can't do `ansible-playbook -i qa site.yml`, as I get a `[WARNING]: Host file not fou

[2016-11-30 18:12] bcoca commented on #18686
You can do `ansible-playbook -i inventories/qa` , it seems 'inventories/' got added to the layout but not to the examples. Simplest fix would be removing 'inventories/'.

[2016-11-30 19:35] bcoca commented on #18667
That is not a feature, use the `fail` module in the `rescue` block if you wish this to happen.

[2016-11-30 20:09] matamouros commented on #18686
Thanks @bcoca. But it would be great an implementation as described in the alternative directory structure docs, in which `inventories/` holds directories for every inventory. When `-i` would be used, Ansible would look for the `<INVENTORY>` file on the root and if not there, then would look for the inventory file in `inventories/<INVENTORY>/hosts.ini`. This makes sense as a feature request? I tho

[2016-11-30 20:40] telbizov opened #18687 "systemd fails to enable sysv services"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - systemd module (core/systemd.py)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
 - MacOS controlling host
 - Debian 8.6 target/managed host

##### SUMMARY
We experience the following issue with ansible 2.2.0. On a systemd OS (Debian 8), the systemd.py module seems to fail to workaround the Debian issue with

[2016-11-30 21:05] haldean opened #18688 "module_utils.basic.is_executable returns true for directories"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils

##### ANSIBLE VERSION
current devel (https://github.com/ansible/ansible/commit/461dcf8ce3edb0fafcbb608c846b9a68eddde019)

##### CONFIGURATION
(unrelated)

##### OS / ENVIRONMENT
POSIX environments that use PATH (Linux, OSX, *BSD, etc)

##### SUMMARY
The [`is_executable` function](https://github.com/ansible/ansible/blob/461dcf8ce3ed

[2016-11-30 21:29] lmazuel commented on #17934
Hi @pipern
Sorry for this very late answer, I didn't see it... I own this SDK at MS, and I helped to do the plugins, so I should have seen it. My apologies again.

TL;DR; Register should be optional, and just print a warning on failed at best, a debug at worst.

Details: for a given credentials (user or service pricipal), not all providers are registered at first (depends the way the security is c

[2016-11-30 21:45] squillace commented on #17934
@lmazuel I think whatever we do, it's important to have the proper behavior suggested in the error message. :-) if they have to do something like get the aka.ms/devicelogin page to register the provider by signing in with the proper creds or can point to a document that describes what needs to be done, that would be best. :-)

[2016-11-30 22:40] lmazuel commented on #17934
@squillace Is this link ok you think?
https://docs.microsoft.com/cli/azure/provider#register

[2016-11-30 22:43] lmazuel commented on #17934
Or this one, but I prefer to point the Python CLI in this case, and this link point the NodeJS or PowerShell:
https://docs.microsoft.com/azure/azure-resource-manager/resource-manager-common-deployment-errors#noregisteredproviderfound

[2016-11-30 23:14] muxator commented on #17267
@krzysztof-magosa, I like your proposal ten times more than mine!

Did you already submit it?
With a good documentation this would be an awesome feature.

[2016-11-30 23:24] dagwieers opened #18692 "setup defines ansible_selinux as a boolean or as a dict"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup / facts

##### ANSIBLE VERSION

v2.2 and older

##### SUMMARY

Looking at the code https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts.py#L420 it defines ansible_selinux either as a boolean (False) when HAVE_SELINUX is False, but as a dictionary when HAVE_SELINUX is True.

That is bad design, it makes it harder t

[2016-11-30 23:47] alledm opened #18694 "hashi_vault does not work with ssl vault"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hashi_vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running on Centos
[code]

##### SUMMARY
hashi_vault is unable to read VAULT_CACERT or system CA bundle and is unable to connect to vault with SSL enabled.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
See retrieved password

##### ACTUAL RES

[2016-12-01 00:16] dagwieers commented on #18692
@ansibot You are quite wrong, this is part of ansible/ansible. Oh, why am I talking to a bot :-)

EDIT: remove broken command -jctanner

[2016-12-01 00:18] dagwieers commented on #18687
@telbizov Why don't you create a Pull Request ? You don't even need to know git commands, you can do it by editing the file directly in your browser on GitHub.

[2016-12-01 00:24] sivel commented on #18692
bot_skip

[2016-12-01 00:25] sivel commented on #18692
Some of this was discussed in short in a core meeting, although from a slightly different topic.

Ref: https://meetbot-raw.fedoraproject.org/ansible-meeting/2016-09-01/public_core_meeting.2016-09-01-15.09.log.html

[2016-12-01 00:28] telbizov commented on #18687
I was going to indeed, but then I hesitated when I noticed that HEAD is different and I didn't have time to adapt the change and more importantly test against HEAD. Also I am not quite certain of the development cycle and if I should submit two PRs - one for HEAD and maybe one for the branch? If directed I could do the work.

Anyway, I reckoned I should get the report in here first to have more ey

[2016-12-01 00:32] dagwieers commented on #18692
@sivel Thanks for the pointer !

However what was concluded does not seem to be implemented. (I haven't seen the output in the Shippable console). Is this somewhere on a TODO list ? Something I could be working on maybe ?

[2016-12-01 00:37] sivel commented on #17267
There is already a `format` filter, but it wouldn't work for this.  We probably shouldn't overwrite it with a new one.

On another note, this is achievable currently, such as:

[code]

Produces:

[code]

Based on the above, I'm not sure a new filter is really needed.

[2016-12-01 00:39] dagwieers commented on #18687
@telbizov Fair enough.

[2016-12-01 01:05] squillace commented on #17934
@lmazuel I'll make you a better deal: you write a great error, and offer in the error a link to the #noregisteredproviderfound section anchor, and I'll write a new section there with both CLI 2 and CLI 1 and links pointing toward a more complete explanation.

Deal?

[2016-12-01 01:06] lmazuel commented on #17934
ok :)

[2016-12-01 01:57] justbiaoliu opened #18697 "hacking test error，'NetworkModule' object has no attribute '_name'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/module_utils/basic
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NO configuration changes

##### OS / ENVIRONMENT

Ubuntu 14.04 LTS

##### SUMMARY

make hacking test network module base of lib/ansible/module_utils/basic.py，hacking test does not work well，error with: 'NetworkModule' object has no attribute '_name'

##### STEPS

[2016-12-01 02:23] tedder commented on #15721
My case ended up being a missing `ansible_python_interpreter`, which isn't handled well in defunctzombie. It took a lot of troubleshooting to get there, though.

[2016-12-01 03:35] GoodHaHa commented on #17361
@bcoca @jctanner
I remember that in ansible 1.X  invertory file vars has high precedence than group_vars/parent.
But in ansible 2.X , why change its precedence ?

[2016-12-01 03:39] bcoca commented on #18686
no, ansible knows nothing of an 'inventories/'  directory

[2016-12-01 04:50] abadger commented on #18676
@ngo thanks for tracking this down!  I've opened a pull request with a potential fix here: https://github.com/ansible/ansible/pull/18698

[2016-12-01 05:07] abadger commented on #18678
I'm afraid that it's something wrong on your side.  I just cloned the repo and confirmed that the report in #18647 is as @alikins shows, not as you show.
[code]

[2016-12-01 05:07] #18678 closed, assigned to nobody

[2016-12-01 05:10] abadger commented on #18647
I've just confirmed that this is not a problem with the repository.  Ran your exact reproducer from here: https://github.com/ansible/ansible/issues/18647#issuecomment-263291948
[code]

[2016-12-01 05:10] #18647 closed, assigned to nobody

[2016-12-01 06:22] abadger commented on #18687
the service module is a module so lives in the ansible-modules-core repository.  We're hopefully merging the repos next week, though, so I'll just leave this here.   CC ing bcoca since he's doing work on the systemd and service modules

\cc @bcoca

[2016-12-01 06:31] abadger commented on #18688
Yeah, either adding ```not os.path.isdir()``` or ```os.path.isfile()``` (I haven't looked into whether the latter will deal with links correctly or if there's other cornercases).  Modify the docstring a little bit to the docstring to make it explicit that is_executable() is for finding an executable file and will not find a directory.  right now it's implicit in the docstring but it's not clear wh

[2016-12-01 06:46] abadger commented on #18692
@Trozz was there any new information on https://github.com/ansible/ansible/issues/16612 ?  This ticket is diving into similar areas.

[2016-12-01 07:50] krzysztof-magosa commented on #17267
I didn't check whether `format` filter already exists - it was quick proof of concept done in 1 minute.
Your solution does not work when list is empty - you would need `if` to remove following `:2181` in case it's empty. Personally I do a lot of transformations on lists to build http/https URLs with different ports, paths etc, so in our company we already have such filters internally.

[2016-12-01 08:09] companycy commented on #18207
Agree with Zloy. Package asciidoc is quite huge.
Any other solution? I mean, only necessary packages should be required.

[2016-12-01 09:14] cebotareanu commented on #18667
In this case, please review my original comments.
I am using the fail - but it's not "failing..."

[2016-12-01 09:34] sirkubax commented on #18647
I do confirm, right now it is correct.

@abadger Thx for checking, though your analysis is not fully correct.
The repo has been fixed, but there **was** a problem with the repository,
It still does not answer - what was the core of the problem, and how it was introduced...

I did try to find the particular commit that would show the difference, but unfortunately I failed to track the error.
I beli

[2016-12-01 10:19] sirkubax commented on #18647
So it may be git/github linking error, or a commit/merge issue
@abadger @bcoca
Could You please consider setting up a submodule gitlink to point at the head of the stable-x.y (stable-2.2) repo, instead of some commit (in unknown repo)?

[2016-12-01 10:40] sirkubax commented on #18647
This may be a track [from current working verison]:
[code]

and the 8677d29cce8d0555c41f49770c65f7b6969b79f6 was
_(cherry picked from commit 90a92f17fae8fab2a45da3ec1762a4bd489d8b0a)_

[2016-12-01 11:27] krzysztof-magosa commented on #17267
I had a look on built-in `format` filter.
It has major disadvantage - format is passed as value and not as argument, so (as far as I know jinja) there is no ability to use it with `map()`.

[2016-12-01 11:35] matamouros commented on #18686
My point is if it should honour that proposed alternate directory structure?

[2016-12-01 15:05] hojothum commented on #5512
+1

[2016-12-01 15:32] oschrenk commented on #2303
I agree with @fk0 and @arnabsinha4u that this is really confusing. Spend an hour scratching my head looking at permission issues before realizing that to copy files around on a specific server I have to set 'remote_src=true'.

[2016-12-01 15:53] #18676 closed, assigned to abadger

[2016-12-01 16:01] jctanner commented on #15432
I've added this to our core team meeting agenda to get a group decision.

[2016-12-01 16:05] abadger commented on #15432
As a workaround, ANSIBLE_LIBRARY can take multiple paths (colon separated just like the PATH environment variable) so you can set each subdirectory as a path as well.  I know this still requires two steps but it should be a little easier than moving the module out of the subdirectory to the toplevel ANSIBLE_LIBRARY every time it is updated.

[2016-12-01 16:06] cwant commented on #18223
+1 for vaulted file problem.

[2016-12-01 17:49] bm-bergmotte commented on #13262
+1 This is feature that would defintely help.

[2016-12-01 17:57] abadger commented on #18647
@sirkubax Yep, it looks to me that you're correct that the tree was bad at that point.

[2016-12-01 18:00] abadger commented on #18647
We're going to be merging the submodules back into the main repository (for devel) next week so it doesn't make much sense to do that there.  We're also going to be discussing whether to do the same for the stable-2.2 branch or not... depending on the outcome of that we can bring up turning that one into a link to HEAD instead of discrete commits.

[2016-12-01 19:40] xxwolfsrainxx opened #18702 "Feature: Ansible Vault Template Module Support"
##### ISSUE TYPE
- Feature Idea

##### ANSIBLE VERSION
N/A

##### COMPONENT NAME
vault

##### SUMMARY
I know the copy module was updated to support ansible-vault encrypted files. Is it possible to extend the ansible-vault coverage to include template files that are copied over. This can be done by decrypting the file on the ansible host, creating the template and then transferring it over.

[2016-12-01 20:10] farahfa opened #18703 "git clone fatal error"
Hello,

In my `tasks/main.yml` I have the following:

[code]

I get the following error:

[code]

I'm expecting it to clone the repo (creates a dir) in `/tmp`, why is giving me this error?

P.S.: I'm (very) new to Ansible, so please excuse my newbieness.. 😄

[2016-12-01 20:19] farahfa commented on #18703
I've fixed it by changing the `dest=/tmp` to `dest=/tmp/nexus`. But why is this an issue in the first place? jw

[2016-12-01 20:24] farahfa commented on #18703
Never mind, I've figured out why it is an issue.. It doesn't have the same behaviour of `git clone` where it automatically creates the dir (of the repo). By defining the `dest` you're doing that manually.

![maxresdefault](https://cloud.githubusercontent.com/assets/9218600/20811057/32bbce32-b7da-11e6-8fc4-794c6c8ebd1f.jpg)

[2016-12-01 20:24] #18703 closed, assigned to nobody

[2016-12-01 20:31] AndydeCleyre commented on #15297
This is also causing problems using `become: yes` and `become: {{ app_user }}` on a `bundler` task on debian.

[2016-12-01 20:56] lepht commented on #16116
@klatiss one work around we've found that gives the behavior you want, without being too terrible:

[code]

Note the addition of the empty `childgroup` in `inventory/1.parentgoup`. This prevents the `undefined` error from occurring, allowing parsing to continue. The end result matches what you're looking for in your **EXPECTED RESULTS**

[2016-12-01 21:45] dekimsey opened #18708 "redis cache using --flush-cache fails: cannot concatenate 'str' and 'Host' objects"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cache/redis.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7, though unlikely to be OS specific

##### SUMMARY
Using the redis caching fails if there are already items in the cache.

##### STEPS TO REPRODUCE

Populate redis cache, normal gather facts playbook suffices.
Run playbook to gather facts aga

[2016-12-02 07:06] nelsg opened #18712 "'until' condition is not evaluated when 'retries' equals 0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

retries ... until

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

In my playbooks, I often use a variable in 'retries' in order to be able to adjust this value.
When I want do disable the 'retries' with 0, 'until' expression is not evaluated, which results in a different behavi

[2016-12-02 07:42] #18684 closed, assigned to nobody

[2016-12-02 08:15] skyzyx opened #18714 "Publish a .whl"
See http://pythonwheels.com

[2016-12-02 08:38] seb1281 commented on #13320
I'm having this issue too. When I connect on the command line from the Ansible server with the awx user to the target system, no problem.
Executing a playbook via Ansible-Tower on the same server won't work. The dbug output looks the same as the one from haozhenxiao.

The Ansible server is running on Ubuntu 14.04 LTS and the target box has Debian 8.6 installed.

[2016-12-02 09:09] seb1281 commented on #13320
I've found the solution.

I copied the public key with the ssh-copy-id command to the target server. When I did this this, ssh-copy-id chose the id_dsa ID to be used. This works when you connect on the command line via ssh to the server, but not with Ansible. After copying the id_rsa ID the playbook run on the server. Here's the command:

ssh-copy-id -i .ssh/id_rsa root@target_box

Maybe this help

[2016-12-02 09:54] guenhter commented on #16768
Same problem with:

##### ANSIBLE VERSION
ansible-playbook 2.2.0.0 (detached HEAD cdec853e37) last updated 2016/12/02 09:36:38 (GMT +000)

##### OS / ENVIRONMENT
Debian 8.6
Linux machine0 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) x86_64 GNU/Linux

##### STEPS TO REPRODUCE
hosts-file
[code]

playbook
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

This is quite

[2016-12-02 11:11] bart2 commented on #16936
Why is it marked as "feature_idea" and not a bug? The documentation at http://docs.ansible.com/ansible/uri_module.html states that uri module support Digest authentication, which is clearly not true.

[2016-12-02 13:02] westsouthnight commented on #16004
@jctanner something strange i see in latest releases, all dicts with same name merged automatic, why?

Somebody can reproduce? May be need to check correct of working with dicts in group_vars?

I have normal settings:

[code]

[2016-12-02 13:38] discostur commented on #14143
Any news on this? I'm also receiving this error ...

**Update:** Fixed it with @kai11 version, but i'm getting an "deprecation" warning now:

[code]

So with version 2.4 this wouldn't work either.

[2016-12-02 13:50] ghost commented on #18609
# check the version
ansible --version

# version rollback 2.1.2
sudo pip install ansible==2.1.2

[2016-12-02 15:29] #16306 closed, assigned to nobody

[2016-12-02 15:37] ruslantum commented on #18584
@gundalow Hey, yeah that fix works for me, and I created the pr now:
https://github.com/ansible/ansible/pull/18718

[2016-12-02 16:42] philipgough commented on #17702
+1 Seeing this also now in 2.2.0.0

[2016-12-02 17:23] #15165 closed, assigned to nobody

[2016-12-02 17:24] #17058 closed, assigned to nobody

[2016-12-02 17:44] bcoca commented on #18714
So we have looked into this before and since there are no wheels for our dependencies and we are not going to start doing packaging for other projects this is a non starter.

[2016-12-02 17:44] #18714 closed, assigned to nobody

[2016-12-02 18:29] bcoca commented on #18712
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Setting retries to 0 is the way to disable until, having the condition be checked 'while disabled' is counter to the intent.

In the fu

[2016-12-02 18:29] #18712 closed, assigned to nobody

[2016-12-02 18:49] mideeks commented on #14143
The changes from @kai11 does not include any calls to `to_bytes`. This must be a problem in the existing code in ansible devel. Diff of the changes: https://github.com/ansible/ansible/compare/devel...kai11:fix/select_fd_out_of_range_wip

Ansible 2.4 is not out or even the current devel version so it shouldn't be a problem for now.

This issue, among others, has unfortunately forced us to reconside

[2016-12-02 18:58] precurse opened #18719 "WINRM Unable to connect via IPv6"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
WinRM

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default everything

##### OS / ENVIRONMENT

Ubuntu 16.04  (ansible installed from pip)

##### SUMMARY

Anytime a connection attempt is made to a Windows host, it fails with `ssl: Failed to parse: <ipv6 address eradicated>`

##### STEPS TO REPRODUCE

Connect to any

[code]

##### EXPECTED

[2016-12-02 19:14] spikerobinson commented on #4531
I have to say @mpdehaan this behaviour is highly counterintuitive to those of us who are learning Ansible, and really not helped by the `lineinfile `[documentation ](http://docs.ansible.com/ansible/lineinfile_module.html)which is, as best, highly ambiguous on this point. I think most of us expect that, as per the documentation, the line matching the `regexp `will be **replaced** (that's the word u

[2016-12-02 19:22] spikerobinson commented on #4531
Maybe as a compromise with the historical semantics of `lineinfile`, and to preserve backward compatibility of existing code (while also preserving the sanity of future users!), add an optional flag something like
`no-action-on-no-match`
which is probably the default behaviour that would be expected by new users, as opposed to old timers.

I see @beinbliss above successfully applied the use of a s

[2016-12-02 19:52] lejinkr commented on #15459
I also facing the same issue when try to add multiple arguments. Is this issue fixed ?

[2016-12-02 20:20] rakshazi commented on #13263
Affetcts 2.2

[2016-12-02 20:58] abadger commented on #18281
@jimi-c @bcoca what do you think of @cboylan's  idea for retries?

[2016-12-02 21:14] precurse commented on #18719
I suspect it has to do with these lines: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/winrm.py#L141-L142

It doesn't check if it's an IPv6 address before appending :port to it ..  Therefore fails when trying to connect.

[2016-12-02 22:03] jforman opened #18721 "ansible hangs waiting for/to send doas password"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
TASK [setup]

##### ANSIBLE VERSION
jforman@stonecrab:/tank/git/ansible-configs$ /tmp/ansible/bin/ansible --version
ansible 2.2.0.0
  config file = /tank/git/ansible-configs/ansible.cfg
  configured module search path = Default w/o overrides

##### OS / ENVIRONMENT
Origin OS: Ubuntu Desktop 16.10
Destination OS: OpenBSD 6.0

##### SUMMARY
Suddenl

[2016-12-02 22:08] jforman commented on #18721
##### ISSUE TYPE
 - Bug Report

[2016-12-02 22:11] pablobm opened #18722 "jinja2 templates can only yield strings"
##### ISSUE TYPE
  - Bug Report

##### COMPONENT NAME
  - Evaluation of jinja2 templates

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A (assumed. Only tested on macOS)

##### SUMMARY
You can't have non-string variables as the result of arithmetic/filters/etc in jinja2 templates

##### STEPS TO REPRODUCE
Consider a playbook and a vars file:

[code]

[code]

##### EXPECTED RESULTS

I woul

[2016-12-02 22:16] pablobm commented on #9362
As I understand it, the mentioned PR (https://github.com/ansible/ansible/pull/10465) doesn't solve the problem at the root, but only one of its manifestations. It detects the case of a jinja2 template that only contains a single variable name, but this is not enough when the code is more complex and expected to evaluate as a non-string.

For those of you still having problems with this, I think it

[2016-12-02 22:46] slavekjurkowski2 opened #18723 "Load group_vars using regex match"
##### ISSUE TYPE
 - Feature

##### COMPONENT NAME
loading of group_vars

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
centos6 / centos6

##### SUMMARY
A playbook can map to hosts using regex. However when that is done, those hosts should be able to load group_vars using the same regex

##### STEPS TO REPRODUCE

For example when hosts within groups tc02_mytest_vms, tc03_mytest_vms, tc04_myt

[2016-12-03 00:44] lmazuel commented on #17934
@squillace link updated in the PR, up to you now :)

[2016-12-03 01:26] jforman commented on #18721
The magic of ANSIBLE_DEBUG=true.

Output: https://gist.github.com/jforman/39025388d9f0a1260104669830cdc722

The last bit of output:
  9883 1480728150.72411: become_success: (source=stdout, state=awaiting_escalation): 'BECOME-SUCCESS-sdqpvwtelfvmtjmgycktemaudxixafsk'
  9883 1480728150.72418: Escalation succeeded
  9883 1480728150.73395: stdout chunk (state=3):
doas (ansibler@openbsdhost) password:

[2016-12-03 14:11] gabrielgiordan commented on #13304
Hey guys, I've tried everything to make it work on Windows, chmod, changing properties, creating the file on Ubuntu and then putting on Windows, but I just can't remove the executable bit from the .vault_pass file, any solution on this for Windows hosts?

`ERROR! Problem running vault password script / m n t / c / v m / v p s - 3 g b - c o r r e t o r a / t r e l l i s / v a u l t / . v a u l t _

[2016-12-03 16:05] jhawkesworth commented on #15459
@lejinkr please try win_package instead of win_msi. I think win_msi is going to be deprecated in a future release of ansible.

[2016-12-03 20:19] squillace commented on #17934
@lmazuel Gotcha. On it.

[2016-12-03 20:52] agaffney commented on #18642
Closing this, since there's no need for an issue when I also have a PR.

[2016-12-03 20:52] #18642 closed, assigned to nobody

[2016-12-04 09:53] robinro commented on #16864
Instead of moving the content into httptest one could also consider to generate it within the tests. This is e.g. done in https://github.com/ansible/ansible/pull/18728
For a test git repo, just run a few git commands inside the tests to setup a repo, then clone it.
In my opinion this makes the tests more readable, since instead of having to lookup what is in the repos, you have the generating comm

[2016-12-04 10:47] gundalow commented on #18584
Fixed by #18718

[2016-12-04 10:47] #18584 closed, assigned to nobody

[2016-12-04 12:55] AlexanderZobkov opened #18737 "Link is broken on Developing Dynamic Inventory Sources page"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

[Developing Dynamic Inventory Sources](http://docs.ansible.com/ansible/dev_guide/developing_inventory.html)

##### SUMMARY
A link to intro_dynamic_inventory page is broken and not working

##### STEPS TO REPRODUCE
1. Go to [Developing Dynamic Inventory Sources](http://docs.ansible.com/ansible/dev_guide/developing_inventory.html)
2. Se

[2016-12-04 13:24] jean-christophe-manciot commented on #16356
@jimi-c You closed the issue whereas it's still there in latest devel and stable-2.2 commits:
[code]

[2016-12-04 15:07] juju4 opened #18738 "[Feature] dns reverse lookup jinja2 filters?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
jinja2 filters

##### ANSIBLE VERSION
[code]

##### SUMMARY
wish for filters to do dns reverse lookup with filter
has been implemented by @bertvv in https://github.com/bertvv/ansible-role-bind/blob/master/filter_plugins/ipaddress.py
easy functions to help when working with dns.

Thanks

[2016-12-04 16:10] agaffney commented on #11565
Just FYI, the original password prompt can be restored on FreeBSD by changing the following line in `/etc/pam.d/sshd` from:

[code]

to:

[code]

After this, `sshpass` once again works as expected.

[2016-12-04 16:21] agaffney commented on #12537
This is still broken with ansible 2.2.0 and FreeBSD 10.3

[2016-12-04 16:27] girgen commented on #12537
yes it is broken for all versions of ansible 2.0+

[2016-12-04 16:28] girgen commented on #12537
I gave up and swithed to `sudo(8)` although I admit that's lame...

[2016-12-04 16:28] agaffney commented on #12537
When I run the ssh+su command manually, it looks like I have to hit return twice before I get the `BECOME-SUCCESS-xxxxx` output. I also get the SSH password echoed to STDOUT, which is a bit odd.

[2016-12-04 18:05] agaffney commented on #12537
When running the crazy ssh/sh/su/sh command by hand, it seems to work properly when adding the `-t` flag to the `ssh` command. Should ansible already be using `ssh -t` when using `become`?

Edit: I tried having ansible add the `-t` flag to the `ssh` command that it's using (with `-e ansible_ssh_extra_args=-t`), but that didn't seem to have any effect.

[2016-12-04 18:28] davbre commented on #14426
I'm running ansible 2.1.1.0 and I was getting this error. The only way I got it to work was with the following in my playbook:

[code]

And adding the `--ask-become-pass` to the command.

[2016-12-04 19:24] koorgoo commented on #14248
Just got into a situation when `defaults/main.yml` split is desired. Added my 👍 to the issue.

[2016-12-04 22:06] sivel commented on #18738
This functionality exists by means of a lookup plugin as documented at http://docs.ansible.com/ansible/playbooks_lookups.html#the-dns-lookup-dig

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2016-12-04 22:06] #18738 closed, assigned to nobody

[2016-12-04 22:25] juju4 commented on #18738
Sorry, I was not suggesting to do any dig, or dns request, just reverse an ip address

example
192.168.1.0 to 0.1.168.192

and as it is mostly to create DNS server zones, you have no dns servers to requests that, especially if internal dns.

linked code is
[code]

[2016-12-04 22:34] sivel commented on #18738
This is also already possible:

[code]

[2016-12-04 22:49] juju4 commented on #18738
for ipv4, yes. can do it that way even if less readable.
for ipv6, I don't think it can be so short

example from RIPE
[code]
https://www.ripe.net/manage-ips-and-asns/db/support/configuring-reverse-dns
https://www.sixxs.net/faq/dns/?faq=reverse

[2016-12-04 23:11] sivel commented on #18738
You may also want to have a look at the `ipaddr` filter, as it appears to be able to do this as well:

[code]
http://docs.ansible.com/ansible/playbooks_filters_ipaddr.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2016-12-04 23:23] juju4 commented on #18738
ah, this is perfect! :+1:

[2016-12-05 01:33] agaffney commented on #12537
I cannot replicate the success above of setting `/bin/csh` as the default shell of the user. I tried both setting the non-root user's shell *and* specifying `-e ansible_shell_executable=/bin/csh`, both separately and together, but I still get the `Timeout (12s) waiting for privilege escalation prompt:` message.

[2016-12-05 01:41] jimmiejams commented on #11592
Hi, when you say "When running the playbook, given playbook variables should be given throughout the entire role files." I assume that means the playbook vars should always override the include_vars?  Looks like it's working now.

**ANSIBLE VERSION**
[code]

**Playbook output**
[code]

[2016-12-05 02:18] skg-net commented on #18663
@juanvalino Thanks for the fix. Code looks good. We will run the regression and let @gundalow know to merge the fix.

[2016-12-05 02:24] juju4 commented on #18738
just a precision. filter is valid for PTR pointer but not zone/subnet as it will complete a zone value in a full IP
example
10.1.0 with revdns: 0.0.1.10.in-addr.arpa. while linked filter will get 0.1.10.in-addr.arpa

for a zone, you want 0.1.10.in-addr.arpa.
for ipv4, ```{{ ip | ipaddr('revdns') | regex_replace('^[0-9]+\\.', '') }}``` will do
for ipv6, not that easy

found following code
https://g

[2016-12-05 02:49] ajain17 commented on #18737
This should be the link: http://docs.ansible.com/ansible/intro_dynamic_inventory.html

[2016-12-05 03:03] juju4 commented on #13278
also happening here. timeout=30 in ansible.cfg fix it but with extreme slowness (1h36 to run vs 15min before bug appears)
a single host target at digitalocean

[code]

[2016-12-05 03:16] chrrrles commented on #17346
My vote would be for adding GnuPG as an additional encryption format.  Wrapper scripts (obviously) are an additional layer of complexity...  and it just feels like PGP should already be supported in vault.

[2016-12-05 03:26] morganwahl opened #18743 "sftp connection fails when username is in inventory file"
Sorry if this is a dup, I couldn't find anything like it, but its not easy to search for "[".

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Fresh install, all configs at defaults.

##### OS / ENVIRONMENT

Output of `hostnamectl`:

[code]

##### SUMMARY

When doing a simple ping to a host, it tries to invoke `sftp` with the arg `[u

[2016-12-05 03:52] #18743 closed, assigned to nobody

[2016-12-05 04:49] jimi-c commented on #14829
@nusenu I believe this was working by accident in 1.9.x.  Adding these two lines:
<pre>
  - debug: var=ansible_all_ipv6_addresses|ipv6('public')
  - debug: var=ansible_all_ipv6_addresses|ipv6('public')|ipv6('address')
</pre>
gives the output:
<pre>
TASK [debug] *******************************************************************************
task path: /home/jamesc/testing/14829/test2.yml:13
ok: [lo

[2016-12-05 08:41] HanXHX opened #18744 "Feature: loop threads"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY

When you have "long" tasks in a loop or a very large list, it's very hard to optimize. Async tasks is not a solution when need "right now" to parse a registered vars.

My idea is to create a new feature on a task: `loop_threads`. A loop thread is launched *per host* (if you run your task on 10 hosts with 3 `loop_threads`, you have up to 30 threads).

[2016-12-05 09:08] gregorg commented on #18744
:+1:

[2016-12-05 10:06] sirkubax commented on #18647
Ok, I think I have found the source of the problem (except the git that is ok now).

[code]

so the pip is **first** clonning the repo (with HEAD -> **devel**), then updating submodules, and then, after submodules->devel, it is checking out ansible[main_project] to stable-2.2 [without updating submodules]

do
[code]

[2016-12-05 12:01] #18680 closed, assigned to abadger

[2016-12-05 12:22] abadger commented on #18391
@rpettersen.  allow_world_readable_tmpfiles will be needed in your case in addition to this new code.

The reason that we still try setfacl and chown when allow_world_readable_tmpfiles is set is for security.  In most cases (not using become, using become to a privileged account, and ssh'ing as a privileged account that becomes an unprivileged one, unprivileged that becomes a second unprivileged a

[2016-12-05 12:31] yfried opened #18745 "Play include behaves weirdly when conditioned on groups"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Include

##### ANSIBLE VERSION
[code]

Not Affected:
[code]
[code]

##### OS / ENVIRONMENT
Fedora 24
RHEL 7
##### SUMMARY
The following should not be included

[code]

However, **some** tasks in `fileB.yml` are executed while others are skipped

##### STEPS TO REPRODUCE

fileA.yml
[code]

fileB.yml
[code]

##### EXPECTED RESULTS

[code]

[code]

[2016-12-05 12:46] robinro commented on #18612
I opened https://github.com/ansible/proposals/issues/42 to replace this.

[2016-12-05 12:46] #18612 closed, assigned to nobody

[2016-12-05 14:01] alikins commented on #18744
@jimi-c  Could this be implemented as a strategy plugin?

[2016-12-05 14:03] alikins commented on #18702
@xxwolfsrainxx  Do you have an example playbook showing how this would work?

[2016-12-05 14:28] agaillar opened #18747 "Syntax Error with custom module"
##### ISSUE TYPE
 - needs_info

##### COMPONENT NAME
- Custom module
- module_common.py

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS Linux release 7.1.1503

##### SUMMARY
Syntax Error when running a custom module with Ansible >= 2.1.0.0

I test my playbook with the new version ansible 2.2.0.0 but i have the error :

[code]

Same error with Ansible  2.1.3.0.
The

[2016-12-05 14:35] amenonsen opened #18748 "include_role+with_items executes tasks num_hosts*num_items times on *each* host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
include_role+with_items executes once per item per host **on each host**.

##### STEPS TO REPRODUCE
x.yml::
[code]

roles/p/tasks/main.yml::
[code]

##### EXPECTED RESULTS
I expected ``cat /proc/uptime`` to be executed twice on a and twice on b

[2016-12-05 15:22] Azenet commented on #18745
I'm getting this as well, but it's really weird behavior, depends on the used modules... The file is always included (which I assume is already an issue) but depending on what the task is or where it is included in my playbook it will or won't skip. Rolling back to 2.1 for now.

[2016-12-05 15:25] yfried commented on #18745
AFAIK, the file is included pre run, and skip is decided at runtime

Regards
Yair

On Dec 5, 2016 17:22, "azenet" <notifications@github.com> wrote:

[2016-12-05 15:49] tuwid commented on #16931
any workarounds ?

[2016-12-05 16:36] alikins commented on #18708
I can reproduce this in 2.3/devel

[code]

[2016-12-05 16:41] rootconsole commented on #17743
Does anyone have any recommendations? Same results on 2.2.0.0 version.

[2016-12-05 16:56] dagwieers opened #18751 "Using incorrect fact_caching gives weird error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cache plugin hook

##### ANSIBLE VERSION

v2.2

##### OS / ENVIRONMENT

Any

##### SUMMARY

When I incorrectly configured Ansible to use a JSON facts cache, I got a very weird error that I initially could not trace back to this configuration item.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Using /home/dag/home-made/ansible.test

[2016-12-05 19:18] tinproject commented on #14117
I also want that something like this would be implemented, it will be good to define the tags to be run inside a playbook. I believe one of the problems of this feature to be implemented is the misleading grammar of the word _tags_ as is used on Ansible.

Inside an ansible .yml file on a task/role/play definition _tags_ means to put a label 'tag name' on the tasks of that play/role/task. Contrary,

[2016-12-05 19:26] jimi-c commented on #18744
You can essentially do this already with a fire-and-forget async task with a registered result which you check later using async_status in a loop. The only downside to doing so is it waits for each item in the loop - ie. if you have items [1,2,3,4,5] and item `1` takes 60 seconds but the rest take 1 second, it wouldn't check on the status of the rest of the tasks until item `1` is done. This is ge

[2016-12-05 19:29] abadger opened #18753 "Hacking on Core Ansible: Special variables"
We need a guide for people who are contributing to Ansible.

Here's the beginning of a page on how to create new special variable.  There are various types of variables which are unrelated.  Not sure if these should be grouped together or separately.

https://docs.google.com/document/d/1vb9-OPXTLeySlPF40gXI3pRDkJzBPbJAJTYwcSAe7yI/edit

##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAM

[2016-12-05 19:30] jimi-c commented on #18745
@yfried-redhat I'm not seeing this behavior on devel, so I'm thinking it may have been fixed a couple of weeks ago when I was working on playbook include bugs:
<pre>
[jamesc@jimi 18745]$ ansible --version
ansible 2.3.0 (devel d3dd11b21c) last updated 2016/12/05 10:40:38 (GMT -400)
  lib/ansible/modules/core: (detached HEAD 6890003c4f) last updated 2016/12/05 10:46:31 (GMT -400)
  lib/ansible/modul

[2016-12-05 19:34] gundalow commented on #18612
Good idea, thanks

[2016-12-05 19:48] farahfa opened #18755 "Help with ansible conditionals"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
task conditionals

##### ANSIBLE VERSION
N/A

##### SUMMARY
I would like to do a task if and only if a custom variable (from the, main, playbook.yml) is set to true. I've had a couple of attempts at it, but none worked.

Here's my latest attempt:

In `tasks/main.yml`:

[code]

In `defaults/main.yml`:

[code]

In the main `playbook.yml`:

[code]

[2016-12-05 20:54] alikins commented on #18751
I can reproduce with 2.3

[code]

[2016-12-05 21:27] yfried commented on #18745
As I've mentioned, it's not in devel. I still thought it needed to be
recorded in case it comes back.

Regards
Yair

On Dec 5, 2016 9:31 PM, "James Cammarata" <notifications@github.com> wrote:

[2016-12-05 23:24] ghost commented on #15508
Any update here?

I have the same issue, and it works perfectly for me when I use regular ssh. This indicates that the issue is with Ansible, and not my DNS setup.

[2016-12-06 10:54] sirkubax commented on #18748
Sorry to say, but it seems to work properly.
I can not see the place, where you would limit or delegate the execution.
You may misunderstood the concept.

Please play with the following:
[code]

The 'when: item == inventory_hostname' would work for you in this example, but please note that this would expect the 'item' variable every time you use this role.
You may rethink your concept, and use a d

[2016-12-06 11:22] sirkubax opened #18766 "multiple include fails without any error , when one of the sub-host list is empty"
Ansible **include** fails with no message, when variable is unset!

### ANSIBLE VERSION
[code]
##### ISSUE TYPE
 - Bug Report

The include **silently** fails, when a group / host list does not exist.
If **any of the includes** has an error, **NONE** of the includes would not execute!

[code]

[2016-12-06 11:54] jpswade opened #18767 "<vaultedFile> does not have a valid extension: yaml, yml, json"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_vars_dir

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The latest version of ansible complains if a vaulted file does not have a valid extension: yaml, yml, json.

The expectation is that a vaulted file may not carry these extensions.

See: https://github.com/ansible/ansible/issues/

[2016-12-06 12:00] candlerb commented on #14380
Similarly, there is an inline `content` parameter in the [copy module](http://docs.ansible.com/ansible/copy_module.html)

[2016-12-06 12:07] Schroeffu commented on #12086
+1, need forks too :-)

[2016-12-06 12:13] tcruz1971 opened #18768 "Cron - Module Failure"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cron module

##### SUMMARY
While doing:
[code]
##### ANSIBLE VERSION
```ansible 2.3.0 (devel 39c2249e49)```

##### OS / ENVIRONMENT
CentOS 3.10.0-327.36.2.el7.x86_64

##### ACTUAL RESULTS
It sets the Crontab as:
[code]

but returns back with:
[code]

[2016-12-06 12:58] Shaps commented on #18506
iteritems appears **a lot** in modules, will open separate PRs for that

[2016-12-06 13:50] harobed opened #18770 "Bug Report: local_action execute command with sudo -u root instead my current user"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
become + local_action

##### SUMMARY
Hi,

I think there is `become` error with `local_action`.

[code]

I have this error:

[code]

With this code  https://github.com/ceph/ceph-ansible/blob/master/roles/ceph-mon/tasks/docker/create_configs.yml#L2:

[code]

The problem is here: `<localhost> EXEC /bin/sh -c 'sudo -H -S -n -u root /bin/sh -c `

If I

[2016-12-06 13:57] sirkubax commented on #18755
Try this:
`  when: "{{ nexus_main_select_configuration |default(False) }}"`

this should also work:
`  when:  nexus_main_select_configuration |default(False)`

btw - what us your nexus_main_select_configuration ?

please do:

`- debug: msg="{{ nexus_main_select_configuration }}"`

[2016-12-06 14:10] sirkubax commented on #18770
@harobed what is the difference of the following lines?
[code]

I'd say that you do 'become:true' in some place of the code [because there is: echo BECOME-SUCCESS] . Since your description is not complete, I can only guess what you may be doing.You need to debug it step by step.
you could run

[code]

[2016-12-06 14:15] yfried commented on #18745
At @jimi-c request, I've verified that stable_2.2 has the fix.
Could this be ported to 2.1?

[2016-12-06 14:15] akrzos commented on #17979
I retested this with 2.2.0.0 and it is fixed now.

https://gist.github.com/akrzos/413148aab75d9caf6d70585d47a74155

Looks just like >2.1.1.0 but <2.2.0.0 had an issue.

Closing.

[2016-12-06 14:15] #17979 closed, assigned to nobody

[2016-12-06 14:20] harobed commented on #18770
Sorry, I fixed my example. In second code I have `become_user: stephane`

[2016-12-06 14:27] harobed commented on #18770
[code]

output that:

[code]

It is in conformity, it's "normal", I've `become: True` in parent Playbook.

But why `local_acton` use `become_user: root` by default?

[2016-12-06 14:33] harobed commented on #18770
If I have this in my inventory config:

[code]

=> error

If I have:

[code]

=> success, no sudo here:

[code]

Question: why `become: false` didn't disable global `ansible_become`?

It's a bug?

[2016-12-06 14:37] dragnbeard opened #18772 "get_bin_path fails when folder with execute permission in path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/module_utils/basic.py - get_bin_path(self, arg, required=False, opt_dirs=[]) function

##### ANSIBLE VERSION

2.3.0
2.2.1.0
and probably earlier versions

##### CONFIGURATION

default

##### OS / ENVIRONMENT

SLES 12.1
CentOS 7.2
but should be all linux destribution

##### SUMMARY

All methods / modules which are using the method g

[2016-12-06 14:46] alikins commented on #18767
This seems to work in stable-2.2 (to be 2.2.1 )and devel branches.

stable-2.2
[code]

devel
[code]

[2016-12-06 15:20] krzysztof-magosa commented on #18770
`ansible_become` variable in host/group vars has higher priority than task level `become` option.
You need to use below way to override that:
[code]

[2016-12-06 15:42] harobed commented on #18770
Ok thanks, this behavior is documented? I read nothing about that here http://docs.ansible.com/ansible/become.html#connection-variables

[2016-12-06 15:47] krzysztof-magosa commented on #18770
As far as I know it's not documented but last time I've confirmed that with somebody from Ansible Core team and he said it's expected behaviour.

[2016-12-06 16:01] fabala opened #18774 "Unable to use registered variable in delegate_to statement"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to and registered variable

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
library = /context/abc-core/library
roles_path = /context/abc-core/roles
host_key_checking = False

##### OS / ENVIRONMENT
ubuntu + docker

##### SUMMARY
You cannot use a registered variable in a `delegate_to` statement.

##### STEPS TO REPRODUCE
Re

[2016-12-06 16:05] agaillar commented on #18747
I copied the ```lineinfile.py``` module in my playbook: ```./library/test-lineinfile.py```
And I reproduce the same error ...

`fatal: [prod-cloud-ngx-1]: FAILED! => {"changed": false, "failed": true, "module_stderr": "  File \"<stdin>\", line 99\n    from ansible_module_test-lineinfile import main\n                             ^\nSyntaxError: invalid syntax\n", "module_stdout": "", "msg": "MODULE

[2016-12-06 16:09] richardweiu commented on #14664
maybe this also affects the unarchive moudle

[code]

the get this error:

[code]

then I use the `-vvv` get more info:

[code]

[2016-12-06 16:12] sivel commented on #18747
The 1st and 2nd problems are actually different, although with a similar error message.

In your first issue, the problem is likely that you do not have a function in your module named `main()`.  Ansible 2.1 introduced new functionality in how it builds the file to be executed, in that it creates a zip file.  As part of this, it attempts to import the `main` function for execution.  Without the co

[2016-12-06 16:20] richardweiu opened #18775 "can't use unarchive moudle"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu14.04

##### SUMMARY

get a exception when exec unarchive moudle

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

the get this error:

[code]

then I use the `-vvv` get more info:

[code]
maybe this also affects the unar

[2016-12-06 16:25] boscowitch commented on #13950
This  WHEN beeing evaluated after leads to a lot of headaches in another use case...
took me a while to find it since i wanted to skip a whole role / include with a condition which normally works....
unfortunately i had to read later that it does not stop the include but adds a when condition to all sub taks... which lead to similar with_items/when contruct to fail the role even though it should b

[2016-12-06 16:26] harobed commented on #18770
Ok, then I think that need to be documented :)

[2016-12-06 16:58] sivel commented on #18775
Your output seems to indicate that a boolean value has been passed to the `creates` argument for the module.

[2016-12-06 17:10] sirkubax commented on #18770
heh
It was documented for 1.x (look for connection variables)

http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

someone forget to mention that for 2.x
@bcoca ?

[2016-12-06 17:11] xpicio opened #18778 "Custom windows ansible module with network share path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

I'm not really sure but could be: lib/ansible/plugins/shell/powershell.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_LIBRARY=/opt/buildAgent/work/bb630c66ced55a59/provisioning/library/

##### OS / ENVIRONMENT

Ansible running on: Linux buildagent-a 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt20-1+deb8u4 (2016-02-29) x86_64 GNU/Lin

[2016-12-06 18:29] andelf commented on #13904
Solved by change celery's run user to root.
ugly but works.

UPDATE:
change supervisor/conf.d/tower.conf

ADD:
[code]

[2016-12-06 21:05] EthanStrider opened #18782 "Abort/fail if host is unreachable"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Abort/fail if host is unreachable

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible does not seem to treat an unreachable host as a failure, and in some cases (especially tasks where Ansible is involved in monitoring), I need any and all unreachable hosts to exit failure immediately, inst

[2016-12-06 21:45] jhawkesworth commented on #18778
Hi
You are very likely encountering what is known as the 'second hop' issue.  From ansible controller to windows host is one hop and from windows host to printer server is a second hop.  Usually windows does not allow a second hop like this, but you can configure authentication delegation if you are running as a domain (kerberos) user to get round this issue, by setting ansible_winrm_kerberos_dele

[2016-12-06 21:45] jhawkesworth commented on #18778
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2016-12-06 21:45] #18778 closed, assigned to nobody

[2016-12-06 22:01] jsumners opened #18795 "npm module should allow passing extra switches"
_From @jsumners on April 20, 2016 15:15_

##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME

npm
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

OS X - MacPorts
##### SUMMARY

The npm module has a limited subset of switches available to it. This makes some things impossible. For example, annoying modules that require `node-gyp` need to download things from the Internet. Not all systems ha

[2016-12-06 22:01] jsumners commented on #18795
_From @chouseknecht on April 27, 2016 20:48_

@chrishoffman

[2016-12-06 22:01] jsumners commented on #18795
_From @ansibot on August 4, 2016 19:38_

@chrishoffman, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2016-12-06 22:01] jsumners commented on #18795
_From @ansibot on September 13, 2016 2:48_

@shane-walker, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2016-12-06 22:01] jsumners commented on #18795
_From @ansibot on October 6, 2016 18:3_

@shane-walker, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2016-12-06 22:01] jsumners commented on #18795
_From @ansibot on December 6, 2016 21:52_

This repository has been locked. All new issues and pullrequests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2016-12-06 22:03] girgen commented on #6854
It is still there, and does not matter if I have groups at all or not. :(

[2016-12-06 22:42] drzraf commented on #7151
https://github.com/ansible/ansible-modules-extras/pull/1240
https://github.com/ansible/ansible/pull/7521
https://github.com/ansible/ansible/pull/7194

[2016-12-06 22:56] ilpianista opened #18807 "win_firewall_rule fails when locale isn't English"
_From @ilpianista on November 29, 2016 10:45_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_firewall_rule

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Target host is Windows 7 with German language.

##### SUMMARY
I've a task to open a firewall port.
The rule creation succeeded, but on the next execution of the same task it fails because win_firewall_rule tries to parse the out

[2016-12-06 22:56] ilpianista commented on #18807
_From @ansibot on November 29, 2016 10:57_

@TimothyVandenbrande ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2016-12-06 23:19] richardweiu commented on #18775
Thanks,I get it

[2016-12-06 23:29] telbizov commented on #18687
@abadger and @bcoca any development on this issue?

[2016-12-06 23:46] ghost commented on #1171
ansible also appears to ignore ssh config User directives; I get the impression ansible ignores as much of this file as possible. Not sure if its being used at all except maybe for HostName resolution, maybe.

----
Edit, ansible is probably onlt using this file for values it hasn't explicitly overridden in shell arguments. Which is probably almost if not actually nothing. (you can see them with -v

[2016-12-07 00:34] combusean commented on #15040
Why are people talking about exceptions?

The original poster wrote about better formatting JSON dumps like myself and anyone else who came here would like, not exceptions.

This has been an issue with ansible for years and is only fixed with local hacks.