[2018-06-07 23:51] #16633 closed, assigned to nobody

[2018-06-07 23:56] willthames commented on #41291
Please surround yaml with triple backticks, or the ansible task is very hard to read!

[2018-06-07 23:57] acozine commented on #17930
@peerster thanks for reporting this. I see the 2.7 requirement in https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_subnet.py#L105 and I see 2.6 is still listed on https://docs.ansible.com/ansible/latest/modules/os_subnet_module.html. I will investigate.

[2018-06-07 23:59] acozine commented on #38057
This change is live on stable-2.5 now. @gregdek re-open if you still have concerns or see issues.

[2018-06-07 23:59] #38057 closed, assigned to nobody

[2018-06-08 00:00] grepory commented on #16610
Thanks for getting back to me. Seems like closing is the right idea.

[2018-06-08 01:46] liubog2008 commented on #41257
https://groups.google.com/forum/#!topic/ansible-project/pHB7Eu96Lao
Thanks for your guide

[2018-06-08 02:04] Akasurde commented on #41212
@Renlor Yes, both are somewhat related. Once @LastCaress77 confirms, we will close one of them as duplicate.

[2018-06-08 02:04] #39569 closed, assigned to nobody

[2018-06-08 02:36] kbreit opened #41296 "meraki_network module doesn't always use org_id and net_id when provided"
##### SUMMARY
`org_id` and `net_id` can be provided to improve playbook execution performance since less lookups are needed. `org_id` and `net_id` should be used within the module, when possible to avoid unnecessarily API calls.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meraki_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-06-08 02:43] #41134 closed, assigned to Qalthos

[2018-06-08 02:59] yeroc commented on #25957
Sure would be nice if this were an option.  Is there a plan to migrate all the inventory scripts to plugins?

[2018-06-08 03:07] auto2mate commented on #40807
Awesome, it worked. Thanks again for your help.

[2018-06-08 03:07] #40807 closed, assigned to nobody

[2018-06-08 03:24] brucegogo opened #41298 "ERROR! 'yum' is not a valid attribute for a Play"
##### SUMMARY
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum command

##### ANSIBLE VERSION
[root@ansible tasks]# ansible --version
ansible 2.6.0a2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/my_modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible-2.6.0a2-py2.7.egg/ansible
  executable location = /bin/an

[2018-06-08 03:25] kbreit opened #41299 "Meraki_admin doesn’t always use org_id and net_id"
##### SUMMARY
`org_id` and `net_id` can be provided to improve playbook execution performance since less lookups are needed. `org_id` and `net_id` should be used within the module, when possible to avoid unnecessarily API calls.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meraki_admin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-06-08 03:26] kbreit opened #41300 "Meraki_snmp does not always use org_id and net_id"
##### SUMMARY
`org_id` and `net_id` can be provided to improve playbook execution performance since less lookups are needed. `org_id` and `net_id` should be used within the module, when possible to avoid unnecessarily API calls.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meraki_snmp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-06-08 03:28] kbreit opened #41301 "Meraki modules need response documentation"
##### SUMMARY
The Meraki modules mostly lack documentation about responses the module provides. Documentation should be provided.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
meraki_organization
meraki_network
meraki_snmp
meraki_admin

##### ANSIBLE VERSION
[code]

[2018-06-08 04:17] jainnikhil30 opened #41302 "Fix the typos in winrm ports"
##### SUMMARY
Winrm docs has a typo for https and http port. It says following

[code]
Should be:

[code]

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

winrm.py

##### ANSIBLE VERSION

[code]

[2018-06-08 04:18] Akasurde commented on #41298
@brucegogo Thanks for reporting this issue.

I guess you are running `--syntax-check` on playbook inside role task. Try using on `--syntax-check` on main.yml that invokes this role.

[code]

needs_info

[2018-06-08 04:20] Akasurde commented on #41302
resolved_by_pr #41303

[2018-06-08 05:14] brucegogo commented on #41298
Hi Akasurde,

Thanks for replying.
Yes, you're right.
I was running --syntax-check on playbook inside role task, and following your direction is OK now.
[root@ansible ansible]# cat install_zabbix_server.yaml
---
- hosts: zabbix-server
  roles:
      - role: zabbix-server

[root@ansible ansible]# ansible-playbook --syntax-check install_zabbix_server.yaml

playbook: install_zabbix_server.yaml

Thank

[2018-06-08 05:31] yeroc commented on #31063
I just ran into the same unhelpful error message with Ansible 2.5.3 + apache-libcloud 2.3.0.  Haven't figured out what's wrong yet...

[2018-06-08 06:01] trishnaguha commented on #41150
@atnoslen This isn't a bug. This is expected behavior.
`intended_config: '{{ intended }}'
 diff_against: intended`diffs against the running-config (retrieved) of the device. The same is also mentioned in the doc https://docs.ansible.com/ansible/latest/modules/ios_config_module.html.

The way to use this is:
[code]

`diif['before']` i.e, --- should be the running-config of the remote device, and `d

[2018-06-08 06:07] trishnaguha commented on #29539
@michaelgaribaldi This looks like idempotence issue. Can you try `eos_vlan` module instead https://docs.ansible.com/ansible/latest/modules/eos_vlan_module.html?
We do not guarantee idempotence when eos_config module is used.

Closing the issue, please consider opening an issue if it still persists with `eos_vlan` module.

[2018-06-08 06:07] #29539 closed, assigned to trishnaguha

[2018-06-08 06:08] rhodain commented on #41251
Just an example. The file can be obtained by curl:

curl --insecure --request POST --user '${OVIRT_USERNAME}:${OVIRT_PASSWORD}'
--header "Version: 4" --header "Content-Type: application/xml" --header "Accept: application/xml" --data '<action/>' --output "console.vv" "https://sbr-virt-rhv-nested/ovirt-engine/api/vms/27e76224-b971-4e9f-a87c-24455ff9eb5f/graphicsconsoles/7370696365/remoteviewerconnec

[2018-06-08 06:17] Akasurde commented on #39651
@Denubis Thanks for reporting this issue.
For documentation issue, https://developer.github.com/v3/guides/managing-deploy-keys/ says - "Anyone with access to the repository and server has the ability to deploy the project."
Can you elaborate your situation or error message ?

[2018-06-08 06:38] #41302 closed, assigned to nobody

[2018-06-08 06:42] victorock commented on #31063
The few times yhat i've ran into this:
1- quota issue
2- payment issue (quota)
3- permission issue

[2018-06-08 07:12] petarGitNik commented on #26581
I'm also building `mysqld_exporter` role, it would be great to have this feature. I haven't yet tested the following, but something like this could be a workaround:

[code]

[2018-06-08 07:15] bmamouri opened #41307 "s3 cloudfront_distribution: Expected a list, got a odict_values with value odict_values"
##### SUMMARY
This issue might be related to this PR: https://github.com/ansible/ansible/pull/37340

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudfront_distribution

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/Users/redacted/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p
HOST_KEY_CHECKING(/Users/redacted/ansibl

[2018-06-08 07:41] netixx opened #41310 "nxos_l3_interface fails on loopbacks and svi interfaces because of no switchport"
##### SUMMARY

When using nxos_l3_interface on loopbacks (loopback1) and SVI (Vlan10), the modules unconditionnaly adds the `no switchport` command which fails on those interfaces.

In `nxos_ip_interface` - the now deprecated module that used to perform this - the `get_interface_type` method was use to conditionnaly insert `no switchport`. This could be ported to `nxos_l3_interface` to solve this

[2018-06-08 07:49] trishnaguha commented on #41310
This is fixed on devel, needs to be cherry-picked to stable-2.5 and will be released with 2.5.5

[2018-06-08 08:00] brucegogo opened #41311 "SSH Error: data could not be sent to remote host"
##### SUMMARY
Ansible unable to connect to other servers with SSH, it used working ,but recently failed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible ping

##### ANSIBLE VERSION
$ ansible --version
ansible 2.6.0a2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/usr/share/my_modules']
  ansible python module location = /usr/lib/python2.7/site-packages

[2018-06-08 08:39] zhangguanzhang commented on #33058
hello the version 2.5.3 in Centos 7.5 also have this bug

[2018-06-08 08:42] hanswurscht commented on #34259
We are also experienceing this bug.
Is there an updated diff for version 2.4?

[2018-06-08 08:48] richlv opened #41312 ""free" strategy prints messages under a wrong heading"
##### SUMMARY
When using the "free" strategy, messages often are printed under a wrong heading.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
RHEL6.9 / RHEL6.9

##### STEPS TO REPRODUCE
- have a play with a bunch of tasks and run it on multiple hosts (problem usually appears from 3-4 hosts)

##### EXPECTED RESU

[2018-06-08 08:52] jmnavarrol opened #41313 "meta: flush_handlers doesn't honor when clause"
##### SUMMARY
**meta: flush_handlers** gets triggered even within a *when* clause that evaluates to false.

##### ISSUE TYPE
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
ansible-playbook
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu Bionic, running Ansible on a virtualenv (but don't think this is *that* relevant in this case)

##### STEPS

[2018-06-08 09:04] AquaL1te commented on #41187
You're right! This one was immutable by `dconf`, bad test-case... Other settings work fine. Awesome module!

[2018-06-08 09:04] #41187 closed, assigned to nobody

[2018-06-08 09:11] mkrizek commented on #41313
The behavior you're describing is expected. I merged PR recently that adds a warning when using conditional on meta tasks that don't support them - https://github.com/ansible/ansible/pull/41126. Also see https://github.com/ansible/ansible/issues/27565.

Stop by on IRC or mailing list if you have any questions:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!fo

[2018-06-08 09:14] stamina-automation opened #41314 "symbolic link are updated by file set attributes modules when using recurse=yes option"
##### SUMMARY
The symbolic link are updated by file set attributes modules when using recurse=yes option, however in documentation follow option should be set to "no" by default.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module file (set attributes of file)

##### ANSIBLE VERSION
2.5.3

##### CONFIGURATION
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible/ansible.log

#####

[2018-06-08 09:14] mkrizek commented on #41312
Thanks for the report! Can you post a specific reproducer that shows the problem? Thanks!

[2018-06-08 09:37] richlv commented on #41312
Do you mean the role/playbook/handler contents?

[2018-06-08 09:46] jmnavarrol commented on #41313
mkrizek wrote:

No, it isn't.

It obviously wasn't expected by me, that's why I opened this bug but, more interestingly, even *you* know this is unexpected, or else, why investing the time to warn about it?

All in all, warning at run time about this behaviour makes for a nice addition, so thank you very much for that but, please, consider to reopen this so it's considered as what it in fact is: a

[2018-06-08 10:11] willthames commented on #41307
Yes, this is actually the issue that that PR fixed - it will be fixed in the forthcoming 2.6 but it doesn't look like it was backported to 2.5

I think we should probably backport to 2.5 but in the meantime, here's a workaround to allow you to run latest cloudfront_distribution with 2.5 Ansible: http://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

[2018-06-08 10:16] willthames commented on #41307
I've raised #41315 as a backport PR.

[2018-06-08 10:33] mkrizek commented on #41312
Yes, a minimal example that reproduces the problem, that would really help with debugging. Thanks!

[2018-06-08 10:35] varunchopra opened #41316 "setup: ansible_devices should return list."
##### SUMMARY
`ansible_devices` returned by the setup module should be returned as a list.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
setup

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
**Ansible:** RHEL 7.5
**Controlled host**: RHEL 7.5

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Setup should return a list to easily iterate through the devices. Right now you hav

[2018-06-08 10:43] mkrizek commented on #41316
cc @alikins

[2018-06-08 10:53] #41310 closed, assigned to trishnaguha

[2018-06-08 10:55] jmnavarrol commented on #41313
Thanks a lot for reopening this, if even as a *feature request*!

mkrizek wrote:

Humm... I'd probably better say *"current behaviour is known to developers"* (but then, also known bugs are known to developers and that doesn't make them any less of a bug).

In order to say as much as *it works as intended* there should be some kind of rationale supporting this behaviour as the desired one (I mean:

[2018-06-08 11:06] Akasurde commented on #41316
@chopraaa Thanks for reporting this issue. Could you please elaborate more on the use case that you are looking for ansible_devices as list rather than dict?

needs_info

[2018-06-08 11:13] chopraaa commented on #41316
I'm running a play for getting devices on a bunch of servers over different providers. Most servers have different names for devices so getting data on all of them is not feasible unless `ansible_devices` is a list of devices.

[2018-06-08 11:17] mkrizek commented on #41313
One of the comments in the issue I linked for you (https://github.com/ansible/ansible/issues/27565) states that some of the meta tasks are not host specific and so `when` is ignored there. So in your case, `flush_handlers` runs handlers on **those hosts** which have been notified (so far at the point you call `flush_handlers`). This means that `flush_handlers` is not a host specific meta task, it

[2018-06-08 11:17] Akasurde commented on #41316
@chopraaa Can you please share some code related to PB ? I am trying to understand how it will be easy if `ansible_devices` is a list.

[2018-06-08 11:21] chopraaa commented on #41316
@Akasurde What's a PB?

[2018-06-08 11:32] Akasurde commented on #41316
@chopraaa Can you try this -

[code]

[2018-06-08 11:59] rasobey commented on #33058
I've confirmed this is now working again in 2.5.4, was broken in 2.5.3 but working in 2.4.something (sorry, forgot which specific version).

TASK [Copy and untar host keys] ***********************************************************************************************************************************************************************************************************
changed: [hostname] =>

[2018-06-08 12:07] chopraaa commented on #41316
@Akasurde Yeah this works!

[2018-06-08 12:07] #41316 closed, assigned to nobody

[2018-06-08 12:13] drewdogg10 commented on #41148
Initially I was using snowinstance.service-now.com and I changed it to just snowinstance.

[2018-06-08 12:37] s-hertel commented on #41314
@stamina-automation The latest docs indicate that the default for follow as of 2.5 is True: https://docs.ansible.com/ansible/latest/modules/file_module.html

If you set `follow: no` does that work as expected?

[2018-06-08 12:41] BarbzYHOOL commented on #35398
But what is the reason for this? The workaround is obvious but it's damn stupid to be forced to do that.

[2018-06-08 12:41] BarbzYHOOL commented on #37995
https://github.com/ansible/ansible/issues/35398

[2018-06-08 13:03] jmcleroy opened #41320 "edit snow_record so it can reach unique service-now urls"
##### SUMMARY

Need to add host parameter for connection in order to reach unique service-now url. For example dev.service-now.dev.com and the current module only supports the instance parameter.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

snow_record
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS to ServiceNow

##### STEPS TO REPRODUCE

[code]

###

[2018-06-08 13:34] AquaL1te commented on #38182
Just had a look at it again.

The one below indeed doesn't work, it gives an error when an element is missing.
`loop: "{{ lookup('subelements', user, 'ssh_key', 'skip_missing=True') }}"`

The one below does work, while in the [documentation](https://docs.ansible.com/ansible/2.5/plugins/lookup/subelements.html), it states it as a valid option.
`loop: "{{ lookup('subelements', user, 'ssh_key', {'ski

[2018-06-08 13:42] Noname2244 commented on #37991
I have a similar problem with 3.7.5 when Issuing a ios_command: verify /md5 flash:image.bin

I have timeout: 900
but the command seems to timeout after about 30s.

[2018-06-08 13:43] kees-closed opened #41321 "first_found (lookup) example from docs not working"
##### SUMMARY
I want to replace the `with_first_found` with a loop + lookup. Took the example from the [docs](https://docs.ansible.com/ansible/2.5/plugins/lookup/first_found.html), but that one fails.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/kjong/git/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home

[2018-06-08 13:54] Noname2244 commented on #37991
I did some more testing and it works fine against 16.3.6 but not any 3. ios xe releases

` tasks:
    - name: Verify file checksum
      ios_command:
        provider: "{{ CREDS_IOS_T1 }}"
        timeout: 900

        commands: verify /md5 flash:cat3k_caa-universalk9.16.03.06.SPA.bin
        wait_for: result[0] contains a65a6308ec728a92f8463e5bfb6b79f0`

[2018-06-08 13:55] Noname2244 commented on #37991
ansible --version
ansible 2.5.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/krifag/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.12 (default, Dec  4 2017, 14:50:18) [GCC 5.4.0 20160609]

[2018-06-08 13:58] mkrizek commented on #41321
Thanks for the bug report! Can you try using examples from https://docs.ansible.com/ansible/devel/plugins/lookup/first_found.html? It should be fixed there.

[2018-06-08 14:00] mkrizek commented on #41321
Note, it was fixed very recently and didn't get backported to `2.5` yet.

[2018-06-08 14:05] mkrizek commented on #41321
https://github.com/ansible/ansible/pull/40821

[2018-06-08 14:06] AquaL1te commented on #41321
Using the updated example from the docs works just as well as the `with_first_found`, thanks! I think this issue can be closed.

[code]

[2018-06-08 14:13] memotype opened #41322 "uri module return value's .json attribute fails silently when content fails to parse"
##### SUMMARY
When registering the return value from the uri module, and accessing the .json attribute later, if the content in the response can't be parsed (JSON syntax errors, etc), the .json attribute silently returns an empty string instead of raising an error. This causes seemingly unrelated and often very difficult to track down errors later on in the playbook.

##### ISSUE TYPE
 - Bug Repor

[2018-06-08 14:49] rogerscuall opened #41323 "nxos_snapshot compare error"
##### SUMMARY
nxos_snapshot errors out when comparing two snapshots.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_snapshot
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

MAC OSX

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Comparison of the snapshots, running `show snapshot compare pre-snapshot post-snapshot` works fine on the remote

[2018-06-08 14:52] yeroc commented on #31063
Thanks for the tips @victorock I'll do more digging.  Is this an issue with the apache-libcloud API or are the Google Cloud Endpoints returning no information for these failures?

[2018-06-08 14:55] LastCaress77 commented on #41212
Both issues are the same. After review of your fix it also appears that won’t fully solve the issue either. The problem here is VMware has cast types randomly but you can see the type if you edit an advanced setting. We have some code we are testing that we hope to get committed back today for a full fix for this issue.

[2018-06-08 14:59] sweenig commented on #27097
Is there a way to handle multiple prompts? For example, if i want to copy a file from one flash on the router to another, there are two possible scenarios: 1) the destination file exists and 2) the destination file doesn't exist.
If the destination file doesn't exist, I get one prompt:
[code]
Which I can do this in my playbook just fine:
[code]
However, if the file already exists on flash2, then I

[2018-06-08 15:02] vkvam opened #41326 "Enable specifying streams for DynamoDB"
##### SUMMARY
It appears you can not create streams when creating dynamodb tables.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

dynamodb_table

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

To be able to enable streams when creating dynamodb tables.
In boto3, the field StreamSpecification is used to specify a stream:
Strea

[2018-06-08 15:14] #41321 closed, assigned to nobody

[2018-06-08 15:31] BobbyGR commented on #40013
@mikewiebe  - any update?

[2018-06-08 15:37] mikewiebe commented on #40013
@BobbyGR Unfortunately no.  I have tried multiple workarounds but they all eventually end up failing due to the `SSHException('Key-exchange timed out waiting for key negotiation')` problem.

I did discover that the `expect` ansible module works quite well for this  and I don't see the key-exchange issue but the challenge is the password information is displayed in the logs.  If your not concerned

[2018-06-08 16:04] samdoran commented on #40696
I like this idea. We could use the existing `backup_local` method which would add a timestamped backup. We would have to detail in the docs that this is only for the shadow file to keep the scope and expectations focused.

[2018-06-08 16:28] h00pz opened #41333 "pip extra_args ignored"
##### SUMMARY
while installing kolla-ansible on centos I ran into an issue where pip extra_args is being ignored

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pip module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[root@epic-fawn centos]# ansible-config dump --only-changed
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 100
DEFAULT_PRIVA

[2018-06-08 17:02] samdoran commented on #24862
@gentili @murarisumit @ArseniiPetrovich There are two issues being discussed in this issue:

1) Incorrect _permissions and SELinux context_ when changing the home dir of an existing user
2) Incorrect _ownership_ when changing the home dir of an existing user.

I'm able to duplicate 1 on CentOS 7. I am not able to duplicate 2 on Ubuntu 1604.

If someone has a simple reproducer for 2 that is differe

[2018-06-08 17:16] kadapa12 opened #41334 "error /apps/opt/app/learninglocker/node_modules/bcrypt: Command failed."
##### SUMMARY

I am trying to install LearningLocker and failing with below error

[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-06-08 17:53] jwsomis commented on #41333
I just ran into this as well on 2.6.0rc1 on Ubuntu 16.04
Code:
- name: Install pip dependencies
      pip:
        name: "{{ item }}"
      extra_args: --user
      with_items:
        - boto
        - boto3
Output:
failed: [127.0.0.1] (item=boto3) => {
    "changed": false,
    "cmd": "/home/ubuntu/.local/bin/pip2 install boto3",
    "invocation": {
        "module_args": {
            "chdir": n

[2018-06-08 18:22] gregsymons opened #41336 "ansible-galaxy hides scm errors"
##### SUMMARY

When downloading roles from SCM repos using `ansible-galaxy -r requirements.yml`, the output from the SCM commands is dumped to `/dev/null`. This makes it very difficult to debug issues, particularly in non-interactive environments where all you have is a log to go by. It would be better to capture the SCM command output and display it (perhaps only when ANSIBLE_VERBOSITY > 1 to min

[2018-06-08 19:10] h00pzz commented on #41333
It looks like I jumped the gun on this one.  User error.

TASK [baremetal : Install docker SDK for python] *********************************************************************************************************************************************************************************************************************************************************
task path: /usr/share/kolla-ansible/ansible

[2018-06-08 19:11] fulminemizzega commented on #22320
Hello,
I tried a fresh F28 server install and everything looks ok, this is my dnf history:
[code]
transactions 4, 5, 8 where made by ansible, dnf autoremove does not remove the installed packages anymore and this is dnf history userinstalled:
[code]

[2018-06-08 19:34] htallur commented on #40864
below are the steps, we followed and getting stuck at the error(every time)
OS - RHEL7.2
----------------------------------------------------
yum install python-azure-sdk (from RHEL repos)
yum install azure-cli
export AZURE_CLIENT_ID="xxxxx"
export AZURE_SECRET="xxxxx"
export AZURE_SUBSCRIPTION_ID="xxxxx"
export AZURE_TENANT="xxxxx"
./azure_rm.py --list

[2018-06-08 19:48] dbrouss opened #41337 "asa_command using network_cli causing failures"
##### SUMMARY
When using the asa_command plugin with network_cli and a bad password, the "registered" variable cannot be accessed without a failure of the playbook.  In fact, access to the variable results in the original command being run again (at least it appears so based on timing and performing a tcpdump).  This was not an issue with the provider method.

##### ISSUE TYPE
 - Bug Report

#####

[2018-06-08 19:49] dbrouss commented on #41337
please ignore the fact that I used .py for the name, renaming to .yml causes the same issue.  I recreated this minimal command

[2018-06-08 20:02] kahowell opened #41338 "pip module argument chdir cannot be used without virtualenv argument"
##### SUMMARY

The pip module fails when run with `chdir` argument but without `virtualenv` argument.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

pip
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Create playbook per below:

[code]

Note that our actual use case is here: https://github.com/candlepin/subscription-manager/blob/af

[2018-06-08 20:08] sivel commented on #41338
Duplicate of https://github.com/ansible/ansible/issues/37912

[2018-06-08 20:08] #41338 closed, assigned to nobody

[2018-06-08 20:24] ephesused opened #41340 "2.6.0rc1: blockinfile with become_user has permissions failures in temporary directory"
##### SUMMARY
When blockinfile, with become_user, is used to create a new file, the module fails due to permissions failures in the temporary directory

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes (ansible-config --dump returns nothing)

##### OS / ENVIRONMENT

CentOS 7.4

##### STEPS TO REPRODUCE

inventory.ini

[2018-06-08 20:26] dbrouss opened #41341 "asa_comand when used with network_cli fails to "become" unless there is an inventory file"
##### SUMMARY
When using the asa_command plugin with network_cli and setting the "hosts" to 127.0.0.1, ansible is unable to "become" (run "enable"), and if the command cannot run the playbook will fail.  In combination with https://github.com/ansible/ansible/issues/40611 we can end up in a position where we cannot capture the error and proceed.

Switching to use an inventory file, even if the file

[2018-06-08 20:36] #40317 closed, assigned to nobody

[2018-06-08 20:42] mvanderwijst opened #41342 "The path to blkid cannot be resolved by os-prober when using the command module in a playbook to create a new grub.cfg"
##### SUMMARY
If "/usr/sbin/grub2-mkconfig -o /boot/grub2/grub.cfg" is executed through Ansible, it fails to run os-prober. This is the stderr output:
[code]

The program blkid is invoked in os-prober without a full path. It lives is /usr/sbin/blkid and should thus be resolved without problems.

The actual result is that other OSes cannot be found when building a new grub.cfg.

Using a direct comm

[2018-06-08 21:03] Renlor commented on #41212
@Akasurde could you review the attached pull request.  This fixes the issue for our systems, makes the error messages a little more informative, and catches some additional error conditions.

[2018-06-08 21:21] dbrouss commented on #41337
I also tested with a "rescue" and it still tries to run the original command again.  Here was the rescue line:
`  # Test connectivity and privilege to host
  - block:
      - name: Test connectivity and privilege to host
        #ignore_errors: yes
        retries: 0
        asa_command:
          commands: "clear conn address 172.19.32.44"
        register: test_connectivity

    rescue:
      -

[2018-06-08 21:21] #41337 closed, assigned to nobody

[2018-06-08 21:47] milankowww commented on #40317
Thank you!

[2018-06-08 22:11] Nothing4You opened #41346 "nsupdate zone argument should be optional"
##### SUMMARY
It's much easier to write records when nsupdate auto-detects the zone.

At least the cli nsupdate tool allows automatic detection of the zone as documented [here](https://linux.die.net/man/1/nsupdate) (go to `zone {zonename}`). I have not yet tested whether this can easily be done using dnspython.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nsupdate

##### ANSIBLE VERSION

[2018-06-08 22:19] nerzhul commented on #41346
Hello,
The detection is not really possible, except if we run some DNS SOA queries to find which is the root domain, but it's not simple to implement currently

[2018-06-09 00:02] aoyawale opened #41347 "Add or Expand the gitlab module to include subgroups"
##### SUMMARY
Currently the gitlab_group module does not create subgroups. Either update this module to do subgroups or create a gitlab_subgroup. Is possible with the `python-gitlab` http://python-gitlab.readthedocs.io/en/stable/gl_objects/groups.html#subgroups

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
gitlab_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRO

[2018-06-09 00:30] mpechner opened #41348 "elasticache encryption options"
##### SUMMARY

Need to create elasticache clusters  with both transit_encryption_enabled and at_rest_encryption_enabled set to true

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

aws elasticache

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
##### OS / ENVIRONMENT

OSX
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

####

[2018-06-09 00:38] frgray opened #41351 "ecs_service does convert containerPort input on update"
##### SUMMARY
ecs_service does not always convert the containerPort value of the ecs_service module inputs to an integer, which causes the 'nice error message' to eroneously trigger.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/ecs_service.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
- Create/Update a new ECS Task

[2018-06-09 00:40] frgray commented on #41351
I am not entirely sure what branch to base my changes on to submit a pull request, but this is essentially the change that needs to be made.

[code]

[2018-06-09 01:12] Ragsboss opened #41355 "stderr is undefined leading to error in condition evaluation"
##### SUMMARY

`failed_when` is unable to evaluate condition as task's own registered output variable is undefined
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Module: shell
Feature: [failed_when](https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#controlling-what-defines-failure)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONM

[2018-06-09 01:28] yeroc commented on #31063
Did some more digging and for anyone else who runs into this libcloud allows you to turn on debugging to see the actual requests/responses sent to and from the GCE API.  All you need to do is:
[code]
From there I could see the error from GCE which was quite helpful.  In this case, my service account needed the iam.serviceAccountUser role.

In any case, I'm not sure whether the nice error message p

[2018-06-09 03:02] frgray commented on #41351
This is fixed here: #41356

[2018-06-09 03:09] mpechner commented on #30211
OK. yes, because of the need for encryption at rest and in transit.

[2018-06-09 03:39] saito-hideki commented on #41072
PR #41078 have merged. thanks! :)

[2018-06-09 03:39] #41072 closed, assigned to nobody

[2018-06-09 04:07] danihodovic commented on #27367
Also affects ansible==2.5.3

[2018-06-09 04:59] Denubis commented on #39651
I got a comment notification which requested elaboration on: "For documentation issue, https://developer.github.com/v3/guides/managing-deploy-keys/ says - "Anyone with access to the repository and server has the ability to deploy the project."
"

To unpack that: "access to the repository" I assumed meant a minimal access. The trick is that github requires *full admin* access from the managing acco

[2018-06-09 05:31] Akasurde commented on #30943
resolved_by_pr #35999

[2018-06-09 06:49] toshipp commented on #41060
Thanks for your explanation. I'll try to send a PR.

[2018-06-09 08:27] jmnavarrol commented on #41313
The more I look at it, the more convinced I am that this is in fact a bug.

mkrizek said:

I read #27565 and, while I understand the part about *meta* being *"...a special kind of task which can influence Ansible internal execution or state"* (which is the basis for the offered rationale), they don't even work the way you state: *flush_handlers* is not triggered here because the *when* clause reso

[2018-06-09 11:38] Nadeflore commented on #29687
I had the same issue, but realized additional parameters can actually be added after the command:
[code]

This is not stated in the [documentation](https://docs.ansible.com/ansible/latest/modules/django_manage_module.html)
So this may just be a side effect of the implementation, but this works (Tested with ansible 2.5.4)

[2018-06-09 12:05] Akasurde commented on #41060
resolved_by_pr #41362

[2018-06-09 15:32] robertdebock opened #41364 "zypper_repository not always idempotent"
##### SUMMARY
The zypper_repository module is not idempotent when using this setup:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zypper_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu (control node)
OpenSuse (managed node)

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I was expecting the module to be idempotent instead

[2018-06-09 16:40] robinro commented on #41364
duplicate_of #23257
@robertdebock Thanks for this report. This is a duplicate of #23257.
Please see the discussion there for a workaround. Feel free to open a PR to fix this.

[2018-06-09 16:41] #41364 closed, assigned to nobody

[2018-06-09 16:42] robinro commented on #41333
@h00pzz Please close the issue if it no longer applies.

[2018-06-09 17:55] Akasurde commented on #37911
Marking this issue as resolved. Feel free to re-open if problem persists.

[2018-06-09 17:55] #37911 closed, assigned to alikins

[2018-06-09 18:02] Akasurde commented on #13160
@kajusK Could you please check with latest Ansible version ? I am not able to reproduce this on devel and stable-2.6 version.

Thanks.

needs_info

[2018-06-09 20:48] jpsecher opened #41366 "gluster_volume with replicas fail during probe peer"
##### SUMMARY

gluster_volume fail while probing the remote host that the ansible script is running on.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

gluster_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_PRIVATE_KEY_FILE(/Users/jps/repos/ds-infra/ansible/ansible.cfg) = /Users/jps/.ssh/xxx-devops.pem
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False

##### OS

[2018-06-09 21:11] jpsecher commented on #41366
The problem seem to originate from

	def probe_all_peers(hosts, peers, myhostname):
	    for host in hosts:
	        host = host.strip()  # Clean up any extra space for exact comparison
	        if host not in peers:
	            probe(host, myhostname)

which tries to probe all hosts, including the one that the script is running on.

[2018-06-09 21:20] johnwesley opened #41367 "New module: freebsd-update"
##### SUMMARY
There doesn't appear to be an official module for the FreeBSD utility `freebsd-update`.

Would like to draft a module for the `freebsd-update fetch`, `freebsd-update install` and `freebsd-update IDS` commands with options.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

freebsd-update

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes.

##### OS / ENVIRONMENT

H

[2018-06-09 21:32] jpsecher commented on #41366
Hmm, no, if I run with `ANSIBLE_KEEP_REMOTE_FILES=1` and changes the script so that it omits probing the master itself:

	def probe_all_peers(hosts, peers, myhostname):
	    for host in hosts:
	        host = host.strip()  # Clean up any extra space for exact comparison
	        if host not in peers and host != myhostname:
	            probe(host, myhostname)

and run it:

    $ sudo python ansibl

[2018-06-09 21:39] jpsecher commented on #41366
But the master *is* considered part of the clsuter, only as localhost:

    $ sudo gluster pool list
    UUID                                  Hostname              State
    d6621efe-92c8-475f-be5a-3728f471b5e0  slave1.example.com	Connected
    0dc55ff9-d3c6-49dc-9c48-83f74d6c74fe  slave2.example.com	Connected
    a981beeb-5b1a-4a44-9440-3dca4ac73088  localhost             Connected

[2018-06-09 22:08] gthamilnesan commented on #19584
10.20.2.42
ansibleclient.com

[root@ansibleserver ~]# ansible all -m ping
10.20.2.42 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: Permission denied (publickey,gssapi-keyex,gssapi-with-mic,password).\r\n",
    "unreachable": true
}
ansibleclient.com | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: Permission

[2018-06-10 00:12] gthamilnesan commented on #19584
This is fixed by Adding the generate the ssh key to server and copying the same to client

Commands :

$ ssh-keygen -t rsa

hit enter

$ cd root/
$ la -la

copy id_rsa.pub to destination vm
$ssh-copy-id  destination vm

[2018-06-10 04:06] Akasurde commented on #35532
@qduxiaoliang Could you please let us know if #35565 works for you, so that we can mark this bug as closed ?

needs_info

[2018-06-10 04:08] Akasurde commented on #35414
@rambleraptor Could you please check if it is still problem for you ? Thanks

needs_info

[2018-06-10 04:13] rambleraptor commented on #35414
Yeah, go ahead and close this out.

On Sat, Jun 9, 2018 at 9:09 PM Abhijeet Kasurde <notifications@github.com>
wrote:

[2018-06-10 05:15] Akasurde commented on #33617
@ivica-k Would you be interested in submitting a PR for this ? This can be solved by adding following line in `populate` function in `hardware/linux.py` just before starting fact gathering -

[code]

This line will modify `run_command` environment variables and screen scrapping will be easy.

Let me know if you need any help.

Thanks,

[2018-06-10 05:29] Akasurde commented on #30180
Closing this issue as `keystone_user` is replaced by "os_user", "os_project", and "os_user_role" modules. Please feel free to re-open this issue, if the problem persists.

[2018-06-10 05:29] #30180 closed, assigned to nobody

[2018-06-10 05:38] Akasurde commented on #29780
@lberruti Can we close this issue as fix has been merged ?

needs_info

[2018-06-10 05:41] Akasurde commented on #29731
@AseemKumar Can you please check if this still a problem for you and let us know ? thanks.

needs_info

[2018-06-10 06:02] Akasurde commented on #28325
resolved_by_pr #28449

[2018-06-10 06:13] brucegogo commented on #41311
Hi,

I've fixed this issue.
The reason is when use ansible connection ,the default SSH user is root, not my login user, but I just setting the ssh trust for my login user, not root.
I just adding the ansible_ssh_user=myloginuser  follow the defined host  in the /etc/ansible/hosts and the issue fixed.

Thanks

[2018-06-10 06:14] #41311 closed, assigned to nobody

[2018-06-10 06:20] Akasurde commented on #27398
Closing this issue as PR https://github.com/ansible/ansible/pull/23587 is merged. If issue persists, please feel free to re-open.

[2018-06-10 06:20] #27398 closed, assigned to nobody

[2018-06-10 06:46] Akasurde commented on #25732
@HackersSpirit Could you please check @nrwahl2's solution and let us know if it works for you ? Thanks.

needs_info

[2018-06-10 07:11] Akasurde commented on #35414
@rambleraptor Thanks.

[2018-06-10 07:11] #35414 closed, assigned to nobody

[2018-06-10 07:26] #22814 closed, assigned to nobody

[2018-06-10 08:03] Akasurde commented on #16968
Closing this issue. If issue persists, please feel free to re-open.

[2018-06-10 08:03] #16968 closed, assigned to jimi-c, bcoca

[2018-06-10 08:18] Akasurde commented on #15948
@mschuchard Can you please check again with latest Ansible as I am unable to reproduce this issue ? needs_info

[2018-06-10 08:33] nimf commented on #29637
Here is how to pick up .bashrc/.bash_profile, etc.:

[code]

[2018-06-10 12:00] Akasurde commented on #41334
@kadapa12 Thanks for reporting this issue. Could you please paste playbook and related `-vvvv` console logs?

needs_info

[2018-06-10 12:18] ochurlaud opened #41371 "Vault variables output and stored in logs"
##### SUMMARY

Variables stored in a vault can be seen in verbose mode or during a ansible-inventory command.

There are 2 downsides:
 - The variables can now be seen unencrypted in the logfile
 - A user might be allowed to launch roles that use some IPs or passwords from the inventory, but he might not **need** to know the detailed IP or password that he uses (which might have another level of se

[2018-06-10 12:31] alcappello opened #41372 "docker_container port mapping not working"
##### SUMMARY

Port mapping on docker_container module doesn't actually publish any port and doesn't throw any error. Anyway, it seems that all the exposed ports are actually published.

Ansible version 2.5.4 and Docker version 17.12.1-ce, build 7390fc6.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`DEFAULT_HOST_LIST(/

[2018-06-10 13:33] mschuchard commented on #15948
Verified this appears to have been accidentally fixed since the over two years ago when it was reported. Closing.

[2018-06-10 13:33] #15948 closed, assigned to nobody

[2018-06-10 14:02] Akasurde commented on #15948
@mschuchard Thanks for reporting.

[2018-06-10 14:40] BondAnthony commented on #37220
@Akasurde I opened a new PR #41368 and pointed this at devel. We will need this back ported into previous releases where possible.

[2018-06-10 16:28] BarbzYHOOL commented on #27268
yes, it's a big problem I had to find stupid workarounds before I realized it was an ansible bug

[2018-06-10 19:34] JulienPalard commented on #33349
LGTM.

[2018-06-10 19:34] #33349 closed, assigned to nobody

[2018-06-10 22:41] BarbzYHOOL commented on #22417
Yes, I got this issue when trying to put variables in conditions so I can't make an advanced command role -_-'

[2018-06-10 22:42] BarbzYHOOL commented on #14130
Really needed

[2018-06-11 01:48] danielcompton opened #41377 "Template validation fails in 2.5.4 (nginx)"
##### SUMMARY

In Ansible 2.4.3.0 I was able to run a playbook which includes

[code]

successfully. With Ansible 2.5.4 (building via Packer) I get `nginx: [emerg] open() \"/usr/share/nginx/~myusername/.ansible/tmp/ansible-tmp-1528680702.29-143679332616529/source\" failed (2: No such file or directory)`.

The thing that stands out here is `/usr/share/nginx/~myusername/.ansible`. It looks as if the

[2018-06-11 02:37] #37749 closed, assigned to Akasurde

[2018-06-11 03:22] Akasurde commented on #33284
@mc-meta Thanks. Could you please open a new issue, so that it will be easy for tracking purposes ?

ping me on irc channel #ansible-vmware hosted on irc.freenode.net.

[2018-06-11 04:08] kcd83 commented on #18935
I require doing a GET then deciding if I do a PUT/POST so adding this to those tasks makes `uri` behave as expected
[code]
Where possible using the status code in `changed_when` makes sense too

[2018-06-11 04:34] Akasurde commented on #37220
@BondAnthony Yes. @CarlosEspejo and @sjentzsch could you please test out this PR #41368. I believe this will handle the issue your running into.

[2018-06-11 05:33] Fred-sun commented on #40864
Hi @htallur  , Does you OS/ Environment is RedHat 7.2, If not, please tell me that you test environment. Thanks a lot!

[2018-06-11 06:12] gdpak commented on #41039
@atnoslen I have been trying to reproduce this error but I have not got much luck with it. Essentially "show version" command is run before executing any ios_command to get device facts so there is some mixup between output of first command and second ios_command being captured at ansible ssh client.
Can you provide some more below information from device where it is not working -
1) Full output o

[2018-06-11 06:34] gdpak commented on #34460
Fixed in 2.6 with new modules net_get and net_put modules.

[2018-06-11 06:34] #34460 closed, assigned to gdpak

[2018-06-11 06:51] apahim opened #41381 "json output spoiled by stdout message"
##### SUMMARY
Using JSON output, the error messages are going to stdout along with the JSON output, breaking the result parser.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Fedora 28

##### STEPS TO REPRODUCE
ANSIBLE_STDOUT_CALLBACK=json ansible-playbook -i dev app.yaml

##### EXPECTED RESULTS
json output to stdout and error messages to stderr

##### ACTUA

[2018-06-11 07:12] Akasurde commented on #23985
@Russell-IO Thanks for reporting this issue. Could you please check with latest Ansible as I am not able to reproduce this ?

Console log for `ansible -m setup -a "filter=ansible_devices" localhost`
[code]

needs_info

[2018-06-11 07:48] jasonheecs commented on #15179
Ran into this same issue; my workaround is to overwrite the variables in the dependent roles via `vars/main.yml`, like what I did here: [https://github.com/jasonheecs/ansible-ubuntu-bootstrap](https://github.com/jasonheecs/ansible-ubuntu-bootstrap)

[2018-06-11 07:53] Yannick91 commented on #41096
Any progress concerning this topic?

[2018-06-11 07:56] hedayat opened #41383 "The documentation of ansible lookup plugin's encrypt option is incorrect"
##### SUMMARY

The encrypt option is documented as being boolean, but it is not. It is the name of the encryption method, and apparently to disable encryption it should be set to empty.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

password

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Just try to use password lookup plugin wit

[2018-06-11 08:46] HackersSpirit commented on #25732
@Akasurde : Sorry but I don't have the necessary environment and system to test the above. As the issue is almost a year old

[2018-06-11 08:47] liusheng opened #41384 "Request integrating the OpenLab CI with Ansible OpenStack modules"
##### SUMMARY

Hi folks,
I'd like to introduce a new CI system for Ansible OpenStack modules, which is built based on [zuul](https://docs.openstack.org/infra/zuul/) and [nodepool](https://docs.openstack.org/infra/nodepool/) tools. The Zuul and Nodepool are built in OpenStack community used to deploy a CI system, which also heavily use Ansible playbooks for defining the CI jobs. The [OpenLab](http:

[2018-06-11 09:44] trishnaguha commented on #41323
resolved_by_pr https://github.com/ansible/ansible/pull/41386

[2018-06-11 09:54] rajatumrao commented on #30754
I too faced the same issue with Ubuntu 14.04 , worked fine after `rm -rf /var/lib/apt/lists/*`

[2018-06-11 09:56] #41323 closed, assigned to trishnaguha

[2018-06-11 10:17] jpsecher commented on #41366
The VMs are running on Azure.  It turns out that NICs on Azure needs special setup to make them work properly with the internal DNS.  By making sure that the NICs' private address was resolvable through the internal Azure DNS, I was able to resolve the problem by using the internal private DNS names instead of the public DNS names.

Sorry for the noise.

[2018-06-11 10:17] #41366 closed, assigned to nobody

[2018-06-11 10:20] loay317 commented on #32331
Hello  friends

I;m new to ansible and I would like to run simple playbook on some Centos servers

Im able to ssh without password isng keys to the target servers but when I run single command or simple playbook I get error as below

# [root@ansible ~]# ansible -vvv CPANEL-SERVERS  -m command -a "uptime"
Using /etc/ansible/ansible.cfg as config file
META: ran handlers
The full traceback is:
Traceb

[2018-06-11 10:21] loay317 commented on #32331
**## [root@ansible ansible]# ansible-playbook  removeuser-item.yml**

PLAY [CPANEL-SERVERS] ***********************************************************************************************************************************************************************************************************************

TASK [Gathering Facts] ********************************************************************

[2018-06-11 10:24] #29480 closed, assigned to justjais

[2018-06-11 10:39] mbrother2 opened #41389 "Error when create Notification from Ansible tower to HipChat"
##### SUMMARY
Error when create Notification from Ansible tower to HipChat

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Create Notifications

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NOTIFICATION COLOR: Gray

##### OS / ENVIRONMENT

CentOS 7.5

##### STEPS TO REPRODUCE

- Config notification from Ansible Tower to HipChat
- Run test notification

##### EXPECTED RESULTS

##### A

[2018-06-11 10:41] mbrother2 commented on #41389
I must edit core file "/var/lib/awx/public/static/app.js" to change Gray value (two positions) to gray. Then I run test notification, it works!

[2018-06-11 10:50] mkrizek commented on #16051
@azhurbilo I can't reproduce the issue with the latest version, `2.5.4`, can you please re-test if your issue persist and if not close the issue? Thanks!

needs_info

[2018-06-11 10:55] atnoslen commented on #41039
I am at Cisco Live this week and will be unable to provide a prompt response. When I return, I will provide the requested information.

Anthony

[2018-06-11 11:00] tyll opened #41391 "yaml inventory: example for host vars is missing"
##### SUMMARY

The docs do not explain how host vars other than the ssh port are set with yaml

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

docs/docsite/rst/user_guide/intro_inventory.rst

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

read documentation

[code]

##### EXPECTED RESULTS

 info about how to set host vars with

[2018-06-11 11:00] atnoslen commented on #41150
Negative. I’m not talking about the difference between the cardinality of running vs intended when using diff. I’m saying when you supply a running_config argument it is not used. Please reopen.

Anthony

[2018-06-11 11:02] wknapik opened #41392 "None becomes "" when assigned to variable"
##### SUMMARY
None becomes `""` when assigned to variable.

A comparison between a variable and what was assigned to it will return `false`.

Ran into this while using `lookup('file', '/nonexistent', errors='ignore')` - had to change a `when:` condition depending on whether comparing the lookup, or a variable with the lookup result.

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME

core

##### A

[2018-06-11 11:03] Akasurde commented on #25732
@HackersSpirit Thanks for reporting back. I will close this issue. Please feel free to re-open, if you face the same problem.

[2018-06-11 11:03] #25732 closed, assigned to nobody

[2018-06-11 11:13] morenod opened #41393 "[USER] Cannot create home directory when parent directory doesn't exists (only first time)"
##### SUMMARY
When trying to create a new user, if the home directory is inside a directory which doesn't exists, task will fail. If the task is executed again without any change on the server or the playbook, it will works correctly.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(

[2018-06-11 11:14] HackersSpirit commented on #25732
Sure :)

On Mon, Jun 11, 2018 at 4:34 PM, Abhijeet Kasurde <notifications@github.com>
wrote:

[2018-06-11 11:16] morenod commented on #41393
Update:

On first execution, user (and group) is created in the remote hosts but not the homedir.
On second execution, home directory is correctly created.

[2018-06-11 11:27] trishnaguha commented on #41150
@atnoslen ah that's right. Apologies for misunderstanding.

[2018-06-11 11:29] lberruti commented on #29780
Yes please

[2018-06-11 11:42] kimegede commented on #34316
I have the same issue / expectations.

[2018-06-11 11:50] apahim commented on #41381
##### COMPONENT NAME

Callback json plugin

[2018-06-11 11:53] #29780 closed, assigned to nobody

[2018-06-11 11:58] ghost opened #41394 "Missing Azure functionality - sql firewall?"
##### SUMMARY

I can't find any information about setting firewall on azure sqlserver (az command: az sql server firewall-rule create) but i can't find how to achieve by ansible.
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[

[2018-06-11 12:18] smutel opened #41395 "VMware inventory returns empty customvalue with vsphere 6.5"
##### SUMMARY

customvalue return by the inventory script is empty
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

contrib/inventory/vmware_inventory.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)

##### STEPS TO RE

[2018-06-11 12:29] mscherer opened #41396 "openssl_certificate fail with acme provider"
##### SUMMARY
Acme-tiny do seems to no longer support the --chain option, and so acme provider fail on every ansible version. I did sent the support for that as part of https://github.com/ansible/ansible/pull/35144 .

It seems to have been a downstream patch that got reverted https://src.fedoraproject.org/rpms/acme-tiny/c/ecd867acdf5380ade6874c160e8a00ce14d3f8ba?branch=master

I guess that mean we

[2018-06-11 12:31] mscherer commented on #41396
In fact, reverting is not enough, so ideally, deprecating and showing a warning is needed. And switching default to "false" as a backport would be quite great, because right now, that's broken with acme v2.

[2018-06-11 13:00] jctanner commented on #41384
Sorry folks, the bot needs some "tuning" on matching globs. Will try to get it sorted asap.

[2018-06-11 13:03] sergiylegmelnik commented on #40032
@lvthillo How did you sole this issue?

[2018-06-11 13:12] lvthillo commented on #40032
@sergiylegmelnik It was kubespray related: https://github.com/kubernetes-incubator/kubespray/issues/2764
Fixed it by performing:

`sudo pip install -r requirements.txt`

 (or pip3 in some cases)

[2018-06-11 13:23] mkoontz opened #41397 "Manually Configurable Route-Target Values"
##### SUMMARY

I would like to see the addition of the route-target import <value>:<value> and route-target export <value>:<value> commands in the nxos_vrf_af module. This would allow for creation of the VRF for MPLS networks where we rely on this configuration.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

nxos_vrf_af

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_COW_SEL

[2018-06-11 13:45] ephesused commented on #41340
2.6.0rc2 has the same bug.

[2018-06-11 13:46] #12445 closed, assigned to nobody

[2018-06-11 13:52] emonty commented on #41384
Hi @liu-sheng - it would be great to get OpenLab CI running on OpenStack PRs. I'd like to suggest a few slight changes in approach. Ansible is itself looking at using Zuul for its testing, so we need to be careful not to cross the streams too much.

Mainly - we should avoid putting a .zuul.yaml file into the ansible/ansible repo just yet. Because nothing is gating the ansible/ansible repo, but it'

[2018-06-11 13:53] #40523 closed, assigned to Akasurde

[2018-06-11 13:59] Akasurde commented on #41395
@smutel Thanks for reporting this issue.

Could you please try this configuration -

[code]

[2018-06-11 13:59] robynbergeron commented on #41384
ps. @emonty ... you seriously just invoked "cross the streams" in the most appropriate way ever 🤣

[2018-06-11 14:09] smutel commented on #41395
Now it works with:
[code]

I thought that option was optional only to filter out the result.

[2018-06-11 14:16] sivel commented on #41096
Duplicate of https://github.com/ansible/ansible/pull/19664

[2018-06-11 14:16] #41096 closed, assigned to nobody

[2018-06-11 14:24] sivel commented on #41381
Duplicate of https://github.com/ansible/ansible/issues/36928

[2018-06-11 14:24] #41381 closed, assigned to nobody

[2018-06-11 14:53] sivel commented on #41392
This is specifically implemented functionality of our jinja2 implementation:

https://github.com/ansible/ansible/blob/a9e53cdb68cfb80a69297a8ab6266d0654d9b6a1/lib/ansible/template/__init__.py#L610-L614

At this point I'm not sure it would be feasible to change this implementation.

[2018-06-11 14:58] wknapik commented on #41392
Well, that's pretty terrible ;]
I mean it's `foo = bar; foo != bar`. That can't be considered correct, right ?;]

[2018-06-11 15:00] Akasurde commented on #41395
resolved_by_pr #41399

[2018-06-11 15:00] Akasurde commented on #41395
@smutel Can you please check above PR and let me know if it works for you ? needs_info

[2018-06-11 15:02] sivel commented on #41392
It's possible, that we could bypass this if utilizing native jinja2 types:

https://github.com/ansible/ansible/blob/edb1735ca07059a3b644867045f70f9f4ee63edd/lib/ansible/config/base.yml#L697-L706

@jctanner @mkrizek do you guys have an opinion on whether we should skip the `_finalize` functionality when using native types?

[2018-06-11 15:08] bcoca commented on #41392
The other problem is that None means nothing in 'YAML'  so it would be translated into the string 'None', for yaml `~` is the Null/None token.

[2018-06-11 15:11] sivel commented on #41392
Yes, I think it would be best if we only allowed it with native types as a result of this.  Unsure if other changes would have to happen to permit this.

[2018-06-11 15:13] wouterhund commented on #38219
`lineinfile` now inserts at the end of file instead of start of file for me, breaking configuration files.

[2018-06-11 15:23] sameergautam commented on #41168
Any updates here ?

[2018-06-11 15:36] rikkertk commented on #40626
I figured out a little bit more what is the issue. ncclient states that the confirm_timeout is in seconds and this is correct. By setting the confirm_timeout value in seconds I did see a confirm rollback in the correct minutes.
This means that there are a few options:
* update Ansible documentation to state that the timeout of junos_config is in seconds instead of minutes
* multiply by 60 the valu

[2018-06-11 15:46] peterfraedrich commented on #31691
Can confirm that this still isn't implemented as of Jun 11, 2018.

This is 100% breaking node boostrapping for AWS environment.

[2018-06-11 15:47] bcavns01 commented on #40626
Interesting that you saw any difference.  I tried setting confirm_timeout to an enormous number and still rollback happened immediately.

[2018-06-11 15:51] rikkertk commented on #40626
I set confirm_timeout to 300 and I saw this when i did 'show | compare rollback ?'

2018-06-11 14:30:46 UTC by sa_ansible via netconf commit confirmed, rollback in 5mins

[2018-06-11 16:02] bcavns01 commented on #40626
Did you happen to be on the switch at the moment you tested that?  IIRC, I also saw a rollback entry showing what appeared to be the correctly expected timeout value, but the rollback continue to happen immediately.  I only noticed when I was on switch and saw the rollbacks actually happen.

[2018-06-11 16:13] maxamillion commented on #22320
From the listing that @fulminemizzega posted, it appears this issue has been fixed in upstream `dnf`, is there anything else needing to be addressed here or can we close the issue?

[2018-06-11 16:15] #29955 closed, assigned to nobody

[2018-06-11 16:18] maxamillion commented on #17078
@srgvg you're right, I was mistaken. Alright, I'll look into this further when I get a chance. Thank you.

[2018-06-11 16:57] saichint opened #41404 "nxos_pim_rp_address removal is not working for httpapi in stable 2.6 due to httpapi not returning errors"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)F3(4)

##### STEPS TO REPRODUCE

When we run nxos_pim_rp_address integration tests, the task for removing rp_address + prefix_list keeps failing for httpapi (only) on N9k running 7.0(3)F3(4) and also N7k running latest v

[2018-06-11 17:00] #41351 closed, assigned to nobody

[2018-06-11 17:34] abadger commented on #18232
@maxamillion I think you have to pull _return_formatted out of AnsibleModule :-(

This does align with breaking up basic.py if you want to do it, though.  We should talk and make a proposal if that's what we want to do.

[2018-06-11 17:46] hwoarang opened #41410 "openSUSE Leap 15 returns empty ansible_distribution_major_version"
##### SUMMARY
`ansible_distribution_major_version` returns `NA` on openSUSE Leap 15

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`setup` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
openSUSE Leap 15

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]
Worth noting that the above command works correctly on openSUSE

[2018-06-11 17:57] htallur commented on #40864
I tested the same in Rhel 7.2, Rhel 7.4 and centos7.4 . I am getting the same error

[2018-06-11 18:07] sivel commented on #41322
I don't think this is really related to the `uri` module specifically.  If you were to have used the variable differently, you would have gotten an error indicating something like:

[code]

It seems we might have a problem with `environment`, in that `environment` silently ignored the undefined error.

[2018-06-11 18:10] hwoarang commented on #41410
Could be related to https://bugzilla.suse.com/show_bug.cgi?id=997614 as well

[2018-06-11 18:21] dbrouss opened #41412 "asa_command using network_cli causing failures on all tasks"
##### SUMMARY
When using the asa_command plugin with network_cli and a bad password, the "registered" variable cannot be accessed without a failure of the playbook. In fact, access to the variable results in the original command being run again (at least it appears so based on timing and performing a tcpdump). This was not an issue with the provider method.
##### ISSUE TYPE
 - Bug Report

##### CO

[2018-06-11 18:40] sivel commented on #41355
I cannot duplicate this.

Can you please run this task without the `failed_when` statement, using at least a verbosity level of `-v` and provide that output?

needs_info

[2018-06-11 18:43] ryanpetrello opened #41413 "Fact caching fails for hosts that contain / character with file based cache plugins"
##### SUMMARY
Hosts that contain the `/` character in their name will cause fact gathering to fail when using file-based plugins, such as `jsonfile`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gather_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 28

##### STEPS TO REPRODUCE
[code]

[code]
##### EXPECTED RESULTS
Facts for the `foo/bar` hos

[2018-06-11 18:46] sivel commented on #41377
Can you please share the output of this playbook invoked with `-vvv`?

Also, please share the output of `ansible-config dump --only-changed` as indicated by the template.

Additionally, if not in your ansible.cfg, have you defined `remote_user`, `ansible_user` or are you using `-u` on the CLI?

needs_info

[2018-06-11 18:53] sivel commented on #41371
We have discussed this, and unfortunately this issue is too complex, and any implementation was can conceive of, would be guaranteed to have security vulnerabilities.  We have decided to not to attempt a solution, making it a known limitation.

It should be the playbook writers responsibility to ensure that they are using `no_log: true` where they need to ensure that sensitive information may be d

[2018-06-11 18:53] #41371 closed, assigned to nobody

[2018-06-11 18:55] #41060 closed, assigned to nobody

[2018-06-11 19:00] sivel commented on #41389
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker, and let us explain our reasons for thinking this:

   * This issue tracker is for the open source ansible project, and does not support Tower or AWX

Feel free

[2018-06-11 19:00] #41389 closed, assigned to nobody

[2018-06-11 19:03] sivel commented on #41391
`ansible_port` and `ansible_host` are host vars.  We used known examples in the documentation.  Feel free to open a documentation pull request that adds another arbitrary variable.

See the example given at https://github.com/ansible/ansible/blob/719718636603d57f51370fc9cc25b541cb1bc507/examples/hosts.yaml#L15-L23

[2018-06-11 19:05] Everspace opened #41417 "Sequence should use kwargs rather than parsing a string."
##### SUMMARY

Sequence parses a string rather than taking kwargs in a lookup

##### ISSUE TYPE
 - Feature Idea
 - Bug Report

##### COMPONENT NAME

sequence

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

[code]
works

[code]
Produces empty string.

##### EXPECTED RESULTS

The kwarg version should produce an array, and the string version should be deprecated.

[2018-06-11 19:08] sivel commented on #41417
It is recommended instead of using `sequence` to instead use the jinja2 `range` function:

[code]

See also: https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.5.html#with-sequence

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-11 19:08] #41417 closed, assigned to nobody

[2018-06-11 19:21] dbstraffin commented on #24425
I have the same issue with the `to_nice_yaml` filter.

I worked around it with an intermediate var:
[code]
in template:
[code]

[2018-06-11 19:24] jgeorgeson opened #41419 "RHSM Profile info not cleaned on unregister"
##### SUMMARY
Module should either fully remove profile [[link](https://access.redhat.com/solutions/228883)] on `state: absent` or have an extra true/false parameter to control full profile deletion.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
redhat_subscription

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration, no `ANSIBLE_*` variables

##### OS / ENVIRONMENT

[2018-06-11 19:31] einarc commented on #38299
FYI: This also happens in RHEL 7:

 ansible --version
ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ec2-user/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Aug  2 2016, 04:20:16

[2018-06-11 19:33] einarc commented on #30962
Do you guys do regression?
https://github.com/ansible/ansible/issues/38299

[2018-06-11 19:36] saichint commented on #41404
It is possible that this is due to platform error. Will recheck everything and reopen if necessary. Closing it for now

[2018-06-11 20:01] kahowell commented on #41419
This calls `subscription-manager unregister` internally which will remove the local profile, unless something went wrong. If you could open `/var/log/rhsm/rhsm.log` and find relevant lines and provide them here, that'd be helpful. Depending on the issue, might be worth opening a BZ against RHEL7 subscription-manager.

[2018-06-11 20:28] #32448 closed, assigned to nobody

[2018-06-11 20:34] samdoran commented on #15458
The `local` option was added in Ansible 2.4 to allow for managing local accounts when the system is using centralized authentication.

needs_info

[2018-06-11 20:38] sivel commented on #41367
needs_contributor

[2018-06-11 20:43] johnwesley commented on #41367
May I contribute to this project?

[2018-06-11 20:45] Everspace commented on #41417
Right, so there should be a deprecation warning which is more what I am
concerned about.

On Mon, Jun 11, 2018 at 12:09 PM, Matt Martz <notifications@github.com>
wrote:

[2018-06-11 20:48] sivel commented on #41417
We typically don't deprecate in the same version we add a new recommended way of achieving a result.  Because we had not previously called out a change in recommended way to achieve a result until just recently, we haven't added a deprecation.  A deprecation will follow in a future version.

[2018-06-11 20:55] rikkertk commented on #40626
I was connected to the SRX at the moment. I retried it again after your comment with a confirm timeout of 5 minutes and the rollback happened after 1 minute and than every time after that after a few seconds. I am unsure as to why the rollback is slower the first time around, but it in all cases it isn't working as it should.

I did a test to confirm that in ansible 2.4.4 it is working as it shoul

[2018-06-11 20:55] kasplat opened #41425 "CLI documentation "Edit on Github" link broken"
##### SUMMARY

The link for "Edit on Github" for the ansible documentation page under "Working with Command Line Tools" appears to be broken (this page https://docs.ansible.com/ansible/latest/cli/ansible.html#description , button at top right). I wanted to edit some capitalization and spacing mistakes.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

cli ansible documentation

####

[2018-06-11 20:58] saichint commented on #41404
reopening the issue as it is found that the httpapi plugin is not propagating error messages back to application code when using load_config.

[2018-06-11 21:06] maxamillion commented on #18232
@abadger as per our irc discussion, I've taken a more targeted approach to fix only the bug as reported instead of attempting a large refactor effort (which is still needed, but out of scope for this bug fix)

[2018-06-11 21:28] samdoran commented on #29443
I am able to duplicate this in `devel`. The issue is not EOF but `regexp: ''`. If I omit `regexp: ''` from the reproducer, the issue goes away.

I need to determine if this is a bug of a byproduct of matching on an empty string `regexp`.

[2018-06-11 21:41] jvandermeulen commented on #24215
+1

[2018-06-11 22:05] saichint opened #41428 "nxos_vpc: get_vpc() fails for some platforms"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_vpc
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N9k Running 7.0(3)F3(4)

##### STEPS TO REPRODUCE

On some newer platforms, the command "show vpc | json" is giving no output under certain conditions. This is causing get_vpc() method to fail because this method expects output from the above command always. This hap

[2018-06-11 22:08] danielcompton commented on #41377
[code]

There was none when I ran that command.

I'm not doing anything explicitly, but I'm running it through Packer. Looking at the logs, it looks like it is using `daniel`.

[2018-06-11 22:49] sivel commented on #41377
Do you have a user `daniel` on the machine that Ansible is connecting to via ssh?

I don't see how it wouldn't, but it seems that `echo ~daniel` returns the literal `~daniel` and not something like `/home/daniel`

needs_info

[2018-06-11 23:27] willthames commented on #38299
@einarc the fix is definitely in 2.6.0a1 and beyond, so should be working in rc2. I'm not sure it ever got backported to 2.5 (it should have done though)

Regression testing of boto versions is hard (it's hard enough to make sure that all feature requests have any test coverage) but we do have a mechanism to perform it - e.g. https://github.com/ansible/ansible/blob/devel/test/integration/targets/e

[2018-06-11 23:32] Puhapig commented on #37144
This seems to be working correctly with `2.5`.

Thanks for the heads up.

[2018-06-11 23:32] #37144 closed, assigned to nobody

[2018-06-12 02:01] yuwzho commented on #40864
@htallur Do you have any resource's name or something else contains a character `ÿ`?

[2018-06-12 02:17] Akasurde commented on #41410
resolved_by_pr #41416

[2018-06-12 02:27] BondAnthony commented on #29740
@Gunni that would be correct, the resolved by pr just helps the bot link issues to PR. Reduces the number of times labels are added to the issue and random pings. The issue will still remain open until the PR is merged.

[2018-06-12 02:51] yungezz opened #41433 "unstable test on azure_rm_loadbalancer"
##### SUMMARY

azure_rm_loadbalancer tests unstable with below error:
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-06-12 03:53] Akasurde commented on #15817
@jesusch Can you please check if @dagwieers's solution works for you ? needs_info

[2018-06-12 04:55] Akasurde commented on #16993
@trondhindenes Could you please let us know if @bcoca's solution works for you ? needs_info

[2018-06-12 05:01] Akasurde commented on #17594
Closing and re-opening for CI trigger.

[2018-06-12 05:02] Akasurde commented on #17594
Accidentally closed. Reopened.

[2018-06-12 05:16] #41428 closed, assigned to nobody

[2018-06-12 05:51] felixfontein opened #41435 "ACME certificate module should support TLS-ALPN validation method"
##### SUMMARY
There's a new validation method for Let's Encrypt coming up: [TLS-ALPN-01](https://tools.ietf.org/html/draft-ietf-acme-tls-alpn-01). See [here](https://community.letsencrypt.org/t/tls-alpn-validation-method/63814/1) for more information.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
acme_certificate

##### ANSIBLE VERSION
[code]

[2018-06-12 06:05] liu-sheng commented on #41384
Hi @emonty @robynbergeron,

Thanks for your feedback! I am sorry seems this PR cause the ansibot flush many unnecessary notifications.

Thanks for your clarification about current status of running tests in openstacksdk with ansible. it seems the tests about ansible in openstacksdk can be triggered by patches for openstacksdk repo. and also the 3rd-party CI mechanism allow the test job can be trig

[2018-06-12 06:14] Akasurde commented on #17773
@JohnPeacockMessageSystems Could you please check if @sivel's solution works for you and let us know ? needs_info

[2018-06-12 06:30] bmamouri commented on #40724
Thank you for reporting this. I am facing the exact same issue!

[2018-06-12 06:44] smutel commented on #41395
OK for me. I don't know if you can put this also in the same PR:
In vmware_inventory.ini:
[code]
Quotes are not necessary in this case. If you put quotes, the group name will contain quote also.

[2018-06-12 07:04] Dmitriusan opened #41436 "Comma in string inside role condition seems to be parsed in wrong way"
##### SUMMARY

I defined a role condition that checks for string equality. The reference string contains a comma, and from Ansible output I guess that this comma is used to break parts of role definition.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

playbook parser

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/env_setup/deploy/ansible.cfg) = False
RETRY_FILES_EN

[2018-06-12 07:18] #39655 closed, assigned to nobody

[2018-06-12 07:22] D3DeFi commented on #39220
Hi @selivan, would you be interested in contributing this feature via PR? I prolly won't have a time for its implementation in the near future. `state: dump` should still be reserved for returning a JSON object tho

Btw can we close your older issue #38986 as it is duplicate of this one?

[2018-06-12 07:42] #19538 closed, assigned to nobody

[2018-06-12 07:57] Akasurde commented on #19520
@serge-name I am not able to reproduce this using latest Ansible version (2.7devel)
[code]

Could you please retry and let us know ? needs_info

[2018-06-12 07:57] jesusch commented on #15817
I just tested this with ansible 2.7.0.dev0 and integer compare still does not work
At least in terms of "fix" I am no longer able to compare strings with smaller then (which is at least a more expected behaviour)

[2018-06-12 08:41] Akasurde commented on #41436
As a workaround -

[code]

[2018-06-12 08:46] Dmitriusan commented on #41436
@Akasurde ,
thank you, this workaround is exactly what I ended with.

[2018-06-12 09:11] kairoaraujo commented on #29561
This bug can be closed. Fixed on PR #31754

[2018-06-12 09:35] tyranron commented on #21967
@sivel with [latest deprecation of using tests as filters](https://docs.ansible.com/ansible/2.5/porting_guides/porting_guide_2.5.html#jinja-tests-used-as-filters) could you clarify a bit how to use them with `map`/`selectattr` now?

I have the following condition in my playbook:
[code]
And it complains with deprecation warning:
[code]

[2018-06-12 09:39] selivan commented on #38986
Duplicates #39220

[2018-06-12 09:39] #38986 closed, assigned to nobody

[2018-06-12 09:40] selivan commented on #39220
Hi @D3DeFi, I do not have time for it now, but it may be an interesting task to refresh my python knowledge. I'll try to do it when I have time.

Yes, #38986 is a duplicate, I forgot that I already reported this :) Closed it.

[2018-06-12 10:48] gdpak opened #41439 "net_put does not work with binary files"
##### SUMMARY

In current net_put module, we try to parse source file through template engine to resolve any variable present in file. If file is a binary file like boot image, template engine fails to parse.

https://github.com/ansible/ansible/issues/40013#issuecomment-391555761

we need a option in this module to signal we are transferring a binary raw file and in this mode we should just scp fi

[2018-06-12 10:58] Ilhicas commented on #35645
Same problem here,

ansible --version

`ansible 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Aug  4 2017, 00:39:18) [GCC 4.8.5 20150623 (

[2018-06-12 11:43] ice-8 commented on #27225
any news, guys?

[2018-06-12 12:01] tyll commented on #41391
@sivel, it seems that I forgot to paste the link to the URL I referred to (I guess the long template confused me or it got lost somehow), I noticed this here: https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#host-variables

[2018-06-12 12:03] ice-8 commented on #27225
actually, it work as expected with
[code]
but not with
[code]

[2018-06-12 12:08] cpatte7372 opened #41442 "azure_rm_storageaccount: No module named packaging.version"
##### ANSIBLE VERSION
ansible 2.3.2.0
config file =
configured module search path = Default w/o overrides
python version = 2.7.9 (default, Jun 29 2016, 13:08:31) [GCC 4.9.2]

##### COMPONENT NAME
lib/ansible/modules/cloud/azure/azure_rm_storageaccount.py

##### SUMMARY
Hello Community,

I have seen a few similar issues raised in this community, but I believe my issue is slightly different. I'm try

[2018-06-12 12:10] victorock opened #41443 "Inventory plugin for snmp discovery"
##### SUMMARY

When operators want to discover their existing network it is very common to rely on snmp.
Today this process must be done outside of ansible in order to create an inventory that can be used by Ansible.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

onesixtyone

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

This applies to any version of A

[2018-06-12 12:13] cpatte7372 commented on #41442
Ansible version details are as follows:

ansible 2.3.2.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.9 (default, Jun 29 2016, 13:08:31) [GCC 4.9.2]

[2018-06-12 12:48] NilashishC commented on #31862
Resolved by PR https://github.com/ansible/ansible/pull/40604

[2018-06-12 12:48] #31862 closed, assigned to NilashishC

[2018-06-12 12:48] alexeyv commented on #21766
I'm experiencing the same symptoms with Ansible 2.5.4:

$ ansible-playbook -i qa videoservers.yml -t prosody

PLAY [videoservers.yml | All roles]
...
TASK [prosody : add prosody repo] ***************************************************************************************************************************************************
fatal: [video.workstorm.com]: FAILED! => {"changed": false, "msg": "

[2018-06-12 12:52] webknjaz commented on #41442
@cpatte7372 please update issue description to comply with https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md template.
Otherwise, our *automatic* bot might close it.

[2018-06-12 12:58] DBezemer commented on #41377
running into the same problem, and this is broken by a change in ansible 2.5.3.
identical tasks work with Ansible 2.5.2 but break in Ansible 2.5.3 (same nginx test as Daniel).

Checking which changes happened to the validation and will link here once found.

[2018-06-12 13:01] sashka commented on #21766
@alexeyv it's definitely invalid, repository string should start with "deb" or "deb-src".

[2018-06-12 13:12] bowlingkopp commented on #17194
Our company has a private Bitbucket and you can only checkout stuff with authorization. So it would really cool if Ansible-Galaxy could handle authorization information. Is there any chance that this will come?

[2018-06-12 13:15] DBezemer commented on #41377
It appears that the problem was caused by https://github.com/ansible/ansible/commit/00c023ed3c8a925bee71a0476d8aaf9a4b8b81b8 reverting that commit in a 2.5.3 resolves the issue

[2018-06-12 13:23] ryansb commented on #41394
It doesn't appear there's a module for the SQL Server firewall rules available in Ansible 2.5.0, you can see the full list of Azure modules that are available in [the module index](https://docs.ansible.com/ansible/devel/modules/list_of_cloud_modules.html#azure). Instead, it's possible to use the `command` module to run the Azure CLI to set your rules.

[2018-06-12 13:23] #41394 closed, assigned to nobody

[2018-06-12 13:38] infrascripting commented on #29601
Sorry, I haven't been able to reproduce, so it's find that it's closed for now.

[2018-06-12 13:42] emonty commented on #41384
It is some duplication to support this in OpenLab - but I think it's good if we do. OpenLab supports testing things that OpenStack Infra doesn't - such as running tests against known public clouds, as well as testing against versions of OpenStack that upstream isn't supporting anymore.

We need to be mindful that we re-use existing things where possible and that we don't make things hard on each o

[2018-06-12 13:42] bradhanebury opened #41446 "Ansible Galaxy missing folders inside repository"
##### SUMMARY
There appears to be a discrepancy between what `ansible-galaxy` installs and what should be available. We have a private Github repository that we use to share common Ansible roles across projects. Inside our `requirements.yml` file we include it as such:

[code]
We set the version to `master` when developing the application, however in production we plan on setting it to a specific

[2018-06-12 13:46] #41392 closed, assigned to nobody

[2018-06-12 13:53] flatrocks opened #41447 "No way to grant SELECT INTO S3 for AWS Aurora user"
##### SUMMARY
One of the few differences between mysql and AWS Aurora is that `SELECT INTO OUTFILE` is not available (because on RDS there is no concept of accessible local disk storage.)  Instead, Aurora implements `SELECT INTO OUTFILE S3` to dump output to an S3 bucket.

To use `SELECT INTO OUTFILE S3`, the user account must have `SELECT INTO S3` privilege. Unfortunately, trying to create a user

[2018-06-12 14:02] sivel commented on #41377
@danielcompton expansion should have happened previous to the actual template task or the validation:

[code]

In that output above, we see that the following was executed:

[code]

And we got a response of `~daniel\n`

For some reason, that action returned the literal `~daniel` instead of `/home/daniel`

Testing against an Ubuntu 16.04 host of my own, I see:

[code]

The `copy` module handles the

[2018-06-12 14:12] infrascripting opened #41448 ""Less than the required minimum number of profiles found" when only specifying one context"
##### SUMMARY

When only specifying one `server-side` or only one `client-side` profile, the bigip_virtual_server module fails with:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_virtual_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Redhat 7

##### STEPS TO REPRODUCE

[code]

If I uncomment the `tcp-lan-optimized` line, it works

[2018-06-12 14:14] sivel commented on #19520
This issue was recently resolved in 72ebd1bf4639ef021e733b1f70cd7e113add0c37 and will be included in the upcoming 2.6 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-12 14:14] #19520 closed, assigned to bcoca

[2018-06-12 14:15] themr0c commented on #30784
The change proposal from kwinteng is working after tests on one of our private feeds (with source, user, password options). So maybe go for a PR?

[2018-06-12 14:31] sivel commented on #41392
@wknapik it is new functionality, that while tested, hasn't been used in the wild much.

That functionality was added to fix some issues with our historical integration with jinja2.

jinja2 has historically only returned strings, so the effect that had when returning something like `None` was that jinja2 actually returned a repr of `None` which is `'None'`.  We then have a function (`safe_eval`) t

[2018-06-12 14:36] liberforce opened #41449 "win_command and win_shell modules don't support YAML multi-line commands syntax"
##### SUMMARY

When parsing freeform commands in win_command and win_shell modules, and using the '>' YAML notation for having multiline content represent a single line of data, ansible doesn't remove the newline characters.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_command
win_shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04.5 LTS,

[2018-06-12 14:47] sivel commented on #41449
The problem is with your indentation:

[code]

`first`, `second`, and `third` are indented further than `echo`.

From the [YAML spec](http://yaml.org/spec/1.1/current.html#id930040):

Proper indentation would look like:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/an

[2018-06-12 14:47] #41449 closed, assigned to nobody

[2018-06-12 14:52] wknapik commented on #41392
@sivel thanks a lot for the explanation!

[2018-06-12 14:57] DimeNastov commented on #27078
I have just tried the yaml option for the stdout_callback, and it is awesome!
I am really grateful to finally have this.

[2018-06-12 15:04] nirsv commented on #34863
I just ran into this issue on RabbitMQ 3.7.5 on CentOS Linux 7 Ansible 2.5.4.

[2018-06-12 15:10] cpatte7372 commented on #41442
Hello Ryan, I will update the request when I get back to my desk... please don't close it

[2018-06-12 15:15] christonog commented on #38655
@jlecour I've found the issue to occur on my ansible 2.5.2 even without using "insertbefore" or "insertafter." It always seems to add a line.

[code]
[code]

Output:

[code]

[2018-06-12 15:29] maxamillion commented on #41446
Thank you for the issue report! Unfortunately, I think I'm going to need a little more information. What is the expected results and the actual results? I don't think I have enough information to really track this one down but I'm happy to look into it further if you can offer some sanitized example output.

[2018-06-12 16:22] bradhanebury commented on #41446
Without being able to provide access to the repository:

Expected Result is that the repository being requested via `git@github.com:mobials/devops.git` is included in full inside the `roles` folder.

The Actual Result is that the files in the roles folder created by ansible galaxy are missing directories that are present in the repo.

For A better understanding, I've included two screen shots of t

[2018-06-12 16:40] bradhanebury commented on #41446
My assumption is that this is due to how ansible-galaxy is including the repository. My understanding is that by including the role (it's actually a collection of roles) via a private Github URL, ansible-galaxy should ideally just `git clone` the repository. However, it appears to be modifying the base directory structure by adding additional folders that would be relevant to a repository hosting

[2018-06-12 17:32] lukemgriffith commented on #40153
Work around on this, I tag the default VPC before removal.

[2018-06-12 17:36] AuroraLi commented on #36504
Hi, I am experiencing the same issue on a physical F5 version 11.4.1 with a license.
`    - name: Create a pool
      bigip_pool:
        server: "x.x.x.x"
        user: "xxx"
        password: "xx"
        name: "web_pool"
        monitors:
            - "https"
        validate_certs: "false"`

I tried the same yaml file on a VM F5 version 11.6 without license, it was successfully connected.
My

[2018-06-12 17:39] sivel commented on #41436
This is a result of improper YAML formatting:

The following:

[code]

When parsed by pyyaml creates the following output:

[code]
as opposed to the expected:

[code]

To correct the issue, change your data structure into one of the following:

The `{}` are unnecessary in YAML
[code]

or wrap the value of `when` in single quotes:

[code]

If you have further questions please stop by IRC or the mai

[2018-06-12 17:39] #41436 closed, assigned to nobody

[2018-06-12 17:47] caphrim007 commented on #36504
@AuroraLi the F5 Ansible modules require 12.0.0 or greater. This is likely why it is not working.

[2018-06-12 18:04] htallur commented on #40864
@yuwzho we are no using  character ÿ in any of our resource naming convention

[2018-06-12 18:07] AuroraLi commented on #36504
@caphrim007 Thank you that is good to know. I did check Ansible documentation, only some modules said 12.0.0 is required for big-ip.
That could probably explain why the 11.6 version F5 works.
Will upgrade and test.

[2018-06-12 19:06] caphrim007 commented on #36504
@AuroraLi it's possible that the individual modules have some residual notes that are no longer accurate.

I should clarify also that in some situations it's not impossible that the modules will not work, it's just that we (F5) only test and dev on versions 12 and beyond.

So anything less than 12 is "YMMV" and we won't fix or anything like that to support less than 12. Generally speaking if this

[2018-06-12 19:19] cpatte7372 opened #41454 "azure_rm_storageaccount: The error was: IOError: [Errno 2] No such file or directory: 'home/packt/.azure/azureProfile.json' fatal: [localhost]: FAILED! =>"
##### SUMMARY
azure_rm_storageaccount throws an error IOError: [Errno 2] No such file or directory: '/home/packt/.azure/azureProfile.json'
fatal: [localhost]: FAILED

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_storageaccount
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Unbuntu 16.04.3 LTS (Xenial Xerus)

##### STEPS TO REPRODUCE

[code]

##### EXP

[2018-06-12 19:24] margeson opened #41455 "Ansible yarn module ignores remote_tmp"
##### SUMMARY
Ansible Yarn module ignores remote_tmp in ansible.cfg and within the play. The fixed tmp directory is /var/tmp/ansible... I've tried with remote_tmp defined in ansible.cfg, remote_tmp within the play, and both. All three methods result to the issue.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yarn module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS /

[2018-06-12 19:35] sivel commented on #41455
`remote_tmp` is not a valid task keyword, and you should have seen a warning indicating:

[code]

`remote_tmp` can be specified in `ansible.cfg` or can be an inventory variable named `ansible_remote_tmp`

Due to the ability to use `ansible_remote_tmp`, you should be able to use:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2018-06-12 19:35] #41455 closed, assigned to nobody

[2018-06-12 20:27] jaevans opened #41456 "tower_inventory module cannot create smart inventories"
##### SUMMARY

The tower_inventory module cannot create Smart Inventories in Tower.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

tower_inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
AWX 1.0.6.8

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Creates new Smart Inventory named "Library Inventory" with hosts from the Library lifecycle e

[2018-06-12 20:29] ahuffman opened #41457 "nxos_facts legacy subset (fan information) causes error"
##### SUMMARY

When using the nxos_facts module with version 7.0(3)I7(2) of NXOS devices, the legacy fact subset causes a module error due to the hardware fan data.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/home/ahuffman/ansible/hosts']
PARAMIKO_LOOK_FOR_KEYS(/etc/ansible/a

[2018-06-12 21:06] cpatte7372 commented on #41454
The problem appears to be that Ansible is looking for **'/home/packt/.azure/azureProfile.json** ,however I've never seen any documentation suggesting that an azureProfile.json should be created.

Can someone please shed some light on this error?

[2018-06-12 21:12] margeson commented on #41455
False alarm, this is a 2.5+ issue.

setting `system_tmpdirs = /tmp` in `ansible.cfg` resolve this.

[2018-06-12 21:19] maxamillion commented on #41446
`anisble-galaxy` as it stands today only handles single-role per scm repo structures, there's an [active proposal to change this](https://github.com/ansible/galaxy/issues/245) but it's not true at this time

[2018-06-12 21:59] jgeorgeson commented on #41419
I get the expected result when I run `subscription-manager unregister` command directly. I'm not sure that there is a log entry in the rhsm.log for the Ansible-driven unregister. Quick background: I'm using packer with ansible provisioner to build OpenStack images. The playbook I'm running is like this:

[code]

The role sets proxy server variables in /etc/environment (including `no_proxy` to excl

[2018-06-12 22:08] apple4ever commented on #37884
I think the short term goal for now to bridge until ACMEv1 is deprecated. I think long term (assuming nothing changes) using `order_uri` for v2 to differentiate is the way to go.

[2018-06-12 22:25] burnitup opened #41461 "junos_command in v2.5 returns a list, previously was a dictionary"
##### SUMMARY

I'm trying to standardise on using >= 2.5

A playbook that previously returned the data-object as a structured dictionary (using 2.2.0 etc) now returns  a list.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

junos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_BECOME(/home/XXX/ansible.cfg) = True
DEFAULT_BECOME_ASK_PASS(/home/XXX/ansible.cfg) = True
DEF

[2018-06-12 23:50] #41333 closed, assigned to nobody

[2018-06-12 23:50] h00pzz commented on #41333
see comments, I opened this in error.

[2018-06-12 23:51] einarc commented on #38299
@willthames  Thanks for your reply. I agree, I've opened a case with Red Hat about it as I'm running this under Tower. It's very likely that the awx virtual environment needs an update. I've more problems now with ASGs terminating instances. In general and as an end product customer, upgrading ansible to get new features always turns out to be quite painful because of unexpected bugs which is why

[2018-06-12 23:59] willthames commented on #38299
@einarc, sure, I understand that - we have implemented more [rigorous testing policies](https://github.com/ansible/community/blob/master/group-aws/integration.md#policy) since a lot of problems with 2.4, but clearly we're still not catching everything.

I'll add some more details to the [module guidelines](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/GUIDELINES.md

[2018-06-13 00:54] earchibald-lv opened #41467 "service_facts module stores dashes without underscore conversion"
##### SUMMARY

The service_facts module is returning data structures with dashes  '-' in them rather than converting those dashes to underscores '_', making the data structures unusable in Ansible.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

service_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_KEEP_REMOTE_FILES(env: ANSIBLE_KEEP_REMOTE_FILES) = True

##### OS / ENV

[2018-06-13 01:15] mattclay opened #41468 "Failing integration test acme_account"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

acme_account integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test acme_account is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration acme_account --docker ubuntu1604 -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass.

[2018-06-13 01:15] mattclay commented on #41468
Test disabled in https://github.com/ansible/ansible/commit/d6ba13971317564305e8761413f9d49d2fbb5aab

[2018-06-13 01:29] Akasurde commented on #41436
@sivel Thanks for very nice explanation.

[2018-06-13 01:56] Akasurde commented on #41442
Seems similar to https://github.com/ansible/ansible/issues/30982

[2018-06-13 02:55] danielcompton commented on #41377
I just tested this against 2.7.0.dev0 by installing `brew install ansible --HEAD`, and still get the same behaviour.

[2018-06-13 03:09] danielcompton commented on #41377
Here is a minimal project to reproduce the issue: https://github.com/danielcompton/ansible-template-validate-repro. Let me know if you have any issues running it.

[2018-06-13 03:12] royzeng-ericsson commented on #12851
**become: no** is enough (ansible 2.4.2.0 on MacOS)
I got warning message for "sudo: no".
 [WARNING]: Ignoring invalid attribute: sudo .

[code]

[2018-06-13 03:14] Jaskaranbir opened #41469 "'Task' object has no attribute 'FROM_ARGS' using 'local_action' module"
##### SUMMARY

Using `include_role` module with `local_action` in ***main playbook*** causes error: `ERROR! Unexpected Exception, this is probably a bug: 'Task' object has no attribute 'FROM_ARGS'`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

local_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(Installed Ansible using PIP, so it had no default configuration).
[code]

#####

[2018-06-13 04:31] Akasurde commented on #41469
@Jaskaranbir Thanks for reporting this issue. I am able to reproduce this on Stable-2.5 but not on Stable-2.6 and 2.7-devel. I think this is fixed via 0b0bb65198f

cc @sivel

[2018-06-13 05:30] karlism commented on #40140
I was able to reproduce this with Ansible 2.5.4 too:
[code]

+label affects_2.5

[2018-06-13 05:57] zhangguanzhang commented on #33058
rpm -ivh https://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/ansible-2.5.4-1.el7.ans.noarch.rpm

#上面安装提示失败的话请先下载下来用yum解决依赖
yum install wget -y 1 > /dev/null
wget https://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/ansible-2.5.4-1.el7.ans.noarch.rpm
yum localinstall ansible-2.5.4-1.el7.ans.noarch.rpm -y

--------

I use the rpm to resolve the bug

[2018-06-13 06:09] felixfontein commented on #41468
@mattclay Thanks for disabling this!

[2018-06-13 06:14] yuwzho commented on #41454
Seems this is the credential error, have you ever create your credential file or login with Azure CLI? *(the `azureProfile.json` is generated by Azure CLI.)*

You can refer [this page](https://docs.ansible.com/ansible/devel/scenario_guides/guide_azure.html) and choose a method to create your credential file:

[2018-06-13 06:17] yuwzho commented on #41442
@cpatte7372 Would you please try the instruction in [#30982](https://github.com/ansible/ansible/issues/30982#issuecomment-391228029) to see whether it fixes your problem?

[2018-06-13 06:28] fia5000 commented on #41012
I can reproduce this in v2.5.4 as well.

[2018-06-13 06:44] Dmitriusan commented on #41436
@sivel ,
thank you for explanation! It was not obvious (at least for me)

[2018-06-13 06:45] felixfontein commented on #41468
@mattclay Just a question: will this test still be executed in `stable-2.6` when that branch is updated? If yes, it should also be disabled there.

[2018-06-13 07:13] Akasurde commented on #25421
resolved_by_pr #41472

[2018-06-13 07:48] cpatte7372 commented on #41442
Hello @Akasurde and @yuwzho the reference at 30982 fixed the problem.

Thank you

[2018-06-13 07:48] cpatte7372 commented on #41442
This issue can be closed.

Thanks all

[2018-06-13 07:48] #41442 closed, assigned to nobody

[2018-06-13 08:08] trishnaguha commented on #41269
@mikewiebe I got a successful upgrade with httpapi now.
[code]

[2018-06-13 08:15] cpatte7372 commented on #41454
Hi @yuwzho, I have created the credential file as follows:

(venv27) packt@ubuntu2:~/.azure$ pwd
/home/packt/.azure
(venv27) packt@ubuntu2:~/.azure$ ls -la
total 32
drwxrwxr-x 2 packt packt 4096 Jun 12 22:24 .
drwxr-xr-x 9 packt packt 4096 Jun 12 21:59 ..
-rw-rw-r-- 1 packt packt    5 Jun 12 22:19 az.json
-rw-rw-r-- 1 packt packt    5 Jun 12 22:19 az.sess
-rw-rw-r-- 1 packt packt    5 Jun 12 22:19

[2018-06-13 08:42] yuwzho commented on #41454
the directory should be `~/.azure` not `/.azure`

[2018-06-13 09:01] DavidVentura opened #41475 "_check_conditional is broken on "string" type conditionals"
**Please read at the end of the issue for an explanation and proposed solutions**

##### SUMMARY

The code that evaluates conditionals will simply return the value passed in if its type is string

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible/playbook/conditional.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing

##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

[

[2018-06-13 09:06] sk1988 opened #41477 "Ansible 2.5.3 returns "nothing to repeat" error for nxos modules"
##### SUMMARY
I am currently on Ansible version 2.5.3 and running some test commands on Cisco Nexus devices.  I am noticing an error "nothing to repeat" for the Cisco nexus devices.  The same playbook executes successfully in Ansible version 2.4.2.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[root@vm08 ansible]# ansible-co

[2018-06-13 09:22] #41180 closed, assigned to nobody

[2018-06-13 09:36] trishnaguha commented on #41150
resolved_by_pr https://github.com/ansible/ansible/pull/41400

[2018-06-13 09:54] webknjaz commented on #38920
@bhmayor is interested in this as well.

[2018-06-13 10:04] mishari opened #41480 "Permission denied issue"
##### SUMMARY

Permission denied when becoming user

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

become
file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OSX
Debian 9.4 (DigitalOcean)

##### STEPS TO REPRODUCE

hosts:
[code]

site.yml
[code]

roles/common/tasks/main.yml:
[code]

roles/dostuff/tasks/main.yml
[code]

##### EXPECTED RESULTS

##### ACTUAL RESU

[2018-06-13 10:10] valentin-krasontovitsch opened #41481 "Role variables leeking into earlier roles in same play"
##### SUMMARY

We observed some failing tasks when running a playbook due to a role variable that should not be defined having an (in this context) invalid value. After some debugging, we figured out that the variable was set in a following role in the same play, and was creeping into the earlier failing role.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

role variables
##### ANSIBLE VERS

[2018-06-13 10:17] omershtivi opened #41482 "Ansible 2.5 Junos create user doesn't work"
##### SUMMARY
When trying to use junos_user receive an error

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory      = ./inventory
host_key_checking = False

##### OS / ENVIRONMENT

uname -r
3.19.0-80-generic
--- JUNOS 12.3R9.4 built 2015-02-12 11:08:08 UTC

##### STEPS TO REPRODUCE

try to do junos_user

[code

[2018-06-13 10:40] cavamagie commented on #39959
vmware 6.5
multi cluster [6 cluster] every one have a differente dvs

when i use vmware_guest to deploy a machine from template in a vmware infrastructure with a lot of cluster and different dvs. any cluster have a dedicated dvs
when i run the playbook the operation failed because the module try to configure a wrong dvs

[2018-06-13 10:54] fpracht opened #41483 "Patch module is unable to detect if a patch was already applied on OpenBSD"
##### SUMMARY

The patch module is trying to apply a patch which was applied in a previous run of ansible on OpenBSD and the run fails. The reason for this is that the check which is determining if a patch was already applied is always true on OpenBSD. The check tries to run patch with --dry-run which does not exist. The option is called --check.

See OpenBSD manpage: https://man.openbsd.org/patch

[2018-06-13 11:02] willthames commented on #41475
This playbook doesn't fail for me on 2.5.0 or 2.5.4 or devel

[code]

Using your reproduction step playbook as 41475.yml, the `fail` task doesn't fail because the `when` clause evaluates to `False` as expected.

[code]

What am I doing differently?

[2018-06-13 11:22] DavidVentura commented on #41475
Nothing, as stated on the issue
`Even if this is not a condition that can (currently) be met using ansible-playbook, the code path where this has type string makes no sense at all, so at least it should spit out a warning`

[2018-06-13 12:00] tgoetheyn opened #41484 "vmware_guest : disk type not set to eagerzeroedthick when deploying template"
##### SUMMARY

when deploying a template which has a disk type of "thin provisioned", the deployed vm disk type is not set to "thick eagered zeroed" even though the disk type is set to eagerzeroedthick in the playbook
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

vSphere Client version 6.5.0.13000

###

[2018-06-13 12:04] Dees7 opened #41485 "apt module uses apt-mark incorrectly"
##### SUMMARY
apt module use wrong command to mark package as manually installed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

2.5.4

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
apt module should use
[code]
but it uses
[code]
and fails playbook

##### ACTUAL RESULTS

[code]

downgrade to  2.5.1 fix this.

[2018-06-13 12:05] mscherer commented on #39551
I repopen, because right now, there is just a doc fix. Again, the fact this bug was open 2 times show this is affected a bit user.

[2018-06-13 12:10] ryansb commented on #38299
Yeah, this appears to be boto3 being older than the TargetType option, in @einarc's case.

[2018-06-13 12:16] rgarcia89 opened #41486 "iosxr_config src not abel to handle multiple -set (community-set...) entries"
##### SUMMARY
Whenever you have more then one community-set/as-path-set/prefix-set entry in a src file that you try to deploy with iosxr_config, it fails. See my example below. It shows an exampe where the the first iosxr_config src file only includes one community-set. In the second I have two community-sets one following another. The module is not able to handle this situation, even using a vali

[2018-06-13 12:40] torvitas opened #41488 "double slashes in google results not handled by webserver"
##### SUMMARY
When googling for "ansible libvirt" the first result is:
virt - Ansible Documentation
https://docs.ansible.com/ansible/devel/modules//virt_module.html

There is a double slash in  the url. Somehow this makes the website look for css on the wrong path.
https://docs.ansible.com/ansible/devel/modules/_static/css/theme.css
Instead of https://docs.ansible.com/ansible/devel/_static/css/the

[2018-06-13 12:48] gdpak commented on #41486
It should be fixed by PR https://github.com/ansible/ansible/pull/41091

Can you please test ansible@devel

[2018-06-13 13:02] rgarcia89 commented on #41486
Can't confirm that.

Installed ansible@devel
[code]

Output
[code]
Please let me know if there is anything else that I can provide you to assist you with this bug.
Thanks :)

[2018-06-13 13:12] sknoefel commented on #25158
Patch for modules/database/mysql/mysql_user.py
which fixes #25158 and #40879
Should work independent of column order and column quoting
based on ansible 2.5.4
python version = 2.7.12 (default, Dec  4 2017, 14:50:18) [GCC 5.4.0 20160609]
[mysql_user.py.2.5.4.patch.txt](https://github.com/ansible/ansible/files/2098196/mysql_user.py.2.5.4.patch.txt)

[2018-06-13 13:20] bcoca commented on #41469
fyi, include/imports are always 'local' so making it `local_action` is a noop.

[2018-06-13 13:20] willthames commented on #38299
@ryansb botocore being too old for TargetType should not be an issue though - that's fixed for 2.6 in #38313, and I created an open PR to backport for 2.5  in #41430

[2018-06-13 13:22] willthames commented on #38299
However, it's likely that whatever is causing @einarc to be running old boto3 and old botocore in spite of the upgrade attempt might also mean that Ansible isn't upgradable a new enough version to fix up any fix.

But I did mention above that there's [a fix for that](https://github.com/ansible/ansible/issues/38299#issuecomment-379111186)

[2018-06-13 13:29] bostjanfe opened #41491 "nxos_l3_interface reports error for SVI intfs"
##### SUMMARY
WIth  nxos_ip_interface being depreciated I can only see that nxos_l3_interface should be used for IP addressing. When pointed to add IP address to SVi interface (interface vlan) it is doing switchport stuff that are not applicable to SVI intfs.

Am I using a wrong module or does it need tuing?

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_l3_interface

##### ANSIBLE VER

[2018-06-13 13:49] sivel commented on #41475
I believe this is a duplicate of https://github.com/ansible/ansible/issues/34591 and https://github.com/ansible/ansible/issues/41236

Also, I think you are misinterpreting the line you indicate.  It says if it is *NOT* a string, go ahead and return it.

See https://github.com/ansible/ansible/issues/34591#issuecomment-356081973 for a description of what is happening.

[2018-06-13 13:54] DavidVentura commented on #41475
I'll add more details tomorrow but I debugged this with pdb today.

If "conditionals" is a (normal) string it'd do the weird behavior. If it is a unicode string then it has correct behavior.

On June 13, 2018 3:50:34 PM GMT+02:00, Matt Martz <notifications@github.com> wrote:

[2018-06-13 13:54] DBezemer commented on #41377
@danielcompton for me it was resolved by reverting https://github.com/ansible/ansible/commit/00c023ed3c8a925bee71a0476d8aaf9a4b8b81b8#diff-69a29e19a76e98587550dab380483594R570 locally

[2018-06-13 13:56] AjaxOdessa opened #41493 "Find does not fail when search path isn't available by filesystem permissions"
##### SUMMARY
Module `find` does not fail when search path isn't available by permissions

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
find

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_FORCE_COLOR(env: ANSIBLE_FORCE_COLOR) = True
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT
Linux h

[2018-06-13 13:58] sivel commented on #41377
Sorry, I copied the wrong output:

[code]

When I asked earlier:

You responded:

So the user shouldn't be missing based on your response.

I'll try to recreate using your reproducer.

[2018-06-13 14:07] felipe-rivera commented on #39167
I have this very same issue, but not with all the versions of NXOS.
Whith this version the problem does not appears:

Software
  BIOS:      version 3.6.0
  loader:    version N/A
  kickstart: version 6.0(2)N2(5)
  system:    version 6.0(2)N2(5)
  Power Sequencer Firmware:
             Module 1: version v3.0
             Module 3: version v2.0
  Microcontroller Firmware:        version v1.2.0.1
  S

[2018-06-13 14:08] DBezemer opened #41494 "Setup module missing fuse mounts"
##### SUMMARY
When gathering variables on any host mounts that are fuse type mounts do not show up in the ansible_mounts variable (example fuse.glusterfs).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/etc/ansible/ansible.cfg) = /etc/ansible/cache
CACHE_PLUGIN

[2018-06-13 14:13] DiUw commented on #38058
Worked around this issue for my customer, post my workaround in hope it helps others:

assemble:
become: false

Assemble should run under 'loginuser' under environment which permits reading and writing for this command.
Results of assemble must be readable by 'become_user' if it consumes the output.

Scenario and background info :

(I take the names of directories from 'ACTUAL RESULTS' above, to b

[2018-06-13 14:20] sivel commented on #41475
Ah, so you are getting a "bytes" instance there somehow.

[2018-06-13 14:20] DBezemer commented on #41494
Further information, this occurs because not all fuse style mounts require to adhere to the rule:
[code]
located here: https://github.com/ansible/ansible/blob/2d0891e0897159d0010afa9be18d1421fcab47c2/lib/ansible/module_utils/facts/hardware/linux.py#L457

[2018-06-13 14:23] DavidVentura commented on #41475
Sorry that i confused you, it's a plain old string. Not bytes, not unicode. Yes, i am putting it there via an unsupported way, but still the behavior is extremely weird in that case

On June 13, 2018 4:21:30 PM GMT+02:00, Matt Martz <notifications@github.com> wrote:

[2018-06-13 14:27] badnetmask opened #41496 "ovirt modules not working with kerberos authentication"
##### SUMMARY

- ovirt modules not working with kerberos authentication.
- Authentication appears to be happening (RHEV logs confirm authentication happened, and Ansible says it got a token), but no operations with any ovirt_* modules work.
- Basic authentication is not allowed in this environment, so we need GSSAPI to work.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ovirt_*
ovirt_auth

[2018-06-13 14:27] nvtkaszpir commented on #37472
I don't think so. It's more likely they did not have time to follow Consul 1.1.x release, some other tools are also lagging.

[2018-06-13 14:59] Guoguo-Sun opened #41499 "Which dependency packages need to be installed on suse to install Ansible"
##### SUMMARY

I have created a SLES VM on azure, I have install ansible and some dependecy packages as this link, But when I run playbook ,it will get error, error message: No module named mgmt.network.version

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_resourcegroup
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

SLES 12 SP2
##### STEPS TO REPRODUC

[2018-06-13 15:01] Guoguo-Sun commented on #41499
Add link ：https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ansible-install-configure

[2018-06-13 15:08] sivel commented on #41377
Ok, this looks to be what I am classifying as a bug in packer.  And I will file a bug with packer shortly, but I'll try to explain here first.

1. packer is creating the instance with a user account of `packer` as defined in `ssh_username`
1. packer sets up a local ssh proxy for connecting to the instance

[code]
1. the ansible provisioner defines `user` as `The ansible_user to use. Defaults to th

[2018-06-13 15:09] qduxiaoliang commented on #35532
@Akasurde the fix in #35565 works well. i have verified it.

[2018-06-13 15:11] theasp commented on #31691
I'm using this as a workaround:
[code]

[2018-06-13 15:15] wtnebel commented on #15988
Same exact issue as @tliss while following Jeff Geerling's "Ansible for Devops" book.
I'm running an ad-hoc command with the `-B` argument
`ansible <TARGET> -b -B 3600 -a "yum -y update"`

I'm not seeing `background launch...` or `ansible_job_id` in the output, only the final output of the `yum -y update` for each host.

I'm running this on:
macOS version 10.12
ansible version 2.5.4
python 2.7.14

[2018-06-13 15:18] Bak3y opened #41500 "Allow for ovirt_snapshots to be deleted based on date differences"
##### SUMMARY

I'd like to be able to easily delete snapshots older than X days using the ovirt_snapshots module.  The ovirt_snapshots_facts module returns a formatted date parameter for each snapshot.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ovirt_snapshots

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/usr/lib/pytho

[2018-06-13 15:25] #41469 closed, assigned to nobody

[2018-06-13 15:27] webknjaz commented on #41493
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/find.py#L379

`os.walk` ignores errors from `os.scandir`.
Possible fix:
[code]

[2018-06-13 15:32] sivel commented on #41467
I honestly don't think it would be a good idea to munge package names.  I suppose the key could be munged, while leaving the value of `name` as is.

You can however work around things as they are by utilizing `[]` syntax instead:

[code]

I am concerned that any change now would be backwards incompatible.  Perhaps a normalization parameter added to the module, that defaults to the current behavior

[2018-06-13 15:36] yujmo opened #41501 "using ansible to perform back-end programs in the raspberry pi"
Hello, my English is not very good, please don't mind.

        When I used ansible to execute the backend program in raspberry pi, the result of ansible execution was successful. But when I log on to raspberry pie remotely, I did not see the process.
        I have used  `nohup python xxx.py &`,but it doesn't work，I can't see the python process
Also, I used async and poll ,however  it doesn't wor

[2018-06-13 15:40] sivel commented on #39551
2.5.0 is not a minor release.  We do not follow strict semver, and 2.5.0 is what we consider a major release.

We have added the documentation to the porting guide, as it was inadvertently omitted, but the current behavior is expected, and we do not consider this a bug.

Re-closing.  Feel free to add an agenda item to the core IRC meeting, stop by the #ansible-devel IRC channel or send an email to

[2018-06-13 15:40] #39551 closed, assigned to nobody

[2018-06-13 15:43] gdpak commented on #41486
@rgarcia89 I am not able to reproduce this error on latest devel. Can you please paste contents of 'route_policy_clean.j2' and 'route_policy_change.j2' ?

I tried below configs:

[code]

[2018-06-13 15:48] mattclay commented on #41468
@felixfontein Running our own Let's Encrypt server in a docker container seems to be a good option. The container is started at the beginning of the test run and shut down at the end. We do this for other tests, such as those for vcenter. Here's one example integration test that uses this:

https://github.com/ansible/ansible/tree/devel/test/integration/targets/vcenter_folder

This is supported by

[2018-06-13 15:49] mattclay commented on #41468
@felixfontein The tests were also disabled for stable-2.6: https://github.com/ansible/ansible/commit/2ef929029d5183ab20eda882f2568cc0eb7c9664

[2018-06-13 15:52] sivel commented on #41501
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-06-13 15:52] #41501 closed, assigned to nobody

[2018-06-13 15:53] sivel commented on #41499
Please see https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html#requirements

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing

[2018-06-13 15:53] #41499 closed, assigned to nobody

[2018-06-13 15:57] sivel commented on #41481
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Roles are pre-processors, and are processed at playbook parsing time.  As such, `meta`, `defaults` and `vars` are processed and availab

[2018-06-13 15:57] #41481 closed, assigned to nobody

[2018-06-13 16:01] machacekondra commented on #41500
We can implement this, but you can workaround with something like:

[code]

[2018-06-13 16:06] felixfontein commented on #41468
@mattclay Thanks for all that info! I'll go through it and try to adjust the testing container.

[2018-06-13 16:06] sivel commented on #41377
A work-around for this packer issue would be to also set `"user": "packer"` for the ansible provisioner, to ensure it creates the inventory with the correct user.

[2018-06-13 16:14] earchibald-lv commented on #41467
I can dig the `[]` syntax. Perhaps we should document that on the service_facts module page?

I think that would resolve the primary issue (usability) just fine.

[2018-06-13 16:14] #41467 closed, assigned to nobody

[2018-06-13 16:22] #41322 closed, assigned to nobody

[2018-06-13 16:27] sivel commented on #41475
I should mention that in python2 that `string_types` == `(basestring,)` which matches native `str` and `unicode`.

On python3 `string_types` == `(str,)` which is the python3 equivalent of `unicode`, and we should never be dealing with byte strings in this part of the code in python3.

[2018-06-13 16:31] bradhanebury commented on #41446
I was aware of that fact, but I am surprised that loading a role via `ansible-galaxy` is modifying its base directory structure. This feels like it might be the source of the odd behaviour.

[2018-06-13 16:54] Akasurde commented on #35532
@qduxiaoliang Thanks. Closing this issue as PR #35565 is merged. If issue persists, please feel free to re-open.

[2018-06-13 16:54] #35532 closed, assigned to nobody

[2018-06-13 17:00] #41456 closed, assigned to nobody

[2018-06-13 17:22] Akasurde commented on #41494
@DBezemer Thanks for reporting this issue and debugging. There is another issue similar to this #24644.
Would you be interested in adding the additional condition mentioned in that issue ?

[2018-06-13 17:51] kupchenko commented on #32015
Original issue was not resolved and run of `ansible-playbook play.yml -t tag1` executes debug task only once. Please re-open.

[2018-06-13 17:53] kbreit opened #41503 "meraki_network has status of changed when it shouldn't be"
##### SUMMARY
The `meraki_network` module shouldn't show task status of changed when no changes are made to a network. Currently, it seems to be showing status of changed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
meraki_network

##### ANSIBLE VERSION
[code]

[2018-06-13 17:57] Bak3y commented on #41500
I ended up doing it this way:

[code]

[2018-06-13 18:57] sivel commented on #41485
cc @mkrizek @resmo

[2018-06-13 19:01] #40809 closed, assigned to maxamillion

[2018-06-13 19:02] ezegolub commented on #24740
I rewrote a function in the current `ec2.py` to allow for using `python ec2.py --profile <my_aws_profile>` and it works with the data set in `~/.aws/config`. It's pretty horrible code, but maybe it can help someone else in trouble:

[code]

[2018-06-13 19:21] Everspace opened #41505 "When mysql_db fails to decompress a file for an import, it returns an empty byte string for an error."
##### SUMMARY

When mysql_db fails to decompress a file for an import, it returns an empty byte string for an error.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mysql_db

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Create a bogus dump to pull from `weird.sql.bz2`, or prevent it from being accessed then attempt to

[code]

##### EXPECTED RESULTS

A

[2018-06-13 19:35] bcoca commented on #23675
@ice-8 I would not rely on `vars`, it is on it's way out, there is a reason it is not documented.

Also this seems to already been fixed, i had found that 'not' was not matching the capture but now both of these work:
[code]

[2018-06-13 19:49] smalleni opened #41507 "Templating doesn't work with vars_files"
##### SUMMARY

When using vars_files, templating doesn't seem to work
vars_files:
    - "vars/{{ test.ansbile.vars|default('install.yml') }}"
ERROR! an undefined variable was found when attempting to template the vars_files item 'vars/{{test.ansbile.vars|default('install.yml')}}'

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vars_files

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-06-13 20:07] ljesmin opened #41509 "docker_container does not update container on tag change"
##### SUMMARY
When docker.io image name is specified with registry name, existing containers will not be updated when tag changes.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 18.04 with included docker.io
docker.io                             17.12.1-0ubuntu1
python-docker

[2018-06-13 20:10] sivel commented on #41507
This does work but there is a caveat when using `|default`.  The `default` filter only applies to the attribute you indicate.

The following only works when `test.ansible` is defined, but `vars` is not.

[code]

If `test` or `test.ansible` is not defined, then the use of `default` does not work as you expect.

Instead you would need to ensure you utilize `default` at every level that may be undefi

[2018-06-13 20:10] #41507 closed, assigned to nobody

[2018-06-13 20:25] #41377 closed, assigned to nobody

[2018-06-13 20:25] tchia04 opened #41511 "How add an `option' without specifying a `value' in ini_file module"
##### SUMMARY
Since the ansible inventory file is an ini file, I tried to use the ini_file module to edit the inventory host file.  However to my surprise, I wasn't able to add a hostname without the = and a value.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ini_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_VAULT_PASSWORD_FILE(/etc/

[2018-06-13 20:29] msheiny opened #41512 "ansible_group_priority is not clear about where needs to be set"
##### SUMMARY

The `ansible_group_priority` documentation doesn't indicate that this variable needs to be set at the inventory level and not directly in the `group_vars` folder. This maybe should have been obvious to others but it took me a lot of hair pulling to figure that out :(

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

`user_guide/playbooks_variables.rst`

##### ANSIBLE

[2018-06-13 20:30] sivel commented on #41511
Ansible 2.6, which is currently in rc2 and expected to release soon, will have a new option `allow_no_value ` that will allow this behavior:

https://github.com/ansible/ansible/blob/1c3a117f8333e7ab405bc734930a62eaeaa4fada/lib/ansible/modules/files/ini_file.py#L78-L84

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: h

[2018-06-13 20:30] #41511 closed, assigned to nobody

[2018-06-13 20:32] alexandremenif commented on #30599
I am also having the issue with Ansible 2.5.2.

[2018-06-13 20:34] tchia04 opened #41513 "allow an option to be commented out for the ini_file module instead of deleted"
##### SUMMARY

Current state attribute in the ini_file module supports present or absent.  I would like to suggest a way to comment out a line instead of deleting .  A similar feature exists in the cron module.  The attribute in the cron module is called disabled

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ini_file
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dum

[2018-06-13 20:42] jvanderaa opened #41514 "nxos_facts: AttributeError: 'unicode' object has no attribute 'get'"
##### SUMMARY

When running task with `nxos_facts`, getting AttributeError.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

MacOS 10.13.4

##### STEPS TO REPRODUCE

[code]
vars from hostfile
[code]

##### EXPECTED RESULTS

I'd expect to have the configuration gathered
##### ACTUAL RESULTS

[code]

[2018-06-13 20:49] danielcompton commented on #41377
@sivel thanks heaps for the investigation.

I can confirm that setting `"user": "packer"` does fix the issue. I'm still a bit puzzled why this has only occurred in 2.5.3 and above. @DBezemer's suggestions look like they point to the change that caused this. Is this a regression, or intended behaviour?

[2018-06-13 20:56] sivel commented on #41377
@danielcompton A change was made to fix a bug in regards to building the tempdir for the remote host.

It just happens, that the way the packer local ssh proxy works for the ansible provisioner, bypasses an authentication check, and allows ansible to believe you logged in as the user specified in the inventory.

Had the packer proxy actually allowed ssh to perform auth using `-o User=daniel`, ssh

[2018-06-13 21:01] earchibald-lv commented on #38219
I can also reproduce this behavior:

- nonexistent file with `create: yes` creates one-line file, as expected.
- re-running against this one-line file with the correct line crashes with `IndexError`.
- empty but existent file becomes one-line file, as expected.
- 5-line file *without* target line correctly inserts line at BOF.
- 6- line file *with* target line at BOF inserts the line, incorrectly,

[2018-06-13 21:11] msilmser opened #41515 "RFE: Enhanced redhat_subscription module functionality"
##### SUMMARY
Currently, the redhat_subscription Ansible module (https://docs.ansible.com/ansible/latest/modules/redhat_subscription_module.html#redhat-subscription-module) for managing Satellite 6 registrations has a register and unregister option (state present or absent respectively).  The unregister option does just that, but only that.  It unregisters the host but leaves it in Satellite's lis

[2018-06-13 21:17] resmo commented on #41485
@Dees7 can you provide more information about your environment. what os is this in what version?

[2018-06-13 21:46] danielcompton commented on #41377
Ah, one other note. When I logged in to the servers via `gcloud` it created the `daniel` user at SSH provisioning time. This is why whenever I logged in I could see that the user existed.

[2018-06-13 22:02] chrnie commented on #30500
I can reproduce this on another system trying to connect with a db user that requires ssl. It seems to me that ansible is simply not using ssl.
My `config_file` is set to `/home/vagrant/.my.cnf`.
Everything works fine when I add a file to `/home/vagrant/.my.cnf`

[code]

[2018-06-13 22:17] atrepca opened #41516 "aws_s3 module: misleading `Max Retries Exceeded` error when `dest` path doesn't exist"
##### SUMMARY

Using the `aws_s3` module to `get` a file into `dest`, if the `dest` path doesn't exist, you get a `Max Retries Exceeded` error which is very misleading.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

**Module**: aws_s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`ansible-config dump --only-changed` returns nothing. Also, no settings in `ansible.cfg` or via `ANSIBLE

[2018-06-13 23:00] satyan6891 commented on #5356
I made it work with a work around, i defined variable in general.yml as
`remote_check_volume_enabled: "{{remote_check_server_volume_enabled}}"`

and in the actual code

`  vars:
     remote_enabled: remote_check_volume_enabled
  vars_files:
        - var-files/general.yml
  tags:
    - remote_check_server
  roles:
    - role: msp-base
    - role: msp-ssh-user-management

    - role: msp-beancleane

[2018-06-13 23:28] #15429 closed, assigned to nobody

[2018-06-14 00:25] LinuxLeafFan opened #41520 "azure_rm_* Invalid Credentials when using ad_user and password"
##### SUMMARY

No changes to playbooks/tasks, suddenly unable to authenticate to azure for creating resources utilizing ad_user/password. Was working then suddenly just stopped today. No changes were made.

Tried with two different users, both work fine with azcli (using the azure cli tool, not ansible)

Also tried downgrading to ansible 2.5.1 and got the same error.

##### ISSUE TYPE

 - Bug Repo

[2018-06-14 00:54] #38567 closed, assigned to nobody

[2018-06-14 01:11] bcoca commented on #41367
@johnwesley anyone can

[2018-06-14 01:11] yamamoto-hiroki commented on #39802
If ignoring "mode" will indeed go through, ensure documentation examples using "link + mode" combination(s) are also in order.

For example: https://docs.ansible.com/ansible/latest/plugins/lookup/filetree.html

[2018-06-14 01:17] kassiansun commented on #41509
Does ubuntu:17.04 has different hash from ubuntu:18.04?

[2018-06-14 01:18] #22999 closed, assigned to nobody

[2018-06-14 01:37] sugizo opened #41521 "get_url Request failed: <urlopen error [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:590)>"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

get_url module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

can download file with https

##### ACTUAL RESULTS

[code]

[2018-06-14 02:06] #23705 closed, assigned to nitzmahone

[2018-06-14 02:08] #30982 closed, assigned to nobody

[2018-06-14 02:55] trishnaguha commented on #41457
@ahuffman which nxos platform are you using?

[2018-06-14 03:13] Dees7 commented on #41485
Distributor ID: Debian
Description:    Debian GNU/Linux 6.0.7 (squeeze)
Release:        6.0.7
Codename:       squeeze

$dpkg -S bin/apt-mark
apt: /usr/bin/apt-mark

$apt-cache show apt
Package: apt
Priority: important
Section: admin
Installed-Size: 5644
Maintainer: APT Development Team <deity@lists.debian.org>
Architecture: amd64
Version: 0.8.10.3+squeeze1
Replaces: manpages-pl (<< 20060617-3~)
Pr

[2018-06-14 03:29] Fred-sun commented on #41520
hI @LinuxLeafFan  could you help to use pip list show you packaging info and How to create test environment? I will try , Thanks a lot!

[2018-06-14 03:30] Fred-sun commented on #41520
could you help to use pip list show your packaging info , And how to create test environment? I will try it , Thanks a lot!

[2018-06-14 03:31] Fred-sun commented on #41520
@LinuxLeafFan could you help to use pip list show your packaging info , And how to create test environment? I will try it , Thanks a lot!

[2018-06-14 03:47] #41268 closed, assigned to trishnaguha

[2018-06-14 03:54] sk1988 opened #41523 "diff_against:intended option should show only the parent and the divergence"
##### SUMMARY
We are using Ansible to manage Cisco and Arista devices.  Our current approach is to use jinja template to generate the entire configuration for the device, compare it with the running-config on the device and flag divergences.

I feel there are a few flaws with how Ansible is showing the divergences and this can be improved to make it more useful.

##### ISSUE TYPE
 - Feature Idea

[2018-06-14 04:13] LinuxLeafFan commented on #41520
@Fred-sun - I've updated my initial report with the requested information. Thanks!

[2018-06-14 04:26] ganeshrn commented on #41461
@burnitup: Please add `display: json` to task to return the output in dict format
[code]

needs_info

[2018-06-14 04:47] ganeshrn commented on #41100
@lancewood1 `replace: block` should work with the template as the source of configuration. The config generated by template should have proper indentation.

[2018-06-14 05:43] mohi048 commented on #5725
Folks, i had the same issue which turns out to be linux user password expiration issue , on logging onto the remote vm mannually, got the msg "You are required to change your password immediately (password aged)"

[2018-06-14 05:50] rgarcia89 commented on #41486
@gdpak new day new try and see there it is working now without having done any changes on my side...
Anyway thanks a lot for you fast responses.

Do you already know when this fix is going to make it into stable?

[2018-06-14 05:54] resmo commented on #41485
AFAICS [Debian 6 has reached end-of-life](https://www.debian.org/News/2016/20160212) quite a while ago. I am not sure to what definition we support which OS, but I guess a EOL label is a bad factor.

However, the funny thing that the reporter says 2.5.1 worked, so we introduce a regression?

[2018-06-14 05:58] rm-you commented on #29799
Is your commit for this stalled? I only saw this because you linked it in my PR for same, but I see that you were already working on this quite a while ago? I don't really care whose commit lands, as long as the feature is there!

[2018-06-14 06:07] jborean93 commented on #41480
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-06-14 06:07] #41480 closed, assigned to nobody

[2018-06-14 06:31] jborean93 commented on #41521
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-06-14 06:31] #41521 closed, assigned to nobody

[2018-06-14 06:31] DavidVentura commented on #41475
Sorry for being extremely unclear, I'll show now the behavior on both cases; I argue that the behavior should either be the same or that at the very least you should get a big scary warning.

UNICODE:

[code]
[Line 145](https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/conditional.py#L145)
[code]

The condition on the if is not met, execution continues to evaluate the template.

S

[2018-06-14 06:42] mishari commented on #41480
@jborean93 this seems to be a bug that has been fixed in dev.

[2018-06-14 06:50] liu-sheng commented on #41384
@emonty Thanks for clarification, that sounds reasonable, I will try :)

[2018-06-14 06:51] gdpak commented on #41486
@rgarcia89 The fix will be available latest on next release of 2.6 . which will be 2.6.0rc3 . Status of  Expected date of Release 3 and final release can be found live at https://docs.ansible.com/ansible/devel/roadmap/ROADMAP_2_6.html

[2018-06-14 06:53] rgarcia89 commented on #41486
Awesome thanks a lot :+1:

[2018-06-14 06:53] #41486 closed, assigned to gdpak

[2018-06-14 06:55] jborean93 commented on #41480
@mishari have you tried the latest stable-2.5/stable-2.6 release to see if the fix was backported?

[2018-06-14 07:02] wilmington commented on #41461
that gives a syntax error as there is no "| display json" available on  this version/model

e.g from the juniper cli

Possible completions:
  rfc5952              Display IPv6 addresses as per RFC 5952 specifications
  xml                  Show output as XML tags

We had this functionality previously, can it be restored without using  "display: json"

[2018-06-14 07:10] trishnaguha commented on #41491
@bostjanfe this is fixed in https://github.com/ansible/ansible/pull/41318 and will be released with 2.5.5.

[2018-06-14 07:10] #41491 closed, assigned to nobody

[2018-06-14 07:14] Akasurde commented on #26563
@piusranjan Could you please check on latest Ansible devel branch and let us if it works for you ? As I am not able to reproduce this.

[code]
needs_info

[2018-06-14 07:18] burnitup commented on #41461
That gives a syntax error as there is no "| display json" available on this version/model

e.g from the juniper cli
[code]

We had this functionality previously, can it be restored without using "display: json"

[2018-06-14 07:21] trishnaguha commented on #41514
@jvanderaa this looks like timeout issue to me. can you share your nxos image version and platform version?
please try the following in your ansible.cfg file:
[code]

[2018-06-14 08:12] Akasurde commented on #26514
Hi @lioramilbaum !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This al

[2018-06-14 08:12] #26514 closed, assigned to nobody

[2018-06-14 08:42] singha200 opened #41526 "vmware_guest_facts and vmware_host_facts not showing facts in output (ansible 2.5.3)"
##### SUMMARY

vmware_guest_facts and vmware_host_facts not showing facts in output (execution is completed without any error)
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest_facts
vmware_host_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The playb

[2018-06-14 08:45] valentin-krasontovitsch commented on #41481
Thanks a lot for the great answer with explanation of what's going on and hint at possible solution!

.. that's just what happens when you use a tool with lots of magic, without really bothering to understand what's going on behind the scenes O:)

[2018-06-14 08:51] iverona opened #41528 "Aggregates not working on vyos_vlan"
##### SUMMARY
Aggregates seem not to be working with vyos_vlan module. Playbook fails with "vlan_id is missing" when defined via aggregate. Works when not using aggregates.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vyos_vlan

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STRATEGY(env: ANSIBLE_STRATEGY) = debug
HOST_KEY_CHECKING(/Users/ignacio/Documents/TowerDemo/playbooks/a

[2018-06-14 08:59] ganeshrn commented on #40626
@bcavns01 @rikkertk Thank you for figuring out the root cause of this issue.

@rikkertk As you rightly mentioned in your above comment in 2.4 Ansible use to generate the raw xml for all Netconf operation and used generic ncclient `rpc()` method to execute it on the remote host.

In 2.5 it was refactored to call individual ncclient api's with appropriate arguments. Hence the issue in ncclient api w

[2018-06-14 09:05] mkrizek commented on #41485
@resmo Marking installed packages as manual was backported to `2.5.3` I think, so that's why the issue wasn't present in `2.5.1`.

[2018-06-14 09:06] zwindler commented on #41218
Hi,

I see there is the easyfix tag. I'd like to try to do it, if that's OK

[2018-06-14 09:22] mkrizek commented on #41485
FWIW I created https://github.com/ansible/ansible/pull/41530, @Dees7 would you mind testing that on your Debian 6 machine? Thanks!

[2018-06-14 09:23] rockandska opened #41531 "FR: "add_host" : Be able to specify a range of host"
##### SUMMARY
We can use range hosts inside inventory but can't do it via "add_host" module.
It will be convenient to have the possibility to add a range of hosts to apply the same config on many hosts like we can in inventory.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
add_host

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO RE

[2018-06-14 10:30] NWMichl commented on #41477
Same error over here,
I went from 2.3.x to 2.5.3 and my NXOS playbooks stopped working with this failure.
ios_command is fine by the way.

[2018-06-14 10:49] trishnaguha commented on #41477
@sk1988 @NWMichl Can you test this on latest devel branch and let us know if the issue exists there also?

How to test this?
[code]
this will enable devel version in your environment.

[2018-06-14 11:45] stillru opened #41534 "Powershell - Method invocation is supported only on core types in this language mode"
##### SUMMARY
WinRM not working properly
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_stat & any powershell module
##### ANSIBLE VERSION
[code]
Winrm Configuration
[code]
##### CONFIGURATION
DEPRECATION_WARNINGS(/etc/ansible/ansible.cfg) = True
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False
SYSTEM_WARNINGS(/etc/ansible/ansible.

[2018-06-14 11:46] drue opened #41535 "lambda_policy module can't enable triggers"
##### SUMMARY
I can use lambda_policy to create an SNS trigger and it shows up in the Lambda console as expected but the trigger is disabled.  There is no way to enable it other than doing it manually in the console.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lambda_policy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/Users/drue/wa/SG/ansible/ansible.cfg) = T

[2018-06-14 12:07] lfrancke opened #41536 "Typo in win_domain module"
##### SUMMARY
As also reported in this [thread](https://groups.google.com/forum/?hl=no#!topic/ansible-project/FDODw6B8njY) running the win_domain module a second time fails due to a typo in the module.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_domain

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Windows Server 2016 is the target

##### STEPS TO REPRODUC

[2018-06-14 12:09] lfrancke commented on #41536
I can submit a pull request to change the typo but I can not provide a test for this.

[2018-06-14 12:09] jborean93 commented on #41534
Sounds like you have [PowerShell Constrained Language Mode](https://blogs.msdn.microsoft.com/powershell/2017/11/02/powershell-constrained-language-mode/) enabled. We do not support this as Ansible uses a wide range of components in Windows to achieve what it does and they are usually disabled by default in this mode.

I am going to close this issue as this is nothing we can do apart from disabling

[2018-06-14 12:09] #41534 closed, assigned to nobody

[2018-06-14 12:28] cocampbe commented on #36615
Well. I just ran into this. This really needs to be added to 2.5 as that is usually whats on epel.

[2018-06-14 12:32] #41150 closed, assigned to trishnaguha

[2018-06-14 12:56] lfrancke commented on #41536
To be honest, Looking at the full ps1 file I'm surprised it works the first time.

I did run on a fresh server again. These are the results:

Initial run:
[code]

Following a reboot running the same again:
[code]

When I now change "DNS" to "Dns":
[code]

[2018-06-14 12:59] ganeshrn opened #41539 "[NET_CONF] Add integration testcases for netconf_rpc module"
##### SUMMARY

Add integration testcases for netconf_rpc module for supported platforms
See https://github.com/ansible/proposals/issues/104 for details on netconf_rpc module
* junos
* iosxr
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

netconf_rpc
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### AC

[2018-06-14 13:21] oukooveu opened #41540 "Tags are not working for tasks under "include_tasks""
##### SUMMARY

Tagged tasks under `include_tasks` are not executed.

Original issue: https://github.com/ansible/ansible/issues/32015 (closed, but not resolved).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

play.yaml:
[code]
tasks.yaml:
[code]

##### EXPECTED RESULTS

[2018-06-14 13:22] shellshock1953 commented on #32547
Any news?

[2018-06-14 13:29] jvanderaa commented on #41514
I have added the persistent_connection piece, and I am still getting the same error. I am also by default connecting to a jump host. I removed the jump host for the testing and do in fact get the same error.
[code]

[code]

[code]

The nxos_facts module works well with our N9K platform. I'm running this against a N5K (version 7.0(8)N1(1)) platform:

[code]

[2018-06-14 13:31] #33838 closed, assigned to nobody

[2018-06-14 13:32] BarresB opened #41541 "[NETCONF] gives RPC: operation-not-supported"
##### SUMMARY
When I try to upload an XML file to the Pulse Connect Secure VPN device. Previously known as Juniper SA. With the ansible_network_os=default or junos I get RPC mesasge with "operation-not-supported". Uploading the XML manually works perfect, so I suspect it isn't the XML.

What is happening in the module netconf that Pulse Connect Secure isn't accepting this. It just shouldn't be mor

[2018-06-14 13:41] ganeshrn commented on #41541
The error message reported in output is the response received from the remote network host. `netconf_config` uses standard `edit-config` RPC which is defined in Netoncf rfc.

You can try using [junos_config](https://docs.ansible.com/ansible/latest/modules/junos_config_module.html) module which uses Juniper specific `load-configuration` Netconf rpc to edit configuration on Juniper devices.

[2018-06-14 13:41] NWMichl commented on #41477
@trishnaguha Sorry, I'm sitting behind a big corporate Firewall + without root on this host.
I can only use whats in our RHEL EPEL Repo.

[2018-06-14 13:45] ganeshrn commented on #41541
I missed the timeout message in the logs
[code]

You need to increase the value of `command_timeout` and `connect_timeout` in ansible.cfg file.
Please refer https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#timeout-issues for more details

[2018-06-14 13:45] #41193 closed, assigned to Qalthos

[2018-06-14 13:47] ephesused commented on #41340
@webknjaz , do you have an idea if/when this issue will be fixed? I'm trying to determine if we need to apply workaround in our playbooks for the bug. Thanks.

[2018-06-14 13:54] trollkarlen opened #41543 "os_volume uses shade before getting it in 2.5 branch"
##### SUMMARY
as stated in tittle

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/openstack/os_volume.py

    module = AnsibleModule(argument_spec=argument_spec, **module_kwargs)

    if (module.params['scheduler_hints'] and
            StrictVersion(shade.__version__) < StrictVersion('1.22')):
        module.fail_json(msg="To utilize scheduler_hints, the installed

[2018-06-14 14:22] ganeshrn commented on #41461
Due to the difference in the json response received from junos device (on which json output is supported) and the translation to json within Ansible in ealier version (for devices that don't support json), we decided to not support json output for devices that don't support it natively.

You can use `display:xml` and use `output` key returned in response .
[code]

[2018-06-14 14:52] maxamillion commented on #41467
@earchibald-lv I'll get a note in the module docs, thank you for the issue report!

[2018-06-14 14:59] lancewood1 commented on #41100
@ganeshrn Unfortunately when using `replace: block` with the source of configuration as a template the result is the following error message:

This happens when using `match `as well with every option except `none`.

[2018-06-14 15:02] ivica-k commented on #33617
Thank you @Akasurde , submitted a PR.

[2018-06-14 15:16] atrepca commented on #41516
This is a boto3 issue, I opened an issue there instead, https://github.com/boto/boto3/issues/1597. I'm closing this, thanks!

[2018-06-14 15:16] #41516 closed, assigned to nobody

[2018-06-14 15:36] webknjaz commented on #41340
It might be related to #36218

cc: @bcoca @abadger

[2018-06-14 15:40] hwoarang commented on #40876
@sivel I see that a new 2.4.5 is being prepared

https://github.com/ansible/ansible/releases/tag/v2.4.5.0-0.1.rc1

Would you consider back porting this patch as well?

[2018-06-14 15:41] sivel commented on #41540
This is the expected behavior.  With `include_tasks` the tags applied to tasks within, do not impact whether or not the `include_tasks` task executes or not.

To solve for this scenario, you can either tag the `include_tasks` the same as the tasks within, or tag `include_tasks` with `always`:

[code]

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible

[2018-06-14 15:41] #41540 closed, assigned to nobody

[2018-06-14 15:43] sivel commented on #40876
2.4.x is only receiving updates for security and critical bug fixes.  2.4.5 is being prepared for one of these scenarios, and we will not hold up release by including a non critical fix forcing another release candidate.

[2018-06-14 15:43] saichint opened #41547 "nxos_linkagg fails to create linkagg when running on I2 image"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_linkagg
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I2(5)

##### STEPS TO REPRODUCE

When we run the integration tests on N9k running I2 image, the create_linkagg test fails if there are no port-channels defined already on the device.

##### ACTUAL RESULTS

[

[2018-06-14 15:46] alexntt opened #41548 "ec2_ami: delete_snapshot doesn't seem to work"
##### SUMMARY

ec2_ami leaves behind a snapshot even when told not do do so

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ec2_ami

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

shows empty

##### OS / ENVIRONMENT

Running this on Debian Stable

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No snapshots left behind

##### ACTUAL RESULTS

[code]

And snap-09ca30cbcf7a40b0c

[2018-06-14 15:49] abirami-n opened #41549 "Issue in handling prompts in dellos6/dellos9 and dellos10 modules."
##### SUMMARY
Prompt handling in dellos6/ dellos9 and dellos10 modules fail with error message.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dellos9_config.py
dellos6_config.py
dellos10_config.py

##### ANSIBLE VERSION
[code]

##### ACTUAL RESULTS
[code]

[2018-06-14 15:55] tharun-allu opened #41552 "Ansible module to add ingress rules to existing security groups"
##### SUMMARY
The ec2_group module works great if you have a set of rules predefined.
Example use case where this is tough is
1. You create the security group.
2. Create EC2 instances and attach it to the above security group
3. Obtain the public IPs of the EC2 instances after they are provisioned
4. Now we need to add these IPs to the ingress of the above created security group.

##### ISSUE TYPE

[2018-06-14 16:24] tumbl3w33d opened #41553 "tower_credential shows clear text passwords for vault credential creation"
##### SUMMARY
Creating a vault credential the execution log shows the specified password in clear.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_credential

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing relevant

##### OS / ENVIRONMENT
Debian 4.16.12-1~bpo9+1 (2018-06-03) x86_64 GNU/Linux
Working against API of AWX 1.0.6.15.

##### STEPS TO REPRODUCE
[code]

##### EXPECTE

[2018-06-14 16:30] tumbl3w33d opened #41554 "tower_credential suggests to use ASK for prompting. What is it supposed to do?"
##### SUMMARY
The public doc mentions in several places that one should `Use ASK for prompting.` and reading that I would expect that I specify the argument ASK and it causes a prompt but that doesn't work and there is also no trace of a special behavior for that string in the module code. Thus, I'd say this should be clarified in the docs what you mean by suggesting this because I don't get it an

[2018-06-14 16:32] #41269 closed, assigned to trishnaguha

[2018-06-14 16:33] wknapik opened #41555 "Loop collections undergo evaluation, even when the task containing the loop is skipped"
##### SUMMARY
Loop collections undergo evaluation, even when the task containing the loop is skipped.

The behavior is different if the lookups are a part of the task being skipped, rather than the collection used in the loop (no error, just skipped execution).

I ran into this while using a block where some files are created in the first task and the second task uses a loop to do something with t

[2018-06-14 16:33] Akasurde commented on #41526
@asingh1989 Thanks for reporting this issue. Could you please paste console log with `-vvvv` ?

needs_info

[2018-06-14 16:34] sivel commented on #41555
This is the expected behavior.  The `when` statement is evaluated for each iteration of the loop, not before the loop is processed.

As such, your loop must be able to be evaluated, regardless of the `when` statement.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-proj

[2018-06-14 16:34] #41555 closed, assigned to nobody

[2018-06-14 16:39] wknapik commented on #41555
With the behavior being so dramatically different between
[code]
and
[code]
shouldn't that at least be pointed out in the docs somewhere ?

[2018-06-14 16:45] sivel commented on #41555
From https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#standard-loops:

[2018-06-14 16:49] wknapik commented on #41555
Yeah, I would not figure out that behavior based on that...

Anyway - is there a workaround for this when the loop is used because of `include_tasks`  tasks using `item` (expecting to be used in a loop) ?

[2018-06-14 17:05] AlanCoding commented on #41554
it asks for password if you launch the job in the UI.

You can still launch the job through the cli, if you provide the password at launch time. I haven't looked at whether the tower modules have implemented this.

[2018-06-14 17:18] tumbl3w33d commented on #41554
Oh, it's about the tower UI, I see. I'm new to AWX and didn't have that use case yet.

My confusion came from me expecting a behavior like vars_prompt provides. Alright, feel free to close it unless you think there might be more aliens like me out there. :)

[2018-06-14 17:28] chrnie commented on #24215
+1

[2018-06-14 17:43] #35622 closed, assigned to nobody

[2018-06-14 17:46] ahuffman commented on #41457
@trishnaguha we're working with this:
Software
  BIOS: version 4.2.0
  NXOS: version 7.0(3)I7(2)
  BIOS compile time:  09/23/2017
  NXOS image file is: bootflash:///nxos.7.0.3.I7.2.bin
  NXOS compile time:  11/22/2017 13:00:00 [11/22/2017 21:55:29]

Hardware
  cisco Nexus3500 C3548P-10GX Chassis
  Intel(R) Core(TM) i3-3227U CPU @ 2.50GHz with 16398108 kB of memory.
  Processor Board ID FOC21328N0Z

[2018-06-14 17:52] czunker opened #41562 "404 on link in openstack dynamic inventory documentation"
##### SUMMARY

Dead link in the [OpenStack Dynamic Inventory Documentation](https://docs.ansible.com/ansible/2.4/intro_dynamic_inventory.html#example-openstack-external-inventory-script)

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

docs/docsite/rst/user_guide/intro_dynamic_inventory.rst

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### STEP

[2018-06-14 18:23] bcoca commented on #41553
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

this is not an issue with the `tower_credentials` module, the issue is that Ansible by default displays the 'full item' for every loop

[2018-06-14 18:23] #41553 closed, assigned to nobody

[2018-06-14 19:09] nbaliba commented on #24632
Now working with ansible 2.5.1

[2018-06-14 19:09] #24632 closed, assigned to nobody

[2018-06-14 19:14] pstrzelczak commented on #17324
I hit this bug today too.
I simply want to declare a dictionary with a key that is declared earlier as a variable:

[code]

The above code produces {"bar" :  {"{{ foo }}" : "somevalue"}} while I expected {"bar" :  {"somekey" : "somevalue"}}

[2018-06-14 19:21] jhawkesworth commented on #41536
Since there aren't any integration tests for `win_domain` at the moment any way, if you can test the PR I just made then I think we can be pragmatic and get this fixed without requiring an integration test.

[2018-06-14 19:57] burnitup commented on #41461
Sorry, I'm not fully understanding what you mean here.  **use display:xml and use output key returned in response**

```display: xml``` clearly goes into the YAML playbook and I get XML back (formatted as a list) - where do i use the ```output key```?

Can you give an example please?

[2018-06-14 20:07] marsavela commented on #41562
Issued #41459 a couple of days ago.

[2018-06-14 20:15] tharun-allu commented on #41552
After reading through the docs ec2_group has this feature built in just have to set

[2018-06-14 20:15] #41552 closed, assigned to nobody

[2018-06-14 22:10] matheus-caselani opened #41569 "One or more undefined variables while using vars_prompt"
##### SUMMARY
Hello Guys,
I'm trying to create a new database using ansible and vars_prompt but i got an error

##### ISSUE TYPE

 - One or more undefined variables: 'Client_Username_Database' is undefined

##### COMPONENT NAME

/usr/lib/python2.7/dist-packages/ansible/playbook/task.py

/usr/share/ansible/database/mysql_db

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[2018-06-14 23:34] BruceChapmanNec opened #41571 "Noisy output using 'debug: var=item.' with 'with_items'"
##### SUMMARY

[code]
unexpectedly shows
[code]
as well as the var expression and its value for each loop item.

Reversing the fix in issue #12952 did not correct this issue - though it seemed possibly related.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

create playbook `debug

[2018-06-15 01:55] yuwzho commented on #40927
close_me

[2018-06-15 01:58] #40927 closed, assigned to nobody

[2018-06-15 02:00] dcvan24 commented on #26037
Looking at the code, I found that the `persistent_boot_disk` fix only works when `instance_names` is used, but won't work when VMs are created in batch using `base_name` and `num_instances` together. In this case, `disk_size` is not used in calling the `ex_create_multiple_nodes` method of `libcloud` as shown below:

[code]

A solution is to avoid using the `ex_create_multiple_nodes` method but use

[2018-06-15 02:06] yuwzho commented on #41218
@zwindler Welcome your contribution! If you have any problem, please pin me or @zikalino  😄

[2018-06-15 03:20] mathewfer opened #41573 "New Features - Meraki Module"
##### SUMMARY

##### New Features
 - Feature Idea
 Are you considering add more features based on this link below upcoming Ansible Versions?;
https://github.com/meraki/dashboard-api-python/blob/master/meraki.py

I use some these functions in Python to add, clone .. new networks to Meraki dashboard as I do not see these listed functions are supported in Meraki module in Ansible 2.5.0.

##### COMPON

[2018-06-15 03:58] bcoca commented on #38795
needs_info

[2018-06-15 04:01] bcoca commented on #32547
actually, set_fact should recreate the dict with a single key in each case, you cannot 'partially set' a variable

[2018-06-15 04:04] Akasurde commented on #41569
@matheus-caselani Thanks for reporting this issue. I see you are using `register` is `vars_prompt` which is not valid argument for `vars_prompt`

You may need to modify your playbook as -

vars_prompt_example.yaml
[code]

Console log -
[code]

[2018-06-15 04:07] Akasurde commented on #41569
needs_info

[2018-06-15 04:14] ushuz commented on #24449
@bcoca How do I **force** an unsafe write so I can update a file that is mounted into docker container?

[2018-06-15 04:54] Akasurde commented on #41536
resolved_by_pr #41565

[2018-06-15 05:53] Dees7 commented on #41485
@mkrizek I will check at next week . thanks.

[2018-06-15 06:11] demhoisee commented on #19584
ssh-copy-id -i user@localhost
 ssh-copy-id -i user@servers_in_inventory

seems to work

[2018-06-15 06:23] ksethurathinam opened #41576 ".ansible_async result file"
##### SUMMARY
.ansible_async results file printing sensitive data

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Used fire and forget feature to execute tasks parallely.

Command to execute is a shell script which takes credentials as arguments.

I n

[2018-06-15 06:59] m4r10k opened #41577 "VMware: vmware_guest: Create from template - network with underscore in name does not work"
##### SUMMARY

During the creation of an VMWare guest due to the vmware_guest module, setting a network name which has an underscore in its name does not apply the network on this vmware_guest properly. The network on the guest is shown up in the summery in vsphere but it is not attached to the guest in the details (see screenshots).

Playbook:
[code]
In this example, `SERVER_200` is not correctly

[2018-06-15 07:03] memo42 commented on #35585
@nergdron I think you can close this issue, right? Or is there anything left to do here?

[2018-06-15 07:11] Akasurde commented on #41577
@m4r10k Thanks for reporting this issue. I will try reproduce this on my setup.

[2018-06-15 07:13] m4r10k commented on #41577
Many thanks! Please let me know, if you need any further information!
I forgot to report the vsphere version before which is:
[code]

[2018-06-15 07:30] drue commented on #41535
Even worse, when you run Ansible again lambda_policy will disable the trigger if you have previously enabled it in the console.

[2018-06-15 07:40] pkaramol commented on #28981
Any progress on this? Are we still not able to start/stop an RDS instance via ansible?

[2018-06-15 07:45] mickaelperrin commented on #19115
Had a really near problem and reported it first on stack [overflow](https://stackoverflow.com/questions/50863675/role-tags-ignored-when-applied-on-include-directive-alongside-with-items/50871030#50871030).

**STEPS TO REPRODUCE**

    role/tasks/main.yml
    ---
    - include: test.yml
      with_items:
        - A
        - B
      tags:
        - my_role_test

    role/tasks/test.yml
    ---

[2018-06-15 07:46] m4r10k commented on #41577
@Akasurde Oh, and it **does works**, if the underscore is at the beginning of the network name like `_SERVER200`, but it does **not** within the name like `SERVER_200` - sick... :yum: - maybe there is a problem with some search or replace in the `PyVmomi`?

[2018-06-15 07:59] ljesmin commented on #41509
Ubuntu 17.04 image info:
[code]

Ubuntu 18.04 image info:
[code]

[2018-06-15 08:08] ljesmin commented on #41509
When hacking this isse, saw such self.log() messages:
[code]

[2018-06-15 08:18] denngie opened #41581 "ios_vrf python error when vrf is already removed and state: absent"
##### SUMMARY

when using ios_vrf to verify that a VRF is absent, I get a python error if it does not exist instead of ok. This happens with both 2.5.4 and the current version in devel branch
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_vrf
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian 9.4
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[

[2018-06-15 08:23] dungdm93 commented on #41116
@jlozadad
[code]

[2018-06-15 08:38] Akasurde commented on #41531
@rockandska Thanks for reporting this issue. Could you please try following -

[code]

needs_info

[2018-06-15 08:47] mmazek opened #41582 "ipa_user module overwrites user in IPA even if nothing changes"
##### SUMMARY
ipa_user module overwrites user in IPA even if nothing changes. It resets user's password and adds the step to both OK and changed summary.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module ipa_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes in configuration
No changes in ansible.cfg
##### OS / ENVIRONMENT
Ubuntu 16.04.4 LTS
##### STEPS TO REPRODUCE
Role

[2018-06-15 08:59] denngie commented on #41581
Is it really this simple? Adding a try and except for TypeError
[code]

[2018-06-15 09:21] ljainker opened #41583 "delegate_to: fails with "TypeError: unhashable type: 'list'""
##### SUMMARY
**task being performed**
[code]
**inventory file content:**
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
!component=with_items
!component=delegate_to

ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/ansible.cfg) = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
CACHE_PLUGIN(/ansible.cfg) = jsonfile
CACHE

[2018-06-15 09:28] ajardan opened #41584 "wrong variables file used when using 'with_first_found' in 2 roles"
##### SUMMARY
When I try to include_vars in 2 different roles by using something like:

[code]
Just one of the files our of all the files in both roles is used, so some variables are missing.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Running from: Mac OS 10.13.4
Running on: CentOS 6.9

##### STEPS TO RE

[2018-06-15 09:42] schue30 opened #41585 "openshift_raw module can't update deploymentconfig"
##### SUMMARY

The ansible openshift_raw module cannot update a deploymentconfig that contains ether a liveness_probe or a readiness_probe with the parameter exec. The problem is, that it can't patch the kubernetes/openshift object. The following error is shown:
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openshift_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS

[2018-06-15 09:46] schue30 commented on #41585
The main problem is, that the openshift/k8s python client returns this object:
[code]

And then the ansible module can't merge it. Because it can't match `_exec` with `exec`

[2018-06-15 10:00] kassiansun commented on #41509
The log shows that 17.04 is not on remote node, so where did you get the hash, on your local machine? This may caused by absent of ubuntu:17.04 on docker.io, and pulling failed on remote node.

[2018-06-15 10:30] mishari commented on #41480
@jborean93 seems to be fixed in the stable-2.5 and stable-2.6 release, thanks.

[2018-06-15 10:30] Lambdara opened #41586 "`become: true` doesn't seem to propagate through recursive requirements"
##### SUMMARY

`become: true` seems to get lost when importing something that imports something else.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`import_role`
`become`
Requirements in `meta` directory.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True

##### OS / ENVIRONMENT

I am running Arch Linux and managing Ubuntu 18.04.

##### STEPS T

[2018-06-15 10:59] wknapik commented on #41555
For those who get here from google - if you're using ansible >=2.6, you can use `lookup(..., errors='ignore')`; if you're on <2.6, use `set_fact` with either an appropriate `when` condition, or `ignore_errors: true` and loop over the variables.

[2018-06-15 11:10] ljesmin commented on #41509
This problem only occurs with docker.io registry and it does not occur with Red Hat patched docker.

It also only occurs when i specify docker images as "docker.io/ubuntu:18.04".
When i specify images as "ubutu:18.04" everything works as expected.

When running playbook, it should change always "Start ubuntu 18.04" job, as first job will start a container "ansibletest" with 17.04 image.

I include

[2018-06-15 11:26] rauldelperal opened #41587 "ansible gce create --min-cpu-platform"
##### SUMMARY
Implement --min-cpu-platform option for create instance with gce module.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
gce

##### ANSIBLE VERSION
2.5

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
gcloud compute instances create example-instance --zone europe-west1-b --min-cpu-platform "Intel Skylake"
https://cloud.google.com/compute/docs/instances/s

[2018-06-15 11:41] gpiszczek commented on #20347
Hit the same problem. As @dlouzan wrote the problem boils down to choosing appropriate device_name value. In my case I was using Debian Stretch image (ami-ada0f946). To get the correct device name use web console (Images -> AMI -> Details -> Root Device Name) or awscli:
[code]
Here we have **"xvda"**. To create an instance with different volume size you must use this **EXACT** device name, in part

[2018-06-15 11:54] SmruthiNaidu commented on #34192
Hello all,
I dint understand
$ ansible-vault view vault.yml
Vault password:
---
- vault_pass: pass
What is dis actually we have created yaml with encrypted one..but tell me how you are creating variable -vault_pass in the same file..pls needed it urgent

[2018-06-15 11:58] ksethurathinam commented on #41576
Any update

[2018-06-15 12:03] mkrizek commented on #41573
cc @kbreit

[2018-06-15 12:22] jctanner commented on #29757
This module is now deprecated. Please use vmware_guest.

[2018-06-15 12:22] #29757 closed, assigned to nobody

[2018-06-15 12:22] Akasurde commented on #34192
@SmruthiNaidu What is it that you don't understand ?

[2018-06-15 12:25] #33617 closed, assigned to nobody

[2018-06-15 12:34] Akasurde commented on #26322
@kachkaev Would you be able to test #21215 and let us know if it works for you ?

[2018-06-15 12:35] wknapik commented on #41555
Didn't find this #13950 before.

[2018-06-15 12:43] SmruthiNaidu commented on #34192
Here you are giving a parameter to your ansible vault.yaml right..im not understanding the syntax.when i view dat vault using above command it is not executing successfully

[2018-06-15 13:28] abadger commented on #41475
We probably want to figure out why we're getting a byte string there and convert it at the border instead of changing the conditional.

[2018-06-15 13:31] abadger commented on #41475
@DavidVentura Can you tell us how to reproduce this (ie, what playbook produces this error?)  That will greatly aid us in tracking down where the byte string is entering Ansible.

[2018-06-15 14:14] DavidVentura commented on #41475
As stated before, the playbook executor prevents this from happening, this is happening with a custom executor.

The issue is that if this variable is str the behavior is wrong. Just adding a warning or making the code follow the same path (with str) as the unicode path it would be ok

On June 15, 2018 3:32:42 PM GMT+02:00, Toshio Kuratomi <notifications@github.com> wrote:

[2018-06-15 14:18] bcoca commented on #41475
@DavidVentura then the custom executor has a bug, we enforce the boundaries on input and transformation so this should always get the expected string format.

[2018-06-15 14:22] DavidVentura commented on #41475
Which I believe is OK, but shouldn't the cinditional evaluator emit a warning when it doesn't get the expected input type?

On June 15, 2018 4:19:46 PM GMT+02:00, Brian Coca <notifications@github.com> wrote:

[2018-06-15 14:27] mikewiebe commented on #41269
@trishnaguha Excellent, that is great news.

[2018-06-15 14:29] DavidVentura commented on #41475
thing is, i've been developing a custom executor. Spent 2 days figuring out why some conditionals were always true. turns out my yaml parser was creating non-unicode strings, which TaskQueueManager gladly accepts, but then behaves weirdly.
I would like (as a dev) if at some point between TQM instantiation and conditional execution I could get SOME info about my input being "invalid"

On June 15, 2

[2018-06-15 14:29] sivel commented on #41571
This is expected.  See https://github.com/ansible/ansible/pull/36534

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-15 14:29] #41571 closed, assigned to nobody

[2018-06-15 14:33] sivel commented on #41571
After some investigation, we have decided to implement a different fix to allow the functionality described in #36534 to work, while still hiding `item` from the output.

Please see #41331

[2018-06-15 14:35] kbreit commented on #41573
@mkrizek If I recall correctly, I don't think there are any Meraki modules in 2.5 as they're all slated for 2.6. I maintain the Meraki Ansible module community wiki page which shows what's slated for releases.

https://github.com/ansible/community/wiki/Network:-Meraki

Are there any features in particular you're looking for? BTW, I may steal your time zone listing code because I don't do a check o

[2018-06-15 14:37] bcoca commented on #41475
this is why we control the input boundaries, otherwise we would have to have many more checks at every stage of the code cause we could never trust what we are getting.

[2018-06-15 14:38] avanov commented on #34863
Same issue, Ansible 2.5.4, RabbitMQ 3.7.6, OSX

[2018-06-15 14:41] sivel commented on #19115
@jasonmichaellehman this issue is resolved in recent ansible versions, but will require a change from `include` to utilize `include_tasks` instead.

static includes cannot utilize host variables, such as from `set_fact` to indicate the file to be included.

Changing to `include_tasks` produces the following output for me:

[code]

If you have further questions please stop by IRC or the mailing lis

[2018-06-15 14:41] #19115 closed, assigned to nobody

[2018-06-15 14:42] kbreit opened #41591 "Meraki documentation notes are duplicated"
##### SUMMARY
The pages for Meraki documentation, such as https://docs.ansible.com/ansible/devel/modules/meraki_network_module.html have the notes listed twice.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
meraki_network
meraki_organization
meraki_admin
meraki_snmp

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

#####

[2018-06-15 14:47] sivel commented on #41475
Just as an FYI, in case no one has mentioned it yet, but utilizing the Playbook or task execution Python APIs within Ansible is unsupported.  Those APIs are private, and not intended for public consumption.

[2018-06-15 14:51] sivel commented on #41591
As an FYI, this is because `notes` is defined in both the `DOCUMENTATION` for the individual module and the documentation fragment.

In this case, they are merged/extended, and are not deduped.  Likely these notes just need removed from the individual modules.

[2018-06-15 14:53] apestov commented on #34867
Hi @KKoukiou, @maxamillion,
May be https://github.com/ansible/ansible/issues/25802: `yum module: state=latest ignores the version within name with ambiguous behaviour`   was the reason of using `yum install` for the `state=latest` case.

Not quite sure whether there is a contradiction in described and mentioned cases.

| N | Case | Expected internal behaviour |
| --- | --- | --- |
| 1 | Use the la

[2018-06-15 14:55] sivel commented on #41475
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2018-06-15 14:55] #41475 closed, assigned to nobody

[2018-06-15 14:56] abadger commented on #41475
I took a look at the site in question.  It doesn't look like we could check
there as the logic is, "if not a text string, pass this on for something
else to try to handle.". There may be somewhere further up the call stack
where we can check and convert if a byte string is given.

However, checking has a cost.  Getting rid of extra code that checks and
converts at every step of the process is good

[2018-06-15 14:58] #41395 closed, assigned to Akasurde

[2018-06-15 15:11] nesanton opened #41592 "cannot use autostart with command=define in virt module"
##### SUMMARY

```autostart``` cannot be used in virt module with ```command=define```. It fails with "Domain not found: no domain with matching name '<vm_name_here>'". This happens because of attempting to set ```autostart``` before defining the VM: https://github.com/ansible/ansible/blob/63f2ad8776314930a800076ef363f4e60a2ef1a4/lib/ansible/modules/cloud/misc/virt.py#L477
It seems logical to defi

[2018-06-15 15:14] #16571 closed, assigned to nobody

[2018-06-15 15:14] #30732 closed, assigned to nobody

[2018-06-15 15:17] Akasurde commented on #41592
@nesanton Thanks for reporting this issue. This is already reported #34559 and PR is available https://github.com/ansible/ansible/pull/40457
Would you be interested to test PR ?

[2018-06-15 15:20] rscarazz commented on #27960
I think @agowa338 is absolutely correct: the image and the other parameters should not be mandatory when it comes to start and stop, and so this must be considered a bug.

[2018-06-15 16:12] #17469 closed, assigned to docschick

[2018-06-15 16:21] kenwdelong commented on #40724
My AWS support contact just reported:

Hopefully that helps.

[2018-06-15 16:23] vijaymarupudi opened #41594 "key=value and yaml example in playbooks intro are the same"
##### SUMMARY

key=value and yaml example in playbooks intro (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/playbooks_intro.rst) are the same

##### ISSUE TYPE
 - Documentation Report

##### EXPECTED RESULTS

Something like:

[code]
instead of yaml for the first example.

##### ACTUAL RESULTS

yaml was used in the first example too.

[2018-06-15 16:31] sivel commented on #41594
Please indicate explicitly which docs page you are referring to.

needs_info

[2018-06-15 16:33] vijaygopal1234 commented on #41594
Oops, I forgot to post the link, updated issue.

[2018-06-15 16:33] jsollom opened #41595 "Dependent Roles run multiple times even though 'run_once: True' is specified"
##### SUMMARY
When a role that another role is dependent upon and the dependency has a run_once: True statement attached to it, that dependency is run more than once.

This may be issue #31751.
https://github.com/ansible/ansible/issues/31751

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
run_once

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No output.
##### OS / ENVIRONMENT

macOS S

[2018-06-15 16:36] #27367 closed, assigned to nobody

[2018-06-15 16:40] sivel commented on #41594
It appears that "duplicate" play, intended to show `key=value` syntax was removed, and will no longer appear in the `latest` docs, once the ansible 2.6 is released:

https://github.com/ansible/ansible/pull/38521

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-15 16:40] #41594 closed, assigned to nobody

[2018-06-15 16:46] dealkk commented on #38404
hi, i want to use this customization spec. i am on ansible version 2.5. can anyone show me step how to update this and how to use it.

[2018-06-15 17:28] rockandska commented on #41531
Seems to work but it doesn't fit my need.

I doesn't tried yet, but in the meantime maybe i could try to write a custom filter based on "parse_address" to transform host[1:3] ==> host1, host2, host3

[code]

[2018-06-15 17:38] #25729 closed, assigned to nobody

[2018-06-15 17:38] drzraf commented on #22946
This needs to be reoponed:

$ `ansible --version`
ansible 2.5.2

$ cat test.yml
[code]

$ `ansible-playbook test.yml && docker ps -an1 && docker logs $(docker ps -qan1)`

## Actual:
[code]

## Expected:
One additional line for:
[code]

[2018-06-15 17:43] timcoote opened #41600 "Inappropriate WARNING when using curl"
##### SUMMARY

curl supports options that are missing from the modules suggested when it is used (get_url or uri). Warnings should not recommend invalid approaches.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

shell module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_CALLBACK_WHITELIST(/Users/tim/Projects/iotaa/packagemanagement/ansible.cfg) = ['profile_tasks']
DEFAULT_FO

[2018-06-15 17:47] bcoca commented on #41311
root is not the Ansible default ssh user, the default is 'none', so then `ssh` decides the default, which is 'current user executing the process'.

[2018-06-15 17:49] bcoca commented on #40696
The user module does not normally edit /etc/shadow directly, it actually uses useradd/usermod or the tool appropriate for the platform targeted.

[2018-06-15 18:06] bcoca commented on #16610
closing as per above

[2018-06-15 18:06] #16610 closed, assigned to nobody

[2018-06-15 18:17] drzraf commented on #27158
for reference: #16993

[2018-06-15 19:22] rpural opened #41606 "Module service_facts: appears to return unusable dictionary entries containing periods"
##### SUMMARY

Module service_facts: appears to return unusable dictionary entries containing periods

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

ansible/lib/ansible/modules/system/service_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/home/auto/ts00086/ansible.cfg) = False

##### OS / ENVIRONMENT

Red Hat RHEL7.4

##### STEPS TO REPRODUCE

Ru

[2018-06-15 19:25] #41606 closed, assigned to nobody

[2018-06-15 20:10] maxamillion commented on #34867
These are conflicting use cases, but they should likely both be handled. The unfortunate truth is that there's only so much heuristics we can do when trying to tease apart an arbitrary string into an N-V-R that can potentially mean two different things from a yum perspective. I'm open to suggestion.

[2018-06-15 20:14] memotype opened #41609 "If facts.d script returns invalid JSON, fact fails silently and sets fact to error string"
##### SUMMARY

If a script in /etc/ansible/facts.d produces invalid JSON, no error is produced by Ansible, and instead the fact is silently set to the string literal "error loading fact - please check content" and the task referencing the fact reports "ok".

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONME

[2018-06-15 21:12] webknjaz opened #41611 "Support `--separate-git-dir` option in Git module"
##### SUMMARY

This is a follow up for https://github.com/ansible/ansible/pull/38016#pullrequestreview-118799688:
Git module should support `--separate-git-dir`:
* we need to support `separate-git-dir` module argument
* have docs/examples for that
* cover all of that with tests including negative ones

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

git
##### ANSIBLE VERSION

[code]

#####

[2018-06-15 21:13] webknjaz commented on #41611
@HD650 I think you could do this

-label needs_triage

[2018-06-15 21:47] nesanton commented on #41592
I knew I should have searched! Sorry.
The issue is indeed about the same thing. Yet, the PR does not solve this bug nor #34559, because using ```autostart``` with ```command=define``` would still fail. But it does address a few issues mentioned (and not mentioned) in my bug. I have a solution, although it's conflicting with #40457. I'll try to incorporate the changes from there and make another PR

[2018-06-15 21:55] maxamillion commented on #34867
@apestov the main thing I'm unsure of how properly handle with this is in the event that both `nginx-1.10.*` and `ovirt*setup` are passed into the `yum` module in a list, it should be processed as a single transaction but can not because these two cases need different actions.

[2018-06-15 23:07] ghost opened #41613 "Add option to automatically redact Vault-sourced variables from logging output"
##### SUMMARY
Add an option to automatically redact from Ansible playbook output the values of variables that originate from a Vault-encrypted file

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Stock

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
This change will allow control of logging at the variable level without relying

[2018-06-16 01:33] kassiansun commented on #27960
Hi guys, seems you are still confused by this issue. As I previously tested, you can upgrade your `docker-py` version. The new version of `docker-py` can stop a container without `image` spec. Behind the scene, `docker_container` calls `docker-py` blindly, `docker_container` doesn't force you to provide a `image` parameter, but `docker-py` does.

Actually, there are so many issues with the coopera

[2018-06-16 01:53] HD650 commented on #41611
@webknjaz rager that!

[2018-06-16 03:58] mathewfer commented on #41573
Hi,
Thanks for the reply. Yes, 2.5 has got very limited features. I see most of the features that I am looking for are in 2.6 under "Networks" - all 5 items listed there.

Also looking for the below 2 which are targeted for 2.7.
Devices:

- List devices in a network
- Update the attributes of a device

Does this mean 2.6, when released, all these 5 features will be available, possibly end of this

[2018-06-16 04:22] #38456 closed, assigned to nobody

[2018-06-16 04:47] Akasurde commented on #29799
Yes. I closed my PR as I was not able to give my full attention to it. Your PR is the way to go for now.

[2018-06-16 05:22] ckurdekar opened #41616 "vmware_guest: vapp option to set ovf transport mode, ovf product information"
##### SUMMARY
Add new feature in vmware_guest to set vapp options like  ovf transport mode, ovf product information

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
additional feature in vmware_guest

##### ANSIBLE VERSION
2.6

##### CONFIGURATION
Sharing code changes:
[code]
##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Unable to set vapp option such ovf transport mode, ovf product

[2018-06-16 08:57] SergeVL commented on #27960
Really it's bug of ansible: docker_container **force** image parameter because it check container presence in constructor: If container present it check image different. So image is needed for this.

As I wrote 10 months before to solve this problem just fix method **present** :
Don't check difference if user set **recreate: no**

[2018-06-16 09:15] SergeVL commented on #27960
Oh my God. Now my fixes is not enough.
`
        if container and container.exists:

            container = self.update_limits(container)

            container = self.update_networks(container)
`
docker_container will disconnect networks if I just wont to stop my container without recreating

[2018-06-16 09:51] x-yuri commented on #31595
@sivel But then using inventory wouldn't make a difference, would it?

[2018-06-16 10:50] asingh1989 commented on #41526
@Akasurde Thanks for the prompt response, please close the issue as i got the out by putting in verbose mode.
It will be nice if you include the same in the documentation , that if person want to see the output on console they can use -vvvv

[2018-06-16 11:10] #41283 closed, assigned to nobody

[2018-06-16 11:39] nesanton commented on #34559
Using ```autostart``` with ```define``` should be legit - it's logical to define a vm and make it autostartable. This PR makes autostart usable as standalone task, but does not solve ```define``` + ```autostart``` issue. Task will fail because it attempts to set autostart before defining the vm.

[2018-06-16 12:36] kassiansun commented on #27960
@SergeVL Hi, could you please provide a patch for this? There's so many people accounting this problem.

[2018-06-16 13:08] mathewfer commented on #41573
Thanks.
My tasks are same as I have described before and to use the Ansible module in bulk provisioning.

I tried to check your fork link but I could not find it. Can you please share the link? and I will try to use it and start testing it.

I think I can start using it as user added module to test it.

Please let me know the code location/link.

[2018-06-16 13:36] Akasurde commented on #27387
Fixed via https://github.com/ansible/ansible/pull/30672
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-06-16 13:36] #27387 closed, assigned to nobody

[2018-06-16 13:40] Akasurde commented on #27824
Seems that it is fixed during some other fix. If issue persists, please feel free to re-open.
<img width="1082" alt="screen shot 2018-06-16 at 7 08 48 pm" src="https://user-images.githubusercontent.com/633765/41499112-c1abf634-7198-11e8-87bf-12bd775d59ab.png">

[2018-06-16 13:40] #27824 closed, assigned to nobody

[2018-06-16 13:43] kbreit commented on #41573
https://github.com/kbreit/ansible

You’ll probably want the meraki/meraki_device branch. You will also need to setup a “development environment” using venv it properly path it.

If you have any bugs or anything you want to see, please submit issues

[2018-06-16 14:53] #41547 closed, assigned to nobody

[2018-06-16 15:02] trishnaguha commented on #41457
@ahuffman looks like your nexus device is 3K. Please upgrade your ansible version. 3K is handled in Ansible 2.5.4 https://github.com/ansible/ansible/pull/40322.

[2018-06-16 15:04] BarresB commented on #41541
Thank you for your comments ganeshrn, I tried both `command_timeout` and `connect_timeout` with 120 sec to give it some room. But it didn't change anything. I Put it back to 60 seconds, I figured that should me more than enough.
[code]
Despite Pulse previously being Juniper, somehow there now is probably a difference in handeling the connection via ncclient.. I don't know, but I can't seem to get

[2018-06-16 16:11] kachkaev commented on #26322
@Akasurde I’m away from my laptop, so won’t be able to test this soon. Feel free to ping me in the end of the next week if you still need some help ;–)

[2018-06-16 16:21] Akasurde commented on #29204
After refactor this issue is no longer required. Closing this issue.

[2018-06-16 16:21] #29204 closed, assigned to nobody

[2018-06-16 16:33] Akasurde commented on #29222
Resolved via 9dcea1917568dcccadcdbf10dd56612e543dd242
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-06-16 16:33] #29222 closed, assigned to nobody

[2018-06-16 18:18] BarresB commented on #41541
Thanks again for your quick response. That actually makes a lot of sense, I read it and somehow didn't connect the dots, i feel pretty dumb now. So I tried your suggestion, but unfortunately it isn't changing.. :
[code]
This is de XML I used:
[code]
Still getting the error, operation not supported as can be found in the logs:
[code]
and the other:
[code]

It looks like it's getting close, but it i

[2018-06-16 18:55] apogrebnyak commented on #41540
I agree that the behavior is documented, but the example, submitted by @kupchenko, shows clear violation of principal of least surprise.

Also, the old `include` directive worked in the manner that @kupchenko described, so, in retrospective, changing the `include_*` semantics was not a perfect decision (mainly because you cannot convert all of the old `include` statements to `import_*`)

Maybe add

[2018-06-16 21:36] nesanton commented on #34559
Tried to address this and other issues in #41622

[2018-06-16 21:36] nesanton commented on #41592
Tried to address this and other issues in #41622

[2018-06-17 00:46] owebretthauer commented on #34988
Parrot runs applications within a sandbox. See for more information https://firejail.wordpress.com/
You will find all the security profiles in /etc/firejail.
There is no profile for ansible yet, therefore the default profile is used instead.

To fix the problem you could execute ansible with:
firejail --noprofile ansible my-host -m ping

[2018-06-17 03:38] Akasurde commented on #41526
Closing as per the comment above. If issue persists, please feel free to re-open.

[2018-06-17 03:38] #41526 closed, assigned to nobody

[2018-06-17 04:24] #29902 closed, assigned to nobody

[2018-06-17 04:27] Akasurde commented on #29877
@sivel Is it still the problem ?

[2018-06-17 04:32] Akasurde commented on #30002
@mihai-satmarean Could you please check this module PR - https://github.com/ansible/ansible/pull/40609 ?

[2018-06-17 04:33] Akasurde commented on #30002
resolved_by_pr #40609

[2018-06-17 04:36] Akasurde commented on #29981
From Ansible 2.4 version, the module [github_deploy_key](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/github_deploy_key.py) is available. Closing this issue as feature is available. Thanks.

[2018-06-17 04:36] #29981 closed, assigned to nobody

[2018-06-17 06:51] hjun881 opened #41624 "长久以来的bug一直得不到修复"
##### 长久的bug
 - 当使用script模块时,都会出现连接被断开的问题.  无法解决,
![截图](https://user-images.githubusercontent.com/18508499/41505548-d4378930-723d-11e8-83ac-43328cef0309.png)

[2018-06-17 07:13] nergdron commented on #35585
nope, let's close it!

[2018-06-17 07:13] #35585 closed, assigned to nobody

[2018-06-17 11:07] m4r10k commented on #41577
Is there anything that I can do to support? Are you getting the same result in your environment too?

[2018-06-17 13:42] Akasurde commented on #31600
resolved_by_pr #41627

[2018-06-17 15:28] yaplej commented on #38420
@bdowling @calfonso
I never found a functional workaround for this.  Did you ever create a PR?

Thanks.