[2019-01-21 04:52] Akasurde commented on #50299
@nicholasrodriguez @kendrew71 Could you please check if #51074 works for you ? Thanks.

[2019-01-21 04:52] Akasurde commented on #50299
resolved_by_pr #51074

[2019-01-21 05:02] Akasurde commented on #48281
resolved_by_pr #49960

[2019-01-21 05:07] #48281 closed, assigned to nobody

[2019-01-21 06:18] Fred-sun commented on #51062
@jvalderrama Thanks for your report this issue! Whic ansible you're used? I try to create VM attach data disk and specified the create_option parameter, get success(Ansible version: 2.7.5). It seem meet your minds? if not , please share your question and ansible version? Thanks!
[code]
[code]

[2019-01-21 07:19] blambo10 opened #51116 "VMware: customvalues being again set even if already set on VM"
##### SUMMARY
customvalues key/value already exists,
the module will still set it again

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When running the module, and customvalue key/value pairs are already set on the vm,
this module is sett

[2019-01-21 09:40] kris2kris commented on #51072
After some checks it is a problem from keycloak (https://issues.jboss.org/browse/KEYCLOAK-3723).
I close the issue.

Kind regards

[2019-01-21 09:40] #51072 closed, assigned to nobody

[2019-01-21 09:51] Lunik commented on #51022
@dagwieers Yep pretty interested.
What are the precedures and best practice to achieve this ?

[2019-01-21 10:45] asaf400 opened #51122 "[Feature-Request] aws ecs resource tagging support"
##### SUMMARY
Amazon has implemented a ECS and FARGATE resource tagging feature on November, 2018, details in the following press-release:
https://aws.amazon.com/about-aws/whats-new/2018/11/amazon-ecs-and-aws-fargate-now-allow-resources-tagging-/

Ansible amazon cloud modules should support the new feature, which can be used to enable much richer utilization of Ansible in Service Deployment proces

[2019-01-21 10:48] jsteel44 opened #51123 "vmware_guest - cannot change MAC address on existing interface"
##### SUMMARY

The MAC address is not updated if the NIC already exists. If I delete the NIC and run the task again, the NIC is created and it has the correct MAC address. But I am trying to clone the VM from a template which already has a NIC. One solution would be to delete the NIC first but it seems this cannot be done with vmware_guest.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmw

[2019-01-21 11:04] zeot opened #51124 "vmware_guest not allowing mac address to be set when cloning from template or VM with NIC present"
##### SUMMARY

The module vmware_guest does not allow setting a manual MAC address when cloning from a VM or template with a NIC already present. This does work when connected to a real vSphere host, but not with the govmomi simulator that the Ansible tests run against.

I have gotten it to work [with this small fix](https://github.com/ansible/ansible/compare/devel...zeot:fix-vmware-guest-manual-m

[2019-01-21 11:21] odyssey4me commented on #28797
I think that the ``name`` parameter can take either name or ID. There is no need for an additional parameter.

[2019-01-21 12:00] CSimpiFoN commented on #50881
Hi @justjais,
Is it possible that the problem is caused by our wapi? It might be too old. It's version is 1.7.

[2019-01-21 12:13] jvalderrama commented on #51062
I have seen your point, it was able to create the machine specifying the create option for data_disks and using ansible version 2.7.6, that's right, but the OS disk image is taken in your sample like:

[code]
That is a **not customize OS disk image**, therefore the data_disk list allows to set the create_option parameter therefore I think it has not any effect, even it has not be documented here h

[2019-01-21 12:42] okv commented on #20769
Encountered same issue (using ansible 2.6.2), @GSquad934 works for me - thanks :+1:
Any plans about fixing it?

[2019-01-21 12:46] nicholasrodriguez commented on #50299
#51074 tested, all parameters passed through to the vCenter VMs and they built ok.

[2019-01-21 13:50] watsonb commented on #50443
@nitzmahone, yes, now I see what you're saying. We, too, favor the use of venvs and know that the struggle is real when it comes to certain Ansible use cases.  Just going to leave an update here for posterity/repeatability.

[code]

Get path to venv python and update play vars
[code]

[code]

Run playbook
[code]

OK, pip install latest/greatest requirements-azure.txt

[code]

Run playbook again

[

[2019-01-21 14:19] #16111 closed, assigned to jimi-c

[2019-01-21 14:21] D3DeFi commented on #50834
Thank you for pointing this bug out. I did some quick testing and found a problem within `add_template()` method.

If you look at the method's logic you will see that it first creates 'empty' template via `template.create` API call and then tries to overwrite it via `configuration.import`.

I am a bit worried that there may have been some reason for this particular approach and changing it may bre

[2019-01-21 14:32] richlv commented on #50834
Thank you for looking into this. Hard to say what could have been the reasons, and this also explains other behaviour I was seeing - an empty host created when the actual import failed. That would also go away with this issue resolved.

[2019-01-21 14:36] watsonb commented on #50443
UPDATE: How I work around this

[code]

Run playbook again --> All Azure functionality appears to work (RGs, NSGs, NICS, VMs, etc.).

This is something we had to do in the Ansible 2.4(ish) days if I recall correctly.  I thought it all "just worked" in Ansible 2.5.  Something weird in this Ansible 2.7.5/2.7.6 era.

[2019-01-21 15:00] sivel commented on #50009
Thank you everyone for the confirmation that this is fixed in 2.7.6.  I'll proceed with closing.

[2019-01-21 15:01] IPvSean opened #51132 "eos_eapi idempotency always reports changed"
##### SUMMARY
eos_eapi has no concept of state, always reports changed (yellow text change: true)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_eapi

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
would say `OK` after the first run, similar to junos_netconf

##### ACTUAL RESULTS

[code]

[2019-01-21 15:07] marwatk commented on #51022
@dagwieers I'm interested. When I wrote gitlab_hooks and gitlab_deploy_key I was new to Ansible. They definitely need work.

[2019-01-21 15:15] #29403 closed, assigned to nobody

[2019-01-21 15:18] JoelFeiner commented on #28797
@odyssey4me It can take either, but that's broken. There's no way to specify the name separately from the ID when creating and it had a bug (haven't checked if the above fix actually works) where it would rename the port to the ID, destroying the existing name and breaking idempotence.

[2019-01-21 15:24] ramyakailas commented on #51078
Right, but the Tower installation docs https://docs.ansible.com/ansible-tower/latest/html/quickinstall/download_tower.html#using-vagrant-amazon-ami-images indicate that you can install the latest version of 3.4.0 using Vagrant

[2019-01-21 15:27] odyssey4me commented on #28797
@JoelFeiner OK, to clarify the issue here - with the following task:

[code]

On the first run, the task would get created with the name ``port1``, but then on the second run it would rename it to the uuid of the port?

[2019-01-21 15:35] odyssey4me commented on #28797
Hmm, re-reading the report it seems that you're asking to be able to just provide the ID when modifying the port and it should leave everything else alone. I don't think this is in keeping with the way that Ansible does things and my opinion would be therefore that this is not a bug. Your workaround mentioned in the bug is appropriate. In all ansible modules/tasks it is expected that you provide a

[2019-01-21 15:41] dirkaholic opened #51133 "mysql_user: Using a view in privileges returns "table not found""
##### SUMMARY
When addressing a view in privileges the user and permissions are actually created but the task returns an error that it could not find a table with the name of the view.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_user module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
Just try to create a user and

[2019-01-21 15:47] sivel commented on #51078
This repository is for the open source Ansible project, and not Tower or AWX.

For Tower support, please reach out to your support team.

For AWX, please use https://github.com/ansible/awx

[2019-01-21 15:47] #51078 closed, assigned to nobody

[2019-01-21 15:49] sivel commented on #51040
We do not plan on exposing `ansible.errors` to modules.

Please use a different exception, available to both places.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-01-21 15:49] #51040 closed, assigned to nobody

[2019-01-21 15:54] ParticleDecay commented on #49071
Ok I have somewhat of a WIP module for exactly this. I was gonna file an issue about it until I found this one. I can't believe that Ansible has gone this long without a JSON module, considering how widely it's used these days for config files, npm, data, etc.

I'm trying to adhere strictly to this: [RFC 6902](https://tools.ietf.org/html/rfc6902) and [RFC 6901](https://tools.ietf.org/html/rfc6901)

[2019-01-21 16:13] boudreau commented on #49044
Hi,
any update on this issue ? I have the same, runnning ansible 2.7.2 on a red-hat server.

[2019-01-21 16:24] ktdreyer commented on #51040
Thanks @sivel for evaluating this.

[2019-01-21 16:50] sameermohanty02 opened #51137 "Unable to create service now ticket using ansible"
##### SUMMARY
I am trying to automate opening and closing of Service now tickets using Ansible. I have installed the required modules like pysnow as well. The problem is task runs fine but at the end no service now ticket is created

My ansible version is ansible 2.7.0 and I am running this on a docker container in GNS3.

##### ISSUE TYPE
Bug Report

##### ANSIBLE VERSION
ansible 2.7.0

##### STEP

[2019-01-21 17:01] JoelFeiner commented on #28797
@odyssey4me Or you can fix the bug. This is a simple request with a fix that already exists but is unmerged. I have to admit, I'm a little bit irritated that I'm being told to use a ridiculous workaround when your code is clearly broken. It's fine that it uses either ID or name to look up the port. It's not fine that the port is renamed depending on which method you use to look it up. That violate

[2019-01-21 17:22] anddago commented on #50452
Hello! I can work on this issue. This would be my first contribution, so any help from someone more experienced would be useful.
To my understanding, the `else` case with `result['changed'] = True` should be added in [lib/ansible/modules/files/file.py:](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/file.py#L457)
[code]
Is that correct?
Is there any test I should run?
Than

[2019-01-21 17:24] odyssey4me commented on #28797
@JoelFeiner This is not 'my code'. It is 'our code'. That collective includes you.

I personally do not perceive this as a bug - it is working as designed. If others disagree, then that's perfectly good, but then I think we're going to have to ensure that whatever we do it's done consistently across all the os_* modules - otherwise there are going to be a lot more surprised and irritated people.

[2019-01-21 17:28] #36690 closed, assigned to nobody

[2019-01-21 17:30] JoelFeiner commented on #28797
@odyssey4me That's fine if it's not your code. "The" code.

If other modules have to be fixed, I don't see that as a problem. Consistent behavior is good.

It may not be a bug, per se, but it's definitely a misdesign. If I use a UUID to look up a port, I am not also saying that I want the port to be named the same as the UUID. I don't at all see how that's a reasonable behavior. The fix is to eith

[2019-01-21 18:17] felixfontein commented on #36690
There will be a new option for the `openssl_csr` module in Ansible 2.8 called `useCommonNameForSAN`, which is by default set to `true`; if you set it to `false`, the common name will never be added as a SAN.

[2019-01-21 18:45] johnboy2 commented on #47669
I just ran into this as well. Like @cxcv, in my case I'm getting a hang within Run-Command.

To test these cases, I ended up copying `lib/ansible/module_utils/powershell/Ansible.ModuleUtils.CommandUtil.psm1` over to the Windows server, and then manually invoking `Run-Command` with a few different inputs -- zeroing in on the same input that win_chocolatey uses when installing the choco command.

Ca

[2019-01-21 19:02] #49285 closed, assigned to nobody

[2019-01-21 19:08] abedwardsw commented on #38227
also think with_all_found would be a cleaner implementation.

[2019-01-21 19:46] abadger opened #51143 "Document choice to use Ansible Project in copyright lines"
##### SUMMARY
Document that we use Ansible Project in our Copyright lines

Maybe it should go here:
* https://docs.ansible.com/ansible/devel/dev_guide/developing_modules_documenting.html#copyright-and-license

Red Hat legal gave ideas of what good license and copyright practices are which we've largely adopted.  Most of those practices have been documented on the developing_modules_documenting pag

[2019-01-21 19:53] sivel commented on #51143
Is this mandatory? I know some projects require that you basically sign over copyright when contributing, but we have never done so.

I'd think maybe a recommendation, but I'd be surprised if this was mandatory.

Many of our files use individuals for copyright, if we are changing, I'd think we need a very large and clear explanation.

[2019-01-21 19:55] #49246 closed, assigned to nobody

[2019-01-21 19:56] felixfontein commented on #49246
An option for this will be available in Ansible 2.8.

[2019-01-21 19:58] IPvSean opened #51144 "eos_eapi does not turn on eapi by default"
##### SUMMARY
eos_eapi does not turn on the Arista eAPI, it is missing an important command

today if I have

[code]

it will render this config on the Arista EOS device->

[code]

what it "should" render is this->

[code]

the vrf default no shutdown is not even needed if you are truly just using the default vrf
you will get YES for the top line here->

[code]

the default behavior leaves you wit

[2019-01-21 20:29] #50467 closed, assigned to nobody

[2019-01-21 20:52] agowa338 commented on #50778
How should /a be usefull for this module? Can you explain what you want to archive?
Normally /a is used if one wants to create a installation package, but not within a production environment.
And why do you need additional logging levels? This module should install or uninstall a program.

[2019-01-21 21:01] agowa338 commented on #50133
This seam to be intentional. I've not checked the actual implementation, but the documentation says:
[code]

[2019-01-21 21:11] agowa338 commented on #45950
Currently only AllUser installations are honored by win_package.
If this is changed, one may also want to allow installing within current user mode. Therefore the parameter `MSIINSTALLPERUSER=1` is required, but it is vendor specific...

[2019-01-21 21:15] maxamillion commented on #50237
Upstream fix was accepted, so hopefully this will be a non issue soon. Happy automating!

[2019-01-21 21:33] bhundven commented on #37379
@azaghal Any interest in adding `list`?

[2019-01-21 21:48] johnboy2 commented on #47669
With the change from my PR above, I am no longer able to repro this issue.

[2019-01-21 21:54] #49985 closed, assigned to nobody

[2019-01-21 21:54] varunchopra opened #51151 "Module request: read mail (IMAP support)"
##### SUMMARY
A module to get mail from an IMAP server would be great, for instance, proceeding with a task if confirmation has been received via mail.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`read_mail`

##### ADDITIONAL INFORMATION
[code]

Will list e-mails that match the subject filter.

A bunch of additional filters can be supplied, possibly supporting regular expressions as wel

[2019-01-21 21:56] haydenfuss commented on #11594
Agreed with @lcarva, this is my exact use case as well. I have a keystore I need to make an OpenShift Secret out of and I'm using Ansible's `k8s` plugin:

[code]

Which then fails with:

[code]

I'll try the `slurp` work around, but its annoying to have to make a tempfile/var to read a binary file.

[2019-01-21 22:20] #50843 closed, assigned to nobody

[2019-01-21 22:51] BarbzYHOOL opened #51153 "Don't deprecate with_nested"
##### SUMMARY

Please, don't deprecate with_nested
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

with_nested
##### ADDITIONAL INFORMATION

Don't deprecate with_nested because it's much more practical than "product", it's much more visual

What is more appealing to the eyes?
[code]

I think you guys want to deprecate every "with_*" for "product" but not sure it's the best idea.

[2019-01-21 22:55] sivel commented on #51153
`with_` is not deprecated, and although we plan to deprecate that syntax eventually, we do agree that there needs to be a UI improvement to `loop` to make such a deprecation feasible.

Additionally, when we do deprecate `with_` in favor of `loop`, it will likely be an extended deprecation cycle.

In the future, these topics are better left for the #ansible-devel IRC channel or the ansible-devel ma

[2019-01-21 22:55] #51153 closed, assigned to nobody

[2019-01-22 00:13] #47669 closed, assigned to nobody

[2019-01-22 00:21] Tomorrow9 commented on #45407
@mrmagooey, Hi, I submitted the changes, can you try it and if there is any issue please let me know. Thanks. It supports IDE controller now and will add SATA controller later.

[2019-01-22 00:30] #48760 closed, assigned to nobody

[2019-01-22 00:34] arruko commented on #45834
It might be a useful workaround install [govmomi/toolbox](https://github.com/vmware/govmomi/tree/master/toolbox) Go package into VM Template.

For instance, I'm not getting any issue after adding these tasks during VM Template creation (before `vmware_guest` module). I'm testing some VMs on a development pool:

Someone has tried with this approach?

**OS / ENVIRONMENT**
vCenter 6.7
ESXi 6.7
Templa

[2019-01-22 02:01] bengerman13 opened #51159 "ec2_group fails when rule references self in diff mode"
##### SUMMARY
ec2_group when there is a rule referencing the group being created by name and you are using `--diff`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The security group should be created

##### ACTUAL RESULTS
[code]

[2019-01-22 02:33] abadger commented on #51143
We aren't going to start asking people to sign over copyright (At least, that's not my intent with this issue and I haven't heard any anyone say they want that.... I do think that Red Hat generally thinks copyright assignment is a bad idea so I'd hope there isn't any discussions leading in that direction that I haven't heard about).

I do think that if people want to include their own (individual,

[2019-01-22 02:50] Fred-sun commented on #51062
@jvalderrama Thanks for your contribution, Yeah, The create_option parameter has no specification restrictions on the type of VM created.

[2019-01-22 02:54] Fred-sun commented on #51062
@zikalino Can you help me with this issue? The parameter create_option of data_disk has no constraints on the operating system type used to create the VM. Thanks!

[2019-01-22 03:08] jborean93 opened #51160 "Add CI platform: linux/fedora30"
##### SUMMARY

Replace the oldest `linux/fedora28` platform in the test matrix with `linux/fedora30`.

Fedora 30 is expected to be released on April 30th, 2019.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2019-01-22 04:25] #51067 closed, assigned to nobody

[2019-01-22 04:31] jborean93 commented on #50133
I've added this to the agenda as I don't think it should be a supported scenario but because it's been documentated in the examples we should either update that or create a bugfix. I don't think it should be supported as you would require the source to be set if the source doesn't already exist. Technically we could say we would only require the source if it doesn't already exist but that is not p

[2019-01-22 04:35] bovender commented on #45219
On a Raspberry Pi with osmc (which is currently based on Debian Stretch), I had to use

    ansible_become_flags="--login" # (or "-i")

to make it work.

[2019-01-22 04:52] nanisyako opened #51161 "Creating network container with infoblox nios modules"
##### SUMMARY
Creating Network containers as well as networks.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
infoblox-client
nios modules

##### ADDITIONAL INFORMATION
When I am provisioning new sites via ansible , I am getting next availalbe /20  and trying to subnet it per requirement for data,voice,mgmt etc. If I create this /20 in infoblox then I will not be able to create the voice,d

[2019-01-22 04:57] nanisyako opened #51162 "Creating Infoblox DHCP Failover pairs"
##### SUMMARY
DHCP failover pais provide redundancy to dhcp served subnets in case of one the servers went down. And many companies which are using Iblox as IPAM solution using this feature and it is mandatory option when you are creating dhcp pools.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
infoblox-client
nios modules
##### ADDITIONAL INFORMATION
Since we want everything to be auto

[2019-01-22 06:31] felixfontein commented on #46362
A `podman` connection plugin has been added in #47519.

The modules @samdoran mentioned are available here: https://github.com/openstack/tripleo-ansible/tree/master/tripleo_ansible/library
I think it would be nice to integrate these into Ansible and extend them to offer more choice.

[2019-01-22 06:37] yangxu1362850636 opened #51167 "Ansible uses yml playbook for web upgrade, host group part host error:"
max retries exceeded with url: /wsman ... (connection timeout=30), but some hosts can successfully execute playbook. (The hosts are on the same private network and there is no firewall between them)
The above premise is: the same network environment, the same host configuration, and I have confirmed that all machines open port 5985.
After repeatedly executing the playbook, some of the hosts that h

[2019-01-22 06:38] yangxu1362850636 commented on #51167
another question, i have edit the /etc/ansible/ansible.cfg : timeout = 100, why the ansible still tell me the error that (conenction timeout=30)

[2019-01-22 06:41] yangxu1362850636 commented on #51167
the ansible server is in the windows VMware Centos 7

[2019-01-22 07:13] xnorma commented on #1619
@quangvnm bravo!

[2019-01-22 08:03] Fred-sun commented on #40857
@yungezz @zikalino

[2019-01-22 08:14] digitalhuman commented on #24855
I have the same issue on Debian 9 strech..

[2019-01-22 09:04] nadimm90 commented on #40032
Running `sudo pip install -r requirements.txt`
is retunring the below:

Installing collected packages: requests, hvac, ansible-modules-hashivault
  Found existing installation: requests 2.6.0
Cannot uninstall 'requests'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

[2019-01-22 09:37] mjrider opened #51171 "apt_repository breaks on debian/buster with python3 on target"
##### SUMMARY
apt_repository doesn't work when used against debian buster while using pyton3

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION
ansible 2.6.12
ansible 2.7.6

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
target debian buster in virtualbox

##### STEPS TO REPRODUCE
Python2:
[code]

python3:
[code]
aio-d is a debian-buster install, install

[2019-01-22 10:04] stiefel40k opened #51172 "k8s module in check-mode throws UnboundLocalError"
##### SUMMARY

The k8s module throws an UnboundLocalError if the playbook is started in check-mode.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

It is a standard AWX installation. With some additional modules installed. See below:
[code]

[code]
##### STEPS TO REPRODUCE

1. create a minimal task, like c

[2019-01-22 10:12] mjrider commented on #51171
+label affects_2.7

[2019-01-22 10:35] dagwieers commented on #51022
@Lunik We could to do the following:

- Identify stakeholders to get consensus
  - @marwatk @dj-wasabi @SamyCoenen
- Move the gitlab modules into its own sub-directory
- Create a $team_gitlab in BOTMETA.yml
- Create a Gitlab label on GitHub to track issues/PRs ?
- Maybe start a Gitlab WG to discuss?
  - A Gitlab pinboard on ansible/community ?
- Make a proposal for standardizing parameters

Obviou

[2019-01-22 11:04] gundalow commented on #51022
@Lunik great research and documentation of the problem, thank you.

I like the idea of starting a Working Group, @dagwieers' comments above sound look.

Starting with a single PR to move to `gitlab` subdirectory and define a group in BOTMETA would be great.

[2019-01-22 11:30] ilboud commented on #42614
Any updates on v6 support? I am willing to test as needed...

[2019-01-22 11:39] pfisterer commented on #49451
I have a similar issue (using ansible 2.7.0).

- First run: It creates the router, everything is fine.
- All consecutive runs:  I get the following error: `Error detaching interface from router 57581af4-12db-4c8c-98dd-2ea55354770d: Client Error for url: http://controller.4c.dhbw-mannheim.de:9696/v2.0/routers/57581af4-12db-4c8c-98dd-2ea55354770d/remove_router_interface.json, {"NeutronError": {"mess

[2019-01-22 11:43] Tahvok opened #51174 "gcp_compute_instance doesn't return output on second run"
##### SUMMARY
Running gcp_compute_instance for second time won't return any facts to register (except changed and failed)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

archlinux
debian
coreos
##### STEPS TO REPRODUCE

Run the following tasks for 1 time - you will see the full debug outp

[2019-01-22 11:59] till opened #51175 "docker_swarm init fails on consecutive runs with warnings about urllib3 and charded and KeyError regarding "Labels""
##### SUMMARY

I am building a playbook to init a swarm cluster via Ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`docker_swarm`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible inside a Docker container (`FROM python:3.7-slim`)
Target OS (where this fails) is: CentOS7

[code]

##### STEPS TO REPRODUCE

 - put the code into a pla

[2019-01-22 12:18] till commented on #51175
My current workaround:

[code]

[2019-01-22 12:31] CSimpiFoN commented on #50881
Hi @justjais,

Here is the output:
[code]

[2019-01-22 12:54] justjais commented on #50881
@CSimpiFoN thanks for updating the debug output and I agree the output seems fine to me as well. So, can you please try following two things:
1. Put debug statement with `q` modules at each line starting from `line: 240` i.e. above line `modified = not self.compare_objects(current_object, proposed_object)` with some debug statement as `q('TEST Line Number 240: ', modified)`, paste in the output wh

[2019-01-22 13:00] MichaelBaydoun commented on #40030
+1

[2019-01-22 13:09] mccannjake commented on #50932
I have the same issue.
Ansible 2.7.5
Ontap 9.4 and Ontap 9.1P9

[2019-01-22 13:11] dagwieers commented on #51022
@waheedi Agreed, we should publish a set of standardized parameters (and possibly discuss non-standardized ones to have a new standard).

Anyone can start this discussion BTW, don't wait for someone else to do this. You can bring this up in the Documentation WG (which meets in a few hours on IRC). The meeting agenda is at: https://github.com/ansible/community/issues/389 If you need help with somet

[2019-01-22 13:13] CSimpiFoN commented on #50881
Hello,
[code]

[2019-01-22 13:14] dagwieers commented on #51022
PS [Wiki page](https://github.com/ansible/community/wiki/Gitlab) was added, I created [a Gitlab pinboard](https://github.com/ansible/community/issues/431) (for generic discussions), I added gitlab labels and I still need everyone's feedback if they want to become part of $team_gitlab, add your name to the list on the Wiki. Everyone interested in help review and merge PRs is welcome to be involved!

[2019-01-22 13:31] ganeshrn commented on #50510
`junos_command` by default supported netconf connection type and later on network_cli connection type support was added since there was no way to execute commands on junos device using this module if the environment doesn't support enabling/running nectonf commands. Since prompts and answer is not applicable for netconf transport it was not added.

After the introduction of `cli_command` imo it is

[2019-01-22 13:41] Akasurde commented on #51159
Readable traceback

[code]

[2019-01-22 13:44] Akasurde commented on #51137
!component =lib/ansible/modules/notification/snow_record.py

[2019-01-22 13:57] nimeops commented on #46440
Hi, could you tell us when this fix will be in stable version?

[2019-01-22 14:01] andyeff commented on #22930
Can confirm this is working for me as intended.

The relevant pair of tasks that do the work from my playbook:

[code]

If it's of any use, my mount_opts before I add the credential location is: mount_opts: "vers=3.0,dir_mode=0777,file_mode=0777,sec=ntlmssp"

[2019-01-22 14:01] fschmager commented on #11594
How about using [`fetch`](https://docs.ansible.com/ansible/2.4/fetch_module.html#fetch)?

[2019-01-22 14:07] IPvSean commented on #50510
ok close this, I am going to write a blog post on this and get you to review it.  This makes sense but I can go through each scenario, e.g. loop vs retries, until loop vs match/interval

i would assume this needs to go into a porting guide at some point before we convert our users.

[2019-01-22 14:44] CSimpiFoN commented on #50881
Yep, looked better:
[code]

[2019-01-22 14:55] abenokraitis commented on #47905
Hi @noname1314 , we've had a few people in Ansible Engineering try to reproduce this (but were unsuccess). Can you share your inventory? This could be another area to investigate.

[2019-01-22 14:56] ganeshrn commented on #50368
@yosemitesammy217 This can be achieved with Ansible currently by passing [--check](https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html) and [--diff](https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html#showing-differences-with-diff) command line options while running ansible playbook.

[2019-01-22 14:58] dirkaholic commented on #51133
Ran the playbook on multiple hosts and it actually failed only for the ones where the view really did not exist, so I guess this is not an issue any more.

[2019-01-22 14:58] #51133 closed, assigned to nobody

[2019-01-22 15:13] bcoca commented on #51033
@AlanCoding confirm that the PR above resolves the issue for you

[2019-01-22 15:20] justjais commented on #50881
@CSimpiFoN so, seeing the output seems like `create_object` is causing exception, so did you check that if with the same input for `host_record` you are able to create `host_record` entry in nios instance via the REST client, (for reference: https://www.infoblox.com/wp-content/uploads/infoblox-deployment-infoblox-rest-api.pdf).

[2019-01-22 15:30] CSimpiFoN commented on #50881
This command works properly:
[code]

[2019-01-22 16:21] dagwieers opened #51178 "Change Wiki index to something more concise"
##### SUMMARY
The current Wiki index has become too bloated.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
Wiki

##### ADDITIONAL INFORMATION
This is what the proposal would look like:
![screenshot from 2019-01-22 17-19-57](https://user-images.githubusercontent.com/388198/51549183-310fda80-1e6a-11e9-885a-69c8a7559309.png)

[2019-01-22 16:34] bcharboneauiherb opened #51179 "inventory plugins - Filters Details"
##### SUMMARY
inventory plugins do not describe how to use filters section
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
inventory plugins

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04.5

##### ADDITIONAL INFORMATION
add documentation on filters: section eg. common examples.

Can a filter be used to exclude instead of just include

[2019-01-22 16:37] abenokraitis commented on #37366
Greetings, if this is still an issue, please re-open and provide an update. Thanks!

[2019-01-22 16:37] #37366 closed, assigned to ganeshrn

[2019-01-22 16:41] strom18 opened #51180 "[vmware_guest] vswitch portgroup and distributed portgroup have same name. Clone failed"
##### SUMMARY

We have a VMware network Portgroup which have the same name on vSwitch and Distributed vSwitch.
When we clone a new virtual machine on a cluster with standard vSwitch, the clone failed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
vCenter 6.5u2 & ESXi 6.0u3

##### STEPS TO REPRODUCE

1.

[2019-01-22 16:49] carchi8py commented on #50932
When we working on adding a version select in #51181 we hit the same/similar issue.
We fixed that issue in that change by modifying how _finditem works and added unit test to prevent it in the future. I believe this will fix your issues as well.

Because we fixed this issue while adding a new feature i don't think we'll be able to backport this to ansible 2.6 or 2.7

[2019-01-22 17:02] qwoodmansee commented on #34696
+1

[2019-01-22 17:08] AlanCoding commented on #51033
Thanks, it's on my agenda to test that tomorrow.

[2019-01-22 17:31] jtyr commented on #22930
Thanks for the confirmation, @andyeff.

@ansibot please `bug_resolved` as this is not an issue anymore.

[2019-01-22 17:49] #22930 closed, assigned to nobody

[2019-01-22 17:52] jfcgaspar opened #51186 "sros_command throwing traceback error in wait_for contains matching"
##### SUMMARY

When running an ansible-playbook that runs tasks that call the module sros_command with wait_for parameter defined that includes the conditional matching for something like "A : B", the task fails and an exception is thrown:

"An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError: 'dict' object has no attribute 'read'"

But i

[2019-01-22 17:54] mortalius commented on #43506
And for fixed-response it work same way.
`
DefaultActions:
          - Type: fixed-response
            FixedResponseConfig:
              ContentType: 'text/html'
              MessageBody: '<b>Nothing There</b>'
              StatusCode: '200'
`
And actually for any other type should work too. Just make Config block according to https://docs.aws.amazon.com/en_us/elasticloadbalancing/latest/APIRe

[2019-01-22 17:57] mattclay opened #51187 "Failing integration test azure_rm_postgresqlserver"
##### SUMMARY

Failing integration test azure_rm_postgresqlserver:

https://app.shippable.com/github/ansible/ansible/runs/103270/88/tests

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure_rm_postgresqlserver integration test

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

`ansible-test integration azure_rm_postgresqlserver --

[2019-01-22 18:02] gundalow commented on #51178
LGTM

[2019-01-22 18:02] jfcgaspar commented on #51186
By the way, confirmed this behaviour with the colon in the pattern string, because if you enclose the colon in a Jinja2 expression, {{ ":" }}, the output is just as expected and works fine via playbook.

[2019-01-22 18:18] mattclay commented on #51187
The integration test has been disabled in devel: https://github.com/ansible/ansible/pull/51185

[2019-01-22 18:22] MarkMielke commented on #50237
I think this is still an Ansible regression. Fedora 29 targets were working for me, but I just found they broke and it was because of upgrade from Ansible 2.7.4 to 2.7.5. Reverting to 2.7.4 returns this to working. Upgrading to 2.7.5 breaks it again.

The upstream fix to DNF is great for future, but that version of DNF is not available for Fedora 29 at this time, and I see no easy option to patch

[2019-01-22 18:25] swickera opened #51188 "win_updates: add server selection option to variables"
##### SUMMARY
win_updates module is missing an option to supply the ServerSelection option to the update searcher session.  Adding this option would allow the update engine to use non-default update sources if desired.  A great use case is for managed Windows systems where the default update source is locally forced to either WSUS or SCCM repositories and admins want to force a scan against the on

[2019-01-22 18:41] marwatk commented on #51022
Speaking for myself, my issue was the existing modules used different upstream dependencies and instead of choosing between them I went for no external dependencies. I'm not sure that was the best choice as it puts the testing burden on Ansible instead of an upstream library, but I don't think requiring different libraries for different API calls is ideal, either.

[2019-01-22 18:59] orderedchaosdev commented on #43506
@mortalius @emanuele-leopardi-dap actually the errors happen when you try to update an existing alb that already has something like fixed-response.
Try running the module again to update the fixed response. At least in my version of ansible it will error out

[2019-01-22 19:09] felixfontein commented on #51175
For readability, here's the stacktrace from the task output:
[code]
The module noticed that there's already a swarm, and wanted to update it, but there was an error while updating.

Could you find out which docker-py / docker version you are using on the remote host, where the module is executed? (`pip show docker` resp. `pip show docker-py`) It would also help to know the version of the docker da

[2019-01-22 19:11] felixfontein commented on #51175
The warnings on `urllib3` and `chardet` come from [requests](https://pypi.org/project/requests/), which is used by the Docker Python API (docker resp. docker-py). This is probably unrelated to this issue.

[2019-01-22 19:48] swickera commented on #51188
@jborean93 Sure thing..

[2019-01-22 19:52] bcoca commented on #35382
in meeting we decided that each module should take care of state and that it doesn't make sense to do this globally. So we will open PR in future to address this.

[2019-01-22 20:04] GoneWacko opened #51190 "[reboot] Ansible hangs on molly-guard prompt if molly-guard is installed on target host."
##### SUMMARY

The `reboot` module that was introduced in Ansible 2.7 does not work when `molly-guard` is installed on the remote host.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

reboot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS: Ubuntu 16.04.5

##### STEPS TO REPRODUCE

On the target host running Ubuntu 16.04:
[code]

Then, run the `r

[2019-01-22 20:05] radez commented on #50767
#50952 is merged, this issue can be closed

[2019-01-22 20:05] #50767 closed, assigned to ganeshrn

[2019-01-22 20:07] nitzmahone commented on #51032
+1 from Working Group discussion

[2019-01-22 20:10] mattclay commented on #50967
!component =contrib/inventory/azure_rm.py

[2019-01-22 20:12] #50967 closed, assigned to nobody

[2019-01-22 20:18] jctanner commented on #50979
!component =lib/ansible/modules/cloud/amazon/ec2_eip.py
!component +lib/ansible/module_utils/ec2.py

[2019-01-22 20:22] mattclay commented on #50983
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-22 20:22] #50983 closed, assigned to nobody

[2019-01-22 20:29] #51004 closed, assigned to nobody

[2019-01-22 20:31] samdoran commented on #50976
This is by design. Changing this behavior is not something we plan to do since it has been this way for a very long time.

You can use the `type_debug` filter to check the type of a variable, which may help find errors like this.

[code]

[code]

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups

[2019-01-22 20:31] #50976 closed, assigned to nobody

[2019-01-22 20:32] s-hertel commented on #50979
This would be resolved by #50539

[2019-01-22 20:32] mattclay commented on #51021
!component =lib/ansible/modules/cloud/azure/

[2019-01-22 20:36] samdoran commented on #35382
I will work on a PR to get this sorted.

[2019-01-22 20:37] mattclay commented on #51025
@dagwieers Can you put this on the core meeting agenda?

[2019-01-22 20:40] s-hertel commented on #51025
Does [`ANSIBLE_INVENTORY_UNPARSED_FAILED`](https://github.com/ansible/ansible/blob/devel/lib/ansible/config/base.yml#L1477) work for this?

[2019-01-22 20:41] #50431 closed, assigned to nobody

[2019-01-22 20:45] patrick-andrew-jain-taylor opened #51193 "Running nios_a_record with "state = absent" does not remove the record."
##### SUMMARY

I have modified an existing playbook to go from adding an A record to removing an A record. The state continues to show ok instead of changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nios_a_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect an outpu

[2019-01-22 20:47] mattclay commented on #51046
Switch to Proposal
===================

Hi!

As of April of 2016, we have started using the Ansible Proposal process for large feature ideas or changes in current functionality, such as this. If you are still interested in seeing this new feature get into Ansible, please submit a proposal for it using this process.

https://github.com/ansible/proposals/blob/master/proposals_process_proposal.md

If

[2019-01-22 20:47] #51046 closed, assigned to nobody

[2019-01-22 20:52] s-hertel commented on #51057
Is your s3_url correct? Looks like `fakes3s://`, but should start with `fakes3://`

[2019-01-22 20:55] mattclay commented on #51061
!component =lib/ansible/modules/cloud/linode/linode.py

[2019-01-22 21:09] abadger commented on #50955
This should now be fixed.  The beta key has been uploaded to https://releases.ansible.com/keys/ as well.

[2019-01-22 21:09] #50955 closed, assigned to abadger

[2019-01-22 21:23] #51167 closed, assigned to nobody

[2019-01-22 21:34] sivel commented on #51179
`filters` is not a generic functionality of inventory plugins.  I do see that some inventory plugins do have a `filters` option, but they are independent of one another, and have different implementations.

Can you please let us know which inventory you are working with and what problems you are having?

needs_info

[2019-01-22 21:40] bcharboneauiherb commented on #51179
aws_ec2 and gcp_compute primarily. will eventually look into vmware_vm_inventory as well.

[2019-01-22 21:44] neonardo1 commented on #10829
+1

[2019-01-22 21:57] samdoran commented on #51190
This is probably the point at which we should move to making `DEFAULT_SHUTDOWN_COMMAND` and `DEFAULT_SHUTDOWN_COMMAND_ARGS` parameters that can be passed to the plugin. I have been hesitant to do that, but that is probably better than coding around this.

[2019-01-22 22:00] samdoran commented on #51190
Actually, I just tested adding `/lib/molly-guard/` to the paths to search for the shutdown command and that works. Maybe that is the simplest solution.

[2019-01-22 22:32] mcg opened #51195 "Support using public ip in the v4 Linode dynamic inventory plugin"
##### SUMMARY
The older Linode dynamic inventory plugin allowed the public IP to be used as well as the instance's label. Bring that functionality back to the newer v4 compatible Linode inventory plugin.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`lib/ansible/plugins/inventory/linode.py`

##### ADDITIONAL INFORMATION
This allows the inventory plugin to be used with infrastruction that

[2019-01-22 22:45] yosemitesammy217 commented on #50368
thank you for the education.

[2019-01-22 22:45] #50368 closed, assigned to ganeshrn

[2019-01-22 22:51] jamesmarshall24 opened #51197 "RFE: Add Ability to Iterate Loops Over Blocks"
##### SUMMARY

Allow ability to loop over blocks in playbook

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

blocks

##### ADDITIONAL INFORMATION

[code]

[2019-01-22 22:58] BDworak commented on #51197
this is also referenced here: https://github.com/ansible/ansible/issues/46203

[2019-01-22 22:59] bcoca commented on #51197
dupe of #13262

[2019-01-22 23:08] rambleraptor commented on #45105
I believe this should be fixed. I'm going to close this issue unless anybody has any objections.

[2019-01-22 23:14] rambleraptor commented on #51174
I'm having some issue replicating this. I'm pretty sure that it's been fixed in HEAD.

[2019-01-22 23:16] rambleraptor commented on #51097
The facts modules are returning a structure that looks like the following.

[code]

If you look at the 'items' entry, you should be able to loop through that. Is that not the case? Is it more standard-practice to have this return the array directly?

[2019-01-22 23:29] #51197 closed, assigned to nobody

[2019-01-22 23:30] bcharboneauiherb commented on #51179
I am looking to see if the filters for the above plugins can be used to exclude hosts rather that include.

[2019-01-22 23:41] sivel commented on #51179
!component =lib/ansible/plugins/inventory/aws_ec2.py
!component +lib/ansible/plugins/inventory/gcp_compute.py

[2019-01-23 00:14] #50943 closed, assigned to jborean93

[2019-01-23 00:34] nitzmahone commented on #51171
I'm not able to reproduce this on the `debian:buster` docker image that was built today:
`apt update`
`apt install software-properties-common gpg python3 -y`

(then running the ansible command you did against it)

The repo is properly added so long as I skip the cache update, since it's complaining about the missing Release file, but that's clearly not where you're seeing a problem...

[2019-01-23 00:38] awprice commented on #43029
Any update on this? This is preventing us from migrating to Python 3.

[2019-01-23 01:03] #46682 closed, assigned to nobody

[2019-01-23 01:36] yungezz commented on #51187
HI @zikalino   could you pls have a look?

[2019-01-23 01:57] Fred-sun commented on #46440
@nimeops Thanks for you pay attention on this. The exact release date is uncertain, but you can use it by installing the devel version. Thanks!

[2019-01-23 02:11] sidewinder12s opened #51200 "Remove references to docker-py from docker module documentation"
##### SUMMARY
Docker module documentation should be updated to require `docker` python module, not suggest it instead of docker-py

Docker version 18.9 switched to a hard requirement of TLS v1.2.
At least on alpine 3.8 & using pip,  docker-py is stuck at version 1.10.6 which appears to not support TLS v1.2 or doesn't use it by default, leading to the docker_* modules failing when using TLS for com

[2019-01-23 02:20] yungezz commented on #49771
@zikalino  HI Zim, could you pls check if the fix was on  2.7.6? and share which releases they're shipped with?

[2019-01-23 03:21] zikalino commented on #51187
seems it's some kind of temporary issue. I will check further

[2019-01-23 03:22] jborean93 commented on #51063
@chopraaa I've raised a PR to make things case insensitive but to display a warning for insensitive matches. It would be great if you could test it out and let us know how it goes https://github.com/ansible/ansible/pull/51203.

[2019-01-23 03:25] WRJFontenot opened #51204 "nios_a_record fails adding same A record to different view."
##### SUMMARY

nio_a_record fails when adding same A record to different view.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios_a_record.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Both A records should be added to different views.

##### ACTUAL RESUL

[2019-01-23 03:41] Akasurde commented on #51195
!component =lib/ansible/plugins/inventory/linode.py

[2019-01-23 03:41] Akasurde commented on #51195
resolved_by_pr #51196

[2019-01-23 04:08] ganeshrn commented on #50368
You can use Ansible modules to copy diff in a file.
For example:
[code]

[2019-01-23 04:09] ganeshrn commented on #50368
Closing this issue now, feel free to reopen it if the proposed solution does not meet your expectation.

[2019-01-23 04:14] #50510 closed, assigned to ganeshrn

[2019-01-23 04:49] ilboud commented on #42614
@ChrisDoesCode any luck with this?

[2019-01-23 05:09] felixfontein commented on #51200
The [documentation](https://docs.ansible.com/ansible/latest/modules/docker_container_module.html#requirements) already *does* mention [docker](https://pypi.org/project/docker/) and says that it is preferred over [docker-py](https://pypi.org/project/docker-py/). (Also, docker does not support Python 2.6 anymore, while docker-py still does.)

Also, there's the general problem that the library is sti

[2019-01-23 05:35] Fred-sun commented on #51021
@yuwzho Could you help take a look this issue when you're available? add azure_rm_subnet_facts module/ Thanks!

[2019-01-23 05:44] trishnaguha commented on #50626
@BDworak I am curious if the applied patch is activated on your environment or not. Note this fix is not released yet, It will be released with next 2.7.x release.

Can you please follow the following steps?
[code]
The output of the last command should point to `<present-working-directory-path>/bin/ansible`

`ansible --version` command should return `ansible 2.8.0.dev0`
Please note that devel vers

[2019-01-23 05:58] Fred-sun commented on #49771
@yungezz @zikalino Test fail on ansible 2.7.6. fixed by ansible 2.8.0 dev0. Thanks!

[2019-01-23 06:35] mattclay commented on #51187
The tests are also failing in stable-2.7 and stable-2.6 and have been disabled there as well:

* stable-2.7 - https://github.com/ansible/ansible/pull/51210
* stable-2.6 - https://github.com/ansible/ansible/pull/51211

[2019-01-23 07:14] harmanbirdi commented on #33373
I am using the CLI as well and delegating the action to localhost. It would be better to have some sort of native support for it, even if it is enabled using an additional flag (or parameter), so that the backward compatibility is maintained if done in ec2 module.

This does assume that `aws` cli is installed on the local machine, and is available to the user running the shell command, including h

[2019-01-23 07:14] mjrider commented on #51171
Just tested it again, after making sure i had all those packages installed, and it breaks
a google around on the exception points me to https://www.python.org/dev/peps/pep-0479/

[2019-01-23 07:19] igoratencompass commented on #35645
For me the archive was not downloaded properly, running tar manually gave:
[code]

[2019-01-23 07:38] trishnaguha commented on #50626
As discussed with @BDworak the fix is now working as expected after applying the full patch. Hence closing the issue.

[2019-01-23 07:38] #50626 closed, assigned to trishnaguha

[2019-01-23 08:00] Fred-sun commented on #39977
@yungezz

[2019-01-23 08:09] DhruvBansal86 commented on #50967
@mattclay can you explain what is the solution please? I am unable to understand from the above reply.

[2019-01-23 08:37] davidebelloni commented on #45105
Nope is not resolved!

Nothing has changed also with 2.7.5 version

[2019-01-23 08:40] bzak9LD commented on #50976
Ok, that will help. Thanks!

[2019-01-23 08:47] mattclay commented on #50967
@DhruvBansal86 You can ignore the first comment, `!component =contrib/inventory/azure_rm.py`, as that was intended to instruct our bot how to handle this issue. See my second comment for where you can go to get help on this issue: https://github.com/ansible/ansible/issues/50967#issuecomment-456545748

[2019-01-23 09:37] xenlo commented on #51123
Same topic than:
- "#51124 - vmware_guest not allowing mac address to be set when cloning from template or VM with NIC present"

Linked to:
- "#51066 - vmware_guest - cannot change MAC address on existing interface"

[2019-01-23 09:38] xenlo commented on #51124
Same topic than:
- "#51123 - vmware_guest - cannot change MAC address on existing interface"

Linked to:
- "#51066 - vmware_guest - cannot change MAC address on existing interface"

[2019-01-23 09:39] xenlo commented on #51066
Linked to:
- "#51123 - vmware_guest - cannot change MAC address on existing interface"
- "#51124 - vmware_guest not allowing mac address to be set when cloning from template or VM with NIC present"

[2019-01-23 09:46] iddq opened #51213 "VMware: vmware_guest: fails when using customization"
##### SUMMARY
customization is not successful after cloning from the template.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
PyVmomi-6.7.1.2018.12
Python 2.7.5
CentOS Linux release 7.6.1810 (Core)
VMware vCenter Server Appliance 6.5.0.15000

##### STEPS TO REPRODUCE
ansible-playbook test.yml

cloning ha

[2019-01-23 10:20] gravitypaint commented on #50890
We have been testing isolated sections of our code and found that this issue occurs when deploying the sanitized file using eos_config with replace set to line.
When replace is set to config, it deploys as expected, but as we do not have all our configuration in ansible this is not an option for us at the moment.

We have tested on ansible 2.6, which works as expected, it is only 2.7 onwards where

[2019-01-23 10:23] Andersson007 commented on #47048
Hello, db parameter also is used as a database name to connect
[code]

[2019-01-23 10:32] illogic-al commented on #15597
Just to add that the solution above from @b-a-t does not work when attempting to use `become_method=doas` on FreeBSD 11. The FreeBSD 11 doas has a `Password:` prompt by default.

Below you can see what I have in my `/usr/local/etc/doas.conf` file on FreeBSD 11.1 (I can confirm this is an issue in 11.0 also)

[code]

#### ANSIBLE VERSION
[code]

#### OS / ENVIRONMENT
From: Mac OS X 10.13.6
To: Free

[2019-01-23 11:02] gravitypaint commented on #50890
We have been testing isolated sections of our code and found that this issue occurs when deploying the sanitized file using eos_config with replace set to line.
When replace is set to config, it deploys as expected, but as we do not have all our configuration in ansible this is not an option for us at the moment.

We have tested on ansible 2.6, which works as expected, it is only 2.7 onwards where

[2019-01-23 11:05] Andersson007 commented on #47048
As shown in the code of the comment above, you can pass db parameter and Ansible connects to the database by passed name. If you meant to switch the database for something after connection established, based on this module functionality, it doesn't make sense because roles are global objects for whole cluster. Or maybe I didn't understand you properly.

[2019-01-23 11:20] Chrisjerry9618 commented on #46980
Please install these packages on ubuntu server

sudo apt install python-minimal python-simplejson

[2019-01-23 11:44] saxus commented on #47048
Well... I didn't really checked the source code, I started with documentation. And this is what documentation says: "Name of database where permissions will be granted." It's really misleading for two reason: there is not a single word about it in the documentation and its mix two very different functionality (connect to the DB server for a role creation and granting permission on database's objec

[2019-01-23 12:40] shrmrf commented on #35645
+1

The tarball is present inside the VM and manually extracting it works fine (i.e. `tar zxvf l_openvino_toolkit_p_2018.4.420.tgz` )

[code]

[2019-01-23 12:42] astorath opened #51218 "apt module reports an error when package is included in `apt-mark hold`"
##### SUMMARY
apt module
- does upgrade packages when `state=present` is specified
- reports an error when package is included in `apt-mark hold` or `dpkg hold` and an upgraded version is available

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Tested on Ubuntu 16.04 LTS, but I pretty much sure this issue

[2019-01-23 12:42] Andersson007 commented on #47048
I posted a block of code for other developers. I agree with you, documentation isn't clear. I'm not an author of the module but I'll think about solving this ambiguity. Thank you much for feedback! It helps to make Ansible better.
Answering your question, the module uses Psycopg2 python library to interact with the database. I haven't found any mentions in documentation about a possibility of data

[2019-01-23 12:43] Andersson007 commented on #47048
I posted a block of code for other developers. I agree with you, documentation isn't clear. I'm not an author of the module but I'll think about solving this ambiguity. Thank you much for feedback! It helps to make Ansible better.
Answering your question, the module uses Psycopg2 python library to interact with the database. I haven't found any mentions in documentation about a possibility of data

[2019-01-23 12:49] edmondscommerce commented on #37993
I have the same problem with composer installs which spit out a lot of text

Tried the above fix but it just hung the whole process so I'm having to find verbose things and make them less verbose which is not ideal

[2019-01-23 12:54] tterranigma commented on #51097
I think by confusion was caused by the fact that in my last example `{{ instance.items }}` fails while `{{ instance['items'] }}` succeeds. In contrast:

[code]

[2019-01-23 13:04] astorath commented on #51218
## My target is:
- install a package with specified version  (possibly with wildcard version)
- do not upgrade it on subsequent play execution (even if there are new versions of the package that meet the requirements)
- hold package version with dpkg or apt-mark
- do no report an error on subsequent play execution due to held packages

## On a side note:
1. `state=present` should not upgrade packa

[2019-01-23 13:12] kikutak commented on #44894
It is occurred with  Ansible 2.4-stable and python 2.7 too.
create patch based on c98494d5bf94df78cc8ec41c679b3229688809fc, and patches on [https://github.com/ansible/ansible/blob/stable-2.4/lib/ansible/plugins/terminal/nxos.py](url), its fixed.

[2019-01-23 13:15] TechWilk commented on #25941
I ran into the same issue trying to run `ping` on some new boxes.
The suggestion of installing python on the target system resolved the issue.

[2019-01-23 13:53] justjais commented on #51161
@nanisyako have merged the PR #51168 and queued for ansible 2.8 release, this PR implements the feature idea you proposed.

So, going ahead and closing the bug.

[2019-01-23 13:53] #51161 closed, assigned to justjais

[2019-01-23 13:59] trishnaguha commented on #44894
@kikutak We don't support 2.4 anymore. Please try on 2.7 and open an issue if the bug persists. Thanks.

[2019-01-23 14:11] Andersson007 commented on #47048
I just changed module documentation https://github.com/ansible/ansible/pull/51220.
@saxus, you can check it in "File changed" tab. I'll be grateful for feedback.

[2019-01-23 14:16] till commented on #51175
@felixfontein using `docker` everywhere:

[code]

Right now, always installing "latest" (without explicit version). Should there be a constraint?

[2019-01-23 14:16] Zorrom opened #51221 "Failed to assign MAC address during vmware VM build"
##### SUMMARY

I am using vmware_guest module to create  a VM and everytime I assign a static mac, the vcenter is auto assigning mac addresses starting with 00:50:56:b8:XX:YY . It ignores my MAC details during VM build
Sometimes the error message pops up saying Invalid MAC address. However I can manually assign my static mac using VmWare console and it works fine. Need assistance on this
##### ISS

[2019-01-23 14:31] Qalthos commented on #51186
!component -lib/ansible/modules/utilities/logic/wait_for.py

[2019-01-23 14:34] Qalthos commented on #51162
!component lib/ansible/module_utils/net_tools/nios/api.py

[2019-01-23 14:48] andyeff commented on #44815
Hi @Fred-sun @yuwzho I can also confirm this is fixed in Ansible 2.7.5, so happy to close.
Thank you!

[2019-01-23 14:48] #44815 closed, assigned to nobody

[2019-01-23 14:51] saxus commented on #47048
@Andersson007: If that PR will be merged the documentation will be much better. Thanks for do this.

I thought the same, because AFAIK PostgreSQL don't allow to do that by design.

[2019-01-23 14:53] Poil opened #51225 "Docker default bridge is assigned to container when I'm not asking for"
**SUMMARY**

Hi,

If i do this

[code]

When inspecting my redis container it have 2 networks, the `internal_network` and the default bridge.
I don't understand why, because if running my redis via command line, it only have my internal_network

[code]

It seems that when I add the parameter `purge_networks: true` to my docker_container definition I only have my `internal_network`
If it's what you

[2019-01-23 15:18] coom commented on #42064
@aldevar tried with your workaround but doesn't work.

Network still start disconnected .. Tried with "Rquired=dbus.service" and "After=dbus.service" : same result.

Why are we the only one facing this problem ? No one ever deploy VM through Ansible ? -_-

[2019-01-23 15:19] coom commented on #24506
@austinkurtz tried with your workaround but doesn't work.

Network still start disconnected .. Tried with "Rquired=dbus.service" and "After=dbus.service" : same result.

Why are we the only one facing this problem ? No one ever deploy VM through Ansible ? -_-

[2019-01-23 15:36] coom commented on #24506
@angystardust I'm using the latest version (VMWare vCenter 6.7U1b, ESXi 6.7, Ubuntu 18.04).

Tried with open-vm-tools and official tools. Same issue.

It's kind of anoying to troubleshoot every time I upgrade something .. But working in IT Security and disable updating is something I can't do ^^

[2019-01-23 15:49] angystardust commented on #24506
uhm...only RedHat and CentOS here. Did you ever tried with something different than Ubuntu as a guestOS?

[2019-01-23 15:58] #40729 closed, assigned to nobody

[2019-01-23 16:28] microbioticajon commented on #30240
I think I agree with this statement. While I appreciate that this feature adds complication to the ec2 module it adds complication for the end-users who have to route out the instance information and assign the correct tags in another block of code. I would also argue that this increases the likelihood for error.

[2019-01-23 16:32] #48422 closed, assigned to samdoran

[2019-01-23 16:35] bcoca commented on #51065
` dest_host_invetnory_vars = task_vars['hostvars'].get(inventory_hostname)` this line bypasses the implicit templating in hostvars so it required either manual templating on all variables derived from here or fixing the line to actually use hostvars to do the templating correctly.

[2019-01-23 16:43] nishanthkumarpathi opened #51233 "Timer expired after 10 seconds when gather facts"
##### SUMMARY

Timer expired after 10 seconds when gather facts, when running Ansible Scripts simultaneously from a "shell JS - node Package"

We trying to gather facts of AWS

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Actually, if

[2019-01-23 16:58] bcoca commented on #40030
does the toggle in PR above give you all the options you wanted?

[2019-01-23 17:12] till commented on #51175
@felixfontein

[code]

[2019-01-23 17:35] bcoca commented on #36769
closed via #49347

[2019-01-23 17:35] #36769 closed, assigned to nobody

[2019-01-23 17:51] dagwieers commented on #18486
This works fine for me on the devel branch. Since this one is pretty old, I am going to close it.

If you can still reproduce this on a more recent Ansible version (one that is supported), feel free to leave a comment, or contact me on IRC.

[2019-01-23 17:51] #18486 closed, assigned to nobody

[2019-01-23 17:55] dagwieers commented on #18197
@photoninger @erdoking Can you please retest using the patch from: https://github.com/ansible/ansible/pull/43978

@bborysenko Can you open a new ticket for this specific to MacOSX?

[2019-01-23 18:18] felixfontein commented on #51175
That explains the problem. Your docker daemon (with API version 1.27) does not send back the `Labels` entry in the spec ([see the API documentation](https://docs.docker.com/engine/api/v1.25/#operation/SwarmInspect)). (Labels were introduced in API version 1.32.)

[2019-01-23 18:19] Sergii22 opened #51237 "Unable to debug plays when pytest numprocesses specified"
##### SUMMARY

Unable to debug plays when pytest numprocesses specified
Have a test pytest framework which is using ansible==2.7.5 to operate with win/nix machines
When running code below with --capture=no /test getting ansible output and I'm able to run script with debug break points - screenshot is attached.
But when test is executed with --capture=no numprocesses=1  /test - there is no ansible

[2019-01-23 18:26] #51237 closed, assigned to nobody

[2019-01-23 18:53] rambleraptor opened #51239 "Where to put a `gce` -> `gcp_compute_instance` migration guide?"
##### SUMMARY

I've built out a migration guide for users of the `gce` module to move towards the newer `gcp_compute_instance` module. Where is the best place to put this guide?

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

`gce`, `gcp_compute_instance`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2019-01-23 18:53] #51239 closed, assigned to nobody

[2019-01-23 18:58] alongchamps opened #51240 "VMware: Adding IP specific firewall rules in vmware_host_firewall_manager"
##### SUMMARY
As a user of the VMware modules in Ansible, I want to be able to specify IP addresses to go along with vmware_host_firewall_manager configurations so we can configure network-based firewall rules on a per-rule basis

##### ISSUE TYPE
- Add support for IP specific rules for the ESXi firewall

##### COMPONENT NAME
vmware_host_firewall_manager

##### ADDITIONAL INFORMATION

This would b

[2019-01-23 19:14] mjrider commented on #51171
@nitzmahone just confirming, you tested with a more recent version/dev branch of ansible ?

[2019-01-23 19:21] #48878 closed, assigned to samccann

[2019-01-23 19:59] vmindru commented on #11812
the above will not work, instead of amending a key it overwrites the entire var.

[code]
[code]

[2019-01-23 20:00] mikemadeja opened #51241 "Enhance win_group_membership to remove all other users or groups not defined in playbook"
##### SUMMARY
At my company, we have strict guidelines on who can access our Windows servers. Sometimes a ticket will come in from a developer asking to get access to a server and our 1st tier team will do it. I think it would be a great enhancement that if you have a parameter to drop all other groups defined in playbook.

IE I have a playbook that defines Active Directory group "RDP_Group_A" be

[2019-01-23 20:10] ac-hibbert opened #51242 "k8s allow Namespace not to be supplied and assume "default" namespace if blank"
##### SUMMARY

With k8s module you are required to supply a Namespace in your k8 yaml files. Would like it if this is ommitted it assumes the Namespace is "default" as kubectl does.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS

##### STEPS TO REPRODUCE

[code]
'/testing/deployment.yml' has a res

[2019-01-23 20:30] dagwieers commented on #51241
This relates to a proposal we have to introduce `state: pure`.
https://github.com/ansible/proposals/issues/71

The idea is that rather than looping over a list, we provide the dataset to the module, and optionally tell the module that the dataset is "pure" (which means any existing entries not in the dataset are removed).

[2019-01-23 20:55] andrewsaraceni commented on #51241
The `state: pure` proposal @dagwieers noted seems like an easier, more practical path, though I guess its implementation here and elsewhere would be dependent on the proposal going through.

@jborean93's `action` idea also works, though managing the replacement (or deprecation) of `state` to `action` would be a challenge, and perhaps undesired considering state is so widely used/known across modul

[2019-01-23 21:06] jceddy commented on #14785
I'd also like to request this issue be re-opened, as I am seeing the same behavior.

[2019-01-23 21:24] #50871 closed, assigned to nobody

[2019-01-23 21:39] jceddy opened #51252 "win_stat doesn't work for shared folders"
Issue Type:
Bug Report

Ansible Version:
ansible 2.7.5
  config file = /home/joee/ansible/ansible.cfg
  configured module search path = [u'/home/joee/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Oct 30 2018, 23:45:53) [GCC 4.8.

[2019-01-23 22:02] jborean93 commented on #51252
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-23 22:02] #51252 closed, assigned to nobody

[2019-01-23 22:59] maxamillion commented on #50237
@MarkMielke are you certain that it actually works with Ansible 2.7.4 and doesn't just report success but not actually produce the intended outcome? There was a fix in 2.7.5 that resolved the fact that Ansible's dnf plugin wasn't properly initializing the plugin backends so I think what's happening is that the module is returning success but not actually doing what you ask of it. If this is in fac

[2019-01-23 23:08] MarkMielke commented on #50237
Ansible 2.7.4 does what I need it to do which is to use a variety of "package:" and other directives to install a simple set of packages. Ansible 2.7.5 fails. I can't guarantee it works in all cases - specifically the case being fixed in 2.7.5. I only know that the simple cases work in 2.7.4 and fail in 2.7.5. :-(

[2019-01-23 23:10] MarkMielke commented on #50237
Here is an example bootstrap.yml play which is the first thing that failed for me when using Ansible 2.7.5 against a Fedora 29 target:

[code]

The same play works fine in 2.7.4.

But the later playbook does much more complex things, and it also works fine in 2.7.4 and fails in 2.7.5.

[2019-01-23 23:36] #41079 closed, assigned to nobody

[2019-01-24 01:12] jamescassell commented on #50583
Could you run ansible in a sidecar container within the same user namespace to allow this access?

[2019-01-24 01:31] nitzmahone commented on #51171
Yeah, that was devel... Even though we don't have full test coverage of Python 3.7 in the stable-2.7 branch, we discussed and decided we'll go ahead and backport the known Python 3.7 fixes, since there are actual released distros (eg Fedora 29) that default to Python 3.7...

[2019-01-24 01:33] #18197 closed, assigned to alikins

[2019-01-24 01:43] dagwieers commented on #26187
This is not that hard to implement. Anyone wants to take a shot at it ?

needs_contributor

[2019-01-24 01:44] steve-exley commented on #29762
According to this it was fixed in Ansible 2.4: [https://github.com/ansible/ansible/pull/23831](https://github.com/ansible/ansible/pull/23831)

To make it work requires `state: running`, rather than the default `state: present` passed as a parameter to the EC2 module. We call the module twice, once with `present` to ensure the EC2 instance is started and a 2nd time with `running` to apply any chang

[2019-01-24 01:54] dagwieers commented on #23693
@helltone We expect this issue to be fixed by PR #22865, if this happens to not be the case, let us know.

resolved_by_pr #22865

[2019-01-24 01:54] #23693 closed, assigned to nobody

[2019-01-24 02:17] dagwieers commented on #43739
@mcandre Can you make a PR and add them?

needs_contributor

[2019-01-24 02:18] dagwieers commented on #36350
@samuelharmer Are you interested in create a PR adding it?

needs_contributor

[2019-01-24 02:27] #48335 closed, assigned to nobody

[2019-01-24 02:32] mikemadeja commented on #51241
Thanks everyone, so would this possibly be an enhancement to the module or needs to be done overall in Ansible? It'd be neat to have it and I'm going to play with the PowerShell script to see if I can get it on my own for now but like I said, I think this would be a great enhancement to keep things in a desired state.

[2019-01-24 02:35] jborean93 commented on #51241
I think in this case `state: pure` works and is simple enough to add without muddying the options. This is a community and preview module so ultimately it's up to the module author how they want to deal with it. No real reason to wait for a proposal to go through.

[2019-01-24 02:36] jborean93 commented on #51241
I think in this case `state: pure` works and is simple enough to add without muddying the options. This is a community and preview module so ultimately it's up to the module author how they want to deal with it. No real reason to wait for a proposal to go through. If anything I would prefer `state: exact` but really that's bike shedding territory and happy to go with whatever.

[2019-01-24 02:40] ChrisDoesCode commented on #42614
Last attempt was last year and there was no success.

All my MOPs so far require manual public vNICs and v6 implementation.

On Tuesday, January 22, 2019, Abdallah Atie <notifications@github.com>
wrote:

[2019-01-24 03:02] #47958 closed, assigned to nobody

[2019-01-24 03:10] Fred-sun commented on #50443
kindly ping

[2019-01-24 04:06] #32724 closed, assigned to ganeshrn

[2019-01-24 04:06] #50283 closed, assigned to ganeshrn

[2019-01-24 04:07] ganeshrn commented on #50772
resolved_by_pr #50801

[2019-01-24 04:11] andrewsaraceni commented on #51241
Sounds good, I can work on a PR for this in the coming days/next week or so.

[2019-01-24 04:16] #50772 closed, assigned to ganeshrn

[2019-01-24 05:18] peacengell commented on #44330
I have tested this code `---
- hosts: localhost
  connection: local
  pre_tasks:
    - include_vars: variables.yml
  tasks:
    - name: "Get VPC subnet facts ..."
      ec2_vpc_subnet_facts:
        profile: profile_name
        region: "{{ vpc_region }}"
      register: vpc_facts

    - debug:
        var: vpc_facts`

And it works fine, but not this using the same profile.
`The full traceback is:

[2019-01-24 06:17] patelronak66 commented on #33107
Facing same issue

TASK [create-cluster : Creating cluster] **********************************************************************************************************************************
fatal: [127.0.0.1]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute 'id'\n\nThe error appears to have been in '/home/ec2-user/project/a

[2019-01-24 06:38] felixfontein commented on #48648
!component =lib/ansible/modules/cloud/docker/docker_compose.py

[2019-01-24 06:41] felixfontein commented on #51225
The documentation of `networks` *explicitly* states that you need the `purge_networks` option:
[code]
This is far from not being user-friendly IMO.

[2019-01-24 08:30] #51225 closed, assigned to nobody

[2019-01-24 08:32] pacahon commented on #50522
@bcoca I'm sorry, should your [test example](https://github.com/ansible/ansible/issues/50522#issuecomment-451462849) works fine with `import_role` instead of `role`? Couldn't figure it out from the documentation.

[code]

My output with ansible 2.7.5

[code]

[2019-01-24 08:32] nkakouros opened #51262 "gcp_compute_route does not update routes"
##### SUMMARY

`gcp_compute_route` does not update an existing route. This is a limitation of google cloud APIs. However, it should be easy to add the functionality in the module, ie delete an existing route and create a new one in place.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_compute_route

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-01-24 09:00] lwm commented on #51061
https://github.com/ansible/ansible/issues/51195 (resolved by https://github.com/ansible/ansible/pull/51196) goes in the right direction and is related!

[2019-01-24 09:18] till commented on #51175
@felixfontein is this something that's going to be fixed?

[2019-01-24 09:21] KaizounaTOR commented on #51067
Hi,

It works with CredSSP auth.

Thank you !

[2019-01-24 09:51] till commented on #51175
@felixfontein I made a PR, I can port the patch to the 2.7 and 2.6 branches if wanted, or if it fixes it well enough. :)

[2019-01-24 10:01] Andersson007 commented on #47048
@saxus , If you agree with this changes you can write shipit in the comment to https://github.com/ansible/ansible/pull/51220

[2019-01-24 10:03] padraiglennon commented on #22568
Still an issue for me as well I'm afraid

[2019-01-24 10:47] Wtower commented on #27938
This is what worked for me in `ansible.cfg`:

[code]

[2019-01-24 10:48] mator commented on #26187
something like this?

[code]

[2019-01-24 10:56] ssbarnea commented on #15614
I think that this bug is still valid and there is a very easy way to verify it: testing docker cli behavior.
[code]

There is no such thing as mutually exclusive on docker and for good reasons: one may have to use TLS on port 2376 but the SSL vertificates may be temporary broken like expired or not matching hostnames.

This is someting that can happen in real life, even production and thus is why

[2019-01-24 11:04] henrik-farre commented on #24506
@coom We have the same problem. Ansible 2.7 / AWX 2.1.2 / vSphere 6.0

We used to have ansible configure the network for the VM depending if it was in dev/stage/prod. Now we have 3 templates with network configured so Ansible does not have to touch the network config of the VM.

[2019-01-24 12:31] greyltc opened #51265 "pacman module `state: absent` verification failure when package name is provided by another"
On ansible 2.7.6 I've done:
[code]
the linux-gpib package is not installed on the system, however linux-gpib-dkms is installed which provides linux-gpib
[code]
I expect no errors because the the package is indeed absent on the system.

[2019-01-24 12:42] dagwieers commented on #26187
And maybe handling the case where no make binary was found ?

PS I would replace that None (either remove it, or explicitly state `required=False`). ANd for the other True, make that `required=True`. Reads better :-)

[2019-01-24 12:58] IRDonch opened #51267 "openssl_certificate: has_expired=no does nothing"
##### SUMMARY
Setting the `has_expired` argument of the `openssl_certificate` module to a false value has no effect.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_certificate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I encountered this on Ubuntu 16.04.

##### STEPS TO REPRODUCE

First, create an expired certificate:

[code]

Then, run Ansib

[2019-01-24 12:58] vijayscsa opened #51268 "adding a new datastore to a host"
##### SUMMARY
adding a datastore to a ESXi host

##### ISSUE TYPE
- Looking forward for a playbook for adding a datastore to a ESXi host

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2019-01-24 12:59] vijayscsa commented on #51268
The host is of ESXi 6.5

[2019-01-24 13:05] emz00 opened #51269 "Incorrect comment in example on sysctl module"
##### SUMMARY

https://docs.ansible.com/ansible/latest/modules/sysctl_module.html has this example:

[code]

"do not reload the sysctl file" is incorrect here, since reload is "yes" by default. That probably refers to the previous example, which has "reload: no"

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

sysctl

##### ANSIBLE VERSION

2.5+

[2019-01-24 14:13] #50505 closed, assigned to nobody

[2019-01-24 14:14] maunzCache opened #51276 "Ternary filter variable precedence/evaluation"
##### SUMMARY
I'd like to quote issue https://github.com/ansible/ansible/issues/38562 here. There is a difference in behavior when using ternary or "pure" python style logic.

When executing the following statement
[code]

Ansible will fail with the message "The error was: 'my_var' is undefined" which is because the ternary filter - even though the conditional is false - will try to evaluate the v

[2019-01-24 14:44] MarkusTeufelberger commented on #51267
https://github.com/ansible/ansible/blob/988918410ced5b88b1df14408dc8ae89bb9494c0/lib/ansible/modules/crypto/openssl_certificate.py#L778 seems to be superfluous.

[2019-01-24 14:55] cross-logic opened #51280 "Adding Ansible Security Team"
##### SUMMARY
Ansible Security Automation is Ansible expansion deeper into security use cases.  The goal is to help Security teams “stitch together” the numerous security solutions and tools already in their IT environment for a more effective cyberdefense.

We need a new category called 'Security' to collect all the new content that has and will be released as part of this new initiative.

#####

[2019-01-24 14:57] richlv commented on #50505
Yay, thank you so much for this :)

[2019-01-24 15:20] xmadsen opened #51283 "Improve function handling of errors for testability, specifically when no data is found"
##### SUMMARY

When redfish_facts is run against a system and doesn't find any data for the given command, instead of simply returning an empty list or dictionary, provide some kind of output that indicates nothing was found. This will help with testing redfish_facts/command/config modules to determine which data a given system can successfully provide to the redfish_facts/command/config modules,

[2019-01-24 15:23] gundalow commented on #51280
pages like "modules maintained by *" are going to be going away

What's supported will be defined on redhat.com

[2019-01-24 15:24] Timoses opened #51284 "`yum` update hangs with `name` argument `'*'`"
##### SUMMARY

`yum` module with argument `name: '*'` hangs indefinitely.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Operating System: CentOS Linux 7 (Core)
ethtool -i eth0
    driver: virtio_net
    version: 1.0.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ansible finishes and succee

[2019-01-24 15:32] thaumos commented on #51280
^^ Is correct.  Over time we will be deprecating the concept of plugin metadata in support of collections.

That being said, no need to update the metadata for any modules going forward.  It can remain as community for now.

As far as the Topic of Security being added.  We can definitely get that to happen.  All that needs to be done is create a directory called security in lib/ansible/modules and

[2019-01-24 15:33] Timoses commented on #18305
@mogthesprog : I know it's almost 2 years ago. However: Do you remember finding a solution to this? I'm having a similar problem which stops at the same spot with yum (https://github.com/ansible/ansible/issues/51284).

[2019-01-24 15:35] xmadsen opened #51286 "GetStorageControllerInventory and GetDiskInventory return 'SimpleStorage resource not found'"
##### SUMMARY

In redfish_facts, running the Systems commands GetStorageControllerInventory and GetDiskInventory both return 'SimpleStorage resource not found' on a Lenovo ThinkSystem SR650. The Redfish service has the new Storage model implemented (Storage, StorageCollection, Drive, Volume, VolumeCollection) but the code is only looking for the old SimpleStorage model.

The code should look for t

[2019-01-24 15:37] wutzkachel opened #51287 "ansible ec2 profile parameter will be ignored"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-01-24 15:50] kottalovag commented on #25516
Umm, so if I need to be able to pass --stop-on-first-failure flag then I need to open a feature request? Or this is closed as is and I have to assemble my own win_shell invocation emulating the other parameters?

[2019-01-24 15:51] ironfroggy opened #51288 "ansible-galaxy login doesn't handle Github 2FA accounts well"
##### SUMMARY
Two-factor authentication is an increasingly common norm amount Github accounts, but this option is not handled well by `ansible-galaxy` and the `login` subcommand. It is unable to authenticate a user's given credentials via the API to grab a token. The user must generate their own token from Github directly, under the non-obvious developer settings for their Github account.

Neither

[2019-01-24 16:08] sivel commented on #51276
This is expected.  The `ternary` filter is not a true ternary, and requires that all variables that are passed to `ternary` be defined or `default`ed.  The `ternary` filter was implemented as a pseudo short hand for ternary style functionality, but does not cover all functionality of a full ternary.

If you need more advanced functionality, a true ternary should be utilized.

If you have further q

[2019-01-24 16:08] #51276 closed, assigned to nobody

[2019-01-24 16:24] therb1 opened #51289 "memory leak. OOM killer in command module."
##### SUMMARY

When I try to uninstall netdata, with using built-in script with ansible task.
Ansible module command process on target host start eat memory like 500-1000 MB per second.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

command module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04 WSL
##### STEPS TO REPRODUCE

ansible-playbook pl

[2019-01-24 16:33] Timoses commented on #51284
Here is the same with `ANSIBLE_DEBUG=1`
[code]

I also tried logging in manually via ssh and executing `/bin/sh -c 'sudo -H -S -n -u root /bin/sh -c '"'"'echo BECOME-SUCCESS-qchvhzmwflnnkcernioqdaxtpjrwznzy; /usr/bin/python /home/xxx/.ansible/tmp/ansible-tmp-1548347166.1-22512381894121/AnsiballZ_yum.py'"'"' && sleep 0'` which also hangs.
Also the following yields the same:
[code]

[2019-01-24 16:46] #33258 closed, assigned to nobody

[2019-01-24 16:57] jwitko commented on #42661
Confirmed getting this in 2.7.5.   ec2_group performance in terms of speed has dramatically decreased over what it used to be (many versions ago)

[2019-01-24 16:59] Akulatraxas opened #51293 "facts: ipv6_secondaries not gathered by ansible"
##### SUMMARY

ansible is not reporting ipv6_secondaries on each interface as it does for ipv4. It just lists them all together as big ansible_all_ipv6_addresses item.

##### ISSUE TYPE
- ~Bug  Report~
- Feature Idea

##### COMPONENT NAME
ansible facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

[2019-01-24 17:09] samdoran commented on #51289
The `command` module does not support input/output redirection. The effective command being run is `yes "'y' | ./netdata-uninstaller.sh --force"` which explains the OOM you are seeing.

Use `shell` or `raw` and your task will work as expected.

You could also make the `yes` command a bit "safer" by capping the number of lines it will print out:

[code]

Using `expect` is another option.

For furth

[2019-01-24 17:09] #51289 closed, assigned to nobody

[2019-01-24 17:21] Timoses commented on #51284
The command that hangs is executed in https://github.com/ansible/ansible/blob/v2.7.6/lib/ansible/modules/packaging/os/yum.py#L641

The following reproduces the freezing effect:
`sudo /usr/bin/repoquery --show-duplicates --plugins --disablerepo '' --enablerepo '' --qf '%{epoch}:%{name}-%{version}-%{release}.%{arch}' --whatprovides '*'`

[2019-01-24 17:36] #29938 closed, assigned to nobody

[2019-01-24 17:54] ParticleDecay commented on #49071
Ok I have something that works: https://github.com/ParticleDecay/ansible-jsonpatch

[2019-01-24 18:39] ParticleDecay commented on #49071
You have *no* idea how much I struggled with this LOL... the problem is that ansible typically uses this only as a convention, but the "path" contained in the operations themselves comes directly from the JSON patch standard (so if you followed the RFC, you'd be able to follow this to the letter).

I can envision two alternatives:

1) Ignore it and do `path` in both places anyway since they won't

[2019-01-24 18:40] samccann commented on #51280
@gundalow what's the timeframe are these maintained pages going away? I know of one access.redhat.com article for certified modules, but I don't know of any for network, core (and coming soon, security) etc?

@thaumos - are you saying if the existing security modules are moved to a lib/ansible/modules/security directory, everything will pop into place on its own? (except the soon-to-be-deprecated

[2019-01-24 18:41] samccann commented on #51280
@gundalow - a related (sort of) question - I think the security team would like a support:security ansibot label.  How do they go about getting that in place (and recognized for the security modules...if they don't have security metadata??)

[2019-01-24 19:05] felixfontein commented on #51175
@till definitely, it's just that nobody is paid to work for this, so it usually takes a few days until someone starts working on it :)

[2019-01-24 19:09] felixfontein commented on #51225
There are two aspects:
1. You mentioned in a comment which you apparently deleted that you don't want that the container is ever connected to the default network (even though the connection is removed right afterwards). That's something that we can fix. But not if you delete the comment and close the issue.
2. If you think that's not user-friendly, could you please explain **why** it is not user-f

[2019-01-24 19:13] webminster commented on #34536
I'd vote for this as well if I could, we have needs for this as well.

[2019-01-24 19:18] felixfontein commented on #51267
I agree, without the check it should do as advertised.

[2019-01-24 19:19] BarbzYHOOL commented on #50281
Also need to be able to disallow specific characters like ";" or "/" else they conflict when there is a system using these characters as dividers

seriously this is a BIG issue :(

[2019-01-24 19:21] BarbzYHOOL commented on #50522
no, I think I've read that it's intended to be able to run it multiple times with tasks

[2019-01-24 19:36] bradwood commented on #48859
I also keep getting this, despite putting
[code]

in my `ansible.cfg` file. Super annoying...

[2019-01-24 19:56] mrchrd opened #51301 "NIOS: Update records"
##### SUMMARY

NIOS modules fail to update an existing record. It tries to update the 'view' value, but it fails because it's a read-only field.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nios_*_record modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04
infoblox-client 0.4.20
Infoblox 8.3.1

##### STEPS TO REPRODUCE

[code]
First run

[2019-01-24 20:59] dkewley commented on #18979
For anyone else who finds this issue, and still sees this failure: Do you, like me, NOT use a username to authenticate to your proxy? If so, then the module as written today will not use the proxy. I see this behavior in ansible-2.7.5-1.el7, and code inspection of the following convinces me the latest code doesn't handle this correctly.

https://github.com/ansible/ansible/blob/6345ea29255d2eb40f1c

[2019-01-24 21:02] richlv opened #51303 "zabbix_action: maintenance_mode/pause_suppressed unavailable"
##### SUMMARY
Zabbix action API added a parameter 'maintenance_mode' in 3.2 - https://www.zabbix.com/documentation/3.2/manual/api/reference/action/object .

It got renamed to 'pause_suppressed' in 4.0 - https://www.zabbix.com/documentation/4.0/manual/api/reference/action/object .

This parameter does not seem to be available in the Ansible module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NA

[2019-01-24 21:06] Poil commented on #51225
You have to read a documentation to know that if you don't want the legacy docker network you don't only have to define which networks you want.
So if I defined a network I only want this network.
In other way, if you have to read (all the lines of) the documentation on an automation tools for something that look like simple it's really a bad thing.
Network have to define only the network you want

[2019-01-24 21:11] andrewsaraceni commented on #51241
I've created a PR that adds this functionality: https://github.com/ansible/ansible/pull/51298

[2019-01-24 21:53] funkyfuture commented on #49071
i would argue that `pointer` would be quiet intuitive regarding its role, but i see the problem with the names' consistency.

agreed. where an inplace alteration is denoted with only the  `dest` given?

[2019-01-24 21:54] ParticleDecay commented on #49071
I would say only `src` given

[2019-01-24 21:57] funkyfuture commented on #49071
it's Ansible, in the end, one will look it up in the docs anyway. ;-)

[2019-01-24 22:08] acozine commented on #50040
@felixfontein I don't know what the issue with `user_guide/become.html` was, but on your branch for #50836 that error is gone. I agree that the error on the Windows page is probably useful, as the red highlighting helps the reader understand that the syntax there is incorrect.

[2019-01-24 22:09] #50040 closed, assigned to nobody

[2019-01-24 22:25] richard-olson opened #51306 "Netbox dynamic inventory ignores virtual machine roles"
##### SUMMARY
Netbox dynamic inventory script does not include virtual machines under roles.

As an example, virtual machines have been tagged with role 'App' and the role does not appear as a group after running the inventory script. Another example is that number of physical and virtual machines have been tagged with the role 'Server'. Only the physical devices are returned under the devices_rol

[2019-01-24 22:26] acozine opened #51307 "Document available lexers"
##### SUMMARY

The Ansible documentation supports a range of [Pygments lexers](http://pygments.org/docs/lexers/) for Sphinx to [make our code examples look good](http://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#code-examples). Examples include YAML, python, Jinja2, and more. Each lexer parses a particular type of text and adds color-coding and formatting to the HTML based

[2019-01-24 22:33] acozine commented on #51307
This content belongs somewhere in the [style guide](https://docs.ansible.com/ansible/devel/dev_guide/style_guide/index.html#style-guide).

[2019-01-24 22:46] UnknownGnome opened #51308 "VMware: Allow vmware_inventory.py to pull ESXi hosts"
##### SUMMARY
I've used vmware_inventory.py(.ini) to get a dynamic inventory into AWX. It worked great to get the VM guest machines. But I'd like to be able to get the ESXi hosts as well. If there's a mechanism to accomplish this already I haven't found it, so guidance would be appreciated

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_inventory.py

##### ADDITIONAL INFORMATION

[co

[2019-01-25 00:04] jladdjr commented on #45288
@bcoca @s-hertel - ran into this same issue while working on https://github.com/ansible/awx/issues/171 for awx. Would either of you have a chance to take a look at this? (cc @AlanCoding)

[2019-01-25 00:14] dagwieers commented on #25516
@kottalovag Even better is to create your own PR with the added option/flag, but yes, with an `extra_opts` parameter we cannot guarantee backward compatibility and things may suddenly break beyond our reach. That's not what we want to offer our users.

[2019-01-25 00:17] acozine commented on #51178
The wiki page in question is https://github.com/ansible/community/wiki.

[2019-01-25 01:06] greyltc commented on #51265
My PR #51311 should fix this

[2019-01-25 03:28] #51178 closed, assigned to nobody

[2019-01-25 04:39] wkjun commented on #30166
[code]
like filebeat,add pattern maybe help !

[2019-01-25 05:04] chenzhiwei opened #51318 "no_log can't hide sensitive data when using shell module"
##### SUMMARY

I set no_log to true for my shell module task, but when I use `-vvv`, Ansible still output my sensitive data. My task is:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-01-25 05:11] jborean93 commented on #51318
This looks like the already reported [CVE-2018-16876](https://nvd.nist.gov/vuln/detail/CVE-2018-16876) which has been been fixed in the latest releases of Ansible. Please upgrade to one of the following version or newer

* 2.5.14
* 2.6.11
* 2.7.5

Once you have upgraded are you able to confirm that this has been fixed.

needs_info

[2019-01-25 05:13] trishnaguha commented on #50626
The backport https://github.com/ansible/ansible/pull/51209 is merged for 2.7.7 release.

[2019-01-25 05:22] #51318 closed, assigned to nobody

[2019-01-25 06:53] sidewinder12s commented on #51200
Yes, but at least on Ubuntu installing docker-py vs docker through pip installs completely different python packages, one of which is wildly out of date.

I found another issue in here talking a bit about how the library changed: https://github.com/ansible/ansible/issues/22993#issuecomment-377257466

I'm merely pointing out that it appears Docker is now changing enough that things are breaking if

[2019-01-25 07:40] nomadcz opened #51321 "Availability Zones for managed disks"
##### SUMMARY
Implement Availability Zones for managed disks

##### ISSUE TYPE
Please add Availibility Zones support for  managed disks (azure_rm_managed_disk),  similar to "az disk create --name xxx --zone X ..."

##### COMPONENT NAME
azure_rm_managed_disk

##### ADDITIONAL INFORMATION
related to https://github.com/ansible/ansible/pull/49243

[code]

[2019-01-25 08:12] Fred-sun commented on #49180
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-01-25 08:15] kloeffler commented on #47812
Providing the subnet as a dict from the creation process gcp_compute_subnetwork  (instead of gathering facts about the subnetwork) will work just fine. Subnet is being used and the internal IP will be from this sub network.

[2019-01-25 08:17] nomadcz opened #51324 "azure_rm_publicipaddress not idempotent"
##### SUMMARY
azure_rm_publicipaddress not idempotent

##### ISSUE TYPE
azure_rm_publicipaddress always returns status "changed" and takes a long time to run - so I guess it updates public ip object during every run ?

##### COMPONENT NAME
azure_rm_publicipaddress

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.5 (Maipo)

[2019-01-25 08:27] kloeffler opened #51325 "gcp_compute_instance cannot match network_ip to subnetwork"
##### SUMMARY
Trying to create an instance with a pre-defined ip in a subnetwork will fail with "Requested internal IP is outside the subnetwork CIDR range."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_instance

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 9.6 running against google cloud.

##### STEPS TO REPRODUCE
[code]
Fails.
Subne

[2019-01-25 08:46] umeboshi2 commented on #48859
@bcoca , clarifying the message as @ssbarnea suggests would help immensely.  The message in the PR is not quite as clear, and the suggestion would help prevent users from wanting to look under the hood to discover why something is being "declined" due to being "unverified," rather than being "skipped" for another inventory plugin.  The message should also identify the plugin as an inventory plugin

[2019-01-25 09:30] #51287 closed, assigned to nobody

[2019-01-25 09:31] #47604 closed, assigned to nobody

[2019-01-25 09:46] Fred-sun commented on #43802
This issue should fixed by #[51214](https://github.com/ansible/ansible/pull/51214)

[2019-01-25 11:13] rthouvenin opened #51326 "Support for master_delay in mysql_replication module"
##### SUMMARY
MySQL replication can be configured to lag behind the master by a given number of seconds, using the same `CHANGE MASTER TO` query used for the existing `master_xxx` variables. It would great to add a `mysql_delay` variable to support this featurein mysql_replication module.
https://dev.mysql.com/doc/refman/8.0/en/replication-delayed.html

##### ISSUE TYPE
- Feature Idea

##### COMPO

[2019-01-25 11:54] biohazd opened #51327 "Support the new TLS termination on NLBs"
##### SUMMARY
Support the new TLS termination on NLBs
https://aws.amazon.com/blogs/aws/new-tls-termination-for-network-load-balancers/

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
elb_network_lb

##### ADDITIONAL INFORMATION

[code]

[2019-01-25 12:07] wutzkachel commented on #19112
I have the same problem.

[2019-01-25 12:07] pilou- commented on #45839
@gundalow:
- the first step was `move ansible-baseline to gh/ansible`, any news ?
- `Perf graphing callback plugin` has been merged (2nd step done)

[2019-01-25 12:08] kustodian opened #51328 "Regression: import_role multiple times overwrites defaults in the imported role"
##### SUMMARY
Importing the same role (`allow_duplicates: yes`) using `import_role` in the same play causes vars defined on one `import_role` to overwrite defaults in another `import_role` task that doesn't pass those vars. See the example below for more details.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
import_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVI

[2019-01-25 12:11] wutzkachel commented on #19112
This is the playbook:
------------------------
- name: ProvisionEc2CentOs7Instance
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - awscredentials.yml
  tasks:
    - name: Launch instance
      ec2:
        profile: AWSCockpitMonitoringDevelEnv
        region: "{{ region }}"
        key_name: "{{ key_pair_name }}"
        instance_type: "{{ ec2_instance_type }}"

[2019-01-25 12:13] wutzkachel commented on #19112
cat ~/.aws/credentials
...
[AWSCockpitMonitoringDevelEnv]
output = json
region = eu-central-1
aws_access_key_id = TheAccessKey
aws_secret_access_key = TheSecretKey
aws_session_token = TheSessionToken
expiration = 2019-01-25 12:59:27+00:00
....

[2019-01-25 12:16] wutzkachel commented on #19112
he full traceback is:
Traceback (most recent call last):
  File "/home/michael/.ansible/tmp/ansible-tmp-1548417736.96-186440713350129/AnsiballZ_ec2.py", line 113, in <module>
    _ansiballz_main()
  File "/home/michael/.ansible/tmp/ansible-tmp-1548417736.96-186440713350129/AnsiballZ_ec2.py", line 105, in _ansiballz_main
    invoke_module(zipped_mod, temp_path, ANSIBALLZ_PARAMS)
  File "/home/micha

[2019-01-25 12:19] wutzkachel commented on #19112
ansible 2.7.6
  config file = /home/michael/DockerSwarmMonitoringCluster/ansible.cfg
  configured module search path = [u'/home/michael/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /home/michael/.local/share/virtualenvs/PipenvAnsible27Python27-TIMLuz9F/lib/python2.7/site-packages/ansible
  executable location = /home/michael/.local/share/virt

[2019-01-25 12:22] wutzkachel commented on #19112
With aws cli it works!

aws ec2 run-instances --profile AWSCockpitMonitoringDevelEnv \
                      --image-id MyAmiID \
                      --subnet-id MySubnetID \
                      --security-group-ids MySgroupID \
                      --count 1 \
                      --instance-type t2.micro \
                      --key-name MyKey

[2019-01-25 12:38] wutzkachel opened #51329 "ec2 module: profile option ignored"
##### SUMMARY
ec2 module: profile option ignored

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible aws ec2
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
4.20.3-arch1-1-ARCH #1 SMP PREEMPT Wed Jan 16 22:38:58 UTC 2019 x86_64 GNU/Linux
##### STEPS TO REPRODUCE
Example Playbook:
---------------------

[code]

##### EXPECTED RESULTS
A running EC2  instanc

[2019-01-25 12:40] wutzkachel commented on #51329
It works with the aws cli
-----------------------------
aws ec2 run-instances --profile AWSCockpitMonitoringDevelEnv \
                      --image-id MyAmiID \
                      --subnet-id MySubnetID \
                      --security-group-ids MySGGroupID \
                      --count 1 \
                      --instance-type t2.micro \
                      --key-name MyKeyName

[2019-01-25 12:46] wutzkachel commented on #51329
same problem  on issue #19112. But the issue was closed without solution.

[2019-01-25 12:56] superudu commented on #32440
Similar issue here.

So far I believe it has to do with the way the proxy or the proxy firewall is configured to allow or deny certain remote targets.
You probably have the Jenkins plugin DNS domain or IP as one of the allowed targets. So you allow TCP 80 or 443 to updates.jenkins-ci.org and updates.jenkins.io (right now that translates to 52.202.51.185).

The issue is that one such plugin from up

[2019-01-25 13:09] MichaelBaydoun commented on #40030
The PR looks great for my needs.

[2019-01-25 13:20] justjais commented on #51301
Seems like a duplicate of ansible github issue #51204.

[2019-01-25 13:42] #49156 closed, assigned to nobody

[2019-01-25 14:15] wutzkachel commented on #51329
the module gatherfacts works quite well with the profile option:

- name: GatherFacts
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - awscredentials.yml
  tasks:
    - name: GatherFacts
      ec2_instance_facts:
        profile: AWSCockpitMonitoringDevelEnv
        region: "{{ region }}"
      register: FactsOutput

    - debug: var=FactsOutput

[2019-01-25 15:18] kladiv commented on #27124
+1

[2019-01-25 15:20] nomadcz opened #51335 "azure_rm_virtualmachine_scaleset should support custom-data option and vmss extensions"
##### SUMMARY
Custom data and vmss extensions support missing in azure_rm_virtualmachine_scaleset

##### ISSUE TYPE
Please add "custom-data" and "extensions" for azure_rm_virtualmachine_scaleset. Or is another module needed to handle vmss extensions in vmss ?

##### COMPONENT NAME
azure_rm_virtualmachine_scaleset

##### ADDITIONAL INFORMATION
We would like to use cloud-init with vmss for an initia

[2019-01-25 15:43] wutzkachel commented on #51329
Iam quite sure that it has to do with the aws_session_token entry in .aws/credentials. When I set

        aws_access_key: "MyAccesKey"
        aws_secret_key: "MySecretKey"
        security_token: "MySecretToken"

in the playbook, it works and starts an ec2 instance.

[2019-01-25 15:44] dkarapanos commented on #14050
# Disabling warnings
- name: Using curl to connect to a host via SOCKS proxy (unsupported in uri). Ordinarily this would throw a warning.
  shell: curl --socks5 localhost:9000 http://www.ansible.com
  args:
    warn: False

[2019-01-25 15:52] sivel commented on #51328
This is an expected change in behavior from 2.6 to 2.7 and is outlined in the 2.7 porting guide udner the section https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.7.html#include-role-and-import-role-variable-exposure

In addition this information is mirrored on the `import_role` documentation as well: https://docs.ansible.com/ansible/2.7/modules/import_role_module.html#notes

[2019-01-25 15:52] #51328 closed, assigned to nobody

[2019-01-25 16:12] jctanner commented on #22835
Hi folks, this guide covers how to debug modules fairly well. Feel free to file bugs against it or PRs if you see room for improvement.

https://docs.ansible.com/ansible/devel/dev_guide/debugging.html#debugging-remote

[2019-01-25 16:12] #22835 closed, assigned to nobody

[2019-01-25 16:15] jctanner commented on #22882
@tumbl3w33d feel free to submit a docs PR on this. Thanks for the info though!

[2019-01-25 16:15] #22882 closed, assigned to nobody

[2019-01-25 16:19] #12715 closed, assigned to nobody

[2019-01-25 16:21] sivel commented on #12728
This issue is resolved in recent versions of ansible.  If you are still having issues, please open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-01-25 16:21] #12728 closed, assigned to nobody

[2019-01-25 16:25] jctanner commented on #13175
Please file this bug against https://github.com/ansible/mazer as that is where all future galaxy client side code is moving to.

[2019-01-25 16:25] #13175 closed, assigned to nobody

[2019-01-25 16:28] MichalTaratuta opened #51338 "move iam.py to boto3"
##### SUMMARY

I require some features from boto3 in `iam.py` is anyone working on migration from boto to boto3 for this module. What's the road map for AWS modules with boto.

If no one is working on that I'm happy to start this, let me know your thoughts.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

iam.py
##### ADDITIONAL INFORMATION

[code]

[2019-01-25 16:29] #13561 closed, assigned to nobody

[2019-01-25 16:29] #12978 closed, assigned to nobody

[2019-01-25 16:31] bcoca commented on #15265
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `ignore_errors` keyword is only for dealing with 'task results', not with issues about task definition and missing required variabl

[2019-01-25 16:31] #15265 closed, assigned to nobody

[2019-01-25 16:36] sivel commented on #15323
This has existed for a reason documented in the code for a long time and we do not intend on changing this behavior.

However, if you utilize the newer `ANSIBLE_JINJA2_NATIVE` as documented at https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native this code will be bypassed and `None` will be returned.

If you have further questions please stop by IRC or the

[2019-01-25 16:36] #15323 closed, assigned to nobody

[2019-01-25 16:36] samdoran commented on #15336
This is working as designed. We do not template keys.

If you would like to discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-01-25 16:36] #15336 closed, assigned to nobody

[2019-01-25 16:37] jctanner commented on #15405
Duplicate of https://github.com/ansible/ansible/issues/13099

[2019-01-25 16:37] #15405 closed, assigned to nobody

[2019-01-25 16:39] bcoca commented on #15408
Closing as this is working for me in recent ansible versions, feel free to reopen if you see otherwise.

[code]

[2019-01-25 16:39] #15408 closed, assigned to bcoca

[2019-01-25 16:41] jctanner commented on #15412
@zer0glitch we're turning become code into plugins where you'll have the ability to set your own configuration for your environment: https://github.com/ansible/ansible/pull/50991

Please have a look and give us feedback.

[2019-01-25 16:41] #15412 closed, assigned to nobody

[2019-01-25 16:44] jctanner commented on #15484
We'll discuss this in a future community meeting.

[2019-01-25 16:48] #42932 closed, assigned to nobody

[2019-01-25 16:50] jctanner commented on #15664
@ralphct This is working as designed ...

https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg#L30-L36

`smart - gather by default, but don't regather if already gathered`

The previous behavior was not intended. We also fixed cache flushing so that the cache can be invalidated and smart would then theoretically work anytime you have flushed what's on disk or in redis.

[2019-01-25 16:50] #15664 closed, assigned to nobody

[2019-01-25 16:51] jctanner commented on #15680
This is no longer the behavior and you should see all stdout/stderr from ssh, aside from the privilege escalation sessions.

[2019-01-25 16:51] #15680 closed, assigned to nobody

[2019-01-25 16:53] bcoca commented on #15709
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The --list options were not intended to work with most other options in the CLI  and they short circuit execution (which --syntax-check

[2019-01-25 16:53] #15709 closed, assigned to nobody

[2019-01-25 16:55] jctanner commented on #40006
Duplicate of https://github.com/ansible/ansible/issues/15722

[2019-01-25 16:55] #40006 closed, assigned to nobody

[2019-01-25 17:00] bcoca commented on #15753
The `vars` variable is not a supported way to access variables, it was for internal usage (will probably be removed soon) and does not run templating on access as it was used as input to the templating itself.

If you want to dynamically access a variable value use the 'vars' lookup instead https://docs.ansible.com/ansible/latest/plugins/lookup/vars.html

[2019-01-25 17:00] #15753 closed, assigned to jimi-c

[2019-01-25 17:03] samdoran commented on #15722
This is expected behavior as of Ansible 2.0 since recursive templating of dictionary values was changed. If any value in a variable containing a dictionary is undefined, the entire dictionary variable is marked as undefined.

For further help with the issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!f

[2019-01-25 17:03] #15722 closed, assigned to alikins

[2019-01-25 17:04] sivel commented on #51327
!component =lib/ansible/modules/cloud/amazon/elb_network_lb.py

[2019-01-25 17:04] sivel commented on #51321
!component =lib/ansible/modules/cloud/azure/azure_rm_managed_disk.py

[2019-01-25 17:05] sivel commented on #51338
!component =lib/ansible/modules/cloud/amazon/iam.py

[2019-01-25 17:05] sivel commented on #51326
!component =lib/ansible/modules/database/mysql/mysql_replication.py

[2019-01-25 17:06] bcoca commented on #27719
fixed via #50775

[2019-01-25 17:06] #27719 closed, assigned to nobody

[2019-01-25 17:07] sivel commented on #51268
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-25 17:07] #51268 closed, assigned to nobody

[2019-01-25 17:08] sivel commented on #50879
!component =lib/ansible/modules/network/ios/ios_user.py

[2019-01-25 17:15] bcoca commented on #24369
Actually, `connection: local` should not have behaved that way (and was fixed accordingly), `delegate_to: ` does and so does `local_action` since it is the equivalent of `delegate_to: localhost`.

Since the behaviour has been fixed, I'm going to close this documentation request.

[2019-01-25 17:15] #24369 closed, assigned to nobody

[2019-01-25 19:43] sohamdigheoss commented on #36350
@dagwieers Can i do it?

[2019-01-25 20:05] bkmeneguello opened #51341 "Allow to load inventory plugins from installed role"
##### SUMMARY
Roles allow to include inventory_plugins that are made available after the role is loaded. But when an inventory is provided with `ANSIBLE_INVENTORY_ENABLED=custom ansible-playbook -i custom.yml ...` the role include path must be provided with `ANSIBLE_INVENTORY_PLUGINS` or must be copied/linked to user or system plugin search path.
This makes use of inventory plugins harder then com

[2019-01-25 20:07] bcoca commented on #45367
@teresaejunior i would open new ticket for that

[2019-01-25 20:09] kustodian commented on #51328
@sivel if the idea is that `include_role` works the same as if I wrote the same role multiple times in the `roles` section, so here is my role `imp` from above written like that:
[code]
And here is the output:
[code]

[2019-01-25 20:14] samdoran commented on #51190
@GoneWacko Can you test with #51194 and add a `search_paths:` that includes `/ib/molly-guard` before other paths?

Since this is a new feature it will not be available until Ansible >= 2.8.0.

[2019-01-25 20:19] dagwieers commented on #36350
@sohamdigheoss Of course. Look at https://github.com/ansible/ansible/issues/49158 for the right context. Also, if there are ways to do this without having to run executables, that is prefered over this. As executing binaries is more expensive overall.

[2019-01-25 20:44] sivel commented on #51341
This will not be possible, as inventory plugins are needed before we even parse the playbook.  We have no way to know what the roles or role paths are.

See https://github.com/ansible/ansible/pull/51177, specifically https://github.com/ansible/ansible/pull/51177#issuecomment-456470087

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2019-01-25 20:44] #51341 closed, assigned to nobody

[2019-01-25 21:00] #40030 closed, assigned to nobody

[2019-01-25 21:13] richlv opened #51345 "zabbix_action: support for suffixed time values missing"
##### SUMMARY
Zabbix supports suffixed values for escalation period ('esc_period') [since 3.4](https://www.zabbix.com/documentation/3.4/manual/introduction/whatsnew340#support_of_macros_and_time_suffixes_in_time_periods).
Attempting to use them with zabbix_action fails.

Solution might be one of these:

* Pass this value without any validation.
* Check for valid time suffixes (s, m, h, d, w).
* Va

[2019-01-25 21:15] richlv commented on #51345
Hmm, documentation states that this is supported:

Not sure whether my usage is wrong somehow?

[2019-01-25 21:16] bkmeneguello commented on #51341
@sivel Pls, check this proof of concept (I don't want to open a PR yet):
https://github.com/ansible/ansible/compare/devel...bkmeneguello:plugin_role_prefix?expand=1

[2019-01-25 21:23] lonico commented on #50260
This is addressed with https://github.com/ansible/ansible/pull/51181

[2019-01-25 21:55] kbreit commented on #51107
Makes sense. Closing

[2019-01-25 21:55] #51107 closed, assigned to nobody

[2019-01-25 22:27] admirabilis opened #51349 "Strip empty lines from script: too"
##### SUMMARY

As mentioned in https://github.com/ansible/ansible/issues/45367, newline characters are stripped from the stdout of *command:* and *shell:*, but not from *script:*.

*command:* and *shell:* strip `\r\n` from their stdout, which can be easily parsed, such as `when: registered_var.stdout == "string"`, but when using *script:* I always need to remember changing it to something like `wh

[2019-01-25 22:36] bcoca commented on #51033
closing as dupe of #47529

[2019-01-25 22:36] #51033 closed, assigned to bcoca

[2019-01-25 22:36] samdoran commented on #51190
Thank you for the feedback. I will get this merged.

[2019-01-25 23:55] rambleraptor commented on #47812
Hello!

I want to provide a little bit of context about the intention behind this whole process + how we're improving it.

The original idea was that `subnet` would take in the output of a `gcp_compute_subnetwork` task - a dictionary. In your Ansible playbook, it would be very obvious that the subnetwork + the instance were related and users wouldn't have to worry about getting the proper subnetwo

[2019-01-26 00:34] Neustradamus commented on #49878
There is a PR! :)

[2019-01-26 04:02] msgarbossa opened #51355 "module_utils/basic.py fails with FIPS 140-2 enabled systems"
##### SUMMARY
Ansible does not work on FIPS 140-2 enabled systems.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module_utils/basic

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- RHEL 7.6
- Python 3.6 from RHSCL
- FIPS kernel

##### STEPS TO REPRODUCE

ansible -m ping all

[code]

##### EXPECTED RESULTS

hosts in inventory should ping

##### ACTUAL R

[2019-01-26 04:04] larsks opened #51356 "mysql_user fails to parse show grant response from mysql"
##### SUMMARY

This appears to be a duplicate of #20520, but that is from 2017 and is marked as resolved.  I am seeing this behavior with MySQL versions 8 and 10.

Given a `mysql_user` task like this:

[code]

The task will succeed the first time it is run, but on subsequent runs will fail with:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mysql_user

##### ANSIBLE VERSION

[code]

[2019-01-26 04:12] garystafford commented on #37412
@rambleraptor, I don't see a gcp_* module for a lb listed in the documentation? gcp_lb doesn't exist.

[2019-01-26 04:30] larsks commented on #51356
This appears to completely duplicate #40091.

[2019-01-26 04:30] #51356 closed, assigned to nobody

[2019-01-26 05:21] DSpeichert opened #51359 "reboot module should support arbitrary command (e.g.`systemctl kexec`)"
##### SUMMARY
reboot module should support arbitrary command (e.g.`systemctl kexec`)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
reboot

##### ADDITIONAL INFORMATION
While the reboot module does a good job of finding per-OS reboot command, packages like `kexec-tools` often change the behavior.

One then may be in a situation where they want to run `systemctl kexec` to do `kexec`-style r

[2019-01-26 06:14] ParticleDecay commented on #49071
all good to go, latest version would look like this:
[code]

[2019-01-26 07:06] mator commented on #26187
as dag mentioned probably would be nice to have handling of not found make command, again, something like this?
[code]

PS: i haven't checked all the other modules in lib/ansible/modules/system/, but at least awall.py does not check for command found/exists.

[2019-01-26 07:39] mator commented on #26351
can't reproduce with development version of ansible ::

[code]

[2019-01-26 12:15] #50833 closed, assigned to nobody

[2019-01-26 12:15] #50834 closed, assigned to nobody

[2019-01-26 12:48] jdorel opened #51362 "Add a playbooks default path entry in ansible.cfg"
##### SUMMARY

The goal of this feature would be to make it easier to call playbooks in a specific folder.

For exemple, if we have the `ANSIBLE_ENVIRONMENT/playbooks/ folder`, any playbooks in this folder, if configured that way in `ansible.cfg`, could be called simply by `ansible-playbooks <playbook-name>`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible.cfg

##### ADDITIONAL INF

[2019-01-26 13:47] zombah opened #51363 "Network_cli error "unable to set terminal parameters" for EXOS devices"
##### SUMMARY
Connection module ```network_cli``` always report error ```unable to set terminal parameters```
 with ```ansible_network_os: exos``` for Extreme Networks x650 devices EXOS v.15.3.5.2

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

plugins/terminal/exos.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

[code]

[2019-01-26 14:13] zombah commented on #51363
Found similar fix for ios #47290 so i made PR with exact same approach  #51364

[2019-01-26 14:19] dagwieers commented on #26351
resolved_by_pr #26354

[2019-01-26 14:19] #26351 closed, assigned to nobody

[2019-01-26 14:28] #26187 closed, assigned to nobody

[2019-01-26 14:36] dagwieers commented on #35055
cc @nrwahl2 @davx8342

[2019-01-26 14:42] karolyi commented on #27956
I can attest to the fact that py36-ansible-2.7.5 is still **significantly** slower in executing tasks than 2.3 was.

[2019-01-26 16:13] coreywan commented on #51204
This appears to be the same issue as #47531 and a possible fix was PR'd in #47535. However, we were waiting on fixes in the CI (see messages in PR) to allow for testing of the fix.

[2019-01-26 17:29] #29740 closed, assigned to nobody

[2019-01-26 18:02] #48645 closed, assigned to abadger

[2019-01-26 19:13] emper0r commented on #24855
TASK [Open Firewall] **************************************************************************
fatal: [node1]: FAILED! => {"changed": false, "msg": "unsupported version of firewalld, requires >= 0.2.11"}

ansible@node1
$ dpkg -l | egrep firewalld
ii  firewalld                     0.4.4.2-1                    all          dynamically managed firewall with support for network zones

[2019-01-26 23:08] mator commented on #43404
@suryabaiarava
please show playbook example, so i could reproduce your issue. Thanks.

[2019-01-27 07:28] ahmadgb opened #51367 "documentation of win_product_facts is missing"
##### SUMMARY
documentation of win_product_facts module is incomplete

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
win_product_facts

##### ADDITIONAL INFORMATION
there are no examples and still not complete explanation of what the module is expected to do

[2019-01-27 11:43] abitrolly opened #51369 "Add groupvars to playbook in addition to hostvars"
##### SUMMARY

The idea of adding `groupvars` lookup to playbooks can be considered a duplicate of #22559, so the goal of this issue is to provide more explicit example with no discussions about possible hacks and workarounds.

This is what I propose:
[code]

This is the hack proposed by people on StackOverflow.
[code]
https://stackoverflow.com/questions/33896847/how-do-i-set-register-a-variable-t

[2019-01-27 12:15] felixfontein commented on #51200
That's true, but: some people use old LTS distributions which still come with `docker-py` (and an older docker daemon). For various reasons, they might not be able to upgrade to `docker`. Dropping support for them just because `docker-py` has trouble with the latest docker daemon (only if you enable TLS though, it seems, which isn't enabled by default) seems like a very extreme measure to me.

I d

[2019-01-27 14:31] felixfontein commented on #19081
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:32] felixfontein commented on #19371
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:41] felixfontein commented on #20458
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:41] felixfontein commented on #21504
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:42] felixfontein commented on #22358
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:42] felixfontein commented on #23607
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:42] felixfontein commented on #25943
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:42] felixfontein commented on #26937
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:42] felixfontein commented on #28768
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:42] felixfontein commented on #29498
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:43] felixfontein commented on #29513
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:43] felixfontein commented on #29532
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:43] felixfontein commented on #30548
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:43] felixfontein commented on #31924
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:43] felixfontein commented on #33731
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:44] felixfontein commented on #33960
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:44] felixfontein commented on #37059
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:44] felixfontein commented on #37471
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 14:44] felixfontein commented on #42506
Please note that the `docker_service` module will be renamed to `docker_compose` in Ansible 2.8. You will be able to still use the old name, but you will receive a warning when doing so.

!component =lib/ansible/modules/cloud/docker/docker_compose.py

Also, please note that currently, nobody is actively maintaining the Ansible `docker_service`/`docker_compose` modules. If you are interested in wor

[2019-01-27 16:26] #49199 closed, assigned to nobody

[2019-01-27 16:28] #50511 closed, assigned to nobody

[2019-01-27 18:44] bkmeneguello commented on #51341
@sivel I think you didn't understand what I proposed, let me explain:
I'm not suggesting to load roles from the playbook, so it's not necessary to parse it before to load the inventory.
I think we could prefix the inventory plugin name when you enable the plugin (using ANSIBLE_INVENTORY_ENABLED), this only requires the config.cfg to be parsed (which is) before loading the plugin.
I read the commen

[2019-01-27 19:53] dagwieers commented on #51367
There is a button at the top to edit the documentation. Feel free to contribute what is missing.

[2019-01-28 02:19] Fred-sun commented on #51321
@nomadcz Thanks for your reporting, It's seem new feature for azure_rm_managed_disk module.

[2019-01-28 02:20] Fred-sun commented on #51321
@zikalino Could you help take a look this issue? It seem a new feature for azure_rm_managed_disk module. Thanks!

[2019-01-28 02:34] xuqingfeng commented on #21504
Thanks for the update.

`docker_container` is my goto option when it comes to managing containers. (personally, I don't
 really need this feature anymore)

[2019-01-28 02:43] Fred-sun commented on #51324
@nomadcz Thanks for your report this issue! But I try on ansible 2.7.6 and 2.8.0dev0 not meet this issue? Could you help give your variable and full YAML? I will try again. Thanks!
You also can try as below:
[code]
Get result:
[code]

[2019-01-28 03:51] FragmentedPacket commented on #51306
@malbertus Hey! I think this has been reported and fixed (not merged)

Can you try pulling the following request and seeing if it fixes your issue?
https://github.com/ansible/ansible/pull/50761

[2019-01-28 04:47] crosson commented on #44864
Sorry for the delay. Let me get back to you tomorrow. I will also experiment with hard coding the value of transport and seeing if anything changes.

[2019-01-28 05:34] Akasurde commented on #38641
!needs_info

[2019-01-28 05:55] DhruvBansal86 commented on #50967
@mattclay  i have updated my query on google  groups but no response till date. Can you please suggest/guide some other way?

[2019-01-28 06:01] Fred-sun commented on #51335
@nomadcz Thanks for you report this issue! VMSS extension function may be has been add on another module--azure_rm_virtualmachinescalesetextension.  maybe you can try the PR #50709( has been merged). The custom-data is a new feature for azure_rm_virtualmachine_scaleset,  Thanks!

[2019-01-28 06:02] Fred-sun commented on #51335
@zikalino  Could you help take a look this issue when you're available? Thanks!

[2019-01-28 06:34] felixfontein commented on #44077
The module's interface is kind of strange. Anyway, the behavior is not surprising when looking at the code:
[code]
If you specify `force`, it will always try to build, load, or pull the image. (Also see the documentation for `force`, which exactly says that.) So don't specify `force` if you don't want to pull.

For tagging and pushing, the code looks as follows:
[code]
This looks strange, because

[2019-01-28 06:52] jainnikhil30 commented on #47915
@keilr

Can you please try this with latest ansible (2.7.5) and tower-cli (3.3.1) versions. I am not able to reproduce this. Following is what I get:

[code]

[2019-01-28 08:09] Fred-sun commented on #49659
@zikalino Do you have any update for this issue? Thanks!

[2019-01-28 08:10] Fred-sun commented on #49281
@zikalino

[2019-01-28 08:15] NilashishC commented on #50879
Added in devel by #51173 and should be rolled out with 2.8 release.

[2019-01-28 08:15] #50879 closed, assigned to NilashishC

[2019-01-28 08:51] nomadcz commented on #51335
Thank you for pointing me to azure_rm_virtualmachinescalesetextension - this module is indeed missing in my current  (ansible 2.8.0.dev0) deployment. Will check it out.

[2019-01-28 08:54] lukez1985 commented on #45918
Having come across this issue and this page I have also got it to work by adding the universe repo. Maybe ansible docs should be updated to include this for Ubuntu as it's clearly an issue for fresh 18.04 build.

[2019-01-28 08:54] Fred-sun commented on #51335
@nomadcz Yeah, This is new add in ansible 2.8.0.dev0. Thanks!

[2019-01-28 08:55] zikalino commented on #51335
@nomadcz I will look into custom data.
Regarding extensions, pls check:
https://zikalino.github.io/blog/2019/01/24/installing-httpd-on-vmss-using-vmss-extension/
I have described entire scenario and there are also examples how to use extension.
I am also exploring VMSS at the moment and looking into essential things that are still missing.

[2019-01-28 09:14] nomadcz commented on #51324
@Fred-sun task with the following will always report change:

       vars:
         domain_name: ""

    - name: Test publicipaddress idempotent
      azure_rm_publicipaddress:
        name: fred_publicIP
        allocation_method: Static
        resource_group: myRG
        domain_name: "{{ domain_name | default(omit) }}"

The issue is with domain_name: "{{ domain_name | default(omit) }}" -> addi

[2019-01-28 09:18] nomadcz commented on #51335
@zikalino Thank you

[2019-01-28 09:51] Fred-sun commented on #51324
@nomadcz  Yeah, I can reproduce your error, It alway happend domain_name is defined as "" and domain_name: "{{ domain_name | default(omit) }}".  However, when adding "true" into default fixes the issue: domain_name: "{{ item.domain_name | default(omit, true) }}

[2019-01-28 09:52] Fred-sun commented on #51324
@zikalino  Could you help take a look this issue? It can reproduce, But I can't sure it's a issue or not? Please check. Thanks!

[2019-01-28 09:53] Metalaria commented on #33580
I`m having the same issue with amazon s3

`The full traceback is:
WARNING: The below traceback may *not* be related to the actual failure.
  File "/tmp/ansible_get_url_payload_C93O4H/ansible_get_url_payload.zip/ansible/module_utils/urls.py", line 1259, in fetch_url
    client_key=client_key, cookies=cookies)
  File "/tmp/ansible_get_url_payload_C93O4H/ansible_get_url_payload.zip/ansible/module_uti

[2019-01-28 11:09] Ashishkasaudhan opened #51378 "hashi_vault lookup plugin needs key=value pairs, but received"
##### ISSUE TYPE
Bug Report

##### ANSIBLE VERSION
N/A

##### COMPONENT NAME
lib/ansible/plugins/lookup/hashi_vault.py

##### SUMMARY
I am trying to use hashi_vault lookup plugin to fetch secrets from vault server.  This is my code
[code]
But i am receiving below mentioned error
[code]
Secrets which i want to access
[code]
Component name :  hashi_vault

[2019-01-28 11:31] arocki7 commented on #5185
How about like this?

[code]

[2019-01-28 12:20] ccoupeau opened #51381 "VMware: Add a VMware TAG to a VM"
Hi guys,
I'm trying to assign a VMWare Tag to some news VM (for Veeam Backup) but i always have this error below appears...
I tried so many things but nothing fix it ...
Do you have any ideas please ?

##### ISSUE TYPE
.yml doesnt apply what i want with my arguments :(

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### STEPS TO REPRODUCE
[code]

#####

[2019-01-28 12:32] megakoresh opened #51382 "panos_query_rules: Match by glob pattern and subnet"
##### SUMMARY
Currently query rules module matches directly by string comparison. This is very inflexible and not very useful (if I knew such exact parameters why would I look up the rule to the begin with?). A much more useful approach would be to try matching by subnet e.g.

destination_ip: 192.168.88.6 would match a rule with destination ip: 192.168.88.0/24 and same for source.

And failing tha

[2019-01-28 13:09] ericdost commented on #49951
@kbreit Sure, I can test.  What branch?

[2019-01-28 13:18] riccardomassullo commented on #42927
No, following your example It fails with the error:
`
fatal: [test.example.org]: FAILED! => {"msg": "An unhandled exception occurred while templating '{{ sysctl|combine({'sysctl': {'net': {'ipv4': {'ip_forward': 1}}}}) }}'. Error was a <class 'ansible.errors.AnsibleError'>, original message: An unhandled exception occurred while templating '{{ sysctl|combine({'sysctl': {'net': {'ipv4': {'ip_forwar

[2019-01-28 13:58] zikalino commented on #51335
custom data support
https://github.com/ansible/ansible/pull/51380

[2019-01-28 14:11] ahmadgb commented on #50765
@agowa338 verified

[2019-01-28 14:31] ahmadgb opened #51385 "win_package can't install visual studio build tools and sends out bad message"
##### SUMMARY
win_package didn't manage to install visual studio although manual run of the install cmd
did it

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_package

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Windows 10

##### STEPS TO REPRODUCE
![image](https://user-images.githubusercontent.com/46568495/51842417-82f8aa80-2319-11e9-9f7f-2a5d1a91f13

[2019-01-28 14:41] nomadcz commented on #51335
@zikalino Thank you !

[2019-01-28 14:51] nomadcz opened #51387 "azure_rm_managed_disk should support caching options"
##### SUMMARY
azure_rm_managed_disk should support caching options

##### ISSUE TYPE
As azure_rm_managed_disk allows creating/attaching/detaching managed disks to VM it should support caching options similar to "az vm disk attach --vm-name  [--caching {None, ReadOnly, ReadWrite}] ..."

##### COMPONENT NAME
azure_rm_managed_disk

##### ADDITIONAL INFORMATION
While azure_rm_virtualmachine allows spe

[2019-01-28 15:19] #50245 closed, assigned to NilashishC

[2019-01-28 15:32] bcoca commented on #22559
related to my post above, this implements per var merge control #25948

[2019-01-28 15:55] #50299 closed, assigned to sivel

[2019-01-28 16:16] ericx commented on #50879
Thank you.

[2019-01-28 16:40] bradwood commented on #49395
Just to be clear, is the docker python module required on the *remote* (ie, target) host, or on the host that is executing the playbook (i.e, my workstation)?

[The docs](https://docs.ansible.com/ansible/2.7/modules/docker_image_module.html) seem to suggest the latter (the local machine):

But @jaydrogers suggests that it is the remote machine? Are the doc's wrong?

thanks

[2019-01-28 16:53] dw opened #51393 "AnsibleModule.run_command() scheduling race"
##### SUMMARY

- run_command() has a select loop with a 1 second timeout.
- If the timeout expires, select returns empty lists.
- If the lists are empty, `_read_from_pipes` will not attempt to read  from the associated descriptor
- If process is then put to sleep before the `proc.poll()` test,
- and the child being executed wakes, and that child writes to its pipes and exits,
- and parent is then

[2019-01-28 17:11] dw commented on #51393
The existing behavior appears to be due to coping with the possibility a child process starts a long-lived child of its own that keeps the pipes open, so testing for pipe disconnect is not a reliable way to exit the loop by itself.

[2019-01-28 17:36] dw commented on #51393
Rough patch in https://github.com/dw/ansible/tree/issue51393

[2019-01-28 17:38] bcoca commented on #51393
similar first attempt to fix
[code]

[2019-01-28 17:39] dw commented on #51393
I'm not sure it's possible to avoid a timeout-second delay when the pipes are held open, kindof annoying.

[2019-01-28 17:54] dw commented on #51393
Actually a single loop iteration like in yours could do it -- if _read_pipes() buffer size was adjusted to match Linux pipe buffer size (up to 64KiB by default)

[2019-01-28 17:55] dw commented on #51393
If process is trying to write more than pipe buffer size data, it won't be able to exit. The problem only manifests when written output can fit entirely in buffer, we need to be sure the buffer is fully drained (9KiB read in 1 iteration isn't enough if the buffer could be up to 64KB)

[2019-01-28 18:06] mator commented on #17908
@sadanand25 we're talking about solaris issue here, probably resolved. Please tell me why do you reporting upon solaris when running on AIX (mksysb) ? Thanks.

[2019-01-28 18:10] #38640 closed, assigned to nobody

[2019-01-28 18:17] kbreit commented on #49951
@ericdost Thanks for your help testing this. I haven't tested the code (at an airport) so it may not work. I'll be able to test tonight most likely.

https://github.com/kbreit/ansible/tree/meraki/performance_request_fix is the branch.

[2019-01-28 18:28] dthvt opened #51396 "ec2_instance - ENI description not being set"
##### SUMMARY

When calling ec2_instance and supplying a network block including a description element, the resulting ENI is not labeled with the supplied description.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows 10 Enterprise w/ WSL and Ubuntu 18.04.

dhagan@onmyoji-shi:~/cloud-ansib

[2019-01-28 18:48] WRJFontenot commented on #51204
It's not the same issue, but the root causes are probably related.  In this case, you can't create an A record in the second view if it exists in the first.  In #47531, creating the same CNAME in the second view deletes its twin in the first.

[2019-01-28 19:03] dw commented on #51393
Pushed another patch, but still not happy with it.

- In case of silent grandchild holding pipes open, set timeout to 0 so that iterations complete immediately
- In case of noisy grandchild (cat /dev/urandom), just give up draining pipes after 10 iterations.
- Exit after first iteration with empty reads if process has exitted
- Bump os.read() buffer size to match Linux pipe, so it /should/ only ta

[2019-01-28 19:42] #51063 closed, assigned to nobody

[2019-01-28 19:51] felixfontein commented on #49395
The host that executes the module (not ansible) **is** usually the remote machine (if you don't use `local_action` or `delegate_to: localhost`).

[2019-01-28 19:56] bcoca commented on #51393
don't assume linux buffer size, 1/2 of my test targets are using 4k buffers

[2019-01-28 20:01] dw commented on #51393
Should I just keep reads size 9000? That looks like a made up number, tweaking it is fairly orthogonal to the rest of the patch, except that if the pipe buffer is legitimately full, 7 loop iterations will be required to empty it if the buffer is 64KiB, so bumping exit_loops to 20 or 30 might be wise in that case.

A better solution would not require that exit_loops variable at all, but I'm out of

[2019-01-28 20:02] bcoca commented on #51393
i was looking at dynamically querying the size via `fcntl.fcntl(<fd>, F_GETPIPE_SZ)` but unsure if its POSIX

[2019-01-28 20:03] dw commented on #51393
PIPEBUF constant (maybe available via sysconf) is what you're after, but per above it's inaccurate on Linux, since Linux does not pick a constant

[2019-01-28 20:05] bradwood commented on #49395
confusing. when I run a playbook on my local workstation, I think of it as running the module locally. Perhaps the working can be make unambiguous. If it confused me, I'll surely confuse someone else.

[2019-01-28 20:14] #39906 closed, assigned to nobody

[2019-01-28 20:15] felixfontein commented on #49395
Ansible works by transporting code (in form of modules) to a remote machine and executing it there. If you want the general module documentation to be more clear on this, feel free to create an issue (or even better, a PR) againts the [documentation template](https://github.com/ansible/ansible/blob/devel/docs/templates/plugin.rst.j2#L72).

[2019-01-28 20:21] bcoca commented on #51393
So this seems to work across most systems
[code]

[2019-01-28 20:51] Andersson007 opened #51399 "Enhanced PostgreSQL support: facts, tables, set parameters, users"
##### SUMMARY

I suggest these recently added new modules for enhanced PostgreSQL support in following PRs:

**1. postgresql_facts:** https://github.com/ansible/ansible/pull/51164  gathers facts about remote PostgreSQL servers.
**2. postgresql_table:** https://github.com/ansible/ansible/pull/50931 allows to create (including LIKE statement), drop, rename, or truncate a table. Also allows to change

[2019-01-28 21:07] badnetmask opened #51402 "NIOS (Infoblox) modules should use API authentication cookie"
##### SUMMARY

The current authentication implementation of the NIOS (Infoblox) modules makes use of statically defined variables for username and password, to be used in every single task. This breaks the use of dynamic authentication methods, like in environments that use time-based password (token/2FA).

The NIOS WAPI provides a cookie (ibapauth), which can be retrieved on the first authenticat

[2019-01-28 21:14] Andersson007 commented on #51399
!needs_info

[2019-01-28 21:17] dw commented on #51393
I've pushed another copy that includes the EINTR handling. It's easy to hit this while running Ansible under a profiler, and I've witnessed it in the past. The script below demonstrates `read()` on Linux catching EINTR despite a populated buffer

[code]

[2019-01-28 21:48] snemir2 commented on #42532
so, to sum up the scope of the issue:
1. boto3 itself works just fine with get_bucket_policy
2.  Policy gets applied correctly
3.  looks like after policy is applied, the module tries to get policy back -- and times out. This works in us-east-1, but timeout in every other region that i tried.
4. same playbook  worked with ansible 2.5.5

Is there anything in the way get_bucket_policy is called by t

[2019-01-28 22:46] kbreit opened #51405 "Meraki - Debug mode should output better information about payload"
##### SUMMARY
Currently any payload/idempotency debugging requires a lot of `fail_json()` calls to troubleshoot. An `output_level` mode should output better information if requested.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-01-28 22:47] epicanthal opened #51406 "aci_aaa_user not setting 'description'"
##### SUMMARY

The aic_aaa_user module is not properly setting the 'description' attribute.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aci_aaa_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ACI APIC Firmware Version:  3.2(1m)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

'Description' attribute is set to 'THIS IS MY DESCRIPTION'

#

[2019-01-28 23:21] maxamillion commented on #24855
@digitalhuman @emper0r As noted above, you need to use [python3 with Ansible](https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html) when controlling firewalld on a Debian 9 or recent version of Ubuntu host because they have stopped shipping the python2 bindings (Python 2 goes EOL in less then 12 months and distros have been working on the migration for the past few ye

[2019-01-29 00:18] anaray commented on #49695
Seeing the exact same issue

`The full traceback is:
Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-tmp-1548720135.44-174167475141135/AnsiballZ_s3_bucket.py", line 113, in <module>
    _ansiballz_main()
  File "/root/.ansible/tmp/ansible-tmp-1548720135.44-174167475141135/AnsiballZ_s3_bucket.py", line 105, in _ansiballz_main
    invoke_module(zipped_mod, temp_path, ANSIBALLZ_

[2019-01-29 00:19] anaray commented on #49695
Seeing the same issue

`ValueError: No JSON object could be decoded
fatal: [masifgw01 -> localhost]: FAILED! => {
    "changed": false,
    "module_stderr": "Traceback (most recent call last):\n  File \"/root/.ansible/tmp/ansible-tmp-1548720135.44-174167475141135/AnsiballZ_s3_bucket.py\", line 113, in <module>\n    _ansiballz_main()\n  File \"/root/.ansible/tmp/ansible-tmp-1548720135.44-1741674751

[2019-01-29 01:39] dagwieers commented on #51406
@epicanthal Thanks for reporting. And your analysis is correct, we were missing the descr key in the payload. I have made a fix and updated the integration tests.

[2019-01-29 02:01] Fred-sun commented on #50978
@zikalino

[2019-01-29 02:03] Thai-Morris commented on #51367
@dagwieers @ahmadgb How do I fix this issue for you guys?

[2019-01-29 02:16] #51406 closed, assigned to nobody

[2019-01-29 02:47] dagwieers commented on #17953
!component -lib/ansible/module_utils/facts/network/darwin.py
!component -lib/ansible/module_utils/facts/network/freebsd.py
!component -lib/ansible/module_utils/facts/network/generic_bsd.py
!component -lib/ansible/module_utils/facts/network/hpux.py
!component -lib/ansible/module_utils/facts/network/netbsd.py
!component -lib/ansible/module_utils/facts/network/openbsd.py
!component -lib/ansible/modul

[2019-01-29 03:01] yuwzho commented on #51021
Thanks for the reporting, we will leverage our bandwidth to add the facts module. As you mentioned, currently you can get the raw data via azure_rm_virtualnetwork_facts module, before the  subnet facts module released, you can use the virtualnetwork one to get the data.

[2019-01-29 03:03] Fred-sun commented on #48415
@zikalino

[2019-01-29 03:28] #49558 closed, assigned to nobody

[2019-01-29 03:52] kbreit opened #51412 "Digital Ocean volume tagging capability"
##### SUMMARY
Digital Ocean added support for getting and setting tags for volumes. The Ansible modules should support this action.

https://developers.digitalocean.com/documentation/changelog/api-v2/add-volume-tagging/

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
digital_ocean_volume

[2019-01-29 04:57] ptux commented on #33580
"... urls.py", line 591, in build_ssl_validation_error

This could be a python2/3  compatibility problem.
I'll take a look at `urls.py`

[2019-01-29 05:00] ptux commented on #33580
could you try it on ansible 2.5 or newer?

[2019-01-29 07:36] Fred-sun commented on #51387
@nomadcz Thanks for your reporting this issue! It's new feature for azure_rm_managed_disk module. Thanks!

[2019-01-29 07:41] Fred-sun commented on #51387
@zikalino Could you help take a look this issue when you're available? azure_rm_managed_disk missing caching feature when created VM attach disk. Thanks!

[2019-01-29 08:49] ravibhure opened #51421 "Jira module operation fetch - AttributeError: 'TypeError' object has no attribute 'message'"
##### SUMMARY

Error while fetching jira issue details

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

jira

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-01-29 09:19] dominikholler opened #51422 "ovirt_network fails to label a new network"
##### SUMMARY
ovirt_network fails to label a new network

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.6 (Maipo)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-01-29 09:33] ThoreKr commented on #34226
What is the status of this issue?

Still seeing no diff output on Windows with Ansible 2.5 or 2.7.

[2019-01-29 09:42] sebw commented on #31543
Ran into the exact same issue.

I had to use `meta: end_play` in my rescue statement to force end the playbook.

[2019-01-29 09:49] #50979 closed, assigned to nobody

[2019-01-29 10:07] NilashishC commented on #50497
Added in devel by #50711

[2019-01-29 10:07] #50497 closed, assigned to NilashishC

[2019-01-29 10:10] jaksah commented on #30229
According to the [boto documentation for get_all_load_balancer](http://boto.cloudhackers.com/en/latest/ref/elb.html?highlight=get_all_load_balancers#boto.ec2.elb.ELBConnection.get_all_load_balancers) there is an optional parameter to specify load balancer names. Even if the `ec2_elbs` argument is defined, this property is not used, resulting in multiple calls to AWS for traversing the pagination.

[2019-01-29 10:29] drybjed opened #51425 "git module: 'git' command does not create --separate-git-dir path automatically"
##### SUMMARY

The `git clone --separate-git-dir` command does not create the separate git dir automatically when cloning the source code, that only happens for the checked out worktree. When this functionality is used with Ansible `git` module, and the path to the separate git directory does not exist, the module returns with an error:
[code]

An obvious solution to this is to use the `file` modu

[2019-01-29 10:36] ypso commented on #41232
up same issue on aix 7

[2019-01-29 10:37] umataro commented on #47511
I'm adding my voice here. In its current state, this inventory script is almost useless for environments where VMs have more than 1 IP, let alone when you have VMs with containers in them.

I don't know why oVirt orders the IPs the way it does - in my case the SAN IP is first (ens4 device), the general IP second (ens3 device). When that is the case, ansible fails to connect to hosts (no ssh on san

[2019-01-29 10:58] CSimpiFoN commented on #50881
Hello, did we give up on this?

[2019-01-29 11:02] machacekondra commented on #47511
Please check if the new inventory plugin solves what you need: https://github.com/ansible/ansible/pull/49085

[2019-01-29 11:45] sankalpcool25 commented on #34720
similar to thsi issue I have a task :-1:
  7 - name: Reboot the host
  8   shell: sleep 2 && shutdown -r now "Ansible updates triggered"
  9   async: 20
 10   poll: 4
 11   ignore_errors: true
 12   when: check_reboot_status.stdout.find('reboot') != -1

which fails with error :-1:

TASK [Reboot servers] ***********************************************************************************************

[2019-01-29 11:46] dagwieers commented on #3887
The following proposal goes into the various aspects of this functionality: https://github.com/ansible/proposals/issues/92

[2019-01-29 11:48] ag0n1k opened #51429 "Idempotence test failed for openssl_csr"
##### SUMMARY

The idempotence test failed for openssl_csr module. I have heard about `force` mode, there is no such problem and I have some investigations, see the result below:

The module generates csr when this condition works:
[code]
The self.force is False, so the not self.check() is True. self.check() returns the expression of:
[code]
Because of the check of the self.check() used with not,

[2019-01-29 11:52] sankalpcool25 opened #51431 "ansible async poll with shell"
##### SUMMARY
ansible async poll and shell dont work togather

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

2.4.2.0

[code]

[2019-01-29 12:05] dagwieers commented on #28652
@davx8342 I like the output except for one thing, `ansible_distribution_release` should always be a string, even if the value is 0.

[2019-01-29 12:06] dagwieers commented on #28652
@davx8342 Can you propose this as a new PR, and include the output of your tests on your equipment too ? Let's close some of these HP-UX issues :-)

[2019-01-29 12:15] ag0n1k commented on #51429
If we add the subject_alt_name - the problem goes away. Here the test playbook:
[code]

[2019-01-29 12:51] Timoses commented on #51284
The following line seems to be causing the issue:
https://github.com/ansible/ansible/blob/v2.7.6/lib/ansible/modules/packaging/os/yum.py#L976
In my case it is called with 75525 items in `pkglist`. It does not seem to finish ever.

[2019-01-29 12:53] dagwieers commented on #51429
We may want to add integration tests to catch these or similar issues in the module.

[2019-01-29 12:57] dagwieers commented on #51385
@ahmadgb Copy&pasting text is easier to process than images (i.e. users searching for identical issues, or using your exact playbook to reproduce). You are making it harder for others to help you.

[2019-01-29 13:13] dagwieers commented on #51399
@Andersson007 We are forming Working Groups around specific technologies so that issues and PRs can be reviewed by users. I started to label all PostgreSQL issues and PRs as a first action. If you are interested to help (lead) the Working Group, let me know.

Since I started 6 of these Working Groups recently, I don't want to take more than I can chew, but I don't mind helping others kickstarting

[2019-01-29 14:10] Andersson007 commented on #51399
@dagwieers, it sounds really good. I'll see them and write to you about your suggestion, thank you!

[2019-01-29 14:16] samccann commented on #51280
@privateip @abenokraitis @rcarrillocruz Please review this issue and its impact to network vs security modules.

[2019-01-29 14:18] abenokraitis commented on #50029
preference by @privateip is to use a filter here instead compared to modifying module code. Thoughts, @IPvSean ?

[2019-01-29 14:21] abenokraitis commented on #51280
This needs a larger discussion prior to any movement of modules to a new category.

[2019-01-29 14:25] cross-logic commented on #51280
For now there is no movement planned, this is just for the content specifically developed for Ansible Security Automation

[2019-01-29 15:03] ropbear opened #51433 "Broken Link in intro_dynamic_inventory.html"
##### SUMMARY
Link on [intro_dynamic_inventory.html](https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html) is broken.

![image](https://user-images.githubusercontent.com/11134586/51916519-76bd2d80-23ab-11e9-9848-7409a843e232.png)

##### ISSUE TYPE
- Documentation Report

##### OS / ENVIRONMENT
Browser: Chrome 71

[2019-01-29 15:14] MartinTrifork commented on #51057
fakes3s is for https indeed. We use: `fakes3s://sos-ch-gva-2.exo.io` and the first time it works fine. When we run it again and use a different zone it will become: `fakes3s://sos-ch-dk-2.exo.io` and it starts to fail if the bucket already exists in the other zone. Is there some retry that ignores this url?

[2019-01-29 15:22] jonTrent commented on #44647
Ran into same issue when running an Ansible script to create a VPC.  (In my case it was via Ansible Tower.)  Error that I received was...

"Failed to describe VPCs: An error occurred (AuthFailure) when calling the DescribeVpcs operation"

Search led me here with no resolution.  For those also reaching this corner of the internet, I was able to resolve my problem by regenerating the AWS ACCESS KEY

[2019-01-29 15:32] IPvSean commented on #50029
@privateip @abenokraitis can I get an example?

[2019-01-29 15:37] acozine commented on #40371
Per discussion on IRC:
probably putting a "@media screen { ... }" around https://github.com/ansible/ansible/blob/devel/docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css#L1659 fixes the problem

[2019-01-29 15:39] piccardi opened #51435 "Make known_hosts use plain public keys (.pub files content)"
##### SUMMARY

Simplify hosts keys management in known_hosts module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

known_hosts

##### ADDITIONAL INFORMATION

Now to add a key to **.ssh/known_hosts** with this module you need to get it from a server, remove the comment field (the last field), prepend an hostname to it, then pass it in the **key** parameter. And you must have care to use th

[2019-01-29 15:51] cr33phav opened #51436 "Cisco unable to enter enabled mode"
##### SUMMARY
Unable to enter enable mode on Cisco devices

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

IOS command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco IOS Software, 3700 Software (C3745-ADVENTERPRISEK9-M), Version 12.4(25d), RELEASE SOFTWARE (fc1)

Cisco IO 4506

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.1 LTS
Release:	18.04
C

[2019-01-29 15:53] jonTrent commented on #43229
FWIW.  I was running into similar issue, receiving error...

"The task includes an option with an undefined variable. The error was: 'dict object' has no attribute 'vpc'\n\nThe error appears to have been in ..."

Was running an Ansible script via Tower with Job Type of "Check" rather than "Run".  Obviously in Check mode, nothing is actually executing, so no results will be returned.  Not saying th

[2019-01-29 15:59] maxamillion commented on #51284
@Timoses I don't have a system available to me that I'm able to reproduce this with, is there a certain set of public yum repositories you're using that adds up to that large of a content set for `pkglist` that I could use to replicate the situation? Or do you otherwise have a minimal reproducer? Thank you.

needs_info

[2019-01-29 16:27] djsowa commented on #33699
We are facing the same issue with Ansible 2.6. This error occur on many different tasks/roles.
We are using SSH connection over private IP and authentication is done by ssh key - no passwords.

[2019-01-29 16:27] Marc3001 commented on #44970
Seems that default auth method in mongo4.X (SCRAM-SHA-256) has been implemented in pymongo 3.7
https://github.com/mongodb/mongo-python-driver/commit/5b9257644f96cc377fb2239f8df6de8eed6a128b

So upgrading pymongo to 3.7.X should do the trick.

[2019-01-29 16:29] dominikholler commented on #51422
This problem seems to be only in combination with oVirt 4.3, 4.2 seems to work.

[2019-01-29 16:43] thomasdstewart opened #51437 "unsupported interface for Eth1/1/1 with onyx_interface"
##### SUMMARY
When using net_interface with Mellanox switches the onyx_interface is used to configure interface descriptions. When trying to set a description for Eth1/1/1 it fails with: "unsupported interface".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
onyx_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Running on Debian testing/unstable, pi

[2019-01-29 16:58] justjais commented on #50029
@IPvSean this is the best example I could come up with:
[code]
I know it's not straightforward and similar to what you have explained in issue description but via available filters we can solve the issue like above. @privateip kindly confirm if this is similar to what you meant.

[2019-01-29 17:04] acozine opened #51439 "Better 404 page for docs.ansible.com/ansible"
##### SUMMARY
Edited after the [Docs Working Group meeting April 9 2019](https://github.com/ansible/community/issues/389):

As a user, when I request a URL that does not exist, I would like a useful 404 page that gives me some navigation options and, if possible, information about the versions available and helpful hints.

Minimum requirements:

- [ ] add https://pypi.org/project/sphinx-notfound-p

[2019-01-29 17:35] fboux0 opened #51441 "na_ontap_export_policy_rule - not idempotent"
##### SUMMARY
I'm trying to allow hostnames in NetApp based on their Ansible group .
When rerunning a playbook the na_ontap_export_policy_rule module creates a new rule instead of overwriting the current if the client_match is changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_ontap_export_policy_rule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2019-01-29 17:38] rukiaEnix opened #51442 "aci_interface_policy_port_security timeout parameter not working"
##### SUMMARY

I was trying to use the **aci_interface_policy_port_security** module and I noticed that the timeout parameter is not working, I pass values different than 60 but the policy is always created with a timeout value of 60.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

aci_interface_policy_port_security

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / EN

[2019-01-29 17:46] jistr opened #51443 "os_floating_ip crashing with AttributeError: 'dict' object has no attribute 'addr'"
##### SUMMARY

When using `nat_destination` parameter of `os_floating_ip` module, dot
syntax (`addr.addr`) is used to access a value in a dictionary,
resulting in the module crashing with this error:

AttributeError: 'dict' object has no attribute 'addr'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_floating_ip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVI

[2019-01-29 17:55] fboux0 opened #51445 "na_ontap_export_policy_rule - 'absent' example doesn't work"
##### SUMMARY

https://docs.ansible.com/ansible/latest/modules/na_ontap_export_policy_rule_module.html#na-ontap-export-policy-rule-module says we can delete with:
[code]
This fails with
[code]
When I add the vserver it fails with
[code]
When I finally add a client_match (that exists) it does delete it.
[code]
Specifying a specific rule index to delete without specifying a client_match also doesn't

[2019-01-29 18:01] dw commented on #51393
I'm happy to add tests and turn this into a PR, but there should be clarity on what the desired behavior is.. fixing one data loss with another, or breaking something elsewhere would suck :)

It boils down to having no way to know whether the child or its noisy grandchild is responsible for continued output. I like bcoca's idea, if the pipe buffer size can be portably determined, stop reading afte

[2019-01-29 18:06] carchi8py commented on #51441
I've created netapp-1172 internally for this issue.

[2019-01-29 18:09] carchi8py commented on #51445
I've created internal story netapp-1174 for this.

[2019-01-29 18:59] sharky1337 commented on #19153
I have exactly the same problem. Bootstrapping a jail is really hard without this option.

[2019-01-29 19:02] ericsysmin opened #51447 "gcp_container_node_pool module error with location field"
##### SUMMARY
Container cluster pools not supported by module when using regions vs zone.
`https://container.googleapis.com/v1/projects/{{ project }}/locations/{{ region }}/clusters/{{ cluster_pool_name }}`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_container_node_pool

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04

##### STEPS TO REPRO

[2019-01-29 19:03] ericsysmin commented on #51447
@rambleraptor figured you'd like to see this

[2019-01-29 19:16] IPvSean commented on #50029
i mean personally that looks absolutely awful, that was not the goal of this issue.... my vote is NO 👎 , if I get a vote :)

[2019-01-29 19:20] zeroem commented on #39122
I'm currently running Ansible 2.7.1, and as of this version I still need to follow the instructions from #16194, specifically [this comment](https://github.com/ansible/ansible/issues/16194#issuecomment-311340681)

For ad hoc ansible commands, the callback plugins are disabled by default, to get them to work, you must set `ANSIBLE_LOAD_CALLBACK_PLUGINS=True` in the environment or set `bin_ansible_c

[2019-01-29 19:29] abitrolly opened #51448 "Support groups in command line inventory (host_list.py)"
##### SUMMARY

I am trying to init `newhost` with playbook for `[master]` group, and there is no way to specify the group for the host from command line without adding the host to inventory. This is what is needed.

    ansible-playbook -i "[master]newhost," playbook.yml

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/invento

[2019-01-29 19:34] samccann commented on #41425
There is a similar problem with plugin pages such as this one - https://docs.ansible.com/ansible/latest/plugins/strategy/linear.html

PR #51115 pokes around related code and might help show where the fixes should be for this.

[2019-01-29 20:06] bcoca commented on #51393
I don't think EINTR is an issue here since we are running one off scripts and they should really avoid using signals, this is not affecting the ansible runtime itself.

As for the race condition, I doubt many have hit this, since it would require very particular loads on a system when ansible executes the module. It is still a bug and I think we can fix it, either your code or mine seems to addres

[2019-01-29 20:09] felixfontein commented on #40371
I'm wondering where https://github.com/ansible/ansible/blob/devel/docs/docsite/_themes/sphinx_rtd_theme/static/css/theme.css actually comes from. It looks auto-generated to me (and there are a random set of other / similar / subsetty looking CSS files in other directories), but I don't see a process which generates it (and I can't find a source for this particular line part of the CSS). Does anyon

[2019-01-29 20:10] #51059 closed, assigned to maxamillion

[2019-01-29 20:13] bcoca commented on #51233
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-01-29 20:13] #51233 closed, assigned to nobody

[2019-01-29 20:15] sivel commented on #51283
!component =lib/ansible/modules/remote_management/redfish/redfish_facts.py

[2019-01-29 20:17] Timoses commented on #51284
@maxamillion The host is served by a rpm repository(s) managed by spacewalk. That means there are several "channels". I'm afraid I don't have any more information, at least not as insight I can give you as I myself am not well versed with yum and rpm.
However, if you need any details let me know.

[2019-01-29 20:18] erstaples opened #51449 "`no_log = True` is ignored on certain tasks when set via environment or config file."
##### SUMMARY

`no_log` is not respected all the time when `no_log = True` is set via environment variable or config file. `no_log = True` _is_ respected all the time when set via the playbook and produces the desired behavior for that playbook. There should be no need to set `no_log = True` in the playbook when it's already set in the configuration.

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2019-01-29 20:19] #22430 closed, assigned to bcoca

[2019-01-29 20:19] s-hertel commented on #51329
Is your profile defined in ~/.aws/config? That won't work, because the ec2 module uses boto, not boto3. See boto credentials http://boto.cloudhackers.com/en/latest/boto_config_tut.html. Use ec2_instance if you need to use boto3-style credentials.

[2019-01-29 20:20] bcoca commented on #51329
needs_info

[2019-01-29 20:30] s-hertel commented on #51381
!component= lib/ansible/modules/cloud/vmware/vmware_tag.py

[2019-01-29 20:37] sivel commented on #51431
The issue here is that you have a file named `async` somewhere in the search path that ansible uses to find modules.

Ansible 2.6+ has a better error message here.  Please upgrade, to determine where that file is that is causing issues.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2019-01-29 20:37] #51431 closed, assigned to nobody

[2019-01-29 20:40] sivel commented on #51436
!component =lib/ansible/modules/network/ios/ios_command.py

[2019-01-29 20:45] samdoran commented on #51362
We do not wish to add path searching for playbooks to Ansible. Referencing the absolute or relative path to a playbook is much more straightforward and will result in less confusion.

This is behavior is inline with how file paths work in most, if not all, command line environments (paths to binaries are automatically searched, but not paths to files).

To further discuss this issue, please reach

[2019-01-29 20:45] #51362 closed, assigned to nobody

[2019-01-29 20:52] bcoca commented on #51288
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

`ansible-galaxy` is not meant to handle 2FA, you can use a github token as an alternative method.

In the future, this might be a topic

[2019-01-29 20:52] #51288 closed, assigned to nobody

[2019-01-29 20:53] #43730 closed, assigned to nobody

[2019-01-29 20:54] bcoca commented on #51349
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because this is easily achievable via the templating system which allows you to trim the output. The toggle added to the command was to 'disable' the existing trimming and still keep it backwards compatible, since this is not an

[2019-01-29 20:54] #51349 closed, assigned to nobody

[2019-01-29 20:55] #45367 closed, assigned to nobody

[2019-01-29 20:59] #45288 closed, assigned to nobody

[2019-01-29 21:17] samdoran commented on #15741
The `shell` module does always return `rc` in normal operation and if the module does not fail prematurely. See instances of `exit_json()` and `fail_json()` [in the module](https://github.com/ansible/ansible/blob/a4d911c55b9bf44de601129aba4a9c4b1b2d2606/lib/ansible/modules/commands/command.py#L269).

The only way I was able to make the module not return `rc` was by making it fail or firing the tas

[2019-01-29 21:17] #15741 closed, assigned to samdoran

[2019-01-29 21:28] #27968 closed, assigned to nobody

[2019-01-29 22:20] epicanthal opened #51457 "aci_aaa_user ACI clear password history 'unknown property value True'"
##### SUMMARY

Module aci_aaa_user 'clear_password_history: yes' fatal error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aci_aaa_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

APIC Firmware Version = 3.2(1m)

##### STEPS TO REPRODUCE

Modify and existing user account with the 'clear_password_history: yes' paramter.

[code]

##### EXPECTED RESUL

[2019-01-29 22:33] dagwieers commented on #51457
Thanks for reporting, and I think your assessment is correct, let me look into this.

[2019-01-29 22:43] hwali opened #51458 "Incompatibility between mysql and zlib package raises traceback in mysql_user"
I have an issue creating user over Ansible using python connecting DB,Please if someone cant support over this .yml,.py &,wsgi code pasted below
Got below error
TASK [create demo user] **********************************************************************************************************
fatal: [db01]: FAILED! => {"changed": false, "module_stderr": "Shared connection to db01 closed.\r\n", "modu

[2019-01-29 22:45] dagwieers commented on #51457
The fix was rather easy. Thanks again for reporting.

[2019-01-29 22:54] karthi81 opened #51460 "VMware: support cluster_name in vmware_host_facts"
##### SUMMARY

vmware_host_facts:
I'm trying to pull the all ESXi facts using cluster name instead of ESXi Name (User ID & Password) because handling of ESXi hosts and password for ESXi hosts are not always same across many clusters. Earlier version had option for Cluster Name and I think, it got removed with recent version. if I can pull the facts using cluster name again, it will be appreciated.

[2019-01-29 22:55] karthi81 commented on #51460
Link: https://docs.ansible.com/ansible/latest/modules/vmware_host_facts_module.html

[2019-01-29 23:01] karthi81 commented on #51460
In another example:
Here I can pass the cluster name and get the config Info for all ESXi, so I am expecting the same feature for vmware_host_facts as well since passing ESXi User ID and Password is not feasible in giant Infra.

- name: Gather facts about all ESXi Host in given Cluster
  vmware_host_config_facts:
    hostname: '{{ vcenter_hostname }}'
    username: '{{ vcenter_username }}'
    pas

[2019-01-29 23:09] hwali commented on #51458
##### SUMMARY

I have an issue creating user over Ansible using python connecting DB,Please if someone cant support over this .yml,.py &,wsgi code pasted below
Got below error
TASK [create demo user] **********************************************************************************************************
fatal: [db01]: FAILED! => {"changed": false, "module_stderr": "Shared connection to db01 clos

[2019-01-29 23:15] billdodd commented on #51283
@xmadsen - When the target resources are not present, what type of output are you proposing to return? It's not clear to me what type of output would improve testability. Maybe if you could outline an example scenario with current vs. new behavior, that would help.

[2019-01-29 23:50] s-hertel commented on #26368
If anyone is still looking at this, a much simpler fix was merged in https://github.com/ansible/ansible/pull/37357. Please open a new issue with a reproducer if something is still broken.

[2019-01-30 00:26] sugitk opened #51463 "ignore_errors: true shows debugging output"
##### SUMMARY

Regarding #39863 and #39868.  When `ignore_errors: true` is set in a task of a playbook, but if errors occurred the debug output is shown. Is it a desired behavior?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should be the same as

[2019-01-30 00:26] junk4porthos opened #51464 "vmware_guest : Content Library support"
##### SUMMARY
I would like to request that the Content Library feature for VMware could be supported in both deploying new guests from a template located in the content library as well as the uploading of new templates into a content library

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_guest

##### ADDITIONAL INFORMATION
vmware_guest would be used to deploy templates located in co

[2019-01-30 00:49] #51457 closed, assigned to nobody

[2019-01-30 01:37] dagwieers commented on #51442
@rukiaEnix The timeout parameter you are using is related to the HTTPS connectivity, and not related to the ACI object you are managing. https://docs.ansible.com/ansible/latest/modules/aci_interface_policy_port_security_module.html

![screenshot from 2019-01-30 02-36-25](https://user-images.githubusercontent.com/388198/51952206-e7aa2700-2437-11e9-891e-790bcfc2067c.png)

The functionality you are l

[2019-01-30 01:38] dagwieers commented on #51442
So this is not a bug report, but rather a feature request.

[2019-01-30 02:32] Fred-sun commented on #31867
kindly ping

[2019-01-30 02:34] Fred-sun commented on #31967
@zikalino Please help take a look this issue when you're available! Thanks!

[2019-01-30 03:06] Fred-sun commented on #43416
@zikalino

[2019-01-30 03:13] Testicule commented on #51284
I am suddenly seeing this too.
It's just unbelievable.

[2019-01-30 03:39] Testicule commented on #51284
For me, it seems to be stuck here:

ansible_module_yum.py(1426):     module = AnsibleModule(
ansible_module_yum.py(1427):         argument_spec=dict(
ansible_module_yum.py(1428):             name=dict(type='list', aliases=['pkg']),
ansible_module_yum.py(1429):             exclude=dict(type='str'),
ansible_module_yum.py(1431):             state=dict(type='str', default='installed', choices=['absent

[2019-01-30 03:40] Testicule commented on #51284
That's it. Stuck in _load_params

Pathetic.

[2019-01-30 03:51] zikalino commented on #28392
I have just merged a pr that will fix this issue. It will be available in Ansible 2.8
When using:
 remove_on_absent: all_autocreated
all the resources will be removed in case of failure as well

[2019-01-30 03:51] #28392 closed, assigned to zikalino

[2019-01-30 03:52] Testicule commented on #51284
I first saw this problem on ansible 2.6.4-1.el7, but I've now updated to 2.7.5-1, and the problem is the same.

Here is the end of a trace with -m trace --trace, plus the extra it dumps after ctrl-c:

__main__.py(1543): def main():
__main__.py(1565): if __name__ == '__main__':
__main__.py(1566):     main()
 --- modulename: __main__, funcname: main
__main__.py(1555):     yumdnf_argument_spec['argum

[2019-01-30 03:52] Testicule commented on #51284
I am so goddamned sick of crap like this.

[2019-01-30 03:55] jborean93 commented on #51284
@Testicule is sounds like you are just invoking the module without specifying the args json file that contain the arguments. If no argument is specified it will try and read from stdin. You can read all about how to debug/invoke modules outside of Ansible at https://docs.ansible.com/ansible/latest/dev_guide/debugging.html.

[2019-01-30 04:00] Testicule commented on #51284
Thanks for the tip jborean, you're probably right. Unfortunately, becoming an ansible debugger is not on my list of priorities. I'm trying to actually use Ansible to accomplish something.

I expect it to WORK.

[2019-01-30 04:07] Testicule commented on #51284
ok i have set export ANSIBLE_KEEP_REMOTE_FILES=1
And suddenly it works. I've run it 20 times without that, and it failed every time.
Add that, and success.
Brilliant.
Well done everybody.
This is quite a system we've got here.

[2019-01-30 04:19] Testicule commented on #51284
Oh boy, this gets better and better:
With ANSIBLE_KEEP_REMOTE_FILES=0, i see this on the client, on the task it gets stuck at:
mss      25995 24247  0 15:11 ?        00:00:00 /bin/sh -c sudo -H -S -n -u root /bin/sh -c 'echo BECOME-SUCCESS-mbwbmzsbtvchsjyqdwfguvvnlrkkwldt; /usr/bin/python' && sleep 0
root     26005 25995  0 15:11 ?        00:00:00 sudo -H -S -n -u root /bin/sh -c echo BECOME-SUCCE

[2019-01-30 04:56] justjais commented on #50712
@tlofreso any update on this issue?

[2019-01-30 06:02] anudeepmk commented on #45219
@bovender that worked for me!

[2019-01-30 06:04] illogic-al opened #51474 "doas become method not working in FreeBSD 11"
##### SUMMARY
Using doas as the become_method in FreeBSD 11.1/11.2 does not work.
The reason, I believe, is that FreeBSD 11 doas has a `Password:` prompt by default.
Below you can see what I have in my `/usr/local/etc/doas.conf` file on FreeBSD 11.1 (I can confirm this is an issue in 11.0 also).

Reverting #16997 allows using doas on FreeBSD again.
It seems like we might need a `doas_freebsd` in o

[2019-01-30 06:40] justjais commented on #50633
@gmcgilvray from 2.5 onwards we have deprecated the use of provider and we encourage to use network_cli as the connection method. So, can you please try with `connection: network_cli` instead of `connection: local`, for your reference for `ios` you can follow: https://docs.ansible.com/ansible/latest/network/user_guide/platform_ios.html

Please let me know if you still face the issue.

[2019-01-30 07:58] Testicule commented on #51284
Waiting longer on the strace gave me this:

connect(10, {sa_family=AF_INET, sin_port=htons(443), sin_addr=inet_addr("209.132.183.108")}, 16) = -1 EINPROGRESS (Operation now in progress)
poll([{fd=10, events=POLLOUT}], 1, 180000

and:
[root@audccfots810 pluginconf.d]# lsof -i -P | grep python
python    13884    root   10u  IPv4 149484      0t0  TCP meh:51114->subscription.rhsm.redhat.com:443 (SYN_S

[2019-01-30 08:14] Fred-sun commented on #46790
@zikalino Please help backport the news to ansible2.6 and ansible2.7 when you're available! Thanks!

[2019-01-30 08:15] Fred-sun commented on #47111
kindly ping

[2019-01-30 08:22] #47111 closed, assigned to nobody

[2019-01-30 08:47] Fred-sun commented on #47696
@zikalino

[2019-01-30 08:48] wutzkachel commented on #51329
@s-hertel Thank you very much for that hint.
I will try it with the ec2_instance module.

[2019-01-30 09:02] Fred-sun commented on #46313
@zikalino

[2019-01-30 09:45] piyushkv1 opened #51480 "openvswitch_bridge external_ids TypeError: argument of type 'NoneType' is not iterable"
##### SUMMARY
When external_ids is mentioned openvswitch_bridge module throws error. Without giving args it works fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run below playbook

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-01-30 09:47] Timoses commented on #51284
@Testicule
As your issue does not seem to be directly related to this issue (argument `name: '*'` causes the issue here), could you please create another issue?

[2019-01-30 10:08] NilashishC commented on #44528
Added in devel by #51430

[2019-01-30 10:08] #44528 closed, assigned to NilashishC

[2019-01-30 10:16] oolongbrothers opened #51481 "flatpak_remote module crashes with IndexError on recent versions of flatpak"
##### SUMMARY
When adding a flatpak remote to a system with no pre-existing remotes, the flatpak_remote module breaks on recent versions of flatpak with an IndexError.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
flatpak_remote

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested on Python 2/3, Fedora 28, Ubuntu 16.04 and Ubuntu 18.04

##### STEPS TO

[2019-01-30 10:30] mator opened #51483 "add user module fails on solaris"
##### SUMMARY
Add user fails on solaris 10 and solaris 11 boxes.
User is actually added, but playbook ends with an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

solaris 10
solaris 11

##### EXPECTED RESULTS

##### ACTUAL RESULTS

Using playbook:

[code]

[code]

[2019-01-30 10:36] paulrbr-fl opened #51484 "Ansible_failed_task in 'block:/rescue:' is not working with 'include_tasks:'"
##### SUMMARY
This is a bug in versions of Ansible < v2.7 (tested in 2.6 and 2.5).

When using an `include/include_tasks/import_tasks:` with a file `included_tasks.yml` which contains a `block/rescue` tasks does **not** export the `ansible_failed_result` and `ansible_failed_task` variables.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`block` tasks

##### ANSIBLE VERSION

`2.6.x`  and `2.

[2019-01-30 10:45] mator commented on #51483
I wouldn't tell this is a network issue, since machines are on local network and at least setup module works fine.

[2019-01-30 11:47] paulrbr-fl commented on #51484
Hi @ansibot, I have completed the issue description with a component name. Unsure about what to put though. But thanks!

[2019-01-30 11:47] hwali commented on #51458
Folks please need your support over raised issue

[2019-01-30 11:57] tlofreso commented on #50712
Closing for now as I have not had time to look into this further. Thank you for your help!

[2019-01-30 11:57] #50712 closed, assigned to justjais

[2019-01-30 12:03] kanwar-saad commented on #10374
upvote

[2019-01-30 12:44] ahmetcetin39 commented on #25793
I am having the same problem with ansible 2.4.2 even though I changed the name of the plugin under callback_plugins

[2019-01-30 12:53] gravitypaint commented on #50890
We have found that both these issues were resolved by updating the template that creates the conf files (e.g sanitized.conf) to use 3 spaces when indenting a line to match arista device config.
We are not sure why this only caused an issue when moving to a new version of ansible.

[2019-01-30 12:53] #50890 closed, assigned to rcarrillocruz

[2019-01-30 12:59] oolongbrothers opened #51485 "flatpak module fails to remove package on recent versions of flatpak"
##### SUMMARY

When removing a present flatpak, the removal would fail on recent version of flatpak.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

flatpak

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested on Python 2/3, Ubuntu 16.04 and Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The removal should proceed.

##### ACTUAL

[2019-01-30 12:59] wutzkachel commented on #51329
That works!
@s-hertel Again! Thank you very for your help!

[code]

[2019-01-30 13:00] #51329 closed, assigned to nobody

[2019-01-30 13:00] wutzkachel commented on #51329
Problem solved!

[2019-01-30 13:19] Lunik commented on #41347
Will be fixed with #50442

[2019-01-30 13:21] Lunik commented on #32836
Will be fixed with #50442

[2019-01-30 13:23] Lunik commented on #44564
Will be fixed with #51141

[2019-01-30 13:23] mihai-satmarean opened #51486 "unable to pass user of domain as authentication for cisco nxos"
##### SUMMARY
Not able to connect to a cisco UCS device using netowerk_cli and user from the domain
but I can connect from terminal using ssh and same credentials: ssh ucs-DOMAIN\\x@ucshost
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos try to connect to cisco UCS
##### STEPS TO REPRODUCE

[code]

[2019-01-30 13:23] Lunik commented on #44677
Will be fixed with #51141

[2019-01-30 13:41] Akasurde commented on #51460
!component =lib/ansible/modules/cloud/vmware/vmware_host_facts.py

[2019-01-30 13:49] Akasurde commented on #51464
@junk4porthos Thanks for reporting this issue. This is already been requested [here](https://github.com/ansible/ansible/issues/37007). I will mark this as duplicate of #37007. You can follow #37007 for further updates. Thanks.

[2019-01-30 13:49] #51464 closed, assigned to nobody

[2019-01-30 13:50] x-yuri opened #51487 "No way to (have notify attribute, but) notify nothing"
##### SUMMARY
I was hoping to conditionally notify services based on a value of a variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch Linux

##### STEPS TO REPRODUCE

`playbook.yml`:
[code]

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

With handlers in a separate file the e

[2019-01-30 13:56] Akasurde commented on #51458
@hwali Could you please try solutions mentioned in https://github.com/ansible/ansible/issues/47927#issuecomment-438351341 ? I agree that we should handle error message more gracefully. Thanks.

[2019-01-30 14:03] jpjaatin commented on #27706
Python 2 ansible run worked fine but python 3 triggers the changed status

ansible 2.7.6
  ansible python module location = /usr/local/lib/python3.6/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.6.7 (default, Oct 22 2018, 11:32:17) [GCC 8.2.0]

[2019-01-30 14:07] hwali commented on #47927
Akasurde which solution do u mean installing zlib-1.2.11.tar? and do this implemented on mysql server(remote)

[2019-01-30 14:14] hwali commented on #47927
./configure --shared --prefix=/usr
[root@db01 zlib-1.2.11]# ./configure --shared --prefix=/usr
Checking for gcc...
Compiler error reporting is too harsh for ./configure (perhaps remove -Werror).
** ./configure aborting.

[2019-01-30 14:19] ronansalmon opened #51489 "apt does not honor update_cache"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/python2.7/site-packages/ansible/modules/packaging/os/apt.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
- Default

##### OS / ENVIRONMENT
- Debian GNU/Linux 9

##### SUMMARY
I need to install a custom .deb and for some internal reason some repositories are not working, so I do not want 'apt-get update' to be ran. So, here is m

[2019-01-30 14:35] #30041 closed, assigned to nobody

[2019-01-30 14:39] sbulage commented on #51433
@Akasurde I am on it.

[2019-01-30 14:40] bcoca commented on #51487
So there are at least 3 solutions to this:
 * the 'workaround' you state above, `notify` expects a list, so default to empty list is an expected valid way of doing this
  * use `omit`, this will also skip notifications: `notify: '{{ p_notify | default(omit) }}'`
  * use `None`, but use 'native types' via configuration, so the `None` is preserved https://docs.ansible.com/ansible/latest/reference_ap

[2019-01-30 14:51] Akasurde commented on #47927
@hwali it seems that you don't have `gcc` installed on machine

[code]

[2019-01-30 14:53] Akasurde commented on #51421
@sbulage @digitronik Would you be interested in fixing this ? Thanks.

[2019-01-30 15:00] sbulage commented on #51421
@Akasurde I am on it.

[2019-01-30 15:02] akcozine commented on #51433
@Akasurde @sbulage @digitronik please don't merge a fix for this yet - I am using it an example in a webinar - @sbulage if you do create a PR, I will merge yours instead of mine, but please hold off for an hour or two

[2019-01-30 15:05] bcoca commented on #51474
should be fixed by #50991

[2019-01-30 15:07] Qalthos commented on #51363
!component =lib/ansible/modules/network/exos/exos_command.py
!component -lib/ansible/plugins/connection/network_cli.py

[2019-01-30 15:07] #51301 closed, assigned to nobody

[2019-01-30 15:08] sbulage commented on #51433
Go ahead I will raise tomorrow :)

[2019-01-30 15:10] trishnaguha commented on #51486
@mihai-satmarean I believe you are using a Cisco UCS device but not Cisco Nexus device?
nxos_command module is only supposed to work with Cisco Nexus platform.