[2017-09-12 16:55] biomassives commented on #30137
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (107/100 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:55] biomassives commented on #30138
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (109/100 (109%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:55] biomassives commented on #30138
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (108/100 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:56] biomassives commented on #30138
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (111/100 (111%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:56] biomassives commented on #30140
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (112/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:56] biomassives commented on #30139
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (113/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:56] biomassives commented on #30139
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (115/100 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:57] ansibot opened #30141 "easy_install be able to specify URL"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

easy_install module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @smalenfant on 2015-04-27T20:32:01Z
I ran across a problem where my IPv4 network was not operational and IPv6 was working. The problem is that main distribution of pypi.python.org doesn't have IPv6 records. I found a mirror site which supports IPv6 (there isn't many!) but I co

[2017-09-12 16:57] ansibot opened #30142 "Enable adding data disks"
From @ghost on 2015-04-23T19:41:23Z
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

azure module
##### ANSIBLE VERSION

N/A
##### SUMMARY

From https://github.com/Azure/azure-sdk-for-python/blob/master/azure/servicemanagement/servicemanagementservice.py#L2129 there's a function to add a data disk to an Azure VM. Could this functionality be added?

Copied from original issue: ansible/ansible-m

[2017-09-12 16:57] ansibot opened #30143 "Docker 1.6 cannot mount a volume with a single file"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

docker module

##### ANSIBLE VERSION

1.9.0.1

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

:**
Docker allows mounting volumes specifying a single file, like `docker run -v /etc/profile:/etc/profile:ro busybox`
Starting from Docker version 1.6, Ansible cannot mount such volumes, if the file already exist within an image, but needs to be o

[2017-09-12 16:58] biomassives commented on #30141
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (118/100 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:58] biomassives commented on #30143
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (119/100 (119%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:58] biomassives commented on #30141
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (120/100 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:58] biomassives commented on #30142
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (121/100 (121%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:59] biomassives commented on #30143
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (122/100 (122%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 16:59] ansibot opened #30144 "[Bug Report] lineinfile unquotes value twice"
From @StanAngeloff on 2015-04-17T10:43:18Z

**Issue Type:**
Bug Report

**Component Name:**
lineinfile module

**Summary:**

The `lineinfile` module seems to incorrectly unquote values more than once. Example attached below:

**Steps To Reproduce:**

[code]

**Expected Results:**

One line at the end of the file `"Hello World"` surrounded in double quotes.

**Actual Results:**

The file has one li

[2017-09-12 16:59] ansibot opened #30145 "ec2_tag module should allow the user to specify tags to delete by key only"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ec2_tag module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @detiber on 2015-04-17T02:16:59Z
Currently, to delete tags, you need to specify both the key and value for each tag.  The user should be able to delete tags based on the tag key only as well.

Since this could introduce unexpected behaviour, this should probably either require a di

[2017-09-12 16:59] ansibot opened #30146 "gce module should support creating instances with local scratch disks"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

gce module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @detiber on 2015-04-16T02:10:17Z
libcloud appears to support this with both create_node and ex_create_multiple_nodes using the  ex_disks_gce_struct parameter.

Currently the gce module disks parameter only allows for specifying a list of names or a list of dictionaries (but only accept

[2017-09-12 17:00] biomassives commented on #30141
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (124/100 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 17:01] #23204 closed, assigned to nobody

[2017-09-12 17:02] ansibot opened #30147 "Add option to only add user to groups that exist"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

user module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @tonyyarusso on 2015-04-13T18:10:00Z
I'd like an option in the user module to allow for users to only be added to groups specified in the 'groups' parameter if the groups exist, and just happily skip any groups that do not rather than having the task fail.

This looks pretty trivial t

[2017-09-12 17:02] ansibot opened #30148 "Add an option to specifiy cache valid time period to YUM module"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

yum module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @chris-erickson on 2015-04-09T16:59:12Z
Something similar to what `apt` has to save some time when running a script repetitively.

https://github.com/ansible/ansible-modules-core/blob/devel/packaging/os/apt.py#L128

Copied from original issue: ansible/ansible-modules-core#1117

[2017-09-12 17:02] joshmullis commented on #29749
Just wanted to update on a workaround that might help resolve this issue.

ip and netmask seem to be required and populated with a value, but as long as you specify type: dhcp, it will work as expected and get a dhcp address.

      networks:
        - name: "{{ vm_network }}"
          type: dhcp
          ip: "192.168.1.200"
          netmask: "255.255.255.0"

[2017-09-12 17:04] jemaced1 commented on #29767
@abadger , my ansible server is running Python 2.7.5 and my AIX server is running python-2.2-5.

Thx

[2017-09-12 17:04] ansibot opened #30149 "Docker Module Does Not Start Container with the same as the CLI equivalent params"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

docker module

##### ANSIBLE VERSION

ansible 1.9.0.1
configured module search path = None

##### OS / ENVIRONMENT

RHEL7 Control Machine targeting RHEL7

##### SUMMARY

Running docker via the module results in a non functional container. Running docker directly with the same 1 for 1 arguments, works.

##### STEPS TO REPRODUCE

First Run This:

[

[2017-09-12 17:04] ansibot opened #30150 "docker module failing `unexpected keyword argument 'tls'`"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

docker module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @kevzettler on 2015-04-05T20:17:13Z
[code]

Copied from original issue: ansible/ansible-modules-core#1090

[2017-09-12 17:07] ansibot opened #30152 "Shell module: "a duplicate parameter was found in the argument string ()""
From @rlpowell on 2015-04-03T18:39:16Z
I apologize that I don't have the background with Ansible or Python to give any useful debugging info here, but:

Trying to run a shell command and get the output presented to me.  This
version:

[code]

Works fine:

[code]

OTOH, this one (the only change is to the "shell:" param):

[code]

Gives this output:

[code]

Copied from original issue: ansible/ansi

[2017-09-12 17:07] #26014 closed, assigned to nobody

[2017-09-12 17:08] abadger commented on #29767
@jemaced1 the remote python version is the problem.  Ansible-2.3 and earlier only support Python2-2.4 and newer on the remote machine.  Ansible-2.4 will support Python2-2.6 and newer on the remote machine.  (Python3-3.5 and newer is also expected to work.)

[2017-09-12 17:09] abadger commented on #29767
@jemaced1 Note that you should be able to use the raw module if you want to use Ansible to bootstrap a newer python onto the remote machine (or have limited needs for using Ansible on this particular remote machine) but for any of the other modules we ship you'll need to put a newer Python on there.

[2017-09-12 17:10] abadger commented on #29767
http://docs.ansible.com/ansible/devel/raw_module.html

[2017-09-12 17:12] abadger commented on #23184
There's also some accelerate config options to remove (See examples/ansible.cfg for those but they'll have to be removed from several places in the code as well.)

[2017-09-12 17:22] kaikuchn commented on #24425
Just stumpled on this while trying to render a multiline secret into a yml file where I need to adhere to a specific indentation. I therefore wanted to pipe the decrypted secret through the `indent` filter only to discover that it would not longer decrypt then.

I understand that it may not even be desirable to allow secrets to be passed through filters.
So in an attempt to spare others the confus

[2017-09-12 17:24] #27314 closed, assigned to nobody

[2017-09-12 17:30] nitzmahone commented on #20444
This has been addressed in 2.4.0rc1

[2017-09-12 17:30] #20444 closed, assigned to nitzmahone

[2017-09-12 17:31] bndabbs commented on #30121
For testing purposes I replaced the module with the version from git tag [2.3.1.0-1](https://github.com/ansible/ansible/blob/v2.3.1.0-1/lib/ansible/modules/cloud/amazon/ec2_asg.py). With that in place, my playbook runs and is able to create the autoscaling group.

[2017-09-12 17:37] hiddenicon commented on #28210
I am having the same issue on IOS and NXOS devices. I'm using the Ansible/Paramiko versions from the latest AWX release. Ansible 2.3.1 by default and I've also tried the latest ansible 2.4.0 release as well. Same issues. I've tried all of the SSH/paramiko settings for timeouts and host key checking which none worked for me.

I also wanted to add that I can SSH fine to these devices from the CLI of

[2017-09-12 17:39] ansibot opened #30155 "Feature Request: Better Shell Command Output"
From @rlpowell on 2015-04-03T18:26:25Z
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

shell module
##### ANSIBLE VERSION

N/A
##### SUMMARY

So with plain ansible and the command or shell modules, we get easy-to-read
output like:

[code]

OTOH, the best playbook equivalent I've found from searching the web is this:

[code]

The output is, at least for me, much harder to read for ad-hoc purpo

[2017-09-12 17:39] ansibot opened #30156 "ec2_group not idempotent if cidr_ip is not 0.0.0.0/0 or x.x.x.x/32"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

ec2_group module

##### ANSIBLE VERSION

ansible 1.9.0.1
configured module search path = None

##### OS / ENVIRONMENT

OSX

##### SUMMARY

Running an ec2_group task fails if the group already exists if and it contains a rule with a cidr_ip that is not either 0.0.0.0/0 or of the form x.x.x.x/32. Rules with cidr_ips such as x.x.x.x/24 succeed the f

[2017-09-12 17:41] ansibot opened #30158 "newest AWS/boto connection style cause AWS_PROFILE environment configuration to break (boto, china, etc)"
From @tedder on 2015-03-30T22:11:52Z
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

ec2 modules
##### ANSIBLE VERSION

N/A
##### SUMMARY

The newer style of boto connections mean that the AWS_PROFILE environment variable (chained with boto config profiles) do not work. This is ultimately a

An example of this can be seen in @bcoca's change here: https://github.com/ansible/ansible-modules-core/

[2017-09-12 17:41] ansibot opened #30159 "get_url doesn't check if dest file exists when dest is a directory"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

get_url module

##### ANSIBLE VERSION

2.2

##### SUMMARY

From @jody-frankowski on 2015-03-25T12:27:11Z
Issue Type: Bug report

get_url doesn't check if the destination file exists when dest is a directory.
The problem lies right there: https://github.com/ansible/ansible-modules-core/blob/devel/network/basics/get_url.py#L220
At that point "force

[2017-09-12 17:43] ansibot opened #30161 "vsphere_guest.py does not change vm disk"
From @tapanswain on 2015-03-22T15:45:38Z
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

vsphere_guest module
##### ANSIBLE VERSION

N/A
##### SUMMARY

i am a perl developer and use vmware module for our day to day activity,
When i am going through  vsphere_guest.py module, i could not get the logic  for
 def reconfigure_vm(vsphere_client, vm, module, esxi, resource_pool, cluster_name, guest, v

[2017-09-12 17:44] ansibot opened #30162 "gem module fails to install new version of a gem when using gem_source"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

gem module

##### ANSIBLE VERSION

1.8.4

##### OS / ENVIRONMENT

Ubuntu 14.04 host and target

##### SUMMARY

_from the original issue_

If a local .gem file has been installed by setting gem_source, ansible refuses to install a new version of the gem when gem_source is set to the newer .gem file. The version argument for the gem module can't be

[2017-09-12 17:44] ansibot opened #30163 "Avahi does not disable properly with systemd on centos 7"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

service module

##### ANSIBLE VERSION

2.2

##### SUMMARY

From @mattstep on 2015-03-09T22:11:30Z
The following results in a stopped avahi-daemon, however it remains enabled.

[code]

Copied from original issue: ansible/ansible-modules-core#917

[2017-09-12 17:46] tedder commented on #30158
It works in 2.4 and up.

[2017-09-12 17:46] ansibot opened #30164 "Add `sleep` to service module non-restart states"
From @bgw on 2015-03-09T03:08:05Z
**Issue Type**: Feature Idea
**Component Name**: service module
**Environment**: Ubuntu 14.04 (but this isn't OS-related)
**Summary**: The service module has a `sleep` parameter, but this is only used "if the service is being restarted". I've personally had issues with scripts starting and reloading as well, where a pause would be useful. I'd like it if the `pause

[2017-09-12 17:46] ansibot opened #30165 "Feature idea: user module - allow adding user to group without creating user"
##### ISSUE TYPE

feature idea

##### COMPONENT NAME

user module

##### ANSIBLE VERSION

ansible 1.8.4

##### OS / ENVIRONMENT

Ubuntu 14.04.2

##### SUMMARY

Allow user module to modify group membership for remote (NIS, LDAP etc) users.

##### STEPS TO REPRODUCE

I have systems setup as members of an NIS domain, so my workstations don't have any local users. I would like to add user "johhny" to

[2017-09-12 17:46] ansibot opened #30166 "service module failure message should contain more information"
##### ISSUE TYPE

feature idea

##### COMPONENT NAME

service module

##### ANSIBLE VERSION

1.8.4

##### OS / ENVIRONMENT

NA (Ubuntu 12.04 and 14.04)

##### SUMMARY

service module failure message should contain more information

##### STEPS TO REPRODUCE

`service` module execution fails (as it seems, because of permission issue), but does not give helpful information even in verbose mode.

Play

[2017-09-12 17:46] ansibot opened #30168 "ec2 creates new instance if instance not running when using exact_count"
From @moorereason on 2015-02-28T01:52:28Z
##### Issue Type:

Bug Report

##### Component Name:
ec2 module

##### Ansible Version:

1.8.2
##### Environment:

Red Hat 7
##### Summary:

When creating an ec2 instance with exact_count, the module creates new instances if the existing instance is not running.
##### Steps To Reproduce:

Given the following example playbook:

[code]

Run the playbook twic

[2017-09-12 17:46] bcoca commented on #29767
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-12 17:46] #29767 closed, assigned to nobody

[2017-09-12 17:46] jmvbxx opened #30169 "--allow_unauthenticated not working on 2.3.2.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
`(Ubuntu) Linux knowhere 4.4.0-93-generic #116-Ubuntu SMP Fri Aug 11 21:17:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
##### SUMMARY
Running apt task with --allow_unauthenticated and the task fails saying that allow_unauthenticated needs to be accepted.

##### STEPS TO REPRODUCE
[c

[2017-09-12 17:48] ansibot opened #30170 "Docker: image pull from private secure registry fails when image name contains a number"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

docker module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @caljess599 on 2015-02-27T20:42:58Z
This could very well be a docker-py issue, but this is what we've seen:

[code]

This task fails, giving me the message `msg: Docker API error: No such image: postgres93 (tag: latest)`

However, when I rename the registry image name from `postgres93

[2017-09-12 17:49] ansibot opened #30171 "wait_for suck in wait until timeout, it cannot detect host back after reboot"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

wait_for module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @jupiterh on 2015-02-27T09:13:44Z
The following statment stuck until the timeout, it cannot detect host back after rebooting. The version is 1.9 from git source.

[code]

Copied from original issue: ansible/ansible-modules-core#861

[2017-09-12 17:50] jmvbxx commented on #30169
Update .. Despite the error and the failed task the packages were in fact installed:
[code]

[2017-09-12 17:51] ansibot opened #30172 "Service module doesn't fail when "status" command does not exists"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

service module

##### ANSIBLE VERSION

1.8.4

##### OS / ENVIRONMENT

Debian GNU/Linux 7

##### SUMMARY

While using the service module, if the called init script (/etc/init.d/<service-name>) doesn't have the "status" command, ansible will return "changed", even though nothing happened and it should have failed. This is particularly bad for **"re

[2017-09-12 17:51] ansibot opened #30173 "group_by and sparse group variables producing incorrect groups"
From @niks-slalom-com on 2015-02-20T21:23:49Z

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
group_by module

##### ANSIBLE VERSION
N/A

##### SUMMARY
Apologies if this isn't the proper channel, or if I gave up too quickly on searching for this report.

##### Steps to reproduce
1. Inventory file:

[code]
2. Group vars files:

   a. group_vars/stuff.yml

[code]

   b. group_vars/more_stuff.yml

[2017-09-12 17:51] ansibot opened #30174 "apt module source packages support"
##### ISSUE TYPE

feature idea

##### COMPONENT NAME

apt module

##### ANSIBLE VERSION

1.8.2

##### OS / ENVIRONMENT

N/A

##### SUMMARY

It would be nice to be able to download source packages (apt-get source) using the apt module.

##### STEPS TO REPRODUCE

It could be used this way:
- apt: name=foo state=source chdir=/path/to/source/directory

##### EXPECTED RESULTS

Source package downloaded

[2017-09-12 17:53] ansibot opened #30175 "Supervisorctl restart all processes very slow"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

supervisorctl module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @danpilch on 2015-02-11T12:52:28Z
http://docs.ansible.com/supervisorctl_module.html seems very slow to restart applications with this syntax:
- name: Restart celery app
  supervisorctl:
    name: "{{item}}"
    state: restarted
  with_items:
  - "a:"
  - "b:"
    sudo: yes

Tim

[2017-09-12 17:53] ansibot opened #30176 "ec2_group fails to give access to ELB security group (amazon-elb/amazon-elb-sg)"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

ec2_group module

##### ANSIBLE VERSION

ansible --version
ansible 1.8.2
configured module search path = /usr/share/ansible
boto 2.36.0

##### OS / ENVIRONMENT

CentOS release 6.5
OSX 10.10.1

##### SUMMARY

In Amazon there is a standard Security Group regarding the ELB service that you must give access to the instances in the Load Balancer pool.

[2017-09-12 17:54] ansibot opened #30177 "ec2_group failing when there is already a rule defined from another AWS account"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

ec2_group module

##### ANSIBLE VERSION

ansible --version
ansible 1.8.2
configured module search path = /usr/share/ansible
boto 2.36.0

##### OS / ENVIRONMENT

CentOS release 6.5
OSX 10.10.1

##### SUMMARY

When there is a firewall rule already defined that gives access to a existing security group from another AWS account the ec2_group task fai

[2017-09-12 17:55] biomassives commented on #30177
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (101/100 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 17:56] ansibot opened #30179 "User module: createhome is inconsistently named"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

user module

##### ANSIBLE VERSION

ansible 1.8.2

##### OS / ENVIRONMENT

N/A

##### SUMMARY

A minor annoyance in the user module ...

It seems like most multi word options are separated by underscore, but `createhome` is not. (And neither is it consistent with the underlying command option `--create-home`). It is a bit confusing.

Copied from

[2017-09-12 17:56] ansibot opened #30180 "ansible-modules-core/cloud/openstack/keystone_user doesn't delete tenants:"
From @pcarinhas on 2015-01-30T23:56:26Z
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

keystone_user module
##### ANSIBLE VERSION

N/A
##### SUMMARY
# Keystone_user module does not delete tenants::

[code]
# When run produces:

ok: [mp8.zenoss.loc] => (item=A) => {"changed": null, "id": null, "item": "A"}
ok: [mp8.zenoss.loc] => (item=B) => {"changed": null, "id": null, "item": "B"}
ok: [mp8.z

[2017-09-12 17:56] ansibot opened #30181 "gce_pd does not support creation disk type parameter"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

gce_pd module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @pmoosh on 2015-01-28T15:43:54Z
GCE offers 2 different disk types: pd-standard (default) disk or pd-ssd. However, there is no parameter in gce_pd to make the choice. So you one can only create pd-standard type disks.

Copied from original issue: ansible/ansible-modules-core#717

[2017-09-12 17:56] ansibot opened #30182 "ec2_key doesn't complain about the "region" parameter not being defined"
From @danvaida on 2015-01-28T13:35:02Z
##### Issue Type:

Bug Report

##### Component Name:
ec2_key module

##### Ansible Version:

[code]
##### Environment:

FC19

[code]
##### Summary:

Trying to create a  Key Pair in AWS. If I don't use the "region" parameter, the key doesn't get pushed to AWS. When I specify the region, everything works as expected.
Didn't get the chance to study the module, p

[2017-09-12 17:57] biomassives commented on #30180
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (102/100 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 17:57] biomassives commented on #30179
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (103/100 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 17:58] ansibot opened #30183 "vsphere_guest:when reconfigured, vm_cdrom does not reconfigure the CD rom, e.g. iso_path has no effect in Ansible 1.8.2"
From @jtryggveson on 2015-01-23T14:06:03Z
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

vsphere_guest module
##### ANSIBLE VERSION

N/A
##### SUMMARY

Trying to change hardware and iso files on a cloned vm with no success, after reconfiguartion still the original iso is used for the CD rom
Original VM created:
with section
    vm_hardware:
      memory_mb: "{{ resource_mem_vm }}"
      num_cp

[2017-09-12 17:58] ansibot opened #30184 "S3 module documentation should account for IAM roles"
From @matthewfournier360pi on 2015-01-19T16:06:32Z
##### Issue Type:

Documentation Report

##### Component Name:
s3 module

##### Ansible Version:
2.0

##### Summary:

On the [S3 module documentation page](http://docs.ansible.com/s3_module.html) it states that if the S3 keys are not explicitly provided the module will use whatever keys are defined in the environment ansible is running in.

This i

[2017-09-12 17:58] ansibot opened #30185 "Support a global custom PyPI repository URL in the pip module"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

pip module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @wbolster on 2015-01-12T14:57:18Z
It would be great if the `pip`module had a global way to override the PyPI url, which defaults to https://pypi.python.org/. Many organisations use internal PyPI mirrors or custom repositories (e.g. devpi) to deploy their software. Currently each `pip`

[2017-09-12 18:01] ansibot opened #30186 "add support for client certs to get_url"
From @vegaed on 2015-01-08T14:51:41Z
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

get_url module
##### ANSIBLE VERSION

N/A
##### SUMMARY

All webpages in our environment are https and require a client certificate to authenticate. It would be useful to have an option to pass along a client cert.

Copied from original issue: ansible/ansible-modules-core#617

[2017-09-12 18:01] ansibot opened #30187 "EC2: instance ID does not exist"
From @bkeroackdsc on 2015-01-08T02:02:51Z
**Issue Type:**
Bug Report

**Component Name:**
ec2 module

**Ansible Version:**
1.8.2

**Environment:**
Ubuntu 14.04

**Summary:**
This appears to be similar to ansible issue #7906

When provisioning several instances in a loop via the EC2 module, instance tagging will frequently fail with:

`msg: Instance tagging failed => InvalidInstanceID.NotFound: The

[2017-09-12 18:01] ansibot opened #30188 "docker port mappings not working when host is given"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

docker module

##### ANSIBLE VERSION

1.7.2

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The ports section allows to specify a bind address on the command line.
The module doesn't and does not even bother to complain.

This is on Docker version 1.3.2, build 39fa2fa, Ansible 1.7.2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

should b

[2017-09-12 18:03] ansibot opened #30189 "Apt module extra arguments"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

apt module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @deadbeef404 on 2015-01-07T04:37:55Z
Hello all,

I'd like to be able to pass --allow-unauthenticated to the apt command (via the apt module) without having to force everything nor add it as a global flag on the system.

This was requested inside issue https://github.com/ansible/ansible

[2017-09-12 18:03] gurumaia opened #30190 "dictionary changed size during iteration when using elb_target_group_facts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_target_group_facts

##### ANSIBLE VERSION
Using latest version in devel branch
[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
N/A (since it's an AWS module). My workstation is Linux Mint 18.0

##### SUMMARY
When using the module elb_target_group_facts I'm getting this exception:
[code]

The issue seems to be in this piec

[2017-09-12 18:03] ansibot opened #30191 "Docker Module Registered Variables Incomplete on CentOS"
From @shawnsi on 2015-01-05T16:03:33Z
##### Issue Type:

Bug Report
##### Component Name:

docker.py
##### Ansible Version:

[code]
##### Environment:

CentOS 6 & 7
Python System or Virtualenv Installation
Docker-py from Yum (0.4.0) or PyPI (0.7.0)
Docker version 1.3.2, build 39fa2fa/1.3.2
##### Summary:

When using the docker module to create containers on CentOS 7 any registered variables are in

[2017-09-12 18:03] ansibot opened #30192 "service module cannot always detect proper init system in containers"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

service module

##### ANSIBLE VERSION

ansible 1.9 (devel 1698b17b14) last updated 2015/01/03 140516 (GMT -400)
lib/ansible/modules/core (detached HEAD f9574cc318) last updated 2015/01/03 140519 (GMT -400)
lib/ansible/modules/extras (detached HEAD 317654dba5) last updated 2015/01/03 140522 (GMT -400)
v2/ansible/modules/core (detached HEAD cb69744

[2017-09-12 18:08] nitzmahone opened #30193 "azure_rm_virtualmachine `allocated` is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION

##### OS / ENVIRONMENT
NA

##### SUMMARY
Setting `allocated: no` on a running virtual machine toggles the allocated state between yes/no on multiple runs instead of returning when in the correct state.

PS: module UI is not great for this, should probably be a single `po

[2017-09-12 18:11] nitzmahone opened #30194 "azure_rm_virtualmachine fails to delete VMs with managed disks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
2.4.0rc2

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
Deleting a VM (via `state: absent`) fails on a VM that was created with managed disks.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Running VM was deleted

##### ACTUAL RESULTS

Running VM is not deleted, module

[2017-09-12 18:12] ansibot opened #30195 "postgresql_user doc could use more explicit options for "expires" field"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

postgresql_user module

##### ANSIBLE VERSION

2.1

##### SUMMARY

From @egon1024 on 2014-12-27T14:48:22Z
For reference, my setup is running ansible 1.8.2 to control a box running Ubuntu 14.04, but with the Postgres repo installed to allow me to install Postgres 9.3.

Currently, the docs at http://docs.ansible.com/postgresql_user_module.html does

[2017-09-12 18:14] ansibot opened #30196 "Request for ec2 module to retrieve and store ssh host fingerprint in known_hosts"
From @junglhilt on 2014-12-27T09:58:10Z
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.8.2
  configured module search path = None
##### Environment:

managing : ubuntu 12.04
management machine : OSX but it is not really applicable
##### Summary:

Add ssh host key fingerprint to known_hosts when using the ec2 module to initialise instances.
##### Steps To Reproduce:

When creatin

[2017-09-12 18:28] jctanner commented on #30108
@PYLoch what is the output of this command on the box?

[code]

needs_info

[2017-09-12 18:47] ansibot opened #30197 "apt module produces useless progress output"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

apt module

##### ANSIBLE VERSION

ansible 1.5.4

##### OS / ENVIRONMENT

Ubuntu 14.04 managing Debian Jessie boxes over ssh

##### SUMMARY

: upgrade operations (and possibly others) mostly consist of progress updates like "Reading Database ... 5%", which isn't of interest at all to the user.

##### STEPS TO REPRODUCE

:
- run `ansible all -m ap

[2017-09-12 18:50] ansibot opened #30198 "docker volumes aren't bound properly"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

docker module

##### ANSIBLE VERSION

ansible 1.9
configured module search path = None

##### OS / ENVIRONMENT

Ubuntu 14.04
docker-py 0.6.0 commit https//github.com/docker/docker-py/commit/a87dfcf2671f8fd52bfe2788763a3682442573c7
lxc-docker-1.4.0

##### SUMMARY

docker module specifies `volumes` argument for docker-py `create_container` as well

[2017-09-12 18:50] ansibot opened #30199 "Allow to specify UDP endpoints for Azure VMs"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

azure module

##### ANSIBLE VERSION

1.8.2

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

Azure module (http://docs.ansible.com/azure_module.html) assumes that endpoints could be only TCP, but in some cases you need to open UDP ports too (for example Consul requires them).

##### STEPS TO REPRODUCE

Use Azure module and specify "endpoints"

[2017-09-12 18:50] ansibot opened #30200 "user.py account removal"
From @avacam on 2014-12-10T18:58:20Z
##### Issue Type:

Bug Report
##### Component Name:

user module
##### Ansible Version:

1.5.4
##### Environment:

Ubuntu 14.04
##### Summary:

Command to remove an account fails when there is a non-local copy of the account visible to the authentication system.
##### Steps To Reproduce:

prerequisites:
a. server configured with single-sign-on service (AD, LDAP

[2017-09-12 18:52] ansibot opened #30202 "ec2_group and multiple "default" groups"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ec2_group module

##### ANSIBLE VERSION

2.1

##### SUMMARY

From @dudeche on 2014-12-10T16:31:48Z
We have a "default" group associated with classic EC2 and one with a VPC.  Essentially ec2_group throws this message:

[code]

Assuming I'm not missing something big here...it's conceivable you could have multiple security groups with the group name

[2017-09-12 18:52] ansibot opened #30203 "ec2 module: Add a way to change shutdown behavior"
##### ISSUE TYPE

feature idea

##### COMPONENT NAME

ec2 module

##### ANSIBLE VERSION

1.8.1

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Amazon EC2 allows you to change the shutdown behavior of an instance: When shutting it down, it can either stop or terminate by default.

It would be great if Ansible would support this. I want to use Ansible to start and manage multiple temporary EC2 instance

[2017-09-12 18:54] ansibot opened #30204 "subversion: externals issue"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

subversion module

##### ANSIBLE VERSION

2.1

##### SUMMARY

From @helium78 on 2014-12-09T01:55:13Z
when using a repo with externals, always "changed=1" is reported.

[code]

Copied from original issue: ansible/ansible-modules-core#471

[2017-09-12 18:54] ansibot opened #30205 "Ansible 1.8.2, module: cron. Crontabs aren't added when delegating to host."
From @iprok on 2014-12-08T22:31:30Z
##### Issue Type:

Bug Report
##### Component Name:

cron module
##### Ansible Version:

1.8.2
##### Environment:

Ansible on Gentoo amd64. Cron on ubuntu trusty 14.04.
##### Summary:

Trying to add crontabs on my backup server for group of hosts. No all crontabs are added. Seems that simultaneously added crontabs overwrite each other.
##### Steps To Reproduce:

[2017-09-12 18:55] ansibot opened #30206 "mount documentation does not match code"
From @ozkatz on 2014-12-08T16:38:18Z

**Issue Type:**

Bug Report
Documentation Report

**Component Name:**
mount module

**Ansible Version:**

$ ansible --version
ansible 1.6.1 _[@ozkatz: also true in 1.8.2]_

**Environment:**

N/A

**Summary:**

I'm reopening issue [#7791 from the main ansible repo](https://github.com/ansible/ansible/issues/7791) by @mpdehaan's instructions.
I'll paste the origi

[2017-09-12 18:56] biomassives commented on #30206
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (100/100 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 18:57] ansibot opened #30207 "Documentation: Module s3 - unclear description of overwrite / force"
From @mkrogemann on 2014-12-04T22:20:59Z
##### Issue Type: “Documentation Report”
##### Component Name: s3 module
##### Ansible Version: ansible 1.8.1
##### Environment: Mac OS X 10.9.5
##### Summary: I believe there is an error in the documentation of the overwrite / force parameters in the S3 module documentation. The parameter name is documented to be 'overwrite'. However, the examples do not m

[2017-09-12 18:57] ansibot opened #30208 "Add module to hide `mktemp` differences across OS"
From @follower on 2014-12-04T13:29:50Z
##### Issue Type:

Bug Report /  Feature Idea
##### Component Name:

command module
##### Ansible Version:

ansible 1.8.1
##### Environment:

Linux / BSD / Mac OS X
##### Summary:

The `mktemp` command is not consistent cross-platform. Specifically, the method for creating a temporary directory differs between Linux and BSD (and thus Mac OS X).

While Linux a

[2017-09-12 18:57] ansibot opened #30209 "Add elasticache "parameter_group" parameter to elasticache module"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

elasticache module

##### ANSIBLE VERSION

2.1

##### SUMMARY

From @aangov on 2014-12-03T15:40:12Z
Hi,

Just an idea/feature request that would be really useful if you want to manage almost everything related to Elasticache through Ansible.

It would be really useful to have the parameter "parameter_group" for the Cache Parameters Groups on El

[2017-09-12 18:57] mkrizek commented on #30108
I can reproduce the issue, working on a fix.

[2017-09-12 18:58] biomassives commented on #30206
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (101/100 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 18:58] biomassives commented on #30206
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (102/100 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 18:58] biomassives commented on #30207
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (103/100 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 18:58] biomassives commented on #30207
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (105/100 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 18:58] biomassives commented on #30208
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (104/100 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 18:58] biomassives commented on #30208
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (106/100 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 18:58] biomassives commented on #30209
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (107/100 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 18:58] biomassives commented on #30108
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (108/100 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 18:58] biomassives commented on #30209
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (109/100 (109%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 18:59] ansibot opened #30210 "Private docker registry container returns empty container facts"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

docker module

##### ANSIBLE VERSION

1.8.1
Docker Version 1.3.2 build 39fa2fa

##### OS / ENVIRONMENT

Ubuntu 14.04.1 LTS > Ubuntu 14.04.1 LTS

##### SUMMARY

When using the docker module with an image from the public index, the module returns the information about the created containers as a JSON. When using a private registry, the JSON string

[2017-09-12 18:59] ansibot opened #30211 "Add elasticache "replication_group" parameter to elasticache module"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

elasticache module

##### ANSIBLE VERSION

2.1

##### SUMMARY

From @aangov on 2014-12-03T11:08:57Z
Hi,

Just an idea/feature request that would be really useful if you want to manage almost everything related to Elasticache through Ansible.

If you want to create replication groups right now you need to use the AWS managment console or the aws

[2017-09-12 18:59] ansibot opened #30212 "Azure module fails with python's azure lib above version 0.8.4, works improperly with 0.8.4 and below"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

azure module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @eddgrant on 2014-11-27T07:39:16Z
Hi,

I am using the Azure module to try and spin up some virtual machines. I have followed the example given in the module documentation yet I receive the following error when trying to run the playbook:

[code]

This is the associated playbook content

[2017-09-12 19:02] ansibot opened #30213 "set cleartext password for a given user with the user module?"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

user module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @ozans on 2014-11-24T10:52:41Z
Hi,

Is there a reason why this is not implemented? It isn't hard to implement and as long as the cleartext password is in the vault, it should be fine; I think. But maybe I'm missing something?

--Ozan

Copied from original issue: ansible/ansible-module

[2017-09-12 19:02] ansibot opened #30214 "Feature request: 'copy' module for target-to-target"
From @jnojr on 2014-11-20T16:06:55Z
##### ISSUE TYPE

Feature Idea
##### COMPONENT NAME

copy module
##### ANSIBLE VERSION

N/A
##### SUMMARY

It would be nice to have a 'copy' module where the source and destination can both be on the target host.  That way, one unusable command can copy/move, set ownership, permissions, SELinux context, etc. without having to use multiple command or shell direct

[2017-09-12 19:02] ansibot opened #30215 "Comment feature in sysctl module"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

sysctl module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @HanXHX on 2014-11-20T13:39:46Z
Hi,

I would like a feature in "sysctl" module: comments. When you read a file generated by sysctl module, it's not very "admin friendly"...

Example:

[code]

In /etc/sysctl.conf

[code]

Thank you!

Copied from original issue: ansible/ansible-module

[2017-09-12 19:02] ansibot opened #30216 "Support for --master-data="
From @ecv on 2014-11-20T02:07:22Z
##### ISSUE TYPE

Feature Request
##### COMPONENT NAME

mysql_db module
##### ANSIBLE VERSION

N/A
##### SUMMARY

As of MySQL 5.5,

[code]

This patch (coming) enables this for Ansible.

Copied from original issue: ansible/ansible-modules-core#362

[2017-09-12 19:04] ansibot opened #30217 "Gem module hangs on updating rake"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

gem module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @rvalente on 2014-11-19T11:49:37Z
Command: `gem: name=rake state=latest user_install=no executable=/opt/ruby/bin/gem`

Bundler installs fine, I am assuming `gem install rake` is asking "Overwrite ok? [Yn]" and I have no way of answering this through ansible. Any ideas? Do we need a force

[2017-09-12 19:04] ansibot opened #30218 "azure: Allow specifying service name separate from VM name"
##### ISSUE TYPE

feature idea

##### COMPONENT NAME

azure module

##### ANSIBLE VERSION

Ansible 1.5.4

##### OS / ENVIRONMENT

N/A

##### SUMMARY

: The "azure" module only allows you to create a VM with the same name as your deployed service.  This does not allow you to use ansible to set up a service with multiple VMs, or (what would be very nice), add new VMs to an existing service.  The azu

[2017-09-12 19:04] ansibot opened #30219 "apt_repository module does not support "cloud-archive:juno" format"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

apt_repository module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @adamn on 2014-11-10T11:54:40Z
The apt_repository module should support the format:

`cloud-archive:juno`

Instead, one needs to do this:

`repo='deb http://ubuntu-cloud.archive.canonical.com/ubuntu trusty-updates/juno main'`

In order to update the sources.d/ with the `clou

[2017-09-12 19:07] ansibot opened #30220 "setup does not define "ansible_virtualization_role" on Debian/kFreeBSD"
From @cmock on 2014-11-05T19:30:24Z
(this is a re-run of #6946 from the ansible/ansible repo)
##### Issue Type:

Bug Report
##### Component Name:

setup module
##### Ansible Version:

ansible 1.7.2
##### Environment:

Ansible host: Debian GNU/Linux 7.7

Managed OS: Debian GNU/kFreeBSD 7.7 with kernel 9.0-2-amd64 running on a physical machine
##### Summary:

The facts "ansible_virtualization_*" are

[2017-09-12 19:07] ansibot opened #30221 "Copy with content adds extra lines for variables with multiple lines"
From @shuhaowu on 2014-10-31T15:22:29Z
##### Issue Type:
Bug Report

#### Component Name:
copy module

##### Ansible Version:

ansible 1.7.2

##### OS / Environment:

Ubuntu 14.10 (from), Debian Wheezy (to)

##### SUMMARY
[code]

`sslkey` is loaded from an ansible vault file, it is a multiline string in the format of this:

[code]

Output with -vvv shows that the include is loading the \n s correc

[2017-09-12 19:07] ansibot opened #30222 "Expose backup path in ini_file"
From @yeukhon on 2014-10-31T01:38:17Z
##### Issue Type:

Feature Idea
##### Component Name:

ini_file
##### Ansible Version:

1.8
##### Environment:

N/A
##### Summary:

Expose backup file path in the output of ini_file module.
##### Steps To Reproduce: N/A
##### Expected Results:

We would add "backup" and the file path to the JSON output.
##### Actual Results: N/A

Copied from original issue: an

[2017-09-12 19:07] ansibot opened #30223 "Failed Uploads to S3 Bucket"
From @mechcozmo on 2014-10-22T14:55:54Z
##### Issue Type:
Bug Report

##### Component Name
s3 module

##### Ansible Version:
1.7.2

[code]

Installed from Homebrew
##### Environment:

I am running Ansible from Mac OS X 10.9.5, targeting EC2 instances running Amazon Linux (latest release, 2014.09)
##### Summary:

Ansible fails to upload a file on the managed host to an S3 bucket.

(Moved from https

[2017-09-12 19:09] ansibot opened #30224 "Request for raw command to not invoke shell"
From @FritsHoogland on 2014-10-13T14:03:28Z
##### Issue Type
- “Feature Idea”

#####  Component Name
raw module

##### Summary

Request for raw command to not invoke a shell

##### Steps To Reproduce
n/a

##### Expected Results

Ability to execute commands on devices without a shell, but do provide access with ssh. Examples of these devices are lights-out adapters, networking devices, etc.

#####

[2017-09-12 19:09] ansibot opened #30225 "lineinfile does not expand "\t" when some conditions are met"
From @h2suzuki on 2014-10-12T00:57:29Z
##### Issue Type:

Bug Report

##### Component Name:
lineinfile module

##### Ansible Version:

1.7.2
(1.7.1 does not have this issue)
##### Environment:

CentOS7 x86_64
pip install ansible for 1.7.2
yum install ansible for 1.7.1
##### Summary:

lineinfile fails to expand "\t" when the inserted line has "...'...'..." type of quoting.
##### Steps To Reproduce:

[2017-09-12 19:11] ansibot opened #30226 "file touch always 'changed' - [was: need a separate touch module]"
##### ISSUE TYPE

feature idea

##### COMPONENT NAME

file module

##### ANSIBLE VERSION

ansible 1.7.2

##### OS / ENVIRONMENT

N/A

##### SUMMARY

`file` `touch` is useless, because it always completes with `changed` status

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

Copied from original issue: ansible/ansible-modules-core#170

[2017-09-12 19:14] ansibot opened #30227 "docker should not create volumes when binding to host machine"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

docker module

##### ANSIBLE VERSION

2.0

##### SUMMARY

From @kevin1024 on 2014-10-09T03:57:46Z
This one took awhile to figure out :)

When using this example ansible task:

[code]

with [the official docker nginx image](https://registry.hub.docker.com/_/nginx/), and any nginx.conf file in /root/nginx.conf on the host machine, the nginx inside

[2017-09-12 19:14] ansibot opened #30228 "Incompatibility between BSD and Linux for the acl module"
From @astorije on 2014-10-07T03:46:58Z
##### Issue Type:

Bug Report
##### Component Name:

acl
##### Ansible Version:

N/A
##### Summary:

In the [acl module](https://github.com/ansible/ansible-modules-core/blob/devel/files/acl.py#L151), the `follow` argument sets `-h`, which is only supported by BSD and not by Linux. The corresponding argument in Linux is `-L`, `--logical`.

I just submitted a [

[2017-09-12 19:16] ansibot opened #30229 "ec2_elb: Failing with boto exception ( 400 - throttling )"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

ec2_elb module

##### ANSIBLE VERSION

Ansible 1.7.2
Boto Version 2.32.1

##### OS / ENVIRONMENT

Redhat Enterprise Linux 6.4 ( Ansible Tower v2.0.0)

##### SUMMARY

:**
I have a process "lights on" which turns on ec2 instances, then subsequently adds said instances to their respective load balancers ( defined by elb_shortname ). I get very inter

[2017-09-12 19:16] ansibot opened #30230 "ec2_elb: Ansible claims changed=true when removing instance not in elb"
##### ISSUE TYPE

bug report

##### COMPONENT NAME

ec2_elb module

##### ANSIBLE VERSION

ansible 1.7.2

##### OS / ENVIRONMENT

Mac OS X 10.9.5

##### SUMMARY

When using the ec2_elb module to remove an instance from a load balancer, if the instance was not in the load balancer before running the task, Ansible incorrectly reports the state has changed.

##### STEPS TO REPRODUCE

Invoke the ec2_e

[2017-09-12 19:18] mkrizek commented on #30108
@PYLoch can you please try if the attached PR fixes your issue? It does in my testing.

[2017-09-12 19:18] ryansb opened #30232 "s3 module docs are 404"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

s3

##### ANSIBLE VERSION

[code]

##### SUMMARY

The module formerly known as `s3` has been renamed to `aws_s3`, but the docs for `s3` don't redirect to the new renamed version.

http://docs.ansible.com/ansible/latest/s3_module.html

I think the best experience for users would be a redirect to the `aws_s3` page http://docs.ansible.c

[2017-09-12 19:18] ansibot opened #30233 "non_unique parameter for group module"
From @r0bj on 2014-09-30T14:05:42Z
##### Issue Type:

Feature Idea
##### Component Name:

modules/group

##### Environment:

Any
##### Summary:

Module "user" has a nice "non_unique" parameter similar to bash command usermod with "--non-unique".

Unfortunately module "group" hasn't parameter "non_unique" (bash command groupmod however has --non-unique).

So it would be nice to have "non_unique" pa

[2017-09-12 19:18] ansibot opened #30234 "s3: Unnecessary bucket_check condition while getting an object from s3"
##### ISSUE TYPE

From @gmpuran on 2014-09-30T090639Z

##### COMPONENT NAME

s3 module

##### ANSIBLE VERSION

2.0

##### SUMMARY

AWS IAM policy enables us to restrict users to specific file or folder in a bucket. While S3 get object operation is successful from other tools, ansible s3 module fails and returns an error Target bucket not found.

The operation succeeds when list bucket rights are p

[2017-09-12 19:21] ansibot opened #30235 "lineinfile should have an option to remove duplicate lines matched by regexp"
From @ekini on 2014-09-30T01:23:55Z
##### Issue Type:

Feature Idea

##### Component Name:
lineinfile module

##### Ansible Version:

All versions.
##### Environment:

Ubuntu 14.04, and all other.
##### Summary:

The module "lineinfile" should have an option to remove duplicate lines matched by regexp.
Currently it changes only the last line.
##### Steps To Reproduce:

Let's say that we have the f

[2017-09-12 19:26] jctanner commented on #30152
incomplete migration

[2017-09-12 19:26] #30152 closed, assigned to nobody

[2017-09-12 19:26] jctanner commented on #30196
incomplete migration

[2017-09-12 19:26] #30196 closed, assigned to nobody

[2017-09-12 19:43] PYLochou commented on #30108
It does also in my environment--thank you very much for a such quick fix!

[2017-09-12 19:43] #30108 closed, assigned to nobody

[2017-09-12 19:44] maxamillion commented on #29421
I'm unable to reproduce on RHEL 7.4 with Ansible 2.3.1.0

[code]

I ran the following command:
[code]

Which resulted in the following notable portions of the `iptables` output:
[code]

I'll need more time to get an environment setup with CentOS 7.2 and Ansible 2.2.0.0 to try and pin point the issue. Will update asap.

[2017-09-12 19:46] jborean93 commented on #28565
@gregsergeant, yes please this issue has been closed and it would be good to have a separate one. You can always link it to this page as well.

[2017-09-12 19:48] Lorquas commented on #27283
@johnpmitsch   See my PR ^ ,  you should be able to drop in that file on top of the existing file in your ansible environment for direct testing (if you don't want to install the dev version in its entirety).  Your case works in my testing.

[2017-09-12 19:55] underwaynyc opened #30239 "Fix docker volume creation when there are no docker volumes present yet."
##### ISSUE TYPE
 - Bug Report

Fixed by https://github.com/ansible/ansible/pull/28145 This pull request is waiting for approval to merge.

##### COMPONENT NAME
In the cloud module, in the docker module, the `docker_volume` command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

none

##### OS / ENVIRONMENT

Ubuntu 17.04

##### SUMMARY

##### STEPS TO REPRODUCE

Attempt to create a volume, wh

[2017-09-12 19:56] biomassives commented on #30239
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (104/100 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-09-12 20:09] ghost commented on #19718
Hello Tim,

I don't believe so, just to re-confirm I have gone through the process of
installing bigsuds using pip. Also, I am running this command directly from
a mac book to two external VE 12.0 BIG-IP LTM devices

lt3:context ali$ uname -a
Darwin lt3 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT
2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64

lt3:playbooks user$ pip list | egr

[2017-09-12 20:10] smiller171 commented on #30229
Is this still a problem?

[2017-09-12 20:32] gundalow commented on #19718
@tashafan  can you please provide the output of `ansible-playbook --version`

[2017-09-12 20:33] caphrim007 commented on #19718
@tashafan you mention `brew` @sivel said something about `brew` not working, but i dont know what the technical reason for it is.

[2017-09-12 20:45] jborean93 commented on #29524
This has been fixed with https://github.com/ansible/ansible/pull/29821

[2017-09-12 20:45] #29524 closed, assigned to nobody

[2017-09-12 20:45] meshy commented on #29988
@ansibot -- I realise you're a bot, but given you created this issue, modifying it might be something of a challenge for the rest of us...

[2017-09-12 20:55] infrascripting commented on #30217
Related: https://github.com/ansible/ansible/issues/18305

[2017-09-12 20:57] oupala commented on #30050
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

hostname module

##### ANSIBLE VERSION

[code]

[2017-09-12 20:57] infrascripting commented on #30001
Related: https://github.com/ansible/ansible/issues/18305#issuecomment-327488669

[2017-09-12 20:58] infrascripting commented on #30055
Related: https://github.com/ansible/ansible/issues/18305#issuecomment-327488669

[2017-09-12 20:59] infrascripting commented on #29642
Related: https://github.com/ansible/ansible/issues/18305#issuecomment-327488669

[2017-09-12 21:02] gundalow commented on #27336
resolved_by_pr 29151

[2017-09-12 21:02] infrascripting commented on #29253
Related: https://github.com/ansible/ansible/issues/18305#issuecomment-327488669

[2017-09-12 21:06] kmasaryk opened #30240 "Support volume tagging in ec2 module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
This is a feature request to add support for providing a list of tags with each volume definition.

##### STEPS TO REPRODUCE
Example usage:

[code]

##### EXPECTED RESULTS
An arbitrary list of tags will be added to the new volume.

##### AC

[2017-09-12 21:22] shepdelacreme commented on #29721
The refactored cloudtrail module that will be in 2.4 supports this option.

Fixed in cf4806d

[2017-09-12 21:26] abadger commented on #29642
If we can do something about it, I think we should.  Hanging is one of the
unfriendliest things we can do.

[2017-09-12 21:27] grugnog commented on #29848
This appears to be fixed by #26764

[2017-09-12 22:08] maxamillion commented on #29421
Also unable to reproduce on CentOS 7.2 with Ansible 2.2.0.0:

[code]

With the resulting `iptables` output:

[code]

[2017-09-12 22:09] maxamillion commented on #29421
Do note that this operation isn't marked `--immediate` so you will need to restart the `firewalld` service in order to see the change take place on the system immediately (this is consistent with how `firewall-cmd` does config changes).

[2017-09-12 22:10] kmasaryk opened #30244 "Documentation for efs_facts doesn't include region"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
efs_facts.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
This module requires the AWS Region to be set. This can be accomplished either through an environment var, aws/boto config file or by supplying the 'region' option to the module; however, the 'region' option is undocumented.

[2017-09-12 22:50] dav1x commented on #29749
I will attempt to recreate this tomorrow @joshmullis

[2017-09-12 23:15] haisamido commented on #29717
What do you mean by component name?

[2017-09-12 23:38] n-st opened #30246 "Provide network interface facts as a dictionary"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`setup` module

##### ANSIBLE VERSION
[code]

##### SUMMARY
Currently, facts about network interfaces are only present in the root of the fact hierarchy (with names like `ansible_eth0`), while facts about disk devices are grouped in a dictionary `ansible_devices`.

**I propose making the network interface facts available as a dictionary** (sim

[2017-09-13 00:30] willthames opened #30249 "aws documentation fragment lists boto as requirement"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws documentation fragment

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
As per my comment in #29392, using the aws documentation fragment
causes boto to be listed as a requirement. This means that boto3 modules
list boto as a requirement if they use the aws documentation fragment
(which they s

[2017-09-13 00:31] willthames commented on #29392
@s-hertel #30249 logged for the requirements issue.

[2017-09-13 00:35] Gelob opened #30250 "Arista EOS module doesn't properly parse vrfs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
eos_vrf
eos_eapi

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_DEBUG=True
ANSIBLE_LOG_PATH=~/.ansible.log

##### OS / ENVIRONMENT
CentOS 7, I've tried ansible 2.5.0 and v2.3.2.0, EOS 4.16.7M

##### SUMMARY
When trying to specify a vrf in the eos_eapi task, I get the error below:
[code]
Except the vrf does exist and shows when I ru

[2017-09-13 00:51] bruceauyeung commented on #29095
@sivel @abadger is there any workround if using ansible 2.3?
cc @tanshanshan

[2017-09-13 01:02] doubletwist13 commented on #14248
I'd like to add my voice to the request for this ability and detail my use-case.  In addition to the simple ability to break-up large main.yml, the ability to do something like this would be great:
[code]

What I'm hoping to accomplish with this is [as an example] an openssh role that supports *all* ssh_config and sshd_config options, and supports multiple OS's and versions [ie. Debian 8/9, EL6/7,

[2017-09-13 01:35] pilou- commented on #29959
Oups, this issue was created while testing ansibot, either I forgot to add `--dry-run`, or `--dry-run` parameter was ignored.

[2017-09-13 01:35] #29959 closed, assigned to nobody

[2017-09-13 01:41] rahushen commented on #28494
Closing issue .. modified test as module states that there will be failure for removing ntp keys not present.

[2017-09-13 01:41] #28494 closed, assigned to nobody

[2017-09-13 01:44] abadger commented on #29095
You could patch your code with the fix in the pull request.  It has been
cherry-picked to the stable2.3 branch.   It's just that there isn't a 2.3
release with the fix in it yet.

[2017-09-13 01:44] xiangchu0 commented on #29943
Thank your

On Tue, Sep 12, 2017 at 11:23 PM, Brian Coca <notifications@github.com>
wrote:

[2017-09-13 01:47] jctanner commented on #29848
resolved_by_pr https://github.com/ansible/ansible/pull/26764

[2017-09-13 01:53] #29848 closed, assigned to nobody

[2017-09-13 02:50] jctanner commented on #30001
Duplicate of https://github.com/ansible/ansible/issues/19763

[2017-09-13 02:50] #30001 closed, assigned to nobody

[2017-09-13 03:04] #30033 closed, assigned to nobody

[2017-09-13 03:07] ghost commented on #19718
Hello John,

Here is the output of the command you requested.

ansible-playbook --version
ansible-playbook 2.5.0
  config file = /private/etc/ansible/playbooks/ansible.cfg
  configured module search path =
[u'/Users/username/.ansible/plugins/modules',
u'/usr/share/ansible/plugins/modules']
  ansible python module location =
/Users/username/anaconda/lib/python2.7/site-packages/ansible
  executable

[2017-09-13 03:09] ghost commented on #19718
Hello Tim,

brew list, output was listed to confirm that suds and bigsuds were not
installed using brew utility, rather pip was used to install suds and
bigsuds

On Tue, Sep 12, 2017 at 3:34 PM, Tim Rupp <notifications@github.com> wrote:

--
Best regards,
Syed Tariq Ali

[2017-09-13 03:14] caphrim007 commented on #19718
@tashafan was brew also used to install Ansible? or was pip?

[2017-09-13 04:03] jctanner commented on #30000
resolved_by_pr https://github.com/ansible/ansible/pull/27598

[2017-09-13 04:03] #30000 closed, assigned to nobody

[2017-09-13 04:45] #30019 closed, assigned to nobody

[2017-09-13 05:36] trishnaguha commented on #27383
This issue was fixed in https://github.com/ansible/ansible/commit/9d84a4e530033e8b4a79be4f59e698dcb250cd82
Please try the latest devel and let us know. This fix should be out with 2.4.0 rc1 and rc2 as well.

[2017-09-13 05:38] trishnaguha commented on #27383
needs_info

[2017-09-13 06:59] jborean93 opened #30255 "Windows become does not work with async"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_become

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Ansible Controller: MacOS
Remote Host: Windows Server *

##### SUMMARY
When running become you cannot run any async tasks. It seems like processes spawned from `CreateProcessWithTokenW` can't create a subprocess with `CreateProcess`.

##### STEPS TO REP

[2017-09-13 07:00] jborean93 commented on #30255
cc @nitzmahone

[2017-09-13 07:55] juge2 opened #30258 "win_command,win_shell 'removes'/'creates' argument and win_stat does not detect certain System files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_command
win_shell
win_stat
+ others?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Managing from: CentOS
Managed systems: Windows

##### SUMMARY
When using the 'removes' or 'creates' argument with win_command or win_shell, some system files such as pagefile.sys, swapfile.sys or hiberfil.sys are not recognized.

[2017-09-13 08:11] mkrizek commented on #30088
Fixed in the recent versions.

[2017-09-13 08:11] #30088 closed, assigned to nobody

[2017-09-13 08:20] mkrizek commented on #30015
Fixed in the recent versions.

[2017-09-13 08:20] #30015 closed, assigned to nobody

[2017-09-13 08:49] DandyDeveloper opened #30260 "Add description to 'rules' for EC2 Security Groups"
- Feature Idea

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NR

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Amazon recently released an option for attach descriptions to security group rules. Would be great to add support for this in Ansible EC2 module.

##### STEPS TO REPRODUCE
NR Feature Request

##### EXPECTED RESULTS
Able to add `description` to `ru

[2017-09-13 08:59] DandyDeveloper commented on #30260
Looking at the Boto3 documentation, its not available in Boto3. I've raised a issue there as well.

Dependency on: https://github.com/boto/boto3/issues/1260

[2017-09-13 09:36] jtyr commented on #29642
I tried to search for allowed characters in the fstab opts but couldn't find any complete information about it. It looks like each filesystem can have its own set of allowed characters which makes it really hard to solve on the `mount` module level.

Other solution could be to introduce a `timeout` option for the `module.run_command()`. This [thread](https://stackoverflow.com/a/1191537) offers sev

[2017-09-13 09:40] PYLochou opened #30264 "Documentation for module copy needs clarification?"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Module copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No change in ansible.cfg or environment.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
With `src=/file` and `dest=/dir/ `with ending with "/" my understanding from http://docs.ansible.com/ansible/latest/copy_module.html is that /dir is to be created by Ansible (see comments fo

[2017-09-13 09:46] L-B opened #30265 "'prompt' doesn't accept non-ASCII characters"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vars_prompt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

Non-ASCII characters in the prompt of a vars_prompt section cause errors. This looks very much like #10319, however, it was closed a long time ago, and this is happening on a recent release.

##### STEPS TO REPRODUCE

[code]

[2017-09-13 09:49] #29974 closed, assigned to ganeshrn

[2017-09-13 09:51] lkx007 commented on #27046
@191801737 多谢！！！

[2017-09-13 10:23] jtyr commented on #30070
@Ilyes512 @tersmitten @tersmitten Please can you confirm that this issue is still present in the latest Ansible?

`needs_info`

[2017-09-13 10:25] jtyr commented on #30090
@mcreenan Please could you verify this is still an issue in the latest Ansible?

`needs_info`

[2017-09-13 10:27] nbeernink commented on #29421
Thanks for getting back to me after all that time. :)

At the time of filing my firewalld knowledge was non-existent and I did not understand that you have to craft special zones if you want to specify a rule that only allows 1 specific IP to a specific port.

I was basically trying to mimic the following in firewalld
`-A INPUT -s 1.2.3.4/32 -p tcp -m multiport --dports 1234 -m comment  -j ACCEPT`

[2017-09-13 10:28] jtyr commented on #30027
@drybjed Please could you verify this is still an issue in the latest Ansible?

`need_info`

[2017-09-13 10:38] nbeernink commented on #29421
I cannot close this issue. Could you please do this for me?

[2017-09-13 10:41] Lujeni commented on #29942
Hello,

I am unable to reproduce this bug under the `devel` version.

However there is no `changed` state in the first step.

[code]

[code]

[code]

[code]

[code]

[2017-09-13 10:43] KKoukiou commented on #30009
Apart from the required data center parameter the host parameter is also required but  not documented.

https://github.com/ansible/ansible/blob/0566d4672dd30e374ab8fdf24465e143418bf911/lib/ansible/modules/cloud/ovirt/ovirt_storage_domains.py#L503-L508

Regarding the data_centers I believe in the case that state is absent we should iterate all over datacenters to get the correct attached_sd_service

[2017-09-13 11:06] #28796 closed, assigned to trishnaguha

[2017-09-13 11:12] kravietz commented on #26670
I also experienced this error on Ubuntu 16.04 and this was caused by outdated `pyOpenSSL` library. The fix:

    sudo -H pip2 uninstall pyOpenSSL
    sudo -H pip2 install pyOpenSSL

Now on `pyOpenSSL-17.2.0` it works perfectly.

[2017-09-13 11:36] gurumaia opened #30268 "Unknown parameter when using ec2_lc and instance_profile_name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_lc

##### ANSIBLE VERSION
Latest from devel
[code]

##### CONFIGURATION
Nothing out of the ordinary

##### OS / ENVIRONMENT
This is a cloud module, so OS is not very relevant. My client machine is Linux Mint 18.

##### SUMMARY
When using the ec2_lc module including an instance_profile_name, I get an Unknown parameter InstanceProfileName. The

[2017-09-13 11:37] onemark commented on #19735
@Akasurde Now i get this error after installing 2.4:

"Unknown error connecting to vCenter or ESXi API at vsphere.local: SmartConnect() got an unexpected keyword argument 'sslContext'"}

[2017-09-13 11:45] #27138 closed, assigned to Qalthos

[2017-09-13 11:48] Akasurde commented on #19735
@onemark What is version Pyvmomi installed on your machine ? It should be greater than 6.0 to use `sslContext`

[2017-09-13 11:53] onemark commented on #19735
@Akasurde version pyvmomi 5.5 is installed, thanks i'll try upgrading to greater than 6.0.

[2017-09-13 12:05] Akasurde commented on #19735
@onemark Cool, let me know the result, once you install 6.0 and above version.

[2017-09-13 12:15] ganeshrn commented on #30250
@Gelob
The eos_eapi doc for vrf argument mentions.
[code]
So I think this is expected behavior. Before running `eos_epai` you need to create a `vrf` either by using `eos_vrf` or `eos_config`.

[2017-09-13 12:17] DanyC97 commented on #10374
@bcoca / @jimi-c  this is exactly what i am missing on the issue i have, can you pls consider this for 2.5 as is too late for 2.4 ?

This is honestly a massive step in the right direction of being able to reuse roles and not have any magics with set_fact( and all the issues they come with) or hard coding path etc .

[2017-09-13 12:23] DanyC97 commented on #21046
spent a week to find out that i'm hitting the same issue and that indeed i **want** the behavior mentioned in #10374 .

Please @bcoca or @jimi-c  make this happen, will be a huge step forward for ansible

[2017-09-13 12:24] #27336 closed, assigned to nobody

[2017-09-13 12:30] onemark commented on #19735
@Akasurde It works! Thanks you very much!

[2017-09-13 12:37] #27066 closed, assigned to Qalthos

[2017-09-13 12:44] pehruby commented on #29181
ansible_connection was set to local in my hosts file. That caused this "issue". I'm sorry for troubles ...

[2017-09-13 12:57] clarkst opened #30269 "amazon kinesis stream module to manage server side encryption"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

kinesis_stream_encryption

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

As a kinesis stream user
I want to manage the serverside encryption on kinesis streams
So that the stream producers/consumers dont have to do encryption

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL

[2017-09-13 12:59] msasso opened #30270 "Option variable for --diff"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
utils/vars.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
It would be useful if Ansible exposed the diff option to its modules.

A possible use case is to produce relevant output from inside the shell module.

Implementation is as easy as adding
[code]
to load_options_vars() in ansible/uti

[2017-09-13 13:13] pehruby commented on #29181
OK. It looks like the settings "local" is correct for network modules.

[2017-09-13 13:16] dagwieers commented on #25302
Since we haven't heard back from the original submitter, and there's a good chance this is fixed in the v2.4 release, I am going to consider this one closed. Feel free to reopen if this is still causing issues.

[2017-09-13 13:16] #25302 closed, assigned to nobody

[2017-09-13 13:18] sm4rk0 opened #30271 "xml module: Catch common mistake with missing namespace"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Common pitfall for users new with lxml is forgetting to define the namespace prefixes and to use them in XPath in cases when XML document has namespaces defined. Some examples: #29078, cmprescott/ansible-xml#102, cmprescott/ansible-xml#107, cm

[2017-09-13 13:24] abitrolly commented on #28012
Are there any notes that can be added as comments at least?

[2017-09-13 13:31] maxamillion commented on #29421
Oh jeez, sorry. I didn't even realize the original date. The bot created this two days ago. I'm sorry this fell through the cracks when you originally submitted it.

[2017-09-13 13:35] DylanYoung commented on #25027
What about a `completed` filter that does as the OP was expecting? It seems more useful than saving 4 characters over `not result|failed`, no?

[2017-09-13 13:40] roumano commented on #26681
Nothing is running on the server expected ansible and before template module, earlier ansible tasks say the file exist ...

and it's failing only with template module so for me, the problem is between these differences :
[code]
and
[code]

[2017-09-13 13:42] jhawkesworth commented on #30271
Seem like a good idea as long as its documented that it only checks for namespacing on root element (to save issues being raised on this in future).

[2017-09-13 13:43] ghost commented on #27958
matthewrees: me too
old playbooks with junos_config module don't work since 2.3.2.0

 failed to connect to control socket

## (!) update:
**resolved** by uncommenting
host_key_checking = False
in ansible.cfg

the second issue i ran into:
netconf provider has default timeout of 10 seconds
branch SRXes spent way more time doing commit checks before a new configuration being accepted

it can be resol

[2017-09-13 13:54] jctanner commented on #30125
This would probably be similar to the `validate` parameter found in the template+copy modules.

[2017-09-13 13:56] bcoca commented on #30125
-1 as saving 1 task is not worth adding an additional conditional + task pre/post execution of arbitrary shell  .. and it overlaps with validate

[2017-09-13 14:17] bcoca commented on #30270
It is already exposed to the modules themsleves, `AnsibleModule` has a `diff` property which is true/false reflecting if a diff is wanted or not.

[2017-09-13 14:22] bcoca commented on #26681
not just previous tasks .. the template task itself is seeing the file, changing owner/permissions .. it only fails when copying it into place ... so the file is there FOR the template task ... then it is not ...

[2017-09-13 14:34] jtyr commented on #30136
@kustodian Please could you verify is this is still an issue with the latest Ansible?

`needs_info`

[2017-09-13 14:35] africanzoe opened #30276 "Use pcs_cluster instead of pacemaker_cluster"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

pacemaker_cluster module.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default (no changes made to Ansible configuration).

##### OS / ENVIRONMENT

Ansible running on Centos 7.
Managed OSs:
- Redhat 6 & 7
- SLES 11 & 12

##### SUMMARY

The implementation of the module "**pacemaker_cluster**" is based on the "pcs" comman

[2017-09-13 14:41] bcoca commented on #29181
@pehruby the  `raw` module is not a network module.

[2017-09-13 14:41] #29181 closed, assigned to nobody

[2017-09-13 14:42] africanzoe commented on #30276
It's important for the contributors that want to add other Pacemaker modules to follow the same logic and way of coding. That's why we need to agree which "command" to use and how the non-supported platforms/variables are handled.

[2017-09-13 14:46] abadger commented on #29642
A timeout sounds like a reasonable option if you can swing it.  Note that
I'm release manager for 2.4 so I don't have a lot of time to review the
strategies you might want to put into place.  But I can rubber stamp what
sounds like a good idea.

[2017-09-13 14:58] abadger commented on #30265
Looks like we can use ```to_native()``` of the prompt.

Python3:
[code]

Python2:
[code]

So we need a text string on python3 and a byte string on python2... just what ```to_native()``` was designed for.

[2017-09-13 15:00] #28493 closed, assigned to nobody

[2017-09-13 15:08] #27484 closed, assigned to nobody

[2017-09-13 15:08] #28793 closed, assigned to nobody

[2017-09-13 15:11] ganeshrn opened #30281 "eos_banner fails to configure login prompt"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_banner
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should configure login prompt

##### ACTUAL RESULTS

[code]

[2017-09-13 15:12] ti-mo commented on #21188
Same issue here:

- ansible==2.3.2.0

On the remote:

- docker-py==1.10.6

[code]

Workaround using `command`.

[2017-09-13 15:13] #30204 closed, assigned to nobody

[2017-09-13 15:14] JoelFeiner commented on #24253
Unfortunately, the situation I had that generated the issue is long gone, so I cannot verify. As I said in the original message, I couldn't seem to create a simple playbook that illustrated the issue. We'll have to trust the logic of the new code (which is fine by me).

[2017-09-13 15:20] lberruti commented on #29780
bug_resolved

[2017-09-13 15:22] jtyr commented on #30206
I believe this issue has been fixed already as the `state` description in the module documentation is different now.

`close_me`.

[2017-09-13 15:23] #27010 closed, assigned to nobody

[2017-09-13 15:24] ephesused opened #30284 "2.4 group_vars loading for included plays causes unexpected variable lookup changes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Included / imported plays and group_vars loading

##### ANSIBLE VERSION

[code]
This is Ansible 2.4.0 RC2.

##### CONFIGURATION

Nothing altered.

##### OS / ENVIRONMENT

Centos 7.2

##### SUMMARY
The behavior of group_vars loading for included plays has changed between 2.3 and 2.4.  Previously the group_vars would load based on the initial pla

[2017-09-13 15:30] #29421 closed, assigned to nobody

[2017-09-13 15:31] #30206 closed, assigned to nobody

[2017-09-13 15:34] hiddenicon commented on #28210
An update to my issue, all IOS devices work and all Nexus 5k and 7k work. However, I'm getting the above open shell error only to Nexus 9k's. Different versions of Nexus 9k's, but only to those Nexus 9k's now. I will look to see what's different about their code over the 7k/5k's.

[2017-09-13 15:35] nitzmahone commented on #30255
Yeah, I remember looking into this in 2.3 (because I actually had tests that combined the two, but never committed them because the combo didn't work)... At least when we were using CreateProcessAsUser, the SLS created the new process under a job that didn't have breakaway rights. Nested job support on 2012+ also caused problems IIRC, because you could still end up in the WinRM job *and* the SLS j

[2017-09-13 16:02] jmcleroy opened #30288 "Ansible NXOS_Config adding in additional uncalled command failing template implementation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

NXOS_Config adds BFD to a bgp template command causing the command to fail
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Only disabled hostkeychecking
##### OS / ENVIRONMENT

Rhel 7.3 attempting to change NXOS 7.0.3.I5.1.bin
##### SUMMARY

When submitting a template change for bgp it is adding the command BFD which is not called in the t

[2017-09-13 16:03] #30288 closed, assigned to nobody

[2017-09-13 16:03] jmcleroy commented on #30288
BFD was called by playbook of user missed it had him remove and it works

[2017-09-13 16:03] lpxavi opened #30289 "No module named containerservice - azure_rm_dnsrecordset"
Hi,

when I try to use azure_rm_dnsrecordset plugin I have the error :

    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "ad_user": null,
            "append_tags": true,
            "cli_default_profile": null,
            "client_id": "VALUE_SPECIFIED_IN_NO_LOG_PARAMETER",
            "cloud_environment": null,
            "password": null,

[2017-09-13 16:06] #29850 closed, assigned to nobody

[2017-09-13 16:18] aabdnn commented on #29942
What does this mean for users of ansible 2.3? I can't just update to devel.

[2017-09-13 16:31] kniczyj opened #30292 "os_security_group - same name in different project"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
os_security_group

##### SUMMARY
When there is security group with the same name in different project and you are logged as admin you are modifying security group in that project
##### STEPS TO REPRODUCE
1. Create security group with name 'foo' in first project
2. Use os_security_group to create security group in you project and authenticate with a

[2017-09-13 16:33] shepdelacreme commented on #27800
I'm interested in getting IPv6 support in for AWS modules as well. I ended up abandoning using these modules for building VPC infrastructure for this reason. There has been some work recently that adds support. Below is the breakdown of various modules I think need updates to fully support IPv6 in AWS (caveat: I probably missed a couple) as well as their status today.

**Modules affected:**
- ec2:

[2017-09-13 16:33] kniczyj commented on #30292
Ia have already written fix for that.

[2017-09-13 16:33] #27845 closed, assigned to jimi-c

[2017-09-13 16:34] bcoca commented on #24253
most likely this was caused by the lookup expecting a list and getting a string .. which it iterated over.
w/o a reproducer there is little we can do.

[2017-09-13 16:41] kniczyj commented on #30292
Not this repository, sorry.

[2017-09-13 16:41] jctanner commented on #30292
@G5imm9ow has it been submitted as a PR and merged?

needs_info

[2017-09-13 16:41] jctanner commented on #30292
Nevermind, thanks!

[2017-09-13 16:42] kniczyj commented on #30292
The code is in ansible-modules-core, should I create issue here or in that repository?

[2017-09-13 16:49] jmcleroy opened #30294 "nxos_config throwing lines and src are mutually exclusive error when using a .j2 template"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

hostkeyfile checking has been disabled
##### OS / ENVIRONMENT

Redhat 7.3 and nxos version 7.3
##### SUMMARY

When using a template to place a partial config receiving error src and lines are mutually exclusive
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The command

[2017-09-13 16:49] DylanYoung commented on #13262
As @calston pointed out, the loops could be simply lifted into the tasks within the block with a little processing to merge block level loops and task level loops.  This would negate any performance benefits, but the readability/writability improvements are probably worth it by themselves.

[2017-09-13 16:57] kniczyj commented on #30292
@jctanner Here is link to PR: https://github.com/ansible/ansible/pull/30295

[2017-09-13 16:59] ndrewl opened #30296 "docker_service doesn't respect "pull: no" parameter when building new image."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg:
[code]

##### OS / ENVIRONMENT
Host: CentOS Linux release 7.3.1611 (Core)
Managed: CentOS Linux release 7.3.1611 (Core)

##### SUMMARY
docker_service module doesn't respect "pull: no" parameter.
In my docker_service description I use "pull: no" with "build: yes" in

[2017-09-13 17:02] #30265 closed, assigned to nobody

[2017-09-13 17:03] smiller171 commented on #13262
@DylanYoung, to be clear, you are saying use a syntax of a block level loop, but functionally process the loop at the task level? If that's what you're saying, it doesn't remotely solve the problem at hand. The problem raised here is that currently you can loop a task an arbitrary number of times, but you can't loop a group of tasks an arbitrary number of times (the difference between 3 tasks goin

[2017-09-13 17:03] jmcleroy commented on #27071
Appears to be working now.

[2017-09-13 17:03] #27071 closed, assigned to Qalthos

[2017-09-13 17:04] smiller171 commented on #13262
The only current solution being looping over an `include` task

[2017-09-13 17:04] nitzmahone commented on #23019
This has been addressed in 2.4.0rc3 by https://github.com/ansible/ansible/pull/30253

[2017-09-13 17:04] #23019 closed, assigned to nitzmahone

[2017-09-13 17:35] bdlamprecht commented on #26374
Can someone get assigned to address this issue please?

When something so basic like casting a value to a different type doesn't work (`| int`) and moreover doesn't provide any error message, it is big problem, especially when similar casting operations work fine (such as `| string`).

[2017-09-13 17:42] abadger commented on #30265
This will be fixed in 2.4.0rc3 and 2.3.3 if we should need to make another 2.3.x release.

[2017-09-13 17:50] ogenstad commented on #29354
Looks like this is just an implementation error, which was opened over a year ago. with_nested is used as a parameter to the module instead of as a loop to the task.

[2017-09-13 17:56] calston commented on #13262
Well since I implemented almost the exact same thing in Ducted I know it certainly solve a lot of problems to just snap off that part of the yaml tree in your preprocessor then take the parent block and duplicate it back into the tree as ordered siblings which retain sequencing. If you cared particularly about ordering over short hand grouping, and are sure you don't have giant sets, then I guess

[2017-09-13 18:02] ganeshrn commented on #27958
@matthewrees @IDQDD Did you try the steps mentioned in the troubleshooting guide.
[code]
If not can you please try that and if you are still seeing this issue, share the contents of log file set by log_path config variable.

[2017-09-13 18:06] #28299 closed, assigned to nobody

[2017-09-13 18:24] s-hertel commented on #29040
!needs_contributor

I have submitted #30273

[2017-09-13 18:34] #30190 closed, assigned to nobody

[2017-09-13 18:46] Gelob commented on #30250
@ganeshrn, I don't see how its expected behavior? I assume that wording means I have to have the VRF created on my device, which I do. That would seem in line because the vrf validation is running 'show vrf' against my device. It isn't validating any other modules or tasks in my playbook.

Also even if I didn't have the VRF created the parsing of the 'show vrf' output is incorrect.

Notice in my o

[2017-09-13 18:50] smiller171 commented on #13262
@calston If you think this would be as simple a change as you are saying, why don't you open a PR for it? Sometimes a feature being a high priority for the community does not necessarily translate to a high priority for a company. IMHO this is acceptable as long as solid communication about those priorities is maintained, and from where I'm sitting, the team is doing a reasonably good job about th

[2017-09-13 18:53] machacekondra commented on #30009
@KKoukiou  Right thanks, so we need two more patches, one for fixing 'data_center isn't required'. And one for 'use random host for remove host'.

@maorlipchuk Can you please handle it in #29175 , or should I take it?

[2017-09-13 19:12] calston commented on #13262
I was actually going to do that, but I was just concerned about investing a lot of time learning the codebase and doing that if there are overall objections to it from the project owners. But after re-reading the official response that may be misplaced anxiety.

Networking hardware is a very valid feature to add, I was in the meetings with RH and that exact user pool so I'm pleasantly surprised th

[2017-09-13 19:16] ghost commented on #13262
would it be any simpler to add a new directive via plugin? Like a
`block_loop` plugin that did said expansion that could have its own api
independent of the ansible one?

On Wed, Sep 13, 2017 at 12:13 PM, Colin Alston <notifications@github.com>
wrote:

--
Dylan Grafmyre
Systems Administrator | Conversica
503.908.2521 direct |  888.778.1004 office | conversica.com

Watch a video  |  Request a demo

[2017-09-13 19:21] joshmullis commented on #29749
@dav1x   Thanks!

[2017-09-13 19:34] maorlipchuk commented on #30009
On Wed, Sep 13, 2017 at 9:54 PM, Ondra Machacek <notifications@github.com>
wrote:

Sure Ondra, apologies for the delay, got occupied with different bugs.
I've re pushed the patch again, I will just re-verify it again.
I can't see the whole thread responds of this email but I assume 'use
random host for remove host' is not relevant for #29175
<https://github.com/ansible/ansible/pull/29175>?

—

[2017-09-13 19:44] dan-osms commented on #29102
Ran this with Ansible 2.4 RC2 and still getting error.  FYI

[2017-09-13 19:46] msasso commented on #30270
That's ok, but I was talking about shell scripts running under the shell module.

Right now, if I didn't miss it, there's no way to, say, be more verbose when the --diff option is on. On the other hand, I can know about --check by starting my scripts with

[code]

I hope the issue is clearer now.
Thank you.

[2017-09-13 19:49] dan-osms opened #30307 "SNS issue Ansible 2.4RC2 ref #29102"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

SNS_Topic

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### OS / ENVIRONMENT

Mac Sierra 10.12.6
##### SUMMARY

SQS to SNS_Topic variable not handled well.
##### STEPS TO REPRODUCE

Variable handling doesn't seem to work with SNS_Topic in Ansible 2.4.0.0 however works in 2.3.0.0.

[code]

##### EXPECTED RESULTS

That the sqs_id w

[2017-09-13 19:51] dstoeckm commented on #19860
It only happens when I deploy more than one VM at the same time. If I run fro 5 new VMs 4 will have a MAC issue, 1 is passing. look like a race condition on vCenter to me...
Any way to run the playbook with a sec delay for each line in the host file?

[2017-09-13 19:55] machacekondra commented on #30009
Thanks Maor. yes, we will do it in different PR.

[2017-09-13 19:59] hiddenicon commented on #18974
@ganeshrn @jean-christophe-manciot

I'm running into this same exact issue. Only my nexus 9k's are experiencing this via CLI/SSH. All of my 5k's and 7k's are fine.

My output from using Ansible 2.3.2.0 and using "timeout: 300" in the task:

[code]

I updated Ansible to the latest devel, running 2.5.0. I get the same results:
[code]

On the same box I created a python script with paramiko and it is

[2017-09-13 20:19] ghost commented on #19718
Hello Tim, pip was used to install Ansible

On Tue, Sep 12, 2017 at 10:15 PM, Tim Rupp <notifications@github.com> wrote:

--
Best regards,
Syed Tariq Ali

[2017-09-13 20:22] jhawkesworth commented on #25469
The IIS modules have improved significantly since this issue was raised.

We also now have win_command and win_shell which support creates, so you can do a limited sort of idempotency by using creates on your appcmd.exe invocations, and writing a file or creating a dir once all the appcmd.exe calls have completed the first time through.  Subsequent runs would then be skipped.

Also I believe IIS 1

[2017-09-13 20:26] jctanner commented on #29749
If I follow the related issue+pr chain ...

https://github.com/ansible/ansible/issues/19860
https://github.com/ansible/ansible/pull/24283
https://github.com/ansible/ansible/pull/24768
https://github.com/ansible/ansible/commit/cf30b162a9b5f2f4bbc0ab835770e0ad9c20396d

I see that @dagwieers  has a patch in 2.4 that is possible a fix for this issue. Please test with the latest 2.4 release candidate o

[2017-09-13 20:38] jctanner commented on #30292
resolved_by_pr https://github.com/ansible/ansible/pull/30295

[2017-09-13 20:47] dav1x commented on #29749
Howdy @joshmullis !

I tested with the latest 2.4 devel and @jctanner is correct. Everything works fine including the wait_for_ip_address section.

[2017-09-13 21:15] sbussetti commented on #30229
@smiller171 yes:

[code]

[2017-09-13 21:16] saichint opened #30310 "(P1) MUST FIX: nxos providers are not working properly when transport=cli"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
components which use "show running-config all" etc.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: NX-OSv9K running 7.0(3)I2(5)
##### SUMMARY

If the transport is CLI and during the get_config() methods, if we pass flags like "all" etc. the current code in nxos.py is just ignor

[2017-09-13 21:29] smiller171 commented on #13262
Yeah @calston, from the responses left by Brian I'd say it's a matter of resource allocation, not any fundamental objection.

[2017-09-13 21:34] smiller171 commented on #30229
@bcoca This has been an issue since 2014 and is still present. Are you able to comment on this bug? Has anyone on the team taken a look at this? I don't think it would be terribly difficult to implement retries in the case of throttling since Boto is explicit that it's a throttling error.

[2017-09-13 21:36] smiller171 commented on #30229
At the very least the error could be handled in a more user-friendly way. Is the official position still that falling back to a stacktrace is considered a bug?

[2017-09-13 21:46] jborean93 commented on #23019
Just an update on the above PR for documentation and so others can see the difference, here are the results when running the following task

`- win_command: C:\temp\PrintArgv.exe arg1 "arg 2" C:\path "C:\path with\space" "double \" quote" "arg with \\\" backlash and quote{% raw %}\\{% endraw %}" unquoted\`

Note when ending an arg with `\` that is quoted you need to do `{% raw %}\\{% endraw %}` so

[2017-09-13 22:16] s-hertel commented on #30129
#19773 would fix this by making a minimum policy optional.

[2017-09-13 22:21] #25554 closed, assigned to nobody

[2017-09-13 22:28] jborean93 commented on #29182
Thanks @cleonte this feature request has already been raised both here https://github.com/ansible/ansible/issues/29976 and here https://github.com/ansible/ansible/issues/27780. In order for us to gauge the interest I am going to close this issue but feel free to talk about the request further on 27780

[2017-09-13 22:28] #29182 closed, assigned to nobody

[2017-09-13 22:29] jborean93 commented on #27780
Some more history https://github.com/ansible/ansible/issues/29976

[2017-09-13 22:29] jborean93 commented on #29976
Closing this issue as it is a duplicate of https://github.com/ansible/ansible/issues/27780

[2017-09-13 22:29] #29976 closed, assigned to nobody

[2017-09-13 22:31] jborean93 commented on #29185
cc @ehelms, sorry if this isn't for you but I saw your name under the BOTMETA for foreman and thought I should cc you.

[2017-09-13 22:36] jborean93 commented on #29378
I am going to close this issue as it is quite old and the networking landscape has changed quite dramatically since `2.1.2.1`. You can see a list of all the latest netscaler modules here http://docs.ansible.com/ansible/latest/list_of_network_modules.html#netscaler.

[2017-09-13 22:36] #29378 closed, assigned to nobody

[2017-09-13 22:47] jborean93 commented on #29396
This is more a feature request rather a bug report so changing the tags to reflect this.

[2017-09-13 22:52] jborean93 commented on #29401
Closing as this was fixed with https://github.com/ansible/ansible/pull/28936.

[2017-09-13 22:52] #29401 closed, assigned to nobody

[2017-09-13 23:04] jborean93 commented on #29417
cc @Nosmoht

[2017-09-13 23:13] jborean93 commented on #29422
Thanks @gcs-github, closing this in favour of 19689

[2017-09-13 23:13] #29422 closed, assigned to nobody

[2017-09-13 23:14] basictheprogram opened #30315 "win_file fails to create directory with AnsibleUnsafeText error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management host: macOS 10.12.6
Managed host Windows 7

##### SUMMARY

Creating a directory with win_file fails

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Create C:\Program Files\Slack Machine Installer

##### ACTUAL RESULTS

[code]

[2017-09-13 23:21] #29395 closed, assigned to nobody

[2017-09-13 23:36] pilou- opened #30316 "crypto/openssl_csr module isn't idempotent, depending on 'extendedKeyUsage' value"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
crypto/openssl_csr.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Tested on:
- control host: Debian unstable
- managed hosts: Debian unstable and Fedora 25

##### SUMMARY
Module isn't idempotent, depending on `extendedKeyUsage` parameter value.

In the test case below, [_check_extenededKeyUsage](https://github.com/ansible/ansible/blob/

[2017-09-13 23:48] jborean93 commented on #30315
The issue here is that jinja is trying to interpret `ProgramFiles(x86)` as a key and is failing due to the brackets. There 2 ways I know how to bypass this

* `path: '{{ ansible_env['ProgramFiles(x86)'] }}\Slack Machine Installer'`
* `path: '%ProgramFiles(x86)%\Slack Machine Installer'`

Anything that takes in a `path` type like win_file's path option automatically expands environment variables in

[2017-09-13 23:48] #30315 closed, assigned to nobody

[2017-09-13 23:51] jborean93 commented on #29449
This looks similar to https://github.com/ansible/ansible/issues/24670, @jjshoe are you able to verify if running the task on a host with the correct packages installed?

[2017-09-14 00:02] jborean93 commented on #29470
closed as per @kassiansun request

[2017-09-14 00:02] #29470 closed, assigned to nobody

[2017-09-14 00:05] jborean93 commented on #29472
cc @privateip @rcarrillocruz

[2017-09-14 00:10] jborean93 commented on #29479
Looking at the latest documentation this looks like it has already been done. Closing issue.

[2017-09-14 00:10] #29479 closed, assigned to nobody

[2017-09-14 00:11] kassiansun commented on #26374
@bdlamprecht https://github.com/ansible/ansible/pull/26380 fixed this, but has not been merged yet.

@chouseknecht @gundalow @jborean93 When will this simple patch get merged?

[2017-09-14 00:15] jborean93 commented on #29494
cc @GGabriele @jedelman8 @mikewiebe @privateip @rahushen @rcarrillocruz @trishnaguha

[2017-09-14 00:19] jborean93 commented on #29502
Issue was solved but never closed, closing issue here.

[2017-09-14 00:19] #29502 closed, assigned to nobody

[2017-09-14 00:20] jborean93 commented on #29506
Issue was unable to be replicated.

[2017-09-14 00:21] jborean93 commented on #29528
Closing as it is a duplicate of https://github.com/ansible/ansible/issues/29507

[2017-09-14 00:21] #29528 closed, assigned to nobody

[2017-09-14 00:27] jborean93 commented on #29510
Thanks @j00bar, I am going to close this issue as the original issue was solved.

[2017-09-14 00:27] #29510 closed, assigned to nobody

[2017-09-14 00:29] jborean93 commented on #29519
Closing as it was a missing parameter not a bug in the module.

[2017-09-14 00:29] #29519 closed, assigned to nobody

[2017-09-14 00:30] jborean93 commented on #29514
cc @jctanner @softzilla

[2017-09-14 00:32] jborean93 commented on #29515
Issue was migrated previously under https://github.com/ansible/ansible/issues/24189 and feature has been implemented for 2.4. Closing this issue.

[2017-09-14 00:32] #29515 closed, assigned to nobody

[2017-09-14 00:49] jrko opened #30319 "ec2_vpc_nat_gateway idempotency broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[ec2_vpc_nat_gateway](http://docs.ansible.com/ansible/latest/ec2_vpc_nat_gateway_module.html)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Stock config except path and user values.

##### OS / ENVIRONMENT
Debian 9.1
Kernel: 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64 GNU/Linux
Ansible 2.3.2.0
Python 2.7.13
Boto 2.48.0
B

[2017-09-14 00:53] jborean93 commented on #29521
Looks like this was opened as another issue under https://github.com/ansible/ansible/issues/22596. Closing this one so we have 1 ticket per issue.

[2017-09-14 00:53] #29521 closed, assigned to nobody

[2017-09-14 00:57] jborean93 commented on #29526
Was fixed in 2.2.1, closing issue.

[2017-09-14 00:57] #29526 closed, assigned to nobody

[2017-09-14 00:59] jrko commented on #30081
+1

[2017-09-14 02:05] jborean93 commented on #29530
This was fixed by https://github.com/ansible/ansible-modules-core/pull/5487, closing

[2017-09-14 02:05] #29530 closed, assigned to nobody

[2017-09-14 02:15] jborean93 commented on #29659
Thanks for @user140547, I just checked out the latest stable-2.4 branch which I believe is sitting at RC3.

Here is the output from your test playbook
[code]

Because I can't replicate it in the latest stable-2.4 build I am going to close the issue but thank you for reporting it.

[2017-09-14 02:15] #29659 closed, assigned to nobody

[2017-09-14 02:20] willthames commented on #30319
What you're seeing shouldn't happen if your NAT gateway creation is truly idempotent.

On reproducing this, I found more bugs with the EIP module than with the NAT gateway.

See #30322 and #30324.

Note that the failure you're seeing is after a fatal condition anyway (it's refusing to update the NAT gateway with a different EIP, so you do have other idempotency issues).

When using Ansible with bo

[2017-09-14 02:23] jborean93 commented on #29695
I am unable to replicate this and the bug is for a version that is 4 releases ago so will close the issue.

[2017-09-14 02:23] #29695 closed, assigned to nobody

[2017-09-14 02:25] JohnVonNeumann opened #30325 "iam_server_certificate_facts - return value indexing by cert_name is difficult to work with"
##### ISSUE TYPE

 - Improvement

##### COMPONENT NAME

aws/ec2/iam_server_certificate_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes made to default config.

##### OS / ENVIRONMENT

Linux Ubuntu 16.04 - Running from a virtualenv, installed via
pip install git+git://github.com/ansible/ansible.git@devel

##### SUMMARY

When searching for a valid server_cert with the module, I

[2017-09-14 02:49] DylanYoung commented on #13262
It is functionally different, not least of which is the efficiency, but I suspect that the majority of use cases could be covered with a workaround, if the difference in difficulty is indeed as drastic as you say.  To be clear you could call it `each_with...` or just document it well.  While I can dream up scenarios where the difference would change the result, such cases seem usually pathological

[2017-09-14 02:59] jborean93 commented on #30264
I just ran this locally under the stable-2.3, stable-2.4 and devel branches and they all work as documented and create the folder which doesn't exist

[code]

The only case where it fails is if `dest` on copy is the path to a file. I believe the copy ,module was overhauled recently and that *may* have missed the 2.3.2.0 release but I'm not sure. Are you able to try out your playbook on the latest

[2017-09-14 03:00] jborean93 commented on #30258
Arghh that's really annoying, there are quite a few modules that use `Test-Path` but not all of them are really affected by the system files.

Thanks for raising the issue and bringing it to our attention.

[2017-09-14 03:07] abadger commented on #30006
@bryan-croft Could you test out the fix in https://github.com/ansible/ansible/pull/30326 ?

[2017-09-14 03:22] jborean93 commented on #30310
cc @GGabriele @jedelman8 @mikewiebe @privateip @rahushen @rcarrillocruz @trishnaguha

[2017-09-14 03:26] jborean93 commented on #30325
cc @linuxdynasty

[2017-09-14 03:42] bryan-croft commented on #30006
Tested patch and can confirm it fixes the problem. Output looks clean for ansible_lvm{lvs,pvs,vgs}

[2017-09-14 03:50] #30006 closed, assigned to nobody

[2017-09-14 04:27] aalamil opened #30327 "vmware_guest module: "Failed to find a matching datastore"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

`vmware_guest` module fails to locate the datastore and cannot create a VM.

```Error: "msg": "Failed to find a matching datastore"```
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

VM created in the given datastore
#####

[2017-09-14 04:41] willthames commented on #29449
Given the age of this issue, and the fact it's likely a duplicate of #24670, I'm going to close this as likely  related to an outdated version of boto somewhere in the stack.

If that's not the case, please do reopen this issue.

[2017-09-14 04:41] #29449 closed, assigned to nobody

[2017-09-14 05:15] jhawkesworth commented on #26117
hey @trondhindenes is this still not working for you?
Other than installing sphinx from pip (if I recall its a fairly obvious error if you don't have sphinx installed) and being patient while it runs :-) this works fine for me.

[2017-09-14 05:15] Bluesboy opened #30328 "One-time password generation in ipa_host module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ipa_host module

##### ANSIBLE VERSION

[code]
##### SUMMARY
When I'm create host in IPA with ipa-admin-tools (`ipa host-add` command) there is an option `--random` that allows to generate one-time password to join created host with  `ipa-client-install` to IPA domain.
It would be very helpful to have the same option in `ipa_host` module wit

[2017-09-14 05:17] jborean93 commented on #26117
Adding to the above, you can test it out by removing all the folders in `lib/ansible/modules` and running `make webdocs`. It will run through the same process but just develop the docs for the site to prove that it does work over WSL. Obviously if you want to generate a specific module docs you can just leave that single file.

[2017-09-14 06:17] 4c74356b41 commented on #30289
You need to do `pip install azure-mgmt-containerservice`.

Looks like a bug in dependencies between Azure package and ansible. that module doesnt get installed by Azure meta package, for some reason. @lmazuel can you confirm?

[2017-09-14 06:27] 4c74356b41 opened #30330 "azure_rm_deployment broken in 2.4.0.rc3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_deployment

##### ANSIBLE VERSION
2.4.0.0-0.3.rc3
[code]

##### CONFIGURATION
installed azure==2.0.0
Only this: `sudo_flags = -HE`

##### OS / ENVIRONMENT
Bash on windows 10.1703 (15063.608)
[code]
##### SUMMARY
azure_rm_deployment is broken. actual deployment completes successfully, but task fails.

##### STEPS TO REPRODUCE
My template

[2017-09-14 06:48] #30310 closed, assigned to nobody

[2017-09-14 06:51] drybjed commented on #30027
@jtyr: I just checked both on Ansible `stable-2.3` and `devel` branches (`stable-2.4` seems to be currently broken) and the module still changes the entries all the time. You can try with this playbook, it shouldn't do any permanent damage to your system:
[code]

[2017-09-14 06:56] davidebelloni commented on #29677
Hi,
in this moment I'm using ansible 2.4 and seems that this issue isn't anymore present.
Thanks

[2017-09-14 07:19] mattclay commented on #30330
@4c74356b41 Have you tried using the [Azure requirements](https://github.com/ansible/ansible/blob/stable-2.4/packaging/requirements/requirements-azure.txt) provided in Ansible 2.4?

[2017-09-14 07:27] KKoukiou commented on #30009
@machacekondra @maorlipchuk I already have patches for both because I needed them for our playbooks, so I can send them today later.

[2017-09-14 07:31] machacekondra commented on #30009
@KKoukiou Cool, please send them.

[2017-09-14 07:37] ganeshrn opened #30331 "network modules integration test fail if provider transport value in not set"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_*
nxos_*
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

This should run sucessfully
##### ACTUAL RESULTS

[code]

[2017-09-14 07:43] 4c74356b41 commented on #30330
well, i was thinking that installing azure 2.0.0 would be sufficient, apparently its not (which is a weird thing, since [this](https://github.com/ansible/ansible/pull/24710) says 2.0.0 is sufficient), if you look [here](https://github.com/ansible/ansible/issues/30289) its giving people issues. perhaps you should at least hint about this.

[2017-09-14 07:43] #30330 closed, assigned to nobody

[2017-09-14 08:03] MarkusTeufelberger commented on #30316
I don't see how #30128 is related, maybe because "DVCS" is missing in module_utils/crypto?

Pinging @cpointner

[2017-09-14 08:17] Spredzy commented on #30316
@MarkusTeufelberger the issue here is that the idempotence is limited to the amount of key/translation specified in `module_utils/crypto.py` extendedKeyUsage dict. If a key is not there, even though it is a valid key, the `_check_extendedKeyUsage()` will fail.

We're working with @pilou- to find a generic way to accomplish the same goal w/o using an hardcoded dict, so the code remains valid across

[2017-09-14 08:24] MarkusTeufelberger commented on #30316
Well, the issue seems to be that OpenSSL requires a different input parameter than it will output for the same field... I found the mappings in https://github.com/openssl/openssl/blob/master/crypto/objects/objects.txt, in case you want to know what maps where ("DVCS" --> "dvcs" for example). I personally would just fail the module and get more usages into that dict, unfortunately even cryptography

[2017-09-14 08:26] ssbarnea opened #30334 "os_keypair should allow force update instead of raising error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_keypair

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
##### SUMMARY

Current behaviour of os_keypair is to throw an error if the proposed key has a different signature than the new one. This "safe" behaviour is against automation usages and more inclined for command usage patterns, where you can assume that the us

[2017-09-14 08:26] #30281 closed, assigned to ganeshrn

[2017-09-14 09:25] PYLochou commented on #30264
Hello,
I confirm it works without remote_src as expected and as you wrote above.
However it raises the error with remote_src=yes.

Snip of my book:

    - name: Be sure of non-existence of /tmp/scripts/
      file:
        path: /tmp/scripts
        state: absent

    - name: Copy automated update script to /tmp/scripts
      copy:
        #src: /nfs/home/nagios/root-scripts/yum-securityupdate.cro

[2017-09-14 09:33] Akasurde commented on #30327
@aalamil Thanks for reporting this issue. Could you please provide output of [govc find /](https://github.com/vmware/govmomi/tree/master/govc) ?

[2017-09-14 09:37] Manakel166 commented on #28555
Hello,
I'm sorry i was out of office those last days... The devel branch was working fine. will try to test the 2.4 when ready.
Thanks a lot for your reactivity !

[2017-09-14 09:56] 0x44 opened #30341 ""when" statements, Jinja2 templating delimiters, and Python API 2.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Python API 2.0

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I understand that "when statements should not include jinja2 templating delimiters" as warned in newer versions of Ansible. However, when I adopt the new syntax in scripts using Python API 2.0, when statements are always evaluated to

[2017-09-14 10:09] markgoddard commented on #23881
This same issue is present for Dell switches in Ansible 2.3.2.0. I applied a similar fix to the one applied here and it worked. I will submit a PR.

[2017-09-14 10:41] africanzoe opened #30347 "[documentation] persistent_connection section is missing in the documentation website"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

[Configuration document](http://docs.ansible.com/ansible/latest/intro_configuration.html)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A.

##### OS / ENVIRONMENT

N/A.

##### SUMMARY

The "persistent_connection" section present in the "ansible.cfg" file is not documented on the [website configuration page](http://docs.ansib

[2017-09-14 10:57] LuckySB opened #30348 "How set ansible_ssh_common_args: for delegate_to:"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegate_to:

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Centos7

##### SUMMARY
playbook.yml:

[code]

when i need play ansible on host with gray address i set ansible_ssh_proxy: in inventory
and playbook run on host via ProxyCommand

but on task with delegate_to: another_host ansible uses ansible_ssh_common_args: from playbook
i try

[2017-09-14 11:09] yajo commented on #29713
I found the workaround to split in 3 tasks:

1. Create `present` iam users.
2. Create/delete `present/absent` policies.
3. Delete `absent` users.

But this is horrible to maintain and execute (if you have 1 policy per bucket, you have to loop over all users & buckets combinations).

I hope it can be fixed. Maybe a `delete_policies=yes` parameter can be added to the `iam` module 😊

[2017-09-14 11:26] markgoddard opened #30350 ""dellos*" module timeout"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dellos*_* network modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
CentOS 7.3 control host, executing against Dell OS6 and Dell OS9 switches.

##### SUMMARY
This issue is essentially the same as https://github.com/ansible/ansible/issues/23881, but for Dell switches. I have tested against OS6 and OS9 swit

[2017-09-14 11:28] amuraleedhar commented on #29018
I have found out the issue based on comment by John on the issue. Upon login ENOS devices of lenovo was giving the following text to console

The text was not ending in the prompt > . So the regular expressions given in action plugins were not matching. I added an appropriate regular expression and it worked.  Some how the above aspect has to stated in the documentation some where else many may st

[2017-09-14 11:30] #29018 closed, assigned to nobody

[2017-09-14 11:32] LuckySB opened #30351 "when conditional checked on all task from include_tasks or include_role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_task:
when:

include_role:
when:

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Centos7

##### SUMMARY
Include_task with when: condition
condition check on all task from included yaml, and task may be unexpectedly skipped

##### STEPS TO REPRODUCE
i run ansible-playbook under user robot, ansible connect to servers on first time as

[2017-09-14 11:45] gundalow commented on #30350
@markgoddard Change looks sensible.
Could you please create a PR against the `/ansible/ansible` repo https://github.com/stackhpc/ansible/commit/283dc5fa83905b8d006525e7c94ac9dbe997b80d was created against the `stackhpc/ansible` repo.

Thanks

[2017-09-14 11:45] gundalow commented on #30350
bot_status

[2017-09-14 11:48] markgoddard commented on #30350
Thanks John, just running through some final tests then will raise PRs against stable-2.3 and stable-2.4. The code looks to have changed in devel, so I'll need to test that separately.

[2017-09-14 11:51] gundalow commented on #30350
@markgoddard Just raise a single PR against `devel`, we will cherry pick the fix into the `stable-x.y` branches.

[2017-09-14 11:51] soestrom opened #30354 "Python3 - docker_service - TypeError: cannot use a string pattern on a bytes-like object"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
inventory = hosts
roles_path = roles

##### OS / ENVIRONMENT

Local:
macOS 10.12.6

Remote:
Vagrant box: bento/ubuntu-16.04
Python 3.5.2

##### SUMMARY

I'm new to Ansible and I get this error trying to use the docker_service module running a docker-compose file.

#

[2017-09-14 11:57] gundalow commented on #29494
@ebmarquez Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-14 11:59] gundalow commented on #29472
Hi @eileenzliu,
We believe this has been fixed in 2.4.0RC3, could you please test and let us know either way?
https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-14 12:00] gundalow commented on #18974
Hi,
Can you please test this against 2.4.0RC3?
https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-14 13:00] VSslsva opened #30356 "Ansible vars_prompt value in menu"
I have playbook
[code]
Inventory:
[code]
but I need inventory:
[code]
If you enter eg 1, the host variable contains 1, and I need to get Test01

[2017-09-14 13:01] gundalow commented on #30350
resolved_by_pr 30355

[2017-09-14 13:02] ehelms commented on #29185
I think you want to ping @dLobatog who works on the inventory script.

[2017-09-14 13:05] alexfoxgill commented on #29579
you can use `get-authorization-token` with a query specifier to get the result that you want:

[code]

(the result is returned base64 encoded with a `AWS:` prefix, hence the two piped commands)

[2017-09-14 13:17] trishnaguha commented on #25946
Closing the issue as this is already fixed in 2.4.

[2017-09-14 13:17] #25946 closed, assigned to trishnaguha

[2017-09-14 13:17] VSslsva commented on #30356
Ok
**ISSUE TYPE**

- Bug Report

**COMPONENT NAME**

- task

**ANSIBLE VERSION**
[code]
playbook.yml:
[code]
Inventory file:
[code]
but I need inventory:

[code]

If you enter eg 1, the host variable contains 1, and I need to get Test01

[2017-09-14 13:18] trishnaguha commented on #23828
Closing the issue as this is already fixed in 2.4.

[2017-09-14 13:18] #23828 closed, assigned to trishnaguha

[2017-09-14 13:20] gundalow commented on #30294
https://github.com/ansible/ansible/commit/0b6f0e6c0d95e271cf4173b28ece4a5e58902f9c#diff-46d5f557095aceb2afcaa27a1d2dacd4R334 is where in 2.4 this was introduced

[2017-09-14 13:32] gundalow commented on #30294
@jmcleroy Having look at this more
You've set `commands:` it to `null`.
commands is an alias for `lines`

I believe what you want is

[code]

The examples on http://docs.ansible.com/ansible/latest/nxos_config_module.html#examples look correct.

Was there something else you were say that had `commands:` being set to empty

[2017-09-14 13:39] jmcleroy commented on #30294
Hey @gundalow totally overlooked that as it worked previously even if it shouldn't have worked at all in the previous versions. Thank you tested working.

[2017-09-14 13:39] #30294 closed, assigned to nobody

[2017-09-14 13:41] gundalow commented on #30294
No problem. thanks for confirming

[2017-09-14 13:43] alvarolinarescabre opened #30357 "ec2_vpc_net module is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_net

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not changes

##### OS / ENVIRONMENT
Linux Ubuntu 17.04

##### SUMMARY
ec2_vpc_net module is not idempotent

##### STEPS TO REPRODUCE
1) Run two times the next playbook
[code]

##### EXPECTED RESULTS
First time:
[code]
Second time:
[code]

##### ACTUAL RESULTS
First time:
[code]
Secon

[2017-09-14 14:02] dagwieers commented on #30214
Isn't this what the **synchronize** module is all about ?

[2017-09-14 14:12] alikins commented on #28012
Fixed by https://github.com/ansible/ansible/pull/26979

[2017-09-14 14:12] #28012 closed, assigned to alikins

[2017-09-14 14:14] alikins commented on #26190
Not going to happen for 2.4, so bumped to 2.5.

[2017-09-14 14:29] Lujeni commented on #29942
Hello @aabdnn

We need to check with a core dev if we backport the "fix" in the 2.3 branch.

My comment is not  a way to close this issue :), it's a classic process to check if the bug is still present in the devel `branch`

[2017-09-14 14:34] s-hertel commented on #30260
@DandyDeveloper Thanks for opening the issue! There's another ticket requesting the same feature opened a week ago, so I'm going to close this one so we'll track the progress in one place.

duplicate_of: #29040

[2017-09-14 14:37] Lujeni commented on #30111
Hello,

It's fixed.

[2017-09-14 14:38] #30260 closed, assigned to nobody

[2017-09-14 14:41] #30350 closed, assigned to nobody

[2017-09-14 14:41] zabbixfan commented on #29020
@bcoca  i also have this problem ,when i use my api twice by different tags, second tag excutor first tag
pbexe('simple/mail.yml', 'one')
pbexe('simple/mail.yml', 'two')

this my playbook:
---
- hosts: all
  gather_facts: false
  remote_user: root
  become: yes
  become_method: sudo
  tasks:
    - name: first
      shell: date
      tags: one
    - name: second
      shell: whoami
      tags: two

[2017-09-14 14:42] zabbixfan commented on #29020
it's my output
PLAY [all] *********************************************************************

TASK [first] *******************************************************************
changed: [192.168.4.119]

PLAY RECAP *********************************************************************
192.168.4.119              : ok=1    changed=1    unreachable=0    failed=0

PLAY [all] ***************************

[2017-09-14 14:45] hadrien-toma commented on #3759
@mpdehaan so, maybe this should be re-opened?

[2017-09-14 14:48] sivel commented on #30341
The python API is an internal API and not designed for consumption by scripts other than the ansible command line utilities.

As the CLI utilities are not affected, I am closing this.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-09-14 14:48] #30341 closed, assigned to nobody

[2017-09-14 14:53] bcoca commented on #30214
closing as `remote_src=True` already provides this feature

[2017-09-14 14:53] #30214 closed, assigned to nobody

[2017-09-14 14:54] jctanner commented on #29043
@mainjoehere I've updated the script with a new feature for validating inventory paths.

[code]

Can you run the latest version with --fuzzytest and --filter="Test" and give us the output?

needs_info

[2017-09-14 14:58] jimi-c commented on #26227
Hrm, I don't believe I had originally meant this to clear unreachable errors, which we consider a different class of error from failed tasks. I'm not sure if we want to fix this to do that as well, or if we want to add a new meta specifically for unreachable hosts.

[2017-09-14 15:12] jctanner commented on #28463
@abhinav-chittora Please use my walk script to validate the paths ...

https://github.com/jctanner/ansible-tools/blob/master/vmware/vmware_walk.py

[code]

In your case, the filter would be "DCOS".

needs_info

[2017-09-14 15:13] #30008 closed, assigned to mkrizek

[2017-09-14 15:23] bcoca commented on #30356
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-14 15:23] #30356 closed, assigned to nobody

[2017-09-14 15:25] nitzmahone commented on #30330
@4c74356b41 the [Azure Getting Started guide](http://docs.ansible.com/ansible/latest/guide_azure.html) shows how to install the current deps- are you proposing something further? I could see adding that info in the shared module docs or something (so it'd show up at the bottom of each Azure module). The intent is that the Microsoft-provided `azure` metapackage will eventually work right for us, bu

[2017-09-14 15:30] pwang99 opened #30360 "access the remote host by a regular user, not root"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

File -- /etc/ansible/hosts
test1 ansible_ssh_host=xxx.xxx.xxx.xxx ansible_user=xxxx

File -- ansible.cfg
remote_user = xxxx

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[pwang@centos72temp ansible]$ ansible-playbook -k --ask-sudo-pa

[2017-09-14 15:31] gundalow opened #30361 "Network Module index improvements"
##### ISSUE TYPE
 - Documentation Report

##### ANSIBLE VERSION
2.5

##### SUMMARY
http://docs.ansible.com/ansible/latest/list_of_network_modules.html is getting a bit busy given the number of platforms and modules

* Can we get a TOC
* Group by vendor then OS
* Group Platform agnostic modules

[2017-09-14 15:33] lmazuel commented on #30289
Looking at the code, this module requires `azure-mgmt-dns`. I don't know it's talking about `containerservice`. @tstringer ?

[2017-09-14 15:47] skg-net commented on #29529
@gundalow @privateip I am not sure why this issue got migrated. I thought this was closed.

[2017-09-14 15:49] skg-net commented on #29505
@gundalow @privateip can you please check this as well. I guess it got migrated by mistake.

[2017-09-14 15:54] 4c74356b41 commented on #30330
funny how you (or somebody) edited this guide in the past couple of hours, because previously (4 hours ago) it was talking about installing azure==2.0.0rc5. yeah, this works

[2017-09-14 15:56] 4c74356b41 commented on #30289
2.4.0rc3 doesnt work if you install azure==2.0.0, because (at least for me and this guy) Azure 2.0.0 doesnt contain containerservice (and it probably imports it on init) @lmazuel

[2017-09-14 15:59] nitzmahone commented on #30330
The changes were made several weeks ago, but there's been some docs shuffle recently where "devel" is no longer the default, so you wouldn't necessarily have seen it since you were probably seeing the 2.3 docs.

[2017-09-14 16:01] evankroske opened #30362 "Documentation Request: Return value of module ec2"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2.py

##### ANSIBLE VERSION
v2.4

##### SUMMARY
There's no documentation for the return value of the ec2 module: http://docs.ansible.com/ansible/latest/ec2_module.html.

[2017-09-14 16:03] #30316 closed, assigned to nobody

[2017-09-14 16:07] ffrank commented on #16610
We've spotted improvements between Ansible `2.2.1` and `2.3`. Test playbook:
[code]

On 2.2 this yields `{# dont template me #}`.

On 2.3, as expected, `{{ dont template me }}`.

[2017-09-14 16:18] lmazuel commented on #30289
I don't get why this plugin would import containerservice if it's not using it :/. Anyway, yes containerservice is not part of azure 2.0. A azure 3.0 package is planned in October with a few change in the dependency system to make it more simple to use. For Ansible, the current installation scenario is `pip install ansible[azure]` that should installs everything you need.

[2017-09-14 16:22] caphrim007 commented on #19718
@tashafan are you using a version of python installed via Anaconda?

* https://docs.anaconda.com/anaconda/install/

I ask because of your executable path in `ansible --version`

/Users/username/anaconda/bin/ansible-playbook

[2017-09-14 16:24] fxfitz commented on #27349
Just ran into this. Would definitely be nice if we had one.

[2017-09-14 16:24] suhancz commented on #22542
I'm getting the following also on Ansible 2.3.2.0 with the following playbook:

[code]

Any idea what I'm doing wrong?

[2017-09-14 16:29] #27177 closed, assigned to nobody

[2017-09-14 16:36] bdlamprecht opened #30366 "Using the Jinja2 filter "| int" to convert a string to an integer in PB doesn't work."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible Filters (based off of Jinja2 "builtin filters")

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No configuration changes.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
According to the documentation found [here](http://docs.ansible.com/ansible/latest/playbooks_filters.html), Jinja2 "builtin" filters should work in playbooks as well as t

[2017-09-14 16:46] christ2016 opened #30367 "Ansible/Juniper QFX10K stuck in `re-using existing socket`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
source /root/ansible/hacking/env-setup silent

ansible.cfg
-------------
[defaults]
retry_files_enabled = False
library = /usr/share/ansible:/usr/local/lib/python2.7/dist-packages/napalm_ansible
host_key_checking = False
#log_path = /var/log/ansible.log
[privilege_escalation]
[pa

[2017-09-14 16:51] dav1x commented on #22542
@suhancz The only thing I can think is perhaps the uuid isn't correct or isn't locating the VM properly. I've never tested the UUID functionality. Can you try adding the folder path and using name and folder instead?

[2017-09-14 17:00] stepanstipl opened #30368 "ec2_vpc_subnet_facts fails with "You must specify a region." error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_subnet_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
AWS configured via AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY env variables.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using `ec2_vpc_subnet_facts` module, it will fail with "You must specify a region." error message.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED R

[2017-09-14 17:04] runout-at commented on #11905
same issue here and this is not what anybody would expect. i would call it a bug - not a feature.

[2017-09-14 17:17] Akasurde opened #30371 "Manage powerstate of vmware guest using new module"
Currently, vmware_guest manages powerstate of VMs. Logic of powerstate can be separated from `vmware_guest`  to a separate module.

##### ISSUE TYPE
 - Feature Idea

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Fedora 26 and ESXi 6.5

##### SUMMARY
Following issues can be resolved using a new module

- #22542

##### STEPS TO REPRODUCE
Try to set powerstate of

[2017-09-14 17:25] hiddenicon commented on #18974
Same issue...

[code]

[code]

[2017-09-14 17:26] thalesac opened #30373 "AWS ElastiCache elasticache_facts module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- AWS elasticache_facts module

##### SUMMARY
- Currently we don't have any way to query facts from AWS ElastiCache like we have for efs_facts, ec2_facts, etc.

[2017-09-14 17:31] jean-christophe-manciot commented on #18974
@gundalow @ganeshrn  @hiddenicon
It fails with ansible 2.4.0 RC3, but the symptom is different from [my previous post](https://github.com/ansible/ansible/issues/18974#issuecomment-316462207):, and the log is the same as hiddenicon's latest post:
[code]
With ```timeout = 300``` in /etc/ansible/ansible.cfg
With NX-OSv-9k 7.0(3)I6(1):
[code]

However, I am able to manually ssh into the same target fr

[2017-09-14 17:31] #28577 closed, assigned to nobody

[2017-09-14 17:33] joshmullis commented on #29749
Awesome!  Thanks for getting back so quickly on this guys!
I will confirm in my environment and report back today.

[2017-09-14 17:37] hiddenicon commented on #18974
I just tried the same playbook to the 9k, but I used ios_command instead of nxos_command. It goes right in just fine and works. I'm doing a "show vesion" as the command test.

Considering that I can SSH directly and running commands, paramiko runs just fine from a generic Python script, and it works using ios_command, it appears the issue lies somwhere in the nxos_command or nxos specific ansible

[2017-09-14 17:41] hiddenicon commented on #18974
@jean-christophe-manciot

If you create the following python script to use paramiko and run a command, do you get it to connect and run the command?

[code]

[2017-09-14 17:42] zhengy370 opened #30374 "Ansible 2.3.1.0 Yum install - nscd wont start"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ansible Server:
Red Hat Enterprise Linux Server release 7.4 (Maipo)

Managed Server:
Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

When install nscd using Ansible yum and even command module the nscd service does not seem to start. When

[2017-09-14 17:46] larsks commented on #22576
People experiencing this problem are probably running the `sssd` service.  The behavior described here is caused by `sssd` caching information about users.  You can reproduce this from the command line very simply:

[code]

In the above example, you can see both that (a) `userdel` fails to complete (it deletes the user, but not the group), and (b) `id` is still able to return information about the

[2017-09-14 17:50] mxlan opened #30375 "unarchive, incorrect value in verbose output for 'src' parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
unarchive module

##### ANSIBLE VERSION

[code]
This also affects 2.2.1.0, I did not go back any further, the example playbook will only work in 2.3 because it uses archive, replace that with a command call to tar -zcf to run in 2.2.1.0, and replace the lineinfile path parameter with 'dest' instead

##### CONFIGURATION
N/A no ansible.cfg

#####

[2017-09-14 18:17] rwaweber opened #30377 "docker_container sends exit signal on state: started"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]
##### SUMMARY

It appears like ^D(control-d) is sent to STDIN once the container has started.
Apologies in advance for all of the logstash stuff below, just the particular area where I ran into this issue.

##### STEPS TO REPRODUCE
As the control, I would recommend using the `docker.elastic.co/log

[2017-09-14 18:24] rwaweber commented on #30377
Ahhh, it looks like the interactive option is there specifically for this, sorry!

[2017-09-14 18:24] #30377 closed, assigned to nobody

[2017-09-14 18:27] hiddenicon commented on #18974
Looking at the code I did notice maybe a mismatch?

In plugins/cliconf/nxos.py the method for "get_device_info" is looking at the output of show version in json format. Not all of the fields the code is looking for exists from the output on my switch. Maybe this is failing to determine what exact OS this should be connecting to?

From the outputs below, you can see that 'sys_ver_str' and 'isan_fil

[2017-09-14 18:29] joshmullis commented on #28649
Am also seeing this with 2.4, but I am specifying the datastore name

[2017-09-14 18:29] joshmullis commented on #29749
Well it appears I'm now hitting another bug which was not present in 2.3.  :(
https://github.com/ansible/ansible/issues/28649

[2017-09-14 18:44] 4c74356b41 commented on #30289
its not this plugin. I've had the same error with azure_rm_deployment. so its somewhere in a shared module. @lmazuel

[2017-09-14 18:53] sivel commented on #30366
Unfortunately due to how jinja2 works, it technically only has the ability to return strings.  Any time you use jinja2 templating, the result comes out as a string.  So while `|int` is internally converting the value to an int, the final result from jinja2 is a string.

We have some type guessing capabilities, but that typically only works when there is no jinja2 pipeline in the templating, instea

[2017-09-14 18:55] bcoca commented on #30360
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-14 18:55] #30360 closed, assigned to nobody

[2017-09-14 18:58] markgoddard commented on #21188
I'm also seeing this, although I'm not using the log_driver or log_options arguments to create the container.

The task used to create the container is
[code]
The handler task used to restart the container is:
[code]
And it fails with the following output:
[code]
Docker daemon logs contain the following:
[code]
Adding an `image` argument to the restart handler allows it to successfully restart the

[2017-09-14 19:05] mikewiebe opened #30378 "nxos_snmp_community idempotence issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nxos_snmp_community

##### NXOS VERSION
All
##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
Problem can be demonstrated with the following playbook:

[code]

[code]

[2017-09-14 19:12] bdlamprecht commented on #30366
In [this](https://gist.github.com/bdlamprecht/9c937547f8f5dad6f92f0e91c29f30fc) GitHub Gist you can see what I'm referring to concerning how failing to cast a string to an integer causes problems when using an API.

---

# Explanation Of Files in Gist:

The `gen_invfacts.yml` is simply the PB that is run with `ansible-playbook`.

The `non_working_main.yml` is the `main.yml` file in the `tasks` of

[2017-09-14 19:15] hiddenicon commented on #18974
I am onto something here.

While looking at the network_cli.py module for connection, I did some output debugs directly into the code. I noticed our plays are failing when we are hitting the `self.receive()` section of the method ` def _connect(self):`

Doing more output debugs, my play is never completing the `if prompts and not handled:` or `if self._find_prompt(window):` sections inside of the

[2017-09-14 19:17] nitzmahone commented on #29662
Hrm, I'd searched before filing #30194 but didn't see this. Yeah, it's a legit issue: managed disks are in a different place in the storage profile and have to be deleted in a different way. Fix incoming, should be in place for 2.4.0rc4 this weekend. I also hit the extraneous requirement for `vm_size`- planning on nuking that too.

[2017-09-14 19:31] dgjustice commented on #30366
Try this:
[code]

[2017-09-14 19:42] bdlamprecht commented on #30366
@dgjustice did fix my problem.

However, but I still think it would be worthwhile to solve the issue in a future release of Ansible?
Perhaps v2.6 since v2.5 is already under development?

[2017-09-14 19:57] Akasurde commented on #30328
@Bluesboy Can you please try the patch and let me know if it works for you?

[2017-09-14 20:04] dgjustice commented on #30366
Per comments by @sivel , I believe this is "as-designed" behaviour.  It's not a bug (IMHO), it's simply a matter of using the tools in an appropriate manner.

[2017-09-14 20:06] Bluesboy commented on #30328
@Akasurde Thanks a lot! I'll try it ASAP.

[2017-09-14 20:37] hiddenicon opened #30383 "Underscores in Cisco Nexus hostname failing commands"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
plugins/terminal/nxos.py
plugins/terminal/ios.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Latest AWX build with ansible 2.3.1

##### SUMMARY
Using any of the nxos modules connecting to a Cisco Nexus device that has `"_"` underscores in its hostname fails. It appears that the `def receive` and `def _find_prompt` methods are failing

[2017-09-14 20:38] dmsimard opened #30385 "include_role task with 'static: no' adds an IncludeRole object inside the result._result callback dictionary"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Not relevant

##### SUMMARY
The ``include_role`` task, when used with ``static: no``, adds a ``IncludeRole`` object inside the ``result._result`` dictionary in callback hooks (such as ``v2_runner_on_ok``).
This is inconsistent as this key (which

[2017-09-14 20:39] hiddenicon commented on #18974
That was definitely it. I opened a new issue concerning ` "_"`  underscores in the hostname. The nxos and ios terminal files have different regexes to use for prompt checking. The ` "_" ` underscore should be added to the nxos regex.

For the time being, I've edited my plugins/terminal/nxos.py file to be the same regexes as the ios.py file in the same directory.

Reference new issue: #30383

[2017-09-14 20:56] jborean93 commented on #29540
I am unable to replicate this issue with the latest devel version or even Ansible 2.2. Going to close the issue as script works fine for me.

[2017-09-14 20:56] #29540 closed, assigned to nobody

[2017-09-14 20:56] #18748 closed, assigned to jimi-c

[2017-09-14 21:00] Illydth commented on #27960
I'll add my "me too" here as well.

Edit:  @SergeVL Can you elaborate on what your patch is actually doing?  The "recreate" identifier in your comment causes me some heartache.  If you are really just re-creating the container after it gets killed this does not meet my purpose.

In my use case we have some extremely small database containers with data directly baked into the filesystem (i.e. not u

[2017-09-14 21:02] jborean93 commented on #29101
I am going to close the issue as the wrong module was used in the example. `win_domain` creates a brand new domain and promotes the host to a domain controller. `win_domain_controller` only promotes a server to a DC in an existing domain.

[2017-09-14 21:02] #29101 closed, assigned to nobody

[2017-09-14 21:07] jborean93 commented on #27666
@marceloneil the error you are seeing with `win_command` is correct, it is trying to find the executable `echo` which doesn't exist. The module doesn't actually run like it would in `cmd.exe` but if you wanted to do that you would need to have

`- win_command: cmd.exe /c echo 'Hello, World!'`

The above example executable `cmd.exe` and runs the command `echo 'Hello, World!'` in that executable its

[2017-09-14 21:14] jborean93 commented on #27556
Ansible 2.3 changed the way powershell modules were executable on the server which would be why you see an issue on a newer version. Before here is what Ansible did

* Create a new temp folder
* Copy across the module including the module utils to that temp folder
* Execute the temp module at that path

Now this is what happens

* Execute a powershell script in memory that accepts an input
* Send

[2017-09-14 21:57] SergeVL commented on #27960
By I solve this by my patch, guys. Help yourself

[2017-09-14 22:24] mrdaemon commented on #27960
Any chance of having an upstream fix anytime soon? The logistics of manually patching every ansible control node or pinning the One Specific Version are a bit of a nightmare, so we just worked around it with `command`, but it is not Optimal.

[2017-09-14 22:43] hiddenicon commented on #30383
You can reference issue #18974 for the testing and results done for this underscore issue.

[2017-09-14 22:58] roumano commented on #26681
Trying to reproduce the issue on a terminal : (other OS/version ... )

[code]
###################################
[code]

So for me it's look a issue when it's use lot of quate / double quote  :   ( '"'" )  the ~ is not interpreted corrected (on some case?)

[2017-09-15 00:04] nitzmahone opened #30392 "azure_rm_virtualmachine doesn't delete auto-created NSG"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
When a NIC gets autocreated, azure_rm_virtualmachine automatically creates a Network Security Group object. That object does not get deleted when the VM is cleaned up like other auto-created resources do- it probably should.

#

[2017-09-15 00:09] nitzmahone opened #30393 "azure_rm_virtualmachine can't delete objects from another resource group"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
azure_rm_virtualmachine by default will try to delete attached NICs and public IPs- the deletion code assumes they live in the same resource group, but that's no longer always the case

##### STEPS TO REPRODUCE
Create a VM with

[2017-09-15 00:14] nitzmahone opened #30394 "azure_rm_virtualmachine should try to clean up auto-created objects on failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
If azure_rm_virtualmachine encounters an error:
* when creating a VM after some objects are created (eg, NIC, storage account, disk, blob, public IP)
* when deleting a VM after the VM is deleted but before/during the stage wher

[2017-09-15 00:19] kaivansanghvi opened #30395 "[parted] Fails to check disklabel(partition table) causing partition to be created and deleted alternatively"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parted

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ansible Server:
Ubuntu 14.04.1 LTS

Managed Server:
Ubuntu 14.04.3 LTS

##### SUMMARY
Parted fails to check for existing label(type of partition table) leading to "mklabel" happening every time and hence an inconsistent behavior

##### STEPS TO REPRODUCE
Runnin

[2017-09-15 00:26] sylvinus commented on #30075
@jctanner I'm having this issue with 2.3 as well so I don't think it's specific to 1.9

[2017-09-15 00:28] sylvinus commented on #29482
I'm having the same issue with 2.3

[2017-09-15 00:56] MPW1412 commented on #9260
Still doesn't work inansible 2.3.2.0. Can someone please fix this? @mpdehaan

[2017-09-15 01:11] MPW1412 opened #30397 "Hostvars of other hosts are not accessable in templates"
Hello,

this is intentionally a duplicate of the over-hastily closed #9260. Please reopen the issue and fix the bug, it's annoying. Workarounds are time-consuming.

Regards,
Matthias

[2017-09-15 01:52] jvkassi commented on #29185
@dLobatog can you possibly help on how to do this ?

[2017-09-15 03:21] bcoca commented on #10374
there is actually a workaround using `set_fact` since module options are evaluated, the variables are set to the evaluated value, so:
` -set_fact: myvar={{expression}}`
will create a 'static' myvar.

[2017-09-15 03:39] bcoca commented on #14556
closed via #28777  (actually sooner, but that documents the feature)

[2017-09-15 03:39] #14556 closed, assigned to nobody

[2017-09-15 03:43] bcoca commented on #15035
fixed via new toggle in 2.4, you can now control if inventory parsing is failure or warning:
env var ANSIBLE_INVENTORY_UNPARSED_FAILED or ini setting:

[code]

[2017-09-15 03:43] #15035 closed, assigned to nobody

[2017-09-15 03:45] bcoca commented on #15493
so in 2.4 var plugins have been reworked and can now use the 'loader' to open vaulted files, but the old interface of using the password itself is not available.

Closing this now, docs on migrating to and using the new vars plugins should be done soon.

[2017-09-15 03:45] #15493 closed, assigned to nobody

[2017-09-15 03:47] bcoca commented on #16363
closing as in 2.4 you have inventory plugins and ansible-inventory

[2017-09-15 03:47] #16363 closed, assigned to nobody

[2017-09-15 03:54] #30368 closed, assigned to nobody

[2017-09-15 03:55] bcoca commented on #19966
@jbscare we don't know if the task is skipped or not until AFTER choosing the host, the 'first host getting to the task' is taken as the one to run it, AFTER this we find out if the conditional is true or not, then we choose to skip the task or not. The host itself is not in a 'skipped' state, just the task.

[2017-09-15 03:59] bcoca commented on #19993
closing as this is solved in 2.4, the vars plugins now run 'on demand', it now runs at 'task time' vs inventory compilation, file reads are cached as long as you use the loader object to read them in. It deals with hostvars by lazyloading them and triggering vars plugins if needed.

[2017-09-15 03:59] #19993 closed, assigned to nobody

[2017-09-15 04:00] bcoca commented on #20744
closing as ansible-config is now part of 2.4

[2017-09-15 04:00] #20744 closed, assigned to nobody

[2017-09-15 04:01] #21079 closed, assigned to nobody

[2017-09-15 04:03] gsansom opened #30400 "ec2_asg rolling_update inadvertently scales down ASG"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
2.4

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using the replace_all_instances property of ec2_asg to perform a rolling update of instances, if the ASG currently has more instances than it's minimum (ie it has scaled up), the rolling update will terminate all but the minimum number (+1

[2017-09-15 04:06] bcoca commented on #23459
closing this as current versions handle this correctly and there are no plans to release any future 2.1  versions

[2017-09-15 04:06] #23459 closed, assigned to nobody

[2017-09-15 04:09] bcoca commented on #24207
fixed via #28111

[2017-09-15 04:09] #24207 closed, assigned to nobody

[2017-09-15 04:12] bcoca commented on #25710
fixed via #28401

[2017-09-15 04:12] #25710 closed, assigned to nobody

[2017-09-15 04:21] bcoca commented on #28590
I'm not sure there is anything left to clear up in this ticket:
 - fail_json DOES show warnings, so it works as expected with handled errors.
 - warnings are 'uniqued per run' this is a global behaviour and not likely to change
 - if a module does not return JSON (i.e has an unhandled exception/fatal error) ... we cannot know what warnings it had generated, so no warnings to display

So I'm going

[2017-09-15 04:21] #28590 closed, assigned to nobody

[2017-09-15 04:30] gsansom opened #30401 "ec2_asg rolling update with multiple Target Groups passes health check if only one of the Target Groups are healthy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg

##### ANSIBLE VERSION
2.4

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Performing a rolling update on an ASG associated with multiple Target Groups, ec2_asg determines the ASG is healthy when one or more of the Target Groups becomes healthy.

The rolling update should wait until all Target Groups are healthy befor

[2017-09-15 04:45] ganeshrn commented on #30367
@christ2016 This seems to be a socket connect timeout issue.
[code]
From 2.4 onwards `connect_retries` and `connect_interval` setting is replaced by single timer called `connect_retry_timeout `, more details can be found [here](https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg#L421)

Please remove `connect_retries` and `connect_interval` config setting and add
`connect_retry_timeo

[2017-09-15 04:48] ganeshrn commented on #30367
needs_info

[2017-09-15 05:28] willthames commented on #27854
I can't reproduce this.

I create the stack using `aws cloudformation create-stack`. I then run `cloudformation` module with the same json file without `create_changeset` and get no changes, as expected.

When I run with `create_changeset`, the task succeeds but the changeset has status failed, "FAILED - The submitted information didn't contain changes. Submit different information to create a cha

[2017-09-15 06:09] willthames commented on #29876
Tested this with latest Ansible, idempotency seems to now be working as expected.

[2017-09-15 06:09] #29876 closed, assigned to nobody

[2017-09-15 06:17] willthames commented on #30373
needs_contributor

I'm doing some more work with elasticache shortly so will see what I can do (I'll remove needs_contributor if I actually do it!)

[2017-09-15 06:27] davedastrange opened #30403 "net_l3_interface KeyError: 'ansible_facts'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

net_l3_interface
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

[code]
##### STEPS TO REPRODUCE

install ansible 2.5.0.0
task with net_l3_interface

[code]

##### EXPECTED RESULTS

interfaces getting ipv4 and ipv6 adresses

##### ACTUAL RESULTS

[code]

[2017-09-15 07:10] trishnaguha commented on #29496
@mamullen13316 Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:17] trishnaguha commented on #29807
Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:17] trishnaguha commented on #29794
Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:17] trishnaguha commented on #29792
Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:17] trishnaguha commented on #29784
Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:18] trishnaguha commented on #29775
Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:18] trishnaguha commented on #29707
Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:19] trishnaguha commented on #29567
Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:19] trishnaguha commented on #29522
Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:19] trishnaguha commented on #29518
Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:22] trishnaguha commented on #29473
Hi, can you please retest this on 2.4.0 RC3, we believe it should be fixed.

https://groups.google.com/forum/#!topic/ansible-devel/PjBtOkwbt5I

Thanks
needs_info

[2017-09-15 07:29] ewigkeit1204 opened #30405 "nmcli does not support 'primary' parameter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
nmcli does not support 'primary' parameter documented as usable.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Task is completed successfully.

##### ACTUAL RESULTS
Error occurs with a following message.

[code]

[2017-09-15 07:32] D3DeFi commented on #19810
Hi, does this still persists for you? As @dj-wasabi said, it is probably caused by your database setup and I was not able to replicate it. Can you close this issue if it's no longer present, please?

[2017-09-15 07:32] EndlessPancake opened #30406 "ios_command: fails when returns include "----------"."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2017-09-15 07:43] gerhard-tinned commented on #29693
Is there a plan on when this will be fixed?

[2017-09-15 07:52] riton commented on #23609
Hi, we're heavily using `include_role` at our site. Is there any known workaround for this `maximum recursion depth exceeded` ?

[2017-09-15 08:17] mavit commented on #30118
Re-testing against devel, this is no-longer an issue.

@ansibot: bug_resolved

[2017-09-15 08:42] DemonTPx commented on #30354
I'm getting the same error on a slightly different environment:

#### Ansible version
[code]

#### OS / environment
Local:
Linux mint 18.2

Remote:
Ubuntu 14.04
Python 3.4.3

#### Result

[code]

[2017-09-15 08:44] mkrizek commented on #30374
@zhengy370 can you also post what the `start-nscd` handler looks like and the part of the output of `journalctl -xe` that is related to the failure?

needs_info

[2017-09-15 09:00] Akasurde commented on #25353
Can someone close this as PR is merged ?

[2017-09-15 09:01] #25353 closed, assigned to nobody

[2017-09-15 09:09] Akasurde commented on #24672
@dagwieers Do you think we should close this issue as we are deprecating `vsphere_guest` module?

[2017-09-15 09:24] Akasurde commented on #24213
@KroArtem Are you still facing this problem ? If not we can close this issue.

needs_info

[2017-09-15 09:29] elaurijssens commented on #30394
Looks a lot like #28392 :)

[2017-09-15 09:30] dagwieers commented on #24672
@akasurde I have a different view on the deprecation of modules. In my opinion if people want to improve a module that's up for deprecation they should be able to do it. A lot of people are still using vsphere_guest (if you look at the sheer volume of issues reported) and it will be available until Ansible v2.9 at least (maybe longer).

An open issue does not do any harm (except may not give favor

[2017-09-15 09:34] benapetr opened #30411 "Ansible hangs forever while executing playbook with no information on what is going on"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When running ansible playbook for all servers (1964 servers) it hangs somewhere in middle of execution. I used -vvvvvvvvvv to trace the problem, but it doesn't print ANYTHING. The previous host finishes and the message about finish is l

[2017-09-15 09:36] mikalai-t opened #30412 "win_iis_website module failed without not an essential parameter 'physical_path'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_iis_website

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT
Ansible-master = Ubuntu 14.04
Inventory host = Windows Server 2016

##### SUMMARY

```win_iis_website``` module fails when only 'name' parameter is specified

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

```webSiteConfig``` variable cont

[2017-09-15 09:44] Akasurde commented on #24672
Make sense.

[2017-09-15 09:50] FlorianLiers commented on #29471
We have seen the same error message complainig about "localhost" does not match the name of our docker host. After updating the `requests` module with PIP to version 2.18.4 the error message looks like this:
[code]
After some debugging, it turned out that the docker module does not use the host name of `docker_host` as `tls_hostname`. [`tls_hostname` has `localhost` as default](http://docs.ansible

[2017-09-15 09:50] Akasurde commented on #24203
We can close this as PR is merged.

[2017-09-15 09:51] Akasurde commented on #24124
We can close this as PR is merged.

[2017-09-15 09:52] Akasurde commented on #23724
@arshantz Can you please check once again with latest 2.3 or 2.4 branch ?

needs_info

[2017-09-15 09:53] #24203 closed, assigned to nobody

[2017-09-15 09:54] #24124 closed, assigned to nobody

[2017-09-15 09:56] woshihaoren commented on #29020
@zabbixfan  You can use  https://github.com/ansible/ansible/pull/29001 the code temporary fix this problem

[2017-09-15 09:57] lberruti opened #30413 "lineinfile: concurrence issue with multiple delegation on same delegated host and same file"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
delegate_to / lineinfile

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

[code]
##### EXPECTED RESULTS
/tmp/test have one line for each host inside group "delegated"

##### ACTUAL RESULTS
/tmp/test file have an unpredicable number of lines
[code]

[2017-09-15 10:02] lberruti commented on #30205
See also #30413

[2017-09-15 10:16] hadrien-toma commented on #18985
Thanks for the feature @bcoca ! Maybe you (or someone else) know how to configure Ansible's controller to output the block name when executing the playbook? By default I can see task names but not the name of their block. Or maybe the only way is to use the Callback Plugin?

[2017-09-15 10:19] davidebelloni opened #30414 "Google Cloud DNS strange behaviour"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
GCP ansible modules

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[defaults]
display_skipped_hosts = False
retry_files_enabled = False
ansible_managed = Ansible managed: {file} on {host}
gathering = smart

[ssh_connection]
pipelining = True

##### OS / ENVIRONMENT

macOS Sierra

##### SUMMARY
I can't manage Google Cloud DNS Records in a pro

[2017-09-15 10:29] ganeshrn commented on #30331
resolved_by_pr https://github.com/ansible/ansible/pull/30332

[2017-09-15 10:30] #30331 closed, assigned to nobody

[2017-09-15 10:32] BhujayKumarBhatta commented on #19612
coded the change  and tested working fine .   Creating a  pull request  for merging with the upstream

[2017-09-15 10:42] jrandall commented on #29145
The fix for this issue has been merged into devel but wasn't included in the 2.4.0.0-0.3.rc3 release made 4 days later. I think it should be included as it fixes a bug that prevents the `os_image` module from working in many cases.

[2017-09-15 11:06] jbscare commented on #19966
Sure, that makes sense; so in that case, it seems like run_once shouldn't be applied until at least one host has gotten to the task and not skipped it. That is, rather than:

- first host hits the task
- due to run_once, no other hosts hit the task at all
- first host skips the task because it doesn't match the conditional

Instead do:

- first host hits the task
- first host skips the task becaus

[2017-09-15 11:08] jrandall commented on #10374
Another place where lazy template evaluation gets us into trouble (other than dependent roles) is when passing something like `hostvars` to a `json_query` filter. We've found that we can safely refer to facts from within the `json_query` but if we refer to variables (e.g. in something like `json_query('[*].variable_name')`) then we end up getting values that are the raw unevaluated template text.

[2017-09-15 11:12] Tomino2112 commented on #29501
We had same error `MalformedInput` after looking through ec2_asg.py and boto code we realized that `max_size`, `min_size` and `desired_capacity` params must be supplied..

Unfortunately after getting rid off all the errors `replace_all_instances` doesn't actually replace any instances

[2017-09-15 11:20] DanyC97 commented on #10374
@bcoca as you know (cause we discussed about it a lot over irc)  setting a variable with `set_fact` works but does get you some trouble when you have multiple roles relying on same variable name (you could end up with the previous role's value).

And as you know in `2.3.x` you can't 'unset' a `set_fact` variable and so you end up in a catch `22`.

With this feature implemented you do open up the d

[2017-09-15 11:39] ephemeralsnow commented on #23287
I also encountered the same problem.
I did try and error, but eventually I solved it with this procedure.

`ssh-add -D`
https://www.packer.io/docs/provisioners/ansible.html#too-many-ssh-keys

[2017-09-15 11:41] davidebelloni commented on #30414
It's seems that DNS APIs must be enabled in both projects, the one with record DNS and the one where resides the service accounts

[2017-09-15 11:48] KroArtem commented on #24213
@Akasurde, nope, I'm not working with Ansible or esxi anymore but I still think there was a need to use specific version of pyvmomi. AFAIR I ended up using version 6.5

[2017-09-15 11:51] eohtake commented on #19584
@Hai-minhD Your solution worked for me, thanks. I was testing on hosts where I had the root user as the same user I was using in the control machine. In this specific host where I was getting the failure reported above, I have a different user. Solved adding the host with this username in it in the Ansible hosts file: username@host.

[2017-09-15 12:07] silid commented on #24647
Hi @Akasurde  Yes - that seems to work.
I would suggest that the host_system field should follow the convention in the vmware_guest module and use esxi_hostname.

Thanks.

[2017-09-15 12:24] zhengy370 commented on #30374
@mkrizek Here is the start-nscd:

`- name: start-nscd
  systemd:
    name: nscd
    state: started
    enabled: yes
`

Here is the results of the journalctl -xe

`-- Subject: Unit nscd.service has failed
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Unit nscd.service has failed.
--
-- The result is failed.
Sep 15 08:23:30 localhost.localdomain

[2017-09-15 12:34] mainjoehere commented on #29043
Here is the output
[out.txt](https://github.com/ansible/ansible/files/1306334/out.txt)

[2017-09-15 12:40] nlamirault opened #30418 "Can't connect using ssh"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ping

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I've got 2 RaspberryPI with same OS (HypriotOS, a Raspbian).
I can connect on the 2 host from the master (ssh keys are exported using ssh-copy-id) :

[code]

But i can't use ansible ping with this inventory file :

[code]

##### STEPS TO REPRODUCE
[

[2017-09-15 12:40] ccnifo commented on #23609
Same issue encountered with Ansible 2.3.1 and 2.3.2.

[2017-09-15 12:50] dafstone commented on #29087
I also have found this to be the case when using the modify condition, in my case this is for rescaling or other changes (such as updating security groups).

ansible 2.3.2.0
  python version = 2.7.13

[2017-09-15 12:50] mbutton77 opened #30420 "Unarchive module does not handle archive with symbolic links without any updated files at the same level"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 17.04

##### SUMMARY

First, please note that I searched for an existing problem with filters "is:issue is:open symbolic unarchive"  and "is:issue symbolic unarchive" and didnt't find anything matching my problem.

When I use the unarchive module to d

[2017-09-15 14:19] gundalow opened #30423 "Docs for module interface"
##### ISSUE TYPE
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
docs.ansible.com

##### ANSIBLE VERSION
2.5.0

##### SUMMARY

It's often difficult for module developers to layout a module's interface in an "Ansible manor", having some guidance and solid examples of do/don't

Recent examples
 * Infoblox https://github.com/ansible/ansible/pull/28055/files

[2017-09-15 14:45] #30378 closed, assigned to nobody

[2017-09-15 14:49] jean-christophe-manciot commented on #26146
@skylerbunny @tvannahl @nklmilojevic @gundalow
Removing all ed25519 keys from my gpg-agent:
[code]

**Exact same issue** when running the same playbook as the original post on the same host **without ed25519 keys in the gpg-agent** towards the same target with:
- ```ansible 2.4.0.0 RC3 (detached HEAD 6771ade86a) last updated 2017/09/15 16:31:42 (GMT +200)```
- ```paramiko 2.2.1```
- ```IOS-XEv 16.

[2017-09-15 14:49] #26146 closed, assigned to gundalow

[2017-09-15 14:50] #24997 closed, assigned to nobody

[2017-09-15 14:51] jctanner commented on #29043
According to the fuzzer tests, these are the valid inputs to findbyinventorypath ...

[code]

That implies the bug here is that "Datencenter" should not be put in the search path we use to find the folder. I'll try to write up a patch.

[2017-09-15 14:58] danielmotaleite opened #30425 "Documentation: Add warnings about using facts based hostvars['hostname']"
##### ISSUE TYPE
Documenation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
N/A

##### SUMMARY
So as we see in bug #9260 , hostvars is tricky to use and have several pitfalls. So even if this may not be a bug, is very badly documented and having people reporting the same problem several times in the last 3 years shows that.

Documentation should warn that `hostvars['hostname']` may not

[2017-09-15 15:00] bobobox opened #30426 "xml module: There should be an idempotent way to maintain multiple elements with the same tag name"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
xml

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
lxml version 3.8.0

##### OS / ENVIRONMENT
Mac OS X
Ubuntu 16.04

##### SUMMARY
The xml module makes maintaining components of an xml file idempotently rather difficult in some situations, especially when it comes to not changing the file unnecessarily (which is important as handlers are o

[2017-09-15 15:03] danielmotaleite commented on #9260
People having problems with hostvars, please check the above documentation ticket, specially the
https://docs.ansible.com/ansible/latest/playbooks_variables.html#fact-caching , as it should solve most problems.

Notice that this documentation is when `hostvars` is requesting a `hostname` that do not belong to the current server group. If your `hostname` do exists in the current server group **and*

[2017-09-15 15:04] bcoca commented on #30425
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

First, hostvars are always accessible for hosts in the same inventory, limit or not, not everything in hostvars is a gatherd fact.

Wha

[2017-09-15 15:05] bcoca commented on #30397
dupe of #30425

[2017-09-15 15:05] #30397 closed, assigned to nobody

[2017-09-15 15:13] szynaka commented on #24633
Also we just noticed that even outside of --check mode if a file is changed or not affects whether the path attribute is listed in the registered var

Here's a reduced version of @nrwahl2's output showing an unchanged result then a changed result
[code]

[2017-09-15 15:14] gundalow commented on #29807
This bug was originally raised on `2.0` therefore not a blocker for 2.4.0

[2017-09-15 15:21] gundalow commented on #28858
http://docs.ansible.com/ansible/latest/intro_installation.html#running-from-source

[2017-09-15 15:21] calfonso commented on #28479
Hi!

We believe recent commits should resolve this question or problem for you.

This will also be included in the next major release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, an

[2017-09-15 15:21] #28479 closed, assigned to nobody

[2017-09-15 15:22] gundalow commented on #28415
needs_info

[2017-09-15 15:23] dan-osms commented on #29102
Should a new merge within RC2 take effect and you need me to retest please let me know.

[2017-09-15 16:16] danielmotaleite commented on #30425
@bcoca

Fine, do a s/hostvars/fact based hostvars/ in my post and everything will still apply. Sorry about the bad wording describing the hostvars problem.

EXACTLY! you know that but users do not, that is why it needs to be documented!

The documentation is not clear about this, does not refer that hostvars is using facts only from the current server group, users are left to guess. Experienced us

[2017-09-15 16:17] dagwieers commented on #28590
@bcoca There is an opportunity to fix the warning on raised exceptions when we implement module stream (output) support, something useful for Windows as well. Warnings could be exchanged in real-time between module and Ansible and raised before the module exits.

Currently warnings also do not indicate which target raised them. That's another problem IMO.

[2017-09-15 16:19] coolcps commented on #28415
Just retested on 2.4.0 and 2.5.0.  Not seeing the same error as before, I believe the issue with running ios_facts or command as the first thing in the playbook is fixed.

What I am seeing now on these high latency links is that the playbook will fail on the first attempt, but if I reattempt within 30 seconds (while the persistent connection is alive, then the playbook will complete.  There is a s

[2017-09-15 16:19] gundalow commented on #26146
Hi,
Do you think there is anything useful we can add to https://docs.ansible.com/ansible/network_debug_troubleshooting.html

If you have some suggested wording & example error messages I can update that page to help anyone that may trip over this in the future.

[2017-09-15 16:24] suhancz commented on #22542
I finally figured out powering machines on and off, but via the vsphere_guest module:
[code]

[2017-09-15 16:26] jean-christophe-manciot commented on #18974
Changing my underscores by '-' in my hostname has no influence on this issue.

However, I have just discovered **some undocumented API changes**: the following parameters have been silently **removed**:
- **auth_pass**
- **version**

If I remove them from my provider structure, the playbook passes:
[code]

[2017-09-15 16:26] #18974 closed, assigned to ganeshrn

[2017-09-15 16:28] Qalthos commented on #30403
The quick answer is that you need to assign the var `ansible_netowork_os: [eos|ios|iosxr|etc]` to your hosts in order to use the platform agnostic modules. This is unfortunately neither documented anywhere nor reported in the error. A fix to clarify the error message should be in soon (though maybe not soon enough for 2.4.0).

[2017-09-15 16:34] coolcps commented on #27793
Yes, this is able to be resolved by clearing the persistent connection.  I don't know if you want to pursue any fix towards ensuring the connection doesn't get stuck though.  You can make this happen by Ctrl+Z during a playbook, then the persistent connection will not be flushed and any subsequent attempts to that device will fail until manually cleared.  Just tested on the dev version.

[2017-09-15 16:37] jhawkesworth commented on #25475
@philicious At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 16:38] jhawkesworth commented on #25265
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 16:38] jhawkesworth commented on #20032
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 16:39] jhawkesworth commented on #20625
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 16:52] caveman-dick commented on #20032
@jhawkesworth Unfortuantely I will be on my honeymoon so won't be able to attend. If you want to add any questions that arise here I will try and answer asap. Sorry I was hoping to get this into a PR much earlier than this. Two young boys and a wedding have got in the way!! :)

[2017-09-15 16:53] jean-christophe-manciot commented on #26146
@gundalow

No, but I do have a **suggestion for all ansible developers when changing any API** so that one or several **parameters are removed** from the list: **document the changes in the official module documentation** and always provide some insight about the change when the troubleshooting option is chosen by the user (-vvv for instance).
I hope you can spread the word.

I've experienced anot

[2017-09-15 16:53] bcoca commented on #28590
@dagwieers yes, but that depends on the `update_json` .. which would take care of all of that, no need to have this separate ticket to deal with it.

[2017-09-15 16:58] bcoca commented on #30425
I'm sorry .. I might be missing something here, not sure how to document "don't expect variables that you have not defined .. to be defined??"

As for the warning, it seems I was unclear on why it is not feasible, to implement it,  the warning would need to KNOW what is a fact, what is not a fact .. which it CANNOT unless the fact exists ... which then would not trigger the warning because the fac

[2017-09-15 16:58] jean-christophe-manciot commented on #29567
@trishnaguha
It passes on the latest ansible:
[code]

[2017-09-15 17:02] bcoca commented on #30418
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-09-15 17:02] #30418 closed, assigned to nobody

[2017-09-15 17:03] jean-christophe-manciot commented on #29707
This issue has been wrongly reopened by the ansibot as shown here: https://github.com/ansible/ansible/issues/29707#ref-issue-171896622
The real one is already closed.

[2017-09-15 17:05] bcoca commented on #10374
@DanyC97 I just gave the option for those that cannot wait for an implementation, ticket is still open

[2017-09-15 17:08] bcoca commented on #19966
At that point I would make it a different feature, there are playbooks that do rely on current behaviour.
I think there are diff ways to do this.  "run_at_least_once/first success/first match" options and a 'null host' option, the latter makes sense if no 'host var based conditional' is present, but then .. we would not have a 'skipping issue' anyways.

[2017-09-15 17:08] jhawkesworth commented on #24098
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 17:08] jhawkesworth commented on #20505
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 17:09] jhawkesworth commented on #24884
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 17:09] jhawkesworth commented on #20369
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 17:09] jhawkesworth commented on #29072
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 17:09] jhawkesworth commented on #27155
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 17:09] jhawkesworth commented on #26385
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 17:10] jhawkesworth commented on #23863
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 17:10] jhawkesworth commented on #22660
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 17:10] jhawkesworth commented on #22272
At 19:00 UTC on Tuesday 19 September 2017 this ticket will be processed during the second Windows Sprint,
https://github.com/ansible/community/wiki/Windows:-sprints
we would appreciate if you could join the Sprint to help out with understanding/fixing/closing this issue.

[2017-09-15 17:26] dsummersl commented on #30205
This is the mutex feature ticket now: https://github.com/ansible/ansible/issues/29962

[2017-09-15 17:52] coolcps opened #30430 "Request: network_cli.py make an attempt to get output once shell is opened"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

network_cli.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

10.12.6 (16G29)
##### SUMMARY

Can refer to #26628 for some more background on what I am trying to do.  I know in that thread it was said console connectivity will not be pursued, but just looking for some ideas on how to solve my issue.  The Cisco ter

[2017-09-15 17:54] Axelay-Prime opened #30431 "Conditional Logic Causes Module Failure: $name.ToLower is not valid for INT data type"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_regedit.ps1

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
From RHEL7 to Win2k12

##### SUMMARY
If a registry change has value specified as an INT (not surrounded in quotes) the testing logic in the module causes the module to fail when it attempts to use the 'ToLower' method, so it seems that method isn't valid

[2017-09-15 18:01] Qalthos commented on #30403
There is now an error message when ansible_network_os is not specified when it is needed, will get picked to 2.4

[2017-09-15 18:04] dharmabumstead commented on #30425
Reopening this for further investigation.

[2017-09-15 18:21] #27499 closed, assigned to nobody

[2017-09-15 18:21] wmosher commented on #30040
My apologies, this is working as expected in 2.2.  Confirmed there and in 2.3.  Thanks!

[2017-09-15 19:07] phynias commented on #26681
i'm getting something similar but with the copy task.

  copy:
    src: sensu.logrotate
    dest: /etc/logrotate.d/sensu
    owner: root
    group: root
  tags:
    - sensu
    - sensu-configs

task path: /opt/ansible-edge/roles/sensu/tasks/main.yml:194
Using module file /usr/local/lib/python2.7/dist-packages/ansible/modules/files/stat.py
<127.0.0.1> ESTABLISH LOCAL CONNECTION FOR USER: root
<127.

[2017-09-15 19:20] LuckySB opened #30438 "Failure using method (v2_playbook_on_stats) in callback plugin"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
callback_plugins        = plugins
stdout_callback         = actionable

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg
[code]

##### OS / ENVIRONMENT
Centos7

##### SUMMARY
Show warnings in log when logged only changebale tasks:

[code]
[code]

my previos build ansible on 15.08.2017 with version
ansible-2.4.0-100.git201708150932.e

[2017-09-15 19:26] bcoca commented on #30438
fixed via #30427

[2017-09-15 19:26] #30438 closed, assigned to nobody

[2017-09-15 19:39] bcoca commented on #25160
fixed in several commits, reinstated the option and used the facility described above to emit a deprecation message IF set.

[2017-09-15 19:39] #25160 closed, assigned to nobody

[2017-09-15 19:44] rahushen opened #30439 "nxos_igmp_snooping is not idempotent for non-default values on D1 image on N7K."
nxos_igmp_snooping is not idempotent for non-default values on D1 image on N7K.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_igmp_snooping

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The above playbook to be idempotent across all platforms and releases

##### ACTUAL RESULTS

The playbook is not i

[2017-09-15 19:57] coolcps commented on #30430
Actually, the "hack" with the newline seems to be working fine in 2.5.0, whereas in 2.4.0 the newline made any connection attempts result in errors.  Would still like to see if there is someway to support this functionality in future releases, rather than editing the network_cli.py module for myself and team.  I've also opened a ticket with Cisco TAC to research if there is anyway to get around th

[2017-09-15 20:06] LuckySB opened #30441 "playbook with include_tasks: earn all memory and dramaticaly slowly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_tasks:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Centos7

##### SUMMARY
Try to change all include: in my playbook to include_tasks:
77 include: changed to include_tasks:

and i get very very slowed playbook
playbook with include: runned 6 min
playbook with include_tasks: runned 28 min, and earn all

[2017-09-15 20:11] phynias commented on #28594
got it working by adding an ansible.cfg to my repo with just
seems to not like the ~/.ansible

[code]

[2017-09-15 20:21] LuckySB commented on #30441
I looked through the logs and saw that all the tasks in the include_tasks: are run as many times as the servers in the inventory linkedto: https://github.com/ansible/ansible/issues/26585

[2017-09-15 20:49] jbilligmeier opened #30442 "win_file deletes folders in --check mode"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

win_file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL

##### SUMMARY

##### STEPS TO REPRODUCE

1. Create a playbook that contains a reference to a folder that should be deleted
2. Run the playbook with --check (the folder should NOT be deleted in this mode)
3. The folder is deleted

[code]
$ ansible-playboo

[2017-09-15 21:47] alv000h commented on #24302
now is fixed.

all fine in the web documentación.

[2017-09-15 21:47] #24302 closed, assigned to nobody

[2017-09-15 22:01] tony-caffe opened #30445 "adduser/addgroup commands to core user module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
User Module, Ansible core module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Ad-hoc commands using user module

##### OS / ENVIRONMENT

##### SUMMARY
When trying to manage users in Alpine Linux, specifically but can affect other flavors, the user module defaults only to useradd and groupadd commands. These Systems do not have those comm

[2017-09-15 22:19] roumano commented on #26681
For me, it's confirm the bug with too many quotes / double quotes with the special caractere ~

Somewhere on the code, it's overprotecting variable and result to have something like
[code]
On a terminal, it's easy to reproduce the bug :
[code]

Maybe a workarround is to change the default configuration ( local_tmp = ~/.ansible/tmp ) to a hardcoded path (but it's bad case for user directory ... )

[2017-09-15 22:23] phynias commented on #26681
got it working by adding an ansible.cfg to my repo with just
seems to not like the ~/.ansible

[code]

not a fix but a workaround at least for some.

[2017-09-15 22:23] paulcalabro opened #30447 "include_tasks + with_items = Deprecation Message"
ISSUE TYPE:  Bug Report

COMPONENT NAME: include_tasks, with items

ANSIBLE VERSION: 2.5.0

CONFIGURATION: I can provide this if needed

OS / ENVIRONMENT: OSX 10.12.6

SUMMARY: A deprecation message is shown regarding the usage of with_items when using include_tasks.

From http://docs.ansible.com/ansible/devel/playbooks_reuse.html:

[code]

STEPS TO REPRODUCE:

`ansible-playbook -i production-serv

[2017-09-15 22:30] caphrim007 commented on #19718
@tashafan can you run the ansible playbook you're interested in with the -vvvv argument and paste it's output?

Also, can you send me the output of `which python`

[2017-09-15 22:38] roumano commented on #26681
yes but i also use ansible why my credential with sudo and as my home director differ per server, use a hardcoded path is not very good .

[2017-09-16 03:26] danielmotaleite commented on #30425
@bcoca  Please notice that i'm not talking about the code, i'm talking about adding the warning in **the documentation**. The code is fine!

the documentation, in the https://docs.ansible.com/ansible/latest/playbooks_variables.html#magic-variables-and-how-to-access-information-about-other-hosts , one should point that part of the hostvars come from different remote server facts.
As this only show

[2017-09-16 03:55] #28859 closed, assigned to nobody

[2017-09-16 03:55] #29662 closed, assigned to nobody

[2017-09-16 03:55] #30193 closed, assigned to nitzmahone

[2017-09-16 03:55] #30194 closed, assigned to nitzmahone

[2017-09-16 07:21] naisanza commented on #19488
By now, Proxmox is on version 5.0-31

[2017-09-16 07:52] davedastrange commented on #30403
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ImportError: No module named etc
fatal: [os-node4]: FAILED! => {"failed": true, "msg": "Unexpected failure during module execution.", "stdout": ""}

[2017-09-16 08:02] gundalow commented on #30403
Hi,
Can you please test on `stable-2.4` and include:

1) The the output of `ansible --version`
2) Run in verbose mode `ansible-playbook -vvv  ... `
3) Include the inventory file

[2017-09-16 08:06] gundalow commented on #30403
Ah, just set `ansible_network_os` to a single value.

For example if you are configuring Junos switches:
`ansible_network_os=junos`

[2017-09-16 09:01] simbalion opened #30454 "ANSIBLE_CONFIG variable is being ignored"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Debian 9

##### SUMMARY
Ansible appears to be ignoring the $ANSIBLE_CONFIG environment variable. Also I tried symlinking my desired config to ~/.ansible.cfg and that was also ignored.

##### STEPS TO REPRODUCE
Installed using the 'install from source' method, did 'sudo make install' at th

[2017-09-16 10:23] aleskiontherun opened #30455 "Workspace argument support in docker_container module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### SUMMARY

It would be great to have `workspace` option in `docker_container` module. For example we use `docker run` command instead of `docker_container` module to build some of our nodejs apps in a node container:
[code]
I know I could use something like `sh -c 'cd /app && npm run deplo

[2017-09-16 10:37] MPW1412 commented on #9260
I didn't notice, that I was accessing hostvars from another group. Preloading those facts with

[code]
as first lines in my yml worked! Thanks for all the tips!

[2017-09-16 10:38] MPW1412 commented on #30397
I didn't notice, that I was accessing hostvars from another group. Preloading those facts with

[code]
as first lines in my yml worked! Thanks for all the tips!

[2017-09-16 10:39] MPW1412 commented on #30425
https://github.com/ansible/ansible/issues/30397#issuecomment-329960656

[2017-09-16 11:42] andreaso commented on #26419
Appear to be the result of these code paths.

https://github.com/ansible/ansible/blob/785e604c57573ff587ca306182969c133af56152/lib/ansible/modules/files/file.py#L138-L152
https://github.com/ansible/ansible/blob/785e604c57573ff587ca306182969c133af56152/lib/ansible/modules/files/file.py#L221-L231
https://github.com/ansible/ansible/blob/785e604c57573ff587ca306182969c133af56152/lib/ansible/modules/fil

[2017-09-16 11:47] ThomasSteinbach commented on #30455
bot_broken - please remove me from the maintainers list. I don't know where how to leafe it by myself. Also wrote a couple of messages a couple of times to @bcoca

[2017-09-16 13:53] ronator commented on #29640
I will try to come back to this upcoming week. Thanks for all your effort.

[2017-09-16 14:45] ronator commented on #26521
Hi @mgwilliams,

I am not a coder so please excuse my lack of python knowledge and poor choice of words plus my speculations. Nonetheless, this issue seems fixable to me. It seems to exist from at least ansible 2.1 until now. The problematic lines I posted when apt.py 'crashes' in ansible 2.1 seem to be the close to the ones upstream where "autoremove" is used/initialized.

When I looked for "auto