[2016-04-29 04:48] jyrkiput commented on #13818
I created a simple playbook to test different options: https://github.com/jyrkiput/ansible-role-include-task

There's two tasks (https://github.com/jyrkiput/ansible-role-include-task/blob/master/roles/role/tasks/copy.yml):

[code]

There's also tasks using {{role_path}} (https://github.com/jyrkiput/ansible-role-include-task/blob/master/roles/role/tasks/copy_with_role_path.yml)

[code]

Including t

[2016-04-29 05:05] ozbillwang opened #15661 "No need the output for ok, skipping tasks."
##### ISSUE TYPE

- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

any setting
##### OS / ENVIRONMENT

any
##### SUMMARY

We have long list tasks to deploy an instance, the ansible-playbook output has too many logs mix with  ok and skipping tasks.

Can we have an option to disable these messages? I only need the output for changed, error, or warning, etc.
##### STEPS TO REPRODUCE

[2016-04-29 05:51] xox2 commented on #15575
`default` filter can be applied to undefined variables only.

I think hard to implement to fix it. because maybe the return value of `lookup('env', ...)` is **not meaning of undefined variables**.

the following is an alternative implementation:

[code]

set `true` as second parameter of `default` filter: `default(..., true)`
- See: [Template Designer Documentation — Jinja2 Documentation (2.8-dev)

[2016-04-29 06:02] xox2 commented on #15661
`actionable` callback is no good?

#15622:

[2016-04-29 06:08] ozbillwang commented on #15661
Thanks, @toromoti

From its document: http://docs.ansible.com/ansible/developing_plugins.html#examples

https://github.com/ansible/ansible/tree/devel/lib/ansible/plugins/callback

I didn't see any samples on how to use this plugin. Can you show me some samples? Thanks.

[2016-04-29 06:18] xox2 commented on #15660
Probably, it has been fixed in v2.0.2.
- https://github.com/ansible/ansible/blob/v2.0.2.0-1/lib/ansible/parsing/dataloader.py#L148-L152
- [fix issues with older yaml lib versions · ansible/ansible@df1ee5a](https://github.com/ansible/ansible/commit/df1ee5a15bc4c085a061bc893786800c46117627)

[2016-04-29 06:30] xox2 commented on #15661
sorry, I also have never used it....

but, maybe, you can use it in `ansible.cfg`:

[code]

http://docs.ansible.com/ansible/intro_configuration.html#stdout-callback

[2016-04-29 07:44] domdom82 commented on #15575
That worked thanks!

[2016-04-29 07:44] #15575 closed, assigned to nobody

[2016-04-29 08:16] robinro commented on #14501
@jminardi parallel runs are something that one might be able to do in ansible in general (as a strategy?), but this is unrelated to the git module and should not be discussed/implemented here.
If we fix the problem @janek-warchol presented in the git module this would already help a lot.

[2016-04-29 09:03] wouteroostervld commented on #1341
Why not just build a real parser?

[2016-04-29 09:04] tse-tamir commented on #15644
Thanks! It works!

[2016-04-29 09:04] #15644 closed, assigned to nobody

[2016-04-29 09:13] xox2 commented on #15505
this bug have been fixed in `stable-2.0` now.

[code]

[2016-04-29 09:53] ralphct opened #15664 "Forced Fact Gathering to Refresh Cached Facts Not Working"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

gathering = smart
fact_caching = redis
fact_caching_timeout = 86400
##### OS / ENVIRONMENT

Centos 6/7
##### SUMMARY

We use 'smart' fact gathering and caching in Redis. This works fine. We additionally have a cron job that performs fact gathering (with a small 'forks' value) every 15 minute

[2016-04-29 10:59] dmikurube commented on #14722
Let me report that this is happening with "copy" in 2.0.2.0, the latest in pypi. Downgrading to 2.0.1.0 worked around against this.

[2016-04-29 11:00] berlic commented on #13818
I've spent some time investigating this issue.

First of all, how `include` work (as I understand it from source code):
You have a playbook – a list of tasks.
Let's assume our playbook has single play A with several tasks, one of which includes play B with some other tasks.
After you start `ansible-playbook`, ansible iterates trough tasks in play A one by one.
When there is an `include` task in th

[2016-04-29 11:20] ChesterFie1d commented on #15524
+1

[2016-04-29 11:41] dmikurube commented on #14722
Ah, sorry, this was caused by another Ansible installation out of pip,but by apt.

[2016-04-29 12:02] alform commented on #15622
@bcoca Cool advice - I was not aware of callbacks. Those drive me against a further stumbling block: how does one configure callback parameters? (longer form, same question here: http://stackoverflow.com/questions/36937366/how-ansible-callbacks-are-configured)

Edit: if the mail callback and the base class for callbacks are anything to go by, there appears to be NO standard configuration mechanism

[2016-04-29 12:16] jochem opened #15665 "Backwards incompatible change in paramiko breaking install"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
lib/ansible/connection/paramiko_ssh.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
A backwards incompatible change was introduced with the release of paramiko 2, see http://www.paramiko.org/changelog.html
Since paramiko now uses the cryptography library, systems that don't have the requirements for that

[2016-04-29 12:50] mondherGL commented on #5725
Hi there,

i want to use variables from the remote host i tried to save for example the variable JAVA_HOME existing in the remote host in a file , but the file is empty .
ansible can't find this variable .
is there any configuration , module ... to use to manipulate the environments variables of the remote host ?

---
- name: java home
  shell: chdir=/home  echo $JAVA_HOME > TEST.txt

the value of

[2016-04-29 13:18] jimi-c commented on #15623
@rudimeyer the above patch resolves the issue for me (as well as fixing at least one other issue I found during testing). If you could also do some testing with any real-world playbooks you might have I'd appreciate it.

[2016-04-29 14:07] preethi29 commented on #15660
I get the same error with v 2.0.1. python-yaml version installed is 3.0.9.

[2016-04-29 14:08] abadger commented on #5725
Hi, that's a usage question rather than a bug report.  Please use the
mailing list mentioned above or  irc, #ansible  on irc.freenode.net, to get
help for your question.   Thanks.

[2016-04-29 14:10] bcoca commented on #15660
already fixed via cc3cb0f65e4904775ca4e3eb277a606943e78887

[2016-04-29 14:12] preethi29 commented on #15660
Is it fixed in 2.0.1?

[2016-04-29 14:13] 1adam opened #15666 "'when: <...> is defined' ignored"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Normal
##### OS / ENVIRONMENT

Ubuntu 14.04.4 LTS
##### SUMMARY

Using "when: (var) is defined" as a task ignores the "is defined" part, and instead skips the play as a "WILL BE DEPRECATED" error instead of skipping because the var is undefined.
##### STEPS TO REPRODUCE

Example playbook:

[code]

... with accompanyin

[2016-04-29 14:13] hyperized commented on #15602
We did some tweaking on the ansible config file and we got the memory usage to drop, the drop could be attributed to two things: we used explicit facts gathering (now smart) and the facts cache timeout was set to a high level. We use Redis for facts caching.

[2016-04-29 14:15] bcoca commented on #15660
no,  but it seems that the fix is included in subsequent releases

[2016-04-29 14:17] bcoca commented on #15660
closing as this has already been fixed

[2016-04-29 14:17] #15660 closed, assigned to nobody

[2016-04-29 14:18] bcoca commented on #15661
closing as 'done'

[2016-04-29 14:18] #15661 closed, assigned to nobody

[2016-04-29 14:22] sivel commented on #15666
This is the expected behavior, as mentioned in the `DEPRECATION WARNING`.  `when` is evaluated for each iteration of the loop, not before the loop.

The appropriate solution is to use the `|default` filter on your variable in `with_items` and remove the `when` statement such as:

[code]

If you have further questions please stop by IRC or the mailing list:
- IRC: #ansible on irc.freenode.net
- mai

[2016-04-29 14:22] #15666 closed, assigned to nobody

[2016-04-29 14:33] jimi-c commented on #15602
@hyperized ok, I was looking at the graph and it definitely didn't seem as bad as it first makes the data look. Towards the end, the utilization is 1.5G vs.~1G during other run times. If you're comfortable with the new config settings dropping memory utilization (as it seems external to Ansible itself) we can close this issue.

[2016-04-29 14:43] jctanner commented on #15658
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off into two repos, http://github.

[2016-04-29 14:43] #15658 closed, assigned to nobody

[2016-04-29 14:59] 1adam commented on #15666
Thanks for the solution using filters, sivel.  This is still confusing, though.

In this particular case, `when` is indeed evaluated with each iteration and not before the loop -- we can see, in the output provided, that `testrole_var` is evaluated on each iteration from the multiple errors (one per host where var is undef) stating that it's not defined.

Given that we can see it's evaluating `tes

[2016-04-29 15:03] hyperized commented on #15602
I'm comfortable with this :). Could I ask though that a little more focus is given on memory profiling in next releases? It has been going up in usage over time and I would hate to see Ansible becoming bloated in memory usage.

[2016-04-29 15:03] #15602 closed, assigned to nobody

[2016-04-29 15:10] jeremyeder commented on #14427
ansible cannot handle fedora 24 cloud images because of a few missing packages:

[code]

[2016-04-29 15:25] courtlandj commented on #15665
I was able to workaround this by installing the old version of paramiko first. The one I tried & worked for me, was:
`pip install paramiko==1.16.0`

[2016-04-29 15:32] jessegit opened #15667 "--ask-pass reverts to paramiko without checking for sshpass or notice of reason."
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

nothing
##### OS / ENVIRONMENT

OSX 10.9.5 (probably all *nix), remote not relevant
##### SUMMARY

--ask-pass reverts to paramiko without checking for sshpass and/ornotice of the reason. See #10803 for other reports due to the confusion.
##### STEPS TO REPRODUCE

setup:
paramiko doesn't know the remote host key, syst

[2016-04-29 15:32] jimi-c commented on #15602
We generally do, it definitely went up with 2.0 due to some structural changes, but it's been somewhat steady since then. A lot of it is very dependent on size of inventory and things like group/host vars in inventory as well, so it's somewhat difficult to model across all sizes of hosts/vars/etc.

Thanks!

[2016-04-29 15:35] jessegit commented on #10803
Fix/workaround: you'll need to make sure you have `sshpass` installed and define `-c ssh` to ansible.

[2016-04-29 15:40] sivel commented on #15667
This is expected on Mac OS X.  There are known cases where `sshpass` causes Mac OS X to kernel panic, and as such, the default transport of `smart` on Mac, checks to see if you are doing password auth, and switches to using paramiko.

If you are using sshpass on Mac and are comfortable with the potential of a kernel panic, you can use `-c ssh` or set `transport = ssh` in your ansible.cfg.

If you

[2016-04-29 15:40] #15667 closed, assigned to nobody

[2016-04-29 16:27] nitzmahone commented on #15644
@tse-tamir Great! We'd like to figure out the root cause of the issue though so that we might be able to reproduce the issue and fix it- can you share your OS version, your username, and what OS language you're configured for?

Thanks!

[2016-04-29 17:00] miohtama commented on #11101
@geekofalltrades Please see https://github.com/ansible/ansible-modules-core/issues/2697

[2016-04-29 17:05] MichaelBaydoun opened #15669 "WinRMTransport Kerberos authentication error but logged as success in windows logs"
There are a few WinRMTransport issues that are possibly related to this issue, but can't be sure.  I'm hoping the debug details in this issue will help solve some of the outstanding WinRMTransport issues.
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
callback_whitelist = profile_tasks,timer
forks = 50
host_key_checking = false
inventory = ~/ansible/hos

[2016-04-29 17:17] jladdjr opened #15671 "case for ansible_distribution and ansible_os_family changes between 2.0.2 and 2.2.0"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

Old version:

[code]

New version:

The version below comes from repo `git@github.com:/abadger/ansible.git`, branch `ziploader-namespace`. I used this repo to get a fix for https://github.com/ansible/ansible/pull/15656. The version on this branch shows up as 2.2.0.

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Control host is Mac O

[2016-04-29 17:48] klauern commented on #15524
I don't want to derail this issue, but there are ways to +1 something without sending a notification to everybody who is subscribed to it:

https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments

[2016-04-29 18:03] bcoca commented on #15622
the answer is incorrect:
- callbacks to replace the main ones responsible for ansible output can be set as per this doc
  http://docs.ansible.com/ansible/intro_configuration.html#stdout-callback
- Additional callbacks shipped with Ansible, just require whitelisting to enable as per docs
  http://docs.ansible.com/ansible/intro_configuration.html#callback-whitelist
- additional custom callbacks just

[2016-04-29 18:08] abadger commented on #15671
@robinro -- do you think this might be caused by the facts refactor?

[2016-04-29 18:37] jladdjr commented on #15671
Checked on 2.1.0 branch - not seeing issue there:

[code]

[2016-04-29 19:19] tersmitten commented on #10445
I juste check `devel`:

[code]

[code]

@robinro Still seems to be `NA`. The pull request was merged right?

[2016-04-29 19:33] farrellit commented on #15665
I'm sure there's several ways to work around it, but what I'd like to see is versions added to the requirements files so this kind of thing doesn't keep happening.  And for that matter, it would be very nice if all the versions had a fix pushed for this, including pre-2.

[2016-04-29 19:36] robinro commented on #10445
@tersmitten Can you provide the testdata as stated above? I don't have squeeze available to get the input files.

[2016-04-29 19:38] robinro commented on #15671
Yes, this is because of the refactor. The fix is already there, including tests for {centos,rhel}{6,7}: https://github.com/ansible/ansible/pull/15663

[2016-04-29 20:03] jladdjr opened #15672 "ansible unable to run ansible-playbook on remote system: "core modules are missing""
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When ansible's `command` module is used to run `ansible-playbook` on a remote system, the command fails with the following error:

[code]
##### STEPS TO REPRODUCE
1. Deploy a RHEL 7.2 system in ec2. On the remove system, install ansible 2.1.0.
2. On the remote system,

[2016-04-29 20:15] jladdjr commented on #15672
Not a bug - built 2.1.0 from source, but forgot to `git submodule update --init —recursive` in the repo

[2016-04-29 20:15] #15672 closed, assigned to nobody

[2016-04-29 20:18] #15671 closed, assigned to nobody

[2016-04-29 20:35] ghost commented on #11348
In fact, I think I have a very simple way to always reproduce the issue:

[code]

Can anyone confirm?

[2016-04-29 20:57] ghost commented on #11348
Also, for the record, I've just tried on a fresh `devel` checkout, with the same results.

[2016-04-29 22:18] rutsky commented on #15505
Thanks for verifying @toromoti ! I'll close this bug, since it's already fixed.

[2016-04-30 01:13] ghost opened #15676 "EC2 spot requests do not cancel on spot_wait_timeout"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When requesting a spot instance with a specific price point, if the request times out before the spot request is fulfilled, the spot request is left open forever and you will end up with unintended running instances
##### STEPS TO REPRODUCE

Create spot request below mark

[2016-04-30 01:14] ghost commented on #15676
FWIW, this has caused a few thousand extra dollars of EC2 billing as a large number of pending spot requests triggered all at once.

[2016-04-30 02:15] ozbillwang commented on #15661
@bcoca

I understand the function has been 'done', but could you please give some instruction about how to use it?

There are no examples in https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/callback/actionable.py, and the related documents are simple.

[2016-04-30 05:25] abadger commented on #15644
Simple reproducer:

[code]

Now fixed with commit   b8a988e in both devel and stable-2.1

[2016-04-30 06:25] agaurav commented on #4870
+1

[2016-04-30 10:13] jhawkesworth commented on #15669
This feels like an environmental issue.

I have a few suggestions of things that might be worth investigating.

Check your ansible machine's clock is synchronized with your domain controllers. I have seen random failures when the clocks have drifted.

I'd also examine the winrm configuration on the target windows box to,see if any limits or timeouts might be affecting things.

Oh and maybe the fir

[2016-04-30 10:34] tomstaijen commented on #14396
problem still exists in v2.1.0.0-0.1.rc1

[2016-04-30 10:57] ktosiek commented on #4870
There was a major refactor and a change of project lead since this issue was rejected as "Won't Fix". Is it a good time to rethink this?
I would really use that in a few places (for specific tasks, like running Django migrations or restoring a postgresql slave), and those would be very specific, few-hosts-at-a-time, tasks.

[2016-04-30 11:59] tomstaijen commented on #14396
This helped for me (run on target host):

[2016-04-30 12:01] delameko commented on #13703
I'm experiencing this also on latest OS X.  It seems to be a path issue.

    $ ansible-playbook -i inventories/staging plays/groups/dbservers.yml
    ERROR! The 'redis' python module is required for the redis fact cache, 'pip install redis'

    $ python -c "import redis; print 'ok'"
    ok

    $ python -c "from redis import StrictRedis; print 'ok'"
    ok

(Excuse my hacky debugging in this nex

[2016-04-30 12:02] tomstaijen commented on #14426
@szhem awesome, that fixed it for me!

[2016-04-30 12:46] zeldigas opened #15679 "get_url: SSL cert verification failed for redirect"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Running ansible from windows. Ansible is installed via `pip install` command in cygwin environment. Managed machine is ubuntu 14.04 in aws.
##### SUMMARY

File download failed if site redirects to cdn on another domain.
##### STEPS TO REPRODUCE

Having a instance with running ubuntu 14.04 execute

[code]
##### EXP

[2016-04-30 13:23] sivel commented on #15679
Have you tested in 2.0.2?  I believe this may have been resolved already.

[2016-04-30 15:22] Petrox opened #15680 "ansible-playbook hides ssh errors even when using -vvv or -vvvv"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ssh connection plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
ansible adds the -q (quiet) option when using ssh, but this hides the errors produced by ssh even when using -vvv

##### STEPS TO REPRODUCE
try to connect to a host with  authorized keys not set up
[code]

##### EXPECTED RESULTS
The outpu

[2016-04-30 21:58] roolo commented on #15321
@mhfowler: I was able to bypass this by providing `ansible_password` in my inventory

[2016-04-30 22:26] Deepakkothandan commented on #15679
Can confirm the same issue on ansible version 2.0.2.0, running from arch linux and ubuntu 14.04 as target

[2016-04-30 22:59] sivel commented on #15679
Your initial report indicated that this happened for redirects.  It does not appear that this URL redirects in any manner.

After further inspection, it appears as though the service hosting packages.chef.io uses SNI for it's SSL functionality.  Python versions less than 2.7.9 do not support SNI natively, and cannot validate certificates.

New for ansible 2.1 is the ability to validate SSL certs v

[2016-04-30 22:59] #15679 closed, assigned to nobody

[2016-04-30 23:08] ahill00 commented on #13023
For what it's worth I reran this with a current devel  ( f39ad1f13a3fdc126e99bf3da45da1945f17e9c3 ) and times are great.

[code]

[code]

[2016-05-01 08:00] tersmitten commented on #10445
@robinro How do I run the test case?

[2016-05-01 09:28] robinro commented on #10445
To generate a testcase: download and run that file: https://github.com/ansible/ansible/blob/1d6608e84f145907667c6c264949332b6aa33356/hacking/tests/gen_distribution_version_testcase.py

It assumes working ansible and python in path.

[2016-05-01 16:41] #15431 closed, assigned to jimi-c

[2016-05-01 16:42] jimi-c commented on #15431
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-05-01 16:46] badbishop commented on #11692
Still broken in

[code]

Installed today on Mac OS X with pip

[2016-05-01 17:00] steveholden commented on #4870
+1 - Happy to hear that the "wontfix" may no longer apply

[2016-05-01 18:35] tersmitten commented on #10445
[code]

[2016-05-01 18:41] robinro commented on #10445
@bcoca what do you think about using the lsb_release info to determine the the distribution name/version? At least as a fallback?

[2016-05-01 20:41] mattgagliardi commented on #15459
FWIW I'm having the same multi-argument problem with win_msi.  Ansible version 2.0.1.0, all default installation options on CentOS 6.7.  As previously reported it works fine with a single argument (in my case /quiet) but hangs/fails with multiple (/quiet /norestart).  TIA!

[2016-05-02 04:19] #14362 closed, assigned to nobody

[2016-05-02 10:08] ogmueller opened #15681 "Already executed dependency will hold execution forever"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

package from ubuntu 16.04:

ansible 2.0.0.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

don't know of any changes right now
##### OS / ENVIRONMENT

ubuntu 16.04
##### SUMMARY

if a playbook executed a role, which is a dependency of another role, the execution will be hold

[2016-05-02 10:45] jtru commented on #15577
It's not ansible's fault if your environment is lying about your preferred editor. It'd be wrong to handle this in the application; clearly, the host ansible is being executed on needs fixing here.

[2016-05-02 10:52] pstauffer commented on #15577
I've never written that it's ansible's fault. It's a feature idea to use `vi` instead of `vim`. And Ansible is already handle it in the application with the default editor `vim`. (see the Ansible vault documentation -> `After providing a password, the tool will launch whatever editor you have defined with $EDITOR, and defaults to vim.`)

[2016-05-02 11:42] Plork opened #15682 "Ansible 2.2.0: win_feature - source"
- Bug Report
##### ANSIBLE VERSION

"ansible 2.2.0 (devel 1fc44e4103) last updated 2016/05/02 12:34:45 (GMT +200)
  lib/ansible/modules/core: (detached HEAD b6ad3b6773) last updated 2016/05/02 12:34:56 (GMT +200)
  lib/ansible/modules/extras: (detached HEAD 1846de2809) last updated 2016/05/02 12:35:06 (GMT +200)
  config file = /home/_mbezemer/ansible/playbooks/teamcity_win/ansible.cfg
  configure

[2016-05-02 11:53] emmetog commented on #15549
I've run into this too on a slightly more recent kernel version (4.5.2-1.el7.elrepo.x86_64).

Here's how to reproduce:

Boot up an instance of `CentOS Linux 7 x86_64 HVM EBS 1602-b7ee8a69-ee97-4a49-9e68-afaee216db2e-ami-d7e1d2bd.3 (ami-7abd0209)` in EC2

Configure the inventory to use the correct SSH credentials, then run `ansible $HOST -m ping`, see that it works.

Run this role to upgrade the ke

[2016-05-02 12:29] jtru commented on #15577
Oh, I see - sorry, that wasn't clear for me from the initial bug report. In that case, `ansible-vault` defaulting to `vi` (since it should be available everywhere where vim is installed, and is also part of LSB and POSIX) sure is the more sensible thing to do.

[2016-05-02 12:38] prupert commented on #14498
We are still experiencing this issue with ansible 2.0.1.0 (RPM package, stable from EPEL7).

[2016-05-02 12:44] bcoca commented on #15577
closed via 103ca98014da6eff0e18f1da92d54b1633302258

[2016-05-02 12:45] #15577 closed, assigned to alikins

[2016-05-02 12:51] ogmueller opened #15683 "Error in a skipped test because of a non-existing variable"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ubuntu 16.04 package:

ansible 2.0.0.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

i don't know about any changes
##### OS / ENVIRONMENT

ubuntu 16.04
##### SUMMARY

when using an undefined variable in a skipped test, an error will occur when used in "with_items" only.
###

[2016-05-02 12:55] bcoca commented on #15683
# Possible Misunderstanding

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Roles CANNOT be made conditional themselves, so the `when:` clause is there for the included tasks to be inherited. http://docs.ansible.com/ansible/playbooks_c

[2016-05-02 12:55] #15683 closed, assigned to nobody

[2016-05-02 12:59] bcoca commented on #15681
do you have allow_duplicates set?

[2016-05-02 13:02] ZahiCahana opened #15684 "when conditional is ignored while working with win_get_url"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

"when" conditional is ignored  while working with win_get_url
i have a generic playbook that runs on linux and windows (using when conditional).
while running it on linux (centos) it runs also a task that should run only on windows with the condition below

when: "'windows' in g

[2016-05-02 13:05] ogmueller commented on #15683
I guess, i did not explain myself well enough.

the problem is not the "when:" in the task, but that ansible reacts differently on this unknown variable "ansible_local.something". if i use the variable in the task like debug (in the message), no error occurs, BUT when using the same unknown variable in the "with_items" an error occurs within the same circumstances. ansible should either consistent

[2016-05-02 13:06] ogmueller commented on #15681
allow_duplicates is set to "no" in all cases.

[2016-05-02 13:14] bcoca commented on #15683
that is because `when:` is evaluated INSIDE the `with_` loop, but the task itself does not get evaluated until after `when:` decides if it runs or not.

So `with_` loops need to ensure that they don't cause undefined errors, normally through the use of the `default` filter.

[2016-05-02 13:16] bcoca commented on #15684
The `when` is indented too far, it is part of the task definition, NOT a module option

[2016-05-02 13:17] Habbie opened #15685 "tools that paginate show spurious `less --version` output"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no configuration present/necessary
##### OS / ENVIRONMENT

`Darwin marconi.local 14.5.0 Darwin Kernel Version 14.5.0: Mon Jan 11 18:48:35 PST 2016; root:xnu-2782.50.2~1/RELEASE_X86_64 x86_64` with ansible installed via brew
##### SUMMARY

in `ansible/cli/__init__.py` there is this line:

[code]

but on every system I

[2016-05-02 13:17] bcoca commented on #15684
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-05-02 13:17] #15684 closed, assigned to nobody

[2016-05-02 13:26] ogmueller commented on #15683
sorry for the noise. i thought it is a bug, because it used to work in ansible 1.9.x and it "feels" a bit odd :-)
thanks for the help, though.

[2016-05-02 13:46] sparkvilla opened #15686 "Authentication or permission failure / pfsense"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
hosts file
[all]
pfsense ansible_host=10.18.0.1 ansible_user=admin ansible_python_interpreter=/usr/local   /bin/python2.7
ansible.cfg
[defaults]
hostsfile = ./hosts
log_path = ./ansible.log
remote_tmp = /tmp/ansible/$USER

##### OS / ENVIRONMENT

##### SUMMARY
When I use in my hosts file: `ans

[2016-05-02 13:55] alikins commented on #15680
I see the same behavior in ~2.1 (1fc44e41039f850d9d19e92231479c9a50238132)

[code]

[2016-05-02 14:09] alikins commented on #15676
This sounds like the same issue as https://github.com/ansible/ansible-modules-core/issues/2057

If it's the same issue, may be worth combining them.

[2016-05-02 14:12] alikins commented on #15676
https://github.com/ansible/ansible-modules-core/pull/2210
and https://github.com/ansible/ansible-modules-core/issues/2140 appear related as well.

[2016-05-02 14:18] alikins commented on #15676
The ec2 spot_wait_timeout code is from ansible/ansible-modules-core, so I'm going to close this issue. ansible/ansible-modules-core#2057 should already have references here if you want to add any info to that issue.

[2016-05-02 14:18] #15676 closed, assigned to nobody

[2016-05-02 14:23] alikins commented on #15686
Can you reproduce this with '-vvvvv' and post the output?

Does ssh as the admin user work?

[2016-05-02 14:25] alikins commented on #15686
In the hosts file you posted, the host line

[code]

There is a space between '/usr/local' and 'bin/python2.7'.  Is that present in the host file itself or just an artifact of pasting into the issue? If the former, the space likely needs to be remove.

[2016-05-02 14:31] sparkvilla commented on #15686
Hi. Yes sorry, the space in `/usr/local' and 'bin/python2.7` is only an artifact of the pasting procedure, there is no space in the host file. I can ssh as admin user the pfsense box. Here is the output with the debug feature on:

`ansible pfsense -i hosts -m ping -vvvv
Using /home/diego/gitlab/ansible_pfsense/ansible.cfg as config file
Loaded callback minimal of type stdout, v2.0
<10.18.0.1> ESTA

[2016-05-02 14:34] sparkvilla commented on #15686
Ops I forgot to say that the previous output is obtained with the following ansible.cfg file:

[defaults]

hostsfile = ./hosts
log_path = ./ansible.log
remote_tmp = /tmp/${USER}/ansible # I have changed this

[2016-05-02 15:18] e-alfred commented on #15331
Hello,

I tried the change in the ini.py file but the error persists:

`ansible-playbook -vvvvvv playbook.yml
Using /etc/ansible/ansible.cfg as config file
ERROR! /etc/ansible/hosts:39: Invalid section entry: '[Serverlist]'. Please make sure that there are no spacesin the section entry, and that there are no other invalid characters`

I am running 2.0.1 as well.

[2016-05-02 15:27] jhawkesworth commented on #15682
Yes, sounds exactly like double hop to me. I worked around this issue by zipping up the sources folder and copying it to the local machine before running win_feature.

If you can hang on a little longer, you should be able to use Kerberos auth delegation (if you are on a domain) which will let you get round the second hop issue. This will need a new version of pywinrm though, which I believe is no

[2016-05-02 15:29] #15655 closed, assigned to abadger

[2016-05-02 15:44] michaljrk commented on #10156
Hello @jimi-c , actually is still not working with ansible 2.0.0.2 , same result as before:

**playbook:**

[code]

**Result**:

[2016-05-02 16:00] mmatuska opened #15687 "include: Ansible 2.1 breaks 2.0 compatibility"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.1.0.0
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Changes to include code break compatibility with Ansible 2.0
In Ansible 2.0 all includes have been treated as dynamic, so it was possible to skip large code paths by not processing any sub-tasks and their descendands.

Since commit 2c20579a06925a16abb95798237b97ce4987

[2016-05-02 17:41] MichaelBaydoun commented on #15669
The times are in sync and using the same ntp source.

The firewalls are open on both ends, the error is sporadic, sometimes it works, sometimes it fails.

There is nothing of interest logged for winrm on the windows side, and I haven't found any limits or timeouts (yet).

Most of our windows targets are windows 2008r2, including this one.  I messed up the formatting in the issue template, let me g

[2016-05-02 17:47] MrMMorris commented on #13278
For people experiencing this problem, please try each of the below changes before posting:
1. https://github.com/ansible/ansible/issues/13278#issuecomment-187979124
2. https://github.com/ansible/ansible/issues/13278#issuecomment-194349084

@jimi-c @amenonsen is there not enough information here for a fix? Seems like a pretty widespread and impacting problem

[2016-05-02 18:27] albertux commented on #10464
@seeker89 I forgot to mention this was using ansible `1.9.3`I will try to find a workaround for other versions

[2016-05-02 19:43] max-allan-surevine opened #15690 "yum module failing (on AWS RHEL 7 instance) due to rhui-lb"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Running from OSX Yosemite (don't think it's relevant though)
Controlling an AWS RHEL7 instance (ami-8b8c57f8).
##### SUMMARY

Create an instance and get ansible's yum module to "yum update" causes a failure message.
##### STEPS TO REPRODUCE

Build an AWS instance (ami-8b8c57f8) and try to yum update (or do any yum

[2016-05-02 20:38] seeker89 commented on #10464
@albertux the dictionary syntax works - I'm currently using that everywhere now.

[2016-05-02 21:18] dmwilcox opened #15693 "tuple' object has no attribute 'items'"
Issue broke my larger ansible playbook -- I recreated a small piece below to demonstrate the issue.  tldr; It appears to be due to how arguments are checked and an item is coming out as a tuple instead of a dictionary.

I tried various combinations of command and shell modules with the creates= on the same line or on a second line ala 'creates: <dir>' per the documentation to no avail.  A work aro

[2016-05-02 21:29] sivel commented on #15693
I believe this is indicative of having an Ansible 1.9 command module located in /usr/share/ansible.  Changes were made to how modules parse their arguments which required changes to the command module.

If you remove the configuration from ansible.cfg to no longer specify `/usr/share/ansible` this problem should go away.

[2016-05-02 22:20] bcoca commented on #10445
IMO it should be first thing we try for EVERY distro, as that is a 'normalized' format.

[2016-05-02 22:22] jhawkesworth commented on #15669
Ok, I have a couple of other ideas.

Is the S2008R2 box fully up to date with Windows Updates? There was a bug in WMF 3.0 when S2008R2 was first released which messed up the memory allocation. There is a hotfix for it, although my preferred fix was to update to Windows Management Framework 4.0.

My other ideas boil down to health checking the hardware itself  - checking network cables, hard disk e

[2016-05-02 22:53] Excedrin commented on #15331
It looks like your use case is different from mine. The problem that this bug and fix addresses are cases where an Ansible range starts the line. Like "^[1:2].fail$" (with ^ and $ added as start and end of line).

Your error doesn't include a range at all, and I suspect that you have some unicode characters or something invalid before line 39. If you add part of your /etc/ansible/hosts I'll take a

[2016-05-02 23:27] bcoca commented on #15661
in ansible.cfg,

`stdout_callback=actionable`

[2016-05-02 23:38] abadger commented on #15690
I believe this is the command we're invoking that's leading to that error message:

[code]

It's odd that this command would fail while the main yum command won't.  OTOH, rhui-lb is a yum plugin so perhaps it was only tested with yum install, update, remove and something about it doesn't play well with check-update....

If you test check-update and that works from the yum commandline as well, we'l

[2016-05-02 23:38] #15690 closed, assigned to nobody

[2016-05-02 23:44] abadger commented on #14283
We think this was fixed via the following two commits: https://github.com/ansible/ansible-modules-core/commit/82aeaed45d5a283a15e8f62dd641b67d04e9876e
https://github.com/ansible/ansible-modules-core/commit/0ec3b06208a7d95006148e02efac72404257a76a

Those resolved an issue with tar and non-ascii filenames when the locale was C.  It likely affected ansible usage with any non-utf8 locale.  The fix is

[2016-05-02 23:44] #14283 closed, assigned to nobody

[2016-05-03 03:26] chrismeyersfsu opened #15694 "Regression in delegate_to: {{ item }} delegate_facts: true"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

`v2.1.0.0-0.1.rc1`

[code]
##### CONFIGURATION

None
##### OS / ENVIRONMENT

Mac OS X
##### SUMMARY

`set_fact` fails with a traceback when using `{{ item }}` in `delegate_to` with `delegate_facts: true`
##### STEPS TO REPRODUCE

`ansible-playbook -i inventory main.yml -vvvv`

[code]

[code]

##### EXPECTED RESULTS

Success!
##### ACTUAL RESULTS

[2016-05-03 06:02] ozbillwang commented on #15661
Thanks @bcoca & @toromoti . Suppose I copied `actionable.py` to local `plugin` folder.

[code]

When run ansible-playbook, shouldn't add any debug options, such as `-vvv`.

[2016-05-03 06:35] srgvg commented on #12395
I'm noticing this bug still in 2.0.1 and  2.0.2rc3.

This happens in a 2-level nested block (so no grand-parents?). Following snippet is part of a role tasks/ file:

[code]

I had to add the outer condition to the inner condition to make that work as intended:

[code]

[2016-05-03 06:46] srgvg commented on #12395
Using @amenonsen initial test playbook, I reproduce the issue:

[code]

And same with his second example:

[code]

[2016-05-03 06:49] robinro opened #15695 "refactor distribution version detection and base it on lsb_release or os-release"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/module_utils/facts.py

##### ANSIBLE VERSION

2.2, devel
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Linux
##### SUMMARY

This is a follow-up to: https://github.com/ansible/ansible/pull/15221

The `distribution_*` variables get filled very differently for different distributions. We could try to unite this more. Best sources fo

[2016-05-03 06:51] srgvg commented on #12395
Even worse, it also fails running from the commit that was supposed to fix this?

[code]

[2016-05-03 06:52] robinro commented on #15695
@bcoca in https://github.com/ansible/ansible/issues/10445#issuecomment-216382541 you mentioned you like the lsb first approach. What do you think about:
- breaking backwards compatibility when the lsb output differs from what we now output
- dealing with lsb not being installed because we're in a container or too old

[2016-05-03 07:31] Plork commented on #15682
bleh yeah well copying the sources to a couple of 100 machines when you want to change something does not sound like a good scenario. So I'll guess I will have to solve this another way.

Any timeframe on the douple hop pywinrm support? Sound like a hard requirement for supporting windows to me? :P

[2016-05-03 08:17] ubajze commented on #15654
If I understand, I should open this ticket under the https://github.com/ansible/ansible-modules-core?

[2016-05-03 08:57] Dufgui commented on #15405
So i propose 3 solutions :
1. keep the become on the delegate_to side as before
2. add specific args to module to move become on delegate side
3. provide password with an echo 'password' | sudo -s -u become_user rsync on rsync path

Wich one do you want ? We can do 1+3, 2+3, or just 1, 2 or 3.

[2016-05-03 09:23] leafblowersama commented on #14786
+1

[2016-05-03 10:00] jhawkesworth commented on #15682
Yeah its not great having to copy sources out to lots of nodes.  For s2012 r2, zipped up its 97480804 bytes, so not the monster you might imagine though.  Another way to crack it would be to get busy with DISM and make sure your online windows image contains (just) the windows features you need.

Latest I know about second hop is here- https://www.ansible.com/webinar-on-demand-windows
It seems Ans

[2016-05-03 10:24] privateip commented on #15654
Yes, thats correct

[2016-05-03 10:34] kuboj opened #15697 "Ansible fails when `until` condition is true on last retry."
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]

(tested also on current devel - `c42501c` with same result)
##### CONFIGURATION

default
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Ansible fails when `until` condition is true on last retry.
##### STEPS TO REPRODUCE

_site.yml_

[code]

_foo.sh_
(this script basically returns exit code 1 on first run and 0 on second run)

[code]
##### E

[2016-05-03 11:22] aaomoware commented on #14383
Undefined variable(s) causes ansible to throw "Fatal".  Perhaps the fix for this bug is yet to be released officially as the issue still persists.

I am running ansible 2.0.1.0, in Ubuntu Trusty.

TASK [sensu : custom configs] **************************************************
[DEPRECATION WARNING]: Skipping task due to undefined Error, in the future this will be a fatal error.. This feature will

[2016-05-03 12:06] richard-scott opened #15699 "yum upgrade overly verbose..."
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Running this task:

[code]

is extreamly verbose compared to similar on Debian:

[code]

To keep things consistent does 'apt' on Debian need to get more verbose, or is 'yum' on CentOS too talkative?

[2016-05-03 12:28] richard-scott commented on #15699
False alarm... I was not watching my console correctly and it wasn't Ansible's fault :-)

[2016-05-03 12:28] #15699 closed, assigned to nobody

[2016-05-03 13:18] #15687 closed, assigned to jimi-c

[2016-05-03 13:22] jimi-c commented on #15623
@rudimeyer (or anyone else): have you had any chance to confirm whether this patch/feature branch works for you?

[2016-05-03 13:35] dcodix opened #15700 "Return variables on task includes not working anymore"
I use to be able to do things like:

included_general_task.yml

[code]

main.yml

[code]

From here on, I could access to the contents of {{ root_list }} and {{ tmp_list }} without problems.
It was working ok with ansible version 2.0.1.0, but with ansible version 2.0.2.0 when I try to acces those variables I am getting:

[code]

Is this a bug? or it is something that is changed and will be like th

[2016-05-03 14:19] ogenstad opened #15702 "SSH keys aren't checked against known_hosts when using networking modules"
##### ISSUE TYPE
- Feature Idea
- Security issue
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The shared module_util [shell.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/shell.py) which is used by the different network modules doesn't validate the ssh key on the target device.

[code]

This works in a trusted environ

[2016-05-03 14:41] willusher commented on #15512
I consider this to be a security bug, not a feature idea. I believe it is reasonable to assume an expression that evaluates to True would prevent logging, and this obfuscates reasoning about the security of the play.

This is especially true, because this works as expected in Ansible 2.x, and so code that correctly prevents logging secrets in 2.x will log those secrets without any warning in Ansib

[2016-05-03 14:46] zarnovican commented on #14722
@dmikurube Same here.

I have Ansible 2.0.2.0 inside virtualenv and Ansible 1.7 installed via system package. The problem is that virtualenv's ansible will still default to reading `/etc/ansible/ansible.cfg` where it is pointed to `library = /usr/share/ansible` (which are modules from much older Ansible). This is IMHO problem of Ansible defaults as well as my own setup.

[2016-05-03 14:53] dmwilcox commented on #15693
Brilliant!  Thank you!

This works for my test case, I'll try a few things today (apt-get purge for one) and report back.  I thought I was in the clear since I installed 2.0.x in a virtualenv --  because debian8 only has 1.9 which is installed (and I presumed, wrongly, unused).

[2016-05-03 15:03] richard-scott opened #15703 "Ansible hangs on CentOS but not Debian when activating auto-sudo"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

Running this task:

[code]

On CentOS this hangs after the initial "sudo" line is added but on Debian it works just fine.
Oh, and "sudo su -" works just fine when running in the guest OS manually.

[2016-05-03 15:18] ralphct commented on #15664
This will force fact gathering, despite what ansible.cfg and Redis say:

ANSIBLE_GATHERING=implicit ansible-playbook facts_only.yml

This is an acceptable workaround for my situation, but there's still a problem here, I think.

[2016-05-03 16:41] bcoca commented on #15695
@robinro I don't disagree, I just wanted to hold on to the illusion of a standard being followed for once ...

[2016-05-03 16:42] jeff1985 commented on #13825
My vagrant deployment also has been broken with the switch from ansible 1.9.2 to 2.0.2
In my case ansible has been trying to sync the given local path to the global path on the same machine. I had to explicitly set
`dest="{{ ansible_ssh_user }}@{{ ansible_ssh_host }}:/etc/somedir/"` to fix it.

[2016-05-03 16:50] drfickle commented on #15431
Fix confirmed. Thank you!

[2016-05-03 17:05] ghost commented on #5185
The documentation is sketchy.  Consider inventory:

_This is the default location of the inventory file, script, or directory that Ansible will use to determine what hosts it has available to talk to:_

OK, so no paths but something called a "location" it will use to "talk".  We're already off to a bad start, but maybe  I'm being too fussy.  They obviously mean "path" but if that's true and there

[2016-05-03 17:25] compuguy commented on #14487
I can confirm this as well with my ansible playbook. Works fine with 1.9.6, doesn't work with 2.X.

[2016-05-03 17:58] nhooey opened #15706 "Improve error: `Failed to connect to the host via ssh.` even without verbose"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION
- >= 2.0.2.0
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a
##### SUMMARY

Ansible obscures the real SSH error with or without verbose, and prints a useless error message. It should print the connection error even with verbose turned off, because it's always important to the user to know why the SSH connection failed.
##### STEPS TO REPRO

[2016-05-03 18:03] corretge opened #15707 "Inventory group_vars issue with shared hosts"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible installed with Homebrew on Mac OSX 10.11.4 (15E65)
##### SUMMARY

I'm using group_vars with inventory. When I have two groups with same servers, because we share projects, group_var are wrong, I get always the value of last processed variable.
##### STEPS TO REPRODUCE

staging-in

[2016-05-03 18:10] sivel commented on #15707
This is expected.  `group_vars` are not only processed/loaded based on what hosts/groups you are targeting.  Group vars are merged down to the hosts for all groups the host is in.  So if you have the same var name in 2 groups, and the host in both groups, you will get the var that is evaluated last.  Which is what you are seeing.

If you have further questions please stop by IRC or the mailing lis

[2016-05-03 18:10] #15707 closed, assigned to nobody

[2016-05-03 18:45] mamoit commented on #11175
:+1:

[2016-05-03 18:50] MichaelBaydoun opened #15709 "list tasks not compatible with syntax check"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
forks = 50
host_key_checking = false
inventory = ~/ansible/hosts-sbx
max_fail_percentage = 1
transport = ssh
pattern = NONE
##### OS / ENVIRONMENT

N/A
##### SUMMARY

adding --syntax-check with --list-tasks breaks --list-tasks
##### STEPS TO REPRODUCE

ansible-playboo

[2016-05-03 19:17] arusahni commented on #8547
@memelet looks like it was just closed. Am on 2.x and it's still broken.

[2016-05-03 19:43] mpetruzelli opened #15710 "Registered variable overwritten by skipped conditional task."
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
force_color = 1
host_key_checking = false
inventory = inventory
##### OS / ENVIRONMENT

Confirmed in OSX El Capitan and RHEL6
##### SUMMARY

A previously registered variable is over-written when a conditionally skipped task uses the same variable name.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[2016-05-03 19:54] sivel commented on #15710
This is expected. Although the task was skipped, information as to the task being skipped is still registered to the variable that was specified.

This allows you to do things such as `when: elb_output|skipped` to perform a task based off of a previous task being skipped.

Instead of using the same variable in 2 tasks, it is recommended that you use 2 different variable names.

If you have further

[2016-05-03 19:54] #15710 closed, assigned to nobody

[2016-05-03 21:17] billputer commented on #8547
@memelet @arusahni It's closed as a duplicate of [ansible/ansible-modules-core#297](https://github.com/ansible/ansible-modules-core/issues/297).

[2016-05-03 21:27] dead10ck commented on #11766
@abadger @AlanCoding @anoek @bbaassssiiee @bcoca @bennojoy @cchurch @chouseknecht @chrishoffman @chrismeyersfsu @defionscode @erjohnso @ghjm @j2sol @jakemcdermott @jaredevantabor @jbrockett @jimi-c @jlaska @jsdalton @lorin @matburt @michelleperz @nitzmahone @petemounce @phips @privateip @ryansb @samdoran @shanemcd @sivel @skottler @smadam813 @softzilla @srvg @thisdavejohnson @tombamford @tonk @wen

[2016-05-03 22:16] ghost opened #15711 "Ansible File module stops play execution if a directory exists"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Mac OS 10.11.4 (15E65)
##### SUMMARY

Ansible will stop playbook execution if the path module creates a directory that already exists. Expected behavior would be to move to the next task instead of fail. Currently this violates the idea of idempotency.
##### STEPS TO REPRODUCE

_tasks.y

[2016-05-03 22:59] command-tab opened #15713 "Ansible 2.0.2.0: Variables in Handler names not populated"
**Issue Type:** Bug Report, same as #14082, but remains unfixed

**Ansible Version:** 2.0.2.0

**Environment:** OS X 10.11.4

**Summary:** Under Ansible 2.0.2.0, Jinja variables contained in a handler `name` are no longer populated. Under Ansible 1.9.x, they were populated. Here's a quick example:

**Steps To Reproduce:**
1. Write this content to `playbook.yml`:

[code]
2. Run the playbook: `ansib

[2016-05-04 01:16] tkinz27 commented on #14146
So I have a bunch of roles that use dynamic task includes to include a set of tasks based on the platform of the remote host. In this case I do not care at all what the outer loop variable is and would prefer to just overwrite the loop variable.

I just started using ansible from devel and noticed that my roles are failing with this error now.

[code]

Is it going to be required that `loop_var` be

[2016-05-04 01:58] ghost commented on #15711
Update: ran the same play again and it inexplicably worked. Unable to reproduce.

[2016-05-04 02:20] ghost opened #15714 "Copy module fails when run twice"
[copy_module_bug.zip](https://github.com/ansible/ansible/files/248073/copy_module_bug.zip)
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

_Ansible host:_
Mac OS 10.11.4 (15E65) running with Ansible installed from PIP.

[code]

_Managed machine:_
Digital Ocean Debian Jessie x86-64 fresh install. Vagrantfile included in the attached zi

[2016-05-04 02:50] sivel commented on #15714
It may be related to the fact that you are using a var from vars named `copy` but then registering the results of the copy module to a var named `copy`.

Additionally you are defining the `copy` var in both roles and registering in both roles.  These vars are not namespaced and are overwriting.

You should consider using unique vars across all tasks and vars files.

[2016-05-04 02:51] mrlesmithjr commented on #15211
I too have just ran into this...

[code]

When using Ansible 2.0.2.0

[code]

When using Ansible 2.0.1.0

[code]

This is running against CentOS-6 and CentOS-7.

[2016-05-04 02:57] sivel commented on #15711
The error seems to indicate the issue:

[code]

You told the file module to create a directory where a file already existed.

[2016-05-04 03:06] ghost commented on #15714
So that's exactly what it is: If I use register a keyword, ie "foo", then use "foo" as variable name and use with_items in a task with the name "foo" it fails.

[code]

[code]

[code]

[code]

[code]

[2016-05-04 03:32] CorbanR opened #15715 "Regression rescue not firing."
ISSUE TYPE

Bug Report
ANSIBLE VERSION

ansible: `2.0.2.0`
OS / ENVIRONMENT

`Ubuntu 14.04`

SUMMARY

After upgrading to Ansible 2.0.2.0 rescue is no longer triggering

STEPS TO REPRODUCE

Given the following playbook:

[code]

when the migrations run (and in this case fail) the rescue portion of the block is NOT triggered.

EXPECTED RESULTS

I would expect the rescue portion to be triggered

ACTU

[2016-05-04 03:57] #15711 closed, assigned to nobody

[2016-05-04 07:16] robinro opened #15718 "re-enable apt_repository tests for ubuntu 16.04"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

devel, 2.2
##### OS / ENVIRONMENT

Ubuntu xenial 16.04
##### SUMMARY

The integration tests for test_apt_repository were disabled for Ubuntu Xenial 16.04 in #15561 to allow to run the tests. This is due to missing pages/repos for the new Ubuntu version. The tests should be re-enabled and this is a reminder to not forget that.

[2016-05-04 07:31] resmo commented on #15718
This is on my list but not top prio, if you like to work ion it, let me know.

[2016-05-04 07:42] AnatomicJC commented on #13401
Hi,

For the ones who will read this long thread, there is maybe another solution. I faced this `"ERROR! SSH Error: data could not be sent to the remote host. Make sure this host can be reached over ssh"` issue, and none of the workaround described here worked for me (scp_if_ssh, extra-args, use an IP instead of a hostame in my inventory, etc.)

No problem with Ansible 1.9.4, but a lot of SSH fail

[2016-05-04 09:22] richard-scott commented on #15703
ok, what I've ended up doing is changing my task that updates .bashrc to the following

[code]

and I have installed the vagrant-triggers plugin and I run this from my Vagrantfile:

[code]

This removes the flag, and enables Ansible to run nicely without hanging.
I am still bemused why this works on Debian 8.x, but not on Centos 7.x

[2016-05-04 09:27] aholbreich opened #15719 "local_tmp is ignored in ansible.cfg"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

project directory ansible.cfg

[code]
##### OS / ENVIRONMENT

Linux LDME (Debian)
3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt7-1 (2015-03-01) x86_64 GNU/Linux
##### SUMMARY

While running Playbook

[code]

local_tmp seem to be ignored and files are created in $USER_HOME$.ansible/tmp
##### EXPECTED RESULTS

 if local_tmp

[2016-05-04 09:48] DrHofman commented on #10458
Same confusion here, would be nice to have this in the docs

[2016-05-04 10:07] scottjs commented on #15525
I'm having this exact problem on a build server.

Running `ansible all -i ansible/staging/inventory -m ping -vvvv`

On local machine running 2.0.1.0 works fine.

Same thing on build server running running 2.0.2.0 fails with error `Failed to connect to the host via ssh`. Everything is set up exactly the same except version of ansible. I've tested the SSH connections manually and everything works as

[2016-05-04 10:21] xox2 commented on #15713
I couldn't reproduce it in my environment.

[code]

`stable-2.0`/`stable-2.1`/`devel` branch is also the same. Why.....

[2016-05-04 11:26] andy-zhangtao opened #15721 "Copy module failure in 2.20"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
forks          = 500
gathering = explicit
host_key_checking = False
log_path = /var/log/ansible.log
no_log = False

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

[ssh_connection]
ssh_args =
scp_if_ssh = True
##### OS / ENVIRONMENT

ansible/centos7-ansible:late

[2016-05-04 12:02] vre opened #15722 "Dictionary keys are not defined if there is undefined variable as value"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS X El Capitan 10.11.4

##### SUMMARY
One referenced undefined variable causes the whole dictionary to fail. This might cause issues which are hard to understand and trace.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2016-05-04 12:03] zemm opened #15723 "Comma inside changed_when or failed_when results to templating error"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Vanilla
##### OS / ENVIRONMENT

RHEL 7.2 (Pip)
OS X (Homebrew)
##### SUMMARY

Comma inside `changed_when` causes template error.
##### STEPS TO REPRODUCE

Create a test playbook

[code]

Run it

[code]
##### EXPECTED RESULTS

Results as with Ansible 2.0.1

[code]
##### ACTUAL RESULTS

Results as with Ansible 2.0.2

[

[2016-05-04 12:21] sivel commented on #15723
This was recently resolved in https://github.com/ansible/ansible/commit/30a38f94ce81314019fb2d9496602eef0a5b36fe

See https://github.com/ansible/ansible/issues/15291 and https://github.com/ansible/ansible/issues/15516

[2016-05-04 12:21] #15723 closed, assigned to nobody

[2016-05-04 12:56] avdv opened #15724 "Breaking change in relative path resolution between 2.0.1 and 2.0.2"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

In Ansible 2.0.1 the relative path is computed from the CWD. In Ansible 2.0.2 it is computed relative to the playbook.
##### STEPS TO REPRODUCE

[code]

I'm running it with `ansible-playbook -i hosts ../../../playbooks/sync.yaml` in different s

[2016-05-04 13:01] frenkel commented on #13401
Started having this issue, but only after rebooting my servers. Servers that are not yet rebooted still work somehow.

[2016-05-04 13:14] byrug4 opened #15725 "win_updates: feature idea: Add Ability to exclude windows updates to install"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

win_updates

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Ability to exclude windows updates to install. E.g.: KB3140527
##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

The installer skips the listed update(s)
##### ACTUAL RESULTS

The undesirable update will be installed or fails (e.g.: broken u

[2016-05-04 13:56] tima commented on #11766
@tima (I feel left out.)

[2016-05-04 14:05] jgarciamarquez commented on #10874
Hi all.
We are experiencing the same issue described above. We are running company-wide security compliances and many hosts present this problem. We are also using the timeout parameter (-T 5) to force session expiration unsuccessfully.

**Could this perhaps be reconsidered a bug due to the timeout paramater not taking effect?**

Our ansible version is:
ansible 2.1.0 (devel 0c6693aa4c) last update

[2016-05-04 14:16] ddohler commented on #14671
I just encountered this error and it was indeed caused by #15610; I was receiving the error when using the `template` module. The template file that it was failing on contained only one variable that was being passed through a filter. After removing the filter, I received an `AnsibleUndefinedVariable` error related to a missing entry in one of my group_vars files. Once I resolved this, I replaced

[2016-05-04 14:21] alikins commented on #15724
Could ansible_user end different in these cases? ie, could one case end up running the task as a user vs root?

Try adding a debug task that shows ansible_user_dir:

``
- name: debug ansible_user_dir
  debug: var=ansible_user_dir

[code]

[2016-05-04 14:26] alikins commented on #15721
(This comment is just a copy of the playbook in a markdown code formatting for easier reading).

[code]

[2016-05-04 14:30] vre commented on #15722
For simple workaround, define key value with default. It will be used in case the variable is not defined.

[code]

[2016-05-04 14:37] alikins commented on #15721
If the host is coreos, has python been set up on the remote system?

The "MODULE FAILURE" means the copy module itself failed. It looks like coreos doesn't have python installed by default (based on https://coreos.com/blog/managing-coreos-with-ansible/ ) so that could be causing the error.

Do other modules work?

[2016-05-04 14:37] sivel commented on #15714
Yeah, so what is happening, is that vars for all roles are loaded before role execution.  Then you register the output of the `copy` task to a var called `copy` which you also defined in vars.  The registered result overwrites the `copy` from vars.

Then when you loop over the registered var, because it is not a list, it is a dictionary, you are effectively looping the keys.  As such, the key valu

[2016-05-04 14:37] #15714 closed, assigned to nobody

[2016-05-04 14:48] avdv commented on #15724
No, the output was the same for both versions:

[code]

[2016-05-04 14:52] alikins commented on #15719
The 'local_tmp' config option was added after 2.1.0 in the commit
dcc5dfdf811f24c3adbb879e77a1bf8789bf1738. Version 2.1.0 (devel e003ef93fc)
does not support 'local_tmp'.

(It is referenced at http://docs.ansible.com/ansible/intro_configuration.html#local-tmp which is confusing since it those docs are generated from the latest versions. )

[2016-05-04 14:53] aibor opened #15726 "Role search paths not reset after playbook include"
##### ISSUE TYPE

Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible Host: Debian GNU/Linux 8
Target Host: N/A
##### SUMMARY

In a playbook when another playbook is included from a subdirectory the role search paths are not reset after the include is parsed. This results in roles in relative paths to the playbook not being found, if
such an include

[2016-05-04 14:59] alikins commented on #15724
Ah, indeed. And I misread ansible_user_dir as being used in the src, which was not the case. Sorry about that.

[2016-05-04 15:11] andyfeller commented on #14248
+1

Yeah just assumed that defaults/\* were found and loaded automagically as mentioned above.  It seems the suggested workaround (including additional defaults files in tasks) will override inventory vars due to [variable precedence](http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable), so it seems we may have to bundle in 1 file to avoid thi

[2016-05-04 15:18] Sodki opened #15728 "Ignore ec2.py when no credentials are present"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

ec2.py inventory file fails by default if there are no credentials to connect to AWS instead of ignoring them.
##### STEPS TO REPRODUCE

I use the same Ansible roles on multiple AWS accounts and local virtual machines. Before running Ansible playbooks, I automatically provision the right creden

[2016-05-04 15:23] alikins commented on #15722
This behavior changed between 1.9 and 2.0 as well.
It also seems to depend on the config option error_on_undefined_vars:

output from 1.9.6-1

[code]

Output from devel with defaults

[code]

Output from devil with error_on_undefined_vars enabled:

[code]

[2016-05-04 15:31] e-alfred commented on #15331
Well, if I comment out the lines with brackets everything works perfectly. I upgraded from 2.0.0 where everything worked fine with the same hosts file.

Here is a section copied from a freshly created hosts file, the error still persists:

[code]

[2016-05-04 15:32] command-tab commented on #15713
Agh! You're right. I had mixed up some terminal sessions, so I was running the playbook on a machine with an older version of Ansible.

Thanks, and apologies for the erroneous bug report!

[2016-05-04 15:32] #15713 closed, assigned to nobody

[2016-05-04 15:46] gnosek opened #15729 "Jinja2 {% import 'template' as name %} causes AttributeError (patch included)"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`template` module

(or really anywhere Jinja2 is used but imports are probably not used outside `template`)

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Importing Jinja2 templates as modules doesn't work (raises AttributeError during import)
##### STEPS TO REPRODUCE

Please see https://gist.github.com/gnosek/c6ee6de97

[2016-05-04 15:53] zombified commented on #14578
I received a similar error message with the template module:

[code]

My task looked something like:

[code]

I was able to get the task working, seemingly reliably, by removing the "become_user" and using the owner/group module parameters instead, eg:

[code]

Was using ansible 2.0.2.0
Was also running against a chroot (w/ a customized chroot connection plugin)

[2016-05-04 15:59] avdv commented on #15724
Forgot to mention, I'm working around using

[code]

[2016-05-04 16:25] CorbanR commented on #15715
After a little bit more research this is very similar to https://github.com/ansible/ansible/issues/14324.

When will that patch be released?

[2016-05-04 16:29] alikins commented on #15719
docsite/rst/intro_configuration.rst needs a 'added_in' note about local_tmp, that would help avoid confusion.

[2016-05-04 16:29] aholbreich commented on #15719
Ok, yes confusing... But thank you. Now i know...

[2016-05-04 16:30] aholbreich commented on #15719
I can try...

[2016-05-04 16:33] alikins commented on #15719
Don't worry about it, I'm updating the docs at the moment.

[2016-05-04 16:35] aholbreich commented on #15719
Ok! ;)

[2016-05-04 16:59] MichaelBaydoun commented on #15669
I found a memory/cpu issue with one of our hosts, and the ansible debug run noted the out of memory condition.  However, since this issue is effecting 12 other windows servers (since I started tracking it), let's keep this open and see what else I can find.

I'll check the version of WMF on the servers in question, and look for the hotfix mentions if they are running 3.0.  Thanks for the suggestio

[2016-05-04 19:24] abadger commented on #15694
First bad commit is 6eefc11c3954cbdd2f439c0fad0b9527461b4383

Assigning to @jimi-c to take a look at.

[2016-05-04 19:35] abadger commented on #15695
bcoca clarified in slack that we do need to favor backwards compatibility over setup module cleanliness.  @robinro, I don't know if you have some ideas for making the two co-exist or if it means you want to abandon this part of making things more standardized.  (Feel free to close this ticket if it no longer appleis).

[2016-05-04 19:58] ngrilly commented on #4870
I'd like this too for the same use case as @ktosiek, which is running database migrations.

[2016-05-04 20:35] CorbanR commented on #15715
There seems to be another regression.. when including a task and the included task has .. something like

[code]

you get

`atal: [localhost]: FAILED! => {"failed": true, "reason": "no action detected in task. This often indicates a misspelled module name, or incorrect module path.\n\nThe error appears to have been in 'REDACTED': line 84, column 3, but may\nbe elsewhere in the file depending on th

[2016-05-04 20:36] CorbanR commented on #15715
Both issues I mentioned seem to only be a problem when using `include: playbook.yml`

[2016-05-04 21:34] Excedrin commented on #15331
I setup ansible.cfg the same as earlier, with inventory/hosts containing exactly what you showed above and got the following results:

% ansible --version
ansible 2.0.1.0
  config file = /home/test/ansible_db/ansible.cfg
  configured module search path = Default w/o overrides

% ansible all --list-hosts
  hosts (2):
    server1.subdomain.domain.org
    myserver.subdomain.domain.org

So I'm still n

[2016-05-04 21:43] jimi-c commented on #15715
@CorbanR the patch above will be included in 2.1. If you've verified that patch fixes your issue, we can close this as a dupe.

[2016-05-04 22:04] jordy25519 commented on #12003
+1

[2016-05-04 23:28] richhx commented on #13876
Experienced this issue with ansible 2.0.2. I'm running ansible against a chef/centos-6.6 VM spun up through vagrant. Haven't tried the workaround as I'm also not sure if it's a valid fix.

EDIT: Tried the workaround and it still gives the same error.

[2016-05-04 23:31] kustodian commented on #15649
This shouldn't be closed, since this bug report isn't a bug in the `yum` module, but in core. This was also introduced with 2.1 because of item squashing changes. Everything worked in versions <=2.0.

[2016-05-05 00:10] setha45 opened #15732 "wait_for will not accept both port and path; should say so in documentation"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running ansible on CentOS Linux release 7.2.1511 (Core)
Managing a system on CentOS release 5.5 (Final)

##### SUMMARY
wait_for will not accept both port and path.  The documentation should note that restriction

##### STEPS TO REPRODUCE
Construct a playbook s

[2016-05-05 00:39] andy-zhangtao commented on #15721
I use raw and synchronize, these modules works fine. I use ansible2.1.0 test. It also works fine.

ansible/centos7-ansible:latest is the official image? Should I build it myself?

[2016-05-05 02:03] andy-zhangtao commented on #15721
I get the below error. It seems the python has some wrong configure in remote machines.

[code]

[2016-05-05 02:04] stephenrlouie commented on #13818
Hi all, I ran into similar issues in the reference I made in the *kubernetes/contrib* PR. New to ansible but this is what I found out today.

I have 3 levels of play books.
1. Cluster wide playbooks
2. Service orchestration playbooks
3. Service worker playbooks

For example level 1. `master-install.yml` will call `install-etcd.yml` (and other service orchestration playbooks), Then level 2. might c

[2016-05-05 05:36] abadger commented on #15703
It's some difference in the configuration on the centos-7 box that is different than the Debian 8 box.  If you are logging in as the vagrant user then perhaps the .bashrc is sourced on login on the centos box but not the Debian box and the sudo su - is waiting for user input.  Or perhaps sudo is setup differently on the Centos-7 box which is causing sudo to hang when it is run in our non-interacti

[2016-05-05 05:36] #15703 closed, assigned to nobody

[2016-05-05 06:09] andy-zhangtao commented on #15721
@alikins  I use file module re-test. It also has this issue.

[code]

I get two version(2.1.0 and 2.2.0) of the file(the file module script in remote machines).

2.1.0 create folder directly, however 2.2.0 create another python script(ansible_module_file.py in the /tmp folder), then use that script to create folder.

When python use

[code]

Although module save the script path, but python still c

[2016-05-05 06:11] nrser commented on #13570
um, so... jinja doesn't install a package it depends on? what's going on here? ran into the same issue

[2016-05-05 06:30] staticfloat commented on #14655
My solution to this problem is to just save the default `PATH` in a variable first, e.g.:

[code]

This is a little more verbose, but is simple and works.

[2016-05-05 06:51] weldpua2008 opened #15733 "Install ansible inside virtualenv"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

lsb_release -a

[code]
##### SUMMARY

I am trying to install Ansible at vitrualenv. I tried do this until 2.0.0.0 and it worked.
I tried install ansible 2.0.0.0, 2.0.0.1, 2.0.0.2, 2.0.1.0, 2.0.2.0 but got same error.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

ansible 2.0.X
##### AC

[2016-05-05 07:27] robinro commented on #15695
Thanks for the input. With backwards compatibility one is restricted a lot more, but I would leave this open and maybe do more cleanup in the future. One approach would be to at least change the parsing order to try the sane stuff (lsb/os-release) first and fall back later (now the order is historic, but relevant to get the correct output). This is not a priority for me, so it might take some time

[2016-05-05 08:20] andy-zhangtao commented on #15721
I modify executor/module_common.py. change

[code]

to

[code]

It seems has some effect. Now the error change to :

[code]

/opt/bin/python is my coreos python path.

[2016-05-05 11:48] emmetog commented on #9065
I'm bumping into this too. In my case I have a role which installs vhosts. I set the details for the multiple vhosts as an array in my inventory for the server groups, in other words each group can have multiple vhosts. This works well, I define the vhosts for each group and everything seems neat and tidy. The problem comes up when the host is in more than one group, in that case the vhost array i

[2016-05-05 11:52] philipwigg commented on #9065
By the way, @srvg, thank you for taking the time to respond to me - it was much appreciated and has clarified my understanding.

[2016-05-05 12:57] host-anshu commented on #14848
Hey Guys!

Could you take a look at [this tool](https://github.com/host-anshu/lint-playbook) I'm creating and share your feedbacks or suggestions. TIA

[2016-05-05 13:20] zeldigas commented on #15679
Ok, it seems that if I want to use ansible 2.0 I need either to upgrade python version or set validate_certs=false.

Thank you!

[2016-05-05 13:30] jordiclariana opened #15735 "start-at-task does not work with tasks inside an include within a role"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
roles_path = roles
##### OS / ENVIRONMENT

Ubuntu 15.10 and/or 14.04
##### SUMMARY

The switch `--start-at-task` for `ansible-playbook` does not work when specifying a task name that is inside a _task file_ included in a role.
##### STEPS TO REPRODUCE

Executing this:
`ansible-playbook -i localhost, -c loca

[2016-05-05 13:31] indistinctTalk commented on #14655
@staticfloat, nice, I like that.

[2016-05-05 14:13] alikins commented on #15733
Could you include a log of the output from the 'pip install' command?

`virtualenv --no-site-packages --prompt="ansible" ${venv_name:-venv}`

That creates a virtual env called ansible_2x_virt_env

`ansibleroot@[RDE1.3]:~/venv# ansible --version`

`Traceback (most recent call last):
  File "/root/venv/ansible_virt_env/bin/ansible", line 75, in <module>
    from ansible.cli.adhoc import AdHocCLI as

[2016-05-05 14:17] bcoca commented on #15733
# List Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allo

[2016-05-05 14:17] #15733 closed, assigned to alikins

[2016-05-05 14:40] nomasprime commented on #9827
Thanks @glejo, it's touched on in Loops but couldn't find proper docs for this.

[2016-05-05 14:43] abadger commented on #15649
After having looked at the associated PR and this bug... the bug itself could be fixed by having a try: except around squashing.  If any exceptions are thrown, do not squash.  That's a simple change because squashing is simply an optimization (one that we're discussing whether to deprecate since users can give the field a list [ using filters to construct the list if necessary ] instead of relying

[2016-05-05 14:47] jamesvader opened #15737 "win_acl: setting user permissions issue"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Getting error shown below when trying to change user permissions using win_acl
TASK [role1 : set permissions for IIS_IUSRS] *************************
fatal: [hostMachine]: FAILED! => {"changed": false, "failed": true, "msg": "an exception occured when

[2016-05-05 15:25] snoopdouglas commented on #14667
For those coming here when getting exactly this issue with the **DigitalOcean** dynamic inventory script, make sure your API token is set.

[2016-05-05 16:04] jimi-c commented on #11692
@badbishop the fix will be included in 2.1.

[2016-05-05 16:29] jhawkesworth commented on #15737
Hi, please can you re run with -vvvvvv to get the full,exception message.

[2016-05-05 16:31] ghost opened #15739 "Using the word "path" as a variable name makes file module go boom"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

10.11.4 (15E65)
##### SUMMARY

You get the following error when you use the word "path" as a variable name for the file module: `dict object' has no attribute 'path'.`Changing the variable name to anything else causes this code to run nominally.
##### STEPS TO REPRODUCE

Task:

[code]

R

[2016-05-05 17:27] ebmarquez opened #15740 "Unable to set VLAN Name using nxos_template"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CISCO VERSION

[code]
##### CONFIGURATION

FileTree

[code]

site.yml

[code]

host_vars/bmc.yml

[code]

roles/bmc/tasks/main.yml

[code]

roles/bmc/templates/create_int_vlan.j2

[code]
##### OS / ENVIRONMENT

`Linux Ansible21 4.2.0-16-generic #19-Ubuntu SMP Thu Oct 8 15:35:06 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`
##### SUMMARY

[2016-05-05 17:27] jamesvader commented on #15737
<myMachine> WINRM EXEC u'PowerShell' [u'-NoProfile', u'-NonInteractive', u'-ExecutionPolicy', u'Unrestricted', u'-EncodedCommand', u'UwBlAHQALQBTAHQAcgBpAGMAdABNAG8AZABlACAALQBWAGUAcgBzAGkAbwBuACAATABhAHQAZQBzAHQACgBUAHIAeQAKAHsACgAmACAAIgBDADoAXABVAHMAZQByAHMAXABkAHMAbABhAG0AbwB3AGkAdAB6AFwAQQBwAHAARABhAHQAYQBcAEwAbwBjAGEAbABcAFQAZQBtAHAAXABhAG4AcwBpAGIAbABlAC0AdABtAHAALQAxADQANgAyADQANgA5ADAAOAA

[2016-05-05 17:47] nitzmahone commented on #15728
# Question About This One

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

You're wanting to turn something that (IMHO) the vast majority of people would consider a fairly major

[2016-05-05 17:47] #15728 closed, assigned to nobody

[2016-05-05 17:53] setha45 opened #15741 "If managed system reboots, shell module does not return rc value; documentation should say so"
##### ISSUE TYPE
Documentation Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Running ansible on CentOS Linux release 7.2.1511 (Core)
Managing a system on CentOS release 5.5 (Final)

##### SUMMARY
If managed system reboots, shell module does not return rc value; documentation should say so

##### STEPS TO REPRODUCE
**Note that Ansible i

[2016-05-05 19:19] ghost opened #15742 "package module doesn't parse with_items for openbsd_pkg"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

OpenBSD 5.9-current
##### SUMMARY

Can't install multiple packages with the `package` module when using a `with_items` construct on OpenBSD.

Individual packages install fine.
Using the `openbsd_pkg` module directly works fine
##### STEPS TO REPRODUCE

Run the

[2016-05-05 19:23] trentondyck commented on #15636
Did you try all four cases? It doesn't make sense no matter what language you're using.  Takes two minutes to repro all four of these.

[2016-05-05 19:35] kmadac commented on #15399
+1
Same experience in 2.0.2.0

[2016-05-05 19:42] fwisehc commented on #11031
+1

[2016-05-05 20:46] gaieges commented on #15408
Seeing something very similar with:

[code]

My code looks slightly different, but I believe hitting the same bug:

[code]

Commenting out the `refresh_inventory` task seems to allow the task block to work properly.  This has similar effects for any action after the `refresh_inventory`task (ie roles, post_tasks).

I however, couldn't get the workaround described above to work (using wildcard in th

[2016-05-05 20:55] nathanielks commented on #13962
+1, same thing is happening to me.

[2016-05-05 21:44] larsks opened #15744 "in 2.0.1.0 and later, skipped plays impact gathering=smart"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When `ANSIBLE_GATHERING` is `smart`, a skipped play targeting a
particular host will cause Ansible to not collect facts for that host.
##### STEPS TO REPRODUCE

Use this playbook:

[code]

Compare:

[code]

With:

[code]

In version 2.0.0.0, you will see:

[code]

But in

[2016-05-05 22:02] cThrice opened #15745 "Scope issue with Playbook level includes"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[ssh_connection]
timeout = 5
ssh_args = -o ControlMaster=auto -o ConnectTimeout=3
[defaults]
gathering = no
DISPLAY_SKIPPED_HOSTS=0
host_key_checking = false
roles_path = externals/roles
forks = 20
##### OS / ENVIRONMENT

Ansible ran from a RHEL 6 box
Manages RHEL 6 boxes
##### SUMMARY

Playbook level includes (inclu

[2016-05-05 23:23] nitzmahone commented on #15740
cc @Qalthos @privateip - not sure if this belongs against ansible-modules-core or if this is a module_utils issue...

[2016-05-05 23:34] nitzmahone commented on #15742
This is arguably a shortcoming of openbsd_pkg not supporting "squashed" args (an optimization that allows multiple packages to be installed at once in a single package manager transaction). All the other package modules support that, and package is a delegating wrapper over them.

[2016-05-05 23:36] drzraf commented on #14781
The same happens for `Specifying include variables at the top-level of the task is deprecated`
I had to patch `playbook/task.py` ~ line 213 and raise an error in order to see which snippet was wrong!

[2016-05-05 23:37] nitzmahone commented on #15742
A temporary workaround for this would be disable support for the package module's squash support by adding the following to ansible.cfg (under [defaults] section):

[code]

This should leave the "squash" behavior enabled for all other package managers while removing `package` from the list.

[2016-05-06 01:10] drzraf opened #15746 "delegate_to: ignores when:"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_to

##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

N/A
##### SUMMARY

delegate_to: ignore when:
More specifically delegate_to is evaluated before when could even skip the task.
##### STEPS TO REPRODUCE

[code]

(In my case  delegate_to was a variable [the IP of a "master" node], I had hard time figuring out wha

[2016-05-06 03:00] larsks commented on #15744
@jimi-c This appears to have been introduced by 5587b08335f223fff64f54ced6f2790b3d6ee6f0.

[2016-05-06 03:43] larsks commented on #15744
I think the solution is to _not_ set `gathered_facts=True` in `_get_next_task_from_state` unless there are tasks to be executed.  For `devel`, I think that means:

[code]

And for 2.0.1.0 I think that means:

[code]

These changes seem to result in the appropriate behavior.

[2016-05-06 03:49] larsks commented on #15744
With the above patch in place, running the above reproducer correctly results in:

[code]

[2016-05-06 05:57] TuringZhu opened #15748 "UnicodeDecodeError"
##### ISSUE TYPE

Bug Report
##### COMPONENT NAME

action plugin
##### ANSIBLE VERSION

N/A
##### SUMMARY

---

I find that when stdout contains chinese, it throw  UnicodeDecodeError Error.
If I comments this line, it is OK.

[code]

---

the command line out put:

[code]

[2016-05-06 08:11] bmillemathias opened #15749 "promox: Cannot create nodes when assigning parameter ip_address"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I've updated the proxmox modules to 2.1
##### OS / ENVIRONMENT

[code]
##### SUMMARY

I cannot create an node (lxc) when setting the `ip_address` parameter, If I remove this parameter the node can be created successfully.
##### STEPS TO REPRODUCE

This playbook works

[code]

This playbook doesn't work

[code]

I alos

[2016-05-06 08:46] jhawkesworth commented on #15737
Thanks for the -vvvvv output.  Unfortunately it was less useful than I'd hoped.

What version of windows are you targeting?

[2016-05-06 10:32] doertedev opened #15751 "Apt upgrade: "full" not bothering held packages."
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[defaults]
timeout = 120
transport = ssh
sudo_flags = -E -H
host_key_checking=False
private_key_file=~/.ssh/id_ed25519
inventory=hosts/ec2.py
pipelining=False
hash_behaviour=merge
callback_plugins = callback_plugins
filter_plugins = filter_plugins
action_plugins = action_plugins
library = modules
roles_path = roles
re

[2016-05-06 10:58] doertedev commented on #15751
TIL: https://github.com/ansible/ansible-modules-core/blob/devel/packaging/os/apt.py#L608

apt-get dist-upgrade is being done by upgrade: "dist" (what I wanted to do).
upgrade: "full" does an aptitude full-upgrade, which ignores held packages.

Closing.

[2016-05-06 10:58] #15751 closed, assigned to nobody

[2016-05-06 11:04] snoopdouglas opened #15752 "Add support for DigitalOcean tags to external inventory script"
##### ISSUE TYPE
- Feature Idea
##### COMPONENT NAME
digital ocean dynamic inventory script

##### ANSIBLE VERSION

n/a
##### CONFIGURATION

n/a
##### OS / ENVIRONMENT

n/a
##### SUMMARY

Support DigitalOcean's new tags feature in the inventory script with a new CLI option, auto-generated groups, and returned host-specific variables.

n.b.: tags are currently only available as a feature in DO's AP

[2016-05-06 11:14] snoopdouglas commented on #15752
I've realised we'll also need this in dopy (see the above reference).

[2016-05-06 13:19] jctanner commented on #15746
It seems that the traceback is not the problem because it's properly failing to split a bool value. The real issue is that delete_to shouldn't be evaluated at all until the conditional is met?

[2016-05-06 13:20] jctanner commented on #15749
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

On September 26, 2014, due to enormous levels of contribution to the project Ansible decided to reorganize module repos, making it easier
for developers to work on the project and for us to more easily manage new contributions and tickets.

We split modules from the main project off into two repos, http://github.

[2016-05-06 13:20] #15749 closed, assigned to nobody

[2016-05-06 13:23] #15623 closed, assigned to jimi-c

[2016-05-06 13:23] jimi-c commented on #15623
As there has been no feedback, I've gone ahead and merged this in, as it fixes the reported issue. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questi

[2016-05-06 13:26] drzraf commented on #15746
indeed.
(although the `delegate_to:` error is rather cryptic)

[2016-05-06 14:52] richard-scott commented on #15703
ah, it seems that Debian have this in their .bashrc:

[code]

That then ensures the rest of the .bashrc file is skipped on Debian.
CentOS does not have this, so tries to parse the .bashrc file and that is what causes problems.

[2016-05-06 15:15] abadger commented on #15211
#15717 has been merged so this should now be fixed in both the devel and stable-2.1 branches.

[2016-05-06 15:15] #15211 closed, assigned to nobody

[2016-05-06 16:21] calicojck opened #15753 "Accessing a dictionary using {{ vars['dictname'] }} doesn't interpolate variables in the dictionary elements"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing
##### OS / ENVIRONMENT

Running from and managing Linux
##### SUMMARY

When accessing a dictionary using {{ vars['dictname'] }} instead of {{ dictname }}, variable interpolation in the dictionary values doesn't work.
##### STEPS TO REPRODUCE

Here is a playbook that recreates the pr

[2016-05-06 16:32] mtlynch opened #15754 "unarchive module fails with "No such file or directory" on OS X - El Capitan nodes"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Control: Ubuntu 14.04
Node: Mac OS X El Capitan
##### SUMMARY

Unarchive fails with "No such file or directory" when the target node is an OS X - El Capitan machine. I can run the same command against an Ubuntu 14.04 node and it works fine. If I reimplement the module via shell commands,

[2016-05-06 17:52] nomasprime commented on #14946
Any chance of cleaning up the issue so can read the code?

I'm having a problem with https://gist.github.com/habitullence/d4ed3999fb5fbe99a66d11b2ad16190d. Where I get a recursive loop in template string error. As soon as I flatten the vars, i.e, no nginx:, it works.

Is this the same issue?

[2016-05-06 19:21] jamesvader commented on #15737
Windows Server 2012

[2016-05-06 20:18] bcoca commented on #15754
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-05-06 20:18] #15754 closed, assigned to nobody

[2016-05-06 21:25] TheFrozenFire commented on #14655
I've been fighting this too. This change to make the environment section execute for the setup phase should be reverted with a prejudice. It causes more regressions than it's worth.

My solution has been to simply execute a no-op task on the same hosts before the play with the environment section. This ensures that the setup phase has run before the actual setup phase is run (yo dawg).

[2016-05-06 22:05] dacjames commented on #15476
👍 We would greatly prefer handlers to be flushed at the end of a role, instead of during each stage in a play.

We develop and test roles independently, with roughly one role per service that we deploy. Then, if we want to install two services on one server, we build a playbook that selects the host(s) and includes two roles. When role A finishes, we expect service A to be fully configured, includ

[2016-05-06 23:56] skyzyx opened #15760 "Support AND for limits"
We are using dynamic tags for Google Cloud. Sometimes, hosts end up being covered by multiple matching tags.

I'm looking for functionality that will allow me to only match hosts which are a cross-section (AND) of two groups, instead of matching hosts that are from either group (OR) when passing group names to `--limit`.

[2016-05-07 00:05] sivel commented on #15760
This is discussed at http://docs.ansible.com/ansible/intro_patterns.html

[2016-05-07 00:05] #15760 closed, assigned to nobody

[2016-05-07 00:49] tbenst commented on #15695
Would love to see this. In Debian Stretch (Testing), I get the same problem as #10445. Any workarounds for now?

[2016-05-07 01:06] nhooey commented on #7353
@jimi-c: There appears to be a [regression](https://github.com/ansible/ansible/issues/14438) of this bug in between at least Ansible 2.0.0.2 and Ansible 2.0.2.0.

[2016-05-07 01:07] nhooey commented on #14438
I can confirm this behaviour in Ansible 2.0.0.2 and Ansible 2.0.2.0.
@jimi-c, @mpdehaan

[2016-05-07 04:44] winger007 opened #15761 "Ansible didn't report clear error reason on remote target"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

ansible 1.9.6
  configured module search path = None
##### CONFIGURATION

/etc/ansible/ansible.cfg
[defaults]
forks = 100
inventory = /etc/ansible/hosts
pipelining = True
host_key_checking = False

 /etc/ansible/hosts
[test1]
192.168.200.1
[test2]
192.168.200.2
##### OS / ENVIRONMENT

localhost CentOS Linux release 7.2.1511 (Core)
192.168.200.1

[2016-05-07 04:47] winger007 commented on #15761
seems test1 didn't run PUT command successful?

[2016-05-07 17:40] robinro commented on #15695
@tbenst use the ansible_lsb_\* variables if you have a working lsb setup.

Other than that: consider to submit a PR. I'd be glad to help.

[2016-05-07 18:54] vuliad opened #15765 "Error while connecting from one ansible host to another"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no specific
##### OS / ENVIRONMENT

Linux version 3.19.0-32-generic (buildd@lgw01-43) (gcc version 4.8.2 (Ubuntu 4.8.2-19ubuntu1) ) #37~14.04.1-Ubuntu SMP Thu Oct 22 09:41:40 UTC 2015
##### SUMMARY

While migrate ansible from one host to another and trying to test by simpli ping host1->host2

[2016-05-07 18:59] martingabelmann opened #15766 "ansible-pull ignores ansible_python_interpreter from inventory"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ansible-pull

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
ansible-pull seems not to respect the `ansible_python_interpreter` variable defined in the groupvars and just run scripts with   `/usr/bin/python`.

##### STEPS TO REPRODUCE
Set in `inventory/group_vars/all`
[code]
run an arbitrary play on the loc

[2016-05-07 20:29] mpettigr opened #15767 "lineinfile: Feature Idea: Add 'count' option to select the desired line among a number of duplicate lines"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
lineinfile module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
lineinfile will only replace the last occur of the regex.  This doesn't provide a solution for cases where there are duplicate lines and you want to replace the line that is not the last occurrence.
The feature suggestion is to add a COUNT

[2016-05-07 23:38] m-wynn commented on #15681
I've also encountered this issue.  I have also created a [testcase](https://github.com/m-wynn/ansible-test-case) which demonstrates this.

[2016-05-08 01:51] gamename commented on #15735
+1

[2016-05-08 03:08] sidcarter commented on #14438
I can confirm this behaviour with Ansible 2.2.0 too.

[2016-05-08 07:05] pm5 opened #15768 "`ansible_os_family` variable no longer defined on OS X"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

None.
##### OS / ENVIRONMENT

OS X El Capitan Version 10.11.4
##### SUMMARY

`ansible_os_family` is no longer defined in the `devel` branch.  I'm not sure if this variable is due to change (can't find any information of that), but there is still some [code](https://github.com/ansible/ansible/blob/devel/lib/ansible/mod

[2016-05-08 07:38] kvz commented on #13876
2.0.2.0 fixed this for me

[2016-05-08 10:19] aabdnn opened #15769 "Playbook run hangs in easy_install / pip modules"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ANSIBLE_GATHERING=smart
ANSIBLE_HASH_BEHAVIOUR=merge
ANSIBLE_REMOTE_TEMP=/tmp
ANSIBLE_RETRY_FILES_ENABLED=no
ANSIBLE_SSH_PIPELINING=yes
ANSIBLE_TRANSPORT=local
##### OS / ENVIRONMENT

Ansible is running on the remote host using the local transport, as specified by ANSIBLE_TRANSPORT. The remo

[2016-05-08 11:18] ingvagabund commented on #13401
Confirming setting `ANSIBLE_SCP_IF_SSH=y` works.

Running  on `Fedora 23` with `ansible-2.0.2.0`

[2016-05-08 15:12] robinro commented on #15768
1) Are the distribution_\* variables filled? What's the content?
2) Does 2.1 work correctly?

[2016-05-08 15:17] ZahiCahana opened #15770 "Powershell scripts that use Start-Job fail on Ansible 2.0+"
##### ISSUE TYPE

- Bug Report

[dacpac.txt](https://github.com/ansible/ansible/files/253976/dacpac.txt)
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

task that work in ansible 1.9.4 not working in 2.0
(TASK [dbonline : Run dacpac on Infra_Telephony, JajahCore, jajah, jajahccsc, jajahbilling, JajahSupportTool DBs] ***)

failed with error below
failed: [r

[2016-05-08 15:42] winger007 commented on #15761
I dig out the ansible can't execute any commands on  target which install nvm 0.31.0
Because nvm will generate two configs in ~/.bashrc:

[code]

This will mess the reply up.
I have moved these config from ~/.bashrc to  ~/.bash_profile to work around this issue.

[2016-05-08 16:43] jhawkesworth commented on #15770
Ansible 2.0 enforces powershell strict mode for windows modules, this is the most likely cause of your failures.  See https://technet.microsoft.com/en-us/library/hh849692.aspx?f=255&MSPPError=-2147217396

Once you have modified your code for compliance with strict mode, if you still having problems, please ask on the ansible-project google group or #ansible irc channel.

Closing this so we can kee

[2016-05-08 19:43] lberruti commented on #12239
In order to monitor progress on this issue, I've create a small test env. It's avaiable here: https://github.com/lberruti/ansible-speedtest.

Here the results: https://gist.github.com/lberruti/1340c583e6bfbc38843df0153a573e51

[2016-05-09 00:57] mauricios commented on #11175
👍

[2016-05-09 01:33] lig commented on #14655
@bcoca That is what I was talking about. There are two actual phases: Audit and Setup. As for now Ansible does Audit as part of Setup. It looks like it is error prone and the change breaks the compatibility with a lot of playbooks out there.

Logically if the Audit phase is implicit then its results should be available in setup. That how things used to work. If now we cannot use audit results in s

[2016-05-09 01:36] lig opened #15771 "Consider reverting breaking change from 2.0.1.0."
There is a bug report #14655. It looks like Setup task became less useful and less handy than before that change.

Please consider reverting the change and developing a better solution.

[2016-05-09 01:46] #15771 closed, assigned to nobody

[2016-05-09 01:52] gregsymons commented on #15409
Assuming I read the playbooks right, I think the problem, at least for 2.0.1.0, seems to be that variables from previous runs of the role are allowed to bleed into later runs. I have some playbooks that have only be run using 1.9.x that do multiple includes of the same role, and conditionals within the roles are being executed with previous values of the variables used in the condition. I can't sp

[2016-05-09 04:41] TuringZhu opened #15772 "[WARNING]: ansible_winrm_scheme unsupported by pywinrm (is an up-to-date version of pywinrm installed?)"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
- 1 group_vars

[code]
- 2 ansible hosts

[code]
- 3 pywinrm version

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

I want to ping windows server by ansible module win_ping using 5985 port
but get an warning of pywinrm unsupporting ansible_winrm_scheme
##### STEPS TO REPRODUCE

[code]

use date command just to

[2016-05-09 05:05] pm5 commented on #15768
1) No, none of the `distribution_*` variables show up.  `ansible_distribution` and `ansible_distribution_version` are not defined.
2) Both `distribution_*` and `os_family` work as before in 2.1.

[2016-05-09 05:47] JohanTan commented on #14426
Is there an equivalent command on ubnutu 14.04? Happening to us as well

[2016-05-09 06:23] robinro commented on #15768
What is the output of `python -c "import platform; print(platform.system());"`?
Maybe you can run/debug the corresponding code yourself? I don't have a Mac system available here. If you don't have/want the full development setup you can just modify your installation and debug via setting additional variables like `facts['distribution_debug']`.

The codepath should be the elif at L674, and get_dist

[2016-05-09 06:35] #15772 closed, assigned to nobody

[2016-05-09 08:08] pm5 commented on #15768
`python -c "import platform; print(platform.system());"` returns `Darwin`.

Judging from [L655](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts.py#L655), `get_distribution_facts` never gets run on OS X.  However if I add a clause in `populate` to run `get_distribution_facts`, Ansible complains about:

[code]

So I ended up fixed it as in the pull request.

[2016-05-09 08:13] ZahiCahana commented on #15770
thanks
i forgot to tell that i set in all relevant places (powershell.ps1
,powershell.oy) , winrm.py - Set-StrictMode -Off  and it still happens.

Best regards
zahi

On Sun, May 8, 2016 at 7:44 PM, jhawkesworth notifications@github.com
wrote:

[2016-05-09 08:38] ZahiCahana commented on #15770
hi,
i also saw the in your modules (win_get_url.ps1 ,win_acl.ps1
 ,win_environment.ps1 ,win_iis_webbinding.ps1
,win_scheduled_task.ps1,win_unzip.ps1) you set it to off so why we can't do
it to our code?

thanks
zahi

On Sun, May 8, 2016 at 7:44 PM, jhawkesworth notifications@github.com
wrote:

[2016-05-09 08:46] fwilhe commented on #14427
I'm not sure if ansible should install the package without asking, but I do think that the error message is not helpful. `NameError: global name 'util' is not defined` does not give a clue about the problem. Would it be possible to catch such cases and give better hints about the problem?

[2016-05-09 11:06] jimmcl400 opened #15775 "Unable to install repo"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible running on Debian 8.
##### SUMMARY

Trying to deploy epel repo to different clients
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The repo should have installed but fails
##### ACTUAL RESULTS

ok: [test] => {"cache_update_time": 0, "cache_updated": false, "changed": false,

[2016-05-09 11:53] quenode commented on #14578
Hi guys 2.0.0.2 happens with
when using fish as shell default.

`prod.m4you> SSH: ansible.cfg set ssh_args: (-F)(/hostsshkey)
<prod.m4you> SSH: ANSIBLE_HOST_KEY_CHECKING/host_key_checking disabled: (-o)(StrictHostKeyChecking=no)
<prod.m4you> SSH: ansible_password/ansible_ssh_pass not set: (-o)(KbdInteractiveAuthentication=no)(-o)(PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publ

[2016-05-09 12:16] manuel-sousa opened #15776 "Diff doesn't produce any output for template when using with_items, with_subelements, with_fileglob"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

ansible 2.0.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### CONFIGURATION

Default package configuration (no settings)
##### OS / ENVIRONMENT

Ubuntu 15.10
##### SUMMARY

Diff doesn't produce any output for template when using with_items, with_subelements, with_fileglob

That information

[2016-05-09 12:17] manuel-sousa commented on #15776
This might be related to #15492

[2016-05-09 12:47] dbarrosop opened #15777 "Ansible fails to delete temporary files when passing --diff"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Linux
##### SUMMARY

If you pass the `--diff` option and there is a change on the file some temporary files are not deleted.
##### STEPS TO REPRODUCE

Using a playbook like the following:

[code]

Execute:

[code]

On the host:

[code]
##### EXPECTED RESULTS

`tmp` folder should be empty

[2016-05-09 13:43] simlin-so4it opened #15778 "Run plays against more then one required group"
##### ISSUE TYPE

Feature Idea
##### ANSIBLE VERSION

2.0.1.0
##### OS / ENVIRONMENT

N/A
##### SUMMARY

I want to be able to run a play against a host that is part of two group and only when the host I part of both group. The background to this is that I'm writing a lot of different group with 6 different level of groups that most machines have to instance metadata in Openstack. And this metadata

[2016-05-09 13:59] #15768 closed, assigned to abadger

[2016-05-09 14:03] bcoca commented on #15778
You can already do this:

[code]

http://docs.ansible.com/ansible/intro_patterns.html

[2016-05-09 14:03] #15778 closed, assigned to nobody

[2016-05-09 14:08] alikins commented on #15761
Would it be possible to try to reproduce this with the current devel branch or the recent 2.1 release candidate (https://github.com/ansible/ansible/releases/tag/v2.1.0.0-0.1.rc1) ?

[2016-05-09 14:10] alikins commented on #15761
Are the escape codes shown here from nvm output on login?

[code]
[code]

[2016-05-09 14:15] rmauc opened #15779 "Ansible Tower Install - /var"
##### ISSUE TYPE

- Documentation Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Installing Ansible Tower from and to RHEL7
-->
##### SUMMARY

Trying to install Ansible Tower for 30 day trial... I don't have 10G free in /var - but I will create a mount point with 10G - what should I mount? /var/???

Nice if this was updated here: http://docs.ansible.com/ansible-t

[2016-05-09 14:43] alikins commented on #15765
(This comment is just a re-paste of error with easier to read formatting)

[code]

[2016-05-09 14:52] alikins commented on #15765
Wondering if this is a variant of 487e6562ca30c6097e54766ca53fb775a939c2ae.

Two pieces of info that would help.

1) Verify this with the latest 2.1 rc https://github.com/ansible/ansible/releases/tag/v2.1.0.0-0.1.rc1  (If that wasn't what was already tested).

2) run this with
`ANSIBLE_KEEP_REMOTE_FILES=1 ansible -vvvvv host2 -m ping`
The output there will include  a line like:

`EXEC /bin/sh -c '

[2016-05-09 15:16] sivel commented on #15761
I can reliably reproduce this.  I have a proof-of-concept fix at https://github.com/ansible/ansible/pull/15337

[2016-05-09 15:28] dregin commented on #13876
Still seeing this in 2.0.2.0 when hitting Docker for Mac Beta containers.

Setting ansible_user=root in the inventory has worked around this issue for me.

[2016-05-09 15:29] i5513 commented on #13944
I had to use your workaround env var: ANSIBLE_RETRY_FILES_ENABLED=1, without it , it didn't work.

But I have

[code]

On ansible.cfg

I have ansible-2.0.2.0-1.el6.noarch

Thank you

[2016-05-09 15:30] alikins commented on #15766
I think 'ansible-playbook' is doing the right thing, but before the exec of 'ansible' itself doesn't know to look at group vars.

The 'ansible' exec is used to invoke the git task to checkout the playbook repo, so happens before the playbook has been read. So it doesn't know about the ansible_python_interpreter being set in the playbook. Specifying it with '-e'
works, because that is used before f

[2016-05-09 15:40] sivel commented on #15779
For Tower issues please reach out to Ansible Tower support at https://support.ansible.com/ or support@ansible.com.

This project is for the open source ansible project, and not Tower.

[2016-05-09 15:40] #15779 closed, assigned to nobody

[2016-05-09 15:48] alikins commented on #15767
Have an example where this could be used?
Can the 'backrefs' option be used for those cases?

If I understand correctly, count would be an index into the list of matches. Maybe something like 'match_index'?

[2016-05-09 15:50] bcoca commented on #15766
do you have localhost in the inventory? are the group vars applied to it?

ansible-pull targets localhost or the 'locally resolved' fqdn, so for vars to apply you need to match one of those.

[2016-05-09 15:50] alikins commented on #15766
Also, what is the scenario that 'ansible-pull' works with default python, but 'ansible' does not and requires a different python?

[2016-05-09 16:04] jctanner opened #15783 "Module loader doesn't allow for symlinks under modules/"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

Under lib/ansible/modules/, directories are traversed with os.walk. If the directories are not symlinks, they will be returned as possible module locations. If the directories are symlinks, os.walk ignores them and prevents usage of the modules found below.
##### STE

[2016-05-09 16:38] vuliad commented on #15765
1) Yes - ansible version on host1 is latest rc.

2)
Same error here:

[code]

Ansible version on host2 is v2.0.0.0-1, after i update it to latest rc - it works as expected.

[2016-05-09 16:39] bcoca commented on #15777
dupe of #14917

[2016-05-09 16:39] #15777 closed, assigned to nobody

[2016-05-09 16:45] doanerock opened #15785 "user module should delete by UID not name"
##### ISSUE TYPE
- Feature Idea
  user module should delete by UID not name, or at least make it possible to key off the UID instead of just he name
##### ANSIBLE VERSION

ansible 1.9.4
##### OS / ENVIRONMENT

CentOS release 6.7 (Final)
##### SUMMARY

I am trying to clean up a username issue, that is a mess.  Currently there are two names, but ansibile is not able to delete any of them because it

[2016-05-09 16:48] MichaelBaydoun commented on #14456
I figured out what's happening here, but not how to fix it.  There is a flaw in the smart fact gathering design.

At the start of a multi-play playbook run such as the typical site.yml, if previously cached facts have not expired, they will not be regathered.  Then, if they expire later during the playbook run, no attempt is made to refresh them, and the undefined variable error occurs.

From the

[2016-05-09 17:08] bcoca commented on #15785
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-05-09 17:08] #15785 closed, assigned to nobody

[2016-05-09 17:11] pcastellazzi commented on #15409
Sorry i was not clear enough. Variable bleeding is an issue, yes, but that's not what i meant with inconsistent. i.e.: With ansible 1.9.6 test1.yml run role1 4 times, the same as test3.yml, but test2.yml run it 3 times, even with `allow_duplicates: yes`.

It's my understanding that each unique role should be executed once, and a unique role include its parameters. A call to `{role: rol1, a: 1}` it

[2016-05-09 17:19] ghost opened #15786 "tags not validated"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Stock
##### OS / ENVIRONMENT

Debian Wheezy Linux
##### SUMMARY

In 1.9, using a tag not present in a playbook would fail at start and present existing tags. In 2.0.1 and confirmed in 2.1, tags that aren't in playbook are ignored, playbook runs anyway.
##### STEPS TO REPRODUCE

git checkout

[2016-05-09 17:23] MichaelBaydoun commented on #14456
Changed issue title to more accurately reflect the issue, now that it's been identified.

[2016-05-09 17:35] jhawkesworth opened #15787 "Command line parsing of key=value arguments causes invalid Windows paths to be generated"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Defaut configuration
##### OS / ENVIRONMENT

Ansible on: Lubuntu 14.04
3.16.0-70-generic #90~14.04.1-Ubuntu SMP Wed Apr 6 22:56:34 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
LANG=en_GB.UTF-8
GDM_LANG=en_GB

Targeting: Windows Server 2012 R2
##### SUMMARY

When valid windows paths are supplied as command line arguments to

[2016-05-09 17:37] jhawkesworth commented on #15787
cc @nitzmahone - as previously discussed - I found an ansible-playbook reproducer too.

[2016-05-09 17:46] alikins commented on #15775
Note: I edited the original comment since most of it ended up inside html comments.

[2016-05-09 17:54] alikins commented on #15775
What was the command line invocation used?

The output posted appears to be from running a 'apt' task, so it's not clear how that is related to the epel role? This sounds like it may be best answered by the mailing list.
I'll add some info about the mailing lists.

[2016-05-09 17:54] alikins commented on #15775
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.
- IRC: #ansible on irc.freenode.net
- mailing list: https://groups.google.com/forum/#!forum/ansible-project

  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2016-05-09 17:57] #15775 closed, assigned to nobody

[2016-05-09 17:59] lucasrodes commented on #11141
I am having the same problem, but since I do not have root privileges I cannot simply install six. What should I do? Thanks!

[2016-05-09 18:01] MichaelBaydoun commented on #11921
@jklaiho are you using fact caching, and if so, what gathering strategy?

[2016-05-09 18:03] alikins commented on #15786
Just to be eliminate a variable, whats the  ansible command line that ./runs ./run ends up calling?

[2016-05-09 18:03] mundus08 commented on #15328
There seems to be a typo in mail.py. I changed 1 line no it works for me.

[code]

Additionally I removed to cc/bcc code as tries to send mails to None

[code]

[2016-05-09 18:07] alikins commented on #15786
What tags are being setup in the playbooks? ie, whats the output of '--list-tags'?

[2016-05-09 18:07] bcoca commented on #15776
dupe of #15492

[2016-05-09 18:07] #15776 closed, assigned to nobody

[2016-05-09 18:09] bcoca commented on #15492
from your examples, they all seem to be going to the same host, can you test against actually different hosts?

[2016-05-09 18:14] manuel-sousa commented on #15776
@bcoca - don't know if this is the same issue, probably it's the same base issue but it doesn't  require the delegate_to and affects other with_*.

I've run into this issue on regular playbooks (remote hosts) after I upgraded to ansible 2.0.

I've reproduced it on a fresh install with the example playbook. Do you want me to add any information on the other bug report since it's flagged as needing

[2016-05-09 18:16] bcoca commented on #15786
tag validation was removed due to dynamic imports making it impossible to know during playbook creation, I do have a task on my list to add a warning at the end of the run to show which tags were not matched/used.

[2016-05-09 18:24] #15783 closed, assigned to jctanner

[2016-05-09 18:38] aef opened #15788 "Security problems using short and long IDs in apt_key module"
To request OpenPGP certificates through short or long key IDs from keyservers is highly insecure and should at least be a cause for a warning, better yet, it should be disallowed. If a certificate is requested, the full fingerprint should be provided, anything less is easily spoofable because of neglectable effort to find collisions.

See the following for more information:
- https://www.godobject

[2016-05-09 18:45] ghost commented on #15786
Okay, how about making tag validation a config item? Won't most uses be without dynamic import?

./run script is simply ansible-playbook with -i inventory and playbook file.

[2016-05-09 18:54] aef opened #15789 "Allow keyserver options in apt_key module (especially for custom TLS X.509 trust anchors)"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

2.x
##### CONFIGURATION

Nothing special
##### OS / ENVIRONMENT

Debian 8 "Jessie", but not relevant
##### SUMMARY

There is no option to set a trusted X.509 trust anchor (certificate authority) for keyserver requests in the apt_key module.

To request a certificate from the (probably biggest) decentral keyserver network SKS (hkps://hkps.pool.

[2016-05-09 19:03] jctanner opened #15790 "Unexpected warning+error behavior with invalid hosts"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

CentOS 7 control host
##### OS / ENVIRONMENT

Default config
##### SUMMARY

A) ansible gives a misleading warning if the host pattern is invalid
B) ansible-playbook gives no warnings or indication that the host pattern was invalid (when serial=1)
##### STEPS TO REPRODUCE

ansible
1) Make an

[2016-05-09 19:04] lenar commented on #13876
Haven't seen this issue with 2.0.2.0 at all. Previously it was very frequent.

[2016-05-09 19:25] alikins opened #15791 "module_utils/junos.py does not handle library jxmlease not being available"
##### ISSUE TYPE
- Bug Report
##### OS / ENVIRONMENT

Affects the 'junos' modules.
##### SUMMARY

This is a move of https://github.com/ansible/ansible-modules-core/issues/3614

module_utils/junos.py  has an import guard around 'import jxmlease' and sets HAS_JXMLEASE, but nothing checks that variable. Any of the modules that
use

[code]

potentially throw errors if jxmlease is not available.

Cut a

[2016-05-09 19:27] alikins commented on #15791
Orig submitted by @dgarros , so mentioning.

[2016-05-09 19:39] pfremm opened #15792 "Documentation difficult to identify changes across version"
- Feature Idea

It would be nice to have some consistency across documentation when changes to modules were done across ansible versions.  For example with the URI modules minor changes to behavior occurred in 2.0 with the body_format, but unless you read in detail about this option when troubleshooting impact analysis for ansible version upgrades is very difficult.  No references to this change a

[2016-05-09 19:48] jhawkesworth commented on #15770
You can turn of strict mode in your modules.  But since ansible 2.0 expects
that modules will comply with strict mode, it is most likely the cause of
why your module is not working after upgrading from 1.9.4.

On 9 May 2016 at 09:39, ZahiCahana notifications@github.com wrote:

[2016-05-09 20:04] Habbie opened #15794 "postgresql_user only grants, does not revoke except on role/user deletion"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
postgres_user module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no ansible.cfg no environment variables

##### OS / ENVIRONMENT
running ansible from osx (via brew) target is Debian 8 with postgres 8.4

##### SUMMARY
while postgres_user allows one to grant privs to a user, it does not appear to revoke privs no

##### STEPS TO REPRODUCE

####

[2016-05-09 20:04] Habbie commented on #15794
Related: https://github.com/ansible/ansible-examples/pull/148/files

[2016-05-09 20:55] basictheprogram commented on #11141
Install stuff in a different location, where you have write access?

http://bit.ly/1T1Gv32
Installing Python Modules

I run everything in virtualenv.

##

Bob Tanner tanner@real-time.com                                 | Phone : 952-943-8700
http://www.real-time.com, Linux, OSX, VMware, Windows | Fax      : 952-943-8500
Key fingerprint = 9906 320A 8BB6 64AD 96A7  7785 CBFB 10BF 568B F98C

[2016-05-09 20:55] bcoca commented on #15789
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-05-09 20:55] #15789 closed, assigned to nobody

[2016-05-09 22:01] ghost commented on #13401
Confirmed that this workaround addresses the issue with Mac 10.11.4 (15E65) and Ansible 2.0.0.2

[2016-05-10 01:00] JohanTan commented on #13278
Neither of the two proposed solutions worked for me :(

Updates: it seems to be failing on the tasks/plays with `become: yes` set. We are running with Ansible 2.0.1.0 on Ubuntu 14.04 LTS

Currently I am setting `transport = paramiko` in ansible.cfg as a workaround. until this bug is fixed

[2016-05-10 02:30] JimFicarra commented on #15601
Pipelining was on and the hosts did not have requiretty set.  Are you just testing with ansible core or are you throwing Tower into the mix? This was occurring when running in Tower.

[2016-05-10 07:17] kbuist01 commented on #15492
I am experiencing the same issue. No diff output with --diff on several different hosts with -with_items. I went back to 2.0.1.0 and it is working fine again

[2016-05-10 07:54] tamers commented on #13876
I used to see this isssue a lot before upgrading to 2.0.2.0, it seems to be fixed for me after the upgrade.

[2016-05-10 08:13] Hipposlab-Nakahara commented on #13262
+1

[2016-05-10 10:17] jhutar opened #15800 "script that contains e.g. "||" via shell module keeps failing"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

I have just private_key_file and host_key_checking configured.
##### OS / ENVIRONMENT

Red Hat Enterprise Linux 7 (fully updated)
ansible-2.0.1.0-2.el7.noarch from EPEL
##### SUMMARY

I'm getting negative return code from ''shell'' module when I'm executing script that contains e.g. "||".
##### STEPS TO REPRODUCE

I'm

[2016-05-10 10:18] jhutar commented on #15800
Initially asked on http://stackoverflow.com/questions/37042643/ansible-shell-task-with-pgrep-keeps-failing-works-in-normal-shell

[2016-05-10 10:48] flyte commented on #13825
I have the same issue as @jeff1985 in Ansible 2.0.2. The docs say:

[code]

but in fact the `src` and `dest` are both relative to my own machine and not the remote host.

[2016-05-10 11:09] h-hirokawa opened #15801 "Variable values included from `include_vars` have higher precedence than documented."
##### ISSUE TYPE
- Bug Report
  or
-  Documentation Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Variables included from `include_vars` have higher precedence than documented.
In fact, only extra vars can win these variables.

Documented precedence is
- ⋮
- role and include vars
- block vars (o

[2016-05-10 12:00] cjw296 commented on #5871
@jimi-c - I don't see how this can be a templating issue, if I change from yum to debug, everything works as expected:

[code]

...gives:

[code]

...while:

[code]

...gives:

[code]

_nb_: the "item" key is wrong there, so the prefix only gets applied to the first one.

This does seems very specific to the yum module...

[2016-05-10 12:12] sivel commented on #5871
@cjw296 you may be interested in https://github.com/ansible/ansible/pull/15657

[2016-05-10 12:17] cjw296 commented on #5871
@sivel - yes indeed! thanks :-)

[2016-05-10 12:31] towolf commented on #15786
Come on. Ignoring tags silently is a recipe for "let's wreak havoc on our server farm on a massive scale".

Misspelt tags should be a noop. But instead, now everything is run.

[2016-05-10 13:02] tanyewei commented on #14408
@steve-gregory

If  switching my concurrency_pool to gevent

celery always display "worker: Warm shutdown (MainProcess)"

[2016-05-10 13:37] AnthonyWC commented on #14316
New link is here http://docs.ansible.com/ansible/yum_repository_module.html

[2016-05-10 13:37] kenji21 opened #15802 "Roles with git submodule does nothing"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME
"Playbook roles"

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

We have some git submodule in the roles repository, and sometimes we don't update our git clone submodules, which make some failures.
##### STEPS TO REPRODUCE

A teammate adds a new "role submodule"
git pull (creates an empty directo

[2016-05-10 13:51] foofoo-2 opened #15803 "Performance regression between ansible 2.0.0.1 and 2.0.2.0"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

After having updated ansible from version 2.0.0.1 to version 2.0.2.0, ansible runs are approximately 20% slower. The problem has been reproduced on 6 platforms running the same playbooks, but with different clients and on different hardware. Here are the results:

[2016-05-10 14:05] jklaiho commented on #11921
I don't, and never have. I'm running 2.0 now, and haven't seen this problem there yet. I've been using Ansible less than I did in the 1.8-1.9 days (the majority of our playbooks were originally created and servers deployed with them), so I can't conclusively say that this has been fixed in 2.0, though.

[2016-05-10 14:27] souenzzo opened #15805 "systemd '--user' option"
##### ISSUE TYPE
- Feature Idea
##### OS / ENVIRONMENT

Linux/Systemd (not sure if others init has equivalent)
##### SUMMARY

Systemd has a userland option "systemd --user [enable|stop] service".
Add it on "service" module
##### EXPECTED RESULTS

Example command:

[code]

Example yml

[code]

[2016-05-10 14:31] ravigude commented on #11766
Hello, any update on this issue ? Though technically @garyayo solution works, its a lot of effort to redo lot of our handlers. We would really like to see this solved

[2016-05-10 14:38] blutgens opened #15806 "zypper module --verbose option causes zypper to error out on SLES 11sp3 and possibly 4."
##### ISSUE TYPE
- Bug Report

zypper.py
zypper module errors out when it calls zypper with --verbose
##### ANSIBLE VERSION

tested with devel head today, stable-2.0, and stable-2.1 branches.
ansible 2.1.0.0 (stable-2.1 6f99f40f37) last updated 2016/05/10 13:53:48 (GMT +000)
  lib/ansible/modules/core: (detached HEAD 1f5cf669dd) last updated 2016/05/10 13:50:25 (GMT +000)
  lib/ansible/modules/ext

[2016-05-10 14:40] abadger commented on #15788
apt_key is a module and so this issue needs to be reopened on the ansible-modules-core repository here: https://github.com/ansible/ansible-modules-core

@bcoca and I started discussing this yesterday.  At the moment we're thinking that this is something that needs to be fixed in the apt_key command line tool (which does the actual work for this module).  If it goes into that upstream tool we would

[2016-05-10 14:40] #15788 closed, assigned to nobody

[2016-05-10 14:47] blutgens commented on #15806
[code]

This fixes it for me. It seems like that --verbose option should be fine. I'm not sure why it fails when zypper.py uses it.

[2016-05-10 15:43] 1adam opened #15807 "'when: <...> is defined' ignored"
##### ISSUE TYPE
- Bug Report

I previously opened this under #15666 but the issue was immediately closed, I think because of a misunderstanding.  You can see that the variable is evaluated for each iteration of the loop, and that there is one successful iteration (for dev-eee.example.com, the only host for which the var has been set) whereas the rest produce the deprecation warning, instead of sk

[2016-05-10 15:56] sivel commented on #15807
This is expected.  `when` statements are evaluated for each iteration of a `with_` loop, not before the `with_` loop.

As indicated by the deprecation warning, in the future this will be an error, and will not allow the task to be skipped.

The more correct way to solve this problem is by using the `|default` filter such as:

[code]

If you have further questions please stop by IRC or the mailing

[2016-05-10 15:56] #15807 closed, assigned to nobody

[2016-05-10 16:08] #15694 closed, assigned to jimi-c

[2016-05-10 16:39] jeff1985 commented on #13825
@flyte
i must admit, my issue must have to do with using vagrant in combination with ansible as provisioner. i had to use the usual `dest="/etc/somedir/"` when i tried to run the playbook on a remote host without vagrant. so i believe there might me some bug related to handling local virtual machines.

[2016-05-10 17:06] lyncir commented on #14408
I'm get same error as @steve-gregory.
Env: ansible==2.2.0, celery==3.1.17

How to fixed it?

[2016-05-10 18:03] abadger commented on #15601
I was just testing with ansible core.  I don't think tower will make a difference.  But thinking about how you could get the warning after the module's output, maybe there's pam or syslog configuration that causes this.  Do you happen to know if you're changing RHEL/Centos6's defaults for either of those in some way?  I'd like to be able to reproduce so that I know when I've fixed this.

Failing t

[2016-05-10 18:07] PumpkinSeed commented on #12623
I got the same problem, and I found this: http://rogersherman.com/a-simple-how-to-passing-a-loop-to-an-ansible-role/

[2016-05-10 18:10] abadger commented on #15601
Ah ha!  @alikins thinks it might be that using krb5 might cause the Warning message to be printed to stdout differently so that could create the case where the module prints the json results before the warning message is emitted.

[2016-05-10 19:21] mtlynch commented on #15754
Re-filed under https://github.com/ansible/ansible-modules-core/issues/3631

[2016-05-10 19:46] jctanner commented on #14456
Suspected culprit https://github.com/ansible/ansible/commit/0aa018337afbc061633d9046109f12d4dd929c25 which fixed https://github.com/ansible/ansible/issues/12722

[2016-05-10 19:56] #14456 closed, assigned to nobody

[2016-05-10 20:12] MichaelBaydoun commented on #14456
Note: We are using file (json) caching.  For anyone having this problem, until the commit makes the 2.1 release, a suggested workaround is to switch from smart to explicit, and explicitly call setup once at the start of your playbook.

I'm not entirely clear how redis or other caching systems are working, but I believe they will see the same issue, and the fix committed above only covers json cach

[2016-05-10 20:23] sc0ttbeardsley commented on #13278
@MrMMorris I am experiencing this bug with 2.0.0.2 as well. I've tried both suggested workarounds (next up I will try paramiko as suggested by @JohanTan ) but it is still a common headache. I've noticed that when there are others running playbooks on the same host (in our case we have a jumphost where everyone runs ansible-playbook from) it gets _much_ worse and constantly repeatable.

[2016-05-10 20:57] bcoca commented on #15807
http://docs.ansible.com/ansible/playbooks_conditionals.html#loops-and-conditionals

[2016-05-10 21:07] kadecole commented on #7118
I am experiencing the same behavior in 2.0.2.0. It appears that ansible reads all files in group_vars directory regardless of which group your playbook specifies.  Maybe this should be a feature enhancement request?

[2016-05-10 21:15] cThrice commented on #15745
Figured out the issue.

I have submitted a PR that Fixes the scope issue.  Please let me know if you need any more information to get this merged.

[2016-05-10 21:31] dregin commented on #13876
I've created an environment to reproduce the issue @ https://github.com/dregin/ansible-docker-connector
Can others check to see if they see the same behaviour?

[2016-05-10 22:43] jeffwidman commented on #13825
I am still hitting this on a playbook with a globally defined `become: true`:

[code]

When I don't set `become: false` at the task level, I get an error about three password failures, which I assume is my macbook because other sudo tasks on the remote host are succeeding.

[2016-05-11 03:49] willthames commented on #14848
Any linter that tries to determine whether a variable is defined at lint-time is going to struggle. You're better of making your playbook defensive enough to cope with it (e.g. failing if a variable you're expecting to be defined is undefined)

This is because so many variables are populated at run time, either through setup module, set_fact task or the registration of previous tasks. You might su

[2016-05-11 04:38] engbalaji opened #15813 "Using lineinfile for a file insert in Ansible playbook"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

"None, not touching anythign in the ansible.cfg file"
##### OS / ENVIRONMENT

"Redhat 2.6.39-400.109.4.el6uek.x86_64"
##### SUMMARY

While using the string for replacement using the lineinfile command getting following error

[code]
##### STEPS TO REPRODUCE

"values in the vars/main.yml file

[2016-05-11 06:02] sayantandas commented on #15737
yes, i have the exact same issue while setting permissions using `win_acl` on Windows 2012 and Windows 7. I am trying to set Full control for the group `Users`. for a folder`\usr` in `C:\`

`fatal: [192.xx.xx.xx]: FAILED! => {"changed": false, "failed": true, "invocation": {"module_name": "win_acl"}, "msg": "an exception occured when adding the specified rule"}`

I am using an administrator accoun

[2016-05-11 06:12] sayantandas opened #15814 "win_environment cannot append to Path in System Variable"
win_environment cannot append values to Path in System Variable. It replaces existing variables
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

ansible --version
ansible 2.0.0.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
##### OS / ENVIRONMENT

 cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTR

[2016-05-11 06:34] marcpascual opened #15815 "ansible reporting inventory as empty if specified in local ansible.cfg"
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.6 (Santiago)
for both ansible and target host
##### SUMMARY

ansible is reporting that the inventory specified in local ansible.cfg as empty.
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

ansible should use

[2016-05-11 07:12] robinro commented on #15806
@blutgens thanks for the report and proposed fix

The zypper module is part of the `ansible-modules-extras` repo, so please move your report over there. You can also open a pull-request for your fix.

Quick comment already: The motivation for `--verbose` was to get the version and repository information. The version is used for diff output and that would be broken by your change. Try to run `ansib

[2016-05-11 07:36] jhawkesworth commented on #15814
Hello,

Please can you raise issues with modules in the ansible-modules-core or (in this case ansible-modules-extras) repositories as appropriate.

As the author of win_environment module, I never intended it to be able to append to existing variables.  Feel free to create a feature request for this, although I would argue that it is better to take control of the entire environment variable conten

[2016-05-11 07:36] #15814 closed, assigned to nobody

[2016-05-11 08:04] gdamjan opened #15816 "docker connection plugin truncates the scripts"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
docker connection plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
using the docker connection plugin to apply a role in a container. the ansible scripts in the container are truncated.

##### STEPS TO REPRODUCE
I'm trying to use docker to test my own ansible role (that installs uwsgi). I create diffe

[2016-05-11 08:12] sayantandas commented on #15814
Hi @jhawkesworth , thank you for responding so quickly. I wanted the append function as I am not able to make Windows recognize the path for a new application like perl by adding a new system variable. It only recognizes the path if I append to the existing ones. Also, I do find it potentially dangerous, that the system variables can be so easily replaced.

[2016-05-11 08:53] jesusch opened #15817 "ansible_distribution_major_version cannot be compared as integer"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian GNU/Linux 7.9 (wheezy)

##### SUMMARY
ansible_distribution_major_version cannot be compared as integer

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
ansible_distribution_major_version should be an integer
the first one should fail
the second one must w

[2016-05-11 09:42] imvitaliy opened #15818 "cannot connect to S3 from RHEL-5"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

2.0.2.0
##### OS / ENVIRONMENT

RHEL-5
##### SUMMARY

can't run "module_name": "s3", only in Rhel-5
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

should download package from S3
##### ACTUAL RESULTS

[code]

[2016-05-11 09:59] pescobar commented on #11348
I can confirm I hit the same issue in a centos7 machine running ansible `1.9.1` using the test playbook in previous comment https://github.com/ansible/ansible/issues/11348#issuecomment-215874147

[code]

[2016-05-11 10:39] vladpanainte opened #15819 "gce_img module support snapshot disk as source"
##### ISSUE TYPE

- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

gce_img source to support snapshot disk
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2016-05-11 12:06] jimi-c commented on #11766
@schnittchen (and @dead10ck), this does have something to do with dynamic includes. In your example, we could check that the named handler was not present and there are no dynamic includes, however now that we have static includes we can get back around to fixing this properly, so I'll re-open it.

[2016-05-11 12:09] CloudNinja42 commented on #15706
+1 New to Ansible and don't know where my setup goes wrong :(

Seems its enough to try and ping the hosts:
ansible -m ping -u vagrant all
(In other words its not necessary to create a playbook for the Ssh host)

[2016-05-11 12:17] jimi-c commented on #5871
@cjw296 btw, just for reference it's a templating issue due to the way we silently squash items for certain modules (namely packaging modules like yum).

[2016-05-11 12:29] jimi-c commented on #11877
@mikedanese that is a different error, could you please open a new issue for it?

Thanks!

[2016-05-11 12:56] nejtr0n opened #15821 "[feature request] Chow/chmod on git module"
Add keys owner, group and mode to git command.
For exmple
git: repo=https://test.git dest=/var/www/html/app owner=root group=root mode=0640

[2016-05-11 13:03] jimi-c commented on #14983
I don't believe this is an issue with the template, rather it's not internally turning the extra variable into a proper boolean value.

[2016-05-11 13:12] jimi-c commented on #14983
@srkiNZ84 as a workaround (I know this is late), you can always add the `|bool` filter after the var to ensure it's cast to a boolean.

[2016-05-11 13:19] jimi-c commented on #14983
@srkiNZ84 also, I just tried this out on the `stable-1.9` branch assuming this should work, and it gives the same output as 2.x. Can you let us know which version on which you saw this working?

[2016-05-11 13:56] jimi-c commented on #14125
Based on testing against all stable branches and devel, it appears this issue is resolved. As such we will close it now. If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- htt

[2016-05-11 13:56] #14125 closed, assigned to nobody

[2016-05-11 14:21] jimi-c commented on #14840
Running on both devel and stable-2.1, it appears this issue has been fixed:

<pre>
# ansible-playbook -vv -i hosts test.yml
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: test.yml *************************************************************
1 plays in test.yml
PLAY [local] *******************************************************************
TASK [setup] ***********************************

[2016-05-11 14:21] #14840 closed, assigned to jimi-c

[2016-05-11 14:53] hryamzik opened #15823 "role parameters replaced"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Mac OS => Linux
##### SUMMARY

Role gets wrong parameter values
##### STEPS TO REPRODUCE

[code]

playbook.yml:

[code]

a/defaults/main.yml:

[code]

a/tasks/main.yml:

[code]

b/meta/main.yml:

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2016-05-11 17:04] bcoca commented on #15805
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-05-11 17:04] #15805 closed, assigned to nobody

[2016-05-11 17:14] blutgens commented on #15806
Moved to ansible-modules-extras: [#2218](https://github.com/ansible/ansible-modules-extras/issues/2218l)

[2016-05-11 17:14] #15806 closed, assigned to nobody

[2016-05-11 17:23] dmcnaught opened #15824 "lineinfile module : insertbefore should insert before first match of specified regular expression"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

insertbefore : If specified, the line will be inserted before the last match of specified regular expression
insertafter : If specified, the line will be inserted after the last match of specified regular expression

It seems to me that insertbefore should insert before t

[2016-05-11 17:27] #14411 closed, assigned to nobody

[2016-05-11 17:27] jimi-c commented on #14411
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-05-11 18:43] JohanTan commented on #13278
With `transport=paramiko` we do lose the ability to `--diff` which is kinda annoying. Would hope this bug gets fixed soon.

[2016-05-11 19:02] jimi-c commented on #14525
So looking back through old issues, I believe this is a misunderstanding of how the `tags` keyword works on roles. When used as you did, the tags are applied to every task in that role. This is NOT a filtering mechanism. We have older feature requests to implement a filtering mechanism, however currently none are implemented.

If you have any further questions, please let us know by stopping by on

[2016-05-11 19:02] #14525 closed, assigned to nobody

[2016-05-11 19:10] jimi-c commented on #14582
@diefans / @OptiverTimAll the --list-tasks output is incorrect as you show, however when executing the playbook I actually see it run as expected:

<pre>
PLAYBOOK: test.yml *************************************************************
1 plays in test.yml
PLAY [dependency test with role tags] ******************************************
TASK [setup] ***************************************************

[2016-05-11 19:15] jimi-c commented on #14850
@windowsrefund / @joshprice the loop_control stuff was merged into 2.1, can either of you verify if you're still seeing this issue when the loop_var value is set within the loop_control options?

[2016-05-11 19:18] jimi-c commented on #13485
@d3matt yes please. I'll go ahead and close this out now though.

Thanks!

[2016-05-11 19:18] #13485 closed, assigned to nobody

[2016-05-11 19:35] jctanner commented on #13401
Just spent a few hours making an attempt to reproduce and debug this issue on a test system. I have a few key notes to share:

1) sftp in batch mode does not prompt for passwords, which means sshpass is never going to send a password and auth is going to fail if password is required.
2) controlpersist allows the authentication to happen prior to the sftp command and alleviates the need to provide

[2016-05-11 21:46] srkiNZ84 commented on #14983
I'm _fairly_ certain we were using 1.9.4 at the time.

Thank you for that workaround. We ended up going with a much less elegant one, that made our eyes hurt and has been a constant source of embarrassment:

`{% if (sync_group ~ '').lower() == "true" %}`

It will be a relief to finally be rid of it.

I'm now wondering whether we might have only tested the "sync_group=True" scenario and not the "sy

[2016-05-11 22:31] Yannig commented on #13956
Hi,

I have an old PR of mine that could help you. You can check it out here: https://github.com/ansible/ansible/pull/13168

I have updated it to run with last version of Ansible. Using your inventory, I was able do gain about 50% in time completion. Here's some result on my machine with and without the patch:
- without patch:

[code]
- with my PR:

[code]

Hope it helps

[2016-05-11 23:13] #15625 closed, assigned to jimi-c

[2016-05-11 23:14] jimi-c commented on #15625
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-05-12 00:54] #15601 closed, assigned to abadger

[2016-05-12 01:03] abadger commented on #15601
Okay, I wasn't able to test but judging from the output from your ansible run, that pull request should fix this problem.  It strips away text that comes after the json string that the module returned.  Give it a shot and see what happens.  I've merged it to the devel and stable-2.1 branches so it should be in the 2.1.0 release which is coming soon.  (We might not see comments to closed issues so

[2016-05-12 01:07] jimi-c commented on #14966
Since this is a proposal, I'm going to go ahead and close this now.

Thanks!

[2016-05-12 01:07] #14966 closed, assigned to nobody

[2016-05-12 01:18] jimi-c commented on #12395
Re-closing this, on both devel and stable-2.1 I'm seeing the expected output:

<pre>
# ansible-playbook -vv -i inv test.yml
Using /etc/ansible/ansible.cfg as config file
PLAYBOOK: test.yml *************************************************************
1 plays in test.yml
PLAY [all] *********************************************************************
TASK [debug] ***********************************

[2016-05-12 01:18] #12395 closed, assigned to nobody

[2016-05-12 01:53] jimi-c commented on #14146
@tkinz27 I agree, so I've gone ahead and changed that error to a warning:

<pre>
TASK [test : include] **********************************************************
task path: /root/testing/14146/roles/test/tasks/include_outer.yml:8
 [WARNING]: The loop variable 'item' is already in use. You should set the `loop_var` value in the `loop_control` option for the task to something else to avoid variable

[2016-05-12 01:53] #14146 closed, assigned to nobody

[2016-05-12 01:59] larsks commented on #15625
LGTM!

[2016-05-12 02:38] jimi-c commented on #14983
Yeah, that's odd. If it is the later `sync_group=True`, that would understandably always work as a non-empty string value would evaluate to true.

[2016-05-12 03:13] briceburg commented on #14125
@jimi-c is there a commit you can link that contains the fix for this? Would be interested to see code changes. I'll test using -devel tomorrow. Thanks!

[2016-05-12 04:12] jimi-c commented on #7353
@nhooey I just tested this on devel, v2.0.1.0-1, and v2.0.2.0-1 and do not see the issue there.

[2016-05-12 04:53] srgvg commented on #12395
@jimi-c  I'm confused, that is not what I see. What am I doing wrong?

[code]

[code]

Same with @amenonsen 's second example:

[code]

[code]

For sake of completeness:

[code]

I created a gist with those files:
https://gist.github.com/srvg/a39e2380289143a89ccaba4de34741c4

[2016-05-12 07:04] cjw296 commented on #5871
@jimi-c - really? If I were to guess, I'd point the finger at this code:

https://github.com/ansible/ansible/blob/7201a6ffad68d158d30e5f5896c54cbfe3deaded/lib/ansible/runner/__init__.py#L460

Where does the equivalent live on master or develop? (sorry, can't figure out the branch structure this repo uses).

[2016-05-12 07:05] zhanglongqiang commented on #1476
i really need this feature to avoid many times to install 'jdk' in variable roles.

[2016-05-12 08:52] diefans commented on #14582
The problem is indeed real (running without `--list-tasks` executes the base role twice) in ansible version 2.0.0.2 as described in the issue.

[code]

My naive belief was - and your project proved me very wrong again - that `--list-tasks` may use the same code path as the actual play would take.

Now my "intended issue" seems to be fixed in 2.0.2.0 (by accident?)

In contrast to your understateme

[2016-05-12 09:48] gardner commented on #963
+1

[2016-05-12 09:52] zielik commented on #12686
In sudoers file I have only
`%user ALL=(ALL)       NOPASSWD: /bin/su - jboss`

How can I sudo to jboss and then run some command?
I tried something like
`- become: yes`
  `become_user: "jboss"`
   `raw: "touch test"`
or
`raw: "sudo su - jboss -c ls"`
but always ended:
Sorry, user is not allowed to execute 'command' as jboss

[2016-05-12 10:07] micafer opened #15826 "get_url fails with some ftp servers"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Ansible.cfg does not exist. So it is using all default values.
##### OS / ENVIRONMENT

I think that is not platform-specific.
But I have tested un ubuntu 14.04 and CentOS 6.
##### SUMMARY

The get_url module fails with "fatal" error with some ftp servers.
This is the error shown:

[code]
##### STEPS TO REPRODUCE

Crea

[2016-05-12 10:42] towolf commented on #13956
Thanks for the suggestion, but AFAICT, your PR is more-or-less subsumed by mine, i.e., `basedir` doesn't even need to get checked anymore. But the two PRs pursue the same goal.

[2016-05-12 10:45] vasyl-slobodyan opened #15827 "Issue creating Security Groups using Ansible for AWS"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]

Also found in devel branch.
##### OS / ENVIRONMENT

Linux 4.4.8-20.46.amzn1.x86_64 #1 SMP Wed Apr 27 19:28:52 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
##### SUMMARY

Issue creating Security Group with outbound rules specified as empty string.
##### STEPS TO REPRODUCE

Create a playbook with security group creation and few variables pointi

[2016-05-12 11:16] renaudguerin commented on #3977
Having this problem as well on Ubuntu 14.04 and Ansible 2.0.2.0 :(

[2016-05-12 12:08] vasyl-slobodyan commented on #15827
Update, works for

[code]

[2016-05-12 12:13] vasyl-slobodyan commented on #15827
Update after some digging this seems to be the commit that broke the code.
https://github.com/ansible/ansible-modules-core/commit/97f5174c09a82d63b0684f2b7390bfd19e5e530b

[2016-05-12 12:32] dagwieers opened #15828 "Modules with creates= / removes= could support check mode"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
2.2

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Currently modules that do not support check mode (e.g. the `command` module) report that the "remote module does not support check mode", however if they use `creates=` or `removes=` Ansible could perform a check-mode, or at least evaluate whether it would

[2016-05-12 12:34] sboulkour commented on #14383
I too am facing this issue, while moving project from 1.9.x to 2.0.x.
Everything works fine with Ansible 1.9 but I can't make it work with ansible 2.

Tasks in role :

[code]

The output (with some hidden path & filenames)

[code]

[2016-05-12 13:09] dagwieers opened #15830 "Modules don't know their own name"
##### ISSUE TYPE

- Feature Idea
##### ANSIBLE VERSION

All
##### SUMMARY

In the old days when modules were run, they lived on disk and one way to get the module name was to simply run `os.path.basename(__file__)`. This is still used at various places.

However with pipelining the module name is no longer retrievable this way (it returns `<stdin>` instead), however various errors would be much be

[2016-05-12 13:12] ghost opened #15831 "Pulling repository when using net option in docker module with nonexistant network"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Ansible is pulling repository when using net option in docker module, even if the option
pull: missing
is set and the image is allready on the system.
In our case there was also an error message regarding the repo pull (private repo): unauthorized: authentication required
This o

[2016-05-12 13:25] dagwieers commented on #15817
I don't know if the major_version ought to be an integer (I don't know if all distributions use numeric versions), but you can easily solve your issue like this:

[code]

[2016-05-12 13:30] dagwieers commented on #15786
This is similar to #14923 where non-existing handlers that are called are silently ignored.

[2016-05-12 13:52] aaomoware commented on #14383
@sboulkour
Check undefine/unsagined variables. Make sure any variables you are referencing are a properly defined/assigned. That was the issue in my case.

The way I understand the new improvement in 2.0 is: undefined/unassigned variable should be ignored. But apparently that is not happening.

[2016-05-12 13:52] #15633 closed, assigned to nobody

[2016-05-12 14:00] sboulkour commented on #14383
@aaomoware
Yeah thks, issue were with `team_name` that wasn't defined  for this team :)

But still, the error message doesn't make sense to me.

[2016-05-12 14:01] jimi-c commented on #5871
@cjw296 that code is essentially here now: https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/task_executor.py#L267

The idea is the same, for certain modules we optimize the call by squashing the list down (after evaluating conditionals on each item) and execute a single pass. The problem comes from trying to figure out which params in the module need to be templated with the `ite

[2016-05-12 14:11] jimi-c commented on #12395
Same inventory, my playbook is:

<pre>
- hosts: all
  gather_facts: no
  tasks:
    - block:
        - debug: var=inventory_hostname
        - command: /bin/false
          ignore_errors: y
          register: x
        - block:
            - debug: var=inventory_hostname
            - block:
              - debug: var=inventory_hostname
          when: x|failed
      when: inventory_hostname != '

[2016-05-12 14:12] jimi-c commented on #12395
Well, my inventory is a little different:

<pre>
raven.toroid.org ansible_connection=local
magpie.toroid.org ansible_connection=local
</pre>

So I'm forcing local connections.

[2016-05-12 14:13] jimi-c commented on #14125
@briceburg no, sorry. You could probably dig one up using git blame if you really wanted to know.

[2016-05-12 14:17] jimi-c commented on #14582
@diefans understood, however in devel/stable-2.1 the issue has been resolved as far as executing the tasks. Fixing this for the --list-tasks use will be somewhat involved, and in fact was actually probably broken in other ways in earlier versions.

[2016-05-12 14:22] #15744 closed, assigned to nobody

[2016-05-12 14:24] aaomoware commented on #14383
@sboulkour
I agree with you. The exception don't make sense as it misleads one to think it is a deprecated method error; it is not. It is the with_\* just moaning because of an undefined variable.  Hopefully it gets fixed soon

[2016-05-12 14:24] jimi-c commented on #15744
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-05-12 14:26] jimi-c commented on #14383
We're keeping it as a warning for now. In the future, this will be a play-ending error.

[2016-05-12 14:28] srgvg commented on #12395
:facepalm: to myself. Sorry!

[2016-05-12 14:31] jimi-c commented on #15681
Looking into this now.

[2016-05-12 14:43] #15681 closed, assigned to jimi-c

[2016-05-12 14:43] jimi-c commented on #15681
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-05-12 14:54] d3matt commented on #13485
This appears to be broken again...

bisected to:
$ git bisect bad
438ed70a4373f1035ae90a042bc745791b40fa76 is the first bad commit
commit 438ed70a4373f1035ae90a042bc745791b40fa76
Author: Martin Matuska martin.matuska@axelspringer.de
Date:   Mon May 2 17:50:42 2016 +0200

[code]

:040000 040000 7094f976b8efdef066f8b960a8604fdd5774c1a5 49e2fc6154f45d8d57ad196b34eb5b37c7617ca1 M  lib

[2016-05-12 15:01] deggis commented on #14487
I'm experiencing also hangup with ansible 2.2.0/master (with paramiko 2.0.0/master) at line "stdout = ''.join(chan.makefile('rb', bufsize))".

If I call "chan.recv(4096)" with a remote debugger before the hanging call to chan.makefile('rb', bufsize)) I see '[dzdo] password for user:'. Somehow paramiko.ChannelFile.readline hangs even though the doc says it shouldn't require a trailing newline.

[2016-05-12 15:08] jctanner commented on #13401
reopening to track possible fix.

[2016-05-12 15:28] danpospisil commented on #14487
We have solved it with adding this to ansible.cfg:

[code]

Since then, it works again.

[2016-05-12 15:28] #14487 closed, assigned to nobody

[2016-05-12 15:33] jimi-c commented on #12255
Going to move this to a proposal, so closing here.

[2016-05-12 15:33] #12255 closed, assigned to nobody

[2016-05-12 15:35] alikins commented on #11311
Looking at the defaults in that role, https://github.com/DavidWittman/ansible-redis/blob/master/defaults/main.yml, redis_port=6379 is also the default (https://github.com/DavidWittman/ansible-redis/blob/master/defaults/main.yml#L24)

Could this be falling back to the default somehow? As opposed to reusing the value from the first role?

Does behavior change if you flip the order of the roles?

[2016-05-12 15:43] bcoca commented on #14914
can you test with?:

[code]

[2016-05-12 15:51] mickael-decastro opened #15837 "Command keystone-manage db_sync keystone failed"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no change
##### OS / ENVIRONMENT

Ansible server: Centos 6.7
Managed server: Centos 7
##### SUMMARY

When I try to run the command "/bin/sh -c "keystone-manage db_sync" keystone", I receive a failed output. The delta value is always arround 1 minute and 41 second. It is probably a timeout but I didn't found any inform

[2016-05-12 15:54] mamoit commented on #8603
+1

[2016-05-12 16:06] jctanner commented on #14914
I am unable to reproduce this. I looked at all the factors given by the initial description:
- fact gathering doesn't seem to be in play because the failure example was in the task, not setup call
- transport = ssh in ansible.cfg does not override local_action in any version of ansible to date

The only way I could get local_action to force an ssh connection was to use -c ssh on the ansible comman

[2016-05-12 16:39] jimi-c commented on #15548
Hi @chriskarel, after reviewing this I believe this is working as expected. Variables set via set_fact or include_vars have one of the highest levels of precedence, and as such override those set in a static manner (vars or vars_files, for instance). As such, we're going to go ahead and close this now.

If you have any further questions, please let us know by stopping by one of the two mailing lis

[2016-05-12 16:39] #15548 closed, assigned to nobody

[2016-05-12 16:43] jeanpaulmanjarres-payulatam commented on #13710
This is something like what we are asking in https://github.com/ansible/ansible/issues/5564

sadly, has been 2 years and still no answer.

[2016-05-12 16:44] jeanpaulmanjarres-payulatam commented on #5564
Reasonable idea for this problem in https://github.com/ansible/ansible/issues/13710

[2016-05-12 16:47] jean-christophe-manciot commented on #15339
Is this on Ansible's agenda?

[2016-05-12 17:07] jctanner commented on #15126
I've reproduced what looks like a "hang" without sudo and a 9.6GB file. Here's the testcase ...

[code]

The "hang" wasn't actually a hang though. It seemed to be stuck, but the destination file was complete and a python process was churning in a D state. I suspect a final checksum calculation is where the "hang" behavior is occurring.

[code]

[2016-05-12 17:19] smiller171 opened #15839 "scp_if_ssh not respected in copy and template modules if in a loop"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If using the copy or template modules in a loop, `scp_if_ssh = True` is not respected.
The setting is respected when not using a loop.
##### STEPS TO REPRODUCE
1. Disable SFTP on target host
2. set `scp_if_ssh = True` in .ansible.cfg

[code]

##### EXPECTED RESULTS

Expect Foo a

[2016-05-12 17:20] smiller171 commented on #15839
@defionscode I know I talked to you about this a week or two ago.

[2016-05-12 19:02] #15745 closed, assigned to nobody

[2016-05-12 19:03] jimi-c commented on #15745
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-05-12 19:18] colinbjohnson commented on #10006
+1

[2016-05-12 19:20] bcoca commented on #1476
use this?

[code]

[2016-05-12 19:29] jctanner commented on #15126
With sudo, the fetch action plugin for fetch switches out the call to the slurp module first. On the remote side, this python syntax will be called on the source file with slurp:

[code]

On a machine with insufficient ram or ulimits and a large file, this traceback occurs ..

[code]

[2016-05-12 19:59] jctanner commented on #15126
@preethi29 when the task is hung, can you give us a listing of the ansible related pids from the control host and the remote host?

[2016-05-12 20:59] sivel commented on #15126
Just as an FYI, although it doesn't necessarily indicate the potential of a hang, we do have this documented for the `fetch` module:

http://docs.ansible.com/ansible/fetch_module.html#notes

This does indicate that it will double the amount of time to transfer that file, due to transferring the full contents of it twice, and potentially causing a `MemoryError`

[2016-05-12 21:05] davidbirdsong commented on #11327
I'm curious why one should never have roles sprinkled around wherever needed. Aren't roles supposed to be the nugget in ansible that promotes re-use?

It took me a long time to pare down my use of roles and discover simple, easy-to-reason-about roles that can be re-used over and over again by supplying vars that overwrite role defaults. To say that handlers can't fire for each invocation of that r

[2016-05-12 22:18] quinot opened #15841 "Incorrect distribution fact initialization on FreeBSD"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

FreeBSD 10.1-RELEASE-p5
##### SUMMARY

All playbooks fail during facts initialization.
##### STEPS TO REPRODUCE

Considering the following playbook "bug.yml"

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

Execution fails with:

[code]

[2016-05-13 00:15] nitzmahone commented on #7118
There are numerous important use cases that rely on this behavior, many of which we're unable to detect reliably to do anything different (think dynamic Jinja2 expression that digs through the hosts in a group to grab an inventory var). Not sure what we could do here to not break those use cases while still allowing for some encrypted inventory files to be ignored. If you've got any ideas, we're a

[2016-05-13 00:15] #7118 closed, assigned to nobody

[2016-05-13 00:30] waffledonkey commented on #14383
It's probably not good form, but this seems to avoid the exception; YMMV

`with_items: "{{`_`undefined_var`_`| default(`**`{}`**`) }}"`

it results in what looks like a skipped step... the -name, if present, will outputs but no ok, changed, skipping, etc.

If you want the result of the step, you can do this:

`with_items: "{{`_`undefined_var`_`| default(`**`omit`**`) }}"`

which results in:

`skip

[2016-05-13 00:50] jianga commented on #13361
I had this error too. I had a previous version (1.5.4) installed a long while back that I had forgotten about, so I uninstalled it: sudo apt-get remove ansible.

[2016-05-13 01:18] colincoghill opened #15844 "default transport (smart) performance hit"
This is probably a tiny part of Issue #12239
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]

also latest dev

[code]
##### CONFIGURATION

transport left to default, or set explicitly transport=smart
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When transport is "smart", ansible checks to see if it can use ControlPersist at the start of every single task before setting the type to "ssh".

[2016-05-13 01:24] idzuwan commented on #12686
you sudoers roles need to be:

`%user ALL=(ALL) NOPASSWD: /bin/su - jboss *`

as normally ansible user is granted full access like this rules:

`%user ALL=(ALL) NOPASSWD: ALL`

[2016-05-13 01:31] colincoghill commented on #15844
Easiest fix is update the docs to tell people to use transport=ssh if they can.

The code that does it is in lib/ansible/executor/task_executor.py

[code]

I couldn't see easily how to make it only do this once, rather than on every connection.

[2016-05-13 02:32] felipou commented on #7118
What about loading the files on demand? I mean, it doesn't make sense to try and load an encrypted file if it isn't going to be used. Some would even consider this a security issue, no? Decrypting a file unnecessarily, I mean.

[2016-05-13 03:23] willthames commented on #15365
See also #14279 for another run_once / vars issue that may or may not be related (basically, consider both issues while fixing this)

[2016-05-13 04:22] iwinux commented on #15429
I encountered this issue in a similar situation.

Guess `item` is a global variable shared inside a play.

[2016-05-13 04:26] omgjlk commented on #14279
So I ran into this today. Interestingly enough, it appears to happen when the first task of a play is a set_fact with run_once. But if the first task does not do run_once, and the second one does, it appears to work fine. This was a very bizarre and difficult to track down bug.

[2016-05-13 07:09] cjw296 opened #15846 "No push support with docker module"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### SUMMARY

While the ansible docker module can build and pull, it cannot push.
Side question: does it require per-user state for the hub login details, or can it store that locally?
(thinking of different jobs on a jenkins server that will run concurrently, but need to be logged in to the docker registry with different users)
#####

[2016-05-13 08:18] bjne commented on #15497
@bcoca This is not about debugging output, but about bringing more transparency to what is going on
in normal mode.

[2016-05-13 08:23] bjne commented on #15382
Fix merged in ee18af48ef47281363556d282e0d7839c14264b5

[2016-05-13 08:23] #15382 closed, assigned to nobody

[2016-05-13 11:28] resmo commented on #13876
Still see this after an upgrade from 1.9.x to 2.0.2.

In ansible.cfg there was a `gathering = smart`, disabled this config fixed it for me. http://docs.ansible.com/ansible/intro_configuration.html#sts=gathering%C2%B6

Target: Debian 7
Host: CentOS 6

[2016-05-13 13:19] chouseknecht commented on #15846
The new docker_image module in 2.1 can build, pull, push, tag, etc. We are scheduled to release 2.1RC2 today. You can also access it by [running from source](http://docs.ansible.com/ansible/intro_installation.html#running-from-source).

You may also want to check out the new [docker_service](https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_service.py) module, which wi

[2016-05-13 13:42] jctanner commented on #15803
@foofoo-2 could you provide example playbooks and -vvvv output examples for your testcase?

[2016-05-13 14:00] jctanner commented on #15818
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-05-13 14:00] #15818 closed, assigned to nobody

[2016-05-13 14:00] jctanner commented on #15819
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-05-13 14:00] #15819 closed, assigned to nobody

[2016-05-13 14:01] jctanner commented on #15821
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-05-13 14:01] #15821 closed, assigned to nobody

[2016-05-13 14:03] jctanner commented on #15824
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-05-13 14:03] #15824 closed, assigned to nobody

[2016-05-13 14:03] jctanner commented on #15826
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-05-13 14:03] #15826 closed, assigned to nobody

[2016-05-13 14:04] jctanner commented on #15827
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-05-13 14:04] #15827 closed, assigned to nobody

[2016-05-13 14:06] #14279 closed, assigned to nobody

[2016-05-13 14:06] jctanner commented on #15831
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-05-13 14:06] #15831 closed, assigned to nobody

[2016-05-13 14:09] jctanner commented on #15837
@mickael-decastro can you provide the full -vvvv output for the task?

[2016-05-13 14:20] drzraf commented on #14380
There is an (important) case for this: **passing stdin securely to subsequent command/shell** (what is not possible as of today)

As talked in IRC today, passing stdin as an argument is not an option as soon as private (vault-originated) values are considered (ps faux would list them). Environment variable are sometimes an option, but not always (I'm unsure about their support in Ansible)

Every m

[2016-05-13 14:34] jimi-c commented on #14279
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-05-13 15:00] jhagg opened #15852 "Log regression in 2.0"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian Jessie Sid

##### SUMMARY
Log regression in 2.0

##### STEPS TO REPRODUCE
Somehow a change was made in how logging is done,
in 1.9 I could limit output to a specifik tag (with -t tag), but
in 2.0 it seems as if _all_ tasks are visited and logged
even if they are

[2016-05-13 15:36] dmcnaught commented on #15824
https://github.com/ansible/ansible-modules-core/issues/3648

[2016-05-13 16:13] ogmueller opened #15853 "handler is executed even though tag is missing"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

ubuntu 16.04 package:

[code]
##### CONFIGURATION

nothing i know off
##### OS / ENVIRONMENT

ubuntu 16.04
##### SUMMARY

when executing a playbook with a tag (--tags), i would assume, that only tasks with this tag gets executed. in ansible 1.9 this was also true for handlers, but the behavior changed. in ansible 2.x h

[2016-05-13 16:32] steve-gregory commented on #14408
@lyncir @tanyewei I was able to get around the error by running:

[code]

in my settings file, and reverting back to the original concurrency pool (prefork/multiprocessing). YMMV.

[2016-05-13 17:13] bcoca commented on #15497
debugging output?  did i miss something?

[2016-05-13 17:16] vladpanainte commented on #15819
Thanks and sorry for confusing the repos. I've submitted an issue to the
indicated repo.

---

Vlad Panainte
On May 13, 2016 17:01, "jctanner" notifications@github.com wrote:

[2016-05-13 17:31] bcoca commented on #7118
@felipou how do we KNOW the file is not needed? until we decrypt it we don't know the variables it contains and we cannot know if the play uses them or not.

[2016-05-13 17:35] bcoca commented on #12686
To run any command as a specific user:

%user ALL=(jboss) NOPASSWD: ALL

which removes the need for `su`​

---

Brian Coca

[2016-05-13 17:41] jctanner commented on #13401
Hi!

A change has been applied for this ticket, which should resolve this item for you.

If you believe this ticket is not resolved, or have further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
- https://groups.google.com/forum/#!forum/ansible-devel - for s

[2016-05-13 17:41] #13401 closed, assigned to nobody

[2016-05-13 17:55] felipou commented on #7118
You're right, I had mistaken the way Ansible organizes its variables with another program.

[2016-05-13 18:02] nitzmahone commented on #13936
This is in current 2.1RC1 and devel. There aren't currently plans for a 2.0.3- I might backport if we do, but otherwise, grab 2.1. Closing...

[2016-05-13 18:02] #13936 closed, assigned to nitzmahone

[2016-05-13 18:07] kadecole commented on #7118
My thought would be that if you are running a play on a particular group you would only load the group_vars/group_name/ files and the group_vars/all file. That should be the only files you need to load.  If my vault encrypted file is not in these locations then you should not need to load that file and decrypt that file.

[2016-05-13 18:15] sivel commented on #13895
This has been resolved in https://github.com/ansible/ansible/pull/15337

[2016-05-13 18:15] #13895 closed, assigned to nobody

[2016-05-13 18:15] sivel commented on #15761
This has been resolved in #15337

[2016-05-13 18:15] #15761 closed, assigned to nobody

[2016-05-13 18:26] bcoca commented on #7118
@kadecole that you target 1 group does not mean you do not use vars from other groups.

[2016-05-13 18:39] foozmeat commented on #15349
I think this pairs nicely with blocks in that I can add a comment to my vagrant and production blocks indicating which one is executing.

[2016-05-13 19:00] bbaassssiiee commented on #12686
The sudoers file is complex, sensitive to security errors like shell escapes, and poorly understood. This has led to a practice of granting all permissions/or none, while a granular approach is possible with sudo. Corporate rules dictate that
Ansible impersonates the NPA of the application, but we need more privileges for the application to exist. The community needs more examples of combining Ans

[2016-05-13 19:18] matburt opened #15854 "Rackspace inventory fails with SSL error on Centos7"
##### ISSUE TYPE
- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

CentOS 7:

[code]
##### SUMMARY

Running the rax.py inventory script with the latest pyrax and a valid configuration yields an SSL error:

[code]

[2016-05-13 19:22] sivel commented on #15854
It sounds as though you do not have an up to date cacert bundle that enables you to handle validating the certificate for the Rackspace APIs.

If you wish to exclude cert verification, you should be able to utilize a `~/.pyrax.cfg` file to configure pyrax ssl handling such as:

[code]

[2016-05-13 19:22] sivel commented on #12686
@bbaassssiiee part of the difficulty there, is that ansible executes a shell with sudo permissions, such as `sudo -H -S -u USERNAME /bin/sh -c '/usr/bin/python'` (it gets a little more complicated than that, but that is an example).  This is partially due to the fact that the system commands that ansible runs are run from within a python file.  Additionally there are not always commands that are r

[2016-05-13 19:31] sivel commented on #15854
Of note here.  I tested this on the docker `centos:7` image and SSL verification works without issue and the image has the most up to date `ca-certificates` OS package installed.

[2016-05-13 19:33] bbaassssiiee commented on #12686
Our idea here is that the account that is used to run ansible is set up in such a way that it can only run ansible, or at least that it encourages running ansible. This is to change people's habits of using a generic account to do changes in an untracable way. Changes should be codified, stored in Git, and tested.

I expanded the idea of the 'logout' in ~/.bash_profile in a repo on github.
https:/

[2016-05-13 19:34] matburt commented on #15854
Disabling ssl is probably not something that we'll want to do.    This is the version of `ca-certificates` package installed:

[code]

[2016-05-13 19:35] dejayc opened #15855 "Ansible over SSH proxy disconnects after service module is run"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

In my group_vars:
`ansible_ssh_common_args: -o ProxyCommand='ncat --proxy 127.0.0.1:80 --proxy-type http %h %p'`
##### OS / ENVIRONMENT

Mac OS X 10.10.5 Yosemite
##### SUMMARY

When I use an SSH proxy by specifying a `ProxyCommand` as part of `ansible_ssh_common_args`, then issuing the `ser

[2016-05-13 19:37] matburt commented on #15854
backleveling certifi seems to work:

[code]

Seems like this issue on pyrax is somewhat related: https://github.com/rackspace/pyrax/issues/601

Though it's closed by the rackspace team it still seems to be an issue for some people.

[2016-05-13 19:41] sivel commented on #15854
Ok, this sounds like it is not an ansible issue, but potentially an issue with the cert on the Rackspace APIs.

That pyrax issue lists several resolutions including the fix you have mentioned, as well as installing the root thawte cacerts.

Going to ho ahead and close this out.

[2016-05-13 19:41] #15854 closed, assigned to nobody

[2016-05-13 19:48] jhutar opened #15856 "Saving content of big variable to local file takes too long time/or maybe is somehow broken"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Nothing specific besides custom `private_key_file` and `host_key_checking = False`
##### OS / ENVIRONMENT

Red Hat Enterprise Linux 7 on all involved machines
##### SUMMARY

Saving content of big variable to local file takes too long time/or maybe is somehow broken.
##### STEPS TO REPRODUCE

[2016-05-13 20:04] sivel commented on #15856
I imagine part of this is due to how task arguments are passed to the python script that will actually perform the work.

The arguments to a task get serialized into JSON and then stuffed inside of a python file as a variable.  That python script is then executed, it then has to load that variable, turn the JSON string data into a python object, and then writes the contents of that argument into a

[2016-05-13 20:10] #15697 closed, assigned to nobody

[2016-05-13 20:10] jimi-c commented on #15697
# Closing This Ticket

Hi!

We believe the above commit should resolve this problem for you. This will also be included in the next release.

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:
- https://groups.google.com/forum/#!forum/ansible-project - for user questions, t

[2016-05-13 20:26] #15791 closed, assigned to Qalthos

[2016-05-13 20:57] #15841 closed, assigned to nobody

[2016-05-13 21:26] lqueryvg commented on #10791
I've written a chage Ansible module in Python, available here:

https://github.com/lqueryvg/ansible-role-chage

It provides proper & efficient read & write access to the Linux /etc/shadow file via Python spwd & chage commands (respectively), by which I mean it can change multiple shadow attributes for a user in one I/O (via spwd) and bundles multiple attribute changes into one invocation of chage

[2016-05-13 21:29] bcoca commented on #12088
closing via #13443

[2016-05-13 21:29] #12088 closed, assigned to nobody

[2016-05-13 21:30] bcoca commented on #12094
done, but renamed to ansible-console, available in 2.1

[2016-05-13 21:30] #12094 closed, assigned to nobody

[2016-05-13 22:05] turkenh commented on #13876
Seeing the error with ansible 2.0.2.0 with Docker containers (target=ubuntu 14.04 && host=ubuntu 14.04)
@dregin's workaround, setting ansible_user=root seems to change the issue from "always" to "intermittently".
So still having problems :(

[2016-05-13 22:05] psivesely commented on #10065
+1

[2016-05-13 23:59] einarc opened #15860 "Provide access to mysql 5.7 installs"
##### ISSUE TYPE
- Feature Idea
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

NONE/Using Tower
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Cannot log in as root@localhost into mysql with null password anymore.

The problem is the same as the problem mentioned her:
https://forge.puppet.com/puppetlabs/mysql#mysql_datadir
Ansible playbooks for mysql become deprecated because of the feature introd

[2016-05-14 00:50] nitzmahone commented on #14077
closing for inactivity, cannot reproduce

[2016-05-14 00:50] #14077 closed, assigned to nobody

[2016-05-14 06:17] cjsheets opened #15861 "Missleading Error Message when Run Error Combines with `--limit + host + glob`"
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

Standard
##### OS / ENVIRONMENT

Debian / Default Config
##### SUMMARY

When running a play that will produce an error while defining hosts using a valid glob pattern ansible reports `ERROR! Specified --limit does not match any hosts` rather than the actual error.
##### STEPS TO REPRODUCE

*

[2016-05-14 06:43] Jorge-Rodriguez commented on #15495
@techraf can you paste the output from the successful call using Vault's CLI? It seems to me that this particular secret does not have its content stored under the "value" key, remember that the secret values under a given path are pretty much free form.

[2016-05-14 06:50] techraf commented on #15495
Here are the results:

[code]

[2016-05-14 08:32] Jorge-Rodriguez commented on #15495
@techraf the certificate's value is under the `certificate` key, not under the `value` key, that is why the module is failing.

You could submit a feature request to be able to specify the key to retrieve, I have an improvement PR on this plugin, I'd be sure to add it.

[2016-05-14 14:54] lrills opened #15862 "Problem using role with path under 1.9.6."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

This happened while writing tests of role.
Had a problem using path as role name in playbook under `tests/` to point it to the root of role.
This is the repository of role: https://github.com/Yoctol/ansible-docker-postgres
And the only wa

[2016-05-14 19:53] hkariti commented on #14665
this still exists in 2.1-rc2. this (and #15395) are major bugs imho, they make ansible unusable for playbooks with >1 plays.

[2016-05-14 20:37] jeremypruitt commented on #14665
+1 this is a brutal bug for folks targeting multiple hosts using multiple plays. I check every one of these bugs every single day hoping for a light at the end of the tunnel :) I'd be willing to help but not sure where to start with this one.

[2016-05-14 22:19] pabelanger commented on #15665
+1, pinning paramiko<2.0.0 would help. Additionally, once you do pull into paramiko, native support for CentOS 7 is basically gone, since you then need newer version of setuptools and such.

[2016-05-15 10:40] hkariti commented on #9855
this appears to be fixed in devel, closing.

[2016-05-15 10:40] #9855 closed, assigned to nobody

[2016-05-15 11:03] allo- commented on #14668
I can still reproduce the issue (ansible 2.0.2.0):

inventory:

[code]

and commandline

[code]

[2016-05-15 13:24] ktosiek commented on #14665
@jeremypruitt I think this is a duplicate of the bug I'm fixing in #13750, so the only thing left is nagging the developers until they fix it. If by any chance you find a less buggy CM system give me a heads up :-)

[2016-05-15 16:19] svpace opened #15864 "[modules-core: file] Allow for "directory" or "link" in place of "file" with state"
- Feature Idea
##### ANSIBLE VERSION

[code]
##### SUMMARY

using "file" to check for directories (or links) is not very intuitive.
It would be great if

[code]

could be used as an alias for

[code]

[2016-05-15 17:33] jonpugh commented on #8992
Drush make uses `--working-copy` as the name of it's option...

[2016-05-15 17:49] biancalana opened #15865 "Better FreeBSD distribution facts"
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION
##### OS / ENVIRONMENT

FreeBSD 10.2
##### SUMMARY

To write generic roles is fundamental to detect operating system version and release information.
The distribution_version does not show coherent version information on FreeBSD, additionally there's no distribution_major_version variable set.

##### STEPS TO REPRODUC

[2016-05-15 18:52] Brian-Williams commented on #14668
Hey allo-,

The default behavior of parameter "ansible_connection" changed from pre 2.0 to post 2.0. On some systems it will now default to paramiko. Paramiko doesn't support scp, it uses sftp. If you are connecting to systems like I am where sftp is refused you must set BOTH of these:

ansible_connection=ssh
scp_if_ssh=True

It's slightly confusing in my mind because any time I would need scp_if_

[2016-05-15 18:55] jonpugh opened #15867 "Allow install --working-copy or a way to install dependencies of roles that already exist?"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I am trying to setup a development environment for my project opendevshop/devshop.
We use ansible roles, 4 of which are "ours".  I'd like to clone our development roles directly from git, and install the rest as normal.
I thought I could clone my roles

[2016-05-15 19:22] allo- commented on #14668
Hi. I read this in this bug, but shouldn't this work with the options set per host in the inventory (see my post above)?
I only have a few hosts without sftp, so i would prefer to use it only for those hosts.

[2016-05-15 20:19] tom-clx commented on #12537
Not a solution, but perhaps a clue.. I am running into this behavior in a similar environment (also FreeBSD 10.2, Ansible 2.0.1.0). I've done some troubleshooting, and the behavior occurs when the become_user has a login shell of /bin/sh. If I change the login shell to /bin/csh, the task succeeds. I've gone through my Ansible config to make sure there aren't any sneaky tweaks for csh (used to be m

[2016-05-15 20:21] Brian-Williams commented on #14668
Scp_if_ssh doesn't appear to be an [inventory parameter](http://docs.ansible.com/ansible/intro_inventory.html#list-of-behavioral-inventory-parameters).

You need to put scp_if_ssh=True in your ansible.cfg. You could put ansible_connection=ssh only on your non-sftp hosts and it should use sftp on your other hosts.

[2016-05-15 20:39] allo- commented on #14668
Hmm okay. Maybe it should be?
Do i see it correct, that sftp is a lot more performant (when copying multiple files) than scp?

[2016-05-15 20:52] Brian-Williams commented on #14668
Scp is faster. Sftp has to wait for packet confirmations.

[2016-05-15 20:59] jeremypruitt commented on #14665
@ktosiek Ya I saw that. I think I am subscribed to 3 issues related to this (including this one).

[2016-05-16 01:29] xrobau commented on #13485
Confirmed this is broken again in 2.0.2.0

Edit: This is visible because EPEL has upgraded their Ansible version from 1.9.x to 2.0.2.0, which has this issue.  If you're coming here because your playbooks have suddenly stopped working, the resolution (if you're on CentOS or RHEL) is this:

[code]

I've created a bugzilla ticket - https://bugzilla.redhat.com/show_bug.cgi?id=1336266 - that links here

[2016-05-16 02:00] simonschuang opened #15868 "Variable value in "vars_files" can not be found in "wait_for" task."
##### ISSUE TYPE

- Bug Report
##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

no change
##### OS / ENVIRONMENT

Ubuntu 14.04.4 LTS
##### SUMMARY

When executing a playbook with "inventory_hostname" as part of file name of "vars_files". I assume ansible can find the "vars_files" and execute "wait_for" for waiting servers start after a reboot.
##### STEPS TO REPRODUCE

[2016-05-16 03:58] jimi-c commented on #13485
This is not broken again, it was fixed in devel and included in the stable-2.1 branch, so it will be included in the 2.1 release.

[2016-05-16 05:40] brandond commented on #15115
This is fixed by https://github.com/ansible/ansible/pull/15890, but you should also really get the fix from https://github.com/ansible/ansible/issues/14435 or other things will break afterwards as well.

[2016-05-16 05:57] karniemi commented on #13905
While there, can you please document this list-feature for failed_when? I'm pretty sure I read somewhere that the items are combined using 'or' ...but lacking official docs means it's non-specified behavior altogether.

Here one example from ansible team telling that the list is combined using 'or': https://groups.google.com/forum/#!topic/ansible-project/cIaQTmY3ZLE

[2016-05-16 07:17] Jorge-Rodriguez commented on #15495
Fixed on #13690

[2016-05-16 09:02] cjw296 commented on #15846
Is the dev/2.1 documentation build out anywhere online? It does sound like what we're after.
When's 2.1 due to be released?

`docker_service` does look very interesting. Where do the packages in https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_service.py#L413 come from? The requirements for the module are a bit confusing: are they python packages or OS packages?

Our

[2016-05-16 09:22] awasilyev commented on #14578
Same issue when trying to run template on local machine:
- local_action: template dest=".tmp/inventory.md" src=inventory.txt

[2016-05-16 11:07] j3p0uk opened #15871 "Openstack inventory needs to list errored nodes that don't have an internal_ip"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
openstack dynamic inventory script

##### ANSIBLE VERSION
2.2

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
This line means that if there is no internal IP on the node it is not in the inventory: https://github.com/ansible/ansible/blob/devel/contrib/inventory/openstack.py#L136
This means that you cannot use the anisb le inventory to r

[2016-05-16 11:37] anshbikram opened #15876 "run_once with strategy free"
##### ISSUE TYPE

- Bug Report
##### ansible 2.0.0.2
##### SUMMARY

ansible run_once executes the instruction once for the first host from hostfile. Hence when there are dependency of that task (with run_once task), if i am runnig playbook with strategy: free, it is resulting in error.
Reason: the run_once will run only for the first host (first host in hostfile), but in "strategy: free" as there

[2016-05-16 12:07] bcoca commented on #15876
what 'resulting error'? can you provide a simple reproducible example?

[2016-05-16 12:12] bcoca commented on #15871
cc @emonty @Shrews

[2016-05-16 12:21] anshbikram commented on #15876
In my setup, i was creating a ".buildinfo" file (with run_once, as the file must be created once), and then all other hosts would copy that pre-created file. This particular task was made run_once. According to run_once rule this task will only be run by host1 (first node mentioned in hostfile for the role).

Now, when i opted for "strategy: free" i was getting error as
`>[10.42.208.114] => (item=

[2016-05-16 12:29] vuliad opened #15883 "Ansible apt module, ignores force."
##### ISSUE TYPE

- Bug Report
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

Adding force=yes to apt has no effect.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

OK
##### ACTUAL RESULTS

[code]

[2016-05-16 12:32] bcoca commented on #15883
# Module Repo Information

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:

[2016-05-16 12:32] #15883 closed, assigned to nobody

[2016-05-16 12:46] bcoca commented on #15846
closing as this is provided by docker_image

[2016-05-16 12:46] #15846 closed, assigned to nobody

[2016-05-16 12:51] bcoca commented on #15495
closing via #13690

[2016-05-16 12:51] #15495 closed, assigned to nobody

[2016-05-16 13:20] jimi-c commented on #15876
The free strategy emits a warning (at least, as of 2.1) if run_once or a few other "lock-step" options are used:

<pre>
run_once = templar.template(task.run_once) or action and getattr(action, 'BYPASS_HOST_LOOP', False)
if run_once:
    if action and getattr(action, 'BYPASS_HOST_LOOP', False):
        raise AnsibleError("The '%s' module bypasses the host loop, which is currently not supported in t

[2016-05-16 13:28] emonty commented on #15871
In the normal case, putting servers that are not actually servers in the inventory would make it hard for most playbooks to run successfully, since the hosts that didn't exist would wind up in groups and as targets for action, but would be unreachable due to being in error state. We could add a config option for the inventory to allow you to decide you'd prefer them to show up in the normal invent

[2016-05-16 13:40] alikins commented on #15864
This appears to be a submission about the 'file' module. That is a module in ansible-modules-core.

We would appreciate if you can submit this there (https://github.com/ansible/ansible-modules-core)
instead. (If we move it, the owner of the issue resets to ansible instead of you).

[2016-05-16 13:44] jctanner commented on #15860
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a submission about a module, and aside from action_plugins, if you know what those are, the modules
in ansible are now moved to separate repos.  We would appreciate if you can submit this there instead.

If this is about a new module, submit pull requests or ideas to:
- https://github.com/ansib

[2016-05-16 13:44] #15860 closed, assigned to nobody

[2016-05-16 13:55] j3p0uk commented on #15871
I would like to see the option of having the dynamic inventory not trim the returned server list.

Ansible has controls for determining a certain percentage of hosts must pass, etc, and I think being helpful in the dynamic inventory is unnecessary obfuscation.  It took me time to debug why I wasn't seeing servers I expected to get back from the dynamic inventory.

It would be great if add_host cou

[2016-05-16 14:05] #15133 closed, assigned to privateip

[2016-05-16 14:05] jean-christophe-manciot commented on #10975
Same issue here

[2016-05-16 14:12] anshbikram commented on #15876
Is there any other workaround for this purpose or are you creating any patch anytime soon?

is it possible by using "register" somehow?