[2017-02-27 01:34] kurahaupo commented on #12459
My guess is that `/dev/urandom` is behaving like `/dev/random` under Ansible, and waiting for secure entropy to be available.

In which case it's not hung, it's just slow. If you wait long enough (possibly _days_) it will continue.

This looks at first glance like "useless use of cat", but in this case that's actually wrong: it's _harmful_ use of cat, because `cat` will attempt to read in chunks o

[2017-02-27 02:05] berney commented on #18287
This might be related meta: clear_host_errors not working on tasks #19673.

[2017-02-27 03:05] privateip commented on #18967
Have you tried this method for your test infras?

http://docs.ansible.com/ansible/intro_installation.html#running-from-source

[2017-02-27 04:15] nbraud commented on #20933
Quick question: where would the KDF salt be stored, if the same is to be used for all vault-encrypted files?
In principle, it would be possible to let users set a salt in `ansible.cfg` or somesuch, and have all the performance benefits when it is done, but that's very hack-y.

Aside from that, I would very much be in favour of having
- a new vault “format” (or cipher class, or whatever is the prop

[2017-02-27 06:20] microcosm opened #21980 "Unsupported parameter for replace module: path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module: replace

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Running from OSX, managing Arch Linux

##### SUMMARY
I can't use the path parameter on the replace module. I get:
`fatal: [default]: FAILED! => {"changed": false, "failed": true, "msg": "unsupported parameter for module: path"}`

##### STEPS TO

[2017-02-27 06:22] krishnachaitanya511 opened #21981 "Adding text to the end of an existing line"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
Ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
I would like to add text to my existing file. Here is the text to be added and existing text below
Existing Text: **java.extended.properties=-Xmx1024m -Xms256m -XX:-HeapDumpOnOutOfMemoryError -XX:SurvivorRatio=128 -XX:MaxTenuringThreshold=0  -XX

[2017-02-27 06:23] microcosm commented on #21980
# Before 2.3, option 'dest', 'destfile' or 'name' was used instead of 'path'

[2017-02-27 06:23] #21980 closed, assigned to nobody

[2017-02-27 07:46] xandr2 commented on #21893
Hi, yes sure.

[code]

[2017-02-27 08:04] jhawkesworth commented on #21128
Just going through my open issues.  I'm hoping this will be fixed by #21846

[2017-02-27 08:29] olex777 commented on #21565
Yes, in this version all works fine. Thank you!

[2017-02-27 08:43] olex777 commented on #21565
All is fine with ios_facts, but when I try nx-os_facts I had the same problem:
TASK [NXOS-Facts] ******************************************************************************************************************************************************************
task path: /etc/network/scripts/databases/playbook_ansible/1_nx-os_facts.yml:10
Using module file /etc/network/scripts/ansible/lib/ansible/m

[2017-02-27 08:45] olex777 commented on #21565
So if someone could do the same thing you did with ios_facts with nx-os facts I will be thankfull.

[2017-02-27 08:57] JulienPalard opened #21982 "Exception ignored in: <function WeakValueDictionary.__init__.<locals>.remove"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

forks = 100, pipelining = True

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Sometimes, like once every 10 runs, I'm getting a whole lot of (like 20 times, all have the exact same address):

[code]

##### STEPS TO REPRODUCE

I can reproduce it with a `--limit` on one host

[2017-02-27 09:05] bjolivot commented on #21981
Hello, you could use lineinfile module:
http://docs.ansible.com/ansible/lineinfile_module.html
For help, prefer irc channel (#ansible in freenode irc network)
or forum (https://groups.google.com/forum/#!forum/ansible-project)
notabug

[2017-02-27 09:08] bjolivot commented on #21965
notabug
Hello, you can use max_fail_percentage
http://docs.ansible.com/ansible/playbooks_delegation.html#maximum-failure-percentage

[2017-02-27 09:50] libp commented on #21699
i need you to suport it. if you help me ,i will donate 100 million$ to you

[2017-02-27 10:34] gundalow commented on #19600
Doesn't look like the maintainer is active anymore, so we'd be looking at the community to help with this.

[2017-02-27 10:40] mscherer commented on #18456
We still have https://github.com/ansible/ansible/projects/1 for python3 porting

[2017-02-27 10:45] gundalow opened #21983 "aix_inittab: RETURN needs documenting"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aix_inittabt

##### SUMMARY
@molekuul It appeared that the `RETURN` block wasn't formatted correctly in the original PR https://github.com/ansible/ansible/pull/21511 this wasn't spotted by our CI tests (which I'll look into)

This caused the production of webdocs to fail, so I removed it in https://github.com/ansible/ansible/commit/1d2349872ade6

[2017-02-27 11:37] anryko commented on #21914
```bool(python=True|False)``` looks good. I can prepare a PR some evening this week if that's OK with you.

[2017-02-27 11:41] MarkusTeufelberger commented on #20933
As I wrote above, either have a "random value" field in ansible.cfg, as many other softwares have or have a format like this for the vault blob: [name of "Cipher"][local settings for cipher, e.g. number of rounds, strength params][local salt][global salt][encrypted data]

If global salt is in ansible.cfg or in every encrypted blob does not make much difference security wise, storage is cheap and i

[2017-02-27 11:59] tofaramac commented on #2303
Good day. I am having issue with templates on my ansible.  I have this and its not updating my source.list , it completes with green but no changes to the file. Am i missing something. Its happening only to six hosts and to the rest its working. I don''t know the difference between these hosts i tried to check everything.

- name: update sources.list
  template: src=sources.list.j2 dest=/etc/apt/s

[2017-02-27 12:01] furkanmustafa opened #21986 "cs_sshkeypair: unhandled case of already registered ssh keys"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudstack/cs_sshkeypair

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing specific

##### OS / ENVIRONMENT
Using ansible in `alpine:3.5.0` docker image, also did `pip install sshpubkeys cs uritools`

##### SUMMARY
In a specific (east-2) region of IDCF Japan, API is returning 431 response (full detailed below).

##### STEPS TO REPRODUCE

[2017-02-27 12:24] resmo commented on #21986
@furkanmustafa Hi, could you tell the version of cloudstack involved? You could either find this in the standard UI "about" or by the API http://cloudstack.apache.org/api/apidocs-4.9/apis/listCapabilities.html

needs_info

[2017-02-27 12:44] dobegor opened #21989 "elasticsearch_plugin: wrong binary and unsupported "timeout" option."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`elasticsearch_plugin`

##### ANSIBLE VERSION

`devel`

##### CONFIGURATION

None.

##### OS / ENVIRONMENT

Ubuntu 16.04 64-bit
##### SUMMARY

Ansible uses wrong binary by default and passes an unsupported option to plugin installer, so it crashes.

##### STEPS TO REPRODUCE

Define a plugin install action.

[code]

##### EXPECTED RESULTS

Plug

[2017-02-27 12:44] jhawkesworth commented on #20696
I'm going to close this as it has been fixed now, along with another error where assemble appeared in this list erroneously.

[2017-02-27 12:44] #20696 closed, assigned to nobody

[2017-02-27 12:56] pshchelo commented on #21782
this might have to be related to https://github.com/ansible/ansible/issues/20098.

There was a bug in Jinja2 2.9.[0-4] that Ansible community fixed by hard-coding Jinja2<2.9 to PyPI releases 2.2.1.0 and 2.1.4.0 (before, there was no capping of Jinja2 version).

The bug was actually fixed in Jinja2==2.9.5, so the difference might be due to on Ansible 2.2.0.0 you get Jinja2==2.9.5 (or whatever lates

[2017-02-27 13:07] jhawkesworth commented on #19623
@aaronk1 Can you advise what os, distribution and version you are using?  I think under some distros some of the dependencies are already available.
I believe there are some doc re-writes in progress which should make it a clearer what is needed to be installed, but it would be useful to know what you are running on.

[2017-02-27 13:11] jhawkesworth commented on #19213
needs_info

[2017-02-27 13:16] r0bj commented on #21965
@bjolivot I'm sure what do you mean, according to your link:
[code]
So without use of `max_fail_percentage` not failed hosts should be processed.

[2017-02-27 13:19] jctanner commented on #21852
cc @tima

[2017-02-27 13:22] jhawkesworth commented on #18923
I think this issue report has been incorrectly tagged as being for windows.

bot_broken

[2017-02-27 13:25] jhawkesworth commented on #18923
@bryfry - please can you try with latest development version of ansible?  There have been some important security fixes since 1.7.2 was released.

[2017-02-27 13:34] jhawkesworth commented on #18885
This needs @jmighion  to retry using latest devel version of ansible following recent changes to this module.

needs_info

[2017-02-27 13:35] jhawkesworth commented on #18883
This needs @jmighion to retry using latest devel version of ansible following recent changes to this module.

needs_info

[2017-02-27 13:35] jhawkesworth commented on #18880
This needs @jmighion to retry using latest devel version of ansible following recent changes to this module.

needs_info

[2017-02-27 13:36] jhawkesworth commented on #18468
This needs @SaitamaGuru to retry using latest devel version of ansible following recent changes to this module.

needs_info

[2017-02-27 13:37] jhawkesworth commented on #18197
Agreed this should not be labeled for windows.  For some reason bot broken doesn't seem to be picked up.  will try putting it on a separate line

bot_broken

[2017-02-27 13:38] bjolivot commented on #21965
with serial: 1 each host is a group

[2017-02-27 13:40] jctanner commented on #21867
Ansible does not set a priority on key versus passwords with paramiko. We're simply giving the parameters to the connection method and then paramiko handles the method order.

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/paramiko_ssh.py#L229-L239

http://docs.paramiko.org/en/2.1/api/client.html

It's also specified in the RFC that the available methods are determine

[2017-02-27 13:40] #21867 closed, assigned to nobody

[2017-02-27 13:44] jctanner commented on #21872
@dirkvdplas please check the alignment of your final with_items parameter.

[code]

Should probably be ...

[code]

needs_info

[2017-02-27 13:47] jctanner commented on #21885
@smemsh did you find a reference or an example or documentation somewhere that implies "when" is a valid keyword for role depedencies?

needs_info

[2017-02-27 14:00] bcoca commented on #21914
just to expand it in case 'other rules' want to be applied `bool(as='python')`

[2017-02-27 14:02] aizimmer commented on #2303
@tofaramac  Some sample verbose output from the playbook run might help in diagnosing the issue, though if it is in fact turning green (chanaged: false) then there may not be anything useful. It sounds as though no changes need to be made to the files on those hosts. If that's not the case and they indeed don't match what should be produced by the template, a core developer might have better luck

[2017-02-27 14:05] gundalow opened #21994 "iosxr_template & iosxr_config: unable to enter configuration mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iosxr_config
iosxr_template

##### ANSIBLE VERSION
[code]

##### SUMMARY
`"unable to enter configuration mode"` with `iosxr_config` and `iosxr_template`

##### STEPS TO REPRODUCE
`time ANSIBLE_ROLES_PATH=targets  ansible-playbook -vvvvv  -i  inventory.network iosxr.yaml  -e "limit_to=iosxr_config" -u root -k`

`time ANSIBLE_ROLES_PATH=targets  a

[2017-02-27 14:07] asimayub commented on #14369
Any update on this issue, I am getting the same error for Ansible 2.2

[2017-02-27 14:11] jctanner commented on #21909
@KITSDwarikaPrasad can you run these commands and show me the output?

1. which ansible-playbook
2. ls -al $(which ansible-playbook)
3. head $(which ansible-playbook)

needs_info

[2017-02-27 14:16] krzysztof-magosa commented on #14369
You've specified `authorized` as a list while you use it later in lookup `file` which expects ONE filename. You would need to use `with_subelements` to cover user with all belonging keys.

[2017-02-27 14:24] tofaramac commented on #2303
not sure what it is because the source.list has to change from my local mirror which i use to install the hosts. It worked with the other hosts but just stopped when i was now running the play to the other hosts. Also i realise again on those same hosts a play can run though and show changed on play but open the file it never changed. Is this a bug or something not right on these hosts

[2017-02-27 14:30] gerhard-tinned commented on #20916
Well lets start with the fact that this unusual behavior is not documented anywhere?

If you use such a non-logical unusual behavior, it would be nice if it could be documented in the related pages. But the inheritance is not explained or described anywhere!!

[2017-02-27 14:30] alexfeig commented on #21901
Hi folks - I am also experiencing the same issue with eos_config and 2.2.2.0 (on OSX) - this seems to be fixed in 2.3.0 installed via `pip install git+git://github.com/ansible/ansible.git@devel`

[2017-02-27 14:34] dagwieers commented on #18197
Hmm, so bot instructions now have to be on their own line ? That wasn't the case earlier though.

[2017-02-27 14:36] dagwieers commented on #18880
And possibly propose integration tests so we can ensure this is and will be working fine.

[2017-02-27 14:41] KITSDwarikaPrasad commented on #21909
@jctanner , My issue is resolved  with a reinstall. Details are -
The issue was with cloning from git and copying to server. I had cloned the project in my windows environment and then did scp to the Linux server. I was getting issue in this case.
Then I tried reinstalling Ansible by git clone in Linux itself , so scp was required. This time I did not get  any issue.
The output of the requested co

[2017-02-27 14:44] anuragdevops opened #21999 "Please asist me in find the issue for cloning ansible galaxy roles"
[ivmgr@rltv0171 stadm01: ansible-galaxy install git+https://as555y@codecloud.web.att.com/scm/st_ipa/ipa_galaxy_roles.git,master --roles-path=/opt/app/ipa/roles -vvv --force
Using /opt/app/ipa/ansible.cfg as config file
Opened /home/ivmgr/.ansible_galaxy
Installing role ipa_galaxy_roles
Password for 'https://as555y@codecloud.web.att.com':
- extracting ipa_galaxy_roles to /opt/app/ipa/roles/ipa_gala

[2017-02-27 15:07] #19466 closed, assigned to alikins

[2017-02-27 15:10] iamnatalie commented on #4369
for me it was wrong location in ec2.ini
needed to be in the same working dir as the script

[2017-02-27 15:10] brozenzwork commented on #14369
Hello. I've fixed this issue with this configuration:

[code]

As you can see I've deleted lookup section in "key" assignment. Vars looks like in my previous reply.

[2017-02-27 15:12] bcoca commented on #15365
So run_once also implies 'copy facts to all hosts in play', in this case you are giving contradictory instructions to Ansible. Leaving open as I'm not sure if we want to a)document better , b) issue a warning or c)make this a special case

[2017-02-27 15:14] #15326 closed, assigned to nobody

[2017-02-27 15:16] bcoca commented on #21965
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As mentioned in comments above, this is expected behaviour for serial as it 'defines the group' of hosts that are being considered.

In

[2017-02-27 15:16] #21965 closed, assigned to nobody

[2017-02-27 15:16] gundalow commented on #21897
Can be done post 2.3 Module freeze

[2017-02-27 15:17] gundalow commented on #21900
Is this deliberate
Do we need to document anything?

[2017-02-27 15:18] bcoca commented on #21974
cc @Spredzy

[2017-02-27 15:21] jean-christophe-manciot commented on #18967
@privateip : ```source ./hacking/env-setup``` does not build a package, it just modifies the environment to run ansible from the git sources.

[2017-02-27 15:23] bcoca commented on #21981
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-02-27 15:23] #21981 closed, assigned to nobody

[2017-02-27 15:23] tabowling commented on #19466
I would recommend _not_ trying to overload --pool and instead try to match the syntax of the subscription-manager tooling to avoid confusion.  This is an interface to subscription-manager so it seems it should match the input and syntax.  Having it be very different is extremely confusing and counter intuitive.

subscription-manager has the auto-attach option.  You could look at that python code a

[2017-02-27 15:23] olex777 opened #22001 "Problem with nxos_facts on ansible 2.3"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report
bug report
##### COMPONENT NAME

nxos_facts
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

centOs 6.9
##### SUMMARY

So for some reasons when I have invalid input on command next step of the module behaviour generation of the error and process iterrupted. Commands which have not "invalid input" wor

[2017-02-27 15:23] gundalow commented on #21599
We could change the message to be
`"failed to connect to the listener socket, connection timeout. Please see docs.ansible.com/foo"`

This is a documentation issue

We need a section about how to debug
[code]

[2017-02-27 15:23] bcoca commented on #21999
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-02-27 15:23] #21999 closed, assigned to nobody

[2017-02-27 15:24] gundalow commented on #20748
Peter said this is something we can do for 2.4

[2017-02-27 15:25] tabowling commented on #19466
[code]

[2017-02-27 15:28] alikins commented on #15365
I'm seeing a traceback attempting to reproduce this.

hosts
[code]

test.yml
[code]

traceback:

[code]

[2017-02-27 15:28] #21565 closed, assigned to rcarrillocruz

[2017-02-27 15:31] tabowling commented on #19466
Also this...
[code]

[2017-02-27 15:38] alikins commented on #15365
The traceback in https://github.com/ansible/ansible/issues/15365#issuecomment-282752186  looks related to 3d65482927e33daa30bb6bfc2153b4c64775ee15 so likely unrelated.

[2017-02-27 15:38] nisaacson commented on #18469
The lack of /dev/shm in lambda is unfortunate indeed.

Please comment on that thread @jessegonzalez linked to the AWS forums. This will help AWS see the value in prioritizing adding /dev/shm.

[2017-02-27 15:44] alikins commented on #15365
Going back to the commit before 3d65482, I can reproduce the observed behavior:

hosts
[code]

test.yml
[code]

output:

[code]

[2017-02-27 15:48] JakeDEvans commented on #21189
@boxrick
[code]

[2017-02-27 15:54] bcoca commented on #15365
traceback only happens when looping and is unrelated issue (previous change removed used task_vars)

[2017-02-27 15:56] jhawkesworth commented on #20342
@deekayen @drowzy - please could you test https://github.com/ansible/ansible/pull/20680 and comment on that issue, so hopefully it can get merged.

 The development of ansible 2.3 is coming to a close so if you could test this before 1st March then we can likely get this fixed merged in before 2.3 is released.  Otherwise it may have to wait until 2.4 which will be a number of months away.

[2017-02-27 15:57] alikins commented on #15365
After applying patch from https://gist.github.com/bcoca/66f5cc81716bace24499f1a437299816 to devel/, I seem to still see the behavior mentioned in original report.

[code]

[2017-02-27 16:10] amblina commented on #21796
@s-hertel One thing to bare in mind with recommendation to use s3_sync module is that according to docs it's available in 2.3 and the current stable release is 2.2.

[2017-02-27 16:10] bcoca commented on #21982
without a way to reproduce this, it will be hard to figure out what this bug is

[2017-02-27 16:16] pgrenaud commented on #17266
@bcoca Since you closed #15326 and #21997, you might want to take a look at this. (It's probably fixed too.)

[2017-02-27 16:18] krzysztof-magosa commented on #20916
What's non-logical in fact that children inherit things from parent? This is usual way how it works in regular programming languages. If you don't want to inherit from parent group you should not make your groups children of it.

[2017-02-27 16:23] amblina opened #22004 "Banner for documentation relating to unreleased/unstable version"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
Examples:
* archive (https://docs.ansible.com/ansible/archive_module.html)
* s3_sync (https://docs.ansible.com/ansible/s3_sync_module.html)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Module documentation often has version number for when module was made available.  It would be h

[2017-02-27 16:28] jamesmontalvo3 commented on #21967
[3] above refers to them as filters, and they're invoked like filters. @sivel why do you say they're not filters? I went to the filter page [1] and searched "regex" and found the `regex_replace` filter but was surprised not to find a filter for match/search. Took a bit of googling before I found them, and initially I probably clicked passed the "Tests" documentation because it didn't seem applicab

[2017-02-27 16:32] wltjr commented on #21918
PR to address this feature request was merge. Please see if that suffices. If not I can see about adding portage support to the package module. Otherwise close the issue thanks!

[2017-02-27 16:39] JusticeForMikeBrown commented on #21799
ldif defined in encrypted vars/main.yml:

ldif: /tmp/user.ldif

template fails with

- name: template user ldif
  tags: create
  template: src=ldif.j2 dest={{ ldif }} mode=600 owner=root group=root

but works with:

- name: template user ldif
  tags: create
  template: src=ldif.j2 dest= /tmp/user.ldif mode=600 owner=root group=root

[2017-02-27 16:53] abadger commented on #21982
I believe that this is this upstream python3 bug: https://bugs.python.org/issue29519  It's only been fixed recently so it's not in any released versions of python3 yet.

Is this just python3 spewing warning information or is it causing playbooks to fail?

[2017-02-27 17:03] nitzmahone commented on #18468
Nothing's changed in the file transfer code, so if it was the SSL wedging issue, it's unlikely to have changed. Easy to verify that by temporarily enabling AllowUnencrypted on the target and switching to HTTP (eg, port 5985)- if your file transfer starts going through, you're probably hitting the SSL cipher issue.

[2017-02-27 17:10] jctanner commented on #21735
[test.txt](https://github.com/ansible/ansible/files/804402/test.txt)

@wltjr my test results from your zipfile are attached. I still don't seen any issue.

[code]

[2017-02-27 17:14] sivel commented on #21967
`search` and `match` used to be filters, before Ansible supported adding tests to jinja2.  So there may be left over docs that weren't properly updated.  That is something we can work on fixing.

As far as them being called like filters, that is due to backwards compatibility functionality we added.  Because they were filters at one point, we couldn't break playbooks, so we load tests as both test

[2017-02-27 17:22] hoall opened #22005 "Wrong behavior when a role is used multiple times"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I set the **roles_path** to my user account to be able to run ansible-galaxy install -r requirements.yml

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When using a role multiple times in a playbook with other roles in between it breaks the roles order and drops the given variable parameter.

I

[2017-02-27 17:29] s-hertel commented on #21796
That is true. Until then I guess a warning will best to implement. Do you have any suggestions for my PR above or does it look sufficient?

[2017-02-27 17:32] lukehoersten opened #22006 "User module on MacOS treats crypted password as cleartext"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- User module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- Command Host: MacOS
- Target Host: MacOS

This module works fine when provisioning a Linux target.

##### SUMMARY
The user module allow setting a user password with a crypted value as defined in the documentation:
`Optionally set the user's password

[2017-02-27 17:45] abadger commented on #21151
@anayrat Was this only happening when you were using ansible with --diff output?  If so, I think that it was probably fixed by this change last week: https://github.com/ansible/ansible/pull/21913  That fix is in the current devel branch (will be 2.3.0) and stbale-2.2 branches (I don't believe it made the release candidate but it may make it into 2.2.2.. depends on whether we need another release c

[2017-02-27 17:53] bcoca commented on #22005
have you set allow_duplicates to True?

[2017-02-27 18:07] jbscare opened #22009 "'template' module replaces the target of a symlink without --check, reports changes with --check"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

template module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None that seem relevant.

##### OS / ENVIRONMENT

Amazon Linux AMI release 2016.09

##### SUMMARY

If you run a playbook with a 'template' task, where the dest is a symlink, the task replaces the contents of the target of the symlink with the contents of the template. If you

[2017-02-27 18:12] anayrat commented on #21151
Yes it was only with  --diff. I'll try with 2.2.2.
Thanks!

[2017-02-27 18:20] alikins commented on #18178
Attempting to reproduce this with the test role in https://github.com/ansible/ansible/issues/18178#issuecomment-270366436

[code]

[2017-02-27 18:22] alikins commented on #18178
and with '-vvv' output:

[code]

[2017-02-27 18:27] yabhinav commented on #19649
+1

I am facing similar issue when running a dependency role declare in meta/main.yml, where both roles has include_vars to  load distribution specific variables.

[code]

[code]

As you can see above  dependency role `yabhinav.common` has CentOS-7.yml and `role_under_test` has RedHat.yml in their relative vars folders. But for CentOS 6  both roles will lead from RedHat.yml

[code]

And as you can

[2017-02-27 18:30] alikins commented on #18178
If I use the config option referenced obliquely in the deprecation blurb, I get:
[code]

If I fix up that path, then I see the handler run three times:

[code]

[2017-02-27 18:32] jmighion commented on #18885
Retested on devel against Windows 2008 R2 and 2012 member servers and cannot reproduce anymore. Thanks!
ansible-2.3.0-100.git201702271740.89bf14e.devel.el7.noarch.rpm

[2017-02-27 18:32] #18885 closed, assigned to nobody

[2017-02-27 18:42] jmighion commented on #18883
Tested against today's devel : ansible-2.3.0-100.git201702271740.89bf14e.devel.el7.noarch.rpm
Windows 2008 R2 and 2012 member servers

Problem still exists.

Test playbook :
[code]

Running the same playbook multiple times still causes `change: true`.

Output from `ansible-playbook test.yml -vvvvvv` :
http://pastebin.com/tMb73p0B

[2017-02-27 18:44] dagwieers commented on #18883
@jmighion You can now add `--diff` to your run and you should be seeing the difference (and hopefully the underlying issue).

[2017-02-27 18:52] galexrt opened #22011 "synchronize Module: "Identity file not accessible" on remote host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module - synchronize

##### ANSIBLE VERSION
[code]
[code]

##### CONFIGURATION
No changes made to the `/etc/ansible/ansible.cfg`
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `synchronize` module throws an error about missing the identity file.

##### STEPS TO REPRODUCE

Example `synchronize` task used when the error occurs:
[code]

####

[2017-02-27 18:53] jmighion commented on #18883
Oh cool. Didn't know that.

Here's the diff :
[code]

I haven't had time to figure out all the changes with windows module, but keeping the files remotely doesn't seem to work anymore. So I cannot dig into the powershell to see if it's still an issue with `Get-ItemProperty`, but it looks like it is from the diff.

[2017-02-27 19:08] jmighion commented on #18880
Tested against today's devel : ansible-2.3.0-100.git201702271740.89bf14e.devel.el7.noarch.rpm
Windows 2008 R2 and 2012 member servers

Problem still exists.

Test playbook :
[code]

Full output of `ansible-playbook binary.yml -vvvvvv --diff` and without `--diff` :
http://pastebin.com/HdFkKtGY

Diff snippet from `ansible-playbook binary.yml -vvvvvv --diff` :
[code]

[2017-02-27 19:20] dirkvdplas commented on #21872
Hi,

That seems to do the trick! Apologies for not spotting that myself!
May I ask  you an additional related question?
I am trying to create a new list (var3)  by looping over the items in {{scope}}
In each iteration I try to append list to list which was constructed on previous iteration. The problem is that in first iteration var3 is still undefined, which causes an error

    - name: create ne

[2017-02-27 19:23] alikins commented on #18178
Adding a 'static: no' to the include in the handler seems to work.

roles/test/handlers/main.yml
[code]

[code]

[2017-02-27 19:24] jamesmontalvo3 commented on #21967
By `foo is defined` format do you mean as opposed to `{{ foo | defined }}` format (if that's even possible)? If so, how would you use `match` and `search` in `foo is defined` format?

[code]

It seems to me that from a functionality standpoint a Test is a Filter, but a Filter is not necessarily a Test. True?

[2017-02-27 19:36] fxer commented on #12129
This still happens for me on ansible `2.2.1.0`, in --check mode pip always reports the task as changed. When run run normally, without --check, pip doesn't do anything and task reports as unchanged.

[2017-02-27 19:37] alikins commented on #16612
(some cross references for convience)
https://github.com/ansible/ansible-modules-core/issues/2432
https://github.com/ansible/ansible/issues/18692
https://github.com/ansible/ansible/pull/13306
https://github.com/ansible/ansible/issues/21622
https://github.com/ansible/ansible/issues/14601

[2017-02-27 19:43] sivel commented on #21967
Within ansible, ansible provided tests are also accessible as filters.  However ansible provided filters are not tests.

Any test shipped directly with jinja2, is only available as a test, and the `| defined` syntax would not work, as it comes from upstream jinja2.

Using the `is` syntax with search or match would look like:

[code]

[2017-02-27 19:46] sivel commented on #21967
Typically the goal of a filter, is to manipulate some data into a similar data type, but modified in some way.  Such as the `lower` filter, manipulating the value of a string to be all lowercase.

The goal of a test, is to evaluate whether some test is truthy.  The `search` and `match` filters return a boolean value, letting you know whether it evaluates truthy or not.  As opposed to manipulating

[2017-02-27 19:55] alikins commented on #21893
guessing that the 'cpu_cores: 0' on the second entry is the problem.

The code around line 1121

[code]

sockets[physid] can end up being the last value read for 'cpu_cores', which
would be 0 here and cause the error.

[2017-02-27 19:55] fxer commented on #12129
I was getting this error because my task is just for creating an "empty" venv, requirements.txt is installed by CI/CD at a later time.

[code]

Of course I don't actually care about wsgiref, reqs.txt installs things like Django and gunicorn, but those won't exist at the time this ansible task runs when setting up a new server.

So `pip list` and `pip freeze` don't report wsgiref as existing in the

[2017-02-27 19:58] cognifloyd commented on #21918
In the PR, you say that it won't work with the package module. Why is that?

[2017-02-27 19:59] #15413 closed, assigned to nobody

[2017-02-27 20:01] alikins commented on #21729
Merged https://github.com/ansible/ansible/pull/21730 so closing this.

[2017-02-27 20:01] #21729 closed, assigned to nobody

[2017-02-27 20:07] alikins commented on #20508
Likely related:
https://github.com/ansible/ansible/issues/18178
https://github.com/ansible/ansible/issues/15365

related prs:

https://github.com/ansible/ansible/pull/22003
https://github.com/ansible/ansible/pull/22010

[2017-02-27 20:08] anryko commented on #21914
Other rules could be applied by ```bool(other=True|False)```. I'm really not sure about this one... I myself would prefer ```bool(python=True|False)``` to ```bool(as='python')```. However, looking at other filters in this "family", like ```get_hash```, ```get_encrypted_password``` or ```comment```,  their style is closer to ```bool(as='python')``` (or to keep it even more consistent with ```commen

[2017-02-27 20:13] sivel commented on #21914
I suppose, I can see it both ways.  jinja2 typically is more explicit, and I prefer more explicit rules where something is true/false.  Our filters seems to be less explicit, and match the value of an argument.  But to support a wider variety, without having to make it complicated and ensure that only 1 truthiness selection is made, using `as` or `style` seems like a good option.

[2017-02-27 20:14] joejulian opened #22014 "ZeroDivisionError in ec2_elb_facts module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

module ec2_elb_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When querying ec2_elb_facts the module threw a traceback from a ZeroDivisionError.

##### STEPS TO REPRODUCE

[code]

This appears to happen when both `instances_inservice_count` and `instances_outofservice_count` are both 0 on

[2017-02-27 20:19] gundalow opened #22015 "eos_banner"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_banner

##### ANSIBLE VERSION
[code]

##### SUMMARY
Appears we are trying to read `transport` even on new 2.3 modules.

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
##### ACTUAL RESULTS
[code]

[2017-02-27 20:23] wltjr commented on #21918
You  can try, but it seems like the package module is not aware and/or does not support the portage module. I could be wrong. I tried to use the package module as in your example but it did not do anything. Maybe it will now with latest added. I will have to look at the package module more.

[2017-02-27 20:47] nbraud commented on #16871
@alikins It's unfortunately not something that externals can contribute much on, but I did document a [bit of methodology](https://github.com/micahflee/onionshare/issues/221#issuecomment-220317661) for signing code and releases, that shouldn't be too cumbersome.

Regarding the signing of tags & release tarballs, there are mainly 2 strategies:
- Publish the list of keys (belonging to individual dev

[2017-02-27 20:48] wltjr commented on #21735
I see that it worked for you... I can see about getting a log from the person who said it failed on 2.2.0. Here the requested output. I should have provided initially.
[ansible-test-2.1.4.0.txt](https://github.com/ansible/ansible/files/804951/ansible-test-2.1.4.0.txt)
[ansible-test-2.2.1.0.txt](https://github.com/ansible/ansible/files/804952/ansible-test-2.2.1.0.txt)

I am on the same version of p

[2017-02-27 20:53] jamiejamison commented on #13262
Blocks are an incredibly useful feature, I'd like to thank the Ansible team for implementing them (and for implementing the rest of Ansible too, obviously). When I upgraded to Ansible 2.0 I went block-crazy and cleaned up a bunch of my playbooks. Part of this was because I had learned better ways of using Ansible but a big part of it was because the introduction of blocks meant that I could get ri

[2017-02-27 21:03] ruissalo commented on #20998
I don't have a local host entry in my inventory. So if I ssh with -A to the server where I'm running the playbook then it works because it is able to ssh to localhost.

TASK [Create audit dir  ~/234/audit] *******************************************
ok: [somehost -> localhost]

TASK [Create commands file ~/234/audit/validation.cli] *************************
changed: [somehost -> localhost]

My inv

[2017-02-27 21:06] jctanner commented on #21735
@wltjr grasping at straws here, but can you describe how you install ansible and how you tests across different versions?

needs_info

[2017-02-27 21:19] cirocosta commented on #12685
Is there any PRs associated with this issue? Is this still a thing?

[2017-02-27 21:22] #15365 closed, assigned to nobody

[2017-02-27 21:26] sivel commented on #12685
I have some work that has been started at https://github.com/ansible/ansible/pull/17676

[2017-02-27 21:30] bcoca commented on #20998
I don't think localhost means what you think it means, its always 'the machine you run ansible-playbook on'

[2017-02-27 21:34] bcoca commented on #21918
the package module just needs portage to appear as the ansible_pkg_mgr or for you to `use=portage` when invoking it.

squashing will not happen by default when using the package module, so that is not a concern for packaging modules 'working or not', just on how they'll work (per package vs per package list).

[2017-02-27 21:36] bcoca commented on #21914
im ok with name change, i just don't want `style='alternative_facts'`

[2017-02-27 21:42] #21361 closed, assigned to nobody

[2017-02-27 21:47] wltjr commented on #21735
Install only one of the following, first builds, 2nd uses pre-built binary, 3rd pulls in specific pre-built binary version.
[code]
I may need to rebuild as I do make binaries and install those since I am running multiple systems. Thought I doubt rebuilding will have any effect, not like this is a binary package really, no compiling, linking. Any python libraries will be same between versions of an

[2017-02-27 21:50] ruissalo commented on #20998
The thing here is that if my ssh credentials (private key) is not forwarded to the server, then I have an authentication error while trying to ssh to localhost. If my key is correctly forwarded (ssh localhost works), then all is good.

[2017-02-27 21:50] wltjr commented on #21918
Ah ok, good to know 👍 Only working with Gentoo so haven't the need for the general package module, yet... I am not familiar with squashing, but seems like it does not require any module modifications. If it does I can make what ever changes are necessary.

Otherwise is there anything I need to do for the latest feature of the package module to work with the portage one? Or did it just need latest

[2017-02-27 21:57] bcoca commented on #21918
squashing requires 2 things, that the module support taking a list of packages in the name/pkg field and that it is part of the configured 'modules that allow squashing'.

[2017-02-27 22:10] bjolivot commented on #22005
I tried same thing in 2.3.
Result was
role_a
role_b
role_c
role_d
role_c

(role_d was played only one)

[2017-02-27 22:11] wltjr commented on #21918
I believe the portage module already supports a list of packages.I guess it just needs the 2nd.

[2017-02-27 22:11] bcoca commented on #22005
you still have not answered my question

[2017-02-27 22:37] anryko commented on #21914
Prepared PR, please review.

[2017-02-27 23:16] arnabsinha4u commented on #2303
@tofaramac I would take the following approach:
1) use --check flag to check the possible changes
2) use --diff flag to show the differences during execution
-vvv can surely help but will not show changes for sure if there aren't any.
Maybe you can also do a diff in shell manually to check the 6 files from those hosts to cross verify if the core module is not working properly.

Its highly unlikely

[2017-02-27 23:29] cognifloyd commented on #21918
I asked for portage to be added to the default squash actions list in #21928.

[2017-02-27 23:34] wltjr commented on #21918
Yes I saw that but wasn't sure if it was something module specific. That makes much more sense now. Once that is done, I guess the package module will support the portage module and the following will work once that is done.
[code]

[2017-02-27 23:36] cognifloyd commented on #21918
@wltjr The package module worked with portage when I checked it the other day.

Also, I think adding `state: latest` was the only thing that made working with portage different than working with other package managers.

The only thing that is missing is adding "latest" to the doc string.

[2017-02-27 23:38] wltjr commented on #21918
I added it to the doc string in the package. I wasn't sure if I needed to add version there. Or when it will show in the docs.

[2017-02-27 23:40] cognifloyd commented on #21928
Is there a discussion in the ML or somewhere else where I can learn more about removing squashing? What will replace it? Is the replacement to pass a list directly instead of via with_items?

[2017-02-27 23:52] cognifloyd commented on #21918
I added a comment to the (already merged) PR here: https://github.com/ansible/ansible/commit/b7229b04679ef3bce36f8d46e15d46b253d8068b#commitcomment-21079179

Sidenote: Quiet and verbose don't actually conflict. I use `emerge -qvat <atom>` all the time so that it shows me which package is being emerged/unmerged without all of the build/install output. I have no idea whether or not that would be hel

[2017-02-28 00:11] Thingee commented on #21522
These just get passed onto the neutron API which supports ip_address and subnet_id. I'm asking on #openstack-neutron irc free node if this can be supported in addition.

[2017-02-28 01:04] joshmullis opened #22025 "set_fact no longer overwrites existing variable when called inside a role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using defaults

##### OS / ENVIRONMENT
RHEL 7.2

##### SUMMARY
Beginning with ansible version 2.1.1.0, I am no longer able to use the "set_fact" module to change an existing variable inside a parameterized role.

This bug was NOT present in ansible version "2.1.0.0".

##### STEPS TO REP

[2017-02-28 01:13] joshmullis opened #22026 "Proposal for command module error if special characters passed"
_From @joshmullis on August 26, 2016 1:10_

##### ISSUE TYPE

- Feature Idea
##### COMPONENT NAME

command module
##### ANSIBLE VERSION

[code]
##### CONFIGURATION

This situation deals with the act of changing the "module_name" config setting.

Day1:   "module_name = shell"
Day2:   "module_name = command"
##### OS / ENVIRONMENT

RHEL 7.2
##### SUMMARY

Proposing the command module errors out when

[2017-02-28 01:13] joshmullis commented on #22026
_From @ansibot on August 26, 2016 1:14_

@ansible ping, this issue is waiting for your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-02-28 01:13] joshmullis commented on #22026
_From @ansibot on September 12, 2016 16:57_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-02-28 01:13] joshmullis commented on #22026
_From @ansibot on October 5, 2016 15:10_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-02-28 01:13] joshmullis commented on #22026
_From @ansibot on December 7, 2016 18:8_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pull

[2017-02-28 01:22] #22015 closed, assigned to privateip

[2017-02-28 02:22] dagwieers commented on #22025
This is not directly related to the set_fact module, but this appears not to be a bug.

According to the variable precedence list below, role vars take priority over set_fact variables.
http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

If this did not work correctly before, I guess it was a bug they now fixed.

[2017-02-28 02:34] yeukhon commented on #19177
I think I am also experiencing this issue.

[2017-02-28 02:43] smemsh commented on #21885
how about: 2b5005687a67e6a510be700119cea015e075683e

using `when:` does work as expected -- that is, it correctly executes the role based on the condition -- and doesn't emit any error.  the part that *doesn't* work is `allow_duplicates=false` because it runs twice, even with the same parameters, and it's not supposed to do that.  the only thing different is that the task has a `when:` clause.

th

[2017-02-28 03:32] wltjr commented on #21918
I am not sure, I will look into that. I use that as well on the command line, but then there is a spinner and other things that are disabled when running via ansible module.

[2017-02-28 03:36] lemoer opened #22034 "mqtt: make tls_version configurable"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

mqtt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ArchLinux

##### SUMMARY

I think this is both: a feature request and a bug report. I suggest the following:

[code]

with `tls_version` as configurable option from inside the role.

##### STEPS TO REPRODUCE

Here seems nothing really special. Nea

[2017-02-28 04:22] whitejm commented on #21910
I ran into this issue today using the development branch.  2.1, 2.2, and 2.3 all have the same issue. This bug creates new copies of the rpm in `/tmp` every time you run the play, even if the rpm is already installed or if you're running in check mode.

The problem is `fetch_rpm_from_url` makes its own temp directory that it stores the rpm in, but none of the functions that call it, `install` & `w

[2017-02-28 05:12] ir4y commented on #19831
The same issue takes place for efs_module at ansible 2.2

[2017-02-28 09:06] paszczus commented on #19855
+1

[2017-02-28 10:02] hoall commented on #22005
No I hadn't. I added it now role_c/meta/main.yml, but's still the same result.

@bjolivot Thanks for testing, but I'm still on 2.2.1.  I expect you mean **role_c** is only run once? that would be another behavior than I experienced.

@bcoca Is **allow_duplicates** the right approach for me? My dupblicates a direct role calls and no role dependencies in a classic way.

Also I'm sure that in an earl

[2017-02-28 10:07] cptchips opened #22068 "[win_robocopy] Invalid "purge" and "recurse" returned value when using "flags" parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

windows/win_robocopy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Using defaults

##### OS / ENVIRONMENT

Ansible: CentOS7
Managing: Windows Server 2008 R2 Standard

##### SUMMARY

Recursive and purging mode can be enabled using "purge" and "recurse" parameters. In such case the "purge" and "recurse" returned values are fine.
But recur

[2017-02-28 10:36] JulienPalard commented on #21982
Only python3 warnings, no playbooks fail, looks like it's the python3 issue, nice find @abadger, closing this.

[2017-02-28 10:36] #21982 closed, assigned to nobody

[2017-02-28 10:42] vladpanainte commented on #21073
The issue was fixed by adding the service account to the project which explains the permission issue. Closing this issue.

[2017-02-28 10:42] #21073 closed, assigned to nobody

[2017-02-28 10:49] hoall commented on #22005
Ok, it was my fault. I overlooked a role dependency that was played in **role_c** month ago.

Thank you for your help. Without your comments I never had guessed that.

[2017-02-28 10:49] #22005 closed, assigned to nobody

[2017-02-28 11:00] etcmorph opened #22071 "include: an include_role: executes number of hosts times"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Red Hat EL7

##### SUMMARY
include_role: executes an incorrect number of times. It seems to execute the number of hosts times, in the case where I include: a playbook that uses include_role: and the role name is determined by a variable.

I found a simila

[2017-02-28 11:51] nerzhul commented on #21074
@jctanner fixed_by 21076 confirmed today

[2017-02-28 11:57] molekuul commented on #21983
@gundalow ,

How do I handle this Bug?
Must I repair this bug in my own fork, and than request a new pull request? or must this be handled in the original pull request?

Kind regards,

Joris Weijters

[2017-02-28 11:59] rcarrillocruz commented on #16017
@deejay2 Can you please try installing Ansible from source and confirm this is fixed for you?

http://docs.ansible.com/ansible/intro_installation.html#running-from-source

[2017-02-28 12:15] yuval-almog opened #22085 "Yum state=latest fails if package is first on the updates list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Yum Module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7
##### SUMMARY

yum fails to update a package if the package name is first on the list of "yum check-update"

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Packge is upgraded
##### ACTUAL RESULTS

[code]

[2017-02-28 12:56] talkimhi11 commented on #22085
We face the same issue.

Plus 1!

[2017-02-28 13:25] morganchristiansson commented on #21504
I believe you can set `restart: always` in the docker-compose.yml for each service

[2017-02-28 14:02] rcarrillocruz commented on #21994
Can repro this, pasting run with ANSIBLE_LOG_PATH:

[code]

[2017-02-28 14:07] webdevbyjoss commented on #9984
+1 reproducible on `ansible 2.2.1.0` and on ubuntu 16.10 desktop.
not able to reproduce this on mac machine.
the workaround with ` ~/.boto` helped in my case

[2017-02-28 14:19] ssbarnea opened #22087 "ANSIBLE_VERBOSITY environment variable cannot be used to control verbosity"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/S

##### SUMMARY
I was surprised to find out that there is no way to control ansible verbosity level via an environment variable. There are environment variables for even the weirdest things like `ANSIBLE_COLOR_DEBUG` but somehow none for verbosity.

The clo

[2017-02-28 14:35] afunix commented on #19649
So I worked around the issue adding `paths` to `with_first_found`:
[code]

Not convenient, but works. Still waiting for a fix.

[2017-02-28 14:47] ingvagabund commented on #20493
If `include_role` should not be supported in handlers, what other way is there to share handlers among roles and at the same time to avoid relative includes of files reaching out of a role? Code duplication is not a solution.

[2017-02-28 14:53] javierccs commented on #21825
so, I guess this is effectively a bug?

[2017-02-28 14:58] cloos commented on #21706
Actally I don't have a `/etc/lsb_release` but a` /etc/lsb-release` file which looks like this:
[code]

[2017-02-28 15:20] mgoldboi opened #22088 "ovirt_disks: Download disks functionality."
##### ISSUE TYPE

  - Feature Idea

##### COMPONENT NAME

ovirt_disks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

oVirt has the ability to download a VM disk using API. this flow can be useful when a user would like to transfer VM images between different oVirt instances.
please add the ability to download a disk image from oVirt to the Ansible modul

[2017-02-28 15:37] jhawkesworth commented on #20342
Since #20680 has now been merged, I'm going to close this one.
As ever, if you have further problems, please create a new jira issue (and refer back to this one if appropriate).

[2017-02-28 15:37] #20342 closed, assigned to nobody

[2017-02-28 15:44] #21889 closed, assigned to bcoca, rcarrillocruz

[2017-02-28 16:10] juliedavila opened #22093 "nmcli module does not work as described for the dns4 paramater"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
ubuntu 16.04

##### SUMMARY
In the nmcli module there is a documentation bit AND an example, as follows:

[code]
This is implies that the parameter takes in `dns4` as a list. This is incorrect.

##### STEPS TO REPRODUCE

1. Create a task that is intended to

[2017-02-28 16:11] Qalthos opened #22094 "Junos_facts rewrite"
This issue is tracking the rewrite of junos_facts to network_cli

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_facts

##### ANSIBLE VERSION
[code]

##### SUMMARY
junos_facts needs to be updated to network_cli

[2017-02-28 16:24] dagwieers commented on #18883
Ok, I found the problem and why I couldn't reproduce it.

There is a difference in how Yaml handles escaped characters. If you specify this:
[code]
Ansible receives a NULL character as separator between "Line one" and "Line two".

If you specify:
[code]
The two lines are separated by the string '\0'. That is an important difference, because we either provide the NULL character, or the string '\0'.

[2017-02-28 16:31] blakfeld commented on #22068
This is expected. Largely due to me being somewhat overly verbose, and that I am returning user input in a way that could potentially be confusing.

If you pass anything to "Flags", purge and recurse are entirely ignored, therefor the inputs to those parameters are"false". I make no attempt to parse the Flags argument, and I don't think that's a particularly helpful direction to march in.

In fact

[2017-02-28 16:38] #19388 closed, assigned to alikins

[2017-02-28 16:49] cognifloyd opened #22098 "Feature Idea: Add module for Cisco AireOS devices (WLCs)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
New networking module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Please create a new module for Cisco AireOS devices such as their Wireless LAN Controllers.
Configuration is over an SSH cli that looks similar to IOS and other devices.

The device I'm targeting is [Cisco 2500 Series WLC](h

[2017-02-28 16:59] alikins commented on #16123
Late 2.2.X and 2.3 are a little better about this. Still needs work.

(with and without pipelining, same result)

[code]

connection errors (host with no ssh running)
[code]

wrong user (user doesnt exist)

[code]

[2017-02-28 17:03] dav1x commented on #21074
@jctanner yes. fixed_by 21076

[2017-02-28 17:05] yabhinav commented on #19649
@afunix Thanks for the work around!!

I would suggest a slightly better improvement :
*if using ansible-galaxy and installing role , rolename would be  <galaxy-user>.<custom-role-name>
*if running the role from GitHub src code , role name would be <github-role-name>

custom-role-name can be differently set in ansible galaxy but by default it will be same as gitHub-role-name, but still considering

[2017-02-28 17:17] Qalthos commented on #19107
This appears to have been fixed in 02d2b753db72ef925dac61b376565a92bcd44799, but that commit also broke `junos_config`. `junos_config` should be uasble again after #21869.

[2017-02-28 17:34] pako-pl opened #22100 "Ansible should report that a handler is missing before executing the task calling it, and not after"
Ansible notices that a "notify" handler is missing only after executing a task:

[code]

This causes issues - in this example crontab was updated, but the daemon was not notified about the changes. Running the task again won't fire the handler, as the task was already executed. If Ansible checked if the handler exists before running the task, the issue could be avoided. The task wouldn't run until

[2017-02-28 17:46] jmighion commented on #18883
That does not leave the expected value in the registry though because the null character was not evaluated/interpolated. For Windows, multistring values are null terminated strings https://msdn.microsoft.com/en-us/library/windows/desktop/ms724884(v=vs.85).aspx.

Using single quote or no quotes leaves the registry entry like :
[code]

The desired state of the registry entry can be acheived with dou

[2017-02-28 17:56] bcoca commented on #22100
handlers can now be added dynamically into a play, there is no way to know if it 'will exist' when needed until the execution reaches that point.

[2017-02-28 18:04] pako-pl commented on #22100
Most tasks don't add new handlers dynamically - and for those checking if the handlers mentioned in the "notify" section exist just before executing the task makes sense.

Moreover, I don't think the task would be dynamically adding the handlers for itself - it's probably a very rare scenario.

[2017-02-28 18:18] jmighion commented on #18883
After looking up some on escaping unicode characters, this seems to work on PowerShell but I'm having trouble getting it to work by editing the win_regedit.ps1 :
[code]

From https://stackoverflow.com/questions/1056692/how-do-i-encode-unicode-character-codes-in-a-powershell-string-literal

Also a potentially better comparison for strings might be to use `$d = [string]::Compare($a, $b, $True)`
http

[2017-02-28 18:21] bcoca commented on #22100
not the task, the handlers themselves can be added dynamically:

[code]

or

[code]

[2017-02-28 18:24] JusticeForMikeBrown commented on #21799
Any idea how to fix?

Thanks!

[2017-02-28 18:33] sivel commented on #21799
I tried to add some code blocks to your report to better understand the problem.  As it is, ansible believes that your `ldif` variable is a python dict.

I notice that in `roles/accounts/vars/main.yml` you have defined a variable called `dict`.  This may be causing the issues, and regardless you should probably rename that variable.

Also, I cannot guarantee that something wasn't already lost befo

[2017-02-28 18:50] #22087 closed, assigned to nobody

[2017-02-28 19:25] pako-pl commented on #22100
Sure, but when a given task with a "notify" section starts executing, the list of available handlers is already known? I don't mean the initial playbook parsing stage, but the actual execution of the tasks. Unless it's possible to use "notify" on an "include".

[2017-02-28 19:37] kernelphr34k commented on #21797
@jhawkesworth
Thanks again for the suggestions!

I have yet to tweak anything on the client side... However, I did get some success tweaking a timeout setting on server side.  I changed the timeout in the following to 55 and the command seems to work for me everytime.

/usr/local/lib/python2.7/site-packages/winrm/protocol.py
DEFAULT_READ_TIMEOUT_SEC = 55

[2017-02-28 20:10] gerhard-tinned commented on #20916
It is unimportant why it is not logical to me. Fact is the behaviour about inheritance is NOT DOCUMENTED.

[2017-02-28 20:29] dev00 commented on #21522
Maybe we can take a look at the openstack client how it's handled there? I suppose that an additional step where we get all the subnets and filter by name would be a little bit overkill and shift the responsibility too much torwards the module in Ansible, right?

[2017-02-28 20:36] #21796 closed, assigned to nobody

[2017-02-28 20:49] jmooo opened #22107 "Make output of "register" available to "notify""
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
register & notify

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
host: macOS
remote: CentOS 7

##### SUMMARY
The variable set from the `register` action is not available to the `notify` action, but is available to other actions such as `failed_when` and `changed_when`.

@bcoca mentioned on irc:

##### STEPS TO REPRODUCE
[code]

##### EX

[2017-02-28 21:57] alikins commented on #20368
Looks like https://github.com/ansible/ansible/pull/20840 fixed this, so closing.

[2017-02-28 21:57] #20368 closed, assigned to jimi-c

[2017-02-28 22:01] alikins commented on #20381
Does ```/usr/bin/id -d dom\user``` from the shell work?

is the \ getting escaped somewhere for command?

[2017-02-28 22:03] bcoca commented on #22100
no, that list can change AFTER the task finishes and notifies, that is the whole point. Yes you can notify the include itself (that is not an issue, it is known), the problem is you can notify tasks inside the include, which are not known until the include 'happens'.

[2017-02-28 22:09] sdodson commented on #20381
We ended up passing ansible_ssh_user through the quote filter which worked.
`/usr/bin/id -g {{ ansible_ssh_user | quote }}`

[2017-02-28 23:28] jszwedko opened #22111 "synchronize module does not escape SSH args when using `use_ssh_args`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`synchronize` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

`Linux ip-10-254-0-21 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1+deb8u1 (2017-02-22) x86_64 GNU/Linux`

Debian 8

##### SUMMARY

We set host specific `ansible_ssh_common_args` in our dynamic inventory to tunnel through a the relevant bastion whe

[2017-03-01 00:17] Thingee commented on #21522
@dev00 no you're right. We pretty much do the name filtering everywhere else in the module. The response I got on #openstack-neutron was to create a new API extension, which makes me very sad.

[2017-03-01 01:19] mverderese opened #22114 "cloudwatchevent_rule: Creating cron job for creating snapshot of EBS Volume"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
`cloudwatchevent_rule`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS 10.12.3

##### SUMMARY

The documentation explaining the `cloudwatchevent_rule` is either a bit lacking or I'm missing something. I'm trying to create a cron job to create a snapshot of an existing EBS volume once a day.

#

[2017-03-01 03:37] liuzm7188 opened #22116 "File is copied even when changing mode, group or owner fails"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
copy
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
##### OS / ENVIRONMENT
SUSE Linux Enterprise Server 12 SP1
##### SUMMARY
`args: 'src=/local/test.sh dest=/remote/ group=admin1 mode=844 owner=admin1  force=yes '`

##### STEPS TO REPRODUCE

/ansible/module_utils/basic.py
add 'os.unlink(path)' to line i

[2017-03-01 05:10] mathew-bulletin opened #22117 "Unable to have block variable in bulleted list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_vars
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

Unable to include block variable inside bulleted list.

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

Expect to include var0 successfully.

##### ACTUAL RESULTS

ansible-playbook execution failed.

[code]

[2017-03-01 05:12] snowsky commented on #21899
Gotcha, I reproduce the bug by following the steps. Still a bit confused here. Why should I expect it will be changed since you have made the change and the local repo has already been as the same as the remote repo. It should be no change, right?

[2017-03-01 05:46] er1zo commented on #20196
Can confirm, getting "gzip: stdout: Broken pipe" as well.
`fatal: [zabbix-proxy1]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "collation": "",
            "config_file": "/root/.my.cnf",
            "connect_timeout": 30,
            "encoding": "",
            "login_host": "localhost",
            "login_password": "VALUE_SPECI

[2017-03-01 06:42] nerzhul commented on #21074
@dav1x as it's your issue can you close it ?

[2017-03-01 07:50] cptchips commented on #22068
Ok, thanks for the clarification :-)

I close this issue as it's a misunderstanding on my part.

[2017-03-01 07:50] #22068 closed, assigned to nobody

[2017-03-01 08:20] michalmedvecky opened #22119 "hashi_vault returns Fatal error when the secret does not exist"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lookup/hashi_vault.py`

##### ANSIBLE VERSION

latest dev

##### OS / ENVIRONMENT
N/A

##### SUMMARY

When you lookup a nonexistent secret, lookup() function returns a fatal error.

##### STEPS TO REPRODUCE

[code]

The actual code in `hashi_vault.py`:

[code]

##### EXPECTED RESULTS

`lookup()` shouldn't crash the playbook; one might want to c

[2017-03-01 08:26] cptchips commented on #22116
Not sure to fully understand this issue. But I'm suspiscious about the

According to the documentation:

Furthermore

Hope it helps

[2017-03-01 08:52] tjuberg opened #22121 "In Ansible 2.3, junos action module hijacks junos_ task namespace and ignores library/"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

plugins/action/junos

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Arch linux, but should be N/A

##### SUMMARY

Starting in Ansible 2.3, the junos_ task namespace (and possibly others) is hijacked by plugins/action/junos even if you have junos_get_facts for example from https://github.com/Juniper/ansible-junos-s

[2017-03-01 09:09] OddEssay commented on #12354
I had a slightly different fix for this: Another user on the same Mac had been using Xcode, which appeared to have changed some config options for the system. Using the `xcode-select --reset` command fixed it and I was then able to install with pip fine.

[2017-03-01 09:12] olex777 commented on #22001
This fix the error but for some reasons I can get only configuration. When I try to collect facts about hardware, for example, I have such an output:
TASK [NX-OS Facts] *****************************************************************************************************************************************************************
task path: /etc/network/scripts/databases/playbook_ansible/1_nxos_fac

[2017-03-01 09:52] varazir opened #22124 "Error when separate apt tasks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-59-generic x86_64)

Both hosts and servers

##### SUMMARY

Running 3 separate  atp actions failes on the third

##### STEPS TO REPRODUCE

[code]

https://gist.github.com/varazir/ba960bd117b9ee0e37e7810d3bacb10f

#####

[2017-03-01 09:55] pako-pl commented on #22100
Okay, now I understand what you mean. A task can call notify on handlers that do not exist yet, which will be included after the task runs, but before the playbook reaches the handler execution stage. The change I proposed would make including handlers after the task runs impossible. So I think it is better to leave it as is.

[2017-03-01 09:55] #22100 closed, assigned to nobody

[2017-03-01 10:24] liuzm7188 commented on #22116
args: 'src=/local/test.sh dest=/remote/ group=admin1  force=yes '
In my manager host , there is no admin1 group, so it excutes failed. But the test.sh still transport to this host in remote folder.
Also, when owner or mode is not right.

[2017-03-01 10:25] ar7z1 opened #22126 "Windows module win_get_url don't use proxy when "force: no" used"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

windows/win_get_url

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Windows module [win_get_url](http://docs.ansible.com/ansible/win_get_url_module.html) don't use proxy when `force: no` used.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

Got an error:
[code]

[2017-03-01 10:28] gundalow commented on #21983
@molekuul As the original PR has been merged just create a fresh PR from `devel`

[2017-03-01 10:33] jesusch opened #22127 "[WARNING]: sftp transfer mechanism failed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ping

##### ANSIBLE VERSION

ansible 2.2.1.0

##### CONFIGURATION
[defaults]
inventory       = $HOME/ansible/hosts
host_key_checking = False
log_path = $HOME/ansible/ansible.log
[privilege_escalation]
become=True

##### OS / ENVIRONMENT
Debian8
ansible installed via pip

##### SUMMARY
[WARNING]: sftp transfer mechanism failed occured during pi

[2017-03-01 10:43] ar7z1 commented on #22126
Fixed in #22128.

[2017-03-01 10:44] #21994 closed, assigned to privateip, rcarrillocruz

[2017-03-01 10:44] gundalow commented on #21994
Confirmed fixed

[2017-03-01 10:52] robinro commented on #19275
resolved_by_pr #19355 (ansible 2.3)
you can use `ignore_configcheck` to suppress the config check when loading apache modules

[2017-03-01 10:53] #19275 closed, assigned to nobody

[2017-03-01 11:15] bjolivot commented on #21456
@sigio
Can't reproduce your problem, but found another
Could you check the problem is not when file don't exists ?

[2017-03-01 11:25] bjolivot opened #22130 "ini_file crash when destination file don't exists or is empty"
ini_file crash when destination file don't exists

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ini_file module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

host_key_checking=False
roles_path = ~/ansible/roles
retry_files_enabled = False

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

Ansible-playbook crash when using ini_file module with non existing file or empty file

#####

[2017-03-01 11:28] branghold opened #22131 "zabbix_host: Unable to add a new zabbix host to a Zabbix server 3.2.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION
ansible 2.2.1

##### CONFIGURATION
ansible.cfg
[code]

##### OS / ENVIRONMENT
Amazon Linux AMI release 2015.03
Zabbix 3.2.1

##### SUMMARY
Unable to add a new zabbix host to a Zabbix server 3.2.1

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Successfully add the new monitored host

##### ACTUAL RESUL

[2017-03-01 11:30] gundalow commented on #22093
A fix has been proposed in https://github.com/ansible/ansible/pull/22095

[2017-03-01 11:36] sigio commented on #21456
The file most definitely exists. Seems it doesn't error in 'check-mode'.
target$ ls -la /usr/local/zend/etc/php.ini
-rw-rw-r--. 1 root zend 70237 Jul  9  2015 /usr/local/zend/etc/php.ini

host_vars/target
phpini: "/usr/local/etc/zend/php.ini"

- name: Configure php.ini settings
#BUG #21456
  ini_file: dest="{{phpini}}" owner=root group=root mode=0644 backup=yes section="{{item.section}}" option="{

[2017-03-01 11:38] bjolivot commented on #22130
I've found the problem, PR will follow

[2017-03-01 11:40] gundalow commented on #22098
Hi,
Thanks for the suggestion, I'm not sure if this is something we'd be looking at creating within Ansible, though it sounds like a useful suggestion.

FYI We have a weekly Networking Meeting on IRC[1]. We are currently focusing on finishing off the network modules for the Ansible 2.3 release. Once that's complete feel free to join the meeting and we can guide you to create some modules.

What le

[2017-03-01 11:44] gundalow commented on #20379
There is a proposed fix in https://github.com/ansible/ansible/pull/22109 could you please test and report back, thanks

[2017-03-01 12:05] bjolivot commented on #22124
This playbook don't work

'''
- hosts: localhost
  become: true
  tasks:
    - name: Remove unused dependency packages
      apt:
        autoremove: yes
'''

[2017-03-01 12:06] bjolivot commented on #22124
affect_2.3

[2017-03-01 12:25] selivan opened #22134 "Capture template module output to variable [feature_idea]"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 - Module `template`

##### SUMMARY

Sometimes it's necessary to save template module output into a variable. I solved this once by creating temporary file and parsing it, and I see other guys are struggling with same issue: http://serverfault.com/q/724853/94415

So I suggest to implement additional parametes `dest_var`, alternative to `dest`,

[2017-03-01 12:25] AlexZolotarenko opened #22135 "Mount module: incorrect command-line arguments used for Solaris."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mount module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running ansible on ubuntu linux 16.04.1
Controlling hosts with Solaris 11.2/11.3

##### SUMMARY

mount module uses incorrect command-line arguments for SunOS,
"mount" command on Solaris does not support pointing to fstab file,
but _set_fstab_args(args)  d

[2017-03-01 12:35] sivel commented on #22134
This is actually what the template lookup is created for:

[code]

Does this not satisfy the need?

http://docs.ansible.com/ansible/playbooks_lookups.html

[2017-03-01 12:40] ar7z1 opened #22136 "win_unzip module don't set "changed" flag when extracting via PSCX"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

windows/win_unzip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

[win_unzip](http://docs.ansible.com/ansible/win_unzip_module.html) module don't set `changed` flag when extracting via PSCX (`.gzip` for example).

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RES

[2017-03-01 12:48] ar7z1 commented on #22136
PR: #22137.

[2017-03-01 12:52] yesbox commented on #15621
Hi,

I'd like this to supersede #13473 which has exactly the same goal.

However I'm not yet convinced of the idempotency of this implementation. Random taking a string as a seed could produce different results depending on Python version, environment variables, operating system and CPU (32/64 bit). Perhaps even random taking an int as a seed is not safe across environments; the documentation has

[2017-03-01 13:01] selivan commented on #22134
Yep, that does the trick, thank you!

[2017-03-01 13:01] #22134 closed, assigned to nobody

[2017-03-01 13:03] walterdolce opened #22138 "Unable to get the item index while iterating over a list of objects"
Hi, I did extensive search online but I couldn't find anything so as a last resort I'm hoping that by opening an issue would shed some light on the matter.

I have the following variable:
[code]

And then I have the following tasks:
[code]

The `Create challenge` task, produces the following:
[code]

As you can see, `results` is a list of JSON objects.

The question I'm trying to find an answer fo

[2017-03-01 13:23] mprasil opened #22140 "Force user creation to be local"
_From @rrauenza on October 2, 2015 23:18_

##### ISSUE TYPE
Feature Request

##### COMPONENT NAME
user module

##### ANSIBLE VERSION
N/A

##### SUMMARY
Sometimes LDAP/NIS user names conflict with names we want to have local (like mysql, postgres).  I'm worked around it other ways, but was told recently about luseradd.

I wonder if there would be interest in adding a force=yes to the user module su

[2017-03-01 13:23] mprasil commented on #22140
_From @bcoca on October 2, 2015 23:45_

luseradd is a new tool present in very few systems.

[2017-03-01 13:23] mprasil commented on #22140
_From @mshaddock on October 23, 2015 19:55_

Actually, luseradd has been in RedHat Linux since at least RHEL 3.7, so it isn't that new.  Unfortunately, I don't have access to any older non-RedHat Linux systems, so I can't comment on those.

[2017-03-01 13:23] mprasil commented on #22140
_From @Jmainguy on October 27, 2015 17:22_

@bcoca @mshaddock What about adding force with the note that it will only work on systems with luseradd installed. (And also adding that to the error message when predictably somebody uses it without having luseradd installed), what do yall think?

[2017-03-01 13:23] mprasil commented on #22140
_From @dlbewley on February 19, 2016 23:21_

This is a problem for me, and I would find this feature useful as well.

Perhaps a `local=yes` option to the user module.

[2017-03-01 13:23] mprasil commented on #22140
_From @Jmainguy on February 21, 2016 14:40_

@bcoca any idea on the above idea from @dlbewley.

[2017-03-01 13:23] mprasil commented on #22140
_From @rrauenza on February 23, 2016 20:0_

FYI, as a workaround I wrote this role (CentOS 7).  I found I also needed to flush sssd and nscd, as well as kick crond (I think it still had the ldap user id cached somehow.)

(Based on http://serverfault.com/questions/725594/filter-ldap-user-through-pam-so-it-appears-to-not-exist-at-all)

[code]

[2017-03-01 13:23] mprasil commented on #22140
_From @ansibot on August 1, 2016 2:25_

@grossws, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)

[2017-03-01 13:23] mprasil commented on #22140
_From @digi691 on September 9, 2016 20:5_

The libuser package that provides luseradd and lgroupadd is available from RHEL4 to current, Ubuntu 12.04 to current, and Debian Wheezy to current.  This looks to be well supported for current maintained/supported Distribution versions.  I might be interested in issuing a PR for this feature for the user and group module as I would find it useful in our e

[2017-03-01 13:23] mprasil commented on #22140
_From @ansibot on September 12, 2016 19:36_

@grossws, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-01 13:23] mprasil commented on #22140
_From @ansibot on October 6, 2016 15:49_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-01 13:23] mprasil commented on #22140
_From @TheFriendlyCoder on October 20, 2016 12:16_

It would be nice if this same feature request could be extended to include support for creating local groups in the same fashion as well. We recently hit a problem where an attempt was made to create a new local group using the 'group' module, only to find out the group in question already existed in ldap. The 'group' task got skipped because the

[2017-03-01 13:23] mprasil commented on #22140
_From @TheFriendlyCoder on October 20, 2016 12:24_

NOTE: I suspect, at it's core, the problem here lies with the system tools ansible is using under the hood. Based on my ad-hoc tests on CentOS 7.2, using 'usermod' to add a local user to an ldap group complete's successfully (ie: a 0 return code) however the operation doesn't actually add the user to the group. Further, I suspect the mechanism us

[2017-03-01 13:23] mprasil commented on #22140
_From @TheFriendlyCoder on October 20, 2016 12:35_

Also, another 2cents: I can see how skipping the 'group' task could make sense if the group exists on the system, whether the group is local or not, however I'd say that the 'user' module should probably fail if / when it attempts to add a user to a group - local or otherwise - and the user doesn't actually get added to the group. At least then p

[2017-03-01 13:23] mprasil commented on #22140
_From @ansibot on October 22, 2016 9:18_

@ansible, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-03-01 13:23] mprasil commented on #22140
_From @ansibot on December 7, 2016 17:56_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-03-01 14:02] sivel commented on #22138
I believe what you are looking for is either to use `with_indexed_items` or `with_together`:

http://docs.ansible.com/ansible/playbooks_loops.html#looping-over-a-list-with-an-index
http://docs.ansible.com/ansible/playbooks_loops.html#looping-over-parallel-sets-of-data

[2017-03-01 14:06] svobozhin opened #22141 ""msg": "This command cannot be run due to the error: Access is denied.""
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Run Ansible on RHEL, Windows Server 2012 R2 managing
##### SUMMARY

I need interactive run *.exe file as another user (for create local user profile).

packages.yml
[code]

main.yml
[code]

library\run_another_user.ps1
[code]

In log - message: "msg": "This command cannot be run due to the error: Access is deni

[2017-03-01 14:14] walterdolce commented on #22138
@sivel I just tried `with_together` and it seemed to work fine, given the lists can loop "side by side".
Thank you for pointing that out. Closing now. 🍺

[2017-03-01 14:14] #22138 closed, assigned to nobody

[2017-03-01 14:27] #21074 closed, assigned to jctanner

[2017-03-01 14:33] 0x46616c6b commented on #19550
The problem is here: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/_docker.py#L1439-L1447

When you define a empty list (`[]`) in the argument `links` the output in this section mention above

[code]

[2017-03-01 14:54] michalmedvecky commented on #22119
I suggest using `skip` parameter as in `first_found.py` module.

[2017-03-01 15:06] bmaupin opened #22145 "Solaris doesn't support cron special times"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cron

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control machine: Ubuntu 14.04 64-bit
Managed node: Solaris 10 9/10 64-bit Sparc

##### SUMMARY

Solaris doesn't appear to support cron special times: `@daily`, `@hourly`, etc:

[code]

It gives the following error when any of them are used:

[code]

##### S

[2017-03-01 15:33] JonTheNiceGuy opened #22147 "Actions in the nmcli module specifically, creating and modifying VLANs and Bond interfaces will only trigger the nmcli command, and not actually build the command"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ubuntu 16.04.2

##### SUMMARY
Actions in the nmcli module [specifically, creating and modifying VLANs and Bond interfaces](https://github.com/ansible/ansible/blob/7c003467147b170f015b945b4191b8bd74b6a1b7/lib/ansible/modules/network/nmcli.py#L989-L1007) will onl

[2017-03-01 16:20] #22130 closed, assigned to nobody

[2017-03-01 16:28] LukeHoersten commented on #22006
This causes a pretty big security hole. Any objections to making a fix a top priority?

[2017-03-01 16:31] sivel commented on #22006
Just to add a reference to the documentation for the password field, as it seems you only referenced the first sentence of the documentation:

http://docs.ansible.com/ansible/user_module.html

[2017-03-01 16:33] LukeHoersten commented on #22006
Ah I didn't see that. Perhaps it should be more prominent. Does this mean because it's documented it will never be fixed?

[2017-03-01 16:33] privateip commented on #22001
Do you have warnings disabled?  The update will print warnings for any commands that are not running properly

[2017-03-01 16:35] bcoca commented on #22006
it seems to be a limitation of the platform

[2017-03-01 16:35] sivel commented on #22006
After a quick search around the internet, I do not see a way to provide Mac with a crypted password.  The `dscl` command does not support supplying a crypted password.

[2017-03-01 16:36] olex777 commented on #22001
I put all output I have in this thread

1 бер. 2017 5:34 пп "Peter Sprygada" <notifications@github.com> пише:

[2017-03-01 16:36] LukeHoersten commented on #22006
Ok thanks guys. My mistake.

[2017-03-01 16:36] #22006 closed, assigned to nobody

[2017-03-01 16:37] olex777 commented on #22001
When could I look about "enable/disable warnings"?

1 бер. 2017 6:33 пп пише:

[2017-03-01 16:52] snowsky commented on #22124
The packages variable are empty. I'll take a look to see where the problem is.

[2017-03-01 17:01] #21847 closed, assigned to Qalthos

[2017-03-01 17:12] gundalow commented on #22141
Can you please run with `ansible-playbook -vvvv` and copy and paste the output into this issue? Thanks

[2017-03-01 17:13] gundalow commented on #22141
Also what is `run_another_user` in your `main.yml`?

[2017-03-01 17:14] tumbl3w33d opened #22152 "file module bulk creation performance and usage improvement"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
file module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The file module does
* not accept lists as argument to path
* perform really poor when working with a loop

This forces users to fall back to shell to mitigate this performance impact (which can be considerable).

The issue was reporte

[2017-03-01 17:42] #21827 closed, assigned to Qalthos

[2017-03-01 17:42] #21826 closed, assigned to Qalthos

[2017-03-01 17:42] #21824 closed, assigned to Qalthos

[2017-03-01 17:43] abadger commented on #22011
By playbook run system do you mean that it exists on the system where you are running ansible-playbook PLAYBOOK-FILE ?

If so, when running synchronize with delegate_to, it is actually making a connection between the delegate_to host and the inventory_hostname host.  So you need to have a means for ssh to authenticate between those two hosts.  The method I've used before is to use an ssh-agent and

[2017-03-01 17:51] galexrt commented on #22011
Yes, the ssh key I specify exists on the system that is running the `ansible-playbook` command.

I'll test it with Ansible `2.1` and report back, as I remember that this playbook worked with `2.1`..

[2017-03-01 17:55] vhosakot commented on #20773
@krzysztof-magosa yes, I know I'm not supposed to do that, but, can we see a better error than the infinite loop when we do it by mistake? 😄  I'm not a fan of user seeing infinite loops in software.

[2017-03-01 17:58] abadger commented on #22026
I don't believe this is doable.  The problem is that the characters aren't really illegal for command.

For instance, say I created a file with a semicolon in it by accident:

[code]

I realize I've made the mistake and use command to remove the file:

[code]

The semicolon is valid there.

Note, in terms of removing files, it's probably better to use file with state=absent (although I know that d

[2017-03-01 17:58] #22026 closed, assigned to nobody

[2017-03-01 18:11] gundalow commented on #22121
@Qalthos What do you think?

[2017-03-01 18:18] #21866 closed, assigned to nobody

[2017-03-01 18:19] abadger commented on #22071
@bcoca

[2017-03-01 18:32] abadger commented on #22085
I was unable to reproduce this:
[code]

Perhaps this isn't as generic as you think?  Maybe something about which specific packages are having to be updated?

needs_info

[2017-03-01 18:36] abadger commented on #22085
Reading the git log, it looks like this may have been fixed via:

commit e511326222c908f8879f1283571234eda14f5471
Author: Adrian Likins <alikins@redhat.com>
Date:   Wed Feb 8 16:07:43 2017 -0500

    Fix 'yum skips updates' bug (#21113)

Are you running the latest checkout from git?

[2017-03-01 18:48] tkinz27 commented on #20980
I am also seeing this problem. I believe I have a playbook that can show off a couple different aspects of the issue.

Inventory
[code]

Playbook
[code]

Results ansible 2.2.0.0

[code]

Results Ansible 2.2.1.0
[code]

So I see two problems.
1) With ansible 2.2.1.0 some of the delegated servers do not correctly get facts assigned to them.
2) With ansible 2.2.1.0 if the delegated servers are actual

[2017-03-01 18:49] skanagal opened #22157 "'dict object' has no attribute 'ansible_job_id'"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
async_status

##### ANSIBLE VERSION
2.2.1.0

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS - Sierra

##### SUMMARY

So basically what I am trying to do is run a tcpdump on a device. While the tcpdump is running, I am running a ‘pinging’ task from another device. Once this task is complete, I go back and check what the tcpdump has captur

[2017-03-01 19:00] #19998 closed, assigned to nobody

[2017-03-01 19:08] jimi-c commented on #22025
@joshmullis / @dagwieers I believe this is a bug. I believe role and include params were kind of wrapped up in that slot but were not actually called out, however vars as defined in `vars/main.yml` are lower priority than set_fact/include_vars. Beyond that, the basic intended pattern for vars is:

defaults < inventory < statically defined in playbook < run time

Where "statically defined in playbo

[2017-03-01 19:16] Spredzy commented on #21974
Hey @KellerFuchs,

Just to make sure I understand what you are asking for. You'd like the module to return the left value in the below example, along the other data that are returned?

[code]

[2017-03-01 19:29] ilpianista commented on #18468
I just got this on a Windows Server 2008 R2 using WinRM over HTTPS.
I didn't try to switch to HTTP however, I'll do that test and report back.

[2017-03-01 19:31] Qalthos commented on #22121
I'm not entirely sure how you got to that conclusion from the data provided. All the error is reporting is that ansible was unable to make a connection, not that anything was hijacked.

My first question is whether netconf is enabled and listening on port 22 (and not 830). If that fails, please run with `ANSIBLE_LOG_PATH=<some_file>` and `-vvvv` at the end and post the relevant bits of the log fil

[2017-03-01 19:45] KellerFuchs commented on #21974
No, that's the file digest.
I will write you an example later today.

[2017-03-01 20:08] rohithasrk commented on #16352
Yes. Upgrading urllib3 helped me too. :)

[2017-03-01 20:08] Qalthos commented on #22121
And again, I ran the file perfectly fine from library/junos_get_facts.py as indicated in your issue. The running of plugins/action/junos.py is _intended_, that's how Ansible figures out how to connect to the device in a way Junos will understand.

The issue you have is not that your code is mysteriously getting ovverriden, it is that the connection never completes, _probably_ because the port is w

[2017-03-01 20:11] dagwieers commented on #21866
@bcoca Thanks !

[2017-03-01 20:21] TJuberg commented on #22121
I'll provide you with the full debug output tomorrow.

But yes, the port is correct, and simply renaming the custom module from junos_get_facts.py to notjunos_get_facts.py allows the module to work just fine (verified earlier today), as it does not need ansible to figure out how to connect as it already contains all the required functionality to connect on it's own.

Is this behaviour change docum

[2017-03-01 20:35] abadger commented on #22111
@jszwedko could you please test #22162 for me?  I don't have a setup that needs ssh_args right now so I didn't test it but I think that will quote the args in the proper place.

[2017-03-01 20:36] alikins commented on #18967
@jean-christophe-manciot

The --version info is determined at runtime and is partially based on where the 'ansible' executable lives. If it is in a git repo, it adds the git branch info and sha. For a branch that is unmodified version of a commit (or a detached checkout like in https://github.com/ansible/ansible/issues/18967#issuecomment-281871486) it will match the sha but not the branch name.

I

[2017-03-01 20:39] matthewdaizeitm opened #22163 "Add uniqueness definition to module documentation?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
*.* (but demonstrated through the AWS cloud module usage)

##### ANSIBLE VERSION
`latest`

##### SUMMARY
The module documentation does not specify what criteria it uses to determine if a resource exists or not. For example, take the AWS EC2 module `aws_ec2` -- if an instance exists with X, Y, Z attributes, consider it existing and perform a mo

[2017-03-01 20:47] Qalthos commented on #22121
Ah, yes, I see what the issue is now. The action plugin is there so you don't have to specify all that connection code yourself, which is fine for users, but a bit of a pain to keep up with the changes if you're maintaining modules.

As far as I understand, you have three options. Rename the module, refactor the module to take advantage of the junos action plugin, or make a new action plugin for `

[2017-03-01 21:00] TJuberg commented on #22121
Thank you for the clarification.

We'll work around this, but we wanted to ensure this was not some unintentional breakage as a cursory look at the 2.3 changelog did not reveal anything to indicate behaviour change. But then again, this is the devel branch.

I'll close this as it's intended behaviour, although it did cause quite the confusion for a while.

Thanks for the help.

[2017-03-01 21:00] #22121 closed, assigned to Qalthos

[2017-03-01 21:03] Qalthos opened #22166 "White list action plugin overrides for network modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
executor/task_executor.py

##### ANSIBLE VERSION

[code]

##### SUMMARY

Action plugins overriding introduced in 2.3 are overly broad and can lead to issues when custom modules with the same prefix are used.

See #22121

[2017-03-01 21:05] Woutrrr commented on #21559
On the command line can use `choco upgrade all` to upgrade all packages. Using "all" as package name also works for the win_chocolatey module:

[code]

[2017-03-01 21:07] Qalthos commented on #22121
Sorry for all the confusion throughout this issue, but we are treating this as a bug. See the linked issue for progress.

[2017-03-01 21:21] dagwieers commented on #21559
This appears to work.

BTW The new way of specifying 'upgrade: True' is:
[code]

[2017-03-01 21:31] Woutrrr commented on #21559
Ah yes, I see in the documentation the example I gave will be deprecated in 2.3. I have changed my comment to prevent confusion for anyone finding this issue in the future.

[2017-03-01 21:40] DebbieGillespie commented on #14248
+1

[2017-03-01 22:00] wouterh-dev opened #22169 "Roles are ran multiple times if both referenced as dependency and from playbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Playbooks/Roles

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`nowcows=1`

##### OS / ENVIRONMENT
N/A (Ubuntu)

##### SUMMARY
When a role is invoked through a playbook and also referenced as a dependency it is executed twice.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Have roles A, B, C each execute once.

##### ACTUAL RESULTS

[2017-03-01 22:03] jctanner commented on #15297
@jklaiho can you please test without setting ssh_args in ansible.cfg. Most of what you set there looks default, except that it doesn't contain -tt which we added for psuedo tty's. Can you also test on a more recent version of ansible, preferably 2.2 or devel.

needs_info

[2017-03-01 22:04] mhollymoodyn commented on #21200
Hi Guys,
I have the same issue and i can't upload to S3 using a KMS key.
Is there any update about this issue.
Thanks in advance!

[2017-03-01 22:05] jctanner commented on #15297
For everyone who is commenting about synchronize, this bug was filed on a gather facts. Please open a new bug if you have problems with the synchronize module.

[2017-03-01 22:27] krzysztof-magosa commented on #20773
Look at the end of the message, ansible displayed message `recursive loop detected in template string`, so this situation is supported in code.

[2017-03-01 22:29] ghost opened #22170 "shell command runs despite file already existing and "creates" is being used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Shell command runs even though sential file exists and "creates" is being used.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
As the file exists, the command should not run.

##### ACTUAL RESULTS
The command runs (and fails as it cannot be

[2017-03-01 22:34] abadger commented on #15297
Also note that synchronize has known limitations with regard to passwords for both sudo and ssh.  See https://github.com/ansible/ansible/issues/14345#issuecomment-180845067 for information about synchronize and password-based sudo problems.  The issue is basically that rsync itself is handling sudo in these cases so we don't have the opportunity to use the standard ansible facilities for passing i

[2017-03-01 22:50] vhosakot commented on #20773
Yes, just the `recursive loop detected in template string` message is perfect.  What about the text below?  How does it help the user do anything?

[code]

[2017-03-01 22:56] bcoca commented on #22166
actually, that is how they always worked, for networking there was a change introduced that allowed connection plugin to override the action plugin, but @privateip recently removed that.

[2017-03-01 23:03] EvanK commented on #21904
I _think_ this is the same issue that would be addressed by #21636

[2017-03-01 23:12] ghost opened #22171 "service module won't start init script on systemd system"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
RHEL7
##### SUMMARY

##### STEPS TO REPRODUCE
1. isntall a init-script based service on RHEL7
2. try and start it with ansible

##### EXPECTED RESULTS
the service starts

##### ACTUAL RESULTS
Systemd error saying it can't start service.

Ansible should use the "se

[2017-03-01 23:16] MBlagui commented on #18468
Same here got time error with Windows 2008 R2 using WinRM over HTTPS.

So the only solution is using HTTP that would be against our security policy.

[2017-03-01 23:26] khannz commented on #17014
Currently on 'devel' and as I can see, situation with some analogue for `ansible_default_ipv4` is still same.

First, I must add some facts about solution I gonna show below: in Windows Cluster configuration, nodes (can?) have few addresses for network interface -- in my case it is one 'original' and OS uses it to register server in AD & DNS, other one is for cluster purposes. Choosing [0] element

[2017-03-01 23:27] mhollymoodyn opened #22173 "ansible_s3 does not support delegate_to"
Hi Guys,

when i try to add the

delegate_to: localhost

in my playbook to put file on AWS S3 it shows the error below:

FAILED! => {"changed": false, "failed": true, "msg": "unsupported parameter for module: delegate_to"}

Thanks in advance for fixing this issue.

[2017-03-01 23:28] jylenhofgfi commented on #22131
Did you install zabbix-api as written in the documentation ?
http://docs.ansible.com/ansible/zabbix_host_module.html (Requirements Section)

[2017-03-01 23:49] rajeevd18 commented on #11411
hi ,

Need help. I am new to Ansible. Version I am using 2.3.0.
I tried both version of  human_log.py provided by Cliff, I am not seeing the format line -wise .

"For Ansible 2.x, please check out https://gist.github.com/dmsima... and/or https://github.com/n0ts/ansibl..."

The output before callback:
changed: [localhost] => (item=df /) => {"changed": true, "item": "df /", "rc": 0, "stderr": "", "s

[2017-03-01 23:52] sivel commented on #22173
Based on the error, you have delegate_to indented too far.  It should be indented to he same level as `s3`.

Please feel free to use the mailing list if you have further questions.

[2017-03-01 23:52] #22173 closed, assigned to nobody

[2017-03-01 23:59] ghost opened #22174 "Is Ansible the new Puppet?"
{"changed": false, "failed": true, "msg": "value of wait_for_complete must be one of: y,yes,on,1,true,1,True,n,no,off,0,false,0,False, got: True"}

[2017-03-02 00:01] #22174 closed, assigned to nobody

[2017-03-02 01:31] dagwieers commented on #18108
@fxfitz Now that I did my work, it's only fair that you contribute your connection plugin ! :-P

[2017-03-02 01:31] flaugher commented on #20653
Same problem here.  Ansible 2.2.1.0, Debian 8.7, repo is git@bitbucket.org:<myname>/<mysite>.git.  Interestingly, I don't get this error if run on macOS Sierra.

[2017-03-02 01:33] nitzmahone commented on #18108
@fxfitz Hear, hear! Cough it up! ;)

[2017-03-02 06:15] dharmabumstead commented on #20557
Working on it. Thanks for the feedback!

[2017-03-02 06:19] svobozhin commented on #22141
@gundalow run_another_user - custom powershell module

[2017-03-02 06:20] ApsOps commented on #21989
@bcoca I can pick this up, but I'm not sure if we should enable/disable the option by checking the ES version (this might be complicated/overkill), or just remove the default value and add in docs that users should enable this only if their `elasticsearch-plugin` binary supports it. Users are anyway providing the path to the binary. Thoughts?

[2017-03-02 06:22] #21559 closed, assigned to nitzmahone

[2017-03-02 06:29] svobozhin commented on #22141
@gundalow log here - https://gist.github.com/04f4466019fbc64aae65fd859e059880.git

[2017-03-02 06:30] svobozhin commented on #22141
@gundalow log here - https://gist.github.com/04f4466019fbc64aae65fd859e059880.git

[2017-03-02 06:31] trishnaguha commented on #21185
I, myself would like to work on the feature. @gbraad has asked to collaborate with me for the same.

[2017-03-02 07:14] nitzmahone commented on #19447
fixed by #22182

[2017-03-02 07:14] #19447 closed, assigned to nobody

[2017-03-02 09:05] ThePixelDeveloper commented on #21989
@ApsOps Thanks.

I'm not going to have any time in the next few days so it's much appreciated if someone can get to this before me.

[2017-03-02 09:17] evgeni commented on #21904
Most probably it is, yes.
@mgedmin care to test my patch in #21636 ?

[2017-03-02 10:12] rhcarvalho commented on #20557
FWIW, a colleague sent me this link yesterday, might be useful to others following this issue:

https://www.ansible.com/blog/how-to-extend-ansible-through-plugins

[2017-03-02 10:30] onitake commented on #13680
As requested, #21968 is open for discussion.

[2017-03-02 10:31] mgedmin commented on #21904
Confirming: #21636 indeed fixes this bug.

[2017-03-02 10:54] FrankYu opened #22186 "Why systemd module output so much log?"
I'm trying to start ntpdate service on remote host, but why it output so much logs? yeah, I know disable it by config "no_log=Yes", but just wanna know the reason.

#ansible kubernetes-vms -m systemd -a "name=ntpdate state=started"
10.10.10.220 | SUCCESS => {
    "changed": false,
    "name": "ntpdate",
    "state": "started",
    "status": {
        "ActiveEnterTimestamp": "Thu 2017-03-02 05:51:4

[2017-03-02 11:06] christopher-abastar commented on #21316
hoping this can go in. We just updated ansible to 2.2 and broke all our deployment scripts.

[2017-03-02 11:17] pando85 commented on #12170
@bcoca, I think this it is necessary, you could let this open as something necessary when it'll be easier to implement.

Software features can't be stopped by technical difficulties.

[2017-03-02 11:39] nijinashok opened #22189 "VM is always started as run once using ovirt_vms module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ovirt_vms

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Currently the VM is always started as "run once" . Even if we are only giving option as "state: running" , the RunVmOnceCommand is executed in the backend. There is no option to start the virtual machine without the "run once" logic.

##### STE

[2017-03-02 11:40] ghost opened #22190 "run_command() produces TypeError when being fed a boolean in args"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils.basic.run_command()

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.2 (Maipo)

##### SUMMARY
I'm using the run_command module and in the argument I've to include booleans since the command I'm calling uses those to declare if the user for example is a manager.

[2017-03-02 11:43] wisotzky opened #22191 "netconf-config.py to enforce usage of <running> vs <candidate>"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/network/netconf/netconf_config.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
The current netconf_config module claims support of the <running> datastore as fallback if ":candidate" is not supported. The issue is, that it always run the ncclient methods "discard_changes()" and "commit()" which both require the ":candidate" c

[2017-03-02 11:44] frenzymadness commented on #18456
@mscherer Yes, we have, but AFAIK all issues/PRs there have a solution or are in *work in progress* state. So I am looking for another opportunity where I can help with Python 3 compatibility and it looks that modules porting is a good way.

If you know about something which is Python 3 related, add it please to mentioned project and/or let me know.

Or, maybe, I can try to investigate and make so

[2017-03-02 12:06] machacekondra commented on #22189
This was fixed by:

 https://github.com/ansible/ansible/pull/21246/commits/b9745dde239286b1f53ab1380cb46f7485651223

[2017-03-02 12:14] wisotzky opened #22192 "netconf-config.py should provide control for deployment strategy"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lib/ansible/modules/network/netconf/netconf_config.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
The current implementation of netconf-config.py is enforcing lock/unlock of the datastore, discard-changes before edit-config and commit after edit-config (if there are changes). Technically there is nothing to say against this principle. But the

[2017-03-02 12:14] machacekondra commented on #22189
resolved_by_pr 21246

[2017-03-02 12:15] #22189 closed, assigned to nobody

[2017-03-02 12:27] sivel commented on #22190
run_command only supports being passed strings or a list of strings.  You will have to cast all of your values to strings before passing them in to run_command.

Such as:

[code]

[2017-03-02 12:31] rcarrillocruz commented on #22190
not_a_bug

[2017-03-02 12:36] privateip commented on #21900
I'm looking at the 2.2 module and we never supported an output key `result`

[2017-03-02 12:38] gundalow opened #22193 "Remove warning "argument authorize has been deprecated""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_banner

##### ANSIBLE VERSION
[code]

##### SUMMARY
In 2.3 using `authorise: yes` is the correct way to go into privileged mode on `eos` and `ios`.
Though we throw a warning that's it's a deprecated option, most likely as it's its in

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-03-02 12:45] jklaiho commented on #15297
@jctanner Tried this just now with Ansible v2.2.1.0. The results of the various combinations:

`sudo_flags, pipelining, ssh_args`: ❌
`sudo_flags, pipelining`: ❌
`pipelining, ssh_args`: ✅
`pipelining`: ✅
`sudo_flags, ssh_args`: ✅

So the problem still exists as originally described.

I'm now running OS X 10.11.6, and the guest is on Ansible 16.04.

My current `ansible.cfg`, from which I simply comm

[2017-03-02 12:48] Prutserr commented on #22190
I'm transforming them now to strings indeed but it felt a bit "dirty" hence the issue. I'll close it then.

Thanks

[2017-03-02 12:48] #22190 closed, assigned to nobody

[2017-03-02 12:51] #21983 closed, assigned to nobody

[2017-03-02 12:55] jklaiho commented on #15297
@jctanner Just for kicks, I tried to run the command that is printed out on the `SSH: EXEC` row in my last comment:

[code]

I have no idea what's the deal with those 17 alternating single and double quotes, but clearly that didn't work. If I pare it down to just a single quote, it seems to work as intended:

[code]

I don't know if this is relevant, but I thought I should post it just to be sure.

[2017-03-02 12:56] gundalow opened #22194 "eos_banner not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_banner

##### ANSIBLE VERSION
[code]

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
2nd run shouldn't report changed
##### ACTUAL RESULTS
[code]

[2017-03-02 13:23] hdimitriou commented on #20648
Created a pull request to add support to userns_mode on docker_container.
While this gets propagated to docker-py module, it only currently supports 'host' as userns value.

[2017-03-02 13:32] #22088 closed, assigned to nobody

[2017-03-02 14:15] bearrito opened #22197 "Azure NSG rule purge does not work."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 azure_rm_securitygroup

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Ubuntu 14.04.

##### SUMMARY
Rule purge does not work

##### STEPS TO REPRODUCE
Run the azure  azure_rm_securitygroup with purge set to true, go to the azure portal, witness that the rules are not purged.

##### EXPECTED RESULTS
My existing rules to be purged

##### A

[2017-03-02 14:20] michalmedvecky commented on #22119
Meh, this can be simply workaround by using `ignore_errors: yes`

[2017-03-02 14:20] #22119 closed, assigned to nobody

[2017-03-02 14:22] matthew-lowe-izettle commented on #15019
Same error with `ec2_elb` tag:

[code]

[2017-03-02 14:32] gundalow commented on #22194
Also when this is fixed should `.commands` exist for runs where nothing changes?

[2017-03-02 14:52] gundalow commented on #22194
This also applies to `state: absent`

[2017-03-02 15:03] cloos commented on #21706
OK, found the problem.
I have a `/etc/os-release` file with this content:
[code]
On a vanilla LinuxMint13 this file doesn't exist, but if you install all updates, this file is created.
If I move this file away, I get the correct `"ansible_distribution": "Linuxmint"`.

The distribution is set [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts.py#L714) to "Linuxmint"

[2017-03-02 16:03] Spredzy commented on #21974
@KellerFuchs Thanks for the detailed explanation.

I've pushed a first review that should do what you want. Could you let me know if it's technically ok with you?

Here an example of a playbook output

[code]

Let me know,

[2017-03-02 16:23] bcoca commented on #22186
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-03-02 16:23] #22186 closed, assigned to nobody

[2017-03-02 16:26] gjelu opened #22203 "remote_path is not respected when become is true for script module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
sccript module

##### ANSIBLE VERSION
ansible 2.1.2.0
  config file = /home/lsc8100/.ansible.cfg
  configured module search path = Default w/o overrides

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ansible server: RedHat 6.8
target host: RedHat 7.3 but /tmp is mounted with noexec option

##### SUMMARY
when a playbook is started as become:t

[2017-03-02 16:28] naoko opened #22204 "Would you be able to support `accelerator` param for GCE module?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
GCE

##### ANSIBLE VERSION
[code]

##### SUMMARY
Google is now supporting GPU (still in beta)
I've added `accelerator: type="type=nvidia-tesla-k80" count=1` and got this error "unsupported parameter for module: accelerator" which is pretty much expected :)
Would you be able to add this support in near future?

Thank you

[2017-03-02 16:34] LukeHoersten commented on #22006
It looks like as of Lion, passwords are managed in a different way on MacOS: https://apple.stackexchange.com/questions/186893/os-x-10-9-where-are-password-hashes-stored

[2017-03-02 16:46] jseadragon commented on #15706
I was seeing this issue consistently on certain hosts, and after manually pulling in the patch, I discovered that I had a host conflict in one of the files in my `hosts` directory. This was not obvious at all until I added in the patch in https://github.com/ansible/ansible/issues/15706#issuecomment-251016313

Specifying the file instead of the full dir is the change I'm making to my workflow.

[2017-03-02 16:52] jimi-c commented on #22025
Well unfortunately changing this precedence does break things, so I've rolled it back in my feature branch. We'll have to look at potentially fixing this in the future, or via another means.

[2017-03-02 16:53] sivel commented on #18187
This was resolved in c160ede789b0c2f5361cddc07fbab2dccb9adf10

[2017-03-02 16:53] #18187 closed, assigned to nobody

[2017-03-02 16:54] sivel commented on #18182
This was resolved in 4b320ce0e494213bf110d4db68e1e97cb283f416

[2017-03-02 16:54] #18182 closed, assigned to nobody

[2017-03-02 17:07] talkimhi11 commented on #22085
@abadger
Thank you! you are right.

[2017-03-02 17:27] robinro commented on #21316
@christopher-abastar and the other reporters here: can you check that #21712 fixes your issue?

[2017-03-02 17:37] BaxterStockman commented on #16215
I believe this issue results from the following section of [the synchronize action plugin](https://github.com/ansible/ansible/blob/8b2ca79507b1721056913be49810095f97977944/lib/ansible/plugins/action/synchronize.py#L301-L309):

[code]
The `task_vars["ansible_delegated_vars"]` dictionary appears to contain facts about the _delegate host itself_ (the host specified with `delegate_to`) rather than the

[2017-03-02 17:54] mhollymoodyn commented on #22173
Thanks for the quick response.

Actually what I am trying to do is to make rotation of the linux ssh keys.
What i do is that i am creating the SSH Keys locally([not on the remote hosts).
Then i push them and change the authorized_keys files.
once it's done so i need to upload the keys to S3 so we (all team) can access to them later.
I don't know if have to create a new Ansible playbook to upload t

[2017-03-02 18:59] #22124 closed, assigned to nobody

[2017-03-02 19:36] dav1x commented on #20407
@petericebear

Would the use of a resource pool suffice? I have a pending PR for this https://github.com/ansible/ansible/pull/21116

[2017-03-02 19:37] detiber commented on #12170
@pando85 You could probably build something close to this with a custom strategy plugin:
- http://docs.ansible.com/ansible/playbooks_strategies.html
- https://github.com/ansible/ansible/tree/devel/lib/ansible/plugins/strategy

[2017-03-02 19:38] dav1x commented on #21013
@watsonb Thanks for the response. I tried repeatedly and could not recreate this issue. :(

[2017-03-02 19:48] #21795 closed, assigned to nobody

[2017-03-02 20:23] privateip commented on #20955
This was fixed in commit https://github.com/ansible/ansible-modules-extras/commit/8785594b6088ee934933cd4620f8d61b43709929#diff-804543be39ddfb07c280da04250b8ca4

[2017-03-02 20:23] #20955 closed, assigned to privateip

[2017-03-02 20:29] whitejm commented on #21910
Looks like the is already a pull request to fix this, #20594

[2017-03-02 21:59] privateip commented on #19574
Unable to replicate bug, password with special characters is working fine directly from playbook and from env var.  Which version of EOS are you seeing this on?

needs_info

[2017-03-02 22:00] privateip commented on #18974
@jean-christophe-manciot are we good to close this issue?

[2017-03-02 22:01] privateip commented on #18968
@jean-christophe-manciot can you confirm #21954 fixed your issue?

[2017-03-02 22:02] #22001 closed, assigned to privateip

[2017-03-02 22:05] #21823 closed, assigned to privateip, Qalthos

[2017-03-02 22:11] #21316 closed, assigned to nobody

[2017-03-02 22:43] pando85 commented on #12170
@detiber thanks for the info.

Indeed I solved my problem with the workaround posted here.

I have a proxy cache and when I install packages for my cluster I need to install first in one machine, and them with all packages cached I install in the others machines.

[code]

But I think this feature could be interested for more porpoises and `seria:` is the simplest and logical form to accomplish it.

[2017-03-02 23:12] #21845 closed, assigned to jctanner

[2017-03-02 23:20] Len357 opened #22216 "ios_config multiline banner timeout"
##### ISSUE TYPE

##### COMPONENT NAME
[code]
##### ANSIBLE VERSION

[code]
-->

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-03-02 23:33] wltjr commented on #21735
More info, ran it through strace. I will start with the most interesting as the rest seems to confirm the same.
[code]
When I grep the file for templates, there is no output. In fact the file is never even attempted to be opened or referenced. This bit of the strace output, [strace.txt](https://github.com/ansible/ansible/files/815369/strace.txt). Shows it looking into the right directory. But no a

[2017-03-02 23:38] nitzmahone commented on #16202
fixed by #21510

[2017-03-02 23:38] #16202 closed, assigned to nobody

[2017-03-02 23:39] dagwieers commented on #16202
\o/

[2017-03-02 23:41] nitzmahone opened #22218 "become fails on Windows with "Access is denied" under NTLM/Kerberos auth"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
powershell.py

##### ANSIBLE VERSION
2.3.0 devel

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using `become` on Windows with any WinRM authtype but Basic or CredSSP, it fails with "Access is denied".

[2017-03-02 23:48] rcarrillocruz commented on #22216
I am unable to reproduce:

[code]

Can you please paste your src file ?

[2017-03-03 00:01] Len357 commented on #22216
Your banner is on a single line which works mine is multiline

adminlen@len-nm-1:~/ansible$ cat router-login-banner-test
banner login @

test login
banner

@

Len Tucker

On Thu, Mar 2, 2017 at 6:49 PM, Ricardo Carrillo Cruz <
notifications@github.com> wrote:

[2017-03-03 00:05] rcarrillocruz commented on #22216
Thanks, I can reproduce.

Will take a look.

[2017-03-03 00:28] Len357 commented on #22216
Just an FYI, this appears to have been addresses in the past but as you can
see it does not work.
https://github.com/ansible/ansible-modules-core/issues/5318

Len Tucker

On Thu, Mar 2, 2017 at 7:05 PM, Ricardo Carrillo Cruz <
notifications@github.com> wrote:

[2017-03-03 00:56] sgsabbage commented on #16048
Coming back to this as I ended up having some problems with it, so I eventually just gave up and let the root user login as the postgres user with the following file changes:

`pg_ident.conf:`
[code]
`pg_hba.conf:`
[code]
Please bear in mind, this isn't my complete pg_hba.conf file, just an example of the main change. Then you can just use the postgres tasks as:
[code]

[2017-03-03 01:51] jsecchiero opened #22220 "missing host in a task and duplicated on the next in the same playbook/role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
task

##### ANSIBLE VERSION
2.2.1.0

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
ubuntu 16.04

##### SUMMARY
missing host in a task and duplicated on the next in the same playbook/role

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
no missing or duplicated hosts

##### ACTUAL RESULTS
[code]

[2017-03-03 01:57] snowsky opened #22222 "apt-get autoremove doesn't remove obsolete packages"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu
##### SUMMARY

##### STEPS TO REPRODUCE

Use this playbook and then run "apt-get autoremove":
[code]
It shows no change:
[code]
Then the command 'apt-get autoremove' still show some packages:
[code]

##### EXPECTED RESULTS

The obsolete packages should be re

[2017-03-03 01:58] snowsky commented on #22222
#22154

[2017-03-03 03:34] michaelkrupp commented on #5339
The `copy: content` module also leaves behind temporary files here.

ansible 2.2.1.0
debian 8.7 jessie

[2017-03-03 03:42] davidsummers opened #22233 "vyos_config fails with timeout with big configuration"
- Bug Report

##### COMPONENT NAME

vyos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from: Mac OS X 10.11.6
Managing: vyos 1.1.7

##### SUMMARY

I'm trying to load a whole configuration into a vyos 1.1.7 router with ansible 2.2.1.0 and the 'vyos_config' module.

My current list of commands is about 12.8 K characters and about 201 commands and this is

[2017-03-03 05:36] jimi-c commented on #20379
The above fix seems to handle the traceback more gracefully, however I'm not sure if it addresses the underlying issue (if there is one).

[2017-03-03 06:44] Santei commented on #6851
@raushan-0822 I get an error `ln: /usr/bin/ansible: Operation not permitted`

[2017-03-03 08:44] yves-vogl commented on #10446
It seems to me that merging is not implemented correctly.

role/defaults/main.yml
[code]

role/vars/9.6.yml
[code]

role/tasks.yml
[code]

The result is that include_vars leads to overriding the complete hash.

[code]

I'd have expected that the hash is merged (and _defaults_ have a lower precedence).

[2017-03-03 09:15] fhlmbrg opened #22235 "iosxr_config broken on IOS XR releases below 5.2.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

iosxr_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

RHEL
IOS XR Release below 5.2.0

##### SUMMARY

The "iosxr_config" module runs a "show commit changes diff" command before each commit, effectively breaking the task on older IOS XR equipment running on releases below 5.2.0.

The show command used in

[2017-03-03 09:44] fhlmbrg opened #22236 "iosxr_config documentation example using an unsupported update parameter"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

iosxr_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### SUMMARY

Unsupported update parameter used in the documentation example.

##### STEPS TO REPRODUCE

Example task:
[code]

Example task output:
[code]

##### EXPECTED RESULTS

Successful task run and commit.

##### ACTUAL RESULTS

[2017-03-03 10:10] fhlmbrg opened #22237 "Network Modules general platform compatibility matrix"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Network Modules

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

n/a

##### SUMMARY

I'm unable to find an overview showing network module and platform version compatibility.

Idea - a compatibility matrix or something per-module showing "Network Module X requires minimum OS version Y".

Take IOS XR f

[2017-03-03 10:15] ederst commented on #15769
I was able to reliably reproduce the issue by running a playbook in a Docker container (provisioned by Mesos) with limited resources (notably, 256MB RAM).

The playbook tries to copy a huge file (~500MB) to a remote system, but since the RAM is limited the oom killer kicks in and kills the process:
[code]

This leaves the "sacrificed child" process in the `<defunct>` state and somehow the parent p

[2017-03-03 10:49] davidak commented on #14511
@lalanza808 works for beeing able to accept the fingerprints.

but we have about 200 servers and 7 admins. would be nice to not have to type 1400 times "yes" and hit ENTER.

i tried this but it has no effect on the prompt.

[code]

any idea?

[2017-03-03 10:54] jwdevs commented on #18748
Same problem for me. `allow_duplicates: False `did not work.
I've set `serial: 1` and it did help (as a workaround).

[2017-03-03 11:42] fasterfish opened #22240 "vmware finding vm using regular expression or recursively"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest_snapshot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.0.4 amd64

##### SUMMARY

As the ansible user I want to find vm using regular expression or recursively

##### STEPS TO REPRODUCE

I've some folder structure in datacenter:
DataCenter/root/team-1/SecondName/VM1
DataCenter/root/team-2/

[2017-03-03 11:50] paddatrapper opened #22241 "Git module is not idempotent with submodules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Debian Testing for both host and node

##### SUMMARY
the git module is not idempotent. It reports that submodules have changed, even when they have not.

##### STEPS TO REPRODUCE
Run the following twice:

[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULT

[2017-03-03 12:07] kami8607 commented on #12170
@bcoca We use your 2nd suggestion in our project to accomplish serial=1 behaviour. Only negative aspect is that the summary at the end of the play gets screwed because every ok or change counts towards the first host and not the delegate. Can you think of any solution to that?

We really dont want to use the first suggestion because we have many dependendancies and we would need to include many ro

[2017-03-03 13:18] hryamzik commented on #12170
@kami8607 you can try this, not tasted with latest ansible though:

[code]

[2017-03-03 13:36] userlerueda opened #22244 "Ansible os_server module has the config-drive option but it does not allow to pass file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

macOS 10.12.3

##### SUMMARY

The os_server problem as it is right now, allows for config-drive option, however the config-drive option allows also to pass one or multiple files to the instance by means of the --file parameter just as in the following [

[2017-03-03 13:38] tassoevan opened #22245 "easy_install name=pip state=latest is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
easy_install

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 (Xenial) for both host and node.

##### SUMMARY
The easy_install module always report changes in `pip` when using `state=latest`. It occurred after an upgrade of host via `apt-get dist-upgrade`, but I can't confirm it happened due an Ansib

[2017-03-03 14:30] jctanner commented on #22117
@mathew-bulletin that doesn't appear to be valid yaml ...

[code]

If PyYAML can't parse it, neither can ansible.

[2017-03-03 14:30] #22117 closed, assigned to nobody

[2017-03-03 14:31] davidak commented on #14511
I created this playbook to solve it:

[code]

[2017-03-03 14:34] Amoki commented on #20603
Same issue with Ubuntu 14.04 and 16.04, no problem with Ansible 2.2.0

[2017-03-03 14:35] jctanner commented on #22127
@jesusch please use ANSIBLE_DEBUG=1 and -vvvv to give us better information.

needs_info

[2017-03-03 14:46] jctanner commented on #22135
@AlexZolotarenko would you be able to submit a pullrequest for that patch?

needs_info

[2017-03-03 14:47] jctanner commented on #22136
@schwartzmx has commented on the PR.

[2017-03-03 14:49] jctanner commented on #22136
resolved_by_pr https://github.com/ansible/ansible/pull/22137

[2017-03-03 14:51] #22136 closed, assigned to nobody

[2017-03-03 14:53] kami8607 commented on #12170
@hryamzik thank you very much! Works like a charm.
(FIY we use ansible 2.0.2.0)

[2017-03-03 14:54] jean-christophe-manciot commented on #18971
The issue is still there.
Running simple tasks with **nxos_config & nxos_command with or without double quotes for the CLI command**:
[code]
PLAY [Testing save running-config] ******************************************************************************************************************************************
META: ran handlers

TASK [Saving configuration on remote node with nxos_config withou

[2017-03-03 14:56] hryamzik commented on #12170
@kami8607 you can also try to replace marker hack with `play_hosts`.

[2017-03-03 15:01] nihlaeth opened #22247 "output of ansible-vault is incorrect: results in syntax error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
I set remote_user, private_key_file and vault_password_file. Nothing that should influence this.

##### OS / ENVIRONMENT
Linux, though I think this is platform independent

##### SUMMARY
ansible-vault encrypt_string suggest using `!vault-encrypted |` for single encrypted variables,

[2017-03-03 15:02] fpoirotte commented on #20379
The commit replaces the original exception with another one, but indeed, it does not fix the underlying regression (a query that previously worked does not work anymore after ansible has been updated to version 2.2.1)

[2017-03-03 15:04] kingdonb commented on #7541
This seems extremely complex... why not neuter state=absent when recurse=no is set?

I am trying to write a role that runs 'kubeadm init' if it hasn't already been done.  I check if there is a PKI dir in /etc/kubernetes (since that gets created during init), and if it's not there, I check if there is anything in /var/lib/kubelet/ (since init will fail if this directory is not empty, and I've obser

[2017-03-03 15:07] kingdonb opened #22248 "A way to delete empty directory safely"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

file

##### ANSIBLE VERSION

[code]

I don't know if anyone looks at closed issues, so I'm opening this to revisit - ansible/ansible#7541

Is there a less dangerous and complicated way to safely delete an empty directory?

I will detect "is it necessary to run `kubeadm init`" first, and next ensure that the conditions to run it are met.  If

[2017-03-03 15:11] Atoms opened #22249 "nmcli does not modify bond connection"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Centos 7.3 (can be any OS)
##### SUMMARY
When adding bond interface with no ip configuration for vlan usage later it get's created, but when i run playbook again it fails.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
It passes if no other network parame

[2017-03-03 15:15] kingdonb commented on #7541
Yeah, I guess you need parentheses around:

[code]

If you write it as:
[code]

it does not have the desired effects...

Maybe this whole effort is misguided, I'm finding there are times when the plugins dir is empty and I still don't want to remove it.

[2017-03-03 15:16] Atoms commented on #22249
If i do not add network connections parameters then command which generates is:
[code]
which generates error, my proposal would be add `mode` as default parameter for modify, as it's already is predefined, and if no changes in vars for mode then it sill will be balance-rr

[2017-03-03 15:17] chouseknecht commented on #19549
Fixed by #21508

[2017-03-03 15:17] #19549 closed, assigned to nobody

[2017-03-03 15:44] kingdonb commented on #7541
There was too much wrong with that set of tasks,

I decided I should only remove "plugins" or "pods" if both are simultaneously empty, since this is a script for master nodes, any node may have an empty plugins directory, but I'm pretty sure that a node that doesn't have any pods running on it is not a functioning master node and should be redone...

The PKI directory only has file contents (no di

[2017-03-03 15:51] kingdonb commented on #22248
This whole process is already a lot less complicated and dangerous in Ansible 2.3 because of the addition of `file_type=any` on the find module, but it still seems like a lot of trouble to go through to say "remove the directory if it's empty, or abort with an error if it's not."

I solved "whether or not the director(y|ies) are empty and should be deleted" for my particular use case, on the linke

[2017-03-03 15:59] jean-christophe-manciot commented on #18968
The issue is still there when trying to pull all facts with a ```Structured output unsupported``` error msg:
[code]

[2017-03-03 16:22] gundalow opened #22253 "ios(_system) doesn't detect current terminal type"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Doesn't look like the `ios` modules correctly detect what mode (User, privileged, etc)

`    "err": "configure terminal\r\n       ^\r\n% Invalid input detected at '^' marker.\r\n\r\nfoo>", `

##### ANSIBLE VERSION
[code]

##### SUMMARY
It appears that `ios` doesn't detect the mode we are in.
This might be an issue when the previous task had `aut

[2017-03-03 16:24] jean-christophe-manciot commented on #18974
[code]

[2017-03-03 16:41] kami8607 commented on #12170
@hryamzik .Very nice, perfect solution for us now. Thank you again :)

[2017-03-03 16:41] #22247 closed, assigned to nobody

[2017-03-03 16:42] alikins commented on #20379
@fpoirotte Are you still seeing a traceback from an unhandled exception?  If so, please post that traceback.

[2017-03-03 16:52] sivel commented on #20379
As far as a "regression" from 2.2.0 to 2.2.1, no changes were made to the `json_query` filter.

Looking at the error we get back from jmespath (the underlying library) indicates that `app_var_git_branch` isn't being quoted properly for a jmespath search.

When modifying the search to look like:

[code]
(adding backticks around `app_var_git_branch`

It seems to get farther, although jmespath respon

[2017-03-03 17:20] chriskarel opened #22254 "Unarchive modules always reports 'changed' with non-default permissions on items in zip files. (breaks idempotence)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
unarchive module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
Running on OEL 7.3 (RHEL equivalent)

##### SUMMARY
Zip files containing items with non-default permissions are always reported as changed, every run.  Totally breaking idempotence.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The

[2017-03-03 17:34] alikins commented on #20379
I see the same errors on v2.2.0.0-1 as v2.2.1.0-1 or current devel when testing with test.yml.
With the change in #22109 , I don't get the traceback and hopefully slightly better error messages.

test.yml

[code]

With devel:

[code]

With v2.2.0.0-1
[code]

with v2.2.1.0-1
[code]

with devel:
[code]

With @22109 applied:
[code]

[2017-03-03 17:35] wyllys66 commented on #14358
+1

[2017-03-03 17:40] alikins commented on #20379
Oh, the jmespath version comes into play as well.

The tests in https://github.com/ansible/ansible/issues/20379#issuecomment-284018603 were all using python2.7 and jmespath 0.9.0

upgrading jmespath to 0.9.1 stars showing the '-' related errors.

[2017-03-03 17:45] Liberasys opened #22255 "'all' in a variable used in 'line:' argument of lineinfile module : bug"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04.1 LTS
(last version from : https://github.com/ansible/ansible.git)

##### SUMMARY
When I use the lineinfile module, and when I use a variable in the line: parameter :
if the variables contains "all", rhe playbook fails with : "An exception o

[2017-03-03 17:45] sivel commented on #20379
Looking at https://github.com/jmespath/jmespath.py/issues/98#issuecomment-149774029 may provide some insight into the proper formatting.  It is one of the fixes mentioned in the 0.9.1 release of jmespath

[2017-03-03 17:49] varunkukreja131 commented on #21973
Hi,

This link is not accessible.

Please suggest where we could get some assistance regarding Ansible tower
installation .

We are facing issue  :

Error occurring During Ansible tower installation :     /var may not meet
minimum space requirement. ( Even though 20 GB is allocated to /var
partition)

Thanks And Regards
Varun Kukreja
On Feb 27, 2017 2:36 AM, "Matt Martz" <notifications@github.com>

[2017-03-03 17:51] sivel commented on #21973
https://access.redhat.com/products/ansible-tower-red-hat/

[2017-03-03 17:52] alikins commented on #20379
using jmespath 0.9.1

test.yml (added a case with and without the backticks)

tl;dr I see tracebacks without patch in #20379, even with jmespath 0.9.1 and backtick quoting. None of the combinations really 'work'

[code]

v2.2.0.0-1
[code]

v2.2.1.0-1
[code]

devel

[code]

with the pr

[code]

[2017-03-03 18:27] davidmnoriega opened #22257 "ipv4_secondaries displays duplicate information"
_I'm copying this issue over from ansible-modules-core as I just recently ran into this._
https://github.com/ansible/ansible-modules-core/issues/5403

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

gathering: smart

##### OS / ENVIRONMENT

Ubuntu 16.04.1

##### SUMMARY

ipv4_secondaries displays duplicate address information

#####

[2017-03-03 18:28] davidmnoriega commented on #22257
Just ran into this today. Ansible 2.1.4.0 on macOS.

[2017-03-03 18:31] s-hertel opened #22258 "cannot replace instance profile with ec2.py"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/amazon/ec2.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
An instance may be created with an instance profile. If that profile is associated with a different IAM role and a playbook to update the instance is run, the new role will be reflected in the instance. Ho

[2017-03-03 18:35] bcoca commented on #22117
Once you start using YAML 'shorthand' you cannot go back to standard in the middle of it.

[2017-03-03 18:38] sivel commented on #20379
I've added some debugging directly into `jmespath`, and it seems to be failing on the individual `VersionLabel` in the data itself, and not the query.

That debugging inside of `_type_check_single` from jmespath reveals the failure is with:

[code]

The reason that fails, is that jmespath defines string types as:
[code]

Due to the fact that jmespath isn't doing an `isinstance` check, but instead

[2017-03-03 18:47] #21778 closed, assigned to nobody

[2017-03-03 18:51] petericebear commented on #20407
The only thing we need is to set the memory reservation. Currently we are setting the memory reservation to half of the memory_mb setting.

Ideally an additional setting next to memory_mb with a key for instance: memory_mb_reservation.

[2017-03-03 18:57] alikins opened #22261 "symlinks to bin/ansible with link name like 'ansible-3.6' cause errors"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

bin/ansible

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

fedora 25 x86_64

##### SUMMARY

##### STEPS TO REPRODUCE

If you create a symlink called 'ansible-3.6' pointing to bin/ansible, running
'ansible-3.6' raises errors

[code]

Also, changing the name of bin/ansible (or a copy) in a similar fashion causes
ModuleNotFoundError. In

[2017-03-03 19:15] nerzhul commented on #22240
@fasterfish before we had some similar features on vmware_guest but we choose to remove it because it was very slow in performance terms due to vmomi VMware interface.

[2017-03-03 19:18] sosiouxme opened #22265 "redhat_subscription module does not fail if pool not matched"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
redhat_subscription module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running from Fedora 25, against RHEL 7 hosts

##### SUMMARY
If you specify a pool to attach upon registration, but it doesn't match any actual subscription names, the task still succeeds, leaving you without the subscription you expected or any indication that it's

[2017-03-03 19:24] sivel commented on #20379
Just so everyone has this info, "hacking" jmespath by inserting `AnsibleUnicode` seems to resolve the problem, but is likely not the best approach:

in `json_query.py`
[code]

I think we'll still ahve to find a more elegant way of handling this.

[2017-03-03 19:47] jruizjimenez commented on #16878
I have followed the comments and I see that the fact that the issue was open **for a dynamic inventory** script was ignored after some interactions.

For me it is an issue, because we use ec2.py script to get dynamic inventory from AWS.

I believe that my layout is correct, since group_vars are adjacent to playbooks, very similar to
@samdoran example but using a dynamic inventory.

Example:

[code

[2017-03-03 19:58] amunter opened #22267 "add service module to configure xinetd-based services"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

service
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from RHEL7, managing RHEL7
##### SUMMARY

I was trying to disable the chargen-dgram and other xinetd-based services using the service module and it errors out.  Is this intended behavior?
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expec

[2017-03-03 20:08] aaron-kaplan opened #22268 "Wrong file used as module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

linux

##### SUMMARY

An emacs backup file `aws.py~` in the module directory is used in preference to a sibling file called `aws`.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`changed=0`

##### ACTUAL RESULTS

`changed=1`

[code]

Note that when I orig

[2017-03-03 20:17] bcoca commented on #22071
Dupe of #21279

[2017-03-03 20:17] #22071 closed, assigned to nobody

[2017-03-03 20:20] michaelkrupp commented on #8603
To me this behavior was really unexpected and feels kind of weird. There are many possible scenarios where the current behavior is not very pleasant to work with:

[code]

This potentially happens every time you pass data from one role/task to another. Especially with externally developed Roles (Galaxy) this can be a major PITA. The work-around of setting a intermediary fact or using a intermediat

[2017-03-03 20:26] jimi-c commented on #5339
@michaelkrupp i believe we have an issue for this already, but if not please open one.

[2017-03-03 20:43] jimi-c commented on #11411
@rajeevd18 the best place to ask for help is on IRC or our mailing lists:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writing code

Because this project is very active, we're unlikely to see comments made on closed tickets, but the

[2017-03-03 20:54] snowsky commented on #22268
I did get unchanged result:

[code]

[2017-03-03 20:57] aaron-kaplan commented on #22268
OK, so it's tricky to reproduce, but as I said, if you remove the file `aws` you should be able to see that `aws.py~` is used as a module.

[2017-03-03 21:07] jimi-c commented on #19682
Closing per the above.

[2017-03-03 21:07] #19682 closed, assigned to alikins, jimi-c

[2017-03-03 21:19] rajeevd18 commented on #11411
Thanks you James, I posted on the forum

Rajeev

On Fri, Mar 3, 2017 at 3:44 PM, James Cammarata <notifications@github.com>
wrote:

[2017-03-03 21:23] jimi-c commented on #21608
This is a duplicate of https://github.com/ansible/ansible/issues/18178, so we'll track it there.

[2017-03-03 21:23] #21608 closed, assigned to jimi-c, bcoca

[2017-03-03 21:24] snowsky commented on #22268
Got it. I will look into it now.

[2017-03-03 21:35] basictheprogram opened #22272 "script module reports managed host UNREACHABLE"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

script module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg from git pull

##### OS / ENVIRONMENT

Management host: macOS 10.12.3
Managemed host: Windows Server 2008 R2 Standard

##### SUMMARY

The script module reports managed hosts as UNREACHABLE

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

Latest vers

[2017-03-03 21:49] lakshmi-kannan commented on #1476
I am in the same boat as nergdron. I really need something to skip rest of the tasks in a role when a condition is met. Here is an example where this will be useful https://gist.github.com/lakshmi-kannan/1ceb1d8cea0877f2a7d51aced873ff92.

[2017-03-03 21:49] bcoca commented on #9065
We filter out closed issues and don't see comments on them, but someone pinged me to respond to some of these questions. If you want attention from devs the mailing list or IRC are better conduits than closed tickets.

Ansible looks at groups as properties of a host. For example,  you can have a host be part of webserver group (to install a webserver reqs) and part of the northeast_datacenter grou

[2017-03-03 21:51] sidewinder12s commented on #20379
@alikins When I originally hit this issue I was using the same version of jmespath in both 2.2.0 & 2.2.1 (jmespath 0.9.0), so I'm wondering if the templating changes @sivel [mentioned](https://github.com/ansible/ansible/issues/20379#issuecomment-284007265) above might be what is either broken or uncovered a corner case in what I am trying to do, especially if they were backported to 2.2.0-1 as my

[2017-03-03 22:23] jimi-c commented on #1476
Please open a new issue for this feature request.

[2017-03-03 23:52] dagwieers commented on #20315
resolved_by_pr #20358

[2017-03-04 00:03] dagwieers commented on #16243
This is no longer relevant for me. CredSSP works better than client certificates.

[2017-03-04 00:06] resmo commented on #21986
resolved_by_pr #22276

[2017-03-04 00:20] dagwieers commented on #19623
I think this is fixed now: http://docs.ansible.com/ansible/intro_windows.html#kerberos
Can you confirm ?

[2017-03-04 04:24] fasterfish commented on #22240
Then, maybe you should consider the [pysphere tool](https://github.com/argos83/pysphere)?

[2017-03-04 04:27] FrankYu opened #22279 "[RFE] support change multiples services status"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
systemd module

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Hi there,

I'm trying to change multiple services status with ansible command, but I found it doesn't support, only one service can be changed every time.
Can add supporting change multiple services status, just as what module yum did, use comm

[2017-03-04 04:31] n2aws opened #22280 "dict parsing issue - regression"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Dictionary parser
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
regression of a previously fixed issue #17001
##### STEPS TO REPRODUCE
Same steps as in #17001

[code]

##### EXPECTED RESULTS
I expected an unrelated dictionary to not be needed or cause errors in playbooks that don't use them.

###

[2017-03-04 04:36] palmerit commented on #22280
@jimi-c @agaffney @alikins  I figured I'd specifically mention you in this ticket as it appears to be a regression of the bug we identified (and you guys later resolved.) so you may be somewhat familiar with what the issue is/was and how to resolve it this go-round.

[2017-03-04 07:38] dxbrink commented on #22244
I have a created a modified ansible 2.2 os_server module that provides this personality functionality.
I will post diffs below, and then the full module in a separate comment. If there is interest in this functionality will need to create a Pull Request

The diffs are three lines added:
In the comments section
 files:
    description:
      - Files to insert into the instance.
        Equivalent o

[2017-03-04 07:48] dxbrink commented on #22244
[os_servercsr.py.zip](https://github.com/ansible/ansible/files/818475/os_servercsr.py.zip)

[2017-03-04 07:58] jesusch commented on #22127
The requested Output already hast been supplied?

[2017-03-04 08:25] mindojo-victor commented on #9065
@bcoca is it possible to detect cases when the group vars are being used in a strange way (sorry, cannot formulate this better -- haven't used this for a long time) and make warnings to help users save their time?

[2017-03-04 12:28] snowsky commented on #22279
yep, nice to have

[2017-03-04 12:39] snowsky commented on #22257
ok, I didn't reproduce this issue but found something interesting in the codes [here](https://github.com/ansible/ansible/blob/52fbfa00f9f82c0bda8b868b63166ada87e73910/lib/ansible/module_utils/facts.py#L2588-L2612). The logic is to add ipv4_secondaries twice in some situations if secondary is True.

[2017-03-04 12:45] snowsky commented on #22257
ok, I didn't reproduce this issue but found something interesting in the codes [here](https://github.com/ansible/ansible/blob/52fbfa00f9f82c0bda8b868b63166ada87e73910/lib/ansible/module_utils/facts.py#L2588-L2612).

The logic is to add ipv4_secondaries twice under iface and device if secondary is True. Just curious, what is the output for ansible -m setup hostname.foo -vvv?

[2017-03-04 12:53] snowsky commented on #22257
I may find the cause, what if iface == device?

[2017-03-04 14:30] devopsberlin opened #22283 "Ansible Dynamic Inventory - generate inventory with ip addresses under specific tag with underscore instead of dot"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
`Ubuntu 16.04.2 LTS`

##### SUMMARY
When I am using `ec2.py` dynamic inventory to generate inventory, after the playbook is finished to run, the results are shown as list of IP addresses under specific tag with underscore instead of dot.
For example I want to run a playbook on instance

[2017-03-04 15:28] devopsberlin commented on #22283
It works if I comment out the hostname_variable, because it allow to override the inventory_name with an ec2 variable, instead of using the destination_variable

    #hostname_variable = private_ip_address
    #hostname_variable = ip_address
    destination_variable = public_dns_name
    vpc_destination_variable = private_ip_address

For Private IPs:

    destination_variable = private_ip_address

[2017-03-04 15:28] #22283 closed, assigned to nobody

[2017-03-04 16:31] luto commented on #21909
On arch linux this is easily reproducible.

Setup:
[code]

Failing command:
[code]

It seems like `ansible-playbook` is supposed to be a symlink, but it's not:

In the repo:
[code]

In the venv:
[code]

So the (local) fix is easy:

[code]

[2017-03-04 16:41] sivel commented on #21909
@luto we do not support installing ansible via the GitHub zip packages.  To install the github repo via pup use the following instead

[code]

Installing via the github zip file does not properly support the symlinks for the ansible executables

[2017-03-04 17:50] hloeffler opened #22286 "Feature Idea: add meta: end_role"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
meta

##### SUMMARY
add a new meta command to end a role early :
meta: end_role (like end_play)
see also: https://github.com/ansible/ansible/issues/1476

[2017-03-04 17:51] hloeffler commented on #1476
done: https://github.com/ansible/ansible/issues/22286

[2017-03-04 18:30] jctanner commented on #21909
@KITSDwarikaPrasad can we close this issue?

needs_info

[2017-03-04 18:55] ikus060 opened #22287 "ldap_attr doesn't support updating olcModuleLoad"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ldap_attr

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running from Debian Jessie 8
Remote server is also a Debian Jessie 8

##### SUMMARY
The module ldap_attr misbehave when the attribute value already exists. i.e.. On the first run the attribute value didn't exists and the execution of the module was successful, but on second executio

[2017-03-04 22:15] juju4 opened #22288 "support shell variables in inventory?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### SUMMARY

It would be nice if environment variable like $HOME were supported in inventory
For example, moving between linux and macosx may mean change in ansible_ssh_private_key_file
$USER and possibly others could be useful

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS

last value is not rec

[2017-03-04 22:37] taruch commented on #18414
I'm unfortunately having the same issue.  I did a pip install update ansible today, and it didn't update ansible, but it did update paramiko.  Now it isn't working anymore.

paramiko is required but does not appear to be installed.   I also have gather_facts: no.

I am also able to use python, and import paramiko successfully.

[2017-03-04 22:56] strarsis opened #22289 "Ansible/native ssh don't use the same host key algorithm"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
N/A

##### ANSIBLE VERSION
 2.2.1.0

##### SUMMARY
When the ssh target host uses host-key-algorithms that are different than the openssh server defaults,
native ssh and ansible ssh (paramiko?) end up with different host key algorithms when
storing/comparing the known_hosts keys.
This means that when either native ssh or ansible ssh stores the host

[2017-03-05 02:37] JamieSinn opened #22290 "Licensing Tower fails - Call to /api/v1/config/ failed. 405"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
Ansible Tower

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No config change, default.

##### OS / ENVIRONMENT
RHEL 7 x64

##### SUMMARY
Cannot license ansible tower - gets a 405 returned.
http://i.imgur.com/8GoEji1.png

##### STEPS TO REPRODUCE
Install Ansible Tower via the recommended setup guide
Attempt to license. - Fail

##### EXPECTED

[2017-03-05 05:08] sivel commented on #22290
For tower issues please utilize https://access.redhat.com/products/ansible-tower-red-hat/

This repository is for the open source ansible project only.

[2017-03-05 05:08] #22290 closed, assigned to nobody

[2017-03-05 08:04] rajvlr25 commented on #3564
It is possible to use ansible without ssh keys. This may be useful if you are unable to use keys in your environment for some reason.

You need the -k flag to prompt for the password, and to install the sshpass helper program.

$ ansible all -m ping -k
SSH password: <type the password here>
hostXXX.ws.nsrc.org | FAILED => to use the 'ssh' connection type with
passwords, you must install the sshpas

[2017-03-05 10:48] jean-christophe-manciot commented on #16356
After having solved a previous error related to:
[code]
the issue related to ```make deb``` remains:
[code]
The ```DEB_DIST ?= unstable``` line in the Makefile is incorrect since there is no such Ubuntu release name, but replacing it with yakkety leads to other errors.

[2017-03-05 19:30] jaredledvina opened #22298 "nagios - Unable to delete_downtime by service name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nagios

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`/home/jaredledvina/ansible-test/ansible.cfg`:
[code]

##### OS / ENVIRONMENT
All hosts are running CentOS release 6.8 (Final)
Nagios v4.1.1

##### SUMMARY
Using the `delete_downtime` action with the `nagios` module fails. From the nagios logs it appears the command it's using, `DEL_DOWNT

[2017-03-05 19:40] itdependsnetworks commented on #22216
Having same issue. It is also not clear why `multiline_delimiter` is only allowed to one character and whether or not you intend to use `^C` (two characters) or the ascii character code 3 aka, `ETX` (one character). I would guess `^C` since it is applying the commands one at a time and not doing a merge, but since it is two characters, I am not sure.

[2017-03-05 20:48] azaghal commented on #16357
Would it be possible to get any kind of feedback on what would be a good starting point to try to figure this one out? Just to emphasize, this issue happens in Ansible 2.x as well, and I am trying to figure it out on devel branch at the moment.

From what I could tell after stepping through code a bit, and doing some debug prints, the issue happens in method `Templar.do_template` when it tries to

[2017-03-05 21:38] Len357 commented on #22216
Cisco IOS only allows a single character for the banner. Regardless of what
character you use for the banner in the configuration it cisco always
changes it to ^C.
Here is a test where i set the banner using @ as the deliminator. Then i do
a show run to show the config and you can see that it replaces with ^C.

router(config)#banner motd @

Enter TEXT message.  End with the character '@'.

This is

[2017-03-05 21:47] #21986 closed, assigned to resmo

[2017-03-06 00:37] fxer commented on #15667
Maybe the ansible output could be more clear, how is anyone supposed to know this is going on unless they find this github issue?

[2017-03-06 01:15] arielyum opened #22300 "rhn_register module not unregistering systems"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Using module file /usr/lib/python2.7/site-packages/ansible/modules/core/packaging/os/rhn_register.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg
[code]

##### OS / ENVIRONMENT
Ansible server - RHEL7.3
Client server - RHEL7.2

##### SUMMARY
 Trying to unregister a server from the Satellite server but failing or not working

[2017-03-06 04:01] itdependsnetworks commented on #22216
Len, the point I was trying to make is cisco does allow `^C` to be used, which is seen as a representation of ascii code 3, ETX. It has to be one or the other, allow two characters--the way one would if using putty or any ssh client, or only allow 1 character but user must be careful to set it as ETX, for instance in vim you can do this in insert mode typing ctrl+V release the V, and then press C.

[2017-03-06 05:27] jimi-c commented on #22280
Odd, it seems to happen in the stable-2.2 branch but not devel.

[2017-03-06 05:35] bonuscheese commented on #21553
I've figured out that this section is the actual cause, as it it splits on the slash
`port, path = port_path.split('/', 1)`

As the split function works against the slash, the path var spat out will be empty when port_path = '2000/' and hence the format(path) will fail. I can get around this by building a check into the module that sets path as '/' when it appears empty after the split occurs.

I'

[2017-03-06 06:46] jimi-c commented on #22280
@palmerit actually I had simply forgotten to checkout submodules when switching branches. I'm not able to reproduce this at all on stable-2.2, even using the `v2.2.1.0-1` tag.

[2017-03-06 08:06] ansiblejunky opened #22302 "Since upgrade to Ansible 2.x we cannot import custom filter from another custom filter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg
[code]

##### OS / ENVIRONMENT
CenOS 6.x

##### SUMMARY
We were using Ansible 1.8.2, and with this version we can have a custom filter plugin (named exampleFilter.py for example) with an import line:
import customFilter

where the customFilter.py was located in the s

[2017-03-06 08:17] onurbrc commented on #9478
Hi Everyone, hi @jimsmith,

I'm having the same issue with openssh.
I've tried the ssh_args = (blank) and with these parameters :
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=root -o ConnectTimeout=10 -o Contro

[2017-03-06 08:23] gaudenz opened #22303 "systemd module not enabling service if already enabled in sysv"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
systemd module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing changed which could influence this

##### OS / ENVIRONMENT
ansible host: Debian testing
target host: Debian stable

##### SUMMARY
[code]
Does not enable `myservice` if there is an enabled sysv init script with the same name.

##### STEPS TO REPRODUCE
Using exabgp (from bac

[2017-03-06 08:27] pareshdp opened #22304 "Need help to connect to Windows Node/Machine using SSL connection via ANSIBLE"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
Ansible SSL Connection via WinRM to Windows node/host/local PC

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have ansible installed on Ubuntu 64 bit OS with version as 2.1.1.0
I want to connect to my local PC (WIndows 10) using Ansible. Please note my ansible is on my VirtualBoxApp.
Now,

[2017-03-06 08:28] pareshdp commented on #22304
My OS where the Ansible is intalled is Ubuntu 64 bit , while my windows machine is on Windows 10

[2017-03-06 09:36] do3cc commented on #15621
Duplicate of #13473

[2017-03-06 09:36] #15621 closed, assigned to nobody

[2017-03-06 09:48] dssdss commented on #18990
I've got some time to research this problem and make some debug.
The problem is look like similar - https://github.com/ansible/ansible/issues/13706

So the problem was not in localized windows.
The problem was in TaskCache! If you've got such errors - clean the corrupted task references in the registry and in Task Scheduler as described in manual: https://support.microsoft.com/en-us/help/2305420/m

[2017-03-06 09:48] #18990 closed, assigned to nitzmahone

[2017-03-06 09:59] thozza opened #22305 "package module fails to install any package in Fedora container due to missing python2-dnf"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dnf module (via package module)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No ansible.cfg is present on the system.

##### OS / ENVIRONMENT

I'm running CI for Ansible role in Travis CI using Test Kitchen with Docker as a backend. The testing playbook using the role is then run locally in a Fedora 25 Docker container provisioned by Test

[2017-03-06 10:18] ignatenkobrain commented on #22305
@abadger can you please look at this? I have no idea, why it falls into `module.check_mode` and what that means...

[2017-03-06 11:04] jhawkesworth commented on #22304
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-03-06 11:04] #22304 closed, assigned to nobody

[2017-03-06 11:31] jhawkesworth commented on #19623
I think pykerberos must be installed as result of installing requests-kerberos
On all the machines I run I have both kerberos and pykerberos installed.
@aaronk1 can you confirm if following current instructions installs everything correctly?

[2017-03-06 11:33] jhawkesworth commented on #20315
since #20358 has been merged, I'm going to close this.

[2017-03-06 11:33] #20315 closed, assigned to sivel

[2017-03-06 11:39] decentral1se opened #22307 "openvswitch_bridge has a docs error"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
`openvswitch_bridge`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Fresh install (via Pip).

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Listing modules is broken?

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
A list of modules.

##### ACTUAL RESULTS

[code]

[2017-03-06 11:49] lwm commented on #22307
Maybe this should have gone on https://github.com/ansible/ansible-modules-core?

[2017-03-06 11:57] lwm commented on #22307
Ah, I was using a Python 3 virtualenv, not 2. Fixed once I change to Python 2.

[2017-03-06 11:57] #22307 closed, assigned to privateip

[2017-03-06 11:58] munichman2008 commented on #22302
I would actually assume that the "ansible.cfg" tells Ansible the location of the plugins and modules and Ansible uses this information to append these folders to the internal PYTHONPATH so that these modules and plugins can be found and we can import them at any time in our code. It make no sense to set the PYTHONPATH environment variable in addition to the ansible.cfg which also points to the loc

[2017-03-06 12:00] sitnikovv opened #22309 "0302Gexrjv!"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-03-06 12:12] gundalow commented on #22253
Repo Case
https://github.com/ansible/ansible/compare/devel...gundalow:test_system?expand=1

`time ANSIBLE_ROLES_PATH=targets  ansible-playbook -vvvvv  -i  inventory.network ios.yaml  -e "limit_to=ios_system"  -u cisco -k`

[2017-03-06 12:13] #22309 closed, assigned to nobody

[2017-03-06 14:17] jhawkesworth opened #22314 "jira module no longer able to edit labels against jira 7.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

jira
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Created a list of jiras and labels that looked like this:

[code]

[code]

##### EXPECTED RESULTS

Jiras successfully updated
##### ACTUAL RESULTS

400: Bad Request response

[code]

[2017-03-06 14:18] snagoor commented on #15815
**As a workaround**

Exporting ANSIBLE_INVENTORY environment variable as below to point to the inventory file
[code]

Retry listing hosts or run any ad-hoc commands which works fine
[code]

[code]

[2017-03-06 14:19] jhawkesworth commented on #22314
For info I worked around this problem by using the uri module

[code]

[2017-03-06 14:25] rcarrillocruz commented on #22253
I can repro with a shortened playbook based upon @gundalow integration test:

[code]

[2017-03-06 14:27] alex-left commented on #21865
Not only affects to idempotence, the parameter crossZoneLoadBalancing don't work properly and if you set it "no", the LB is created with crossZone enabled. The PR from @danvaida fix both issues. Please, merge it!

[2017-03-06 14:49] gundalow opened #22315 "iosxr_system: not idempotent & AttributeError: 'str' object has no attribute 'get'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iosxr_system

##### ANSIBLE VERSION
[code]

##### SUMMARY
`iosxr_system` isn't idempotent.

This also exposes another issues
[code]

Which I've fixed locally (by copying **ios**_system)
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-03-06 14:52] ovorobio opened #22316 "Ansible 2.2.1 conditional include now evaluates each task instead of ignoring them and fails on lookup."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

PlaybookInclude + when

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Using default configurations from pip install ansible.

##### OS / ENVIRONMENT

Ansible host: Fedora release 25 (Twenty Five)
Ansible nodes: Red Hat Enterprise Linux Server release 7.3 (Maipo)
##### SUMMARY

Conditional includes evaluates each task in include
##### STEP

[2017-03-06 15:04] bcoca commented on #22316
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

As per docs http://docs.ansible.co

[2017-03-06 15:04] #22316 closed, assigned to nobody

[2017-03-06 15:08] mhollymoodyn commented on #22173
Hi,

Is there any update about this?

Thanks,

[2017-03-06 15:10] jhawkesworth commented on #20433
Since #20435 has been merged, I'm going to close this

[2017-03-06 15:10] #20433 closed, assigned to trondhindenes

[2017-03-06 15:13] jhawkesworth commented on #22157
Not a windows issue

bot_broken

[2017-03-06 15:20] jrandall opened #22317 "s3 module doesn't work with rgw=true and a dot in a bucket name"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
s3 module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If `rgw: true` is set in the s3 module and you also use a bucket name containing a `.`, an exception is thrown resulting in the following error message:
[code]

[2017-03-06 15:20] gundalow commented on #22194
P3

[2017-03-06 15:21] jrandall commented on #22317
The problem is here: https://github.com/ansible/ansible/blob/c6849a34647eb8c2c92cc0659de769eeee8fce4c/lib/ansible/modules/cloud/amazon/s3.py#L720-L721

When a bucket name contains a `.`, aws_connect_kwargs already contains an entry for `calling_format` which was set here: https://github.com/ansible/ansible/blob/c6849a34647eb8c2c92cc0659de769eeee8fce4c/lib/ansible/modules/cloud/amazon/s3.py#L530

S

[2017-03-06 15:21] rcarrillocruz commented on #22193
assigning as Nate is out and this doesn't need device deep-dive expertise

[2017-03-06 15:21] jhawkesworth commented on #22141
It sounds like you need to be able to use the 'become' mechanism, which has recently been merged into latest development version of ansible (2.3).  Please can you try using 'become' instead of your custom run_another_user script?

The change was merged under https://github.com/ansible/ansible/pull/21510

needs_info

[2017-03-06 15:30] gundalow commented on #18967
@jean-christophe-manciot Could you please provide an update?

[2017-03-06 15:32] bcoca commented on #22173
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-03-06 15:35] bcoca commented on #15815
@marcpascual  you have not shown how the config file refers to inventory

[2017-03-06 15:55] gundalow opened #22319 "eos connection issues"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_*

##### ANSIBLE VERSION
[code]

##### SUMMARY
Every second `ansible-playbook` run seems to fail

Doesn't appear to have a bug to track this yet. privateip has seen it locally as well.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[code]

[2017-03-06 16:06] fulminemizzega opened #22320 "fedora 25 dnf installed packages not marked as user installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

dnf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg
[code]
##### OS / ENVIRONMENT
Fedora 25

##### SUMMARY

When running the playbook below not every package is marked as user installed, this means for example that running "dnf autoremove" afterwards will remove packages installed by the playbook.

##### STEPS TO REPRODUCE
Run

[2017-03-06 16:34] jean-christophe-manciot commented on #18967
@privateip @gundalow
Regarding "[Running From Source](http://docs.ansible.com/ansible/intro_installation.html#running-from-source)", I have never tried to run ansible from git-ansible/bin, but I have cloned the repo and I was updating it the way it is described when building my deb packages with dpkg-buildpackage (which I don't do anymore, waiting for the deb packaging issue to be solved, cf. last

[2017-03-06 16:55] juanvallejo opened #22323 ""ansible_facts" empty when used to output module result"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Control host: Fedora 23
Remote host: RHEL 7

##### SUMMARY
When using an ansible module, such as [docker_container](https://docs.ansible.com/ansible/docker_container_module.html), the module's output is placed under a key named [ansible_facts](https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docke

[2017-03-06 17:04] juanvallejo commented on #22323
From @detiber in https://github.com/openshift/openshift-ansible/issues/3564
[code]

From @detiber in https://github.com/openshift/openshift-ansible/issues/3564
[code]

[2017-03-06 17:10] bcoca commented on #22323
anything starting with `ansible_docker_` will get removed, we need to update the plugin to avoid that namespace

[2017-03-06 17:10] s-hertel commented on #22317
I was able to reproduce this bug. If rgw is used with a bucket name with a dot in it boto.connect_s3() is called with duplicate calling_format parameters.

[2017-03-06 17:14] dmsimard commented on #16215
Seeing this error as well where using synchronize with delegate_to between two inventory hosts will not prefix <username> to the destination.

I've worked around the issue using a pure rsync command with the shell module instead.

[2017-03-06 17:21] bcoca commented on #16357
handlers and their names get evaluated before play is run, so you cannot use vars that get redefined in play to change handler names.

[2017-03-06 17:27] #21865 closed, assigned to nobody

[2017-03-06 17:27] calfonso commented on #21900
@gundalow can we close this as not an issue if we didn't support the key `result`?

[2017-03-06 17:27] ryansb commented on #21865
Fixed in https://github.com/ansible/ansible/commit/433829769efbe5cbf822c939dfb4aaf9046f4379

[2017-03-06 17:51] frenzymadness commented on #18456
I've created simple Python script based on `python-modernize` tool to check how many lines in every `*.py` would be changed by this tool to fix or improve compatibility and readability. I've run fixers from `python-modernize` one by one on every single Python file separately and I've created a matrix from result data. The matrix contains files on rows and fixers on columns and a number in the cell

[2017-03-06 17:57] ederst commented on #15769
I don't fancy myself a Python expert and just dove into the code of Ansible out of curiosity, and according to the output of my Ansible debug log and the {{strace}}, I think the problematic code is probably located [here](https://github.com/ansible/ansible/blob/2dde7f776893f5611db907ec3245eeedc129ccee/lib/ansible/plugins/connection/ssh.py#L576-L583).

The snippet from the link (lib/ansible/plugins

[2017-03-06 19:02] gundalow commented on #22253
The issue is that `authorize: yes` wasn't set on the second task.

This was compounded by the fact that `ios` doesn't return meaningful messages if privilege mode is required, unlike some other platforms.

ENOTABUG

[2017-03-06 19:02] #22253 closed, assigned to rcarrillocruz

[2017-03-06 19:35] juanvallejo commented on #22323
cc @brenton

[2017-03-06 19:38] abadger commented on #18456
@frenzymadness yes indeed.  We need something like this.  Note that modernize goes above and beyond mere compatibility in some cases.  For instance, I noticed that fix_import shows up on practically all the mosules.  In most cases we don't need to add "from __future__ import absolute_import" to make code work and we can't add it until we branch devel for 2.4 (as we're keeping python-2.4 compatibil

[2017-03-06 19:41] bcoca commented on #18456
also .. remove any with /core/ or /extras/ in path, as those  modules should be dupes in the list

[2017-03-06 20:27] bcoca commented on #22157
can you use a debug to show what async_result has?

[2017-03-06 20:27] ignatenkobrain commented on #22320
This sounds more like bug in DNF.

[2017-03-06 20:32] abadger commented on #22305
AFAICT, this is not a bug (and actually not related to check mode either).

If you want to use ansible and the dnf module with python2, then you need to look at this: https://fedoramagazine.org/getting-ansible-working-fedora-23/  Since Fedora doesn't install the packages the dnf module would need to function on python2, it doesn't work until you install those modules.  The Fedora magazine article

[2017-03-06 20:32] #22305 closed, assigned to nobody

[2017-03-06 20:53] thozza commented on #22305
@abadger I think it is pretty reasonable to expect ansible to be able to install packages using standard module on Fedora system without additional workarounds. It seems to me as pretty basic requirement from a management system like ansible. While you noted bunch of links and information you didn't answer why the explicit installation of python2-dnf in the module does not work. Authors seem to ex

[2017-03-06 21:20] azaghal commented on #16357
Hm... But in this specific case the variables are provided via `group_vars`? For example, the `"nested_with_{{ anothervar }}"` snippet above works fine, with variable being provided as part of the role call.

Are `group_vars` being treated the same way as the vars that get redefined in a play in this context?

As a side-note, a use-case for templated handler name for me was for roles that allow du

[2017-03-06 21:25] alikins commented on #22169
Can you duplicate this with the devel version of ansible?

If more than 2 roles use the dep, does it get execute more than twice?

http://docs.ansible.com/ansible/playbooks_roles.html#role-dependencies

If I understand correctly, role 'A' is a dep of Role 'B' and 'C', so A_as_dep will run once before B and C.
So order would be A_plain, A_as_dep_from_B_C, B, C.

[2017-03-06 21:29] bcoca commented on #16357
group_vars are flattened to 'per host', since task names are supposed to be the same across hosts, they are not usable in this context.

[2017-03-06 21:45] wouterhund commented on #22169
No.

This seems to be the behavior I'm seeing, but it doesn't match my interpretation of the docs (or what I would expect).

What I would expect is that a role with identical inputs is only ever executed once unless otherwise specified with `allow_duplicates: yes`. Regardless of whether that role is a dependency of another role, or a dependency of the playbook.

Yes, when installed with `pip insta

[2017-03-06 21:47] alikins commented on #22289
What versions of ansible are you seeing this with?

Was this working before? If so, in what versions?

Have '-vvv' output from an ansible run that changes the known_hosts?  That would help knowing what ssh support is being used and how it is invoked.

Have an example of a ssh config where HostKeyAlgorithms is changed?

is openssh configured to HashKnownHosts?  UpdateHostKeys?

[2017-03-06 21:58] sedrubal opened #22335 "Add file name extension to temporary files for ansible-vault edit and create"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vault

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`-`

##### OS / ENVIRONMENT
Linux

##### SUMMARY
`ansible-vault edit` and `create` create a temporary file, decrypt the content into it and open an editor for editing it. The temporary file often has a completely random name like `/tmp/tmpWOteRO` without any file extension like `.yml`. E

[2017-03-06 22:23] strarsis commented on #22289
Ansible version: 2.2.1.0
I never used Ansible prior that version with these kind of servers, so it hadn't worked before.

Concerning the other points, I will try to prepare something reproducible.

[2017-03-06 22:26] #22014 closed, assigned to nobody

[2017-03-06 23:01] tumbl3w33d opened #22337 "maven_artifact module should allow preserving the name of the downloaded artifact"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When downloading an artifact you can ask the module to determine the latest version automatically (it gets extracted from the repo's metadata). The artifact's name in the repository comes with a version string which currently gets o

[2017-03-06 23:03] lpenz commented on #22191
Hi there!

Thanks for the fix! I'll look into it in detail as soon as possible.

[2017-03-06 23:06] sedrubal opened #22338 "Add a convenient way to remove all mysql user without password"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`-`

##### OS / ENVIRONMENT
Linux

##### SUMMARY
Imho there is no convenient way to delete all users without password. A `user_all` or a wilcard character for `name` or another module `mysql_command` should be added, which can run simple commands without the need of copying files to

[2017-03-06 23:11] jamesongithub opened #22340 "Feature Idea: globally configurable any_errors_fatal in ansible.cfg"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ansible.cfg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`any_errors_fatal: true`

##### OS / ENVIRONMENT

##### SUMMARY

It would nice to be able to configure any_errors_fatal: true/false on a global level instead of putting it on every single play. I don't know the most common use cases, but given playbooks are generally idempotent

[2017-03-06 23:15] lpenz commented on #22192
Hi there!

The module, in its current state, is indeed not appropriate for sending several XML files to the same device. The idea here is that you would send a single XML to each device, or (in the future) a parameterized XML.

I understand what you are saying about the lock/unlock and it makes sense - but I'm not so sure that servers discard changes to the candidate when the session is closed. I'

[2017-03-06 23:26] joejulian commented on #22014
:+1:

[2017-03-06 23:38] Findarato opened #22342 "Unarchive unable to pass -j for zip files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

using local hosts per playbook, all default

##### OS / ENVIRONMENT

Deploying from Fedora 25
Deploying to CentOS 7

##### SUMMARY

Attemping to extract a zip file into the same directory that it resides. passing '-j' to extra_ops and exclude:"README*" This results in a failed play

[2017-03-06 23:40] mhollymoodyn commented on #22173
Thank you ... i already opened the a new Topic.

[2017-03-06 23:51] dagwieers commented on #22342
This has already been fixed in v2.3

[2017-03-06 23:57] #22342 closed, assigned to nobody

[2017-03-07 01:49] fivethreeo commented on #21890
Fixes the play, yes, not the issue reported.

[2017-03-07 01:58] smemsh commented on #21890
@fivethreeo right yes, my point was that including the role as a task doesn't export the role's variables, but including it as a "standard" role does, which is inconsistent behavior.  I've adjusted the language in my comment, thanks.

[2017-03-07 02:01] fivethreeo opened #22345 "include_role loads defaults statically preventing templating of defaults"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-03-07 02:31] sivel commented on #22345
Please ensure to fill out the full template of this issue.

[2017-03-07 03:11] smemsh commented on #15143
this also affects 2.2

it also applies to playbooks given on the command line with the substitution construct.  I'm using a temporary file as a workaround.

[2017-03-07 04:23] j--wong opened #22346 "json_query filter not expanding variable inside query"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
json_query filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
- Default configuration

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`json_query` filter returns no results when a `variable` is used in the query.

##### STEPS TO REPRODUCE

Commented lines in below playbook work as expected.  It has hardcoded value of `joe` in the query.

[code

[2017-03-07 04:36] abadger commented on #22305
tldr; If you'd like to write a PR that uses dnf to install python2-dnf and it's acceptable to the maintainers, then that functionality could be added to the module.

Longer explanation:

Ansible is not a package manager; it is a configuration management and orchestration tool.  Ansible is also not a distribution-specific tool; it is a generic tool that runs and manages many different kinds of plat

[2017-03-07 04:44] rektide commented on #22346
You have a {{ name_filter }} inside another {{ expression }} which is [not valid](http://docs.ansible.com/ansible/faq.html#when-should-i-use-also-how-to-interpolate-variables-or-dynamic-variable-names).

The query is just a string. Treat it as so, & concat in the var you want to use:

[code]

[2017-03-07 04:44] abadger commented on #15769
@ederst Are you able to run that code and try it out by chance?  We aren't quite at the stage where we have a 2.3.0 release candidate so it would require running from a checkout of the git repository.  On the surface, that code replicates what the older code did.  however, under the hood, it's making use of epoll/kqueue/poll instead of select.  Some of those under-the-hood details may help but I'm

[2017-03-07 04:47] Slezhuk commented on #22314
Hello, @jhawkesworth. Thanks for your report.
Please, specify value of `updated_jiras_and_labels`. Also, what version of ansible are you using?

[2017-03-07 04:55] j--wong commented on #22346
Thanks for the prompt reply @rektide!  Yeah, didn't realise it was the issue with string interpolation.   My bad.. Had to escape quotes like below though but it's now working as expected.

[code]
Thanks for your help!

[2017-03-07 04:55] #22346 closed, assigned to nobody

[2017-03-07 05:54] rektide opened #22347 "Interpolation does not run on object fields reading from vars dict"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian/testing

##### SUMMARY

Previously when reading from the `vars` dict ([mentioned here](http://docs.ansible.com/ansible/faq.html#when-should-i-use-also-how-to-interpolate-variables-or-dynamic-variable-names), as needed for dynamic variable names), objects th

[2017-03-07 06:01] rektide commented on #22346
Oh thanks for the escaped quotes fix. Getting a bit late here, got sloppy. Glad it's working. :+1:

[2017-03-07 06:01] galexrt commented on #22011
So I have finally tested this more. The problem is that when the sshd_config on the servers is restricted to connections from the playbook run server/computer **only**, the other servers just can't connect.
From my view, it would be good to mention this in the docs, that the delegated server needs to be able to connect to the (all) target servers.

[2017-03-07 06:16] rektide commented on #22025
probably no help, but #17300 has similar symptoms of a role not getting vars.

[2017-03-07 08:40] mgoldboi opened #22348 "Add support for virt-sparsify"
##### ISSUE TYPE

  - Feature Idea

##### COMPONENT NAME

ovirt_disks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

oVirt support the ability to sparsify a vm disk through the API, we would like to have this ability using Ansible modules as well.

Thanks.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-03-07 08:52] drybjed opened #22349 "npm module always reports changes when production mode is enabled"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

The `npm` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration

##### OS / ENVIRONMENT

Debian, Ubuntu

##### SUMMARY

The invocation of the `npm` module always results in the `changed=True` status when the `production=True` option is enabled.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The requested

[2017-03-07 09:01] ignatenkobrain commented on #22305
@abadger I meant this part of the code.

[code]

[2017-03-07 09:07] jhawkesworth commented on #21797
@kernelphr34k I'd be grateful if you could test out with latest devel version of ansible as the module executor code has changed significantly.

Also looking at the code a bit, I think you might be able to set the read timeout as one of your group_vars, rather than having to tweak your installed version of winrm

Try setting
ansible_winrm_read_timeout_sec: 55

Looking around L150-160 in the winrm

[2017-03-07 09:08] ederst commented on #15769
Just confirmed it:
[code]

The current devel version seems to fix the infinite hang problem, it reports the dead worker.

[2017-03-07 09:27] rcarrillocruz commented on #22236
This is fixed on commit e6f1f295f7f929b16d75f2b70f147a7c0cd6114a

[2017-03-07 09:29] #22236 closed, assigned to rcarrillocruz

[2017-03-07 09:38] Haitianisgood opened #22351 "I cant' start tomcat with ansible"
centos 6
ansible 2.2.1.0
tomcat:  8.0.15.0
jdk:1.8.0_112

All  executor are root

My shell files "start_stop.sh ,deploy.sh"

start_stop.sh:
[code]
deploy.sh:

[code]

I can execute  deploy.sh on remote server to start tomcat!
but  I can't start tomcat with ansible

ansible ERROR:
[code]
Note: I have changed my tomcat shutdown port to 8006

tomcat's  catalina.out   ERROR:

[code]

How can I solve t

[2017-03-07 09:56] hasso opened #22352 "[2.2][hostname module] Setting hostname fails for unknown distributions"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
hostname module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
"N/A"

##### SUMMARY
Hostname module fails to set hostname in systemd based custom distribution while there is no good reason not to.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Setting hostname should succeed because Ansible correctly detects that system is sys

[2017-03-07 10:01] rcarrillocruz commented on #18967
Running env-setup will not change your system /etc/ansible/ansible.cfg, it is simply a script that changes the PATH, PYTHONPATH environment variables so when you invoke ansible binaries it uses the files from the checked out repo.

[2017-03-07 11:04] gundalow opened #22354 "ios_system (loopup_source) not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_system

##### ANSIBLE VERSION
[code]

##### SUMMARY
`ios_system` isn't idempotent.

I can see the module is generating the same command to run

Also no `diff` field is generated

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-03-07 11:12] guenhter commented on #20492
I tried this today with `tags/v2.2.2.0-0.2.rc2`
but still have the problem:

[code]

On the other hand, when `docker-py` is not installed (`pip uninstall docker-py`) than ansible complains:
[code]

[2017-03-07 11:50] gundalow opened #22355 "nxos_mtu: UnboundLocalError: local variable 'body' referenced before assignment"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_mtu

##### ANSIBLE VERSION
[code]

##### SUMMARY
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_mtu.py#L125-L134

Is failing as `module.params['transport']` is `None`.

load_provider for NXOS is the same as eos https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/nxos.py#L115-L125

Th

[2017-03-07 11:53] gundalow commented on #22355
I've put this as a P2 as a workaround exists, which is to specify transport (rather than use the version contained within `provider`
`    transport: nxapi`

[2017-03-07 12:15] rcarrillocruz commented on #22193
resolved_by_pr #22326

[2017-03-07 12:15] #22193 closed, assigned to nobody

[2017-03-07 12:23] viossat commented on #20492
@guenhter,
Install Ansible 2.3.0 (devel): `pip install git+git://github.com/ansible/ansible.git@devel`
It now includes e2a1ce2916e9b87fe1ad4a1011c04ef8d2faf046 which fixes the compatibility issue.

[2017-03-07 12:37] guenhter commented on #20492
When will this be available in a release?

[2017-03-07 12:38] DJMuggs commented on #22320
It's a weird bug, if you install 1 item it shows up as userinstalled, but if you install one more then 1 item they don't show up as userinstalled when doing it with ansible.
Let's look at how ansible goes through the items, serial or parallel.

Using dnf on the commandline with multiple items shows up as userinstalled.

Needs more testing i think.

[2017-03-07 12:54] bearrito opened #22356 "include_role does not run or display any output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

load_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
IRRELEVANT

##### OS / ENVIRONMENT
UBUNTU 14.04

##### SUMMARY
load_role seems completely ignored

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Some output

##### ACTUAL RESULTS
no output

[code]

[2017-03-07 13:15] boskiv opened #22358 "docker_service ignore timeout"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_service
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
I'm running on OSX localy next task:
[code]

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expect that timeout will be increased to 120s

##### ACTUAL RESULTS
[code]

[2017-03-07 13:18] s-hertel commented on #21553
Pull requests are welcome! What version of python are you using? I've tried with 2.7.10 and 3.5.0 and  I still can't recreate this. Do you get the same error if you open python and try just this isolated bit of code?
[code]

[2017-03-07 13:29] boskiv commented on #22358
Solve it with .env file for `docker-compose`
[code]

[code]

[2017-03-07 13:32] yabhinav opened #22359 "lookup password module with path '/dev/null' returns empty string"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lookup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Redhat Linux 6.5

##### SUMMARY
When using [lookup-password module](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/password.py) to generate a random password, as mentioned by documentation [here](http://docs.ansible.com/ansible/play

[2017-03-07 13:39] etcmorph opened #22360 "undefined variable when include parameter is a playbook to be included"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parameterized playbook include

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
RedHat EL7

##### SUMMARY
Including a parameter with a playbook include works, except if that parameter is the name of a playbook to be included.

##### STEPS TO REPRODUCE
[code]

include_include_play.yml
[code]
include_play.yml
[code]

[2017-03-07 13:57] krzysztof-magosa commented on #22360
Try:
[code]

[2017-03-07 14:12] pauricthelodger commented on #15019
Not sure it's connected but, in case it helps people down the road, I just noticed the following in the [devel changelog](https://github.com/ansible/ansible/blob/devel/CHANGELOG.md) under Ansible 2.3:

[2017-03-07 14:20] major opened #22362 "Allow the yum_repository module to edit yum repositories"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
``yum_repository`` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY
The ``yum_repository`` module currently allows deployers to add or remove a yum repository, but it doesn't allow for a repository to be edited. For example, if I wanted to add a single key to a repository definition

[2017-03-07 14:37] resmo commented on #20307
resolved_by_pr #22363

[2017-03-07 14:43] etcmorph commented on #22360
I did try that as well - forgot to mention sorry, same issue.

[2017-03-07 14:48] s-hertel commented on #19600
I was able to recreate this issue, but I don't believe it's a bug or unexpected behavior. I think if we want s3 to support folder downloads that would be a feature request. I created folder structure of /one/two/three.txt in my bucket. Here is a playbook that fails with the same error you provided:
[code]
The problem is that the destination directory doesn't exist yet and the s3 module doesn't cre

[2017-03-07 14:48] #19600 closed, assigned to nobody

[2017-03-07 14:51] tmu commented on #11017
Confirmed with 2.2.1.0, potentially super-dangerous bug.

Basically, my structure is following:
- `environment/dev/hosts`
- `environment/dev/group_vars/all/vars.yml`
- `environment/dev/group_vars/all/secret.yml`
- ...

Similarly, for staging environment (and production)
- `environment/staging/hosts`
- `environment/staging/group_vars/all/vars.yml`
- `environment/staging/group_vars/all/secret.yml`
-

[2017-03-07 15:18] alikins commented on #16123
2.3 is far from perfect in this regard, but it is much better than 2.1.0. Since this is 2.3 targeted and we aren't going to make any significant changes that would further improve this before 2.3 I'm considering this done for 2.3.

[2017-03-07 15:18] #16123 closed, assigned to alikins, amenonsen, jimi-c

[2017-03-07 15:47] Pantharian opened #22366 "using wait_for module with winrm fails - "[Errno 2] No such file or directory""
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
wait_for

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Ubuntu 14.04.5 LTS (GNU/Linux 4.4.0-42-generic x86_64)

##### SUMMARY
Tried to run a playbook on the Ansible host (not the remote host) to determine when WinRM becomes available on a Windows remote host using 'wait_for'.

Results in the following error:

fatal

[2017-03-07 15:57] #22315 closed, assigned to rcarrillocruz

[2017-03-07 16:37] gundalow commented on #21900
Moved to 2.4, all that's needed is to review and update the tests

[2017-03-07 16:38] gundalow commented on #21459
I believe this can be closed

[2017-03-07 16:38] #21459 closed, assigned to privateip

[2017-03-07 17:05] Harosgr opened #22371 "stderr: Shared connection to [host] closed."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
script module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
RHEL 7

##### SUMMARY
Whenever I use the script module to run a python script (even with a simple print in it) I get a stderr as seen bellow. I have tried setting "-o ControlMaster=no" in the ssh_args but I get the same result.

[code]

##### STEPS T

[2017-03-07 17:08] #22323 closed, assigned to nobody

[2017-03-07 17:35] gundalow commented on #22166
So, assuming I've understood the discussion correctly this issue is not a bug, and in fact is very much by design.

The case outlined in https://github.com/ansible/ansible/issues/22121 is regarding someone created a new module called `junos_*`. We are post new module freeze for 2.3, so this will not be an issue. Therefore moving to 2.4

@privateip and @Qalthos Need to review this, though based on

[2017-03-07 17:58] stacywsmith commented on #22166
@privateip @Qalthos @gundalow This is new behavior introduced in 2.3 and really needs to be fixed for 2.3. It breaks existing Junos Galaxy modules provided by Juniper which are named junos_*.

[2017-03-07 17:58] leerich opened #22372 "IOS_CONFIG module shows changes when nothing should have changed."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

While configuring interfaces and static routes using ios_config module, the tasks status shows changed even when no visible change is made in the running-config of the routers.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A

[2017-03-07 17:59] gundalow commented on #22166
@stacywsmith Ah, that was some detail I missed, moved back to `2.3`

[2017-03-07 18:22] snowsky commented on #21467
I have put up a PR to fix this bug. Could some one please take a look?

[2017-03-07 18:27] kjartansible opened #22374 "ec2_vpc_route_table can't update routes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ec2_vpc_route_table

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Ran a script to create a NAT instance, created the routes going through the NAT using ec2_vpc_route_table
Deleted the NAT and ran the same script again.
ec2_vpc_route_table was not able to update the route with the new instance id