[2018-05-30 11:49] roesj opened #40874 "IIS apppool creation is succesfull, but task fails with "module failure""
##### SUMMARY
task ends with message "Module failure", while the task executed sucessfull

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_iis_webapppool

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log

##### OS / ENVIRONMENT

Ansible OS: Description:    Ubuntu 16.04.4 LTS
Node:
Windows server 2012r2 (6.3.9600)
Powers

[2018-05-30 11:51] wknapik commented on #38640
Seems there's a PR for this - https://github.com/ansible/ansible/pull/40093 - if anyone wants to follow the progress.

[2018-05-30 11:57] Akasurde commented on #22647
@chroche Could you please check with latest Ansible and let us know if it works for you ?

needs_info

[2018-05-30 12:02] dev-yolkin commented on #40816
Work around:
`  vars_prompt:
  - name: "prompt_var_p"
    prompt: "enter some value"
    default: "test"
    private: no`

then in the task during same play:

`- name: set prompt variable
  set_fact:
    prompt_var: "{{ prompt_var_p }}"`

[2018-05-30 12:29] hwoarang opened #40876 "Label parameter on loop_control does not work with list of dictionaries"
##### SUMMARY
`loop_control/label` does not work with list of dictionaries

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
``openSUSE Tumbleweed`` but Ansible is installed in a virtualenv using pip

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]
As you can see, the label for each iteration is constantly set to `item

[2018-05-30 12:50] ssbarnea commented on #13474
Just to make it clear for others that may visit that ticket, the correct way to check is `result is failed` or `result is success`, using filters to compare it seems to be deprecated.

[2018-05-30 13:05] gothicx commented on #40786
!component +lib/ansible/modules/files/ini_file.py

[2018-05-30 13:06] MatrixCrawler opened #40877 "ssl support for lookup consul_kv"
##### SUMMARY
The lookup plugin consul_kv does not support to change the scheme to https not to send a cert with the request nor to skip cert verifiaction if that is desired

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
lookup/consul_kv

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/mnt/c/Projekte/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/mnt/c/Projekte/ansibl

[2018-05-30 13:16] MatrixCrawler commented on #40877
Hm... actually this affects the lookup plugin, not the clustering plugin

[2018-05-30 13:34] aboe76 commented on #36700
@kevensen with ansible 2.5.3 issue was resolved

[2018-05-30 13:43] #32082 closed, assigned to Qalthos

[2018-05-30 13:44] #32084 closed, assigned to Qalthos

[2018-05-30 13:53] jarnold-timeout opened #40879 "mysql_user cannot set column-level privileges on column names that require quoting"
##### SUMMARY

Column names are not getting properly quoted when granting or revoking column-level privileges, which causes errors for column names such as `KEY`, which require escaping.   I can partially work around the issue by explicitly quoted the column names in the `priv` field.    But even then, the task fails when mysql_user tries to revoke an existing privileges on a column name that requ

[2018-05-30 13:53] flawaetz commented on #36135
This makes total sense to me.  Google currently defines network tags as:

While network tags might be helpful in some circumstances they do not seem appropriate for general-purpose instance categorization.  Labels are the way to go.

It is only the latest libcloud (2.3.0) that supports GCE labels for node objects so that would be a prereq.

[2018-05-30 13:56] ganeshrn commented on #40650
Appreciate you putting time and effort in developing `netconf_set` module.
Ansible is a community-driven project and as a community project a guideline is set related to API specific modules.
http://docs.ansible.com/ansible/devel/dev_guide/developing_modules_best_practices.html
`
Modules should typically encompass much of the logic for interacting with a resource. A lightweight wrapper around an A

[2018-05-30 14:20] maxamillion commented on #29622
@gerhard-tinned I'm re-opening this and will be looking into it. Thank you for filing the issue and on behalf of the project,  my apologies for the ticket falling through the cracks. It happens sometimes and I don't have any real explanation other than it's a reality we're constantly attempting to improve upon. Now that I'm looking into the issue, would you mind providing me with a minimal playboo

[2018-05-30 14:37] jamescassell commented on #40876
I believe this issue showed up with ansible 2.5.  It worked correctly with ansible 2.4.

[2018-05-30 14:40] pffs opened #40884 "ios_config traceback on some devices"
##### SUMMARY

On some devices, ios_config will create a traceback when running the ios_config module. Nothing obviously different between devices that work and devices that do not, same model and some firmware. Sometimes running a play multiple times will result in it working, but usually they continue to fail. Attempted to change the tmp file location via remote_tmp and local_tmp, but still look

[2018-05-30 14:50] denngie opened #40885 "asa_config missing save_when and save not deprecated like other Cisco config modules"
##### SUMMARY
I have been looking at ios_config, nxos_config and asa_config and noticed that ios and nxos are deprecating save for save_when but asa does not even have a save_when. I am planning on porting this feature from ios_config to have more consistent modules

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

asa_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
#####

[2018-05-30 15:00] profhase opened #40890 "Galaxy - separate dependencies from execution"
##### SUMMARY
For now, role dependencies in `meta/main.yml` are both installed and executed before the role execution.
This is a mashup of the two concerns:
1. Install a role dependency (`galaxy`)
2. execute the role prior to the role execution (`ansible`)

The problems occur, when `roleX` needs `roleY` to be installed (for an `include_role`) but **not** being executed prior to it.

*Example*:

[c

[2018-05-30 15:14] #38082 closed, assigned to Qalthos

[2018-05-30 15:20] #40876 closed, assigned to nobody

[2018-05-30 15:41] bcoca commented on #40817
it is normal to have one or more `_ansilbe_x` keys which are used by AnsibleModule internally.

[2018-05-30 15:41] precurse commented on #40072
This is a shade bug: https://storyboard.openstack.org/#!/story/2001132

And now that `shade` is being removed as a dependency for Ansible (for the 2.6 release), this bug should be resolved.

We get around this by `pip install shade==1.21.0`.

[2018-05-30 15:45] gthieleb commented on #39296
It would be great to have this implemented but mentioned in top of release notes.

[2018-05-30 15:50] bcoca commented on #36585
closing as per above

[2018-05-30 15:50] #36585 closed, assigned to nobody

[2018-05-30 15:55] mikewiebe opened #40902 "NXOS: ansible.module_utils.connection.ConnectionError: No JSON object could be decoded"
##### SUMMARY
We have started seeing a high failure rate in our nightly Nexus integration tests using httpapi.

Many of the tests are failing with `ansible.module_utils.connection.ConnectionError: No JSON object could be decoded`.

NOTE: Test passes for connection `local` and `network_cli` and `nxapi` using provider property.

**Must fix for 2.6**

##### ISSUE TYPE
 - Bug Report

##### COMPONENT N

[2018-05-30 16:02] precurse opened #40903 "OpenStack Inventory doesn't work when multiple clouds defined"
##### SUMMARY

When more than 1 cloud is configured in `clouds.yaml`, OpenStack inventory errors

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

contrib/inventory/openstack_inventory.py

##### ANSIBLE VERSION

[code]
Inventory version: latest from devel branch (Ansible 2.6 version)
##### CONFIGURATION

Using Ansible defaults

##### OS / ENVIRONMENT

Ubuntu 16.04 64-bit

##### STEPS TO REPRO

[2018-05-30 16:25] gdpak commented on #40752
@saito-hideki  Not able to reproduce this issue on my setup after following the steps you mentioned. Looks like some environment issue which might be causing it to fail on your end
Can you provide following details
1) python version
2) pip show cryptography
3) Also can you enable debug using following link and pass on the debugs
https://docs.ansible.com/ansible/2.4/network_debug_troubleshooting.ht

[2018-05-30 16:27] mikewiebe commented on #40902
Here is an example of it passing on the same ansible server and devel code base using `nxapi` + provider property.

[code]

[2018-05-30 16:29] tyll opened #40904 "Add `skip_host` meta task"
##### SUMMARY
It would be great to skip a host in a play based on some conditions. For use cases see #27973 - it was about using `end_play` to be changed on a per host basis but @bcoca requested a different name for a meta task on a per-host basis

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
meta
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

RETRY_FILES_ENABLED(/etc/ansible/ansibl

[2018-05-30 16:38] maxamillion commented on #40809
@thessell thanks for the report, you are absolutely correct. This was an oversight on my part. I'm going to submit a patch to fix this and probably backport. Then add a new feature for Ansible 2.7 that adds both running state and enabled/disabled state.

[2018-05-30 16:48] tyll commented on #27973
@bcoca  since you wrote ticket and not pr in #32785 I confused the PR with this ticket:

IMHO this is still a bug/surprising behavior:

[code]

[code]

[2018-05-30 17:04] Qalthos commented on #38959
The networking portion of this, such as can be tested, has been completed

[2018-05-30 17:10] rpural opened #40910 "setup module returns different info when called ad-hoc vs in a playbook"
##### SUMMARY
When run as ansible localhost -m setup -a 'filter="ansible_local*", Ansible properly finds facts set in /etc/ansible/facts.d/file.fact. But when the same setup command is run within a playbook, either through Tower or with ansible-playbook, no values are returned at all.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2018-05-30 17:16] zhangineer2 opened #40912 "aci_rest"
##### SUMMARY
When using 'post' method via the module, it throws the following error
"msg": "APIC Error 8: rsp-subtree argument is incorrect (possible options: _no_|children|full)"

Specific issue is with this line. First off, when using post method, there isn't anything that's needed for sub-tree, second of all, 'modified' is never a valid value for rsp-subtree. rsp-subtree is only used for query

[2018-05-30 17:54] caphrim007 opened #40913 "Mark F5 modules stableinterface"
##### SUMMARY

Mark the F5 community modules as `stableinterface` in the module's ANSIBLE_METADATA.

A customer of F5's is interested in using the F5 modules, however their company policy does not allow the use of `preview` modules.

The customer is asking that `preview` status be removed.

The full request is,

"""
Our automation tool of choice is Ansible Tower and while we were happy to see ther

[2018-05-30 17:55] caphrim007 commented on #40913
@bcoca @sivel @gundalow @Qalthos @privateip requesting your thoughts on this

[2018-05-30 18:06] nitzmahone commented on #40648
Should be fixed by #38994 - please re-open if not.

[2018-05-30 18:06] #40648 closed, assigned to nitzmahone

[2018-05-30 18:11] caphrim007 commented on #40913
With my maintainer hat on, I should outline the current "situation" that F5 is in.

The F5 modules are still under development. While the existing set of params and functionality is more-or-less fixed, there is the continual addition of new features to the existing modules.

F5 has also enjoyed the non-committal flexibility of being in `preview` status. F5 does not support the F5 modules as part o

[2018-05-30 18:14] mattclay commented on #36072
Resolved by #40804

[2018-05-30 18:14] #36072 closed, assigned to nobody

[2018-05-30 18:14] mattclay commented on #37766
Resolved by #40804

[2018-05-30 18:14] #37766 closed, assigned to zikalino

[2018-05-30 18:16] mattclay commented on #38712
Resolved by #40804

[2018-05-30 18:16] #38712 closed, assigned to nitzmahone, jborean93, zikalino

[2018-05-30 18:18] mattclay commented on #36080
Resolved by #40780

[2018-05-30 18:18] #36080 closed, assigned to zikalino

[2018-05-30 18:46] sherzzo commented on #15321
adding `-o ControlMaster=auto -o ControlPersist=30m` to ssh args fixed the issue for me.

- ansible version: 2.4.1.0
- os: macos sierra
- remotes: ec2 instances (centos7, t2.micro)

More:

Getting "UNREACHABLE" error in the midst of role tasks. Would stop on the same task. But would run if I isolated only that task (via tags).

[2018-05-30 19:09] mattclay commented on #40175
Closing this as I haven't seen it recently.

[2018-05-30 19:09] #40175 closed, assigned to s-hertel

[2018-05-30 19:09] mattclay commented on #37481
Closing this as I haven't seen it recently.

[2018-05-30 19:09] #37481 closed, assigned to s-hertel

[2018-05-30 19:32] marisamidler commented on #39235
If you are running Ansible 2.5 or above, I've had luck using the win_scheduled_task to automatically start the netlogon service when Windows Server 2012 is promoted to a domain controller. The `EventID='29223'` is the event generated when the server is promoted to a DC.  You can use Event Viewer on the server to generate the XML query string for the subscription with the custom filter which is wha

[2018-05-30 19:43] nitzmahone commented on #39235
This might be another case we should explore wrapping in an action to handle the reboots automatically in a way that's "ansible-friendly" (ala `win_updates` + `reboot: yes` in 2.5)... There are some wonky connection-related things in `win_domain_controller` as well that can really only be definitively solved with an action plugin... I'll put this on the "things we should look at for 2.7" list.

[2018-05-30 19:45] maxamillion commented on #29622
needs_info

[2018-05-30 19:50] maxamillion commented on #10902
I just noticed this is still open, did https://github.com/ansible/ansible/pull/27274 resolve the originally reported issue or is something still needed here?

[2018-05-30 19:56] sivel commented on #10902
Also, see https://github.com/ansible/ansible/pull/35470

https://github.com/ansible/ansible/pull/35470 allows you to specify headers as a dict, which bypasses the complex parsing required for the CSV format.  And also deprecates use of the CSV format.

Additionally, see https://github.com/ansible/ansible/pull/33792, which provides a new `cookies_string` from the `uri` module, built from the `Set-C

[2018-05-30 20:04] sivel commented on #30065
This has been resolved in newer versions of ansible along with the ability to specify `body_format`

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-30 20:04] #30065 closed, assigned to nobody

[2018-05-30 20:20] dagwieers commented on #40912
The `?rsp-subtree=modified` filter string is required in order to have an idempotent implementation of **aci_rest**. It  makes the APIC tell us whether the POST/DELETE request made a change or not. From the Cisco APIC documentation:

There is no need to do a login with **aci_rest**, because the module does this by default for every request already.

[2018-05-30 20:28] hemskgren opened #40915 "ios_static_route support for vrf and name"
##### SUMMARY

Add support to both route in VRF and name/description
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ios_static_route
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-05-30 20:28] #40551 closed, assigned to sivel, bcoca

[2018-05-30 20:42] ACISupport commented on #40912
Thanks for the update Dag. Is there a ways to use aaaLogin rather than the
built-in login module ? Having to login in to APIC for every POST no longer
works well in ACI 3.1 due to a DDOS prevention feature Cisco put in.

On Wed, May 30, 2018 at 3:21 PM, Dag Wieers <notifications@github.com>
wrote:

[2018-05-30 20:43] maxamillion commented on #34109
@itdependsnetworks This was discussed during an [Ansible Meeting a few weeks ago](https://meetbot.fedoraproject.org/ansible-meeting/2018-05-10/core_public_irc_meeting.2018-05-10-15.01.log.html) but I don't really understand from the logs if there was any resolution or not. As such, I was wanting to check-in and verify the current status from your perspective. Thanks!

needs_info

[2018-05-30 20:53] dagwieers commented on #40912
Look at this:
- https://docs.ansible.com/ansible/2.5/scenario_guides/guide_aci.html#signature-based-authentication-using-certificates
- https://docs.ansible.com/ansible/2.5/scenario_guides/guide_aci.html#known-issues

We plan this for Ansible v2.7:
- https://github.com/ansible/ansible/issues/36100
- https://github.com/ansible/community/wiki/Network:-ACI

[2018-05-30 20:56] mfish82 opened #40919 "IOSXR_CONFIG Currently Commits After Every Command Sent, Even When In a Hierarchical Command Structure (Using Parents) Which Causes the Module to Fail"
##### SUMMARY
Currently, if you try to use a `with_items` parameter while using a `parent`, the module will error out after the first item. The error that pops is indicative of the module trying to send a commit to the router, but cannot while in a hierarchical configuration. Some IOS-XR configurations require the complete rewrite of an 'object list' like prefix-sets, ACLs, etc... when working wit

[2018-05-30 21:07] ACISupport commented on #40912
thanks, looking forward to 2.7 release.

[2018-05-30 21:07] #40912 closed, assigned to nobody

[2018-05-30 21:12] hemskgren opened #40920 "ios_l3_interface add support for other interface parameters"
##### SUMMARY

ios_l3_interface add support for other interface parameters like description, vrf, encapsulation, hsrp/standby, state(enable /disable) etc
Suggested prio: vrf, description, state, hsrp/standby
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[c

[2018-05-30 21:14] frdmir opened #40921 "Proxmox_kvm unable to create linked clone"
##### SUMMARY

proxmox_kvm is unable to create a linked clone from a vm template.

If I comment the "full" parameter the playbook runs smoothly
But the cloned image becomes a full clone and not a linked one.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/misc/proxmox_kvm.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing special, only host list and rem

[2018-05-30 21:21] maxamillion commented on #34141
Did the suggestion/explanation by @skylerbunny resolve the issue or there still an issue that needs addressing?

needs_info

[2018-05-30 21:33] saichint commented on #40683
I am seeing this in a different scenario.
If we have large output for a show command and then we execute another show command after this, the 1st show command output is still shown (though truncated) in the 2nd command output. The 2nd show command output is simply ignored if the 1st command output is very large. Depending on the size of the command output, if we have 3rd, 4th etc. show commands, t

[2018-05-30 21:47] ACISupport commented on #40912
are there plans to implement a subscription module for ACI ?

On Wed, May 30, 2018 at 3:54 PM, Dag Wieers <notifications@github.com>
wrote:

[2018-05-30 22:34] maxamillion commented on #19177
@ZeiP Hello and thank you for the issue ticket, apologies for the lag time. I'm attempting to reproduce this issue but the example provided lists `loop_var: site` and there's no defined value so I'm unsure of what that should be. If you don't mind providing that I'd like to further diagnose this issue.

cc @yeukhon - if you have a reproducer also, please feel free to provide it.

Thanks!

[2018-05-30 22:37] maxamillion commented on #17935
@mzabaluev that's odd, `base64` is part of the python stdlib

[2018-05-30 22:42] maxamillion commented on #17935
@lassizci are you able to test with Ansible 2.5.3? I'd be curious of your findings, there were patches since your last recorded results were posted that I think could be relevant. (I'm also interested in [2.6.0 alph1](https://pypi.org/project/ansible/2.6.0a1/) if you don't mind posting those results as well).

Thank you!

needs_info

[2018-05-30 23:16] itdependsnetworks commented on #34109
It has not been resolved. Currently in holding pattern since around 2.2, fixes have been suggested, but never agreed upon. Simply looking for agreement on fix, then can worry about implementing

[2018-05-30 23:21] bcoca commented on #40776
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As documented here http://docs.ansible.com/ansible/latest/dev_guide/developing_inventory.html#script-conventions, dynamic inventory scr

[2018-05-30 23:21] #40776 closed, assigned to nobody

[2018-05-31 00:17] jralbert opened #40925 "fail_json method called incorrectly in openstack.py"
##### SUMMARY
fail_json() is called without a named 'msg=' parameter on lines 136 and 138 in openstack.py, so that errors which should be communicated back to the called are instead masked by a Python TypeError.

I strongly suspect there are further issues with the shade invocation when specifying cloud configuration as a dict; patching around this issue by adding the requisite "msg=" in my test e

[2018-05-31 00:33] asim-caspar commented on #22382
if i want ansible to use ```vault ssh -role....``` instead of ssh for managed hosts, is there a simple example of ansible.cfg that would work for me. In ssh_connection we can type ssh args but i want to preceed ssh with vault...

[2018-05-31 01:01] yungezz opened #40927 "backport fixing of #39648 to 2.6"
##### SUMMARY

backport https://github.com/ansible/ansible/pull/40646 to stable-2.6.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_virtualnetwork

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

the fixing of 39648 should be backported to stable-2.6. Since it's merged to devel after stable2.6 cr

[2018-05-31 01:01] yungezz commented on #40927
@yuwzho , pls take care of this, and check full list.

[2018-05-31 02:19] andrew-sumner commented on #18154
Thanks, that worked like a charm!  This has been bugging me since I first started using ansible so a huge relief to finally have a working solution.

[2018-05-31 03:22] bcoca commented on #10052
@sumkincpp or just use `with_list` or the new `loop` keyword

[2018-05-31 03:41] Fred-sun commented on #40857
Hi @vpopescu ,I have tried your YML, Meet same problem. Your mean, we need add FUNCTIONS_EXTENSION_VERSION option at azure_rm_functionapp, We can use this option to control the app version .Please confirm,  Thanks a lot!

[2018-05-31 04:02] bcoca commented on #34566
@rockandska I'm not sure that is workable, see this example:

`- include_role: name={{hostvar}}`

at this point you don't know which role you'll have until you execute the task.

[2018-05-31 04:19] adiemu5 opened #40929 "ansible (with default config) leaves $HOME/~None/ directories on target hosts (ESTABLISH SSH CONNECTION FOR USER: None)"
##### SUMMARY

Ansible 2.5.3 using all the defaults in a passwordless-ssh environment (hostbased-auth) creates $HOME/~None/ directories on target hosts.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Completely default config.  ('ansible-config dump --only-changed' returns no output)

##### OS / ENVIRONMENT

CentOS 7.4
CentOS 6.9

[2018-05-31 04:33] dathelen opened #40930 "eos_vrf doesn't work when transport method is eapi"
##### SUMMARY
the eos_vrf module fails when using eapi as a transport

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_vrf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The vrf defined in the playbook should be created.

##### ACTUAL RESULTS

[code]
As a side note I checked the most recent EOS

[2018-05-31 04:40] yeukhon commented on #19177
@maxamillion this is a very old issue, probably invalid already.

[2018-05-31 04:52] trishnaguha commented on #40683
@saichint Can you give an example or share a playbook?
We do not seem to find this kind of behavior in our idempotence test result.

[2018-05-31 04:53] #33380 closed, assigned to nobody

[2018-05-31 04:56] dathelen commented on #40930
This same issue also exists in 2.4

[2018-05-31 05:27] Fred-sun commented on #40824
Hi @jdogg89  Thanks for taking the time to open this issue. In order for the community to handle your issue effectively, we need a bit more information.
Please set the description of this issue with this template:
https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md
if I get the reproduce method , I will try and push issue effectively to solve, Thanks a lot!

[2018-05-31 05:37] Fred-sun commented on #40864
Hi @htallur  Thanks for taking the time to open this issue. In order for the community to handle your issue effectively, we need a bit more information. Could you help share you reproduced method ,Execute result and OS/ Environment, If I get the reproduce method, I will try and push issue effectively to solve. Thanks a lot!

[2018-05-31 06:45] trishnaguha commented on #40683
Alright we figured out the commit that broke this https://github.com/ansible/ansible/commit/d829ff6993aa3a7e8123d2188ab04f4bfd88c1d0

[2018-05-31 07:20] mkrizek commented on #40929
Thanks for the bug report! This has been resolved and the fix will be included in version `2.5.4`.

[2018-05-31 07:20] #40929 closed, assigned to nobody

[2018-05-31 07:45] helldorado commented on #40921
@fredmiranda `storage`  **(Target storage for full clone)** and linked clone is mutualy exclusive.  If you set the `storage` param, the API guess you want a **Full clone**.  Please remove the `storage` param in your playbook and test again.

Also note, Linked Clone not supported with LVM & ISCSI storage.

[2018-05-31 07:59] jguirlinger commented on #40705
The comand ``mode`` is not available

[code]

This is because of the FabricPath feature-set not installed
[code]

When you do not have this feature activated, you can't change mode, and mode CE is the default

For me, it would be better if ansible have no default value for ``mode`` parameter

[2018-05-31 08:02] jordanst3wart commented on #31759
I found this really annoying, and confusing using docker, and ansible. Here is a few short script:
[code]

ansible 2.4.2.0
docker 18.05.0-ce
There isn't many questions on stack-overflow about this either.

[2018-05-31 08:34] mkrizek commented on #37929
Related to ^^^ https://github.com/ansible/ansible/pull/32206

[2018-05-31 08:37] pascalheraud commented on #35428
You could use a vault to store key and secret.

[2018-05-31 08:39] pascalheraud commented on #28993
It could be the case for A records too if we have a zone with round robin ?

[2018-05-31 09:05] tobgen commented on #33058
This apply to version 2.5.3 as well.

[2018-05-31 09:21] haisrig opened #40941 "Not able to create AWS elb target group"
Hi ,

Component name :- elb_target_group
The below is my ansible details.

ansible 2.5.3
  config file = None
  configured module search path = ['/home/ubuntu/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.5/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.5.2 (default, Nov 23 2017,

[2018-05-31 09:42] justjais commented on #40709
Fixed in #40597, queued for the 2.6 release.

[2018-05-31 09:42] #40709 closed, assigned to justjais

[2018-05-31 09:42] justjais commented on #39494
Fixed in #40597, queued for the 2.6 release.

[2018-05-31 09:42] #39494 closed, assigned to justjais

[2018-05-31 09:43] justjais commented on #36574
Fixed in #40597, queued for the 2.6 release.

[2018-05-31 09:43] #36574 closed, assigned to justjais

[2018-05-31 09:43] justjais commented on #35774
Fixed in #40597, queued for the 2.6 release.

[2018-05-31 09:43] #35774 closed, assigned to justjais

[2018-05-31 09:52] trishnaguha commented on #40902
@mikewiebe Can you share the output of `show ip access-list | json` of the device where you are getting the issue.

[2018-05-31 10:11] balonik commented on #34801
This is fixed and is working as of 2.5 release. The line you mention does not need to be changed anymore.

[2018-05-31 10:13] #34801 closed, assigned to nobody

[2018-05-31 10:18] rockandska commented on #34566
@bcoca not sure my explanations was clear, or maybe misunderstanded what you say, what i meant was:

if dependencies could be optional, we could benefit of the automatic (recursive ?) download of the dependencies present inside "meta/main.yml" with the ability to use them with "include_role".

dependencies in meta/main.yml have the benefits to be automatically (recursive ?) downloaded but can't se

[2018-05-31 10:39] lassizci commented on #17935
@maxamillion tried with 2.5.3 and 2.6.0a2 (707f069fe8) and can't reproduce anymore with <300 host inventory (at least with 5 runs with each version).

Still consistently getting the same error if I run against 350 host inventory. With 5 runs there was always at least one failed host with both of those versions and with 600 host inventory 5-15 random hosts fail every time.

[2018-05-31 10:40] #39446 closed, assigned to nobody

[2018-05-31 10:46] vikrantrathore opened #40949 "Error in starting new container using lxd 3.0"
##### SUMMARY
Using lxd_container to launch a container takes over 10 minutes. On the command line using lxd launch it takes only few seconds. Using lxd 3.0

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lxd_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Start a container quickly

##### ACTUAL RE

[2018-05-31 11:15] justjais commented on #38209
Fixed in #39469, queued for 2.6 release

[2018-05-31 11:17] wisotzky commented on #40650
@ganeshrn and @userlerueda

Have you had time to look into #40818 ?

I am currently struggling to use the "validate" RPC. I would appreciate, if someone of you could check what is going wrong here. Looks not so much related to my new "netconf_set" module - but rather to the underlying connector=netconf infrastructure.

[2018-05-31 11:19] wisotzky commented on #40650
Also please note, that it was not possible anymore to propose #40818 for Ansible 2.6.
There was a validation check, which enforced me to push this PR against Ansible 2.7.

Testing status looks very good in my setup, beside of using validate as commented before.

[2018-05-31 11:51] wookietreiber opened #40952 "sysctl: add diff mode"
##### SUMMARY

**sysctl** module has no diff mode.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

sysctl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- CentOS release 6.9 (Final)
- Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### STEPS TO REPRODUCE

**sysctl** module with diff mode `-D` enabled on the **ansible** or **ansible-playbook** c

[2018-05-31 12:00] kachkaev commented on #34989
@giovannisciortino  not sure why, but after upgrading to Ansible 2.5 (2.5.3), your trick is no longer working. Here's my task:

[code]

It Fails indefinitely until all retries are exhausted and the task failes.

[code]

What could break the behaviour?

[2018-05-31 12:15] MannerMan commented on #22568
Some further input on this:
* Postgres seems to support usernames with more than one dot just fine
[code]

* Current it's not possible to create users with domain suffixes (for ldap/central authentication), even when trying to create a user with just one dot in the *username*-part
[code]
Also works fine from commandline:
[code]
I can authenticate this user using pam-authentication in postgres pg_h

[2018-05-31 12:23] liqingkai2017 opened #40953 "network_cli module using playbook to send userinput command like ios_command "prompt", "answer" failed"
ISSUE TYPE
Bug Report
COMPONENT NAME
 ios_command

ANSIBLE VERSION
ansible 2.5.0b1
config file = /etc/ansible/ansible.cfg
configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /usr/local/lib/python2.7/site-packages/ansible-2.5.0b1-py2.7.egg/ansible
executable location = /usr/local/bin/ansible
python version = 2.7

[2018-05-31 12:27] akcrisp commented on #40929
when is 2.5.4 being released - this is now causing us major pain. Can a 2.5.3-2 be released with this fix if 2.5.4 is some way off

[2018-05-31 12:33] liqingkai2017 commented on #40953
I tried to add some display to print logs:
 module_utils/connection.py: def send(self, data):
print data:  {"params": ["save test0530.cfg", "Warning: Are you sure to save the configuration to cfcard:/test0530.cfg? [Y/N]:", "Y"], "jsonrpc": "2.0", "method": "get", "id": "58a41f57-e7b3-42d0-b529-c3c65c267da1"}
but it seems the display in plugins\connection\network_cli.py not work
what the problem ma

[2018-05-31 12:35] vaivars commented on #29951
This could make the module very valuable for the intention of using ansible to monitor certificates

[2018-05-31 12:45] rpural commented on #40910
Additional note: This fails when the filter is "ansible_local.*", but works when the filter is "ansible_local*". Why the difference? It's not intuitive.

[2018-05-31 13:57] saplla commented on #12086
Since a lot of people seem to be struggling with the performance of templating files locally, maybe a specific template_local module could be created to solve this specific issue instead. At least it'd be a start...

30+ minutes to template 100 files that can be done in 5s with jinja is ridiculous.

[2018-05-31 14:03] bcoca commented on #12086
@saplla templating always happens locally, the only thing that happens remotely is copying the template and setting permissions.

[2018-05-31 14:11] saplla commented on #12086
What I mean is to offload the looping and templating to jinja via a module that is a simple wrapper. The module could take some context and the loop definition (what would normally be put into `with_nested` and friends) and just cut out ansible entirely for this task (perhaps the wrapper could run jinja in parallel if it speeds things up).

It could be invoked like this:
[code]
The above example t

[2018-05-31 14:14] bcoca commented on #34566
dependencies are by nature 'non optional' you DEPEND on them, that is why every package manager fails if a dependency cannot be installed and most offer a 'recommended' or 'related' packages to optionally install, which seems to be what you want.

I'm for eliminating the current dependencies in meta/main.yml and create a requirements file that takes care of 'install, build and runtime' requirement

[2018-05-31 14:20] lambda commented on #40007
Duplicate of #38087, fixed by my PR #39948 which is awaiting review.

[2018-05-31 14:26] bcoca commented on #12086
That assumes that each item is independent, that is not always the case, you can make the current item values depend on the previous ones and/or results of previous iterations, or they can just be cumulative.

Most of the time spent templating has to do with the vars, not the templates themselves, since they need to be consistent, you would not gain much in parallelization unless you are willing t

[2018-05-31 14:29] Normo commented on #10829
+1

[2018-05-31 14:35] saplla commented on #12086
OK thanks for the thoughts. It'd actually be good enough for my use case and it sounds like it might be for some other people in this thread too. I'm just using ansible to load hierarchical configs and template files locally before invoking some binary that deploys them (kubectl, helm, etc). I'd be happy with a dead-simple, lightweight templating module if it was so performant it reduced templatin

[2018-05-31 14:37] wincent commented on #12086
I originally filed #10695 but seeing that this is going to take a while to come together I ended up addressing these use cases with shell scripts (eg. just say I have to do something on 50 Git repos on a single host, I use Ansible to run a single script once that does the thing 50 times). Unfortunately, this means giving up some of the stuff that you get for free with Ansible, like very granular c

[2018-05-31 14:40] trishnaguha commented on #40902
@Qalthos I think this might be the place https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/httpapi/nxos.py#L32

[2018-05-31 14:40] maxamillion commented on #17935
@lassizci so an improvement but not a solution, alright. Thank you for taking the time to provide that information.

Out of curiosity, how many forks do you have configured and how much RAM does your control machine have installed?

[2018-05-31 14:42] bcoca commented on #12086
@wincent a parallel loop will probably still always be slower than a shell script/dedicated program, as Ansible does much more than just 'apply the action'.

[2018-05-31 14:45] #40829 closed, assigned to Qalthos

[2018-05-31 14:56] wincent commented on #12086
@bcoca: yep, that confirms my understanding.

[2018-05-31 15:12] fredmiranda commented on #40921
@helldorado I've already tested without storage before and got the same results
My storage is ZFS

Here is the log.

[code]

[2018-05-31 15:14] #39863 closed, assigned to nobody

[2018-05-31 15:31] #38639 closed, assigned to trishnaguha

[2018-05-31 15:43] mzabaluev commented on #17935
For tasks that wait or run for a long time without producing output, I found it necessary to add `-o ServerAliveInterval=50` to ssh parameters to enable keepalives.

[2018-05-31 16:02] vpopescu commented on #40857
Keep in mind I'm a beginer with Ansible, soI may not be able to make the best suggestions.

I imagine a field, something like:

[code]
Anyway, I think your understanding is basically correct, you need to control the runtime via FUNCTION_EXTENSION_VERSION, as discussed in the microsoft link I put in the bug report. The problem was that you cannot set FUNCTION_EXTENSION_VERSION at creation time, you

[2018-05-31 16:09] mfisher30 commented on #40919
@gdpak Thanks for the input! Thats very helpful. I didn't even consider using a J2 template. I have been doing it with a single string, but the customer (of course) didn't like that idea, but will have to make due.

I liked the idea of using the loop as you can verify/see each prefix get configured and succeed/fail. I do think that the automatic commits could lead to other issues in the  future, e

[2018-05-31 16:14] trishnaguha commented on #40683
The commit https://github.com/ansible/ansible/pull/40940 is now being reverted as it was causing blocking bug https://github.com/ansible/ansible/issues/38639.
But we have another commit https://github.com/ansible/ansible/pull/40960 merged in for this issue. Can you please test on devel and let us know?

[2018-05-31 16:22] rameshvenk opened #40967 "gcp_compute_disk.py documentation has wrong auth_kind"
##### SUMMARY
In the  [gcp_compute_instance.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/google/gcp_compute_instance.py#L408) the example within the code has `auth_kind` listed as `service_account`, but the code looks for `serviceaccount` instead.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

google/gcp_compute_instance

##### ANSIBLE VERSION

[code]

#####

[2018-05-31 16:28] duck-rh commented on #27268
Maybe I don't recall properly but I don't remember having this problem in the 2.4 series. In 2.5 the regression is present.

This problem also affects the behavior of `|defaults()`.

[2018-05-31 16:39] siran opened #40969 "Ansible does not detect appropriately ansible.cfg file"
##### SUMMARY
When executing from a directory where `ansible.cfg` does not exist not, `ansible` command fails to find it even using `--playbook-dir` flag

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

<empty>

##### OS / ENVIRONMENT

MacOS Sierra

##### STEPS TO REPRODUCE

1- When you execute `$ ansible --playbook-dir ansible-playbooks -v

[2018-05-31 16:42] sivel commented on #40969
Ansible does not look in the playbook directory for an ansible.cfg file.

Per http://docs.ansible.com/ansible/latest/reference_appendices/config.html#the-configuration-file ansible.cfg may exist in one of the following:

* `ANSIBLE_CONFIG` (environment variable if set)
* `ansible.cfg` (in the current directory)
* `~/.ansible.cfg` (in the home directory)
* /etc/ansible/ansible.cfg

If you have furt

[2018-05-31 16:42] #40969 closed, assigned to nobody

[2018-05-31 17:08] sivel commented on #38262
This functionality has been implemented in https://github.com/ansible/ansible/pull/39236 and will be included in the 2.7 release.

[2018-05-31 17:08] #38262 closed, assigned to nobody

[2018-05-31 17:39] thallal opened #40972 "synchronize.py tmp files don't get removed 2.5.3"
##### SUMMARY
When using the synchronize.py template, the tmp files do not get purged afterwards. This occurred after updating from 2.4 to 2.5. Toggling the ANSIBLE_KEEP_REMOTE_FILES and DEFAULT_KEEP_REMOTE_FILES does not affect the results.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
/modules/files/synchronize.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOG_PATH(/etc

[2018-05-31 17:58] #40007 closed, assigned to acozine

[2018-05-31 17:59] NickLavrov commented on #38730
This bug also applies to record_type `NS`. I have the same setup as OP. After running my "delete NS record" task, which is below, it just returns `ok: [localhost] => {"changed": false}` and the NS record is not deleted.

[code]

[2018-05-31 17:59] acozine commented on #38087
Fixed by #39948.

[2018-05-31 18:02] sivel commented on #40972
I believe this has been resolved for the 2.5.4 release.  Can you test the `stable-2.5` branch to confirm?

needs_info

[2018-05-31 18:13] NickLavrov commented on #38730
I was able to delete the record successfully if I include the proper value for `record_value: "ns-123.awsdns-00.net."` in the task. Looking at the code here: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/net_tools/dnsmadeeasy.py#L465

it looks like if no `value` is provided, that `if` statement will always evaluate `False`.

[2018-05-31 18:14] doxxx opened #40973 "win_package fails to uninstall a package whose registry UninstallString is quoted"
##### SUMMARY
win_package fails to uninstall a package whose registry UninstallString is quoted.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_package

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible from Windows 10 under Windows Subsystem for Linux using the Ubuntu distribution.
Managing Windows Server 2016 Datacenter.

##### STEPS TO REPROD

[2018-05-31 18:20] jamescassell commented on #1619
Issue still exists.  I don't really expect a solution.

[2018-05-31 18:20] #19120 closed, assigned to nobody

[2018-05-31 18:29] zsolt-erl commented on #18075
You could check if the host is reachable on port 22 with the wait_for module (delegate to localhost and ignore errors) and run the rest of the play based on the result.
Not a nice solution but it should work.

[2018-05-31 18:35] #40273 closed, assigned to nobody

[2018-05-31 18:54] #40661 closed, assigned to nobody

[2018-05-31 19:30] ryansb commented on #39734
Are you able to try this with the `ec2_instance` module?

+needs_info

[2018-05-31 19:30] #35745 closed, assigned to maxamillion

[2018-05-31 19:37] vpopescu opened #40976 "azure_rm_keyvaultsecret - incorrect authentication?"
##### SUMMARY
I created a key vault via azure_rm_keyvault, and tried to add a secret via azure_rm_keyvaultsecret, but that tasks fails with an 'Unauthorized' error. However I can add the secret via az cli, without any special authentication.

The playbook below shows how I create a vault,t hen try to add the secret via two approaches, first via invoking 'az' which succeeds. Second by invoking azur

[2018-05-31 19:50] jimi-c commented on #37929
This has been fixed by 4db494b8214c7cb890611136710ca01213f693ef.

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writin

[2018-05-31 19:50] #37929 closed, assigned to jimi-c

[2018-05-31 20:05] 5f6b3fb8 opened #40980 "lvol: create thinly provisioned volumes from thinpools"
##### SUMMARY
I'm writing Ansible automation to [format and mount GlusterFS bricks](https://docs.gluster.org/en/v3/Administrator%20Guide/formatting-and-mounting-bricks/). I have successfully created a thinpool using lvg/lvol modules, and a lvconvert command. I would like to now issue logical volumes from the pool, but the lvol module does not seem to support that.

##### ISSUE TYPE
 - Feature Idea

[2018-05-31 20:07] maxamillion commented on #17935
@mzabaluev +1 - suggestions like that for general ssh tuning are probably something we should have documented somewhere

[2018-05-31 20:14] chopraaa commented on #18075
@zsolt-erl This will return true, but the host is still unreachable.

[2018-05-31 20:30] #40100 closed, assigned to sivel

[2018-05-31 20:37] jctanner commented on #40817
@webknjaz can you please investigate this?

[2018-05-31 20:53] sivel commented on #40817
I believe `_ansible_tmp` just needs renamed to `_ansible_tmpdir` in `test-module`.

[2018-05-31 21:12] maxamillion commented on #17594
@leifmadsen I'm unable to reproduce this with your example in Ansible 2.5.3, can you please verify this is resolved for you?

[2018-05-31 21:13] orderedchaosdev opened #40984 "elb_target_group_facts should return the instance ids and/or ips of the targets inside"
##### SUMMARY

ec2_elb_facts will give me a list of the instances that are in the load balancer while elb_target_group_facts does not.
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

elb_target_group_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

information on targets like the elb facts
[code

[2018-05-31 21:13] maxamillion commented on #17594
@kayrus what you're attempting to do is not supported, but we should definitely handle that with a graceful error message

[2018-05-31 21:32] mikewiebe commented on #40683
Sadly.. the `meta: reset_connection` issue also seems to be back in the latest `devel` :(

[code]

[2018-05-31 21:32] ceagan commented on #40068
I ran into this just now and being new to Ansible, I've been purposefully trying to use specific modules and avoid running commands directly. I see this message when I use the command module to refresh the cache as opposed to the yum module.

[code]

The issue report seems legitimate to me, especially given the warning that appears if you run yum using the command module.

[2018-05-31 21:40] gregswift commented on #35745
:tada: :dancing_men: :dancing_women: :tada:

thanks for the work @maxamillion

[2018-05-31 21:42] securenetwrk commented on #40637
@Akasurde This seems to have been introduced in https://github.com/ansible/ansible/pull/38518 which effectively makes every request attempt customization when trying to resolve https://github.com/ansible/ansible/issues/38466 .  I can confirm a similar issue just trying to clone a VM:

        networks:
          - name: "{{ network }}"
            start_connected: True

results in :

    "msg": "T

[2018-05-31 21:43] maxamillion commented on #35745
@gregswift anytime, happy to help!

[2018-05-31 21:44] richlv commented on #10530
My biggest beef with this is that the beef takes way too much vertical space. Having it default to off would be preferred.

[2018-05-31 21:47] maxamillion commented on #24862
ping @rqelibari @alikins - any update on this?

[2018-05-31 21:54] jimbojsb commented on #10530
I see what you did there...

[2018-05-31 21:57] BarbzYHOOL opened #40987 "CONFIG - Default path for include and import"
##### SUMMARY

- Add a default "include_tasks_dir" or "include_tasks_path" in the config so we can reference them easily
- Same for all import (playbooks, tasks) and includes (roles).
- Add an example in the config example

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

Include and import configuration option

[2018-05-31 22:26] lassizci commented on #17935
20 forks and 8GB of RAM. The memory usage with just running `setup` doesn't seem to be too high with that amount of forks. I'm using a bastion host that has `MaxStartups` configured to amount of hosts x 2 though. Reducing forks to 5 it seems I don't get errors. Directly from the bastion host seems to be more robust too - theres less latency involved at least (~30ms vs ~3ms).

[2018-05-31 22:27] organman91 opened #40988 "Add support for auth_socket identification to the mysql_user module"
##### SUMMARY

When using the mysql_user module, users must be identified by a password, a hash password, or not at all. Add support for creating a user identified by auth_socket.
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

mysql_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

When creating mysql users, rather than s

[2018-05-31 22:39] leifmadsen commented on #17594
@maxamillion oh man... I don't even remember this issue lol. I'm ok with closing this. I'll reopen if I run into it again, but I haven't run into it in any of my development since reporting this about 18 months ago :)

[2018-05-31 22:51] teddyphreak commented on #36504
I can replicate this. From the play debug logs:

failed: [cri-dev-web-01.wpnops.net -> localhost] (item={u'timeup': u'444', u'interval': 1, u'name': u'sjh_monitor_9060', u'timeout': u'4', u'port': 9060}) => {
    "changed": false,
    "invocation": {
        "module_args": {
            "interval": 1,
            "ip": null,
            "name": "sjh_monitor_9060",
            "parent": "/Common/ht

[2018-05-31 23:06] paxpacis commented on #35274
#### Ran into the same issue today.
error: **_FAILED! => {"failed": true, "msg": "Failed to get information on remote file_**
ansible: **2.4.4.0**
ubuntu: **17.10 server clean install only ssh-server.**

The default python on this clean Ubuntu server install is python3 and there is no symlink configured for python without a version number.
[code]
so no python by default, tried this command to fix

[2018-05-31 23:14] caphrim007 commented on #36504
@teddyphreak what version of bigip are you using?

[2018-05-31 23:18] bcharboneauiherb commented on #39832
@gundalow any update? I have posted what you asked for and ran it on Ubuntu 18.04 LTS with the same results.

[2018-05-31 23:24] EricThiel opened #40989 "vmware_guest tries to customize the VM when setting start_connected"
##### SUMMARY

vmware_guest should not attempt customizations for "start_connected" Parameter.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/myuser/ansible/ansible.cfg) = [u'/home/myuser/ansible/hosts']
DEFAULT_ROLES_PATH(/home/myuser/ansible/ansible.cfg) = [u'/home/myuser/ansible']
DEPRECATION_WARNIN

[2018-05-31 23:28] WeekendsBull commented on #34168
I see the issue on ansible v2.4.1.0 that it works randomly and fails most of the time.

[2018-05-31 23:45] jborean93 commented on #34168
@WeekendsBull you need to upgrade to 2.5.3 to 2.6 when released to get this fix.

[2018-06-01 00:05] davidmnoriega opened #40991 "async and check mode conflict is not documented"
##### SUMMARY

It is not explained in the docs for `async` that check mode is not supported. I found that this was introduced in this commit 8f73781ab7d3892e12c15126feac0cc9538f989f I would think that the task should actually just be skipped, but I suppose there is some reason why the async module is coded to state it cannot be used in check mode.

##### ISSUE TYPE
 - Documentation Report

##### C

[2018-06-01 00:05] teddyphreak commented on #36504
Running BIG-IP 13.1.0.5 Build 0.0.5 Point Release 5

[2018-06-01 00:27] mikewiebe commented on #40902
@Qalthos I was able to capture the error with the additional debug info:

[code]

[2018-06-01 00:58] bcoca commented on #40729
This is surprising since pull and playbook don't use different code, its a shared function that takes care of extra vars.

[2018-06-01 01:59] Fred-sun commented on #40857
Your mean when we have created function app, the function app has different version, we can use a option(like runtime) to manage current runtime version. Do you want like this?

[2018-06-01 03:10] justjais commented on #38209
Integration tests and target tests for this module file needs to be written.

[2018-06-01 04:14] maxamillion commented on #24826
This appears to be fixed as of Ansible 2.5.3, I've just tested against a 4 core aarch64 system.

[code]

[2018-06-01 04:58] abadger commented on #14829
@drybjed  Is this filter supposed to return a boolean?

[2018-06-01 05:53] vpopescu commented on #40857
Yes, it would work for me.

Also don't forget to allow being able to query the runtime version (if possible) via azure_rm_functionapp_facts.

[2018-06-01 06:11] frittentheke commented on #40060
@Akasurde I fixed all the things the sanity checks and the linting complained about in my PR -> https://github.com/ansible/ansible/pull/40345 seems ready to merge.

[2018-06-01 06:18] jamessemai commented on #40869
As a work-around, I patched the module as follows:

[code]

Not sure if this is the 'right' way, but it seems to do the business.

[2018-06-01 07:44] royzeng-ericsson commented on #38883
workaround: use Azure CLI
[code]

[2018-06-01 07:55] profhase commented on #40890
!component -lib/ansible/galaxy

[2018-06-01 08:00] nusenu commented on #14829
great to see some activity on this long standing issue.

Toshio Kuratomi:

according to documentation it should return a list (in the specific cases an empty list)

https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters_ipaddr.html?#filtering-lists

[2018-06-01 08:01] rwky commented on #39734
Unfortunately the project I was using this in is now complete. If I have time or another project that requires it comes up I'll follow up.

[2018-06-01 08:07] spmp commented on #38883
I modified the module, was a relativity simple fix. I believe I have
referenced my branch in the comments. I can do a pr if someone is willing
to write the tests. I am too busy ATM.

On 1/06/2018 7:45 PM, "royzeng-ericsson" <notifications@github.com> wrote:

workaround: use Azure CLI

- name: expand OS disk
  shell: az disk update -g {{ resource_group }} -n {{ item }}
--size-gb {{ dev_os_disk_size

[2018-06-01 08:20] amenonsen opened #40996 "parse_sources and parse_source between them mishandle INVENTORY_UNPARSED_IS_FAILED"
##### SUMMARY
Setting ANSIBLE_INVENTORY_UNPARSED_FAILED=True in the environment or inventory.unparsed_is_failed=True in the configuration is supposed to turn failures into fatal errors:

[code]

However, this works as intended only if the inventory contains a single source. If you have an inventory with multiple sources, ``parse_source`` will fail and return a failure to ``parse_sources``, but the

[2018-06-01 08:24] JulienPalard opened #40997 "Documentation links to non-existing changelog"
##### SUMMARY
On multiple pages (grep to find them all) like this one
`https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html`, there are links to `https://github.com/ansible/ansible/blob/devel/CHANGELOG.md` which are broken.

##### ISSUE TYPE
 - Documentation Report

[2018-06-01 09:11] erik-saarts opened #40998 "win_scheduled_task parameter execution_time_limit fails in windows 7"
##### SUMMARY

win_scheduled_task module parameter 'execution_time_limit' fails under windows 7.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_scheduled_task

##### ANSIBLE VERSION

[code]
Same behaviour under 2.6 and 2.7

##### CONFIGURATION

DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 15
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/root/windows/hosts']

##### OS / ENVIRONMENT

A

[2018-06-01 09:38] drybjed commented on #14829
@abadger In cases like `list_of_items | ipaddr('public')` the filter is supposed to return a list. If you specify `ipv6('public')` filter, and there are no IPv6 addresses, the empty list should be returned. If you test strings, the return value would be either the interpreted IP data, or False if say, you gave an IPv4 address to an `ipv6` filter, or the specific data cannot be correctly interprete

[2018-06-01 09:56] Noname2244 opened #40999 "Bug in ansible_module_ios_facts.py"
##### SUMMARY
this playbook failes due to  the command "show memery statistics" isnt availble on Cisco IOS XE 3.7.5

[code]
show memory ?
  debug     Memory debugging commands
  detailed  Detailed memory information
  switch    Switch  number
  |         Output modifiers
[code]
ansible --version
ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansi

[2018-06-01 10:47] aykay76 commented on #31712
I am seeing a similar issue using v2.6 so I guess this isn't fixed yet. I create two new VMs and want to add their keys to known_hosts. Sometimes I only get one of them added.

Is there a way to serialise a single task so that it runs sequentially for each host in the inventory?

[2018-06-01 10:53] ZeiP commented on #19177
We're still experiencing the issue. I'll try to take a look at reproducing it with the minimal steps above.

[2018-06-01 10:58] nplawes commented on #38129
Anyone know if this is going to be fixed...? Like many, I rely on privilege escalation and variables being inhereted by the tasks run inside a loop of include_tasks: "{{item}}.yml". In my view, the flexibility of Ansible has been greatly reduced by this "improvement"

[2018-06-01 11:14] silverdr opened #41001 "archive module creates empty archives given certain paths"
##### SUMMARY

`archive` module creates empty archives when given certain paths. Possibly caused by inadequate escaping of the path string.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from OS X 10.11.6, managing GNU/Linux 4.4.0-127-generic #153-Ubuntu SMP Sat May 19 10:58:46 UTC 2018 x86_64 x86_

[2018-06-01 11:15] ZeiP commented on #19177
Here's an output obtained by running the reproducer in a minimal playbook on localhost:
[code]

So basically the same template should be added with each of the three value sets, but the first one doesn't get templated, as you can see in the last nginx_vhosts definition. This probably isn't right – I've tried to debug it, but unfortunately I don't understand Ansible nearly enough to have been anywh

[2018-06-01 11:38] erik-saarts commented on #40998
Nevermind my eagerness to report, appears omitting years and months from execution_time_limit string makes it work in win7 as well. As my aim was to remove execution time limit, simple PT0S would have sufficed for both OS-es.

[2018-06-01 11:38] #40998 closed, assigned to nobody

[2018-06-01 12:41] guillemsola opened #41003 "Azure vm module needs higher role for first start/stop action"
##### SUMMARY

The basic role to start/stop a machine in Azure is _DevTest Labs User_. With the Ansible module the first time a machine is started a _Contributor_ role is needed. Notice that after this "first time" the _DevTest Labs User_ can be used.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[2018-06-01 12:44] guillemsola commented on #41003
We found this issue while doing tests for #39958. It seems that there are some weird behaviors that happens only once using Ansible and Azure. Maybe they have some kind relation under the hoods.

[2018-06-01 12:58] webknjaz commented on #40817
And I confirm that this fixes the issue.

[2018-06-01 13:37] maxamillion commented on #17078
@srgvg I've tested this morning with the latest released `2.5.4` with your producer and I'm unable to recreate the issue you're seeing locally, is there any chance you can verify that this issue is still persisting for you? If so, I'd like to revisit. Thank you!

needs_info

[2018-06-01 13:43] bcoca commented on #40996
This is working as designed, it just doesn't cover this case, at this point i think we need 3 settings:

- fail if no inventory was parsed but source was provided (current setting)
- fail if any of the sources provided failed to parse (this ticket)
- fail on any parse failure(#40512)

[2018-06-01 13:45] s-hertel commented on #40997
Broken for all Ansible doc versions.
cc @acozine

[2018-06-01 13:52] amenonsen commented on #40996
If you have an inventory comprising multiple sources, is it really
useful to continue blithely on with playbook execution if parts of the
inventory are unavailable, but have a special setting to fail only if
ALL of the inventory sources fail together?

If all of your inventory fails, your plays probably aren't going to run
because of having no matching hosts anyway, so why do you need to do
anythi

[2018-06-01 13:59] bcoca commented on #40996
Yes, which is why i added the feature. I understand it is not the case for everyone, that is why i think we need multiple toggles so it works correctly in many varied contexts.

[2018-06-01 14:03] srgvg commented on #17078
@maxamillion I just tested, now both runs use the default uri, instead of the one within the role, so I can never overrule a module in any of both test cases.

http://paste.debian.net/1027588/

Are you sure your test showed the custom module being used, both times?

[2018-06-01 14:06] Qalthos commented on #40902
Right, so this is probably a vars issue. I'm assuming you have `ansible_port` set, that is also used by the `httpapi` connection. If you instead specify `ansible_ssh_port` and `ansible_httpapi_port` (if either is not the default value), you should be able to avoid the conflict

[2018-06-01 14:08] s-hertel commented on #40941
Hi @haisrig. That unclear traceback will be better in 2.6 (fixed in 29770a297ae19f0041c8daa6018747641d8e6ac8). From combing through it though, that message looks like the security token may be invalid or expired. How are you specifying credentials (environment variables, module parameters, ~/.aws/credentials file defaults)? I'd check the environment variable credentials to see if you have any set:

[2018-06-01 14:14] ryansb commented on #12959
This has been fixed since Ansible 2.5.0

[2018-06-01 14:14] #12959 closed, assigned to nobody

[2018-06-01 14:20] sivel commented on #38129
@nplawes this is achievable using:

[code]

Basically apply the `become` to a `block` that wraps your `include_tasks`.

[2018-06-01 14:21] mikewiebe commented on #40902
@Qalthos We are not explicitly setting `ansible_port` AFIK in our test runs.  Here is what confuses me about this issue.

We have 10+ Ansible servers that we are using in our nightly runs and we use the same scripts on all of them.  This problem only exhibits on some of them.

Here is my `group_vars/nxos.yaml` file content from one of the problem servers.

[code]

Here is my playbook for one of th

[2018-06-01 14:27] maxamillion commented on #22320
Hello all, thanks for the issue ticket and all the discussion. I was hoping to follow up. I'll echo other comments that this is most likely a `dnf` issue as the `dnf` Ansible module uses the [package_install](https://dnf.readthedocs.io/en/latest/api_base.html?highlight=package_install#dnf.Base.package_install) call from `dnf.Base` to handle the actual installation.

I'm curious if this issue is st

[2018-06-01 14:28] zikalino commented on #38883
@spmp please create pr, i will take care of merging it

[2018-06-01 14:29] 5f6b3fb8 commented on #40980
Actually, it looks like this was recently added in 2.5. When I Googled lvol, I was taken to the 2.3 docs, which does not have the feature. Closing.

[2018-06-01 14:29] #40980 closed, assigned to nobody

[2018-06-01 14:29] bcoca commented on #40996
agreed, i had not considered the other cases i outlined above when writing it

the case was presented to me in irc, i should have documented it better

[2018-06-01 14:30] mikewiebe commented on #40902
So the good news is that I added `ansible_httpapi_port: 80` to my groupvars file and the test now passes on the problem server but IMO this should not be needed.  It should default to `80` right?

[2018-06-01 14:30] nplawes commented on #38129
Thanks! That works...

I thought that I had tried it in a block, but clearly not... I probably "optimised" the blocks out at some point.

Now I just need to edit a ton of tasks :-)

[2018-06-01 14:34] Qalthos commented on #40902
It will default to the appropriate value based on `ansible_httpapi_use_ssl`, unless otherwise overridden.

[2018-06-01 14:37] #40727 closed, assigned to nobody

[2018-06-01 14:40] mikewiebe commented on #40902
Understood which is why I am confused about the current behavior I am seeing.

I am not explicitly setting `ansible_httpapi_port`, `ansible_httpapi_use_ssl` or `ansible_port` so I should be using default ports and not getting errors right?

[2018-06-01 14:43] rolette commented on #15019
I'm assuming the Ansible developers haven't seen any of the ongoing discussions since it was auto-closed 4 days after it was opened. I finally got around to posting a question on the mailing list to see if we can get it fixed that way.

https://groups.google.com/forum/#!topic/ansible-project/WCqmyKB46qQ

[2018-06-01 14:43] s-hertel commented on #40910
For ad-hoc you use `"ansible_local*"` as a filter and in the playbook you use `"ansible_local.*"`. Is that right? I don't see anything in the output that indications you have ansible_host.x outputs that would be found with that filter.

[2018-06-01 14:43] nickcmaynard opened #41008 "ovirt_disk :: Duplicate disk names causes wrong disk to be extended"
##### SUMMARY
The ovirt_disks module does not reliably extend disks when they are specified by `name` and `vm_name`.  If two disks exist that share the same name, then the first result is always selected.

The passed `vm_name` should be used to filter the search results and select the correct disk.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ovirt_disks

##### ANSIBLE VERSION

[code]

#

[2018-06-01 14:45] nickcmaynard commented on #41008
This will happen for all situations where:
1. A disk is defined in a template.
2. A VM is instantiated from the template.
3. Ansible attempts to expand the VM's root disk by `name` and `vm_name`.

[2018-06-01 14:49] Qalthos commented on #40902
It could also be set in ansible.cfg as `remote_port` under `[defaults]` or as `ANSIBLE_REMOTE_PORT` env var

[2018-06-01 14:53] s-hertel commented on #40941
needs_info (for above question about how you are using your credentials)

[2018-06-01 14:57] eoprede commented on #40913
I can chime in from the user's perspective. I am working right now through automating setup of the F5 with this ansible module. I am mostly done going through the bigip.conf parameters and so far I had to:
1) Submit bug fixes for bigip_monitor_http and bigip_monitor_https
2) Add modules bigip_monitor_dns, bigip_profile_fastl4 and bigip_profile_server_ssl
3) Add additional configurable parameters t

[2018-06-01 15:01] s-hertel commented on #40903
Does the openstack inventory plugin handle this as expected? Efforts are being put into the plugins rather than the scripts right now. https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/openstack.py

[2018-06-01 15:02] MikeN123 commented on #38129
@sivel is that really the suggested/recommended way of doing this? As the `include_tasks` is still dynamic and should not inherit vars, it seems weird or unintended that this works?

[2018-06-01 15:02] sivel commented on #40972
2.5.4 has been released, which may make testing easier.  Please let us know if 2.5.4 resolves your issues.

needs_info

[2018-06-01 15:06] sivel commented on #38129
@MikeN123 It is the suggested/recommended way and is completely intended/expected.  tasks from a dynamic include should not inherit directly from the `include_X`, but should inherit from static parents further up the tree.  This was explicitly fixed in https://github.com/ansible/ansible/pull/38827

Also, for the 2.7 release, Ansible will include a shortcut for achieving what using the `block` does

[2018-06-01 15:12] shibumi opened #41011 "register command: dict_object has no attribute 'rc'"
##### SUMMARY

There is no `rc` value after executing the `command` module with the commands: `dpkg-query -W frr`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Host running Ansible: Arch Linux
Host that I want to manage with Ansible: Ubuntu 18.04

##### STEPS TO REPRODUCE

Fire the following role o

[2018-06-01 15:13] shibumi commented on #41011
In particular I have used this tutorial to build this: https://chaosmail.github.io/programming/2015/03/04/install-deb-packages-in-ansible/

This doesn't seem to work anymore..

[2018-06-01 15:15] s-hertel commented on #40869
@jamessemai If you are so inclined you could make a pull request with your patch!

[2018-06-01 15:18] sivel commented on #41011
Please run with at least `-v` and provide the output.

Alternatively, you can place a `debug` task before `Copy .deb file to host and install it` that reads:

[code]

And validate what keys are available

needs_info

[2018-06-01 15:19] trishnaguha commented on #40902
@Qalthos I can reproduce the issue. If `ansible_httpapi_port` is not set, the port is getting set to ssh port `22` in the connection plugin httpapi. This should be 80 by default.

Did some debug. This is happening when httpapi port is not set in vars:
[code]

[2018-06-01 15:20] caphrim007 commented on #40913
@eoprede have you raised all of these issues and enhancement requests to F5? Specifically the f5-ansible repository that they maintain.

Have you contacted myself at my email address in my profile to make these things known?

I can say with confidence that F5 will **never** support all our product APIs in Ansible. It's not possible in their current state. The path we've been going down is working

[2018-06-01 15:27] maxamillion commented on #19177
@ZeiP can you provide the reproducer? I mentioned before that the original reproducer doesn't have the `site` var defined for `loop_var: site` so I'm unable to run it locally with debugging options enabled in ansible. Thank you!

needs_info

[2018-06-01 15:30] amenonsen commented on #40996
@bcoca does something like this look like what you had in mind?

[code]

I've tested it and it works in exactly the way I expect, and it still displays the individual warnings from each inventory plugin (i.e., it doesn't make debugging harder or anything like that).

[2018-06-01 15:35] Leletir opened #41012 "Terraform -var is not working as the cli"
##### SUMMARY
Hi guys, i'm trying to use the `terraform` module but I can't figure out how to pass 'variables' to terraform vars.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

terraform

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg
[code]

##### OS / ENVIRONMENT

Ubuntu 16.04

##### STEPS TO REPRODUCE

Indeed this is working.

[code]

But with Ansible:

[code]
I got:

`

[2018-06-01 15:37] perzizzle opened #41013 "bigip_node requires quorum field to enable existing node."
##### SUMMARY
When trying to set node state to enabled, quorum value must be specified.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_node

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No customizations

##### OS / ENVIRONMENT

BIG-IP 13.1.0.5 Build 0.0.5 Point Release 5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect the session and monitor state of

[2018-06-01 15:43] #40853 closed, assigned to nobody

[2018-06-01 15:47] mc-meta commented on #33284
Hello,

we seem to have a similar problem with ansible-2.7.0-1.201805312246git.5228b939fe.el7.ans.noarch
(so including #38369) towards Vsphere 5.5 update 3, pyvmomi-6.7.0.

Module invocation:
     vmware_guest:
       hostname: "{{ vcenter_host }}"
       username: "{{ vcenter_username }}"
       password: "{{ vcenter_password }}"
       validate_certs: no
       datacenter: "{{ vcenter_dc }}"

[2018-06-01 15:49] caphrim007 commented on #41013
@perzizzle in your example, is that a node that is being created? or one that is being updated?

[2018-06-01 15:51] bcoca commented on #27973
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The conditional applied follows the rules of `run_once` or 'bypass host loop' modules, `meta: end_play` is not PER host. As such the co

[2018-06-01 15:51] #27973 closed, assigned to nobody

[2018-06-01 15:52] mikewiebe commented on #40902
@Qalthos Thanks for your help on this.  I checked the `ansible.cfg` file on my problem server and you are correct that my `remote_port` is set under `[defaults]` to `22`.  The file exists on my server that works but it is commented out.

Not sure if this is all currently documented in one place but it would be good to:

1. Document the relationship between the different ports and how they can be s

[2018-06-01 15:54] eoprede commented on #40913
@caphrim007
You can write a module to support arbitrary parameters (you can see my ansible module for Fortigates as an example), but it goes against fixed argument spec policy with Ansible. Maybe F5 could help to change that?

As for contacting F5 - it takes me about 30 minutes to add modifications to or quickly build a new module. Going thorough F5 support (even the premium one) is just not feasi

[2018-06-01 15:59] caphrim007 commented on #40913
@eoprede I'm not asking you to contact support. I'm asking you to email me. I write all these modules and the Ansible work at F5 does not go through standard support channels. If you want your bugs and features fixed, it is in your best interest to contact me, and not do it yourself.

[2018-06-01 15:59] caphrim007 commented on #40913
I've also read the reasoning for fixed arg spec, and i agree with it. arbitrary params makes docs untenable.

[2018-06-01 16:00] perzizzle commented on #41013
@caphrim007 its a node that already exists, the only change I'm trying to do is set state=enabled

[2018-06-01 16:00] caphrim007 commented on #41013
@perzizzle can you provide the task that created the node? or PM it to me via email?

[2018-06-01 16:05] perzizzle commented on #41013
@caphrim007 I emailed your gmail the result of the bipip_facts for this node. It wasn't originally created by ansible.

I can try to reproduce with a new node that ansible creates in a couple minutes.

[2018-06-01 16:09] caphrim007 commented on #41013
@perzizzle ok. I'm taking a look

[2018-06-01 16:10] eoprede commented on #40913
I absolutely understand the reasoning for fixed arg spec, but I also think that it can be extremely limiting - just as we see it here.

As for contacting you - thanks for the offer. Once I am done with my work, I'll let you know what I needed to change.

[2018-06-01 16:12] caphrim007 commented on #41013
@perzizzle what is its current state (before the update) reported as? enabled? disabled? forced offline?

[2018-06-01 16:17] perzizzle commented on #41013
I am not able to reproduce with a barebones node created by ansible using

[code]

[2018-06-01 16:21] s-hertel commented on #40786
@osgarra You should fill out the template ansibot linked using the file gothicx provided as the component name. Filling out the template allows the bot to ping appropriate maintainers so they can find this as well as helping the person who will implement/fix the functionality.

[2018-06-01 16:25] #39296 closed, assigned to nobody

[2018-06-01 16:28] #22469 closed, assigned to nobody

[2018-06-01 16:28] #22470 closed, assigned to nobody

[2018-06-01 16:29] onitake commented on #40223
My bad, copy-pasta mistake.
Your fix was correct.

[2018-06-01 16:33] caphrim007 commented on #41013
@perzizzle before you went to update the node, was the state of the node one of the ones I mentioned above?

[2018-06-01 16:33] haisrig commented on #40941
I'm extremely sorry. Its issue with access keys. I'm able to create target group.

Many Thanks..

[2018-06-01 16:33] #40941 closed, assigned to nobody

[2018-06-01 16:35] sivel commented on #24440
This has been implemented in https://github.com/ansible/ansible/pull/33689

[2018-06-01 16:35] #24440 closed, assigned to sivel

[2018-06-01 16:37] perzizzle commented on #41013
One more detail. My initial issue was against a test host that was failing its icmp monitor. When I run against a healthy host, I don't get the quorum issue.

[2018-06-01 16:43] caphrim007 commented on #41013
@perzizzle do you mind testing a module in the f5-ansible repo to see if my changes improve this issue?

[2018-06-01 16:43] perzizzle commented on #41013
@caphrim007 sure, link?

[2018-06-01 16:44] bcoca commented on #40996
mostly, i was just stuck since the other ticket exposed an issue with partial inventories .. which exposed an issue with serialization ...

[2018-06-01 16:47] caphrim007 commented on #41013
@perzizzle one second. am running tests to make sure the existing work still works

[2018-06-01 17:00] kalibyrn commented on #36400
Not sure if this is related, but hopefully it will help track down the issue. I'm getting this error:

`fatal: [prep-test -> localhost]: FAILED! => {"changed": false, "msg": "The xml ansible module requires the lxml python library installed on the managed machine"}`

I'm using `delegate_to: localhost` and the localhost for sure has the module. In fact, I only get the error when the remote host is

[2018-06-01 17:02] caphrim007 commented on #41013
@perzizzle https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_node.py

[2018-06-01 17:03] seaneon commented on #39610
[](https://github.com/ansible/ansible/blob/devel/contrib/inventory/openstack.py)   - Something seems to have gone awry, or I am just late to the party.

[2018-06-01 17:03] seaneon commented on #39610
https://github.com/ansible/ansible/blob/devel/contrib/inventory/openstack.py

[2018-06-01 17:05] LunNova opened #41020 "apt_key ignores expired keys"
##### SUMMARY
apt_key does not handle expired keys well.

If a key has expired, adding it will fail with 'key does not seem to have been added', even though the key has actually been added.
Trying to remove the expired key shows ok, even though the key is still there. The key is not removed.

Caused/relates to https://github.com/DataDog/ansible-datadog/issues/103

##### ISSUE TYPE
 - Bug Report

#

[2018-06-01 17:13] caphrim007 commented on #40631
@eoprede using the stable-2.6 branch, I cannot reproduce this. Here is my own test that works fine on stable-2.6

https://github.com/F5Networks/f5-ansible/blob/devel/test/integration/targets/bigip_pool_member/tasks/provider/issue-00743.yaml

[2018-06-01 17:45] fredmiranda commented on #40921
So, I decided to erase everything and start all over again.
These are the steps I made so far:
- Formatted and reinstalled Proxmox in host
- Updated it to version 5.2-1, then rebooted the host
- Installed Python-pip, and installed 'proxmoxer' and 'requests' after
- Set-up a ZFS storage
- Created a dummy VM in my ZFS storage and turned it into a template.
- Wrote a new ansible playbook for create a

[2018-06-01 17:48] perzizzle commented on #41013
@caphrim007 That resolved the issue.

one new one showed up though. I had to specify the default server_port: 443 to run. When I omitted it I got

[code]

I only downloaded the bigip_node.py and module_utils from that test repository. Not sure if this is a result of how I tested.

[2018-06-01 17:49] #41013 closed, assigned to nobody

[2018-06-01 17:50] mikewiebe opened #41023 "nxos_udld module broken for connection httpapi"
##### SUMMARY
Running the integration tests reveals a problem for connection httpapi.

Module tests pass for all other connection types.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_udld
nxos_os_install

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu

##### STEPS TO REPRODUCE
[code]

[2018-06-01 17:51] Qalthos commented on #40902
Okay, I've taken this apart and back, and I've come to a few conclusions.

`ansible_ssh_port` seems to get special handling, and gets automatically turned to `ansible_port` before option processing happens. This is, I'm sure, for important historical reasons.

This means that I can't rely on `ansible_port` to be generic, if `ansible_ssh_port` is set, that gets pushed to `ansible_port`... presumabl

[2018-06-01 17:52] mikewiebe commented on #40683
I believe we can consider this issue closed for the truncated output problem.  I will file separate issues for `meta: reset_connection` and module `nxos_install_os` crash using connection `httpapi`

[2018-06-01 17:52] caphrim007 commented on #41013
@perzizzle did you get all the module_utils/network/f5 files? the default port should be set automatically, but it is a function of the bigip.py and common.py

[2018-06-01 18:02] caphrim007 commented on #41013
and possibly the bigip.py action plugin

[2018-06-01 18:06] perzizzle commented on #41013
@caphrim007 Yeah this is definitely a product of my setup. How do you load in that side repository? I have a custom ansible.cfg that specifies the location of module and module_utils.

I thought I had grabbed the whole module_utils but in fact I had only grabbed common.py. When grabbed all of module_utils, I don't get any errors when not specifying server_port.

[2018-06-01 18:14] caphrim007 commented on #41013
@perzizzle we recommend following method #1 described here

http://clouddocs.f5.com/products/orchestration/ansible/devel/usage/installing-modules.html#method-1-install-in-a-relative-location-recommended

[2018-06-01 18:15] ITD27M01 commented on #40228
@bcoca
Hi
I think you don't understand the issue correctly.
Currently (because of this issue) I am using openstack.py inventory script from contrib directory of ansible repo. The dynamic inventory plugin for openstack is based on this contrib script. This script generates correct inventory (ansible-inventory --list works as expected):

hosts from "linux" group have only variables from group_vars/l

[2018-06-01 18:36] saichint opened #41025 "nxos_banner issue"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_banner
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N3K running 9.2(1)I9(1)

##### STEPS TO REPRODUCE

* In newer platforms, when we try to set multi line banners, the platform throws intermittent errors like "Banner with more than 40 lines is not allowed" or "message buffer ov

[2018-06-01 18:37] s-hertel commented on #40740
cc @abadger

[2018-06-01 19:02] #40817 closed, assigned to webknjaz

[2018-06-01 19:03] shibumi commented on #41011
mhh nevermind.. suddenly it works as expected. I am 100% sure during the first runs it didn't.  I will re-open when it happens again and I can provide some output.

[2018-06-01 19:20] webknjaz commented on #40817
FTR: this regression has been introduced by https://github.com/ansible/ansible/pull/39833/files#diff-3934fe5332a78d0a3719f8e468f72272L128 18 days ago

[2018-06-01 19:42] bcoca commented on #40228
@ITD27M01 i doubt that since inventory plugins are not involved in `group_vars`, vars plugins are.

[2018-06-01 19:46] eoprede commented on #40631
@caphrim007
Here's the example playbook that fails:
[code]
Here's the -vvv example:
[code]
And the ansible that I am running:
[code]

[2018-06-01 19:53] eoprede commented on #40631
And the actual object as displayed in the CLI:
[code]

[2018-06-01 19:58] s-hertel commented on #40910
I can't reproduce. Using the same filter I get the same output with ad-hoc and a playbook. needs_info for the above question

[2018-06-01 20:04] caphrim007 commented on #40631
@eoprede these are my tasks

[code]

The first time I run it, I get this

[code]

The second time I run it and all times afterwards, I get this

[code]

No change it happening. Do you get the same effect with my tasks?

[2018-06-01 20:06] mikewiebe commented on #40013
@trishnaguha I have a potential workaround that I am testing now.  If it works then I will open a PR soon.

[2018-06-01 20:35] 0xDEC0DE opened #41031 "template + {% raw %} + register = failures"
##### SUMMARY
Using the `template` module to emit a file with Jinja2-like strings in it, protected by `{% raw %}` tags, and using `register` to capture/inspect the result, causes failures when the template is changed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Stock configuration

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPR

[2018-06-01 20:43] acozine opened #41032 "Add warning to docs that inputs must be UTF-8"
##### SUMMARY
With a few exceptions, all input processed by Ansible (playbooks, vars files, template files, etc.) must be encoded in UTF-8. Incorporate this information into the documentation, with a list of exceptions.

Known exceptions (add more in comments):
- some modules have an encoding parameter so you can operate on files which use non-utf-8 encodings (find out which ones)
- copy module do

[2018-06-01 20:58] sivel commented on #41031
This issue was resolved in https://github.com/ansible/ansible/commit/7ff9fa52cfcef2065f0db80d85dd94b9b754839c and subsequently included in the 2.2.3 release.

At this time 2.2 is no longer supported.  You should consider upgrading to 2.5.4.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2018-06-01 20:58] #41031 closed, assigned to nobody

[2018-06-01 21:00] acozine commented on #41032
Per @thaumos a good place to document this is on http://docs.ansible.com/ansible/latest/user_guide/playbooks_templating.html

[2018-06-01 21:06] eoprede commented on #40631
@caphrim007
It looks like adding monitor does the trick:
[code]

And here's the output of all of the runs after the 1st one:
[code]

[2018-06-01 21:14] saichint opened #41033 "nxos_snapshot issue"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_snapshot
##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I7(3)

##### STEPS TO REPRODUCE

*  There is a parameter ```save_snapshot_locally``` which saves the snapshot after it is created to the local directory. However, it is right now just saving the name of the

[2018-06-01 21:27] caphrim007 commented on #40631
@eoprede I can re-produce this.

[2018-06-01 21:36] mintsoft commented on #40528
Support for this was added with https://github.com/ansible/ansible/pull/38366 using the `in_place` flag

[2018-06-01 21:39] caphrim007 commented on #40631
@eoprede try the version of the module in devel and see if you have better luck. If so, I will backport it to 2.6

[2018-06-01 21:49] maxamillion commented on #18232
Alright, I've tracked this down a bit more. The root cause is that the action plugin for `copy` which runs operations on the control host to orchestrate executing both local actions on the control host and remote actions on the remote host is not returning the `dict` containing the `invocation` `dict`, this happens [here](https://github.com/ansible/ansible/blob/20b9ca6e7c572962c6ee4d9dedc8b303f859

[2018-06-01 21:59] eoprede commented on #40631
Looks good, thanks!

[2018-06-01 22:50] adambirds commented on #29560
Thumbs up for this in the systemd module as well.

[2018-06-01 22:59] eoprede commented on #40631
@caphrim007 Spoke too soon.
Here's example from run:
[code]
As you can see, the 1st member is changed.
Here's what CLI displays:
[code]

I think this happens because this particular case, the 1st member's state is up - because in this particular example the member is actually up. It would seem that the F5 returns not only the configured state, but the actual state - and that's what's messing up th

[2018-06-01 23:43] sw-elling commented on #39802
I found that this was caused by including "mode" parameter with a value other than "0777".

[2018-06-01 23:43] caphrim007 commented on #40631
@eoprede try this module here

https://github.com/F5Networks/f5-ansible/blob/devel/library/modules/bigip_pool_member.py

[2018-06-01 23:47] atnoslen opened #41039 "ios_command is running a completely different command than supplied"
##### SUMMARY
ios_command is running a completely different command sometimes.  In this case, `show version`.

This appears close to https://github.com/ansible/ansible-modules-core/issues/5725 however, this is running a completely different command, not just mangling the command around the `|`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_command
##### ANSIBLE VERSION

[code]

#####

[2018-06-01 23:47] sw-elling commented on #39802
Per the "chmod(1)" Linux man page:

Perhaps the best option is to ignore "mode" when dealing with symlinks.

[2018-06-02 00:17] atnoslen opened #41040 "ios_config task that does not have a change sometimes changes if run after a task that has a change"
##### SUMMARY

Two hosts, Cisco routers.  Run a task, such as updating some prefix lists.  This passes without change.  Run a second task that would have changes.  Run the first task again, the task says it has changes, but only on one of the devices.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows

[2018-06-02 01:22] orderedchaosdev opened #41042 "Bugged behavior using block with include tasks in a playbook"
##### SUMMARY

While using a block in a task added through include_tasks or import_tasks, I have noticed the output seems to desync and cause odd behavior and output.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

block
include_tasks
import_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

I have 5 hosts that this would run agai

[2018-06-02 01:27] orderedchaosdev commented on #41042
I updated it to add an additional bugged output from changing which playhost fails

[2018-06-02 01:39] orderedchaosdev commented on #41042
I updated the ansible version to include ansible 2.5.4.0 as well.

[2018-06-02 02:32] eoprede commented on #40631
@caphrim007 Thanks!
If I change
`elif self._values['state'] == ['down', 'up'] and self._values['session'] == 'monitor-enabled':`
to
`elif self._values['state'] in ['down', 'up'] and self._values['session'] == 'monitor-enabled':`
it seems to work without any issues.

[2018-06-02 03:39] dmsimard opened #41043 "pip module considers an empty string as a version"
##### SUMMARY
pip module considers an empty string as a version and attempts to install an empty string version.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
not relevant

##### OS / ENVIRONMENT
not relevant

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2018-06-02 04:09] abadger commented on #40740
What happens if you set follow=False?

On Fri, Jun 1, 2018, 11:37 AM Sloane Hertel <notifications@github.com>
wrote:

[2018-06-02 04:09] caphrim007 commented on #40631
whoops. yes, you're right. I've fixed it. will push the change up her

[2018-06-02 04:09] #40631 closed, assigned to nobody

[2018-06-02 04:46] trishnaguha commented on #40902
@Qalthos right. I have ansible_ssh_port set. Your PR seems the right one to resolve the issue.

[2018-06-02 04:56] trishnaguha commented on #40683
@mikewiebe That sounds good to me.

[2018-06-02 04:59] trishnaguha commented on #40683
resolved_by_pr https://github.com/ansible/ansible/pull/40960

[2018-06-02 05:02] #40683 closed, assigned to Qalthos, trishnaguha

[2018-06-02 06:49] ITD27M01 commented on #40228
@bcoca

ssh connection uses private key for auth but winrm requires user/password. So I have conflict with ansible_user/ansible_password parameters.

In any case, I don't understand why the mixing of variables from different groups is considered to be expected and normal behavior.

[2018-06-02 06:55] ITD27M01 commented on #40228
@bcoca
An example of a mix of variables:
https://github.com/ITD27M01/ansible-openstack-bug/blob/master/openstack-inventory.json#L124

[2018-06-02 07:53] packetninja commented on #39663
I ran into this as well. Unfortunately I lack the knowledge to fix this myself, I'll work around it statically. Thanks for the work @rrey

[2018-06-02 08:40] mkrizek commented on #41042
Note, this might be a duplicate of https://github.com/ansible/ansible/issues/35356. PR that attempts to fix that issue is https://github.com/ansible/ansible/pull/36056.

[2018-06-02 09:53] nallar commented on #41020
The line with the expired check:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/apt_key.py#L177

[2018-06-02 09:56] nallar commented on #41020
Changed intentionally in #21539

[2018-06-02 10:51] ghost opened #41046 "Changing case size in local_action shell"
##### SUMMARY

When I setting variable as name of azure subscription like azure_sub_name: "Microsoft Sponsorship" and calling this variable in task as local_action: shell "az account set - - subscription {{ azure_sub_name}}" I'm getting an error: No subscription "microsoft sponsorship" available. Task somehow changing upper case to lower case.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[2018-06-02 18:36] gitqlt commented on #16052
Even with `ansible_python_interpreter=/usr/bin/python3` I get the same error, when the remote, unprivileged username is `admin`
/usr/bin/python3: can't open file '/root/.ansible/tmp/ansible-tmp-1527964033.24-76591978792337/stat.py': [Errno 13] Permission denied\r\n"

[2018-06-02 18:37] bstarandeep opened #41051 "VMWARE_GUEST module, creating multiple VM by looping VM name mentioned in the list"
Hello Team,

I am getting below error. I try to achieve the looping of VM name which is mentioned in the separate list.

[code]
My playbook details.

[code]

[2018-06-02 18:38] gitqlt commented on #35274
@paxpacis  This issue is closed. I commented in
https://github.com/ansible/ansible/issues/16052#issuecomment-394107618

[2018-06-02 19:44] bstarandeep commented on #41051
TASK [Clone a VM from Template and customize] **************************************************************************************************************************
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "msg": "Unsupported parameters for (vmware_guest) module: with_items Supported parameters include: annotation, cdrom, cluster, customization, customvalues, datacenter,

[2018-06-03 02:11] drew1kun opened #41056 "copy module: [Errno 13] Permission denied: <file>"
##### SUMMARY

`copy` module in conjunction with `become: yes` doesn't copy the file from local path to remote host, if ansible user does not have permissions to copy file specified in `src` without sudo.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

MacOS 10.13.4 (17E199)

##### STEPS TO REPRODUCE

[code]

[2018-06-03 06:35] drew-kun commented on #41056
I have also tried adding `delegate_to: localhost` to see if it may work in case when ansible control host and managed host is the same machine, but got absolutely the same issue...
May be related to https://github.com/ansible/ansible/issues/6948.

[2018-06-03 07:42] toshipp opened #41060 "tasks can not work with ansible_connection=lxc using python3"
##### SUMMARY

When using python3 and  ansible_connection=lxc,  tasks failed with an exeception.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lxc connection plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

set `remote_tmp = /tmp/`

##### OS / ENVIRONMENT

Host: Arch linux
Lxc target: Debian Buster

I use latest python3-lxc module (https://github.com/lxc/python3-lxc).
I install

[2018-06-03 11:04] tomkins opened #41061 "ansible_virtualization_role incorrectly set to host on DigitalOcean droplets"
##### SUMMARY

`ansible_virtualization_role` is incorrectly set to `host` on DigitalOcean droplets - it should be `guest`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Target server:

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`ansible_virtualization_role` should be set to `guest

[2018-06-03 12:43] Akasurde commented on #41061
resolved_by_pr #41062

[2018-06-03 12:49] Akasurde commented on #41051
@bstarandeep Thanks for reporting this issue. `with_items` is task level parameter just like `register`, error message suggest correctly about this.

Your PB should look like -

[code]

We think this is a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/fo

[2018-06-03 12:49] #41051 closed, assigned to nobody

[2018-06-03 12:55] Akasurde commented on #41043
resolved_by_pr #41044

[2018-06-03 13:57] auto2mate commented on #40807
I have fixed the host file entry and now getting bellow error. The curl works fine now though.

    "msg": "received exception: HTTP Error 401: F5 Authorization Required\ntraceback: Traceback (most recent call last):\n  File \"/var/folders/lt/2c392m996zn8bzfrg5vxnwjh0000gn/T/ansible_xdLZdf/ansible_module_bigip_facts.py\", line 1697, in main\n    saved_active_folder = f5.get_active_folder()\n  File

[2018-06-03 14:03] Akasurde commented on #40925
resolved_by_pr #41064

[2018-06-03 14:03] Akasurde commented on #40925
@jralbert Thanks for reporting and debugging this issue. Could you please check above PR and let us know if it works for you ?

[2018-06-03 15:09] ostcar commented on #35428
But then i still have to create a key. It is much easier to use the the feature of bind, to use to autogenerated local key.

[2018-06-03 15:16] auto2mate commented on #40807
After adding user/password, it worked. I wanted to pass the user credentials using vars_prompt. When I added the vars for user/password. the script executes just ok and no facts displayed -

---
- name: Playbook for F5
  hosts: LB
  connection: local
  gather_facts: false
  vars_prompt:
    - name: "user"
      prompt: "Enter userame:"
    - name: "pass"
      prompt: "Enter password:"
  tasks:

[2018-06-03 16:23] lastsky opened #41065 "add working example to docs"
##### SUMMARY
there are no examples for module `user`

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
`user`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
 - not depends

##### OS / ENVIRONMENT
 - not depends

##### STEPS TO REPRODUCE
1) go to http://docs.ansible.com/ansible/latest/modules/user_module.html
2) find no working and nice example

##### EXPECTED RESULTS
1) go to ht

[2018-06-03 18:10] nd4pa commented on #40305
Hello @pascalheraud ,
I'm currently working on a PR for the ovh_ip_loadbalancing_backend :

Do you think that handling parameters this way could be a good idea:
[code]
where options is a dict containing the options send to OVH, that way people would refer directly to
https://api.ovh.com/console/#/ipLoadbalancing/%7BserviceName%7D/http/farm/%7BfarmId%7D/server#POST except for the displayName ( the

[2018-06-03 20:21] improvethings opened #41066 "Can't parse files with root directory having a space in it"
##### SUMMARY

Can't parse files with root directory having a space in it

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Attempting to read ssh private keys in local directory, which has a space in the name

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect the hosts file to be read, and the ssh pr

[2018-06-03 22:46] maxamillion commented on #18232
@abadger I'm trying to figure out a reasonable way to implement a fix for this without effectively re-implementing (and therefore effectively having to maintain two versions of it) the [`_return_formatted`](https://github.com/ansible/ansible/blob/eb209e92c90d7d8e838356152f763f076148b737/lib/ansible/module_utils/basic.py#L2308) method of the `AnsibleModule` class. Any thoughts/suggestions?

[2018-06-03 23:39] cigamit commented on #40564
Did you also install perl in the template?  You typically see this when open-vm-tools is unable to customize the install (and it will fail if perl isn't installed).  VM disables the NICs and then leaves it up to vmtools to re-enable them after the customization is complete.
There should be a log file that will show exactly what is happening, check
/var/log/vmware-imc/toolsdeploypkg.log

[2018-06-04 02:12] yuwzho commented on #40824
@yungezz Could you please take a look?

[2018-06-04 02:15] jdogg89 commented on #40824
I won't be able to take a look for a week, you can close the issue and I
can re open it at a later time if needed

On Sun, Jun 3, 2018, 9:13 PM Yuwei Zhou <notifications@github.com> wrote:

[2018-06-04 02:50] jborean93 commented on #40867
This is now possible with https://github.com/ansible/ansible/pull/39400. It will be included in the 2.6.0 release.

[2018-06-04 02:50] #40867 closed, assigned to nobody

[2018-06-04 02:53] jborean93 commented on #40869
@jamessemai would happily accept that in a pull request.

[2018-06-04 02:53] yuwzho commented on #40927
#40774 #40773 #40646 #40780 #40804 I find the 5 PRs currently

[2018-06-04 03:18] yungezz commented on #40927
add one more #41071

[2018-06-04 03:20] saito-hideki opened #41072 "syslog_facility setting is no effect when it using systemd-python"
##### SUMMARY

`syslog_facility` does not effect when systemd-python installed on target host.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

- ansible.cfg
- ansible/module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I'm using the following ansible.cfg for testing:

[code]

Also I have set the following setting to /etc/rsyslog.conf on target servers:

[code]
##### O

[2018-06-04 03:49] 3rdstage commented on #35992
You can use `json_query` filter without defaulting every step

[code]

The above codes would work fine, if `foo.a` is undefined, `foo.a.nested` is undefined, `foo.a.nested.var` is undefined, or `foo.a.nested.var` is defined.

The `json_query` filter is available since Ansible 2.2 and needs [JMESPath ](http://jmespath.org).  JMESPath is general path language on JSON documents and can provide more p

[2018-06-04 04:42] saito-hideki commented on #40752
@gdpak I'm sorry I made mistake. I set wrong string as a variables.
Now It worked properly without errors. I'll close this case.

[2018-06-04 04:43] #40752 closed, assigned to ganeshrn, gdpak

[2018-06-04 05:23] #41025 closed, assigned to nobody

[2018-06-04 05:45] #34992 closed, assigned to nobody

[2018-06-04 06:01] #41023 closed, assigned to trishnaguha

[2018-06-04 06:04] trishnaguha commented on #41023
cherry-picked to stable-2.6

[2018-06-04 06:35] pascalheraud commented on #35428
Ok, I see what you mean. Indeed, if you have root access to the server, you have no need to keep the key locally.

[2018-06-04 06:42] pascalheraud commented on #40305
I think it's a good idea for the numerous, optional, parameters like  ssl, chain, ...
For mandatory ones that seem to be there for a long time like "address", I think they should be explicit into the module. What about "status"  ? I think it should be a module parameter like cron does with 'disabled' : http://docs.ansible.com/ansible/latest/modules/cron_module.html

[2018-06-04 07:02] rgarrigue opened #41077 "ansible-galaxy --ignore-certs : add an option so git ignore self signed certificate too"
##### SUMMARY

I expected ansible galaxy's `--ignore-certs` option to enforce git's `-c http.sslVerify=false`. It doesn't, ansible-galaxy install fail on git clone. And I see no related option described in `--help`.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

`ansible galaxy --git-ignore-certs`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed

##### OS / ENVIRONMEN

[2018-06-04 07:55] rcarrillocruz commented on #40999
resolved_by_pr 40820

[2018-06-04 07:55] #40999 closed, assigned to nobody

[2018-06-04 08:00] rcarrillocruz commented on #41040
Could you please provide templates/iosxe/prefix_list.j2 template ?

[2018-06-04 08:00] rcarrillocruz commented on #41040
needs_info

[2018-06-04 08:04] rcarrillocruz commented on #40953
This is not a bug, but rather you asking for help on how to develop a new module.
Can you please have this discussion on #ansible-network channel on Freenode IRC servers?

We will be able to help you out there.

[2018-06-04 08:04] rcarrillocruz commented on #40953
not_a_bug

[2018-06-04 08:04] #40953 closed, assigned to nobody

[2018-06-04 08:18] #40925 closed, assigned to Akasurde

[2018-06-04 08:20] #41046 closed, assigned to nobody

[2018-06-04 08:21] adamsem commented on #41046
Problem in az cli

[2018-06-04 08:47] nd4pa commented on #40305
That seems reasonable to me, i'll go with that, i think status should be an optional module parameter, with enable as default value.

[2018-06-04 08:48] bbung opened #41079 "ec2_vpc_nacl failes on update"
##### SUMMARY
I have a very basic ACL and the first creation and the deletion this (state: 'absent' ) work fine. If i however change something (and it can be only the value of a tag.) The "update" failes with the following error:

`"msg": "An error occurred (InvalidParameterValue) when calling the DeleteNetworkAclEntry operation: Value (32768) for parameter ruleNumber is invalid. Rulenumber must b

[2018-06-04 09:39] Akasurde commented on #17194
@bbaassssiiee Could you please check if https://github.com/ansible/ansible/pull/34621 works for you ? needs_info

[2018-06-04 09:59] DominikChmiel opened #41080 "add_host using with_uri and when leads to unexpected failure if host is unreachable"
##### SUMMARY

When using "add_host" alongside an invalid "with_uri" url, the url is evaluated before any "when" conditions on the block, leading to failures if the url is unreachable even though the task should be skipped.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

add_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Output of `ansible-config dump --only-changed` is empty.

#

[2018-06-04 10:06] yungezz opened #41081 "azure_rm_securitygroup failed in non-public azure cloud"
##### SUMMARY

azure_rm_securitygroup failed in non-public azure cloud.
cloud_environment=AzureUSGovernment
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

TASK [Create Network Security Group that allows SSH] **********************

[2018-06-04 10:15] shibumi commented on #41011
@sivel I could reproduce this issue:

Here is the output of `debug: var=frr_check_deb`:
[code]

The error message one step later is:
[code]

Do I have a mising dependency on the host?!

[2018-06-04 10:19] shibumi commented on #41011
One step before the `debug`-output I get this message for the step "check if FRR is installed":
[code]

[2018-06-04 10:26] shibumi commented on #41011
@sivel sorry for stealing your time.. found the issue.. of course I have no intel about the result of the command because I am running it with `ansible-playbook --check` :man_facepalming:

[2018-06-04 10:26] #41011 closed, assigned to nobody

[2018-06-04 10:32] mkrizek commented on #41042
Duplicate of #35356

[2018-06-04 10:32] #41042 closed, assigned to nobody

[2018-06-04 10:41] liqingkai2017 opened #41082 "network module when we need prompt- answer twich，like our ftp command need to input username and password,and it seems that is not supported now!"
##### SUMMARY
when using the network module, now we need prompt- answer twich，like our ftp commands need to input username and password independent,and it seems that is not supported now!

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION
2.5.0 Beta 1
[code]

##### CONFIGURATION
config file = /etc/ansible/ansible.cfg
configured module search path = [u'/root/

[2018-06-04 10:48] Akasurde commented on #17469
resolved_by_pr #41085

[2018-06-04 10:56] jorti commented on #37984
This commit fixes the issue for me. Please, add the fix in the next release.

Thanks!

[2018-06-04 11:17] Vladimir-csp opened #41086 "Unrendered variables in new 'loop' iterators"
##### SUMMARY
I replaced `with_dict: "{{ dictname }}` iterators with `loop: "{{ lookup('dict', dictname) }}"`. Data from `dictname` now contains literal `{{ vairable }}` strings instead of rendered values.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2018-06-04 11:35] Akasurde commented on #14736
Closing this issue as PR #17079 is merged. If issue persists, please feel free to re-open.

[2018-06-04 11:35] #14736 closed, assigned to nobody

[2018-06-04 11:37] 1021ky commented on #40805
bot_status

[2018-06-04 11:44] 1021ky commented on #40805
@ansibot bot_status

[2018-06-04 11:46] bpetit commented on #16052
Hi,

I get this error too. With the following task:

- name: create postgresql database
  postgresql_db:
    name: "mydb"
  become: true
  become_method: "su"
  become_user: "postgres"

ansible version: 2.5.3

target os: debian 9.4

[code]
I tried this using both users admin and an ordinary user, with the same result.

[2018-06-04 11:50] Akasurde commented on #15030
I guess this is related to travis-yaml problem rather than Ansible - See https://github.com/travis-ci/travis-yaml/issues/58 and https://github.com/travis-ci/travis.rb/issues/422

[2018-06-04 12:00] Akasurde commented on #20977
@bcdonadio @tonyskidmore Could you please check #34642 and let us know if it works for you ?

needs_info

[2018-06-04 12:16] elacour commented on #29509
Sorry for the late answer, unfortunatly I no longer have patch for this, mine was too ugly and incomplete. We currently first check for installed pacakages in our playbook, then upgrade those ones, but it's far slower than toding it at once in the module.

[2018-06-04 12:54] Akasurde commented on #20977
bot_skip

[2018-06-04 13:04] Akasurde commented on #24072
Closing this issue as PR #23703 is merged. If issue persists, please feel free to re-open.

[2018-06-04 13:04] #24072 closed, assigned to nobody

[2018-06-04 13:23] #29455 closed, assigned to abadger

[2018-06-04 13:46] paulbadcock opened #41090 "NIOS ptr record"
##### SUMMARY
Support to add a PTR record via the nios module. eg: nios_ptr_record.py

The PTR option would allow the recording of an individual reverse DNS record

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nios

##### ANSIBLE VERSION
[code]

[2018-06-04 13:51] machacekondra commented on #41008
I've sent following fix: https://github.com/ansible/ansible/pull/40934
Here is backport for 2.6: https://github.com/ansible/ansible/pull/41092

I would appreciate if you can test and let me know if it resolves you issue, thanks.

[2018-06-04 14:27] Straevaras commented on #22930
This is also broken for me on ansible-2.4.4.0.

[2018-06-04 14:36] bbung commented on #30156
Hi,
idempotency is not working with correct cidr like this:
cidr_ip:
          - 192.168.0.0/16
          - 10.1.0.0/16
          - 10.18.0.0/16

i do always get a changed state on each execution.

[2018-06-04 14:51] #38757 closed, assigned to nobody

[2018-06-04 15:20] Yannick91 opened #41096 "URI module can not cope with key variables in Headers"
##### SUMMARY

The issue I have is that when we use the URI module (which is a very practical module to have a clear overview of the rest calls) is that we can not use variables replacing the key's in headers (an example to clear this out):
[code]
= {{am_cookie_name}} is not being read out as this is a key ... value of key's are fine.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

URI modu

[2018-06-04 15:21] nickcmaynard commented on #41008
Thanks will take a look.

[2018-06-04 15:23] sm4rk0 opened #41097 "Future of Ansible @ GitHub after Microsoft acquisition"
##### SUMMARY
I don't want to continue using GitHub after it (and all of us, its users and projects) have been sold to Microsoft. Is there any plan on migrating elsewhere, or is this the end of my contributorship?
I understand this is still very fresh news, at least for me, so I don't expect this question answered ASAP.

https://blog.github.com/2018-06-04-github-microsoft/
https://news.microsoft.c

[2018-06-04 15:36] movergan commented on #17014
Can we reopen it? I have nodes which are in cluster (windows fail-over cluster). And I need to use node address in zabbix agent configuration. The one which the agent will be listening on. As a part of cluster windows creates "Tunnel adapter Local Area Connection* 2:" so its' IP also returned as a part of ansible_ip_addresses what is not useful.

I wish there was one main IP address variable (ansi

[2018-06-04 15:42] atnoslen commented on #41040
prefix_list.j2
[code]

Further, I launched the debugger and looked at the hostvars for both runs, they're identical (I can provide them, but could contain sensitive information).

I only have `prefix_list_block` defined as such:

[code]

[2018-06-04 15:50] YuraGB commented on #26741
me  helped => sudo pip unistall ansible== 2.4.0 => sudo pip install ansible==2.4.4

[2018-06-04 16:05] bcoca commented on #41097
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project
   * To propose major features or c

[2018-06-04 16:05] #41097 closed, assigned to nobody

[2018-06-04 16:14] eoprede opened #41099 "F5 can not add enabled vlan with bigip_virtual_server"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_virtual_server
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

NA
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-06-04 16:16] eoprede commented on #41099
@caphrim007
I seems that the enabled_vlan input is currently getting ignored. Could you take a look when you have a chance? Thanks!

[2018-06-04 16:30] caphrim007 commented on #41099
@eoprede, you're not specifying them in your task...it doesn't surprise me that they're not being assigned

[2018-06-04 16:50] LeeseHe commented on #5392
Seems bool is not supported anymore? I have this in template: "{{fabric|bool}}" but seeing the following error. Is there any other way to cast the string in boolean?  The template is in yaml.

jinja2.exceptions.TemplateAssertionError: no filter named 'bool'

[2018-06-04 16:53] eoprede commented on #41099
@caphrim007 Thanks, severe case of Monday idiocy...

[2018-06-04 16:53] #41099 closed, assigned to nobody

[2018-06-04 17:34] jralbert commented on #40925
@Akasurde Yes, the applied PR resolves this issue - thanks for the quick turnaround on this!

[2018-06-04 17:38] GoodMirek commented on #40511
Does not work for me with the latest versions. Ansible node is Ubuntu 16.04, instrumented node is Ubuntu 18.04.
Instrumented node:
[code]

The ansible node:
[code]

Error printed by `ansible`:
[code]

With `region` parameter it works correctly.

[2018-06-04 17:42] MaxRuas commented on #21735
I have ansible version above 2.3 as you can see below but I still have this problem, any suggestion would be much appreciated.

[root@localhost mongodb]# ansible --version
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.6/site-pac

[2018-06-04 17:42] atnoslen commented on #41040
Was not able to reproduce on Ansible 2.4.4.
[code]

[2018-06-04 18:00] BlackthornYugen commented on #38730
@NickLavrov Thanks! That sort of makes sense. They event comment just above that there can be `several MX records for a single record_name`. So either it should remove all records if `record_value` is absent, or, to be more conservative it could throw an error so that I can add the logic to discover the existing records and delete those explicitly.

[2018-06-04 18:01] actionless commented on #16616
@tima your suggestion seems to be not any effective

[2018-06-04 18:09] mfisher30 commented on #40919
@gdpak

I did some testing utilizing the j2 template. Noticed a couple problems...

1) If the prefix-set already exists in the router, the module will fail.  It doesn't matter if I have the comment in there or not, it fails on trying to exit out of the hierarchy. Work around was to remove the set prior to configuring. End-set also fails if it exists because of the commit... needed to use exit to g

[2018-06-04 18:18] colin-mccarthy opened #41100 "ios_config not configuring all lines of access-list."
##### SUMMARY

The access list is not being configured correctly. The before parameter wipes out the ACL, but ansible only configured the one new line (5.5.5.5) from the playbook. When the playbook is run a second time, it then configures all the lines from the playbook.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_H

[2018-06-04 18:26] NickLavrov commented on #38730
@BlackthornYugen The documentation is incorrect or misleading, unfortunately:

[code]

seems to imply that you don't need `record_value`. I'm not sure then if this is just a documentation bug or what. I am a fan of your suggested solution of throwing an error.

fwiw, I ended up adding some logic that uses `route53_facts` to get the list of records and I use that to get my `record_value`.

[2018-06-04 19:52] bcoca commented on #41056
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `src` for copy and other modules (backed by action plugins) that transfer files is normally expected to be available as the user ru

[2018-06-04 19:52] #41056 closed, assigned to nobody

[2018-06-04 20:01] abadger commented on #16052
@gitqlt Your particular problem is different.  Ansible-2.5 added the ability to specify which usernames are considered administrative accounts.  You can configure this via the admin_users setting: http://docs.ansible.com/ansible/devel/plugins/shell/sh.html?highlight=admin_users I'm talking to the other committers about changing the default value of that so admin is no longer in there (perhaps chan

[2018-06-04 20:14] bcoca commented on #41065
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

There are several 'working' examples in the user module, they are not meant to be full plays, just tasks in a play.

If you want to sub

[2018-06-04 20:14] #41065 closed, assigned to nobody

[2018-06-04 20:21] bcoca commented on #40805
that error message normally comes from when you install Ansible with brew, the pip install does not looks in `/etc/ansible/hosts`. Can you make sure you are using the pip version?

needs_info

[2018-06-04 20:33] bcoca commented on #41080
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

So `when` always evaluates PER item in a `with_` loop, you cannot avoid having a proper definition in `with_` using `when`.

In the fut

[2018-06-04 20:33] #41080 closed, assigned to nobody

[2018-06-04 20:36] bcoca commented on #41080
You do have several alternatives, this is probably simplest:
[code]

[2018-06-04 20:49] francisjes opened #41104 "unable to login and get the desired results from cisco ios devices using ansible playbook"
##### SUMMARY
unable to login and get the desired results from cisco ios devices using ansible playbook

##### ISSUE TYPE
 - unable to execute ansible playbook for cisco ios devices

##### COMPONENT NAME
Cisco IOS

##### ANSIBLE VERSION
ansible 2.5.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']

[2018-06-04 21:14] abadger commented on #41060
Looks like the lxc API takes native string types instead of bytes types.  That's probably a bad design on their part (as they won't be able to handle all cases.. like non-utf8 filenames when operating under a utf8 locale).  However, that's they're issue, not ours.

The proper fix in our code for this would be to change the to_bytes() calls into to_native() calls.  And add a comment that says that

[2018-06-04 23:14] rhopfer opened #41108 "connection keyword no longer works with include_role"
##### SUMMARY
connection keyword no longer works with include_role

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
connection-test.yml:
[code]
roles/echo-hostname/tasks/main.yml
[code]

##### EXPECTED RESULTS
The output of the last task shoul be 'localhost'.
- https:/

[2018-06-05 00:01] stevenscg commented on #34863
I just ran into this issue on RabbitMQ 3.7.5 on RHEL 7.5. Ansible 2.5.4.

[2018-06-05 04:15] dachinat commented on #36585
Same on Centos7

[2018-06-05 04:38] dungdm93 opened #41116 "mysql_user: MySQL 8.0/CentOS 7 - unable to connect to database"
##### SUMMARY
I'm install **MySQL 8.0** on **CentOS**, but I can't change root password.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### COMPONENT NAME
lib/ansible/modules/database/mysql/mysql_user.py

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
MySQL config:
[code]

and ansible tasks:
[code]

As you can see, I config socket dir from `/var/lib/mysql/mysql.sock` (de

[2018-06-05 04:57] Akasurde commented on #41072
resolved_by_pr #41078

[2018-06-05 05:26] #41033 closed, assigned to nobody

[2018-06-05 05:52] przemyslawstrzelczak9ld commented on #37466
Can anyone answer @kostrzewa9ld comment?
I also think that it is different from #33768 and IMHO much more serious.

[2018-06-05 07:59] majales commented on #25133
Hi. It seems to be the same problem.

VMware ESXi, 6.0.0, 3620759
vSphere Client version 6.5.0.13000

ansible --version
ansible 2.5.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  p

[2018-06-05 07:59] bpetit commented on #16052
The ami I used on AWS has ID ami-41e80526 on region eu-west-2. It's official Debian 9.4 base image. I'll try do dig into that problem deeper this week.

[2018-06-05 08:14] seuf commented on #39663
Ok, I will take a look this week..

[2018-06-05 08:22] xp-1000 opened #41122 "option --start-at-task does not support multiple tasks with the same name"
##### SUMMARY
The option `--start-at-task` does not support multiple tasks with the same name and only use the first one found.

##### ISSUE TYPE
 - ~Bug  Report~
- Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
main.yml
[code]

debian.yml
[code]

redhat.yml
[code]

then, run `ansible-playbook

[2018-06-05 08:58] Akasurde commented on #25133
Thanks for testing the patch. #21421 is not yet merged so won't be available in devel. Would you be interested in sharing your changes regarding "sparse" to "flat" ?

[2018-06-05 09:01] gdpak commented on #40919
@mfisher30 This should be fixed by PR - https://github.com/ansible/ansible/pull/40329

[2018-06-05 09:06] kimegede commented on #29255
@garthkerr that's works for me as well!
(Also as @jedi-marcus using `Ansible 2.5.0` and `NPM 5.6.0`)

[2018-06-05 09:35] Akasurde commented on #39120
resolved_by_pr #41124

[2018-06-05 09:52] pilou- commented on #25678
Current documentation states: `it is possible to use the default filter to omit module parameters using the special omit variable` is that not clear enough ? if so, `docs` can be removed.

[2018-06-05 10:35] singhr49 commented on #10695
This is most needed feature. I've 50+ filesystems which need to be created, I can't wait each one to complete.
+1

[2018-06-05 10:36] BondAnthony commented on #29740
resolved_by_pr 33984

[2018-06-05 10:47] lename commented on #39522
@greggilbert, please, try to use `max_priority` as specified in http://docs.ansible.com/ansible/latest/modules/rabbitmq_queue_module.html:

[code]

[2018-06-05 11:36] nerzhul commented on #12086
@saplla k8s_raw is better than using template for this, you can inline the yaml in your inventory if needed :) (it's not the subject of this PR)
what is the current state about this ? Can we expect something in 2.6 @bcoca  ?
 I'm managing thousands of postgresql privileges on my DB clusters and 25 minutes is painfully slow

[2018-06-05 11:51] resyst-it commented on #36915
Hello,

I think I forgot an option because when I want to launch a playbook with vmware inventory I have the name of the VM and an id.

Ex : MYVM01_4208c19a-bab1-acef-1b0f-b8401567e9bd

If i want to test a ssh connection i have Could not resolve hostname

Do you have an idea ?

Thank you.

[2018-06-05 11:59] #40902 closed, assigned to Qalthos, trishnaguha

[2018-06-05 12:05] mikewiebe commented on #40902
@Qalthos Thanks for the support on this and detailed explanation.

[2018-06-05 12:07] saplla commented on #12086
@nerzhul Thanks but it's not better for us. Too much magic. We need templating.

[2018-06-05 12:09] Qalthos commented on #40902
Okay, I missed that you had responded here before I got to the other issue, but one last response to

All the different ways of setting this (and nearly every other plugin option at this point) are listed in the plugin documentation ([like this](http://docs.ansible.com/ansible/devel/plugins/connection/httpapi.html)). It's pretty ugly at the moment, but the same docstring that generates that table

[2018-06-05 12:18] resyst-it commented on #36915
I change this line :

[code]
by this line :

[code]

[2018-06-05 12:31] pkaramol opened #41129 "npm module suddenly changed default behavior"
##### SUMMARY
Ansible `npm` module suddenly changed behavior; it does not (by default) install everything in `package.json` (as it used to)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- npm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

[code]

##### STEPS TO REPRODUCE

[code]

Within `some_path`, there is a `package.json` file.

So far, all

[2018-06-05 12:43] schwichtgit commented on #36066
any progress on this? We see this error, too (on 2.5+, currently testing on 2.5.4)

[2018-06-05 12:49] akskos opened #41130 "Cannot decrypt with copy module when remote_src: yes"
##### SUMMARY

I'm trying to download vault encrypted files from a server onto my remote machine with get_url and after that decrypt them with copy module. I understood from the documentation that this should be possible.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True

##### OS / ENVIRONMEN

[2018-06-05 12:50] memo42 commented on #35585
@nergdron can you confirm that the fix of #31779 also fixes your problem, i.e. devel works for you?

[2018-06-05 13:11] ustm commented on #35645
I had same error:
[code]
My archive tar.gz was just incomplete...

[2018-06-05 13:25] jamessemai commented on #40869
@jborean93 - I submitted a pull request, but seems some tests are failing. Any help would be much appreciated.

[2018-06-05 13:37] texanerinbayern commented on #40564
I have this problem as well. My VM has 2 NICs, one is online and one is not connected.
 My template has perl installed and the open-vm-tools version is > 10.
Here is my ansible info:
ansible 2.5.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/p

[2018-06-05 13:48] shibumi opened #41133 "[vmware_guest] VM won't start with connected Device/Network"
##### SUMMARY
I have a Ubuntu 18.04 Template with open-vm-tools version 10.2, perl and python installed. When I clone from this template via ansible without using the `networks` keyword it works like expected and I have a cloned VM with connected Ethernet Device.

But when I specify the `networks` keyword in the task every device that get spawned will not get connected on boot. I need to connect i

[2018-06-05 13:52] Gunni commented on #29740
https://github.com/ansible/ansible/pull/33984 has not been merged, so it is not solved until that gets merged, right?

[2018-06-05 14:02] jvanderaa opened #41134 "ios_facts exception on WS-C3850-48T"
##### SUMMARY

Receiving exception in ios_facts.py running against single WS-C3850-48T running IOS-XE 03.03.05SE

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_facts.py

Looks like the issue is related to attempting to run a command that is not available on the switch.
[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[2018-06-05 14:14] bcoca commented on #36915
@resyst-it the problem is that the name property is not unique (vmware only enforces unique uuid), but this should be configurable for environments that do enforce the uniqueness themselves.

[2018-06-05 14:18] bcoca commented on #12086
@sapila you could always create a host target per template to parallelize templating as much as possible and then use subsequent plays or delegation to deliver to the proper actual hosts.

[2018-06-05 14:18] resyst-it commented on #36915
Ok i understand. But with the uuid ansible cannot resolve the hostname.

Yes maybe we can add a parameter in the configuration file.

[2018-06-05 14:21] bcoca commented on #36915
that is why you can populate `ansible_host` or `ansible_ssh_host`, the inventory name is not always the 'resolvable' name

[2018-06-05 14:29] nickcmaynard commented on #41008
Tested on stable-2.6 and it works as expected - thank you:

[code]

[2018-06-05 14:36] aleksandpetrov opened #41135 "Module zabbix_host doesn't work for zabbix 2.2"
##### SUMMARY

Module zabbix_host has settings for tls after version 2.5, but zabbix hasn't their before version 3.0. I have zabbix of version 2.2 and this module doesn't work for it.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

zabbix_host
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/Users/admin/.ansible.cfg) = True
ANSIBLE_PIPELINING(/Users/admin/.ansible.cfg) = T

[2018-06-05 14:51] Alynder opened #41136 "asa_config, double quoting user field even when escaped"
##### SUMMARY
In making a new mass password change involving the cisco asa with asa_config module. Found that the username was always quoted even though the ansible logs show the double quotes being escaped.
Also says that the playbook has passed correctly.

Please note:
 The enable password change does work
 The passwords are correctly put in and unquoted
 The username works when hard coded in li

[2018-06-05 15:15] Akasurde commented on #41133
@shibumi Thanks for reporting this issue. Could you please paste your esxi version ?

[2018-06-05 15:18] gordnerl opened #41140 "service: use: is arg not parameter"
##### SUMMARY

the use: option is only available as an arg and is ignored otherwise.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

service module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7.4 to RHEL7.4
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The first should have utilized /sbin/service for a sysV based init script.
The second does

[2018-06-05 15:19] Qalthos commented on #41134
This is fixed in 2.6+ as of #40820, but I'll make sure this gets backported to 2.5

[2018-06-05 15:35] jtognazzi commented on #35645
Investigating further, the problem was an unreliable connection via our proxy which caused the downloaded archive to be incomplete.

[2018-06-05 15:40] LeDOC666 opened #41145 "[WARNING]: FATAL ERROR DURING FILE TRANSFER: HTTPSConnectionPool(host='target', port=5986): Read timed out. (read timeout=30)"
##### SUMMARY
 When I want copy with winRM a file more than 5Mo, I get the error. I got the error from AWX. When I launch it on ansible directly, it's work

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Docker on CentOS7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A copy :)

##### ACTUAL RESULTS

[cod

[2018-06-05 15:41] wknapik opened #41146 "The file lookup plugin fails on binary data"
##### SUMMARY
The file lookup plugin fails on binary data

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
lookup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Success.

##### ACTUAL RESULTS
Failure.
[code]

[code]

[2018-06-05 15:45] EvanDonato opened #41147 "Extend match functionality for iptables module"
##### SUMMARY
iptables module only offers a limited set of functionality for the match function of iptables.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

iptables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Source: OSX 10.13.4
Target: CentOS 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

There are two proposed options.  First would follow

[2018-06-05 16:04] LeDOC666 commented on #41145
Arf, wrong repo. Can u move this issue to ansible/awx ?
Thanks

[2018-06-05 16:49] webknjaz commented on #41130
So it looks like in case of `bool(remote_src) is True` code path it doesn't reach decryption code: https://github.com/ansible/ansible/blob/a9dc79e/lib/ansible/plugins/action/copy.py#L431-L433

Decryption code is being executed only if `bool(remote_src) is False`: https://github.com/ansible/ansible/blob/a9dc79e/lib/ansible/plugins/action/copy.py#L434-L495 -> https://github.com/ansible/ansible/blob/

[2018-06-05 16:56] abolduc10 opened #41148 "Error running the Ansible snow_record module"
##### SUMMARY
Receiving an error message when executing the snow_record module on the 2.5.2 version of Ansible.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

snow_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect the playbook to complete and create a new change request

##### ACTUAL

[2018-06-05 17:21] webknjaz commented on #41130
@akskos also, you could probably use `uri` module to put contents into a var and then use `content: "{{ your_var }}"` in `copy` module. This would solve your issue.

[2018-06-05 17:31] atnoslen opened #41150 "ios_config diff_against: intended with supplied running_config connects and diffs against device"
##### SUMMARY
Supplying a running config with `running_config` and an intended config with `intended` in the `ios_config` module when `diff_against: intended` is set does not diff against the supplied running config, but connects to the host and diffs against the running config of the device.  The bug is likely not consistent use of the `running_config` argument.

##### ISSUE TYPE
 - Bug Report

#

[2018-06-05 17:50] ktbyers commented on #31699
Note, that issue referenced is from 2012 which likely predates some of the reported operating systems (IOS 15.5).

Also Paramiko not working with the given device does not necessarily tell you where the problem is.

In other words, the problem could be with Cisco IOS or with Paramiko (as you are having an interaction problem between the two items).

[2018-06-05 17:55] webknjaz commented on #41145
Please recreate it yourself, so that you could track it. We don't have machinery for doing such.

[2018-06-05 18:11] nergdron commented on #35585
sorry, I've switched jobs and no longer use ansible regularly, so I no longer have a reproducible test case. but it sounds like @msven has done the basic testing I would've anyway.

[2018-06-05 18:14] bcoca commented on #41130
or use uri/get_url to copy the file to the controller and then just copy to target

[2018-06-05 18:30] bcoca commented on #41140
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

As the module docs state, `use` is not for the actual tool used but the module, `service` in this case is the old service module, which

[2018-06-05 18:30] #41140 closed, assigned to nobody

[2018-06-05 18:38] davidhulick opened #41152 "win_firewall_rule fails when localport is specified without protocol."
##### SUMMARY

win_firewall_rule fails when localport is specified without a protocol. The error returned or documentation should indicate that "protocol: any" is not compatible with "localport"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_firewall_rule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/home/xxx/ansible_playbooks/ansible-playbook-xxx/ansible.cfg)

[2018-06-05 18:43] bcoca commented on #41122
reclassified as feature since `--start-at-task` is working as designed and documented, this would be a behaviour change

[2018-06-05 19:02] gordnerl commented on #41140
You've missed the issue entirely. When I use `use:` directly the task fails as there is no unit file in systemd for this service. When I use  `use:` in `args:` it works. Note: lines 1521-1531 of service.py
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/service.py#L1521
use isn't referenced where the rest of the parameters are. Without `use:` the service module fails for l

[2018-06-05 19:15] andersab opened #41157 "localhost user is not working correctly, always root Playbook 2.5.4"
### SUMMARY
When running playbooks locally, on the localhost, `user_id: {{ lookup('env','USER') }}` is always root instead of the user executing the playbook.

### ISSUE TYPE
Bug Report

### Component Name
ansible-playbook

### VERSION
2.5.4

### REPRODUCE
ansible-playbook -i hosts.yml playbook.yml

### Configuration
Default

### Files

**hosts.yml**

[code]
**Playbook.yml**

[code]
**roles/javasc

[2018-06-05 19:20] Straevaras commented on #40564
No perl is not installed in the template, and that's not a viable solution for our specific scenario.

The template VM in question is encrypted, and for the automation process a network connection needs to be active at the time when VM decryption is happening during boot.  This is before VMWare tools is capable of running.

I'm still considering this an issue as this wasn't a problem in ansible 2.

[2018-06-05 19:24] #40913 closed, assigned to nobody

[2018-06-05 19:47] isaacegglestone commented on #35899
Man we really need to put in a feature request to have it check OS type on destination host and if your using ping vs win_ping to throw a warning. I knew this and simply forgot, didn't know it would barf so terribly on such a silly problem and racked my brain for hours over it.

[2018-06-05 19:52] D3DeFi commented on #41135
Thank you for reporting this issue @aleksandpetrov. I will try to send fix for this in the upcoming days

[2018-06-05 20:18] bcoca commented on #41140
The service MODULE does not use the `use` option, the action plugin that decides which module to use does:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/service.py#L42

[2018-06-05 20:22] machacekondra commented on #41008
resolved_by_pr 41092

[2018-06-05 20:56] nitzmahone opened #41159 "Unstable tests on azure_rm_resource"
##### SUMMARY
Tests for azure_rm_resource have an internal state race with the storage account creation that's used by the test. See https://app.shippable.com/github/ansible/ansible/runs/68730/62/tests for example (snippet below). Looks like they need to wait/poll for some other state, or maybe could use a lighter-weight resource to test with?

cc @zikalino

[code]

##### ISSUE TYPE
 - Bug Report

[2018-06-05 21:01] nerzhul commented on #12086
@bcoca a little bit hacky :)

[2018-06-05 21:02] #41008 closed, assigned to nobody

[2018-06-05 21:07] bcoca commented on #12086
not at all, its a LOT hacky, but works today

[2018-06-05 21:28] laveolus opened #41160 "become_user: admin broken"
##### SUMMARY
become_user: admin is broken in ansible-2.5.4 (and somewhere after version 2.4.3)
(but any other user is fine)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
become_user

##### ANSIBLE VERSION
[code]
(from the ansible ppa)

##### CONFIGURATION
("ansible-config dump --only-changed" is empty)

##### OS / ENVIRONMENT
Xenial LXD container from https://cloud-images.ubuntu.com/relea

[2018-06-05 22:07] cigamit commented on #40564
If the network needs to be enabled before vmware tools starts up, then you can not use VM customization at all.  That is just how customization works with VMWare.  You can try manually doing the OS customization wizard via the GUI and you will have the same result.  We don't disable the nic, vmware itself does automatically when you do any sort of customization.  We have no control over it.  This

[2018-06-05 22:27] shibumi commented on #41133
@Akasurde sure. The vsphere Server version is 6.0.0

[2018-06-05 22:34] muxator commented on #38149
I have posted a rebased version, based on current devel in #41163.
Same content, merge conflicts resolved.

[2018-06-05 22:44] andersab commented on #41157
OK, after quite a few hours of research now I know the following:

    We SHOULD NOT BE USING SCRIPTLERS! Scriptlers have many vulnerabilities
    They try to run from the root of the Jenkins System which is extremely unsafe.
    Scriptlers are not intended to be utilized on per project build but instead as a management tool. They do not inherit environment variables from the build as other build

[2018-06-05 22:46] andersab commented on #41157
banderson@badev-vb:~/development/banderson/andersab-development-desktop-playbooks$ echo $USER && ansible-playbook -i hosts.yml adhoc-playbook.yml -vvv
banderson
ansible-playbook 2.5.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/banderson/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/di

[2018-06-05 22:49] abadger commented on #16052
Okay, with a local vm with debian9.4 installed, this playbook worked fine:

[code]
Inventory file:
[code]

ansible invocation:
[code]

[2018-06-05 22:57] bcoca commented on #41157
I cannot reproduce using the `lookup` i only get same result if i use `ansible_env`

[2018-06-05 22:59] andersab commented on #41157
Are you on 2.7? or 2.5.4? I'll upgrade and see if that remedies it.

[2018-06-05 22:59] bcoca commented on #41157
tried since 2.4, what puzzles me is that i need to use become to be root, but you establish connection for root, which local plugin should not do unless you are executing ansible as root

[2018-06-05 23:03] bcoca commented on #41157
from the code of the local connection plugin:
[code]

so i dont know how you are running as brandon, but local detects your current user as root

[2018-06-05 23:27] nitzmahone commented on #41145
@LeDOC666 also please let us know if you can hit this on a public Windows AMI (and if so, region + AMI ID please)....

[2018-06-05 23:35] abadger commented on #41160
A workaround for now should be to set the admin_users config option so that it only contains "root".

http://docs.ansible.com/ansible/latest/plugins/shell/sh.html

I have opened https://github.com/ansible/ansible/pull/41164 to change the defaults so that admin does not cause this problem by default.

[2018-06-05 23:57] DanCool opened #41165 "eos_facts: intermittent failure in populate_memory: TypeError: string indices must be integers, not str"
##### SUMMARY

Use ansible to gather eos fact from DCS-7060CX-32S running EOS-4.18.4.2F. Observed following intermittent failure:
[code]
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

eos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_RETRIES(/aos/ansible.cfg) = 5
DEFAULT_FORKS(/aos/ansible.cfg) = 50
DEFAULT_GATHER_SUBSET(/aos/ansible.cfg) = !all,network
DEFAULT_GATH

[2018-06-06 00:08] francisjes commented on #41104
please let me know if you need any inputs to check this issue

[2018-06-06 00:12] #41160 closed, assigned to nobody

[2018-06-06 00:29] andersab commented on #41157
I just tried again, this is on Ubuntu 18.04 also, don't think that would matter but willing to try something different in needed...

banderson@badev-vb:~/tools/andersab-development-desktop-playbooks$ echo $USER && ansible-playbook -i hosts.yml adhoc-playbook.yml -vvv
banderson
ansible-playbook 2.5.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/banderson/.ansi

[2018-06-06 01:05] sameergautam opened #41168 "Unable to use the ec2_lc module with ansible 2.5.4"
##### SUMMARY
I have been trying to create an EC2 launch configuration using the [`ec2_lc`](http://docs.ansible.com/ansible/latest/modules/ec2_lc_module.html) module. However, I end up with an error not allowing me to move ahead. If I use the `command` module to create the launch config, I can easily get it done. Also, I can create the launch configuration using the older version (2.1) of ansible.

[2018-06-06 01:51] cigamit commented on #41133
Can you check the open-vm-tools log file to see what is going on?  The module isn't waiting for tools to do customization.  We send the entire customization spec with the initial request, VMWare does the waiting.

[2018-06-06 03:57] #39120 closed, assigned to Akasurde

[2018-06-06 03:58] #40512 closed, assigned to bcoca

[2018-06-06 03:58] #40996 closed, assigned to bcoca

[2018-06-06 04:05] ptux commented on #14131
@abadger
I'm working on it and testing it myself now.
Could you assign this issue to me?

[2018-06-06 04:11] Akasurde commented on #36037
resolved_by_pr #41172

[2018-06-06 04:21] apple4ever commented on #37884
Soooooo as I'm here trying to rewrite this to work, I realized that I got the idea from you:

https://github.com/felixfontein/acme-certificate

Looking back, I didn't realize that it would still need to be run on a schedule to keep the certs updated!

Anyway, are we just going to leave it as is with the improved documentation? Or do we want to further work on how it operates?

[2018-06-06 05:21] dungdm93 opened #41173 "Incorrect authentication_plugin when create mysql_user"
##### SUMMARY
Incorrect **authentication_plugin** when create **mysql_user**

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Just default

##### OS / ENVIRONMENT
* Control machine: Ubuntu 16.04.4 LTS
* Target machine: Ubuntu 16.04.4 LTS, CentOS 7, Debian 9 (stretch)
* MySQL: 8.0

##### STEPS TO REPRODUCE
* MySQL config:
[code]
* A

[2018-06-06 05:28] ganeshrn commented on #41100
needs_info

[2018-06-06 06:20] felixfontein commented on #37884
Nice to know that ;-)

Anyway, I don't mind to keep it the current way (with the improved docs), at least for now.

What do you think about the following:
 * (for ACME v2) add new parameter `order_uri` (string), which defaults to `None`, and if provided, means that we're in the second stage and all data is taken from the order URI;
 * (for ACME v1) add new parameter `second_stage` (bool), which de

[2018-06-06 06:29] shivam-chawla commented on #40076
Sorry for the delay in response. This works for me. Thank you @Akasurde

[2018-06-06 06:30] yuwzho commented on #39650
Here I add two modules `azure_rm_routetable` and `azure_rm_route`. `route_table` name should be passed to `route` to attach the route to route table

[2018-06-06 07:03] Akasurde commented on #40515
Closing this issue as PR #40602 is merged. If issue persists, please feel free to re-open.

[2018-06-06 07:03] #40515 closed, assigned to nobody

[2018-06-06 07:14] LeDOC666 commented on #41145
Hi, my target is a Windows 2008 R2 SP1 with Powershell 4.0 installed
Here the SSL Version on the ANSIBLE (working env): OpenSSL 1.0.1e-fips 11 Feb 2013
Here is the AWX one: OpenSSL 1.0.2k-fips  26 Jan 2017

I will install Wireshark later, and make some captures.

I don't have AWS account, so I can't make test on it.

Other thing I don't understand, when I make a
`pip list`

on my ANSIBLE env, I se

[2018-06-06 07:52] #41043 closed, assigned to nobody

[2018-06-06 07:54] #27565 closed, assigned to jimi-c

[2018-06-06 08:02] LeDOC666 commented on #41145
Here is Wireshark capture of AWX:
![wireshark-awx](https://user-images.githubusercontent.com/29775748/41024888-b842d8c2-6970-11e8-8882-7855351d9856.jpg)

And Ansible:
![wireshark-ansible](https://user-images.githubusercontent.com/29775748/41024917-c7d59f9a-6970-11e8-98f7-3e3eeafb11de.jpg)

[2018-06-06 08:44] ujenmr commented on #25781
I implemented this feature in #20725

[2018-06-06 08:45] aleksandpetrov commented on #41135
Thanks, I'll looking forward to updates

[2018-06-06 10:18] rgarrigue opened #41178 "yum_repository shouldn't require baseurl/metalink/mirrorlist to disable a repository"
##### SUMMARY

With yum on CentOS and most likely RHEL, Fedora, you might want to get rid of OS repositories in favor of local mirror. If you remove them, the OS might re-create them at the next yum update, so personnaly I disable them.

But ansile can't disable (enabled=false) a yum_repository without knowing its baseurl/metalink/mirrorlist. It can just remove it (state=absent).

I wish enabled=f

[2018-06-06 10:34] #35356 closed, assigned to nobody

[2018-06-06 10:45] #40685 closed, assigned to nobody

[2018-06-06 10:51] #35607 closed, assigned to nobody

[2018-06-06 11:04] D3DeFi commented on #41135
So after a little bit of digging I've found out we had something similar reported and fixed in #38665. Unfortunately, the fix didn't make it to 2.5.x release of ansible and will be available with 2.6.x release.

Quick workarounds in the meantime are:
- downloading [lib/ansible/modules/monitoring/zabbix/zabbix_host.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/monitoring/zab

[2018-06-06 11:06] jamescassell opened #41179 "pamd module fails on 2.6 and master (2.7)"
##### SUMMARY

"TypeError: 'bool' object is not callable" when trying to use pamd module

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7 -> RHEL 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

success, works as on 2.4 and 2.5.

[code]

##### ACTUAL RESULTS

[code]

[2018-06-06 11:17] D3DeFi commented on #41135
close_me

[2018-06-06 11:25] #41135 closed, assigned to nobody

[2018-06-06 11:34] jtyr commented on #41178
Thanks for opening this issue. I will try to look into it.

[2018-06-06 11:36] alenavorozhbieva opened #41180 "get_url is not working"
##### SUMMARY

Trying to copy file via ftp using get_url. The result is "Request failed: <urlopen error ftp error: 500 PASS out of sequence" message.

But I can successfully execute this command on managed machine:
sftp {username}@{some_ip}:/{some_path} /home/centos/{file_name}

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

get_url
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No cha

[2018-06-06 11:52] xp-1000 commented on #41122
Hi @bcoca I agree to consider this as a feature rather than a bug.
Nevertheless, event if it was probably designed as you said I am not sure it is documented properly.
https://docs.ansible.com/ansible/2.3/playbooks_startnstep.html
May be there are other documentations but in this one the behavior is not clear enought in my opinion.
A simple note to inform it works only on the first match could avo

[2018-06-06 12:08] pkaramol opened #41182 "Synchronize module never preserves times"
##### SUMMARY
In `synchronize` module, no matter the value of `times` parameter, the destination timestamp __always__ gets updated.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(no output)

##### OS / ENVIRONMENT

[code]

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Owner/group/perms/times should remain

[2018-06-06 12:48] Qalthos commented on #37948
This appears to be fixed by #40928, and will be pulled into 2.6 and 2.5 when possible

[2018-06-06 12:55] torched99 commented on #37530
This solution breaks calls that have a conflicting file in $PATH.  In addition the original change to make the ansible-connection invocation via python (sys.executable) with script name/path passed in breaks use of a wrapper (e.g. non python script wrapper for 'ansible-connection'.

[2018-06-06 13:18] Straevaras commented on #40564
Then what I don't understand is why when I yum install an older version of ansible (2.4), my playbook works as expected with no errors, and when I update to 2.5, the problem exists.  Seems like whatever was happening in 2.4 works while it's now being done differently and/or is broken in 2.5.

[2018-06-06 13:32] jpmens commented on #41180
You say FTP and you say you can _successfully execute_ SFTP.  That's not possible -- two different protocols.

[2018-06-06 13:33] sw360cab opened #41185 "route53 module is not able to authenticathe using IAM role"
##### SUMMARY

This module should be ported to boto3 to allow authentication with IAM roles.

When running a playbook that employs Route53 module on an EC2 intance that authenticate itself with AWS services using IAM role (IAM Role associated to an EC2 instance), the playbook task fails to authenticate (Boto3).

The general idea is that, if I explicit

[code]

the task in the playbook works perfec

[2018-06-06 13:34] #40142 closed, assigned to nobody

[2018-06-06 13:36] jborean93 commented on #41145
@LeDOC666 can you upload the wireshark captures somewhere so we can download them? Thanks for sharing the existing information so far

[2018-06-06 13:39] sw360cab commented on #41185
Maybe also related to #30012

[2018-06-06 13:41] torched99 opened #41186 "ansible-connection call broken for wrapper case in 2.5 (e.g. for vyos /network_cli)"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Using Software collections python, with userbase (user-site) config and as result python 'bin' scripts installed via pip (e.g ansible-playbook, ansible etc) are arranged to be invoked by a wrapper script (in this case bash based).

[2018-06-06 13:41] kees-closed opened #41187 "dconf "unknown keyword""
##### SUMMARY
I want to set dconf setting with Ansible, but I get strange errors about key's not ending with a '/', when added to the end, same error. Configuring dconf fails.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dconf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
$ ansible-config dump --only-changed
ANSIBLE_PIPELINING(/home/kjong/git/ansible/ansible.cfg) = True
ANSIBLE_SSH_

[2018-06-06 13:42] #36269 closed, assigned to nobody

[2018-06-06 13:48] rbu opened #41188 "Environment variables trigger jinja errors "template error while templating string""
##### SUMMARY
Running ansible tasks against a machine can trigger "template error while templating string" errors as it attempts to parse environment variables as jinja2 strings. It seems like a bad idea to parse environment variables, which may come from an untrusted remote system, as jinja template strings in a local environment.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize

[2018-06-06 13:54] Akasurde commented on #39545
@Vaibhavarora08 Any news ?

[2018-06-06 13:59] Qalthos commented on #29448
This playbook seems to work against the latest released version of ansible (2.5), can you confirm that it i working for you?

needs_info

[2018-06-06 14:06] rrey commented on #25781
Hi @ujenmr, my PR was merged in August 2017 so the feature is already in ansible (2.4).
This issue was not closed, but should have been.

I'm closing it.

[2018-06-06 14:06] #25781 closed, assigned to nobody

[2018-06-06 14:07] #29464 closed, assigned to Qalthos

[2018-06-06 14:15] Akasurde commented on #39481
@eric-becker How did you install solidfire-sdk-python 1.5.0.87 - pip or some other method?

[2018-06-06 14:21] rikkertk commented on #40626
We have experienced this issue as well, but only with ansible 2.5. We ran ansible 2.4 and upgraded to 2.5.3. In 2.5.3 we got the issue that even though we set 'confirm: 5' on the juniper device the commit was done with rollback in 0mins. We downgraded to ansible 2.4.4 and our junos_config task are working correctly again with rolling back in 5 minutes.

our ncclient version has stayed the same on

[2018-06-06 14:25] #37540 closed, assigned to Qalthos

[2018-06-06 14:55] cherdt commented on #35645
I ran into the same issue on ansible 2.5.3. Error messages was:

`FAILED! => {"changed": false, "msg": "Failed to find handler for \"~None/.ansible/tmp/ansible-tmp-1528296402.16-148522671383843/source\". Make sure the required command to extract the file is installed. Command \"/bin/gtar\" could not handle archive. Command \"/bin/unzip\" could not handle archive."}`

I uploaded the file to a host

[2018-06-06 14:56] clementtrebuchet opened #41191 "The module ios_vrf push only the vrf configuration in global mode."
##### SUMMARY

The module ios_vrf push only the vrf configuration in global mode.
We need push them in address-family configuration submode, eg: ipv4 or/and  ipv6 or/and in global mode.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ios_vrf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Fedora release 28 (Twenty Eight)

##### STEPS TO REPRODUCE

[code

[2018-06-06 15:01] fghaas opened #41192 "dig lookup plugin incorrectly handles NXDOMAIN"
##### SUMMARY
When the `dig` lookup plugin is given a host name whose result returns `NXDOMAIN`, it returns the literal value `NXDOMAIN` instead of bailing out with an `AnsibleError`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
dig

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04 managing Ubuntu 16.04.

##### STEPS TO REPRODUCE
[code]

#####

[2018-06-06 15:04] IPvSean opened #41193 "error messaging cyprtic for ios_config module for Cisco IOS / IOS-XE error handling"
##### SUMMARY
When you type a command that is either incorrect, or just at the wrong level (interface level command versus global command versus QOS command versus ACL command).  The os_config modules will drop a confusing error that will distract the network engineer / operator from the real problem (he just entered the actual syntax incorrectly, the module behaved correctly).  This will help sto

[2018-06-06 15:51] alenavorozhbieva commented on #41180
Thank you so much for the explanation. Let me ask one more question please: Is there any good way how can I load files by SFTP using ansible without  any additional installations on managed server ?

[2018-06-06 16:22] fiunchinho commented on #41168
I no longer have time to help here, sorry

[2018-06-06 16:50] JohnPeacockMessageSystems opened #41198 "Upgrading to 2.5.4 causes delegate_to failure"
##### SUMMARY
It is frequently imperative to perform some tasks on hosts other than the current inventory_host, e.g. configure and start a service then inject a test message from some other server.  This has absolutely nothing to do with the other usage of delegate_to (which was proxying connections).  This functionality has apparently been broken between 2.4.2 and 2.5.4.

##### ISSUE TYPE
 - Bug

[2018-06-06 16:54] JohnPeacockMessageSystems commented on #41198
Just to be clear, in case it wasn't above: I have no problem connecting to that host as the msysdeploy user:
[code]
so the "SSH error" is actually something else.

[2018-06-06 17:00] #41198 closed, assigned to nobody

[2018-06-06 17:01] JohnPeacockMessageSystems commented on #41198
cabon-based error.

[2018-06-06 17:16] cherdt commented on #35645
My current workaround:

1. use the Ansible `copy` module to copy to file to the remote host, e.g. to `/tmp`
1. use the Ansible `unarchive` module with `remote_src=yes`

Example commands:

[code]

[2018-06-06 17:35] atnoslen opened #41200 "lookup('template', file) does not handle subdirectories the same as ios_config src"
##### SUMMARY

When building jinja templates using includes and subdirectories, `ios_config` and `nxos_config` use the directory of the parent jinja template where as if you run `lookup` from a playbook to the same template, the relative path does not work for included templates.  Worse, jinja `include(file)` does not use absolute paths either.  Thus there is not a way to use a template with `ios_

[2018-06-06 17:42] beaconfield commented on #10941
I'm attempting an install of katello 3.6 and with foreman 1.17 using forklift which uses ansible to do the installation and config. I am also behind a Corp proxy and I got the error from Ansible that it could not use HTTPS proxy. I added the "validate_certs: False" to some of the yum plays as suggested by gouyang and that has allowed me to progress.

[2018-06-06 18:22] nvtkaszpir commented on #37472
Trying ansible 2.4.4.0 with consul 1.1.0 renders ansible module unusable for certain tasks (especially for scripted health checks)

[2018-06-06 18:37] gordnerl commented on #23144
similar issue. I can't get the service module to take an argument.

[2018-06-06 18:43] gordnerl commented on #41140
At the end neither seem to work.
[code]

gets

[code]
gets

[code]
gets

[code]

[2018-06-06 19:05] fredmiranda commented on #40921
I'm going to leave the 'fix' I made up in case someone is facing this same problem.

[code]

[2018-06-06 19:05] #40921 closed, assigned to nobody

[2018-06-06 19:08] #29448 closed, assigned to Qalthos

[2018-06-06 19:15] #32405 closed, assigned to ganeshrn

[2018-06-06 19:41] Straevaras commented on #40564
Found a solution to my problem.

https://github.com/ansible/ansible/blob/v2.5.3/lib/ansible/modules/cloud/vmware/vmware_guest.py#L946

Commenting out lines 946-947 . . .

[code]

 . . . changes the clonespec so its customization field (which is what provides guest level VM customization) is null.

In our scenario, we do not want guest level customization, as that is what seems to be causing our NI

[2018-06-06 19:55] bcoca commented on #41140
I would not expect otherwise, since the module being used by default, from detected facts, seems to be systemd and if you run the 'service' module it will detect systemd tools and try to use those.

It would help to know how the netbackup service is defined.

[2018-06-06 20:08] gordnerl commented on #41140
The netbackup service uses an init.d script provided by the vendor. Its a terrible implementation of sysV by the vendor, but expected from Symantec.

[2018-06-06 20:16] #39287 closed, assigned to nobody

[2018-06-06 20:27] bcoca commented on #41140
so we have sysvinit module in the latest release, set `use=sysvinit` and it should work
https://github.com/ansible/ansible/pull/34962/

[2018-06-06 20:44] AjaxOdessa opened #41207 "Unarchive runs gtar twice causing significant extraction time increase on large archives"
##### SUMMARY

Unarchive runs gtar twice, causing significant time increase to unpack large (>20GB) bz2 archives

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_FORCE_COLOR(env: ANSIBLE_FORCE_COLOR) = True
HOST_KEY_CHECKING(env: ANSIBLE_HOST_KEY_CHECKING) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

[2018-06-06 21:05] lancewood1 commented on #41100
It is only possible to use `replace: block` when using the `lines` parameter.  Is there a way to produce the same behavior when using a template as the source of the configuration?

[2018-06-06 21:13] btv commented on #40615
I tried to reproduce this and I wasn't able to. These where my steps:
* Installed Centos7.5-Minimal in a VM
* created a barebones playbook file:
[code]

* ran the playbook as `ansible-playbook -vvv dhcp_update.yml`
* saw this in the yum log:
[code]
with nothing in there regarding installing dhcp-devel.

If I'm missing a step in this, please let me know.

[2018-06-06 21:42] kladiv commented on #37984
+1

[2018-06-06 21:50] akskos commented on #41130
Thanks, I was able to fix the problem with downloading the files with uri to variables and then using copy to decrypt and transfer them to the remote.

[2018-06-06 22:12] LastCaress77 opened #41212 "vmware_host_config_manager long integer error"
##### SUMMARY

Changing advanced options that are flagged in vCenter as (long integer) fails.
##### ISSUE TYPE
 - Bug Report
Changing advanced options that are flagged in vCenter as (long integer) fails. Changing advanced options that are flagged in vCenter as (integer/string) succeed.
Security.AccountUnlockTime (integer) - Success
UserVars.DcuiTimeOut (long integer) - Failure

msg: 'Failed to upd

[2018-06-06 22:31] webknjaz commented on #41130
You are welcome!

I consider this issue solved now. Closing.

[2018-06-06 22:31] #41130 closed, assigned to nobody

[2018-06-06 23:18] tsukashusan opened #41218 "azure_rm_networkinterface should have support to enable accelerated networking for network interface."
##### SUMMARY

Current module does not have support for following features while a NetworkInterface gets created.

    NetworkInterface
    Accelerated networking flag to enable/disable SR-IOV based networking.

New APIs supporting these features are available in Azure Python SDK.
(e.g. https://docs.microsoft.com/ja-jp/python/api/azure.mgmt.network.v2018_02_01.models.networkinterface?view=azure-py

[2018-06-06 23:42] #40850 closed, assigned to bcoca

[2018-06-07 01:44] Akasurde commented on #39441
resolved_by_pr #41197

[2018-06-07 01:46] selivan opened #41220 "ec2 module documentation: no "Return values" section"
##### SUMMARY
ec module documentation does not have "Return values" section: https://docs.ansible.com/ansible/latest/modules/ec2_module.html

So if you want to use this module results in later actions, you have to run it once and check manually what does it print. Not very convenient.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

ec2

##### ANSIBLE VERSION

[code]

##### CONFIGU

[2018-06-07 01:47] Akasurde commented on #41212
@LastCaress77 Thanks for reporting this issue. Would you be interested in testing this patch - https://github.com/ansible/ansible/compare/devel...Akasurde:i40180 and let me know if it works for you ?

needs_info

[2018-06-07 01:50] selivan opened #41221 "ec2_instance_module: documentation section "Examples" is from ec2_instance_facts_module"
##### SUMMARY

Documentation for ec2_instance module has "Examples" section copied from ec2_instance_facts documentation: https://docs.ansible.com/ansible/latest/modules/ec2_instance_module.html#examples

It should have actual examples for ec2_instance module.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

ec2_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS

[2018-06-07 02:10] yuwzho commented on #41218
+label easyfix

[2018-06-07 02:28] auto2mate commented on #40807
Any help on this? I am stuck here.

[2018-06-07 02:41] caphrim007 commented on #40807
@auto2mate you need to add `-vvvv` to the `ansible-playbook` command to be able to see anything. The facts should be sent to a `register` variable

[2018-06-07 02:55] Aisuko commented on #14320
Same issue. Looks like not fixed.
[code]

[2018-06-07 02:58] Fred-sun commented on #40864
Hi @htallur ,I don't  know how to reproduced this bug, could you help share your reproduced method and fail message. Thanks a lot!

[2018-06-07 03:11] Aisuko commented on #14320
Alright,  I realized this can not be a solution,it only solve this issue

After I add `log_path= ./ansible.log` to `ansible.cfg`.
I input `ansible --version` got error

[code]

So, I input command `sudo ansible  --version`, ansible.log created sucessed

[code]

Ps: If you want to save ansible logs ,you must be run command like `sudo ansible-playbook xx.yml`. You can find ansible.log under `/etc/an

[2018-06-07 05:19] yungezz commented on #40976
this will be fixed by PR #38084 , which is under review

[2018-06-07 06:08] shibumi commented on #41133
@cigamit Here are the logs.. sorry for the screenshots instead of text pastes. But was the easiest way to get the information without having to setup network manually.

`vmware-vmvsc.log`
![](https://paste.xinu.at/siJprp/)

`vmware-network.log`
![](https://paste.xinu.at/g7Aps/)

[2018-06-07 06:15] ganeshrn commented on #29523
needs_info

[2018-06-07 06:16] ganeshrn commented on #29523
As the issue is reported on a relatively older version, please retry on the latest release of Ansible version

[2018-06-07 06:18] shibumi commented on #41133
I guess this bug report here is related to this issue: https://github.com/vmware/open-vm-tools/issues/240

[2018-06-07 06:34] shibumi commented on #41133
Note: Connecting the NICs works fine with official vmware-tools. So seems like this is an issue that the open-vm-tools people need to solve.

[2018-06-07 06:48] jenningsloy318 opened #41227 "vmware_guest module always create disks in a same datastore even configure another datastore"
##### SUMMARY
when I try to clone a new vm from existing vm using following playbook, which configure two disks that are in different datastores, but eventually two disks are created in the same datastore.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 vmware_guest
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no special conf or changes
##### OS / ENVIRONMENT
running on a centos 7.4 VM

[2018-06-07 06:58] AquaL1te commented on #29647
2018, still can't mount swap with Ansible?

[2018-06-07 07:04] Akasurde commented on #41227
@jenningsloy318 Thanks for reporting this issue. There is an open PR for this https://github.com/ansible/ansible/pull/33230 Would you be interested in testing and providing feedback related to this ?

needs_info

[2018-06-07 07:30] azaghal commented on #41187
I can see there are two actual issues you are facing here.

1. The `dconf failed while reading the value with error: error: dconf key must not end with a slash` error is perfectly expected, and normal for `dconf` tool itself. E.g. if you tried to use the command `dconf read /org/gnome/login-screen/enable-smartcard-authentication/` you would get exactly the same error message. In similar way, you d

[2018-06-07 07:52] justjais commented on #36977
It'll be fixed with the merge of PR #41230.

[2018-06-07 07:52] #36977 closed, assigned to justjais

[2018-06-07 08:01] shibumi opened #41231 "[vmware-guest_tools_wait] can't find VM although it definitly exists"
##### SUMMARY
The module **vmware_guest_tools_wait** is unable to find the VMs name via `name` parameter.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

**vmware_guest_tools_wait**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Host Running Ansible: Arch Linux
Target Host: VMWare ESXI Hosts with Ubuntu 18.04 Template
ESXI Version: 6.0.0

##### STEPS TO

[2018-06-07 08:08] piroux commented on #16621
Does someone have a plan for this **heavily** missing feature ?

Have someone started to implement it ?

- If yes, what are the hardest tidbits preventing from finishing it ?
- If no, what are the blocking points preventing from implementing it ?

[2018-06-07 08:11] pawel1392 opened #41232 "AIX 7.2 shell module [YOU HAVE NEW MAIL] issue"
##### SUMMARY
Hi,
during execution of a shell module on destination AIX 7.2 host there is module failure error when message [YOU HAVE NEW MAIL] appear when you log into become user. I.e. when you log into oracle user and got [YOU HAVE NEW MAIL] os message module will fail. it is not happen when there is no such message.
* this message occurs i.e because of cron jobs

##### ISSUE TYPE

 - Bug Repor

[2018-06-07 08:23] avinash-fissionhq opened #41233 "Mask values in extra variables in ansible tower"
##### SUMMARY
I am trying to run tower job template with extra variables from jenkins pipeline script. When the job is running I do not want tower to show my credentials in tower extra variables box. Is there any way to mask or encrypt those values?

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

[2018-06-07 08:41] seuf commented on #39663
Hi @rrey I'm already working on it. I agree that the header management can be refactored.
I will introduce a new uid parameter and keep the slug one, then check the grafana version to be retro-compatible with grafana <5

[2018-06-07 08:46] liubog2008 commented on #8603
+1

[2018-06-07 08:51] omani commented on #24628
I guess this is actually a bug. I have the same issue. ansible 2.4.3.0 here.

[2018-06-07 08:59] juame opened #41235 "os_subnet should remove obsolete host_route"
##### SUMMARY
Ansible Module for OpenStack can't remove host_routes from OpenStack subnets. It would be great to remove static routes from subnets with Ansible.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

os_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

If a host_route is not existing in the dictionary `host_routes` anymo

[2018-06-07 09:01] Akasurde commented on #41231
@shibumi Thanks for reporting this issue.

Could you please check following -

1. Is VM `vvtep1` is created ?
2. Path in second task is `/TUC-Test/cre13/` but in console log shows `TUC-Test/cre13`, can you check if it is not typo ?

needs_info

You can ping me on irc channel `#ansible-vmware` on irc.freenode.net

[2018-06-07 09:05] memo42 commented on #35585
OK, thanks. I believe this Issue can be closed, then.

[2018-06-07 09:08] marcinhlybin opened #41236 "when conditional fails on string variable"
##### SUMMARY
I often initialize variables with null values to avoid undefined errors. I check if variable is null with when conditional `when: variable_name`.

However when variable is a string Ansible returns error. See STEPS TO REPRODUCE for details on error. I figured out workaround by adding  `( )` or `default()` filter.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible

##### ANS

[2018-06-07 09:12] shibumi commented on #41231
Mhhh same issue with the `instance.instance_uuid`:

[code]

[2018-06-07 09:15] Akasurde commented on #41231
Can you paste `-vvvv` log ?

[2018-06-07 09:27] shibumi commented on #41231
@Akasurde

1. The VM definitly exists. The vmware_guest job runs without issues
2. No typo, but `/TUC-Test/cre13` doesn't work as well. Note: The documentation for the module says it doesn't matter if you do `datacenter/folder` or `/datacenter/folder`.

Here is the -vvvv log:
[code]

[2018-06-07 09:27] shibumi commented on #41231
Note: I was trying it with `instance.uuid` as well.. doesn't work

[2018-06-07 09:38] justbiaoliu opened #41238 "lib/ansible/module_utils/network/common/config.py method of add will remove duplicate command"
##### SUMMARY

(https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/network/common/config.py)
When I use module of ce_config, it run into errors, however, I found that it is caused by ansible(lib/ansible/module_utils/network/common/config.py) itself. I am very curious about method of
“def add(self, lines, parents=None):”
        ancestors = list()
        offset = 0
        obj

[2018-06-07 09:56] markgoddard opened #41240 "os_quota module fails when Cinder endpoint not in catalogue"
##### SUMMARY

In a cloud without Cinder, the volumev2 endpoint will not exist in the Keystone endpoint catalogue. If the os_quota module is used in such a cloud, it fails with a traceback and the following exception:

`keystoneauth1.exceptions.catalog.EndpointNotFound: public endpoint for volumev2 service not found`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_quota

##### ANSIBLE VER

[2018-06-07 10:01] markgoddard commented on #41240
Tried to reproduce with Ansible 2.4.4, and the issue is not present. The issue appears to have been introduced in https://github.com/ansible/ansible/commit/4848652c7a760a530a8349ceb0d6ce95c8ad9586, when the exception caught and ignored in _get_quotas changed from keystoneauth1.exceptions.EndpointNotFound (the one being raised here) to shade.OpenStackCloudURINotFound.

[2018-06-07 10:29] zubfatal commented on #37984
Yes please, it would be great to have this added - thanks!

[2018-06-07 10:40] shibumi commented on #41231
Ok looks like the path was wrong.. right path would be `/TUC-Test/vm/cre13`

It would be nice to have a `datacenter` variable for this module. That way the module could set the `vm` on default like in the other modules.

[2018-06-07 10:43] markgoddard commented on #41240
The module is executed in a virtualenv with these python packages installed:
[code]

[2018-06-07 10:46] ghost opened #41243 "ansible only uses the user root for ssh connection"
##### SUMMARY

I can't get ansible to connect to a host using a username other than root.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible.cfg is unmodified

##### OS / ENVIRONMENT

Distributor ID:	Debian
Description:	Debian GNU/Linux 9.4 (stretch)
Release:	9.4
Codename:	stretch

##### STEPS TO REPRODUCE

[code]

##### EXPEC

[2018-06-07 11:04] Akasurde commented on #41231
Module works after setting correct path. Closing this issue.

[2018-06-07 11:04] #41231 closed, assigned to nobody

[2018-06-07 11:14] Pectojin commented on #40615
Hmm, that loooks right.

I copied your barebones playbook and ran it at a freshly installed RHEL 7.5 machine just now and I'm still seeing the behavior

[code]

Just to verify dependencies I rolled the same machine install again and ran yum update manually on it
[code]
Again showing different behavior from the playbook
[code]

I'll try to setup a CentOS machine later today to see if I can replicat

[2018-06-07 11:19] justbiaoliu commented on #41238
Hello, @ansibot , I have updated it.

[2018-06-07 11:30] devopsian commented on #36504
I've taken another look at this issue, which I was also getting.  My reason was an old version of f5-sdk.  The doc now mentions you need >=3.0.9.  Once I updated to this I was able to use the module again.

[2018-06-07 11:37] Akasurde commented on #39569
resolved_by_pr #41248

[2018-06-07 11:50] jlozadad commented on #41116
can you run with -vvv? also is the process up ?

[2018-06-07 12:11] ryansb commented on #41221
This is fixed in `devel` and will be added to `latest` when 2.6 is released https://docs.ansible.com/ansible/devel/modules/ec2_instance_module.html#examples

[2018-06-07 12:11] #41221 closed, assigned to nobody

[2018-06-07 12:30] jmcleroy commented on #41148
Can confirm this is happening for myself and another as well.

[2018-06-07 12:35] thallal commented on #40972
Still waiting for the update to show up in RedHat, have not been able to test yet.

[2018-06-07 12:44] drewdogg10 commented on #41148
Yes we have had a couple users try to run a similar playbook to create a change_request in ServiceNow.  We have validated the id being used has write access to that table.

[2018-06-07 12:51] rhodain opened #41251 "Alow the ovirt_vms module to create ticket for the VM console"
##### SUMMARY

One of the common tasks is to open a console to the VM (VNC/SPICE). It would be great if this could be automated by the ansible. An admin who is creating a VM can use ansible to deploy a VM, but under some circumstances, the VM may not be accessible via the network and the graphical console has to be used to do further configuration. It would be great if this module could issue the

[2018-06-07 13:13] thatsk opened #41254 "can we pass input to --ask-pass"
if i want to run playbook that can deploy ssh-key on all host .
but first time it ask for password.

ansible-playbook --ask-pass ssh-key.yaml

it prompts for password.
can we pass password in command itself.

[2018-06-07 13:21] Pectojin commented on #40615
I created a new CentOS 7.5 minimal image and deployed a couple of VM's. The installation ISO is straight from a mirror on the Centos Website, using http://mirror.centos.org/centos/7/os/x86_64/ for updates.[root@testbox02 ~]# rpm -qa dhcp-libs dhcp-common dhclient dhcp dhcp-devel
dhclient-4.2.5-68.el7.centos.x86_64
dhcp-libs-4.2.5-68.el7.centos.x86_64
dhcp-common-4.2.5-68.el7.centos.x86_64

Running

[2018-06-07 13:33] dtantsur commented on #22417
This will not work, undefined variables in `vars` cause a failure (just tried).

[2018-06-07 13:40] Pectojin commented on #40615
I've run another test from a Centos 7.5 laptop to Centos 7.5 server to get a newer Ansible version
[code]
The -vvv output
[code]
Again in the yum log all packages are installed
[code]

[2018-06-07 13:43] Pectojin commented on #40615
+label affects_2.6

[2018-06-07 13:54] azaghal commented on #25665
It would be interesting to perhaps add ability to pass in a bunch of parameters into the `ldap_attr` module instead of just a single attribute. Then again, that could complicate the module more than it's worth - perhaps an additional module that operates on multiple attributes would be helpful?

Depending on how you look at it, one could say that OpenLDAP should either not error-out on this, or ac

[2018-06-07 14:01] sivel commented on #40778
Resolved in https://github.com/ansible/ansible/pull/41208

[2018-06-07 14:01] #40778 closed, assigned to nobody

[2018-06-07 14:12] liubog2008 opened #41257 "How to pass variables when include_role"
##### SUMMARY
It seems hard to send a param into a role. The rule of `vars` is confusing.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I can pass the `version` variable into role `b` without any variable name changes of role b and a

##### ACTUAL RESULTS

[2018-06-07 14:15] sivel commented on #41257
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-06-07 14:15] #41257 closed, assigned to nobody

[2018-06-07 14:19] sivel commented on #41236
Ultimately this is a duplicate of https://github.com/ansible/ansible/issues/34591

See the description at https://github.com/ansible/ansible/issues/34591#issuecomment-356081973

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-06-07 14:19] #41236 closed, assigned to nobody

[2018-06-07 14:37] azaghal commented on #25665
Since somebody just might find this useful, I've figured out a bit more specifics around @rbotts 's solution. Now, I would not be surprised this behaviour changes depending on distro and TLS library OpenLDAP has been built against. This particular solution works against (soon to be expired) Debian 8.

Essentially, what you can attempt to do is:

1. Attempt to set the `olcTLSCertificateKeyFile` fir

[2018-06-07 15:22] abhigarg28 opened #41260 "Get SQS url as return value"
##### SUMMARY
Currently there is no way to get the SQS url of an existing queue or a newly created queue either in ansible 2.5 or 2.6

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
`lib/ansible/modules/cloud/amazon/sqs_queue.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
abhi@:~$ ansible-config dump --only-changed
abhi@:~$

##### OS / ENVIRONMENT
Running from - ubuntu 18.04
Managi

[2018-06-07 15:32] sivel commented on #41254
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-06-07 15:32] #41254 closed, assigned to nobody

[2018-06-07 15:34] sivel commented on #41243
Does your inventory file specify `ansible_ssh_user` or `ansible_user`?

Inventory variables win over CLI args.

needs_info

[2018-06-07 15:39] nicholasmarais1158 opened #41261 "Poor messaging when providing an invalid key-file"
##### SUMMARY

When specifying a private key using --key-file and the path to the file is invalid, the error messaging is unhelpful.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running on OSX, managing Ubuntu.

##### STEPS TO REPRODUCE

Run the command below, providing a valid host.

[code]

##### EXPECTED RESUL

[2018-06-07 15:40] opoplawski commented on #28061
This is helpful for auditing changes to systems.

[2018-06-07 15:41] sivel commented on #41233
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be something that should be filed against another project or bug tracker, and let us explain our reasons for thinking this:

   * This issue tracker is for the open source Ansible project, and not for Tower bugs or support.

If you c

[2018-06-07 15:41] #41233 closed, assigned to nobody

[2018-06-07 15:46] Infineight commented on #41243
I've had it set to ansible_ssh_user for a long time. ansible_ssh_port works for my custom port after all so it would make sense for ansible_ssh_user to be the correct option.

I've also tried ansible_user, remote_user and user in the inventory variables, but no difference there. Still always comes up as root in the debugging for some reason.

Here's my inventory config for this host - minus the re

[2018-06-07 15:50] pneerincx opened #41262 "Synchronize module is hard-coded to disable connection sharing resulting in network ban"
##### SUMMARY
synchronize module does not respect ssh option for connection sharing by using hard-coded SSH control path 'none'. Many servers limit the amount of SSH connections that can be made within a certain amount of time (e.g. max 5 connections per minute). When connection sharing is disabled a playbook, that uses synchronize with a list of files/dirs to sync and that worked a first time, ma

[2018-06-07 15:54] rikkertk commented on #40626
Juniper states that they do indeed expect the top level node to be commit-configuration and not commit which is what ncclient is sending.

https://www.juniper.net/documentation/en_US/junos/topics/reference/tag-summary/junos-xml-protocol-commit-configuration.html

If I understand the ansible code of 2.4.4 correctly, it didn't use ncclient to send the commit but set up the socket itself and did set

[2018-06-07 15:55] vmercierfr commented on #19114
Hi,

Is there a new method to create a route53 zone assigned to multiple PVC?

Thanks,

[2018-06-07 16:06] cryptmin commented on #37472
@sgargan has the module abandoned?

[2018-06-07 16:15] sivel commented on #41262
Duplicate of https://github.com/ansible/ansible/issues/24365

[2018-06-07 16:15] #41262 closed, assigned to nobody

[2018-06-07 16:26] hawkeyej opened #41263 "Ansible 2.5.1 and after produce CHANGED instead of SUCCESS"
Running simple shell commands now produces CHANGED instead of SUCCESS.

This began with 2.5.1 and still exists in 2.5.4

2.5.0 still produces SUCCESS.

[2018-06-07 18:05] saichint opened #41268 "nxos_rpm does not properly work for reload patches"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_rpm

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I6(1)

##### STEPS TO REPRODUCE

* Currently, nxos_rpm works well for feature RPMs and nxos patches which do not need reload of the device. However, if the patch is a reload type, the device reboots after the a

[2018-06-07 18:06] mikewiebe opened #41269 "nxos_install_os module broken for connection plugin httpapi"
##### SUMMARY
The `nxos_install_os` module generates an error when used with connection plugin `httpapi`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_install_os

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ubuntu 14.04

##### STEPS TO REPRODUCE
Run the nxos_install_os integration test using connection plugin `httpapi`.

##### ACTUAL RESULTS
[code]

[2018-06-07 18:09] btv commented on #40615
I'm using ansible 2.5.4.
I'm not sure what I did last last time, but I was able to reproduce the problem this time. I rebuild another centos7.5 system, and ran my minimal playbook against my system. Below are the relevant part of the logs to show @Pectojin case:

[code]

[2018-06-07 18:53] drewdogg10 commented on #41148
Figured out the problem.  I was using the full url for the instance name.  Once I changed that it resolved the error.

[2018-06-07 18:53] #41148 closed, assigned to nobody

[2018-06-07 19:01] hawkeyej commented on #41263
The issue is the dramatic change in behavior from producing SUCCESS to CHANGED.

Before 2.5.1, SUCCESS was the result and it is now CHANGES from 2.5.1 and after.

These are using the SHELL module.

[code]

[2018-06-07 19:09] #40281 closed, assigned to nobody

[2018-06-07 19:36] sivel commented on #41263
This change is expected, and was explicitly done in https://github.com/ansible/ansible/pull/37601

However, I do note that there is a difference between using `-o` and not.

The following change, brings both into alignment:

[code]

cc @bcoca

[2018-06-07 19:58] sivel commented on #19203
The problem here is that the default ciphers in the python ssl module on your systems do not include the correct ciphers to communicate with the remote host.

This can be solved in a few different ways:

1. Compiling a custom python version to include the correct ciphers
2. update, or ask to have updated, the ssl ciphers the remote host is using

If you have further questions please stop by IRC or

[2018-06-07 19:58] #19203 closed, assigned to nobody

[2018-06-07 20:20] Renlor commented on #41212
Seems to be strongly related to or a duplicate of #40180,  this issue contains some information/conditions that #40180 does not.

[2018-06-07 20:27] nanisyako commented on #41148
What you used for the instance name ? I am having the same issue

[2018-06-07 20:29] bcavns01 commented on #40626
Would seem you're correct about how 2.4 was handling the configuration: https://github.com/ansible/ansible/blob/b3a1761365fdb7857a5581a955a9042e9e526d3f/lib/ansible/module_utils/connection.py#L63-L69

It seems another possible fix here is to toss out the usage of ncclient and simply revert to the previous method for loading configs.

[2018-06-07 21:00] hawkeyej commented on #41263
@sivel That's a pretty significant change for X.X.1 revision.

[2018-06-07 21:02] rambleraptor opened #41279 "`required: true` on AnsiblePlugin causes plugin to fail, regardless if option exists"
##### SUMMARY

On plugins that inherit from AnsiblePlugin, the `required: true` field on documentation causes plugins to crash with an error that the value for the option does not exist.

https://github.com/ansible/ansible/blob/c86fd6e2df1ecd3f830ba75f3b2010fd32fe3f46/lib/ansible/config/manager.py#L233-L240

The issue occurs at L238. The `get_config_value` always returns None. But, if documentatio

[2018-06-07 21:02] sivel commented on #41263
@hawkeyej it was a bug fix and completely acceptable for the release it was made in.

[2018-06-07 21:04] DanyC97 commented on #22691
@bcoca @jimi-c anyone of you might know what is the priority of this feature ? thx in advance

[2018-06-07 21:08] mikewiebe commented on #41269
@trishnaguha I was able to verify the `meta: reset_connection` is working for connection `local` and `network_cli`.  There is now just this issue with `httpapi`.

[2018-06-07 21:20] acozine commented on #37047
For an example, see http://www.dita-ot.org/colophon

[2018-06-07 21:32] adiemu5 commented on #40740
Same behavior if I set follow=False

[2018-06-07 21:38] kbreit opened #41282 "Meraki modules should analyze HTTP response code for detailed success"
##### SUMMARY
Meraki's API returns a HTTP code and sometimes it varies depending on the endpoint and method. The module utility looks for HTTP status codes greater than 300 for errors, but 2xx codes aren't reviewed by the module.

##### ISSUE TYPE
 - Bug report

##### COMPONENT NAME
meraki
meraki_organization
meraki_network
meraki_snmp
meraki_admin
meraki_vlan
meraki_switchport
meraki_device
merak

[2018-06-07 21:52] abhigarg28 commented on #41260
I wrote my own module to get the url from an existing sqs_queue, might
be helpful here.

Regards

Abhishek Garg

On 06/07/2018 05:09 PM, ansibot wrote:

[2018-06-07 21:55] kbreit opened #41283 "Meraki module methods aren't well documented"
##### SUMMARY
All methods and unique situations in the Meraki module utilities should be documented.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Meraki module utility

##### ANSIBLE VERSION
[code]

[2018-06-07 21:56] samdoran commented on #41261
I'm not able to duplicate the issue.

[code]

When troubleshooting connection errors, running the command with `-vvvv` gives connection related information.

needs_info

[2018-06-07 21:58] kbreit commented on #41282
!assign kbreit

[2018-06-07 22:00] jeeb opened #41285 "template module: failed_when ignored if become fails due to lack of user"
##### SUMMARY
If a user on a host is not yet available and the template module is being called with `become: yes` and `become_user: nonexistent_user`, the default sudo module's failure at becoming will cause the task to fail even if in check mode and `failed_when: task_variable is failed and not ansible_check_mode`, which should in theory prevent failures in check mode.

##### ISSUE TYPE
 - Bug Re

[2018-06-07 22:06] #38289 closed, assigned to nobody

[2018-06-07 22:46] AnishBAH commented on #21890
So I'm encountering a similar case to this and am not sure on why the behavior is happening.

`ansible-playbook 2.6.0.dev0
  config file = /home/ansible/proj-ansible/aws-modernization/.ansible.cfg
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/site-packages/ansible-2.6.

[2018-06-07 23:06] dagwieers commented on #41282
Only members of the Ansible GitHub organisation can be assigned. Sorry.

[2018-06-07 23:31] acozine commented on #40997
Thanks @JulienPalard. It may take a while for this to filter back into earlier versions, but we'll get there eventually. I appreciate your close reading of the docs!

[2018-06-07 23:35] mitchellmaler opened #41290 "Ansible Openstack Cannot Find Image that was uploaded to project"
##### SUMMARY
Using Ansible to create an OpenStack VM and getting the error that the image does not exist. This image was uploaded to be part of the project. I have checked in UI under my project and the image ID and name are exactly what I am passing the module.

[code]

<img width="1653" alt="screen shot 2018-06-07 at 6 28 35 pm" src="https://user-images.githubusercontent.com/4107699/41131334-e2

[2018-06-07 23:38] tomerr-tradair opened #41291 "ecs_service.py: "network_configuration" for "awsvpc" is missing "assign_public_ip""
##### SUMMARY
Cannot assign public IP to an ECS container running with awsvpc network_configuration mode (also affects fargate probably).
https://www.terraform.io/docs/providers/aws/r/ecs_service.html#assign_public_ip
The subnet and security group options are OK but the 3rd option is missing from the code.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
amazon/ecs_service

##### ANSIBLE VERS

[2018-06-07 23:42] acozine commented on #16610
Thanks for reporting this, and apologies that it has sat untouched for so long. I'm reviewing old docs issues, trying to determine which ones need attention and which ones (if any) I can close outright.

It looks like this issue is no longer relevant. The Advanced Syntax page referred to above no longer refers to any particular version. We're about to release 2.6, and neither 2.3 nor 2.2 is still

[2018-06-07 23:46] acozine commented on #15216
@amblina thanks for suggesting this improvement to the documentation. We've added links to most if not all modules that have similar purposes on different platforms - see, for example, https://docs.ansible.com/ansible/devel/modules/file_module.html and https://docs.ansible.com/ansible/devel/modules/win_file_module.html#win-file-module. I'm not sure why this issue wasn't closed when that change was

[2018-06-07 23:46] #15216 closed, assigned to nobody

[2018-06-07 23:51] acozine commented on #16633
@hagbarddenstore thank you for suggesting this improvement to the docs. We've changed the site so the default page for Ansible Project docs is https://docs.ansible.com/ansible/latest/index.html, and `latest` is the most recently released version. Users who want to learn about features under development can see documentation for the `devel` branch at https://docs.ansible.com/ansible/devel/index.htm