[2017-11-09 10:05] andreibaban opened #32723 "vars_prompt does not display variable's value in prompt message"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vars_prompt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT
2.6.32-642.4.2.el6.x86_64 GNU/Linux

##### SUMMARY
Variables defined in playbook or read via extra-vars are not displayed in vars_prompt's prompt. Instead {{ var_name }} is displayed

##### STEPS TO REP

[2017-11-09 10:18] roshanmohite opened #32724 "Change backup path in ios_config module"
##### ISSUE TYPE

NA

##### COMPONENT NAME
`ios_config`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### SUMMARY
Using `backup: yes` within ios_config module, i am trying to do configuration backup of Cisco IOS switches. Aim is to save the config file to specific location as oppose to default location (playbook root directory)
##### STEPS TO REPRODUCE
Hosts

[2017-11-09 10:19] benapetr commented on #32722
info provided

[2017-11-09 10:22] pratikkava1189 opened #32726 "vars_prompt in variable file"
I have define the variable_prompt in vars.yml file but while executing playbook it's not prompting for variable.

[code]
[code]
[code]

##### ISSUE TYPE
Feature request

##### COMPONENT NAME

feature - vars_prompt

##### ANSIBLE VERSION

[root@Anisble pratik]# ansible --version
ansible 2.3.1.0
config file = /etc/ansible/ansible.cfg
configured module search path = Default w/o overrides
python versi

[2017-11-09 10:29] stintel commented on #32691
From http://docs.ansible.com/ansible/latest/yum_repository_module.html:

So please update the documentation and explicitly mention you decided to violate the ``stableinterface`` flag.

[2017-11-09 10:35] jborean93 commented on #32092
Hi @frntn, the docs are versioned and the default ones are set for the latest release, which is 2.4. The doc changes were made on the devel branch which is for 2.5 and can be viewed here http://docs.ansible.com/ansible/devel/apt_module.html. This will be the default page when 2.5 is officially released.

[2017-11-09 10:39] jborean93 commented on #32598
Thanks for confirming, good to know it had been fixed already. I don’t believe we can easily backport this to stable-2.3 as the PR that made the change had some functionality upgrades which we do not backport. I’m going to close this issue as you have confirmed it has been fixed in the latest version.

[2017-11-09 10:39] #32598 closed, assigned to nobody

[2017-11-09 10:47] pratikkava1189 commented on #32726
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
feature - vars_prompt

##### ANSIBLE VERSION
[root@Anisble pratik]# ansible --version
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]

[2017-11-09 10:52] alfozan commented on #24110
The problem still exists (only when when running the task again - all the packages have been installed already)

Ansible: 2.4.1.0
Host OS: Mac OS 10.12
Target OS: Linux 4.9.60-1-ARCH #1 SMP armv7l GNU/Linux

Task:
[code]

Error message:
`    "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_syuw497d/ansible_module_pacman.py\", line 444, in <module>\r\n    main()\r\n  Fi

[2017-11-09 11:00] jalbstmeijer commented on #30425
Testing Ansible-2.4.1.
Now it seems using no "-l' already limits the group_vars/ and host_vars/ you can access.
So worse for my case  if there is no other easy way to be able to query all  group_vars/ and host_vars/.

[2017-11-09 11:04] jamieburchell opened #32728 "Ansible jumps to another role half way through current due to escaping bug"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cron

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Bash on Windows 10

##### SUMMARY
Ansible starts running one role then half way through starts executing part of another role

##### STEPS TO REPRODUCE

Create and run a role containing this task, called goaccess-reports:

[code]

##### EXPECTED RESULTS
Some s

[2017-11-09 11:17] halberom opened #32729 "add cmd parameter + example to shell (and/or command?)"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
When outputting heredocs using shell, it's necessary to use
[code]
But this `cmd` param is not documented _anywhere_.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
A `cmd` param should be listed in the `command` and/or `shel

[2017-11-09 11:19] Akasurde commented on #32154
resolved_by_pr #32730

[2017-11-09 11:20] Akasurde commented on #32154
@Petro026 Could you please try above patch and let me know if it works for you ?

[2017-11-09 11:56] thomwiggers opened #32732 "Pacman doesn't support package name aliases"
This is a duplicate of https://github.com/ansible/ansible/issues/24110 but that issue is closed and nobody seems to be willing to open it (I even asked in #ansible).

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
pacman

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
Pacman supports aliases when searching or installing package names

[2017-11-09 12:00] thomwiggers opened #32733 "Pacman module crashes with get_bin_path error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

pacman

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT
ArchLinux

##### SUMMARY
The pacman module crashes with Python 2 and 3.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

SVN is installed.

##### ACTUAL RESULTS

[code]

[2017-11-09 12:05] thomwiggers commented on #32733
I've found that the same problem occurs with python 2 as well, instead of the other crash (#32732) I was expecting.

[2017-11-09 12:28] lvrfrc87 opened #32735 "asa_config save: yes AttributeError:"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
asa_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu

##### SUMMARY
asa_cong save:yes doesn t save config and output an error

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-11-09 12:48] mj84 commented on #32148
@onitake: Thanks a lot for the hint regarding the internal result variable!
Changing my `register` variable to something else indeed made a difference with 2.4.

I cannot contribute to the rest of the discussion though as it surpasses my Ansible horizon by a few lightyears 😄

[2017-11-09 12:56] ossark commented on #31988
I could test thinkgs if needed. Point me in the correct direction and I'll
patch locally.

On Fri, Nov 3, 2017 at 8:00 PM, Toshio Kuratomi <notifications@github.com>
wrote:

[2017-11-09 13:10] roshanmohite commented on #28210
I am getting the same error for Cisco ASA device when I run `ios_config` & `asa_config` together.
I am running `Ansible 2.5.0` and have not made any changes to ansible.cfg file.

[code]
When i run this playbook; i get below error:

[code]
How do i resolve this? I dont want to use `--limit`

[2017-11-09 13:11] ossark commented on #32035
[code]

[code]

[code]

[code]

[2017-11-09 13:21] ohmer commented on #27933
Hi,

Same problem here with version 2.4.1.0 and python version = 3.6.3 (default, Oct  3 2017, 21:45:48) [GCC 7.2.0]

task definition :
[code]
inventory/group_vars/dev.yml
[code]
ansible-playbook -vv output :
[code]

running-configuration before play includes:
[code]

I am very interested in a solution / help because I have been struggling on this for hours now !

Thanks !

[2017-11-09 13:26] jpalczewski commented on #32699
indentation in issue was my mistake - original code has the right indentation(I know `ERROR! Syntax Error while loading YAML` very well and that's the case if I run that with the wrong indentation), but I just forgot to paste the most important options and done it the second time.

Extra-verbosity log is here:  https://gist.github.com/jpalczewski/d8d177c4006f568bfea89ffc74f39246
I tried to catch a

[2017-11-09 13:45] abadger commented on #31988
Cool.  Go to this paramiko bug: <https://github.com/paramiko/
paramiko/pull/1106>

and try applying that change to your version of paramiko.

[2017-11-09 14:24] ChiKenNeg commented on #32015
Same here, it's kinda hard to maintain a fully tagged ansible code without the basic functionality to control desired 'include' flows.

[2017-11-09 14:27] Chrislevi commented on #32015
Very confusing, I don't find putting "always" in all include_tasks as a valid workaround.
considering to change my whole automation to a different tool despite of ansible being very appealing and flawless in certain areas.

[2017-11-09 14:30] Qalthos commented on #31906
resolved_by_pr 32215

[2017-11-09 14:32] #31906 closed, assigned to Qalthos

[2017-11-09 14:39] Sebbo94BY commented on #31518
@jborean93 Everything, what is used by the playbook, is already mentioned in my first post.

There are no other variables or configurations.

[code]

So, what can I do now?

[2017-11-09 15:02] eduardobaitello commented on #14959
@PickRelated I was experiencing the same problem.

The reason was that I have the `gather_facts` disabled in my Playbook.
Enabling `gather_facts` and using `PATH: "/usr/local/bin:{{ ansible_env.PATH }}"` works fine.

[2017-11-09 15:18] dcotruta opened #32741 "OpenStack is missing list images functionality"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
os_image_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 & N/A

##### SUMMARY

os_image_facts defines **image** (a name or id) as required, which is not the case with (for example) **name** in os_networks_facts and others. This means that there is no way to get a list of images on an OpenStack con

[2017-11-09 15:27] DadaHiT opened #32742 "ios_command: Unable to save configuration via save_when"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config:
save_when: always

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS 10.13.1

##### SUMMARY
When use save_when: always function in ios_config module to save the configuration. It actually sending ''copy running-config startup-config\r" to the ios. But actually it needs double "enter" to complete

[2017-11-09 15:40] sivel commented on #32719
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-09 15:40] #32719 closed, assigned to nobody

[2017-11-09 15:42] nertpinx commented on #25961
I found out this is caused by `pipelining = True` in the config file (in `[ssh_connection]` section). According to the documentation that can only be set with `requiretty` turned off on managed node, however that didn't work for me either, so I'm left without pipelining. Hope this helps someone.

[2017-11-09 15:48] ganeshrn opened #32743 "[DI_MISSING] Add missing declarative module net_interface for supported platforms"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- [x] eos/eos_interface https://github.com/ansible/ansible/pull/34258 @ganeshrn
- [x] nxos/nxos_interface https://github.com/ansible/ansible/issues/31883 @trishnaguha

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[cod

[2017-11-09 16:05] turb commented on #31799
Pull requested: #32745

I finally added a "force" option in the same fashion than "force" in the "template" module.

[2017-11-09 16:10] Nosmoht commented on #30929
Next one: __ansible_default_ipv4__ not available

[2017-11-09 16:28] Dmitry1987 opened #32747 "Error during "make rpm" build from repo"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Latest version "make rpm" step of installation from github

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
amazon linux 2016.03  (CentOS 6)

##### SUMMARY
The step of "make rpm" fails with:
[code]

because the actual file it looks for, is in /root/ansible/rpm-build/BUILDROOT/ansible-2.5.0-100.git201711091502.465b86f.devel.amzn1.x86_64//usr

[2017-11-09 16:42] MarkRoddick commented on #29607
any update on this issue? it also affects azure_rm_virtualmachine if the vnet/subnet is in a different resource group

[2017-11-09 16:42] #32154 closed, assigned to nobody

[2017-11-09 16:54] rseuchter opened #32750 "get_url fails to retrieve https url through http proxy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`get_url` module

##### ANSIBLE VERSION
Ansible 2.4.1.0 (sorry, don't have the exact ansible --version output at hand right now)
[code]

##### CONFIGURATION
nothing changed

##### OS / ENVIRONMENT
Ubuntu 16.04 in a Vagrant Box running on VirtualBox on Windows. The script runs during Vagrant's Ansible provisioning.

##### SUMMARY
Ansible's get_ur

[2017-11-09 16:56] petrovicboban commented on #27973
Which change exactly?  I'm running ansible 2.4.1.0 and I'm still facing the same problem, when using default strategy.

[2017-11-09 17:09] wknapik opened #32753 "cloudformation_facts overwrites the whole cloudformation dict (issue with profiles)"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
cloudformation_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`cloudformation_facts` overwrites the whole cloudformation dict with each call. When multiple aws profiles are used, each call represents a different view of the world. In fac

[2017-11-09 17:13] #23263 closed, assigned to ganeshrn

[2017-11-09 17:25] frippe75 commented on #20579
+1 from me

[2017-11-09 18:07] jparrish commented on #29986
I also just ran into this issue in Ansible 2.3 on CentOS. The issue is triggered when using non-singleton cidr blocks, and not wide open. For example,

[code]
fails, but
[code]
will succeed

[2017-11-09 18:33] xavier-re commented on #31878
I have a similar issue in aws_s3 module where
      - name : upload the sg to s3
        aws_s3:
          profile: "myprofile"
is not appied,
but export AWS_PROFILE=myprofile works
can you reproduce it ?
(ansible 2.4.0.0 here)

[2017-11-09 18:35] bobobox commented on #29352
This would be really nice to have.

[2017-11-09 18:47] ogenstad commented on #32735
Sent a PR for this #32761.

@FedericoOlivieri the save parameter would save the configuration regardless of if a change has been made or not. See the PR for more details.

[2017-11-09 19:10] samdoran commented on #32723
The `prompt` value is not currently templated. It _may_ be possible to do this, but could easily turn into a chicken/egg scenario.

`vars_prompt` happens very early on because the variables supplied at the prompt are most likely required in the play.

I'll see what it would take to do this, though.

[2017-11-09 19:13] lvrfrc87 commented on #32735
I don't see how this can be related to this issue. In ma case save is not working as my startup config is different from my run after the playbook run

[2017-11-09 19:19] mpetrive-rh commented on #31655
@leifmadsen  I downgraded to ansible-tower-cli 3.1.0 but it still seems to be using the v2 API.  Do I need to back further than that?

[2017-11-09 19:41] ogenstad commented on #32735
@FedericoOlivieri, I'm not sure if you are referring to my comment about the configuration save or the PR itself.

What I meant with the comment is that your task was named "save running to startup when modified", the `save: yes` parameter will save the configuration regardless of if a change nas been made to the running configuration.

The PR fixes the broken save parameter, i.e. the error you ar

[2017-11-09 19:49] ksmets opened #32764 "upgrade from 2.3 to 2.4 breaks vars loading when using 'path' as inventory_hostname"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[chroot](https://docs.ansible.com/ansible/devel/plugins/connection/chroot.html)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]

[code]

##### SUMMARY

After upgrading from a 2.3-release (i.e. `2.3.2.0`) to the latest 2.4-release (i.e. `2.4.1.0`) the chroot connection plugin no longer works.

##### ST

[2017-11-09 20:11] flaper87 commented on #29661
Hey folks,

Thanks a lot for the feedback, just wanted to let you know that I'll look into this soon. Sorry it's taken me long but I missed the notification when it was created and I'm now out in a business trip.

Thanks again :)

[2017-11-09 20:15] tykling commented on #31793
I never got the RC working but now that we have 2.4.1 in ports on FreeBSD I can confirm that 2.4.1 has indeed solved this issue for me. Thank you very much :) Closing issue.

[2017-11-09 20:15] #31793 closed, assigned to nobody

[2017-11-09 20:15] Qalthos opened #32765 "Update integration tests to use connection: network_cli and/or netconf"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
network

##### ANSIBLE VERSION

[code]

##### SUMMARY

Now that the connection work is done, we would like the integration tests to move to the new connection types, with some tests remaining to test connection: local until it is removed in some future version.
- [x] eos
- [x] ios
- [x] iosxr
- [x] junos
- [x] nxos
- [x] vyos

[2017-11-09 20:22] Alex2357 commented on #14426
Just had this problem for me it was happening 4-5 times in a row. Ansible 2.3, Ubuntu 16.04.1.
But as I have not had any issues today in the area where it started happening and I did not do any changes there I just started to think that something goes wrong with the controlling node itself.
I decided to restart controlling node and try again and it worked for me with no issues. The problem gone.

[2017-11-09 20:23] lvrfrc87 commented on #32735
Ok, got it know. The name was a copy and paste from a ios playbook.
Where do I find your patch? (Sorry, I am new on github)
Federico

[2017-11-09 20:34] #32677 closed, assigned to nobody

[2017-11-09 21:02] jborean93 commented on #31518
@Sebi94nbg because we cannot reproduce it, there is not much we can do from our end. I would recommend you try the following and post the results if you can reproduce it

* Try different hosts and see if your result changes, let us know the details if it does
* Instead of having a a playbook and role to reproduce it, just put all your tasks in the playbook and test that out
* If you can reproduce

[2017-11-09 21:03] alexandrubau opened #32766 "Receiving AnsibleFileNotFound when in fact the file exists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible "copy" module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
bento/ubuntu-16.04

##### SUMMARY
After cloning a repository from Github using Ansible's **git** module, I would like to copy the `settings-dist.yml` into `settings.yml` file. The problem is that Ansible throws the following error:

[code]

The `sett

[2017-11-09 21:08] djmattyg007 commented on #32726
I think you need to edit the original post, rather than create a follow-up post.

[2017-11-09 21:10] ogenstad commented on #32735
@FedericoOlivieri, actually another PR #32521 was just merged which breaks the ASA modules in the devel branch. So the ASA code will have to be updated to work with that.

Look at this article instead for a better way to save the configuration, it's written for ios but will work with ASA too:
https://networklore.com/how-to-save-ios_config/

[2017-11-09 21:11] alexandrubau commented on #32766
Additional `vvv` details.
[code]

[2017-11-09 21:26] ajacocks opened #32767 "Ansible 2.4.0 letsencrypt module does not properly request a challenge, in DNS-01 mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- letsencrypt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- Fedora 26 x86_64, patched to current
- only letsencrypt module, attempting to generate certs against the staging environment

##### SUMMARY
- Ansible 2.4.0 letsencrypt module does not properly request a challenge, in DNS-01 mode

##### STEPS TO REPR

[2017-11-09 21:28] alexandrubau commented on #32766
Running a debug with `stat` module. As you can see the file exists:

[code]

[code]

[2017-11-09 21:36] tech-dad opened #32768 "How to limit debug to exclude the parent groups"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
module debug

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /home/zsmith/sq_ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.13 (default, Jan 12 2017, 17:59:37) [GCC 6.3.1 20161221 (Red Hat 6.3.1-1)]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora release 25 (Twenty Five)

[2017-11-09 21:44] gundalow commented on #31197
~~Need to resit command line arguments vs env, using the following causes the labels `#network_integration` `#python_2_7` to be lost. https://codecov.io/gh/ansible/ansible/commit/4443da2d79afc0daea6790d3aa81ade83a5455e7/build~~

RESOLVED: Set everything via ENV

[2017-11-09 21:44] s-hertel commented on #31878
@xavier-re That was a bug on Ansible version 2.4.0.0 and was fixed in 2.4.1.0.

[2017-11-09 21:53] bcoca commented on #31518
from the task
`force={{ item.force }}`
and from the `with_items:`
`force: 'no'`
and from invocation:
`  "force": true,`
<strike>
This looks like a 'typing' issue, the `k=v` form does not create booleans but strings, so the `'no'` string evaluates as `True`.

Try either using YAML notation `force: "{{item.force}}"` or `|bool` filter, in either case it is not related to the  `copy` module, </strike>

[2017-11-09 21:56] onitake commented on #32148
@mj84 we tackled the issue as follows, by the way:
[code]

This nets you a nice dictionary, mapping each entry in `managed_users` to the user's home directory.
As a bonus, `getent` fails the play if the user doesn't exist.

Side note: I know there are filters to query data structures directly (like `json_query`), but in this case, we needed a dictionary, and this approach works even when the `jmes

[2017-11-09 21:57] kenske commented on #19889
Any updates or workaround for this?

[2017-11-09 21:59] elnur commented on #32499
`brew` lets me switch between different Ansible versions. So I switched back and forth between `2.3.0.0` and `2.4.1.0` and 2.3 works fine while 2.4 fails — both on High Sierra.

[2017-11-09 22:06] elnur commented on #32499
That fixed it for me. I can finally use 2.4. Thanks. 🎉

[2017-11-09 22:08] #32499 closed, assigned to nobody

[2017-11-09 22:17] codyro commented on #29799
+1

[2017-11-09 22:26] sivel commented on #32766
Copy defaults to copying between the local Ansible controller and the remote node. To copy from a remote location to another remote location use `remote_src: true`

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-11-09 22:26] #32766 closed, assigned to nobody

[2017-11-09 22:28] sivel commented on #32768
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-09 22:28] #32768 closed, assigned to nobody

[2017-11-09 22:40] anryko commented on #29986
@jparrish, what's your cidr_ip: xxx.xxx.xxx.xxx/26? Are you sure subnet is correct? I encountered this behavior when subnet is wrong. In that case AWS backend will fix it silently. For example, subnet 10.10.10.32/26 is incorrect and would be substituted to 10.10.10.0/26 automatically on the first run. Then subsequent runs will fail.
[code]

[2017-11-09 23:48] #24328 closed, assigned to nobody

[2017-11-10 00:41] DownRangeDevOps commented on #18359
I believe I'm also experiencing this issue. I want to use the "Name" tag from my ec2 instances as their host name but set their private ip address as the value for `ansible_host`. However, I can't override the value of `ansible_host` that is set by the dynamic inventory via `group_vars/all`.

ec2.py creates this inventory:

[code]

In `group_vars/all` I have:

[code]

Playbook:

[code]

Expected o

[2017-11-10 00:56] bcoca commented on #18359
@techFishIO

The `all` group has lower precedence than any host variable, so it is not meant to override them.
See the precedence docs for details  http://docs.ansible.com/ansible/latest/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

[2017-11-10 00:58] bcoca commented on #18359
@timend  no, hostvars always win over group vars, not matter if set in  inventory or host_vars file

[2017-11-10 00:59] bcoca commented on #18359
@fernandezcuesta  i still cannot get a reproducer for your issue

[2017-11-10 01:02] #18359 closed, assigned to nobody

[2017-11-10 01:42] yaweiw commented on #29607
@yuwzho @zikalino can you take a look?

[2017-11-10 02:31] Akasurde commented on #32365
@mowntan Could you please try the fix and let me know if it works for you ?

[2017-11-10 02:32] #32365 closed, assigned to nobody

[2017-11-10 02:35] eromoe opened #32775 "ansible2.4 can not run dockerd(binary) in backgroud"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell
command

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

centos 7 in  vagrant

##### SUMMARY

#  install docker script

[code]

This just copy dockerd binary  to /usr/local/bin

#  start docker

[code]

# logs

1. But script `docker load < ${DOCKER_IMAGES_DIR}/${packages['registry']}`  in `TASK [registry : Install registry]`  ,  c

[2017-11-10 02:54] jparrish commented on #29986
@anryko You were exactly right. My subnet was incorrectly specified.
Thank you for the exceptionally clear advice.

[2017-11-10 03:11] ieevans opened #32776 "Netapp cdot modules failing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

storage/netapp/na_cdot_svm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/etc/ansible/ansible.cfg) = True

##### OS / ENVIRONMENT

Multiple OS's Windows subsystem for linux, Ubunut 16.04.3.
ONTAP 9.2

##### SUMMARY

Trying to use any na_cdot module fails with:

An exception occurred during task execution. To see the full

[2017-11-10 03:46] bcoca commented on #32775
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-10 03:46] #32775 closed, assigned to nobody

[2017-11-10 03:53] bcoca commented on #32764
its not the chroot plugin that breaks here, its 'host_vars loading' as the inventory hostname is valid path and the vars plugin finds a file but it fails to parse it.

This should  workaround  it for now:

`ansible -c chroot -i rpi_host, -m ping all -e 'ansible_host=/mnt/rpi`

[2017-11-10 05:27] ganeshrn commented on #32742
This issue should be fixed on devel branch by PR https://github.com/ansible/ansible/pull/32744

Can you please retest on devel branch.

[2017-11-10 05:27] ganeshrn commented on #32742
needs_info

[2017-11-10 06:21] Akasurde commented on #32000
Closing this issue as PR is merged. If issue persists, please re-open.

[2017-11-10 06:23] Akasurde commented on #21453
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2017-11-10 06:23] #21453 closed, assigned to nobody

[2017-11-10 08:35] mkrizek commented on #32732
Closing as duplicate of https://github.com/ansible/ansible/issues/24110 (which I re-opened).

[2017-11-10 08:35] #32732 closed, assigned to nobody

[2017-11-10 08:43] pablorf-dev commented on #31504
This also affects me.

As @jborean93 said, pause doesn't work, but I rewrote the playbook to use shell and sleep as follows:

[code]

And I can reproduce the bug:
[code]

[2017-11-10 09:31] jellevandehaterd commented on #27973
I my previous comment I posted a link to a [gist](https://gist.github.com/jellevandehaterd/28f58a2d88f835856d2b74b4a268a60e) with a working version. Haven't had the time yet to make a proper pull request yet.

[2017-11-10 09:45] petrovicboban commented on #27973
I tried to replace original file with yours, but it's not working well. Probably not compatible with ansible 2.4

Run with your file gives:
[code]
If I removed problematic lines, I get
[code]

so, I just gave up.

[2017-11-10 10:33] alexandrubau commented on #32766
Thank you @sivel for your help! I find it a bit confusing what `remote_src` does, but now it works.
Thanks again!

[2017-11-10 10:40] jellevandehaterd commented on #27973
I just created a [pull request](https://github.com/ansible/ansible/pull/32785)

[2017-11-10 11:24] Akasurde commented on #32465
needs_info

[2017-11-10 12:01] sebastiendarocha commented on #23073
Hello @dev00

Could you replace the "ISSUE TYPE" in the initial comment by "Feature Idea" instead of "Bug Report"

Thank you

[2017-11-10 12:46] ghost commented on #32702
After a few tests, I suppose the problem **could be** in how the VM is found.

My current client deploy its VM into vApps nested in other vApps.

I tried the recommended functions to find an VM according to VMWare : https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/get_vm_names.py

And it just can't find a VM recursively inside vApps.

[2017-11-10 12:51] #28394 closed, assigned to nobody

[2017-11-10 12:51] #30879 closed, assigned to nobody

[2017-11-10 12:51] Akasurde commented on #30327
@jhriv vmware_guest_powerstate module is added in version 2.5

[2017-11-10 13:09] #25201 closed, assigned to nobody

[2017-11-10 13:23] karlitos commented on #29350
I thought I have been affected by this issue as well, it turned-out, the module is working well. You have to check the configuration-file (debian/ubuntu: `/etc/mongod.conf`) if the authorisation is not enabled.

Authorization ON:
[code]
Authorization OFF:
[code]
Commenting ` authorization: enabled` __is not enough!__, you have to restart _mongo-deamon_ as well (debian/ubuntu: `service mongod resta

[2017-11-10 13:47] sebastiendarocha commented on #29405
The check option was added in the version 1.4.11 of may 2011.

http://www.netfilter.org/projects/iptables/files/changes-iptables-1.4.11.txt

That indeed would take a lot of work to change from --check to --list. Since it's a proble with a very old version of iptables I won't fix it.

needs_contributor

[2017-11-10 13:55] wknapik opened #32789 "cloudformation_facts vs. cloudformation+register formats are different"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
cloudformation_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If you use `clouformation` with `register` and then switch to using `cloudformation_facts` instead, you'll find, that that the format of the data returned is different and you

[2017-11-10 14:42] agorbachev commented on #26108
`fixed_ip` did not help me.
[code]

[2017-11-10 14:50] dev00 commented on #23073
@sebastiendarocha Done. Maybe we should add some information to the docs regarding working with ipset?

[2017-11-10 14:52] #32733 closed, assigned to nobody

[2017-11-10 15:00] thomwiggers commented on #24110
More recent results:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
Pacman supports aliases when searching or installing package names, but doesn't support them when querying package's installed states. This crashes the Ansible `pacman` module.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Show that subversion is already instal

[2017-11-10 15:03] cmock commented on #32767
I'm seeing the same in Ansible 2.2.1 (Debian package).

Setting the "challenge" on the first invocation to "http-01" doesn't help.

@ajacocks : did this work before for you? Because I think it did for me. LetsEncrypt changed the server side 3 hours before you opened this issue (https://twitter.com/letsencrypt_ops/status/928692468169576448), which may be related.

[2017-11-10 15:04] infrascripting opened #32791 "Kernel initramfs failed to build - module completed successfully"
##### ISSUE TYPE

 - Feature Request

##### COMPONENT NAME

module: yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL7 & RHEL7
##### SUMMARY

When upgrading the packages, even if yum/dracut can't build the kernel initramfs due to too not enough space in `/boot`, the command completes successfully. This is revealed on reboot, as the kernel panics because no initr

[2017-11-10 15:07] ajacocks commented on #32767
@cmock Unfortuntely, I hadn't tried this before, as I had just used certbot.  That's interesting that using the HTTP challenge didn't help; I can't use that, in my case, so I didn't try.

Can you post a log of your attempt, using HTTP-01?  I'll change the bug title to be more generic, when you do.  That may well help us to troubleshoot.

I hadn't noticed that LE changed the back end...that may wel

[2017-11-10 15:23] nikaro opened #32792 "sorted with_fileglob"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

`plugins/lookup/fileglob.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I use `with_fileglob` to include some files, but i need these to be ordered.

##### STEPS TO REPRODUCE

[code]

In `main.yml`:
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

Or whatever o

[2017-11-10 15:28] bcoca commented on #32792
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-10 15:28] #32792 closed, assigned to nobody

[2017-11-10 15:32] bcoca commented on #32764
@ksmets please confirm that the PR above resolves the issue for you

[2017-11-10 15:41] rubdos opened #32795 "ansible-inventory does not substitute variables"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

`ansible-inventory`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
n/a

##### SUMMARY
`ansible-inventory` reads the `group_vars` directory alongside, but does not attempt to parse any Jinja templates therein.

##### STEPS TO REPRODUCE
`hosts`:
[code]

`group_vars/all.yml`:
[code]

now run `ansible-inventory -

[2017-11-10 15:47] giorgos-nikolopoulos commented on #32500
We just added the option for graceful disabling of netscaler_server,
with [this](https://github.com/citrix/netscaler-ansible-modules/pull/15) PR on the module's source repo.

We will be submitting the changes to the Ansible repo in the future, but if you are in immediate need of the functionality you can install the module from a checkout of the master branch of the source [repo](https://github.co

[2017-11-10 16:17] lassizci commented on #17935
+1
For me the limit seems to be somewhere around 200-230 hosts. It happens on fact gathering and is pretty much guaranteed to happen. That's on Fedora 25 with ansible 2.3.2.0. Of course this can be turned off when it doesn't happen, but that only makes running tasks even slower and they are painfully slow already.

[2017-11-10 16:32] nikaro commented on #32792
In the case of someone come here by googling, i get it working by using:
[code]

[2017-11-10 17:00] s-hertel commented on #32722
Looks like it applies to all hosts in inventory https://github.com/ansible/ansible/blob/5553b208281d723ead1e61be5c37227ec2b2736e/lib/ansible/cli/playbook.py#L201-L204

[2017-11-10 17:05] wknapik opened #32800 "Unexpected shell module behaviors (with and without cmd:)"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The shell module behaves differently depending on whether `shell: some_command`, or `shell: { cmd: some_command }` is used.

I ran into this when using heredocs (thanks to @halberom for pointi

[2017-11-10 17:17] samdoran commented on #32723
Please test with PR #32802 and see if this works for you.

[2017-11-10 17:21] kevensen commented on #32195
@raspinall Can you please take a look at the commit in pull request https://github.com/ansible/ansible/pull/32197?  It has been rebased on commits that may fix this issue.

[2017-11-10 17:29] s-hertel commented on #32726
@pratikkava1189 I don't think that was intended to work like that so I've changed this to a feature request.

[2017-11-10 17:30] jess-sol opened #32803 "Allow patch module to be idempotent"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

[Patch module](http://docs.ansible.com/ansible/latest/patch_module.html)

##### ANSIBLE VERSION

[code]

##### SUMMARY
Currently the patch module works by applying a given patch to a specified file.  This works fine if the patch file never changes, but an update to the patch file doesn't reapply the patch to the original file, but to the alr

[2017-11-10 17:31] #18948 closed, assigned to nobody

[2017-11-10 18:16] ksmets commented on #32764
Thx @bcoca, PR #32778 fixes this problem.

[2017-11-10 18:26] #32764 closed, assigned to nobody

[2017-11-10 18:36] djadk84 commented on #30882
Not being able to use include and tags will pretty damaging to all my playbooks, I use a lot of loops and variables. This makes my transition to **include_tasks** impossible for now. Let's hope you guys give us a better alternative.

[2017-11-10 19:00] kairoaraujo commented on #29477
It can be fixed using the module aix_filesystem proposed PR #30810

[code]

[2017-11-10 19:00] bcoca commented on #32803
my 2c: `move_original` just seems like another form of `backup` and the problem will just be deffered for the 'next change', not fixed for future changes to the patch.

[2017-11-10 19:23] jurajbgh commented on #27136
hi all how do ai apply the fix?
thanks.

[2017-11-10 19:24] #28038 closed, assigned to nobody

[2017-11-10 19:38] afeblot commented on #29761
+1
Or remove the warning where it's not relevant...

[2017-11-10 20:15] jacksonp2008 opened #32808 "vmware_guest not allowing mac address to be set when there is a duplicate in vCenter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

It's also possible this is the root issue for this one :  https://github.com/ansible/ansible/issues/21161

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Although I am setting a static mac address with vmware_guest, it only works if this mac address is not already used somewhere on the

[2017-11-10 21:24] castroflavio commented on #15321
How do we solve this at the end of the day?

[2017-11-10 21:33] jess-sol commented on #32803
Yeah, it does function like backup in some respects.  There would be a few major differences though:
1. It'd only ever back up the original, not any subsequent changes.  My understanding of the backup option for GNU patch is it'd create a backup of every changed file.
2. Instead of applying the patch to the current file, it'd apply the patch to the backup'd file and replace the current file (there

[2017-11-10 21:42] brunocalogero commented on #32477
any updates ? :/

[2017-11-10 21:45] bcoca commented on #32803
you would still need a toggle as this assumes that the patch changes using original file as ref, not the new file

[2017-11-10 21:59] chrisjohnson00 commented on #20589
As `include` is now deprecated in 2.4.x, what is the outlook on this issue?

[2017-11-10 22:02] jess-sol commented on #32803
That's true, and I think if you do rely on patching the modified file then the `backup` attribute would be better suited for you.  My plan for the `move_original` attribute is that by default the value would be `false`, which would disable the functionality.  I did forget to mention this in the original issue, I'll update it to include that.

[2017-11-10 23:33] cydvd commented on #10829
[code]

[2017-11-11 00:56] timuster opened #32812 "import_tasks does not process variables in parameters"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

import_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/foo/project/ansible.cfg) = False

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The following documentation states that I can pass a variable to an imported or included task like `- import_tasks: wordpress.yml wp_user=timmy`. However, it only works for `include_

[2017-11-11 02:01] gbaufake commented on #24136
+1 on that feature!

[2017-11-11 06:22] Akasurde commented on #32358
@andreyfedoseev Could you please review/check PR and let me know if it works for you as I don't have AWS RDS env ?

[2017-11-11 07:05] Akasurde commented on #19968
@Fale Could you please post Ansible playbook which you used for traceback ? I can see playbook for `postgresql_db` not for `postgresql_user` in STEPS TO REPRODUCE section.

needs_info

[2017-11-11 07:44] ghost commented on #12919
Broken from 2.2 to 2.4. I've tried `-c paramiko` and `-f 1`.

[2017-11-11 07:46] mvasilenko opened #32816 "python 3.7 support - 'async' and 'await' are reserved keywords in python 3.7"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

`CentOS release 6.7 (Final)`

##### SUMMARY

`async` and `await ` are reserved keywords in python 3.7, Ansible source code needs to be edited accordingly

##### STEPS TO REPRODUCE

* get Python 3.7.0 source code, compile and install it
* get pip (get-pip.py) and install

[2017-11-11 08:32] Fale commented on #19968
@Akasurde hi. sorry for that. I added the `postgresql_user` part as well

[2017-11-11 09:07] pratikkava1189 commented on #32726
@s-hertel Thanks, will it be included in next release version?

[2017-11-11 10:08] Akasurde commented on #32477
@brunocalogero The above traceback is thrown by `pyVmomi`. I am not able to reproduce this error on my setup. I agree that Ansible module should handle this traceback.

Could you please try using "CISCO@bcaloger" instead of "CISCO\bcaloger" ? I am suspecting this as '\b' is translated as '\x08' in Python and internally going to ESXi server.

[code]

[2017-11-11 12:40] pcevela commented on #25421
This bug prohibits of using galaxy within every https proxy environment. Really needs to be fixed.

[2017-11-11 13:12] ganeshrn commented on #32619
This issue should be fixed on devel branch by PR https://github.com/ansible/ansible/pull/32744

Can you please retest on devel branch.

[2017-11-11 13:12] ganeshrn commented on #32619
needs_info

[2017-11-11 13:48] stephan2012 commented on #32500
Thanks for implementing graceful shutdown quickly. :-)

Will test it in the next days.

[2017-11-11 14:25] ti-mo commented on #32580
Have a similar problem, even though I set `appends: yes` on `docker_network`, it often (not always!) re-creates the network when there are containers attached.

Can work on a repro case if the maintainer cannot reproduce. `docker-py==1.10.6`

[2017-11-11 15:31] Akasurde commented on #29640
Thanks for reporting this issue. I am closing this issue as there is a module to manage snapshots [vmware_guest_snapshot](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest_snapshot.py). Please feel free to re-open the issue.

[2017-11-11 15:31] #29640 closed, assigned to nobody

[2017-11-11 16:10] eumel8 commented on #31998
pip uninstall urllib3

[2017-11-11 19:17] klauern commented on #31250
@ryansb I'm not sure I follow.  Is the assumption that I need to somehow provide a quote inside the parameter that it doesn't escape it incorrectly?  Part of what brought this up in the first place was ansible/awx#353 didn't work because of it, so I didn't have access to the underlying playbook to even do it.

[2017-11-11 19:50] newswangerd commented on #27136
@jurajbgh You can either ssh into the device first and select to have the host added to the known hosts file, or you can add the ANSIBLE_HOST_KEY_CHECKING=false environment variable before you run the playbook.

[2017-11-11 22:37] brunocalogero commented on #32477
Very good catch akasurde, will give it a go :)

[2017-11-11 23:18] cmock commented on #32767
I cannot use http-01 for that certificate either, but the problem is in the first invocation of the letsencrypt module, which should then just tell me how to answer that challenge, right? That's why I tried http-01 as well.

I have issued and renewed a handful of certs with that ansible role before, both with http-01 and dns-01, and yesterday I've also been able to renew one of those. The problem

[2017-11-12 01:44] tarpanpathak opened #32820 "Unable to install files on the target"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
- Unzip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
- This returns nothing.
[code]

##### OS / ENVIRONMENT
- Client: OS X Sierra
- Target: Amazon EC2 Ubuntu AMI
- Trying to upgrade binaries on the target using playbooks.

##### SUMMARY
- Unzip

##### STEPS TO REPRODUCE
- Task (config) that is failing:
[code]

- All tasks:
[code]

##### E

[2017-11-12 03:55] #32552 closed, assigned to Akasurde

[2017-11-12 08:16] giladjud opened #32822 "Gathering facts fails while SSH is fine"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Gathering fats

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Amazon Linux

##### SUMMARY
From an `ansible` server to the host server we have perfectly working SSH
An identical sister hosts works fine - i.e. gathering facts works well

when running ansible to this server - the gathering facts stage fails with a

[2017-11-12 09:02] hvindin commented on #32716
I was doing a bit more digging on this an tested a rebuilt of the ansible rpms with thisome pull request added as a patch  #32269 and it looks like that fixes this issue (it causes a bunch of other problems because the patch is literally just that change) but presumably that will mean that this bug is going to be fixed in 2.4.2.0?

[2017-11-12 10:27] VMois opened #32823 "Multiple Ansible ssh connections block by firewall"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible -> ssh connections

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=600s
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT

home host Debian 8, remote host running on Ubuntu

##### SUMMARY

Using Ansible on the rem

[2017-11-12 12:34] Akasurde commented on #22542
@ZubairLK There was [a bug](https://github.com/ansible/ansible/issues/32552) in vmware_guest_powerstate which might restricted you from powering on VM. Could you please re-try with latest code and let me know if it works for you ?

[2017-11-12 12:37] Akasurde commented on #22542
@jeroenjacobs1205 Anisble has a new module to manage powerstate of VMs, Could you please try vmware_guest_powerstate and let me know if it works for you ?

[2017-11-12 12:40] Akasurde commented on #32702
@cyrbi You are correct. vmware_guest is designed to be idempotent, when it does not find any VM with user given name, it tries to create a new VM. We are trying to come with good solution to find a VM with performance and scale, ideas/suggestions/solutions/patchs are welcome.

Could you please try latest 2.4/2.5 branch and let me know if it works for you ?

[2017-11-12 12:41] Akasurde commented on #32543
@Tronde Thanks for reporting this issue. I am closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2017-11-12 12:41] #32543 closed, assigned to nobody

[2017-11-12 19:24] dexpl commented on #32812
Same here with http://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/ansible-2.4.1.0-1.el7.ans.noarch.rpm; ansible-2.4.0.0-5.el7.noarch from CentOS 7 extras repo works as expected.

[2017-11-12 20:48] g- commented on #31779
To help others searching for this problem, the error message displayed is "... requires destructive modification. 'hard_modify' must be set to true to proceed."

On a related, but separate note — I noticed that the defaults for cache_subnet_group and cache_engine_version a few line above were also `dict(default="")` and likely should be changed as well. I suspect that is causing a 'changed' instea

[2017-11-12 23:03] gerhard-tinned opened #32832 "proxmox_kvm - creation of qemu VM centos-static with vmid 123 failed with exception=zero length field name in format"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
modules/cloud/misc/proxmox_kvm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS release 6.9 (Final)
Python 2.6.6

##### SUMMARY

The module causes the following error message. None of the fields are empty.

[code]

##### STEPS TO REPRODUCE

Using the playbook and example configuration (mostly) from [https://gi

[2017-11-12 23:38] sgutermann opened #32833 "apt_repository does not recognize filename option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No special configs, default install via pip

##### OS / ENVIRONMENT
Running ansible on debian jessie.

Deploying to debian stretch.

##### SUMMARY
FAILED! => {"changed": false, "failed": true, "msg": "Unsupported parameters for (apt_repository) module: filename. Supported parame

[2017-11-12 23:57] iamriz opened #32834 "msg: unsupported parameter for module: credentials_file"
I had the same problem as reported in this issue: https://github.com/ansible/ansible/issues/19978.
It is said that this link: https://github.com/ichundu/gce helped him resolve his issue. But it's now a broken link.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using ansible 1.9.2

##### OS / ENVIRONMENT
Debian GNU/Linux 7 (Debian linux 4.9

[2017-11-13 02:24] Akasurde commented on #32277
Closing this issue as PR is merged. Please feel free to re-open if issue persists.

[2017-11-13 02:24] #32277 closed, assigned to nobody

[2017-11-13 02:33] hvindin commented on #32820
I'm pretty sure that if you change you unarchive task to the following it will work:

[code]

It looks like you are trying to unzip "/tmp" which is a directory and therefore invalid.

Also, copy is deprecated in favor of remote_src, but that's just a stylistic thing :)

[2017-11-13 02:45] hvindin commented on #32823
I'm not sure what sort of strange firewall config would kill connections if they happen to often (seems like an odd administrative choice) but you should be able to limit the number of connections being made by doing the following:

In your ansible config set:
[ssh_connection]
ssh_args = -C -o ControlMaster=yes -o ControlPersist=yes
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
pipelining =

[2017-11-13 03:06] tarpanpathak commented on #32820
Thanks for your response @hvindin. I made the recommended changes:

Unzip task:
[code]
but am seeing the following error:
[code]

[2017-11-13 03:07] jgeorgeson opened #32836 "gitlab_group lacks visibility"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
source_control/gitlab_group

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
GitLab supports the same visibility levels for groups as for projects, but the gitlab_group module does not support it.

##### STEPS TO REPRODUCE
http://docs.ansible.com/ansible/latest/gitlab_group_module.html
htt

[2017-11-13 03:11] tarpanpathak commented on #32820
Spoke too soon.

This works:
[code]

But this fails with the error mentioned above:
[code]

Is that expected?

[2017-11-13 05:00] Akasurde commented on #26240
Closing this issue as PR is already merged. Please feel free to re-open if the issue persists.

[2017-11-13 05:00] #26240 closed, assigned to nobody

[2017-11-13 05:22] ganeshrn opened #32837 "Fix ios_banner integration test issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_banner

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should run sucessfully
##### ACTUAL RESULTS

[code]

[2017-11-13 06:10] Akasurde commented on #25086
@if-meaton Thanks for reporting this issue. I opened above PR to fix this issue. Could you please provide your views on this ?

[2017-11-13 06:10] Akasurde commented on #25086
resolved_by_pr #32839

[2017-11-13 06:43] guilledipa opened #32840 "Inventory plugin fails when passing correct JSON data"
- Bug Report
 - Documentation Report

##### COMPONENT NAME
ansible/plugins/inventory/script.py

##### ANSIBLE VERSION

Python libraries:

[code]

[code]

##### CONFIGURATION
No settings change/added/removed in ansible.cfg

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Inventory plugin expects non valid JSON data.

##### STEPS TO REPRODUCE

[code]

Sample playbook:
[code]

Sample inventory:
[code]

##

[2017-11-13 07:26] alexlanz opened #32841 "Rescue all hosts if one host fails"
There is no possibility to run the rescue part for all hosts if one host fails. I'm working on my deployment for a website. I want to deploy the site to multiple hosts. If something fails for one host than all hosts should not be deployed. Therefore, a rollback on all hosts should happen. The configuration "any_errors_fatal" is not working for it.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT

[2017-11-13 07:51] helldorado commented on #32832
@gerhard-tinned need more info.

PVE version,  Cluster state,

[2017-11-13 08:19] eromoe opened #32842 "Only first environment is set ."
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

centos 7

##### SUMMARY

vars:

[code]

hosts:

[code]

site.yml :

[code]

Run command `ansible-playbook site.yml -i hosts --tags 'others'` , and go into vagrant vm,  only found `PRIVATE_REGISTRY`  is set.

[2017-11-13 08:25] ganeshrn commented on #32405
@IPvSean The issue is fixed in 2.5 as part of PR https://github.com/ansible/ansible/pull/30610
Can you please retest on devel branch and confirm if it still exists.

needs_info

[2017-11-13 08:42] oopled opened #32843 "error using cloudwatchevent_rule"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

cloudwatchevent_rule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ACCELERATE_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 5.0
ACCELERATE_PORT(/etc/ansible/ansible.cfg) = 5099
ACCELERATE_TIMEOUT(/etc/ansible/ansible.cfg) = 30
DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible_plugins/action_plugins']
DEFAULT_CAL

[2017-11-13 09:47] pablorf-dev commented on #31504
After reviewing debug log, I believe it's a concurrency problem: notification of one host arrives just before the handler execution of the other just finish, wiping all notifications (check trace 'done running handlers').

The debug log is attached.

[handler.free.log.gz](https://github.com/ansible/ansible/files/1466161/handler.free.log.gz)

[2017-11-13 10:16] huzilin opened #32844 "Can't pass vault_pass to PlaybookExecutor"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
PlaybookExecutor

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
centos6.8

##### SUMMARY
Can't pass vault_pass to PlaybookExecutor

##### STEPS TO REPRODUCE
[code]

My code:

[code]

##### EXPECTED RESULTS
I execute the playbook correctly.

##### ACTUAL RESULTS
[code]

[2017-11-13 10:19] guenhter commented on #23578
This seems not to be longer an issue with the version `2.4.1.0`

[code]

@flaf can you confirm this?

[2017-11-13 10:42] andreibaban commented on #32723
thanks! just tested with PR #32802 and this works exactly as I wanted it.

[2017-11-13 10:47] #32070 closed, assigned to trishnaguha

[2017-11-13 11:04] kaechele commented on #21439
Hi there. I'd need the direct rule support as well. I'm also not sure whether this should be a separate module because it will add some more possible args to the module (type, table, chain, priority and arg).
I'll have a stab at it shortly.
I did try to tackle the zone operations in this PR #32845
Let me know in that PR what you think.

[2017-11-13 11:38] Akasurde commented on #32293
Fixed in PR https://github.com/ansible/ansible/pull/32671
Closing this issue. Please feel free to re-open if problem persists.

[2017-11-13 11:38] #32293 closed, assigned to nobody

[2017-11-13 11:53] Akasurde commented on #32042
@jffz Could you please try with latest 2.4 or 2.5 branch? The issue is resolved.

[2017-11-13 11:53] Akasurde commented on #32042
needs_info

[2017-11-13 12:02] giovannisciortino commented on #32800
I'm observing also from my ansible 2.5 repository that the shell module hasn't any 'cmd' options in ansible-doc documentation, 'cmd' is only a return value.

[code]

[2017-11-13 12:03] cyrilsebastian opened #32848 "Not able to create VM in Google cloud with Ansible."
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I am trying to make VMs and load balancer as shown in [Google Cloud Demo](https://github.com/GoogleCloudPlatform/compute-video-demo-ansible).

Things I have already done
- Created and downloaded Service Account with Compute Admin and Service Ro

[2017-11-13 12:04] halberom commented on #32800
@giovannisciortino - I raised https://github.com/ansible/ansible/issues/32729 in relation to the lack of 'cmd' docs, as a result of my discussion in irc.

[2017-11-13 12:09] Akasurde commented on #32808
@jacksonp2008 I am not able re-produce the issue. I am using same Static MAC address for vm 'Sample9' and 'Sample11'.

Here is facts gathered :

[code]

[2017-11-13 12:10] jlgaddis commented on #20925
FWIW, @dlspano's PR #31550 resolves this issue for me.

[2017-11-13 12:24] jurajbgh commented on #27136
@newswangerd  hello sir, I did the first step, the ssh but still the same issue, the second option wil this be in the ansible.cfg? Thanks!!!

[2017-11-13 12:24] jtyr commented on #13641
@papey Your way didn't work for me. I had to create `/usr/sbin/rc-policy.d` file to prevent the post-installation scripts from execution on Ubuntu 16.04.

[2017-11-13 13:05] lorenzmeyer77 opened #32850 "Ansible 2.3.2.0 Bug - Can no longer hand over more than one json parameter to a powershell script with "script""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Command "script"

##### ANSIBLE VERSION

ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.6 (default, Oct 26 2016, 20:30:19) [GCC 4.8.4]

##### CONFIGURATION

##### OS / ENVIRONMENT

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DES

[2017-11-13 13:20] papey commented on #13641
@jtyr yeah, this solution is not working anymore (do not know why)

[2017-11-13 13:31] Anshuk123 opened #32851 "Ansible jinja block"
How to pass a block as a variable into a jinja2 template.

$EscapeControlCharactersOnReceive off

$RepeatedMsgReduction on

daemon.err  /dev/console
I have tried putting the content in a yml file named as block.yml
and also done with trying the syntax as

{% set block %}

 {% include "block.yml" %}

{% endset block %}

I get the error as

AnsibleError: template error while templating string: expec

[2017-11-13 13:42] pjnagel commented on #18287
Here is another use case:

We use nexmo module to notify our developers of the progress of a very long-running deployment task. We wrapped it all in a top-level `rescue` block so we can send notification if any step failed.

However, in the case of unreachable errors, we get NO notification at all due to this issue.

For this use case, `meta: clear_failed_hosts` is also not ideal, because even if

[2017-11-13 14:21] Vladimir-csp opened #32853 "multiline shell fails on FreeBSD"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

FreeBSD 11.1-RELEASE-p1 server
FreeBSD 11.1-RELEASE-p1 client
##### SUMMARY

quoted multiline shell command is treated as separate commands.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

server_env.stdout multiline content gets piped into logger. This

[2017-11-13 14:31] cdman opened #32854 "Ansible 2.4.1.0 fails with "[Errno 12] Cannot allocate memory""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unsure

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Ansible running on an x64 Ubuntu machine with 16G of RAM. The machines being controlled are a large number (~600) of small ($5) Digital Ocean droplets running Ubuntu 17.10.

##### SUMMARY

After updating to Ansible 2.4.1.0 running my playbook fails midway w

[2017-11-13 14:39] gerhard-tinned commented on #32832
PVE 3.4, no cluster. Stand alone!

[2017-11-13 14:42] Vladimir-csp commented on #32853
OK, I figured out that this happens because shell module now uses csh instead of sh for some reason. Setting `-e ansible_shell_type=sh` does not help, but setting `executable: /bin/sh` in shell module itself is a workaround.

ansible_shell_type is unset and we have no mention of csh in ansible.cfg. Why has shell changed?

[2017-11-13 14:48] #26162 closed, assigned to trishnaguha

[2017-11-13 14:48] #30658 closed, assigned to trishnaguha

[2017-11-13 14:54] bertramn commented on #29240
Seems to be related to the setting of the environment. It fails when using `executable` but the below works fine:

[code]

[2017-11-13 15:38] pablorf-dev commented on #31504
Check #32852 comments

[2017-11-13 15:42] sivel commented on #32823
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-13 15:42] #32823 closed, assigned to nobody

[2017-11-13 15:45] sivel commented on #32840
You are not using an inventory script, you are using a JSON file as an inventory source.  In that case, it will be handled by the YAML inventory plugin, and will need to follow the conventions of the YAML inventory plugin, which does not adhere to the same format of the JSON output from a dynamic inventory script.

See https://github.com/ansible/ansible/blob/devel/examples/hosts.yaml

[2017-11-13 15:46] sivel commented on #32844
The Ansible python API is an internal API and not considered to be a stable public API.  As the ansible command line utilities are unaffected, that indicates that you are misusing the API.

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to eith

[2017-11-13 15:46] #32844 closed, assigned to nobody

[2017-11-13 15:47] sivel commented on #32851
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-13 15:47] #32851 closed, assigned to nobody

[2017-11-13 15:51] vbotka commented on #32853
As a first step I always change the login shell to /bin/sh for the user at host.

You might want to review the discussion here at
https://github.com/ansible/ansible/issues/13179

[2017-11-13 16:04] bcoca commented on #32853
I believe this was a bug introduced in 2.4.0, see if #31361 fixes this for you (will be in 2.4.2)

[2017-11-13 16:10] Akasurde commented on #31868
@2333 Thanks for reporting this issue. This is fixed in [PR](https://github.com/ansible/ansible/pull/32671). Let me know if it works for you.

[2017-11-13 16:21] Akasurde commented on #32439
@Petro026 Thanks for reporting this issue. I am able reproduce this issue on my setup.

[2017-11-13 16:23] Akasurde commented on #32439
resolved_by_pr #32858

[2017-11-13 16:32] pdellaert commented on #31937
Solved by #32298
(it does use a bit different field names, sorry, i should have looked at the portgroup module and keep them in sync).

If that would be a requirement, i can open an update PR to fix it

[2017-11-13 16:39] pankajadas opened #32859 "ansible all -m ping --ask-pass"
127.0.0.1 | UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: ssh: connect to host 127.0.0.1 port 22: Connection refused\r\n",
    "unreachable": true
}

[2017-11-13 16:39] stromnet opened #32860 "INI inventory regression: empty groups are no longer rejected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory/ini.py

##### ANSIBLE VERSION
stable-2.4 (based on code review)

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
N/A

##### SUMMARY
With the inventory refactoring in 2.4, the ini module it no longer rejects empty groups.
In 1.9 empty groups was not checked. When I tested my playbooks with 2.4 I did not notice any errors.
When testi

[2017-11-13 16:56] geerlingguy commented on #17268
Confirmed on Ansible 2.4.1 as well.

[2017-11-13 17:00] Akasurde commented on #31937
@forescout-spollock Could you please check above mention PR and let us know if it works for you ?

[2017-11-13 18:00] overskylab opened #32861 "bug condition `is not defined` when unset/set variable to !!null"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS: macOS high sierra (virtualenv)

##### SUMMARY

I run playbook with unset/undefined variable but condition `when: variable is not fined` return result is true

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I set expectation to remove apt-cacher-ng when `

[2017-11-13 18:05] mldmld68 opened #32862 "vmware_dvswitch module : add a parameter to set the dvswitch version"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT NAME
vmware_dvswitch

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

-->

##### OS / ENVIRONMENT

N/A
control vSphere 6.5 on vcenter and ESXi 6.0

##### SUMMARY
This module deploys only the latest version of the dvswitch which is equal to the vers

[2017-11-13 18:05] sivel commented on #32861
A null variable is still defined.  The act of setting that value to null still defines it.

Instead you want to compare it with `None`

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-11-13 18:05] #32861 closed, assigned to nobody

[2017-11-13 19:49] bcoca commented on #32860
confirmed, currently groups only defined as a 'vars' section don't cause errors.

[2017-11-13 19:58] bcoca commented on #32840
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

While Ansible supports parsing JSON files as inventory, they are not the same JSON format as the one inventory scripts output (see @siv

[2017-11-13 19:58] #32840 closed, assigned to nobody

[2017-11-13 20:02] ilana1291 opened #32867 "User ID displayed in ansible.log not correct if doing an sesu - to the ID"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I added this line to ansible.cfg to enable logging:
log_path = /Data/tools/apache-tomcat-7.0.42/webapps/openbd/sccb/data/logs/ansible/all-logs/ansible.log

##### OS / ENVIRONMENT

Linux

##### SUMMARY

We want to use the logging utilty to be able to see

[2017-11-13 20:36] ntwrkguru opened #32868 "docker_login module returns failed=false even when login fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`docker_login`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Sierra connecting to Ubuntu 16.04.03 and Docker Server Version: 17.09.0-ce

##### SUMMARY

When using `become: true`, the docker_login module returns `"failed" : false` even if bad credentials are passed and login to Docker Hub is unsucces

[2017-11-13 20:46] bcoca commented on #32841
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-13 20:46] #32841 closed, assigned to nobody

[2017-11-13 20:56] ntwrkguru opened #32869 "If logged in, docker_login will return the current password in results"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_login

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Sierra connecting to Ubuntu 16.04.03 and Docker Server Version: 17.09.0-ce

##### SUMMARY

If already logged in to the Docker Hub on the target machine, running a docker_login task with the wrong credentials will return the actual password i

[2017-11-13 20:59] ntwrkguru commented on #32868
If the argument `reauthorize: yes` is added to the task, this issue is not observed.

[code]

[code]

[2017-11-13 22:06] victorssilva commented on #11418
hey @gundalow, any idea on how to get this looked at?

[2017-11-13 22:18] bcoca commented on #32842
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `environment` keyword will temporarily set those variables for the duration of the tasks it affects, it does NOT permanently update

[2017-11-13 22:18] #32842 closed, assigned to nobody

[2017-11-13 22:27] isolationism commented on #31741
@grvtechno did you try running `pip install --upgrade pip`?

[2017-11-13 23:08] gouthampacha commented on #32776
@ieevans Do you have HTTP configured and allowed on ONTAP?

[2017-11-13 23:33] #30676 closed, assigned to samdoran

[2017-11-13 23:48] tima commented on #11418
@victorssilva Thanks for your persistence. Ansible is an incredible active open source project -- one of the problems is that the core team has more to keep up on than there are hours in the day.

Ideally, community members interested in having this feature/fix would elect to try it and provide you feedback. Barring that general community participation, I'd suggest you put the PR #32104 on the age

[2017-11-14 00:43] harrytruman commented on #30411
Also running a large inventory (2400+), seeing similar errors, and going through the same lengthy troubleshooting in hopes of finding log verbosity that points me in a better direction.
[code]

[2017-11-14 00:52] jmighion commented on #30411
Seeing it get to the end of a playbook and not getting the futex and closing calls. From the strace of a job that show the problem :
[code]

From a successful job :
[code]

[2017-11-14 01:32] bcoca commented on #32867
no, that seems correct, as I read it the `scbmd1m` user IS the one running Ansible.

This would be the same with sudo/su/doas/etc .. the 'current user running' is the one Ansible reports.

[2017-11-14 01:32] #32867 closed, assigned to nobody

[2017-11-14 01:38] willthames opened #32872 "ecs_task fails with versioned task definition"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ecs_task

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When passing a versioned task definition to ecs_task, the subsequent call to `list_tasks` will fail because it uses the task definition as the family, and doesn't like the `:` separating task definition name and version.

It's also unclear

[2017-11-14 02:35] belambert commented on #23578
This is fixed for me using [Elasticluster](https://github.com/gc3-uzh-ch/elasticluster).

[2017-11-14 02:40] nleve opened #32873 "Vault editor does not shred tmp files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-vault edit

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Running Ansible in Arch Linux managing Debian hosts.

##### SUMMARY

All temporary files in /tmp remain after editing. None are shredded or even deleted.

##### STEPS TO REPRODUCE

1. ansible-vault existing_vault.yml
2. save & exit
3. check /t

[2017-11-14 02:43] #32873 closed, assigned to nobody

[2017-11-14 02:44] nleve commented on #32873
False alarm, I dug deeper and these files were being created by another program, not the vault editor.

[2017-11-14 03:09] nitzmahone commented on #32617
Spent some more time playing with this- tripped over a bunch of bugs and undefined corner cases around masking builtin modules/plugins with roles (it *mostly* works, but due to some other issues with this approach, it's not a great user experience).

There's an `installer` project for 2.5 on the books that should vastly improve this, but given that it's still being defined, it wouldn't surprise me

[2017-11-14 04:03] Akasurde commented on #32859
Hi, @pankajadas !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This all

[2017-11-14 04:03] #32859 closed, assigned to nobody

[2017-11-14 04:09] Akasurde commented on #32834
@iamriz It appears that you are using older version of Ansible (1.9.2). `credentials_file` is added in version `2.1.0` - [here](https://github.com/ansible/ansible/commit/612d9c3e92a).

Could you please re-try with latest version Ansible and let us know if it works for you ?

Thanks.

[2017-11-14 05:07] xscript commented on #32617
Thanks @nitzmahone for your suggestions!
The config/env var approaches sounds very good to me. I searched a bit and couldn't find how to modify env vars within a Role. Could you point me to the right documentation? I want to have a try before we go down the road.
Thanks again! 😃

[2017-11-14 07:39] jeffguorg opened #32879 "Unsupported parameters for (stat) module: register Supported parameters include: checksum_algorithm,follow,get_attributes,get_checksum,get_md5,get_mime,path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
```ansible-config dump --only-changed``` give empty result

##### OS / ENVIRONMENT
CentOS 6.9 - Final
pip 7.1.0 from /usr/lib/python2.6/site-packages (python 2.6)
pip 9.0.1 from /opt/app/venvs/ansible/lib/python2.6/site-packages (python 2.6)

##### SUMMARY
we have a web app with flask. inside ap

[2017-11-14 07:56] Vladimir-csp commented on #32853
Testing this commit would take time.
Does the new logic default to sh if unset?

[2017-11-14 07:59] iamriz commented on #32834
I just tried a more recent v.  2.4.1.0 in another server and it works, thanks @Akasurde :+1:

[2017-11-14 07:59] #32834 closed, assigned to nobody

[2017-11-14 08:33] jeffguorg commented on #32879
not ansible's issue. sorry for that

[2017-11-14 08:33] #32879 closed, assigned to nobody

[2017-11-14 09:36] ssbarnea opened #32884 "os_floating_ip may throw AttributeError: internal_network"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_floating_ip

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When there is no network called `internal_network`, use of os_floating_ip module may throw an error that look like:

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Success.

##### ACTUAL RESULTS

[code]

[2017-11-14 09:36] Akasurde commented on #21161
resolved_by_pr #32885

[2017-11-14 09:37] Akasurde commented on #21161
@Trezamere Could you please check this PR and let me know if it works for you?

[2017-11-14 09:38] ghost opened #32886 "lvol fails with ValueError"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lvol

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Linux 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

The lvol module is not idempotent with the size of a partition when it's not exactly an integer

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2017-11-14 09:41] ghost commented on #32886
And considering I'm a complete noob for contributions here is the patch file I've made to correct the file ansible/modules/system/lvol.py :

[code]

[2017-11-14 09:53] vbohata opened #32888 "Recursive dependencies are run multiple times if using include_role or import_role in the root role"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
include_role, import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If role common has dependency on role common_base in meta/main.yml and myrole1, myrole2 lists common as a dependency in meta/main.yml, the role common_base is executed once as expected. If using include_role or import_

[2017-11-14 10:05] Akasurde commented on #32886
@cyrbi Would you like to raise a PR for this change?

[2017-11-14 10:27] obaranov commented on #32884
+1 To have that fixed.

[2017-11-14 10:32] pablorf-dev commented on #31504
I provide another example that is closer to my scenario (it involves multiple wait for host).

##### STEPS TO REPRODUCE
Use the following playbook:
[code]

Command line:
[code]
##### EXPECTED RESULT
[code]
##### ACTUAL RESULT
[code]

[2017-11-14 10:58] #32837 closed, assigned to ganeshrn

[2017-11-14 11:32] onekstar opened #32893 "fetch connection plugin configuration"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
connection plugin

##### ANSIBLE VERSION
2.4.2.0

I want to develop a connection plugin. But I can not find any document that specify how to set plugin configs and fetch configs.

[2017-11-14 11:45] johnreed00 opened #32894 "Ansible 2.4.1.0: synchronize module ignores 'ansible_python_interpreter' variable"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

synchronize
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
FreeBSD 11.1-RELEASE-p1 server
FreeBSD 11.1-RELEASE-p1 client

##### SUMMARY
synchronize module ignores  'ansible_python_interpreter' variable and fails trying to use '/us/bin/python' while 'ansible_python_interpreter' variable is set to '/usr/local/bin/pytho

[2017-11-14 12:08] nleve commented on #5339
```copy: content``` does still have this issue on 2.4.1.0.

[2017-11-14 12:13] nleve opened #32896 "copy: content not shredding temp files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Running Ansible in Arch Linux managing Debian hosts.

##### SUMMARY

All temporary files in /tmp remain after using copy with the content option. None are shredded or even deleted.

##### STEPS TO REPRODUCE

1. Create a playbook using ```copy``` with the `

[2017-11-14 12:28] kustodian opened #32897 "Missing SHA sums for stable releases in release.ansible.com"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
release.ansible.com

##### ANSIBLE VERSION
N/A

##### SUMMARY
All releases on http://releases.ansible.com/ansible/ have SHA sums, except the stable ones (which ore the most important ones), so it's not possible to validate if the archive is genuine.

[2017-11-14 12:29] kustodian opened #32898 "Create automatic redirect HTTP->HTTPS for release.ansible.com"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
release.ansible.com

##### ANSIBLE VERSION
N/A

##### SUMMARY
There is no reason to use HTTP if the website supports HTTPS, so just make a redirect from HTTP->HTTPS.

[2017-11-14 12:41] mscherer commented on #32896
I can't reproduce it here using master. (e.g., I found no new file or dir in /tmp).

[2017-11-14 12:43] mscherer commented on #32896
I also can't reproduce using the tag for 2.4.1.0

[2017-11-14 12:46] mscherer commented on #32896
The code also seems to do the right thing:

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/copy.py#L278

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/copy.py#L380

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/copy.py#L394

[2017-11-14 13:01] ilana1291 commented on #32867
From an audit perspective, that doesn't have any traceability...

[2017-11-14 13:26] mickgortenmulder commented on #29492
+1
[code]

[2017-11-14 13:27] jugatsu commented on #27136
@jurajbgh
[code]
or add to ansible.cfg
`host_key_checking = False`

[2017-11-14 13:31] mickgortenmulder commented on #12919
same problem here:

```fatal: [hostname.domain.nl]: FAILED! => {"changed": false, "failed": true, "invocation": {"module_name": "command"}, "module_stderr": "OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017\r\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: /etc/ssh/ssh_config line 58: Applying options for *\r\ndebug1: auto-mux: Trying existing master\r\ndebug2: fd 3 setting O_NON

[2017-11-14 13:42] lassizci commented on #17935
Also tested with these versions:
* `ansible 2.4.1.0 (detached HEAD e946c4b3b7) last updated 2017/11/14 14:48:01 (GMT +300)`
* `ansible 2.4.2.0 (detached HEAD db54b0fb25) last updated 2017/11/14 15:12:21 (GMT +300)`
* `ansible 2.5.0 (devel 8472a53bea) last updated 2017/11/14 14:46:39 (GMT +300)`

Python 2.7.13

reproducible every time with a simple playbook
[code]

[2017-11-14 13:46] bcoca commented on #32896
I cannot reproduce tmp files being left over, i can confirm copy does not 'shred' them, just deletes them, but that would be a 'feature request' not a bug.

[2017-11-14 13:49] Nirkus commented on #12919
@mickgortenmulder @bbb31
For me this issue turned out to be a server-side SSH connection multiplexing bug with Ubuntu 14.04.
Try to turn on debugging on the `sshd` side of the problematic conenction and look at the logs.

Ubuntu 14.04 seems to have broken server-side with their ConsoleKit integration, but I guess there are many other ways to break connection multiplexing. ;-)

https://bugs.launchp

[2017-11-14 14:46] Yinaij opened #32901 "vmware_guest - vm identification using uuid still requires name parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]
Also tested this on 2.4.0.0.

##### CONFIGURATION

ANSIBLE_SSH_CONTROL_PATH(/media/sf_shared/repos/ansible/ansible.cfg) = ~/%%h‐%%r
DEFAULT_BECOME_METHOD(/media/sf_shared/repos/ansible/ansible.cfg) = sudo
DEFAULT_BECOME_USER(/media/sf_shared/repos/ansible/ansible.cfg) = root
DEFAULT_CALLBACK_WHITELIS

[2017-11-14 14:52] rorybrowne commented on #25787
That hasn't been my experience @bcoca ;
I don't seem to be able to access any other variables when any one of the variables contains an unresolvable template variable.

[code]

[2017-11-14 15:17] sbaerlocher commented on #29274
What is the status of this module?

[2017-11-14 15:18] bgstack15 commented on #32673
I found a workaround, which fits with @jborean93's information. You need a task to set the fact you want, on the host in question! It's just a `set_fact`.

    - set_fact:
        ansible_winrm_server_cert_validation: ignore

    - win_ping:
      delegate_to: "{{ win_host }}"
      vars:
        ansible_user: "{{ win_user }}"
        ansible_port: 5986

And then your task should continue, albeit

[2017-11-14 16:05] BenMitchell1979 commented on #28389
I see 'post_reboot_delay" has been introduced in 2.4 - but I get the following error when calling it.
[code]

Block containing reboot:
[code]

[2017-11-14 16:14] abedef opened #32906 "Playbook hosts incorrectly skipped when using --limit flag"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`ansible-playbook`'s `--limit` flag

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

*None*

##### OS / ENVIRONMENT

- Arch Linux
- CentOS 7

##### SUMMARY

`ansible-playbook`'s `--limit` flag fails to select intended hosts in some inventories. An example inventory is provided below.

##### STEPS TO REPRODUCE

Run `$ ansible-playbook -i in

[2017-11-14 16:23] ZhilinS commented on #31125
@tkeeler33 I had the same issue and I found that the problem was with upgrading ansible
`ansible --version` showed `ansible 2.4.1.0`, but the symlink in `/usr/local/bin/ansible` was targeting at 2.4.0 package
Long story short, just try to delete ansible and install it again.

[2017-11-14 16:33] discostur commented on #32894
I'm getting a similar error with ansible 2.4.0:

[code]

but "/opt/local/bin/python" is my custom set python interpreter. Just trying to sync two folders:

[code]

inventory:

[code]

[2017-11-14 16:35] sbaerlocher opened #32907 "Add the language for Windows facts."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Windows Facts

##### SUMMARY
Add the system language of Windows to the facts of Ansible for the Windows operating system.

Example Powershell
```Get-WinSystemLocale | select name```

[2017-11-14 16:37] WennySoft commented on #32716
It seems that playbook group_vars are also not read anymore

ansible/inventory/hosts.yml are loaded
ansible/inventory/group_vars/all.yml are loaded
ansible/playbooks/myplaybook.yml
ansible/playbooks/group_vars/all.yml are NOT loaded

Downgrade to 2.3.1.0 fixes this too

[2017-11-14 16:39] gundalow commented on #31197
On hold till DCI is green.

[2017-11-14 17:19] kristvanbesien opened #32910 "packet_device not working with ipxe_script_url set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/cloud/packet
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 26, Ansible from git devel branch.

##### SUMMARY

packet_device: Creating a packet host with ipxeboot does not work.

##### STEPS TO REPRODUCE

Install the packet.net CLI tools.
Create a group_vars/all/main.yaml with correct values for

[2017-11-14 17:28] kristvanbesien commented on #32910
Reading through the source I noticed that "ipxe_script_url" is actually not passed to packet_conn.create_device
Is this actually supposed to even work?

[2017-11-14 17:31] Akasurde commented on #21140
Closing this issue as per last comment. Please feel free to re-open this issue if problem persists.

[2017-11-14 17:31] #21140 closed, assigned to nobody

[2017-11-14 17:46] t0mk commented on #32910
hi @kristvanbesien, it's a bug, thanks for reporting.

I will try to fix it today or tomorrow.

[2017-11-14 17:46] jficz commented on #31626
This problem is in fact caused by MySQLdb using the '[client]' section of the config file which is not properly described in documentation and it is not configurable at all in Ansible.

My recommendation would be specifying this fact in mysql_* modules documentation **and** allowing configuration of which section should be used by, say, *config_section* module parameter.

[2017-11-14 17:46] jacksonp2008 commented on #32808
Hmm...  doesn't work here.   Are you using vCenter 6.5?

I am setting multiple interfaces like so, with the mac prefix that the webUI suggests.

[code]

[2017-11-14 17:47] kristvanbesien commented on #32910
As a workaround I used "user_data" to pass the url. That appeared to work.

[2017-11-14 17:49] rorybrowne commented on #25787
Hmmm - I've tried out my code in the latest ansible (cloned a few days ago from github) and it seems to be working there.

[2017-11-14 18:03] wknapik opened #32911 "The helm module does not install chart dependencies"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
helm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The helm module seems to ignore the dependencies defined by a chart and installs without them.
The helm cli works as expected with the same chart.

##### STEPS TO REPRODUCE
Use the module with

[2017-11-14 18:12] wknapik commented on #29661
@flaper87 - please take a look at the [remaining helm module issues](https://github.com/ansible/ansible/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20author%3Awknapik%20helm). The inability to upgrade (#32545) and install dependencies (#32911) are blockers for end users. The former is nearly two weeks old, with a PR attached to it and no feedback at all so far.

[2017-11-14 18:15] jacksonp2008 commented on #32808
<img width="375" alt="screen shot 2017-11-14 at 10 11 55" src="https://user-images.githubusercontent.com/1813327/32796796-b4754abe-c924-11e7-9058-2b589286998b.png">
Just ran this using a different prefix
  mac: "aa:bb:cc:dd:01:01"

first run it worked fine.

Ran again exactly the same way and it auto-assigned instead.
<img width="376" alt="screen shot 2017-11-14 at 10 11 36" src="https://user-imag

[2017-11-14 18:42] #32884 closed, assigned to nobody

[2017-11-14 19:50] conorsch commented on #32092
Thank you, @jborean93, for the prompt response here. The changes in devel look great!

[2017-11-14 19:50] ei-grad opened #32914 "'inventory_file' is undefined"
I run a playbook which use the `inventory_file` variable inside the tasks which run with `connection: local`, and it results with `'inventory_file' is undefined`. Started with ansible 2.4.0. Working with ansible 2.3.2.0.

Playbook:

[code]

Error:

[code]

Task:

[code]

Role with this task: https://github.com/ei-grad/ansible-role-ssh-config

[2017-11-14 19:59] drzraf opened #32915 "letsencrypt: account_key from vault"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
letsencrypt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
letsencrypt module accept Let's Encrypt `account_key` parameter to be a regular file.
That keeps a team from using Ansible vault for sharing the private key / and ability to renew a SSL certificate.

##### STEPS TO REPRODUCE
Give role and vaul

[2017-11-14 21:57] j127 commented on #2769
This should have a better error message. It took me a couple of hours to find a solution.

"You can't have a space after a string unless you use a multi-line quote or quote it..." (or whatever will solve it -- I removed the space).

[2017-11-14 22:20] draeath commented on #31741
Reminder, the above needs to be done using the virtualenv's pip.

If you still have problems grvtechno, please ask [here](https://github.com/pyenv/pyenv/issues) as that is occurring in the pyenv build process.

[2017-11-14 22:53] dkquach commented on #32559
Does anyone with background using the mongodb_user module know if x509 certificate based users are supposed to be supported?

[2017-11-14 23:36] dieherna opened #32917 "Ansible ios_command module removing passwords from output"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- Network / ios

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When running a commands in the "ios_command" module, specifically "show run", Ansible is removing any instances that match the password used to log into the device from the output produced, the password in the output is being replaced with

[2017-11-14 23:40] jacksonp2008 commented on #31937
Will do and thanks.

[2017-11-15 01:46] brunocalogero commented on #32477
ok so it turns out I can use "bcaloger@cisco" as a username.. so I used it as a username but now I'm dealing with a new error, this is what was displayed as I ran with -vvvv flag and setup a logger, getting a `NoneType' object has no attribute 'hardware'` error now, and the log doesn;t tell me much at all..:

[code]

[2017-11-15 02:36] carlbuchmann commented on #22001
I'm not sure if I need to open a new issue of not, but I have the same issue with ansible version 2.4.1.0 - I have tried with both nxapi and cli transport methods. I get the following warning:
"[WARNING]: command show interface failed, facts will not be populated"
I get other output no problem example ansible_net_neighbors, and running configuration.

Platform is Nexus 5696Q running NX-OS 7.3.2.N1

[2017-11-15 05:15] jhawkesworth commented on #28389
@BenMitchell1979 post_reboot_delay is a module parameter so you need to indent it (and I think put it before the 'when' action directive), like this:

[code]

[2017-11-15 05:29] cyrilsebastian commented on #11245
Hi,

I am able to run the `./gce.py --list --pretty`, but when I run the ansible ping command or playbook it gives me an error saying host not found. Were you able to figure that out?

[2017-11-15 06:08] Akasurde commented on #29320
@christophervalles `shrink` option in [lvol](http://docs.ansible.com/ansible/latest/lvol_module.html) is added in version 2.2. Closing this issue, please feel free to re-open if problem persists.

[2017-11-15 06:08] #29320 closed, assigned to nobody

[2017-11-15 06:25] jborean93 commented on #28389
For anyone following along here, until changes occur within Ansible itself to better handle this, I have found the following 3 tasks can be run to ensure Windows is rebooted and handle subsequent reboots in the case of Windows Updates.

[code]

It works by extending the timeout of the reboot timer as it can take some time for Windows to actually install the updates. Once it is back online Ansible

[2017-11-15 09:04] Akasurde commented on #32477
@brunocalogero Cool, that trick worked for you. Could you please check above PR for your "AttributeError" for last comment ?

[2017-11-15 09:12] mldmld68 commented on #32862
Hi
The feature I need seems to be easy to add :

According https://github.com/vmware/pyvmomi/blob/master/docs/vim/DistributedVirtualSwitch/CreateSpec.rst
One may read :
productInfo (vim.dvs.ProductSpec, optional):

    Product information for this switch implementation. If you do not specify this property, the Server will use the latest version to create the DistributedVirtualSwitch .

And here :

[2017-11-15 09:15] hlpinform commented on #19524
Is there any news on this issue? I want to provision rds instances and need the capability to specify the storage type which should be used.

And by the way: Thanks for the good work. :)

[2017-11-15 09:15] Akasurde commented on #32862
@mldmld68 Thanks for information, it will be very helpful. Would like to raise PR against this issue ?

[2017-11-15 09:23] nabidul commented on #22745
I have updated from 2.2 to 2.4 and I have the same problem:

[code]

The second task use " delegate_to" .

[2017-11-15 09:38] nabidul commented on #22745
In my case I solved it by eliminating ansible_connection=ssh. [More details](https://github.com/ansible/ansible/issues/31420) @sdixit0204  @magfuentes

[2017-11-15 09:41] mldmld68 commented on #32862
@Akasurde I just send a PR. But I don't know how to test my code yet on my linux box.

[2017-11-15 09:46] hawksight commented on #11245
@cyrilsebastian - I hadn't tried it but I just went back and tried it. it worked for me if you following the example in the medium blog link.

eg.. it says...
[code]

I tried
[code]

Note my folder structure is my:
[code]
I run command from ansible dir, hence you may need to change where your inventory is on the `-i` flag.

[2017-11-15 09:50] jody-frankowski commented on #15206
Duplicate of the more generic issue https://github.com/ansible/ansible/issues/15828

[2017-11-15 10:30] bartmeuris commented on #14426
Also have this same issue with 2.3.0.0 and 2.4.1.0 with pipelining. Due to a mis-configuration on our end, pipelining had been disabled by accident for a while now (not sure how long, I suspect pre-2.0 switch), but enabling it again resulted in the privilege escalation prompt timeout mentioned here.

I use simply `become = True` and `become_method = sudo`. The only 'special' thing really I do is s

[2017-11-15 10:54] mldmld68 commented on #32862
Could someone help me to figure out this error message :
 ERROR: lib/ansible/modules/cloud/vmware/vmware_dvswitch.py:0:0: E309 version_added for new option (switch_version) should be 2.5. Currently 0.0 (75%)

[2017-11-15 11:05] kevinkamps commented on #22617
+1

Any idea when this feature will be released?

[2017-11-15 11:05] gangefors opened #32926 "docker_network doesn't create network if name is substring of existing network"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Debian stretch
Docker 17.09.0-ce

##### SUMMARY

If a docker network named `foobar` exist, ansible will not create a network called `foo`.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The first two tasks should make sure that there are

[2017-11-15 11:28] gangefors opened #32927 "docker_network fails when checking for absent network if name is substring of existing network"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Debian stretch
Docker 17.09.0-ce

##### SUMMARY

If a docker network named `foobar` exist, ansible will not create a network called `foo`.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Ansible should validate OK that network `foo` is ab

[2017-11-15 11:35] cyrilsebastian commented on #11245
Thanks for reply. Even I followed the same blog so my folder structure is also the same.
[code]

But when I run `ansible -i ~/git/ansible/inventory instance_name -m ping`, I am getting an unreachable error.
[code]
Same error comes while running a playbook too.

[2017-11-15 11:37] gundalow commented on #32917
@dieherna Hi, this is very much by design, and not something we will change.

There is no way for Ansible to know from the context if "cisco" refers to a username or something else, implementing such a feature would never be 100% and we may end up leaking passwords.

May I suggest you follow best practice and not use default password. Or move to using SSH keys.

[2017-11-15 11:38] #32917 closed, assigned to nobody

[2017-11-15 11:45] flaper87 commented on #32513
@wknapik could you elaborate more on what the `helm` CLI does exactly? Does it ssh into the box and creates a tunnel? How does it create the tunnel?

I'm honestly not sure this is really needed. When using ansible you can delegate the helm operations to the node that has access to the `tiller` service if you don't want to expose it. This said, let's explore the other options too.

[2017-11-15 11:45] gundalow commented on #22001
@carlbuchmann Hi, can you please open a new issue.
If you could also please test on
1) Ansible 2.4.1
2) Ansible devel

as well as referencing this bug that would be great.

Thanks in advance

[2017-11-15 11:54] hawksight commented on #11245
So you've probably got an ssh issue., run the same ping command with `-vvvv` as the output suggests which might give you some hints as it should say where the connection fails.

Failing that, have you got the right ssh key to connect to the gcloud instances?
It really depends who / how they were built, but you might need to upload your ssh key to the instance. Or get the key that's already on the

[2017-11-15 12:13] resmo commented on #32915
I kind of like this feature request. @drzraf do you like to work on that?

[2017-11-15 12:19] resmo commented on #32898
Thanks, but this is not an ansible issue, related to redhat release team.
~notabug~

[2017-11-15 12:29] gundalow commented on #32898
We don't have anywhere else (that I'm aware of) that we can publicly tack these types of issues. I know it's a slight abuse of gh/ansible/ansible/issues though I don't want to have to require people to remember it

[2017-11-15 12:29] gundalow commented on #32897
We don't have anywhere else (that I'm aware of) that we can publicly tack these types of issues. I know it's a slight abuse of gh/ansible/ansible/issues though I don't want to have to require people to remember it.

[2017-11-15 12:30] resmo commented on #32898
I see, never mind.

[2017-11-15 12:38] resmo commented on #32898
bot_skip

[2017-11-15 12:44] wknapik commented on #32513
@flaper87 I don't know how the tunnel setup is implemented in the helm cli. A quick search suggests [this](https://github.com/kubernetes/helm/blob/13912b3cc0dc495442e68c523561fc564d170308/pkg/helm/portforwarder/portforwarder.go) might be the place to look. In any case, it's functionally equivalent to `kubectl port-forward` which is what I use in [my workaround](https://gist.github.com/wknapik/3b93

[2017-11-15 12:45] andrewhowdencom opened #32929 "Lets Encrypt default value is no longer correct for sub agreement"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Lets Encrypt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Yah nothing relevant here

##### OS / ENVIRONMENT
Also irrelevant

##### SUMMARY
Lets Encrypt changed their subscriber agreement. Default is
now incorrect

##### STEPS TO REPRODUCE
Attempt to use Lets Encrypt

##### EXPECTED RESULTS

It worked, as it has been for some months
####

[2017-11-15 12:53] trishnaguha commented on #32642
@jrosser we have integration test for `save` for both transport which makes sure that it actually works.
https://github.com/ansible/ansible/blob/devel/test/integration/targets/nxos_config/tests/common/save.yaml#L17-L33
Can you increase the timeout to 300 and try once again?

needs_info

[2017-11-15 13:07] jrosser commented on #32642
With CLI transport
[code]

With NXAPI and a 300 second timeout
[code]

So it seems that it *does* work with NXAPI but takes 10x as long?

[2017-11-15 13:29] BenMitchell1979 commented on #28389
@jborean93

I'm getting the following error when Checking for WUS (I'm guessing it's because of Become_User: SYSTEM)..

fatal: [10.49.128.157]: FAILED! => {"failed": true, "msg": "Internal Error: this connection module does not support running commands via sudo"}
...ignoring

[2017-11-15 13:39] gundalow opened #32931 "[Regression] network_cli: indefinite hang if sshkey isn't in known_hosts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
network_cli

##### ANSIBLE VERSION
[code]

##### SUMMARY
If the fingerprint isn't in `known_hosts` then ansible-playbook will hang

This is a regression as in `stable-2.4` after a timeout we would get `unable to open shell`.

So there seem to be two issues here:
1) Timeout isn't triggered
2) No message displayed (possibly caused by #1)

##### ST

[2017-11-15 13:55] BenMitchell1979 commented on #28389
@jborean93 - I keep getting the following error on Check for WUA.
[code]
Is this the step that requires 2.5 devel version ?

[2017-11-15 14:07] calfonso commented on #32724
While this is a feature request, there are alternatives to achieving what you want to do.

You can use the copy module, something like:

[code]

[2017-11-15 14:10] calfonso commented on #32642
We're using the platform native commands, so there isn't anything we are doing to introduce the latency you're seeing. Closing this issue, but if you run into any other issues feel free to open a bug and we'll look into it. Thanks!

[2017-11-15 14:10] #32642 closed, assigned to nobody

[2017-11-15 14:13] calfonso commented on #32155
needs_info

@jean-christophe-manciot are you able to test this using the devel (2.5) code? If so, would you mind letting us know if you still see the issue?

[2017-11-15 14:51] drzraf commented on #32915
I'm sorry, I fear I don't have to time to do that.
(I guess there are also maintainer decisions like "use a new parameter
or not" or "change parameter semantic", ... ...)

[2017-11-15 15:19] gundalow commented on #32542
in `/etc/hosts` if I add
`10.8.38.66 IOS02`
and have an inventory with
[code]

`ansible 2.4.2.0 (stable-2.4 466e4eb892)` fails with:

[code]

`devel` hangs

[2017-11-15 15:22] dieherna commented on #32917
@gundalow

Got it! I couldn't find anywhere documented that this was the expected behaviour or if there was a flag to disable the behaviour. I suppose in a real deployment simple passwords like "cisco" would not (should not) be used anyway so I would not end up in a situation where strings in the output are inadvertently replaced.

Thanks for looking into this and clarifying.

[2017-11-15 15:40] #32722 closed, assigned to nobody

[2017-11-15 16:21] gundalow commented on #32917
@dieherna You make a good point about docs. I've got on my todo list to document the authentication options. I'll add a note to go into details about this there.

[2017-11-15 16:23] Azenet opened #32936 "Host variables adjacent to master playbook are unavailable to included tasks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Core

##### ANSIBLE VERSION
[code]
Note that this happens on 2.4.1.0 as well, which is the version I first had the issue with:
[code]

##### CONFIGURATION
DEFAULT_GATHERING(/home/ashka/.ansible.cfg) = implicit
DEFAULT_HOST_LIST(/home/ashka/.ansible.cfg) = ['/home/ashka/.ansible/hosts']
DEFAULT_MODULE_PATH(env: ANSIBLE_LIBRARY) = ['/home/ashka/bu

[2017-11-15 16:43] sbaerlocher commented on #32907
For this feature was made in Pull Request. #32930

[2017-11-15 16:43] #32907 closed, assigned to nobody

[2017-11-15 17:11] mkrizek commented on #23609
~~@Sodki looking at the traceback from the original reproducer and yours, your issue seems to be different. Would you mind creating a separate issue? Thanks!~~ Seems to be the same issue after all.

[2017-11-15 17:13] termlen0 commented on #32619
Fix works, fyi.

[2017-11-15 18:07] ssbarnea commented on #16052
I just encountered this error while trying to run a simple handler and I a bit clueless regarding what could have caused it and how to avoid it.
[code]

Example:
[code]

[2017-11-15 18:24] forescout-spollock commented on #31937
Works well, thankyou!

[2017-11-15 18:24] #31937 closed, assigned to nobody

[2017-11-15 18:43] gundalow opened #32939 "network:cli & eos fails on tasks without connection"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
[code]

##### SUMMARY
Looks the following may be trying to go via the connection on eos.
[code]
ios and vyos work correctly. Not tested the others

[code]
If we change to `connection: local` then everything works.

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-11-15 18:45] george-miller commented on #12170
+1

[2017-11-15 19:01] #30993 closed, assigned to alikins

[2017-11-15 19:15] codaamok opened #32940 "fatal module failure using APT to update packages, only to Ubuntu 16.04 targets"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

Running from: Ubuntu 14.04.5 LTS
Targeting: Ubuntu 16.04.3 LTS

##### SUMMARY

Fatal error for module when using apt module to update packages to latest state, only to 16.04 target machines, not an issue on 14.0

[2017-11-15 19:21] jborean93 commented on #28389
@BenMitchell1979, if you want to become the SYSTEM account then yes 2.5 is required otherwise it can be done with 2.4 and an administrator account. You would have to add the `become_method: runas` task arg to tell Ansible to use the runas become method required by windows.

[2017-11-15 19:22] gundalow opened #32942 "[Regression] ios broken with connection: network_cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_*

##### ANSIBLE VERSION
[code]

##### SUMMARY
ios seems to be fairly broken when using `connection: network_cli`

This works correctly when `ansible_connection=local` is used

##### STEPS TO REPRODUCE
[code]

[code]
##### EXPECTED RESULTS
##### ACTUAL RESULTS
[code]

[2017-11-15 19:24] #32545 closed, assigned to nobody

[2017-11-15 19:27] BenMitchell1979 commented on #28389
@jborean93 - Thanks mate!

Would I still need to use 'become_method' if I'm hitting WinRM with Local Administrator?

[2017-11-15 19:31] #18996 closed, assigned to nobody

[2017-11-15 19:32] gundalow commented on #32942
Adding some extra logging shows
[code]

[2017-11-15 19:53] kustodian commented on #10829
@cydvd that will flush all handlers, not just from the task above. The idea behind this feature request is to make it possible to flush a specific handler.

[2017-11-15 20:10] gundalow opened #32944 "network_cli & provider - deprecation warning"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
network_cli

##### ANSIBLE VERSION
[code]

##### SUMMARY
When using `connection: network_cli` we should warn (or maybe error?) if `provider:` is set.

We need to consider the case when transport is needed, is that top-level or under provider?
Authorize will be replaced by `become`, so that should be OK.

##### STEPS TO REPRODUCE
[code]

##### EX

[2017-11-15 20:22] #32735 closed, assigned to nobody

[2017-11-15 20:26] jborean93 commented on #28389
If you want to use become, Ansible needs to know which become method to use, the default I believe is `sudo`. For Windows the only become method that is supported is `runas` and so it needs to be set for become on Windows to work. The easier way is to set `become_method: runas` on either the task or playbook level but you can also set `ansible_become_method: runas` on your hostvars.

[2017-11-15 20:40] #32942 closed, assigned to nobody

[2017-11-15 20:42] brunocalogero commented on #32477
hey @Akasurde should I pull 2.5devel in that case and how can I see when the PR will be merged sorry I'm a little new to this part of github

[2017-11-15 21:41] Qalthos commented on #32939
I wouldn't call this a regression... it still works as it did in 2.4, i.e. via `connection: local`. I'm not immediately sure how to make this work when a connection is specified- this is one of those weird things that don't really match the normal ansible way of doing things.

[2017-11-15 21:42] markus-s24 opened #32947 "debug with_items prints loop_var even if using labels"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
debug task

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOS

##### SUMMARY
When using debug with with_items, the loop_var is always printed, even if it is NOT appearing in the msg.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
loop_var ("result") NOT being printed.

##### ACTUAL RESULTS
[code]

[2017-11-15 22:51] #32696 closed, assigned to nobody

[2017-11-15 22:51] cydvd commented on #10829
Just noticed. I should have read the whole thread.

[2017-11-15 23:01] jborean93 commented on #32696
Fix was cherry-picked to stable 2.4 https://github.com/ansible/ansible/commit/b059dfe69f94333f22b439e67ba3b7ab56b3b24b, will be released with 2.4.2rc1

[2017-11-15 23:14] bcoca commented on #32947
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

It is intended that loops always print the 'current item' in their output, you  can use `loop_control`'s `label`  to modify what gets d

[2017-11-15 23:14] #32947 closed, assigned to nobody

[2017-11-15 23:37] jctanner commented on #32590
bot_status

[2017-11-15 23:47] ansibotdev commented on #32590
Files identified in the description:
* [lib/ansible/modules/cloud/vmware/__init__.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/__init__.py)
* [lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
* [lib/ansible/modules/cloud/vmware/vca_nat.py](https://github.com/ansible/ansible/bl

[2017-11-15 23:47] ansibotdev commented on #32590
cc @nafpliot-ibm @woshihaoren
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-15 23:47] ansibotdev commented on #32590
**waiting_on**: maintainer

    data: {'committers': [], 'name': '__init__', 'deprecated': False, 'repo_filename': 'lib/ansible/modules/cloud/vmware/__init__.py', 'support': 'core', 'labels': ['ansible', 'cloud', 'lib', 'modules', 'vmware'], 'namespace': 'cloud/vmware', 'supported_by': 'core', 'ignore': [], 'maintainers': ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul'], 'notify': ['akasu

[2017-11-15 23:49] ansibotdev commented on #32590
**waiting_on**: maintainer

    filename: lib/ansible/modules/cloud/vmware/__init__.py
    support: core
    maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul']

    filename: lib/ansible/modules/cloud/vmware/vca_fw.py
    support: community
    maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul', 'privateip']

    filename: lib/ansible/modules/cloud/vmware/vca

[2017-11-15 23:52] ansibotdev commented on #32590
**waiting_on**: maintainer

filename: lib/ansible/modules/cloud/vmware/__init__.py
support: core
maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul']

filename: lib/ansible/modules/cloud/vmware/vca_fw.py
support: community
maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul', 'privateip']

filename: lib/ansible/modules/cloud/vmware/vca_nat.py
support: community
m

[2017-11-15 23:55] ansibotdev commented on #32590
**waiting_on**: maintainer

* filename: lib/ansible/modules/cloud/vmware/__init__.py
** support: core
** maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul']
* filename: lib/ansible/modules/cloud/vmware/vca_fw.py
** support: community
** maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul', 'privateip']
* filename: lib/ansible/modules/cloud/vmware/vca_nat.py
** s

[2017-11-15 23:57] ansibotdev commented on #32590
Files identified in the description:
* [lib/ansible/modules/cloud/vmware/__init__.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/__init__.py)
* [lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
* [lib/ansible/modules/cloud/vmware/vca_nat.py](https://github.com/ansible/ansible/bl

[2017-11-15 23:57] ansibotdev commented on #32590
**waiting_on**: maintainer

* filename: lib/ansible/modules/cloud/vmware/__init__.py
  * support: core
  * maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul']
* filename: lib/ansible/modules/cloud/vmware/vca_fw.py
  * support: community
  * maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul', 'privateip']
* filename: lib/ansible/modules/cloud/vmware/vca_nat.py

[2017-11-15 23:59] ansibotdev commented on #32590
**waiting_on**: maintainer

* [lib/ansible/modules/cloud/vmware/__init__.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/__init__.py)
  * support: core
  * maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul']
* [lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)

[2017-11-16 00:01] ansibotdev commented on #32590
**waiting_on**: maintainer

[lib/ansible/modules/cloud/vmware/__init__.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/__init__.py)
  * support: core
  * maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul']
[lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
  * s

[2017-11-16 00:02] ansibotdev commented on #32590
**waiting_on**: maintainer

[lib/ansible/modules/cloud/vmware/__init__.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/__init__.py)
support: core
maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul']
[lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
support: comm

[2017-11-16 00:04] #30258 closed, assigned to nobody

[2017-11-16 00:05] jctanner commented on #32590
bot_status

[2017-11-16 00:14] nitzmahone commented on #32617
So you wouldn't change the envvars from Ansible at all- if you went the envvar route instead of `ansible.cfg`, they'd have to be set properly and pointed at the role library and module_utils dirs before Ansible runs.

[2017-11-16 00:41] jborean93 commented on #32699
@jpalczewski, will play around with it and will see what is happening, potentially the 32-bit OS is the problem as we don't test it in CI but I will have to test it and see. Thanks for the info.

[2017-11-16 00:48] ansibotdev commented on #32590
cc @akasurde
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-16 00:48] ansibotdev commented on #32590
**waiting_on**: maintainer

[lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
support: community
maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul', 'privateip']
[lib/ansible/modules/cloud/vmware/vca_nat.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_nat.p

[2017-11-16 00:55] ansibotdev commented on #32590
**waiting_on**: maintainer

[lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
support: community
maintainers: ['akasurde', 'dagwieers', 'dav1x', 'jctanner', 'nerzhul', 'privateip']
[lib/ansible/modules/cloud/vmware/vca_nat.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_nat.p

[2017-11-16 01:04] ansibotdev commented on #32590
### Components
[lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
support: community
maintainers: akasurde dagwieers dav1x jctanner nerzhul privateip
[lib/ansible/modules/cloud/vmware/vca_nat.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_nat.py)
support: community
maintainer

[2017-11-16 01:06] ansibotdev commented on #32590
### Components
[lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
support: community
maintainers: akasurde dagwieers dav1x jctanner nerzhul privateip

[lib/ansible/modules/cloud/vmware/vca_nat.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_nat.py)
support: community
maintaine

[2017-11-16 01:27] ansibotdev commented on #32590
### Components
[lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
support: community
maintainers: akasurde dagwieers dav1x jctanner nerzhul privateip

[lib/ansible/modules/cloud/vmware/vca_nat.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_nat.py)
support: community
maintaine

[2017-11-16 01:47] aldanor commented on #30878
Confirming this problem.

Just to add, this also fails if `vault_password_file` is set in `ansible.cfg` (same way as with `vault_identity_list`).

[2017-11-16 02:25] carlbuchmann opened #32952 "Problem with nxos_facts ansible 2.4.1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Centos 7.4, Ansible 2.4.1

Environment where issue is present:
Nexus 7700 with NX-OS 6.2(16)
note:  @ CLI " show interfaces |xml" provides XML output, but "show interface |json" does not.

Nexus 5696Q:
note @ CLI no output for both " show interfaces |xml" or

[2017-11-16 02:30] Akasurde commented on #32477
@brunocalogero Generally, PR needs to have two 'shipit' tags to get merged. If it is working for you then you can add 'shipit' to PR. Once we have two of them, I will merge it.

Yes. To test above changes you need to pull latest devel (i.e. 2.5) branch.

[2017-11-16 02:30] Akasurde commented on #32477
resolved_by_pr #32924

[2017-11-16 02:32] carlbuchmann commented on #32952
can someone provide steps how I could test with devel code? I'm new to this stuff...

[2017-11-16 02:39] #32590 closed, assigned to nobody

[2017-11-16 03:19] abadger commented on #32816
For that instance I think aysnc_ would be appropriate.

[2017-11-16 03:45] Armesh opened #32954 "ansible-galaxy install in Ansible Tower Vagrant IndexError: list index out of range."
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
Ansible Tower Vagrant Box
$ vagrant init ansible/tower
$ vagrant up --provider virtualbox

##### ANSIBLE VERSION
ansible/tower (virtualbox, 3.2.1)

[code]

##### ISSUE SUMMARY

ansible-galaxy install command in Ansible Tower Vagrant box always giving IndexError: list index out of range.
[code]

[2017-11-16 03:54] Armesh commented on #32954
[code]

Switching to root user in vagrant and then doing ansible-galaxy install works fine.

[2017-11-16 04:02] huybui02 commented on #19584
I still have same issue.
I find solution : I add /etc/ansible/hosts:
ansible_ssh_user=<your user> ansible_ssh_pass=<your pass>.

Hope this helps.

[2017-11-16 04:47] jingliang commented on #29102
Same issue on ansible 2.4.1, please help to fix. Thank you.

[2017-11-16 05:02] maximsnezhkov commented on #13742
+1

[2017-11-16 05:40] trishnaguha commented on #32952
@carlbuchmann to test devel code:
[code]
`ansible --version` should return `2.5.0` now which is the latest devel branch.

[2017-11-16 06:16] Akasurde commented on #32702
@cyrbi I can see you are specifying name of virtual machine but not specifying `folder`. Folder is required parameter in order to find existing virtual machine using `findByInventoryPath` VMware API. I am sure this is the reason, vmware_guest module is not idempotent.

If you don't specify `folder` then `/vm` value is taken by-default, which is passed on to `findByInventoryPath` API which returns

[2017-11-16 07:15] Akasurde commented on #32702
resolved_by_pr #32960

[2017-11-16 07:33] markus-s24 commented on #32947
Hi,

sorry for being not precise enough. I am using labels ("xxx" in my example), but the item ("result" in my example) is being printed too. In my opinion the "result" should not be printed.

[2017-11-16 08:03] caillette commented on #17136
For me this bug unveiled when upgrading from 2.1 to 2.4. `with_fileglob` used to work fine.
I eventually found a workaround that nobody should especially proud of, but every other approach failed. I pipe `filetree` output to a regex match. I'm pasting my code verbatim, somebody might find it useful:

[code]

[2017-11-16 08:54] Akasurde commented on #28498
@karniemi Would you like to take a look into #31669 as this solves your purpose?

[2017-11-16 09:00] basictheprogram commented on #32554
This is continues to be a problem. Always with
[code]
But random hosts. Super frustrating that I don't know how to report anymore information then what's in this ticket.

[2017-11-16 09:05] LuckySB commented on #30441
ansible 2.4.1 - killed by OOM with 32 Gigabyte memory
ping @bcoca

[2017-11-16 09:23] NomAnor commented on #31689
It seems the group_vars/host_vars files are found in the function `_get_dir_files` in `plugins/vars/host_group_vars.py`. This function uses `os.listdir`. According to the python documentation:

So one can't rely on any ordering. This behaviour should at least be documented.

I think it would be better to load the files in sorted order. This can be benificial for multi-stage environments to specify

[2017-11-16 09:57] mkleins opened #32964 "SSL: SSLV3_ALERT_HANDSHAKE_FAILURE with ansible-playbook 2.4.1.0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Ansible-playbook with apt_key module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Native configuration

##### OS / ENVIRONMENT

Debian 9: Linux 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64 GNU/Linux with stable repositories

##### SUMMARY
When i use apt-key with ssl url, my ansible-playbook fails

##### STEPS TO REPRO

[2017-11-16 10:28] ssbarnea commented on #31071
@Asher256 do you know which fix sorted this bug in 2.5? I want to get it backported to stable-2.4

[2017-11-16 10:29] AceSlash opened #32965 "regression: bad error message when /usr/bin/python is not available"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Host is running Fedora 26, target is running Debian 9.

##### SUMMARY
Before, when `/usr/bin/python` was not available on the target system, the error message was clear and showed `/bin/sh: 1: /usr/bin/python: not found`. Now the error is misleading:
[code]
Th

[2017-11-16 10:36] strangeman commented on #32929
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/web_infrastructure/letsencrypt.py#L794

you need to provide an actual `agreement` field manually

[code]

[2017-11-16 10:47] lazouz commented on #30226
Hi,
This issue is still open, is anyone has an explanation about using systematic "changed=True" in module.exit_json(dest=path, changed=True, diff=diff) at the end of the case touch in the file module ?

https://github.com/ansible/ansible/blob/28b86b11485444d2dd46ed60dc8ae27fd2b81303/lib/ansible/modules/files/file.py

Is it possible, acceptable, correct, to set changed to false if the touch does n

[2017-11-16 10:48] andrewhowdencom commented on #32929
Yah we have but this stub is to decide whether to update the default

On Thu, 16 Nov 2017, 11:37 Anton Markelov, <notifications@github.com> wrote:

--
Andrew Howden
Careful, well crafted web development.
--
W: https://andrewhowden.com/
PGP: https://pgp.andrewhowden.com (79BAC08A6ED1FF1EABE350A7587D3B3A961D2D2D)
--

[2017-11-16 10:50] Floflobel commented on #32964
I have the same issue. I tested it when the target system is running Debian 9 and Ubuntu 16.04 and the problem seems to only occur when the system is running Debian9.

It does work sometime though. I'd say that it fails ~80% of the time. You basically have to re-run the playbook around 5 times and hope it will work eventually.

##### OS / ENVIRONMENT
Host is running Fedora 26.

##### ANSIBLE VERSI

[2017-11-16 11:03] gio-salvador commented on #32173
Please select this for deployment at your earliest convenience, this will facilitate reusability of playbooks in many folds.

[2017-11-16 11:42] mkrizek commented on #23609
@Sodki @jmighion the recursion causing this seems to be here https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/block.py#L341 - that code wasn't executed before the bisected commit, so @Sodki's feeling seems to be correct. That code also seems to be the cause of the issue in the original description according to the tb.

[2017-11-16 11:42] nusenu commented on #21547
This still affects ansible 2.4.1.0

[2017-11-16 11:48] cazorla19 opened #32967 "Ansible 2.4 doesn't recognise 'localhost' on EC2 instances"
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]
##### COMPONENT NAME
`ansible-pull`

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Ansible 2.4.1 doesn't match `localhost` in the inventory file explicitly set in playbook options. It mostly matters EC2 instances with custom DNS name.

Here is the case:

I'm running `ansible-pull` EC2 userdata to:

1. Fetch

[2017-11-16 12:05] ALPSMAC commented on #27960
Agree it's still broken in 2.4.0... also the documentation for 2.4.0 indicates that what Ansible is doing is incorrect behavior. i.e. Docs say:
[code]
But error message is:
[code]
When task is:
[code]

[2017-11-16 12:24] aemakeye opened #32969 "hostvars for failed hosts exits and is full of garbage"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

setup.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### SUMMARY

hostvars for failed hosts contains garbage, but exists.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2017-11-16 12:24] dagwieers commented on #17136
As a community I think we need to do a better job in raising regressions like this one. And closing them as soon as possible. Anyone with an interest can raise an issue during a core meeting by putting it on the agenda. But it would be nice if we could tag issues as regressions so they get special attention, maybe ?

[2017-11-16 12:36] cazorla19 commented on #32967
Thanks, I've set the component name, guess it's the core issue.

[2017-11-16 12:51] kevensen commented on #32618
@juanluisvaladas I haven't forgotten about this, was side tracked.  I'll take a look at this this week.

[2017-11-16 12:56] rupran commented on #17136
I think this issue was on the Core Meeting agena at least 3 or 4 times, before @bcoca proposed https://github.com/ansible/ansible/pull/23265 as an alternative solution to my initial pull request (https://github.com/ansible/ansible/pull/19297).

The general discussion with @abadger and @bcoca then got to a place where everyone couldn't agree what the desired behaviour really was (see also this comm

[2017-11-16 13:19] dagwieers commented on #17136
@rupran It was reported on August 2016, and I can find references from meetings in March this year. So a better/faster way to identify and respond to regressions would be useful IMO.

[2017-11-16 13:24] asifmuradkhan commented on #32964
I have also the same issue, I'm using Ansible 2.4.1.0 in Ubuntu xenial as my OS and target system is debian stretch (9.2). FYI if I change my target OS to Ubuntu trusty then working fine.

[code]

[2017-11-16 13:26] mldmld68 commented on #32862
I try to test this updated module, but the new parameter switch_version is not taken into account.
I get :
    "msg": "Unsupported parameters for (vmware_dvswitch) module: switch_version Supported parameters include: datacenter_name,discovery_operation,discovery_proto,hostname,mtu,password,state,switch_name,uplink_quantity,username,validate_certs"

[2017-11-16 13:45] draxxris opened #32972 "ansible-setup divulges username on source computer's syslog"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-setup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Linux

##### SUMMARY
Facts gathering at start of playbook run (ansible-setup) divulges username on source computer. This is a security and privacy issue. When you run ansible-playbook on a target node, the ansible-setup logs to syslog:
[code]

There needs

[2017-11-16 13:47] machacekondra opened #32974 "oVirt dynamic inventory script should invoke request asynchronously"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

contrib/inventory/ovirt.py

##### ANSIBLE VERSION

[code]

##### SUMMARY

Currently the `./contrib/inventory/ovirt4.py` dynamic inventory script executes all request to the oVirt API synchronously, which cause the script to be slow in systems with many VMs with many disks/nics.

This issue is asking for an async method to fetch the informati

[2017-11-16 13:49] gundalow commented on #32939
Not a regression as `connection: network_cli` is new.

[2017-11-16 13:51] gundalow commented on #32939
Looks like I had left over socket open from a 2.4 run (which by design stays open for 30 seconds)

[2017-11-16 13:51] #32939 closed, assigned to nobody

[2017-11-16 13:52] l3m opened #32975 "ansible module vmware_guest throws an exception on creating a VM"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
```ansible-config dump --only-changed``` output is empty.

##### OS / ENVIRONMENT
Controller OS: Fedora 26 on x86_64
Target: vmware vSphere 6.5 Update 1 (Version 6.5.0.10000 Build 5973321)

Using pyvmomi Version 6.5.0.2017.5.post1

##### SUMMARY
Ansible throws an AttributeError exce

[2017-11-16 14:01] mldmld68 commented on #32862
Found a way : adding a subdirectory named "library" and put the new module in it. The new module is taken into account. The module is ok. Need to update the documentation as the only supported version are 6.5.0, 6.0.0, 5.5.0, 5.1.0, 5.0.0.

[2017-11-16 14:20] lmilbaum opened #32978 "uri module executed twice"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
uri

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
control machine - docker container Ubuntu 16.04

##### SUMMARY

Rest API command executed via uri module is triggered twice although specified in the playbook only once

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The rest API command executed once

#####

[2017-11-16 14:42] pablorf-dev commented on #31504
After trying to understand the free strategy, I identified several points contributing to this issue:

1. The [following line](https://github.com/ansible/ansible/blob/v2.4.1.0-1/lib/ansible/plugins/strategy/__init__.py#L778) cause the freeze on free strategy with a handler on a live host and with other ones blocked:
[code]

2. [This one](https://github.com/ansible/ansible/blob/v2.4.1.0-1/lib/ansib

[2017-11-16 15:06] eegilbert commented on #32862
@mldmld68 a little off topic, however do you know of a way to set a port group to Trunk (all vlans, or 0 -4094)?

[2017-11-16 15:20] chandukreddi commented on #21562
Hey,

Even I am running into same issue.

Is this a bug? it was working perfectly fine one day back it started all of sudden nothing has changed from ansible and playbook.

Version:
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.6.6 (r266:84292, Aug 18 2016, 15:13:37) [GCC 4.4.7 20120313 (Red Hat 4.4.7-17)]

Err

[2017-11-16 15:27] #30373 closed, assigned to nobody

[2017-11-16 15:54] bdowling opened #32980 "ios_config 'save' option was removed in 2.4 still has deprecation as only a warning"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### SUMMARY

Ansible 2.4 has a deprecation warning for the 'save' option being removed in 2.4.  Since it has been removed, this should likely be a fatal error using 'save' in the play.

##### STEPS TO REPRODUCE
Run the below play

[code]

##### EXPECTED RESULTS
Fatal error message on invalid ios_con

[2017-11-16 16:02] telegrapher commented on #23675
Hi, I've just arrived to this issue because I've had some problems in my syntax.

Ansible 2.4.0.0 works well for me. The following playbook doesn't fail when the disk sdb doesn't exist

    ---
    - name: Auxiliary playbook to print facts
      remote_user: root
      hosts: myhost
      vars:

      tasks:
      - name: Print a fact
        debug:
          msg: "The fact is {{ facter_disks }}"

[2017-11-16 16:09] Constantin07 opened #32982 "Upgrade to 2.4.1.0 via pip fails on MacOS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Upgrade of ansible via pip.

##### ANSIBLE VERSION
2.4.1.0

Existing version:
[code]
##### CONFIGURATION
Default.

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Unable to upgrade to the latest version via pip.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Upgrade should be successful.

##### ACTUAL RESULTS
Fails with error (see above)

[2017-11-16 16:13] bdowling commented on #32980
@termlen0 just fyi regarding your comment I referenced above.  I reread it and noted one thing.  You mentioned that save works in 2.4.  **It does not**, it is a NOOP, at least in the 2.4.0 code in the centos RPM ansible-2.4.0.0-5.el7.noarch

It looks to me as if 'save' silently stopped working as soon as 'save_when' was added, but I could be mistaken.
https://github.com/ansible/ansible/commit/0b6f

[2017-11-16 16:27] htvennik opened #32983 "OpenStack inventory plugin keeps returning old data"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
OpenStack inventory plugin

##### ANSIBLE VERSION
[code]

NOTE: first attempts were with ansible 2.4.0, I updated hoping that would fix it, but that did not make a difference, even though the CHANGELOG says inventory cache is disabled per version 2.4.1.

##### CONFIGURATION
Output of `ansible-config dump --only-changed`

[code]
##### OS / ENVIRO

[2017-11-16 16:28] sivel commented on #32982
This error is coming from setuptools and not from ansible.  You should consider upgrading pip/setuptools which should resolve your errors:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-11-16 16:28] #32982 closed, assigned to nobody

[2017-11-16 16:28] samdoran commented on #32812
I was able to duplicate this. Works in 2.4.0, broken in 2.4.1 as well as `devel`

Seems to be a problem only with the `k=v` syntax of `import_tasks`. Using multi-line YAML avoids this error, which you could use as a workaround for now.

Example playbook:
[code]

`tasks.yml`
[code]

## Fails on 2.4.1 and `devel` ##
[code]

## Works on 2.4.0
[code]

[2017-11-16 16:31] sivel commented on #32812
I'm honestly surprised that the `key=value` syntax actually worked.  That syntax for includes has been deprecated for some time, and the recommended way is using the YAML `vars:` instead.

I'm not sure we should fix this, but should probably ensure we warn when people use `key=value`, to prevent people from using it.

[2017-11-16 16:36] bdowling commented on #32944
I was thinking about this since we talked yesterday.  Using 'become' for the authorize/auth_pass steps feels like a bit of a stretch or overloading of that functionality.  I can see it going both ways.

I'm trying to think of any corner cases, privilege separation or otherwise, where someone may actually want the 'become' to sudo to a different user on localhost before making the network connectio

[2017-11-16 16:50] samdoran commented on #32954
The error message you're getting from `ansible-galaxy` is not very helpful. The issue is the `vagrant` user can't write to `/etc/ansible/roles` or `/usr/share/ansible/roles`. Those are the default installation paths unless you use `-p` and specify a path. That is also running as `root` works.

[2017-11-16 16:50] #32954 closed, assigned to nobody

[2017-11-16 17:06] bcoca commented on #32812
no, `vars:` is the 'supported way' + 1 for warning/error

[2017-11-16 17:10] bcoca commented on #31689
this was never sorted, previous versions always used `os.listdir`, this would be a change in behaviour.

[2017-11-16 17:14] mldmld68 commented on #32862
@eegilbert : not sure to understand what you mean by Trunk. But here is a code to setup a port group in a dvswitch.
The network team can tag the ethernet packets with a vlanid, or not tag it (vlanid = 0).
The network configuration must present all the vlanID required to the ESXi. On HPE blades, one can do that in virtual connect profiles, since the vlan are configured in the switches.

[code]

And

[2017-11-16 18:05] dexpl commented on #32812
[Documentation](https://docs.ansible.com/ansible/latest/playbooks_reuse_includes.html#including-and-importing-task-files) says nothing about deprecation, as I see. Bug in docs?

[2017-11-16 18:10] #31905 closed, assigned to nobody

[2017-11-16 18:10] ryansb commented on #31905
Fixed in #31870

[2017-11-16 18:44] samdoran commented on #32812
So fixes for this:
1. Update docs
2. Warn/error if `k=v` syntax is found for import/includes

[2017-11-16 19:03] eegilbert commented on #32862
@mldmld68 Thank you, your example is what I was able to construct on my own, though i don't use the with_items statement (I may adopt this as it looks more concise).

The issue I'm talking about is called Trunking or Etherchannel, and it's a port that carries all VLAN traffic, not just one or a few. In the vsphere GUI its represented as: 0-4094, and it's generally input as a range of ports.

If ha

[2017-11-16 19:13] jabelk opened #32989 "Respond to expect prompts in networking modules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

aireos_command_module
ios_command_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Some common network commands expect a response (yes/no, y/n, etc.) and since each ansible command is a separate ssh session the prompts cannot be easily answered. Something along these lines would be helpful:

[2017-11-16 19:21] samdoran commented on #32969
Running Ansible on CYGWIN is not supported. If you can reproduce this issue on a supported platform, please update the information and re-open the issue.

[2017-11-16 19:21] #32969 closed, assigned to nobody

[2017-11-16 19:26] samdoran commented on #32848
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you find that there is a problem in the docs after engaging the community for support, please file an issue or PR with the specifics.

Thank you once ag

[2017-11-16 19:26] #32848 closed, assigned to nobody

[2017-11-16 19:30] bcoca commented on #32812
its already an 'error' in `include_role`, should also be in `import_role`, `include_tasks`, `import_tasks`, `import_plays` ... the `include` might not be worth it as the keyword itself is also deprecated

[2017-11-16 19:30] forescout-spollock commented on #32808
Yes, this is broken.

[2017-11-16 19:32] samdoran commented on #32936
We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * We do not pick up new variables adjacent to included playbooks
   * Variables are included adjacent to the _initial_ playbook, not any included playbooks in subdirectories

If you need variables to be included adjacent to included playbooks, use `vars_files` or `include_vars`.

[2017-11-16 19:32] #32936 closed, assigned to nobody

[2017-11-16 19:33] mldmld68 commented on #32862
Hi,

If you look in the code at https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_dvs_portgroup.py
You will see the vlan_trunk parameter is added in the development branch of ansible 2.5. It says this parameter allow you to set a range of vlan in vlan_id.

This parameter does not exist in the ansible 2.4 module, see :  https://github.com/ansible/ansible/blob/sta

[2017-11-16 19:37] glassresistor opened #32992 "Allow Lambda module to Update existing functions without uploading Zip"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
AWS cloud lambda module

##### SUMMARY
Currently ansible does not allow Lambda functions to have things like environment variables updated independent of uploading a zip file.  It would be good to allow state "present" to not require a zip file and allow for partial definitions of state.

This will allow for it to more easily work with tools l

[2017-11-16 19:42] eegilbert commented on #32862
@mldmld68 Thank you!

[2017-11-16 19:44] Saloshp commented on #31689
@bcoca, so your'e saying a random behaviour is better than a predicted one, simply because you got used to it?
Also, I didn't dive into the code but can't reproduce under Ansible 2.3 (works fine)

[2017-11-16 19:56] samdoran commented on #32964
@asifmuradkhan @Floflobel Looks like www.postgresql.org changed their TLS certificate on October 28, 2017 to a certificate from Let's Encrypt. Make sure that your systems trust the root CA that signed the Let's Encrypt Authority certificate.

[2017-11-16 20:18] jctanner opened #32995 "this is a test."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-11-16 20:21] ryansb commented on #27800
This is now supported in ec2_vpc_subnet as well.

[2017-11-16 20:25] ElijahLynn commented on #5316
Since this post comes up at the top of a search for "[multiple inventory files ansible.cfg](https://www.google.com/search?q=multiple+inventory+files+ansible.cfg)" I will say that #23001 (merged 2017.05.23), specifically 8f97aef1a3 brought the ability to specify multiple inventory on the CLI with `--inventory inventory1 --inventory inventory2`. I am currently searching for how to do this in the ans

[2017-11-16 20:27] samdoran commented on #32983
cc @bcoca @emonty

[2017-11-16 20:39] bcoca commented on #31689
@Saloshp its not random, it is just not determined by our code, there is a big difference there.

The code in 2.4 mostly 'moved' but was not changed when it came to finding files, you can check 2.3 as it also uses `os.listdir` and there is no sorting after that.

I'm not saying i'm rejecting the feature, I'm saying we need to add a toggle for those depending on the previous behaviour.

[2017-11-16 20:39] ryansb commented on #32992
You should be able to use lambda_facts and get the S3 bucket/key info and pass those into the Lambda module. What types of things are you usually updating on Lambda functions when working with other tools? Wouldn't those other tools just flip those properties back next time they were run?

[2017-11-16 20:39] ElijahLynn commented on #5316
@sivel Helped me in IRC. :100:

You can specify multiple inventory in ansible.cfg now with the paths separated by a comma.

`inventory = inventory1,inventory2`

[2017-11-16 20:47] abadger commented on #32964
@mkleins Your issue is different from the two commenters.  I believe it is fixed in the forthcoming 2.4.2:

* Fix bugs in get_url/uri's SNI and TLS version handling when used on systems
  that have Python-2.7.9+ and urllib3 installed.

https://github.com/ansible/ansible/pull/32053

You can test a beta or rc of that if you'd like: http://releases.ansible.com/ansible/
The current most recent prerele

[2017-11-16 20:48] bcoca commented on #32972
First, `no_log` is settable at play level, that would affect the fact gathering, second, you have a specific configuration that already does just this http://docs.ansible.com/ansible/devel/config.html#default-no-target-syslog

[2017-11-16 20:49] bcoca commented on #32972
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-16 20:49] #32972 closed, assigned to nobody

[2017-11-16 20:54] draxxris commented on #32972
Yes I know, that would shut off all logging. But there is no way to shut off logging for _fact gathering_ only.

[2017-11-16 21:12] bcoca commented on #31504
so i couldn't reproduce this initially, but it was mostly due to lack of 'differences' in my tests hosts, the following generally reproduces the problem on almost every run.

[code]

[2017-11-16 21:24] jctanner commented on #32995
bot_status

[2017-11-16 21:29] bbaja42 opened #32997 "Fix s3_bucket get_request_payment_status method, unboanded local variable error"
- Bug Report
##### COMPONENT NAME
module s3_bucket

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Unbounded local variable, when S3 server does not return payer information

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Not to get an error

##### ACTUAL RESULTS

[code]

[2017-11-16 21:37] samdoran commented on #32995
Just testing the new shiny.

!component +lib/ansible/plugins/loader.py

[2017-11-16 22:21] jctanner commented on #32995
bot_status

[2017-11-16 23:13] kcfedun commented on #25298
Using ansible 2.4.0, I have noticed that I get the 'Timed out waiting for scheduled task to start' errors when using win_updates on a Windows 10 system after applying the October 2017 Fall Creators Update (it worked fine prior to applying the update). Is there anyone else experiencing the same? Anyone have a working solution?

Looks like if you uncheck the 'Do not store password...' checkbox in th

[2017-11-17 00:02] MOZGIII commented on #29025
@ansibot please stop, I don't know what component name to use here.
Somebody halp, this robot wants something from me.

[2017-11-17 00:05] ghost opened #32999 "ssh: illegal option"

[2017-11-17 00:26] kassiansun commented on #27960
Hey guys, seems so many people encountered this problem. After some play with you guys' playbook, the problem is actually `stopped` will ensure the container is `present` and `stopped`. So you guys' playbook is actually wrong (at least with some docker/docker-py version, I can reproduce this issue with centos, docker 1.18 & docker-py 1.10)

The quick fix has nothing to do with `recreate` or anythi

[2017-11-17 00:38] Akasurde commented on #32999
@rameshkumar132 It seems that your hostgroup in inventory contains wrong values. Could you paste content of inventory ?

[2017-11-17 00:49] Akasurde commented on #32975
@l3m Could you please try this PR #31322 and let us know if it works for you ?

[2017-11-17 01:03] Akasurde commented on #23340
@kuldeep-singh-duhan @Sispheor Could you please try using folder as `Datacenter\vm` where Datacenter is my datacenter name. For standalone ESXi server it is `ha-datacenter` and `vm` is default vmFolder of datacenter.

Let me know if it works for you. Ping me (akasurde) at #ansible-vmware on irc.freenode.net if you need further help.

[2017-11-17 02:04] ghost opened #33004 "Ansible cloudformation module does not support non public S3 url for CF"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cloudformation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
We post our CF templates to an S3 bucket that is not public (for security reasons) - when we use the cloudformation module and use the template_url option - we keep getting a 403 Permission Denied. We have verified the S3 Acces

[2017-11-17 02:24] jborean93 commented on #30695
bot_skip

[2017-11-17 02:28] jborean93 commented on #15096
bot_skip

[2017-11-17 02:28] jborean93 commented on #17806
bot_skip

[2017-11-17 02:28] jborean93 commented on #24440
bot_skip

[2017-11-17 02:49] yuwzho commented on #30863
The pull request is already sent

[2017-11-17 03:18] ansibotdev commented on #32995
Files identified in the description:
* [lib/ansible/cli/playbook.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/playbook.py)
* [lib/ansible/plugins/loader.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/loader.py)

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here f

[2017-11-17 03:18] ansibotdev commented on #32995
### Components
[lib/ansible/cli/playbook.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/playbook.py)
support: core
maintainers:

[lib/ansible/plugins/loader.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/loader.py)
support: core
maintainers:

### Metadata
**waiting_on**: maintainer
[needs_info](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.

[2017-11-17 04:47] jaddison commented on #29776
Still running into this with 2.4. Seems kind of critical to fix this?

[2017-11-17 05:24] geerlingguy commented on #32766
Gah! I scratched my head on this for about half an hour today—I had the exact same errors, and thought I was going insane, when I remembered I had forgotten `remote_src`. I even remembered to set it on the `copy` task I added prior to this one!

Thanks for the brief/quick answer so I didn't drive myself insane over the next hour.

[2017-11-17 06:02] #32477 closed, assigned to Akasurde

[2017-11-17 06:37] willthames opened #33006 "Using callback plugins breaks ansible-playbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
callback plugins

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### SUMMARY

See reproduction steps.

##### STEPS TO REPRODUCE
With the above configuration file, a minimal playbook suffices

[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2017-11-17 06:40] willthames commented on #33006
`git bisect` shows this comes from the latest configuration and plugins refactor in #31024

[2017-11-17 06:47] blurblah commented on #32965
I've launched a Debian9 VM on AWS and tested this issue on devel branch but can't reproduce it.
`/usr/bin/python` is exist in Debian 9 image of AWS marketplace so I've tested it after moving python executable file.
- Ansible version details:
[code]
- lsb_release of debian:
[code]

[2017-11-17 06:51] daniel-alonso-sanchez commented on #16130
+1 here. It would be a nice feature!

[2017-11-17 08:07] arogarth commented on #31268
I can reproduce this problem, too.
The bigges impact is on developing with vagrant and dynamic inventory with ubuntu/xenial64 box. The user must be ubuntu, not vagrant...
I get problem with ansible 2.4.1.0 and 2.4.0.0

[2017-11-17 08:24] aldanor commented on #22169
Ditto, still seeing this.

[2017-11-17 08:30] l3m commented on #32975
@Akasurde Indeed it does.

[2017-11-17 08:36] Akasurde commented on #32975
@l3m Thanks, Could you please add "shipit" on PR so that I can merge it ?

[2017-11-17 08:47] jollymover commented on #21267
- name: Add Ansible user
      win_user:
        name: ansible
        password: "{{ admin_password }}"
        groups:
          - Administrators

    - name: Switch to Ansible user
      set_fact:
        ansible_user: ansible
        ansible_password: "{{ admin_password }}"

    - name: Change password for Administrator
      win_user:
        name: Administrator
        password: "{{ admin_pas

[2017-11-17 08:50] l3m commented on #32975
@Akasurde I do not have permissions to do that? I cannot add a label - or maybe I am misunderstanding you?

[2017-11-17 09:04] marekruzicka commented on #27960
I believe that biggest problem now is, that this simply doesn't make sense to most people (including me).
One would expect (based on the module [synopsis ](http://docs.ansible.com/ansible/latest/docker_container_module.html) ) that you can actually "**manage** the life cycle of docker containers", but the reality is, you can **create containers in different states**, which is pretty much useless (

[2017-11-17 09:06] Akasurde commented on #32975
@l3m just add comment like "shipit" on PR.

[2017-11-17 09:07] gerritjanf opened #33008 "Not setting 'nic_on_boot' makes cloud init fail with the ovirt_vms module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt_vms

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Not setting the nic_on_boot variable when using the cloud_init section of the ovirt_vms module makes starting the VM fail.
The error returned by Ansible is:
[code]
In the logs of the of the RHV manager a java Null pointer exception is

[2017-11-17 09:12] kassiansun commented on #27960
Yes, you can just stop a container without any other concerns. But this is the definition of the `stopped` state of `docker_container`, make sure a container with the **specified spec** is present & stopped.

If you think this is incorrect, just submit a patch to change it & wait for community votes. If you can't change it, then this is how you can use it. Anyway, ansible is open-source, there's n

[2017-11-17 09:21] AceSlash commented on #32965
I'll make the test with devel latter today (cannot now), but why did you not test it with the 2.4 branch, which is the version specified in my report? It wouldn't be the first time that a bug exists only in one branch and not on devel.

[2017-11-17 09:45] maxgalbu commented on #29047
What's the priority for this bug?

[2017-11-17 09:47] domibarton opened #33010 "template deletes /dev/null"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible core and/or template module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 7.9

##### SUMMARY

When a file is symlinked to `/dev/null` and you're using the template module, the destination file (i.e. `/dev/null`) is deleted and recreated as normal file. I'm pretty sure that's "expected" beha

[2017-11-17 10:09] Akasurde commented on #32465
@405network Are you running this PB against 'vcenter' because module is meant to add user on local ESXi server and will fail in that scenario?

[2017-11-17 10:39] mkleins commented on #32964
@abadger  I confirm, ansible 2.4.2.0-0.4.beta4 has fixed issue.

[2017-11-17 10:54] pablorf-dev commented on #31504
I've provided another pull request that seems to fix all the points I commented previously.

@bcoca The problem of your PR is that only fixes the wiping of all hosts, that actually fix this issue, but you may execute handlers unordered and get blocked by other tasks.

[2017-11-17 11:32] NBardelot opened #33012 "ansible-playbook command line as a fact"
Everything's in the title... When i execute ansible-playbook I'd like to be able to access the command line as a fact (in order, for example, to use this in a slack notification).

[2017-11-17 12:29] rorybrowne commented on #4870
Fully agree with your first paragraph @nethershaw ; however with regard to the second paragraph, I think it's possible to meaningfully retrieve the output from multiple hosts.

Two possibilities I can think of are split screen ( with (n)curses ), and colour-coded output.

I also agree that problems deploying to a single host (or indeed a small number of hosts - < 5) should not be dismissed, just b

[2017-11-17 13:30] karlism opened #33013 "Host search broken"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Inventory entries

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_VAULT_PASSWORD_FILE(env: ANSIBLE_VAULT_PASSWORD_FILE) = /home/username/.ansible/vault_pass

##### OS / ENVIRONMENT

OpenBSD 6.2 AMD64, CentOS 7.4

##### SUMMARY

Starting from 2.4.0.0 version ansible host search is broken and returns incorrect results.

##### STEPS TO

[2017-11-17 13:33] privateip opened #33014 "cannot pass `enable` as a valid become method from cli"
[code]

[2017-11-17 13:37] Atoms commented on #33013
also started discussion about this issue here: https://groups.google.com/forum/#!topic/ansible-project/oRZwBj4XDx8

[2017-11-17 14:28] #32995 closed, assigned to nobody

[2017-11-17 14:44] helldorado commented on #32832
@gerhard-tinned sorry for the late response. Please consider initiating the first node. Without node intiated the API can't get the target node information.

[2017-11-17 16:16] TheSycamore opened #33018 "Ansible bitbucket clone provisioning ssh error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git module
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
4.10.0-38-generic #42~16.04.1-Ubuntu

##### SUMMARY
When provisioning my vagrant box using Ansible, I get thrown a mysterious error when trying to clone my bitbucket private repo using ssh. The error states that the "Host key verification f

[2017-11-17 16:33] #33014 closed, assigned to Qalthos

[2017-11-17 17:18] rameshkumar132 commented on #32999
$cat lab-hosts
---
[ios]
lab1-rtr1
lab2-rtr1
lab2-rtr2

[ios:vars]
ansible_connection = local
ansible_user = naadmin
ansible_ssh_pass = R@mesh@132
$

[2017-11-17 17:19] bobobox opened #33021 "elb_application_lb"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_application_lb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
If an Application Load Balancer is created/maintained via Ansible, and the 'SslPolicy' on a listener is not specified (documentation says 'The default is the current predefined security policy.', indicating it can be omitted to use the de

[2017-11-17 17:26] sivel commented on #32999
Your error is the errant inclusion of `---` at the top of your inventory file.  Remove that line and you should no longer receive this error.

The `---` that you likely see elsewhere is for YAML documents, and your inventory is not a YAML file and should not include this line.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailin

[2017-11-17 17:26] #32999 closed, assigned to nobody

[2017-11-17 17:32] #30695 closed, assigned to nobody

[2017-11-17 17:35] fpoulain commented on #27520
Same issue with ansible 2.4.0.0.

[2017-11-17 17:38] bcoca commented on #31504
@pablorf-dev agreed i had not accounted for 'premature handler running' which the other Issue does point to.

[2017-11-17 17:50] ghost opened #33023 "restarting service asking for sudo password and throwing error"

[2017-11-17 17:52] sivel commented on #33023
`become_user` identifies the user that you will become.  Can that service be restarted as `admin`? Does `admin` have full sudo access?  My guess is instead that needs to be `root` which is actually the default value.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-proje

[2017-11-17 17:52] #33023 closed, assigned to nobody

[2017-11-17 17:59] rameshkumar132 commented on #33023
It has all the privileges including restarting the service. I can able to do it via command prompt/CLI.

[2017-11-17 18:09] #32931 closed, assigned to Qalthos

[2017-11-17 18:37] ghost commented on #33004
Quick update - I tried 2 other things:

- using s3:// in template URL such as
template_url : "s3://{{ AWS_CF_BUCKET }}/{{ STACKNAME }}/master.yml"

Error
```"msg": "The specified url must be an Amazon S3 URL."```

- using s3:// in template such as
template : "s3://{{ AWS_CF_BUCKET }}/{{ STACKNAME }}/master.yml"

Error
```    "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansib

[2017-11-17 18:40] jurajbgh commented on #27136
thanks the issue was fixed!

[2017-11-17 18:44] tedder commented on #33004
AFAIK they need to be public, but I wonder if a signed URL would work. There's a SO comment saying they didn't work in 2016, but it's late 2017 now.

[2017-11-17 18:47] ghost commented on #33004
Ideally would love to have support for an S3 URL format (not just https://) - the module already has the credentials to use for access, making it public is not going to work for us from a security standpoint and using local files has a limitation from AWS CF that it must be < a specific byte size.

[2017-11-17 18:59] boxever-javier commented on #32019
bum up

[2017-11-17 18:59] tedder commented on #33004
The problem here is the cloudformation API. You could do some testing and see if signed URLs work, certainly S3 urls don't. Signed is possible here, S3 urls is an Amazon problem.

`needs_contributor`

[2017-11-17 19:01] fpoulain commented on #27520
Worked for me after adding `delegate_to: localhost` to the task.

[2017-11-17 19:20] prasadkatti commented on #33004
@mshahpalerra - I have used `template_url : "https://s3.amazonaws.com/{{ AWS_CF_BUCKET }}/master.yml"` form to create a stack before. The template file in S3 had default permissions, it wasn't explicitly made public.

I was getting HTTP 403 before. But then I found out that some of the apis were "mfa-protected" and the iam user I was using was mfa-enabled. So I had to generate temporary credential

[2017-11-17 19:36] Salvor42 opened #33027 "ansible-console asks for vault password"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-console

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/user1/.ansible.cfg) = [u'/home/user1/ansible/inventories/devel/i
DEFAULT_LOG_PATH(/home/user1/.ansible.cfg) = /home/user1/logs/ansible.log
DEFAULT_REMOTE_USER(/home/user1/.ansible.cfg) = root
HOST_KEY_CHECKING(/home/user1/.ansible.cfg) = False

##### O

[2017-11-17 19:39] naseemkullah opened #33028 "win_domain_user: Add "telephone number" as parameter"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

win_domain_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

##### SUMMARY

I would like to be able to populate windows domain users'   "Telephone number:" in

[2017-11-17 20:02] tedder commented on #33004
You know what, you're right @prasadkatti. I just reviewed mine and they are private buckets with private keys. It's up to the user who is running `cloudformation`.

`notabug` `!needs_contributor`

[2017-11-17 20:03] brainclots opened #33029 "unable to elevate privilege to enable mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_system
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_DEBUG(env: ANSIBLE_DEBUG) = False
DEFAULT_LOG_PATH(env: ANSIBLE_LOG_PATH) = /Users/bklotz/ansible.log
HOST_KEY_CHECKING(/Users/bklotz/.ansible.cfg) = False

##### OS / ENVIRONMENT
Running from MAC OS X to Cisco 3850 stack

##### SUMMARY
I can reach the device and

[2017-11-17 20:08] fpoulain commented on #27520
Actually no. It failed differently.

[2017-11-17 20:09] #33004 closed, assigned to nobody

[2017-11-17 20:30] sivel commented on #32978
Are you saying that the task was executed by ansible 2 times, as seen in the output of ansible-playbook?  Or are you saying that the API was hit twice in context of one task execution?

I'm going to assume the 2nd one.

With that assumption, was it a POST request both times?  Can you provide more information?  Did you see this in logs? Can you provide those logs?

needs_info

[2017-11-17 20:32] termlen0 commented on #32980
@bdowling You are correct. `save` pretends to work - which is even more alarming!

[2017-11-17 21:32] cwstrommer commented on #27960
I agree with @marekruzicka here that the module documentation is confusing.  While I understand @kassiansun 's point about the specified spec, most users of the module would assume that the state parameter corresponds to the equivalent of calling "docker container <state>".  It is even more confusing since the behaviour of this module has changed between ansible 2.3.1 and 2.3.2.  This is not to sa

[2017-11-17 22:04] gintautassulskus opened #33035 "Consistent treatment of --extra-vars and inventory folder"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

--extra-vars and inventory file/folder

##### ANSIBLE VERSION

[code]

##### SUGGESTED FEATURES

The first suggestion is for `--extra-vars` to accept directories. This would make it consistent with the behaviour of `group_vars` and `host_vars` which can read both files and directories. At the moment an attempt to include a directory results

[2017-11-17 22:04] ghost commented on #33004
@tedder @prasadkatti  thanks for the info - just to clarify the user who is running cloudformation is based off the credentials that we provide to the playbook via the aws credentials? I know the credentials work because a copy with those but how do I know what user Ansible is using?

[2017-11-17 22:07] TheSycamore commented on #33018
**Solution summary:**

- I changed the owner of the /var/www directory from 'www-data' to 'ubuntu' (the username I use to login via ssh).

- I also added "become: false" above the git task.

**Fixed playbook.yml file:**
[code]

**Solution Explained:**
As I wrote "become: true" at the top of the playbook.yml, I was attempting the 'git clone' as root user instead of 'ubuntu' user. ssh-add -l comes b

[2017-11-17 22:07] #33018 closed, assigned to nobody

[2017-11-17 22:09] PenguinzTech opened #33036 "ios_config has no stdout return for register / match to compare against"
##### ISSUE TYPE
Not sure if intentional... if not, then bug report, if intentional then feature request.
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/home/redacted/ansible']

##### OS / ENVIRONMENT
 lsb_relea

[2017-11-17 22:21] Comm4nd0 commented on #21513
Any update on when this is going to be fixed. tempted to use synchronize but i don't want to have to put in the password each time :(

[2017-11-17 22:52] abadger commented on #21513
This has been fixed already.  The new code is in ansible 2.4.x (2.4.1 is the latest).  If your particular use case is still slow, please open a new bug with reproducer, timings, and other things that will help to describe the situations where the slowness occurs and what you expect.  Note that copy is slower than raw scp because of what it does (suport for idempotence and check mode) so a new bug

[2017-11-17 23:16] daBONDi commented on #33028
Maybe we should add support for LDAP Attributes, so all avil AD Attributes can be written

[2017-11-17 23:38] jborean93 commented on #33028
Yep I was thinking of adding support for any LDAP attributes like how the `attributes` option in `win_domain_group` works https://docs.ansible.com/ansible/2.4/win_domain_group_module.html

[2017-11-17 23:53] sivel commented on #33035
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * It is documented that group_vars and host_vars are relative to either the in

[2017-11-17 23:53] #33035 closed, assigned to nobody

[2017-11-18 01:16] abadger commented on #32816
Other people on the core team agree; async_ is what we want to do for these.

[2017-11-18 02:27] ajacocks commented on #32767
Is there any way that I can help to troubleshoot this?  Is there more data that I can provide?

[2017-11-18 02:37] #32964 closed, assigned to nobody

[2017-11-18 02:37] samdoran commented on #32964
@mkleins Thanks for reporting and testing!

[2017-11-18 03:30] nwchandler commented on #33028
I like that idea. It would be more extensible and easier to maintain.

[2017-11-18 04:51] nerdvegas commented on #17098
Given the lack of this feature, how should I go about repeatedly attempting a list of tasks until the end result is successful? The only thing I can think of is to somewhat bypass ansible, and repeatedly try executing a bash script (produced from ansible template) until it succeeds.

+1 for this feature, since it seems arbitrary to be able to repeat-until on a single task, but not a task list.

[2017-11-18 04:53] nerdvegas commented on #16621
+1. Until doesn't work with include either, so we're left with no way to repeatedly attempt a list of tasks in ansible - only a single task, which feels like an odd limitation to me.

[2017-11-18 09:58] ganeshrn opened #33042 "junos_config integration test fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-11-18 12:29] pratikkava1189 opened #33044 "ascii' codec can't encode character"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
command & fail

##### ANSIBLE VERSION
ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.5 (defau

[2017-11-18 12:35] pratikkava1189 commented on #33044
##### OS / ENVIRONMENT
Red Hat Enterprise Linux v.7.4

##### SUMMARY
We are trying to execute playbook but its giving error.

---
- hosts: test
  tasks:

# Checking application status #
  - name: Checking application status
    command: /usr/bin/systemctl status rsyslog
    register: application_status

# Abort patching if application is running #
  - name: Abort patching if application is running

[2017-11-18 15:40] hbruch opened #33045 "docker_network failes with 'endpoint with name x already exists in network y'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION
[code]
###### Docker-Py Version
1.10.6
###### Docker Version
Docker version 17.09.0-ce

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Vagrant/Debian-Jessie

##### SUMMARY
docker_network taks fails, if container is already added to network.
Underlying reason: docker.Client.networks calls the docker API w

[2017-11-18 16:40] hbruch commented on #33045
From docker API doc for the [List Networks endpoint](https://docs.docker.com/engine/api/v1.32/#operation/NetworkList):

[2017-11-18 17:01] tedder commented on #26603
`resolved_by_pr #28713`

[2017-11-18 17:06] #26603 closed, assigned to nobody

[2017-11-18 17:30] ganeshrn opened #33047 "Network module using persistent connection fails when debug logs are enabled"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config
junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

Enable debug logs

[code]
OR
[code]

##### EXPECTED RESULTS

Should run successfully

##### ACTUAL RESULTS

[code]

[2017-11-18 18:33] dcotruta opened #33051 "Ansible 2.4.0 cannot be deleted on windows"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
n/a

##### ANSIBLE VERSION
n/a

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
Windows 10

##### SUMMARY
The ansible tar.gz (e.g. the one from https://pypi.python.org/pypi/ansible/2.4.0.0) contains some type of badly written recursive directory structure in the tests directory (specifically everything below circle). Nobody seems to have tested

[2017-11-18 18:57] #18650 closed, assigned to nobody

[2017-11-18 20:36] jhawkesworth commented on #33051
Hi,

Just to clarify, did you unzip inside WSL? (Bash on Windows), or just in the windows 10 file system?

[2017-11-18 20:49] dcotruta commented on #33051
I unzipped directly inside Windows, using 7Zip. The only warning I received was regarding the fact that the symlinks for ansible-playbook (etc...) could not be created.

[2017-11-18 22:09] machacekondra commented on #33008
@gerritjanf Thanks for opening the issue. This is an issue in oVirt engine. I've posted a fix[1]. Please note this is not an issue in Ansible, so you need to update ovirt-engine in order to get a fix.

[1] https://gerrit.ovirt.org/#/c/84317/

[2017-11-19 03:46] edesz opened #33052 "ec2_group module indicates boto3 not installed, even though it is installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`ec2_group`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS running Ansible from: Ubuntu 17.10

##### SUMMARY
I have the following basic Ansible `ec2_group` module-based task to create an AWS ec2 group. The `ec2_group` module has the requirement of `boto` and `boto3`, both of which I have installed. When I ru

[2017-11-19 03:48] kommunicate opened #33053 "ecs_ecr module doesn't include repository ARN or other details specified in docs"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report
(one or the other)

##### COMPONENT NAME
ecs_ecr

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

N/A

##### SUMMARY

This is either a mistake in the [documentation ](http://docs.ansible.com/ansible/latest/ecs_ecr_module.html) (unlikely) or a bug. A debug dump of a created or existing ECR repository doesn't i

[2017-11-19 04:57] donkeyx commented on #19276
+1

[2017-11-19 06:22] playgroundctl opened #33054 "cannot switch to another user and sudo_flags"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`become_user` using password-less auth

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
[code]

##### SUMMARY

as `user-a` with `id`
[code]
i can become `user-b` like that (note no password is provided, this is achieved using PAM/LDAP)
[code]

The above is not doable, as ansible prompts for password a

[2017-11-19 07:51] maliksaurabh7l opened #33056 "Playbook is running if we directly running it but producing exception when executing using roles."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
roles

##### ANSIBLE VERSION

- ansible 2.0.0.2

##### CONFIGURATION

- attached the  ansible.cfg

##### OS / ENVIRONMENT
- Ubuntu 16.4

##### SUMMARY
When I am executing playbook directly as following, it runs without any problem-
-  ansible-playbook roles/basic/tasks/main.yml

But when I run it with role playbook as following it gives exceptio

[2017-11-19 09:18] resmo commented on #32929
resolved_by_pr #33046

[2017-11-19 09:24] arbabnazar opened #33057 "Meaningful message instead of Permission denied"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

`ansible/plugins/callback/default.py`

##### SUMMARY

 “Permission denied” Error message is really confusing, it's says that the UNREACHABLE but it's wrong. Can you please implement the suggestion that has mentioned in the below link for meaningful error message.
 https://medium.com/@garciaj.uk/unreachable-81055075d72a

[2017-11-19 10:29] ymagriso opened #33058 "unarchive does not support uncompressed *.tar files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

callback_whitelist = profile_tasks
log_path=./ansible.log

##### OS / ENVIRONMENT

N/A

##### SUMMARY

"unarchive" module does not support *.tar files - it attempts to unzip them before attempting to extract their contents.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2017-11-19 12:44] machacekondra commented on #33008
The fix was merged, and will be in 4.2 release of the oVirt/RHV. close_me

[2017-11-19 12:53] #33008 closed, assigned to nobody

[2017-11-19 13:07] Akasurde commented on #33044
@pratikkava1189 Thanks for reporting this issue. I think you have non-ascii character in your PB (”) at line `Please stop the application first, then attempt patching.`. Re-try after removing it.

[2017-11-19 13:14] tYYGH opened #33062 "unexplained repeated tasks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Up-to-date Archlinux

##### SUMMARY
I have writen more than 50 Ansible roles, with the aim of installing/updating my home-server. It works nice.
But running the whole book takes ***very*** long! One reason it takes so long is that some roles that I include usi

[2017-11-19 13:25] gerritjanf commented on #33008
@machacekondra Thanks for fixing the issue.

[2017-11-19 13:31] tYYGH commented on #33062
!component

[2017-11-19 13:45] Akasurde commented on #32465
resolved_by_pr #33061

[2017-11-19 13:47] #30524 closed, assigned to nobody

[2017-11-19 13:51] Akasurde commented on #24648
Closing this issue as PR #31322 is merged. Please feel free to re-open, if problem persists.

[2017-11-19 13:51] #24648 closed, assigned to nobody

[2017-11-19 13:52] Akasurde commented on #32975
Closing this issue as PR #31322  is merged. If issue persists, please feel free to re-open.

[2017-11-19 13:52] #32975 closed, assigned to nobody

[2017-11-19 15:35] Akasurde commented on #23724
Closing this issue as this is fixed in version 2.3 and onwards. If issue persists, please feel free to re-open.

[2017-11-19 15:35] #23724 closed, assigned to jctanner

[2017-11-19 18:01] jocelynj opened #33064 "proxmox_template doesn't work because of utils.path_dwim()"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module proxmox_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing relevant

##### OS / ENVIRONMENT
Debian Stretch

##### SUMMARY
When launching proxmox_template, I'm getting a failure, because module is using `utils.path_dwin()`, which is no longer present in ansible. I've tried to replace with `module._loader.path_dwim_relative

[2017-11-19 18:52] ieevans commented on #32776
Thanks gouthampacha, that was it!
I had to dig though the ONTAP 9 docs a little to figure out how to get it set.  If anyone else is having the same issue just hit the CLI with admin role and run:
`set -privilege advanced`
Agree to implode the universe 😄, then:
`system services web modify -http-enabled true`

I found the SDK helpful when troubleshooting since the module fails with "Unexpected error

[2017-11-19 18:52] #32776 closed, assigned to nobody

[2017-11-19 19:08] kommunicate commented on #33053
Just from some cursory browsing, the problem looks like it's here: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ecs_ecr.py#L183

The last line returns a dict only of the repository name so the other repo details drop out, but only in check mode. Not sure what the expected behavior of --check is on this module (this might not actually be a bug).

[2017-11-19 19:47] leedm777 commented on #33053
Its not immediately clear to me how this prevents one from automating IAM permissions.

[2017-11-19 19:56] kommunicate commented on #33053
@leedm777  Here's my scenario: I want to have a playbook where I automate the infrastructure setup for a new project. As part of this setup, I create an ECR repo and create an IAM user account dedicated to pulling images only from the ECR repo associated with the project. In this case I can't make the association with the IAM user because there's no way to refer to the ECR repo.

[2017-11-19 20:25] leedm777 commented on #33053
Check mode does a best effort at returning what data it can without actually doing anything. In this case, the repository doesn't exist, so any of the fields that are normally returned from AWS are omitted.

It does return an object with `repositoryName`, since that's pretty straightforward from the data available. Not sure how we would get the URI or ARN without actually creating the repository.

[2017-11-19 20:29] kommunicate commented on #33053
Ok, I think this is not really an issue then. I was under the impression that check stubbed out values when they're not available but thinking about it that could cause a bunch of other weird idiosyncratic issues in other modules. Thanks for taking a look!

[2017-11-19 23:37] flaf opened #33067 "The type of strings encrypted via ansible-vault is not "string""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

core
(It concerns strings encrypted via `ansible-vault`.)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

If a string variable is encrypted via `ansible-vault`, its type is not string.

##### STEPS TO REPRODUCE

Here is the playbook to reproduce the problem:

[code]

##### EXPECTED RE

[2017-11-20 02:06] kyliel commented on #32027
@nitzmahone @jordonr Could you please have a review? Thanks.

[2017-11-20 02:11] arafangion opened #33070 "ecs_cluster does not work from a virtualenv"
Whenever I attempt to use a task using ecs_cluster, it fails, with the message that boto is required.

Boto is installed, however ecs_cluster appears to use the wrong python.

Looking at the ecs_cluster.py file, I noticed that the shebang line is `#!/usr/bin/python`, and this is not the python I use. (I use the python from brew).

Additionally, it isn't respecting the virtualenv I use.

Using `#!/

[2017-11-20 02:25] arafangion commented on #33070
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ecs_cluster

##### ANSIBLE VERSION
[code]

[2017-11-20 03:15] ghost opened #33072 "openssl_publickey - Unable to save to path generate by tmpfile"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_publickey

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
openssl_publickey is unable to save to a file generated with the tmpfile module.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
For a public key to be generated much like this:

[code]

##### ACTUAL RESULTS
Fails on

[2017-11-20 05:10] CodingMadeEasy opened #33073 "Synchronize module only works once"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY
If I run the synchronize module more than once, the playbook just exits with no explanation as to why.

##### STEPS TO REPRODUCE

Execu

[2017-11-20 05:21] CodingMadeEasy commented on #33073
!component

[2017-11-20 06:34] Akasurde commented on #27096
@mavenir-labs Could you please provide your playbook and snippet of failure ?

needs_info

[2017-11-20 06:35] Akasurde commented on #26472
Closing this issue as PR #26492 is merged. If issue persists, please feel free to re-open.

[2017-11-20 06:35] #26472 closed, assigned to nobody

[2017-11-20 06:52] SmilentRhino opened #33076 "aws sqs_queue fail to update delivery_delay if delivery_delay is 0"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- sqs_queue
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

- N/A
##### OS / ENVIRONMENT

- N/A
##### SUMMARY

sqs_queue fail to set delivery_delay, if delivery_delay is 0
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

delivery_delay of DefaultLetterQueue updated to 0
##### ACTUAL RESULTS

[code]

##### POSSIBLE CAUSE
[code]

[2017-11-20 07:41] k0ste commented on #32704
Also affects_2.3.
Fix works, thanks.

[2017-11-20 07:49] andmos commented on #31576
Can confirm rules created in `2.4` does not work in `2.3` either. So it is in fact a rather breaking change. I solved it like @ar7z1 suggested, by removing the rules and adding them again. Not the best solution if you have a ton of servers, had to do it after rush hour. But works now!

[2017-11-20 08:07] jhawkesworth commented on #33051
@dcotruta What a pain. What have you tried to remove the dir?
Have you tried running
RD /S /Q
as administrator?

I imagine this just hasn't been considered as windows isn't supported as a controller for ansible as mentioned here: http://docs.ansible.com/ansible/latest/intro_windows.html#using-a-windows-control-machine

Its well worth setting up WSL (bash on Windows) if you need to run ansible from

[2017-11-20 08:25] lifeofguenter commented on #24864
Stumbled on this one as well :)

[2017-11-20 08:30] makesse commented on #22571
@bcoca

Is there any progress being made in this case? We really need to be able to parameterize the path within an include_role, and currently we only have the (soon to be deprecated) include option available.

[2017-11-20 09:31] Jean-PhilippeD opened #33079 "ansible not removing local temp file from ~/.ansible/tmp"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible local

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
**On the server where I run ansible playbooks**, I see that the __~/.ansible/tmp/__ is filled by tmp file __ansible-local-__ and are never deleted.

After many playbooks ran, my FS is full and I have to remove the files manually.

##### STEPS

[2017-11-20 09:42] dagwieers commented on #32181
Apart from making this value a boolean, I can see the value in having this functionality. But we cannot change the behaviour of a failure when timing out. So returning this information: YES But not failing the task: NO.

If you want to survive the task, you'll have to use ignore_errors, or failed_when to influence that behaviour of the task.

[2017-11-20 09:47] dagwieers commented on #17763
bot_broken This is going to be confusing for feature requests. A non-existing feature may not have a component, or the component depends on the specific implementation (which may not be discussed yet).

[2017-11-20 09:48] dcotruta commented on #33051
@jhawkesworth Indeed I did, it does not work. See image at the bottom.

I agree with you and understand that Windows is not supported. I actually grabbed the code as I develop on Windows for Linux (via various network drives) due to security restrictions at work.
I really just wanted to read the code more easily than I could in a terminal.

![image](https://user-images.githubusercontent.com/178922

[2017-11-20 09:49] dcotruta commented on #32496
@abadger @nitzmahone Any futher thoughts on this?

[2017-11-20 09:50] dcotruta commented on #32741
@mkrizek @dagnello @emonty @j2sol @juliakreger @rcarrillocruz @Shrews @Thingee
Any thoughts on this? I am happy to work on it and provide a PR, since I believe this to be genuinely useful.

[2017-11-20 10:08] tiraboschi opened #33082 "Support custom mount_options for NFS based storage domains in ovirt_storage_domains_module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_storage_domains_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
Centos 7.4 everywhere

##### SUMMARY
mount_options field is available for glusterfs and posixfs but not for nfs

##### STEPS TO REPRODUCE
Try c

[2017-11-20 10:09] marcaurele opened #33083 "s3: fakes3 not working anymore in >= 2.4.0.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_s3

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `aws_s3` module does not work anymore when using an endpoint with `fakes3`, complaining about method error.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Get the bucket content

##### ACTUAL RESULTS
List bucket is failing.

[code]

[2017-11-20 10:13] Manigunner opened #33084 "Docker Stopped suddenly when my ansible-container run is finished"
- Bug Report

container.yml
version: '2'
settings:
conductor_base: p0xvoaxa0001.xxxxxx.com:5000/nflott/node:alpine
services:
ansible.node-container:
roles:
- node_container
ports:
- '3001:3001'
user: node

##### ANSIBLE VERSION

Ansible Container, version 0.9.3rc0
Linux, d1xvoaxa0027.xxxxx.com, 3.10.0-327.13.1.el7.x86_64, #1 SMP Mon Feb 29 13:22:02 EST 2016, x86_64
2.7.5 (default, May  3 2017, 07:

[2017-11-20 10:15] Akasurde commented on #20407
@petericebear Could you please try above patch and let me know if it is working for you ?

[2017-11-20 10:16] Akasurde commented on #20407
resolved_by_pr #33080

[2017-11-20 10:17] yanivlavi commented on #33082
Not only NFS. Probably all supported storage domain that allows custom properties.

[2017-11-20 10:17] Akasurde commented on #30220
Closing this issue as PR #23012 is merged. If issue persists, please feel free to re-open.

[2017-11-20 10:17] #30220 closed, assigned to nobody

[2017-11-20 10:18] petericebear commented on #20407
Thanks, I will look into it. At a first glance, this wil suffice.

[2017-11-20 10:19] Manigunner commented on #33084
Adding docker log:
2017-11-20T10:15:23.734385 All services running.          [container.core] caller_file=/_ansible/container/core.py caller_func=conductorcmd_run caller_line=856 playbook_rc=0
2017-11-20T10:15:23.942469 Could not connect to container host. Check your docker config [container.cli] caller_file=/usr/lib/python2.7/site-packages/container/cli.py caller_func=__call__ caller_line=328

[2017-11-20 11:14] lawrence-c opened #33087 "Chocolatey occasional issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
Environment:

- from: MacOSX 10.11
- to: Windows 7 (with SP1)

##### SUMMARY

I am using Packer with Ansible encapsulated within the provision step, to call the `playbook_file`, and have the following `ansible_env_vars`:
[code]

I use `win_chocolatey` to install a list of items,

[2017-11-20 11:52] venekamp commented on #23609
I am affected by the same problem as [sudoki](https://github.com/ansible/ansible/issues/23609#issuecomment-341234326) and can conform that going from ansible version 2.4.1 to 2.4.0, the recursion error is no-longer triggered. I was hitting the error at the 13th include_role, however, some roles use include_* themselves.

[2017-11-20 12:02] sukughantoji commented on #32091
Try this - it helped:-
sudo easy_install pip
sudo pip install ansible

[2017-11-20 12:04] halberom opened #33089 "(re-raised) vars used in include_role or import_role are evaluated too early"
Previously raised in https://github.com/ansible/ansible/issues/30700 - still not fully fixed

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
Mac OS

##### SUMMARY
When using a variable as the target for an include_role or import_role, it is evaluated at the beginning of an ansible-playbook run, before

[2017-11-20 12:20] l3m opened #33090 "vmware_guest ignores UUID on vm creation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloud / vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed returns nothing (empty).

##### OS / ENVIRONMENT
Controller OS: Fedora 26 on x86_64
Target: vmware vSphere 6.5 Update 1 (Version 6.5.0.10000 Build 5973321)

Using pyvmomi Version 6.5.0.2017.5.post1

##### SUMMARY
Passing an UUID to a vmware

[2017-11-20 13:18] roshanmohite commented on #32724
Thanks @calfonso .
We already have a playbook exactly as you suggested above. However we were looking to optimize the playbook as we are thinking of combining multiple playbooks into one.
Using `backup: yes`  makes the playbook considerably smaller. I did not know that this is new feature that might need to added,  I was in fact under impression that I was something something.

Kindly let me know

[2017-11-20 14:06] dz0ny opened #33093 "State of PlayContext().only_tags is preserved between instances"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible.playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Defaults

##### OS / ENVIRONMENT
py2.7

##### SUMMARY
State of __PlayContext.skip_tags__ or  __PlayContext.only_tags__ is preserved between instances, because `FieldAttribute` uses mutable default.

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
pcb.only_tags should only

[2017-11-20 14:14] bcoca commented on #33089
dupe of #19305

[2017-11-20 14:14] #33089 closed, assigned to nobody

[2017-11-20 14:19] leedm777 commented on #33053
Sure thing!

notabug

[2017-11-20 14:20] #33053 closed, assigned to nobody

[2017-11-20 14:22] #33006 closed, assigned to nobody

[2017-11-20 14:36] bcoca commented on #33056
That this runs OK:
`ansible-playbook roles/basic/tasks/main.yml` seems to indicate it is not a correct 'role tasks list' but a full play.

[2017-11-20 14:39] bcoca commented on #33054
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Please read the become documentation, `sudo su - `  is not what Ansible itself runs, you must either use `sudo` OR `su`. http://docs.an

[2017-11-20 14:39] #33054 closed, assigned to nobody

[2017-11-20 14:42] wknapik commented on #32911
@flaper87 this is a serious bug with no workaround. Can you please take a look ?

[2017-11-20 14:43] bcoca commented on #33093
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-11-20 14:43] #33093 closed, assigned to nobody

[2017-11-20 14:51] flaper87 commented on #32911
@wknapik hey, I'll take a look at this as soon as possible but it may take a week or two before I get back to it. Feel free to take a stab at it yourself if you have some spare time :+1:

[2017-11-20 14:57] bcoca commented on #33023
@rameshkumar132  use -vvv and you'll see what Ansible executes, having access to restarting the service and Ansible being able to do so are not the same thing. Ansible requires 'full privileges' as a user not specific commands  http://docs.ansible.com/ansible/latest/become.html

[2017-11-20 15:00] nacht commented on #12919
Have a similar issue with

- Ubuntu 17.10 (GNU/Linux 4.13.0-16-generic x86_64)
- OpenSSH_7.5p1 Ubuntu-10, OpenSSL 1.0.2g

Have also tried with -f 1 and -c paramiko

fatal: [my.host]: FAILED! => {
    "changed": false,
    "failed": true,
    "module_stderr": "OpenSSH_7.4p1, LibreSSL 2.5.0\r\ndebug1: Reading configuration data /Users/me/.ssh/config\r\ndebug1: Reading configuration data /etc/ssh/ssh

[2017-11-20 15:07] bcoca commented on #33051
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-20 15:07] #33051 closed, assigned to nobody

[2017-11-20 15:09] tonyskapunk commented on #30016
This is a great feature to have to avoid the use of workarounds as running shell tasks. Anything that can be done to get this one available?

[2017-11-20 15:35] cocosun commented on #32715
Same here, already with host.py
ansible 2.4.1.0
python version = 2.7.5 (default, May  3 2017, 07:55:04) [GCC 4.8.5 20150623 (Red Hat 4.8.5-14)]
NAME="Red Hat Enterprise Linux Server"
VERSION="7.4 (Maipo)"

Traceback (most recent call last):
  File "/usr/lib64/python2.7/multiprocessing/queues.py", line 266, in _feed
    send(obj)
  File "/usr/lib/python2.7/site-packages/ansible/inventory/host.py",

[2017-11-20 15:41] bcoca commented on #33079
this was fixed in dcc5dfdf811f24c3adbb879e77a1bf8789bf1738

[2017-11-20 15:41] #33079 closed, assigned to nobody

[2017-11-20 15:50] Akasurde commented on #33090
@l3m Thanks for reporting this issue.The UUIDs are generated by VMware for newer machine, so specifying UUID for non-existing VM is irrelevant. Once the VM is created newly created UUID gets in effect, all subsequent operations after creation with new UUID works.

Let me know if you need any other help. I am (akasurde) on #ansible-vmware @ irc.freenode.net