[2017-07-04 10:06] dagwieers commented on #21886
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:06] dagwieers commented on #21873
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:07] dagwieers commented on #21538
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:07] dagwieers commented on #19725
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:07] dagwieers commented on #25302
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:07] dagwieers commented on #23183
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:07] dagwieers commented on #25278
At [19:00 UTC](http://www.thetimezoneconverter.com/?t=19:00&tz=UTC) this ticket will be processed during [the first Windows Sprint](https://github.com/ansible/community/wiki/Windows:-sprints#2017-07-04-1900-utc-sprint-1), we would appreciate if you could join the Sprint to help out with fixing/closing this issue.

[2017-07-04 10:21] hryamzik opened #26390 "win_chocolatey: Failure using method (v2_runner_on_failed)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Running on Mac OS Sierra against Windows 7 enterprise sp1.

##### SUMMARY

Module shows warning and host fails, see details below. Other modules worked fine (`win_template`, `win_shell`, `win_service`, `win_regedit`, etc).

##### STEPS TO REPRODUCE

Well that's tricky. I ha

[2017-07-04 10:21] jborean93 commented on #26387
Thanks for the raising the issue but unfortunately you cannot run any module on a Windows host like wait_for. You can find a list of supported modules written for Windows here http://docs.ansible.com/ansible/list_of_windows_modules.html. Unfortunately there isn't a win_wait_for module so this cannot run on Windows hosts.

The workaround as you noted is to use local_action which runs on the Ansible

[2017-07-04 10:24] hryamzik commented on #26387
@jborean93 as you can see original module is also run locally, check out `connection` option. I believe `connection: local` is preferred to `local_action`.

[2017-07-04 10:37] jborean93 commented on #26387
Ahh sorry I wasn't reading correctly, I've done it a different way before I believe I set `delegate_to: localhost` in conjunction with `connection: local` to be able to achieve this. I'm not in front of a computer to verify it right now though sorry.

[2017-07-04 10:54] chrwen-omicron commented on #19213
@dagwieers I'm afraid I can't participate because I've an appointment. But I think the pull request #22874 shows the problem pretty well.

[2017-07-04 11:12] richard-scott commented on #19874
I've just installed this image using Vagrant / VirtualBox's Bento image:
https://app.vagrantup.com/bento/boxes/debian-9.0

Initially the content of "ansible_distribution_release" was ok for me and came up as "stretch", but on following runs the same playbook Ansible adds new repos with 'NA' as the release name.

I was using "ansible_distribution_release" as the variable to get the release name.

[2017-07-04 11:30] wawrzek commented on #21005
@chrisisbeef - I need to find a spare moment - might have something else to add to the module along.

[2017-07-04 11:50] ghost commented on #26141
So this is an inconsistency between yaml and jinja, thanks for the info @abadger!
i may report this upstream but i would expect this to be a backwards breaking change.

[2017-07-04 12:09] grealish commented on #1534
One year on; Whats our options here to have callback's or anyway to report e.g time of a task taken?
I see a way of reporting is very important feature to have so one can actually provide metrics about the deployment of a environment ,e.g in a bank or large corp is would be a hard requirement

[2017-07-04 12:15] dagwieers commented on #19213
@chrwen-omicron Sure, this was a boiler-plate message, we will look into the details of each issue later today. Thanks for your help !

[2017-07-04 12:24] Sgydoo commented on #25981
If it's any help, I'm seeing this hanging behaviour too. The task simply never finishes, despite adding "wait: yes" and "wait_timeout: 60".

I did a tcpdump to see if either end was waiting for a response and was surprised to find a huge amount of network activity. In one minute, I captured just over 50,000 packets. The network activity ceased abruptly when I aborted the play.

Because the respons

[2017-07-04 13:13] ganeshrn commented on #26358
@nskalis Thank you for raising this issue.
Can you please test with referenced PR #26392 and  confirm if it fixes the issue

[2017-07-04 13:21] GSrinivasulu27 opened #26394 "Delay lookups"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lookup

##### ANSIBLE VERSION
2.1.1.0

##### CONFIGURATION

We have Git hub with Jenkins, from Git hub if you give keyword like (run this) automatically Jenkins job will run
##### OS / ENVIRONMENT
Centos

##### SUMMARY
We are running on shell script which intern calls yml files and also
We have a global level variable in group_var/all/test.yml f

[2017-07-04 13:44] asymetrixs commented on #24057
I ran into the same problem and can confirm the OutOfMemory-exception on the Windows 7 SP1 side and the "Authentication or permission failure" in the ansible-log, using Ansible 2.3.0.0 on CentOS 7 (3.10.0-514.el7.x86_64). After installing the KB2842230 the error was gone and win_copy works now as expected.
And yes, I set up windows exactly as mentioned here (on a fresh Windows 7 installation) http

[2017-07-04 13:45] snevs opened #26395 "jabber module does not connect to the server and looks like it takes in the user as the host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- jabber.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

EL7, trying to control localhost

##### SUMMARY

The module doesn't take in the host as the proper host and attempts to connect to the 'user' instead of 'host'

##### STEPS TO REPRODUCE

- Nothing particular.

[code]

##### EXPECTED RESULTS

Connect to the

[2017-07-04 13:49] dagwieers commented on #26390
This is a problem related to the skippy callback plugin, and not so much a problem with win_chocolatey.

[2017-07-04 13:50] nmamn commented on #22644
Hi,

@fdutheil

Looks like in my case, ansible_product_uuid is just set to "NA" :-(

Anyone with any idea why it's empty ?

Thanks a lot

[2017-07-04 13:53] dagwieers commented on #26387
Yes, this is not a bug, just a very weird and confusing thing in Ansible, see #24076
I recommend not using `connection: local` at all, especially with mixed winrm/python environments.

[2017-07-04 13:56] dagwieers commented on #26385
Another option is to use **win_psexec** to perform this task.

PS I noticed you are installing chocolatey with some powershell fu, but that's not needed. The **win_chocolatey** module will install Chocolatey automatically.

[2017-07-04 14:00] dagwieers commented on #26395
I see a typo here: `password: ="{{ my_pass }}"`

You probably did not intended to have a = there ?

[2017-07-04 14:04] snevs commented on #26395
That is a typo, indeed, but I have corrected it and doesn't look any better.
I have initially used the module with 'local_action' and then switched to 'delegate_to' so that I can exclude the possibility that a remote host can't connect to the jabber host.

[2017-07-04 14:17] Id2ndR opened #26397 "lookup module fail to compute value of a template using regex_replace filter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
template action and template lookup give different results using regex_replace filter.

##### STEPS TO REPRODUCE

Playbook
[code]

template test.xml.j2
[code]

##### EXPECTED RESULTS

I expect to get same /tmp/test2.xml after the two tasks

##### ACTUAL RESULTS

-

[2017-07-04 14:19] fdutheil commented on #22644
@nmamn
Is the VM started? To my knowledge, we use this ansible module on vCenter 6 here, and we have vmware guests tools installed in all VMs (not sure if required). Is that your case?

[2017-07-04 14:27] edvinaskairys opened #26398 "Ansible Centos SSH Error"
could not connect to device using Ansible 2.3.1.0

ssh cisco@172.1.1.2 works.

but the ansible -m ping all doesnt.
Maybe it's clear where could be a problem from this output:

[osboxes@osboxes ~]$ ansible -m ping servers -vvv
[code]
?

Thanks..

[2017-07-04 14:35] gundalow commented on #26386
@jcpowermac I believe you created this module, though you are not listed as a maintainer in https://github.com/ansible/ansibullbot/blob/master/MAINTAINERS.txt would you like to be?

[2017-07-04 14:42] nmamn commented on #22644
yes, VM is up and running, and vmtools are running as well
Actually I can reproduce in several VM.

But I just found out that uuid is also storred in /sys/devices/virtual/dmi/id/product_uuid !

[2017-07-04 15:03] javierurien commented on #26270
Hello, sorry for the delay. Patch works, thanks.

 What I would like to suggest is that the behavior be reversed (ie, from default False on both flags, to default True). This would be the safest option for users because otherwise you wouldn't be aware that the VM is in a rebooted state until you try to restore from the snapshot and perhaps it is too late then.
 I believe that it should be no probl

[2017-07-04 15:10] naggie commented on #21513
Is this really fixed? I still have to wait hours for 3.6MB of files to be copied over a 40Mbps connection, even when only a handful of files have changed.

[2017-07-04 15:15] gundalow commented on #26389
Hi
This is by design.

You can have become settings per host
or in config
or in keywords

This allows for customization/overrides while not forcing you to do diff tasks/plays when you have mixed environments.

[2017-07-04 15:15] #26389 closed, assigned to nobody

[2017-07-04 15:16] hryamzik commented on #26390
Removing `skippy` plugin from `ansible.cfg` doesn't help though.

[2017-07-04 15:19] tganzeboom commented on #9314
Has this already been addressed?

[2017-07-04 15:20] dwt commented on #26389
Well, I appreciate that you have many places to set a default.

But still, if there is an explicit setting on a task to `become_user: $foo` but no explicit setting to `become: ...` anywhere, a warning would be really helpful (especially since many commands will just silently do the wrong thing if you forget the `become: yes`.

Or am I missing something important here?

[2017-07-04 15:46] afunix opened #26402 "New warning for "when" statements and jinja2 delimiters gives false positive"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_HOME=/Users/cqx874/ansible/ansible
no ansible.cfg in the directory.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
New warning `when statements should not include jinja2 templating delimiters such as {{ }} or {% %}.` gives a false positive in a quite a big number of my playb

[2017-07-04 15:55] abadger commented on #21513
It's not really fixed.  I'll re-open this once I'm back at my computer.

[2017-07-04 16:08] abadger commented on #21513
This should be "fixed" in devel but the fix breaks very badly on circular symlinks.  I have to revise it ( https://github.com/ansible/ansible/issues/24393 )

In 2.3.x it is not fixed.  Once I get something that works without the circular symlink problem, I'll consider whether to backport this to stable-2.3 (would be nice but definitely won't make 2.3.2).

[2017-07-04 16:13] JeanFred opened #26405 "meta: clear_cache throws "coercing to Unicode: need string or buffer, Host found""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cache/redis.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
fact_caching=redis

##### OS / ENVIRONMENT
N/A (Ubuntu 16.04)

##### SUMMARY
Using `meta: clear_cache` throws an Exception

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS
Facts are re-gathered.

##### ACTUAL RESULTS

[code]

This is very similar to  #18708 (which

[2017-07-04 17:01] Harshithaputta opened #26408 "How to unset proxy in Windows using ansible"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-04 17:03] Harshithaputta opened #26409 "How to unset proxy in Windows using ansible"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

Windows proxy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-04 17:07] nicoonoclaste commented on #20387
@dimakievua This isn't an Ansible bug, in my opinion:
using `with_dict "{{ some_dict }}"`, you are correctly passing a dictionary, whereas what you had in the playbook passes to `with_dict` a list whose only element is a dictionary.

[2017-07-04 18:08] lite31 commented on #26363
@ganeshrn indeed that pull request solves the issue. If I understood correctly is expected to be merged in 2.4. So, when 2.4 is expected ?

[2017-07-04 18:27] DimmKirr opened #26411 "azure_rm_securitygroup doesn't show idempotent behavior"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`azure_rm_securitygroup`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOS Sierra 10.12.15 -> Azure subscription via subscription_id, tennant_id, client_id, secret.

`Darwin Dmitrys-MBP.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64`

##

[2017-07-04 19:15] sayantandas commented on #24548
@dagwieers I tested with the latest ansible code
[code]
I get the error

`"msg": "A specified parameter was not correct: spec.location.pool"`
The playbook used is given on this bug report https://github.com/ansible/ansible/issues/26237. My vSphere cluster is a HA. vSphere DRS is turned off . vCenter v 6.0.0

[2017-07-04 19:33] jhawkesworth commented on #25278
Dicussed during sprint meeting.
k=v parsing of windows paths needs to be constructed slightly differently from when using yaml style key: value
agreed to document how to construct windows paths in windows intro and a document fragment in modules which have windows paths.

[2017-07-04 19:48] jhawkesworth commented on #23183
discussed at sprint.  believed fixed by #25410 which is still in progress.

[2017-07-04 19:54] jhawkesworth commented on #25302
Discussed at the sprint.  We believe that win_robocopy previously did not report changed: false reliably as certain return codes were not handled.  Once https://github.com/ansible/ansible/pull/25410 has been merged this should be re-tested.

[2017-07-04 20:47] jhawkesworth commented on #26049
reproduced during sprint meeting.
Jordan to create a PR with the fix.

[2017-07-04 20:52] jhawkesworth commented on #20123
Discussed at sprint meeting.
Feeling was this would be a substantial piece of work and needs time setting aside for analysis and prototyping.

[2017-07-04 20:54] jhawkesworth commented on #20123
Also a new implementation of become for windows has recently been merged in 2.4 ansible, which would be another way to solve this issue.

[2017-07-04 20:54] naggie commented on #21513
Thanks for getting back to me and reopening the issue -- it's good to know it's a known thing.

[2017-07-04 21:21] dagwieers commented on #20123
Since this is a new feature request, and there is no plan to add this functionality at this time I am going to mark this issue as:

needs_contributor

[2017-07-04 21:21] jhawkesworth commented on #25516
discussed at windows sprint 1.

sprint plan was to tackle bug fixes, rather than features.

needs_contributor

[2017-07-04 21:31] jborean93 commented on #25393
discussed at windows sprint 1.

We can reproduce the issue and will need to implement a fix accordingly. Due to the time constraints of the sprint we could not do it then. Will need to find time to fix the issue.

needs_contributor

[2017-07-04 21:54] apestov commented on #25802
@resmo Great! That looks consistent now.
Thank you for looking on it.

The only potential issue is that Step 3 is reported as `changed` by ansible while internally yum reports `Package nginx-1.10.3-1.el6.ngx.x86_64 already installed and latest version`  as expected, but I don't think it's an obstacle there.

[code]

[code]

[code]

[2017-07-04 21:54] bearrito commented on #14426
Please comment on the issue above your comment. The mods will respond that this is closed.

[2017-07-04 22:06] dagwieers commented on #26390
@hryamzik Can you provide me with the new error message now ?
It seems as if you are mixing files (plugins/code) from older and newer Ansible versions.

[2017-07-04 22:13] jborean93 commented on #25018
Hey @basictheprogram thanks for attending the sprint, @dagwieers PR https://github.com/ansible/ansible/pull/26417 has been merged into devel and cherry picked to stable-2.3 ready for the next 2.3 release https://github.com/ansible/ansible/commit/69175a50776f2d37710fe61cae734ba6318fb5b4

[2017-07-04 22:18] jhawkesworth commented on #24333
Used the following playbook to try and reproduce this, but found I was able to run git commands straight away after win_chocolatey had completed, even before running setup.
[code]

results were:
[code]

[2017-07-04 22:20] #25393 closed, assigned to nobody

[2017-07-04 22:28] jborean93 commented on #26049
Hey @trigger305 we were able to reproduce the error and merged a PR to fix it. The changes have been merged into devel and have been cherry-picked for the next 2.3 release https://github.com/ansible/ansible/commit/7f5a0715bfb72b85763feb19500133539f9b5abb. You can test the changes locally at any time but this should be fixed.

[2017-07-04 22:34] jborean93 commented on #25393
Hey @maxim0r we have merged a PR that should fix this issue for you. We tested it locally and was able to reproduce and fix it so the module fails on an invalid version. Are you able to try out the latest version on devel to see if it works for you.

[2017-07-04 22:40] jborean93 commented on #26387
Finally got in front of a computer to test it out, I can confirm this works for me on the latest devel and have used it in previous Ansible versions.

[code]

Output (I've manually removed some values for sensitivity issues)
[code]

@dagwieers I'm not sure what the issues have been for you but it definitely works for me.

Edit: removed the `connection: local` from the example as it isn't needed, t

[2017-07-04 22:49] jborean93 commented on #24333
For logged in users there is nothing we can really do unfortunately as that's the way Windows works. This is an issue as there is notify process that can be run that tells a logged in profile to reload the environment. I'm surprised that opening up a new cmd instance doesn't load the new environment variables so I'll have a look and see if I can reproduce it on my end.

For Ansible everytime we ru

[2017-07-05 00:19] dagwieers commented on #26387
@jborean93 Well, people believe `connection: local` is the same as `local_action:` or `delegate_to:`. And this is all very confusing to people. Fact is that `connection: local` behaves as `local_action:` or `delegate_to: localhost` in a homogenuous environment, but as soon as you mix winrm with ssh `connection: local` is mixing up and doing python on Windows or winrm on Linux. The reason for this

[2017-07-05 00:26] dagwieers commented on #24569
This feature request was discussed during Windows Sprint 1, it definitely seems very useful to have as a feature. We are looking for someone willing to implement this.
needs_contributor

[2017-07-05 00:27] dagwieers commented on #24494
This issue was discussed during Windows Spring 1 and it was decided that @dagwieers will implement option 2.

[2017-07-05 00:36] dagwieers commented on #22892
Ok, so I cannot reproduce this exact issue because I only have Windows 10 systems here.
It simply results in an OK :-)
needs_info

[2017-07-05 00:37] dagwieers commented on #21886
This feature request was discussed during Windows Sprint 1, it definitely seems very useful to have as a feature.

@ptemplier I noticed you have some changes in your own repository. Do you care to contribute it back ?

[2017-07-05 00:53] dagwieers commented on #21873
@basictheprogram So I guess we can close this issue then ?

[2017-07-05 00:57] dagwieers commented on #19725
This feature request was discussed during Windows Sprint 1, it definitely seems very useful to have as a feature. We are looking for someone willing to implement this and seems quite easy to do.

needs_contributor

[2017-07-05 01:15] jborean93 commented on #22892
While I can't reproduce the error @basictheprogram has on the latest devel version I am still getting another error. This is the playbook I am using and am running on a Server 2012 on PS 4.

[code]

The error I am receiving
[code]

I'll need to look at it more but honestly I wouldn't be suprised if it will always fail due to to the reliance WinRM has on WMF and Powershell.

[2017-07-05 01:20] dagwieers commented on #21538
@mvleandro If you don't provide feedback, we will be closing this issue shortly.

[2017-07-05 01:24] dagwieers commented on #25516
Rather than allowing for additional arbitrary options, I would rather add parameters for those options that make sense to use with **win_chocolatey**. So that we can control whether these are added to install, upgrade or uninstall commands. And to ensure they don't cause expected failures we get support tickets for.

[2017-07-05 03:18] mmahajan-qasource commented on #26315
The module is `backup`  which we use to take backup before change in any file
Example: `lineinfile: dest={{item}} state=absent regexp='TLSv1' **backup=yes**`
Here we are removing TLSv1 line from Nginx file but before removing we want to take backup of file using `backup=yes`, but the issue is that if we do backup=yes it changes the timestamp of the file which is the problem for me. I don't want ti

[2017-07-05 03:33] basictheprogram commented on #25018
I can confirm ansible devel  is working as expected.  Thanks for the merge.

$ ansible --version
ansible 2.4.0 (devel 318f369969) last updated 2017/07/04 22:05:53 (GMT -500)
  config file = None
  configured module search path = [u'/Users/tanner/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Users/tanner/projects/ansible.git/ansible/lib/ansibl

[2017-07-05 03:34] basictheprogram commented on #22892
I do not have access to Windows Server (American holiday today). I'll double check it tomorrow.

[2017-07-05 03:53] jborean93 commented on #25018
No worries thanks for the confirmation, will close the issue.

[2017-07-05 03:53] #25018 closed, assigned to nobody

[2017-07-05 06:21] stephan2012 commented on #25497
Although I cannot really reproduce the issue it seems to be a conflict between rpm and pip provided requests/urllib3 versions. However, finally the vmware_guest module works so I'm closing this issue.

[code]

[code]

[2017-07-05 06:21] #25497 closed, assigned to nobody

[2017-07-05 06:24] shitalm commented on #14655
Has this been fixed yet?

[2017-07-05 06:30] marvin-sinister opened #26419 "Allow permission changes in file module with path and without specifying src"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
file module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS7 host, to CentOS7 or AIX target.

##### SUMMARY

When trying to change permissions with file module, both src nad path need to be specified for hardlinks

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

File permissions to change
##### AC

[2017-07-05 06:43] stephan2012 opened #26420 "Allow adding virtual disks to a VM using module vmware_guest"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
(default)

##### OS / ENVIRONMENT
Red Hat Enterprise Linux 7.3, VMware vSphere 6.5d

##### SUMMARY
Cannot add a virtual disk using the vmware_guest module.

##### EXPECTED RESULTS
Looks like the vmware_guest module currently cannot add disks to an existing virtual machine. I'd re

[2017-07-05 07:39] parberge commented on #26398
What's strange to me are these lines in the output:
``` Line has invalid autocommand ```
Is the user `sisco` a local user, or is it provided by some other means (LDAP, radius etc)

Also, could you please provide the  output from `lsb_release -a` on `172.1.1.2`

[2017-07-05 07:58] silverwind opened #26424 "ansible_virtualization_type on CloudLinux OS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
facts

##### ANSIBLE VERSION
[code]

##### SUMMARY
[This code](https://github.com/ansible/ansible/blob/e7deb07a87ea17881bef8d55890531a7f34f7d8e/lib/ansible/module_utils/facts/virtual/linux.py#L58-L64) tests for `/proc/vz` and sets `ansible_virtualization_type` to `openvz` when it exists.

The CloudLinux Distribution is actually not an OpenVZ sys

[2017-07-05 09:14] thmshmm opened #26425 "Unexpected behaviour with difference filter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Filter: difference

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The "difference" filter documentation states that it returns "items in 1 that don’t exist in 2". This is true, but if there are two or more equal objects in list 1 the equal items are contained only once in the result list.

#####

[2017-07-05 09:24] narankhetani commented on #26358
Hello,

Im still seeing the same issue:

[code]

[2017-07-05 10:09] edvinaskairys commented on #26398
the user cisco is a local user, and 172.1.1.2 is a cisco device (emulated on GNS3) i dont think that a cicso would take the lsb_release -a command. Or i need to do that on the centos system ?

Thanks

[2017-07-05 10:18] parberge commented on #26398
Then I'm confused since the title of the issue mentions CentOS.

I have no experience with "cisco devices" and I don't know if they are manageable with ansible.

Also, look at updating the issue according to the template (https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md) as this helps other trying to help you

[2017-07-05 10:33] ganeshrn commented on #26358
@narankhetani  That's strange, for me same playbook is working fine.

Can you please re-verify with below change in the playbook
[code]

[2017-07-05 11:16] haeringer commented on #24411
I had the same error appearing out of nowhere, which means it happened on one single device out of 50 after nothing was changed neither on the device nor in the playbook. After a few playbook runs, it just disappeared.

While this is not especially helpful to solve the issue, it shows that the error can appear regardless of any config mistakes or not being in enable mode as mentioned above.

[2017-07-05 11:45] ptemplier commented on #21886
Everything is already in the pull request https://github.com/ansible/ansible/pull/22515

[2017-07-05 12:01] dagwieers commented on #21886
@ptemplier I did not know there was PR. Please add in the description of this PR something like: `This fixes #21886`

This way there is a direct reference from this issue to the PR, this will help us evaluate the issue and the PR as one. Thanks !

[2017-07-05 12:07] artburkart commented on #14655
I believe it was ruled as expected behavior because `ansible_env.PATH` is set at a later time now.

[2017-07-05 12:10] aioue opened #26428 "ec2_elb_lb does not support check mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ec2_elb_lb

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

`ec2_elb_lb` module does not support check mode, making safe 'dry-run' testing impossible.

##### STEPS TO REPRODUCE

Run an ELB task using the `--check` command line switch, or `check_mode: yes` task modifier.

[code]

##### EXPECTED RESUL

[2017-07-05 12:13] ptemplier commented on #21886
I resynched the pull request and resolved the conflicts (which appeared after the pull request was made).
I also linked the issue from the pull request.
Everything should be ok for integrating/reviewing the pull request.

[2017-07-05 12:23] hryamzik commented on #26387
I believe `delegate_to: localhost` requires localhost to be defined in inventory while `local_action` works without any extra steps, so it seemt o be a better option. However it requires task changes and I'm really confused that it's not the same as `connection: local`.

P.S. not sure if there's any reason to keep this opened, module is fine, that's definitely an ansible design/documentation issue

[2017-07-05 12:24] dagwieers commented on #21886
If you want to speed up the process, you can bring it up at the next Windows meeting by adding it to the meetings agenda here: https://github.com/ansible/community/issues?q=is:open+label:meeting_agenda+label:windows

We are organizing ourselves a bit better than before in the Windows Working Group, more info at:
https://github.com/ansible/community/tree/master/group-windows

Bear with us while we

[2017-07-05 12:24] dagwieers commented on #26387
`localhost` is implicitly in your inventory. It works even when not defined.

[2017-07-05 12:25] kwach commented on #18563
+1

[2017-07-05 12:26] hryamzik commented on #26387
Wow, that's good news, it didn't work this way a year or two ago. Thanks!

[2017-07-05 12:26] #26387 closed, assigned to nobody

[2017-07-05 12:28] berlic commented on #24295
`meta: clear_facts` doesn't work at all with `ansible 2.3.1.0` and current `devel`.

There is a bug in strategy base class fixed in PR #26406 (solving #26405).

But even with that fix, [clear_facts](https://github.com/ansible/ansible/blob/v2.3.1.0-1/lib/ansible/vars/__init__.py#L659) doesn't clear `_nonpersistent_fact_cache` (populated by `set_fact`).
Is this by design? This give us unexpected beh

[2017-07-05 12:30] #17344 closed, assigned to emonty, Shrews

[2017-07-05 12:30] lucabelluccini opened #26429 "Cannot run /etc/init.d/script containing chroot"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Command/Shell/Raw

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
CentOS 7 on local, RedHat 6.7 on remote

##### SUMMARY
Running ```sudo /etc/init.d/kibana start```

##### STEPS TO REPRODUCE
Tried several variants of the following, all returning 0 but the service doesn't run.

[code]

The kibana service script is

[2017-07-05 12:44] hryamzik commented on #26390
Current config, looks like some variables shouldn't make any sense at all =)
[code]

Results:

[code]

[2017-07-05 12:54] dagwieers commented on #26390
Ok, I think I know what's going on now. First of all, you are probably still using option `upgrade=yes` rather than `state=latest`. If you change that in your playbook, the error will be gone.

But there is a deeper problem with Add-DeprecationWarning and how it is used in **win_chocolatey**.

[2017-07-05 13:00] hryamzik commented on #26390
Tried with `latest`, well...

[code]

Is there anything else I'm missing?

[2017-07-05 13:01] dagwieers commented on #1534
@grealish We now have a **profile_tasks**, **profile_roles** and **timer** callback plugin in Ansible.
- profile_tasks: *This callback module provides per-task timing, ongoing playbook elapsed time and ordered list of top 20 longest running tasks at end.*
- profile_roles: *This callback module provides profiling for ansible roles.*
- timer: *This callback module tells you how long your plays ran f

[2017-07-05 13:16] infrascripting commented on #26364
If you're asking if `allow_duplicates: yes` is in `roles/preinstall/meta/main.yml`, then the answer is yes.

##### EDIT:

I tested this in `2.2.1`, and I got the same results using that version.

Also same results using `2.1-stable`, which has been [confirmed working](https://github.com/ansible/ansible/issues/16044#issuecomment-248428084). So something's wrong with my config somewhere.

[2017-07-05 13:20] kayrus commented on #18965
I use ansible 2.3.1 and it still doesn't work:

[code]

[2017-07-05 13:31] nmulvihill commented on #25516
There are over 50 flags for installations alone. I don't think it is realistic to have parameters for each flag for each operation... If it fails it is on the user for an incorrect flag.

[2017-07-05 13:45] dagwieers commented on #26387
Some information from @bcoca shedding some light on this issue at: https://github.com/ansible/ansible/issues/16724#issuecomment-259989010

This relates to https://github.com/ansible/ansible/issues/24076

[2017-07-05 13:50] narankhetani commented on #26358
yeap still not working:

[code]
This also fails with the same error:
[code]

and this works:
[code]

[2017-07-05 13:52] asouchang commented on #23023
Same issue here. I can confirm this defeat is not fixed in the latest 2.3.1.0 release.
It seems that `delegate_facts` is broken from 2.2.1.0 to 2.3.1.0. My workaround is downgrading to 2.2.0.0. It is the latest version which this function works.

[2017-07-05 13:57] aioue opened #26431 "null values in ec2_group cause failures with no message"
null `group_id` or `cidr_ip` in `rules` list causes task failure with no explanation message.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Using latest devel version of ec2_group

https://github.com/ansible/ansible/blob/e9447e9481c6a1677f7276ccdeed986f47b588aa/lib/ansible/modules/cloud/amazon/ec2_grou

[2017-07-05 13:58] aioue commented on #26291
Opened new issue following this change: https://github.com/ansible/ansible/issues/26431

[2017-07-05 14:04] chrisvire commented on #24333
@dagwieers, sorry I can't join the sprint.

@jhawkesworth, If I run a admin shell, then it works fine (programs are on the PATH).  The issue is with the logged in user.  This affects both PATH and fonts that are available.

I haven't tried this yet: "you could run the setup module again and then do a win_reboot with a when: clause to check if ansible_reboot_pending is true."  I now have other high

[2017-07-05 14:17] ganeshrn commented on #26358
What is the `junos` version running on the device?

Only display option mentioned after pipe `|` is considered, all other options after `|` are ignored.

[2017-07-05 14:20] infrascripting commented on #26364
Reopening due to further testing:

The following line is executed in `roles/preinstall/tasks/main.yml`:

[code]

When put both **before** and **after** the `include: "{{ ansible_pkg_mgr }}.yml"` task. _However_ it appears that ansible skips the `include`.

This is strange considering there is no conditional statement for those tasks, and if placed first in the list of roles (in the playbook) it is

[2017-07-05 14:20] silvinux commented on #25522
@kevensen thanks, works OK, but I found another bug. Trying to change a parameter in a type, will be modified another one. and just keep two arguments modules. Thanks in advance,

play
[code]

--- Origial file ---
[code]

--- Modified file ---
[code]

[2017-07-05 14:26] jebabin opened #26432 "ios_command: unable to open shell | failed to connect to control socket"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
host_key_checking = False

##### OS / ENVIRONMENT
Ansible running on SUSE 11 SP4
Target Cisco IOS (issue seems version independent)

##### SUMMARY
ios_command is not working when used with with_items:

##### STEPS TO REPRODUCE
Run the following playbook on an IOS device (Switch or R

[2017-07-05 14:34] avoidik commented on #18305
2.2.2.0 is also affected and also via bastion

problematic task:
[code]

script itself
[code]

when I run it manually everything is okay

[2017-07-05 14:36] benagricola opened #26433 "junos_config: confirming previous commit not possible"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible documentation (https://docs.ansible.com/ansible/junos_config_module.html) states that it is possible to commit a previously commit-confirmed commit by passing no arguments to `junos_config`:

[code]

However, this is not the ca

[2017-07-05 14:49] narankhetani commented on #26358
its a mx104 running 14.2R5.8, any idea how to get matched config if we cannot use pipe?

[2017-07-05 14:53] gardner commented on #13243
We needed a solution for storing root secrets vs deploy secrets (aka provision vs deploy permissions). We use ansible vault for deploy secrets which is our most common use case. We use `pass`  lookups for root secrets. This means that most engineers do not need to manage gpg2 keys unless they are standing up new servers or baking new images.

[2017-07-05 14:58] dagwieers commented on #25516
@nmulvihill We don't necessarily need a parameter for each flag. Sensible choices can be made.

We have experience with modules that doe have `extra_opts` and in every case we have regretted this decision afterwards.

[2017-07-05 15:07] gundalow commented on #26398
If you are talking to Cisco switches or routers then you need to use the `ios_`, `iosxr_` or `nxos_` modules listed on http://docs.ansible.com/ansible/list_of_network_modules.html

[2017-07-05 15:07] dagwieers commented on #26390
I think your chocolatey is too old :-( And unfortunately you cannot update it with **win_chocolatey**, because it is too old... It's so old it doesn't understand `--exact`.

[2017-07-05 15:07] ganeshrn commented on #26358
As per doc [here](https://www.juniper.net/documentation/en_US/junos/topics/reference/tag-summary/junos-xml-protocol-get-configuration.html) fetching configuration in `set` format is supported from `15.1` onwards.

I will add a check and throw an appropriate error if the device does not support `set` format.

You can apply ansible filter eg. `contains` `eq` etc to match the output of the command.

[2017-07-05 15:17] lucabelluccini commented on #26429
I solved with

[code]

Explicitly adding the become_user and using service module solves the issue.

[2017-07-05 15:17] #26429 closed, assigned to nobody

[2017-07-05 15:31] narankhetani commented on #26358
ah I see okay well that explains that.

[2017-07-05 16:01] philsch commented on #26278
The cause of the error is that in Python3 `fdopen` is now a wrapper of the built-in `open` function which has a feature called "universal newlines" ([see docs](https://docs.python.org/3.6/library/functions.html#open)) This seems to prevent the stdin process to exit.

Changing `/lib/ansible/plugins/action/pause.py` line 152 to check for `\n` and `\r` does not solve the problem. Then still two press

[2017-07-05 16:05] #26155 closed, assigned to nobody

[2017-07-05 16:50] #25501 closed, assigned to nobody

[2017-07-05 17:29] nitzmahone commented on #26385
It should work if you run the task under `become_method: runas`- I've been considering how to support hotfix installation in general... We could do more shenanigans with scheduled tasks, make a scheduled_task runas method, or bake that all into the module (detect if we're running under an interactive session via become, and if not, use a scheduled task).

[2017-07-05 17:52] dmizelle commented on #18748
it appears that with an inventory like:
[code]
You can avoid the looping by setting the `include_role` as static:
[code]

I don't really understand _why_ this fixes it, but it stopped us from looping in our setup. It may be related to the fact that setting an include as static doesn't allow you to loop on it with things like `with_items`, etc.

[2017-07-05 18:01] phil-hildebrand commented on #21562
I also have this issue with 2.3, but I was not able to get the workarounds to work for me.

Reverting to 2.2.0 did fix the issue, however.

[2017-07-05 18:10] bcoca commented on #26389
For many people this would be an unwanted warning, the task is doing exactly what you ask of it.

The become_user can be changing the default (root) for the cases in which you set become by host (mixed environments) w/o forcing hosts that do not require it to also use it.

We agree, it makes less sense in homogeneous environments, but we would not want to penalize those that are in a different sit

[2017-07-05 18:19] DimmKirr commented on #26411
I really would like someone to confirm issue / confirm user error for this one.
I have some suspicion that that could be related to azure sdk version freeze (pip has `2.0.0` released, which doesn't seem to be compatible with `2.0.0rc5`)

[2017-07-05 18:45] newswangerd opened #26447 "ios-csr1000v TypeError in ios_config.py/connection.py"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ios_config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Cisco IOS CSR 1000v

##### SUMMARY

Connection.py throws a TypeError when running the ios_config integration tests located at: `test/integration/targets/ios_config/tests/cli/backup.yaml`

##### STEPS TO REPRODUCE

Network device: Cisco IOS XE Software,

[2017-07-05 18:50] bcoca commented on #26364
there was a bug in which inherited conditionals stopped working after includes, that might be your issue here.

[2017-07-05 19:11] kishore-vkrn commented on #276
Uninstalling pycrypto gave me issues, simply installed specific version of PyCrypto
`pip install PyCrypto==2.3`

refer: [Stackoverflow](https://stackoverflow.com/questions/22941029/python-fabric-error-module-object-has-no-attribute-have-decl-mpz-powm-sec)

[2017-07-05 19:24] bcoca commented on #26394
I cannot really understand the issue, but you are doing something that looks wrong:
``` {{ lookup('hashi_vault', 'secret/{{ mysec }}/pswd/one') }}```

you should not need to stack `{{}}` inside `{{}}`
correct way:
``` lookup('hashi_vault', 'secret/' + mysec + '/pswd/one') }}```

The problem seems unrelated to git/jenkins, you need to show your variable definitions and how/where you use them.

[2017-07-05 19:24] bcoca commented on #26394
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-05 19:24] #26394 closed, assigned to nobody

[2017-07-05 19:25] abadger commented on #26394
When you post to the mailing list, please provide sample playbooks so that the community is able to see what you're actually attempting to do and provide feedback on how to make it work.

[2017-07-05 19:29] CFSworks commented on #26385
That's awesome about the automatic installation @dagwieers - apparently I just missed that in the documentation.

At a bare minimum it might be a good idea to react to rc=0x5 and use a clearer msg - like `Error installing kb3033929 - Chocolatey reports 'Access denied'. Make sure you're running this task as a system administrator. It's also possible that the Chocolatey package is attempting to inst

[2017-07-05 20:08] nwsparks opened #26454 "win_update state parameter not working. Also installing updates when running in check mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /opt/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Sep  1 2016, 22:14:00) [GCC 4.8.3 20140911 (Red Hat 4.8.3-9)]

##### CONFIGURATION
Default except for .retry turned off

##### OS / ENVIRONMENT
Amazon Linux runnin

[2017-07-05 20:08] bcoca commented on #24295
@berlic  it is only intended to remove gathered facts, like the cache plugin it does not affect `set_fact`.

[2017-07-05 20:14] hryamzik commented on #26390
What version is required? I always run [this tool](https://github.com/win-ansible/goansible/) on new hosts so I can add choco version check to it.

[2017-07-05 20:19] dagwieers commented on #26390
0.9.10 according to changelog.

[2017-07-05 20:19] bcoca commented on #26315
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is expected, it reflects the time at which the backup was made, this is how the backup function is supposed to work.

You can use

[2017-07-05 20:19] #26315 closed, assigned to nobody

[2017-07-05 20:41] bcoca commented on #26425
It is one of the 'set' operators, sets are unique by nature.

[2017-07-05 20:42] hryamzik commented on #26390
Yep, mine is 0.9.9.12, here's a workaround:

[code]

Thanks!

[2017-07-05 20:48] #26390 closed, assigned to nobody

[2017-07-05 21:28] GoverningCloud commented on #20492
ansible 2.3.0.0
python version = 2.7.13

$ pip list | grep docker
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
docker (2.4.2)
docker-compose (1.14.0)
docker-pycreds (0.2.1)
dockerpty (0.4.1)

Error: FAILED! => {"changed": false, "fa

[2017-07-05 21:36] rockpunk commented on #20196
Hey guys, here's another reason for the broken pipe error. Maybe it helps some of the can't reproduce problems above?

In my case, it boiled down to using passwords with special characters. Ansible is trying to be smart and quote passwords before sending it off to mysql, unfortunately mysql assumes the quotes are part of the password.

Basically, mysql_db module is doing:
[code]
So, when the passw

[2017-07-05 21:45] ErisDS commented on #14055
I'm getting this error when running `ansible-vault encrypt vault.yml` where the vault.yml file is empty.

ansible 2.3.0.0
Python 2.7.13

Adding a comment to the file is a workaround.

[2017-07-05 22:19] abadger commented on #26397
The template lookup does this:
[code]

whereas the template action plugin does this:
[code]

The difference in escape_backslashes is the problem here.  escape_backslashes was added to the template action plugin due to #12198.  I believe the right fix is to add the same thing (escape_backslashes=False) to the lookup plugin.

@bcoca, @jimi-c opinions from you?

[2017-07-05 22:30] mscherer commented on #21439
So, as I did needed that, but the code of firewalld module was a bit too complex to undertand fast (and  needed the feature for another task), I did wrote a separate module:  https://github.com/gluster/gluster.org_ansible_configuration/tree/master/roles/firewalld_direct/library

It is not much documented or anything (yet), but feel free to use that code to add the feature

[2017-07-05 22:34] nitzmahone commented on #25298
Been flogging this all day today, and my test box has magically returned to a working state, even when I revert to the snapshot I made when it was broken. :rage: It almost seems like the Task Scheduler was just wedged- the task would get created and just sit at `Queued` - if I manually started it via the Task Scheduler UI, the module would complete normally. Working flawlessly again now though...

[2017-07-05 22:35] lconnell opened #26463 "Ansible 2.3.1 breaks include_role variables"
This code is now broken on 2.3.1. This was working fine on 2.3.0. It is complaining that **token** is not defined.

[code]

## shared.slack Role
[code]

[2017-07-05 22:40] abadger commented on #26402
The examples here should be rewritten as string addition instead:
[code]

If you need more help feel free to contact us on irc or the mailing list.  I'll paste the information for those below:

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to

[2017-07-05 22:40] #26402 closed, assigned to nobody

[2017-07-05 22:45] abadger commented on #26408
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-05 22:45] #26408 closed, assigned to nobody

[2017-07-05 22:45] abadger commented on #26409
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-05 22:45] #26409 closed, assigned to nobody

[2017-07-05 22:57] abadger commented on #26425
Going to go ahead and close this as it is working as expected.  I'll link to the mailing list and irc channel in case you need more help.

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC:

[2017-07-05 22:57] #26425 closed, assigned to nobody

[2017-07-05 23:20] #26405 closed, assigned to nobody

[2017-07-05 23:24] nitzmahone commented on #26454
Already fixed by https://github.com/ansible/ansible/commit/69de9d86bdd932b49d2f2fbc8238cd2cf66ef6cc and cherry-picked for 2.3.2 RC2.

[2017-07-05 23:24] #26454 closed, assigned to nobody

[2017-07-05 23:27] mattclay opened #26467 "Truncate long ansible-test commands in bot output."
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The error messages ansible-test generates for the bot can sometimes contain very long commands:

Example: https://github.com/ansible/ansible/pull/26015#issuecomment-310411733

This causes problems for search results due to the pres

[2017-07-05 23:39] #26397 closed, assigned to nobody

[2017-07-05 23:50] abadger commented on #26463
/cc bcoca

[2017-07-06 00:11] nitzmahone commented on #25298
Can someone else who's still seeing this problem go refresh their Task Scheduler view on the Microsoft\Windows\PowerShell\ScheduledJobs view while running this Ansible task, and check to see what the "Status" column says on the ansible-win-updates job when running this? Also, anything you can show me under the History tab of that same view would be useful (you might have to turn on All Tasks Histo

[2017-07-06 00:21] mwinter-osr commented on #24228
Similar issue but with a low ulimit and high network interface count (830 interfaces).
This is on CentOS 7 server with KVM (and extensive local networking between VMs)
(Ansible Server is 2.3.0.0-1ppa on Ubuntu 16.04LTS)

Total time in setup in `TASK [Gathering Facts]` is over 4mins on this server

    # ulimit -n
    1024

- hardware:
real	0m3.355s
user	0m2.316s
sys	0m0.408s
- network:
real	4m38.3

[2017-07-06 01:26] jborean93 commented on #19213
Hey @chrwen-omicron I've raised a PR to fix this issue here https://github.com/ansible/ansible/pull/26468. If you get some time please give it a test and let us know on the PR page if it works for you. I've manually tested it with that PR and can confirm it doesn't report a change on the 2nd time round.

Test Playbook
[code]

Test Output
[code]

[2017-07-06 01:34] jborean93 commented on #18883
Hey @jmighion I'm unsure if this is still an issue for you but I've just raised a PR at https://github.com/ansible/ansible/pull/26468 which definitely fixes the issue for you. Unfortunately I don't want to add another check that will format the data when using multistring by `\0` when yaml already has a mechanism for this. I've tested it out with some results below.

Playbook
[code]

Output
[code]

[2017-07-06 01:42] bcoca commented on #26463
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

That was not a supported feature in `include_role`, the task's `vars:` keyword is the correct way to pass variables to the role.

In th

[2017-07-06 01:52] jmighion commented on #18883
Sorry, I am not in a position to test this anymore. I don't have easy access to Windows hosts and not enough free time to spin up VMs to give a solid test.

[2017-07-06 01:57] jborean93 commented on #18880
Hey @jmighion, in the current rewrite for win_regedit https://github.com/ansible/ansible/pull/26468 I can confirm that checking binary values is idempotent. My testing details are below

Playbook:
[code]

Output:
[code]

Registry
![image](https://user-images.githubusercontent.com/8462645/27892309-45c44c94-6242-11e7-856d-a77f3831b556.png)

It would be great if you could test out the PR and post you

[2017-07-06 02:13] jborean93 commented on #18883
no worries, I'm pretty confident it is covered in the PR and the new test suite. I'll come back and close the issue once it is merged.

[2017-07-06 02:22] pablodav commented on #25298
I haven't got timeout anymore (after the patch suggested), but use to get some access denied or some other worse behaviour:

Some times the windows update doesn't recognizes there are updates, even when trying manually the function and with simpler search criteria:

[code]

there are some challenges in my environment: like we use wsus central server and there is no direct access to internet (only

[2017-07-06 03:35] woshihaoren opened #26472 "New module: vmware_host_facts"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Setup module  can  get  linux system info.
But for vmware host. Doesn't have a module to get it.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-06 03:36] lconnell commented on #26463
Thank you for catching that :)

[2017-07-06 03:41] Akasurde commented on #26472
+label vmware

[2017-07-06 04:05] r66wen commented on #9862
still not fixed in ansible 2.3.0.0

[2017-07-06 07:42] syntech-pro commented on #25393
Many thanks! I tested locally, it works with the `upgrade` option (deprecated since version 2.3)

[2017-07-06 08:04] antoinetran commented on #20492
For people lazy to read every post here:
Since ansible 2.3, the dependency issue docker-py is fixed:

- if you use the default python 2.7, the docker module needs docker-py

- if you use python 3 (`-e 'ansible_python_interpreter=/usr/bin/python3'` ), it needs docker instead of docker-py
in all case, clean by `pip uninstall docker docker-py docker-compose`
reinstall
`pip install docker-compose`

[2017-07-06 08:50] piccoloaiutante commented on #19893
@ChenXiaoTemp your suggestion solves this same situation on my laptop

[2017-07-06 09:03] dagwieers commented on #25393
@syntech-pro The `upgrade: yes` parameter is deprecated and replaced by `state=latest` to conform to standard practices.

[2017-07-06 09:38] Akasurde commented on #26424
@silverwind Thanks for reporting this issue.

Is it ok to have -

```"ansible_virtualization_type": "cloudlinuxos", ```

[2017-07-06 09:45] sm4rk0 commented on #24300
Wouldn't it be useful to see paths the plugin/module looked, with -vvvvv? That would hint the developer if they made wrong assumption.

[2017-07-06 10:08] idsvandermolen opened #26480 "bug in _evaluate_patterns"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory manager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS Sierra 10.12.5

##### SUMMARY

There's a bug in _evaluate_patterns method. It checks for existence of pattern in `self._hosts_cache` 2.3.1.0) or `self._inventory.hosts` (https://github.com/ansible/ansible/blob/392934f1b9cf85672be927a63bfb8702dca3

[2017-07-06 11:29] dagwieers commented on #25278
We are working on updated documentation, which is currently available from:
https://github.com/ansible/community/wiki/Windows:-documentation-updates#windows-paths

This will be integrated in the future Windows documentation. So this issue can now be closed.

[2017-07-06 11:29] #25278 closed, assigned to nobody

[2017-07-06 12:20] mangelajo commented on #23680
@wbond @abadger on centos7 / rhel7 there's no py3.5 yet, only py3.4, or is there a way to have supported py3.5 ?

[2017-07-06 12:23] wbond commented on #23680
@mangelajo Unfortunately I don't use those distros. Perhaps one of the third-party RPM repos may have it?

[2017-07-06 12:45] dagwieers commented on #25298
@pablodav You can join one of our [weekly Windows Working Group meeting](https://github.com/ansible/community/tree/master/group-windows) to discuss your plans with the other developers in the community. Just add your topic to the Meeting Agenda and join the meeting !

[2017-07-06 12:58] infrascripting commented on #26364
It seems like @jimi-c added several commits referencing a similar issue specifically targeting `include_role`: https://github.com/ansible/ansible/issues/25136#ref-commit-eeaa676 Would that be applicable here as well?

[2017-07-06 13:15] Freyert commented on #15019
I was having this same problem, but with `netaddr`.

Ansible was using some absolutely random python version installed on my machine:

[code]

I then just used the `/usr/local/opt/python/bin/python2.7 -m pip install netaddr` trick to get it installed.

I'm wondering if python environment variables such as PYTHON_HOME and PYTHON_PATH would help this issue, but I don't know too much about them.

[2017-07-06 13:53] silverwind commented on #26424
I think `"NA"` might be more correct for both `ansible_virtualization_role` and `ansible_virtualization_type`.

CloudLinux does per-user virtualization and the other possible values for this field (`"lxd"`, `"vmware"`, etc.) seem to be orientated towards machine virtualization. The underlying technology for this is LVE, so `"lve"` is also a possibilty, but as I said, it's not really machine virtua

[2017-07-06 14:03] mschuchard commented on #15948
Bug still present in 2.3.1.

[2017-07-06 14:04] Geethree opened #26485 "Ansible adhoc windows module failure with inventories in subdirectories"
- Bug Report

##### COMPONENT NAME
windows module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
[code]

##### STEPS TO REPRODUCE

`test_dir/playbook.yml`
[code]
`adhoc-1`
[code]
`adhoc-2`
[code]
`playbook-1`
[code]

##### EXPECTED RESULTS
`adhoc-1 & adhoc-2`
[code]
`playbook-1`
[code]

##### ACTUAL RESULTS

adhoc-2 and playbook match expected results.

`

[2017-07-06 14:08] jwbensley opened #26486 "Module: virt_net is not idempotent (throws error when changed=False)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- virt_net

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Non-standard Ansible config:
[code]

##### OS / ENVIRONMENT
Ansible host:
[code]

Target system running KVM:
[code]

##### SUMMARY
I am trying to ensure that all network pools are started in KVM on the target system, if the network pool is already started the `virt_net` module should

[2017-07-06 14:09] Geethree commented on #26485
[code]
[code]

[code]
[code]

[2017-07-06 14:12] Geethree commented on #26485
Actually the last one fails regardless of if the inventory file is in a subdirectory or not.
[code]
[code]

[2017-07-06 14:54] maxamillion commented on #21439
@mscherer thanks! I'll add that to the firewalld module as soon as I'm done getting the recent [refactor work](https://github.com/ansible/ansible/pull/26487) merged (which will hopefully make it easier to contribute to).

[2017-07-06 14:57] wolfthefallen opened #26489 "error with using digital_ocean_tag with ansible running with python3"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
digital_ocean_tag

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY
When running ansible version 2.3.10 installed with `python3 -m pip install ansbile` does not convert the json request to string prior to sending the create tag request to digital ocean.

##### STEPS TO REPRODUCE

[code]

##### EXP

[2017-07-06 15:01] Hravn commented on #21152
In line 307 "diff = get_sudorule_diff(client, ipa_sudorule, module_sudorule)"  need remove "client".
"diff = get_sudorule_diff(ipa_sudorule, module_sudorule)" - it work.

[2017-07-06 15:31] narankhetani commented on #26358
im having the same issue now with an mx480 the same commands work on the mx104, see my commands below:
[code]
Get the following error:
[code]

Both running the same version of junos: 14.2R5.8

[2017-07-06 15:57] peterkuiper commented on #25218
@TomLous thanks you saved the day!

[2017-07-06 16:26] Sec42 opened #26493 "Ansible hangs indefinitely on password age prompt"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

ansible will hang indefinitely on hosts that require a password change on connect

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

ansible exits with a failure

##### ACTUAL RESULTS

ansible hangs forever

[code]

If I ssh manually to the host I g

[2017-07-06 16:38] ganeshrn commented on #26358
@narankhetani  Are all the commands mentioned in playbook running successfully on your device?
You can log in and try to run the command manually.

[2017-07-06 16:40] edvinaskairys commented on #26398
hmz, i thinki dont need any specified module for just running an ansible ping. Please reopen

[2017-07-06 17:13] mdawar commented on #4265
Since Ansible's documentation is hosted on readthedocs.org you can go to the downloads page https://readthedocs.org/projects/ansible/downloads/ and download the docs in pdf, html or epub.
**Update**: download the **latest PDF** not the **stable PDF**.

[2017-07-06 17:17] evrardjp opened #26494 "python3 - Intersect filter change in behavior (docs + code)"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
 intersect filter

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Nothing special

##### OS / ENVIRONMENT
I am currently running ArchLinux, but same behavior caught with Ubuntu Xenial.
Different behavior with python3 and python2.

##### SUMMARY
First, the documentation about filters says ([1]) ``All these functions ret

[2017-07-06 17:23] hslabbert commented on #25507
Add me to the chorus:

[code]

Ansible version:

[code]

Currently on commit 10233ef3b50c8212b2c28d9972a9cde2b136adfb.

[2017-07-06 18:07] nitzmahone commented on #26480
Can you include a small sample playbook and inventory that exhibits the behavior? As I'm understanding it, I'm not able to reproduce the problem on 2.3.1. We'll need to see exactly what you're trying to do.

[2017-07-06 18:22] nitzmahone commented on #26485
Can you describe the entire directory tree with placement of group_vars dirs and playbooks? Also (not that it should matter here), you should probably start using the Ansible 2.x versions of the connection vars (eg `ansible_host/ansible_port/ansible_user/ansible_password`)- fewer moving parts, and we'll probably end up deprecating the old versions at some point...

[2017-07-06 18:50] idsvandermolen commented on #26480
I haven't been able to narrow it down to a reproducible playbook yet, it appears in our company playbooks. Basically we have something like this:
hosts:
[code]
base.yml:
[code]
playbook.yml:
[code]
NOTE: missinghost is NOT in the hosts file, and above playbooks do not reproduce the issue.
We would get the exception when we ran the playbook like this:
`ansible-playbook playbook.yml -i hosts -l host

[2017-07-06 19:10] jmcleroy opened #26497 "nx_os portchannel not removing portchannel when set to absent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
nxos_portchannel state==absent failing to remove portchannel

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Base ansible.cfg when installing from Ansible Tower bundled package

##### OS / ENVIRONMENT

Rhel 7.3 is the base OS and NX-OSV 9000 7.0.3.|5.1 as well as physical devices.

##### SUMMARY

When using absent in the nxos_portchannel m

[2017-07-06 19:14] krzysztof-magosa commented on #26190
Would be also good if 'ansible-vault view' worked for such files.

[2017-07-06 20:15] rmfitzpatrick commented on #26305
Thanks, @abadger, I was able to get this to work w/ https://github.com/ansible/ansible/pull/26500

[code]

[2017-07-06 21:33] samdoran commented on #26493
This fails with an error, as desired, on Ansible 2.3.1. Please update to a newer version of Ansible.

[2017-07-06 21:33] #26493 closed, assigned to nobody

[2017-07-06 22:05] ei-grad opened #26503 "Gather facts from hosts specified in play, whatever --limit has been passed to ansible-playbook, in reasonable time"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
delegated_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The [documentation](http://docs.ansible.com/ansible/playbooks_delegation.html#delegated-facts) mentions delegated facts as a silver bullet for `--limit` problem (it is not possible to get facts from all hosts while running the pla

[2017-07-06 22:28] rockpunk commented on #20196
Submitted PR #26504 for this.

[2017-07-06 22:32] gundalow commented on #26398
The ping module
http://docs.ansible.com/ansible/ping_module.html

Generally network devices don't support running Python so this is why `ping` will fail.

[2017-07-07 02:21] #26278 closed, assigned to nobody

[2017-07-07 05:12] lmilbaum opened #26514 "Executing same command in multiple directories"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /Users/liora/git/depy-utils/release/ansible.cfg
  configured module search path = [u'library']
  python version = 2.7.10 (default, Feb  7 2017, 00:08:15) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]

##### SUMMARY

Executing the same command in multiple directories. For ex

[2017-07-07 06:59] DhairyashilBhosale opened #26516 "Connection from Ansible Server(Ubuntu16.04) to Windows"
I am new in Configuration management tools. I successfully execute the ansible-playbook on linux to linux environment and now I am trying to run from Linux to Windows.

So for this I configured the windows host like installed the 'pywinrm' on linux and executed the powershell script i.e.  `powershell.exe -File ConfigureRemotingForAnsible.ps1 -CertValidityDays 100`

and I followed steps from [Windo

[2017-07-07 07:24] runesl commented on #25718
"and then in ec2.ini specify the arn of the role you want to assume."
How is this specified in ec2.ini?

[2017-07-07 07:47] idsvandermolen commented on #26480
Narrowed it down a bit, this will trigger exception when run like this:
`ansible-playbook playbook.yml -i hosts -l localhost -v`
hosts:
[code]
playbook.yml:
[code]
base.yml:
[code]
It doesn't trigger exception when you modify playbook.yml to:
[code]

[2017-07-07 08:25] trs80 opened #26517 "Virtualization detection fails for UEFI VMware guests"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/facts/virtual/linux.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian 9.0

##### SUMMARY
A VMware guest booted with UEFI will report 'VMWare7,1 in the DMI product name, but ansible only looks for 'VMware Virtual Platform' which is what it reports when booted with legacy BIOS.

##### STEPS TO REPRO

[2017-07-07 08:30] ruochen-z opened #26518 "Unable to add new key value pair to consul using consul_kv module"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

consul_kv
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7
##### SUMMARY

There is **ImportError: No module named requests.exceptions** when trying to add kv pairs to running consul

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The kv pair should show up when running **consul kv get -recurse**
###

[2017-07-07 08:58] rcarrillocruz commented on #26398
@kajatonas if you want to run ping from the Ansible control machine, try this:

- hosts: localhost
  connection: local
  gather_facts: no
  - tasks:
    - command: ping <my cisco box>

Just using ping module won't work as @gundalow mentioned, as that requires Python on the target host.
With above snippet should work.

[2017-07-07 08:59] rcarrillocruz commented on #26398
not_a_bug

[2017-07-07 10:12] sayantandas opened #26521 "apt autoremove does not clean up old kernels"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

apt
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

apt autoremove feature does not clear out out dated kernels . the same command works when run directly from the server
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The command should clean up the old kernels.
##### ACTUAL R

[2017-07-07 10:23] jborean93 commented on #26516
Hey @DhairyashilBhosale so that we can help you more are you able to give us more info around
* the output of the ansible command that you are trying to run
* how your inventory is setup and your variables around the Windows host
* whether you are trying to connect with a local account or domain account
* the auth mechanism you are trying to use

Hopefully with that info we can try and help you so

[2017-07-07 10:50] johnnys66 opened #26522 "Delete snapshot in vmware_guest_snapshot.py deletes snapshot subtree"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest_snapshot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)
vCenter 5.5.0
ESXi 5.5.0

##### SUMMARY

When using module vmware_guest_snapshot to delete a snapshot it deletes the entire snapshot subtree.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2017-07-07 11:02] dagwieers commented on #25516
@nmulvihill Please test PR #26523 !

[2017-07-07 11:03] dagwieers commented on #25516
-needs_contributor

[2017-07-07 11:13] dagwieers commented on #24569
@ferventcoder Maybe I don't understand the request correctly, but isn't this already possible with the `source:` parameter ? You can provide a URL where to install the package from.

If you want to change the default source, that's something that is going to require a separate module (**win_chocolatey_config** ?) or could be done adding environment variables using **win_environment**.

So I see 2

[2017-07-07 11:15] michael-dev2rights commented on #18933
@BenCoffeed there's a new version of the PR up based against the latest devel tree.  Did you get a chance to test it already?  If not, would you be able to test it soon.  I'd like to get it merged to devel soon and knowing it fixed someone else's issue would make that a more clearly worthwhile thing to do.

[2017-07-07 11:16] profhase commented on #22565
@resmo The Problem described above still remains for Ansible 2.3 . Could you please reopen?

[2017-07-07 11:34] DavidWittman commented on #25718
https://github.com/ansible/ansible/blob/6318229bc424e5bb95b83b5ddad355a8c315d0f7/contrib/inventory/ec2.ini#L186

On Fri, Jul 7, 2017 at 3:25 AM, Rune Skou Larsen <notifications@github.com>
wrote:

[2017-07-07 11:36] edvinaskairys commented on #26398
shame on me, thank you guys!

[2017-07-07 11:36] #26398 closed, assigned to nobody

[2017-07-07 11:46] #25911 closed, assigned to nobody

[2017-07-07 11:58] Spredzy opened #26525 "_raw_params is None in the include inside an include_role"
When invoked in some special way `include_role` does not set the _raw_params value to its proper value but to None instead, this leads to the unexpected failure of the playbook.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- include + include_role + include

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

File organization

[code]

playbook.yml

[code]

temp.yml

[code]

roles/foo/t

[2017-07-07 11:59] Spredzy commented on #26525
cc @gundalow

[2017-07-07 11:59] keepzero opened #26526 "Low performance to match a pattern in large inventory."
##### ISSUE TYPE

 - Feature Idea
 - Performance tunning

##### COMPONENT NAME

Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

use a custom dynamic inventory.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I write a dynamic inventory ( with top level “_meta” element) for my company,  there are about a few thousand servers. It's very slow to match any host run ad-hoc command or playbo

[2017-07-07 12:07] DhairyashilBhosale commented on #26516
- the output of the ansible command that you are trying to run

- how your inventory is setup and your variables around the Windows host

       [lnx_grp]
        root@192.168.1.107
       [win_grp]
       10.72.129.119
       [win_grp:vars]
       ansible_ssh_user=administrator
       ansible_ssh_pass=Canopy@99999
       ansible_ssh_port=5986
       ansible_connection=winrm

- whether you are try

[2017-07-07 12:08] DhairyashilBhosale commented on #26516
Hi jborean93,

The WinRm is installed on Windows machine and its running, we need to configure the ssh server on windows node? so Ansible is agent less so it do the ssh to the nodes so We need to configure ssh server on windows, then only linux ansible contol host will connect

**Do I need to setup ssh server on windows machine or tried to ssh from linux-to-windows ?**

[2017-07-07 12:49] gundalow commented on #26525
Once this is fixed we will need to revert https://github.com/ansible/ansible/commit/05477412ba122fe3b3d52ddeb2c3ab813979a33c

Abusing labels slightly and adding networking so the Networking Team keep an eye on this

[2017-07-07 12:52] gundalow commented on #26398
I've made a note to update the documentation for the http://docs.ansible.com/ansible/ping_module.html module to make it clearer that this will not work on most Network Platforms.

[2017-07-07 14:03] Qalthos commented on #25510
@mikewiebe, does #26367 fix the issue?

[2017-07-07 14:04] Qalthos commented on #26301
@mikewiebe, does #26370 fix the issue?

[2017-07-07 14:22] jhawkesworth commented on #26516
set
ansible_winrm_server_cert_validation: ignore

Run with -vvvv to ensure a winrm connection is being made.  Ssh is not available (out of the box) on windows at this time.

[2017-07-07 14:41] itomkins opened #26531 "new function like ipaddr("address") that allows use of IPv4 network and broadcast addresses"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 ansible/lib/ansible/plugins/filter/ipaddr.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Using the ipaddr filter it is not possible to simply iterate over an IPv4 CIDR prefix and get every single IP out in plain IP format without CIDR notation. The current using ipaddr("address") will prod

[2017-07-07 15:01] odyssey4me commented on #26494
It appears to me that the same happens for the difference filter.

[2017-07-07 15:17] IngussNeilands commented on #18748
Still exists on devel (2.4)

include_role with loop executes num_hosts*num_items times on *each* host

only thing that helps - serial: 1

[2017-07-07 15:26] Qalthos commented on #25507
@mikewiebe I can't reproduce that locally, could you send me what `show ipv6 interfaces | json` looks like for you?

[2017-07-07 15:35] evrardjp commented on #26494
Probably all math ones?

[2017-07-07 16:12] farcaller opened #26537 "include_role doesn't support notify"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`include_role` doesn't support changed status, making it impossible to trigger handlers or further activities based on `include_role` invocation.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
role.changed would be `true` if any task within included r

[2017-07-07 17:47] jharting opened #26543 "reboot & wait_for works, fact gathering in subsequent play fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
fact module?

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
Host (also running Ansible): Fedora 24
Guest (ansible-managed) CentOS v1706.02 VM run with Vagrant (VirtualBox)

##### SUMMARY
I set up tasks to do the common reboot & wait_for sequence. Tasks in the same play that follow reboot & wait_for run fine.

[2017-07-07 17:59] rahushen opened #26544 "nxos_command : using nxapi as transport doesn't return json output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- nxos_command

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- Ansible Server : Ubuntu 14.04
- Device: Nexus9000 C9508  running 7.0(3)I6(1)

##### SUMMARY

While using transport as nxapi, it seems that cli is being used. This is observed when show commands don't return json structured output.

##### EXPECTED RESULTS

command to retur

[2017-07-07 18:17] mscherer commented on #21439
I am not sure that all feature should be added to the same module.  For example, now, I have a need for adding a zone (because I decided to do a whole firewall using firewalld and ansible), and I think this would be better as a separate module. But then, would services, port, etc be better splitted as well ?

[2017-07-07 18:32] naggie commented on #21513
I ended up installing the latest commit from `devel` after an entire working day wasn't enough time for the copies to complete. Now my entire playbook took 10 minutes! Thanks!

( I did `pip install git+https://github.com/ansible/ansible@9a9b1db62bb840b73203fe490d78825a55e751c0`)

[2017-07-07 18:35] balpert89 commented on #21285
Still getting error "ERROR! 'item' is undefined"

[code]

Output:
[code]

Is there an ETA for the fix? Or a workaround?

[2017-07-07 18:48] sylnsr commented on #20492
OMG, still not working

[2017-07-07 20:23] one-t opened #26548 "win_acl: Support Check Mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_acl

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Managing: Windows 2012

##### SUMMARY
win_acl module does not support check mode

##### STEPS TO REPRODUCE
Attempt to run a win_acl task in check mode

##### EXPECTED RESULTS
Summary of changes that would be performed

##### ACTUAL RESULTS
Task Skipped

[2017-07-07 20:38] one-t commented on #26548
I see now that this is covered on https://github.com/ansible/community/wiki/Windows:-progress-tracker.

[2017-07-07 20:38] #26548 closed, assigned to nobody

[2017-07-07 20:42] #26264 closed, assigned to nobody

[2017-07-07 21:24] maxamillion commented on #21439
@mscherer I'm open to either, I like the idea of not having too much "module span" so we don't duplicate the code for interacting with the firewalld API but if it is preferred to be separate, that's fine too.

[2017-07-07 21:38] mikeeaton83 commented on #22218
Is this going to be fixed anytime soon @nitzmahone ?

[2017-07-07 22:40] jamescassell commented on #26420
I've found that you can add disks by fully specifying all the disks you want.  I have not found a way to remove an existing disk, nor a way to query the existing disks from within the vmware_guest module.

[2017-07-08 01:09] williamh commented on #20494
Hello,

my distro ansible package maintainer cites this bug as a reason he is forcing us to downgrade jinja when we install ansible-2.3.1.0 [1]., so I want to ask here, is there any idea of an ETA to get this fixed? Downgrading everyone's jinja when they install ansible doesn't seem to be an optimal solution to me.

[1] http://bugs.gentoo.org/show_bug.cgi?id=622472

[2017-07-08 01:55] prometheanfire commented on #20494
this should also be tagged affects_2.3 as that's the version we have

[2017-07-08 02:19] Geethree commented on #26485
As expected the 2.x connection bars hasn't sorted the issue.

Directory structure

Test_dir:
- playbook.yml
- inventory
- group_vars:
   - windows.yml
- inventories:
   - inventory

[2017-07-08 06:08] danvaida commented on #16681
Great idea @ypid
Just stumbled across CII a few days ago and found it rather strange that Ansible isn't on it yet.
Having read the criteria I really think it's just a matter of applying and getting the badge. Maybe there'd be some very small changes needed but nonetheless (should be) a very small effort.
@jimi-c any idea what would be the next steps for getting this further?
Maybe a Mailing List t

[2017-07-08 06:38] xen0l commented on #26351
@bluespider42 yes, ZFS on Linux uses OpenZFS instead of Oracle ZFS.
@bcoca PR here: https://github.com/ansible/ansibullbot/pull/631

[2017-07-08 09:37] mscherer commented on #21439
We can create a shared module library, I would also dislike duplicating the various "is firewalld is running" code, etc. But I am quite new to the firewalld API, and there is also the issue of compatibility with existing playbooks :/

[2017-07-08 11:17] #26526 closed, assigned to nobody

[2017-07-08 12:57] ayoubfaouzi commented on #24057
Same here, installing the hotfix KB2842230 solved the problem for me.

[2017-07-08 13:26] dagwieers commented on #14387
So there is a new module win_certificate in PR #25837 that is ready to be merged.
Feedback from users is very much appreciated.

[2017-07-08 14:30] dubacher opened #26561 "delegate_to together with loop_vars doesn't seem to work"
I am using ansible 2.3.0.0 running it within an docker-container
[code]

The following task works. Ansible writes the line "hello... " to the /tmp/list of the delegated hosts.

[code]

When writing the same task using loop_vars it doesn't work. Ansible seems not to be able to connect to the delegated hosts, writing "Name or service not known" to the console.

[code]

[2017-07-08 16:14] aelkz commented on #19584
Same for me!
I can ssh server via terminal without passing -i directive:

    ssh user1@server.com

works

Executing the command:

    ansible all -m ping

I get the error:
[code]
@lkjangir removing .ansible directory didn't work also. =(

[2017-07-08 18:37] LaurentDumont commented on #25402
Also ran into this bug with the vagrant download URL, which is using the Fastly CDN.

`
fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to validate the SSL certificate for releases.hashicorp.com:443. Make sure your managed systems have a valid CA certificate installed. You can use validate_certs=False if you do not need to confirm the servers identity but this is u

[2017-07-08 18:52] nathanwebsterdotme commented on #16452
I've had issues similar to this which was caused by the '@' in the username.

Switched to DOMAIN\username in the vars.

[2017-07-08 22:36] fatred opened #26562 "nxos_interface unable to apply L2 configs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_interface
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macOS 10.12.5
python 2.7.13 installed from brew

##### SUMMARY

Unable to use nxos_interface to apply configurations

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Port enabled and set to switchport mode

##### ACTUAL RESULTS

FYI, I have bee

[2017-07-08 22:58] fatred commented on #26562
Nexus side is a pair of 9236C on 7.0(3)I5(2)

[2017-07-08 22:59] fatred commented on #26562
Interface looks like this in case there is any funny business going on with the 100G models
[code]

[2017-07-09 02:18] ferventcoder commented on #24569
Install of Chocolatey itself, not packages. If there is already a way to do this, please point me to the docs

[2017-07-09 08:54] piusranjan commented on #22835
Hi ,
I am facing issue if  I use --debugger option as below:
python $HOME/learning/ansible/hacking/test-module  -m $HOME/streams/fnd_ansible/modules/libraries/mymodule .py -a "name=test" --debugger  /usr/lib64/python2.7/pdb.py

(Pdb) c
Traceback (most recent call last):
  File "/tmp/ansible_ppYxMR/ansible_module_yum_amdocs.py", line 29, in <module>
    module = AnsibleModule(
  File "/tmp/ansible_

[2017-07-09 09:36] piusranjan opened #26563 "issue in pdb while using test-module"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
ansible/hacking/test-module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Hi ,
I am facing issue if I use --debugger option as below:
[code]

[code]

I am using .set_trace() , just before creation of module . It can happen anywhere , when i declare set_trace().

[2017-07-09 09:58] jhawkesworth commented on #24569
@ferventcoder looks like there are instructions for offline install of chocolatey on the chocolatey site here. You would probably just need to modify the powershell script https://chocolatey.org/install#completely-offline-install run it via the script module.

[2017-07-09 10:10] nitzmahone commented on #24569
(just for context, @ferventcoder is the creator of chocolatey) There aren't currently any knobs to turn on the win_chocolatey module to control the installation process of the chocolatey tools, but there probably should be. In particular, the current implementation violates a check mode tenet by potentially making changes to a target in check mode (installing chocolatey itself)- this has been corr

[2017-07-09 10:16] mike42 commented on #21090
Observing the same issue while extracting a zip on Debian, Ansible package version 2.2.1.0-2.

A good example of a symbolic mode which cannot be represented by a numeric permission might be `mode: "u=rwX,g=rwX,o=rX"` (0775 for directories, 0664 for files). My current workaround is to go over the extracted directory with the `file` module, which keeps everything idempotent.

[code]

I would suggest

[2017-07-09 10:23] dagwieers commented on #24569
I was thinking about this earlier. We could easily use the options of the module for the chocolatey installation when the package-name is "chocolatey". This would make sense because that's what the user is requesting anyway.

In this case `source:` would be acted on. Wouldn't that be possible ?

needs_contributor

[2017-07-09 16:22] Akasurde commented on #25775
Patch submitted to shade library - https://review.openstack.org/#/c/481958/

[2017-07-09 16:43] mscherer commented on #25334
So testing a few stuff:
- using -i 'localhost,' give the same result, we can exclude the parsing code of inventory.

Removing 'path' from testdict work.
Using a undefined variable invetory (spelling mistake) give a different error.

Adding debug to see testdict show that inventory dir is present before running the handler.

[2017-07-09 16:57] mscherer commented on #25334
So, I think we can simplify the case to that:
[code]

If the line with 'foo' is commented, it work.

So I think there is 2 errors:
- ansible silently ignore undefined variable somewhere
- the plugin do not define the variable at the same time as before, thus letting inventory_dir to be undefined when handlers name are evaluated (while it was defined before), thus triggering the first issue

[2017-07-09 20:35] jborean93 commented on #26516
@DhairyashilBhosale no you don't have to configure SSH on a Windows node to get Ansible to talk to it. Currently Ansible uses WinRM to manage Windows hosts and the ConfigureRemotingForAnsible.ps1 sets this up for you. A few things you can try based on your feedback.

* Ansible `ansible_ssh_*` has been deprecated so you just need to use `ansible_*`, i.e. `ansible_ssh_user` is now `ansible_user`, se

[2017-07-10 02:24] pilou- commented on #25334
@mscherer:
- source of the first [problem](https://github.com/pilou-/ansible/blob/5d17ca6ee30e7e8e6d5c6fa2a89cf569e460cd7d/lib/ansible/plugins/strategy/__init__.py#L292), not sure if this could be fixed;
- second problem should be fixed by #26569.

[2017-07-10 04:20] #25516 closed, assigned to nobody

[2017-07-10 04:31] babatundebusari opened #26574 "dynamic inventory not working properly"
This is for dynamic inventory for use with AWS

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
RHEL 7.3

python2-boto-2.45.0-3.el7.noarch

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /projects/robomation/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Aug  2 2016, 04:20:16) [GCC 4.8.5 20150623 (Red Hat 4.8.5-4)]

I have severa

[2017-07-10 04:38] pvshewale opened #26575 "ec2_eni module does not allow to assign additional secondary private ip"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- ec2_eni

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
NA

##### SUMMARY
When using `ec2_eni` module to modify existing network interface on AWS, it does not allow to assign additional secondary private IP. It removed all existing secondary private IP addresses, instead of just assigning additional one.

##### STEPS TO REPRODUCE
1. Get a

[2017-07-10 06:18] DadaHiT opened #26577 "ios_command: unable to show the bgp vpnv4 route"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ansible running on MacOS 10.12.5
IOS version 15.4(3)M7

##### SUMMARY

Use ios_command module to get below output will return error.
- show ip bgp vpnv4 vrf _vrfname_
- show ip bgp vpnv4 vrf _vrfname_  neighbors x.x.x.x advertised-routes
- show ip bgp vpnv

[2017-07-10 06:26] Akasurde commented on #26522
@johnnys66 Thanks for reporting this bug. Could you please test patch with above requirement and let me know if it works for you ?

[2017-07-10 06:30] #22093 closed, assigned to nobody

[2017-07-10 07:02] Deepakkothandan commented on #26574
@babatundebusari Ansible is not able to see that you are using Dynamic Inventory. You need to tell ansible, to use the EC2 Dynamic inventory. Set the following environment variables and execute the playbook,

[2017-07-10 07:03] gundalow commented on #24411
@haeringer That's interesting, thank you for the information.

I wonder if we need to detect the message and look at what type of shell we are in (privileged vs non-privileged) and at display a hint that ` authorize: yes` may be needed

Not sure why you saw intermittent issues, that maybe because the task didn't need to be run, or a previous task left the machine in privileged mode.

[2017-07-10 08:13] mohsenSy opened #26581 "add mysql options to mysql_user module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu16.04 managing Ubuntu14.04

##### SUMMARY
When creating a new user using mysql_user module I cannot add extra options to user created such as MAX_USER_CONNECTIONS,MAX_CONNECTIONS_PER_HOUR etc...

##### STEPS TO REPRODUCE
This can be used to setup resource limits for new use

[2017-07-10 08:13] garfieldairlines commented on #26236
@ganeshrn ah I'm sorry just looked the code and your logging snippet, I'm sorry but I'm not really a developer, and quite frankly I feel quite dumb about how I'm supposed to do it.
How am I supposed to add the debug function ? ( sorry :cry: )

[2017-07-10 09:05] Lowess opened #26583 "New module: Add Pritunl VPN user module (net_tools/pritunl/)"
##### ISSUE TYPE

 - New Module Pull Request

##### COMPONENT NAME
pritunl_user.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### SUMMARY

(Pritunl)[https://pritunl.com/] is an Enterprise Distributed OpenVPN Server. We have been using this technology for about a year and we felt really handy to automate our VPN user management using Ansible.

As Pritunl offers a (REST API)[https://prit

[2017-07-10 09:09] Lowess commented on #26583
The PR for this ticket is #26584

[2017-07-10 09:19] zarnovican commented on #23690
### Unable to reproduce

I have successfully added Docker repo using these tasks:
[code]
And the repo in Apt _does_ contain "[arch=amd64]" string.
[code]
(I'm on Ansible 2.2.0, but I have gently tested it also on 2.2.2 and 2.3.1 with the same result)

Would it be possible that your issue is unrelated to Ansible ?

[2017-07-10 09:27] Jean-Daniel opened #26585 "include_role in include_tasks result in duplicated call"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using `include_role` inside a file loaded by `include_tasks`, the role is played once per host instead of being run only once. The result is that all tasks from this roles are played twice or more for each hosts.

##### STEPS TO REPRODU

[2017-07-10 09:29] Kniyl opened #26586 "Synchronize: include in a role and relative path does not work as expected"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When `include`ing a file from a role, the synchronize module does not search relative path from the `files` directory next to the included file but rather from the `files` directory of the role, defaulting to the folder of the

[2017-07-10 09:38] ganeshrn commented on #26236
@garfieldairlines
No worries.

You can follow the steps given [here](https://gist.github.com/ganeshrn/f638141b7bf03992770f68ab33a0b803) to get started
and here is the Ansible [developer guide](https://docs.ansible.com/ansible/dev_guide/) for more details

If you are stuck you can ping me on irc (nick: ganeshrn)
I am also available in Ansible channels
`#ansible-devel`
`#ansible-network`

Also, we d

[2017-07-10 10:15] Vladimir-csp commented on #14958
I have a reverse issue with 2.3.1: when I run ansible-playbook with `-e ansible_host=somehost`, any task with `delegate_to: "specifichost"` is being delegated to `somehost` instead.

[2017-07-10 10:22] Vladimir-csp commented on #14637
I can confirm this, but I think it is not about templating.
In my case when I run ansible-playbook with `-e ansible_hostname=somehostname`, any task with `delegate_to: "specifichostname"` is being delegated to `somehostname` instead.

[code]
Should be  "somehostname -> specifichostname" instead, because of `delegate_to:`. Tried adding `vars:` with correct ansible_hostname to the task as a workarou

[2017-07-10 11:37] Akasurde commented on #26489
@wolfthefallen Thanks for reporting this issue. Could you please test the patch and let me know if it works for you ?

[2017-07-10 11:45] pinduka opened #26589 "GCE_MIG size cannot be set to 0"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME

gce_mig
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RH

##### SUMMARY

##### STEPS TO REPRODUCE

Cannot change MIG size to 0.
Using gce_mig module.
Calling size: n
n can be any value >0.
If n == 0 to change is applied.

[code]

##### EXPECTED RESULTS

mig size value changed to 0.
##### ACTUAL RES

[2017-07-10 12:25] tbondarchuk commented on #14236
Fixed in ansible 2.3.1.0

[2017-07-10 12:25] #14236 closed, assigned to nobody

[2017-07-10 12:54] draidman opened #26592 "Adding FIFO queues support in AWS sqs_queue"
##### ISSUE TYPE
- Feature Idea

@loia We are provisioning SQS using the ansible module sqs_queue and it seems that there is no option for creating SQS FIFO queues. Based on Boto documentation there is a flag FifoQueue required with an extra configuration of the MessageGroupId.

It would be very appreciated if it's possible to add this functionality to the module.

http://boto3.readthedocs.io/en/l

[2017-07-10 13:00] s-hertel commented on #26431
Hi @aioue.

Here is the playbook I'm running to try to trigger the TypeError with no cidr_ip:
[code]
Here is the output:
[code]
Checking in the console I see that as expected a security group with no inbound or outbound rules is created. Are you still experiencing this problem with the latest changes on devel?

Giving a null value for group_id no longer results in a traceback (I believe fixed in h

[2017-07-10 13:00] s-hertel commented on #26431
needs_info

[2017-07-10 13:13] Vladimir-csp commented on #21279
I can confirm that include_role in loop with_items is duplicated by the number of parallel hosts in play.

[2017-07-10 13:31] joaogbcravo opened #26595 "Block/Rescue/Always Exit Code"
##### ISSUE TYPE
 - Feature Idea (probably bug report too or documentation report)

##### COMPONENT NAME
Block - http://docs.ansible.com/ansible/playbooks_blocks.html

##### ANSIBLE VERSION
ansible 2.3.0.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.10 (default, Jul 30 2016, 19:40:32) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]

#####

[2017-07-10 13:35] rmfitzpatrick commented on #26305
Closed PR as it doesn't resolve issue for all affected distros or use proper deb build technique.  I can research a method that satisfies @bcoca's points but if anyone w/ more experience can take a look at this it'd be greatly appreciated.

[2017-07-10 13:56] s-hertel commented on #26431
@aioue I'm not sure if I understand your use case and desired result. Is the reason for specifying null group_id or cidr_ip to to make a security group with no rules? Is there something different you hope to gain than specifying rules: []? It's definitely not desirable to fail with an ugly traceback (and if I can reproduce I'll fix that), but I'm not really sure what the benefit would be for speci

[2017-07-10 14:02] aioue commented on #26431
@s-hertel like other modules, null values should function the same as if the line had been omitted (and not fail).

This usually means "leave the existing values as they are" when running the task multiple times, or in the case of creating an object, using the default values for the module.

The TypeError trace was fixed (#26291), but now the module 'just fails', with no debug message. It should s

[2017-07-10 14:04] s-hertel commented on #26286
I'm able to reproduce that specifying a null value for cidr_ip results in changed == True when it should be False. The same issue exists for specifying group_id as a null value.

But I cannot reproduce the error at all with:
[code]
The reason the above may appear changed is if rules/egress rules are added at some point. purge_rules defaults to True, as does purge_rules_egress. I suspect if you spe

[2017-07-10 14:08] szymula opened #26600 "Handler is not executed when task fails and force_handlers: True"
##### ISSUE TYPE:

 - Bug Report

##### COMPONENT NAME

 - ansible handlers

##### ANSIBLE VERSION

 - 2.3.1.0

##### CONFIGURATION

force_handlers = True

##### OS / ENVIRONMENT

 - Red Hat Enterprise Linux Server release 6.9 (Santiago)

##### SUMMARY

According to Ansible documentation (http://docs.ansible.com/ansible/playbooks_error_handling.html#id7) if I set force_handlers to True handler sho

[2017-07-10 14:12] s-hertel commented on #26431
@aioue Cool. I agree, it shouldn't fail the way it was. But I'm asking about your use case because I'm wondering if it would be better to fail (with a nice message) requesting that either group_id or cidr_ip must be specified for a rule to be created successfully. I wonder if maybe the best fix would be to provide feedback for weird rules that might not do what the user thinks. What do you think?

[2017-07-10 14:16] alikins commented on #26521
Was this working in earlier versions of ansible?

[2017-07-10 14:20] alexejpissarev opened #26603 "A failure in cloudformation stack creation does not trigger a failure in the Ansible process"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudformation module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
become_method = sudo
sudo_flags = -H -S -n
become_allow_same_user = True

##### OS / ENVIRONMENT
Ubuntu 16.04.1 LTS

##### SUMMARY
Cloudformation errors seem not always being handled correctly: a failure in cloudformation stack creation does not trigger a failure in the Ans

[2017-07-10 14:22] aioue commented on #26431
Thanks @s-hertel, I appreciate you digging into the issue. Personally, I would like the module to function the way others do, and allow null values to be presented to a task (and do nothing, as expected).

If we want to warn the user (but not fail), that would be fine too, although since the values are not mandatory, I don't think it's worth implementing such a check.

My own use case is not widel

[2017-07-10 14:25] s-hertel commented on #26176
Fixed in https://github.com/ansible/ansible/commit/d1652aecf030764e960dba7a71b8e5fe3f7b30ad.

[2017-07-10 14:25] #26176 closed, assigned to nobody

[2017-07-10 14:25] alikins commented on #26531
This might be covered in the pr at https://github.com/ansible/ansible/pull/26566/

[2017-07-10 14:29] alikins commented on #26537
ping @bcoca @jimi-c

[2017-07-10 14:37] alikins commented on #26543
My first guess would be that ssh controlMaster is in use, and post reboot, the shared connection to the remote host fails.

1) Does adding a 'meta: reset_connection' after the reboot/wait_for help?

2) Could you post output with a higher verbosity (ie, 'ansible-playbook -vvvv')?

[2017-07-10 14:39] alikins commented on #26574
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-07-10 14:39] #26574 closed, assigned to nobody

[2017-07-10 14:42] newswangerd opened #26605 "ios_template tries to get configuration when in config mode and fails"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ios_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

ios_template tries to run `show running-config` while the device is in configure mode. This fails because `show` isn't a valid command in config mode.

##### STEPS TO REPRODUCE

Network device: Cisco IOS XE Software, Version 16.03.01a.

R

[2017-07-10 14:48] alikins commented on #26595
Would adding a 'fail' task to the end of the rescue block work?

[2017-07-10 14:49] babatundebusari commented on #26574
@Deepakkothandan

Still doesn't work

[code]

[code]

[2017-07-10 14:50] Dionysusio commented on #20801
Up!

[2017-07-10 14:51] joaogbcravo commented on #26595
In kind of logic, it works yes. However "pollutes" the play recap.

Instead of just one really failed task, we have more failed tasks "manually" forced.

[2017-07-10 14:52] alikins commented on #26561
Could you provide a copy of the actual output when running with verbosity at '-vvv' or higher?

[2017-07-10 14:58] Dionysusio commented on #10616
it has solved my problem!  thank you!

[2017-07-10 15:00] newswangerd opened #26607 "ios_system tests fail because commands are slightly different between versions"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ios_system

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In IOS Version 15.6(2)T `no ip domain lookup source-interface` works. In IOS Version 16.03.01a (which we use for testing on AWS) `no ip domain lookup source-interface' requires additional arguments. We need to update the tests for ios_

[2017-07-10 15:12] alikins commented on #26563
You didn't mention which version of ansible you are using, but this looks related to a bug fix in hacking/test-module: https://github.com/ansible/ansible/commit/56d33a2967231f954e788ff40763e4591ee88907

That fix is only in git devel/ branch at the moment.

[2017-07-10 15:19] newswangerd opened #26608 "socket timeout in anisible-connection when running network modules"
Ansible-connection times randomly. This appears to mostly happen on config network modules such as vyos_config. Not sure what is causing the socket to time out.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ansible-connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

run `ansible-test network-integration vyos_c

[2017-07-10 15:26] alikins commented on #26585
ping @bcoca @jimi-c

[2017-07-10 15:35] newswangerd opened #26609 "ios_user: create user fails idempotent test"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ios_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Adding the same user twice using ios_user returns results.changed=true.

##### STEPS TO REPRODUCE

Network device: Cisco IOS XE Software, Version 16.03.01a.

run `ansible-test network-integration ios_user --platform ios/csr1000v -vvvv`

Note:

[2017-07-10 15:41] bcoca commented on #25522
closed via #25817

[2017-07-10 15:41] #25522 closed, assigned to nobody

[2017-07-10 15:42] bcoca commented on #23963
Closed via #25817

[2017-07-10 15:42] #23963 closed, assigned to nobody

[2017-07-10 16:08] tedder commented on #26603
This has been fixed in `devel` by #24578. [It hasn't been backported](https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/modules/cloud/amazon/cloudformation.py#L353) but that would make for an easy PR if you are interested.

So, tagging as `needs_contributor`.

[2017-07-10 16:09] calfonso commented on #26609
needs_info

@newswangerd please run this against 15.6 and let us know if it has the same issue.

[2017-07-10 16:10] tedder commented on #26603
This was fixed by #24578 in devel/2.4, but [hasn't been backported to 2.3](https://github.com/ansible/ansible/blob/stable-2.3/lib/ansible/modules/cloud/amazon/cloudformation.py#L353). It'd be a nice little PR if you are motivated/interested.

So, `needs_contributor`.

[2017-07-10 16:18] alikins commented on #26589
I'm guessing it may be https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/google/gce_mig.py#L846-L847

I believe for the case of 'size: 0' that is going to use the default mig size instead of 0.

[2017-07-10 16:21] calfonso commented on #26544
The assumption that the default output for nxapi is json may be invalid, and it's more likely the same output as when using the cli. http://www.cisco.com/c/en/us/td/docs/switches/datacenter/mds9000/sw/8_1/programmability/cisco_mds9000_programmability_guide_8x/nx_api.html#concept_7CDD59B3BC714986BDB9FCAD9FBE858D

@rahushen can you review the guide and confirm our understanding, thanks!

[2017-07-10 16:22] #24308 closed, assigned to nobody

[2017-07-10 16:26] bcoca commented on #26600
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The task is `failed`, not `changed` (it cannot be both), you are ignoring the error to continue the play but that will not trigger hand

[2017-07-10 16:26] #26600 closed, assigned to jimi-c

[2017-07-10 16:26] calfonso commented on #26497
@jmcleroy the playbook in this issue is using nxos_interface, but the issue is with portchannel. would you mind providing the playbook you used to uncover this issue?

[2017-07-10 16:35] #26363 closed, assigned to nobody

[2017-07-10 16:51] calfonso commented on #26162
@arielyum After discussing this, this probably belongs in nxos_interface rather than nxos_system. Do you have an opinion to the contrary? needs_info

[2017-07-10 17:17] NielsH commented on #25960
We also have this issue on Debian 9 with MariaDB 10.2 from their repos. Just adding a backtrace here in case it can help:

[code]

[2017-07-10 17:41] newswangerd commented on #26605
confirmed that it fails on 15.6 in the same way.
`ANSIBLE_ROLES_PATH=~/code/ansible/test/integration/targets/ ansible-playbook ios.yaml -i inventory.network -e limit_to=ios_template -u cisco -k -vvvv`

[code]

[2017-07-10 17:44] newswangerd commented on #26609
confirmed in 15.6
`ANSIBLE_ROLES_PATH=~/code/ansible/test/integration/targets/ ansible-playbook ios.yaml -i inventory.network -e limit_to=ios_user -u cisco -k -vvv`

[code]

[2017-07-10 17:53] newswangerd commented on #26447
Fails with an IndexError in 15.6 on a different step.

`ANSIBLE_ROLES_PATH=~/code/ansible/test/integration/targets/ ansible-playbook ios.yaml -i inventory.network -e limit_to=ios_config -u cisco -k -vvvv`

[code]

[2017-07-10 18:09] #26517 closed, assigned to nobody

[2017-07-10 18:15] opnine commented on #23193
Hi all

Im getting the following error.

fatal: [R1]: FAILED! => {"changed": false, "failed": true, "msg": "unable to open shell. Please see: https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell", "rc": 255}
fatal: [R2]: FAILED! => {"changed": false, "failed": true, "msg": "unable to open shell. Please see: https://docs.ansible.com/ansible/network_debug_troubles

[2017-07-10 18:22] newswangerd opened #26620 "ios_config: IndexError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

-ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

ios_config throws an IndexError when attempting to configure device from source file.

##### STEPS TO REPRODUCE

IOS Version 15.6

`ANSIBLE_ROLES_PATH=~/code/ansible/test/integration/targets/ ansible-playbook ios.yaml -i inventory.network -e

[2017-07-10 18:22] lifeofguenter opened #26622 "ansible_lsb always fails on completely new machine"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

happens on Linux and OSX

##### SUMMARY

Using `ansible_lsb.id` in a template:

[code]

On a completely new machine that step will always fail:

[code]

Re-running the exact same on the same machine will work.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2017-07-10 18:23] cwarner-mdsol commented on #19427
Just updated with the proposed fix. If anyone has any questions let me know.

[2017-07-10 18:36] itomkins commented on #26531
Thanks I'll have a look, there is also a related issue around ipaddr("network") not producing output for /32 IPv4 prefixes which would be good to find a solution to as well. There is an existing issue for that here: #17872.

[2017-07-10 18:41] itdependsnetworks commented on #26531
I have been through this battle before, ansible is not going to change the current functions, only deprecate them and create new ones, in the interest of being backwards compatible. I can include this as an additional filter in my PR. You have a preference on naming?

[2017-07-10 18:44] gundalow commented on #23193
@opnine Hi :)
If you follow the debug steps in the error does that help?
Please raise a new issue as this one is closed, and we can assist you there.

[2017-07-10 18:55] jmcleroy commented on #26497
Hey Chris,

You were correct I was using the interface module instead it looks like to create a port channel it is recommended to use the interface module.

 [WARNING]: The proposed port-channel interface did not exist. It's recommended
25
to use nxos_interface to create all logical interfaces.

And then to remove a port channel we use the nxos_portchannel it looks like this one was more of a

[2017-07-10 18:55] #26497 closed, assigned to nobody

[2017-07-10 19:07] taspotts commented on #24648
Seeing the same error/issue.  If the template started out on a vds portgroup, changing it to a standard port group or a different vds portgroups works.  But if the template started out on a standard port group you can't change it to vds.

[2017-07-10 19:08] nitzmahone opened #26623 "Powershell path validation fails on nonexistent drive letter"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module_utils/powershell.ps1

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`Get-AnsibleParam -Type Path` will fail on a path with an invalid drive letter (it's only supposed to validate the "shape" of the path). This is an underlying problem with `Test-Path -IsValid`.

##### STEPS TO REPRODUCE

#

[2017-07-10 19:09] mikewiebe commented on #26301
@Qalthos This does allow me to specify 'default' as an option to the command but then it tries to send the string 'default' to the device.

[code]

General question:  Does ansible by convention map the keyword 'default' to functionality in the module that puts that property into the default state?

Based on the module documentation I would have expected to be able to set only the `max_prefix_limit

[2017-07-10 19:46] mikewiebe commented on #26300
@Qalthos You are correct.  I misread the docs.  When I updated my test to include both parameters however I still see a problem.

`advertise_map_non_exist: ['my_adv_map', 'my_non_exist_map']`

[code]

The reason is the command is getting constructed incorrectly.

[code]

From the output above the module is sending:
`advertise-map my_adv_map advertise-map my_non_exist_map`

When is should be sendin

[2017-07-10 19:51] mikewiebe commented on #25513
@Qalthos Understood.  I also see that reference but unless I am missing something I don't see where it's implemented in the module.  The error message above is indicating that it's an unsupported parameter even though there is an example in the comments section.

[2017-07-10 20:22] pilou- commented on #25334
Nothing to do: [task/handler names are not supposed to be 'host dependent'](https://github.com/ansible/ansible/pull/26569#issuecomment-314164285) and since Ansible 2.4 [we can have multiple, inventory_dir/file needs to be per host](https://github.com/ansible/ansible/commit/8f97aef1a365cbbbb822d6d09f96af17a076b295).

[2017-07-10 20:22] #25334 closed, assigned to bcoca

[2017-07-10 20:26] bcoca commented on #25334
inventory_dir could only have one value before 2.4 so we could set it 'globally'.

In 2.4 we can have multiple inventory sources so it's value can change, hence it is not available for usage in 'task names' anymore.

[2017-07-10 20:52] bcoca commented on #26595
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-10 20:52] #26595 closed, assigned to nobody

[2017-07-10 20:58] Qaad commented on #26420
@cyberpear Sounds ok for creating a VM but how would that work for existing disks?

As you can't query existing and from what I can tell you can't specify exact size of known disks you end up modifying them.

It seems to accommodate adding to an existing VM or modifying an existing disk without touching any other, a specific disk target number is needed.

Or for just adding a disk only an auto ass

[2017-07-10 22:09] coolcps opened #26628 "ios modules cannot connect through terminal server"
##### ISSUE TYPE
 - Bug Report (might be more of a feature request)

##### COMPONENT NAME
ios_facts
ios_command
etc

##### ANSIBLE VERSION
ansible 2.3.1.0
  config file = /private/etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.10 (default, Feb  7 2017, 00:08:15) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]
##### CONFIGURATION

###

[2017-07-10 23:29] skamithi commented on #26628
@coolcps best i understand about the network modules is that if you use "connection:local" it assumes that you have the username/password login prompts. Since in your case you are using public key auth, why not just configure the console server like a regular linux host. example

inventory
[code]

play.yml
[code]
If i'm wrong can you provide a pastebin of the "unable-to-open-shell" link instructio

[2017-07-11 00:06] #22968 closed, assigned to trondhindenes

[2017-07-11 00:15] athak commented on #21328
Seeing similar behavior using Ansible 2.3.1.0. The role also has a task file that includes others. Calling the role via `include_role` works fine but using `include_role` with `tasks_from` fails with the reported ` does not exist, or is not readable` error.

[2017-07-11 00:49] adrianmkng commented on #25981
Thanks @Sgydoo, that's solved the problem! I checked my permissions using the awscli and that gave me:
[code]
Well my problem is resolved but there still is a problem with the module not handling the authentication properly.

[2017-07-11 01:56] coolcps commented on #26628
The above config that you have should be pretty much identical to what I am doing.  My preferred state would be to have username/pw on both the TS and console though, so ansible would need to get through two prompts.
Output is attached.
This one is with the ssh key on the terminal server, and no auth on the console port.  I've tried some other combos of setting up the auth, but the log file is ide

[2017-07-11 01:59] lucaslan opened #26631 "Yum module doesn't upgrade packages"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
All machines are RHEL7

##### SUMMARY
Yum module doesn't install updates from satellite server

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2017-07-11 02:10] xswqaz commented on #23287
Same problem here

`
OpenSSH_6.6.1, OpenSSL 1.0.1e-fips 11 Feb 2013
debug1: Reading configuration data /home/centos/.ssh/config
debug1: /home/centos/.ssh/config line 13: Applying options for *
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 56: Applying options for *
debug2: ssh_connect: needpriv 0
debug1: Connecting to 10.2.1.125 [10.2.1.125] port 22.
debug

[2017-07-11 02:22] xswqaz commented on #23287
No problem with option --private-key
But, ansible_ssh_private_key_file environment variable is not valid for in-memory inventory

[2017-07-11 02:41] lucaslan commented on #26631
when I execute with root user, it works as expected.

my updateuser belongs to wheel group, it's not a permission problem I have no problem executing

with updateuser.

I also tryed to execute with became_method: sudo and I have the same error only with root user this error doesn't occur.

[2017-07-11 03:28] 0mmariano commented on #23510
This might be my error. I inserted a [galaxy] section after the first chunk of the [defaults] section which placed roles_path somewhere after [galaxy] instead of [default] (see https://github.com/ansible/ansible/issues/25423#issuecomment-306976055)

Will confirm this when I try to move my roles to a different location again (an re-open the issue if needed).

[2017-07-11 03:28] #23510 closed, assigned to nobody

[2017-07-11 03:37] coolcps commented on #26628
The best I can tell the SSH session times out because it doesn't know to send a newline to get past the terminal server prompt, which needs to be sent (no matter how the authentication is setup) in order to bring up the end device prompt.

[2017-07-11 05:08] EyePulp commented on #26384
Nearly identical issue,
- `node v8.1.2`
- `npm v5.0.3`
- `Ansible v2.3.1.0`

@stubbegianni I found that if I `rm -rf node_modules/` on the remote server, I'm able to run my npm task to completion.  Subsequent runs will fail unless I again delete the `node_modules/` directory.

[2017-07-11 06:06] piusranjan commented on #26563
@alikins . Thanks for your response.
I am using 2.4.0 0.0.devel

[2017-07-11 06:26] sayantandas commented on #26521
never tried this before. so don't know if it worked. all my ansible servers are 2.3. Will try to setup an older version and update.

[2017-07-11 06:36] stephan2012 commented on #26420
@cyberpear: I can confirm that adding disks works when all disks are fully specified.

[code]

All VMs are created on the datastore that has the most available disk space available right before creation of the first disk (unless serialized with `serial: 1`). This leads to all VMs being created on the very same instead of distribution over all applicable datastores.

Having to specify all disks is

[2017-07-11 07:26] jstoja commented on #13652
Hello @ansibot, I'm still having the issue and I'm not able to find why :(

[2017-07-11 07:57] silvinux opened #26633 "pamd.py - After/Before state duplicate lines"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

/usr/lib/python2.7/site-packages/ansible/modules/system/pamd.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The last pamd.py update has a bug, after/before state duplicate lines, is not idempotent. I took the library from pamd-fixes (#25817).

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2017-07-11 08:29] piusranjan commented on #26563
@alikins , I  took the devel/ branch  code and still having the same issue.

[2017-07-11 08:35] Yannig commented on #23861
This issue affect also Ansible 2.3.1.
Is there any way to have a feedback on this issue?

[2017-07-11 08:49] ssbarnea opened #26634 "os_security_group fails with Multiple matches found for <name>"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
os_security_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible 2.3.1.0

##### OS / ENVIRONMENT
N/A

##### SUMMARY

##### STEPS TO REPRODUCE
create two security groups with same name and run os_security_group after.

##### EXPECTED RESULTS
Not to fail

##### ACTUAL RESULTS

[code]

[2017-07-11 09:10] vaibhaobagde opened #26635 "How to install Tomcat 8 with yum package on RHL"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-11 09:20] ssbarnea commented on #26634
This exception is raised from https://github.com/openstack-infra/shade/blob/master/shade/_utils.py#L225 mainly due to a design limitation but I am afraid that this could not count as a shade bug.

[2017-07-11 09:33] kraduk commented on #22169
not a fix per say but i always have this in my role main.yml. The advantage of this is I can stop the tasks in a role executing multiple times across plays as well as within them.

[code]

[2017-07-11 09:46] chbndrhnns opened #26636 "test-module cannot parse complex arguments that contain characters like : or /"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`hacking/test-module`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Mac OS X 10.12

##### SUMMARY
Using `hacking/test-module` to run one of my modules locally fails when I supply arguments that contain some special characters like:

- `:`
- `/`

##### STEPS TO REPRODUCE
Have an arbitrary module and use the `test

[2017-07-11 09:58] chbndrhnns commented on #26636
In the gitter channel I came across the idea to use single quotes for the whole thing which works.

So, if that's the intended, then the `README.md` is wrong where the example is like this:

Still, the `child` value in Python is then a string, although I expected a nested dictionary.

[2017-07-11 10:14] jhawkesworth commented on #26635
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-11 10:14] #26635 closed, assigned to nobody

[2017-07-11 10:26] sayantandas commented on #26521
For ansible version 2.0.0.2, it get
`
fatal: [192.168.10.2]: FAILED! => {"changed": false, "failed": true, "invocation": {"module_args": {"autoremove": true}, "module_name": "apt"}, "msg": "unsupported parameter for module: autoremove"}`

[2017-07-11 11:02] Tux12Fun opened #26638 "File Module: Symlink source not exists - force not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module: File

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS: Ubuntu 16.04.02 Xenial 64 Bit

##### SUMMARY

The Symlink is not created.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The Symlink should be created

##### ACTUAL RESULTS

[code]

[2017-07-11 11:07] itomkins commented on #26531
@itdependsnetworks Thanks for your comment. I was assuming that backawards compatibility was likely to be the issue here.

The 2 functions in ipaddr that have caused me the most obvious problems are address and network. So I would suggest that we just create analogues of those that don't have the behaviour to filter out special addresses.

@alikins I have just scanned through the PR and the new ne

[2017-07-11 11:11] Tux12Fun commented on #26638
Sorry used wrong Variable.

mode have to be state.

[2017-07-11 11:11] #26638 closed, assigned to nobody

[2017-07-11 11:26] kwach commented on #8547
FYI since 2.0 there is `no_password_changes` option that is designed to workaround RDS issue.
Effective when pg_authid is not accessible (such as AWS RDS). Works like a charm.

[2017-07-11 11:45] dwt opened #26639 "jinja2.groupby workaround is bad"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/filter/core.py#L436

##### ANSIBLE VERSION
[code]

But as seen at https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/filter/core.py#L436 this is also a problem on master.

##### CONFIGURATION
not applicable

##### OS / ENVIRONMENT
OS X 10.12.5, Linux Fedora 26

####

[2017-07-11 11:46] garfieldairlines commented on #26236
Sadly I don't have the time, nor the skills to write such a thing for screenos. However, is it possible to write in the Ansible documentation that screenos isn't supported to avoid other admins to fall in the same trap than me ?

Thank you.

[2017-07-11 11:47] dwt commented on #11568
Hi there, do you guys plan to work on this at some point? We just lost quite some time again because we didn't see the diff from an assemble. :/

[2017-07-11 11:47] DhairyashilBhosale commented on #26516
HI @jborean93,

Thanks for your quick reply,  as per your suggestion I used `ansible_ssh_user` is now `ansible_user` and I also configured the the certificate

But still facing the issues like:

`
sysadmin@bedtamstestans4:/etc/ansible/group_vars$  ansible windows -vvvv -i /etc/ansible/hosts -m ping
Using /etc/ansible/ansible.cfg as config file
Loading callback plugin minimal of type stdout, v2.0 f

[2017-07-11 12:41] DhairyashilBhosale commented on #26516
Hi @jborean93

Now facing following error
![ans_err1](https://user-images.githubusercontent.com/6925937/28068717-5dc5ea34-6664-11e7-90fc-0dcbf933eb47.PNG)

How to do authentication process, please provide the authentication process like simple Basic or Certification.

[2017-07-11 13:07] ronator commented on #26521
@sayantandas this option is available since Ansible 2.1, cannot work for you. It was added here: https://github.com/ansible/ansible-modules-core/pull/2974

On Ansible 2.1.1.0 there are two issues:

1) 'autoremove=yes' does not work as a single option
2) 'autoremove=yes' does not remove older kernel images/headers

'autoremove=yes' in a simple playbook also fails on **ansible 2.1.1.0 (Ubuntu 16.04)

[2017-07-11 13:26] dagwieers commented on #19817
So we are closing the gap (#26612), but these parameters have not been implemented yet. We have a project looking at making the Windows modules full-featured, see [this Wiki page](https://github.com/ansible/community/wiki/Windows:-progress-tracker#feature-parity-with-python-modules)

The `backup` functionality we will be implementing in various Windows modules soon (we are discussing it as we spea

[2017-07-11 13:39] artm commented on #23690
I'm experiencing the problem intermittently: it works fine on ubuntu 17.04 or 16.04 but seems to break on travis-ci with ubuntu 14.04 (with the same task as yours and the same repo)

![image](https://user-images.githubusercontent.com/64227/28070974-f6eaf21a-664e-11e7-864d-493338d066bd.png)

[2017-07-11 13:40] artm commented on #23690
I can't look inside the `/etc/apt/sources.list.d/download_docker_com_linux_ubuntu.list` though because it's a CI environment

[2017-07-11 13:55] subsy commented on #21285
Been affecting us also - have effectively had to not use roles for our parameterised app deployments and revert to calling playbooks.

Can we help with any further information?

[2017-07-11 13:58] ryansb commented on #26631
Can you also share the output of `yum update` on the affected servers? Update vs upgrade are slightly different in how they calculate what packages need updating.

needs_info

[2017-07-11 13:59] ryansb commented on #26633
cc/ @bcoca

[2017-07-11 14:10] rudaum commented on #24638
I have the same problem here. Any solutions?

[2017-07-11 14:50] mchassy opened #26647 "docker_service got an unexpected keyword argument"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
* ansible
* ansible-playbook
* docker_service
* ansible-container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

##### SUMMARY
Playbook, generated by ansible-container, fails to run.
There were already some basic error in the generated playbook which i fixed.
The images now download but then there is thi

[2017-07-11 14:51] kevensen commented on #26633
I'm taking a look at this now.

[2017-07-11 15:02] ericcitaire opened #26648 "Undefined not evaluated"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

Jinja2 templating

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Lists are not evaluated when containing an `Undefined` value (ie `[1, 2, 3, Undefined]`).

##### STEPS TO REPRODUCE

Given the following inventory:
[code]
And the following playbook:

[code]
I get the expected result:
[code]

##### EXPECT

[2017-07-11 16:00] seannaesmb commented on #21594
Same problem with ansible-2.3.1.0-1.el6.noarch.  The workaround above works.  Too bad I spent hours trying to diagnose syntax and permission issues for this to be the issue.  When going to Solaris it was using /root/.ansible instead of /home/`user`/.ansible

[2017-07-11 16:43] jebabin commented on #26432
It's also affecting ansible-2.3.2.0-0.2.rc2

[2017-07-11 16:44] zzzeek opened #26650 "obsolete code paths hardcoded in .gitignore cause users to unwittingly run ancient versions of ansible"
- Bug Report

##### COMPONENT NAME

distribution

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

plain vanilla

##### OS / ENVIRONMENT

fedora linux

##### SUMMARY

ansible hardcodes obsolete source file locations in .gitignore:

https://github.com/ansible/ansible/blob/devel/.gitignore#L80

[code]

Because of this, I've been using a broken ansible for many weeks.  I only found this because I

[2017-07-11 17:09] tanin47 commented on #25688
I wonder if we should simply allow any custom service_account_permissions in the form of URLs.

[2017-07-11 17:15] bcoca commented on #19104
dupe of #17960

[2017-07-11 17:15] #19104 closed, assigned to bcoca, docschick

[2017-07-11 17:29] bcoca commented on #11568
@dwt, no one is currently working on this, i created this ticket as part of my 'wish list' in case someone else has the time.

[2017-07-11 17:35] bcoca commented on #26537
includes (aside from include_vars) don't return anything, they get substituted by the included tasks

[2017-07-11 17:57] bcoca commented on #26008
so as ticket states, this is fixed in 2.3 and current devel, this is a request for backport.

note that 2.2 is in 'security fixes only' territory now, it is improbable that we backport this fix, even if we do, there should not be a release unless a security issue arrises.

[2017-07-11 18:18] coolcps commented on #26628
Modified network_cli.py --->
    def open_shell(self):
        display.display('attempting to open shell to device', log_only=True)
        self._shell = self.ssh.invoke_shell()
        self._shell.settimeout(self._play_context.timeout)
        **self._shell.send('\n')**
        self.receive()

Was hoping that would do the trick since I suspected it was getting hung on needing the newline.  Now it

[2017-07-11 19:16] jcpowermac commented on #26386
@gundalow I think I used to be.  It would be great if someone else could pick up the maintenance of these modules since VMware is no longer my focus.  Thanks!

[2017-07-11 19:51] #24156 closed, assigned to bcoca

[2017-07-11 19:51] #24157 closed, assigned to bcoca

[2017-07-11 19:53] Shasties commented on #24647
Any updates on this? Currently running into the same issue.

[2017-07-11 20:05] lucaslan commented on #26631
on the same server **yum update**:

[2017-07-11 20:06] lucaslan commented on #26631
on the same server **yum upgrade**

[2017-07-11 20:32] NiklasA commented on #16305
@bcoca Is this a planned feature for the future? A `backup_dir` would simplify backup procedures a lot.

[2017-07-11 21:23] coolcps commented on #26628
Another update, turns out the set_facts was failing because the timeout was set too low (and seems like output through the console takes longer).  Everything is working as expected with sending the new line in network_cli.py.  This will work fine for a bringing up new devices, I will just need to write a script to make sure the console prompt is at the right point for ansible to take over.

I can'

[2017-07-11 21:41] abadger commented on #26305
note: If we need to get this working, I'm okay with merging PR #26500 as a fix for now and when someone with deb building experience has time, getting a better fix in later.

[2017-07-11 22:14] bcoca commented on #16305
@NiklasA the `backup` feature now always returns `backup_file` so the caller can decide to fetch/slurp that file and store it in a centralized dir or copy/move it on the remote to do same.

[2017-07-11 22:15] emonty commented on #24207
FWIW, I actually get very consistent results of the final runner_on_ok always immediately before the final runner_item_on_ok. So much so that I currently store the runner_on_ok result as an attribute on the callback class if I'm in the middle of an items, and emit the results for it after the next item and so far it's always working out properly.

So - it certainly might be async and forking and w

[2017-07-11 22:36] jamescassell commented on #25970
I have the same issue.  When disk.datastore is specified as a datastore cluster name, I get a failure with MSG "Failed to find a matching datastore"  When I pass the name of a individual datastore within the cluster, it assigns it to that specific datastore, which may not be the correct one based on current datastore usage.

[2017-07-11 23:07] bcoca commented on #24207
@emonty that should be true most of the time, but we have had many reports of this happening. I suspect that it is mostly systems with other loads that cause preemption of the python processes/threads and end creating the 'unordering'.

[2017-07-11 23:57] emonty commented on #24207
\o/ yay async!

@bcoca is it possible anywhere to find out the number of items the task expects?

[2017-07-12 00:34] Qaad commented on #26420
Scenario 1: Deploy from template that has a single disk. I and want to add a second disk keeping the default size of the first. With the current vmware_guest module in 2.3.1 existing disks in the list must be greater than existing or it errors out.

Scenario 2: I have an existing VM and want to add a disk.  Again, we have to provide information on all existing disks in the list, providing sizes gr

[2017-07-12 00:35] willthames opened #26664 "ec2_vpc_route_table not updating?"
_From @mattgrahamdevops on February 15, 2016 23:21_

Not sure if Im doing something wrong, but I can add the routes using ec2_vpc_route_table module but if I terminate the NAT instances that are in the routes (instance_id), you see the "black hole" in AWS GUI but for some reason when I go to run my playbook again, it creates new NAT's, gets the instance id's and then attempts to apply them to the

[2017-07-12 00:35] willthames commented on #26664
_From @ansibot on August 4, 2016 20:35_

@erydo, @wimnat, ping. This issue is waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-12 00:35] willthames commented on #26664
_From @antoineco on August 31, 2016 16:45_

I have a pretty much identical playbook and can confirm this is still happening on Ansible 2.1.1.0.

Ansible notifies about a change on the route table when the instance Id of the NAT instance has changed, but in fact nothing changes.

Playbook execution:
[code]
[code]
[code]
[code]

Actual state of the route table:
[code]

As the OP mentioned, deleting

[2017-07-12 00:35] willthames commented on #26664
_From @ansibot on August 31, 2016 16:48_

@erydo, @wimnat, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-12 00:35] willthames commented on #26664
_From @aleric323 on October 5, 2016 18:46_

Just ran into this, any progress?

[2017-07-12 00:35] willthames commented on #26664
_From @ansibot on October 5, 2016 19:14_

@erydo, @wimnat, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-12 00:35] willthames commented on #26664
_From @ansibot on October 21, 2016 8:55_

@erydo, @wimnat, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-12 00:35] willthames commented on #26664
_From @ansibot on November 6, 2016 10:55_

@erydo, @wimnat, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-12 00:35] willthames commented on #26664
_From @ansibot on November 22, 2016 11:2_

@erydo, @wimnat, ping. This issue is still waiting on your response.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-07-12 00:35] willthames commented on #26664
_From @ansibot on December 7, 2016 15:52_

This repository has been locked. All new issues and pull requests should be filed in https://github.com/ansible/ansible

Please read through the <a href="http://docs.ansible.com/ansible/dev_guide/repomerge.html#move-issues-and-prs-to-new-repo">repomerge</a> page in the dev guide. The guide contains links to tools which automatically move your issue or pul

[2017-07-12 00:35] willthames commented on #26664
_From @ivanbaldo on July 10, 2017 15:31_

Being bitten by this in Ansible 2.3.1.0.

[2017-07-12 00:40] dagwieers commented on #19573
@MichaelGoldsbie @Steiniche Please test PR #26612 and report back !

[2017-07-12 01:30] willthames commented on #26431
[citation needed] - as far as I know there is no documentation that this is expected behaviour or not. If `required_one_of` worked with sub argument specs, I'd favour using an argument spec for rules to enforce this a bit harder

(sub argument specs aren't yet widely used, but an example is https://github.com/willthames/ansible/blob/e9f02a77e9e9957a220a62196ccf3804afe2ee8b/lib/ansible/modules/clou

[2017-07-12 02:22] Akasurde commented on #24647
@Shasties Could you please provide output of [govc find /](https://github.com/vmware/govmomi/tree/master/govc/) command against your VMware setup ?

[2017-07-12 02:31] bcoca commented on #24207
@emonty not sure what you mean

[2017-07-12 02:31] lmilbaum commented on #16452
I hit the same error randomly while provisioning ec2 instances. Same ansible playbook every time. Sometime works perfectly and sometimes hitting this error.

[2017-07-12 03:07] #25011 closed, assigned to jctanner

[2017-07-12 03:10] jctanner opened #26669 "vmware_guest does not account for duplicate names for templates"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Related to https://github.com/ansible/ansible/issues/25011

If the template name exists in multiple datacenters, the wrong template may be used for the clone operaton. One way to overcome this is to allow the template value to be a

[2017-07-12 03:10] jctanner commented on #26669
cc @cigamit

[2017-07-12 04:26] sayantandas commented on #26521
@ronator . I initially reported this issue in Ansible 2.3.1 . I was testing if it works in other versions.  The bottomline is, it needs fixing .

[2017-07-12 05:52] sponnusamy opened #26670 "ERROR! Unexpected Exception: 'module' object has no attribute 'load_vars'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Mac OSX Sierra Version 10.12

##### SUMMARY

Getting below error when I try to bootstrap the hosts ERROR! Unexpected Exception: 'module' object has no attribute 'load_vars'

##### STEPS TO REPRODUCE
Im trying to bootstrapping hosts.

[code]

##### EXPECTED RESULTS

####

[2017-07-12 06:00] clhlc opened #26672 "ecs_taskdefinition not support logConfiguration parameter"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

modules/cloud/amazon/ecs_taskdefinition.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

AWS Ubuntu 14.04.5 LTS \n \l

##### SUMMARY

my ansible tasks is:

[code]

[2017-07-12 06:19] anross commented on #20494
Don't upgrade to fedora 26 or you'll hit this issue.

Comes with: python2-jinja2-2.9.6-1
And dnf downgrade says: `Package python2-jinja2 of lowest version already installed, cannot downgrade it.`

Probably not the best place, but workaround if you're on Fedora 26 to install the fc25 version of jinja2:

1. Copy the existing fedora-updates repo and call it (say) fedora-25-updates
1. Replace $release

[2017-07-12 06:36] rubdos opened #26673 "COPR support for DNF"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
dnf

##### SUMMARY
*Copr is a Fedora community build service in Fedora that builds your open-source project and creates your own RPM repository.*

It is sort of an RPM equivalent for the Arch User Repository; although one can host binary packages there.

[Here is the DNF plugin documentation](https://dnf-plugins-core.readthedocs.io/en/latest/c

[2017-07-12 06:42] igor-raits commented on #26673
I don't really like this idea, ansible has module to manage repos and I think that should be used... dnf copr is just too magic and too fragile.

[2017-07-12 07:58] rabin-io commented on #16305
@bcoca yes but this will bloat the play book, because for each template/copy/... one will have to add another code to move/copy the file, where if this option will be implemented as part of the backup functionality, it will produce a cleaner implementation.

[2017-07-12 08:10] Kniyl commented on #26586
I believe a fix would be

[code]

Tested against `devel`, it behaves as expected within roles and within includes.

[2017-07-12 08:42] roumano opened #26681 "template module not able to find file is used via ansible-pull on non interactive connexion"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
the module template is not able to find the file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Empty configuration

##### OS / ENVIRONMENT
Running it on Debian 8.8, installed ansible via pip, all packages are up2date

##### SUMMARY
if we run ansible-pull without connexion (via aws ssm-agent), the module template is not able to find a file
i

[2017-07-12 08:43] dagwieers commented on #26650
You are absolutely right, this is a recipe for disaster.

PS You can create a PR yourself with a change like this. Would have saved me a minute or two :-)

[2017-07-12 08:53] Shaps commented on #26670
Hi @sponnusamy, do you know which module fails? I see you have `library` in the module search path, maybe it's something wrong with a module in there?

[2017-07-12 09:07] robinro commented on #25937
close_me

@MyTotoro I believe this is fixed by the previous comments. Please reopen if this is not the case.

[2017-07-12 09:08] robinro commented on #24412
resolved_by_pr #26072

[2017-07-12 09:08] robinro commented on #22848
resolved_by_pr #26072

[2017-07-12 09:09] #24412 closed, assigned to nobody

[2017-07-12 09:09] #22848 closed, assigned to nobody

[2017-07-12 09:13] robinro commented on #19139
As stated in my earlier comment I believe the ansible module behaves exactly like native git, i.e. follows the remote HEAD when no version is specified.
close_me

If I misunderstood, please provide a public example repository, where a shell command `git clone` and the ansible git module lead to different results.

[2017-07-12 09:14] robinro commented on #15968
resolved_by_pr #26072

[2017-07-12 09:14] robinro commented on #15968
Fix is in devel and in 2.4

[2017-07-12 09:18] robinro commented on #13288
I believe this issue is no longer present in devel.
close_me

[2017-07-12 09:30] xswqaz opened #26685 "Setting environment variables from external file"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

os_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

I want variables (for os_server module) to defined in external file,
But, os_server module look for only environment variables not ansible variables

Failed to set value to environment variables by vars_files

##### STEPS TO REPRODUC

[2017-07-12 09:34] johnnys66 commented on #26522
Just tested the patch.
- without remove_chidlren (testing default)
- remove_children=true
- remove_children=false

Works as expected.
Thanks!

[2017-07-12 09:39] mgiannos opened #26687 "ec2_vol is unable to create larger volumes from snapshots"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vol

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default configuration

##### OS / ENVIRONMENT
Ubuntu  16.04.2 but it's not relevant

##### SUMMARY
Creating a new larger EBS volume from a snapshot using ec2_vol module, produces an error:
"Cannot specify volume_size together with id or snapshot"

##### STEPS TO REPRODUCE
Use the followi

[2017-07-12 09:57] ghost opened #26689 "VPC creation -> IAM credentials from ENV Variable not taken | Error: No handler was ready to authenticate. 1 handlers were checked. ['HmacAuthV4Handler'] Check your credentials""
Hi,

I have below playbook which creates VPC in AWS. If I give IAM credentails in playbook, my playbook works, however I donot want to expose the credentails to GIT repo, hence I try to set environment variables for my access and secret keys. But when I run the playbook with these env variables, I get the error:
""msg": "No handler was ready to authenticate. 1 handlers were checked. ['HmacAuthV4Ha

[2017-07-12 10:32] Akasurde commented on #26522
@johnnys66 Perfect. Thanks for testing this patch.

[2017-07-12 10:32] Akasurde commented on #26522
resolved_by_pr #26576

[2017-07-12 10:41] oliverprater opened #26690 "With ansible_python_interpreter python3 docker_login module breaks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module docker_login

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible_python_interpreter: "/usr/bin/python3"

The installed versions of pip packages on the docker host:

[code]
##### OS / ENVIRONMENT
Docker image: ubuntu:16.04

##### SUMMARY
The docker_login module fails with python3, but states inside https://docs.ansible.com/ansible/d

[2017-07-12 11:25] aioue commented on #26286
@s-hertel yes you're right. The module adds in an unspecified outbound rule.

This doesn't seem like good default behaviour, especially as in both cases - the `rules` section of the output is always 'null' (when actually it has added a rule).

- The module shouldn't add unspecified rules to existing groups (it's bad security at the very least)
- When the module does make changes to rules, they sho

[2017-07-12 13:01] PiotrFras opened #26696 "Add support for creating all S3 properties to S3 bucket module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
s3_bucket

##### SUMMARY
Currently it is only possibly to enable versioning for a bucket. I would like to create more properties with s3_bucket module:

- event
- logging
- transfer acceleration
- etc.

[2017-07-12 13:07] wimnat commented on #26696
The module needs a boto3 rewrite to support these features. It's not too high on my to-do list to be honest but I'm happy to review PRs

[2017-07-12 13:07] jody-frankowski opened #26697 "Play attributes don't override inventory parameters"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Variables
- Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Arch linux

##### SUMMARY

Setting play attributes, such as:

* user/remote_user
* become

Don't override inventory variables such as `ansible_user` and `ansible_become`.

My use case is to set the "usual" ansible user for every host in t

[2017-07-12 13:11] PiotrFras commented on #26696
@wimnat Thanks, could you create high-level guidelines, what needs to be done to support these features, please? I could look into it however I don't have expertise in python.

[2017-07-12 13:21] hryamzik opened #26698 "include_role: handlers issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### SUMMARY

Handlers are not found in `include_role`.

##### STEPS TO REPRODUCE

[code]

roles/test/main/tasks/main.yml
[code]

roles/test/included/handlers/main.yml
[code]

playbook
[code]

##### ACTUAL RESULTS

[code]

[2017-07-12 13:41] s-hertel commented on #26286
@aioue Thanks for the extra feedback. I think a solution for this may be to add more helpful output from this module.

Since this module is marked as stableinterface we can't change fundamental behavior. No unspecified inbound rules are ever created, but if no outbound rules are specified then a default all-out outbound rule is created. Docs on this behavior: https://github.com/ansible/ansible/blo

[2017-07-12 13:49] #26286 closed, assigned to nobody

[2017-07-12 13:52] aioue commented on #26286
That's unusual behaviour for Ansible (and any declarative config management system).

It makes sense when _creating_ a group, but creation of unspecified rules, when run against an existing group, is a stretch.

Can you vote for interfaces to change? (+1)

There's certainly a bug in the JSON response. `rules` is 'null' both times, yet on the first run, rules are changed, so you can't see what chan

[2017-07-12 14:02] s-hertel commented on #26286
@aioue A community meeting would be a good place to start if you want more opinions on this. Here's the schedule: https://github.com/ansible/community/tree/master/meetings
and the June/July agenda: https://github.com/ansible/community/issues/162
Feel free to link this on the agenda (or you can talk about it during open floor). Since this is an aws topic you could also join the #ansible-aws IRC cha

[2017-07-12 14:05] szymula commented on #26600
thanks for giving me an explanation.

Now I understand that failed task cannot send notification and I can control task failed state using `failed_when` parameter.

This is a bit problematic for my case, because I would like to send notification when task fails. Of course I can use `failed_when: "resuolt.rc == 0"` this will make task to not fail when command returns 1, notification will be sent. B

[2017-07-12 14:07] s-hertel commented on #26286
Also, rules are shown as null because it's the invocation. And no rules are being added anyway, the `egress_rules` are the outbound rules. The invocation output are just the parameters that you've given the module. There is currently no helpful output provided besides changed and the group id. I'm making a pull request to also provide rules/rules_egress data.

[2017-07-12 14:10] bcoca commented on #26600
then i would create a 2nd task (`debug`?) that is `changed_when: result|failed` that notifies the handler

[2017-07-12 14:14] fxfitz opened #26702 "ipa-dnsrecord: unable to support reverse DNS"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ipa_dnsrecord

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The new ipa_dnsrecord module (slated for release in 2.4; we've backported it for the time being) does not seem to support reverse DNS records at all.  While the A and AAAA record implementation appears to work great (thanks!), there d

[2017-07-12 14:15] eugenevd commented on #25493
I'm confused with the use of become_user.
With config given in OP:

- the work that ansible will do is put into a python script on the remote machine, something like: /tmp/ansible...../setup.py
- that directory and file is created as the user "remote_user" (only they and root has access).
- then we're given the option to do "become_user" (eg; postgres) to perform said tasks (...setup.py)
- BUT pos

[2017-07-12 14:24] calfonso commented on #26698
It would appear you're not using include_role.  Where are you using include_role and where is the role being included?

needs_info

[2017-07-12 14:27] szymula commented on #26600
I corrected the playbook, here is a code snippet
[code]
the only problem I can see right now is 1 changed host in play recap, but this is acceptable.

PLAY RECAP *********************************************************************************************************
host1                : ok=3    changed=1    unreachable=0    failed=0
host2                : ok=2    changed=0    unreachable=0    f

[2017-07-12 14:31] bcoca commented on #26697
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Connection variables have the highest precedence, they override play keywords. If you want to set defaults do so in ansible.cfg or the

[2017-07-12 14:31] #26697 closed, assigned to nobody

[2017-07-12 14:32] abadger commented on #26698
Looking at this, the handler is never being included in the play so it won't be found.  This is a user question rather than a bug in the ansible code.  I'll paste the mailing list and irc information where you can post to get help on writing the playbook so that hte handler will be found below:

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely me

[2017-07-12 14:32] #26698 closed, assigned to nobody

[2017-07-12 14:33] bcoca commented on #26689
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-07-12 14:33] #26689 closed, assigned to nobody

[2017-07-12 14:38] calfonso commented on #26647
Would you please re-run this with -vvvv and provide the output for us to examine?

needs_info

[2017-07-12 14:42] jacekjaros commented on #25493
This should be possible to fix by adding `pipelining = True` in `ssh_connection` in ansible config but in my setup i get `"Timeout (12s) waiting for privilege escalation prompt: "` (there is few open tickets related to this error). Any idea how to fix it without enabling pipelining?

[2017-07-12 14:47] mchassy commented on #26647
Here you go
[code]

[2017-07-12 14:52] trstringer commented on #26411
Thank you for raising this issue, I'll look into this.

[2017-07-12 14:56] ghjm commented on #26305
See https://github.com/ansible/ansible/pull/26705 @rmfitzpatrick @abadger @bcoca

[2017-07-12 15:09] silid commented on #24647
When I run it against mine I get a full hierarchy of Datacenter through to datastores, hosts and networks
About 750 lines of output.

A snippet:
[code]

[2017-07-12 15:11] zzzeek commented on #26650
I tend to file an issue because I wasn't sure if there was some reason those ignores were there.

[2017-07-12 15:11] pilou- commented on #25493
@jacekjaros you could `Install POSIX.1e filesystem acl support on the managed host` ([see](https://docs.ansible.com/ansible/become.html#becoming-an-unprivileged-user)).

[2017-07-12 15:13] dagwieers commented on #26650
Fair enough. They surely were added for a reason, but definitely the wrong reason ;-)

[2017-07-12 15:17] dagwieers commented on #16724
This relates to: https://github.com/ansible/ansible/issues/24076

[2017-07-12 15:21] blundey opened #26708 "docker_network module bug in icc option"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker_network
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When using the docker_network module and setting a driver option:

com.docker.network.bridge.enable_icc: false

The module crashes with a 500 error. Tested other driver options and they all work fine.
##### STEPS TO REPRODUCE

[code]

####

[2017-07-12 15:36] samdoran commented on #26670
The `~/Library` directory on macOS confuses Ansible, so it's best not to use your home directory for Ansible things on macOS. You can ask for further clarification on the mailing list or IRC.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue tracker for

[2017-07-12 15:36] mikewiebe commented on #25510
@Qalthos Yes, this fix resolves the traceback.

[2017-07-12 15:36] #26670 closed, assigned to nobody

[2017-07-12 15:42] bcoca commented on #26685
cc @emonty

[2017-07-12 15:44] samdoran commented on #26687
cc @willthames @s-hertel

[2017-07-12 15:50] jimi-c commented on #26685
A way to make this work would be to move all of the `OS_` variables in the yml to a top level key, like this:
[code]
Then, in your task, use that variable with the `environment` option:
```environment: "{{os_vars}}"```
Just as a quick POC, here's a sample playbook:
[code]
When run:
[code]

[2017-07-12 15:55] mikewiebe commented on #25507
@Qalthos I can't seem to reproduce the problem now either using https://github.com/ansible/ansible/pull/26192.

[2017-07-12 16:23] alikins opened #26710 "test issue, delete me"
Blorp
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-12 16:23] #26710 closed, assigned to nobody

[2017-07-12 17:06] gg7 opened #26712 ""replace" module replaces wrong lines with regex containing `[^#]*`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`modules/files/replace.py`

##### ANSIBLE VERSION
[code]

I also tried reproducing with the `devel` branch but Ansible is completely broken:

[code]

##### CONFIGURATION

Problem occurs even without `ansible.cfg`.

##### OS / ENVIRONMENT

Gentoo Linux.

##### SUMMARY

The `replace` module replaces the wrong line(s).

##### STEPS TO REPRODUCE

[2017-07-12 17:09] lebonez commented on #19973
I built this a few months back. It is still under development as well. Just for reference if you need more information. https://github.com/lebonez/solid-server-python-api

[2017-07-12 17:13] mcdowellstl commented on #9065
Going to +1 to question the ansible design here.
In the real world, many different applications can run on the same host.
Scoping group_vars at the host-level simply doesn't cover this use-case.

Just as a thought experiment:
- Let's assume that the default behavior was modified so that running ansible-playbook with the "-l" option uses the group_vars child file (if it exists).
- You could still h

[2017-07-12 17:26] ganeshrn commented on #25544
When `ANISBLE_DEBUG` is set, this [call](https://github.com/ansible/ansible/blob/devel/bin/ansible-connection#L294) triggers a [debug message](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/__init__.py#L395) which is send on stdout of `ansible-connection` running as background process.

This debug message is interpreted as socket path resulting in `AF_UNIX path too long` error.

[2017-07-12 17:56] bdlamprecht commented on #23949
I'm also seeing this issue, but only on 6509-Sup720-10G.
Other platforms, such as the 6504-Sup2T, work just fine.

From the PB:
[code]

[code]

[2017-07-12 18:56] hryamzik commented on #26698
Oops, missed that step, updated issue.

[2017-07-12 19:00] jmcleroy opened #26717 "nxos_config failure on new nxos code 7.0.3.I4.5.bin"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

(Red Hat 4.8.5-4)]

##### SUMMARY

When using nxos_config on code version 7.0.3.I4.5.bin it fails with unable to connect and the below output however nxos_command works with show commands on the same device.

##### STEPS TO REPRODUCE

Using a role called be

[2017-07-12 19:03] hryamzik opened #26718 "include_role: handlers issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role

##### ANSIBLE VERSION

[code]

##### SUMMARY

Handlers are not found in `include_role`.

##### STEPS TO REPRODUCE

[code]

roles/test/main/tasks/main.yml
[code]

roles/test/included/handlers/main.yml
[code]

playbook
[code]

Note `handlers` section, works fine without it!

##### ACTUAL RESULTS

[code]

Clone of #26698 that was cl

[2017-07-12 19:39] #25510 closed, assigned to Qalthos

[2017-07-12 20:03] Qalthos commented on #26300
So it is, that seems to be my fault.

[2017-07-12 20:06] Qalthos commented on #26544
#26716 fixes the issues with the integration tests here, if this fixes it for you, let me know and I'll merge

[2017-07-12 20:30] aluksidadi commented on #25941
I got this error as well on a very simple playbook:

[code]

I ssh'ed no problem from my terminal

Im running Ansible 2.2.1.0 deploying to Ubuntu 16.04

[2017-07-12 20:39] aluksidadi commented on #25941
I downgraded Ubuntu to 14.04, and the playbook worked.

So the problem is connecting to that specific ubuntu version (16.04)

[2017-07-12 20:50] emonty commented on #26685
@xswqaz if you're going to put your variables in an external yaml file- put them into a clouds.yaml file which is fully supported.

Documentation for clouds.yaml can be found here:

https://docs.openstack.org/os-client-config/latest/user/configuration.html#config-files

If you have a clouds.yaml file, all of the os_ modules will absolutely read and use the values in them. It's the primary method o

[2017-07-12 20:53] EvanK commented on #26712
This isn't an issue with the replace module, but rather with the intricacies of [python's regex engine](https://docs.python.org/2/library/re.html) when `re.MULTILINE` is switched on.

Specifically, it looks like the greedy matching of `[^#]*` is what's throwing you -- zero or more (and _as many as possible_) non-hash characters, _possibly including linebreaks_.

That's why it's commenting out the

[2017-07-12 20:53] #26712 closed, assigned to nobody

[2017-07-12 21:14] gg7 commented on #26712
Thanks for the suggestion.

The [`replace` documentation](https://docs.ansible.com/ansible/replace_module.html) states:

As someone who doesn't remember what Python means by "multiline" and who mostly skims documentation, I read the second sentence as "your regex will work on individual lines", not as "your regex will operate on the entire file and `.*` can match multiple newlines".

Python's [`re

[2017-07-12 21:22] EvanK commented on #26712
To clarify, `.*` _cannot_ match newlines in this particular case -- it matches zero or more of any character _except_ a newline. A complemented character set, on the other hand, will match any character except what's contained in the set -- which is why `[^#]*` was matching newlines.

When I have the bandwidth, I'll make a PR to touch up the docs to avoid this confusion in the future. Cheers

[2017-07-12 21:26] bdlamprecht opened #26725 "'ios_vrf' removes the existing IP addresses from interface"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_vrf

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Standard

##### OS / ENVIRONMENT
Ubuntu 16.04.2 LTS

##### SUMMARY
When the module `ios_vrf` is used to add a new VRF, it doesn't add the configuration lines  `address-family [ipv4|ipv6]` under the `vrf definition` section so that IP addresses can be added to interfaces.
 If these don't

[2017-07-12 21:35] ghjm commented on #26305
Here's a better fix @rmfitzpatrick @abadger @bcoca

[2017-07-12 21:42] chouseknecht commented on #26647
@mchassy

I pared your definition down to the following, so that I could run it locally:

[code]

Not seeing an error. The services start as expected. I wonder if `cpu_count` is a configuration setting on your images?

[2017-07-12 22:10] vinitkhandagle commented on #15321
I had the same issue:

The Above quote that I wrote yesterday, thinking that the Issue got resolved. **THE ABOVE SETTINGS I MENTIONED ARE NOT THE RIGHT ANSWER**

## Heres what solved the problem
From what I see. The way ansible is working is quite right. It takes into consideration that you can ship your ansible.cfg file with your code. So the earlier versions actually worked with your `.ssh/confi

[2017-07-12 23:09] schainks commented on #23547
Also hitting this issue on Ansible 2.3.1.0.  One way to get around this is by stat-ing the file you want to overwrite and removing it if it exists before doing the S3 Get.  This isn't idempotent, but at least keeps your sanity in check.

[2017-07-12 23:13] woshihaoren commented on #26472
https://github.com/ansible/ansible/pull/26492
new_module

[2017-07-12 23:16] woshihaoren commented on #26386
@gundalow I slove it
https://github.com/ansible/ansible/pull/26527

[2017-07-12 23:19] #24656 closed, assigned to nobody

[2017-07-12 23:29] jdambly-ns commented on #16945
👍

[2017-07-12 23:30] xswqaz commented on #26685
@emonty There are several users in single server for ansible scripts
So, It needs to configure setting file per users
(Each users use single account to login)

clouds.yaml should be located in absolute path

[2017-07-13 00:52] sdodson commented on #20033
Yeah, we do the same as @oboukili suggested.

[2017-07-13 01:06] xswqaz commented on #26685
@jimi-c Label was not helpful, It only works when I set environment variable for each

[code]

This works. but it is tedious to define variables twice
[code]

[2017-07-13 01:18] dmizelle commented on #26718
I don't think handlers included via `include_role` work like that.

At the time that your debug task is running in `roles/test/main/tasks/main.yml`, there is no defined handler named `pong`.

Ansible doesn't work like other CM systems (Puppet, etc) where the entire DSL is compiled and ran as a catalog. It is more of a procedural, declarative one. You need need to define the handler before the task

[2017-07-13 01:35] dmizelle commented on #26622
Are the lsb* packages installed?

[code]

after installing lsb-core (you can probably be more specific than that package group, it pulls in x11 stuff and fonts in stretch):

[code]

[2017-07-13 04:25] Amruthapv opened #26732 "Unable to ssh from ansible"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible ssh
##### ANSIBLE VERSION
ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.6 (default, Mar 22 2014, 22:59:56) [GCC 4.8.2]

[code]

[code]

[2017-07-13 04:51] ghost commented on #26689
The environment variable settings were not in quotes, which later resolved the issues. Thank you.

[2017-07-13 06:07] rubal033 commented on #24214
You can't set tags on cluster but you can on nodes of cluster and there is no way to do that using ansible. It would be really good if we would able to tag cluster nodes.

[2017-07-13 06:15] seb1281 commented on #25941
I'v had this issue on Ubuntu server 16.04 and 14.04 when using the latest ansible (2..3.1.0). After going back to Ansible version 2.2.2.0 on Ubuntu server 14.04 the problem was gone. So it seems like it's a issue of ansible 2.3.1.0 on Ubuntu generally. Can someone confirm this?

Edit: By now I had no time to test ansible 2.2.2.0 on Ubuntu server 16.04 to see if this works.

Edit 2: I did some addi

[2017-07-13 07:42] narankhetani commented on #26358
@ganeshrn yes and no, I get the following output:
[code]
In which case should it still not return the warning messages in stdout?

[2017-07-13 08:23] snevs commented on #14879
I'm having a similar issue and it's not consistent across all my servers population:

`- name: Backup all MySQL databases
    mysql_db:
      state: dump
      name: all
      target: "{{ bkp }}/mysql_all_databases.sql.gz"
      login_user: root
      login_password: "{{ root_pass.stdout }}"

TASK [backups : Backup all MySQL databases] ************************************

FAILED! => {"changed": f

[2017-07-13 09:09] cyrilsebastian opened #26739 "Want to connect Windows10 from Ansible installed on CentOS 7/Ubuntu 16.04"
Hi. I want to access on Windows10 via Ansible which is installed in CentOS 7 and test lab is on VMware workstation.

Things I have completed
- Successfully run ConfigureRemotingForAnsible.ps1 on Windows10 powershell.
- Installed Ansible 2.3 and WinRM on CentOS 7.
- Enabled Administrator on Windows 10.

Tree structure of the configuration files are at /etc/ansible/
[code]

windows.yml
[code]

hosts

[2017-07-13 09:12] Shaps commented on #26732
Hi @Amruthapv!
Can you please paste the output adding the `-vvvv` to the ansible command?
Also, have you tried ssh'ing to the box directly?

[2017-07-13 09:14] Amruthapv commented on #26732
Using /etc/ansible/ansible.cfg as config file
Loading callback plugin default of type stdout, v2.0 from /usr/local/lib/python2.7/dist-packages/ansible-2.3.0.0-py2.7.egg/ansible/plugins/callback/__init__.pyc

PLAYBOOK: svm.yml ******************************************************************************************************************************************************************************

[2017-07-13 09:15] Amruthapv commented on #26732
yes i have tried to ssh the box directly and it works

[2017-07-13 09:18] sndrsmnk opened #26740 "Ansible not IPv6 ready."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Issue appears in modules `get_url` and `apt_key` but they seem to rely on shared code so this issue might be broader than these two modules we've encountered it in.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu Xenial Xerus 16.04.2
**The managed box only has IPv6 network connectivity**

##### SUMMARY
Tryin

[2017-07-13 09:18] Amruthapv commented on #26732
PLAY [Sample Playbook] ******************************************************************************************************************************************************************************

TASK [Gathering Facts] ******************************************************************************************************************************************************************************
fat

[2017-07-13 09:21] hryamzik commented on #26718
@dmizelle you are wrong. It even works fine if you remove `handlers` section from this playbook.

[2017-07-13 09:24] Lujeni commented on #21006
@s-hertel @shobhitsingh friendly bump

[2017-07-13 09:24] dagwieers commented on #26740
@sndrsmnk I don't like to point people to Google searches (you may as well have done this yourself), but in this case there were some pages hinting to the IPV6 setup and things to try: [google: python "Network is unreachable" ipv6](https://www.google.be/search?q=python+%22Network+is+unreachable%22+ipv6)

PS There is also a link to issue #4482

[2017-07-13 09:28] sndrsmnk commented on #26740
<code>apt_key</code> and <code>get_url</code> each eventually call <code>fetch_url</code> from <code>lib/ansible/module_utils/urls.py</code>.

I'm using Python 2.7.12

This snippet works fine:
[code]
So i doubt it's Python, or the connectivity on this box.

[2017-07-13 09:32] Kniyl opened #26741 "Shell module breaks when becoming a user whose configured shell is /usr/sbin/nologin"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default

##### OS / ENVIRONMENT

Host: Ubuntu 16.04

##### SUMMARY

When using the `shell` module with `become_user` configured to a user whose default shell is `/usr/sbin/nologin`, the task fails with the message `"This account is currently not available."`. Setting `become_flags: '-s

[2017-07-13 09:59] shobhitsingh commented on #21006
Hello @Lujeni
I am sorry for not coming back to this as I was occupied with something. My ansible version is 2.3.0. What I observed was I had mysql 5.6 cluster installed on that machine and with libmysqlclient-dev, it tries to install mysql 5.7 cluster, that's why it was failing. We can close this defect. I will come back again if it causes some other problems.

Thanks for your support

[2017-07-13 09:59] dagwieers commented on #26740
@sndrsmnk I wasn't saying python was the problem.

[code]

So there may still be something wrong with the target node.

[code]

[2017-07-13 10:07] dagwieers commented on #26740
Leuk dat jullie in groep elkaar steunen op Github, trouwens ;-)

[2017-07-13 10:29] mchassy commented on #26647
I have pared down to the same, but I am still getting the same error.
Are you using the AWS linux as well?

[code]
[code]

[2017-07-13 10:52] sndrsmnk commented on #26740
The likes-sprinkling supporters are my colleagues. (Hi colleagues!)
Which goes to show this isn't just me digging around what's going on. ;-)

I ran a HTTP test on <code>ip6.8n1.org</code> via the [NLNOG Ring Project](https://ring.nlnog.net/).
It reports 360 servers all over the world can reach the site just fine.

If you doubt my m4d n3tw0rk sk1llz, which i understand, perhaps try any of the [tes

[2017-07-13 11:58] davidfischer-ch opened #26747 "Service module use argument not implemented"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service module

##### ANSIBLE VERSION
All versions, starting from 2.2 since it was documented but not implemented

[code]

##### CONFIGURATION

Nothing particular.

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

The use argument is valid because its documented, but not backed by the code...

https://github.com/ansible/ansible/commit/d2fec9

[2017-07-13 12:18] filip-vt opened #26749 "ansible tries every loaded ssh key even though you specify --private-key option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
--private-key

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
macos, managing ubuntu 14.04/16.04

##### SUMMARY
Even though you specify explicitly the private key to use, with --private-key, ansible will try every loaded key (with `ssh-add`) when trying to SSH. This becomes a problem when you have a certain number of keys loaded. Because

[2017-07-13 12:48] leegarrett opened #26750 "Module archive: fails in check_mode if archive file to create doesn't exist"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The bug is fairly straight-forward: Use the archive module. If the file listed in the 'dest' parameter doesn't exist and ansible is run with --check, it will fail and complain that the file doesn't exist. Full playbook to reproduce below.

#####

[2017-07-13 12:50] Lujeni commented on #19504
@jimi-c @BastianVoigt

https://jira.mongodb.org/browse/SERVER-22848 mongodb decided to close the issue.

Imho we can close this issue and use the `on_create`  directive.

Ciao

[2017-07-13 13:30] Qalthos commented on #25513
Alright. `lookup_source` does not do anything in nxos, so I have removed it from EXAMPLES and made it a noop in the arg_spec. This, to my understanding, is to keep up with net_system, and might get removed at a later date, but should fix things for now.

[2017-07-13 13:30] maciejkowalczyk opened #26751 ""always" and "rescue" clauses should not be allowed without "block""
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

playbook

##### ANSIBLE VERSION

[code]

##### SUMMARY

I think it's no reason to use an `always` or `rescue` clauses without `block`.
However, this may happen by mistake and does not cause a parsing error.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2017-07-13 13:32] maciejkowalczyk commented on #26751
I don't know if such approach is correct but seems to work:
[code]

[2017-07-13 14:00] bronco0 opened #26755 "azure_rm_virtualmachine not create VM with multi NICs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nope

##### OS / ENVIRONMENT

Linux Ubuntu 16.10 Yaketty
Linux Debian 8 Jessy

##### SUMMARY

Is not possible to create a VM with more than one NIC.
The ```azure_rm_virtualmachine``` module return error.

##### STEPS TO REPRODUCE

1. Getting Started with Azure
Follow

[2017-07-13 14:12] aioue opened #26756 "rds module does not support check mode and diff"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=47184273)](https://www.bountysource.com/issues/47184273-rds-module-does-not-support-check-mode-and-diff)

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

rds

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

rds module does not support check mode, making safe 'dry-run' testing impo

[2017-07-13 14:21] bcoca commented on #20513
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

All action plugins require a corresponding module file, which at the very least acts as documentation for the action.

In the future, t

[2017-07-13 14:21] #20513 closed, assigned to nobody

[2017-07-13 14:21] ankit87gupta commented on #16215
Facing the same issue, trying to synchronize directories from remote to remote using delegate_to
In the target machine, the directories are copied with root user

synchronize:
      src: "<some source>"
      dest: "<some target>"
      recursive: yes
      checksum: yes
      ssh_args: "-l {{ target_user }}"
      rsync_opts:
       - "--include=*"
       - "--include=.*"
  delegate_to: "{{ item

[2017-07-13 14:22] ankit87gupta commented on #16215
The files are copied like

drwxr-xr-x 2 root root 4096 Jul 13 17:57 bin
drwxr-xr-x 3 root root 4096 Jul 13 17:57 conf
drwxrwxr-x 2 root root 4096 Jul 13 17:57 lib

[2017-07-13 14:23] aioue opened #26759 "route53_zone does not support check mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

route53_zone

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

route53_zone module does not support check mode, making safe 'dry-run' testing impossible.

##### STEPS TO REPRODUCE

Run any destructive change task using the `route53_zone` module, using the `--check` command line switch, or `check_mode

[2017-07-13 14:23] Qalthos commented on #26301
Not in my experience (outside of quite a few nxos modules), though it might be present elsewhere. I was really hoping this was something handled by nxos, as there are quite a few places where `'default'` is allowed to fall through unchanged, and I don't know what the proper values for each might be.

[2017-07-13 14:32] ankit87gupta commented on #16215
When i use the ssh_args it gives the below error :

"sudo: no tty present and no askpass program specified\nrsync: connection unexpectedly closed (0 bytes received so far) [sender]\nrsync error: error in rsync protocol data stream (code 12) at io.c(605)

[2017-07-13 14:43] mpasserini opened #26760 "Add ability to create OpenStack users without password"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible/lib/ansible/modules/cloud/openstack/os_user.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
RHOSP11/OpenStack Ocata

##### SUMMARY
I can create users without password from the OpenStack CLI but ansible os_user requires to type a password. I need to create users without password because they authenticate wi

[2017-07-13 14:52] aioue opened #26762 "rds_subnet_group does not support check mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

rds_subnet_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

rds_subnet_group module does not support check mode, making safe 'dry-run' testing impossible.

##### STEPS TO REPRODUCE

Run any destructive change task using the `rds_subnet_group` module, using the `--check` command line switch, or

[2017-07-13 15:04] mpasserini opened #26763 "Add user"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
 ansible/lib/ansible/modules/cloud/openstack/os_user_role.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
RHOSP11 / OpenStack Ocata

##### SUMMARY

I don't think it's possible to specify "group, project, user, role domain" on os_user_role_module, but it's possible on the openstack CLI (v3).
This is the official do

[2017-07-13 15:20] asmartin commented on #9034
@rbramwell thanks for the suggestion, however even in this case the header is still printed (which takes up space and clutters the output). The ideal solution I am looking for is that only the tasks that are actually run are displayed (including the headers).

[2017-07-13 15:23] jhcook commented on #13262
This so needs to get done. I was going through my code and chased this up from last year. This is a perfectly valid use case.

[2017-07-13 15:48] smiller171 commented on #13262
@jhcook No one's denied that it's a valid use-case, just that it will take a lot of work and no one's stepped up to take it on. To quote @bcoca:

[2017-07-13 16:24] #25078 closed, assigned to abadger, bcoca

[2017-07-13 17:28] sponnusamy opened #26768 "Alternative blockinfile in Ansible 1.9"
##### ISSUE TYPE

 - Bug Report
 ##### COMPONENT NAME
Can you please suggest how to achieve blockinfile feature in  Ansible 1.9

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-07-13 17:31] sponnusamy commented on #26670
The issue is resolved. I supposed to run the command in 1.9 instead of 2.3. After the downgrade it works

[2017-07-13 18:34] rahushen commented on #26544
@Qalthos integration tests passed on all platforms. Please go ahead with the merge.

[2017-07-13 18:39] Taytay commented on #16048
Installing the `acl` package as a first task worked for me to solve this problem.

[2017-07-13 19:04] #25784 closed, assigned to nobody

[2017-07-13 19:08] #26687 closed, assigned to nobody

[2017-07-13 19:13] #26305 closed, assigned to bcoca

[2017-07-13 19:15] senorsmile commented on #9034
This has become an actual issue for us.  We have a huge role that skips a lot of things.  It usually only runs when a special variable is defined.  I just did a run against 29 hosts, and it took 0:04:57.888 according to the profiler to just skip the main task in that role.  That's 5 minutes of wasted scrolling of skipped tasks.  It is painful watching all the scrolling of skipped items for dozens

[2017-07-13 19:17] jhawkesworth commented on #25344
For info @bhcleek #25012 has been merged, so will be in ansible 2.4

[2017-07-13 19:20] calfonso commented on #26732
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project
If you can stop by there, we'd appreciate it. This allows us to keep the issue tr

[2017-07-13 19:20] #26732 closed, assigned to nobody

[2017-07-13 19:24] calfonso commented on #26741
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project
If you can stop by there, we'd appreciate it. This allows us to keep the issue tr

[2017-07-13 19:24] #26741 closed, assigned to nobody

[2017-07-13 19:31] calfonso commented on #26747
Hi!

Thanks very much for your submission to Ansible. It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational. Let's explain what we're thinking:

We believe it's a misunderstanding, the code is in the action plugin not in the module itself.

As such, we're going to close this ticket. However, we're open to being corrected, should you wish to

[2017-07-13 19:31] #26747 closed, assigned to nobody

[2017-07-13 19:33] calfonso commented on #26749
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel. When you bring it to the list we can talk about your ssh agent config.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project
If you can

[2017-07-13 19:33] #26749 closed, assigned to nobody

[2017-07-13 19:36] bcoca commented on #26751
can you give an actual example, the one above fails with:
[code]

[2017-07-13 19:38] bcoca commented on #26751
going to assume you mean this:
[code]
which does give the error you point out, the patch looks good to fix this, want to send it in as a pull request?

[2017-07-13 19:42] calfonso commented on #26768
Hi!

Thanks very much for your interest in Ansible. It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project
If you can stop by there, we'd appreciate it. This allows us to keep the issue tr

[2017-07-13 19:42] #26768 closed, assigned to nobody

[2017-07-13 19:43] abadger commented on #20702
To apply bcoca's answer a little more to the question:

This is ansible working as designed.  Any file in a module directory can
potentially override another module in a directory that is lower on the food
chain.  The controller-side Ansible can't tell whether a file will execute
successfully on the remote machine so it can't make decisions about whether
it's valid or not.

So I assume that the ba

[2017-07-13 19:43] #20702 closed, assigned to nobody

[2017-07-13 19:47] Kniyl commented on #26741
Hi @calfonso

I don't get how I made it to appear like a user request but anyway..  I'm not asking how to make the playbook work. It _does_ work. Using ansible 2.3.1.0 it produces the expected output.

However, after
[code]
the same playbook fails with the provided error.

[2017-07-13 20:06] davidfischer-ch commented on #26747
Hi!

Thank you very much.

However I will not open an issue if the feature is working properly ... And today I discovered that using "use" to force systemd or systemv * do not work properly. At least not on Ubuntu 16.04.

* I do not remember which one exactly, I can take some time to write a working example.

[2017-07-13 20:09] babatundebusari commented on #26574
still need help with this..i get empty list of resources
dynamic inventory not working for me

will appreciate any help
thanks!

[2017-07-13 20:16] nwillc commented on #25710
Am seeing this too, on RHEL clients that are part of a docker swam.

[2017-07-13 20:23] #26544 closed, assigned to nobody

[2017-07-13 20:37] jimi-c commented on #26751
@maciejkowalczyk9ld that patch seems fine, as bcoca says send it to us in a PR whenever you're able.

[2017-07-13 20:53] Qalthos commented on #25507
Good news, this issue was actually a case of #26544, and after removing the workarounds for the aforementioned bug, all that's left is some trimming of unused code.

resolved_by_pr #26716

[2017-07-13 21:01] #25507 closed, assigned to Qalthos

[2017-07-13 21:08] bcoca commented on #26648
I actually get the following:
[code]

[2017-07-13 21:48] cigamit commented on #26237
A few questions.

1. Do you have VMWare Tools or open-vm-tools installed on your template and is it set to start on boot up?
2. If using open-vm-tools, do you have perl installed on your template?

[2017-07-13 21:54] cigamit commented on #25967
Can you see if #26511 and #26719 corrects this issue for you? (should be able to just pull the latest dev)
There is one caveat, you will now have to specify the full path to the new VM, such as
folder: /our_datacenter/vm/sas-jenkins-001
in the above example.  I am hoping we will get it worked out to allow the relative path again here shortly.

[2017-07-13 21:59] cigamit commented on #24548
@sayantandas can you check this again against the latest code.  JCTanner made a few changes in #26511 and #26719 that corrected this for me.

[2017-07-13 22:01] urjitbhatia commented on #25961
Happening on Ubuntu 14.04 EC2 instances as well - this used to work for us as it is. It stopped running with recent(ish) changes to ansible.

[2017-07-13 22:33] bcoca commented on #26648
So this is intended and expected behaviour, as the key is undefined, to avoid this use the default filter:
[code]

[2017-07-13 22:34] bcoca commented on #26648
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In the future, this might be a topic more well suited for the user list, which you can also post here if you'd like some more help with

[2017-07-13 22:34] #26648 closed, assigned to nobody

[2017-07-13 22:36] simplesteph commented on #26672
I believe log configuration works for ecs service. Have you had a look at the doc for that module ?

[2017-07-13 22:50] jagibson commented on #23593
Just as a follow-up - I've since moved to a new laptop and am running Ansible 2.3.1.  I've installed all of my python modules inside of a virtualenv environment (besides the os defaults) and I'm not getting the error anymore.

[2017-07-13 22:55] bcoca commented on #25778
fixed by #25798

[2017-07-13 22:55] #25778 closed, assigned to nobody

[2017-07-13 23:15] thanatos commented on #7633
So, I stumbled on this bug by Googling "where do I put custom ansible modules" or something similar, _because I couldn't find it in the docs_, so I have to disagree with this bug being closed.

That page never mentions "library" in the context of being a particular directory. (The word library appears literally, but not in that manner.)

[2017-07-14 00:12] kamranayub commented on #7633
Hi Roy, I agree with you which is why I have an open PR to improve the docs
for this. It is still in progress.

On Thu, Jul 13, 2017, 18:16 Roy Wellington Ⅳ <notifications@github.com>
wrote:

[2017-07-14 01:47] encirca-services opened #26776 "sts_assume_role throws TypeError assume_role() takes at most 6 arguments (8 given)\r\n", "msg": "MODULE FAILURE"}"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- sts_assume_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

- Using default configuration

##### OS / ENVIRONMENT

- **Source**: macOS Sierra (10.12.5)
- **Target**: Centos 7

##### SUMMARY

Configuring sts_assume_role results in a `TypeError` concerning the arguments supplied to a function called `assume_role`.  Specifically: `assume

[2017-07-14 01:49] revprez commented on #26776
Also having this issue. Same setup.

[2017-07-14 02:09] clhlc commented on #26672
@simplesteph  Hi， I look at the doc url [http://docs.ansible.com/ansible/ecs_service_module.html](url). And I can not find parameters like "log configuration".

In addition I just run a task use ecs task_definition. I am not use ecs service.

[2017-07-14 02:17] jctanner commented on #26472
resolved_by_pr https://github.com/ansible/ansible/pull/26492

[2017-07-14 02:29] jctanner commented on #10624
We have a few modules for mac now:

http://docs.ansible.com/ansible/homebrew_module.html
http://docs.ansible.com/ansible/homebrew_cask_module.html
http://docs.ansible.com/ansible/homebrew_tap_module.html
http://docs.ansible.com/ansible/macports_module.html

macports and homebrew should also be autoselected for the ansible_pkg_mgr variable.

https://github.com/ansible/ansible/blob/devel/lib/ansible

[2017-07-14 02:29] #10624 closed, assigned to nobody

[2017-07-14 02:34] jctanner commented on #10824
I'm pretty sure this is the default behavior now in the code.

https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/cache/jsonfile.py
[code]

https://github.com/ansible/ansible/blob/devel/lib/ansible/parsing/utils/jsonify.py
[code]

[2017-07-14 02:34] #10824 closed, assigned to nobody

[2017-07-14 03:29] clhlc commented on #26672
ohh, logconfiguration is container parameter, I fixed my ansible tasks and run success.

[code]

[2017-07-14 03:29] #26672 closed, assigned to nobody

[2017-07-14 03:34] dungdm93 opened #26778 "NPM install: Failed to parse JSON output of `npm list`"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

[npm](http://docs.ansible.com/ansible/npm_module.html)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### SUMMARY
I create a react project created from `create-react-app` then deploy using ansbile.
[code]
I got an error:
[code]
However, when I using `command` module like this, everything work fine.
[code]

[2017-07-14 03:43] bcoca commented on #18124
this is fixed in 2.3.0  and current devel

[2017-07-14 04:03] bcoca commented on #19472
this is now working in current devel and in 2.3

[2017-07-14 04:13] bcoca commented on #14641
Someone in irc just mentioned that it only happens if 'networking' (fixed when !networking is used in fact subsets) is involved ... do all of you have a network interface named 'local'?

[2017-07-14 05:53] kevensen commented on #26633
resolved_by_pr 26653
bug_resolved

[2017-07-14 05:54] #26633 closed, assigned to nobody

[2017-07-14 07:44] sayantandas commented on #26237
@cigamit :
1. open-vm-tools is installed is installed and set on boot
2. perl is not installed

**Update:**
I installed perl on the template and re-ran the playbook. Now I get the following error

`fatal: [localhost -> localhost]: FAILED! => {"changed": true, "failed": true, "msg": "Guest Customization is already pending."}
`

[2017-07-14 08:05] ReSearchITEng commented on #20492
python 3 is not there in big distributions like CentOS/RHEL.

I would add, on top of @antoinetran that, with python 2.7, a one cannot have both: ansible and docker-compose happy.
-> ansible modules like docker & docker-login require docker-py
-> docker-compose require docker  (and does not work if both docker and docker-py are installed):
[code]
So it's either ansible working or docker-compose. It

[2017-07-14 08:14] ReSearchITEng opened #26787 "20492-reopen: modules docker & docker-login not working with new python docker module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module=docker & docker-login

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS/RH7.3

##### SUMMARY

reopen #20492

python 3 is not there in big distributions like CentOS/RHEL.

With python 2.7, a one cannot have both: ansible and docker-compose happy.
-> ansible modules like docker & docker-login require docker-py
-> docker-compose r

[2017-07-14 09:52] #22791 closed, assigned to nobody

[2017-07-14 09:56] chrisbainbridge opened #26791 "cloud/misc/virt.py does not support multiple args (e.g. state and autostart)"
##### ISSUE TYPE
 - Bug Report
 - Documentation Report

##### COMPONENT NAME
cloud/misc/virt.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

"state" and "autostart" can not be specified at the same time, as in:
[code]

virt.py core(module) will return success if state is changed without executing the autostart option. I don't know if this is

[2017-07-14 10:46] silvinux commented on #26633
Works OK, Thanks

[2017-07-14 10:50] ssbarnea opened #26792 "ability to configure shell module defaults like enabling strict mode"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
shell

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
It seems that at this moment there is no way to configure defaults for shell module.

Adding extra lines like `set -euo pipefail` or `set -euox pipefail` to each shell call is an almost impossible task because it would involved playbooks and roles

[2017-07-14 10:54] Tux12Fun opened #26793 "Blockinfile: insert[before|after] throws: cannot use a string pattern on a bytes-like object"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

blockinfile.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS: Ubuntu 16.04 Xenial with Python3 (interpreter is set to Python3)

##### SUMMARY

Python3 changes the behavior for the search function as it seams.

##### STEPS TO REPRODUCE

Only affects insertbefore / insertafter

[code]

##### EXPECTED RESULTS

No

[2017-07-14 11:12] sebi-hgdata opened #26794 "async_status does not stop when the async job times out"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
aync

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

In case the async job times out the async_status task needs to stop

##### ACTUAL RESULTS

 async_status task keeps looping till it exhaust the retries

[code]