[2019-09-26 06:40] Fred-sun commented on #59916
@mybayern1974 @yungezz Please help to add the feature in the latest Ansible. Thank you very much

[2019-09-26 07:36] Quanalogy opened #62854 "maven_artifact produce wrong length of checksum"
##### SUMMARY

The maven_artifact produce a hash of 35 characters, while a valid md5sum is 32 bytes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

maven_artifact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Docker container based of fedora 30, running on fedora 30 host. Only python3 on guest docker container.

packages installed:
RUN dnf upgrade -y &

[2019-09-26 07:47] Quanalogy commented on #62854
Edit: The task I've thought that the run-by-run hash from maven_artifact were the same, but actually not, just the last three characters,  the new one is:
`a7d92cc4f11b9837211b2db7598802b9but`

[2019-09-26 08:04] asnkh opened #62856 "Ability to create EC2 spot blocks"
##### SUMMARY
In October 2015, [AWS announced the ability to create EC2 spot blocks for defined duration workloads](https://aws.amazon.com/blogs/aws/new-ec2-spot-blocks-for-defined-duration-workloads/).  If ec2 module supports this feature, it will benefit people who want to save costs to run EC2 instances for workloads expected to end within predictable length of time.

##### ISSUE TYPE
- Feature

[2019-09-26 08:57] mihai-satmarean commented on #61757
Have the same thing too.
Ansible 2.8.4
Macosx 10.14.5

[2019-09-26 09:57] Tomorrow9 commented on #60258
has_pr #62860

[2019-09-26 09:59] JonTheNiceGuy opened #62861 "Feature Request: azure_rm_publicip to include zonal support"
##### SUMMARY

azure_rm_publicip does not currently support availability zones. It would be useful if it did. A similar change to managed disks was raised under #53788.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_publicipaddress

##### ADDITIONAL INFORMATION

If you're creating AZ specific VMs (using the value `zones: ['1']`, for example), and you've manually attached an Inter

[2019-09-26 10:30] riccardomurri opened #62862 "unclear explanation of `firstmatch` option in the `lineinfile` module"
##### SUMMARY
The current documentation has this explanation for the `firstmatch`
parameter of the `lineinfile` action:

[code]

I have no idea what `firstmatch` does, based on the above line.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-09-26 11:04] kevintts opened #62864 "Using `include_tasks` in a role handler results in `ERROR! The requested handler 'handler1' was not found in either the main handlers list nor in the listening handlers list`"
##### SUMMARY
Using `include_tasks` in a role handler results in the error message `ERROR! The requested handler 'handler1' was not found in either the main handlers list nor in the listening handlers list
`
Using `import_tasks' sees the handler called correctly, even if it can't find the target file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

roles / include_tasks

##### ANSIBLE VERSIO

[2019-09-26 11:14] turb commented on #62854
The last 3 characters only comes from the error message. It lacks a space before the word "but".

The displayed sum is `a7d92cc4f11b9837211b2db7598802b9`. Maybe it is legit?

[2019-09-26 12:11] chouseknecht opened #62869 "Missing default collection install path"
##### SUMMARY
`ansible-galaxy collection install` currently requires the user to specify an install path using the `-p` option. Galaxy currently generates and displays the CLI command for installing a collection. There is no way for Galaxy to determine a value for `-p`, and hard coding a default value into Galaxy makes no sense.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`ansible-galaxy`

[2019-09-26 13:11] jborean93 commented on #62761
We've changed quite a lot about how we run modules on the remote Windows host to try and improve performance and security of the code that is actually running so this might be why it now doesn't work in newer Ansible versions. Can you share what the Windows OS version you are targeting and is failing? If it is Server 2008, 2008 R2, or 2012 running PowerShell v3, make sure you have applied the WinR

[2019-09-26 13:15] jborean93 commented on #62730
This has worked for me on an older release of OpenSSH but I cannot say I've tested it recently against 8.0.0.1. Can you let me know whether you have set `ansible_shell_type=powershell` or `ansible_shell_type=cmd` in your config so I can try it out? I see `sshpass` is also used there, can you confirm that you are using plaintext password auth and not an SSH key?

needs_info

[2019-09-26 13:24] stefanhartmann123 commented on #62730
Hi Jordan,

I have set `ansible_shell_type` to `powershell`. I am also using plaintext user and variables via env-vars.

Cheers,

Stefan

[2019-09-26 13:27] philfry opened #62873 "docker_container not idempotent"
##### SUMMARY
docker_container is not idempotent when specifying an ip address

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 30, CentOS 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

container created on first loop cycle, not touched on second one

##### ACTUAL RESULTS

[2019-09-26 13:29] jborean93 commented on #62730
Thanks, will try it out sometime today if I can. If I'm not able to figure it out I probably won't be able to look at it until the end of October as I am taking some time off until then so there may be a delay for a fix until then sorry.

[2019-09-26 13:39] tuccimon commented on #62761
@jborean93
Windows 10 Pro 1903

PS C:\WINDOWS\system32> gwmi win32_operatingsystem
SystemDirectory : C:\WINDOWS\system32
Organization    :
BuildNumber     : 18362
RegisteredUser  :
SerialNumber    : 00330-80110-58246-AA530
Version         : 10.0.18362

PS C:\WINDOWS\system32> $PSVersionTable
Name                           Value
----                           -----
PSVersion                      5.

[2019-09-26 13:58] philfry commented on #62873
Please not that when the container is running (state: started) the ip address is determined correctly, thus no changes are made.

[2019-09-26 14:04] felixfontein commented on #62873
Good point. I don't have time to look in it right now, but I guess the reason is that docker only assigns IP addresses during container runtime. (At least it does so for automatically assigned addresses.) I don't know whether it is actually possible to find out whether a non-running container has an IP address configured; if it is not possible, I'm not sure how to deal with this problem. Both igno

[2019-09-26 14:08] #36350 closed, assigned to nobody

[2019-09-26 14:28] philfry commented on #62873
Thanks for looking into it.
The ip address is shown with `inspect`, so it should be possible, imho:
[code]

[2019-09-26 14:51] bcoca commented on #62842
FYI, package module is not nearly that intelligent and does not have the framework to test 'does package exist in repo of multiple package managers', it selects package manager based on `ansible_facts` package manager detection on the host and then just passes the info to the corresponding module that matches.

[2019-09-26 15:10] sivel commented on #62869
FWIW, this is expected as we decided to not default the path and require users to explicitly provide it on the CLI. See https://github.com/ansible/ansible/issues/60216

I'm not sure the associated PR is the way we want to go should we decide to not make it mandatory, and will require broader discussion.

[2019-09-26 15:33] #61983 closed, assigned to nobody

[2019-09-26 15:36] nicholasamorim commented on #62702
I have merged a clarification on the docs over this issue #62712.

[2019-09-26 15:36] #62702 closed, assigned to nobody

[2019-09-26 16:00] #62231 closed, assigned to s-hertel

[2019-09-26 16:51] felixfontein commented on #62873
It is in `Networks.<networkname>.IPAMConfig.IPv4Address` and not in `Networks.<networkname>.IPAddress`. (Same as some other parameters.) Unfortunately, `Networks` is missing from the API docs until v1.31 (there's also a nice `TODO: check is correct` in there until then), and only documented since v1.32, so I'll have to do a bit more research before I can create a proper fix :)

[2019-09-26 17:03] fseesink opened #62879 "Ansible 2.8.5 (when run with Python3) crashes reading ansible.cfg INTEGER type settings if semicolon comment at end of line"
##### SUMMARY

UPDATED 2019-10-01

When running **Ansible 2.8.5** with **Python3** specifically (this does not occur if you're using Python2), Ansible crashes if the ansible.cfg file contains any configuration settings of type **integer** where there's a comment on the same line.

For example, Ansible crashes if either the parameter

or

is in ansible.cfg, _specifically_ if either has a comment at

[2019-09-26 17:14] czanella opened #62880 "Template config file uses deprecated option"
##### SUMMARY

The sample configuration file provided in the project's repository is using the `ask_sudo_pass` option, which is deprecated (according to https://docs.ansible.com/ansible/latest/user_guide/intro_getting_started.html). It should be replaced with `ask_become_pass`.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

https://github.com/ansible/ansible/blob/devel/examples/an

[2019-09-26 17:32] carvalhovitor2 commented on #44141
Works real nice for local authentication. However, it would be really nice if there was a way to use kerberos authentication together with pspr and ssh bastion host.

[2019-09-26 18:00] bcoca commented on #62880
to clarify, it is not deprecated, it is 'specific' to the sudo become plugin vs the other option being 'generic' and applying to all become plugins.

[2019-09-26 18:02] #62716 closed, assigned to mattclay

[2019-09-26 18:18] yonaguska opened #62882 "Ansible intermittently failed in setup after execution of "rm -f -r /home/theatro/.ansible/tmp/ansible-tmp-xxx""
I don't see this issue reported

Sorry, I don't have the bandwidth to do that. I installed this ansible 9/23/2019.

##### SUMMARY

I have a set of ten cloned target hosts and a random subset will fail in setup. They appear to fail after the execution of "rm -f -r /home/theatro/.ansible/tmp/ansible-tmp-xxxxxx". If I rerun the playbook the set of failing hosts changes. Some hosts that passed previou

[2019-09-26 18:20] jason-451 opened #62883 "using set_fact to append to a list in a loop overwrites previous list entry"
##### SUMMARY
Using set_fact in a loop to build a list the previous list object is overwritten by the new object and the new object is appended to the list.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

loop over a list using set_fact to build a new list

[code]

##### EXP

[2019-09-26 19:01] Xaroth commented on #34536
@johnpetersjr This change has not yet been implemented; as @willthames mentioned in his reply, they are waiting for somebody from the community to pick it up and implement it.

[2019-09-26 19:12] #62224 closed, assigned to nobody

[2019-09-26 19:15] jborean93 commented on #62730
I cannot replicate this issue after trying out the latest release but I am looking at the output you have shared and it looks like the host doesn't actually reboot at all. Are you able to confirm whether this is actually the case.

The reason why I say this is the first command we run gets the system boot time which is returning `20190923081835.434579+120` in your logs. The next step is to reboot

[2019-09-26 19:31] gary-lopez opened #62887 "Shell module adding the escape character in command line"
##### SUMMARY
When trying to pass a variable to a shell command with double quotes in the command, the command comes out with the escape character in front of the double quotes. In tail the command fails

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
ansible 2.8.2

[code]

##### OS / ENVIRONMENT

RHEL7.7

##### STEPS TO REPRODUCE
vars/main.yml
build_ou = 'ou=exam

[2019-09-26 19:32] gary-lopez commented on #62887
ACTUAL RESULTS
"cmd": "command -u user@domain -k bind.keytab join -c \"ou=example, ou=com\" domain",
"cmd": "command -u user@domain -k bind.keytab join -c \\\"ou=example, ou=com\\\" domain"

[2019-09-26 19:35] gary-lopez commented on #62887
There are three escape characters showing up and its getting removed when I submit.
\\\\\\\" and not just \\"

[2019-09-26 19:40] felixfontein commented on #42506
Has anyone been able to verify whether this is actually fixed in 2.8.5?

[2019-09-26 19:57] royalpudding commented on #50306
I would not call it a solution, but if you setup your handler like this
- name:  Reset Connection
  meta: reset_connection
  ignore_errors: True
Then it will reset and keep playing. I use it because I add Ansible to some groups that are required for permissions etc

[2019-09-26 20:22] ro8harp commented on #33402
Hi team, we started running into this issue as well. Will there be an update? Running Ansible 2.7.2.

[2019-09-26 20:32] felixfontein commented on #62873
It looks like these structures haven't been changed since https://github.com/moby/moby/commit/91e197d6145, which first appeared in Docker v1.13.0-rc1 (https://github.com/moby/moby/releases/tag/v1.13.0-rc1). (That one apparently had API version 1.25.) In that commit, the types have been moved from the https://github.com/docker/engine-api repository (which since then has been deprecated). There, the

[2019-09-26 20:42] ITEUMSL commented on #56930
If a system requires strictly compliant tokens internally, then the system should internally generate the tokens and create a lookup table that associates the internal tokens with the user data.  This way Ansible can change its token rules as needed and limit the impact on the users.  Users ought to be able to name their inventory, roles, etc as they or their customers see fit.

[2019-09-26 20:49] yonaguska commented on #62882
So I found my workaround, gather_facts: false

[2019-09-26 21:28] gallexme opened #62893 "Cloudflare_dns Doesnt work Stuck/Frozen"
##### SUMMARY
Task Stuck at
"TASK [Create Cloudflare  Records] ***"
no errors
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Cloudflare_dns

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian Linux 5.0 Kernel

##### STEPS TO REPRODUCE

Run this Playbook it instantly just "Stucks", doesnt matter if user exists

[code]

##### EXPECTED RESULTS
Should Create

[2019-09-26 22:34] wimnat commented on #62777
notabug

This is how the boto3 API is designed to work.  You would have the same result if you were using awscli or any other aws API.

[2019-09-26 22:41] #62777 closed, assigned to nobody

[2019-09-26 23:21] prasadkatti commented on #62862
I dug up the PR where the `firstmatch` option was added. You can take a look at it to figure out what that option does.
PR - https://github.com/ansible/ansible/pull/33825

I can work on a PR to make the explanation clearer in the docs.

[2019-09-27 00:34] BarbzYHOOL commented on #50306
gonna try this next time, but now I divided my playbooks, not gonna try right now, it's already tedious enough haha, but ty

[2019-09-27 00:35] chsnell opened #62897 "yum module fails with non-existent repo in disablerepo list"
##### SUMMARY
In the ansible yum module, it appears to not be able to properly process lists in the disablerepo flag, especially if the disablerepo flag contains repos not on the system.  This same code works fine on ansible 2.5.14, but not 2.8.0.  It is causing us delays in upgrading to 2.8.x.  Upgraded to ansible 2.8.4, but get the same result.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2019-09-27 02:21] ulysses-31 commented on #37254
I am also regularly seeing the Virtual Machine "has already been deleted or has not been completely created" error using the  Ansible 2.8.4 vmware_vm_facts module to enumerate our vSphere environments. Any news on this bug?

[2019-09-27 03:22] pytkr opened #62899 "Only user of group Administrators on Windows server can successfully gather info using Ansible setup module"
I deeply admire you for your wonderful work for the many Operation jobs, however, Ansible 2.8 supports linux server with non-root user to gather info using setup module, I just don't know how to do the same thing with non-administrator user to gather info using ansible setup module for windows server, thanks!

[2019-09-27 03:36] pytkr commented on #62899
issue type
new feather request

ansible version
2.8

component name
setup

[2019-09-27 06:21] dodwmd commented on #62722
Confirmed. Other than not using the yum module and instead using command: if their a workaround?

[2019-09-27 06:57] Xaroth commented on #62777
Then it should, at the very least, be described this way, as there is nothing in the ansible documentation that warns about this behavior.

[2019-09-27 07:00] frsh-augustin opened #62901 "Ansible azure_rm_virtualmachine fail to generalize Azure VM"
##### SUMMARY

I'd like to automate the azure custom image creation. I deallocate the VM and generalize the VM using the code look like following.  Although the generalization step succeeded, but the VM was not generalized

![image](https://user-images.githubusercontent.com/40291890/65748260-13e88580-e136-11e9-99da-a8d7cbf5f1e0.png)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_vi

[2019-09-27 07:35] ralftrezeciak commented on #60276
Seems to be that the ACI REST API is performing a more strict input check. This check was not present in older 4.1 versions, but showed up on ACI version 4.2 in our DevLab.

[2019-09-27 08:03] nature80 opened #62902 "make webdocs error"
##### SUMMARY

root@86a4f9b925d1:/data/ansible-stable-2.8/docs/docsite# make webdocs

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docs
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

docker ubuntu:18.10,Python 3.6.8
pip list:

alabaster (0.7.12)
ansible (2.8.5)
asn1crypto (0.24.0)
Babel (2.7.0)
cachetools (3.1.1)
certifi (2018.8.24)
chardet (3.0.4)
cryp

[2019-09-27 09:18] stefanhartmann123 commented on #62730
The agent did reboot, but then the reboot-task / the playbook never continued.

I ran your 1st ssh-command - The machine rebooted:
[code]
Also the 2nd command lead to the machine rebooting - same result

[2019-09-27 09:21] bbaassssiiee commented on #18894
Observation:

When ansible.cfg has `remote_tmp     = ~/.ansible` then it is the `/home` partition's filling up and not `dest:`. There can be thousands of subdirectories with a file named: `AnsiballZ_setup.py`.

[2019-09-27 09:22] bbaassssiiee commented on #18894
[code]

[2019-09-27 10:05] Jean-Daniel opened #62904 "[lxd_container] Need a way to apply change without starting container."
##### SUMMARY
I want to apply config change to container without running them.I need to run ansible script to fix configuration of stopped containers.

Unfortunately, this module always try to start container before applying changes (which is not required at all by LXD), so it fails as it can't start containers with broken configuration.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lxc_c

[2019-09-27 10:08] Jean-Daniel opened #62905 "[lxd_container] Need a way to apply config change without changing running state"
##### SUMMARY

I need to apply change to LXD container that are either running or stopped. While LXD support hot config changes, the actual module don't support that and require that some state are passed in parameter.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

lxd_container

##### ADDITIONAL INFORMATION

 Instead of defaulting to 'started', the module should apply configuration chang

[2019-09-27 10:33] dagwieers commented on #60276
@ralftrezeciak Thanks for this information, I'll add it to the request to get this backported.

[2019-09-27 10:38] jborean93 commented on #62730
I don’t know then, going by your logs it appears it didn’t reboot because the last boot time never changes which is why the task never finished. If the host rebooted but the last boot time never changed then that sounds like some sort of problem with the WMI provider on the Windows side.

[2019-09-27 10:40] jborean93 commented on #62899
Please share the error you are getting when running as a non admin user. There will be a lot of facts that don’t work for limited accounts which is expected but the task should still not fail. But first we need to see what is failing.

needs_info

[2019-09-27 11:09] stefanhartmann123 commented on #62730
I tried to reproduce the problem a couple of times.

What I could observe was that with option `-vvvv` or `ANSIBLE_DEBUG=1` the reboot seems to be working correctly. Only if I run without the option and debug turned off (so the default way) - then the machine reboots but the win_reboot-task hangs afterwards. Could be coincidence, but it seems to occur quite regularly this way ...

In an older vers

[2019-09-27 11:20] andyfeller commented on #62738
Here is an excerpt from an actual playbook used to manage OpenShift projects and resources where I want item label to be the resource type and name of what is affected.
[code]

In the underlying playbook, I've chose to selectively `no_log` based on the resource type:
[code]

[2019-09-27 11:51] ghost opened #62906 "only last iteration will be effective using set_fact with delegation to update object"
##### SUMMARY
When updating list a of other hosts in a loop will only update the list with the last iteration of the loop.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- set_fact
- delegation
- loop

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- MacOSX / Linux, locally ran

##### STEPS TO REPRODUCE

inventory:
[code]

[code]

##### EXPECTED RESULTS
A

[2019-09-27 13:08] thurcombe opened #62909 "ovirt_host_network throws typerror '<' not supported between instances of 'dict' and 'dict'"
##### SUMMARY
calling ovirt_host_network module against a bond interface throws a TypeError exception when run against an existing a bond interface regardless of whether the module arguments have changed or not

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_host_networks in method  __compare_options of the HostNetworksModule class

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[c

[2019-09-27 13:23] RogerSik commented on #62807
Can confirm it. Same problem here with the module apt: When using with apt_cache true it hangs. Without it this problem doesn't appear.

Ansible 2.8.4 is here in use.

[2019-09-27 13:30] HOSTED-POWER commented on #29311
Any update on this perhaps?

The only thing that needs to be added is support for the "for channel x" in the commands.

We would actually really really need this feature, anything we can do? :)

[2019-09-27 13:38] #39311 closed, assigned to alikins

[2019-09-27 13:38] sbattistin opened #62910 "Module rabbitmq_queue not working if management has path_prefix set"
##### SUMMARY
When using the `rabbitmq_queue` module, if the management plugin (in the RabbitMQ server) is configured to use a path_prefix (https://www.rabbitmq.com/management.html#path-prefix), the module will be useless and won't allow queues' creation.

##### ISSUE TYPE
This looks like a bug since is preventing the module to work correctly.

##### COMPONENT NAME
`rabbitmq_queue`, `rabbitmq_bind

[2019-09-27 13:45] philskents commented on #62842
Maybe the logic could exist in the brew module then? I realize this is trying to hack around an OS problem (2 commands for the same darn package manager) but its thoroughly annoying to handle.

[2019-09-27 13:50] bcoca commented on #62842
or just make a role with 2 install tasks, one using brew the other using cask and only try the cask one if the brew one fails?

[2019-09-27 14:00] BlackestDawn opened #62912 "Failure handlers/notify"
##### SUMMARY

Extension to the current handlers system that triggers on failed-state instead of changed-state.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

notify

##### ADDITIONAL INFORMATION

The current ways to handle failures (ignore_errors, rescue-block) are designed primarily around catching/ignoring the error(s), recovering, and/or continue on to a successful completion of the p

[2019-09-27 14:01] rcastagnet opened #62914 "Handler skips if the role is called twice but when the second has a false condition"
##### SUMMARY
When a playbook call twice a role and the second has a false condition and a different variable, the handler is skipped.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- roles
- handlers

##### ANSIBLE VERSION
[code]
Doesn't work in stable-2.8, stable-2.9 and devel.
Works in stable-2.7 and before.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Debian bullseye/sid

##### S

[2019-09-27 14:03] kumy commented on #60635
We hit this problem too. Downgrading to ansible `2.8.1` fixed it.

[2019-09-27 14:11] rcastagnet commented on #62914
My tests scripts : https://github.com/rcastagnet/test_ansible_handlers

[2019-09-27 14:24] sbattistin commented on #62910
The suggested solution would be to add a new parameter (optional) as part of the command configuration (let's say `path_prefix`) and add that to the URL to call for the API.
With the parameter the URL would be something like:
`http(s)://host:port/path_prefix/...`

Note: the `path_prefix` without `/`es

[2019-09-27 15:11] samdoran commented on #59579
This module is supported by the OpenStack community. For help with this module, try reaching out to members of the [OpenStack Working Group](https://github.com/ansible/community/wiki/OpenStack) or the broader Ansible community in [#ansible](https://webchat.freenode.net/?channels=ansible) on Freenode IRC.

[2019-09-27 16:49] pgbidkar commented on #55572
Hi @mmellin , Existing delete functionality in vmware_guest deletes from the the disk. PR is created to support delete VM from inventory.

[2019-09-27 16:53] samdoran commented on #62592
The `file` module attempts to make the system match everything in the task, which includes owner. It is seeing the owner for `/var/ww/backup` as `10000` which does not match the owner from the task (`dbbackup`) and is attempting to fix that but failing.

Omitting `user` from the `file` task will avoid this issue.

Rather than using `lineinfile` and shell, use the `mount` module. It modifies `/etc/

[2019-09-27 16:53] #62592 closed, assigned to nobody

[2019-09-27 17:20] falcon78921 commented on #62063
I'm able to reproduce this as well:

**RHEL 7 Control Node:**

`ansible --version`
[code]

`cat /etc/os-release`
[code]

**RHEL 8 Managed Node:**

`cat /etc/os-release`
[code]

Output when targeting RHEL8 from RHEL7 using Ansible 2.8.0:

[code]

Output when targeting RHEL8 from RHEL7 using Ansible 2.8.4:

[code]

[2019-09-27 17:26] icsu opened #62920 "Ansible 2.8.x support for EL6"
Hi,

     I saw that, in releases.ansible.com for epel-6-x86_64, the last version available is 2.7.9 and 2.8.x is available only in epel-7-x86_64.

     I couldn't find a clear documentation, but this means that Ansible 2.8.x drops the support for EL6 for rpm packages?

Regards,
Adrian

[2019-09-27 17:58] andyfeller commented on #59247
This issue of non-cluster admins getting 403 errors appears to leak into `--check --diff` mode as retrieving of non-existent resources throws the error making life difficult

[2019-09-27 18:21] samdoran commented on #62576
I have verified this behavior and it is not a bug in Ansible but rather an issue with the underlying tools, `usermod` and `useradd` in this case.

Adding `wheel` to the `groups` parameter does create the entry in `/etc/group`, but only when creating the account initially. The underlying command that is run is `/usr/sbin/useradd -g wheel -G operator,wheel -m admin`. Doing this will fix your issue f

[2019-09-27 18:21] #62576 closed, assigned to nobody

[2019-09-27 20:03] andreaso commented on #62740
@TvL2386: Feel free to try out https://github.com/ansible/ansible/pull/62922.

[2019-09-27 20:25] prasadkatti commented on #62763
1. Did the task work with 1.9.4?
2. What version of python do you run on your controller?
3. Does your template source file have `â` character in it?

Don't think this has much to with Ansible per se. Your input file server.xml is being treated as an ascii file and it has a character that is not in the ascii character set.

[2019-09-27 20:39] ewypych commented on #60577
I can confirm, that this issue affects also Ansible 2.7.13 and 2.8.5 and `gcp_sql_instance` module.

I have installed Ansible 2.7.13 (Python with pyenv):

[code]

[code]

[code]

[code]

[code]

[code]

In both cases, when I try to run simple

[code]

I got `"msg": "Please install the google-auth library"`.

If I can help you in any way with solving this issue, I will more than glad.

[2019-09-27 21:20] jlewis42lines commented on #60577
Can confirm, I'm running into the same issue on Ubuntu Xenial. The `gcp_compute_instance_facts` module does not work with ansible 2.8.3 + python 2.7.12. Exact same behavior described above.

[2019-09-27 21:54] ewypych commented on #60577
Ok, I probably find the reason (but not a solution, just only workaround). I decided to make some... changes in the [gcp_utils.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/gcp_utils.py) file and print some data. This is the list of `sys.path` found by Ansible (it's very ugly string, because I had to cast list to string - the fastest way for me):

[code]

I use macOS,

[2019-09-27 23:11] prasadkatti commented on #62909
Looks like it is trying to sort a list of dictionaries. But `__lt__()` is not defined on `dict` objects.

[code]
But the line throwing the TypeError is 2 yrs old as per [git blame](https://github.com/ansible/ansible/blame/7e91998049f2c495af18347dec861a1ab6edddf9/lib/ansible/modules/cloud/ovirt/ovirt_host_network.py#L247)

[2019-09-27 23:26] prasadkatti commented on #62763
This is some more relevant info -

Ref - https://wiki.python.org/moin/UnicodeDecodeError

[2019-09-28 01:03] haz-mat opened #62927 "Make include_role more composable, include_role parameters should only live as long as the include_role task itself"
##### SUMMARY
The only way to pass parameters include an `include_role` task from a parent playbook is by adding `vars` to the task. Unfortunately the `vars` that are set become global, which makes `include_role` somewhat less useful than it could be. I would like to be able to use roles in a similar way that I might use a function or a class in another language. I have a "library" of roles that I

[2019-09-28 04:22] andreaso commented on #62893
Hmm, any chance that you can't reach https://api.cloudflare.com/ network wise?

No matter, there is definitely an issue related to timeout handling.

While actively dropping network packages to _api.cloudflare.com_ I get different behaviors on the devel branch vs. on the 2.8.5 version.

The devel branch times out after $timeout seconds, and gives me the following output.

[code]

While 2.8.5 takes

[2019-09-28 07:11] #42262 closed, assigned to Akasurde

[2019-09-28 09:01] acalm commented on #62826
The changed state is actually set on [line 712](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/language/pip.py#L712) in this block:
[code]
Which is right before pip is actually run. Since the requirements parameter is set in the playbook the module guesses that the state will be changed as the list of packages to install/update is out of scope for the module, I.E they'

[2019-09-28 10:11] thurcombe commented on #62909
Agreed. This behaviour changed between python2 and pthyon3 which is why we are seeing the issue now.

[code]

[2019-09-28 14:23] blastik opened #62931 "[ec2_asg] fails before replacing instances launch config"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`ec2_asg`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macosx

##### STEPS TO REPRODUCE
- Create a new Launch Configuration and try to replace de ASG with this new one.
[code]

##### EXPECTED RESULTS
Replaces de ASG with the new launch configuration also replacing all the instances.

##### ACT

[2019-09-28 14:57] suryabaiarava opened #62934 "Delete a issue post under ansible community"
hi team,

Due to personal reason i need to delete issue post as soon possible please help me to delete as it is in closed state and limited access to collaborators @mator

Post Link: https://github.com/ansible/ansible/issues/43404

[2019-09-28 15:05] rien commented on #62826
@acalm It is possible to check whether packages are installed with `pip freeze`:

When a package is not installed:
[code]
When a package is installed:
[code]
Note that while the output says it has added requirements, it does not alter files in current the directory or the virtual environment.

I suggest fixing this issue by running `pip freeze -r requirements.txt` and checking the output.

[2019-09-28 15:20] suryabaiarava opened #62935 "SAXParseException - AWS module"
##### SUMMARY

We are getting SAXParseException when we use AWS modules like ec2_elb_lb, ec2_ami in our infra code . This issue is inconsistent when we rerun the code issue gets resolved sometimes we need to rerun morethan 5 times to resolve it. we are not sure about exact resolution.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_ami  - creating AMI from running ec2
ec2_elb_lb - creati

[2019-09-28 15:41] blastik commented on #62931
been troubleshooting the module a bit and when i print `props` var i get:
[code]

so i believe that in here https://github.com/ansible/ansible/blob/ee91714eb2c4f65862a227f9ced9c7b656265a0f/lib/ansible/modules/cloud/amazon/ec2_asg.py#L1392 is expecting a Key that no longer exist for some reason ?

[2019-09-28 15:57] blastik commented on #62931
i think the problem is somewhere here
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_asg.py#L628-L638
because it falls inside the else and no `launch_config_name` is added to the dict `instance_facts`

[2019-09-28 16:04] blastik commented on #62931
but... dont really understand because in here
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_asg.py#L660-L661
the  `autoscaling_group.get('LaunchConfigurationName')` DO have the `LaunchConfigurationName` :(

[2019-09-28 17:34] #62052 closed, assigned to nobody

[2019-09-28 17:52] philskents commented on #62842
I am not sure how to do that but I will give it a go!

[2019-09-28 21:49] felixfontein commented on #62873
resolved_by_pr #62928

[2019-09-28 22:03] philfry commented on #62873
Thanks a lot! I'll test it tomorrow :)

[2019-09-29 01:50] tyler-8 commented on #57522
@justjais As @IPvSean noted in #50029 - the "solution" isn't really a solution to the original issue.

I think the spirit of any `backup` option should be producing a _usable_ backup file. As currently implemented, the backup file is not usable - and as seen in #50029 - requires some overly verbose workarounds just to get the "backup" in a usable state.

[2019-09-29 03:22] panyy3 opened #62937 "redfish_command - Accounts - UpdateUserName / UpdatePasswordPolicy"
#### SUMMARY
This feature would implement a UpdateUserName command for the Accounts category of redfish_command, to update user name. And also implement a UpdatePasswordPolicy command for the Accounts category of redfish_command to change password policy.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
redfish_command

##### ADDITIONAL INFORMATION
These 2 commands would help user to update

[2019-09-29 04:27] onlyone-tsq opened #62938 "Cache redis plugin documentation update needed"
##### SUMMARY

For cache redis plugin, no password parameters are provided.

ansible.cfg :

fact_caching = redis
fact_caching_connection = 127.0.0.1:6379

![QQ截图20190929122607](https://user-images.githubusercontent.com/38450355/65826261-5506a400-e2b4-11e9-80cb-af3c11fddcea.png)

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
lib/ansible/plugins/cache/redis.py

##### ANSIBLE

[2019-09-29 05:11] onlyone-tsq commented on #62938
ansible  2.6.1

The lookup redis plugin also no password parameters.

[2019-09-29 08:35] orthanc commented on #60503
@hibbert I haven't actually tried, but looking at the code the verification_attributes should be returned from the explicit status checks. If you haven't already you should probably run the playbook with the `-vvv` option to confirm it's included in the error case you're seeing.

What might be tripping you up is the `not in`. This is a single string so perhaps try with the not equal syntax instead

[2019-09-29 08:36] orthanc commented on #60503
notabug This was the result of passing ignore_errors as a parameter rather than as a option on the module

[2019-09-29 08:38] felixfontein commented on #62934
@suryabaiarava I've edited your post and tried to remove everything potentially secret, and I've unlocked it so you can also do something with it. Unfortunately, editing is enough since one can still look at the editing history. (I don't know if everyone can do that or only certain persons though.) I don't have the necessary powers to delete issues completely, so I can't do that for you.

@sivel @

[2019-09-29 08:41] #60503 closed, assigned to nobody

[2019-09-29 09:15] avidamri commented on #16259
where you able to make it works?

[2019-09-29 09:40] pytkr commented on #62899
**W/o -vvv**
[root@localhost testuser]# ansible wds -m setup
An exception occurred during task execution. To see the full traceback, use -vvv. The error was:    at Microsoft.Management.Infrastructure.Internal.Operations.CimAsyncObserverProxyBase`1.ProcessNativeCallback(OperationCallbackProcessingContext callbackProcessingContext, T currentItem, Boolean moreResults, MiResult operationResult, String

[2019-09-29 09:44] ktpktr0 opened #62942 "The synchronize module does not seem to have a backup function."
The synchronize module is encapsulated according to the rsync command, but rsync has a backup function.

The function similar to backup should be --delete

But,the --delete function does not apply to some old files that I need to keep, such as a historical version of the program.

[2019-09-29 09:48] ktpktr0 commented on #62942
issue type
New feature suggestions
ansible version
2.8.2
component name
Synchronize module

[2019-09-29 12:52] #62324 closed, assigned to nobody

[2019-09-29 14:07] richlv commented on #62487
Great, thank you so much.
This probably doesn't belong in porting guide, so all good here.

[2019-09-29 14:10] gallexme commented on #62893
@andreaso  thanks, changed it to delegate to a different node, then it worked, so i guess that might been the issue but,
it should have been working on that node
curl "https://api.cloudflare.com/client/v4/"
{"success":false,"errors":[{"code":7000,"message":"No route for that URI"}],"messages":[],"result":null}
and i didnt got a timeout even after 20 minutes, also no logs

[2019-09-29 15:27] suryabaiarava commented on #62934
thanks alot @felixfontein for removing hostnames.

[2019-09-29 18:23] gallexme commented on #62893
ok apperantly ipv6 hangs, but ipv4 worked, but why doesnt it create a timeout?

[2019-09-29 19:37] BarbzYHOOL commented on #62367
Well, I didn't read the explanation because what is not logic/practical is not my cup of tea despite all the good historical explanation.

Anyway ty for trying to fix the issue even though the time has already been wasted and it will probably happen again as usual with ansible :P

[2019-09-29 19:41] mariolenz commented on #57535
Fixed in 2.9: #62088

[2019-09-29 19:41] #57535 closed, assigned to nobody

[2019-09-29 19:41] mariolenz commented on #57535
Fixed in 2.9: #62088

[2019-09-29 20:16] testlaben opened #62948 "--ask-vault-pass vs --vault-password-file"
##### SUMMARY

Why is it a difference between the two options in the title?
Why not use "pass" for both?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Vault

##### ANSIBLE VERSION

not relevant

##### CONFIGURATION

not relevan

##### OS / ENVIRONMENT

All OSes

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Both commands are related to passwords, and should either both have pas

[2019-09-30 01:04] epicanthal opened #62949 "ipaddr filter - 'ascii' codec can't encode character u'\xa0'"
##### SUMMARY

I originally came across this error while using data from a ServiceNow CMDB.  The 'IP Address' field of some records must have been filled by cut/paste or other method.  While using a task conditional ```when: sn_ip_address | ipaddr```, the encode error is produced:
[code]
[Related stackoverflow](https://stackoverflow.com/questions/9942594/unicodeencodeerror-ascii-codec-cant-encode-

[2019-09-30 06:10] megakoresh opened #62952 "Lookup and query automatically convert lists to text when they contain OrderedDict objects"
##### SUMMARY
If a custom lookup plugin returns a list of complex objects (i.e. dictionaries or ordered dictionaries), it's automatically converted to text, and cannot be used with `loop`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Mojave 10.14.6

##### STEPS TO REPRODUCE

Lookup to search r

[2019-09-30 06:10] ghost opened #62953 "docker_container: image change not recognized if new image is not known to docker daemon"
##### SUMMARY
If there's currently a container with image `repo/name:tag1` running (or created), and I change the `docker_container` image tag to `repo/name:tag2` (where this image hasn't been pulled yet), `docker_container` will not notice that the image changed and will not recreate the container.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

[2019-09-30 06:47] pgbidkar opened #62954 "VMware: rename_vm works only with uuid"
##### SUMMARY
rename_vm functionality works only with uuid. [rename_task](https://github.com/ansible/ansible/blob/a79f7e575a9576f804007ed979aa6c1aa731dd2d/lib/ansible/modules/cloud/vmware/vmware_guest.py#L2536) and name param is used for new_name.

uuid is not obvious param for all users and name is used to get existing VM.

Can we introduce new argument 'new_name' use name param as well to rename

[2019-09-30 07:31] blastik commented on #62931
closing since i redeployed the initial stack using cloudformation and then using those ansible task worked fine. mystery.

[2019-09-30 07:35] markatdxb opened #62957 "FATAL vmware_content_deploy_template - RC1"
##### SUMMARY

Unable to deploy simple VM from Content library with new module
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_content_deploy_template
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

VCS 6.5

##### STEPS TO REPRODUCE

Created simple playbook from module examples - see below

[code]

##### EXPECTED RESULTS

expected to get new VM deplo

[2019-09-30 07:39] ghost opened #62958 "os_server_action fails when 'wait' = ' no'"
##### SUMMARY

When using ansible to stop an OpenStack VM, specifying wait=no occur a error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_server_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 16.04

##### STEPS TO REPRODUCE

1. create a openstack vm
2. stop a openstack vm by ansible.

playbook
[code]
[code]
vars
[code]

##### EXPECTED

[2019-09-30 07:47] pgbidkar commented on #62957
```Cannot find service 'com.vmware.vcenter.vm_template.library_items```

Please can you try installing vsphere-automation-python-sdk? One of the requirement for this module https://github.com/ansible/ansible/blob/a79f7e575a9576f804007ed979aa6c1aa731dd2d/lib/ansible/modules/cloud/vmware/vmware_content_deploy_template.py#L32

Please documentation https://github.com/vmware/vsphere-automation-sdk-pyth

[2019-09-30 07:59] #62942 closed, assigned to nobody

[2019-09-30 08:23] markatdxb commented on #62957
hello,
Installing collected packages: vSphere-Automation-SDK
  Found existing installation: vSphere-Automation-SDK 1.7.0
    Uninstalling vSphere-Automation-SDK-1.7.0:
      Successfully uninstalled vSphere-Automation-SDK-1.7.0
  Running setup.py install for vSphere-Automation-SDK ... done
Successfully installed vSphere-Automation-SDK-1.7.0
Seems that SDK is installed OK

[2019-09-30 08:47] #62873 closed, assigned to nobody

[2019-09-30 08:52] luigizhou commented on #62362
Hi, I would like to work on this. Has this been fixed already?
Also, this would be my first contribution and I might need some guidance

[2019-09-30 09:12] KaliszAd commented on #23816
This is quite annoying and triggers with high probability at least once with 16 hosts in a group that each have a different passwordstore lookup. It didn't happen, when the number of forks was reduced from the default of 5 to 3 or less, there obviously shouldn't be a problem using ansible -f 1 (one fork) as this is basically a lock as well.
The proper fix IMHO is to fix libgcrypt but a workaround

[2019-09-30 11:01] sscherfke commented on #31309
It looks like the the single quotes `'` inside double quotes `"` is the cause for the problem.

This command lets cronvar fail: `*/15 * * * * date -u +"\%F 'spam'" > /dev/null`

This is no problem: `*/15 * * * * date -u +"\%F \"spam\"" > /dev/null`

[2019-09-30 11:42] thurcombe commented on #62909
Possible workaround

[code]

However, whilst investigating this particular problem I noted other issues with this module in which it will always modify the bond interface, even when the configuration has not changed. There are mutliple issues here....

Some bond options are converted to numerical values, for example:

```xmit_hash_policy: 'layer3+4' ``` is accepted as a valid module parameter and

[2019-09-30 11:49] sscherfke commented on #31309
This fixes the issue for v2.8.3:
[code]
Not sure if it is just a workaround for bug in Python's `shlex` module or the special `wordchars` that the cronvar module sets to the shlex lexer, though.

[2019-09-30 12:02] pgbidkar commented on #62957
Hi @markatdxb , Sorry for the confusion. **com.vmware.vcenter.vm_template.library_items** service is introduced after 6.5.
I did typo mistake in Module tested section. 6.5 should not be mentioned in that.

Sorry again for the wrong info

Thanks

[2019-09-30 12:17] bbaassssiiee commented on #32822
This problem is fixed in 2.9 https://github.com/ansible/ansible/pull/57845/files#diff-da42905277ac073971bedee97f7682deR78

[2019-09-30 12:24] jrun opened #62964 "Make it possible to specify a Google Cloud Function's service account in the gcp_cloudfunctions_cloud_function module"
##### SUMMARY

Make it possible to specify the Google Cloud Function's service account when creating a function using the `gcp_cloudfunctions_cloud_function` module.

##### ISSUE TYPE

- Feature improvement

##### COMPONENT NAME

gcp_cloudfunctions_cloud_function

##### ADDITIONAL INFORMATION

The Google Cloud Function's service account will often be different from the service account used to exec

[2019-09-30 12:25] bbaassssiiee commented on #28569
@eukota  you can set `remote_tmp` in ansible.cfg

[2019-09-30 12:48] pgbidkar commented on #62957
has_pr https://github.com/ansible/ansible/pull/62965

[2019-09-30 12:52] Theoooooo opened #62966 "Ansible expect module hang out after closing ssh connection"
##### SUMMARY
I'm currently in the process of automating the deployment of multiples VM while configuring multiples services on them.
I'm currectly stuck at this issue for a bit of time now and i'm posting a bug report here because i didn't find any way of making this work.

I'm also trying to install no requirement components for ansible to work on the remote hosts because i don't want to install

[2019-09-30 13:04] Theoooooo commented on #62966
nvm i figure it out.
Even with delegate_to: localhost, the task got executed twice because i got 2 host in my hosts group i used.

closing

[2019-09-30 13:04] #62966 closed, assigned to nobody

[2019-09-30 13:13] perolausson opened #62967 "gcp_compute_address"
##### SUMMARY
Google Cloud allows reserving global as well as region bound IP addresses.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/cloud/google/gcp_compute_address.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Irrelevant

##### OS / ENVIRONMENT
Irrelevant

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The expected result is that a global I

[2019-09-30 13:36] #21897 closed, assigned to nobody

[2019-09-30 13:38] Qalthos commented on #32141
I think this is as done as it is going to get

[2019-09-30 13:38] #32141 closed, assigned to rcarrillocruz

[2019-09-30 14:38] Qalthos commented on #56181
needs_info

[2019-09-30 14:45] Qalthos commented on #58985
So the `ping` module is not intended to be run with `network_cli` in the first place... I'm not sure what you are _intending_ to get out of using this module, but it almost certainly is not what you are getting.

That said, this did expose an issue which has been fixed in 2.9, and I am closing as a result.

[2019-09-30 14:45] #58985 closed, assigned to nobody

[2019-09-30 14:46] #62775 closed, assigned to nobody

[2019-09-30 15:01] markatdxb commented on #62957
Thanks for clarification @pgbidkar

[2019-09-30 15:01] #62957 closed, assigned to nobody

[2019-09-30 15:04] pgbidkar commented on #62816
Hi @Tomorrow9 , You are working on fix for this issue? if not, please can you share playbook to reproduce the issue, we can take a look.

Thanks,
Pavan

[2019-09-30 16:19] kryptonite303 opened #62969 "User module on Darwin is not idempotent"
##### SUMMARY

Running the [user module](https://docs.ansible.com/ansible/latest/modules/user_module.html) on Ansible `2.8.5` and `devel` branch to create a user on a Darwin system fails if the user already exists with an error: `Cannot update property "uid" for user "user"`
The issue exists in `lib/ansible/modules/system/user.py`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

user module

[2019-09-30 16:31] mitchhh22 opened #62972 "LogicMonitor Module RPC deprecated"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

logicmonitor

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

200 OK status

##### ACTUAL RESULTS

410 GONE status

[code]

https://www.logicmonitor.com/support/rpc-api-developers-guide/overview/using-logicmonitors-rpc-api/

[2019-09-30 16:36] perolausson commented on #62967
I have later discovered that there is also gcp_compute_global_address .. I therefore think that the only matter to do with this bug is to update the documentation and point to gcp_compute_global_address for such cases where a global address is needed rather than a region based one.

[2019-09-30 16:54] skoschik commented on #60889
Couldn't ansible_packages to work on 2.8, but 2.10.0.dev0 works.  I didn't try any 2.9's.

[2019-09-30 16:58] fdevans commented on #62972
Hey Mitch,
  We are currently in the process of updating the module to no longer point to the RPC API.  I can enable the RPC API for your account in the mean time.  Please email me at forrest.evans@logicmonitor.com and we can get things fixed up.

~Forrest

[2019-09-30 17:04] VenkateshJavvaji commented on #62763
Yes, it ran successfully with 1.9.4.
we are using python 2.7 and I don't see any â character in template source file.

I'll go through the link you provided. Thank you

[2019-09-30 19:17] mariolenz commented on #53361
@bcoca Any news? Does ansible have a generic session caching mechanism now or are you guys still working on it?

[2019-09-30 20:22] samdoran commented on #62748
This is indeed intended behavior. See [this comment](https://github.com/ansible/ansible/issues/34595#issuecomment-356091161) for a detailed explanation.

The easiest solution for your test case is to [enable native Jinja types](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native), which will prevent the type inference code from mutating the string to a Py

[2019-09-30 20:41] mw-root opened #62979 "Visibility is not set correctly in fmgr_fwobj_address.py"
##### SUMMARY
Paramgram is using 'allow-routing' value instead of 'visibility
I will issue a pull request for this issue

##### ISSUE TYPE

##### COMPONENT NAME
fmgr_fwobj_address.py

##### ANSIBLE VERSION

[code]

##### Issue

[code]

##### EXPECTED RESULTS
[code]

[2019-09-30 20:46] tjanez commented on #61930
@nitzmahone, @jborean93, I think I found what is causing this issue.

Running `ansible-playbook -vvv test-role-inside-collection.yml`, below is the stack trace that leads to
the problematic code in `utils/collection_loader.py(315)find_file()`:

[code]

Since `slurp` is a `filename` without extension, the following code path in `find_file()` is taken:

https://github.com/ansible/ansible/blob/042143

[2019-09-30 20:55] #62789 closed, assigned to nobody

[2019-09-30 21:01] Qalthos commented on #58082
`debug` (and other tasks not using the network connection) will no longer start the connection unnecessarily as of 7d3c4a8

[2019-09-30 21:01] #58082 closed, assigned to Qalthos, ikhan2010

[2019-09-30 21:18] mtucker502 opened #62983 "junos_facts in 2.9rc1 throws exception. Works in 2.8"
##### SUMMARY
Ansible throws an exception when calling the junos_facts module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
junos_facts (built-in network module)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Install Ansible 2.9rc1

Inventory:

[code]

Playbook:

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESU

[2019-10-01 02:20] wgfreewill commented on #56181
Old stable and latest devel working with with network_cli.

[2019-10-01 03:51] abadger commented on #60380
After talks with the Ansible Engine project manager, Ansible Engine is removing its dependency on jmespath and passlib on RHEL7 as of ansible-2.9.0.  So I have opened a pull request to sync the removal of those dependencies with the upstream spec file: https://github.com/ansible/ansible/pull/62988

This means that the Fedora/EPEL packages will depend on things which the upstream nightlies do not.

[2019-10-01 05:18] kargold100 opened #62990 "Issue with the NVM mount via ansible"
##### SUMMARY
Issue with one of our components where in the file system says not available even though the device is available (via Ansible)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-10-01 07:09] ibotty commented on #26792
I understand @bcoca in that it is desired.

I think it might make sense to configure it as per-host, because one should know whether (one set of) hosts use which shell.

There is the possibility to make it flexible with a `shell_prelude` attribute that just specifies commands to prepend for every shell invocation.  I would prefer a `safe_mode` attribute though.

I can look into auto-detecting shel

[2019-10-01 10:54] alex-left opened #63000 "conditionals useless with missing module (managing ansible_version)"
##### SUMMARY

Ansible provides the variable "ansible_version" to give the playbook the chance to change the behaviour across ansible versions. One point that ansible differs between versions is the available modules.

But ansible checks if modules exist before check the conditional. So raises an error when should'nt

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

!component
##### ANSIBLE VE

[2019-10-01 11:03] alex-left commented on #63000
A workaround is to put the affected task in another file and later import it with the conditional:
    - import_tasks: task_from_future.yml
      when: ansible_version.full is version("2.12", ">=")

[2019-10-01 11:08] Inanias commented on #38605
I ran into the same Issue with ansible 2.8.4 and pyvmomi 6.5.0.2017.5-0ubuntu1.

Not so nice to see a "Reconfigure virtual machine" task when nothing should be changed.
VM events show the same as @bociankruk has posted.

[2019-10-01 11:16] Popyllol opened #63001 "na_ontap_gather_facts throws : "AttributeError: 'NoneType' object has no attribute 'get_child_by_name'""
##### SUMMARY

I want to get the facts of a SVM in a MetroCluster environment.
The connection data (netapp_hostname) in my example playbook is set to the SVM and the user inside the SVM is created.

When I play the playbook na_ontap_gather_facts throws :
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

na_ontap_gather_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##

[2019-10-01 11:21] alex-left commented on #63000
extracting the affected task and puting it in another file to later import/include it and use the conditional in that import, doesn't work :(

I no find any way to use a missing module with some previous version without raises and error.

[2019-10-01 12:15] pabelanger commented on #61766
We just had another hit on this issue: https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_98/62998/37316aafc2c99cd355fe73c29a54ae05cd61457f/third-party-check/ansible-test-network-integration-iosxr-python27/a809281/controller/ara-report/result/baab9986-8162-4fd1-b855-4a3601d273e5/

[2019-10-01 12:27] lowlighter opened #63003 "win_firewall module have higher requirements than needed"
##### SUMMARY

The requirement in the `win_firewall` module are higher than they should be. Currently, it checks if Windows Management Framework 5 or higher is installed on remote by checking [if powershell version is 5.0 or higher](https://github.com/ansible/ansible/blob/95a117090880906b757ba0643cd277b499e34048/lib/ansible/modules/windows/win_firewall.ps1#L23-L25), but several releases like Windo

[2019-10-01 12:34] ryanmerolle commented on #56589
Many of these platforms are supported by 2.8.  Is there anyway we can move this to be set for affects_2.8?

[2019-10-01 12:45] gsakkar opened #63004 "Is parallel-ssh supported in ansible"
##### SUMMARY
How to use parallel-ssh as connection_plugin
will ansible agent support parallel-ssh rather then openssh/paramiko:
issue type: Query
ansible version:2.7.10
component name: Ansible connection plugin

[2019-10-01 12:46] msilmser opened #63005 "Allow filtering of imported hosts by a single key:value tag"
##### SUMMARY
Host filters work for some jinja syntax options but not all are respected.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
/lib/ansible/plugins/inventory/azure_rm.py

##### ADDITIONAL INFORMATION
It appears that some filters work for the azure_rm inventory plugin, but some do not return filters as expected.

For example, in the azure_rm.yml:
[code]
This setting in exclude_host

[2019-10-01 13:05] bcoca commented on #63000
it won't work with imports since those just pass on conditionals as inheritance to imported task, it WILL work with include as the conditional affects the include itself (imports cannot be made conditional).

[2019-10-01 13:09] jameskeithp commented on #62749
Through my research I found that AppArmor uses enforce or complain modes only. Since there is no Ansible module for apparmor I will have to use Ansible to run a command. Thanks for the help!

[2019-10-01 13:09] #62749 closed, assigned to nobody

[2019-10-01 13:38] Aech1977 commented on #56629
X?
I started having this issue after either going thru the painstaking process of upgrading AWX or updating the CentOS image's packages.

[2019-10-01 13:39] ssbarnea commented on #32868
This bug still reproduces with latest Ansible release.

[2019-10-01 13:56] samccann commented on #56589
Added the label @ryanmerolle. Thanks!

[2019-10-01 14:08] AmillerSC commented on #60591
Hello. Updating the prompt to just `[` fixed this issue. I'm not sure why. Saw a suggestion on another website and tried it out.

[2019-10-01 14:27] #62934 closed, assigned to nobody

[2019-10-01 14:43] feisa opened #63012 "Meraki Switchport Module Issue"
Running ansible 2.8 on centos 7.7

We receive the following error when running the meraki switch port module seems like a python 3 bug

The full traceback is:
Traceback (most recent call last):
  File "/home/user/.ansible/tmp/ansible-tmp-1569940678.6105762-193932476285684/AnsiballZ_meraki_switchport.py", line 114, in <module>
    _ansiballz_main()
  File "/home/user/.ansible/tmp/ansible-tmp-156994

[2019-10-01 14:51] samdoran commented on #62934
@suryabaiarava I have deleted the revision history from the issue so it is no longer visible.

[2019-10-01 14:56] sivel commented on #63000
In addition to using `include_tasks`, you can alternatively use `action` to get around this:

[code]

[2019-10-01 15:05] samdoran commented on #62633
What is the purpose of running an ad-hoc command with `include_vars`? Though this should not stack trace, I'm not sure we ever intended `include_vars` to be run as an ad-hoc task.

needs_info

[2019-10-01 15:12] samdoran commented on #62659
Please reach out on IRC or the mailing list for help with connection errors:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-01 15:12] #62659 closed, assigned to nobody

[2019-10-01 15:15] samdoran commented on #62661
!comporent =lib/ansible/modules/cloud/kubevirt

[2019-10-01 15:24] samdoran commented on #62672
!component =lib/ansible/modules/cloud/azure

[2019-10-01 15:24] kincl commented on #63001
Same with 2.8.5, downgrading to ansible==2.7.13 fixed the problem.

[2019-10-01 15:39] samdoran commented on #62722
The workaround is to set `ansible_python_interpreter` on the task to Python 2 rather than the detected default of Python 3.

[2019-10-01 15:41] samdoran commented on #62731
To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-01 15:41] #62731 closed, assigned to nobody

[2019-10-01 15:44] samdoran commented on #62733
We have no plans to implement this feature at this time. Documenting this in the collection is the best solution. We cannot make assumptions about how packages are managed and installed, especially since modules can be written in languages other than Python.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: htt

[2019-10-01 15:44] #62733 closed, assigned to nobody

[2019-10-01 15:52] goneri commented on #62745
!component =lib/ansible/modules/cloud/docker/docker_compose.py

[2019-10-01 15:53] #62735 closed, assigned to nobody

[2019-10-01 15:55] #62748 closed, assigned to nobody

[2019-10-01 15:55] goneri commented on #62759
!component =lib/ansible/modules/cloud/docker/docker_compose.py

[2019-10-01 15:57] samdoran commented on #62757
This is by design. The value of `RETURN` is somewhat freeform, so we just display it without change in `ansible-doc`. The HTML docs do some work to massage the data so it looks nicer, but that has its limitations and is pretty complex. That's not something we want to do in `ansible-doc`.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenod

[2019-10-01 15:57] #62757 closed, assigned to nobody

[2019-10-01 15:58] evgeni commented on #62733
Oh yeah, I didn't expect ansible to manage these dependencies. Just looking for a way to express them in a better way than text in the readme.

[2019-10-01 16:00] samdoran commented on #62763
Version 2.0 is unsupported at this point. Please test with a newer version of Ansible and open a new issue if this is still a problem. We have done a lot of work in recent versions to improve the handling of encoding.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-pr

[2019-10-01 16:00] #62763 closed, assigned to nobody

[2019-10-01 16:03] KaliszAd opened #63016 "Update to Debian 10 broke WinRM Kerberos connection"
##### SUMMARY
After updating from Debian 9 to Debian 10 my previously working setup for connecting to Windows Machines using WinRM and Kerberos broke. The issue boiled down to upgrading pykerberos as suggested [here](https://groups.google.com/forum/?hl=nl&fromgroups#!topic/ansible-project/KfCkdsI0g2g) and upgrading to package versions pywinrm 0.3.0 requests-kerberos 0.12.0 pykerberos 1.2.1 request

[2019-10-01 16:15] jamesmarshall24 opened #63018 "Improve win_find Performance"
##### SUMMARY

Currently, win_find can take a significant amount of time to iterate through large collections of directories.

For example, the DLL directories in Windows show a significant variance in execution time with relatively similar disk space utilization

DLL directory at 3GB of disk space and 20,000 directories can take 10-15 minutes to complete a scan with win_find

DLL directory at 4GB

[2019-10-01 16:21] dapiced commented on #45276
I have exactly de same issue when doing "vmware_deploy_ovf " in a loop

`- name: Importer le template vmware sur les autres vcenter app et ges
  vmware_deploy_ovf:
    validate_certs: False
    username:   "{{ vcenter_ad_rw.username }}"
    password:   "{{ vcenter_ad_rw.password }}"
    datacenter: "{{ item.dc }}"
    datastore:  "{{ item.ds }}"
    cluster:    "{{ item.cl }}"
    networks:

[2019-10-01 16:22] abadger commented on #62673
I have reproduced this on Fedora 29.  It seems like it is a problem with the spec file as I see that rpmbuild is writing the ansible-2.10*noarch.rpm twice instead of writing an ansible-2.10*noarch.rpm followed by an ansible-test-2.10*noarch.rpm.  Although, interestingly, https://releases.ansible.com/ansible/rpm/nightly/devel/epel-7-x86_64/ uses the same spec file and it is working.  So there maybe

[2019-10-01 16:33] abadger commented on #62673
Alright, this is the root cause of the bug: https://github.com/ansible/ansible/commit/e4edb2842a8816a3eed596aea1c28aa769a31e9d#diff-b67911656ef5d18c4ae36cb6741b7965R303

It was a latent bug as long as we only built a single rpm from the source.  now that we're building two rpms from the source, it's triggering this problem.

[2019-10-01 16:42] goneri opened #63019 "hcloud_volume_info: exception in _raise_exception_from_json_content"
##### SUMMARY

Hi!

It sonuds like `hcloud_volume_info` raise an exception if it's not able to communicate with the API. It would be nice to have a more meaningful error instead.
See: https://app.shippable.com/github/ansible/ansible/runs/144671/146/tests

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

hcloud_volume_info

##### ANSIBLE VERSION

[code]

[2019-10-01 16:46] jblackburn22 commented on #62722
Updating each task only works for non-community generated roles.

[2019-10-01 16:49] sivel commented on #62722
To explain this a little bit, the `yum` module only supports python2. There are no python3 yum extensions.  And since implicit localhost uses the python interpreter used to run ansible with, in your case python3, it means that you are trying to execute the `yum` ansible module with python3, which just cannot work.

You will need to override the `ansible_python_interpreter` in this case to use pyth

[2019-10-01 16:51] ghost opened #63020 "dnf module fails all packages on single failure"
##### SUMMARY

When using the package module to remove multiple packages, if one of them has an invalid name, then the whole thing fails and does not proceed to remove the other packages.

This is not the expected/consistent behaviour as seen in yum/dnf. In yum/dnf you may run "dnf remove invalid valid1 valid2" and the valid1 and valid2 packages will be removed and the invalid package will be igno

[2019-10-01 17:26] jblackburn22 commented on #62722
Thanks for the explanation.

[2019-10-01 17:29] #62673 closed, assigned to abadger

[2019-10-01 17:47] samccann opened #63024 "[Docs][Doctoberfest] Update Ansible documentation readme to improve details"
##### SUMMARY

Ansible documentation contributors may not be fully familiar with Ansible or git. Update
https://github.com/ansible/ansible/blob/devel/docs/docsite/README.md
to include details similar to this template:
https://github.com/JStickler/doctoberfest/blob/master/doctoberfest/contributor/template_contributor.md

Strike a balance so that it doesn't repeat what is already in the "Contributin

[2019-10-01 18:37] essai40 commented on #56221
this is ok  don't need ip-xx-xx......    whit psexec 2.11
my ip is 192.168.0.136
psexec -s \\192.168.0.136 -i -u "nt authority\network service" c:\windows\system32\cmd.exe

[2019-10-01 18:45] samccann commented on #63024
@cbudz working on this

[2019-10-01 19:00] felixfontein commented on #62759
This looks like something is bad with your docker_compose install. Can you try running the following in `/usr/bin/python` on `vscm70c7dsy`? Maybe we can try to help you if we know which line raises which exception (with complete stack trace). Also, is the list of package versions for that Python on that machine, or for another Python/machine?

[code]

[2019-10-01 19:02] kgrucci commented on #61975
@nitzmahone - I attended your talk at Ansiblefest last week.  A colleague of mine  - @desaes-br  - submitted this issue.  Do you know when it might be resolved?  Thanks!

[2019-10-01 19:03] felixfontein commented on #32868
I hope the situation will get better (and easier to fix) with #61207. At least it won't be as bad as it is right now :)

[2019-10-01 19:08] ntwrkguru commented on #32868
I've taken to just templating out the docker config file which includes the credentials, but also allows for customization. Not that I dislike your approach @felixfontein.

[2019-10-01 19:20] felixfontein commented on #32868
(TBH, I've been doing that before I knew about the `docker_login` module, and never found a reason to change it so far...)

[2019-10-01 19:25] decklord opened #63028 "gcp_compute_disk still does not work with snapshots"
##### SUMMARY
Creating a disk from a snapshot fails with gcp_compute_instance.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_compute_instance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OS X

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The disk to be created from the snapshot

##### ACTUAL RESULTS

As stated in https://github.com/ans

[2019-10-01 19:34] Constantin07 commented on #62673
Thanks @abadger for sorting this out.

[2019-10-01 19:41] mtucker502 commented on #62983
I tried this same setup on Ubuntu 16.04.5 LTS and it works. This is specific to MacOS

[2019-10-01 21:41] jctanner opened #63032 "ansible-test unit fails if collection is not a git repo"
##### SUMMARY
ansible-test exits with an erroneous error about a missing units folder when the collection dir is not a git repo.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Follow the instructions in https://github.com/jctanner/RHTE-2019 and omit the `git init .` step.

[code]

workaroun

[2019-10-01 21:48] bpleines opened #63033 "cloudwatchevent_rule module needs more examples/documentation"
##### SUMMARY

The [cloudwatchevent_rule module](https://docs.ansible.com/ansible/latest/modules/cloudwatchevent_rule_module.html) allows Ansible to manage [Cloudwatch Event Rules to trigger on events](https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/Create-CloudWatch-Events-Rule.html).

The documentation covers a couple very simple use cases, but more advanced use cases are completely l

[2019-10-01 22:50] dodwmd commented on #62722
python2 is EOL in a few months. What is the fix for when it does go EOL? we're in the process of removing it from all our systems and seeing what works and what doesn't. Of all the things i've found that required tweaking to get to work with python3, I'm amazed that ansible isn't able to run yum commands with python3.

[2019-10-01 22:56] jctanner commented on #63032
This appears to be caused by the parent directory for `ansible_collections` being a git repo.

[2019-10-01 23:02] jctanner commented on #63032
More context for the dir structure ...

[code]

[2019-10-01 23:13] jctanner commented on #63032
In trying to make an automated reproducer, I found the issue ....

[code]

Can not have ansible_collections in the .gitignore or you run into oddities.

[2019-10-01 23:13] #63032 closed, assigned to nobody

[2019-10-02 00:53] fseesink commented on #62879
I have updated my original post now that I've gone back and done additional testing.  The issue appears to be with the code that parses the ansible.cfg file, specifically in relation to configuration settings of type INTEGER, where it fails to deal with semi-colon delimited comments at the end of the line.

[2019-10-02 05:18] felixfontein commented on #62953
After working on a fix for some time, I think I had this problem only in check mode. In non-check mode, the module tries to pull the image if it can't find it locally, and will notice that it changed. Only in check mode it didn't do that, and didn't recognize that the image changed.

resolved_by_pr #62971

[2019-10-02 08:00] pennycoders commented on #35944
Closing this issue, as it is stale

[2019-10-02 08:00] #35944 closed, assigned to nobody

[2019-10-02 08:08] Popyllol commented on #63001
This really workarounds the problem. Hope it will be fixed soon in ansible 2.8.
Thank you for the hint!

[2019-10-02 09:14] sugitk commented on #62377
@s-giri @krisvasudevan
Any update?  We appreciate it if you could handle this issue which the customer is now facing.

[2019-10-02 09:29] varunrawat0808 opened #63039 "Ansible error while patching windows servers"
I am getting the below error while trying to patch the windows server via ansible. I am trying to authenticate it via domain login credentials.

fatal: [192.168.181.6]: UNREACHABLE! => {"changed": false, "msg": "kerberos: authGSSClientStep() failed: (('Unspecified GSS failure.  Minor code may provide more information', 851968), ('Server not found in Kerberos database', -1765328377)), ssl: HTTPSCon

[2019-10-02 09:48] Popyllol opened #63040 "na_ontap_gather_facts : Deadlock between two issues (#50932 and #63001)."
##### SUMMARY

I opened issue #63001 yesterday.
The workaround was to downgrade to ansible 2.7.13... I thought.
But now I fall into issue #50932 which should be fixed in ansible 2.8... which is not possible because of issue #63001.... and around and around...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

na_ontap_gather_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
Down

[2019-10-02 10:08] varunrawat0808 commented on #63039
I changed the IP in the host file with fqdn but same error.

*
fatal: [test-server2.abc.local]: UNREACHABLE! => {"changed": false, "msg": "kerberos: authGSSClientStep() failed: (('Unspecified GSS failure.  Minor code may provide more information', 851968), ('Server not found in Kerberos database', -1765328377)), ssl: HTTPSConnectionPool(host='test-server1.abc.locl', port=5986): Max retries exceede

[2019-10-02 10:24] varunrawat0808 commented on #63039
same error

[2019-10-02 10:26] blastik commented on #62931
reopen since it happened again

[2019-10-02 11:30] naxhh commented on #62931
To sumarize this a bit, the LC is created using `ec2_lc` module.

These are the args used for `ec2_asg` module

[code]

In the `replace` function the `describe_autoscaling_groups` (https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_asg.py#L1303)

returns the following:

[code]

The instance doesn't contain the `LaunchConfigurationName` option
So when `get_properties

[2019-10-02 12:09] thakurmhn opened #63043 "Unable to access local_fact"
##### SUMMARY

##### ISSUE TYPE
Configured local facts as both INI and JSON format however unable to access it from adhoc command line or in playbook

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7.3

##### STEPS TO REPRODUCE

https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#local-facts-facts-d

##### EXPEC

[2019-10-02 12:13] nicholasrodriguez commented on #61220
@Akasurde, thnaks for the PR, I've tested and I get a module error. Config parameters below

[code]
Module error verbose output
[code]

[2019-10-02 13:00] Jon-Rausch opened #63045 "vmware_host_vmhba_facts and vmware_host_vmhba_info truncate WWN of FC HBA"
##### SUMMARY

vmware_host_vmhba_facts module returns the decimal formatted WWN/WWPN of the FiberChannel HBA, but truncates the last digit, making it impossible to convert to hex or determine the real HBA WWPN for zoning/mapping.  even the help text of the module on the https://docs.ansible.com/ansible/latest/modules/vmware_host_vmhba_facts_module.html site displays the truncated value that is use

[2019-10-02 13:14] Qalthos commented on #62983
That seems highly unlikely. More likely this is a Python 3 bug, and it looks like it probably is.

Would you be able to test with #63046?

[2019-10-02 13:24] sergioirium commented on #62145
Hello,
i'm trying this module since few days and if the object exists, neither does it move it from OU

[2019-10-02 13:26] ironfroggy opened #63047 "ansible-galaxy API URL construction broken"
##### SUMMARY
Note: this affects the current 2.9.0 rc

No `ansible-galaxy` API operations appear to be working. I found this after adding 2.9 to the matrix for Galaxy testing and found the initial `login` step and all other failing with 405 errors.

Inspection of the API calls during operation found it was missing the API prefix and constructing this invalid token endpoint: `https://galaxy-dev.ans

[2019-10-02 13:27] sivel commented on #62722
Ansible will continue to support Python2. In the case of something like RHEL7, python2 may be supported until 2024.

[2019-10-02 13:41] mszumilak opened #63048 "gcp_compute_subnetwork - add purge_secondary_ip_ranges parameter"
##### SUMMARY
When creating a subnetwork gcp_compute_subnetwork and the network exist (and include services) all secondary addresses are dropped. As it is not easy to predict all secondary ranges and some of them are added automatically by services new parameter to this module would be useful.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_compute_subnetwork module

##### ADDITIONAL IN

[2019-10-02 14:02] Qalthos commented on #62714
Hello! This is a fine idea, and something that is on our long-term roadmap, but not anything we are planning to tackle in the near term.

In the meantime, if you like, you can submit your own PR for this module, or work with community memebers to do the same.

!component -lib/ansible/modules/network/nxos/_nxos_ip_interface.py
waiting_on_contributor

[2019-10-02 14:10] Qalthos commented on #62631
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We really like this idea, particularly:

   * Because it is on our roadmap for future modules

We are planning in the future to replace ios_vrf (and other modules) with new modules that have a better interface and more features, of which this issue should be one. In the meantime, existing modules like these are

[2019-10-02 14:11] tobiasjohanssonsdnit commented on #62429
I can confirm this as well, same issue with AWX 6.0.
And the problem is seems to be in tower-cli as the same problem is seen there with command:
[code]

But when querying the API:
[code]

[2019-10-02 14:21] alikins commented on #63047
I think this may be related to a galaxy change (in particular https://github.com/ansible/galaxy/pull/2009/files). I'll verify if that is the case and prep a pr
for community galaxy.

[2019-10-02 14:22] #62869 closed, assigned to nobody

[2019-10-02 14:25] Popyllol commented on #63001
Hmm... I really cannot say what helped... but it works right now.
What I have done is:

- removed ansible and the dependencies from global
- installed all stuff as ansible user "pip install --user ansible"
- "pip list --user" looks like this right now:
[code]
- put the module path into ansible.cfg:
[code]
- added this to the ansible role on the metro cluster:
[code]
So it looks like this for gathe

[2019-10-02 14:28] Popyllol commented on #63040
Solution (for me) is in #63001

[2019-10-02 14:28] #63040 closed, assigned to nobody

[2019-10-02 14:36] robo2bobo commented on #63020
Sorry about that, I've changed the component to the dnf package. I believe the same problem appears in the yum package but I need to test this to be sure.

[2019-10-02 14:45] M1k12 opened #63053 "Zabbix_maintenance module not working"
Hey!

I have been trying to use Ansible with the zabbix_maintenance module but I keep getting an Error. I already used ‘pip install zabbix-api’  Successfully installed zabbix-api-0.5.4.
There is only 1 python and pip version on the server .

Even tried the
[code]
instead of ```Zabbix_maintenance:```
[code]

What I use:
[code]
ansible.cfg has the default settings.

My playbook
[code]

##### EXPECTE

[2019-10-02 14:47] thoms27 opened #63054 "Huawei CloudEngine modules do not work with Ansible 2.8.5"
##### SUMMARY
No ce_* module work with Ansible 2.8.5

I just try your example command :
`
ansible -m ce_command -a "commands='display vlan summary' transport='cli' host=192.168.1.1 port=22 username=huawei password=huawei123" localhost --connection local
`

I have the same issue with all modules 'ce_'

The first time I was this error :
`  File "/usr/lib/python2.7/dist-packages/ansible/module_utils/

[2019-10-02 15:02] DirectedSoul1 opened #63057 "Ansible version 2.8.5 errors out on ONYX"
##### SUMMARY
When using ansible 2.8.5 to automate a switch SN2010 which is ONYX based, errors out.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
onyx_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Playbooks run from AS4610 switch Cumulus 3.7.8
The managed host is a switch SN2010 ONYX

##### STEPS TO REPRODUCE
1. Install ansible on Cumulus based no

[2019-10-02 15:05] #62809 closed, assigned to maxamillion

[2019-10-02 15:08] #63047 closed, assigned to nobody

[2019-10-02 15:15] samdoran commented on #62642
Based on the task output, it looks like there was a loop involved. The example task does not use loop. Is the given output from the given example?

Are parameters marked as `no_log` shown only when the task fails or even when the task is successful?

Data in loops is not masked because that data is processed on the controller and the module code is responsible for masking sensitive values.

To pre

[2019-10-02 15:30] maxamillion commented on #62809
Backport PRs filed, should be out in next 2.8.x release and in 2.9.0 at GA

https://github.com/ansible/ansible/pull/63058
https://github.com/ansible/ansible/pull/63059

[2019-10-02 15:31] czi commented on #62829
Hi.  This isn't an Ansible issue and there is nothing wrong with command.py in this instance.  Mysql doesn't accept the password from <stdin>.  You can, as you noted set the password on the command line, or you could create a custom config file and reference that for your login information.   Please see this Stack Exchange thread for more information https://unix.stackexchange.com/questions/205180

[2019-10-02 16:53] ThomasADavis commented on #52239
cobbler_sync has the same problem.

[2019-10-02 17:04] #62672 closed, assigned to nobody

[2019-10-02 17:36] JaminShanti opened #63062 "pip install ansible on windows"
pip install ansible doesn't work on windows anymore.   I don't mind ansible tower not working on Windows, that's a reasonable commercial decision.  Chef and Puppet manifest/recipes are easier to develop on windows. Let's make open source great again.

[2019-10-02 17:42] pabelanger commented on #61694
I'm going to close this, but open a new one. As we just seen a new failure in ios_file

[2019-10-02 17:42] #61694 closed, assigned to Qalthos

[2019-10-02 17:44] pabelanger opened #63063 "ios_file : copy file from controller to ios + scp (Default) failed"
##### SUMMARY

This is to help track failures with ios_file, below is the failure of ios_file : copy file from controller to ios + scp (Default) which looks to be a socket issue, because it is new?

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_55/63055/8eb62e7277484a421f48d8da2cd1d137451b166a/third-party-check/ansible-test-network-integration-ios-python3

[2019-10-02 17:47] pabelanger commented on #63063
https://github.com/ansible/ansible/pull/63055 was an example where this was found, so again we need to decide to either disable testing of ios_file, until we can fix or work to understand what is happening and fix.

[2019-10-02 17:59] sivel commented on #63062
We do not support Windows as a control node, as such, there is no real reason that installs should work.

This is documented at https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#control-node-requirements

[2019-10-02 17:59] #63062 closed, assigned to nobody

[2019-10-02 18:04] rambleraptor commented on #34927
close_me

[2019-10-02 18:09] tmpm697 opened #63066 "'dict object' has no attribute 'stdout' error"
I have below ansible playbook and it echoes 'dict object' has no attribute 'stdout', any one can help a bit?

[code]

[2019-10-02 18:12] gamuniz opened #63067 "Allow remote_src and mode 'preserve' to work on Unarchive module."
##### SUMMARY

Currently if remote_src: true and mode: preserve are set on the Unarchive module there is a traceback as mode is being passed as a string "preserve".

##### ISSUE TYPE
- Feature Idea
configure unarchive to use preserve by doing the conversion as we do currently for copy win_copy and others.

##### COMPONENT NAME

unarchive
##### ADDITIONAL INFORMATION

[code]

[2019-10-02 18:20] #63066 closed, assigned to nobody

[2019-10-02 18:28] pabelanger commented on #61766
Another failure for iosxr_config. i suspect if we held a node in zuul, and ran just the test 100 times, we'd catch the failure pretty quick:

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_60/63060/2d7423354b313cc249ebc9ece3bb033784af6eb2/third-party-check/ansible-test-network-integration-iosxr-python27/0953a97/controller/ara-report/

[2019-10-02 19:10] JaminShanti commented on #63062
Any computer is kind of a joke. #clownworld.

Jamin Shanti
Radjammin@gmail.com
804.356.7414

________________________________
From: Matt Martz <notifications@github.com>
Sent: Wednesday, October 2, 2019 2:01 PM
To: ansible/ansible
Cc: JaminShanti; Mention
Subject: Re: [ansible/ansible] pip install ansible on windows (#63062)

We do not support Windows as a control node, as such, there is no real r

[2019-10-02 19:10] Qalthos commented on #62765
You appear to be correct. Instances like this are the reason that new module [ios_interfaces](https://docs.ansible.com/ansible/devel/modules/ios_interfaces_module.html) and others have been added in 2.9, which allow more nuanced configuration of resource attributes. I hope you find these new modules more straightforward to use.

Unfortunately, due to the sharp differences in argspec, existing modu

[2019-10-02 19:10] #62765 closed, assigned to Qalthos, GomathiselviS

[2019-10-02 19:54] AlanCoding opened #63069 "Sanity test import-error with relative imports inside collection"
##### SUMMARY
The sanity test `validate-modules` seems to not be equipped to deal with relative imports in collections (which support was only recently added for in https://github.com/ansible/ansible/pull/61196).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
test/sanity/

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
Mac OS

##### STEPS TO REPRODUCE
Crea

[2019-10-02 20:02] AlanCoding commented on #63069
closing as duplicate of https://github.com/ansible/ansible/issues/61884

[2019-10-02 20:02] #63069 closed, assigned to nobody

[2019-10-02 20:05] AlanCoding commented on #61884
I hit the same thing, output was slightly different

[code]

The important thing here is that none of the _other_ errors are reported. So I don't think we can just ignore this particular type of error.

[2019-10-02 20:17] sivel commented on #61884
https://github.com/ansible/ansible/issues/62496 is also related

[2019-10-02 20:39] Vladimir-csp opened #63071 "Standardized return values for package modules"
##### SUMMARY

Please standardize return values of package modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

package
pkgng
apt
yum
pacman

##### ADDITIONAL INFORMATION

In writing cross-platform playbooks we ended up with hacky shell parsers as a replacement for native package modules, because it proved more feasible to extract predictable lists of changed packages this way.

It wou

[2019-10-02 21:17] samdoran commented on #62642
This is a duplicate of #38214 and #33912 (and possibly others).

The issue is sensitive data contained in the _loop item_, not the module invocation parameters, is displayed on task failure even when using `loop_control` to only display certain values. This is expected behavior because there is no correlation between values in a loop and the module parameters they will be inserted into.

Set `no_l

[2019-10-02 21:17] #62642 closed, assigned to nobody

[2019-10-02 22:02] #61892 closed, assigned to nobody

[2019-10-02 22:14] rambleraptor commented on #62496
Running into this same issue with the Google collection!

[2019-10-03 00:58] ZeroChanceCompile commented on #62807
Okay, I found the problem for me. It appears that ssh is timing out but the playbook doesn't end when ssh closes which is weird. Personally, that seems like a bug.

I was able to do the update asynchronously and get it to work.
[code]

[2019-10-03 00:58] #62807 closed, assigned to nobody

[2019-10-03 03:34] jkklee opened #63076 "I think the inventory file in yaml format isn't terse enough"
I think the yaml format inventory use redundant `all:` and `children:` entry which result more depth of indents.
for `all:`, I think we can make it as a implicit definition just as sample as the `ini` format;
for `children:`, I think the indents it'self can represent the relationship of group and children host/group allready.
Let's see the below tow contents for compare:
[code]
[code]

[2019-10-03 04:34] robertdebock opened #63077 "Package (or pacman) break: "IndexError: list index out of range" on ansible devel"
##### SUMMARY
When using Ansible devel (`pip install git+https://github.com/ansible/ansible.git@devel`) to install software using `package` (likely passed to `pacman` module) and looping over a list of packages, an error is display

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
package
pacman

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
controler: ubuntu

[2019-10-03 05:03] noziwatele opened #63078 "nios_a_record doesn't/can't change the IP address of an A record"
##### SUMMARY
Using the nios_a_record module it doesn't seem to be possible to change the IP address of an A record. Ansible reports that a change is made, but the record is not actually changed.

This behaviour will probably need to be considered together with issue #47839

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios_a_record

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

[2019-10-03 07:19] noziwatele opened #63082 "nios_host_record still makes changes when run in check mode"
##### SUMMARY
When running a playbook with _nios_host_record_ in --check mode, if a change to 'extattrs' is required by the task then changes are still made to data in Infoblox.

Other changes with nios_host_record, such as adding/removing a host do respect the --check (that is, no changes are made in check mode).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nios_host_record

##### ANSIBLE

[2019-10-03 07:30] thoms27 commented on #63054
It's works with ansible 2.9.RC1
So I supposed the issue can be closed

Thanks

[2019-10-03 07:30] #63054 closed, assigned to nobody

[2019-10-03 11:03] stefanhartmann123 commented on #62730
Hi @jborean93 ,

I tried to change the SSH-config and set `ServerAliveInterval=10`, this seems to fix the issue and to make the connection more stable.

It would still be nice to find the root cause of the issue.

Cheers

[2019-10-03 11:11] favsto commented on #61635
I can confirm that the bug is present both in the current stable version of ansible (`2.8.5`) and devel (`2.9.0rc1`).

I'm performing some tests with the `devel` version because of other old gce module bugs. I tried the solution shown by @bogwiedz by adding the statement and I confirm that it works perfectly. I'm a bit surprised to see that this fix is not currently applied onto the `devel` branch

[2019-10-03 11:51] pabelanger commented on #61766
https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_periodic/github.com/ansible/ansible/stable-2.9/ansible-test-network-integration-iosxr-python36/2e2e2f3/controller/ara-report/

[2019-10-03 13:50] favsto opened #63087 "gcp_compute_snapshot module returns source disk data instead of snapshot"
##### SUMMARY
The component `gcp_compute_snapshot` doesn't behave as reported in its [documentation page](https://docs.ansible.com/ansible/devel/modules/gcp_compute_snapshot_module.html#return-values). As stated in the documentation the module should return all info regarding the generated resource (the snapshot). I used it in a new project of mine and the module seems to return the disk specifica

[2019-10-03 14:12] shashwatrishi commented on #63039
check whether port 5986 is opened in internal windows firewall

[2019-10-03 14:31] kalimsshar opened #63091 "ios_banner: unneeded change when multiple banners are configured in IOS 12.x"
##### SUMMARY
When multiple banners are present in a configuration and if the device does not support the "show banner" command, ios_banner incorrectly detects a change is needed in all banners but the last.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_banner

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A (no output from "ansible-config dump --only-changed")

##### OS / ENVIRON

[2019-10-03 14:42] ElSamhaa opened #63094 "Ansible doesn't return correct values when invoked on group "all" and "ansible_host" matches another "inventory_host""
##### SUMMARY
When invoked on `all`, and some `ansible_host`s matches some other `inventory_host`s, it returns the values that correspond to the `inventory_host`s.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
adhoc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

I have 2 networks, one that contains the ansible server along with other hosts, and the other `env_a

[2019-10-03 14:42] sergioirium commented on #62145
Hi,
the error is in the Get-adcomputer statement. The credentials must be indicated before the first filter.
https://github.com/ansible/ansible/pull/63093

[2019-10-03 14:49] NilashishC commented on #61646
This has been resolved by https://github.com/ansible/ansible/pull/62998.
The backport is https://github.com/ansible/ansible/pull/63095

[2019-10-03 14:50] #61646 closed, assigned to nobody

[2019-10-03 15:12] thoms27 opened #63098 "Huawei CloudEngine NETCONF modules broken in Ansible 2.9"
##### SUMMARY
Since the versions 2.9, few modules work correctly, but not with NETCONF connection.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ce_link_status
ce_vxlan_tunnel
ce_vxlan_global
etc...

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

`Debian 10`

##### STEPS TO REPRODUCE

Launch this playbook:

[code]

##### EXPECTED RESULTS
Display interfac

[2019-10-03 15:17] eftner commented on #59176
I hit the exact same case.

`ansible 2.8.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/eftner/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.15+ (default, Jul  9 2019, 16:51:35) [GCC 7.4.0]`

Task:
`-

[2019-10-03 15:21] eftner commented on #59176
I hit the exact same case.

[code]

Task:

[code]

Playbook:
[code]

host_vars:

[code]

Ansible run:

[code]

My fw version is 5.6.9 build1673.

[2019-10-03 15:29] Ninjiner commented on #56994
Issues I encountered:
* I don`t know if i`m right, but it seems the requests module cannot be used
* sanity test cannot pass because of python2.7 unsupported code
perhaps we should just implement something small ourselves...

[2019-10-03 15:52] goneri opened #63103 "ansible-test sanity seems to be stuck"
##### SUMMARY

I try to reproduce a CI issue and so I run: `ansible-test sanity --test validate-modules`. `ansible-test` starts a process that consumes a lot of CPU cycle without showing any progress in the console.
After 6:08 minutes, I killed it and retried with the `-vvv` parameter. My CPU is still a 100%, this without showing any progress.
When I do a `ps aux`, I can see the `validate-modules/

[2019-10-03 16:04] AlanCoding commented on #61884
I tried to hack around this by substituting the package name where we were using `..`, but that still leads to problems.

[code]

Either I'm doing this wrong, or this is a problem general for collections with module_utils.

[2019-10-03 16:06] bcoca commented on #63076
all is already implicit and not required

[2019-10-03 16:06] kamleshdudani opened #63104 "misdocumented - xml element's to check text value without escape delimiter for special chars"
##### SUMMARY

latest and devel documentation shows example to add escape characters for double quotes text.
i.e. to bypass " with \\". But this needs not to be done anymore with respect to the latest ansible version (ex. 2.8.5v)

Current example :
- name: Add several more beers to the 'beers' element and add them before the 'Rochefort 10' element
  xml:
    path: /foo/bar.xml
    xpath: '/busines

[2019-10-03 16:07] major opened #63105 "Wide glyphs cause padded asterisks to wrap"
##### SUMMARY
Wide glyphs in task names cause the asterisks in the output to wrap around to the next line. My guess is that Ansible is treating characters that take up two spaces as one. Example: 🚀 and 汉字.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 30 with Python 3.7.4

##### STEPS TO REPRODU

[2019-10-03 16:10] goneri commented on #63103
If I use the `--changed` argument, my changed files are correctly detected, but `ansible-test` will continue to eat 100% of a CPU without showing up any progress in the console. The `validate-modules` command line is still huge.

[2019-10-03 16:14] goneri commented on #63103
After =~ 10 minutes I get the following error:

[code]

It would be great if the check was done at the beginning. Or better, if `ansible-test` was able to continue, even if `pwsh` is not installed.

[2019-10-03 16:21] sivel commented on #63103
That command does take a while when targeting a large number of modules, largely because it executes each and every module, one by one.  To support the JSON output format, validate-modules doesn't print anything until the very end.

I just timed it locally in a docker container, and it took about 15 minutes to run fully, on another host it takes 25 minutes.

As far as `pwsh` missing, maybe we coul

[2019-10-03 16:22] sivel commented on #63105
I swore someone filed a PR for this, but it seems it was just on the mailing list:

https://groups.google.com/d/msg/ansible-devel/nuDSLQ7xyLI/OA0ExtsAAQAJ

[2019-10-03 16:27] major commented on #63105
@sivel I can't live without my emojis! 😭

[2019-10-03 16:30] taschaal opened #63108 "vmware_tag_manager change single cardinal tag"
##### SUMMARY

Want to be able to change the value of a single cardinal tag category

Example:

I have a tag category called environment that allows one and only one of the following tags (DEV, PROD, UAT)

I have a vm tagged "PROD",  but I want to change it to "DEV" with the vm_tag_manager module.  Right now if I try to do it the module throws an error.

##### ISSUE TYPE
- Feature Idea

##### COMP

[2019-10-03 16:38] bcoca commented on #63105
that PR won't fix it either, we need to use https://pypi.org/project/wcwidth/

[2019-10-03 16:44] major commented on #63105
@bcoca I was going to suggest using wcwidth but I assumed there was some serious rigor involved with adding new python modules in Ansible. :/

[2019-10-03 16:47] bcoca commented on #63105
there is,  we try to avoid 'non core' libraries as much as possible, why i suggested 'optionally' and we can document it for those that need it

[2019-10-03 16:57] wenottingham commented on #63105
Is there a reason not to just ctype the libc wcwidth as a fallback?

[2019-10-03 18:04] goneri commented on #63103
Thanks for the explanation regarding the JSON output. The behaviour makes sense in a CI context. For a end-user, it would make more sense to iterate on each module one by one, and print a plain test output. In this case, the `pwsh` issue would just become a minor problem, since the other modules would still be checked.

It would also be nice if `--changed` was able to filter the module list.

Anyw

[2019-10-03 18:04] #63103 closed, assigned to nobody

[2019-10-03 19:03] timhughes opened #63112 "ec2_vpc_route_table_info depends on boto , needs to be upgraded to boto3"
##### SUMMARY
Boto is pretty much dead and the upgrade path is boto3

##### COMPONENT NAME

lib/ansible/modules/cloud/amazon/ec2_vpc_route_table_info.py

[2019-10-03 19:07] s-hertel commented on #63112
There's a PR for that if anyone is interested in rebasing it https://github.com/ansible/ansible/pull/44966

[2019-10-03 19:13] sivel commented on #62776
!component =lib/ansible/modules/system/pids.py

[2019-10-03 19:13] nitzmahone commented on #62774
This is by design- the gather_timeout default is only applied to the implicitly generated setup task- if you call setup from adhoc, you have to specify all the args/behaviors you need...

[2019-10-03 19:13] #62774 closed, assigned to nobody

[2019-10-03 19:13] goneri commented on #62810
!component= lib/ansible/modules/cloud/vmware/vmware_guest.py

[2019-10-03 19:15] goneri commented on #62791
!component =lib/ansible/modules/cloud/docker/docker_image.py

[2019-10-03 19:16] sivel commented on #62787
Hi!

Thank you very much for your submission to Ansible. It sincerely means a lot to us that you've taken the time to contribute.

Unfortunately, we're not sure if we want this feature in the program.

If you would like to develop this functionality, we recommend looking into providing this functionality through Ansible Galaxy via Ansible Collections. You can find more information about collection

[2019-10-03 19:16] #62787 closed, assigned to nobody

[2019-10-03 19:19] sivel commented on #62798
!component =lib/ansible/modules/cloud/azure/__init__.py

[2019-10-03 19:20] nitzmahone commented on #62812
We're unlikely to implement this feature- module defaults needs a lot of work as is, and role dispatch works pretty differently anyway. You might want to explore implementing this via YAML anchors in Ansible blocks...

[2019-10-03 19:20] #62812 closed, assigned to nobody

[2019-10-03 19:22] nitzmahone commented on #62817
There's not really enough of a distinction here between `when` and the behavior you're proposing to really be worth implementing. If you really want this behavior, you could probably implement it on a customized callback.

[2019-10-03 19:22] #62817 closed, assigned to nobody

[2019-10-03 19:24] goneri commented on #62909
!component =lib/ansible/modules/cloud/ovirt/ovirt_host_network.py

[2019-10-03 19:25] nitzmahone commented on #62822
We're unlikely to implement this as a feature- collections may include some of this functionality in the future, but the config file isn't really the right place for it.

[2019-10-03 19:25] #62822 closed, assigned to nobody

[2019-10-03 19:25] goneri commented on #62910
!component =lib/ansible/modules/messaging/rabbitmq/rabbitmq_queue.py

[2019-10-03 19:25] timmcross commented on #62810
I believe the line 1584 in vmware_guest.py is:
 default_name = ''.join([c for c in default_name if c not in string.punctuation])

This line also removes a dash from the server name yet a dash is allowed by Microsoft and is in use for every Windows server name my client uses.  If I remove this line, then the VM is named as expected.

[2019-10-03 19:27] goneri commented on #62969
!component =lib/ansible/modules/system/user.py

[2019-10-03 19:30] goneri commented on #62990
!component = lib/ansible/modules/system/mount.py

[2019-10-03 19:30] nitzmahone commented on #62829
Closing as not a bug.

[2019-10-03 19:30] #62829 closed, assigned to nobody

[2019-10-03 19:32] goneri commented on #62990
Hi @kargold100,

could you double-check you don't try to mount /var/cold_summaries on the control node instead of the remote host?

needs_info

[2019-10-03 19:32] sivel commented on #62826
I believe the code has been written under the assumption that you are using `virtualenv` and that `/path/to/vitrualenv/bin/activate` exists.

The virtualenv is only created when `/path/to/virtualenv/bin/activate` doesn't exist, and if you make it to the code block you indicate, you are creating the virtualenv, and thus in check mode it will return changed.

If I were to guess, that path check is f

[2019-10-03 19:33] acozine commented on #62834
We document relative precedence here: https://docs.ansible.com/ansible/devel/reference_appendices/general_precedence.html?highlight=precedence

[2019-10-03 19:33] nitzmahone commented on #62834
As you've noted, that's not the way the precedence behaves- the command line options are only there as a fallback for hosts that have not specified something in inventory, so we'll closet this since it's working as-designed.

[2019-10-03 19:33] #62834 closed, assigned to nobody

[2019-10-03 19:43] samdoran commented on #62848
Duplicate of https://github.com/ansible/ansible/issues/62848

[2019-10-03 19:43] #62848 closed, assigned to nobody

[2019-10-03 19:50] felixfontein commented on #62791
The error means that you didn't install `docker` (or `docker-py`) on the remote server for the Python version that Ansible uses to execute the module with.

Also, if you use a newer 2.8.x version, the error message will tell you both the machine the module runs on and the Python interpreter used to run it.

[2019-10-03 19:50] samdoran commented on #62879
[Python3 requires setting the `inline_comment_prefixes`](https://docs.python.org/3.7/library/configparser.html), which we should fix. Thank you for reporting this.

[2019-10-03 19:50] sivel commented on #62864
Your subject indicates `include_tasks`, but your examples use `import_tasks`.

This is covered in https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.8.html#imports-as-handlers

In short, `import_tasks` create handlers, `include_tasks` is a handler.  You cannot notify the name of `import_tasks`, only the name of `include_tasks`.

If you have further questions please stop by IRC

[2019-10-03 19:50] #62864 closed, assigned to nobody

[2019-10-03 19:51] samdoran commented on #62880
Closing per above.

[2019-10-03 19:51] #62880 closed, assigned to nobody

[2019-10-03 19:54] sivel commented on #62882
[code]

[2019-10-03 19:57] gregorydlogan commented on #62848
@samdoran that link is a circular reference.  Which is the correct ticket?

[2019-10-03 19:57] samdoran commented on #62882
This looks like a failure in the C library used in your Python installation and does not appear to be an Ansible bug. The Python interpreter itself is failing.

[2019-10-03 19:57] #62882 closed, assigned to nobody

[2019-10-03 20:00] sivel commented on #62848
Duplicate of https://github.com/ansible/ansible/issues/46379

[2019-10-03 20:06] bcoca commented on #62847
i would not add this to existing 'dependencies' since they currently carry an 'execution' element and not just a install one. meta/collecion_requirements.txt or similar might be a better way to handle this

[2019-10-03 20:14] samdoran commented on #62848
Sorry, too many things in my paste buffer. 😊

[2019-10-03 20:38] thanos1983 commented on #62791
@felixfontein I have installed the docker (python package) and it still complains that I should install the deprecated package (docker-py).

I have commend on the ticket the temporary workaround is to downgrade the ansible version. The problem stops appearing after.

I can not upgrade the ansible to a higher version than 2.8.1 due to repository restrictions.

If I manage to overcome this problem a

[2019-10-03 20:38] samdoran commented on #62883
It is not currently possible to have `set_fact` inside a looped `include_tasks` do what you want. This is due to the fact that _all_ tasks inside the included task files are actually pre-created before any of the tasks are run.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/

[2019-10-03 20:38] #62883 closed, assigned to nobody

[2019-10-03 20:58] samdoran commented on #63094
There are a number of things going on here.

There are four host entries in your inventory but only two actual hosts.

[code]

When you run `-a hostname` Ansible is using the `command` module (the default module when `-m` is omitted from the command line options, per `ansible --help`) to run the `hostname` command on each host. The output of this command depends on the hostname configuration on ea

[2019-10-03 20:58] #63094 closed, assigned to nobody

[2019-10-03 21:01] ikhan2010 commented on #62141
@justjais we might want to keep track of this one.  Let's discuss if we need to add this in our future roadmap.

[2019-10-03 21:03] felixfontein commented on #62791
The reason why it works with 2.7.x but not with 2.8.x is probably that 2.8 has a different Python interpreter discovery: https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.8.html#python-interpreter-discovery

You should really find out which Python is used by Ansible on the remote host, and make sure `docker` is installed for that Python. In any case, this is not a bug in the `

[2019-10-03 21:09] #62791 closed, assigned to nobody

[2019-10-03 21:34] dagwieers commented on #63104
@kamleshdudani You can open the documentation in GitHub and make the required edits yourself.

[2019-10-03 22:51] prasadkatti commented on #63112
I am interested in doing the rebase. But I haven't rebased someone else's PR before. Do I need to work with @mpostument to rebase his changes on the upstream devel branch?

[2019-10-03 22:53] prasadkatti commented on #63112
I could just apply the diffs from the PR on a new branch in my fork, but that would be like stealing credit for work that someone else did and I don't want to do that. :)

[2019-10-03 23:14] pabelanger opened #63116 "vyos_lag_interfaces : Replace device configurations of listed LAG interfaces with provided configurations failure"
##### SUMMARY

This is to track a failure with vyos_lag_interfaces failing randomly. This is the first time I have seen it, but could be related to python35. Like iosxr_lag_interfaces before.

https://object-storage-ca-ymq-1.vexxhost.net/v1/a0b4156a37f9453eb4ec7db5422272df/ansible_14/63114/8b0ba58a10cdf98b765fba04a4fd1fcd4b8e0512/third-party-check/ansible-test-network-integration-vyos-python35/a8f

[2019-10-04 01:02] prasadkatti commented on #63112
[This](https://github.com/ansible/ansible/pull/57651/files#diff-2fb500ea6648921edc74b04d00e450b4) change renamed the module from _facts to _info. I know how to resolve the conflicts, but I am not sure how I can push the changes up.

[2019-10-04 01:13] xuxiaowei0512 commented on #63098
@thoms27  "pip install ncclinet" may can help you for this issue.
Thanks.

[2019-10-04 01:17] xuxiaowei0512 commented on #63098
@thoms27  'to_xml' is from 'ncclient'.

[2019-10-04 03:05] endejoli opened #63120 "docker_container: Error connecting: Error while fetching server API version: ('Connection aborted.', error(13, 'Permission denied'))""
##### SUMMARY
while using docker_container module in ansible tower, I get the below error
Error connecting: Error while fetching server API version: ('Connection aborted.', error(13, 'Permission denied'))"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container
##### ANSIBLE VERSION
nsible-playbook 2.7.10
  config file = /var/lib/awx/projects/_62__sshgdev/ansible.cfg
  configured mod

[2019-10-04 04:46] felixfontein commented on #63120
You probably need to tell the module how to correctly connect to your docker daemon. The module does *not* use the `docker` executable. The Docker SDK for Python tells you with this error that it cannot talk to your docker daemon.

[2019-10-04 06:06] #63001 closed, assigned to nobody

[2019-10-04 06:26] thoms27 commented on #63098
Hello, ncclient is already installed :

`DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Requiremen

[2019-10-04 06:44] distorhead opened #63123 "Segfault in shell module gives negative exit code "-11""
##### SUMMARY

We are using ansible in our docker build tool [werf](https://github.com/flant/werf) and experiencing some strange behaviour.

Running a program that exits with segfault gives `-11` exit code instead of `139` if `args.executable=/bin/bash` option is set, and gives `139` exit code if there are no `args.executable` option.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

Shell mo

[2019-10-04 07:14] endejoli commented on #63120
I have this small python program executed under awx user, it worked just fine
[code]

[2019-10-04 09:44] szandala commented on #63123
Actually it is correct behavious,
Negative value on return code is a number of signal that was used to stop the process.
-11 means:
  ` SIGSEGV      11       Core    Invalid memory reference`

[2019-10-04 10:17] distorhead commented on #63123
* Stderr is lost.
* Exit code differs depending on `args.executable` setting.

[2019-10-04 10:20] rpluem-vf commented on #58619
Anything I can do to move #59772 forward?

[2019-10-04 10:40] fseesink commented on #62879
Ahh.  I see what you mean.  Read through the page at that link and saw this:

So this likely worked with early versions of Python3, and then they changed the default setting and maybe no one noticed.  I only hit on this as I pivoted from using Python2 to Python3 on my Mac.  Been using Ansible for awhile, but it always relied on the Python2 interpreter that came with macOS, and I used `pip` to inst

[2019-10-04 10:48] kamleshdudani commented on #63104
Thank you for the guidance @dagwieers . I have updated and got acknowledgement that it can be automatically merged

[2019-10-04 10:50] pbrilla-rh opened #63127 "[ovirt] clear up fetch_nested parameter works"
##### SUMMARY
We should document that by default we go only over first level attributes, not any other level of attribute and maybe ADD parameter which enables going deeper.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible/lib/ansible/modules/cloud/ovirt/*_facts.py

##### ADDITIONAL INFORMATION
Discussion was originally raised in https://bugzilla.redhat.com/show_bug.cgi?id=1653743

[2019-10-04 11:04] Jean-Daniel opened #63129 "hostvars should use AnsibleUndefined() and not Undefined()."
##### SUMMARY

In recent ansible release, the default `undefined` class in jinja evaluation context is now `AnsibleUndefined`.

This allow to chain undefined call without failing:

`foo.bar.help[0] | default(0)` will not fails if `bar` is undefined.

Unfortunately, the HostVars class used to represent the `hostvars` mapping keep returning a standard `Undefined()` when an host is not found, which m

[2019-10-04 11:24] Andersson007 commented on #51326
@rthouvenin thank you for reporting this!
@gundalow , please close this via https://github.com/ansible/ansible/pull/63130

[2019-10-04 11:44] felixfontein commented on #63120
Did you run it with the same Python that Ansible uses to execute modules? (That's not necessarily the one with which Ansible itself runs.)

[2019-10-04 11:46] felixfontein commented on #63120
Also, you're calling `docker.from_env()`. That behaves different from how the Ansible module works. You should really check out the options which configure how the module talks to the daemon.

[2019-10-04 11:47] xuxiaowei0512 commented on #63098
Do you have more than one Python on your PC?

[2019-10-04 11:48] ElSamhaa commented on #63094
@samdoran This is not what I'm trying to reach; I've mentioned above that those 4 hosts are different machines, 2 groups of 2 machines having the same hostnames but are in different network environments.

[2019-10-04 12:22] jalbstmeijer commented on #57062
Hi,

Does not seem to be much progress in this.
Just checked Ansible 2.8.5 and 2.9.0rc2.

I'll stop holding my breath and rename my /etc/ami-version.

But still I would be concerned when  /etc/redhat-release is detected as distribution file and a random other file is actually parsed.

[2019-10-04 12:47] bcoca commented on #62879
!component =lib/ansible/module_utils/six/__init__.py

^ we get python's ini parser from the six library (compat py2/py3) so this seems the right place to fix it.

[2019-10-04 12:56] #63104 closed, assigned to nobody

[2019-10-04 13:00] thoms27 commented on #63098
I have an other message when I use the command :
`(ansible-2.9) root@VM-Ansible-Thoms:/etc/ansible/P4# ansible -m ce_link_status -a "interface='GE1/0/1' transport='cli' host=10.10.10.4 port=22 username=admin password=admin" localhost --connection local
localhost | FAILED! => {
    "changed": false,
    "module_stderr": "/tmp/ansible_ce_link_status_payload_DcmgZJ/ansible_ce_link_status_payload.zip/

[2019-10-04 13:11] robertdebock commented on #63077
The related code for this makes me think it's not `pacman` or `package`, but I'm in doubt:

`vars/main.yml`
[code]

`tasks/main.yml`
[code]

I'm pretty sure it's the `split` filter that causes this.

[2019-10-04 13:15] bcoca commented on #63077
since you get `MODULE_FAILURE` the exception is being triggered in the module code, the split filter might be creating incorrect output but it is not the one generating the error in this case.

[2019-10-04 13:34] robertdebock commented on #63077
[Last merged pull request](https://github.com/ansible/ansible/pull/61961) was to remove the `recurse` options. Seems unrelated

[2019-10-04 13:46] KyleEvers opened #63134 "Apt Module hangs forever when running on Kali Linux"
##### SUMMARY

  The apt module has inconsistent behavior from the shell commands. When running ansible apt module to upgrade Kali Linux the command hangs forever. This error appears to stem from a GUI prompt expecting input. However if the shell apt-get upgrade is run with
[code]
  the apt-get upgrade completes successfully. Based on the [code for the apt module the DEBIAN_FRONTEND environment](h

[2019-10-04 13:50] #63043 closed, assigned to nobody

[2019-10-04 13:50] thakurmhn commented on #63043
closing based on comment here
https://stackoverflow.com/questions/58199635/playbook-is-unable-to-read-local-facts-when-facts-files-created-in-same-playbook/58200627?noredirect=1#comment102781657_58200627

[2019-10-04 14:46] sivel commented on #63076
Per the above, specifying `all` in your YAML inventory is not required.  However, the use of `children` is still required under `southeast` for your use case.  We have no intentions of changing this behavior.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-10-04 14:46] #63076 closed, assigned to nobody

[2019-10-04 14:51] Qalthos commented on #56184
cc @GomathiselviS

[2019-10-04 14:53] Qalthos commented on #51132
cc @GomathiselviS

[2019-10-04 14:53] sivel commented on #63067
Duplicate of https://github.com/ansible/ansible/issues/56839

`preserve` is actually not a valid option for `mode` within `unarchive`. This is a documentation error.

Since this was opened as a feature idea, I'll leave it open, since of course fixing the docs, doesn't actually give `preserve` functionality, it would just remove it from the docs.

[2019-10-04 14:56] #59083 closed, assigned to GomathiselviS

[2019-10-04 15:10] NilashishC commented on #62299
@EarlRamirez Glad to know that the issue is resolved. Hence, I'm closing it now.

[2019-10-04 15:10] #62299 closed, assigned to NilashishC

[2019-10-04 15:33] julienmary opened #63137 "ec2 contrib script - AttributeError: 'NoneType' object has no attribute 'strip'"
##### SUMMARY

In ec2.ini we authenticate iam role carried by the instance. So there is nothing to set regarding authentication.
If we put 2 regions in ec2.ini, like :
regions = eu-west-1, eu-west-3

The error is triggered, whereas it works perfectly if we put a single region.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2019-10-04 15:37] ryanmerolle opened #63138 "standardize fortios_config to match ansible network module standards"
##### SUMMARY
fortios_config is missing a lot of the functionality other network _config modules use.  It should start to converge more towards the Ansible Network model documented in:
https://docs.ansible.com/ansible/latest/network/getting_started/network_differences.html

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/modules/network/fortios/fortios_config.py

##### ADDITIONAL

[2019-10-04 15:38] sivel commented on #63004
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-10-04 15:38] #63004 closed, assigned to nobody

[2019-10-04 15:42] endorama opened #63139 "ACMEAccount.get_request does not fails and returns status -1 due to wrong .netrc permissions"
##### SUMMARY

I discovered an issue in the `ACMEAccount` `module_utils`. Due to wrong permissions on `.netrc` file, the `fetch_url` method returns status `-1`, which skip the error check and make function return as the call was successful.

This breaks `ACMEDirectory.__init__`, that reports an error in the ACME directory: `ACME directory does not seem to follow protocol ACME v2` (the same would h

[2019-10-04 16:39] GomathiselviS commented on #62371
@chukabume Please provide information on the ansible version used and the playbook that you used when you hit this issue.
Kindly follow the template  given in [user guide](https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging ) and provide the logs generated.

Also, Please increase the command timeout and let us

[2019-10-04 17:08] ShachafGoldstein commented on #62145
@manaspatkar22 @ansiblejunky can you confirm #63093 solves it for you?

[2019-10-04 17:48] falcon78921 commented on #62063
Fixed here: https://github.com/ansible/ansible/pull/63034

[2019-10-04 17:51] nitzmahone commented on #62879
@bcoca After poking at it a bit yesterday, the six stuff for configparser is just a move entry, so I highly doubt they'd accept the necessary changes to make it work by default. I've hacked up a little class factory wrapper (with tests!) that we can plug in whereever we want to make py3's configparser behave like py2's unless you've specifically passed config to __init__. I'll PR that now.

[2019-10-04 19:50] #62953 closed, assigned to nobody

[2019-10-04 20:09] jreuter60 commented on #51843
I have a variation on this that occurs without using the nios_next_ip.

I have a task list file (to use in a loop) that creates an ESX VM by cloning a template and then sets up DNS addressing.  The template and therefore the clone use DHCP addressing.  I have the vmware_guest module wait until addresses are assigned, then I use nios_host_record to create DHCP DNS entries for the hostname with the

[2019-10-04 20:34] hannseman commented on #62728
@felixfontein yes that would a be nicer interface. docker-py requires `source` to be set for a `Mount` but we could just send in an empty string if `type` is `tmpfs`.

@vsvarrier if you are interested you are very welcome to open a pull request.

One suggestion would be the remove `required=True` on `source` and add a function called `get_mounts` which gets `mounts` as an argument and checks if `m

[2019-10-04 23:06] prasadkatti commented on #59303
Hi @SarahJaine. It looks like it is not possible to delete specific versions of a launch template as you mentioned. I have submitted a PR to update the description of the state parameter to the module to make this clear.

I don't think the doc means `default_version` when it says `version`. The one situation where the `default_version` could be passed in to an existing template could be to change

[2019-10-05 01:45] AlanCoding opened #63148 "Inventory plugin _read_config_data incompatible with collections"
##### SUMMARY
The method `_read_config_data` appears, by use, to the the most common ways that inventory plugins initialize the data from `.yml` inventory files, combined with `get_option`.

This doesn't work if those plugins are packaged in collections.

Try `plugin: x.y.foo` or `plugin: foo` in the inventory file. The latter is not possible with the way collections are done. The former causes `_

[2019-10-05 02:53] yeroc opened #63150 "gcp_compute_instance: Add support for "publicPtrDomainName" under network_interfaces.access_configs"
##### SUMMARY
Currently the gcp_compute_instance module doesn't allow for the `publicPtrDomainName` setting under `network_interfaces.access_configs`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_compute_instance

##### ADDITIONAL INFORMATION
Used for setting up a gcp compute instance where you want to have a PTR DNS record configured.  We probably don't need an explicit `setPublicPt

[2019-10-05 03:45] xuxiaowei0512 commented on #63098
@thoms27  Could please comment your device version information and playbooks?
Thanks.

[2019-10-05 06:43] imjoseangel opened #63156 "azure_rm_keyvaultkey_info AttributeError: 'AzureRMKeyVaultKeyInfo' object has no attribute 'vault'"
##### SUMMARY

Attribute error not found when listing deleted keys

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_keyvaultkey_info
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS with pyenv

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

List of deleted keys on keyvault

##### ACTUAL RESULTS

[code]

[2019-10-05 07:27] daemenseth commented on #60677
I check it next week in the office

[2019-10-05 11:56] imjoseangel opened #63159 "azure_rm_keyvaultsecret_info"
##### SUMMARY

##### ISSUE TYPE
- Introduce azure_rm_keyvaultsecret_info

##### COMPONENT NAME

azure_rm_keyvaultsecret_info.py

##### ADDITIONAL INFORMATION

[code]

##### ANSIBLE VERSION
2.10

[2019-10-05 12:34] ElSamhaa opened #63161 "Ansible treats different hosts sharing the same `ansible_host` the same although having different 'jumpserver' arguments"
##### SUMMARY
*I've already opened a previous issue [#63094](https://github.com/ansible/ansible/issues/63094) with the same problem, but some member misinterpreted the problem and closed the issue. pls read carefully.*

When invoked on `all`, and some `ansible_host`s matches some other `inventory_host`s, it returns the values that correspond to the `inventory_host`s.

<img width="519" alt="env" sr

[2019-10-05 12:55] felixfontein commented on #29628
Could you please explain how that feature should work? I don't see how this is possible with Docker itself:
[code]
needs_info

[2019-10-05 13:10] felixfontein commented on #55738
Hello all! There's a PR which should fix this (thanks to @arlaneenalra): #63158

Could you please give it a try and see whether it works for you?

[2019-10-05 13:10] felixfontein commented on #32868
Hello all! There's a PR which should fix this (thanks to @arlaneenalra): #63158

Could you please give it a try and see whether it works for you?

(Besides that, you can probably work around the issue for now by specifying `reauthorize: true`. That will force checking the specified credentials against the registry.)

[2019-10-05 13:10] felixfontein commented on #29579
Hello all! There's a PR which should fix this if used with https://github.com/awslabs/amazon-ecr-credential-helper (or some other credential helper for Amazon ECR, if there's one): #63158

Could you please give it a try and see whether it works for you?

[2019-10-05 14:35] #49695 closed, assigned to nobody

[2019-10-05 15:53] felixfontein commented on #59296
Closing as this isn't a bug of the module, but a problem with installed 3rd party libraries (in this case, the Docker SDK for Python).

[2019-10-05 15:53] #59296 closed, assigned to nobody

[2019-10-05 16:59] prasadkatti commented on #56923
The module needs to be upgraded to use boto3 before we can add this feature. There is a stale PR related to this - #45402.

[2019-10-05 20:15] slarti-b commented on #22287
Trying (as an LDAP novice) to configure an LDAP server via ansible and ran into this when trying to load the memberof overlay.  I think @azaghal's suggestion for an `indexed` option makes sense. As it stands, the `ldap_attr` module isn't really idempotent for this type of entry.  Are there any updates on this?

I'm using @Morgyn 's work-around for now - except that you need (or, I did anyway) to a

[2019-10-05 20:25] raghualapati commented on #43506
Can any one help me on how to use the module elb_application_lb to set a fixed response at the load-balancer level.

[2019-10-05 21:52] rayterrill opened #63167 ""Already configured" Error with ios_config using match: strict"
##### SUMMARY

I'm receiving an error when using the ios_config module and attempting to apply a config to a Cisco 3650 switch interface using the "match: strict" functionality.

I can clear the port, then apply the config one time. I remove one line from my lines: section to test the ability to respond to a line missing (hoping it would update the config), but instead I receive an error:

[code]

[2019-10-06 08:55] Nebula83 commented on #49294
@nqb Not tested but: store ansible_user in a fact, and use the fact in the loop?

[2019-10-06 09:31] resmo opened #63172 "docker_container sets facts"
##### SUMMARY

docker_container sets facts, but should use "returns". ansible_facts is especially not helpful when looping over docker_container... only the last iteration would set as docker_container fact.

Facts should be remove (deprecate) in favor of returns

https://github.com/ansible/ansible/blob/a99af710fbfb768745b214f1a4de2f0dd5d40551/lib/ansible/modules/cloud/docker/docker_container.py#L

[2019-10-06 10:15] yvespp opened #63173 "vcenter_folder is slow an creates 234 api request"
##### SUMMARY
vcenter_folder creates 234 vsphere api requests and takes 4 to 5 seconds to run.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vcenter_folder

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* vSphere 6.7u2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

* No more then 10 api request are used
* Task takes less than on second to co

[2019-10-06 10:16] yvespp commented on #63173
Is there a way/debug option to see all the requests that are sent to the vSphere API?

[2019-10-06 12:23] Akasurde commented on #63127
!component = lib/ansible/modules/cloud/ovirt/*

[2019-10-06 12:24] Akasurde commented on #63108
!component =lib/ansible/modules/cloud/vmware/vmware_tag_manager.py

[2019-10-06 12:52] Akasurde commented on #62637
I see docs updated in [`devel`](https://github.com/ansible/ansible/pull/61221) and [`2.9`](https://github.com/ansible/ansible/pull/62104). Not sure if 2.9 docs are update or not.

cc @samccann

[2019-10-06 13:11] jackivanov opened #63175 "digital_ocean_floating_ip is not idempotent"
##### SUMMARY
`digital_ocean_floating_ip` is not idempotent, this is important.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
digital_ocean_floating_ip

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
1. Run the tasks below. Droplet gets created with a Floating IP assigned.
2. Run the tasks once again, the playbook fails on the second step.

[code]

##### EXPECTED RESULTS
Ansible de

[2019-10-06 13:12] Akasurde commented on #63127
bot_skip

[2019-10-06 13:14] jackivanov commented on #63175
cc @pmarques

[2019-10-06 13:16] Akasurde commented on #54964
@Kiarashz Could you please try https://github.com/ansible/ansible/pull/62602 and let me know if it works for you ? Thanks.

needs_info

[2019-10-06 14:12] felixfontein commented on #63172
Check out the documentation: https://docs.ansible.com/ansible/latest/modules/docker_container_module.html#return-values

:)

[2019-10-06 15:20] nijave opened #63180 "Second delegate_to uses incorrect interpreter"
##### SUMMARY
I connect to Hyper-V to create a VM
Connect to opnsense via delegate_to
Run a localhost action via delegate_to <- This fails since it tries to use the intepreter it discovered in the previous step

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
delegate_to and uri ?

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Target Host: winrm Hyper-V con

[2019-10-06 16:19] fumiyas opened #63181 "`{{ {"foo": undefined_var} }}` generates `{"foo": AnsibleUndefined}`"
##### SUMMARY
`{{ {"foo": undefined_var} }}` and `{{ {"foo": dict.no_such_key} }}` do NOT raise an error, but generate `{"foo": AnsibleUndefined}`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core or jinja2?

##### ANSIBLE VERSION
Ansible 2.8.3 (Debian sid official package), 2.8.5 (see below).

[code]

##### CONFIGURATION
no changes.

##### OS / ENVIRONMENT
Debian sid (unstable)

##### ST

[2019-10-06 17:14] Akasurde commented on #63127
!bot_skip

[2019-10-06 18:58] geertn opened #63182 "[inventory/azure_rm] auth_source: cli doesn't honour subscription_id setting"
##### SUMMARY
When using `auth_source: cli` it seems impossible to get information from other subscriptions than the default subscription (set using `az account set --subscription <id>`).

For example I have 3 subscriptions: aaa, bbb and ccc. aaa is my default subscription. My inventory config looks like:

[code]
This still returns the VMs for subscription aaa. I traced it to line 1220 in `azure_r

[2019-10-06 19:30] ghost opened #63183 "Please ensure that commit log summaries are informative for release notes"
The release notes appear to be generated directly from the git commit log summary lines.  This is reasonable, but only when the commit log summaries are guaranteed to have useful information.  A fair number of your commit logs do not reference a particular module or area of interest, or do not indicate what they are changing or fixing, and so become useless in the release notes.

If the release no

[2019-10-06 21:33] resmo commented on #63172
miss that. never mind.

[2019-10-06 21:33] #63172 closed, assigned to nobody

[2019-10-07 01:10] Akasurde commented on #63127
bot_broken

[2019-10-07 04:49] darkfoxprime commented on #63183
!component changelogs/CHANGELOG-v2.8.rst

[2019-10-07 04:51] darkfoxprime commented on #63183
!component =changelogs/CHANGELOG-v2.8.rst

[2019-10-07 06:18] tomicke commented on #61211
Hey!

You can solve the issue with removed IP-configuration on Nexus9K when adding/changing vrf member with global configuration command "system vrf-member-change retain-l3-config".

With that said i wouldn't mind some optimization when it comes to interfaces, currently i have to use 3 NXOS modules to create interface, add VRF membership and IP-address.

nxos_interface
nxos_vrf_interface
nxos_l3_i

[2019-10-07 06:40] thoms27 commented on #63098
Hello, Thank you for your help. Few Huawei modules works fine like VXLAN modules which used NETCONF too (ce_vxlan_tunnel, ce_evpn_bd_vni, ce_interface, ce_vxlan_vap), but not ce_link_status.

I used eNSP with a CE12000 :
`<CE12K>dis version
Huawei Versatile Routing Platform Software
VRP (R) software, Version 8.180 (CE12800 V200R005C10SPC607B607)
Copyright (C) 2012-2018 Huawei Technologies Co., Ltd

[2019-10-07 07:11] ghost opened #63188 "incorrect service state with sub=exited"
##### SUMMARY
[code]

but the real state is "running"

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/modules/system/service_facts.py`

##### ANSIBLE VERSION
ansible 2.8.5

##### CONFIGURATION
nothing changed

##### OS / ENVIRONMENT
CentOS 7
Mint 19

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
state: running

##### ACTUAL RESULTS

[code]

sub=exited do

[2019-10-07 07:18] thoms27 commented on #63098
To complete it's works fine with virtual interface (Vlanif 1, NULL0 ) not ethernet interface :

[2019-10-07 07:38] meerkampdvv commented on #57019
Heay @conxuro
i updated python-oca to pyone
resolved_by_pr #62867

[2019-10-07 07:41] #57019 closed, assigned to nobody

[2019-10-07 07:57] tomicke opened #63190 "Suggestion nxos_vrf modules"
##### SUMMARY
Hello!

Suggestions to nxos_vrf modules.

Currently using 3 modules to create VRF, add AFI with EVPN route-targets and nxos_config to add IP route-targets. The nxos_vrf_af module only supports adding EVPN RTs and not IPv4/IPv6 RT needed for import/export and advertisements of prefix information.

Would it not be possible to:
-  add AFI and RT parameters(auto RTs for EVPN and IP) to n

[2019-10-07 08:19] mklimczu opened #63192 "ec2_eni incompatible with Python 3"
##### SUMMARY
On Python 3, ec2_eni, state: absent, fails with the following error: `TypeError: a bytes-like object is required, not 'str'`. The same works well on Python 2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_eni

##### ANSIBLE VERSION

[code]

(Tested with 2.10.0.dev0 with the same result)

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* Python 3.7.4 (failing) / Python

[2019-10-07 10:00] HOSTED-POWER commented on #29311
Hello,

We're really blocked right now since the channel commands are impossible to use atm.

Anything we can do? We're not python developers unfortunately or we'd make a patch ourselves :)

[2019-10-07 11:54] bmalynovytch commented on #29311
Hi !
This shouldn't be too hard to fix, although one need to handle the case where this is used on unsupported versions of MySQL and MariaDB.

easyfix

[2019-10-07 11:59] Andersson007 commented on #29311
Hello all, i’ll try to find time to take a look at the code tomorrow

[2019-10-07 12:12] Vladimir-csp opened #63196 "Removed restricted key from module data"
##### SUMMARY

A message appears during playbook run: `Removed restricted key from module data: ansible_docker_ds...`
I see a number of closed bugs with similar messages. (#25710, #27729, #41684) Should I be worried about naming docker networks, or fixes of these bugs were somehow incomplete?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core
docker

##### ANSIBLE VERSION

[code]

##### CO

[2019-10-07 12:13] bmalynovytch commented on #29311
+label easyfix

[2019-10-07 13:00] fumiyas opened #63198 "`when: none_value_from_another_var is none` is evaluated as `when: '' is none`"
##### SUMMARY
A variable that refers another `none` variable is evaluated to '' (i.e., null string), not `none` value.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
jinja2?

##### ANSIBLE VERSION
Ansible 2.8.3 (Debian sid official package), 2.8.5 (see below).

[code]

##### CONFIGURATION
no changes

##### OS / ENVIRONMENT
Debian sid (unstable)

##### STEPS TO REPRODUCE
`playbook.yml`:
[code

[2019-10-07 13:29] clammers commented on #61211
Using 'retain-l3-config' is such a workaround but does not solve the issue.

@trishnaguha Any updates on this?

[2019-10-07 13:30] clammers commented on #62048
@trishnaguha any updates on this?

[2019-10-07 13:53] s-hertel commented on #63148
This is a known issue. I have a possible solution here that fixes it, though I need to rebase it by now. https://github.com/ansible/ansible/pull/56469

[2019-10-07 14:02] adam-dej commented on #37660
I can still reproduce this issue in Ansible 2.8 and on the devel branch. The root cause is two-fold:

`defineXML` libvirt function (which is used by command `define` of the `virt` module) **can**
redefine a domain, but according to https://bugzilla.redhat.com/show_bug.cgi?id=1309271#c3 the XML
must contain both `name` and `uuid`, otherwise you'll get "domain already exists" error, which is
silentl

[2019-10-07 14:09] AlanCoding commented on #63148
https://docs.ansible.com/ansible/devel/dev_guide/developing_inventory.html#developing-an-inventory-plugin

[2019-10-07 14:11] AlanCoding commented on #63148
closing due to that docs quote

[2019-10-07 14:11] #63148 closed, assigned to nobody

[2019-10-07 14:25] rayterrill commented on #63167
Potential workaround - force clearing of the config prior to laying down new config, replace entire block:
[code]

[2019-10-07 15:54] tazerdev commented on #60044
I'm seeing this same behavior in RHEL's ansible 2.8.5. Here's my specific test case:

[code]
Relevant Ansible task:

[code]

Of those 6 variations the only ones that don't generate the warning are the lowercase and quoted values:

[code]

I get the same warning if I use single quotes around `'{{ item.value }}'` and if I leave quotes off altogether I get an error about missing quotes.

While it doe

[2019-10-07 16:17] goneri commented on #60913
Resolved by https://github.com/ansible/ansible/pull/60914

[2019-10-07 16:17] #60913 closed, assigned to nobody

[2019-10-07 16:23] resmo commented on #51326
resolved_by_pr 63130

[2019-10-07 16:24] #51326 closed, assigned to nobody

[2019-10-07 16:39] xuxiaowei0512 commented on #63098
I am look at this and reproduciing it.
As soon as possible,I will update the codes.
After that, I will ping you.
Best regards.

[2019-10-07 17:26] raneq opened #63204 "PostgreSQL user and db names should allow dots"
##### SUMMARY
Using postgresql modules, database (pending), users (fixed by #63565), ~~tables and probably others,~~ (see [comment](https://github.com/ansible/ansible/issues/63204#issuecomment-542686315)) can't contain dots, but should be able to, as escaped characters. Although it's not a good practice, it's supported and under certain circumstances some applications force you to create databases

[2019-10-07 17:44] kostiantyn-nemchenko commented on #63204
@raneq thank you for the report. Feel free to contribute a PR fixing it. Otherwise someone from community will take a look.

[2019-10-07 17:45] mszumilak opened #63207 "plase close it/remove it"
Please close this request. I found a mistake in my playbook.

[2019-10-07 18:01] rambleraptor commented on #63207
close_me

[2019-10-07 18:41] AlanCoding opened #63210 "Error using multiple galaxy servers where collection does not exist on first"
##### SUMMARY
I have a setup where I define 2 galaxy servers. The first server (higher precedence) is a beta version of Automation Hub and it does not have the collection. I expect it to get a 404 error, and then try the 2nd server.

Instead, the output shows that it obtained the collection from the server (it did not), and get a confusing message about versioning. The command exists with a non-ze

[2019-10-07 18:48] #63207 closed, assigned to nobody

[2019-10-07 19:08] alikins commented on #63210
Looking a the server response for https://ci.cloud.redhat.com/api/automation-hub/v3/collections/chrismeyersfsu/test_things/versions/ shows an empty
paginated list instead of a 404:

[code]

Since neither the 'chrismeyersfu' namespace nor the 'chrismeyersfu.test_things' collection exist, the server should be returning a 401 or other access error.

I think this particular case looks like a galaxy-ap

[2019-10-07 19:18] mdutton3 opened #63212 "Some AWS modules do not account for AWS partition"
##### SUMMARY

AWS ARNs support a partition field that identifies which AWN partition contains the resource. Some portions of ansible modules assume the default `aws` partition and cannot be used correctly in other partitions.

https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arns-syntax

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- ec2_instance
- contrib/ec2.py

[2019-10-07 20:47] shariaty59 commented on #59176
any luck with this issue? I'm getting the exact same one.

[2019-10-07 20:54] eftner commented on #59176
I upgraded python to 3.6 and also installed the devel ansible version and the issue is gone.

[2019-10-07 21:32] BarbzYHOOL commented on #24278
this is needed

[2019-10-08 04:38] endejoli commented on #63120
It would be great if you could specify what needs to be looked at

[2019-10-08 06:37] oh-c opened #63222 "vmware_guest_custom_attributes does not accept uuid only"
##### SUMMARY
Documentation states, that uuid is required if name is not set but the play fails with an error that a required argument (name) is missing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest_custom_attributes

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS 10.14

##### STEPS TO REPRODUCE

---
[code]

##### EXPECTED RESULTS

T

[2019-10-08 08:18] Spreadcat commented on #37711
Stumbled over this today. Is there any update on this? Otherwise I guess I'll have to learn to teach myself messing with "your" code....#emptythread :)

[2019-10-08 08:24] flynn1973 commented on #61944
opened a related pr  #63131

[2019-10-08 09:18] HOSTED-POWER commented on #29311
@Andersson007 Let us know if any questions about it! :)

[2019-10-08 10:52] djasa opened #63224 "[RFE][file module] interpret numeric owner/group as uid/gid whether they're known to system or not"
##### SUMMARY

File module currently expects string values of `owner` and `group` arguments, expects them to be usernames and if they're all numeric (which POSIX usernames unfortunately can be) and not present in the system, it then turns them to uid/gid. It would be quite clean for file module to intepret int-type values as uid/gid right away and set ownership to these right away (python's `os.ch

[2019-10-08 10:52] Shaps commented on #63212
Hi @mdutton3,
I'm guessing ( at least for ec2_instance ) this would fail if you pass a full ARN with a different partition in it `arn:aws-cn:<etc..>`? I can see the ARN being handled differently in some other modules, so could be a fairly easy fix  to add to the ones that are missing it.

[2019-10-08 11:00] knumskull opened #63225 "[ovirt_vm] Provide possibility to change Display keyboard-layout"
##### SUMMARY

I would like to be able to set the keyboard layout for graphical console through ansible, as it's already possible via API and UI

https://access.redhat.com/documentation/en-us/red_hat_virtualization/4.3/html/rest_api_guide/types#types-display
==> keyboard_layout

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ovirt_vm

##### ADDITIONAL INFORMATION

In countries like Germany

[2019-10-08 11:06] raneq commented on #63204
Backlinks:
- PR #30828 from @pilou-
- PR #22601 from @indreek
- Issue #22568 from @indreek

People discussing code: @pilou- @abadger @indreek Would you be willing to retake this?

People asking for a fix: @spindel @padraiglennon @mannerman @kmmbvnr @kyrofa Can you show your interest if this is still meaningful to you?

Thank you everyobdy!

[2019-10-08 11:10] mdutton3 commented on #63212
Yes, precisely.

I was going to put in a PR for that case and then saw there were about ~150 places in `lib/` and `contrib/` that need to be reviewed and I didn't have time at the moment. I can still put the PR in but it'll be a couple days.

[2019-10-08 11:22] sylvainOL opened #63226 "`azure_rm_manageddisk_info` (and `_facts`) doesn't behave well when filtering by tags"
##### SUMMARY
If you want to filter disks using tags, `azure_rm_manageddisk_info` throws an error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- azure_rm_manageddisk_info
- azure_rm_manageddisk_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

nothing relevant here as I assume the error is "simple".

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2019-10-08 11:29] felixfontein commented on #63120
I would take a look at which `DOCKER_*` env variables you are using, and checking whether these are also set for `docker_container` invocation. Also note that the `docker_*` modules might interpret some of them slightly different (possibly `DOCKER_TLS` and `DOCKER_TLS_VERIFY`), so it would be best to set the corresponding module options directly.

[2019-10-08 11:34] yoctozepto opened #63227 "Only one IPv6 address is present in interface facts"
##### SUMMARY
When interface has more than one IPv6 address, only one is listed in facts - seems to be the last one added.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
setup

##### ANSIBLE VERSION
[code]

[code]

##### CONFIGURATION
(not changed)

##### OS / ENVIRONMENT
Tested on CentOS 7, Ubuntu 18.04 and Debian Buster.

##### STEPS TO REPRODUCE
Run setup module and inspect IPv6 addresses

[2019-10-08 11:46] Andersson007 commented on #29311
hey, i've started to make it.
Stumbled on
[code]
MySQL 8
i tried several quick solutions like IDENTIFIED WITH mysql_native_password, etc. and they don't work.
Any ideas?

[2019-10-08 11:51] HOSTED-POWER commented on #29311
We use MySQL 8.x with backwards compatibility ( You can chose that on install normally).

Quick fix for now in MySQL CLI:

ALTER USER 'yourusername'@'localhost' IDENTIFIED WITH mysql_native_password BY 'youpassword'

OR:

[mysqld]
default_authentication_plugin=mysql_native_password

(with this, I still think you need the first as well if user already created).

See : https://stackoverflow.com/ques

[2019-10-08 11:54] Andersson007 commented on #29311
@HOSTED-POWER , thank you! will try

[2019-10-08 12:03] dsvensson commented on #62822
@nitzmahone What is the correct place for it, and how do I require a specific version otherwise?

[2019-10-08 12:04] fumiyas opened #63228 "Cannot override a variable defined by `include_tasks`"
##### SUMMARY
`set_fact` module in an included tasks file cannot override a variable defined by `include_tasks`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
Ansible 2.8.3 (Debian sid official package), 2.8.5 (see below).

[code]

##### CONFIGURATION
No changes.

##### OS / ENVIRONMENT
Debian sid (unstable)

##### STEPS TO REPRODUCE

`playbook.yml`:
[code]

`rol

[2019-10-08 12:07] Andersson007 commented on #29311
i'll continue to suffer with MySQL tomorrow.
BTW, you can upgrade your clusters and use MariaDB multi-source instead since https://github.com/ansible/ansible/pull/63229 :)

[2019-10-08 13:11] alexgran opened #63231 "apt uninstalls packages and breaks machine"
##### SUMMARY
When doing a harmless apt install for a package, this might uninstall other packages and break stuff heavy, especially if there are lots of pending upgrades.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
target server was a debian machine, pending an upgrade stretch->buster

##### STEPS TO RE

[2019-10-08 13:49] okanozdemir opened #63234 "gcp_storage_bucket_access_control module bucket parameter bug"
##### SUMMARY

There is a bug in gcp_storage_bucket_access_control module. There is an issue record for that #58317 and a fix. I copy the module source code from devel branch to my local, and the module still not working correctly. Is there any workaround solution for this?
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gcp_storage_bucket_access_control

##### ANSIBLE VERSION

[code]

#####

[2019-10-08 14:01] #58923 closed, assigned to nobody

[2019-10-08 14:09] ecantin opened #63236 "na_ontap_user module displays 'Module did not set no_log for set_password'"
##### SUMMARY

1) On all 'na_ontap_user' invocations by a task, the following warning message is displayed:
 [WARNING]: Module did not set no_log for set_password

2) On all 'na_ontap_user' invocation by a task with '-vvv' ansible-playbook option, the 'set_password' option value is displayed in clear text.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

na_ontap_user

##### ANSIBLE VERSION

[2019-10-08 14:30] felixfontein commented on #63005
!component =lib/ansible/plugins/inventory/azure_rm.py

[2019-10-08 15:10] sushifrick commented on #29214
Just to let you know, I tested the mysql_replication.py from the devel branch to setup a master_slave mariadb server-pair using `MASTER_USE_GTID = slave_pos` and it worked great

[2019-10-08 15:12] #63225 closed, assigned to nobody

[2019-10-08 15:25] mhenniges commented on #62931
Having the same experience, I believe this is the same or similar underlying cause that led to https://github.com/ansible/ansible/pull/54692  - the short version of which is that if the instances  have been detached/re-attached to the ASG, or the LC that they were originally spawned with has be removed, then the name of the LaunchConfigurationName what was in effect when they spawned is not includ

[2019-10-08 15:37] Sylvain303 commented on #16456
The error message can also be produced with this playbook

[code]

notice as it is colorized, you may miss the missing quote.

[code]

[2019-10-08 16:06] mihailstoynov commented on #45761
Any idea when this is going to get fixed?

For me it always changes the following options :
- address
- netmask
- gateway

(handlers get called all the time)

And it always creates them with an extra space

[code]

(there are no duplications)

It works fine for the following options:

- bridge-ports
- bridge-stp
- bridge-fd

[2019-10-08 16:13] jean-christophe-manciot commented on #62141
@Qalthos
@ikhan2010

That necessary feature seems to be only available for:
- ios_command
- iosxr_command

but **not available** for the following modules (according to their official documentation):
- **asa_command** (as already shown)
- **nxos_command**
- ***_config**
where * can be replaced by asa, ios, iosxr & nxos, and probably all other vendors although I have not checked that last point

It

[2019-10-08 16:28] kyrofa commented on #63204
Definitely still interested over here, thanks @raneq.

[2019-10-08 16:29] acozine opened #63242 "Nosh module return value for `status` should be a sample, not "contains""
##### SUMMARY
In the nosh module's return documentation, the description of the `status` field isn't helpful:

![Screen Shot 2019-10-08 at 11 24 11 AM](https://user-images.githubusercontent.com/879121/66414054-44de7b00-e9be-11e9-831c-2b73d2d1cd30.png)

That section is built from https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/nosh.py#L138-L187. The content there should be

[2019-10-08 16:29] GomathiselviS commented on #62210
@jkrabbe  'nxos_interface' will get deprecated soon and will be replaced by 'nxos_interfaces'.
This will be released in a couple of weeks. Requesting you to use 'nxos_interfaces' and let us know the behavior.

[2019-10-08 17:49] padraiglennon commented on #63204
I still need this functionality

On Tue, 8 Oct 2019, 12:08 raneq, <notifications@github.com> wrote:

[2019-10-08 18:54] acozine commented on #63242
I believe that replacing `contains` with `sample` should fix this, but whoever picks up the issue should test my hypothesis.

[2019-10-08 20:19] mattclay opened #63254 "firewalld integration test fails on RHEL 8.1b"
##### SUMMARY

The firewalld integration test fails on RHEL 8.1b and has been disabled on that platform.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

firewalld

##### ANSIBLE VERSION

devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

RHEL 8.1b

##### STEPS TO REPRODUCE

Remove the `skip/rhel8.1b` from the aliases file for the firewalld integration test.

`ansible-test integration fi

[2019-10-08 20:21] mattclay commented on #63254
The PRs to enable the RHEL 8.1b tests and disable the firewalld test are:

* https://github.com/ansible/ansible/pull/63141 - devel
* https://github.com/ansible/ansible/pull/63252 - stable-2.9
* https://github.com/ansible/ansible/pull/63253 - stable-2.8

[2019-10-08 20:29] mikewiebe opened #63255 "netconf_rpc module does not work with nxos"
##### SUMMARY
In latest `devel` and `ansible 2.9` release the `netconf_config` module generates an error indicating the connection was not properly established.

The module works in `ansible 2.8.5` and earlier.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netconf_rpc

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### STEPS TO REPRODUCE
The following playbook can be used to re

[2019-10-08 20:46] uditgaurav opened #63256 "k8s module for shell commands ("kubectl create -f" NOT "kubectl apply -f")"
**COMPONENT NAME**
k8s

**SUMMARY**
What I found is k8s module is treating it as "kubectl apply -f " not "kubectl create -f "
it will be great if k8s module can work as "kubectl create -f" by anyways.

**OPENSHIFT VERSION**
[code]
**ANSIBLE VERSION**
[code]

**SHELL COMMAND**
[code]
**USING K8S MODULE**
[code]
Is there any way by which it can be treated as required?

[2019-10-08 21:12] uditgaurav opened #63258 "Deleting the deployment using k8s module stuck into terminating state"
**COMPONENT NAME**
k8s

**SUMMARY**
Deleting the deployment stuck into terminating state using k8s module

**OPENSHIFT VERSION**
[code]
**ANSIBLE VERSION**
[code]
**USING K8S MODULE**
[code]
**EXPECTED RESULT**
The deployment should be deleted successfully.

**ACTUAL RESULT**
Application get stuck into terminating state as shown:

[code]

[2019-10-08 21:14] Jon-Rausch commented on #63045
Bug is in the code that adds colons and number formatting in the module.  If I remove the self.format_number I get the original decimal notation without truncation.  Below is the offending code:

try:
                        hba_info['node_wwn'] = self.format_number(hba.portWorldWideName)
                    except AttributeError:
                        pass

    @staticmethod
    def format_numb

[2019-10-08 21:31] chouseknecht commented on #63210
@AlanCoding

Fixes deployed to `https://galaxy-qa.ansible.com`, and `https://ci.cloud.redhat.com/api/automation-hub/`. Matching `ansible-galaxy` code is ready for merging here: https://github.com/ansible/ansible/pull/63238

[2019-10-08 21:35] rulai-jianfang commented on #22691
+1

[2019-10-08 21:41] Jon-Rausch commented on #63045
The code could be fixed by converting the number to HEX in the initial pull of hba.portWorldWideName and stripping out the leading 0x and trailing L associated with the conversion, before sending it to the format_number.  Below is the code modification that should be done in the module:

try:
hba_info['port_wwn'] = self.format_number(hex(hba.portWorldWideName).lstrip("0x").rstrip("L"))
except Attr

[2019-10-08 21:42] Jon-Rausch commented on #63045
``try:
hba_info['port_wwn'] = self.format_number(hex(hba.portWorldWideName).lstrip("0x").rstrip("L"))
except AttributeError:
pass``

[2019-10-08 21:45] Jon-Rausch commented on #63045
That same code change should be done for the "node_wwn" values as well

[2019-10-08 21:46] AndresPineros commented on #25149
Hello guys, why not just:
[code]

???
Just add that block after creating all the rules with the iptables module. Am I missing something here? I just solved it like that for Centos.

[2019-10-09 01:16] willthames commented on #63256
@uditgaurav I'm not really clear what the difference between what you expect and what you're actually seeing is? There's a reason the issue template includes a request for that information.

Also, your ansible version says 2.4.6? I'm not sure the k8s module was even available back then so something seems wrong.

Ansible 2.9 will offer the ability to use the equivalent of `kubectl apply`, but not b

[2019-10-09 01:40] myroslavrys commented on #57061
Have same issues. With encrypted ansible_become_pass receiving error:
fatal: [node1]: FAILED! => {"msg": "Incorrect sudo password"}

Everything works with plaintext ansible_become_pass.

[2019-10-09 02:54] feisa commented on #63012
any update?

[2019-10-09 03:39] Akasurde commented on #63045
@Jon-Rausch Thanks for the debugging and providing this useful insights.

[2019-10-09 04:12] tomicke commented on #61211
Sry, then i missunderstood the issue, i thought it was that you lost IP configuration when adding/changing VRF membership.

[2019-10-09 05:43] IshwarKanse commented on #62377
@s-giri @krisvasudevan @justjais  Anybody working on this ? Its a customer request and this has been opened for almost a month.

[2019-10-09 06:55] nkakouros commented on #56326
I think this has been fixed somehow.

[2019-10-09 07:28] nkakouros commented on #57747
@rambleraptor Is there the possibility that you could look into this?

[2019-10-09 07:35] MannerMan commented on #63204
@raneq Yes, it would be great to have this resolved! Currently resorting to ugly hacks/custom modules as a workaround.

[2019-10-09 08:00] Spindel commented on #63204
It’s still a problem for us.

[2019-10-09 08:03] gvcgael opened #63267 "win_pester - Add the possibility to generate a test result xml file #4"
##### SUMMARY
To be able to show the tests results in the CI, it would be great if we could output the tests results as an xml file :
https://github.com/pester/Pester/wiki/Showing-Test-Results-in-CI-%28TeamCity%2C-AppVeyor%2C-Azure-DevOps%29

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`win_pester`

##### ADDITIONAL INFORMATION
The usage of this module would match the following playbook

[2019-10-09 08:10] dev3loperb opened #63268 "mysql_db dump routines"
##### SUMMARY

Hello, there is a miss of routines when you use mysql_db dump task
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

mysql_db routines dump
##### ADDITIONAL INFORMATION

Despite `mysqldump` allows dumping such entities (`mysqldump -u root -p --routines mydb > mydb.sql`), one can use mysql_db dump task but it does not save procedures, triggers, etc. After applying the dump, the

[2019-10-09 08:17] Fred-sun commented on #63226
duplicate_of #59770

[2019-10-09 08:20] Fred-sun commented on #63226
@mybayern1974 Please take a look this issue when you're free! And we can closed of the repeat one. Thanks a lot!

[2019-10-09 09:00] hryamzik commented on #45761
@mihailstoynov PRs are welcomed!

[2019-10-09 09:13] rsmeyers opened #63270 "Tags / Global Alias / Alias"
##### SUMMARY
The is a feature request to implement support for "Tags", "Global Alias" and Alias for all ACI modules where applicable, see for example aci_epg

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
aci_epg, aci_tenant etc...

[2019-10-09 10:24] Andersson007 commented on #29311
Please, look at https://github.com/ansible/ansible/pull/63271

[2019-10-09 10:28] acalm commented on #29728
This is an issue on RHEL7 systems with cephfs mounts as well

[2019-10-09 10:31] HOSTED-POWER commented on #29311
I did a quick look at the code and it looks great on first sight, thank you so much!!!

Is there an easy way to get this patched version on our AWX? :)

In which Ansible version can we expect this update to be included?

[2019-10-09 10:32] nkakouros commented on #55153
This is still present after half a year. I wonder if other people have managed to use this module successfully.

[2019-10-09 10:34] Andersson007 commented on #63268
@ipergenitsa thank you for reporting this!
Dear developers, if somebody's gonna implement this, first of all, please, add a comment about it here

[2019-10-09 10:47] Andersson007 commented on #29311
@HOSTED-POWER it hasn't been merged yet :) if you are ok about that, please, add shipit by comment there https://github.com/ansible/ansible/pull/63271
You can just find the current module's file location in your environment, then copy the file from the pr instead of the old file (better to test that all before put it straight to the production:)

[2019-10-09 10:59] Andersson007 commented on #29311
If it is merged it will be released in 2.10, probably in several months, i think

[2019-10-09 11:07] Andersson007 commented on #29214
@sushifrick thank you for informing!
so, could be closed via https://github.com/ansible/ansible/pull/62648

[2019-10-09 11:08] markatdxb commented on #46342
Hello, was this ever confirmed as a bug ? We are experiencing same issue
thx

[2019-10-09 12:03] ssaammoo commented on #46342
we are facing the same issue.

ansible 2.8.3
python version = 2.7.5

[2019-10-09 12:40] sahapasci opened #63273 "add support to postgresql_privs to use ALTER DEFAULT PRIVILEGES .. GRANT .. ON SCHEMAS TO ..."
##### SUMMARY
Since postgresql 10 [ALTER DEFAULT PRIVILEGES](https://www.postgresql.org/docs/10/sql-alterdefaultprivileges.html) supports the syntax below;

[code]
Apparently,  postgresql_privs does not allow to use `SCHEMAS` keyword for `objs` property.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
postgresql_privs

##### ADDITIONAL INFORMATION

A possible playbook could look like this:

[2019-10-09 13:11] AlanCoding commented on #63210
Thanks for getting this in.

Let me report that @dsesami and I have both confirmed the fix with Ansible `devel` branch and the aforementioned server.

For the moment, we do not expect that this is fixed in 2.9, backport status was mentioned in https://github.com/ansible/ansible/pull/63238

[2019-10-09 13:17] rafal-krypa opened #63274 "Cronvar module fails trying to find non-existent executable `cronvar`"
##### SUMMARY
Ansible 2.9.0rc2, when trying to use the cronvar module with simple configuration:
[code]
fails with the following error message:
[code]

It works fine with the same configuration and target host when ansible 2.8.5 is used. This seems to be regression introduced by https://github.com/ansible/ansible/pull/62554.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cronvar

##### ANSIB

[2019-10-09 13:17] #29214 closed, assigned to nobody

[2019-10-09 13:17] AlanCoding commented on #63210
Example output with this fixed:

[code]

[2019-10-09 13:23] Andersson007 commented on #29311
resolved_by_pr: #63271

[2019-10-09 13:27] #29311 closed, assigned to nobody

[2019-10-09 13:35] benjdudas opened #63276 "vmware_guest replacing all `1` with `********` when configured with "autologoncount: 1""
##### SUMMARY

Its not clear if this is expected behavior but if `"autologoncount: 1"` is configured under the `customization` parameter all of the 1's in the task are being replaced with `********`.  For example when the task is configured with `template: TEMPLATE_2016` the debug logs for the task shows "template": "TEMPLATE_20********6", leading to a failure since that template name cannot be fo

[2019-10-09 13:43] waffie1 commented on #32789
My PR #63008 for cloudformation_info make some changes to the outputs, including snake_case where applicable.  Once that is accepted and people are happy with that output, I can work on cloudformation to make the outputs match.

[2019-10-09 13:49] asarubbo commented on #58745
Any news here?
Thanks

[2019-10-09 13:56] #62983 closed, assigned to nobody

[2019-10-09 14:04] samdoran commented on #63274
Thank you for reporting this. I'm assuming that `cronvar` on your system is located at `/usr/bin`? I'll get a fix up shortly.

[2019-10-09 14:07] Tux12Fun commented on #35277
Hi, I ask my self, if there was any action on this Ticket on the last Year?

I've tried to fix it my self but this Module calls a core Element of Ansible and I wasn't able to figure out what to do. URLLIB3 seems to support NTLM.

[2019-10-09 14:20] #57131 closed, assigned to ganeshrn

[2019-10-09 14:22] stevenjm opened #63278 "Resizing XFS filesystems is broken"
##### SUMMARY

Resizing an XFS filesystem using the `filesystem` module is broken (see below for error message).

The reason is that xfsprogs 4.12 changed the `xfs_growfs` CLI to require that a mount point name be passed, not a device. This was always the documented usage, but previously the implementation was more relaxed about it (and Ansible relied on that).

The relevant change is here: https:

[2019-10-09 14:22] dougluce commented on #63274
There's no such thing as a `cronvar` binary. This should be `crontab`.

[2019-10-09 14:47] alikins opened #63281 "ansible-galaxy makes URL requests that always cause unnecessary redirects"
##### SUMMARY

For a collection install command like `ansible-galaxy collection install -s automation_hub_ci google.cloud`, ansible-galaxy ends up making requests to API endpoints that should end with a trailing slash but ansible-galaxy drops the trailing slash.

On the server side, galaxy issues a 302 redirect to the location with the URL with the trailing slash appended. And ansible-galaxy follo

[2019-10-09 14:49] sivel commented on #35277
The short of it, is that we wont accept anything that relies on a 3rd party module to support this.  NTLM authentication will likely have to be written from scratch for use in urls.py.

Functionality that is optional, and doesn't generally impact task execution, where we couldn't deliver a decent error indicating you need to install a dependency, might be allowed to have optional dependencies.

Bu

[2019-10-09 14:52] alikins opened #63282 "ansible-galaxy doesn't set as useful of a User-Agent as it could"
##### SUMMARY
http requests made by ansible-galaxy use the user-agent like 'Python-urllib/3.6'

That's not wrong, but it's not as useful as it could be. ie,

'Ansible-galaxy/2.9.0.0 Fedora; python:3.7.1 ansible_galaxy/2.9.0.0'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

`ansible-galaxy collection install goog

[2019-10-09 15:04] fabianvf commented on #63258
Is there a finalizer set on the deployment, replicaset, or pods?

[2019-10-09 15:26] abenokraitis commented on #62377
This has been escalated to Infoblox as they are a Certified Ansible Partner, and should be ultimately responsible and accountable for the fix. Ansible will do the needful to include in the applicable releases once a suitable fix is provided.

[2019-10-09 15:30] #59599 closed, assigned to trishnaguha

[2019-10-09 15:38] cdown commented on #37334
This became more critical now with the Arch transition to [base as a package](https://www.archlinux.org/news/base-group-replaced-by-mandatory-base-package-manual-intervention-required/). As of now, `pacman: name=base` does the wrong thing and still installs the group.

You can't even force the issue by using `name=core/base`, because then there's an IndexError in on line 323 of install_packages:

[2019-10-09 15:54] mvdkleijn opened #63285 "Wait_for_connection fails due to Python interpreter discovery running too early"
##### SUMMARY
When using wait_for_connection to wait for a host to come up, the python interpreter discovery seems to run before the host is fully up. In other words, the SSH connection is not available yet and this causes discovery to fail.

In turn this causes the ping module test to fail, which (for whatever reason) then gets stuck in a loop.

Please note that while the loop is not nice, the ro

[2019-10-09 16:01] mvdkleijn commented on #63285
As an extra note, Ansible is connecting to our hosts using a bastion machine.

[2019-10-09 16:13] dchsueh commented on #62142
How did you remedy this error?
I'm seeing this too.

[2019-10-09 16:22] samdoran opened #63287 "Add CI Platform: centos/8"
##### SUMMARY

CentOS 8 is out and images are available. Add it as a CI platform
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`shippable.yml`

[2019-10-09 16:28] alikins opened #63288 "`ansible-config dump` doesn't show galaxy servers"
##### SUMMARY

If I add galaxy_server_list and a few galaxy server config stanzas in ansible.cfg, `ansible-config dump` doesn't show any info about the galaxy server configs.

For this config file:
[code]

`ansible-config dump` doesn't know anything about the 'galaxy_server.*' config stanzas:

Only GALAXY_SERVER(default) shows
[code]

The local_hub config with username=joe doesn't find any config

[2019-10-09 17:38] GomathiselviS opened #63290 "eos_logging : Logging configuration fails on not passing 'dest'"
**SUMMARY**
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expectation is that there should not be any failure

##### ACTUAL RESULTS

[code]

[2019-10-09 17:43] justjais commented on #62377
@sugitk @IshwarKanse can you ask the respective customer to raise the issue with reference to this issue @infoblox side as well

[2019-10-09 17:58] nikaro opened #63291 "libnm-glib-dev used by nmcli is deprecated in Debian 10"
##### SUMMARY
`nmcli` module use deprecated lib, at least in Debian Buster

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10.1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should have configured the network interface through nmcli.

##### ACTUAL RESULTS

[code]

[2019-10-09 17:59] nikaro commented on #63291
See https://metadata.ftp-master.debian.org/changelogs/main/n/network-manager/network-manager_1.14.6-2_changelog at `1.10.6-3` version.

[2019-10-09 18:06] BarbzYHOOL opened #63292 "hash_behaviour merge not merging when dict in same file"
##### SUMMARY

hash_behaviour = merge works fine if you have dicts in different variable priority order (= in different files) but if one dict is defined twice in the same file, then it doesn't work and DOES NOT WARN YOU

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

hash_behaviour

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[2019-10-09 19:05] #41910 closed, assigned to nobody

[2019-10-09 20:13] Gillingham opened #63297 "svr4pkg fails with TypeError: a bytes-like object is required, not 'str'"
##### SUMMARY
When trying to install a package with svr4pkg ansible returns a TypeError

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
svr4pkg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Client: OS X, python 3.6.9
Target: Solaris 10, python 3.6.9

##### STEPS TO REPRODUCE
I simply tried to install some packages via svr4pkg, that then failed.

[code]

#

[2019-10-09 20:14] kaysond commented on #61965
bump

[2019-10-09 20:16] sivel commented on #63276
I'm not sure what is happening here is what you think it is.

`customization` sets `no_log=True`, as such, when returning content from the module, we strip out any matches from the module response that contain `no_log` values.

Due to this, and only on module response returns, the value of `1` is replaced with `********`.

This should not actually impact the value used in executing the module, as

[2019-10-09 20:27] goneri opened #63302 "vmware_guest_network: fails with a backtrace if static MAC starts with '00:50:56'"
##### SUMMARY

hi @pgbidkar and @Tomorrow9.

If I use the following task:

[code]
I get the following error: [add_nic.txt](https://github.com/ansible/ansible/files/3709181/add_nic.txt)

If I remove the `manual_mac` keys, everything works fine.

I create the Fedora 30 VM with:

[code]
I've tried several hardware.version/guest_id combination, without any difference. My lab is set-up as described her

[2019-10-09 20:53] ablair-or commented on #52409
One way to check if a key is present is to use `luksDump --dump-master-key`. With this, you have to enter a passphrase (--key-file) to decrypt the master key. If you can, the key is set; if it fails, the key is not set.

[code]

Just bit-bucket the output, since it is the master key.

[2019-10-09 21:13] ironfroggy opened #63304 "Unable to craft non-default `--server` parameter that works with new API prefix handling."
##### SUMMARY
Unable to craft non-default `--server` parameter that works with new API prefix handling.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
- Try `ansible-galaxy login --server=http://galaxy-qa.ansible.com -vvvv`
- Try `ansible-galaxy login --server=http://g

[2019-10-09 21:15] tacatac commented on #63242
Hello,

Thanks for the issue. Hopefully #63303 should be satisfactory.

From a cursory glance at other modules, the additional comment in that PR about the returned values' `sample` attribute rendering issue applies to other modules.

For a random example: https://docs.ansible.com/ansible/latest/modules/user_module.html#return-values, the `force` attribute has "sample: False" (https://github.com/a

[2019-10-09 21:59] #62063 closed, assigned to nobody

[2019-10-09 22:09] maxamillion commented on #62722
@dodwmd it's not about Ansible being unable to run commands in Python3, [yum itself is EOL upstream](http://yum.baseurl.org/) (effectively in maintenance mode from Red Hat for RHEL) and does not support Python3. The yum python libraries were never ported to Python3 and never will be unless Amazon decides to pick up that gauntlet, that's an upstream decision that we have no control over and the `yu

[2019-10-09 22:12] ciphernaut opened #63309 "ios_user changed_when always triggers even when using same hashed_password"
##### SUMMARY
the ios_user module always returns changed.
It should not return changed if it can be verified that nothing changed.
Whilst this might prove challenging when using normal password and relying on the remote end to hash the password, it should be pssible to eliminate this false warning when using password_type: secret

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_user

#####

[2019-10-09 22:13] maxamillion commented on #62362
@luigizhou it has not, I would gladly review a patch for it though. I think @sivel's suggestion is a solid starting point. Thank you!

[2019-10-09 22:33] #63274 closed, assigned to samdoran

[2019-10-09 23:16] alikins commented on #63304
@ironfroggy stable-2.9 isn't going to work at the moment (commit d0a4f0fdbe3f54dd029430f0c943df4ec9fb5877) because it doesn't have backports of either  https://github.com/ansible/ansible/pull/63293 or https://github.com/ansible/ansible/pull/63286
merged

Those changes are the fix for this bug afaict.

stable-2.9 at d0a4f0fdbe3f54dd029430f0c943df4ec9fb5877:

[code]

stable-2.9 + cherry-pick of bad7

[2019-10-09 23:17] nitzmahone opened #63310 "ConfigManager envvar decode failure is fatal"
##### SUMMARY
When ConfigManager is decoding config envvar values, if the value is not decode-able based on current LC_ALL/LANG settings, the error is fatal.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ConfigManager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[c

[2019-10-09 23:26] alikins commented on #63304
stable-2.9 + the backport prs

[code]

[code]

devel works too

[code]

[2019-10-10 00:08] #63310 closed, assigned to nobody

[2019-10-10 01:27] fbruetting opened #63314 "Playbook log output of different plays are intermixed"
##### SUMMARY
When I run a playbook with several plays, the CLI output subdivides the log into all plays by these `PLAY [<HOSTS>] ************************` dividing lines. Somehow, however, warnings about not matched host patterns are sorted in the play logs section of the _preceeding_ play.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

#####

[2019-10-10 01:50] dodwmd commented on #62722
So the expectation is that RHEL7 users will continue to use python2 for the next 5 years? RHEL7 has redhat support until 2024. Amazon Linux 2 has support until 2023. I think it's not unrealistic that ansible support the installation of packages in python3 for yum.

[2019-10-10 01:53] xuxiaowei0512 commented on #63098
Hi, @thoms27 ,I have try to reproduce the issue on real device that you commented.
It can not be reproduced. All my tests are OK.
I guess that the interfaces may have some difference with  hardware.

[2019-10-10 03:51] galaxyus123 commented on #58133
claim

[2019-10-10 04:34] prasadkatti opened #63315 "[aws lightsail] Delete operation is not idempotent"
##### SUMMARY
The delete operation of the `lightsail` module is not idempotent. If the instance is already deleted, then the task generates a traceback.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lightsail`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Python 3.7.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Task successfully

[2019-10-10 04:44] Akasurde commented on #63276
@benjdudas I agree with @sivel. Could you please provide the logs which will help to debug the failure ?

Thanks,

needs_info

[2019-10-10 04:48] Akasurde commented on #63276
As a workaround, you can create a guest customisation before hand and specify that name of customisation in `customization_spec`  in `vmware_guest`.

[2019-10-10 04:52] Akasurde commented on #63268
@pratikgadiya12 You recently touched some part of this code. Would you be able to help over here ?

Thanks.

[2019-10-10 04:52] rEnr3n opened #63316 "Permission error using buildah connection"
##### SUMMARY

I get a permission error when using buildah connection plugin. The same issue has been raised and fixed for podman https://github.com/ansible/ansible/issues/57740. The issue happens on devel branch and latest release v2.8.5.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

buildah

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

#####

[2019-10-10 05:03] sk1u commented on #58133
Would be happy to work on this!

[2019-10-10 05:51] the02 opened #63319 "mysql_info: change order of collecting and filtering items"
##### SUMMARY
collect data based on the filters

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_info

##### ADDITIONAL INFORMATION
On large databases mysql_info runs very long due to size calculations of all db/tables even when this information is not needed (for example quering user information only)

[code]

[2019-10-10 06:12] Fred-sun commented on #62798
@mybayern1974 Please help take a look this issue when you're free! Thank you very much!

[2019-10-10 06:20] Fred-sun commented on #63005
@mybayern1974 Please help take a look this issue when you're free! Thank you very much!

[2019-10-10 06:29] pgbidkar commented on #56273
PR https://github.com/ansible/ansible/pull/62188 is merged.

@Akasurde , Please can you close this issue?

[2019-10-10 06:36] Akasurde commented on #56273
Since #62188 is merged. Hence closing this issue, please feel free to open a new issue if problem persists. Thanks.

[2019-10-10 06:36] #56273 closed, assigned to nobody

[2019-10-10 06:36] Akasurde commented on #56273
@pgbidkar Thanks for contribution.

[2019-10-10 06:43] IshwarKanse commented on #62377
@justjais I've opened an issue with Infoblox on behalf of the customer.

[2019-10-10 06:51] Andersson007 commented on #42870
resolved_by_pr: https://github.com/ansible/ansible/pull/63321

[2019-10-10 07:09] ngp-star commented on #57873
Hi @ralphie02

as for my understanding of this issue i have tried following scenario.
As pat of normal clone playbook.
installed linux  ISO file by creating vm using ESXI host.
set the host name as vmware-test.
templatized the vm as vmware-clone.
cloned the template vmware-clone as vm with vm name as test-vm.
**but the host name set as vmware-test when it is been checked by logging into the test-v

[2019-10-10 07:22] yvespp opened #63322 "vmware_guest: "state: absent" and "force: yes" fails when vm is powered off"
##### SUMMARY
If `state: absent` and `force: yes` is set on `vmware_guest` the task fails if the vm is powered off.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian
VSphere 6.7

##### STEPS TO REPRODUCE

Turn vm off, then force it absent
[code]

##### EXPECTED RESULTS

VM get's deleted if i

[2019-10-10 07:45] Xaroth opened #63324 "rds_instance: ca_certificate_identifier value not honored"
##### SUMMARY
When creating a rds_instance with the `ca_certificate_identifier` set to the new (soon-to-be default) value of 'rds-ca-2019', an instance is created with the old 'rds-ca-2015'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`rds_instance`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Affects both running via AWX/tower as well as running it

[2019-10-10 07:48] Akasurde commented on #63222
resolved_by_pr #63320

[2019-10-10 07:54] Xaroth commented on #63324
As an addition: I have tried re-running the module on the same (now existing) instance to see if the CACertificateIdentifier would be changed. This is not the case either.

[2019-10-10 08:53] sparunakian commented on #61534
At the time, I don't think that the discovered interpreter on Debian (and probably other distros) is satisfying. I don't understand the order in INTERPRETER_PYTHON_DISTRO_MAP:

[code]

`/usr/bin/python` is generally a Python 2 interpreter (Debian, CentOS, etc.), only when python2 is installed. One notable exception is ArchLinux. The PEP 394, which defines this has been recently updated and lets th

[2019-10-10 09:07] thoms27 commented on #63098
Hi,
Thank you for your feed back and the time spent. I close the issue.

Best regards

Thomas

[2019-10-10 09:07] #63098 closed, assigned to nobody

[2019-10-10 09:59] MichalMMac commented on #22287
I run into this too. My solution is to compute indexes beforehand.
But with multiple overlays some of which load on some condition this is really a pain.

I would love to have mentioned `indexed` option for this situation.

[2019-10-10 10:01] Fred-sun commented on #62901
@frsh-augustin Thanks for your open this issue. Should your playbook was wrong, it should be: alloated: yes, please try to correct. Thank you very much!

[code]

[2019-10-10 10:08] uditgaurav commented on #63256
@willthames   My mistake the ansible version is :
[code]
While creating a job the generatename is not getting created using k8s module. What i guess is for shell command the `kubectl apply -f` dosen't work for generatename but `kubectl create -f` works so this module might me creating the job equivalent to `kubectl apply`

How to use k8s module equivalent to shell command `kubectl create -f `?

[2019-10-10 10:22] nikaro commented on #63291
As i understand it, it seems that this package is only needed to check that NetworkManager and NMClient are installed.

I commented out the only part that uses it, and it work as excpected anyway.

[code]

And even if NetworkManager and NMClient are not installed i get an helpful error message saying that "nmcli binary is not present", so i guess this portion of code and this requirement is useles

[2019-10-10 10:54] anusha94 commented on #60286
@Akasurde @pgbidkar
Can I take this up?

[2019-10-10 10:54] profhase opened #63329 "map regex_replace produces duplicate entries"
##### SUMMARY
When mapping a list with  a  map filter using `regex_replace` as mapper function,
the replacement string appears twice

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Try following playbook

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-10-10 11:02] #42870 closed, assigned to nobody

[2019-10-10 11:13] anton-dealmeida commented on #29628
So, I believe they're called self-hosted repositories... This would be useful in cases where you have non docker registries.
![image](https://user-images.githubusercontent.com/18613828/66563950-29f73c80-eb5f-11e9-9169-5816ea5fe30e.png)

![image](https://user-images.githubusercontent.com/18613828/66563976-3d0a0c80-eb5f-11e9-8e69-479bc5ddc06c.png)
https://docs.docker.com/engine/reference/commandline

[2019-10-10 11:26] vfuyong commented on #62343
@samdoran Attached logs here.

env ANSIBLE_DEBUG=1 ansible-playbook <host file> reboot.yml -vvv | grep -E 'reboot: |WINRM'
    81 1570706611.42800: win_reboot: getting boot time with command: '(Get-WmiObject -ClassName Win32_OperatingSystem).LastBootUpTime'
<windows01> ESTABLISH WINRM CONNECTION FOR USER: Administrator on PORT 5002 TO windows01
    81 1570706616.30026: win_reboot: last boot time:

[2019-10-10 11:33] Akasurde commented on #60286
@anusha94 There is an existing PR, which needs testing and review - https://github.com/ansible/ansible/pull/50923 Could you please reuse this code ? Let me know if you need any help.

Thanks,

[2019-10-10 11:37] #55572 closed, assigned to nobody

[2019-10-10 11:51] TomasTomecek commented on #63316
Yup, would be awesome to get that patch for buildah conn as well.

[2019-10-10 11:55] gerardocastaldo opened #63330 "ce-config return always changed"
##### SUMMARY
When i run the task, the output is always "changed" but the configuration is the same.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ce_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

configure a task with the variable "lines" identical to a block.

[code]

##### EXPECTE

[2019-10-10 12:29] toninis opened #63333 "Ddifferent Behaviour between python versions on loop directive"
##### SUMMARY
There is different behaviour with ansible loop directive when you iterate over a dictionary var between python2.7 and python3

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]
[code]

##### OS / ENVIRONMENT
macOS Mojave 10.14.6
Installed with pip.

##### STEPS TO REPRODUCE
Run the ansible playbook below with the two different ansible installation

[2019-10-10 12:29] tanis2000 opened #63334 "Passing vars and defaults to the following include_role or to the environment from a previous include_role"
##### SUMMARY

I need to switch from the usual `roles:` construct to a list of `include_role` and for some reason the vars/defaults of the first role aren't being passed over to the next one and so on. I don't know if this is due to the loop or if it's just the standard behavior, but it's definitely an issue. You can find more details below.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ro

[2019-10-10 12:35] xuxiaowei0512 commented on #63330
@gerardocastaldo thank you for pointing this.We will have a look.

[2019-10-10 12:46] goneri commented on #63302
It's not a problem with the module. I get exactly the same error if I the same operation manually using vcenter web UI.

[2019-10-10 12:53] goneri commented on #63302
Ah! The problem comes from the 00:50:56 prefix (VMware), If I use another one, everything just works as expected!

[2019-10-10 13:01] goneri commented on #63302
https://github.com/ansible/ansible/issues/51221 seems to be the the same problem. MAC starts with 00:50:56 too.

[2019-10-10 13:10] gugu commented on #22547
![image](https://user-images.githubusercontent.com/75169/66571691-61beae00-eb78-11e9-9dca-0b01f676d7ee.png)
Same for hostPort

[2019-10-10 13:36] Andersson007 commented on #63319
@the02 hello, thank you for the feedback.
I suggest adding a flag, e.g. db_size: yes | no
What, guys, do you think? Any other ideas?
@bmalynovytch

[2019-10-10 13:37] maxamillion commented on #63020
Fixed in this PR https://github.com/ansible/ansible/pull/63059

[2019-10-10 13:37] #63020 closed, assigned to maxamillion

[2019-10-10 13:39] samccann commented on #62637
The code was only added in 2.9 by PR #61221   So this example won't show up in earlier versions unless someone backports that PR to earlier versions.

[2019-10-10 13:43] s-hertel commented on #63324
@Xaroth I opened a PR to fix this. One caveat regarding my PR - the [create-db-instance](https://docs.aws.amazon.com/cli/latest/reference/rds/create-db-instance.html) API call doesn't take a CA certificate parameter so it is applied on [update](https://docs.aws.amazon.com/cli/latest/reference/rds/modify-db-instance.html). If I remember correctly, there are a couple other options that are also only

[2019-10-10 13:56] benjdudas commented on #63276
Hi @sivel @Akasurde, this was a customer case so I am unable to share those logs publicly, but I can hit you guys up on internally if you need to see anything. Commenting out the `"autologoncount: 1"` in the task resolved the issue which doesn't really make sense to me if it's just masking the value in the module response.

[2019-10-10 14:01] #63333 closed, assigned to nobody

[2019-10-10 14:03] bmalynovytch commented on #63319
Maybe something more general like `included_fields` with a default to `ALL`, which would allow to filter out some fields.

[2019-10-10 14:03] sivel commented on #63334
By default `include_role` is "private" meaning it does not expose its vars and defaults to the rest of the playbook.  See the `public` argument for `include_role` to change this behavior.

[2019-10-10 14:08] #63329 closed, assigned to nobody

[2019-10-10 14:09] sivel commented on #47838
Closing per above.

[2019-10-10 14:09] #47838 closed, assigned to nobody

[2019-10-10 14:15] Andersson007 commented on #63319
Or maybe both? And we could make them mutually exclusive

[2019-10-10 14:27] haggl commented on #42506
Seems to work. :+1:

Test conditions:
* Arch
* Ansible 2.8.5
* Dockerfiles `RUN`ning
  * `yarn`, `npm`
  * `maven`

[2019-10-10 14:30] CendioOssman opened #63337 "firewalld offline option does nothing"
##### SUMMARY
Using the `offline` flag to the `firewalld` has absolutely no effect on behaviour. Looking at the code I can not find any reference to the option beyond parsing it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
firewalld

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target is a Red Hat Enterprise Linux 7 machine.
Ansible is run on a Fedora 3

[2019-10-10 14:30] tanis2000 commented on #63334
@sivel I am using `public: yes` in the role in the description, but it doesn't work.

[2019-10-10 14:38] maxamillion commented on #62722
@dodwmd I'm not sure I explained it clearly enough before, but this isn't an "Ansible needs to support this" situation so much as YUM 3.x itself does not support this.

This is from an Amazon Linux 2 system:
[code]

As you can see above, the yum module is not available to the python3 runtime. In Ansible this is typically not an issue because we can allow the control system to use whatever python v

[2019-10-10 14:38] #62722 closed, assigned to maxamillion

[2019-10-10 14:53] Andersson007 commented on #63319
Ok, i got the hint :) will try to implement one of them tomorrow. Then the another one If success

[2019-10-10 15:22] AlanCoding opened #63341 "Cannot use role by same in from multiple collections/locations"
##### SUMMARY
In this example, I have multiple versions of `role_a`. It exists in more than 1 collection. That is, I have `a.a.role_a` and `b.b.role_a`. I cannot run both in the same play.

This seems very unexpected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
collection and role loading

##### ANSIBLE VERSION
[code]

904e8434dbad8dd0c5bf74d5cb08d4c5b017d45d

##### CONFIGURATION
[code]

[2019-10-10 15:40] ezmac commented on #62516
Maybe should not have set the PR to close this issue, but @weyderfs, are you able to check that parameter 'hml.auth-user-retrieve' does not have a description?  If I'm right, setting a description on it manually will let your playbook run correctly.  As an alternative, removing the description in your playbook should also let it run correctly.
The pr should fix this bug in the future, though.

[2019-10-10 15:45] ironfroggy commented on #63304
Tested with Adrian with `stable-2.9` plus  https://github.com/ansible/ansible/pull/63293   and https://github.com/ansible/ansible/pull/63286 cherry-picked, now working. Specifically, this only works for `https://` `--server` values, which is acceptable as it is the correct location.

[2019-10-10 15:53] abadger commented on #63304
@ironfroggy Hmmm.... If someone sets up their own server, are they prevented from using http://?  I'm a little confused there.

[2019-10-10 16:02] abadger commented on #63304
Talked with @ironfroggy on slack and he said that `http://` didn't work previously either.  So that is not a regression and should be fine.

[2019-10-10 16:02] #63304 closed, assigned to nobody

[2019-10-10 16:08] felixfontein commented on #42506
@haggl awesome, thanks for testing this! I'll then close this issue, as it is fixed in both 2.8.5 and 2.9.0.

[2019-10-10 16:08] #42506 closed, assigned to nobody

[2019-10-10 16:15] uditgaurav opened #63347 "To iterate the until condition for different items in ansible"
The playbook code is :
[code]

EXPECTED OUTPUT:

The ` until ` condition should check for 'n' numbers of Pod in `containerStatus` that it is in `Running` state or not with the given delay and retries. So i was expecting a loop on the until  for different pods status checking. Let suppose we have 3 pods in output so It may looks like:
For first iteration -
until: containerStatus.resources.0.status.

[2019-10-10 16:20] uditgaurav commented on #63258
@fabianvf  No finalizer is set on the deployment.

[2019-10-10 16:23] fabianvf commented on #63258
@uditgaurav Strange, the Ansible module is just sending the delete request directly to the API, which will set the `deletionTimestamp` and put it in the terminating state. If it's in the terminating state then there isn't much else Ansible can/should do, there's something else in the cluster blocking its deletion

[2019-10-10 16:31] nschende-mort commented on #63276
That case was for us. I can look to see what log stuff I can pull & share. Additionally I will talk with my colleague who ran into the issue.  Based on these comments it seems like the expected behavior is that it is only masking them not changing them but the behavior we were seeing seems to indicate otherwise.  This was happening when using the module in a tower workflow, but not when using it i

[2019-10-10 16:36] sivel commented on #63276
Potentially the error is just wrong, and the underlying cause for the failure has something to do with trying to set `autologoncount: 1`, it just manifests as an error finding the template.  That error is generated by the `vmware_guest` module, and isn't a message being given by the vmware server.

[2019-10-10 16:42] sivel commented on #63347
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app