[2013-10-07 21:26] #3880 closed, assigned to nobody

[2013-10-07 21:28] mpdehaan commented on #4077
I'm currently not seeing this behavior on the latest development branch:

[code]

ansible-playbook /tmp/test.yml -v

[2013-10-07 21:28] #4077 closed, assigned to nobody

[2013-10-07 21:31] mpdehaan commented on #4155
I'm going to call this message ok for now.  I will entertain upgrades.

[2013-10-07 21:31] #4155 closed, assigned to nobody

[2013-10-07 21:31] #4254 closed, assigned to nobody

[2013-10-07 21:34] mpdehaan commented on #4291
I tried this on the development branch and could not produce this problem

vi /tmp/test.yml
mkdir /tmp/subdirectory
cd /tmp/subdirectory
ansible-playbook ../tmp/test.yml

Looks like this is already fixed on the development branch.

[2013-10-07 21:34] #4291 closed, assigned to nobody

[2013-10-07 21:43] mpdehaan commented on #4316
Confirmed this also affects the development branch.

Our templating code for strings is different from files, so I think basically we need to make the two code sections share more.

[2013-10-07 21:44] mpdehaan commented on #4312
Yay for SLES10!

Looks like we need to check to see how old usermod is.

[2013-10-07 21:45] mpdehaan commented on #4000
No reply in 24 days so I am going to close this one.

[2013-10-07 21:45] #4000 closed, assigned to nobody

[2013-10-07 22:05] daleq commented on #4312
Note that nowhere in the bug do I say that I _like_ SLES...  :-)

On SLES 10

# cat /etc/issue

Welcome to SUSE Linux Enterprise Server 10 SP3 (x86_64) - Kernel \r (\l).

# usermod -v

usermod (pwdutils) 3.0.7.1

The usermod manpage does NOT show a '-A' option.

On SLES 11

# cat /etc/issue

Welcome to SUSE Linux Enterprise Server 11 SP1  (x86_64) - Kernel \r (\l).

# usermod (pwdutils) 3.2.8

The

[2013-10-07 22:31] gregkare opened #4397 "strange behavior with duplication in templates?"
Wow, that issue title is a mouthful, but that's the best description I could come up with.

My variable is turned into a string, so when I iterate over it in a template it iterates over the characters (including brackets and quotes).

Here's a [Gist with just enough yml to reproduce it](https://gist.github.com/gkarekinian/2944f54fe85dbb359a91)

I'm seeing this behavior on ansible 1.3.2.

[2013-10-08 00:04] mpdehaan commented on #4397
Oh, I didn't catch this earlier.

This is an include combined with a "with_items".

The solution is to NOT attach an include to a with_items, as this is unsupported and consequently undocumented.

The solution is instead to loop over on this task:

template: src=job_generic_config_test.xml.j2
dest=/var/lib/jenkins/{{ name }}.xml
owner=jenkins group=nogroup mode=0755

include + with_items will be r

[2013-10-08 00:04] #4397 closed, assigned to nobody

[2013-10-08 05:02] jphalip opened #4399 "'Fetch' should check if 'dest' is a directory instead of checking if it has a trailing slash"
When using `flat=yes`, `fetch` checks whether the `dest` value has a trailing `/` to determine whether it's a directory the file should be downloaded to. This is a little flaky as it's easy to forget appending a trailing slash to `dest`, in which case the action will crash with the error "IOError: [Errno 21] Is a directory: u'/path/without/trailing/slash'"

In comparison, the `mv` Unix command (e.

[2013-10-08 07:17] wingZero21 opened #4400 "Running f5 bigip_pool module"
Hi,

Just wondering if someone can advise, trying to run one of the example f5 bigip_pool module playbooks.

Comes back with the below, installed bigsuds python stuff, is there anything else needed for this to run?

Details:
playbook details
local_action: >
bigip_pool
server=172.17.0.45
user=testuser
password=test
state=absent
name=POOL
partition=common
host="{{ ansible_default_ipv4["172.22.13.181

[2013-10-08 09:21] jringoot commented on #275
Maybe this can help someone:
The server from where I run ansible is a Centos  6.4 x86_64
I had a similar issue with a git checkout in the directory of the user that I wanted to run ansible.
But it worked for  root. with a git checkout in /opt.
I tried "source ./hacking/env-setup" from /opt/ansible as the user + "export ANSIBLE_HOSTS=/etc/ansible/hosts"
And ansible worked for that user.

And to mak

[2013-10-08 10:56] gregkare commented on #4397
**EDIT**: I misunderstood what `delegate_to` was supposed to do, I've removed the first part.

I can't find anything helpful in the documentation and it doesn't seem to be organized in a logical way. The doc website doesn't have a search field so I'm using a local clone of the ansible repo to try to find information on templates. For instance it looks like passing variables directly to the templat

[2013-10-08 12:20] mpdehaan commented on #4399
Sure, that's great.

I'm going to close this as you were going to work on the pull request.

Thanks very much!

[2013-10-08 12:20] #4399 closed, assigned to nobody

[2013-10-08 12:20] mpdehaan commented on #4400
If you have questions, please stop by the mailing list.

This is a YAML syntax error, not a bug in Ansible.

[2013-10-08 12:20] #4400 closed, assigned to nobody

[2013-10-08 12:22] mpdehaan commented on #3819
This isn't quite merged in just yet, so we can close this ticket and add once available.

[2013-10-08 12:22] #3819 closed, assigned to nobody

[2013-10-08 12:30] #3431 closed, assigned to nobody

[2013-10-08 12:36] mpdehaan commented on #3727
There is documentation in the loops section now and it mentions it is a printf style string.

I would be open to enhancements if you are looking for something specific.

Thanks!

[2013-10-08 12:36] #3727 closed, assigned to nobody

[2013-10-08 12:37] mpdehaan commented on #3996
Shouldn't be a problem if people are using the EPEL packages and this is where we are directing them.

As I have _not_ heard this recently I'm going to close this, though if folks would like to make the docs more clear after having a specific problem with them, I'm open to more concrete suggestions.

[2013-10-08 12:37] #3996 closed, assigned to nobody

[2013-10-08 12:40] mpdehaan commented on #4182
I'm adding this to the docs right now and this will appear next time we push docs.

Thanks!

[2013-10-08 12:40] #4182 closed, assigned to nobody

[2013-10-08 12:44] #4126 closed, assigned to nobody

[2013-10-08 12:45] #4289 closed, assigned to nobody

[2013-10-08 12:57] mpdehaan commented on #4391
Ok thanks for filling that in.

Most likely this will get "fixed" if we can simplify some of our legacy template code, there is some legacy bits in there about setting up contexts that I think may be able to go.

I'll leave this open so we can check when we do, but it may be a while.

[2013-10-08 12:58] mpdehaan commented on #4391
You might want to use the other ec2 modules vs the cloudformation one as then it's easier to pass variables to them.

[2013-10-08 13:16] evgkrsk opened #4401 "timeout parsed as string in ansible.cfg"
Very similar, but old (ansible-0.x) issue: https://github.com/ansible/ansible/issues/1371

New (ansible-1.3.2) issue: https://github.com/dominis/ansible-shell/issues/14 that breaks external programs using ansible (ansible-shell in this case).

[2013-10-08 13:26] gregkare commented on #4397
I managed to make my template work (I'm using `item.variable_name` everywhere), but I still have a problem. The reason why I wanted to pass variables to the template was to be able to have some variables with default values.

I want something like this:

[code]

However I don't have access to `my_extra_option` in the template. I really don't want to deal with logic in my template.

**Edit:**

I lo

[2013-10-08 14:40] mpdehaan commented on #4401
This appears to be fixed already on the development branch

If it's from ansible.cfg it shouldn't be affecting this other project if you comment out the line, not sure if it's using the Runner API or what.

Let me know if you see this on 1.4.X.

[2013-10-08 14:40] #4401 closed, assigned to nobody

[2013-10-08 14:40] mpdehaan commented on #4401
Here's the relevant line from constants.py:

[code]

If you have a pull request to fix something specific, I'd also be interested.  You may have a better feeling of what's wrong than what I can glean from the above description.

Thanks!

[2013-10-08 15:06] jctanner commented on #3633
This appears to have been resolved in the 1.2 release and higher.

[2013-10-08 15:06] #3633 closed, assigned to jctanner

[2013-10-08 15:41] drcongo commented on #4320
Can you confirm that Ansible is actually setting a password for root on install? If so, what is it? I can't find any mention of this in the documentation and it strikes me as very unexpected behaviour, as @antonioribeiro mentioned the behaviour we're seeing in Ansible doesn't match the behaviour of a manual install.

[2013-10-08 15:44] evgkrsk commented on #4401
Ok, I will wait for 1.4.x...

[2013-10-08 16:01] caphrim007 opened #4402 "dnstxt raising a TypeError"
Using ansible-playbook 1.2 I am receiving the following exception when I try to use the dnstxt lookup plugin

http://pastebin.com/Lj86T16e

The task in question is this
- name: Check for MVP
  set_fact: has_mvp={{ lookup('dnstxt', 'google.com') }}

I'm not sure what class, type, or tuples of the aforementioned would be needed to make this work.

Thanks!

[2013-10-08 16:50] mgcrea commented on #4361
Still got this bug using latest devel. Any workaround available?

[2013-10-08 16:56] mgcrea commented on #4361
Error is related to an hidden utf8 char in the default apache2 php.ini (on ubuntu 12.04).

Problematic char is after the second pipe.

[2013-10-08 17:13] jerrac commented on #4361
@mgcrea Thanks! I thought there must be some weird character in there, but was not able to find it. How did you find it?

[2013-10-08 17:17] mgcrea commented on #4361
Had to [divide & conquer](http://en.wikipedia.org/wiki/Divide_and_conquer_algorithm) ;-).

[2013-10-08 20:10] jctanner commented on #3680
I was able to reproduce the error with all1.2.x branches.The issue appears to have been resolved in 1.3.x.

[2013-10-08 20:10] #3680 closed, assigned to jctanner

[2013-10-08 20:13] #4339 closed, assigned to nobody

[2013-10-08 21:03] jctanner commented on #4174
Steven,

if you still see this problem when setting ansible_python_interpreter to a python 2.6 path on your EL5 system, please open a new bug.

[2013-10-08 21:03] #4174 closed, assigned to nobody

[2013-10-08 21:21] jctanner commented on #4183
@xeross if you see the same issue with 1.3.3 or above, please open a new issue.

Relevant commit in 1.3.3: https://github.com/ansible/ansible/commit/38d60636

[2013-10-08 21:21] #4183 closed, assigned to nobody

[2013-10-08 21:32] mpdehaan commented on #4402
pastebins can away so pasting here:

fatal: [459410] => Traceback (most recent call last):
  File "/usr/local/lib/python2.6/dist-packages/ansible/runner/**init**.py", line 344, in _executor
    exec_rc = self._executor_internal(host)
  File "/usr/local/lib/python2.6/dist-packages/ansible/runner/__init__.py", line 423, in _executor_internal
    return self._executor_internal_inner(host, self.module

[2013-10-08 21:49] sivel commented on #4402
It does look to me that the arguments for isinstance are backwards.

Right now it looks like:

`isinstance(basestring, terms)`

I believe it should be:

`isinstance(terms, basestring)`

[2013-10-08 22:10] jctanner commented on #4226
@nicolas-g I could not reproduce the missing db_name issue, with the same version of python-boto and the current devel branch.

Looking at your example playbook, I do not see a db_name argument being passed. Are you sure your local copy does pass it?

It looks like the API for RDS security groups changed in Jan 2013 that cause this error when trying to pass security_group to the rds module ...

<p

[2013-10-08 22:31] mpdehaan commented on #4402
Thanks -- Could just be an error path that was never tested, or someone
made a code change and didn't test the dnstext module.

Easy enough!

On Tue, Oct 8, 2013 at 5:49 PM, Matt Martz notifications@github.com wrote:

[2013-10-08 23:05] mpdehaan commented on #4158
@bennojoy can you work on closing this one?

Thanks!

[2013-10-08 23:06] mpdehaan commented on #3908
@jimi-c do you know if this PR is still open or got merged?

Cleaning up github tickets.  Thanks!

[2013-10-08 23:09] mpdehaan commented on #4320
So to clarify, ansible didn't install mysql, the package manager did.   It is not setting an initial password.

So I don't see why it should be expected to set a password.

In most cases people handle this my installing a my.cnf.

[2013-10-09 01:05] sevein commented on #3767
@johnhamelink - I forgot to say: thank you for taking care of this! :+1:

[2013-10-09 01:21] antonioribeiro commented on #4320
The problem is that the package manager will ask for a password while installing interactively. But ansible git module does it noninteractively and, somehow, it is giving some answers to those questions, bad ones, wich makes package manager set something (blank? null?) as a password.

But if we previously give the right ones:

[code]

It works.

[2013-10-09 07:53] drcongo commented on #4320
Thanks for the explanation Antonio.

[2013-10-09 08:49] jcassee commented on #4085
Looks like something like this might do the trick. Not tested yet, just a design proposal:

[code]

[2013-10-09 11:46] dominis opened #4407 "max_failed_percentage exit 0"
max_failed_percentage always sends a non zero exit status even if the percentage is not exceed.

[code]

[code]

I don't think this should be the same as this:

[code]

[code]

ansible version:

[code]

[2013-10-09 11:57] mpdehaan commented on #4407
Hi Nandor,

In the above you have set max_failure_percentage to 50% and you have had one failure.

So yes, it's doing the right thing in going on -- but I can see what you mean about having a nice way to make sure this failure shows up in Jenkins.

Perhaps we should set a global flag and if we would have returned 0 and that flag is set, we can return a new exit code that we have previously unused

[2013-10-09 12:06] dominis commented on #4407
Hey Michael,

thanks for the quick response!

[2013-10-09 12:55] mbarrin opened #4408 "The get function for the s3 module is not correctly replacing files if the md5sum is different"
Version: 1.3.1

Expected behaviour: If the md5 of the local file does not match the md5sum of the remote file, the remote file should be pulled down.

Actual behaviour: If the md5 sum of the local file does not match the md5sum of the remote file, an error is thrown, unless overwrite is set to true. And then it will download the file everytime the playbook runs.

Steps:
- Place an object in a s3 b

[2013-10-09 13:02] mpdehaan commented on #4408
My notes:
- The "overwrite" parameter should be an alias like force
- Force should work like copy, as a general standard in ansible
- The default for force is "yes"
- It should always overwrite if the md5 sum is different by default
- If force is set to no, it would not overwrite if different

[2013-10-09 13:04] mpdehaan commented on #4407
Ordinarily speaking we should return non-zero if there are any failures, so this seems more like max_fail just eating the error code.

But yes, agree that there should be a code here.

[2013-10-09 13:34] johnhamelink commented on #3767
No problem @sevein!

[2013-10-09 15:09] mpdehaan opened #4410 "Add this to YAML suggestion code"
when: 'dbslave' in group_names

The YAML hint code we already have in 1.4 should detect that when you get an error containing a line like this, that if you started with a quote and didn't end with a quote, it should suggest what to do.

This is easy to add to utils/template.py

[2013-10-09 15:27] jeromew opened #4411 "sudo_user parametrization"
Hello,

I am looking for a way to do this at the task level but when I try :
- name: create sites directory
  file: path=/home/{{ item }}/sites state=directory
  sudo: yes
  sudo_user: "prefix{{ item }}suffix"
  with_items:
  - user1
  - user2

I get the error :
   invalid output was: sudo: unknown user: prefixsuffix

so the templating seems to be done, but without the correct value for {{ item }}

[2013-10-09 15:47] mpdehaan commented on #4411
Yep, as commented on the list sudo_user on the task is new and I dont think we expected someone to do this inside a with_items loop.

We can see if it is easily tweakable.

[2013-10-09 16:11] #3888 closed, assigned to jimi-c

[2013-10-09 16:22] jctanner commented on #4006
Matt,

Thanks for the suggestion! Committed in https://github.com/ansible/ansible/commit/9c3fb9c2b7ffde1e831bab53810001d90448018e

[2013-10-09 16:22] #4006 closed, assigned to jctanner

[2013-10-09 17:00] jctanner commented on #4408
@mbarrin thanks for the report! I've committed a fix in https://github.com/ansible/ansible/commit/c679491ece82fd727a1ac132ffb69645dceb0126

[2013-10-09 17:00] #4408 closed, assigned to jctanner

[2013-10-09 17:02] jerm commented on #3544
The issue here isn't the python interpreter, it's the lack of the rest of PATH pointing to the virtualenv for things other than pip or {{ansible_python_interpreter}}.  In this case, cython was installed in the virtualenv, and then gevent tries to use cython during its install process, but because the effective PATH in the session doesn't point to the virtualenv/bin (just a pointer to pip or python

[2013-10-09 17:35] jimi-c commented on #4212
Any follow-up on this?

[2013-10-09 17:47] jimi-c commented on #4242
This is a limitation of Amazon's Route53 API. It really only has the two operations for modifying records: CREATE|DELETE, so it won't let you do a create on a record as you're trying to do above because it already exists. To get around this, you'll have to delete the record first if it exists, and then re-create it.

[2013-10-09 17:47] #4242 closed, assigned to nobody

[2013-10-09 17:50] #4085 closed, assigned to jimi-c

[2013-10-09 17:51] jimi-c commented on #4085
I used @jcassee's patch above and gave him credit. Thanks!

[2013-10-09 17:52] sivel commented on #4402
It looks like there are no active tests for lookup plugins.  Looks like some of it was there, but they have been commented out:  https://github.com/ansible/ansible/blob/devel/test/TestPlayBook.py#L167-L191

[2013-10-09 18:25] daleq commented on #4312
Better formatting of above...

On SLES 10

# cat /etc/issue

Welcome to SUSE Linux Enterprise Server 10 SP3 (x86_64) - Kernel \r (\l).

# usermod -v

usermod (pwdutils) 3.0.7.1

The usermod manpage does NOT show a '-A' option.

On SLES 11

# cat /etc/issue

Welcome to SUSE Linux Enterprise Server 11 SP1  (x86_64) - Kernel \r (\l).

# usermod (pwdutils) 3.2.8

The usermod manpage DOES show a '-A' o

[2013-10-09 18:31] devoncrouse commented on #4212
It's actually on my plate to revisit today or tomorrow; sorry for the delay.

[2013-10-09 18:36] jimi-c commented on #4212
No problem. I'm pretty confident this is a configuration issue though, that error message is pretty specific and like you said it's almost always related to AWS credentials not being configured properly.

[2013-10-09 18:57] pfalcon opened #4414 "copy content= with_password: leaks password in result status"
I have following snippet in playbook:

[code]

Executing that leads to:

[code]

which is password leak and thus security issue.

[2013-10-09 19:23] azpekt opened #4415 "keystone_user module is not changing the password for existing user"
Following construct does not changes the password on the existing user:
- name: Creation of users...
  keystone_user: user={{ item.user }} tenant=admin password={{ item.pass }} email={{ item.mail }} login_user={{ adminuser }} login_password={{ adminpass }} endpoint={{ endpoint }} login_tenant_name={{ tenant }}
  with_items:
  ........
- { user: 'admin', pass: 'newpass', mail: 'admin@domain.com' }

[2013-10-09 19:39] rrix-storehouse opened #4416 "Possible Regression involving only_if in 1.3.2"
I had some playbooks working with ansible 1.2 -- whichever version EPEL ships with EL6 right now, 1.2.3 by the looks of it --  which did some conditional operations involving `ansible_machine` which have not proven to be backwards compatible now that my development and deployment environments are running on 1.3

[code]

This works in 1.3 with the correct output:

[code]

however, this does not:

[

[2013-10-09 19:41] rrix-storehouse commented on #4416
Going to re-open this on my personal account that actually gets email notifications

[2013-10-09 19:41] #4416 closed, assigned to nobody

[2013-10-09 19:42] rrix opened #4417 "Possible Regression involving only_if in 1.3.2"
I had some playbooks working with ansible 1.2 -- whichever version EPEL ships with EL6 right now, 1.2.3 by the looks of it --  which did some conditional operations involving `ansible_machine` which have not proven to be backwards compatible now that my development and deployment environments are running on 1.3

[code]

This works in 1.3 with the correct output:

[code]

however, this does not:

[

[2013-10-09 19:44] sivel commented on #4415
The cause for this is in how keystone_user works in combination with state=present.

Based on the code, it checks to see if the user already exists, and if it does, then it returns

`{changed: False, id=123}`

See https://github.com/ansible/ansible/blob/devel/library/cloud/keystone_user#L217

If you were to use '-v' with your ansible-playbook command, this is what you should see.

Maybe this modul

[2013-10-09 20:09] #3150 closed, assigned to nobody

[2013-10-09 20:27] mpdehaan commented on #4417
only_if has been undocumented for a long time, I do not really care that it doesn't work.

People should be using "when:" everywhere by now.

Generally compat is super important to us but we went through several iterations to remove this heinous evil and I'm ok with it being dead now.  We'll likely remove it for real in 1.5 so you should look at updating.

Basically an issue of getting things righ

[2013-10-09 20:27] #4417 closed, assigned to nobody

[2013-10-09 20:29] mpdehaan commented on #4414
Yes, don't do this with passwords.

Instead use the template module and the password lookup plugin inside.

[2013-10-09 20:31] mpdehaan commented on #4414
As you explicitly transferred the password this way, I don't consider this a security issue.

We can however consider not logging the content parameter, but it's just the same as if you did "with_file" and loaded it from the disk.  In many cases you might want to log the content parameter.

There is nothing special about "password" as a plugin being loaded here, as it just generates text strings,

[2013-10-09 20:31] #4414 closed, assigned to nobody

[2013-10-09 20:44] rrix-storehouse commented on #4417
Any interest in patches presenting warning of these things?

[2013-10-09 20:45] steverweber commented on #3977
same issue... perhaps supervisor version difference?

supervisorctl don't seem to have a version cli switch however supervisord -v is 3.0b2 on my system

Perhaps this issue should be reported directly to: https://github.com/Supervisor/supervisor

[2013-10-09 21:12] akurilin opened #4418 "apt module upgrades package, but log message is green rather than yellow"
Was chatting with @mpdehaan , he suggested I post issue here.

Nginx 1.4.3 was released today, and the corresponding launchpad.net PPA I was using was updated as well. Version 1.4.1 for precise was removed, replaced with 1.4.3. My apt directive was:

[code]

and the error message I got this morning was:

[code]

No problem. I updated the apt directive to the following:

[code]

and re-ran the play

[2013-10-09 21:13] jimi-c commented on #3908
Yes, the PR was https://github.com/ansible/ansible/pull/3953, which was merged, so this is now closed.

[2013-10-09 21:13] #3908 closed, assigned to nobody

[2013-10-09 21:49] jimi-c commented on #3977
Yeah, I'm unable to reproduce this using supervisor-3.0-0.10.a12 on Fedora with zookeeper 3.4.5 (downloaded tar), supervisor config as follows:

<pre>
[program:zookeeper]
command=/root/zookeeper-3.4.5/bin/zkServer.sh start-foreground
autorestart=true
stopsignal=KILL
stopasgroup=true
startretries=10
stdout_logfile=/var/log/supervisord/zookeeper.log
redirect_stderr=true
</pre>

When I run the superv

[2013-10-09 22:06] jimi-c commented on #4137
I am unable to reproduce this with the current development branch:

<pre>
PLAY [centos6] ****************************************************************
GATHERING FACTS ***************************************************************
ok: [awxtest1]
ok: [awxtest2]
awxtest1: importing /root/testing/awtest2.yml
awxtest2: importing /root/testing/awtest.yml
TASK: [debug msg="{{user}}"] ****************

[2013-10-09 22:41] mpdehaan commented on #4418
Likely a bug when doing a specific version request.   I've tagged it as such.

Thanks for the heads up!

[2013-10-09 22:42] mpdehaan commented on #4415
Sounds good to me.

[2013-10-09 23:07] jimi-c commented on #4137
After further discussion, we're going to go ahead and close this, as we are unable to reproduce it. If you continue having issues, we recommend that you upgrade to the latest version, or try running ansible from source to verify that your issue will be resolved in the next release. Thanks!

[2013-10-09 23:07] #4137 closed, assigned to jimi-c

[2013-10-09 23:51] mpdehaan opened #4419 "add deprecation warnings for outdated conditionals"
we should print warnings when "when_foo" or "only_if" is used instead of the when statement so we can remove these features along with "include+with_items" when 1.5 development starts

[2013-10-10 03:09] steverweber commented on #3977
if you run the command twice in a row does it fail on the second call?

I think the issue is after i force the supervisorctl reread and update the fedoracommons job is started,,,  then when I run the last task to start the job again it I get the error...

[code]

here is what it looks like when I run the commands in command line:

[code]

it seems to me that the supervisorctl command might be the

[2013-10-10 06:18] bennojoy commented on #4158
Fixed and PR sent 4422

[2013-10-10 06:35] bennojoy commented on #4415
I had a look at the keystone client api and it doesn't have a method to get the user's current password, the user object returned by the lookup also doesnt have user password field either.
We could have a update_password option, but that would force an update to the password everytime.

[2013-10-10 08:09] dhorbach commented on #4137
I'm still able to reproduce it with 1.3.2

[code]

Look at invalid output - "userA" migrated from 10 host to 11 which is wrong.

Also tested with latest ansible 1.4 (devel 3f968ff46a) last updated 2013/10/10 11:08:40 (GMT +400)

Do you need some more information?

[2013-10-10 12:02] gildegoma commented on #2452
Thanks @lorin for reporting problem with full details, so that I very quickly find the solution. I'll try to reserve some time to provide a patch...

[2013-10-10 12:45] mpdehaan commented on #4158
Closing per the above.  Let us know if you still have issues.

Thanks!

[2013-10-10 12:45] #4158 closed, assigned to nobody

[2013-10-10 13:09] steverweber commented on #3977
I took a look at the source code and the ansible supervisorctl module has an issue.  Some patching is needed to be compatible with the current version of supervisorctl in the latest ubuntu.

[code]

Perhaps this module should use the return code (NOTE: return code is always zero, so this wont work untill the next release of supervisorctl)

Or parse the output of the command for both `%s: started`

[2013-10-10 14:09] nicolas-g commented on #4226
HI @jctanner , my apologies  it seems the script calling this playbook was not set with the correct extra vars.

I can confirm it's working, thanks for looking into this.

[2013-10-10 14:09] #4226 closed, assigned to jctanner

[2013-10-10 14:11] nicolas-g commented on #4242
thanks @jimi-c  .

[2013-10-10 14:39] madsweitling opened #4430 "hg module fails with: AttributeError: 'AnsibleModule' object has no attribute 'parames'"
_What version of ansible you are using (ansible --version)_
ansible 1.4 (devel 8d16a39af9) last updated 2013/10/10 14:26:52 (GMT +000)

_Steps to reproduce the problem_
Use the 'hg' module in a playbook:

[code]

_Expected results_
Successful clone or pull from the specified Hg repo.

_Actual results_
ansible-playbook fails with a Python AttributeError:

[code]

Seems to be a typo in this line: ht

[2013-10-10 14:46] mehulved opened #4431 "ansible_ssh_user doesn't work from host_vars"
My project is laid out as follows

[code]

[code]

[code]

When I execute ping module it fails on ssh conection

[code]

but when user is specified it works

[code]

Also, if I specify ansible_ssh_user in ./test file, the first command works.

[2013-10-10 14:52] mpdehaan commented on #4431
Can you let me know what is ansible --version ?

Thanks!

[2013-10-10 14:55] mpdehaan commented on #4430
oh wow, that's not good :)

Thanks for the heads up!

Should be an easy pull request to fix if you would like to submit one real quick and claim the points!

[2013-10-10 15:13] madsweitling commented on #4430
I'll get on it :)

[2013-10-10 15:54] mehulved commented on #4431
It's 1.3.3

[code]

[2013-10-10 16:05] bcoca commented on #4431
host vars file does not match host names in inventory, it won't be picked
up.

try moving it to group_vars/all

[2013-10-10 16:35] mehulved commented on #4431
I moved it to host_vars/test.deltamktgresearch.com. That fixed the problem. It was a PEBKAC issue. Thank you.

[2013-10-10 16:35] #4431 closed, assigned to nobody

[2013-10-10 16:44] gregkare opened #4433 "The status codes coming back from the uri module should be integers"
I'm using the latest git revision and I'm experimenting with the `until` feature. I realized the problem with this code was that `result.status` returns a string, so the comparison always failed.

[code]

Here's the error:

[code]

At this point I realized status was a string and things worked as expected after this change:

[code]

The documentation for `until` could contain a warning about uri's

[2013-10-10 17:15] jimi-c commented on #4433
That documentation should go into the uri module documentation. The docs are all contained in the github source, if you would like to tackle that yourself.

[2013-10-10 17:17] copperlight commented on #4361
I ran into this as well.  Here is a technique for finding invisible unicode characters, using Gnu grep on OSX:

[code]

Output will look like this:

[code]

[2013-10-10 17:42] nicolas-g opened #4435 "mysql_db import fails if there is no "connection: local" (RDS)"
Hi,

I'm having this issue when running the bellow playbook to import a database in an Amazon RDS instance, if the playbook has the connection: local as you can see bellow then there are no problems, the schema is successfully imported to the RDS, if I don't have the "connection: local" like it gives me an error.
# Error message :

[code]
# Playbook  :

[code]
# System version :

[code]

[2013-10-10 18:05] jimi-c commented on #4430
The above PR was merged in to fix this, so closing this issue. Thanks!

[2013-10-10 18:05] #4430 closed, assigned to nobody

[2013-10-10 19:35] mgarabed commented on #276
This problem cropped up on a Scientific Linux 6.1 install as well.  The root cause seems to be a pip upgrade of pycrypto over an existing RPM-installed version.  For some reason, all of the files are not removed as part of the process, so a lingering .so file (_fastmath.so) stays around and isn't compatible with the new version.

Trying to manually update/compile this was fruitless too:  the lates

[2013-10-10 19:37] bcoca commented on #276
Mixing diff package managers is fun!

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011100100111010000100001
Pedo mellon a minno

[2013-10-10 19:55] bhutch opened #4436 "EC2_EIP module: Can't associate EIP with VPC instance"
Hello,

When trying to use ec2_eip to allocate and associate an EIP to a VPC instance, I receive the error "You must specify an allocation id when mapping an address to a VPC instance".

Error:

  File "/usr/lib/python2.7/dist-packages/boto/ec2/connection.py", line 1456, in associate_address
    return self.get_status('AssociateAddress', params, verb='POST')
  File "/usr/lib/python2.7/dist-package

[2013-10-10 20:15] sperantus opened #4438 "Custom module using arguments file: permission denied to read arguments"
**Ansible version**
ansible 1.3.2

**Steps to reproduce**
1. Create a custom ansible module that uses the arguments file
2. Run the module with sudo_user other than root and default ssh user

**Expected result**
The custom module should read the arguments file and do its work.

**Actual result**
The custom module won't be able to read the arguments file because it is set with 'rw' permissions only

[2013-10-10 20:54] aeternitatus commented on #4355
guys, having this playbooks

[code]

and running `ansible-playbook --sudo-user=vagrant -vvvv playbook2.yaml` I have the same error:

[code]

running `ansible-playbook --sudo-user=vagrant -vvvv playbook2.yaml` I get:

[code]

can anybody tell me what's wrong? thanks in advance!

[2013-10-10 20:55] bcoca commented on #4355
you need to be root to lock apt, I don't use vagrant but I doubt the
vagrant user has access (given this error).

[2013-10-10 20:56] bcoca commented on #4355
--sudo-user=vagrant  and play: user: vagrant is redundant, you are already
logging in as vagrant you don't need to sudo to yourself.

[2013-10-10 22:18] jorgenschaefer opened #4441 "Add a "move_home" parameter to the user module"
The following playbook fails with the message `msg: usermod: directory /tmp exists`:

[code]

This is because the user module passes the `-m` option for modifying a user when the home directory option is passed (`user` module, line 366), which would move the contents of the previous home directory.

Would it be better to accept an argument to control this behavior?

But ideally, I'd think that the

[2013-10-10 22:21] gregkare commented on #4433
The documentation for uri is already correct, because as far as I know options passed like this are automatically cast into strings. Here's an excerpt from the current doc:

[code]

My issue happens because when you're using `until` you have to type your data explicitly (it's Python).

[2013-10-11 00:23] rr-ricardo-aravena commented on #3331
Is this fixed ? I'm seeing with the only_if condition.

[2013-10-11 00:27] mpdehaan commented on #4438
Can you supply a trivial hello world custom module that reproduces this problem?

Also, can we see the playbook you are using?

[2013-10-11 00:28] neh opened #4442 "add_host breaks on commit c2e5f78"
I'm running ansible from git, commit c2e5f78.

Running a play that uses add_host fails with the message "FATAL: no hosts matched or all hosts have already failed -- aborting" on the first task that applies to the newly added host.

[2013-10-11 00:29] mpdehaan commented on #4442
yep, we need to invalidate the cache when that happens.

Thanks for the report.

[2013-10-11 00:30] mpdehaan commented on #4441
Seems it would be better to just not error out?

[2013-10-11 01:07] pauloneves opened #4443 "Feature request: special cleanup tasks that are executed even after a failure"
I'd like to have special "cleanup tasks". Tasks that should be executed even if a previous task fail.

It would be a important security enhancement. Imagine this use case: my application database hardcoded user has few permissions: it can't drop or create table. Can't even delete records. But during a playbook, I need to do database migrations, create tables, and optimize the database. The playboo

[2013-10-11 01:07] sperantus commented on #4438
Sure:

**inventory**

<pre>
[vagrant]
192.168.111.222 ansible_ssh_user=vagrant
</pre>

**playbooks/arguments.yml**

<pre>
---
- hosts: vagrant
  sudo: yes
  sudo_user: tracpoint
  tasks:
    - name: "Test custom module"
      my_custom_module: first="1" second="2"
</pre>

**library/my_custom_module**

[code]

**To execute**

<pre>
 ansible-playbook playbooks/arguments.yml -i inventory
</pre>

**de

[2013-10-11 01:54] jimi-c commented on #4443
Sure, I could definitely see this being useful. Taking it even further, we could make this very similar to try/except/finally in that we could have an on_error: block that was only executed when a task failed, for instance to rollback changes. The finally: block would always be run at the end, no matter what.

[2013-10-11 02:09] sperantus opened #4444 "mysql_user module does not recognize 'login_port' parameter"
**Ansible version**
ansible 1.3.2

**Expected result**
Setting login_port parameter for mysql_user works as specified in the documentation

**Actual result**
The task fails with the message:

[code]

If login_port is removed then the task succeeds.

**How to reproduce**
Run the following playbook:

<pre>

---
- hosts: vagrant
  sudo: yes
  sudo_user: tracpoint

  tasks:
  - name: "Create database

[2013-10-11 02:34] vsaisha opened #4445 "roles do not allow to access vars from dynamically loaded vars_files when var is prompted"
Hi,
I have observed the following behavior in the following scenario.
# var files

vars/static.yml
     config_names:
             - value1
             - value2

vars/test.yml
     config_names:
             - value3
             - value4
# playbook

vars_prompt:
         - name: "filename"
           prompt: "Filename"
           private: no
           when: filename is not defined
vars_files:

[2013-10-11 05:03] darKoram opened #4447 "--start-at-task skips tasks"
I found --start-at-task one of the most useful features for debugging late-in-playbook tasks.

ansible-playbook -i hosts site.yml --start-at-task="Name of a task"

Previously this worked (though you had to take care you used the full phrase with no spelling errors").
Now, it always just skips over all tasks starting at the named task.

Has there been a change in how this feature works?

I just pul

[2013-10-11 05:20] pas256 commented on #4436
VPC is not supported by ec2_eip at the point, and I share your pain. I have made some modifications to the EIP module and will be submitting a PR within a week.

[2013-10-11 06:21] aeternitatus commented on #4355
@bcoca when I remove user: vagrant from my playbook and run it I get an error:

[code]

and vagrant belongs to sudoers, is not it enough?

[code]

[2013-10-11 07:21] przemolb commented on #4101
Why not give people a choice and let it be configurable using ansible ?

[2013-10-11 08:15] dhorbach commented on #4137
In your test you don't have "skipped" host - only in this case the issue is reproduced?
Should I raise another issue?

[2013-10-11 08:29] jorgenschaefer commented on #4441
The `-m` option tries to move the contents of the home directory … if you want to move the home directory, I guess being unable to do so is indeed an error, while if you don't care about previous home directories, there is no need to pass `-m` in the first place. I guess not passing `-m` would be the quick and clean solution, having people take care about moving the home directory separately if th

[2013-10-11 09:21] wu-lee opened #4448 "service state=reloaded should start the service if it is not already"
Currently when a service is set to the "reloaded" state, if it is not started, then nothing happens.

As suggested in the thread linked below, it seems a more useful behaviour if Ansible would first check if the service is running, and either start it (if it is not) or reload it (if it is). Much as one would do on the command line, if one were doing it manually.

   https://groups.google.com/forum

[2013-10-11 10:17] wu-lee opened #4450 "a way to reference a variable inside the same hash"
An illustration:

[code]

This will cause an error in a task which attempts to use "{{ dan.home }}", such as:

[code]

[2013-10-11 11:42] schtibe opened #4451 "Use env command in shebang instead of python"
I wanted to do some module testing. Unfortunately, although I set up a virtualenv, the modules were run by Python 3 instead of 2.

The reason for that is the shebang, which is `#!/usr/bin/python`  pretty much everywhere in the code. When changed to `#!/usr/bin/env python`, the correct python binary from the virtualenv is executed.

Is there a reason this shebang is used? Otherwise I think it shoul

[2013-10-11 12:22] Ravenwater commented on #4355
that error makes sense as you are executing the ansible playbook as maksym.

User "vagrant" is setup by Vagrant to be part of the sudoers, so running the playbook from the "vagrant" account with the sudo flag asserted will provide apt-get the root access it needs.

[2013-10-11 12:23] mpdehaan commented on #4451
You need to read up on ansible_python_interpreter in the docs.

This is fully controllable.

Long story short -- not having to trust the user path and not assuming python is named python!

[2013-10-11 12:23] #4451 closed, assigned to nobody

[2013-10-11 12:25] mpdehaan commented on #4444
This parameter was added in 1.4 and someone failed to tag the parameter as new in 1.4.

Sorry about that.

Filing this as a docs ticket.

https://github.com/ansible/ansible/blob/devel/library/database/mysql_user

[2013-10-11 12:27] mpdehaan commented on #4445
It's impossible in Ansible for variables to work in every possible resolution order someone would want.

Sometimes they might want variables in vars_files to appear in vars prompt messages, etc.

What I would suggest here seeing you are passing in a filename is to pass it in via -e

-e "filename=foo.yml" on the Ansible command line will help here.

[2013-10-11 12:27] #4445 closed, assigned to nobody

[2013-10-11 13:11] #4312 closed, assigned to jctanner

[2013-10-11 13:16] mpdehaan commented on #4444
documentation has been updated and this will appear in the next push.

[2013-10-11 13:16] #4444 closed, assigned to nobody

[2013-10-11 13:19] mpdehaan commented on #4433
I disagree here @jimi_c -- the status_code should be an integer in the return.

also, let's not conflate this ticket with the lookup plugin question just posted above.

[2013-10-11 13:20] #4320 closed, assigned to nobody

[2013-10-11 13:33] pschwartz opened #4452 "Config load priority places ~/.ansible.cfg above <playbook dir>/ansible.cfg"
Ansible version: 1.3.3

Actions to repeat:
    Create ~/.ansible.cfg
    Create <playbook dir>/ansible.cfg with different options then ~/.ansible.cfg
    Attempt to run the playbook to see which config file options are run.

Currently load_config_file returns configs in this order:
    ~/.ansible.cfg
    <playbook dir>/ansible.cfg
    /etc/ansible/ansible.cfg

The documentation has this as <playbo

[2013-10-11 13:36] aeternitatus commented on #4355
@Ravenwater thanks, so it makes sense to run `ansible-playbook --sudo-user=vagrant -vvvv playbook2.yaml` with user:vagrant in my playbook, right?

and yes, I run my ansible playbook as maksym cause this is my user on the host machine, and vagrant is the user used on my guest machine, which I actually would like to provision... but I'm afraid I still do not understand what to fix to perform this pr

[2013-10-11 13:50] daleq commented on #4312
Thanks for creating a fix!

I'm not a python expert, but it looks to me like line 378
  if self.append and not has_append:
should be
  if self.append and has_append:
(note the removed 'not')

Otherwise, if 'has_append' is true, then the command will try to use -G.

Thanks again.

[2013-10-11 13:51] jhagg opened #4454 "mysql_user can't handle all syntax features of .my.cnf"
When mysql_user tries to read my ~/.my.cnf it chokes on two things:
1. My TAB-indentation
   I like pretty files. :-)
   But I can live without it.
2. Flags without values
   Like 'silent'.
   This I can't live whithout. :-)

Example: .my.cnf

[client]
    password=XXXXXXXXXX
    default-character-set=utf8

[mysql]
    silent

I suspect that the real problem here is the ConfigParser class so
fixin

[2013-10-11 14:02] Ravenwater commented on #4355
My brain gets twisted on all the ways user and account info get into the work flow.... but let's see if we can figure this out...

In my case, I have the user 'vagrant' across the whole ecosystem, and I had the problem that running a playbook as 'vagrant' didn't have sudo access until I put it in the playbook. I don't know 'when' the sudo-user takes over, that is, before or after it connects to yo

[2013-10-11 14:18] efenex opened #4455 "Skipped filter does not work in every use case"
The following use-case does not work

[code]

Resulting error/output:

[code]

Seems to be related/caused by the template conditional testing for <variable>.stdout even if it does not necessarily exist (as tested with the |skipped filter), due to the conditional nature of the variables themselves.

[2013-10-11 14:23] jimi-c commented on #4452
Go ahead and send the PR and I'll get this merged in. Thanks!

[2013-10-11 14:25] jctanner commented on #4312
@daleq,

On opensuse 10, has_append will be False. So once it gets to the "self.append and not has_append", it will evaluate to "not False", aka True,

<pre>
[root@localhost ~]# python -c "print (not False)"
True
</pre>

[2013-10-11 14:25] jimi-c commented on #4452
Oops, didn't see it was in already, since it was just referenced from the commit and not a PR. Merged, so closing, thanks!

[2013-10-11 14:25] #4452 closed, assigned to nobody

[2013-10-11 14:48] jimi-c commented on #4447
To be clear, this is still working for you, the only issue is that it no longer shows the skipped tasks? Otherwise, I am unable to reproduce this.

[2013-10-11 15:17] jctanner opened #4458 "sys.exit calls in s3 module should be removed"
<pre>
jtanner@u1304:~/ansible.bucket$ fgrep sys.exit library/cloud/s3
    sys.exit(1)
            sys.exit(0)
        sys.exit(0)
        sys.exit(0)
        sys.exit(0)
        sys.exit(0)
        sys.exit(0)
            sys.exit(0)
            sys.exit(0)
#       sys.exit(0)
            sys.exit(0)
            sys.exit(0)
    sys.exit(0)
</pre>

[2013-10-11 15:30] #4458 closed, assigned to nobody

[2013-10-11 15:32] sperantus commented on #4444
Good to know - thank you! Overall Congrats for the great work - Ansible has been a relief for us - we are migrating from Chef and so far we haven't hit any walls and saved a lot of time in debugging issues.

[2013-10-11 15:59] pfalcon opened #4459 "Revisiting creation of relative symlinks with "file state=link""
From maillist post: https://groups.google.com/forum/#!topic/ansible-project/soEvo8ioEmE

I just figured Ansible doesn't allow to create  a symlink pointing to a relative file. Specifically,

file: state=link src=../settings_prod.py dest=~/frontend/settings_prod.py

Gives msg: absolute paths are required.

Quick googling led to https://github.com/ansible/ansible/pull/281 which talks about fixing re

[2013-10-11 16:34] Preston4tw opened #4460 "8fc46a3a dramatically slows down host list processing"
8fc46a3a appears to dramatically slow down parsing of the hostfile. I've got 2500 hosts in my hostfile and it's very noticeable. Found the commit with git bisect.

[2013-10-11 16:36] tronner opened #4461 "Problem with user module under FreeBSD when append=yes"
The user module uses a list operation (extend) on a set, which causes ansible to crash (stacktrace). I will create a pull request.

[2013-10-11 16:41] tronner commented on #4461
Hmm, I think just a pull request was enough. Now it created two issues. Sorry about that; I'm new to github :)

[2013-10-11 18:05] darKoram commented on #4447
Prior to perhaps 2 weeks ago, the behaviour was as I wished.

ansible-playbook -i hosts site.yml --start-at-task="4th to last task of
very long playbook"

this would start at the 4th to last task (accessed by name) and then
continue chugging along to the end, executing 4 tasks.
If i mis-spelled the name, then it would fire up, but just state some tasks
and exit without executing any tasks.

Now th

[2013-10-11 18:21] jimi-c commented on #4447
Could you please include a sample playbook that reproduces the issue? A gist or some other paste service is preferred to pasting it here.

[2013-10-11 19:24] mpdehaan commented on #4460
Please paste what ansible --version you are running.

There are caching improvements you may not have applied and I need to know.

[2013-10-11 20:05] wu-lee commented on #4448
Just to clarify, this _is_ about reloaded, not restarted (unless it too doesn't start the service when stopped, but I believe it does).

[2013-10-11 20:19] drybjed opened #4467 "mysql_user module cannot change root password on hosts with digits in {{ ansible_hostname }}"
Tasks used to change root mysql password:

[code]

On first execution, password is set correctly for all hosts (DNS names: db0.aiua, db1.aiua, small.aiua) (.aiua is an internal test domain handled by dnsmasq). Upon changing `mysql_root_password` variable and re-running the tasks, there are errors on hosts with digits in their hostname:

[code]

[2013-10-11 20:37] #4442 closed, assigned to nobody

[2013-10-11 20:37] mpdehaan commented on #4442
Just pushed a fix, let us know if it works for you.

Thanks!

[2013-10-11 20:41] Preston4tw commented on #4460
ansible 1.4 (devel 41aaad69aa) last updated 2013/10/11 13:38:11 (GMT -700) on python 2.7.5 on CentOS 5.3 (bleck) x64.

[2013-10-11 20:43] mpdehaan commented on #4467
I suspect you need to do

{{ password | quote }}

but am not positive.

Can you check?

[2013-10-11 20:44] Preston4tw commented on #4460
For each host it's checking a series of paths, group_vars host_vars both in my homedir as well as cwd it looks like, with the hostname appended .yml or .yaml files and taking ~220ms for each host.

[2013-10-11 20:45] mpdehaan commented on #4467
Actually I suspect this might just be because it's not double evaluating the variable here.

[2013-10-11 20:51] jimi-c commented on #4460
A recent patch regarding this was just merged in, could you please re-pull and test? Thanks!

[2013-10-11 21:01] drybjed commented on #4467
@mpdehaan With `{{ password | quote }}` error is the same.

[2013-10-11 21:49] Preston4tw commented on #4460
Still having the issue.

[2013-10-11 21:49] neh commented on #4442
That works here, thanks Michael.

[2013-10-11 22:52] dmac opened #4469 "Conditional include order question"
If a playbook conditionally includes a task file, and one of the tasks in the included file has a "when" field that uses a variable registered by a previous task, the play fails when the conditional include evaluates to false.

[code]

&nbsp;

[code]

&nbsp;

[code]

[2013-10-11 22:56] MasseGuillaume commented on #4469
current workarround

[code]

[2013-10-11 23:01] hyphen-jb commented on #2726
short answer: no.
I would like to do something similar, but mpdehaan best explained the problem here: https://github.com/ansible/ansible/issues/3512#issuecomment-20873812
Even though he's talking about includes, ansible's constraints prevent roles from using with_items in that manner.

Parameterized roles that can be multi-instantiated using with_items (from host vars) would be amazingly powerful.

[2013-10-12 00:34] mpdehaan commented on #4469
checking this now...

[2013-10-12 00:44] #4469 closed, assigned to nobody

[2013-10-12 00:45] mpdehaan commented on #4469
I confirmed an ordering issue where the first conditional was evaluated after the second.

I agree this is frustrating and I thought we had the last of these down, but apparently missed one.   Sorry about that!

I do not anticipate we will be doing another dot release on the 1.3 release branches, so you may wish to cherry-pick this commit or choose to run 1.4 (devel) -- which is actually not an un

[2013-10-12 01:09] mpdehaan commented on #3725
closing as we have the PR open now, thanks @sivel!

[2013-10-12 01:09] #3725 closed, assigned to abadger

[2013-10-12 01:10] mpdehaan commented on #4419
done!

[2013-10-12 01:10] #4419 closed, assigned to nobody

[2013-10-12 01:10] mpdehaan commented on #4410
done!

[2013-10-12 01:10] #4410 closed, assigned to nobody

[2013-10-12 01:58] jyap808 commented on #2067
@mpdehaan Just put in a pull request for this.  Thanks!

[2013-10-12 02:18] mpdehaan commented on #4460
that = self.__get_hosts(p) itself is not well cached so I can take a look there.   That would seem to be it.

If you are capable of debugging python and running performance capture data I'd be interested which functions are slowest on your end.

Meanwhile it's not a bad

Did you have a .yml file for each host ?

[2013-10-12 02:26] mpdehaan commented on #4469
See what I just pushed a bit to see if this helps any, though some more info on structure of your environment would be useful, this is a bit of a blind attempt.

If you are still seeing things I can use more info to reproduce things in a closer-to-yours setup.

[2013-10-12 02:28] mpdehaan commented on #4460
I've submitted a bit of a blind fix that may help by moving the caching code a bit higher up.

Let me know if this helps or not.

If it doesn't, I would like to know if you a host file or each host and how you are defining inventory among other things.

(Also 220ms for just a few stats seems a bit high.   Nothing mounted on fuse or crazy slow NFS I hope?)

[2013-10-12 02:28] mpdehaan commented on #4460
commit is https://github.com/ansible/ansible/commit/1b2d4c328caee8ab399e032b5d3c9ce0fb067120

[2013-10-12 03:07] zhangmh2 opened #4471 "i want use yaml in ansible-playbook of task dir"
for example:  cat task.yml

[code]

actually, I  want exec some tasks through host vars decided

[2013-10-12 07:01] harrisongu opened #4472 "Get error of set ec2 tags"
Ansible version: 1.2.3
Issue: Using ec2_tags module to set tags for EC2 instances. One tag already exist in my instance, and I tried to run ansible to add new tag for this instance is successful at first time. but I'm get a response error when run this action again. The error shows:

TASK: [set ec2 tags] ********************************
failed: [xx.xx.xx.xx] => {"failed": true, "item": "", "parsed

[2013-10-12 08:29] dmac commented on #4469
Awesome, thanks for the fast turnaround! Works great from devel.

Was that second commit supposed to reference a different issue?

[2013-10-12 12:38] mpdehaan commented on #4471
Yeah this isn't Ansible's approach.

It's a poor idea because it makes the data format not a valid data format.

I suggest reading the variable chapter and then the module documentation for "group_by" which allows exactly this by slightly different means.

Note:  questions should go to the mailing list or IRC rather than the bug tracker.   Thanks!

[2013-10-12 12:40] mpdehaan commented on #4471
You should also look up the "when" statement in the conditional chapter of the docs, which is how you do if statements.

Though for what you are doing this is really the "hosts:" selector.

All you do is:
- hosts: desired_hostname
   tasks:
      -

And you are doing something on just those hosts.

Much nicer, without all the Jinja2 junk sprinkled in your configuration orders.

[2013-10-12 12:41] #4471 closed, assigned to nobody

[2013-10-12 12:42] mpdehaan commented on #4472
This seems reasonable.

Would you like to submit a pull request?

Thanks!

[2013-10-12 12:58] harrisongu commented on #4472
Yeah, I've send a pull request, please review. Thanks.

[2013-10-12 13:21] mpdehaan commented on #4472
closing per above, thank you!

[2013-10-12 13:21] #4472 closed, assigned to nobody

[2013-10-12 17:30] devoncrouse commented on #3157
I also think this feature would be useful; here's our use-case:

We have certain tasks (e.g. ec2_facts) that are depended on by a large sub-section of other tasks in the playbook, many from includes, and all with their own specific tags.

The inconvenience comes from having to maintain a large list of tags on the ec2_facts (for example) task, so that when we want to run a particular tag it still g

[2013-10-12 19:28] jcftang opened #4475 "change in behaviour of "when:""
This ticket follows up on a conversation at...

https://groups.google.com/forum/#!topic/ansible-project/AxgcmrvExJU

I've a sample case of it failing here...

https://github.com/jcftang/vars-failure-evaluation

[2013-10-12 19:44] devoncrouse commented on #4212
Pulling/installing latest from the Ansible devel branch, and upgrading python-boto from 2.9.5 to 2.13.3 didn't fix the issue for me.

[2013-10-12 19:48] devoncrouse commented on #4212
Upgrading python-botocore from 0.9.2-1.0 to 0.17.0-1.2 made things worse, and now I get the following on any attempt to use the ec2.py inventory.

ERROR: failed to parse: Looks like AWS is down again:
EC2ResponseError: 401 Unauthorized
<?xml version="1.0" encoding="UTF-8"?>
<Response><Errors><Error><Code>AuthFailure</Code><Message>AWS was not able to validate the provided access credentials</Messa

[2013-10-12 20:34] mscherer commented on #3325
I think that we need the output of "ansible all -c local -m setup" to diagnose it properly.

[2013-10-12 21:18] devoncrouse commented on #4212
This was a misunderstanding on my part. The Route53 commands were actually being executed from the target EC2 instances instead of the machine ansible was called from, and their environment wasn't set up. Closing this; sorry for the trouble.

[2013-10-12 21:18] #4212 closed, assigned to nobody

[2013-10-12 21:42] mpdehaan commented on #4475
Should be fixed now, see development list for details.

[2013-10-12 21:42] #4475 closed, assigned to nobody

[2013-10-12 21:43] mpdehaan commented on #4433
closing per above!

[2013-10-12 21:43] #4433 closed, assigned to nobody

[2013-10-12 22:09] jcftang commented on #4475
thanks, thats fixed it for me

[2013-10-12 23:43] mscherer commented on #3921
Looking at the module, it seems there is a key_options argument that would solve your issue. Have you looked at it ?

[2013-10-12 23:56] mpdehaan opened #4478 "document "with_lines""
This should be shown in the loops section.

[2013-10-13 06:00] DSpeichert opened #4481 "apt_repository module does not do update_cache=yes by default"
Documentation on apt_repository module claims update_cache default value is yes. However, it only updates cache when declared explicitly, which means it is not yes by default.

[2013-10-13 07:59] kafeinnet opened #4482 "get_url module does not work if no IPv4"
Hi,

I'm a having some machines with IPv6 only and no IPv4.
On those machines, get_url does not work even if the requested URL can be accessed through IPv6.

Example :

[code]

Gives :

[code]

But, this URL can be downloaded with wget :

[code]

Fab.

[2013-10-13 09:37] kafeinnet opened #4485 "Accelerated mode does not work with IPv6"
Hi,

Acelerated mode daemon listens on 0.0.0.0 and there is no configuration option to change this.

[code]

Maybe you should add a "accelerated_host" to choose the listening IP so we can set it to "::".

Fab.

[2013-10-13 13:08] mpdehaan commented on #4481
Yep, there's already a ticket on this one, it's a docs bug and I'm going to sort that out shortly.

Leaving this open just in case I'm wrong about the duplicate.

[2013-10-13 13:09] mpdehaan commented on #4482
Where you are doing wget do you have additional environment variables set?

Curious if this is just a proxy issue where you have to set the "environment:" keyword in Ansible (see docs)

[2013-10-13 13:13] mpdehaan commented on #4485
If we did this, I'd probably call it something like "accelerate_ipv6=True/False" and just set it there.

accelerate_host seems like it would be confusing as the host file is local.

[2013-10-13 13:21] mpdehaan commented on #4478
done, just not pushed yet

[2013-10-13 13:21] #4478 closed, assigned to nobody

[2013-10-13 14:26] DSpeichert commented on #4481
I believe that in most cases the anticipated solution would be to update the cache when you add/delete apt repository. So I would say it's not the docs bug but module bug.

[2013-10-13 15:44] kafeinnet commented on #4485
Yep, the name is maybe not so clever.
What about accelerate_listen ?

It maybe better not to listen on all IP addresses in certain cases for more security ?

[2013-10-13 15:52] kafeinnet commented on #4482
I'm doing wget on the target host, the one with no IPv4.

[code]

And there is no proxy problem...there is no proxy at all :).

I did some research, it seems the problem is related to urllib2 and ftp URL with IPv6 :
https://mail.python.org/pipermail/python-bugs-list/2009-January/066689.html

url_get works with an HTTP url, so it's not an ansible problem.

[2013-10-14 06:35] jurgenhaas commented on #4291
Unfortunately, it's not. I guess the problem comes from the "-i ../inventories/company1/hosts" parameter and not from the ../tmp/test.yml playbook parameter.

Can I upload an archive? Then I could provide you with a very basic example demonstrating the effect.

[2013-10-14 08:19] lied opened #4492 "want to have an option to provide the sudo_pass via inventory"
I have a deployment where I need to be able to provide a password for sudo and I don't want to use the -K option as we like to fire up the deployment process complete automatically.

It would be nice if I have the option to specify the sudo_pass in the inventory file.

[2013-10-14 09:58] jcassee commented on #4085
Bit late, but: thanks for applying this quickly, James!

[2013-10-14 11:39] iivvoo opened #4494 "service: name=supervisor state=reloaded does not work"
A supervisor handler for reloading the configuration does not work,

[code]

will result in

[code]

[2013-10-14 11:41] iivvoo opened #4495 "want to ask supervisor to be able to reload/update supervisor"
the supervisorctl module requires a name= argument to specify the configuration to work on.

But supervisorctl can also manage the supervisor process itself: reload, restart, update.

Since the mode of operation of the service module in combination with supervisor is very limited, it would be useful if these operations could be executed through the supervisorctl module (in stead of a shell module)

[2013-10-14 12:30] mpdehaan commented on #4291
We don't take tarball uploads, but you can provide steps to reproduce the problem, or a minimal example that reproduces the problem as a github repo.

[2013-10-14 12:43] mpdehaan commented on #4494
Information about your OS and ansible version is required.

Please provide steps to reproduce this problem per contributing.md.

[2013-10-14 12:52] sivel commented on #4492
This is a duplicate of #4323

[2013-10-14 12:53] mpdehaan commented on #4492
Yep, closing this one.

Thanks!

[2013-10-14 12:53] #4492 closed, assigned to nobody

[2013-10-14 13:00] beuker81 opened #4496 "Ansible 1.4 rhn_register module not working with RHEL 5"
I have a playbook registering a system to satellite. If I run this playbook I get:

fatal: [euphrates.ict.domain.nl] => failed to parse:
Traceback (most recent call last):
  File "/home/jurrien/.ansible/tmp/ansible-1381755089.64-208400602114918/rhn_register", line 1314, in ?
    main()
  File "/home/jurrien/.ansible/tmp/ansible-1381755089.64-208400602114918/rhn_register", line 358, in main
    rhn

[2013-10-14 13:37] mpdehaan commented on #4496
So looks like this is just a path issue because of going through sudo.

I'm ok with adding the explicit path as it won't be anywhere else, would you like to send in a pull request?

[2013-10-14 13:45] jurgenhaas commented on #4291
The structure is described here: https://groups.google.com/d/msg/ansible-project/BPnZPe_Ixhg/6rI0PSByj0cJ

Main parts are:

Inventory:
/path/to/workingdir/inventories/company1/hosts

Script:
/path/to/workingdir/scripts/test4291.sh

Playbook:
/path/to/workingdir/playbooks/test4291.yml

In the test-script there is this 1 line: ansible-playbook -i ../inventories/company1/hosts ../playbooks/test4291.y

[2013-10-14 14:33] ndndn commented on #2710
the COW test above does not work with v1.3.3-precise1. I understand when_string is being depreciated, but at the moment it is not but is now failing. it seems worth mentioning as others may find their playbooks featuring this use of when_string no working properly any more...

[2013-10-14 14:35] bcoca commented on #4101
I use ansible to configure syslog to send ansible log messages to
/var/log/ansible.log

[2013-10-14 14:51] beuker81 commented on #4496
Done

[2013-10-14 14:53] bcoca commented on #4355
keep user:vagrant (remote/login user), remove sudo_user vagrant, having
both is nonsensical and from your posts it seems you want the first.

[2013-10-14 14:56] #4496 closed, assigned to nobody

[2013-10-14 15:03] bcoca opened #4499 "ansible fails on gather when using --diff"
sample playbook (test.yml):

[code]

invoked (works normally just removing --diff):

[code]

result:

[code]

[2013-10-14 15:11] bcoca commented on #4499
seems to be caused by: 61d01f549f2143fd9adfa4ffae42f09d24649c26

but python docs indicate catch_warnings was included in 2.6 and I'm running 2.7.3 (no other versions installed)

[2013-10-14 15:29] bcoca commented on #4459
it is on my TODO list, but will probably get done sooner if you submit a
patch

[2013-10-14 17:32] pfalcon commented on #4459
Thanks, in my queue too, but don't want to spread thin and want to finish #4375 first.

[2013-10-14 17:51] bhutch opened #4500 "EC2 module: Using "wait" parameter as variable"
Hello,

There may be a bug when using the "wait" parameter as a variable with the EC2 module.

$ ansible --version
ansible 1.4 (devel b8ec300d4c) last updated 2013/10/14 11:43:46 (GMT -500)

playbook "vars" section:
wait: yes

tasks section:
local_action: ec2 keypair={{ keypair }} group_id={{ group_id }} instance_type={{ instance_type }} image={{ image }} region={{ region }} wait={{ wait }} instan

[2013-10-14 18:08] leucos commented on #4499
@bcoca  : experiencing same issue here, but I don't think this is the commit the introduced the problem. It's 8 months old . I'm running from git and had this only recently.

[2013-10-14 18:28] leucos commented on #4499
Bisected this to a45494a

[2013-10-14 19:14] darKoram opened #4501 "request better error message for leading --- : YAML syntax error"
The new error messages are great.  Here's one that gave a misleading message though:

vars/main.yml

---
# Note the space above

var1: "value"

With the errant space, the error message is as follows:
The "It may occur above" is a good message.
But perhaps some special checking for the correct first three dashes would be possible.

514 kbroughton:lynx-ansible$ ansible-playbook -i hosts site.yml --l

[2013-10-14 19:56] aeternitatus commented on #4355
I still cannot fix it.. looks like I need to debug sources somehow... what I tried just now, when I run

[code]

everything works ok:

[code]

and when I run (just add -K option):

[code]

then it stops working, with the same prompt

[code]

btw, I've noticed it does not matter which password to enter when it asks "sudo password:"

looks like adding "-K" it asks for a password to be entered, and I

[2013-10-14 19:57] mpdehaan commented on #4500
looks like booleanification needs to lowercase when it's really fed a python True

I'll look into it.

[2013-10-14 19:57] mpdehaan commented on #4501
Can you share a failing playbook with a gist so I can get the exact file?

Thanks!

[2013-10-14 20:02] bcoca commented on #4355
try:

ansible all -vvvv -s -a "apt-get update" -u vagrant

[2013-10-14 20:30] aeternitatus commented on #4355
it works, it does not work with "-K", but even without "-s" it works. well, the initial problem was that when I run my ansible playbook with

[code]

then I get `Failed to lock apt for exclusive operation`, googling I've found that this problem should be fixed adding "-K" option, so I run `ansible-playbook -K -vvvv playbook2.yaml` I stuck with `ssh connection closed waiting for sudo password promp

[2013-10-14 20:48] darKoram commented on #4501
sure!
https://gist.github.com/darKoram/6981909

[2013-10-14 20:58] bcoca commented on #4355
You are misusing the options.-K is only needed if sudo prompts for
password, which it does not in your setup.

If you add -K it will make ansible wait for a prompt.

sudo_user is the user you become AFTER login, having the same remote/login
user as sudo_user is a flag something is wrong. Remove sudo_user from your
playbook as the default (root) should be the correct one, keep user:
vagrant as that

[2013-10-14 21:29] jarv commented on #4494
I have reproduced this on ubuntu 12.04 using the sysV init script that comes with the supervisor package, ansible 1.4.
May want to consider the proposal in https://github.com/ansible/ansible/issues/4495 or allowing force-reload as a valid state option. Any preference?

[2013-10-14 21:53] jgeerds opened #4503 "ansible-pull should offer git's "--verify-signatures" option"
As of `git` v1.8.3 it is possible to verify that the commits being merged have good and trusted GPG signatures (see `--verify-signatures` / `--no-verify-signatures` switch). This feature should also be available in `ansible-pull` to work with untrusted repositories.

[2013-10-14 22:58] mpdehaan commented on #4503
Sounds great, something you would like to add a pull request for?

[2013-10-14 23:52] tgerla opened #4505 "Add a way to specify multiple separate & intersections in a single play"
Consider the following inventory:

[code]

It might be nice to target a play like this:

[code]

...but this actually only selects g21 since this host specification is equivalent to group1:group2:&both and &both applies to group1 and group2, not just group2.

A workaround is to do separate plays.

Feature idea: expand the syntax to allow this sort of "or" selection.

[2013-10-14 23:59] ariddell commented on #4253
#3862 solves this.

[2013-10-14 23:59] #4253 closed, assigned to nobody

[2013-10-15 00:14] mpdehaan commented on #4501
At least the "we could be wrong" part applied :)

[2013-10-15 00:31] mpdehaan commented on #4505
So what i think this this requesting is evaluate each seperate pattern string seperately (each one on a different line) and then OR the results of each pattern execution together?

Am I correct?

[2013-10-15 00:35] pgehres commented on #4505
Correct.

[2013-10-15 00:36] bcoca commented on #4499
ah, yes, bad paste on my side, I had both the 'commit where this line was
added' and 'bisect'. Micheal points to the correct one that introduced the
bug.

[2013-10-15 00:39] chrisberkhout commented on #3601
I love Dash. It's Mac only, but there's a clone for Linux and Windows that reads the same docset format: [Zeal](http://zealdocs.org/).

@vmalloc now has now [built an Ansible docset](http://rotemy.com/blog/posts/2012/dash-python/). It's a bit out of date (v1.2.1) and the index page should probably be populated like the contents page, but it's still helpful. Thanks!

[2013-10-15 00:39] vshkolin opened #4506 "traceback with selinux and copy module on centos5"
Ansible commit hash: b35337a629a0d93bf52372d8bf6696d7d3964694

The task:

[code]

The result:

[code]

The file was created, but security context was not set.  When I play this task again (file /etc/yum.repos.d/vsh.repo is exists on target systems, but has wrong context), the taks is executed without errors and context is set properly.  When I remove file from targed systems and comment "setype=_d

[2013-10-15 01:06] darKoram commented on #4501
whoever thought of leading with that caveat was genius

On Mon, Oct 14, 2013 at 7:14 PM, Michael DeHaan notifications@github.comwrote:

##

Kesten Broughton
512 701 4209

[2013-10-15 01:12] mpdehaan commented on #4501
that's great, cause it was me!  So I can be a genius and also wrong!  :)

[2013-10-15 05:28] ykuksenko opened #4507 "Unicode character in jinja 2 template errors out."
**Summary** Unicode character in jinja 2 template throws UnicodeEncodeError as of commit 4e9dee60937f5124a3546eb7304f89974a25ae89

**Error Message**
`UnicodeEncodeError: 'ascii' codec can't encode character u'\u25cf' in position 6087: ordinal not in range(128)`

**Note** I saw another Unicode bug it didn't seem to be the same as this one. This is my first bug report, please pardon me if I make a m

[2013-10-15 05:37] #4507 closed, assigned to nobody

[2013-10-15 08:54] candlerb opened #4511 ""service enabled=yes" is always considered "changed""
Platform: target Debian Wheezy, host Ubuntu 12.04. ansible 1.2 from rquillo precise PPA.

I use service tasks to ensure that the service is running (state=started) and to ensure that the service will auto-start when the machine next boots (enabled=yes).

I believe this ought to be idempotent, and do nothing if the service is already running and configured to auto-start. However every time the task

[2013-10-15 08:56] iivvoo commented on #4494
This is with ansible 1.2.3 on a pristine "precise32" vagrant box, ubuntu 12.04 with updates.

[2013-10-15 10:36] nicolas-g opened #4513 "authorized_key broken"
### configuration

[code]

This is working fine for other ssh users I create but is breaking for a specific user (test-user2) with the latest version of Ansible, with Ansible stable release 1.3.3 there are no problems.

I'm deploying ssh user keys file from roles/common/files/public-keys/test-user2.pub using the bellow task :
### task

[code]
### error message

[code]

[2013-10-15 11:05] aeternitatus commented on #4355
thanks a lot Brian! now I understand what is going on with options/properties. You were right, without -K, and using this playbook:

[code]

it really works. Thanks a lot!!!

[2013-10-15 11:21] nicolas-g opened #4514 "not valid DEPRECATION WARNING in template"
I keep getting this warnings for deprecated var formats that has nothing to do with Ansible vars but are part of my OS system template var :
### configuration

[code]
### task

[code]
### roles/comon/tempaltes/etc-profiled-custom.sh.j2

[code]
### warning message

[code]

[2013-10-15 12:09] mmoya commented on #2964
FTR this got fixed by PR #3116 (I was unable to find the previous ticket @mpdehaan was referring to).

[2013-10-15 12:52] jctanner opened #4515 "callback test fails on ubuntu 13.04"
<pre>jtanner@u1304:~/ansible$ make tests
PYTHONPATH=./lib nosetests -d -v
test_callback (TestCallback.TestInventory) ... /bin/sh: 1: source: not found
Traceback (most recent call last):
  File "/home/jtanner/ansible/bin/ansible-playbook", line 24, in <module>
    import ansible.playbook
ImportError: No module named ansible.playbook
FAIL
test_callback_disabled (TestCallback.TestInventory) ... /bin/

[2013-10-15 12:52] jctanner commented on #4515
Reproduced with a fresh ubuntu install.

[2013-10-15 13:15] mpdehaan commented on #4514
This happens when a template substitution can replace a $FOO variable because something is in scope.

I'll test and verify but I would think there's a chance there's an Ansible variable it is replacing.

Will look.

[2013-10-15 13:17] mpdehaan commented on #4511
Ansible 1.3 is the current version.

Please re-report this if it occurs on 1.3.X

[2013-10-15 13:17] #4511 closed, assigned to nobody

[2013-10-15 13:22] jctanner commented on #4515
This appears to be a problem with /bin/sh being a symlink to dash instead of bash in 13.04.

Workaround:

<pre>
jtanner@u1304:~/$ ls -al /bin/sh
lrwxrwxrwx 1 root root 4 Sep 17 22:12 /bin/sh -> dash
jtanner@u1304:~/e$ sudo rm /bin/sh
jtanner@u1304:~/$ sudo ln -s /bin/bash /bin/sh
</pre>

[2013-10-15 13:25] evgkrsk opened #4516 "File module doesn't handle hardlinks properly (with no state specified)"
ansible-1.3.3 (298d8d78ca92797429120138542c277e07e54421)

testplay:
- name: test

  file: path=/lib64/libnss_mdns4_minimal.so.2

ansible-playbook's error message:

msg: refusing to convert between hard and file for None

ls -lht /lib64/libnss_mdns4_minimal.so.2 on affected host:
-rw-r--r-- 4 root root 11K Jun 11 19:44 /lib64/libnss_mdns4_minimal.so.2

[2013-10-15 13:46] jimi-c commented on #4513
Does the public key have the comment at the end (typically the user@host where it was generated)? I know that's optional, but it is expected in the file format. I can fix the check if so, I just want to verify what may be causing the above.

[2013-10-15 13:57] phillipuniverse opened #4518 "Stack trace in YAML Validation Code"
From the ansible-project list, the stack trace is as follows:

[code]

The issue ended up being that I missed a ':' between a variable key and value. I assume that this can be reproduced by leaving off a colon anywhere in a variable definition (or maybe even tasks). I specifically created this  it by creating a vars section and putting:

[code]

I fixed it by instead doing:

[code]

@mpdehaan ment

[2013-10-15 14:01] nicolas-g commented on #4513
no it doesn't while other users keys that have no problems have this comment.

[2013-10-15 14:02] jimi-c commented on #4513
Ok, I'll have a patch merged into devel shortly. Thanks!

[2013-10-15 14:07] #4513 closed, assigned to jimi-c

[2013-10-15 14:07] jimi-c commented on #4513
There you go, please let us know if you continue to have problems with this. Thanks again!

[2013-10-15 14:19] mpdehaan commented on #4518
Can you please include a gist of how the file that reproduced this problem and the output of "ansible --version"

Thanks!

[2013-10-15 14:21] mpdehaan commented on #4516
Were you running this to just get the info about the file or something else?

Curious why there was no state specified, agree the message about None indicates a problem but just trying to ask the larger question.

Thanks!

[2013-10-15 14:22] mpdehaan commented on #4515
We have plans to redo the way playbook tests work in the future so I'm ok with this being what it is for now.

We should probably remove the need for it to call source in the future and pull requests to this affect would be fine.

[2013-10-15 14:22] #4515 closed, assigned to jimi-c

[2013-10-15 14:38] jch-gh commented on #4481
I would agree with @DonDaniello.  The addition/deletion of an apt repository almost certainly should imply a cache refresh by default when a repo change occurs.  I'd argue it is going to be a fairly rare situation where you would want to add or remove a repository and wind up with stale entries in your apt cache.

[2013-10-15 14:57] evgkrsk commented on #4516
Yes, I just want to be sure that file exists on target machine (actually, I need to check that some package is installed, but at a moment ansible lacks support for my package manager) and stop with error if it is not.

state is optional arg (as per http://www.ansibleworks.com/docs/modules.html#id193), state=file doesn't change anything.

[2013-10-15 15:24] jctanner commented on #3325
@y-p and @QuelleVille please paste in your "ansible all -c local -m setup" outputs per mscherer's suggestion. I am not able to reproduce this on centos 6.4 or ubuntu 13.04 running on qemu 1.2.x

[2013-10-15 15:27] mpdehaan commented on #1476
FWIW, I'm open to revisiting this.

This is a very old ticket and the scope of use in Ansible has changed significantly.

[2013-10-15 16:08] vshkolin opened #4521 "Module group_by and group_vars"
The files from group_vars directory is ignored, when grouping made via group_by module. Can you add parameter "load_group_vars: yes|no" to this module?

[2013-10-15 16:10] nicolas-g commented on #4513
I confirm it's fixed, thanks for the quick patch.

[2013-10-15 16:17] marcinpraczko opened #4522 "Module ini_file removed comments in file."
Hi,

Version: Ansible 1.3.2

I think that module ini_file is not working correctly. I've created following tasks:
- name: Copy default ini file template
  template: src=general.ini.j2 dest=/etc/managed-ansible/general.ini
- name: Add primary variable to ini file.
  ini_file:
    dest=/etc/managed-ansible/general.ini
    section=general
    option=managed_by_ansible
    value=yes
    state=present

[2013-10-15 16:20] jlaska opened #4523 "Unable to install ansible (devel) into virtualenv using pip"
This may be my lack of understanding about virtualenv+pip (and `.pth` and `.egg-link` files), but it appears that installing ansible devel into a virtualenv using pip fails to setup the environment properly.  Suggestions appreciated if I am doing something incorrectly.
## Steps to reproduce
1. Create the virtual env

[code]
1. Activate virtualenv

[code]
1. Install ansible development branch

[cod

[2013-10-15 16:28] jlaska commented on #4523
Note, changing the easy-install.pth file that pip installed as noted below makes things magically work.  However, I doubt this is the proper way to resolve this issue.

[code]

[code]

Could this be a matter of how setup.py is used, or how the ansible repository is structured?

[2013-10-15 16:34] briceburg opened #4524 "Passing an array of tags to role dependencies causes a traceback"
A non handled exception occurs when passing tags as an array to a role dependency.

I'm personally unsure if tags should be allowed to be passed in role dependency files in the first place (it seemingly can lead to an incosistent / hard to debug state)... but it does allow to pass a tag as a string. Perhaps a warning message or proper implementation would be better.

Example:

[applications/test_a

[2013-10-15 17:14] ghost commented on #3325
Thanks. I'm using other tools now and so I can't provide more info.

Please close if you believe this has been resolved.

[2013-10-15 17:33] gregbuehler opened #4526 "when clause causes syntax error if first argument is a string"
Can be reproduced using the playbook

[code]

[2013-10-15 17:39] mpdehaan commented on #4526
1.4 already warns about this, but in YAML, if you start a line with a quote it expects you are sharing a string and wants to see a matching end quote.

This is not a bug.

[2013-10-15 17:39] #4526 closed, assigned to nobody

[2013-10-15 17:40] mpdehaan commented on #4526
Example fix:

when: '"virtualbox" != ansible_virtualization_type'

Or just flip the order around

[2013-10-15 17:41] bcoca commented on #4481
I only see a case for not updating the cache: when adding multiple repos,
in which case cache_update=false is easy enough to add.

[2013-10-15 17:42] mpdehaan commented on #4523
AFAIK, this only happens when doing it via pip+git blarg and does not happen with regular pip

Solution is to just do a checkout and do "source ./hacking/env-setup"

This is also nice because it presumes no knowledge of virtualenv and doesn't require anything to be installed either.

[2013-10-15 17:42] #4523 closed, assigned to nobody

[2013-10-15 17:43] mpdehaan commented on #4521
I'm not positive they are ignored, but we shouldn't need (and don't want) a flag.

What version of ansible are you using?

ansible --version

Thanks!

[2013-10-15 17:44] mpdehaan commented on #4522
This is a known thing about the INI module.

I believe the fact that it removes comments should be documented, however.

[2013-10-15 17:53] bcoca commented on #4521
group_by specifically invalidates the host cached variables and forces
reload of all host and group_vars (at least it did at one point as I
remember creating the patch that forced it).

[2013-10-15 18:01] vshkolin commented on #4521
This problem was seen in devel branch (commit b35337a629a0d93bf52372d8bf6696d7d3964694).
I will check again.

[2013-10-15 18:11] devoncrouse opened #4527 "'when:' clause yields 'error while evaluating conditional'"
This used to work:

`when: ansible_distribution == "Amazon"`

But now yields:

`error while evaluating conditional: {% if ansible_distribution == "Amazon" %} True {% else %} False {% endif %}`

I can execute the setup plugin on the same matched host to verify ansible_distribution is present; did something change?

[2013-10-15 18:12] devoncrouse commented on #4527
Worth noting: the failures started after pulling latest from Ansible devel (though I don't know how far back I was prior to doing so).

[2013-10-15 18:28] jlaska commented on #4523
For my use case, virtualenv is a requirement.  I've worked around the issue now by doing ...

[code]

If anyone understands why virtualenv+pip+ansible.git don't play nicely together, don't hesitate to share.

[2013-10-15 18:40] briceburg opened #4528 "Variable Scoping: Dependent Role Variables (ed: may not?) take precedence when executing/activating the dependent role."
In the latest -master, variable definitions in a dependent role do not take precedence when the role is executed/activated as a dependency. I've posted a full example to a github repository here:
  https://github.com/briceburg/ansible-variable-scoping

Overview: The test_app role depends on the test_service role. A variable named shared_var exists between the two roles. When executing the playbook

[2013-10-15 19:08] #3325 closed, assigned to jctanner

[2013-10-15 19:14] bcoca commented on #4499
pulled and confirmed it works now

[2013-10-15 19:14] #4499 closed, assigned to nobody

[2013-10-15 19:21] leucos commented on #4499
Works here too. Thanks @bcoca !

[2013-10-15 19:43] devoncrouse commented on #4527
This was due to gather_facts: false.

[2013-10-15 19:43] #4527 closed, assigned to nobody

[2013-10-15 20:56] zupo opened #4531 "Ansible lineinfile duplicates line"
I have a simple file at /etc/foo.txt. The file contains the following:

[code]

I have the following ansible playbook task to uncomment the line above:

[code]

When I first run ansible-playbook, the line gets uncommented and the /etc/foo.txt now contains the following:

[code]

However, if I run ansible-playbook again, I get the following:

[code]

If I run it yet again, then the /etc/foo.txt fil

[2013-10-15 20:57] jctanner commented on #4239
@fgtham I can not reproduce this with 1.3.2 or latest devel, which might be me overlooking something or not understanding your description. If you could attach/comment an updated reproducer script, i'll take another stab at it.

[2013-10-15 20:58] mpdehaan commented on #4531
The above code says "add a line who'se value is bar unless there is a line which is commented out that has a bar.

I think you mean instead:

[code]

can you confirm what your intent is with that part?

Thanks!

[2013-10-15 21:03] zupo commented on #4531
@mpdehaan snippet produces the following output:

[code]

Which is (in a sense) even better than replacing the commented line, as you keep the original line there. In that light I'm closing the issue.

Documentation for the module could be improved though, with more careful wording about how one should "read" the command.

Tnx for the help!

[2013-10-15 21:03] #4531 closed, assigned to nobody

[2013-10-15 21:17] thaumos opened #4532 "easy_install throwing an AttributeError on latest devel"
https://gist.github.com/thaumos/6998744 is the gist of the error.

Attempting to install the following in a playbook

easy_install: name=$item
  with_items:
     - pip
     - python-keyczar

[2013-10-15 21:23] ChadScott commented on #4532
After some experimentation, I see that revision 3c33273071474d1382da95642cc96b8a7579aec9 is the last that works properly on library/packaging/easy_install.

[2013-10-15 21:28] jctanner commented on #4532
Taking a look now.

[2013-10-15 21:59] jctanner commented on #4532
Looks like this is caused by a parameter "executable" default of None. I'm sorting out why the virtualenv code works this way and if a quick fix can be put in place without breaking the virtualenv code.

[2013-10-15 22:15] #4532 closed, assigned to jctanner

[2013-10-15 22:45] senorsmile commented on #2685
This issue seems to be back in 1.3.3:
- name: setup networking
  file: src=./etc.network.interfaces dest=/etc/network/interfaces owner=root group=root mode=0644
  register: networking_changed
- name: restart networking
  service: name=network state=restarted args={{ item }}
  - eth0
  - eth1

  when_changed: $networking_changed

##Conditional expression must evaluate to True or False: is_changed($

[2013-10-15 22:49] senorsmile commented on #2685
Never mind, the syntax seems to have changed.  This works:
- name: setup networking
  file: src=./etc.network.interfaces dest=/etc/network/interfaces owner=root group=root mode=0644
  register: setupnetwork
- name: restart networking
  service: name=network state=restarted args={{ item }}
  - eth0
  - eth1

  when: setupnetwork.changed

[2013-10-16 00:38] SegFaultAX opened #4533 "Support user-local installations (--user in pip/easy_install)"
The ansible package currently in pypi is hard-wired to install into /usr/share/ansible which doesn't work if a user is trying to do a user-local install. It's generally considered a Best Practice :tm: to not modify the system installation of Python, and thus avoid `sudo pip install ...` at all costs.

I'd like to discuss the possibility of removing the hard requirement of installing system-wide an

[2013-10-16 00:41] mpdehaan commented on #4533
Been asked for a lot, I'd ask you to think ansible more as an application and and not just an application you happen to know is Python.

Patches would be entertained though, though if you install this way you also would want to set up an ansible.cfg.

If it installed the libraries in the right place conditionally, and set up an ansible.cfg conditionally, I'd consider this.

All being said, I'm not

[2013-10-16 00:41] #4533 closed, assigned to nobody

[2013-10-16 00:42] mpdehaan commented on #4528
Will investigate to see if this is a thing or as designed, etc.

Right now, a lot to sort through so will require some reading.

[2013-10-16 01:33] mpdehaan commented on #4291
Can you upload this as gist or repo so it's not mangled by the github formatter?

[2013-10-16 02:15] briceburg commented on #4528
Michael,

Thank you very much for looking into this. It was a major showstopper for us today.

I've updated the README to try & clarify the issue w/ a TL;DR section. Re-posting here as reference:
1. The applications/test_app role depends on the services/test_service role
   -  https://github.com/briceburg/ansible-variable-scoping/blob/master/applications/test_app/meta/main.yml
2. Each role provide

[2013-10-16 03:36] jctanner commented on #4241
@nicolas-g I ran some tests against mysqld on rhel5 and mostly fought with creating the right grants to allow my user to access the server from the public IP. However, when the grants were wrong, I saw the same error you posted in your initial description. I would say that only a few things could possibly be wrong:

Invalid IP/hostname
Invalid credentials
Insufficient grants
Invalid variable subst

[2013-10-16 03:36] #4241 closed, assigned to jctanner

[2013-10-16 04:41] mpdehaan commented on #4528
Can this be reduced to a minimal example?

I'm expecting this could be done with two roles and one variable?

I'm seeing a whole "services/" directory outside roles and I'm not really sure what the intent is here with all of that.

application and test and so on.

I would think this could be reproduced with about 15 lines of playbook and all the parts I don't need to see could be cut?

All the var

[2013-10-16 04:47] mpdehaan commented on #4521
Not sure if the comment @bcoca made is related to the original question, FWIW :)

[2013-10-16 04:55] mpdehaan commented on #4528
For reference:

[code]

These come last and will win.

Given this part of the role, this is not enough to show a dependency problem, but is rather this last statement stomping on the role (open to minimal posts that can show a dependency problem).

Role variables being used in the role -- that protection -- only protects the role from other roles.

[2013-10-16 04:55] #4528 closed, assigned to jimi-c

[2013-10-16 06:45] jurgenhaas commented on #4291
Here (https://gist.github.com/jurgenhaas/7003535) is the gist and attached is a screenshot with the directory structure for those 3 files.
![auswahl_001](https://f.cloud.github.com/assets/1475675/1340393/8427d92c-362e-11e3-8faf-5b769a736f48.jpg)

[2013-10-16 06:47] phillipuniverse commented on #4518
Specific use case:
1. Playbook includes role
2. Role has a defaults/main.yml
3. defaults/main.yml has invalid YAML

playbook.yml:

[code]

roles/some_role/defaults/main.yml

[code]

Execute with:

[code]

The above example should produce the stack trace. Hopefully that's enough information.

[2013-10-16 06:49] jurgenhaas opened #4535 "Problem with absolute path for inventory_dir"
As reported in https://github.com/ansible/ansible/issues/4291 there is still that problem when the "-i ../path/to/inventory/hosts" command line parameter is a relative path.

To reproduce this, please use the files from https://github.com/ansible/ansible/issues/4291 and put them into a directory structure shown in the attached screen shot.
![auswahl_001](https://f.cloud.github.com/assets/1475675/1

[2013-10-16 08:00] jgeerds commented on #4503
I have already investigated the source code but it seems to be quite hard to implement. We need to extend ansible's git module. The `--verify-signatures` option provided by git is a merge option and therefore only available for e.g. `merge` or `pull`. In other words, we need a local "not-up-to-date"-branch which we can use for the merge. It looks like ansible's git module doesn't use local branche

[2013-10-16 09:14] mmoya opened #4536 "Playbook's user not being honored"
Trivial playbook:

[code]

with 1.3.3 both implicit `setup` and `command` tasks are run as _root_. With devel (afa781d6 at this moment) the implicit `setup` task is run as _root_ and the `command` task is run as the current user.

[2013-10-16 11:26] marcinpraczko commented on #4522
Thank you for reply.

From my point of view this issue sould be counted as bug - not only lack of documentation. In this case there is no way to attach even simple comment to ini file like: # {{ansible_manage}}. So there is no track on file that file is managed by ansible.

I think ini_file module is really nice module and brings value to project especially when content by ini file must be modifie

[2013-10-16 13:02] mpdehaan commented on #4536
This seems quite suspicious as if true, the world would be raining fire on me right now.

Please share the arguments and command line you are using to run this playbook as well as the entire contents of your inventory variables in the INI file or host_vars and group_vars for hosts in somelist where you are experiencing the error, as well as the output of running this with -v -v -v.

Thanks!

[2013-10-16 13:07] #4438 closed, assigned to nobody

[2013-10-16 13:51] #4301 closed, assigned to nobody

[2013-10-16 14:08] jctanner opened #4540 "all ec2 modules should enumerate credentials consistently"

[2013-10-16 14:31] jctanner commented on #4301
https://github.com/ansible/ansible/commit/807e60222822fc61dbe7ea573dbb5adb1ee3e76c

[2013-10-16 14:40] bcoca commented on #4521
I just made the comment to establish how it is supposed to (and did) work
at one point and that it should not need the additional parameter unless we
have a case for NOT loading them on purpose.

[2013-10-16 15:06] jctanner commented on #4079
@resmo can you make a pull request for https://github.com/resmo/ansible/commit/ba561dbefd4d8e89d4d75eee8d641703185cc64d ?

[2013-10-16 16:39] sperantus commented on #4438
That was fast - thank you!

[2013-10-16 16:51] briceburg commented on #4528
Assuming the issue had to do with the vars_files was wrong. I've gone ahead and simplified the example as requested; and indeed this is a variable scoping issue contrary to the documentation!

Please see:

https://github.com/briceburg/ansible-variable-scoping/tree/master/simple

I apologize for including all the framework code I've been working on in the initial bug report.

Please note that we ha

[2013-10-16 17:16] lorin opened #4542 "Warning about unnecessary {{ doesn't specify file"
Ran a playbook and got a warning:

[code]

It would help if Ansible outputted the name of the file that contained the extraneous `{{`.

[2013-10-16 19:06] briceburg opened #4545 "Variable Scoping: The active role variables do not take precedence when activated as a dependency"
Example code has been simplified to clearly demonstrate the variable scoping issue that occurs when a dependent role is activated.

This is a duplicate of issue #4528  -  which I've added after reading advice from: https://groups.google.com/forum/#!msg/ansible-project/BPnZPe_Ixhg/aDU9dkvrUjcJ

The scoping issue is a major showstopper for us; and I'd like to at least get confirmation that this is a

[2013-10-16 19:13] claco opened #4546 "Support passing extra variables to template module"
When passing a tasks output through register to consume it inside of templates, it would be nice to be able to abstract the templates themselves from module output changes or even just really complex dict structures.

For example:

[code]

Then in templates:

[code]

This isn't terrible unless the rax module output changes (it's getting refactored now), or we dive into a deeper structure.

It woul

[2013-10-16 19:18] mpdehaan commented on #4542
Yes, it's a little tricky as we don't have the context in the code there easily, but I agree.

We would have to record the YAML line number somehow as we are parsing the file.

I don't think this will be easily solveable in the way it is currently implemented, but could be done by pre-processing the file instead, which is what I think we should do.

Eventually... not the top priority for now.  If

[2013-10-16 19:25] jimi-c commented on #4545
What you're seeing is expected behavior. Since the variable you're using is defined in both roles, it is scoped locally to that role so it sees a consistent snapshot of its own variables without having to worry about another role overriding its variables in the global scope. If you want the dependent role `test_service` to have its variables overridden, you should move them to `defaults/main.yml`.

[2013-10-16 19:30] mmoya commented on #4536
I don't have any `{host,group}_vars` neither `~/.ansible.cfg` nor `/etc/ansible.cfg`. See http://pastebin.com/p2U8eHei.

I just bisected the code, the culprit is 4cee6a54. Bisection log in http://pastebin.com/qtuGdmkb.

Agree with the fire rain :)

[2013-10-16 19:34] mpdehaan commented on #4546
There's a reason this isn't.

The main reason is that the template module passes any arguments it doesn't understand to the file module to arrange file attributes.

If reusing templates multiple times, I would highly suggest using parameterized roles, because that allows defining different variables for different invocations, and was done for this purpose.

Ansible's way is not to pass variables d

[2013-10-16 19:34] #4546 closed, assigned to nobody

[2013-10-16 19:45] briceburg commented on #4545
@jimi-c Thanks for looking -- although I'm still quite confused. According to a post by michael,

"... within a role, the variables in roles/y/vars/main.yml are guaranteed to be applied to that specific role, just as if they were parameters explicitly passed to the role." ( https://groups.google.com/d/msg/ansible-project/0JIrNlnRXuI/tx1-inKYoUQJ )

As such; when the test_service role is executing

[2013-10-16 19:52] jctanner commented on #4302
@darKoram I verified that @jimi-c's suggestion works for your testcase. If it still doesn't work for you, please file a new bug with a detailed description of what you are trying to accomplish.

[2013-10-16 19:52] #4302 closed, assigned to jctanner

[2013-10-16 20:13] claco commented on #4546
Well, this is record. I went from "open a PR..should be easy" in #ansible to closed in 60 minutes.

So, given that a task stuffs the output of itself (such as ec2 or rax)  into variables using register, and this is compounded if you use with_sequence, this is what is dropped into that variable:

[code]

Is it really reasonable to be navigating this mess in templates, just to get ip address, or a s

[2013-10-16 20:29] jimi-c commented on #4545
@briceburg re-reading this, I think I misunderstood the issue. I saw the EXPECT lines and thought things were working. I'll re-open this and take a look into it.

[2013-10-16 21:31] carterventures opened #4549 "Lookup and with_items produces an empty "item""
Using the "with_items" keyword with a list variable and a lookup appears to produce empty values in Ansible 1.3.2, Python 2.7.5 (Homebrew), Mac OSX 10.8.5.  Given the following filesystem layout:
## looptest.yml

[code]
## roles/looptest/tasks/main.yml

[code]
## roles/filerole/files/item1.txt

[code]

This produces the following output using the command _ansible-playbook looptest.yml -i "127.0.0.

[2013-10-16 21:55] WramblinWreck opened #4550 "When conditional doesn't work correctly when filtering through default"
I'm seeing strange behavior for a "when" expression when using the default() jinja filter.  Here's a test I created to illustrate the issue:

https://gist.github.com/RackerJohnMadrid/7015529

When I run the above playbook with:
ansible-playbook -i local test.yml -vvv -e foo=false

I would expect that both tasks would be skipped.  Instead the first task prints "false is the value".  If I put the fo

[2013-10-16 22:25] ninetythirty opened #4551 "with_fileglob returns full path"
The with_fileglob plugin incorrectly adds the full path to {{ item }}.

Playbook:
- name: Static libraries exist
  copy: src={{ item }} dest=/usr/local/lib/app/{{ item }}
  with_fileglob:
  - lib/app/*.a

Output:

failed: [X.X.X.X] => (item=/path/to/roles/role/files/lib/app/match_timediff.a) => {"failed": true, "item": "/path/to/roles/role/files/lib/app/match_timediff.a"}
msg: Destination director

[2013-10-16 22:58] mpdehaan commented on #4551
I'm not sure this is undesirable, because you can do {{ item | filename }} and get the filename part but may actually want the full path in many cases.

I am going to close this given the above solution exists.

[2013-10-16 22:58] #4551 closed, assigned to nobody

[2013-10-16 23:00] mpdehaan commented on #4549
In queue to see if we can reproduce this.

[2013-10-16 23:03] mpdehaan commented on #4550
pasting from above:

[code]

[2013-10-16 23:05] mpdehaan commented on #4550
First off, you did not specify what version of ansible you are using.   I'm assuming 1.3.X?

What has happened here though is you've passed in "string false"

You could pass in "-e" as JSON to force the boolean.

I'm confused about what you are trying to do with the |default though.

I would have just done this:

[code]

And that will cast it for sure.

You can also make sure variables are loaded

[2013-10-16 23:05] #4550 closed, assigned to nobody

[2013-10-16 23:06] mpdehaan commented on #4550
update: Fixed  formatting

[2013-10-17 00:09] #4350 closed, assigned to jctanner

[2013-10-17 00:12] mpdehaan commented on #4460
Closing this due to lack of feedback, please let me know by email if you are still having problems and we can investigate.

[2013-10-17 00:12] #4460 closed, assigned to nobody

[2013-10-17 03:17] EvanDotPro commented on #2626
Well, I finally revisited this, and was unable to reproduce, plus we ended up upgrading to Postgres 9.x, so it's a non-issue now. If I ever do come across it again, I'll try to collect more information up front to be a little more helpful. :smile:

[2013-10-17 03:18] EvanDotPro commented on #2067
@jyap808 Beat me to it, thanks!

[2013-10-17 03:42] DSpeichert commented on #4481
I don't know if that is technically possible to code in a module right now but adding to what @bcoca said, it would be nice to have apt_repository automatically detect consecutive additions/deletions using apt_repository module and invoke one update at the end of the series.

[2013-10-17 10:32] jeromew opened #4554 "devel: bug on user module with createhome enforcement"
Hello,

after commit https://github.com/ansible/ansible/commit/23cbdba65e0f7e8cfd93be8e736244a2b1bec506
a new bug appeared on the user module

when home creation relies on the "default" homedir (/root, or /home/user) and user.home is not defined, ansible breaks.

fatal: [IP] => failed to parse: Traceback (most recent call last):
  File "/home/xx/.ansible/tmp/ansible-1382005747.2-31396738490267/use

[2013-10-17 10:37] mmoya commented on #4536
The following patch makes the playbook pass:

[code]

I'm not claiming at all this is a fix because I haven't explored the semantics behind `play.playbook.remote_user` vs. `play.remote_user` but it might give you a hint about where to look.

[2013-10-17 10:47] gwillem opened #4555 "Lookup 'template' with roles searches in <role>/files instead of <role>/templates"
(ansible 1.3.3)

[code]

yields

[code]

[2013-10-17 12:18] mpdehaan commented on #4555
This is not a bug, but is in fact intended for lookup plugins.

Hardly anyone uses the template lookup plugin -- it's actually not even documented, so I'm not particularly concerned.

You can "../templates" to get where you want to go.

[2013-10-17 12:18] #4555 closed, assigned to nobody

[2013-10-17 12:45] ghost opened #4556 "Problem with authorized_keys and key_options"
Hello,

I am trying to prepend the following string to a key

[code]

So that this variable gets injected in the remote host.
However the double quotes are stripped from the string and the result is

[code]

Am I doing something wrong?

[2013-10-17 13:01] Kami opened #4558 ""template" and "file" directives don't change task's "changed" attribute on file ownership change"
## Environment details

Ansible version: HEAD (ansible-playbook 1.4 (devel 807e602228) last updated 2013/10/16 16:10:25 (GMT +200))
Python version: 2.7.3
Local and target OS: Ubuntu 12.04 x64
## Problem description

Currently, if a file user or group ownership is changed as a result of the `owner` or `group` attribute specified in the `template` or `file` directive, tasks `changed` attribute doesn

[2013-10-17 14:27] mpdehaan commented on #4558
It's a bug!

I believe @jctanner (jtanner) is looking at this one currently, might want to coordinate with him on IRC.

Thanks!

[2013-10-17 14:46] jimi-c commented on #4556
This is due to the way the arguments are parsed from the YAML file (which is done through the python shlex module). To get this to work properly, just escape the quotes:

<pre>
key_options='environment=\"KEYOWNER={{item}}\"'
</pre>

[2013-10-17 15:13] jimi-c commented on #4556
Going to go ahead and close this issue, let us know if you have any other issues regarding this module. Thanks!

[2013-10-17 15:13] #4556 closed, assigned to nobody

[2013-10-17 15:34] dmac opened #4561 "--start-at-task does not work for tasks defined in roles"
Simple test case:

[code]

[code]

[code]

[2013-10-17 15:42] dmac opened #4563 "host module does not work when only aliases have changed"
[code]

[code]

I would expect this playbook to ensure that the line:

[code]

is present in /etc/hosts, but in this example the file remains unchanged.

[2013-10-17 16:31] maxamillion commented on #4177
I'm almost positive at this point this isn't an ansible issue, I think there's  Fedora bug I need to track down and file but in all my effort to collect information pointing to ansible I'm coming up with nothing. I'm relatively sure that ansible is just making some Fedora bug visible. Closing.

[2013-10-17 16:31] #4177 closed, assigned to nobody

[2013-10-17 16:48] candlerb opened #4565 "Debian distribution release reported as "NA""
Using ansible 1.3.3, running `ansible -m setup <host> | grep distribution` against a Debian server.

[code]

I think the distribution_release should report as "wheezy". This information is available if you login to the target system:

[code]

The underlying problem seems to be with the python platform library:

[code]

For comparison, if I point ansible -m setup at an Ubuntu 12.04 host, I get:

[c

[2013-10-17 17:05] markabey opened #4566 "Fetch module dest= relative path when using roles"
When fetching a file from a remote server, and specifying dest= to be a relative path, I would expect other modules to find it with the same relative path.

When using a role with fetch, it places a relative path to the playbook, yet other modules choose a relative path to the role files/ directory when looking for it..

My use case is collecting ssh pub keys from a remote server, and then adding

[2013-10-17 17:14] ghost opened #4567 "Solaris interface(nxge2:4) KeyError: 'nxge2:4'"
Hey,

We are getting the below when gathering facts:

ansible-playbook -i ./hosts ./blah.yml -vvvvv

PLAY [all] ********************************************************************

GATHERING FACTS ***************************************************************
<ndcpeh581> ESTABLISH CONNECTION FOR USER: root on PORT 22 TO ndcpeh581
<ndcpeh582> ESTABLISH CONNECTION FOR USER: root on PORT 22 TO ndcp

[2013-10-17 17:16] #4554 closed, assigned to jctanner

[2013-10-17 17:17] jctanner commented on #4554
@jeromew thanks for the report. The committed fix was tested against the following playbook ...

<pre>
- hosts: el6.lab.net
  gather_facts: False
  tasks:
    - shell: userdel bob
    - group: name=bob state=present
    - name: create user + homedir
      user: name=bob group=bob state=present system=yes createhome=yes
    - file: path=/home/bob state=absent
    - name: create user + homedir

[2013-10-17 17:24] mpdehaan commented on #4561
This is because the task names are prefixed with the role name.

We need to change the way we search for matching task names to start on.

and possibly raise an error if there was no fuzzy match too

[2013-10-17 17:25] mpdehaan commented on #4565
You seem quite capable with python, would you like to perhaps submit a pull request to fix this?

Just giving the opportunity, otherwise we can take care of it.

[2013-10-17 17:28] mpdehaan commented on #4566
Not enough information is supplied here.

Please supply your playbook and the output as you see it running, as well as the output of "ansible --version"

Thanks!

(I do not yet have enough info to tell if this should be a bug or not)

[2013-10-17 18:16] ghost commented on #4567
Not sure whats going on, but it just worked and when I re-ran it failed.

PLAY [all] ********************************************************************

GATHERING FACTS ***************************************************************
<ndcpeh581> ESTABLISH CONNECTION FOR USER: root on PORT 22 TO ndcpeh581
<bep26> ESTABLISH CONNECTION FOR USER: root on PORT 22 TO bep26
<ndcpeh581> EXEC /bin/sh -c '

[2013-10-17 19:18] jctanner commented on #4363
@eggsby I'm closing this since it looks like your merged PR #4278 solves this issue. Please correct me if I misunderstood.

[2013-10-17 19:18] #4363 closed, assigned to nobody

[2013-10-17 19:44] #4402 closed, assigned to jctanner

[2013-10-17 19:50] drybjed commented on #4467
Issue has been resolved in recent version. Thanks!

[2013-10-17 19:50] #4467 closed, assigned to nobody

[2013-10-17 20:13] candlerb commented on #4565
I guess there's no point trying to work out why platform.dist() on Debian does't return a release name, and get that fixed upstream, as it isn't going to help manage systems which are already out there.

I did discover after posting this issue that the facts include "ansible_lsb" and the codename is within that:

[code]

So for my purposes I can just use ansible_lsb.codename.

Perhaps a workaround

[2013-10-17 20:17] ghost commented on #4567
FIX:

[code]

[2013-10-17 20:17] mpdehaan commented on #4565
Yeah, we can't rely on the LSB facts because the lsb tools are not always
installed on all platforms.

The logical thing to do here is make the LSB function return None or
something when there are no facts, and if it got any, to override that
single value.

But we would want to make extra sure it didn't change any other values or
even break casing of existing values.

On Thu, Oct 17, 2013 at 4:13

[2013-10-17 20:29] mpdehaan commented on #4567
Sure, as discussed on IRC, send a pull request along?

On Thu, Oct 17, 2013 at 4:17 PM, John Stanton notifications@github.comwrote:

[2013-10-17 20:43] jctanner commented on #4418
@AKurilin I am not able to reproduce with the following playbook:

<pre>
- hosts: localhost
  #connection: local
  gather_facts: False
  vars:
    - pname: libcurl3
    - oldver: 7.29.0-1ubuntu3
    - newver: 7.29.0-1ubuntu3.2
  tasks:
    - shell: apt-cache madison {{ pname }}
      register: versions
    - debug: var=versions
    - name: remove package
      apt: pkg={{ pname }} state=absent upd

[2013-10-17 20:49] jctanner commented on #4418
I'm going to go ahead and close this now. Please open a new bug if you see a task with changed=True and color=Green.

[2013-10-17 20:49] #4418 closed, assigned to nobody

[2013-10-17 20:53] drybjed opened #4569 "Deprecation warning is triggered by ^mysql\$ string in template"
String was found in [/etc/default/automysqlbackup configuration](https://github.com/drybjed/ansible-aiua/blob/master/playbooks/roles/mysql/templates/etc/default/automysqlbackup.j2#L25).

[2013-10-17 21:16] gregkare opened #4572 "Until loop doesn't work as expected with actions that fail"
I was trying to use the `uri` module with a `until` to wait for a web application to be really up (the port responds but it takes a while for the API to be usable, so I can't rely on `wait_for`). It took me a while to realize this issue was happening because I set a delay on my `wait_for`, so sometimes the API was responding. I want to avoid using delays and just retry until the API is available.

[2013-10-17 23:09] mpdehaan commented on #4572
Yep, I agree this is goofy.

Until it's the last iteration any errors should be swallowed.

The last one should matter unless ignore_errors is set.

[2013-10-17 23:19] dckc opened #4574 "TypeError: connect() takes at most 3 arguments (7 given) when creating a user"
What I did:
1. Installed Ansible from git:
   $ ansible --version
   ansible 1.4 (devel 242f20c297) last updated 2013/10/17 18:08:02 (GMT -500)

on an Ubuntu 12.04 machine
1. Created a simple playbook to create a user
   https://gist.github.com/dckc/7033952
2. $ ansible-playbook -i ../ssh_mgmt/ssh_hosts jenkins_acct.yml

Expected: a jenkins account on bmidev2
Actual:

[code]

[2013-10-17 23:20] lfrancke opened #4575 "remove in docs where it says there might be some other variables"
The documentation about [Variables](http://www.ansibleworks.com/docs/playbooks_variables.html#magic-variables-and-how-to-access-information-about-other-hosts) has a sentence suggesting that there might be some undocumented Magic variables:

To me that sounds like there are more _magic_ variables than mentioned in the documentation. If others feel similar it'd be great to clear this paragraph by ex

[2013-10-17 23:28] lfrancke commented on #4392
+1 `role_names` would be perfect for the exact reasons mentioned.

[2013-10-17 23:54] dckc commented on #4574
once more, with feeling...

[code]

[2013-10-18 00:11] mscherer commented on #4506
Could you edit the issue to have proper formatting for the python traceback ?

[2013-10-18 00:16] vshkolin commented on #4506
I am novice in python and github. Can you help me with formating? What and where must be changed?

[2013-10-18 00:19] dckc commented on #4574
Problem went away with a clean check-out. Wierd.

[2013-10-18 00:19] #4574 closed, assigned to nobody

[2013-10-18 00:50] briceburg commented on #4545
@jimi-c Please let me know if my example is clear. I very much appreciate your feedback.

[edit]
Today I spent a long time experimenting with scoping and believe to have uncovered another issue. Using default/main.yml vs. vars/main.yml works as I would originally expect; meaning the roles that get called in by the dependency mechanism have their variable definitions take precedence when active. If

[2013-10-18 01:10] sivel opened #4577 "Refactor rax module"
Just to hold the place...I'm working on this currently, but wanted to get this out there so people know it is happening.  I'd assign it to myself, but it doesn't look like I can do so.

Things that should change in the `rax` module:
1. Deprecate the `service` attribute
2. Provide more information about the instance; pyrax provides a lot, the rax module exposes few
3. Handle `active` vs `present`,

[2013-10-18 01:17] omgjlk commented on #4577
present is currently idempotent, but it's based on a lot of specific details of the instance, which gets odd when you throw count into the mix.

Waiting on IP does seem dangerous.

Everything else sounds awesome! What, if anything needs to be done to operate more like nova_compute ?

[2013-10-18 01:17] claco commented on #4577
Just something for the refactor I noticed this morning. If I spin up an instance without meta: group:, then I just add the meta: group: (but we have the same name, other settings, etc), it spins up a second instance. That was unexpected.

[2013-10-18 01:20] omgjlk commented on #4577
Yeah, that's the odd bit of idempotence I went with. The group is different, so the instance is different, thus spin up a new one. It's probably not the best, but it was to match an internal tool we had.

I'm fine with other ways of achieving idempotence.

[2013-10-18 01:21] mpdehaan commented on #4577
So with regard to count, here's where we are going with the other cloud modules.

We want to make it able to not just spin up "count=N", but also be able to set the count to N.

This probably requires a flag or setting to control how count behaves, but seems optimal for treating cloud like cloud.

I'd propose exact_count=yes|no

?

Just throwing that out there.

[2013-10-18 01:22] mpdehaan commented on #4577
I also noticed there's seemingly no groups based on anything like tag.

Are tags exposable in the API?   Would be nice to have similar capabilities for grouping.

[2013-10-18 01:24] mpdehaan commented on #4545
These examples might be easier to skim on the web if you update the comments to say "expected 1234, got 5678"

[2013-10-18 01:32] mpdehaan commented on #4577
Random thoughts, some aspects my be _wrong_ and I'm willing to have them discounted as you know more about these things :)

I would also like it if the inventory script could return flags on whether the instances were running or not , if not already.

But as I understand it reboot is exposed and not shutdown via the RAX API?  That's hearsay though, so perhaps not correct.

"Allow easy specificatio

[2013-10-18 01:36] sivel commented on #4577
In OpenStack/Rackspace they are called 'meta', and provide key/value pairs that are stored with the instance.  This is I believe what AWS calls tags.

We already look for a 'group' meta key with the rax.py inventory script, I will also use this key for grouping capability.

I'll look into `exact_count`, I was looking at the ec2 code for doing this and it appeared it is just doing this regardless,

[2013-10-18 01:37] claco commented on #4577
I'm waaaay to fresh in Ansible, so this may be a silly request. But can the output of the rax module match all the things inventory can return? The details returned now on a created instance are pretty slim.

[2013-10-18 01:37] mpdehaan commented on #4536
I'm not sure there's a problem, but this in queue to see if anyone can even reproduce this.

I'm still skeptical, again, given the world would be raining fire on me right now were this true.

[2013-10-18 01:38] mpdehaan commented on #4567
Seeing there is a pull request about this I am going to close the ticket as the PR is also a ticket

[2013-10-18 01:38] #4567 closed, assigned to nobody

[2013-10-18 01:41] sivel commented on #4577
@claco, yes.  That is (2) on my initial list, but I will check on inventory/module info parity.

[2013-10-18 01:42] claco commented on #4577
@sivel :+1: \* 100

[2013-10-18 01:46] akurilin commented on #4418
I've exercised this scenario again recently with a different package and didn't repro this issue either. I'll keep an open eye for it in the future.

[2013-10-18 02:51] jsmartin opened #4578 "SmartOS IP address fact"
On SmartOS, in contrast with the other OS's, it appears that the IP address object is an actual list of IPs.  Is that to be expected?

for example, in a smartos, I have to address it like this:

[code]

where on linux

[code]

will suffice.

[2013-10-18 03:03] briceburg commented on #4545
@mpdehaan I've made the change I believe you requested and feel that things are now absolutely distilled to their minimum. If you require another change; please provide an example of what you'd like to see.

The repository has two scoping examples. One shows an issue when using vars/main.yml , the other when using defaults/main.yml .

These are:

https://github.com/briceburg/ansible-variable-scopi

[2013-10-18 04:18] angstwad commented on #4577
@mpdehaan

So, shutdown is not exposed via the API, but instances can be shutdown from the OS; the status remains available via the API.

On the topic of my pull request #4326, this status is exposed as a field.  So for this I shut down my instance from within the OS, which OpenStack does pick up and report.  Every available field from within the API, @j2sol had prepended with rax_ and embedded.

[2013-10-18 08:05] thomasvnoort opened #4579 "Testing definedness of variables does not work for undefined variables in when conditions"
I'm running into some strange behaviour when checking for definedness of variables and using these in the when-conditions of tasks.

I'm running ansible 1.4 from the devel branch (that is, commit b0f6e77f66f77cc3765f3f084d9a9b19a041b815).

Please consider the following playbook:

[code]

The output is as follows:

[code]

Strangely, none of the two debug messages for `b` fire, even though `check_b

[2013-10-18 08:51] mscherer commented on #4506
Just use the icon of the pen, just in the titlebar, and look at https://help.github.com/articles/github-flavored-markdown for the syntax to use for the formatting.

[2013-10-18 09:25] mscherer commented on #4569
Could you post a reproducer ( ie, a ansible playbook, if needed, the platform where this happen, etc ) ?

[2013-10-18 10:13] leucos opened #4580 "Weird behaviour with expansion"
I'm creating a playbook that :
- fetches directories sizes on a remote server
- sums the sizes
- writes the server name and the total size in a local file

I'm stumbling on a weird problem : everything is fine at the first run, but expansion doesn't happen on the second and subsequent runs (i.e. when the host information is already in the local file).

Here is the playbook :

[code]

When this pla

[2013-10-18 11:48] drybjed commented on #4569
It was on Ubuntu 13.04, deployed system was Debian Wheezy. [Example playbook](https://github.com/drybjed/ansible-tests).

[2013-10-18 13:09] mpdehaan commented on #4578
probably not.

As you have a SmartOS around, would you like to help standardize them?

[2013-10-18 13:13] mpdehaan commented on #4579
I have a RFE open to keep the types of variables in place when being evaluated, that may help here.

I would suggest not establishing the conditional in the variable for now.

I suspect the value is string "True", not True, and that's what is happening there.

[2013-10-18 13:14] mpdehaan commented on #4580
There is nothing in ansible that is saving this result.

I'm afraid you are going to have to do some debugging on your end as there isn't enough information here to tell what may be going on.

I suspect you have fact gathering disabled on subsequent runs.

[2013-10-18 13:14] #4580 closed, assigned to nobody

[2013-10-18 13:21] jctanner commented on #4461
Duplicate of #4560

[2013-10-18 13:21] #4461 closed, assigned to nobody

[2013-10-18 13:26] leucos commented on #4580
`ansible-playbook` commands are executed back to back. Just to be confident, I duplicated the playbook content so it becomes :

[code]

Which gives the same result :

[code]

[2013-10-18 13:36] srgvg opened #4582 "avoid warning about '{{' in loops when combined with a string"
I have some loops that take a combined string + variable, not just a variable.
In this case, AFAIK, i'ts needed to use the {{ var notation, yet I still get

[WARNING]: It is uneccessary to use '{{' in loops, leave variables in loop
expressions bare.

e.g.:

with_fileglob: files/ssh_keys/{{ app }}/*
with_items: tomcat_libs.{{ tomcat_version }}

I don't see any alternative to write this without '{{'

[2013-10-18 13:37] mpdehaan commented on #3921
should be done now, so closing

[2013-10-18 13:37] #3921 closed, assigned to nobody

[2013-10-18 13:59] jctanner commented on #4394
@lufik I am not able to reproduce this on 1.3.2 or devel ...

<pre>
jtanner@u1304:~/issues/4394-inventory-file$ ansible-playbook site.yml --list-hosts --limit db -i inventory
playbook: site.yml
  play #1 (all): host count=1
    db01.domain.local
</pre>

Could you try removing the "--limit" flag and testing if the inventory is populated the way you expect?

[2013-10-18 14:35] joemaller commented on #4531
I answered this on [SO](http://stackoverflow.com/questions/19390600), but I thought it was worth addressing here too. It's not a bug.

To uncomment the line the task's regex needs to match both the commented _and_ uncommented line. Since it didn't match the uncommented line, the task assumed it wasn't there and added the line. Changing the regex to `regexp='^#?bar'` matches both states, replacing

[2013-10-18 15:13] ghost opened #4583 "Solaris prtdiag hangs during gather facts"
This seems to be a known issue with solaris 10. way to fix is to restart picl before running prtdiag.

Could add something like the below to setup:
    def get_virtual_facts(self):
        module.run_command("svcadm restart svc:/system/picl:default")
        rc, out, err = module.run_command("/usr/sbin/prtdiag")

python debug output:

-bash-3.00# python -m pdb setup

^C{"msg": "Traceback (most rec

[2013-10-18 15:20] jctanner commented on #4583
Sorry, closed the wrong bug

[2013-10-18 15:20] jctanner commented on #3216
https://github.com/ansible/ansible/commit/8478e8264732d9abd91435c13fa03d6457cf720d

[2013-10-18 15:27] #3216 closed, assigned to jctanner

[2013-10-18 15:36] jsmartin commented on #4578
Heh, "a smartos".  Sigh.  It was late.  Yes, I can help fix this bug.

[2013-10-18 16:03] jctanner commented on #4441
@jorgenschaefer can you clarify what you are trying to accomplish? My understanding is that you want to modify an existing user's homedirectory and set it to a directory that already exists?

I can set this behavior with a simple patch, but I'd like to confirm what you expect:

<pre>
diff --git a/library/system/user b/library/system/user
index 0528bd5..6cc213c 100644
--- a/library/system/user
+++

[2013-10-18 16:15] jorgenschaefer commented on #4441
I noticed the bug originally when I tried to change the home directory of an existing user (legacy user) to `/`, which failed because / already existed.

Your patch could cause other problems. For example, I'm very unsure about what would happen if you'd then try to change the home directory of an existing user from `/` to `/home/foo`, or similar changes (like, from `/bin/` to something else).

[2013-10-18 16:22] wigsy commented on #4417
+1 for warnings. I ran into confusions around this, as did a colleague of mine. The warnings would have been welcome, and I'm sure others would find them useful to, at least while there is still so many past examples that use only_if out in the wild..

also, I love ansible. Thanks for making such a nice product to use. :)

[2013-10-18 17:09] mscherer commented on #4569
So yeah, \$ trigger the deprecation warning, and this is replaced by '$', see here: https://github.com/ansible/ansible/blob/devel/lib/ansible/utils/template.py#L164

I am not exactly sure on what to do here. Any change in semantic would break the old system.

[2013-10-18 17:20] drybjed commented on #4569
It's not a critical bug, and I suppose when legacy support will be removed, warnings will disappear too. It's good to know where the problem exists in case somebody else stumbles upon it. I'm closing the issue.

[2013-10-18 17:20] #4569 closed, assigned to nobody

[2013-10-18 17:26] Oldkarkass opened #4586 "Variable containing a column in their name are difficult to access : "ansible_eth0:0""
Hi

I had an issue to access a variable named  "ansible_eth0:0" in a template.
This is with ansible 1.3.2
More details here : https://groups.google.com/forum/#!topic/ansible-project/MURGULUV2mU

Thanks
Frank

[2013-10-18 17:40] sharjeel opened #4587 "apt_repository says Linux Mint is unsupported"
Adding a PPA on LinuxMint with Ansbile fails with the following message:

`msg: Module apt_repository supports only Debian and Ubuntu.`

LinuxMint is a derivative of Ubuntu. Ubuntu's repositories work well for LinuxMint. Support for Ubuntu should imply support for LinuxMint

[2013-10-18 18:05] jctanner commented on #4441
@jorgenschaefer Just tested successfully with this playbook:

<pre>
- hosts: el6.lab.net
  #connection: local
  gather_facts: False
  tasks:
    # clear out old user
    - shell: userdel bob
      ignore_errors: True
    - shell: rm -rf /home/bob*
      ignore_errors: True
    - shell: fgrep bob /etc/passwd
      ignore_errors: True
    # create new user
    - user: name=bob home=/home/bob state=p

[2013-10-18 18:40] jorgenschaefer commented on #4441
The following results in an unusable host, so be careful:

[code]

Setting the home directory to / first results in the error `usermod: cannot rename directory / to /home/bob`, luckily.

[2013-10-18 19:11] rrtj3 commented on #4583
I've seen prtdiag hang, though when using puppet's facter, and indeed restarting picl temporarily fixes the issue. I'm not sure I'm comfortable with the idea of restarting it on every box every time setup is run when it's usually only an issue on a few boxes. If you're going to try to work around the issue in code maybe there's a way to catch the exception on the boxes that do fail on prtdiag and

[2013-10-18 19:29] ghost commented on #4583
It does not throw an exception it just hangs, I waited for 30 minutes today
before I killed it.  Could just time the prtdiag and if it takes longer
than 5 seconds throw an warning to manually restart picl on that box. That
is, if automatically restarting it is not wanted in the setup module.

John

On Fri, Oct 18, 2013 at 3:11 PM, Romeo Theriault
notifications@github.comwrote:

##

-John

[2013-10-18 20:24] mscherer commented on #4587
If you run the following:

[code]

In a python shell, what is printed on screen ?

[2013-10-18 20:30] zhuangya opened #4589 "ansible cross pm2: fail."
there is an unicode `\u232c` : ⌬ in [pm2](https://github.com/Unitech/pm2)'s output resule.

and when `ansible` come across this character, it would complain:

[code]

and here is the full [error](https://gist.github.com/zhuangya/ead293008160ef09a488)

it looks like that ansbile did not support all the unicode or sth?

[2013-10-18 20:51] bcoca opened #4590 "script fails when using sudo and non root"
outputs error:

[code]

[2013-10-18 21:43] #4454 closed, assigned to jctanner

[2013-10-18 21:46] jctanner commented on #4454
The cnf file format as you have seen is not quite compliant with the ini spec that configparser wants.

https://github.com/ansible/ansible/commit/3c4dd618e4a41a116a1043249077c6ca377eeddb is a workaround. Long term, the mysql connection parameter "read_default_file" should be used instead.

[2013-10-18 21:47] jctanner commented on #4454
Test playbook:

<pre>
- hosts: localhost
  connection: local
  gather_facts: False
  vars:
     DB_DNS : localhost
     DB_USER : "root"
     DB_USER_PASSWORD : "redhat"
  tasks:
    - name: check connection with user+pass
      mysql_user: login_user={{ DB_USER }}
                  login_password={{ DB_USER_PASSWORD }}
                  name={{ DB_USER }}
                  password={{ DB_USER_PAS

[2013-10-18 21:58] mpdehaan commented on #4583
Sounds like the solution might be to not call it in the facts if it is unreliable, though you could also execute it in a subprocess (painful) and kill it if a timeout is exceeded.

I think I'd rather remove it, if that seems reasonable?

[2013-10-18 21:59] mpdehaan commented on #4589
Can you please share a playbook that minimally reproduces this issue?

[2013-10-18 22:03] mpdehaan commented on #4586
Is it safe to delete from a collection while iterating across them?

Might want to do this in two steps?

Thanks!

[2013-10-18 22:04] #4590 closed, assigned to nobody

[2013-10-18 22:05] mpdehaan commented on #4587
I'm fine with this being upgraded to also work on Mint, provided it is then tested and works properly.

Some distros handle apt repository differently hence the Ubuntu variance explicit in the code.

If you would like to submit a pull request to make this work, that would be welcome.

[2013-10-18 22:15] bcoca commented on #4587
I'm thinking we reverse this, if ubuntu then use specific case, else try
debian style.

if users of other debian derivatives run into problems we can then solve
those, right now they cannot use the module at all.

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011100100111010000100001
Pe

[2013-10-18 22:15] mscherer commented on #4586
I tested it, but only with 1 single interface, and indeed, that would be safer. I will push a updated module soon.

[2013-10-18 22:19] pas256 commented on #4436
Yay! Only 1 day over my promise of "within a week"... that's progress right there.
:)

[2013-10-18 22:50] mscherer commented on #4587
The problem is that Mint is not properly integrated into python-apt. The python module detect if that's a Debian, a Ubuntu or a generic derivate. And mint identify itself as generic, as this is the default answer.

So either we take this in account and make generic treated like Debian ( that mean no ppa ), or we add a special case to fix the bug in ansible. Or we ask to upstream to properly fix an

[2013-10-18 23:10] mscherer commented on #4587
In fact, since apt_repository use the codename of the linux distribution to find what PPA url to use, and since LinuxMint changed the codename, the current code cannot add the proper url. However, it seems that apt-add-ppa is able to guess the release, so maybe someone can find a way.

[2013-10-19 00:03] mscherer commented on #3864
I think this one was fixed by bda08c8a1b501 or I do not understand what this is about.

[2013-10-19 00:05] Daemoen opened #4596 "authorized_key fails to accept keys with comments"
We have 40 keys, 36 of which have no comment, 4 of which have comments specified.  After searching, bug https://github.com/ansible/ansible/issues/4513 was discovered.  It appears as a result of fixing this bug, the opposite scenario was created, and now technically accurate keys are failing:

ansible 1.4 (devel 7b6d64d98c) last updated 2013/10/18 16:42:02 (GMT -700)

Key does not work:
itops@contr

[2013-10-19 00:08] #4587 closed, assigned to nobody

[2013-10-19 00:09] #4563 closed, assigned to nobody

[2013-10-19 00:11] mpdehaan commented on #4596
Is this a failure pushing a key or reading the file?

Can you share the playbook and output when this occurs?

Thanks!

[2013-10-19 00:20] Daemoen commented on #4596
Hit the wrong button, apologies.

Here is a sample of the error, which occurs as the keys are being deployed to remote machines:

failed: [dhd0.quantifind.com] => (item={'comment': 'Andrew Steele', 'shell': '/bin/bash', 'name': 'asteele', 'home': '/home/asteele', 'password': u'$6$Kc8iGUKA$knj5E9Ezx2P/eDmiNdiHdk0lAPNNdLT8T0jGKl678sYJUyg7sCmoTFvFp77ybFpGnFr9K78HgLEvf6E3naJ250', 'id': 2039}) => {"fai

[2013-10-19 01:05] claco commented on #4577
@sivel And add support for cloud_networks so I can create isolated networks. :-)

[2013-10-19 01:12] claco commented on #4577
@sivel "Deprecate the service attribute"

Are you splitting the services out into separate modules?

[2013-10-19 01:15] Apsu commented on #4577
I for one vote for separation. Less coupling, more granularity, more composability!

[2013-10-19 01:34] claco commented on #4577
Working on a rax_network right now, because I need one... right now. :-)

removing the service so hopefully it can be somewhat reused.

[2013-10-19 02:19] sivel commented on #4577
Yes, it was decided that an ansible module should only model one service. The rax module should only be used for cloud servers, each additional service should get rax_whatever.

There is another pull request somewhere to add network assignment into the rax module, but creation of networks needs to live elsewhere.

[2013-10-19 03:16] Daemoen opened #4599 "authorized_keys bug traceback"
<pre>
ok: [shd9.quantifind.com] => (item={'comment': 'Ruoke Yang, Intern', 'shell': '/bin/bash', 'name':
'ruoke', 'home': '/home/ruoke', 'password': u'$6$qFindR0x$KHFkjjDgTaSbTCDROJ1cmPiPP9/heZaNtfPy8ROYF
CIrjqUezDTZYS9ic2u89R6Cl6AgCNb4ETkasZwbI2t7C.', 'id': 2035})
fatal: [shd6.quantifind.com] => failed to parse: Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-1382148491.98-4

[2013-10-19 03:17] Daemoen commented on #4596
Confirmed that https://gist.github.com/jimi-c/154048f2a6eafc4e00d2 will fix the issue, but potentially causes a new issue as well, new ticket: https://github.com/ansible/ansible/issues/4599

[2013-10-19 04:35] claco commented on #4577
@sivel First pass. It works. Feedback welcome. PR at some point when it has proper docs and stuff:

https://gist.github.com/claco/a1b055a128e23f74c23e

I'll most likely be tweaking rax into a local rax_server as well to work in networks support for what rax_network is creating.

[2013-10-19 09:46] scottrobertson opened #4602 "UFW Support"
[UFW](https://help.ubuntu.com/community/UFW) would be pretty cool, it would make setting up firewalls a lot easier. Right now, i basically just have to:

[code]

Which is fine, but it runs every time, which can be annoying.

[2013-10-19 13:24] mpdehaan commented on #4599
cc @jimi-c

[2013-10-19 13:27] mpdehaan commented on #4602
Sure, we're always welcoming of new modules.

Feel free to submit a pull request to add this.

[2013-10-19 13:27] #4602 closed, assigned to nobody

[2013-10-19 13:42] jcftang commented on #4587
this commit breaks when "repo='ppa:someuser/somerepo" on an ubuntu system

perhaps something like this might be better?

<pre>
commit 0568abeb1471e54e0796bcf41d623ece003223bb
Author: Jimmy Tang <jcftang@gmail.com>
Date:   Sat Oct 19 14:41:00 2013 +0100
    check for ubuntu distribution first
diff --git a/library/packaging/apt_repository b/library/packaging/apt_repository
index 55994ed..c77a644 100

[2013-10-19 13:59] mscherer commented on #4587
yep, clearly. I just did a quick test on a Mint distro I installed, I forgot about this one.
Can you make a PR for that one ?

[2013-10-19 14:07] jcftang commented on #4587
will do, the above works for me on ubuntu, you will need to test on debian/mint to make sure its all working as expected.

[2013-10-19 14:36] alinnow opened #4605 "Regression with FreeBSD clients"
Ansible no longer 'just works' with FreeBSD clients.

I have an inventory file of IP addresses, one of which belongs to a FreeBSD box. Previous versions of ansible ran with this inventory file just fine. After upgrading ansible, it is no longer able to even gather facts about it because it assumes that python is in `/usr/bin/python`.

I've read the documentation about the `ansible_python_interpret

[2013-10-19 15:43] claco commented on #4577
@sivel FYI, and maybe you already know this. While hacking in networks: support to a copy of the rax module, I went down a rabbit hole so I'm sharing.

http://docs.rackspace.com/servers/api/v2/cs-devguide/content/CreateServers.html

I was expecting to take that networks structure from a playbook and pass it though the server create. And it took many tries to find the correct combo: While our API d

[2013-10-19 15:59] zhuangya commented on #4589
i tried, but i did not make it.

i think it could be my virtual machine's locale problem.

my problem is almost exactly the same with [this](http://docs.python.org/2/howto/unicode.html#the-unicode-type)

as far as i can tell, it should be a configuration problem. close this for now, if i reproduce this, i will fire another issue

thanks!

[2013-10-19 15:59] #4589 closed, assigned to nobody

[2013-10-19 16:06] mpdehaan commented on #4605
Actually, there is no regression or change in behavior here, it's always been this way.

ansible_python_interpreter has existed for a long time.   It's easy to set in inventory_dir/inventroy

[code]

and in inventory_dir/group_vars/all_my_bsd:

[code]

Or you can also put the variable directly in the file for the group.

[2013-10-19 16:06] #4605 closed, assigned to nobody

[2013-10-19 16:07] #4586 closed, assigned to nobody

[2013-10-19 16:30] alinnow commented on #4605
You say that it's "always been this way", but it worked until quite recently. I wouldn't have used an inventory file without the `ansible_python_interpreter` line if it wasn't necessary, as I've been using ansible with a FreeBSD target for many months now.

[2013-10-19 17:34] brettheath commented on #4583
I would like to see the warning to restart picl rather than removal of the prtdiag info

[2013-10-19 17:58] #4501 closed, assigned to nobody

[2013-10-19 18:02] mpdehaan commented on #4518
I could not reproduce this on the latest development branch, so I'm going to mark this as closed.

The error message this produces for me is currently:

[code]

It's not perfect, but it's not a traceback!

[2013-10-19 18:02] #4518 closed, assigned to nobody

[2013-10-19 18:14] #4514 closed, assigned to nobody

[2013-10-19 18:14] mpdehaan commented on #4514
Ok, I tracked this down.

The problem was because it is replacing occurances of \$ with $ because you have escaped them in the source file.

The workaround was to not escape them in the source file (there's no need unless legacy vars are enabled and you are afraid of replacements), however, I fixed the detector as well -- it now detects legacy change by a change in the number of dollar signs in th

[2013-10-19 18:24] #4582 closed, assigned to nobody

[2013-10-19 18:26] mpdehaan commented on #4450
just fixed on the devel branch

[2013-10-19 18:26] #4450 closed, assigned to nobody

[2013-10-19 18:32] mpdehaan commented on #4579
I recently pushed code to take care of all of the above.  As a result, this all appears to be working on the latest development branch for me.

Let me know if you experience any problems.

Thanks!

[2013-10-19 18:32] #4579 closed, assigned to nobody

[2013-10-19 18:35] mpdehaan commented on #4447
I think this is a duplicate of #4561

Comment there if you disagree.  Thanks!

[2013-10-19 18:35] #4447 closed, assigned to nobody

[2013-10-19 19:21] ghost commented on #4583
Hi,

all prtdiag is giving is the 'BIOS Configuration:'. Is this truly needed?

rc, out, err = module.run_command("/usr/sbin/prtdiag")
        for line in out.split('\n'):
            if 'VMware' in line:
                self.facts['virtualization_type'] = 'vmware'
                self.facts['virtualization_role'] = 'guest'
            if 'Parallels' in line:
                self.facts['virtualiza

[2013-10-19 20:30] darKoram commented on #4561
Ah yes that's precisely it.  Thought I was losing my mind cause it had been working till a few weeks ago.  I guess thats when the mod to prepend task names with roles was added.
TASK: [star_wars_empire | Task 5]

The simple workaround is to ask for ansible to start at the task like this --start-at-task="star_wars_empire | Task 5"

[2013-10-19 20:31] claco commented on #4577
And shortly, I'll have a rax_lb that I needed today to create cloud load balancers. Which leans me to the next q: naming.  rax_clb does not create/delete load balancers, only adds/removes nodes from it.

So, should rax_*lb do the create/delete, then updates nodes accordingly using a nodes attribute? Just looking for the vision and how these will be separated.

[2013-10-19 20:31] phillipuniverse commented on #4518
Great, looks like it was resolved. This was on development from a couple of weeks ago. Thanks!

[2013-10-19 20:49] sivel commented on #4577
@claco That is something I have been wanting to look into.  I think that `rax_clb` should be able to handle both situations.  There shouldn't be multiple modules for dealing with clbs, just one that can handle the needs.

[2013-10-19 21:14] bcoca commented on #4605
This was true at least since 0.4 which is when I started using ansible
against freebsd 8.0-8.3, if you check the mailing lists you should even
see me asking the question why we didnt use "env python" back then.

The "fix" I used back then was setting ansible_python_interpreter in
group_vars/all.

[2013-10-19 21:38] sivel commented on #4577
So that it is visible, the current state of the work can be seen in https://github.com/sivel/ansible/tree/rax-improvements

I'll probably squash the commits and do the pull request using a different branch, but for now it is there for viewing.

Also, as a running tally of what is changing, and example usage: https://gist.github.com/sivel/7076710

[2013-10-19 21:55] brettheath commented on #4583
I was looking at it from the SPARC perspective, and prtdiag has a lot of useful info, but I'll bet you could glean just about all of it from other commands.

[2013-10-20 00:20] phillipuniverse commented on #4518
Just updated to the latest from devel, can confirm no more stack trace. Thanks!

[2013-10-20 01:23] ghost commented on #4583
from the setup module the only thing prtdiag is use for is virtualization_type/role. Any idea what other commands or files may contain that info? I been seaching with no luck.

[2013-10-20 09:00] nicolas-g commented on #4514
thanks !

[2013-10-20 14:17] mscherer commented on #4558
I cannot reproduce with file using latest git.
To test:

[code]

I create the file /tmp/foo, and each time I have it reset the permission, I see changed is properly set. Can you give a bit more information on how do you reproduce the problem exactly

[2013-10-20 14:29] Kami commented on #4558
I originally used `template` directive.

This should reproduce it:

[code]

Change `mode`

[code]

[2013-10-20 15:37] srgvg opened #4606 "Difference in variable resolving between dictionary[ key ] and dictionary.{{ key }}"
Initialy discussed on https://groups.google.com/d/msg/Ansible-project/CpYaY-OzkQc/hwzfDX1hafcJ

As i started writing a play for this ticket, I tested it on latest devel with this weekend's updates on variable referencing, and noticed another behaviour than initially discussed on the list; I'll just show the behaviour on latest devel:

A playbook with different outpouts can be found here: http://sp

[2013-10-20 16:00] mpdehaan commented on #4606
There's so much here I'm confused a bit here with what you are trying to say.

You should never need to use {{ expressions }} in with statements.   Docs don't do this, and people should not make up syntax.  What you did however seems to still work, so that's fine.   Moving on.

There's some bits in the middle later. The phrase "doesn't work" should always be followed up with _what_ something is ob

[2013-10-20 16:34] srgvg commented on #4606
When re-evaluating those differences, discarding mentioning the {{
expressions }} in with statements, it all comes down to one particular
syntax which doesn't give an expected error.

Given this dictionary:

[code]

Referencing a  NON existing key, without using a variable like this:
- with_items: tomcat_libs.6

returns ->     "item": "tomcat_libs.6" where I would expect this to error
about tomcat

[2013-10-20 19:27] mscherer commented on #4558
If you remove the notify part, does it work ? IE, just name and template.
I tried on both latest stable and a recent git snapshot and I see "changed=1", so maybe the problem is elsewhere.

[2013-10-20 21:24] Kami commented on #4558
@mscherer I tried it again with the latest trunk and I can't reproduce it anymore so I'm closing this issue.

Thanks.

[2013-10-20 21:24] #4558 closed, assigned to nobody

[2013-10-20 23:05] tartansandal opened #4608 "documented used of 'lookup' now generates variable undefined error"
The following documented use of the lookup plugin

[code]

now generates the following error:

[code]

I've traced this back to commit 5031104.

[2013-10-21 02:23] willthames commented on #4608
Also bisected back to commit 5031104c3 which contains the lines:

[code]

Ref: https://github.com/ansible/ansible/blob/5031104c3a60bc6f93f5cbcfe2f659882fdaa986/lib/ansible/utils/template.py#L487-488

https://github.com/ansible/ansible/blob/5031104c3a60bc6f93f5cbcfe2f659882fdaa986/lib/ansible/utils/template.py#L501-502

Yeah, I think that does need to be fixed.

[2013-10-21 03:53] darKoram opened #4609 "--start-at-task does not work with group-by groups, at least not for group-by ansible_os_family"
--start-at-task does not work with group-by groups, at least not for group-by ansible_os_family

If hosts is one dynamically generated by group-by, --start-at-task="common | Task1" will skip all tasks.

$ ansible-playbook -i hosts site.yml  -u root --start-at-task="common | Task1"

PLAY [RedHat] ****************************************************************\*
skipping: no hosts matched

if hosts

[2013-10-21 07:15] thomasvnoort commented on #4579
Unfortunately, this doesn't work for us. I've tried the exact same example with the latest ansible from the devel branch (commit c876ce4b8a39d57915a422a17df5dd15ada73785), but I get the exact same output.

Additionally, using the lookup function seems to be broken now. For example:

[code]

Such a definition now results in error like:

`One or more undefined variables: 'lookup' is undefined`

We a

[2013-10-21 08:07] onnos commented on #4608
The workaround seems to be to use the new 1.4 syntax, using the ansible_env facts provided by the setup module.

[code]

becomes:

[code]

[2013-10-21 08:10] thomasvnoort commented on #4579
Someone already reported the error with the lookup plugin, #4608.

[2013-10-21 08:41] darklajid opened #4611 "postgresql_user shouldn't require a password"
postgresql_user is used to create psql roles.

Roles _don't_ require passwords [1] for postgresql, therefor the parameter should be optional and default to 'PASSWORD NULL' (or to leave out the whole PASSWORD part of the clause).

It's confusing that the module _supports_ connecting with a login_user with no login_password, but doesn't let me create a role that is used in this way.

1: http://www.p

[2013-10-21 08:42] candlerb opened #4612 "with_items fails to parse host values which start with '['"
ansible 1.3.3 under OSX. Reproducer:

[code]

Results:

[code]

Notice that with_items is happy when I give a non-list value (s0 and s1), but the values for s2 and s3 are usable neither as scalar nor list.

It would be helpful if the error message said what type it actually was. Debugging:

[code]

Result:

[code]

Relevant code seems to be in `lib/ansible/utils/__init__.py`, `listify_lookup_plugi

[2013-10-21 08:46] drybjed opened #4613 "remote_user: in a playbook is not used to run tasks after first connection"
A playbook used for testing:

[code]

When run with command `ansible-playbook -i inventory -l hostname -k debug.yml`, Ansible connects to host as 'root' account, gathers facts, and for subsequent tasks connects to remote host using username from local system which is used to run `ansible-playbook` (in my case, 'drybjed'). Example output:

[code]

When the same playbook is run with command `ansible

[2013-10-21 08:49] resmo commented on #4536
Hitting the same bug here.
- Using ansible 8a516d14795836a6fc3638354dd6aae3725260e3 alias devel latest
- Ansible node: ubuntu 13.04
- Manged node: debian 7

Playbook:

[code]

Output:

[code]

Expected:

[code]

[2013-10-21 09:07] drybjed commented on #4608
The same issue is happening when I try to lookup file for `authorized_key` module:

[code]

Result:

[code]

Is there any replacement for that?

[2013-10-21 10:34] garethrees opened #4614 "`when:` does not interpolate `item` from `with_items` in some cases"
[code]

My task is located in `./roles/php/tasks/main.yml`:

[code]

`modules` is a simple list set as a default:

[code]

It is used to locate install mechanisms for various PHP modules, specified by a `version` variable:

[code]

The idea is that a developer can use the role quite easily:

[code]

In [all cases I've tried](https://gist.github.com/garethrees/d7ebb541dd4672962bb2), the current ite

[2013-10-21 10:56] willthames commented on #4608
And my use case is failing with the template plugin (which is pretty similar to the file plugin - I could just use the template module to output to a temporary file but I'd still need to read it in!)

[2013-10-21 11:02] axisK opened #4615 "mysql_user pure"
The mysql_user module currently has a dependency on mysqldb which in turn relies on libmysqlclient being available. Due to some dependency conflicts I can't install libmysqlclient and instead have to rely on using a pure python mysql client.

At the moment I've got a module called pure_mysql_user which modifies mysql_user to use mysql.connector instead of mysqldb but would like to modify mysql_use

[2013-10-21 11:21] drybjed opened #4616 "Variable referencing in playbook vars section"
I have two hosts: `small.aiua` and `philote.aiua`. I want to run a set of tasks on both hosts, but activate some of them only on one of them (`philote.aiua`). To test this ability I created this playbook:

[code]

Output of this playbook when run:

[code]

It seems that I cannot use `run_on_host: 'philote.{{ ansible_domain }}'` as a variable definition, which would make playbook more portable.

[2013-10-21 12:33] srgvg commented on #4608
+1 `fatal: [openam-on-2] => One or more undefined variables: 'lookup' is undefined`

[2013-10-21 12:58] willthames commented on #4608
So, having looked at the tests around lookups, I spotted the existence of $LOOKUP.

With the following playbook:

[code]

It kind of works as expected but with a giant deprecation warning:

[code]

Of course this just makes it a problem with:
- The deprecation warning
- The documentation is wrong: http://www.ansibleworks.com/docs/playbooks_lookups.html
- Backward compatibility fails

However, it's

[2013-10-21 13:18] jctanner commented on #4391
@psvo mpdehaan refactored a lot of the templating code recently and I think that might have resolved your issue.

With latest devel, these are the results from your testcase:

<pre>
jtanner@u1304:~/issues/4391-jinja-inheritance$ cat /tmp/out1.txt
TEMPLATE2:
var0:       var0_pb
var1:       var1_t1
var2:       var2_t2
l_var0:     undefined
l_var1:     undefined
l_var2:     l_var2_t2
TEMPLATE1:
var0:

[2013-10-21 13:18] #4391 closed, assigned to nobody

[2013-10-21 13:21] jctanner commented on #4411
closing per #4425

[2013-10-21 13:21] #4411 closed, assigned to nobody

[2013-10-21 13:39] jctanner commented on #4435
@nicolas-g A couple questions ...

1) What user are you running ansible-playbook as?
2) What ssh_user is defined for localhost in your inventory file?

From the -vvvv output, it seems that you are making a connection as "use" to localhost, when not using "connection: local". "use" must be a valid username on your system, because you would otherwise get an ssh connection error such as:

<pre>
fatal

[2013-10-21 14:04] phillipuniverse commented on #4536
I can confirm this bug on the latest from devel (as of 5 mins ago, c876ce4). My fact gathering works fine, but executing commands fails. Debugging with -vvvv I can see that the fact gathering runs correctly with remote_user but just as the bug report states each play ignores the remote_user.

[2013-10-21 14:22] jctanner commented on #4441
@jorgenschaefer I see what you mean. /bin's contents is moved to /home/bob.

Going back to the original comment ... What do you advise as the expected workflow for this situation?

[2013-10-21 14:25] resmo commented on #4536
The fix of @phillipuniverse worked for me too.

[2013-10-21 14:37] phillipuniverse commented on #4536
@resmo not my fix, that was @mmoya :)

Reporting back to confirm that @mmoya's fix works for me. Echo that I'm not sure of the ramifications of it.

[2013-10-21 14:42] jctanner commented on #4536
reproducer:

<pre>
jtanner@u1304:~/issues/4536-per-task-remote-user$ fgrep el6 inventory
el6.lab.net #ansible_ssh_user=root
jtanner@u1304:~/issues/4536-per-task-remote-user$ cat site.yml
- hosts: el6.lab.net
  user: root
  gather_facts: False
  tasks:
    # force the connection as root@
    - shell: uname -a
      remote_user: root
    # use the play's defined user
    - shell: uname -a
</pre>

Th

[2013-10-21 15:02] srgvg opened #4618 "debug var=foo not properly resolving variables, seems to want to resolve the result strings too"
[code]

Following the latest new features on
- debug: var=
- updated vars resolving from last weekend

I tested the following example:

[code]

All three tasks fail however:

[code]

I'd expect, in order, to get:
- foo = bar
- dict.foo = bar
- dict.complex = foobar

Another example with a similar (or same?) bug:

[code]

Expected to return the string foobar, not trying to resolve it as a variable.

[2013-10-21 15:47] jctanner commented on #4536
@phillipuniverse @resmo @mmoya can you guys test with this patch instead?

<pre>
jtanner@u1304:~/ansible$ git diff
diff --git a/lib/ansible/playbook/task.py b/lib/ansible/playbook/task.py
index e37b2ce..9c4b40f 100644
--- a/lib/ansible/playbook/task.py
+++ b/lib/ansible/playbook/task.py
@@ -135,7 +135,11 @@ class Task(object):
         # can be hashes and lists, not just scalars
         self.args

[2013-10-21 15:56] jctanner commented on #4536
correction:

<pre>
jtanner@u1304:~/ansible$ git diff
diff --git a/lib/ansible/playbook/task.py b/lib/ansible/playbook/task.py
index e37b2ce..79f2372 100644
--- a/lib/ansible/playbook/task.py
+++ b/lib/ansible/playbook/task.py
@@ -135,7 +135,13 @@ class Task(object):
         # can be hashes and lists, not just scalars
         self.args         = ds.get('args', {})

-        self.remote_user

[2013-10-21 16:01] phillipuniverse commented on #4536
@jctanner threw in your second proposed fix and it I can confirm that it resolves my issue.

[2013-10-21 16:10] jctanner commented on #4536
Alright, I'm going to commit that fix. If new related bugs crop up, I will iterate.

[2013-10-21 16:10] #4536 closed, assigned to nobody

[2013-10-21 16:19] dpeterka opened #4619 "ec2_ami wait not long enough"
I randomly receive an error when waiting for ami creation, seems the call times out after a bit, even though the AMI create call is successful.

[code]

File "/home/ec2-user/.ansible/tmp/ansible-1382371655.27-165243934146759/ec2_ami", line 1255, in <module>
    main()
  File "/home/ec2-user/.ansible/tmp/ansible-1382371655.27-165243934146759/ec2_ami", line 320, in main
    create_image(module, ec2)

[2013-10-21 16:37] zehome commented on #4611
I agree on this. We use local unix connections where password is not mandatory (using ident)

[2013-10-21 16:45] bcoca commented on #4608
@onno, ansible_env comes from the target host, lookup('env' ...) comes from
the master host, $HOME will probably be the same for the same user but it
is not guaranteed, other env variables will definitely not be the same.

[2013-10-21 16:59] onnos commented on #4608
@bcoca, thanks! You are right, of course. Turns out I was lucky, I was only using environment lookups in playbooks with "connection: local".

This problem was likely missed because the tests in "tests/lookup_plugins.yml" are incorrect - they're testing for $LOOKUP as @willthames mentioned earlier.

[2013-10-21 17:30] jctanner commented on #4596
@Daemoen Try your test with this patch instead:

https://gist.github.com/jctanner/7087720

<pre>
diff --git a/library/system/authorized_key b/library/system/authorized_key
index 2649426..d9d6160 100644
--- a/library/system/authorized_key
+++ b/library/system/authorized_key
@@ -199,27 +199,43 @@ def parsekey(raw_key):
     of ssh-key options at the beginning
     '''

+    VALID_SSH2_KEY_TYPES = [

[2013-10-21 17:54] candlerb opened #4620 "Possibly confusing error messages when using --limit with range-like selector"
ansible 1.3.3 under both OSX and Linux. Reproducer setup:

[code]

Then run the following command:

[code]

This is rather confusing, as the inventory deals with ranges differently to -l.

Digging through code, it looks like `group[a:b]` is supposed to start at offset 'a' with limit 'b'. So I would expect `[0:2]` to talk to two hosts, but it doesn't:

[code]

Personally I think I'd find it more us

[2013-10-21 18:03] jctanner commented on #4596
Tested with:

<pre>
- hosts: el6.lab.net
  gather_facts: False
  tasks:
    - authorized_key: user=root
                      key="ssh-rsa AAAAB1...=="
    - authorized_key: user=root
                      key="ssh-rsa AAAAB2...== comma, separated, comment"
    - authorized_key: user=root
                      key='from="x.lab.net",no-port-forwarding,no-pty ssh-rsa AAAA3...== some,stuff and \#more

[2013-10-21 19:56] candlerb opened #4622 "ansible -u does not take precedence over ansible_ssh_user from inventory"
ansible 1.3.3 (OSX).

It appears that the -u option to ansible does not override ansible_ssh_user set in the inventory (even if it is set at the group level)

[code]

Then try to use -u option:

[code]

ansible-playbook is the same.

[code]

[2013-10-21 20:00] ScottSturdivant opened #4623 "FreeBSD service module enable weird results"
ansible version: `v1.2-1685-gf9ac88c`  (Because HEAD is broken ATM with regards to the lookup plugin...)

Given this action:  `service name=uwsgi enabled=yes`, I would expect `uwsgi_enabled="YES"` in /etc/rc.conf.  Instead, I get `Processing="YES"` in /etc/rc.conf

When I run `service uwsgi start` manually,  I get the following in my output:  `Processing uwsgi profile: manage` so I'm wondering if

[2013-10-21 20:04] ScottSturdivant commented on #4623
Looks like the service modules performs this call:

`service uwsgi rcvar` which on my system returns the following:

[code]

[2013-10-21 20:18] jorgenschaefer commented on #4441
I have to admit I was a bit surprised to see the `-m` option passed to `usermod` implicitly. I expected it to only modify the home directory entry in `/etc/passwd`.

That flag should likely be avoided _at least_ for system users, as they do not get a home directory by default. But ideally, I'd think that the `user` module should simply not pass `-m` implicitly, instead gaining a `move_home=` boole

[2013-10-21 20:23] resmo commented on #4622
Could also reproduce with latest devel 4f139673865b713ad6b5e90aa79575a19b2b237e

my hosts file:

[code]

test.yml:

[code]

cli:

[code]

output:

[code]

expected:

[code]

[2013-10-21 20:51] drybjed commented on #4622
Probably related to #4613 ?

[2013-10-21 20:59] resmo commented on #4613
this looks like a duplicate of #4536 to me, which have been fixed with 4f139673865b713ad6b5e90aa79575a19b2b237e . @drybjed could you pull latest devel branch and test again?

[2013-10-21 21:01] bcoca commented on #4622
This is intended as host var is smaller scope than command line setting, if
you want to override the host settings use -e "ansible_ssh_user=newval" on
the commandline

[2013-10-21 21:03] onnos commented on #4616
This appears to be the same problem as discussed in #4579. It was not fixed in the latest dev changes.

[2013-10-21 21:22] gregbuehler commented on #4622
It seems there have been many issues closed because this "works as intended" on this topic We already know this "works as intended" and the issue is that the intended way is not intuitive and the intended use needs to change. The intent of the user is to override the ssh user.

See also https://github.com/ansible/ansible/issues/4373

[2013-10-21 21:31] bcoca commented on #4622
@Greg, which the user CAN do with the method I describe. -u overrides
configs, but not inventory data, yes it is confusing the first time but it
does make sense in the ansible context once you are more familiar with it.

[2013-10-21 21:45] drybjed commented on #4613
@resmo With current devel 4f13967 ansible works as expected - account root set in playbook is used for each task. Thanks!

[2013-10-21 21:45] #4613 closed, assigned to nobody

[2013-10-21 21:49] candlerb commented on #4622
@bcoca: group vars as well as host vars.

I can't really see the point of having a command-line flag which doesn't override anything. Is it only there to provide a value when the inventory doesn't have one, but when you can't be bothered to put it in group_vars/all ?

manpage for ansible-playbook does hint at this:

[code]

However the manpage for ansible is definitely misleading.

[code]

Anyway,

[2013-10-21 22:07] bcoca commented on #4622
it overrides the user set in ansible.cfg or the current user executing the
commandline (aka you), it does server a purpose, just not to override
inventory data.

[2013-10-21 22:37] gregbuehler commented on #4622
I guess the main issue that causes confusion is that a configuration or inventory value is still overriding something the user is explicitly setting from the command line. My experience with nearly any other tool is that the command line always wins.

Just my two cents.

[2013-10-22 01:27] mpdehaan commented on #4608
Just looks like it needs to add lookups into the namespace, this is simple enough.

[2013-10-22 01:32] mpdehaan commented on #4622
Works as intended :)

[2013-10-22 01:32] #4622 closed, assigned to nobody

[2013-10-22 01:35] mpdehaan commented on #4618
While debug: var=foo

should work

I disagree that this completely random syntax:

[code]

Should mean anything

[2013-10-22 01:35] mpdehaan commented on #4615
This sounds like a question for the development list rather than a bug ticket, so I'm closing this one.

Feel free to ask there.

[2013-10-22 01:35] #4615 closed, assigned to nobody

[2013-10-22 01:37] mpdehaan commented on #4614
This defect is incomplete because it does not include the variables it is using in the bug report.

[2013-10-22 01:37] #4614 closed, assigned to nobody

[2013-10-22 01:38] mpdehaan commented on #4612
This is not a bug.

If you wish to define structured data in your INI file, you should define it in group_vars or host_vars

[2013-10-22 01:38] #4612 closed, assigned to nobody

[2013-10-22 01:41] mpdehaan commented on #4609
Actually this is incorrect, it doesn't currently work with roles.

There's already a ticket on this.

[2013-10-22 01:41] #4609 closed, assigned to nobody

[2013-10-22 01:52] claco commented on #4577
@sivel "I think that rax_clb should be able to handle both situations. There shouldn't be multiple modules for dealing with clbs, just one that can handle the needs."

I'm actually starting to feel the opposite. I threw together a quick rax_lb module to create load balancers for two reasons: 1) feels wrong to do it in rax w/ service, and 2) there are sooooo many options that can be set during crea

[2013-10-22 02:06] jctanner commented on #4441
@jorgenschaefer I'm going to move this from a bug to a feature request. I agree with you on a new move_home option, which will require some refactoring.

[2013-10-22 02:06] sivel commented on #4577
@claco if that is the case then it may make sense to rename the current module. It is new to 1.4 and was originally named rax_clb_nodes. I may have inadvertently made a mistake of assuming the functionalities could be combined into a single module.

Since you are closer to it than I am at this exact point, do what feels best.

Although I recommend that you open a new issue so we can keep this issu

[2013-10-22 04:33] srgvg commented on #4618
I do not see what is random to that syntax, that is valid jinja2. The tilde
notation is preferred to the plus sign for string concatenation.

http://jinja.pocoo.org/docs/templates/#math
http://jinja.pocoo.org/docs/templates/#other-operators

[2013-10-22 07:54] candlerb opened #4628 "pkgng hangs and missing error messages"
ansible 1.3.3, client OSX, server FreeBSD 9.2 in a VM.

Inventory:

[code]

`group_vars/freebsd`:

[code]

ssh keys have been installed in `/root/.ssh/authorized_keys`
## Problem 1: hanging when pkgng has not been used before

[code]

There is no indication of any problem. On the target, ps shows a hung pkg process

[code]

However you can see the reason if you run pkg interactively:

[code]
- It

[2013-10-22 08:02] candlerb opened #4629 "notify entries should be checked before playbook starts"
ansible 1.3.3

If a `notify:` line references a non-existent handler, no error is reported until an attempt to call the non-existent handler is made.

However, `notify:` lines cannot have jinja2 expansions, which is intentional:
https://groups.google.com/forum/#!topic/ansible-project/8RBhrb7I7GM

Therefore it would be straightforward to statically check notify lines against handlers before the pla

[2013-10-22 08:13] mmoya commented on #4536
Confirming @jctanner patch fixed the issue for me.

[2013-10-22 09:17] garethrees commented on #4614
See https://gist.github.com/garethrees/d7ebb541dd4672962bb2 as linked twice in the report. Should have made that clearer sorry.

[2013-10-22 09:44] candlerb commented on #4612
(1) can you explain what the safe_eval code is for?

(2) do you not agree that "with_items expects a list" is not a useful error message in this situation?

[2013-10-22 09:45] candlerb opened #4633 "blank line at end of template is stripped"
ansible 1.3.3

[code]

If there are multiple blank lines, only the last one is stripped.

[code]

[2013-10-22 12:54] darKoram commented on #4609
I am able to stop at tasks defined in roles as long as i prepend the task
name with "<role> | ".  This works for all roles except when I use group_by.

On Mon, Oct 21, 2013 at 8:41 PM, Michael DeHaan notifications@github.comwrote:

##

Kesten Broughton
512 701 4209

[2013-10-22 14:12] garethrees opened #4634 "`when:` does not interpolate `item` from `with_items`"
Reopened from #4614 with succinct example.

[code]

Error:

[code]

I'm expecting `{{item}}` to be a single item from the `modules` list.

[2013-10-22 14:34] bcoca commented on #4622
@Greg, if you don't consider inventory a config, but a live object that can
change every invocation (not true with ini, but true with dynamic inventory
scripts), it starts to make more sense. You can override both, but -u is
mainly for ansible.cfg and the assumed default.

[2013-10-22 15:16] tronner opened #4635 "Problem with conditional role dependencies: conditions are overwritten"
Hi,

I encountered a problem with conditional role dependencies. The case is as follows:

Role a depends on role b when var want_b is true.
Role b depends on role c when var want_c is true.

When want_b is false and want_c is true I expect both roles b and c to be skipped, because role b is skipped and role c is a dependency of role b. What happens is that role c is run anyway.

Very simple playbo

[2013-10-22 15:27] candlerb opened #4636 "Hosts in groups are not ordered"
ansible 1.3.3

[code]

Template:

[code]

Output:

[code]

It may not be important for ntp, but it matters for /etc/resolv.conf:

Also: it's not clear if the order of servers within a group is stable when other hosts are added to the inventory.

As far as I can see the _intention_ is that they be ordered, given that the Group object contains a list of hosts, not a dict.

[2013-10-22 15:29] bcoca commented on #4636
have you tried using the jinja2 "sort" filter?

[2013-10-22 15:30] candlerb commented on #4636
I want them to retain the order I put them in the inventory. "sort" may not give the ordering I want.

[2013-10-22 15:32] jctanner commented on #4636
On 10/22/2013 11:30 AM, Brian Candler wrote:

Host ordering was improved in the devel branch. If you could, please
test your usecase from a checkout.

[2013-10-22 15:51] candlerb commented on #4636
Yes, ordering works in devel branch. It breaks other stuff though: I will submit a separate ticket.

[2013-10-22 15:52] jctanner commented on #4636
Thanks, I'll close this one then.

[2013-10-22 15:52] #4636 closed, assigned to nobody

[2013-10-22 15:57] candlerb opened #4637 "'file' lookup broken in devel branch"
Task:

[code]

This worked under ansible 1.3.3. With devel branch I get:

[code]

[2013-10-22 15:58] jctanner commented on #4637
duplicate of #4608

[2013-10-22 15:58] #4637 closed, assigned to nobody

[2013-10-22 16:00] briceburg opened #4638 "Using {% raw %} in templates does not stop jinja2 variable substitution"
Using {% raw %} in templates does not stop jinja2 variable substitution
- ansible 1.4 -devel 4f139673865b713ad6b5e90aa79575a19b2b237e

[playbook.yml]

[code]

[mytemplate.j2]

[code]

[/tmp/myoutput.txt]

[code]

NOTE: template output performs variable substitution even inside the {% raw %} block.

REFERENCE: Workaround suggested by Brian Coa https://groups.google.com/forum/#!topic/ansible-project

[2013-10-22 16:01] #4608 closed, assigned to nobody

[2013-10-22 16:06] dpeterka opened #4639 "ec2_group inconsistent vars"
ec2_group has ec2_secret_key whereas the other modules have aws_secret_key (same for access), also does not accept a variable in format of {{var}} only ${var}

[2013-10-22 16:08] jctanner commented on #4639
@dpeterka Thanks for the report. I've been meaning to get around to making all the ec2 modules consistent. I'll use this ticket to track the work.

[2013-10-22 16:08] steverweber opened #4640 "using sudo_user as the user that is already logged in"
using sudo_user as the user that is already logged in causes:

[code]

Ansible should be comparing sudo_user with ~ ansible_ssh_user to see if sudo is needed before preforming the sudo.

I understand it might sound silly to have this check.  However its not possible to know how other people may use a playbook/role and sometimes user names will overlap with the sudo_user.

I hit this issue a few ti

[2013-10-22 16:16] dpeterka commented on #4639
Thanks for fast response. If I can sneak in a quick question how to add 'ALL' from the module?

[2013-10-22 16:17] jctanner commented on #4639
I'm not sure what you mean by "ALL" in this context, but that's probably more suitable for a conversation on the mailing list and/or IRC.

[2013-10-22 17:01] briceburg opened #4641 "Dependent roles may have variables overwritten by role that includes them"
Roles do not use their variable definitions when actvated via the role dependency mechanism.
- ansible 1.4 -devel 214b0b052c3d54b58a531b0f7fb401ec3c0229f5
# Description
1. alpha role depends on beta role
2. Each role provides a unique value for a variable named 'port' <role>/vars/main.yml
3. When beta role is executed (aka **"active"**) via the role dependency mechanism, the role uses variable def

[2013-10-22 17:06] briceburg opened #4642 "Included tasks use different variable definitions in roles activated by the role dependency mechanism"
Included tasks use different variable definitions in roles activated by the role dependency mechanism.
- ansible 1.4 -devel 214b0b052c3d54b58a531b0f7fb401ec3c0229f5
# Description

The alpha->beta scope, `port` when called from roles/beta/`tasks/main.yml` acts like a `var`, whereas when called from roles/beta/`tasks/include.yml` port acts like a `default`.
# Demonstration

`main.yml` :

[code]

`in

[2013-10-22 17:08] briceburg commented on #4545
There is a lot of confusion in this issue. I've opened two issues to address each issue discussed here.

#4641
#4642

[2013-10-22 17:08] #4545 closed, assigned to nobody

[2013-10-22 17:57] dmichel1 commented on #3539
Has this been fixed? It seems I'm still hitting the bug with version 1.3.3.

Running the example above this is what I get...

MichelDrew:tmp drmichel$ ansible-playbook -i localhost play.yml -v

PLAY [localhost] **************************************************************

TASK: [check if we can do task A] *********************************************
skipping: [127.0.0.1]

TASK: [task A] *******

[2013-10-22 18:17] dpeterka opened #4643 "ec2_group add group name to options"
Given I wish to add a security group to a rule it would be great to look up the id.

Consider currently:
create group1
Have no real handle to the group id

Would be nice to:
create group1
create group2 with member of group1

[2013-10-22 18:18] dpeterka opened #4644 "ec2_group add rule for 'ALL'"
Option to add ALL as an arguement:

proto: tcp
inbound_port: ALL
outbound_port: ALL

[2013-10-22 20:34] tegryan opened #4645 "Connection fails with "'msg': 'FAILED: not a valid DSA private key file', 'failed': True""
When I call a playbook using:
ansible-playbook -i provision provision.yml  -e "dc=eu-ireland"

it creates an instance, waits for SSH to come up, but then fails on the config play with:
fatal: [ec2-<ip>.eu-west-1.compute.amazonaws.com] => {'msg': 'FAILED: not a valid DSA private key file', 'failed': True}

but when I add "ec2-<ip>.eu-west-1.compute.amazonaws.com" to the webservers (inventory file)

[2013-10-22 20:35] jctanner commented on #4616
@drybjed Just to clarify ... this is a request to allow for variable substitution in the vars: section of a playbook?

It seems as though booleans are working fine for other types of vars such as ...

<pre>
    - debug: msg="ansible_os_family == RedHat"
      when: ansible_os_family == "RedHat"
</pre>

[2013-10-22 20:39] drybjed commented on #4616
@jctanner Yes, that's correct. That would let me set a variable for a FQDN name like, for example: cache_server: 'cache.{{ ansible_domain }}'. By using that, I can create a host called 'cache.some.domain.com' and let ansible automatically recognize it and run tasks against it (or not) using when: contitions.

The problem is not that variables like this are not subsituted, but when: does not correc

[2013-10-22 20:45] jctanner commented on #4616
Testcase:

<pre>
- hosts: el6.lab.net
  gather_facts: True
  vars:
    test_var: '{{ ansible_domain }}'
  tasks:
    - debug: msg="test == test"
      when: test_var == ansible_domain
</pre>

Current behavior: debug task is skipped
Expected behavior: debug task is run

[2013-10-22 20:45] tegryan commented on #4645
In the remote machine in /var/log/secure there is this entry:

Oct 22 20:42:16 ip-<local-ip> sshd[896]: Did not receive identification string from <config-server-ip>

[2013-10-22 20:47] drybjed commented on #4616
@jctanner Yes, exactly as you described.

[2013-10-22 20:50] candlerb opened #4646 "Inconsistent permissions for newly created files"
ansible-1.3.3

If I create a file e.g. using the 'template' module, and do not specify mode=xxx:
- On the local machine (ansible_connection=local), it appears with mode 644
- On a remote machine (default, which I think is ansible_connection=smart), it appears with mode 600

This means that playbooks tested within the owner environment may not work correctly when run against a target machine over s

[2013-10-22 21:11] darklajid opened #4647 "with_items works with lists of dictionaries, doesn't work with lists of lists"
Lots of places (including Michael DeHaan's posts, [1]) claim that this works:
- name: Index into the item
  debug: msg="{{item.0}}"
  # Same with item[0]
  with_items:
  - [ 'Foo', 1 ]
  - [ 'Bar', 2 ]

It doesn't in 1.3.3. {{item}} is always the first thing in the list, {{item.0}} ends up as being the first char (in this case) of the first colum: 'F', 'B'.

Note that the dictionary version still

[2013-10-23 03:42] ghost commented on #4556
Hello, thank you for answering.
I tried all sorts of escaping and none of them seemed to work. Will try again and let you know.

[2013-10-23 12:40] fgtham commented on #4239
I just upgraded to v1.3.3. The issue remains. Here's an updated test case. Run it, change into `ansible_test/` and execute `./test_runner.sh`. This script executes the provided playbook two times:
- first run: `ansible-playbook site.yml -i hosts`
- second run: `ansible-playbook site.yml -i hosts --forks 1`

The first run passes, the second run fails.

[code]

[2013-10-23 12:54] Jmainguy opened #4648 "cron module raises exception when used on Solaris 10"
Solaris 10 crontab does not allow a user to load a file into another users cron. It does not support the -u option for this reason. Valid options for cron in Solaris 10 are crontab /path/to/file. Or Crontab -l user. For this reason the file is read, edited for the appropriate entries made by the playbook but errors out on saving it into cron.

Right now the module loads it into cron via the comman

[2013-10-23 13:00] dirtyharrycallahan commented on #4175
I was able to find some time last night to start working on this. I read through the SuSE python packaging docs and I got as far as being able to create the rpm on openSuSE 11.4. I will test it on openSuSE 11.4 and 12.3; and CentOS 6 and RHEL 5/6 for regression.

[2013-10-23 13:27] jctanner commented on #4239
@fgtham Is this the behavior you expected to see? ...

<pre>
jtanner@u1304:~/issues/4239-variable-derefernce-forks/code2/ansible_test$ ansible-playbook -i hosts site.yml
PLAY [vm_guests] **************************************************************
127.0.0.3: importing /home/jtanner/issues/4239-variable-derefernce-forks/code2/ansible_test/vars/srv.yml
127.0.0.4: importing /home/jtanner/issues/423

[2013-10-23 13:39] fgtham commented on #4239
Yes, this is the bug I encountered. The playbook's result only depends on the number of parallel ansible processes, which doesn't make sense.

If you increase logging with `-vvvv`, you may see that in the last task (the one that fails), ansible cannot dereference `vm.host_system` any longer, and tries to establish an ssh connection with a host named '`{{vm.host_system}}`' instead.

[2013-10-23 13:57] jctanner commented on #4239
I was able to see more of what is going on via the debug module ...

<pre>
PLAY [vm_guests] **************************************************************
127.0.0.3: importing /home/jtanner/issues/4239-variable-derefernce-forks/code2/ansible_test/vars/srv.yml
127.0.0.4: importing /home/jtanner/issues/4239-variable-derefernce-forks/code2/ansible_test/vars/srx.yml
TASK: [vm | debug var=vm] *********

[2013-10-23 15:15] lufik commented on #4394
Hi,
  I'm sorry for the late response but I'm on business trip so few time for even sleeping ;o)
It's working as expected without the --limit flag.

Please try to list the ansible group. It's my fault I mentioned also the db in README:
$ ansible-playbook test.yml --list-hosts --limit db -i /etc/ansible/test

playbook: test.yml

  play #1 (all): host count=1
    db01.domain.local

$ ansible-playboo

[2013-10-23 15:34] pcarinhas opened #4649 "Yum: Failed state when incomplete transaction occurs"
ansible version 1.3.2
OS: Host: Ubuntu 13.04
Target: Centos 6.4

If Yum is in a state where a transaction was not completed it hangs on
an update process like:
- name: "{{ role }}: Upgrade base system packages"
  yum: name=\* state=latest
  async: 420
  poll: 5

My solution was to
1. yum clean all
2. install yum-utils which (has yum-complete-transaction) and then
3. run the yum-complete-transactio

[2013-10-23 15:35] jctanner commented on #4649
We should have the module detect incomplete transaction errors/messages, and fail the task instead of hanging (presumably waiting on input).

[2013-10-23 15:43] candlerb opened #4650 "Conditionals abort when using string value for truth"
ansible 1.3.3

I would expect "when" conditions to treat empty string/list values as false, and non-empty strings/lists/dicts as true, in the same way as jinja2.

However this does not work.

[code]

Result:

[code]

Workaround for string values:

[code]

[2013-10-23 15:45] jctanner commented on #4239
The first problem I found is that this syntax won't work ...

<pre>
  vars_files:
  - "vars/{{ name }}.yml"
</pre>

The templating code doesn't have vars populated when it goes to replace the line ...

<pre>
vm | template src=test.j2 dest=/tmp/{{vm.host_system}}-test.txt :::: ERROR 'vm' is undefined
{'_original_file': '/home/jtanner/issues/4239-variable-derefernce-forks/code-fix/ansible_test/roles

[2013-10-23 16:07] fgtham commented on #4239
I use ansible to create and manage a number of virtual machines on multiple servers.

The configuration parameters that are identical for most of the VMs have been placed under `vars/vm_default.yml`. If these settings are not appropriate for a specific VM, an alternate config can be provided in a file `vars/vm_{{ hostname }}.yml`. Basically it's the conditional imports example from the [documentat

[2013-10-23 17:37] hiciu opened #4652 "accelerated mode fails with copy: content="" or file: src=/empty/file"
Hello,

Accelerated mode can't successfully transfer empty files. I can repeat this with ansible 1.3.3 and ansible 1.4 (devel e34cde6bef).

steps to reproduce:

playbook.yml:

[code]

[code]

I can provide more data if needed, this is 100% reproducible on my system. Unfortunately, I have no idea how to fix it (but I believe problem is somewhere here: https://github.com/ansible/ansible/blob/devel/l

[2013-10-23 17:56] mpdehaan commented on #4635
Hi

If you want to define booleans instead of strings you should put them in the group_vars/host_vars files.

Please retest with this corrected as both strings have a true value.

Also please read contributing.md about required information to file in a bug report, namely the version of Ansible you are using.

Thanks!

[2013-10-23 17:58] mpdehaan commented on #4638
This is both a bug and not a bug.

As long as the templates will evaluate, they will evaluate recursively to allow variable nesting.

As a result, if the template changes it will keep going.

I think we just need to document this and not suggest raw/endraw.

[2013-10-23 18:00] mpdehaan commented on #4640
Are you parameterizing the user you are sudoing to perhaps.

I would agree this behavior is probably nice to add.

It's probably also a bit low priority so I'm tagging this as a feature idea.

[2013-10-23 18:02] mpdehaan commented on #4641
In queue for investigation.

[2013-10-23 18:03] mpdehaan commented on #4642
This is a duplicate of the other Brice ticket so I'm closing this one.

[2013-10-23 18:03] mpdehaan commented on #4645
Hi, please stop by the mailing list, this is more of a support question than a bug.

Thanks!

[2013-10-23 18:03] #4645 closed, assigned to nobody

[2013-10-23 18:07] mpdehaan commented on #4646
This is just an OS thing.

I would recommend you set explicit permissions all the time wherever you have preference for what they should be, as this will also set them back if the end user sets them to something you don't want them to be anyway -- always conciously thinking about permissions is a good idea.

It does not make sense to me to set a default and therefore override any umask settings ev

[2013-10-23 18:07] #4646 closed, assigned to nobody

[2013-10-23 18:09] mpdehaan commented on #4647
This is not a regression but in fact a feature, because if you supply two lists of packages it will install them all in one and has been the case for some time.

Stop by the list if you have questions (you could also write your own lookup plugin if you wanted different behavior).

[2013-10-23 18:09] #4647 closed, assigned to nobody

[2013-10-23 18:10] mpdehaan commented on #4648
I need to know what Ansible version you are using.  Can you share?

(Please read contributing.md for bug reporting suggestions)

Thanks!

[2013-10-23 18:14] mpdehaan commented on #4650
So I think it's evaluating the bare variable because it thinks you are passing a conditional in like:

vars:
   saved_conditional:  "x == 2"

So it would evaluate the saved conditional first, like so:
- action: ping
  when: saved_conditional

That all being said, putting this in the queue to look at, to see if it's still a thing on 1.4 devel

[2013-10-23 18:16] Jmainguy commented on #4648
Sorry about not having that in there.

ansible 1.4

[2013-10-23 18:16] pgehres commented on #4652
I have run into this before as well. Apparently I never filed a bug for it and just worked around the issue.

[2013-10-23 18:20] mpdehaan commented on #4634
Oooh, this syntax is quite unsupported, undocumented, discouraged, etc :)

[code]

Do this:
      when:  hostvars[inventory_hostname][version]['modules'][item]['source'] == 'rpm'

I'll say this itself looks pretty gross, and I think you're trying to engineer something a little complicated.
Ansible likes to keep it simple and I'd suggest some other ways.

Please stop by the list if you'd like to di

[2013-10-23 18:20] #4634 closed, assigned to nobody

[2013-10-23 18:24] mpdehaan commented on #4649
So are you saying a previously non-completed transaction or a current active transaction?

(I've seen the latter but not the former)

[2013-10-23 18:26] mpdehaan commented on #4649
example:  when PackageKit is running

it will not hang after it completes or you whack it, and still works with outstanding failed transactions

please read contributing.md about how to file bug tickets BTW, always include the version of ansible you are using, etc

Thanks!

[2013-10-23 18:30] tronner commented on #4635
Ansible version used: current devel branch (tested commit e34cde6).

About the booleans: want_b=false in the inventory file evaluates to false on my system (FreeBSD 9.2):

[code]

When setting want_c to true the faulty behaviour surfaces:

[code]

For completeness I tested setting the variables via group_vars/all (latest commit on https://github.com/tronner/ansible-bug-roledep-conditions) and the

[2013-10-23 18:47] jlaska opened #4653 "copy module doesn't use same json value to store destination path"
The field used to store the name of the destination file isn't consistent.  For the same values of "src" and "dest", the first call will return the destination path in an attribute called "dest".  On subsequent calls, the path is provided in an attribute called "path".  This makes it difficult to register the result of a `copy` task as a variable given that the variable attributes aren't consisten

[2013-10-23 18:52] jimi-c commented on #4652
Taking a look at this now.

[2013-10-23 18:57] pgehres opened #4655 "Allow for an alternate lookup path for sensitive information"
In order to be able to share our playbooks with non-privileged users throughout our company we need to move all sensitive information (password, SSL certificates, etc) into a separate repository.  Unfortunately this isn't the easiest thing to do in the current architecture.

I think the easiest way to do this from a user perspective it to support an "alternative search path" that has the same stru

[2013-10-23 18:57] pgehres commented on #4655
@mpdehaan @jimi-c @tgerla - as discussed yesterday

[2013-10-23 18:59] mpdehaan commented on #4655
Yep, I think this could be automatically added to all the file paths when we are looking for them.

I'd sugggest we probably add "extra_template_lookup_path" (default None) and extra_file_lookup_path
and this takes _lower_ priority than anything in the playbook/role/etc?

[2013-10-23 19:01] mpdehaan commented on #4653
I think this could potentially mess with some playbooks (not many) but +1

[2013-10-23 19:02] candlerb commented on #4646
Question: when you create files over ssh, and they get mode 600 by default, is this because of something which is set in the ansible python code?

[2013-10-23 19:04] pgehres opened #4656 "Keep track of roles applied across plays"
We have a play of plays that we run against our entire infrastructure.  Each role has an implied dependency on the common role (it was created before role dependencies existed). As part of this play of plays, we run the common play first against all hosts with as many forks as possible. The play of plays then continues with a play for each role.

If we were to link the common role dependency to ea

[2013-10-23 19:05] pgehres commented on #4656
@mpdehaan, @jimi-c, @tgerla - as discussed yesterday

[2013-10-23 19:07] pgehres commented on #4655
My strong preference would be higher precedence to override things.

[2013-10-23 19:55] #4500 closed, assigned to nobody

[2013-10-23 19:57] jctanner commented on #4415
@bennojoy any suggestions on how to fix this?

[2013-10-23 20:09] #4652 closed, assigned to nobody

[2013-10-23 20:10] jimi-c commented on #4652
Fix pushed, please let me know if you continue to have any issues with this. Thanks!

[2013-10-23 20:11] jimi-c commented on #4656
Thanks!

[2013-10-23 20:13] hiciu commented on #4652
Hello,

Your commit fixed this for me. Thanks!

[2013-10-23 20:39] pcgentry opened #4657 "authorized_key module traceback when using with_items in latest devel branch"
I have a setup where I use a vars file to setup ssh keys. It is setup like this:
ssh:
- name: user1
  key: key1
- name: user2
  key: key2

With the play looking like this:
- name: Setup SSH
  authorized_key: user="{{ item.name }}" key="{{ item.key }}"
  with_items: ssh

This update (https://github.com/ansible/ansible/commit/7e8e186b3b8e0bff420de139ef99efe02eece321) caused this error that shows up

[2013-10-23 20:42] ScottSturdivant opened #4658 "git module undefined behavior when 're-cloning'"
My use case is that I'm cloning a git repository, then using the pip module to install a project if the git action has changed.  Because I would like to have the option of either deploying from mainline or my personal clone, the repo argument is a variable so that I might change the URL.  However, I have noticed that the git repo has some weird behavior when the repo URL changes.  I would expect o

[2013-10-23 22:08] zealot128 commented on #4657
I had the same problem.

I also tried different lookup strategies for providing a pubkey. Using the lookup command from within a role always wants the pubkey path to prefix with the role path. But my pubkeys are stored elsewhere.

I tried that:

**1. via variable in external var file**

[code]

That worked in previous versions (1.3)

**2. Variable**

[code]

Results in wrong path, not PWD/pubkeys/

[2013-10-23 22:13] dchancogne opened #4659 "Allow 'npm' to install top-level modules"
**Scenario**:

Trying to install `uglify-js` (globally) because I need the _uglifyjs_ executable. Unfortunately the `npm` Ansible module won't install it because it's already listed as a dependency of another nodejs package (this other package is installed earlier in my playbook and I can't really move it). But when installed as dependency, it didn't get installed with the executable.

**Possible

[2013-10-23 22:19] jctanner commented on #3760
@boosh Adding tags to a running instance is a task already handled by the ec2_tag module ...

http://www.ansibleworks.com/docs/modules.html#ec2-tag

[2013-10-23 22:19] #3760 closed, assigned to nobody

[2013-10-23 23:19] steverweber commented on #4640
passing sudo_user as var.

[code]

[2013-10-23 23:42] steverweber commented on #4640
If i were to attempt a patch I would try in `runner/__init__.py`

[code]

[2013-10-24 00:12] mpdehaan commented on #4657
There are already some bugs on authorized_keys we know about on devel now -- yep --  we are going to remove the logic that makes it understand commas and make sure it is not special cased for with_items.

cc @jimi-c

[2013-10-24 00:14] mpdehaan commented on #4659
Perhaps we should just modify it so scripts are already installed.

[2013-10-24 01:23] candeira opened #4661 "lookup plugin adding an extra newline"
Though the topic says "with password lookup plugin", I suspect this is true of any other lookup, but I haven't checked it.

This is the result of git bisect:

[code]

This is a sample playbook:

[code]

The error Ansible prints out:

[code]

As you see, the templating inserts an extraneous \n after the result of the password lookup. I haven't been able to find where in the code, and reverting wasn

[2013-10-24 03:25] darkone23 opened #4662 "jinja2 filters no longer working after templating refactor"
Hi ansible devs,

Since the refactor to the way the template system works https://github.com/ansible/ansible/compare/0568ab...503110 several of my templates no longer work as expected.  I have isolated it to these commits, where my setup worked before the commit, it no longer works after.

My particular usage where I am experiencing this error is rather complicated so I don't have a base case to s

[2013-10-24 03:43] bennojoy commented on #4415
@jctanner as i mentioned in the previous comment, i dont see a way to implement this because the api currently does not return the users's current password(hashed or plain), so we cant check the given password and existing password are the same, if anybody has any ideas on how this could be achieved vi api's, let me know and i can give it a try.

[2013-10-24 04:34] mpdehaan commented on #4661
Sounds like you're not quite running the latest bits

See https://github.com/ansible/ansible/commit/214b0b052c3d54b58a531b0f7fb401ec3c0229f5

and let me know if that doesn't work for you.

[2013-10-24 04:37] mpdehaan commented on #4662
So, with no example actually shared, we can't reproduce this.

Please provide an example via gist or github that can help reproduce what you are seeing, and show what you would expect to see and what you get.

There's not enough info here to understand what you are describing unfortunately.

[2013-10-24 06:13] candeira commented on #4661
Thanks for the quick answer.

The problem is not that plugins don't work, but that they insert an extra newline, which breaks interpolation in templates.

Apologies for not saying the exact commit I was testing at, but it's really recent, and I do have those bits you point out:

[code]

[2013-10-24 08:39] garethrees opened #4663 "Including roles parses comments"
[code]

Results in

[code]

This works correctly:

[code]

[2013-10-24 09:14] garethrees opened #4665 "`when:` does not interpolate `item` from `with_items`"
I've raised two related issues (#4634, #4614), but I think what I'm trying to achieve has clouded the problem I'm trying to address.

[code]

Output:

[code]

Shouldn't each iteration of `item` be passed in to `when`, rather than the full list?

[2013-10-24 11:05] alinnow opened #4666 "with_items does not work with prefixes"
With a task like

[code]

Running `ansible-playbook --check` results in an error when checking the state of the second item:

[code]

The package `php54-mbstring` is actually installed, so it would appear that ansible is checking the package name incorrectly.

Changing the task to

[code]

allows the playbook to run correctly, but this isn't ideal, especially with longer lists

[2013-10-24 11:48] srgvg commented on #4663
This is expected behaviour, and how yaml is parsed.

See http://www.yaml.org/spec/1.2/spec.html#id2780069

_"Comments must be separated from other tokens by white space characters"_

[2013-10-24 12:33] dchancogne commented on #4659
That could work. But some nodejs module install a lot of dependencies. Not sure I'd want to the executable for all these dependencies to cloud my path.

[2013-10-24 13:28] ghost opened #4667 "shell command with async/poll not seeing process when it finishes"
Hey,

shell command with async/poll not seeing process when it finishes. Background we have a script that runs for over an hour that updates certs for our application. I am noticing that the script finishes but ansible does not see this.

--- Task:

[code]

--- Output:

[code]

--- ps from host

[code]

[2013-10-24 13:30] ghost opened #4668 "shell command with async/poll not seeing process when it finishes"
Hey,

shell command with async/poll not seeing process when it finishes. Background we have a script that runs for over an hour that updates certs for our application. I am noticing that the script finishes but ansible does not see this.

--- Task:
- name: apply certkit backend
  shell: echo y | /ehbackups/{{ certkit_date }}/installCertKit_ansible.sh -b >> /cctools/depot/eHealthLogs/certKits/{{ ce

[2013-10-24 16:02] briceburg commented on #4641
Got it -- thanks for looking.

Of note; issue #4642 is not a duplicate of this bug, and shows different and much stranger behavior, although perhaps the fix for this issue will address both.

This issue deals with "vars" definitions (<role>/vars/main.yml); while #4642 deals with "default" definitions (<role>/defaults/main.yml). Defaults work as expected (meaning the dependent roles use their own d

[2013-10-24 16:26] jimi-c commented on #4663
Thanks @sergevanginderachter, we'll go ahead and close this. @garethrees if you run into any other similar issues, please let us know. Thanks!