[2018-08-07 14:58] NikiSchlifke commented on #43778
Thanks I'll ask in IRC. Of course it would be a jinja2 extension of which ansible already has a bunch of it's own additional filters.
To argue for it, ansible's use of jinja2 isn't strictly it's original use case since we use jinja2 syntax inside our playbook/role/task YAML - inside strings.
This is rather specific and does away with the practicality of using the file structure of the template for

[2018-08-07 15:00] euphy92 opened #43782 "ec2_asg adding Service-Linked Role"
##### SUMMARY

AWS has added Service-Linked Role to Auto Scaling Groups and we should be able to add these roles when creating auto scaling groups through the module.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ec2_asg

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

N/A

[2018-08-07 15:59] jg159357 commented on #38264
+1 for port selection.  Don't care about how the back end does the connection, but with the REST documentation behind a paywall that may take too long to get completed.

[2018-08-07 16:18] yaplej commented on #38420
I actually got it to work.  No its not pretty.

Created a new function to separate normal commands from macros.
[code]

Send all commands through load_config_or_macro() to filter out macros to load_macro().
[code]

Took all the lines from the macro and converted it into one big blob of commands similar to how the banner command is handled.
[code]

The macro play had to get two lines quoted or else

[2018-08-07 16:41] Akasurde commented on #38955
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2018-08-07 16:41] #38955 closed, assigned to nobody

[2018-08-07 16:44] sivel commented on #43780
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-07 16:44] #43780 closed, assigned to nobody

[2018-08-07 16:47] Nirkus opened #43787 "gluster_volume fails on non-string values in options"
##### SUMMARY
Module `gluster_volume` fails on non-string values (int, bool, ..?) in `options`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
module gluster_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Controller is Debian 9 ("stretch").
Servers configured for glusterfs are CentOS 7.5 using glusterfs 3.12.

##### STEPS TO REPRODUCE

defaultls
[code

[2018-08-07 16:50] sivel commented on #43770
This behavior is determined by a list of extensions to consider, which is defined in `ansible.playbook.role.Role._load_role_yaml`

The default order of priority is: `['.yml’, ‘.yaml’, ‘.json’]`

1. `.yml`
1. `.yaml`
1. `.json`

As such, we will first look for `main.yml`, and if found, will continue no further.

This is done to allow users to use their preferred extension naming.

If you have furth

[2018-08-07 16:50] #43770 closed, assigned to nobody

[2018-08-07 16:52] sivel commented on #43777
Please provide us with a sample .zip file that reproduces this behavior.

needs_info

[2018-08-07 16:53] kinghrothgar opened #43788 "Hostnames with non-ASCII chars cause template module to fail"
##### SUMMARY

Running template module on a computer with a hostname that contains non-ASCII chars such as `’` causes template module to fail with useless error of:

``` fatal: [localhost]: FAILED! => {"changed": false, "msg": "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 4: ordinal not in range(128)"}```

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

template

####

[2018-08-07 16:53] sivel commented on #43763
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-07 16:53] #43763 closed, assigned to nobody

[2018-08-07 16:54] sivel commented on #43757
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-07 16:54] #43757 closed, assigned to nobody

[2018-08-07 16:55] kinghrothgar commented on #43788
The problem seem to be here in `ansible/template/__init__.py` specifically in generate_ansible_template_vars(). I'm guess there should be some escaping or such here or possibly a try block?

[code]

[2018-08-07 17:03] sivel commented on #43750
I cannot duplicate this behavior:

[code]

No idea why Atom is reporting some form of crash, but the end result is that the edited file is being saved and re-encrypted as expected.

I've tested with python 3.7.0, Atom 1.29.0, and macOS 10.13.6

needs_info

[2018-08-07 17:04] parasavelli commented on #39441
I'm facing the same issue while working with F5 firewall API.

hosts: 2507:f170:c:201:ca:e:0:5

- name: Create FastL4 Profiles
      uri:
        url: "https://{{ ansible_host }}/mgmt/tm/ltm/profile/fastl4"
        method: POST
        validate_certs: no
        user: user
        password: password
        status_code: 200
        body_format: json
        body:
          name: ANY_idle

[2018-08-07 17:18] Akasurde commented on #39441
@parasavelli What is `https_proxy` variable in your environment ?

[2018-08-07 17:28] parasavelli commented on #39441
This is what I see in .bashrc.

no_proxy="127.0.0.1,$HOSTNAME,$IP"

No http_proxy or https_proxy in environment

[2018-08-07 17:52] lcarva commented on #11594
So what is the recommendation if you do want to read a binary file into a variable, for example?

This, of course, does not work:
[code]

[2018-08-07 17:55] neilhwatson opened #43790 "execute_lambda timeout early"
##### SUMMARY
execute_lambda does not pass read_timeout to boto3. If a lambda's timeout/runtime if above 60s boto3 times out the requests.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
execute_lambda

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = yaml

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPE

[2018-08-07 18:55] syswipe commented on #43777
[test.zip](https://github.com/ansible/ansible/files/2267692/test.zip)
hi, @sivel
I attached sample file.

[2018-08-07 19:27] sivel commented on #43746
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-07 19:27] #43746 closed, assigned to nobody

[2018-08-07 19:31] jg159357 commented on #25508
I can confirm the fix in pyfg corrected the error in my code.

thanks @alvaroaleman

[2018-08-07 19:39] sivel commented on #43788
This has been resolved in https://github.com/ansible/ansible/pull/39531 and was subsequently included in the v2.5.3 release of Ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-07 19:39] #43788 closed, assigned to nobody

[2018-08-07 19:44] Shrews commented on #41829
@lingxiankong Sorry for the delay. They look great, and thanks for contributing.

[2018-08-07 20:06] #42028 closed, assigned to nobody

[2018-08-07 20:06] ryansb commented on #43735
Fixed by #43752

[2018-08-07 20:06] #43735 closed, assigned to nobody

[2018-08-07 20:25] sahkaa commented on #43637
same for me.

[2018-08-07 20:37] paulcalabro commented on #41336
👍

[2018-08-07 20:40] sivel commented on #41336
cc @alikins

[2018-08-07 20:53] john-999 commented on #14426
Why is this closed?
I have just set up a brand new server and none of the workarounds work.

[2018-08-07 21:16] jamescassell opened #43794 "seboolean module shows failure without policycoreutils"
##### SUMMARY

The `seboolean` module correctly indicates that it depends on `libselinux-python` and `libsemanage-python`.  The module performs the requested action of setting booleans with those two packages installed, but shows 'failure' exit status.  Running the module a second time with the same arguments shows 'ok'.  Installing `policycoreutils` gets rid of the error message.

##### ISSUE TYP

[2018-08-07 21:49] sdaynjax opened #43796 "BigIP_Facts error"
##### SUMMARY

Error when running playbook using the bigip_facts.py module

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_facts.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_CALLBACK_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/media/sf_f5_ansible_modules/plugins/callback']
DEFAULT_CONNECTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/plugins/connec

[2018-08-07 21:50] abadger commented on #11594
Could you give a little higher level?  What do you want me to do with the
data from the binary file?

On Tue, Aug 7, 2018, 10:52 AM Luiz Carvalho <notifications@github.com>
wrote:

[2018-08-07 22:01] gregsymons opened #43797 "encrypt_string filter to encrypt values like ansible-vault encrypt_string"
##### SUMMARY

On occasion, I want to generate a secret during a play and then persist the generated secret in a Vault encrypted file for use on future runs. It'd be nice to be able to Vault encrypt strings on the fly in a template or `content` of a `copy` without having to shell out to do it.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

[2018-08-07 22:01] dagwieers commented on #43422
@smnmtzgr I merged my rewrite of the construct_url framework. It should implement what's needed for filtering out the correct nodes. I identified a few areas where the code could be improved further, but it doesn't affect any of the current modules. Feedback appreciated!

[2018-08-07 22:43] dagwieers commented on #43412
@jmcgill298 After debugging this, it seems what we send is only one switch, not both. I think that's where comparing both seem to go wrong.
[code]
In contrast to using **aci_rest** which does not compare, but simply trusts the APIC's idempotency.
[code]
Here is the playbook I have been using to test the above:
[code]

[2018-08-07 22:47] dagwieers commented on #43412
**NOTE:** Looking into why this was not caught by our integration tests, I found this:
https://github.com/ansible/ansible/blob/devel/test/integration/targets/aci_switch_policy_vpc_protection_group/tasks/main.yml#L61-L63

[2018-08-07 23:33] jg159357 opened #43800 "fortios_ipv4_policy unusable with SSL Interfaces"
##### SUMMARY

When using fortios_ipv4_policy module to create a firewall policy, if the source interface is an ssl.XXX interface, the firewall will require you to set a group, but src_addr does not appear to parse that.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

fortios_ipv4_policy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

 I am using the update in pyFG from https://github.

[2018-08-07 23:34] dagwieers commented on #43106
In this case the value for the `access_port_selector` parameter needs to be unique, because that's the internal identifier. If you use the same in both, they will basically overwrite the same object.

If the documentation is not clear on this, please propose changes to the documentation by editing the online documentation (see **Edit this page** link on top).

Please let me know if this fixes your

[2018-08-08 00:00] willthames commented on #43637
This is usually because a different python is being run by ansible than expected (see also http://willthames.github.io/2018/07/01/connection-local-vs-delegate_to-localhost.html)

Please run using `-vvv` so that we can see the python commands being executed

[2018-08-08 01:26] dancs85 opened #43802 "azure_rm_securitygroup does not recognize ASGs"
##### SUMMARY

The azure_rm_securitygroup module does not recognize Application Security Groups. There is no way to provision NSGs with rules that contain ASG destinations/sources, and if a NSG rule is manually edited via the Portal with a rule containing a reference to an ASG, then re-running the azure_rm_securitygroup module causes an error.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[2018-08-08 01:56] MichaelSchroll opened #43803 "Support all Cloudflare RR Types in cloudflare_dns module"
##### SUMMARY
Cloudflare DNS module only supports a subset of Resource Record (RR) Types.
Cloudflare now supports more record types, such as SSHFP and TLSA among others (CAA)

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

cloudflare_dns
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

Ubuntu Linux
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##

[2018-08-08 02:14] Akasurde commented on #43730
resolved_by_pr #43738

[2018-08-08 03:08] andreaso commented on #43803
I agree.

Anything you feel like helping out with?

[2018-08-08 03:15] xuejipeng commented on #35645
I found out where my problem is，if this *.tar.gz package is finished, it's a file or some file and you use `extra_opts: "--strip-components=1"`,this error will happen, if this *.tar.gz package is finished, it's a directory, it will be ok, so you can try to delete options `extra_opts: "--strip-components=1"`

[2018-08-08 03:41] #43607 closed, assigned to nobody

[2018-08-08 03:41] #43622 closed, assigned to nobody

[2018-08-08 04:43] trishnaguha commented on #43481
resolved_by_pr https://github.com/ansible/ansible/pull/43805

[2018-08-08 04:45] trishnaguha commented on #40013
@mikewiebe @saichint Can we close this issue?

[2018-08-08 05:42] turb commented on #43766
@spender0 do you know why maven-metadata.xml cannot be found? What is listed in `https://artifactory.example.com/artifactory/libs-snapshot-local/com/foo/bar/ARTIFACTNAME/1.9.7-SNAPSHOT/`?

[2018-08-08 06:42] SystemOutPrint commented on #43595
thanks~

[2018-08-08 06:42] #43595 closed, assigned to nobody

[2018-08-08 07:09] saargrin commented on #16818
@nitzmahone thanks for the hint,i was going crazy :)

[2018-08-08 08:04] ganchandrasekaran commented on #43697
@sivel As suggested I will submit a feature request for that plugin..  This can be very useful feature for  tools that use Ansible to abstract a layer of automation..

[2018-08-08 08:12] ganchandrasekaran opened #43813 "Privileged mode failure for second task when first task doesn't need privilege mode"
##### SUMMARY

Privileged mode failure happens for second task when first task doesn't need privilege mode specified.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Say the following is a playbook task content:
1st part with module eos_command doesn't need privilege access, where as eos_vl

[2018-08-08 08:25] brandonkal commented on #43750
That is strange. Updated to Atom 1.29.0 and Ansible 2.6.2 today and this issue still remains with me.
I marked this as a regression because I believe at one point it did work.
I do not receive any sort of crash message from Atom either. So perhaps this is specific to macOS 10.12

[2018-08-08 08:47] Fred-sun commented on #25492
duplicate_of [https://github.com/ansible/ansible/issues/32143](url)

[2018-08-08 09:07] Slezhuk commented on #19966
As a workaround for this issue i have set `serial` to 1 for my playbook. This allow robust controlling when i need pause and when don't. Unfortunately running with `serial: 1` can fail to other pitfall described at https://github.com/ansible/ansible/issues/18075 - playbook may abort if any host in play is unreachable.

[2018-08-08 09:17] trishnaguha commented on #42959
resolved_by_pr https://github.com/ansible/ansible/pull/43793

[2018-08-08 09:27] stromvirvel opened #43814 "docker_container: ambiguous parameter "stop_timeout""
##### SUMMARY
I have a container that takes more time to stop than the default stop timeout of 10s. `docker run` command allows me to override this default setting on each container using `--stop-timeout`. I expected the ansible module `docker_container`s parameter `stop_timeout` to behave the same. But after checking the sources, I realized that `stop_timeout` only applies when `state: stopped` i

[2018-08-08 09:30] syswipe commented on #43777
### more info
problem occurs only with archives having MS-DOS FAT "file system or operating system of origin" attribute in header:
[code]
If this attribute equals Unix - all works fine

### Workaround for latest Solaris release:
Downgrade system unzip package:
Info-Zip 6.1c23-BETA -> Info-Zip 6.0

[2018-08-08 09:30] erdoking commented on #18197
Still occurs with Ansible 2.6.2

Unable to resolve ansible_distribution_major_version

[2018-08-08 09:34] antoineco commented on #25492
@Fred-sun it's the other way around. And the referenced issue was already marked as a dup on May, 9th.

[2018-08-08 09:37] ocasek commented on #34154
@mkrish004c What is your storage type?

[2018-08-08 09:39] Fred-sun commented on #25492
@antoineco I see, I'll pay attention later. Thanks!

[2018-08-08 09:41] Fred-sun commented on #24084
Hi @paravz This issue has open more than one years, Do you still have this question, If not, we will close it. if you still have this issue, Please update and describe the problems you are experiencing. Thanks!

[2018-08-08 09:42] virtuoz75 opened #43815 "account_name DOMAIN\xxxx[+20 characters long name] is not a valid account {win_group_membership}"
##### SUMMARY
Using win_group_membership to add an user or group with more than 20 characters does not work

##### ISSUE TYPE
 - Feature request

##### COMPONENT NAME
win_group_membership

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows Server 2016

##### STEPS TO REPRODUCE

Try simply to add a domain account more than 20 character long into a local group in the

[2018-08-08 09:44] Fred-sun commented on #24084
Now , ansible has update to 2.6.2, you can use command: "pip install ansible[azure] --upgrade" to update your ansible to try again. Thanks!

[2018-08-08 10:10] GitStorm opened #43818 "Add use_proxy parameter to win_package module"
##### SUMMARY

The win_package module permits to specify "path" as an URL. It would therefore maybe make sense to add the "use_proxy" parameter (as found in the win_get_url module).

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/

[2018-08-08 10:32] krisleech commented on #14426
Probably because it isn't possible to ask every user if the solution(s) work. Incidentally there are probably multiple different causes of the error. The person made a judgment call to close the issue.

[2018-08-08 10:36] Ivheror commented on #19584
I had the same problem and i get the solution by myself, i'm gonna tell you what's happening to me.
I get the same error and i solve it cz in the same proyect folder i had a hosts file, and for some reason, there was error so just with a rm -r hosts, i got solve it.
I expose to you if u have the same problem that i got.

Happy Christmas X) ,xoxo.

[2018-08-08 10:43] tomtastic commented on #22127
I'm having this problem also, I can test scp and sftp manually and they work fine, but Ansibles fetch module reports that they both fail : `"msg": "Failed to connect to the host via ssh: ", "unreachable": true`

Despite the fetch module task failing, the file is actually fetched!

 `ANSIBLE_DEBUG=1` :
[ansible_fetch_problem.txt](https://github.com/ansible/ansible/files/2269951/ansible_fetch_proble

[2018-08-08 11:06] tomtastic commented on #22127
Fails only when `pipelining = True` is set.

[2018-08-08 11:12] towolf commented on #42476
@willthames using the `template` lookup you either get:

*without `from_yaml`*
`msg: 'argument resource_definition is of type <type ''str''> and we were unable to convert to dict: dictionary requested, could not parse JSON or key=value' `

*with `from_yaml`*
[code]

This is reading a multi-doc YAML file, which is super-common in the Kubernetes world.

[2018-08-08 11:25] jborean93 commented on #43815
@virtuoz75 I never even knew this was an issue so thank you for bringing it to our attention. This code is shared by a few different modules so getting this to work will be important. Should hopefully have a fix sometime soon unless someone beats me to it.

[2018-08-08 11:42] davidebelloni commented on #42974
Hi,
I've a similar issue and the problem is relative to gcp_compute.py inventory plugin.

component lib/ansible/plugins/inventory/gcp_compute.py

I have the inventory.gcp.yml committed in a repos used by multiple users with different personal service accounts and I cannot have the service account path hardcoded.
With this community plugin instead I can use GOOGLE_APPLICATION_CREDENTIALS EnvVar:

h

[2018-08-08 11:45] Straevaras commented on #40564
Is there going to be a pull request for this?  I'm having to manually comment out these lines every time we update Ansible.

[2018-08-08 11:56] aparedero commented on #43637
@fabianvf I'm pretty sure I have all dependencies listed on docs.

Also, good to know the new name of the module. I'm still using v2.5 in some environments and also quich searching k8s_raw on google returns 2.5 version:
 https://docs.ansible.com/ansible/2.5/modules/k8s_raw_module.html

[2018-08-08 11:58] Straevaras opened #43821 "Cannot change MTU of vSwitch with devel version"
##### SUMMARY

Using a recent PR https://github.com/ansible/ansible/pull/43414 to fix an error (reference https://github.com/ansible/ansible/issues/42619) with vSwitch configuration, I noticed that I'm not able to update the MTU of a vSwitch if it has no NICs listed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_vswitch

##### ANSIBLE VERSION

[code]
With changes made in https://gi

[2018-08-08 12:03] willthames commented on #42476
@towolf you can do

[code]

[2018-08-08 12:06] eric-b-hymowitz opened #43822 "Allow user to break out of pause-prompt"
##### SUMMARY
A pause configured with a specific time allows the user to abort a playbook. A pause with no specific time, waiting instead for user to hit RETURN, only allows a user to hit RETURN and proceed.  A prompted pause should also allow the user to abort a playbook.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

pause

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_TI

[2018-08-08 12:07] lcarva commented on #11594
Once the content of the binary file is stored in a variable, the template example from https://github.com/ansible/ansible/issues/11594#issuecomment-121652736 could be rewritten as such:
[code]

The reason I came across this limitation of lookup-file is for a much different use case. I'm reading in file content to create a Secret object in an OpenShift cluster via [oc](https://docs.ansible.com/ansi

[2018-08-08 12:09] kassiansun commented on #43814
1. Yes, but I think option 3 is better.
2. You can refer to `docker-py` documents, but a google shows there're two options, I think we need to handle both?
    1. https://github.com/docker/docker-py/blob/master/docker/api/container.py#L383, this is for `create_container`
    2. http://docker-py.readthedocs.io/en/stable/api.html#docker.api.container.ContainerApiMixin.stop, this is for `stop`.
3. I

[2018-08-08 12:31] towolf commented on #42476
@willthames yeah, I guess.

But then I'm looking at migrating from "pipe to kubectl" to "use native k8s module", mostly to have cleaner looking playbooks and clean `changed` states.

Just being able to ref a local file with `src:` would help with that.

And I already realized that I will miss this output from `kubectl`, so it's a toss between `k8s` and native `changed` and kubectl with it's output

[2018-08-08 12:47] andrewsaraceni commented on #43815
Thanks @jborean93 and @virtuoz75.  I think allowing any accounts that `Convert-ToSID` takes in with `principal@domain` format without parsing out domain and username would solve this.  The following works in my testing with an above 20 character UPN domain account:

[code]

[2018-08-08 12:48] fabianvf commented on #42476
@towolf, I added a from_yaml_all filter that should read multidocument yaml and return a list of documents. It should be in devel right now and will come out with 2.7.

[2018-08-08 12:57] towolf commented on #42476
@fabianvf thanks for the info, waiting for 2.7 then.

A quick aside, are you envisioning a useful `--diff` output?

Some years ago I submitted several PRs for various modules to support diff mode. One mechanism is using ` diff['prepared']` to just print useful text, whenever unified diffing wouldn't be possible.

In my mind Ansible without diff mode is **a lot** less useful.

[2018-08-08 13:00] fabianvf commented on #42476
@towolf I hadn't thought about it, what changes would I need to make for diff mode to be useful?

[2018-08-08 13:04] lcarva commented on #30829
Also adding `+ '\n'` did not work for me. Possibly because I'm encoding the whole thing in base64?
[code]

My workaround was use slurp to load the file into a var:
[code]
Then I can use it as:
[code]

[2018-08-08 13:06] mundofer opened #43824 "In nxos_interface, configuring mode: layer2 in portchannel forces to change always"
##### SUMMARY
When using the nxos_interface to configure a port-channel, if I add  "mode: layer2", on every past the interface is changed, although nothing changes in the configuration. Removing that parameter make it work correctly, with changed = false.
This problem doesn't happen with Ethernet interfaces.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_interface

##### ANSIBLE VERSI

[2018-08-08 13:06] spender0 commented on #43766
@turb there is no such file and AFAIK the file is not required.
mvn cmd works well even without maven-metadata.xml
May be  maven-metadata.xml is run-time generated in new version of jfrog artifactory?
Also libs-release-local doesn't contain maven-metadata.xml as well but the "maven_artifact" module works fine in this case.

maven cmd:
mvn dependency:get -DremoteRepositories=https://artifactory.exa

[2018-08-08 13:13] mtorelli commented on #43106
Yes, what you suggest is correct.  If you use a single access_port_selector and then add only one port-block to it and then repeat that Ansible task, it will report "ok" rather than "changed".   However, it is a legitimate configuration to use a single selector and continue to add distinct port-blocks to it.  You can see from the verbose output below that the current state matches the desired stat

[2018-08-08 13:49] neilhwatson opened #43825 "AWS lambda should have option to remove ENI"
##### SUMMARY
AWS lambda module should have option to remove eni when state is absent.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

[code]

##### CONFIGURATION

DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = yaml

##### OS / ENVIRONMENT

N/A

##### EXPECTED RESULTS

When deleting an AWS lambda there should be an option to remove the ENI. At present the ENI persists for a long time

[2018-08-08 13:50] fabianvf commented on #42476
@towolf I think we are ouputting a diff (in both check and normal mode) when an object is patched/replaced, as well as the action performed (create/delete/patch/replace). Might not be documented at the moment though...

[2018-08-08 13:55] yaplej commented on #38420
I am not sure how to make it idempotent.

The difference is generated by candidate.difference() from the NetworkConfig class.  In that it has DEFAULT_COMMENT_TOKENS and includes '#'.  That is why the line '#macro keywords $DESCRIPTION' line is always detected as a difference/change.

I was able to resolve the issue with '@' being detected as a change by moving that to 'after:' in the play.  Puttin

[2018-08-08 13:55] fabianvf commented on #43637
@aparedero k8s_raw was aliased to k8s in 2.6 and the arguments to the module remain almost the same, so the transition should be painless, it will just emit warnings letting you know the alias might go away some day (not before 2.9 I think). All your existing tasks should work without modification, unless they are already working around a bug that was fixed.

[2018-08-08 13:58] #43557 closed, assigned to ganeshrn

[2018-08-08 14:16] anis016 opened #43826 "how to access the playbook_dir variable in python source code without declaring in play.yml"
##### SUMMARY

Ansible has a variable `"{{ playbook_dir }}"` that gives the playbook directory path. This can be accessed via the play.yml as an options and could be passed to the task. However, I need to access the playbook directory path `"{{ playbook_dir }}"` in the python source code without using in play.yml

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

[2018-08-08 14:24] jg159357 opened #43827 "win_power_plan is unable to change state for WIN10 1803"
##### SUMMARY

Unable to change windows power plan from any to an unselected setting.  Receive error "msg": "Failed to set the new plan: This method is not implemented in any class ",

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_power_plan

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

target machine is Windows 10 Pro 1803 build 17134.191

##### STEPS TO

[2018-08-08 14:30] sivel commented on #43826
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2018-08-08 14:30] #43826 closed, assigned to nobody

[2018-08-08 14:50] jctanner commented on #22127
@tomtastic can you file that in a new bug please?

[2018-08-08 15:06] emz00 opened #43830 ""Authentication or permission failure" in gathering facts after changing user that Ansible connects as"
##### SUMMARY
I ran a playbook on a target host, connecting as user1. I then try to re-run the playbook, connecting as user2. It fails with the following error:

[code]

This is because the directory `/tmp/ansible_CONTROLHOST_from_bashrc` already exists and is owned by user1 (where "CONTROLHOST" is the hostname of the control machine). Manually deleting that directory works around the problem.

##

[2018-08-08 15:15] sivel commented on #43813
!component =lib/ansible/modules/network/eos/eos_vlan.py

[2018-08-08 15:18] sivel commented on #43822
This issue was resolved in https://github.com/ansible/ansible/pull/40134 and subsequently included in the v2.5.4 release of Ansible.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-08 15:18] #43822 closed, assigned to nobody

[2018-08-08 15:21] #41829 closed, assigned to nobody

[2018-08-08 15:57] emonty opened #43833 "skip doesn't work with first_found lookup"
##### SUMMARY
Attempts to replace with_first_found with lookup('first_found') fail when skip: True is needed

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
first_found

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_CALLBACK_PLUGIN_PATH(/etc/ansible/ansible.cfg) = ['/etc/ansible/callback
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = ['/etc/ansible/hosts/openstack.yam
DEFAULT_INVE

[2018-08-08 16:12] emonty commented on #43833
Tried again with:

[code]

and now get:

fatal: [bridge.openstack.org]: FAILED! => {"reason": "Unable to retrieve file contents\nCould not find or access '/root/system-config/playbooks/[]' on the Ansible Controller.\nIf you are using a module and expect the file to exist on the remote, see the remote_src option"}

fatal: [bridge.openstack.org]: FAILED! => {"reason": "Unable to retrieve file conten

[2018-08-08 16:15] emonty commented on #43833
This works:

[code]

[2018-08-08 17:09] v1tal3 commented on #42636
Hey @caphrim007  any luck?

[2018-08-08 17:42] jhawkesworth commented on #43827
Not tried against win 10 but I wonder if there was a custom power plan in place already? - I can imagine that would mess up ability to switch power plans.

[2018-08-08 17:55] #42653 closed, assigned to nobody

[2018-08-08 18:04] Shrews commented on #40056
This isn't a bug as it is, indeed, how ansible works. You'd have to explicitly copy the clouds.yaml file over to the target host if you intend to use it (alternatively, specify the auth params in the playbook manually). I agree that the error message is not intuitive.

notabug

[2018-08-08 18:13] #40056 closed, assigned to nobody

[2018-08-08 18:43] jg159357 commented on #43827
This was a fresh install and the power plans are read correctly as I changed it on the guest.  Does feel like there may be something in the underlying powershell portion that doesn't behave with latest version.  Since it's throwing a "method not implemented" error when it's a change and works fine if it's just reading the current value.  I don't have any older installs to test with though.  I will

[2018-08-08 19:30] mikewiebe commented on #42959
@zakstar @benjdudas If possible can you please verify #43793 in your setup?

[2018-08-08 19:42] jvidals opened #43839 "win_psexec adds quotes and renders the syntax incorrect"
##### SUMMARY
win_psexec is failing with the following error: "The filename, directory name, or volume label syntax is incorrect." The same command was working without issue in previous versions of Ansible. After testing the command that psexec forms straight on the Windows machine via RDP I think I see what the issue is.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_psexec

##### ANS

[2018-08-08 19:53] ydbxmhc opened #43841 "pamd not accounting for flexibility of rule format"
##### SUMMARY

The pamd code uses inflexible string methods when parsing rules, so they do not account for organizational spacing using multiple consecutive spaces and/or tabs, which are defined as ok in the PAM spec.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

pamd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Our entire cfg for most jobs:
[code]

##### OS / ENVIRONMENT

N/A

##

[2018-08-08 19:58] ydbxmhc commented on #43841
as a suggested quick-fix, c.f. @ line 369
'''
    @rule_control.setter
    def rule_control(self, control):
#       if control.startswith('['):
#           control = control.replace(' = ', '=').replace('[', '').replace(']', '')
#           self._control = control.split(' ')
        complex = re.compile('^\[\s*(.+)\s*\]$').match(control)
        if complex:
           self._control = re.split( '\s+

[2018-08-08 20:04] robert-nrhl commented on #38609
It may be possible to use 4.2 sdk in RHV 4.1 but it's not in the yum repo nor is it supported by RH.
So we're just going to stop using ansible for this.

[2018-08-08 20:15] dagwieers commented on #43106
Ok, I see what you mean. In that case the module should be split into one to create the access port selector, and on to manage the ports assigned to an access port selector. We cannot make one module to manage both parents and children as absent/present doesn't indicate what it applies to.

@rsmeyers @nilloBE Can you provide advice how you want to see this work ? I guess this was incorrectly asses

[2018-08-08 20:30] saichint commented on #40013
This can be resolved/closed if we use file_pull only (file_pull = True).
Here is a sample playbook for this:
[code]

[2018-08-08 20:30] yaplej opened #43842 "ios_config lines: lookup file treated as big blob when want multiple lines"
##### SUMMARY
When including a file lookup as part of the ios_config lines: definition the results do not parse through the diff module because its treated as a big blob line instead of individual lines.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOU

[2018-08-08 20:31] ydbxmhc commented on #43841
Additional edit:
[code]

Prevents parsing of empty cell. Again, quick workaround. Still looking.

[2018-08-08 20:34] yaplej commented on #43842
Sorry my example is dependent on https://github.com/ansible/ansible/issues/38420 because that is what I am working on.  It should work the same even when used with an interface configuration.

[2018-08-08 20:34] saichint commented on #41404
@trishnaguha @mikewiebe @gundalow Is someone working on this? This is failing on our labs for all the tests where we process error messages and retry for httpapi.
Just wondering if any fix is in the cards.

[2018-08-08 20:44] paylocity-sflanders opened #43844 "win_pester module will cause powershell.exe to spin out of control with cpu and memory usage"
##### SUMMARY
It appears that the way powershell is started by ansible is not friendly to failed tests in pester.   As long as you are running the tests in a powershell session separate from the ansible one it seems to work fine.  Passing tests dont have the issue in most cases.  To keep things simple i just manually install pester on the windows host.  I tested this with versions going back to 3.

[2018-08-08 20:49] paravz commented on #24084
@Fred-sun I don't have an environment to repeat/test this again, sorry

[2018-08-08 20:57] sahkaa opened #43845 "k8s verify_ssl=no still verifies certificate."
##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

2.6

##### ACTUAL RESULTS

With ansible 2.6 and kubernetes host that is using invalid ssl with
[code]
I see
[code]

[2018-08-08 21:09] sivel commented on #43845
This is not an issue with not validating certs, the issue is that the remote host is violating SSL protocols.  If SSL isn't functioning correctly, communication cannot even begin to happen.

The error being reported is:

[code]

[2018-08-08 21:55] dglinder commented on #29201
Any update on this?

[2018-08-08 21:57] cdosborn commented on #33835
I don't see how `name` is supported except for the fact that it is no longer a syntactic error.

[2018-08-08 22:04] brianguy commented on #26190
Also related, let rekey work on all encrypted variables in a file. There doesn't seem to be a good way to rekey all the encrypted variables, which makes encrypted variables super cumbersome now that we have to rekey (will end up having script this). Even if it just spits it back out to stdout that'd be a huge help instead of modifying the variables in the file directly.

[2018-08-08 22:13] willthames commented on #42476
@fabianvf `from_yaml_all` will be super helpful (the incantation above is verging on black magic really).

@towolf, my suggestion gets you to exactly the same point as `from_yaml_all` gets you - you should be able to use `k8s_raw` with the same technique. I think using `k8s` gets you the diff though

If you need the output similar to kubectl you can always just do

[code]

where `k8s_results` is w

[2018-08-08 22:42] jborean93 commented on #43844
@paylocity-sflanders one thing you should keep in mind is that Windows places a limit on the maximum memory of a spawned WinRM process. You can view what this limit is by running `Get-Item -Path WSMan:\localhost\Shell\MaxMemoryPerShellMB` and I believe the default is `1024` (1GiB). See https://blogs.technet.microsoft.com/heyscriptingguy/2013/07/30/learn-how-to-configure-powershell-memory/ for more

[2018-08-08 22:45] dagwieers commented on #35140
There are still issues in the integration test. The following tests fail:

- '"<fvTenant name=\"anstest\" rn=\"tn-anstest\" status=\"deleted\">" in rollback_preview.diff'
The output does not appear to have `diff` output.

- '"ce2_" in rollback_rollback.sent.configImportP.attributes.fileName'
- '".tar.gz" in rollback_rollback.sent.configImportP.attributes.fileName'
The output does not have `fileNam

[2018-08-08 23:07] sahkaa commented on #43845
but kubectl and raw rest template and even browsers work fine.

[2018-08-08 23:40] mattclay commented on #43827
@dagwieers Testing Windows 10 on AWS or Azure is difficult due to licensing requirements. If you have any insights on how it could be done easily and cost effectively, let me know.

[2018-08-08 23:59] dagwieers commented on #43827
@mattclay How is Windows 10 licensing harder than any of the Windows Server products ? (I am clueless about Windows)

[2018-08-09 00:03] aponert opened #43853 "group_vars and host_vars are not correctly read"
##### SUMMARY
group_vars and host_vars are not correctly read if I follow the alternative directory structure as seen here: https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html#alternative-directory-layout

ansible/
└── inventories
    ├── production
    │   ├── group_vars
    │   │   └── all.yml
    │   └── hosts
    └── staging
        ├── group_vars
        │   └── a

[2018-08-09 00:05] paylocity-sflanders commented on #43844
Thanks for the tip but I'm pretty sure this has nothing to do with the test.  If you look at the zip, i stripped it down to one test basically with no code, just a Write-Error.  This runs with like 30 megs of memory for a split second if i run it one of the other ways.    The memory issue comes into play because it doesn't shutdown and keeps allocating memory and appears to be in some loop.   I've

[2018-08-09 00:09] saneejmc1 commented on #43667
TASK [config : Create scripts from templates] ****************************************************************************************************************
task path: /home/raul45/acv/provisioning/roles/config/tasks/copy_files.yml:3
<10.45.21.31> ESTABLISH SSH CONNECTION FOR USER: ec2-user
<10.45.21.31> SSH: EXEC ssh -C -o ControlMaster=auto -o ControlPersist=60s -o 'IdentityFile="/home/raul45/

[2018-08-09 00:14] dagwieers commented on #43412
@jmcgill298 I traced this to `get_nested_config` and `get_diff_chilren` not being able to cope with lists of children with identical keys/classes. So the matching only occurs with the first entry of a  duplicate class, and subsequent children are repeated. There must be an easier way to compare nested dicts...

[2018-08-09 00:27] #39401 closed, assigned to nobody

[2018-08-09 00:29] jborean93 commented on #43844
@paylocity-sflanders ahh sorry I should have looked into the zip file. Ansible run's each module in it's own pipeline which could be screwing up something. Would have to take a closer look and see whats happening.

[2018-08-09 00:32] saneejmc1 commented on #43667
---

- name: Create scripts from templates
  become: yes
  become_user: '{{ application_user }}'
  template:
    src: '{{ playbook_dir }}/roles/config/templates/{{ item.name }}.j2'
    dest: '{{ local_fs_dir.ddl.path }}/{{ item.name }}.ddl'
    owner: '{{ application_user }}'
    group: '{{ application_user_group }}'
    mode: '0770'
  with_items:
    - { name: 'test_table' }

test_table.j2 is bel

[2018-08-09 00:35] jamescassell commented on #43853
What command are you running that has unexpected results?

[2018-08-09 00:41] abadger commented on #43667
Is test_table.j2 valid utf8?

[2018-08-09 00:43] kassiansun commented on #43814
I think we need to mention that:

For container state I(present) I(stopped) I(started), this option will be used for updating container's configuration.
For container state I(absent) I(stopped), this option will also be used for stopping the container within the specified timeout, overriding the container configuration's I(stop_timeout)

[2018-08-09 00:47] jborean93 commented on #43667
Sounds like `test_table.j2` is ASCII encoded, `¬` is `0xAC` in ASCII and `0xC2 0xAC` in UTF-8. Because of the missing char it is seen as a malformed unicode char.

[2018-08-09 01:14] mattclay commented on #43827
@dagwieers Windows Server licenses are typically at the server/CPU/core level and are managed by AWS and Azure so we don't have to.

Windows client licenses are typically per-user with various restrictions. A special license is required for a user to run a Windows client on a cloud platform and the licenses generally do not permit allowing other users to connect to or otherwise use those Windows c

[2018-08-09 01:37] jikquantopian opened #43855 "mount module inserts duplicate filesystem into /etc/fstab"
##### SUMMARY
I have a filesystem listed in /etc/fstab. When I create a `mount` play to change the parameters for that filesystem and run it, the play adds a new line to fstab that conflicts with the old line there, rather than replacing the old line.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`mount`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Both

[2018-08-09 01:46] Fred-sun commented on #24084
Hi @paravz I have try use azure_rm_deployment's template and parameter file to deploy ,But not meet any question. This issue has open more than one years, too old. The ansible has update to 2.6.2 version, may has fixed this issue. Can we close this issue？ If meet this issue again, reopen or create new issue for tracking this issue ? Do you agree? Thanks!

[2018-08-09 02:12] Fred-sun commented on #25346
Hi @minherz This Issue has open more than one years, ansible has update to 2.6.2, do you still have this question? Could you try this issue on new ansible, maybe has been fixed. If it been fixed, we will close it, if still exist this question, Please update your yml and the issue status, I will push to resolve. Thanks!
[code]

[2018-08-09 02:31] tinohean commented on #18305
hit the same issue while using copy module , ansible 2.6

[2018-08-09 02:48] Fred-sun commented on #25352
Hi @zikalino ,This issue open more than one years, do you think it is necessary to add a parameter to get deploy VM info? if it need ,please check and fix this issue.
 On other hand, we can use "python azure_rm.py --list --pretty --resource-groups "'group name' --vm 'vm name' " to get VM status info.  The opener have no update this issue more than one years, I think we can close it. Please confirm

[2018-08-09 03:07] Fred-sun commented on #25492
Hi @zikalino, This PR [26104](https://github.com/ansible/ansible/pull/26104) has been sent, Now this need you review and approve, Could you help take a review and approve this PR to fix this issue? Thanks!

[2018-08-09 03:39] Fred-sun commented on #26195
Hi @kyliel, The issue is open more than one year, Have you discussed the solution to this and have method to deal this issue? Thanks!

[2018-08-09 03:44] gundalow opened #43858 "openvswitch_db: ovs-vsctl: "True" is not a valid boolean (use "true" or "false")"
##### SUMMARY
`test/integration/targets/openvswitch_db/tests/basic.yaml:68`

[code]

Possibly caused by https://github.com/ansible/ansible/pull/42110
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openvswitch_db

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-08-09 04:10] jborean93 commented on #43818
I probably would be against this, the only really why we support a URL is for historical reasons and we can't really remove it. If you need more advanced functions like authentication/proxy/timeout configuration I would suggest using `win_get_url` to download the package beforehand.

[2018-08-09 04:13] yaplej commented on #43842
I got this working suitably for me.

Just looping through all the module.params['lines'] and splitting them by ('\n') appending them into a new list then replacing the original.  This turns all the line imported with the file lookup into individual lines that work perfectly with the difference functionality.
[code]

The only negative might be for commands you actually need to enter as a single com

[2018-08-09 05:03] yaplej opened #43861 "ios_config #macro keywords ignored in 'macro name' command by difference()"
##### SUMMARY

When using ios_config to push out 'macro' interface templates the '#macro keywords ...' line is ignored and triggers a change for the playbook run.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### O

[2018-08-09 05:04] yaplej commented on #43861
Workaround by removing '#' from DEFAULT_COMMENT_TOKENS in module_utils/network/common/config.py.

[2018-08-09 05:12] willthames commented on #43845
@sahkaa as far as I know none of those things rule out an openssl issue

What operating system are you using? What openssl version? What pyopenssl version?

What is the result of running openssl s_client -connect $YOUR_KUBE_API:443 (where the kube api host can be seen in kubectl config view clusters

[2018-08-09 06:06] Fred-sun commented on #28392
Hi @zikalino ,Do you have follow up this issue? Could you help share your views and next step plan that how to clean-up auto create item? Thanks!

[2018-08-09 07:04] #25492 closed, assigned to nobody

[2018-08-09 07:05] yuwzho commented on #32143
resolved_by #32143

[2018-08-09 07:10] yuwzho commented on #29046
resolved_by_pr #29050

[2018-08-09 07:16] Akasurde commented on #43745
@ericwb Could you please check and let me know if this PR works for you ?

[2018-08-09 07:25] universonic opened #43865 "Ansible hangs if remote host has a NFS issue."
##### SUMMARY
Ansible hangs up forever when remote host has a failed NFS volume.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
setup module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 6.9 x86_64

##### STEPS TO REPRODUCE
1. Mount a NFS volume to a remote machine;
2. Shutdown NFS service;
3. Run `ansible -m setup <REMOTE_MACHINE>`

##### EXPECTED

[2018-08-09 07:27] justjais commented on #43705
@theodotos Thanks for logging your observation, and I have tried to reproduce the behavior with the same playbook that you have tried and on ansible version `2.5.1`. But I wasn't able to reproduce the exception error situation.

Also, as you are using `nios lookup pluggin` to get the `next_available_ip` to assign the new `host_record` with respective IP you'll have to use indexing to input the `IP

[2018-08-09 07:40] #24084 closed, assigned to nobody

[2018-08-09 07:41] paravz commented on #24084
likely fixed

[2018-08-09 07:47] #32143 closed, assigned to nobody

[2018-08-09 07:57] linnil1 opened #43867 "Trunk mode cannot work on Juniper EX3300"
##### SUMMARY

Trunk mode cannot work on Juniper EX3300

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

junos_l2_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

host:
I run on docker with image `python:2.7-slim`
and pip install ansible by myself.

devices:
Juniper EX3300
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### AC

[2018-08-09 07:58] AlPhi247 commented on #34861
hi @sivel. As Ansible 2.7 will require Python 2.7+ on the controller machine, is it an option to revive your idea of using an OrderedDict?

[2018-08-09 08:00] moepot commented on #43814
Thank you.
I'm not sure but I think updating `StopTimeout` on an existing container is not even possible. I've tested:

- creating a new container (state=present)
- updating `StopTimeout` on an existing container (state=present)
- updating `StopTimeout` on an existing container, while starting it (state=started)
- setting `StopTimeout` on an existing container, while stopping it (state=stopped)

T

[2018-08-09 08:05] #25346 closed, assigned to nobody

[2018-08-09 08:11] issmirnov commented on #39075
Did you ever find a fix? Just upgraded to bionic and python is a total mess.

[2018-08-09 08:34] turb commented on #43766
I am afraid `maven_artifact` is not (by far) a full implementation of Maven, and relies on the `maven-metadata.xml` file to lookup the snapshot files path for now.

`lib-release-local` works fine because we can guess the file path only with the parameters — it won't work with `lib-snapshot-local`.

If you know how Maven finds it out without the XML file (by listing the directory?), any PR would be

[2018-08-09 08:35] machacekondra commented on #38609
So we're just going to stop using ansible for this.

Python SDK 4.2 is available in pip for upstream use (fedora, centos, ubuntu, ...).
For a downstream use, it's available in rh-common channel on RHEL.

[2018-08-09 08:43] UntoSten opened #43870 "Ansible DNF module fails to warn about RPM scriptlet errors"
##### SUMMARY

Ansible DNF module fails to warn about RPM scriptlet failures. RPM command line tools and DNF in the CLI mode do warn when e.g. RPM package's %post section fails.

Ansible DNF module silently ignores such failures. This is a potential source for lots of confusion, and in the worst case even security related problems.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

DNF
##### A

[2018-08-09 09:00] kassiansun commented on #43814
Yes, the container will get removed and recreated with the new configuration.

[2018-08-09 09:31] Fred-sun commented on #29585
Hi @kyliel This issue has open more than 11 months, nobody update comment in recent 7 month. Do we need to keep it opening?

[2018-08-09 10:02] Fred-sun commented on #30199
Contributors want to add UDP ports to the azure module endpoint parameter, who could follow up this issue, @yuwzho @zikalino @yungezz ,Thanks !

[2018-08-09 10:07] Fred-sun commented on #30218
Hi @yuwzho If the bug has been resolved, Could we can close it ? Thanks !

[2018-08-09 10:11] Fred-sun commented on #30392
Hi @nitzmahone This is a not bug, could we can close it? Thanks!

[2018-08-09 10:17] Fred-sun commented on #31023
Hi @parmstro Thanks for your confirm!

[2018-08-09 10:28] Fred-sun commented on #31105
Hi @zikalino As has discussed how to fix this issue, Could we can close this issue? if still has any question, Please help update your point and next step plan. Thanks!

[2018-08-09 10:34] Fred-sun commented on #31237
Hi @BipinXavier Could you give more info to reproduce this issue？ If you don't have this issue, we will close it on next Monday, Thanks!

[2018-08-09 10:35] clementtrebuchet opened #43878 "The ios_l2_interface vlan_range_to_list function may not cast a null variable in integer"
##### SUMMARY

In our infrastructure we can have devices configured with a list of vlans whose string ends with a comma.

When splitting the string, the last element is then equal to None which can not be cast to integer
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_l2_interface
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server

[2018-08-09 10:53] tomtastic opened #43880 "Fetch module loses connection when pipelining is true"
##### SUMMARY
Fetch module reports failure despite success when pipelining is true.
"msg": "Failed to connect to the host via ssh: ", "unreachable": true.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
fetch

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
RHEL7.5 ru

[2018-08-09 11:03] tomtastic commented on #22127
@jctanner [43880](https://github.com/ansible/ansible/issues/43880) done.

[2018-08-09 11:24] john-999 opened #43881 "SSH user authentication fails after user creation"
##### SUMMARY
Case A: When I create a new User by running my playbook, I CAN NOT connect to the new User via ssh.
Case B: When I create a new User manually via terminal commands, I CAN connect to the new User via ssh.

##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/home/user/.ansible.cfg) = [u'/home/user/.ansible/ansible

[2018-08-09 11:27] smnmtzgr commented on #43422
So which PR/Branch should I install to test your change?

[2018-08-09 11:47] abenokraitis commented on #43755
FYI, user also referenced the following issue:
https://github.com/ansible/ansible/issues/39576

[2018-08-09 11:56] smnmtzgr commented on #43106
@dagwieers I think to seperate these functions into two modules would be the best way to solve this issue. Another solution would be to change the way "ok" or "changed" status will be found out. Here the information of @mtorelli are very helpful. All ports (port-blocks) should be considered.

[2018-08-09 12:13] lcarva opened #43882 "openshift_raw does not honor K8S_* environment variables"
##### SUMMARY
When using the `openshift_raw` module, host and api token are not read from environment variables.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openshift_raw

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Fedora 27
Python OpenShift Rest Client: openshift (0.6.2)

##### STEPS TO REPRODUCE

This does not work:
[code]
 However, this works just fine:

[2018-08-09 12:17] Akasurde commented on #43821
resolved_by_pr #43883

[2018-08-09 12:38] fabianvf commented on #43882
I think this may be fixed in 2.6.2, issue was caused by API key not being properly formatted into an authorization header

[2018-08-09 12:43] cmdrrobin opened #43884 "Timer expired after 10 seconds when gather facts"
##### SUMMARY
Timer expired after 10 seconds when gather facts on some hosts.

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gather facts on Rancher node running as CentOS.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Client: RHEL 7.5 (Maipo)
Remote: RancherOS v1.2.0

##### STEPS TO REPRODUCE
Run the playbook when it wants to gather facts it f

[2018-08-09 12:45] rgruyters commented on #43884
For the record, I don't have any issues with Ansible version 2.5.7.

[2018-08-09 12:47] justjais commented on #43658
@badnetmask Thanks for logging your request of implementation of update request in respective modules, and yes update of parameters is in roadmap and will be released with ansible `2.7` release.

[2018-08-09 13:08] NilashishC commented on #43089
Add the features in _devel_ by PR #43418

[2018-08-09 13:08] #43089 closed, assigned to NilashishC

[2018-08-09 13:30] Straevaras commented on #43821
Thank you!

[2018-08-09 13:30] #43821 closed, assigned to Akasurde

[2018-08-09 14:06] sivel commented on #43853
needs_info

[2018-08-09 14:14] amarao opened #43886 "Change of variable_start_string/variable_end_string for template module breaks ansbile variables"
##### SUMMARY
When `template` module is used with custom values for  `variable_start_string`/`variable_end_string`, any variable set to the value of another variable is left non-evaluated.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Jinja2, template module

##### ANSIBLE VERSION
I believe it affects all versions of ansible since variable_start_string/variable_end_string appearance.

####

[2018-08-09 14:26] Qalthos commented on #42912
resolved_by_pr #43829

[2018-08-09 14:28] Qalthos commented on #40566
When you get a chance, can you retest with #43885?

[2018-08-09 16:31] Akasurde commented on #43821
@Straevaras Does the PR works for you ?

[2018-08-09 16:35] mtorelli commented on #43106
You're suggesting breaking them up into something like the two json objects below?  One that creates access port selectors and associates a policy-group and a separate one that just creates port blocks inside of a given access port selector.

[code]
[code]

[2018-08-09 16:41] bcoca commented on #33835
plays and roles also have 'name' but you cannot use them in --start-at-task, that only works for 'tasks'

[2018-08-09 16:53] msilmser opened #43891 "VMware Dynamic Inventory host_filter detecting extraneous host"
##### SUMMARY
The vmware_dynamic inventory is detecting a single Windows VM which does not match any of the host filters.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_inventory.py
vmware_inventory.ini

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/opt/ansible/ansible/ansible.cfg) = [u'/opt/ansible/ansible/roles']
DEFAULT_TIMEOUT(/opt/ansible/ansible/ansible.

[2018-08-09 16:56] dilipsharma2005 opened #43892 ""module_stdout": " File \"/tmp/ansible_JBXUoo/ansible_module_ping.py" ansible 2.6.2 on Ubuntu 16.04.05 LTS."
I just installed python 3.5 and ansible 2.6.2 on Ubuntu 16.04.05 LTS.

To test things just ran my first command and getting failed with below error.
[code]

[2018-08-09 17:00] cdosborn commented on #33581
To add some clarification to my comment in a now closed [thread](https://github.com/ansible/ansible/issues/33835#issuecomment-411565654). I was expecting the name to be printed in ansible output. If it's not printed, I'm not sure what purpose it serves.

[2018-08-09 17:06] KIRY4 opened #43893 "Ansible run ad hoc command problem. SSH problem."
##### SUMMARY
Ansible ssh adhoc problems. Hi I'm newbie with ansible and git. Maybe it is wrong place to ask help with my problem if so could you please guide me where I can ask my question. I have problems with executing following command.

**When I execute following command:**
ansible 192.168.22.20 -i inventory -u vagrant -a "sudo /usr/bin/yum install kmod-oracleasm -y" -vvvv

I got errors which

[2018-08-09 17:21] #35012 closed, assigned to nobody

[2018-08-09 17:28] jdavis-douglas-co-us commented on #43891
@Akasurde I have this case opened in the RH portal. I can provide santized snippets of logs as needed here or you can directly contact me for more (that will not be posted to the public github).

[2018-08-09 17:31] msilmser commented on #43891
@Akasurde I also attached the sanitized ini file which can be found in the steps to reproduce section.

[2018-08-09 17:31] jdavis-douglas-co-us commented on #43891
Background: VCenter setup with folders - top folder is OS + subfolders for env. My ini config searches for all vm's under /Unix and is picking up a couple windows vm's that are under /Windows AND they are named the same due to a transition period to a new domain. The windows vm name shows up in the "all" but not in _meta.

[2018-08-09 17:32] jdavis-douglas-co-us commented on #43891
Testing with the lastest bits from https://github.com/ansible/ansible/commits/devel/contrib/inventory/vmware_inventory.py

[2018-08-09 17:32] gundalow commented on #43223
@mikewiebe

Been discussing this internally with others.

The `service` module (and service action plugin) both have various bits of detection code to try and identify which init system to use

* sysvinit didnt exist in 2.5 so it was using 'service' module (diff from service action) which also has it's own detection fallbacks
* In 2.5 and 2.6 can you let us know what `{{ ansible_service_mgr }}` is

[2018-08-09 17:39] jdavis-douglas-co-us commented on #43891
This only happens when there are at least two vm's with the same name that are outside of the host_filter. This is going to be a big prob for us soon as we are transitioning to a new domain structure and all windows vm's will be duplicated into the new dom under the /Windows folder (why should this script care if I'm only trying to match on "Unix" for the top level). I'll run out of tower licenses

[2018-08-09 17:45] jamescassell commented on #43853
@theq86 you need to specify your inventory file:
[code]

or specify it in your ansible.cfg file

[2018-08-09 17:58] Straevaras commented on #43821
@Akasurde Yes it does, thank you!

[2018-08-09 18:22] 1001QAdotNET opened #43896 ""Cache plugin implement a backend caching mechanism that allows Ansible to store gathered facts **or inventory source data**""
##### SUMMARY
https://docs.ansible.com/ansible/latest/plugins/cache.html?highlight=cache_plugin#using-cache-plugins

"Cache plugin implement a backend caching mechanism that allows Ansible to store gathered facts **or
inventory source data** without the performance hit of retrieving them from source."

It is not clear what is the meaning of inventory source data.
Are these vars defined in the inve

[2018-08-09 18:36] 1001QAdotNET opened #43897 "Misleading documentation, it shows that you can store vaulted passwords in INI files but it does not work"
##### SUMMARY
https://docs.ansible.com/ansible/2.6/network/getting_started/first_inventory.html#protecting-sensitive-variables-with-ansible-vault
says
Copy this output into your inventory file under [vyos:vars], which now looks like this:
[code]
that is INI style
I put that in a file by itself
and dropped that in the Inventory folder
I got this
[code]
To make it work I had to store the above using

[2018-08-09 19:08] fabianvf commented on #42476
@willthames, is there a good way for me to emit the changed status for each item in the list?

[2018-08-09 19:25] #43881 closed, assigned to nobody

[2018-08-09 19:41] artiommocrenco commented on #39075
Yes, I fixed it, can't remember how I did it exactly though.. no longer
have access to that env

On Thu, Aug 9, 2018, 11:12 Ivan Smirnov <notifications@github.com> wrote:

[2018-08-09 20:27] lcarva commented on #38722
I'm also seeing this:
[code]

The odd thing is that this was working until I mucked around with `pip install openshift==XXXX`.

[2018-08-09 20:29] dbpiv commented on #37984
I commented on #39304 directly.... But for thoroughness, I will reply here as well.

At this point, I have used the updated version 70+ times with various combinations of --extra-vars and vars_prompts.  So far I have had no issues.

Thanks for the patch @samdoran .

[2018-08-09 20:30] dagwieers commented on #43422
Now that it is merged, that would be the **devel** branch.

[2018-08-09 20:36] AlanCoding commented on #40243
Just to drop in - I'm trying to start work on hosts coming back in inconsistent order.

a test:

[code]

However, this is still artificial - they still come back in the expected order, it's just splitting hairs about whether the current group or the child group's hosts come first. I need to get a better reproducer. I don't yet have a grasp on what code path is being taken running the OP's ad hoc c

[2018-08-09 20:38] LindsayHill opened #43901 "Documentation rendering default value lists"
##### SUMMARY
Lists in docstrings are rendered in HTML and `ansible-doc` with Python Unicode-notation, e.g. `[u'!config']`. I believe it is more human-readable to render it as `['!config']`

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
`dellos10_facts`
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant - this appears in public docs site, e.g. https://docs.ansible.com/

[2018-08-09 20:44] dagwieers commented on #29201
@angystardust To me this seems to be a rounding error. If you provide a size which doesn't map on a multiple of the extent-size, the LVM tools will round it up or down to the nearest possible value. If you run it again, the new value may be higher or lower, and this will cause an error like yours.

If you would like to fix this, you need to get the extent-size, and use module extent-size on the si

[2018-08-09 21:14] manchuck commented on #40153
:+1:

[2018-08-09 21:16] manchuck commented on #40153
@lukemgriffith  How are you tagging the default instance? I cannot set the tag because the default VPC does not have a name

[2018-08-09 21:55] badnetmask commented on #38609
The incompatibility problem would go away if this bug would be fixed: https://github.com/ansible/ansible/issues/41496

[2018-08-09 22:30] CMoH commented on #25481
Just ran into this. Weird bug

[2018-08-09 22:48] ericwb commented on #43745
@Akasurde What version can I test it with?  I just upgraded to 2.6.2

[2018-08-09 22:59] willthames commented on #42476
Are you considering changing src so that it can take a list? I'm not sure I'd recommend that if only because it would be more difficult to extract the `changed` result. Using the current mechanism, along with looping over a list generated by `from_yaml_all`, would allow you to see the changed result for each item as above.

[code]

[2018-08-10 00:13] bcoca commented on #41336
i believe this was already fixed https://github.com/ansible/ansible/pull/36788

[2018-08-10 00:15] bcoca commented on #43697
we already have 'stacking' .. those that are 'aggregate' type, but those add additional output and do not take over the main output for ansible. Not sure there is a way to stack stdout ones as they just repeat the same data.

[2018-08-10 00:36] dsofeir commented on #37984
While people are waiting for the #39304 to be included in a release a simple fix to get a playbook to run is to use the `--extra-vars` option :

[code]

__Note:__

1.`target` is the name of the variable which provides the host to the playbook, you may have a different name. Look for `hosts: " {{ example }}"` in your playbook where `example` is your variable name.

2.`host.example.com` is the host

[2018-08-10 01:49] Jackyjjc opened #43909 "ec2.py does not work in python3.7"
##### SUMMARY

When i run the ec2.py script, I get the following error:
[code]
The issue is due to a change in python3.7: https://github.com/python/cpython/commit/44e6ad87340d50f48daf53b6a61138377d0d0d10#diff-6b3852636536e78a60076fbaac229f63

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

https://github.com/ansible/ansible/blob/devel/contrib/inventory/ec2.py

##### ANSIBLE VERSION

[code]

[2018-08-10 01:55] brandonkal opened #43910 "Copy of Symbolic Linked Folder Creates Subfolder in destination"
##### SUMMARY

Ansible is failing to merge symbolicly linked folders with destination. It looks like the code is assuming the symbolic linked folder is a normal file, as this creates a subfolder at the destination rather than merging the contents of the source folder and destination folder.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

copy

##### ANSIBLE VERSION

[code]

##### CONFIGURAT

[2018-08-10 01:56] Jackyjjc commented on #43909
found a related PR https://github.com/ansible/ansible/pull/43716

[2018-08-10 02:31] Akasurde commented on #43745
Fix is available in 2.7-devel and backported in Stable-2.6. Meanwhile, you can apply changes manually.

[2018-08-10 02:35] dbpiv commented on #37984
Thanks @dsofeir ...  That was established as the work around early on, however in our environment 90+% of the playbooks are manually run.  The vars_prompt just provides a method which works better for our folks who are running the playbooks on demand.

But I whole heartedly agree with your question to @samdoran.  Is there anything else we can do to help?

[2018-08-10 02:38] Akasurde commented on #38634
Closing this issue as per above comment. Please feel free to re-open if you face the issue.

[2018-08-10 02:38] #38634 closed, assigned to nobody

[2018-08-10 03:34] notonlyvandalzzz commented on #40884
Few more things to mention:
- That playbook worked before fine, w\o issues
- All devices manipulated by playbook are same in terms of hw, ios version and priv level for user
- There are four playbooks with ios_config working with that host, all four shows same error
- Tried to run pb with local root privileges and with regular user

[2018-08-10 04:09] yaplej commented on #43842
I cleaned this up a little.

Created a new function that expands blob into multiple lines.
[code]

Cleanup the lines in main() before anything else accesses them.
[code]

[2018-08-10 04:39] yungezz commented on #30199
@gregdek  could you pls add udp rule in azure_rm_securitygroup module?

[2018-08-10 05:01] #43858 closed, assigned to gdpak

[2018-08-10 05:13] DhruvBansal86 commented on #24296
Is it resolved now, as i am also facing similar issue

fatal: []: FAILED! => {"msg": "The conditional check 'result.stat.exists == false and result.stat.isdir == false' failed. The error was: error while evaluating conditional (result.stat.exists == false and result.stat.isdir == false): 'dict object' has no attribute 'stat'\n\nThe error appears to have been in '/etc/ansible/roles/deploy.yml': lin

[2018-08-10 05:34] notonlyvandalzzz commented on #40884
Sooo
Small and accurate "debugging" shows very interesting things
I've opened file named `/usr/lib/python2.7/dist-packages/ansible/plugins/cliconf/__init__.py`
On lines 48-49 ansible checks for required privileges by comparing last char of prompt with pound sign and raises an error if fails. I've slightly modified line 49:

To see what it gets as prompt.
And guess what? It shows me part of cisco c

[2018-08-10 05:39] yungezz commented on #30199
udp rule is supported in azure_rm_securitygroup module already. This issue is opened since 2014. close it for now. pls open new issue if met any problem to create udp endpoint with azure_rm_securitygroup.

[2018-08-10 05:39] #30199 closed, assigned to nobody

[2018-08-10 05:44] Fred-sun commented on #31867
Hi @zikalino Are you already looking at this question？ Can you help update the status of the issue or the next step?

[2018-08-10 05:51] Fred-sun commented on #31967
Hi @zikalino Has the issue been solved? Can you help update the status of the issue or which PR fix? Thanks!

[2018-08-10 06:17] #39235 closed, assigned to nobody

[2018-08-10 06:28] yuwzho commented on #31023
close_me

[2018-08-10 06:28] yuwzho commented on #30218
close_me

[2018-08-10 06:34] #31023 closed, assigned to nobody

[2018-08-10 06:38] GitStorm commented on #43818
Thanks Jordan. I'll use the approach you suggested then.

[2018-08-10 06:39] Fred-sun commented on #33661
Hi @liamraemclauchlan-ibboost Do you still have this issue? Could you help update the status of the problem? Thanks!

[2018-08-10 06:41] yungezz commented on #31105
from azure_virtualmachine_facts module, azure facts module will output  `curated`, try to  match input of module, due to same motivation in the issue. we'll use this as a coding guideline for new azure facts module in future. close the issue for now.

[2018-08-10 06:41] #31105 closed, assigned to nobody

[2018-08-10 06:41] #30218 closed, assigned to nobody

[2018-08-10 06:49] Fred-sun commented on #33943
Hi @charliejllewellyn  Do you have any update about this issue? If you don't have this issue, It can been closed, Thanks!

[2018-08-10 06:50] cueball23 opened #43915 "virt module is not able to undefine a domain with defined nvram file"
##### SUMMARY

Virt module is not able to undefine a domain with defined nvram file.
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

virt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

domain "example-vm-nvram" is undefined
##### ACTUAL RESULTS

[code]
The libvirt function ```undefine``` is not able to r

[2018-08-10 06:55] Fred-sun commented on #34032
Hi @zikalino Please help update the PR status. it can been merged or not? Thanks!

[2018-08-10 07:08] Fred-sun commented on #34047
Hi @kyliel @nitzmahone Could you help update the issue status？ Thanks!

[2018-08-10 07:32] #29523 closed, assigned to ganeshrn

[2018-08-10 07:38] dhoeld commented on #35286
Discovered the same issue yesterday. Will be any further progress on this issue?

[2018-08-10 08:02] seschwar commented on #29461
I can still reproduce it:

[code]

Ansible 2.5 yields the same result.

[2018-08-10 08:03] doogieho7 opened #43916 "bigip_pool_member error - merge_provider_params AttributeError: 'NoneType' object has no attribute 'get'"
##### SUMMARY

After ansible version upgrade from 2.4 to 2.6, bigip_pool_member module is not working.
below ansible playbook was worked in ansible 2.4

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_pool_member.py

##### ANSIBLE VERSION

[code]

##### PYTHON VERSION
[code]

##### LIBRARY VERSION
[code]

##### CONFIGURATION

DEFAULT_DEBUG(env: ANSIBLE_DEBUG) = False
DEFAULT_HOST_LIST(

[2018-08-10 08:28] yuwzho opened #43917 "Azure inventory cannot list vms in resource group name contains upper case"
##### SUMMARY

described in https://github.com/MicrosoftDocs/azure-docs/issues/7111

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-08-10 08:28] yuwzho commented on #43917
+label easyfix

[2018-08-10 08:30] b00tsy opened #43918 "datadog_monitor does not interpret the silenced parameter (both scope and timestamp)"
##### SUMMARY

Populating the `silenced` parameter does not have any effect on the to be muted monitor. E.g. I want to mute the monitor for 5 minutes (for a given scope) and have it unmute itself after the set duration, which can be set via the posix timestamp (and scope) given with the `silenced` parameter.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

datadog_monitor

##### ANSIBLE VERS

[2018-08-10 08:34] Fred-sun commented on #35223
Hi @GBT Could you help update the issue status? Thanks!

[2018-08-10 08:34] #42489 closed, assigned to nobody

[2018-08-10 08:42] yungezz commented on #35223
this should be fixed already. Currently, storage client is get based on cloud environment. close the issue for now, pls cut one if met any issue using it.

[2018-08-10 08:43] yungezz commented on #43917
@Fred-sun  would you like to try fixing this?

[2018-08-10 08:44] Fred-sun commented on #36076
@zikalino Could you please help update the issue? Thanks!

[2018-08-10 08:46] yungezz commented on #39352
@zikalino  HI Zim, could you help to look at the issue?

[2018-08-10 08:46] ntelisil commented on #7118
Adding an ansible-playbook parameter to ignore vaults would be a great solution.
This way the user will be able  to run playbooks that do not require sensitive data from the vaults without the need to provide (or even knowing in the first place) the passphrase.

[2018-08-10 08:46] Fred-sun commented on #36085
@zikalino Could you please help update the issue? Thanks!

[2018-08-10 08:51] imjoseangel commented on #24098
Hi! Is it fine to add the functionality to the module? I can work on it.

[2018-08-10 08:54] usharaniyerra opened #43920 "Getting Credential rejected Error when trying to win_ping to a windows host from Ansible."
##### SUMMARY

I am trying to connect to a windows host using win_ping module. Also enabled Basic and Allowencrypted True on windows hosts as well. But still i am getting the error ""ssl: the specified credentials were rejected by the server" . i am trying with the local user which is under Adminitsrator Group. And we are able to login to the windows host successfully with the same username and pa

[2018-08-10 08:54] Fred-sun commented on #36206
@zikalino Is that the same question he's talking about? if not, we can close this issue. right?

[2018-08-10 09:00] kassiansun commented on #29461
I think the correct syntax is `someimage@sha256:HASH`: https://github.com/docker/docker-py/pull/1919/files#diff-7e57bc71641fa3afd2d29af1e551cd1f

[2018-08-10 09:03] jhawkesworth commented on #24098
@imjoseangel I haven't heard of anyone working on this.  Probably worth asking on #ansible-windows irc channel just in case, but this sounds like it would be good to have this feature if you have some time to work on it.

[2018-08-10 09:15] shibumi opened #43921 "vmware_guest uses wrong interface name in os network customization"
##### SUMMARY
**vmware_guest** needs a variable for specifing the interface name or a mechanism to automatically set the right interface name in the OS network customization. I am unsure if this issue should be solved upstream in the guest additions or in the ansible module. This needs to be discussed.

##### ISSUE TYPE
*   Bug Report

##### COMPONENT NAME
**vmware_guest**

##### ANSIBLE VERSION
a

[2018-08-10 09:45] jhawkesworth commented on #43920
This kind of 'how do I' question is probably better dealt with on the google group 'ansible-project' or in the  #ansible or #ansible-windows irc channel.

However it looks to me like your group vars aren't being picked up for some reason. If the group name doesn't match for example, ansible will not picking up the windows-specific connection settings, so it wil default to trying an 'ssh' connectio

[2018-08-10 09:57] smnmtzgr commented on #43106
yep right. I think something like this could be a good way to solve this!?

[2018-08-10 10:27] justjais commented on #43657
This bug is resolved in PR #43925 in `devel`, it will be back-ported to `2.6` once merged in `devel`.

[2018-08-10 10:39] gdpak commented on #43320
@sheffner1226
Let me know if you need further help on this

[2018-08-10 10:39] #43320 closed, assigned to gdpak

[2018-08-10 10:40] nicwortel commented on #32534
Also see #11347

[2018-08-10 10:54] gdpak commented on #43645
@mfisher30 Issue is once you enter 'prefix-set' you can not issue "commit .." or any generic xr config command unless you come out of this mode by "end-set". I tried below playbook and its work fine
[code]

[2018-08-10 10:58] lukemgriffith commented on #40153
Took a fair bit of hacking, but managed it with json queries.

`
# Query all VPC's in the region
- name: "query VPC - {{ region }}"
  ec2_vpc_net_facts:
    region: "{{region}}"
  register: vpc

# Tag the default VPC
- name: "Tag default VPC - {{ region }}"
  ec2_tag:
    region: "{{region}}"
    resource: "{{vpc_id}}"
    state: present
    tags:
      Name: default-vpc
    validate_certs: "{{ va

[2018-08-10 11:04] smnmtzgr commented on #43422
I installed the ansible-devel branch and tested it but still get lagT: node also returned when doing this:

[code]

And i also still get back lagT: link when doing this:
[code]

For me it seems that the issue isnt fixed.

[2018-08-10 11:27] stalinstepin commented on #29349
Can we re-open this request. I am facing the same issue where I am not able to add a custom route to the existing route table using Ansible.

- name: Setting up custom route table.
      ec2_vpc_route_table:
          vpc_id: "{{ myvpc.vpc.id }}"
          region: us-west-1
          route_table_id: "{{my_route_tb.route_tables[0].associations[0].route_table_id}}"
          # tags:
          #   Na

[2018-08-10 11:39] #43893 closed, assigned to nobody

[2018-08-10 11:49] stalinstepin opened #43932 "ec2_vpc_route_table on AWS does not allow to add a new route to the existing route table."
##### SUMMARY

 ec2_vpc_route_table on AWS does not allow to add a new route to the existing route table even after specifically mentioning the vpc-id and the route-table-id in the Ansible playbook. It creates a new route entry which is not the requirement.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ec2_vpc_route_table

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#####

[2018-08-10 12:09] 1001QAdotNET opened #43934 "try do document what connection plugin is required by each module"
##### SUMMARY

try do document what connection plugin is required by each module
I based my work on ssh and suddenly one module required paramiko_ssh and it could not work with something else
##### ISSUE TYPE
bug

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-08-10 12:16] emz00 opened #43935 "set_fact with_dict/with_items outputs an line for every input item, even with no_log"
##### SUMMARY

A set_fact task that iterates over a dictionary (with_dict) outputs a line for every item in the dictionary. This is excessively noisy (especially as the input dictionary can be very large) and it cannot be suppressed even with no_log nor with loop_control: label. The same happens when iterating with with_items.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

set_fact

#####

[2018-08-10 12:20] 1001QAdotNET opened #43936 "Ansibe vault is kicking in without to be needed"
##### SUMMARY
Ansible is trying to use vault when there is no need for that
I suspect this is because I have encrypted passwords in a file dropped in the Inventory folder

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 18.x
##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-08-10 12:29] machacekondra commented on #41496
@badnetmask  Strange, there were no changes in Python SDK. Can you please check `/var/log/httpd/ssl_error_log` on oVirt engine machine? Also did you try if it works via `curl` or directly via Python SDK?

[2018-08-10 12:33] 1001QAdotNET commented on #43934
well I just realized that most of them have "Provider" in the description but not all of them ...
Most of the network modules (which I am interested in) have that but not all of them

[2018-08-10 12:49] jtyr commented on #43855
Thanks for opening this issue, @jikquantopian. The problem here is that your original fstab line is missing the 5th and the 6th field. This is why the mount module just [keeps](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/mount.py#L193) the line as it is and add the new one.

The fstab documentation is mentioning that the last two fields are optional (`Defaults to zero

[2018-08-10 13:04] jtyr commented on #43855
@jikquantopian Please could you test [this fixed module](https://github.com/jtyr/ansible/blob/jtyr-mount_optional/lib/ansible/modules/system/mount.py)?

[2018-08-10 13:20] Olly-Fallows opened #43940 "Some machines are UNREACHABLE due to an Authentication error"
##### SUMMARY
Testing Ansible after changing password on all machines. The password stored in the vault is correct, and can ssh onto all the machines but about half of the machines give an saying Authentication failed.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

This is the command I run changed slightly to hide the file structure and things.
```ansible-playbook -i hosts/Master/ playboo

[2018-08-10 13:26] #43748 closed, assigned to Qalthos

[2018-08-10 13:50] pffs commented on #40884
@notonlyvandalzzz If you don't pass ios_config a config via the `config` key, it will get the running config unless you set `match: none`.

I noticed that I stopped getting the traceback when I added an ios_facts play and used that to provide the config to ios_config instead of letting it get it itself, which with your debugging definitely points towards something odd with the way ios_config is ga

[2018-08-10 13:57] sebosp commented on #42179
Under some circumstances aws s3api stores/returns data that may not contain a "Filter" key, for example:
aws s3api get-bucket-lifecycle-configuration --bucket some-expiration-bucket
[code]
In my case, as a workaround, I created the expiration bucket by hand through the UI, it now contains the "Filter" key:
[code]
Also I was forced to use `prefix: ""` in the s3_lifecycle rule to get this working.
T

[2018-08-10 14:26] bcoca commented on #32534
you can easily pass a list if you add a` |join('\n')`

[2018-08-10 14:29] fabianvf commented on #42476
@willthames `src` can already take a list (in the form of a multidocument yaml file). Reason for supporting that is to make it as easy as possible to reuse existing deployment artifacts for kubernetes without needing to fiddle with them in Ansible. It's particularly useful in the case that you want to do something like this:

[code]

Where `rbac.yaml` contains all the roles + rolebindings for your

[2018-08-10 14:34] fabianvf commented on #38722
@lcarva nice find! @krathow, does the issue still occur if you use your system installation of urllib3?

Also @krathow, I don't think `ssl_ca_cert` has a default value in the kubernetes configuration object, I'll check if that's something we should be setting.

[2018-08-10 14:40] cropr commented on #33563
Don't understand why this is the intended behaviour.  If I do a archive of a single file and later I do an ansible unarchive of that archive, I get the error: 'Command \"/bin/tar\" could not handle archive.'

[2018-08-10 14:47] towolf commented on #42476
I think the most straight-forward way is to return a field `diff['prepared']` with textual info similar to kubectl. The `changed` status could be global as something like any(changed).

[2018-08-10 14:50] buggsdummy commented on #43610
$ ansible all -i stg -m authorized_key -a "user=user123 key=http://sptdops-as-1p.steel.cloud.comcast.net/keys/user123.pub manage_dir=yes validate_certs=no"
hostname.server.net | FAILED! => {
    "changed": false,
    "module_stderr": "Shared connection to hostname.server.net closed.\r\n",
    "module_stdout": "Traceback (most recent call last):\r\n  File \"/tmp/ansible_qJeB9F/ansible_module_author

[2018-08-10 14:51] buggsdummy commented on #43610
$ ansible all -i stg -m authorized_key -a "user=user123 key=http://hostname.net/keys/user123.pub manage_dir=yes validate_certs=no"
hostname.server.net | FAILED! => {
"changed": false,
"module_stderr": "Shared connection to hostname.server.net closed.\r\n",
"module_stdout": "Traceback (most recent call last):\r\n File "/tmp/ansible_qJeB9F/ansible_module_authorized_key.py", line 662, in \r\n main()\

[2018-08-10 14:54] sivel commented on #43610
Yes, this does depend on the home dir existing, but will auto create the `.ssh` dir.  I'm unsure if this module should attempt to create the homedir.

[2018-08-10 14:55] fabianvf commented on #42476
I think that's pretty close to the current behavior, with a list of items we return the global changed status, as well as a list of results that each have their own `changed` value (as well as a diff if it was patched/replaced)

[2018-08-10 15:06] bcoca commented on #43936
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is chicken/egg issue
Ansible  cannot know that the vault isn't needed, if it cannot decrypt the vault to see the variables defined

[2018-08-10 15:06] #43936 closed, assigned to nobody

[2018-08-10 15:33] #40236 closed, assigned to trishnaguha

[2018-08-10 15:33] #40705 closed, assigned to trishnaguha

[2018-08-10 15:33] #43481 closed, assigned to trishnaguha

[2018-08-10 15:33] #43627 closed, assigned to trishnaguha

[2018-08-10 15:45] fabianvf commented on #42476
@towolf the verbosity just makes ansible print whatever additional output is there (it will be in the returned output regardless, but ansible only prints a small amount of the received information at the default verbosity level). The returned diff is from [dictdiffer.diff](https://dictdiffer.readthedocs.io/en/latest/#dictdiffer.diff), which returns a list of changes where each element is a tuple i

[2018-08-10 15:48] #42912 closed, assigned to Qalthos

[2018-08-10 16:10] GElkayam commented on #29691
We are having the same issue, reproduced on Ansible 2.6.2 when launching an instance with assign_public_ip: false in a vpc subnet with Auto-assign public IPv4 addres: yes.

[code]

[2018-08-10 16:13] #42761 closed, assigned to nitzmahone

[2018-08-10 16:29] Fred-sun commented on #42640
@drogerschariot Could you help update the PR status?

[2018-08-10 16:30] #33688 closed, assigned to nobody

[2018-08-10 16:40] drogerschariot commented on #42640
Problem was with Azure for that zone, their API for searching was down. No issues with azure_rm.py

[2018-08-10 16:40] #42640 closed, assigned to nobody

[2018-08-10 16:48] buggsdummy commented on #43610
I think it'd be a good option to have if you're using an automation tool to setup user's keys. Else, that user would have to login to that server once to be able to do it. There are workarounds, but yeah just thought it'd be helpful as well. Thanks!

[2018-08-10 17:15] mattclay opened #43950 "Incorrect task name when using add_host and free strategy"
##### SUMMARY

Using `add_host` in one play followed by the `free` strategy in another play will result in all tasks of the second play being named `add_host`.

##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

add_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

main.yaml

[code]

Command: `ansible-playbook main.yaml`

#####

[2018-08-10 17:16] nitzmahone commented on #43950
At a glance, this sounds like maybe a play_iterator bug; I notice this particular sample includes only `bypass_host_loop` actions.

[2018-08-10 17:26] sivel commented on #43950
This was introduced in 9c5d40ff152a8a94dc226735ce43593ebbb10104

It seems to be related to the special casing of `free` and tracking `self._last_task_name`

[2018-08-10 17:46] mattclay commented on #43950
cc @agaffney

[2018-08-10 17:50] agaffney commented on #43950
The `free` strategy is such a PITA when working on stdout callback plugins.

[2018-08-10 17:54] mauriciodeliz commented on #35591
I have the same problem, only with VMs based on IMAGES.
Does anyone have any idea how to fix it?
The same command and the same recipe works perfectly on VMs created by the portal.

![ansible](https://user-images.githubusercontent.com/25036372/43973138-02669834-9cad-11e8-9207-a7334af17a49.JPG)

@ilseokoh Got something?

Can it be this module?

![image001](https://user-images.githubusercontent.com/2

[2018-08-10 17:56] LDSanches commented on #43555
#The similar issue occur when I try to add disk.#

#Ansible version:#

ansible 2.6.2
  config file = /home/lsanches/GIT-REDHAT/testdrive-openshift/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version =

[2018-08-10 18:03] agaffney commented on #43950
This should be fixed in #43962

[2018-08-10 18:42] badnetmask commented on #41496
It seems like there we some bad configurations in a few places which were preventing this from working. I can confirm everything is working just fine. Thank you. Sorry for the noise.

[2018-08-10 18:42] #41496 closed, assigned to nobody

[2018-08-10 18:47] AlanCoding commented on #40243
I had to follow the exact steps to reproduce, but I am reproducing this. Example output:

[code]

The truly strange thing through.... just by putting print statements in, it looks like `get_hosts` is returning in the correct order. Somewhere it gets jumbled after then.

I'm not saying that `get_hosts` always returns the right order (I think it doesn't), but this particular jumbling looks like it's

[2018-08-10 18:48] rukas opened #43975 "win_dsc fails to serialize properties into CimInstance"
##### SUMMARY

Using win_dsc results in the following error: `Failed to serialize properties into CimInstance.`

The same configuration in pure DSC works without issue:

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- win_dsc
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

From Ubuntu 16.04.2
Managing Server 2016

##### STEPS TO REPRODUCE

hosts.y

[2018-08-10 18:54] #41100 closed, assigned to ganeshrn

[2018-08-10 18:56] mfisher30 commented on #43645
Thank you for your feedback. I do see that it does work, and the end-set does force it to back out. I guess we're just used to the other Cisco modules exiting out by design and not having to force the backout.

My issue was that when the {{ prefixes }} variable is formatted as a list.  I cannot loop through a list of items without it trying to commit.  The way you had formatted the {{ prefixes }}

[2018-08-10 19:16] #43539 closed, assigned to nobody

[2018-08-10 19:35] Rukas commented on #43975
This seems to only happen with that specific DSC module so far.  I'm using a few others without issue such as:
- StorageDsc
  - OpticalDiskDriveLetter
  - WaitForDisk
  - Disk
- WindowsDefender
  - WindowsDefender

[2018-08-10 19:43] rarodrigo opened #43976 "paramiko_ssh: from_buffer() cannot return the address of the raw string within a str or unicode or bytearray object"
##### SUMMARY
Is not possible to make connection in any device using the library specific below

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

The problem is related when insert new library inside of ansible.cfg related for `usr/local/lib/python2.7/dist-packages`

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

#####

[2018-08-10 19:48] gundalow commented on #43976
Whats the new library in new library inside of ansible.cfg?

[2018-08-10 19:52] gundalow commented on #43976
Are their steps missing for `ansible.cfg` under "STEPS TO REPRODUCE"?

[2018-08-10 19:53] samccann opened #43979 "Network User Guide has a draft index page that needs updating"
##### SUMMARY

Network user guide index page is in draft and needs to be updated with an intro paragraph and TOC.

https://docs.ansible.com/ansible/latest/network/user_guide/index.html

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-08-10 19:54] gundalow commented on #43976
Think this is due to invalid `ansible.cfg`

[2018-08-10 20:09] rarodrigo commented on #43976
Don't have any assigned based in `ansible.cfg` which already.

[code]

[2018-08-10 20:34] sat1121 commented on #41774
Hi, Anyone have any thoughts of having a workaround. I can write a powershell that does that job and have the playbook cal it, but not sure if that is completely integrated in a single place.

[2018-08-10 20:50] LDSanches commented on #43555
I updated the apache-libcloud to 2.3.0.
Now is working fine.

TASK [Attaching a Docker storage: leandro01-master] ******************************************************************************************************************************************
task path: /home/lsanches/GIT-REDHAT/testdrive-openshift/create-ops.yaml:84
<127.0.0.1> ESTABLISH LOCAL CONNECTION FOR USER: root
<127.0.0.1> EXEC

[2018-08-10 20:59] sivel commented on #43976
There is an open bug report about this with paramiko: https://github.com/paramiko/paramiko/issues/1027

[2018-08-10 21:14] #43276 closed, assigned to nobody

[2018-08-10 21:48] cu commented on #40220
Probable dupe of #7372 and #19731

[2018-08-10 21:48] gundalow commented on #37886
Any ideas on this? Do we need to add a version check?

[2018-08-10 22:05] vatsalpatel9031 opened #43986 "How to check return values of entire playbook/role? ("register" at playbook/role level ?)"
##### SUMMARY
i want to know how many tasks have changed/failed after i run ansible-playbook command. is it possible? i don't want to use "register" variable after all tasks, but instead want to use directly at playbook/role level.

I have tried including roles /playbooks in to another playbook and tried storing return values using register but it says "variable not found" everytime.

Also, what i

[2018-08-10 22:55] enablex3 commented on #33321
Something I tried (and it worked) when I had this same issue:

"ansible [dev] -m command -a "whatever command" -k" The "-k" prompts you for the ssh password to the target server. This worked for me. Also, nothing complex in the hosts file just added:

"[dev]
target_server_ip"

[2018-08-10 23:42] x-yuri opened #43989 "host vars can't refer to other host vars of the same host when `hostvars` is used in a lookup"
##### SUMMARY

No way to use hostvars variable in subelements lookup when host vars refer to variables of the same host.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

hostvars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

RETRY_FILES_ENABLED(/home/yuri/.ansible.cfg) = False

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

`playbook.yml`:

[code]

`hosts`:

[code]

`host_vars

[2018-08-11 00:38] rarodrigo commented on #43976
The issue was solved and identified the problem wasn't related with paramiko and has some relation with another module.

[2018-08-11 00:38] #43976 closed, assigned to nobody

[2018-08-11 01:06] willthames commented on #42476
Running k8s with a `definition` list, I get `result.results` in the output, each item of `results` containing `changed` and `diff`, similar to what I get when I run k8s with a loop over the list. So I think `k8s` already does what you need it to.

[2018-08-11 01:11] riyoth commented on #25655
I had the same issue as @claer, I've notice that at line 142 in fortios.py the chan.settimeout is hardcoded to 5. Increasing the value fix the issue for me

Not sure, this is the solution to the problem but it might help other with this issue.

For reference, I'm running the following version:
ansible (2.6.1)
paramiko (2.4.0)
pyfg (0.50)

[2018-08-11 03:00] agowa opened #43991 "Missing documentation vault-id password script #31001"
##### SUMMARY
Missing documentation of #31001

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ansible-vault

[2018-08-11 04:00] yaplej commented on #40423
I think that the workaround I made for 'macro name' might be useful here too.
https://github.com/ansible/ansible/issues/38420

The function I wrote sends the commands in 'sendonly' mode similar to how the banner command works.  Perhaps that function could be used if "ignore_errors: yes" is set.

[2018-08-11 04:08] Akasurde commented on #43430
* https://github.com/ansible/ansible/pull/43927
* https://github.com/ansible/ansible/pull/43992

[2018-08-11 05:00] fchiorascu commented on #37886
Not a bad idea.

[2018-08-11 05:45] theodotos commented on #43705
Thanks for the suggestion @justjais. I tried indexing the first (and only) item in the list. Same result:

[code]

This is the playbook I'm using:

[code]

[2018-08-11 05:56] justjais commented on #43705
@theodotos Can you please run your play with `-vvvvv` tag and paste in the play run results.

[2018-08-11 06:39] #43950 closed, assigned to nobody

[2018-08-11 06:51] theodotos commented on #43705
Here it is:

[code]

[2018-08-11 07:49] jaccoh commented on #32534
Umm yeah.. thats what I said. But why not use normal lists instead?

[2018-08-11 08:26] ptux commented on #27617
@wrouesnel

I have created PR #43751 that implements a part of your proposal.

[2018-08-11 09:06] user318 commented on #40220
@cu In #19731 it was fixed only for remote_src=True and I was asked to file a separate bug.

[2018-08-11 09:13] user318 commented on #40220
And #7372 is about chown(). This about chmod(). And patch there compares uid/gid to figure out wether to do chown() or not. But I want to be able to have an option to skip chown/chmod completely. So one can use filesystems which do not support those operations.

[2018-08-11 09:51] resmo commented on #42942
resolved_by_pr #43994

[2018-08-11 10:17] stalinstepin commented on #43932
File: lib/ansible/modules/cloud/amazon/ec2_vpc_route_table.py is up to date in my system.  Ran a diff command for the script in the above link with the one on my system and they both are the same.

[code]

[2018-08-11 11:53] justjais commented on #43705
@theodotos Thanks for logging the verbose output, seeing the output it seems that `nios` object is not able to make connection to `nios` server that you are providing to connect. As, I am getting the respective error: `Connector' object has no attribute 'handle_exception'` when I am unable to make connection to my `nios` server.
Can you please check if you are able to login to your `nios` server v

[2018-08-11 12:29] nkakouros opened #43995 "wait_for fails if Python not installed"
##### SUMMARY

`wait_for` expects python to be installed on the target system and fails if not.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

wait_for

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Arch linux

##### STEPS TO REPRODUCE

Is this needed?

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]
As you can see, the command it tries to run is

[2018-08-11 13:37] AfolabiOlaoluwa commented on #22371
I faced the same problem today. I think the problem is with python interpreter (python 2.7). When I changed my interpreter to use python 3, it worked for me.

I made sure in my inventory file which has the host IP is defined with vars to handle interpreter as python 3

`[all:vars]
ansible_python_interpreter = /usr/bin/python3`

[2018-08-11 13:46] yaplej opened #43996 "Handle literal SYN and ? in ios_config lines"
##### SUMMARY

If you need to use a literal SYN and ? in the ios_config line the only way I found to work is by using the HEX value.  There was no way to represent the '^V' character to escape '?'.  Without '^V' first IOS will just assume your using the help system '?'.  When you use those HEX values the difference() always detects it as changed.

Originally reported here https://github.com/ansibl

[2018-08-11 13:55] theodotos commented on #43705
Yes server is up. I forgot to mention that if I maually add the IP Address everything works just fine. For example I use this playbook successfully:

[code]

The problem happens when I try to use the 'nios_next_ip' lookup.

[2018-08-11 14:48] zhangguanzhang opened #43999 "the templates module dest dir bugs"
ansible_version: ansible 2.5.4

[code]
there is the output
[code]

there is the infact
[code]
it added a layer of "haproxy.cfg" directory when i used the when

[2018-08-11 15:03] gundalow commented on #43976
What was the problem in the end?

[2018-08-11 15:34] enablex3 commented on #19584
I had the same issue until I edited my inventory file with
`[testserver]`
 `<target_ip> ansible_user=<target_domain_name> ansible_ssh_pass=<target_pass>`
Then to test:
`ansible testserver -m ping`

[2018-08-11 17:13] justjais commented on #43705
@theodotos ok that's strange, so are you able to run the `nios_next_ip` lookup as separate play and getting the list of next available IPs as output?

[2018-08-11 17:26] priyankaprabhune26 opened #44000 "When Using the Copy Module from Ansible , I Am Receiving the Error AnsibleFileNotFound?"
I'm trying to copy directory,file, zip file from remote to remote server.  I'm executing playbook from ServerC to copy files or folders from ServerA to ServerB. On the remote server file is exists, even though I'm getting error message as "Could not find or access"

TASK [transfer data from machine1 to machine2] ***************************************
An exception occurred during task execution. T

[2018-08-11 17:50] oolongbrothers commented on #42966
Hello @egee-irl ! Sorry for the long wait, my open source activities were on a hiatus during the vacation period here.

I tried to reproduce your issue, but have been unable to do so.

Looking at the code, I feel like this could be a version compatibility issue with either flatpak or python. Could you please post your flatpak version (from running `flatpak --version`)?
Maybe I can reproduce this w

[2018-08-11 18:06] ZuZuD commented on #43932
Seems like the lookup argument is missing, try with the below update:
[code]
More information on the [module documentation](https://docs.ansible.com/ansible/2.6/modules/ec2_vpc_route_table_module.html)

[2018-08-11 20:49] ElCoyote27 commented on #16874
@murthyguntuku 'setype=vxfs_t' doesn't work for me on ansible 2.x (up to and including 2.6.1).
As a workaround, I'm using 'synchronize' instead of 'copy' :(

[2018-08-11 20:51] ElCoyote27 commented on #29728
Also, as a workaround, I'm now using 'synchronize' and I've ditched 'copy'.
Synchronize -does- work with vxfs filesystems.

[2018-08-11 21:02] ElCoyote27 commented on #29728
Also, there's a BZ about improving SELinux contexts for vxfs filesystems:
https://bugzilla.redhat.com/show_bug.cgi?id=1482880
These updated packages will be in RHEL 7.6

[2018-08-11 21:27] hotstepper13 commented on #38193
There seems to be an undocumented feature which can be enabled via configuration to use internal ip addresses. I did not find the right syntax to enable `use_private_ip`so i changed the default in the script instead.

just change
`self.use_private_ip = False`

to
`self.use_private_ip = True`

In my case the issues with `synchronize` were gone afterwards.

[2018-08-11 22:08] theodotos commented on #43705
No I can run 'nios_host_record' setting the ipv4 address manually, which mean connection to the nios is good, but when I try the niox_next_ip lookup, inside nios_host_record, it fails.

[2018-08-11 22:27] nikolay-t commented on #40243
Alan, to reproduce problem caused by #37141, try to create more child groups in test_host_ordering (say 3..4). This is what I initially meant when commented in when commented on Jun 19. Not sure if that was exactly related to this issue as I don't see child groups in issue description.

Question: as this issue description does not have info about child groups, do we need to have separate issue for

[2018-08-12 05:46] priyankaprabhune26 commented on #44000
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
COPY

##### ANSIBLE VERSION
ansible 2.5.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/dev/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.6/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.6.6 (r266:842

[2018-08-12 06:22] ssato opened #44003 "[network/fortios_config] fortios_config tries to connect to a device even if file_mode == True and it fails always"
##### SUMMARY
The doc of fortios_config says that it don't connect to any device, only use `config_file' as input and Output if file_mode == True but it's not true and it tries to connect to a device even if file_mode == True.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
fortios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(Nothing was out because I did not change anything

[2018-08-12 06:25] maxbback commented on #34733
we need a simple ldap lookup module
basicaly a cn matching

[2018-08-12 07:08] #42310 closed, assigned to maxamillion

[2018-08-12 11:53] IvanovOleg commented on #38193
@hotstepper13 I've fixed it long time ago) I use private dns names taken from Azure for resolving nodes instead of ip adresses

[2018-08-12 13:31] AlanCoding commented on #40243
@nikolay-t We might not have an issue for this, but with the level of information I have about related issues so far I don't want to create one just yet, because I'm still dispositioning those.

One would think that https://github.com/ansible/ansible/issues/34861 would be the compromised ordering introduced in https://github.com/ansible/ansible/pull/37141, but the mis-matched ordering that was int

[2018-08-12 13:57] realtebo commented on #42388
If it could be usefull as use case, we use ansible in a vmware workstation ubuntu machine, using a shared folder that point to a phisical location.

Initially this mount location was created for mistake with 777 permissions. We reduced it to 755.

[2018-08-12 14:37] john-999 opened #44006 "Support One-Time Passwords (YubiKey, Google Authenticator, etc.) for strong 2FA"
##### SUMMARY
Ansible still doesn't support One-Time Passwords (OTP, such as via YubiKey or Google Authenticator) for SSH authentication. Combined with public key authentication, it would allow for strong 2FA.

However, Ansible Roles such as https://github.com/dev-sec/ansible-ssh-hardening already allow Ansible to configure SSH for this type of 2FA (i.e. by setting ```ssh_google_auth: true```)

ED

[2018-08-12 14:46] nkakouros opened #44007 "Handlers are shown with wrong task name"
##### SUMMARY

When handlers are run, they are displayed using a name from a previous task.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Arch linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect the handler to be shown with its name:

[code]

##### ACTUAL RESULTS

[code]

[2018-08-12 16:21] AfolabiOlaoluwa opened #44009 "no host match"
What am I doing wrong? *No Host Matched*. This Ansible file works well before.

When I run `ansible --list-host all`, I get a good response my host is listed.
When I ping it, I get a green ok response. But when gitlab-ci.yml runs ansible command, I get the error in the image below and ansible file will not play.

<img width="873" alt="screen shot 2018-08-12 at 17 13 19" src="https://user-images.gi

[2018-08-12 16:49] mcandre opened #44010 "Packaging module: Fink"
##### SUMMARY

Would be convenient for Ansible to offer a Fink package manager module, mostly for supporting legacy software stacks that haven't upgraded to Homebrew/MacPorts yet.

##### ISSUE TYPE

 - Feature Idea

[2018-08-12 17:12] #36363 closed, assigned to nobody

[2018-08-12 17:13] andreaso commented on #43803
I decided to start with SSHFP and TLSA records.

@MikeSchroll Feel like taking a look at the https://github.com/ansible/ansible/pull/44011 PR?

[2018-08-12 17:33] siran commented on #42388
I have set ANSIBLE_CONFIG environmental variable to teh absolute path to the ansible.cfg filename (`/path/to/ansible.cfg`), and I'm still getting the message: `[WARNING] Ansible is in a world writable directory ...`

[code]

[2018-08-12 17:36] abadger commented on #42388
If you can test that against the devel branch or one of the PRs with backports to 2.6 or 2.5, that would be great.  Otherwise, you can wait for 2.6.3 to come out and try it there.

[2018-08-12 17:50] AfolabiOlaoluwa commented on #37984
The image below is the error am getting. Its just frustrating. Can someone help me?

**playbook.yml**
[code]

**inventory file**
[code]

<img width="873" alt="screen shot 2018-08-12 at 17 13 19" src="https://user-images.githubusercontent.com/15254043/44004774-20157ed6-9e60-11e8-8a7c-0b8faf3ecd52.png">

[2018-08-12 18:39] AfolabiOlaoluwa commented on #37984
I think I will just specify Ansible version that previously worked for me instead of going latest release which is ansible-2.6.2. That works for me.

[2018-08-12 19:42] jborean93 commented on #43920
This is really a user question that should be asked on the normal channels (IRC or the mailing list). GitHub is meant for bugs in the actual code like modules not behaving correctly. It's hard to tell right now why this is happening. Some things I would try;

* Run with `-vvv` and see what username is being used to connect
* Check what type of account you used to connect, basic auth only works wit

[2018-08-12 19:42] #43920 closed, assigned to nobody

[2018-08-12 20:10] MaxCCC opened #44013 "[WARNING]: Module invocation had junk after the JSON data"
##### SUMMARY

I see the following warning while everything seems to work:
` [WARNING]: Module invocation had junk after the JSON data:   Broadcast message from root@node3.local (Sun 2018-08-12 22:07:03 CEST):    The system is going down for reboot at Sun 2018-08-12 22:08:03`
CEST!
##### ISSUE TYPE
 - don't expect the output

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

#### Configuration

[2018-08-13 00:49] egee-irl commented on #42966
Ah shoot, I'm sorry for leaving that info out! I was on Manjaro when I ran this; I'm on openSUSE now. I'll see about spinning up a VM and testing this again so we can see if it is a regression or a platform/versioning issue

[2018-08-13 02:08] mcandre opened #44015 "Packaging module: Cabal"
##### SUMMARY

Integrate Ansible with Cabal, the Haskell package manager, in order to manage things like ShellCheck without resorting to raw command line calls.

##### ISSUE TYPE

 - Feature Idea

[2018-08-13 02:09] mcandre opened #44016 "Packaging module: CEAN"
##### SUMMARY

Integrate with the CEAN package manager for Erlang, so that Erlang packages can be managed with Ansible without resorting to raw command line calls.

##### ISSUE TYPE

 - Feature Idea

[2018-08-13 02:10] mcandre opened #44017 "Packaging module: Cargo"
##### SUMMARY

Integrate with Cargo, the Rust package manager, so that Rust utilities like ripgrep can be managed by Ansible without resorting to raw command line calls.

##### ISSUE TYPE

 - Feature Idea

[2018-08-13 03:46] caphrim007 commented on #42636
@v1tal3 i ran tests on my end and it appears safe to uncomment those. I've done that as part of this PR here https://github.com/ansible/ansible/pull/44019 that merges in a number of changes for the virtual_server module as part of work for 2.7.

[2018-08-13 03:46] #42636 closed, assigned to nobody

[2018-08-13 03:47] caphrim007 commented on #42447
@ro8harp any news?

[2018-08-13 04:24] #43917 closed, assigned to nobody

[2018-08-13 04:45] caphrim007 commented on #35655
@lopf this should be fixed with this PR https://github.com/ansible/ansible/pull/44020 and will be part of Ansible 2.7

[2018-08-13 04:45] #35655 closed, assigned to nobody

[2018-08-13 04:45] caphrim007 commented on #41705
@derek-linke any update?

[2018-08-13 04:46] caphrim007 commented on #43796
@sdaynjax any update?

[2018-08-13 04:47] caphrim007 commented on #42499
@Ramneekkhurana this is by design. either specify the pool members up front to that module, or use the bigip_gtm_pool_member module to iteratively add them

[2018-08-13 04:47] #42499 closed, assigned to nobody

[2018-08-13 04:52] caphrim007 commented on #38392
closing as original issue appears to be resolved. if you have a separate issue, specifically related to the F5 Ansible modules, you can file an issue for it here https://github.com/F5Networks/f5-ansible

[2018-08-13 04:52] #38392 closed, assigned to nobody

[2018-08-13 05:44] Fred-sun commented on #25352
@zikalino Could you take a look it? azure_rm_virtualmachine task without state parameter always starting VM. Thanks!

[2018-08-13 06:07] Fred-sun commented on #26195
@kylie Could you help update the comment? who will charge this issue? Thanks!

[2018-08-13 06:14] Fred-sun commented on #28392
@zikalino Could you help update the comment? Thanks!

[2018-08-13 06:25] Fred-sun commented on #29046
@yuwzho The PR has been merged, Could we can close this issue?

[2018-08-13 06:26] #31585 closed, assigned to nobody

[2018-08-13 06:29] Fred-sun commented on #29585
@kyliel who should track this issue?

[2018-08-13 06:33] Fred-sun commented on #30056
@yuwzho @yungezz @zikalino Could you help confirm, who will tracking this issue?

[2018-08-13 06:38] Fred-sun commented on #30392
@mattclay @nitzmahone Could you help update the comments? Thanks!

[2018-08-13 06:41] Fred-sun commented on #31237
@BipinXavier Could you help update the comment? Thanks!

[2018-08-13 06:43] Fred-sun commented on #31867
@zikalino Could you help update the comment? Thanks!

[2018-08-13 06:44] Fred-sun commented on #31967
@zikalino  Could you help update the comment? Thanks!

[2018-08-13 06:57] jhawkesworth commented on #43827
The custom power plan was just a thought.
I am curious if you can set the same powerplan remotely using powercfg.exe run via `win_command`

[2018-08-13 06:58] Fred-sun commented on #33661
@liamraemclauchlan-ibboost Could you help update the comment?

[2018-08-13 07:00] #29731 closed, assigned to nobody

[2018-08-13 07:19] jadbaz opened #44056 "Disable fact gathering as a command line option"
##### SUMMARY

Is there a way to disable fact gathering at the command line?
I couldn't find this anywhere in the docs.
I'm wondering if ansible has the ability to disable fact gathering as a command line . As a use case, I sometimes want to run a tag with two or 3 tasks that don't require fact gathering and I don't want to disable it on a playbook level.
Maybe there is something I'm missing, plea

[2018-08-13 07:25] yuwzho commented on #30056
close_me

[2018-08-13 07:26] justjais commented on #43705
@theodotos I meant was that are you able to run `niox_next_ip` lookup as a separate play. But anyways can you please edit one of the ansible file and run the play again, as that will give the exact error and help to resolve the issue:
1. Check the installation path of ansible package in your system. (_for ref: seeing the verbose output of your play it seems your ansible package is installed at pat

[2018-08-13 07:38] Fred-sun commented on #33943
Hi @charliejllewellyn Are you still here? Could you help update the comment?

[2018-08-13 07:49] Fred-sun commented on #34047
@nitzmahone @kyliel Could you help update the comment? Thanks!

[2018-08-13 07:53] ptux commented on #44000
@priyankaprabhune26

your code means that copy from `/home/test/b on ServerB` to `/home/test on ServerB`

[2018-08-13 08:02] Fred-sun commented on #36076
@zikalino Could you help update the comment? Thanks!

[2018-08-13 08:03] Fred-sun commented on #36085
@zikalino Could you help update the comment? Thanks!

[2018-08-13 08:05] Fred-sun commented on #36206
@zikalino Could you help update the comment? Thanks!

[2018-08-13 08:12] Fred-sun commented on #37158
@yuwzho About this issue, do you have any other view?

[2018-08-13 08:15] Fred-sun commented on #37259
@yuwzho Could you help update the comment? Thanks!

[2018-08-13 08:21] #42942 closed, assigned to resmo

[2018-08-13 08:33] Fred-sun commented on #37934
@yuwzho Could you help take a look into this issue? Thanks

[2018-08-13 08:41] Fred-sun commented on #38141
@IvanovOleg Are you still here? Could you update your ansible to try again? Thanks!

[2018-08-13 08:44] lindeskar commented on #43796
I get the same error when running:
[code]
Seems like **provider** is ignored.

[2018-08-13 08:47] Fred-sun commented on #38431
@zikalino Could you help update the comment? Thanks!

[2018-08-13 08:48] #38141 closed, assigned to nobody

[2018-08-13 08:48] IvanovOleg commented on #38141
Fixed

[2018-08-13 09:00] ganchandrasekaran opened #44058 "ansible-playbook callback option yaml output not working"
##### SUMMARY

ansible-playbook callback option yaml not working.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible/lib/ansible/plugins/callback/yaml.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

create ansible.cfg file in a directory that has the playbook file, with following content
[defaults]
inventory = /home/admin/invent

[2018-08-13 09:04] Fred-sun commented on #39006
@zikalino Could you take a look into this issue? Thanks!

[2018-08-13 09:05] gdpak commented on #43645
@mfisher30 yes this is by design. 'with_items' will expand a task into for loop of task with each iteration built from {{ items}} . This is generic ansible behaviour and not specific to iosxr_config.

 Also we can not program prefix set by below list
[code]

Above task would cause prefix-set to be configured again with new prefix-set. So in the end you will have only last item '6.6.6.6/24' in your

[2018-08-13 09:08] Fred-sun commented on #39079
@zikalino Could you help check this issue and fix it? Thanks!

[2018-08-13 09:12] Fred-sun commented on #39352
@zikalino

[2018-08-13 09:41] AnderEnder commented on #43995
@tterranigma
What do you expect?
I am not quite understand how python code can be run without python.

[2018-08-13 09:48] Fred-sun commented on #39624
@yungezz the PR [41683](https://github.com/ansible/ansible/pull/41683) has been merged and fixed this issue, Could we can close this issue?

[2018-08-13 09:49] Fred-sun commented on #39625
@yungezz the PR [41683](https://github.com/ansible/ansible/pull/41683) has been merged and fixed this issue, Could we can close this issue?

[2018-08-13 09:55] tterranigma commented on #43995
I could expect the creation of sockets on the controller to test if ports are open for instance.

In any case, I opened the issue mainly because in the issue I linked it is implied that wait_for can work without python on the target machine.

[2018-08-13 10:02] Fred-sun commented on #39903
@joaocc Thanks for you contribute, Could you help update the comment?

[2018-08-13 10:07] Fred-sun commented on #37805
@zikalino Could you take a look into this issue? Thanks!

[2018-08-13 10:29] andydkelly commented on #23534
I had this issue trying to install pip using Easy Install on a managed VM from a host running Windows Subsystem for Linux and Ubuntu. My issue was resolved by manually installing AWS CLI on the host. This had been installed by PIP initially but was only version 1.11.13 and an upgrade via PIP would still only go as high as 1.11.13. A manual install of latest AWS CLI followed by removing the PIP ins

[2018-08-13 10:36] grahamn-gr commented on #42357
I've had the same as @mercer. I too am using an older vault and playbook and trying to run Ansible 2.6.2 from a vitualenv and it complains that `cryptography` isn't installed yet it's on my pip list:

[code]
Again installing `pycrypto` version 2.6.1 makes this error disappear.

[2018-08-13 10:36] ro8harp commented on #42447
@caphrim007
Yes, this work around is in place and works just fine. Thanks!

[2018-08-13 11:11] yungezz commented on #39625
close since test passed after bug fixing

[2018-08-13 11:11] #39625 closed, assigned to yungezz

[2018-08-13 11:15] #29046 closed, assigned to nobody

[2018-08-13 11:23] #33661 closed, assigned to nobody

[2018-08-13 11:37] freeeflyer commented on #8937
no but the doc clearly states :

[code]

[2018-08-13 11:40] f100024 opened #44061 "Ansible continue execution even if attribute is invalid"
##### SUMMARY
Ansible continue execution even if attribute is invalid; This can be pretty threatfull. For example if attribute "deletgate_to" will be ignored ansible will execute task on all configured hosts;

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible/lib/ansible/playbook/task.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUC

[2018-08-13 12:00] f100024 commented on #44061
Created PR: [44064](https://github.com/ansible/ansible/pull/44064)

[2018-08-13 12:10] theodotos commented on #43705
OK this message is more descriptive but I am most certain that there are lots of available IPs in this network:

[code]

[2018-08-13 13:02] aajdinov commented on #40425
@mbuiro The issue seemed to stem from the fact that missing `description` attribute was not being handled properly in the `hostname` and `description` auto-incrementing part of the create function.
I have fixed the issue and opened a [PR](https://github.com/ansible/ansible/pull/43538), but I am not sure when it will be merged.
There is a [1and1 standalone module](https://github.com/1and1/oneandone

[2018-08-13 13:05] FelikZ commented on #11812
This will work, but replace the whole `repo` key. There is a way to influence this behaviour by changing the merge strategy to `merge` instead of `replace`. But this will work globally for **all** configuration, while it would be nice to have an ability to change a single sub-key without changing the whole strategy.

The `key.sub_key` notation looks perfect for that, IMO.

[2018-08-13 13:13] AlanCoding opened #44065 "Hosts from sub-groups do not keep their ordering"
##### SUMMARY
A group's hosts are not returned in an ordering that is deterministic and predictable in scenarios where more than 1 group out of the group's sub-groups and itself have hosts.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/inventory/group.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Mac OS, all local actions because this has

[2018-08-13 13:13] AlanCoding commented on #40243
I was outright wrong there, #34861 is specific to the YAML inventory plugin.

Filed new issue https://github.com/ansible/ansible/issues/44065

[2018-08-13 13:29] ptux commented on #43910
if you cloud show reproducible code, I'll help you.

[2018-08-13 13:30] rgarrigue opened #44069 "Git ignore untrusted certificate option"
##### SUMMARY

One can't ignore an untrusted https certificate using git module, although git command line allows it

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes

##### OS / ENVIRONMENT

CentOS 7 VM started via vagrant init centos/7; vagrant up

And a Gitlab with a localy signed certificate, hence untrusted https

####

[2018-08-13 13:48] caphrim007 commented on #43796
@lindeskar provider **is** ignored by bigip_facts. This is known, and its not going to be fixed because bigip_facts is deprecated in 2.7 and will be removed in a later release. The alternative module to use will be bigip_device_facts.

[2018-08-13 13:49] #42447 closed, assigned to nobody

[2018-08-13 13:51] bcoca commented on #32534
because I would like to avoid adding dual 'types' to the same option and there is already a simple way to achieve what you ask for.

[2018-08-13 13:51] sivel commented on #43995
If you wish for sockets to be created on the controller, you must delegate the task to the controller.

The default mechanism for how ansible works is to ship a python file to the target host.  If the target host does not have python, the module cannot execute.

Using `delegate_to: localhost` on your `wait_for` task will get you what you want.

If you have further questions please stop by IRC or t

[2018-08-13 13:51] #43995 closed, assigned to nobody

[2018-08-13 13:54] joaocc commented on #39903
@Fred-sun We am using this to automate the creation of managed-disks to be used by AKS.
This means we only care about the disks existing: Mounting them to VMs is done dynamically by AKS, depending on whatever pods happen to be scheduled on a given kubernetes node/VM.
Plus, we get the configurations for all this from custom YAML definitions, which we already have to twist and map and filter (which

[2018-08-13 13:55] bcoca commented on #44056
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-13 13:55] #44056 closed, assigned to nobody

[2018-08-13 13:58] sivel commented on #43986
The only way to reliably determine this is via a custom callback plugin.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-13 13:58] #43986 closed, assigned to nobody

[2018-08-13 14:03] sivel commented on #44061
Closed by https://github.com/ansible/ansible/pull/42480

[2018-08-13 14:03] #44061 closed, assigned to nobody

[2018-08-13 14:03] rsmeyers commented on #43106
Yeah, most use-case we have 1-on-1 but if we wanna have more blocks into 1 access port selector, we need to make an extra module to manage the blocks and find a way to stay backwards compatible

[2018-08-13 14:06] sivel commented on #43909
Closing since we have the associated PR open: https://github.com/ansible/ansible/pull/43716

[2018-08-13 14:06] #43909 closed, assigned to nobody

[2018-08-13 14:11] sivel commented on #43886
This is unfortunately not going to be possible.  We cannot mix multiple `variable_start_string` values.  Only one will work.

Due to where you defined `foo` at, as a top level var, it cannot be immediately templated, as in the multi host situation, that value will differ per host, so it is evaluated on use.  If you used something like `set_fact` to define your var, you would get the expected outpu

[2018-08-13 14:11] #43886 closed, assigned to nobody

[2018-08-13 14:12] bcoca commented on #43830
I cannot reproduce the issue, adding sudo on the command line does not produce this error for me. Can you give exact steps to reproduce?

[2018-08-13 14:12] sivel commented on #43935
This is expected.  In a loop, each iteration of the loop is effectively a new task.  There is no functionality to suppress information completely about loops, and doing so would be misleading.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-13 14:12] #43935 closed, assigned to nobody

[2018-08-13 14:15] sivel commented on #43934
Modules do not have a 1 to 1 relationship with connection plugins, and this is on purpose.  The goal is to allow use of whatever connection meets your needs.

As such, there is no way to explicitly document this relationship.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansi

[2018-08-13 14:15] #43934 closed, assigned to nobody

[2018-08-13 14:16] krathow commented on #38722
hey, I don't know about the general behaviour of ansible and openssl, but I would say that ansible should by default make use of the system default openssl ca certificates which can be viewed like this:
#openssl version -d
OPENSSLDIR: "/etc/pki/tls"

Shouldn't this be generally the case?

[2018-08-13 14:16] sivel commented on #43940
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-13 14:16] #43940 closed, assigned to nobody

[2018-08-13 14:17] #41630 closed, assigned to nobody

[2018-08-13 14:19] #44000 closed, assigned to nobody

[2018-08-13 14:29] loop-evgeny commented on #43830
Looks like my description was a bit misleading, because sudo isn't really the issue. The problem occurs whenever I change the user that Ansible connects as, whether they have sudo access or not.

Set up a target machine that you can SSH to as two different users. Then run
[code]
The first command succeeds, but it creates a `/tmp/ansible_CONTROLHOST_from_bashrc` owned by user1. The second command t

[2018-08-13 14:33] nicwortel commented on #32534
@bcoca What about making `authorized_key` "loop aware", as per #11347? That issue was closed in 2015 because modules were in a different repository by then, but I think the issue is still relevant.

Making the module loop aware should enable the combined use of options such as "comment" and "exclusive". Right now, with newline separated keys as the only way to set a number of keys as exclusive, th

[2018-08-13 14:35] loop-evgeny commented on #43935
OK, then please consider this a feature request to add such functionality. It's not that I want to completely suppress information about the loop - I want to see that the loop runs, but output for each item in the loop is completely unnecessary in some cases, like just mapping one list/dictionary to another, without actually making changes to any target hosts. I would expect `no_log` or `label: ""

[2018-08-13 14:37] sivel commented on #44058
The `yaml` callback only outputs data in yaml format when it would have been otherwise shown.

When running `ansible-playbook` normally, you only see ok/failed/changes/etc.  To see return responses using `ansible-playbook` you need to supply `-v`.

With `-v` you will notice YAML output instead of the default.

The `yaml` callback does not work like the `json` callback where all output is converted

[2018-08-13 14:37] #44058 closed, assigned to nobody

[2018-08-13 14:50] sivel commented on #44013
This is just as warning, and per the code where this check exists:

[code]

In your case, as this is not causing any issues, it can be safely ignored.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-13 14:50] #44013 closed, assigned to nobody

[2018-08-13 15:04] f100024 commented on #44061
I've just reproduce this issue on devel  [ed29cd7f44da4db556cd4c3766071b7c3e02e0d4](https://github.com/ansible/ansible/commit/ed29cd7f44da4db556cd4c3766071b7c3e02e0d4)

[2018-08-13 15:06] #42959 closed, assigned to nobody

[2018-08-13 15:07] lindeskar commented on #43796
@caphrim007
Ah, I see!

The documentation at [docs.ansible.com](https://docs.ansible.com/ansible/latest/modules/bigip_facts_module.html) include **provider** as an available parameter. And no information about deprecation can be found.

Is there a better source for information like this?

[2018-08-13 15:10] #43645 closed, assigned to gdpak

[2018-08-13 15:10] jmcgill298 opened #44075 "IOS_USER: unable to delete `admin` account"
##### SUMMARY

ios_user module explicitly blocks removing local accounts named `admin`
The comment suggests this is not possible in ios, but that is not universally true.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected the admin

[2018-08-13 15:15] bcoca commented on #43865
This is a problem for anything that access a 'bad NFS mount' as that is a blocking system call and you cannot end/interrupt it.

You can remove the 'hardware' from the set of things ansible facts gather from the host as a workaround, this section includes the device discovery that can trigger a block on a bad NFS mount.

[2018-08-13 15:23] #44009 closed, assigned to nobody

[2018-08-13 15:27] sagarpinninti commented on #43297
Fixed in ansible 2.6.2

[2018-08-13 15:27] #43297 closed, assigned to nobody

[2018-08-13 15:27] sagarpinninti commented on #43297
Fixed in ansible 2.6.2

[2018-08-13 15:39] jdavis-douglas-co-us commented on #43891
I've added a line of code to the .py that shows what the properties are for the double prx16mb1 (vcenter vm's with the same name but are in different vcenter subfolders). A good host match example is the output for prdns0. The prx16mb1 hostname appears once in the "all" group but not in the groupby pattern groups as it doesn't match the host_filter. I'm not seeing why prx16mb1 would end up in "all

[2018-08-13 15:42] erolg opened #44077 "docker_image module doen't update image on private registry"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_image

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
Trying to push an image to a private registry with the above code:

[code]

##### EXPECTED RESULTS
When the image is already present in private registry, the code should update image from local.

##### ACTUAL RESULTS
B

[2018-08-13 15:42] abadger commented on #43892
You'll get this error if you are not finding a new enough version of python on the machine that you are managing.  What version of python is /usr/bin/python on stinger.fi?  If you have a newer version of python installed on stinger.fi but it is not located at /usr/bin/python then you need to set the path to that via ansible_python_interpreter

For your first experiments you can set that via the co

[2018-08-13 15:43] midwesttech commented on #43246
I am also seeing this same issue on Ubuntu server 14.04.5 using Ansible 2.6.2-1ppa~trusty

[2018-08-13 15:44] justjais commented on #43705
@theodotos thanks for updating the result, coming to the exception it seems correct as this exception is being received from Nios server based in the wapi call that Ansible fires.
So, even if you try to fire direct POST call from any rest-client you should receive the same error.

I'll create a PR for handling the exception from lookup call as well. Hope it helps.

[2018-08-13 15:47] abadger commented on #43892
You'll probably get better help on these introductory questions via either the mailing list or irc channel.  i'll post the information for those below.  The issue tracker is best suited for reporting bugs (if you're unsure if something is a bug you can start off on the mailing list or irc and open a ticket after someone has helped determine that something doesn't seem to be working as documented).

[2018-08-13 15:47] #43892 closed, assigned to nobody

[2018-08-13 15:49] webknjaz commented on #44017
@mcandre it's a nice idea! Here's some module examples just in case you'd want to try contributing it: https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/packaging/language :)

[2018-08-13 15:51] baronfel commented on #38786
Not to mention the option to compose current callback handlers. Eg I'd like to use the `stderr` handler to fork task failures to stderr, but I'd like to do it while keeping `yaml` handler formatting. But because the `stderr` handler imposes its own formatting this is impossible. if the `stderr` formatter just directed the output to some other writer, though....

[2018-08-13 15:51] sivel commented on #42341
I have a functional PR for this feature at https://github.com/ansible/ansible/pull/43560

I cannot find that this syntax is doing what you expect.

From displaying verbose output from curl, using a URL of `http:/some/request/path` uses `some` as the `Host` and requests `/request/path`.

Additionally curl complains about it:

[code]

[2018-08-13 15:52] caphrim007 commented on #43796
@lindeskar the reason you see provider there is because it is a argument spec that is defined in all F5 modules and we just forgot to remove it for bigip_facts. This was at a time when we first introduced the provider work and we didnt know that it was broken for SOAP modules.

It will be deprecated in Ansible 2.7. Evidence of its deprecation will be that its file name formally begins with an unde

[2018-08-13 15:59] abadger commented on #43880
We've been unable to reproduce this running to a centos7 box or running to Ubuntu16.04 using either devel or a checkout of the 2.4.2 release:

[code]

Perhaps this is something specific to the AIX sshd?  Could you try running the task against a different host to see if that might be the culprit?

needs_info

[2018-08-13 16:05] abadger commented on #43880
If it is the aix sshd... one thing that you could try is whether turning off controlpersist for the AIX host makes things work.  pipelining is a setting that affects how we transfer the modules to the remote machine... it shouldn't affect the sftp file transfer being done by fetch.  But it's possible that the AIX sshd is letting some state from our transfer of the stat module that happens before t

[2018-08-13 16:08] nikolay-t commented on #40243
Alan, thanks a lot for creating #44065!

[2018-08-13 16:18] ksubileau commented on #25265
I also encountered the same issue in version 2.5.4

[2018-08-13 16:19] ksubileau opened #44079 "win_nssm : extra space added in AppParameters"
##### SUMMARY
Under certain circumstance, the command line parameters passed to the `app_parameters_free_form` module parameter (and maybe with `app_parameters` too) may be corrupted with the addition of an extra space.
This seems to happen only when a parameter start with a dash and is followed by a period (e.g. `-Dcom.test` or `param1 -Dcom.test param2`).

##### ISSUE TYPE
- Bug Report

##### CO

[2018-08-13 16:30] ksubileau commented on #44079
I've found an undocumented workaround by surrounding the parameter with quotes, like this :
[code]
This gives the expected result without the quotes (which also means that there might be another problem with quotes : in case the user want to pass quotes to the final parameter string, they may be stripped...)

So either the issue can be fixed in order to be able to pass the parameter string as is,

[2018-08-13 16:37] celebloki commented on #37366
I thought I did respond, is there something else you're waiting on from me?

[2018-08-13 16:43] fabianvf commented on #38722
Oh I misunderstood, I also would expect it to use the system default were it present... I'll see if I can carve out some time to dig into this issue.

[2018-08-13 16:45] #28772 closed, assigned to nobody

[2018-08-13 16:46] ganeshrn commented on #37366
!needs_info Info added as part of https://github.com/ansible/ansible/issues/37366#issuecomment-404554688

[2018-08-13 16:47] alikins commented on #43884
Interesting traceback... Looks like the SIGALRM handler from facts.timeout is raising the TimeoutError when the `try/except TimeoutError` isn't in the stack, so the TimeoutError gets caught by module_utils.basic.AnsibleModule.run_command()'s `try/except` around the subprocess.Popen() call and that causes the fail_json() return before the `try/except` around get_mount_facts() ever sees it.

  The c

[2018-08-13 16:48] sagarpinninti opened #44080 "docker_container export option"
##### SUMMARY

docker_container is creating container but it would be nice to have feature to do docker export of same container.
As docker_image have an option to archive similar function in docker_container will be helpful
##### ISSUE TYPE
 - Feature Idea
docker export of container is required
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

#####

[2018-08-13 16:52] #42408 closed, assigned to nobody

[2018-08-13 16:53] samdoran commented on #37984
@dbpiv @dsofeir Thank you for verifying the fix. I was out last week on holiday. I will get #39304  merged and backported.

[2018-08-13 16:54] #37984 closed, assigned to samdoran

[2018-08-13 17:04] smithfred commented on #24425
Can someone confirm/refute this?

If it's true, then what is the current "recommended" way to use e.g. the `password_hash` filter? That seems like an obvious case for wanting to store data in a vault file/var and then pass it through a filter.

[2018-08-13 17:43] ssarraju commented on #27934
Whats the resolution for this? I have the same issue

[2018-08-13 19:01] samdoran commented on #40566
Sure thing!

[2018-08-13 19:40] samuelharmer commented on #19673
@UnitedMarsupials You might be experiencing the same thing as reported on #26362 which @bcoca wrote up as a [Possible Misunderstanding][1]. I am also here because I read [the documentation][2] and also [formed the same misunderstanding][3].

I think the description (copied below for convenience) would be better if it explained that if all hosts are unreachable (if I'm understanding @bcoca correctl

[2018-08-13 19:43] weskerfoot commented on #22967
The suggested workaround seems to break if you are trying to use pyenv as well. Pyenv expects you to give it the name of a virtualenv, not the path to one as far as I can tell.

[2018-08-13 19:51] theodotos commented on #43705
Thank you for looking into this @justjais

[2018-08-13 20:04] weskerfoot commented on #22967
@woqer @ioggstream The workaround breaks with pyenv:

`fatal: [test]: FAILED! => {"changed": false, "cmd": "/home/wes/.pyenv/bin/pyenv virtualenv 3.6.6 --system-site-packages /home/wes/.pyenv/versions/3.6.6/envs/test_venv", "failed": true, "msg": "\n:stderr: pyenv-virtualenv: no slash allowed in virtualenv name.\n"}`

[2018-08-13 20:08] Shrews commented on #43275
Odd. What versions of openstacksdk and distutils do you have installed?

[2018-08-13 20:17] #22977 closed, assigned to nobody

[2018-08-13 21:07] samdoran commented on #40566
I tested with f2211058826944a4e8e9e9b678d26615a29977b3 and the playbook run hangs indefinitely now. Also, I do not see any connection opened to the router.

[code]

Test playbook:

[code]

[code]

[2018-08-13 21:17] bcoca commented on #32534
- no module is 'loop aware' as they execute inside the loop

- as for mixing sources, just use
[code]
- agreed, comment is not very useful for this case

[2018-08-13 21:39] bcoca commented on #43830
That is not something Ansible does by default, but if you are using the hostname as tempdir path, it stands to reason this becomes a problem. Is this part of the login scripts on your host?

[2018-08-13 22:10] DrStrangepork opened #44096 "Installing Tower: The 'awx==3.2.6' distribution was not found and is required by the application"
##### SUMMARY

I am following the instructions https://docs.ansible.com/ansible-tower/latest/html/quickinstall/install_script.html
Eventually, I end up with this error:
[code]
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-tower

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Running `ansible-config dump --only-changed` results in empty output

##### OS / ENVIRONMENT

[code]

[2018-08-13 22:31] gkroon opened #44097 ""Failed to find required executable emerge in [...]""
##### SUMMARY

When using Ansible to install packages on a Gentoo system, Ansible complains that `emerge` is not found on the target system and installation cannot proceed.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

portage

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/gkroon/git/ansible/ansible.cfg) = ['/home/gkroon/git/ansible/.ansible_hosts']

##### O

[2018-08-13 22:53] DrStrangepork commented on #44096
Checking the contents of /usr/lib/python2.7/site-packages/sos/plugins/tower.py, none of the following files exist either:

- /var/lib/awx/venv/awx/bin/pip
- /var/lib/awx/venv/ansible/bin/pip
- /etc/tower/awx.key
- /etc/tower/awx.cert

My guess is there is a pip module `awx` that is supposed to be installed, but it is either not there or not installed correctly.

[2018-08-13 23:06] #29891 closed, assigned to nobody

[2018-08-13 23:18] wltjr commented on #44097
This is pretty strange, I have never seen such. Where is your ```emerge``` command? Almost seems like ```sys-apps/portage``` is not installed. I will see if I can replicate.

[2018-08-13 23:30] sivel commented on #44096
Should This Be Filed Elsewhere?
===============================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

If you can stop by the tracker or forum for one of those projects, we'd appreciate it.

https://github.com/ansible/awx

Should you still wish to discuss things further, or if you disagree with our thought process, please stop by one of our two maili

[2018-08-13 23:30] #44096 closed, assigned to nobody

[2018-08-14 00:42] hiyokotaisa commented on #35869
imo, `fail_on_missing_module: yes` should be set as default.
No module should not be `failed: false` since there is no icmp packets to sent out actually and it could be the cause of misunderstanding of the result.

We can prevent misunderstanding of that behavior by few changes on `net_ping` module.

[2018-08-14 00:44] blambo10 opened #44100 "Expand the "cluster" option for configuration management, not just provisioning"
##### SUMMARY

cluster option limited to provisioning, would like it expanded to config management.

##### ISSUE TYPE
 - Feature Idea
im looking at a use case where i specify clusters and the configuration is applied to all hosts in that cluster, host in this sense being a network host.

The "vmware_host_config_mangement" module, provides capacity to do this for hypervisors,
as this module seems t

[2018-08-14 01:16] blambo10 opened #44101 "Return cluster name as value in returned dict, if vm is within a a cluster"
##### SUMMARY

cluster value not present in response data.

##### ISSUE TYPE
 - Feature Idea
add value "cluster" to response dict,
if the vm resides within a cluster

##### COMPONENT NAME

vmware_vm_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

return cluster in the response data

##### ACTUAL RESULTS

c

[2018-08-14 01:52] darkn3rd commented on #34340
I have this issue on Fedora 28:

[code]

[2018-08-14 02:07] darkn3rd commented on #13773
I had the same issue, but it was much simpler scenario, ansible 2.6.2 local connection using the same python interpreter, and I get the error.  On the Fedora 28 guest, after running `/usr/bin/dnf install -y libselinux-python`, it was fixed.

[2018-08-14 02:16] Akasurde commented on #43745
PR merged for 2.6. Fix will be available in next 2.6 release.

[2018-08-14 02:16] #43745 closed, assigned to Akasurde

[2018-08-14 02:32] edesz commented on #23530
@haridsv I tried your workaround to install the package `vim`

[code]
But I got this error about missing file permission
[code]

[2018-08-14 02:51] Fred-sun commented on #39958
@zikalino Could you help take a look into this issue? Thanks!

[2018-08-14 03:04] Fred-sun commented on #40596
@yuwzho Could you help update the issue comment? Thanks!A

[2018-08-14 03:12] Fred-sun commented on #40857
@zikalino Could you help check this issue? Thanks!

[2018-08-14 03:46] PengpengSun commented on #41133
@shibumi
I ping you at vmware/open-vm-tools#240, I need check toolsDeployPkg.log to see what's wrong on guest customization process.

[2018-08-14 03:49] PengpengSun commented on #41133
@coom
Same here, could you please share with me the /var/log/vmware-imc/toolsDeployPkg.log on customized Ubuntu16.04 VM.
And which types of VMTools is installed, OVT or official VMTools, and the VMTools version is?

[2018-08-14 05:02] HuffAndPuff commented on #39895
Having the same problem. Got around it by using "STS shennanigans" but it looks i bit crowded since I must put the parameters in the lookup.

`password: "{{ lookup('aws_ssm', password_ssm_secret, region='MYREGION', aws_secret_key=deploy_aws_secret, aws_access_key=deploy_aws_key, aws_security_token=deploy_aws_token) }}"`

There are already a lot of AWS ..._facts modules like `cloudformation_facts`,

[2018-08-14 05:13] haridsv commented on #23530
@edesz You are trying to install system package as a regular user, which is why you are seeing the permissions issues. What is the error you are trying to workaround?

[2018-08-14 05:55] edesz commented on #23530
You are right. That could be it.

My issue was about undefined variable `ansible_user`. When I tried to run

`become_user: "{{ ansible_user }}"`

I got the same error as in the OP [here](https://github.com/ansible/ansible/issues/23530#issue-221327451) that `"failed": true, "msg": "the field 'args' has an invalid value, which appears to include a variable that is undefined. The error was: 'ansible_

[2018-08-14 05:58] Fred-sun commented on #42104
@zikalino Could you help update the issue status?

[2018-08-14 06:03] Fred-sun commented on #42215
@zikalino Could you help update the Issue status? Thanks!

[2018-08-14 06:05] #43582 closed, assigned to NilashishC

[2018-08-14 06:05] #43654 closed, assigned to NilashishC

[2018-08-14 06:17] Fred-sun commented on #42414
@yungezz Could you help update the issue status? Thanks!

[2018-08-14 06:25] Fred-sun commented on #42497
@zikalino Could you help update the issue status?

[2018-08-14 06:41] haridsv commented on #23530
@edesz Right, you should be able to get past this error by just removing `become_user`.

[2018-08-14 06:45] realtebo opened #44108 "Failed to update apt cache"
##### SUMMARY

Failed to update apt cache, due to controlled machine unable to resolve hostname of itself

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No settings changed

##### OS / ENVIRONMENT

Controller:
`
Linux ubuntulocal 4.15.0-30-generic #32-Ubuntu SMP Thu Jul 26 17:42:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
`
Controlled

[2018-08-14 06:52] sk1988 commented on #39842
Hello, this turned out to be an issue with AAA/TACACS server which was old.  I am not seeing this issue ever since we upgraded to new hardware.  This issue can be closed.

[2018-08-14 06:52] #39842 closed, assigned to ganeshrn

[2018-08-14 07:07] koladiya commented on #37991
I don't have any ios-xe switches at moment. I can't check it now.

[2018-08-14 07:15] gkroon commented on #44097
Thanks for your reply. I'm pretty confident `sys-apps/portage`is installed:

[code]

[2018-08-14 07:30] Akasurde commented on #43803
@MikeSchroll Could you please check #44011 and let us know if it works for you ? Thanks

needs_info

[2018-08-14 07:30] Akasurde commented on #43803
resolved_by_pr #44011

[2018-08-14 07:34] zikalino commented on #42497
@IvanovOleg so from what you are saying this is not really Ansible issue. Should this issue be closed?

[2018-08-14 07:40] Fred-sun commented on #43195
@zikalino Could you help update the issue status?

[2018-08-14 07:40] oolongbrothers commented on #42966
Too bad.
I could try that as well. Does Manjaro have flatpak pre-installed?
Is it working for you now on openSUSE then?

[2018-08-14 08:00] loop-evgeny commented on #43830
I can't find anything like that in a login script. Both the control machine and the target machine are fairly standard Ubuntu. I can't find "from_bashrc" anywhere and the "ansible_" part of the path implies that this is configured in Ansible somewhere. My ansible remote_tmp is not overridden. Where does Ansible get that path from?

[2018-08-14 08:11] geertn444 opened #44111 "ios_config always reruns "clock summer-time" command"
##### SUMMARY

Ansible always reruns the command (changed) although the line is present literally in the config.
I don't know why. Is it because the line contains "-" or ":" characters ?
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Tower vagrant
##### STEPS TO REPRODUCE

sh run | i summer-time

[2018-08-14 08:19] Fred-sun commented on #43416
@zikalino Could you have take a look this issue? create VM not auto create storage account. Thanks!

[2018-08-14 08:22] #39228 closed, assigned to trishnaguha

[2018-08-14 08:25] Fred-sun commented on #43544
@zikalino Could you help check this issue?

[2018-08-14 08:53] #42497 closed, assigned to zikalino

[2018-08-14 09:28] geertn444 commented on #44111
another issue: match "exact" seems too strict.
For example, the simple line "ntp authenticate" always fails with "match: exact" but passes with "match: line".
I am running this on a Cat9500 platform, running IOS_XE 16.06.03

For the line "clock summer-time", even "match: line" fails.

[2018-08-14 09:59] justjais commented on #42937
Issue resolved in `devel` and backported to `2.6`, queued for next release.

[2018-08-14 09:59] #42937 closed, assigned to justjais

[2018-08-14 10:05] Fred-sun commented on #37903
@zikalino the PR has been merged, Could we can close this issue?

[2018-08-14 10:34] cmendible commented on #38973
Hi @spmp as a work around I'm using Ansible's 2.6 new azure_rm_resource module to perform this task instead of using the azure cli. Check my post: [Accepting Azure Marketplace Terms with Ansible](https://carlos.mendible.com/2018/08/14/accepting-azure-marketplace-terms-with-ansible/)

[2018-08-14 11:26] pulluruvishweshwar opened #44116 "Application Deployment through ansible on ibmwas"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-08-14 11:51] resmo commented on #32791
resolved_by_pr #40737

[2018-08-14 11:55] #32791 closed, assigned to nobody

[2018-08-14 12:05] AnthonyShahine21 opened #44117 "Mikrotik - "paramiko.transport""
##### SUMMARY

I'm trying to re-create a Bridge interface on Mikrotik router using the "raw"
I tried the command directly on Mikrotik and i got this output
"failure: already have device with such name"

However, using the "raw"  i saw the below
"No handlers could be found for logger "paramiko.transport" "
without any output

##### ISSUE TYPE
 - Bug Report
 - no output
##### COMPONENT NAME
raw
####

[2018-08-14 12:32] balonik commented on #43884
I am hitting this issue as well on Oracle Linux 7.5 with Ansible 2.6.2

[2018-08-14 12:51] Qalthos commented on #40566
Hey, it looks to me like you've instead checked out the commit directly _before_ that one...

You should be fine with devel instead, though I appreciate the thoroughness

[2018-08-14 12:55] gurdipedos commented on #42104
Any update on this issue?

[2018-08-14 13:17] #44116 closed, assigned to nobody

[2018-08-14 13:18] AnthonyShahine21 commented on #44117
The files are accurate,
Do you think is there any way to get the same output as on the Mikrotik ?

[2018-08-14 13:46] samdoran commented on #40566
I noticed I get this behavior in Ansible 2.5.1-2.5.7 as well. So it's ok in 2.6.0+ and `stable-2.6`, but hanging in `stable-2.5` and `devel`.

[2018-08-14 13:48] marwatk commented on #43845
I get an actual `CERTIFICATE_VERIFY_FAILED` when I'm trying with an invalid cert and `verify_ssl: no`

[code]

[code]

[2018-08-14 13:55] webknjaz commented on #44108
It looks like a problem with the box, not ansible.

[2018-08-14 14:17] gamuniz opened #44120 "Make Yum module handle yum locks without hanging."
##### SUMMARY

If there is a lock on yum with a similar error:

[code]

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

[2018-08-14 14:21] roostercactus opened #44121 "vmware_guest num_cpu_cores_per_socket and num_cpus best practices not allowed"
##### SUMMARY
Update the vmware_guest module to allow num_cpu_cores_per_socket and num_cpus parameters to be set according to VMware best practices and remove the hard requirement for num_cpus to be a multiple of num_cpu_cores_per_socket.

Right now the num_cpus has to be a multiple of num_cpu_cores_per_socket.  By setting this requirement you cannot follow the best practices for allocating vCPUs.

[2018-08-14 14:25] jctanner commented on #44120
Situation can be reproduced by running yum in another terminal or by creating a lock file.

[code]

[2018-08-14 14:29] samdoran commented on #40566
I am unable to reproduce the original stack trace reported in this issue so I'm going to close this.

After a lot of testing of various Ansible versions (2.5.0-2.6.2{ with various Python versions (2.7.14, 3.6.4, 3.7.0{ on different systems with different environments, I get somewhat mixed results with the task hanging indefinitely. That seems like a separate issue.

[2018-08-14 14:29] #40566 closed, assigned to Qalthos

[2018-08-14 14:29] fabianvf commented on #43845
It could also be the order in which we're building the configuration, if there's something in the kubeconfig (or wherever it's pulling the auth from) it could be overriding the verify_ssl argument...

[2018-08-14 14:38] marwatk commented on #43845
You're right, @fabianvf, if I put a print statement in before [this line](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/rest.py#L68) I can see it in `module_stdout` regardless of whether `verify_ssl` is true or false in my playbook.

[2018-08-14 14:48] wltjr commented on #44097
Thanks for checking on portage installation and emerge command presence. Not sure what could cause that. Is ansible running under some user other than root? Maybe it does not have permissions. That is about the only thing I can think of that would cause such issues. Unless maybe its broken from a python update. But I would think the output from ansible to be quite different, same for permissions.

[2018-08-14 15:03] loop-evgeny commented on #43830
I found that the control machine actually set ANSIBLE_REMOTE_TMP to this! (It was done as a workaround for another problem, I believe.) Sorry - closing this.

[2018-08-14 15:03] #43830 closed, assigned to nobody

[2018-08-14 15:05] bcoca commented on #44097
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-14 15:05] #44097 closed, assigned to nobody

[2018-08-14 15:09] webknjaz commented on #44120
Lock is there for a reason, I'm pretty sure that it's unsafe to automagically remove it.

[2018-08-14 15:12] ghost opened #44124 "netapp_e_lun_mapping "Module Failure""
##### SUMMARY
i tried to run the above mentioned module and i get "MODULE FAILURE" with return code 1

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

storage/netapp/netapp_e_lun_mapping.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

using the module provided by netapp ansible forked branch

##### OS / ENVIRONMENT

linux

##### STEPS TO REPRODUCE

run the module

[code]

##### EXPEC

[2018-08-14 15:29] rarodrigo commented on #43976
The procedure to fixed the problem executed in Ubuntu 16.04 LTS was based:

`sudo pip uninstall cryptography`
`sudo pip install paramiko`
`sudo pip install cryptography -U`

[2018-08-14 15:36] fthommen opened #44126 "List variables in inventory behave differently in jinja templates depending on location and quoting"
##### SUMMARY
list variables which are declared in the inventory are interpreted differently by jinja templates depending on where they are placed and how they are quoted: list variables following a host name have to be double quoted to be interpreted correctly, while global or group variables must not be quoted.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

template

##### ANSIBLE VERSIO

[2018-08-14 15:38] sivel commented on #44126
Duplicate of https://github.com/ansible/ansible/issues/36544

[2018-08-14 15:38] #44126 closed, assigned to nobody

[2018-08-14 15:39] sivel commented on #38454
Closing as resolved.

[2018-08-14 15:39] #38454 closed, assigned to nobody

[2018-08-14 15:51] samdoran commented on #37984
The fix for this issue has been backported to `stable-2.5` and `stable-2.6` and will be released in Ansible 2.5.8 and 2.6.3.

[2018-08-14 15:57] gabrgomes opened #44128 "Dig lookup caches results until the end of the play"
##### SUMMARY

Dig lookup uses cache until the end of the play.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

dig lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ACTION_WARNINGS(/etc/ansible/ansible.cfg) = False
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 50
DEFAULT_GATHER_SUBSET(/etc/ansible/ansible.cfg) = network,virtual
DEFAULT_GATHER_TIMEOUT(/etc/ansible/ansible.cfg) = 10
D

[2018-08-14 16:14] laurent-perrin opened #44129 "na_ontap_user module not idempotent"
##### SUMMARY
I use the na_ontap_user module to create user. I work at the first run. But if the playbook is run a second time, the module tries to change the password with the old one and get an error.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

na_ontap_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS: Ubuntu 18.04
Netapp: AFF200 with cdot 9.3

####

[2018-08-14 16:25] justjais commented on #43755
@jainnikhil30 the issue is resolved in PR #43885 and merged in `devel` and backported to `stable-2.6`. Can you please verify the behavior in `stable-2.6`/`devel` and confirm if the issue is resolved.

[2018-08-14 16:34] ebastien opened #44130 "from_json cannot take a var initialized from file lookup"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

from_json

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Docker image debian:stretch-20180716 from [Docker Hub](https://hub.docker.com/r/_/debian/).

##### STEPS TO REPRODUCE

Playbook to illustrate and reproduce the problem:
[code]

Content of test.json:
[code]

##### EXPECTED RESULTS

All four debu

[2018-08-14 16:38] andygeorge commented on #23594
FYI we are able to do the desired behavior using `include_tasks:`:

`driver.yml`:

[code]

`tasks_to_include.yml`:

[code]

Output:

[code]

[2018-08-14 16:38] andygeorge commented on #11496
FYI we are able to do the desired behavior using `include_tasks:`:

`driver.yml`:

[code]

`tasks_to_include.yml`:

[code]

Output:

[code]

[2018-08-14 16:41] sivel commented on #44130
What is going on here is a little complicated, and a result of the interaction between Ansible and Jinja2.

This behavior, is roughly described at https://github.com/ansible/ansible/issues/34595#issuecomment-356091161

When using `vars` with the `lookup`, the jinja2 interaction makes that value become an actual dictionary, it's no longer a string at that point, which is why `from_json` fails.

Add

[2018-08-14 16:41] #44130 closed, assigned to nobody

[2018-08-14 16:50] ServerNinja opened #44131 "Cannot use localhost with add_host module anymore (2.5.x)"
##### SUMMARY
Cannot use localhost with add_host module anymore. Basically it shows a warning and never proceeds to the next task, thus ending the playbook.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible add_host module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

playbook.yml:
[code]

##### EXPECTED RESULTS
When runnin

[2018-08-14 16:58] sivel commented on #44131
I cannot duplicate this:

[code]

Please create a full reproducer that we can use to validate this that is close to your configuration as possible.

needs_info

[2018-08-14 17:16] geertn444 opened #44133 "declarative ios_ntp & iosxr_ntp modules for configuring ntp"
##### SUMMARY

make NTP configuration declarative.
Meaning: remove any existing wrong config (including other keys, other authentication strings, other servers, other clients, other ACLs) and force target config
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

networking

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPE

[2018-08-14 17:28] alexhexabeam commented on #11496
For anyone seeing this now, the fix @andygeorge has mentioned will work for Ansible 2.4+, since `include_tasks` is dynamic and actually changes the list of hosts to not include hosts that don't match the `when` clause.

For older releases, this isn't an option, since `include` keeps all hosts in the list, but skips the ones not matching the `when` clause.

[2018-08-14 18:04] ryansb commented on #43991
Please see #43993 , it has some outstanding review comments but will resolve this issue.

[2018-08-14 18:33] jackalsin opened #44136 "ansible task using include_tasks and with_dict"
##### SUMMARY

ansible include_tasks seems not working with_dict correctly.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible include_tasks with_dict

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing

##### OS / ENVIRONMENT

Redhat 7, using localhost

##### STEPS TO REPRODUCE

[code]

[code]
Above works, but if we change the `tasks/main.yml` to the following content
[code]

[2018-08-14 18:49] amarao commented on #43886
Can ansible perform 'string unwrap' before passing it to the template module? I see no reason why template module should be different from, f.e. 'systemd' module. Systemd get evaluated values, and template module should get them in the same form.

This will solve this problem.

[2018-08-14 19:16] marwatk commented on #43845
Looks like the kubernetes python module isn't respecting the default configuration.

`test.py`:
[code]

Debug logging added in `kube_config.py`:
[code]
Result:
[code]

I filed [this issue](https://github.com/kubernetes-client/python/issues/597) over there.

[2018-08-14 19:41] jpmens commented on #44128
You say _should be updated_. I dislike that term when you're asking for a fix because you think it _should_ whereas I do not.

Futhermore, I believe this is an artifact of $LOOKUP in which case it's not this particular plugin but all of them.

Be that as it may, I'm not interested in changing this behaviour.

[2018-08-14 19:48] AquaL1te commented on #29285
This bug is almost one year old, what would help to move this forward? More debugging?

[2018-08-14 19:56] sivel commented on #44136
Your issue is in using the wrong task argument.  You used `var`, the correct argument is `vars`.

You actually received a warning about specifying include variables at the top-level, and it applies to both `include` and `include_tasks`, and was squashed into a single warning.

[code]

[code]

Updating as such, produces the following output:

[code]

If you have further questions please stop by IRC

[2018-08-14 19:56] #44136 closed, assigned to nobody

[2018-08-14 20:09] marwatk commented on #43845
We tried to attack this from a different angle and realized we already had a valid corporate signed cert that the OS respects, so we shouldn't even need `verify_ssl: no`. (Using a simple urllib get to the host works fine).

But the kubernetes python module doesn't seem to respect the OS trust store. And, since `ca_cert_file` is propagated the same way as `verify_ssl` you hit the same bug trying to

[2018-08-14 20:27] jackalsin commented on #44136
Okay. Thanks.
May I ask what's the intention of doing like this?
[code]

[2018-08-14 20:30] Rthur opened #44141 "enable winrm via Linux bastion hosts."
##### SUMMARY
winrm connections should support connections via bastion hosts. The winrm.py module should support ssh_common_args, for circumstances where a network topology requires ansible to connect to a Windows host via a Linux intermediary.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
/usr/lib/python2.7/site-packages/ansible/plugins/connection/winrm.py

##### ANSIBLE VERSION
[code]

[2018-08-14 20:33] fabianvf commented on #43845
@marwatk does this change help at all? I think this could be my fault, related to the order that I build the configuration.
https://github.com/ansible/ansible/pull/44142

[2018-08-14 21:31] nitzmahone commented on #42192
Implemented in https://github.com/ansible/ansible/pull/43798

[2018-08-14 21:31] #42192 closed, assigned to nobody

[2018-08-14 21:35] roostercactus commented on #44121
Hi, actually it looks like I'm just confused on how it works.  If you specify num_cpu = 2 and num_cpu_cores_per_socket =2 (which is valid per the multiple rule) you'll get a VM that is one socket and two cores.  If you want one socket and four cores, you specify both params as four.  If you want to follow the chart on the best practices page to get 12 vCPUs you would need to use num_cpu = 12 and n

[2018-08-14 21:35] #44121 closed, assigned to Akasurde

[2018-08-14 21:45] gundalow commented on #43223
@mikewiebe Have you had any time to look into this?

[2018-08-14 22:15] jackalsin opened #44145 "include_tasks vars doesn't work with `when` with duplicated variable name."
##### SUMMARY

In the `vars` in the `include_tasks`, if we use the same variable name in the `when`, it will skip the task.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`include_tasks`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`N/A`

##### OS / ENVIRONMENT

`N/A`

##### STEPS TO REPRODUCE

[code]

[code]

this will skip the task `Call sub_task.yml with include_tasks`

However,

[2018-08-14 22:48] sivel commented on #44145
By specifying `var1` under `vars` you have defined it, regardless of the value not being defined yet. The `undefined` test does not perform a deep evaluation, that would catch the value you assigned to the `var1` is undefined.

See https://github.com/ansible/ansible/pull/41648

[2018-08-14 22:48] #44145 closed, assigned to nobody

[2018-08-14 23:27] nsushain opened #44149 "elb-target - Block/wait fails when target_status is healthy"
##### SUMMARY
target_status does not block wait for given value for module elb_target

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elb_target.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Block wait till target_status is healthy, fail if it does not find target_status as healthy beyond 60 seconds

[2018-08-15 01:40] kyliel commented on #38973
Great to know azure_rm_resource can resolve the issue. @yungezz and @yuwzho, please let us see what we could fix to catch up Ansible 2.7. We definitely should support marketplace image.

gustavomcarmo, sorry, I missed your highlight. Thank you for reminding us.

[2018-08-15 01:42] kyliel commented on #38973
@yungezz and @yuwzho, could you please see #41174 can resolve this issue or not? Thank you.

[2018-08-15 01:44] Dmitry1987 commented on #15195
I wonder if there are more people who actually use the "var|skipped" for their convenience and enjoy it, than people who find this behavior unexpected/unintuitive and since 2013, with question "why variable was registered during skipped step?" 🤣
#4297 , #17500 , #15195, #8062 ...

I think I come up with this question once in a while again and again despite knowing the answer to it from before (a y

[2018-08-15 02:31] Fred-sun commented on #25352
@lukadante Thanks for your contribution, Are you still here? Could you help update the comments? Thanks!

[2018-08-15 02:34] kyliel commented on #38973
The team just had a check. https://github.com/ansible/ansible/pull/43695 adds “accept_terms”. Thank you spmp for the contribution.

[2018-08-15 02:34] Fred-sun commented on #26195
@kyliel Could you help update the comments？ thanks!

[2018-08-15 02:36] zikalino commented on #30056
closing this issue, as it's deprecated module, and nobody cares anyway....

[2018-08-15 02:36] #30056 closed, assigned to nobody

[2018-08-15 02:37] spmp commented on #38973
@kyliel no worries, still working on the PR 8)

[2018-08-15 02:43] maxamillion commented on #43025
I'm sorry but I'm unable to reproduce. Is there any more information you can provide?

[code]

[2018-08-15 02:43] maxamillion commented on #43025
needs_info

[2018-08-15 02:45] Fred-sun commented on #28392
@zikalino Could you help update the comment? Thanks!

[2018-08-15 03:05] Fred-sun commented on #43802
@yuwzho Could you help check this issue? It seem new feature request for azure_rm_securitygroup module?

[2018-08-15 03:33] Eddy1210 opened #44151 "Ansible 2.6.0 get_url module SSLError"

[2018-08-15 04:01] #44151 closed, assigned to nobody

[2018-08-15 05:34] Fred-sun commented on #43544
@zikalino Could help update the issue status?

[2018-08-15 05:36] Fred-sun commented on #43416
@zikalino could you help check this issue?

[2018-08-15 05:55] #16993 closed, assigned to nobody

[2018-08-15 07:00] Fred-sun commented on #43195
@zikalino could you help update the issue status？

[2018-08-15 07:03] backbord commented on #24037
these might be of interest: #39374 and associated PR #39602

[2018-08-15 07:10] Fred-sun commented on #27905
Who can help with this issue? @yungezz @yuwzho @zikalino

[2018-08-15 07:28] #17773 closed, assigned to nobody

[2018-08-15 08:00] sophie-h commented on #27905
Unfortunetly I don't have time to work on this. (Also, there was never feedback that indicated that those modules would be merged.)

My code is here:

https://github.com/ansible/ansible/compare/devel...sophie-h:libvirt-modules

[2018-08-15 08:28] Fred-sun commented on #42407
@zikalino Could you help update the issue status? thanks a lot!

[2018-08-15 08:31] yuwzho commented on #27905
-label azure

[2018-08-15 08:38] Fred-sun commented on #42104
@zikalino Could you help update the comments? Thanks!

[2018-08-15 08:59] Fred-sun commented on #40857
@zikalino Could you help check this issue? Thanks!

[2018-08-15 09:02] nikolaev-rd opened #44154 "Error when used Grafana datasource name with spaces"
##### SUMMARY

Error from Garafan API when used datasource name with space(s).

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

grafana_datasource

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ASK_PASS(/etc/ansible/ansible.cfg) = True
DEFAULT_BECOME(/etc/ansible/ansible.cfg) = True
DEFAULT_BECOME_ASK_PASS(/etc/ansible/ansible.cfg) = True
DEFAULT_SSH_TRANSFER_METHOD(/etc/ansibl

[2018-08-15 09:05] Fred-sun commented on #40596
@zikalino Could you help check this issue? Thanks!

[2018-08-15 09:06] Fred-sun commented on #39958
@zikalino Could you help take a look this issue? Thanks!

[2018-08-15 09:26] nikolaev-rd commented on #44154
The only workaround that I found is using `uri` module instead of `grafana_datasource`:
[code]

[2018-08-15 09:30] emz00 opened #44155 "user "expires: -1" sets an expiry date if not set, so the account cannot log in"
##### SUMMARY

When creating a new user with the "user" module setting "expires: -1" (or any other negative value) creates an expired account (so it cannot log in).

The [doc](https://docs.ansible.com/ansible/2.6/modules/user_module.html) for expires says "Since version 2.6 you can remove the expiry time specify a negative value. Currently supported on GNU/Linux and FreeBSD." Technically, it does

[2018-08-15 10:14] amoyx opened #44158 "windos installation error"
python setup.py  install
error:   [Errno 2] No such file or directory: 'SYMLINK_CACHE.json'

![image](https://user-images.githubusercontent.com/19795002/44143652-0d2872de-a0b7-11e8-8150-b26b41d14b73.png)

[2018-08-15 10:15] Grokzen opened #44159 "vmware_guest customization_spec requires customization to be set in conf to be applied"
##### SUMMARY

We tried the new customization_spec feature in the vmware_guest module, but we got into trouble when we could not get the spec to be applied at all. What we found out is that we have to specify the `customization` variable in the data (Docs https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/cloud/vmware/vmware_guest.py#L273) in order for the spec to be applied at

[2018-08-15 10:18] dancs85 commented on #43802
@Fred-sun Yes and no.
Yes as in there's no current way to implement ASGs, nor reference them inside a NSG rule.
No as in if you manually (ie the Azure portal) add NSG rules linking to ASGs, then running the module will break regardless as it doesn't know how to deal with ASGs.

At this stage I'm basically having to convert all my azure modules to azure_rm_resource to avoid broken/outdated modules.

[2018-08-15 10:41] gurdipedos opened #44160 "When we delete one or more nsg security group rule(s) on azure and rerun our ansible playbook, it does not create them on azure."
##### SUMMARY

When we delete one or more nsg security group rule(s) on azure and rerun our ansible playbook, it does not create them on azure.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

azure_rm_securitygroup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Using standard ansible.cfg file with all settings commented out.  Have included the pip list below.
PS I also upgraded all th

[2018-08-15 10:47] machacekondra opened #44162 "ovirt: cannot create VM from template when template name exists in several data centers"
##### SUMMARY

If the same template name exists in several datacenters, it is only possible to use it in the first one in alphabetical order. Others fail as the playbook tries to use the wrong template ID.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ovirt_vms

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2018-08-15 11:04] #39160 closed, assigned to ganeshrn

[2018-08-15 11:30] realtebo commented on #44108
I confirm. It is a problem of the box. Sorry. I close

[2018-08-15 11:31] #44108 closed, assigned to nobody

[2018-08-15 11:38] ulide4 opened #44163 "one_host environment variables broken"
##### SUMMARY
The one_host module does not work, if I try to define api_url, api_username and api_password with environment variables as described in the ansible module documentation. (This works for the one_service module by the way).
When I define  api_url, api_username and api_password explicitly in the play the module works just fine.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`one

[2018-08-15 12:07] ckotte commented on #24215
+1

[2018-08-15 12:17] ijunaid8989 opened #44165 "ERROR: Ansible requires a minimum of Python2 version 2.6 or Python3 version 3.5. Current version: 3.4.3 (default, Nov 17 2016, 01:08:31) [GCC 4.8.4]"
I updated me Ansible version to latest, and now I am getting this error

[code]
I updated the python to python3.6 also set the python3 alias to the latest version as well. Also tried to do

`ansible -V 'ansible_python_interpreter=/usr/bin/python3.6'`

Nothing worked at all.

Any help?

[2018-08-15 12:36] biohazd commented on #18918
Please add this, I need to disable TLS 1.0 and 1.1 on the ELB.

[2018-08-15 12:54] gurdipedos commented on #42104
Hi All,

I have raised the following issue which I think is similar to problems in this issue :

https://github.com/ansible/ansible/issues/44160

1) When I amend any of the following values for a security group rule(s) and rerun our ansible playbook.  The security group rule values are updated correctly on the azure portal:

             access: Allow
              description: '*'
              d

[2018-08-15 12:56] gurdipedos commented on #44160
Further Information

1) When I amend any of the following values for a security group rule(s) and rerun our ansible playbook. The security group rule values are updated correctly on the azure portal:

      access: Allow
       description: '*'
       destination_address_prefix: xxx
       destination_port_range: 5044-5050
       direction: Outbound
       name: xxx_out
       priority: 1795

[2018-08-15 13:15] machacekondra commented on #44162
resolved_by_pr 44161

[2018-08-15 13:19] #44162 closed, assigned to nobody

[2018-08-15 13:45] vatima2016 commented on #17349
We succeeded to resolve Ansible connectivity issues caused by firewall timeout by increasing Cmd_Timeout on the jump host.
https://linux.die.net/man/1/knockd

[2018-08-15 13:49] ServerNinja commented on #44131
I'll see if I can create a small git repo with the specific code and files to reproduce - I need to extract all this out of our main repos.

[2018-08-15 13:50] dermeister0 opened #44167 "Wrong win_feature example in documentation"
##### SUMMARY
win_feature does not support list to specify multiple features. Need to use comma-separated string instead. However, documentation has a wrong example.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

win_feature
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running on Ubuntu 16.04. Managing Windows Server 2012 R2.

##### STEPS TO REPRODU

[2018-08-15 13:50] hogarth-sv opened #44168 "jenkins_script does not fail if jenkins does not have a ':' after 'Exception'"
##### SUMMARY
Not every exception raised in jenkins is of the form:
[code]
There are some exceptions raised without that ':' such as
[code]
This results in the module not recognising the exception existing and the task not failing.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jenkins_script

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_CALLBACK_WHITELIST(/home/ja.hogarth/work

[2018-08-15 13:57] marwatk commented on #43845
@fabianvf That definitely fixes it, but not because the order was bad before (though this new code is way cleaner). By using `kubernetes.client.ApiClient(configuration)` to get the client instead of `self.client_from_kubeconfig` you avoid the [bugged](https://github.com/kubernetes-client/python/issues/597) `kubernetes.config.new_client_from_config` from upstream.

Worth noting that after this refa

[2018-08-15 14:02] bcoca commented on #43294
This is not a bug, it is by design as no_log applies the the whole task.

Reclassified as 'feature idea'.

[2018-08-15 14:16] sivel commented on #44165
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-08-15 14:16] #44165 closed, assigned to nobody

[2018-08-15 14:18] djflux commented on #27349
+1 please :)

[2018-08-15 14:26] westsouthnight commented on #34861
@bcoca please up this issue. We think order of the play hosts must to be by order in inventory without get some host for first to play from some host id in group. Sometimes ansible get host id 0 sometimes get for first to run last host in group, its not normal behaviour if deploy start on rundom host on group. We want have one stable behaviour for run.

[2018-08-15 14:32] samdoran commented on #44155
I am able to duplicate this and have found the problem.

The `create_user_useradd()` method sets the expiration date to a formatted date string based on the expiration parameter. In this case `-1` translates to 1969-12-31. That gets passed in as `/usr/sbin/useradd -e 1969-12-31`, which results in the account expiration being set to 1970-01-01 rather than being set to _no_ expiration.

This only af

[2018-08-15 14:35] bcoca commented on #34861
@westsouthnight it is being worked on, but the problem is not limited to the YAML plugin as restructuring of how groups are calculated to increase performance removed the ordering, so several cascading fixes have to take place.

As a workaround you can use the `order: ` keyword to ensure reproducible sorting (of course, don't set it  to 'inventory' which is the default).

[2018-08-15 14:39] mtkunkel commented on #33248
s3_bucket still lacks the ability to set acl / permissions.   When using this module, one must still use aws_s3 for any canned ACL other than private.

[2018-08-15 14:40] westsouthnight commented on #34861
@bcoca Thanks! We really awaiting this!

[2018-08-15 14:46] BarbzYHOOL commented on #22531
I confirm this bug is really annoying. The workarounds are not perfect, the first one then adds new line for every {% %} (so if you add a if condition, it adds two new lines)

Adding a new line directly is dirty

Both methods make the template less readable

[2018-08-15 14:51] Elettronik commented on #32750
Any news?

[2018-08-15 14:56] #44007 closed, assigned to agaffney

[2018-08-15 15:06] sivel commented on #44158
We do not support installing ansible on Windows.  Ansible requires a linux/unix like OS for the controller.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-08-15 15:06] #44158 closed, assigned to nobody

[2018-08-15 15:38] sramakr commented on #39538
Hello,

I assume this feature is not yet completed. Is anyone working on this ?  If not , I would like to contribute.

Thanks

[2018-08-15 15:58] mcandre opened #44173 "Do a better job identifying Python locations when connection is local"
##### SUMMARY

The Ansible BSD documentation currently requires users to explicitly configure the Python interpreter path:

https://docs.ansible.com/ansible/2.5/user_guide/intro_bsd.html

This is annoying, especially when a perfectly good Python interpreter is already available in `$PATH`. Ansible could do a better job integrating with BSD and other `*nix` systems, such:

##### ISSUE TYPE

 - Feat

[2018-08-15 16:08] samdoran commented on #44155
Please test with #44174 to see if that fixes your issue.

[2018-08-15 16:36] rpiskule opened #44176 "win_nssm needs to support more parameters."
##### SUMMARY

I installed a service on windows using win_nssm. The default installation of win_nssm is to keep restarting failed services, as well as truncate and rewrite any log files.

This becomes an issue if the service keeps failing. I was unable to determine why my service was failing because the logs kept getting truncated.

##### ISSUE TYPE
 - Feature Idea
win_nssm should support addition

[2018-08-15 16:39] jmdh commented on #1210
an arguably nicer cron trick is to use `chronic` from [moreutils](https://joeyh.name/code/moreutils/).

[2018-08-15 16:43] fabianvf commented on #43845
I think the order is what makes the bug not appear, because I call `load_kube_config` (which is what `new_client_from_config` calls under the hood), but I then override it with the arguments passed to ansible. I'll try and get this cleaned up and ready for review today.

[2018-08-15 16:51] nicholasrodriguez opened #44183 "NTP configuration of ESXi servers in a cluster"
##### SUMMARY
It appears that an empty list item is included in the list of ntp servers when using vmware_host_ntp.

Once vmware_host_ntp has configured a cluster of ESXi servers the **NTP Servers:** field contains the following:

, time1.test.local, time2.test.local

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_host_ntp

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]
#####

[2018-08-15 16:52] sivel commented on #44173
We are looking into this.  It will likely not be default behavior, and will require a toggle within the playbook, and potentially the config to enable searching for the interpreter.

A little bit of work has gone into this recently in https://github.com/ansible/ansible/pull/42783

[2018-08-15 16:57] Ploy-XIV opened #44186 "User module does not populate home folder with skel when creating a home folder"
##### SUMMARY
When creating a new user account using the `user` module of Ansible for a macOS 10.13 target with this playbook:

[code]

I expect the newly created home folder to contain the contents of the skel directory (located at `/System/Library/User Template/English.lproj/` on macOS when using an English locale). Instead the newly created home folder is empty. On Debian, for example, the cont

[2018-08-15 17:00] Ploy-XIV commented on #44186
My suggested fix would be this:

macOS offers a command-line tool for creating home folders, and populating them with the appropriate skel content. It's called `createhomedir`.

So, instead of creating the home folder like [this](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/user.py#L2007), call `createhomedir -c -u foo` or similar.

[2018-08-15 17:10] mtkunkel commented on #42152
I'm having a similar issue with the s3_bucket module and it doesn't appear to have anything to do with localhost.   Ansible 2.6 + s3_bucket is giving
[code]

On fedora with OS packages.   I will try creating a virtualenv and getting the latest from pypi via pip:

[code]

[2018-08-15 17:18] idahood opened #44195 "network_cli does not respect ANSIBLE_PARAMIKO_LOOK_FOR_KEYS=False when using bastion"
##### SUMMARY

Topology:
[my_host] -- [bastion] -- [switch]

I auth to bastion using SSH keys, switch has a locally defined user/pass setup that I've defined under host_vars. I can verify that I am connecting to the switch via the bastion (I see the correct banner in the log), but then get an "Authentication (publickey) failed." message.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

netwo

[2018-08-15 17:43] tomtastic commented on #43880
I've tried again with '`controlpersist 1`' set for these AIX hosts on the ansible servers `~/.ssh/config`,
but it makes no difference unfortunately, they still get unreachable errors when running the fetch module.
And now it seems pipelining was a red herring, as changing that back and forth makes no difference either.

[2018-08-15 17:50] tomtastic commented on #43880
I've run this same task on AIX6.1, AIX7.1, Solaris10, RHEL6, RHEL7 hosts, and only the AIX hosts fail.

[2018-08-15 17:55] gabrgomes commented on #44128
I've never seen this with other lookups. This not the behavior with pipe
lookup, for example, which is what I am using as an alternative.

Em ter, 14 de ago de 2018 16:43, JP Mens <notifications@github.com>
escreveu:

[2018-08-15 17:59] bcoca commented on #44173
FYI, the official FreeBSD port changes the default to /usr/local/bin/python, so it depends on your installation method.

[2018-08-15 18:08] mtkunkel commented on #42152
@ryansb Appears s3_bucket is broken in Ansible 2.6.2 / Python 2.7.   There is no localhost in my inventory.

[code]
Full stdout contains s3 secrets so I can't post it.   The main error is:

[code]

[2018-08-15 18:11] bcoca commented on #44128
is the lookup doing the caching or your local dns infrastructure?

a good feature to add might be the ability to specify the DNS server queried

[2018-08-15 18:33] #39465 closed, assigned to nobody

[2018-08-15 18:36] BarbzYHOOL commented on #23073
Could we instead have an "extra_args" parameter to deal with these special cases? I also have another special case that is not the same. There was already another case solved previously. Seems like it will be endless

[2018-08-15 18:46] gabrgomes commented on #44128
It's the lookup. If I call dig via command module or pipe lookup it works
perfectly.

Em qua, 15 de ago de 2018 15:13, Brian Coca <notifications@github.com>
escreveu:

[2018-08-15 19:03] #42683 closed, assigned to nobody

[2018-08-15 19:10] #44195 closed, assigned to nobody

[2018-08-15 19:10] #37116 closed, assigned to nobody

[2018-08-15 19:14] dagwieers commented on #44167
So, we fairly recently changed this to allow for a list of features to be added. What's happening is that you are using Ansible v2.4 and are looking at Ansible v2.5 or v2.6 documentation.

See:
- https://docs.ansible.com/ansible/2.4/win_feature_module.html
- https://docs.ansible.com/ansible/2.5/modules/win_feature_module.html

[2018-08-15 19:14] #44167 closed, assigned to nobody

[2018-08-15 19:15] idahood commented on #44195
Keyboard chair issue. I had ansible_password referenced improperly, which then caused paramiko to default back to looking for a key method.

[2018-08-15 19:24] UnitedMarsupials-zz opened #44229 "When including a role in a loop over a dictionary, content of the dictionary may make the play sequential"
##### SUMMARY
When looping over a dictionary, if the entries are host-specific, the role may be applied to machines sequentially, rather than in parallel

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ALLOW_WORLD_READABLE_TMPFILES(/mi/A/ansible.cfg) = True
DEFAULT_FORKS(/mi/A/ansible.cfg) = 11
DEFAULT_MODULE_PATH(/mi/A/ansible.

[2018-08-15 19:30] sivel commented on #44229
Duplicate of https://github.com/ansible/ansible/issues/36978

[2018-08-15 19:30] #44229 closed, assigned to nobody

[2018-08-15 19:43] pillarsdotnet commented on #16804
The vendor-supplied [wazuh-ansible](https://github.com/wazuh/wazuh-ansible) repo has exactly this problem: it includes multiple roles within a single repo but lacks a top-level `meta` directory.

I have submitted a [PR to fix this](https://github.com/wazuh/wazuh-ansible/pull/50).

[2018-08-15 19:52] acdha opened #44231 "ansible-playbook should not report missing Python as an SSH error"
##### SUMMARY

As described in #28870 if `/usr/bin/python` doesn't exist on the remote host `ansible-playbook` will print a misleading error: `SSH Error: data could not be sent to remote host`. It should print a correct error message similar to e.g. `ansible -m ping`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT

[2018-08-15 20:22] #40696 closed, assigned to nobody

[2018-08-15 20:23] #44231 closed, assigned to nobody

[2018-08-15 20:31] atgreen opened #44232 "Add block storage support to vultr module"
##### SUMMARY
Add support for block storage manipulation to the vultr module.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vultr

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2018-08-15 21:11] bcoca commented on #28870
fixed via #43576