[2018-09-04 12:26] AbelinLamarisi opened #45161 "Synchronize module doesn't work with vault"
##### SUMMARY
Synchronize module doesn't work with Ansible vault, encrypted files are copied as encrypted, with `$ANSIBLE_VAULT;1.1;AES256` header.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not important

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Should I create a demo repo?

##### EXPECTED RESULTS
Files are copi

[2018-09-04 12:31] m-Schlitzer commented on #42189
We had the same problem, but using Ubuntu, the package python-openstacksdk in the repositories was too old. Removing it and installing the openstacksdk via pip solved this problem for us.

[2018-09-04 12:33] bcoca commented on #39617
@laerus If there is a tb on exit and log is enabled, it will be logged, but that is unrelated to this ticket

[2018-09-04 12:38] #45047 closed, assigned to nobody

[2018-09-04 12:43] unkaputtbar112 commented on #45149
@Akasurde
`            "0": {
                "backing_datastore": "someDC",
                "backing_disk_mode": "persistent",
                "backing_eagerlyscrub": false,
                "backing_filename": "[someDC] somevm.example.com/somevm.example.com.vmdk",
                "backing_thinprovisioned": true,
                "backing_uuid": "6000C29b-351a-f5c9-c082-423ade65f63e",

[2018-09-04 12:43] bcoca commented on #45120
your role is incorrectly tagged

[2018-09-04 13:02] pkubica opened #45163 "Messing up inventory variables specified after host, when the same host is used within two groups with different variables"
##### SUMMARY

I have specified in inventory two groups with the same host and these groups are different in variables specified after the host:
[code]
but when I'm using inventory_a, value of 'variable' is 'b'.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

playbook:
[code]
inv

[2018-09-04 13:06] webknjaz commented on #44741
So we have a discussion ansible/proposals#140 and #44927 which demos the current behavior.
This issue is more of a proposal, which belongs more to the proposals repo, so if you have something to add let's move our conversation to that proposal :)

[2018-09-04 13:06] #44741 closed, assigned to nobody

[2018-09-04 13:13] DmitryRomanenko commented on #45120
It works, sorry.

If I make a new reproducible case, I'll ask to reopen it.

[2018-09-04 13:13] #45120 closed, assigned to nobody

[2018-09-04 13:16] bcoca commented on #43865
ssh and every other process is still subject to processes in a 'blocked' state which won't process signals until they leave that state.

[2018-09-04 13:20] ashbecky commented on #45160
ansible --version..ansible 2.6.3

the error occured when i tried to run a role from ansible galaxy..

[2018-09-04 13:25] bcoca commented on #44819
All `with_` actions are using a lookup, so `with_first_found` === loop over `lookup('first_found', ...) `. So the docs I pointed you at are the correct ones for that feature.

As for 'skip' not being there, that is a bug in the documentation.

[2018-09-04 13:27] Akasurde commented on #45149
@unkaputtbar112 yes, it is strange that the first C is capital and it is coming from vCenter API itself. Thanks for testing and reporting back.

[2018-09-04 13:30] pkubica commented on #45163
Specified as vars in inventory doesn't work too
[a]
localhost ansible_connection=local

[a:vars]
variable=a

[b]
localhost ansible_connection=local

[b:vars]
variable=b

[2018-09-04 13:30] pablofuentesbodion opened #45165 "Need help with set_fact at playbook level."
Hi all,

I have a playbook that receives a paramer and based in this we need to set a second variable to stablich the number of instances running.

I have used set_fact several times in task and roles such as:

- set_fact: int_serial_mode=1
- set_fact:
     int_serial_mode: 3
  when: serial_mode is defined

but if you move to the playbook the following error in produced:

Using /etc/ansible/ansibl

[2018-09-04 13:43] #40336 closed, assigned to nobody

[2018-09-04 13:49] DmitryRomanenko commented on #27293
[code]

Same problem here.

[2018-09-04 13:50] DmitryRomanenko commented on #27293
needs_contributor

[2018-09-04 13:52] kay73 commented on #22169
Issue is still present. *b* and *c* inherit *a*, which gets executed twice.

```ansible --version```
[code]

[code]

```ansible-playbook -i hosts.yml site.yml -v```
[code]

[2018-09-04 14:09] bcoca commented on #45163
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Inventory hostnames are unique, defining the host in 2 groups still creates only 1 host with 1 set of variables which are merged/flatte

[2018-09-04 14:09] #45163 closed, assigned to nobody

[2018-09-04 14:10] webknjaz commented on #45165
Hi, use `vars`: https://docs.ansible.com/ansible/devel/user_guide/playbooks_variables.html#variables-defined-in-a-playbook

And also:

Can You Help Us Out?
====================

Thanks for filing a ticket!

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We

[2018-09-04 14:10] #45165 closed, assigned to nobody

[2018-09-04 14:15] webknjaz commented on #45161
Hi,

Synchronize is a wrapper around rsync, I doubt that you can hook into the process like that. You might want to implement a custom module doing this or use something, which supports it.

-label needs_triage

[2018-09-04 14:15] webknjaz commented on #45160
Can You Help Us Out?
====================

Thanks for filing a ticket!

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard information in each ticket, and G

[2018-09-04 14:15] #45160 closed, assigned to nobody

[2018-09-04 14:23] #45154 closed, assigned to nobody

[2018-09-04 14:24] #45156 closed, assigned to nobody

[2018-09-04 14:31] DmitryRomanenko commented on #45161
I understand.

If it won't be implemented, the documentation should be updated (add a note that vault is not supported).

[2018-09-04 14:33] b0urn3 opened #45171 "nxos_command module truncates output of show interface status command"
##### SUMMARY
nxos_command module returns truncated output when running `show interface status | xml | no-more` command. Running directly from CLI results in complete output.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Get full output of

[2018-09-04 14:37] mtorelli commented on #43106
Maybe something like "aci_access_port_block_to_access_port_selector" since it's adding/associating the child infraPortBlk to the parent infraHPortS.  Or just "aci_access_port_block" with the parent association implied.

[2018-09-04 14:44] MarkusTeufelberger opened #45172 "tower_credential misses URL parameter for satellite6 credentials"
##### SUMMARY

See title, the URL of the satellite server is a required field.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

tower_credential

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Being able to set/add/edit a Satellite 6 credential in Tower/AWX using the upstream module.

##### ACTUAL RESULTS

[2018-09-04 14:46] #44538 closed, assigned to nobody

[2018-09-04 14:48] MarkusTeufelberger opened #45173 "allow setting extra_vars directly in tower_job_template"
##### SUMMARY

Extra variables for job templates currently can only be set using a path to a YAML file.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

`tower_job_template.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I'd like to be able to set extra variables for example using a YAML dictionary a

[2018-09-04 14:55] mmolinac commented on #43728
@jtyr Any news ?

[2018-09-04 14:56] BrechtClaeys opened #45176 "azure_rm_virtualmachine needs too much information to control Azure environment"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
For simple management of an Azure environment, the azure_rm_virtualmachine module needs way too much information about the machines, that is only available when creating the machines from scratch.
When creating them using an image or snapshot, you lose variables such as osProfile or the image information. To start and stop a machine, this shouldn't be

[2018-09-04 14:56] fabianvf commented on #45111
@willthames, what do you think of setting that to the default so it will work without modification in most cases?

[2018-09-04 15:10] BrechtClaeys commented on #42723
Hi @mauriciodeliz, how did you create the machines on which this error happens? I've got the same error with machines created from an exisiting hard drive or image. Then it is possible these variables aren't visible anymore, and for who knows what reason, the ansible module still wants to know them to start or stop machines, and so far, I haven't found a way around it.

[2018-09-04 15:18] #43415 closed, assigned to nobody

[2018-09-04 15:30] bcoca commented on #45161
most file modules dont work with vault, we should just clearly label those that do

[2018-09-04 15:54] jdamata commented on #44914
If anyone is following this I also needed to include common/dict_transformation.py
Went the route of using ~/.ansible/plugins/modules and ~/.ansible/plugins/module_utils default paths.

.
├── README.md
├── module_utils
│   ├── common
│   │   └── dict_transformations.py
│   └── k8s
│       ├── common.py
│       └── raw.py
└── modules
    └── clustering
        └── k8s.py

Thanks for the help @willt

[2018-09-04 16:00] l-deniau opened #45181 "blockinfile, lineinfile and template break hardlink (inode changed)"
##### SUMMARY

When files are updated with blockinfile, lineinfile or template, the inode of the file is changed.
This behavior break hardlink if the file were hardlink with another file.
Didn't test with replace or copy but i suspect the same behavior.

Did i miss a configuration to change this behavior ???

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- blockinfile
- lineinfile
- templat

[2018-09-04 16:02] napalm255 commented on #42532
I too ran into this issue. I was using version 2.6.3. Policy would create but ansible would still time out with the same error as above. Ansible 2.5.8 seems to work fine.

[2018-09-04 16:09] bcoca commented on #36024
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

include_vars, nor any 'var file inclusion' expands/evaluates expressions, all variables are 'lazy evaluated' and expanded on use, not o

[2018-09-04 16:55] jvanderaa opened #45184 "aireos_config Does not handle `config ap group` prompts"
##### SUMMARY

When attempting to set an AP group for an access point the controller will prompt are you sure that you want to reboot? (y/n). There is not a method to handle this prompt.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aireos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS

##### STEPS TO REPRODUCE

Setup a task with aireos_co

[2018-09-04 16:57] jvanderaa opened #45185 "aireos_config Modernize save to save_when matching IOS & NXOS"
##### SUMMARY

aireos_config does not support save_when like some of the other network modules.

##### ISSUE TYPE
- Feature Idea
Modernize aireos_config to match that of ios_config/nxos_config

##### COMPONENT NAME

aireos_config

##### ADDITIONAL INFORMATION

This would be to match that of other network modules that are being updated more frequently.

[code]

[2018-09-04 16:58] #44914 closed, assigned to nobody

[2018-09-04 17:04] samdoran commented on #45181
This is expected behavior since Ansible creates a temporary file, makes changes to the temporary file, then moves that file into place. This has been the case in Ansible for quite some time.

There is no setting to enable "preserving" hard links since that would require modifying the file in place, which is dangerous and error-prone for a number of reasons.

For further questions with the issue, p

[2018-09-04 17:04] #45181 closed, assigned to nobody

[2018-09-04 17:11] sivel commented on #44924
The problem here is that you are passing `depth: 1`.  This corresponds to `--depth` when running `git clone`.

The `git-clone` docs state:

[code]

This is the expected outcome in this scenario.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-04 17:11] #44924 closed, assigned to nobody

[2018-09-04 17:19] jmighion commented on #45185
This was has been added to devel and will be released with 2.7.
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/aireos/aireos_config.py#L94

[2018-09-04 17:29] jmighion commented on #45184
Try sending `\r` or `\n` in with the command if you need to pass yes/no prompts. You may need to be explicit and end the command with something like `\ry\r`.

[2018-09-04 17:41] johnmckinzie commented on #13637
@smiller171 I'm in the same situation where "AWS_PROFILE also doesn't seem to work with the ec2 modules, only with inventory.". What I the stupid thing I am doing?

[2018-09-04 17:55] alexeyt820 opened #45188 "win_get_url doesn't work properly with url encoded elements in path (e.g. gitlab.v4)"
##### SUMMARY
Gitlab v4 uses url encoded element in path, for example to download README.md from group/proj it is necessary to use url
[code]
I'm trying to use:
[code]
When I intercept HTTP request, URL is decode
[code]
As result I get 404
When I send same GET request via curl request is no decoded
[code]
and as result file is downloaded correctly
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NA

[2018-09-04 18:51] Alex-lowe commented on #32766
Is it possible to update the error messages for this module?
I also ran into this issue. The error messages are far from helpful, and this small but helpful option is easily forgotten, because the `copy` command does not mimic the classical `cp` command most of us are familiar with.
Simply mentioning "File not Found on the local machine, cannot copy to remote machine" would be sufficient to let mo

[2018-09-04 18:56] doubleplush opened #45189 "Delegated loops do not short-circuit variable evaluation with false conditional"
Ordinarily, Ansible is able to short-circuit evaluation of a loop variable when the conditional associated with the task is false; however, when delegation of a loop is performed, this behavior changes; the loop variable is evaluated regardless of the conditional.  This also represents a behavior change from the older with_list loop, where the short-circuiting still occurs with delegation.

#####

[2018-09-04 19:15] s-hertel commented on #42917
@nhudson I added a commit to ryansb's PR - I think the issue should be resolved now. Do you mind testing it again?

[2018-09-04 19:39] realged13 opened #45191 "New Feature: Cisco ACI External Routed Network Module (L3_Out)"
##### SUMMARY
Would like to be to create and modify Layer 3 Out Route Profiles.  Including being able to manage the networks subtree and and adding and removing contracts.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
aci_l3out

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
CentOS

##### EXPECTED RESULTS
Be able to create Layer 3 Out profiles under External Routed Networks and mod

[2018-09-04 19:54] ephracis opened #45192 "Variables in dependencies wins precedent in play"
##### SUMMARY

When a play includes a role that is also included via a dependency, the variables are overwritten by the dependent role.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-09-04 19:55] sivel commented on #45189
I have a "fix" for this issue, but I'm not convinced it is the right idea.

Technically speaking, `when` is suppose to evaluate for each iteration of the loop, not short circuit before the loop is evaluated.

We had special casing for `with_` style loops, that just happened to work with `loop` also.  We've been trying to remove all magic and special casing built around `with_` loops, in favor of a

[2018-09-04 19:59] dagwieers commented on #45188
I verified this, and the problem seems to be coming from the use of System.Net.WebClient.DownloadFile().

[code]

results in:

[code]

[2018-09-04 20:06] sivel commented on #45192
This is expected.

`vars` in a role, effectively have the same precedence as `vars` in a playbook.  `roles` are preprocessors, and are flattened into the playbook at parsing time.  As such, they are merged on top of the `vars` supplied in the playbook, and the last defined wins.

There is a configuration value to disable this, which is documented at https://docs.ansible.com/ansible/latest/referenc

[2018-09-04 20:06] #45192 closed, assigned to nobody

[2018-09-04 20:48] jborean93 commented on #44905
Ok so here's how you can run the same code in a Runspace.

[code]

Let me know if that works or not.

[2018-09-04 20:59] vwbusguy commented on #44409
I *think* I may have found the problem.  The case that I noticed it is with fluent/td-agent, which creates an init service.  I believe the presence of that init service is throwing a false positive here: https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/system/service.py#L538

I have a case where:
- systemctl status <service> and systemctl is-enabled <service> both show disabl

[2018-09-04 21:16] resmo commented on #44768
Any change to look at the PR?

[2018-09-04 21:37] smiller171 commented on #13637
@johnmckinzie I'm racking my brain and I can't remember for sure, but I think the env car was set in a context such that it wasn't there in the environment the ec2 module was running in.

[2018-09-04 21:46] davidwneary commented on #45111
@willthames great, thanks for the tip

[2018-09-04 21:52] dandunckelman commented on #41774
@sat1121 I'm currently running a separate task like this:

[code]

Not ideal.  It's not idempotent, and it assumes the vars are defined.

[2018-09-04 21:57] jtyr commented on #43728
Sorry, I have been busy lately. I still need to check code to see what's going on. Will post here once I find something.

[2018-09-04 22:01] codemastroAB commented on #43884
Same issue. Need a quick fix for this issue.
Ansible-playbook executes properly on some nodes but on some nodes connection time out. Nothing has changed from configuration or playbook perspective.

The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_Kh_sLm/ansible_modlib.zip/ansible/module_utils/basic.py", line 2853, in run_command
    cmd = subprocess.Popen(args, **kwar

[2018-09-04 22:25] jborean93 commented on #45134
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-04 22:25] #45134 closed, assigned to nobody

[2018-09-04 22:40] vwbusguy commented on #44409
https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/system/service.py#L529 is not a valid way to determine if a service is boot enabled or not - it only looks for the presence of a file name existing somewhere within rc.d and will assume it's enabled if it finds one.  It doesn't evaluate Deafult-Start, chkconfig, etc.

Why is this extra check even necessary if we've already esta

[2018-09-04 22:58] vwbusguy commented on #44409
It looks like at some point the patch was put into address - https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=751638

But instead of working around the specific error, it evaluates on any non-zero return, including a legitimate answer from systemd describing the service as disabled (rc: 1) as well as a failed call (rc 4).

If we only check the sysv for rc > 1 (if, not ==4), then it should solve f

[2018-09-04 23:05] willthames commented on #45111
@fabianvf my only concern is a slight effect on backwards compatibility if, for some bizarre reason, people are relying on the fact that it's only ever a strategic merge. I would doubt that, and would thus be fine with the change, but it's fair to mention that as a possible problem.

[2018-09-04 23:08] willthames commented on #44914
No worries @jdamata, sorry I forgot dict_transformations, and thanks for updating this for others!

I have an improved [suggested usage](https://github.com/ansible/ansible/issues/45111#issuecomment-418203372) for merge_type now that #44821 is merged.

[2018-09-04 23:08] vwbusguy commented on #44409
Setting https://github.com/ansible/ansible/blob/stable-2.6/lib/ansible/modules/system/service.py#L537 to:
`elif rc > 1 and sysv_exists(service_name):`
...should fix it.

[2018-09-04 23:36] vwbusguy commented on #44409
Coming back to OP - While the Nginx upstream RPM detects Systemd and adds either systemd or init.d files, the nginx Debian build ships both - http://hg.nginx.org/pkg-oss/file/tip/debian .  Both systemd and init.d files are present for Nginx on Debian systems (using Nginx's packaging).  Hopefully, this confirms the root cause.

[2018-09-04 23:56] bendoh commented on #29639
This is a good idea and would simplify things some workflows, but I managed to do it with the following directives. Here's a playbook that demonstrates it and you can try it out here https://github.com/bendoh/ansible-playbooks/tree/master/backup_files_issue_29639 by cd'ing to the checked-out dir and running `ansible-playbook index.yml` – it should remove the older backup file.

[code]

[2018-09-05 00:26] selivan commented on #29639
@benoh That would work. But adding this two additional tasks to each(!) template task in every role would bloat up the code, it is not worth it. Having a single module parameter to do this would be much better.

Also this approach wouldn't work if you want to have a limited number of backups, like not more than 5, despite their age.

[2018-09-05 00:44] fabianvf commented on #45111
@willthames good to consider, but I think we're safe updating it to fallback automatically.

[2018-09-05 01:21] jakegatsby commented on #45081
Have done some testing with vcsim and also a proper vsphere server with the following modification in `module_utils/vmware.py`, specifically in the `get_vm_or_template` function.  Simply, first try to find a vm/template object using the `find_vm_by_id` function with `vm_id_type="uuid"` and return that immediately if successful, otherwise continue as normal.

[code]

[2018-09-05 01:27] dagwieers commented on #45191
There's an **aci_l3out** module already, but it only creates the object. For adding things to it, we need separate modules for those. Or you can use the **aci_rest** module.

If you are interested in contributing modules to this project, there's more information at: https://github.com/ansible/community/wiki/Network:-ACI

[2018-09-05 01:46] #45053 closed, assigned to BondAnthony

[2018-09-05 02:17] geerlingguy commented on #37148
So... uh... is the module actually maintained/meant to be used now? Or should it be removed from Ansible until there's a reliable maintainer for the module? It's not clear from this issue if anyone ever picked up the mantle.

[2018-09-05 02:35] ptux commented on #40827
This is NOT a bug.

You'd better check following.

 ansible-playbook i40827.yml -i host
[code]

-  i40827.ym

[code]

[2018-09-05 03:02] geerlingguy commented on #40684
See related: https://github.com/ansible/ansible/issues/42476 — you still can't read a file in directly from the Ansible control machine with multiple definitions and feed it to the `k8s` module; you still get an error like:

[code]

Therefore, Ansible 2.7 will introduce a new filter, `from_yaml_all`, which can be used like:

[code]

(At least I think.) For now, I'm just copying all the files with

[2018-09-05 04:00] geerlingguy commented on #37148
Putting a few notes here, just in case I pop into this issue again while debugging in the future.

Firstly, to be able to use the `helm` module at all, I needed to add the following dependencies:

[code]

(Note the specific version of `pygit2`... for some reason you can't install the latest version due to some incompatibility that will kill the `pyhelm` installation.)

Then when using the module,

[2018-09-05 04:07] huyqut opened #45199 "`from_yaml` Parsing is problematic with datetime type"
##### SUMMARY
`from_yaml` behavior is to convert a string of YAML format into a dictionary. However, if a value in YAML follows format of ISO Datetime, it returns an `AnsibleUnsafeText` object.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Filter `from_yaml`.

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Fedora 28.
Ansible is insatlled via `pip`.

##### STEPS TO REPRODUCE

Playboo

[2018-09-05 04:12] trishnaguha commented on #35697
@mandar301190 Please do not use `transport` for ios modules. It is not supported for ios.

[2018-09-05 04:14] mandar301190 commented on #35697
Alright. But even if I remove transport then what changes I should make in
task section?

On Tue, Sep 4, 2018 at 11:13 PM Trishna Guha <notifications@github.com>
wrote:

[2018-09-05 04:33] schast commented on #44970
Hi,
i have received the same error.
After updating the pymongo package it works.

[code]

[2018-09-05 05:05] #45149 closed, assigned to Akasurde

[2018-09-05 05:23] mowgli opened #45202 "service: local variable 'worked' referenced before assignment"
##### SUMMARY
The service task trows the error `UnboundLocalError: local variable 'worked' referenced before assignment`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Well, it should check if prosody is running.

##### ACTUAL RESULTS
[code

[2018-09-05 05:23] mowgli opened #45203 "service: local variable 'worked' referenced before assignment"
##### SUMMARY
The service task trows the error `UnboundLocalError: local variable 'worked' referenced before assignment`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Well, it should check if prosody is running.

##### ACTUAL RESULTS
[code

[2018-09-05 06:32] Fred-sun commented on #43544
@zikalino Could you help update the issue status？ Thanks!

[2018-09-05 06:41] Fred-sun commented on #42215
@zikalino Could you help update the Issue status? Thanks!

[2018-09-05 06:45] zikalino commented on #42215
@Fred-sun Actually I am working on this particular issue today, it requires adding entire idempotence to VMSS module, should be finished at some point tomorrow.

[2018-09-05 06:48] Akasurde commented on #45203
Duplicate of #45202

[2018-09-05 06:48] #45203 closed, assigned to nobody

[2018-09-05 06:49] Akasurde commented on #45202
resolved_by_pr #45204

[2018-09-05 06:51] Fred-sun commented on #42215
@zikalino Thanks for your update.

[2018-09-05 07:02] BrechtClaeys commented on #45176
@yuwzho Do you expect this to be resolved in the near future or not? Because this issue makes Ansible pretty much useless in an environment that's even a bit more complicated than a pure basic environment. *(and I really don't want to go back using Azure's automation tool and powershell scripts :'( )*

[2018-09-05 07:04] zikalino commented on #45176
@BrechtClaeys I am fixing similar issue tight now, I can handle this one as well. are you ok to test whethe the fix works for that one?

[2018-09-05 07:06] BrechtClaeys commented on #45176
@zikalino If it doesn't put my environment in danger, I can always try :)

[2018-09-05 07:09] zikalino commented on #45176
@BrechtClaeys btw, what version of ansible are you using now? I think the fix when ready can be backported if necessary.

[2018-09-05 07:12] BrechtClaeys commented on #45176
@zikalino I'm using ansible 2.4.2.0 now.

[2018-09-05 07:17] gundalow commented on #45035
@ivanbojer @jtschichold Hi,
As we've now branched `stable-2.7` and `devel` is targeting Ansible 2.8 we've like to get these removals taken care of early in the release cycle.

There are only two `panos_` modules that need updating
This one and https://github.com/ansible/ansible/issues/45034

A single PR which does all of these would be fine if that's easier for you,

Please shout on here or in `#a

[2018-09-05 07:18] gundalow commented on #44991
@dagnello @emonty @juliakreger @omgjlk @rcarrillocruz @Shrews @Thingee

As we've now branched stable-2.7 and devel is targeting Ansible 2.8 we've like to get these removals taken care of early in the release cycle.

[2018-09-05 07:27] stefan-wegener opened #45205 "Hostname module on Raspbian Stretch fails, while it is working on Jessie"
##### SUMMARY
When running the [hostname module](https://docs.ansible.com/ansible/2.5/modules/hostname_module.html) (of course with the `become: true` setting) on a Raspbian stretch inventory host, it fails with:

[code]

Running exactly the same on a Raspbian Jessie inventory host changes the hostname as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hostname module

##### ANSIBLE

[2018-09-05 07:37] jpmens commented on #37355
IMNSHO this is not a feature request but a bug. The `name` attribute ought to be mandatory in order to default to idempotency. What we should do is to deprecate the non-mandatory `name` in a future version and then make `name` mandatory.

[2018-09-05 07:50] ihard opened #45206 "The service module forcibly sets variables"
The service module forcibly sets variables
LANG='C', LC_ALL='C', LC_MESSAGES='C'
there is no way to redefine them.
When upgrading from 2.4 - this became a problem, since there was used LANG = 'en_US.UTF-8'

##### COMPONENT NAME
module service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
OS Ubuntu 16.04

##### STEPS TO REPRODUCE

Service
[code]
ansible-playboo

[2018-09-05 08:08] dprts commented on #45136
Together with @Matthias-Beck we isolated the problem:
the tuple
` field=('name', 'node', 'aggr-name')`
has to be changed to:
`field=('name', 'owning-vserver-name', 'aggr-name')`.

[2018-09-05 08:09] jadbaz opened #45207 "mysql_user does not set empty passwords"
##### SUMMARY
`mysql_user` module does not set empty passwords (tried with both root and non-root users).
This should have been solved in [ansible-modules-core/pull/3445](https://github.com/ansible/ansible-modules-core/pull/3445) (though the exact wording of the PR is "when adding a **new** MySQL user"
The module works with any other password, except the empty password.

##### ISSUE TYPE
- Bug Rep

[2018-09-05 08:11] Akasurde commented on #45081
resolved_by_pr #45208

[2018-09-05 08:17] BrechtClaeys commented on #45176
@zikalino I now have version 2.7.0b1 installed, and will test your fix when available.

[2018-09-05 09:06] dcarrillo commented on #45151
My apologies, It's working now, maybe there was some kind of trouble with venv/pip (my guess).

[2018-09-05 09:06] #45151 closed, assigned to nobody

[2018-09-05 09:24] rinoalpha0 opened #45210 "Playbook works only for one device, not working for other device of and make and version"
SUMMARY -- Example of playbook --
[code]
STEPS TO REPRODUCE
Works only with one Cisco 3850, but not working for other Cisco 3850 switch.
[code]
EXPECTED RESULTS
Sh run output should get saved as .txt

ACTUAL RESULTS
nothing is getting saved in .txt, As "stdout": output show none

[2018-09-05 09:35] Im0 commented on #44959
@gdpak thank you for the reply!  I’ll give 2.7 a go, and, thanks ago.  I’ll close shortly.

[2018-09-05 09:38] madrover commented on #44905
I just ran the code you shared with some minor tweaks to add absolute paths to the files and the output has been:

[code]
The installer has finished successfully and the installed service is running.

On a related note, I'm liaising my company so I can share the installer with you to perform some testing but I'm still waiting for the approval...

[2018-09-05 09:42] rinoalpha0 commented on #45210
Ansible Version - 2.6.1
Component name - using Ios_Command.

[2018-09-05 09:48] ashbecky opened #45212 "META: ran handlers"
##### SUMMARY

I cloned a role from ansible galaxy,and the role.everything went fine,except the last step.when launching the app.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-dev-setup is the name of the role i cloned from ansible galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux D2 4.13.0-46-generic #51-Ubuntu SMP Tue Jun 12 12:36:2

[2018-09-05 09:55] amenonsen commented on #11692
It's --start-at-task, not --start-at-ask

[2018-09-05 09:59] unkaputtbar112 opened #45213 "vmware_guest.py adding option to modify the advanced vm-options"
##### SUMMARY
Adding option to modify VM-advanced-options/*.vmx-File.
At the moment it's only possible to modify the "customvalues", it would be great to be able to modify the advanced vm-options as well.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest

##### ADDITIONAL INFORMATION

It should be possible with pyVmomi using vim.VirtualMachine.ReconfigVM_Task.
[https://imgur.com

[2018-09-05 10:25] gtmtech opened #45214 "Ansible Vault should be able to specify the vault password in an environment variable"
##### SUMMARY

Allow an environment variable to be set, e.g. ANSIBLE_VAULT_PASSWORD which if set will be tried to unlock any vault-encrypted secrets

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Ansible Vault / vault password environment variable

##### ADDITIONAL INFORMATION
Currently vault encrypted secrets require that:

*  `--ask-vault-password` be specified which makes it interactive

[2018-09-05 10:36] priyankaprabhune26 opened #45217 "Transfer data from Remote to Remote Server"
##### SUMMARY
We want to transfer data from  Remote to Remote Server, we are using synchronize module, when we are enabling password less ssh, then we are able to copy the data from remote to remote server, but when we are disabling it, it is not working.

##### ISSUE TYPE
NeedHelp NeedSuggestion

##### COMPONENT NAME
synchronize

##### ANSIBLE VERSION
ansible 2.5.5
  config file = /etc/ansible/an

[2018-09-05 10:41] Yajo commented on #43286
This PR shows this problem. It has travis enabled, so you can see the build logs: https://github.com/Tecnativa/ansible-test-playground/pull/3

[2018-09-05 10:47] Akasurde commented on #44681
@jakegatsby @Im0 Sorry for late reply. I have been to VMworld 2018, so could not reply back. I agree that converting returned facts to list will solve the problem. Please check https://github.com/ansible/ansible/compare/devel...Akasurde:i44681 and let me know if it works for you.

[2018-09-05 11:01] michaelhajjar opened #45218 "NIOS race condition with next available iP"
##### SUMMARY

We are using the NIOS module for provisioning ip adresses in Infoblox. We have a race condition when multiple users try to provision a ip adres, both A/host records get registered on the same ip adres.  Issue is the same as: https://community.infoblox.com/t5/DNS-DHCP-IPAM/Simultaneous-requests-for-next-available-IP/td-p/6617

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nios

[2018-09-05 11:15] MarkusTeufelberger commented on #45214
`--vault-password-file` can also be a script (that would also be able to read environment variables).

[2018-09-05 11:25] moozer opened #45219 "Error running dkpg - "root's PATH should usually contain /usr/local/sbin, /usr/sbin and /sbin""
##### SUMMARY

I get an error when apt-installing packages using ansible.

It says:

It probably relates to this:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=904988

when I work with the systems, it is important to use "su -" as opposed to "su" when changing to root user. It looks like some similar issue with ansible.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

apt module

##### AN

[2018-09-05 11:30] trustchk opened #45220 "aix_inittab does not work on python 3.6"
##### SUMMARY
aix_inittab fails with AttributeError

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aix_inittab

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Controller: Gentoo Linux, Python 3.6.6
Target: IBM AIX 7.1, Python 3.6.3

##### STEPS TO REPRODUCE
Task:
[code]
Entry in /etc/inittab:
`audit:2:once:audit start > /dev/console 2>&1 # Start audit`

####

[2018-09-05 11:48] laerus commented on #39617
i don't see any traceback, only the last Exception and it doesn't even say the line number.

[2018-09-05 11:53] moozer commented on #45219
some su non-interactive examples

[code]

When running ansible commands with the -vv switch, I see this:

[code]

so it is using the first case from my three examples above, and does not source .bashrc, and does not update enviroment variables (like inkluding sbin)

[2018-09-05 12:28] trishnaguha commented on #35697
@mandar301190 no changes required, just remove transport.

[2018-09-05 12:30] jvanderaa commented on #45185
Thanks, when searching issues there was not an open one for aireos_config used in the search.

[2018-09-05 12:30] #45185 closed, assigned to nobody

[2018-09-05 12:32] jvanderaa commented on #45184
Agreed for a work around, although it is a common use case in aireos to move APs to an AP group, at least on initial configuration. Should still be something that is covered within the Ansible module. Not a rush, as the work around can cover, but for completeness.

[2018-09-05 12:32] molekuul commented on #45220
In the aix_inittab.py, itertools.izip is used jo join 2 lists to a dictionary.
This is not to be used on python3. zip can be used for this.
this has to be tested.

[2018-09-05 12:52] agaffney commented on #45045
What's the point of using `always` and another tag together on a task?

[2018-09-05 12:55] Akasurde commented on #45213
@unkaputtbar112 Thanks for reporting this issue. I am not sure if I understand this correctly. As per my understanding you want to update configuration which can be done using `customvalues`, like following -

[code]

Correct me if I am wrong. Thanks.

needs_info

[2018-09-05 13:03] fedelemantuano commented on #44245
I have the same issue. I installed `ansible 2.6.3` and `PyVmomi` in a virtualenv. When I run the playbook, I get the same error.
Then I installed `PyVmomi` in system without virtualenv and It worked.
So I can import in virtualenv the library but I can't use it in virtualenv.

[2018-09-05 13:17] Akasurde commented on #44957
@Tomorrow9 You can take this and work on it. Thanks.

[2018-09-05 13:18] amenonsen commented on #45045
a.yml says:
[code]

b.yml says:
[code]

The first debug task ends up tagged with [always,b].

If you _don't_ use apply as above, then the only way to accomplish the
same effect is to explicitly set «tags: b» on every task but the always
one. And if that's what you have to do to make it work, what's the point
of using apply?

[2018-09-05 13:26] zikalino commented on #45176
@BrechtClaeys I think at some point tomorrow. I plan to work on it tomorrow morning, so I think I should have something for you to test very soon....

[2018-09-05 13:38] Akasurde commented on #44561
@nicholasrodriguez I don't have access to 6.7 so won't be able to test this. So, to summarise, if you use direct ESXi host it will work but if you use cluster it won't work. Right? I will keep this open till I get access to 6.7.

[2018-09-05 13:42] mrmunch opened #45222 "Variable not defined when running with ignore_files in include_vars"
##### SUMMARY
When I use `include_vars` and specify `ignore_files`, then none of my variables are defined

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu Bash on Windows 10

##### STEPS TO REPRODUCE

Project structure:

- vars
-- foo.yml
-- bar.yml
- debug_vars.yml

[code]
[code]
[code]

#

[2018-09-05 13:43] albers opened #45223 "vmware_guest ignores "wait_for_ip_address" when powering on a VM"
##### SUMMARY
The `vmware_guest` module can be used to power on existing, stopped virtual machines on VMware.
The module has a `wait_for_ip_address: true` option that ensures that the task does not return before an IP is allocated, allowing subsequent tasks to extract the IP from the return value and use it to connect to the machine.

This setting does not work properly. Occasionally the task retu

[2018-09-05 13:43] ksarunas commented on #32265
Would be very beneficial, as having to template hundreds of independent site configurations in a loop takes forever now.

[2018-09-05 13:44] bcoca commented on #45045
so it was on purpose that `[always, b]` would be skipped with `--skip-tags b` as the expectation was that 'always include unless explicitly skipped', which `--skip-tags b` would be in my book. Mixing that with inheritance does make it more 'interesting' and might need reevaluating.

[2018-09-05 13:48] trishnaguha commented on #45171
@b0urn3 Can you share the output of the command from device here?

[2018-09-05 14:01] albers commented on #45223
It might be worth noting that this bug was discovered and examined using the [Ubuntu Cloud Image](https://cloud-images.ubuntu.com/) for Ubuntu 18.04. (see _create-vms.yml_ above).
VMs created from these images perform a one-time setup on their first launch using cloud-init.
In this step, _cloud-init_ uses _netplan_ to configure the interface for dhcp.

This means that the VM's IP address becomes a

[2018-09-05 14:09] tomtastic commented on #33156
Thank you @mike45379 for the esxi_hostname tip, I wasted three hours this morning with this bug on version 2.4.2.0. I thought maybe applying PR#35812 would help, but this was the fix in the end for me.

:+1:

[2018-09-05 14:19] bcoca commented on #45206
This is done because it parses the return of the command line tools and any localization breaks the matching.

Also consider that most privilege escalation and init system ignore the user's environment when executing the service, so if you want to ensure a proper environment for the service you should look into how the init system allows you to configure this . For sysvinit it normally means just

[2018-09-05 14:39] pratikkava1189 commented on #45129
@Akasurde  - vCenter version is 6.5.

[2018-09-05 14:55] bcoca commented on #37355
idempotence is not a requirement .. otherwise shell/raw would not exist.
The user should have the option to do this in any manner they wish.

That said, the documentation should be very clear on the expectations when 'name' is not included.

[2018-09-05 14:56] gchiesa opened #45228 "ec2_metadata_facts reports wrong role name with _expiration suffix"
##### SUMMARY

The ec2_metadata_facts module reports a wrong role name

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_metadata_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)

##### STEPS TO REPRODUCE

Start an AWS EC2 instance with a instance profile (role) attached
Install ansible 2.6.3 with pip
Run the

[2018-09-05 15:00] gtmtech commented on #28050
I get this issue all the time, I resolved it by setting `ansible_python_interpreter` in my hosts inventory to be my python installation where hvac was installed (as opposed to system python on OSX which is a completely different python (/usr/bin/python vs /usr/local/bin/python):

[targets]
localhost ansible_connection=local ansible_python_interpreter=/usr/local/bin/python

[2018-09-05 15:29] sivel commented on #45199
This is a known issue, and the result of the interaction between Ansible and Jinja2.  Jinja2 has historically only had the ability to return strings.  As such, we have a function that deals with converting strings that look like python data structures, into actual python data structures.

As a side effect, to construct objects from these strings, there are no end to potential imports that are need

[2018-09-05 15:29] #45199 closed, assigned to nobody

[2018-09-05 15:50] cocampbe opened #45230 "lxc_container.py container_config appends. Doens't seem to replace."
##### SUMMARY
For lxc_container.py I would request that the container_config parameter would replace an existing line. In my current testing, my config file has lxc.utsname = test1. If I add this to the config:

[code]

It does not rewrite the line, It just appends after a matching entry.

##### ISSUE TYPE
Parse the config and change/replace the existing parameter. Don't append after the match. By

[2018-09-05 16:24] njordr opened #45233 "openstack.py in ansible/lib/ansible/module_utils/openstack.py conflicts with openstacksdk"
##### SUMMARY
Using openstacksdk in an ansible module, conflicts with ansible module_utils openstack module (the latter wins)

The result is `Error: 'module' object has no attribute 'connect'` because ansible uses its own module instead of the one from openstacksdk

In the command output below you can see the openstack module in use

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/

[2018-09-05 16:27] unkaputtbar112 commented on #45213
@Akasurde ok, seems to be my bad, sorry for the inconvenience, for some reason, it didn't threw an error when I didn't put TRUE in quotes and it just did nothing, anyway, when i do value: 'TRUE' it works just fine, sorry again.

[2018-09-05 16:27] #45213 closed, assigned to nobody

[2018-09-05 16:35] #42917 closed, assigned to nobody

[2018-09-05 17:03] sivel commented on #45036
PR https://github.com/ansible/ansible/pull/45234

[2018-09-05 17:03] sivel commented on #45036
resolved_by #45234

[2018-09-05 17:12] mandar301190 commented on #35697
Yes I had done exactly the same way but it gives me trace back error. I
don’t know whether the issue is wid Ansible installed version or something
else.

On Wed, Sep 5, 2018 at 7:29 AM Trishna Guha <notifications@github.com>
wrote:

[2018-09-05 17:29] DesSolo commented on #10829
+1

[2018-09-05 17:30] bcoca commented on #24037
Most of these uses cases are already covered, I know @dagwieers has a couple that are not, but so people don't wait around, I'll give some examples below:

@dkarakas1 you might want to look into 'free' strategy or 'host_pinned' as they deal avoiding  'slow tasks/hosts' as bottlenecks.

@grizmin  @crossan007 that is actually simple to do with multiple plays per playbook or with run once + loop
[cod

[2018-09-05 17:33] bcoca commented on #10829
@tribbloid that is incorrect, handlers are invoked at the end of 'each phase': pre_tasks/roles/tasks/post_tasks

mostly this is not implemented as a task immediately following with `when: resultvar is changed` already provides this functionality.

[2018-09-05 17:48] stobias123 commented on #44851
We can close this... not sure if it was some weird conflict with my vars but I can't replicate anymore either.

[2018-09-05 17:48] #44851 closed, assigned to nobody

[2018-09-05 18:00] cocampbe commented on #45230
ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/etc/ansible/library']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Jul  3 2018, 06:28:28) [GCC 4.8.5 20150623 (Red Hat 4.8.5-28.0.1)]

[2018-09-05 18:03] bradwilliamson commented on #43251
This would be wonderful to have.  I just started trying to use this & it does blow up when trying to use subsequent tasks.  The VM will be doing a sysprep & rebooting. Then my play will have moved on to try to WinRM for other tasks. I tried using wait_for_ip_address: true but that doesn't seem to help.

[2018-09-05 18:28] darkn3rd opened #45244 "Instructions for Install on FreeBSD doesn't work"
##### SUMMARY

The instructions for FreeBSD describe process is `sudo pkg install ansible`, however in reality:

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#latest-releases-via-pkg-freebsd

##### ANSIBLE VERSION

These are just docs, so `latest`, which `2.6`.

##### CONFIGURATION

n/a

###

[2018-09-05 18:29] sivel commented on #45233
I'll let one of the above answer this formally, however, I believe this is just an adjustment that your module will need to make.

If you were to use `openstack_cloud_from_module` from `ansible.module_utils.openstack` it should return a `sdk` variable that you can utilize.  Because of the name shadowing, the `openstack` `module_utils` has a comment and code to work around that, by importing via `i

[2018-09-05 18:34] dmilind opened #45245 "Force default value is not taken by ansilbe when rendering template."
##### SUMMARY

I used a template (abc.yml.j2) to render the file (abc.yml), at first execution ansible placed proper abc.yml file on remote host. Then I made some changes in template and re executed ansible , but nothing has changed in remote abc.yml file. When I explicitely mentioned `force: yes` flag then it got rendered correctly. So as per document `force` flags's default value which is mentio

[2018-09-05 18:40] bradwilliamson commented on #43251
@kinwolfqc  This might help until something gets built into vmware_guest

https://docs.ansible.com/ansible/2.6/modules/wait_for_connection_module.html

There's also the option to using a block & build a loop until a certain condition becomes true.

[2018-09-05 18:43] moozer commented on #45219
a bit more digging

lib/ansible/playbook/play_context.py line 504:

I changed
`becomecmd = '%s %s %s -c %s' % (exe, flags, self.become_user, shlex_quote(command))`
to
`becomecmd = '%s - %s %s -c %s' % (exe, flags, self.become_user, shlex_quote(command))`

and now it works.

It looks like the `flags`variable could be a more appropriate place to put it....

[2018-09-05 18:59] fewknow commented on #14341
Was this ever addressed?

[2018-09-05 19:00] Bciecko opened #45247 "ios_facts config causing next task to fail"
##### SUMMARY

Running playbook ios_facts: gather_subset: config is causing the next task to run to fail.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible from Terminal of MacBook Pro running High Sierra 10.13.6
Target device is Cisco 4331 Router:
Cisco IOS XE Software, Version 03.15

[2018-09-05 19:03] tadeboro opened #45248 "redfish_facts fails while retrieving data from Redfish API"
##### SUMMARY
While retrieving data from the Redfish API, redfish_facts module raises an exception. The server that facts were gathered from was Lenovo SR650.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
redfish_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Gentoo GNU/Linux x86_64, Fedora GNU/Linux x86_64

##### STEPS TO REPRODUCE
Use this playbook

[2018-09-05 19:06] #31596 closed, assigned to nobody

[2018-09-05 19:27] sivel commented on #42341
@sa-lr are you willing to test https://github.com/ansible/ansible/pull/43560 to validate it meets your needs.

Also, please take note of my above comment.

[2018-09-05 19:48] jpmens commented on #37355
I find it doubtful that making `name` mandatory will hurt anybody, and it'll prevent people from mistakenly shooting themselves in the foot in future. I see no harm in preventing that.

[2018-09-05 20:00] ghost opened #45250 "Improve yum update and wildcard"
##### SUMMARY
Currently the only implementation of wildcard '*' in yum module is `yum update -y`
See the line [here
](https://github.com/ansible/ansible/blob/6be42a2a0ec6afb1e8a2f5f48bef4e9c1588dd34/lib/ansible/modules/packaging/os/yum.py#L1140)

##### ISSUE TYPE
- Change this to accept also a package name, etc
[code]
and this would actualy run a `yum update -y python*` not a `yum update -y`

####

[2018-09-05 20:32] rseuchter commented on #32750
I've started to come up with standalone repro steps but it may take some time until I get to this. However, I appreciate you looking into this. Have you tried Ansible 2.4.1.0 which I used when I first reported this?

[2018-09-05 20:32] beoSheep commented on #45250
!component -lib/ansible/galaxy/data/apb/tasks/main.yml.j2
!component -lib/ansible/modules/commands/shell.py
!component =lib/ansible/modules/packaging/os/yum.py
!component -lib/ansible/modules/system/kernel_blacklist.py
!component -lib/ansible/parsing/utils/yaml.py
!component -test/integration/targets/args/aliases

[2018-09-05 20:33] vwbusguy commented on #44409
Good news - I have a working fix on my local branch.  I'm going to package it as a PR this afternoon.

[2018-09-05 20:37] vwbusguy commented on #44409
FYI - this is actually checked twice - in the systemd module and the service module and they're intertwined.  The systemd module imports from the system module and calling the service module on a systemd environment invokes the systemd module code.  In either case, it was evaluating against the wrong condition.  It should have been evaluating against rc > 1 indicating that systemd couldn't find a

[2018-09-05 22:18] jakegatsby commented on #44681
@Akasurde Just did a quick test here and it looks really good.  Thanks for taking the time to resolve this issue.

[2018-09-05 23:44] codemastroAB commented on #43884
This work-around helped me.
In  /etc/ansible/ansible.cfg I set **gather_subset = !all** which basically only gathers minimum facts. I think while gathering facts something is messed up. So based on your requirement set the value to only gather those facts which is required for you.

[2018-09-06 00:45] kinwolfqc commented on #43251
Sadly that won't work because on a windows system, the wait_for_connection module uses WinRM so it has to be  activated, and to activate it we need the domain to be present(because we are using a domain CA for the certificate and not a self-signed)

[2018-09-06 01:00] Dmitry1987 commented on #17194
+1
does it exist?  the env var git credentials feature?

[2018-09-06 01:17] ptux commented on #32750
You'd better reproduce a bug with the supported version.

[release_and_maintenance](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html?highlight=release)

[2018-09-06 02:13] yuwzho commented on #43544
@Fred-sun Please verify this issue with  the latest bit

[2018-09-06 02:14] yuwzho commented on #42215
@zikalino Would you mind handling #42407 together? Both of these issues are about loadbalancer

[2018-09-06 04:26] balagurumoorthy opened #45266 "openshift_raw does not honor environment proxy"
##### SUMMARY

Trying to access openshift console behind http proxy hangs.
##### ISSUE TYPE
- Bug Report
The openshift_raw/kubernetes client does not have parameter to set the proxy when api_key is used for authentication. Tried to set the environment hash does not work either.
##### COMPONENT NAME

module: openshift_raw,
task:-
- name: Create a project
  openshift_raw:
    api_version: v1
    kin

[2018-09-06 05:01] trishnaguha commented on #35697
@mandar301190 Can you share the traceback and exact playbook you are using?
You will not have the same traceback posted here if you remove transport. Thanks.

[2018-09-06 05:16] mandar301190 commented on #35697
This is my output after removing transport module. I am currently using ansible 2.5.2.
Result:-
PLAY [Manage GNS3 devices] *****************************************************

TASK [enable ospf] *************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ansible.module_utils.connection.ConnectionEr

[2018-09-06 05:39] amenonsen commented on #45045
That would imply that --skip-tags sees "always" as being no more special
than "b", which is not what the documentation led me to believe. You're
right, this question takes on new importance now that we have "apply".

I think we should make always be special for skip-tags too, on the basis
that it's useful to have an "escape hatch" from include_role+apply (and
there's no easy way to accomplish the

[2018-09-06 05:42] #41168 closed, assigned to nobody

[2018-09-06 05:57] trishnaguha commented on #45171
resolved_by_pr https://github.com/ansible/ansible/pull/45135

[2018-09-06 06:03] #45171 closed, assigned to trishnaguha

[2018-09-06 06:16] trishnaguha commented on #35697
@mandar301190 Please try the troubleshooting guide https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#category-socket-path-issue.
The documentation shows how to do debug enabling logging https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#enabling-networking-logging-and-how-to-read-the-logfile.
This can be related

[2018-09-06 06:38] Fred-sun commented on #43544
@gomker we can use auth_source parameter to set credentials manually. I have tested on ansible 2.6.3( set auth_source: cli/env) all get successfully result. Could you help upgrade your ansible to new and try again？ if you still have this question, Please share your test log to us？ Thanks
update ansible method: sudo pip install ansible[azure] --upgrade -I

[2018-09-06 07:34] zikalino commented on #45176
@BrechtClaeys I have created a PR: #45269
are you able to test it?
seems like stacktrace is different in 2.7, I will check that too...

[2018-09-06 07:44] nicholasrodriguez commented on #44772
@Akasurde Correct. Ideally the module will return an Ok if the ESXi host is already added to vCenter within the datacenter. It means further configuration within the playbook can continue.

[2018-09-06 07:47] nicholasrodriguez commented on #44561
Hi @Akasurde , correct. Let me know if there are any further detailed tests I could run that might help.

[2018-09-06 07:47] zikalino commented on #45176
@BrechtClaeys could you also get me more info on your vm by executing following playbook?

[code]

[2018-09-06 07:53] zikalino commented on #39958
this issue should be fixed by #45269

[2018-09-06 07:56] trishnaguha commented on #44894
@davetechfreak Can please you try this PR https://github.com/ansible/ansible/pull/45271? I was able to reproduce this with Python2.6. This PR should fix it.

[2018-09-06 08:04] valentin-krasontovitsch opened #45272 "docker_container: auto_remove: yes and detach: yes seem incompatible"
##### SUMMARY

When running a task with the `docker_container` module, and **not detaching** from the container to wait for the container to finish and make the task's success depend on the container process's success, and **additionally specifying `auto_remove: true`** to discard the container after the run, I get an error message like

[code]

I assume that this is a race condition - the contain

[2018-09-06 08:08] valentin-krasontovitsch commented on #45272
Oh silly me just found the `cleanup` option which apparently is the way to go when wanting to remove a not detached container. Easy fix : )

Nevertheless, there should in this case at least be a warning if the two conflicting options are used? or a remark in the docs? or perhaps cleanup can be refactored in favor of auto-remove?

[2018-09-06 08:33] Fred-sun commented on #41003
@zikalino This issue similar with [#39958](https://github.com/ansible/ansible/issues/39958), Could you have confirm this also fixed by [#45269](https://github.com/ansible/ansible/pull/45269) ? Thanks a lot!

[2018-09-06 08:55] BrechtClaeys commented on #45176
@zikalino this is the first time i'm testing a PR, so I'm not sure I've done it completely right, but the output of the playbook changed at least, now I got a keyError on imageReference ins tead of osProfile.

[code]

[2018-09-06 08:57] BrechtClaeys commented on #45176
@zikalino output of your script:

[code]

[2018-09-06 08:57] jdavid5815 opened #45275 "Conditional 'is skipped' always evaluates to false."
##### SUMMARY

The conditional "is skipped" does not work. It is (poorly) documented [here](https://docs.ansible.com/ansible/2.6/user_guide/playbooks_conditionals.html).
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

jinja2/python conditionals

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

System Version:	macOS 10.13.6 (17G65)
  Kernel Version:	Darwin 17

[2018-09-06 09:00] zikalino commented on #45176
@BrechtClaeys thanks! that's really useful!

[2018-09-06 09:05] wilkis3 commented on #39311
I create an new vault_pass and it's work.
But I can't reproduce this error.

[2018-09-06 09:26] ymartin59 commented on #25941
I got something similar and the reason was my target system had not enough memory to start ansible python modules... Hope this helps.

[2018-09-06 09:37] pawelg007 opened #45276 "vmware_deploy_ovf throws urlopen error The write operation timed out on large/multiple ovfs"
##### SUMMARY
While deploying large (around 10 GB) ovfs or four of them at once, it fails from time to time (20-30% fail rate), with "msg": "<urlopen error The write operation timed out>" on ESXI 6.0.0.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_deploy_ovf.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux 4.9.13-201.fc25.x86_64 #1 SMP Tue M

[2018-09-06 09:59] alantang888 opened #45279 "www.ansible.com dead"
Sorry, I don't know is it a right place to report this issue.
www.ansible.com dead. it show ![screen shot 2018-09-06 at 5 57 22 pm](https://user-images.githubusercontent.com/5412371/45150461-8078a580-b1fe-11e8-90c2-6d198a953061.png)

[2018-09-06 10:12] unkaputtbar112 opened #45280 "VMware: show customvalues for vmware_host_config_facts and vmware_guest_facts"
##### SUMMARY

Displaying "customvalues" and "cluster" of the ESXi-Host with vmware_host_config_facts and displaying cluster with vmware_guest_facts.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_host_config_facts
vmware_guest_facts

##### ADDITIONAL INFORMATION

I guess a bunch of bigger companies are doing "fail-over" tests on a regular basis, having one ESX-Cluster split over 2

[2018-09-06 10:29] karthick87 opened #45281 "win_copy module includes additional quotes in one of its item"
##### SUMMARY
win_copy module includes additional quotes in one of its item which is causing an issue when we use those item as input for other tasks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_copy module includes additional quotes in one of its item
-> https://docs.ansible.com/ansible/2.5/modules/win_copy_module.html#win-copy-module

##### ANSIBLE VERSION
[code]

##### CONFIGURATIO

[2018-09-06 10:43] davetechfreak commented on #44894
@trishnaguha I tried it with a basic playbook and it works. Will try and test with my full repo in the afternoon as well, but I think its fixed! :)

[2018-09-06 10:44] trishnaguha commented on #44894
@davetechfreak Thanks for the update!

[2018-09-06 10:45] #44894 closed, assigned to trishnaguha

[2018-09-06 10:46] mkrizek commented on #45279
Hi, thank you for reporting the issue! The problem seems to be with a 3rd party system - https://status.hubspot.com/ which is being worked on.

[2018-09-06 10:46] #45279 closed, assigned to nobody

[2018-09-06 10:54] aaronk6 commented on #42532
Same here (also on Ansible 2.6.3).

[2018-09-06 10:56] webknjaz commented on #45279
N.B. it's accessible again: https://www.ansible.com/blog/network-automation-at-ansiblefest-thats-how-we-role

[2018-09-06 10:58] willthames commented on #45111
@fabianvf #45284 raised to fix the default - on merge I'll be aiming to get it backported to as yet unreleased 2.7

[2018-09-06 10:58] willthames commented on #44914
With #45284, I hope to make the new suggested usage the default.

[2018-09-06 11:28] florian-asche commented on #31150
wtf

[2018-09-06 11:32] mkrizek commented on #40130
Duplicate of https://github.com/ansible/ansible/issues/14270

[2018-09-06 11:32] #40130 closed, assigned to nobody

[2018-09-06 11:53] BrechtClaeys commented on #45176
@zikalino FYI, I also tested your PR on a machine which has all the required parameters, and then I get this error:

[code]

[2018-09-06 12:04] turb commented on #29344
@jhiggins do you know if this issue is still valid with the last `devel` branch?

[2018-09-06 12:25] ericcitaire opened #45286 "Ansible `unique` filter shadows Jinja2 `unique` filter"
##### SUMMARY
[Ansible `unique` filter](https://docs.ansible.com/ansible/2.5/user_guide/playbooks_filters.html#set-theory-filters) shadows [Jinja2 `unique` filter](http://jinja.pocoo.org/docs/2.10/templates/#unique).

This is pretty annoying because the Jinja2 filter offers useful options (`case_sensitive=False, attribute=None`) not offered by the Ansible filter.

##### ISSUE TYPE
- Bug Report

##

[2018-09-06 12:27] Yajo commented on #43884
You can see the failure here: https://travis-ci.org/Tecnativa/ansible-test-playground/builds/425233045#L601

Some problem with Debian 8? :thinking:

[2018-09-06 12:35] the-noob opened #45288 "aws_ec2 inventory plugin requires 'regions' key"
##### SUMMARY
`aws_ec2` documentation [states](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/aws_ec2.py#L51) that if no regions are specified then all will be queried but actually none are

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_ec2
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[

[2018-09-06 12:36] AngelFreak opened #45289 "junos_* state: present not idempotent"
##### SUMMARY
When running my role to setup a Juniper device, in this case EX2300, the play always reports Changed when using connection: netconf, and the end result state is present.

If the end result state is absent, it works grat.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/lib/ansible/modules/network/junos

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2018-09-06 12:44] klesniewski commented on #39538
Seems like nobody is working on it at the moment. Are you still interested in implementing it @sramakr? Would be great to have it.

[2018-09-06 12:50] maxgio92 commented on #37296
I'm experiencing the issue also on Amazon Linux 2 with python-setuptools already installed.

[code]

- Task output:
[code]

By installing via shell no problem is found:

[code]

[2018-09-06 12:55] crossan007 commented on #24037
Also of interest #12170

[2018-09-06 13:02] adriaand007 commented on #10446
Hi It is not merging as expected
I have two files
[code]
and
[code]
I would have thought the end esult would have been

[code]

[2018-09-06 13:14] sramakr commented on #39538
sure @klesniewski  I will create PR for this.

[2018-09-06 13:18] Rylon commented on #37512
I have just encountered this issue too - my particular use case is as follows:

* I have a custom role which depends on some third-party roles, which are defined in the role meta under `dependencies`.

* The custom role is in a separate Git repo so it can be shared between several Ansible projects.

* The custom role is defined in a `requirements.yml` and installed from Git using `ansible-galaxy`,

[2018-09-06 13:40] Akasurde commented on #44772
@nicholasrodriguez Can you please try this https://github.com/ansible/ansible/compare/devel...Akasurde:i44772 and let me know if it works for you ? thanks.

[2018-09-06 13:45] #44278 closed, assigned to nobody

[2018-09-06 13:45] Protista commented on #44278
Resolved in https://github.com/ansible/ansible/pull/44601

[2018-09-06 14:12] linnil1 commented on #44240
same as
https://github.com/ansible/ansible/issues/45289

[2018-09-06 14:13] bcoca commented on #24037
@crossan007 https://github.com/ansible/ansible/issues/12170#issuecomment-258482975

[2018-09-06 14:15] sivel commented on #45286
Technically speaking the ansible filter has existed for longer than the jinja2 filter of the same name.

Unfortunately, the jinja2 `unique` filter suffers from a few problems that our filter solves for (non hashable values), but is indeed lacking some of the features of what jinja2 provides.  As such, I don't see that we can simply remove ours, in place of what jinja2 provides, as it would cause b

[2018-09-06 14:17] sivel commented on #45286
As a work around for you, you can do the following now:

[code]

[2018-09-06 14:17] bcoca commented on #45286
^ what he said ...

I have not really looked at the differences between the filters, but I'll see what we can do to make the ansible ones more compatible w/o breaking existing plays.

[2018-09-06 14:21] sivel commented on #45275
The problem here is that the `command` module with `removed`, does not actually produce a skipped task.

A skipped task is defined as one that is skipped by the task executor because a condition prevented it from needing to run.

The `command` module, must always run, even with `removes` as it has to run on the target host to determine if the file exists or not.  In this case, the valid status for

[2018-09-06 14:21] #45275 closed, assigned to nobody

[2018-09-06 14:22] helldorado commented on #44950
@tobiasmcnulty your issue related to creating template from VM or creating linked clone ?

If you can't create linked clone like this issue #41940, can you test this fix https://github.com/ansible/ansible/pull/42313 ?

@olaldiko i confirm i can reproduce. I would make a fix in the current PR.

[2018-09-06 14:28] feliksik commented on #10446
@adriaand007 that is about merging lists, not hashes. I don't think the concatenation you expect is defined behavior.

[2018-09-06 14:30] crossan007 opened #45291 "win_iss* modules don't work well in parallel"
##### SUMMARY
When configuring multiple IIS sites and app pools on the same server, these actions fail when attempted in parallel.

the `win_iis_website` and `win_iis_webapppool` will fail when run in parallel with this error:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_iis_website
win_iis_webapppool

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2018-09-06 14:32] crossan007 commented on #45291
I've made a few (failed) attempts to get this task to execute serially;  not quite sure what the problem is:

relevant attempted links:
https://github.com/ansible/ansible/issues/24037#issuecomment-418814380
https://github.com/ansible/ansible/issues/12170
http://yejinxin.github.io/ansible-playbook-retry-a-task-until-success

[2018-09-06 14:38] crossan007 commented on #45291
It appears that the `until` attempt will work _only if I apply the same logic on **all** win_iis* modules_:

[code]

[2018-09-06 14:45] linnil1 commented on #44240
I think that it is not fault of ansible, it's the fault of Junos System when login message contains `\n` and modified by netconf.

I can reproduce it on EX4300 EX3300.
`test.yml`
[code]
After running `ansibe-playbook test.yml --diff` two times,
go to `cli` to check.
[code]

[2018-09-06 14:48] bcoca commented on #45286
so a few big differences, the jinja2 unique is 'environment filter'  and an 'attribute filter' both of which imply many things the ansible one does not do.

it also returns a generator vs a set, which means it requires `|list` to work in most contexts you would use in a playbook

[2018-09-06 15:34] gomker commented on #43544
Thanks guys - I can confirm with the latest `2.6.3`  the error has been corrected.

[2018-09-06 15:34] #43544 closed, assigned to zikalino

[2018-09-06 15:43] Fred-sun commented on #43544
Appreciate your confirm and look forward to your next contribution, Thanks!

[2018-09-06 15:46] crossan007 commented on #12170
It seems to me that the `run once + loop + delegate (limited to serial=1 behavior):` approach does not work when the inventory has two "inventory hosts", with each host having the same value for `ansible_host`

[2018-09-06 16:00] nicholasrodriguez commented on #44772
@Akasurde thanks for this. The module works when the target ESXi server isn't in the inventory and adds it to the DC. On subsequent runs it errors with the following;
[code]
The expected result would be the task returns an Ok as the ESXi server is already in the DC.

[2018-09-06 16:10] MichaelMayorov commented on #19874
I ogt same problem with buster

[code]

[2018-09-06 16:51] dchosnek opened #45298 "error message returned when changing SamAccountName using win_domain_user"
##### SUMMARY

The module can successfully change a user's SamAccountName, but it returns the error "Cannot find an object with identity: 'Bob Smith'..."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_domain_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target is Windows Server 2012 R2 Datacenter running as Domain Controller. All Windows updat

[2018-09-06 17:11] imcdona opened #45300 "hostname module cannot be used on platform Linux (Derived from red hat enterprise linux )"
##### SUMMARY
Hostname module doesn't recognize Sangoma Linux which is based on CentOS 7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
hostname

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]
[code]
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Ansible should change the system hostname

##### ACTUAL RESULTS

[code]

##### HACK TO

[2018-09-06 17:24] #45036 closed, assigned to sivel, bcoca

[2018-09-06 17:26] techie879 commented on #30411
This is also a problem for me, running ansible 2.16.1 .  I think it mostly happens during fact gathering stage when 'df' hangs ( in my case ).  there should be a mechanism to collect facts with option of opting out some parts of it(?), ...just a thoguht.

[2018-09-06 17:47] andreaso commented on #45244
Looks like the FreeBSD package archives have changed how they package Ansible.

[code]

Seeing the same both for FreeBSD 11.2 and FreeBSD 10.4. I clearly remember that at least the later one did use to have an `ansible` package.

I guess the updated documentation will have to refer either to `py27-ansible` or to `py36-ansible`.

[2018-09-06 18:00] sat1121 commented on #41774
Thanks @dandunckelman I am doing something similar but having a powercli script that does the nic teaming. Executing a shell gives me a good idea, since the powershell part takes longer when compared to python APIs

[2018-09-06 18:10] rseuchter commented on #32750
Point taken. Then why'd you use 2.8?

Still, I'll start with 2.4 to see if I got the reproduction environment right and only then will I move up the ladder.

[2018-09-06 18:18] sstaszkiewicz-copperleaf commented on #44840
Workaround:
[code]

[2018-09-06 18:28] alexeyt820 commented on #45188
Interesting that acording to same StackOverlow question it works with .Net 4.5+, looks like security concern just magically disappears in .Net 4.5

[2018-09-06 18:32] dagwieers commented on #45188
@alexeyt820 Or maybe .Net 4.5 comes with some lucid thinking options enabled ? One can hope :-)

[2018-09-06 18:53] bcoca commented on #45244
Weird, Ansible is not python dependent it works with both .. so basically they are repackaging the same code with diff shebangs?

[2018-09-06 19:12] jdamata commented on #44914
@willthames I think that makes a lot of sense. Doing 'strategic-merge', 'merge' by default simplifies things. Looking forward to 2.7 GA to simplify my dockerfile.

[2018-09-06 19:17] ryansb commented on #44788
Fixed in https://github.com/ansible/ansible/pull/45296

[2018-09-06 19:17] #44788 closed, assigned to ryansb

[2018-09-06 19:19] #43244 closed, assigned to nobody

[2018-09-06 19:24] #42371 closed, assigned to nobody

[2018-09-06 19:34] e-tienne opened #45315 "Expand cacheable option to be available to other action plugins than ansible_facts"
##### SUMMARY

We would like the "cacheable" option to be available for custom modules (like command_parser) which set the ansible_facts. Currently it is tightly linked to the "set_fact" module and not available for custom modules which set the ansible_fact directly. If moving "cacheable" to become a task level arg solves this then that could be a possible solution.

##### ISSUE TYPE
- Feature Ide

[2018-09-06 19:36] jborean93 commented on #45300
@imcdona feel free to open a PR with your fix and someone will be able to review it and hopefully get it in the next release.

[2018-09-06 19:38] jborean93 commented on #45298
Thanks @dchosnek should be a relatively simple fix, will see if I can work through it sometime soon.

[2018-09-06 19:38] samdoran commented on #45048
What is happening is the `patterns` field is a `list` type in the `argument_spec`. When a string is passed to a `list` field, it gets split on the comma. So two patterns end up being searched for: `^_[0-9]{2` and `,4}_.*.py`. Definitely not what you wanted.

[code]

To get the desired behavior, make the `patterns` field a list:

[code]

I'm not sure if there is a good way we could warn on that, bu

[2018-09-06 19:42] ekollof commented on #35515
Yes please.

[2018-09-06 19:44] #44557 closed, assigned to nobody

[2018-09-06 19:45] jborean93 commented on #45217
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-06 19:45] #45217 closed, assigned to nobody

[2018-09-06 19:49] jagan-at-vi commented on #37259
+1 for diagnostic feature

[2018-09-06 19:51] wiorka commented on #45151
I had this issue as well, in my case while creating a snapshot.

[code]

I dug a little, and it seems that the code refers to https://github.com/openstack/openstacksdk/blob/master/openstack/exceptions.py
But the class is not there. Instead I found the definitions in https://github.com/openstack/openstacksdk/blob/master/openstack/cloud/exc.py.

I made a local patch using `sdk.cloud.exc.OpenStackClo

[2018-09-06 19:52] s-hertel commented on #43442
Hi @StephanSchaarschmidt, I believe this has been fixed by 8b341619aee0847625694d3ee7eaab7f9c58979d (and will be included in the 2.7 release with https://github.com/ansible/ansible/pull/45318).

[2018-09-06 19:52] #43442 closed, assigned to nobody

[2018-09-06 19:55] s-hertel commented on #42179
I believe this has been fixed by 8b341619aee0847625694d3ee7eaab7f9c58979d (and will be included in the 2.7 release with https://github.com/ansible/ansible/pull/45318).

[2018-09-06 19:55] #42179 closed, assigned to nobody

[2018-09-06 19:56] jborean93 commented on #45219
@moozer what happens if you set `become_flags: -`, that should populate that flags variable is is controllable by the user.

[2018-09-06 20:08] rseuchter commented on #32750
I sat down again tonight trying to find a way to reproduce this. **I couldn't.**

I have to admit that I hit this problem when using a proxy cascade where cntlm is the first proxy and squid is the next.
I set up two squids with basic auth (not NTLM) between them and Ansible 2.4.6.0 worked fine (on Python 2.7.15). I don't really like to set up NTLM auth, cntlm etc. just for the sake of getting a we

[2018-09-06 20:29] samdoran commented on #45245
I am unable to duplicate this. Is it possible the source template did not get saved, or that the destination already matches the new changes for some reason?

Try running with `--diff --check` to see if Ansible sees any changes need to be made to the file.

[code]

[code]

[code]

needs_info

[2018-09-06 20:30] deivid-rodriguez commented on #32750
Hi! I subscribed to this issue because I thought I was having this same problem. In the end my problem was unrelated, but I thought I would post the python issues I had run into in the past in case they're helpful/relevant here.

Not sure if they are relevant since my issues were with the standard library `urllib` adding this header by default (without allowing to override it), and I don't think `

[2018-09-06 20:41] wolcen commented on #39456
Note that there is also no detection of circular links, which would be ideal. If you recurse+follow on a on a sufficiently complicated directory structure that contains a circular symlink, it will run for quite a while eating up clock cycles on the target host and appear from the ansible-playbook perspective to hang.

Ultimately, you will get a "RuntimeError: maximum recursion depth exceeded", but

[2018-09-06 20:45] lemmy04 commented on #45219
I'm having the very same issue.
here's the weird part:
I'm using ansible to keep four raspberry pi up to date, with this playbook:

[code]

and this problem hits me on exactly *two* of them, both are running kodi.

The other two raspis are doing just fine. become_method *should* be sudo for all of them, and when I use my ansible ssh account to shell in to one of the two media centers, and then use

[2018-09-06 21:04] jborean93 commented on #45291
There's not too much that can done about this, https://octopus.com/blog/iis-powershell#retry-retry-retry. We could do the same thing in PowerShell to retry the config setting multiples times.

[2018-09-06 21:06] dagwieers commented on #45291
Seems to me identical to trying to write to a single file in parallel. If you want something like this to work, some sort of locking is needed. Like we may be doing for Unix on file access, see https://github.com/ansible/proposals/issues/113

[2018-09-06 21:06] bcoca commented on #45096
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-06 21:06] #45096 closed, assigned to nobody

[2018-09-06 21:10] dagwieers commented on #45281
I think you made a mistake, because the quotes are part of the string you provide it. I bet the quotes are unicode characters, and not the single or double quote that YAML is expecting for strings.

[2018-09-06 21:14] samdoran commented on #45173
!component=/lib/ansible/modules/web_infrastructure/ansible_tower/tower_job_template.py

[2018-09-06 21:14] jborean93 commented on #45281
@dagwieers I need to check this, the user was having an issue in IRC yesterday and I asked them to create an issue so I didn't forget it.

[2018-09-06 21:23] #45212 closed, assigned to nobody

[2018-09-06 21:32] GSergeevich opened #45323 "os_keystone_endpoint fail with "Auth plugin requires parameters which were not given: auth_url""
##### SUMMARY

When I run os_keystone_endpoint module in my playbook it fail,while other os_* modules work perfect
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_keystone_endpoint
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Openstack Mitaka release, OS is Altlinux . Host (where ansible-playbook run ) OS Ubuntu 18.04.1 LTS
##### STEPS TO REPRODUCE

A

[2018-09-06 21:49] sramakr commented on #39538
apparently, boto doesn't support dynamodb encryption.
Only, Boto3 supports dynamodb encryption. Will work on migrating dynamodb module from boto to boto3.

[2018-09-06 22:15] dagwieers commented on #45281
@jborean93 But the output shows the quotes are actually part of the string, so I am pretty sure the problem is copy&pasted quote characters. It's the only explanation for YAML keeping it in the string.

[2018-09-06 22:28] bcoca commented on #45045
that might also require  changing 'never' as it works in similar way, it 'never runs unless explicitly targeted' , which currently includes other tags on same task

[2018-09-06 22:30] albertomurillo commented on #45323
You should use one of
[code]

As the example in (os-server)[https://docs.ansible.com/ansible/2.5/modules/os_server_module.html#os-server-module]

Or
[code]

But not both

[2018-09-06 23:48] ganchandrasekaran commented on #45289
same as #44240

[2018-09-06 23:58] jborean93 commented on #45281
@dagwieers looks like some info was missed, the output is

`"dest": "C:\\apache-tomcat\\webapps\\testmsg.zip",`

The example on IRC had `dest` being just `C:\apache-tomcat\webapps\` and win_copy was appending the filename. This tells me that we are not unquoting the dest value in the win_copy action plugin when setting the dest return value.

[2018-09-07 00:02] dagwieers commented on #45281
@jborean93 Ah, right. Now I see this is a list of items being processed. It would have helped if the playbook (or the task) was included.

[2018-09-07 00:10] zikalino commented on #45176
@BrechtClaeys just before fix is ready, you can try following to control VM state:

[code]

[2018-09-07 00:53] crossan007 commented on #45291
I support the `flock()` idea.

I happened to completely wipe out `c:\windows\system32\drivers\etc\hosts` by doing `win_lineinfile` in parallel.  Fortunately this was a testing system.

[2018-09-07 00:54] zikalino commented on #45176
@BrechtClaeys I have compared my VM output with your output, and the difference is that your osDisk is Attached and mine is FromImage.

[2018-09-07 01:08] dchosnek commented on #45298
@jborean93 I've thought about it more, and I don't think it can be fixed in a way that preserves idempotence. If you run the following task twice, it will fail the second time.

[code]

The first time you run the task, it will create a user with the **name** `Bob Smith` and the **SamAccountName** of `bsmith`. The second time you run the task, it will not be able to find user `bsmith` because it wi

[2018-09-07 01:15] mandar301190 commented on #35697
Hey
I just changed version of ansible and accordingly have to make in script. More on timeout value change worked. So that you for that.
But once configuration is done on switch or router, when I execute same command again within few seconds, it gives me traceback error. Then have to try consistently by same command and it works. Any idea why this could be an issue?

[2018-09-07 01:27] jborean93 commented on #45298
I haven't looked at the module yet but ultimately the root cause is;

* we are not using the Object GUID which should be static once we have retrieved the initial user account. This causes the final step of getting the account info to fail if the name is changed
* there isn't an easy way to idempotently change the `samAccountName` unless you know other info like the SID or ObjectGUID before hand

[2018-09-07 01:30] ptux commented on #32750
@rseuchter

Strictly speaking, I'm using `devel branch`.

If bugs don't occur on `devel branch`, they are maybe fixed somewhere else.
And bug fix is not backported to unsupported versions.

I don't know proxy quite well.
you could create an issue on the module `urls.py`  about this.
And it would be appreciated if you could fix it.

Anyway, let me know when you have new info.

[2018-09-07 01:43] zikalino commented on #45176
@BrechtClaeys about the last test, I think the failure was because I was in the process of adding some changes in the PR, and it was broken at that point. Could you retest this again?

[2018-09-07 02:10] vbotka commented on #45244
For the clarification. These ports are available at the moment

    # pwd
    /usr/ports/sysutils

    # ls -1 | grep ansible
    ansible
    ansible1
    ansible23
    ansible24
    ansible25
    py-ploy_ansible

What package shall be built depends on the [flavor](https://www.freebsd.org/doc/en/books/porters-handbook/flavors.html). The command *pkg search ansible* shows already built binary packa

[2018-09-07 02:38] Fred-sun commented on #30392
@nitzmahone Could you help to recheck this issue according by @yuwzho's advice? Thanks!

[2018-09-07 03:46] #40652 closed, assigned to nobody

[2018-09-07 03:49] Akasurde commented on #44625
I am marking this issue as resolved as the error is straight forward and no reply from reporter. Please feel free to open a new issue if problem persists. Thanks.

[2018-09-07 03:49] #44625 closed, assigned to Akasurde

[2018-09-07 04:03] #44391 closed, assigned to Akasurde

[2018-09-07 05:05] mattdc10 commented on #44751
ios_system works.  Thanks!

[2018-09-07 05:05] #44751 closed, assigned to nobody

[2018-09-07 05:07] yungezz opened #45330 "azure_rm_containerregistry idempotence bug"
##### SUMMARY

azure_rm_containerregistry not idemptotence.

run sample task such as below, always showed 'changed'
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-09-07 05:59] GSergeevich commented on #45323
Sorry!
My mistake.But:

Playbook:
---
[code]
---

One work, another fail in the same run :

---
[code]
---
Example from doc https://docs.ansible.com/ansible/2.5/modules/os_keystone_endpoint_module.html#parameters
:
---
[code]
---

os_keystone_endpoint module cant extract data from clouds.yml ?

[2018-09-07 06:43] BrechtClaeys commented on #45176
@zikalino I did a new clone of the PR, and I still got that same error, which is weird. The REST API roles however do work, thanks for that.

[2018-09-07 07:07] zikalino commented on #45176
@BrechtClaeys just one quick question. How have you created your VM in first place? I think it's impossible to do it using Ansible at the moment. (I mean attached OS disk)

[2018-09-07 07:15] BrechtClaeys commented on #45176
@zikalino And it's practically the 'attached' state of my VM's disk that's causing all the trouble. Because of that, the VM doesn't have an osProfile or ImageReference parameter, which is needed by the module. I've already contacted Azure support about this issue too, and they were also surprised to see that those parameters disappeared, and will start an internal investigation.

[2018-09-07 07:17] BrechtClaeys commented on #45176
@zikalino The VM was created by a former colleague, but I managed to simulate the situation by creating a VM in the azure portal, then deleting the machine. Then from the osDisk that isn't deleted with the VM, I created a new VM. That machine has the parameters missing.

[2018-09-07 07:19] zikalino commented on #45176
@BrechtClaeys thanks! I will try to do the same.
I have to say using ansible module may be not very nice to resources created by other ways. for instance, right now, it may delete something that is not supported by the module. I am trying to figure out how to improve this situation, and VM is one of the most critical modules.....

[2018-09-07 07:26] zikalino opened #45335 "Virtual Machine module - images not idempotent"
##### SUMMARY
When executing following playbook:

[code]

Second task will not cause any change.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
2.7

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Second task causes VM to be updated

##### ACTUAL RESULTS
No update recorded

[2018-09-07 07:39] mkrizek commented on #45222
`ignore_files` expects a list [1]. So you need to do:
[code]
Then it works as expected.

[1] https://docs.ansible.com/ansible/2.6/modules/include_vars_module.html#parameters

[2018-09-07 07:41] Ankur012 opened #45336 "Async : "async task did not complete within the requested time""
##### SUMMARY
 I have a task, where I need to run shell command which takes 22-25 min to execute after that it reboots the system. when playbook runs a command, successfully reboot the system but after some time its gives the error " async task did not complete within the requested time"
Note: Target system is SUSE 11.3

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
async

##### ANSIBLE VERS

[2018-09-07 07:50] mkrizek commented on #45222
#45338 should fix the issue so `ignore_files: bar.yml` works too.

[2018-09-07 07:52] ericcitaire commented on #45286
@sivel :

This returns unique values of attribute `dest` of items of `some_var`, while what I need is to filter the items of `some_vars` with unique values for the `dest` attribute, keeping the first item for each value of the attribute (see the example given in the issue).

Let's say I have a role which installs some random software, I want to provide a default set of templates and give the abili

[2018-09-07 08:48] BrechtClaeys commented on #45176
@zikalino I also realise that, and I try to keep the risk as low as possible by giving the service principal that ansible uses a custom role with just enough permissions to start and stop VMs. I've already run the start and stop scripts on some servers in the dev and testing environment, and apart from this server, which wasn't created the best way possible, everything went fine.

[2018-09-07 09:02] toxicvengeance commented on #44288
Would be really great if this would make the next patch release. I have the same problem as @Joeskyyy At the moment I have to patch our ansible installation with PR #39285 after every update to be able deploy virtual machines with scsi drives. I stumbled over this when I tried to resize hard drives and got an error from vcenter as IDE drives can not be resized while the the vm is running.

[2018-09-07 09:18] guwang139 commented on #14426
i just have this problem，this accur become user and model copy . however when i use root direct run playbook that's ok.
error msg :
----------------------------
SSH: EXEC sshpass -d13 ssh -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o User=vmuser -o ConnectTimeout=20 -o ControlPath=/root/.ansible/cp/48d4a08c2f -tt 192.168.202.105 '/bin/sh -c '"'"'su  root -c '"'"'"'"

[2018-09-07 09:26] Im0 commented on #44245
@fedelemantuano may I suggest opening a new issue and include debugging output from your environment?  It’s be good to see your setup and environment variables.

Please reference this issue in your notes so we can see the link.

[2018-09-07 09:35] Im0 commented on #45223
@albers any chance you could provide a bit of the verbose output (-vvv or greater) for one of the devices that failed?  Mainly for the vmware_guest task.

[2018-09-07 09:39] keilr commented on #29285
we are facing the same problem. nmcli Ansible module isn't idempotent.

[code]

[2018-09-07 10:00] albers commented on #45223
@Im0 I do not think that any device failures are involved.

Looking at the sources, I found that the `wait_for_ip_address` behaviour is not implemented for the _power on an existing vm_ use case. It is only honoured when the module creates a fresh vm and powers it on in the same task.
I already created a fix, see #45226.

Are you still interested in more verbose output?

[2018-09-07 10:55] AngelFreak commented on #44240
@linnil1 You are absolutely right, i just tried to make a single line banner.
This resulted in everything working as expected, all the following tasks also report the connect state.

[2018-09-07 11:00] aniketd commented on #32532
I am having this exact same problem and the apparent solution of specifying the path to the `python` binary does not solve the problem.

I'm running `ansible` on an `ubuntu` host and the target happens to be a `centos` docker container.

[2018-09-07 11:18] dmurarasu opened #45343 "nxos_interface_ospf issues"
##### SUMMARY

1. Check mode does not work and the module pushes the changes.

2. When using passive_interface parameter it does not work to add "no ip ospf passive-interface" unless you first configure the interface with "ip ospf passive-interface".
If you are trying to just have "passive-interface default" under the ospf process and just do a "no ip ospf passive-interface" under the interfaces u

[2018-09-07 11:34] #38679 closed, assigned to Akasurde

[2018-09-07 11:34] Yajo commented on #31344
Just in case you want to reproduce it "idempotently" :laughing: :

[code]

:point_up: There you're running a systemd-enabled ubuntu 18.04 container and disabling the `systemd-journald` service twice. The 2nd time it is expected to return `ok`, but it returns `changed`.

Remember to stop the container when you finish.

[2018-09-07 11:44] fedelemantuano commented on #44245
ok @Im0 thanks for reply.

[2018-09-07 11:54] fiona-123 commented on #32532
hi,
thanks for the reply.

yes i couldnt solve it.instead started again from the scratch.vagrant file
for multiple vms and all.

luckily it worked .but after that unusual behavior of vms.

looking for other ways around.

*regards*
*SAM ELESELA
*PhD Scholar*
*Department of Electronic Engineering*
*Chang Gung University-Taiwan*

On Fri, Sep 7, 2018 at 4:31 PM Aniket Deshpande <notifications@github.c

[2018-09-07 12:06] Akasurde commented on #43618
@jeremyollis Any update?

[2018-09-07 12:46] nicolaibaralmueller commented on #38198
What is the status here? Also cannot add comma separated lists of IPs

[2018-09-07 12:53] #33156 closed, assigned to nobody

[2018-09-07 12:55] Akasurde commented on #38043
@tassdevops Could you please retry using #39792 and let me know if it works for you ? Thanks

needs_info

[2018-09-07 13:06] kraduk commented on #41540
This seems to work as a work around for propagating tags on a conditional include. for people who arrived here like me

- block:
  - import_tasks: tasks.yml
  when: some_test
  tags: tags_2_inherit

# pipenv run ansible-playbook  --version
Loading .env environment variables...
ansible-playbook 2.6.3
  config file = /home/cscott/767627_infrastructure_ansible2/ansible.cfg
  configured module search

[2018-09-07 13:08] #44989 closed, assigned to nobody

[2018-09-07 13:09] #44990 closed, assigned to nobody

[2018-09-07 13:56] madrover commented on #44905
@jborean93, I've contacted you privately to provide the installer we're using and do further testing.
Thanks!

[2018-09-07 14:03] tobiasmcnulty commented on #44950
@helldorado It's both...the template "appeared" to create successfully with `proxmox_kvm`, but it could not be used to create a linked clone. The only way to create a template that could be used to create a linked clone was to do so from the command line with the `qm template` command.

Happy to test but not entirely sure how...are there docs somewhere on this?

[2018-09-07 14:11] helldorado commented on #44950
@tobiasmcnulty
1 - Pull the raw file in your `playbooks/library/` from https://raw.githubusercontent.com/helldorado/ansible/9037507fff23eb13b25877005a2c73d5c98e045d/lib/ansible/modules/cloud/misc/proxmox_kvm.py

The module doc is here => https://docs.ansible.com/ansible/2.5/modules/proxmox_kvm_module.html

[2018-09-07 14:49] fahanson commented on #42302
As I was trying to debug this issue this morning I thought it had been fixed in `openshift-restclient-python` with the Foreground Propagation Policy being set now [1]. Obviously this is not the case. I could work around this by searching for currently active ReplicaSets with a name filter, but that doesn't work either (possibly another bug incoming about k8s Lists not working).

I am dead in the w

[2018-09-07 15:01] fahanson opened #45348 "k8s module requires name parameter even when listing resources"
##### SUMMARY
While trying to return a list of resources in a namespace the k8s module fails, stating that the `name` value is required to patch.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Kubernetes version:
[code]

##### STEPS TO REPRODUCE
Run the following YAML
[code]
I have also tried with the exact example shown in the docume

[2018-09-07 15:16] #45189 closed, assigned to sivel

[2018-09-07 15:42] HariSekhon opened #45356 "Ansible Command/Shell - Deprecate -a 'quoted args' in favour of plain args without -a"
##### SUMMARY
Make ansible args interpreted to -a for faster parallel commands without having to quote everything all the time. Quoting then becomes optional for more complex commands and pipes when using shell module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Shell module and default Command module

##### ADDITIONAL INFORMATION
Instead of specifying -a 'args', just make any non-optio

[2018-09-07 15:48] artjomaverin commented on #24215
+1

[2018-09-07 16:16] samdoran commented on #45048
After discussing this with others on the team, there is no good way to easily and accurately detect and warn that this is happening. The best we could do is a documentation fix to hopefully prevent others from hitting this in the future.

[2018-09-07 17:35] thkala commented on #44915
As far as I can tell, netconf is still not supported by EdgeOS: https://community.ubnt.com/t5/EdgeRouter/Netconf-amp-Yang/td-p/1550141

[2018-09-07 17:41] #45119 closed, assigned to nobody

[2018-09-07 18:09] kevinpz opened #45362 "datadog_monitor error when trying to create a new monitor"
##### SUMMARY

It is impossible to use the datadog_monitor module to create new monitors on datadog.
Each time the playbook failed with an error in log about multiple values for keyword MESSAGE

This seems to be the same kind of issue that this one: https://github.com/ansible/ansible/issues/39295

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

datadog_monitor

##### ANSIBLE VERSION

[code]

[2018-09-07 18:14] fabianvf commented on #42302
@fahanson Searching for resources should work using the [k8s lookup plugin](https://docs.ansible.com/ansible/latest/plugins/lookup/k8s.html), the k8s module is mostly for interacting with a specific resource.

As for the propagation policy bug, unfortunately the client was rearchitected and this is a regression to the previous default behavior. I will try to get support for this in the client ASAP

[2018-09-07 18:28] moozer commented on #45219
@jborean93 good idea
Adding `m67deb ansible_become_flags="-"` to the inventory file works.

This is usable workaround until it gets fixed in ansible :-)

I am going to add it in `inventories/production/group_vars/all`

@lemmy04 The bug I am describing is very debian specific. I don't think it even affects Ubuntu - but if `kodi` is a pure blend of debian/testing, then you might be affected.

Still,

[2018-09-07 19:04] rifty commented on #35494
I have a similar issue when using `crypto key zeroize rsa`.  But it presents  a `[yes/no]:` prompt which ios_config will timeout on since it will not recognize this prompt.

[code]
Should I open a separate bug for this?  It's fairly similar to the initial bug reported above.

[2018-09-07 19:07] fahanson commented on #42302
@fabianvf Thanks for the quick reply, and for pointing me towards the lookup plugin! With this I am at least able to put together a workaround.

For others in this situation the below snippit will search for your `ReplicaSet` by a label, pull the name, and then delete said ReplicaSet:

[code]

[2018-09-07 19:28] robinro commented on #45356
!component -lib/ansible/modules/packaging/language/pip.py

[2018-09-07 19:39] zachys commented on #1104
I found using a double-double quotes after : to do the trick for me:
`- NOT_A_REPO="fatal:"" Not a git repository (or any of the parent directories):"" .git"`

[2018-09-07 20:02] pupseba commented on #26420
Hi,

The suggested jamescassell workaround worked for me using ansible 2.6.3 with a vSphere 6.5. Thanks!!! :)

So, to add the disk, we have to specify all the already existing disks plus, the one we want.

Usefull mostly when deploying from templates where you already know the base disk size. A more flexible option is desireble tho.

Regards,
Sebas

[2018-09-07 20:12] fabianvf commented on #42302
Awesome, glad that at least got you unstuck. For my k8s roles I usually toss the lookup into the vars field of the task itself, just to make it clear that I'm not planning on using the variable in a later task/prevent accidental collisions. Not any functional difference though, just letting people know they can do that in case they need to do a lot of deletes and don't want to have a bunch of set_

[2018-09-07 21:13] abadger commented on #39390
Fixed by #44337

[2018-09-07 21:13] #39390 closed, assigned to nobody

[2018-09-07 21:14] jose-delarosa commented on #45248
@tadeboro ACKed. I need to add code to check if property exists before trying to read from it. Thank you for testing and submitting feedback. At the risk of getting more issues, please keep testing.

[2018-09-07 21:39] LineAB opened #45367 "Empty lines are stripped from the command module's output."
##### SUMMARY
The command module strips trailing newlines from the output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### STEPS TO REPRODUCE
Give the command module a program that outputs blank lines.

[code]

##### EXPECTED RESULTS
I expect to see the exact program output.

##### ACTUAL RESULTS
I did not get to see the

[2018-09-07 22:35] sankaravadivel opened #45370 "Right way to invoke ActionBase._execute_module for modules with "free_form" argument"
##### SUMMARY
I am building a custom action plugin and I am trying to invoke the command module using ActionBase._execute_module. But unfortunately, I couldn't find any document or samples showing how to pass the command to module_args parameter. I set _raw_params value to my command and got it working. But I am not sure if that is the recommended approach

 cmd = 'ls  -a'
 command_task.args["_raw

[2018-09-07 22:51] bcoca commented on #45370
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2018-09-07 22:51] #45370 closed, assigned to nobody

[2018-09-07 23:56] willthames commented on #45348
Pretty sure this bug is fixed in (unreleased) 2.7. Perhaps we should have backported the fix.

Leaving this one open to:
* Ensure it gets added to the test suite
* Gets backported to 2.6

[2018-09-07 23:59] fabianvf commented on #45348
@willthames I think this is fixed by the addition of your `k8s_facts` module, although listing also works in 2.6 if you use the `k8s` lookup plugin. The `k8s` module is primarily for interacting with a specific resource, the lookup plugin and `k8s_facts` module handle listing.

[2018-09-08 00:05] willthames commented on #45348
I'm wrong - listing is still broken in devel in this fashion. Unfortunately the 2.6 docs are still the latest docs, so people will hit this bug.

As @fabianvf says, using `{{ lookup('k8s', kind='Service', api_version='v1') }}` should do the trick in most cases.

But this is still a bug in 2.6, either in the docs or in the code.

[2018-09-08 00:07] willthames commented on #45348
#42558 may well fix this

[2018-09-08 00:11] dmrzzz commented on #32499
I'm admittedly way out of my depth here, but AFAICT the above isn't as reassuring as it seems.  Discussion in https://bugs.python.org/issue33725 suggests that

* the reason we don't get this error using the python.org installers is because those installers aren't (yet) being built with a 10.13 SDK

* the ultimate resolution is for framework and application code to either avoid or be very careful w

[2018-09-08 00:58] dagwieers commented on #44141
I think you're looking at the wrong solution here. The transport to access Windows systems is not SSH- based (not yet, at least), so proxying over SSH (like is custom on Unix) does not make any sense at the moment. What could be possible, and what is probably worthwhile to do, is to proxy using HTTP (which is what WinRM and PSRP are based on).

Let me add this to the community ideas on the wiki as

[2018-09-08 01:01] dagwieers commented on #45188
Personally, I would document this in the **win_get_url** module.
If someone is interested to rewrite this module so this is fixed, be my guest :-)

[2018-09-08 01:05] darkn3rd commented on #45244
To get it to work, I used the `py27-ansible`

[2018-09-08 01:29] jeremyollis commented on #43618
Running the VMware inventory sync with debug, the output shows the property being gathered, but not the value for the property.  For example:

[code]

This is a Windows target.  Ansible 2.6.2

The request here is to include the values gathered in the debug output for the properties being gathered in this manner.

[2018-09-08 02:32] jborean93 commented on #44141
The upcoming 2.7 release includes the psrp connection plugin and that supports proxy configuration as part of Ansible vars https://docs.ansible.com/ansible/devel/plugins/connection/psrp.html. For winrm you would need to set proxy variables in an environment var.

[2018-09-08 02:52] willthames commented on #42302
I can't reproduce this with deleting Deployments (rather than deleting DeploymentController).

Is there a reason for deleting the DeploymentController?

[2018-09-08 06:28] techfishio commented on #34335
[This seems very counter intuitive](https://stackoverflow.com/a/21966211/1552416), maybe I'm interpreting this answer wrong or `shutil.rmtree` has changed since 2014?

https://github.com/ansible/ansible/blob/1891827dfafc6453b5da3e04b2e838deb22020ce/lib/ansible/modules/files/file.py#L421

Seems like the [SO answer](https://stackoverflow.com/a/21966211/1552416) is saying this should be:
[code]

[2018-09-08 07:29] gundalow commented on #35494
@rifty as a work around you should be able to use `ios_command` with `prompt`

[2018-09-08 08:26] tterranigma commented on #18430
How will the new loop syntax work with this? For instance:

[code]

will fail, while `with_first_item would succeed. Am I missing something?

[2018-09-08 09:29] ghost opened #45382 "possible unreliable aggregated inventory when parsing multiple inventories using inventory plugins and when any of them raise an error"
##### SUMMARY
assuming the following:
- using ansible custom inventory plugins
- one inventory plugin (good.py) returning results correctly
- the other one (bad.py) raising an error during parsing
- enabling unparsed_is_failed

considering the following scenarios:
- running ansible-inventory against good.py returns no error (rc==0)
- running ansible-inventory against bad.py returns an error (rc==1

[2018-09-08 09:50] flabatut commented on #45382
- affecting also ansible-2.8.0.dev0
- no matter the order of inventories listed as arguments for cli, result is the same

[2018-09-08 10:33] theputta opened #45383 "Couldn't run ansible commands on GCE platform"
##### SUMMARY
Couldn't run ansible commands on GCE platform

##### ISSUE TYPE
My situation
- I am trying to use "-s -K --ask-pass" to exchange passwords
- I am using same user and root password across all nodes
- I don't want to exchange keys

##### COMPONENT NAME
using ping module to check the connectivity between the nodes with flags like "s" "K" "ask-pass"

##### ANSIBLE VERSION
[code]

##### C

[2018-09-08 10:40] nkakouros opened #45384 "Add an 'inventory_save' module/plugin"
##### SUMMARY

With cloud modules, it is easy to create instances online. Then, often, the newly created hosts are added to the in-memory inventory with `add_host`. It would be handy to have a module/plugin/filter/sth to write this in-memory inventory to an actual inventory file. This way, other playbooks can operate on the new hosts. Dynamic inventories already solve this, but having the in-memor

[2018-09-08 10:55] sakaal commented on #25904
I know many people who would need this feature, but would not know how to ask for it, i.e. they would not easily find that this feature idea has already been proposed.

I certainly second that we need this, and I would add easy instructions on how to use it in the Ansible documentation page that talks about variables in general -- specifically in the part where the order of inheritance is discusse

[2018-09-08 11:06] nkakouros opened #45385 "'inventory_*' magic variables do not exist"
##### SUMMARY

'inventory_dir' and 'inventory_file' report as not defined.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux latest

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The path to the (yaml in my case) inventory file should be printed.

##### ACTUAL RESULTS

[code]

[2018-09-08 12:55] fahanson commented on #42302
@willthames I'm treating it the same as I would if I was running `kubectl apply -f` or `kubectel delete -f` on the command line. So my deploy and delete task both look like this:

[code]
Doing it this way deletes the deployment, but not the ReplicaSet or the Pods themselves (since they are in the ReplicaSet).

[2018-09-08 13:14] fahanson commented on #45348
It could be as simple as removing the referenced example from the docs, or pointing to the `k8s_facts` module instead. Now that I am using that module I don't really see the use case for using `List` in the `k8s` module.

[2018-09-08 15:05] AnoopAlias commented on #43884
# cat /etc/redhat-release
CentOS Linux release 7.5.1804 (Core)

# ansible-playbook --version
ansible-playbook 2.6.4
  config file = None
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible-playbook
  python version = 2.7.5 (de

[2018-09-08 17:19] #35373 closed, assigned to nobody

[2018-09-08 22:56] jborean93 commented on #44905
@madrover I've figured out the issue, we changed the behaviour of `CreateProcess` that win_shell/win_command uses in https://github.com/ansible/ansible/pull/37229 to not allocate a new console for the process. This meant that the child processes shared the same conhost as the WinRM process and was found to be more beneficial for various reasons. This change was introduce in 2.5.1 and fixed the iss

[2018-09-09 00:17] adamantike opened #45391 "github_release: Allow anonymous access"
##### SUMMARY
The current `github_release` module implementation takes either a GitHub token or user/password to authenticate with GitHub.

However, a common scenario is to retrieve the latest release tag for a public repository, and use it to build the GitHub URL to the installer/executable for that release. In these scenarios, authenticating with GitHub shouldn't be required at all.

The library

[2018-09-09 01:25] Akasurde opened #45392 "password_hash fails with passlib exception"
##### SUMMARY
Due to https://github.com/ansible/ansible/commit/7871027c9daa534517821509dfa0501b6df4dbc2 password_hash fails with following error :

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/utils/encrypt.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing specific

##### OS / ENVIRONMENT

RHEL7

##### STEPS TO REPRODUCE

Run following playbook -

[code]

##

[2018-09-09 01:37] willthames commented on #45348
@fahanson that's the case for the upcoming 2.7 release (and k8s_facts isn't released until then anyway - glad to hear you're already making use of it!)

The documentation for 2.7 is https://docs.ansible.com/ansible/devel/modules/k8s_module.html - if you have any additional feedback on that, let me know.

[2018-09-09 02:05] willthames commented on #42302
@fahanson, sure - I wonder if this is an Openshift issue rather than an ansible module issue.

I tested using the openshift-origin 3.9.0 container, ansible 2.7 (just to get me k8s_facts) and openshift 0.6.0 and kubernetes 6.0.0 (which I suspect is what most people have) - deleting a Deployment does delete the related ReplicaSet.

However, as you say, deleting a DeploymentConfig does not delete the

[2018-09-09 02:09] jborean93 commented on #44905
One thing I should mention, if you have control over the installer, it may be better to have that create the monitor process with the CREATE_NEW_CONSOLE flag and not be reliant on Ansible’s internal processes. I’m going to post the question as to whether we expose the flag field in the command/shell modules at the next working group. Personally the more I think about it the more I think async is t

[2018-09-09 03:50] briantist commented on #42977
Hey @ryansb and @wimnat , pinging since you both seemed to be heavily involved in the AWS *LB modules, hope that's ok.

[2018-09-09 04:43] sowbug commented on #28870
This happened to me, too, after installing Raspbian Lite on a new machine. Wasted a lot of time debugging the ssh configuration.

[2018-09-09 09:09] chenzhiwei opened #45395 "Customize the variable precedence"
##### SUMMARY

We package Ansible based tool for users, and the only way to customize variable is an inventory file and a extra variable file.

Users specify the variables in extra variable file and specify hosts in inventory file.

But sometimes the password of the hosts are not same, they need to specify password per host.

So the inventory file is something like:

[code]

But we allow configuri

[2018-09-09 18:27] dagwieers commented on #44141
@jborean93 I don't think this is documented for WinRM, at least I couldn't find it.

[2018-09-09 18:42] dgengtek opened #45401 "EdgeOS configuration is too difficult to template via commands"
##### SUMMARY
Just wanted to discuss and get some input for my thoughts I had when trying to use the ansible edgeos_config module to template my edgerouter x device.

At its current state I feel like it is too difficult to use in the context of templating the edgeos configuration via jinja.

Also the backup option is broken since this is not the way edgeos handles its backup and restoration. You c

[2018-09-09 19:02] dagwieers commented on #34335
@techfishio Which would end up not removing the whole tree. Which is not what the user intended. If the user asks operation A to be performed, and operation A did not succeed, we do not want to silently ignore this and continue. So `ignore_error=True` is pretending everything worked fine.

[2018-09-09 19:06] dagwieers commented on #43891
bot_broken

[2018-09-09 19:11] dgengtek commented on #45401
This is an example of how I template the configuration currently. I am not using it for anything right now since I run too often into said issues above.

https://gist.github.com/dgengtek/4471642fa4e5e46e2f9056b41fd1a63a

[2018-09-09 19:49] lemmy04 commented on #45219
http://susepaste.org/14504299

[2018-09-09 20:30] jborean93 commented on #45219
@moozer that's exactly what become flags are for, I don't think the code needs changing as you are able to control what you want by setting `-` in become_flags.

[2018-09-09 23:10] decentral1se opened #45403 "The linode module cannot destroy instances it creates"
##### SUMMARY

The Linode module cannot destroy instances it has created. Major downer and bad bug.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

linode

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian GNU/Linux 9

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The linode that is created is destroyed because we specify `state=absent`.

[2018-09-09 23:26] rwaweber commented on #45403
Hey @lwm thanks for the report!

I think that there may be some residual bad documentation in the module -- the `linode_id` is not the sort of thing that should be settable by the user upon instance provisioning. This is something that should be returned by the api, when created -- IE it's out of the user's control what is specified.

As a result of that, it wont be set when specified as part of t

[2018-09-09 23:37] lwm commented on #45403
Hey @rwaweber, thanks for the feedback and explanation.

So, I assume you're talking about a play like this:

[code]

Unfortunately, this also does not work. The linode remains after the play runs.

I may still be doing something wrong? But hopefully not, because this should be this simple, right :)

Should I try to make a fix on this (not sure what it is though) or can you pick it up? Seems prett

[2018-09-10 00:44] InTheCloudDan commented on #45403
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/linode/linode.py#L537-L546 it is only looking up via linode_id, you should be able to use getInstanceDetails to pass that ID around in the playbook and if it's not a single playbook I agree it should be able to do the lookup via the name then pass in the ID to the deletion.

@lwm have you thought about becoming a maintainer fo

[2018-09-10 02:18] mrmagooey opened #45407 "Support for attaching multiple cdrom devices to VMs"
##### SUMMARY
Currently only a single cdrom can be attached to a vm using the vmware_guest.py module. There are instances where it would be useful to attach multiple cdrom devices, e.g. Some operating systems allow for automated install files to be inserted as cdroms into the machine during initial install. Without the ability to have multiple cdroms attach to a vm on startup, the ability to make

[2018-09-10 02:22] FriedCircuits opened #45408 "Docker swarm service network id lookup returns 'None'"
##### SUMMARY

On the dev branch using the docker_swarm_service module to create a docker service with a custom overlay network ansible returns "Exception: no docker networks named"

After hours of head scratching I figured out how to save the generated python and explode it.
 I did some debugging on the following line

https://github.com/ansible/ansible/blob/d6b0b61aa32450b34b9bbd99b957891b7d5a1c

[2018-09-10 03:50] sameerkasi200x opened #45409 "vmware_guest module: Facing issues while resizing disk or restoring VM when using multiple scsi controller"
##### SUMMARY
We have a playbook which uses vmware_guest module to create a VM. The VM is created using a VM template which has below disk layout:

SCSI0: disk1, disk2, disk3
SCSI1: disk4, disk5, disk6, disk7
SCSI2: disk8, disk9, disk10, disk11

When we restore this VM template as it is, we get a new VM as per our expectation i.e. a VM with 11 disk and disks are aligned with the above SCSI mapping

[2018-09-10 03:51] #41721 closed, assigned to nobody

[2018-09-10 04:13] Akasurde commented on #45409
@sameerkasi200x Thanks for reporting this issue. I will try to reproduce this issue in my lab env and let you know. Thanks.

[2018-09-10 04:58] Im0 commented on #45223
Hi @albers - No need for the verbose output thanks.  I tested your PR,  thanks for that, works great.

[2018-09-10 05:08] dscout87 commented on #38679
@Akasurde I just install https://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/ansible-2.6.4-1.el7.ans.noarch.rpm and try to create vm with cdrom and disks. It both on IDE bus and not allow to create more that one disk.

It would be greate if users have extra option in disks dictionary to provide bus type.

[2018-09-10 05:30] Im0 commented on #44681
@Akasurde  - works well for me too on vsphere 6.7.

[2018-09-10 05:53] Fred-sun commented on #37158
@kwoodson Thanks for the contribution. Are you still here? do you still have this question? if not, we can close this issue? Thanks!

[2018-09-10 05:54] Im0 commented on #45081
@Akasurde tested your PR to be working fine.  Thanks @Akasurde and @jakegatsby

[2018-09-10 05:59] Fred-sun commented on #37259
@zikalino Could you help take a look this issue? it's new feature(auto shutdown & boot) for azure_rm_virtualmachien). Thanks!

[2018-09-10 06:03] dscout87 commented on #38679
@Akasurde I find info, that this commit included in 2.6.4 release that created 3 days ago.
Anyway I just tested this commit and module really create disks on SCSI bus and cdrom on IDE, thats great! But when I request more than 2 disks in dictionary it creates only 2.

[2018-09-10 06:06] Fred-sun commented on #37934
@yuwzho Could you help give a easy fix for this issue? Thanks!

[2018-09-10 06:12] Fred-sun commented on #38561
@yungezz Could you help update the issue status? Thanks a lot!

[2018-09-10 06:14] yungezz commented on #38561
this is a new feature request, not bug. no status update. so far we didn't see customer ask for this feature, put it in backlog.

[2018-09-10 06:30] bank32 commented on #38402
@Akasurde where can I check when it gets deployed? it has been a while for this problem now.

[2018-09-10 06:36] Fred-sun commented on #39006
@kargakis Thanks for you pay attention on ansible project. Do you still have this question? Now , I can easily to reproduce this question. It cause by network unstable. not a bug, Could we can close this issue？
reproduce method: when created storage account , sleep the computer, the network unstable, will lead this error.

[2018-09-10 06:40] Akasurde commented on #43618
@jeremyollis Could you please check above PR and let me know if it works for you ? I am getting following output with this patch

[code]

[2018-09-10 06:40] Akasurde commented on #43618
resolved_by_pr #45410

[2018-09-10 06:41] Fred-sun commented on #38561
Thanks @yungezz

[2018-09-10 06:43] yuwzho commented on #37158
@Fred-sun We cannot close the issue now, because there is still feature gap.

[2018-09-10 06:44] nkakouros opened #45411 "Registered variable is not delegated as a fact"
##### SUMMARY

In the docs, it mentions:

But if `delegate_facts` is set to `yes` in task that registers a variable, then the variable is not available in the `hostvars` for the host that actually performed the task through delegation.

##### ISSUE TYPE
- ~Bug  Report~
- Docs Report

##### COMPONENT NAME

delegate_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2018-09-10 06:53] Fred-sun commented on #37158
Thanks @yuwzho , I see.

[2018-09-10 06:55] lemmy04 commented on #14020
I'm even now encountering this issue. why is it closed?

[2018-09-10 06:55] #45223 closed, assigned to nobody

[2018-09-10 06:57] Fred-sun commented on #34047
@nitzmahone Thanks for the contribution, Could you give more info about this issue? We need more info to verify this issue. Thanks!

[2018-09-10 07:02] mkrizek commented on #38402
@bank32 https://github.com/ansible/ansible/pull/40793 should be in Ansible `2.7`

@Akasurde should this be closed?

[2018-09-10 07:09] Fred-sun commented on #39977
@yungezz Do you have any update about this issue (--image format match the CLI)? Thanks!

[2018-09-10 07:15] #45081 closed, assigned to Akasurde

[2018-09-10 07:26] Akasurde commented on #37912
@tonal Can you check #40793 works for you ? needs_info

[2018-09-10 07:27] Akasurde commented on #44662
@mfisher30 Yes. You comments and feedback will definitely expedite the process.

[2018-09-10 07:45] lwm commented on #45403
Thanks @InTheCloudDan! I think I can try and make a fix on the module.

RE: maintainer question, right, I should do that. I've opened https://github.com/ansible/ansible/pull/45413.

[2018-09-10 08:43] yuwzho commented on #34047
@Fred-sun Please stop tracking this issue, this is a long plan we try to support.

[2018-09-10 08:58] Fred-sun commented on #34047
Thanks @yuwzho, I will!

[2018-09-10 09:19] BrechtClaeys commented on #45176
@zikalino One more question about the temporary solution of using the REST API module, are the above-2.7 versions of ansible stable, or only used for development? because with versions below 2.7, i get a HttpMethodIsNotSupported error.

[2018-09-10 09:29] Akasurde commented on #44159
@Grokzen Could you please above PR and let me know if it works for you ? Thanks.

[2018-09-10 09:29] Akasurde commented on #44159
resolved_by_pr #45415

[2018-09-10 10:03] joextodd commented on #39215
@frankhjung's answer works for me, except the data is stored in `ecs_service_facts_output.ansible_facts.services`

[2018-09-10 10:41] Grokzen commented on #44159
Hi. I will try it out during the week and see if i can get a test off and validate the fix.

[2018-09-10 10:45] #40989 closed, assigned to nobody

[2018-09-10 10:47] Akasurde commented on #40637
@ProfessorDub #40990 is merged. I will mark this as closed. Let me know if problem persists. Thanks.

[2018-09-10 10:47] #40637 closed, assigned to nobody

[2018-09-10 10:50] Akasurde commented on #41736
#40990 and #44510 is merged which solves this problem. I am marking this as resolved, please feel free to re-open if problem persists. Thanks.

[2018-09-10 10:50] #41736 closed, assigned to Akasurde

[2018-09-10 10:51] Akasurde commented on #44159
@Grokzen Thanks.

[2018-09-10 10:53] mrmagooey commented on #45407
!component -lib/ansible/playbook/become.py

[2018-09-10 10:54] CptJason opened #45416 "ansible Failed when connected to H3C switch by ssh"
##### SUMMARY

![image](https://user-images.githubusercontent.com/397285/45293152-eed4a500-b529-11e8-9a3e-ab6a0d3d3cc3.png)

1. ssh -vvv -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o Port=22 -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=user1 -o ConnectTimeout=5 -o

[2018-09-10 11:04] CptJason commented on #45416
# SSH DEBUG INFO
Failed to connect to the host via ssh: OpenSSH_6.6.1, OpenSSL 1.0.1e-fips 11 Feb 2013

\ndebug1: Reading configuration data /user1/.ssh/config

\ndebug1: Reading configuration data /etc/ssh/ssh_config

\ndebug1: /etc/ssh/ssh_config line 56: Applying options for *

\ndebug1: auto-mux: Trying existing master

\ndebug1: Stale control socket /user1/.ansible/cp/4c801cc0ae, unlinking

\

[2018-09-10 11:07] kay73 commented on #22169
Hello @sivel, unfortunately this issue is still present in Ansible 2.6.3. I have found no mention that it is addressed or fixed in Ansible 2.6.4. This issue is causing significant trouble for my company. Please also see my previous comment.

[2018-09-10 11:07] imjoseangel commented on #24098
Hi Guys, past weekend I started working on having this functionality. As I don't like using `sc.exe`, I'm implementing all the logic using the ten 4-byte useful fields directly from the registry.

To me, is the best way to have full control of the code and keep it idempotent. The first approach is a new module called **win_service_recovery** with **11 different parameters** and its own logic.

Mix

[2018-09-10 11:10] Saloshp opened #45417 "Unable to add ldap entry"
##### SUMMARY
ldap_entry module is unusable

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ldapobject.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected the entry to be created, first encountered bug on latest released Ansible 2.6.4,
after viewing a [similar bug](https://github.com/

[2018-09-10 11:12] Saloshp commented on #45417
!component

[2018-09-10 11:33] moozer commented on #45219
@lemmy04 looking at your paste and searching for "escalation" show that you are using sudo.
see e.g. "30" and "55"

[2018-09-10 11:41] moozer commented on #45219
@jborean93 yes/no/maybe :-)

The way I read the [su man page](http://man7.org/linux/man-pages/man1/su.1.html), and the "-l" switch, is what ansible wants to do. Debian is enforcing it in a different way than most.

So the formally correct way to do it is to always have the `-` or `-l`.

I think the most relevant argument for adding the `-l` is that ansible will fail for everybody on debian/buster

[2018-09-10 12:01] madrover commented on #44905
Awesome, @jborean93!

Unfortunately, I don't have much control about the installer, so modifying the process creation flag would be a complex endeavour.

On the other hand, I have modified the task call to:

[code]
and now the task is happily continuing :)

Many thanks for that!

This ticket can be closed, unless further discussion of the **CREATE_NEW_CONSOLE** flag needs to be discussed.

[2018-09-10 12:15] ericcitaire opened #45418 "module.run_command() doesn't allow to escape $ when use_unsafe_shell=False"
##### SUMMARY
`module.run_command()` doesn't allow to escape `$` in command when `use_unsafe_shell=False`.

Let's say I need to execute a command with a generated password as an argument:

[code]

Environment variables references (including *accidental* ones) will be expanded. For examble: `pass:(lFjq$_!` will be expanded to something like `pass:(lFjq/path/to/ansible-playbook!`, which is obviously

[2018-09-10 12:33] AlanCoding commented on #45172
Could you show the YAML for the task you're running, with passwords obfuscated?

[2018-09-10 12:36] bozho commented on #42963
Hi again,

I finally got a bit of time to test this... The problem has gone away. Closing.

Thank you and apologies for a time waster :-)

[2018-09-10 12:36] #42963 closed, assigned to nobody

[2018-09-10 12:40] MarkusTeufelberger commented on #45172
Sure:

[code]

[2018-09-10 12:53] Saloshp commented on #45417
don't have time to properly create and test PR,
changed line 147:148 of `/usr/lib/python3.7/site-packages/ansible/modules/net_tools/ldap/ldap_entry.py`
to
[code]

I can only confirm it works on my machine ;)

[2018-09-10 13:18] hopoffbaby commented on #43082
Hi,

Is there a workaround for this issue in the mean time. Something I can check for to be sure the customization are finished?

Thanks

[2018-09-10 13:28] kennethkmp opened #45422 "vmware_guest module: Issues with multiple datacenters with the same name on different folders"
SUMMARY

We have two data centers with the same name, which have different parent folders.

[code]

When the module gets the datacenter object to form `dcpath`, it only returns the first value

[code]

When the following condition is evaluated the vm_deploy, and the VM is not in the DC that comes up first, it fails to find that DC

[code]

It will then go and contruct a fullpath based on the follo

[2018-09-10 13:31] viveksaiaws commented on #30411
I have same problem, some kind of timeout (basically pausing playbook without error)
I am using kubectl ansible connection plugin for connecting my kubernetes pods and running playbook  against those hosts (3 pods ). it's very slow like takes 8 sec to run each module on remote host and pausing in middle of playbook kind of weird without any error or massage

[2018-09-10 13:33] akamez commented on #45422
There is  probably a better way of fixing this, but here is what I've done to work around it

[code]

[2018-09-10 14:15] bcoca commented on #45367
Most of the time any trailing blank lines are just useless information as an after effect of some programs, so we automatically drop any trailing ones.

Can you show an actual use case in which this information is needed?

[2018-09-10 14:16] bcoca commented on #45383
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-10 14:16] #45383 closed, assigned to nobody

[2018-09-10 14:18] bcoca commented on #45384
A simple case would be doing `ansible-inventory -i /cloud.inventory --list --yaml > mystaticinventory.yml`

You can also combine this with the https://docs.ansible.com/ansible/2.6/plugins/inventory/generator.html and https://docs.ansible.com/ansible/2.6/plugins/inventory/constructed.html when using complex rules/composition.

[2018-09-10 14:23] #45385 closed, assigned to nobody

[2018-09-10 14:26] sivel commented on #45418
It is the responsibility of the caller to perform the necessary escaping. `run_command` makes no assumptions about what data should be escaped.  You can use something like the following:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-10 14:28] guidoilbaldo opened #45424 "Sysctl module is undefined"
##### SUMMARY

Trying to run a simple playbook against CentOS 7 with sysctl module, I get a "undefined error" on sysctl module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

sysctl.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running Ansible on MacOS HighSierra, my targets are CentOS 7 servers running on oVirt. I was able to provision them and now

[2018-09-10 14:36] bmalynovytch commented on #44441
@jpjaatin feel free to review & test #45355

[2018-09-10 14:37] bmalynovytch commented on #43361
@dwagelaar feel free to review & test #45355

[2018-09-10 14:38] bmalynovytch commented on #41173
@dungdm93 it could be fixed by #45355
feel free to review and test

[2018-09-10 14:39] aaldilai opened #45425 "Non-deterministic ansible execution with dynamic python script inventory"
##### SUMMARY

I created a python script to return a json string that contains inventory information. It gets the information from a database backend. When I run the python script alone, it always outputs the json as described by this [link](https://docs.ansible.com/ansible/2.5/dev_guide/developing_inventory.html). When I run an ansible command with that script, it sometimes fails and sometimes wo

[2018-09-10 14:42] bmalynovytch commented on #29615
@larry-s feel free to review & test #45355

[2018-09-10 15:05] dseeley-sky commented on #44128
I've also come across this issue.  Resolved for the time-being using command-line instead:
[code]

[2018-09-10 15:12] AlanCoding commented on #45172
I think the module should have an `inputs` parameter added, and then anything included in that will get included to the inputs payload when creating the credential in the v2 API.

[2018-09-10 15:13] nikolaev-rd opened #45426 "Task stuck while try to copy empty file using piped transfer_method"
##### SUMMARY

In case you have multiple files to copy in you role and if at least one of them is empty - task stuck while try to copy empty file (no errors, no fails, just task which will be in run state forever).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- ansible host: CentOS 7 (3.10.0-693.5.2.

[2018-09-10 15:19] MarkusTeufelberger commented on #45172
Yeah, the parameters are a bit of a mess on this one. `password` being used for AWS secret keys, `secret` only being applicable for Azure stuff...

I'm not so sure if making this module very generic is much better (but having the option would be nice, since credentials can be custom too), I would love to see parameters of the credential types that are supported out of the box being namespaced/pref

[2018-09-10 15:22] roostercactus commented on #44787
Hi, thanks!  Will test and let you know.

[2018-09-10 15:34] sivel commented on #45425
In the end, this is a duplicate of https://github.com/ansible/ansible/issues/34164

The problem isn't necessarily with the code in your script, the warning/error is incorrectly pointing to a line/column within your script, when it means to point to invalid syntax in the output generated by your inventory script.

In the end, this is the result of your script generating invalid JSON. When parsing t

[2018-09-10 15:34] #45425 closed, assigned to nobody

[2018-09-10 15:40] sivel commented on #45426
I can replicate this, but only when supplying `piped` as the `transfer_method`.

I've updated the title of this issue to reflect this.

[2018-09-10 16:01] aaldilai commented on #45425
@sivel Thanks for the response!
After reading your response, I found a debug print statement inside a conditional of a function that checks for cache staleness (prints after a 30s timeout), which explains the "non-deterministic" part. Whoops. Now i'm printing the JSON correctly every time :)

[2018-09-10 16:03] mitchellmaler opened #45431 "Openstack Inventory Plugin "'NoneType' object has no attribute 'set'""
##### SUMMARY
Trying to use the OpenStack Inventory plugin and I am getting the error
```'NoneType' object has no attribute 'set'```

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Inventory Plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It gets the inventory from OpenStack.

##### AC

[2018-09-10 16:11] sivel commented on #45424
The problem is with the variable that you are referencing in `with_items`:

[code]

Variables should not contain hyphens, as they are invalid python variable references, and jinja2 will assume you mean that you want to perform math (subtraction) between a variable named `sysctl` and a variable named `values`.

Instead, ensure you use and underscore.

If you have further questions please stop by IR

[2018-09-10 16:11] #45424 closed, assigned to nobody

[2018-09-10 17:10] bcoca commented on #45416
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-09-10 17:10] #45416 closed, assigned to nobody

[2018-09-10 17:14] IPvSean opened #45435 "requirements for azure modules incorrect"
##### SUMMARY
https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html

this->
[code]

[code]

should be->

[code]
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### ADDITIONAL INFORMATION
[code]

[2018-09-10 17:18] IPvSean commented on #45435
this is getting really confusing even when i install azure natively I get warnings on modules->

e.g.
[code]

[code]

[2018-09-10 17:31] BadStreff commented on #43853
Seeing this issue as well, I haven't tested but moving group_vars to the root directory should work but this will break other things in my environment. There is Issue #16596 that describes the problem. I want to point out there is a user in that thread that repeatedly states this is intended behavior. IT IS NOT, documentation here https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_p

[2018-09-10 17:36] sivel commented on #45435
What version of `pip` are you using?  `ansible[azure]` is valid, it's an `extras_require` that allows us to specify extra packages to install alongside `ansible`.

`extras_require` has been supported since pip 1.1.

[code]

[2018-09-10 17:47] IPvSean commented on #45435
apparently it is my shell->
[code]
works

[code]
does not work

[2018-09-10 17:47] #45435 closed, assigned to nobody

[2018-09-10 17:48] IPvSean commented on #45435
I wonder if we should put a note in this for docs... @sivel or if most people would have realized this sooner?

[2018-09-10 18:09] ericdost commented on #42732
I also had an issue with this.  It appears the username and password parameters are not used.  I manually set `ansible_user` and `ansible_ssh_pass` and that got me past the SSH connection issue.  I received another error that I am planning to open a bug on.  I am using Ansible version 2.6.3

[2018-09-10 18:20] #45300 closed, assigned to nobody

[2018-09-10 18:31] jswinarton commented on #15962
I think that could have some strange edge cases. For example, consider if the version specified was `2.10`. If YAML read that as a float and was cast to string, you would end up with version `2.1` with no warnings or explanation.

[2018-09-10 18:33] ericdost opened #45437 "fortios_config - Unable to backup configuration"
##### SUMMARY

I have found two issues so far.  The first is that the `username` and `password` parameters do not appear to be working.  I was getting an SSH error and it was using a generic username of `ansible` to connect to the device.  I had to specify `ansible_user` and `ansible_ssh_pass` instead in order to connect.

Once I got past that issue, I then received a module failure.
##### ISSUE T

[2018-09-10 18:49] bcoca commented on #43853
I'm guessing the complaint is the difference between these 2 commands
[code]

[code]

[2018-09-10 19:31] #43845 closed, assigned to nobody

[2018-09-10 19:37] #34164 closed, assigned to nobody

[2018-09-10 19:46] scottsb commented on #15962
That's a very good point. I guess this is best as-is then.

[2018-09-10 20:06] #45040 closed, assigned to sivel

[2018-09-10 20:06] #45039 closed, assigned to sivel

[2018-09-10 20:06] #45038 closed, assigned to sivel

[2018-09-10 20:06] #45037 closed, assigned to sivel

[2018-09-10 20:33] sivel commented on #45034
The module is scheduled for removal in Ansible 2.9, but has functionality that is supposed to be removed in 2.8.

If we do not plan on removing the functionality scheduled for removal in 2.8, we need to bump the deprecation notice to align with the 2.9 module removal.

[2018-09-10 20:34] sivel commented on #45035
The module is scheduled for removal in Ansible 2.9, but has functionality that is supposed to be removed in 2.8.

If we do not plan on removing the functionality scheduled for removal in 2.8, we need to bump the deprecation notice to align with the 2.9 module removal.

[2018-09-10 21:05] dummptyhummpty commented on #44913
This seems to be working now. Not sure if it was something in my environment or what, but that works for me!

[2018-09-10 21:05] #44913 closed, assigned to nobody

[2018-09-10 21:14] jborean93 commented on #44905
@madrover thanks for the confirmation, glad you've got it working. I've posted a question to see if we want to expose the flag in win_command/win_shell https://github.com/ansible/community/issues/294#issuecomment-420062901. Will close that based on whatever is decided there.

[2018-09-10 21:16] CameronNemo opened #45446 "ufw: hangs after enabling firewall with policy=allow"
##### SUMMARY
When enabling the firewall with `ufw state=enabled policy=allow`, the task hangs. Attempting to cancel the task and re-run the playbook leads to hangs at the gathering facts stage. Ping and manual ssh will still work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ufw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No configuration.

##### OS / ENVIRONMENT
[code]

##### ST

[2018-09-10 21:21] #43124 closed, assigned to nobody

[2018-09-10 21:23] #45382 closed, assigned to nobody

[2018-09-10 21:28] depereo commented on #45090
Tested and present in 2.7rc1.

[2018-09-10 21:42] jpmontez commented on #42037
@WaKeMaTTa https://github.com/ansible/ansible/blob/25ae4f2b73151eb88981dc80719b8fc1bcc8481a/lib/ansible/modules/cloud/amazon/cloudfront_distribution.py#L976-L993

The `origin_ssl_protocols` dictionary is expecting this structure from your example.

[code]

[2018-09-10 22:10] agowa338 commented on #43082
workaround for me: using terraform

[2018-09-10 22:31] pabowers opened #45452 "azure_rm.py script reports the wrong ip address"
##### SUMMARY

When you have resources that have the same name in different resource groups under the same subscription, the ips that the script retrieves are not necessarily from the resource group you specify.

[2018-09-10 23:03] nkakouros opened #45456 "`delegate_facts` on block is not applied to tasks in block"
##### SUMMARY

According to the docs:

But applying delegate_facts to the block does not have an effect on the tasks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

delegate_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Arch linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect to see the variable `qqq` in the `debug` ou

[2018-09-10 23:10] c1cloudcyber opened #45457 "aws sns_topic module: Bytes expected, not str"
##### SUMMARY
This module is not compatible with Python3, unlike other cloud modules. It has something to do with `boto`, which makes connections using strings, and Python3 requires bytes in URLs and sockets. Other cloud modules I used work fine, but not this one.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`sns_topic`

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS /

[2018-09-10 23:10] c1cloudcyber commented on #45457
Opening as another user. Sorry

[2018-09-10 23:10] #45457 closed, assigned to nobody

[2018-09-10 23:11] m3ldis opened #45458 "aws sns_topic module: bytes expected, not str"
##### SUMMARY
This module is not compatible with Python3, unlike other cloud modules. It has something to do with `boto`, which makes connections using strings, and Python3 requires bytes in URLs and sockets. Other cloud modules I used work fine, but not this one.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`sns_topic`

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS /

[2018-09-11 00:09] owensj8 commented on #38873
I would like this as well.

[2018-09-11 00:12] sarvarahmed commented on #44288
Faced same issue, Workaround is we can create new VM with SCSI disk but we have to drop CDROM

[2018-09-11 01:38] Akasurde commented on #44288
@Joeskyyy @toxicvengeance @sarvarahmed #39285 is merged. Could you please check with latest patch and let me know ?

[2018-09-11 02:03] FriedCircuits commented on #45408
I figured out the problem/solution. It is only a problem with Python 3, filter used to return a list and now it returns filter.  So it needs to be wrapped with list to convert it list.

`network_id = list(filter(lambda n: n['name'] == network_name, docker_networks))[0]['id']`

Ref:
https://plaso.readthedocs.io/en/latest/Python-3-Guide/

[2018-09-11 02:17] jjahns commented on #44245
Hi,

I am reopening this for the folks with issues running Ansible in a virtualenv and then trying to use Pyvmomi.

You need to edit your ansible.cfg and set the ansible_python_interpreter value to the absolute path of your python executable INSIDE of your virtualenv.

It defaults to the /usr/bin/python value.

And /usr/bin/python will NOT find your Pyvmomi install if you installed it in a virtual

[2018-09-11 07:05] zem opened #45474 "gluster_volume brick path and arbiter nodes"
##### SUMMARY

The system that combines the host part of the brick path  with the vfs part of the brick path only works for the special situation when every host provides the same brick path vor its vfs.

With a 2 rack 2 location setup I am using a seperate arbiter node in one of the racks to prevent splitbrain. Due to the nature of an arbiter node keeping only metadata, its discs can hold metadat

[2018-09-11 07:22] rgarrigue opened #45475 "Ansible galaxy break on some token including + characters"
##### SUMMARY

In my ansible-galaxy's `requirements.yml`, my `src:` include a + character in a auth token included in the URL.
As part of dealing with specific URL scheme like git+https://, ansible-galaxy is doing a split('+'), which fail in my case due to splitting the string too many time. It should only split before the //, or do the same thing some other way.

##### ISSUE TYPE
- Bug Report

##

[2018-09-11 07:31] JayAK1 commented on #43462
Hello, I am also facing this same issue, my controlling node is rhel7.2
@iinthesky73 , could you tell me to which version of pexpect should I at least upgrade to fix this problem?

[2018-09-11 07:56] mcassaniti opened #45476 "win_updates post search categories (restrict which products to update)"
##### SUMMARY
It is currently not possible to restrict the products that get updated with Windows using the current win_updates module. This prevents updating only the OS but not other Microsoft products using this module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_updates

##### ADDITIONAL INFORMATION
Currently the module performs a search using fixed GUIDs for categories as part

[2018-09-11 07:56] mcassaniti commented on #45476
If there's interest I'm happy to provide a PR.

[2018-09-11 08:59] WaKeMaTTa commented on #42037
@jpmontez Ok thanks, i will give it a try. I will replay soon.

[2018-09-11 09:10] DB-CL commented on #31705
Same behavior with ansible 2.6.4

[2018-09-11 09:41] toxicvengeance commented on #44288
@Akasurde Have no problem with #39285.

Tested the following points successfully:
* adding multiple SCSI disks
* adding a cdrom drive
* disks are now attached to SCSI controller when a SCSI controller is specified if not they appear as IDE disks as it should be

I used this playbook to test

[code]

[2018-09-11 10:43] mlgim commented on #44159
Perfect - thanks for sharing that insight!!

[2018-09-11 11:25] aldobongio opened #45484 "sns_topic silently failing on missing AWS policy"
##### SUMMARY
A sns_topic task asked to create a new SNS topic returns with a green "OK" in case of AWS credentials missing the required policy.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
sns_topic

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ansible on Bash for Windows

##### STEPS TO REPRODUCE
Configure a IAM user with the following policy (please n

[2018-09-11 11:45] yajo opened #45486 "docker_container state=absent fails when networks are absent too"
##### SUMMARY
If you are deleting a container which has some networks set up in place, if the networks are absent already, it fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Travis, targeting docker hosts.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When setting the con

[2018-09-11 12:19] tterranigma commented on #45384
@bcoca Thanks for the hints. I will try to play around with these plugins.

I can't help but ask, since (it seems to me that) the from-any-other-source-to-yaml inventory conversion is already implemented in `ansible-inventory`, can't this functionality be exposed as a module?

[2018-09-11 12:58] webknjaz commented on #45475
This can _probably_ be fixed by replacing `split()` with `partition()` or using urlparse.

https://github.com/ansible/ansible/blob/617372f/lib/ansible/playbook/role/requirement.py#L121

Workaround
----------------
Have you tried using `%2B` instead of `+`?

[2018-09-11 13:34] rgarrigue commented on #45475
The %2B workaround does work.

Another more restricted workaround in my specific use case, Vagrant installing ansible then running ansible-galaxy install then ansible-playbook,  is a hotfix overloading Vagrant command for ansible-galaxy install : `ansible.galaxy_command = "sudo sed -i \"s;split('+');split('+', 1);\" /usr/lib/python*/site-packages/ansible/playbook/role/requirement.py; sudo ansible-

[2018-09-11 13:36] mnecas commented on #34803
resolved by PR #44714

[2018-09-11 13:58] s-hertel commented on #45484
@aldobongio I think this has been fixed for devel and 2.7 in 60e3af42d5c9ba42bf283512b734513ac40c3bec. Running on devel with a user with denied SNS permissions for a particular region is giving me the error: `"Couldn't create topic high_cpu_utilization: An error occurred (AuthorizationError) when calling the CreateTopic operation: User: arn:aws:iam::448830907657:user/shertel is not authorized to p

[2018-09-11 14:02] s-hertel commented on #45458
Hi @clhefton, I think this has been fixed for devel and 2.7 in 60e3af42d5c9ba42bf283512b734513ac40c3bec when the module was ported to boto3. I've just created and deleted a topic with the module with Python 3.6 on devel.

[2018-09-11 14:05] olaldiko commented on #44950
Hi @helldorado, thank you very much, now the template is correctly converted, tested it.
However, I think that we have created another bug on the process. When attempting to update the network interface and specs of the VM, after converting it to template, I get the following error:
[code]
The configuration for the task used is the following:
[code]
Thank you very much!

[2018-09-11 14:07] sivel commented on #43462
pexpect 3.3 is the first version to support the `echo` argument.  Per the `winrm` documentation, `pexpect` should be installed via pip.

[2018-09-11 14:10] bcoca commented on #45456
confirmed, delegation works when directly applied but not when done via block.

[2018-09-11 14:12] rsguhr commented on #17914
As workaround you could build a temporary configuration file which merged all possible ansible.cfg's

Here a first draft of this approach:
https://gitlab.com/snippets/1753039

[2018-09-11 14:15] MichaelBaydoun opened #45490 "Setting ANSIBLE_KEEP_REMOTE_FILES=1 causes failures during setup from windows servers"
##### SUMMARY

Setting ANSIBLE_KEEP_REMOTE_FILES=1 causes failures during gather facts on all windows servers

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Effects all windows targets regardless of version
Control host is rhel6

##### STEPS TO REPRODUCE

export ANSIBLE_KEEP_REMOTE_FILES=1
ansible-pla

[2018-09-11 14:18] makzzz1986 commented on #33563
The same problem. Archive module works fine with directory and fails with single file.

[2018-09-11 14:19] Fred-sun commented on #43416
@zikalino @yuwzho Could you help take a look this issue? Create VM behavior not match with ansible document describe. Could you help confirm it;s document mistake or ansible's bug? Thanks!

[2018-09-11 14:21] ericcitaire opened #45491 "When no checksum is specified, get_url download the file even if destination exists"
##### SUMMARY
When no checksum is specified, `get_url` download the file even if the destination already exists. This can be a problem with large files and low transfer rates.

It worked fine in Ansible 2.5.4.

It seems to be related to commit [c1a9f2](https://github.com/ansible/ansible/pull/43342/commits/c1a9f2cdfda320a334c2d90b6434665e2d21d4fc).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NA

[2018-09-11 14:47] sivel commented on #45491
I've confirmed this issue and am working on a fix.

[2018-09-11 14:53] kevinpz commented on #45362
If someone has the same issue, quick & dirty fix:
`
sudo vim /usr/lib/python2.7/site-packages/ansible/module_utils/basic.py
`

And then put the following variable to false on line 93
`y:
    from systemd import journal
    has_journal = False <--------
except ImportError:
    has_journal = False`

[2018-09-11 15:04] #45048 closed, assigned to nobody

[2018-09-11 15:13] ericdost opened #45493 "YAML inventory - Unable to use integers for group"
##### SUMMARY

Unable to create a group name with only integers.  Rename the group to include letters and the playbook executes.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

YAML inventory with ansible-playbook
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.1 LTS
##### STEPS TO REPRODUCE

Create a group with just numbers, inventory example

[2018-09-11 15:23] jpmontez opened #45496 "Unable to create a Cloudfront distribution"
##### SUMMARY

When trying to create a Cloudfront distribution, an exception is encountered.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cloudfront_distribution
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS High Sierra. Commands are being run locally.
##### STEPS TO REPRODUCE

Run the following playbook on a local connection.

[code]

##### EXP

[2018-09-11 15:27] gunbo13 commented on #34281
Include conditionals are very useful for creating branches in our playbooks.  Will it be ensured that import_playbook will support conditionals in the next release citing this issue?

If not, you are losing a lot of power and will end up creating a lot of hacks.  Not to mention breaking a ton of include playbook conditionals in end user plays.

[2018-09-11 15:29] sivel commented on #45491
I've just submitted a PR (referenced above) that should resolve this issue.

[2018-09-11 16:57] felixfontein commented on #45486
@Yajo thanks for reporting this!

I think I know what the problem is (network IDs are fetched even if state is `absent`, and IPs are specified fetched for networks to parse `published_ports`). Unfortunately, I won't have time to look at this in more detail until next week. Since you already found a workaround, I hope that's OK for you.

There also might be more similar bugs; it probably makes sens

[2018-09-11 17:05] jomardimac commented on #44662
@Akasurde I was testing this module out with @mfisher30 and it seems like there is a bug with actually configuring the settings. I changed the module_utils/vmware.py to be what it is in the PR and I also changed the /modules/cloud/vmware/vmware_cluster.py.

Here are my outputs:

The output when I run the create cluster module with debug:

[code]

Yet, when I run the facts gathering module for clus

[2018-09-11 17:06] jomardimac commented on #44662
@Akasurde I was testing this module out with @mfisher30 and it seems like there is a bug with actually configuring the settings. I changed the module_utils/vmware.py to be what it is in the PR and I also changed the /modules/cloud/vmware/vmware_cluster.py.

Here are my outputs:

The output when I run the create cluster module with debug:

[code]

Yet, when I run the facts gathering module for clus

[2018-09-11 17:21] wmellouli commented on #43766
We have the same issue in our private nexus repository. This is happen when `maven-metadata.xml` does not exist.

@turb it is possible to not have the `maven-metadata.xml` for maven 2 non-unique snapshots, when you are publishing a SNAPSHOT version for the very first time. I fixed this issue with this PR suggestion: https://github.com/ansible/ansible/pull/45502
It affects the 2.8 version too, so y

[2018-09-11 18:04] tumbl3w33d commented on #43766
Can you reproduce this with maven 3? I don't think I want to add any code to support software that's [almost a decade EOL](https://maven.apache.org/maven-2.x-eol.html). Would rather remove such code by now.

I'll add a comment on your PR though, just in case you can reproduce it.

[2018-09-11 18:16] clhefton commented on #45458
Hm. Alright, I did verify with the devel branch using `python3 ../ansible/bin/ansible playbook <my book>`, but maybe it was a proxy issue that time. Let me check again today! Thank you

[2018-09-11 18:43] bcoca commented on #45384
i have that as a template

[2018-09-11 18:56] #45491 closed, assigned to sivel

[2018-09-11 18:58] wmellouli commented on #43766
@tumbl3w33d the only snapshot style supported by maven 3 is `Unique Snapshots`, there is no support for `Non-Unique Snapshots`. So it is not possible to reproduce with maven 3.

I saw that a recent PR fixes an issue about maven 2 non-unique snapshot: https://github.com/ansible/ansible/pull/42455, for that I suggested a fix for this issue (that I'm facing too).

[2018-09-11 19:08] #45496 closed, assigned to nobody

[2018-09-11 19:32] billdodd opened #45513 "Redfish API requests fail on some HTTP redirects"
##### SUMMARY

Using the new Redfish module redfish_facts.py, some requests get fatal errors on redirects. Likely would also happen with the other Redfish modules (redfish_command.py and redfish_config.py).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redfish_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(`ansible-config dump --only-changed` shows no output)
[code]

##### OS

[2018-09-11 19:39] billdodd commented on #45513
I found that if I added param `follow_redirects='all'` to the [call to open_url()](https://github.com/ansible/ansible/blob/b22b07e300b68e68cf21fbf6f268eb69194580ba/lib/ansible/module_utils/redfish_utils.py#L26) in get_request() in redfish_utils.py, it resolves the error. But I'm not sure if that is the proper fix. Comments welcome.

[2018-09-11 20:01] maxamillion commented on #26631
Closing due to inactivity, if this can be reproduced on a currently supported (stable or development) version of Ansible and information on how to reproduce can be provided, please feel free to re-open. Thank you.

[2018-09-11 20:01] #26631 closed, assigned to nobody

[2018-09-11 20:02] maxamillion commented on #28720
Closing due to inactivity, if this can be reproduced on a currently supported (stable or development) version of Ansible and information on how to reproduce can be provided, please feel free to re-open. Thank you.

[2018-09-11 20:02] #28720 closed, assigned to nobody

[2018-09-11 20:03] maxamillion commented on #29622
Closing due to inactivity, if this can be reproduced on a currently supported (stable or development) version of Ansible and information on how to reproduce can be provided, please feel free to re-open. Thank you.

[2018-09-11 20:03] #29622 closed, assigned to maxamillion

[2018-09-11 20:03] maxamillion commented on #34780
needs_info

[2018-09-11 20:55] #45244 closed, assigned to nobody

[2018-09-11 21:13] Mixer9 opened #45520 "SCAP generated fix errors on empty returned lines"
##### SUMMARY

When using open SCAP generated Ansible fix, the command returns empty rows and rpm command fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

open-scap

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.5

##### STEPS TO REPRODUCE

This file was generated by OpenSCAP 1.2.16 using:
# 	$ oscap xccdf generate fix --result-id xccdf_org.

[2018-09-11 21:14] Mixer9 commented on #45520
CC @maxamillion I am unsure where the Ansible playbook gets generated, so this could be a bug for open-scap and not Ansible core.

[2018-09-11 21:34] maxamillion commented on #45520
@Mixer9 I think this is likely a bug for the OpenSCAP folks but I'm happy to field anything from the Ansible side if something does arise. It looks to me like their one-liner isn't resolving to the data set that the second task expects. (My hunch is they are just grabbing the wrong field number from the output)

[2018-09-11 21:34] #45520 closed, assigned to nobody

[2018-09-11 21:39] clhefton commented on #45458
@s-hertel Are you using development versions of boto and boto3 as well? I'm a little confused. I am still having issues with the development version of ansible. Steps:
[code]
This results in the same issue...I will try build 2.7 next.

[2018-09-11 22:41] sedrubal opened #45522 "Crash in module docker_container with --check: __init__() missing 1 required positional argument: 'version'"
##### SUMMARY

Running the module `docker_container` in `--check` mode crashes with a traceback that contains `TypeError: __init__() missing 1 required positional argument: 'version'`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
- Host: Fedora 29 (alpha) but it also happens on Fedora

[2018-09-11 22:46] Mixer9 commented on #45520
I kinda figured it was on the open scap side, the issue is that their one
longer returns empty rows, and then the next task fails because it only
passed a newline to the task. The rows that aren't empty succeed.

Chris

On Tue, Sep 11, 2018, 4:35 PM Adam Miller <notifications@github.com> wrote:

[2018-09-11 23:12] jose-delarosa commented on #45513
@billdodd What does this do exactly and how did you figure it would help? Have you seen this before somewhere else?

[2018-09-11 23:42] billdodd commented on #45513
I had not seen this before but looked through the code that was handling redirects.

The `follow_redirects` param controls how or if redirects are handled. See this for the brief param description:

https://github.com/ansible/ansible/blob/197059b4a2c3f395f98105f6de6152c71565c5b9/lib/ansible/module_utils/urls.py#L918

And here for the relevant code that is using it:

https://github.com/ansible/ansi

[2018-09-12 00:33] willthames commented on #45458
@clhefton can you run `bin/ansible --version` - just want to check you're picking up the right module path - as you shouldn't hit a boto bug using sns_topic with the latest module

With that path, do `grep AnsibleAWSModule $path_to_modules/modules/cloud/amazon/sns_topic.py`

That should show whether you're hitting the updated version or not

[2018-09-12 01:32] jjahns opened #45528 "vmware_deploy_ovf: Boolean values in properties are not being interpreted properly"
##### SUMMARY

Boolean values cannot be assigned as OVF properties, because the module expects a string 'True|False'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module: vmware_deploy_ovf
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible Installed on Ubuntu 16.04
vSphere 6.5 U2

##### STEPS TO REPRODUCE

Deploy any OVF with properties that are boo

[2018-09-12 01:57] jjahns commented on #45528
FYI, we should fix this as soon as possible, because it is not uncommon for OVF properties to be Boolean type.

[2018-09-12 02:14] YPCrumble opened #45530 "Copy module causing playbook to hang unexpectedly"
##### SUMMARY

We are experiencing our TravisCI builds hanging unexpectedly on the `copy` command when we attempt to create or retain logfiles. The Ansible playbook simply stops running and then TravisCI times out after ten minutes. The issue is intermittent, and I'm not sure why this works sometimes and not other times. The issue also occurs on my local machine at the same place in the build.

##

[2018-09-12 02:20] #39290 closed, assigned to nobody

[2018-09-12 02:28] ptux commented on #45530
@YPCrumble

why not use the `file` module?

[2018-09-12 02:51] roadmapper commented on #45228
Sorry for the delay in checking this, but I now understand that the underscore check was there to prevent the keys (`accesskeyid`, `code`, `expiration`, `lastupdated`, `secretaccesskey`, `tokentype`) from the JSON dictionary after the IAM role (`169.254.169.254/latest/meta-data/iam/security-credentials/<role name>`) from leaking into the check to parse out the IAM role name. I've identified a fix

[2018-09-12 03:55] AngellusMortis opened #45536 "Add ability to specific full command for manage.py"
##### SUMMARY
Add ability to specify full command for `manage.py`.

`django_manage` currently lets you set `app_path` which requires there to be `manage.py` file there. In a more customized and re-usable approach, you can make the manage function the entry point for the package. In this case, it would be very useful to be able to specify either the full path to the `manage.py` command (i.e. `proje

[2018-09-12 04:13] felixfontein commented on #45522
I cannot reproduce this with 2.6.4. Can you upgrade to Ansible 2.6.4 and try it again?

(This should have been fixed by #42380, which made it into 2.6.4.)

[2018-09-12 04:13] felixfontein commented on #45522
needs_info

[2018-09-12 07:05] patlachance commented on #42532
Same here (also on Ansible 2.6.3).

[2018-09-12 07:28] tomqaz opened #45542 "elb_classic_lb has wrong value "New in version""
##### SUMMARY
Documentation for elb_classic_lb module points that its available from 1.5 version while its was added in 2.4.

https://docs.ansible.com/ansible/latest/modules/elb_classic_lb_module.html#elb-classic-lb-module

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
ansible/lib/ansible/modules/cloud/amazon/elb_classic_lb.py

##### ANSIBLE VERSION
2.4 and newer

##### ADDITIONAL

[2018-09-12 07:29] Ashok-Mishra opened #45543 "rabbitmq_binding broken from ansible verison 2.6.0 and above"
##### SUMMARY
RabbitMQ argument binding is not working in ansible 2.6.0 and above.

Refactoring of code at lib/ansible/modules/messaging/rabbitmq_binding.py in PR - https://github.com/ansible/ansible/pull/35651 actually broke the rabbitmq binding functionality.

**NOTE** - Reverting back to old code actually fixes the issue.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

rabbitmq_binding

[2018-09-12 07:29] machacekondra commented on #34803
resolved_by_pr 44714

[2018-09-12 07:37] #34803 closed, assigned to nobody

[2018-09-12 07:45] dwagelaar commented on #43361
@bmalynovytch this error is the same as the initial report, and yes, we're not using that privilege anywhere; this is what lead us to https://github.com/MariaDB/server/commit/84e14bff4a : "grant delete versioning rows on..." became "grant delete history on...". Is mysql_user.py first trying to remove all privileges before applying the specified privileges? Or does mysql_user.py only issue "GRANT D

[2018-09-12 07:48] zikalino opened #45544 "Azure load balancer crashes when running again the same playbook"
##### SUMMARY
Tried to run sample playbook twice, crashed:
[code]

Error looks as follows:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm_loadbalancer

##### ANSIBLE VERSION
2.7

##### CONFIGURATION

##### OS / ENVIRONMENT
Windows Bash on Ubuntu

##### STEPS TO REPRODUCE
Try to create LB with playbook as supplied, then execute playbook again.

##### EXPECTED RESULTS
Shouldn'

[2018-09-12 07:52] natarajan-suresh commented on #40394
Hi All,

I'm facing an issue while copying a file using ansible script from one hst to remote
From OS : CentOS
toOS : coreOS

Error:

atal: [10.223.11.103]: FAILED! => {"changed": false, "module_stderr": "Shared connection to 10.223.11.103 closed.\r\n", "module_stdout": "/bin/sh: /usr/bin/python: No such file or directory\r\n", "msg": "MODULE FAILURE", "rc": 0}

I m able to connect these hosts lis

[2018-09-12 08:00] natarajan-suresh opened #45545 "Issue on copying file to target hosts - Shared connection to 10.223.11.103 closed.\r\n"
Hi All,

I'm facing an issue while copying a file using ansible script from one hst to remote
From OS : CentOS
toOS : coreOS

Error:
[code]
I m able to connect these hosts listed in host file via SSH with same certificate

command used:
[code]

Ansible version
[code]

[2018-09-12 08:26] ptux commented on #45250
I'll do this.

[2018-09-12 08:29] olaldiko commented on #31631
Faced the same issue when using two different roles(elastic.elasticsearch & elastic.beats) on the same playbook, as they both have a plugin named equal. Fixed it by renaming the .py of one of them.
I think that this should be fixed, as otherwise it will cause troubles when combining different roles.

[2018-09-12 08:35] kammar87 opened #45547 "gcp_sql_instance not creating sql instance"
##### SUMMARY
gcp_sql_instance module is not creating sql instance. Playbook is passing successfully with no errors

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gcp_sql_instance

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS 10.13.6 (17G65)

##### STEPS TO REPRODUCE
Run example provided on the module doc - I am changing the sql instance to have an u

[2018-09-12 08:36] bmalynovytch commented on #43361
@dwagelaar tried with `MariaDB 10.3.9` on `Debian stretch`, with the fix included in #45355 and it worked just fine:

[code]

[code]
Nodes are running in cluster, that's why there is only one "changed" task.

As said earlier, the module doesn't even include the privilege string that is mentioned is your error message.
Could you check yours ?
`grep -Ri VERSIONING /home/hcadmin/.ansible/plugins/modu

[2018-09-12 08:36] bmalynovytch commented on #43361
@ansibot needs_info

[2018-09-12 08:38] ptux commented on #44613
I'm working with AWS route53.
So, I'll try to fix this.

[2018-09-12 08:41] zikalino commented on #42215
sorry, takes a bit longer, but I am still on it......

[2018-09-12 09:11] wmellouli commented on #43766
@tumbl3w33d @turb my PR https://github.com/ansible/ansible/pull/45502 fixes only `non unique snapshots` without a `maven-metadata.xml` file.

It does not fix the case of `unique snapshot` without a `maven-metadata.xml` file (case of this issue). In this case we should:
- list all artifacts that match `artifact-id`-`version(without SNAPSHOT)`-...`.extension`
- order them
- get the first/last depend

[2018-09-12 09:26] turb commented on #43766
Yes, that's what I suggested in one of my previous comments, and that would be a pretty invasive change — your PR is not.

@spender0 @wmellouli is there a good reason for you not using Maven 3? (trying to evaluate if it's something to be taken care of)

@tumbl3w33d If we don't accept the PR, I suppose we would add to the documentation that the only supported artifacts come from Maven 3, and that w

[2018-09-12 09:29] patlachance commented on #42532
I figured out why this happens. The module now check if the requested policy has been applied to the bucket before returning. If the policy contains keys defined as single-item lists it fails because AWS returns those keys back as strings and not single-item lists. So the policy above rewritten as below should work.

[code]

[2018-09-12 09:39] patlachance commented on #42532
@napalm255, @aaronk6: does your policy contain single-item list(s)?
@ivanbaldo: could you try replacing single-item lists as above and see if it solve the issue?

[2018-09-12 09:44] tumbl3w33d commented on #43766
It hurts me as a developer and even more as an administrator to foster that people use software that's [EOL for 9 years](https://maven.apache.org/maven-2.x-eol.html) (i.e., no security updates). It's the source of a lot of security evil. I'm totally for supporting such dying versions for a while (1-2 years is already quite tolerant in my opinion) so companies got time to act.
The cost on our end i

[2018-09-12 10:05] slayer01 commented on #44564
Hi again,

am I the only one faceing this problem?
Can´t believe it, unfortunately I found no solution for this up to now :(

[2018-09-12 10:17] Abam commented on #40608
This bug is also present in ansible 2.6.4. Any feedback on it ?

[2018-09-12 10:28] alxndr13 commented on #11702
Still happens with 2.6.4

[2018-09-12 10:32] wmellouli commented on #43766
@turb to answer your question

Using maven 2 or 3 depends on your Repository manager (nexus, artifactory...). I'm a developer in a team created since 3 years, and at this time the OPS team installed `Nexus Repository Manager 2` that support `non unique snapshot`. Today we have the last version `2.14.9`.
We use a lot snapashots in our development life cycle, and our ecosystem was based on `non uniq

[2018-09-12 10:52] albers commented on #45276
I've also seen this when deploying 20 OVA files with ~300 GB each in parallel on vCenter/ESXi 6.7.0

[2018-09-12 10:56] tumbl3w33d commented on #43766
Nah that's not what we are talking about. The maven-metadata.xml gets created and uploaded by the maven binary. That the artifact store also has functionality to create it afterwards is just some kind of fix that shouldn't even be necessary, because as I said, [maven handles it](https://github.com/strongbox/strongbox/wiki/Maven-Metadata#what-produces-the-maven-metadataxml-files-and-who-manages-it)

[2018-09-12 11:27] dwagelaar commented on #43361
[dennis.wagelaar@kat01.careconnect.be ~]$ sudo grep -Ri VERSIONING /home/hcadmin/.ansible/plugins/modules /usr/share/ansible/plugins/modules /usr/lib/python2.7/site-packages/ansible | egrep '^mysql_'
grep: /home/hcadmin/.ansible/plugins/modules: No such file or directory
grep: /usr/share/ansible/plugins/modules: No such file or directory
[dennis.wagelaar@kat01.careconnect.be ~]$ sudo grep -Ri VERS

[2018-09-12 11:37] jadbaz commented on #45207
While waiting for this to be resolved, I used a simple shell command instead:
[code]

[2018-09-12 11:50] Danee13 commented on #44621
@gdpak
As it turned out, the problem was the way Ansible parses the configuration. I had 3 BGP blocks, all of them started with "router bgp 64444" and ended with "root". Ansible processed the configuration and cut out the second and third "router bgp 64444" lines.
When I deleted the "root" line, Ansible still worked the same way, but actually it didn't failed, because the router stayed in BGP conf

[2018-09-12 11:51] #44621 closed, assigned to gdpak

[2018-09-12 11:52] MartinVUALTO commented on #24136
Could/should this be implemented by extending the [meta](https://docs.ansible.com/ansible/2.6/modules/meta_module.html) feature?

    - name: Clear all gathered facts from all currently targeted hosts
        meta: clear_facts

    - name: Clear listed facts from all currently targeted hosts
        meta: clear_facts
            - var1
            - var2
            - var3

This feels like a relat

[2018-09-12 11:56] MOZGIII commented on #24136
I think we should have it look similar to however we create fact.

It seems like there are some architectural issues preventing ansible from implementing the feature, otherwise it'd be done long ago.

[2018-09-12 11:58] erjohnso commented on #45547
Thanks for reporting this @kammar87. Is there any debug output when you run with `-vvv`?

[2018-09-12 12:28] ag0n1k opened #45556 "Combine() over hashes with lists take last list value in a recursive way"
##### SUMMARY

`combine()` take last list value when accumulating items inside a `loop` or `with_items` loop.
However checks that value is list is present in `combine()` function and result of this code part is ok:
[code]
The problem is here:
[code]
`merge_hash()` does not check list values inside the hashes:
[code]

This happens both with Python 2.7.x and Python 3.6.x.
With ansible versions 2.6.2

[2018-09-12 12:30] YPCrumble commented on #45530
@ptux thank you - using the `file` module worked (configured per this StackOverflow answer):

https://stackoverflow.com/a/50005056/2532070

[2018-09-12 12:30] #45530 closed, assigned to nobody

[2018-09-12 12:33] gilShin commented on #44141
Just downloaded v2.7.0rc1 and saw that ansible_psrp_proxy parameter had been added.
I'll be glad to see an example of how to use this parameter if I want to connect to a windows server via Linux bastion.

[2018-09-12 12:45] nkakouros opened #45557 "`fileglob` plugin docs have wrong return value"
##### SUMMARY

[`fileglob` plugin's docs](https://docs.ansible.com/ansible/devel/plugins/lookup/fileglob.html) say:

[code]

But, as I read it, this is wrong. The list of files is returned not the contents (although that could be useful, perhaps behind an option).

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

fileglob

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#

[2018-09-12 12:49] gdpak commented on #44959
@lm0 please let me know if you need any further help on this.

[2018-09-12 12:58] s-hertel commented on #45542
Just adding a note to anyone also running into this issue, since the same module is available pre 2.4. The module added in 1.5 was ec2_elb_lb.py. It was renamed to elb_classic_lb.py in 2.4 and ec2_elb_lb was going to be deprecated. But the contributor who renamed the module then had second thoughts, and asked to undo it so that the module could be written in boto3 and *not* be required to maintain

[2018-09-12 13:05] peerster commented on #40615
I also ran into this problem using ansible version `2.6.2`.
This is what my task looks like:
[code]
We have two versions of package XXX. XXX-prod and XXX-dbg.
XXX-prod is installed and should be updated.
XXX-dbg is not installed and shouldn't be by the above task, but it is.

[2018-09-12 13:15] jhawkesworth opened #45560 "win_iis_apppool; User set to literal string 'SpecificUser' when configuring pool to run as a domain user"
##### SUMMARY

Module completes successfully, but instead of setting the identity to run as to the domain user it is set to a non-existent local user called 'SpecificUser'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_iis_apppool
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS: windows server 2012r2

##### STEPS TO REPRODUCE

create a pool

[2018-09-12 13:16] jhawkesworth commented on #45560
Possibly fixed in later versions.  I have self-assigned so let me dig further before anyone else looks.

[2018-09-12 13:27] bmalynovytch commented on #43361
@dwagelaar could you run the failing task again with `-vvv` and give us the relevant output ?

@ansibot need_info

[2018-09-12 13:38] gilShin commented on #44141
On top of the above comment, shouldn't there be a password parameter? When I tried with WinRM in basic mode I had, both, user and password parameters. What am I missing here?

[2018-09-12 13:46] #45083 closed, assigned to nobody

[2018-09-12 13:54] helldorado commented on #44950
Apologize! Fixed.

[2018-09-12 13:55] #43336 closed, assigned to Qalthos

[2018-09-12 13:59] MatrixCrawler commented on #18568
As we need a module like this for our use case @getjack and i decided to give it a try

[2018-09-12 14:33] wmellouli commented on #43766
I misunderstand @turb question, I thought he was asking about repository manager maven version.

@tumbl3w33d we are publishing artifacts using sbt build tool 0.13.16 (released on july 2017). According to [sbt documentation](https://www.scala-sbt.org/1.x/docs/Publishing.html), when publishing sbt will generate:

- the main binary jar, war, ...
- a sources jar
- a pom file (when publishMavenStyle is

[2018-09-12 15:39] turb commented on #43766
@wmellouli we are also using SBT, and never had the issue — we use Artifactory though.

I can't say I like SBT (I don't, for many reasons), but it's the standard Scala build tool, so if this bug is `wontfix` for now, because they use non-standard paths, well we can either say we don't support it, or deal with it... I would be in favor of the later.

[2018-09-12 15:51] tumbl3w33d commented on #43766
I'd argue that if
* you use an artifact store that does not generate maven-metadata.xml AND
* you use a build/dependency-tool that does not generate maven-metadata.xml
=> there is no point in using `maven_artifact` because working with the metadata is pretty much the point of it.

If you're just downloading a certain artifact of which you obviously know the name (because it's not a moving target l

[2018-09-12 15:52] turb commented on #43766
Damn the bot closed the issue because I used the w word. trying !wontfix

[2018-09-12 15:52] dagwieers commented on #35140
@jmcgill298 So the PR was merged without your feedback. I would still like your insights on this.

[2018-09-12 16:02] sandrobonazzola commented on #43236
I think this should be added to 2.8.0 milestone tracking

[2018-09-12 16:03] mattclay commented on #43766
I've re-opened the issue and edited comments to add a space to the word which triggered the bot to close the issue.

[2018-09-12 16:20] arzhr opened #45573 "Uri module validate_certs parameter doesn't work with Python3.5"
##### SUMMARY
While python is set to Python3 instead of Python2 for hosts, uri module fails owing to validate_certs parameter. With Python2, certificate validation is ignored as expected and request returns result. With Python3, module fails in python ssl library and requests never returns.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Uri module

##### ANSIBLE VERSION
[code]

##### CONFIGU

[2018-09-12 16:48] Qalthos commented on #45247
This sounds like #43885, which should be fixed in `2.6.3`. Can you update your version of Ansible and verify for me?

needs_info

[2018-09-12 16:52] Qalthos commented on #43336
Cherry-picked to 2.7 in #45576

[2018-09-12 18:20] mtorelli opened #45578 "Need for additional subclass argument in construct_url() method of ACIModule class"
##### SUMMARY

There are URLs in the ACI model that extend three levels below the root class and Ansible modules cannot be easily constructed using the current framework.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

module_utils/network/aci/aci.py
##### ADDITIONAL INFORMATION

An Ansible module to configure the distinguished name (dn)
uni/tn-{name}/out-{name}/lnodep-{name}/lifp-{name}/d

[2018-09-12 18:37] #42357 closed, assigned to nobody

[2018-09-12 18:58] sivel commented on #45573
This is not an issue with SSL cert validation.  The error message states:

[code]

The remote connection was terminated.  SSL validation does not come into play here.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-09-12 18:58] #45573 closed, assigned to nobody

[2018-09-12 19:52] zdzolton commented on #44409
Just FYI, I have this issue on Ansible 2.5.3 as well. We have a service that ships a SysV init script and we create our own systemd unit that calls the init script in its `ExecStart=` command.

Do you have a suggested workaround?

[2018-09-12 19:58] GaboFDC opened #45580 "ec2_group rules cidr_ip dosent' accept list of lists"
##### SUMMARY

In Ansinble 2.6 This module in the cidr_ip parameter, fails when passed a list of other vars that are also a list.
This was working in 2.5 just fine, and also in previous version I think
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_group
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Just a custom vault file

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Cor

[2018-09-12 20:52] arjuin commented on #45573
The same playbook is working is on the same host with python2. It's also working when https url has a valide certificate.
It fails only with python3. Validare_certs=False works with python2 not python3.

[2018-09-12 21:14] dmrzzz opened #45585 "vars dictionary yields unevaluated literal expression"
##### SUMMARY

The [FAQ item regarding dynamic variable names](https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#when-should-i-use-also-how-to-interpolate-variables-or-dynamic-variable-names) seems to imply that `{{ vars['FOO'] }}` is the same as `{{ FOO }}`, but that doesn't appear to be the case when FOO is set to an expression.

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2018-09-12 21:36] #43236 closed, assigned to nobody

[2018-09-12 21:41] jomardimac commented on #44662
When @mfisher30 and I went over this module, it looks like it does work.
Our error was that the ha_vm_monitoring was set to disabled which doesn't let the ha_vm_max_failure_window to be overwritten.

[2018-09-12 22:35] jborean93 commented on #22663
I'm all for having a module for this and I can't claim to know the specifics but I'm unsure as to whether we need to use some PInvoke to the `wininet.dll` as I've gotten this to work on Server 2016. If I run the following task;

[code]

Every new user profile that is created on that host will have the proxy host enabled and set to `proxy.example.org:8080`. Any existing user would either have to de

[2018-09-12 22:38] jamescassell commented on #14940
I'd like to solve this if someone can point me in the right direction of where to look in the code...  I'm currently doing something like `ansible myhost -m setup -a filter=ansible_local\ fact_path=/etc/myapp/` and making symlinks with a name that ends in `.fact` in order to effectively delegate the `ini` lookup.  It's not efficient as is.

[2018-09-12 22:52] cognifloyd commented on #36519
Adding an additional play does not work for me. I use `hosts: all` with a limit on the playbook so that I can target any host. The purpose of this playbook is to "rename" a host (reconfigure/restart network bits so it shows up as under a different `inventory_host` name). I want to use `wait_for_connection` in a handler to delay ending the play (and consequently the playbook) until the host reconne

[2018-09-12 23:06] anvitha-jain commented on #19584
fatal: [54.153.119.230]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: no such identity: /root/UbuntuAnsible.pem: No such file or directory\r\nPermission denied (publickey).\r\n", "unreachable": true}
        to retry, use: --limit @/etc/ansible/tomserver.retry

please help

[2018-09-13 00:38] dagwieers commented on #45578
Correct, currently that is not possible the design is limited to the functionality we needed until now.

A recursive implementation would be preferable, but the complexity of the design (and the fact that it is not yet clear what functionality would be needed in the future) made us decide to stick with a working implementation that is more easy to understand. I hope we can do a recursive implement

[2018-09-13 00:48] dagwieers commented on #45557
@tterranigma FYI If you notice a problem you can fix yourself on the spot, there's no need to open an issue first. You can go propose a PR directly (and state the issue when posting the PR). In fact, you can edit the online documentation directly from the "Edit on GitHub" button at the top.

That said, thanks for opening the PR ! :-)

[2018-09-13 02:10] #45557 closed, assigned to nobody

[2018-09-13 02:55] PatWirth commented on #35665
I was able to get this duel cdrom to patch to work.  Very nice.  The older vsphere_guest had the ability to define a floppy with

vm_floppy:

        type: "image"

which would be really handy to combine with “OEMDRV” drive label to define the anaconda installer.

[2018-09-13 04:10] dagwieers commented on #36519
@cognifloyd I don't see what `limit` has to do with anything. If you start a new play with the new targets (so the new `inventory_host` names) it should work out fine.

[code]

Obviously it is up to you to create that `new_hosts` list.
Most likely you want to create a new list of hosts in the first play.
(You cannot use `group_by` for obvious reasons)

There might be an alternative by using `set_f

[2018-09-13 05:35] micyew opened #45591 "Disable SSH on Ansible for offline usage?"
##### SUMMARY

Hi, Is there a way to disable/preventing Ansible from SSH to devices(Cisco)? I'm writing a playbook to perform compliance checks on Cisco devices. I have downloaded the "show run" of all the devices. I got my desire output but the issue is everytime I run the playbook, Ansible will SSH to the devices (500+) which slowdown my playbook execution.
##### ISSUE TYPE
- Bug Report
Is this

[2018-09-13 05:59] matonb commented on #19720
Any progress on sorting out parser error and host(s) unreachable both exiting status 4?

[2018-09-13 06:16] cognifloyd commented on #43286
I would guess that the `async_status` module/action does not support `delegate_to`.

[2018-09-13 06:54] gaurishanker commented on #14468
I was able to run ansible-playbook by passing on the parameter <code>-e ansible_python_interpreter=/usr/bin/python2.6.</code>. Don't know why apt package is not imported in python 2.7

[2018-09-13 07:05] Fred-sun commented on #45544
@zikalino this issue has fixed by #45546(has been merged), Please help confirm this can could be close or not ? Thanks!

[2018-09-13 07:07] #35672 closed, assigned to nobody

[2018-09-13 07:26] Zorrom opened #45592 "win_ping fails when using kerberos"
##### SUMMARY

Failed to ping to windows machine even after setting up windows kerberos module for Ansible
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_ping
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### STEPS TO REPRODUCE

Install pywinrm, kerberos,request-kerberos pip plugins and add the

[2018-09-13 07:40] zikalino commented on #45544
of course :-)

[2018-09-13 07:40] #45544 closed, assigned to zikalino

[2018-09-13 07:43] Fred-sun commented on #30392
@nitzmahone Thanks for the contribution, Could you help recheck this issue( has open one year)? close or not?. Thanks!

[2018-09-13 07:45] Fred-sun commented on #31867
@zikalino Could you help take a look this issue? Thanks!

[2018-09-13 07:46] #45592 closed, assigned to nobody

[2018-09-13 08:36] Fred-sun commented on #39006
@zikalino Could you help confirm this issue or not? not a bug, just caused by network unstable. Thanks!

[2018-09-13 09:33] GSergeevich commented on #45323
any suggestions?

[2018-09-13 09:37] dwagelaar commented on #43361
It works when I replace the underscore in the username by another character, i.e. "zabbix.monitor" instead of "zabbix_monitor". A co-worker mentioned that there have been (are?) bugs in MySQL/MariaDB with the processing of underscores in identifier names: https://bugs.mysql.com/bug.php?id=68175

[2018-09-13 09:41] tomek-cz commented on #43918
Your dictionary does not look valid:
`silenced: {"*", 1533837600}`
should be
`silenced: {"*":1533837600}`

[2018-09-13 09:49] bmalynovytch commented on #43361
This is really old, and as mentioned above, I tried your task with a similar version of MariaDB without any problem.

Could you give a new try with a fresh Ansible setup, without even updating `mysql_user.py`.
I wasn't able to find any reason why your case doesn't work.

@ansibot needs_info

[2018-09-13 09:59] kammar87 commented on #45547
@erjohnso the debug output basically shows all of the parameters assigned and finishes with two lines:
"META: ran handlers
META: ran handlers"
Status -> ok=1 changed=1
Is it working fine from your side? Should I paste the whole output?
For now as a workaround I'm using shell block with gcloud command however would be nice to made it up and running.

[2018-09-13 10:05] b00tsy commented on #43918
`Your dictionary does not look valid` excellent eye! That explains my ansible error msg regarding the dict... Unfortunately the monitor does ignore the scope and mute duration with a valid dict.

[2018-09-13 10:08] raevilman opened #45593 "MODULE_FAILURE: iam_group module fails when user doesn't exists"
##### SUMMARY

Use iam_group and pass users that doesn't exists in AWS
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

iam_group
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Use iam_group and pass users that doesn't exists in AWS

[code]

##### EXPECTED RESULTS

Module should parse the output correctly.

##### ACTUAL RESULTS

[c

[2018-09-13 10:10] raevilman commented on #45593
I used this module with 'with_items' option. So i have removed the actual item from actual results. :)

[2018-09-13 11:19] #44959 closed, assigned to nobody

[2018-09-13 11:42] ant31 opened #45596 "Create an 'ansible' module to manage ansible remote playbooks"
##### SUMMARY

Create a module 'ansible' to manage and invoke ansible-playbook cli via an ansible task.

There's module for every binaries and tools except 'ansible' itself !

What's the use case ? in short it would be the nearly the same as configuring a bastion but it would largely simplify the setup, especially in the case you need multiple ones and generated inventory from previous roles.

###

[2018-09-13 11:49] whizz0 commented on #44564
Hi, I have the same issue after upgrading Gitlab recently. I guess that they have changed someting in their APIs :/

[2018-09-13 11:54] jlozadad commented on #44564
do you guys have `pyapi-gitlab` installed?

[2018-09-13 11:58] jlozadad commented on #45591
check out this blog on how to do it with networking devices https://www.ansible.com/blog/coming-soon-networking-features-in-ansible-2.5

[2018-09-13 12:07] whizz0 commented on #44564
@jlozadad - I hadn't, but after installing the error is still the same.

[2018-09-13 12:09] dagwieers commented on #37049
I would like to get back to this. I think we can achieve this by changing the mechanism.

- If we would drop a small static JSON file in the devel tree that lists the supported versions, stable and devel
- Every page would then show this somewhere at the top:
  - Versions: [2.4](https://docs.ansible.com/ansible/2.4/scenario_guides/guide_aci.html), [2.5](https://docs.ansible.com/ansible/2.5/scenari