[2017-12-07 11:49] #33667 closed, assigned to nobody

[2017-12-07 11:49] ric79 opened #33668 "AnsibleModule - specify dict keys"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
AnsibleModule

##### ANSIBLE VERSION
ansible 2.3.2.0

##### OS / ENVIRONMENT
CentOS

##### SUMMARY
Hello,
is there a way to declare as module argument a dict and verify its keys?
For example, given the `transport` dict param, I would like also to validate the keys `par1`, `par2`, `par3`

[code]
Thanks!
Riccardo

[2017-12-07 11:57] jurajbgh commented on #27136
After you did that, you are still with the same issue. can you post you ansible.cfg please.

[2017-12-07 12:15] mmolinac opened #33669 "apache2_module fails to enable dump_io"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apache2_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[defaults]
allow_world_readable_tmpfiles=True

##### OS / ENVIRONMENT
macOS High Sierra 10.13.1
Darwin xxxxxxxxx.local 17.2.0 Darwin Kernel Version 17.2.0: Fri Sep 29 18:27:05 PDT 2017; root:xnu-4570.20.62~3/RELEASE_X86_64 x86_64

##### SUMMARY
I'm using apache2_module to enable

[2017-12-07 12:31] ric79 commented on #33668
Working on 2.4.1

[2017-12-07 12:31] #33668 closed, assigned to nobody

[2017-12-07 12:43] keerthana-sargunam commented on #27136
# config file for ansible -- https://ansible.com/
# ===============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]
host_Key_checking =

[2017-12-07 12:45] gundalow commented on #33661
Hi,
Can you please include the output from `ansible-playbook -vvvv ...` when running this
needs_info

[2017-12-07 12:47] stefanhorning opened #33670 "[AWS modules] profile not found in ~/.boto credentials file after 2.4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
all aws modules (I guess). Observed for `ec2_vpc`, `ec2_group`, `ec2`, `ec2_eni` etc.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04 / 16.04

##### SUMMARY
I always used `AWS_PROFILE` to switch between AWS profiles configures in `~/.aws/credentials` or `~/.boto`. After switching to Ansible 2.4 the

[2017-12-07 12:48] gundalow commented on #33655
@ibuler Can you please provide detailed steps to reproduce
needs_info

[2017-12-07 12:55] liamraemclauchlan-ibboost commented on #33661
TASK [azure_storage : Create backup container and upload backup] ***************
task path: /home/jenkins/workspace/environments/sandbox/db_backup_to_azure/roles/azure_storage/tasks/create_azure_storage_blob.yml:2
Using module file /usr/local/lib/python2.7/dist-packages/ansible/modules/cloud/azure/azure_rm_storageblob.py
<db-a> ESTABLISH SSH CONNECTION FOR USER: centos
<db-a> SSH: EXEC ssh -C -o C

[2017-12-07 13:14] stefanhorning commented on #33670
As Ansible uses boto / boto3 behind the scenes to connect to AWS here are the versions I have installed

- Name: `boto` Version: `2.48.0`
- Name: `boto3` Version: `1.4.4`

Note that the boto versions stay unchanged when switching between Ansible 2.3 and 2.4 . So I guess it's imply Ansible not passing along the ENV varialbe anymore, as things still work when I switched back to Ansible 2.3 (again wi

[2017-12-07 13:28] Akasurde commented on #33663
similar to #32301

[2017-12-07 13:46] stefanhorning commented on #33670
Ok more insights after some investigation:

When I remove the `~/.boto` file the same playbook brakes with
[code]

So played with this file more. So when I delete the [Credentials] section in ~/.boto (which is kind of equivalent of [default] in normal .aws/config files - a fallback profile when no profile is specified), the correct profile gets picked. For example [profile presentation] when I pro

[2017-12-07 13:50] Spitfire1900 opened #33672 "What organizational unit does max_fail_percentage use?"
- Documentation Report

##### COMPONENT NAME
 `strategy/linear.py`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.4 (Maipo)
Linux 3.10.0-693.5.2.el7.x86_64

Given #1663 it looks as though `max_fail_percentage` is determined from failures out of a batch of hosts, however the [documentation]( https://docs.ansible.com/ansibl

[2017-12-07 13:55] mkrizek commented on #33461
What is your use case? When `update_cache` is set (only has effect when `state` is `present` or `latest`), `yum clean expire-cache` is run before installing/updating the package(s) in `name`, so you can update the cache and install packages in the same step.

needs_info

[2017-12-07 14:16] #33663 closed, assigned to sivel

[2017-12-07 14:16] sivel commented on #33663
This has been resolved by #33673

[2017-12-07 14:26] adelton commented on #33187
I might even be able to provide patch for this but I'd like some confirmation that this indeed is a valid bug, and maybe some guidance about the approach -- should we use `rpm` to check for packages that are already present and remove them from the list of packages to be installed via `dnf`? Should this be done in `package` or in `dnf`?

[2017-12-07 14:38] awiddersheim commented on #18782
I recently hit this issue I believe in `2.4`. We rotate nodes out of our load balancer and wait for connections to drain using `wait_for`. However, during the wait polling the connection became `UNREACHABLE` and things just chugged on to the next host despite having `any_errors_fatal` turned on. This resulted in 2 nodes being out of rotation at a time which isn't good.

[code]

[2017-12-07 14:42] kwaio opened #33675 "Change fact caching index key"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
Facts Caching

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
allow_world_readable_tmpfiles = true

##### OS / ENVIRONMENT
Fedora 26 and CentOS 7.4

##### SUMMARY
Ansible fact caching indexes hosts by their inventory hostname.
We use several inventories for identical platforms which have different ansible_host but the same inventory_hostnam

[2017-12-07 14:45] ryanerwin opened #33676 "dns_subject_alt_name in openssl_csr"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
openssl_csr module

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Currently the `openssl_csr` module's `subject_alt_name:` requires items in the format: "DNS:my.domain.name", yet any data stuctures we use to define environments would not have "DNS:" already appended to the domain name...

Unfortunately, it's

[2017-12-07 15:07] abadger commented on #31631
Excellent!  I'll go ahead and close this then.

[2017-12-07 15:07] #31631 closed, assigned to nobody

[2017-12-07 15:15] amansyed931 commented on #30950
I need to run Disk format script while VM build using ansible for azure.
But for Azure userdata module is not supported.
is there any way to configure winrm on windows nodes using ansible (Linux control machine) without logging into windows node??

[2017-12-07 15:29] alvarezluciano opened #33678 "junos: connection succeed only after 3/4 runs"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- ncclient
- connection plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

Trying to run some Junos commands, and it only succeds after running 3/4/5 times (random).
Enable netconf  task (runs before the task that is failing) runs successfully ALWAYS.

##### ACTUAL RESULTS

[code

[2017-12-07 15:39] dmykarp opened #33680 "nmcli module fails with "List index out of range", if dns4 is present in arguments"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

Controller:
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.5 LTS
Release:	14.04
Codename:	trusty

Managed machine:
CentOS Linux release 7.4.1708 (Core)
##### SUMMARY

If `dns4` is present in the list of arguments, `nmcli` module fails with: `"List index

[2017-12-07 15:42] Spredzy commented on #32377
@emanuele-leopardi-dap up. Any update on this one? Or can I close it ?

[2017-12-07 15:44] Spredzy commented on #32038
I tend to agree with @MarkusTeufelberger. Configuration Management tool compare expected state with current state and if different make it so exected state == current state.

[2017-12-07 15:52] caljess599 commented on #33640
There's just this one:

[code]

[2017-12-07 15:53] Spredzy commented on #33676
Hi @ryanerwin, could you please paste an example of data structure you'd be passing in ? Like how (list, dict, etc...) the hostnames would be passed?

[2017-12-07 16:11] bcoca commented on #33659
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Imports are global and not per host, they specifically are the same for all hosts in play.  When importing a play you have no hosts, so

[2017-12-07 16:11] #33659 closed, assigned to nobody

[2017-12-07 16:18] bcoca commented on #33640
that is wrong, default is in default.py or default.pyc

[2017-12-07 16:22] sivel commented on #33640
@bcoca It might be a bug in how that is displayed, but mine shows `__init__.py` for that line as well.

Still doesn't explain what is happening to the `changed` key.

[2017-12-07 16:26] sivel commented on #33619
I cannot duplicate this, and checking with @abadger we can't see how that specific TypeError would occur on python2.7.  Specifically python2.7 should never report `bytes` in that error.

I'd be curious to see:

[code]

And then to use the path to that python binary from the above command run like:

[code]

needs_info

[2017-12-07 16:31] sjmiller609 commented on #22382
The follow snippet works around my previously mentioned issue and avoids both writing plaintext to disk and prolonged plaintext in memory (as alikins mentioned on March 13). This snippet is intended for ansible_connection=local.
[code]

[2017-12-07 16:35] mgedmin commented on #24651
This is broken under Python 2.7 as well.

A 2nd run of the same task notices the hash_host argument and applies it properly.

[2017-12-07 16:36] itsuri commented on #29449
I have same issue:
Ubuntu 16.04.3 LTS
ansible-playbook 2.4.2.0
python version = 3.5.2 (default, Nov 23 2017, 16:37:01) [GCC 5.4.0 20160609]
**pip** list:
boto (2.48.0)
botocore (1.8.9)

**pip3** list:
boto (2.48.0)
boto3 (1.4.8)
botocore (1.8.9)

AttributeError: 'Image' object has no attribute 'creationDate'

[2017-12-07 16:36] bcoca commented on #33640
yep, fixed it, should show correct file now

[2017-12-07 16:51] caljess599 commented on #33640
Okay, so it occurred to me that this behavior probably started when I switched to using the latest apt release I'd installed to following the git code repo. I uninstalled that release, did a git pull (for the heck of it), and voila, it works as expected!

FWIW, that line is still `Loading callback plugin default of type stdout, v2.0 from /oath/to/ansible/lib/ansible/plugins/callback/__init__.py`

[2017-12-07 17:09] Akasurde commented on #33602
resolved_by_pr #33683

[2017-12-07 17:10] Akasurde commented on #33602
@1NoOne1 Can you please try above PR and let me know if documentation make sense for you ?

[2017-12-07 17:32] rmfitzpatrick opened #33684 "AttributeError in InventoryManager.get_vars()"
`InventoryManager(some_loader, some_inventory).get_vars(hostname)`

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/inventory/manager.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
The updated `InventoryManager.get_vars()` relies on an nonexistent `InventoryData.get_vars()`.  This can be worked around w/ `InventoryManager().get_host(host).get_vars()`

[2017-12-07 17:41] roolebo commented on #24195
FYI, I have a WIP repo: https://github.com/roolebo/ovn-ansible

[2017-12-07 18:08] bcoca commented on #33516
but they can be, need to x2 check 'delegated' code as it overrides inventory variables, but only if they exist

[2017-12-07 18:08] sivel commented on #33640
@caljess599 Excellent.  Thank you for reporting back.  I'll go ahead and close this out.

[2017-12-07 18:08] #33640 closed, assigned to nobody

[2017-12-07 18:37] fabianvf commented on #28167
I'm also seeing this, makes the module 100% non-functional if you're running foreman and not katello.

[2017-12-07 18:38] dagwieers commented on #33516
I think at some point we should deprecate the remote_user directive in favour of play/block/task variables. It would make things more straightforward.

[2017-12-07 19:03] IPvSean opened #33686 "Support aggregate on nxos_vlan"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
nxos_vlan

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
aggregate feature is missing on nxos_vlan

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
playbook will function

##### ACTUAL RESULTS
playbook fails
[code]

[2017-12-07 19:19] robertdebock opened #33687 "module github_release returns "ok" when it changed something, "skipped" when no change is required."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
github_release

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A (Because I'm trying to manage github, not an operating system.)

##### SUMMARY
When creating a release with this code:
[code]

The state is a unexpected:
- When the release already exists: "skipped"
- When the release is created: "ok"

##### STEP

[2017-12-07 19:59] samdoran commented on #33672
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2017-12-07 19:59] #33672 closed, assigned to nobody

[2017-12-07 20:15] samdoran commented on #33684
cc @bcoca

[2017-12-07 20:52] anjo-swe opened #33688 "Serverless Module - Support Verbose Mode"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- serverless.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- N/A

##### SUMMARY

When using Ansible to deploy Serverless projects it would be very helpful to be able to turn on verbose mode (`-v`)

**Reference:** https://serverless.com/framework/docs/providers/aws/cli-reference/deploy/

##### STEPS T

[2017-12-07 20:56] sivel commented on #24440
@gerhard-tinned I've just opened a PR with my first pass at adding this functionality.  If you are interested, please test and let me know how it works out:

https://github.com/ansible/ansible/pull/33689

[2017-12-07 21:09] ivica-k commented on #33617
This is caused by the fact that the decimal separator of configured locale is a comma `,`. What is the output of the `locale` command on the target host? I am able to reproduce this by setting the locale to `nl_NL.UTF-8` (Netherlands uses comma as the separator)

[code]
Module `linux.py` has `,` hardcoded as a separator
[code]
I'd like to fix this issue, any feedback from someone who is more invol

[2017-12-07 21:48] bcoca commented on #33684
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a developer question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible-devel on irc.freenode.net
   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-12-07 21:48] #33684 closed, assigned to nobody

[2017-12-07 22:00] bcoca commented on #33516
no, this is a bug, we are using the hostvars of the inventory hostname even though it is delegated, that shoudl not be the case.

[2017-12-07 23:08] okomestudio opened #33693 "Variable undefined error when import_role is used within a child play"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian/Stretch

##### SUMMARY

Variable undefined error when ``import_role`` is used within a child
play.

My ultimate motivation is to have a generic play that does error
handling using ``block/rescue/always`` to ensure clean-up actions get
executed when a

[2017-12-07 23:15] willthames commented on #29449
@itsuri, if you're in a virtualenv or on OS X using brew python, and using connection: local you might not be using the python (and thus the boto3/botocore) that you think you're using.

If you can run your playbook with -vvv and verify that it's using the python you think you're using, that would be helpful.

[2017-12-07 23:19] cdelgehier commented on #33284
same observation for me
[code]
I got a ` File \"/usr/local/lib/python2.7.14/lib/python2.7/threading.py\", line 213, in release\n    self._note(\"%s.release(): non-final release\", self)\nRuntimeError: maximum recursion depth exceeded`

[2017-12-07 23:47] ardentperf commented on #32947
+1 ... agree that when using loop_control label, we should not print the loop_var

[2017-12-08 00:17] willthames commented on #18665
https://github.com/ansible/ansible/issues/29449#issuecomment-350022628 is likely also an example of this happening again

[2017-12-08 00:19] willthames commented on #18665
@bcoca, you *can't* set ansible_python_interpreter dynamically, it just doesn't work.

[code]

[code]

[2017-12-08 00:34] bcoca commented on #18665
@willthames nothing in your output points at that, here is an example of it working:

[code]
extracting the pertinent parts of the output:

[code]
first task uses /usr/bin/python

[code]
2nd task uses /usr/bin/python3 (which is the python ansible is using as controller)

[2017-12-08 00:41] willthames commented on #18665
What do you mean nothing points to that? The error message literally says that "{{" is a bad interpreter.

You say I can set `ansible_python_interpreter` at any level, and I've demonstrated that you can't set it as a playbook var. If I have to set `ansible_python_interpreter` for every task, I might as well set `delegate_to: localhost` for every task. Neither is a suitable solution when my entire

[2017-12-08 00:46] willthames commented on #18665
[code]

(just in case this was a problem with gathering facts, I also tried with `gather_facts: no` at which point it just failed on the task instead)

[2017-12-08 00:58] willthames commented on #33670
Are you using role_arn in your profile?

[2017-12-08 01:00] lexpierce opened #33694 "ZipArchive does not handle '-j' in files_in_archive"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708 (Core)
##### SUMMARY

`files_in_archive` function includes the directory entry as a separate entity from files, so if -j is used to junk paths as an extra option the files extract successfully, then the check of extracted f

[2017-12-08 01:00] bcoca commented on #18665
so narrowed down the problem to `vars:` at play level not getting templated

[2017-12-08 01:05] willthames commented on #18665
thanks @bcoca

[2017-12-08 01:13] bcoca commented on #18665
actually, vars are templated, just this one is not, `ansible_python_interpreter` gets used w/o templating, most people hardcode so that works, but `{{ }}` does not.

[2017-12-08 01:14] willthames commented on #23547
@s-hertel do we have any tests for this in the new aws_s3 test suite?

[2017-12-08 01:21] #30690 closed, assigned to nobody

[2017-12-08 01:23] bcoca commented on #18665
My PR above fixes it for my test case, as a workaround:

[code]
should work as the value is templated before assignment in `set_fact` and not lazy like in `vars:`

[2017-12-08 01:25] #33521 closed, assigned to nobody

[2017-12-08 03:08] Akasurde commented on #32901
@Yinaij Could you please try #33525 and let me know if it works for you ?

[2017-12-08 03:36] rafecolton opened #33699 "FAILED! => {"msg": "Timeout (12s) waiting for privilege escalation prompt: "}"
##### SUMMARY

Tasks will sporadically fail due to the error message `FAILED! => {"msg": "Timeout (12s) waiting for privilege escalation prompt: "}`. It's hard to reproduce consistently, and retries of playbooks that fail usually succeed.

I've seen various reports of this error and various fixes, but I'm still encountering it fairly regularly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[2017-12-08 03:51] rafecolton commented on #25961
@nertpinx I have `pipelining = False` set in my `ansible.cfg` and I am still experiencing the issue 😢

[2017-12-08 04:15] #32296 closed, assigned to nobody

[2017-12-08 04:34] Akasurde commented on #33580
similar to #33417

[2017-12-08 04:49] rafecolton commented on #33699
Setting the `hostname` in `/etc/hosts` early in the bootstrap process seems to fix the issue, per https://github.com/ansible/ansible/issues/25961#issuecomment-310214753 😕

This was a really difficult solution to track down, especially with so many unresolved duplicate issues. Wondering if there any way to fix this in Ansible itself or at least call it out loudly in the documentation.

[2017-12-08 06:23] suankan commented on #33402
## Problem description

Current ansible module `nxos_user.py` tries to grab a list of users of the Cisco Nexus device by command `show user-account | json` but this command does not actually exist on the devices Cisco Nexus 7.1 and 7.2
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/nxos/nxos_user.py#L230

## Actual result

Playbook run that uses this module fails because

[2017-12-08 06:31] naveennitk2009 commented on #15706
The problem is ssh known hosts prompt. You need to disable this in ansible. Open your ansible.cfg and add this (if not present, if present uncomment this)-
host_key_checking = False

[2017-12-08 06:49] wimnat commented on #33358
I face a similar issue.  Example playbook to demonstate problem:

[code]

When you run the play i would expect an output of 'override_helloworld_with_a_list' when i reach the with_items task but i actually get 'helloworld'.

[2017-12-08 09:07] stefanhorning commented on #33670
But this seems to be problem with the old boto as to my understanding boto3 uses the `~/.aws/credentials` instead of it's own `~/.boto` file.

[2017-12-08 09:22] ryanerwin opened #33702 "Documentation: Pipelining automatically disabled if keep_remote_files is on"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ansible.cfg (intro_configuration.htm)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY

* The `keep_remote_files` setting will silently disable the `pipelining` setting.
* Ideally there would be a warning if you have both enabled
* Minimally it should be in the documentation for pi

[2017-12-08 09:34] Vladimir-csp commented on #33410
Upgrade to 2.4.2 fixed this issue, but since a similar problem occurred in earlier version, could anyone provide some details about what lead to the problem in 1.9.2 and 2.4.0 and it's resolution in 2.1.1 and 2.4.2?

[2017-12-08 09:58] kizz1337 commented on #32032
Hi,

Same issue here using template

`ansible-playbook 2.5.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/sha                                                                                                                                                             re/ansible/plugins/modules']
  ansible python module location

[2017-12-08 10:04] ryanerwin commented on #33676
In my `roles/common/defaults/main.yml` I have something like:
(exact names changed for example)

[code]

Then, in my playbook I have:
[code]

Unfortunately, this won't work because SAN (Subject_Alt_Name) needs to be passed to this module in the format `DNS:host.example.com`

If you don't have any variables in a loop, it's not too big of an issue, but for any Ansible users that have the DNS host na

[2017-12-08 11:18] shellshock1953 commented on #12170
+1

[2017-12-08 11:53] Riccardo1976 commented on #33617
As requested
[code]
You are indeed correct, thanks you for the research. I'll try to see if i can 'force' the LC_NUMERIC as a work around.
[code]

adding "export LC_NUMERIC=en_US.UTF-8" in ansible user's bashrc works
[code]

[2017-12-08 12:53] sadsfae opened #33706 "Documentation: Example in ad-hoc modules for copy needs to be updated for 2.4"
##### ISSUE TYPE
- Documentation Report
- Possible Bug

##### COMPONENT NAME
Ansible ad-hoc docs: copy example

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Fedora 26

##### SUMMARY
In the [ad-hoc documentation](http://docs.ansible.com/ansible/latest/intro_adhoc.html#file-transfer) it's mentioned:

[code]

With 2.4 this errors out with

[code]

However using si

[2017-12-08 12:55] PJO2 opened #33707 "ios_command module : can not use "configure revert" commands"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- ios_command

##### ANSIBLE VERSION
- 2.x

##### SUMMARY: ios_command module should not filter out all configure commands

ios_command is a wonderful module, however i found a minor issue :

On line 165 there is a sanity check that verify that the user is not sending a configuration command
 ` elif item['command'].startswith('conf'):`

With this

[2017-12-08 13:02] gundalow commented on #27903
@QijunPan @CloudEngine-Ansible Could you please take a look at this. Thanks in advance

[2017-12-08 13:28] snecklifter commented on #24920
This is a problem for VMs running OpenShift as well. Its pot luck whether they return the correct IP. Usually its the docker one.

[2017-12-08 13:31] ibuler commented on #33655
This is my custom runner:

[code]

This is my test case:

[code]

When I run my test case:

[code]

**I think because the code didn't close the resource explicitly, so the test case alerting**

[2017-12-08 14:14] sadsfae commented on #33706
Update here, this is working for me now.  I must be losing my mind.

[2017-12-08 14:14] #33706 closed, assigned to nobody

[2017-12-08 14:36] IPvSean opened #33711 "aggregate on eos does not seem idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
net_vlan

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
everytime the playbook is run I get a changed: 1
[code]
##### STEPS TO REPRODUCE

[code]

https://github.com/network-automation/aggregate_resources

##### EXPECTED RESULTS
changed= 0, green task go by
##### ACTUAL RESULTS

[code]

[2017-12-08 14:36] andrunah commented on #24425
Appears to be same issue when using to_nice_yaml filter in .j2 temaplate, like:
{{ system_creds | to_nice_yaml }}

Workaround with set_fact + no_log (to hide sensitive information) works fine, however, appears to be an issue with filters.

[2017-12-08 14:53] sivel commented on #33358
I've bisected this to https://github.com/ansible/ansible/commit/df5895e585e18bfbf84af993c152801124332bf0 / https://github.com/ansible/ansible/commit/34511d1fc9a2aa5067aae149084a2490616ee646

[2017-12-08 14:54] biomassives commented on #33358
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (106/100 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-12-08 14:58] victorock commented on #33414
Not sure if this Aruba modules support switches or only Wireless.

[2017-12-08 14:59] #18665 closed, assigned to nobody

[2017-12-08 14:59] biomassives commented on #33414
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (111/100 (111%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-12-08 15:04] Spitfire1900 commented on #33672
@samdoran in that case what does Documentation Report mean?

[2017-12-08 15:11] sivel commented on #33358
Closing as a duplicate of https://github.com/ansible/ansible/issues/32685

[2017-12-08 15:11] #33358 closed, assigned to nobody

[2017-12-08 15:13] #32685 closed, assigned to nobody

[2017-12-08 15:49] 1NoOne1 commented on #33602
How do I test this...Install Python < 2.7.9 and which version of ansible should I use?  Please advice men on this. If I go to the vmware.py and change the lines that you modified is good enough.
I have currently,

[ansible@Test1 module_utils]$ python --version
Python 2.7.5
[ansible@Test1 module_utils]$ ansible --version
ansible 2.3.1.0
  config file = /etc/ansible/ansible.cfg
  configured module s

[2017-12-08 16:07] UnitedMarsupials-zz opened #33715 "The naming of the openssl_certificate-module"
##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME
The openssl_certificate module

##### SUMMARY
The [openssl_certificate module](https://docs.ansible.com/ansible/2.4/openssl_certificate_module.html)  does not appear to be OpenSSL-specific. Even if it uses OpenSSL libraries to produce them, the certificates it produces can be used -- or should be usable -- with _any_ SSL-implementation, whethe

[2017-12-08 16:24] jctanner commented on #23609
@mdelagrange have you run your testcase on an isolated system with no other copies of ansible installed? I'm not getting any errors from your make targets OR by calling your play directly with various versons:

[code]

[2017-12-08 16:32] samdoran commented on #33672
I see. You were asking for the docs to be clarified. I got sidetracked by all the additional questions which I felt would better be answered via community channels. Apologies.

I'll clarify the docs.

[2017-12-08 16:36] MarkusTeufelberger commented on #33715
The module uses pyopenssl exclusively at the moment and is only tested against OpenSSL.

I agree the module could be named "x509_certificate" for example, I'd like to see a few more test cases against a wider variety of implementations before I'd consider renaming the module (and breaking everyone's existing playbooks/roles in the process) though.

[2017-12-08 16:44] flowerysong commented on #33676
Well, the necessary string manipulation isn't particularly difficult: `subject_alt_name: "{{ item.value | map('regex_replace', '^', 'DNS:') | list }}"`.

(This isn't directly meant as an argument against changing the interface, more a suggestion for getting things working for you right now.)

[2017-12-08 16:51] s-hertel commented on #33670
@stefanhorning I can reproduce this from your description. It looks like the error is being raised initially in my boto/ec2/__init__.py because it can't find the profile (but setting a breakpoint, it looks like AWS_PROFILE is passed along from Ansible correctly). The boto docs are a little irregular, but the first example here http://boto.cloudhackers.com/en/latest/boto_config_tut.html#credentials

[2017-12-08 17:01] ryanerwin commented on #33676
@flowerysong , Thank you. That is helpful and you're right, it's pretty clean.

Just adding an example along these lines to the documentation may helpful enough.

[2017-12-08 17:21] s-hertel commented on #33384
@pkaramol I am able to reproduce this behavior and it is part of the rolling update. It does not occur erratically for me - it occurs every time with replace_all_instances: yes. None of the properties of the autoscaling group have been changed for me. If you can reply to the question above, that would be great. needs_info

[2017-12-08 17:28] s-hertel commented on #33373
@bobobox I agree that we can't really change the behavior of ec2 because it's a stableinterface module. However, there is an ec2_instance module in the works for 2.5 (no pull request yet) that will hopefully address maintaining configuration.

[2017-12-08 18:13] natanlao commented on #33657
Experiencing this too with region `westus`.

[2017-12-08 18:39] sivel commented on #33587
The `file` lookup, uses a list of paths, to try to locate a file.  When a task is executed from a role, it has the following search priority:

/path/to/roles/role_name
/path/to/roles/role_name/tasks
/path/to/playbook

It will attempt to find that file relative to each of those paths.

So you should be able to use either:

`../CHECKSUMS.txt` or `../../../CHECKSUMS.txt`

Both of those work for me.

[2017-12-08 19:09] jbscare commented on #19966
So in those cases, the same playbook would sometimes work, and sometimes fail, based entirely on what order the hosts happened to show up in inventory? That seems totally broken and undesirable. :^(

[2017-12-08 19:20] sivel commented on #33325
This is incorrect. From https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

`curl` and `python` will preserve these headers in compliance with the above statement from the rfc.  They do not remove them:

[code]

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/

[2017-12-08 19:23] Spectra-Dave-Drake commented on #19966
+1 for some type of implementation. FWIW I also found this not intuitive.

[2017-12-08 19:25] sivel commented on #33312
The description doesn't indicate it clearly, but is this task executing against localhost?  Or is it running against a remote host.  Is the remote host a Mac?

Does a `curl https://cloud.skytap.com/auditing/exports.json` on the host where uri is running also fail?

needs_info

[2017-12-08 19:30] IslandUsurper commented on #33587
It's nice that works for the file lookup. Now do it with the pipe one. Use it to grep something in `some_file`.

[2017-12-08 19:33] sivel commented on #33306
I believe this is a side affect of the fact that a `when` statement can be a list, and when specified as a list the individual elements are implicitly ANDed. For example:

[code]

is equivalent to:

[code]

So effectively `when: []` becomes `when: None`

In `ansible.playbook.conditional.Conditional._check_conditional`, we have logic that if no conditional was actually provided, it should return `T

[2017-12-08 19:36] sivel commented on #33587
The fundamental difference is that there is no cwd for `file`.  It has a list of candidates in which it searches.

It isn't feasible to do that with `pipe` as we would have to run the command numerous times.  As such the `pipe` command is relative to the playbook file.

[2017-12-08 19:45] haneefarkin commented on #33325
I think I was not clear.  The problem is with the second request.  The client receives the response with cookies and sends  the second request with the cookies received from the  first response.

In this case, if the first response had 2 cookies with the same key,  the later one will take precedence.  The second request will set only the latest cookie header.

E.g
   Response 1 : Set-Cookie : foo=

[2017-12-08 19:53] sivel commented on #33325
Ah, I see, so because Ansible is converting the cookies and headers into a dict, the operation is lossy.

This may require us to add an additional return value that maintains the list of tuples, so that we don't only include the last value.

[2017-12-08 20:19] x-yuri opened #33723 "Ansible's debug module doesn't print vars having a name comprising of a single letter, present in a word "invocation""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
`playbook.yml`:

[code]

[code]

##### EXPECTED RESULTS
variable `a` to be displayed

##### ACTUAL RESULTS
[code]

The reason is at [this line][1]. Missing comma?

[1]: https://github.com/ansible/ansible/pull/31812/files#diff-ab09fa2a9291a017c38c5db420d7ee0

[2017-12-08 20:22] mdelagrange commented on #23609
@jctanner you're right, I did have some local configuration (a fairly large host inventory) referenced in my `~/.ansible.cfg`.  If I slim it down, I can prevent the error, but the combinations that work and don't work seem pretty random.  I'll see if I can produce a more minimal test case.

[2017-12-08 20:23] mkporwit commented on #33657
I'm seeing this as well in northcentralus

[2017-12-08 20:24] IslandUsurper commented on #33587
I figured there was a good reason. This is a documentation issue, though, so it would great if we can change the Lookups page to not pretend that all lookup plugins are created equal.

[2017-12-08 20:47] sivel commented on #33325
A current work around, would be to use `login_result.cookies` instead of `login_result.set_cookie`:

[code]

[2017-12-08 20:50] ag0r opened #33724 "local_action throws errors when running ansible-playbook as a different user through sudo"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
local_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

remote_tmp     = /tmp/.ansible/tmp
##### OS / ENVIRONMENT

CentOS Linux release 7.2.1511 (Core)
##### SUMMARY

A permission denied error is thrown when trying to perform a task as a local action when the ansible-playbook command is run as a different user using sudo.

Permission

[2017-12-08 20:52] sivel commented on #33724
You likely need to utilize `sudo -Hu` so that sudo sets HOME to the user you have become

[2017-12-08 20:53] wknapik commented on #33306
An empty list of conditions makes no sense - the AND operator requires exactly 2 operands.

[2017-12-08 20:58] ag0r commented on #33724
@sivel Thanks for the input. I just retested using sudo -Hu and it doesn't seem to have made a difference.

```sudo -Hu awx bash -c "ansible-playbook -i /opt/devel_ansible_tower/hosts_inventory /opt/devel_ansible_tower/playbooks/test.yml -e 'target_hosts=test_host.net' -vvvv"```

[2017-12-08 21:09] x-yuri commented on #33723
So, it probably makes sense to mention @bcoca here, and try to add component:

!component +lib/ansible/plugins/callback/__init__.py

[2017-12-08 22:33] paruff commented on #13917
same error with duplicate group names :-(

[2017-12-09 03:17] bdowling commented on #33029
@privateip  I'm not sure that is the fix for this issue..

@Qalthos  -- I believe this issue is related to the fact that the terminal._get_prompt() issues a new line char in addition to the carriage return sent by exec_cli/send_command which on some devices is causing the terminal interface to get out of sync with the cmd sent and the last prompt being seen.  So the enable command which is looking

[2017-12-09 04:58] etienned opened #33731 "docker_service should support push"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

docker_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

docker_service should support `push` compose command.

In my setup, I'm building images locally, then I push them to a private registry and after that I `up` my compose app on remote hosts. So I need a way to push newly created ima

[2017-12-09 05:09] Akasurde commented on #33602
@1NoOne1 You can test with both Python version <2.7.9 and >2.7.9

You need to checkout PR #33683 and test it against this Python version

[2017-12-09 05:47] QijunPan commented on #27903
@gundalow we already know this issue,  and  here is the PR to fix it, please merge it , thank you.
https://github.com/ansible/ansible/pull/27876

[2017-12-09 05:47] Akasurde commented on #32032
@ajithkt @kizz1337 I see, there is no "folder" parameter specified in playbook, which is taking default value '/vm'.
I suspect that after creating VM due to this default variable it is not able to find the newly created VM. If you have any path different than the default '/vm', then please specify that path in playbook while creating the new VM.

[2017-12-09 05:57] #15752 closed, assigned to nobody

[2017-12-09 05:58] Akasurde commented on #16827
Closing this issue as PR #29176 is merged. If issue persists, please feel free to re-open.

[2017-12-09 05:58] #16827 closed, assigned to nobody

[2017-12-09 05:59] Akasurde commented on #31557
Could you please try latest devel version for this and let me know if it works for you?

[2017-12-09 06:18] QijunPan commented on #27903
@gundalow  I  created a  PR to ansible 2.4 branch.
https://github.com/ansible/ansible/pull/33732

[2017-12-09 07:34] pkaramol commented on #33384
No (other than the min/max/desired) properties changes.
These three properties also change momentarily.
If this is the expected behavior, I assume we can consider this as closed?

[2017-12-09 07:48] #32915 closed, assigned to resmo

[2017-12-09 09:14] resmo commented on #29684
resolved_by_pr #25747

[2017-12-09 09:14] #29684 closed, assigned to nobody

[2017-12-09 09:28] ephracis opened #33733 "Variables from playbook not available in hostvars dictionary"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Variables

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
macOS Sierra

##### SUMMARY
Variables defined in a playbook as `vars` or from `vars_file` are not available in `hostvars[inventory_hostname]`.

##### STEPS TO REPRODUCE
Here is a simple playbook to reproduce the issue:
[code]

##### EXPECTED RESULTS
[code]

[2017-12-09 10:04] andreaso commented on #33669
Yepp, looks like you are right in your diagnosis. The _apache2_module.py_ helper method `_module_is_enabled` does indeed parse the output of `apache2ctl -M`.

Except that I don't see _apache2ctl_ reporting anything wrong, the module's internal name really being _dumpio_. One could maybe argue that the file _/etc/apache2/mods-available/dump_io.load_ is improperly named. One could maybe also argue t

[2017-12-09 13:38] kylecurtis-od commented on #9065
I encountered this as well.  One approach was to use nested variables.  So take inventory group my_app_servers for example, and it lines up with the file my_app_servers.yml inside your group_vars, and you've got more than one application to manage on a common host.  I nested them like this
#Example: my_app_servers.yml
    application_env:
      - application1
      - application2

    application_

[2017-12-09 14:51] Akasurde commented on #31437
Similar to #30090

[2017-12-09 14:55] Akasurde commented on #17998
Closing this issue as there is no activity from reporter. If issue persists, please feel free to re-open.

[2017-12-09 14:55] #17998 closed, assigned to nobody

[2017-12-09 15:00] Akasurde commented on #16637
@mikeadamz Could you please check with latest version of Ansible and let us know if it works for you ?

needs_info

[2017-12-09 16:06] Akasurde commented on #33661
@liamraemclauchlan-ibboost it seems that environment is not able to find `azure.mgmt.dns` package.

Could you please check if you can import following ?

[code]

[2017-12-09 17:23] Akasurde commented on #33687
resolved_by_pr #33735

[2017-12-09 17:24] Akasurde commented on #33687
@robertdebock Thanks for reporting this issue. Could you please try the above PR and let me know if it works for you ?

[2017-12-09 18:09] mkrizek commented on #33177
@pschiffe in the output you provided in the issue description, it says "Parsed /etc/ansible/hosts inventory source with ini plugin", can you provide contents of that file too? Thanks!

[2017-12-09 18:22] serj1408 commented on #33177
I have same issue. Tried to move group_vars to different locations - nothing happens.
`ansible-playbook 2.4.2.0
  config file = /Users/USER/.ansible.cfg
  configured module search path = [u'/Users/USER/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible-pla

[2017-12-09 19:46] robertdebock commented on #33687
@Akasurde, yes, I've tried it and it works as expected now. Thanks!

[2017-12-09 19:46] giovannisciortino opened #33736 "foreman.py: Host recently created not found if cache is enabled"
The foreman inventory doesn't allow to discover and use recently created foreman hosts if the cache is enabled.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
foreman.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not related to ansible.cfg

##### OS / ENVIRONMENT
N/A

##### SUMMARY
On large foreman infrastructure(thousands of hosts) the foreman inventory takes half hour or hours t

[2017-12-09 20:54] DanyC97 commented on #18985
@hadrien-toma have you found the answer to your question ? asking because i have the same issue with the showing the task name but not the block's name ...drives me crazy.

[2017-12-09 21:59] pschiffe commented on #33177
@mkrizek
[code]

[2017-12-09 22:58] dsedivec opened #33738 "Inventory variables passed to lookup plugin are not interpolated"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Lookup plugin API, vars, templating?  Not exactly sure.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration in use

##### OS / ENVIRONMENT

Mac OS X 10.11.6

##### SUMMARY

Inventory variables (and probably other variables too) seen from a lookup plugin do not have Jinja expressions expanded.

I cannot tell if this is rel

[2017-12-10 01:15] sivel commented on #33306
I'm not necessarily saying it makes sense, but it evaluates to the same thing as no condition, because a list of no conditions was provided.  And historically, no condition is treated as `True`.  Changing the behavior of this now, could have far reaching negative ramifications for backwards compatibility.

[2017-12-10 06:28] walidshaari commented on #33414
you are right @victorock Aruba could mean different things "clearpass", HP procurve, airwave,..etc. in netmiko aruba is pro-curve switches.

[2017-12-10 06:44] walidshaari opened #33742 "junos_package does not support "in service upgrade ""
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

junos_package

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A
##### SUMMARY

would like junos_package to support "in service upgrades for SRX nodes cluster, the Juniper 1.4 stdlib have added it as a flag to Junos_Install_Os

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

to work, upgrading cluster nodes one at a

[2017-12-10 06:48] hadrien-toma commented on #18985
Unfortunately not... :(

[2017-12-10 10:31] macster84 opened #33744 "File module exits with stacktrace when touching file with non-existent parent directory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No special configuration.

##### OS / ENVIRONMENT
Ansible control machine: macOS Sierra 10.12.6
Managed OS: Debian Stretch

##### SUMMARY
The file module exits with a stacktrace when a file is touched whose parent directory does not exist.

##### STEPS TO REPRODUCE
[code]

##### EXPE

[2017-12-10 10:34] fff7d1bc opened #33745 "copy: attributes always yield 'changed', even when file already had matching one."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- stat.py
- file.py

##### ANSIBLE VERSION
2.4.2.0

##### CONFIGURATION

None

##### OS / ENVIRONMENT
Gentoo

##### SUMMARY

It seems that using `attributes` parameter to `copy` always reports changed, as it does not detect that specified file already have those flags.

##### STEPS TO REPRODUCE

    - name: set resolve.conf to 127.0.0.1 with imm

[2017-12-10 11:05] robinro commented on #33669
@mmolinac
Thanks for this bug report!

As you already pointed out, there is a mismatch between the module name used for loading and the one displayed by `apache2ctl -M`. I consider this mismatch a bug in the upstream apache code and would like to ask you to open a bugreport and have them use the same module name in both places.

Anyhow we should be able to play the hand dealt to us and this is not

[2017-12-10 11:07] robinro commented on #33669
Thanks @andreaso for pointing to the workaround.

[2017-12-10 11:14] rjlpedrosa opened #33746 "Openshift 3.7 installation error(loggin): AnsibleUndefinedVariable: 'ansible.utils.unsafe_proxy.AnsibleUnsafeText object' has no attribute 'iteritems'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/utils/unsafe_proxy.py
Module Logging
TASK [openshift_logging_elasticsearch : Set ES dc templates]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
Red Hat Enterprise 7.4 (wit

[2017-12-10 11:14] francescor opened #33747 "generic "SUDO password:" prompt even for non sudo become Privilege Escalation"
##### ISSUE TYPE
Documentation Report
##### COMPONENT NAME
lib/ansible/cli/__init__.py

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY
Confusing prompt:
Console asks for "SUDO password:" while I am using: "become_method: su"

Note: not a real bug, but is just the for a novice, since Ansible Documentation is so good, this prompt sounds like a use

[2017-12-10 11:23] Akasurde commented on #33746
@rjlpedrosa Could you please provide following details -

1. Ansible Version
2. Component Name
3. Playbook that is triggering error

needs_info

[2017-12-10 11:34] karlmdavis commented on #32334
@bcoca Apologies: the Travis link I included there was no good. Here's a corrected one that points to verbose Ansible log output with the failure: https://travis-ci.org/karlmdavis/ansible-role-jenkins2/builds/297648635#L5481

When you say that this seems to be caused by locale settings, do you mean I could workaround this by adjusting my config somewhere/somehow?

[2017-12-10 11:44] mkrizek commented on #33177
@pschiffe out of curiosity, trying to form a  hypothesis here, what happens when you `touch` an empty file and use that as an inventory, so passing `-i empty_file` to the `ansible-playbook` command and using your playbook?

[2017-12-10 12:01] rjlpedrosa commented on #33746
Sure :)

[ec2-user@ip-172-31-17-244 ~]$ ansible --version
ansible 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ec2-user/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, May  3 2017, 07

[2017-12-10 12:02] robinro commented on #33669
@mmolinac I opened a PR to add a new `identifier` option, which allows you to add the dumpio module as
[code]

[2017-12-10 12:29] KarolisL commented on #33177
@mkrizek not sure I've correctly understood your question. I was experiencing this issue on proper hosts statically defined in inventory file:
[code]

Localhost was not defined, but I had no group vars on `k8s-cluster` group -- I was `import_playbook`-ing [Kubespray](https://github.com/kubernetes-incubator/kubespray) playbook.

[2017-12-10 12:44] rjlpedrosa commented on #33746
Plyabooks attached.
The mail palybook is openshift-logging.yml.
Because it references many yml files, I've attached a tgz file with all the openshift ansible files.

[openshift-ansible.tgz.zip](https://github.com/ansible/ansible/files/1545614/openshift-ansible.tgz.zip)
[openshift-logging.yml.txt](https://github.com/ansible/ansible/files/1545615/openshift-logging.yml.txt)

Thanks

[2017-12-10 13:20] MikeStankavich commented on #33417
I've been having the same problem with releases.hashicorp.com from my dev macbook running El Cap 10.11.6. I noted that if I use a full path referring to the version of openssl installed by brew the openssl client connect test works. Maybe that's a clue?

[code]

FWIW I also found that if I use a task var to set the python interpreter to python3 for the get_url in question it works.
[code]

[2017-12-10 16:32] wknapik commented on #33306
An empty list should trigger an error, or at least a warning, if an explicit cast to bool is not used.

As a bool, it's false; as a list of conditions, it makes no sense and the current behavior is to return true, when it's a literal (unless it's wrapped in `()`, in which case it's false) and false, when it's a variable (regardless of whether `()` is used).

How many users, do you think, understan

[2017-12-10 16:54] wknapik commented on #33306
In this major version, the warning seems like the only viable option.

[2017-12-10 19:19] rjlpedrosa commented on #33746
Rewriting the issue using the template:

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module Logging
TASK [openshift_logging_elasticsearch : Set ES dc templates]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
Red Hat Enterprise 7

[2017-12-10 19:28] DanyC97 commented on #18985
@bcoca any chance you can help us please? thx a bunch!

[2017-12-10 21:36] packetferret commented on #24998
are we still looking at 2.5 as being the release to enable this feature?

[2017-12-10 22:04] tYYGH opened #33753 "Ansible module postgresql_user not compatible with PostgreSQL 10.1 (UNENCRYPTED PASSWORD)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Up-to-date Archlinux

##### SUMMARY
Ansible module postgresql_user not compatible with PostgreSQL 10.1

##### STEPS TO REPRODUCE
Use postgresql_user with PostgreSQL 10.1

[code]

##### EXPECTED RESULTS
Until the upgrade of PostgreSQL, it was working

[2017-12-10 22:17] pschiffe commented on #33177
@mkrizek empty inventory file fixes the problem:
[code]

It works even with localhost defined in the inventory file:
[code]

But, in my env, I do have a localhost defined in inventory file and I still see this problem. But I also have a dynamic inventory script there:
[code]

[2017-12-10 23:44] CaptPants commented on #30334
See existing PR for fix
https://github.com/ansible/ansible/pull/30565

[2017-12-10 23:45] pabelanger commented on #30334
https://github.com/ansible/ansible/pull/30565 for existing PR

[2017-12-11 01:31] onegreyonewhite commented on #33619
This is bug in my environment. Virtualenv creates Python 3.4 env instead of Py3.5.

[2017-12-11 01:31] #33619 closed, assigned to nobody

[2017-12-11 02:37] Akasurde commented on #33753
@tYYGH Thanks for reporting this issue. Could you please try option "encrypted: True" in your playbook ?

[2017-12-11 03:27] kedarX commented on #33554
@nk9b I missed the CentOS part earlier, Yes, this should be tracked separately.

[2017-12-11 04:14] chuckyz commented on #33417
That's.... annoying!

This is kinda outside of Ansible though, but for reference sake, just running `brew link openssl` *might* work?

[2017-12-11 08:27] cdelgehier opened #33760 "vmware_guest : RuntimeError (maximum recursion depth exceeded)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_CALLBACK_PLUGIN_PATH(/home/cdelgehier/git/my_project/ansible.cfg) = [u'/home/cdelgehier/git/my_project/plugins/callback']
DEFAULT_HOST_LIST(/home/cdelgehier/git/my_project/ansible.cfg) = [u'/home/cdelgehier/git/my_project/inventory']
RETRY_FILES_ENABLED(/home/cdelgehier/g

[2017-12-11 08:33] dmykarp commented on #33680
Hello again!

Yes, that works! Thanks for clarification. But I think then the [documentation](http://docs.ansible.com/ansible/latest/nmcli_module.html) for nmcli should be corrected? Because right now it claims that `type` is not a required parameter. So I thought the absence of `type` should not influence the command in any way, but apparently it does.

[2017-12-11 08:38] tYYGH commented on #33753
@Akasurde OK, I will when I am back home.

[2017-12-11 08:59] Akasurde commented on #33760
@cdelgehier Thanks for reporting this issue. I will try to reproduce this issue in my local environment.

[2017-12-11 09:09] lowjoel opened #33761 "maven_artifact Python3 Support"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

Generated by Packer. Nothing specific, except specifying `ansible_python_interpreter=/usr/bin/python3` as required.

##### OS / ENVIRONMENT

macOS El Capitan, managing Ubuntu 16.04 with default Python3 runtime (3.5.2)

##### SUMMARY

Cannot use `maven_artifact` with python3 on managed host.

##### STEPS TO REPRODUC

[2017-12-11 09:37] acondrat commented on #5339
I'm using `get_url` and it does not clean up temporary files in 2.4.2.0. Had to downgrade to 2.3.2.0.

[2017-12-11 09:46] msbit commented on #33580
@Akasurde similar, but the task does complete on some servers, and seems to be related to the certificate store, not the protocol version.

[2017-12-11 10:20] stefanhorning commented on #33670
Was just surprising that this behaviour changed by changing Ansible version and not changing Boto, which tells me that the problem is in fact Ansible here.

[2017-12-11 10:23] machacekondra commented on #33421
This issue was fixed in: https://github.com/ansible/ansible/pull/30302
We need to cherry pick to 2.4.

[2017-12-11 10:32] machacekondra commented on #33421
So it was already cherry-picked, and it's fixed in 2.4.2 release.

[2017-12-11 10:33] machacekondra commented on #33421
resolved_by 32190

[2017-12-11 10:33] machacekondra commented on #33421
resolved_by_pr 32190

[2017-12-11 10:39] pari- commented on #33745
Hi,

just tried to reproduce this (most recent devel as well as 2.4.2.0). Unfortunately, running on Debian GNU/Linux 9.2 I was not able to reproduce this.

regards,
pari

[2017-12-11 11:25] pratikkava1189 opened #33764 "Unable to find vm using vmware_guest_snapshot on vSphere 6.5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest_snapshot

##### ANSIBLE VERSION
ansible 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python version = 2.7.

[2017-12-11 11:41] Akasurde commented on #33764
@pratikkava1189 Thanks for reporting this issue. Could you please paste your Playbook used for this operation?

needs_info

[2017-12-11 11:55] wimnat commented on #33021
Will fix in upcoming PR with rewrite for NLB support

[2017-12-11 12:03] pratikkava1189 commented on #33764
Here is my playbook.

-----
 - hosts: localhost
# Variable Define for VMware information and Linux Server #
   vars_prompt:
   - name: "VSphere"
     prompt: "Enter VSphere Hostname or IP Address"
     private: no

   - name: "Username"
     prompt: "Enter Your VMware Username"
     private: no

   - name: "Password"
     prompt: "Enter Your VMware Password"

   - name: "VMname"
     prompt: "Ente

[2017-12-11 12:14] cdelgehier commented on #33760
Same loop with this setup (on a centos with python 2.7.5)

[code]

[2017-12-11 12:28] Jean-Daniel opened #33768 "role defaults' vars not visible when using import_role in playbook."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A

##### SUMMARY

I'm trying to use the modern role include syntax to mix tasks and roles import in a playbook but switching to "classic manner" to the "import_include" syntax cause undefined variables issues.

When using the classic syntax, the role's defaults are visible inside

[2017-12-11 12:44] kimegede commented on #30148
👍  would love to see this feature as well.

[2017-12-11 13:18] walidshaari commented on #32989
is  that for any vendor_command? e.g. ios_command, junos_command, ..etc?

[2017-12-11 13:49] IronCore864 commented on #30075
Having this issue with 2.4, when min/max/desired are both 1.

[2017-12-11 14:11] Akasurde commented on #33764
@pratikkava1189 I noticed that you have not included folder option in playbook, which is setting default value for folder to `/vm`. Thus vmware_guest_snapshot is not able to find the virtual machine.

I would recommend to include absolute folder value of virtual machine and trying again.

Absolute folder can be `/<DATACENTER_NAME>/vm/<custom_folder_path>`

There is PR https://github.com/ansible/an

[2017-12-11 15:02] pratikkava1189 commented on #33764
Thanks for the information, but I'm unable to figure out what would he folder name.

Can you help me out to find the folder name?

It's virtual machine or datastore folder? I tried both but still giving error of non-existence.

Our server is located as below.
Virtual Machine -
vsphere.server.com
  --IRRV
       -- RHVM
            -- testserver

Datastore -
vsphere.server.com
  -- IRRV
       -- D

[2017-12-11 15:12] pratikkava1189 commented on #33764
Here are the brief of my environment

Our server is located as below.
 Virtual Machine -
 vsphere.server.com
 --IRRV (Datacenter)
 -- RHVM (Cluster
 -- testserver (Virtual Machine)

Datastore -
 vsphere.server.com
 -- IRRV (Datacenter)
 -- DATASTORE (Datastore Cluster)
 --- DATASTORE1 (Datastore)
       ( (URL - ds:///vmfs/volumes/f8311224-e7230792/ ( NFS))

[2017-12-11 15:13] cdelgehier commented on #33760
@Akasurde my playbook works with this setup
[code]

[2017-12-11 15:14] sivel commented on #33306
Let's take a step back and talk about the use case. What use case do you have that you need to explicitly specify `when: []`?

The more I think about it, this seems like an extreme edge case, as I can't think of a time when a person would explicitly use `when: []`.  I'm not sure what that achieves or why you would do it in the first place.

needs_info

[2017-12-11 15:15] OlegKorchagin commented on #17349
confirm problem

ansible randomly fails ( ~ 20% ) with AIX hosts

BUT. It looks like ansible does not proven

bare ssh ALSO hangs in case, if it run with both command and PTY allocation

# works fine:
ssh host
ssh host 'uname'
ssh -t host

# but this randomly fails ( ~ 20 % )
ssh -t host 'uname'

[2017-12-11 15:25] #31889 closed, assigned to trishnaguha

[2017-12-11 15:36] Gianlu opened #33771 "Issue in stopping IIS Web Application pool"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_iis_webapppool

[code]

##### CONFIGURATION

DEFAULT_LOAD_CALLBACK_PLUGINS(/etc/ansible/ansible.cfg) = False
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/modules']

##### OS / ENVIRONMENT

ansible host: debian 8.10
target system: Windows 2012 R2

##### SUMMARY
Error in stopping Web application pool

##### STEPS TO R

[2017-12-11 15:40] DanyC97 opened #33772 "Question - how to output the block name as well as the task names associated with?"
what needs to be done to configure Ansible's controller to output the block name when executing the playbook? By default I can see task names but not the name of their block

[2017-12-11 15:41] DanyC97 commented on #33772
@hadrien-toma fyi

[2017-12-11 15:43] DanyC97 commented on #33772
@bcoca would appreciate if you can help out with an answer, i know as part of https://github.com/ansible/ansible/issues/18985 you worked on that part of the code.

thx in advance for your help

[2017-12-11 15:46] trishnaguha opened #33773 "[DI_MISSING] Add missing declarative module iosxr_static_route"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- [ ] iosxr/iosxr_static_route

##### ANSIBLE VERSION

[code]

[2017-12-11 15:48] #31299 closed, assigned to trishnaguha

[2017-12-11 15:49] trishnaguha commented on #31299
resolved_by_pr https://github.com/ansible/ansible/pull/32587

[2017-12-11 15:51] ganeshrn commented on #31323
PR:
https://github.com/ansible/ansible/pull/33452
https://github.com/ansible/ansible/pull/33575

[2017-12-11 15:51] trishnaguha opened #33774 "[DI_MISSING] Add missing declarative module iosxr_vlan"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- [ ] iosxr/iosxr_vlan

##### ANSIBLE VERSION

[code]

[2017-12-11 15:52] chris7444 commented on #32000
I cannot find how I can re-open this issue. let me know if I need to open another one

unfortunately, the issue is still there when the vm is NOT created from a template

ansible 2.4.1.0
  config file = /root/svt/ops/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-pac

[2017-12-11 16:04] trishnaguha commented on #31275
Target date 13/12/2017

[2017-12-11 16:05] trishnaguha commented on #31884
Target Date 14/12/2017

[2017-12-11 16:05] trishnaguha commented on #31890
Target Date 16/12/2017

[2017-12-11 16:08] trishnaguha commented on #31295
Target Date 14/12/2017

[2017-12-11 16:10] trishnaguha commented on #31886
Target Date: 20/12/2017

[2017-12-11 16:11] trishnaguha commented on #31888
Target Date: 22/12/2017

[2017-12-11 16:11] OlegKorchagin commented on #17349
workaroud:

update ansible to 2.3 or newer

add to ansible config:

[code]

in my case, connection fails in 20%, so 1 retry is enougth

[2017-12-11 16:11] trishnaguha commented on #31885
Target Date: 26/12/2017

[2017-12-11 16:12] trishnaguha commented on #31883
Target Date: 29/12/2017

[2017-12-11 16:12] trishnaguha commented on #26827
Target Date 02/01/2018

[2017-12-11 16:12] trishnaguha commented on #25608
Target Date: 02/01/2018

[2017-12-11 16:22] #32000 closed, assigned to nobody

[2017-12-11 16:23] Akasurde commented on #32000
@chris7444 You need to use Ansible version 2.4.2.0 or latest version to get the fix. I think you are using 2.4.1.0

[2017-12-11 16:30] Akasurde commented on #33764
@pratikkava1189 Could you please paste output of `[govc find /](https://github.com/vmware/govmomi/tree/master/govc#govc)` so that I can tell you the folder path ?

[2017-12-11 16:31] voidspace opened #33776 "ansible-inventory doesn't pass through stderr for inventory scripts"
##### ISSUE TYPE

 - ~~Bug  Report~~
- Feature Idea

##### COMPONENT NAME
bin/ansible-inventory

##### ANSIBLE VERSION
[code]
##### SUMMARY

Using `ansible-inventory`, from ansible 2.4, with a dynamic inventory script we don't see stderr from the script unless the script fails. Tower has always mirrored stderr from the output script into the sync results, as useful debugging information. For Tower

[2017-12-11 17:25] jctanner commented on #23609
@mdelagrange probably a good idea to open a new issue if you find a testcase that doesn't match this issue's description exactly. Recursion can happen in many places throughout the code and if we fix this one, it isn't guaranteed to fix others.

[2017-12-11 17:35] alikins commented on #33746
I updated the first comment with info from https://github.com/ansible/ansible/issues/33746#issuecomment-350573183

[2017-12-11 17:56] alikins commented on #33746
That's a pretty complicated playbook...

I'm guessing the iteritems is coming from roles/openshift_logging_elasticsearch/templates/es.j2:37

[code]

'es_node_selector' is from roles/openshift_logging_elasticsearch/tasks/main.yaml:359 maybe?

'openshift_logging_elasticsearch_nodeselector' is defined in several places so hard to tell what might be causing it to be undefined.

roles/openshift_logging

[2017-12-11 17:59] InfoSec812 commented on #16903
I am seeing a similar issue in relation to an inventory we use:

[code]

The second `content` key resets the dictionary silently (or silently enough) such that my inventory runs without error and fails to deploy correctly.

[2017-12-11 18:01] alikins commented on #33724
@ag0r

Was this working previous to 2.3?
Does it work with 2.4?

Where is 'personal_user' coming from?

[2017-12-11 18:07] alikins commented on #33724
@ag0r

What is the reasoning for using 'sudo -u axw bash -c' in lieu of 'sudo -u awx ansible-playbook'?

(or is that something Tower is doing itself?)

What is the reasoning behind changing that?

[2017-12-11 18:11] alikins commented on #33733
Was this working previous to 2.4.2.0?

[2017-12-11 18:13] alikins commented on #33738
hey @ansibot, !component

[2017-12-11 18:18] alikins commented on #33738
pinging @jimi-c iirc, this is intentional behavior? Values returned from lookups are considered 'unsafe' and are not templated.

[2017-12-11 18:28] sivel commented on #33738
I am pretty sure this is intentional.  See https://github.com/ansible/ansible/commit/ed56f51f185a1ffd7ea57130d260098686fcc7c2 for some additional information, and a way to bypass it being marked as unsafe.

Also: http://docs.ansible.com/ansible/latest/intro_configuration.html#allow-unsafe-lookups

[2017-12-11 18:28] alikins commented on #33745
possibly same issue as https://github.com/ansible/ansible/issues/32347 ?

[2017-12-11 18:33] jimi-c commented on #33738
Yes, this is as-expected behavior. Any variables used within the lookup plugin will need to be templated by that plugin (see https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/template.py as an example).

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-proj

[2017-12-11 18:33] #33738 closed, assigned to nobody

[2017-12-11 18:37] abadger commented on #33745
Unable to reproduce with 2.4.2 or 2.4.1 so I don't think this is the same as #32347 (which was present in 2.4.1.0 and was fixed for 2.4.2).  Will need more information on how to reproduce this in order to attempt to diagnose and fix it.

Here's what I did to attempt to reproduce:
[code]
[code]

needs_info

[2017-12-11 18:47] alikins commented on #33747
Looks like the prompting for '--ask-become-pass' doesn't know to ask for 'su' since it is not processing the host/task thats sets become_method yet.

`ansible-playbook -vvv --ask-become-pass --become-method su test.yml` seems to do the right thing, but it is wrong and confusing for the case described.

Not sure if we have any info at prompt time to infer the right become method prompt. If a play h

[2017-12-11 18:47] slashbeast commented on #33745
Hi,

Some more informations:

- The `dest:` matters here. This does **not** happen if I set it to `/home/resolv.conf`, then it's OK, but when I tamper with `/etc/resolv.conf`, it always marked as changed. They're both ext4 file systems mounted with the very same options.
- I am running with Python 2.7, inside virtualenv with `ansible_python_interpreter` set to `/usr/bin/env python`. requirements.t

[2017-12-11 18:47] dsedivec commented on #33738
OK, thank you for the clarification.  I hadn't seen that requirement to template variables yourself in the docs, and almost no lookup plugins other than template itself actually seem to call `template` (`first_found` seems to be the only other one).  Maybe I'll submit a docs patch at some point. :)

For the benefit of those who come here after me, note that, as far as I can tell, the comments abov

[2017-12-11 18:51] slashbeast commented on #33745
To be even more specific, happens only on roofs, not on another mount point. so `/root/resolv.conf` and `/etc/resolv.conf` is affected, but `/home` is not.

[code]

[2017-12-11 18:53] alikins commented on #33761
(just pasting a formatted version of the errors mentioned above for slightly easier reading)

[code]

Replacing `getheader` with `get` on line 368 in the Ansible source yields:

[code]

[2017-12-11 18:53] s-hertel commented on #33670
@stefanhorning I can't reproduce success on 2.3.
[code]
Moving the credentials location I usually use and removing the preceding 'profile' in the braces in my boto file to match your case:
[code]
No environment vars set except the profile in ~/.boto
[code]
My task:
[code]
traceback:
[code]
When I put the 'profile' back so my ~/.boto file has [profile shertel] in it rather than [shertel] this task

[2017-12-11 18:54] alikins commented on #33761
pinging @abadger

[2017-12-11 19:00] alikins commented on #33768
(reformatted error output for easier reading here)
[code]

[2017-12-11 19:08] TheFriendlyCoder opened #33782 "Changing credentials between tasks"
This is more of a question than a defect. Wasn't sure if this was the best forum for asking questions. If not just let me know where I should redirect the question.

I am trying to find a way to programatically change SSH credentials in an Ansible play between tasks and / or between hosts. Here is my most basic use case: When bootstrapping a new server that has no LDAP configuration, user profiles

[2017-12-11 19:08] #33421 closed, assigned to nobody

[2017-12-11 19:08] alikins commented on #33768
I can reproduce with devel c2b4fd7f1e

[code]

[2017-12-11 19:08] bcoca commented on #33738
FYI https://github.com/ansible/ansible/pull/32772, is probably already what you wanted to implement in the example.

[2017-12-11 19:12] TheFriendlyCoder commented on #33782
I probably should have mentioned that, in the interest of reproducibility and idempotency in the play I'd want to set up the first task in such a way that if the root user can not authenticate at all (ie: in the case when someone has already run this play against a server) it would simply ignore the failure and continue with the rest of the plays as the other user.

[2017-12-11 19:14] ag0r commented on #33724
@alikins this wasn't implemented for us before we upgraded to 2.3, so I can't say if it worked with previous versions. It will also be difficult for me to upgrade to 2.4 at this time, but I will try to set up a test environment and do that.

personal_user is just an obfuscation of my user name on the system when I log in. In my case, this is coming from LDAP.

There is no particular reason for usi

[2017-12-11 19:16] bcoca commented on #33782
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-11 19:16] #33782 closed, assigned to nobody

[2017-12-11 19:18] alikins commented on #33776
pinging @bcoca

[2017-12-11 19:22] riton opened #33784 "include_tasks in role looks for tasks relative to included task, not role root"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`include_tasks`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No custom configuration

[code]
(does not print anything)

##### OS / ENVIRONMENT

Operating System:
* `Python 2.7.12`
* `Ubuntu 16.04.3 LTS`

##### SUMMARY
IMHO,
In a role, `include_tasks` does not behave as expected when called with tasks in sub-directories.

##### STEPS TO RE

[2017-12-11 19:24] bcoca commented on #33738
The reason the 'variables' dictionary is not templated is that is is there to be fed to templating, not to be used directly. If we always templated all variables this would be a lot of unnecessary work and occupy a lot more memory.

[2017-12-11 19:25] TheFriendlyCoder commented on #33782
Thanks for the redirect. I'll take a look there.

[2017-12-11 19:31] andreby opened #33785 "Using 'directory_mode' with the copy module is weird"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed shows no output

##### OS / ENVIRONMENT
Using Ubuntu 17.10 to manage Ubuntu 16.04.3

##### SUMMARY
Setting 'directory_mode' to an invalid value makes the copy module only copy part of a directory tree while reporting "ok" (i.e nothing changed). Runn

[2017-12-11 19:39] jpop1010 opened #33786 "Want to run ansible with cron using ssh and sudo with a password file"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I cannot use password-less logins or sudo but want to automate my ansible playbooks.  New to ansible and I am having a hard time figuring out the best method for this.  It looks like vault might be my best but I am not sure about the opt

[2017-12-11 19:42] gonoph commented on #20379
This worked for me, yes it's a hack, but it (to_json | from_json) seems to convert the AnsibleUnicode into a string that jinja2 likes.

ansible_mounts | to_json | from_json | json_query("[?mount=='/'].device | [?contains(@, 'atomicos')]")

[2017-12-11 19:45] riton commented on #33784
The thing I do not understand here is that `include_tasks` does not seem to have a consistant behavior.

In my first `include_tasks`, it find my role relative task (`v1/install.yml`).
In my second `include_tasks`, it fails to find my role relative task (`common/system_integration.yml`)

[2017-12-11 20:02] ephracis commented on #33733
I am not sure. Haven't tried it against any other version. I can check.

On Mon, Dec 11, 2017, 19:12 Adrian Likins <notifications@github.com> wrote:

[2017-12-11 20:26] slashbeast commented on #33745
The `stat` module with `get_attributes: yes` returns a dict that have empty `attributes` list, also.

[2017-12-11 20:42] s-hertel commented on #33384
Closing as per above.

[2017-12-11 20:42] #33384 closed, assigned to nobody

[2017-12-11 21:07] kinghrothgar commented on #18217
Any update on this? I am experiencing this in 2.4.1.0 as well. Setting variables in include_role blocks inside of a role does not work.

[2017-12-11 21:38] bcoca commented on #33733
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

This is expected, play vars are available directly, not all vars appear in hostvars, only 'host specific' vars should be there.

In the

[2017-12-11 21:38] #33733 closed, assigned to nobody

[2017-12-11 21:41] rjlpedrosa commented on #33746
Thanks for your all, I will close the issue

[2017-12-11 21:41] #33746 closed, assigned to nobody

[2017-12-11 21:41] bcoca commented on #33772
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-11 21:41] #33772 closed, assigned to nobody

[2017-12-11 21:50] serj1408 commented on #33177
Hi  guys, I've different scenario...actually simplest one but I don't know what to think maybe am I wrong please correct me. I started also with included role issue but after some debugging I found that even simple case doesn't work. I 'd Test.yml to catch group_vars but it didn't. So here is sample:
`$ tree ansible/
.
├── group_vars
│   └── all
├── inventory
│   └── serj
│       ├── mnc1
│  

[2017-12-11 21:50] kinghrothgar commented on #22025
I agree with @duck-rh here. The documentation has set_fact at a higher precedence than role params. As far as I can tell, there is no way to modify a variable that was set as a role parameter inside of that role. This makes it impossible to implement a wrapper role that uses the same variables as the role it is wrapping which is very frustrating.

[2017-12-11 21:57] lilred commented on #20877
This issue still exists in 2.4.2.

[2017-12-11 22:14] samdoran commented on #33177
@serj1408 Your issue is different that what's reported here.

Ansible looks for `group_vars` adjacent to the playbook or adjacent to the inventory. The `group_vars` folder in your example tree is in neither of these places, so they do not get included.

[2017-12-11 22:25] sivel commented on #33325
@haneefarkin are you using python3?

Also, please check the following PR and see if it does what you need.  Notice that it also adds a new `cookie_string` to make it easier on the user, for sending the cookies in future requests.

https://github.com/ansible/ansible/pull/33792

needs_info

[2017-12-11 22:30] abadger commented on #33761
Looks like get() was added as an alias of getheader in python 2.2.  So +1
to making that change.

Looks like we will always write bytes in that function so +1 to that change
as well.

On Dec 11, 2017 10:54 AM, "Adrian Likins" <notifications@github.com> wrote:

[2017-12-11 22:34] abadger commented on #33745
Try modifying a temporary file inside of /etc.  On many systems there are
programs that modify resolv.conf.  if one of those is doing that then
ansible will keep changing it and then the other program

[2017-12-11 22:39] neowulf33 commented on #28148
Finding the same issue in:
[code]

Linking https://github.com/ansible/ansible-modules-extras/issues/3155 which supposedly fixed the issue.

[2017-12-11 22:42] bcoca commented on #33723
the tuple used to have more entries, when i removed and left just 1, it was not a tuple anymore ... so it looked at string matching.

PR above fixes it

[2017-12-11 22:42] #33723 closed, assigned to nobody

[2017-12-11 22:46] jmighion commented on #32989
@walidshaari I believe so.

@jabelk Can you separate out the task into 2? The first for everything but the `transfer download start` and the 2nd for just `transfer download start` with the extra prompt and answer options?

I don't see `transfer download start` listed on the commands to be ran, so I'm wondering if there's something causing it to get skipped or not sent.

Also I'm not sure you need

[2017-12-11 22:53] samdoran commented on #32015
`include` and `include_tasks` are not equivalent. `include` is equivalent to `import_tasks` since they are both _static_.

`include_tasks` is dynamic. Since there are no tags applied to to `include_tasks` task, the inclusion of the file is skipped, and the tags on tasks inside that file are not available.

We split these out hoping to make the behavior more obvious and consistent, but it's still a

[2017-12-11 22:55] samdoran commented on #32015
Sorry for the noise. That's what I get for not refreshing my tabs before commenting. :blush:

[2017-12-11 23:10] rcarrillocruz commented on #31277
Target Dev complete date: 2017-12-15

[2017-12-11 23:12] rcarrillocruz commented on #31276
Target Dev complete date: 2017-12-29

[2017-12-11 23:13] rcarrillocruz commented on #32064
Target Dev complete date: 2018-01-05

[2017-12-11 23:15] neowulf33 commented on #28148
I was able to make the letsencrypt module work with Ansible 2.4.2 on Python 2.7.

I couldn't get the module to work on Python 3.

[2017-12-11 23:24] mikeadamz commented on #16637
Unfortunately I no longer manage Solaris hosts and do not have the access
to test this.

On Sat, Dec 9, 2017 at 7:01 AM, Abhijeet Kasurde <notifications@github.com>
wrote:

--
Mike Adams <mike.adams@unix-security.net>
Cell: 916.538.4013

"Any intelligent fool can make things bigger, more complex, and more
violent. It takes a touch of genius -- and a lot of courage -- to move in
the opposite direct

[2017-12-12 00:06] jospina-316 commented on #21515
Still an issue.

[2017-12-12 00:07] lowjoel commented on #33761
Sorry about that @alikins -- forgot to add the newlines back after pasting it in.

[2017-12-12 01:36] jborean93 commented on #25539
A beta of pywinrm has been released which fixed the issue around `ansible_winrm_read_timeout_sec` and `ansible_winrm_operation_timeout_sec`, details of it are here https://groups.google.com/forum/#!topic/ansible-project/2ywJphGNNJs. While not officially released this issue is somewhat separate to Ansible so I am going to close it.

[2017-12-12 01:36] #25539 closed, assigned to nobody

[2017-12-12 02:27] #28463 closed, assigned to nobody

[2017-12-12 02:39] #24928 closed, assigned to nobody

[2017-12-12 03:51] nlsantos commented on #30441
Looks like switching from include* to import*, except for where absolutely needed (with loops) dramatically decreased memory usage.  Still monitoring, but signs are looking good.

[2017-12-12 04:07] #21048 closed, assigned to nitzmahone

[2017-12-12 04:29] afeld commented on #14413
Found a couple roles out there to take care of this:

* https://galaxy.ansible.com/GROG/reboot/
* https://galaxy.ansible.com/pgkehle/restart/

[2017-12-12 04:49] sandeepduhan92 commented on #9442
Hi,

Is it possible to pass multiple remote users as variable in a single playbook.

Scenario:-  I have multiple instances and diff users on each server. I wanted to create a playbook in which  playbook takes the remote user one by one until successfully login. Once login it will perform the task.

Can anyone please help me on this.

Looking for help.

Thanks & Regards
Sandeep Kumar

[2017-12-12 04:56] #28262 closed, assigned to nitzmahone, jborean93

[2017-12-12 05:19] #32004 closed, assigned to Akasurde

[2017-12-12 05:36] Akasurde commented on #20663
Closing this issue as PR https://github.com/ansible/ansible/pull/28149 is merged. If issue persists, please feel free to re-open.

[2017-12-12 05:36] #20663 closed, assigned to nobody

[2017-12-12 05:41] senorsmile commented on #14413
@afeld that role looks great.

[2017-12-12 05:49] Akasurde commented on #33680
resolved_by_pr #33796

[2017-12-12 05:50] Akasurde commented on #33680
@dmykarp I have update condition - where it will check for type of network connection or device type provided or not, while performing 'create' or 'modify' operation.

[2017-12-12 05:53] slashbeast commented on #33745
Nothing will change a file with immutable bit, and I can confirm that `lsattr /etc/resolv.conf` does print that theres 'i' flag,

[code]

and then running

[code]
Gets me

[code]
So the problem seems to be with `stat.py` that it does not read attributes from a rootfs, but works on other mountpoints.

When I repeat the same for `/home` I get

[code]

So the functionality works for all but rootfs, w

[2017-12-12 06:56] #31923 closed, assigned to Akasurde

[2017-12-12 06:59] abadger commented on #33745
I'm still not able to reproduce:
[code]

So as long as I'm understanding that by rootfs you mean "mounted on /" then I'm still not able to reproduce.  There's got to be some other difference besides the mount point at work here.

needs_info

[2017-12-12 08:29] dmykarp commented on #33680
Thank you!

[2017-12-12 08:48] #33744 closed, assigned to nobody

[2017-12-12 09:06] Vladimir-csp opened #33802 "please expose ansible connection parameters in facts"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

core

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Please expose ansible connection parameters as facts. Basically the data analogous to that of SSH_CONNECTION environment var: addresses and ports of server and client in context of ansible operation.
Although It is possible to extract this i

[2017-12-12 09:16] magnetik commented on #22922
Same error with `2.4.2.0`

[2017-12-12 09:24] chris7444 commented on #32000
@Akasurde Yes, it is working with 2.4.2.0/Ubuntu . (2.4.1.0 on my RedHat 7.4 box)

[2017-12-12 09:43] Vladimir-csp opened #33803 "default ip address algorithm"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/facts/network/generic_bsd.py
lib/ansible/module_utils/facts/network/linux.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Using route to 8.8.8.8 as a way to find host's default ip address is way too specific and can be affected by specific routes.

##### EXPECTED RE

[2017-12-12 09:46] LuckySB commented on #30441
import* is statical and worked one time before playbook start playong

include_* - dynamical and got more and more memory on each loop

i use deprecated include: instead include_task:

[2017-12-12 09:48] gundalow opened #33804 "vyos_facts: Invalid command: [None]"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vyos_facts

##### ANSIBLE VERSION
[code]

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
[code]

[2017-12-12 09:50] stefanhorning commented on #33670
I guess you got me wrong, I am not removing the profile string from the section descriptor, I am merely using the a default profile as documented by boto and which has also been working before Ansible 2.4.

The format I am talking about in `~/.boto` is:

[code]
Where `[Credentials]` is the default (fallback if no explicit profile is provided)

See docs http://boto.cloudhackers.com/en/latest/boto_c

[2017-12-12 09:56] Akasurde commented on #20106
@eastside-hustle Could you please try on latest vmware_guest and let me know if it works for you ?

needs_info

[2017-12-12 10:04] Vladimir-csp commented on #30629
It is still not overrideable in ansible.cfg:
[code]

[2017-12-12 10:08] Akasurde commented on #22542
Closing this issue as there is no activity from user. If issue persists, please feel free to re-open.

[2017-12-12 10:08] #22542 closed, assigned to jctanner

[2017-12-12 10:12] mscherer commented on #25897
So, looking at that bug, I also wonder what would be the right way to convey information.

The suggestion of parsing os-release seems good, since that's kinda standard ( https://www.freedesktop.org/software/systemd/man/os-release.html ).

Other solution, we add a fact that do verify the system is not traditional, like ostree based, something like ubuntu core, etc.  Not sure how to name this one, a

[2017-12-12 10:13] Akasurde commented on #32000
@chris7444 Cool. Thanks for confirming.

[2017-12-12 10:22] Akasurde commented on #22713
@dsears Could you please re-try with latest or 2.4.2.0 version and let me know if it works for you ?

needs_info

[2017-12-12 10:28] stefanhorning commented on #33670
But thanks to your comments I got triggered to find another solution to this. As I was still using the old format for ~/.aws/ files (everythin in one file called `config`) as some older Ansible/boto versions needed that at the time of setting up my project, I figured I should maybe convert to the new format of seperate `config` and `credentials` files.

So I converted from a `~/./aws/congig` looki

[2017-12-12 10:31] Akasurde commented on #21573
@jylenhofgfi Thanks for reporting this issue. Could you please re-try with latest version Ansible and let me know it works for you ? Also, if not then could you please paste output of following command ?

[code]

needs_info

[2017-12-12 10:46] Akasurde commented on #24193
@drpuur Could you please retest this with latest Ansible verison and let me know if it works for you ?

needs_info

[2017-12-12 11:19] akcrisp commented on #14413
So my issue with all the examples I have seen is that it all relies on some random wait time before starting the poll to see if ssh port is available. Now given different hosts require differing amounts of time to shutdown processes depending on what it’s doing - it either means you have to set a long delay to catch the worst offender or you risk false positives.

The new wait_for_connection just

[2017-12-12 11:22] kizz1337 commented on #32032
@Akasurde,
Thanks for the advice. I've try to force the folder and use another that the default /vm. I've got the same error.

[2017-12-12 11:32] wknapik commented on #33306
Well, I wasn't fuzzing ansible. I ran into this in the course of regular usage.

I was debugging the conditions in a few tasks and figured I needed to simplify them to the point where I could be absolutely certain I understood what was going on and then build them back up towards what I wanted. That's how I ended up with a `when: []` condition. When I re-ran the tasks I was even more confused, bec

[2017-12-12 12:18] Akasurde commented on #32032
@kizz1337 What is the version Ansible you are using for this run ?

[2017-12-12 12:41] roumano commented on #31691
Bug confirmed for me,

Using this in group_vars env is not working :
[code]
But it's work is i use
[code]

[2017-12-12 13:00] riton commented on #33784
BTW, I've tested to remove all the subdirectories (`v1/*` and `common/*`) and switch to a flat files style all in one directory:
* `include_tasks: 'v1/install.yml'` is now `include_tasks: 'v1_install.yml'`
* `include_tasks: 'common/system_integration.yml'` is now `include_tasks: 'common_system_integration.yml'`

without modifying anything else.

This works like expected. The problem seems **really

[2017-12-12 13:14] tgates81 commented on #11837
I would also be interested in this. Things like /etc/sysconfig/network-scripts/ifcfg-* files would each be treated as a separate NIC devices if one wanted to use the current backup: yes. I would suggest create an additional variable to define the directory to store the backups so I could do something like backup_dir: /etc/sysconfig/network-scripts/backups/

[2017-12-12 13:21] alexppg opened #33811 "Add parameter to modify data point in ec2_metric_alarm"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_metric_alarm

##### ANSIBLE VERSION

[code]

##### SUMMARY

Some time ago, the creation of metric in AWS used periods, but now uses data points. This data points can be configured through the AWS interface, but not throught the ec2_metric_alarm module.

What I mean, more visually, is this. Before, the interface looked like this:

![](http:

[2017-12-12 13:37] roumano opened #33815 "shell module ignores the proxy environment"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
The shell module is ignoring  proxy environment
I'm working on some server with limited internet connexion (need to use proxy settings)

On some module, i need to set environment otherwise i get a timeout.
It's a main issue for me as i don't want to have duplication code and/or specific code for limited internet machine (just need to specifigy

[2017-12-12 13:45] akamac commented on #17268
As a workaround one can re-write:

`with_items: "{{ groups['all'] | select('match', pattern) | list }}"`

transforming the pattern to python regex first.

[2017-12-12 14:12] markocelan opened #33816 "Cloudflare module doesn't update CNAME"
Current code doesn't work as expected:
https://github.com/ansible/ansible/blob/10cd2cd1b787bff544acb52ff3ecabfa41119318/lib/ansible/modules/net_tools/cloudflare_dns.py#L578

It should be:
if (**params['type']** == 'CNAME') and (cur_record['content'] != new_record['content']):

[2017-12-12 14:30] jbscare commented on #17268
You can't do that programmatically, though, can you?

I ask because my use case uses the pattern both in a 'hosts' line and also later in a with_inventory_hostnames:

[code]

I suppose we could pass in two separate patterns, and hope really hard that they end up being identical, but that seems very non-ideal.

[2017-12-12 15:07] s-hertel commented on #33670
@stefanhorning I'm able to reproduce success on 2.3 with your clarifications - if you don't mind I'll reopen this until it is fixed. To answer your question about `Why does Ansible interfere with the parsing of the .boto file and not simply let boto do it's job as per boto documentation?` - it should do less of that, but some modules use boto, some modules use boto3, some modules use both... and t

[2017-12-12 15:20] sivel commented on #33815
I believe this is a slight misunderstanding.  There is no special treatment of a variable named `environment` within `host_vars`/`group_vars`/etc...

`environment` is a keyword on a `play`/`role`/`block`/`task` and must be supplied explicitly there.

You could however use something like:

[code]

Which would be placed on any task requiring custom environment variables.  That would allow it to be d

[2017-12-12 15:20] #33815 closed, assigned to nobody

[2017-12-12 15:32] mmolinac commented on #33669
Thank you very much, @robinro !
In the meantime, I was using the same workaround that @andreaso suggested, using a 'creates' clause.

[2017-12-12 15:34] xosofox opened #33818 "Enumerate possible values for "use" in the service module"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
service_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
`use` does not list choices

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
list of possible choices

##### ACTUAL RESULTS
cell is empty

[2017-12-12 15:37] gundalow commented on #32980
Fix in flight, reviews welcome https://github.com/ansible/ansible/pull/33791

[2017-12-12 15:38] spylightadmin opened #33819 "ansible_module_azure_rm_networkinterface.py has some problem during creation"
##### ISSUE TYPE
 - Bug Report
Ansible azure module cannot create network interface.

##### COMPONENT NAME
azure/azure_rm_networkinterface.py

##### ANSIBLE VERSION
[code]
##### CONFIGURATION

##### OS / ENVIRONMENT
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial

##### SUMMARY
When playbook try to create a network interface it will raise an exception, like t

[2017-12-12 15:40] sivel commented on #33818
I'm not sure how to handle this. I don't think hard coding is the right way to go, but the only real feasible way to achieve this I think.  Unless we move all service modules into a subdir and link to that category module list.

[2017-12-12 15:41] alikins commented on #33761
@lowjoel Not a problem it wasn't your fault. The stdout output from ansible in that case has the embedded "\n"'s which looks weird everywhere and I find hard to read so I fix it sometimes ;->

[2017-12-12 15:43] alikins commented on #33724
@ag0r Sounds reasonable to me.

Was just curious if there was something that needed something specific to running with the 'bash -c' (like bashrc config setting up paths or exporting env vars etc)

[2017-12-12 15:44] ajacocks commented on #32767
@cmock @oboukili I confirm that the `subject_alt_name_critical: true` was the problem that was blocking me.

Any thoughts on the module output?

[2017-12-12 15:50] wknapik commented on #32911
Hi @flaper87. It's been 3 weeks. Have you taken a look at this ? It's the most significant open issue against the helm module and a blocker for some, if not most users.

[2017-12-12 15:52] xosofox commented on #33818
If the "whole" list is impossible, at least some pointers might help.
I'm not even sure how to "guess" a possible value... is it "init"? Or "init.d"?

At least an example might be helpful on how to force "/etc/init.d/<service> restart" or something similar - I'd gladly provide a pull request if I had a clue on how to use it at all

[2017-12-12 16:05] alikins commented on #33724
@ag0r

Cool, figured as much but just wanted to verify that wasnt being introduced unexpectedly by something external (like the remote users shell changing $HOME or whatnot...)

[2017-12-12 16:11] andrewsomething commented on #33147
I was running into this issue myself, and was able to track down the problem. DigitalOcean Spaces does not support currently support the `x-amz-server-side​-encryption` header. Ansible is setting this by default. Adding `encrypt: false` to the put task allows it to proceed as expected.

Here is a full working example of creating a bucket, uploading a file to it, and then listing its contents:

[co

[2017-12-12 16:11] xosofox commented on #33818
Ok, I'm starting to understand. Thanks for adding the choices...

However, looks like my initial problem cannot be solved with this one... I'm trying to configure and restart munin which cannot be restarted via `service`(see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=837788) but only "real" old school `/etc/init.d/munin restart` - which actually is not an option for `use`

[2017-12-12 16:15] sivel commented on #33818
Yes, with systemd, the `service` module will still attempt to interact with systemd.  You will have to use the `command` module if you need to interact with an init script currently on a system using systemd.

[2017-12-12 16:17] #33818 closed, assigned to nobody

[2017-12-12 16:19] dagwieers commented on #14413
@akcrisp And the problem with your implementation is that it fails for anything but the simple direct-connection use-case. The **wait_for_connection** module used to do this as well, but it fails for ssh_proxy, or other proxied transport connections, so we had to remove it.

[2017-12-12 16:21] alikins commented on #33724
Possibly related to https://github.com/ansible/ansible/issues/33724

[2017-12-12 16:24] 1NoOne1 commented on #33602
It's working now as expected.
If my python < 2.7.9, then I get the error message.
and then If I follow the instructions mentioned in the error message (validate_certs: false), it creates the needed objects in the vCenter accordingly.

shipit!! Please.

[2017-12-12 16:32] #33602 closed, assigned to Akasurde

[2017-12-12 16:33] Akasurde commented on #33602
@1NoOne1 Merged. Thanks for testing this patch.

[2017-12-12 16:35] alikins commented on #22203
See also #31022

[2017-12-12 16:47] alikins commented on #21562
See also #31022

[2017-12-12 16:47] alikins commented on #26808
See also #31022

[2017-12-12 16:51] jmighion commented on #33414
I believe the prompt is still the issue. Looking at the regexes for the prompts in aruba's terminal plugin : https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/terminal/aruba.py#L32

The first one will only work if there are parens with something inbetween, the 2nd is to handle some password prompts for specific commands, and the 3rd would only detect `devicename #` if the positive

[2017-12-12 16:51] slashbeast commented on #33745
I found the root cause.

Ansible split the `lsattr -vd` output by single space, and look at how my output looks:

[code]
There are two spaces in output for /etc/resolv.conf, so the `def get_file_attributes` from `basic.py` goes with `res = out.split(' ')[0:2]` and does take in fact empty element after split as flags, instead of real flags.

[2017-12-12 16:52] #33270 closed, assigned to nobody

[2017-12-12 16:59] akcrisp commented on #14413
Agreed but not clear how you fix this without ? A none deterministic  finger in the air random delay ?

Sent from my iPhone

[2017-12-12 17:03] roumano commented on #33815
I don't want to change all my roles & tasks to set a proxy variable
how i can set  proxy configuration on some server but not on other ?

[2017-12-12 17:10] sivel commented on #33815
My last comment addressed your question.

[2017-12-12 17:15] wknapik opened #33827 "Conditionally registered variables are considered defined, even when the condition is false"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]
2.5.0.34308.807bebaa1f-1

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Conditionally registered variables are always considered defined, which, among other things, trips up the `default()` filter.

##### STEPS TO REPRODUCE
[code]
The messa

[2017-12-12 17:24] wknapik commented on #33827
I (now) know this is the difference between `is defined` and `is skipped`, but the end result is that the variable holds no usable value. It would be nice if `default()` handled both cases, or if a new filter was introduced, that does.

[2017-12-12 17:28] paulbovbel commented on #18881
Would any of the outlined options enable the `lxd` connection plugin to work with users other than root?

[2017-12-12 17:29] sivel commented on #33827
This is not a bug and is expected, very specifically, so that you can test whether that task was skipped using `foo is skipped`.

`default` is a core filter of jinja, and I don't see us overriding or replacing it with our own.  You are likely to be well served using the `ternary` filter.

Something like:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ans

[2017-12-12 17:29] #33827 closed, assigned to nobody

[2017-12-12 17:36] candlerb commented on #18881
As far as I'm aware, the lxd connection plugin does not require being root.  If you are running ansible as a normal user, then you need to run "lxc remote add ..." as that user, which will create the necessary key and cert in `~/.config/lxc/` - and you'll be prompted for the password needed to establish the relationship.

However, when you then connect to the remote container, you will be running

[2017-12-12 17:42] paulbovbel commented on #18881
I was referring to the container. A `become` makes sense, thank you.

[2017-12-12 17:52] #33584 closed, assigned to maxamillion

[2017-12-12 18:01] #33433 closed, assigned to nobody

[2017-12-12 18:11] krazik commented on #28991
temp fix for problem is to just run apt update via shell

[code]

[2017-12-12 18:44] valentin-krasontovitsch opened #33831 "Supplying vault password file on command line doesn't override config file"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

CLI

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_VAULT_PASSWORD_FILE(/Users/valkra/code/ansible-config/ansible.cfg) = /Users/valkra/code/ansible-config/$VAULT_PASSWORD_FILE
##### OS / ENVIRONMENT

N/A
##### SUMMARY

When setting the path to a vault password file in the config file using a variable, e.g. with
[code]
and trying t

[2017-12-12 18:52] regosse commented on #32822
We're having a very similar issue with one Linux server, even after a reboot. An adhoc command from Ansible Tower works fine on the server, just not when running the Playbook. Ansible 2.3.1.

[2017-12-12 19:42] jfbibeau commented on #31477
This is pretty much making Ansible 2.4 unusable for us. Confirmed that the resultset contains `dest` when copy task is changed, but contains `path` when the copy task is unchanged (ie: file already exists).

Example when file was copied:
[code]

Example when running the same task a 2nd time, this time with the file:

[code]

[2017-12-12 19:58] AndiDog commented on #20867
This is not actually an issue with `all_instances: True`, but also happens for False, since the dynamic inventory script is totally unrelated to the ec2 module.

The root cause is this:
https://github.com/ansible/ansible/blob/5e24f5c701e9fcedc64482e9adcee2ab7387f1a1/lib/ansible/modules/cloud/amazon/ec2.py#L1455

The module simply does not filter by instance state and therefore wrongly considers st

[2017-12-12 20:04] kikicarbonell opened #33832 "mongodb_user module is not idempotent?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

mongodb_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

- CentOS 7
- Oracle Linux 7

##### SUMMARY

I'm using mongodb_user module in my playbook to create admin user. The first execution is fine but when re-app

[2017-12-12 20:14] jfbibeau commented on #31477
Looks like when the file needs to be copied, the `copy` action is the one that is fired.

However when the file checksum is the same, the `file` action is the one that is fired (to do any permission changes that are needed).

The `file` module seems to accept/return only `path` (which it says is an alias to `dest`), whereas the `copy` module seems to accept/return `dest` only.

I still don't see e

[2017-12-12 20:19] LukeShortCloud opened #33834 "Add os_stack_facts module for OpenStack"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
os_stack_facts (OpenStack module)

##### ANSIBLE VERSION
2.5

##### SUMMARY
There should be a os_stack_facts module to list details about a Heat stack deployed on a OpenStack cloud. Currently there is only a "os_stack" module for creating and deleting Heat stacks. There is no way to view existing resources using Ansible without using the "shel

[2017-12-12 20:54] TheFriendlyCoder opened #33835 "Named 'blocks' in Ansible don't seem to be working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

task blocks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/Users/kevinp/Documents/src/cm/ansible/ansible.cfg) = True
DEFAULT_HOST_LIST(/Users/kevinp/Documents/src/cm/ansible/ansible.cfg) = [u'/Users/kevinp/Documents/src/cm/ansible/hosts.py']
DEFAULT_TIMEOUT(/Users/kevinp/Documents/src/cm/ansible/ansible.cfg) = 30

###

[2017-12-12 21:28] sivel commented on #33831
The problem comes from:

[code]

I'm not convinced this should be an error.  I'm thinking it should probably be a warning instead.

Maybe something like the following instead:  https://gist.github.com/sivel/d33918148e29015446259f49b8a854ba

cc @alikins

[2017-12-12 21:38] jsumners opened #33837 "firewalld: "enabled: yes" should be supported"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
firewalld

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS

##### SUMMARY
To enable firewalld rules you have to specify "state: enabled". This is incongruous with the service module which requires "enabled: yes". I would *really* like to see the firewalld module be consistent with the service module.

[2017-12-12 21:41] christina-andonov commented on #33467
Yes.

[2017-12-12 21:59] sivel commented on #33786
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-12 21:59] #33786 closed, assigned to nobody

[2017-12-12 22:00] fff7d1bc opened #33838 "file/copy: `attributes` should support + and - modifiers"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

##### COMPONENT NAME
- file.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
None

##### OS / ENVIRONMENT
Gentoo

##### SUMMARY
Currently, the `attributes` parameter on `file` and `copy` modules is absolute, meaning one needs to set exact flags and there's no support to add single flage without touching others. It would be good to support for e

[2017-12-12 22:34] sivel commented on #33430
Thank you very much for reaching out to us for this issue.  We do not have current plans to include `winrm` and it's associated dependencies as hard dependencies of ansible at this time.

You may want to reach out to your support contacts for Red Hat Ansible Engine at https://access.redhat.com/products/red-hat-ansible-engine to discuss options.

If you have further questions please stop by IRC or

[2017-12-12 22:34] #33430 closed, assigned to nobody

[2017-12-12 23:14] trondhindenes opened #33840 "Ansible dynamic inventory lookups using '--host' are inefficient"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
inventory

##### ANSIBLE VERSION
[code]

##### SUMMARY
Ansible dynamic inventories can optionally use the `--list` and `--host` mode. It was my hope to use this to only download the necessary parts of the inventory - for example if `ansible-playbook site.yml --limit host1` is used, I'd like ansible to only run the inventory script twice, first w

[2017-12-12 23:29] #17187 closed, assigned to jborean93

[2017-12-12 23:47] alecbz opened #33841 "Support writing AWS IAM policy files in YAML"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
iam_policy

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

A `policy_document_yaml` option should be added to the iam_policy modules that works like the existing `policy_document`, only it converts the YAML file to JSON first.

This would be nice because YAML is better suited to be a configuration l

[2017-12-13 00:15] ocervell commented on #4870
I started doing application / system administration from ansible using tags, and this would be a killer feature to monitor app / sys logs.
@nethershaw  I'm willing to help on this, I don't know much about ansible code but I do know how to do this with Fabric that uses paramiko as well.

[2017-12-13 00:48] abadger commented on #33745
Cool.  Let me try to work up a fix.

[2017-12-13 00:48] pilou- commented on #32967
@cazorla19 the bot [removed](https://github.com/ansible/ansible/issues/32967#event-1345011336) both labels but `needs info` was added again because you used it in your [comment](https://github.com/ansible/ansible/issues/32967#issuecomment-349262467). You should either edit this comment or add another comment containing `!needs_info`.

[2017-12-13 00:58] abadger commented on #33745
@slashbeast Thanks for the great work on diagnosing the root cause.  Let me know if that PR fixes things.  I'll get bcoca to review it if he thinks it's good, it'll be merged soon.

[2017-12-13 01:20] abadger commented on #31087
It's expected that inventory_dir is undefined in some circumstances (using add_host and implicit localhost).  Please read the explanation of why and workarounds here: https://github.com/ansible/ansible/issues/30901#issuecomment-334530854

If you are encountering an undefined inventory_dir for a different reason, please open a new bug so that the relevant people will see it and we can either fix it

[2017-12-13 02:28] durellw opened #33843 "google/gce: Add option to create and configure multiple network interfaces when creating a new host"
##### ISSUE TYPE

  - Feature Idea

##### COMPONENT NAME
[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7
##### SUMMARY

Unable to create an instance with more than one network interface.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-12-13 02:36] Akasurde commented on #32940
@CodaAmok @thisaaronm Could you please retry using `force_apt_get: True` ?

[code]

[2017-12-13 03:38] trishnaguha commented on #33686
resolved_by_pr https://github.com/ansible/ansible/pull/31866

[2017-12-13 06:21] jborean93 commented on #33178
@EliMutchnik are you able to try the latest devel again, an issue was found with the code and I am hoping it has fixed your issue. The PR for this was here https://github.com/ansible/ansible/pull/33777

[2017-12-13 06:34] #33197 closed, assigned to nobody

[2017-12-13 06:34] jborean93 commented on #33197
Docs for the recurse option were clarified in https://github.com/ansible/ansible/pull/33846

[2017-12-13 06:37] #33771 closed, assigned to nobody

[2017-12-13 06:47] flaper87 commented on #32911
@wknapik working on this module is not my full-time job, you will have to be a bit patient for things to be implemented. I'm happy to review patches if you would feel like contributing to the module.

Thanks a lot for providing feedback and being on top of these issues :cake: :+1:

[2017-12-13 06:56] jborean93 commented on #33467
So the part that is failing is when it runs `Get-ADGroup -Identitiy "group"`. Are you able to try and run this with win_shell and post your results
[code]

You can change `{{ dns_domain_name}}` with the value of your DC and let me know how that goes.

[2017-12-13 06:57] charliejllewellyn commented on #26195
We are in the process of building an Azure Stack and this is very applicable as I am having to change all the API versions to get it to work. It looks like the cli took the root of creating a profile with the correct versions of the API's to support Azure Stack.

https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-connect-cli
[code]
This appears to override the default latest endpo

[2017-12-13 07:51] Tronde commented on #11498
Was this issue closed by accident? @gundalow posted on [25 May](https://github.com/ansible/ansible/issues/11498#issuecomment-304034585) that this issue needs to stay open until the other otptions from the [initial posting](https://github.com/ansible/ansible/issues/11498#issue-93234727) are implemented, too.

[2017-12-13 08:08] Tronde commented on #29613
Hi,
In the comment from [Sep. 11th](https://github.com/ansible/ansible/issues/29613#issuecomment-328599802) was asked for some examples from the commands needed. I would like to suggest to add the following commands to the yum module:

[code]

Today I run a [RHEL-Patchmanagement](https://github.com/Tronde/ansible-role-rhel-patchmanagement) using the [command module](http://docs.ansible.com/ansible

[2017-12-13 08:15] remigius42 commented on #18417
Hi @ag-wood , I hope I am not necro-bumping this issue, but I just experienced the same problem. Based on the roles of @andrewrothstein , using ```{{role_path}}/vars``` like in [ansible-bash/blob/master/tasks/main.yml](https://github.com/andrewrothstein/ansible-bash/blob/master/tasks/main.yml) did work in my case.

Hope this helps and best regards
Andreas

[2017-12-13 08:17] drpuur commented on #24193
@Akasurde It works with the version in RHEL7: ansible-2.4.0.0-5.el7.noarch

[2017-12-13 08:20] Akasurde commented on #24193
@drpuur Cool. Thanks for update. I will close this issue then. If you feel problem persists then please re-open this issue again.

[2017-12-13 08:20] #24193 closed, assigned to nobody

[2017-12-13 08:32] djasa opened #33852 "Move setting cluster network roles from ovirt_networks module to ovirt_cluster module?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

modules: ovirt_networks, ovirt_cluster

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
Cluster network roles would be better set up by ovirt_cluster module to avoid duplication and errors

##### LONG DESCRIPTION
when typing my existing RHV setup to ansible, I was wondering why are cluster network

[2017-12-13 08:34] gufogio commented on #33699
On my linux pc this fails only using python3 with pipelining enabled. Setting transport = paramiko, disabling pipelining, or using python3 solves the issue.

[2017-12-13 08:36] kizz1337 commented on #32032
@Akasurde : Latest from the git repo :
[code]

[2017-12-13 08:47] jborean93 commented on #32850
Ok this isn't an issue because you are sending 2 JSON values as arguments but rather the size of the data. This is definitely an issue we need to fix and I've got a temp one that works but need to investigate potentially a better way of doing it.

[2017-12-13 09:12] dagwieers opened #33853 "Lookup plugins documentation uses old with_ syntax"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
lookup plugins

##### ANSIBLE VERSION
v2.5

##### SUMMARY
So I just discovered that all the examples for the lookup plugins are still using the **with_** construction. We need to change the documentation to use the new **loop**-mechanism before releasing v2.5.

Even when this mechanism will still work and not provide a deprecation warn

[2017-12-13 09:15] lemmy04 commented on #13175
lemmy@akari:~> ansible --version
ansible 2.4.2.0
  config file = /users/lemmy/.ansible.cfg
  configured module search path = [u'/users/lemmy/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.13 (default, Jan 03 2017, 17:41:54) [GCC]

[2017-12-13 09:18] jborean93 commented on #32850
@lorenzmeyer77 I've got a fix for this issue in this PR https://github.com/ansible/ansible/pull/33855. It would be good if you could test this when you get some time.

[2017-12-13 09:21] machacekondra commented on #33852
I agree with your suggestion. Most of entities in oVirt can be managed from more sides, and sometimes it can be better to manage it from one side and other time from the other side.

[2017-12-13 09:24] mkrizek commented on #32454
@gintautassulskus it seems this was fixed in version `2.4.2`. Can you try with that version if that fixes your issue? Thanks!

needs_info

[2017-12-13 09:28] smurfix opened #33856 "ini_file: Support multiple option=value pairs"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ini_file

##### ANSIBLE VERSION

2.4

##### SUMMARY

The ini_file module is nice for updating single entries but very slow when inserting a whole section. This is especially important when the system may reboot for no good reason and the program analysing the .ini file dies or severely misbehaves when a section is incomplete.

Thus I propose

[2017-12-13 09:28] aur1mas commented on #22562
for me problem was mixing _become_ & _sudo_ (`sudo: yes`) in my configs. Converted all _sudo_ to _become_ (`become: true`) & it fixed issue.

[2017-12-13 09:33] chris7444 commented on #32000
well. Here is what happens when I run the following play **a second time** (1st time, the VM is created as expected)

[code]

full ansible.log at : [https://gist.github.com/chris7444/89c68c07fde6375b11e02377f6cb128d](url)

here the playbook
[code]

and here is the version of ansible
[code]

[2017-12-13 09:40] Tronde commented on #11498
This issue seems to be related to #29613.

[2017-12-13 09:42] jborean93 commented on #32673
This issue has been fixed with https://github.com/ansible/ansible/commit/23b1dbacaf8a20f7147de0f67f8d6c67de2142ef and will be released with 2.5. You no longer need to explicitly set `ansible_winrm_server_cert_validation` on the task or to a non Windows host for this to work. This fix also works with any other winrm connection variables that are defined here https://docs.ansible.com/ansible/devel/p

[2017-12-13 09:42] #32673 closed, assigned to nobody

[2017-12-13 09:47] roumano commented on #33815
On my main deployment file, I use 25 roles ( site.yml), so need to modify 25 times to add this ?

[2017-12-13 10:00] mkrizek commented on #33142
@Harosgr can you try with the latest `devel`? It looks like it's fixed there. Thanks!

@nerzhul since you're using default strategy it looks like it's a different issue, would you mind creating a separate github issue for that? Thanks!

needs_info

[2017-12-13 10:25] dannietjoh opened #33858 "win_lineinfile: windows paths have \r and \n stripped"
##### ISSUE TYPE
 Bug Report

##### COMPONENT NAME
win_lineinfile

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
this:
https://github.com/ansible/ansible/blob/e76e8aed902f44b71ec52dacc0d2a4e2ffe5bbd3/lib/ansible/modules/windows/win_lineinfile.ps1#L348

butchers any windows path and also makes regexes fail and destroys idempotency

##### STEPS TO REPRODUCE

[2017-12-13 10:38] cjdcordeiro opened #33861 "consul_io not able to run when servers from a different DC have left"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
consul_io
contrib/inventory/consul_io

##### OS / ENVIRONMENT
ansible/awx_task:latest

##### SUMMARY
in line 267 of consul_io.py, `index, nodes = self.consul_api.catalog.nodes(dc=datacenter)` will fail if there are "failed" or "left" servers over the wan.

There should be a try catch here to continue even if a DC is unreachable.

[2017-12-13 11:29] stroebitzer opened #33863 "docker_network fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
ansible-master: Linux gru 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u2 (2017-06-26) x86_64 GNU/Linux
ansible-minion (failing): Linux kevin 4.9.0-4-amd64 #1 SMP Debian 4.9.65-3 (2017-12-03) x86_64 GNU/Linux
ansible-minion (working): Linux stuart 4.7.0-0.bpo.

[2017-12-13 11:38] resmo opened #33864 "ansible-doc does not extend doc fragments"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-doc

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

NA

##### SUMMARY
ansible-doc does not show docs of doc fragments but shows e.g. for cs_vpc

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

full docs including docs in doc fragments

##### ACTUAL RESULTS

[code]

[2017-12-13 11:39] resmo commented on #33864
/cc @gundalow

[2017-12-13 12:27] maxgorovenko opened #33865 "Template create files by mv, fail ACL"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/Users/max/Projects/wrk/ansible-devops/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes
DEFAULT_CALLBACK_PLUGIN_PATH(/Users/max/Projects/wrk/ansible-devops/ansible.cfg) = [u'/Users/max/Projects/wrk/ansible-devops/library/plugins/callback']

[2017-12-13 12:42] gundalow commented on #33864
`2.3.3.0 (stable-2.3 d4ea3c6ca2)` works

[2017-12-13 12:46] lemmy04 commented on #13175
hm,... at least on openSUSE Leap 42.3 (using ansible 2.4.1) it looks as if this is a permission issue. ansible-galaxy search returns 401, but running it as root using sudo WORKS.

Weird.

[2017-12-13 12:54] chernomor commented on #33865
It seems module template via module copy put content to temporary file and then rename temporary file to destination. So default ACL rules does not apply to destination file as it created not in destination directory.

[2017-12-13 13:05] Akasurde commented on #32032
@kizz1337 That is strange actually. Could you please paste you playbook with variable and `-vvvv` output ?

[2017-12-13 13:05] jforman commented on #18721
Could I get an update on fixing this? It's been over a year and I'm still seeing the same hanging behavior on version 2.4:

jforman@desktop1:/tank/git/ansible-configs$ ansible-playbook --version
 12656 1513170264.63183: starting run
ansible-playbook 2.4.1.0
  config file = /tank/git/ansible-configs/ansible.cfg
  configured module search path = [u'/home/jforman/.ansible/plugins/modules', u'/usr/sha

[2017-12-13 13:11] mkrizek commented on #28878
@zaiyers @jmighion this seems to be fixed in the latest `devel`, can you try if that fixes your issue? Thanks!

needs_info

[2017-12-13 13:13] legnadegna commented on #33257
I am facing the same exact issue

[2017-12-13 13:14] nk9b commented on #33554
One other item I checked was the version of Python on the CentOS box. It was 2.7.5, and my Ubuntu instance is 2.7.11. I went through the exercise of installing 2.7.14 under CentOS, and, configuring Ansible to use this version as the interpreter. I didn't see any change in behavior. I suppose it's possible I didn't properly implement the alternative version of Python. I used pip to install Ansible,

[2017-12-13 13:23] jasminesource commented on #32454
@mkrizek , indeed, it does work.
Thanks very much!

[2017-12-13 13:23] gintautassulskus commented on #32454
@mkrizek , indeed, it does work.
Thanks very much!

[2017-12-13 13:24] #32454 closed, assigned to nobody

[2017-12-13 13:39] kizz1337 commented on #32032
I just relaunch the playbook :
[code]
- deploy-vms.yml
[code]
- roles/deploy-vmware-guest/tasks/main.yml
[code]
- group_vars/hosts_to_deploy.yml
[code]
- hosts_to_deploy
[code]

After research, it seem to block on the gather_facts function under wait_for_vm_ip, like as the 'newvm' wasn't populated.
[code]

[2017-12-13 13:45] TheFriendlyCoder commented on #33835
Updated bug report to fit the template.

[2017-12-13 13:50] OlegKorchagin commented on #17349
update 2. ssh also does not a problem cause....

colleague say he has not problem with aix and  ssh -t host 'uname', but on has he has a similar problem with 'sudo -s' and 'sudo su -' - randomly hangs....

i never have problem with sudo on remote aix. I use gnome, colleague use kde

so it looks like problem in environment or profile. I'll try to find it

[2017-12-13 13:56] mkrizek commented on #33058
@ymagriso sorry for the delay, I just noticed you're using version `2.3.1`, can you try running your playbook with `2.4.2` or latest `devel` to see if that changes anything, if possible? Thanks!

[2017-12-13 14:04] stroebitzer commented on #33863
upgrading ansible to
[code]
seems to have fixed the problem

[2017-12-13 14:05] mkrizek commented on #33058
@ymagriso also, can you try running the following:
[code]

and post the output here? Thanks!

needs_info

[2017-12-13 14:08] rafecolton commented on #33699
@gufogio this was a very common response on similar issues. Please note the details in the issue request: I am using python3 and have pipelining *disabled*.

[2017-12-13 14:08] gundalow commented on #33804
This might be VMware specific I was testing against rdu2 (VMware)
It may work on KVM

[2017-12-13 14:17] gundalow commented on #33678
Hi, thanks for the bug report
1) Does `junos_netconf` always work
2) Does `junos_netconf` always report OK(no change) or CHANGED?
We are wondering if there is an issue when netconf is getting enabled and it's taking a few seconds before it's up and running, though by that point we've already failed the following task.

[2017-12-13 14:22] djasa opened #33867 "ovirt_host_networks.py: netmask incorrectly converted to prefix causing ValueError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ovirt_host_networks.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Fedora 27 / N/A

##### SUMMARY

ovirt_host_networks.py: netmask incorrectly converted to prefix causing ValueError

##### STEPS TO REPRODUCE

1. run ovirt_host_networks against a host that has already networks up'n'running

[code]

##### EXPECTE

[2017-12-13 14:26] zaiyers commented on #28878
can't reproduce with newest devel. seems fixed.

thanks! :)

[2017-12-13 14:34] gundalow commented on #27903
Fixes merged into `devel` & `stable-2.4`

[2017-12-13 14:34] #27903 closed, assigned to gundalow

[2017-12-13 14:36] #32980 closed, assigned to ganeshrn

[2017-12-13 14:58] gundalow commented on #33816
@markocelan Would you like to raise a PR to fix this? Thanks in advance.

[2017-12-13 15:06] gundalow commented on #33863
@stroebitzer Thank you for confirming that `2.4.2.0` works. `2.3` will only be getting security updates now so I'll close this.

[2017-12-13 15:06] #33863 closed, assigned to nobody

[2017-12-13 15:11] gundalow commented on #33853
@bcoca Is this already on your list/tracked else where?

[2017-12-13 15:16] rpijlman commented on #33835
See @bcoca's comment in @33581

[2017-12-13 15:18] rpijlman commented on #33835
I guess what you want can be accomplished with an include_tasks task.

[2017-12-13 15:36] noseka1 commented on #33856
Thanks for the feature request.

I think that the "atomic" update of multiple ini options could be achieved this way:
1. Copy /tmp/test/ini to /tmp/test/ini_temp
2. Update the options in /tmp/test/ini_temp using the ini_file Ansible module (slow)
3. Move the /tmp/test/ini_temp back to /tmp/test/ini

The suggested feature would be much more convenient but perhaps people can use this method as a wor

[2017-12-13 15:38] walidshaari commented on #33414
when I login there is a multiline banner, and then devicename # prompt. will post an output tomorrow from work

[2017-12-13 15:50] gundalow commented on #25897
Partial fix in https://github.com/ansible/ansible/pull/33817 reviews welcome on that PR

[2017-12-13 15:52] georgberky opened #33871 "skeleton option of user module does not copy skeleton directory contents"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - module name:  user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing changed

##### OS / ENVIRONMENT

- host: OSX High Sierra all patches

remote machines using Vagrant:
- config.vm.box = "centos/7"
- config.vm.box = "geerlingguy/ubuntu1604"

##### SUMMARY
I tried to create a user via the user module and set the skeleton option to /e

[2017-12-13 16:01] herrderr opened #33873 "Insecure communication with NetApp backend systems through (at least the) na_cdot* modules"
##### ISSUE TYPE
 - Security Bug

##### COMPONENT NAME

lib/ansible/module_utils/netapp.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux

##### SUMMARY

Instead of by default doing TLS over port 443 with ZAPI it is hardcoded configured to HTTP with port 80 with the inability for users to migrate to a secure situation without hacking in the library.

####

[2017-12-13 16:02] sivel commented on #33257
Per the change implemented in https://github.com/pallets/jinja/pull/684

Your template can now look like:

[code]

This uses the new `namespace` object in jinja, to handle the increment.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-12-13 16:02] #33257 closed, assigned to nobody

[2017-12-13 16:10] MikeStankavich commented on #33417
I suspect that you're right that brew link would work if brew didn't block it from being linked :( And no, --force doesn't override that block.
[code]

As you say, this is kind of outside Ansible. I'm OK with continuing to use workarounds until I can upgrade my OS.

[2017-12-13 16:22] rafecolton opened #33875 "wait_for_connection fails if Python not installed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`wait_for_connection`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS configuring Ubuntu 16.04 LTS on Amazon EC2

##### SUMMARY

Ubuntu on EC2 ships without Python, so `wait_for_connection` fails even when machine is available for SSH because `wait_for_connection` tries to use the Python `ping` module

[2017-12-13 16:27] #28878 closed, assigned to nobody

[2017-12-13 16:29] sivel commented on #33871
I cannot duplicate this.  I tested on centos 7.4 with the provided task.

[code]

[code]

needs_info

[2017-12-13 16:34] sivel commented on #33875
This is the expected behavior.  The module specifically states:

The purpose of the module is making sure the remote host is "usable" by ansible.

If you just want to test port readiness, look into the `wait_for` module instead.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/a

[2017-12-13 16:34] #33875 closed, assigned to nobody

[2017-12-13 16:50] pilou- opened #33877 "YAML inventory: ungrouped group isn't populated"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/yaml.py

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using YAML inventory, [`ungrouped` default group](http://docs.ansible.com/ansible/devel/intro_inventory.html#default-groups) is never populated.

##### STEPS TO REPRODUCE

`hosts.yaml`:
[code]

##### EXPECTED RESULTS
[code]

[code]

[2017-12-13 17:00] rmacian opened #33879 "ERROR! 'ascii' codec can't decode byte 0xc3 in position when using callback plugin with vault"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Callback plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[defaults]
stdout_callback = debug

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When I use the callback plugin in conjunction with special characters and vault I get a
ERROR! 'ascii' codec can't decode byte 0xc3 in position 54: ordinal not in range(128)

##### STEPS TO REPRODUCE

[2017-12-13 17:01] cjroebuck commented on #31145
@iteratelance Did you fix this, im running into same issue with apt permissions using packer build.

[2017-12-13 17:02] lmazuel commented on #26195
@charliejllewellyn Since a few days, compute/network/storage supports the notion of profile, see the default profile in compute for example:

https://github.com/Azure/azure-sdk-for-python/blob/ad989514d5e96ec975efc7ef66734f4dd220e990/azure-mgmt-compute/azure/mgmt/compute/compute_management_client.py#L80-L86

The CLI is already using this new ability of Profile for Compute.

Recommended syntax is t

[2017-12-13 17:09] smurfix commented on #33856
Correct. However, the "slow" part is somewhat exacerbated with this method since you now need two more Ansible transactions. :-P

[2017-12-13 17:10] #20870 closed, assigned to nobody

[2017-12-13 17:43] MichalTaratuta commented on #25179
+1

[2017-12-13 17:43] alikins commented on #33803
AFAICT, that is intentional with the goal being to get a reasonable guess at the ip that will be used for outgoing  general internet traffic. That guess is sometimes wrong. The name 'default_ipv4' is also somewhat misleading.

But it is intentionally trying to avoid ending up with 127.0.0.1 as the default_ipv4.

If the ip address of the 0.0.0.0 route is useful, that may be a candidate for adding a

[2017-12-13 17:50] rafecolton commented on #33875
Does `wait_for` work for machines behind a bastion host?

On Wed, Dec 13, 2017 at 11:35 AM Matt Martz <notifications@github.com>
wrote:

--

*Rafe Colton*
Creative Services | *Himalayan Institute*
Office | (570) 253-5551 x54
Email | rcolton@himalayaninstitute.org
Learn More | HimalayanInstitute.org/membership
<https://www.himalayaninstitute.org/membership>

[2017-12-13 18:05] jmarcos-cano commented on #27520
Also it appears that `meta: reset_connection` is picking a control_path but it is definitely not respecting the remote_host control_path.

ansible.cfg:
[code]

using a simple playbook

[code]

indeed the control files are there:

[code]

**however**  meta_reset connection is looking for:

[code]

[2017-12-13 18:46] Apteryks commented on #14426
In my case, it was a real problem (not a bug) on my server where DNS would not resolve. sudo apparently uses DNS to resolve the hostname of the machine, and if this fails, it will timeout. I fixed it by correcting the DNS entry in my /etc/resolv.conf.

[2017-12-13 19:05] resmo commented on #28996
close_me I won't implement but probably consider it later on

[2017-12-13 19:06] abteenz commented on #15321
connection: local in the playbook fixed my problem

[2017-12-13 19:12] #28996 closed, assigned to nobody

[2017-12-13 19:13] alikins commented on #22257
Resolved by #32040

[2017-12-13 19:14] #22257 closed, assigned to nobody

[2017-12-13 19:14] #29547 closed, assigned to nobody

[2017-12-13 19:31] thisaaronm commented on #32940
@Akasurde that did it! I assume forcing apt-get is good since these servers (I'm pretty sure...) don't have Aptitude installed on them. I'll have to check. Buuuuuut...any reason why the following works:

[code]
Note that not all of them include ```force_apt_get: True```

[2017-12-13 19:57] thaumos commented on #33840
hi, @trondhindenes,

first, we do support "prefiltering"

the inventory cache that we're working on should alleviate some of this concern. once it's cached either using list or calling out a host specifically; it's there ready to use!

so instead of a two step process like you listed above, just call out the host directly and it's in cache.

[2017-12-13 20:11] bcoca commented on #33840
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-13 20:11] #33840 closed, assigned to nobody

[2017-12-13 20:14] kikicarbonell commented on #33832
Note: The problem not exist with Ansible version 1.9.4

[2017-12-13 20:19] bcoca commented on #33864
probably fixed in  #31677

[2017-12-13 20:22] defo89 opened #33886 "ACI Aci"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-12-13 20:22] defo89 opened #33887 "ACI provider support"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

aci_tenant

##### ANSIBLE VERSION

[code]

##### SUMMARY

I was wondering whether there is a consideration or development in progress to add provider support for Cisco ACI modules, like in [IOS modules](http://docs.ansible.com/ansible/latest/ios_facts_module.html)

[2017-12-13 20:28] gundalow commented on #33864
#31677 includes feature work, so are we happy having this broken in 2.4?

[2017-12-13 21:27] bmess commented on #33021
@wimnat is there an existing issue tracking the rewrite? I can't find it within the tracker

[2017-12-13 21:30] resmo commented on #33864
I confirm, #31677 fixes the issue.

[2017-12-13 21:31] #28487 closed, assigned to nobody

[2017-12-13 21:32] mkrizek commented on #31569
duplicate_of 25412

[2017-12-13 21:41] #31569 closed, assigned to nobody

[2017-12-13 21:46] mkrizek commented on #25412
Workaround mentioned in a duplicate issue https://github.com/ansible/ansible/issues/31569.

[2017-12-13 21:54] Qalthos commented on #33804
I was all kinds of wrong about that. I had fixed a similar issue on eos (#33015), so I fixed this one too

[2017-12-13 22:25] lbenezriravin commented on #33464
bot_status

[2017-12-13 22:25] xchusong opened #33891 "ovirt_vms Console settings"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
ovirt_vms

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
CentOS 7.4 x86_64

##### SUMMARY
The ovirt_vms module does not copy or generate via VmsModule.build_entity() serial console settings when creating a VM via a template or from the default blank template, nor does it provide a way to set this value.

S

[2017-12-13 22:29] #33877 closed, assigned to nobody

[2017-12-13 22:43] bcoca commented on #33853
i have several generic doc tasks in which this was include, but fine in having specific ticket to track it

my plan was to also add filters for the 'transform lookups' to use as alternatives  i.e #33102

[2017-12-13 22:48] bdowling opened #33893 "Recommended improvements to debug/verbose logging"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

display

##### ANSIBLE VERSION

[code]

##### SUMMARY

The display() module is fairly rudimentary in the logging capabilities.  As ansible has grown it has become somewhat littered with debug statements, while many are useful, often times it is overkill to see all of it.  Filtering messages with grep, etc works for limited messages, but you

[2017-12-13 22:57] #33747 closed, assigned to nobody

[2017-12-13 23:37] dagwieers commented on #28994
Since we did not get any feedback, I am closing this issue. Feel free to report back in case you still have issues.

[2017-12-13 23:37] #28994 closed, assigned to dagwieers

[2017-12-13 23:38] spencerwjensen commented on #12353
I would have to disagree with @bbaassssiiee. while you are correct that this option would primarily be used by maintainers/tool smiths, Many of them will likely (and hopefully do) have automation in place as part of their validation flow. using tools like Ansible Tower/AWX which supports the requirements.yml convention, but doesn't allow you to modify the command that is executed to download the r

[2017-12-13 23:39] bcoca commented on #33835
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated. See the #33581 ticket for an explanation.

In the future, this might be a topic more well suited for the user list, which you can also p

[2017-12-13 23:39] #33835 closed, assigned to nobody

[2017-12-14 00:22] bcoca commented on #33818
actually, systemd is supposed to be able to handle init scripts when the service file is missing

[2017-12-14 02:05] Akasurde commented on #32032
@kizz1337 Ah!! You are using folder as relative path. You need to specify absolute path of virtual machine as FindInventoryByPath uses absolute path to find a vm. This API is directly used in get_vm() call.
You will need to modify your folder path to something like `/DATACENTER_NAME/vm/FOLDER_NAME` where DATACENTER_NAME is your datacenter and FOLDER_NAME is any nested folder under /vm

Let me know

[2017-12-14 06:03] yuwzho commented on #33819
This is also effect the vm module. We will look into this issue ASAP

[2017-12-14 06:32] ShiviArora opened #33896 "Unable to copy file from src(Linux) to target(Windows)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Unable to copy file from linux src to windows target:-

---------------
TASK [Copy NetBackup Client] *************************************************************************************************************************************************

[2017-12-14 06:55] excalq commented on #11316
I just came to this thread due to making the same "user error", which @bennojoy described the cause of very succinctly. Finding this to be a highly "non-obvious" situation, it'd be great to have reference to this, at least in the examples of the ec2 module documentation, as `with_items` is going to be a very common pattern managing systems in set availability zones.

[2017-12-14 07:23] bkshna commented on #21594
It is working for me when I use ansible_shell_executable inventory parameter.

[2017-12-14 08:03] Vladimir-csp commented on #33803
That would be great. Although, naming is really misleading.

A host that has specific routes for some large chunks of public address space, geographically based for example. 8.8.8.8 might be exempt from default route in that case, and the value of default_ipv4 as in the go-to addressing not covered by any specific routing is lost.

[2017-12-14 08:11] cjdcordeiro opened #33898 "consul_io marks nodes erratically"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
contrib/inventory/consul_io

##### SUMMARY
if there is a Consul check passing, and the respective node goes down, that check will still be passing until that node is automatically removed from the cluster (Consul's timeout for this is usually 72 hours by default). During that time, this inventory will still find that node and assume it is alive

[2017-12-14 08:13] itsuri commented on #29449
A. I am not using virtualenv
B. I removed all python2 boto*
C. I updated all pip boto* to
boto (2.48.0)
boto3 (1.4.8)
botocore (1.8.12)

Problem persists:
....
  File "/usr/lib/python3.5/json/__init__.py", line 312, in loads
    s.__class__.__name__))
TypeError: the JSON object must be str, not 'bytes'
:-(

[2017-12-14 08:15] yungez opened #33900 "plugin-docs cannot get suboption of option"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-utils

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-12-14 08:17] ganeshrn commented on #33678
@alvarezluciano To confirm on what @gundalow mentioned in above comment can you please add a delay after the first task that enables netconf on the remote host and before the second task that uses netconf transport to connect to the remote device.

Delay can be added by using below task
[code]
This might be a latency issue with Netconf server taking time to come up.

needs_info

[2017-12-14 08:19] jborean93 commented on #33896
Are you able to try out the latest beta for pywinrm which presents some better error messages than the generic 500. Details for this are here https://groups.google.com/forum/m/#!topic/ansible-project/2ywJphGNNJs

[2017-12-14 08:20] tsailiming commented on #20027
I tested this with

[code]
, and `win_copy` will always copy the file over.

[2017-12-14 08:26] sparsick commented on #33871
If I run following playbook script
[code]
I get the following error message by Ansible

[code]
So I adjusted the playbook with an additional step:
[code]
Then Ansible runs successfully, but the content of `/etc/skel` isn't copied to `/data/jenkins`.

[2017-12-14 09:20] yuwzho commented on #33819
@ZhijunZhao Seems you have already fixed this issue in a previous pull request. Please have a check whether your PR apply to this issue.

[2017-12-14 09:28] shenberg commented on #19720
@bcoca erm but 4 is actually mapped twice: tqm returns 4 on unreachable hosts, while `bin/ansible` [returns 4 on `AnsibleParseError`](https://github.com/ansible/ansible/blob/f8e3cfe9e25d889f15aae4d779b12853aa50e9f7/bin/ansible#L115)

[2017-12-14 09:30] rdxmb commented on #29507
same here with ansible 2.4.2.0

[2017-12-14 09:33] Akasurde commented on #33764
needs_info

[2017-12-14 09:33] LiginGeorge opened #33903 "VMware: assigning ip and other variables"
##### ISSUE TYPE

  - Feature Idea
##### COMPONENT NAME

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Redhat 7. 2 OS.
##### SUMMARY

1. i would like to provision VM from template with new IP/hostname/datastore/network label and son..
i am able to provision VM from template, but IP assigning/data store renaming all needs to do manually.
how do i can automate all in a single play book.
#####

[2017-12-14 09:34] alonsocamaro commented on #31640
+1 for this request

[2017-12-14 09:40] alonsocamaro opened #33905 "Openstack trunk module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

os_trunk_module (proposed)

##### ANSIBLE VERSION

current version

##### OS / ENVIRONMENT

Openstack Newton and higher

##### SUMMARY

Since Openstack Newton it is possible to create trunk interfaces. See https://wiki.openstack.org/wiki/Neutron/TrunkPort

There is no Ansible module for this

[2017-12-14 09:54] hellojukay opened #33906 "sometime UNREACHABLE"
##### ISSUE TYPE

 - Bug Report

#####  SUMMARY
I don't know if this is the problem of ansible, I've been looking for a long time, and I'm wondering, I've executed a command to deploy my java project. It can work very well on other machines, but sometimes on a machine called huanggai, sometimes it doesn't work properly. The hint is that the network is not available. But the manual connection is al

[2017-12-14 10:13] krzysztof-magosa commented on #30882
The same issue here.
I understand that it may be some form of optimisation, but would be fine to be able to bypass it and run include so it can scan underlying tags.

[2017-12-14 10:21] NomAnor opened #33907 "Inconsistencies in result of template module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes

##### OS / ENVIRONMENT
Linux Mint 18

##### SUMMARY
The structure of the result of the template module is different depending on whether the destination file is changed or not.

##### STEPS TO REPRODUCE
Run this playbook with `ansible-playbook -i localhost, test.yml` twice.

[2017-12-14 10:22] dagwieers commented on #32032
So, I couldn't find any information in the Ansible documentation specific to VMware, like all the things we like people to know when they work with Ansible and VMware. Like the absolute folder names and how to look for VMs, etc.

For Windows, @jborean93 did an excellent job at collecting everything at http://docs.ansible.com/ansible/devel/guides.html

Maybe we could have a "Detailed guide" for VMw

[2017-12-14 10:43] EddyP23 commented on #33819
+1

[2017-12-14 10:46] EddyP23 commented on #33819
How do I downgrade ansible back to 2.4.0.0 when this used to work?
`sudo apt-get install -y ansible=2.4.0.0` doesn't seem to work :/

[2017-12-14 10:57] kamilkrzeminski opened #33908 "git module ignores specified "repo" variable (tries to clone repo with empty name/url)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

git

##### ANSIBLE VERSION

[code]
but also noticed in 2.2.1.0

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Sierra

##### SUMMARY

Ansible git module seems to ignore provided "repo" variable. Executed command (https://gist.github.com/kamilkrzeminski/7a6c80173a4780452a446c5981cd8e6b#file-failed-out-L3) does not contain repo url (

[2017-12-14 11:01] #31278 closed, assigned to nobody

[2017-12-14 11:02] voidspace commented on #33776
Thanks for reformatting the issue report for me.

[2017-12-14 11:06] lorenzmeyer77 commented on #32850
@jborean93 Can you give me some advice on how I can test this fix? Can I just download a specific release branch or the develop branch and override the existing ansible installation files or how would I do that?

[2017-12-14 11:18] Akasurde commented on #32032
@dagwieers Thanks for your suggestion. I will try to come with solution like "Detailed guide" for vmware.

[2017-12-14 11:25] Akasurde commented on #33903
@LiginGeorge Thanks for reporting this issue. Could you please use `networks` argument for specifying IP and network details ?

Also, could you please elaborate about "providing new datastore" ?

needs_info

[2017-12-14 11:42] mscherer commented on #33908
I confirm the behavior.

[2017-12-14 11:45] remys89 commented on #33873
Weird to see API calls for critical storage management via an web interface floating over HTTP. Please do fix !

[2017-12-14 11:53] EddyP23 commented on #33819
sorry for the spam, but it seems that apt repo doesn't have many versions in it:
[code]

[2017-12-14 12:02] kamilkrzeminski commented on #33908
When I add a protocol to repo URL (`ssh://`), then I get:

[code]

[2017-12-14 12:04] dmitrijsf commented on #33886
Please close this one and refer to [#33887](https://github.com/ansible/ansible/issues/33887)

[2017-12-14 12:04] #33886 closed, assigned to nobody

[2017-12-14 12:23] LiginGeorge commented on #33903
Hi ,

Can you please let me know an example for specifying network argument, hope
this also can be taken care via single play book which i mentioned  in the
ticket..

On Thu, Dec 14, 2017 at 3:26 PM, Abhijeet Kasurde <notifications@github.com>
wrote:

[2017-12-14 12:24] willthames commented on #29449
As I say, if you can run your playbook with `-vvv` and then paste the full results from the failing task, that would be very helpful. Otherwise I'm just going to assume that you're not running the python you think you are and that's the source of the problem.

[2017-12-14 12:26] willthames commented on #29449
Also, your most recent error message is *completely* different to the previous one, suggesting that you're hitting an entirely unrelated issue. If you post the output I ask for, I'll let you know whether we should reopen this issue or it's worth opening a new issue.

[2017-12-14 12:33] lasiltan commented on #21002
This is really a problem. I have to publish 100 ports.

[2017-12-14 12:37] pari- commented on #33908
Hi there,

your `repo` seems to be wrong. Instead of using `ssh://git@github.com:example-lab/example.git` you should try: `ssh://git@github.com/example-lab/example.git`! :-)

regards,
pari

[2017-12-14 12:47] kamilkrzeminski commented on #33908
@pari- notation I've used is correct - I confirmed this by entering a command manually, it ran successfully.

[2017-12-14 12:50] zikalino commented on #33819
@EddyP23 this is not about version of Ansible installed, but version of Azure network interface library. Ansible installs the most recent one (apparently it was upgraded recently). Try to check what version you have using pip and then install previous version. Let me know if you have any further problems.

[2017-12-14 13:09] mscherer commented on #33908
Ok so turn out I did something wrong, so my previous test didn't reproduce the issue.

[2017-12-14 13:11] mscherer commented on #33908
Does it fail if you do not use the with_items ?

[2017-12-14 13:18] trondhindenes commented on #33840
Yup, that sounds reasonable. I've posted it as a question here instead: https://groups.google.com/forum/#!topic/ansible-project/SBdrPMfdT58 - @thaumos: I would appreciate if you could have a look!

[2017-12-14 13:22] afrittoli opened #33911 "file module does not honour follow when hard linking"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 16.04.3

##### SUMMARY
The file module does not honour the "follow" parameter when hard linking.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Success

##### ACTUAL RESULTS
Failed

[code]

[2017-12-14 13:33] pari- commented on #33908
@kamilkrzeminski according to git's manual the notation you've used is not correct.

[code]

Therefor, prepending the protocol (which would include slashes, obviously) to the SCP-llike syntax (which I've referred to) is incorrect.

[2017-12-14 13:44] pari- commented on #33908
Regarding your reported problem here (which I'cant reproduce):

SSH protocol syntax:
[code]
resulting in:
[code]

SCP-like syntax:
[code]
resulting in:
[code]

regards,
pari

[2017-12-14 14:10] dagwieers commented on #30564
I think this is now fixed. Closing.

[2017-12-14 14:10] #30564 closed, assigned to dagwieers

[2017-12-14 14:10] mscherer commented on #33307
So that's merged now, I close the bug (reopen if I am wrong)

[2017-12-14 14:10] #33307 closed, assigned to nobody

[2017-12-14 14:13] pkubica opened #33912 "Protected argument with no_log=True isn't censored when using iterator"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

no_log
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When using a module, which has no_log=True protected argument, with iterator with_items (and I think that issue is affecting all iteration methods) the sensitive information will be leaked:

example with ovirt_host module:
(it has no_log=True in p

[2017-12-14 14:16] machacekondra commented on #33912
@machacekondra

[2017-12-14 14:16] alonsocamaro opened #33913 "os_router lacks the ability of adding static routes"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT NAME

os_router_module

##### ANSIBLE VERSION

Master, just checked https://github.com/ansible/ansible-modules-core/blob/devel/cloud/openstack/os_router.py

##### SUMMARY

Currently there is no way of adding static routes with the os_router module

[2017-12-14 14:20] mscherer commented on #32514
What is the remote server being hit ? Does anyone have a AIX machine where I can connect to verify ?

Alternatively, can you get a tcpdump trace of the request to see what happen ?

[2017-12-14 14:52] roumano opened #33914 "Add environment behavioral inventory parameter"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
To use proxy, i must set information in environment ( http://docs.ansible.com/ansible/latest/playbooks_environment.html )

For me it's a bad design as i need to explicitly set it on all tasks/roles where i use.
for exemple, i have 25roles in my site.yml and lot of other playbook file, i really think it's bad to add on all of them environment:

[2017-12-14 14:53] afrittoli commented on #33911
The exact point in the code is, at least for the case of non-existing target, is: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/file.py#L425

I appreciated that os.link in python does not allow to dereference the symlink directly, but it should be possible to check if the target is a link and if so to dereference it is os.readlink first.

[2017-12-14 14:54] idan-haim opened #33915 "e"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-12-14 15:04] mscherer commented on #31398
I can't reproduce here. Seems to be a issue with /Users/dan/.pyenv/libexec/pyenv, what is it ?

need_info

[2017-12-14 15:29] totallyGreg commented on #29221
This issue is present with "quota" as well.
If quota is set using lower case letter "quota: 10g" it will report as changed since zfs get quota returns "10G".

As a side note, you can force parsable output (bytes) by using zfs get -p which reports as "10737418240"

[2017-12-14 15:49] Akasurde commented on #20819
resolved_by_pr #33916

[2017-12-14 15:50] Akasurde commented on #20819
@daBONDi Could you please re-try using above PR and let me know if it works for you ?

needs_info

[2017-12-14 16:00] Thorbenn opened #33917 "win_iis_webapppool attributes are not set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_iis_webapppool

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

No settings were changed

##### OS / ENVIRONMENT
Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-103-generic x86_64)

##### SUMMARY
Trying to set Process Model identityType to "SpecificUser" and the username and password to a specific User

These are not set. When looking in IIS under Ad

[2017-12-14 16:03] Akasurde commented on #24887
needs_info

[2017-12-14 16:04] Akasurde commented on #24888
resolved_by_pr #33525

[2017-12-14 16:21] sivel commented on #33871
The problem is that we are relying on `useradd` to perform the skeleton operations as well as creating the home directory.

Effectively we supply `-k /etc/skel` to `useradd`.  If useradd cannot successfully create the directory, and you pre-create, then useradd will not copy the skel directory:

So if the homedir is not created by useradd, `-k` does nothing.

You will either need to determine why

[2017-12-14 16:21] #33871 closed, assigned to nobody

[2017-12-14 16:25] gamuniz opened #33918 "Please Merge GELF Community Callback."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
gelf.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible']
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT

##### SUMMARY

Looking to have a Pull Request merged:

https://github.com/ansible/ansible/pul

[2017-12-14 16:48] bcoca commented on #33918
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-14 16:48] #33918 closed, assigned to nobody

[2017-12-14 16:59] ghost opened #33919 "task_role_arn - ecs_container - value not making it into playbook run"
Greetings, out of the 3 open issues with task_role_arn I didn't see any similar behavior.

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
ecs_taskdefinition

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Using the task_role_arn from ecs_taskdefinition seems to be skipped and not applied to existing task defi

[2017-12-14 17:08] #33915 closed, assigned to nobody

[2017-12-14 17:42] #21799 closed, assigned to nobody

[2017-12-14 18:02] sivel commented on #33914
I've update the description and such a little bit to properly reflect a feature request for a behavioral inventory param for environment, similar to http://docs.ansible.com/ansible/latest/intro_inventory.html#list-of-behavioral-inventory-parameters

[2017-12-14 18:14] bcoca commented on #33914
added as part of #31677

[2017-12-14 18:17] bcoca commented on #33914
@sivel we really need to rewrite that page to link to connection/shell plugins instead of trying to list all the items

[2017-12-14 18:33] nicholasmckinney commented on #21515
I'm also getting the same issue.

[2017-12-14 18:40] gamagori commented on #29799
+1! I'd like to be able to disable kernel updates in my yum.conf file (or wherever), but specifically allow it in playbooks as necessary (for example, updating kernel headers).

[2017-12-14 18:54] bjoernalbers commented on #33417
Ok, I'm gonna close this issue since its outside of Ansible.

[2017-12-14 18:54] #33417 closed, assigned to nobody

[2017-12-14 19:37] mdelagrange opened #33922 "Larger inventory can cause maximum recursion depth Exception"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/Users/mdelagrange/src/github/ansible_include_role_bug_2/ansible.cfg) = [u'/Users/mdelagrange/src/github/ansible_include_role_bug_2/inventory']

##### OS / ENVIRONMENT

N/A

##### SUMMARY

There can be a recursion Exception when using the include_role task in conjunction wit

[2017-12-14 19:39] mdelagrange commented on #33922
This report is a more detailed version of #33600.  See https://github.com/mdelagrange/ansible_include_role_bug for more detail on the test case.

[2017-12-14 19:45] wenottingham opened #33923 "gce: error with non-ascii image names"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

gce

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
none

##### OS / ENVIRONMENT

CentOS 7
apache-libcloud==2.2.1

##### SUMMARY

unicode-out-of-nowhere causes error in GCE module

##### STEPS TO REPRODUCE
[code]

run with:

[code]

##### EXPECTED RESULTS

"no instances found" or similar

##### ACTUAL RESULTS

[code]

[2017-12-14 19:49] Everspace opened #33925 "Failure using method (v2_runner_item_on_ok) in callback plugin when using a vault string"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

I have mapped the plugins paths to work in the project directory

##### OS / ENVIRONMENT

WSL on Windows 10

##### SUMMARY

The following warning appears when I do a include_vars in a loop where one of the included yaml files would contain a `!vault` tag.

[code]

##### STEPS TO

[2017-12-14 20:09] TheFriendlyCoder commented on #33835
Ummm - the docs clearly state that blocks can be used as tasks and that the 'name' attribute is supported:

http://docs.ansible.com/ansible/latest/playbooks_blocks.html

Specifically, the example shows a named block that looks like this:

[code]

And towards the bottom of the summary info, it explicitly states:

Further, I believe my use case as I've described it here is nearly identical to the ex

[2017-12-14 20:10] #33736 closed, assigned to nobody

[2017-12-14 20:11] TheFriendlyCoder commented on #33835
I probably should mention that I have temporarily worked around this problem by simply naming the first task in the set of tasks within the block. Then you can refer to the name when executing the block of tasks, something like this:

[code]
While this does seem to be functionally equivalent to having the block itself named, it is subtly different than what is documented.

[2017-12-14 20:22] sivel commented on #33835
Blocks can be used in tasks, but blocks themselves are not tasks, they are a control structure.  As such, `--start-at-task` cannot target a block, as block is not a task.  However, yes, it can have a name.

[2017-12-14 20:25] jmcgill298 commented on #33887
we are looking to update with a connection plugin that works similarly to network ssh modules, but not sure if that will include provider since that is going away.

[2017-12-14 20:25] jborean93 commented on #32850
@lorenzmeyer77 you would need to checkout the branch locally and use that as your ansible base. You can do this by running

[code]

What this does it fetches the pull request 33855 to the current git repo and uses that when running `source hacking/env-setup`. From there you can call your playbook as per normal.

[2017-12-14 20:28] TheFriendlyCoder commented on #33835
ah - there we go. So while the "syntax" is correct, the behavior is subtly different than that of tasks because of how the 'block' attribute is implemented. Gotcha.

I'm not sure if I'm the only one who hit this confusion, but maybe it'd be worth adding a quick blurb / caveat to the docs to clarify that point for the next guy.

Thanks again for your patience and clarification.

[2017-12-14 20:29] sivel commented on #33925
!component =lib/ansible/parsing/vault
!component +lib/ansible/plugins/callback/default.py

[2017-12-14 20:33] sivel commented on #33925
cc @alikins

[2017-12-14 20:38] sivel commented on #33922
I've bisected the offending commit to b61bfc87b85776a633ba27198a1587048079d60e

cc @bcoca

[2017-12-14 20:45] sivel commented on #33912
There is no direct correlation to what arguments a module marks as `no_log` and the values of variables used in a loop.

If you wish to ensure that sensitive variables are not leaked in a loop, you will need to either apply `no_log: true` onto the task in full, or look at using `loop_control` such as the following to suppress that output.

[code]

If you have further questions please stop by IRC o

[2017-12-14 20:45] #33912 closed, assigned to nobody

[2017-12-14 20:51] sivel commented on #33879
More complete traceback:

[code]

[2017-12-14 21:06] #33864 closed, assigned to nobody

[2017-12-14 21:15] mkrish004c commented on #30873
Hi,

Is this available in python-ovirt-engine-sdk4 ?

Regards,
Murali

[2017-12-14 21:22] mitchless opened #33927 "botocore.errorfactory.TargetGroupNotFoundException executing ec2_asg_facts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_asg_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Controller OS: Mac OS 10.12.6

##### SUMMARY
Gathering facts for an EC2 Autoscaler Group that was assigned to a deleted application load balancer target group results in an exception.

##### STEPS TO REPRODUCE
Create an ELB target group (using elb_tar

[2017-12-14 21:29] tchernomax commented on #23340
@Sispheor @kuldeep-singh-duhan you can also try to use [vmware_guest_find](http://docs.ansible.com/ansible/latest/vmware_guest_find_module.html) to verify the folder of a VM (seen by the API).
As @Akasurde said you should also add the datacenter at the begining of the path.

For example, if my folder already contain the VM "toto", to know the path I run:
[code]
Then the folder I should use in vmwa

[2017-12-14 21:50] Everspace commented on #33925
I forgot to mention that so far I haven't noticed any... adverse effects from the warning.

[2017-12-14 22:01] sivel commented on #33306
We decided in todays core meeting, to change the default to prevent `when: []` from evaluating as True.

@bcoca will be providing a pull request to address.

[2017-12-14 22:02] #33879 closed, assigned to nobody

[2017-12-14 22:06] sivel commented on #33879
This problem has been resolved as part of https://github.com/ansible/ansible/pull/33926 and will be included in both the 2.4.3 and 2.5 releases.

[2017-12-14 22:25] fligi7 opened #33929 "win_mapped_drive yields mapped but "Unavailable" drive"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
(Updated per https://github.com/ansible/ansible/issues/33929#issuecomment-351854964)
[lib/ansible/modules/windows/win_mapped_drive.ps1](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_mapped_drive.ps1)

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible/ans

[2017-12-14 23:14] jborean93 commented on #33917
Are you able to try changing `processModel.username` to `processModel.userName`, I see the example is all lowercase but I think attributes are case sensitive and we should fix the example if that is the case. What IIS and OS version are you running against?

[2017-12-14 23:41] #31216 closed, assigned to nobody

[2017-12-14 23:52] tkeeler33 commented on #31125
Hmm i'm at `2.4.2.0` and still having this problem...

[2017-12-15 00:52] grossws opened #33932 "openssl_privatekey fails when key file exists with `'_cffi_backend.CDataGCP' object has no attribute 'type'`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`openssl_privatekey`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: ArchLinux, python 3.6.3-1
Target: CentOS 7.4, python 2.7.5, openssl 1.0.2k, pyOpenSSL 0.15.1

pyOpenSSL is built from [rpm spec](https://src.fedoraproject.org/rpms/pyOpenSSL/blob/f23/f/pyOpenSSL.spec) originally for Fedora 23 since last p

[2017-12-15 00:52] grossws opened #33933 "openssl_csr fails when csr file exists with `'_cffi_backend.CData' object has no attribute 'object'`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`openssl_csr`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: ArchLinux, python 3.6.3-1
Target: CentOS 7.4, python 2.7.5, openssl 1.0.2k, pyOpenSSL 0.15.1

pyOpenSSL is built from [rpm spec](https://src.fedoraproject.org/rpms/pyOpenSSL/blob/f23/f/pyOpenSSL.spec) originally for Fedora 23 since last pyOpenSS

[2017-12-15 01:10] grossws opened #33934 "openssl_certificate returns incorrect serial_number if cert exists"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`openssl_certificate`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: ArchLinux, python 3.6.3-1
Target: CentOS 7.4, python 2.7.5, openssl 1.0.2k, pyOpenSSL 0.15.1

pyOpenSSL is built from [rpm spec](https://src.fedoraproject.org/rpms/pyOpenSSL/blob/f23/f/pyOpenSSL.spec) originally for Fedora 23 since last

[2017-12-15 01:22] tf42src opened #33935 "get_url for https fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux <hostname> 3.13.0-133-generic #182-Ubuntu SMP Tue Sep 19 15:49:21 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
Getting SSL python issue when invoking get_url for https urls

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Successful

[2017-12-15 03:25] cameronkerrnz commented on #27565
I thought I encountered this too (in 2.4), but when I went to minimise the problem, I realised that 'end_play' just ends the play (as per its name), but what I wanted was to end the playBOOK.

[code]

[2017-12-15 03:58] willthames commented on #33919
I can't see anything obvious here (other than your task_role_arn isn't actually an ARN - but that should cause a failure if it is a problem).

Can you show the output of running the ecs_taskdefinition task in full using `-vvv`.

[2017-12-15 03:58] willthames commented on #33919
needs_info

[2017-12-15 04:20] Thorbenn commented on #33917
I will check it out this morning with case sensitivity this morning to see if it fixes the problem.

I am trying to configure two hosts. One is a Windows 2012 Server R2 with IIS 8 Running on it and the other one is a Windows 2016 Server with IIS 10. On both servers it didn’t work to set the process model.

Thanks for your quick reply!

[2017-12-15 04:33] jborean93 commented on #33917
No worries, when i tested it this morning, I believe IIS 7.5 was case insensitive but 8+ was so hoping that is the issue.

[2017-12-15 04:49] ryanerwin opened #33936 "at_module "now""
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
at

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `at` command supports fairly complex time specifications, like `4pm + 3 days` or most useful to me `now`.

Would at least like a way to execute `at now` for jobs that we want to completely background (different from the results of `poll:

[2017-12-15 04:51] #33192 closed, assigned to ganeshrn

[2017-12-15 04:51] #31574 closed, assigned to privateip, Qalthos

[2017-12-15 06:13] Akasurde commented on #25967
@przemolb Could you please try this with latest version of vmware_guest and let me know if it works for you?

needs_info

[2017-12-15 07:33] Thorbenn commented on #33917
Just tested it and as you said it is because of the case sensitivity...

I used userName and then it set the field to the correct user.

Thank you for the quick help!

[2017-12-15 07:43] jborean93 commented on #33917
No worries, thanks for the confirmation, the site should be updated in the next few days.

[2017-12-15 07:43] #33917 closed, assigned to nobody

[2017-12-15 09:09] machacekondra commented on #30873
Sure, you can create VM with custom UUID as follows:

[code]

[2017-12-15 09:59] pratikkava1189 commented on #33764
@Akasurde , I found the VM path using "vmware_guest_find" module, but still giving same error(Unable to manage snapshots for non-existing VM irvvmrhtst01)

[2017-12-15 10:03] Akasurde commented on #33764
@pratikkava1189 Could you please paste output of 'govc find /' and vmware_guest_find returned output ?

[2017-12-15 10:03] Akasurde commented on #33764
needs_info

[2017-12-15 10:11] pratikkava1189 commented on #33764
@Akasurde , I fix it and thank you for your support.

[2017-12-15 10:12] Akasurde commented on #33764
@pratikkava1189 Could you please paste output for posterity, if it works for you ?

[2017-12-15 10:14] #33666 closed, assigned to Akasurde

[2017-12-15 10:15] pratikkava1189 commented on #33764
@Akasurde , In vpshere v6.5, Ansible module take folder name absolute path with datacenter name.

In my case, folder name was "DATACENTER/vm/Mymachine/testserver" and it worked for me.

[2017-12-15 10:24] kunzsoni commented on #32514
It was some difference of parameters supplied to hit AIX. AIX required some lesser parameters while i was hitting the URL.

[2017-12-15 10:53] Akasurde commented on #33764
@pratikkava1189 Thanks for reporting. I will close this issue as "works for me".

[2017-12-15 10:53] #33764 closed, assigned to Akasurde

[2017-12-15 10:56] #32465 closed, assigned to nobody

[2017-12-15 10:59] Akasurde commented on #30117
This is feature is already available in vmware_guest, closing this issue. Please refer docs for vmware_guest configuration.

[2017-12-15 10:59] #30117 closed, assigned to nobody

[2017-12-15 11:01] Akasurde commented on #33903
@LiginGeorge Please find the snippet from documentation

[code]

Hope this works.

[2017-12-15 11:01] #33903 closed, assigned to nobody

[2017-12-15 11:13] charliejllewellyn opened #33943 "Unable to create virtual machines on Azure Stack due to no managed disk support"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

module/cloud/azure/azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Docker library/centos

##### SUMMARY

Creating virtual machines on Azure Stack fails because managed disks is not supported.

After spending a lot of time working with the Azure python SDK teams to work around issue

[2017-12-15 12:51] neptunix commented on #33058
I can reproduce the situation with a **compressed** file:
[code]

[code]

Replacing `unarchive` with `command` does the job:
[code]
[code]

[code]

[2017-12-15 13:10] nk9b commented on #33554
Greetings. Are there any possible workarounds for this issue in CentOS 7? I've started using Ansible Tower/AWX, and this parsing bug has halted my ability to deploy several key scripts in AWX. I've considered installing AWX in Ubuntu, but my server team wants to stick with CentOS 7 for support purposes. I'm kind of stuck at the moment with broken Ansible parsing. Thank you for your efforts in reso

[2017-12-15 13:30] samdoran commented on #31879
I did some testing with `2.4.0.0`, `2.4.2.0`, and `devel`. I am only able to duplicate this is `OS_AUTH_URL` is undefined, or if I run the playbook with privilege escalation enabled. @yahoon can you try setting `become: no` for that task to ensure it does not escalate privileges? It may also be helpful to see the entire playbook not sure the tasks section if disabling privilege escalation doesn't

[2017-12-15 13:58] samdoran commented on #33784
In `2.4.0`, include within a role searched relative to `{{ role_path }}/tasks`. Since `2.4.1`, this is no longer the case. Investigating to see if this is indeed a regression.

[2017-12-15 14:33] tristanbes opened #33947 "Ansible git module ignores remote_tmp"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Git module fails because it IGNORES the `remote_tmp` variable and always uses `/tmp/` for temp dir.

##### STEPS TO REPRODUCE
Disallow execution for `/tmp`
Put a `remote_tmp = /var/www/tmpansible`
Run your playbook containing the git module:

[2017-12-15 14:34] Thulium-Drake opened #33948 "Include vs include_tasks/import_tasks"
##### ISSUE TYPE
 - Documentation Report (not sure?)

##### COMPONENT NAME
include (which has been deprecated and will be removed in 2.8)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY
I want to run a block of tasks in a loop, but I wasn't able to find a way to make that work without including a playbook with tasks and looping over that include.

##

[2017-12-15 14:45] bcoca commented on #33948
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The actions include_tasks/import_tasks are new in 2.4, so it is expected they don't work in 2.3.

In the future, this might be a topic

[2017-12-15 14:45] #33948 closed, assigned to nobody

[2017-12-15 14:56] dsedivec commented on #33738
Yes, I see how that could be a real problem.  I was thinking that all dictionaries containing variables could instead be instances of something like `ansible.template.AnsibleJ2Vars`, which (as far as I can tell) would automatically expand any values the first time a variable is accessed.  In other words, on-demand variable expansion.

Thanks for the explanation and pointers!

[2017-12-15 14:56] sovetov opened #33949 "Installed Ansible via pip into venv, got `No module named 'ansible'`"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`ansible` executable.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Freshly installed, got same error when running `ansible-config dump --only-changed`.

##### OS / ENVIRONMENT

Debian.
Python 3.6 build from sources and installed via `make altinstall`.

##### SUMMARY

Cannot do anything from command line. Getting No module named 'ansibl

[2017-12-15 14:57] markocelan commented on #33816
@gundalow I tried my best....
Thanks

[2017-12-15 15:00] IPvSean opened #33950 "Provider Documentation is missing from multiple Network Modules"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
For IOSXR_ modules
- iosxr_logging_module http://docs.ansible.com/ansible/latest/iosxr_logging_module.html
- iosxr_banner_module http://docs.ansible.com/ansible/latest/iosxr_banner_module.html
- iosxr_interface_module http://docs.ansible.com/ansible/latest/iosxr_interface_module.html
- iosxr_user_module http://docs.ansible.com/ansible/

[2017-12-15 15:05] cavamagie commented on #27062
same issue and same workaround
when comes the fix?

[2017-12-15 15:11] Thulium-Drake commented on #33948
@bcoca : Thanks for the clarification! So Ansible reports future upcoming deprecation warnings as well then?

I've updated my ansible client, changed the include to include_tasks and all is well again :-)

[2017-12-15 15:12] alvarezluciano commented on #33678
@gundalow @ganeshrn
Thanks for the replies! I came up with the same idea, I tried to wait a certain time, but I did it after closing again the netconf port... But now I included the delay task (30 seconds to be sure), and it seems to be working on MOST of them. Actually, at the time only one failed (same error), and even with 2min delay.
Junos_netconf always works, and reports correctly (ok/change

[2017-12-15 15:17] haidaraM commented on #29200
Same error here. If someone can work on it

[2017-12-15 15:22] bcoca commented on #33738
@dsedivec you just described what `hostvars` is, which also makes it very slow

[2017-12-15 15:30] sivel commented on #33949
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-12-15 15:30] #33949 closed, assigned to nobody

[2017-12-15 15:31] schweikert commented on #33617
@Riccardo1976: could you reopen this issue? I don't think it should be considered fixed, just because there is a workaround. Ansible should work correctly for users that have a non-english locale.

[2017-12-15 15:32] sivel commented on #33935
Please try upgrading `pyopenssl` and see if that resolves your problem.

needs_info

[2017-12-15 15:56] Rakaim commented on #30016
I'm giving this a bump as well. Having this feature would allow me to upgrade one particular block from a dumb `shell` call to an actual smart `yum` ansible module.

[2017-12-15 16:16] alimakki commented on #33657
Similar issue I'm facing.

[code]

Azure dependencies installed with `pip install ansible[azure]`

[2017-12-15 16:20] #33804 closed, assigned to ganeshrn

[2017-12-15 16:33] thenralmani commented on #24887
Hi All,  I'm also having the same issue with Vcenter,  tried #33230 PR and no luck, Any workaround ???

Issue: Always the OS disk is created in the datastore where the template files resides.

[2017-12-15 16:44] gusc commented on #29403
It looks like this workaround won't help when, for example installing java on a slower network connection - the sudo from the first call would timeout and ask a password when download finishes and `sudo -E installer ...` is launched.

[2017-12-15 16:53] Skewled commented on #33919
Updated the variable for the role ```arn: arn:aws:iam::##############:role/ssm_ecs_task-dev```

I've had to mask out all the variable values but they are passed without issue to the task definition. There is no error displayed and the previous task definition is removed successfully. The only issue is the task_role_arn isn't being passed for some reason.

[code]

[2017-12-15 16:59] IronicBadger commented on #33027
at the risk of sounding like a cliche, i have the same issue.

[2017-12-15 17:16] buggsdummy opened #33956 "inventory global variables failing"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I have a variables defined in stg.yml and a [stg:vars] with a global var Environment=stg, it is the only place that's defining that and it's not seeing it anymore.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Be able to use those variables

[2017-12-15 17:21] alikins commented on #31673
I can reproduce this sort of with:
ansible 2.5.0 (devel ff923fb6b0) last updated 2017/12/14 15:54:43 (GMT -400)

I put the repro test case info at https://github.com/alikins/ansible-bug-repro/tree/master/mem_usage_a24_31673

Reproducing with f27/python2.7, the memory profile info grew 55MB to 60MB at the last memory profile output. So u
[code]

[2017-12-15 17:23] sivel commented on #33956
Can you please provide a more complete minimal reproducer so that we can better understand your issue?  As it is there isn't much information to go on.

Consider creating a repository with a minimal set of reproducer files that show this issue and provide that to us.

needs_info

[2017-12-15 17:23] #33956 closed, assigned to nobody

[2017-12-15 17:26] alexhexabeam commented on #27565
@cameronkerrnz am I reading your output correctly? It looks like neither the `debug` or the `meta: end_play` tasks respect the `when`. That would be new, since I haven't noticed `debug` tasks ignoring `when` in 2.2.3.

[2017-12-15 17:53] abadger commented on #33745
#18731 should fix this.  I've merged it to devel and stable-2.4 (for the 2.4.3 beta2 release)

[2017-12-15 17:53] #33745 closed, assigned to nobody

[2017-12-15 17:56] Spredzy commented on #33932
Hi @grossws, thanks for reporting this.

Unfortunately, you are not using a "standard" OS/OpenSSL set up. I could reproduce your environment and confirm the issue you are facing. Yet CentOS 7.4 as you've seen does come with only `0.13.1`, and your playbook fails with `0.15.1` yet it succeed with `16.2.0` (https://src.fedoraproject.org/rpms/pyOpenSSL/blob/f24/f/pyOpenSSL.spec) that is provided as f

[2017-12-15 17:57] Spredzy commented on #33933
Hi @grossws please refer to the answer posted on the other related issue https://github.com/ansible/ansible/issues/33932

[2017-12-15 18:23] sivel commented on #33947
Are you executing the play/task with become?  Or potentially running ansible with pipelining?

We have some code that tries to write out a git wrapper script, and it tries to write to the same directory as where the module lives, but if it fails, it reverts to using the system temp directory:

https://github.com/ansible/ansible/blob/e3a847a1425424d72c5fa2ad9c5de6a1f42bc9d0/lib/ansible/modules/sour

[2017-12-15 18:44] lmazuel commented on #33943
Code needs to be update that in ManagedDisk is not specified in the playbook, this is line don't exists at all (not even with None):
https://github.com/ansible/ansible/blob/d59bba4652b8379bd49e0b56363b1148ddad022e/lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py#L968

[2017-12-15 19:19] charliejllewellyn commented on #33943
Agreed and this is what the sed above does as a workaround, however this would then break managed disk deployments against Azure where it is supported.

It comes back to your point that we need to think about how we handle different API's in  the playbooks for different clouds. I am starting to see now that it could start to get super complicated to have lots of conditionals to change interact wit

[2017-12-15 19:25] sdigit commented on #14426
Having this problem often in GCE with Ansible 2.5 from git as well. So far using paramiko seems to be a viable workaround.

[2017-12-15 19:27] bdowling commented on #33047
@ganeshrn, @kedarX
Tested and it works for me.  +1 for needs_approval and merge :)

[2017-12-15 19:31] charliejllewellyn commented on #26195
So thinking about this a little more I would be worried that having conditional statements in the module to handle differences between the code would make it complicated to read and makes the logic far more complicated.

Maybe the approach here could be similar to that with the API and models? In this case there would be a class per API version e.g.

- azure_rm_virtualmachine_v2017_03_03.py
- azur

[2017-12-15 19:49] bhagya7893 commented on #31737
Hi, I am facing the same issue with Ansible 2.4
Do we know when this issue can get fixed or is there a work around it for the time being?

[2017-12-15 20:26] christina-andonov commented on #33467
[code]

[2017-12-15 20:26] itewk commented on #31737
@bhagya7893 the workaround specified above by @Eimert did work for me, i did not get the other error they ran into. So maybe that will at least get you past your short term.

[2017-12-15 20:28] bcoca commented on #33650
@bdowling can you confirm the PR above fixes this for you?

[2017-12-15 21:00] bcoca commented on #33948
@Thulium-Drake no, not w/o a tardis, include is NOT deprecated in 2.3, it does however have a couple of features that are deprecated.

[2017-12-15 21:01] bcoca commented on #33784
`ansible_search_paths` var should give you the 'top dirs' considered for search (they might get files/vars/templates subdirs appended and roles also behave differently)

[2017-12-15 21:23] marioprudhomme opened #33960 "Module docker_service seems to create variables at runtime"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_service

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/etc/ansible/env/dev/ansible.cfg) = [u'/etc/ansible/env/dev/inventory.yml']

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Not sure if this is an intended feature by the owner or a bug.

When using the docker_service module with `state: present`,  a new variable is c

[2017-12-15 21:53] sivel commented on #33960
Ref: https://github.com/ansible/ansible/blob/4c0889e8fcee6c8be9fef33887480747c227725d/lib/ansible/modules/cloud/docker/docker_service.py#L768

[2017-12-15 22:00] mario-digitalstate commented on #33960
Potential fix:

Keep the current behavior for backward compatibility. Introduce a new optional attribute to allow the user to `register` a new fact name instead of assuming the compose service names.

[2017-12-15 22:05] lmazuel commented on #33943
The CLI approach is to use to use decorator and "if helper":
https://github.com/Azure/azure-cli/blob/810d9edd9d56f303d1d578d818e14b434abd8a0a/src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py#L836

I don't have a more specific approach ti suggest right now...

[2017-12-15 22:17] #31723 closed, assigned to nobody

[2017-12-16 01:31] mscherer commented on #32514
@kunzsoni  can this bug be closed, or do I misunderstand your comment ?

[2017-12-16 07:17] ramden opened #33965 "Documentation improvement - Best practices - Variables and Vaults section"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Variables and Vaults ( on best practices page http://docs.ansible.com/ansible/latest/playbooks_best_practices.html#best-practices-for-variables-and-vaults)

##### SUMMARY
An example for this section would be really helpful, or/and a link to the url containing the exact info how tho set up this best practice.

[2017-12-16 11:48] The-Wabbit commented on #30141
If I understand this correctly, you would need to add a parameter to easy install similar to this:
easy_install -i http://d.pypi.python.org/simple $PACKAGE

If this is the case, I would take a stab at it.

[2017-12-16 11:56] ryanerwin commented on #33947
I'm seeing the exact same behavior on one of my systems.
Note this is happening reguardless of whether `ANSIBLE_PIPELINING(/home/my_user/Git/Ansible/ansible.cfg) = False` or true...

Here is my complete minimal playbook that generates the error (less my private variables).

`test.yml`
[code]

Ansible version:
[code]

Complete output of:
`ansible-playbook -i environments/production.ini test.yml --l

[2017-12-16 13:25] The-Wabbit commented on #30080
This should be closed: https://github.com/ansible/ansible/pull/27121

[2017-12-16 13:25] mwmahlberg commented on #30239
@giovannipizzi This workaround does not work on any Atomic Host, since the modules are provided by the (immutable) host image.

[2017-12-16 14:38] ryanerwin commented on #33947
Oddly enough, I'm still getting this same error `cannot exec '/tmp/tmpx6XYhP': Permission denied"` even after updating my `ansible.cfg` to include:

[code]

I added a debug to my test playbook, and `ansible_remote_tmp` is set correctly.
[code]

[code]

Of course it only happens on devices where `/tmp` is mounted with `noexec`
[code]

[2017-12-16 16:13] Akasurde commented on #33156
@coltsixshooter @mike45379 @one-t Could you please re-try again with the latest version and let me know if it works for you ?

needs_info

[2017-12-16 16:18] Akasurde commented on #20819
resolved_by_pr #33916

[2017-12-16 16:39] Akasurde commented on #25714
- [ ] Add a new disk. Remove is not required.
- [x] Add/Remove memory.
- [x] Add/Remove vcpus.
- [x] Add/Remove network interfaces.
- [ ] Memory limits/shares/reservations.
- [ ] Disk IO limits/shares.

[2017-12-16 17:29] lshake opened #33969 "Set DNS TTL for ipa_dnsrecord on creation"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ipa_dnsrecord

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
For new records optionally add a dns ttl.  The IPA API allows a TTL to be set for DNS records, but the ipa_dnsrecord module does not provide a way to set it.   This is probably reasonable as, as far as I can tell, the IPA API provid

[2017-12-16 17:59] lshake commented on #33969
In fact it might make sense to include a force option, which runs the update regardless of what the changed state it which could explicitly set the TTL and always return changed.

[2017-12-16 23:02] Spredzy commented on #32377
I am closing the issue. Feel free to re-open it if you can still face it.

[2017-12-16 23:02] Spredzy commented on #32377
notabug

[2017-12-16 23:08] #32377 closed, assigned to nobody

[2017-12-17 01:35] jmcgill298 commented on #29014
This was fixed in https://github.com/ansible/ansible/pull/29114

[2017-12-17 02:50] andreaso commented on #30064
As of Ansible 2.4 the Git module always uses a generated wrapper script to run the git binary. Hence the _noexec_ issue is no longer limited to when `key_file` or `ssh_opts` are set.

That the wrapper script is now always being used is a side affect of the way I implemented https://github.com/ansible/ansible/pull/26072.

[2017-12-17 03:41] jacksonp2008 opened #33971 "vmware_guest_facts or vmware_vm_facts does not return snapshot information"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_REMOTE_PORT(/Users/spollock/ansible/fs-skytap-control/ansible.cfg) = 22
DEFAULT_REMOTE_USER(/Users/spollock/ansible/fs-skytap-control/ansible.cfg) = spollock
DEFAULT_TIMEOUT(/Users/spollock/ansible/fs-skytap-control/ansible.cfg)

[2017-12-17 03:43] jacksonp2008 opened #33972 "vmware_guest_facts or vmware_vm_facts does not return ESX server that it is running on."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

vmware_guest_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_REMOTE_PORT(/Users/spollock/ansible/fs-skytap-control/ansible.cfg) = 22
DEFAULT_REMOTE_USER(/Users/spollock/ansible/fs-skytap-control/ansible.cfg) = spollock
DEFAULT_TIMEOUT(/Users/spollock/ansible/fs-skytap-control/ansible.cfg)

[2017-12-17 03:46] jacksonp2008 commented on #33312
localhost
the curl command works fine

[2017-12-17 03:47] jacksonp2008 commented on #32808
Any update?

[2017-12-17 03:48] forescout-spollock commented on #32109
Any update?

[2017-12-17 04:52] Akasurde commented on #33971
@jacksonp2008 Thanks for reporting this issue. vmware_vm_facts returns basic details about ALL vms in given infra, whereas vmware_guest_facts results gives you details about particular VM.

I would like to know - what do you mean "does not return snapshot information" ? Is it blank or is there any other error ?

needs_info

[2017-12-17 05:12] Akasurde commented on #33972
@jacksonp2008 Thanks for reporting this issue. VMware does not restrict user from creating VM with already existing name. It is confusing if we return multiple ESXi hostname for such VM with same name.

In case UUID, it is will be easy to return name of ESXi but question remains the same for multiple VMs with same name.

Let me know if you have any suggestion.

needs_info

[2017-12-17 05:14] Akasurde commented on #33972
@jctanner @dagwieers What do you think about this RFE ?

[2017-12-17 05:16] LiginGeorge commented on #33903
Please find the error which i am getting

TASK [Create a VM from a template]
*****************************************************************************************************************************************
fatal: [localhost -> localhost]: FAILED! => {"changed": false, "failed":
true, "msg": "Provided disks configuration has less disks than the target
object (1 vs 2)"}
        to retry, us

[2017-12-17 05:27] Akasurde commented on #33972
vmware_guest_facts does return ESXi hostname on which it is running

[code]

Output of above PB:

[code]
Which is actual host on which this VM is running.

[2017-12-17 06:38] Aadasrh opened #33973 "Issue while installing VCSA6.5"
Hello All i am trying to install VCSA 6.5 on my windows PC, however i am getting below error.

Can any one help me.

![image](https://user-images.githubusercontent.com/32068103/34077184-04d2c4b0-e323-11e7-94a2-89acec312a3f.png)

[2017-12-17 09:15] user318 opened #33974 "sysctl module mess with sysctl.conf file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
sysctl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
sysctl moule mess with lines in sysclt.conf file while changing one of values

##### STEPS TO REPRODUCE
Such playbook for example:
[code]

If you have sysctl.conf like this:
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

The