[2018-12-01 21:36] #49093 closed, assigned to nobody

[2018-12-01 23:51] BarbzYHOOL commented on #48859
So what do bros?

[2018-12-02 02:46] xoffey commented on #48859
This seems to be one type of bug that doesn't look like a bug to the author but that obviously causes problems for ordinary users. Maybe the wording should be clearer that it is not an error, and the plugin name should be in quotes, as in
[code]

[2018-12-02 07:25] patsevanton opened #49413 "Does the project ansible have official Docker image?"
Hello!
Does the project ansible have official Docker image?

[2018-12-02 09:04] anasbadaha commented on #41800
Hi @rhastie:

I tried to reproduce this bug using yml file you attached and it was not reproducible! following are the ansible version I used and playbook:

ansible 2.8.0.dev0 (issue/41800 fc71cde7d3) last updated 2018/12/02 07:49:41 (GMT +000)
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ans

[2018-12-02 10:05] michaeltecourt commented on #43637
For anyone working on a mac and not that versed in python, I had a hard time figuring out I had at least 4 python installations :

 * OS python 2.7
 * OS python 3.5 located at `/Library/Frameworks/Python.framework/Versions/3.5/bin`
 * hombrew installed python 3.7 located at `/usr/local/Cellar/python/3.7.1/bin`
 * Ansible's python 3.7 module installed by homebrew located at `/usr/local/Cellar/ansib

[2018-12-02 11:48] yfried opened #49415 "Azure facts modules don't register ansible facts"
##### SUMMARY
The following `azure_rm_*_facts` modules don't register `ansible_facts`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
* azure_rm_containerregistry_facts
* azure_rm_routetable_facts

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

discovered facts

##### ACTUAL RESULTS

```"msg": "The task includes an option with an undefined variable. T

[2018-12-02 11:59] felixfontein commented on #32626
I began to work on this in #49416 for openssl_privatekey.

[2018-12-02 13:53] yfried opened #49419 "azure_rm_subnet fails when existing subnet had route_table"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

* azure_rm_subnet
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Try to execute the module against an existing subnet with route_table defined

[code]

##### EXPECTED RESULTS

Subnet should not be created. `changed` value depends on whether defined `route_table` matche

[2018-12-02 14:38] robsonpeixoto commented on #43637
@michaeltecourt , a suggestion: use `pipenv` to manage use ansible installation and you will need to worry about the pipenv's python and system python.

And you can use the configuration `ansible_python_interpreter: "{{ ansible_playbook_python }}"`  to force the use the pipenv's python in local actions/task/operations.

[2018-12-02 15:07] EpiqSty commented on #35190
@andreaso , thanks a lot, but we've switched all cloudflare-related
 stuff to the terraform since then so I can't test it sorry.

[2018-12-02 18:09] zimmertr commented on #48402
I think this is incorrectly marked as deprecated. This is in fact referencing the `k8s` module not the deprecated `kubernetes` module.

So, not sure if I have the ability to or not, but here goes nothing:

bot_status
not deprecated

[2018-12-02 19:41] 0xBF commented on #32513
Maybe this will be useful:

helm uses [kubernetes portforward api](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#-strong-proxy-operations-pod-v1-core-strong-), the same as `kubectl port-forward`.

[Portforwarding over websocket](https://github.com/kubernetes/kubernetes/pull/33684) supported since v1.6, and python kubernetes client has [methods for use it](https://github.com/

[2018-12-02 23:00] ianw commented on #49349
@acozine Although the merged change does fix an issue, I'm still unsure the tox environment is actually working as intended.  Could we leave this open for other comments on that?

[2018-12-03 00:45] willthames commented on #48402
!component -lib/ansible/modules/clustering/k8s/_kubernetes.py

[2018-12-03 00:57] willthames commented on #48402
-label deprecated

[2018-12-03 01:01] jerrynn commented on #49419
👍 THX 💯

[2018-12-03 02:15] Hubery2757 commented on #49276
It‘s successful to install with 'yum install docker-ce --enablerepo="my-custom" --disablerepo="base,extras,updates' from cmd line.

I delete the CentOS-*.repo and just keep the my-custom.repo as described before. then execute:
'ansible-playbook -i hosts site.yml'
it remain failure to install docker-ce.

**cat site.yml**
---

# This playbook deploy docker-ce

- name: config docker local repo
  host

[2018-12-03 03:44] Fred-sun commented on #49415
@yfried Thanks for  your contribution. Your YML unused register to define the var info. Could you can update your YML as below to retry. Thanks!
[code]

[2018-12-03 05:09] #46468 closed, assigned to nobody

[2018-12-03 05:42] ianw opened #49430 "Using import_tasks in a handler leads to "ERROR! The requested handler ... was not found" and python multiprocessing traceback"
##### SUMMARY

Our devel branch testing job has started exhibiting a strange problem that seems very consistent

[code]

The task would be [1], the handler it is saying it can not find would be [2].  I don't think this is anything particularly fancy in the playbooks at this point.  I don't believe we have changed anything to do with these tasks/roles in the mean time, and the same tasks/roles work

[2018-12-03 06:00] Akasurde commented on #20557
@rhcarvalho @nesanton @matthew-hickok @gustavooferreira @JimFicarra Could you please check above PR and let me know if it helps ? Devel docs look like [this](https://docs.ansible.com/ansible/devel/dev_guide/developing_plugins.html#action-plugins)

[2018-12-03 06:13] ptux commented on #49405
I have reproduced this.
I'll try to fix it.

[2018-12-03 06:46] Akasurde commented on #40677
I will close this for now. Please feel free to re-open this issue, if you are able to reproduce this again. Thanks.

[2018-12-03 06:46] #40677 closed, assigned to nobody

[2018-12-03 07:07] yfried commented on #49415
@Fred-sun I might be wrong, but in my experience, `*_facts` automatically register their output under `ansible_facts` so the user doesn't need to use the `resgister` keyword.

Please see `azure_rm_virtualnetwork_facts` for example

[2018-12-03 07:42] ianw commented on #49430
Ok the problem is related to ```import_tasks``` in the handlers.  The handlers are [1]

[code]

and then the task that is being imported is

[code]

Interesting, in the stable branch, the logging shows the handler run with the ```name``` from the imported task, rather than the handler name

[code]

This may be a clue...

[1] https://git.openstack.org/cgit/openstack-infra/system-config/tree/playboo

[2018-12-03 08:11] ianw commented on #49430
OK, notifying "Reload iptables (Debian)" doesn't work either, so it's not quite just name confusion.

We also continue to see the Python traceback which I don't expect

I will try to get this down to something reproducible

[1] http://logs.openstack.org/75/621475/3/check/system-config-run-base-ansible-devel/7f72105/job-output.txt.gz#_2018-12-03_08_01_58_626683

[2018-12-03 08:21] Fred-sun commented on #49415
@yfried I have tried, ansible_facts variable don't need register, it used to collects information about a machine or device to be managed. but when we used other variable, it must register before to use. Maybe I misunderstanding your means. Could you give a example and the test result? I will try again. Thanks!
[code]
[code]
[code]

[2018-12-03 08:38] karthikgreen1 commented on #41148
fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "/usr/lib/python2.7/site-packages/pysnow/client.py:129: DeprecationWarning: `insert` is deprecated and will
be removed in a future release. Please use `resource()` instead.\n  \"Please use `resource()` instead.\" % inspect.stack()[1][3], DeprecationWarning)\nTraceback (most recent c
all last):\n  File \"/root/.ansible/tmp/ansible-t

[2018-12-03 08:40] karthikgreen1 commented on #41148
Hi

I am getting this error , while i am trying to create change ticket by executing the playbook , could please check on this issue

Thanks & Regards,
Karthik

[2018-12-03 09:01] allarm commented on #49363
Hi @A-Costa ,
The `<class 'ansible.parsing.yaml.objects.AnsibleVaultEncryptedUnicode'>` has the`__str__` method, so the fix is as simple as:

[code]

I have checked it and it works in my setup.

I would be happy to submit the patch myself, need to understand how, never did it before.

[2018-12-03 09:48] A-Costa commented on #49363
Hi @allarm ,
hadn't seen the `__str__` method 🤦‍♂️
yours definitely looks like the right solution, would be nice if patched.

[2018-12-03 10:00] yfried commented on #49415
Here's how it works for me:
[code]
[code]
See here:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/azure/azure_rm_resourcegroup_facts.py#L116

[2018-12-03 10:31] giovannisciortino commented on #49227
@lojies Can you give a look to gather_subset parameter of [setup](https://docs.ansible.com/ansible/latest/modules/setup_module.html) module ? It should resolve your issue, see also this serverfault [post](https://stackoverflow.com/questions/34485286/ansible-gathering-facts-with-filter-inside-a-playbook) related to this feature.

The following command should be enough for your example:
```ansible l

[2018-12-03 10:45] lojies commented on #49227
[code]
it seems to cost the same time as `ansible localhost -m setup -a`
what i expected is less time cost when the set fact is gathered and has a quick return.

[2018-12-03 10:53] Im0 commented on #47200
Still seeing this issue in 2.7.4.   Are we likely to see a fix in 2.7.x?

[2018-12-03 11:22] #43337 closed, assigned to nobody

[2018-12-03 11:43] assarbad commented on #49028
@abadger is there anything missing from my end?

[2018-12-03 11:45] stefanhorning commented on #45043
Opened a PR now #49434 to move this forward.

[2018-12-03 11:49] anasameur commented on #29544
The ssh-agent is a helper program that keeps track of user's identity keys and their passphrases. The agent can then use the keys to log into other servers without having the user type in a password or passphrase again

solution:
$ ssh-agent bash
$ ssh-add ~/.ssh/id_rsa

[2018-12-03 12:12] dagwieers opened #49436 "win_setup: 'ascii' codec can't encode character u'\xf6'"
##### SUMMARY
I got this error recently when running setup using PSRP:

[code]

This issue is related to the fact that the system's description includes the character ö.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_setup

##### ANSIBLE VERSION
v2.8

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 7.6 (master)
Windows 10 (target)

##### STEPS TO REPRODUCE
Change the system's de

[2018-12-03 12:15] dagwieers commented on #49436
This does not happen with WinRM, so the problem lies in the pypsrp library or connection plugin.

[2018-12-03 12:17] dagwieers commented on #49436
Sorry, we obviously fixed this. I thought this was a new issue, but my Ansible tree was using an older branch with the bug still present.

[2018-12-03 12:17] #49436 closed, assigned to jborean93

[2018-12-03 12:20] Klaas- opened #49437 "tower_credentials idempotency issue"
##### SUMMARY

tower_credential is not idempotent when using scm+ssh (have not tried other forms)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_credential

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7
python2-ansible-tower-cli-3.3.0-2.el7.noarch

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

First run: changed, second run no ch

[2018-12-03 12:26] #49368 closed, assigned to nobody

[2018-12-03 12:53] davidebelloni commented on #45105
Hi @bhundven,
is not the same issue.

I have already added 'gcp_compute' to ansible.cfg.

My setup is:
- ```enable_plugins =  gcp_compute,...``` in ansible.cfg
- ```auth_kind: serviceaccount``` in inventory.gcp.yml, but not ```service_account_file: ...```
- envvars ```GOOGLE_APPLICATION_CREDENTIALS=...``` and ```GCP_SERVICE_ACCOUNT_FILE=...``` pointing to the service account

[2018-12-03 12:56] aksharbarot commented on #47808
Below is the output of smbiosDump command from esxi host:

 System Info: #256 (Blade info)
    Manufacturer: "HP"
    Product: "ProLiant BL660c Gen8"
    Serial: "USE307W7SA"
 Chassis Info: #768 (Blade Enclosure - Box)
    Manufacturer: "HP"
    Serial: **"USE3141AJV"**

**Command:**
[root@example.com vmware]# ANSIBLE_STDOUT_CALLBACK=minimal ansible-playbook 1host.yaml -i localhost, | grep -w 'ans

[2018-12-03 12:59] jakegt1 commented on #29544
@anasameur You can have id_rsa's with passphrases. If you have an id_rsa with a passphrase, you will need to write this in when you log into a server.

[2018-12-03 13:56] jharbott commented on #49430
It seems that this is caused by https://github.com/ansible/ansible/pull/49317 , the example at https://github.com/ansible/ansible/issues/48936#issuecomment-443204542 seems to pretty much match our use case.

[2018-12-03 13:56] Borrelworst commented on #28498
Hi,

I am still experiencing this issue when using the 'state: shutdownguest'.
In my case I want to shutdown the guest to update the hardware, which fails with the error "The operation is not allowed in the current state."

Ansible Version: 2.7.0

Guest:
OS: RHEL 7.5
VMWareTools: open-vm-tools-10.1.10-3
ESXi Version: 6.5

[2018-12-03 14:06] cailen commented on #49341
I have this exact same issue. Once I installed redis 3 via Pip, same error message.

[2018-12-03 14:37] bcoca commented on #48859
The text has already changed, https://github.com/ansible/ansible/pull/49080, also i bumped up at the verbosity it shows at.

To clarify this is NOT a warning nor an error, just an informational message that appears when using the verbosity setting.

[2018-12-03 14:49] s-hertel commented on #22498
I'm closing this since `make cloud` is obsolete. The ec2_asg tests are now in a passing state and there is a project of issues to keep track of unstable integration tests that run in CI https://github.com/ansible/ansible/projects/21 (stabilizing PRs welcome).

[2018-12-03 14:49] #22498 closed, assigned to nobody

[2018-12-03 14:52] nesanton commented on #20557
Seems like it's about what I needed back then.

[2018-12-03 14:55] s-hertel commented on #30177
A fix for multi-account use was made in 079299db4d5bec87dc873acb338c25493a0010ef. Please open a new bug report if this is still an issue on devel.

[2018-12-03 14:55] #30177 closed, assigned to nobody

[2018-12-03 14:59] a-ness commented on #45803
This is also affects ansible 2.7.2.

[2018-12-03 15:17] jmnguye commented on #48312
seems like some modules are using lsof, like zypper i think, i had a stuck playbook which was stuck, looking at the prcesses, find out `lsof -n -FpcuLRftkn0` , after killing it, the playbook start to resume :(

[2018-12-03 15:30] sivel commented on #49413
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-03 15:30] #49413 closed, assigned to nobody

[2018-12-03 15:36] s-hertel commented on #30029
Closing since multi-part checksum should be supported as of f20af4b9097edc4ff3136f93c74049e7a43cf6be

[2018-12-03 15:36] #30029 closed, assigned to nobody

[2018-12-03 15:48] feene commented on #47200
Also seeing the issue Ansible 2.7.4 nxos_config module.
is not JSON serializable
Vaulted Password.

[2018-12-03 15:51] s-hertel commented on #30013
Secret keys are not logged by Ansible. But it sounds like what you want are [STS credentials](https://docs.aws.amazon.com/STS/latest/APIReference/Welcome.html). AWS modules work with temporary STS credentials, so you can generate those to use in your playbooks instead of your longer-term credentials. I would also suggest using profiles and roles when possible. If your clients are in EC2 you can as

[2018-12-03 15:51] #30013 closed, assigned to nobody

[2018-12-03 15:52] aaronk1 commented on #22930
@seljuck is this still an issue in 2.7.x?

[2018-12-03 16:01] maxamillion commented on #35767
@akcrisp sounds great, thank you! :)

[2018-12-03 16:03] hslavchev commented on #29451
From the apt module's docs (https://docs.ansible.com/ansible/latest/modules/apt_module.html):

I'm with @agenosov on this for adding **allow_downgrade** parameter

[2018-12-03 16:18] bcoca commented on #48865
@shaunsmiley-rms that seems to be a bug on Java YAML parser side.

[2018-12-03 16:24] xenlo opened #49447 "vmware_deploy_ovf - not dealing with vService dependency 'vCenter Extension Installation'"
##### SUMMARY
When trying to deploy the vSphere Replication ovf, with the `vmware_deploy_ovf`, it fails and I get the following error message: «_The virtual machine 'replication_ansibleTest_ovf' has a required vService dependency 'vCenter Extension Installation' which is not bound to a provider._»

##### ISSUE TYPE
- Bug Report
- ? Missing Feature: '_vCenter Extension Installation_' ?

##### COMPO

[2018-12-03 16:34] seljuck commented on #22930
@aaronk1  Sorry, I have not upgraded in sometime so I can't comment on 2.7

[2018-12-03 16:36] bcoca commented on #48312
see if this helps with the mounts #49398

[2018-12-03 16:37] Akasurde commented on #49225
@zhaolx01 Any news?

[2018-12-03 16:44] shaunsmiley-rms commented on #48865
Agreed.

[2018-12-03 16:45] bcoca commented on #30411
So we are looking into a few things that might help, #47684  adds a new event for callbacks to show 'which host' a task is being started on, then you can compare against 'finished' hosts to figure out which one hung.

Another line of attack is #49398, which attempts to deal with the primary suspect/culprit in most cases, querying mount information, this hopes to both make the process faster, disow

[2018-12-03 17:02] Akasurde commented on #48408
@y2kkarthik Could you please try using `tag:name` as key in playbook ? I see that is the only one difference between your playbook and @san7ket's playbook i.e. Yours contains capital 'N' and his small 'n'.

needs_info

[2018-12-03 17:13] BarbzYHOOL commented on #48859
hmm true, warnings are in purple and errors in red

i still don't know what the message is about though :D

[2018-12-03 17:18] chadmiller-amzn commented on #48823
I want to confirm `/etc/os_release` is the correct file to parse, not the human-legible `/etc/system_release`.

[2018-12-03 17:38] bcoca commented on #49227
@logies filter costs the same, its just a 'grep on output' you want to use 'subset' to avoid costly information gathering

[2018-12-03 17:41] ericdost commented on #47200
I recommend loading the `connection.py` referenced in PR #48306 that @liltechdude referenced.  That fixed the issue for me as well.  It appears to be merged into 2.8.

[2018-12-03 17:52] pillarsdotnet commented on #43256
@acozine -- Could you please re-open this issue? It is not completely resolved yet.

[2018-12-03 19:07] BarbzYHOOL commented on #43884
One of these solved it:

gather_subset = !all
gather_timeout=20

But that issue was a real headache, I couldn't use any lookup plugin. This is a high priority bug

[2018-12-03 19:22] donaldguy opened #49448 "Please clearly specify that until does not work on includes"
##### SUMMARY
#17098 was closed as essentially WONTFIX

Is not at all clear (and the opposite is implied by)

https://github.com/ansible/ansible/blob/3cbb66dd538dd41bedfbacf7e78185369c47d62d/lib/ansible/modules/utilities/logic/include_role.py#L25

https://github.com/ansible/ansible/blob/e2f85b3f6cfd56846e65cad51c5fe47c551e72dd/lib/ansible/modules/utilities/logic/include_tasks.py#L29

I'd make a PR

[2018-12-03 19:52] karthi81 commented on #44245
Thanks for your help here!

Here are a few other details:

I have VM and Ansible installed on different Virtual Env. I am getting the error when I try to use delegate_local parameter to connect with VCenter.

Sample Code:
- name: Gather facts about ESXi Host
  vmware_host_config_facts:
    hostname: '{{ vcenter_hostname }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password

[2018-12-03 20:26] IPvSean opened #49450 "doc issue - route53_facts requires hosted_zone_id parameter"
##### SUMMARY
the route53_facts module requires hosted_zone_id parameter (we need to just update the documentation with RED text here saying required or at least update the notes.

my playbook->
[code]
The output from my playbook

[code]

the hosted_zone_id looks required from the output provided above

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
route53_facts

https://docs.ansib

[2018-12-03 20:26] nicolasbock opened #49451 "`os_router` is not idempotent when server is attached"
##### SUMMARY

The `os_router` module is not idempotent when an interface is attached to a server. The module tries to indiscriminately detach _all_ interfaces in https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/openstack/os_router.py#L454 which fails in this case.

An example error message:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`os_router`

[2018-12-03 20:37] samdoran commented on #49401
`!component=lib/ansible/modules/storage/netapp/na_ontap_user.py`

[2018-12-03 20:38] samdoran commented on #49368
Thank you for the feedback.

[2018-12-03 21:02] IPvSean opened #49452 "route53_facts improvements - allow zone instead of hosted_zone_id"
##### SUMMARY
the route53_facts module has several small improvements to make it much more user friendly

1. `hosted_zone_id` is not human friendly and we should provide an alternative similar to the `route53` module where we can just use `zone`

The only way to automate this currently is to use the routet53_zone module and register the output and grab the zone_id (which is return value from that

[2018-12-03 21:11] ichekaldin opened #49453 "aws_config_recorder module always reports changed if resource_types list is not specified"
##### SUMMARY

aws_config_recorder module will report as Changed if resource_types list attribute is not specified.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aws_config_recorder module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Create an AWS Config configuration recorder as follows:

[code]

##### EXPECTED RESULTS

[2018-12-03 21:17] ichekaldin commented on #49453
I believe this has to do with dictionary comparison on line 123 (`update_resource` method):

[code]

Here is the what `current_params` variable looks like with the example I used above:

[code]

And here is `params` variable that it's being compared to:

[code]

`recordingGroup['resourceTypes']` value is missing, and therefore the comparison always ends up being `false`.

A simple way to fix it wo

[2018-12-03 21:36] stcheng commented on #24215
+1

[2018-12-03 21:45] ichekaldin commented on #39771
This appears to have been fixed in #39773.

[2018-12-03 21:45] #39771 closed, assigned to nobody

[2018-12-03 22:12] rhcarvalho commented on #20557
@Akasurde thank you very much for the PR! I'll close this issue as being resolved. Now the docs for action plugins is on par with the other plugin types. :tada:

[2018-12-03 22:12] #20557 closed, assigned to acozine

[2018-12-03 22:12] IPvSean opened #49457 "route53_facts can't return a list of max_items > 100"
##### SUMMARY
The route53_facts offers the parameter `max_items: 200` but it seems to max out at 100 no matter what?  Should either
**A)** allow us to go bigger than 100
OR
**B)** error and tell us we can't go bigger than 100 and document this is an AWS limitation rather than an Ansible one

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
route53_facts

##### ANSIBLE VERSION
[code]

##### CONF

[2018-12-03 22:34] jborean93 commented on #49226
There's no builtin solution for using LAPS in Ansible but I've been playing around with it recently and can give you some more info. I've recently created a role that can install and/or configure LAPS on a Windows host https://github.com/jborean93/ansible-role-win_laps. If you've already got LAPS integrated in your environment then it is still possible to get the password from AD as it is just LDA

[2018-12-03 22:34] #49226 closed, assigned to nobody

[2018-12-03 23:22] ianw commented on #49430
Ok; yes this exactly matches.  Actually calling "Reload iptables (Debian)" worked, and I had a typo (RedHat v Red Hat) that made me think it wasn't.  I'm not sure about breaking this without deprecation, but that's' why we test against devel :)

[2018-12-03 23:22] #49430 closed, assigned to nobody

[2018-12-04 02:54] Fred-sun commented on #49415
@yuwzho @zikalino Could you help take a look this issue? azure_rm_routetable_facts and azure_rm_containerregistry_facts undefine ansible_facts register variable. Thanks!

[2018-12-04 03:57] XiaogangJiang commented on #30567
@gundalow
Dear experts,
  I am using network_cli+ios against a ericsson network device and met the same issue.
  I coded an invalid command "aa bbb" in the playbook as below
      - name: "wrong command in task"
        ios_command:
          commands:
            - aaa bbb

Below is the command output if I manualy execute this invalid command in the device CLI.
I am expecting the "syntax error" c

[2018-12-04 04:31] levisbakalinsky commented on #43506
Any plans to add this functionality in future versions?

[2018-12-04 04:58] Akasurde commented on #15746
@drzraf I am not able to reproduce this on latest devel. Could you please retry and let us know if it is still issue ?
[code]

Console
[code]

[2018-12-04 05:20] Fred-sun commented on #40857
@yungezz

[2018-12-04 05:38] Fred-sun commented on #39958
@yungezz How about this issue going ahead? Could we can closed this? Thanks!

[2018-12-04 05:39] Fred-sun commented on #41003
@zikalino How about this issue going ahead ? Could we can closed this? Thanks!

[2018-12-04 05:47] Fred-sun commented on #43416
@yuwzho

[2018-12-04 05:54] yungezz commented on #39958
@zikalino   could you pls help to look at the issue?

[2018-12-04 05:59] pain301 opened #49463 "Execute k8s task failed"
##### SUMMARY

This is a very simple k8s module task
[code]
I exec task with command ansible-playbook, and get error messages as follows:
[code]
However, I am sure I did have installed openshift.I can find openshift modules under python directory.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module: k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

c

[2018-12-04 06:20] Fred-sun commented on #45176
kindly ping

[2018-12-04 06:20] willthames commented on #49463
Usually this is a result of Ansible using a different python to the one you expect.

https://willthames.github.io/2018/07/01/connection-local-vs-delegate_to-localhost.html

Using `ansible_python_interpreter: "{{ ansible_playbook_python }}"` might help - if not, we'll need a lot more detail about how you're running ansible - the output of running a k8s task with `-vvv` will be most helpful

[2018-12-04 06:37] Borrelworst commented on #28498
Thanks for the answer! I did not get that this was the setting you needed to use out of this thread or the PR.

[2018-12-04 06:40] Tomorrow9 commented on #42397
If no one is working on this, I can try to take care of this. Thanks.

[2018-12-04 06:47] pain400 commented on #49463
I exec command:
[code]
And get messages as follows:

[code]

[2018-12-04 06:54] willthames commented on #49463
Ah, ok, this is slightly different to what I thought.

The openshift python library needs to be installed on 192.168.200.22, rather than on your local machine.

We could probably make the error message clearer.

[2018-12-04 07:01] Fred-sun commented on #48723
@zikalino

[2018-12-04 07:02] pain400 commented on #49463
k8s server run on 192.168.200.22, and I operate k8s on 192.168.1.3, so I think openshift python lib should be installed on client(192.168.1.3). And I have already installed openshift on 192.168.200.22(k8s)

[2018-12-04 08:45] NikolayDachev opened #49465 "password/pass no_log"
##### SUMMARY
I'm working on custom module for ansible, in this module we have several vars which are include *password* key word. For all those var I get warring for no_log usage however they no need no_log to be set to true. Same is If I change it form *password* to *pass*

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module no_log

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

[2018-12-04 08:47] sumkincpp commented on #36880
Interactive confirmation is *must to have* in networking modules.
Simply we can use chained regular expressions for pexpect.

[2018-12-04 08:55] tamsky commented on #48823
My vote is for `/etc/os_release`

[2018-12-04 09:13] jifox opened #49466 "network_cli - ansible_command_timeout not working as documented"
##### SUMMARY

I run into a timeout after 10sec even specifying the parameter `ansible_command_timeout`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

network_cli ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Catalyst 9300-48P  IOS XE 16.6.4a

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

File should be downloaded to the switch

[2018-12-04 09:44] szi-secunet commented on #17193
When the extra variable gets omitted, it might be useful to add a default:

    when: myflag | default(false) | bool

[2018-12-04 09:46] ceving commented on #17193
It might be useful to add a default, in case the extra var gets omitted:

    when: myflag | default(false) | bool

[2018-12-04 11:16] gundalow commented on #49363
https://github.com/ansible/ansible/pull/49365 fixes this, review on the PR welcome

[2018-12-04 11:17] Akasurde commented on #16026
@kinvaris Can you please try `ansible-inventory --graph` which gives you nice graph of your inventory.

[code]

Let us know if it works for you ? Thanks.

needs_info

[2018-12-04 11:33] augusto commented on #47739
I just experienced the same with ansible 2.7.1 running on Ubuntu 18.04 and connecting to a server running Ubuntu 18.04.

I can see from the logs (/var/log/system) that ansible did start apache

and when I run `systemctl status apache2` I can see that apache died.

As the original report, when I log in the server and start apache, all is good. There are no errors
My understanding of systemd is extr

[2018-12-04 11:41] ghost opened #49471 "Iam module should include codecommit credentials management"
##### SUMMARY

- iam module should manage codecommit credentials creations/deletion , both ssh and https.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

iam

##### ADDITIONAL INFORMATION

The feature is needed to
- automate credential creations/deletion for users: until now we can create aws secret key and access key but not ssh / https credentials for AWS Codecommit interactions.

[code]

[2018-12-04 11:49] michaalbert commented on #27268
I'm also having this issue in 2.7.4.

[2018-12-04 11:50] Akasurde commented on #16445
resolved via #16446

[2018-12-04 11:50] #16445 closed, assigned to nobody

[2018-12-04 12:27] #47632 closed, assigned to trishnaguha

[2018-12-04 12:28] paneu opened #49472 "Parsing JSON output from the callback plugin is not possible when the playbook fails"
##### SUMMARY

When using the `json` stdout callback plugin and the playbook fails, there is no valid JSON output anymore due to the fact that the line `to retry, use: --limit ...` will be printed before the actual JSON.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/callback/json.py
lib/ansible/executor/playbook_executor.py

##### ANSIBLE VERSION

[code]

##### CONFIGUR

[2018-12-04 12:28] duck-rh opened #49473 "IPv6 link-local address half-missing from facts"
##### SUMMARY
The interface link-local address appears in `ansible_all_ipv6_addresses` fact but is missing from the `ansible_eth0.ipv6` list.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control node is on Debian unstable and targeting a CentOS 7 node.

network info:
[code]

##### STEPS TO REPRODUCE
you

[2018-12-04 12:30] #43686 closed, assigned to nobody

[2018-12-04 12:43] Akasurde commented on #17282
@rawbertp As you know 2.1 is EOL and I am not able to reproduce this issue on 2.7 and devel (2.8)

Ansible 2.7
[code]

Ansible 2.8 (devel)

[code]

I will close this issue. Please feel free to re-open if you are able to reproduce this issue. Thanks.

[2018-12-04 12:43] #17282 closed, assigned to nobody

[2018-12-04 12:43] #46689 closed, assigned to nobody

[2018-12-04 13:09] gundalow commented on #49471
!component lib/ansible/modules/network/system/net_user.py
!component lib/ansible/modules/system/user.py
!component lib/ansible/parsing/utils/yaml.py
!component lib/ansible/plugins/connection/ssh.py

[2018-12-04 13:41] dwerder commented on #40400
Same for me

ansible 2.7.3

If I use the tag `never` in the playbook directly it works. If I use it in a role it does not.

[2018-12-04 13:46] mkrizek commented on #48984
Forgot to mention, the above is true for Python 3. However, on Python 2, the expected result (from the issue description) is generated after templating.

[2018-12-04 13:49] Akasurde commented on #17428
@agaffney Are you still facing this issue ? needs_info

[2018-12-04 13:54] Akasurde commented on #17389
@Yatekii Ansible 2.1 is [EOL](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html) and also, using bare variable is deprecated. I will close this issue. Please feel free to re-open this issue if problem persists. Thanks.

[2018-12-04 13:55] dwerder opened #49475 "special tag never seems to be ignored in roles"
##### SUMMARY
If I use the tag `never` in a playbook it works like the docs describe. But if I use it in roles or with import_tasks it seems to be ignored.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tags

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 8.11

##### STEPS TO REPRODUCE
Write a playbook and have a task with tags `never` and `debug`
[c

[2018-12-04 14:03] matiza5 opened #49477 "s3_sync exclude option is ignored during listing files on S3 bucket."
##### SUMMARY

Hello,

I'm trying to use ansible s3_sync module with `delete: yes` option to upload new version of application and remove any previous version files. Inside the same directory, I am syncing with, there is a directory `feature`. I would like to skip this directory from being considered during sync operation, that's why I was trying to use `exclude` option, but with no luck. As i rea

[2018-12-04 14:05] gundalow commented on #31204
Needs breaking down into multiple issues

[2018-12-04 14:10] gundalow commented on #31965
Fixed by https://github.com/ansible/ansible/pull/32115

[2018-12-04 14:10] #31965 closed, assigned to nobody

[2018-12-04 14:10] dw commented on #45839
I've tried to reach sivel by IRC repeatedly for 2 weeks without success, despite an otherwise active IRC client. That means we're back in a position where there's no medium for planning discussion and the only avenue is blind PRs, and therefore no sensible mechanism to contribute.

I'd love to know if there is a better place to discuss ansible-baseline, otherwise feel free to strike these items of

[2018-12-04 14:13] #32077 closed, assigned to nobody

[2018-12-04 14:15] triat commented on #41776
In my case:
Ubuntu18
ansible 2.5.11

I've added a group vars for all my hosts `group_vars/all` with inside
[code]

I had also the error that boto3 and botocore ware missing, after looking at the script it generate with `ANSIBLE_KEEP_REMOTE_FILES=1`, I could see that the script was created with `#!/usr/bin/python` as a first line, which was wrong.

I've tried to put `ansible_python_interpreter: /us

[2018-12-04 14:16] Qalthos commented on #32035
Hello,

This appears to be fixed in recent versions of ansible, and as such, we are going to close this issue. If you find that this is still an issue for you, please open a new issue with logs from the most recent release of ansible.

Thanks!

[2018-12-04 14:16] #32035 closed, assigned to nobody

[2018-12-04 14:17] gundalow commented on #32683
resolved_by_pr: 44660

[2018-12-04 14:19] Kamapcuc opened #49478 "Intersection in patterns seems doesn't work well"
### ISSUE TYPE
 - Bug Report

### COMPONENT NAME
Patterns

### ANSIBLE VERSION
2.5.1

### STEPS TO REPRODUCE
My `inventory.yml` looks like:
[code]
#I have three playbooks:
`playbook.yml`
[code]
`pre.yml` (And the same `prod.yml`)
[code]

So, when i run my pre playbook, i expect to see:
[code]

But actual results is:
[code]

[2018-12-04 14:23] gundalow commented on #33036
I believe `diff` is what you are looking for

[2018-12-04 14:23] #33036 closed, assigned to nobody

[2018-12-04 14:24] gundalow commented on #33036
Have a look at https://github.com/network-automation/diff_configs

[2018-12-04 14:25] #33415 closed, assigned to nobody

[2018-12-04 14:26] #33554 closed, assigned to bcoca

[2018-12-04 14:33] Kamapcuc commented on #49478
if i change `hosts: "{{ env }}:&account"` to `hosts: "{{ env }}"` it will select [1:6] servers. o.O

[2018-12-04 14:38] matiza5 commented on #49477
This is related to this `--delete` option introduction: https://github.com/ansible/ansible/pull/28249

[2018-12-04 14:39] gundalow commented on #34125
@reenlam Does this still apply?

Previously we've seen issues where multiple (full or partial) installs of Ansible are installed

needs_info

[2018-12-04 14:42] gundalow commented on #34701
@aetelman I believe this is fixed.

There were some know issues with ios and earlier versions of Ansible where "prompts" were not read correctly.

[2018-12-04 14:42] #34701 closed, assigned to Qalthos

[2018-12-04 14:43] gundalow commented on #34709
Sean said close...

[2018-12-04 14:43] #34709 closed, assigned to nobody

[2018-12-04 14:49] gundalow commented on #34711
tx_rate and rx_rate exist now

[2018-12-04 14:51] agaffney commented on #17428
The test playbook does still fail with a similar traceback, but this was never really my issue (it was filed on behalf of another user), so I don't personally care about it.

[2018-12-04 14:53] gundalow commented on #34997
Need to find WIP PR and `resolve_by_pr` this

[2018-12-04 14:57] gundalow commented on #35523
What about
[code]

[code]

It is strange we haven't seen more reports of this.

How are you using `{{` in your text

[2018-12-04 15:08] gundalow commented on #36148
@pythonxy I believe `juniper_junos_rpc` is one of the Juniper roles, you'll need to raise this against Junpier's repo

[2018-12-04 15:08] #36148 closed, assigned to nobody

[2018-12-04 15:10] jmcgill298 commented on #35523
Hey @gundalow

What would `json` represent, and what would `text` represent?

The use case I came across was a description field.
[code]

[2018-12-04 15:10] #36906 closed, assigned to acozine, samccann

[2018-12-04 15:11] gundalow commented on #36940
@samccann Feel free to chat to me about this

[2018-12-04 15:12] gundalow commented on #37063
Still missing

[2018-12-04 15:14] ilpianista opened #49483 "win_uri: fails to send json with just one item"
##### SUMMARY
`win_uri` fails to send a JSON with just one item into it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_uri

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Windows 2012 R2

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
Request's content should be `{ "foo": "bar" }`

##### ACTUAL RESULTS
Request's content is `System.Object[]`.

[2018-12-04 15:15] gundalow commented on #37292
@Qalthos thinks this maybe an issued in `lib/ansible/plugins/cliconf/eos.py`

[2018-12-04 15:16] sivel commented on #49472
Duplicate of https://github.com/ansible/ansible/issues/36928

[2018-12-04 15:16] #49472 closed, assigned to nobody

[2018-12-04 15:17] gundalow commented on #37366
@ganeshrn Could you take a look please

[2018-12-04 15:48] gundalow commented on #36000
!component -lib/ansible/plugins/connection/netconf.py
!component -lib/ansible/plugins/connection/network_cli.py
!component -lib/ansible/plugins/connection/persistent.py

[2018-12-04 15:49] #32683 closed, assigned to ganeshrn

[2018-12-04 15:50] gundalow commented on #35523
@jmcgill298 ah, good point, I may need better names, I was thinking something to force Ansible to treat the files as json (default) or plain text

[2018-12-04 15:59] Gaby033 commented on #37198
So 8 months later, since my last post, my config is now as follow :
Ansible : 2.7.1
AWX : 2.1.0
Which means I only upgraded Ansible & AWX. My playbook hasn't changed either (with the "vlan: 10" still removed).

I have changed my VM template, instead of using Debian 7.8 it's Debian 9.4.
I have modified one thing on my VM template in vsphere, by editing the parameters, "Options", OS client -> Linux

[2018-12-04 16:04] #45833 closed, assigned to nobody

[2018-12-04 16:04] #45817 closed, assigned to nobody

[2018-12-04 16:07] Qalthos commented on #33643
So after some contemplation, I have made an attempt at gracefully failing this in the above PR. I have tested it after a fashion by changing `section` to something invalid on all platforms, but would like verification that this works with the real issue in question.

needs_info

[2018-12-04 16:22] caezsar opened #49487 "VM Vsphere clone VM error: AttributeError: 'PyVmomiHelper' object has no attribute 'module'"
##### SUMMARY

When trying to clone a new VM I get this error:

##### ISSUE TYPE
 The error was: AttributeError: 'PyVmomiHelper' object has no attribute 'module'

##### COMPONENT NAME

`lib/ansible/modules/cloud/vmware/vsphere_copy.py`

##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-12-04 16:24] shaunsmiley-rms commented on #48865
I have confirmed that this also affects 2.6.x.

[2018-12-04 16:34] samdoran commented on #46788
This was fixed in #49002

[2018-12-04 16:34] #46788 closed, assigned to nobody

[2018-12-04 16:40] jmcgill298 commented on #35523
The default would be Jinja, so it should be
[code]
[code]

[2018-12-04 16:40] #45543 closed, assigned to nobody

[2018-12-04 16:43] gundalow commented on #35523
@jmcgill298 Need more coffee, thanks, that's what I meant.

Do you think that would be a clean solution?

[2018-12-04 16:43] jmcgill298 commented on #35523
I think that is a good solution.

[2018-12-04 16:52] jmahler commented on #48823
From info here [1] os-release was established by systemd which suggests
it isn't guaranteed to be present on pre-systemd systems.

A solution that uses /etc/os-release if possible and falls back to /etc/system-release
otherwise would avoid potential backward incompatibilities.

[1] http://0pointer.de/blog/projects/os-release.html

[2018-12-04 16:52] Zauxst commented on #38146
I'm on 2.5.4 ; What @ericdost suggested has worked. Removed the vault_password_file and it functions.

[2018-12-04 17:32] jeking3 commented on #37259
I need this feature for something I am working on, so I am going to work on adding it.

[2018-12-04 17:32] #27210 closed, assigned to nobody

[2018-12-04 18:03] sivel commented on #49475
I cannot duplicate this with the following reproducer:

playbook.yml

[code]

import_me.yml

[code]

roles/debugrole/tasks/main.yml

[code]

output

[code]

!component =lib/ansible/playbook/taggable.py

[2018-12-04 18:42] Cameronwyatt opened #49493 "CloudForms dynamic inventory should use the hostname of the instance, if present, as the name of the host"
##### SUMMARY
Other inventories, such as the one for Satellite and VMware vCenter, will key the name of the host in the inventory off of the hostname of the VM. The CloudForms inventory, by default, uses the name of the VM. If you have an inventory with multiple sources in it, the CloudForms dynamic inventory using the name (and not the hostname) can cause a duplication of instances. For instance,

[2018-12-04 19:01] k1p0d opened #49495 "Conditional sentence "when: ..." gets ignored when developing using the API"
##### SUMMARY

When developing using the Ansible API, i noticed when trying to use conditionals with "when" option. it is always getting ignored.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible API

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Basically icopied paste the exmaple and added the following -

[code]

if "wh

[2018-12-04 19:37] sivel commented on #49495
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2018-12-04 19:37] #49495 closed, assigned to nobody

[2018-12-04 19:46] sivel commented on #49232
!component =lib/ansible/modules/system/firewalld.py

[2018-12-04 19:49] gundalow commented on #49232
!component lib/ansible/galaxy/data/apb/vars/main.yml.j2
!component lib/ansible/modules/commands/command.py
!component lib/ansible/modules/system/interfaces_file.py
!component lib/ansible/modules/utilities/logic/include_vars.py
!component lib/ansible/parsing/utils/yaml.py
!component lib/ansible/playbook/loop_control.py
!component lib/ansible/plugins/lookup
!component test/integration/targets/includ

[2018-12-04 19:53] gundalow commented on #49252
@laszlof Thank you for this bug report.
If we "just" make the error message better, would that be OK for you?

We *may* be able to make this work, though that would be something we'd need to investigate more

[2018-12-04 19:54] sivel commented on #49259
!component =bin/ansible-connection

[2018-12-04 19:56] gundalow commented on #49259
May need to updated `bin/ansible-connection` to fail gracefully if the generated hostname includes a `/`

[2018-12-04 20:05] laszlof commented on #49252
Yeah, I'm fine with that. Clearly I did not have enough RAM in my system to load up the entire file into memory. I'd guess this is probably an edge case at best.

[2018-12-04 20:09] abadger commented on #49270
SSH ControlPersist will leave some ssh processes running for a while so that a new connection won't have to go through the full handshaking process.  In your ps output, we can see those as the [mux] connections.  We're wondering if the zombie processes are being held open by those ssh muxing processes.  Can you check if the zombies go away when the other ssh processes have exited?

needs_info

[2018-12-04 20:11] sivel commented on #49282
The problem here is that you are not quoting enough on the CLI for the quotes to be maintained.  This is a shell issue and not an issue with ansible.

The easiest solution for you is to escape your inner double quotes with extra vars:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/f

[2018-12-04 20:11] #49282 closed, assigned to nobody

[2018-12-04 20:16] sivel commented on #49288
!component =lib/ansible/modules/cloud/google/gcp_sql_instance.py

[2018-12-04 20:16] gundalow commented on #49291
lib/ansible/modules/cloud/amazon/elb_application_lb.py
!component lib/ansible/modules/cloud/amazon/elb_target_group.py
!component lib/ansible/parsing/utils/yaml.py
!component lib/ansible/playbook/loop_control.py

[2018-12-04 20:23] sivel commented on #49323
!component =lib/ansible/modules/system/puppet.py

[2018-12-04 20:31] sivel commented on #49342
We have discussed this and decided against adding such a feature.

Instead of relying on the registered data, we recommend placing the needed data in variables and re-using that throughout the playbook.

If you would like to discuss this further feel free to stop by the #ansible-devel IRC channel, or join one of our core IRC meetings.

If you have further questions please stop by IRC or the mailin

[2018-12-04 20:31] #49342 closed, assigned to nobody

[2018-12-04 20:39] #49370 closed, assigned to nobody

[2018-12-04 20:42] #49393 closed, assigned to nobody

[2018-12-04 20:43] gundalow commented on #49403
bot_status

[2018-12-04 20:47] kbreit opened #49505 "Move Digital Ocean modules to new integration framework"
##### SUMMARY
Current integration tests for Digital Ocean are based in the legacy integration test framework. These should be moved to the new framework with an `unsupported` aliases file.

Pending merge of #49274

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
digital_ocean

[2018-12-04 20:50] samdoran commented on #49452
!component=lib/ansible/modules/cloud/amazon/route53_facts.py

[2018-12-04 20:55] sivel commented on #49477
!component =lib/ansible/modules/cloud/amazon/s3_sync.py

[2018-12-04 20:59] kbreit commented on #49505
I am using a new branch to do this migration. https://github.com/kbreit/ansible/tree/digital_ocean/integration_tests

[2018-12-04 21:05] gundalow commented on #49465
@NikolayDachev Thank you for this bug report

Currently basic.py has
https://github.com/ansible/ansible/blob/345b6cdec8dc79c3be45598a2a4906329ab4caf5/lib/ansible/module_utils/basic.py#L2228-L2241

I'll take a look at extending this logic to also skip if `no_log` is explicitly set to false

[2018-12-04 21:41] abadger commented on #49343
Hmm... first question in diagnosing this... does the apache group exist on those machines?

needs_info

[2018-12-04 21:47] abadger commented on #49343
The callback failure is separate.... it looks like a bug in the python that's being used in RHEL8, the json.py stdlib module with sort_keys = True.

I see it on Python-3.6 as shipped by Fedora as well:
[code]

We'll have to work around that python bug in our code while we file a bug for it to be fixed upstream.

[2018-12-04 21:52] abadger commented on #49343
Found a previously filed python3 bug for the callback/json.dumps()  issue https://bugs.python.org/issue25457  There seems to be a proposed fix but it needs a python core maintainer to review and approve it.  If you know of one, you could give him a nudge ;-)

[2018-12-04 21:59] abadger commented on #49343
And the PR for it as well: https://github.com/python/cpython/pull/8011

[2018-12-04 22:46] abadger commented on #49343
@tabowling I think that PR #49512 will fix the warning coming from the callback plugins.  It won't fix the traceback you're getting from the file module, though.

[2018-12-04 23:04] #15816 closed, assigned to nobody

[2018-12-04 23:04] Yatekii commented on #17389
I hope this doesn't come across rude, but it sounds like you didn't even read my issue. It' is not about the bare variable at all but about the maybe vague deprecation message.
No worries, I long forgot about his, so you are free to close it.

[2018-12-04 23:07] cukal opened #49513 "win_nssm fails to set simple password"
##### SUMMARY
From Ansible >2.7.1 win_nssm fails to set a simple password. Not linked to special characters.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_nssm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

[code]

##### EXPECTED RESULTS

Being able to start the service

##### ACTUAL RESULTS

win_nssm returns normally, no errors reported but the serv

[2018-12-04 23:15] BarbzYHOOL commented on #25366
Damn I need this right now :'( else I can't progress further in my installation and the offered solution is NOT a solution at all

[2018-12-04 23:25] #49513 closed, assigned to nobody

[2018-12-04 23:32] gotenatsiu opened #49515 "ec2_ami device_mapping is failing on version 2.7 but not 2.4"
##### SUMMARY

ec2_ami fails when using device_mapping
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_ami

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[tt@localhost ansible]$ cat /etc/redhat-release
CentOS Linux release 7.5.1804 (Core)
[tt@localhost ansible]$ uname -a
Linux localhost.localdomain 3.10.0-862.14.4.el7.x86_64 #1 SMP Wed Sep 26 15:12:11

[2018-12-04 23:37] bjonnh commented on #43347
I have the same issue, did you find a solution?

[2018-12-05 00:38] #48728 closed, assigned to nobody

[2018-12-05 00:51] Vaygh commented on #45817
I reverted to spinning up VMs based on a template with an OS installed.

[2018-12-05 01:47] Akasurde commented on #17389
Sorry if I don't understand your issue.

[2018-12-05 01:50] Akasurde commented on #49487
@caezsar Thanks for reporting this issue. This was introduced due to https://github.com/ansible/ansible/pull/47313 and resolved by https://github.com/ansible/ansible/pull/49421. Could you please check if #49421 fixes the issue for you ? Thanks.

[2018-12-05 01:52] Akasurde commented on #49487
Backport for 2.7.5 merged - https://github.com/ansible/ansible/pull/49461

[2018-12-05 02:14] dagwieers commented on #49483
I can reproduce this on devel branch using this minimal reproducer:
[code]

[2018-12-05 02:14] Fred-sun commented on #37259
@jekin3 Thanks for  your contribution, when you submitted your changed, I will push for review and merge.

[2018-12-05 02:39] pain400 commented on #49463
I am completely confused. I have a remote k8s server(192.168.200.22), and I want to create k8s namespace on my local machine(192.168.1.3) by `ansible_playbook`. You mean I should install openshift lib on k8s server(192.168.200.22)?

## /k8s/site.yml
[code]

## /k8s/roles/namespace/tasks/main.yml
[code]
I exec `ansible-playbook site.yml -i hosts -e host=k8s` failed.

[2018-12-05 03:29] #48623 closed, assigned to Akasurde

[2018-12-05 03:44] contextuo commented on #48134
If it's not too late to add my $0.02...

I think it would indeed be prudent if the same _mount_ module would implement this.  There are huge advantages of avoiding the creation of a new module, including the state being a variable.

Also "present" and "absent" are not past-tense.  I think the form which would be most suitable is:
`state: ephemeral`

[2018-12-05 05:02] rgm3 commented on #17428
This still affects my team from time to time.  I've trained them on workarounds.

[2018-12-05 05:19] Akasurde commented on #49450
resolved_by_pr #49525

[2018-12-05 05:33] jose-delarosa commented on #48364
@billdodd, I tested your proposed code to implement OEM-specific code and it works well. Just need to update with the new parameter names, add a RETURN section, and perhaps rename the class to IdracRedfishUtils.

The playbook I used to test it is a bit different, but the idea is the same:

[code]
How do you want to handle this? Do you want to submit a PR for a new module `idrac_redfish_command`? O

[2018-12-05 05:40] adilio commented on #32478
Our team has just run into this issue as well. We are attempting to manage the multiple built-in Windows Firewall rules, that are assigned to different profiles. In our case the rules are `Windows Remote Management (HTTP-In)` , and we also get:
[code]

Has there been any resolution or workaround to this (or a PR awaiting merge we're missing)? We'd like to avoid deleting built-in Windows rules, if

[2018-12-05 06:33] #49363 closed, assigned to nobody

[2018-12-05 06:35] ilboud opened #49528 "vmware_host_service_facts returns AttributeError: 'NoneType' object has no attribute 'sourcePackageName'"
##### SUMMARY

Using module vmware_host_service_facts returns "gather_host_facts AttributeError: 'NoneType' object has no attributeerror" when gathering facts about all ESXi Host in given Cluster.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/vmware/vmware_datastore_facts.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Redhat

[2018-12-05 06:58] rahul12131 commented on #19584
able to excute playbook with ansible but while executing same playbook with ansible tower  getting error

[2018-12-05 07:55] Fred-sun commented on #49419
@yfried Thanks for your contribution. I meet same error with your, it happened on the subnet has been exist a router table, can't re-create same name subnet without router table. But if you create the same name subnet with new router table, it will create success and the subnet will move to new router table.  you can retry as below yml.
@yuwzho If I make a mistake, please help me point it out. Tha

[2018-12-05 07:57] Akasurde commented on #49528
@ilboud Thanks for reporting this issue. Could you please try this patch https://github.com/ansible/ansible/pull/45155 and let me know if it works for you ? Thanks

needs_info

[2018-12-05 08:13] Fred-sun commented on #49281
@yuwzho @zikalino  I don't know how to reproduce it? Could you help take a look this issue? Thanks!

[2018-12-05 08:26] dieterdm opened #49531 "ovirt_vm fails to create a VM when running=true and wait=false on RHHI-V."
##### SUMMARY
ovirt_vm fails to create a VM when running=true and wait=false on RHHI-V.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ovirt_vm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Workstation:
Ansible version 2.7.2 on Fedora 29
ovirt-engine-sdk-python==4.2.8 (from pip)

Red Hat Hyperconverged Infrastructure:
Red Hat Virtualization Host 4.2.7
Glu

[2018-12-05 08:37] tgoetheyn commented on #41484
ho @Akasurde ,
I tested this and everything works fine!

[2018-12-05 08:50] Akasurde commented on #17871
resolved_by_pr #49532

[2018-12-05 08:50] NikolayDachev commented on #49465
Thanks, I will update my module fir no_log=False where is needed for future compliance

[2018-12-05 08:52] Akasurde commented on #17871
For posterity, this can be achieved using `ipaddr('network/prefix')` filter.

[code]

results in

[code]

[2018-12-05 09:09] gfidente commented on #43884
For TripleO, increasing gather_timeout to 30secs did not resolve the issue [1]; fwiw the command timing out seems to be for everybody udevinfo:

  /usr/bin/udevadm info --query property --name /dev/vda1

This call has been introduced in 2.6 ; maybe there are alternatives?

1. https://logs.rdoproject.org/60/14960/23/check/legacy-rdoinfo-tripleo-master-testing-centos-7-multinode-1ctlr-featureset016/

[2018-12-05 09:09] Akasurde commented on #17692
cc @felixfontein

[2018-12-05 09:14] Akasurde commented on #41484
@tgoetheyn Thanks for testing and feedback.

[2018-12-05 10:07] jdavid5815 commented on #46484
@Akasurde Any news on the issues?

[2018-12-05 10:21] #49450 closed, assigned to Akasurde

[2018-12-05 10:21] Akasurde commented on #41484
Closing this issue as PR #47859 is merged. If issue persists, please feel free to re-open.

[2018-12-05 10:21] #41484 closed, assigned to nobody

[2018-12-05 11:14] Akasurde commented on #19987
@jxn Could you please check if #25290 works for you ? Thanks.

[2018-12-05 11:17] Tomorrow9 commented on #48929
Hi,
I tested this in my local devel env, file paths are displayed as expected.
But found that there is "vmware-5.log" in the VM's folder, "vmware-4.log" and before displayed, missing one vmware log file.
ansible 2.8.0.dev0 (devel c817bef3ae) last updated 2018/12/05 17:26:29 (GMT +800)
  config file = None
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/pl

[2018-12-05 11:22] cxcv commented on #47669
Hello,

I've further looked into the issue and I can narrow it down.

The installation hangs during Run-Command() when an not empty $environment is passed:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_chocolatey.ps1#L259

The thing is, it does not matter if the environment contains a proxy variable or anything else; as long as the environment is filled Run-Command(

[2018-12-05 11:39] Akasurde commented on #48929
Could you please paste the truncated output for log files ?

[2018-12-05 11:42] jborean93 commented on #47669
@cxcv that's interesting, we have tests that run that with environment vars to make sure it works and haven't come across this before. Have you verified independently that any call to `Run-Command` with environment values hang?

[2018-12-05 11:49] gundalow commented on #49225
!component =lib/ansible/modules/cloud/alicloud/ali_instance.py

[2018-12-05 12:20] gintautassulskus commented on #43884
It seems that `gather_subset = !all` does not collect network configuration information which my roles rely on.
My solution to the issue was to revert back to 2.5.13.

[2018-12-05 12:32] aknrdureegaesr opened #49541 "Broken build "CloudStackException ... More than 1 default Isolated networks are found for account""
##### SUMMARY

I'm trying to get PR #48416 merged (which has been discussed at the [docs meeting](https://meetbot-raw.fedoraproject.org/ansible-docs/2018-12-04/ansible_documentation_working_group_aka_dawgs.2018-12-04-15.31.txt). I'm also known as dj3ei.)

I get some test failures in the Cloudstack area which I felt were unearned. To test solidity of the build, I opened up a dummy PR #49538 with on

[2018-12-05 12:33] aknrdureegaesr commented on #49541
I'm not sure my original phoney pull request #49538 is still needed. Whoever tackles this, it's yours. Feel free to close at the earliest convenience.

[2018-12-05 12:45] #43082 closed, assigned to nobody

[2018-12-05 12:48] ghost opened #49542 "'local' option in 'user' module interferes with 'comment' option"
##### SUMMARY

The following fails with `Error parsing arguments: unknown option`. For both `useradd` and `luseradd`, the short flag for gecos/comment is `-c` but the long flag differs. For `useradd`, it's `--comment` and for `luseradd` it's `--gecos`. The module uses `--comment` in both cases, making it fail when the `local: yes` option is used.

[code]

[code]

##### ISSUE TYPE
- Bug Report

###

[2018-12-05 13:01] alex-mohemian commented on #49542
Seems to be fixed in the latest version of Ansible where it uses `-c` 👍

[2018-12-05 13:01] #49542 closed, assigned to nobody

[2018-12-05 13:07] gundalow commented on #49541
@resmo Got any ideas about this

[code]

[2018-12-05 13:33] irpaglide opened #49544 "elasticache_facts does not pull configuration endpoint"
##### SUMMARY

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
elasticache_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
AWS

##### STEPS TO REPRODUCE

- elasticache_facts:
        name: "{{memcached_cluster_name}}"

[code]

##### EXPECTED RESULTS
I can get "Configuration endpoint" of the cluster

##### ACTUAL RESULTS
I cannot get "Configuration end

[2018-12-05 13:45] Akasurde commented on #20488
resolved_by_pr #49545

[2018-12-05 13:59] Akasurde commented on #20062
Error handling in exception is fixed via 84285a741c5dcbe14a20dff896fe6ed3578ef3c4

[2018-12-05 14:00] Akasurde commented on #20062
!component =lib/ansible/modules/cloud/amazon/ec2_vpc_dhcp_option.py

[2018-12-05 14:36] #49478 closed, assigned to nobody

[2018-12-05 14:44] jeking3 opened #49546 "Module Packs: establish an Ansible Hub where module packs can be maintained and obtained independently of the Ansible Core"
##### SUMMARY

New projects like stackstorm are developing their core engine separately from the "packs" that implement functionality.  Ansible as a whole would benefit from the same separation of concern.  Rather than storing all of the modules in a single repository, there would be a core repository containing the engine, and then each module pack would be maintained independently by separate te

[2018-12-05 14:46] abenokraitis commented on #49254
Greetings, the aruba_command module is for use on Aruba wireless access points, and not for HP-Aruba switching products. Please refer to HP for HP-Aruba datacenter switching Ansible modules.

[2018-12-05 14:53] caezsar commented on #49487
Yes...that solved the issue!
Thanks for support!

[2018-12-05 14:54] #49487 closed, assigned to Akasurde

[2018-12-05 14:55] caezsar commented on #49487
Solved via  #49421

[2018-12-05 15:00] dch commented on #46181
@rambleraptor thanks for this fix suggestion! Can you tell me *where* the `metadata` field is supposed to go to address this?

[2018-12-05 15:02] abenokraitis commented on #37649
Are you still seeing this in 2.7.x or 2.8 devel? Any reason why you aren't able to use the ios_banner module instead?

[2018-12-05 15:02] ivanmrva opened #49547 "docker_swarm: labels not applied"
##### SUMMARY
"labels" parameter of "docker_swarm" module is ignored (resp. labels are not applied on the target node)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_swarm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

gentoo linux, kernel 4.14.52

##### STEPS TO REPRODUCE

Just use docker_swarm module with "state:join" and  "labels" parameter.
Se

[2018-12-05 15:02] abenokraitis commented on #37649
needs_info

[2018-12-05 15:03] idahood opened #49548 "nxos_config does not support vaulted credentials"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

nxos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

1. Generate vaulted credential via "ansible-vault encrypt_string"
2. Use encrypted value in group_vars
3. Execute playbook as normal

./roles/switch/tasks/main.yml
[code]

./group_vars/switches.yml
[code]

###

[2018-12-05 15:04] abenokraitis commented on #37991
@mattdc10 Can you perform the steps above?

[2018-12-05 15:06] abenokraitis commented on #38017
@mikewiebe is this on your radar?

[2018-12-05 15:09] abenokraitis commented on #38116
Syntax errors aren't appropriate for Ansible issues, might be best to sync up with the community (Ansible Network IRC meeting) on best practices for writing playbooks.

[2018-12-05 15:10] Qalthos commented on #38116
See also https://docs.ansible.com/ansible/2.6/network/getting_started/first_playbook.html#create-and-run-your-first-network-ansible-playbook

[2018-12-05 15:10] #38116 closed, assigned to nobody

[2018-12-05 15:11] abenokraitis commented on #38478
Greetings, this has been added to the vyos provider Roles on galaxy.ansible.com/ansible-network/vyos and we aren't planning on adding those features back to the modules at this time.

[2018-12-05 15:11] #38478 closed, assigned to nobody

[2018-12-05 15:14] abenokraitis commented on #38548
This sounds pretty invasive on a module level, thinking this would be better as a Role? I don't foresee the Ansible team implementing this anytime soon.

[2018-12-05 15:14] #38548 closed, assigned to gdpak

[2018-12-05 15:15] jctanner commented on #49546
bot_skip

[2018-12-05 15:17] abenokraitis commented on #38591
@gundalow is this still needed and high priority?

[2018-12-05 15:17] gundalow commented on #49505
Thanks,
You'll need to add the `unsupported` into `target/*/aliases` see https://docs.ansible.com/ansible/devel/dev_guide/testing/sanity/integration-aliases.html how to set this and how to tell `ansible-test` how to run these tests

[2018-12-05 15:17] resmo commented on #49541
hmm.. weird. The only thing how this can happen AFAICS is when there was an error once and the CI worker was reused, so it uses the same setup with an undefined state?

[2018-12-05 15:18] Kamapcuc commented on #49478
[code]
OMG o.O

[2018-12-05 15:19] Kamapcuc commented on #49478
P.S. thanks for reply

[2018-12-05 15:20] abenokraitis commented on #38608
Are folks still seeing this? Looks like there are a few things going on here, and as far as the initial issue is concerned this looks completed. Please open a new issue to address the secondary issue. Thanks!

[2018-12-05 15:22] abenokraitis commented on #38873
The Ansible Network Team doesn't have the ability to implement or test this feature and would have to defer to the community on this.

[2018-12-05 15:24] abenokraitis commented on #38959
The Ansible Network Team did a first pass on this, anyone seeing any that were missed?

[2018-12-05 15:29] ulide4 opened #49550 "one_vm add persistent option"
##### SUMMARY

We would like to automate the creation of VMs with persistent Images using the one_vm module. This would be the equivalent of the CLI command: "onetemplate instantiate ..... --persistent"
It seems to me this should be an not overly complex enhancement to the module but really helpful to us.
Thanks a lot
Uli

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

one_vm

##### ADDITI

[2018-12-05 15:30] #19665 closed, assigned to Akasurde

[2018-12-05 15:36] #38608 closed, assigned to ganeshrn

[2018-12-05 15:52] kbreit opened #49552 "Lambda module has out of date runtime options"
##### SUMMARY
The AWS Lambda module documentation lists the options available for runtimes. However, there are some newer options, such as python3.6 which aren’t included in the documentation. The module doesn’t enforce this, so python3.6 would still work, but the documentation is misleading.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
Lambda

##### ANSIBLE VERSION
[code]

[2018-12-05 15:53] koladiya opened #49553 "Cisco ACI ansible module : aci_rest failed due to different port than 443"
##### SUMMARY
aci_rest module is failing due to different port than 443.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aci_rest
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

I would like to retrieve the tenants from the ACI.
I have two options. I can use either **aci_tenant** or **aci_rest** module.
**aci_tenant** is working t

[2018-12-05 15:55] billdodd commented on #48364
@jose-delarosa - That's great; thanks for testing it out!

I think the model for the OEM extensions is that each OEM should submit their own module.

I will document this extension approach in a repo in the DMTF GitHub org.

[2018-12-05 15:55] gundalow commented on #48785
bot_status

[2018-12-05 16:13] maxamillion commented on #49362
Ultimately I think the issue here is that Fedora is moving away from python2 and there's nothing Ansible can realistically do.

[2018-12-05 16:14] jyundt commented on #48364
Would it be possible to abstract these OEM specific extensions somewhere in`module_utils` rather than creating a separate Ansible module for each OEM? This is just my opinion, but it would be nice to have the `redfish_config` as _the_ module for making redfish related changes (instead of having to track multiple OEM specific modules).

[2018-12-05 16:26] #49546 closed, assigned to nobody

[2018-12-05 16:35] kbreit opened #49554 "meraki_switchport needs response documentation"
##### SUMMARY
meraki_switchport needs proper response documentation. Currently it has an example but those format poorly and aren’t descriptive.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
meraki_switchport

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2018-12-05 16:35] kbreit opened #49555 "meraki_ssid needs response documentation"
##### SUMMARY
Module needs proper response documentation

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
meraki_ssid

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2018-12-05 16:36] kbreit opened #49556 "meraki_device needs response documentation"
##### SUMMARY
Module needs proper response documentation as it only has an example.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
meraki_device

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

[2018-12-05 16:44] mattclay commented on #49541
That's the error from the retry. Here's the original error:

[code]

[2018-12-05 16:53] angystardust commented on #49403
@carchi8py what do you think about my RFE? Is it possible to do it with the current netapp-libs python bindings?

[2018-12-05 16:57] giemsky commented on #29183
@cwilby slurp returns read file content as encoded as base64 string, you should decode it before using in `github_deploy_key` task:
[code]

[2018-12-05 17:08] #44819 closed, assigned to nobody

[2018-12-05 17:14] #17871 closed, assigned to Akasurde

[2018-12-05 17:27] triphocy opened #49558 "elb_aplication_lb module fails when updating an existing application load balancer"
##### SUMMARY

AWS elb_aplication_lb module fails when looking for 'LoadBalancerAddress' while updating an existing application load balancer

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/module_utils/aws/elbv2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu Subsystem for Windows
[code]

##### STEPS TO REPRODUCE

Using `elb_appli

[2018-12-05 17:41] mattclay commented on #49541
The test has been marked unstable in https://github.com/ansible/ansible/pull/49543

The test failed on the first run of the PR, which included multiple CS tests:

https://app.shippable.com/github/ansible/ansible/runs/96780/89/console

The second run passed, but that only included the `cs_snapshot_policy` test:

https://app.shippable.com/github/ansible/ansible/runs/96819/89/console

That may mean t

[2018-12-05 17:47] jose-delarosa commented on #48364
Having many modules does seem to make matters less simple, but one big advantage of having separate modules is that each OEM-specific module will have a separate set of maintainers. The DMTF would continue to support only the standard OEM modules and each OEM would support their own module.

[2018-12-05 17:50] carchi8py commented on #49403
@angystardust Your asking for the query option from this command correct?
https://docs.netapp.com/ontap-9/index.jsp?topic=%2Fcom.netapp.doc.dot-cm-cmpr-900%2Fsecurity__login__role__modify.html

If so then yes that something we can add.

[2018-12-05 18:04] fabianvf commented on #49463
Whichever machine is running the task needs to have the openshift python library installed, so if you want the Ansible controller to run it then you'll need to specify a `local` connection so that the task is run locally. If you don't specifiy `connection: local` then whatever host you are targeting to run the task (in this case 192.168.200.22) will need to have the proper libraries installed.

Yo

[2018-12-05 18:08] #49341 closed, assigned to nobody

[2018-12-05 18:23] kr4ut commented on #19030
Nasty thing is that yes an upstart based release shouldn't have `systemd` installed at all, but the vendor does even enforces that when using their `snapd` backport. So basically using Snap apps on Ubuntu 14.04 breaks Ansible's management of services there (no discussion on Snap itself please) :face_with_head_bandage:

While we banging towards trusty's EOL it would be lovely if we could work aroun

[2018-12-05 18:45] felixfontein commented on #17692
@Akasurde thanks for pinging me!

!component =lib/ansible/plugins/connection/docker.py

[2018-12-05 18:57] akshay196 commented on #21704
I would like to work on it. I will raise PR when done.

[2018-12-05 18:59] rambleraptor commented on #46181
Yeah, no problem.

On your `gcp_compute_instance` play, you'll have to set `metadata` to an empty dictionary:

[code]
Did that answer your question?

(This bug has been fixed in newer versions of the module)

[2018-12-05 19:05] ZuZuD commented on #49457
It looks like AWS Route53 API endpoint is restricted MaxItems to 100:

``
In [15]: r = boto3.client('route53')
In [16]: boto3.set_stream_logger(name='botocore')
In [17]: r.list_resource_record_sets(MaxItems='300',HostedZoneId='XXXXXXXX')

2018-12-05 18:45:10,243 botocore.hooks [DEBUG] Event before-parameter-build.route-53.ListResourceRecordSets: calling handler <function fix_route53_ids at 0x10be7

[2018-12-05 19:36] felixfontein commented on #49395
@jaydrogers from searching for `No module named ordered_dict` on the web, this seems to be caused by [requests](http://docs.python-requests.org/en/master/), which is used internally by `docker` and `docker-py`. That import has been removed from requests in requests/requests@7fd9267b3bab1d45f5e4ac0953629c5531ecbc55, which apperently made it into version 2.20.0. Which version of `requests` do you ha

[2018-12-05 19:36] billdodd commented on #48364
The above are the key motivations for this approach. I don't see a good way to implement a single module (like redfish_config) that supports the Redfish standard plus all vendor OEM extensions in a way that allows a clear separation of ownership/maintenance.

[2018-12-05 19:58] jaydrogers commented on #49395
Hi @felixfontein,

Thanks for your help! You pointed me in the right direction that resolved my issue.

For everyone else landing here from a Google search, here is how I resolved this issue:

### 1. I ran `pip list | egrep 'requests'` on my remote machine to see which version I had
It confirmed that I was running a version of [Requests](https://github.com/requests/requests/) that was outdated.
[c

[2018-12-05 19:59] DBendit opened #49563 "[docker_network][docker_prune] Shared code should be moved to docker_common.py"
##### SUMMARY
`docker_network.py` and `docker_prune.py` share a block of code related to the handling of "True" and "False" in Go. Since this is common functionality, this should be moved to `docker_common.py`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
docker_network
docker_prune
docker_common

##### ADDITIONAL INFORMATION
This functionality is necessary due to Go's handling of "True"

[2018-12-05 20:03] DBendit opened #49564 "[docker_network][docker_container] Shared code should be moved to docker_common.py"
##### SUMMARY
`docker_network.py` and `docker_container.py` share a block of code related to handling minimum docker-py and docker API versions above the minimum versions required by the modules. Seeing as this code is duplicated, it should be consolidated in `docker_common.py`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
docker_network
docker_container
docker_common

##### ADDITIONAL I

[2018-12-05 20:06] felixfontein commented on #49395
@jaydrogers I'm glad I could help (and also that this isn't a bug in Ansible ;) )!

[2018-12-05 20:09] felixfontein commented on #49564
Let's do this (and the other issue) once #49562 is merged. Do you want to work on it, or should I do that? (Or anyone else is interested?) Whatever you prefer :)

[2018-12-05 20:15] billdodd commented on #47590
The comment above from @mraineri applies to the `SetManagerAttributes` command as well. Since these 2 commands are a getter/setter pair, I would propose that we should take care of both with this one issue.

[2018-12-05 20:23] Unterstrichmoepunterstrich opened #49565 "influxdb_query resample_time and coverage_period"
##### SUMMARY
It should be possible to describe the resample_time and coverage_period with ansible.
I would also prefer it, to use a state {present, absent} like in other modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- resample_time
- coverage_period
- state

##### ADDITIONAL INFORMATION
Maybe it's possible to use some code from [salt](https://docs.saltstack.com/en/latest/ref/mod

[2018-12-05 20:43] idahood commented on #49548
So this looks to be related to https://github.com/ansible/ansible/issues/47200, may not have anything to do with nxos_config at all.

[2018-12-05 20:53] IPvSean commented on #49457
Couldn't we grab multiple requests? and add them to the same list basically obfuscating this limitation and letting an Ansible user override this AWS limitation?

At the very least we should error when you put something over 100... and link to the AWS documentation so people know its not Ansible... but imho that is a crutch that can be easily solved in some Python code.

[2018-12-05 21:11] BradFelmey commented on #47131
Also confirmed on Ansible 2.7.2/RHEL 7.6. Agree with @Alb0t that we shouldn't have to introduce sudoers behavioral changes for module success.

[2018-12-05 21:25] jeffwarnica opened #49567 "WinRM: wait_for_connection improvements"
##### SUMMARY
WinRM throws fatal errors on various low level networking and authentication (kerberos) problems well before win_ping can execute, killing the run.

One would reasonably expect that wait_for_connection actually waits for a connection and not fatally errors out when the connection failed for low-level reasons.

This should be reworked so wait_for_connection is at least configurable to

[2018-12-05 21:35] synek317 commented on #22169
affects 2.6.4 as well.
Very frustrating, lots of time invested in creating roles and playbooks and now it just doesn't work as expected.

[2018-12-05 21:43] rambleraptor commented on #45803
Hey! I'm so sorry that this has taken so long.

What's happening is that the module was suppressing `False` values and they weren't being sent to the GCP API. The GCP API takes that as a legacy network with no ipv4_range.

I've added a fix to https://github.com/ansible/ansible/pull/49458 that should fix this. I've done some tests on my side and was able to create the three types of networks succes

[2018-12-05 21:45] brydoncheyney commented on #22169
issue still exists in ansible 2.7.2

[2018-12-05 22:13] bcoca commented on #18131
@danowar2k 'control machine variables' would be 'extra vars' `-e myserial=32`  or play vars i.e vars_prompt/vars_files

[2018-12-05 23:08] danowar2k commented on #18131
How would I detect how much memory the Ansible CM has and set some of those variables with it?

Do you have an example?

[2018-12-05 23:49] willthames commented on #49463
That's pretty much exactly what I was going to say @fabianvf (I still have the draft comment I meant to submit yesterday to compare :) )

[2018-12-05 23:50] willthames commented on #49463
Running it locally will default to using your default context from your default kube config file (you can override both config file and context if desired) - if you want to change the k8s server you're targeting, you can do so by changing context.

[2018-12-05 23:53] angystardust commented on #49403
Yes, i really mean that option. Thank you for taking care of my RFE! :+1

[2018-12-06 00:03] dch commented on #46181
\o/ perfect thanks.

[2018-12-06 00:08] #49208 closed, assigned to nobody

[2018-12-06 00:16] bcoca commented on #18131
a 'pipe' lookup could get you that info

[2018-12-06 00:33] bcoca commented on #48865
not really an Ansible version issue,  since it applies to the pyyaml dependency any/all Ansible versions will be affected

[2018-12-06 00:39] bcoca commented on #17389
@Yatekii the message does not exist anymore, so I'm going to close this issue.

[2018-12-06 00:39] #17389 closed, assigned to nobody

[2018-12-06 00:48] bcoca commented on #15746
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Having a `when:` condition does not mean you can have an improperly constructed task, `delegate_to` requires a string, not a boolean, t

[2018-12-06 00:48] #15746 closed, assigned to nobody

[2018-12-06 00:52] bcoca commented on #27268
so the problem is that you are testing `myfruit` which is correctly identified as `defined` it is set to a template string, but this template string itself is using an undefined item, the `defined` test cannot account for that since it only looks at the variable itself.

[2018-12-06 01:41] willthames opened #49579 "Unexpected difference between YAML block and non block var"
##### SUMMARY
YAML strings can be interpreted differently depending upon whether the string is inline or in a block.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/template/vars

##### ANSIBLE VERSION
[code]

Issue is present in 2.7 and probably older too.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

D

[2018-12-06 02:39] Fred-sun commented on #31967
@zikalino

[2018-12-06 02:44] Tomorrow9 commented on #48929
"hw_files": [
                "[GOSV-Async] dw332_test_vm/dw332_test_vm.vmx",
                "[GOSV-Async] dw332_test_vm/dw332_test_vm-Snapshot4.vmsn",
                "[GOSV-Async] dw332_test_vm/dw332_test_vm-Snapshot5.vmsn",
                "[GOSV-Async] dw332_test_vm/dw332_test_vm.nvram",
                "[GOSV-Async] dw332_test_vm/dw332_test_vm.vmsd",
                "[GOSV-Async] dw332_test_

[2018-12-06 02:50] Fred-sun commented on #46207
@yungezz There is no response, Can been closed. Thanks!

[2018-12-06 02:52] Fred-sun commented on #46313
@zikalino

[2018-12-06 03:12] Fred-sun commented on #46440
@zikalino

[2018-12-06 03:26] #48867 closed, assigned to nobody

[2018-12-06 03:39] #28051 closed, assigned to nobody

[2018-12-06 03:47] Fred-sun commented on #47111
@santos101 Thanks for your contribution, Could you help update according by yungezz's comment? Thanks!

[2018-12-06 03:57] Fred-sun commented on #47268
@yungezz

[2018-12-06 04:11] Akasurde commented on #20910
@rob42 `ec2_remote_facts` is deprecated module in version 2.8. So I will close this issue as no new functionality will be added to this module. Please feel free to re-open if problem persists. Thanks.

[2018-12-06 04:11] #20910 closed, assigned to nobody

[2018-12-06 04:13] Akasurde commented on #29372
`ec2_remote_facts` is deprecated. I will mark this as closed as no new functionality will be added to deprecated module. Thanks.

[2018-12-06 04:13] #29372 closed, assigned to nobody

[2018-12-06 05:03] Akasurde commented on #21872
@dirkvdplas You can achieve this by following -

[code]

This will result in

[code]

Hope this helps. Thanks,

[2018-12-06 05:03] #21872 closed, assigned to nobody

[2018-12-06 05:35] pain400 commented on #49463
I think the problem has been resolved. The python version for ansible is 3.6.5 in local machine
[code]

but the remote k8s server python version is 3.7. So I specify the `ansible_python_interpreter` in site.yml and exec previous command success
[code]

[2018-12-06 05:39] #49463 closed, assigned to nobody

[2018-12-06 05:41] felixfontein commented on #28380
resolved_by_pr #49562

[2018-12-06 06:02] Fred-sun commented on #47696
@zikalino how about the issue going ahead? Could you help take a look? Thanks!

[2018-12-06 06:30] #48762 closed, assigned to jborean93

[2018-12-06 06:30] Fred-sun commented on #48415
@zikalino

[2018-12-06 07:02] danowar2k commented on #18131
I'll try that out.

Meanwhile, a warning to those who try my method above. When I do the setup module as a local action, Ansible overwrites the setup facts for every host with facts about the Ansible CM. I thought I could avoid that with register, but it didn't work. Maybe a switch for setup could prevent this...

[2018-12-06 07:04] Akasurde commented on #21707
@senthil-t @onurbrc There is syntax error in module code, this can be due to usage of mixed tabs and spaces or Windows carriage return characters.
I have raised #49590 to handle traceback and provide useful information to user about such errors.

Let me know if it works for you. Thanks.

needs_info

[2018-12-06 07:47] gfidente commented on #43884
Has anyone tried replacing the udevadm call [1] with something like:

`# blkid -o export $device`

I suspect udevadm info is gathering a lot more infos and could get stuck in the kernel while querying for some of them ... while the only thing we're trying to return here is the FS UUID, which blkid can provide

I'd like to submit a patch to do the above

1. https://github.com/ansible/ansible/blob/s

[2018-12-06 09:11] Kamapcuc commented on #49478
If someone find those topic in google, how i fix it:
[code]

[code]

[2018-12-06 09:31] elliott2019 commented on #11702
2.7.4 not work……

[2018-12-06 09:43] ghost opened #49592 "Loop vs. with_items with undefined list entries"
##### SUMMARY
Previous behaviour: the task would skip `Undefined` entries, and execute 0 to 2 times.
[code]

Current behaviour: the task errors out claiming that [Undefined, Undefined] (with 2 undefined items) is not a list.
[code]

Worse, this evaluation seems to happen before `when`; the same error occurs:
not a list.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Core? I don't know

[2018-12-06 09:44] kay73 commented on #22169
...and in 2.7.4

[2018-12-06 09:52] riverzhang opened #49593 "AttributeError: 'module' object has no attribute 'time'"
[code]

[2018-12-06 11:29] #46073 closed, assigned to nobody

[2018-12-06 11:33] ghost opened #49599 "Improve import_* performance"
##### SUMMARY
Currently, import_tasks/import_role optimizes importing of tasks/roles over the include_* variant by being dumb (i.e. evaluating once at parse time). With a different implementation, it could significantly improve run time behaviour.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ADDITIONAL INFORMATION
In Python, the `import` statement is a no-op (or as close as c

[2018-12-06 12:00] pafleg commented on #25660
Hello @Nosmoht is there any news?
I'm also running this issue. Task:
[code]
do not add {{ ansible_hostname }}_ssh@example.com as a external member of a {{ ansible_hostname }}_ssh_ad_ext group

[2018-12-06 12:00] Akasurde commented on #49552
resolved_by_pr #49595

[2018-12-06 12:08] Akasurde commented on #23129
!component =contrib/inventory/docker.py

[2018-12-06 12:08] gilesw commented on #25384
Looks like the same feature (including vars without overriding group_vars) has been requested in another thread

https://github.com/ansible/ansible/pull/23738

[2018-12-06 12:18] ArvidLW opened #49602 "group_vars are override by last one in the inventory doc when a host belong to more than one group"
##### SUMMARY

group_vars and host_vars are override by last one in the inventory doc when a host belong to more than one group.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

when run g1
service_install_dir=/opt/file1
when run g2
service_install_dir=/

[2018-12-06 12:30] webknjaz commented on #48134
@contextuo the best practice is to have modules manage one thing. Having this many arguments means that it's responsible for many things, which we don't want. Consider it a refactoring of code smell.

Okay, I should've written "perfect form of the word" I guess :)

[2018-12-06 12:44] tappoz opened #49603 "get_url using the content-disposition mechanism wget is using to find out the filename to download"
##### SUMMARY

Being able to use `get_url` when the server redirects the download, miming what this command does: `wget --content-disposition URL`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`get_url`

##### ADDITIONAL INFORMATION

I am trying to automate the installation of common tools on my laptop e.g. Postman to perform manual HTTP requests and debug REST APIs.

From their document

[2018-12-06 13:04] jbscare commented on #27268
Does this simpler reproducer help?
[code]
That doesn't have anything to do with template strings or extra-vars or anything else.

This worked in Ansible 2.2.1.0, and not in anything later than that.

[2018-12-06 13:30] cnunemaker commented on #47118
I have just encountered this issue as well. @Nebelwolf, have you started a PR for this?

In the meantime, what is the cleanest and easiest workaround for our playbooks?

[2018-12-06 13:40] VladislavPershin commented on #25532
@dagwieers , https://stackoverflow.com/questions/53651992/ansible-winrm-bails-out-with-errno-111-connection-refused

It's this case or different problem?

[2018-12-06 13:50] hila3000 opened #49607 "aws_s3 doesn't work on remote server"
##### SUMMARY

although aws_s3 starts to run on the requested remote server (I know that because it first shouted on no boto3 present in the system, and after installing boto3 on the requested remote server, the playbook progressed to next phase). the actual put file in bucket occurs from my local pc (in which I run the ansible command from) and not from the remote server

to make long story short

[2018-12-06 14:03] gstorme opened #49608 "windows ansible_memtotal_mb reports 1mb less"
##### SUMMARY

The Powershell command behind the ansible_memtotal_mb uses a math round of the TotalPhysicalMemory, but it's always rounding the value down.
Because of this, a server with 2GB for example reports 2047MB memotal_mb.

I'll create a PR to replace the math `round` with `ceiling`, so the reported MB matches the actual installed RAM in GB.

##### ISSUE TYPE
- Bug Report

##### COMPONENT N

[2018-12-06 14:12] bcoca commented on #23118
As @dharmabumstead points out above, the existing tags were already documented, 'never' got added to the code AND documented in the same location, so I'm going to close this issue.

[2018-12-06 14:12] #23118 closed, assigned to bcoca, acozine

[2018-12-06 14:13] nvaklinov opened #49610 "Ansible MemoryError when using shell module in playbook"
Ansible MemoryError when using shell module in playbook

Ansible MemoryError when using shell module in playbook to import mongodb json collection. I do have 16 GB of ram and in htop whenever I run the playbook on the target machine i see the ram going up to 4 GB but there are more than 10GB free.

I changed the python interpeter as well as combined and mixed modules but still does not work. An ex

[2018-12-06 14:18] bcoca commented on #49602
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

First, group vars never override host vars, what you are showing is group vars overriding each other. This is not a bug, this is by des

[2018-12-06 14:18] #49602 closed, assigned to nobody

[2018-12-06 14:32] nvaklinov commented on #49610
- hosts: MongoDB
  tasks:
     - name: copy file from local to MongoDB
       synchronize:
               src: /home/temp/events.json
               dest: /home/ubuntu/mongo/
               mode: push

     - name: import the events into the DB
       shell: mongoimport --db parties --collection events --file /home/ubuntu/mongo/events.json && rm -rf /home/ubuntu/mongo/events.json
       register:

[2018-12-06 14:42] bcoca commented on #49599
you are making a big assumption on the applicability of the imports, other tasks could have changed the state of the host targeted, or the target hosts could even be different, there are a lot of modifiers to take into account.

[2018-12-06 14:52] samerd opened #49612 "getting exception while trying to configure onyx_mlag_vip on onyx switches"
##### SUMMARY

When trying to configure mlag vip on mellanox network devices we got an exception
onyx version: 3.6.8160
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

onyx_mlag_vip
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

mlag-vip configured successfully

##### ACTUAL RESULTS

[code]

[2018-12-06 14:55] jctanner commented on #49610
@nvaklinov no error is in the description. Please add the full -vvvv output.

needs_info

[2018-12-06 14:58] Qalthos commented on #41238
So this is the expected behavior. Exactly duplicated lines are scrubbed to prevent surprises, and this generally works well when using a device that understands indentation for scope.

In your case, you simply wish to apply the same config lines to multiple vlans. You can easily do something like this with a loop over vlan ids.

In cases without such clear-cut repetition, breaking down a config to

[2018-12-06 14:58] #41238 closed, assigned to Qalthos

[2018-12-06 15:05] jmcgill298 commented on #37649
@abenokraitis The issue still exists on 2.7.2. The issue is not configuring a banner on the device, the problem is when we try to do comparison between our "golden" config vs the running-config, or when pushing the entire config to the device after the banner has already been configured appropriately.

[2018-12-06 15:15] bcoca commented on #49478
you just need `{{env}}-account` at that point

[2018-12-06 15:15] jfinkhaeuser commented on #49599
Hence the suggestion to make it an explicitly different command.
I'm not blind to the issues - but I also realize the use case exists.

[2018-12-06 15:20] bcoca commented on #18131
@danowar2k your `local_action` would work if you add `delegate_facts: true` then it would apply those to ` `localhost` instead on each host

[2018-12-06 15:20] gundalow commented on #49567
bot_status

[2018-12-06 15:23] bcoca commented on #49599
roles with the same 'signature' are already looked at and reused, so the import modifiers are taken into account and compared to obey the 'allow_duplicates' setting. This does not happen for tasks though nor includes, which are meant to be dynamic.

[2018-12-06 15:30] jfinkhaeuser commented on #49599
It's the dependency that bothers me there. Of course it's possible to split this into a static and a dynamic role, and import one and include the other. But the dependency between the two is hard, and forcing the user to deal with that is not particularly friendly.

[2018-12-06 15:31] jeffwarnica commented on #49567
COMPONENT NAME
win_rm

[2018-12-06 15:34] webknjaz commented on #49567
!component =lib/ansible/plugins/connection/winrm.py

[2018-12-06 15:42] vpiserchia opened #49615 "Devuan support for ascii release is missing"
##### SUMMARY
Devuan-based distros are slightly different from their Debian counterpart. The Devuan newest release (forked from Debian stretch) is not supported by the setup module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
facts/system/distribution

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
In order to reproduce th

[2018-12-06 15:50] gundalow commented on #49593
@riverzhang What OS are you running `ansible-playbook` and what OS is your remote node (172.19.16.11)

[2018-12-06 15:51] mwinfie commented on #24035
I am running into this pretty consistently running the ansible-tower-setup-3.3.0-1 deployment when running the deployment using the setup.sh file.

[2018-12-06 15:51] mwinfie commented on #24035
Also I am running this on a machine with ansible 2.7.2 installed.

[2018-12-06 15:53] abenokraitis commented on #23248
@rcarrillocruz can you provide an update here? Thanks!

[2018-12-06 15:59] #49552 closed, assigned to nobody

[2018-12-06 16:02] #49448 closed, assigned to jborean93

[2018-12-06 16:37] Akasurde commented on #25000
@s-hertel Can we close this issue since #27435 is merged ? Thanks.

[2018-12-06 16:39] abenokraitis commented on #47067
@justjais any ideas here? This has high priority. Thanks!

[2018-12-06 16:39] maxamillion commented on #47118
I've created a pull request, it currently aggregates the output from `systemd list-units --no-pager --type service --all` and `systemd list-unit-files --no-pager --type service --all` but it overloads the `state` value and I'm curious if the result is what you were looking for and/or solves the problem at hand in a satisfactory way. I was also thinking of adding another key called `enabled` to pro

[2018-12-06 16:39] Akasurde commented on #25361
Closing this issue since #26483 is merged. Please feel free to re-open if problem persists. Thanks.

[2018-12-06 16:39] #25361 closed, assigned to nobody

[2018-12-06 16:40] abenokraitis commented on #40544
@justjais ping, this is of high priority. Thanks!

[2018-12-06 16:40] abenokraitis commented on #47985
@benjdudas can you verify the proposed fix above?

[2018-12-06 16:46] gundalow commented on #21028
Exists, though just points to main docs.ansible.com content https://github.com/ansible/ansible/blob/devel/CODING_GUIDELINES.md

[2018-12-06 16:52] richlv opened #49620 "duplicate info on dependencies in mysql_db_module"
##### SUMMARY
In https://docs.ansible.com/ansible/2.7/modules/mysql_db_module.html , the "Notes" section has duplicate info on the dependencies:

And a couple items below that:

This is also present in older versions of the docs like 2.5.

Not submitting a pull request as not sure of the best way to reorganise this, but how about merging them both into something like this?

The text is also a bit

[2018-12-06 16:58] abenokraitis commented on #48099
@benjdudas would this qualify as a KBASE? ^^^

[2018-12-06 17:35] Qalthos opened #49621 "[REST_CONF] Add httpapi plugin supporting restconf-flavored apis"
ISSUE TYPE

 * Feature Idea

COMPONENT NAME

plugins/httpapi/restconf

ANSIBLE VERSION

2.8

SUMMARY

With the httpapi connection plugin, it would be useful to be able to use that to talk to devices that can understand RESTCONF. This should be supported by modules in a manner similar to how NETCONF is handled, ie `restconf_get` to query endpoints.

`network_os` -> `api_type`

[2018-12-06 17:36] cnunemaker commented on #47118
@maxamillion, thank you for the rapid fix! It does seem to fix my issues and behave as I expect.

[2018-12-06 17:39] pillarsdotnet commented on #48865
Looking for it.  Can you supply a link?

[2018-12-06 17:51] maxamillion commented on #47118
@cnunemaker what about the suggestion from this other issue(https://github.com/ansible/ansible/issues/45730) to provide a new field that carried the `status` as well as the `state`?

For example:
[code]
vs:
[code]

[2018-12-06 18:05] nvaklinov commented on #49610
Actually this is the error message: An exception occurred during task execution. To see the full traceback, use -vvv. The error was: MemoryError

If I put -vvv the output become ambiguous due to the fact that Mongo produces simply the output of the data insertion however the error is the above.

[2018-12-06 18:10] edvegas commented on #45803
issue persists on ansible 2.7.4.
"auto_create_subnetworks: no" doesn't create network in custom mode, only legacy;
 I'm using gce_net module with "mode: custom" parameter instead at the moment.

[2018-12-06 18:13] #45101 closed, assigned to nobody

[2018-12-06 18:22] maxamillion commented on #47118
Alright, new proposal

[code]

and for non-systemd systems

[code]

Thoughts?

needs_info

[2018-12-06 18:22] maxamillion commented on #45730
Thoughts on this output?

[code]

needs_info

[2018-12-06 18:30] zoredache commented on #49254
@abenokraitis I mean it seems to work perfectly fine for me when key checking is disabled in my config, and using aruba_command was suggested in various blogs as generally working out fine for procurve switches.

But lets ignore that.  I don't see how the type of hardware would matter when the issue I am having is disabling SSH host key checking in the inventory based on what seems to be documente

[2018-12-06 18:43] UnixArena opened #49625 "unable become root using rootsh (wrapper for shells)"
##### SUMMARY

Unable to become a root where the environment uses rootsh (wrapper shell) method to gain root access.

##### ISSUE TYPE
- Feature Idea
Allow multiple methods  or custom methods to gain the root access

##### COMPONENT NAME

become
become_flags

##### ADDITIONAL INFORMATION

We are gaining the root access using the following method.
`# sudo -H rootsh`

When we need to run command wit

[2018-12-06 18:52] #49209 closed, assigned to nobody

[2018-12-06 18:58] felixfontein commented on #28380
The PR has been merged; this feature (as well as `scope`) will be available in Ansible 2.8.

[2018-12-06 19:08] #28380 closed, assigned to nobody

[2018-12-06 19:33] stephan2012 commented on #28380
Thanks, @felixfontein, and all others who helped resolving this issue.

[2018-12-06 19:35] felixfontein commented on #28380
@stephan2012 you have to thank @DBendit for creating the PR :)

[2018-12-06 19:43] max-allan-surevine commented on #8520
What is it called in the roadmap? I can't see anything in the linked page that looks like "don't pollute the JSON output with human readable stuff"

[2018-12-06 20:05] #48364 closed, assigned to nobody

[2018-12-06 20:21] Alexander198961 commented on #35595
I will take a look

[2018-12-06 20:27] max-allan-surevine opened #49626 "Setup module uses hostname -A on RHEL to get wrong hostname"
##### SUMMARY

When using setup module against RHEL instance, it is using `hostname -A` to determine the FQDN instead of `hostname -f`. The -A option does a reverse lookup of IP addresses of all instances. There is no need for a reverse lookup to return an FQDN, or anything, or the correct hostname at all.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

setup
##### ANSIBLE VERSION

[code]

#

[2018-12-06 20:55] stephan2012 commented on #28380
@DBendit: Special thanks to you for creating the PR. :-)

[2018-12-06 20:58] bcoca commented on #49625
afaik, rootsh is not privilege escalation, just a 'logging shell', you can set the default executable to enforce using it https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-executable

[2018-12-06 21:01] bcoca commented on #48859
when the test passes you see the plugin 'processing' the input, this message was meant to give some information on why plugins didn't attempt to do so

[2018-12-06 21:44] Alexander198961 commented on #35595
Can someone clarify is it possible  to get None type against boolean Variable requester_pays=dict(default='no', type='bool'),? https://github.com/ansible/ansible/blob/6fd5396d4763c620b51313aff2e5dcf5a1a394a5/lib/ansible/modules/cloud/amazon/s3_bucket.py#L205

I will try to change behavior in PR https://github.com/ansible/ansible/pull/49628/files

[2018-12-06 21:59] kcorrigan1 commented on #43880
I'm having a similar problem running an ansible playbook from a Mac mini (macOS Mojave) to deploy on Ubuntu 14.04 servers. It fails right at the beginning on the 'Gathering Facts' task, when it tries to copy a temp file into .ansible/tmp. It says `sftp transfer mechanism failed` and then `scp transfer mechanism failed`, but the file does get copied into .ansible/tmp. I have manually tested both sf

[2018-12-06 22:21] mraineri commented on #47590
12/6: Would like to move this out of the standard module since all of the info being collected is OEM.

[2018-12-06 22:41] #49362 closed, assigned to maxamillion

[2018-12-06 23:59] samdoran commented on #46723
@robertdebock Can you please test with #49272 to see if that fixes your issue?

[2018-12-07 00:00] samdoran commented on #47131
@shoekstra @BradFelmey Can you please test with #49272 to see if that fixes the issue? I added code to search common paths on the managed node to find the absolute path the binary.

[2018-12-07 02:00] #48763 closed, assigned to jborean93

[2018-12-07 02:29] s5unty opened #49640 "xml module: Can't process Xpath"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

xml module

##### ANSIBLE VERSION

being tested in two versions

[code]

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian GNU/Linux testing (buster)
Linux verns-worktop 4.18.0-1-amd64 #1 SMP Debian 4.18.6-1 (2018-09-06) x86_64 GNU/Linux

##### STEPS TO REPRODUCE

run playbook ![#f03c15](https://placehold.it/15/f

[2018-12-07 02:46] ikhan2010 commented on #41826
@samccann can you please look at this?

[2018-12-07 02:50] ikhan2010 commented on #34711
@IPvSean can you please confirm if this can be closed?

[2018-12-07 04:24] #28912 closed, assigned to nobody

[2018-12-07 04:32] Akasurde commented on #29854
Closing this issue since `S3` module is removed in Ansible 2.7 version.

[2018-12-07 04:32] #29854 closed, assigned to nobody

[2018-12-07 04:35] Akasurde commented on #29823
!component =lib/ansible/modules/cloud/amazon/iam.py

[2018-12-07 04:43] Akasurde commented on #29917
`S3` module is removed in Ansible version 2.7. Please use `aws_s3` module instead.

[2018-12-07 04:43] #29917 closed, assigned to nobody

[2018-12-07 04:45] Akasurde commented on #29890
`s3` module is removed in Ansible version 2.7. Please use `aws_s3` module instead.

[2018-12-07 04:45] #29890 closed, assigned to nobody

[2018-12-07 05:58] hanhui870 opened #49641 "docker_login module tls_hostname bug, conflict with delegate_to localhost"
##### SUMMARY

in /lib/ansible/module_utils/docker_common.py

Designed when result['tls_hostname'] is None, it will fetch DOCKER_HOST domain value，but in `tls_hostname=self._get_value('tls_hostname', params['tls_hostname'], 'DOCKER_TLS_HOSTNAME', DEFAULT_TLS_HOSTNAME),`, when None, it will always initialized to DEFAULT_TLS_HOSTNAME=localhost. Trigger bug when tls_hostname is not set.

I just want

[2018-12-07 06:06] riverzhang commented on #49593
[root@node2 ~]# cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)

I don't know， if I uninstalled any packages or deleted any files.
After I reinstalled the system, everything was working fine.

[2018-12-07 06:07] riverzhang commented on #49593
@gundalow  Thanks.  I believe I can close it.

[2018-12-07 06:07] #49593 closed, assigned to nobody

[2018-12-07 06:13] Fred-sun commented on #48725
@nicolaibaralmueller Are you test it on the latest ansible ver? if you test ok, It can be closed this. Thanks!

[2018-12-07 06:41] felixfontein commented on #49641
Hmm, the logic is kind of complicated, and the `if` block is never used. I don't see its behavior described in the documentation, though, so we should probably simply remove it. (It has a bug, anyway, since the default value for `tls_hostname` is `'unix://var/run/docker.sock'`, which would cause at least under Python 3 `tls_hostname` to be set to `ParseResult(scheme='unix', netloc='var', path='/ru

[2018-12-07 06:43] nvaklinov commented on #49610
The full traceback is:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py", line 139, in run
    res = self._execute()
  File "/usr/lib/python2.7/site-packages/ansible/executor/task_executor.py", line 603, in _execute
    result = self._handler.run(task_vars=variables)
  File "/usr/lib/python2.7/site-packages/ansible/plugins/action/shell.p

[2018-12-07 07:00] zhujingfa commented on #49641
@felixfontein I just fixed it right now ,use env lookup. And DOCKER_HOST can not fetch with ansible_env variables，do you know why?

[2018-12-07 07:13] nicolaibaralmueller commented on #48725
@Fred-sun I guess this can be closed. I found a workaround as I cant use more time on this.

[2018-12-07 07:13] #48725 closed, assigned to zikalino

[2018-12-07 07:17] felixfontein commented on #49641
@zhujingfa `ansible_env` refers to the environment variables on the target node, even if `delegate_to` executes the module on another node. On the other hand, the `env` lookup always looks up on the control node.

Changing defaults is not that simple, as this breaks backwards compatibility and could make things stop working for people whose current setup works.

[2018-12-07 07:33] Fred-sun commented on #48725
@nicolaibaralmueller  Thank you for your contribution and attention！

[2018-12-07 07:35] janvht commented on #49122
I tested some smaller templates and they seem to work indeed. As suggested, I also ran the zabbix_template task with the timeout set to 60 seconds which now results in an internal server error coming from the server.

[code]

[2018-12-07 07:42] tbouvet commented on #49547
`join` state is only to add a node in a swarm environment.
Labels can be added when you create or update a swarm environment.
[code]

[2018-12-07 07:55] felixfontein commented on #49547
I think this is more like a feature request, since docker_swarm currently doesn't allow to add labels to the nodes (only to the swarm itself).

[2018-12-07 07:59] Akasurde opened #49642 "aws_ec2 inventory incorrect condition check"
##### SUMMARY
While going through code, I found that `aws_ec2` dynamic inventory plugin uses 2 similar if statement.
https://github.com/ansible/ansible/blob/6a09db51311f0557a783ca80c3c1b8e260998a60/lib/ansible/plugins/inventory/aws_ec2.py#L473 and

https://github.com/ansible/ansible/blob/6a09db51311f0557a783ca80c3c1b8e260998a60/lib/ansible/plugins/inventory/aws_ec2.py#L466

I am not sure what is i

[2018-12-07 08:02] Akasurde commented on #49642
My bad. not a bug.

[2018-12-07 08:02] #49642 closed, assigned to nobody

[2018-12-07 09:05] megakoresh commented on #44504
@fabianvf I dont know why it didnt notify me, but yes setting `host` + `api_key` does seem to work as expected so those issues may be linked.

[2018-12-07 09:06] swaathi commented on #32499
The `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` fix does not work in Mojave.

Did you get it to work @Sohair63?

[2018-12-07 09:08] fedelemantuano opened #49645 "The WMI service is not running on the cluster node"
##### SUMMARY
I cannot install sql server database instance on windows server 2016 in cluster.
I run a `win_command` task:

[code]

in _quite_ mode_, but I have the following issue:

[code]

But this service is correctly running on both nodes. I connected with winrm on Powershell, with the same user and I saw this service in running.

I also tryed with a Powershell script with `win_shell` module.

[2018-12-07 09:14] mikedlr commented on #32499
@swaathi please could you open a new bug report with full information - especially all software versions (MacOS,Python,Ansible etc), the exact playbook you are using that triggers the crash and exactly how you run it.  I'll upgrade soon and then attempt to debug if I can reproduce.  Put a link to your new bug from #49207

N.B. you have to set the environment variable in the shell _before_ you laun

[2018-12-07 09:30] kinvaris commented on #46383
@bmike78 I figured out that it was still my own mistake. I forgot some other attributes to add. I spotted the following items being mentioned on the openstack sdk documentation:
- `If you are using Identity v3 you need to specify the user and the project domain name`
- Using public api's can be achieved by adding this the the `clouds.yaml`: `interface: public`

This way, the v3 API's are used over

[2018-12-07 09:30] #46383 closed, assigned to nobody

[2018-12-07 10:35] MichalTaratuta opened #49647 "ansible_python_interpreter not working with /defaults/main.yaml"
##### SUMMARY

Variable `ansible_python_interpreter: "/usr/bin/python3"` not used when placed in `<some_role>/defaults/main.yaml`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Feature / Core
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

python3 would be used when `ansible_python_inte

[2018-12-07 10:37] mqasimsarfraz opened #49648 "Template lookup plugin doesn't respect variable_start_string/variable_end_string"
##### SUMMARY

I am trying to escape `{{` or `}}` for a jinja template using:

`#jinja2:variable_start_string:'[%' , variable_end_string:'%]'`

on top of the templates. It works well with the [template module](https://docs.ansible.com/ansible/latest/modules/template_module.html) but fails if I try [template lookup plugin](https://docs.ansible.com/ansible/latest/plugins/lookup/template.html).

####

[2018-12-07 10:58] Akasurde commented on #34154
!component =lib/ansible/modules/cloud/ovirt/ovirt_vm.py

[2018-12-07 11:03] Akasurde commented on #33900
@yungez Thanks for this issue. Could you please elaborate your issue with debug logs, playbooks used, Operating systems used and expected behaviour ? Without this information this is very difficult to debug the issue. Thanks.

needs_info

[2018-12-07 11:12] Akasurde commented on #35039
Closing this as per request in [comment](https://github.com/ansible/ansible/issues/35039#issuecomment-432104716). Please feel free to re-open, if problem persists.

[2018-12-07 11:12] #35039 closed, assigned to nobody

[2018-12-07 11:14] Akasurde commented on #34927
!component =contrib/inventory/gce.py

[2018-12-07 11:21] Akasurde commented on #35181
@Rahul-CSI Thanks for reporting this issue. Could you please try [gcp_compute_instance_facts](https://github.com/ansible/ansible/lib/ansible/modules/cloud/google/gcp_compute_instance_facts.py) and let us know if it solves your requirement ? Thanks

needs_info

[2018-12-07 11:21] Akasurde commented on #35181
!component =lib/ansible/modules/cloud/google/gcp_compute_instance_facts.py

[2018-12-07 11:23] Akasurde commented on #35125
!component =lib/ansible/modules/network/fortios/fortios_config.py

[2018-12-07 11:25] gitbeyond opened #49649 "like group_vars take host file to group_files or host_files"
##### SUMMARY

# like group_vars take host file to group_files or host_files
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

example:

inventory
[code]
create group_files 目录
[code]

[code]

[2018-12-07 11:31] MarkusTeufelberger commented on #45214
I agree. Accessing the environment variable via a script however is an easy workaround that you can use in the meantime (see the commit above) until someone implements this.

[2018-12-07 11:34] Akasurde commented on #36234
@Rahul-CSI I am not sure if this is the [module](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/google/gcp_compute_image_facts.py) you want. Please check and let us know.

Thanks

needs_info

[2018-12-07 11:34] Akasurde commented on #36234
!component =lib/ansible/modules/cloud/google/gcp_compute_image_facts.py

[2018-12-07 11:44] Akasurde commented on #36890
!component =lib/ansible/modules/network/dellos6/dellos6_config.py

[2018-12-07 11:46] Akasurde commented on #36656
!component =lib/ansible/modules/network/ios/ios_command.py

[2018-12-07 11:55] danowar2k commented on #18131
Thanks, I didn't yet know about that.

[2018-12-07 12:08] Akasurde commented on #36582
resolved_by_pr #36650

[2018-12-07 12:08] Shaps commented on #49437
@Klaas- I got 'hit' by this as well, although I don't really see a quick fix for it since the module dependence on tower_cli makes it quite complicated to fix.
As far as I understand it, this happens because of the `force_on_existing` being hardcoded to `True` in the `modify` call here - https://github.com/ansible/tower-cli/blob/master/tower_cli/models/base.py#L713

[2018-12-07 12:22] Akasurde commented on #38039
@snemir2 Could you please check if https://github.com/ansible/ansible/pull/37010 fixes your issue and let us know ? Thanks

needs_info

[2018-12-07 12:24] Akasurde commented on #37874
!component =lib/ansible/modules/network/ios/ios_config.py

[2018-12-07 12:37] Akasurde commented on #38598
@davidobrien1985 Bot is sending mails via GitHub because your GH handle is listed [here](https://github.com/ansible/ansible/blob/a1a0893ebd106d6ad3f889ae08ecd81141d34cea/lib/ansible/modules/system/setup.py#L86). Let me know if you don't wish to receive mails. Thanks.

[2018-12-07 12:38] Akasurde commented on #38598
PR #34925 and #38237 are merged. Closing this issue.

[2018-12-07 12:38] #38598 closed, assigned to nobody

[2018-12-07 12:40] #37796 closed, assigned to nobody

[2018-12-07 12:49] Akasurde commented on #39891
!component =lib/ansible/plugins/inventory/openstack.py

[2018-12-07 13:12] Akasurde commented on #41003
!component =lib/ansible/modules/cloud/azure/azure_rm_virtualmachine.py

[2018-12-07 13:21] harbindersinghamido commented on #49055
Any update on this please?

[2018-12-07 13:21] #42988 closed, assigned to nobody

[2018-12-07 13:34] fabianvf commented on #44504
Actually the old openshift modules used the same authentication logic, relying on the auth described in the swagger API spec, so I think we likely would have hit this regardless. Kubernetes actually does support basic auth but they seem to have removed it from the spec due to an unresolved issue in swagger-codegen, which would have affected the openshift spec as well. We may be able to work around

[2018-12-07 13:41] megakoresh commented on #44504
I have actually just tried that by simply editing the `ansible/module_utils/k8s/common.py` file and added

[code]

just before `kubernetes.client.Configuration.set_default(configuration)`

to quickly test this hypothesis, to no effect. I think this is a problem with the kubernetes library, but even if we do solve it here, I am not exactly certain this problem will go away. Reason is what I outline

[2018-12-07 14:00] benjdudas commented on #48099
@abenokraitis I think it could be but it would be good to get the details on the 5K/7K bug to know if it affects all versions and to have a bug id to point users too.

@trishnaguha did the Cisco Nexus team provide you with a bug id for that?

[2018-12-07 14:06] benjdudas commented on #48171
@ganeshrn I opened this on behalf of a customer but I believe this is it here https://github.com/Juniper/py-junos-eznc/pull/295/files

[2018-12-07 14:11] benjdudas commented on #47985
@abenokraitis we never received an update from the customer on this one but the fix works in my own testing

[2018-12-07 14:18] dwerder commented on #49475
I will try to gather more information next week.

[2018-12-07 14:21] sramakr commented on #39538
Thanks  @klesniewsk I didn't know they supported encryption by default.
I have PR to move dynamodb module to boto3. ( but without the SSE should be a simple change want to include that over this weekend if possible)
https://github.com/ansible/ansible/pull/45402
yeah definitely makes that PR absolute , unless we just want dynamodb module using  boto3.

[2018-12-07 14:36] dagwieers commented on #49055
So based on that output, I don't see why we get into the `Install-ADDSForest` block.

The only thing I would suggest is to debug this by adding a `Fail_Json "Forest: $forest"` after the try-catch statement. Maybe there's a difference to the context you are running it on the PowerShell cmdline and when Ansible runs it?

[2018-12-07 14:38] #39056 closed, assigned to ganeshrn

[2018-12-07 15:02] sivel commented on #49475
needs_info

[2018-12-07 15:29] Sohair63 commented on #32499
@swaathi Yes it is working fine for me now, but not sure how it got fixed.
maybe recent updates of Xcode fixed it.

[2018-12-07 15:31] s-hertel commented on #49245
@walterdolce `--list` squashes the group vars into the hostvars. If you use `ansible-inventory --list --export` it will keep the group vars and hostvars separate. I'll look into adding better documentation for this. As a workaround in the meanwhile, it appears that the vaulted secrets are preserved if they are inline rather than than in a vaulted file.
[code]

[2018-12-07 15:43] sivel commented on #49294
The problem being encountered here is that variables such as magic vars, are not calculated at the point where the loop is processed.

The loop is pre-processed, and later used to run the task N number of times.  Some of these variables are not ready until later when the plugin that defines them has been fully instantiated.  This makes them available to an actual executing task, but not before the

[2018-12-07 15:52] bcoca commented on #49245
The default (without --export) is supposed to reflect how ansible sees the inventory, so it is correct to see all variables flattened by host, this shows you the actual values used. The `--export` option is there for when you want to reuse the output and have variables declared in a more efficient manner 'pre resolution'.

[2018-12-07 16:11] #28660 closed, assigned to nobody

[2018-12-07 16:21] carchi8py commented on #49403
Ok i've created an internal story "1095" for this new option

[2018-12-07 16:43] jsakofsky commented on #49026
May I also suggest some kind of naming convention identifying the host and port as the remote? like r_host/r_port or remotehost/remoteport? This could help make plays using these elements more readable.

[2018-12-07 17:19] abadger opened #49657 "Better Logging"
##### SUMMARY
Ansible's logging abilities are currently very rudimentary.  They allow very minimal configurability (for instance, controller side, there is only the ability to output to a log file).  The API mixes logging and display of UI together.  Having more control over the logger will allow the user to configure different formatters.  For instance, debug and performance logging can be enhanc

[2018-12-07 17:20] cpbills opened #49658 "Cache data for group names created by group_by"
##### SUMMARY

Cache data for dynamically created groups using 'group_by'; currently groups that are created with 'group_by' are not cached using cache mechanisms like redis (not certain about json or others).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

cache_dynamic_groups ?

##### ADDITIONAL INFORMATION

In our use case, we use a host's Ansible groups to apply nagios service checks,

[2018-12-07 17:22] BradFelmey opened #49659 "azure_rm_virtualmachine data_disks not idempotent"
##### SUMMARY

Trying to add data_disks to an existing Azure virtual machine definition does not result in additional data_disks being provisioned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.6 (Maipo)

##### STEPS TO REPRODUCE

Create an

[2018-12-07 19:29] GeneKatacoda commented on #34054
@flamein RHEL 7.6 still uses pyOpenSSL-0.13.1

[2018-12-07 20:30] Akasurde commented on #41935
!component =lib/ansible/modules/cloud/azure/azure_rm_functionapp.py

[2018-12-07 20:32] Akasurde commented on #42895
!component =lib/ansible/modules/cloud/ovirt/ovirt_network.py

[2018-12-07 20:33] Akasurde commented on #42895
PR #43636 is merged. Marking this issue as closed. Please feel free to re-open if problem persists. Thanks.

[2018-12-07 20:33] #42895 closed, assigned to nobody

[2018-12-07 20:35] Akasurde commented on #42693
!component =lib/ansible/modules/database/mysql/mysql_db.py

[2018-12-07 21:02] Akasurde commented on #43772
!component =lib/ansible/modules/storage/netapp/netapp_e_facts.py

[2018-12-07 21:07] Akasurde commented on #43825
!component =lib/ansible/modules/cloud/amazon/lambda.py

[2018-12-07 21:09] Akasurde commented on #44570
@uberjew666 Could you please check https://github.com/ansible/ansible/pull/47866 and https://github.com/ansible/ansible/pull/47870 and let us know if solves your purpose? Thanks

[2018-12-07 21:11] Akasurde commented on #44268
!component =lib/ansible/modules/cloud/ovirt/ovirt_snapshot.py

[2018-12-07 21:12] Akasurde commented on #45104
@machacekondra Could you please review this PR https://github.com/ansible/ansible/pull/49085 ? Thanks in advance.

[2018-12-07 21:16] Akasurde commented on #45330
!component =lib/ansible/modules/cloud/azure/azure_rm_containerregistry.py

[2018-12-07 21:17] Akasurde commented on #45230
!component =lib/ansible/modules/cloud/lxc/lxc_container.py

[2018-12-07 21:17] Akasurde commented on #45266
!component =lib/ansible/modules/clustering/openshift/_openshift_raw.py

[2018-12-07 21:19] Bramzor opened #49664 "npm ci to allow install based on package-lock"
##### SUMMARY
npm ci is a new command that allows to install packages based on the package-lock which is a lot faster and prevents the installation of newer versions of packages and dependancies.
More info: https://blog.npmjs.org/post/171556855892/introducing-npm-ci-for-faster-more-reliable

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
npm

##### ANSIBLE VERSION
N/A, feature not available i

[2018-12-07 21:21] Akasurde commented on #46749
!component =lib/ansible/modules/cloud/docker/docker_image.py

[2018-12-07 21:22] Akasurde commented on #46659
cc @zikalino @yungezz

[2018-12-07 21:24] Akasurde commented on #46633
!component =lib/ansible/modules/cloud/misc/proxmox_kvm.py

[2018-12-07 21:53] tdaigle-orcl opened #49667 "timeout trying to send command: copy running-config startup-config"
##### SUMMARY

On the NX-OS platform where save operations take more than 10 seconds the module fails with timeout trying to send command: copy running-config startup-config. This seems to predominantly affect Nexus 7K but have seen it on the Nexus 9K as well.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_config:
  save_when: modified

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[2018-12-07 21:59] #47264 closed, assigned to nobody

[2018-12-07 22:41] fatmcgav commented on #18142
Hmm, I've tried the work-around suggested above (using `>-`), however it doesn't work for me...

[code]

Results in:
[code]

Any ideas?

[2018-12-07 22:41] acozine commented on #40371
Spoke to @tima today - he can print other long webpages, so this is a problem with the docsite, not with his computer.

[2018-12-08 00:48] caphrim007 commented on #38581
Ansible 2.5 is no longer supported by the F5 Ansible team. This error has likely been resolved in Ansible 2.7, or via the f5devcentral.f5ansible Galaxy role. https://galaxy.ansible.com/f5devcentral/f5ansible

[2018-12-08 00:48] #38581 closed, assigned to nobody

[2018-12-08 02:09] dagwieers commented on #49553
@koladiya I cannot reproduce this. It works for me as expected. There's no difference between **aci_rest** and other ACI modules wrt. this. Are you sure you do not have a modified **aci_rest** installed on your system that is being picked up ?

needs_info

[2018-12-08 02:10] dagwieers commented on #25532
@VladislavPershin It seems it has never worked for him, so it has no relation to this.

[2018-12-08 03:34] Akasurde commented on #47413
!component =lib/ansible/plugins/inventory/gcp_compute.py

[2018-12-08 03:35] Akasurde commented on #49657
- https://github.com/ansible/ansible/issues/47347

[2018-12-08 03:39] Akasurde commented on #47607
!component =lib/ansible/modules/cloud/ovirt/ovirt_nic.py

[2018-12-08 03:42] Akasurde commented on #48012
!component =contrib/inventory/gce.py

[2018-12-08 03:44] Akasurde commented on #47862
!component =lib/ansible/modules/database/mssql/mssql_db.py

[2018-12-08 04:39] mnaser commented on #49451
Hi @nicolasbock

Can you please share the exact bit that you're trying to run which is causing that issue?

Thanks,
Mohammed

[2018-12-08 04:49] Akasurde commented on #43115
resolved_by_pr #49675

[2018-12-08 04:50] Akasurde commented on #43115
@jakegatsby Thanks for suggestion, could you please check above PR and let me know if it works for you ? Thanks.

needs_info

[2018-12-08 05:42] Alexander198961 opened #49676 "s3_bucket incorrect check boolean type in the code "requester_pays is not None" should be check against False instead ?"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
mac os

##### STEPS TO REPRODUCE
Open s3_bucket.py
if  requester_pays is not None: (Pls follow link https://github.com/ansible/ansible/blob/2b347d01fda1646fc610d4677580ae145f2416e1/lib/ansible/modules/cloud/amazon/s3_bucket.py#L200)

but i

[2018-12-08 05:47] Alexander198961 commented on #49676
I added commit https://github.com/ansible/ansible/pull/49628

[2018-12-08 09:51] aymenoss opened #49677 "I am trying to do the rollback with ansible how can I do it ?"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-12-08 11:00] HerontheCLI commented on #47869
Alicia, I will be working on this, can you help with adding me as the assigned m?

[2018-12-08 16:08] soeirodefaria opened #49680 "Using Google Cloud Repositories as source control"
##### SUMMARY

I'm trying to configure a project type Git in Ansible Tower and use Google Cloud Repository as the source.
I configured the .gitcookies in both the user I use to log into the host as well as root, so the git command works without typing the password. WHen I try via SSH session it works fine. But if I try via Tower I get an authentication failure error

##### ISSUE TYPE
- Bug Report

[2018-12-08 16:56] HerontheCLI commented on #47869
Ok, that sounds good!  You are definitely welcome.

[2018-12-08 17:08] seblu commented on #19084
This feature seems to be mandatory to mimic the support of [dictionary roles](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#using-roles) in traditional ansible playbook with a dynamic list of roles defined in inventory/host_vars/groups_vars.

##### Example of host_vars/hostname.yml
[code]

##### Example of site.yml
[code]

[2018-12-08 17:36] BarbzYHOOL commented on #19803
Still not possible?? on 2.7 it seems to be the same issue

[2018-12-08 18:09] contextuo commented on #48134
Now seeing that discussion was done outside this thread in another meeting, I'm just terribly confused about how or why consensus was to not fix `mount`, but instead add the following two additional modules:

While lleaving untouched, the _third_ (original) module,
* `mount` - for... what now, compared to the two above?

I really regret missing that meeting now, because I simply cannot comprehend

[2018-12-08 19:45] alkar commented on #49547
@tbouvet I can't do that on my worker nodes it seems:
[code]

[2018-12-08 19:47] alkar commented on #49547
@tbouvet can you give an example of how to apply labels to nodes? Using `state: present` for nodes that have joined as workers results in:
[code]

[2018-12-08 21:40] straff commented on #38353
though documentation says for arguments parameter "do not supply ... /log .." it does function as expected
`win_package:
  path: C:\path\to\myinstaller.msi
  arguments: "/log C:\Windows\Temp\InstallerLogs\myinstaller.log"`

[2018-12-09 02:20] DeanKamali opened #49686 "s3 module - This module has been removed ansible 2.7.4"
##### SUMMARY
Unable to use S3 module with ansible 2.7.4

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_s3 - alias s3

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7

##### Error I'm getting
[code]

[2018-12-09 04:10] westurner commented on #12353
https://github.com/ansible/ansible/commit/e22403958665ce210482676b029164619fb92d3d is helpful; thanks.

Maybe ``--clone-full`` and ``--clone-shallow``  ansible-galaxy switches would be helpful and useful?
I'd like to send PRs upstream, but in order to get e.g. a .git directory, I have to clone clone these urls as subrepos myself.

If I have this requirements.yml:
[code]

When I do:

[code]

ansibl

[2018-12-09 04:23] mjburling opened #49687 "gcp_compute plugin with redis: 'CacheModule' object has no attribute '_dump'"
##### SUMMARY
Redis cache plugin doesn't appear to work with the gcp_compute plugin inventory. Inventory is failing with `[WARNING]:  * Failed to parse /home/rundeck-dev/ansible/google/dynamic.gcp.yml with gcp_compute plugin: 'CacheModule' object has no attribute '_dump'`

I've tried this on the latest versions of 2.6, 2.7, as well as current devel branch with the same results. This looks _very_ s

[2018-12-09 04:34] mjburling commented on #49687
While thrashing on this problem with various cache_connection settings, I noticed ansible was creating directories based off the string in cache_connection.

[2018-12-09 05:01] mjburling commented on #49687
I'm experiencing the same behavior with mongodb–ansible creates a directory from the cache_connection string, e.g `10.150.0.2/` and fails.

[2018-12-09 06:46] choyrim commented on #35645
I had the same issue with ansible 2.7.0 on macos and RHEL7. i was able to resolve it by making the dest into an absolute path. before it was just pointing to a relative path `test_output`. when i changed it to `/tmp/test_output` it started working.

[2018-12-09 07:16] DBendit commented on #49641
Given that we're unlikely to change the defaults for this and it sounds like you have a workaround, is there anything else that you need @zhujingfa?

needs_info

[2018-12-09 07:17] ilboud commented on #49528
this patch fixes it indeed.

A-

On Wed, Dec 5, 2018 at 8:58 AM Abhijeet Kasurde <notifications@github.com>
wrote:

[2018-12-09 07:21] DBendit commented on #49388
As @felixfontein explains above, this isn't a bug. Closing issue.

notabug

[2018-12-09 07:59] DBendit commented on #39941
I'm unable to reproduce this with Ansible 2.8 (devel), docker-py 3.6.0, and the following playbook:

[code]

@felixfontein, I think you're right on the money about the version of docker-py in use, especially since the version checking has only been added in Ansible 2.8 (devel). The Secrets module was only added to docker-py in 2.1.0, which we check for now. Given that this should be solved going f

[2018-12-09 08:00] DBendit commented on #49564
I'll pick up this and https://github.com/ansible/ansible/issues/49563 when https://github.com/ansible/ansible/pull/49644 gets merged in.

[2018-12-09 08:18] DBendit commented on #48657
Going through the API doc history, the first version that I can find that lists Swarm endpoints is [v1.24](https://docs.docker.com/engine/api/v1.24/#38-swarm).

Since this one's just updating the minimum version in `docker_swarm.py`, marking as an easy fix. Whoever picks this up should set the minimum API version in the module file and make sure that the integration tests are set up properly for t

[2018-12-09 08:39] cricketer commented on #48859
Funny that this issue is the first that pops up after searching for the error messages stated in the description. Because that is what I had to do to find a solution after comparing my inventory list with the documentation examples finding no oddities.

I have respect for the Ansible team and I'm grateful for their work, but this is not a cool change @bcoca it's confusing and unnecessary because i

[2018-12-09 12:31] felixfontein commented on #48657
I guess we also have to check whether all functionality provided is supported by v1.24 as well (that makes it slightly harder).

[2018-12-09 12:38] #49388 closed, assigned to nobody

[2018-12-09 12:39] #39941 closed, assigned to nobody

[2018-12-09 13:06] felixfontein commented on #35119
I created a PR for this (#49688), which adds an option to Base64-decode `data`. It's both for `docker_secret` and `docker_config`.

[2018-12-09 13:34] jpmahowald commented on #49647
Role defaults are a lower priority than host vars like ansible_*_interpreter. They belong more in inventory  or host facts anyway, because different OS distributions name python differently. So for playbooks where you require a python3 environment, set the interpreter in inventory.

Put your role dependencies in documentation, human readable and maybe include pip install commands in a requirements

[2018-12-09 15:51] felixfontein commented on #48657
I created a PR for this (#49691).

[2018-12-09 19:29] xserrat commented on #33975
Hi @hans-d @Akasurde ,

I've just realised that using `MacOS 10.14 Mojave` with `Ansible 2.5` the option `homebrew_cask_accept_external_apps: true` does not work:

![image](https://user-images.githubusercontent.com/5933658/49701790-23bbcb00-fbf1-11e8-9c57-b86e87cbadb4.png)

Any idea?

Thanks so much!

[2018-12-09 19:49] mtkunkel commented on #49686
The `s3` alias has been removed.  Please update your playbooks to use `aws_s3`.   Noted in the release notes here: https://github.com/ansible/ansible/blob/stable-2.7/changelogs/CHANGELOG-v2.7.rst#removed-features-previously-deprecated

Reference PR: https://github.com/ansible/ansible/pull/44537

[2018-12-09 19:52] mtkunkel commented on #49686
notabug

[2018-12-09 20:08] aknrdureegaesr opened #49693 "Build of PR does not re-adjust labels properly after build is finally green."
##### SUMMARY

Story is this:

Pull request is ready to be merged, code is ok, tests _should_ be green, but tests fail not because of the PR content, but because of the present inherent instability of the tests.

The failure causes the build script to adjust labels. In particular, a label "needs_revision" is added.

One way out is to go to  `#ansible-devel` IRC chat on freenode and ask someone wit

[2018-12-09 20:11] 2-face commented on #48469
I would have to check if "ignore_errors" option in such case. However I think I tried it.

[2018-12-09 20:17] t794104 opened #49694 "Module group fails when removing local group with LDAP"
##### SUMMARY
On a system that has ldap (by SSSD) enabled, i want too remove a local group (as it is now in ldap) but the group module fails with 'Group XXX does not exist'

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
group.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7

##### STEPS TO REPRODUCE

On a system that has groups from LDAP true t

[2018-12-09 20:30] mtkunkel opened #49695 "s3_bucket ceph support broken (again), since 2.6"
##### SUMMARY
s3_bucket module errors out when creating a bucket in ceph S3.  This exact same module works in Ansible 2.5, verified broken in 2.6 and 2.7.   The bucket is actually created, however it appears to break when parsing the JSON returned by ceph.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
s3_bucket

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONM

[2018-12-09 20:33] mtkunkel commented on #49695
I am able to create ceph S3 buckets via the aws_s3 module (as a workaround).   I see prior tickets/conversation regarding the deprecation of aws_s3 in favor of s3_bucket however, aws_s3 appears to be the more solid/maintained module. https://github.com/ansible/ansible/issues/33248

[2018-12-09 20:45] t794104 commented on #49694
[code]

[2018-12-09 22:57] jlozadad commented on #49680
this looks like something that should be submitted to tower support.

[2018-12-09 22:59] jlozadad commented on #49677
hello, you did not include any information.

[2018-12-10 01:03] jborean93 commented on #49645
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-10 01:03] #49645 closed, assigned to nobody

[2018-12-10 02:02] yungezz commented on #46659
thanks for reporting the issue. Currently we don't have determined plan on when to support azure stack. @dmc-tech has find how to use az cli to do it. would you like to contribute a pr? both az cli and ansible is python.

[2018-12-10 02:14] PikachuEXE commented on #49114
I found out that this happens when `display_skipped_hosts` is set to `False`
I have also added a docker way to install ansible and run the example ansible playbook
Please see README on https://github.com/PikachuEXE/ansible_27x_shell_docker_exec_issue_example

The behaviour difference with different `display_skipped_hosts` value is tested
on both local machine and in docker

[2018-12-10 02:30] #49419 closed, assigned to nobody

[2018-12-10 04:41] h6009 commented on #26622
For fix this. We need to update **gather facts**.
`ansible -m setup all`
P/s: if it not looking at your inventory please do `-i path`

And finally run the command playbook or anything again. It should be worked.

Hope this could help you.

[2018-12-10 05:10] #20488 closed, assigned to Akasurde

[2018-12-10 07:32] Fred-sun commented on #49659
@BradFelmey Thanks for your contribution, Why don't you attach the disk to VM when created? Ansible's core idea is managing the resource via state. I think we can use azure_rm_managed_disk module to manage disk, just like below, Could you can try? Thanks!
[code]
[code]

[2018-12-10 07:52] eglipeter opened #49708 "Manage Windows printers"
##### SUMMARY

Add the capability to manage installed printers for Windows nodes.

##### ISSUE TYPE

 - Feature Idea

##### EXPECTED RESULTS

It would be nice if there is a Windows module which allows to manage printers under Windows. For Powershell, there are the [PrinterManagement cmdlets](https://docs.microsoft.com/en-us/powershell/module/printmanagement/?view=win10-ps) which could be used to p

[2018-12-10 08:07] justjais commented on #47740
@sebastianw Thanks for raising the issue, fix for the issue is merged and queued for Ansible `2.8` release.

[2018-12-10 08:07] #47740 closed, assigned to justjais

[2018-12-10 08:20] Fred-sun commented on #49193
@yuwzho

[2018-12-10 08:39] #48657 closed, assigned to nobody

[2018-12-10 08:50] Akasurde commented on #49657
- https://github.com/ansible/ansible/pull/41859
- https://github.com/ansible/ansible/issues/25759
- https://github.com/ansible/ansible/issues/25761
- https://github.com/ansible/ansible/issues/25763

[2018-12-10 09:10] koladiya commented on #49553
@dagwieers Thanks for the reply,

first of all, I have this setup for ACI lab.
1. My ACI lab is reachable via port 443 in the same network where ACI is installed.
   - here everything is working fine even with **aci_rest**.
2. The same ACI lab is reachable via port 8443 in another network where I did Port Address Translation (PAT).
   - here I got that **error** because of port 8443.

I did some r

[2018-12-10 09:14] Akasurde commented on #49693
cc @mkrizek @jctanner

[2018-12-10 10:32] dwerder commented on #49475
Hello,

I find my mistake. I used the role, where it does not seem to work with tags:

playbook.yml
[code]

So this tags, overwrites all tags in the java role. Even the `never`.
So sorry and it was a fault on my site.
Thanks for the response.

[2018-12-10 10:32] #49475 closed, assigned to nobody

[2018-12-10 10:45] Akasurde commented on #49193
!component =lib/ansible/modules/cloud/azure/azure_rm_securitygroup.py

[2018-12-10 11:41] #42858 closed, assigned to nobody

[2018-12-10 11:42] gforster opened #49712 "Override path to shutdown command in reboot module"
##### SUMMARY

Could use the ability to pass a custom path to override the default one.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

reboot

##### ADDITIONAL INFORMATION

In my specific case, I call a wrapper script that does some other sanity checks on process owned by a different team before determining it is safe to shutdown, then calling the reboot command. Or, for OSes that haven't

[2018-12-10 11:52] #42901 closed, assigned to nobody

[2018-12-10 11:59] czunker commented on #40903
Seems this one is already fixed with this PR: https://github.com/ansible/ansible/pull/41664

I stumbled upon this bug while researching for bug https://github.com/ansible/ansible/issues/45323, as they bove iinclude the same error message:

    keystoneauth1.exceptions.auth_plugins.MissingRequiredOptions: Auth plugin requires parameters which were not given: auth_url

[2018-12-10 11:59] dagwieers commented on #49553
Alright, that explains why it worked for me as I am using signature-based authentication.
I would urge all users to use signature-based authentication if they can.
It is more efficient and will avoid throttling issues with ACI 3.1 and newer.

[2018-12-10 12:05] warusadura opened #49713 "redfish_facts results an Unknown error"
##### SUMMARY

Hello `Ansible` community!
When executing a simple [playbook](https://github.com/dnuka/automate/blob/master/ansible/redfish_101.yaml) with [redfish_facts](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/remote_management/redfish/redfish_facts.py) module, results `Unknown error`

<pre><font color="#DC322F">fatal: [HOST]: FAILED! =&gt; {</font>
<font color="#DC322F">

[2018-12-10 12:14] dagwieers commented on #49553
@koladiya Can you please test #49715 in your environment and report back ?

I'll make sure we can backport this to the v2.7 stable branch.

[2018-12-10 12:15] czunker commented on #45323
Ansible version ist 2.5.10.

I had the same problem when I used a clouds.yaml with multiple clouds in it.
When the clouds.yaml only contains one cloud config, everthing works.

Ansible 2.6 uses openstacksdk instead of shade (https://github.com/ansible/ansible/pull/40532). This change led me to [this line of code](https://github.com/ansible/ansible/blob/stable-2.5/lib/ansible/modules/cloud/openstac

[2018-12-10 12:33] yura-shutkin opened #49716 "URI module LIST method"
##### SUMMARY

Please add LIST method to URI module.
https://www.vaultproject.io/api/auth/userpass/index.html List users need LIST method. Right now I need to create task that differs from others. I use curl with different set of args and output

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

uri

##### ADDITIONAL INFORMATION

I use ansible for managing hashicorp vault configs. I need LIST

[2018-12-10 12:34] xalkina opened #49717 "Cannot create dict constant in yaml file."
##### SUMMARY

Trying to evaluate a condition that includes a "literal" dict value, that is created within the expression. ansible complains that there is a syntax error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
This comes from the standard ppa, under KUbuntu 18.04.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Any, never get to actually connect t

[2018-12-10 13:02] yura-shutkin commented on #49716
! user
! set_fact
! yaml
! vault
! loop_control

[2018-12-10 13:06] koladiya commented on #49553
@dagwieers Where did you define the global name self?
**I'm having this error.**

fatal: [apic]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"/tmp/ansible-tmp-1544446310.58-77207342939931/AnsiballZ_aci_rest.py\", line 113, in <module>\n    _ansiballz_main()\n  File \"/tmp/ansible-tmp-1544446310.58-77207342939931/AnsiballZ_aci_rest.py\", line 105, in

[2018-12-10 13:07] yura-shutkin commented on #49716
!component =lib/ansible/modules/net_tools/basics/uri.py
!component -lib/ansible/modules/system/user.py
!component -lib/ansible/modules/utilities/logic/set_fact.py
!component -lib/ansible/parsing/utils/yaml.py
!component -lib/ansible/parsing/vault
!component -lib/ansible/playbook/loop_control.py

[2018-12-10 13:19] jctanner commented on #49693
Shippable test events to do trigger github webhooks. The bot has nothing to indicate that the PR has been updated since it's last check, so it has to wait until a forced recheck every 7 days.

[2018-12-10 13:19] #49693 closed, assigned to nobody

[2018-12-10 13:20] dagwieers commented on #49553
Right, I carefully missed the references in the evaluation, sigh. Fixed that now.

[2018-12-10 13:31] koladiya commented on #49553
@dagwieers working like charm.
Thank you
cheers 👍

[2018-12-10 13:33] dagwieers commented on #49716
@yura-shutkin We will not be adding LIST, as that would only fix this use-case. I think we need to look into making the method a clear text field (within certain limits).

[2018-12-10 13:40] #48874 closed, assigned to nobody

[2018-12-10 14:07] jakister commented on #44310
This is a big issue for me too, especially because I haven't found any alternatives for this module yet.

[2018-12-10 14:08] #49553 closed, assigned to nobody

[2018-12-10 14:14] yura-shutkin commented on #49716
Thank you.

[2018-12-10 14:17] dagwieers commented on #49716
@yura-shutkin You're welcome :-)

[2018-12-10 14:18] dagwieers commented on #49553
Thanks for reporting !
We are backporting this to the Ansible v2.7 branch so it ships in the next stable release.

[2018-12-10 14:27] #49717 closed, assigned to nobody

[2018-12-10 14:40] bcoca commented on #49475
@dwerder tags don't get overwritten, they get appended.

[2018-12-10 14:44] haggl commented on #42506
I have the same issue with the following setup:

* client
  * Arch Linux
  * Ansible 2.7.4
  * Python 3.7.1
* server
  * Debian Linux 9.6
  * Python 2.7.13

Redirecting stdout to `/dev/null` for all commands that output lines with leading `[` or `{` characters ([ignoring whitespace](https://github.com/ansible/ansible/blob/v2.5.3/lib/ansible/module_utils/json_utils.py#L48)) fixed the problem for me

[2018-12-10 14:51] samccann commented on #40544
Verified the original poster's list in NIOS API documentation:
https://docs.infoblox.com/download/attachments/8945695/Infoblox_API_Documentation_8.3.pdf?version=1&modificationDate=1529440185451&api=v2

[2018-12-10 14:52] bcoca commented on #48859
the way inventory plugins work is that we have a list of them, given a source we go through the list and see if that source matches the plugin and then if it can be parsed, you will get a warning (toggle to make it an error) if no plugin is able to read a file.

i.e given an  hosts.ini, first we try 'host_list' (which takes inline host string `-i "host1, host2,"`), then script (for dynamic scripts

[2018-12-10 14:53] #49641 closed, assigned to nobody

[2018-12-10 15:03] sivel commented on #49677
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-12-10 15:03] #49677 closed, assigned to nobody

[2018-12-10 15:03] quangvnm commented on #1619
Hi, I also searched for a magic solution for this without success and fall to this issue.
In the mean time, I've found out a hacky way to do this so this is for anyone like me who has encountered the password time out and want to check for:
- password expired
- timeout for password expired
- or to change expired password,

My following task works quite well:

[code]

I hope that helps

[2018-12-10 15:19] ikhan2010 commented on #47985
@benjdudas can we close this issue?

[2018-12-10 15:20] owenlynch opened #49727 "yum module fails when named package url is a redirect url not ending in .rpm"
##### SUMMARY

yum module fails when named package url is a redirect url. If I put a direct RPM link then it works. But the url is a redirect as described here:
https://support.sonatype.com/hc/en-us/articles/213465488-How-can-I-retrieve-a-snapshot-if-I-don-t-know-the-exact-filename-

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

yum
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2018-12-10 15:20] tdaigle-orcl commented on #49667
Setting larger timeouts in various places seemingly has no effect.

[2018-12-10 15:48] sivel commented on #49686
Closing per the above.

[2018-12-10 15:48] #49686 closed, assigned to nobody

[2018-12-10 15:55] ssbarnea commented on #47347
The issue is real and using default logger should be avoided *but* I would try to avoid having a dynamic logger name like `logging.getLogger("ansible p=%s u=%s | " % (mypid, user))`.

Using `ansible` should be enoughto isolate the logger because users could configure the logging setuyp using config files. If logger has not static name it would be impossible to use configuration files.

I do not se

[2018-12-10 15:58] sogalgeeko commented on #42594
Hi,
I got the same issue here. Our inventory is organized as "_one client = one inventory file_" + one file listing all the groups (ie. functional groups that refers to roles)[0] and we have a lot of those warnings:
[code]
changing the inventory plugins in _ansible.cfg_ does not fix the issue.
Is there, at least, a way to disable or hide those specific warnings ? They are disturbing and may lead u

[2018-12-10 15:59] LeoUfimtsev opened #49728 "tower_workflow_template extra_vars"
##### SUMMARY
extra_vars not working for tower_workflow_template module.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
tower_workflow_template.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS 7.4

##### STEPS TO REPRODUCE

Create workflow as per example:
https://docs.ansible.com/ansible/latest/modules/tower_workflow_template_module.html#tower-workflow-te

[2018-12-10 15:59] LeoUfimtsev commented on #49728
cc @ghjm @jlaska @matburt @wwitzel3

[2018-12-10 16:05] thiagocmartinsc commented on #20196
I'm seeing this issue with Ubuntu 18.04 as well, ansible from Ubuntu's repo.

Task:

    - mysql_db: name={{ zabbix_db }} state=import target=/usr/share/doc/zabbix-server-mysql/create.sql.gz

Error:

fatal: [localhost]: FAILED! => {"changed": false, "msg": "\ngzip: stdout: Broken pipe\n"}

This was working with Ubuntu 16.04...

I'm trying to create a small playbook to install Zabbix 4.0 LTS.

[2018-12-10 16:15] pablofuentesbodion opened #49730 "file loookup if file does not exists"
##### SUMMARY
Hi,

ansible 2.3.2 version.

I'm reading a file using the ansible:
[code]
but if the file does not exists using ignore_errors seems to print and show the whole trace:
[code]

I have checked serveral forums and failed_when seems a option but as far as I know it's not included in 2.3.2 version

is there any other way to fix this issue and catch the exception if the file does not exists

[2018-12-10 16:23] bcoca commented on #42594
@sogalgeeko those warnings only appear if ALL fail to parse the file

[2018-12-10 16:33] acozine commented on #11204
Thanks @edunham for your interest in Ansible - sorry this issue has sat open for so long.

In case anyone finds this looking for a link to the Intro to Playbooks page - it has moved to https://docs.ansible.com/ansible/latest/user_guide/playbooks_intro.html.

Because Ansible addresses so many different use cases, we don't suggest specific best practices for naming Ansible playbooks - do what works

[2018-12-10 16:33] #11204 closed, assigned to nobody

[2018-12-10 16:39] #49541 closed, assigned to resmo

[2018-12-10 16:40] msoltyspl opened #49732 "include_role ignores tags causing role to be skipped completely"
##### SUMMARY

Any attempt to conditionally include a role via include_role: using tags fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include_role:
tags:

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Linux 4.19.4-arch1-1-ARCH #1 SMP PREEMPT Fri Nov 23 09:06:58 UTC 2018 x86_64 GNU/Linux

##### STEPS TO REPRODUCE

Execute: `ansible-playbook -i tes

[2018-12-10 16:43] #46980 closed, assigned to nobody

[2018-12-10 16:45] acozine commented on #12203
Thanks @kontrafiktion for pointing out the need for better developer documentation. Sorry this issue has sat open for so long.

The [docs page this issue referred to](https://github.com/ansible/ansible/blob/stable-2.1/docsite/rst/developing_plugins.rst#vars-plugins) has been replaced with https://docs.ansible.com/ansible/latest/dev_guide/developing_plugins.html#vars-plugins. Since, as @bcoca point

[2018-12-10 16:45] #12203 closed, assigned to nobody

[2018-12-10 16:45] msoltyspl commented on #49732
Now to think about it - are we supposed to use "apply" parameter now, if we want the conditional (by tags) role's tasks to have any effect at all ?

[2018-12-10 16:45] sivel commented on #49732
`tags` applied to `include_role` only affect the `include_role` itself, and not the tasks within. See https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.5.html#dynamic-includes-and-attribute-inheritance for more information.

As such, if you only tag the `include_role` it will include the role but not execute the tasks within.

To get the functionality you are looking for, you

[2018-12-10 16:45] #49732 closed, assigned to nobody

[2018-12-10 17:12] gamuniz opened #49734 "Setup module not returning virtualization_role"
##### SUMMARY

While running setup.py with filters against a host on `HPE ProLiant DL380 Gen10` the results only display the virtualization_type:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Setup.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

myhypervisor | SUCCESS => {
    "a

[2018-12-10 17:53] jctanner commented on #49693
Tests are run on shippable.com. Shippable receives webhooks from github to know when a PR should be tested. Test results do not affected the "updated_at" attribute on a pullrequest. Ansibot relies on the "updated_at" attribute to know if it needs to check a PR once again for new state. This is an architectural limitation of how shippable integrates with github. The bot tries to account for it by f

[2018-12-10 18:05] hila3000 commented on #49607
I'll check and post here the update. Thanks!

[2018-12-10 18:25] #48785 closed, assigned to nobody

[2018-12-10 18:59] mrlesmithjr commented on #44245
Just leaving my findings right here with a scenario I just ran into where `PyVmomi` was installed but Ansible threw an error stating to install it. I spent a good 2 hours going through each and every library install in my virtualenv until I found the culprit. My issue was that `PyVmomi` was indeed installed but so was `PyVim`, once I uninstalled `PyVim` the issue went away. Just thought I would sh

[2018-12-10 19:04] jose-delarosa commented on #49713
@dnuka I agree that some of the error messages are could be more specific. For now, can you please provide more information about your environment? What out-of-band device is listening at http://127.0.0.1:8000? Did you modify the redfish_facts module so that it would connect using http instead of https? (default is https).

[2018-12-10 19:10] #44460 closed, assigned to samccann

[2018-12-10 19:11] #40544 closed, assigned to justjais, samccann

[2018-12-10 19:30] jeking3 commented on #20802
`retries:` without any other conditions should check for `succeeded` by default; please implement this!

[2018-12-10 19:50] gstorme commented on #49375
I wanted to test some more to see if I can help troubleshoot, but I can't reproduce this anymore.
Did not make changes to ansible nor the client, I deployed a new 2019 from the same template.

Closing this issue, in case it should occur again, I'll re-open.

[2018-12-10 19:51] aknrdureegaesr commented on #49693
Ah, thanks! That helps!

One more question, if I may: I speculate that editing any comment in the PR, or adding a new comment, would cause the updated_at to be reset, so it would cause the bot to adjust the labels. Correctly speculated?

[2018-12-10 19:51] #49375 closed, assigned to nobody

[2018-12-10 20:34] arsenicks commented on #48594
Got the same problem here. It looks like those module will be deprecated in 2.8. https://github.com/ansible/ansible/pull/42043 I think it was supposed to be included in 2.7 but missed the deadline.

so I'm not sure what we can do for it right now... I'm looking at the current code for 2.7 trying to find something.. @phatman168 Did you found a fix/workaround ?

[2018-12-10 20:44] jctanner commented on #49693
Yes, that is correct.

[2018-12-10 21:50] mattclay opened #49751 "Failing integration test ec2_vpc_vpn_facts"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ec2_vpc_vpn_facts integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Failing integration test ec2_vpc_vpn_facts:

https://app.shippable.com/github/ansible/ansible/runs/97524/66/tests
https://app.shippable.com/github/ansible/ansible/runs/97524/67/tests
https://app.shippable.com/gi

[2018-12-10 22:08] shoekstra commented on #47131
@samdoran sorry for the delay!  Just tested and it works for me.

Removed `Defaults secure_path="/sbin:/bin:/usr/sbin:/usr/bin"` from `/etc/sudoers` and tested `shutdown` isn't found in path:

[code]

Tested reboot successfully:

[code]

Thanks for resolving this one!

[2018-12-10 22:10] mattclay commented on #49751
Test disabled in:

* devel - https://github.com/ansible/ansible/pull/49752
* stable-2.7 - https://github.com/ansible/ansible/pull/49753
* stable-2.6 - https://github.com/ansible/ansible/pull/49754

[2018-12-10 22:20] chrisfunston opened #49755 "win_iis_virtualdirectory - unable to remove virtual directory with children"
##### SUMMARY

Unable to remove IIS virtual directory

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_iis_virtualdirectory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows Server 2016

##### STEPS TO REPRODUCE

Create an IIS virtual directory with a multi-tiered folder structure (ie: UI/css, UI/img)
Run sample playbook task to remove

[code]

#

[2018-12-10 22:38] Meera94 commented on #19720
What is the status of the fix? It would be useful to get the documented exit codes since my scripts can then rely on them.

[2018-12-10 22:43] #43115 closed, assigned to Akasurde

[2018-12-10 23:45] jgeorgeson commented on #47925
@mjburling will see if I can make time to do so this week.

[2018-12-11 00:16] x-yuri commented on #43989
But there's more to the story.

[code]

[code]

That gives 1, so far so good. Now then,

[code]

This time we get `'{{ hostvars["h1"].b }}'`.

In the first case it was able to get away with using the same [templar][1]. In the second one, it does [full][2] [rendering][3], but with variables of the host `h1` [only][4]. So, no `hostvars` variable available. It [fails][5], and as such returns the temp

[2018-12-11 01:57] rgurrapu opened #49757 "temporary file "AnsiballZ_setup.py" having syntax error"
##### SUMMARY
 I am trying ansible for the first time.
A sample playbook to copy a file onto a remote server.
have the following issue.

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
running on windows using cygwin

##### STEPS TO REPRODUCE
[code]
/etc/ansible/hosts
[code]

##### EXPECTED RESULTS
file

[2018-12-11 02:42] yuwzho commented on #49419
The fix will be available from v2.7.5

[2018-12-11 02:53] lpkirby commented on #37209
@acozine Thank you for the comments on the PR.  I could use some guidance on adding the instance part.  As far as I can tell, every one of those return values falls under "instance."

Here is the start of the output when I register and debug print the rds output:

[code]

Perhaps just a note showing how all the return values are referenced using the instance dict?

[2018-12-11 03:35] RedWhiteMiko commented on #49122
From my experience, zabbix template consuming a lot of memory and time to update depends on the number hosts attached,
A temporary solution, you could increase PHP memory limit to {SOME_BIG_NUMBER} GB.

[2018-12-11 03:46] dnuka commented on #49713
Hi @jose-delarosa. Thank you for the quick response. I'm an intern at the OpenStack Ironic team. I have configured to run [sushy-emulator](https://github.com/openstack/sushy-tools) on a remote cent-os server. And ran [this](https://github.com/dnuka/automate/blob/master/ansible/redfish_101.yaml) playbook against it.

No. I didn't modify the `redfish_facts` module.

I'm very much new to IT automatio

[2018-12-11 03:57] Akasurde commented on #49528
PR #45155 is merged. Closing this issue as resolved. @ilboud Thanks for testing and providing feedback.

[2018-12-11 03:57] #49528 closed, assigned to Akasurde

[2018-12-11 04:14] billdodd commented on #49713
Hi, @dnuka.

Thanks for opening the issue. The "Unknown error" is coming from the `redfish_utils` module in the final `except` block of one of the methods `get_request()`, `post_request()`, `patch_request()`, or `delete_request()`. A good improvement here would be to output a representation of the Exception received rather than just 'Unknown error'. If you are interested, feel free to submit a PR

[2018-12-11 04:28] #27419 closed, assigned to nobody

[2018-12-11 04:53] greg-hellings opened #49759 "dnf module improperly reports success for lists"
##### SUMMARY
When installing a list of packages, even if some do not exist in repository lists and are not installed, the dnf module will improperly report success provided the first element in the list **that does not have an OK/unchanged status** exists and installs properly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnf module

##### ANSIBLE VERSION
[code]
(Also present in 2.7.2 rel

[2018-12-11 06:03] justjais commented on #47067
@benjdudas I have looked into the issue and the issue you are observing is happening because of `no access-list 90` line cmd, as from the code end difference between the `running-config` is checked every-time the line cmd is fired via the `ios_config` module to check if its idempotent  and since `no access-list 90` cmd is not registered in the config of the device which results in firing the respe

[2018-12-11 06:34] dnuka commented on #49713
Hi :) @billdodd Thank you for the response.

I was able to figure out why Ansible is outputting "Unknown error" on my side. I have made a mistake when passing `baseuri`. Also, I just updated the `redfish_facts` module to support `http` @jose-delarosa

Updated [playbook](https://github.com/dnuka/automate/blob/master/ansible/redfish_101.yaml)
Now I'm getting the following error message,

<pre><font

[2018-12-11 07:12] mihai-satmarean commented on #45475
Same here. but the result for us is that` [WARNING]: - role-dns was NOT installed successfully: - command /usr/bin/git clone https://gitlab%2Bdeploy-   .... role-dns failed in directory /home/gitlab- ...` Not sure how to proceed. Thank you!

[2018-12-11 07:23] yuwzho commented on #49193
duplicate_of #43802
This is in our backlog, will be added into 2.8

[2018-12-11 07:27] #49193 closed, assigned to nobody

[2018-12-11 07:35] janvht commented on #49122
When running into the internal server error coming from the Zabbix API, I opened a ticket for Zabbix as well which currently seems to point to a memory issue in the Zabbix API causing the HTTP 500, even after increasing the PHP memory limit to 4 times the size it was.
I will close this one with a reference to the Zabbix issue (https://support.zabbix.com/browse/ZBX-15282).

[2018-12-11 07:35] #49122 closed, assigned to nobody

[2018-12-11 07:38] justjais commented on #48913
@jchristopher327 need to verify things, so can you please copy and paste here your `running-config` output before and after running the respective playbook.

[2018-12-11 08:56] basos9 opened #49763 "File module could support path patterns"
##### SUMMARY

[File module](https://docs.ansible.com/ansible/latest/modules/file_module.html) could support patterns regexp and glob.
Now if one wants to set file permissions on the  contents of a directory but wants to exclude some parts she has to
 - use the find module to get a directory listing
-  loop over each item, and applying a "when" condition with file patterns

This is very inefficien

[2018-12-11 09:11] pablofuentesbodion commented on #49730
any idea about the question ??

best regards, Pablo.

[2018-12-11 09:32] msoltyspl commented on #49732
That was not my point - I don't care about tags of the role within.

The outermost playbook where tags decide whether something is executed (among those, include_role) is not working.

[2018-12-11 10:16] kborup-redhat opened #49764 "lineinfile with template does not check output in file"
##### SUMMARY
when defining a lineinfile with template, then lineinfile does not check destination to see if lines are already present in file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]
projects.j2
[code]

##### EXPECTED RESULTS
I expect it to have the result

[2018-12-11 10:18] viper233 commented on #29854
Do you have a PR for this? @Akasurde

[2018-12-11 11:10] parrywangyin commented on #48803
Thank you NilashiC,   upgrading to 2.7 fixed the issue.

[2018-12-11 11:11] parrywangyin commented on #48803
Upgrading to Ansible version 2.7.2 fixed the issue.

[2018-12-11 11:11] #48803 closed, assigned to nobody

[2018-12-11 11:35] Akasurde commented on #47065
!component =lib/ansible/modules/cloud/docker/docker_image.py

[2018-12-11 11:53] Akasurde commented on #32893
@yuanwang-1989 Please go through this doc  - [developing plugins](https://docs.ansible.com/ansible/devel/dev_guide/developing_plugins.html). Also, going through code will also help - [connection plugin](https://github.com/ansible/ansible/tree/devel/lib/ansible/plugins/connection)

Thanks.

needs_info

[2018-12-11 12:10] cnunemaker commented on #47118
That does seem more useful.

[2018-12-11 12:39] tbouvet commented on #49547
@alkar sorry but after a test, I see that labels are not pushed to swarm spec. Updating a swarm does not update all features.
Labels can be pushed via nodes API. I can check it.
Maybe I can add a new feature to add labels on swarm nodes. Is it a feature you need ?
[code]

[2018-12-11 12:55] mihai-satmarean commented on #27677
Hello,
not working for me with the following info.

seems related to this https://github.com/ansible/ansible/issues/45475

sorry for the messy post, I'm in a hurry :)

Very good product though!

[2018-12-11 13:29] somebody78 opened #49769 "ACI: aci_bd_subnet, error for state:query"
##### SUMMARY

When using aci_bd_subnet state:query to get a list of subnets you have to limit the scope to either public or private. You cannot get a complete list with all subnets in one pull.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aci_bd_subnet

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2018-12-11 13:42] dagwieers commented on #49769
This was fixed in Ansible v2.6.2 (https://github.com/ansible/ansible/commit/2b87a843011d2588bd3b97a216049a1ffd779006#diff-111d38377159aacace5b9577e67b8cb1), please update your old v2.6.1 to something slightly newer.

PS Before reporting issues, please always first verify if it is not already fixed in an update. If not, we are spending resources on looking into already solved issues.

[2018-12-11 13:42] #49769 closed, assigned to nobody

[2018-12-11 13:48] alkar commented on #49547
@tbouvet I've personally resorted to using the command module for this but I feel that the docs are currently misleading. I'm not sure what line from the docs actually means but I expected the `docker_swarm` module's `label` property to be a list of labels for the node itself. Was the intention different?

[2018-12-11 14:12] arsenicks commented on #48594
@phatman168 I'm really not a good programmer, but I took few minutes to look at the code and I think everything in the code is still there to use the product entity.

So I tried to add product to the choice ad it just worked..

[code]

I need to tune up my github ninja skills, I can't find when or even if product was ever in the entity choice.. Anyway this workaround has worked for me right now, s

[2018-12-11 14:20] nomadcz opened #49771 "azure_rm_virtualmachine_facts fails with custom image"
##### SUMMARY

azure_rm_virtualmachine_facts fails with custom image

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_virtualmachine_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should return VM facts

##### ACTUAL RESULTS

Probably fails becau

[2018-12-11 14:22] mkrizek commented on #46744
I can reproduce this issue.

[2018-12-11 14:24] #46022 closed, assigned to nobody

[2018-12-11 14:31] priteau commented on #41240
Actually this is still not resolved in Ansible 2.7.2 and newer, it must have been a different bug that was fixed.

[2018-12-11 14:37] phatman168 commented on #48594
@arsenicks
Apologies for the delayed response, unfortunately I did not notice this and reverted to using the command module to run hammer commands.

Its good to know that everything is still in the code, if i recall correctly i don't believe the katello module had some of the other features I required therefore just used the commands instead.

[2018-12-11 14:59] arsenicks commented on #48594
It's allright less than 24h is clearly not a delayed response ;) That's probably the way I'll do it too, until this get fixed but it's a bit more complicated to make a idempotent playbook.. I guess I'll have to add a check if it exist before creating it, or just trying to create it and ignore the error, which is quicker but dirty :P Anyway thanks for the bug report, I'll try to work with the dev t

[2018-12-11 15:01] tbouvet commented on #49547
yes you are right.

[2018-12-11 15:02] NilashishC commented on #39101
Some of the new features were added in #43418 and #45844.

[2018-12-11 15:17] abenokraitis commented on #39101
@dhakalanis Can you please take a look at what's been added since you've filed this?

[2018-12-11 15:21] abenokraitis commented on #39167
@cnorthwood @eimis05 Are you still seeing this in 2.7 or the devel branch of 2.8? We are still unable to reproduce this on our end.

[2018-12-11 15:25] abenokraitis commented on #39832
@bcharboneauiherb Can you take a look or close this issue?

[2018-12-11 15:27] #49252 closed, assigned to nobody

[2018-12-11 15:35] MQasimSarfraz commented on #49648
@Akasurde thanks for the quick fix. I tested it locally and it works well for me.

Having said that this allows me to override the variable start/end strings using lookup template parameters but not using:

`#jinja2:variable_start_string:'[%' , variable_end_string:'%]'`

on top of the template. correct?

[2018-12-11 15:47] billdodd commented on #49713
The redfish_facts module is here:

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/redfish_utils.py

For the new error you are seeing, it looks like the `Members` array in your `Systems` resource is either empty or missing.

[2018-12-11 15:47] sivel commented on #49757
This error will be encountered when the target host has python2.4 or python2.5 as `/usr/bin/python`.

Ansible requires python2.6 or newer on the target host.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-12-11 15:47] #49757 closed, assigned to nobody

[2018-12-11 15:52] dtantsur commented on #49713
I think both errors are bugs. Even if the server is not fully compliant (which I'm not sure), the errors should be better.

[2018-12-11 15:56] rhydian76 commented on #24572
Pull request #49775 added to provide these Windows facts

[2018-12-11 16:01] #49022 closed, assigned to nobody

[2018-12-11 16:02] jbarotin commented on #45604
I'm back on this topic, any news / advice about my previous comment ?

[2018-12-11 16:05] #46723 closed, assigned to samdoran

[2018-12-11 16:05] #47131 closed, assigned to samdoran

[2018-12-11 16:41] abenokraitis commented on #39431
I'm wondering if the stuff @IPvSean was working on (Best Practices) could go here...

[2018-12-11 16:59] thirstydeveloper commented on #12841
Can this be re-opened? I too would want execution to continue (perhaps with a warning) if the requirements is empty.

[2018-12-11 18:02] felixfontein commented on #45604
Hmm, I just looked at the `ufw` source; the "check mode" is no real check mode, but at least it does test the options provided (by executing them with `--dry-run`). Looking at the current design, implementing a proper check mode would require a lot of extra work.

I'm not sure if simply disabling check mode is a good idea. I'm not happy with it, either, though.

[2018-12-11 18:14] bcharboneauiherb commented on #39832
I am closing this issue as it no longer pertains to us. Our Network Team decided to go another route instead of ansible.

[2018-12-11 18:14] #39832 closed, assigned to gdpak

[2018-12-11 19:16] samdoran commented on #49712
The ability to change the shutdown command was omitted by design. Given how the shutdown command argument is constructed, it would be somewhat difficult (but not insurmountable) to add this as a parameter to the module.

Could you accomplish the same thing with a `script` task before the `reboot` task using a conditional to control whether or not the `reboot` task is run?

needs_info

[2018-12-11 19:27] NillsF opened #49791 "Support for CORS configuration in azure_rm_storageaccount"
##### SUMMARY
Add support to enable/disable CORS configuration in azure_rm_storageaccount, similar to aws_s3_cors_module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_storageaccount
##### ADDITIONAL INFORMATION

CORS is an HTTP feature that enables a web application running under one domain to access resources in another domain. It is turned off by default on new storage accoun

[2018-12-11 19:32] sergedu opened #49792 "async_status: the "~" in ansible_python_interpreter path causing "Child start failed: [Errno 2]""
##### SUMMARY

We are working with Python Virtual Environments, so Python binary is located somewhere inside user home folder (Ubuntu 18.04.1 LTS). To share our Ansible playbook inventories via Git and make them working universally, we manage inventory as follows, i.e.
[code]
which then causes:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

async_status
##### ANSIBLE VERSION

[code]
#

[2018-12-11 19:35] samdoran commented on #49712
@gforster I'd love to add AIX support. Can you reach out to me on IRC in #ansible-devel or `sdoran` directly so I can get the necessary information from you? Or I can help you with the PR.

I just merged a good bit of changes this morning (c1589c33c4) that should make it _far_ simpler to add new platforms.

[2018-12-11 19:47] sivel commented on #49550
!component =lib/ansible/modules/cloud/opennebula/one_vm.py

[2018-12-11 19:47] misteryiz commented on #28649
@Akasurde
**I'm still seeing the same error as mentioned in the original report.**

[code]

I'm using the latest Ansible available using YUM Install.

[code]

[2018-12-11 19:48] sivel commented on #49565
!component =lib/ansible/modules/database/influxdb/influxdb_query.py

[2018-12-11 19:50] adarobin opened #49793 "VMware: customvalues cannot be boolean in vmware_guest"
##### SUMMARY

I am unable to set a boolean value with customvalues in the vmware_guest module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Virtual Machine managed by vCenter 6.5 Update 2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The task runs successfully.

##### ACTUAL RES

[2018-12-11 19:53] ewascent commented on #49457
Is there a way for users to set max_items in Ansible configuration to override the 300 item default, per module? This would at least allow users to make the limit apparent in our implementations.

[2018-12-11 19:54] jbarotin commented on #45604
Thanks for your answer. Even the dry-run option is executed, the check mode doesn't produce output . ufw dry-run output should be analysed to produce something viewable by an Ansible user (rules added, ufw enabled...).

I think this module is used  by a lot of people because ufw is the standard for managing firewall rules on the Ubuntu distribution. Actually, ufw user don't know if a command or a

[2018-12-11 20:09] #39106 closed, assigned to Qalthos, ganeshrn

[2018-12-11 20:09] #46185 closed, assigned to Qalthos, justjais

[2018-12-11 20:17] bengerman13 opened #49794 "docker_container always reports changed when using network_mode: container:<name>"
##### SUMMARY
when using docker_container, if you set network_mode with a container:name, it always reports changed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Host and guest are Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Do it again should not report `changed`

[2018-12-11 20:20] bcoca commented on #43884
this PR now lets caller deal with the timeout https://github.com/ansible/ansible/pull/49449

I'll be adding support for ignoring it in https://github.com/ansible/ansible/pull/49398 which will make this error non fatal

[2018-12-11 20:22] abadger commented on #49592
Verified the current behaviour matches report.
[code]
[code]

@bcoca and @jimi-c to resolve whether the with_items behaviour is a bug or the loop behaviour is a bug.

[2018-12-11 20:30] #48425 closed, assigned to nobody

[2018-12-11 20:31] BarbzYHOOL opened #49795 "Lookup passwordstore - Can't use directory names with empty space"
##### SUMMARY

Can't use empty spaces in directory or passwords' paths because of the way the additional arguments are parsed... This is a huge issue when someone switches from another password manager to pass and has used empty spaces all along (like me, I switched to pass only for the lookup plugin and now i'm stuck)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`passwordstore.py`

#####

[2018-12-11 20:33] BarbzYHOOL commented on #12255
Is this implemented??

[2018-12-11 20:36] samdoran commented on #49647
In order for this to change the Python interpreter for your playbook run, you will need to place this in variables other than role defaults, such as `group_vars` or `host_vars`.

needs_info

[2018-12-11 20:38] sivel commented on #49579
The problem here is that using folded scalar style in YAML `>` produces an implicit newline at the end of the value (https://yaml.org/spec/1.1/#id929764).

When a `lookup` is executed, it returns values as `AnsibleUnsafeText`, and later we don't template things that are unsafe.

When using `>` the newline that gets added to the end causing the value to no longer be marked as unsafe.

[code]

Due t

[2018-12-11 20:38] #49579 closed, assigned to sivel

[2018-12-11 20:41] 1NoOne1 commented on #28649
@Akasurde This looks working now in Ansible 2.7.4. :thumbsup:

Tested the following scenarios: [the documentation needed an update]

- All the scenarios are tested in vCenter6.0

1. A folder Name is must to deploy a new VM.

[code]

2. Datacenter is also needed parameter, other it will search for a default ha-datacenter.
[code]
3. Target CLuster is needed as well, If you don't mention then it is g

[2018-12-11 20:43] bcoca commented on #49649
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this PR because you can already setup this kind of logic yourself with templating, first_found, etc. We don't want to build this into the current search path as it is already complicated and hard for people to follow.

However, we're ab

[2018-12-11 20:43] #49649 closed, assigned to nobody

[2018-12-11 20:43] felixfontein commented on #49794
This has been fixed in #47997; it is contained both in Ansible 2.7.2 and 2.6.x (don't ask me from which X on, though :) ).

[2018-12-11 20:43] felixfontein commented on #49794
bug_resolved

[2018-12-11 20:47] DBendit commented on #49794
No, this is definitely still happening. I just wrote up some integ tests to verify it and I'm seeing the reported functionality in 2.8. While pid_mode and ipc_mode have their container names replaced, network_mode doesn't.

[2018-12-11 20:50] bcoca commented on #49680
For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the OSS version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2018-12-11 20:50] #49680 closed, assigned to nobody

[2018-12-11 20:56] felixfontein commented on #45604
Yes, that would be nice. Feel free to create a PR which does that!

For me, `--dry-run` always outputs something, even if I delete a non-existant rule. I don't see how it is possible to deduce a changed status simply from the `--dry-run` output.

If you can reliably detect whether a chance happens or not, you should definitely create a PR.

[2018-12-11 20:58] felixfontein commented on #45604
Ah, if you mean that you want to compare the output to /etc/ufw/user.rules resp. /etc/ufw/user6.rules, that probably works.

[2018-12-11 20:58] sivel commented on #49592
The problem here, looks like that `safe_eval` cannot turn `[u'test', Undefined]` into a python list, as such it is just a string `"[u'test', Undefined]"`.

`loop` requires a list, and it was only provided a single string.

I don't think `with_items` is doing anything useful here anyway, as it is just treating `"[u'test', Undefined]"` as a single element of a list, as `with_items` casts things to a

[2018-12-11 20:59] bengerman13 commented on #49794
@felixfontein this is still happening for me with 2.7.2
[code]

[2018-12-11 21:01] felixfontein commented on #45604
Can't you simply run `ufw status` and check the first line? For me, it's `Status: active` if `ufw` is enabled, and `Status: inactive` if it is not enabled.

[2018-12-11 21:02] felixfontein commented on #49794
Ah, I guess I misread that, then. Sorry!

[2018-12-11 21:03] resmo commented on #49794
reopening on requests.

[2018-12-11 21:09] arsenicks commented on #48594
FYI this problem affect version 2.8 too. The PR #49776  has been submitted!

[2018-12-11 21:10] jbarotin commented on #45604
In fact --dry-run on already existing rules will produce this output :
[code]
I propose the grep  '^### tuple' cause it's already used in the module.

It's not so easy cause of the locale, do you know a way to force ufw output to be in english ?

[2018-12-11 21:13] DBendit commented on #49794
Guess the bot really wants this closed.

Regardless, I've already got a fix in PR. I'll backport it to 2.7 once it's merged in, though it won't be released until 2.7.6, since 2.7.5 is already locked down.

[2018-12-11 21:15] ehelms commented on #48594
Please note these are being deprecated. Please see https://github.com/ansible/ansible/pull/49776/files#diff-ae0a9398b6ad9c29539adf37e0fbaea5R18

There is a larger, more comprehensive and better tested set of modules being built within the community.

[2018-12-11 21:16] ehelms commented on #48594
Link to modules: https://github.com/theforeman/foreman-ansible-modules

[2018-12-11 21:19] adarobin commented on #49793
I came up with this as a quick fix - https://github.com/umich-vci/ansible/commit/2d77de5c59195577aa5d5ac393d6943b26052127

If that seems sane, I'll submit a PR.

I appear to have uncovered another bug though.  Changes made with `customvalues` appear to not be idempotent.  Based on the verbose output in my environment, it appears that gather_vm_facts in the vmware module_utils is stuffing the VM an

[2018-12-11 21:22] felixfontein commented on #45604
That doesn't seem to work for deleting rules, though.

Ah crap. Forgot about I18n...

[2018-12-11 21:32] nitzmahone commented on #49792
While it'd be possible to implement this the way we execute modules today, it has the potential to paint us into some corners we'd rather not be in (by preventing us from making some changes to that in the future)... Probably the best way to handle this is to remotely resolve the path you want and set it as a fact (eg via a `raw` command), then reset the python interpreter as a fact that templates

[2018-12-11 21:32] #49792 closed, assigned to nobody

[2018-12-11 21:41] abadger commented on #49763
There are many cornercases regarding idempotence with allowing patterns in the path and various things which are not file attributes (for instance, should state=touch create all the files that a limited pattern like '[0-9].txt' describes?)  So it's unlikely that we will implement this.

Due to the inherent idempotence cornercases, using the command module may be better suited to your needs (or wri

[2018-12-11 21:41] #49763 closed, assigned to nobody

[2018-12-11 21:46] webknjaz commented on #48134
Unfortunately yes but we're trying to get rid of "legacy" things which violate single responsibility principle. It's just that we cannot do this immediately because of backwards compat.

Mount is a state of a block device available somewhere in fs dir tree whereas fstab is a config file. Those are different things and must be managed separately. Mixing more things creates an untestable matrix of a

[2018-12-11 21:51] samdoran commented on #49626
The `setup` module is using `socket.getfqdn()` to get `ansible_facts['fqdn']` and `platform.node()` to get `ansib le_facts['hostname']`. The `hostname` command line tool is not used.

If you set the local hostname of the machine to an FQDN, then that value will be returned in `ansible_facts['nodename']`.

[code]

needs_info

[2018-12-11 21:54] samdoran commented on #49764
`lineinfile` is meant to act on individual lines — it does match across `\n`. This means `lineinfile` will look for `   {{ projectname }}:\n    project: {{ projectname }}\n    group: {{ groupname }}` in each line, not find a match, and insert it at the end of the file.

`blockinfile` is made for handling multi-line text.

This appears to be a user question, and we'd like to direct these kinds of t

[2018-12-11 21:54] #49764 closed, assigned to samdoran

[2018-12-11 21:57] sivel commented on #47925
At this time, inventories can only use file backed cache plugins.

There is ongoing work to support database backed cache plugins at https://github.com/ansible/ansible/pull/47058

[2018-12-11 21:58] sivel commented on #49687
At this time, inventories can only use file backed cache plugins.

There is ongoing work to support database backed cache plugins at #47058

[2018-12-12 01:45] picklesrein commented on #48785
There are no Ansible updates available via yum... How does one install this patch on Ansible which was installed from the traditional CentOS7 repos?

[2018-12-12 01:49] k0ste commented on #48785
@picklesrein

[code]

Don't forget check your `ansible.cfg`:
[code]

[2018-12-12 02:16] picklesrein commented on #48785
Thank you @k0ste for the immediate response and accurate information! My mail functions are working again!

[2018-12-12 02:30] ptux commented on #48847
closed

[2018-12-12 02:35] renatomassaro commented on #20493
Any workaround?

[2018-12-12 02:41] renatomassaro commented on #20493
Ok, found a workaround:

[code]

It's ugly but well, it's a workaround. The `static` was added due to another bug, the handler may work without it.

[2018-12-12 02:53] MacDhughaill opened #49802 "Discrepancy in results from Docker container started with Ansible docker_container versus Docker CLI commands"
##### SUMMARY
When I use the following Docker CLI commands, the container successfully starts up and runs normally.
[code]
When I use `docker_container` in an Ansible playbook with the equivalent options, the playbook completes successfully, but the container immediately afterwards exits with an error code of "1".
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE

[2018-12-12 03:37] Akasurde commented on #11042
!component =lib/ansible/plugins/lookup/consul_kv.py

[2018-12-12 04:06] #49483 closed, assigned to nobody

[2018-12-12 04:39] felixfontein commented on #49802
Have you tried to run `docker inspect unifi` afterwards to see what the difference between the two containers are?

It might help to first just create the containers (without starting them) and see what the differences are before the containers are started (otherwise one difference will be that one of them is running and the other one not).

[2018-12-12 04:39] DBendit commented on #49802
Are you sure that this image is working at all? When I run that image with the same settings as yours, it fails just as you describe, completely outside of Ansible.

needs_info

[code]

[2018-12-12 05:21] Akasurde commented on #11935
resolved_by_pr #49804

[2018-12-12 05:33] trishnaguha commented on #49026
So nxos is the one that varies from other platforms. All other platforms uses `host` whereas NXOS uses `sysname`. We cannot change existing keys in the facts modules as it will break the module and backward compatibility, but we can add a key `host` to nxos neighbors fact that resembles `sysname`

[2018-12-12 05:42] Fred-sun commented on #49771
@nomadcz Thanks for your contribution.
@zikalino Could you help take a look this issue? It can be reproduced that the VM create by customer image.  It seem same question, duplicate of #46440 ---Error Msg: KeyError: 'publisher', Thanks!

[2018-12-12 05:45] isorn44x opened #49805 "Ansible Failed to join domain"
##### SUMMARY
Failing to join the VM to Domain

##### ISSUE TYPE
win_domain_membership

##### COMPONENT NAME
win_domain_membership

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
RHEL7.5

##### ADDITIONAL INFORMATION
I was trying to add the VM to AD but it failing, when i do manually it works fine. I have confirmed the user-id and password use to join the domain hav

[2018-12-12 06:11] Fred-sun commented on #49791
@zikalino Could you help take a look this issue? It's a new feature for azure_rm_storageaccount module (missing CROS parameter). Thanks!

[2018-12-12 06:17] Akasurde commented on #46614
@qist Thanks for the reporting this issue. Could you please provide `-vvv` logs, playbooks used, operating systems used etc. details ? This will help in debugging issue. Thanks.

needs_info

[2018-12-12 06:20] ptux commented on #48847
wontfix

[2018-12-12 06:28] #48847 closed, assigned to nobody

[2018-12-12 06:35] ptux commented on #49603
@tappoz

Is the following you want to do?

[code]
You will get the latest file just like wget.

[2018-12-12 06:36] Akasurde commented on #46614
Similar to https://github.com/ansible/ansible/issues/43884. @qist Please track this issue there. Thanks.

[2018-12-12 06:36] #46614 closed, assigned to nobody

[2018-12-12 06:38] Akasurde commented on #17700
similar to https://github.com/ansible/ansible/issues/12629

[2018-12-12 06:53] dnuka commented on #49713
Thank you @billdodd :)

It appears so,

[code]

I agree with @dtantsur :) We could do better by providing more specific error messages to the end user.

Also, why there are two locations? I mean, `lib/ansible/module_utils/` and then `/lib/ansible/modules/` I thought only things under `lib/ansible/modules` were considered valid custom modules. Is this a design choice or is there a specific reason b

[2018-12-12 07:37] yungezz commented on #47268
I met same issue. It's related to how to make batch api call. I'm investigating it, will update if has more info.

[2018-12-12 08:00] ptux commented on #49405
The reason is `urllib` for python2 does NOT support `HEAD` method.

[2018-12-12 08:41] #11935 closed, assigned to Akasurde

[2018-12-12 09:04] #49794 closed, assigned to nobody

[2018-12-12 09:05] #49563 closed, assigned to nobody

[2018-12-12 09:22] minimum2scp opened #49809 "apt_repository module changes symlink in /etc/apt/sources.list.d/ to normal file"
##### SUMMARY

When there is a symlink in /etc/apt/sources.list.d directory,
apt_repository module changes symlink to a normal file unexpectedly.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

apt_repository module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

`ansible-config dump --only-changed`: no outputs.

##### OS / ENVIRONMENT

OS: Debian 9

[code]

##### STEPS TO REPRODUCE

p

[2018-12-12 10:02] tappoz commented on #49603
Yep, but I would like Ansible to know the filename of the downloaded file to use it later on in the playbook.

[2018-12-12 10:02] pilou- opened #49811 "module_utils/basic.py: "NameError: global name 'TimeoutError' is not defined" (Python 2)"
##### SUMMARY
Using Python 2: exception `NameError: global name 'TimeoutError' is not defined` (since #49449, [here](https://github.com/ansible/ansible/blob/63279823a77320b8cdf7f69d61af6eddaa5ebf33/lib/ansible/module_utils/basic.py#L2834))

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/basic.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENV

[2018-12-12 10:03] sher-ocs-79 commented on #33321
Solved by removing ansible_become=true in the /etc/ansible/hosts file.

[2018-12-12 10:36] Soufianux commented on #19605
a simple : **ln -s /usr/bin/python3 /usr/bin/python** resolved my issue

[2018-12-12 10:41] justjais commented on #44672
@guest088 Thanks for raising the issue, can you please verify if following PR: https://github.com/ansible/ansible/pull/47290, fixes the issue that you are facing