[2014-03-10 15:20] mpdehaan commented on #6363
Ansible doesn't support running from cygwin.

[2014-03-10 15:20] #6363 closed, assigned to nobody

[2014-03-10 15:23] mpdehaan commented on #6367
The default -m module is "shell", so you are evaluating through bash on the remote side.

The single quotes are only protecting things on your local side.

Use "-m command" to avoid running things through the remote shell.

[2014-03-10 15:25] mpdehaan commented on #6369
Since you have a patch here, if you would like to submit this, please submit this as a github pull request rather than a bug ticket.

Read https://help.github.com/articles/using-pull-requests for how to contribute code to the project.

Thanks!

[2014-03-10 15:38] sebbrochet commented on #5709
@jimi-c I've just git-cloned Ansible and tested.
myrole tag is executed if asked explicitly but no tags are displayed if tag doesn't exist (as described above).

How is the output supposed to have changed ?

[2014-03-10 16:00] wferi commented on #6367
Calling ansible without arguments says:

[code]

Anyway, adding `-m command` to the command line does not change anything.

[2014-03-10 16:05] mriedelumab commented on #6369
Thanks- I tried doing that based on the Contribution documentation, but I think I did it wrong the first time.  I think I got it this time, pull request #6372. Thanks!

[2014-03-10 16:31] pjz opened #6373 "Using $HOME in ansible.cfg [defaults] hostfile = doesn't work"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Ubuntu Precise
##### Summary:

I tried setting

hostfile = $HOME/.ansible/hosts
and it didn't work at all; I got 'ERROR: Unable to find an inventory file, specify one with -i ?'. Changing it to hostfile = /home/pjz/.ansible/hosts fixed it, but was clearly suboptimal; why is environment substitution done in some c

[2014-03-10 16:39] jimi-c commented on #5709
@sebbrochet I thought it wasn't finding the tags at all if nested as above. I'm still working on the tag output issue.

[2014-03-10 17:32] mpdehaan commented on #6373
Basically this is expecting an os.path.expandvars to be executed here around the inventory path.

This seems reasonable though there may have been problems checking earlier.

Seems like an easy patch if this is something you would like to work on!

[2014-03-10 17:38] pjz commented on #6373
Well, so the larger question is whether other paths (all paths?) in the ansible.cfg should be wrapped in os.path.expandvars?

[2014-03-10 18:51] #6348 closed, assigned to nobody

[2014-03-10 19:38] #5617 closed, assigned to nobody

[2014-03-10 21:21] potetm commented on #5675
This really needs to be part of the documentation of the command module.  The documentation already lists variables, redirection, piping, and backgrounding, but it doesn't say anything about shell expansion.  That lead me to believe that file expansion was doable with the command module.

This problem is exacerbated by the existence of answers like [this](http://serverfault.com/a/511650/126874) on

[2014-03-10 21:25] srgvg commented on #5675
It is documented that the command module plainly run commands, whilst the shell module uses a shell to do that. Hence _shell_ expansion only works with the shell module.

I don't think ServerFault answers are any reference here, that answer clearly is mistaken :-)

[2014-03-10 23:12] #6211 closed, assigned to nobody

[2014-03-10 23:15] np commented on #6341
I'm also affected by this issue and these commits fixes the issue. After a quick review these two commits looks good to me.

[2014-03-10 23:17] DaveQB commented on #2769
Using {{':'}} is the only option that worked for me.
All other quoting just did not pass by ansible's standards. Although it did pass YAML checks.

[2014-03-11 01:07] spencergibb opened #6382 "Error in system/setup"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.1
##### Environment:

What OS are you running Ansible from and what OS are you managing?  from Mac OSX 10.8 managing Mac OSX 10.8
##### Summary:

system/setup fails with a python error
##### Steps To Reproduce:

ran `ansible-playbook -i hosts playbook.yml`

playbook.yml

[code]

hosts

[code]
##### Expected Results:

successful running of a

[2014-03-11 01:12] ghost commented on #5814
I'd like to see this fixed, as I usually use a $HOME-installed Python.  I can work on the code, but would like some guidance.  If the installer puts things into a location other than `/usr/share/ansible`, what other portions of the codebase need to change so they aren't _looking_ just in `/usr/share/ansible` for those items?

[2014-03-11 01:35] #6169 closed, assigned to nobody

[2014-03-11 08:56] marcoc610 opened #6383 "regexp in assemble module with remote_src=false"
##### Issue Type:

Bug report.
##### Ansible Version:

ansible 1.5
##### Environment:

Ubuntu 12.04
##### Summary:

The `assemble` module does not take the `regexp` option when `remote_src=false`.
The option works properly if `remote_src=true`
##### Steps To Reproduce:

This playbook does not run

[code]

If I copy all files in the `fragments/prova` directory to the remote machine and I assemble t

[2014-03-11 09:43] jorisvddonk opened #6385 ""No such file or directory" error when installing packages via the apt module"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
(error also occurs on 1.5, but not on 1.4.4)
##### Environment:

Running ansible from Ubuntu 12.10
Managing Ubuntu 12.10
(the host that's running ansible and the host that's being managed are the same host; this is a local playbook)
##### Summary:

Installing packages via the apt module seems to not work correctly, and returns with

[2014-03-11 09:54] lordfolken commented on #6385
Exactly my problem as well. I think it tries to execute the cmd as a whole in quotation marks.

[2014-03-11 10:12] sashka commented on #6385
I've faced the same problem in Ansible 1.5.1.
Ansible 1.5.0 doesn't have this problem.

[2014-03-11 10:16] pjan opened #6386 "apt-module returns failure for both absent/present"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.1
##### Environment:

Ubuntu 12.04
##### Summary:

Started cutting up the big chunk of roles I have, and putting them on Galaxy. I meanwhile also upgraded to 1.5. I run into issues I never had before, especially with the apt module, returning:

for

[code]

I ssh'd into the machine, and put in the command in the console/terminal, an

[2014-03-11 10:21] absoludity commented on #6385
@lordfolken is close. The quotes around the package names are being escaped:

[2014-03-11 10:49] python-consulting opened #6387 "APT module fails : [Errno 2] No such file or directory"
##### Issue Type: Bug Report
##### Ansible Version: 1.5.1
##### Environment: Debian 7 amd64
##### Summary:

The APT module fails at basic commands (installation of package, upgrade, etc.)
##### Steps To Reproduce:

Step to reproduce :
- Install ansible system wide with pip on debian wheezy
- add hosts
- run: ansible all -m apt -a "pkg=iperf"
##### Expected Results:

Installation of iperf
##### Act

[2014-03-11 10:53] tomgoto opened #6388 ""hosts: WEB[:1]" doesn't work to address any one of the server in the group"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.0, 1.5.1
##### Environment:

CentOS 6.4/6.5
##### Summary:

I've been using [:(number)] in hosts section of playbook so that I can limit the number of server to run.
It works in Ansible 1.4.3 (CentOS yum package), but not in Ansible 1.5.0 or 1.5.1.
Probably it is related to [issue 6331](https://github.com/ansible/ansible/issues/6331).
#####

[2014-03-11 11:11] pcraston opened #6389 "apt_key module broken since 1.5.1"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.1
##### Environment:

Ubuntu 12.04
##### Summary:

Since upgrading to Ansible 1.5.1 apt-key module fails with error:

[code]

Here's the task:

[code]
##### Steps To Reproduce:

Upgrade to 1.5.1. Downgrading to 1.5 resolves the issue

[2014-03-11 11:54] drybjed commented on #6385
Confirming bug on current devel release, running on Ubuntu 12.04: https://travis-ci.org/ginas/ginas/builds/20390404

[2014-03-11 12:25] mpdehaan commented on #6385
I'm confused between a comment above saying this occurs on 1.5 -- I haven't heard the report of this -- and another above that says this does not, and also not seeing 'mc' escaped above.

Regardless, we are looking into this now.

[2014-03-11 12:27] mpdehaan commented on #6386
Thanks, we have already gotten a report of this and are looking into this.   See #6385

[2014-03-11 12:27] #6386 closed, assigned to nobody

[2014-03-11 12:28] mpdehaan commented on #6387
Thanks, we have already gotten a report of this and are looking into this.   See #6385

[2014-03-11 12:28] #6387 closed, assigned to nobody

[2014-03-11 12:28] mpdehaan commented on #6389
Thanks, we have already gotten a report of this and are looking into this.   See #6385

[2014-03-11 12:28] #6389 closed, assigned to nobody

[2014-03-11 12:34] mpdehaan commented on #6385
Ok, it appears the security fix to not run things through the shell did not consider how environment variables were being passed yet.  I'm disappointed with the testing from us here and we'll get to the bottom of why this was allowed to go out.  In the meantime, we can set the environment though os.environ and I'm working on making this happen.

[2014-03-11 12:41] jorisvddonk commented on #6385
@mpdehaan: regarding my report of this bug occurring on 1.5: the bug occurs on ansible from package _ansible=1.5.2-quantal-unstable1_ from [ppa:rquillo/ansible](https://launchpad.net/~rquillo/+archive/ansible), which claims to be "ansible 1.5" when asked for a version number via `ansible --version`.

[2014-03-11 12:49] mpdehaan commented on #6385
Rodney should not be packaging the 1.5.2 branch as at this time it was a release branch to prepare for future development.

What is happening is right now I've fixed the code on the development and 1.5.2 branches already and am working on a release.   This will be 1.5.2

I am VERY sorry about this and will address the test oversight with my team.   The apt module should always be at the absolute t

[2014-03-11 13:07] mpdehaan commented on #6385
This release is now up on releases.ansible.com and pypi.

I'm going to leave this up for a while today to reduce any reports on the existing ticket for the short term, so people can see this.

Please try 1.5.2 via pip or releases.ansible.com if you are having any apt problems with 1.5.1 (which you will have).

If there is something in a PPA called 1.5.2 already hopefully that PPA can be updated --

[2014-03-11 13:11] srgvg opened #6393 "when running a tag, all tasks from the play where the tag exists are run"
##### Issue Type:

Bug report in tag handling
##### Ansible Version:

Latest devel, as per git bisect, bug was introduced in 6577ff5f85bf27048739013d91066c7b4e1dd466
##### Environment:

Ubuntu, but N/A
##### Summary:

When running a larger playbooks contanin multiple plays with different tags, and running it with specifying a particular tag, all tasks in those plays that contain (tasks with) that

[2014-03-11 13:12] sashka commented on #6385
@mpdehaan In a test Vagrant environment the bug is still in Ansible 1.5.2

[code]

[2014-03-11 13:17] pjan commented on #6385
@mpdehaan I just updated to the latest build (pip), but the bug is still here (on vagrant, physical machine and travis.

Sample output:

[code]

[2014-03-11 13:18] jorisvddonk commented on #6385
@sashka @pjan @mpdehaan: can confirm that the bug still appears on 1.5.2 from PYPI.

[2014-03-11 13:44] jctanner commented on #6358
@tsh56 for clarification purposes, where is the ssh config? Is it on the remote host or on your control host? Where is the task actually running (control/remote) ?

[2014-03-11 14:19] sivel commented on #6385
From the looks of it, the fix from c09d4b1c7a8494f961ae9e071f89c95a4a944002 never made it into the 1.5.2 branch.  Seems as though 1.5.2 was largely the same code as 1.5.1 with a version bump.

https://github.com/ansible/ansible/compare/release1.5.1...release1.5.2

[2014-03-11 14:19] discordianfish opened #6395 "docker module not idempotent"
##### Issue Type:

Feature Request
##### Ansible Version:

ansible 1.6 (devel c7d1c1a306) last updated 2014/03/07 16:45:29 (GMT +200)
##### Environment:

Ubuntu saucy & precise
##### Summary:

I expected the docker module to run a new container only if the container doesn't exist yet.
##### Steps To Reproduce:

Given this task:

[code]
##### Expected Results:

I expected the docker module to run a

[2014-03-11 14:19] python-consulting commented on #6385
Bug still in 1.5.2 from pypi, just tested now.

[2014-03-11 14:20] landtuna opened #6396 "ansible_ssh_user incorrect when using local_action"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5

ii  ansible                                                              1.5.2-saucy-unstable1                         all
##### Environment:

Ubuntu 13.10
##### Summary:

ansible_ssh_user evaluates to the local user when using a local_action. I would expect it to be the current remote user. ansible_ssh_host works as expected.
####

[2014-03-11 14:21] landtuna commented on #6396
The workaround I'm currently using is to capture ansible_ssh_user in an earlier task using a registered variable.

[2014-03-11 14:24] jctanner commented on #6385
I have confirmed that the fix did not make it to 1.5.2. I will get this resolved.

[2014-03-11 14:25] python-consulting commented on #6385
There is a bug in the commit c09d4b1, the APT_ENVVARS is mispelled.

[2014-03-11 14:36] verveguy commented on #2454
The lack of timestamps on log output is almost criminally negligent. :-)

[2014-03-11 15:04] drybjed opened #6397 "mysql_db module does not import database schema from gzipped files"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible 1.6 (devel)
##### Environment:

Debian
##### Summary:

After latest changes in 1.5.1, mysql_db module does not import provided schema file.
##### Steps To Reproduce:

[code]
##### Expected Results:

Schema is imported correctly.
##### Actual Results:

[code]

[2014-03-11 15:57] softzilla commented on #6395
Can't reproduce.

New container created only on first run:

[code]

Output:

[code]

"ok" (not "changed") - Second task run without new container

Also, "docker ps -a" on host gives only one container with name "c1" and command "sleep 1000".

[2014-03-11 16:17] drybjed commented on #6397
via `git bisect`, bug was introduced in ba0fec4f4238e381adc5f5a2f286bcd5b32f0586

[2014-03-11 16:28] mpdehaan commented on #4875
cc @jimi-c can you take care of this applyhing this one?

[2014-03-11 16:31] mpdehaan commented on #6365
Should be fixed by the above, so closing, thanks!

[2014-03-11 16:31] #6365 closed, assigned to nobody

[2014-03-11 16:32] mpdehaan commented on #5975
This looks good to me, is this something you would like to work on and submit a pull request for?

Thanks!

[2014-03-11 16:33] mpdehaan commented on #5959
Hi @vadimkuznetsov - can you submit a pull request for the above commit?

Thanks!

[2014-03-11 16:34] mpdehaan commented on #5925
Sorry for the delay in responding to this one.

Is this something you would like to work on and submit a pull request for?

Thanks!

[2014-03-11 16:34] mpdehaan commented on #5738
We should catch this error and use a fail_json on it.

[2014-03-11 16:35] mpdehaan commented on #5683
This should be fixed in recent commits where it doesn't pass "id".  If you are still seeing this problem please let us know!

[2014-03-11 16:35] #5683 closed, assigned to nobody

[2014-03-11 16:36] mpdehaan commented on #5565
Yep, this should take care of the above.    Thanks for pointing this out!

[2014-03-11 16:36] #5565 closed, assigned to nobody

[2014-03-11 16:36] mpdehaan commented on #5401
@sivel and company - let us know if you have a pull request for this.    Making a sweep through cloud tickets.

Thanks!

[2014-03-11 16:37] sivel commented on #5401
Will do. I do have a branch but need to run it by a few people first.

[2014-03-11 16:38] mpdehaan commented on #4415
Sorry for the delay in response, I don't think storing the password locally seems prudent.

An update_password option here seems quite reasonable and other modules have been doing this.

If someone would like to add this, it would be welcome.

[2014-03-11 16:39] mpdehaan commented on #6395
I'm going to close this per the above.    If we think there are still issues let's discuss implementation on ansible-devel (as notifications on this closed ticket are not easily read by everyone, and tickets in general are not read by everyone).

Thanks!

[2014-03-11 16:39] #6395 closed, assigned to nobody

[2014-03-11 16:40] mpdehaan commented on #6397
is this something you would like to work on a fix for?

I'd rather not revert that commit.

Thanks!

[2014-03-11 16:42] mpdehaan commented on #6396
Well, there is no remote user as it's a local action, so it's evaluating as you, but I can see this is a bit of a grey area.

Have you looked into using the synchronize module?

[2014-03-11 16:44] mpdehaan commented on #6393
@jimi-c giving this one to you, appears to only affect the devel branch, but marking priority.  Need to be careful on any changes to tags as that seems to be a problem area.

[2014-03-11 16:46] landtuna commented on #6396
I'd argue that there's still a remote machine, since the play is running in the context of being associated with a remote host. Ignoring the motivation for doing an rsync, it would be reasonable to use ansible_ssh_user and ansible_ssh_host along with local_action to keep a record on the local machine of remote machines accessed.

Another reason this is a bug and not just a quirk is that ansible_ss

[2014-03-11 16:47] jctanner commented on #5738
@eproxus this has been fixed as of 1.5.0. Please update and try again.

[2014-03-11 16:47] #5738 closed, assigned to jctanner

[2014-03-11 16:49] jschwanz opened #6398 "Update ansible-playbook man page"
##### Issue Type:

Documentation Report
##### Ansible Version:

ansible 1.5.2
##### Environment:

RHEL 6
##### Summary:

The man page for ansible-playbook needs to be updated to include info on Vault.
##### Steps To Reproduce:

man ansible-playbook
##### Expected Results:

N/A
##### Actual Results:

N/A

[2014-03-11 16:59] dmourati commented on #6385
What is a workaround, this is blocking my work today. I've tried pip install, git install, and source tarball install, all still fail for me.

[2014-03-11 17:01] davidminor opened #6399 "npm module won't install a package if it is installed as another package's dependency"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

N/A
##### Summary:

npm module won't install a package if it is installed as another package's dependency
##### Steps To Reproduce:

[code]
##### Expected Results:

clean-css should be installed, as it will be if you run:

[code]
##### Actual Results:

clean-css is not installed.

This is because the npm module i

[2014-03-11 17:06] drybjed commented on #6385
@dmourati If you really need, I think reverting back to v1.5.0 should be enough to make it work again.

[2014-03-11 17:40] jjshoe commented on #6385
@dmourati pip uninstall ansible ; pip install ansible==1.5.0

[2014-03-11 17:43] sivel commented on #6385
Per the last email, the 1.5.2 package on pypi was fixed.  Although I am unsure how long it may take to expire on the pypi CDN.

There is also releases.ansible.com. Pip can install a tar.gz file from any location.

[2014-03-11 17:48] vadimkuznetsov commented on #5959
Here it is: https://github.com/ansible/ansible/pull/6400

[2014-03-11 18:04] jdauphant opened #6401 "Problem with lenght param in the lookup password"
Hi,

I have a problem when I try to set the lenght params of the password lookup.

[code]

I have this error :

[code]

Other params "chars" and "encrypt" work well.

[2014-03-11 18:08] sivel commented on #6401
This could be that you have spelled "length" incorrectly.  You have the "h" and "t" transposed.

[2014-03-11 18:08] sashka commented on #6385
Thanks! Tarball from releases.ansible.com perfectly works.

[2014-03-11 18:15] jdauphant commented on #6401
@sivel You have right, thanks.
I will close the ticket.
He most explicit error message will be nice :)

[2014-03-11 18:15] #6401 closed, assigned to nobody

[2014-03-11 18:38] mpdehaan commented on #6385
Correct, this was updated about 10:50 eastern daylight time this morning and a new release pushed out to pypi after removing the old package to correct something missing in the cherry-pick

I'm hoping the CDN does the right thing for everyone soon.

[2014-03-11 19:02] mgan59 commented on #4875
Sorry the delay, I went to test this and figured I would start with a fresh clone of the ansible repo to first duplicate my initial error.  Of course I didn't get an error and instead everything worked with a json dump of my linode account.  So I was unable to duplicate my initial error which I opened 4 months ago.

Regardless I went ahead and put your patch into place and this is the error I rece

[2014-03-11 19:04] drybjed commented on #6397
@mpdehaan I've isolated the problem within `lib/ansible/module_utils/basic.py` at https://github.com/ansible/ansible/commit/ba0fec4f4238e381adc5f5a2f286bcd5b32f0586, I'm not sure if  I could help more, changes seem to me to be at a single function, correct? Anyway, without changes in this file, `mysql_db` runs fine.

[2014-03-11 19:34] mpdehaan commented on #6147
This is now implemented such that you can do # in the main file.

Youc an also stick that in group_vars or host_vars as that's regular YAML too.

Hope this helps, thanks!

[2014-03-11 19:34] #6147 closed, assigned to nobody

[2014-03-11 20:48] fesplugas commented on #6382
Same here, version `1.5.2` is also affected.

https://github.com/ansible/ansible/commit/ba0fec4f#commitcomment-5639260

[2014-03-11 20:52] careyrp commented on #6382
The problem is the code for class LinuxNetwork was modified to take parameter module, but all other sub-classes of class Network were not modified. So the code "Network(module)" on all platforms except platforms that use LinuxNetwork will fail.

Note:
The Network class contains a **new** function. This will pick the appropriate sub-class of Network and instantiates the sub-class instead of instant

[2014-03-11 20:53] jefferai opened #6407 "Incorrect warning with with_fileglob"
When using the following with_fileglob statement:

with_fileglob: "{{ bootstrap_location }}/debs/*"

I get the following:

[WARNING]: It is unneccessary to use '{{' in loops, leave variables in loop expressions bare.

(Note: "unnecessary" is also misspelled in the warning message -- it should have one c, not two.)

However, this cannot be right; without the {{ }} there's no way it would know what

[2014-03-11 20:54] mpdehaan commented on #6407
Basically what i've suggested is if the line doesn't end in "}}" we should not print the warning.

Should be an easy addition.

[2014-03-11 20:56] bcoca commented on #6407
with_fileglob: bootstrap_location + "/debs/*"

[2014-03-11 21:30] jlafon opened #6411 "EC2 Facts completely broken in 1.5.2"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.2
##### Environment:

Ubuntu 12.04
##### Summary:

ec2_facts broken

It appears that the ec2_facts module is completely broken in Ansible 1.5.2.
It's actually hard coded to fail ([look here](https://github.com/ansible/ansible/blob/devel/library/cloud/ec2_facts#L73)) by calling `json_fail` explicitly.
Here is the [commit](https://github.com/

[2014-03-11 21:47] stanhu opened #6412 "hipchat module: SSL verification fails with no explanation"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.2
##### Environment:

Ubuntu 12.04
##### Summary:

SSL verification fails when attempting to use the hipchat module
##### Steps To Reproduce:

Use the hipchat module and attempt to send a message.
##### Expected Results:

No errors, message gets sent.
##### Actual Results:

[code]

---

Ansible v1.5.2 appears to have enabled SSL ser

[2014-03-11 22:29] matteosister commented on #6385
1.5.2 fixed the problem for me...

:+1: for an official ppa!

[2014-03-11 22:49] sashka opened #6413 "Role's default variables aren't rendered in task names."
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.2
##### Environment:

N/A
##### Summary:

Default value of a role variable doesn't render in a task name.
##### Steps To Reproduce:

Sample playbook and role are in this gist: https://gist.github.com/sashka/9496666
##### Expected Results:

[code]
##### Actual Results:

[code]

[2014-03-11 22:50] mpdehaan commented on #6413
This is because they are inventory scoped and may be different per host, so can't go in a header.

Working as designed!

[2014-03-11 22:50] #6413 closed, assigned to nobody

[2014-03-11 22:51] mpdehaan commented on #6412
We're not using curl here but I agree we should look in multiple applications for Ubuntu.   @jimi-c can you take a look at this one to make it look in both locations?

[2014-03-11 22:53] mpdehaan commented on #6412
Also it does not seem that hipchat module supports validate_certs=no so there's no workaround here.   It seems we would want to add this parameter to any module using the urls.py logic.

Marked as priority -- we should also audit other modules at this time.

[2014-03-11 22:55] sashka commented on #6413
OK, thanks.

[2014-03-11 22:59] mpdehaan commented on #6411
Ow, very disappointed that this debug comment got left in.

We have some integration tests that we are expanding though this is not added yet.

We will update this very soon and see about a dot release.

[2014-03-11 23:03] stanhu commented on #6412
Looking in multiple locations seems like a hack; there's no guarantee a user has the ca-certificates module or any of the other certificates installed on the system. I think the right fix is to allow the user to specify a CA file or a CA path, but I don't see an easy way to do this in the current Ansible module structure.  Is there a way to retrieve a config parameter from a module?

By default, i

[2014-03-11 23:13] mpdehaan commented on #6411
Removing errant code now, and will ask @jctanner to help test

[2014-03-11 23:18] mpdehaan commented on #6411
See fix applied on https://github.com/ansible/ansible/commit/a689e42d32cba58808ed5d3a56d35ff9b2962fa1

The workaround would be replace ec2_facts from the version on the development branch for now

We want to fix up some problems caused by recent SSL validation upgrades (different issue) so our plan is to include both this and that ticket in a 1.5.3 update, which we should be targetting for _approx

[2014-03-11 23:20] jlafon commented on #6411
Wow, thanks for the fast response! I'll test the new release tomorrow as well.

[2014-03-11 23:26] dmourati commented on #6397
Is this bug necessarily limited to gzip'd files? I can no longer import straight sql via  mysql_db: state=import

[2014-03-11 23:41] devoncrouse opened #6414 "route53: No ec2_argument_keys_spec()"
##### Issue Type:

Bug Report
##### Ansible Version:

1.6.0 devel
##### Summary:

I'm a little confused; it looks like ec2_argument_spec() -> ec2_argument_keys_spec() in this PR: https://github.com/ansible/ansible/pull/5917

But in devel, it still has the old name despite the merge. The Route53 module (at least), is now referencing the new name, however, and errors as a result.

[2014-03-11 23:45] mpdehaan commented on #6414
This is probably the result of the merge push today on the development branch to get some old PRs in.  I am flagging this as priority to fix on the development branch, though this should I believe not be applied to the release branch.

[2014-03-11 23:46] mpdehaan commented on #6385
Yep, working on that.

Rodney just mentioned he would update his PPA very soon as well.  I'm still going to leave this open for a bit just so people can read.

[2014-03-11 23:47] devoncrouse commented on #6414
https://github.com/ansible/ansible/commit/b9a7352e0a8e2cd8a72e29a7cc9a800bc83155c8

^ Looks like (part of) the culprit

[2014-03-12 00:05] mpdehaan commented on #6414
Yep, I have this on deck for the team to look at this tomorrow.   Should you have a good test platform available (sadly I don't right now at this time and where I'm at), I'd definitely be able to merge a quick pull request.  I don't think we want to revert so much as fix the errant methods.

Thanks!

[2014-03-12 00:07] mpdehaan commented on #6412
So looking in multiple locations is fine as if we don't find any, the verification code will _NOT_ require one, the more greater sin here is validate_certs not being passed.

But you're right, which file would we know it would be in?

We'll discuss this tomorrow, though absolutely without a doubt we should also be exposing validate_cert=no here, and upgrading the message a bit.

[2014-03-12 00:09] mpdehaan commented on #6411
Thanks, getting more integration tests wired into the system is going to be a major goal for us in 1.6 -- so we can detect things like this more automatically, while still testing the real cloud APIs (so not just units)

Help testing is much appreciated!

[2014-03-12 00:16] mpdehaan commented on #6407
Good point there.   I still think I can prune the warning though, it was intended to prevent stuff like:

with_items: "{{ alist }}"

where you can just more elegantly do:

with_items: alist

[2014-03-12 00:24] devoncrouse commented on #6414
No problem. This solves the problem for me, though I'm not sure if there's more cleanup that should be happening here...

https://github.com/ansible/ansible/pull/6415

[2014-03-12 01:31] jefferai commented on #6407
@bcoca good to know, but the intent of the warning seems to be preventing the case @mpdehaan described: with_fileglob: {{ bootstrap_location }}

[2014-03-12 01:31] jefferai commented on #6407
Of course, I could fail to refresh the page before commenting.

[2014-03-12 01:38] #6411 closed, assigned to nobody

[2014-03-12 01:39] jctanner commented on #6411
@jlafon that last patch should fix the issue for you. I've tested against an official amazon linux AMI and got a clean diff between the output with the patch and from 1.5.0.

[2014-03-12 02:35] jctanner commented on #6414
Confirmed the mixed up function names:

[code]

[2014-03-12 02:47] DSpeichert commented on #6393
I am having the same problem, all tasks within playbook's roles are run.

[2014-03-12 03:48] jctanner commented on #6414
Fixed by https://github.com/ansible/ansible/pull/6415

[2014-03-12 03:48] #6414 closed, assigned to jctanner

[2014-03-12 04:01] jxdx commented on #5209
I see this was closed but I have the exact same problem. I'm running on the latest branch and I can't install any package, I always get the same error on Ubuntu 12.04

TASK: [Install MySQL] ********************************************************\*
failed: [54.186.11.224] => {"cmd": "DEBIAN_FRONTEND=noninteractive DEBIAN_PRIORITY=critical /usr/bin/apt-get -y -o Dpkg::Options::=--force-confdef -o D

[2014-03-12 04:01] jctanner commented on #5053
This is resolved by https://github.com/ansible/ansible/pull/5363

[2014-03-12 04:01] #5053 closed, assigned to nobody

[2014-03-12 04:14] jctanner commented on #6393
I am unable to reproduce this without using roles so far.

[2014-03-12 04:41] jctanner commented on #5209
@jxdx that appears to be the issue documented by https://github.com/ansible/ansible/issues/6385

[2014-03-12 04:43] jxdx commented on #5209
@jctanner Interesting except that I'm using Ubuntu 12.04 and that bug is on 12.10.

[2014-03-12 04:45] jxdx commented on #6385
I'm having the same issue on Ubuntu 12.04 using the latest branch.
If I use Ansible 1.6 I do not have the issue.

[2014-03-12 06:24] tonyjchong opened #6430 "Getting errors during GATHERING FACTS"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.2
##### Environment:

OSX on my laptop
vagrant 1.5.0
Ansible
Ubuntu 12.04 for the VMs
##### Summary:

After updating to ansible 1.5.2, starting getting errors on the GATHERING FACTS portion of the play
##### Steps To Reproduce:

Fresh install vagrant 1.5.0, virtualbox 4.3.8, ansible 1.5.2
run an ansible play that worked prior to the

[2014-03-12 09:36] fago opened #6431 "Cloning git repository fails with ansible 1.5.2"
##### Issue Type: Bug Report
##### Ansible Version: 1.5.2
##### Environment: Ubuntu 13.10 amd64
##### Summary:

Please summarize your request in this space.  You will earn bonus points for being succinct, but please add enough detail so we can understand the request.
##### Steps To Reproduce:

Since the update from 1.4.4 to 1.5.2 (via the ubuntu PPAs) cloning a Git repository started failing. It t

[2014-03-12 09:46] ivanvolti opened #6432 "pacman module doesn't work in Ansible 1.5.2"
### Note:

pacman module works with Ansible 1.5 but doesn't work with 1.5.2 version
### Issue Type:

Bug Report
### Ansible Version:

Ansible 1.5.2
### Summary:

pacman module fail when I try to install anything
### Steps To Reproduce:

[code]
### Expected Results:

task is done with no errors
#### Error message:

[code]

[2014-03-12 09:51] fago commented on #6431
Updated description to match the template.

[2014-03-12 12:19] ghost commented on #5925
I'll try to make some time to fix it and write a pull request for this.

[2014-03-12 12:27] ghost commented on #5925
On a second thought, I see this has already been fixed in the code, so I guess it's safe to close this issue.

[2014-03-12 12:44] renaudguerin commented on #6397
I can confirm that for .bz2 imports as well.
Fails with "msg: bunzip2: Bad flag `-D'"

[2014-03-12 12:49] mpdehaan commented on #6431
This doesn't appear to be running through the new get_url code or anything so _may_ be a problem with github.

We'll see if we can reproduce this.

[2014-03-12 12:50] mpdehaan commented on #5925
Excellent, thanks!

[2014-03-12 12:50] #5925 closed, assigned to nobody

[2014-03-12 12:50] mpdehaan commented on #6432
I'm not sure exactly what is going on here, is this something you would like to help dig into?

[2014-03-12 12:53] mpdehaan commented on #6430
Can you verify that you have 1.5.2 installed?

I am curious here as if we were having gathering facts issues on Ubuntu I think we would have had more reports.

In queue for investigation.

[2014-03-12 12:55] #6092 closed, assigned to nobody

[2014-03-12 13:03] mpdehaan commented on #6385
"I'm having the same issue on Ubuntu 12.04 using the latest branch."

I'm not sure what you mean with the "latest branch", but I assume you mean the rquillo PPA?

I just got an email from Rodney that he had uploaded 1.5.2 so this should now be available there.

You can also get 1.5.2 from pip or releases.ansible.com if you are having trouble, but PPA should be updated now.

Let me know if you stil

[2014-03-12 13:05] muffl0n opened #6435 "Restricting by tags is broken"
##### Issue Type:

Bug Report
##### Ansible Version:

devel (e0147f18b1a5355d391dd9482d6afaf89ace8264)
##### Environment:

N/A
##### Summary:

When trying to restrict tasks by tags all tasks are being executed. Regardless of the specified tags.
##### Steps To Reproduce:

Hostfile test:

[code]

Playbook test-tags.yml:

[code]

/roles/test-tags/tasks/main.yml:

[code]

/roles/test-tags/tasks/foo.ym

[2014-03-12 13:07] muffl0n commented on #6435
Nevermind... duplicate of #6393 :(

[2014-03-12 13:07] #6435 closed, assigned to nobody

[2014-03-12 13:11] renaudguerin commented on #6397
It looks easy enough to fix by adding "use_unsafe_shell=True" to the run_command calls in the module, but given the large number of modules affected, shouldn't run_command just autodetect at least the more common shell control characters ("/","<",">" ... ) in the args string, or would this defeat this patch's purpose ?

[2014-03-12 13:15] dmkoch opened #6437 "Tilde expansion no longer works in pip module"
The shell security change in 1.5.1 (commit https://github.com/ansible/ansible/commit/ba0fec4f4238e381adc5f5a2f286bcd5b32f0586) breaks tilde expansion in paths:

[code]

Running the task now fails in 1.5.1/1.5.2:

[code]

I'm working around it for now with

[code]

Thanks!

[2014-03-12 13:20] mpdehaan commented on #6430
Ok, we understand this now, we've applied jlaska's fix above and have tested on OS X and are ok, and this will be included in 1.5.3 update soon if you don't want to run the development branch.

Sorry about this!

[2014-03-12 13:20] #6430 closed, assigned to nobody

[2014-03-12 13:23] dirtyharrycallahan opened #6438 "CHANGELOG.md missing notes for 1.5.2"
Just noticed that the 1.5.2 branch but there are no notes in CHANGELOG.md

[2014-03-12 13:24] mpdehaan commented on #6437
This is no longer going through the shell though there should have been code in the run command stuff to os.path.expand various bits.

We'll take a look at this (it's more generic than just pip)

[2014-03-12 13:24] mpdehaan commented on #6438
I think it's on the branch but not the CHANGELOG or whatever on one or other.  Will fix soon after some other things.

[2014-03-12 13:24] mpdehaan commented on #6438
this only contains a fix for the apt module BTW

[2014-03-12 13:26] mpdehaan commented on #6382
Looking at this now, thanks

[2014-03-12 13:37] renaudguerin commented on #6397
The following should give a (non-exhaustive) first idea of what's likely broken after the change :
git grep '(run_command|cmd).*[|<>]'

[2014-03-12 13:40] srgvg opened #6439 "Tags on tasks in dependent roles aren't picked up (devel branch)"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 devel
bug introduced in commit 73c883c1220d906686f26a0e00a5e00af120fce0
##### Environment:

Ubuntu but N/A
##### Summary:

When running a play with a specific tag that contains roles with dependencies, where said tag exists on different tasks in all those roles (main and dependent roles), only the tasks of the primary role are execu

[2014-03-12 13:47] ivanvolti commented on #6432
Looks like this commit broke it: https://github.com/ansible/ansible/commit/ba0fec4f4238e381adc5f5a2f286bcd5b32f0586#diff-b4b2594470901379068e7e5fbeb60977L90

[2014-03-12 13:56] renard opened #6440 "ssh + chroot feature"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.6 (devel 0e38f5dfdc) last updated 2014/03/12 13:44:03 (GMT +000)
##### Environment:

N/A
##### Summary:

I started to implement a mix of ssh and chroot connection (see my [cnx_chroot branch](https://github.com/renard/ansible/tree/cnx_chroot)).

This adds a `chroot_dir` argument to both play and task in order to run them in a remote

[2014-03-12 13:59] pierot commented on #5679
In which release will this be working? I still encounter the same behaviour as described originally.

[2014-03-12 14:13] mpdehaan commented on #6437
I've applied a fix to the development branch that we'll include in a future 1.5.3 very shortly that will always expand ~ and environment variables.

[2014-03-12 14:17] mpdehaan commented on #6431
This works for me on both 1.5.2 and the devel branch.

As we were seeing issues with github yesterday (lots) and some intermittent this morning, I expect this was github failing.  If you are still seeing problems, let me know.

This seems to align with what I'm seeing on https://status.github.com/messages

[2014-03-12 14:17] #6431 closed, assigned to nobody

[2014-03-12 14:21] #6412 closed, assigned to nobody

[2014-03-12 14:22] jimi-c commented on #6412
@stanhu I believe the above patch should resolve this issue for you. The function will now look for any .crt or .pem file within common cert paths like `/etc/ssl/certs` and try each in turn until one works (or none do). If you continue to have this problem, please let us know. Thanks!

[2014-03-12 14:47] stanhu commented on #6412
@jimi-c, thanks for the fix. I still think the path should be configurable because there will be cases where a user will want to use private certificate authorities not listed in the default paths. I'm also not sure if it's a good idea to turn off validation if no certificates can be found. With all the recent security bugs relating to man-in-the-middle attacks, I would err on the side of caution

[2014-03-12 15:13] jlaska commented on #6431
I wonder if this may still be a problem.  Github appears to be operating normally, and I'm hitting the reported problem.

[code]

[2014-03-12 15:20] stanhu commented on #6412
Also, the retry mechanism of the newly-revised function means that connecting to an SSL socket can be very slow. On my Ubuntu system, I count 155 certificates installed in /etc/ssl/certs. I did a quick test: with the new mechanism, it took 42 tries to get the right certificate. This means 42 connection attempts were issued just to initiate a successful SSL connection. What's worse is that certain

[2014-03-12 15:22] mpdehaan commented on #6397
Ok there is shell stuff in there, got it, and can take care of it.

I do want the shell choice to be explicit in the code.

Thanks!

[2014-03-12 15:42] #6393 closed, assigned to jimi-c

[2014-03-12 15:43] jimi-c commented on #6393
The above patch should resolve the issue for you. If you continue to have problems with this, please let us know. Thanks!

[2014-03-12 15:54] HelloGrayson opened #6442 "Implicit localhost does not work with this simple example."
##### Issue Type:

Bug  Report
##### Ansible Version:

ansible 1.5.2
##### Environment:

OSX 10.9.1
##### Summary:

Playbook errors out on this simple implicit localhost example.
##### Steps To Reproduce:

Create a playbook called `test.yml` with these contents:

[code]

Then run the file like so:

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2014-03-12 15:55] dmkoch opened #6443 "git module fails when using sudo on Ansible 1.5.1/1.5.2"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.2
##### Environment:

Ubuntu 13.04 x86_64 on Ansible system and managed host
##### Summary:

git module broken as of Ansible 1.5.1/1.5.2 when running with sudo
##### Steps To Reproduce:

Run a git task over ssh as root, using sudo to an unprivileged user

[code]

/srv/myproject is owned by myuser.
##### Expected Results:

A copy of

[2014-03-12 16:02] mpdehaan commented on #6443
Can you check this on the devel branch?  We are working on a 1.5.3 candidate using some cherry-picks off there and this seems ok, despite some minor issues with adding host keys multiple times that we are chasing.

There was an issue with the way the host key commands were being passed not through the shell in that version.

Thanks!

[2014-03-12 16:04] mpdehaan commented on #6442
This works for me on the devel branch.

Can you share what is in your host file (/etc/ansible/hosts unless specified by an environment variable?)

[2014-03-12 16:04] srgvg commented on #6393
Solved, thanks!

[2014-03-12 16:07] HelloGrayson commented on #6442
`/etc/ansible/hosts` is empty. here is my ansible.cfg

[code]

[2014-03-12 16:12] prune998 commented on #6412
Having the same issue with flowdoc notification module... the error message seems to come from URLlib...
I don't mind checking the cert of flowdoc... but where to set the variable "validate_certs=no" so ansible can work like it was before 1.5 updates ?

[2014-03-12 16:22] jimi-c commented on #6412
@prune998 the flowdoc module was updated via another commit, though the above should have fixed the issue for that module as well if you're running off of devel. The `validate_certs=no` is set as a module parameter.

[2014-03-12 16:22] mpdehaan commented on #6412
We're working on adding that to all modules now on the devel branch and will be doing a 1.5.3 release shortly.

[2014-03-12 16:24] prune998 commented on #6412
thanks... waiting for it... don't want to deploy devel branch on production server... better stop working until then :smile:

[2014-03-12 17:00] yuriks commented on #6443
I can confirm and have the same issue. What seems to be happening is that sudo doesn't change the cwd, it stays in root's cwd, then git tries to read the cwd and fails.

[2014-03-12 17:37] jimi-c commented on #6412
@stanhu here is another possible way of handling it: https://gist.github.com/jimi-c/cc535be8c64a4a8ef7ae, if you want to test that out.

[2014-03-12 17:41] patricksmith commented on #6431
I'm still seeing this issue, using a bitbucket repo, so I believe it is not tied to github. After looking into the code some, I think I have a viable solution in https://github.com/ansible/ansible/pull/6446.

[2014-03-12 17:45] dmkoch commented on #6443
The same error occurs with the devel branch at https://github.com/ansible/ansible/commit/ebfc776

[2014-03-12 17:56] stanhu commented on #6412
@jimi-c, that certainly would be better than trying all the certificates individually. You're essentially duplicating what Debian's update-ca-certificates does, except not doing it as well. For example, update-ca-certificates handles certificates that are locally installed in /usr/local/share/ca-certificates and also excludes ones that are specified in the config file. Plus, the temporary file is

[2014-03-12 17:59] nirik opened #6447 "1.5.1 breaks gathering facts with accelerate"
##### Issue Type: Bug Report
##### Ansible Version: 1.5.1 or 1.5.2
##### Environment: RHEL6 also happens on Fedora rawhide
##### Summary:

Gather facts doesn't work with accelerate mode anymore. ;(
##### Steps To Reproduce:

Run any playbook with a gather_facts: true and acelerate: true.
##### Expected Results:

facts are gathered.
##### Actual Results:

Traceback and failure.

Note that on rawhid

[2014-03-12 18:00] jirutka commented on #5679
This fix _was_ working, but it doesn’t work anymore. I’ve just pushed a new fix, see #6448 .

[2014-03-12 18:00] packetcollision commented on #6443
It's probably an ubuntu-specific issue. Ubuntu does not reset the HOME env when doing sudo, whereas Debian (and probably others) do. You can always override HOME by using "sudo -H" so maybe that should be the default if it isn't already.

[2014-03-12 18:08] yuriks commented on #6443
`ansible -vvvv` indicates that `-H` is already being passed to sudo:

[code]

[2014-03-12 18:32] ovcharenko opened #6449 "ansible-playbook ignores --limit option"
##### Issue Type:

BugReport
##### Ansible Version:

ansible 1.6 (d37f0c6d12)
##### Environment:

N/A
##### Summary:

ansible-playbook ignores --limit option.
##### Steps To Reproduce:

ansible-playbook hosts.yaml --limit=boo
##### Expected Results:

PLAY [Localhost] **************************************************************
skipping: no hosts matched

PLAY [All servers] **********************

[2014-03-12 18:45] jpetazzo commented on #6395
Try with "sleep 1" instead of "sleep 1000".

There are (at least) two use-cases for this feature:
- make sure that something is running (if it has been stopped for some reason, restart it!)
- make sure that a container exists (e.g. for data containers).

I will also ping ansible-devel.

Thank you!

[2014-03-12 19:22] mpdehaan commented on #6447
So 1.5.1/2 has a fair degree of issues about "~/" and the like being expanded which are now fixed on the development branch as a result of the security upgrades.

We are currently working on a 1.5.3 release that addresses this with the intent on releasing this tomorrow.

For now, this should be addressed on the development branch -- if you have a chance to test, we'd appreciate it.

[2014-03-12 19:22] mpdehaan commented on #6443
@jimi-c has been chasing this right now as well.

we will take a look at this.

[2014-03-12 19:26] mpdehaan commented on #6449
Can you please share your playbook?

[2014-03-12 19:37] jimi-c commented on #6443
I've merged in #6451 above, which should resolve the issue. Please let us know if you continue seeing this problem. Thanks!

[2014-03-12 19:37] #6443 closed, assigned to nobody

[2014-03-12 19:40] ovcharenko commented on #6449
It's pretty simple:

[code]

[2014-03-12 19:56] nirik commented on #6447
I can confirm that devel works ok on rhel6 with accelerate here.
Oddly, Fedora rawhide fails still with the same error, but that might be an unrelated issue... will dig more as time permits.

[2014-03-12 20:07] jctanner opened #6454 "ec2_key does not update or readd key when contents change"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Ubuntu 12.04
boto 2.23.0
##### Summary:

The ec2_key module only checks that the name of a key matches and ignores the content.

To update the key, I have to first run a task to declare state=absent, then run another with state=present.
##### Steps To Reproduce:

Run the task twice with two different key_material ...

[2014-03-12 20:46] jctanner opened #6455 "ec2_key needs a wait parameter"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Ubuntu 12.04
boto 2.23.0
##### Summary:

The ec2_key needs to wait for the api call to finish so that later operations like removing a group can succeed without dependency failures.
##### Steps To Reproduce:

[code]

[2014-03-12 21:33] mcornick opened #6457 "dnsmadeeasy module: regression in creating records"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.2 installed via pip
##### Environment:

running from Mac OS X 10.9.2, managing Centos 6.5
##### Summary:

There has been a regression in the dnsmadeeasy module since Ansible 1.5. A task which ensures that an A record is present raises an exception.
##### Steps To Reproduce:

Install Ansible 1.5.2 and dopy. Create a role using the fi

[2014-03-12 21:37] gildegoma commented on #6449
I confirm that this bug is present since Ansible 1.5.0.
I think that this bug only affects `localhost` target, in its two variants:
- "implicit" `localhost` (new feature #3129)
- `localhost` defined in the inventory

**Little Tip:**
You can add `localhost` to the `--limit` (e.g. `--limit='group1:localhost'`) to avoid the fatal abortion of the `localhost` play. That can help if your `--limit` is in

[2014-03-12 21:46] HelloGrayson commented on #6442
@mpdehaan were you able to reproduce using my `ansible.cfg`?

[2014-03-12 22:06] litvos opened #6458 "AIX support user permission issues in the setup module of 1.6"
##### Issue Type: BUG
##### Ansible Version: 1.6

$ ansible --version
ansible 1.6
##### Environment:

OS RHEL 6.4, managed node AIX 6.1
##### Summary:

During collecting facts (executing setup module on AIX) as a non root user, module fails with 2 errors
##### Expected Results:

module setup should be able to collect facts without need to run as root.
$ ansible host1 -m setup  -i hosts
##### Actua

[2014-03-12 22:19] mpdehaan commented on #6457
This is likely related to the failure handling around URLs that we have fixed elsewhere.

@jimi-c can you look at the basics around this?

[2014-03-12 22:20] mpdehaan commented on #6458
I'm not sure this particular section of the system has had any changes with respect to 1.5.X, so may have always been a think?

I would agree the facts should be omitted in this case when we can't gather them.

Is this something you would like to work on, perhaps?

Thanks!

[2014-03-12 22:40] ava-miket opened #6459 "github_hooks exception"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.0
##### Environment:

client running Ubuntu 13.10, target server running Ubuntu 12.04
##### Summary:

github_hooks throws "failed to parse" error
##### Steps To Reproduce:

github_hooks: action=create hookurl=http://{{ inventory_hostname }}:88 user={{ github_user }} oauthkey={{ github_oauth }} repo=https://github.com/{{ yii_admin_re

[2014-03-12 23:39] mpdehaan commented on #6459
Thanks for the report, is this something you might have cycles to attack by any chance?

[2014-03-13 01:48] #6457 closed, assigned to nobody

[2014-03-13 01:49] jimi-c commented on #6457
@markcornick the above patch should resolve the issue for you, and we will include it in 1.5.3. Please let us know if you continue having problems with this module. Thanks!

[2014-03-13 05:58] justinjereza opened #6462 "Ansible 1.5.2 breaks while gathering facts from FreeNAS 9.2.1.2"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.2
##### Environment:

Running Debian 7.4 and managing FreeNAS 9.2.1.2. Ansible is installed from pypi in a virtualenv.
##### Summary:

Ansible 1.5.2 breaks while gathering facts from FreeNAS 9.2.1.2. All files are in the same directory and ansible-playbook is executed in the same directory. The same files work when using Ansible 1.4

[2014-03-13 06:10] HelloGrayson commented on #6462
Not entirely positive but I think this might be related to #6430

[2014-03-13 06:27] HelloGrayson opened #6463 "Allow variables to be passed in to lookup"
Currently there is no way to pass in variables when using `lookup('template', 'mytemplate.j2')`.

For example. Given the following lookup:

[code]

Let's say I want to pass in a var `foo` which equals `bar` so that inside the template `{{ foo }}` outputs `{{ bar }}`

My scenario is that I'm generating user-data for cloudformation... I have 3 sets of user-data to generate from the same file, where

[2014-03-13 06:50] HelloGrayson commented on #6463
Or, in other words.

Create 2 registered variables from 1 template where different parameters are provided to each.

[2014-03-13 07:01] justinjereza commented on #6462
It does look like it's related. `facts.update(Network(module).populate())` seems to have appeared in 1.5.1 when it was just `facts.update(Network().populate())` in previous versions.

[2014-03-13 07:44] drybjed commented on #6397
`mysql_db` has been fixed in recent commits in `devel` branch.

[2014-03-13 07:44] #6397 closed, assigned to nobody

[2014-03-13 07:59] drybjed opened #6464 "Ansible applies jinja templates to environment variables and fails on shell prompt"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible 1.6 (devel)
##### Environment:

Ubuntu with zsh shell and custom configuration
##### Summary:

During playbook run I need to store a fact about local user in a variable using `set_fact` but Ansible complains about errors in a template. I assume it's because my zsh prompt contains control strings like `%{ %}`, but that never bothered Ans

[2014-03-13 08:06] drybjed commented on #6464
`git bisect` shows that bug has been introduced in 3cd7d47b7ec2a8a560c6da803768eb3d9983c252.

[2014-03-13 08:43] dmourati commented on #6397
Thanks @drybjed

[2014-03-13 10:15] pesterhazy commented on #6431
I'm also seeing the issue, i.e. the problem pointed out by @patricksmith. The problem is fixed in the current git version.

[2014-03-13 11:06] kevintsai opened #6465 "'mode' parameter of 'copy' module seems not works on ansible 1.6"
'mode' parameter of 'copy' module doesn't works when i upgrade to 1.6
http://docs.ansible.com/copy_module.html

[2014-03-13 11:22] kevintsai commented on #6465
my bad, it works.

[2014-03-13 11:22] #6465 closed, assigned to nobody

[2014-03-13 11:42] mpdehaan commented on #6463
In most cases usage of lookup('template') is an anti-pattern and folks should just use the template module.   It's there because it could be done, which is not neccessarily the greatest reason to merge something.

In the case of using the cloud formation module, you could use the standard template module to generate the cloudformation template, and then a call to cloudformation to run it.

[2014-03-13 11:42] #6463 closed, assigned to nobody

[2014-03-13 11:42] mpdehaan commented on #6462
This is already fixed on the 1.5.3 branch and we'll be releasing this today.

[2014-03-13 11:42] #6462 closed, assigned to nobody

[2014-03-13 11:44] mpdehaan commented on #6464
I'm reverting this now.  Thanks!

[2014-03-13 11:52] mpdehaan commented on #6464
reverted now, thanks!

[2014-03-13 11:52] #6464 closed, assigned to nobody

[2014-03-13 13:30] jimi-c commented on #6329
The above patch was causing issues and was reverted, so re-opening this.

[2014-03-13 14:19] geerlingguy opened #6466 "Add 'update' option to ansible-galaxy"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5
##### Environment:

N/A
##### Summary:

As [mentioned](https://groups.google.com/forum/#!topic/ansible-devel/o_-WIDQWKqo) on the mailing list, the `ansible-galaxy` command has `install` and `remove` options, but no `update` option.

The solution is currently to use `ansible-galaxy install [role],[version] --force`, but that feels

[2014-03-13 14:22] makimotoz opened #6467 "ask_sudo_pass in the config is causing --sudo"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 1.5.2
##### Environment:

Master centos 6.4. Manages rhel 5.5
##### Summary:

When using ask_sudo_pass in the config ("ask_sudo_pass  = True") I get auth issues in _some_ boxes.
Once the directive is set to false in the cfg file, that works without issues.
##### Steps To Reproduce:

set ask_sudo_pass  = True in the .cfg file and do any

[2014-03-13 14:48] holyjak opened #6469 "Template fails with diff if dest=directory w/o trailing / - shall provide better error message"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:
- Host: Windows 7
- Guest: Centos 5.9
##### Summary:

Ansible-playbook fails for a template module if the `dest` argument does not have a trailing `/` and it is run with `--diff`. Without `-diff` it runs just perfectly. Additionally, under Centos59, the error message is confusing and does not help to understand th

[2014-03-13 15:19] hlieberman opened #6471 "Missing manpages for ansible-galaxy and ansible-vault"
##### Issue Type:

Documentation Report
##### Ansible Version:

Latest devel branch
##### Environment:

N/A
##### Summary:

There are missing man1 pages for the new ansible-galaxy and ansible-vault commands.  These files should be created or generated from asciidoc.
##### Steps To Reproduce:

N/A
##### Expected Results:

N/A
##### Actual Results:

N/A

[2014-03-13 15:21] sivel commented on #6412
What if we were to take the route that requests uses.  requests ships a cacert.pem file that is used for cert validation.

That coupled with the configuration option in ansible.cfg and perhaps also looking in /etc/ansible/ could be a decent idea.

https://github.com/kennethreitz/requests/blob/master/requests/cacert.pem
https://github.com/kennethreitz/requests/blob/master/requests/certs.py

[2014-03-13 15:29] FiloSottile opened #6472 "Ansible 1.5.2 fails when gathering facts with trivial localhost playbook"
[code]

[2014-03-13 15:54] jctanner commented on #6472
duplicate of #6430

[2014-03-13 15:54] #6472 closed, assigned to nobody

[2014-03-13 16:30] kodieg opened #6474 "SSL verification fails"
##### Issue Type:

Problem with SSL verification
##### Ansible Version:

`ansible 1.5.2`
installed via pip
##### Environment:

Ubuntu 12.04
##### Summary:

When I try to fetch any URL via https I get SSL verification error
##### Steps To Reproduce:

[code]

[code]

I am on ubuntu 12.04. Script found some certs here /usr/share/ca-certificates/cacert.org/cacert.org.crt and failed to verify postgresq

[2014-03-13 16:30] geerlingguy commented on #6466
Thank you, ansibot :)

[2014-03-13 17:33] stanhu commented on #6474
I suspect this is a duplicate of #6412.

[2014-03-13 18:05] mgcrea commented on #6254
Encountering the same issue, looks like ansible creates files with wrong chmod:

[code]

Ansible just created thoses files but it looks like it can't use them.

[2014-03-13 18:07] mgcrea commented on #6254
Fixed it manually but I'm encountering this instead:

[code]

Looks like I'm encountering this https://github.com/ansible/ansible/issues/6447

[2014-03-13 18:18] mgcrea commented on #6447
It's not working for me on latest OSX:

[code]

regular playbook

[code]

accelerated playbook

[code]

Tried `rm -rf ~/.ansible` or switching to `/tmp` with no lucky

Failing commands do work if I copy/paste them in bash

[2014-03-13 19:18] brdo opened #6476 "Request to set_keepalive in paramiko_ssh"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Running ansible on Ubuntu 10.04 64-bit 2.6.32-48-generic
managing client on Ubuntu 10.04 64-bit 2.6.38-16-server
##### Summary:

During a package install via ansible's apt module the package I'm installing reconfigures iptables which momentarily causes a disruption in ansible's SSH session  The result of this cau

[2014-03-13 22:07] risaacson commented on #6449
Based on the playbook above I have confirmed that running on an OS X 10.9.2 host the following:

[code]

This should be fixed as of the release today. Can you confirm on your system or pass on information for what you are running it on?

[2014-03-13 22:52] mpdehaan commented on #6476
" I'm installing reconfigures iptables which momentarily causes a disruption in ansible's SSH session"

This can technically be handled with using "async" in fire and forget mode for this task, using a poll interval of 0, and then using "wait_for" to wait for the connection to come back online again.

Though if you'd like to submit a pull request for this we'd be happy to test it to see if it caus

[2014-03-13 22:55] mpdehaan commented on #6412
@sivel, so there are upgrades to this now available on 1.5.3 and devel -- please take a look there.

I don't really want to be in the business of shipping our own cacert.pem, that seems to open up a big can of maintaince worms where nobody is going to be happy with the contents of what we use.

(we can't use requests as that would require an additional dep and complicate bootstrapping)

[2014-03-13 22:56] mpdehaan commented on #6474
A user on twitter had this same problem because their ca-certs were old and we are now validating certs, which is to say, this is kind of a feature.

This was fixed for them by running update-ca-certs on their system.

Let us know per what ansibot is asking what version of ansible you are using and whether this works for you.

[2014-03-13 22:57] mpdehaan commented on #6471
I agree, flagging this as a priority thing to take care of.

[2014-03-13 23:00] mpdehaan opened #6478 "document ansible-galaxy requirements file"
I get a lot of questions asking about how to list role requirements in a file, which is covered by "ansible-galaxy install" with "-f" and  a file that contains a list of username.rolename or "username.rolename,version", one per line.

This should be explained in the web documentation for Galaxy, and then also on the Galaxy "About" text.

[2014-03-13 23:00] mpdehaan commented on #6438
updated changelogs on 1.5.3 as well as devel branch now reflect 1.5.X history.  Thanks!

[2014-03-13 23:00] #6438 closed, assigned to nobody

[2014-03-13 23:46] gildegoma commented on #6449
I've verified ansible 1.5.3 and 1.6 (devel 9eb3f8779c), and the same error remains:

`FATAL: all hosts have already failed -- aborting` when `localhost` plays are executed with a `--limit` argument.

I've also created #6479, which includes a first possible fix, which should also help to confirm the expected behavior. Hope it helps...

[2014-03-14 05:32] evgkrsk opened #6482 "sysctl_file is broken if file doesn't exists"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Running from OS: ALT Linux Sisyphus (current)
Managed OS: ALT Linux Sisyphus (current)
##### Summary:

Module sysctl is broken if sysctl_file is not pre-created.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Results:

[code]

[2014-03-14 06:39] evgkrsk commented on #6482
Module works fine with pre-created sysctl_file:

[code]

[2014-03-14 07:28] kodieg commented on #6474
update-ca-certificates make no difference. Isn't that a problem that get_ca_cert in module_utils/urts.py returns "/usr/share/ca-certificates/cacert.org/cacert.org.crt" and not "/etc/ssl/certs/ca-certificates.crt"?

When I changed this function to return ca-certificates.crt, everything works fine

[2014-03-14 07:38] kevintsai opened #6485 "script module feature"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.6
##### Environment:

N/A
##### Summary:

I'm using bash script files as template a lot.
Is it possible to make `script` module can be transferring via templates?

Current solution:

[code]

Hope `script` module can combine them like:

[code]

I would like to know if you consider this useful.

[2014-03-14 11:44] s2hc-johan opened #6489 "Value precedence not working with child groups"
##### Issue Type:

Bug
##### Ansible Version:

Have encountered it in head, 1.5.2 and 1.5.3, according to discussions on irc it has been around for quite some time.
##### Environment:

Deploy os is Os X mavericks servers deployed to is debian 7.
##### Summary:

When using child groups to be able to override som variables, the variable from the parent group is the one that gets used.

All tough thi

[2014-03-14 11:50] srgvg commented on #6489
The full and exact inventory where you experienced the problem will be needed to reproduce the issue; with just the snippet chances are high the bug doesn't show.

[2014-03-14 11:52] s2hc-johan commented on #6489
The full inventory file looks like:

[code]

[2014-03-14 11:55] srgvg commented on #6489
FYI This is the problem solved by 2f2a22b87e33f39286d0b2daa5fd50c60fd4788b

[2014-03-14 13:04] mpdehaan commented on #6485
So if you want to template something and then transfer it you could work around this by using
- local_action: template ...
- script: ...

To push the templated version.

We're unlikely to insert a new module to template the script for this reason.

Stop by the project list if you have questions and we can share more info.

Thanks!

[2014-03-14 13:04] #6485 closed, assigned to nobody

[2014-03-14 13:05] mpdehaan commented on #6489
Thanks @sergevanginderachter -- since we have this ticket open I'm going to close this one as a duplicate and mark your ticket as a priority one so we are sure to look at it quicker.

Thanks!

[2014-03-14 13:05] #6489 closed, assigned to nobody

[2014-03-14 13:06] mpdehaan commented on #6489
I see this is applied to devel, so we should be good to go!

[2014-03-14 13:10] srgvg commented on #6489
PR or single commit wasn't applied yet, not sure what you meant.

[2014-03-14 13:53] risaacson commented on #6449
What OSes and versions are you running this on?

[2014-03-14 13:55] risaacson commented on #6449
I see the error. Hmm. . . Will look at the PR today.

[2014-03-14 14:15] patrickheeney opened #6490 "[Feature Idea] Ansible Galaxy - GalaxyFile"
##### Issue Type:

Feature Idea
##### Ansible Version:

1.6+
##### Environment:

N/A
##### Summary:

This feature was originally proposed on [google groups](https://groups.google.com/forum/#!topic/ansible-devel/7AVJJL7_LEU) and will be summed up here for tracking purposes.

At a high level this will provide the same functionality that a puppetfile does to librarian-puppet. In ansible terms this wo

[2014-03-14 14:43] mpdehaan commented on #6490
So yes, this was posted at Google Groups and had assumed you were building -- as this should be the case and I don't want to fragment the discussion, I don't think we need the feature ticket here in the issue tracker -- let's continue discussion on the list and if you want to submit a pull request we can discuss any details on that too.

Thanks!

[2014-03-14 14:43] #6490 closed, assigned to nobody

[2014-03-14 14:45] mpdehaan commented on #3799
We've decided this is probably not something that may happen in core, but it is possible with some other things that can consume API data -- like Tower -- because of the way they work in an event based manner.   As such I'm going to close this ticket.

[2014-03-14 14:45] #3799 closed, assigned to nobody

[2014-03-14 14:47] patrickheeney commented on #6490
@mpdehaan, The last reply on the google groups discussion was from James Cammarata that said:

Which way should I handle this?

[2014-03-14 14:49] mpdehaan commented on #3887
So the problem behind this is with a very large number of hosts (--forks 150) this will cease to make sense, and should basically involve an out-of-band (non-SSH) backchannel to the host and callbacks to plumb them through, with instrumenting various modules to have something like a module.intermediate_status.

Architectually, I'm not entirely positive this makes sense and in many cases if someone

[2014-03-14 14:51] mpdehaan commented on #5393
Hi,

We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 14:51] #5393 closed, assigned to nobody

[2014-03-14 14:51] mpdehaan commented on #4127
Hi,

We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 14:51] #4127 closed, assigned to nobody

[2014-03-14 14:52] mpdehaan commented on #4305
This should be implemented now, let me know if you feel things are still missing.

[2014-03-14 14:52] #4305 closed, assigned to nobody

[2014-03-14 14:53] mpdehaan commented on #4164
We don't have any plans to change this at this time -- usage of lookup() has been pretty well minimized already.

[2014-03-14 14:53] #4164 closed, assigned to nobody

[2014-03-14 14:53] mpdehaan commented on #4325
Reclassifying this as a bug report so it doesn't get lost :)

[2014-03-14 14:53] mpdehaan commented on #4331
Hi,

We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 14:53] #4331 closed, assigned to nobody

[2014-03-14 14:54] mpdehaan commented on #5118
Hi,

We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 14:54] #5118 closed, assigned to nobody

[2014-03-14 14:54] mpdehaan commented on #5084
Hi,

We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 14:54] #5084 closed, assigned to nobody

[2014-03-14 14:55] mpdehaan commented on #5004
@bcoca is working on some consistency cleanup for state=link and so forth right now, which should take care of this, so I'm going to close out this ticket.

[2014-03-14 14:55] #5004 closed, assigned to nobody

[2014-03-14 14:57] #4234 closed, assigned to nobody

[2014-03-14 14:57] mpdehaan commented on #5113
Reclassifying this as a bug report

[2014-03-14 14:59] mpdehaan commented on #4109
So @jctanner the usage of this is pretty straightforward -- namely that you want to see what hosts would be affected by a play.  I believe this should remain filed as a bug report and we should straighten this out.

[2014-03-14 14:59] candlerb commented on #3887
Hanging stdin is only a small part of the problem set. When I'm running a task which copies 1TB from A to B, I want to see some progress indication; it may still be running but far slower than expected, and I want to see this while it runs.

Making this work with 150 forks is a matter of user-interface design, but it's not limited to the CLI.

One class of user is the API user. They want access to

[2014-03-14 14:59] mpdehaan commented on #4234
This was closed errantly, reclassifying as a bug.

[2014-03-14 14:59] mpdehaan commented on #4341
Hi,

We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 14:59] #4341 closed, assigned to nobody

[2014-03-14 15:00] mpdehaan commented on #4357
We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 15:00] #4357 closed, assigned to nobody

[2014-03-14 15:00] mpdehaan commented on #4390
Hi,

We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 15:00] #4390 closed, assigned to nobody

[2014-03-14 15:01] mpdehaan commented on #4392
This would be useful for iptables templates for instance, so I believe we should just knock this out.  Labelling as priority.

[2014-03-14 15:01] mpdehaan commented on #4407
Reclassifying this as a bug report so we can investigate and close this out.

[2014-03-14 15:01] mpdehaan commented on #4443
We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 15:01] #4443 closed, assigned to nobody

[2014-03-14 15:02] mpdehaan commented on #4495
We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 15:02] #4495 closed, assigned to nobody

[2014-03-14 15:03] mpdehaan commented on #4503
Hi,

We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 15:03] #4503 closed, assigned to nobody

[2014-03-14 15:03] mpdehaan commented on #4505
Hi,

We've keeping track of this list but haven't seen any traction here, so are closing this ticket out.  If someone would like to submit a pull request, that would be welcome, and we're still open to it.

[2014-03-14 15:03] #4505 closed, assigned to nobody

[2014-03-14 15:04] mpdehaan commented on #4542
Basically this is going to require refactoring roles to be more objecty and any resource that has a file associated with it to be an object that remembers the filename.  I'm leaving this open for notes about that refactoring being desirable but this may not come soon.

[2014-03-14 15:04] jctanner commented on #6482
I will take care of this.

[2014-03-14 15:05] mpdehaan commented on #4611
This is marked "required=False" in recent versions and should be resolved.  Please reopen if you are still seeing problems.

Thanks!

[2014-03-14 15:05] #4611 closed, assigned to nobody

[2014-03-14 15:05] mpdehaan commented on #4643
Yep, I'm going to close this ticket and we can track things in that github.

[2014-03-14 15:05] #4643 closed, assigned to nobody

[2014-03-14 15:06] mpdehaan commented on #4644
Not a lot of information about this one, so I'm going to close this one out.

If there are things you'd like to see in the group module to do this we'd definitely entertain pull requests.

[2014-03-14 15:06] #4644 closed, assigned to nobody

[2014-03-14 15:07] mahemoff commented on #3887
150 hosts is focusing on a high-scale production use case, whereas a lot of the need for this comes while developing the project in the first place. As well as learning Ansible for that matter. Both of those are common scenarios and not edge cases.

As for the production scenario, I agree with @candlerb. There are plenty of ways output could be provided but limited.

[2014-03-14 15:07] mpdehaan commented on #4655
Vault is now a part of 1.5.3 so I think we can consider this one solved, there is also the "roles_path" commit that allows loading things from a role called "my_secret_stuff" or so on, where variables could come in from that location, so the above should be possible via that as well, if for some reason usage of vault was not desired, or the vault content wanted to be in an additional repo as well.

[2014-03-14 15:07] #4655 closed, assigned to nobody

[2014-03-14 15:09] mpdehaan commented on #4656
I'm not positive we want to do this architectually myself.

However there is a recent pull request that added the idea of a "register_append" construct, where it would be possible to do things like add to a host variable "applied_roles", which should provide a way to implement this.

This pull request is https://github.com/ansible/ansible/pull/6488 and I'd rather solve this problem through the exi

[2014-03-14 15:09] #4656 closed, assigned to nobody

[2014-03-14 15:10] mpdehaan commented on #4816
Classifying this as a bug report so it doesn't get lost in the list.

[2014-03-14 15:11] mpdehaan commented on #4843
Going through old tickets.

I think in this case it would be better to just shell out to the mysql command because most folks are not going to want this behavior.

Using a migration system (such as South) can also provide cleaner ways to do conditional upgrades.

[2014-03-14 15:11] #4843 closed, assigned to nobody

[2014-03-14 15:12] mahemoff commented on #3887
The hanging command problem can happen by accident, e.g. maybe there's some lock file present which caused the command to confirm something, but maybe it's a server timeout outside of my control, e.g. GitHub is down for a few minutes. Without output, I have no way to tell the cause. So it might take several tries before manually ssh'ing and discovering there's a problem with the Ansible config.

[2014-03-14 15:13] mpdehaan commented on #4854
Going through old tickets...

While I understand the underlying issues here Ansible is intended to be a centrally managed automation system.   The login shell of the user is not to be something that is required for managing the environment.

As such, it seems possible to set the required environment variables with the environment keyword and then regardless of the user's environment things will co

[2014-03-14 15:13] #4854 closed, assigned to nobody

[2014-03-14 15:14] mpdehaan commented on #4881
I'm going to classify this as a bug report so this can get some addition, I would think it would be easy to let this take a path parameter to allow this.

[2014-03-14 15:14] pauloneves commented on #4443
Shouldn't the feature request stay in a queue to be prioritized someday? I accept an answer like: "we won't implement because this and that", but "no traction here" doesn't like a good motive. Other people like this feature requeste.

[2014-03-14 15:14] mpdehaan commented on #4880
Hi,

We're tracking all of this incoming requests, but are not seeing any traction on this ticket so we're going to close it out -- pull requests would be very welcome!

[2014-03-14 15:14] #4880 closed, assigned to nobody

[2014-03-14 15:15] mpdehaan commented on #4887
Hi,

I'm closing out old tickets here so I'm hoping we had a good discussion on the development list.

Since there's no activity on this particular ticket we're going to close it out, but wanted to make clear that pull requests for enhancements would still be entertained.  Thanks!

[2014-03-14 15:15] #4887 closed, assigned to nobody

[2014-03-14 15:16] #6482 closed, assigned to nobody

[2014-03-14 15:17] mpdehaan commented on #5390
Hi everyone,

We're keeping track of these lists of requests internally, but are not seeing any traction on this via pull requests, so we're going to close this ticket out -- but I wanted to point out that pull requests for this kind of thing would still be welcome.

Thanks!

[2014-03-14 15:17] #5390 closed, assigned to nobody

[2014-03-14 15:17] jctanner commented on #6482
@evgkrsk this should be fixed in devel by 9d6518de5a9e76aed8b7ec3b79c4ae693c1caa6c

[2014-03-14 15:18] mpdehaan commented on #4897
Reclassifying this as a bug report -- seems like an easy fix should someone wish to send a pull request :)

[2014-03-14 15:19] mpdehaan commented on #4907
So I think what we're more likely to do here is upgrade the way the backup system works long term -- rather than doing just remote backups, maintain a tree centrally and use the fetch module to return these things.

Anyway, we haven't seen any traction on this item and are going to close this ticket out -- though I think a centralized backup method, if globally disable-able, would be a nice evolut

[2014-03-14 15:19] #4907 closed, assigned to nobody

[2014-03-14 15:20] mpdehaan commented on #6219
This should be doable by just calling the "shell" module, I'm thinking we probably don't need another module for this.

If you'd like to discuss on the development list, feel free to start a thread.

[2014-03-14 15:20] #6219 closed, assigned to nobody

[2014-03-14 15:39] mpdehaan commented on #6128
Thanks!  We're going to go ahead and close this ticket and will let you submit something when you are ready.  Much appreciated!

[2014-03-14 15:39] #6128 closed, assigned to nobody

[2014-03-14 15:40] mpdehaan commented on #5936
This is not something we are likely to implement and we generally feel that host names should not be signfiicant in most architectures, and that host specifiers should be used for groups when possible.

In this case, we're just using a basic fnmatch, so it's going to be limited to what fnmatch can do, but 99% of the time, people are driving inventory from groups.

However, you could use the "range

[2014-03-14 15:40] #5936 closed, assigned to nobody

[2014-03-14 15:41] mpdehaan commented on #5485
Seems like this is resolved via apt_key and such, let me know if you disagree on this, and we're happy to take pull requests for enhnacements too.

[2014-03-14 15:41] #5485 closed, assigned to nobody

[2014-03-14 15:42] mpdehaan commented on #6148
We'd be happy to take pull requests to the apt_key module to support this, is this something you would like to work on?

[2014-03-14 15:44] mpdehaan commented on #6189
Sorry for the late response, there is a large ticket queue.

Yep!

Basically if you want to get a variable and it's inventory specific or global, you don't have to care and can just say {{ varname }}

However in the example above you want to iterate variables that are not in hostvars, this also exists as "vars" and is accessible as a dictionary and can be similarly enumerated, but is not keyed on

[2014-03-14 15:44] #6189 closed, assigned to nobody

[2014-03-14 15:48] mpdehaan commented on #6440
I'm interested in this, though I'm a bit worried about the extra complications on Runner logic, and the assumptions about temp having "$HOME" in it.

So there may be some things to sort through here, which, to be honest, I'm not sure we'll have time to chase in the short term.

My suggestion would probably be to be able to see if it could be developed as part of a ssh_chrootable plugin or somethin

[2014-03-14 15:48] #6440 closed, assigned to nobody

[2014-03-14 15:49] mpdehaan commented on #6476
I'm going to close this feature request ticket but if you would like to submit a pull request (since you have the above patch already) it can be in the queue for us to test and review.

Thank you!

[2014-03-14 15:49] #6476 closed, assigned to nobody

[2014-03-14 15:50] mpdehaan commented on #6025
Sorry for the late response on this as we've been working our way through the queue.

We've been mostly concentrating on extending things like EC2 and Rackspace, but obviously Linode is good stuff too -- is this something you would like to work on?

If so, we are open to pull requests.

Thanks!

[2014-03-14 15:51] mpdehaan commented on #4714
This has been updated recently for ssh.py and there is a ticket open for extending this for parmamiko, so I believe we can close this ticket finally.

Thanks!

[2014-03-14 15:51] #4714 closed, assigned to nobody

[2014-03-14 15:52] mpdehaan commented on #5535
I'm going to close this ticket as I haven't seen any pull requests for this, but wanted to point out they would definitely be entertained if you wanted to add this.

Still, calling sed should work for most users.

Thanks!

[2014-03-14 15:52] #5535 closed, assigned to nobody

[2014-03-14 15:53] mpdehaan commented on #5642
I'm going to close this one as I haven't seen any updates on this ticket, but wanted to indicate we are still open to pull requests here if you want to submit something.

Thanks!

[2014-03-14 15:53] #5642 closed, assigned to nobody

[2014-03-14 15:55] mpdehaan commented on #5747
Sorry for late trawl through the queue here.

I'm not sure exactly where we should proceed here but I will say we are open to pull requests for upgrades.

Mostly we are focusing on EC2/Rackspace/OpenStack/etc in this area so patches from others to keep things like DO doing all the latest are always welcome.

If you would like to submit a pull request, please do, thanks!

[2014-03-14 15:55] #5747 closed, assigned to nobody

[2014-03-14 15:55] mpdehaan commented on #5954
Is this something you might like to work on, perhaps?

[2014-03-14 15:56] mpdehaan commented on #5990
Seeing OpenShift is a PaaS I suspect there's not a lot of Ansible user crossover, so I'm not entirely sure of the urgency of this one -- yet I wanted to point out that we are very opent o pull request for this.

Nonetheless, I'm going to close this ticket as it's unlikely we're going to tackle this one ourselves.

Thanks!

[2014-03-14 15:56] #5990 closed, assigned to nobody

[2014-03-14 15:57] willpower232 opened #6494 "Lookup documentation should stress that lookups happen on the local machine"
##### Issue Type:

Documentation Report
##### Ansible Version:

N/A
##### Environment:

N/A
##### Summary:

http://docs.ansible.com/playbooks_lookups.html

This page does not specifically mention that the file lookup (amongst others) looks up files on the local machine and not the remote computer.

As per this discussion on the Google Group (https://groups.google.com/forum/#!topic/ansible-project/

[2014-03-14 16:49] timperrett opened #6495 "ec2_lc traceback when region parameter omitted"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 0cea4d8a32) last updated 2014/03/14 16:43:08 (GMT +100)
##### Environment:

Developing on OSX, deploying to Cent OS
##### Summary:

When using the new ec2_lc module, given:

[code]

The runtime explodes with:

[code]
##### Steps To Reproduce:
1. use the aforementioned configuration for the ec2_lc.
2. try to run, and it will e

[2014-03-14 16:49] patrickheeney commented on #5206
@dagwieers Finally had a chance to test this. Still an issue for me on ansible 1.5.3. Running stock ubuntu 12.04 still.

[2014-03-14 17:19] careyrp commented on #6382
This issue should be closed. Fixed in release 1.5.3.

[2014-03-14 17:25] timperrett commented on #6495
Ok i've 'fixed' it.

The documentation says that the `region` is not required, but in my haste I had not specified it. Strikes me that region should be marked as required, or the error handler should pickup on the fact that no EC2_REGION env var is defined, and error out accordingly.

Perhaps this is just a documentation bug?

[2014-03-14 17:26] mpdehaan commented on #6495
So the "required" param is actually enforceable in code by setting required=True in the argument spec.  If it is actually required, that may solve the problem.

[2014-03-14 17:29] jctanner commented on #6382
@careyrp thanks!

[2014-03-14 17:29] #6382 closed, assigned to nobody

[2014-03-14 18:02] jimi-c commented on #4875
Hrm, ok, I saw this error too but when I ran the lines through the python interpreter directly it didn't error, so I had assumed it was something odd with my machine. I'll look back into this to see what the issue might be.

[2014-03-14 18:03] lorin commented on #3887
The underlying problem is that there is no way to debug an Ansible task that is unexpectedly "stuck". Unless a proposed solution provides a user with a way to determine why an Ansible task is currently stuck, it isn't going to address the issue.

[2014-03-14 18:13] mahemoff commented on #3887
@lorin An example would be seeing "There is a lock file present. Do you wish to continue?". That doesn't address all hanging situations, but it does provide real assistance to some. (While we'd hope modules would prevent interactive prompts, there's no guarantee and it can certainly arise with command/shell modules.)

To be clear, hanging is just one of several reasons why output makes sense imo.

[2014-03-14 21:08] jiv-e commented on #6128
I meant this... https://github.com/ansible/ansible/pull/6137.

[2014-03-14 21:12] yuriks commented on #6443
I still have the exact same issue with 1.5.3:

[code]

[2014-03-14 21:16] jctanner commented on #6443
@yuriks would you mind opening a new bug with all the relevant detail?

[2014-03-14 22:12] yuriks opened #6499 "git module fails with "failed to stat '.': Permission denied""
##### Issue Type:

Bug report
##### Ansible Version:

`ansible-playbook 1.5.3`
##### Environment:

Both host and slave are running Ubuntu Server 12.04LTS
##### Summary:

This is the same issue as #6443 which doesn't seem to be fixed as of 1.5.3.

[code]

The playbook is being run as root, but the git step has sudo and sudo_user fields to run as an unprivileged user. What seems to be happening is t

[2014-03-15 02:01] willthames commented on #6495
Again, #6419 should resolve this by making use of the common `ec2_argument_spec()` from module_utils/ec2.py which requires region, and then using the common `connect_to_aws` method (which then relies on `get_aws_connection_info` to ensure all the usual checks are done with the region parameter)

[2014-03-15 02:42] pgehres commented on #6353
@mpdehaan Do you need anything else?

[2014-03-15 02:49] pgehres commented on #4655
Just in case anyone stumbles across this, we ended up working around this.  Our goal was to be able to share roles throughout our organization to enable development and QA to use the same process that Ops uses in production. In the end, we created a "secrets" directory in the root of our playbooks (alongside roles) and store all of the sensitive files there. We store all passwords in group or host

[2014-03-15 14:56] ivanvolti commented on #6432
Looks like It's fixed in 1.5.3. I have no problems with pacman module anymore.

[2014-03-15 14:56] #6432 closed, assigned to nobody

[2014-03-15 16:05] brdo commented on #6476
Thank you I will
On Mar 14, 2014 8:50 AM, "Michael DeHaan" notifications@github.com wrote:

[2014-03-15 16:18] HelloGrayson commented on #6442
Just verified that this still does not work with 1.5.3

[2014-03-15 17:08] mpdehaan commented on #6385
This should be all fixed up now in both the 1.5.3 PPA and the devel branch.

[2014-03-15 17:08] #6385 closed, assigned to nobody

[2014-03-15 17:09] mpdehaan commented on #6437
Should be fixed now, so closing, let me know if you still have problems!

[2014-03-15 17:09] #6437 closed, assigned to nobody

[2014-03-15 17:10] davidopluslau commented on #5206
Reproduced on OS X 10.9, Ansible 1.5.3. Same issue as described above. Happy to get a fix on this one.

[2014-03-15 17:12] mpdehaan commented on #6499
Thanks, we'll take a look this very soon!

[2014-03-15 17:13] mpdehaan commented on #6447
This should be resolved on 1.5.3 already, in queue to triple check and verify.

(1.6 is the development version so may not have all commits at the point in time tested)

[2014-03-15 18:33] bcoca commented on #5951
so this currently  uses a generic function for BSDs, parses the text output from "ifconfig -a" and takes the 4rd word as mtu.

[code]

Has this changed since FreeBSD 8? (I used to run 8 and this worked)  I don't currently have any FreeBSD so a patch or just even output from 'ifconfig -a' should be helpful for fixing this.

[2014-03-15 18:53] nirik commented on #6447
Oddly, I am still seeing the failure on rawhide, even with 1.5.3... will try and dig in and see if it's some local breakage or what...

[2014-03-16 13:16] madrobby opened #6511 "Shell heredocs not supported?"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.2 (release1.5.3 48a1c156ee) last updated 2014/03/13 14:03:23 (GMT -400)
##### Environment:

OS X -> Ubuntu 12.04
##### Summary:

It would be great if Ansible would support shell heredocs:

[code]

Perhaps there's a workaround to make this run correctly, like calling bash directly? Or, is there some other way to make a multiple lin

[2014-03-16 13:46] madrobby commented on #6511
Setting `executable=/bin/bash` also fails, with this error:

[code]

[2014-03-16 13:51] drybjed commented on #6439
Confirming the issue, [example playbook](https://github.com/drybjed/ansible-dependency-tags-test) with lots of output showing differences between v1.5.0 and current devel branch.

[2014-03-16 14:28] bcoca commented on #6511
try using | instead of > , which preserves multiline input.

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011100100111010000100001
Pedo mellon a minno

[2014-03-16 14:59] madrobby commented on #6511
@bcoca Thanks, will give that a try. I assumed that it's likely PEBKAC at fault here. :) Being new to Ansible I find the documentation lacking in more advanced examples. :/

[2014-03-16 15:40] mpdehaan commented on #6511
The shell module transfers a file and then runs it with arguments, the above is not meant to be a thing, which is why it is not shown in the examples.

[2014-03-16 15:40] #6511 closed, assigned to nobody

[2014-03-16 15:41] #6494 closed, assigned to nobody

[2014-03-16 15:50] mpdehaan commented on #5994
Sorry for delay in response as we have a large queue and have been concentrating on some priority tickets.

So the above is most definitely a quoting issue with the brackets, which the system will warn about when it can.

"I would like to add another inconsistency"

Patches to add more inconsistencies will be accepted!   Just kidding.

The list pasted above is really botched up:

[code]

First off

[2014-03-16 15:50] #5994 closed, assigned to nobody

[2014-03-16 15:50] #5971 closed, assigned to jimi-c

[2014-03-16 15:52] madrobby commented on #6511
@mpdehaan I don't understand your answer, would you mind explaining in more detail?

[2014-03-16 15:54] #6152 closed, assigned to nobody

[2014-03-16 15:54] mpdehaan commented on #6170
Thanks for checking!   I'm going to close this given this is fixed in devel.

[2014-03-16 15:54] #6170 closed, assigned to nobody

[2014-03-16 15:56] mpdehaan commented on #6309
Sorry for the late response, github comment notifications are easy to miss.

I'm wondering if it's not perhaps the MOTD, but instead you are getting some output in ~/.bashrc or  ~/.bash_profile -- that's caused a problem or two in the past.

In any event, I'd start by printing out things coming back from paramiko_ssh.py, possibly.

[2014-03-16 15:59] mpdehaan commented on #6353
I think we have enough info, thanks!

[2014-03-16 16:02] mpdehaan commented on #6367
Yep, that's true, hard to remember all option defaults!

[2014-03-16 16:07] mpdehaan commented on #6442
Empty or missing?

[2014-03-16 16:08] mpdehaan commented on #6474
1.5.3 and later should look for all .crt files in the search directories.

Let us know if you are still seeing problems.

[2014-03-16 16:09] mpdehaan commented on #6412
Closing this given updates in 1.5.3, please let us know if you are still seeing problems.

[2014-03-16 16:15] rhaido commented on #5994
Dear Michael & Ansible team,

As you had stated correctly, jdk_next is itself the list. If you use
${jdk_next} within 'with_' lookup, it's converted to space-separated string
of list members, i.e. 'item1 item2 item3 etc', which is correct. If you use
{{ jdk_next }} statement, it's converted to the string '[ member1, member2,
member3, etc ]' in ansible - please, note the square brackets - which is

[2014-03-16 16:54] bcoca commented on #6511
basically, shell is for one liners, if you want to run a script use the
script: module.

herdocs in shell/command/etc while might work, are undesired (makes for
very ugly playbooks).

i would argue they make for very ugly <language that supports heredocs>.

[2014-03-16 17:10] madrobby commented on #6511
It doesn't look like that the `script` module supports variables. I think heredocs are an elegant way to include little things like this where it would be awkward and very verbose to write lots of actions. :/

[2014-03-16 17:44] #4892 closed, assigned to nobody

[2014-03-16 17:51] mpdehaan commented on #4878
(closing this as we know ignore_errors is a generic thing)

[2014-03-16 17:51] #4878 closed, assigned to jctanner

[2014-03-16 17:55] mpdehaan commented on #6010
This has been implemented on the development branch.

[2014-03-16 17:55] #6010 closed, assigned to nobody

[2014-03-16 17:56] mpdehaan commented on #5358
This should be resolved by upgraded sudo password detection in recent releases, though this could use some verification.

[2014-03-16 17:57] mpdehaan commented on #5280
This is merged, so closing this one, thanks!

[2014-03-16 17:57] #5280 closed, assigned to jctanner

[2014-03-16 17:59] mpdehaan commented on #5718
Previously ansible did not look at the global known hosts file, this _may_ be resolved in the 1.5.X series

[2014-03-16 18:00] mpdehaan commented on #5621
This should be resolved by the above merge commit.

[2014-03-16 18:00] #5621 closed, assigned to nobody

[2014-03-16 18:00] mpdehaan commented on #5621
(please reopen if not).

[2014-03-16 18:00] mpdehaan commented on #5569
Closing this as these files are long sense replaced and are the official build system artifacts that the distros use, and those same tarballs are used for PyPi.

(No more chance of manual upload)

[2014-03-16 18:00] #5569 closed, assigned to nobody

[2014-03-16 18:02] mpdehaan commented on #5549
the above is merged so looks like we can close this

[2014-03-16 18:02] #5549 closed, assigned to nobody

[2014-03-16 18:03] mpdehaan commented on #5852
most of the above should be resolved now, if there are other problems that exist please send pull requests.

Thanks!

[2014-03-16 18:03] #5852 closed, assigned to nobody

[2014-03-16 18:06] mpdehaan commented on #6309
Also I noticed there's some detection code in the utils.parse_json() methods that we may need to screw with.

Historical notes show that the problem is dropbear outputs the MOTD on every single command and we have to detect when it stops and good things begin.

We did this previously by looking for a line that starts with "=" but the problem here I think is that's not the end of it.

The problem i

[2014-03-16 19:01] jimi-c commented on #6471
Didn't mean to close this, just reference it from my commit. The man page for `ansible-galaxy` has been created.

[2014-03-16 19:19] HelloGrayson commented on #6442
@mpdehaan `/etc/ansible/hosts` does not exist. I installed ansible with pip on OSX.

[2014-03-16 19:42] #4392 closed, assigned to nobody

[2014-03-16 20:09] mpdehaan commented on #6185
I'm going to close this ticket as we have the pull request open to track the idea -- this is just housekeeping, not saying no to the idea or anything.  Thanks!

[2014-03-16 20:09] #6185 closed, assigned to nobody

[2014-03-16 21:14] mpdehaan commented on #5061
(Sorry fro the delay in respoding to this one as we have a large backlog)

I'm going to close this one because of the missing code to handle the argument, if you want to resubmit with changes as you had mentioned above (perhaps you have a private copy you are liking to use), we are happy to accept it.

Thanks!

[2014-03-16 21:14] #5061 closed, assigned to nobody

[2014-03-16 22:04] resmo commented on #5485
@mpdehaan No, it is not solved. You are not always able to download a key like the example showd by @shingara. As the cli `apt-key` has also an option for this, `--keyserver` I would like to have it implemented. See my PR #5589.  Thanks.

[2014-03-16 22:05] ef4 commented on #6396
I think there's a better workaround, which is to explicitly say you want the `ansible_ssh_user` of the current target host, as opposed to the `ansible_ssh_user` for the host where the local_action is running:

[code]

[2014-03-16 23:10] ef4 opened #6517 "Only first tag in role dependencies is used"
##### Issue Type:

Bug Report
##### Ansible Version:

Bug was introduced by 04a6dc6d12802a3d5de28a00773c5e4be794a1d2
##### Environment:

Debian Wheezy i686
##### Summary:

If you apply tags to multiple role dependencies, all but the first tag are ignored by ansible-playbook.
##### Steps To Reproduce:

`play.yml`

[code]

`roles/bugtest/meta/main.yml`

[code]

`roles/other{1,2}/tasks/main.yml`

[co

[2014-03-17 00:28] marmot21 commented on #6474
1.5.3 Fixed this issue for me

[2014-03-17 00:49] lfrancke opened #6519 "sysctl module always reports absent keys as changed"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Managed OS: CentOS 6.5
##### Summary:

Any time an `absent` key is used this will result in a `changed` result even if it doesn't exist in sysctl.conf anymore.
##### Steps To Reproduce:

[code]

This happens due to this piece of code in `library/system/sysctl`:

[code]

The first `elif` branch will always be tr

[2014-03-17 01:10] lfrancke opened #6520 "Allow separate configuration of runtime and config state for SELinux"
##### Issue Type:

Feature Idea
##### Ansible Version:

ansible 1.5.3
##### Environment:

N/A
##### Summary:

Disabling SELinux takes a full reboot. Until that can happen permissive mode is often good enough.
##### Steps To Reproduce:

Currently setting state to disabled doesn't change the runtime state at all but (this might be unintended) it always reports as changed regardless of the current co

[2014-03-17 10:39] fago commented on #6431
Confirming this is working with 1.5.3 again - thanks!

[2014-03-17 11:44] mpdehaan commented on #6520
This will not be an option as changing SELinux to permissive means it is non-functional, which is (what I hope would be) completely undesirable to most every user.

However, should you wish to do this you could make a "shell" module call to make it hapepn.

[2014-03-17 11:44] #6520 closed, assigned to nobody

[2014-03-17 11:47] mpdehaan commented on #6517
cc @jimi-c

[2014-03-17 12:02] chmouel opened #6525 "nested variable and expansion with space"
nested variables are nice but the syntax don't work the same as variable, for example in variables i can have space or no space and that would work, i.e:

{{item}}

or

{{ item }}

would work

but with nested variable and a has/dict I _need_ to put spaces in between, i.e: this works ::

{{ item.bar }}

but not this ::

{{item.bar}}

just minor inconvenience but may be wanted to be fixed for the sa

[2014-03-17 12:11] lfrancke commented on #6520
I don't quite understand your comment.

I am trying to make SELinux non-functional by disabling it. Maybe I did a bad job at describing the issue by starting with my use-case instead of the desired functionality.

It'd be great if we were able to have something like this:

[code]

That way I could fulfill my use-case by setting the config to disabled to take full effect on the next boot but until

[2014-03-17 13:22] mpdehaan commented on #6525
So we're just using Jinja2 here and I can confirm that {{ item.bar }} works fine.

[code]

You are welcome to stop by the users list if you have further questions!

[2014-03-17 13:22] #6525 closed, assigned to nobody

[2014-03-17 14:50] jctanner commented on #6499
@yuriks Can you show me the task from the playbook?

I'm unable to reproduce based on my current understanding of the description:

[code]

[code]

[2014-03-17 14:52] yuriks commented on #6499
I can't, but I'll try to create a self-contained repro.

[2014-03-17 14:54] yuriks commented on #6499
Ah. For this to happen, user: needs to be root, so that `$HOME` is set to `/root`

[2014-03-17 14:58] yuriks commented on #6499
Repro playbook:

[code]

[2014-03-17 15:03] #6471 closed, assigned to jimi-c

[2014-03-17 15:13] jimi-c commented on #6499
@yuriks this is fixed in devel as you noted, and we will included it in the next 1.5.x release. If you have any further questions regarding this, please let us know. Thanks!

[2014-03-17 15:13] #6499 closed, assigned to nobody

[2014-03-17 15:16] yuriks commented on #6499
I thought that fix was supposed to have been included in 1.5.3? If it was not, then sorry for the misunderstanding.

[2014-03-17 15:27] jimi-c commented on #6517
Looking at this now.

[2014-03-17 15:29] r0bj opened #6526 "git checkout always returns status changed"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Ubuntu 13.10
##### Summary:

git checkout always returns status changed, even if there was no changes at all:

[code]

[code]
##### Steps To Reproduce:

Execute git module on some repository.
##### Expected Results:

Second time the checkout is executed then git module return no changed status.
##### Actual Res

[2014-03-17 16:29] #6517 closed, assigned to nobody

[2014-03-17 16:29] jimi-c commented on #6517
The above patch should resolve the issue. If you continue having problems with this, please let us know. Thanks!

[2014-03-17 16:48] patrickheeney commented on #6526
When you run `git status` in that destination directory, do you have any changes? The message seems to imply your repo has local modifications which might be the reason it is always returning changed.

[2014-03-17 16:50] jctanner commented on #6227
@snilard I'm not quite sure how to construct a test for this, but I believe this patch would fix it ...

[code]

Please apply that, and retest. If it does not work, copy an example playbook to gist.github.com that would reproduce the issue.

[2014-03-17 16:54] patrickheeney opened #6528 "git integration tests require a github_ssh_private_key variable"
##### Issue Type:

Bug Report
##### Ansible Version:

N/A
##### Environment:

N/A
##### Summary:

I am unable to run the GIT integration tests due to the fact they require a variable `github_ssh_private_key` to work.

Per @jctanner on IRC:

If it does need a key, perhaps all the tests could have a credentials.yml file, not just cloud providers so that we can easily add the keys and other informati

[2014-03-17 17:16] snilard commented on #6227
@jctanner Your patch work well. No error.

[2014-03-17 17:29] jimi-c commented on #6478
Done.

[2014-03-17 17:29] #6478 closed, assigned to nobody

[2014-03-17 17:30] athoune opened #6530 "apt module can't install python-apt and silently fails"
##### Issue Type:

Bug report.
##### Ansible Version:

ansible 1.5.3
##### Environment:

OSX 10.9.2 managing a Debian 7.
##### Summary:

**apt** module doesn't install lazily **python-apt**
##### Steps To Reproduce:

Use apt module without python-apt installed.
##### Expected Results:

python-apt should be installed, and the playbook  not interrupted.
##### Actual Results:

There is no specific er

[2014-03-17 17:32] bryanlarsen commented on #6358
Here's my solution to the problem:

[code]

where ssh-knownhost is http://www.daemonology.net/blog/ssh-knownhost

which suggests that adding the functionality from ssh-knownhost to ansible is probably a good idea.

[2014-03-17 17:33] r0bj commented on #6526
You're right, there was one untracked symlink in local filesystem which cause this behaviour.

Please feel free to close this issue.

[2014-03-17 17:33] #6526 closed, assigned to nobody

[2014-03-17 18:43] jctanner commented on #5888
@crucialfelix this appears to be fixed as of 1.5.3 ...

[code]

If you still see the same issue after updating, we can reopen the issue.

[2014-03-17 18:43] #5888 closed, assigned to nobody

[2014-03-17 18:44] jctanner commented on #5358
Fixed per https://github.com/ansible/ansible/issues/5888#issuecomment-37854184

[2014-03-17 18:44] #5358 closed, assigned to nobody

[2014-03-17 18:52] jctanner commented on #6467
Confirming this is the wrong behavior per 506178542d04a15647467e4f055bfbf8ade1c70e

Reproduced on devel:

[code]

ansible-playbook appears to work properly.

[2014-03-17 19:03] #6467 closed, assigned to nobody

[2014-03-17 19:04] jctanner commented on #6467
@makimotoz should be fixed in devel now. Thanks for the report!

[2014-03-17 19:31] jctanner commented on #6088
@guiniol I am seeing the correct behavior as of c09e46517e

[code]

Also seeing the expected behavior on 1.4.5 ...

[code]

[2014-03-17 19:33] jctanner commented on #6088
@guiniol Could you re-run your test with a different module, like ping, and use -vvvv ? I'd like to see the commands that were executed for the connection plugin.

[2014-03-17 20:13] risaacson opened #6532 "assemble module: Traceback on hash contained in delimiter="
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel c09e46517e) last updated 2014/03/17 14:53:17 (GMT -500)
##### Environment:

OS X 10.9.2 against Centos 5/6, Ubuntu 12.04/13.10, *BSD, Solaris.
##### Summary:

While testing out a PR I came across this traceback when just trying to duplicate the examples from the assemble module. It looks like this is related to the escaping o

[2014-03-17 20:22] jschwanz opened #6533 "Change sanatize_output to allow module-based privatization"
##### Issue Type:

Feature Idea
##### Ansible Version:

Ansible 1.5.2
##### Environment:

N/A
##### Summary:

Currently the way for module developers to have their inputs sanitized for logging is to modify the private_keys list to include their new parameter names, or to use the two blessed parameter names. This would allow module developers to add a value to the argument_spec (e.g. private=True)

[2014-03-17 20:33] mpdehaan commented on #6533
"no_log=True" on the argument_spec already exists here and keeps things being logged in syslog.

[2014-03-17 20:33] #6533 closed, assigned to nobody

[2014-03-17 20:33] mpdehaan commented on #6530
This is already fixed on the development branch and will be included in a future dot release.

The solution is to use the raw module to install python-apt via a shell command for now, or otherwise see that it is preinstalled.

[2014-03-17 20:33] #6530 closed, assigned to nobody

[2014-03-17 20:35] mpdehaan commented on #6528
So basically we should just |default this and skip the test when there is no private key supplied.

[2014-03-17 20:38] patrickheeney commented on #6528
I believe it does skip some now. One issue I have is I don't know how to supply the private key, in what format, and the documentation did not cover this anywhere. To make this process easier I was hoping there could be a global credentials.yml file that is used for all tests, not just ec2. Fill out the necessary vars in credentials.yml and `cd test/integration; make` and they will all work.

[2014-03-17 20:45] mpdehaan commented on #6532
Looks like this has nothing to do with assemble but just relates to general shlex bits, and then inventroy code doesn't really apply 1:1.

The solution would be to come up with a clean function that wraps shlex for utils, most likely, which could easily be done by replacing "#" with some other sequence, splitting, and putting it back.

Since I did this last time, I'll take this.

[2014-03-17 20:54] mgcrea opened #6534 "SSH pipelining hangs > 16 hosts"
I'm running a playbook on 20 hosts with latest ansible `v1.5.3` (built from source), and setting up `pipelining=True` in `ansible.cfg` hangs my playbook on the first task exactly after the 16th host (with one failure so maybe 15th). Somehow the last 4 hosts never get processed. Switching pipelining off fixes the issue.

[2014-03-17 20:54] #6227 closed, assigned to nobody

[2014-03-17 20:54] jctanner commented on #6227
@snilard I applied the patch to devel, thanks for testing!

[2014-03-17 20:56] mpdehaan commented on #6534
So I'm sorry about you having an error about SSH pipelining, but there's nothing magic about 16 hosts here.

One user who had a problem was attempting too many connections through a piece of networking gear.

I'm guessing it might be "too fast" in your case as well, though any debugging on your end would be welcome.

There's nothing we can do here (this isn't a support forum), but feel free to sto

[2014-03-17 20:56] #6534 closed, assigned to nobody

[2014-03-17 20:57] mgcrea commented on #6534
Thanks @mpdehaan, did not know that this issue was out of the ansible codebase. Is there a switch to run the playbook sequentially?

[2014-03-17 21:16] #6532 closed, assigned to nobody

[2014-03-17 21:18] jimi-c commented on #6439
Running off of devel now:

<pre>
# ansible-playbook play.yml -t sometag
PLAY [localhost] **************************************************************
TASK: [ab | debug ] ***********************************************************
ok: [127.0.0.1] => {
    "item": "",
    "msg": "Hello world!"
}
TASK: [a | debug ] ************************************************************
ok: [127.0.0.1] => {

[2014-03-17 21:22] mgcrea commented on #6447
I do confirm that it is not fixed in latest 1.5.3, I'm also having weird `host not found` issues when trying to use the `--connection accelerate` flag.

[2014-03-17 21:23] srgvg commented on #6439
Yes, I have seen both cases where (1) first deps didn't run, and (2) deeper deps didn't run. As there were quite some bugs at the tome, I didn't manage to exactly note on which commit this difference was.

[2014-03-17 21:27] mpdehaan commented on #6528
I agree that documentation on the credentials file additions is too sparse and needs some work.   Should be covered in integration/README.md ideally.

cc @jlaska

[2014-03-17 21:34] mpdehaan commented on #6499
Correct, it is not in 1.5.3 -- 1.5.3 has already been released and this was reported after.

[2014-03-17 22:07] mpdehaan commented on #6353
I'm not seeing this behavior on the development branch.

This is to say I am not seeing file A rammed against file B in any case, they are always seperated by at least one blank line.

This seems true whether delimiter is used or not.

The most recent change here was made on March 6th and seems to have corrected the above report.

[code]

Let me know if things work for you, thanks!!!

[2014-03-17 23:30] malvim commented on #4688
I too am on this seemingly not-too-oddball case where we need to connect to a host with some user MOST of the time, but when starting everything out we need to connect some other way.

This is my case:
I am using DigitalOcean, and they enable root login with public key authentication. What I want is to connect to the recently-created machine as root, CREATE a user that I will use to do everything

[2014-03-17 23:42] darkone23 opened #6538 "Group vars overwritten when a host is in multiple inventories"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible-playbook 1.5.3
##### Environment:

Debian, but shouldn't matter
##### Summary:

Ansible seems to be wrecking inventory vars when a host appears in multiple groups. It looks like it is impossible to figure out which vars it will use if you have a single host in multiple hostgroups.
##### Steps To Reproduce:

Run this playbook with the pr

[2014-03-17 23:44] ramondelafuente commented on #6474
I ran into this on OSX 10.9.2 with Ansible 1.5.3.

While executing a "local_action" (for notification). The paths searched are _/etc/ssl/certs_ and _/etc/ansible_ but I think OSX uses the keychain to store certificates...

[ Workaround: I use macports and have **curl-ca-bundle** installed; I have symlinked _/opt/local/share/curl/_ to _/etc/ssl/certs_ to make it work for now ]

[2014-03-17 23:46] darkone23 commented on #6538
Filled out with a template

[2014-03-17 23:50] mpdehaan commented on #6538
This is a common misconception.

Groups can describe geography, purpose, or environment.    When variables are all at the same level, there is no defined order.

As an example of this, if you select machines that are webservers, the variables from machines in "phoenix" should still be loaded in -- not just the variables for the "webservers" group.

[2014-03-17 23:50] #6538 closed, assigned to nobody

[2014-03-17 23:50] jctanner commented on #4239
Preliminary patch:

[code]

[2014-03-17 23:51] bcoca commented on #6538
your expectation is incorrect, expected behavior is that the var will have
the value of the last group loaded.

[2014-03-17 23:59] jctanner opened #6539 "test_get_diff (TestUtils.TestUtils) failing in devel"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:

Centos 6.5
##### Summary:

[code]

[2014-03-18 00:00] mpdehaan commented on #6539
I also see this on OS X (instead or earlier checkout)

[code]

[2014-03-18 00:30] jctanner commented on #6539
[code]

[2014-03-18 00:34] jctanner commented on #6539
@sivel it looks like test_get_diff doesn't work on my el6 machine. I'll setup a fresh machine to retest, but if you have any insight it would be appreciated.

[2014-03-18 00:41] sivel commented on #6539
@jctanner It appears to be working for me in my CI environment.  I'm not in a place where I can investigate further right now, but should be in about 30 minutes.

The output appears a difference in a space following the word 'bar'.

Here is the test status (which may be a few commits behind):  https://drone.io/github.com/sivel/ansible/63

That is some version of Ubuntu and is running through pytho

[2014-03-18 00:41] sivel commented on #6539
The other failure that @mpdehaan mentions, seems to be coming from another set of tests for module_utils/basic.py and I think there is another ticket around that mentions that run_command is returning the flags and whatnot on Mac OS X.

[2014-03-18 00:59] jctanner commented on #6539
@sivel reproduced on a fresh el6.5 host. I'll start debugging.

[2014-03-18 01:53] sivel opened #6542 "test_run_command_string_unsafe_with_pipe unit test failing in devel on Mac"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel f96568ab81) last updated 2014/03/17 07:40:34 (GMT -500)
##### Environment:

Control: Mac OS, virtualenv, python 2.7.5

Target: N/A
##### Summary:

[code]
##### Steps To Reproduce:
1. Run unit tests on Mac
##### Expected Results:

Tests Pass
##### Actual Results:

test_run_command_string_unsafe_with_pipe is failing, and it app

[2014-03-18 01:59] jokerswild663 opened #6543 "ec2_elb Module doesn't work when registering new instances"
Problem Description:
The elb module only loads an instance in to the ELB if it has previously been loaded, then removed.  However, if an instance has never been loaded in to the ELB, the module fails to load with error message:

msg: failed to find the initial state of the load balancer

This is a blocker for me in terms of continuous delivery.

Ansible version: 1.5.3
boto version: 2.27.0

role th

[2014-03-18 02:03] jctanner commented on #6539
py26

[code]

py27

[code]

[2014-03-18 02:21] #6539 closed, assigned to jctanner

[2014-03-18 02:42] sivel commented on #6542
Probably just acceptable to make the following change:

[code]

Since this test wasn't meant to test `echo -n` functionality, I think the above is an ok solution.  Perhaps we can create another test and see if it possible to fix the `echo -n` on a bash shell that has xpg_echo enabled.

[2014-03-18 04:03] #5709 closed, assigned to jimi-c

[2014-03-18 04:03] #6439 closed, assigned to nobody

[2014-03-18 04:04] jimi-c commented on #6439
The above patch should resolve this issue, as well as the one @drybjed noted (and #5709 to boot). Please let us know if you continue having problems with this. Thanks!

[2014-03-18 04:05] jimi-c commented on #5709
This should now be resolved:

<pre>
[root 5709]# ansible-playbook site.yml --tags=foo
ERROR: tag(s) not found in playbook: foo.  possible values: myrole
[root 5709]# ansible-playbook site.yml --tags=myrole
PLAY [localhost] **************************************************************
TASK: [myrole2 | stuff] *******************************************************
changed: [127.0.0.1]
PLAY RECAP **

[2014-03-18 05:26] sheldonh commented on #4688
That's a great way of describing the issue, @malvim.

[2014-03-18 06:42] willthames opened #6545 "Ansible inventory allows groups to have same name as hosts"
##### Issue Type

Bug Report
##### Ansible Version:

ansible 1.6 (devel 9da26da335) last updated 2014/03/18 11:15:04 (GMT +1000)
##### Environment:

N/A
##### Summary:

If you define a group containing another group without the :children, then the intended group is a host, but will also become a group when defining its contents.

The net result is that the host that should inherit characteristics

[2014-03-18 08:07] guiniol commented on #6088
@jctanner The problem only occurs when running a script which asks to sudo to the user we already are.

With ansible 1.4.5
As a local user:

[code]

Via the loopback interface:

[code]

With c09e465:
As a local user:

[code]

Via the loopback interface:

[code]

[2014-03-18 08:12] guiniol commented on #6088
However, even with c09e465, I still get a different result using a local user or a remote user:

As a local user:

[code]

Via the loopback interface:

[code]

The environment should be set up the same whether I am using a local or a remote user. Either it is 'intelligent' and doesn't use sudo (not good practice imho, since ansible is lying) or it does use sudo even if it feels useless (ie, when c

[2014-03-18 08:21] dwt commented on #3887
I would say that for now, this feature seems to make the most sense to me on the API level. That means, that if I talk to ansible on the API level, then I can request for the execution of one command to get live-output delivered to me via a callback.

That means that in the standard case this feature is neither enabled, nor does it generate network traffic. But it still allows to build custom clie

[2014-03-18 08:41] jeromew opened #6546 "Bug when resetting current directory"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 84908a57fc) last updated 2014/03/18 07:41:29 (GMT +000)
##### Environment:

control machine: fedora 19
remote centos 6.4
##### Summary:

I just hit a bug introduced by
https://github.com/ansible/ansible/commit/a348f672389e6f1883d6afbe90ef76831e200bc0 a few days ago.

This patch does

[code]

but I am in a case where prev_dir=

[2014-03-18 08:59] neutrinus opened #6547 "ansible setup mess with /usr/share"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]

Please not that this is a system ansible - installed by apt.
##### Environment:

debian amd64, sid/experimental
##### Summary:

I try to install ansible as a normal user, in a python virtualenv. Unfortunately setup whants to write files in /usr/share, which renders ansible not installable. This issue started with version==1.4
##### Step

[2014-03-18 10:50] mpontes opened #6548 "rhn_register module failing with 1.5.3"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Ansible 1.5.3 on OS X, running against CentOS 6.5 hosts managed by Spacewalk.
##### Summary:

Module rhn_register module stopped working for me in Ansible 1.5.3 on CentOS 6.5 hosts connecting to a Spacewalk server. Worked in 1.5.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
##### Actual Res

[2014-03-18 11:51] bcoca commented on #4688
you can  -e 'ansible_ssh_user=userthatoverridesinventory'

[2014-03-18 12:18] sheldonh commented on #4688
Brian, most of this stems from not wanting to special case the first (or
any) run from the perspective of the operator.

On Tue, Mar 18, 2014 at 1:51 PM, Brian Coca notifications@github.comwrote:

[2014-03-18 12:29] gildegoma commented on #6449
With https://github.com/risaacson/ansible/compare/devel...inventory_localhost_in_subset (up to 44b0a75), I observe following problems:

`--limit=all` (or any valid limit, e.g. `--limit=machine1` if machine1 is in the inventory): still not working

[code]

`--limit=localhost` : The second play ([All hosts]) should be skipped, as an implicit localhost is not member of `all` in [Ansible 1.5+](http://

[2014-03-18 13:02] juge2 commented on #5452
I have the same issue as @jcalonso on a CentOS machine.
Following seems to fix it: adding a "a" to "rpm -q gpg-pubkey " when querying the existance of the key:

[code]

[2014-03-18 13:03] #6542 closed, assigned to jctanner

[2014-03-18 13:04] jctanner commented on #6542
@sivel thanks!

[2014-03-18 13:15] mpdehaan commented on #6547
So this is a long-standing question.

Ansible is a systems application, not a python library, and requires various components be installed in various places.

You may be happier doing a checkout and setting environment variables, such as set by source ./hacking/env-setup.

We are likely going to have to move to setuptools for other reasons that may make this a bit easier in the near future.

[2014-03-18 13:15] #6547 closed, assigned to nobody

[2014-03-18 13:18] mpdehaan commented on #6545
This has probably always been a thing, I agree it should probably not be a thing such that if you define one when the other exists it's an error, but it's probably not in the super-urgent status category of bug reports.

Since Serge is working on some inventory upgrades, let's wait until this is done and applied and we can see about whether this can be dealt with efficiently.

[2014-03-18 13:19] mpdehaan commented on #6543
Might be a particular new quirk in the AWS API.  Thanks for the report.

[2014-03-18 13:30] #6519 closed, assigned to jctanner

[2014-03-18 13:30] jctanner commented on #6519
@lfrancke the patch above should fix the issue for you. Please let me know your test results.

[2014-03-18 13:45] dhorbach opened #6550 "Pipe lookup plugin giving "No such file or directory" in 1.5.1"
##### Issue Type:

Bug report
##### Ansible Version:

Ansible 1.5.1 - 1.5.3
##### Environment:

Centos 6.4
##### Summary:

Pipe lookup plugin is no longer works since 1.5.1

Git bisect:

a02641c0202a643c9d70475789e3f0d8261ae2ee is the first bad commit
commit a02641c0202a643c9d70475789e3f0d8261ae2ee
Author: James Tanner tanner.jc@gmail.com
Date:   Mon Mar 10 16:11:24 2014 -0500

[code]

:040000 040

[2014-03-18 13:55] willthames commented on #6545
Agreed - it just caught us out earlier ("why isn't this host inheriting the properties of the parent groups") and it was a very subtle one that would be good to flag. Happy to leave it until the dust settles behind Serge - at least it's documented for now.

[2014-03-18 14:21] jlaska commented on #6528
@patrickheeney currently, there is a `credentials.template` file which is intended to outline all supported credential values.  The `Makefile` will refer you to the template if `credentials.yml` is not found.

I've updated (750d9e2d59da531ac522e77dbb1f94ae2c8b5a5a) the `Makefile` to include `credentials.yml`, if found, in other make targets.  This change allows credentials to be used for all makef

[2014-03-18 14:24] mpdehaan commented on #6528
Ok the following documentation upgrades should be sufficient, and jlaska indicates the git tests will continue without this setting.   Let me know if there are further issues/questions, thanks!

[2014-03-18 14:25] #6528 closed, assigned to jctanner

[2014-03-18 14:26] mpdehaan commented on #6550
Please see if this is a problem in 1.5.3 and let us know.

1.5.1 has had several problems which required updates.

[2014-03-18 14:27] patrickheeney commented on #6528
This is great thank you. Will report back if I have any problems. Looking forward to writing and running some tests!

[2014-03-18 14:38] malvim commented on #4688
It seems to me, @bcoca, that this way I'd run ALL the tasks as root the first time (using `-e` as you said) and then switch to running as malvim. I can do pretty much the same using `-u root`, I think, right?

Even though it does work, this requires me to run things differently. If I could set a user for a group of tasks, I could use the initial set of tasks to test if I can login as root, if the

[2014-03-18 15:04] risaacson commented on #6449
I need to think about what the fix for --limit=all would be though it seems like a problem that only one or two people would end up hitting and they would be wrong to do it that way. It is a fair edge case though.

--limit=localhost should work as shown. When an implicit localhost is created and added to the inventory in the ungrouped group which follows while ungrouped should be apart of the all

[2014-03-18 15:08] drybjed opened #6552 "(devel) copy module is not idempotent and modifies parent directory ownership and permissions"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible 1.6 (devel)
##### Environment:

Debian, Ubuntu
##### Summary:

copy module modifies parent directory permissions, when file or directory is copied with owner and group different than root. It is also not idempotent and changes on subsequent runs.
##### Steps To Reproduce:

[code]
##### Expected Results:

Test file should be copied only

[2014-03-18 15:12] drybjed commented on #6552
Bisect shows that this problem started with commit https://github.com/bcoca/ansible/commit/2d25577e1104101c67bb5ac41790693780a6d51b which is also referenced in https://github.com/ansible/ansible/pull/6506.

[2014-03-18 15:18] drybjed opened #6553 "copy module is not idempotent and modifies parent directory ownership and permissions"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible 1.6 (devel)
##### Environment:

Debian, Ubuntu
##### Summary:

copy module modifies parent directory permissions, when file or directory is copied with owner and group different than root. It is also not idempotent and changes on subsequent runs.
##### Steps To Reproduce:

[code]
##### Expected Results:

Test file should be copied only

[2014-03-18 15:24] drybjed commented on #6553
Duplicate issue, please remove.

[2014-03-18 15:24] #6553 closed, assigned to nobody

[2014-03-18 15:35] mpdehaan commented on #6552
thoughts @bcoca ?

[2014-03-18 15:35] dhorbach commented on #6550
Same problem with 1.5.3

$ ansible --version
ansible 1.5.3

[2014-03-18 15:38] #6546 closed, assigned to jimi-c

[2014-03-18 15:38] jimi-c commented on #6546
The above patch should fix the issue you're seeing. If you continue to run into this problem, please let us know. Thanks!

[2014-03-18 15:48] lied commented on #6550
For me it works fine when there is no parameter to the command:

`lookup('pipe', 'date')` // works
`lookup('pipe', 'ls')` // works

`lookup('pipe', 'date +%Y')` // fails
`lookup('pipe', 'ls group_vars')` // fails

[2014-03-18 16:06] jctanner commented on #6550
Reproduced on ansible 1.6 (devel 3f5440f7df) last updated 2014/03/18 12:01:21 (GMT -400)

[code]

[2014-03-18 16:21] #6550 closed, assigned to nobody

[2014-03-18 16:27] sebbrochet opened #6557 "Sub-tags not found if 2 levels of dependency between playbook and role with tasks/main.yml"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 3f5440f7df) last updated 2014/03/18 17:07:55 (GMT +200)
##### Environment:

Debian 7.1
##### Summary:

While #5709 is now closed, there are still some glitches when looking up tags declared in subroles:

[code]

[code]
##### Steps To Reproduce:

I've updated the test repo:  https://github.com/sebbrochet/Ansible-Tags-not-found

[2014-03-18 16:30] sebbrochet commented on #5709
Hi jimi-c,

Thanks for the fix, it corrects this use-case.
Unfortunately, there are still some glitches with tags used in subroles, please have look on #6557

[2014-03-18 16:54] brent-hoover commented on #6543
FWIW, I had this working yesterday (provision new server, build it, add to ELB). Note that I did have to pass in the name of the ELB or I got that message. (the docs make reference to an elb_facts that I don't think exists), but with that done it worked fine.

[2014-03-18 17:01] earnubs opened #6559 "space in path to home dir breaks provisioning in ansible with vagrant"
ansible 1.5.3
vagrant 1.5.1
os x 10.9.2

Provisioning a vagrant box on a host with a space in the path to ~/, fails like this for me:

[code]

But the same on a host with no space in path to ~/ works fine. I tried setting control_path in ansible.cfg but it made no difference (which makes me wonder if Vagrant is setting ControlPath, but I can see nothing in the src).

[2014-03-18 17:05] #6559 closed, assigned to nobody

[2014-03-18 17:32] #6557 closed, assigned to nobody

[2014-03-18 17:33] jimi-c commented on #6557
This should be fixed as well:

<pre>
# ansible-playbook site.yml --tags=foo
ERROR: tag(s) not found in playbook: foo.  possible values: myrole,myrole1,myrole2
</pre>

[2014-03-18 17:38] #6341 closed, assigned to nobody

[2014-03-18 17:39] jimi-c commented on #6341
The above pull request has been merged, so this issue should be resolved. Please let us know if you continue to run into this problem going forward. Thanks!

[2014-03-18 17:40] darkone23 commented on #6538
I wonder if there is not some compromise... I understand that you might want to merge all group vars for a particular host, but maybe it is best to merge the most relevant (the user-specified hostgroup) last?

Would you be open to me implementing a pull request?

[2014-03-18 18:13] darKoram opened #6560 "issues with mount using mac and smbfs: option not supported, No such file or directory: '/etc/fstab'"
##### Issue Type:

bug
##### Ansible Version:

ansible 1.6 (improve_openstack ae03aef9df) last updated 2014/03/15 12:51:06 (GMT -500)
##### Environment:

mac maverics
##### Summary:

I'm not sure if ansible mount is supposed to support smb mounts, but if so...

mount on a mac using smbfs requires the user first run
sudo vifs

Then ansible complains of
msg: Error mounting /Volumes/Temp/Departmental

[2014-03-18 18:14] darKoram commented on #6560
I noticed i'm pulling off an experimental branch.  I can submit again if necessary, but it is only openstack modules affected in the branch.

[2014-03-18 19:43] jctanner commented on #6548
I'm running reposync on my fresh spacewalk server, so it'll be a while before I can thoroughly test any fixes.

[2014-03-18 19:51] mark-casey opened #6563 "group_vars/all not imported for implicit localhost when using dynamic inventory"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible-playbook 1.5
##### Environment:

Ubuntu 12.04.4 LTS x64
##### Summary:

I think group_vars/all import is getting skipped for localhost when I specify a dynamic inventory. Here is console output of causing the issue:
##### Steps To Reproduce:

[code]

Here is a gist of related files: https://gist.github.com/mark-casey/9627855
##### Expec

[2014-03-18 20:47] hiwaylon commented on #5442
@lorrin How were you able to re-upload the file as a single-part upload? I cannot find any details at all on how to prevent multipart uploading.

[2014-03-18 20:55] lorrin commented on #5442
@hiwaylon, IIRC I used s3cmd rather than the standard AWS CLI to do the upload.

[2014-03-18 20:57] jctanner commented on #6447
The fix for this appears to be 0556c53f7878c9ac2a59100c2752785482e806aa which hasn't made it into a release quite yet.

[2014-03-18 21:09] gildegoma commented on #6449
Maybe I'm missing something, but I do think that both are true problems. I try to explain it better:

As mentioned above, the error is not specific to `--limit=all`. For instance, you get the same problem with `--limit=machine1` (assuming that machine1 is in your inventory).

The `localhost` target is not part of [All hosts] hosts, and I don't think that the purpose of `--limit=localhost` is to mo

[2014-03-18 21:12] jctanner commented on #6447
@mgcrea and @nirik are either of you able to test with 0556c53 applied or with the latest devel to confirm the fix?

[2014-03-18 21:14] mpdehaan opened #6566 "docs: remove ansible-examples/language-examples and move into docs"
##### Issue Type:

Docs Report
##### Ansible Version:

1.6
##### Environment:

N/A
##### Summary:

This section of ansible-examples is not like the others, and is not extended when new language things come out.  It's time to remove this and make sure anything inside is well covered in the docs, like the ec2 example is useful and should be shown there.
##### Steps To Reproduce:

N/A
##### Expected

[2014-03-18 21:26] jctanner commented on #6254
@maxamillion and @mgcrea I encountered the "incorrect permissions" issue by running accelerate from an older version of ansible and then with the latest version. Can you confirm if either deleting .fireball.keys or moving it out of the way resolves the permission problem in current devel?

[2014-03-18 21:26] nirik commented on #6447
I can confirm the fix here. With latest devel both el6 and fedora rawhide work with accelerate again. ;)

[2014-03-18 21:27] jctanner commented on #6447
@nirik great, @jimi-c will slate this for the next bugfix release. Thanks for testing.

[2014-03-18 21:27] #6447 closed, assigned to nobody

[2014-03-18 22:08] bcoca commented on #4688
-u root does not override ansible_ssh_user.

##

Brian Coca
Stultorum infinitus est numerus
0110000101110010011001010110111000100111011101000010000001111001011011110111010100100000011100110110110101100001011100100111010000100001
Pedo mellon a minno

[2014-03-18 22:10] FredworkLemmas commented on #2950
As best I can tell, there is no good way to install ansible in a virtualenv in ubuntu 12.04.  'pip install ansible' fails with:

  error: could not delete '/usr/share/ansible/commands/script': Permission denied

'sudo pip install ansible' succeeds but doesn't do anything useful as it reports that the requirement is already satisfied and leaves ansible as unusable as it was.

but installing ansible

[2014-03-18 23:52] rob-knox-ck opened #6567 "git module ssh_opts uses default tempfile location instead of DEFAULT_REMOTE_TMP"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5
##### Environment:

RHEL 6.5
##### Summary:

I am trying to utilize the key_file option but am encountering file permission issues because it is creating & attempting to execute a bash script under /tmp, which I do not have mounted as an executable filesystem for security.

It seems that the temp file should be getting created in DEFAULT_RE

[2014-03-18 23:58] bcoca commented on #6552
I probably missed something when I united both functions, they looked
exactly the same, I'll reexamine it.

[2014-03-19 01:16] jokerswild663 commented on #6543
I actually saw where it happened.  This bug only occurs for me when wait is set to yes.  However, if wait is set to no, this will not happen.  May want to look here

https://github.com/ansible/ansible/blob/devel/library/cloud/ec2_elb#L165

[2014-03-19 01:21] #6548 closed, assigned to jctanner

[2014-03-19 01:21] jctanner commented on #6548
@mpontes 324a943e1278c63a16b8424b3e7f2a0872197efe should resolve the issue for you. Please let me know your test results.

[2014-03-19 01:30] bcoca commented on #6552
Confirmed and reproduced, also if i specify target files it works as expected, so this happens only when dest is a directory.

[2014-03-19 02:32] bcoca commented on #6552
@drybjed please test and confirm

[2014-03-19 02:35] nizsheanez commented on #6307
any vision what it can be?

[2014-03-19 03:36] dirtyharrycallahan commented on #6548
Will there be a dot release to fix 1.5.3?

[2014-03-19 07:53] drybjed commented on #6552
@bcoca I tested your patch, and in all three cases copy works as expected now. +1

[2014-03-19 10:32] MiLk opened #6576 "Unable to replace a file by a link"
##### Issue Type: Bug Report
##### Ansible Version: ansible 1.6 (devel 324a943e12) last updated 2014/03/19 19:31:38 (GMT +900)
##### Environment:

Running from OSX 10.8.5
Managing CentOS 6.4
##### Summary:

The PR #6506 introduces a bug in the file module.
I'm no more able to symlink if the destination already exists and is a file.

The related changes is here https://github.com/bcoca/ansible/comm

[2014-03-19 10:41] sebbrochet commented on #6557
Confirmed (after git pull latest code), thanks!

Roles works OK and order is right:

[code]

[code]

[code]

[2014-03-19 11:12] rafaltrojniak opened #6577 "Variable passed from Ansibje to Jinja are casted from int to string"
When creating variable inside tasks(using set_fact), even using "|int" filter, result passed to jinja is still string.
I've created full Proof Of Concept bug in github repo : https://github.com/rafaltrojniak/ansible-jinja-casting
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.5
##### Environment:

Debian 6.0.8
##### Summary:

When creating variable inside tasks(using set_fact)

[2014-03-19 11:24] mpontes commented on #6548
Working for me as of 324a943e1278, thanks.

[2014-03-19 12:04] bcoca commented on #6576
I'll take a look, this was part of my attempt to add atomicity to linking. By os.rename docs this should only fail on windows, but I probably missed a step.

[2014-03-19 13:04] jctanner commented on #6548
@dirtyharrycallahan yes, but we haven't set a date at this point.

[2014-03-19 13:37] zytek opened #6579 "ansible-vault 1.5.3 cannot decrypt files from 1.5.0"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.3
1.6
##### Environment:

OS X
##### Summary:

ansible-vault 1.5.3 (tested also HEAD) cannot decrypt files encrypted with ansible-vault 1.5.0.
##### Steps To Reproduce:

Try to decrypt file encrypted with ansible 1.5.0
##### Expected Results:

File decrypted.
##### Actual Results:

[code]

[2014-03-19 14:06] mpdehaan commented on #6579
We have unit tests for this, so this is interesting.

Is there any chance you might have specified the wrong password?  (i.e. can you check decryption with the older version, etc?)

[2014-03-19 14:07] mpdehaan commented on #6579
also, can you test 'edit' as well as 'decrypt' ?

[2014-03-19 14:09] zytek commented on #6579
I have checked both edit, decrypt and also using password from file.
Same issue on my friend's box.

Bonus issue: even when we encrypt files again with new vault (1.1, AES256) then ansible-playbook with --vault-password-file fails. Running more tests now, will update with command output.

[2014-03-19 14:10] mpdehaan commented on #6577
duplicate of #5463

[2014-03-19 14:10] #6577 closed, assigned to nobody

[2014-03-19 14:12] jctanner commented on #6579
@zytek how are you installing ansible and testing the various versions?

Can we also see the output of these two commands?

[code]

[2014-03-19 14:17] madrobby commented on #1476
I'd also like to see this functionality. For example, we have a deployment playbook that does various tasks but only if the very first one succeeded. Having no way to skip the rest of the actions creates a lot of clutter and makes it harder to maintain the playbook when changes occur.

[2014-03-19 14:25] zytek commented on #6579
Seems like it does not work only with long passwords.
Password in file has 50 chars. Works fine with 3 letter password.

[code]

[2014-03-19 14:25] zytek commented on #6579
@jctanner

[code]

[2014-03-19 14:29] zytek commented on #6579
Short password test from file:

[code]

[2014-03-19 14:30] #6567 closed, assigned to jctanner

[2014-03-19 14:30] jctanner commented on #6567
@knoxr the above patch moves the script into the same path as the module, so if your modules are executable in that path, the git wrapper is definitely going to be executable too.

[2014-03-19 14:34] mmoya commented on #1476
+1 to this

[2014-03-19 14:37] zytek commented on #6579
@jctanner @mpdehaan

I have found the real bug - treating newline in vault password file.

[code]

[2014-03-19 14:38] zytek commented on #6579
[code]

[2014-03-19 14:38] jctanner commented on #6579
@zytek there's a newline char in the password it's self?

[2014-03-19 14:39] zytek commented on #6579
@jctanner
yes. So the real "bug" is that it is treated differently by new version of ansible.

[2014-03-19 14:40] jctanner commented on #6579
@zytek taking a look now

[2014-03-19 14:47] jctanner commented on #6579
@zytek reproduced, working on a fix.

[2014-03-19 15:02] jctanner commented on #6579
Confirmed that newline chars in the password will work properly for encrypting and decrypting AES256.

[2014-03-19 15:18] jschwanz opened #6581 "field with no_log still shown in -vvvv output"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible 1.5.2
##### Environment:

RHEL 6
##### Summary:

In developing a module I've added no_log=True to some fields in the argument_spec. When running a play/playbook with the module using -vvvv I am seeing my "private" values in the output.
##### Steps To Reproduce:

Here is a basic version of my module.

[code]
##### Expected Results:

[cod

[2014-03-19 15:29] rob-knox-ck commented on #6567
Thanks for the quick fix!

[2014-03-19 15:33] mpdehaan commented on #6388
This wasn't really meant to support Python slicing here, you can however do hosts[0] or (I believe in newer versions such as the devel branch) hosts[-1]

[2014-03-19 15:33] #6388 closed, assigned to nobody

[2014-03-19 15:33] mpdehaan commented on #6369
Closing since this was merged, thanks!

[2014-03-19 15:33] #6369 closed, assigned to nobody

[2014-03-19 15:35] mpdehaan commented on #6314
Given I can't reproduce this and if this were this horribly broken I would expect screaming and pitchforks, I am at a loss to see what the problem may be.  As a result, I'm closing this one.  If you can dig and find out what is going on that would be welcome, though I suspect this might be some confusion with some particular thing.

IRC might be a good place to ask questions.

[2014-03-19 15:35] #6314 closed, assigned to nobody

[2014-03-19 15:37] mpdehaan commented on #6286
I'm going to close this one due to no extra info on the above.  Feel free to reopen if you have figured out that the script is ok with return codes and such.

Thanks!

[2014-03-19 15:37] #6286 closed, assigned to nobody

[2014-03-19 15:39] mpdehaan commented on #6245
Sorry for the late response, we've got quite a backlog and are powering through it.

"variable: # (inside a variable file)"

You will need to quote this bit and then will be ok.

variable: "# foo"

otherwise you've commented out the line.

So this should not be a bug.

If you are doing this directly in the INI file, you can # the #.

[2014-03-19 15:39] #6245 closed, assigned to nobody

[2014-03-19 15:43] mpdehaan commented on #6007
Closing as dup, these tickets will be linked, so we'll have notes.

[2014-03-19 15:43] #6007 closed, assigned to nobody

[2014-03-19 15:46] matburt opened #6582 "Git ansible module now fails to update a project with untracked files"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Ubuntu 12.04
##### Summary:

Ansible 1.4.5 allowed updates to a source tree from the git module if there were untracked files.  Git will also allow updates to a source tree with untracked files as long as updating doesn't bring a file into existence that would conflict.

Ansible 1.5.3 seems to change this behav

[2014-03-19 15:47] mpdehaan commented on #5943
Agreed

[2014-03-19 15:47] #5943 closed, assigned to nobody

[2014-03-19 15:48] mpdehaan commented on #5887
Closing per above response, thanks!

[2014-03-19 15:48] #5887 closed, assigned to nobody

[2014-03-19 15:49] mpdehaan commented on #5876
Closing due to lack of updates, please feel free to reopen if you still feel this is a problem.

[2014-03-19 15:49] #5876 closed, assigned to nobody

[2014-03-19 15:49] #5874 closed, assigned to nobody

[2014-03-19 15:51] mpdehaan commented on #5814
Yep this is frequently discussed, we are likely moving to setuptools in the future -- for other reasons which will help rectify  this and enable pull requests of this nature.

[2014-03-19 15:51] #5814 closed, assigned to nobody

[2014-03-19 15:52] mpdehaan commented on #5799
Are folks still experiencing this on devel?

I haven't heard any comments to this effect recently.  Thanks!

[2014-03-19 15:52] FiloSottile opened #6583 "Expose Ansible version to the playbooks"
##### Issue Type:

Feature Idea
##### Ansible Version:

`ansible 1.5.3`
##### Environment:

N/A
##### Summary:

It would be needed to have the Ansible version available from the playbooks in a variable, like `ansible_version` that evaluates to `1.5.3`.

There have been some issues recently that make my roles compatible only with the latest Ansible, and I'd like to enforce this.
##### Steps To Repr

[2014-03-19 15:53] mpdehaan commented on #5798
Not sure why the "but print [cmd]" stuff was added, but aren't getting any other reports of this.  I think you may possibly have some color output in your bashrc or something?

[2014-03-19 15:56] mpdehaan commented on #5791
I'm having difficulty understanding much of the above, but add_host we know to be operational.

In the above the foo group is added to testgroup and the output configures testgroup, which looks correct to me.

[2014-03-19 15:56] #5791 closed, assigned to jctanner

[2014-03-19 15:56] mpdehaan commented on #5788
This may already be fixed for a different pull request, in queue for testing.

[2014-03-19 15:57] mpdehaan commented on #5741
Should be fixed per the above, please reopen if you disagree.  Thanks!

[2014-03-19 15:57] #5741 closed, assigned to nobody

[2014-03-19 15:58] mpdehaan commented on #5725
Falling back to temp seems a little sketchy as a default, but leaving this open for now.

[2014-03-19 15:59] danjenkins commented on #5799
I haven't upgraded from 2.20.1 so I wouldn't know! Do you think this
shouldn't be an issue any more?

On Wed, Mar 19, 2014 at 3:52 PM, Michael DeHaan notifications@github.comwrote:

[2014-03-19 15:59] mpdehaan commented on #5696
I'm closing this due to lack of feedback on the above, this may already be resolved or addressed by other tickets.

[2014-03-19 15:59] #5696 closed, assigned to nobody

[2014-03-19 16:00] mpdehaan commented on #5659
Should be fixed per the abov,e let me know if you disagree (reopening would be fine).

Thanks!

[2014-03-19 16:00] #5659 closed, assigned to nobody

[2014-03-19 16:04] mpdehaan commented on #5456
(note: this prob. shouldn't work but it shouldn't throw a traceback either)

[2014-03-19 16:17] mpdehaan commented on #5961
Closing this due to time/resources needs, but thanks very much for the idea.

Looks like a neat project!

[2014-03-19 16:17] #5961 closed, assigned to nobody

[2014-03-19 16:51] FiloSottile commented on #6474
1.5.3 fixed this for me.

Control machine: OS X
Remote: Debian Wheezy

Old version: 1.5.2

[2014-03-19 18:11] mpdehaan commented on #6581
no_log=True on the argument spec is intended for syslog, so this is an RFE to hide it from ansible CLI output itself, which I approve of.

It is suggested that the module itself return a list of parameters that should not be logged as "no_log=True", that ansible never records this, but uses it to filter any output to the callbacks.

Must be done in a way that doesn't break any existing callbacks.

[2014-03-19 18:12] mpdehaan commented on #6583
closing this since there's a pull request now.  Thanks!

[2014-03-19 18:12] #6583 closed, assigned to nobody

[2014-03-19 18:20] jctanner commented on #6579
@zytek is the newline char at the end of the password?

[2014-03-19 18:31] zytek commented on #6579
@jctanner yes, as with this usecase:

[code]

[2014-03-19 18:32] mpdehaan commented on #5978
This is true, we are likely moving to setuptools in the future that may assist with some of this.

But yes, running from source helps a lot here.

[2014-03-19 18:33] mpdehaan commented on #5978
Closing as this is all related to the larger issue of the install script.

[2014-03-19 18:33] #5978 closed, assigned to nobody

[2014-03-19 18:39] jctanner commented on #6579
@zytek this should be fixed in devel for you. If you do get a chance in the future, please update all your files to the AES256 cipher. Simply rekey'ing them with the same password will update them in place.

[2014-03-19 18:43] DSpeichert commented on #6214
I just had the same problem, I think the database should be created automatically.
Ubuntu 14.04 / Ansible 1.5.3-trusty-unstable-ppa2

[2014-03-19 18:54] #6552 closed, assigned to jimi-c

[2014-03-19 18:55] jimi-c commented on #6552
I've merged the above patch in, so this should be resolved now. Please let us know if you continue seeing this issue. Thanks!

[2014-03-19 18:56] jctanner commented on #6582
@matburt Trying to reproduce this but I'm not seeing a problem ...

[code]

Result

[code]

What am I missing from your description?

EDIT: set update=yes on the third play

[2014-03-19 19:00] skliarie opened #6587 "Add syntax for evaluating expressions in vars: section into True or False"
Issue Type: Feature Idea
Ansible Version: 1.5

On complex playbooks a task might be run only if two or more conditions satisfy. To avoid writing long chain of conditions, it is desirable to group them beforehand in vars section. For that to work cleanly, the vars section should have some new syntax. I recommend to use brackets for that:
vars:
is_virtual: ((amazon == 'yes') or (kvm == 'yes'))
is_un

[2014-03-19 19:09] #6254 closed, assigned to jimi-c

[2014-03-19 19:10] jimi-c commented on #6254
The error messages have been improved per the above discussion. The other issues appear to have been resolved via a separate commit or are the result of mixing accelerate versions, so this is should be resolved. If you run into this problem again, please let us know. Thanks!

[2014-03-19 19:15] zytek commented on #6579
@jctanner
Your fix breaks ansible in a pretty hardcore way. :/

Firstly, previous behaviour, although incompatible with 1.5.0, was "user friendly".
Consider this scenario:
1. User encrypts a file with ansible-vault encrypt file
2. ansible-vault prompts for password, user enters "123"
3. User now wants to store his password in a file and uses vim to create password-file. Vim by default leaves newli

[2014-03-19 19:42] #6582 closed, assigned to nobody

[2014-03-19 19:57] jctanner commented on #6579
@zytek ok, it's going to have to disallow newlines at the end of the password. I have put the strip back into ansible-vault and moved it to the utils function so that the other cli tools have the same behavior.

[2014-03-19 20:02] zytek commented on #6579
@jctanner

[code]

[2014-03-19 20:04] jctanner commented on #6579
@zytek are you trying to specify a blank password?

[2014-03-19 20:05] zytek commented on #6579
@jctanner no, "123"

[2014-03-19 20:08] jctanner commented on #6579
@zytek oops, sorry about that ... git pull and retry?

[2014-03-19 20:13] jimi-c commented on #4875
@mgan59 I've updated my feature branch above with a fix that gets me around that traceback. As far as I can tell, the chube `__init__.py` does stuff like `import .api ...` that doesn't play well with us changing the PYTHONPATH when using something like the `hacking/env-setup` script, so I think I've found a middle ground where we still have to do some of the odd sys.path munging, but with more sel

[2014-03-19 20:13] zytek commented on #6579
It still ZEROES file when I type empty password.

[code]

[2014-03-19 20:32] jctanner commented on #6579
@zytek pull and retry again please.

This is what I tested for b8f627d1d543eb3acb181e0ff7c7a50bc6717402 ...

[code]

[2014-03-19 20:38] zytek commented on #6579
Works fine with ansible-vault

So, this will still be incompatible with 1.5.0 regarding newlines, right ? Worth mentioning in the docs probably?

Tommorow I'll test also with other CLI tools.

[2014-03-19 20:42] jctanner commented on #6579
@zytek correct, it's going to remain impossible to decrypt a 1.0 file encrypted with a newline char at the end of the password. However, we do expect users to upgrade to 1.1/AES256 so perhaps we should suggest decrypting all files on a 1.5.0 box and then re-encrypting on a 1.5.x

However, I think you've caught some other issues here which weren't really tested previously. I'm glad those are now fi

[2014-03-19 20:43] #6579 closed, assigned to jctanner

[2014-03-19 20:53] jimi-c commented on #4875
Just did another update, as I noticed it did not like being run when you were sitting in the same directory as linode.py (since internally, chube does an `from linode import ...` that causes a problem).

I did get an API key to test, and this seems to be working without issue now no matter what the relative path may be, so I'm going to go ahead and merge this in.

[2014-03-19 20:54] #4875 closed, assigned to jimi-c

[2014-03-19 20:57] jimi-c commented on #4875
Please let us know if you continue to experience this problem. Thanks!

[2014-03-19 21:08] jimi-c commented on #5171
@cespare the above patch is in my feature branch if you'd like to give it a test. It is quite a large change though, so we'll be wanting to do a lot more testing on it before merging it in.

[2014-03-19 21:25] jimi-c commented on #6543
@jokerswild663 I'm curious if the API is just being slow? Could you up the value there for either the number of tries or the time it sleeps between failures to see if that resolves the issue?

[2014-03-19 21:30] mgan59 commented on #4875
pulled your `issue_4875_linode_inventory` branch and it works.  Thanks!

[2014-03-19 21:45] mpdehaan commented on #6587
Thankfully already supported!

[code]

Stop by the list if you have further questions!  Thanks!

[2014-03-19 21:45] #6587 closed, assigned to nobody

[2014-03-19 21:48] jctanner commented on #5206
Reproduced on ubuntu and simplified it down to a simple python script ...

[code]

Ubuntu 12.04 + Python 2.7.3

[code]

Fedora 18 + Python 2.7.3

[code]

[2014-03-19 22:03] jctanner commented on #5206
Ubuntu 12.04

[code]

Fedora 18

[code]

[2014-03-19 22:05] sivel commented on #5206
Of importance here: https://wiki.ubuntu.com/DashAsBinSh#echo

[2014-03-19 22:09] patrickheeney commented on #5206
Interesting. Is there anything that can be done on the ansible level like warnings or anything? Or perhaps a note in the shell command about compatibility across systems?

[2014-03-19 22:12] jctanner commented on #5206
@patrickheeney in this case, it's a shell code portability issue. If we tried to provide a warning, we'd have to parse the input command for non-portable characters, check where /bin/sh points to, and then decide if the non-portable characters are going to work.

[2014-03-19 22:15] patrickheeney commented on #5206
@jctanner Understood. I was experiencing the same thing with other commands such as `mysql -e` but it may be more of the same problem or an unrelated issue. I will have to dig in some more on that one.

What do you think about docs note or somewhere so we can reference this?

[2014-03-19 22:17] jctanner commented on #5206
@patrickheeney I think the shell module docs could use some warnings. If you want to submit a PR for that, I'll review/merge.

[2014-03-19 22:17] #5206 closed, assigned to jctanner

[2014-03-19 22:20] darkone23 commented on #6538
I'm working on a pull request to make my above example work.
It should be completely backward compatible.

[2014-03-19 23:02] jctanner commented on #5622
NONE is not a valid tag for devel ...

[code]

Dropping the NONE tag, I get the following result ..

[code]

Note that none of the included task files were run. This is the output when no tags are specified:

[code]

[2014-03-19 23:14] mark-casey commented on #5791
Yea, in re-reading some of that it is hard to follow... basically add_host wasn't doing what expected either in ec2 or for localhost. The ec2 issue was my fault but I came to the conclusion that the localhost problem was a real thing.

I've since worked around the problem I was seeing here and I can simply accept that it is just a thing that only applies to localhost. As I can still reproduce it t

[2014-03-20 00:57] siboulet opened #6588 "Subversion module is leaving remote directory in conflict state"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6
##### Environment:

CentOS 5.8
##### Summary:

The subversion module documentation states that with force=no option set, "module will fail if it encounters modified file".

In the current version, the module does fail, however, it leaves the remote in conflict state (which include leaving review files in the remote directory, and ad

[2014-03-20 01:19] pgehres opened #6590 "Synchronize module doesn't read user from ssh config"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Unrelated but
Host: OS 10.9.1,
Target: Centos 6.4
##### Summary:

When using the synchronize module, rsync is attempting to use my local username on the remote server instead of utilizing the ssh config settings.  For example, my laptop user is peter.gehres, but I am pgehres on the production servers.
##### Exp

[2014-03-20 01:22] jctanner commented on #6590
@pgehres synchronize has an action plugin where most of this logic occurs.

Please post an example playbook to demonstrate how you are trying to use the module so that I can see what attributes/hosts/usernames/sudo are being set.

[2014-03-20 01:26] pgehres commented on #6590
Aha.

[code]

Is the task.

[code]

Is the entire play.

[2014-03-20 01:27] pgehres commented on #6590
I'll take a look at the action plugin as well.

[2014-03-20 01:27] jctanner commented on #6590
@pgehres can I see the -vvvv playbook output for the synchronize task?

[2014-03-20 01:35] pgehres commented on #6590
[code]

[2014-03-20 01:36] jctanner commented on #6590
@pgehres what is the correct login for "remotehost" and where is that defined?

[2014-03-20 01:40] mpdehaan commented on #6590
Synchronize is basically just a wrapper around the following:

[code]

In cases where you know more than what the module knows, it's just trying to be helpful, and if you do know EXACTLY what arguments you want to rsync, local_action rsync is going to be the better way to go.

In this case I suspect it's just adding on the username based on the current user and it's a toss up to say whether this s

[2014-03-20 01:52] MiLk commented on #6576
#6578 fixes the bug.
Thank you.

[2014-03-20 01:53] pgehres commented on #6590
@mpdehaan I see where you are coming from, but using the wrapper does have advantages.  For example, our automation runs as root, but we run locally with --sudo.  Synchronize handles that very well, local_action: rsync does not.

I guess my assumption would have been to not automatically add anything not specified as users would use "remote_user" or other options to override, correct?

[2014-03-20 01:54] pgehres commented on #6590
@jctanner is is pgehres@remotehost

It defined in my ssh config.

[2014-03-20 02:09] jctanner commented on #6590
@pgehres is there a specific section in the config for that host or is there a global username set for all hosts? Could we see a sample?

[2014-03-20 02:12] pgehres commented on #6353
@mpdehaan I'm still seeing the same output.  I created https://github.com/pgehres/ansible-playbooks-test which is what I am using to test.

[2014-03-20 02:17] pgehres commented on #6590
The relevant sections are

[code]

[2014-03-20 03:45] jctanner commented on #5622
Preliminary patch:

[code]

[2014-03-20 04:03] brad commented on #6329
What issues did the patch cause? I'm struggling (and failing) to find the history of that.

[2014-03-20 07:58] 8191 opened #6591 "template module shows diff even if "force=no" was passed"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 991399edf0) last updated 2014/03/20 08:41:39 (GMT +200)
##### Environment:

Host: Fedora 20
Target: OpenBSD 5.4
##### Summary:

When calling ansible-playbook with --diff, a diff is even shown by the template module, if the copy parameter "force=no" was passed and the dest file exists. Actually everything behaves correctly (si

[2014-03-20 10:02] Habbie opened #6592 "yum/apt with_items ignores filters, prefixes"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 1.4.3
##### Environment:

RHEL 6.5 from RHEL 6.5; bug appears to be generic though.
##### Summary:

The hack at https://github.com/ansible/ansible/blob/devel/lib/ansible/runner/__init__.py#L586 appears to break filter usage (name={{item | basename }}).
##### Steps To Reproduce:

This code:

[code]

Should behave identically to:

[code]

[2014-03-20 10:14] Habbie commented on #6592
I should clarify that "does not work at all" means "it feeds the URLs to the yum module which then proceeds to do nothing at all, instead of upgrading the package". This might be an unrelated bug in the yum module.

[2014-03-20 11:27] JeanFred opened #6594 "Documentation claims cpanm module is « New in version 1.0. » though it is not in any release since then."
##### Issue Type:

Documentation Report
##### Ansible Version:

ansible 1.4.4
##### Environment:

N/A
##### Summary:

The [cpanm module documentation](http://docs.ansible.com/cpanm_module.html) claims that is « new in version 1.0 »; but said module is not part of any release tagged on GitHub.

According to [the history of the file](https://github.com/ansible/ansible/commits/devel/library/packaging

[2014-03-20 12:02] mpdehaan commented on #6594
This is actualy part of 1.6, what happened was someone copied the module boilerplate, and we need to update it to say 1.6 and push a new docs build.

Thanks for the heads up, I'll do this shortly.

[2014-03-20 12:05] mpdehaan commented on #6592
yum when used with "with_items" will join the arguments with commas.  This is more or less a duplicate of #5166 which says to not engage this behavior in the same amount of places, so I'm going to close this and merge these two tickets together, the other will contain a reference to this and this can be solved jointly.  Thanks!

[2014-03-20 12:05] #6592 closed, assigned to nobody

[2014-03-20 12:06] Habbie commented on #6592
Thanks, missed that ticket!

[2014-03-20 12:08] mpdehaan commented on #6590
"For example, our automation runs as root, but we run locally with --sudo"

With respect to operating solutions, you could still pass the sudo options to the task here, of course.

[code]

While I assume we could run a ssh invocation to inquire about the user (we definitely don't want to parse the file), this then makes the synchronize plugin a bit more connection mode aware than we wish, as with

[2014-03-20 12:15] zytek opened #6596 "encrypted /files support (ansible-vault, files/copy modules)"
##### Issue Type:

Feature Idea
##### Ansible Version:

N/A
##### Environment:

N/A
##### Summary:

add "encrypted=Boolean" parameter to copy/files modules so when True, files would be decrypted using ansible-vault prior to copying.
##### Steps To Reproduce:

N/A
##### Expected Results:

N/A
##### Actual Results:

N/A

[2014-03-20 13:54] jimi-c commented on #6329
@brad it broke certain non-jinja variables, like shell variables and other things that might contain a set of braces.

[2014-03-20 14:10] mpdehaan commented on #6596
Since they will be unencrypted on the remote anyway I don't think we're going to do this.

[2014-03-20 14:10] #6596 closed, assigned to nobody

[2014-03-20 14:29] madrobby opened #6601 "Vault encrypted files should not show YAML formatting errors if any"
Ansible outputs debugging information when a YAML file has parsing errors. This is useful, however it shouldn't output my encrypted secrets. In this case a line number should be enough.

[2014-03-20 14:37] zytek commented on #6596
@mpdehaan

It's unfortunate.

Our use case is that our remote servers are "secure" vel "trusted", but we would like to store our ansible roles on github/bitbucket which aren't trusted.

[2014-03-20 14:37] mpdehaan commented on #6601
So that's an interesting request and I'll consider whether we can do something here.

However as you've already provided decryption credentials to unlock the file, and it's informing you about problems in the output that would be made available later to the program.   Basically you did this as you, and it needs to tell you what the problem is in order for it to be fixed.  Throwing away this data w

[2014-03-20 14:43] mpdehaan commented on #6601
I'd like to know more about your use case here if you can provide it.

Are you using Jenkins, how are you sharing things with your team, etc?

[2014-03-20 14:59] ramondelafuente commented on #6550
I see this was solved by setting shell=True;

A similar problem with ansible-vault could be solved in the same way: https://github.com/ansible/ansible/pull/6580

I did not know if there where other implications to setting the shell to True, so I decided against it. If it's an OK practice, I could rewrite the pull request.

[2014-03-20 15:02] madrobby commented on #6601
You could add a command line argument (`--debug-vaults`) to allow debugging output for encrypted vaults, disabling it by default. It was quite a big surprise to see those passwords scrolling by, very unexpected.

We're deploying from the command line, not doing continuos deployment. The vaults are checked in to source control. Trusted team members get the password for the encrypted vault so they c

[2014-03-20 15:14] mpdehaan commented on #6601
In your scenario, the trusted team members have access to the vault password -- curious if you can elaborate who has access to see the output of the program?

Is this perhaps more of a looking-over-the-shoulder scenario?

Understanding the use cases is very helpful, so this is much appreciated.

Thank you!

[2014-03-20 15:17] madrobby commented on #6601
Yeah, looking over the shoulders is one issue (think of deploying from a plane, "ah, so that's your stripe private key")—but also other scenarios are problematic, like logging the output somewhere and not knowing that secrets could be exposed accidentally.

[2014-03-20 15:22] pgehres commented on #6590
[code]

needlessly defines thing that we use nowhere else to work around things.  In fact, won't that sudo apply to the local connection?

I didn't mean to suggest that synchronize should parse the ssh config, in fact, I just want it to omit the username unless the task or the playbook explicitly defines the username that should be used to connect.  That way rsync itself uses the proper options.

[2014-03-20 15:40] mpdehaan commented on #6601
Yeah part of what I was getting at is some degree of logging, such as module parameters -- is not going to be 100% covered and that should be apparent up front.  (Which I think is not so much a vulnerability but something we should just make note of in the documentation -- be aware-- the variables you set will be made available to the program and the remote nodes, naturally, so...).

Though I can

[2014-03-20 15:56] #5622 closed, assigned to jctanner

[2014-03-20 15:59] jctanner commented on #5622
@LukaszC this should be fixed based on my understanding of the issue.

[2014-03-20 17:12] #4239 closed, assigned to jctanner

[2014-03-20 17:13] jctanner commented on #4239
@fgtham I know it took a long time, but I think this is finally fixed. If you are still able, try out your test playbook with devel. It's working for me when running your test scripts without any modification.

[2014-03-20 17:27] mpdehaan commented on #6594
Pushing shortly, thanks for the heads up!

[2014-03-20 17:27] #6594 closed, assigned to nobody

[2014-03-20 17:28] jctanner commented on #4435
@nicolas-g just now getting a chance to re-review this ticket.

Your host pattern appears to be "localhost", which is going to cause ansible to ssh to localhost for each task...

[code]

Example default behavior:

[code]

There are three ways to override this behavior in ansible:

A) make the connection for the whole playbook local, either with connection: local in the playbook or -c local from th

[2014-03-20 17:28] #4435 closed, assigned to jctanner

[2014-03-20 17:47] JeanFred commented on #6594
Thanks for getting this done so quickly!

[2014-03-20 17:56] #6590 closed, assigned to jctanner

[2014-03-20 17:57] jctanner commented on #6590
@pgehres this was actually a simple fix for your specific issue. I've added a "set_remote_user" parameter in the synchronize module, which is True by default. If you set it to "no"/False, it will not prefix the inventory username on the remote host:path. It does not change any other behaviors, so it should not cause conflicts for how other people are using the module.

[2014-03-20 18:15] pgehres commented on #6590
@jctanner thanks a bunch.  Will this go out in the next 1.5.X as a bugfix?

[2014-03-20 18:24] jctanner commented on #6590
@pgehres this is new functionality for the module, so it's a feature rather than a bug. It will most likely be in EDIT: 1.6.

[2014-03-20 18:36] pgehres commented on #6590
That is true, yes, but it is blocking our team (AppDynamics) from using the module. 1.6 is several months out, yes?

[2014-03-20 18:38] tgerla commented on #6590
Hi Peter, hit us up at http://support.ansible.com/ and we can help you out.

[2014-03-20 18:56] dmitrig01 commented on #6543
Running into this as well. Did some debugging:

Registering a new instance is done with `ElbManager.register`. In that function, it does (effectively) this:

[code]

Now, `_get_instance_health` returns a status code (not sure quite what) if the instance is in the load balancer, or it returns `None` if it's not there – thus triggering the error condition in the exact place it shouldn't.

I don't re

[2014-03-20 19:00] dmitrig01 commented on #6543
FWIW:

##### Issue Type:

Bug Report

##### Ansible Version:

ansible 1.5.3

##### Environment:

Running: Mac OS 10.7, managing Ubuntu 12.04.

##### Summary:

Registering an EC2 in an ELB doesn't work.

##### Steps To Reproduce:

[code]

##### Expected Results:

A new image is created

##### Actual Results:

[code]

[2014-03-20 19:36] acranox opened #6605 "yum module reporting success even when unable to download RPM"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.4.1
##### Environment:

CentOS 6.5
##### Summary:

installing an RPM with yum=http://url.com/foo.rpm reports "OK" even when the rpm was never downloaded due to a network error.
##### Steps To Reproduce:

I have a task that is essentially:

[code]

and the client machine is unable to reach www.example.com, but the playbook still report

[2014-03-20 20:10] #4325 closed, assigned to jctanner

[2014-03-20 20:10] jctanner commented on #4325
@base10 this should be functional in devel now, thanks!

[2014-03-20 20:12] base10 commented on #4325
@jctanner Yay! Thanks.

[2014-03-20 22:44] ninetythirty opened #6610 "Default variable in task name breaks task name templating"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel 991399edf0)
##### Environment:

Ubuntu 10.04
##### Summary:

Default variable in task name breaks task name templating
##### Steps To Reproduce:

See below.
##### Expected Results:

See below.
##### Actual Results:

See below.

Here is a very simple example that illustrates the problem. Templating in the task itself is correc

[2014-03-20 23:52] omgjlk opened #6611 "paramiko connection setting will always connect even for action plugins that run locally"
##### Issue Type: Bug Report
##### Ansible Version: ansible 1.5
##### Environment: Mac OSX
##### Summary:

When using paramiko connection method, ansible will always cause paramiko to create an ssh connection to the host, even for tasks that are action plugins executed locally (such as debug). This is not observed when using the ssh connection plugin.

I traced this down into the connection plugin

[2014-03-21 00:24] yarikoptic commented on #5491
@renard I am also very interested in the use-case you depicted here:  multiple chroots on remote hosts.  I wonder if discussion on the mailing list has happened?

[2014-03-21 00:35] renard commented on #5491
@yarikoptic not yet since I was busy this week on other stuff. You can see #6440 as well.

[2014-03-21 00:54] yarikoptic commented on #5491
Thank you @renard -- I will drop few cents there as well

[2014-03-21 01:06] yarikoptic commented on #6440
Looking at https://groups.google.com/forum/#!forum/ansible-devel  I guess discussion didn't evolve yet, so I might be right in time to drop by 1c: I  liked @mpdehaan 's "ssh_chrootable plugin ... host aliases for each chroot" idea.  Theoretically, all those chroots are virtualized hosts, so it is just a matter of specifying how to get to their environment.  In some cases it might be even beneficia

[2014-03-21 01:45] brad commented on #6329
Ahh ok. Good to know.

[2014-03-21 13:42] madrobby opened #6617 "Vault file is emptied when password is invalid on decrypt command"
When the given password on `ansible-vault decrypt` is wrong, the following message is displayed:

[code]

Expected result: the file stays as-is:

[code]

Actual result: the file is emptied out:

[code]

Ansible version:

[code]

[2014-03-21 13:44] madrobby commented on #6617
Additionally, there probably also should be a better error message when the password is wrong.

[2014-03-21 14:32] mpdehaan commented on #6605
Thanks for the report.

I suspect this is specific to http:// sources.

[2014-03-21 14:38] mpdehaan commented on #6610
This is really "undefined variable in task makes task line not template" because the default is in inventory scope, the rest of the line can't be interpolated.

We should not expect to see the default loaded in here at all, but it may be reasonable to expect the template engine to "go as far as it can".

We can investigate if this is possible to template out as many variables as it can though this

[2014-03-21 14:41] srgvg commented on #6439
I now can confirm patch works, thank you.

[2014-03-21 14:41] mpdehaan commented on #6611
Basically what is happening here is the connection is established in the runner object when it is instantiated in the loop.
Nice catch.

Some action plugins actually do use the connection instance, so it's not enough to say "don't connect in action plugins".

However, it does seem reasonable to make the connection loading lazy up until the point as it is used for a basic optimization.

This should

[2014-03-21 15:11] jctanner commented on #6617
@madrobby this particular issue is fixed in devel per https://github.com/ansible/ansible/issues/6579#issuecomment-38104145

We will probably include those fixes in a 1.5.4 release at some point in the near future.

I would also advise you to update to at least 1.5.3 or devel to resolve numerous bugs you may or may not have seen yet with various modules that use shell commands.

[2014-03-21 15:11] #6617 closed, assigned to jctanner

[2014-03-21 16:08] dhorbach opened #6618 "Role + with_items error"
##### Issue Type:

Bug report
##### Ansible Version:

1.5.3
##### Environment:

Centos 6.4
##### Summary:

Role + with_items gives error
##### Steps To Reproduce:

[code]
##### Expected Results:

No error
##### Actual Results:

ERROR: [DEPRECATED]: include + with_items is a removed deprecated feature.  Please update your playbooks.

[2014-03-21 17:29] mpdehaan commented on #6618
Include + with_items is in fact a deprecated feature, so this isn't an error.

[2014-03-21 17:29] #6618 closed, assigned to nobody

[2014-03-21 17:36] jctanner commented on #4407
@dominis I did find a bug in how the failed percentage was calcuated when serial is set, which is now fixed by 5b3b9ba2670cd308d03ffd3708b8fb7213288bf5

http://docs.ansible.com/playbooks_delegation.html#maximum-failure-percentage
'' it may be desirable to abort the play when a certain threshold of failures have been reached"

Max fail percentage was only intended to abort the play if the threshold

[2014-03-21 17:36] #4407 closed, assigned to nobody

[2014-03-21 18:04] jctanner commented on #4443
@pauloneves we do have https://github.com/ansible/ansible/issues/4777 still open, which requests the same behavior.

[2014-03-21 18:53] dhorbach commented on #6618
@mpdehaan - is role == include ? I'm aware about include+with_items deprecation but error message doesn't say anything about role usage

[2014-03-21 19:11] paul-english commented on #5148
I'm still running into this issue with 1.5.3. Though it's sporadic and sometimes succeeds.

[2014-03-21 21:51] rwehner opened #6621 ""[Errno 2] No such file or directory" error when 'validate' parameter on template module sets ENV variable"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Running ansible from CentOS 6.5
Managing CentOS 6.5
##### Summary:

When using the 'validate' parameter on the template module it produces an "[Errno 2] No such file or directory" error if the 'validate' argument includes setting a variable.
I suspect this is related to the recent security work around shell var

[2014-03-21 21:57] rwehner commented on #6621
Updated description with appropriate template format.

[2014-03-21 23:11] jokerswild663 opened #6623 "ec2 module won't launch if vpc_subnet_id is set"
##### Issue Type:

Bug report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Ubunty / Fedora
##### Summary:

Trying to launch an instance in vpc.  When I specify the subnet id to use.  It crashes.  Here is play:
- name: vpc_ec2_instance launch
  local_action:
  module: ec2
  region: us-east-1
  group: "{{ your security group name }}"
  key_name: "{{ ec2_keyname }}"
  aws_access_key: "{

[2014-03-21 23:47] jokerswild663 commented on #6623
Nvm, just looks like an issue with an invalid instance type

[2014-03-21 23:47] #6623 closed, assigned to nobody

[2014-03-22 21:18] frnsys commented on #4083
For future reference: I just finished wrestling with this `boto` issue myself (on OSX 10.9). I was using a virtualenv and couldn't get that to work, even when setting `ansible_python_interpreter` (by the looks of it, the setting was respected for the first task, then it fell back to `/usr/bin/python` for the rest). I tried installing `boto` outside the virtualenv but that didn't work either (I'm u

[2014-03-23 00:00] mattsoftware opened #6633 "yum package fails to install (or error) possibly when in the format xxx-xxx-xxx"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.6 (devel f82ac9f8e9) last updated 2014/03/23 09:19:06 (GMT +1000)
##### Environment:

Running ansible on OpenSuse ...

Managing Centos6 box...

##### Summary:

I am trying to install perl-ExtUtils-Embed and the yum command always succeeds but the package never gets installed.
##### Steps To Reproduce:
- yum: name=perl-ExtUtils-Embed s

[2014-03-23 00:07] madrobby commented on #6579
I'm on latest `devel` and using `--vault-password-file=xxxxx` no longer works, I get `ERROR: Decryption failed`. The same password, when typed in manually when using `ansible-vault edit blah.yml` works fine.

Note that I've encrypted the file with the same version (latest `devel`).

Version info: `ansible 1.6 (devel f82ac9f8e9) last updated 2014/03/22 20:02:55 (GMT -400)`

[2014-03-23 13:53] zytek commented on #6579
@madrobby  Can you reproduce command line flow that can show your error ? I am not having issues after @jctanner updates.

[2014-03-23 14:34] ralovely commented on #6550
Hi.
I ran into the same issue.
Any chance to see this bug fix in 1.5.4 or will we have to wait 1.6 ?

Thanks.

[2014-03-23 14:41] jjshoe commented on #6550
@ralovely - If you look at 49807877fa4e69f6047efa4f7885a3d454a9d6eb you'll see it's pretty easy to fork 1.5.4 and apply the fix yourself if it's critical.

[2014-03-23 15:54] ralovely commented on #6550
Thanks @jjshoe
I saw that. Easy enough indeed.
Knowing for when it is planned would help make this decision since we'd have to propagate to the whole team's machines.

[2014-03-23 19:06] kavu commented on #6346
@mpdehaan may I try this out? Assuming only `source_control/git` supports `key_file` and `accept_hostkey` I think it won't be difficult to add two new options to the command invocation.

[2014-03-23 19:49] #5171 closed, assigned to jimi-c

[2014-03-23 20:14] mpdehaan commented on #6633
Note to us:  Likely worth testing this on 1.5.3 and without the last several commits to library/packaging/yum on devel.

[2014-03-23 20:30] mpdehaan commented on #6621
What is happening here is the validate command here is not being passed through the shell such that any arguments supplied are treated securely (for instance, such that if you referenced {{ user_input }} it couldn't invoke rm -rf, and so forth).

What you can do here, however, is path visudo explicitly, or also set the 'environment' keyword in Ansible.

We should likely indicate in the docs that t

[2014-03-23 22:17] hgdeoro commented on #2950
FYI: I had the same problem (`pip install ansible` trying to install to /usr/local). Removing the virtualenv and re-creating it solved my problem.

[2014-03-23 22:31] mpdehaan commented on #4777
This will not be a ansible.cfg setting because we _don't_ want it to run all the time, this would defeat the point of "notify" only running things on change.

In those cases, just make something a task.

Anyway, look for this to come very soon.

The retry command will suggest adding --force-handlers, and --force-handlers is also a CLI switch you can select.  Nothing will be adding this flag automa

[2014-03-24 10:53] beberlei opened #6644 "not_in_host_file does not check for readability of /etc/ssh/ssh_known_hosts"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.2 (release1.5.3 f0a89d5bdf) last updated 2014/03/13 13:07:43 (GMT +200)
##### Environment:

Doesn't matter.
##### Summary:

not_in_host_file does not check for readability of /etc/ssh/ssh_known_hosts, leading to exception when file is not readable.

https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/known_hosts.p

[2014-03-24 12:54] DXist opened #6647 "Newly created files are owned by remote_user instead of the sudo_user"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.3.
##### Environment:

N/A
##### Summary:

Template command doesn't respect sudo context from task include / single task.
##### Steps To Reproduce:

Create task file for a role:

[code]

Create task with template command.

[code]
##### Expected Results:

The owner of  created /tmp/mytasks.yml should be root.
##### Actual Results:

/tmp/myta

[2014-03-24 13:05] mpdehaan commented on #6647
We can think about this one, but it's always a very good idea to set an explicit owner when you have something particular in mind (edited description)

[2014-03-24 13:19] mpdehaan commented on #6647
@jimi-c indicates this may be an issue about sudo not being applied to the include.   Which is possible.

[2014-03-24 13:24] jimi-c commented on #6647
@DXist the sudo/sudo_user should be moved to your tasks in the included yaml. We do not currently apply some options when the include statement is used, though we should, so I'm editing the subject of this issue to reflect what's really going on.

[2014-03-24 13:24] bcoca commented on #6647
The file is copied to the server as remote_user, if the destination is on the same partition, rename is done so permissions are preserved, if destination is on diff partition, copy + rename is done, in which case permissions will be those of user making the copy (sudo_user).
 #6593 sets permissions if target already exists, we just need to do the same for when target does not exist to 'current use

[2014-03-24 13:37] Synforge opened #6648 "Issue passing arbitrary data structures to roles"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.2
##### Environment: N/A
##### Summary:

There seems to be an issue when passing complex data structures created in host_vars and group_vars to roles.

Please note that this occurs when using both hash_behaviour merge and hash_behaviour replace.
##### Steps To Reproduce:

I've created a minimal project that demonstrates this:

https://githu

[2014-03-24 13:45] DXist commented on #6647
@mpdehaan  I  design my playbooks to work in different environments. Some of them don't need sudo. I expect template task will use sensible defaults depending on current remote_user/sudo_user/su_user context.

@mpdehaan  sudo applies to all tasks in include but there is an issue template owner/group

[2014-03-24 14:04] mpdehaan commented on #6648
Thanks for the ticket.

Arbitrary datastructures should work, but perhaps not in this format.  We can investigate.

[2014-03-24 14:29] #4777 closed, assigned to nobody

[2014-03-24 14:32] jctanner commented on #4777
@alanfairless and @kustodian this is now implemented via the "--force-handlers" parameter in ansible-playbook.

[2014-03-24 14:37] deanwilson opened #6650 "CloudFormation Module errors on existing stacks"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

Running on Ubuntu managing AWS CloudFormation resources
##### Summary:

When using Ansible 1.5 with boto versions <= 2.25.0 running a playbook with multiple cloudformation resources will skip the existing stacks and create those that are missing. When upgrading boto to 2.26.0 or 2.27.0 the same playbook and versi

[2014-03-24 14:39] jimi-c commented on #6647
@DXist I've merged in the PR @bcoca referenced above, could you please retry this using the latest pull and see if it resolves the issue you're seeing?

[2014-03-24 15:03] FiloSottile opened #6651 "vars_files prefetching is problematic and inconsistent"
##### Issue Type:

Bug Report
##### Ansible Version:

`ansible 1.5.3`
##### Environment:

OS X
##### Summary:

The **vars_files** are pre-fetched for ALL the plays in a playbook at startup, meaning that if one of the plays creates one of those files, and a later play uses it, execution will fail.
##### Steps To Reproduce:

This is a minimal playbook presenting the issue.

[code]
##### Expected Res

[2014-03-24 15:03] jctanner commented on #5643
@dbrgn I'm not seeing a traceback for this behavior as of ...

[code]

[code]

I will try to figure out why the result is always "changed" though

[2014-03-24 15:08] bcoca commented on #6647
that will solve one case (target exists) but not the other (target does not exist)

[2014-03-24 15:10] machpo opened #6653 "Bug: variables go out of scope inside an included template"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5
##### Environment:

debian 7
##### Summary:

Variables go out of scope inside an included template
##### Steps To Reproduce:

hosts.yml:

[code]

test.j2:

[code]

test-inc.j2:

[code]
##### Expected Results:

I expect x in test-inc.j2 to be properly dereferenced
##### Actual Results:

fatal: [myhost] => {'msg': "One or more undefin

[2014-03-24 15:12] rwehner commented on #6621
OK. I'll change break my tasks into two (one for Solaris and one for Linux with different explicit paths to visudo).

I've created a PR that hopefully updates the docs to include this information in an acceptable way. https://github.com/ansible/ansible/pull/6652

Thanks for the quick response.

[2014-03-24 15:37] jctanner commented on #5643
It seems like this is a bug in boto where the rules for a group are always empty:

[code]

EDIT:

It actually appears to be an issue where the appended rules aren't being saved.

[code]

EDIT:

Had a typo in my complex args: cidr_op instead of cidr_ip

[2014-03-24 15:52] DXist commented on #6647
Owner is set to `remote_user` in both cases - when there is no file and when there is a file owned by `remote_user`.

[2014-03-24 16:25] eproxus commented on #3324
I have another use case for this:

We currently have a `users` role that will output for each item, the user's username and SSH key among other things. This would be nice to hide so it is not stored/visible in some log/cache somewhere.

[2014-03-24 16:30] astorije opened #6655 "Accented characters produce a UnicodeDecodeError when executing a playbook (ansible 1.5.3)"
##### Issue Type:

Bug Report
##### Ansible Version:

[code]
##### Environment:
- Ubuntu 13.10
- Default terminal
- UTF8-encoded playbook file (default of Sublime Text 2)
##### Summary:

Accented characters produce a `UnicodeDecodeError` when executing a playbook.
##### Steps To Reproduce:

I was trying to run the following task in the only play of my playbook:

[code]
##### Expected Results:

The

[2014-03-24 16:48] jimi-c commented on #6633
This only affects the devel branch, and appears to be related to the yum downgrade support recently added (cbd1da645756e6d6fbd255bde37d9be452c547fe).

[2014-03-24 17:29] jimi-c commented on #6633
I've gone ahead and reverted the above commit, so this issue should be resolved. Please let us know if you continue seeing the above problem. Thanks!

[2014-03-24 17:29] #6633 closed, assigned to jimi-c

[2014-03-24 17:35] jimi-c commented on #6647
@DXist could you include the output of your playbook running with -vvvv and ANSIBLE_SSH_PIPELINING=no exported?

[2014-03-24 17:38] jimi-c commented on #6605
This appears to be resolved as of Ansible v1.5.0+. Could you please re-test with one of these newer versions to verify?

[2014-03-24 18:18] leevs opened #6657 "nohup isn't usable with ansible/ansible-playbook commands"
##### Issue Type:

Bug
##### Ansible Version:

ansible 1.5.1
ansible 1.5.3-1
##### Environment:

Centos 6.5 64bit
##### Summary:

Trying to use nohup together with ansible commands. (ansible & ansible-playbook).
This is to detach ansible run from a user.
##### Steps To Reproduce:

w/o nohup :

$ ansible -i hosts.rackspace -m ping proxy
ukproxy | success >> {
"changed": false,
"ping": "pong"
}

wit

[2014-03-24 20:23] mcodd opened #6660 "Traceback using group_by and with_items"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

Running Ansible from CentOS5 and managing CentOS5 systems
##### Summary:

It looks like using group_by plus with_items results in a stacktrace.  See details below.  Also see https://groups.google.com/forum/#!msg/ansible-project/6icKbPeY8x4/YSWawDxtBywJ where it looks like I'm not the only one seeing this.
#####

[2014-03-24 20:38] #6647 closed, assigned to jimi-c

[2014-03-24 20:45] jimi-c commented on #6647
The above patch should fix the issue, if you're using the development branch. I've also changed the subject back, as it did end up being related to the way atomic_move() was working with new files rather than something related to include/sudo. If you continue having problems with this, please let us know. Thanks!

[2014-03-24 21:01] #6660 closed, assigned to nobody

[2014-03-24 21:01] jimi-c commented on #6660
The above patch should resolve the issue on the devel branch. If you continue seeing this this issue, please let us know. Thanks!

[2014-03-24 21:33] #6644 closed, assigned to nobody

[2014-03-24 21:34] jimi-c commented on #6644
The above patch should resolve the issue for you. If you continue seeing this problem, please let us know. Thanks!

[2014-03-24 21:43] mpdehaan commented on #6651
Sorry about this not doing what you like, though this is not a bug so much as the way it works, i.e. a design goal.

Plays should not create data for use later in the playbook.

Plays are parsed and then run as objects.

[2014-03-24 21:43] #6651 closed, assigned to nobody

[2014-03-24 21:44] mattsoftware commented on #6633
Issue is resolved, thank you.

[2014-03-24 21:51] jgornick opened #6661 "Update mysql_replication MASTER_CONNECT_RETRY variable for CHANGE MASTER TO command can only accept integer value."
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.3
##### Environment:

OS X 10.9.2 -> Ubuntu 12.04.4
##### Summary:

Similar to this commit 1d731e5c3064fe29e840c6b4afa56af415419423, but for MASTER_CONNECT_RETRY.
##### Steps To Reproduce:

Try to use the changemaster mode for mysql_replication and specify a master_connect_retry as either an integer or string.
##### Expected Results:

I wou

[2014-03-24 22:33] jsmartin commented on #6650
Could you provide a couple of minimal cloudformation templates that reproduces this problem?  Maybe the original template creates one instance, and the updated template creates 2 instances?  I was not able to reproduce this issue with using these playbooks:

https://github.com/jsmartin/ansible-cf-test

On the first test I create the instance as an m1.small.  On the second round, I change the insta

[2014-03-24 22:51] deanwilson commented on #6650
If I run the following twice in a row then I get a fatal rather than a nothing has changed with boto 2.26.0+

## ansible task

  tasks:
- name: Add SNS topic
  action: cloudformation
    stack_name={{ stack_name }}-sns-email-topic
    state=present
    region="{{region}}"
    template=sns-email-topic.json
  args:
    template_parameters:
      AutoScaleSNSTopic: "{{snsdest}}"
  register: asgsns

#

[2014-03-24 23:00] FiloSottile commented on #6651
Ok, I understand.

Wanted to check if it was intended.

Anyway, I think this should be documented. It can surprise.

Can I ask if there is a reason to this design decision besides performance?

[2014-03-24 23:05] diclophis opened #6663 "mysql_replication module does not recognize 'login_port=' parameter"
##### Issue Type:

What kind of ticket is this?  `Bug Report`
##### Ansible Version:

[code]
##### Environment:

[code]
##### Summary:

I was attempting to establish a master/slave pair on my vagrant host and ran into a problem where the `mysql_replication:` module does not understand `login_port=` ... I was able to work around the problem by using the `login_unix_socket=` parameter.
##### Steps T

[2014-03-25 03:41] MiLk commented on #6190
I just had a similar problem.

`pycrypto` was not installed and an issue with XCode 5.1 prevent me to install it.
Fixed with http://stackoverflow.com/a/22372751

I see it by running `from python -c 'from keyczar.keys import AesKey'` which is used by ansible to detect if `keyczar` is installed.

Maybe you have something wrong with `pycrypto`.

[2014-03-25 04:26] jctanner commented on #6190
@garethrees what is the output of these two commands on your control host?

[code]

[2014-03-25 04:44] firecat53 opened #6669 "Permission Denied when using 'lineinfile' to create a new file"
##### Issue Type: Bug Report
##### Ansible Version:  Ansible version 1.6 (git pull from 3/24).
##### Environment: Archlinux host, Archlinux client. Both fully up to date.
##### Summary:

When using lineinfile to create a non-existant file, the playbook fails with an OSError. If the file already exists, it will complete successfully.
##### Steps To Reproduce:

Simple playbook to recreate issue:

[c

[2014-03-25 09:07] drybjed opened #6670 "Handlers are not activated with meta: flush_handlers"
##### Issue Type:

Bug Report
##### Ansible Version:

Ansible 1.6 (devel)
##### Environment:

Debian
##### Summary:

`- meta: flush_handlers` does not activate pending handlers during playbook run. Bisect shows https://github.com/ansible/ansible/commit/605156c9047a07e02cfaa3c36c3a063ff17af540 as a commit that introduced the bug.
##### Steps To Reproduce:

[code]
##### Expected Results:

[code]
###

[2014-03-25 09:13] garethrees commented on #6190
I no longer work at the place where this was an issue. @cenhinen Might be interested in this though? :smile_cat:

[2014-03-25 09:31] thpani opened #6672 "git: get_head_branch incorrect when branch name contains a slash"
##### Issue Type:

Bug Report
##### Ansible Version:

1.5.3
##### Environment:

OS X 10.9.2
##### Summary:

get_head_branch() fails to correctly compute the HEAD branch if the branch name contains a slash. This is caused by splitting on '/' and indexing [-1] on https://github.com/ansible/ansible/blob/devel/library/source_control/git#L350
##### Steps To Reproduce:

Run from this playbook:

[code]

[2014-03-25 09:31] maxamg commented on #3103
@mpdehaan sorry to drag this from the past. Should the same be true for host_vars? For a single host I'm trying to reuse (include) a common task in several roles, providing a property override that is defined under host_vars. Something like:

[code]

[code]

[code]

[2014-03-25 11:23] rakuco opened #6677 "Variable precedence changes between tasks when -e and vars_files are used"
##### Issue Type:

Bug Report
##### Ansible Version:

ansible 1.5.3
##### Environment:

N/A
##### Summary:

Variables referenced in tasks (the ones which appear directly in the playbook/are included with `include` as well as ones in roles) have their value changed across tasks when they are specified both in `vars_files` and with `--extra-vars`: the first time a tasks refers to it the value in `va