[2018-01-02 18:44] #34275 closed, assigned to nobody

[2018-01-02 18:52] ghost opened #34367 "lineinfile does not support quoted lines"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea

##### COMPONENT NAME
- lineinfile

##### ANSIBLE VERSION
- Ansible 2.4.1.0

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
- Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### SUMMARY

- I have a row to add that contains quotes

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

- Let the line be added to the file with a

[2018-01-02 18:57] pschiffe opened #34368 "add nameservers as a retun value to the gcdns_zone module or allow querying of DNS records in gcdns_record module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
gcdns_zone

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
When creating DNS zone with `gcdns_zone` module in GCP, it's important to know nameservers assigned by the Google to the specific DNS zone. Those nameservers are always random and cannot be known beforeha

[2018-01-02 19:08] sivel commented on #34367
The problem is not with lineinfile, but incorrect YAML formatting.

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.c

[2018-01-02 19:08] #34367 closed, assigned to nobody

[2018-01-02 19:08] Lujeni commented on #32559
Hello @dkquach

Sorry for the delay and thanks for your issue.

The authentication part of this module is very old.
The option `authMechanism' is not supported.

We need to add an new directive for your issue.

Keep in touch.

[2018-01-02 19:14] maxamillion commented on #34091
!component lib/ansible/modules/cloud/ovirt/ovirt_disk

[2018-01-02 19:19] guwhatzza commented on #23578
@guenhter I'm running `2.4.1.0` and still getting the warning.

`[WARNING]: when statements should not include jinja2 templating delimiters such as {{ }} or {% %}.`

@kamilboratynski is this still going to be fixed?

[2018-01-02 19:27] maxamillion commented on #34271
The internal Python API is considered an unsupported aspect of Ansible and this is not considered a bug unless there is an issue with an Ansible binary or an external API such as are provided for the development of plugins (modules, dynamic inventories, callbacks, strategies, etc).

[2018-01-02 19:45] snemir2 opened #34371 "gce module does not support shared subnets from another project."
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

gce module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-change
ANSIBLE_SSH_ARGS(/home/snemirovsky/ansible/conf/ansible.cfg) = -C -o ControlMaster=auto -
CACHE_PLUGIN(/home/snemirovsky/ansible/conf/ansible.cfg) = memory
DEFAULT_GATHERING(/home/snemirovsky/ansible/conf/ansible.cfg) = smart
DEFAULT_GATHER_TIM

[2018-01-02 20:17] sivel commented on #34360
@bookwar I have submitted a pull request at https://github.com/ansible/ansible/pull/34372 that should address this issue.  Would you ming testing?

[2018-01-02 21:25] sivel commented on #34253
Question About This One
=======================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we're not sure if we want this feature in the program, and I don't want this to seem confrontational.  Our reasons for this are:

   * (A) blocks were not implemented with this intention.  To dynamically execute

[2018-01-02 21:25] #34253 closed, assigned to nobody

[2018-01-02 21:46] sivel commented on #34259
I cannot duplicate this bug.  Additionally, in your output, I see something that likely indicates the reason:

[code]

That is indicating that the `delegate_to` value is `None` and not `ns1`.

In my test on 2.4.2 I see:

[code]

You seem to have some other problem going on here.

needs_info

[2018-01-02 21:53] senorsmile opened #34375 "get_url should show changes if downloading because dest is a directory"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION

All versions.  Tested with:
- 2.4.0
- 2.4.1
- 2.3.3

##### SUMMARY
get_url has the following in its docs:

If it redownloads the file (and the file already exists), it does NOT change changes, even though it technically made changes.

This would be very helpful as a first clue that you have something wrong in yo

[2018-01-02 22:05] Hellseher commented on #22676
I've got the same, problem.

It's ok when run locally on Fedora 27, but have "\r\n" leading prefix when run on test VMs Ubuntu 16 and 12.

[2018-01-02 23:03] snemir2 commented on #30759
Just to confirm, still an issue with Ansible 2.4

[2018-01-02 23:29] DRAKUN commented on #34135
okay i think that will be possible because in the requirement we have installed python on the windows server.

[2018-01-02 23:59] #19670 closed, assigned to nobody

[2018-01-03 00:34] kcd83 opened #34378 "ansible_winrm_server_cert_validation no longer works with pywinrm 0.3.0"
The current pywinrm release does not work, should the documentation be updated?

To say:

##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows WinRM with a self-signed certificate
[code]

[code]

[code]

##### SUMMARY

See `server_cert_validation 'ignore' no longer works in 0.3.0`
https://github

[2018-01-03 00:38] kcd83 commented on #34378
Feel free to close this, hopefully this will help next person workaround the bug and not blame ansible :)

https://github.com/diyan/pywinrm/issues/201

[2018-01-03 01:30] jborean93 commented on #34135
It's not, even if you have Python installed on the Windows server you cannot run Ansible Python modules. The execution wrapper for Windows only supports PowerShell or Binary modules right now.

[2018-01-03 01:36] nitzmahone commented on #34378
bot_status

[2018-01-03 01:57] jborean93 commented on #34378
!component =lib/ansible/plugins/connection/winrm.py

[2018-01-03 02:01] jctanner commented on #34378
bot_status

[2018-01-03 02:31] asd80703406 commented on #34271
Is there a better way to use ansible playbook api in other platform? Example best  Or documents. I'm writing a platform by tornado and execute backend task by ansible . but defunct was happend and i donot know how to solve it . Can you give me some help! Thanks!

[2018-01-03 03:17] willthames commented on #24886
@aioue it's worth patching ec2_ami_facts (the reason why ec2_ami_find was deprecated) with that fix, as it has the same underlying problem.

Testing this also highlights a separate bug with `ec2_ami_facts`, so that's useful to know too!

[2018-01-03 04:24] asd80703406 commented on #34271
Oh, I have resolved it by using signal... Thanks!

[2018-01-03 04:54] ghost opened #34384 "Error using Regex"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
Using Regular Expression in Ansible.
!component
##### ANSIBLE VERSION
Ansible 1.3

##### CONFIGURATION

 using the ANSIBLE_* environment variables.

##### OS / ENVIRONMENT
Linux

##### SUMMARY
We are using regex in ansible. I want to remove or escape special characters from a string. want to match the string with other string.
other string some

[2018-01-03 05:03] willthames commented on #24886
@aioue my tests show your change is not sufficient. You need to remove the owners from the Owners param too (unless owner is self)

[code]

[2018-01-03 05:07] willthames commented on #24886
ec2_ami_facts enhancement logged at #34385

[2018-01-03 06:23] Akasurde commented on #34165
@goldenprifti could you please provide requested information so that bot will identify component name and ping respective person?

[2018-01-03 06:44] Akasurde commented on #30105
Closing this issue as PR https://github.com/ansible/ansible/pull/19861 is merged. If issue persists, please feel free to re-open.

[2018-01-03 06:44] #30105 closed, assigned to nobody

[2018-01-03 07:15] rlueckl commented on #18665
This is definitely NOT just the interpreter variable! The same happens with import_role, see: #22571

Since #22571 was closed in favor of this issue, please reopen this one!

[2018-01-03 07:17] wartih commented on #33699
same problem. hope "become timeout" can be set T T

[2018-01-03 07:23] rlueckl commented on #22881
This is definitely NOT only the ansible_python_interpreter variable! The same happens with import_role, see: #22571

Since #22571 was closed in favor of this issue, please reopen this one! Or if it's not going to be a "generic" problem anymore, please reopen #22571

[2018-01-03 07:34] yfoelling commented on #22716
+1
I think this feature is very interesting to speed up things a bit. :-)

Also an warning/error message should be raised as mentioned before, it took some time debugging why the async has no effect on include statements.

[2018-01-03 08:51] Rocking80 commented on #34340
Is there anyone take this bug?  Thanks.

[2018-01-03 08:55] guenhter commented on #23578
@guwhatzza Did you used the playbook from this ticket to test that?

[2018-01-03 09:05] tagirb commented on #34259
Thanks for verifying my report. In fact you have reproduced the issue, because the value of `ansible_become_pass` displayed in your output varies for each task.

Expected is that it remains `ns1` for all three tasks. The logic here is that if the task is delegated to another host (here, `ns1`), that host defines the task execution environment and therefore the value of `ansible_become_pass` should

[2018-01-03 09:40] rajaramkd opened #34389 "API token based authentication support for jenkins_script module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
- jenkins_script

##### ANSIBLE VERSION

[code]

[2018-01-03 10:01] bookwar commented on #34360
@sivel I verified on my environment (python version = 2.7.14), works as expected, with just `localhost` as machine name. Thanks!

[2018-01-03 10:21] nitzmahone opened #34392 "win_firewall_rule module defaults prevents use of "leave existing""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_firewall_rule

##### ANSIBLE VERSION
2.5.0

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
Because many of the module args to win_firewall_rule specify defaults, it's not possible to mutate a value on an existing rule without specifying all properties- otherwise the existing values will be overwritten by the defaults. Rathe

[2018-01-03 10:30] gundalow commented on #32577
resolved_by_pr 32620

[2018-01-03 10:31] dbckz commented on #30246
+1 for this. This issue has been raised several times before (e.g. https://github.com/ansible/ansible/issues/5286) and has only been rejected as was deemed not backwards compatible.

A workaround at present is to construct a similar object in-play e.g.:

[code]

This is ugly, not particularly intuitive, and can be expensive if the server has a lot of interfaces (think hypervisor with tap interface

[2018-01-03 10:49] gundalow commented on #34165
Including clear steps to reproduce.

[2018-01-03 10:51] gundalow commented on #34134
resolved_by_pr 34213

[2018-01-03 10:52] #34134 closed, assigned to nobody

[2018-01-03 11:08] rvalle opened #34393 "Module Development Documentation: fast track process?"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

Module Development

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Linux

##### SUMMARY

As a newcomer module developing guide seems discouraging.

##### DESCRIPTION

Is it really required for Fork ansible itself in order to develop a simple module?
I wonder if I will end up messing my ansible environment, etc.
I managed to d

[2018-01-03 11:13] gundalow commented on #33898
resolved_by_pr 34293

[2018-01-03 11:49] jrosser commented on #32641
@trishnaguha for me it still fails in the same way sadly

``
fatal: [bs0-b505-9]: FAILED! => {
    "changed": false,
    "clierror": {},
    "code": "400",
    "input": "show tacacs-server directed-request",
    "invocation": {
        "module_args": {
            "deadtime": null,
            "directed_request": null,
            "encrypt_type": "7",
            "global_key": ".Bkc+CV9gk",

[2018-01-03 11:57] jrosser commented on #32641
Could i just double check which version you need me to test? I am now using 2.4.2.0 - just need to be clear about what you mean by "devel"

[2018-01-03 12:10] trishnaguha commented on #32641
This seems to be some issue with the nxos host, not with the module as the module works for 7K and 9K NX-OS we use.
by `devel` I meant the development branch on github.
[code]

[2018-01-03 12:12] trishnaguha commented on #32952
Closing the issue since the problem is with NXOS not with the module.

[2018-01-03 12:12] #32952 closed, assigned to nobody

[2018-01-03 12:30] olivergondza commented on #27094
I observe the username is being obscured using `jenkins_script` module. Version:

[code]

[2018-01-03 12:30] Akasurde commented on #34029
@pratikkava1189 Ansible uses YAML and this is basically YAML language restriction and not Ansible's.  So I think this issue is irrelevant. Let me know if you need any help on this.

needs_info

[2018-01-03 12:34] Akasurde commented on #33981
resolved_by_pr #33809

[2018-01-03 12:47] Skewled commented on #33919
@willthames thanks for the update, after running your test and seeing it function properly, I found there were 2 roles which were misleading. I updated the other role with the variable information and it fired off fine... how embarrassing. I thank you for your time and help while I tracked this down.

[2018-01-03 12:47] #33919 closed, assigned to nobody

[2018-01-03 12:51] pratikkava1189 commented on #34029
@Akasurde , Right i understand that, but do we need to add certain space for task defined? my playbook it didn't worked, but after adding one space(as highlighted above) before 'name' & 'yum' line, it started working fine.

I have faced many difficulties to debug error, but after then it came to know because of one space missing, it was giving error.

[2018-01-03 13:28] matanlb commented on #25429
Hey @OMKARdama12,
Personally I think it's a bad practice to run commands directly under a playbook, so I have little experience with that kind of syntax (which if I remember is a bit different).

If you are running the a role from you playbook, and in that same role running the command, then the you simply add the `no_log: true` in that block with the same indentation as the root command module na

[2018-01-03 14:05] mikewiebe commented on #32641
@jrosser What version of NXOS software are you running?

[2018-01-03 14:09] #34271 closed, assigned to maxamillion

[2018-01-03 14:09] jrosser commented on #32641
@trishnaguha How are you running your integration tests, against real hardware? I fired up a n9000v instance in a devnet lab and get exactly the same error.

[code]

Running the playbook:

[code]

NXAPI sandbox on the n9000v

<img width="764" alt="screen shot 2018-01-03 at 14 09 05" src="https://user-images.githubusercontent.com/890091/34523489-aa5e78ba-f08f-11e7-8112-24c5c062bc24.png">

Can anyon

[2018-01-03 14:11] jrosser commented on #32641
@mikewiebe it's 7.0(3)I7(1) on my 92160 and the same version on the devnet n9000v.

[2018-01-03 14:12] gundalow commented on #26140
Closing as we believe this is fixed. If this isn't the case please reopen this issue.

[2018-01-03 14:12] #26140 closed, assigned to nobody

[2018-01-03 14:22] gundalow commented on #34243
Just to ensure this isn't a Packer issue, does this work on a regular VyOS machine?

[2018-01-03 14:23] mikewiebe commented on #32641
@jrosser Strange.  I have the same version running on my N9k and it works for me.

[code]

[2018-01-03 14:23] jrosser commented on #32641
And heres with the devel version of ansible

[code]

[code]

[2018-01-03 14:25] gundalow commented on #34190
https://wiki.vyos.net/wiki/Remote_access shows how this can be done using `set system login user vyos authentication public-keys`

[2018-01-03 14:28] gundalow commented on #34190
Also watch out that this is sometimes `loadkey` vs `loadkeys` depending on the version of VyOS.

Most likely we will not change this in Ansible.

[2018-01-03 14:32] gundalow commented on #34125
Can you please follow the steps in https://docs.ansible.com/ansible/network_debug_troubleshooting.html#unable-to-open-shell"

[2018-01-03 14:33] gundalow commented on #34125
Can you please provide the full logs for your devel (2.5) run as well

needs_info

[2018-01-03 14:37] mattmonkey83 opened #34396 "DEFAULT_ROLES_PATH Value Changed in 2.4"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-galaxy
Config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 14.04

##### SUMMARY

After upgrading from Ansible 2.3 to 2.4 we noticed that roles installed via `ansible-galaxy install` would fail when we tried to use them.

We noticed that the roles which previously installed to `/etc/ansible/ro

[2018-01-03 14:42] sivel commented on #34259
Oops, I think I lost track after getting confused about your `None` delegation.  I believe we might have this fixed in another branch, and I need to go look for that.

[2018-01-03 14:49] sivel commented on #34384
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-01-03 14:49] #34384 closed, assigned to nobody

[2018-01-03 14:51] jrosser commented on #32641
@mikewiebe Very strange indeed. I think i've taken everything of mine out of the picture by starting a fresh devnet n9000v and only having the config you see in the diff above. Ignoring anything Ansible I can't even make that command work in the sandbox.....

The json-rpc output gives a slightly different message:

[code]

And thats consistent across the n9000v, my 92160 and a 9236. Sadly I don't

[2018-01-03 14:54] sivel commented on #34393
You can develop a module without having a fork of ansible, however should you wish to contribute that module back to ansible, you will need a fork, so that you can perform a GitHub pull request.

There is documentation about using a playbook relative `library` directory at http://docs.ansible.com/ansible/latest/playbooks_best_practices.html#bundling-ansible-modules-with-playbooks

If you have furt

[2018-01-03 14:54] #34393 closed, assigned to nobody

[2018-01-03 14:56] Akasurde commented on #31585
@mvrgotiks I see two problem here -

1. Using item directly in dest
2. with_items with quotes

You can rectify these -
[code]

Let me know if this works.

needs_info

[2018-01-03 14:57] sivel commented on #34029
@pratikkava1189 YAML is what space dependent and items must be properly nested in order to parse correctly.

Please see the documentation and examples at the following URLs for help:

http://docs.ansible.com/ansible/latest/YAMLSyntax.html
http://docs.ansible.com/ansible/latest/playbooks_intro.html#playbook-language-example

In your specific case, your playbook should be indented to look like the f

[2018-01-03 14:57] #34029 closed, assigned to nobody

[2018-01-03 15:52] #34360 closed, assigned to sivel

[2018-01-03 15:59] beli-sk commented on #15753
A workaround would be to use `{{ hostvars[inventory_hostname]['dictname'] }}`
instead of `{{ vars['dictname'] }}`.

But, then there's this... #6189 (the issue is closed, but the problem described there is still present)

[2018-01-03 16:05] mikewiebe commented on #32641
@jrosser I don't have access to your specific models but I also tried it on my n9000v and C9396PX and it works for me.

[code]

[code]

What do you get if you issue the following cli command on your device?

[code]

[2018-01-03 16:07] Akasurde commented on #30074
resolved_by_pr #34400

[2018-01-03 16:08] Akasurde commented on #29600
resolved_by_pr #34400

[2018-01-03 16:10] pschiffe opened #34401 "add return values and support querying in gce_img module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
gce_img

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
Add support for querying a state of an image in GCP within the `gce_img` module with return values. Sometimes it's important to know the state before uploading the image as the preparation of the image can b

[2018-01-03 16:12] jrosser commented on #32641
@mikewiebe Here you go....

[code]

[code]
[code]

[code]

[2018-01-03 16:30] pschiffe opened #34403 "new module for managing ssh keys"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ssh_key

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
Create a new module to manage user's ssh keys. I know that `user` module can create ssh key for a user, but this is not sufficient when multiple ssh keys need to be managed. The module should also support ss

[2018-01-03 16:47] gundalow commented on #31988
@ossark Just reviewing open issues, did you get a chance to test https://github.com/paramiko/paramiko/pull/1106 ?

[2018-01-03 16:59] pschiffe opened #34404 "new module for managing service accounts in Google Cloud"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
google

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
Create a new module to manage service accounts and their keys in the Google Cloud Platform. API:
https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts
https://cloud.google.com/iam/reference/

[2018-01-03 17:19] gundalow commented on #33414
@thepackbot Can you please follow the steps detailed in http://docs.ansible.com/ansible/devel/network_debug_troubleshooting.html#how-to-troubleshoot

[2018-01-03 17:20] mikewiebe commented on #32641
@jrosser It appears that nxapi is behaving correctly in this case.  Even though the cli command was accepted it did not show any information which likely means it is getting rejected for some (currently unknown) reason and nxapi is correctly reporting it as a cli execution error.  I assume that issuing the same command with out the `|  json-pretty` also shows no data?  Can you check your logs to s

[2018-01-03 17:21] pschiffe opened #34405 "new module for managing projects in Google Cloud"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
google

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
Create a new module to manage projects in the Google Cloud Platform with support to manage iam policy bindings. It should be possible to also add a new policy binding, not only to overwrite all. API:
https://

[2018-01-03 17:39] jrosser commented on #32641
@mikewiebe Yes it also shows no data without the `| json-pretty`.

I see nothing unusual in `show logging last 100`, nor in `/var/sysmgr_nxapi/logs/error.log` relating to tacacs, although there are many unrelated error messages in there of the form:

[code]

[2018-01-03 17:43] mscherer commented on #34272
That's still a behavior change that break existing playbook, and

[2018-01-03 17:47] kvaps commented on #4620
Hello, could you open this feature request?

I consider this issue is not solved yet.
Commands like that still not work (ansible 2.4.2.0)
[code]

regex pattern not solves this issue, because it only possible:
[code]
that too complicated, and hard for understandable

[2018-01-03 17:49] jrosser commented on #32641
@mikewiebe Finally getting somewhere..... look at this

[code]

[code]

So it seems having done a sufficient amount of tacacs+/aaa config it all goes wrong for that NXAPI/cli command.

[2018-01-03 17:50] mscherer commented on #34272
Looking at https://docs.ansible.com/ansible/devel/playbooks_reuse_roles.html this is not documented or anything. So pushing a change as a bugfix for a non documented behavior that result in breakage of users playbooks is not really great, I would at least expect the usual deprecation cycle if that's the way we want to go, and have something somewhere in CHANGELOG.

[2018-01-03 17:56] 3j0s commented on #17588
Greetings!

I've the configuration as follow:

ansible 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 3.6.2 (v3.6.2:5fd33b5926, Jul 16 2017, 20:11:06) [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]

And i get this error, which is the same as the problem above

- hosts: local
  become: yes
  pre_tasks:
    - shell: echo "Revo

[2018-01-03 18:12] 3j0s opened #34407 "stat.exists is not working"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default
##### OS / ENVIRONMENT

##### SUMMARY

It seem that the module **stat** is not working, i tried to downgrade my ansible from 2.3.2.0 till 2.1.1.0 and i get the same error.

##### STEPS TO REPRODUCE

ansible-playbook -i inventory/ check_user_exist.yaml -e vars/users.yml  -vvvvvv

[code

[2018-01-03 18:21] dhiratgithub commented on #32594
[root@ansiblecontrolnode ~]# ansible --version
ansible 2.4.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Aug  4 2017, 00:39:18) [GCC 4.8.5 2

[2018-01-03 18:25] dhiratgithub commented on #32594
It's not working even when IP address is passed as argument -

[root@ansiblecontrolnode ~]# ansible 192.168.1.101 -m ping
 [WARNING]: Could not match supplied host pattern, ignoring: all

 [WARNING]: provided hosts list is empty, only localhost is available

 [WARNING]: Could not match supplied host pattern, ignoring: 192.168.1.101

 [WARNING]: No hosts matched, nothing to do

Thanks,
Dhirendra

[2018-01-03 18:33] dhiratgithub commented on #32594
Pls ignore my previous updates.

It's working for me now.

I did following -
1. Generated ssh key and copied to remote host
2. Added both hostname and IP in host file
[root@ansiblecontrolnode ~]# grep -v "^#"  /etc/ansible/hosts | sed '/^$/d'
ansiblemanagednode.example.com
192.168.1.101

[root@ansiblecontrolnode ~]# ansible 192.168.1.101 -m ping
192.168.1.101 | SUCCESS => {
    "changed": false,

[2018-01-03 18:46] CraigBryan opened #34409 "Inventory file order affects group membership"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
inventory files

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes in configuration

##### OS / ENVIRONMENT
Running on OSX 10.11.6

##### SUMMARY
Adding a inventory group var block before the inventory group member block causes the group membership to be modified.

##### STEPS TO REPRODUCE
Run `ansible-inventory` against the following in

[2018-01-03 18:55] mikewiebe commented on #26371
@trishnaguha nxapi is enabled using `feature nxapi` on all platforms.  Configuration options are located under nxapi config mode.

[code]

[2018-01-03 19:00] RyanSammon commented on #33988
@sivel It looks like he is trying to alter what `all` means by specifying its children (only the `staging` group). Looking through the documentation, but not the code, my guess is `all` is implemented as a pattern, not a group, so what he is trying to do won't work.

[2018-01-03 19:02] nitzmahone commented on #34378
Not an Ansible issue- closing

[2018-01-03 19:02] #34378 closed, assigned to nobody

[2018-01-03 19:05] danielkza commented on #22025
This change breaks a pattern I've been using in many different cases. Roles have variables that are empty/null by default, and that are overriden using `set_facts` by tasks that determine current/automatic configuration. Not being able to override a role var is very limiting, and the old behavior is definitely preferable to me, and forces me to not upgrade to 2.4.

[2018-01-03 19:12] b3rgman opened #34411 "win_firewall not working and throwing error"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
 win_firewall

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed
##### OS / ENVIRONMENT

AWX server - CentOS Linux release 7.4.1708 (Core)

Managing Server 2012 R2

##### SUMMARY

receiving error when trying to disable Windows Firewall

TASK [disable firewall] ********************************************************14:02:22
29

[2018-01-03 19:13] nitzmahone commented on #34135
As @jborean93 alluded, the best solution is to use `win_get_url` on the Windows host to download the URL constructed from a call to `aws_s3` with `mode=geturl` (with `local_action` or `delegate_to: localhost`) - that will let you do all the AWS stuff from the controller where you have boto, credentials, and Python module support, but still directly download the content to the Windows host.

[2018-01-03 19:27] gundalow commented on #27094
@olivergondza Please raise a separate issue for that. Though if your Jenkins username is the same as your Jenkins password this is by design.

[2018-01-03 19:52] jmcgill298 commented on #34355
Using `verify` parameter in tmsh does not commit any changes to the device; it just checks that the syntax is valid.

[2018-01-03 19:54] pavelnemirovsky commented on #7475
+ 1

[2018-01-03 19:59] if-meaton commented on #34411
Hi

I’m sure I tested this in 2012r2. Can you give me the output of he following command from powershell?

Get-Command *-*firewall*

Thanks

[2018-01-03 20:03] termlen0 commented on #34355
Setting `verify` to False definitely works. As an FYI, any errors reported back by the LTM are not reflected in a module execution failure. For instance, if I use this module to create a node with an existing node's IP address, I do not get an error back. Instead it appears the change took effect.  The error can be seen in the the -vvvv output though.

[2018-01-03 20:05] if-meaton commented on #34411
Can’t edit previous comment but.. I’m guessing you don’t have the Windows Management Framework 5 or later installed. This adds some powershell cmdlets.

[2018-01-03 20:06] caphrim007 commented on #34355
we can change the default `verify` to false.

[2018-01-03 20:06] b3rgman commented on #34411
Hello,
Thank you for the reply.  Here is the result of your command.

PS C:\Windows\system32> Get-Command *-firewall
PS C:\Windows\system32>

This is the same for regular powershell and elevated powershell.

Josh Bergman
Global Application Engineer
Cloud Operations
Global Delivery
Information Process Organisation
APC by Schneider Electric

D  +1.401.363.7994
5 Digit  37994
M  +1.717.829.4063
F  +1

[2018-01-03 20:08] caphrim007 commented on #34355
The ability to percolate those errors back may be limited to what the rest api gives us in response to a bash-over-rest call. @termlen0 can you provide a sample config that replicates that error you mention? I will test it and see if it is possible to get the output.

[2018-01-03 20:08] b3rgman commented on #34411
I tried to install this with ansible and it failed. I then tried to install manually and it said it was not for my system.  I did use the 2012 r2 update.

Josh Bergman
Global Application Engineer
Cloud Operations
Global Delivery
Information Process Organisation
APC by Schneider Electric

D  +1.401.363.7994
5 Digit  37994
M  +1.717.829.4063
F  +1.717.944.8387
E  josh.bergman@schneider-electric.com<

[2018-01-03 20:17] sivel commented on #34407
This is due to using `register` and `with_items` together, as documented at http://docs.ansible.com/ansible/latest/playbooks_loops.html#using-register-with-a-loop

You will likely need to use `with_together` on the "Deleting authorization key" task using `users` and `hm`.

http://docs.ansible.com/ansible/latest/playbooks_loops.html#looping-over-parallel-sets-of-data

If you have further questions

[2018-01-03 20:17] #34407 closed, assigned to nobody

[2018-01-03 20:24] termlen0 commented on #34355
Steps to reproduce:
1. Create 2 nodes on the ltm, say test-node1(10.200.24.2) and test-node2 (10.200.24.3).
2. Use the following snippet as input for merge content:
[code]

3. Running this task in verbose mode will reveal the error :

[code]
Hope that helps!

[2018-01-03 20:25] jborean93 commented on #34411
These cmdlets have been available since Windows Server 2012 and newer, there is no PowerShell requirement as they come with PSv3 which is the earliest version for Server 2012.

It sounds like you have a broken install and the `NetSecurity` module that contains these cmdlets are unavailable. You can run `Get-Module -ListAvailable NetSecurity` and see if it returns a module, if it doesn't then sound

[2018-01-03 20:28] b3rgman commented on #34411
Hi.  This is the result.

PS C:\Windows\system32> Get-Module -ListAvailable NetSecurity

    Directory: C:\Windows\system32\WindowsPowerShell\v1.0\Modules

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest   2.0.0.0    NetSecurity                         {Get-DAPolicyChange, New-NetIPsecAut

[2018-01-03 20:29] jborean93 commented on #34411
Do you see the `Get-NetFirewallProfile` cmdlet when running `(Get-Module -ListAvailable NetSecurity).ExportedCommands`.

Try running this in Ansible to see if something is happening in the WinRM session

[code]

[2018-01-03 20:32] #34170 closed, assigned to nobody

[2018-01-03 20:36] caphrim007 commented on #34355
thanks @termlen0 having a look!

[2018-01-03 20:37] biomassives commented on #34355
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (111/100 (111%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2018-01-03 20:43] b3rgman commented on #34411
I only see the net security command.  But the Firewall command completes and shows results.

PS C:\Windows\system32> Get-NetFirewallProfile

Name                            : Domain
Enabled                         : True
DefaultInboundAction            : NotConfigured
DefaultOutboundAction           : NotConfigured
AllowInboundRules               : NotConfigured
AllowLocalFirewallRules         : N

[2018-01-03 20:44] biomassives commented on #34411
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (117/100 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2018-01-03 20:48] Bwoe opened #34418 "configure ansible-pull to log to system log"
##### ISSUE TYPE
 - Feature Idea
##### COMPONENT NAME
ansible-pull
##### SUMMARY
It would be helpful if ansible-pull could be configured to log directly to the system log (/var/log/syslog for example on Ubuntu), preferably with a few levels of verbosity.

Docs suggest "Usage of the ‘fetch’ module to retrieve logs from ansible-pull runs would be an excellent way to gather and analyze remote logs fr

[2018-01-03 20:49] biomassives commented on #34418
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (123/100 (123%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2018-01-03 21:06] kbreit commented on #19276
I am having this same problem. I set `vpc_destination_variable` to `private_ip_address` and ran with the `--refresh-cache` argument. My `regions` preference is set to all at this time.

[2018-01-03 21:16] sivel commented on #33484
I have confirmed that this is not specific to python3.  It happens on both python2 and python3.  In my tests I used the `profile_tasks` callback for verification.

[2018-01-03 21:45] hryamzik opened #34421 "ec2_group: boto profile gets overwritten by $AWS_DEFAULT_PROFILE"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS 10.13

##### SUMMARY

When both `AWS_DEFAULT_PROFILE` environment variable and `profile` option is specified for `ec2_group` environment one is used. It's different for `ec2` module and this behaviour is very counterintuitive.

##### STEPS TO

[2018-01-03 21:45] sivel commented on #33484
I've created a pull request at https://github.com/ansible/ansible/pull/34420 which should address this issue.

[2018-01-03 21:52] sxc731 commented on #16764
FWIW this issue seems to be still present in `ansible 2.3.2.0`.  Thanks to @xiongchiamiov for the workaround with `-i /dev/null`

[2018-01-03 21:52] jxn opened #34422 "ec2_eip support for 'name' parameter (and improved idempotency)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ec2_eip module

##### SUMMARY
Now that eip's can be named (inside vpc), we should enable assigning a name when creating them.

Longer-term, this name could be used in a lookup to improve it idempotency story for aws configuration.

##### STEPS TO REPRODUCE

Create a new EIP with name:
[code]

##### EXPECTED RESULTS
if in_vpc parameter is 'yes'

[2018-01-03 22:21] gundalow commented on #33414
@thepackbot could you please test in the `devel` branch

[2018-01-03 22:58] mkrish004c commented on #34154
Also, tried the below one on Ansible version 2.4.0.0

[code]

Actual result
[code]

the template disk is "preallocated" but it gives wrong error!

[2018-01-03 22:59] Everspace commented on #30038
This is still happening even as of commit  d877c146ab750c0f1505b4180e4170163d854fb5 , and also bizarrely if you remove the rude outbound rule within the console, you get an "ok" on rerun.

[code]

A run:

`changed: [127.0.0.1] =>`
[code]

Remove the rule in the web console and rerun...

`ok: [127.0.0.1] => `

[code]

[2018-01-03 23:03] sivel commented on #32301
I've created a pull request which should address this issue in a safe way with galaxy. Due to galaxy having no guarantees on version formatting, I think the solution in that PR is the best way to go.

[2018-01-03 23:14] willthames commented on #34421
This is likely a difference between boto and boto3's handling of AWS_DEFAULT_PROFILE (which I admit I'd never heard of) - ec2 still uses boto, and ec2_group uses boto3.

Looking at https://github.com/boto/boto/issues/3287, boto doesn't support AWS_DEFAULT_PROFILE which at least explains `ec2`'s behaviour.

Do the same results happen with AWS_PROFILE?

[2018-01-04 00:07] Everspace opened #34429 "ec2_group rules_egress has an All Access outbound additional rule added to new security groups"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_group

##### ANSIBLE VERSION

[code]

ec2_group from d877c146ab750c0f1505b4180e4170163d854fb5

##### CONFIGURATION

I'm using custom modules to import newer stuff before it's fully released.

##### OS / ENVIRONMENT

Ubuntu on WSL (Windows 10/Bash on windows)

##### SUMMARY

On the creation of new security groups, the "All out" outbound rul

[2018-01-04 00:17] PaulUTK commented on #27988
I just hit this problem as well while trying to implement a chroot install on a SLES test box using the same ansible package module task I use on my CentOS machine.

[2018-01-04 00:23] bcoca commented on #34418
just use a callback that logs to syslog, several are included with Ansible and an online search should show a few more.

[2018-01-04 00:34] mattclay opened #34431 "Add per-file pylint exceptions to ansible-test"
##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Add per-file pylint exceptions to ansible-test to allow enabling rules that are currently disabled without having to first resolve all existing issues.

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS

N/A

##### ACTUAL RESULT

[2018-01-04 00:54] willthames commented on #30038
This seems like expected behaviour according to the [`rules_egress` option documentation](http://docs.ansible.com/ansible/latest/ec2_group_module.html#options)

To set an empty rules_egress, you need to set it to `[]`.

[2018-01-04 00:54] #30038 closed, assigned to nobody

[2018-01-04 00:55] willthames commented on #34429
It is definitely different to #30038, which I've just closed as expected behaviour - this one is *not* expected behaviour!

Will need to create some tests and isolate cause - I can't see the problem from a quick look at the code.

[2018-01-04 01:13] dmbaturin commented on #34190
@gundalow Yes, loadkey is largely a shortcut for loading keys from files by human operators, which is largely irrelevant when the operation is automated. I'm not even sure if we are going to support it in post-1.x VyOS releases.

[2018-01-04 01:23] sangyunpark opened #34435 "After login, it stops if the selected shell exists."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

N/A
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed => No changes.

##### OS / ENVIRONMENT

Ubuntu 16.04.2 LTS

##### SUMMARY

After login, it stops if the selected shell exists.

1. I registered sh with bashrc.
2. If I use the ansible-playbook command, it stop working.(Not response)
3. It remains in the

[2018-01-04 01:42] nwsparks commented on #25466
This should be resolved in https://github.com/ansible/ansible/pull/33958

[2018-01-04 01:42] nwsparks commented on #25472
This should be resolved in https://github.com/ansible/ansible/pull/33958

[2018-01-04 01:44] nwsparks commented on #25473
I'll test tomorrow and see if the recent revisions to the module have fixed this.

[2018-01-04 02:07] willthames commented on #22571
Reopening this

Changing include_role to import_role works, but then tasks_from doesn't work:

[code]

This now appears to be a bug just with (the lack of) templating `tasks_from` - setting it to `tasks_from: debug` makes it work as expected.

[2018-01-04 02:17] willthames commented on #22881
I've reopened and updated #22571 to reflect the current status

[2018-01-04 02:42] fyyc1204 commented on #24884
I'm also hitting this issue

[2018-01-04 03:01] jborean93 commented on #24884
@fyyc1204 are there any similarities with the setup of the initial issue and your environment. We were never able to replicate this issue so we are not sure what the exact problem is. If you can give us the following information it would be really helpful

* OS Version
* PowerShell Version
* Is it in a domain environment or not
* The task you are running
* The full error message (run with `-vvv`)

[2018-01-04 03:11] sukhan85 commented on #34317
You are correct, it was to do with permissions. All resolved.

[2018-01-04 03:11] #34317 closed, assigned to nobody

[2018-01-04 03:26] fyyc1204 commented on #24884
OS Version ： windows server 2008
PowerShell Version :  5.0.10586.117
Is it in a domain environment or not : not
The task you are running :  ansible windows -m win_user -a "name=aa password=123"
The full error message (run with -vvv) when running the task : msg": "Exception calling \"ValidateCredentials\" with \"2\" argument(s): \"找不到网络路径。\r\n\""
Does it work on any other hosts : NO
What Ansible ve

[2018-01-04 03:44] Bwoe commented on #34418
Closing this issue because it's poorly defined. My use case is running AP via systemd service/timer, which logs stdout to journalctl instead of syslog, so ansible-pull is not the cause of or solution to the problem.

[2018-01-04 03:44] #34418 closed, assigned to nobody

[2018-01-04 03:50] arundeepkurni commented on #31879
i got fix for my problem, i followed clouds.yaml, thanks for your support.

my ansible task:
-------------------
- name: flavors creation
  ignore_errors: False
  register: stack_flavor_deployment
  environment:
    OS_CLIENT_CONFIG_FILE: /files/clouds.yaml"
  os_stack:
    name: "{{ stack_name }}_flavors"
    state: present
    cloud: "test"
    template: /heat_templates/flavor_stack.yaml"

cloud

[2018-01-04 04:09] jborean93 commented on #24884
Are you sure about the OS version, are you on Server 2008 R2 and not 2008 as 2008 only supports PowerShell 1-3 and not 5.

Are all the other hosts the same in their setup as this one, are you able to share any of the other information I asked for?

[2018-01-04 04:15] Miciah opened #34437 "get_url with force=yes recreates the destination file, even if it is special"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
get_url with `force=yes` recreates the destination file, even if it is special.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
get_url should retrieve the specified URL and write to `/dev/null`.

##### ACTUAL RESULTS
get_url rec

[2018-01-04 04:51] walidshaari commented on #33414
@thepackbot  what device you are trying to configure? os version, ..etc?  your debug output unlike mine goes a bit further after user is authenticated.

[2018-01-04 04:53] kcd83 commented on #27780
I can see how this feature needs to be idempotent. How does apt achieve this?
[code]
(in other words can a yum module do the same)

[2018-01-04 05:00] fyyc1204 commented on #24884
OS : 2008 R2
I test on OS version win10 , it is OK

[2018-01-04 06:07] fyyc1204 commented on #24884
在执行成功的主机上执行命令：
PS C:\Users\DELL> $pc.ValidateCredentials("aa", "111111")
False
在执行失败的主机上执行命令：
PS C:\Users\Administrator> $pc.ValidateCredentials("aa","1111111")
Exception calling "ValidateCredentials" with "2" argument(s): "找不到网络路径。
"
At line:1 char:1
+ $pc.ValidateCredentials("aa","1111111")
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [], MethodInvoca

[2018-01-04 06:30] reenlam commented on #34125
I've found a strange perhaps related bug: When I had installed Ansible by:
`sudo pip install git+https://github.com/ansible/ansible.git@devel`
and set the variable:
`export ANSIBLE_DEBUG=True`
my play failed. After changing its value to False, everything's going fine.
And again - changing its value to `True` causes errors.

But first things first.

## 1st case:
Ansible installed via apt on Ubuntu

[2018-01-04 06:38] jborean93 commented on #24884
That's good info to know, the fact that it doesn't run when doing it locally means it isn't some weird WinRM issue and narrows it down even more. Are there any entries in the Application, System, or Security event log that might indicate what is going wrong here?

[2018-01-04 06:39] rlueckl commented on #22881
Thank you!

[2018-01-04 07:12] camrossi commented on #33647
I have the same request, I need to configure just a vlan sub-interface with no IP on the parent and set MTU to 9000.

I can't find a way to do it, I tried with
`ip4: ''`
and I get this error:
    `"msg": "Error: Failed to modify connection 'ens192': ipv4.addresses: this property cannot be empty for 'method=manual'\n"`

[2018-01-04 07:19] Rocking80 commented on #34340
OK, I installed libselinux-python on remote server, and fixed the issue.

[2018-01-04 07:20] fyyc1204 commented on #24884
no

[2018-01-04 07:23] fyyc1204 commented on #24884
但是， 有这样一条错误很可疑
日志名称:          Application
来源:            Microsoft-Windows-PerfNet
日期:            2018/1/4 15:18:35
事件 ID:         2004
任务类别:          无
级别:            错误
关键字:           经典
用户:            暂缺
计算机:           DEVFORZKB.yfgt.com
描述:
无法打开服务器服务性能对象。数据段的第一个四字节 (DWORD) 包含状态代码。
事件 Xml:
<Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
  <System>
    <Provider Name="Micro

[2018-01-04 07:24] fyyc1204 commented on #24884
- <Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- <System>
  <Provider Name="Microsoft-Windows-PerfNet" Guid="{CAB2B8A5-49B9-4EEC-B1B0-FAC21DA05A3B}" EventSourceName="PerfNet" />
  <EventID Qualifiers="49152">2004</EventID>
  <Version>0</Version>
  <Level>2</Level>
  <Task>0</Task>
  <Opcode>0</Opcode>
  <Keywords>0x80000000000000</Keywords>
  <TimeCreated SystemTime="2018-

[2018-01-04 07:44] VAdamec commented on #5841
This doesn't work with ansible 2.4 version

[2018-01-04 07:54] gundalow commented on #34190
@dmbaturin thank you for the information.

Therefore I'm closing this as the correct way to set keys is:

https://wiki.vyos.net/wiki/Remote_access shows how this can be done using `set system login user vyos authentication public-keys`

[2018-01-04 07:54] #34190 closed, assigned to nobody

[2018-01-04 08:31] Akasurde commented on #33647
@camrossi Could you please provide the playbook details ?

[2018-01-04 09:25] camrossi commented on #33647
@Akasurde I deleted it all and start coding without nmcli as this is a show stopper for me.

But basically I was doing this:
[code]
I just want to set the MTU of ens192 and nothing else

Cam

[2018-01-04 09:41] hryamzik commented on #34421
Yep it does. And even this doesn't help:

[code]

[2018-01-04 09:43] #29948 closed, assigned to nobody

[2018-01-04 09:58] willthames commented on #34421
Cannot reproduce

[code]

[code]

[code]

works as expected.

I note you're on OS X which has some unexpected behaviours with regard to python.

Can you run your playbook under `-vvv` and verify which python your module is running under. It'll typically be /usr/bin/python if using `connection: local` on OS X.

Then just run
[code]

[2018-01-04 10:05] willthames opened #34444 "Can we warn about connection: local python?"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
connection: local

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
OS X brew python, virtual envs, etc.

##### SUMMARY
connection: local typically uses default python unless overridden in host_vars to use e.g. `ansible_playbook_python`

##### STEPS TO REPRODUCE
Use virtualenv, then use connection: local to run a modul

[2018-01-04 10:06] willthames commented on #34421
Potentially related to #34444 which I've just created.

[2018-01-04 10:11] hryamzik commented on #34421
Here you are:

[code]

[code]

[2018-01-04 10:13] zemmali commented on #9758
Use Ansible galaxy init to create a default 'common' role

ansible-galaxy init common --init-path=${PROJECT_PATH}/roles/

[2018-01-04 10:14] zemmali commented on #13031
**Use Ansible galaxy init to create a default 'common' role**

`ansible-galaxy init common --init-path=${PROJECT_PATH}/roles/`

[2018-01-04 10:22] dagwieers commented on #27899
@Akasurde I have no time to look at VMware-related stuff. With the upcoming Ansible deadlines and the long list of new ACI modules to be produced there's no room left. (I also don't have a dedicated environment to play with VMware ATM)

PS This was not my issue, it was migrated from ansible/ansible-modules-extras#3553 and originally created by @Alex5252 (no longer on Github ?)

[2018-01-04 10:22] dagwieers commented on #27899
Let's close this issue, since the original submitter has left the building.

[2018-01-04 10:22] #27899 closed, assigned to Akasurde

[2018-01-04 10:25] willthames commented on #34421
Does `/usr/bin/python -c 'import botocore; import boto3; print botocore.__version__; print boto3.__version__'` work?

I'm clutching at straws now, I'll have to see what I can do with my Mac to reproduce this :)

[2018-01-04 10:43] willthames commented on #34421
Without an `ansible_python_interpreter` set (either globally, or just for localhost), `connection: local` will run modules using /usr/bin/python (the question I asked about what python was being used was wrong, and it's actually more difficult to answer the question I should have asked).

See #18665 for a lot of discussion on this - the best workaround isn't available until 2.5 though. Basically y

[2018-01-04 10:49] mlechtermann commented on #33971
I can confirm this for Ansible 2.4.2.0 too, still works with version 2.3.2.0.

Expected:
[code]

Actual:
[code]

[2018-01-04 11:00] KKoukiou opened #34447 "nested include_role and import_role not passing variables correctly when outer role is in with_items loop"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### SUMMARY

When using nested include_role, import_role and include_role in this order in nested roles
variables are not passed correctly to inner most role.
Is it even a bug or import_role and include_role should not work nested together?

##### STEPS TO REPRODUCE
Steps to reproduce:

[code]
[code]
[code]
[cod

[2018-01-04 11:12] Akasurde commented on #33971
@mlechtermann Thanks for reporting expected output. I think this is fixed via https://github.com/ansible/ansible/pull/32669 in Ansible 2.5 version. Could you please try latest version and let me know if it works?

[2018-01-04 11:15] Akasurde commented on #32032
@ajithkt Any news on this ?

needs_info

[2018-01-04 11:23] mlechtermann commented on #33971
@Akasurde The latest version with #32669 works as expected.

[2018-01-04 11:31] rost-d opened #34449 "aci_bd: Need an option to specify a BD MAC address when dealing with BDs"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
aci_bd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

failed: [apic -> localhost] (item=BD2) => {
    "changed": false,
    "invocation": {
        "module_args": {
            "arp_flooding": true,
            "bd": "BD2",
            "l2_unknown_unicast": "flood",
            "mac": "00:22:BD:F8:1

[2018-01-04 11:36] PaulGallon commented on #29451
I'm running into the same problem while trying to correct a software update that shouldn't have happened. The version of docker-ce is pinned in the APT preferences so despite this saying `latest` it will install the pinned version which is older than the version on the system.

[code]
[code]

[2018-01-04 11:40] yitzikc opened #34450 "Copy action is silently ignored when given an unrecognized parameter"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Distro default

##### OS / ENVIRONMENT

Centos 7.4, running as a Proxmox PVE 4.4 container

##### SUMMARY

When running _copy_ with the parameter _recurse=yes_ The step failed siltently. The output indicated that the step ran successfully and made no changes, yet no files were ac

[2018-01-04 12:14] shajay12 commented on #32032
Request you people to give a proper Ansible script to create VM from vsphere template.

[2018-01-04 12:38] juan-vg opened #34454 "Allow shell args creates/removes to support lists"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

- Shell
- Maybe other similar modules like 'command'

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Sometimes when running a **single shell command** the output is **more than one** file/directory. There should be a way to check if all of them are present via the 'creates' option. I mean

[2018-01-04 12:39] snemir2 commented on #34371
is it possible to get an eta on this? the issue has been confirmed extensively.
from @wtome, to save a bit of time on rootcause...
I was able to reproduce your scenario to trace the errors. Unfortunately, it is not a matter of correctly identifying the path of the subnet. The project-id specified in the task is tied to the connection used to communicate with the API.

The libcloud library which us

[2018-01-04 12:42] #33711 closed, assigned to trishnaguha

[2018-01-04 12:43] hryamzik commented on #34421
Nope:

[code]

[2018-01-04 12:44] hryamzik commented on #34421
Actually my workaround was to unset the `AWS_DEFAULT_PROFILE` variable, it was a legacy one. Everything else just works (well, except the expect module but that could be fixed with `ansible_python_interpreter`).

[2018-01-04 12:49] devopsmariocom opened #34455 "simplify ansible-galaxy install command by role_file in config file"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ansible-galaxy install

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

`ansible.cfg` currently we can set `roles_path = roles` but we are unable to set `role_file = requirements.yml`, by having this this would simplify usage of ansible-galaxy to plain `ansible-galaxy install`

As a bonus both could

[2018-01-04 12:51] trishnaguha commented on #26371
@mikewiebe I meant to say enabling nxapi with `nxos_nxapi`. Based on the conversation https://github.com/ansible/ansible/pull/26142/files#r124560379 it looks like `nxos_nxapi` needs to be updated to work on all platforms. Will you be able to test this across all the platforms?
[code]

[2018-01-04 12:51] mbialozor commented on #30024
This affects Ansible 2.4 as well. Are there any plans to fix it?

[2018-01-04 12:53] olivergondza commented on #27094
@gundalow, my name and password are not the same - just as in case of the reporter. Also, I narrowed down the problem to [`fetch_url`](https://github.com/ansible/ansible/blob/f0dbbfae84ffb40bd99415dfb59ea1a7d6b6b80e/lib/ansible/modules/web_infrastructure/jenkins_script.py#L176) library function which leads me to believe this _is_ the same problem.

[2018-01-04 13:15] trishnaguha commented on #32635
@jrosser I have no clue why it failed for you. It works for me.

[2018-01-04 13:26] BondAnthony commented on #29753
resolved_by_pr 4469

[2018-01-04 13:34] 3j0s commented on #34407
Thx for yours suppport

[2018-01-04 13:34] pschiffe opened #34457 "new module for managing deployment manager in Google Cloud"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
google

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora release 27 (Twenty Seven)

##### SUMMARY
Create a new module to manage deployment manager in the Google Cloud Platform. API:
https://cloud.google.com/deployment-manager/docs/reference/latest/

[2018-01-04 13:41] Madhura-CSI opened #34458 "ec2_vpc_vgw_facts module throws an error when listing VPN Gateway which has no tags."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_vpc_vgw_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I have a virtual private gateway in my AWS account. This gateway has no tags. While collecting information about this, module invoca

[2018-01-04 13:49] bukaj-mh commented on #31699
hi, any update ?

[2018-01-04 13:52] pschiffe commented on #33177
@mkrizek any updates on this? Should I provide more info?

[2018-01-04 14:12] mikewiebe commented on #26371
@trishnaguha The sandbox is actually supported on both n9k and n7k but there is an additional command required to enable it on n7k.  For N9k the sandbox is available by simply issuing the `feature nxapi` command.  For n7k both `feature nxapi` and `nxapi sandbox` are required to use the sandbox.

The sandbox is not required for ansible support though.  Only if you need/want to play with the sandbox

[2018-01-04 14:25] hbenaouich commented on #31901
@trishnaguha I have figured out the tacacs issue was due to space in cisco configuration that needs to be taken into account. The idempotent issue is still there, if you have an interface vlan (parent interface) and down below this interface you have child configuration if you change configuration of an IP address for example, Ansible doesn't know the IP address belong to which parent. The issue i

[2018-01-04 14:29] IPvSean opened #34460 "scp and sftp support for large config transfer on os_config network modules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ios_config
nxos_config
iosxr_config
eos_config
junos_config
vyos_config

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
For devices that support the config replace option (`replace: config`) like this->

[code]
Sometimes the provided configuration are too large and devices will take a long time to

[2018-01-04 14:35] pschiffe commented on #34405
Support for project metadata would by also more than welcome, mainly for managing SSH keys. Currently it looks horrible when done with Ansible:
[code]

[2018-01-04 14:52] bcoca commented on #22881
actually those are unrelated, this was fixed specifically for `ansible_<interpreter>_interpreter` variables as they had special treatment.

import_role evaluates at compile time so you don't have the same variable scope available as for include_role, if you need 'dynamic' role includes, you cannot use import_role.

[2018-01-04 14:52] pschiffe commented on #29834
Target proxy and URL map are done now:
http://docs.ansible.com/ansible/latest/gcp_target_proxy_module.html
http://docs.ansible.com/ansible/latest/gcp_url_map_module.html

But module for SSL certificates is still missing.

[2018-01-04 14:55] bcoca commented on #22571
@willthames, this is still a dupe, so I'm going to close it again.

Also, import_X and include_X have different limitations and run at diffrent scopes, dynamic inclusion wont work for import_X, they can only rely on variables available at 'compile time' and must be the same for all hosts.

please read the explanations above on `include_role` and  `static:yes|no` and why we split into import vs inc

[2018-01-04 14:55] #22571 closed, assigned to bcoca

[2018-01-04 15:01] jrosser commented on #32635
@trishnaguha still fails for me

Start with NXAPI already enabled, all good

[code]

`no feature nxapi`

[code]

[2018-01-04 15:04] bcoca commented on #34444
i think better route is to actually document the caveats with `connection: local` #34462

[2018-01-04 15:05] jrosser commented on #32635
@trishnaguha In fact it doesn't appear that the command is even available to me?

[code]

[2018-01-04 15:24] jean-christophe-manciot opened #34463 "Unable to find string in a registered variable evaluated in a when conditional"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

conditional: when

##### ANSIBLE VERSION

Latest stable/unstable versions:
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.10 4.13
- target:
  + *IOS-XEv 16.5.1b**
- paramiko: 2.4.0

##### SUMMARY

The string is not found although it is present in the variable evaluated in a when conditional.

##### STEPS TO REPRODUCE

[2018-01-04 15:26] jean-christophe-manciot commented on #34463
As a side note: the **debug** module used to print hostvars[inventory_hostname] variables in a human-readable yaml-style way.

There must be a way to achieve that.

[2018-01-04 16:05] sivel commented on #34463
`stdout` is a list, not a string, so in order to do a substring search, you would need something along the lines of `when: "': Running' in yang_check.stdout[0]"`

Although that makes an assumption that `stdout` has only a single element.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/

[2018-01-04 16:05] #34463 closed, assigned to nobody

[2018-01-04 16:11] jean-christophe-manciot commented on #32155
On:
[code]
with:
[code]
the issue is solved:
[code]

[2018-01-04 16:11] #32155 closed, assigned to nobody

[2018-01-04 16:20] dagwieers commented on #25472
@nwsparks Thanks. Closing this issue.

[2018-01-04 16:20] #25472 closed, assigned to jborean93

[2018-01-04 16:22] #33657 closed, assigned to nobody

[2018-01-04 16:27] jean-christophe-manciot commented on #34463
@sivel
The issue is still there although the symptom has changed in a strange way:
- the variable is already 'true' although no previous task has ever set it before
- the following conditional is skipped although 'true' is tested
running:
[code]
leads to:
[code]

[2018-01-04 16:31] jean-christophe-manciot commented on #34463
If I change the value from 'true' to 'test', then the issue is gone: we can conclude that ansible is confused by the 'true' value.

Running:
[code]
leads to:
[code]

[2018-01-04 16:33] promaty commented on #32947
Please reopen the issue, `loop_control`'s `label` does not work with the `debug` task as indicated by the author.

I'm still experiencing the same issue in ansible 2.4.1.0

[2018-01-04 16:41] jean-christophe-manciot commented on #34463
Also, if I change:
```  when: stop_enabled == 'true'```
to
```  when: stop_enabled```, then ansible is not confused anymore.

[2018-01-04 16:45] #34139 closed, assigned to sivel

[2018-01-04 16:50] mscott83 opened #34464 "IIS win_feature fails with msg: "Failed to add feature""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_feature

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ansible control machine: Centos 7
Target machine: Windows Server 2012 R2

##### SUMMARY

Trying to run the following playbook:
[code]
I get the following result when the IIS Management Features are supposed to be installed:

[code]

Originally I had

[2018-01-04 16:52] bcoca commented on #34463
both can be wrong, what you really want to do to ensure correct interpretation is:

`when: stop_enabled|bool`

[2018-01-04 17:07] ElijahLynn commented on #24388
This issue has been solved/mitigated now by the fact we can specify multiple inventories in 2.4. We have a "shared" folder that we specify as the first inventory and then we specify a second inventory that gets loaded. Working nicely.

[2018-01-04 17:09] derekslenk opened #34465 ".MSI extension fails win_package"
https://github.com/ansible/ansible/blob/9dc9313c65ceafd4f840ccb67cbe50db42db47a8/lib/ansible/modules/windows/win_package.ps1#L176

Don't get hung up on the references to SQLDOM.MSI. Just the installer I had that downloaded with an all uppercase file extension.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_package
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ACCELERATE_CONNECT_

[2018-01-04 17:10] jean-christophe-manciot commented on #34463
Thanks @bcoca for chiming in.
However, the complete solution is:
[code]
otherwise the role fails when the string is not found in the variable & the set_fact is skipped.

Also, when the string is found, the debug ```"changed": false``` is incorrect:
[code]
We should see ```"changed": true``` instead.

Finally, could you comment on the hardly readable debug output ```hostvars[inventory_hostname]```

[2018-01-04 17:26] maxamillion commented on #33177
@pschiffe sorry for the lag time on this, I'm looking at it now

[2018-01-04 17:31] markgoddard opened #34467 "Support project parameter for os_security_group* modules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
os_security_group
os_security_group_rule

##### SUMMARY
Many OpenStack modules provide the ability to register a resource in a project other than the one being used to authenticate with, by adding a `project` parameter to the module. Examples include os_network, os_subnet, and os_router. The same should be done for the os_security_group and os

[2018-01-04 17:39] markgoddard commented on #34467
Related bug: https://github.com/ansible/ansible/issues/30292 and PR: https://github.com/ansible/ansible/pull/30295.

[2018-01-04 17:40] itdependsnetworks opened #34468 "ios_commands documentation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

doc does not show options for commands
In https://github.com/ansible/ansible/issues/27097#issuecomment-326356651
@rcarrillocruz makes reference to parameters inside commands, but documentation not showing on readthedocs.

##### STE

[2018-01-04 17:48] gundalow commented on #31699
@bukaj-mh Could you please test this again on the `devel` branch, a lot of changes have gone in since this bug was raised. Please include the updated logs as well.

[2018-01-04 17:52] tkinz27 commented on #23609
Just tried the 2.4.3 beta3 and got the same issue.

[2018-01-04 18:08] gravcat commented on #1476
I was able to use

[code]

If `something` has anything in it, that output will get registered. If registered, the `when` conditional will be False, and will not execute. If `something` were to not come back with anything, then the block's tasks would be executed.

A very crude example, and I'm sure many know how to do this already, but for those who don't!

[2018-01-04 18:23] maughanc commented on #33447
How do you remove mandatory?

[2018-01-04 18:43] lucastheisen opened #34470 "Windows become on action plugin copy/template does not use correct temp path"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

running from: `CentOS Linux release 7.4.1708 (Core)`
managing: `Windows Server 2016 Standard`

##### SUMMARY

I have a single administrative user `ansible` which does all of the privileged actions, and generate application users for each applicatio

[2018-01-04 18:55] IPvSean commented on #33774
is this not happening for 2.5?

[2018-01-04 19:57] jborean93 commented on #34465
Thanks @derekslenk for letting us know about this. I've raised a PR here https://github.com/ansible/ansible/pull/34476 and will backport to 2.4 when the tests are complete. Feel free to test it out if you can.

Otherwise to get you going today I would either
* rename the file to be `SQLDOM.msi`
* Set the executable to `C:\Windows\System32\msiexec.exe` and pass the file to the arguments

One thing

[2018-01-04 20:00] #34214 closed, assigned to nobody

[2018-01-04 20:52] jborean93 commented on #34464
Potentially the formatting of the list is causing the issue, the code of win_feature makes this hard to understand what is happening but it seems like it isn't getting any results from the install phase causing it to believe it failed to install anything.

Are you able to change it to and try again

[code]

[2018-01-04 21:11] #34465 closed, assigned to nobody

[2018-01-04 21:16] jborean93 commented on #33929
I don't think you will be able to do what you are looking for, this module is designed to create a mapped drive for a user and due to the security implementation of Windows it is per session. When using `win_mapped_drive` it will create a mapped drive so that a user can see the mapped drive when logging in but the session isolation that occurs with Windows means they are not visible within a WinRM

[2018-01-04 21:48] jborean93 commented on #23630
Fixed with https://github.com/ansible/ansible/pull/33958

[2018-01-04 21:48] #23630 closed, assigned to nitzmahone

[2018-01-04 21:54] fligi7 commented on #33929
That's rather unfortunate that you can't do anything with the drive you just mapped. It will definitely help to have that much clearer in the docs.

In the same vein, does Ansible provide any capability otherwise to utilize (read from/write to) a mapped drive through WinRM in any fashion?

[2018-01-04 22:00] #33929 closed, assigned to nobody

[2018-01-04 22:26] willthames commented on #34444
I disagree, as people don't necessarily understand the implications of `connection: local` until after hours of digging (often by me, as these issues always seem to crop up in AWS, because that's likely a common use case - and if they show up elsewhere, it's not me doing the digging). Even with better documentation (which I do support), people are still going to hit this as it's the kind of bug th

[2018-01-04 22:47] #33484 closed, assigned to sivel

[2018-01-04 22:49] maxamillion commented on #33177
@pschiffe this appears to be a side effect of a major overhaul refactor to how the inventory and vars are implemented, as such to fix it is going to be net-new code and I've added it to the Core Community irc meeting for next week for discussion. Feel free to join if you're interested, if you're unavailable the meeting minutes are posted after the fact.

[2018-01-04 22:55] willthames commented on #22571
Argh, you're quite right @bcoca. It's not a dupe, it's fixed (imho). I got include and import the wrong way around.

[code]

works perfectly.

[2018-01-04 23:07] willthames commented on #29798
ec2_ami_find is deprecated now - can you see if ec2_ami_facts works any better for you?

[2018-01-05 00:49] minusdavid commented on #16818
I'm encountering this issue as well.

I used to be able to use Ansible to control 2 Windows hosts, and now it's only working for 1 of them. The other one returns the same error as noted above.

Using Powershell, I'm looking at my Windows settings and it all looks good...

But since it's working for one host and not the other, I think it wouldn't be an Ansible issue? There must be something that ha

[2018-01-05 00:51] minusdavid commented on #16818
Ah I think I have a bad hostname on my HTTPS listener on Windows. Let's see...

[2018-01-05 00:54] minusdavid commented on #16818
Ah actually that shouldn't matter I think...

[2018-01-05 00:57] jmighion commented on #33414
Sorry, I've been on vacation and haven't had time help with this. I still believe this is a parsing issue for the stdout / terminal. The TerminalModule and Cliconf load. After that the next thing is to find the prompt. I believe the regex needs tweaking or needs more options to parse out what other's are seeing at their prompts.

I've added another regex from junos' terminal plugin that's a bit be

[2018-01-05 01:20] minusdavid commented on #16818
Tried a different SSL certificate and same error...

[2018-01-05 01:27] minusdavid commented on #16818
Ok using the examples at https://github.com/diyan/pywinrm, I'm able to receive the same error... which is to be expected.

One Windows server connects fine while the other one doesn't...

[2018-01-05 01:34] bcoca commented on #34340
@Rocking80 that is the requirement, the library is needed on the target server so Ansible can correctly handle the selinux contexts.

[2018-01-05 01:34] #34340 closed, assigned to nobody

[2018-01-05 01:48] Everspace opened #34482 "Occasionally simple playbooks barf out ignored exceptions with "TypeError: 'NoneType'" object is not callable""
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

I'm using docker as an environment host in Windows 10. My docker version is:

[code]

The Docker File I use to run the environment:

[code]

I then build and then start it up with something like:

`docker run -it --rm --mount type=bind,source=C:\git\m

[2018-01-05 02:19] Akasurde commented on #20819
@daBONDi Any news ?

needs_info

[2018-01-05 02:31] akarsht0812 opened #34483 "Failed to connect to the host via ssh:"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-01-05 02:33] #34483 closed, assigned to nobody

[2018-01-05 02:41] JoshuaSeidel opened #34484 "combine two variables into one"
how do i combine two vars to be used as one.

example

app_name = ui
ui_memory = 128

variable to use in playbook: {{ app_name + _memory }} ?????

how do i use a var or vars combined to make a var name?

[2018-01-05 02:44] akarsht0812 opened #34485 "Failed to connect to the host via ssh: shared connection to x.x.x.x. closed. \r\n", unreachable true"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

it did not produce anything and i didn't change anything in ansible config file
##### OS / ENVIRONMENT

os- centos
##### SUMMARY

I am trying to deploy a package using playbook, I am able to connect to the remote host using ssh and command "ansible all -i hosts -m ping"gives the output as suc

[2018-01-05 02:50] Akasurde commented on #34484
If you want output as ui128 then

[code]

[2018-01-05 02:50] Akasurde commented on #34484
Hi @JoshuaSeidel !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This al

[2018-01-05 02:50] #34484 closed, assigned to nobody

[2018-01-05 02:53] nitzmahone commented on #16818
Something else maybe to try: I've seen this error if SNI is enabled and you're connecting with an IP instead of a hostname (that matches the cert subject). There's a bug in urllib3 and/or pyopenssl where it blindly sends the IP address as the SNI hostname in the SSL handshake (which is in violation of the spec), and Microsoft's server implementation chooses to abort the connection when it happens

[2018-01-05 02:57] minusdavid commented on #16818
Ohhhh that sounds like it could very well be the problem

[2018-01-05 02:59] minusdavid commented on #16818
@nitzmahone You are a saint. That was the source of my problem.

[2018-01-05 03:02] nitzmahone commented on #16818
I also have a crusty patch for urllib3 as well at https://github.com/shazow/urllib3/pull/1287 - I keep meaning to go back to it and clean it up, because even if pyopenssl fixes this properly, the buggy implementations will be everywhere for a long time, so dealing with it inside urllib3 is probably safer.

[2018-01-05 04:27] trishnaguha commented on #32635
@jrosser this means `sandbox` is supported on your device. No issue with the module.
Which platform and image version of NXOS are you using?

[2018-01-05 04:33] #32676 closed, assigned to nobody

[2018-01-05 04:42] GriffithLea commented on #17108
@vikas-t, thanks for your comment - it quickly got to the crux of the problem - but then shouldn't open_url() handle the exception from urllib2 and return to the caller? I understand what you said, but it feels like there's more to say. I'd expect you to add either:

- Yeah, this is a bug (maybe this is implied since the issue is still open).
- open_url() is being used incorrectly, here is a point

[2018-01-05 05:00] k0xff opened #34487 "ios_config lines only applied against last parent in variable list"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 7.3 (Maipo)
Cisco WS-C3850-48U 3.6.6E

##### SUMMARY

When specifying list of parent interfaces, the commands are only applied to the last in the list.

From: http://docs.ansible.com/ansible/latest/ios_config_

[2018-01-05 05:13] iredmail opened #34488 "mysql_db module should use option `--defaults-file` instead of `--defaults-extra-file`"
##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

* module: `mysql_db`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None.

##### OS / ENVIRONMENT

macOS 10.13.2

##### SUMMARY

`mysql_db` module uses mysql command line option `--defaults-extra-file=` instead of `--defaults-file`, if file `~/.my.cnf` exists, but we use another `.my.cnf` file in `mysql_db` module with `state=import`, sql

[2018-01-05 05:20] iredmail commented on #34488
##### COMPONENT NAME

* module: `mysql_db`

[2018-01-05 05:47] trishnaguha commented on #32635
resolved_by_pr https://github.com/ansible/ansible/pull/34490

[2018-01-05 05:49] trishnaguha commented on #32635
@jrosser since sandbox is supported on NX-OS 7K, the PR will fail the module with meaningful error instead of `invalid command` if the parameter `sandbox` is used on other versions of NX-OS.
Our Integration test also runs only on NX-OS 7K https://github.com/ansible/ansible/blob/devel/test/integration/targets/nxos_nxapi/tests/cli/configure.yaml

[2018-01-05 05:54] trishnaguha commented on #26371
@mikewiebe Are you sure about 9K? because integration test suite only runs against platform version is 7K when `sandbox` parameter is used https://github.com/ansible/ansible/blob/devel/test/integration/targets/nxos_nxapi/tests/cli/configure.yaml.

[code]

[code]

[2018-01-05 06:06] Akasurde commented on #32869
resolved_by_pr #34491

[2018-01-05 06:17] Akasurde commented on #32868
@ntwrkguru I am not able to reproduce this. Could you please re-try with latest version and let us know if it works.

needs_info

[2018-01-05 06:58] daBONDi commented on #20819
We switched already to 2.4 branch and im quite afraid to test this on our production system.

We don't have a other vsphere cluster to test this issue again.

[2018-01-05 07:17] Akasurde commented on #29964
Closing this issue as this is no longer valid. If issue persists, please feel free to re-open.

[2018-01-05 07:17] #29964 closed, assigned to nobody

[2018-01-05 07:44] #31886 closed, assigned to trishnaguha

[2018-01-05 07:45] Akasurde commented on #29897
For posterity:

[code]

[2018-01-05 07:48] kustodian commented on #34409
As far as I can see this is fixed in `devel` and `stable-2.4`:
[code]
[code]
So I guess we just have to wait for 2.4.3 to come out.

[2018-01-05 07:51] Akasurde commented on #29897
resolved_by_pr #34492

[2018-01-05 08:02] IoTPlay commented on #33175
I have the same problem, and yes, I can pull my image on the host with `docker pull lroguet/rpi-nginx-proxy`

and here is the ansible error I have.

And, I did have docker_py on my Mac, like other related issues, I uninstalled docker_py, in fact, I uninstalled all python, and started again.

[2018-01-05 08:04] jhawkesworth commented on #27666
@marceloneil - I'm just going through old issues. is this still an issue for you?  If it was something specific to one of your machines, rather than ansible, please can you close this issue?

[2018-01-05 08:13] Akasurde commented on #31234
Closing this issue as PR https://github.com/ansible/ansible/pull/25376 is merged. If issue persists, please feel free to re-open.

@piontas @kris074 Could you please open new issue for

[2018-01-05 08:13] #31234 closed, assigned to nobody

[2018-01-05 09:25] tbouvet commented on #33447
@maughanc  I juste use
[code]
instead of
[code]

[2018-01-05 10:01] Akasurde commented on #29799
resolved_by_pr #34494

[2018-01-05 10:16] riccardomurri opened #34497 "`with_fileglob` always looks up files on localhost"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
`with_fileglob` core built-in looping feature.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Empty `ansible.cfg` file.

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Looping over existing files with `with_fileglob` always looks up
filesystem entries on the *controller* host where Ansible is running,
and not on the target host.

##### STEPS

[2018-01-05 10:44] Akasurde commented on #26035
@gregbkr any news?

[2018-01-05 10:49] baltazar1 opened #34499 "ios_command module replace URL with asterix"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME
ios_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_GATHERING(/mnt/d/git/ansible/test/ansible.cfg) = explicit
DEFAULT_HOST_LIST(/mnt/d/git/ansible/test/ansible.cfg) = [u'/mnt/d/git/ansible/test/hosts']
DEFAULT_JINJA2_EXTENSIONS(/mnt/d/git/ansible/test/ansible.cfg) = jinja2.ext.do
DEFAULT_LOG_PATH(/mnt/d/git/ansible/test/ansi

[2018-01-05 10:58] pilou- commented on #33580
I encounter this one while running `get_url` integration tests in local LXC containers:
- Debian Stretch: NOK
[code]
- OpenSuse 42.2: NOK
[code]
- CentOS 7: OK
- CentOS 6: NOK
[code]
- Trusty: NOK
[code]
- Xenial: NOK
[code]

[2018-01-05 10:58] Akasurde commented on #23324
@jmalette Any news on this ?

[2018-01-05 11:08] mscott83 commented on #34464
I tried doing as you suggested but it still fails with the same error.

I also tried separating out every item into its own task to try and isolate exactly which feature was failing, and it turns out it's any one of the five IIS 6 compatibility features:

[code]
All will trigger the failure, whether included as individual tasks, grouped together as one, or included with other components that work.

[2018-01-05 12:10] jn-bedag opened #34500 "win_iis_website always changed with parameter logExtFileFlags"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_iis_website.ps1

##### ANSIBLE VERSION
[code]

##### SUMMARY
The module win_iis_website is not working as expexted. If we set the logfile.logExtFileFlags with a parameter, the module is always reported as "changed".
Other parameters might be affected as well.

##### STEPS TO REPRODUCE
[code]
Module is always reported as "changed".
If we dele

[2018-01-05 12:10] jhawkesworth commented on #34464
@mscott83 - not tried this myself, but just wondering if adding
`    include_sub_features: True`
or perhaps more likely
`    include_management_tools: True`
to the module parameters might help?

[2018-01-05 12:12] mscott83 commented on #34464
Okay I found the answer. I don't think this is an Ansible bug, although the errors could be more helpful. The issue and the general solution are outlined here: https://forums.iis.net/p/1148581/1866381.aspx#1866381

The fix from an Ansible point of view is to install the 'working' IIS features, set some file permissions on the MachineKeys folder, then install the IIS 6 Compat components, like so:

[2018-01-05 12:47] coffee-driven opened #34502 "loop over items or variables dont work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Linux host 4.10.0-42-generic #46~16.04.1-Ubuntu SMP Mon Dec 4 15:57:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

now testing ansible configuration in vagrant/
Linux workstation 3.10.0-123.20.1.el7.x86_64 #1 SMP Thu Jan 29 18:05:33 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

i have

[2018-01-05 13:08] Akasurde commented on #34502
@gitm1993 identation of  `with_items` seems to be odd to me. Is it typo ?

[code]

[2018-01-05 13:11] pschiffe commented on #33177
@maxamillion thank you, that's great news. Can you please specify which day and time? I would like to join the meeting, but I don't know which one from the list - https://github.com/ansible/community/blob/master/meetings/README.md

[2018-01-05 13:14] gitm1993 commented on #34502
my fault. this is correct:

    - postgresql_user:
         db: "{{ item.db }}"
         name: "{{ item.name }}"
         password: secret
         priv: "{{ item.priv }}"
         with_items:
           - { name: test66, db: test44, priv: ALL }

[2018-01-05 13:51] gitm1993 commented on #34502
thank you. It is look i had some mistakes in syntax. this solution work nice.

- postgresql_user:
    db: "{{ item.db }}"
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    port: "{{ item.port }}"
  with_items:
    - {db: test33, name: test111, password: secret, port: 5432 }
    - {db: test33, name: test222, password: secret, port: 5432 }

- postgresql_privs:
    role: "{{ item.na

[2018-01-05 14:09] xiaodong-xie commented on #32914
We worked around this issue by adding this line (first line of the file) to Ansible host file:

[code]

[2018-01-05 14:18] maxamillion commented on #33177
@pschiffe Core Team Meeting, next Tues at 19:00 UTC

[2018-01-05 14:24] jmcgill298 commented on #33414
@thepackbot I would:
  1. Create a new virtual environment
  2. Use `git clone https://github.com/jmighion/ansible.git -b aruba_prompt_test`
  3. Use `pip install ansible/`

[2018-01-05 14:25] Akasurde commented on #34502
@gitm1993 Cool. Thanks. Closing this issue.

[2018-01-05 14:25] #34502 closed, assigned to nobody

[2018-01-05 14:52] jn-bedag commented on #8603
+1

[2018-01-05 15:07] bcoca commented on #34409
closing as dupe of #33584, which has been fixed and will be in next releases

[2018-01-05 15:07] #34409 closed, assigned to nobody

[2018-01-05 15:14] kustodian opened #34505 "include tasks in handlers fails if there are more handlers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include

##### ANSIBLE VERSION
2.4.2 and devel
[code]

##### SUMMARY
If we create a handler which uses the `include` directive and before it there is an a handler defined, the `include` handler doesn't work - Ansible cannot find it.

##### STEPS TO REPRODUCE
If we have a simple role `foo` and a playbook which runs this role:
[code]
[code]
[code]

[2018-01-05 15:16] kustodian commented on #34505
One interesting thing is that if you use a `import_tasks`/`static: yes` you can use this:
[code]
but if you use a dynamic include you have to add `handlers/`
[code]
Which feels like a different bug.

[2018-01-05 15:18] sblaisot commented on #25027
This is not what have been stated back in 2015 in #13161

[2018-01-05 15:32] jctanner commented on #34409
duplicate_of https://github.com/ansible/ansible/issues/33584
resolved_by_pr https://github.com/ansible/ansible/pull/33781

[2018-01-05 15:33] gitm1993 commented on #34502
one more question, how can i move items to another file? i tried make file /vars/main.yml with values, but it doesnt work as i expected.
role/name/vars/main.yml
    users:
     - { name: user144, username: test144, db: test33, password: secret, priv: ALL }

role/name/tasks/main.yml

    - postgresql_user:
       db: "{{ item.db }}"
       name: "{{ item.username }}"
       password: "{{ item.passw

[2018-01-05 15:35] vemuriv opened #34506 "cannot access drive mapped using win_mapped_drive inside a playbook"
##### ISSUE TYPE
 - Bug Report
 * used win_mapped_drive to map a network drive on windows 2012 R2
* Tried to use that drive in another task in the same playbook; but was not able to
##### COMPONENT NAME
win_mapped_drive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### SUMMARY
* used win_mapped_drive to map a network drive on windows 2012 R2
* Tried to use that drive in another task in the

[2018-01-05 15:39] coffee-driven opened #34507 "fill items from file."
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### SUMMARY
Hello,

i want to fill items from file. example below work nice,  but if i tried  items fill from separate file, then it doesnt work.

- postgresql_user:
    db: "{{ item.db }}"
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    port: "{{ item.port }}"
  with_items:
    - {db: test33, name: test111, passwo

[2018-01-05 15:43] Akasurde commented on #34507
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2018-01-05 15:43] #34507 closed, assigned to nobody

[2018-01-05 15:46] vemuriv commented on #34506
not sure I understand the above replies

[2018-01-05 15:47] jctanner commented on #34485
please run ansible-playbook with `-vvvv` and past the results here.

needs_info

[2018-01-05 15:57] memo42 commented on #32196
Hey, just discovered that my git update didn't work without me noticing.
So I tested with an older version.
Very sorry for wasting your time.
The fix works great here ;)

[2018-01-05 15:58] v1k0d3n commented on #33259
i'm making heavy use of `hostvars[host][var]` in version 2.4.2.0, and i've noticed the same slowness as described by the OP. i've been a bit lax at chasing it down, as it could be a couple factors at least in my playbooks. i'm also using a dynamic inventory (which won't help), and the current project i'm working on is still very new (it's a very nascent set of playbooks atm). but catching this iss

[2018-01-05 16:02] sivel commented on #34497
This is the expected behavior.  `with_fileglob` is a `lookup` and as documented at http://docs.ansible.com/ansible/latest/playbooks_lookups.html

To iterate a list of files on a remote node, use the `find` module, register the results, and then loop over them with `with_items` or similar.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2018-01-05 16:02] #34497 closed, assigned to nobody

[2018-01-05 16:05] sivel commented on #17108
`open_url` does not handle the exceptions, it is up to the caller to handle the exception.  In your `onapp_vs.py` module, you will need to wrap the `open_url` call in a `try/except` block.

Should you want automatic exception handling, please utilize `fetch_url` instead of `open_url`

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2018-01-05 16:05] #17108 closed, assigned to nobody

[2018-01-05 16:12] riccardomurri commented on #34497
This information is however, nowhere to be found on the ["loops" page](http://docs.ansible.com/ansible/latest/playbooks_loops.html#id4).  Everything that is stated about `with_fileglob` is:

(plus a warning about relative paths with roles).

I still think there should be a warning/note.

[2018-01-05 16:21] danielmotaleite commented on #13243
Just to be better documented for those using google, as there is no direct reference to ansible.cfg:

Add this to your ansible.cfg to support multiple vault-token files:

    # for ansible >= 2.4, comment any vault_password_file and use the line below,
    # ansible-vault will try all the tokens in that order
    vault_identity_list=~/.vault-token.staging,~/.vault-token.live

Sadly `$HOME/` fails,

[2018-01-05 16:23] jhawkesworth commented on #34464
Nice one.  Since this isn't an ansible bug lets close this issue.

[2018-01-05 16:23] #34464 closed, assigned to nobody

[2018-01-05 16:38] bcoca commented on #24629
fixed via db749de5b87f0bb6c7f03e633505c7a4d313bb7f

[2018-01-05 16:38] #24629 closed, assigned to nobody

[2018-01-05 17:05] fthommen commented on #16305
An other concrete use case: When storing backups of ifcfg-* files, these are still evaluated when the network service starts, which easily completely screws up your network setup.

I like @4001982248998's idea best with a central backup directory which mirrors the filesystem

[2018-01-05 17:18] GriffithLea commented on #17108
BTW, the example at the top of the fetch_url() def says:
[code]
Shouldn't that be response.read() ?

[2018-01-05 17:24] dnowell commented on #29798
Thanks for the update.  The standard Ansible documentation doesn't say it's deprecated, but I found the devel documentation that says it.
Unfortunately, I'm running RHEL 7, which uses Ansible 2.4.  ec2_ami_facts isn't available until Ansible 2.5.  I can work around by adding a task that checks the results of ec2_ami_find:

  - name: Fail if we do not have the private AMI from Red Hat
    fail:

[2018-01-05 17:27] IPvSean commented on #33711
@trishnaguha works!

[code]

[2018-01-05 17:32] jmighion commented on #33414
Hmm the 3rd regex should've gotten that :
[code]
https://regex101.com/r/aS9b8C/1

Without knowing what's truly coming through the socket, it's hard to say what it's timing out on. When I dev on this I add extra logging to network_cli, which has helped for odd logins or hanging prompts.
[code]
Putting that after https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/network_cl

[2018-01-05 18:26] Routhinator opened #34511 "Ansible conditionals cannot handle decimals requiring overly complex workarounds"
Took me a bit to figure this one out, not sure if this is Jinja or Ansible.

I've recently gone through the pain of trying to write a cookbook to conditionally install VMWare tools or open VM tools based on the `ansible_distribution_version` and found it wasn't possible. Ansible cannot tell the difference between 6.2, 6.8 or 6.9 in conditional comparisons.

These do not work:
[code]

These do work

[2018-01-05 18:36] #34511 closed, assigned to nobody

[2018-01-05 18:52] jpsenior commented on #23479
The problem here is the error message `No package 'libffi' found` -- Fixable with `apt install libffi-dev` on linux, `brew install libffi` on OSX.

[2018-01-05 19:10] Routhinator commented on #34511
I was searching and searching for something like this and nothing came up. Can you please link the relevant documentation for this before closing @sivel ? Otherwise, this should remain open as a documentation issue.

[2018-01-05 19:17] Routhinator commented on #34511
Most notably that test should be documented here: http://docs.ansible.com/ansible/latest/playbooks_conditionals.html

There is no mention of it. This needs to be reopened as a documentation issue.

[2018-01-05 19:19] jborean93 commented on #33929
No it does not, as I said mapped drives are isolated per session and Windows will not allow access to them in an WinRM session by design. The best bet is to use a UNC path and either use become or an auth method that delegates your credential to the network path.

[2018-01-05 19:20] jborean93 commented on #34506
This is not possible and the module is not designed to do that, see https://github.com/ansible/ansible/issues/33929#issuecomment-355641601.

There has been a recent change to the docs which should be live sometime shortly to clarify this.

[2018-01-05 19:20] #34506 closed, assigned to nobody

[2018-01-05 19:24] #32723 closed, assigned to samdoran

[2018-01-05 19:34] sivel commented on #34511
The conditionals page make mention that the conditionals are powered by jinja2.  That section links you to http://docs.ansible.com/ansible/latest/playbooks_variables.html in the context of the templating language. On that docs page, under "Using Variables: About Jinja2", there is a link to read more about Jinja templating, that leads you to http://docs.ansible.com/ansible/latest/playbooks_templati

[2018-01-05 19:40] vemuriv commented on #34506
Hmnn.. Thanks .. any other way to access drive like this ? I know you indicated the below in the other thread ... I am not sure what that means ... a bit more detail would really help

 "The best bet is to use a UNC path and either use become or an auth method that delegates your credential to the network path."

[2018-01-05 20:04] akarsht0812 commented on #34485
The issue got fixed, it's with the space left on the vm to unpack the tar. Thanks for the help

[2018-01-05 20:04] #34485 closed, assigned to nobody

[2018-01-05 20:07] jborean93 commented on #34506
So if you are trying to access a network path you would use the full network path, e.g. \\server\share\... Unfortunately when using Basic, NTLM or Kerberos without credential delegation or the host is password protected with a different user account this makes things quite difficult. If it is a matter or authenticating with the same user account that is running as the process you could either use

[2018-01-05 20:50] bcoca commented on #34187
includes cannot be delegated, nor do they return facts, so both keywords are a noop here.

[2018-01-05 21:05] sivel commented on #34482
This is a duplicate of https://github.com/ansible/ansible/issues/21982

The cause is a bug in some older python 3.5 and 3.6 releases.  See https://bugs.python.org/issue29519 for more information.  I believe this is fixed as of 3.5.4 and 3.6.1

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/f

[2018-01-05 21:05] #34482 closed, assigned to nobody

[2018-01-05 21:13] fligi7 commented on #33929
I'm already specifying a UNC path as you can see if my post. How would I use it differently?

Currently, I'm connecting to the remote machine via the following at the beginning of my playbook:

`- hosts: "{{ Target }}"
  gather_facts: True
  remote_user: USER1`

To clarify, you are suggesting that I instead use the following which should fix this issue?

`- hosts: "{{ Target }}"
  gather_facts: Tr

[2018-01-05 21:34] sivel opened #34517 "F5 modules traceback instead of fail gracefully when missing F5 SDK"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
f5

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY
All F5 modules use a pattern similar to the following:

[code]

When running the module, without having the `f5-sdk` installed, this causes a traceback, and ansible renders it as such.

In addition to not failing gracefully, this also prevents

[2018-01-05 21:55] sivel commented on #34517
!component lib/ansible/modules/network/f5/
!component lib/ansible/modules/network/f5/bigip_config.py

[2018-01-05 22:01] robguttman commented on #16305
I thought Chef handled backups well - they maintained them is some separate chef location, allowed you to configure the maximum number of backups to keep per template/resource, and displayed the backup file absolute path in each chef-client run where a new one was created.

[2018-01-05 22:15] caphrim007 commented on #34517
@sivel you're just talking about using the module in playbooks, right? not tests in this repo. or am I wrong?

[2018-01-05 22:24] nhojpatrick opened #34522 "Installing mysql-server via apt module or shell module fails."
Can't find another issue which looks like the same issue, but not 100% sure what the exact issue is. It appears the ansible is not processing apt install correctly, or apt is failing with unhelpful message, or debconf secrets are not being processed correctly.

That I'm trying did work +12 months ago, but not sure what version of ansible introduced the issue.

##### ISSUE TYPE
 - Bug Report

#####

[2018-01-05 22:38] caphrim007 commented on #34517
ahh, i read the other issue you mentioned and I see the problem. I was aware that this was "bad", but it wasn't high on my todo list because nobody was raising an issue about it.

Can i fix it in the 2.6 timeframe? It will require some re-writing of module_utils, and I planned on doing this in 2.6 anyways to accommodate the new directory structure for other network modules.

[2018-01-05 22:45] Dantemss commented on #21773
I have also noticed severe slowness when notifying handlers (running ansible 2.4.2.0). For example, we have 15 or so tasks like this in our playbook:

[code]

We run these tasks after a deployment goes wrong (server OOMs for example) to fix the server state, since in that case the handlers did not run and service configuration may have been modified without the services being restarted. However, e

[2018-01-05 22:58] #34147 closed, assigned to nobody

[2018-01-05 23:02] stefanha opened #34523 "unarchive fails with "Timeout 12s waiting for privilege escalation prompt" when become=True and ssh_transfer_method='piped'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
"ansible-config dump --only-changed" produces no output.  Default configuration.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The unarchive module times out while copying a local file to the remote destination when become=True and ssh_transfer_method='piped'.  The timeout comes from lib/ansibl

[2018-01-05 23:03] Dantemss commented on #21773
Something else I remembered... when we had even more complex role dependencies before, ALL tasks started taking an extra 3-4 seconds to run. Debug mode showed the time being spent in calls to `get_vars()` like posted above by @marlox-ouda (though less calls than that). Eventually we got rid of a bunch of roles and simplified the dependencies, causing the time spent in `get_vars()` to be not as bad

[2018-01-05 23:07] stefanha commented on #34523
@agaffney maybe you are most familiar with this code?

[2018-01-05 23:11] agaffney commented on #34523
I wrote the code for `piped`, but the become issue is a different issue all together.

[2018-01-05 23:12] chuckyz commented on #34522
What are you getting when setting verbosity to -vvvv for the failing builds?

You can use https://www.vagrantup.com/docs/provisioning/ansible_common.html#verbose to set verbosity for the Ansible builder.

[2018-01-05 23:14] lassizci commented on #33259
nothing seems to have changed there

[2018-01-05 23:33] nathanwebsterdotme commented on #26592
I've refactored the role for BOTO3 support with FIFO queue and Tags.  PR is here: https://github.com/ansible/ansible/pull/34526

[2018-01-06 00:17] jondoig opened #34528 "Broken link from XML module doco page to w3schools"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

XML

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Broken link from XML module doco page to w3schools

##### STEPS TO REPRODUCE

On the XML doco page, under **Synopsis** heading, click the link text ` http://www.w3schools.com/xpath/`

[code]

##### EXPECTED RESULTS

Go to [XPath Tutorial p

[2018-01-06 00:45] lynnf87 opened #34529 "ansible api python 2.7.11 +django.1.9.6+ ansible 2.3.0"
[code]

[2018-01-06 00:58] lynnf87 commented on #34529
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
worker

##### ANSIBLE VERSION
ansible 2.3.0

[2018-01-06 02:51] #23609 closed, assigned to nobody

[2018-01-06 03:39] kuttumiah commented on #30518
Facing same issue with **Fedora Server 27** on VirtualBox with ansible 2.4.2.0

[2018-01-06 04:25] vemuriv commented on #34506
I am using CredSSP and authenticating as same user. I tried \\sharename\folder\file directly .. i ended up with the same error ...

[2018-01-06 05:21] Akasurde commented on #34528
@jondoig Thanks for reporting this issue. Would you like to raise a PR against this ?

[2018-01-06 05:27] #27666 closed, assigned to nobody

[2018-01-06 05:27] marceloneil commented on #27666
Yeah sorry about that

[2018-01-06 06:32] eubnara commented on #32247
same here!

- some.yml
[code]

- expected result:
[code]

- actual result:
[code]

[2018-01-06 07:54] stefanha commented on #34523
@agaffney The other ssh transfer methods do not use self.exec_command() and therefore don't hit this problem.  This issue is specific to the 'piped' code.

Can the 'piped' method call Playcontext.make_become_cmd() to build a complete ssh command-line including the become prefix?

[2018-01-06 08:02] ssuchter commented on #31673
I've been hit by this same issue. It rendered our main playbook inoperable. (vs running on Ansible 2.1, in which it ran fine). We run this playbook on an admin host that has 4G of RAM, and normally, we're never even vaguely close to any limits, and now the process fails with OOM.

I think it's because we have a lot of tasks that are included in loops. We need them because we set up hundreds of ser

[2018-01-06 08:07] ssuchter commented on #27024
This seems likely to be the same issue as #31673

[2018-01-06 08:07] ssuchter commented on #32537
This seems likely to be the same issue as #31673

[2018-01-06 08:07] ssuchter commented on #32854
This seems likely to be the same issue as #31673

[2018-01-06 08:08] ssuchter commented on #33183
This seems likely to be the same issue as #31673

[2018-01-06 08:24] progz opened #34536 "Feature Idea: Add support for multiple SSL in AWS ALB"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
elb_application_lb

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Since 10 october 2017, Application Load Balancer on AWS support multiple certificates SSL, so it would be awesome if Ansible can manage this.
Official announce : https://aws.amazon.com/blogs/aws/new-application-load-balancer-sni/

#####

[2018-01-06 11:35] Akasurde commented on #34195
@nikitakazantsev12 There is already open PR #21421 Would you be interested in testing that ?

needs_info

[2018-01-06 12:03] coffee-driven opened #34540 "YAML with colon and equal sign"
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
iam trying to solve problem with variables filled from files in form of items.
I want to start from beginning with items, but even example doesnt work for me, so iam quite in "circle" and iam not able to solve my problem. Thank you for help.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2018-01-06 13:52] Akasurde commented on #34540
@gitm1993 Thanks for reporting this issue. I can reproduce this. You can workaround this as

[code]

which will give you something

[code]

[2018-01-06 14:06] Akasurde commented on #34540
[code]

[2018-01-06 14:15] Akasurde commented on #34540
@gitm1993 I think this is already documented, that you need to quote colon. You can read about the [gotchas](http://docs.ansible.com/ansible/latest/YAMLSyntax.html#gotchas).

[2018-01-06 14:16] gitm1993 commented on #34540
thank you, this one work. Can you help little bit more?

what is the problem with this example?

    - debug: msg="An item {{':'}} {{ item }}"
      with_items: "{{ numbers }}"

role/name/default/main.yml

    numbers:
     - 1
     - 2
     - 3

fatal: [default]: FAILED! => {"msg": "'numbers' is undefined"}

[2018-01-06 14:30] gitm1993 commented on #34540
@Akasurde  iam not suer i understand. I read this article. Which colon i did not quote?

[2018-01-06 14:36] agaffney commented on #34523
Feel free to try it out and submit a PR

[2018-01-06 14:40] Akasurde commented on #34540
You can read variable like this

main.yml

[code]

vars.yml

[code]

Output:
[code]

[2018-01-06 14:50] gitm1993 commented on #34540
@Akasurde  thank you for help. I already tried this out, but it did not work for me. Anyway can you tell me what is the difference between your and my example? Only one differnce is see is the dash (- numbers:). and of course i did not specified vars file. But by the documentation i dont need to specify vars file.Variables should be fill from /default/main.yml or /vars/main.yml.

I really want to

[2018-01-06 15:19] gitm1993 commented on #34540
i solved, thank you very much.

[2018-01-06 15:20] #34540 closed, assigned to nobody

[2018-01-06 15:44] stefanha commented on #34523
I justed wanted to report the bug and will not be able to submit a fix for this issue myself.

[2018-01-06 15:48] Akasurde commented on #32791
@infrascripting Thanks for reporting this issue.

yum module depends upon `yum` command and its return code. In above scenario, `yum` command returns 0 as `posttrans` script failure is non-fatal and considered as warning, so yum module returns 0.

I am not sure how to handle this kind of scenario.  Any ideas or suggestions, much appreciated.

[2018-01-06 15:58] itdependsnetworks commented on #34499
Ansible will replace anything in your password with ****
So if your password was `cisco` and the url was `http://www.cisco.com/techsupport`, you would get `http://www.********.com/techsupport`

I presume this one could be closed.

[2018-01-06 16:19] Akasurde commented on #19340
@jainnikhil30 Could you please re-try with latest version of Ansible and let us know if it works for you ?

needs_info

[2018-01-06 16:40] pari- commented on #34321
Hi,

thanks for your report, unfortunately, I am not capable of reproducing this:

[code]

[code]

.. While not being familiar with Tower, I just found something in the docs that *might* help you:

`The auth token is only valid when used from the same remote address and user agent that originally obtained it.` *[1]*

Therefor: if the Token was generated with curl, you'll either have to get one via

[2018-01-06 18:56] pari- commented on #34156
@goldencut `host_vars/` and `group_vars/` are supposed to contain consumable YAML and no place to store (vault encrypted) files.

[2018-01-06 19:12] dhiratgithub commented on #33321
[student@ansiblecontrolnode dep-manage]$ ansible www.example.com -m command -a 'id' -u devops  -vvv
ansible 2.4.1.0
  config file = /home/student/dep-manage/ansible.cfg
  configured module search path = [u'/home/student/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible

[2018-01-06 19:16] dhiratgithub commented on #33321
I tried copying ssh key -

[student@ansiblecontrolnode dep-manage]$ ssh-copy-id devops@ansiblemanagednode

But same issue is reported.

[student@ansiblecontrolnode dep-manage]$ ansible www.example.com -m command -a 'id' -u devops  -vvv                                                                                              ansible 2.4.1.0
  config file = /home/student/dep-manage/ansible.cfg

[2018-01-07 00:17] j-d opened #34545 "In vault, when vim is not installed, the error message is unclear"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vault

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
If you don't have `vim` installed, the error message you get is not user friendly at all:
[code]
It took me a while to understand what it meant.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
A friendly error message or for vim to have been listed a

[2018-01-07 01:10] coaxial opened #34546 "nmcli: fails with a PyGI warning on Ubuntu 17.10"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nmcli

##### ANSIBLE VERSION

[code]

Also tested with `devel`:
[code]

And with 2.4.3.0-beta3
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running on Ubuntu 17.10 to control an ubuntu 17.10 host

##### SUMMARY

The nmcli module fails when run on Ubuntu 17.10 even if it has all the required dependencies installed (network-manag

[2018-01-07 03:31] Akasurde commented on #34545
@j-d Thanks for reporting this issue. There is already one issue opened #34295. Closing this issue.

[2018-01-07 03:31] #34545 closed, assigned to nobody

[2018-01-07 04:16] clementtrebuchet commented on #34529
Did you tryied raising the open file limit of the OS: ulimit -n 2048 or whatever you need  ?

[2018-01-07 06:02] leigh-j commented on #12353
Agree with @bbaassssiiee Automation flows should exist, but I don't think developers should be coding on roles checked out by tower.

- checkout all roles for a play to a dev host somewhere (ansible-galaxy install --clone)
- update roles and check with some local testing
- commit and push so tower/jenkins can do more rigorous testing.

[2018-01-07 13:06] jerelev opened #34552 "Kerberos authentication failed while following instructions."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_ping from ansible contoller to windows 2016
##### ANSIBLE VERSION
[code]

##### CONFIGURATION

Nothing was changed.

##### OS / ENVIRONMENT

Using Ubuntu 14.04 LTS
`Linux hostname1 3.13.0-137-generic #186-Ubuntu SMP Mon Dec 4 19:09:19 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
Trying to connect to windows 2016 server in domain GER.CORP.COMPANY

[2018-01-07 13:50] jerelev commented on #34552
Two more notes:
The user sys_ansible is in the administrator group.
The servers show the request id as :
[code]

But a successfull login should be like
[code]

[2018-01-07 14:20] jimi-c commented on #23609
Closing This Ticket
===================

Hi!

We believe the commit ebf971f931290a113f738f658d7a6e095994e120 should resolve this problem for you. This will be included in 2.5.0, and has been back-ported to the stable-2.4 branch for the next 2.4.3 release (starting with 2.4.3 rc1).

If you continue seeing any problems related to this issue, or if you have any further questions, please let us know b

[2018-01-07 14:58] jean-christophe-manciot opened #34554 "Debug hostvars[inventory_hostname] & error messages output have become hardly readable"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

debug

##### ANSIBLE VERSION

Latest stable/unstable versions:
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.10 4.13
- target:
  + *IOS-XEv 16.5.1b**
- paramiko: 2.4.0

##### SUMMARY

Debug var=hostvars[inventory_hostname]  used to produce a nice readable list of the contents of all inventory_hostname's variables.
Th

[2018-01-07 16:08] maykelg opened #34556 "RFE: permit passing stdin to "raw" module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

raw

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

From a generic Linux platform to an embedded device that does not support Python.

##### SUMMARY
See https://github.com/ansible/ansible/issues/14380 RFE: permit passing stdin to commands/shells
The issue is the same, but the solution https://github.com/ansible/ans

[2018-01-07 16:25] maykelg commented on #34556
Changes to test/runner/lib/pytar.py should not have been included in the previous commit (https://github.com/maykelg/ansible/commit/d69f6fa7afad9067cead760bcdc709315c809544)

[2018-01-07 16:46] chrisgavin opened #34557 "java_cert module: Certificates are only compared by alias, not content."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
java_cert

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When importing a certificate from a PKCS12 keystore into a Java keystore, the import does not happen if a certificate already exists with the same alias, regardless of whether that certificate is actually the same as the one being imported.

This is very annoying

[2018-01-07 16:52] hurricanehrndz commented on #19874
Same issue on Ubuntu 17.10

[code]

[2018-01-07 17:21] riton commented on #23609
I'm adding a comment to this closed bug for those that will see this thread.
After a quick test, the patch greetly _improves_ the behavior of Ansible here.

Using [the proof of concept](https://github.com/riton/ansible_POC_include_role_max_recursion_depth_issue_23609) I was using to trigger the bug before, I can now include as far as **27** chained roles (`r1` -> `r2` -> `r3` ...) when only **5**

[2018-01-07 18:48] ludwig-gramberg commented on #20686
I have the same issue with ansible 2.4 on a debian 8.10 vm

[2018-01-07 19:10] jborean93 commented on #34552
Set `ansible_winrm_transport: kerberos` In your group vars. The error message indicates it is using ssl (Basic over HTTPS) which doesn’t work for domain accounts. Usually it will use Kerberos automatically if you set Ansible user in the UPN form but you didn’t so I would also change the user to that form. In the end do

[code]

[2018-01-07 19:10] #34552 closed, assigned to nobody

[2018-01-07 19:30] dagwieers commented on #34554
The output from ansible-playbook is not multi-line by default because that would be too verbose. Add `-vvv` to your command to get a more verbose output on demand.

[2018-01-07 20:15] chouseknecht commented on #34082
@flaper87 @gundalow

Tested with `openshift_raw` and  Python 3.6.2.

Here's my environment:

[code]

And here's the playbook:

[code]

Not sure if we want to close this, or go ahead and fix the `oc` module?

[2018-01-07 20:20] chouseknecht commented on #32618
The new `k8s_raw` and `openshift_raw` modules support Kube config files.

[2018-01-07 20:20] #32618 closed, assigned to nobody

[2018-01-07 20:22] chouseknecht commented on #25656
![](https://github.trello.services/images/mini-trello-icon.png) [Ansible module for HPA](https://trello.com/c/ty4flvO3/18-ansible-module-for-hpa)

[2018-01-07 20:23] gundalow commented on #34082
If the fix is simple it may be worth considering fixing the `oc` module in 2.5 and 2.4
Given that we only gave notice of deprecation in 2.5.

[2018-01-07 20:25] coaxial opened #34559 "virt: chokes on define/create"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

virt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 17.10 targetting Ubuntu 17.10 host

##### SUMMARY

The `virt` module demands a `name` argument be passed, even when using `create` or `define` actions. If none is passed, it errors saying it's required. If one is passed, and the domain doesn't exis

[2018-01-07 20:30] coaxial opened #34560 "virt: documentation is too succinct"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

virt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

all

##### SUMMARY

The documentation for the `virt` module is too succinct. For example, it took me hours to disocver that unlike it's command line equivalent, virt define/create takes literal inline xml, not the path to an xml file like `virsh {d

[2018-01-07 20:30] quenck commented on #33028
I submitted a PR for this: #34558

[2018-01-07 21:01] jborean93 commented on #34343
I'm going to clear the 2.5 milestone as we are not looking at adding this in for 2.5.

[2018-01-07 21:08] jondoig commented on #34528
Hehe @Akasurde nicely played :wink:

[2018-01-07 21:09] computergeek125 commented on #32268
Hello all!
While Windows itself does not have the necessary system calls, cygwin includes a DLL that emulates a *nix environment inside the NT kernel within its terminal.  Thus, I have been able to get ansible to work on my Windows 7 Enterprise laptop.  However, there seems to be a breaking change for Cygwin between 1c9a570ffe and now that generates that error.  I haven't had time to track down th

[2018-01-07 21:22] kevensen commented on #34082
@gundalow my vote is to close this pending release of 2.5.

[2018-01-07 21:42] amarao commented on #34187
I think this should be, at least, documented in both 'include_role' and 'delegate_to' sections of documentation.

[2018-01-07 22:20] pari- commented on #30882
Hi,

reading the documentation:

[code]

To me, it effectively says, that tagged `include_tasks`-tasks are not skipped, but dynamically evaluated at runtime (in contract to `include` previously). Now if none of these 'dynamically included'-tasks are tagged as well, none will be run.

An example:

test.yml:
[code]
tasks/include_tasks.yml:
[code]

`ansible-playbook test.yml -t second`:
[code]

`ansi

[2018-01-07 22:41] JulienPalard commented on #33349
@ansibot srly?

[2018-01-07 22:44] jborean93 commented on #33028
https://github.com/ansible/ansible/pull/34558 has been merged to add support for this.

[2018-01-07 22:44] #33028 closed, assigned to nobody

[2018-01-07 23:13] #34528 closed, assigned to nobody

[2018-01-08 00:26] #34500 closed, assigned to nobody

[2018-01-08 00:55] mhsvprasad commented on #10805
Hi ,

I am having issue in using pbrun with ansible.
The following command is added to the pbrun policy on my remote machine to switch to the root user.
pbrun /bin/su -

But when i try to use privilege access through ansible with below ansible.cfg file, the remote machine pbrun service rejects the command because ansible is not sending the exact command(pbrun /bin/su -):
cat ansible.cfg:
[defaults

[2018-01-08 01:42] lynnf87 commented on #34529
Now it's far more than 2048

thanks

[2018-01-08 04:11] Akasurde commented on #34546
@coaxial Thanks for reporting this issue. Could you please check if service network-manager is started on given host. Let me know if it works for you.

[2018-01-08 04:11] Akasurde commented on #34546
needs_info

[2018-01-08 04:15] Akasurde commented on #34191
Closing this issue as per [comment](https://github.com/ansible/ansible/issues/34191#issuecomment-354783694).

[2018-01-08 04:15] #34191 closed, assigned to nobody

[2018-01-08 04:40] #31296 closed, assigned to trishnaguha

[2018-01-08 04:40] #31885 closed, assigned to trishnaguha

[2018-01-08 04:56] coaxial commented on #34546
I found out later that this particular machine was using netplan and not NetworkManager.

[2018-01-08 05:41] ssuchter commented on #31673
I did a bunch of test runs against various ansible versions. (Everything that pip would install for me.) It seems like there were two jumps in RSS memory usage, one in 2.2 and one in 2.4:

[code]

I don't think that anyone should read anything into the magnitude of the jumps. It's just when they happened that I imagine is most relevant.

Next stop is looking at commits, seeing if I can narrow down

[2018-01-08 05:45] cmpunches commented on #8603
+1

This is a YAML implementation bug.

[2018-01-08 05:46] jainnikhil30 commented on #19340
@Akasurde
I tested it with 2.4.2 and I am not getting the error. Looks like its fixed in the latest version ?

[2018-01-08 06:16] trishnaguha commented on #31901
@hbenaouich Can you share your config file? Does that follow 2-spaces indentation?

[2018-01-08 06:34] willthames commented on #34429
Cannot reproduce.

[code]

ansible.cfg:
[code]

I copied the necessary files from commit d877c14 into `library` and `module_utils`:
[code]

I then ran `ansible-playbook play.yml -vvv --profile mine` with the relevant part of the result below
[code]

[code]

The above is all expected behaviour, and not what you've described. Can you let me know where my setup differs to yours?

[code]

[2018-01-08 06:35] willthames commented on #34429
needs_info

[2018-01-08 06:41] flaper87 commented on #34082
I'd close this in favor of 2.5

This error suggests there's something else happening and `result` is not a python dict but a string. This is what happens when python dict keys are either `bytes` or `str` in python 3.6.4

[code]

Note that o encoding error is thrown.

[2018-01-08 06:55] KyuboLim commented on #31741
In my case, pip version was the problem.
I tried 'pip install --upgrade pip' also but it didn't help. (I'm using Python 2.7)
After install latest pip via 'get-pip.py' in https://pip.pypa.io/en/stable/installing/, now it is working fine.

[2018-01-08 07:44] chefkoch666 commented on #26521
I am running 2.4.2.0-1ppa~xenial on Ubuntu 16.04 and it does not work for me.

[code]

[2018-01-08 09:21] bushvin commented on #10805
Hi Prasad,

Happy New Year!

You need to have an entry in your pb.conf to handle ansible elevation
through powerbroker.
As powerbroker configs can differ considerably depending on environment,
it's hard to tell you what to add where, but this is what I did for a
customer of mine in the financial world:
They have a *switch* entry to determine what to do with commands (first
argument).
The case stat

[2018-01-08 09:24] ossark commented on #31988
Hello,

I did just test it. Does not seem to work properly, no change in behaviour. Did some paramiko logging. Here are the relevant parts.
DEB [20180108-10:22:12.295] thr=1   paramiko.transport: Authentication type (none) not permitted.
DEB [20180108-10:22:12.295] thr=1   paramiko.transport: Allowed methods: [u'keyboard-interactive', u'password']
INF [20180108-10:22:12.311] thr=1   paramiko.trans

[2018-01-08 09:37] danowar2k opened #34566 "FR: Optional role dependencies / optionally execute role with task instead of at the beginning"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY
At the moment, an ansible role can define dependencies to other roles.
These roles are then executed before the role depending on them.

It would be nice if you could somehow mark a role as "will be executed manually later". This would allo

[2018-01-08 09:37] jhawkesworth commented on #33896
@ShiviArora were you able to try latest pywinrm (0.3.0 is now released) to see if that gives you a better error message?

If you have solved this problem please can you update here and close the issue?

[2018-01-08 10:05] danowar2k opened #34567 "BUG: Pear module reports "changed" even if PHP extension was already installed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pear (http://docs.ansible.com/ansible/latest/pear_module.html)

##### ANSIBLE VERSION
ansible 2.4.2.0
config file = /home/vagrant/playbooks/playbook-moodle/ansible.cfg
configured module search path = [u'/home/vagrant/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /usr/lib/python2.7/dist-package

[2018-01-08 10:20] jean-christophe-manciot commented on #34554
@dagwieers
The playbook was called with **-vvvv**:
```ansible-playbook -i ./hosts -vvvv ${playbook_name} --limit $limit_scope```

[2018-01-08 10:30] chromium58 opened #34569 "Archive module does not adds empty(zero-size) files to dest archive"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY
Archive module does not add empty(zero-size) files to archive. I think it is caused by this condition https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/archive.py#L319

In this condition we are comparing file that we addin

[2018-01-08 11:15] Akasurde commented on #34546
OK. Anyways traceback should be hidden from user and should provide informative message about the failure.

[2018-01-08 12:25] ymartin59 commented on #29394
An alternate implementation option may be to add optional parameter `firstmatch` to change pattern matching behavior of both `insertbefore` and `insertafter`

[2018-01-08 13:08] haad commented on #34557
That's proper behavior according to keytool. You can create different aliases with same certificate.

[2018-01-08 13:09] haad commented on #34557
/notabug

[2018-01-08 13:10] #34557 closed, assigned to nobody

[2018-01-08 13:17] quater commented on #17329
I am surprised that `"{{ lookup('env','MY_VAR') }}"` does not return an error when the environment variable is not defined. As it currently stands, an empty string is returned regardless whether the environment variable **does not exist** or it **does exist with an empty value**.

Use case:

The deployment processes I am working with do self sufficiently change between multiple AWS profiles withou

[2018-01-08 13:25] chrisgavin commented on #34557
This is the same alias and a different certificate, not a different alias and the same certificate.

[2018-01-08 13:37] trishnaguha commented on #32641
Closing the issue as it is not related to the module but the nxos itself.

[2018-01-08 13:37] #32641 closed, assigned to trishnaguha

[2018-01-08 13:40] jimi-c commented on #23609
@riton and combined with the other include_role fix regarding memory usage, it should be a *lot* faster now too.

[2018-01-08 13:49] snemir2 commented on #25957
any updates on this?

[2018-01-08 14:06] AceSlash opened #34572 "postgresql_db target parameter is unsupported on branch 2.4 and devel"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
postgresql_db

##### ANSIBLE VERSION
Same issue with
[code]
and
[code]
##### STEPS TO REPRODUCE
# playbook
[code]
Result on branch 2.4 and devel:
[code]

The module documentation specify that the "target" parameter is valid: http://docs.ansible.com/ansible/latest/postgresql_db_module.html

[2018-01-08 14:46] AceSlash commented on #34572
Okay the issue was in fact that the repository still had the submodules from old version (2.2). After a clean clone, the issue is now gone and the module works as expected.

[2018-01-08 14:46] #34572 closed, assigned to nobody

[2018-01-08 14:58] sivel commented on #34517
@caphrim007 that is fine with me. It was on my mind while I was working on the validate-modules changes to begin implementing argument_spec checks.  I wanted to make sure I got this recorded.

Thanks for the help!

[2018-01-08 15:15] mikedlr commented on #34056
Further comment:  this is almost certainly a bug in the python which apple distributes.  Apple has changed their fork implementation to disallow forking with active threads.  Taking the _latest_ python distributed from python.org seems to fix this error without needing to set the environment variable (tested on 3.6).

[2018-01-08 15:16] mikedlr commented on #32499
Further comment:  this is almost certainly a bug in the python which apple distributes.  Apple has changed their fork implementation to disallow forking with active threads.  Taking the _latest_ python distributed from python.org seems to fix this error without needing to set the environment variable (tested on 3.6).

[2018-01-08 15:17] mikedlr commented on #31869
Further comment: this is almost certainly a bug in the python which apple distributes. Apple has changed their fork implementation to disallow forking with active threads. Taking the latest python distributed from python.org seems to fix this error without needing to set the environment variable (tested on python 3.6).

[2018-01-08 15:19] sivel commented on #34529
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2018-01-08 15:19] #34529 closed, assigned to nobody

[2018-01-08 15:26] IPvSean commented on #29882
doesn't this already exist? I am seeing started and stopped here: http://docs.ansible.com/ansible/latest/gce_module.html and I have it working in my playbook

[2018-01-08 15:26] sivel commented on #34450
This is a known issue, as action plugins do not have the advantage of using `AnsibleModule` for argument validation, and re-build the arguments needed to send to the actual module based on known good keys.

We are working on separating the argument validation code out from `AnsibleModule` to allow more flexible argument validation, but this will not be available for several released.

[2018-01-08 15:29] alikins commented on #34454
Some vaguely related issues:
- https://github.com/ansible/ansible/issues/19378 - file module should have a 'creates' parameter
- https://github.com/ansible/ansible/issues/15828 - Modules with creates= / removes= could support check mode

[2018-01-08 15:33] IPvSean opened #34580 "gce module state started returns no useful information and requires a 2nd task with state present to gather information"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS High Sierra Version 10.13.2

##### SUMMARY
The state `started` and state `present` are not well documented on the Ansible module page.  But from testing it is odd.... the `state: started` works fine but the return values is almost useless, so you have to call th

[2018-01-08 15:45] alikins commented on #34455
Sounds like a good idea to me.

I might lean towards calling the config option 'requirements_file' or 'galaxy_requirements_file' but thats a detail.

(I could see some folks not wanting to change the current inert behavior of 'ansible-galaxy install', but the behaviour you suggest matches similar tools ('bundle install' for example)).

[2018-01-08 15:50] yitzikc commented on #34450
Thanks @sivel. Should this issue be somehow linked to the underlying infrastructure issue so it could be tracked?

[2018-01-08 15:53] alikins commented on #34566
Some related issues:
- https://github.com/ansible/ansible/issues/22169 -  Roles are ran multiple times if both referenced as dependency and from playbook
- https://github.com/ansible/ansible/issues/17661 - role dependency doesn't work as expected
- https://github.com/ansible/ansible/issues/13215 - Allow Excluding and/or overriding transitive role dependencies

[2018-01-08 15:58] alikins commented on #34566
cc'ing @bcoca @jimi-c

[2018-01-08 16:04] alikins commented on #34505
pinging @jimi-c

[2018-01-08 16:05] goldencut commented on #34156
Well, if one has a lot of hosts with host specific variables, and each host also has host-specific files then why not store and include them from there? Otherwise one would have to re-create/duplicate all the hosts also in some other folder (so I'd have hundreds of folders(hosts) in host_vars AND in files (/host1, /host2 etc). And having files there isn't causing this bug anyway, AFAIU it..

[2018-01-08 16:07] maxamillion commented on #31673
Can we test again now that this has been merged? https://github.com/ansible/ansible/pull/34461

[2018-01-08 16:21] alikins commented on #34523
pinging @sivel (based on 'touched it last' and 1fe67f9f436595003f7951dd88159731e6d82498)

[2018-01-08 16:23] ssuchter commented on #31673
Ah, I had hope that this was going to solve the problem, but alas, it seems
it did not.

I used a clean repo, which means I’m operating off of the ‘devel’ branch.

[ec2-user@ip-10-32-2-176 ansible]$ ansible-playbook --version
ansible-playbook 2.5.0 (devel 46263d77f1) last updated 2018/01/08 16:15:23
(GMT +000)
  config file = None
  configured module search path =
[u'/home/ec2-user/.ansible/plugin

[2018-01-08 16:33] maxamillion commented on #31673
@ssuchter thanks for checking

[2018-01-08 16:41] alikins commented on #34569
Looking through git history https://github.com/ansible/ansible/commit/2aa3f52bf3038b8194032f323ef9842608adaa83 seems to introduce the filecmp.cmp

Looks like that was added to handle some corner cases with empty archives and similar
odd scenarios, so it's possible that doesn't handle empty files correctly.

Haven't reproduced or bisected the bug yet, so thats not necessarily the cause.

[2018-01-08 16:47] ssuchter commented on #31673
This is against various branches in a checkout:

[code]

[2018-01-08 16:50] jean-christophe-manciot opened #34582 "the difference filter does not list the items in list1 that don’t exist in list2"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

difference filter

##### ANSIBLE VERSION

Latest stable/unstable versions:
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.10 4.13
- target:
  + *IOS-XEv 16.5.1b**
- paramiko: 2.4.0

##### SUMMARY

Instead of listing the items in list1 that don’t exist in list2, the ```difference``` filter lists the items in list1 in t

[2018-01-08 17:03] jean-christophe-manciot commented on #34582
My bad: the lists are completely different indeed.

[2018-01-08 17:03] #34582 closed, assigned to nobody

[2018-01-08 17:13] dagwieers commented on #34554
This is working fine for me in Ansible devel branch, I doubt this is related to a bug in v2.4.2.0.

Can you test with the devel branch ?

[2018-01-08 17:24] nk9b commented on #33554
Greetings...Happy New Year to everyone!

It would appear that there is an issue with the older Python libraries used by CentOS. I have tried installing parallel Python environments and even configured virtualenv in the vain attempt to fix this parsing bug. Running the latest Python environment and multiple versions of Ansible (v2.3.2.0 and 2.4.2.0) made no difference.

I discovered that piping std

[2018-01-08 17:28] t-readyroc commented on #31587
Update: also occurring on:
[code]

[2018-01-08 17:32] jhawkesworth commented on #34470
@lucastheisen does the directory "C:/Users/{{ automation_username }}" exist at the time you are running the win_template command?  If not I think that might explain why you are getting access denied.
I suggest setting
export ANSIBLE_KEEP_REMOTE_FILES=1
and re-running your playbook, then looking to see what is at ine 51 (or wherever the .ps1 script that is being run fails - something like C:\\Users

[2018-01-08 17:37] ssuchter commented on #31673
Ok, I definitely don't understand *why* but I have found one change that significantly increases the RAM footprint of ansible-playbook. The think that mystifies me is which change it is:

Here's my evidence that this commit causes significant memory usage. I checked out various revisions and narrowed down a range until I got to the exact commit that caused memory usage increase. I tried many commi

[2018-01-08 17:42] Everspace commented on #34429
I ran the snippet you provided and got expected results.

I then ran the snipped on us-west-2 (making a new vpc). This also produced expected results.

I then ran the snipped on us-west-2 without specifying the vpc (comment out vpc_id) and it made a rule with the extra egress.

I deleted the test vpcs and then ran it again and got expected results (no extra egress).

I don't know what was going on

[2018-01-08 17:44] saichint opened #34586 "nxos_bgp fails to set graceful_restart parameter for cli transport"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_bgp

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I7(1)
##### SUMMARY

##### STEPS TO REPRODUCE

If we try to set 'graceful_restart' parameter to 'false', it fails with a message.
The message is also seen as a WARNING on the vsh console of the platform but the platform actua

[2018-01-08 17:48] ssuchter commented on #31673
I found a smaller, but significant jump in memory due to this commit:

That per-uuid change seems like it could cause memory management changes, that might be something to look at.

Evidence:

[code]

[2018-01-08 17:50] JamesNesta opened #34587 "aci: Ability to assign a static port to an EPG is missing"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- aci_epg_to_domain

##### SUMMARY
The Cisco ACI module has recently been integrated into the core Ansible repository. This is fantastic! However, it does not seem to be currently possible to add a static port to an EPG (end-point group). This is a very common task - can this be added as well to core?

Here is a screenshot of me doing this man

[2018-01-08 17:58] akamalov commented on #34068
Why deprecated ?

[2018-01-08 17:58] JamesNesta commented on #34587
!component https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/aci/aci_epg_to_domain.py
!component https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/network/aci/aci.py

[2018-01-08 18:01] sivel commented on #31587
This should have been resolved in 2.3.0 due to https://github.com/ansible/ansible/commit/8abe22c917ae384a6b0d4956873e9dc9be44bd56

When running ansible with `-vvvv` you should be notified where the module has been loaded from.  Is it possible that you have an older `mongodb_user.py` file on your machine, potentially in either of the following?

* `/Users/travis/.ansible/plugins/modules`
* `/usr/sh

[2018-01-08 18:03] alikins commented on #34569
I can reproduce this:

files:
[code]

test.yml:
[code]

command output:
[code]

the_dest/
[code]

the_dest/test.tar.gz contents:
[code]

[2018-01-08 18:04] IPvSean opened #34588 "gce_instance_template won't select image for centos-7"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gce_instance_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS High Sierra Version 10.13.2

##### SUMMARY
using the gce_instance_template to set the image as `centos-7` or image_family as `centos-7` will result in nothing being selected for the image type.  The only way I could get it to work was to create

[2018-01-08 18:04] ssuchter commented on #31673
There's another jump (although small) in this commit:

[code]

[2018-01-08 18:06] alikins commented on #34569
bisecting is kind of ambiguous (lots of api changes ) but narrows down commits to:

[code]

Of those, these look like suspects:
- 102ee6a3b47f2c7aebaa90356e96bd282236df23
- 506f3f68f14b8e554bb9e4993f37918a8b6a4c9d
- 3c8d788c1196963c26277691ed95fd54b9c710fe
- fb03fc8eb104f5c85da39e8daccd8bf84026e032

pinging @bendoh

[2018-01-08 18:13] jean-christophe-manciot commented on #34554
OK, but before that, on v2.4.2.0, the output is the same with:
- -v
- -vv
- -vvv
- -vvvv

Now, on latest commit on devel:
[code]
I get with -vvv ... a human-readable output:
[code]

[2018-01-08 18:16] #34458 closed, assigned to nobody

[2018-01-08 18:20] ryansb commented on #34429
Yeah, @willthames solution works for me as well (no extra egress) and creating with no egress rule specified in the playbook correctly creates the default all-egress rule.

Going to close this and chalk it up to a fluke, please reopen if you're able to trigger this behavior again.

[2018-01-08 18:20] ssuchter commented on #31673
Another jump (small) in this commit:

[code]

[2018-01-08 18:20] alikins commented on #34587
cc @GGabriele @jedelman8 @kedarX @mikewiebe @privateip @rahushen @rcarrillocruz @trishnaguha

[2018-01-08 18:27] jimi-c commented on #30385
This should now be resolved upstream and will be included in 2.5 and 2.4.3.

Thanks!

[2018-01-08 18:27] #30385 closed, assigned to nobody

[2018-01-08 18:32] uriklagnes commented on #4870
+1

[2018-01-08 18:32] ssuchter commented on #31673
Here's a commit that made a small but meaningful RAM improvement (uses less RAM):

[code]

[2018-01-08 18:39] saichint opened #34589 "multiple nxos_bgp issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_bgp
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I7(1)
##### SUMMARY

##### STEPS TO REPRODUCE

There are multiple issues with nxos_bgp module.
1. Documentation errors where non boolean parameters are shown as boolean (for ex. graceful_restart_timers_stalepath_time)
2. time

[2018-01-08 18:42] JamesNesta commented on #34587
Oh! And furthermore, here is the JSON call for this as reported from the web GUI:

[code]

[2018-01-08 18:54] ssuchter commented on #31673
This commit increases RAM usage somewhat:

[code]

[2018-01-08 18:57] jean-christophe-manciot commented on #34554
Same issue with error messages on stable/devel which should be displayed on multiple lines with -vvv/-vvvv; for instance, with 2.5.0 devel:
[code]
I can see the attempts with the multiple '\n', but they are not interpreted correctly.

[2018-01-08 18:59] michaelgugino opened #34591 "Inconsistent when conditional for string "false" boolean"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
when / when not conditional

##### ANSIBLE VERSION
From devel branch:
[code]

Also versions 2.4.1 and 2.4.2 from pip, and 2.4.1 via RPM on RHEL.

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Fedora 26, RHEL 7

##### SUMMARY
When a user supplies a variable that should be a boolean value as the string value 'false', we witness inconsistent be

[2018-01-08 19:14] ssuchter commented on #31673
This (very recent) commit improves (lowers) RAM usage somewhat:

[code]

[2018-01-08 19:27] acjohnson commented on #8603
+1

[2018-01-08 19:44] richlv opened #34594 ""unarchive" module should support relative path in "creates""
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
unarchive

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
"unarchive" module should support relative path in "creates"

##### STEPS TO REPRODUCE
use the "unarchive" module and set "creates" as a relative path to "dest"

##### EXPECTED RESULTS
"creates" picks up the relative path

##### ACTUAL RESUL

[2018-01-08 19:46] ssuchter commented on #31673
Ok, I re-looked through all of these commits and ran a more extensive test case (5x number of loops for playbook includes). This was designed to exacerbate the memory "leak" as opposed to things that just increase memory usage by something more fixed.

I'm convinced that we should be looking at this commit:

I have no idea why such a change causes such a huge difference, but it's clearly gigantic.

[2018-01-08 19:49] bstpierre opened #34595 "copy content output from json and a variable is not idempotent under py3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy_module

##### ANSIBLE VERSION

[code]

also seen on:

[code]

##### CONFIGURATION

[code]

(no output -- no changes to ansible.cfg, this is a clean ubuntu 16.04 VM with python, pip, virtualenv, a clone of the ansible repo, and `pip -r requirements.txt`)

##### OS / ENVIRONMENT

ubuntu 16.04, managing itself

##### SUMMARY

When running unde

[2018-01-08 19:51] #33533 closed, assigned to nobody

[2018-01-08 19:54] hbenaouich commented on #31901
Yes I followed the space indentation. I can reproduce it every time. let me know if you want to do a meeting.
See the attached config file.
[Config-file.txt](https://github.com/ansible/ansible/files/1612861/Config-file.txt)

[2018-01-08 20:11] sivel commented on #34591
I'm not yet sure how to approach this. I do agree that this manifests itself in a surprising way.  Unfortunately it does so, to address a usability concern with nested conditionals.

https://github.com/ansible/ansible/blob/ebf971f931290a113f738f658d7a6e095994e120/lib/ansible/playbook/conditional.py#L125-L133

Due to that logic, instead of the conditional template becoming:

[code]

it becomes
[cod

[2018-01-08 20:20] bdowling opened #34597 "Ansible py3 > 3.4 should be coded as a requirement"
##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]
##### SUMMARY

If python3.5+ is required, shouldn't there be a test or complain early about this rather than producing obscure errors when it is installed in py3 < 3.4?  Seems this has bitten a few people over time.  It is *documented* but a test would nice.

Re #31623, #24180, #33619, #23680, #25547, etc.
Docs were fix mentioned in #2

[2018-01-08 20:21] #23547 closed, assigned to s-hertel

[2018-01-08 20:25] ssuchter commented on #31673
Attached is the trivial playbook setup that I used to reproduce this issue. memory_leak.yml does 100 includes, memory_leak2.yml does 600 includes (not 500 as I noted above, oops)

[ansible_memory_leak.zip](https://github.com/ansible/ansible/files/1612930/ansible_memory_leak.zip)

[2018-01-08 20:36] mkrizek commented on #33922
This should be fixed with https://github.com/ansible/ansible/pull/33595 which has been merged in `devel`. I am going to close this issue, please re-open if the issue persists. Thanks!

[2018-01-08 20:36] #33922 closed, assigned to nobody

[2018-01-08 20:46] sivel commented on #34595
You have properly identified that if the string contains a variable, that it triggers a change in functionality.

To step you through the process:

1. If the value contains a variable, it is processed through `Templar.template`
  a. `Templar.template` is powered by jinja2, and historically only has the ability to return strings
  b. Because jinja2 has historically only had the ability to template

[2018-01-08 20:46] #34595 closed, assigned to nobody

[2018-01-08 21:04] mdelagrange commented on #33922
It seems that ad94a3a6a264b1ed9b9ccb8f1e61ebfe33c57a51 fixed this issue.

[2018-01-08 21:37] #30405 closed, assigned to nobody

[2018-01-08 22:16] gpshead commented on #33257
Is namespace available in older jinja2 versions so people can write templates compatible with both versions?  Otherwise there isn't a reasonable upgrade path here for large code as it is impossible to have two versions of jinja2 coexist at once.

[2018-01-08 22:33] coltsixshooter commented on #16259
I am having the same problem with DUO and Keyboard-interactive. I have used the fix above in my local ansible.cfg but what release is supposed to have the fix in ssh.py?

Thanks

[2018-01-08 22:41] kiorky commented on #33922
For me, https://github.com/ansible/ansible/commit/ad94a3a6a264b1ed9b9ccb8f1e61ebfe33c57a51 caused a big and dangerous regression, @jimi-c , @mdelagrange , chained "become" (include_role -> include_tasks -> a task file with a block containing a become: true) are not fulfilled  ...

[2018-01-08 22:42] kiorky commented on #33922
And what is the way for my PR on include_role to be discussed... it is now on github for monthes :'(

[2018-01-08 22:54] lucastheisen commented on #34470
@jhawkesworth ,

Yes, though in my example it actually gets created at the beginning of the become, so to separate it out and show that it exists prior, this is a better example yaml:
[code]
Notice that the `win_stat` command will `become` the user in question thus causing the directory to be created (and return a stat on the folder showing it exists).

I tried that...  not particularly helpful be

[2018-01-08 23:13] #33064 closed, assigned to sivel

[2018-01-08 23:21] willthames commented on #34429
Right, that is indeed the difference. I shouldn't have added creating a test VPC into my play!

[code]

[2018-01-08 23:58] willthames commented on #34429
Problem is https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_group.py#L960

The second half should likely be `if 'VpcId' not in group`.

Worth fixing this and adding a test.

[2018-01-09 01:33] vhosakot commented on #10123
`pip install --upgrade Jinja2` resolved this error for me.

[2018-01-09 01:34] vhosakot commented on #31762
`pip install --upgrade Jinja2` resolved this error for me.

[2018-01-09 03:53] k0xff commented on #34487
I've managed to get it working by looping via 'with_items' statement.

[code]

Can see this being improved in pull #34486.

[2018-01-09 03:53] #34487 closed, assigned to nobody

[2018-01-09 04:21] Akasurde commented on #19340
@jainnikhil30 Cool.
Closing this issue as per [comment](https://github.com/ansible/ansible/issues/19340#issuecomment-355887920). If issue persists, please feel free to re-open.

[2018-01-09 04:21] #19340 closed, assigned to nobody

[2018-01-09 04:22] Akasurde commented on #34546
resolved_by_pr #34577

[2018-01-09 05:17] mauricios commented on #30882
@pari- I'm having different results than you using the same example files.

When I run  `ansible-playbook test.yml -t first` I get:

[code]

If I add the tag to the `include_tasks` task and try to run only the tagged tasks Ansible will execute all tasks inside the included file.

I'm using:
OS: macOS High Sierra
ansible 2.4.2.0
python version = 2.7.14

[2018-01-09 06:00] cdman commented on #31673
@ssuchter - thank you for your time in putting together these tests! Hope that this will make fixing the issue faster (since I can't upgrade Ansible until it's fixed).

[2018-01-09 07:15] ssuchter commented on #31673
Ok, some of those previous results (in particular, the pointing at commit 6ba6819) was wrong. That commit was showing up as a big user because ansible was actually crashing without it, but my test harness didn't catch that and so thought the crashed ansible didn't take much RAM.

I re-ran everything, and found (with 600 includes) some commits that appear to be very costly:

Commit e238ae999b hurts

[2018-01-09 08:08] trishnaguha commented on #34586
resolved_by_pr https://github.com/ansible/ansible/pull/34623

[2018-01-09 09:03] #34546 closed, assigned to nobody

[2018-01-09 09:44] lx183 opened #34624 "Python API not accepting module_path option as string variable"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Python API

##### ANSIBLE VERSION
ansible 2.4.1.0
  config file = None
  configured module search path = [u'/home/ansible/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Aug  4

[2018-01-09 09:45] pari- commented on #30882
@mauricios you're right. The behaviour changed with ebf971f931290a113f738f658d7a6e095994e120:

[code]

:-)

[2018-01-09 09:47] robertdebock commented on #33687
Released and resolved.

[2018-01-09 09:47] #33687 closed, assigned to Akasurde

[2018-01-09 10:02] pari- commented on #34156
@goldencut without knowing what *exactly* you're after it's hard to provide helpful insights.

Yet, the general idea would be to formalize the needed layouts by pouring'em into templates and only providing the 'host'-elevant data in abstracted form (through variables in `host_vars/` and `group_vars`).

Regarding your bug: IMHO the error message *is* the result of placing non-compliant YAML within.

[2018-01-09 10:22] ashumilin commented on #33321
I have exactly the same problem - installing with ansible from cygwin. In former days i remember have read about an issue with the statement ControlMaster=auto. The value should be changed to no instead of auto. I can not test it since my cygwin ansble ignores created ansible.cfg and the changed statement in it.
Could you try this in your files?

[2018-01-09 10:35] alvaroaleman opened #34628 "consul.py: state=absent is broken"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`consul`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### SUMMARY

Deregistration of services does not work, because the underlying `consul-python` modules uses the wrong request type (GET instead of PUT).
Upstream PR: https://github.com/cablehead/python-consul/pull/174

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-01-09 10:47] mkrizek commented on #31071
@tchernomax This seems to be fixed in https://github.com/ansible/ansible/pull/31463 which has been merged and is included in `2.4.1`. Can you please re-test? Thanks!

needs_info

[2018-01-09 10:48] MatrixCrawler commented on #27233
Hi,

we are encountering the same problem when we trying to download a snapshot artifact from our artifactory with the maven_artifact module
It works fine if we use release artifacts (without -SNAPSHOT appendix to the version)

We are using Ansible 2.4.2.0 and python 2.7.12

The full traceback is:
--
11:39:48 |   |   | Traceback (most recent call last):
11:39:48 |   |   | File "/tmp/ansible_gs3WOD

[2018-01-09 10:53] mkrizek commented on #18140
@rpijlman can you provide a simple reproducer? According to my testing #31071 was fixed in https://github.com/ansible/ansible/pull/31463 which is included in `2.4.1`. Thanks!

[2018-01-09 11:05] osLEccse commented on #34624
Module path needs to be an array

[2018-01-09 11:23] gundalow commented on #34624
Fixed by https://github.com/ansible/ansible/pull/34629

[2018-01-09 11:23] #34624 closed, assigned to nobody

[2018-01-09 11:28] #30074 closed, assigned to nobody

[2018-01-09 11:42] dhiratgithub commented on #33321
Thanks Aleksey Shumilin!

It was my mistake -

I copied ssh key on ansiblemanagednode host
[student@ansiblecontrolnode dep-manage]$ ssh-copy-id devops@ansiblemanagednode

but was trying to run ansible ad-hoc on www.example.com (different host) -
[student@ansiblecontrolnode dep-manage]$ ansible www.example.com -m command -a 'id' -u devops -vvv

I realized this later. Just started learning Ansible.

[2018-01-09 11:44] pari- commented on #34554
Hi,

[code]

currently results in:

[code]

Depending on where to tackle the cause of the non-interpreted newlines, this could be an encoding issue:

*lib/ansible/plugins/callback/default.py*:
[code]

When feeding raw data like str('a\b') to `display.display` it becomes interpreted/output correctly (through `sys.stderr`). Therefor, something is fishy with `_result` from the returned `TaskResult`-o

[2018-01-09 12:07] sedlund commented on #11317
im confused about the status of this.  the issue is closed, it looks like something merged to fix it, but it does not appear to be fixed in 2.4.2.0.

[2018-01-09 12:22] m8ram opened #34631 "documentation intro installation does not contain the package names to install"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

intro_installation.rst

##### ANSIBLE VERSION

[code]
And "latest" documentation online: http://docs.ansible.com/ansible/latest/intro_installation.html

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The installation documentation intro does not mention which packages to install.

##### STEPS TO REPRODUCE
See o

[2018-01-09 12:36] m8ram opened #34632 "[1]Documentation: intro getting started: assumes user is root but does not mention which account(s) to use"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

intro_getting_started.rst

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

any Linux OS

##### SUMMARY

##### STEPS TO REPRODUCE

Follow the section "Your first commands" in the intro getting started documentation.

##### EXPECTED RESULTS

The first steps documentation should include information on wh

[2018-01-09 12:39] goldencut commented on #34156
@pari- Well, everything else works - on all other hosts I also have files there, all sorts of files with all sorts of file names, and I get no errors. But this one particular type of file name (file_name) seems to cause problems.
About having those files there: well, to me this type of layout makes kind of sense, it's intuitive, organic - you have server specific variables in one folder, and you h

[2018-01-09 12:40] sivanagireddyb commented on #14886
how to pass ANSIBLE_CONFIG as env

[2018-01-09 13:10] dagwieers commented on #34587
We have a list of stuff we would like to do (preferably before v2.5 is released), you can find it here: https://github.com/ansible/community/wiki/Network:-ACI

Contributions are welcomed too.

[2018-01-09 13:21] mavink78 opened #34641 "ec2_vpc_net tries to call DescribeVpcClassicLink in regions where EC2 classic isn't available"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_net

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes from defaults

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The ec2_vpc_net module calls the DescribeVpcClassicLink API after creating a new VPC. In some regions Classic mode was never available, and as such the API call fails with "The functionality you requested is not avai

[2018-01-09 13:24] jimi-c commented on #33922
@kiorky can you create a new issue showing the become problem with a reproducer please?

[2018-01-09 13:24] mavink78 commented on #34641
I think there are two ways to fix this:

1. Create a whitelist of regions that support EC2 classic, or
2. Catch the "function not available in this region" error and continue

[2018-01-09 13:41] trishnaguha commented on #34586
@saichint will you give these PRs a try?
https://github.com/ansible/ansible/pull/34623 against devel
https://github.com/ansible/ansible/pull/34630 against 2.4.

[2018-01-09 13:59] DHHsi opened #34643 "Any shell command does not execute on CentOS 5.x servers"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

shell
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS Ansible is running on
[code]
OS managed by Ansible
[code]
##### SUMMARY

When i try to execute a simple shell command, like 'uptime' on CentOS 5.x server from Ansible server error appears.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
#####

[2018-01-09 14:02] jhawkesworth commented on #34470
Sorry, the keep remote files advice wasn't any help.

I think perhaps the issue might be that the user's temp dir doesn't yet exist.  You might be able to create this with a

[code]

I haven't checked the code though, so its possible win_file also needs the tempdir to exist as well.
If so you might be able to use raw to create it (perhaps in combination with a 'when' clause if this playbook will b

[2018-01-09 14:06] jhawkesworth commented on #33339
@SurferL - there is a new version of pywinrm out (0.3.0) which I think might fix this problem.
Please can you update to pywinrm 0.3.0 and see if this fixes your issue?

needs_info

[2018-01-09 14:16] SurferL commented on #33339
@jhawkesworth My solution has moved away from this - however I can try and get a test up and running again in a week or two to see if this is resolved!

[2018-01-09 15:06] dagwieers commented on #34554
cc @abadger

[2018-01-09 15:22] mikewiebe opened #34646 "nxos_banner errors on both transport cli and nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_banner

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04
N9k Running version 7.0(3)I7(2)

##### SUMMARY
The nxos_banner integration tests have exposed problems for both `cli` and `nxapi` transports on `devel`.

The problem for transport `cli` is not present on `stable-2.4`
The problem for transpo

[2018-01-09 15:24] torfsen commented on #25160
Since the deprecation message doesn't tell you how to solve the issue: for anyone running into

The solution is to replace the `hostfile` option in the `defaults` section of your `ansible.cfg` with the new [`inventory` option](http://docs.ansible.com/ansible/latest/intro_configuration.html#inventory-file).

[2018-01-09 15:32] #34523 closed, assigned to nobody

[2018-01-09 15:33] sivel commented on #34523
This should be resolved in the merged PR mentioned above, and will be included in the 2.5 release, and potentially a future 2.4.4 release.

[2018-01-09 15:35] robpecor commented on #23054
I am getting this error, or similar error when running a playbook on a machine (VM):
`fatal: [npp]: FAILED! => {"msg": "Incorrect sudo password"}`
ansible-playbook version 2.4.2.0

This happens when running a playbook that works on other VMs that were created from the same template.  I can SSH to this machine, and sudo on the machine using the specified password

I have tried all the suggestions i

[2018-01-09 15:53] guwhatzza commented on #23578
@guenhter the playbook above doesn't throw the warning when I run it. This does:

- name: Turn on interface
  hosts: all
  vars:
    interface: eth1
  tasks:
    - command: bash "ifup {{ interface }}"
      when: "{{ interface }} is defined"

[2018-01-09 16:07] kiorky commented on #33922
@jimi-c yeah that's indeed on my todo, but as triggered that bug on top of ansible 2.4 + my PR with include role, so i dont know yet if it's with "pristine" 2.4 of if it is related to my "include_role" related changes that the bug occurs...

[2018-01-09 16:09] jamescassell commented on #10387
Per comments on the PR, this issue re-appeared.  (I'm also seeing it.)

[2018-01-09 16:13] smemsh commented on #23578
@guwhatzza your example is not the point of this ticket.  your example should be simply:
[code]
the [valid] point of the warning is that you're already in evaluation context for "when" so you can directly use variables.  imagine that the entire string value of "when" is automatically surrounded by double braces

if I understand right, the [different] problem from this ticket is when variable indir

[2018-01-09 16:31] abadger commented on #11317
This issue was fixed a long time ago (it was opened in the transition from Ansible 1.x to 2.x).  If the feature isn't working for you, open a new bug report with a case that reproduces the problem.  We often do not look at closed bug reports at all.

[2018-01-09 16:37] cainj13 commented on #34316
Just sank some time into this one as well, as I was deceived by the documentation.  Would definitely be up for a more clear demonstration of what this does and does not do.

[2018-01-09 16:41] ryansb commented on #34429
Do you mean just running a test of security groups in EC2-classic? If so, I have an account that still has classic enabled.

[2018-01-09 16:45] chriskarel opened #34651 "Win_dns_client doesn't properly detect/change order of DNS resolvers."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_dns_client
(lib/ansible/modules/windows/win_dns_client.ps1)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Defaults

##### OS / ENVIRONMENT

Ansible is running on an OEL7.4 machine, managing a Windows 2012R2 machine.

##### SUMMARY

##### STEPS TO REPRODUCE

Use win_dns_client to attempt to change the order of DNS resolvers.  If the

[2018-01-09 17:08] mikewiebe opened #34654 "nxos_l2_interface, nnxos_l3_interface, nxos_linkagg fails for both transport cli and nxapi"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_l2_interface and nxos_l3_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 14.04
N9k Running version 7.0(3)I2(5), 7.0(3)I4(7), 7.0(3)I5(3), 7.0(3)I6(1), 7.0(3)I7(2)

##### SUMMARY
The nxos_l2_interface integration tests have exposed problems for both `cli` and `nxapi` transports on `devel`.

[2018-01-09 17:21] lucastheisen commented on #34470
@jhawkesworth , I updated my example yaml per your suggestion:

[code]

Still no dice:
[code]

[2018-01-09 17:39] jhawkesworth commented on #34470
I think ansible is using $env:tmp when it needs a remote tmp dir on windows.  I would be surprised if anything works without this environment variable being present for the automation user on the machine though.

If you use --step and run your playbook as far as just after running win_user, then you log in manually as the new user, then continue the playbook, does it complete successfully?

[2018-01-09 18:06] dagwieers commented on #34137
As discussed I added a **aci_vlan_pool** and a **aci_vlan_pool_encap_block** module, I also added a **aci_domain_to_vlan_pool** next to the more generic **aci_domain_to_encap_pool**.

As such I am going to close this issue, but feel free to add your opinion or request to reopen this ticket.

[2018-01-09 18:06] #34137 closed, assigned to nobody

[2018-01-09 18:07] dagwieers commented on #34449
cc @jmcgill298

[2018-01-09 18:08] dagwieers commented on #34211
cc @jmcgill298

[2018-01-09 18:08] dagwieers commented on #34173
cc @schunduri

[2018-01-09 18:08] bendoh commented on #34316
Thanks for the report.

It looks like it should be fairly straight-forward to add exclusion of files and paths for tar archives using the `filter` argument to `TarFile.add`, but there doesn't appear to be any equivalent in the `ZipFile` object, so the only way to add that sort of support would be to explicitly recurse through the tree in python and exclude at that level, which might as well then b

[2018-01-09 18:14] dagwieers commented on #34587
Let me also add that this is already possible using the **aci_rest** module.

[code]

But we do have **aci_static_binding_to_epg** on the roadmap.

[2018-01-09 18:17] ryansb commented on #34429
This looks good on my ec2-classic account - no egress rules are attempted (since Classic doesn't have support for them).

[2018-01-09 18:24] saichint commented on #34586
@trishnaguha I tried the above PRs for devl and 2.4, and they are working good.

[2018-01-09 18:40] stanchan commented on #31620
I'm also facing this issue with synchronize and the src has no encrypted data.

`FAILED! => {"msg": "Decryption failed (no vault secrets would found that could decrypt)"}`

[2018-01-09 18:44] s-hertel commented on #34429
Fixed in 39af2766391913fad592f1313c6b84d64dd9ff39.

[2018-01-09 18:44] #34429 closed, assigned to nobody

[2018-01-09 18:45] ryansb commented on #34429
Should be resolved by https://github.com/ansible/ansible/pull/34626

[2018-01-09 19:05] dmsimard commented on #30385
For the record, fix in question was https://github.com/ansible/ansible/commit/c30ee42fe1f0a9666a90f4d63121780f2a186c54

[2018-01-09 19:08] resmo commented on #33669
resolved_by_pr #33748

[2018-01-09 20:35] bcoca commented on #34187
Something I hope to see in core #27897

[2018-01-09 20:47] bcoca commented on #32247
This won't work as group names are unique, they are not based on their relationships with other groups.

I recommend creating `parent1_subgroup1` named groups that have the hierarchy you want built in.

[2018-01-09 20:55] lucastheisen commented on #34470
@jhawkesworth , I tried the `--step`, then logged in as `autotest` after and manually checked for `$env:tmp`.  It was there, but the process failed in exactly the same fashion.  I also updated my example to check the env before attempting the `win_template` thusly:
[code]
Which resulted in the following:
[code]
As you can see, `$env:TMP` (as well as `$env:TEMP`) is present and set correctly...

[2018-01-09 21:23] bcoca commented on #34450
the problem is worse `recurse` is a valid option as it is passed through to the file module, it is just ignored by copy itself.

[2018-01-09 21:53] s-hertel commented on #34641
@mavink78 Can you pull and test with the latest changes from devel? I think this has been fixed in 1412d6eb185bb148ad2f784623cc5c7a8e9e58a9.

[2018-01-09 21:58] ham-360 commented on #4297
A solution that worked for me was to wrap each task that should only update a variable if it executes inside a 'block' with the condition associated to the block rather than the task.  To use the first example...
[code]

[2018-01-09 22:01] ham-360 commented on #17500
A relatively simple workaround that worked for me: https://github.com/ansible/ansible/issues/4297#issuecomment-356427588

[2018-01-09 22:11] s-hertel commented on #34641
needs_info

[2018-01-09 22:17] #34597 closed, assigned to nobody

[2018-01-09 22:21] johnboy2 opened #34665 "Errors can be wrongly replaced on dynamically imported static include"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
include_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Management node: Ubuntu 16.04
Remote node: Debian 9

##### SUMMARY
Untrue/incorrect error message shown when a dynamically-determined dynamic include contains an embedded reference to an unknown file.

##### STEPS TO REPRODUCE

test.yml:
[code]

Linu

[2018-01-09 22:59] eubnara commented on #32247
@bcoca
thank you for your advice

[2018-01-09 23:10] sivel commented on #34643
As of Ansible version 2.4, Python2 version 2.4 is no longer supported.  CentOS 5 ships with 2.4.3.

You will either need to downgrade to Ansible 2.3, or upgrade that machine with a newer version of CentOS or a newer version of Python.

You may be able to instead utilize the `raw` module, which has no remote dependency on python.

If you have further questions please stop by IRC or the mailing list

[2018-01-09 23:10] #34643 closed, assigned to nobody

[2018-01-09 23:53] willthames commented on #25160
We could add that to the deprecation message.

[2018-01-09 23:55] bcoca commented on #33988
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

All groups are ALWAYS children of `all`, does not matter that you define them or not as such.
You CANNOT restrict `all` to less than th

[2018-01-09 23:55] #33988 closed, assigned to nobody

[2018-01-10 00:02] rcarrillocruz commented on #31276
https://github.com/ansible/ansible/pull/34426

[2018-01-10 00:12] willthames commented on #25160
@torfsen thanks very much for that comment - there was already a mechanism in place for this, but it had a bug that meant that it wasn't working for any deprecation message.

I've made a fix in #34672

[2018-01-10 00:36] precurse commented on #20169
A workaround I've used is to set some random variable in the dependency role (like role1_ran=True) as the very end task and check for it at the very beginning of the role. If it's set, then you can have it skip the role.

I agree that it would be nice for it not to have to run multiple times.  However, there could be variables that are added (or changed) over the course of the play that change the

[2018-01-10 01:27] Chiggins opened #34675 "Add option to win_domain to include management tools during install"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_domain

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
When creating a new Active Directory domain, it is more often than not useful to have the management tools installed on the domain controller. I'm proposing adding an option to the `win_domain` module that would include instal

[2018-01-10 01:39] willthames commented on #34641
How did you install ansible, out of interest?

The `ansible --version` message is not very helpful as it doesn't contain the date or commit ID you're running from (unlike if you use `hacking/env-setup` to run from source) - I'd like to see if we can improve that, but need to know how you got where you are :)

[2018-01-10 01:56] walidshaari commented on #33414
@thepackbot I am away traveling at the moment, and the problem with these network devices is that you have to work on a physical one, there is not a VM I can use to simulate this issue and work on it.

[2018-01-10 02:11] rjgonza commented on #20554
Efforts on this die out?

[2018-01-10 03:28] zhangchengshan opened #34677 "Which method can judge the playbook is ended or failed or succeed in callback plugin"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

When i use callback plugin to record log, i don't know which method can judge the playbook is ended or failed or succeed. Example, i can know the playbook is started on v2_playbook_on_start, but no method as v2_playbook_on_end tell me t

[2018-01-10 05:21] #34586 closed, assigned to trishnaguha

[2018-01-10 06:10] trishnaguha commented on #34654
@mikewiebe Can you please share your variable spec file without credentials on it?
The tests pass for us on both 7K and 9K for both transports.

[2018-01-10 06:40] trishnaguha commented on #34654
@mikewiebe Can you please share your variable spec file without credentials on it?
Please make sure that you have branch rebased with devel branch.
We have introduced test changes to use network_cli.
**Note:**
1. for `nxapi` transport the test uses connection `local`.
2. for `cli` transport test uses connection `network_cli` . `provider` is ignored when `network_cli` is used.

For us the tests pas

[2018-01-10 06:44] trishnaguha commented on #34646
@mikewiebe Can you please share your variable spec file?
Please make sure that you have branch rebased with devel branch.
We have introduced test changes to use network_cli.
**Note:**
1. for nxapi transport the test uses connection local.
2. for cli transport test uses connection network_cli . provider is ignored when network_cli is used.
This might be the cause of authentication failure you are g

[2018-01-10 08:25] jhawkesworth commented on #34226
I have (sort of) reproduced this.  I can get diff output from win_template, but it appears that no output is produced if the template destination does not already exist. So on subsequent runs I see diff output.  I will investigate further.

[2018-01-10 08:52] duck-rh opened #34685 "nmcli crashes when asked to disable a connection unless an unrelated parameter is given"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing special

##### OS / ENVIRONMENT
Control node runs Debian unstable, host is CentOS 7.4.

##### SUMMARY
Disabling a connection fails with a crash unless the `dns4` parameter is provided (an empty list is fine).

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Connection remo

[2018-01-10 08:59] jottschi opened #34686 "lvm modules - lvg and lvol- failing on SLES11 SP1-SP3 maybe SP4"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lvg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When creating a VG and a LV inside in this it disappears after rebooting. On SLES 11.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
After running this playbook I can access the new filesystem.
##### ACTUAL RESULTS
After reboot it is not acce

[2018-01-10 09:27] JonTheNiceGuy opened #34687 "Unable to use tasksel-style syntax with ansible's apt module."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Vagrant, using vm.box = "ubuntu/xenial64" and the stanza:
[code]
(Based on this: https://github.com/E-and-CS/K5-Ansible-Openstack-Development-Machine)

##### SUMMARY
This ansible playbook is designed to take a commonly available Ubuntu/Xenial64 machine from ubuntu-s

[2018-01-10 09:35] themr0c opened #34689 "azure_rm inventory should add "ansible_connection: winrm" in host_vars for windows hosts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

azure_rm inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Target hosts: Windows

##### SUMMARY

azure_rm inventory should add "ansible_connection: winrm" in host_vars for windows hosts

##### STEPS TO REPRODUCE

Run azure_rm (Microsoft Azure Resource Manager Inventory in AWX) to inventory a Windows ho

[2018-01-10 09:54] themr0c commented on #34689
Here the complete host_vars of the host that I receive (and is displayed in AWX):
[code]

[2018-01-10 10:20] SixRQ commented on #29334
I get the following error with 2.4.0.0

fatal: [localhost -> localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to download artifact com.example:myproject:0.0.525 because of OK (1329468 bytes)for URL file:///home/user/.m2/repository/com/example/myproject/0.0.525/myproject-0.0.525.jar"}

[2018-01-10 10:24] tecnocat commented on #23602
Why something that was working now is failing instead of showing a warning?

We have a lot and very complex system to auto-manage more than 70 SG's in AWS to ensure every admin, system, developer and external viewer gain access to the right security group (a recipe with more than 600 complex lines that auto-generate ip blocks to apply once reading other ones)

As you known AWS not allow to edit th

[2018-01-10 10:35] wjiangjay commented on #10915
Some here in /var/log/secure:
[code]

[2018-01-10 10:54] torfsen commented on #30827
Has the fix from #30990 been shipped? I get the same error with Ansible 2.4.2.0.

[2018-01-10 11:05] Vladimir-csp opened #34690 "lineinfile with regexp is not idempotent"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

lineinflile with regex is inconsistent

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

First iteration `changed`, subsequent iterations `ok`
[code]
##### ACTUAL RESULTS

First iteration does correct replace, subsequent iterati

[2018-01-10 11:36] soliverr commented on #33461
According to  [yum module documentation](http://docs.ansible.com/ansible/latest/yum_module.html) parameter `name` is required.
But in source https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/yum.py#L1325 _two_ parameters are declared as required: `name` and `list`. So, yum module compains about this.

I guess, it is not required to run an update yum cache step as a sep

[2018-01-10 11:50] gk95 opened #34692 "Error trying to ping windows with winRM"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

winrm module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No output for "ansible-config dump --only-changed" - so no changes to standard config
##### OS / ENVIRONMENT

Red Hat Enterprise Linux Server release 6.5
##### SUMMARY

I am trying to remotely ping a windows server using kerberos authentication. I can successfully run the OS leve

[2018-01-10 12:02] sengaya commented on #27780
The `update_cache` option is only about updating the cache (I guess running `apt-get udpate`). As far as I can see there is no option to run `apt-get clean` which would be the equivalent to `yum clean`.

[2018-01-10 12:12] gk95 commented on #34692
I managed to resolve the issue by the following steps:
1. Use knit command to create TGT
2. Blank the password field in windows.yml file
This results in a successful run. Is there any requirement that I have to encrypt the windows.yml file if I specify the password in there?

[2018-01-10 12:12] #34692 closed, assigned to nobody

[2018-01-10 12:24] gundalow commented on #34589
Looks like 1) have been fixed in `devel` already
devel: http://docs.ansible.com/ansible/devel/module_docs/nxos_bgp_module.html
2.4: http://docs.ansible.com/ansible/latest/nxos_bgp_module.html

[2018-01-10 12:25] gundalow commented on #34589
ah, didn't see that https://github.com/ansible/ansible/pull/34590 had been merged already.
I guess this can be closed?

[2018-01-10 12:26] sedlund opened #34693 "Cannot use ansible_managed in copy module with content option"
##### ISSUE TYPE

 - Documentation Report
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

the copy module with the content option should be able to parse {{ ansible_managed }}

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected templating to work with the copy option as stated in documentation:

http://docs.ansible.co

[2018-01-10 12:31] trishnaguha commented on #34589
I wonder why github didn't close this by default.

[2018-01-10 12:31] #34589 closed, assigned to nobody

[2018-01-10 12:55] Akasurde commented on #34685
@duck-rh Thanks for reporting this issue. This is issue is already fixed using https://github.com/ansible/ansible/pull/30757

Could you please re-try and let me know ?

[2018-01-10 12:56] Akasurde commented on #34685
needs_info

[2018-01-10 13:39] trishnaguha commented on #34646
@mikewiebe https://github.com/ansible/ansible/pull/34695 fixes the nxapi failure.

[2018-01-10 13:49] jhawkesworth commented on #34692
@gk95 the winrm connection plugin in 2.4.2 doesn't work with python 3.x unfortunately due an api change in subprocess

I believe this is fixed in latest devel although I can't check at the moment.

You can hack it like this if you don't mind it only working on python 3:

[code]

[2018-01-10 13:58] Xat59 commented on #12170
+1

[2018-01-10 14:03] calfonso commented on #34499
Closing this issue based upon the previous comment. If you have more information to the contrary, please re-open the issue with additional info. Thanks!

[2018-01-10 14:03] #34499 closed, assigned to nobody

[2018-01-10 14:04] tagirb opened #34696 "homebrew_cask: add cask upgrade functionality"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
homebrew_cask

##### SUMMARY
Homebrew supports now cask upgrades via `brew cask upgrade`, but the Ansible module `homebrew_cask` does not. Please add a parameter and functionality to run a cask upgrade.

[2018-01-10 14:50] reduardo7 commented on #5451
Update for https://github.com/ansible/ansible/issues/5451#issuecomment-31326318 :

I use next:

[2018-01-10 15:04] gundalow opened #34697 "Document module_utils.(eos, nxos) - Support use_proxy argument"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
eos_
nxos_

##### ANSIBLE VERSION
[code]

##### SUMMARY
https://github.com/ansible/ansible/pull/30813 adds support from http proxy.

* Needs adding to http://docs.ansible.com/ansible/devel/network_debug_troubleshooting.html#proxy-issues
* Needs highlighting on CHANGELOG

[2018-01-10 15:06] gk95 commented on #34692
I made that change in the code and it worked a treat. Brilliant, thanks!

[2018-01-10 15:25] #32765 closed, assigned to Qalthos

[2018-01-10 15:25] #31107 closed, assigned to Qalthos

[2018-01-10 15:26] #31106 closed, assigned to Qalthos

[2018-01-10 15:32] causarian opened #34698 "win_uri module: no json in response var defined despite 'return_content: yes'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_uri

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ansible.cfg) = 30

##### OS / ENVIRONMENT

Control Host: Ubuntu 16.04
Target Host: Windows 2012 R2 Datacenter

##### SUMMARY

When using the win_uri to call a resource which returns a JSON res

[2018-01-10 15:35] gundalow commented on #34628
Would you like to raise a PR (Pull Request) to fix this?

[2018-01-10 15:36] boernd opened #34699 "no_log vs task status"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
no_log

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
CentOS Linux release 7.2.1511 (Core)

##### SUMMARY
When using `no_log` on e.g. a template task the changed status does not get displayed. The `PLAY RECAP` shows the correct summary and also the handlers get triggered though.

##### STEPS TO REPRODUCE
[code

[2018-01-10 15:55] kwerey opened #34700 "cloudtrail module does not support China region"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudtrail

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing relevant.

##### OS / ENVIRONMENT

OSX, running against AWS China.

##### SUMMARY

Boto3 itself fully supports CloudTrail in the AWS China region. Ansible's implementation does not seem to - CreateTrail API calls return with an HTTP 400 and the following:

"An error occurred (

[2018-01-10 16:00] ashumilin commented on #33321
Great, i solved my problem also, just completed some statements in the cfg file, its ignored otherwise.

[2018-01-10 16:00] sivel commented on #34699
This issue has been resolved in https://github.com/ansible/ansible/commit/b61bfc87b85776a633ba27198a1587048079d60e and will be included in the 2.4.3 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-01-10 16:00] #34699 closed, assigned to nobody

[2018-01-10 16:00] ghost opened #34701 "ios_user: issue attempting to remove multiple users"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
--> ios_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
--> Red Hat 4.4.7-18

##### SUMMARY
When attempting to remove multiple users on c2951, the module doesn't account for the confirmation message from the IOS and reply.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
--> Expected the user accou

[2018-01-10 16:14] nitzmahone opened #34702 "ansible_port=5985 no longer implies ansible_winrm_scheme=http"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
winrm.py

##### ANSIBLE VERSION
2.5.0 devel

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
Previous to 2.5, setting `ansible_port=5985` implied `ansible_winrm_scheme=http`, but recent config changes to the winrm connection plugin have broken this behavior. Ensure that the proper scheme is implied when config has not otherwise

[2018-01-10 16:34] wjkohnen commented on #20492
Users keep running into this issue since one year. Why is this ticket closed?

[2018-01-10 17:14] sivel commented on #34677
You are correct that there is no `v2_playbook_on_end`, so you have to infer that the playbook has ended by either `v2_playbook_on_start` being called again, or by `v2_playbook_on_stats` being called.

As for determining failure, you will need to store the results from `v2_runner_on_failed`, or process the stats results in `v2_playbook_on_stats`.

If you have further questions please stop by IRC or

[2018-01-10 17:14] #34677 closed, assigned to nobody

[2018-01-10 17:16] sivel commented on #34631
This has been resolved as of https://github.com/ansible/ansible/commit/d4be600328d9033998b6186cbc93bd483851eb4e

This change will appear on the docs site during the next build

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-01-10 17:16] #34631 closed, assigned to nobody

[2018-01-10 17:26] pascalheraud commented on #12086
+1 for forks (false by default)

[2018-01-10 17:35] jctanner commented on #34632
@m8ram thanks for the report. Is this something you would want to contribute as a pullrequest?

[2018-01-10 17:42] tedder commented on #34700
I know this is a bigger problem than Cloudtrail, I'm not sure where it is on the roadmap. Some related tickets: #21532 #30158 #28704 #34145

[2018-01-10 17:50] martyanov commented on #30239
As a workaround you can simply exec raw `docker volume create` command via shell module before `docker_volume`. But it’s an ugly hack.

It’s a major issue and why it’s still unreleased is beyond me.

And the merged changes are not covered by tests, so may be it will break something else.

[2018-01-10 17:51] #29897 closed, assigned to Akasurde

[2018-01-10 17:52] sivel commented on #34693
I believe this to be a docs report rather than a bug.  This has never been supported outside the context of the `template` module.  In order to use `ansible_managed` it can only be accessed using `template`.

[2018-01-10 18:05] kwerey commented on #34700
Thanks for looking around. As far as I can tell none of those are directly related - the lambda ones (#28704, #34145) are fixes for parsing ARNs other than `aws`, the AWS dynamic region detection PR (#21532) is merged and was a slightly different problem, and #30158 was breaking other things while adding support for China...

To boil it down, this bug is about Ansible's implementation of a Boto3 C

[2018-01-10 18:09] tedder commented on #34700
How sure are you that it's the cloudtrail implementation specifically? I believe it is fairly widespread, as it uses the common connection framework, which places the error somewhere in or around boto3_conn.

[2018-01-10 18:19] windowsrefund commented on #25626
Also worth pointing out is that occurences is deprecated. This can be seen in the logs

`{"timestamp":"2018-01-10T13:16:56.915434-0500","level":"info","message":"handler output","handler":{"command":"handler-slack-multichannel.rb","type":"pipe","name":"slack"},"event":{"id":"39b59ec4-0b7d-4ae1-b896-2a91e140ad02"},"output":["warning: event filtering in sensu-plugin is deprecated, see http://bit.ly/

[2018-01-10 18:48] kwerey commented on #34700
I've used a lot of the other AWS Ansible modules in China and never seen this failure mode before. I'm sure how many of those are using this boto3 code path I think a fair number.

My suspicion is that there's some weirdness in the CloudTrail service, and it doesn't handle the input that the module passes to boto3_conn correctly. I don't think it's 'the module is buggy', I think it's 'AWS China is

[2018-01-10 18:54] hanynowsky commented on #25626
It s occurrences filtering which is deprecated in newer versions of sensu-plugins and not occurrences as an attribute. The handler slack multichannel you are using still uses the sensu-plugin 1.4 logic base which is deprecated.
And this has nothing to do with sensu_check ansible module, does it?

[2018-01-10 19:00] IPvSean opened #34709 "junos_vlan missing DI parameter interface"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
junos_vlan

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The eos_vlan module can check if interfaces have operational state or declarative intent (DI) of carrying the vlan (e.g. `show vlan`) ->
[code]
This playbook will error and fail (by default) if the interface does not carry the VLAN
```fata

[2018-01-10 19:08] IPvSean opened #34711 "iosxr_interface missing DI content, neighbors"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
iosxr_interface

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The iosxr_interface needs feature parity with the eos_interface module.  Specifically we are missing the neighbors parameter->
[code]

and we are also missing tx_rate and rx_rate
[code]

an example eos playbook:
[code]

##### STEPS TO

[2018-01-10 20:08] matti commented on #20492
Timo Soini

[2018-01-10 20:24] mattclay commented on #34431
This was implemented in https://github.com/ansible/ansible/pull/34525

[2018-01-10 20:24] #34431 closed, assigned to mattclay

[2018-01-10 20:31] traverseda commented on #27631
[code]

Works, but only when I run it as a local. When I run it normally, I get 'failure 1 during daemon-reload: Failed to connect to bus: Argument list too long'.

The only documentation I can find relating to that relates to the recent CVE, and is behind a redhat paywall...

[2018-01-10 20:38] jouve opened #34716 "selective output does change color for failed tasks"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
callback/selective

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/Users/cyril/work/vps/playbook/ansible.cfg) = [u'/Users/cyril/work/vps/playbook/hosts']
DEFAULT_REMOTE_USER(/Users/cyril/work/vps/playbook/ansible.cfg) = ansible
HOST_KEY_CHECKING(/Users/cyril/work/vps/playbook/ansible.cfg) = False

##### OS / ENVIRONMENT
N/A

[2018-01-10 20:43] traverseda commented on #27631
[code]

Fixes this.

[2018-01-10 20:48] guzzijason commented on #25431
Definitely see this in 2.4.2.0-1.el7 on CentOS. Was able to work around it using something like this:

[code]

[2018-01-10 20:56] aharden commented on #34422
Flexible key/value tags are allowed on EIPs in addition to the default "Name" key; this feature should be implemented similarly to the tagging that's supported for other EC2 resources.

[2018-01-10 21:06] Everspace commented on #33925
@mkrizek Sorry for taking a while, my current python setup is a little bungled right now so I'm not sure when I'll get a chance to try that out.

[2018-01-10 21:30] johnboy2 commented on #34665
!component modules/utilities/logic/include_tasks.py
bot_broken

[2018-01-10 21:37] bdowling opened #34719 "Handling of sub-prompts, particularly for enable mode needs improvement"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

network_cli.py
connection/ios.py

##### ANSIBLE VERSION

[code]

##### SUMMARY

Ansible does not fully handle enable mode Password prompting.  It sends a response once, but does not check if the device asked for Password: again.  The changes introduced in #33794 have brought this to the fore.  I worked witth @brainclots to identify that the is

[2018-01-10 21:51] DSpeichert opened #34720 "shell: async & poll break removes condition"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
shell

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OSX 10.13.2 (17C205) with Python 3 from Homebrew

##### SUMMARY
shell module ignores `removes` arg when `sync: 1` AND `poll: 0`.

##### STEPS TO REPRODUCE
This doesn't work:
[code]

Commenting out other `async` or `poll` line makes it skip the command executi

[2018-01-10 22:01] opoplawski opened #34722 "RFE: Add config option to pass custom -P option to sshpass"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Enterprise Linux 7

##### SUMMARY

Remote systems can issue different password prompts for various reasons, including requiring One-Time Passwords in addition to ssh keys.  In these cases it would be helpful to be able to pass a custom -P option to sshpass.  See also issue #11565.

[2018-01-10 22:28] sivel commented on #34720
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

In particular, we believe you have said:

   * `creates`/`removes` in combination with `async` is ignored

However, however what is hap

[2018-01-10 22:28] #34720 closed, assigned to nobody

[2018-01-10 22:31] tchernomax commented on #31071
@mkrizek indeed, it's now fixed.

[code]

[2018-01-10 22:31] #31071 closed, assigned to nobody

[2018-01-10 22:41] athmane commented on #33101
CentOS 5.x (EOL btw) targets are easy to fix, just use raw module to bootstrap `python26` from epel and add `ansible_python_interpreter=/usr/bin/python26`  suffix (if using flat inventory)

[2018-01-10 22:47] macwinnie commented on #17446
@andrewvaughan your link is a dead one :(

[2018-01-10 22:57] #34105 closed, assigned to nobody

[2018-01-10 23:03] sivel commented on #34698
`win_uri` does not appear to actually have that functionality, and the appearance of `json` within the `return_content` docs, is likely the result of copy/paste from `uri`.

I can see this going either `documentation report` or `feature request`

[2018-01-10 23:04] sivel commented on #34698
In the meantime, as a workaround, you can utilize `response.content|from_json` to get the content into a programmatically accessible data format.

[2018-01-10 23:07] sivel commented on #34665
!component +lib/ansible/modules/utilities/logic/include_tasks.py
!component +lib/ansible/plugins/callback/default.py

[2018-01-10 23:08] DSpeichert commented on #34720
@sivel
Thanks for explaining how `async` works, I think it answers my issue where it isn't in fact running the command, just reports so.