[2019-02-18 16:51] gundalow commented on #38722
@krathow I see that the docs update in https://github.com/ansible/ansible/pull/48474 have been merged, I hope that makes this clearer. If not please reopen this issue

[2019-02-18 16:51] #38722 closed, assigned to nobody

[2019-02-18 16:54] samdoran commented on #30046
The suggested change causes the line to _always_ be inserted at the end of the file, which is counter to how this module is intended to work. If the line is found anywhere in the file, it will not be inserted at `EOF`. If the line is not present anywhere in the file, it will be inserted at `EOF`.

If you wish for the line to always be inserted at the end of the file even if the line is present els

[2019-02-18 16:54] #30046 closed, assigned to nobody

[2019-02-18 16:54] KevinRiordan opened #52504 "SSH Error: data could not be sent to remote host"
##### SUMMARY

Able to SSH into hosts and prompted for password
unable to ssh with ansible

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

become shell ping
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 16.04

##### DEPENDENCY PROBLEMS

[code]

##### STEPS TO REPRODUCE

[code]
https://stackoverflow.com/questions/54751109/ssh-error-data-could-not-b

[2019-02-18 17:09] jamescassell opened #52506 "standardize TLS connection properties"
##### SUMMARY

There are are a variety of options for TLS connection options and settings.  These should be standardized.

I propose:
- `client_cert`: certificate for client identity, might also include the private key
- `client_key`: private key for `client_cert`
- `ca_cert`: public key to validate server's identity, usually a root certificate
- `validate_certs`: boolean to enable or disable cert

[2019-02-18 17:13] bcoca commented on #41609
pr above adds warnings to fact gather execution, much more apparent than the string assigned to the fact.

[2019-02-18 17:19] KevinRiordan commented on #52504
There is no directory /lib/ansible

[2019-02-18 17:48] sivel commented on #52474
resolved_by https://github.com/ansible/ansible/pull/52496

[2019-02-18 17:48] #52474 closed, assigned to nobody

[2019-02-18 18:04] jamescassell commented on #19084
My reproducer is:
[code]
which results in `ERROR! Vars in a IncludeRole must be specified as a dictionary, or a list of dictionaries` at which point, I tried:
[code]
which resulted in the same error.

I also tried:
[code]
Same error.

[2019-02-18 18:12] alongchamps commented on #51240
@Akasurde can I get your thoughts on this for an example playbook for firewall rules where allowed_all is False and specifying IP addresses/networks:

https://paste.fedoraproject.org/paste/nPR6UFtUwFHJEs3UM6hqBA

[2019-02-18 19:26] mattclay commented on #52495
Closing this since the issue is due to the changes in https://github.com/ansible/ansible/pull/51688 rather than our test infrastructure.

[2019-02-18 19:28] mattclay commented on #52495
I provided [details](https://github.com/ansible/ansible/pull/51688/files#r257806879) on that PR about what I found in the Shippable logs.

[2019-02-18 19:58] #32750 closed, assigned to nobody

[2019-02-18 19:58] alongchamps commented on #51240
This relates to an issue I discovered in vmware_host_firewall_facts where it only pulls back the list of allowed IP addresses and not IP networks that can also be found. I will open a bug report on that one because it is not pulling back all of the data as needed.

[2019-02-18 20:15] sivel commented on #52504
What happens when you execute the same command that ansible is running?

[code]

As indicated in the error, this indicates that the control system, cannot SSH to the target.

[2019-02-18 20:17] ACampesinin commented on #41609
I like the warning too

On Mon, 18 Feb 2019, 18:14 Brian Coca <notifications@github.com wrote:

[2019-02-18 20:18] jborean93 commented on #47821
@tscholy the error you have indicates a different failure than this issue. The version you are running on also predates the refactor of win_chocolatey but I see you have still tried 2.7 anyway. Unfortunately the old error handling is potentially hiding the exception you are receiving. Are you able to try the devel version of win_chocolatey with `-vvv`, it should give you a proper exception and sta

[2019-02-18 20:21] KevinRiordan commented on #52504
[code]

[2019-02-18 20:26] sivel commented on #52504
Ok, the final error there is:

[code]

As you haven't specified a `remote_user`/`ansible_user` it is attempting to use your local user (or ssh_config) and key based auth that may have been specified in ssh_config.

As it stands you tried to authenticate as the user in the output you provided, it has tried to connect as the user `root`, and could not find any of the standard ssh private keys.

[2019-02-18 20:30] KevinRiordan commented on #52504
It is definitely due to password /pubkey settings. I made them both have the ssh key copies and ran again

[code]

[2019-02-18 20:31] KevinRiordan commented on #52504
but when i run  ansible -i inventory/mycluster/hosts.ini kube-node -m shell -a "whoami; uname -a" --become --become-user=root

[code]

[2019-02-18 20:39] KevinRiordan commented on #52504
problem solved had to go to hosts.ini create ansible_user=root

make sure that both servers have keys

[2019-02-18 20:51] sivel commented on #52504
If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-18 20:51] #52504 closed, assigned to nobody

[2019-02-18 20:51] alongchamps opened #52526 "vmware_host_firewall_facts does not return networks, only individual IPs"
##### SUMMARY
In the return values for vmware_host_firewall_facts, the information that is returned only brings back single IP addresses and not networks - both of these are distinct, valid properties off the ESXi host firewall rule.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_host_firewall_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

C

[2019-02-18 22:30] BarbzYHOOL commented on #27179
In fact, I can't even create any user with ansible because of this on mysql 5.7.

I just can't connect to mysql because it can only connects through root and I don't connect to my server with the root account (who does that?). I also tried to add "become: yes" to the role but it didn't do anything

[2019-02-18 23:10] gobins commented on #12320
Is there any update on this bug?

[2019-02-18 23:26] #51655 closed, assigned to nobody

[2019-02-19 00:06] oscherler commented on #27179
@BarbzYHOOL I’m writing a dev.to article about how to do it. Should be ready tomorrow.

[2019-02-19 00:27] #51102 closed, assigned to nobody

[2019-02-19 02:33] zikalino commented on #52181
@mooninite this should be fixed now. I have managed to reproduce issue.
fix is in devel and also created bacport to 2.7.

[2019-02-19 02:33] #52181 closed, assigned to nobody

[2019-02-19 03:50] kbreit opened #52549 "meraki_network - Integration tests should have variable for configuration template"
##### SUMMARY
`meraki_network` integration test has a fixed value for configuration templates. The configuration template should be a variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_network

##### ANSIBLE VERSION

[code]

[2019-02-19 04:00] OzNetNerd commented on #51880
Does the issue occur with [ELB Classic LB Facts](https://docs.ansible.com/ansible/latest/modules/elb_classic_lb_facts_module.html) too?

[2019-02-19 05:30] hypery2k commented on #49100
Yes, indeed: https://github.com/ansible/ansible/blob/fbf4e32b43550f67084dcc9b172da85e8adfaa0f/lib/ansible/module_utils/k8s/common.py#L192

[2019-02-19 06:52] RamrajSekar opened #52551 "ansible --version is throwing error"
Endup with below error while running ansible --version in CentOs 7.2

**OS Details:**
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"

**Error Log:**
[code]

[2019-02-19 07:30] yungezz commented on #52411
@yuwzho  could you pls have a look at this issue?

[2019-02-19 07:33] Akasurde commented on #52551
@RamrajSekar Thanks for reporting this issue. Could you please let us know Ansible installation method ?

[2019-02-19 08:08] Fred-sun commented on #51387
@zikalino

[2019-02-19 08:14] Fred-sun commented on #51335
@nomadcz VMSS extension has been support by #50709. Thanks!

[2019-02-19 08:16] Fred-sun commented on #51335
@yuwzho This issue has been fixed, could you can closed this? Thanks!

[2019-02-19 08:17] madeinoz67 commented on #38859
will close

[2019-02-19 08:17] #38859 closed, assigned to nobody

[2019-02-19 08:19] Fred-sun commented on #51324
@yuwzho Please help take a look this issue? Thanks!

[2019-02-19 08:26] bmalynovytch commented on #27179
@BarbzYHOOL you need to set `login_user` and `login_password` or `check_implicit_admin `

[2019-02-19 08:26] Fred-sun commented on #51321
@zikalino

[2019-02-19 08:31] Akasurde commented on #52526
resolved_by_pr #52554

[2019-02-19 08:44] #51303 closed, assigned to nobody

[2019-02-19 09:05] Fred-sun commented on #51021
@yuwzho

[2019-02-19 09:08] Fred-sun commented on #51062
@zikalino

[2019-02-19 09:11] zikalino commented on #51335
closing as fixed

[2019-02-19 09:11] #51335 closed, assigned to nobody

[2019-02-19 09:29] Dovry commented on #14468
Rebooting the target machine usually fixes this issue for me

Host:
- Vmware vm - Ubuntu 18.04.2 LTS

Target:
- Vmware vm - Ubuntu 18.04.2 LTS - Python 2.7.15rc1

[2019-02-19 09:53] Akasurde commented on #52381
resolved_by_pr #52557

[2019-02-19 09:58] thomasliddledba commented on #50832
@bmalynovytch - I tested this and it was a success.  Thanks!

[2019-02-19 09:58] #50832 closed, assigned to nobody

[2019-02-19 09:58] Akasurde commented on #52079
resolved_by_pr #52503

[2019-02-19 09:58] #52079 closed, assigned to nobody

[2019-02-19 09:59] mbert commented on #16885
Any update on this? I, too, would really like to build modular inventory files for defineing service groups used in all inventories (dev, testing, uat, productive).

Of course I could use sed and friends for generating the actual inventory files, but that would be an additional step and error-prone. I'd really appreciate an "include" feature for inventory files.

[2019-02-19 10:03] bmalynovytch commented on #50832
@thomasliddledba could you please add a `shipit` comment on the #45355 ?

[2019-02-19 10:03] Akasurde commented on #51240
@alongchamps I raised PR for #52526. I am OK with the data-structure provided in https://paste.fedoraproject.org/paste/-uwtWiXskSfNEGiSIRZNdw. Please go ahead with the changes and raise a PR, let me know. Thanks.

[2019-02-19 10:05] Akasurde commented on #51240
In case we lose pastebin in future, this is data-structure we have decided for new firewall rulesets

[code]

[2019-02-19 10:13] Akasurde commented on #52381
@kylejohnson Could you please check above PR and let me know if it works for you ?

needs_info

[2019-02-19 10:17] #22766 closed, assigned to nobody

[2019-02-19 10:27] RamrajSekar commented on #52551
@Akasurde Used yum install ansible

[2019-02-19 10:47] tscholy commented on #47821
@jborean93  ok thank you - I will try this out.

[2019-02-19 10:58] db0 opened #52561 "Handlers execute on all hosts when some hosts fail on a latter task, and there are 'always' tasks"
##### SUMMARY

I have a block with 2 tasks and 1 task in the 'always:' part. I also have a handler that should run when first task in the block is successful.

What happens is that when only some of the hosts in the _second_ task in the block fail, and there is an always: task, then that always task will clean the error state of the failed task as well (like in #15625), leading to the execution of

[2019-02-19 11:08] ReenaR opened #52562 "Unable to run ansible playbook from jenkins( jenkins installed on windows 10) but succesfully able to run from cygwin command shell"
##### SUMMARY
I am trying to run ansible playbook from jenkins.
Jenkins and ansible is installed in windows 10 machine and trying to execute the script on host machine( ubuntu running in virtual box) . Succesfully able to run the ansible playbook from cygwin to ubuntu host.
but while executing ansibple playbook from jenkins getting following errors,

C:\cygwin64\bin\ansible-playbook \home\testuser

[2019-02-19 11:08] CodeAbyss opened #52563 "pids is returning empty list for existing running process"
SUMMARY
pids returns empty list for existing process in running state.

ISSUE TYPE
- Bug Report

COMPONENT NAME
pids

ANSIBLE VERSION
ansible 2.8.0.dev0

OS / ENVIRONMENT
Windows 10 x64
Bug is valid for all OS it is supported on.

STEPS TO REPRODUCE
1. Pass "SVCHOST.exe" <case sensitive> to pids to get the respective PIDs of the process.

EXPECTED RESULTS
[PID]

ACTUAL RESULTS
[]

[2019-02-19 11:15] Akasurde commented on #52551
@RamrajSekar I am not able to reproduce this -

[code]
Make sure you have `python2-cryptography` package installed correctly.

needs_info

[2019-02-19 11:27] #52562 closed, assigned to nobody

[2019-02-19 11:32] jayooin commented on #49547
There is not --label in the default `docker swarm` commands. This is applied in a `docker node update` like specified here: https://docs.docker.com/engine/swarm/manage-nodes/.
Might be interesting to create another module docker_node .

[2019-02-19 11:47] javierg21 commented on #23450
Thanks a  lot for your analysis. Just wanted to mention that in my 2 tests I used different settings with the win_copy module, which where ntlm instead of kerberos (authenticating trough local user) and 5985 port.

[2019-02-19 11:50] Andersson007 commented on #46168
@gitm1993 I see now. Thank you! I think we should change fail to warning, maybe, to inform when the role doesn't exist in this case.

[2019-02-19 12:03] gangefors opened #52566 "vault_password_file can't be relative while ANSIBLE_VAULT_PASSWORD_FILE can"
##### SUMMARY

ansible.cfg option vault_password_file doesn't behave identical to environment variable ANSIBLE_VAULT_PASSWORD_FILE.
ANSIBLE_VAULT_PASSWORD_FILE can be a relative path, vault_password_file in ansible.cfg can not.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

debian stretch

##

[2019-02-19 12:05] #48473 closed, assigned to ganeshrn

[2019-02-19 12:14] jrdalrymple opened #52569 "na_ontap_user module role_name not idempotent"
##### SUMMARY
When trying to use the na_ontap_user role to modify the role of an existing user, the role is not changed. The task completes successfully and indicates "ok" instead of "changed". The outcome can be validated on the vserver indicating the user/application still is assigned to the earlier role.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_ontap_user module

##### ANSIBLE VE

[2019-02-19 12:19] RamrajSekar commented on #52551
Looks like intermittent issue able to get the version now, Thank you guys...

[root@ram]# ansible --version
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /bin/ansible
  python vers

[2019-02-19 12:19] #52551 closed, assigned to nobody

[2019-02-19 13:38] Andersson007 commented on #46168
@gitm1993  I tried to solve the problem there. Is it ok?

[2019-02-19 13:46] alongchamps commented on #51240
I'm in agreement with the data structure Akasurde has here and plan to implement that on vmware_host_firewall_manager.py. This lines up with what we have for the corresponding facts file.

[2019-02-19 14:26] akamac commented on #49820
Closed. Thanks!

[2019-02-19 14:26] #49820 closed, assigned to nobody

[2019-02-19 14:34] dnmvisser commented on #27800
I was also stuck but I'm now using to bootstrap a VPC with IPv6:

[code]

Obviously this requires `pip install awscli` etc.

[2019-02-19 14:46] sivel commented on #52566
Paths defined in ansible.cfg are relative to the ansible.cfg file, not relative to CWD, giving a predictable relative path.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-19 14:47] samdoran commented on #16885
The desired behavior can be achieved by using directories and/or symbolic links. We do not plan to implement include statements in inventory files.

To discuss this feature request further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-19 14:47] #16885 closed, assigned to nobody

[2019-02-19 14:50] angystardust commented on #52569
Hi @jrdalrymple recentrly the module `na_ontap_user_role` got a revamp with #49778. Can you please try to use the module module from master?
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/storage/netapp/na_ontap_user.py

[2019-02-19 15:00] tterranigma commented on #18430
The `paths` option of the lookup plugin should be enough, don't you think?

[2019-02-19 15:02] louwrentius commented on #15013
I have the same issue on ansible 2.7.7 still.

[2019-02-19 15:18] bcoca commented on #44374
i would recommend having a templated requirements.yml and generating it per job, instead of trying to add tempating to the requirements.yml parsing

[2019-02-19 15:49] s-hertel commented on #48109
I opened a PR to fix this - #52579. It needs to be tested, so if anyone experiencing this issue could verify the solution, I'd appreciate it.

[2019-02-19 16:04] #45630 closed, assigned to samccann

[2019-02-19 16:05] gangefors commented on #52566
Do you have any place in the documentation where this is specified?

I have found this, but I didn't know if it actually referred to the ansible.cfg file.
https://docs.ansible.com/ansible/2.7/user_guide/playbook_pathing.html

But in the section about the actual config file there is no mention of this, and that confused me to the point where I opened this issue.
https://docs.ansible.com/ansible/2.7

[2019-02-19 16:11] sivel commented on #52566
I've re-opened this issue, to track the progress of ensuring that we have documentation around relative pathing of values specified in the config file.

[2019-02-19 16:30] mooninite commented on #52181
Your change appears to have fixed it. Thanks!

[2019-02-19 16:36] greenyoda opened #52582 "Yum module failing on missing repository."
##### SUMMARY
Yum module failing on missing repository.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
* lib/ansible/modules/packaging/os/yum.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

hostnamectl (truncated output)
 Virtualization: docker
 Operating System: CentOS Linux 7 (Core)
 CPE OS Name: cpe:/o:centos:centos:7
 Kernel: Linux 3.10.0-957.1.3.e

[2019-02-19 16:43] samdoran commented on #49947
I am unable to duplicate this issue. Is it possible there is a problem with the API server you are targeting?

[code]

I see we are getting an `id` attribute back from the API:
[code]

needs_info

[2019-02-19 16:50] samdoran commented on #40664
This feature was added in Ansible 2.6 by #39758

[2019-02-19 16:50] #40664 closed, assigned to samdoran

[2019-02-19 16:52] stearz commented on #52232
We use the source field but are also receiving the error. We also get the error when using
`definition: "{{ lookup('template', item + '.j2' }}"`
as suggested.

The thrown error looks to me as if the module has problems parsing the api servers /version endpoints JSON. I can assure you though, that the API server answers with corrrect json.

Here is the error we get:

[code]

[2019-02-19 16:59] cwilkers opened #52585 "redhat_subscribe applies variable expansion to password"
##### SUMMARY

When using a password containing shell special characters, those characters are expanded during run_command instead of passed directly through.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redhat_subscribe register() function
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/redhat_subscription.py#L381

##### ANSIBLE VERSION

[code]

##### CONFI

[2019-02-19 17:06] BenjamenMeyer commented on #44827
@cailen do you have an example? I'm  get you're switching hosts kind of, but I'm not exactly following what you're doing.

[2019-02-19 17:09] bcoca commented on #44827
@cailen if vagrant is passing the ansilbe_user variable via -e, you CANNOT override it as variable precedence states 'extra_vars > set_fact', if vagrant was using -u instead, it would work.

[2019-02-19 17:10] bmalynovytch commented on #41116
A complete rewrite was done regarding credentials management in `mysql_user` in https://github.com/ansible/ansible/pull/45355
Could you give a try with this version and review / comment the PR to confirm if it fits your needs ?
cc @dungdm93 @jlozadad @seanharmer @Akasurde

[2019-02-19 17:16] bcoca commented on #52585
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Modules don't do variable expansion, this happens via Ansible core, so this is not a redhat_subscribe issue.  To avoid 'variable expans

[2019-02-19 17:16] #52585 closed, assigned to nobody

[2019-02-19 17:16] bmalynovytch commented on #41748
Should be fixed by #41904

[2019-02-19 17:18] bmalynovytch commented on #42870
Should be fixed by https://github.com/ansible/ansible/pull/45668

[2019-02-19 17:21] mglantz commented on #20347
It seems to me, that depending on how the AMI image has been built, different arguments must be passed as device_name. As I found out, on the RHEL 7 AMI, it is /dev/sda1.
To find out what the argument should be, I think you should check the volume created in the EC2 console and look for the field called _Attachment information_. In my example of the RHEL 7 AMI, it reads as follows:
[code]

Changin

[2019-02-19 17:22] bmalynovytch commented on #43255
A complete rewrite was done regarding credentials management in `mysql_user` in #45355
Could you give a try with this version and review / comment the PR to confirm if it fits your needs ?
cc @NielsH @Akasurde @jbruggem

[2019-02-19 17:23] bmalynovytch commented on #45207
A complete rewrite was done regarding credentials management in `mysql_user` in #45355
Could you give a try with this version and review / comment the PR to confirm if it fits your needs ?
cc @jadbaz @jborean93 @anotherjesse

[2019-02-19 17:26] mglantz commented on #20347
Extended root volume for RHEL 7 AMI:
[code]

[2019-02-19 17:26] bmalynovytch commented on #38216
@mysqlbox
A complete rewrite was done regarding credentials management in `mysql_user` in #45355
I actively use this version since a couple of months to set credentials and remove anonymous users without any problem.
Could you give a try with this version and review / comment the PR to confirm if it fits your needs ?

[2019-02-19 17:27] bmalynovytch commented on #29615
@larry-s
A complete rewrite was done regarding credentials management in `mysql_user` in #45355
Could you give a try with this version and review / comment the PR to confirm if it fits your needs ? (it should if I understand properly what you are facing)

[2019-02-19 17:31] DAgostinoLucas commented on #52232
Had exactly the same issue suddenly in prod. An upgrade could be the issue ?

[2019-02-19 17:36] BenjamenMeyer commented on #44827
I'm not using the command-line to do anything; everything is in the ansible files.

[2019-02-19 17:39] bmalynovytch commented on #41173
@dungdm93
A complete rewrite was done regarding credentials management in `mysql_user` in #45355
Could you give a try with this version and review / comment the PR to confirm that it fits your needs ?

[2019-02-19 17:58] angystardust commented on #49403
fixed_by #50992

[2019-02-19 17:58] #49403 closed, assigned to nobody

[2019-02-19 18:02] narayaniv opened #52589 "ios_config `replace: block` replaces the entire config block everytime when set to `match: exact`"
##### SUMMARY
ios_config `replace: block` replaces the entire config block when set to `match: exact` every time regardless of whether the config is already correct, when the config has no parent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Cisco,catalyst4948ef10GE, IOS, "15.2(3)E1"

##### DEPEND

[2019-02-19 18:04] sivel commented on #41116
!component =lib/ansible/modules/database/mysql/mysql_user.py

[2019-02-19 18:13] samdoran commented on #37411
I am unable to duplicate the thread pileup using the example playbook. I see no more than tow Python processes related to Ansible on the remote host, and they are cleaned up during the play execution.

[code]

I also do not believe that calling `close()` on the local connection plugin would have any meaningful effect. All that method call does is set the connected attribute to `False`. It does not

[2019-02-19 18:13] #37411 closed, assigned to samdoran

[2019-02-19 18:28] felixfontein commented on #49547
docker_node already exists, it will be available in Ansible 2.8 (see the merged PR linked above).

[2019-02-19 18:42] #51422 closed, assigned to nobody

[2019-02-19 19:02] rooftopcellist commented on #52047
This Issue can be closed now.

[2019-02-19 19:12] mglantz commented on #20347
If you check your instance root device field, it also indicates what value to choose, AFAIKS:
Example:
[code]

[2019-02-19 19:18] jrdalrymple commented on #52569
The outcome is the same.

Simply changing the role_name has no effect.
Changing the state to absent removes the login.
Removing the state parameter (defaulting to present) restores the login with the expected role.

[code]

Let me know if that wansn't the proposed process/solution.

For completeness sake, my actual task from the playbook:

[code]

and my "users" dictionary:

[code]

[2019-02-19 19:33] javiplx opened #52592 "Dependent roles installed when already available"
##### SUMMARY
When multiple role paths are configured, `ansible-galaxy` does install roles & dependencies if not available at the first path even when they are available in other paths

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]
Works as expected on 2.4.1.0. I've explicitly tested 2.5.0 because it's supposed to fix ansible/ansible#37144, which

[2019-02-19 19:38] bmalynovytch commented on #41116
bot_status

[2019-02-19 19:53] bmalynovytch commented on #41116
@gundalow there seem to be extraneous labels that should be removed: `utilities` and `inventory`.
could you remove them if the bot doesn't do it on its own ?
-label utilities
-label inventory

[2019-02-19 19:55] jwitko commented on #36738
I think this is actually a bigger problem.  I'm hitting this on some pretty standard usage of the module right now.   Example playbook:

[code]

The last task will fail with the following error:

[code]

Ansible is responsible for creating every file used in the certificate generation and I can confirm no files are being created as empty.

[2019-02-19 19:56] Moumoutaru commented on #49728
I can confirm. I ran into this as well.

[2019-02-19 19:58] BarbzYHOOL commented on #27179
I install mysql, then i run a task with mysql_user module and it can't connect:

  msg: 'unable to connect to database, check login_user and login_password are correct or /root/.my.cnf has the credentials. Exception message: (1698, u"Access denied for user ''root''@''localhost''")

If i don't set any user, it uses by default root. I can't set any password since root has no password

[code]

So bas

[2019-02-19 20:00] #52047 closed, assigned to nobody

[2019-02-19 20:06] bmalynovytch commented on #27179
Ok, thank you for the update, it's clearer now.
Could you give a try with #45355 ?
This PR is still not merged (needing more reviews and `shipit` commands) but adds `authentication_string` column management, which is not the case to the current module (not able to use recent versions of MySQL and MariaDB)

[2019-02-19 20:07] cwilkers commented on #52585
To clarify, I'm not talking about Jinja2 templating in a variable, but shell (e.g. sh or bash) variable expansion during the actual subscription-manager call (performed by the Ansible run_command() function)

Modules don't do variable expansion, but the shell called by run_command() does, and it can be turned off, but isn't in the redhat_subscribe register function.

I just tested locally, and add

[2019-02-19 20:13] bmalynovytch commented on #27179
The PR is related to MySQL and MariaDB, and probably also to Percona-server.

To try the module, just pull it in a `library` folder next to your playbook, it'll override the one in your current version of Ansible.

[2019-02-19 20:14] bmalynovytch commented on #27179
Yes, sadly

[2019-02-19 20:14] #52034 closed, assigned to nobody

[2019-02-19 20:16] acozine commented on #52034
The `-a` flag is now only for internal testing - see https://docs.ansible.com/ansible/devel/cli/ansible-doc.html?highlight=ansible%20doc#cmdoption-ansible-doc-a.

[2019-02-19 20:16] sivel opened #52595 "Remove ansible-doc -a"
##### SUMMARY
Remove `ansible-doc -a`

It was visibly documented as being for internal testing only, but is no longer used in our testing

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/doc.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### DEPENDENCY PROBLEMS

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### AC

[2019-02-19 20:19] samdoran commented on #52049
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-19 20:19] #52049 closed, assigned to nobody

[2019-02-19 20:19] sivel commented on #52046
!component =lib/ansible/modules/clustering/k8s/k8s.py

[2019-02-19 20:22] yaplej commented on #43861
Thanks for the update.  Looking forward to having this fixed so I no longer have to modify the DEFAULT_COMMENT_TOKENS each time I update.

[2019-02-19 20:24] #52073 closed, assigned to nobody

[2019-02-19 20:25] BarbzYHOOL commented on #27179
Ok but how do I pull the module? it's a PR for the entire ansible project @bmalynovytch

[2019-02-19 20:25] felixfontein opened #52596 "docker_image: improve options"
##### SUMMARY
(I've posted a similar version [earlier in the docker agenda/task list](https://github.com/ansible/community/issues/408#issuecomment-464465038).)

I'm planning to change the docker_image interface as follows. Please comment whether you like this or not, or if you think something else should be done (instead).

1. Add parameter `source` with options `build`, `load`, `pull` and `local`

[2019-02-19 20:26] sivel commented on #52082
!component =lib/ansible/modules/cloud/azure/azure_rm_keyvaultsecret.py

[2019-02-19 20:27] sivel commented on #52087
!component =lib/ansible/modules/clustering/k8s/k8s.py

[2019-02-19 20:28] draxxris opened #52597 "include_tasks & import_tasks erroneously attaches variable "item" and ignores loop_control"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Make a simple role `test_loop`

###### test_loop/tasks/main.yml
[code]

###### test_loop/tasks/nested.yml
[code]

##### EXPECTED RESULTS

I would expect one of two scenarios:
1. all three variables to be undefined, as no `with_items` is defined **(the preferred outcome)**
2.

[2019-02-19 20:30] bmalynovytch commented on #27179
In the PR, click "Files changed", then click "View file" on the `mysql_user.py` file, then click "Raw" to get the link to the file at the right version: https://raw.githubusercontent.com/ansible/ansible/402ca8c06ab3d26b4cec8ab5fd9ddd64deffcaee/lib/ansible/modules/database/mysql/mysql_user.py

[2019-02-19 20:31] polski-g commented on #52597
Note that even with no `loop_control` stanza for both import/include also results in `item` being `test_loop`. I only included them to show that the ansible warning you get for having a `with_items` stanza inside of a task defined in `nested.yml` ("The loop variable 'item' is already in use. You should set the loop_var value in the loop_control option for the task to something else...") is nonsens

[2019-02-19 20:35] BarbzYHOOL commented on #27179
So I just put this file in a "library" directory?

[2019-02-19 20:38] bmalynovytch commented on #27179
Yes

[2019-02-19 20:41] BarbzYHOOL commented on #27179
ok so I have this
[code]

Now I run this task in a role:

[code]

[2019-02-19 20:42] sivel commented on #52188
The AWS S3 API returns an MD5 hash, that we need to verify, so the only way to really get around this, is to disable all of this extra functionality to compare hashes on FIPS machines.

[2019-02-19 20:42] sivel commented on #52249
!component =lib/ansible/modules/cloud/amazon/ec2_elb_lb.py

[2019-02-19 20:43] basictheprogram opened #52598 "paramiko 2.4.2 CryptographyDeprecationWarning"
##### SUMMARY

When using ansible with paramiko I receive CryptographyDeprecationWarning

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

paramiko

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible management host: macOS 10.14.3
Ansible management hosts: Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]
[code]

##### EXPECTED RESULTS

Playbook would run

[2019-02-19 20:43] kylesloan commented on #52381
I think you meant to tag me and not mr kyle johnson.  Anyway I did copy over the one file that was modified on the PR and it worked!  Thanks for the quick response.  Not sure if you want me to close this or not until this is merged?

[2019-02-19 20:45] bmalynovytch commented on #27179
Not necessary as it is probably unrelated

[2019-02-19 20:48] BarbzYHOOL commented on #27179
well it doesn't seem to work for that issue

[2019-02-19 20:50] bmalynovytch commented on #27179
Got it !
Try setting `become: true` and `become_user: root`.
The connection can only work if you run the connection being `root` (system, not db user).

[2019-02-19 20:53] BarbzYHOOL commented on #27179
Same thing (I put the task directly in the playbook instead)

[2019-02-19 20:54] sivel commented on #52244
Can you clarify what the issue is that we are trying to fix?  Is it that the information that is sent to stdout before the inventory response is breaking JSON parsing?

I believe that AWX/Tower already had code to remove leading non-JSON lines, which could strip them, and separate the verbose output before the JSON output.

We don't believe we can really move that information to stderr, as the ver

[2019-02-19 20:55] nemonik opened #52599 "Checksum broke on FIPS enabled system"
##### SUMMARY

It appears if you enable FIPS via

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/security_guide/chap-federal_standards_and_regulations

to address

[code]

##### ISSUE TYPE

The algorithms are limited to sha1 and oddly enough md5.

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

Problem is at line 142 in the use of `pop`  in `/usr/lib/pyt

[2019-02-19 20:56] oscherler commented on #27179
Here is my post. Give it a try, and comment there if you’re still experiencing problems.

[Changing the MySQL root User from auth_socket to Password Authentication Using Ansible](https://dev.to/oscherler/changing-the-mysql-root-user-from-authsocket-to-password-authentication-using-ansible-3l5m)

[2019-02-19 20:57] samdoran commented on #52308
needs_info

[2019-02-19 20:57] bcoca commented on #52308
needs_info
needs_template

[2019-02-19 20:58] bmalynovytch commented on #27179
Ok, so this is weird: the error says you connect to `localhost`, which means that you used the socket to connect (MySQL internal transforms `localhost` in `use the socket`, and not `use network on 127.0.0.1`), without password, which is what you want.

@BarbzYHOOL could you run it again, with `become: true` and `become_user: root` and `-vvv` ?
@oscherler using shell commands as a workaround should

[2019-02-19 20:58] basictheprogram commented on #52598
Every so often I'll get the following error. Not sure if it's related to this issue.
[code]

[2019-02-19 21:01] BarbzYHOOL commented on #27179
[code]

[2019-02-19 21:02] bmalynovytch commented on #27179
Ok, you should then set:
[code]

[2019-02-19 21:05] BarbzYHOOL commented on #27179
lol @bmalynovytch

[code]

[2019-02-19 21:06] carchi8py commented on #52569
Yes that looks like bug on our side. It looks like we are missing role on a modify.

[2019-02-19 21:07] Routhinator commented on #45745
Tried this with ansible 2.7 both in python2 and python3, still the same behaviour.

[2019-02-19 21:07] bmalynovytch commented on #27179
Ok, new try (a bit cumbersome):
[code]

[2019-02-19 21:09] bcoca commented on #52339
can you test with current devel? #48306 shoudl have fixed this

[2019-02-19 21:11] BarbzYHOOL commented on #27179
[code]

[2019-02-19 21:12] #52321 closed, assigned to nobody

[2019-02-19 21:14] bmalynovytch commented on #27179
Ok, definitely, there's something wrong.
Can you confirm that the version you used for your last tests is the one pulled from #45355 ?
I think you gave enough feedback to help fix it.
I suppose it is somewhere at the time we check the connection, we don't provide settings properly.
(assertion waiting your confirmations :) )

[2019-02-19 21:15] samdoran commented on #52354
This would only work for a narrow use case and would introduce more problems than it solves.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-19 21:15] #52354 closed, assigned to nobody

[2019-02-19 21:15] sivel commented on #52597
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

`loop_control` is only useful applied to the same task that has the `loop` or `with_X` keywords.  `loop_control` on a non-looped task i

[2019-02-19 21:15] #52597 closed, assigned to nobody

[2019-02-19 21:16] basictheprogram commented on #52598
Guessing this is a paramiko problem?

  * https://github.com/paramiko/paramiko/issues/1386
  * https://github.com/paramiko/paramiko/pull/1379

[2019-02-19 21:18] BarbzYHOOL commented on #27179
ok my bad, so I purged and reinstalled percona like 5 times today to test different stuff and see how it worked manually and with ansible, and when I tried your plugin I had set a password to root and forgot about it so I verified because you can't suggest me 4 things and be wrong, it must be my installation.

So yes, now it works with your plugin!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!

[2019-02-19 21:31] bmalynovytch commented on #27179
Great 😄

[2019-02-19 21:33] polski-g commented on #52597
I very much agree. But why is `item` defined at all in the included and/or imported tasks? No `loop` was utilized. Hence why I said my (1) option was the preferred expected outcome.

[2019-02-19 21:33] samdoran commented on #52598
This does appear to be a problem with Paramiko and not Ansible.

[2019-02-19 21:33] #52598 closed, assigned to nobody

[2019-02-19 21:33] sivel commented on #52592
Closing per the comment in https://github.com/ansible/ansible/pull/52593

[2019-02-19 21:33] #52592 closed, assigned to nobody

[2019-02-19 21:36] sivel commented on #52599
This has been resolved by https://github.com/ansible/ansible/pull/51357

[2019-02-19 21:36] #52599 closed, assigned to nobody

[2019-02-19 21:39] bcoca commented on #49658
Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us that you've taken time to contribute.

Unfortunately, we are going to decline this feature because groups are not meant to be cacheable. If you want to reuse dynamic group creation across plays, use the constructed inventory plugin. https://docs.ansible.com/ansible/latest/plugins/inventory/constructed.html

Howev

[2019-02-19 21:39] #49658 closed, assigned to nobody

[2019-02-19 21:44] BenjamenMeyer commented on #44827
okay - found my issue; I'm testing under Vagrant and Vagrant does an explicit callout using a specific user on the command-line. Probably going to have to separate Vagrant and Ansible so Vagrant just sets up the base system, but doesn't actually run any of the ansible scripts.

[2019-02-19 21:56] bcoca commented on #52323
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The new syntax does not use the old duplicates handling as they have explicit options to handle duplicates.

In the future, this might

[2019-02-19 21:56] #52323 closed, assigned to bcoca

[2019-02-19 22:04] #51846 closed, assigned to nobody

[2019-02-19 22:07] dmkoster commented on #52188
I understand that the lack of MD5 prohibits a large number of the operations.
I would like to see the path where MD5 is not require (overwrite) be allowed. My reading of the source code is that this comparison is unnecessary when overwrite is set.
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/aws_s3.py#L854

I'm trying to find documentation on how AWS GovCloud S3 i

[2019-02-19 22:16] #52331 closed, assigned to nobody

[2019-02-19 22:29] #52595 closed, assigned to nobody

[2019-02-19 22:37] jborean93 commented on #52331
This has been fixed in devel and a backport PR has been made to fix this in the 2.7.x releases. I've also double checked that dealing with packages that don't conform to the `[Version]` structure also work. We even have existing integration tests for this scenario https://github.com/ansible/ansible/blob/devel/test/integration/targets/win_chocolatey/tasks/main.yml#L32.

[2019-02-19 22:39] karthi81 commented on #46432
Issue is still perisisting:

(dc_infra_ansible) [root@st2vagrant dc_infra_ansible]# ansible psh-bgl-rmt-1-p.cisco.com -m win_ping -vvvvvvv
ansible 2.7.4
  config file = /opt/stackstorm/packs/dc_infra_ansible/ansible.cfg
  configured module search path = ['/etc/ansible/library']
  ansible python module location = /opt/stackstorm/virtualenvs/dc_infra_ansible/lib/python3.6/site-packages/ansible-2.7.4

[2019-02-19 22:40] karthi81 commented on #46432
I can test the WinRM from my MAC.

KKARUNAM-M-91JM:~ kkarunam$  nc -z -w1 psh-bgl-rmt-1-p.cisco.com 5985;echo $?
Connection to psh-bgl-rmt-1-p.cisco.com port 5985 [tcp/wsman] succeeded!
0
KKARUNAM-M-91JM:~ kkarunam$  nc -z -w1 psh-bgl-rmt-1-p.cisco.com 5986;echo $?
Connection to psh-bgl-rmt-1-p.cisco.com port 5986 [tcp/wsmans] succeeded!
0
KKARUNAM-M-91JM:~ kkarunam$

[2019-02-19 22:40] karthi81 commented on #46432
Anybody has any idea?

[2019-02-19 22:41] devster31 opened #52607 "Filter realpath not resolving links"
##### SUMMARY
Using the `realpath` filter does not seem to yield the path of the file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
filter:realpath

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.2 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-02-19 23:39] rangas26 commented on #52127
I have seen the same issue and it intermittently fails with the following error.

Saturday 16 February 2019  14:26:34 +0000 (0:00:00.031)       0:02:05.876 *****
changed: [localhost] => (item={'device': u'/dev/sdz', 'id': u'vol-1'})
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: '/dev/sdy'
failed: [localhost] (item={'device': u'/dev/sdy',

[2019-02-19 23:42] willthames commented on #52046
Further to what @djzager said, there's a [blog post](https://willthames.github.io/2019/01/28/immutable-kubernetes-configuration-with-ansible.html) and a [conference talk](https://www.ansible.com/managing-kubernetes-is-easy-with-ansible) on using immutable configmaps with ansible

[2019-02-19 23:59] cailen commented on #44827
So first off thank you for the response @bcoca. When I was running into this (and still am) is when I'm using Jenkins build params. I was passing in the vars as `extra_vars` (`-e`) because I think that's the only way you can? I haven't tried `-u` though so that may be really helpful if the playbook cli will accept that. What is happening is I'm having more people than just myself go through and do

[2019-02-20 01:24] AshtonDavis opened #52609 "ec2_group module poorly handles new rule additions"
##### SUMMARY
The ec2_group module currently does a fine job of creating a security group, but a poor job of managing rules after the fact. Issues include requiring name AND description for updating, no support for using sg id instead (except when used with absent), and rules being purged _by default_.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ec2_group

##### ADDITIONAL INFORMATION
C

[2019-02-20 01:39] Akasurde commented on #52381
@kylesloan I am extremely sorry, I meant to tag you in the last comment. I will merge the PR and that will close this issue automatically (using GH workflow). Thanks for feedback and testing the PR.

[2019-02-20 02:36] Fred-sun commented on #50443
kindly ping

[2019-02-20 02:40] Akasurde commented on #51858
@anis016 Do you want to try this ? Thanks.

[2019-02-20 02:40] dachshund-digital commented on #19814
I am doing all of the above... physical provisioning, virtual container provision, I am even working on methods to mass deploy micro-controllers like the Raspberry Pi.  This a variant of the same problem, being able to drive hostname change from a logical and efficient method driven by DHCP.  The change to localhost is a side effect of how Raspbian/Debian default during an unattended/preseed insta

[2019-02-20 03:00] #14393 closed, assigned to nobody

[2019-02-20 03:00] #24525 closed, assigned to nobody

[2019-02-20 03:00] #20346 closed, assigned to jimi-c

[2019-02-20 03:00] #31245 closed, assigned to jimi-c

[2019-02-20 03:09] Fred-sun commented on #49659
@zikalino

[2019-02-20 04:41] zikalino commented on #51021
@JonTheNiceGuy I just created a pr for this module here

https://github.com/ansible/ansible/pull/52611

[2019-02-20 05:43] ryanmerolle opened #52624 "allow success and failed msgs to include dictionaries"
##### SUMMARY
Add functionality for assert module (assert.py) to take dictionary for msg (success and failed). Right now it does not: `{"msg": "Incorrect type for fail_msg, expected string and got <type 'dict'>"}`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible/plugins/action/assert.py

##### ADDITIONAL INFORMATION
The thought is that when asserting a pre and post check for some pla

[2019-02-20 05:47] ryanmerolle commented on #52624
looping in recent contributors: @quater @mkczuk @bcoca @Im0 @HD650

[2019-02-20 06:02] Fred-sun commented on #51021
resolved_by_pr #52611 , It has been merged, can be closed!

[2019-02-20 06:46] Fred-sun commented on #49180
@zikalino

[2019-02-20 06:52] Fred-sun commented on #40857
@zikalino

[2019-02-20 06:54] Fred-sun commented on #49281
@zikalino

[2019-02-20 07:44] mback2k opened #52625 "cyberarkpassword: TypeError: a bytes-like object is required, not 'str'"
##### SUMMARY
Lookup cyberarkpassword results in TypeError: a bytes-like object is required, not 'str' with Python 3.5.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cyberarkpassword lookup plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Python 3.5 on Debian Stretch

##### STEPS TO REPRODUCE

Use a pre-task like the following in a playbook to fetch

[2019-02-20 07:55] Asgoret commented on #19391
Failed. Workaround doesn't work.
@vre can you re-open issue?
Task:
[code]
Error:
[code]

[2019-02-20 07:57] ghost opened #52627 "java_cert bug"
##### SUMMARY

Task require variable but they are marked as not required.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 java_cert

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

alias removed from keystore

##### ACTUAL RESULTS

fatal: [host]: FAILED! => {"changed": false, "msg": "one of the foll

[2019-02-20 09:01] adamsem commented on #52627
Also I think good idea is to have some list option to register alias. Right now When alias does not exist jog is failing.

[2019-02-20 09:02] Asgoret opened #52632 "Jinja2 doesn't skip tasks if use when"
##### SUMMARY
I want skip task, but jinja2 module can't skip.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS
[code]

##### STEPS TO REPRODUCE
Run this task.

Bug task:
[code]

##### EXPECTED RESULTS
Task skipped because contents is undefined.

##### ACTUAL RESULTS
Task failed

[code]

[2019-02-20 09:02] stearz commented on #52232
@DAgostinoLucas Did you manage to fix it?

We are using AmazonLinux (2018.03).

[2019-02-20 09:24] varac opened #52633 "Use callback_whitelist in python API"
##### SUMMARY

I'd like to use `profile_tasks, timer` as `callback_whitelist` to get detailed profiling information about the tasks in a playbook. `ansible-playbook` can make use of these callback plugins an they are quite useful.
However, I can't find a way of using them from the python API.

##### ISSUE TYPE

- Feature Request

##### COMPONENT NAME

- Python API
- Callback plugins: `timer`, `pro

[2019-02-20 09:35] louwrentius commented on #29285
Same issue with Ansible 2.7.7 :(

[2019-02-20 09:43] db0 commented on #40140
I can confirm that this behaviour persists in ansible 2.7.7

[code]

[2019-02-20 09:50] T1loc commented on #42407
No news about this documentation ?
Every time I run my ansible playbook all my rules are deallocated, it's really annoying :(

Should I open a new issue for that ?

[2019-02-20 09:51] Duologic opened #52635 "Use __inputs fields in grafana_dashboard_module"
##### SUMMARY
Grafana dashboard can be exported or imported with __inputs fields for the datasources and other variables. `grafana_dashboard_module` should benefit from this feature.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
[lib/ansible/modules/monitoring/grafana_dashboard.py
](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/monitoring/grafana_dashboard.py)

##### A

[2019-02-20 09:54] planet-winter commented on #52495
@mattclay thank you for the details provided. My bad.

[2019-02-20 09:54] #52495 closed, assigned to nobody

[2019-02-20 10:03] Duologic opened #52636 "Import dashboards from Grafana community dashboards"
##### SUMMARY
Import [Grafana community dashboards](https://grafana.com/dashboards) directly with `grafana_dashboard_module`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
[lib/ansible/modules/monitoring/grafana_dashboard.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/monitoring/grafana_dashboard.py)

##### ADDITIONAL INFORMATION
[Grafana community dashboards](https

[2019-02-20 10:34] imjoseangel opened #52637 "Error Creating a Secondary Disk from Template in VMWare with vmware_guest"
##### SUMMARY
Error Creating a Secondary Disk from Template in VMWare with `vmware_guest`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (Core)

##### STEPS TO REPRODUCE

Create VM from Template specifying additional disk:

[code]

##### EXPECTED RESULTS

Create Dis

[2019-02-20 10:34] DAgostinoLucas commented on #52232
@stearz, thanks for reaching out.
Finally yes, after a lot of manipulation with our Openshift environment, I had to precise `host:` parameter for `k8s` and `k8s_facts` module (so that it knows to which API send queries). However, reported error  "No JSON object could be decoded" wasn't really helpful to understand what's wrong. I don't know if it will be fixed in a future release?

[2019-02-20 10:38] imjoseangel commented on #52637
Line

[code]
is the culprit

So

[code]

Needs to be also when copying from template

[2019-02-20 10:40] graythomp commented on #42064
Fixed for me by adding
Requires=dbus.service to /lib/systemd/system/vmtoolsd.service file at the end of the [Unit] section. This is Centos7.

[Unit]
Description=Service for virtual machines hosted on VMware
Documentation=http://github.com/vmware/open-vm-tools
ConditionVirtualization=vmware
Requires=vgauthd.service
After=vgauthd.service
Requires=dbus.service

George

[2019-02-20 10:53] Akasurde commented on #52637
@imjoseangel Thanks for reporting this issue. Would you be interested in raising a PR with your findings ? Thanks.

[2019-02-20 11:02] CodeAbyss commented on #52563
https://github.com/ansible/ansible/pull/52564/commits/755e839e4d687ddb88f9e2f67a137aa5d10225f9

[2019-02-20 11:09] JustasStankunas commented on #52337
I am facing same issue. my secret contains `+` & `=` from special symbols. tried passing it with single quotes or double quotes, but that did not helped. changed secret to different one (having single special character `#`) and it works fine. changed second time to one that has `=` & `/` and it also works.

[2019-02-20 11:13] Tohaker commented on #52337
Could possibly be the '+' doing it. I haven't tried changing ours yet, but ours contained one whichs stopped it working.

[2019-02-20 11:17] Andersson007 commented on #23657
relates to https://github.com/ansible/ansible/pull/51073

[2019-02-20 11:18] amacmurr opened #52639 "ovirt_cluster needs to provide firewall_type and gluster_tuned_profile parameters."
##### SUMMARY
In using the ovirt_cluster module to create a cluster to support GlusterFS, I found I was unable to modify the firewall_type and  gluster_tuned_profile attributes of the cluster.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Applies to the ovirt_cluster module.

##### ANSIBLE VERSION
ansible 2.7.7
  config file = /vagrant/CSS_UpShift/css_upshift/ansible/ansible.cfg
  configure

[2019-02-20 11:24] gcoupelant commented on #45105
It is not working with `gcp_compute.py` because the inventory plugin uses a mocked `GcpModule` https://github.com/ansible/ansible/blob/d75f118b5e7687bc1401ad7d827367ef5c24e937/lib/ansible/plugins/inventory/gcp_compute.py#L93-L98 which doesn't have the argument specs (and their fallbacks) setup (https://github.com/ansible/ansible/blob/d75f118b5e7687bc1401ad7d827367ef5c24e937/lib/ansible/module_util

[2019-02-20 11:31] jborean93 opened #52640 "scp: fail on newer OpenSSH builds - protocol error: filename does not match request"
##### SUMMARY
A newer release of OpenSSH has included the commit https://github.com/openssh/openssh-portable/commit/3d896c157c722bc47adca51a58dca859225b5874 which adds validation around the file name returned by the server. This causes issues when scp is used to fetch a file as Ansible will use single quotes around the path causing a validation failure.

We've currently started to see this issue i

[2019-02-20 11:38] willthames commented on #52232
I have no idea what's going on here, and without access to the cluster it's difficult to debug. You also provide nowhere near enough information about the cluster - what version of openshift are you running? Has this worked previously?

I would suggest following [standard Ansible debugging practices](https://docs.ansible.com/ansible/latest/dev_guide/debugging.html) and set a breakpoint just before

[2019-02-20 11:50] imjoseangel commented on #52637
Yep, I'm on it :)

[2019-02-20 11:52] Darknight123 opened #52641 "Ansible playbook powershell script remote execution : inconsistent output"
##### SUMMARY

We are trying to execute powershell script through ansible-playbook via win_shell module. Where script has multiple checks and found that for many cases we are getting inconsistent output when run from ansible server. Whereas same script if run locally gives consistent output. For eg - one of the command inside powershell is finding a localuser using command - "net localgroup Admini

[2019-02-20 12:01] Akasurde commented on #52637
@imjoseangel Thanks.

[2019-02-20 12:14] zikalino commented on #51021
closing as it's merged

[2019-02-20 12:14] #51021 closed, assigned to nobody

[2019-02-20 12:15] tlofreso commented on #52339
FYI, running devel branch, now receiving the following when executing the playbook:
[code]

[2019-02-20 12:25] NilashishC commented on #52339
cc @Qalthos - maybe related to the enable become plugin change?

[2019-02-20 12:27] graythomp commented on #42064
Yes, that worked with one playbook but another exhibited the same problem which was solved by removing the below entry from the playbook:

        networks:
        - name: VM Network
          type: dhcp
          start_connected: True

[2019-02-20 12:31] tlofreso commented on #52339
Just ran without `ansible_become` / `ansible_become_method` and playbook executes as it should.

[2019-02-20 12:45] mkrizek commented on #52632
This should do what you want:
[code]

needs_info

[2019-02-20 12:45] oolongbrothers commented on #51481
@gundalow Together with the bug report I had created a Pull Request https://github.com/ansible/ansible/pull/51482 fixing this issue, which is also referenced in above.
I thought that this would be the proper way to do it. But maybe I should refrain from doing so in future since it did not help get attention to my PR, it rather created confusion and duplication of effort since it was not clear that

[2019-02-20 12:47] Tomorrow9 commented on #51826
Hi, anyone is working on this? If not, I'll take a look at this. Thanks.

[2019-02-20 12:50] Tomorrow9 commented on #50739
Hi, if no one is working on this, I'll try to make this more clear. Thanks.

[2019-02-20 13:08] Asgoret commented on #52632
@mkrizek Yeah...it's work, but why `when` doesn't work?

[2019-02-20 13:22] trishnaguha commented on #52206
@Kloperations will you please share your Ansible playbook, variable file where have set the timeout values.

[2019-02-20 13:24] Dhina92 commented on #34135
Hi Matt Davis,

Can yu please help me with the combination of using aws_s3 with mode=geturl with win_get_url.
Can I get some example. I have to copy exe from s3 to target Windows machine. Right now I am using s3 to local copy. And using win_copy to target machine which is very slow

[2019-02-20 13:27] oolongbrothers commented on #51485
This has been fixed by #52010 in devel.

[2019-02-20 13:27] #51485 closed, assigned to nobody

[2019-02-20 13:39] xmadsen commented on #50937
I will have a pull request fixing this ready in the next day or two.

(fyi @samerhaj)

[2019-02-20 13:48] oolongbrothers commented on #41996
@ekultails Thanks for your implementation of the feature. I have had a look at it and started to verify it by creating integration tests covering the new features. However, I realised that the tests take way too long to run now. Like 20 minutes when testing both py2/3 and Fedora 28/Ubuntu 18.04! So I need to rewrite the majority of them as unit tests. On my todo-list is also rewriting the integrat

[2019-02-20 13:59] MarkusTeufelberger commented on #33457
In my opinion a return value like that this is not necessary at all, since the task will fail and you can just act on the standard return value of `failed: true/false`.

[2019-02-20 14:00] ewarnke commented on #14706
This just bit us as well.  We wanted to remove links but in one case it was an actual directory and got wiped due to using rmtree rather than failing with rm since recursive was not set.  This behavior is counter intuitive considering links are properly handled.

[2019-02-20 14:05] MarkusTeufelberger commented on #32038
I disagree that this is a bug at all, it is expected behavior to create a key with the specified length if it doesn't exist yet. At most there could/should(?) be a `backup: true/false` parameter that works like the one in the `copy` module for example to prevent someone from removing a key that is actually still in use and has some expensive metadata (like a certificate) attached. The key should s

[2019-02-20 14:08] laurent-perrin opened #52647 "Unable to authenticate using nxapi"
##### SUMMARY
I'm trying to use network automation as described here: https://docs.ansible.com/ansible/latest/network/user_guide/platform_nxos.html#using-nx-api-in-ansible-2-6
But I got an "Unauthorized" error message.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos modules using nxapi connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu

[2019-02-20 14:08] pierrehenrymuller opened #52648 "Conditionnal float number comparaison from text"
##### SUMMARY
Comparing two floating numbers from a text conversion with the float filter does not work when the two numbers have different orders of magnitude.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
If I compare two numbers like 90.5 and 110.5 then the comparison no longer works and 110.0 is considered smaller than 90.0.
With two differents orders of magnitude between tens and hundr

[2019-02-20 14:14] chewdevs commented on #44710
Hi,
I just tested it and this issue is solved.

[2019-02-20 14:14] chewdevs commented on #44710
Hi,
I just tested it and this issue is solved.

Thanks !

[2019-02-20 14:35] piccardi opened #52651 "known_host module fails tryin to install a @cert-authority key using an IP as name"
##### SUMMARY

Trying to insert a @cert-authority line fails if I use an IP

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

known_hosts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.2 LTS, Mate desktop

##### STEPS TO REPRODUCE

Just use a task like the one on the example below, and it fails.

[code]
Gives:

[code]

Note, if I run instead:

[2019-02-20 14:41] dagwieers commented on #14706
@ewamke Please open a new ticket so we can track this specific issue where a recursive delete is attempted when `recurse` was not set.

[2019-02-20 15:00] ewarnke opened #52653 "Modile file, State=absent ignores recursive=false and does rmtree automatically for directory"
##### SUMMARY
File module ignores recursive=no and force=no and does rmtree on previous state=directory state=absent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
File module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

We have a large number of hosts and encountered this when removing links across our inventory.  One host t

[2019-02-20 15:08] ewarnke commented on #14706
opened #52653 with proposed pull request to make the module respect recuse=false.

[2019-02-20 15:16] graythomp commented on #42064
I've removed openvm-tools and installed vmware tools. Everything now works perfectly even for setting static IP address

[2019-02-20 15:41] #44065 closed, assigned to nobody

[2019-02-20 15:57] #43351 closed, assigned to nobody

[2019-02-20 15:57] #48706 closed, assigned to nobody

[2019-02-20 15:59] Akasurde commented on #50989
Closing this issue as PR is merged. If issue persists, please feel free to re-open.

[2019-02-20 15:59] #50989 closed, assigned to nobody

[2019-02-20 16:08] spike77453 opened #52658 "Setting one time boot to Pxe results in failed boot when UEFI is enabled"
##### SUMMARY

Setting one time boot to Pxe results in failed boot on Dell PowerEdge R640 (Bios Version 1.6.13) when UEFI is enabled.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module_utils/redfish_utils.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Dell PowerEdge R640
Bios version 1.6.13 (which should be the latest)
iDRAC Firmware Version 3.21.

[2019-02-20 16:18] valeriodelbello commented on #44374
What is the suggested way to do that?
Different branches for each `requirements.yml` template with multiple cloned job templates/projects on AWX/Tower?
Some custom code on AWX/Tower internal playbooks?

[2019-02-20 16:24] db0 commented on #40140
I have traced this issue in the code of lineinfile.py and it seems to be caused by the way ansible modules are threaded and the timing of those threads.

Specifically, when the if in line 245 is called `if not os.path.exists(b_dest):` then at apparenty random times, it will return `False`, even if the file has already been created via the call to `write_changes()` in line 388 via a previous module

[2019-02-20 16:26] monsterry commented on #52323
Im am very sorry, that this issue was closed, as I changed the setup as follows and still get the results mentionend above:

[code]

And
[code]

Btw I tested with `no` instead of `False` same result. When looking at the integration tests I can't see any integration test for `import_role` or `include_role` that could be a good example on how to avoid deduplication. Also the issue for `--list-tasks`

[2019-02-20 16:27] #41040 closed, assigned to rcarrillocruz

[2019-02-20 16:37] anis016 commented on #51858
@Akasurde .. yes! I want to work on this. Thank you for tagging me.

How much I understand is outlined as follows.

* According to the document: **This is required for updating, removing or scheduling downtime for hosts if 'displayname' isn't specified (target=host action=update action=remove action=sdt).**

However, from the source code, if **collector** param is not specified then it should fail

[2019-02-20 16:39] sivel commented on #52633
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2019-02-20 16:39] #52633 closed, assigned to nobody

[2019-02-20 16:45] Akasurde commented on #51858
@anis016 What does logicmonitor [developer API](https://www.logicmonitor.com/support/#developer-guides) says ?

[2019-02-20 16:52] #51421 closed, assigned to nobody

[2019-02-20 17:09] wedi opened #52663 "Make openssh_keypair return public key"
##### SUMMARY
I'd like to suggets adding the public key to `openssh_keypair` return values.
This is helpful when generating a SSH key pair and distribute the resulting public key. At the moment one needs to run a command task that outputs keyfile.pub and use its stdout to get hold of the public key. This could be much more elegant.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
openssh_key

[2019-02-20 17:09] mikel632 opened #52664 "Add breakout cable support to Cisco ACI modules"
##### SUMMARY

Would like the aci modules to support breakout cables. Breakout enables a 40 Gigabit (Gb) port to be split into four independent and logical 10Gb ports or a 100Gb port to be split into four independent and logical 25Gb ports. When using a breakout cable, you will need the ability to configure subports. The options for "fromSubPort" and "toSubPort" will need to be added when using th

[2019-02-20 17:10] MichalTaratuta commented on #50195
I had the same problem with his module however after closer inspection of the way how Vmware vCenter process storage devices for vmfs. I have come to conclusion that although annoying this is not a problem with the module.

It's VMware feature(or a bug depends how you look at it) that automatically mounts Datastore on the esx host when new storage device had been added(to esx) and the identifier m

[2019-02-20 17:16] sivel commented on #52648
Due to how ansible and jinja2 interact, the following lines still result in strings:

[code]

This can be seen with the following task:

[code]

This displays:

[code]

As such, when comparing these, it is done as alphanumeric comparison, and `'90.5'` is greater than `'110.5'` in string comparison.

You have a few options.  Utilize the `version` comparison test (https://docs.ansible.com/ansible/la

[2019-02-20 17:16] #52648 closed, assigned to nobody

[2019-02-20 17:16] BarbzYHOOL commented on #27179
@bmalynovytch Your PR allows to change the password (i made sure to retry) but my original issue was because I had not set `login_unix_socket: /var/run/mysqld/mysqld.sock` since I didn't know what it was for.

Why isn't this the default to avoid this stupid waste of time? wouldn't you mind adding it to your PR?

In the end, I think the issue here is already fixed by the "login_unix_socket" paramet

[2019-02-20 17:19] sivel commented on #52632
`when` is evaluated after `loop` to allow you to apply the `when` statement to each iteration.

As such, the `loop` statement must always be able to evaluate, regardless of the `when` statement.

This is documented at: https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.ne

[2019-02-20 17:19] #52632 closed, assigned to nobody

[2019-02-20 17:20] sivel commented on #52607
The `realpath` filter is executed locally on the ansible controller and as such can only expand the link if the file exists locally.

Whereas the `command` module executes on the target host.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-20 17:20] #52607 closed, assigned to nobody

[2019-02-20 17:32] bmalynovytch commented on #27179
@BarbzYHOOL Thank you for the update.
I suggest you create a new issue.
You're right in the fact that we should be clearer on the reason why we didn't manage to authenticate, when using `localhost`, as it should be using the unix socket.

[2019-02-20 17:42] BarbzYHOOL commented on #27179
(it's about this issue, so it would be kind of a duplicate)

[2019-02-20 17:46] acozine opened #52666 "pyFG should be a requirement rather than a note"
##### SUMMARY
Many (all?) Fortios and Fortimanager modules depend on the `pyFG` python module being installed. However, the module documentation lists this dependency in the `notes` section rather than in a `requirements` section. The dependency is easy to miss as it is documented now.

To make it easier to see the required library, convert all instances of
[code]
to
[code]

##### ISSUE TYPE
- Doc

[2019-02-20 17:57] userimack commented on #52666
working on it.

[2019-02-20 18:06] ikhan2010 commented on #50029
@justjais please go ahead and close this, please.

[2019-02-20 18:11] justjais commented on #50029
Closing the bug, as we shall be resolving this via available filters.

[2019-02-20 18:11] #50029 closed, assigned to justjais

[2019-02-20 18:47] felixfontein commented on #33457
@MarkusTeufelberger I meant next to failing. You suggested that somewhere above:

[2019-02-20 18:49] angystardust commented on #44710
resolved_by_pr #50992
bug_resolved

[2019-02-20 18:56] angystardust commented on #52003
bug_resolved
resolved_by_pr #52300

[2019-02-20 19:00] felixfontein commented on #32038
It's not a bug, it's a feature request :) Having a backup option is definitely a good idea.

One question would be whether backup should be enabled by default (to prevent people to shoot themselves in the foot) or not (fully backwards compatible, but easier to destroy something important). Considering that the loss of an existing private key can be really expensive, I would enable it by default.

[2019-02-20 19:17] Qalthos commented on #52647
Have you tried setting the password in a way that httpapi understands? (i.e., `ansible_password` or `ansible_httpapi_pass`)

needs_info

[2019-02-20 19:28] #52101 closed, assigned to nobody

[2019-02-20 19:28] felixfontein commented on #52663
Out of curiosity: why do you use [command](https://docs.ansible.com/ansible/latest/modules/command_module.html#command-module) instead of using [fetch](https://docs.ansible.com/ansible/latest/modules/fetch_module.html#fetch-module) or [slurp](https://docs.ansible.com/ansible/latest/modules/slurp_module.html#slurp-module)? (If you're working with `localhost`, you can also use the [file lookup](http

[2019-02-20 19:41] samdoran commented on #40140
There is currently a lot of working going into adding file locking support in `lineinfile`. See #47322 and #52567.

This issue is most likely caused by multiple processes on the same host interacting with the same file. The `lineinfile` module reads the lines from the original, writes changes to a temporary file, then uses `atomic_move()` to overwrite the original file with the temporary copy. It

[2019-02-20 20:16] rgm3 commented on #35606
I ran into this issue today too.  lib/ansible/modules/packaging/os/yum.py should consider `type='list'` for the exclude parameter to better match user expectations.

[2019-02-20 20:26] AlanCoding commented on #51882
Maybe the empty connections list should be opened as a separate bug and this issue closed?

[2019-02-20 20:29] chrisvanheuveln opened #52671 "nxos_command:run_commands is broken when return_timestamps set to false"
##### SUMMARY
Timestamp support was added to `nxos_command:run_commands` with #50261. That change breaks `HttpApi` for cases where multiple commands are issued and will also break the single command case whenever `return_timestamps` is False. I think #50261 needs another look to work through those issues.

I submitted PR #52670 as a workaround for the HttpApi issue. The `nxos_command` tests are no

[2019-02-20 20:33] AlanCoding opened #52672 "RFE: Provide password to foreman inventory plugin via environment variable"
##### SUMMARY
Right now the foreman inventory plugin requires hard-coding your password into the inventory file to use, it would be more secure if another means of specifying via environment variable to added.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/plugins/inventory/foreman.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default config

##### OS / ENVIRONMENT
local,

[2019-02-20 20:39] bcoca commented on #52672
file can be vauled, in any case, its easy to add env vars for any option, just add `env:` section in the docs

[2019-02-20 20:42] bcoca commented on #52672
[code]

[2019-02-20 20:58] AlanCoding commented on #52672
Example with `aws_ec2`...

[code]

So I produce a file like:

[code]

Then run

[code]

Produces:

[code]

Going about it via

[code]

does work, yes.

I did not have any expectation that using in-line encrypted values would work in inventory plugins, so I was not considered filing a bug for that.

In our case, we would _like_ to show people the inventory file being used, so whole-file encryption

[2019-02-20 21:00] imjoseangel commented on #38715
This issue is fully working with Ansible 2.7.7

[2019-02-20 21:00] #38715 closed, assigned to nobody

[2019-02-20 21:06] AlanCoding commented on #52672
Testing with that diff for adding `env:` and `FOREMAN_PASSWORD`, it does seem to work.

[2019-02-20 21:06] WojciechowskiPiotr commented on #49547
As @felixfontein mentioned there are new Docker modules coming for Ansible 2.8, including the `docker_swarm_facts`, `docker_node` and `docker_node_facts`. Give them a test ride and let us know of any issues or further improvements you would like to see!

[2019-02-20 21:16] Qalthos commented on #52339
The become issue was introduced recently and was just fixed with #52657

[2019-02-20 21:18] #32050 closed, assigned to samccann

[2019-02-20 21:18] xmadsen commented on #50937
https://github.com/ansible/ansible/pull/52675

[2019-02-20 21:30] bcoca commented on #52672
Vault encrypted files work across the board, the inline encryption CAN work, but the plugin must be aware of it

[2019-02-20 21:47] k4pu77 commented on #36615
as well as in `ansible 2.7.7`...

[2019-02-20 22:14] it-praktyk commented on #50332
@kewalaka, resolution of the reported issue was merged to the devel branch and backported to versions 2.7 and 2.6.

Can you close the issue now? Thank you.

[2019-02-20 22:25] #41609 closed, assigned to nobody

[2019-02-20 22:32] AuroraLi opened #52684 "Network_cli returns AuthenticationConnectionFailure inconsistently"
##### SUMMARY

I am trying to managing a Cisco ASA device. When connecting using network_cli, I receive AnsibleConnecctionFailure: Authentication failed.
But if i change ansible_connection to local, I am able to connect
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

network_cli
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.6.1810 (

[2019-02-20 22:42] rambleraptor commented on #45105
Hey all! This has been a long time coming so apologies for not getting to this sooner. I've got a [PR](https://github.com/ansible/ansible/pull/52685) and I've confirmed the fix.

[2019-02-20 22:47] rambleraptor commented on #51884
Hello! Thanks for filing this issue.

For the UUIDs, the 'id' field should act as a unique identifier.

You're right that we don't have an image name. I'll look into that and give you an update soon.

[2019-02-20 23:01] rambleraptor commented on #51884
As for the images, have you been able to get the image name correct on `contrib/gce.py`? I'm looking through the libcloud code and I'm not convinced that image on `contrib/gce.py` would ever return a value.

[2019-02-20 23:13] rambleraptor commented on #45105
I just want to be more specific. My fix addresses two issues:

1) Home path expansion
2) Using environment variables

[2019-02-20 23:17] corbinstuard commented on #38300
@ckotte

I'm getting the following error when now attempting to use the module with the changes you made:

[code]

[2019-02-20 23:25] louwrentius commented on #36615
I've also walked into the issue that the nmcli module is not idempotent. It always returns as changed when I make certain settings.

This made me to rip out the nmcli module and rebuild all networking using templates, reading the network state through 'setup' module and 'vars' and doing everything manually. This is slow but robust for me and it's 100% idempotent.

Maybe I was doing something wrong

[2019-02-21 02:34] Akasurde commented on #52666
resolved_by_pr https://github.com/ansible/ansible/pull/52667

[2019-02-21 02:54] alvarow commented on #37707
I would like this to happen too.

[2019-02-21 03:21] Tomorrow9 commented on #50739
@eburgueno, Hi, I have modified the doc description of "datastore" and "disk.datastore", "disk.autoselect_datastore" parameters, do you have any comments of this? Thanks.

[2019-02-21 04:05] sugitk opened #52696 "RFE: toggle option to get_url module to disable/enable passive FTP"
##### SUMMARY

The customer wants to use get_url module only with FTP active mode.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

get_url module

##### ADDITIONAL INFORMATION

https://docs.python.org/2/library/ftplib.html#ftplib.FTP.set_pasv
passive is by default

[2019-02-21 04:24] Akasurde commented on #50739
resolved_by_pr #52695

[2019-02-21 04:38] #50739 closed, assigned to nobody

[2019-02-21 04:49] NewpTone opened #52698 "os_coe_cluster overrides param labels wrongly by default"
##### SUMMARY
When users are using os_coe_cluster to create a coe cluster without assigning label params, it would override it to null which has been set in os_coe_cluster_template and cause cluster creation failure.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

os_coe_cluster

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[

[2019-02-21 05:23] yuwzho commented on #42407
@T1loc In the documentation, we have an example to manage the inbound_nat_pools: https://docs.ansible.com/ansible/latest/modules/azure_rm_loadbalancer_module.html#examples

[2019-02-21 06:28] IshwarKanse opened #52705 "URI module ignores no_proxy with CIDR"
##### SUMMARY
URI module ignores no_proxy configuration with a CIDR notation. We have to specify individual IP addresses or domain for it to work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
URI module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
No_proxy with CIDR configuration is honored

[2019-02-21 06:56] #46975 closed, assigned to justjais

[2019-02-21 07:21] ikke-t opened #52707 ""is not JSON serializable" when using hashed vault secret with redhat_subscription module"
##### SUMMARY

redhat_subscription module fails if using vaulted password. There are many similar issues in other modules.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

module common

##### ANSIBLE VERSION
```ansible-2.7.7-1.el7.noarch```

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
rhel7.6

##### STEPS TO REPRODUCE

create password string:
[code]

run the following playbook:

[code

[2019-02-21 08:11] matthewlowry commented on #42933
I'm hitting this with a role that has no dependencies. The `--force` option doesn't fix this for me.

An earlier version of the role was installed. I updated the version in `requirements.yml`. I run `install --force -r requirements.yml` and it says `changing role RRR from X to Y` and proceeds but then bombs out with the "_doesn't appear to contain a role.   please remove this directory manually if

[2019-02-21 08:29] bmalynovytch commented on #27179
Right now, this issue's title and description is misleading.
I suggest you update them so that contributors don't need to read the entire thread to understand  what's going on.

[2019-02-21 08:44] MarkusTeufelberger commented on #33457
Ah, yes... That's still a not very intuitive thing to have (there are tons of ways a module can fail - should a certificate with the wrong permissions for example always set this flag or only if "mode" is used in the task parameters?

It is hard in practice to discern between a failed assertion and a general failure in the module and I'm not convinced that there's a good way to distinguish between

[2019-02-21 08:51] MarkusTeufelberger commented on #32038
I don't want old keys staying around or files being created that I don't expect or have defined initially. There are other files created with the "copy" module for example that can be really expensive/hard to recover as well. If a key is really that expensive, it probably should be backed up with an actual backup program. The thing people want isn't backup anyways, its restore... ;-)

[2019-02-21 09:15] superseby2 opened #52711 "Using new gitlab_group fails with AttributeError: 'module' object has no attribute 'GitlabAuthenticationError'"
##### SUMMARY

When using gitlab_group or gitlab_project modules, I end up with an error. (While gitlab_users using same credentials works fine).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
gitlab_group / gitlab_project

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux / Alpine 3.6

##### STEPS TO REPRODUCE

Running the yml code below fails constan

[2019-02-21 09:24] Fred-sun commented on #46440
@andsmit9 @nimeops  It has been fixed by latest Ansible( ansible 2.7.7--release), you can install the latest to try! Thanks!

[2019-02-21 09:44] T1loc commented on #42407
@yuwzho I'm not talking about inbount nat pools, but inbound nat rules

I want to set fixed rule (ssh, monitoring, etc...)

[2019-02-21 09:59] Lunik commented on #52711
Hi,
can you please detail the installed version of the `python-gitlab` library ?

[2019-02-21 10:00] #44672 closed, assigned to justjais

[2019-02-21 10:11] mindrb opened #52713 "remove_duplicate parameter in zabbix_host_facts module does not what is documented"
##### SUMMARY

Parameter remove_duplicate is documented as "Remove duplicate host from host result". But what it does in reality is quite opposite - it does not remove duplicate hosts from result but it deletes host from Zabbix server.
That logic has to be removed or rewritten because it does what is not suppose to do. At the very least while fixing default for remove_duplicate should be set to "n

[2019-02-21 11:47] wedi commented on #52663
I am generating the private keys on the host where they will be used so, unfortunately, lookup is no option. Of course I could use slurp instead of a command I decided to go the command way to avoid the base64 decoding on every use. My reasoning stays the same whichever way you go: it's one more task and I guess reusing the public key after generating it is a very common use case. A use case that

[2019-02-21 12:05] kevit opened #52714 "ansible_included_var_files is empty even when var files loaded"
##### SUMMARY
Based on documentation https://docs.ansible.com/ansible/latest/modules/include_vars_module.html variable ansible_included_var_files should contain a list of loaded var files but it itsn't

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
include_vars_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

[2019-02-21 12:21] anis016 commented on #51858
Thank you! I will check on it, but I need a bit of time. In the meantime, if someone else wants to work on it, it's fine too.

[2019-02-21 12:25] dagwieers opened #52717 "Built-in URL functionality kills performance"
##### SUMMARY
I started with the built-in url modules at first. It has a serious performance issue, are you aware of that? I found out when running my Satellite reporting module (which executes 3-4000 requests to fetch info about all our hosts).
For every request you make, the module creates a temp file where it creates a single file with a bundle of all CA's on your system (about 1.4MB big in my

[2019-02-21 12:25] dagwieers commented on #52717
cc @sivel @kbreit

[2019-02-21 12:30] mkrizek commented on #52714
The **return value** of the module contains `ansible_included_var_files` field: https://docs.ansible.com/ansible/latest/modules/include_vars_module.html#return-values

So register the result and print it to see the value of  `ansible_included_var_files`:
[code]

[2019-02-21 12:30] #52714 closed, assigned to nobody

[2019-02-21 12:39] fliphess commented on #29139
Ehm? Still no movement on this?

[2019-02-21 12:54] sckfranke opened #52719 "meta module does not work in handlers"
##### SUMMARY
Since 'meta' actions are executed by the strategy rather than being an actual module or action plugin, they can fail in obscure ways under some circumstances, particularly when referenced in a handler.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

meta

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Tested on CentOS 7.6, but almost certain

[2019-02-21 13:21] resmo commented on #52719
See open PR #50608

duplicate_of #50306

[2019-02-21 13:28] #52719 closed, assigned to nobody

[2019-02-21 13:28] gundalow commented on #52563
resolved_by_pr: 52564

[2019-02-21 13:37] #29329 closed, assigned to Akasurde

[2019-02-21 13:41] snakelab commented on #35110
+1

[2019-02-21 13:53] queglay commented on #39369
I'm running into this problem too.
I have a role with a variable name, and I want to define the value for that variable in the playbook that executes the role.

is this not the right way to work?  I have seen a few tutorials that teach this in this way, and I would expect for modularity to work that this is necesary.  otherwise we just have duplicate names for variables that are the same thing to

[2019-02-21 14:04] Moumoutaru commented on #49728
fwiw seeing an issue with the same error in tower_cli: https://github.com/ansible/tower-cli/issues/624

[2019-02-21 14:15] superseby2 commented on #52711
:thinking: I am on the same version. 1.7.0 installed via pip.
I ve tried with python 2.7 and 3.6 but I still get the same error.
:(

[2019-02-21 14:17] superseby2 commented on #52711
:scream: Sorry for the noise; I had forgotten the delegate_to: locahost !

Sorry again and thx for your time !

[2019-02-21 14:18] #52711 closed, assigned to nobody

[2019-02-21 14:19] queglay opened #52724 "crash when passing variable in playbook to roll with same name as variable in role"
##### SUMMARY

If I pass a variable defined in a playbook that has the same name as a variable within a role, ansible crashes.  this functionality has been described in various documentation and tutorials I have been learning from.  it seems like necesary functionality for a modular way of working, otherwise I would have to create duplicate variable names that have the same value to workaround the

[2019-02-21 14:20] gundalow commented on #32886
Hi, we've got a potential fix in https://github.com/ansible/ansible/pull/36811 could you please test that and add a comment on https://github.com/ansible/ansible/pull/36811 thanks in advance.

[2019-02-21 14:20] gundalow commented on #29429
Hi, we've got a potential fix in https://github.com/ansible/ansible/pull/36811 could you please test that and add a comment on https://github.com/ansible/ansible/pull/36811 thanks in advance.

[2019-02-21 14:26] #43535 closed, assigned to justjais

[2019-02-21 14:30] seuf commented on #52636
Good Idea ! I will look at this when I have time.... :smile:

[2019-02-21 14:35] gitm1993 commented on #46168
Hi @Andersson007 thanks for the help.

I believe it will enough, I am going to test it (hope) tomorrow.

Just the question before test. How is the failure (resp. warn) evaluated? Is it based on the role and it's variables or is it related to facts gathered from the host. Exactly if I will set absent for the role and it's privs in one play will the play proceed for the first time and for the next p

[2019-02-21 14:40] queglay commented on #52724
further things uncovered.  this is a hacky attempt that doesn't extend far.  I also don't think this hack would be a good way to work.
[code]
so that does work.  but not this-

[code]
it returns this error
[code]

yet if I just do this-
[code]

its fine.

so theres more than just one strange thing happenning here it seems.

[2019-02-21 14:42] Xaroth opened #52725 "Documentation for change in PR #50966"
The changes introduced in https://github.com/ansible/ansible/pull/50966 introduce a new behavior when it comes to using dependency roles to test functionality. This change is entirely undocumented, and quite confusing.

##### SUMMARY
The behavior introduced in https://github.com/ansible/ansible/pull/50966 means PRs from before this change can easily break because of the way they use dependencies.

[2019-02-21 14:52] dagwieers commented on #52717
@jimi-c @sivel We have seen people report that our own functionality is a lot slower than just using requests. This seems a good candidate for the cause.

I wonder why we do this, because I would expect low-level libraries to be a lot better at this. And the fact that requests is faster and not requiring this trick makes me wonder whether we should just remove that piece altogether.

But it must b

[2019-02-21 14:53] #52666 closed, assigned to nobody

[2019-02-21 15:02] sivel commented on #52717
!component =lib/ansible/module_utils/urls.py

FWIW, requests does not attempt to use the local systems CA certs, but instead utilizes certifi which provides it's own ca cert bundle.

[2019-02-21 15:02] #52393 closed, assigned to nobody

[2019-02-21 15:05] dthvt opened #52727 "panos_admpwd - allow ssh-agent auth"
##### SUMMARY

Update panos_admpwd to allow use of ssh-agent authentication instead of manually specifying a key_filename parameter.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

panos_admpwd

##### ADDITIONAL INFORMATION

This module requires the path to a ssh private key in order to authenticate to the Palo Alto.  This is painful when developing shared playbooks, and unnecessary since

[2019-02-21 15:06] sivel commented on #52724
There is no need to do this:

[code]

Just doing this is sufficient, as the role will still have access to the var.  There is no need to try and define the var, and then explicitly pass it in.

[code]

Or

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-21 15:06] #52724 closed, assigned to nobody

[2019-02-21 15:11] #44129 closed, assigned to nobody

[2019-02-21 15:25] gundalow commented on #46556
resolved_by_pr: 51505

[2019-02-21 15:32] dagwieers commented on #52717
@sivel The real issue is that this is performed per request. If that's fixed, I think the overhead is less of a problem for the case at hand. However, I would prefer a lower-level library handles it, or an in-memory solution over this.

[2019-02-21 15:34] dagwieers commented on #52717
So we have 2 problems:
- This is done per request
- This is done per module invocation (so for every target, while most of these modules are run on localhost anyway)
That second problem is a lot harder to fix, but also less of a problem in general.

[2019-02-21 15:37] sivel commented on #52717
@dagwieers I'm not disagreeing that we could implement something better.  What that is right now, I cannot say.  I believe we do need an actual file, to satisfy the requirements of Python.  We have another PR (that needs updated) that attempts to add the ability to specify a path to a ca cert, that could help here as well.

A few ideas:

1. we could provide an FAQ that explains how to pre-create a

[2019-02-21 15:38] tima commented on #40371
Looks like this is fixed. Thanks.

[2019-02-21 15:38] #40371 closed, assigned to nobody

[2019-02-21 15:55] dagwieers commented on #52717
Why not just reuse the temporary certs database within the same module ?
Or cache it from a known location on the system ? (This would actually make reuse possible from modules and avoid requiring to remove leftover files)
One could even make it test for updates in the paths to decide to renew the cached database.

No need to throw the baby away with the bathwater altogether.

[2019-02-21 16:11] NilashishC commented on #51436
@cr33phav Sorry for the delayed response. Could you try to enable persistent_log_messages variable so that we can troubleshoot further? It logs the initial device interaction into a log file.

Please have a look at [this](https://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#enabling-networking-device-interaction-logging) for steps.

[2019-02-21 16:21] sivel commented on #52717
I suppose to do that, we would need to cache it to the `remote_tmp` as well as add a cache timeout setting.

[2019-02-21 16:27] dagwieers commented on #52717
Good defaults would do, especially if you have a waterfall system for updates.
- Once on every module invocation (may be the first request performed), check the timestamp of the database
  - If database is fairly recent (timeout or ttl) or database is locked, use it
  - If not, lock database and check for newer certs
    - If newer certs exist, rebuild database, unlock database

The lock would be

[2019-02-21 17:00] firxworx opened #52733 "ufw module breaks iptables - appears related to known issue with ufw"
##### SUMMARY

Encountered an error where ufw module fails with error `[Errno 2] ip6tables: Chain already exists` and is irrecoverable with subsequent play/task runs. The issue seems related to a known issue and the following bugs:

<https://bugs.launchpad.net/ubuntu/+source/ufw/+bug/1584293>
<https://bugs.launchpad.net/ufw/+bug/1204579>

If related to this issue, if ufw commands are given too clo

[2019-02-21 17:30] richlv commented on #52154
That's a bit hasty reaction there. Ansible modules use the Zabbix API anyway.

@rubentsirunyan, @D3DeFi - I believe this should be reopened to investigate.

[2019-02-21 17:41] smolz opened #52738 "Add vrf support to Cisco Modules"
##### SUMMARY

The Cisco networking modules should add VRF support, specifically ios_system, ios_logging, ios_ntp, ios _l3_interface and ios_interface.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ios_system, ios_logging, ios_ntp, ios _l3_interface and ios_interface
##### ADDITIONAL INFORMATION

Many if not all cisco devices now ship with a management interface that is by default in a VR

[2019-02-21 17:49] richlv opened #52740 "zabbix_action: operation media type cannot be unset"
##### SUMMARY
No way to unset media type for action operations.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
devel

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Zabbix 4.0.3.

##### STEPS TO REPRODUCE

Create two actions with zabbix_action:
[code]

Notice how the first one specifies to use "Email" media type, while the second one goes to all

[2019-02-21 18:35] gundalow commented on #47499
Tracking upstream as https://github.com/ansible/ansible/issues/47499

[2019-02-21 19:03] eburgueno commented on #50739
@Tomorrow9 excellent. Thank you! I'll test the functionality as documented and maybe open a new bug if that doesn't work.

[2019-02-21 19:17] dnmvisser opened #52742 "Crypttab warning about not setting no_log for password"
##### SUMMARY
When using the crypttab module to configure an entry with password set to `none` (i.e. manually decrypt), the module emits a warning:

[code]

I believe there is nothing to warn about as there is no password configured.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
crypttab

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian stretch 9.8

##

[2019-02-21 19:20] dagwieers commented on #52717
This is likely to also have an impact on running integration tests.

[2019-02-21 19:40] angystardust commented on #50802
resolved_by #52300

[2019-02-21 20:25] bcoca commented on #40581
this is done because group-with-hyphen is an invalid name and can break things when used in the play

i.e ` {{ groups.with-hyphen}} `

Even if the plugin would create groups with invalid name, we validate against it in core code.

[2019-02-21 20:27] bcoca commented on #51844
closing as dupe of #40581

[2019-02-21 20:27] #51844 closed, assigned to nobody

[2019-02-21 20:42] rdtechie commented on #48722
Got the same issue here. Looks like Ansible is using `lusermod` when `local: true` is specified. But this command doesn't support the -G parameter, hence the failure. The way to add a local user into a local group is to use `lgroupmod -M <username> <group>`. For now I have a workaround by using a shell command, but the user module should really support this.

[2019-02-21 20:56] #41039 closed, assigned to justjais

[2019-02-21 21:07] AuroraLi commented on #44310
Please update on this bug.

[2019-02-21 21:13] jladdjr opened #52751 "Ansible no longer reports "invalid choice" for missing become methods"
##### SUMMARY
In Ansible 2.7.7, if you specified a missing become method, ansible would return:
[code]

No longer seeing this error in devel.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Become method

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
With:
[code]

run:
`ansible-playbook -i 127.0.0.1, -c local --become-method='

[2019-02-21 21:14] jladdjr commented on #52751
`git bisect` points to  https://github.com/ansible/ansible/commit/445ff39f944f45492bf7b2360d99fdadc02d142b. (cc @sivel) Used [this script](https://gist.github.com/jladdjr/36c84b0be2f0663cadd6b58577f7ed44).

[2019-02-21 21:16] matthewlowry commented on #42933
Ah. I think I see what's going on. So the sanity check is assuming that the role is written for publishing to Galaxy the website. Thus it is assuming that the role metadata will include `galaxy_info`, even if it has no `dependencies`.

But in my case I was writing a role that lived in a private Bitbucket repo and was used internally. So I had left the `meta/main.yml` empty since neither `galaxy_in

[2019-02-21 21:17] sivel commented on #52751
This is expected.  Now that become is supported by plugins, we cannot know at inventory parse time whether plugins may be provided by things such as roles.  An invalid become plugin will now be reported once a task tries to use it.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!foru

[2019-02-21 21:17] #52751 closed, assigned to nobody

[2019-02-21 21:17] jpmontez opened #52752 "Skipping invalid plugins causes an `UnboundLocalError`"
##### SUMMARY

In the `devel` branch, when an invalid plugin is skipped, this error appears:

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Plugin loader

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Mojave 10.14.3 using a localhost connection.

##### STEPS TO REPRODUCE

Create a plugin with invalid syntax and designate it to be loaded wit

[2019-02-21 21:21] jpmontez commented on #52752
I believe this was introduced in PR https://github.com/ansible/ansible/pull/43501.

https://github.com/sivel/ansible/blob/1651d4f21a51da716a7bf468620712d9573eafa6/lib/ansible/plugins/loader.py#L537-L544

Notice that `module` is referenced on line 543, after the exception's caught. If the plugin is invalid, the `module` wouldn't be assigned; hence the `UnboundLocalError` being raised.

[2019-02-21 21:29] sivel commented on #52752
The next 2 lines likely just need to be placed inside of an `else:` on the `try/except` block.

[2019-02-21 21:36] ryanmerolle commented on #52624
canceling this since to_json works.  This is not needed.

[2019-02-21 21:36] #52624 closed, assigned to nobody

[2019-02-21 21:36] jpmontez commented on #52752
The `else` clause catches the initial error. After that worked, another exception is raised right after this block. The following line:

[code]

Raises a `KeyError` exception which isn't caught.

[2019-02-21 21:36] sivel commented on #52752
A PR (mentioned above) has been submitted.

[2019-02-21 21:40] jpmontez commented on #52752
Ah, I just opened one as well. The one by @bcoca doesn't catch the resulting `KeyError`.

[2019-02-21 21:51] bcoca commented on #52752
dont need to i reset the loop, you should not continue processing at that point

[2019-02-21 22:18] LiranNis commented on #50566
I think that when you set the page file to automatic there is no Win32_PageFileSetting object.
Might need to change the query part to query Win32_PageFileUsage instead.

[2019-02-21 22:31] TheElan opened #52759 "Guidelines for writing cross platform roles"
Hello, I am not sure that this is right form of issue to ask a question, my apologies if it isn't, but it is the best way I have found yet.

##### SUMMARY
Recently I have been watching some ansible conference recordings and reading about best practices and I have a question.

How do you write your playbooks/roles to for cross platform use and be able to not to turn your specification to code with

[2019-02-21 22:32] dseven opened #52760 "profile_tasks bogus time with multiple playbooks"
##### SUMMARY
When ansible-playbook is invoked with two playbooks, the profile_tasks reports a bogus time for the last task in the first playbook in the summary at the end. Instead of the actual time taken by that task, it reports the time since the epoch.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
profile_tasks

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVI

[2019-02-21 23:04] #37051 closed, assigned to nobody

[2019-02-21 23:13] rambleraptor commented on #52197
Hi there! Try using the `gcp_compute_region_disk_facts` module. It's the same as `gcp_compute_disk_facts` but for regional disks.

[2019-02-21 23:16] sparampalli commented on #52197
Thank you. I will try it.

Thanks,
P Srikantha

--

Thanks,
P Srikantha
Avi Networks
+91 7760528099

[2019-02-22 00:34] Kloperations commented on #52206
ansible.cfg
[persistent_connection]
command_timeout = 600
connect_timeout = 600

ROLE TASK FROM PLAYBOOK:
- name: Initiate Upgrade
  nxos_install_os:
    provider: '{{ nxos_provider }}'
    issu: no
    kickstart_image_file: '{{ nxos_kick_img }}'
    system_image_file: '{{ nxos_sys_img }}'
    timeout: 500
  when: 'nxos_sys_img not in nxos_running_image.stdout[0]'
  tags: [ 'deploy', 'spines_insta

[2019-02-22 01:18] abedwardsw commented on #14248
I really think this is a good solution, there's no real easy way right now to have a different set of defaults by os/version/etc.  This implementation also keeps backward compatibility so it's also a nice choice.

[2019-02-22 01:26] MarkusTeufelberger commented on #32038
In short: I wouldn't enable a copy-style `backup` parameter by default, but implementing it might help some paranoid/careless users.

[2019-02-22 01:33] SJrX commented on #20802
Yes please do, it was very confusing. At the very least implement an error: For example the api.ipify.org fails sometimes so I tried:

[code]

That doesn't work but doesn't generate an error or anything.

[2019-02-22 02:11] Fred-sun commented on #46790
@eriklg It has backport to Ansible 2.7, you can upgrade your Ansible to try( latest Ansible version: 2.7.7). Thanks!

[2019-02-22 02:25] Tomorrow9 commented on #51826
@hadfiiw Hi, could you please have a try on this fix? "resource_pool" can be set to the name as you tested : resource_pool: "TEST". Thanks.

[2019-02-22 02:32] Tomorrow9 commented on #50739
Sure, if there is anything wrong with functionality. Thanks.

[2019-02-22 03:28] ryanmerolle commented on #47583
@bbyhuy Would there be anyway this could be extended to do the same on a dictionary given an attribute which is of format ip?

[2019-02-22 03:30] Tomorrow9 commented on #45422
Hi, if no one is working on this issue I'll have a try. Thanks.

[2019-02-22 03:41] Akasurde commented on #51826
resolved_by_pr #52783

[2019-02-22 03:55] angystardust commented on #52663
Recently I had the same need as you, @wedi
Here is another real-life user-case: ssh pubkey exchange between a group of hosts and a NetApp storage in order to delegate execution of a subset of commands on the target storage:

[code]
As you can see, I needed to add 2 more tasks to get the generated pub key and decode it before injecting it on my storage. I would be great if `openssh_keypair` module

[2019-02-22 04:09] angystardust commented on #52127
#45500 may improve transient errors you're experiencing with this module...

[2019-02-22 04:14] #42030 closed, assigned to abenokraitis

[2019-02-22 04:25] #52381 closed, assigned to Akasurde

[2019-02-22 05:18] Fred-sun commented on #43802
resolve_by_pr #52450 . Can be closed

[2019-02-22 05:57] Akasurde commented on #44561
@ivgivanov @nicholasrodriguez @dandunckelman Could you please check if this PR works for you ? I don't have 6.7 setup so can't test but code wise lgtm.

@mariolenz Thanks for debugging and sending PR.

[2019-02-22 06:18] jborean93 commented on #48765
PR to add an OpenSUSE 15 container for both Python 2 and 3 is https://github.com/ansible/ansible/pull/52793.

[2019-02-22 06:43] Andersson007 commented on #46168
@gitm1993 the module just warn you that the role(s) doesn't exist (you can pass several comma-separated roles).
In your case, it just fails when you try to revoke privs from that roles.
You removed role and than you tried to revoke privs for not existing role respectively.
In this case Ansible module executed something like this "REVOKE some privs ... FROM <not-existing-role>" that causes the Post

[2019-02-22 07:34] bluikko commented on #51611
I also would need `--default-addr-pool` implemented. Please note that to be correct it needs also `--default-addr-pool-mask-length` to be implemented.

I guess the only way I can create swarm is to do something like this:
`shell: docker swarm init [...]`
??

It would be nice if `--data-path-addr` was implemented as well...

[2019-02-22 07:50] bluikko opened #52798 "docker_swarm option remote_addrs is plural and of type list, but description talks about "a manager""
##### SUMMARY
In `docker_swarm` module, option `remote_addrs` is used to join a node to a swarm.
Type of `remote_addrs` is list, and it specifically is named "addrs" (plural) and not "addr". Despite all this, the option is described as:

I believe the description should not talk about "a manager" and should be updated to be clear why the option is a list.
- If the `remote_addrs` list of addresses

[2019-02-22 07:51] yuwzho commented on #52411
This is because our lack of azure_rm_storageblob action plugin, which will help to move the files in role to the tmp working directory. Before that, you may need to set the full path to `src`

[2019-02-22 07:52] GonzaloMejiasCapside commented on #33580
With ansible 2.7.8 the same

[2019-02-22 08:41] #32886 closed, assigned to nobody

[2019-02-22 08:58] #49980 closed, assigned to nobody

[2019-02-22 09:23] bluikko commented on #51611
The latest version of PIP docker does not support `--default-addr-pool` either. So I guess adding the support is impossible until the python library is updated.

[2019-02-22 09:24] #34924 closed, assigned to nobody

[2019-02-22 09:56] MarkusTeufelberger commented on #52663
The decoding part can be done in the `Assign a publickey to the user` task, but in general I agree that it would be nice to have the public key available in the return values. This means another invocation of `ssh-keygen` though and I'm already a bit concerned about the public key portion of this module (e.g. comments or making sure the public key file is also in the correct mode etc.), so another

[2019-02-22 10:44] chewdevs commented on #52647
I tried ``ansible_password` or `ansible_httpapi_pass` but the result is the same.

[2019-02-22 11:17] decentral1se opened #52813 "Add Hetzner cloud server module"
##### SUMMARY
https://www.hetzner.com/ is a cloud provider with a solid reputation. The only Ansible modules available for IT automation are outside core right now and written in the Go programming language over at https://github.com/thetechnick/hcloud-ansible.

I've seen other attempts but they are archived/abandoned:
  * https://github.com/betacloud/ansible-hetzner
  * https://github.com/SoInter

[2019-02-22 11:21] gandhiano commented on #52813
I think the work in https://github.com/thetechnick/hcloud-ansible is valuable, but it is in fact written in Go and does miss support for
[volumes](https://github.com/thetechnick/hcloud-ansible/issues/26) and
[labels](https://github.com/thetechnick/hcloud-ansible/issues/25), apparently because by then no support was available for these in the hcloud-go library. Reusing the logic from there could be

[2019-02-22 11:27] 3cham commented on #33580
I have the same problem with ansibe 2.7.7. Ihe certificates are already imported and REQUESTS_CA_BUNDLE is set to '/etc/ssl/certs/ca-certificates.crt'

[2019-02-22 11:52] nomad-cyanide opened #52817 "nxos_vlan on Nexus 3k fails with "ValueError: u'2' is not in list""
##### SUMMARY
Trying to deploy a vlan on a nexus 3064 using nxos_vlan. Fails with "ValueError: u'2' is not in list"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
nxos_vlan

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ITT-SKB-SW-03-2# sh ver
Cisco Nexus Operating System (NX-OS) Software
TAC support: http://www.cisco.com/tac
Documents: http://www.cisco.

[2019-02-22 13:48] rubenaleman opened #52819 "Add private option to set_fact module"
##### SUMMARY
When defining a fact, it will be helpful to have the option to set the fact as private, as the promp_vars has.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
The main component affected is the set_fact module.

##### ADDITIONAL INFORMATION
The reason to not use no_log is that there are tasks that needs to use a fact defined as password, but it's still necessary to have the ou

[2019-02-22 14:03] hadfiiw commented on #51826
@Tomorrow9 Sounds good.  Let me figure out how to pull this fix down to my local box (as I have never done that before) and I can test it out.

[2019-02-22 14:52] ocaballeror commented on #17194
As a workaround for username / password authentication setups, I found this useful:
https://alanedwardes.com/blog/posts/git-username-password-environment-variables/

It's still a hack, but it worked on our bitbucket + jenkins setup

[2019-02-22 14:59] ganeshrn commented on #45707
@rdkls SInce your PR on ncclient is merged and is available in the released version (0.6.8) the support for hostkey be added in netconf connection plugin by adding it a configurable connection option.

Refer: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/netconf.py#L162

This config option can be passed to ncclient as below (assuming `host_key` as the new configurabl

[2019-02-22 15:06] Alexhha commented on #22025
Faced with the same behavior

[code]

_roles/test/tasks/main.yml_
[code]
you can't override tests_ids inside the role. But if I put tests_ids inside vars block

[code]

then I can override it

[2019-02-22 15:09] jamescassell commented on #22025
The reason is that role params have higher priority than set_fact.

[2019-02-22 15:20] bcoca commented on #52819
i don't think you understand what the `private` does in prompts, it just obscures the user input at the time of prompting, after being defined it does not do anything to keep the var from being displayed.

[2019-02-22 15:36] stearz commented on #52232
The `host` field has been the problem.

The URL was missing a beginning protocol Part `https://`

That solved it for me.

[2019-02-22 15:40] nugsolot opened #52824 "ovirt_vnic_profile module does not allow removing Network Filter"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible 2.8.0.dev0
  config file = /Users/briwils2/workspace/iova/ansible.cfg
  configured module search path = [u'/Users/briwils2/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/p

[2019-02-22 15:43] an1muscr33d commented on #52819
Ok, I caught it. So, is there any option to achieve the use case that I posted? In this case, the only way to obscure the password from being displayed (in Tower for example), is using the no_log option, but this implies to lose the hability to check the output of the whole task if anything happen on it.

It would be nice to have an option to hide the content of a variable to being displayed.

[2019-02-22 16:14] bcoca commented on #15259
closing as original issue was a misunderstanding of the local plugin, other reports seem different if you still have issues please open new ticket with reproducer.

[2019-02-22 16:14] #15259 closed, assigned to bcoca

[2019-02-22 16:20] gundalow commented on #16615
When we swap to the new setup/facts system we maybe able to address this.

[2019-02-22 16:22] gundalow commented on #16675
Might have been fixed by vars/templating work

[2019-02-22 16:25] gundalow commented on #16732
Hi, there have been many PRs merged that have improved SSH logging.

Is this still an issue?
@paulRbr If there still are issues a PR would be welcome and we could discuss improvements in there.

needs_info

[2019-02-22 16:27] gundalow commented on #16750
@emanuelis Is what you are doing documented? I don't believe we've got a bad doc in there.

needs_info

[2019-02-22 16:27] #16750 closed, assigned to nobody

[2019-02-22 16:30] mnhan3 commented on #48312
any news on a fix?  on ansible 2.6.8 and still have this issue.    Is there a way for to add additional options to gathering facts to ignore nfs?  I want to gather facts for local storage, network, and things on a host, but not for nfs.

[2019-02-22 16:30] bcoca commented on #16775
closing as per above

[2019-02-22 16:30] #16775 closed, assigned to nobody

[2019-02-22 16:33] gundalow commented on #16848
I believe the above was done to add IPv6 hostname support.

The workaround is to give `hosts` a list

[2019-02-22 16:33] #16848 closed, assigned to nobody

[2019-02-22 16:36] gundalow commented on #16861
Hi,
Just discussed this in a Core Triage meeting, the ini-plugin will not change as this would break other use cases.

Using YAML inventory would be better.

[2019-02-22 16:36] #16861 closed, assigned to nobody

[2019-02-22 16:38] gundalow commented on #16902
We believe this has been fixed. If that's not the case please raise a new issue via https://github.com/ansible/ansible/issues/new/choose

[2019-02-22 16:38] #16902 closed, assigned to nobody

[2019-02-22 16:40] samdoran commented on #16675
This was fixed in 6d4ab66655fd0e8e45e4e4b0adf610e25b0c8b5c and works in Ansible >= 2.5.0.

[2019-02-22 16:40] #16675 closed, assigned to jimi-c, samdoran

[2019-02-22 16:44] gundalow commented on #16933
@srgvg Repoducer no longer exists :(

[2019-02-22 16:44] sivel commented on #16929
We do agree that the `copy` module should not result in a hang.  However, the complaint that the ssh connection `[mux]` processes are left running, is not a problem of ansible.

Those processes are managed by SSH, and their timeout is dictated by the `ControlPersist` setting.  We can also not guarantee that the control persist is only used by ansible, so we cannot just erap them ourselves.

If you

[2019-02-22 16:44] #16929 closed, assigned to sivel

[2019-02-22 16:44] jjshoe commented on #16861
@gundalow Not fixing a bug, because it would cause other bugs?

[2019-02-22 16:45] gundalow commented on #16933
We are considering using `ordereddict` in the future which should solve this

[2019-02-22 16:47] gundalow commented on #16945
We don't give the line number anymore, we just do:
`raise Exception("can't add group to itself")`

[2019-02-22 16:47] #16945 closed, assigned to alikins

[2019-02-22 16:50] gundalow commented on #17083
Change the behaviour may break existing users. It sounds like people are happy with `trim`

[2019-02-22 16:50] #17083 closed, assigned to nobody

[2019-02-22 16:53] gundalow commented on #17088
Discussed in Backlog meeting. Trimming whitespace should be something we do.

[2019-02-22 16:57] gundalow commented on #17179
Ansible isn't a system simulation tool, so we don't know what would happen.

You can make your tasks to be checkmode aware https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html

[2019-02-22 16:57] #17179 closed, assigned to nobody

[2019-02-22 17:01] gundalow commented on #17300
Missing layout, sqs queue names, and other bits, so it's difficult for us to reproduce this.

needs_info

[2019-02-22 17:02] gundalow commented on #17300
If this is still a problem please create a new issue via https://github.com/ansible/ansible/issues/new/choose

Including detailed full steps to reproduce.

[2019-02-22 17:02] #17300 closed, assigned to nobody

[2019-02-22 17:03] bcoca commented on #17384
We've updated the ssh transfer to be 'smart' and try scp/sftp and even dd over a socket, this should take care of the issue, feel free to reopen if you find that the fix does not meat your needs.

[2019-02-22 17:03] #17384 closed, assigned to nobody

[2019-02-22 17:08] gundalow opened #52837 "Docs: ansible-pull"
##### SUMMARY
We could do with some docs to go on to go with https://docs.ansible.com/ansible/latest/cli/ansible-pull.html

* https://github.com/ansible/ansible/issues/17454

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
ansible-pull

##### ANSIBLE VERSION
[code]

[2019-02-22 17:08] gundalow commented on #17454
Closing, updating docs tracked in https://github.com/ansible/ansible/issues/52837

[2019-02-22 17:08] #17454 closed, assigned to nobody

[2019-02-22 17:10] gundalow commented on #17661
Docs Issue:

* allow-duplicates

[2019-02-22 17:11] gundalow commented on #17664
We think this has been fixed

[2019-02-22 17:12] gundalow commented on #17664
Fixed by https://github.com/ansible/ansible/pull/50552

[2019-02-22 17:12] gundalow commented on #17664
bcoca to verify

[2019-02-22 17:19] maxamillion commented on #35324
FWIW, I'm open to this change but I honestly don't know when I'll be able to get it on my list of things to do because my plate if perpetually full. If someone has a PR, I'd be happy to review though.

[2019-02-22 17:22] cldeluna commented on #38041
Hi,  I'm actually running into this as well.

First on a production physical WLC and now on a vWLC I brought up for testing.  Below is the playbook.  Note: not using provider although I'm not sure if the modules support the new IOS Platform Options of if the documentation just does not reflect that yet.

[code]

[code]

[2019-02-22 17:29] bcoca commented on #16726
I can confirm, tested case with current version and get: `<123.456.789> ESTABLISH SSH CONNECTION FOR USER: user`

[2019-02-22 17:29] #16726 closed, assigned to bcoca

[2019-02-22 17:34] s-hertel commented on #16602
This is working for me on the stable 2.1 branch and onward:
[code]
[code]
Output:
[code]

Feel free to open a new issue with reproducer if you're still experiencing the problem.

[2019-02-22 17:34] #16602 closed, assigned to s-hertel

[2019-02-22 17:42] srgvg commented on #16933
@gundalow Sorry, I changed my github username a while ago! `srvg` -> `srgvg`

Reproducer:

https://gist.github.com/srgvg/bbc05198f033337cbb4b599c13839092

[2019-02-22 17:43] bcoca commented on #48312
!hardware removes nfs, but also local storage, there is no 'fine grained' way to avoid 'network systems that might hang'

[2019-02-22 18:01] bcoca commented on #52103
@jdashton can you confirm PR above fixes the issue for you?

[2019-02-22 18:21] cristhianbicca commented on #44955
In this PR this situation seems to be stopped, what is the status of it?

[2019-02-22 18:25] sivel commented on #52705
We rely on the underlying functionality of python to support proxying, and python does not support this formatting of proxy.

As such, you will required to provide a list of all hosts.  There is no current functionality to get a full list of IPs in a network via the `ipaddr` filter, but we would be willing to accept one that could enable you to utilize it for this purpose.

If you have further que

[2019-02-22 18:25] #52705 closed, assigned to nobody

[2019-02-22 18:36] ag0r opened #52852 "mail module fails when run from ansible-playbook but not ansible (ad-hoc)"
##### SUMMARY

When using the ansible mail module from ansible-playbook, the run fails with a python stack trace as output. When the mail module is run using the ansible ad-hoc command, it completes successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mail

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.3.1611 (Core)

#####

[2019-02-22 18:59] dandunckelman commented on #44561
@Akasurde @mariolenz

It did not work. Here's what I did:
- Updated `requirements.txt` with this:

      -e git://github.com/mariolenz/ansible.git@devel#egg=ansible
- Installed the module:

      pip install -r requirements.txt
- Created this playbook:

      - hosts: ESX_HOSTNAME
        tasks:
          - name: set esxi shell timeout
            delegate_to: localhost
            vmware_host_con

[2019-02-22 19:10] dagwieers commented on #52852
There is something wrong with your setup, as none of our code includes "except Exception, e" because that is not compatible with Python 3. Probably something wrong on your target system's python library.

The directory */opt/ansible_2.7.5/lib/python3.6/* is not your standard location for python. You are on your own.

[2019-02-22 19:10] #52852 closed, assigned to nobody

[2019-02-22 19:29] ag0r commented on #52852
It is python3.6 installed in a virtual environment. I expected that this was the response I would receive, but at least do you have any idea why it is throwing the error from ansible-playbook, and _not_ from the ad-hoc ansible command?

Also, any ideas why python can't figure out what files the error is coming from?
[code]

[2019-02-22 19:37] mnhan3 commented on #48312
right.   I was hoping there was a fine grained !localstorage that would exclude fstype == nfs/cifs/smb  when hardware/linux.py was parsing thru the mounts

[2019-02-22 19:41] dagwieers commented on #52852
No idea, works fine for me in both cases using RHEL7 and native Python 2.7 or Python 3.6 from Red Hat Collections.

[2019-02-22 19:46] ag0r commented on #52852
Would you mind giving me the package you installed for python 3.6?

[2019-02-22 19:47] dzmitry-rudnouski commented on #45124
Not reproduced with ansible 2.7.8.

[2019-02-22 19:47] #45124 closed, assigned to nobody

[2019-02-22 19:52] mariolenz commented on #44561
Are you sure you're testing my code?

In my commit, line 136 looks like this:
[code]
I don't see how this can trigger a KeyError. It looks like you're still using the old code where line 136 looks like this:
[code]

[2019-02-22 19:56] codyjohn commented on #50905
I'm seeing the same issue on 2.7.8.   I have playbooks that I've been using against Juniper devices on all versions starting from ~2.4.    I see the issue on 2.7.8, but I don't when running the exact same playbook on 2.7.5.    I've verified that `ncclient` and `paramiko` versions are the same, and that I'm trying to apply the exact same config file from both servers:

Broken Server
---
[code]

Wor

[2019-02-22 20:06] dandunckelman commented on #44561
@mariolenz blarg. I'm guessing when I ran `pip install`, it didn't really overwrite what I had.

Retrying completely fresh. I'll update ASAP.

[2019-02-22 20:15] maxamillion commented on #50237
@MarkMielke I ended up discussing this with some of the other core community maintainers and while the opinions were mixed, the majority agreed with you because of user impact. I'll get a patch in for this in and backported so it will be resolved in the next Ansible 2.7.x release.

[2019-02-22 20:22] #43991 closed, assigned to nobody

[2019-02-22 20:29] dandunckelman commented on #44561
@mariolenz it worked as expected!

I retested, and this time I confirmed that I had the right code (checking that line 136). Did what it was supposed to do.

[2019-02-22 20:37] n-batalha commented on #16804
I presume others now read about [Mazer](https://github.com/ansible/mazer) that addresses this, otherwise leaving here a link for reference.

note: I don't recommend it as of Feb 2019, [it's not for general use and it keeps breaking for me](https://github.com/ansible/mazer#expect-breaking-changes)

[2019-02-22 20:46] maxamillion commented on #50237
@ericzolf @MarkMielke @jboero @jdoss so I've implemented a workaround in Ansible for this (here: https://github.com/ansible/ansible/pull/52859) and I'm interested in feedback in general and specifically about the UX of getting the warning:

[code]

[2019-02-22 20:52] samdoran commented on #16751
Ansible reports cpu information for ARM CPUs now and has since at least 2.5.0. I have found it is reporting the incorrect number of CPUs. I will open a separate issue for that.

[code]

[2019-02-22 20:52] #16751 closed, assigned to samdoran

[2019-02-22 20:53] #52549 closed, assigned to nobody

[2019-02-22 21:02] dagwieers commented on #52664
This is related to https://github.com/ansible/ansible/pull/51940

[2019-02-22 21:03] smnmtzgr commented on #52664
I already started to implement support for breakout ports/cables.

**I think there are 3 parts to fully support this:**
1) We need the possibility to create a policy group of type breakout. Policy groups are created with _aci_interface_policy_leaf_policy_group_ at the moment. Like @mikel632 already mentioned we have to decide if this module can also be used to create a policy group for breakout po

[2019-02-22 21:04] dagwieers commented on #52664
!component -lib/ansible/modules/system/group.py

[2019-02-22 21:11] branic opened #52860 "debug module with network_cli connection and vault password fails with a TypeError"
##### SUMMARY

When using the network_cli connection type (to manage a Cisco Nexus switch in my case) with the connection password stored in a vault the debug module fails with a type error. If the password is entered as plain text then the debug task completes successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

debug

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2019-02-22 21:20] samdoran opened #52864 "Facts incorrectly report CPU count on ARM"
##### SUMMARY
Ansible incorrectly reports the processor count and VCPUs on ARM systems. This happens because the keys being processed by https://github.com/ansible/ansible/blob/df5b8f65caf0f98cb01a5e920abd4f483b14e82a/lib/ansible/module_utils/facts/hardware/linux.py#L201-L201 match both `processor` and `model name`, but the keys for counting sockets do not match anything in the output. Both occurr

[2019-02-22 21:21] samdoran commented on #52864
More sample data from an OrangePi:
[code]

[2019-02-22 21:25] samdoran commented on #52760
Verified this is still the case in `devel`.

[2019-02-22 21:41] jdashton commented on #52103
Confirmed, this resolves all three of the issues I listed. (I had to modify the descriptions above because I had failed to anticipate the order of precedence.) This would be lovely to have in production.

[2019-02-22 21:44] #50503 closed, assigned to samdoran

[2019-02-22 22:07] maxamillion commented on #35606
I'm open to the change but this isn't likely to land on my priority list anytime soon. If someone would like to submit a PR, I'll gladly review it though.

[2019-02-22 22:22] #48609 closed, assigned to nobody

[2019-02-22 22:25] hvtuananh commented on #41971
I believe this is expected behavior of check mode: https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html

[2019-02-22 22:56] ahuffman opened #52868 "regex_replace complaining on missing quotes, but the expression is quoted properly"
##### SUMMARY

using the `\s` as a regex in the regex_replace filter produces an error.  This behavior does not occur in Ansible 2.5.  I've reproduced the issue on 2.7.0 and 2.7.7.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

regex_replace
##### ANSIBLE VERSION

Works on:
[code]
Does not work on:
[code]
Does not work on:
[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ST

[2019-02-22 23:08] BarbzYHOOL opened #52869 "All mysql modules do not support the host parameter in ~/.my.cnf"
##### SUMMARY

All mysql modules do not support the host parameter in ~/.my.cnf

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

any mysql module that connect to a DB (mysql_db, mysql_user etc)

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

deb 9

##### STEPS TO REPRODUCE

Add this in your /root/.my.cnf

[code]
it's like doing `mysql -h 192.168.0.255 -u user -p` but it won't work

[c

[2019-02-23 00:32] davidmnoriega opened #52871 "Custom filter plugin cannot load custom module_utils library"
##### SUMMARY
Custom filter_plugins cannot load a custom module_utils library the same way custom modules can

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 29

##### STEPS TO REPRODUCE
Write a custom module that also has a custom module_utils library, then write a filter plugin that attempts to load

[2019-02-23 00:39] #51625 closed, assigned to nobody

[2019-02-23 00:45] dagwieers commented on #52852
It's from Red Hat Collections, I don't know if CentOS rebuilds those these days?

[2019-02-23 00:48] #35382 closed, assigned to samdoran

[2019-02-23 00:50] dagwieers commented on #34173
This will be an ongoing task for the Working Group. I am going to close this.

[2019-02-23 00:50] #34173 closed, assigned to nobody

[2019-02-23 01:26] kbreit opened #52874 "New module - meraki_nat"
##### SUMMARY
Meraki added support for configuring NAT rules via the API. A `meraki_nat` module should be created to allow configuration.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
meraki

[2019-02-23 02:03] willthames commented on #52232
Thanks @stearz - I wonder if we could make that a little more obvious by improving the response from self.request when that happens.

[2019-02-23 02:05] 11matt556 opened #52875 "apt: deb and get_url: fail when netrc is configured"
##### SUMMARY

I am receiving an error related to netrc. It seems that the deb/apt and get_url modules are unable to parse my .netrc file. However, the .netrc file is working fine elsewhere, such as in Docker for accessing my NAS share. I am not even sure why Ansible is trying to read the netrc file for in this case. Is it possible to workaround this by disabling the netrc lookup?

##### ISSUE TYP

[2019-02-23 02:10] #51098 closed, assigned to nobody

[2019-02-23 02:56] willthames commented on #52232
I've raised https://github.com/openshift/openshift-restclient-python/pull/269 to improve error handling in this scenario.

[2019-02-23 03:45] kbreit commented on #52874
Code is in branch https://github.com/kbreit/ansible/tree/meraki/meraki_nat

[2019-02-23 05:00] nabheet commented on #51098
Whoa! Thank you! That was amazingly quick!!!!

[2019-02-23 05:15] queglay commented on #52724
Thankyou for the lesson, that helps.  I must imagine then people solve this problem with using the namespace then, which I imagine must get pretty gnarly.

[2019-02-23 07:52] linnil1 opened #52877 "[Cisco IOS][ios_user] Cannot delete sshkey"
##### SUMMARY

After running this task with ansible-playbook, user delete correctly, however the sshkey didn't delete.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Docker: python:3.7-slim

##### STEPS TO REPRODUCE

`show run` give me this result, which have three lines.
[code]
Then, in htt

[2019-02-23 08:39] Leletir commented on #51687
@plsanchezfaure I also have the same problem, and I'm running ansible 2.7.8

[2019-02-23 09:08] Akasurde commented on #52864
similar to https://github.com/ansible/ansible/issues/41825

[2019-02-23 09:15] LvffY commented on #52411
Hello guys,

Thank you for your answers !
Actually, there were a big mistakes. In my role my file was name InitScript.sh and in my codes it was named initScript.sh ... My bad.

Despite this grammatical error, putting the i in upper case didn't solve the case.

But @yuwzho solution worked ! I needed to change my code in my role/tasks.yml file from `src: InitScript.sh` to src: `{{ role_path}}/files/

[2019-02-23 09:15] #52411 closed, assigned to nobody

[2019-02-23 09:45] aventrax commented on #32247
What I do not expect is ansible doing a trasversal search between different parents once I selected ONE (only) parent with the --limit option!

So, on the example above, launching ansible with `ansible -i some.yaml -l south` I'm expecting to work with only [efgh].example.com, NOT with [abefgh].example.com. This because I'm selecting explicitly the group `south` that is UNIQUE.

At the same time, l

[2019-02-23 10:03] rubentsirunyan commented on #52154
I forgot about this one as it was closed :)
Agree. Let's reopen and start to work on this.

[2019-02-23 11:18] Akasurde commented on #22352
@hasso Different operating system implements different hostname setting strategies. Even if we detect OS distribution and release, we need to determine the strategy to change hostname. You can check [code](https://github.com/ansible/ansible/blob/a54b9487307243d6716685f15794da110e6e5d96/lib/ansible/modules/system/hostname.py#L560) here. Let me know if it makes sense to you.

Thanks.

needs_info

[2019-02-23 12:03] Akasurde commented on #25100
resolved_by_pr #52880

[2019-02-23 12:05] Akasurde commented on #25100
@JoelSanchez Could you please check above PR #52880 and let me know if it works for you ? Thanks.

[2019-02-23 13:01] NilashishC commented on #36426
@gundalow This was affecting 2.5.0 and seems to have been resolved as per what @gdpak mentioned.

[2019-02-23 13:07] #36426 closed, assigned to NilashishC

[2019-02-23 13:57] stearz commented on #52232
@willthames Maybe also add an example with a set `host` field. This way it is clear that the field represents the API Server URL instead of the hostname as the field's Name May suggest.

[2019-02-23 15:50] Akasurde commented on #24651
Fixed via https://github.com/ansible/ansible/pull/44319 Please feel free to open a new issue if problem persists.

[2019-02-23 15:50] #24651 closed, assigned to nobody

[2019-02-23 16:19] Akasurde commented on #25991
@jctanner @bcoca Can we close this ?

needs_info

[2019-02-23 16:47] Akasurde commented on #28653
resolved_by_pr #52384

[2019-02-23 16:47] #28653 closed, assigned to nobody

[2019-02-23 18:20] kvprasoon commented on #46300
Is there a way for me to modify an existing plugin ? say winrm to test. I could not find a way to override this plugin.

[2019-02-23 18:50] #47844 closed, assigned to gundalow

[2019-02-23 18:56] samdoran commented on #52864
Thanks @Akasurde! This is definitely a duplicate of that issue.

[2019-02-23 18:57] jzielke84 commented on #47844
What the hell does he want from me?

[2019-02-23 19:38] mms101 opened #52885 "edgeos: global name 'ConnectionError' is not defined"
##### SUMMARY

Hello.
My ansible play ended with error:  "global name 'ConnectionError' is not defined":

It seems, this is mistake in /site-packages/ansible/module_utils/network/edgeos/edgeos.py:
There are string:
from ansible.module_utils.connection import Connection

but, it seems it should be:
from ansible.module_utils.connection import Connection, ConnectionError

##### ISSUE TYPE
- Bug Repor

[2019-02-23 21:41] aknrdureegaesr commented on #47844
@jzielke84: When you open a new bug report in this repository, there is a template that you're supposed to fill in. The template warns you

[code]

As far as I understand, If you don't heed that warning, your bug is again and again labeled with
`needs_info` and `needs_template`. It does not seem to matter how often friendly @acozine removes those labels. The bot seems to be the more persistent of

[2019-02-23 21:56] ghost opened #52887 "OpenShift build operations as standalone module"
##### SUMMARY
With the current `k8s` module, it is not possible to request new image builds on OpenShift due to  underlying APIs in the openshift-rest-client (see https://github.com/openshift/openshift-restclient-python/issues/245). Since these interactions are not aligned to Kubernetes/OpenShift standard "CRUD" operations, a separate module to handle these special object interactions is required

[2019-02-23 23:26] steaksauce- commented on #10499
Isn't this addressed with the 'become' plugins?

[2019-02-24 01:23] Hotschmoe commented on #18469
Still interested in running ansible on Android but python multiprocessing is still an issue. Would creating a fallback import for multiprocessing be feasible for ansible? A similar fix was done here :

https://github.com/asciinema/asciinema/issues/271

[2019-02-24 02:02] darrencocco commented on #29728
FYI this issue also happens with NFS

[code]

I will follow up in a few days with a Vagrant box that we use that is causing this problem for someone to be able to take a look at.

[2019-02-24 02:56] Akasurde commented on #52885
resolved_by_pr https://github.com/ansible/ansible/pull/52888

[2019-02-24 02:56] Akasurde commented on #29568
resolved_by_pr https://github.com/ansible/ansible/pull/25963

[2019-02-24 02:56] #29568 closed, assigned to Akasurde

[2019-02-24 02:59] Akasurde commented on #29928
@abedwardsw Would you like to give this a try ? Thanks.

[2019-02-24 04:21] Akasurde commented on #35509
Closed via https://github.com/ansible/ansible/commit/4f86bec97770ba7d03f92ef45c01227dc22d9934

[2019-02-24 04:21] #35509 closed, assigned to nobody

[2019-02-24 08:33] Akasurde commented on #48752
@Sneedes Thanks for the feature request. I can see Oracle Linux [block](https://github.com/ansible/ansible/blob/81d58cfef6a3148229c8ceec11fe6ea2cf0e91c2/lib/ansible/modules/system/hostname.py#L664) in hostname module. Could you please try this module and let us know if it works for you?

Thanks

needs_info

[2019-02-24 12:23] felixfontein commented on #52798
It has to be a list of one or more manager nodes, not of all manager nodes. I've created a PR (#52893) for this.

[2019-02-24 13:23] felixfontein commented on #29514
resolved_by_pr #52894

[2019-02-24 13:24] felixfontein commented on #44077
resolved_by_pr #52894

[2019-02-24 15:48] felixfontein commented on #52596
I've implemented this in #52894. Please take a look!

[2019-02-24 15:58] #52798 closed, assigned to nobody

[2019-02-24 16:14] ssbarnea opened #52896 "ansible_memfree_mb reported as negative numbes on macos"
##### SUMMARY
On MacOS it seems that ansible fails to correctly retrieve the amount of free memory, even if the system has more than enough available.

It seems that the issue can be reproduced with any Python interpreter: I used sytem python 2.7 and also the python 3.6 installed via pyenv and with both I go the same results.

On other platforms I got correct results.

##### ISSUE TYPE
- Bug Repor

[2019-02-24 17:24] rhysmeister opened #52897 "mongodb_user fails on MongoDB 3.2 config server replicaset"
##### SUMMARY

The mongodb_user module fails on MongoDB 3.2 when attempting to create a user against a config server replicaset. The same issue does not occur with MongoDB 3.4, 3.6 or 4.0. The issue is due to write concern restrictions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mongodb_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running in

[2019-02-24 18:11] andrewvaughan opened #52898 "Setting ANSIBLE_VAULT_IDENTITY_LIST to blank results in error"
##### SUMMARY

When `vault_identity_list` is set in `ansible.cfg`, and the user attempts to blank this by setting `ANSIBLE_VAULT_IDENTITY_LIST=""` in an environment variable, an error occurs.

##### ISSUE TYPE
- ~Bug  Report~
- Feature Request

##### COMPONENT NAME

`ansible-playbook`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS v10.13.6 (High Sierra)

[2019-02-24 18:13] andrewvaughan commented on #52898
I have confirmed this is still an issue in Ansible 2.7:

[code]

[2019-02-24 20:58] #52196 closed, assigned to nobody

[2019-02-24 20:58] ricewu2019 commented on #52196
Quite weird that it started to work later on....

[2019-02-25 01:37] #38205 closed, assigned to nobody

[2019-02-25 01:37] #39308 closed, assigned to nobody

[2019-02-25 01:38] #48765 closed, assigned to nobody

[2019-02-25 02:24] yuwzho commented on #43802
resolved_by_pr #52450

[2019-02-25 02:25] #43802 closed, assigned to yungezz

[2019-02-25 02:46] yuwzho commented on #49281
close_me Since cannot reproduce and no enough message in trace, close it temporally. Feel free to reopen it if meet such error again.

[2019-02-25 02:50] #49281 closed, assigned to zikalino

[2019-02-25 03:48] radut commented on #31640
+1

[2019-02-25 03:59] #42397 closed, assigned to nobody

[2019-02-25 06:41] dw opened #52910 "TaskResult.clean_copy() discards strip_internal_keys() result"
##### SUMMARY

Per subject. The strip_internal_keys() function returns a copy rather than in-place mutation, but clean_copy() discards the return value.

strip_internal_keys() is responsible for 20% of all result processing overhead in a particular run. (due to TaskQueueManager.send_callback()). If nothing's broken per above, how about we just remove it instead.

##### ISSUE TYPE
- Bug Report

###

[2019-02-25 06:45] dw commented on #52910
More pro-removal: that code hasn't been touched since October 2017. Seems more likely something could break by fixing things!

[2019-02-25 06:46] Fred-sun commented on #31967
@zikalino

[2019-02-25 07:15] jeremyarr commented on #44404
also another gotcha: the file must have a suffix gcp.yml

[2019-02-25 07:22] JockeW-DvL commented on #50913
I've also got this error, but only when running ansible with Python 3.7.2 not with Python  2.7.10 all on a Mac.

I.e the problem comes if i install ansible in Python 3.7.2 and if i remove ansible and reinstall in Python 2.7.10 it works again, no changes in inventory, certificate, key or playbooks.

[2019-02-25 07:34] rambleraptor commented on #44276
Hello! I was just re-pinged on this issue.

We've officially deprecated the gce.py module. It will be first officially deprecated in 2.8.

[2019-02-25 07:53] Akasurde commented on #52896
@ssbarnea Thanks for reporting this issue. Could you please check this https://github.com/ansible/ansible/compare/devel...Akasurde:i52896 and let me know if it works for you ? Thanks.

[2019-02-25 07:57] Akasurde commented on #44404
@jeremyarr This is already mentioned in documentation - https://docs.ansible.com/ansible/latest/plugins/inventory/gcp_compute.html#synopsis

[2019-02-25 07:57] #44561 closed, assigned to Akasurde

[2019-02-25 08:00] ganeshrn opened #52911 "ios_config module fails with wrong error for invalid src option"
##### SUMMARY

If the path in src option is invalid the error message reported back is not correct
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Should fail with an error:
[code]

##### ACTUAL RESULTS

Fails with erro:

[code]

[2019-02-25 08:10] Fred-sun commented on #51908
kindly ping

[2019-02-25 08:16] #51175 closed, assigned to nobody

[2019-02-25 08:36] Fred-sun commented on #51944
@yungezz

[2019-02-25 08:38] #44772 closed, assigned to Akasurde

[2019-02-25 08:41] ushuz commented on #48134
I suppose splitting into two modules means that if I want to do both mount and fstab modification in a row, then I have to write two tasks, with almost identical parameters? Also it would be a breaking change, which costs users time to migrate in the future. I don't think it worth the trouble just to save a few options in `mount` module.

@dagwieers `module_utils` can avoid dup in ansible's own co

[2019-02-25 08:45] Yajo commented on #43286
To prove this is actually a nasty bug, I just copied the example from [the docs](https://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html):

[code]

The results:

[code]

Using:

[code]

[2019-02-25 09:09] Akasurde commented on #51826
@hadfiiw You may want to follow [this document - How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) if you haven't this before.

[2019-02-25 09:11] Akasurde commented on #29287
Tracking via https://github.com/ansible/ansible/issues/33936

[2019-02-25 09:11] #29287 closed, assigned to nobody

[2019-02-25 09:13] #52637 closed, assigned to nobody

[2019-02-25 09:14] Akasurde commented on #52637
@imjoseangel Thanks for the contribution.

[2019-02-25 09:44] unkaputtbar112 opened #52916 "json_query doesn't work with numbers"
##### SUMMARY

json_query doesn't work with numbers.
According to that issue: https://github.com/ansible/ansible/issues/24445 where his mistake was to use the variablename instead of variablecontent, it seemed to work after he fixed it with the "port" which is a number/int and not a string.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

json_query

##### ANSIBLE VERSION

[code]

##### CONFI

[2019-02-25 09:50] sieben commented on #47212
@kristvanbesien Could we close this issue as @abarbare provided the `security_group` for the `scaleway_compute` module?

[2019-02-25 10:07] dagwieers commented on #14681
bot_status

[2019-02-25 10:10] sieben commented on #45740
@zwindler Does this PR fixes your issue: https://github.com/ansible/ansible/pull/51906 ?

[2019-02-25 10:13] Akasurde commented on #36915
@resyst-it Could you please check the new vmware_vm_inventory and let me know if it works for you ?
You can find the documentation of vmware_vm_inventory [here](https://docs.ansible.com/ansible/latest/vmware/vmware_inventory.html).

Thanks,

needs_info

[2019-02-25 10:21] Tomorrow9 commented on #45422
@akamez Hi, I submitted a PR for this issue, would you please have a try to see if it works in your env? Thanks.

[2019-02-25 10:45] Akasurde commented on #51123
@jsteel44 Could you please check https://github.com/ansible/ansible/pull/51368 works for you and let me know ? Thanks.

needs_info

[2019-02-25 10:47] Akasurde commented on #51124
resolved_by_pr https://github.com/ansible/ansible/pull/51368

[2019-02-25 10:47] Akasurde commented on #51123
resolved_by_pr https://github.com/ansible/ansible/pull/51368

[2019-02-25 11:08] dagwieers commented on #48134
@ushuz I am not in favor of splitting the module myself. I think you're misreading my comment.

[2019-02-25 11:09] ssbarnea commented on #52896
Thanks, your change did the trick, the new code does report a valid value for `ansible_memfree_mb` fact.

[2019-02-25 11:16] #52911 closed, assigned to ganeshrn

[2019-02-25 11:18] dagwieers commented on #14681
!component -lib/ansible/plugins/callback/osx_say.py
!component -lib/ansible/plugins/callback/grafana_annotations.py
!component -lib/ansible/plugins/callback/unixy.py
!component -lib/ansible/plugins/callback/stderr.py
!component -lib/ansible/plugins/callback/sumologic.py

[2019-02-25 11:22] dagwieers commented on #33655
bot_status

[2019-02-25 11:50] dagwieers commented on #33655
!component -lib/ansible/plugins/callback/grafana_annotations.py
!component -lib/ansible/plugins/callback/osx_say.py
!component -lib/ansible/plugins/callback/stderr.py
!component -lib/ansible/plugins/callback/sumologic.py
!component -lib/ansible/plugins/callback/unixy.py

[2019-02-25 11:51] pandaamanda opened #52918 "command scp hang sometimes"
##### SUMMARY

playbook like bellow

1. copy the calico images to 50 nodes
[code]
2. after execute other tasks，check the whether the images copy finished
[code]
the problem is scp command hangs sometimes。
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[root@node01:~]$ cat /etc/os-release
NAME="NewStart

[2019-02-25 11:55] Akasurde commented on #52916
@unkaputtbar112 You may want to enclose number in first query in ticks (`) like

[code]

[2019-02-25 12:15] mator commented on #52864
I believe we need to rework cpu facts for linux OS, i.e. call lscpu and grep/parse it, instead of manual parsing /proc/cpuinfo , and if lscpu is not found, fall back to old way of parsing.

I could probably try to make a PR for this, is it makes sense ?

[2019-02-25 12:30] pratikkava1189 opened #52919 "Debug failed bashoutput"
##### SUMMARY
Executing task using custom bash modules, however output is correct and ansible playbook runs, it shows failed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
debug

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Redhat Enterprise Linux v6

##### STEPS TO REPRODUCE
[code]
[code]
##### EXPECTED RESULTS
It should show as success output.

##### ACTU

[2019-02-25 12:32] hasso commented on #22352
That makes sense of course, but what doesn't make sense for me is that unknown Linux distributions with systemd will get an error from hostname module.

Look at line 110 – every Linux managed by systemd will use systemd strategy, which is OK, but for unknown Linux distributions managed by systemd this check will fail.

The problem is that the platform check will succeed only if there is subclass f

[2019-02-25 12:41] unkaputtbar112 commented on #52916
@Akasurde ahhh, alright, then it was my mistake, didn't thought about ` instead of ' would do the work.
Then it can be closed, my bad, sorry for the inconvenience and thanks a lot :) now I can find the free "slots" for adding via vmware_guest_disk

[2019-02-25 12:44] dagwieers commented on #52919
!component -lib/ansible/modules/utilities/logic/debug.py
!component -lib/ansible/plugins/action/debug.py

This is not related to the debug module. The debug module only reports.

[2019-02-25 12:50] pratikkava1189 commented on #52919
can we convert bash output to json format so that we can check using debug module?

[2019-02-25 12:51] unkaputtbar112 commented on #45280
@ckotte sorry for the late answer, i kinda forgot about that request, since i worked around it and got the info from another Database.
My request was just what it said, the Custom Attributes could be shown, so we can maybe handle on a condition.

e.g. i've a cluster stretched over multiple locations, i can enter the location in the custom attributes of and esx host and read it from there via vmwar

[2019-02-25 13:04] mator commented on #52875
can't reproduce with mentioned netrc and ansible version:

[code]

on both playbook runs.

[code]

[2019-02-25 13:06] dagwieers commented on #52919
@pratikkava1189 I do not understand the question. If you run your playbook using `-vv` you can see the JSON output.

[2019-02-25 13:28] pratikkava1189 commented on #52919
@dagwieers , built custom bash module. executing ansible playbook using custom module(bashshell), now want to see debug output, but it fails and doesn't show debug output.

i.e bashshell.bash
#!/bin/bash
source $1

echo sh $cuscom > stdout
if [ `echo $?` == "0" ]; then
   echo { \"changed\": true}
   exit 0
else
   echo { \"changed\": false}
   exit 0
fi

 - only debug output i can see
TASK [bash

[2019-02-25 13:33] dagwieers commented on #52919
Please quote your examples, or the output looks weird. You have a problem with your bash module.

This works fine for me. But you need to handle parsing the module parameters, etc.
[code]
This is not a support forum, so I am going to close this issue.
Please use the mailinglist or IRC for help.

[2019-02-25 13:33] #52919 closed, assigned to nobody

[2019-02-25 13:39] pratikkava1189 commented on #52919
@dagwieers , thank you for your help.

[2019-02-25 13:50] JockeW-DvL commented on #50913
I have now also tested this in Linux (Ubuntu 18.10) and i'm getting the same error with python 3.7.1 and ansible  2.7.8

[2019-02-25 14:01] mwalzer commented on #28058
Not only RHEL, debians too. :cry:

[code]

[2019-02-25 14:27] kichawa commented on #42417
+1

[2019-02-25 14:29] #44704 closed, assigned to nobody

[2019-02-25 14:55] sivel commented on #10499
@steaksauce- yes it is.  Thank you for calling this out.  In the 2.8 release of ansible you will be able to configure additional prompts for the `su` plugin, as well as create additional plugins to match any privilege escalation methods you may need.

More details about become plugins can be found at https://docs.ansible.com/ansible/devel/plugins/become.html

If you have further questions please s

[2019-02-25 14:55] #10499 closed, assigned to bcoca

[2019-02-25 15:01] justchris1 commented on #52188
I will say that somehow that the aws cli works fully (including cp and sync, aws-cli/1.16.106) on FIPS enabled machines.  We have been working around this by using the command module to instead perform this operations, which I know isn't very 'ansible'-like, but is the only thing that works.  Note that this workaround is very hacky as it involves setting custom stdout detection for changes.

Not s

[2019-02-25 15:12] userlerueda commented on #31640
The PR I had worked back then was not using SDK, so it is basically useless... I have not had the time to work on it again using openstacksdk, will try to get something done this week.

[2019-02-25 15:13] bgajjela commented on #52013
done

https://groups.google.com/forum/#!topic/ansible-project/wSna4gNJ6NI

[2019-02-25 15:20] mator commented on #52864
quickly patched/wrote https://github.com/mator/ansible/tree/lscpu (branch)

output is the following :
[code]

hostname | platform | linux OS
------------ | ------------- | -------------
redpanda | ppc64 | debian SID/unstable
x8dtu | x86_64 | fedora 29
gcc114 | ARM | ubuntu 14.04.5 LTS
nvg5120 | sparc64 | debian SID/unstable

gcc114  is ARM, though running older linux distribution (util-linux packa

[2019-02-25 15:23] dmkoster commented on #52188
I'm in the same boat, using the awscli and stdout.
The awscli doesn't perform comparisons. `cp` and `sync` both overwrite files on the remote server.

This issue comes from Ansible checking the md5 of the files, regardless of operation. If it's not a force overwrite, it then compares the local md5 with the remote md5.

I don't need all the aws_s3 functionality available in FIPS environments. I und

[2019-02-25 15:27] pffs opened #52926 "wait_for_connection fails with network devices"
##### SUMMARY

When using `network cli`, `wait_for_connection` fails to retry connections. It will either return OK if the persistent connection has not timed out, or it will immediately fail.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`wait_for_connection`
`network_cli`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Controller is running Ubuntu 18.

[2019-02-25 15:27] justchris1 commented on #52188
I will say however, that the aws cli can detect which files are changed on a FIPS machine.  I can run aws s3 sync on a large directory on a FIPS machine and have it only upload or download the changed files during a sync.  Our usecase is mostly download for aws s3, although we do some uploads as well.

[2019-02-25 15:32] sivel commented on #52898
Your indication of this still being a problem in ansible 2.7.8 seems incorrect.

The error is telling you that the file `/Users/Shared/Dropbox/__Andrew/Repositories/_devops` is marked as executable, but it cannot be executed.  If you remove the executable bit from that file, it should work as expected.

`chmod -x /Users/Shared/Dropbox/__Andrew/Repositories/_devops`

needs_info

[2019-02-25 15:37] sivel commented on #52871
Duplicate of https://github.com/ansible/ansible/issues/28770

[2019-02-25 15:37] #52871 closed, assigned to nobody

[2019-02-25 15:38] sivel commented on #52916
Closing per the above information.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-25 15:38] #52916 closed, assigned to nobody

[2019-02-25 15:39] anthraxn8b opened #52927 "win_scheduled_task: Howto create task that runs with username and pasword even if not logged in?"
##### SUMMARY
I want to create a task that is using a specified user and password and run every X minutes even if the user is NOT logged in.
Everything is working fine EXCEPT the "Run whether user is logged on or not". This is always set to "Run only when user is logged on".
I do not find it in the documentation and whatever I configure I am unable to automatically set it to "Run whether user is l

[2019-02-25 15:41] bcoca commented on #52910
actually, i would keep this (fix) the copy and remove from callbacks and strategy so there is only one spot that uses it

[2019-02-25 15:49] userlerueda commented on #31640
@emonty I don't see an "add_router_route" or similar method in openstacksdk latest. Do you know if this would require a PR in openstacksdk in order to do this ?

[2019-02-25 16:18] spike77453 commented on #52658
Turns out this is only an issue when PXE is eanbled for multiple NICs.

Unfortunately I don't know what the correct value for `bootdevice: <value>` would be in those cases.
- `PXE Device 1: Integrated NIC 1 Port 1 Partition 1` (which is the string from the working example above) and
- `NIC.Integrated.1-1-1` (which is taken from `/redfish/v1/Systems/System.Embedded.1/EthernetInterfaces`)

don't see

[2019-02-25 16:18] #52658 closed, assigned to nobody

[2019-02-25 16:29] samdoran commented on #52864
@mator I'm open to the idea of using `lscpu` but less so about using `grep`. I would just do the processing in Python rather than relying on two tools to be on the remote system.

I imagine the idea behind using `/proc/cpuinfo` is that it is always available while `lscpu` is not (It's missing on Alpine and probably other BusyBox installations, for example).

Since we have to always be able to pars

[2019-02-25 16:31] sivel commented on #52868
I cannot seem to duplicate this issue.  I've tried on Ubuntu 16.04, Ubuntu 14.04, and CentOS 7.

I installed all deps via the package manager, but used a git clone for Ansible to easily switch versions.

I will note however that on python3, the regex fails due to a traceback, and I needed to update the task to:

[code]

You have many different factors involved here.  It doesn't appear to be an app

[2019-02-25 16:35] sivel commented on #52875
Your `netrc` appears to be invalid.  Looking at documentation for `netrc` I do not see a `username` token.  The proper token would instead be called `login`.  See https://www.gnu.org/software/inetutils/manual/html_node/The-_002enetrc-file.html

Changing `username` to `login` resolves the issue for me.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc

[2019-02-25 16:35] #52875 closed, assigned to nobody

[2019-02-25 16:37] fl0gu opened #52933 "ce_interface fails if interface already exists."
##### SUMMARY
ce_interface module, used to create a l2 sub interface, ends on a fail if the interface already exists. It should return a OK as we are just requesting the interface to be in `state: present`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ce_interface module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian Stretch 9.8

##### STEPS TO

[2019-02-25 16:38] sivel commented on #52860
This should be fixed in devel and the upcoming 2.8 release: https://github.com/ansible/ansible/pull/48306

Can you verify this?

needs_info

[2019-02-25 16:41] abensch opened #52934 "VMware: vmware_cluster field name 'datacenter_name' deviates from convention enforced by other vmware modules"
##### SUMMARY
The field name 'datacenter_name' used by the vmware_cluster module does not match the name used by other modules for a similar field titled 'datacenter'. This doesn't break any functionality, but is confusing syntactically.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.6

##### STEPS TO

[2019-02-25 16:47] bcoca commented on #43286
I need more info to reproduce, using the same example it works fine for me:
[code]
needs_info

[2019-02-25 16:52] MarianoRubio opened #52935 "restricted key"
##### SUMMARY
Custom callback plugging gets variables removed as per.
https://github.com/ansible/ansible/blame/9773a1f2896a914d237cb9926e3b5cdc0f004d1a/lib/ansible/vars/clean.py

clean magic variables policy, need a way to skip the ones i'm setting ex: exclude ansible_ssh_pass

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

https://github.com/ansible/ansible/blame/9773a1f2896a914d237cb9926e3

[2019-02-25 16:55] #51533 closed, assigned to nobody

[2019-02-25 16:58] Akasurde commented on #42221
@Im0 Could you please check PR #52936 works for you ? Thanks.

needs_info

[2019-02-25 16:59] Akasurde commented on #42221
resolved_by_pr #52936

[2019-02-25 17:01] rgm3 commented on #35606
Actually, it looks like this is done in Ansible 2.7.0 with commit 6d95624c22d1c275974db1e7c94dcc171dc1457e as part of #43621.

[2019-02-25 17:08] max-wittig commented on #43286
@bcoca How many hosts are you using? It starts to happen, if you have more than 1.

[2019-02-25 17:10] AHassanSOS commented on #51663
I just got the same error. I tried to install Ansible remotely and got that error.

[2019-02-25 17:13] #52526 closed, assigned to Akasurde

[2019-02-25 17:16] fl0gu opened #52937 "Huawei CloudEngine modules broken in 2.7.X"
##### SUMMARY

A lot of CloudEngine modules seems completly borken in ansible 2.7.X. This issue only talks about `ce_vxlan_global` module, but `ce_vxlan_tunnel`, `ce_evpn_bd_vni`, `ce_interface`, `ce_vxlan_vap` etc are also broken.
It **might** be linked to https://github.com/ansible/ansible/pull/41357

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ce_ modules not working in ansible 2.7.X

[2019-02-25 17:27] bcoca commented on #43286
@max-wittig can you give full reproducer? example above uses `hosts: localhost` .. doesn't really  matter how many hosts i have in inventory

[2019-02-25 17:33] bcoca commented on #43286
ran multiple hosts:
[code]

[2019-02-25 17:41] iam0ky opened #52938 "Ansible plugin in rundeck fails to update the nodes"
##### SUMMARY
Ansible plugin in rundeck fails to update the nodes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible plugin for rundeck

##### OS / ENVIRONMENT
MAC OS

##### STEPS TO REPRODUCE

###ERROR

"ansible-playbook" (in directory "/var/folders/lp/8tysddbx6t98fyk2znq5wg5c0000gn/T/ansible-hosts6517972527244697441"): error=2, No such file or directory
	at java.lang.ProcessBuilder.st

[2019-02-25 17:44] alikins commented on #52864
@samdoran I can't say I wrote it, though did move/refactor it enough to make git think so.[1]

I would agree that lscpu is almost always going to give a more accurate result that the existing ansible code. And it makes sense to prefer the lscpu info. Though, as @mator mentioned, old versions of lscpu on aarch64 is a good example of when it can be wrong, but that is relatively rare.

[1] At least b

[2019-02-25 17:57] Akasurde commented on #45280
@unkaputtbar112 There is a PR https://github.com/ansible/ansible/pull/45773 for `vmware_vm_facts` which populates custom attributes. We can implement something similar for vmware_host_config_facts and vmware_guest_facts. Let me know if it is OK.

Thanks.

needs_info

[2019-02-25 17:58] andrewvaughan commented on #52898
@sivel `_devops` is the root folder of the project.  It is still an issue because the vault system is taking an empty list and thinking the root folder is a vault file for some reason, instead of an empty list, as anticipated.

[2019-02-25 18:02] bcoca commented on #32247
@aventrax there is only ONE old_servers group, that happens to have 2 parents.

Your logic is based on the groups being defined BY their parents, not that the parent/child relationship is just another attribute for the group, which is defined uniquely by name.

Since both north and south have 'old_servers' as a child, ALL hosts defined under old_servers (no matter when defined) are then part of bo

[2019-02-25 18:04] kaikuchn commented on #19880
I had the same issue, using python 2.7 and docker-py 1.9.0. Manually updating docker-py to 1.10.6 on the target machine solved the issue for pulling images.
How can I make ansible use docker-py 1.10.6 on alle target machines?

[2019-02-25 18:12] s-hertel opened #52940 "unstable redshift integration tests"
##### SUMMARY
Tests failing irregularly on unrelated PR
https://app.shippable.com/github/ansible/ansible/runs/110082/81/tests
[code]

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
test/integration/targets/redshift

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-02-25 18:18] sivel commented on #52898
FWIW, this extends beyond vault.  We don't support simply blanking out any env vars.  It may happen to work in some instances, but isn't a feature we have worked toward supporting.

The best would be to `unset ANSIBLE_VAULT_IDENTITY_LIST` instead of blanking it.

To support blanking it out would be complicated, as that could mean set to this blank value, or in your case you want to set to the defa

[2019-02-25 18:19] sivel commented on #52938
Thank you for your interest in Ansible.  However, we do not support the Ansible plugin for rundeck.

Please open an issue with rundeck.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-02-25 18:19] #52938 closed, assigned to nobody

[2019-02-25 18:40] andrewvaughan commented on #52898
@sivel I'm a bit confused - how would you go about clearing a list of vaults set in `ansible.cfg` then?  By unsetting the environment variable, wouldn't it just default to that setting?

[2019-02-25 18:41] rambleraptor commented on #41587
close_me

[2019-02-25 18:43] ichekaldin opened #52942 "iam_role is unable to add description to an IAM role that was not created by Ansible"
##### SUMMARY

iam_role module fails to add Description to an existing IAM role that was previously created by AWS CLI or CloudFormation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

iam_role module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Suppose an IAM role has been created by either AWS CLI script or CloudFormat

[2019-02-25 18:46] rambleraptor commented on #36703
Hello! We've since deprecated the gce.py module and encouraging everyone to use the `gcp_compute_instance` module. It has a better feature parity with the GCP APIs and a lot more flexibility.

You should be able to use the `disks[].mode` parameter to specify if the disk is read-only or read-write. As for disk formatting, that's is done through Linux and not through GCP.

[2019-02-25 18:46] ichekaldin commented on #52942
I was able to trace this to line 341 in iam_role.py:

[code]

As far as I can tell, if an IAM role has been created without any description, `role` variable will not have 'Description' attribute.

I think this can be fixed by modifying line 341 as follows:

[code]

[2019-02-25 18:50] rambleraptor commented on #36312
Hello! Thanks for the feature suggestion. The `gcp_compute_instance` module has support for managing metadata.

While I can understand the desire to have a module that manages just metadata, it seems like that philosophy can lead to an endless number of GCP modules built into Ansible.

If you think this is a worthwhile module, I'd encourage you to ship it with Galaxy!

[2019-02-25 18:51] rambleraptor commented on #34580
Hello! The `gce` module has been deprecated in favor of `gcp_compute_instance`. The new module returns the entirety of the instance's information from the API on every run.

[2019-02-25 18:51] rambleraptor commented on #34580
close_it

[2019-02-25 18:53] rambleraptor commented on #34371
Hello! We've been encouraging users to migrate from the `gce` module to the `gcp_compute_instance` module. The new module has a lot more flexibility over networking using the `network_interfaces` features. Between that module and the new `gcp_compute_network` and `gcp_compute_subnetwork` modules, this issue should be fixed.

[2019-02-25 18:55] rambleraptor commented on #34296
Hello! We're encouraging everyone to move from the `gce` module to the `gcp_compute_instance` module

[2019-02-25 18:57] rambleraptor commented on #33923
Hello! I'm not entirely sure that the GCP API supports non-Ascii characters in image names.

Regardless, we're encouraging people to start using the `gcp_compute_instance` and `gcp_compute_image` modules. In this case, they should provide a much-easier-to-read error from the GCP API rather than a Python stacktrace.

[2019-02-25 18:57] rambleraptor commented on #33843
Hello! We're encouraging everyone to start using the `gcp_compute_instance` module. The `network_interfaces` parameter allows you to configure multiple network interfaces.

[2019-02-25 18:58] rambleraptor commented on #33843
close_it

[2019-02-25 19:06] s-hertel commented on #43029
If you're dealing with this issue, please try out my patch at #52943 and give it a shipit.

[2019-02-25 19:26] #41587 closed, assigned to nobody

[2019-02-25 19:36] kdelee commented on #52244
An alternative proposed is to emit the JSON and only the JSON to a file,
or @bcoca suggested sending any verbosity to `stderr`

[2019-02-25 19:38] kdelee commented on #52244
@bcoca if you can link to your branch I can try it out with @AlanCoding

[2019-02-25 19:42] jctanner commented on #51864
@yungezz any updates?

[2019-02-25 19:50] kdelee commented on #52358
FWIW discussion on AWX side has led to us thinking these variables are not used or important, so not a high priority for us.

[2019-02-25 19:51] sivel commented on #52898
It's not as simple as you expect.  Environment variables, while they do have a higher precedence than those from the ansible.cfg file, cannot really "unset" a value.  You can override, but not necessarily cause ansible to revert to the default.

What is happening, is that `DEFAULT_VAULT_IDENTITY_LIST` is a list, and defaults to `[]`.  Environment variables can only set strings, and when setting `A

[2019-02-25 19:58] userlerueda commented on #31640
I have been working on this, I have observed the following, would like to get feedback.

Assuming that the syntax to use in tasks is something like this:
[code]
1) Should we delete all other routes and apply this new one? Or should it be in addition to the ones that the router already has. In my opinion it should be delete and apply, but it can be dangerous.
2) Should we have another parameter for

[2019-02-25 19:58] samdoran commented on #52864
@alikins Thank you for the info. I was mainly wondering on the difference between `lscpu` and parsing `/proc/cpuinfo` directly as accurate sources of information. Seems we should definitely leverage `lscpu`.

@mator Feel free to move forward with a PR to change to `lscpu` by default. Please add unit tests, though, since we are lacking those currently.

[2019-02-25 20:09] AlanCoding commented on #52358
Yes, it looks like we might be documenting the absence of these variables instead of attempting to re-create them. @tvo318 I have started on some docs at:

https://github.com/ansible/awx/pull/3266/files

A lot more content will be coming that way, as issues such as this one gets triaged.

[2019-02-25 20:58] #52707 closed, assigned to nobody

[2019-02-25 21:11] andrewvaughan commented on #52898
The way I handled it was to create a `test@LICENSE` vault for now that is a fake vault with my `LICENSE` file as the password.  Super hacky but it's all I have at the moment.

Would it not be possible to simply prune the list of all empty strings after split to prevent this (and other empty strings) from occurring using a filter?  This would be a relatively fast way to solve this issue:

[code]

[2019-02-25 21:31] alainvanhoof commented on #29674
Sorry, I have no longer acces to a vmware environment.

[2019-02-25 21:40] kdelee commented on #49830
@tchellomello hey just saw this, will get back to you

[2019-02-25 21:42] bcoca commented on #52290
it is not a lookup issue, this is due to variables being 'lazy loaded' so they get reevaluated every time, to avoid reevaluation use `set_fact`.

[2019-02-25 21:43] jpmontez commented on #29973
Still affected by this on the `devel` branch.

[2019-02-25 21:43] hadfiiw commented on #51826
@Akasurde Thanks.  I gave it a try but I can't even run my playbook now.  I'm still looking into it but it may be because my testing machine is a Mac and I have installed Python/ansible in my user directory (as Mac already comes with Python that should not be messed with).

[2019-02-25 21:55] memotype commented on #41609
Better than nothing I guess...

[2019-02-25 22:45] userlerueda commented on #46187
@ckoester2 is `injected_file_content_bytes` the same as `injected_file_size`? I am trying to figure out if we need to do an alias or just add the new options.

[2019-02-25 23:45] gertvdijk commented on #52290
Thanks for your suggestion, but due to my needs of having an on-disk fact cache, I guess this is not suitable for 'accidentally' caching sudo passwords in plaintext.

(The `ansible-cached-lookup` extension does what I need, for now, but an in-memory capability as described with the above linked issue would definitely improve things.)

[2019-02-25 23:46] stemid opened #52959 "User module does not allow empty list of names"
##### SUMMARY
Same issue as #38785 but with user module. Get useradd error saying "invalid username []" so the empty list value is passed straight onto useradd.

Can workaround by adding when: list | length for example.

Also works using with_items but shows deprecation warning.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[c

[2019-02-26 00:40] salapat11 commented on #16874
@ElCoyote27 - how did you get the copy working on Veritas file system?  Did you have to update any settings?

[2019-02-26 01:05] davidmnoriega commented on #35493
Adding a note for future visitors, make sure you use debug with msg and not var.

[2019-02-26 01:12] jlbribeiro commented on #49395
@felixfontein I also stumbled into this issue because I interpreted "on the host that executes this module" as the "host executing the playbook", as @bradwood apparently did (after having tried multiple local `pip install docker`/`docker-py` combos).

Even though the reason for the wording makes perfect sense (given what an "Ansible module" is) I don't think it's _unambiguously_ clear, as a possib

[2019-02-26 02:02] ElCoyote27 commented on #16874
@salapat11 In RHEL 7.6, there are some updated SELinux policies that make this possible. Thus, any el7.6 system should automatically have those policies (probably centos7.6 too but I didn't check that).

[2019-02-26 02:05] agaffney commented on #47353
This should be fixed in #52908

[2019-02-26 02:05] #47353 closed, assigned to nobody

[2019-02-26 02:15] Tomorrow9 commented on #42666
@ansibleuser, Hi, do you submit your PR for this? Thanks.

[2019-02-26 02:45] bcoca commented on #52290
set_fact (is really a misnomer) does not store things in the fact cache by default, you need to use cacheable=yes to force that behaviour

[2019-02-26 02:47] bcoca commented on #52959
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

`name` is a REQUIRED field, and an empty list is not a valid name.

In the future, this might be a topic more well suited for the user

[2019-02-26 02:47] #52959 closed, assigned to nobody

[2019-02-26 02:56] organman91 commented on #27745
We've been using a hack (?) for a similar problem where we have multiple instances of the same role. Since the handlers need to be called for each instance of the role, rather than once for all instances, we've been using handlers with a variable in the name:

[code]

In the above example app@ is a custom systemd template.

[2019-02-26 03:26] yuwzho commented on #42407
@T1loc Sorry about that. The inboud_nat_rules is a missing parameter in the azure_rm_loadbalancer module. I  have created a PR to add this option.

[2019-02-26 03:26] jamescassell opened #52967 "Deprecate DISPLAY_SKIPPED_HOSTS in favor of ANSIBLE_ prefix"
##### SUMMARY

Most (all?) environment variables that configure ansible are prefixed with `ANSIBLE_` which makes it easy to search for these, and unset them as the case requires.  A notable exception is `DISPLAY_SKIPPED_HOSTS` which has been around forever but has not seen much use until recently due to the `actionable` and `skippy` stdout_callback plugins being available to implement the function

[2019-02-26 05:05] Akasurde commented on #52934
!component =lib/ansible/modules/cloud/vmware/vmware_cluster.py

[2019-02-26 05:20] abedwardsw commented on #29928
@Akasurde maybe at some point, but right now a little too busy with other activities.   It would also be good to have feedback from the author on the proposal above first to ensure the commit is accepted.

[2019-02-26 05:46] RedWhiteMiko commented on #52713
I agree that it shouldn't delete hosts and should only remove it from the list instead.

Although, when duplicate hosts occurred, you can't modify it since it will result in something like `Hostname already exists`.

[2019-02-26 06:02] ganeshrn commented on #50492
@IPvSean What is the value of `network_banner` variable in the playbook? I can't see the variable defined in that playbook link that you shared. Also, I am not able to reproduce the issue if the value of `text` options a plain text.

needs_info

[2019-02-26 06:07] Akasurde commented on #52934
@abensch Thanks for reporting this issue. This is already been addressed by https://github.com/ansible/ansible/pull/37072

[2019-02-26 06:25] jborean93 commented on #52561
The commit in #52829 has been reverted with https://github.com/ansible/ansible/pull/52968. Reopening this issue.

[2019-02-26 06:42] ganeshrn commented on #50905
@codyjohn Thanks for the information. Can you please retry with devel.
Refer: https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#common-environment-setup

Also while on devel branch please enable persistent_log_messages configuration variable (feature added in devel branch and will be availabe in 2.8) which logs all the device interactions in a log file pointed by `l

[2019-02-26 06:55] mdavis-xyz opened #52971 "unarchive support for .tar.gz with gtar is unclear"
##### SUMMARY

I'm trying to use `unarchive` to download and extract [this file](http://trex-tgn.cisco.com/trex/release/v2.09.tar.gz), which is a `.tar.gz` archive.
The documentation states that this is possible, but the dependencies are unclear.

To do this manually, using the tools already installed on my target, I can use

[code]

So it *should* be possible without installing any other tool.

T

[2019-02-26 07:09] justjais commented on #51402
@badnetmask Thanks for logging the feature request issue but going forward Ansible in `2.9` timeframe is planning to use `httpapi` connection plugin instead of currently used `localhost` connection while connecting to NIOS instances.
So, I would suggest not to modify the Ansible connector object as of now, coz it shall be modified to use `httpapi` connection which shall, in turn, solve the issue o

[2019-02-26 07:11] justjais commented on #51162
cc @sganesh-infoblox @s-giri

[2019-02-26 07:12] justjais commented on #50091
PR for the support is merged and queued for `2.8` release.

[2019-02-26 07:12] #50091 closed, assigned to justjais

[2019-02-26 07:15] justjais commented on #44780
cc @sganesh-infoblox @s-giri

[2019-02-26 07:24] Fred-sun commented on #51751
@yungezz

[2019-02-26 07:36] gertvdijk commented on #52290
Oh, wow. Thanks for the pointing that out. Might simplify things a lot for me.

[2019-02-26 07:41] unkaputtbar112 commented on #45280
@Akasurde that would be great. For vmware_guest_facts (I don't know if it changed in the meantime) it would be good, if it would return the cluster, that the VM is in.

[2019-02-26 07:42] felixfontein opened #52977 "Module documentation: make it clearer that requirements need to be installed on the remote host"
##### SUMMARY
It has come up more than once that people were confused whether requirements for a module have to be installed on the host where ansible runs, or on the host where ansible operates on (i.e. the remote host, where the module code is actually executed). Examples: see [here](https://github.com/ansible/ansible/issues/49395#issuecomment-458205884) and below.

I don't think this is a docke

[2019-02-26 07:43] felixfontein commented on #49395
@jlbribeiro thanks for your feedback! As I've said above, this is not a docker_* problem, but a general Ansible problem. I've created a general docs issue for this: #52977

If you have a concrete idea on how to improve the wording in the template, feel free to comment on the new issue (or even create a PR for it).

[2019-02-26 07:59] yungezz commented on #51944
duplicate_51864

[2019-02-26 08:00] Andersson007 commented on #50877
we are waiting for your feedback here https://github.com/ansible/ansible/pull/51073

[2019-02-26 08:15] szhem commented on #15350
@dagwieers I'm also interested in this ticket to be resolved.
What I'm doing is just provisioning some servers under the root user and then at the end of play disabling it and creating another user (that is pretty common scenario, I believe)
To make play idempotent I use `wait_for_connection` to check whether the root is able to login to the server.
Unfortunately as already mentioned in this ticke

[2019-02-26 08:18] Andersson007 commented on #44978
@balonik
Seems the problem is in your pg_hba.conf.
[code]
Please, fix it and try again.
I'll be waiting for your feedback

[2019-02-26 08:21] Andersson007 commented on #44485
@AlexTaran Hello, thanks for this issue.
Could you take the full output of your playbook run with -vvvv ?

[2019-02-26 08:33] Andersson007 commented on #40060
waiting for fixes here https://github.com/ansible/ansible/pull/40345

[2019-02-26 08:39] #43896 closed, assigned to nobody

[2019-02-26 09:11] Fred-sun commented on #46659
@yungezz Could we can close this? since no determined plan on when to support Azure stack. will reopen this issue when determined work on the Azure stack. Thanks!

[2019-02-26 09:29] LozanoMatheus opened #52979 "EC2 module - delete_on_termination not deleting the root device."
##### SUMMARY
When you delete an EC2 with more than one EBS, it not delete all of them. Just delete the root device.

I'm using the parameter `delete_on_termination: True`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Output from `ansible-config dump --only-changed`
[code]

##### OS / ENVIRONMENT

Docker image that the ansible wa

[2019-02-26 09:49] Jiehong commented on #17908
I seem to face the same issue on suse linux here.

[2019-02-26 10:06] Andersson007 commented on #39657
@LostInTheWoods Hello, thank you for this report.
However, I think, this is not about the postgresql_user module, this is about psycopg2.__version__ (but it's not psycopg2 bug)
[code]
if I do the following command locally (centos 7.5), of course, it returns the version number:
[code]
Otherwise, all of PostgreSQL modules fail because this line exists in all of them and it works correctly.
Shortly,

[2019-02-26 10:18] ganeshrn commented on #44864
@dselders Thanks for sharing the additional information. The python script uses ncclient [commad()](https://github.com/ncclient/ncclient/blob/master/ncclient/operations/third_party/juniper/rpc.py#L48) api which is giving complete response.

However Ansible used ncclient [rpc()](https://github.com/ncclient/ncclient/blob/master/ncclient/operations/rpc.py#L259) api to execute `show` commad on junos d

[2019-02-26 10:29] trishnaguha commented on #52817
@nomad-cyanide can you please try this on devel branch and let us know whether the issue persists there or not?

To test on devel branch:
[code]
The output of the last command should point to `<present-working-directory-path>/bin/ansible`
`ansible --version` command should return `ansible 2.8.0.dev0`
Please note that devel version is for **development/testing purpose only**.

This enables the ansi

[2019-02-26 10:34] dagwieers commented on #21208
bot_status

[2019-02-26 10:35] dagwieers commented on #21208
@bmalynovytch The component still points to `mysql_user`, where it ought to point to `service`.

[2019-02-26 10:37] dagwieers commented on #21208
!component -lib/ansible/modules/database/mysql/mysql_user.py

[2019-02-26 10:44] mator commented on #52864
@samdoran

can you please help me with unit test(s)? I just don't completely understand _what is_ a unit test.

Is the unit test (placed somewhere under ansible/test/units/ ) for cpuinfo or/and/vs lscpu will be a text file (copies of lscpu output from a few machines) parsed with sample python code as like in (future) PR ?!
Or i need to mock get_cpu_facts() somehow?!

Thanks.

PS: started to read a

[2019-02-26 10:55] trishnaguha commented on #52206
@Kloperations Are you using `connection: local`?

[2019-02-26 11:00] #52639 closed, assigned to nobody

[2019-02-26 11:19] cedlerouge commented on #36915
@Akasurde, I checked the new vmware_vm_inventory, this works great, i can have a list of hosts by tag.
In my case, i have had to comment "'customValue'," from vm_properties list (l.373) because one of my custom value was not JSON serializable

[code]

And the error is :
[code]
Thanks

[2019-02-26 11:39] #39689 closed, assigned to nobody

[2019-02-26 11:43] guettli opened #52983 "Link to particular paramter is not possible"
##### SUMMARY

Creating links to particular parameters is not possible at the moment.

Example: I would like to link to "recurse" on this page: https://docs.ansible.com/ansible/latest/modules/file_module.html

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

This is a general issue. This is not only about the "file" module. This should be possible for all parameters of all modules.

[2019-02-26 11:44] osnwt commented on #45740
No, that is another issue with Scaleway API, adding a new feature of API not supported by this module.

I think, the problem with this is that scaleway_compute module to remove a server:
- checks if server is running
- if yes, it stops it (using API call 1)
- then deletes it (using API call 2)

If you use option 'wait', it waits for call 1 to complete, then successfully deletes stopped server.
If

[2019-02-26 11:47] Tomorrow9 commented on #35657
I'll take a look at this requirement, if it can be implemented in the new module #52075 vmware_guest_network, then will add this option to it. Thanks.

[2019-02-26 11:52] LostInTheWoods commented on #39657
@Andersson007 As I mentioned [last May](https://github.com/ansible/ansible/issues/39657#issuecomment-389091770) I tried running the Ansible module directly and I still received the error, so I am not sure it is (or was) a Tower bug.

[2019-02-26 11:54] Akasurde commented on #36915
@cedlerouge Thanks for testing this patch. Can you confirm that you have these lines in your inventory plugin - https://github.com/ansible/ansible/pull/52642/files#diff-465c9d3752d0d6773e333dfccff40f64R479 ?

I am planning to make VM properties configurable.

[2019-02-26 11:57] osnwt commented on #45740
If using #51906 code to add a `terminate` option, you have 2 ways to destroy a server, but neither one works reliably for all server states:

- using default mode (without `terminate` option), it works if server was `stopped`, but keeps server volumes (and customer pays for them)
- using default mode (without `terminate` options), it fails if server was `running`, and no `wait` option used. Note a

[2019-02-26 12:09] Tomorrow9 commented on #38953
Hi @SaranrajMG, could you please try this new module to do network adapter management in this PR #52075? BTW, the type of existing network adapter can not be changed, you can remove the existing one and add a new one with the type required. Thanks.

[2019-02-26 12:18] bmalynovytch commented on #21208
@promethe42 could you give us the full path of the `service` command in your container, as well as the image you use ?

needs_info

[2019-02-26 12:19] bmalynovytch commented on #21208
Could you also provide the verbose output of the `service` module ?
Is it failing ? Is it "changed" or "skipped" or even "ok" ?

[2019-02-26 12:43] Andersson007 commented on #39657
Maybe, regarding that @Akasurde said, it's something related to your environment.
Have you tried to reproduce this on another server (clear CentOS 7.4 installation) with the same Ansible version?

[2019-02-26 12:47] Andersson007 commented on #40424
@nbw74 hello! Thank you for this feedback.
I tried to execute this module that caused pg_dump error (do it in root directory by postgres user) and I caught the errors so, in this particular case, the module failed as expected.

I found this code in version 2.5 and above.
[code]
As we can see, it handles exceptions. I checked it manually - it runs this code (after if rc != 0) when pg_dump returnes

[2019-02-26 12:51] Andersson007 commented on #40424
@nbw74 see presented PR, please. If you're satisfied this solution, approve it please.

[2019-02-26 13:26] madumalt commented on #47529
will this get fixed in a foreseeable future?

[2019-02-26 13:28] salapat11 commented on #16874
Thanks @ElCoyote27

[2019-02-26 14:08] cailen commented on #44827
Pretty sure this issue can be closed.

[2019-02-26 14:08] #44827 closed, assigned to nobody

[2019-02-26 14:10] ofirshtrull commented on #44339
any update regarding this ticket?

[2019-02-26 14:31] cedlerouge commented on #36915
@Akasurde, you're right. It was my fault i hadn't the last version of the plugin. With the version you point to me, i have no error.

[2019-02-26 14:36] er1csg commented on #34378
Same here. Masked IP xxx.xxx.xxx.xxx
1) Using Python 2.7 in RHEL7
2) Executed powershell script in windows machine ConfigureRemotingForAnsible.ps1
3) Configured yml file to the below:
------------------------------------
- name: hit windows test instance
  hosts: "tag_class_windows_{{ env }}_{{ ec2_class }}"
  vars:
    ansible_user: Administrator
    ansible_password: {{ password }}
    ansible_p

[2019-02-26 14:43] ghost opened #52991 "Ansible unable to winrm to Windows Server 2012"
##### SUMMARY
1. Using Python 2.7 in RHEL7
2. Executed powershell script in windows machine ConfigureRemotingForAnsible.ps1
3. Configured yml file to the below:

* name: hit windows test instance
  hosts: "tag_class_windows_{{ env }}_{{ ec2_class }}"
  vars:
  ansible_user: Administrator
  ansible_password: {{ password }}
  ansible_port: 5986
  ansible_connection: winrm
  ansible_winrm_server_cert

[2019-02-26 14:49] stemid commented on #52959
@bcoca Sorry for the confusion but using the old with_items method it was possible to iterate over an empty list 0 times with any module. Also using the new loop method with other modules such as yum works with empty lists. That's why I assumed this would be a bug in the user module.
This for example works with ansible 2.7;
[code]

[2019-02-26 14:52] bcoca commented on #52959
@stemid that has nothing to do with the module, empty with_items will never get to the point of the module getting options. The module has always required a name, if you want to use it this way, you NEED either a `when: yum_packages|length` condition or a `|default`.

There is nothing that requires modules to work over their inputs like the Ansible looping mechanisms do.

[2019-02-26 14:59] jswart commented on #34296
Thank you for the heads up. Currently, this script is not used in
production.

Looking forward to seeing what the new module offers though! I found it
difficult to setup the first time.

On Mon, Feb 25, 2019 at 1:56 PM Alex Stephen <notifications@github.com>
wrote:

[2019-02-26 14:59] sivel commented on #52991
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-02-26 14:59] #52991 closed, assigned to nobody

[2019-02-26 15:04] sivel commented on #52977
As a related note, we now have a new function that attempts to give this additional context when reporting missing libraries:

[code]

[2019-02-26 15:16] zwindler commented on #45740
I could have lived with systematically adding the 'wait' option, but the fact that the modules remain is a bit annoying.

My idea was to give people an example of creating VMs with scaleway and an ansible playbook, and then giving them another playbook to cleanup the mess when they are finished. Leaving volumes behind goes against this objective.

Still, it's better than nothing (at least now, it

[2019-02-26 15:47] osnwt commented on #45740
Using `wait`, it does not crash. It just gave you error for the reason. It is a module fault due to bad API. But remember, that sometimes the Scaleway API can create or destroy servers for 10 minutes (I experienced such cases). In that case the API returns another error 'server transitioning took too long time' or like that. There is no workaround, it's API.

Here is my use case:
- I create new se

[2019-02-26 15:50] vmindru opened #52995 "can not overwrite dictionary key with extra vars."
##### SUMMARY
give following var setup in a playbook/role

[code]
it is currently imposible to overwrite single key of a subkey without nuking the whole dictionary ...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
[code]
##### STEPS TO REPRODUCE

create a test playbook

[code]

run ansilbe-playbook against playbook overwriting a

[2019-02-26 15:54] osnwt commented on #45740
Addition: I did not try, but using my patch it should `terminate` running servers even without `wait` because it uses just one API call instead of two. Server stopping is handled automatically by the API.

[2019-02-26 16:04] bcoca commented on #47529
fixed in PR above

[2019-02-26 16:06] vmindru commented on #52995
similar issue have been reported under #11812  and  #42927

[2019-02-26 16:08] sivel commented on #52717
@dagwieers I've been slowly working on some ssl fixes that you can see at https://github.com/ansible/ansible/pull/52855

Within a single module execution, the ca cert bundle isn't recreated, it's built and cached, and removed at the end of module execution.  So any module that performs many `open_url` or `Request.open` calls will see improved performance on subsequent calls.

[2019-02-26 16:13] vmindru commented on #52995
the only way to go around this issue now is like bellow, but this is defo not nice and defeats the initial motivation to have configs structured under a dict.

[code]

[2019-02-26 16:18] sivel commented on #52995
The default behavior is configured to `replace`.  However this can be [configured](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-hash-behaviour) by setting the value to `merge`

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-pr

[2019-02-26 16:18] #52995 closed, assigned to nobody

[2019-02-26 16:22] uritau commented on #51864
Hello,
for us the main problem was that the plugin doesn't return any information from the nics.
In our specific case we "hotfixed" the problem applying this patch:

**DISCLAIMER: I haven't checked all the implications of this change, (or the possible side effects of it), but maybe @yungezz or someone else find it helpful to solve the issue.**

[code]

[2019-02-26 16:26] sivel commented on #52971
`gtar` is the specific binary name for "gnu-tar".  On Ubuntu 18.04 `/bin/tar` is GNU tar and can be verified using `/bin/tar --version`

On a default Ubuntu 18.04 host, your task works without issue for me.

[2019-02-26 16:31] kbreit commented on #52717
@sivel Would this also apply to `fetch_url` calls, since I believe that uses `open_url`?

[2019-02-26 16:33] sivel commented on #52717
@kbreit yes, if you were to call `fetch_url` many times in a single module invocation you would still benefit, as the underlying functionality is actually provided by `Request.open`.

[2019-02-26 16:35] samccann opened #52997 "Simplify platform options table in Networking guide"
##### SUMMARY

Simplify the platform options table at https://docs.ansible.com/ansible/devel/network/user_guide/platform_index.html  in preparation for new connections options, such as grpc.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMATION

Related to PR